[2021-03-12 12:31] rmothukuru commented on #25780
@fredo994,
A **Note**, as shown below, has been added in the [Documentation of Dense Layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense):

Can you please confirm if we can close this issue, as it has been resolved? Thanks!

[2021-03-12 12:33] amahendrakar commented on #47742
@rrklearn2020,
Please take a look at [this guide](https://www.tensorflow.org/guide/migrate) to migrate your code from TensorFlow 1.x to 2.x and check if it helps. Thanks!

[2021-03-12 12:49] amahendrakar commented on #47752
@ajinkyaambatwar,
TensorFlow pip packages require Ubuntu 16.04 or later (64-bit). For more information, please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and [tested build configurations](https://www.tensorflow.org/install/source#gpu).

Could you please update Ubuntu and let us know if you are still facing the same issue. Thanks!

[2021-03-12 12:51] amahendrakar commented on #47756
@aliceruget,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-03-12 12:58] goern commented on #41179
@fridex @sub-mod @harshad16

[2021-03-12 13:07] Saduf2019 commented on #47716
@zerollzeng
Without a reproducible code snippet it would be difficult for us to debug the issue

In this case, could you please provide a dummy code to reproduce the issue reported here, or create a colab gist and share.

You may also refer to this link as per the error and let us know: [link](https://stackoverflow.com/questions/37654024/python-traceback-keyerror-using-beautifulsoup)

[2021-03-12 13:16] mdanatg commented on #46533
There are a few ways to index a static list based on a Tensor value, but there are caveats you should know first, especially if the list may contain different custom objects.

The 100% proof solution is to use a [tf.py_function](https://www.tensorflow.org/api_docs/python/tf/py_function) - pass the index as argument, and close over the list, and then return any tensors you need to extract from the

[2021-03-12 13:18] cecabert commented on #41009
Run into similar issue trying to access intermediate layers in #46605, apparently you can't do it with subclassed model. Which is weird since it is just accessing subpart of the computational graph (build with submodel / functional api).

[2021-03-12 13:19] kiflowb777 commented on #47309
I tried the sample code with Python 3.7 and 3.8. On each of them I'm able to reproduce the issue:

Python 3.7:
[code]

Python 3.8:
[code]

[2021-03-12 13:35] johanforslund opened #47760 "Slower and bigger model after int8 quantization"
@tensorflow/micro

**Describe the problem**
I'm running the person_detection example in tensorflow/lite/micro.

When comparing the old uint8 and the new int8 models, the int8 model requires more space as it's using both SOFTMAX and RESHAPE ops. It also seems to be slower than the old uint8 model.

What is the advantage of using the new int8 model?

[2021-03-12 13:55] #44037 closed

[2021-03-12 13:55] #45123 closed

[2021-03-12 14:17] jenny-pixel opened #47761 "Critical loss of accuracy when converting from MobileNet V2 model to tflite"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 1.13.1 (and 2.0.0)

### 3. Failure after conversion
If the conversion is successful, but the generated model is wrong, then state what is wrong

[2021-03-12 14:36] JohannSchumann commented on #47383
Hi,

Is the source at #47383 (comment)

The exact code that I am running is listed in this comment.

 Yes. The long run-time shows up in the "make interpreter". After that,
run-times seem to be OK.
So the problem seems to be in the START-UP of the accelerator
For the parrot example (
https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu
):
python startup: 0.27s  (wall time)

[2021-03-12 14:40] ajinkyaambatwar commented on #47752
Sure @amahendrakar , I will try and update you regarding the issue!

[2021-03-12 14:50] wangteng200000318 commented on #47714
I mean that if I use model.predict(test_x), and then I use model.evaluate(test_x,test_y), the result about accuracy is very lower than my expectation. If I don't use model.predict(test_x) before using model.evaluate(test_x,test_y), I will get a perfect accuarcy.

[2021-03-12 14:50] wangteng200000318 commented on #47714
I mean that if I use model.predict(test_x), and then I use model.evaluate(test_x,test_y), the result about accuracy is very lower than my expectation. If I don't use model.predict(test_x) before using model.evaluate(test_x,test_y), I will get a perfect accuarcy.

[2021-03-12 14:55] rrklearn2020 commented on #47742
@amahendrakar, I did check this link (before raising the support request), some changes are made, but still, there are errors. I have attached the ipynb file. Please support.

[2021-03-12 15:11] nikitamaia commented on #25903
Hi @ArriFerrari, are you still interested in getting access to this demo?

[2021-03-12 15:15] amahendrakar commented on #47722
@melton1968,
I was able to save and load the weights without any issues by
- saving the model as a `.h5` file or
- using the `save_weights` and `load_weights` methods.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/9ecc22a8e58efff7e3e923351aa7a067/47722.ipynb#scrollTo=pWLoZ4L65xHR) and also take a look at similar issues [#47487](https://github.com/tensorflow

[2021-03-12 15:15] nikitamaia commented on #42146
Happy to help!
You'll have to ignore the warning for now. I think longterm it would make sense to set the autopolicy to DATA for train and predict on batch, which would get rid of the warning, but I suspect that won't be prioritized any time soon. If anything changes, I'll keep these threads updated.

[2021-03-12 15:55] Shamino0 commented on #47737
Yes, that change alone is sufficient.  It prevented multiple instances of the compiler and memory usage for the entire VM never exceeded 1GB.

The VM is configured for only one core, so the scripts (which is most of them) that check the number of cores are passing `-j 1` as they should.

[2021-03-12 16:08] sayakpaul commented on #43833
@abattery this does not seem to be a problem when I disable the experimental converter:

[code]

If you are on Colab, simply copy over the SavedModel like so - `!gsutil cp -r gs://mai-scene-detection-21/mobilenetv2_student_no_true_labels_e_125_t_2 .`.

[2021-03-12 16:08] John-8704 opened #47764 "validate_indices is deprecated and will be removed in a future version. Instructions for updating: The `validate_indices` argument has no effect. Indices are always validated on CPU and never validated on GPU.?"
I was trying to train a classification model, this is my model

[code]

[code]

[code]

What does these warnings mean? It only appears when I use class_weights option in model.fit, if i remove that argument no warnings. Does this warning cause any issue with what my model is learning, am I not suppose to use class_weights anymore?

Please provide some assistance.

**System information**
- Have I w

[2021-03-12 16:28] amahendrakar commented on #47759
@Arghya999,
Thank you for reporting the bug.

The issue is already being tracked in an internal CL. The documentation will be updated once the CL is approved.

[2021-03-12 16:29] sayakpaul opened #47765 "Converting models with mutable resource variable with v2 TFLiteConveter"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installation (pip package or built from source):
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.4.1

### 2. Code

This is how the original model is built:

[code]

This is how the TensorFlow Lite model is generated:

[code]

### 3. Failure after conversion

[2021-03-12 16:36] amahendrakar commented on #47235
@eliver8801,
Could you please provide a minimal code snippet along with all the supporting files, so that we can reproduce the issue on our end. Thanks!

[2021-03-12 16:44] ymodak commented on #47608
The docs are now updated with nightly. Thanks!
https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization?version=nightly#used-in-the-notebooks_1

[2021-03-12 16:44] #47608 closed

[2021-03-12 16:53] albertonavas99 commented on #47706
@Saduf2019
I have only executed the command below which belongs to a library called "Magenta" developed by Google. It has a repository: https://github.com/magenta/magenta/tree/master/magenta/models/melody_rnn. Also, it can be downloaded with:

`pip install magenta`

The only file needed to execute this command is compressed and
[training_melodies.zip](https://github.com/tensorflow/tensorflow/files

[2021-03-12 16:56] sayakpaul commented on #47765
I further looked into the issue and it seems to be stemming from this line, in particular `training=True` -

[code]

I instantiated a blank model with the utility function provided above and removed the `training` argument. Doing so allowed me to do the conversion seamlessly. I will try the model again with this change and report back.

Hope this helps someone facing a similar issue.

[2021-03-12 17:00] jvishnuvardhan commented on #47328
@acuskev You don't need to build TF from source. You can use TF through `pip` and decorate the function as suggested by @WindQAQ .

Based on @WindQAQ suggestion, you code work well with `func` as shown in this [gist](https://colab.research.google.com/gist/jvishnuvardhan/f0b499c954afbeeace1466b32d7e98ca/untitled90.ipynb). Thanks!

[2021-03-12 17:13] maxiwell commented on #44626
@Flamefire After some tests here, your patch ended up a good fix for this issue. Can I create a pull request?

[2021-03-12 17:21] RocaVincent commented on #47061
Hi @nikitamaia, here is an example of `train_step` functions which caused me GPU OOM :

[code]

Here is the calling code for each step :
[code]

And here is the function to create the training datasets :
[code]

[2021-03-12 17:31] ymodak commented on #47758
Can you try accessing with https://www.tensorflow.org/guide/estimator ?

[2021-03-12 17:37] SchernHe commented on #29005
Hey, are there any news regarding when grouped convolutions are available for CPU? Using tensorflow 2.4.0 and it seems that it is still not available.

I can use it with `@tf.function(experimental_compile=True)`, but only with multiple retracing warnings.

[2021-03-12 17:37] Saduf2019 commented on #47741
@John-8704
The input dimension is dependent on the dimension of positional embedding [table created](https://github.com/google-research/bert/blob/master/README.md), the model should be able to handle 256 sequence length.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). The

[2021-03-12 17:40] Saduf2019 commented on #47736
@inespancorbo
The code provided is not reproducible, please share a colab gist for us to replicate the error reported.

[2021-03-12 17:43] ymodak commented on #47034
Closing this issue since the original query is resolved. Thanks!

[2021-03-12 17:43] #47034 closed

[2021-03-12 17:45] Saduf2019 commented on #47714
@wangteng200000318
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/2f174d54798b4368cc6ab4fb7c2c9b63/untitled561.ipynb), please share a colab gist with the issue reported.

[2021-03-12 17:48] melton1968 commented on #47722
@amahendrakar,

My actual use-case involves a subclassed Model which is not supported by the hd5 format:

[code]

Using `save_weights` and `load_weights` does seem to save and load the weights correctly. Unfortunate that the standard `save/load` methods are broken.

[2021-03-12 17:55] Saduf2019 commented on #47702
@NEGU93
Please share simple stand alone code to replicate the issue reported.

[2021-03-12 18:04] NEGU93 commented on #47702
I already did. Is the link to the script. Is a standalone .py file. The logic of how I test it and why it should work is detailed on the stackoverlow link.

[2021-03-12 18:23] reedwm commented on #29005
@sanjoy @cheshire could we use `@tf.function(experimental_compile=True)` by default for grouped convolutions, so that we don't have to implement this on the CPU?

[2021-03-12 18:24] #47720 closed

[2021-03-12 18:57] maxiwell commented on #44626
https://github.com/tensorflow/tensorflow/pull/47768

[2021-03-12 19:37] TPrivat commented on #47705
I can only use what is the arch repository. That is python 3.9, cuda 11.2 and cudnn 8.1 which is why I am using tf-nightly. What cuda cudnn version are compatible with tf-nightly/tf-nightly-gpu (2.5.0.dev20210309).
Thanks.

[2021-03-12 19:45] jvishnuvardhan commented on #47723
This is marked as feature request. duplicate #44485
Thanks!

[2021-03-12 19:45] #47723 closed

[2021-03-12 20:54] nikitamaia commented on #29652
Hi @TrevorNathan, late response here but can you take a look a[ look at the 2.4 API docs for Counter](https://www.tensorflow.org/api_docs/python/tf/data/experimental/Counter) and let me know if the description is now clear?

[2021-03-12 21:52] bjourne opened #47769 "tensorflow.keras.utils.Sequence does not work with TPU"
Paste the self-contained mwe below into a Google Colab instance. It runs fine if hardware acceleration is CPU or GPU but if it is TPU then the following traceback will be produced:
[code]
I suspect the error has something to do with the `element_spec` attribute which is present on `tensorflow.data.Dataset` objects but not on `tensorflow.keras.utils.Sequence` objects. The logic I have implemented i

[2021-03-12 22:08] razvanra2 opened #47770 "TF2.5 quietly fails after 'Created TensorFlow device' step"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, build 18363
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): no
- TensorFlow version (use command below): v1

[2021-03-12 22:15] abattery commented on #47765
Hi @sayakpaul

We are working on the mutable variable support. I will notify this thread once the on-going work is done. Thanks for the filing this feature request!

[2021-03-12 22:18] abattery commented on #47761
Could you try your TFLite conversion script from the recent TF version? FYI, you can bring your TF v1 model file from the newer TFLiteConverter.

[2021-03-12 22:19] abattery commented on #47756
I recommend enabling the Select TF option to use TF ops for your model? https://www.tensorflow.org/lite/guide/ops_select

[2021-03-12 22:32] lu-wang-g commented on #47595
Using TFLite_Detection_PostProcess should only create a model with 4 output tensors instead of 8. I guess something was wrong during the conversion from TF to TFLite. Can you please share the script and the model?

Loop in @srjoglekar246 to verify the conversion step.

[2021-03-12 22:56] JXRiver commented on #46661
Hi @soyers, sorry for the late response. I have been trying to reproduce the bug in environments similar to what you specified, but with no success. Here are the tests I did.

### Test Code
[code]

### Test 1
**System information**
- OS Platform and Distribution: Windows Server 2019 Datacenter
- GPU: 4 NVIDIA Tesla P100
- CUDA: 11.0
- cuDNN: 8.0.2
- Python: 3.8.5
- TensorFlow: 2.4.0

![image (2)](

[2021-03-12 22:57] alexbaras opened #47771 "tf.keras.layers.Input with ragged=True is not setting uniform outer dimensions"
**System information**
- Have I written custom code: Yes, but this is expected functionality of tf.keras.layers.Input for ragged input
- OS Platform and Distribution: Linux Ubuntu 20 LTS
- TensorFlow installed from: binary
- TensorFlow version: 2.2.0
- Python version: 3.8.5
- Bazel version: N/A
- GCC/Compiler version: N/A
- CUDA/cuDNN version: 11.0
- GPU model and memory: V100 / 32G

**Describe th

[2021-03-12 23:47] nikitamaia commented on #34721
Hi @hoangcuong2011, is this request still relevant? If so are you interested in submitting a PR?

[2021-03-12 23:54] John-8704 commented on #47741
@Saduf2019 Just have a doubt, You are saying it should handle 256 sequence length but according to papers isn't BERT suppose to handle texts upto 512 sequence length? Does these versions of Bert can't handle 512 sequence length?

**Sure, will post such questions at Stackoverflow going forward. Thank you.**

[2021-03-12 23:55] nikitamaia commented on #29280
Closing this issue since [2.4 docs link to usage examples](https://www.tensorflow.org/api_docs/python/tf/data/Options#used-in-the-notebooks_1) in the tutorials

[2021-03-12 23:55] #29280 closed

[2021-03-13 00:00] nikitamaia commented on #39615
Closing issue since get_weights and set_weights can be found at tf.keras.layers.Layers as mentioned earlier.

[2021-03-13 00:00] #39615 closed

[2021-03-13 00:23] nikitamaia commented on #39485
Hi @anavanab99, trying to better understand the request here. Are you looking for a usage example of `tf.feature_column.sequence_numeric_column` ?

Also linking to the Keras tutorials [Classify structured data with feature column](https://www.tensorflow.org/tutorials/structured_data/feature_columns)s and[ Classify structured data using Keras Preprocessing Layers](https://www.tensorflow.org/tutoria

[2021-03-13 00:35] aliceruget commented on #47756
Thank you very much for the quick response @amahendrakar and @abattery!

My TensorFlow version is 2.2.0.
I can't unfortunately share the main code or the dataset @amahendrakar because of its confidentiality ... I can try to find another code that would give the same error ?

I indeed enabled the TF option @abattery which erased the error on Conv3D and MaxPool3D in this way :
converter.target_spec.

[2021-03-13 00:37] abattery commented on #47756
Conv3DBackpropInputV2 op is now supported at the tf-nightly version. Please consider upgrading TF version.

[2021-03-13 00:53] emerth commented on #44467
Posting here because Google search for this issue led me directly to this page.

[code]
You get this same problem.

Solution was:

`pip3 install h5py=2.10.0
`
Why do I install TF 2.0.0 in March 2021, you ask? Because the book I am studying uses TF 2.0.0 and hard experience has taught me there can be subtle differences between TF minor versions that are hard to understand for TF noobs like me.

[2021-03-13 01:10] aliceruget commented on #47756
Thanks, using tf-nightly solved my issue!

[2021-03-13 01:21] thaink commented on #47361
Finally my PR is merged at e89316dfca814d2d2ff2bef47d33bc33140cc112
The tf.IsFinite is lowered to tf.Equal(tf.Subtract(x, x), 0).

[2021-03-13 01:23] #47361 closed

[2021-03-13 01:33] #47756 closed

[2021-03-13 03:06] sayakpaul commented on #47765
@abattery sure.

But currently, with the TOCO converter, I am able to run the conversion successfully but that indeed results in spurious outputs. Is this expected or a known behavior?

[2021-03-13 03:08] abattery commented on #47765
@sayakpaul I am not sure the converted model with TOCO will work correctly for mutable variables.

[2021-03-13 04:08] sayakpaul commented on #47765
I see. So, the best bet, for now, would be to implement a similar architecture and train using the same loop, and then run the conversions. Am I correct?

[2021-03-13 05:17] awaisbajwaml commented on #47669
@Saduf2019

I am able to solve the issue, here are the steps:

First I upgraded to 2.4.0 but it gave me multiple errors.

After that, I used symlinks to start the training again, and now it is working fine.

I have summarized a blog post [here](https://awaisbajwa.medium.com/tensorflow-2-4-with-cuda-11-2-gpu-training-fix-87f205215419) and hence closing the issue.

Thanks for your help

[2021-03-13 05:17] #47669 closed

[2021-03-13 05:17] fatalfeel commented on #9489
it's a version match problem i meet it too. now solved as follows
driver: NVIDIA-Linux-x86_64-440.118.02.run
cuda: cuda_10.2.89_440.33.01_linux.run
cuda patch: cuda_10.2.2_linux.run

libcudnn:
libcudnn7_7.6.5.32-1+cuda10.2_amd64.deb
libcudnn7-dev_7.6.5.32-1+cuda10.2_amd64.deb
libcudnn7-doc_7.6.5.32-1+cuda10.2_amd64.deb

pytorch:
pip3 install torch==1.7.1 torchvision==0.8.2 torchaudio==0.7.2

[2021-03-13 05:51] wangteng200000318 commented on #47714
Maybe because my machine python version is 3.8.4, and the python's version in the collar is python 3.7??? Hence, I can run plt.imshow(x_train[0, :, :, ]) in my machine.
`https://colab.research.google.com/gist/Saduf2019/2f174d54798b4368cc6ab4fb7c2c9b63/untitled561.ipynb#scrollTo=PCPHakFhwia3`
I establish two demo. In demo1, Using model.predict(x_test) before using model.evaluate(x_test,y_test). In

[2021-03-13 06:04] LucasColas commented on #47602
Hi, I'm still waiting an answer.

[2021-03-13 06:08] LucasColas opened #47776 "flow_from_directory doesn't create enough batches"
Hello I have an issue with flow_from_directory to yield enough data.

**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (use command below): TF 2.5
- Python version: 3.7

- CUDA/cuDNN version: CUDA 11.2
- GPU model and memory: GTX 1660 TI

**Describe the current behavior**
I wanted to yield data with flow_from_directory method. But i

[2021-03-13 06:13] MeghnaNatraj commented on #44882
@wqcsim Trye downloading tf-nightly. `pip install tf-nightly`

[2021-03-13 06:56] #47392 closed

[2021-03-13 10:08] AdityaKane2001 commented on #47776
@LucasColas
Note that `steps_per_epoch` is the number of batches to consume in one epoch. You can omit it to enable the model to go through the whole dataset once every epoch. If `steps_per_epoch` is mentioned, make sure that you have atleast `batch_size*steps_per_epoch*epochs` number of individual samples in your dataset.

Hope this helps.

[2021-03-13 10:29] AdityaKane2001 commented on #47769
@bjourne
According to `tf.keras.Input` docs

raises `ValueError` as mentioned [here](https://www.tensorflow.org/api_docs/python/tf/keras/Input#raises_1).
AFAIK, you need not mention match size in `Input` layer.

[2021-03-13 11:06] sspintel commented on #38306
@mihaimaruseac Do you mean, compiling from within one of the tensorflow devel docker images?

[2021-03-13 11:29] mayou36 commented on #35010
Hi all, I've boiled down the problem and created a simpler gist to demonstrate the problem, in TF 2.4

[code]

It's with the `use_tape_cache`, at least for the above. Here we can use the `numpy_func`, maybe that works as well for the data preprocessing as no gradient is needed there.

[2021-03-13 12:14] jonas-eschle opened #47777 "enh: allow stateless numpy function"
**System information**
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
`tf.numpy_function` is assumed to be stateful. However, many pure Python functions (as the example with `np.*` in the docs) are actually stateless. `numpy_function` calls `py_func_common` that actually has a 'stateful' argument.

[2021-03-13 13:26] Antzyx opened #47778 "python crashes without error performing a tensorflow operation on a new GPU"
EDIT : I don't know if it helps but it looks similar to https://github.com/tensorflow/tensorflow/issues/47770, though on a different hardware
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- TensorFlow installed from (source or binary): see installation procedure
- TensorFlow version: nightly 2.5
- Python version: 3.8
- Installed using virtualenv?

[2021-03-13 14:16] emre84 opened #47779 "TensorFlow Lite object detection example code does not work with custom trained model"
### System information

-   **OS Platform and Distribution (macOS Big Sur 11.2)**:
-   **Mobile device (iPhone 7)
-   **TensorFlow Lite installed from (https://www.tensorflow.org/lite/examples/object_detection/overview:View iOS example)**:
-   **TensorFlow (1.14.1)
-   **Xcode version(Version 12.4)
-   **Python (Python 3.7.3)

### Describe the problem
I want to test my custom trained (ssd_mobilene

[2021-03-13 14:51] francescoalongi opened #47780 "Inconsistency in tf.keras.models.Model.fit() doc"
### URL(s) with the issue
https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit

### Description of the issue (what needs changing):
Related to the `validation_data` parameter, the doc clearly states the following:

I don't get whether this was just an oversight or it was intended, since this method is working fine even when `validation_data` is a generator.

[2021-03-13 15:59] chmickz commented on #44467
I created a virtual env with tf-nightly instead of tensorflow-2.4.
Now i can not use from tensorflow.python.keras.models import  load_model anymore .
was it replaced ??

[2021-03-13 15:59] jenny-pixel commented on #47761
The most recent version of TFLiteConverter doesn't have a "from_frozen_graph" option...

[2021-03-13 16:06] bjourne commented on #47769
But why does it work when I use the GPU and TPU?

If I change the definition of the input layer to `inp = Input(shape = (SL,), batch_size = BS, dtype = tf.int64)` I get the following error:
[code]
If I change it to `inp = Input(tensor = tf.constant([[0] * SL] * (BS // 8), dtype = tf.int32))` I get:
[code]
So I don't know how I should define my `Input` layer to make it work with my `tensorflow.kera

[2021-03-13 16:55] Rumeysakeskin commented on #44467
I solved this problem with tensorflow 1.13.1 and keras 2.2.4

[2021-03-13 16:56] mdanatg commented on #46661
@soyers if you would like to help us debug further, since the issue only appears on your side, it would be useful to narrow down the possible source. I've modified the model code to use low-level TF ops instead of the Keras model. If the leak still reproduces with it, then we can try to narrow things down further. If it doesn't, then we can have a closer look at the interaction between Keras and t

[2021-03-13 17:17] muHashh commented on #14713
So is warmstartsettings or init_from_checkpoint recommended?

[2021-03-13 18:28] AdityaKane2001 commented on #47769
Can you try replacing
`model = Model(inputs = [inp], outputs = [out]) `
to
`model = Model(inputs = inp, outputs = out)` ?

[2021-03-13 18:45] DimaFridrich commented on #44467
Where is hdf5_format.py located, was unable to find it in "h5py" folder.

Thanks!

[2021-03-13 19:21] bjourne commented on #47769
Yes. I get the exact same errors.

[2021-03-13 19:27] lutzroeder opened #47782 "M1 arm64 release binaries"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.2.3 (20D91)
- TensorFlow installed from (source or binary): tf-nighly
- TensorFlow version:
- Python version: 3.9.2

**Describe the problem**

`tf-nightly` fails to install on M1 arm64.

**Provide the exact sequence of commands / steps that you executed before running into the problem**

[code]

[2021-03-13 21:51] PythonFZ opened #47785 "tape.batch_jacobian gives different results if changing parallel_iterations"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- TensorFlow installed from (source or binary): binary (pip install)
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.5
- Bazel version (if compiling from source): -
- GCC/Compiler

[2021-03-13 21:57] JoseConi opened #47786 "InvalidArgumentError: indices[112,8] = -1 is not in [0, 32)"
Hi!

Im trying to create an RNN to predict if a stock price will go up or down tomorrow (its just for practice, im not expecting that it works).

But i can not run the model. I let you the code and the error message:

CODE ////////////////////////////////////////////////////////////////////////////////////////////////
`import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.prep

[2021-03-13 22:05] abattery commented on #47765
Could you try using the following code snippet with the tf-nightly version and linking the `tensorflow/lite/kernels:variable_op_kernels`?

[code]

The above experimental items are subject to change since it is under development.

[2021-03-13 23:23] abattery commented on #47779
@lintian06 could you take a look at this?

[2021-03-13 23:56] alexmil2019 opened #47787 "Inference for WeightNormalization"
WeightNormalization according to
`https://www.tensorflow.org/addons/api_docs/python/tfa/layers/WeightNormalization`
creates a wrapper around the kernel for normalization. it uses `tf.nn.l2_normalize` for normalization.
The issue is during inference which you don't need to run `tf.nn.l2_normalize` every time.
Is there any tool or a way to replace the kernel with normalized kernel after training?

[2021-03-14 00:09] emadboctorx commented on #47713
I fixed the issue by converting to equivalent keras models. If there is a need to go further with providing some means to a custom getter in TF2, feel free to re-open the issue.

[2021-03-14 00:09] #47713 closed

[2021-03-14 00:42] CyangXu opened #47789 "ImageResizerState's public function contains redundant arguments"
`ImageResizerState::ValidateAndCreateOutput` needs a tensor as the second argument. Actually it is unnecessary. Because `input` can be retrieved through `context->input(0)`. `ImageResizerGradientState` has a similar issue.

[2021-03-14 00:44] CyangXu commented on #47789
I sent a pull request which should fix this issue

[2021-03-14 00:50] CyangXu commented on #47464
@ymodak Thank you for explanation!

[2021-03-14 01:30] sayakpaul commented on #47765
@abattery yes, it works now, thanks. Here's the [Colab](https://colab.research.google.com/gist/sayakpaul/76640f20ac8937ddd15a813342c8899a/scratchpad.ipynb). We need to convert it with the flex ops:

[code]

[2021-03-14 01:31] abattery commented on #47761
Actually, you can find the frozen graph option under the `tf.compat.v1.lite.TFLiteConverter`.

[2021-03-14 03:13] UCRajkumar opened #47791 "Inconsistent Embedding Layer functionality when initialized under MirroredStrategy()"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Plat

[2021-03-14 05:05] LucasColas commented on #47776
I use `flow_from_directory` so it generates batches of augmented data...

[2021-03-14 05:22] ShyamSundhar1411 commented on #44485
But tf nightly is not getting imported . I am getting ModuleNotFoundError

[2021-03-14 05:29] ymodak commented on #47464
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2021-03-14 05:53] tsc2017 opened #47792 "Retracing happens when using eager execution for custom code"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab default
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary):  Colab default
- TensorFlow version (use command below

[2021-03-14 06:18] AdityaKane2001 commented on #47792
@tsc2017
[This](https://stackoverflow.com/questions/57675242/how-does-tf-function-works-when-two-functions-call-each-other) may be helpful.

[2021-03-14 06:21] TZubiri opened #47793 "programs that use this library are impossible to understand"
My cpu has a frequency of 3GHz, that is, electric current runs through it's circuitry 3 thousand million times per second, in something more than 2 seconds it cycle once for every person in the world, this of course is an ordinary modern computer, the small computers in our pockets have the same power. 25 years ago a computer with a thirtyedth of the power beat the strongest chess player in the wo

[2021-03-14 07:07] jeongukjae commented on #47662
@ymodak I tried to fix this issue, but I don't use Golang, so I don't know how exactly auto-generate that files. I think it would be better that other people fix this.

[2021-03-14 07:24] yichenj commented on #41929
I do not think make the training TF version same with the  prediction TF version is a good idea. I met this issue because i have deployed the prediction model to our customer site with TF version 2.2, but out training system recently upgrade TF version to 2.4. Therefore, our new trained model cannot use on our clients' site. Upgrade TF version of all our clients is infeasible, nor keep our GPU tra

[2021-03-14 08:31] fonghyalex commented on #47595
@lu-wang-g
This is the [Colab scripts](https://colab.research.google.com/drive/1bhf36Pk-YnFTPj7O_d3H0q9DYzLXfa45?usp=sharing) I have used.

Please note that I have git cloned the [TensorFlow Model Garden](https://github.com/tensorflow/models) and the [Metadata writer library](https://github.com/tensorflow/tflite-support/tree/master/tensorflow_lite_support/metadata/python/metadata_writers) to the d

[2021-03-14 09:08] sandeepsinghsengar commented on #42146
Hi @nikitamaia thanks for your valuable comments. I am also getting the same error/warning: tensorflow/core/grappler/optimizers/data/auto_shard.cc:656] In AUTO-mode, and switching to DATA-based sharding, instead of FILE-based sharding as we cannot find appropriate reader dataset op(s) to shard. Error: Found an unsharable source dataset: name: "TensorDataset/_1"

You told to ignore this warning rig

[2021-03-14 09:15] bgcgh opened #47794 "undefined symbol: _ZN10tensorflow8OpKernel11TraceStringEPNS_15OpKernelContextEb"
This is an issue reported earlier and it remains for the following versions of tensorflow and keras:

Successfully installed tensorflow-2.4.1

Successfully installed keras-2.4.3

When trying to execute previously well-functioning keras/tensorflow-pythoncode output is:

tensorflow.python.framework.errors_impl.NotFoundError: /usr/local/lib/python3.8/dist-packages/tensorflow/core/kernels/libtfkernel_

[2021-03-14 09:57] johnvon22 opened #47795 "distribution strategy in tensorflow"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-03-14 12:01] redmlr opened #47797 "Length for attr 'output_shapes' of 0 must be at least minimum 1"
I am trying to convert a list of lists of strings into a tf.data.Dataset object, but it throws this error:
[code]
As you can see, I specified output_shapes and output_types, I even tried converting the list into a ragged tensor first but that also changed nothing.
Here is my code:
[code]

I am stuck with this error for so so long...

[2021-03-14 12:45] krishdb38 opened #47798 "Cuda Error for CNN"
**CUDA Error with CNN algorithm,
CUDA Toolkit 11.0 installed
TensorFlow shows GPU and runs GPU very well in other algorithms but not in CNN.**

**_https://keras.io/examples/audio/speaker_recognition_using_cnn/_** I am trying to run this code in my RTX 3070

 'python' 'c:\Users\krish\.vscode\extensions\ms-python.python-2021.2.633441544\pythonFiles\lib\python\debugpy\launcher' '50523' '--' 'c:\Users

[2021-03-14 12:51] AiaHaruv commented on #46533
@mdanatg - thank you for your answer.
I read about the tf.py_function and I saw this caveat:

  "The body of the function (i.e. func) will not be serialized in a GraphDef. Therefore, you should not use this function if you need to serialize your model and restore it in a different environment."

My use case is that I need to save my model and then convert it to a tflite model (to run inside an and

[2021-03-14 13:21] sailor239 commented on #47562
Will close this issue for now, as I couldn't share the code or model. Thanks for all the inputs.

[2021-03-14 13:21] #47562 closed

[2021-03-14 14:02] AdityaKane2001 commented on #47793
@TZubiri
Firstly, that's a lot of philosophy in one post. 😂
What I think, is that seeing and understanding what's under the hood is  matter of experience. When one has complex systems like this library itself, one cannot expect to see and understand the code at the first glance. But if you give the time and energy, you will find yourself completely understanding the code and logic behind TensorFlo

[2021-03-14 14:29] eam2000 opened #47799 "Process finished with exit code 132 (interrupted by signal 4: SIGILL)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.2.1 Apple M1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8

**Describe the current behavior**
After running my script I

[2021-03-14 15:25] XXZhou25 commented on #32662
same problem in tensorflow 2.0 right now. Actually I don't know what triggers this issue.

[2021-03-14 15:55] #47144 closed

[2021-03-14 17:25] saddamhijazi commented on #36596
May I ask one question about the issue of converting the loss value and the predictions to numpy arrays. First, I would like to explain my problem, I have created a step function in which I pass one batch at a time of the data to my NN model. After applying the prediction I compute the jacobian of a part of the output and here I do get a non-null jacobian but when I compute the gradient of the los

[2021-03-14 18:51] #27749 closed

[2021-03-14 18:55] #47244 closed

[2021-03-14 19:17] mahsajalali opened #47800 "Tensorflow (Using TensorFlow backend.)"
while running the INVASE code I got this error,

Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\Users\Mahsa\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\platform\self_check.py", line 75, in preload_check
    ctypes.WinDLL(build_info.cudart_dll_name)
  File "C:\Users\Mahsa\AppData\Local\Programs\Python\Python37\lib\ctypes\__init__.py", line 364, in __init

[2021-03-14 19:55] #26417 closed

[2021-03-14 19:55] #47253 closed

[2021-03-14 19:58] TZubiri commented on #47793
Thanks for the response Aditya. I'm afraid I was too cynical and critical yesterday without devoting enough effort to first understand the system. The truth is that I was simply frustrated by the 10 hour build time, but that problem is also present in the building of several mainstream technologies like android and linux as well, and it's mostly a byproduct of the C toolchain.

I find myself delvi

[2021-03-14 19:58] #47793 closed

[2021-03-14 20:55] BrianC42 opened #47802 "module 'gast' has no attribute 'Constant'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code ba

[2021-03-14 21:25] subopt commented on #47710
@terryheo any ideas on this? The script requires docker but it is not installed on the tensorflow/tensorflow:devel docker image that is recommended. I'm not sure it would make a different but I'm using docker on a mac. Docker does not want to install on this container; I get errors trying to install it from docker instructions

[2021-03-14 22:00] xusky69 commented on #44834
In case this is useful to anyone, I found a workaround for this issue by definining the real and complex part of each weight separately and joining them as a complex tensor using tf.complex() during forprop.

Howerver, I'm not entirely sure how this affects the computation of momenta of optimizers such as Adam. It worked just as expected on my experiments tho.

[2021-03-15 00:10] terryheo commented on #47710
Can you run docker from your command line?
It seems that you didn't update PATH variable.

[2021-03-15 02:09] bkirwi opened #47804 "Quadratic slowdown on LSTM models in tflite"
**System information**
This reproduces on both colab and my local machine. I assume colab is more standard and thus more interesting, but my local info for completeness:
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, a bit!
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung

[2021-03-15 02:43] abattery commented on #47804
@renjie-liu could you take a look at this performance experiments?

[2021-03-15 02:49] SunBeenMoon opened #47805 "Hello World Example not supported in Himax WE-1 board."
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Himax WE-1

Hi,

I'm curious why TFLM doesn't support the Hello World example of the Himax WE-1 board. Until January of this year, we have co

[2021-03-15 02:58] SunBeenMoon opened #47806 "TFLM Magic Wand example perform late"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Himax WE-1

Hi,

I would like to ask for comments from developers who have implemented the magic wand example.

I ran the magic wand example

[2021-03-15 03:00] alexyinxuanyu opened #47807 "The GPU memory allocate logic bug in tensorflow 1.15"
<em>
Hello, I tried to upgrade my code from tensorflow 1.12 to tensorflow 1.15. Everything is ok in tf1.12, but I found out some gpu memory allocate logic bug in tf1.15.

Here are some details:

1.I fail to use allow_growth=False, tensorflow report "Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR", but in server of my lab, everything is ok, so I guess that maybe it relates to the gpu me

[2021-03-15 03:12] renjie-liu commented on #47804
Can you try set fixed input shapes as shown in here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb

Thanks!

[2021-03-15 03:39] zerollzeng commented on #47716
ok @Saduf2019

I will close this issue for now, and when I have progress on this problem I will let you know.

Thanks

[2021-03-15 03:39] #47716 closed

[2021-03-15 04:16] TZubiri commented on #4680
https://www.youtube.com/watch?v=3i6o3TeQn7s

[2021-03-15 04:16] lintian06 commented on #47779
Hi @emre84 ,

As the model is changed, please notice that it has different inputs and outputs from our built-in one. Therefore, most likely, you need to change those inputs and outputs in [ModelDataHandler](https://github.com/tensorflow/examples/blob/f2946cb116ac5e06eb3e318dd94144214c95238a/lite/examples/object_detection/ios/ObjectDetection/ModelDataHandler/ModelDataHandler.swift#L46-L63) accordin

[2021-03-15 04:20] TZubiri commented on #47793
Actually scratch that, I don't think I'm going to be able to build this thing, let alone build something with it. (#4680)

[2021-03-15 04:43] spyroot opened #47809 "silently crash"
Folks,

I have a strange issue that the latest night build never starts training nor I see any stack traces.

[code]

it sees GPU

[code]

* System window 10 all update.

* Visual Studio Code 2019.

* All Cuda test 11.22 passed.

[code]

Code I run

[code]

[2021-03-15 04:51] Saduf2019 commented on #47787
@alexmil2019
Please share simple stand alone code to replicate the issue reported or a colab gist.

[2021-03-15 04:59] Saduf2019 commented on #47778
@Antzyx
We see that you are using 1.x version of tensorflow and there is no support for 1.x, please upgrade yo 2.x also verify with the [system requirements](https://github.com/tensorflow/tensorflow/issues/47720#issuecomment-797249831) for the same and let us know.

[2021-03-15 05:08] Saduf2019 commented on #47741
@John-8704
As per your request on Bert tiny, it should be able to handle 256[ you can download a model, inspect its input layers], yes Bert base can handle 512. Please move this to closed status and create a issue on stackOverflow as it is a large community to answer.

[2021-03-15 05:12] Saduf2019 commented on #47795
Closing as spam.

[2021-03-15 05:12] #47795 closed

[2021-03-15 05:20] Saduf2019 commented on #47799
@eam2000
I ran the code shared and find some dependencies missing, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/524acfb5edf6f18c9f4c14e4bcd59ca0/untitled561.ipynb)

[2021-03-15 05:23] Saduf2019 commented on #47807
@alexyinxuanyu
There is no support for tf 1.x, please upgrade to 2.x and let us know.
[[System requirement](https://github.com/tensorflow/tensorflow/issues/47720#issuecomment-797249831) for the same #47517]

[2021-03-15 05:32] krishdb38 commented on #46673
I am facing the same problem.
RTX 3070 working very well in other algorithms but incase of CNN it crashes saying Cuda error

[2021-03-15 05:32] terryheo commented on #47737
Thanks for the confirmation. I'll work on it.

[2021-03-15 05:33] Saduf2019 commented on #47786
@JoseConi
I ran the code shared and find missing dependencies, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/a35feed050951e7a7d7ca4d0428340b1/untitled561.ipynb) , if possible share a colab gist with the error reported.

Meanwhile you may refer to similar issues :[link](https://stackoverflow.com/questions/51223936/tensorflow-invalidargumenterror-indices-while-training

[2021-03-15 05:33] krishdb38 commented on #45285
I am facing the same problem
RTX 3070
cUda 11.0 (tried ll 10, 11.2 ...)

GPU and Tensorflow work well in other algorithms where CNN not used.
crash if CNN added to the network.

[2021-03-15 05:49] Saduf2019 commented on #47771
@alexbaras
This has been fixed in tf 2.4, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/9950829dc1dd83a16d3e7161f78fb146/untitled561.ipynb)

[2021-03-15 05:55] terryheo commented on #47638
Nevermind, I'm making a PR.

[2021-03-15 05:59] Saduf2019 commented on #47757
@codePerfectPlus
Please share the colab gist for us to analyse.

You may also refer to : [link](https://stackoverflow.com/questions/36927607/how-can-i-solve-ran-out-of-gpu-memory-in-tensorflow), #32707, [link1](https://github.com/tensorflow/tensorflow/issues/40646#issuecomment-647224203)

[2021-03-15 06:07] Saduf2019 commented on #47696
@kiflowb777
As it is tracked in #47309 can we move this to closed status.

[2021-03-15 06:15] Saduf2019 commented on #47760
@johanforslund
This depends on the model and its implementation, the new models reduce latency and memory usage by hardware.

Kindly open a stackoverflow issue for this as it is not a bug or feature request, Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions.
Thanks!

[2021-03-15 06:37] takipsizad commented on #47782
proably trying to build from source will help

[2021-03-15 06:50] JiashuGuo commented on #46821
Hi @dogacbasaran, you can view the structure and subgraphs of your model in Netron https://netron.app/. I also got this error during integer quantization but seems there is no fix for now.

[2021-03-15 06:53] piyush-wynk commented on #47187
Thank you for the input. After specifying dtype, the problem of initialisation by same vector seems to be gone.

But, there still seems to be some problem with higher indices. I am using embedding vocabulary of around 40 million data points, and for test data with indices greater than 30 million, getting very poor metric. But when I reverse the indices during training, such that the test set has s

[2021-03-15 06:55] #47458 closed

[2021-03-15 06:55] #47396 closed

[2021-03-15 07:18] jackson119 opened #47812 "Does anymore know how to install for tensorflow version 1.01 in google colabs"
I am currently doing one project  related to the CNN but my professor has told me to use tensorflow 1.01 version. However right now google Collab seems to be  not  support version 1.01 anymore.  Hence I would like to ask  is it  still possible to install tensorflow version 1.01 in google collabs. Thank you  I will really really appreciate your helps

[2021-03-15 07:27] pranathibl opened #47813 "Tensorflow lite lstm/bilstm reset variables why needed ? Can we avoid reset variables."
Getting different outputs for multiple runs in tensorflow lite invoke when reset is not called. Why different output ? Is this step causes performance issue in multiple runs because of reset function extra step during every run. why interpreter.reset_all_variables() is needed.

`# -*- coding: utf-8 -*-
"""BiLSTMinput_Var_LastMode_layer.ipynb

Automatically generated by Colaboratory.

Original file

[2021-03-15 07:55] #47436 closed

[2021-03-15 07:56] teijeong commented on #47223
@ark1375 sorry for late reply. Yes, I think you might observe some sppedup when running on rpi, depending on its hardware capability.

@terryheo It seems weird to see latency getting higher from ~6s to ~260s. Can you take a look? We need to verify first if they had run on the same machine though.

[2021-03-15 07:58] Saduf2019 commented on #47813
@pranathibl
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-15 07:59] teijeong commented on #46821
Hi @dogacbasaran, besides visualizing graph, if you try again with tf-nightly the error message should be visible. Please le me know if you still get nullptr error.

[2021-03-15 08:04] teijeong commented on #47640
Hi @jestingeorgejacob1 , can you give more details about your problem? When I tested TFLite runtime the memory usage goes up, but it goes back to normal level once the Interpreter is recycled. You can expect the memory consumption to go up at least by model file size, so if you can provide your model, model size, and amount of memory increased (best to use Instruments) it would be great.

Does it

[2021-03-15 08:09] ddavis-2015 opened #47814 "micro: port op L2_POOL_2D from lite"
@tensorflow/micro

This issue tracks my work porting operator L2_POOL_2D from lite to micro.

The port will be submitted in a number of PRs. Here's a rough flight plan per @advaitjain and @petewarden:

PR 1 (step 1): Extract the code for parsing the op from a flatbuffer out of ParseOpDataTfLite in tensorflow/lite/core/api/flatbuffer_conversions.cc into a standalone function that can be called from

[2021-03-15 09:13] rmothukuru commented on #20338
@David-Mao,
The code mentioned in [your first comment](https://github.com/tensorflow/tensorflow/issues/20338#issue-336150944) is working fine with the `latest version of Tensorflow (2.4)`.

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/9124919e9b209ffd5838ba5753ab2992/gh_20338.ipynb) of working code.

Thanks!

[2021-03-15 09:20] Saduf2019 commented on #47812
@jackson119 All you have to do in colab is ```'!pip install tensorflow==2.4```
You may refer to [link](https://colab.research.google.com/notebooks/tensorflow_version.ipynb), [link1](https://medium.com/@tuxnani/install-tensorflow-2-0-in-colab-36f778945a48),.
Please note tf 1.x version is not supported, please use 2.x, 2.4 is the stable version.

If this answers your query, move this issue to closed

[2021-03-15 09:34] DanielMH commented on #45231
I also ran into this error message when I implemented (and customized) the code from the "Basic Text Classification" tutorial.

Instead of running the code in a notebook, I have two scripts, one for building, training and saving the model and the other one for loading it and making predictions.

Implementing the comments above solved the issue for me. Because it was confusing to me, just to sum up

[2021-03-15 09:34] marcjoos-phd opened #47815 "TensorFlow 2.4.1 offline build fails"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.7
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.4.1
- Python version: 3.7.5
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 8.3.0
- CUDA/cuDNN version: 10.2.89/7
- GPU model and memory: V100

**Describe the problem**

I try t

[2021-03-15 09:44] amahendrakar commented on #47809
@spyroot,
On changing `model.compile()` to `model.compile(optimizer='adam',loss=loss_fn,metrics=['accuracy'])`, I was able to run the code without any issues.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dc7e6ac5eb3a5391a402e5202941b7e0/47809-tf-nightly.ipynb). Thanks!

[2021-03-15 09:47] nicolaspi opened #47816 "tf.keras Lambda layer fails to infer output shape when run_functions_eagerly is set to True"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8
- CUDA/cuDNN version: 11.1
- GPU model and memory: 2048 Ti

**Describe t

[2021-03-15 09:55] #47459 closed

[2021-03-15 09:55] hrw opened #47817 "HEAD build wants bazel >= 3.7.4 and <4.0.0 which are unavailable"
**System information**
- OS Platform and Distribution: Debian 10
- TensorFlow installed from (source or binary): source
- TensorFlow version: git HEAD
- Python version: 3.7
- Bazel version (if compiling from source): 4.0.0
- GCC/Compiler version (if compiling from source): 8.3

**Describe the problem**

Nightly builds of Tensorflow want Bazel >= 3.7.4 so at Linaro CI we fetched 3.7.4 and built TF.

[2021-03-15 09:58] amahendrakar commented on #47800
@mahsajalali,
In order to expedite the trouble-shooting process, could you please provide the following information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda

[2021-03-15 10:01] amahendrakar commented on #47797
@redmlr,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-03-15 10:11] hrw commented on #47817
Coworker pointed me to 3.7.2 being minimal.

[2021-03-15 10:11] #47817 closed

[2021-03-15 10:19] redmlr commented on #47797
@amahendrakar
TF Version: 2.4.0-rc0
Dataset:
I have a dataset from common voice (mozilla) containing filenames and corresponding labels. I've loaded the filenames into a python list, structured like this: `['common_voice_de_22136164.wav', common_voice_de_129376192.wav, ...]`

Code:
[code]

I tried to do something similar to this:
https://www.tensorflow.org/tutorials/audio/simple_audio

[2021-03-15 10:21] jackson119 commented on #47812
so no more tensorflow 1 in google colabs ? okay really appreciate your  helps

[2021-03-15 10:32] amahendrakar commented on #47785
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/954bca9237e735e977a8868367be27af/47785.ipynb#scrollTo=Qd1dl5KrcQRb). Thanks!

[2021-03-15 10:50] jenny-pixel commented on #47761
Hi, unfortunately I still have the same trouble. The code (conversion etc) works well for my model when trained using a resnet backbone, but not when I use mobilenet. The error also increase the more training iterations I complete.

[2021-03-15 10:54] Saduf2019 commented on #47812
@jackson119
You can pip install tf 1.x, but there is no support fot it, you can use 2.x.
Is there any particular reason to use 1.x.
Please move this to closed status as you have reopened it.

[2021-03-15 10:55] #47461 closed

[2021-03-15 10:59] ptxmac commented on #32233
I don't think that's true - protobuf have a `double` type, and the `float` type maps to a 32-bit in any language that have different types:

![image](https://user-images.githubusercontent.com/56919/111143236-d70c8a80-8585-11eb-9146-e6da70e91d1d.png)

[2021-03-15 11:18] amahendrakar commented on #47764
@John-8704,
On running the given code snippet, I am facing an error stating `KeyError: 'CaseFoldUTF8'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f5086cbfc1fa33f014fb61053c69bbb5/47764.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here?

Also, if you are not facing a

[2021-03-15 11:52] #47812 closed

[2021-03-15 11:54] shengy90 commented on #47368
<img width="1818" alt="Screenshot 2021-03-15 at 11 53 10" src="https://user-images.githubusercontent.com/12820124/111149654-0bcc1200-8585-11eb-991e-3e58215b02fb.png">

I just ran it (and got this error - see screenshot). Are you connected to GPU run time? This error only happens when I'm trying to do GPU distributed training using AdaGrad, or RMSprop (with momentum parameter > 0).

@nikitamaia

[2021-03-15 11:55] #47354 closed

[2021-03-15 11:55] #47136 closed

[2021-03-15 12:03] rmothukuru commented on #21174
@evictor,
Can you please confirm if [on_predict_batch_begin](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback#on_predict_batch_begin)  and [on_predict_batch_end](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback#on_predict_batch_end) are what you are looking for?

Thanks!

[2021-03-15 12:15] rmothukuru commented on #21979
@zmjjmz,
Please refer [this tutorial](https://www.tensorflow.org/tutorials/distribute/keras) which shows how to use **`Keras Callbacks`**, `TensorBoard`, `ModelCheckpoint`, `LearningRateScheduler` etc.. and to `Train` the `Keras Model` in `Distributed Fashion`.

Please refer [this Guide](https://www.tensorflow.org/guide/distributed_training) for more information on `Training` a `Tensorflow Keras M

[2021-03-15 12:27] emadboctorx commented on #47048
Why is this issue closed? I'm facing the same problem, is there some solution?

[2021-03-15 12:30] rmothukuru commented on #47048
@emadboctorx,
This is not the issue that is closed.

[2021-03-15 12:38] sebastian-sz opened #47818 "Add Resnet-18 and Resnet-34 in tf.keras.applications."
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes, but would probably need help.

**Describe the feature and the current behavior/state.**
Currently there are multiple resnet variants available (50, 101, 152 + V2 options).

Those model's are rather big and thus limiting the research and use of computer vision solutions on edge devic

[2021-03-15 12:41] kiflowb777 opened #47819 "UnboundLocalError: local variable 'kwargs' referenced before assignment"
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.1
- Python version: 3.6.1
- CUDA/cuDNN version: 11.1
- GPU model and memory: RTX 3070

When I try load model from json with ``` model_from_json()``` from model with loss added by ```add_loss()``` and ```tf.add_n()```  method I get:

[code]

[2021-03-15 12:42] kiflowb777 commented on #47819
Code to replicate issue:
[code]

[2021-03-15 13:18] artiumd commented on #42146
Hi @nikitamaia

I am getting the same warning, however, I am using instances of ``tf.keras.utils.Sequence`` subclasses to train and validate my model using ``model.fit()``.

What would be the recommended solution? I could in principle wrap my sequences in ``tf.data.Dataset`` objects, but the problem is that the ``on_epoch_end()`` method of my ``tf.keras.utils.Sequence`` subclass will not be called

[2021-03-15 13:33] AbhisekOmkar opened #47820 "OOM when allocating tensor with shape[3,3,512,1024] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc [Op:Mul]"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu Jetson Nano
- Mobile dev

[2021-03-15 13:34] xhae commented on #47761
It looks like you're doing classification with video stream if I read the code correctly, any reason not doing this with the static image?
One rough idea I have is that accuracy>0.9(or >0.99 based on your other issue: https://github.com/DeepLabCut/DeepLabCut-live/issues/43) sounds awesome, but there's not enough resource on how did you train and evaluate.

[2021-03-15 13:35] AbhisekOmkar commented on #47820
/usr/bin/python3.6 /home/swag/Desktop/IGVC_ConeDetectionScript/detect_independent.py
2021-03-15 15:33:26.917255: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.2
2021-03-15 15:33:39.556381: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2021-03-15 15:33:39.691466: I ten

[2021-03-15 13:47] amahendrakar commented on #47770
@razvanra2,
Could you please share the output of the below code snippet with us

[code]

Also, please check if you are facing the same issue with **Python 3.8** and **TensorFlow 2.4.1** as well?

Thanks!

[2021-03-15 13:54] razvanra2 commented on #47770
@amahendrakar
The output of that code snippet on my sistem is:
'''
Python 3.9.2 (tags/v3.9.2:1a79785, Feb 19 2021, 13:44:55) [MSC v.1928 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

2021-03-15 15:49:10.691630: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll

2021-03-15 15:49:27.

[2021-03-15 13:54] XXZhou25 commented on #43498
Hi, I have get_config in my custom layer, but still get the same error.

[2021-03-15 14:06] nikitamaia commented on #42146
With MultiWorkerMirroredStrategy, there are two ways to shard data. Either by FILE, or by DATA. As the name suggests, the FILE policy only works when your data is in files (eg TF Records). If your data is not file based, then you must shard by the DATA policy. This is explained in the [Sharding section of the Distributed Input guide.](https://www.tensorflow.org/tutorials/distribute/input#tfdistrib

[2021-03-15 14:07] amahendrakar commented on #47820
@AbhisekOmkar,
In order to expedite the trouble-shooting process, could you please provide the following information

- CUDA/cuDNN version:
- GPU model and memory:
- the complete code and the dataset you are using

Also try limiting GPU memory growth using any of the methods listed [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and check if it helps. Thanks!

[2021-03-15 14:11] subopt commented on #47710
The guide (https://www.tensorflow.org/lite/guide/build_cmake_pip) says it was tested on "Ubuntu 16.04.3 64-bit PC (AMD64) , TensorFlow devel Docker image tensorflow/tensorflow:devel"

The docker devel image is now 18.04.5 LTS, so not sure if that is part of the problem.

I'm running docker on my host system (macos). The tensorflow:devel container does not seem to have docker installed, so I'm unsu

[2021-03-15 14:18] amahendrakar commented on #47776
@LucasColas,
In order to expedite the trouble-shooting process, could you please provide the dataset you are using and all the files required to run the code. Thanks!

[2021-03-15 14:28] nikitamaia commented on #44394
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:29] nikitamaia commented on #44462
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:30] nikitamaia commented on #44906
Adding the contributions welcome label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:34] nikitamaia commented on #45063
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:34] emadboctorx commented on #47048
@rmothukuru yeah, I just noticed. Both issues are addressing the same topic anyway.

[2021-03-15 14:35] nikitamaia commented on #42046
Adding the contributions welcome label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:37] nikitamaia commented on #42383
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:38] nikitamaia commented on #42376
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:42] nikitamaia commented on #43745
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-03-15 14:43] nikitamaia commented on #45999
Adding the `contributions welcome` label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Than

[2021-03-15 14:45] ashu2496 commented on #46673
any one having a working fix/ specific versions of each that works, seems right now i am not able to make it work with latest drivers. No CNN model training.

[2021-03-15 14:55] #47453 closed

[2021-03-15 14:55] #47460 closed

[2021-03-15 15:15] DanielMH commented on #45231
Alternatively, you can just use the default standardization method in the vectorizer layer when building the model:

[code]

[2021-03-15 15:32] zmjjmz commented on #21979
Hey there,

Glad to see that 2.5 years later, this is now possible :) I'll close this issue.

[2021-03-15 15:32] #21979 closed

[2021-03-15 15:37] abattery commented on #47813
@renjie-liu could you take a look at this?

[2021-03-15 15:44] mihaimaruseac commented on #44485
@ShyamSundhar1411 this looks like a different issue. Make sure you use the same python as the one used to do `pip install`. Recommendation is to use `python -m pip install` instead of `pip install`.

If the above does not fix, please open a new issue and fill in issue template and give a full description of the error you are seeing. Also, give output of both `python -m pip install`

[2021-03-15 15:58] amahendrakar commented on #47794
Also, please try installing TensorFlow in a new virtual environment and check if it works. Thanks!

[2021-03-15 16:11] amahendrakar commented on #47798
@krishdb38,
Please try limiting GPU memory growth using any of the methods listed in [this guide](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and check if it helps.

Also, take a look at issues [#47008](https://github.com/tensorflow/tensorflow/issues/47008#issuecomment-780018347) [#47411](https://github.com/tensorflow/tensorflow/issues/47411#issuecomment-786204681) with a simi

[2021-03-15 16:18] amahendrakar commented on #47750
@LukeBolly,
In the given code snippet, you have defined the functions but are not calling them anywhere. Without a reproducible code, it would be difficult for us to debug the issue.

In this case, could you please provide a dummy code to reproduce the issue reported here? Thanks!

[2021-03-15 16:20] bgcgh commented on #47794
Hello Abhilash,

thank you for looking into the issue. It causes a real problem because if a downgrade is necessary that involves a requirement of certain libraries (such as libcublas.so.10, libcusolver.so.10, libcusparse.so.10) from CUDA 10.

OS Ubuntu 20.04

Tensorflow 2.4.1 installed via pip3

Python 3.8

CUDA 11.1.1/cuDNN8

GPU GeForce GTX 1660 Super, 6 GB DDRAM

The python code has been worki

[2021-03-15 16:24] amahendrakar commented on #47802
@BrianC42,
You can safely ignore the warnings and suppress the messages by changing the log level at the start of the program
[code]

or you can set the [autograph verbosity](https://www.tensorflow.org/api_docs/python/tf/autograph/set_verbosity
) level using the below the below code

[code]

Also, please take a look at similar issues [#46582](https://github.com/tensorflow/tensorflow/issues/46582#i

[2021-03-15 16:35] srjoglekar246 commented on #47595
@fonghyalex

1. Your checkpoint path to `export_tflite_graph_tf2` seems wrong. It should be `Model/ssd_mobilenet_v2_320x320_coco17_tpu-8/checkpoint` ?

2. Not sure if you can convert TF2 with quantization like that. Can you try `tflite_convert` without all the quantization parameters, and see things work on float? If yes, then the quantization params might not work. I usually use the [Python API](

[2021-03-15 16:42] amahendrakar commented on #47163
@snigdhasen,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there.

Please feel free to close the issue if the original error is resolved. Thanks!

[2021-03-15 16:47] fonghyalex commented on #47595
@srjoglekar246

Thank you for your message. I am sorry that I forgot to mention that I have successfully converted the TensorFlow model to tflite and it is working fine on the Java application.

For the post quantization part, may I ask if the correct flow is that the model has to be first quantized, then convert to the tflite format? After post-quantization, I can then add all the quantization pa

[2021-03-15 16:54] amahendrakar commented on #47469
@JCL823,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/42542#issuecomment-719675550) from a member of the TensorFlow team from similar issue [#42542](https://github.com/tensorflow/tensorflow/issues/42542). Thanks!

[2021-03-15 16:55] lminer commented on #47599
@aaudiber any idea on how to fix this?

[2021-03-15 16:56] amahendrakar commented on #47549
@anilnishad19799,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-03-15 16:58] srjoglekar246 commented on #47595
you need to quantize while converting. See the documentation for Python API I linked.

[2021-03-15 17:06] saurabh-biradar commented on #35809
Can I fix this issue

[2021-03-15 17:08] cclauss commented on #44485
_Explicit is better than implicit..._`python3.9 -m pip install xyz`

[2021-03-15 17:24] mihaimaruseac commented on #47782
The official pip packages that we build are for x86_64. For ARM, you have to build from source.

[2021-03-15 17:26] rmothukuru commented on #23216
@sytham,
This issue has been resolved. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/cf5a882c7db7df102219ac74d8bb7b52/gh_23216.ipynb) of the working code. Thanks!

[2021-03-15 17:30] mdanatg commented on #46533
That's correct, if you need to save or export the model, then py_function is not an option.

If the list of loaded estimators is static (i.e. you load it once, and doesn't ever change without re-saving the model), then this can be done using [tf.switch_case](https://www.tensorflow.org/api_docs/python/tf/switch_case). The restriction is that you need to write things as tensor-in, tensor-out functio

[2021-03-15 17:30] mihaimaruseac commented on #47782
We are not able to provide ARM binaries at the moment. The earliest would be next year after we get all the needed infrastructure and head count.

[2021-03-15 17:33] rmothukuru commented on #23393
@zh794390558,
Sorry for the delayed response.

Can you please let us know the use cases for the new APIs that you have requested? Thanks!

[2021-03-15 17:48] mdanatg commented on #46177
It appears that transformers is using some extensions that aren't compatible with autograph. At any rate, transformer itself should still be compatible with tracing, which still runs in graph mode. So I recommend writing something like this, which should be enough to clear the autograph warnings without other issues:

[code]

After running it that way, I see two other warnings remaining, which mig

[2021-03-15 17:49] amahendrakar commented on #47561
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6a32ac9fcb448df77c53f4d38413b3a6/47561.ipynb#scrollTo=-FwYKenh34En). Thanks!

[2021-03-15 18:06] MarkDaoust commented on #35809
Yes. I'm not sure what's broken with that other PR, a clean resubmit would be easy to merge.

[2021-03-15 18:54] alexmil2019 commented on #47787
[code]

Here is the output of profiler in prediction/inference mode:
[code]

[2021-03-15 18:55] #47381 closed

[2021-03-15 18:55] #47403 closed

[2021-03-15 18:59] jvishnuvardhan commented on #47714
@wangteng200000318 I tried on my Mac and colab with `tf-nightly` and `TF2.4`. Didn't see any issue with `Python3.7`.

As you mentioned that you had used `Python3.8`, Can you please try with `Python3.7` and let us know whether the issue persists there. Thanks!

[2021-03-15 19:10] ShyamSundhar1411 opened #47824 "Pip installation issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-03-15 19:13] rllin commented on #42616
I also see this on 2.3 and 2.4.  It looks worse on 2.4 for me.

A lot of the marginal memory growth comes from eval steps for me.

See this for a long run with a reasonable eval frequency.  Note that at each eval, the memory peaks a bit and does not return to the original amount of memory.
![image](https://user-images.githubusercontent.com/1923997/111208126-9c0b5680-8587-11eb-8cf2-2ce2bd27d546.png

[2021-03-15 19:27] bzamecnik commented on #22098
As @btaba shows in http://blog.tabanpour.info/projects/2018/09/07/tf-docker-kube.html it's a problem of over-comitting threads to limited CPU resources, typically in docker or k8s. Both inter & intra thread count should be set to fit within the CPU limit. A detection routine is available in the article above but could be adapted to better handle for fractional CPU limits.

[2021-03-15 19:30] fabianscode commented on #43174
Same worked for me on 2070 Super tf 2.4.1
Thanks

[2021-03-15 19:32] scchess commented on #42387
Tensorflow no longer supports Mac OSX. This error message will come up while running Tensorflow on Mac OSX.

[2021-03-15 19:55] #47427 closed

[2021-03-15 20:05] #47570 closed

[2021-03-15 20:42] Zakria96 commented on #22480
line 83, in parse_saved_model
    constants.SAVED_MODEL_FILENAME_PB))
OSError: SavedModel file does not exist at: exported_output_graph/saved_model/saved_model.pb/{saved_model.pbtxt|saved_model.pb}

I am using faster_rcnn_inception_v2_coco model and want to convert it into tflite...

import tensorflow as tf

tflite_model_name="TF.lite"
saved_model_dir="exported_output_graph/saved_model/saved_model

[2021-03-15 20:53] Zakria96 opened #47827 "ValueError: None is only supported in the 1st dimension. Tensor 'image_tensor' has invalid shape '[None, None, None, 3]'"
I am using faster_rcnn_inception_v2_coco model and want to convert it into tflite...
import tensorflow as tf

tflite_model_name="TF.lite"

saved_model_dir="exported_output_graph/saved_model/saved_model.pb"
#Convert the model
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir) # path to the SavedModel directory
tflite_model = converter.convert()
with open(tflite_model_name, 'wb')

[2021-03-15 21:29] yuefengz commented on #42616
Is the memory problem still there if you remove `validation_data`?

[2021-03-15 21:33] 0x0badc0de commented on #39167
Still the case with TF 2.4.1.
Local dir - no trailing slashes
s3 bucket - no trailing slashes
gcs bucket - WITH trailing slashes

[2021-03-15 22:12] abattery commented on #47827
Could you try the conversion with the recent TF version? TF 1.14 is too old to be supported.

[2021-03-15 22:21] nikitamaia commented on #40402
Hi @csxeba, have you seen the [Customize what happens in Model.fit ](https://www.tensorflow.org/guide/keras/customizing_what_happens_in_fit) guide?

[2021-03-15 22:23] Arjun-NA commented on #47334
Hi,

We solved the error by adding the missing opcodes in the IMX microcontroller software part.

It was not the error of TensorFlow but of the target.

Thank you,
Arjun.

[2021-03-15 22:26] nikitamaia commented on #39816
Hi @breadbread1984, sorry for the late response here. I'm not seeing the `tf.keras.backend.ctc_batch_cost` symbol in 2.4
Let me know if I'm missing something, or if we should close this issue.

[2021-03-15 22:33] rllin commented on #42616
much slower growth if any at all after a similar ~30 mins
![image](https://user-images.githubusercontent.com/1923997/111229803-cf5bde80-85a3-11eb-9921-99bc0562b1e5.png)

[2021-03-15 22:35] nikitamaia commented on #33757
Hi @sayakpaul, late response here, but does the[ Save checkpoints during training](https://www.tensorflow.org/tutorials/keras/save_and_load#save_checkpoints_during_training) section of the guide provide adequate information?

[2021-03-15 22:35] markstrefford opened #47829 "Conv2D output not compatible with ZeroPadding3D input"
I need to zero pad outputs of multiple CNN layers in order to concatenate them together as input to another layer.

A simple way to demonstrate this is:

[code]

This fails on the output of the CNN layer, irrespective of what values I provide for padding.

The error I get is:

[code]
I have looked at the example of ZeroPadding2D and this appears to work OK [in the Pix2Pix example](https://www.tens

[2021-03-15 22:41] Zakria96 commented on #47827
I tried the newer version then got this error
KeyError: "The name 'prefix/FirstStageFeatureExtractor/Assert/Assert:0' refers to a Tensor which does not exist. The operation, 'prefix/FirstStageFeatureExtractor/Assert/Assert', exists but only has 0 outputs."

[2021-03-15 22:44] abattery commented on #47827
@Zakria96 It is really impossible to reproduce without having enough information. Could you create a gist or share your minimal steps to reproduce your problem at our side?

[2021-03-15 23:23] JackRyan4444 opened #47831 "'Windows fatal exception: access violation' with tensor flow object detection"
Hi, so I am trying to create a custom object detector for myself and am using this guide:https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html#training-the-model. As I am new to this I have followed all instructions to a T. However when I try to train my model with
`python model_main_tf2.py --model_dir=models/my_ssd_resnet50_v1_fpn --pipeline_config_path=models/my

[2021-03-15 23:29] terryheo commented on #47710
The script tensorflow/tools/ci_build/ci_build.sh invokes a Docker container so you should use it from your Docker host machine. (in your macOS)
Depending on your target Python version, you'll use PY, PI-PYTHON37, PI-PYTHON38 container. And these container has a proper script to install CMake.

Please run [these commands](https://www.tensorflow.org/lite/guide/build_cmake_pip#build_examples) on your

[2021-03-15 23:34] renjie-liu commented on #47813
Yes, the reset variable call is expected, the lstm kernel in tflite is stateful (meaning the states will be mutated and stayed there so you don't need to copy and pass in again).

[2021-03-15 23:54] attardi opened #47832 "Bazel build fails downloading sqlite-amalgamation-3340100.zip"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubunto 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2
- Python version: 3.8
- Installed using: pip
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): gcc-14
- CUDA/cuDNN version: no
- GPU model and memory: no

**Describe the

[2021-03-15 23:57] charmasaur commented on #27492
Came up with a workaround, in case anybody else needs it. Trick is to only let the custom gradient machinery get access to a weak reference to your actual gradient function (and any subsequent objects captured in its closure). Note that to avoid the gradient function then getting GC'd too *early* we also need to keep a strong reference around for the lifetime of the graph, which we can do with a g

[2021-03-16 01:02] #33757 closed

[2021-03-16 01:13] bkirwi commented on #47804
@renjie-liu - I've updated the notebook, and can confirm that with fixed input shapes it is now linear, and quite a bit faster in absolute terms.

First: thanks very much for the pointer! I believe this unblocks my application.

Is the quadratic behaviour of the unoptimized case expected / is that something that could be fixed?

[2021-03-16 01:22] joker-eph commented on #47680
At the moment, TensorFlow is revision-locked with LLVM, there is no guarantee that you can build TensorFlow with any other revision that the one specified in the workspace.bzl. We upgrade to the top of the main LLVM branch almost every day, sometimes multiple times per day.

The LLVM_COMMIT mentioned in the doc has been refactored an is now in third_party/llvm/workspace.bzl ; the instructions are

[2021-03-16 01:36] wangteng200000318 commented on #47714
Because I use M1 chip Mac, my development environment may not allow me to use Python 3.7. If I use **Python3.7**, I will fail to configure the environment and there will be a number of errors indicating that the installation failed. My process of configuring the environment is looking at this [tutorial](https://towardsdatascience.com/tensorflow-2-4-on-apple-silicon-m1-installation-under-conda-envi

[2021-03-16 01:55] krishdb38 commented on #47798
I am trying to find a solution.
searching solution
Thank you
@amahendrakar

[2021-03-16 01:55] #47330 closed

[2021-03-16 02:15] #47737 closed

[2021-03-16 02:40] terryheo commented on #47737
Now you can configure it as following.
[code]

[2021-03-16 02:54] rllin commented on #42616
seeing a less drastic growth from `MirroredStrategy` but still the bumps from eval

so likely two separate problems

![image](https://user-images.githubusercontent.com/1923997/111248990-37bcb700-85c8-11eb-8302-74b85e684833.png)

[2021-03-16 03:00] DanielMao2015 opened #47834 "error about Kernel8bitNeonDotprodOutOfOrder occurs when running int8 CPU inference by tflite"
------------------------

### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: on mobile
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:  under-release yet, the platform is Qualcom SM4350
-   *

[2021-03-16 03:18] abattery commented on #47834
@DanielMao2015  Could you try your code with the recent TF version? TF 2.0.0 is too old to be supported.

[2021-03-16 03:20] fonghyalex commented on #47595
@srjoglekar246

Thank you for your prompt reply.

I will follow the documentation to perform the quantization. Huge thanks!

As the issue in the title is solved now, I am going to close this issue. Thanks everyone!

[2021-03-16 03:20] #47595 closed

[2021-03-16 03:32] DanielMao2015 commented on #47834
@abattery As you said, I will test with the recent version, and will close the issue if no bug occurs

[2021-03-16 03:39] adriangb commented on #44670
Hi any updates here? I believe this is a major bug. If a user saves a model and loads it they will get unexpected results with no errors.

[2021-03-16 04:34] sanjoy commented on #47721
I'm not too familiar with the C API, @agarwal-ashish do you know what's going on here?

[2021-03-16 04:53] Saduf2019 commented on #47642
@zenogantner
Thank you for submitting the pr,the issue will closed once the pr is merged.

[2021-03-16 05:03] jestingeorgejacob1 commented on #47640
Hi @teijeong,  yes, it increases for every inferences. For my use case I am initialising the interpreter once and running the inference with same interpreter multiple times say about 200+ times. The memory keeps increasing by 5MB on every inference. I tried with the tflite model in style transfer iOS app by running it in a forloop and it seems to be increasing memory.
Is there a way to release the

[2021-03-16 05:07] Saduf2019 commented on #47824
@shyamdsundar
Please refer to this resolved issues: #47365, #47140, #44656 and verify your system and pip requirements.

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-16 05:07] rkuester commented on #45306
Finished by PR #45647 in 3eacc39.

[2021-03-16 05:07] #45306 closed

[2021-03-16 05:09] Saduf2019 commented on #47831
@JackRyan4444

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

[2021-03-16 05:15] Saduf2019 commented on #47816
@nicolaspi
I ran the code shared, please refer to the [gist](https://colab.research.google.com/gist/Saduf2019/1f0c20e4a980dcc01aff9d70b15c4c60/untitled563.ipynb) and confirm.

[2021-03-16 05:18] #47638 closed

[2021-03-16 05:33] LucasColas commented on #47776
How can I send the dataset ? It's a very large folder

[2021-03-16 05:34] multiverse-tf commented on #44043
Thx for the verification! Regarding the small issue you mentioned, just checked in https://github.com/tensorflow/tensorflow/commit/fafba9e833f963bbb8f434f9e0f3f6f557d60d5d to fix it. Note that we've decided to change OpResolver to OpResolverType so that it's more clear semantically. Let me know if there're any other issues.

[2021-03-16 05:43] thunguyenth commented on #43030
@king398: as @sanjoy said, you can create a copy of the file "cupti64_2020.1.1.dll" (which is already in the folder CUPTI) and then change the file's name to "cupti64_110.dll "

[2021-03-16 05:54] ShiningDeadFishEyes commented on #44574
Hi,sorry to bother you ,but I was trying to compile tensorflow 1.15 with 3090 and cuda11.0 ,however the script report that it could not found libcurand.so.11. I tried to find "libcurand" with find /usr/local -type f | grep libcurand , but I found libcurand.so.10 instead of 11 in cuda11 folder. Have you encountered this problem？ Or could you plz list what did you do to   built 1.15.4 successfully?

[2021-03-16 06:03] Saduf2019 commented on #47819
I am able to reproduce this issue on tf 2.3, 2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/8c0a1907110db7311a310579b73f4b78/untitled563.ipynb).
Thanks!

[2021-03-16 06:07] Saduf2019 commented on #47702
@NEGU93
i ran the script shared on tf 2.3,2.4 and nightly, please refer to [this gist](https://colab.research.google.com/gist/Saduf2019/4bb39d011175bd41ceccdfac44b93651/untitled564.ipynb) and confirm.

[2021-03-16 06:09] Saduf2019 commented on #47787
@alexmil2019
I ran the code shared and there is no output, please share a colab gist with the issue reported.

[2021-03-16 06:11] Saduf2019 commented on #47642
Thank you for the pr, this issue will be moved to closed status once the pr is merged.

[2021-03-16 06:34] innat commented on #47544
@jvishnuvardhan
Here we described in details of this issue with reproducible  code. Please check and respond. We like to close this iissue.

https://stackoverflow.com/questions/66513819/obtain-the-output-of-intermediate-layer-functional-api-and-use-it-in-subclasse

[2021-03-16 06:47] halhwadi opened #47836 "issue with multi objects detection (using ssd_resnet50_v1_fpn_640x640_coco17_tpu-8)"
**System information**

- Colab (GPU runtime)

**Describe the current behavior**
I'm trying to modified  this [notebook ](https://github.com/tensorflow/models/blob/master/research/object_detection/colab_tutorials/eager_few_shot_od_training_tflite.ipynb)to detect multi objects(2 objects) instead of one object, I have modified  the "gt_boxes_list" and "gt_classes_list" so both have (2,4) and (2,2) s

[2021-03-16 06:47] #47787 closed

[2021-03-16 06:47] alexmil2019 commented on #47787
fixed.

[2021-03-16 07:01] nicolaspi commented on #47816
I confirm. It is also worthy to note that with the successful build the lambda is run in eager mode and can be debugged.

[2021-03-16 07:15] aks2193 commented on #47479
I am getting the same error with tf 2.4.1
Wanted to know is this just an issue with warning message or if I load the model from the saved checkpoint then will it cause issues with predictions

[2021-03-16 07:17] rmothukuru commented on #47561
@maurodlt,
As the error suggests, can you please use `tensor.ref()` as shown in the [Example Code of tensor.ref()](https://www.tensorflow.org/api_docs/python/tf/Tensor#ref) and see if the error still persists? Thanks!

[2021-03-16 07:18] renjie-liu commented on #47804
That one seems to be the unfused case.

Haoliang may help take a look? thanks!

[2021-03-16 07:26] rmothukuru commented on #47564
@LutzWeischerFujitsu,
With respect to your question,

There is no difference with respect to `Installation` of `Tensorflow` if we have `GPU` or don't have a `GPU`.

So, you can proceed with `pip3 install tensorflow`.

[2021-03-16 07:55] #47492 closed

[2021-03-16 07:55] #47486 closed

[2021-03-16 08:15] yichenj commented on #44711
Hi, I am wondering what this mean? Cannot solve the OOM issue even if using model.__call__ directly ?
What is the workaround for this problem?

[2021-03-16 08:41] rmothukuru commented on #47819
@kiflowb777,
Can you please confirm if you are trying to Migrate the Code from `Tensorflow 1.x` to `2.x`? If not, can you try `decorating` your `Code` with `tf.function` instead of `tf.compat.v1.disable_eager_execution()` and check if the issue persists? Thanks!

[2021-03-16 08:42] Zakria96 commented on #47827
I am training my own object detection(rgb) model by using predefined faster_rcnn_inception_v2_coco... and I have successfully completed my training and created my frozen_inference_graph from the checkpoints..now I want to convert my model into TFlite.

To find the input , output array name and tensor shape  required  to convert .pb file into .tflite file using python script below.

import tensorfl

[2021-03-16 08:55] rmothukuru commented on #23469
@bclayman,
Sorry for the delayed response. Can you please confirm if your issue is resolved?

Also, the argument, `steps_per_epoch` is not Mandatory. So, you can try leaving it empty and the value will be derived as stated below, in the [Documentation of Model.fit (steps_per_epoch)](https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit):

[2021-03-16 09:09] IanRDavies commented on #37252
I just had a quick review with the latest versions of TensorFlow. The behaviour in TensorFlow versions 2.3.2 and 2.4.1 is consistent with observations in past versions. The issue still exists.

[2021-03-16 09:15] rmothukuru commented on #23709
@shijie001,
Can you please let us know if the issue still persists? If so, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-03-16 09:23] rmothukuru commented on #24009
@autoih,
Sorry for the delayed response. As per this comment, [this Layer](https://github.com/keras-team/keras/pull/9898#issuecomment-380590161) might not be very useful. It has not attracted the attention of the Developers from the Community as well.

If you feel this functionality is still relevant, please feel free to raise a PR. Thanks!

[2021-03-16 09:30] AiaHaruv commented on #46533
@mdanatg - got it, thank you!

[2021-03-16 09:30] #46533 closed

[2021-03-16 09:39] ArthurShen8118 commented on #46837
May I ask what do you means about ubuntu fresh install and update bazel?

Can you break them into the detail, thanks

[2021-03-16 09:49] Sayaka91 commented on #39240
Did you fixed this error? I'm having the same error

[2021-03-16 10:02] Saduf2019 commented on #47816
@ymodak
I am able to replicate the issue reported on tf 2.3,2.4 ad nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/19e2d3271b93ef10c9c5799123bb449c/untitled564.ipynb).

[2021-03-16 10:08] Saduf2019 commented on #47836
@halhwadi
Please provide access to the colab note book shared.

[2021-03-16 10:14] kiflowb777 commented on #47819
@rmothukuru
Yes, I used a script for migration, training and solution work well, but the problem appears when loading the model from json.
My project is based on a **MaskRCNN** that requires the use of a ```tf.compat.v1.disable_eager_execution()```,  without it a training does not work.
With ```tf.function``` MaskRCNN doesn't work.
https://github.com/matterport/Mask_RCNN

[2021-03-16 10:14] halhwadi commented on #47836
Sorry find the link to the`[ shared notebook](https://colab.research.google.com/drive/1l8e2LcPmnDAlf8r54ltC7kkTb70WbpyP?usp=sharing)`

[2021-03-16 10:17] kiflowb777 commented on #47309
I wrote a shorter code to reproduce the issue:
[code]

[2021-03-16 10:29] maurodlt commented on #47561
Hi @rmothukuru,
I cannot because this error occurs inside the tf.train.Checkpoint.read function and I do not have control of the tensor that should be used with 'tensor.ref()'. The only parameter that is passed to this function is the name of the file that it should read.

My Checkpoint object is defined as tf.train.Checkpoint(step=self.variables), the same construction used on the tf.train.Checkp

[2021-03-16 10:30] rmothukuru commented on #24079
@unrealwill,
Sorry for the delayed response. Can you please confirm if this issue still persists? Thanks!

[2021-03-16 10:30] abattery commented on #47827
Is it possible to share your frozen graph file to us? Or can you create a colab to reproduce the issue easily?

[2021-03-16 10:34] rmothukuru commented on #24296
@ASDen,
Can you please refer to [this comment](https://github.com/tensorflow/tpu/issues/236#issuecomment-437128153) where the similar issue has been resolved? Thanks!

[2021-03-16 10:36] amahendrakar commented on #47829
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/02297354e15b5036f1b88a48c117ffaf/47829.ipynb). Thanks!

[2021-03-16 10:41] rmothukuru commented on #24319
@eega,
Sorry for the delayed response. Can you please confirm if the problem still persists? Thanks!

[2021-03-16 10:46] rmothukuru commented on #24328
@austinmw,
Can you please confirm if above comment helped you to resolve your issue? Thanks!

[2021-03-16 10:49] amahendrakar commented on #47249
@lmocsi,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet so that we can reproduce the issue on our end.

Also, try limiting GPU memory growth using any of the methods listed [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and check if it helps.

Thanks!

[2021-03-16 10:52] amahendrakar commented on #47002
@RarDay,
Any updates regarding this issue?

Please feel free to close the issue if resolved. Thanks!

[2021-03-16 10:53] rmothukuru commented on #24641
@fgr1986,
Sorry for the delayed response. Can you please confirm if the issue still persists? If so, please provide a reproducible code so that we can look into it.

Please refer to the latest [Documentation of Relu Activation function](https://www.tensorflow.org/api_docs/python/tf/keras/activations/relu) and the [Documentation of Quantize](https://www.tensorflow.org/api_docs/python/tf/quantizatio

[2021-03-16 11:02] attardi commented on #47832
I downgraded to bazel 3.1.0 and switched to v2.4.1 and it worked:

    sudo apt install bazel-3.1.0
    git checkout tags/v2.4.1

[2021-03-16 11:02] #47832 closed

[2021-03-16 11:07] Tshi90 opened #47837 "constants.SAVED_MODEL_FILENAME_PB)) OSError: SavedModel file does not exist at: /home/pi/Downloads/tf_lite_model.h5/{saved_model.pbtxt|saved_model.pb}"
I faced this problem when I wanted to import the pre-trained model to my rpi 3b+. I saw there are some similar issues but neither of them works for my case. Pls help me out!!

constants.SAVED_MODEL_FILENAME_PB))
OSError: SavedModel file does not exist at: /home/pi/Downloads/tf_lite_model.h5/{saved_model.pbtxt|saved_model.pb}

^ this is the error.

[2021-03-16 11:13] tgamauf commented on #24319
Sorry, no, I'm not in the position anymore to verify that issue.

[2021-03-16 11:55] #43591 closed

[2021-03-16 12:21] dbolser commented on #45930
Thanks for this. What package did you subsequently install?

[2021-03-16 12:35] yiannisEfth commented on #47725
@jvishnuvardhan Already made a PR for this(?)

[2021-03-16 12:36] vandenheuvel commented on #45063
@nikitamaia this is unambiguously a reproducible bug, could you reapply the label?

[2021-03-16 12:36] jannehlamin commented on #46475
@jan-x-marek, Thanks for saving my time.

[2021-03-16 12:43] Zakria96 commented on #47827
yeah I can....How should I send it...

[2021-03-16 12:46] AbhisekOmkar commented on #47820
GPU: Nvidia Jetson Nano NVIDIA Maxwell architecture with 128 NVIDIA CUDA® cores
CUDA: 11.2
CODE: https://github.com/Project-SwaG/IGVC_ConeDetectionScript

[2021-03-16 12:55] #47501 closed

[2021-03-16 13:08] LucasStromberg opened #47838 "Compressed pruned model is the same size as compressed baseline model"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**:
Code from pruning documentation:
https://www.tensorflow.org/model_optimization/guide/pruning/comprehensive_guide

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10

-   **TensorFlow installed from (source or binary)**:
Anaconda Navigator

-

[2021-03-16 13:27] abattery commented on #47838
Fyi @daverim

[2021-03-16 13:29] abattery commented on #47827
You can share the file through a google drive link or something else.

[2021-03-16 13:34] Saduf2019 commented on #47837
@Tshi90
please share simple stand alone code to replicate the issue reported or a colab gist.

[2021-03-16 13:52] amahendrakar commented on #47583
@junneyang,
Thank you for the update. Could you please go through the below links regarding

- [Dataset sharding](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#dataset_sharding)
- [Autosharding](https://www.tensorflow.org/tutorials/distribute/input#sharding)

and let us know if it helps. Thanks!

[2021-03-16 14:03] #47741 closed

[2021-03-16 14:04] John-8704 commented on #47764
To solve the KeyError: 'CaseFoldUTF8', please install and import tensorflow_text library because it is required to use preprocess layer. Make sure to import tensorflow_text before tensorflow.

[2021-03-16 14:06] hyperfraise commented on #32796
For me, it's video classifiction and temporal detection.

[2021-03-16 14:13] Shamino0 commented on #47737
This doesn't solve the problem.  The default number of jobs is still unlimited, which means anybody following the instructions on the web page (https://www.tensorflow.org/lite/guide/build_cmake_pip) will hit the same problem.

Allowing the user to specify the number of jobs on the command line is a workaround, not a solution.  The script needs to do what most of the other build scripts do and set

[2021-03-16 14:13] NEGU93 commented on #47702
Yes, this is it. You can see that when I get at least some `True` (Not all of them but maybe due to rounding errors) is by comparing the gradient to:
`(i_w - f_w) * BATCH_SIZE / 0.01`. You can change `BATCH_SIZE` to verify this is not a case for a specific number.

[2021-03-16 14:22] amahendrakar commented on #47587
@div3125,
You will most likely face errors while building the package since TF v2.4 was intended to be built with CUDA 11.0.

In this case, is it possible for you to update the NVIDIA driver on your machine?

Also, CUDA 11.2 support is already being tracked in issue [#47568](https://github.com/tensorflow/tensorflow/issues/47568).

Thanks!

[2021-03-16 14:32] Shamino0 commented on #47737
May I suggest this change as a more proper fix.

Near the top of the file:

    NUM_CPUS=$(grep -c ^processor /proc/cpuinfo)

In the cmake line:

    cmake --build . --verbose -j ${BUILD_NUM_JOBS:-$NUM_CPUS} -t _pywrap_tensorflow_interpreter_wrapper

[2021-03-16 14:37] lmocsi commented on #47249
I was using code from here:
   https://www.pyimagesearch.com/2018/04/16/keras-and-convolutional-neural-networks-cnns/

The only difference was, that in class SmallerVGGNet, I added some extra layers (duplicating some existing ones).

[2021-03-16 14:45] longyuz0426 commented on #39240
Hi, I have the same problem. I tried to run de keras frcnn in my machine with TF2.4.1

[2021-03-16 14:55] yann-pourcenoux commented on #46285
@RenoLooijmans May I ask you which TF version you are using? I am currently on TF 2.4.1 and I still have the `error: 'tf.Size' op is neither a custom op nor a flex op` when trying to convert to TFLlite the `tf.meshgrid` function

[2021-03-16 14:59] Shamino0 commented on #47738
This change doesn't fix the problem.  The metrics_portable.py file also has a dependency on tensorflow.  It includes the following line:

    from tensorflow.lite.python import metrics_interface

Which breaks on Raspberry Pi.

[2021-03-16 15:04] RenoLooijmans commented on #46285
@yann-pourcenoux I am using TF-nightly builds now as they appear to work better for me. After I trained a model I use both export_tflite_graph_tf2.py (models/research/object) and convert_to_tflite_v2.py which contains the following code below:

`import tensorflow as tf

saved_model_dir = "C:/Users/xxxxx/Documents/TensorFlow/workspace/training/exported-models/model_lite/saved_model/"

# Convert the

[2021-03-16 15:12] amahendrakar commented on #47597
@ymodak,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/c980b54c4b3d0a8990630585cb362775/47597.ipynb). Thanks!

[2021-03-16 15:20] impjdi commented on #47640
We're using this on production (ObjC) and memory doesn't seem to increase.  Could it be that there is something leaking in Swift integration?  Unfortunately, I have never used Swift myself, and can't tell.

As @teijong said, providing the model file & the actual code snippet on how you use should help diagnosing the issue.

[2021-03-16 15:23] amahendrakar commented on #47602
@LucasColas,
Support for CUDA 11.2 is being tracked in issue [#47568](https://github.com/tensorflow/tensorflow/issues/47568).

As mentioned in the previous comment, could you please try running the code either with

**TensorFlow v2.3**, **CUDA 10.1** and **cuDNN 7.6**

or

**TensorFlow v2.4**, **CUDA 11.0** and **cuDNN 8.0**

Thanks!

[2021-03-16 15:26] #31800 closed

[2021-03-16 15:48] g19fanatic commented on #31800
I am confused as to what was done to fix this and why my issue was closed?
https://github.com/tensorflow/tensorflow/pull/31803/files
So instead of merging in my PR, you do the same thing (but in less places?).
Why couldn't this have been merged over a year ago if you were just going to do the same thing?

[2021-03-16 15:50] Zakria96 commented on #47827
You can find my frozen graph  here:
https://drive.google.com/file/d/1jKYaZCnqqkfTR4JDZUSFFe8x485c8kz1/view?usp=sharing

[2021-03-16 15:51] div3125 commented on #47587
My bad, I typed CUDA 11.2 by mistake, I actually meant 11.0. I can't update the NVIDIA driver because it will break compatibility with other TensorFlow installations on the system. If there is no other solution then I will close the issue.

[2021-03-16 15:55] #47447 closed

[2021-03-16 15:56] aaudiber commented on #47599
Sorry, not familiar with experimental_compile. Reassigning to @cheshire who may have more insight about what causes the error.

[2021-03-16 16:01] mansnils opened #47841 "Renode download fails from time to time"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):

**Describe the problem**
In our CI we have seen that the Renode download fails sometimes. There are no clues to why. Not a big deal as it us

[2021-03-16 16:27] jpienaar commented on #47516
Discussed via email:

%0 = mhlo.constant dense<-1> : tensor<1xi32>
%1 = tensor.cast %0 : tensor<1xi32> to tensor<1xi32>
%2 = "mhlo.dynamic_reshape"(%arg0, %1) : (tensor<?xi32>, tensor<1xi32>) -> tensor<?xi32>
%3 = shape.shape_of %2 : tensor<?xi32> -> tensor<?xindex>

resulted in wrong result in canonicalization https://github.com/tensorflow/tensorflow/blob/e0c681c5c738d8898fd698fc9d27e31c1471b993/

[2021-03-16 16:36] nicochidt commented on #47728
I don't see this moving forward soon, so in case anyone has the same problem, this is an ugly trick to make the generator work:

[code]

[2021-03-16 16:36] mihaimaruseac commented on #31800
There are internal fixes in parallel with these ones that didn't get exposed.

Also, a year ago there were more files that needed change but they got replaced in the meanwhile.

There is one more public change to arrive, was delayed by a broken test.

[2021-03-16 16:37] nikitamaia commented on #45063
Hi @vandenheuvel, yes sorry about that. I got this issue confused with another one :) Added the bug label back.

[2021-03-16 17:28] MarkDaoust commented on #44711
4.0

That 1 tensor is 4GB. Have you tried a smaller batch size?

[2021-03-16 17:43] henryjcee opened #47843 "Having trouble with merge conflicts? Use Merge Mamba for free, forever"
Shameless plug warning: I'm responsible for developing [Merge Mamba](https://mergemamba.com).

I've seen a few cases of people having to juggle their pull requests around each other and I really think for a big project like Tensorflow, Merge Mamba could be helpful for letting people know when they're working on code that conflicts with changes in other branches.

Merge Mamba is free forever for op

[2021-03-16 17:47] owni1337 commented on #40261
Hi,

i got a Problem with the returnValue from model(xxx, training=False).
I have a working Program with predict.

`valueRed    = float(col.r)
valueGreen  = float(col.g)
valueBlue   = float(col.b)
data = np.array([[valueRed/255, valueGreen/255, valueBlue/255]])
result = model.predict(data, batch_size=32)
index = result.argmax(1)
return (labelList[int(index)])`

The Result is a numpy:
[[1.8138054e-

[2021-03-16 17:50] amahendrakar commented on #47652
@Patrick-devX,
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-03-16 18:08] himaniyadav commented on #42978
Which __init__.py should you edit?
I know to comment  `_site_packages_dirs += [] if _site.USER_SITE is None else [_site.USER_SITE]` this out but in which version of tensorflow, the one in the venv?

[2021-03-16 18:31] rrklearn2020 opened #47845 "@amahendrakar, I did check this link (before raising the support request), some changes are made, but still, there are errors. I have attached the ipynb file. Please support."
@amahendrakar, I did check https://www.tensorflow.org/guide/migrate  (before raising the support request), some changes are made, but still, there are errors. I have attached the ipynb file. Please support.

_Originally posted by @rrklearn2020 in https://github.com/tensorflow/tensorflow/issues/47742#issuecomment-797540614_

[2021-03-16 18:34] amahendrakar commented on #47673
@OliverPfau,
Similiar issue [#45453](https://github.com/tensorflow/tensorflow/issues/45453#issuecomment-768554610) was fixed in the tf-nightly version.

Could you please update TensorFlow and check if you are facing the same issue with TF v2.4.1 and TF-nightly as well? Thanks!

[2021-03-16 18:48] foxik commented on #42978
The issue is fixed in TF 2.4.1 and tf-nightly, so it should be enough to use a new TF.

But if you want to fix it manually, you need to fix the one you are actually importing (which is the one in venv, I suppose).

[2021-03-16 19:27] oqusous opened #47846 "Training BERT for QNLI task - Fitting the model stops after the first Epoch without crash. No warning or error given to understand why it is happening."
my code follows the tensorflow example below very closely:

https://www.tensorflow.org/tutorials/text/solve_glue_tasks_using_bert_on_tpu

My data is in a csv and in total 14000. It has a 'question', 'answer' and 'label' fields. labels are binary 0/1.
The questions and answers are strings. In the code below they are uploaded onto colab via pandas using read_csv and are referred to as train_df, val_

[2021-03-16 19:43] oqusous commented on #47846
I have tried using BinaryCrossentropy instead of SparseCategoricalCrossentropy; varying learning rate (0.001, 10e-4, 2e-5); batch size (16, 32 and 64); num_warmup_steps (lowering it)

[2021-03-16 19:55] #47197 closed

[2021-03-16 20:13] abattery commented on #46285
@yann-pourcenoux you can enable tf.Size op through the select TF option. https://www.tensorflow.org/lite/guide/ops_select

[2021-03-16 20:20] abattery commented on #47845
Pleaae do not create a duplicated issue. It just makes an extra burden who triages the github issue.

[2021-03-16 20:20] #47845 closed

[2021-03-16 20:24] jvishnuvardhan commented on #47725
@yiannisEfth Sorry, I didn't notice that you have already raised a PR.

I looked at the tutorial and noticed the typo you mentioned and updated the tutorial. My PR already merged and `master` version is already updated with the change. You can check the `master` version [here](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/keras/keras_tuner.ipynb). Thanks!

I am closing this issu

[2021-03-16 20:24] #47725 closed

[2021-03-16 20:47] pkanwar23 commented on #47568
Support for Ubuntu has landed in the nightlies (for CUDA 11.2 and cuDNN 8.1).

[2021-03-16 20:48] yiannisEfth opened #47848 "Keras tuner - Missing validation split for model training"
URL with the issue:
https://www.tensorflow.org/tutorials/keras/keras_tuner#instantiate_the_tuner_and_perform_hypertuning

Description of issue (what needs changing):

On the second to last code cell where the hypermodel is re-instantiated and trained with the optimal number of epochs, a validation split parameter on the training set is not defined,as per best practises when fitting a model.

Is th

[2021-03-16 20:50] yiannisEfth commented on #47725
@jvishnuvardhan No probs! Raised a new issue and linked the PR here: https://github.com/tensorflow/tensorflow/issues/47848

[2021-03-16 21:05] haozha111 commented on #47804
The quadratic time was coming from the underlying tensorlist I believe. Currently a TensorListSetItem is written to two concatenation op, it will have O(n) complexity for one single operation (where n is the sequence length). This will be a problem when the sequence length becomes very long in general. And great that fused LSTM is working in this case!

[2021-03-16 21:13] abattery commented on #47827
Could you clarify the names of the input and output tensors of the given frozen graph?

Then you can convert your model with the following code snippet.

[code]

[2021-03-16 21:15] ymodak commented on #47820
Did you build TF from sources to support cuda 11.2?
Also have you tried limiting gpu memory growth? Make sure you close all python sessions and exit python interpreter to free up memory and try running script as:
[code]

[2021-03-16 21:22] ALIANS-PRODUCTIONS commented on #47568
Would do you think it will be possible for Windows 10 as well?

[2021-03-16 21:41] jvishnuvardhan commented on #47714
@wangteng200000318 Did you install [Mac-optimized TensorFlow and TensorFlow Addons](https://github.com/apple/tensorflow_macos)? If yes, please post them in their repo  [her](https://github.com/apple/tensorflow_macos/issues) so that some experts in that repo will resolve your issue.

Support for TF on M1-chip Mac is limited currently due to reasons mentioned [here](https://github.com/tensorflow/ten

[2021-03-16 21:51] ymodak commented on #47662
This is fixed with tf-nightly docs. Thanks!
https://www.tensorflow.org/api_docs/python/tf/linalg/band_part?version=nightly

[2021-03-16 21:51] #47662 closed

[2021-03-16 22:22] ssanderson opened #47849 "C API Binary Release for 2.4.0 Has Invalid Symbol Table"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 (also affects other Ubuntu releases, see below)
- TensorFlow installed from (source or binary): C API binary from https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.4.0.tar.gz
- TensorFlow version: 2.4.0
- GCC/Compiler version (if compiling from source): 9.3.0-17ubun

[2021-03-16 22:33] mhaghighat commented on #47174
@ymodak @jvishnuvardhan Any updates on this issue?

[2021-03-16 22:38] nikitamaia commented on #47503
Hi @rrklearn2020, [have you seen the GPU performance guide](https://www.tensorflow.org/guide/gpu_performance_analysis)? It might be worth trying to profile your training job to try and see what's happening on each GPU at each step.

Additionally, are you also seeing this imbalance if you remove the validation data or callbacks?

As @Saduf2019 mentioned earlier, if you can provide a simpler example

[2021-03-16 22:41] ymodak commented on #47597
Perhaps you can set arg `use_bias=False` in the layers. See [gist](https://colab.research.google.com/gist/ymodak/1bb3d6e68e98b94c00a869ecddd46e6d/untitled17.ipynb).
Thanks!

[2021-03-16 23:00] jvishnuvardhan commented on #47706
@albertonavas99 This issue is more related to `magenta` repo and I see you already opened an issue there. This `tensorflow` repo is more related to bugs and performance related issues in Tensorflow Core.

duplicate https://github.com/magenta/magenta/issues/1899

I am closing this issue as it is more related to `magenta` repo. Please feel free to reopen If I am mistaken. thanks!

[2021-03-16 23:00] #47706 closed

[2021-03-16 23:11] ishaaq commented on #24328
Can't speak for @austinmw but I can say that, while setting `verbose=2` certainly solves the problem in SageMaker specifically but also jupyter consoles in general, as @sonebu mentioned above, it's only a compromise as it solves by simply not emitting progress bars.

The real question here is why the code is treating a non-tty-capable output as a tty-capable output as mentioned in my comment above

[2021-03-16 23:20] #42883 closed

[2021-03-16 23:42] ymodak commented on #42916
Is this still an issue? For others who are still facing this issue can you please post a new issue with small reproducible example? Thanks!

[2021-03-16 23:45] MeghnaNatraj commented on #42079
UPDATE:

With the latest TF Nightly build, conversion works directly without having to update the model

[code]

*Note: The model 'tf.ConcatV2' op which is not available in TFLite but it is defined in TF. See instructions: https://www.tensorflow.org/lite/guide/ops_select, which provides details on how you can run inference on this model.*

[2021-03-16 23:46] MeghnaNatraj commented on #43495
UPDATE:

With the latest TF Nightly build, conversion works directly without having to update the model

[code]

*Note: The model 'tf.ConcatV2' op which is not available in TFLite but it is defined in TF. See instructions: https://www.tensorflow.org/lite/guide/ops_select, which provides details on how you can run inference on this model.*

[2021-03-16 23:48] ymodak commented on #46483
Closing this issue since you have found workaround. Feel free to reopen if facing further problems with latest tf version.
Thanks!

[2021-03-16 23:48] #46483 closed

[2021-03-17 00:14] ymodak commented on #46502
Is this still an issue?

[2021-03-17 00:18] LukeBolly commented on #47750
One of my functions uses tf.range which has a delta parameter so I think that was the cause. It would be nice if the iterator logged which op it was actually failing at though I guess that's not possible when dataset processing is compiled as a graph.

[2021-03-17 00:18] #47750 closed

[2021-03-17 00:31] ymodak commented on #46111
Have you considered limiting gpu memory growth?
Make sure you close all python sessions and exit python interpreter to free up memory and try running script as:
[code]

[2021-03-17 00:55] #42943 closed

[2021-03-17 00:59] #47714 closed

[2021-03-17 01:38] terryheo commented on #47383
You'd better file a bug under Coral page. This is not something TF team can answer.

https://github.com/google-coral/edgetpu/issues

[2021-03-17 02:00] subopt commented on #47710
I ran `tensorflow/tools/ci_build/ci_build.sh PI-PYTHON37 tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh rpi0` on my mac and It ran for a few minutes but then failed:

`/workspace/tensorflow/lite/tools/cmake/toolchains/arm-rpi-linux-gnueabihf/x64-gcc-6.5.0/arm-rpi-linux-gnueabihf/arm-rpi-linux-gnueabihf/include/c++/6.5.0/bits/deque.tcc:741:7: note: parameter passing for argument

[2021-03-17 02:53] subopt commented on #47710
Looks like I didn't have enough memory allocated in docker. I increased from the default 2GB to 32GB and it succeeded!

tensorflow/lite/tools/pip_package/gen//tflite_pip/python3.7/dist/tflite_runtime-2.5.0-cp37-cp37m-linux_armv6l.whl

I do think the build guide could be a little more clear on the steps. For example,  install docker on host system, clone the tensorflow repo, start the daemon, maybe

[2021-03-17 03:09] candyzone opened #47852 "tf.train.Server session_config parameter cannot be configured by Estimator"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-03-17 03:27] AdityaKane2001 commented on #46483
Ok

[2021-03-17 03:28] bjourne opened #47853 "Creating ragged tensors is incredibly slow"
I'm running the following code on a Google Colab instance with GPU support enabled:
[code]
The code takes 15 seconds to finish. In comparison, `tf.constant(np.random.randint(10, size = 10_000_000))` takes only 50 milliseconds to finish.

[2021-03-17 03:36] jvishnuvardhan commented on #47725
@yiannisEfth Thanks for your understanding and your contribution.

[2021-03-17 03:37] AIWintermuteAI commented on #45256
Anyone is working on this issue? I can reproduce the problem with tf 2.4 using new converter.
I found a workaround by removing Reshape layer all together - I had it right after Input and it turns out tf micro doesn't need the input to be explicitly reshaped, e.g.

[code]

the above code works with the following network (input shape = batch_size, 24, 3)

[code]

[2021-03-17 05:09] #47738 closed

[2021-03-17 05:10] LucasColas commented on #47776
But `flow_from_directory` yields data indefinitely, right ?

[2021-03-17 05:11] LucasColas commented on #47602
How can I change my Cuda version and cuDNN version ?
Thanks.

[2021-03-17 05:15] AdityaKane2001 commented on #47776
@LucasColas
Yes, it is infinite, but its termination is handled by `model.fit()` and `steps_per_epoch` and `epochs` parameters. It throws an error when the data is iterated once. For more flexibility, I recommend using `tf.data.Dataset`.

[2021-03-17 05:15] nicolasshu commented on #47649
They asked me to keep the issue here
[https://github.com/tensorflow/models/issues/9802#issuecomment-800798183](https://github.com/tensorflow/models/issues/9802#issuecomment-800798183)

[2021-03-17 05:28] yichenj commented on #44711
So? I understand the OOM of GPU is because the GPU memory is too small. It means it is not the same issue with the leakage problem. The bug i met is that after 7 hours of running model.predict() in a loop, there is a GPU OOM.

[2021-03-17 05:57] #23867 closed

[2021-03-17 06:15] goldkwang opened #47854 "training_a_model.md problem"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Cloud Platform
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): tensorflow-1.15
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32-CAM

**Describe the problem**

**Please provide the exact sequence of commands/steps when you ran

[2021-03-17 06:16] terryheo commented on #47636
Could you try CMake instead of Makefile?

I tested it with CMake it works well.
I have a Riscv toolchain under $HOME/toolchains/riscv.
And I used the following commands.
[code]
Check [this](https://www.tensorflow.org/lite/guide/build_cmake) for using CMake.

[2021-03-17 06:22] jvishnuvardhan commented on #47242
Moved to #47691

[2021-03-17 06:43] aakashcurefit commented on #38982
I am also facing the same issue. Did you try using Tensorflow/Tensorboard with some other versions? @davidrpugh

[2021-03-17 06:43] jestingeorgejacob1 commented on #47640
@impjdi, @teijeong  - Thanks for the reply.
Please find the attached sample xcode project. This project is downloaded from https://github.com/tensorflow/examples/tree/master/lite/examples/style_transfer/ios. Can you please install the pods and check? I have  made an update in line 226 of ViewController.swift to run the invoke function inside a loop. After running the project, once an image is sele

[2021-03-17 06:53] iliaschalkidis commented on #47597
Hi @ymodak, @amahendrakar already proposed this solution and this is not the case. If we set `use_bias=False`, then the layer does not include a bias term. My questions is how to turn any variable, such as a bias term, to non trainable, not omit the parameter.

Thanks.

[2021-03-17 07:05] #47836 closed

[2021-03-17 07:18] isaac-223 commented on #24828
try:

import tensorflow as tf
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        for gpu in gpus:
            tf.config.experimental.set_memory_growth(gpu, True)

    except RuntimeError as e:
        print(e)

[2021-03-17 07:19] sanjoy commented on #29005
That sounds reasonable, though the performance can get pretty bad if there is a lot of dynamism in the shapes.

@d0k WDYT?

[2021-03-17 07:19] sanjoy commented on #29005
CC @tatianashp

[2021-03-17 07:21] Saduf2019 commented on #47852
@candyzone
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-03-17 07:23] Saduf2019 commented on #47846
@oqusous
Please share a colab gist of the error reported or provided code that is easy for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the issue easily. Thanks!

[2021-03-17 07:44] candyzone commented on #47852
update

[2021-03-17 07:46] Saduf2019 commented on #47852
@candyzone
We see that you are using a very old version of tensor flow for which there is no support [for tf 1.x] any more, kindly upgrade to 2.x and let us know if you face any issues.

[2021-03-17 07:49] candyzone commented on #47852
@Saduf2019
TF 2.0 move Estimator to tensorflow_estimator  as an addon. It also has this problew in TF 2.0
I make a PR in https://github.com/tensorflow/estimator/pull/66

[2021-03-17 07:59] Saduf2019 commented on #47649
@nicolasshu
I ran the code shared and face a [different error](https://colab.research.google.com/gist/Saduf2019/0d59c4e8588568666eedebe74117a05e/untitled563.ipynb) than reported, please share all dependencies for us to replicate the issue.

[2021-03-17 08:11] johanforslund commented on #47854
You can use
[code]
to both download and build the dataset.

[2021-03-17 08:14] rmothukuru commented on #24695
@kurka,
Documentation of [Estimators](https://www.tensorflow.org/guide/estimator#whats_supported_now) state:

Can you please confirm if this issue is still relevant, as `Estimators` are not actively supported in `Tensorflow 2.x`? Thanks!

[2021-03-17 08:21] nicolasshu commented on #47649
Ah I apologize. The first line was not supposed to be included:

[code]

[2021-03-17 08:23] multiverse-tf commented on #42057
Hi @Lif3line,

Sorry for not looking into this for such a long time.

I tried to reproduce the issue by following the "Bazel Reproduction" part using the tensorflow/tensorflow:devel docker image, but ended up w/ static linking errors as shown below :(
"
...
/usr/bin/ld.gold: the vtable symbol may be undefined because the class is missing its key function
external/flatbuffers/src/util.cpp:50: error

[2021-03-17 08:23] terryheo commented on #46314
According to https://github.com/tensorflow/tensorflow/issues/44790, you might need to use TF 2.3.0.

[2021-03-17 08:28] abattery commented on #46314
FYI, mutable variable is not supported with TF 2.3 as well. We do not guarantee that the converted model including mutable variables with TF 2.3 version will work correctly.

[2021-03-17 08:31] abattery commented on #46314
However, there is possibility that if mutable variables can be pruned during conversion, the model can work.

[2021-03-17 08:37] Fabien-Couthouis commented on #43983
Hello, I want to do the same thing as @grananqvist, i.e.: put a variable on a device and read it from another device in tensorflow 2.4. Any clue on how to do this?
Thanks!

[2021-03-17 08:44] rmothukuru commented on #25764
@duguyue100,
Sorry for the delayed response. Can you please confirm if this issue is resolved, as you stated:

Thanks!

[2021-03-17 08:54] patriklaurell opened #47855 "Update CMSIS kernels"
@tensorflow/micro

The CMSIS kernels in `lite/micro/kernels/cmsis_nn/` need to be updated to match the latest changes in the corresponding micro kernels.

[2021-03-17 08:55] #47462 closed

[2021-03-17 08:58] halhwadi opened #47856 "After training the model , how I can save it? or from which folder I can download my trained model?"
hello

after training the model , how i can save it? or from which folder I can download my trained model?

I just have trained "ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gz" and use object detections API's

my folder structure shown in below image:

![2021-03-17](https://user-images.githubusercontent.com/72650269/111440953-461de680-8720-11eb-87d7-940f27d963fc.png)

[2021-03-17 08:58] heujnd commented on #40588
@pvnieo since you closed the issue, were you able to solve the issue? If so how?
(I am having a similar issue porting the code from KPConv from tf1.12 to tf2.4)

[2021-03-17 08:58] rmothukuru commented on #25946
@ppwwyyxx,
Sorry for the delayed response. When we execute the code,

[code]

using the latest version of `Tensorflow` with slight modifications with respect to Compatibility, we see that `GPUs` are no more initialized.

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/723092b9790d3cad3600d53841da6809/25946.ipynb) of the working code. Thanks!

[2021-03-17 09:00] #25764 closed

[2021-03-17 09:00] duguyue100 commented on #25764
Thanks!

[2021-03-17 09:23] pvnieo commented on #40588
Hi @heujnd
Yes, I solved the issue by moving from tensorflow to pytorch!

[2021-03-17 09:36] Saduf2019 commented on #47853
I am able to replicate the issue reported on tf 2.3,2.4 and nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/51cc6e1d071d86111071a731fbf09d26/untitled564.ipynb).

[2021-03-17 10:00] Saduf2019 commented on #47856
@halhwadi
You may use ```export_frozen_inference_graph.py```, ypu may refer to: [link](https://stackoverflow.com/questions/63524108/how-to-export-frozen-inference-graph-pb-from-a-checkpoint-in-tensorflow-objectde), [link1](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/keras/save_and_load.ipynb).

Please confirm if you are using TF2 release of object detecti

[2021-03-17 10:12] Saduf2019 commented on #47856
For tf2: models/research/object_detection/export_tflite_graph_tf2.py
example to refer to: [example](https://colab.research.google.com/gist/Saduf2019/db8b5cb091b59c5f45221c33de509863/example.ipynb)

Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. Th

[2021-03-17 10:13] Saduf2019 commented on #47848
Thank you for the pr, the issue will be closed once the pr is merged.

[2021-03-17 10:18] Saduf2019 commented on #47649
I am able to replicate the issue for[ tf 2.4 and nightly](https://colab.research.google.com/gist/Saduf2019/ca45262c891488013dda9960db673de3/untitled563.ipynb), it works as expected on tf 2.3, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/4d576cdb603e67da3947a6539484b17f/untitled564.ipynb)

[2021-03-17 10:32] Saduf2019 commented on #47769
I am able to replicate the issue reported on tf 2.3,2.4 and nightly. please find the [gist here](https://colab.research.google.com/gist/Saduf2019/54a02f595891dcdd90bd4ad3a1499af6/untitled563.ipynb).

[2021-03-17 10:40] d0k commented on #29005
You get both recompilation on every shape change and an unoptimized implementation from XLA:CPU. It should be good enough for completeness but it won't be a great user experience.

Also note that XLA jitting isn't really supported on Windows, there's some investment needed to make that work and keep it working.

In the long term this would be a great use case for CPU kernelgen, but there's a lot o

[2021-03-17 10:43] Tessil commented on #44043
Thank you, it's working perfectly well now. I'll close the ticket then.

[2021-03-17 10:43] #44043 closed

[2021-03-17 10:55] #47466 closed

[2021-03-17 11:16] Conchylicultor commented on #38477
Any update on GCS support for windows ?

[2021-03-17 11:30] aliceruget opened #47857 "Are you using old TFLite binary with newer model?Registration failed."
### 1. System information

- OS Platform and Distribution
NAME="Raspbian GNU/Linux"
VERSION_ID="10"

- TensorFlow installation with this code :
echo "deb https://packages.cloud.google.com/apt coral-edgetpu-stable main" | sudo tee /etc/apt/sources.list.d/coral-edgetpu.list
curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
sudo apt-get update
sudo apt-get install python

[2021-03-17 11:30] LucasStromberg opened #47858 "Quantization Aware Training does not seem to perform per-channel quantization with AllValuesQuantizer"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**:
Custom code

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10

-   **TensorFlow installed from (source or binary)**:
Anaconda Navigator

-   **TensorFlow version (use command below)**:
tensorflow-gpu 2.3.0

-   **Python version**:
3.7.9

-

[2021-03-17 11:33] LucasStromberg commented on #47858
I have also created a stack overflow question related to this [here](https://stackoverflow.com/questions/66671802/tensorflows-per-channel-vs-per-tensor-quantization-aware-training-where-is-th)

[2021-03-17 11:58] ashu2496 commented on #45285
Any working solution for rtx 3070 laptops card for tensorflow using full potential of GPU?

[2021-03-17 12:24] francku opened #47859 "Android: TFLite GPU delegate has very little gain of performance over CPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 33 Silverblue
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Xiaomi redmi note 5 pro (android 10)
- TensorFlow installed from (source or binary):source
- TensorFlow

[2021-03-17 13:03] LucasStromberg commented on #47858
Re-titled and re-worded the issue so that it is easier to understand.

[2021-03-17 13:13] abattery commented on #47857
This is an intended behavior. The model should be executed with the same TF version or higher TF version. Please consider building your TensorFlow image through CMake or Bazel.

[2021-03-17 13:14] abattery commented on #47858
@daverim could you triage this issue?

[2021-03-17 13:14] abattery commented on #47859
@srjoglekar246 could you take a look at this issue?

[2021-03-17 13:20] gatagat opened #47861 "Cannot limit GPU memory with MultiWorkerMirroredStrategy"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from: pypi
- TensorFlow version: v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: Python 3.8.5
- CUDA/cuDNN version: 11.1/8.0.5
- GPU model and memory: RTX2080Ti

**Describe the current behavior**

When running trainings with `OneDeviceStrategy` or `MirroredStrategy` on

[2021-03-17 13:39] amahendrakar commented on #47838
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3f87a23e8149a052e552d00145327dd3/47838.ipynb). Thanks!

[2021-03-17 13:48] ymodak commented on #47628
@yongtang Can you please take a look at this issue since it falls under TF/IO? Thanks!

[2021-03-17 13:50] mdanatg commented on #47777
cc @allenlavoie @saxenasaurabh
Marking it stateless might cause trouble if the Python function calls into other TF ops, like variable reads or updates. But if the user is made aware of the pitfalls, it might be ok to allow.

[2021-03-17 13:52] Lif3line commented on #42057
No worries, I had issues (although not exactly the same error) when using `features = ["fully_static_link"]`, but I don't know enough about Bazel to debug. The fact that a full static build doesn't compile could well be the underlying issue though.

The particular bug you posted looks like the include for `<fstream>` is missing or not linked properly somewhere in the `flatbuffers` library, but I k

[2021-03-17 14:40] WannesBouwen opened #47862 "TensorFlow-Lite: need for ruy library"
Hello

For an embedded software project, we are trying to integrate TensorFlow-Lite via buildroot (via CMake). In the CMakeLists.txt we find following option:

option(TFLITE_ENABLE_RUY "Enable experimental RUY integration" OFF)

However, even with this option disabled, the ruy library is still needed in order to compile TensorFlow-Lite. My question is if this is really necessary, or that with the

[2021-03-17 15:01] mdable2 opened #47863 "OOM errors running multiprocessing inference"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2
- Python

[2021-03-17 15:10] amahendrakar commented on #47861
@gatagat,

Could you please take a look at [this](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) alternate method to limit GPU memory and check if it helps. Thanks!

[2021-03-17 15:22] mayou36 commented on #47777
This is then the responsibility of the user I would say, it's a guarantee that the user gives. AFAIK there is currently no way of creating an eager, stateless function from the public API, right? The main motivation is to wrap efficiently np, scipy etc functionality

[2021-03-17 15:44] amahendrakar commented on #47494
@xcodz-dot,
PR [#63](https://github.com/tensorflow/estimator/pull/63) has been merged. Now the guide points to the working link.

Closing this issue as it is resolved. Please feel free to re-open if mistaken. Thanks!

[2021-03-17 15:44] #47494 closed

[2021-03-17 15:49] 438-gm-24 commented on #47815
OS Platform and Distribution (e.g., Linux Ubuntu 20.04): RHEL 7.7
TensorFlow version: 2.4.1
Python version: 3.8.5
CPU
NVIDIA Corporation GP102
I try to run this code
python -m CycleGAN_TensorFlow.create_cyclegan_dataset --image_path_a=folder_a --image_path_b=folder_b --dataset_name="horse2zebra_train" --do_shuffle=0

I have this error
RuntimeError: Input pipelines based on Queues are not supported

[2021-03-17 15:58] #47802 closed

[2021-03-17 16:05] suraj-maniyar commented on #43671
@fisakhan Were you able to disable multi-threading in Tensorflow C API?
I am also working on the same problem.

[2021-03-17 16:23] srjoglekar246 commented on #47859
@francku How large are your inputs & outputs? For GPU, copying inputs to/from the GPU takes time if the output is large as well. And note that XNNPack + 4 Threads is already a pretty fast setup :-).

It might also be the case that your full model isn't running on GPU, do you see any INFO/ERROR logs in logcat?

Using GPU also helps power efficiency if you perform inference frequently, something tha

[2021-03-17 16:28] karlhigley opened #47866 "Incompatibility between `set_visible_devices()` and `from_dlpack()`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.8.8
- CUDA/cuDNN version: 11.2
- GPU model and memory: GT

[2021-03-17 16:55] #47282 closed

[2021-03-17 17:00] tcervi commented on #47166
Indeed it works from master branch @terryheo
It only generates tensorflow-lite.lib though, for both x64 and x86 (Win32) 😢
I probably was not clear before, but my main issue is that I need to generate a Dynamic library for Win32 systems.

I took a look at tensorflow/lite/CMakeLists;txt and forced to generate a shared line adding SHARED to line 371:
`add_library(tensorflow-lite SHARED`
I used this c

[2021-03-17 17:01] #46258 closed

[2021-03-17 17:23] Suesoso commented on #47248
Is this issue addressed? I meet the same problem

[2021-03-17 17:38] amahendrakar commented on #47689
@ymodak,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/cfbf7c9942e89e7b286509fe7776cdf5/47689.ipynb). Thanks!

[2021-03-17 17:55] razvanra2 commented on #47770
I can now confirm I've tried the same code sample with python 3.8.6 and TF 2.4.1. It works flawlessly.

[2021-03-17 17:56] amahendrakar commented on #47742
@rrklearn2020,
The code provided is fairly complex hence it would be difficult for us to pinpoint the issue. Could you please get the example down to the simplest possible repro? That will allow us to determine the source of the error easily. Thanks!

[2021-03-17 18:49] #47757 closed

[2021-03-17 18:50] codePerfectPlus commented on #47757
@Saduf2019  Thanks for helping out. Issue is fixed now.

[2021-03-17 19:11] pkanwar23 commented on #47568
Windows support has landed too.

[2021-03-17 19:11] #47568 closed

[2021-03-17 19:22] subopt commented on #47710
@terryheo I ran into a few more snags. After installing the tflite wheel

`pip3 install tflite_runtime-2.5.0-cp37-cp37m-linux_armv6l.whl`

and trying to import

`import tflite_runtime.interpreter as tflite`

I first ran into a numpy issue `Original error was: libf77blas.so.3: cannot open shared object file: No such file or directory` which seemed to be resolved by running `sudo apt-get install lib

[2021-03-17 19:25] Matt52 commented on #46044
These steps worked for me:

[code]

Voila!

[2021-03-17 19:36] gatagat commented on #47861
Thanks for the proposition, I am aware of that option and also that one can set it using the envvar TF_FORCE_GPU_ALLOW_GROWTH=yes, however, that does not limit the memory.

[2021-03-17 19:41] suraj-maniyar opened #47870 "Confine Tensorflow v2.3.2 C API to use only one thread."
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Linux CentOS 8.3.2011
- TensorFlow installed from: source (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/lib_package/README.md)
- TensorFlow version: Tensorflow C API v2.3.2 (v2.3.2-0-g9edbe5075f7)
- Python version: 3.6.8
- Bazel version (if compiling from source): 3.7.1
- GCC/Compiler v

[2021-03-17 19:55] #31739 closed

[2021-03-17 20:07] jvishnuvardhan commented on #47853
@bjourne Recently Colab has some problems in accessing `gpu`. So, even when you select `gpu` it is still running in `cpu`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/6a958d7f505101b1ddac8aec2ca93e6e/untitled564.ipynb).

Adding the following code to check `gpu` usage throws error

[code]

Can you please run it on GPU and let us know if there is any issue ther

[2021-03-17 20:11] kushanam opened #47871 "Unnecessary Device to Host copies"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-03-17 20:46] ymodak commented on #47430
@samanemami  Importing `boosted_trees_test` test script fails since these files (*_test.py) are not exposed to your python session.
Simply importing boosted_trees module should work with TF 2.4 version.
`from tensorflow_estimator.python.estimator.canned import boosted_trees`
For running test files you need to try [Bazel command](from tensorflow_estimator.python.estimator.canned import boosted_tree

[2021-03-17 20:55] #47278 closed

[2021-03-17 21:04] evancollins1 opened #47872 "Multi input/output model works correctly in TF 1.15; produces error in TF 2.4.1"
- TensorFlow version: 2.4.1
- Python version: 3.8.3

**Describe the current behavior**
Coded a multi input/output model
model.fit fails with the following error:

ValueError: Failed to find data adapter that can handle input: (<class 'list'> containing values of types {"<class 'numpy.ndarray'>"}), (<class 'list'> containing values of types {'(<class \'list\'> containing values of types {"<class \'

[2021-03-17 21:30] Zakria96 commented on #47827
I am not able to find the input and output tensors of my frozen_inference_graph.... Can you tell me how to find the input and output tensors of my model... and also show me an example of input and output tensor.... I tried a lot... I would be thankful..

[2021-03-17 22:42] TylerLeonhardt commented on #46514
I am also seeing this exact error when trying to build `summarize_graph`:

[code]

I've tried tag: `latest-devel-gpu` and `devel` and both fail with:

[code]

[2021-03-17 23:16] Shamino0 commented on #47738
Thanks.  It now runs on my Pi without modification.

[2021-03-17 23:22] cheshire commented on #29005
We already advertise JITing as a "core" feature, so I don't think this should be a factor in making a decision.

[2021-03-17 23:44] emadboctorx commented on #47248
@Suesoso Looks like it was brought up previously in other issues but still I don't see solutions anywhere

[2021-03-17 23:54] terryheo commented on #47710
The issue you saw was recent regression https://github.com/tensorflow/tensorflow/issues/47738.
It's fixed now. So please try it again with HEAD repository.

[2021-03-18 00:22] emerth commented on #44467
The error message quotes the location of the file with the error.

Look at the error message python is printing. About the third last line will be:

`File: "/path/to/your/hdf5_format.py" line NNN in load_model_fromhdf5
`
You file is in directory /path/to/your/.

[2021-03-18 01:14] abattery commented on #47827
They have input and output tensor names under https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/faster_rcnn_inception_v2_coco/faster_rcnn_inception_v2_coco.md.

I could successfully convert the above frozen graph def by using the following code snippet.

[code]

[2021-03-18 01:14] #47827 closed

[2021-03-18 01:19] terryheo commented on #47166
If you want to use a shared library, how about using C API?
https://www.tensorflow.org/lite/guide/build_cmake#build_tensorflow_lite_c_library

Even though you have a C++ standalone shared library, you might have trouble to collect all the necessary header files.
(If you're not having a CMake project)
In this case, using C API is much easier.

[2021-03-18 02:59] cheshire commented on #47599
Seems the custom cache used by tf.data does not work with jit-compiled functions. Tracking internally in b/183061735

[2021-03-18 03:51] cocoyen1995 commented on #43629
Hi @VladislavAD ,

I have a similar question here.
I tried to run a self-built tensorflow.dll(1.13.1) with cuda 10.0 and cudnn7.4.2 on RTX3080, it can run but the result is **totally different** from the one I ran on RTX2080Ti. Initialization took about 20 mins in my case, but the inference time is similar with the time I ran on RTX2080Ti. I'm wondering is the inference result being as expected in

[2021-03-18 03:51] saxenasaurabh commented on #47777
Could you provide more detail on what problems you are running into with this? Performance perhaps?

I am not sure why we removed the `stateful` arg in TF2 (compared to `py_func`). Adding it back sounds reasonable to me but it would be nice to understand the impact.

[2021-03-18 04:26] Saduf2019 commented on #47757
@codePerfectPlus
Thank you for your update, glad the issue is resolved.

[2021-03-18 04:53] lminer commented on #47599
@cheshire  is there any workaround?

[2021-03-18 05:52] tavishm opened #47874 "Could not load dynamic library 'libcusolver.so.10'; dlerror: libcusolver.so.10: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.2/lib64:/usr/local/cuda/extras/CUPTI/lib64:/usr/local/cuda/lib64"
I'm having issues with lots of stuff and I've a limited amount of knowledge in nvidia drivers. So, I wanted to use my GPU for training in keras. For that, I had to make tensorflow use my GPU(correct me if I'm wrong). I have a supported GPU. I followed [this][1] tutorial. I have a Geforce GTX 1080 Ti. I installed Nvidia driver 455 successfully. I've installed Nvidia Cuda Toolkit 11.2.1 and have tri

[2021-03-18 06:23] Saduf2019 commented on #47863
@mdable2
Would you want to [limit your gpu](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and try, also try on upgraded tf as in 2.4 the stable version and see if it helps.

[2021-03-18 06:30] daniil-lyakhov commented on #34508
@OverLordGoldDragon could you please add more details on symbolic_learning_phase issue? I want to use learning phase as a part of the model in graph mode to control layer behavior depend on lf  and can't do this due to it just an int, not a tensor

[2021-03-18 06:30] Saduf2019 commented on #47874
@tavishm

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

Do you see the same error with CUDA 11.0. I think you need to downgrade your version of CUDA.
#43947, #45263

[2021-03-18 06:34] Sheethal00 commented on #6264
hi @BingzheWu

Did u find any solution to your problem, even i am facing the same issue

[2021-03-18 06:39] tavishm commented on #47874
My CUDA version is 11. Is it not supported?

[2021-03-18 06:48] r06922090 opened #47875 "Nvidia RTX 3090 is slower than Nvidia GTX 1080Ti for single image prediction"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-03-18 06:49] Saduf2019 commented on #47874
@tavishm
please refer to the solved issues i have shared where users have downgraded to 11.0, can you please try the issues and let us know.

[2021-03-18 06:54] VoVAllen commented on #47866
If we use `tf.config.experimental.set_visible_devices(gpus[1])`, the real gpu 1 will be labeled as 0 or 1 in tensorflow? This brings in the inconsistent device labeling between tensorflow and other framework, which is not ideal. Could you use `CUDA_VISIBLE_DEVICES` to control this instead?

[2021-03-18 07:24] rmothukuru commented on #25957
@jackd,
Sorry for the delayed response.

**`Shape`** and **`Data Types`** of **`Loss`** are clearly specified in the [Documentation of Model.Compile](https://www.tensorflow.org/api_docs/python/tf/keras/Model#compile).

Also, the documentation of [Sparse Categorical Cross Entropy](https://www.tensorflow.org/api_docs/python/tf/keras/losses/sparse_categorical_crossentropy#args) no longer states that

[2021-03-18 07:28] tavishm commented on #47874
I'm getting a different error now
`2021-03-18 12:57:34.951501: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /usr/local/cuda-11.0/lib64:/usr/local/cuda/extras/CUPTI/lib64:/usr/local/cuda/lib64
`

[2021-03-18 07:30] rmothukuru commented on #26472
@wookayin,
Can someone provide a reproducible code in `Tensorflow 2.x` so that it can be looked into? Thanks!

[2021-03-18 07:35] rmothukuru commented on #26642
@npuichigo,
Can you please respond to the above comment? Thanks!

[2021-03-18 07:37] dengc367 commented on #36916
You can not modify the `tf.keras.layers.Layer` list(`self._var`), only change to append the `Layer` list like the following pseudo-code:
`self._var.append(self._var[-1] + d.trainable_variables)`

[2021-03-18 07:45] tavishm commented on #47874
I solved this by downgrading cuDNN to 8.0.4

[2021-03-18 07:47] bjourne commented on #47853
Yes, same thing with a GPU:
[code]
The code takes 14.8 seconds to finish.

[2021-03-18 07:55] tavishm opened #47876 "Tensorflow not using GPU eventhough it is detecting it."
**System information**
- I have custom code
- Linux, Ubuntu 20.04
- Not on a mobile device
- Binary
- Tensorflow: v2.4.1
- Python version: python3.8
- CUDA/cuDNN version: v11.0, v8.0.4
- GPU model and memory: Nvidia GTX 1080 Ti, 16 GB

Tensorflow detects my GPU. When I do` tf.config.list_physical_devices()`
I get

[code]

But when I'm training `nvidia-smi`
returns

[code]
It doesn't look like my G

[2021-03-18 08:04] #47516 closed

[2021-03-18 08:04] MoFHeKa commented on #47516
Problem has been fixed.

[2021-03-18 08:12] francku commented on #47859
Hi! thanks for answering.
Input and output depends on the image passed as input and they can be big. The input is a buffer of dimension `1 * INPUT_SIZE_W * INPUT_SIZE_H * 3 * numBytesPerChannel` where numBytesPerChannel is 4 in FP model. Output is even bigger, is a buffer of dimension `output_box * (numClass + 5) * numBytesPerChannel` with output_box equals to
`((((inputSize_w / 32) * (inputSize_h

[2021-03-18 08:30] npuichigo commented on #26642
@rmothukuru Sorry for the late reply. I checked the recent status and it seems LSTMBlockFusedCell is only exposed in raw_ops. LSTMCell in keras still doesn't use a fused kernel, but I don't know whether the performance of LSTMCell with tf.function is on par with a fused kernel.

[2021-03-18 08:31] Saduf2019 commented on #47874
@tavishm
Thank you for your update, glad the issue is resolved, please move this to closed status.

[2021-03-18 08:31] dalan2014 commented on #47778
I have similar problem(RTX3090, CUDA 11.1, cuDNN 8). When using tf-nightly-gpu==2.5.0.dev20210305 and later versions will cause python to crash. Back to tf-nightly-gpu==2.5.0.dev20210304 version can run normally.

[2021-03-18 08:32] Saduf2019 commented on #36916
@Nimoab
Please update as per above comment.

[2021-03-18 08:34] Saduf2019 commented on #47778
@dalan2014
Are you using tf 1.x, can you please create a separate issue using this [link](https://github.com/tensorflow/tensorflow/issues/new/choose).

[2021-03-18 08:38] Saduf2019 commented on #47871
@kushanam
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/3c469caabcf199cf34cd9e79db4a62c7/untitled563.ipynb).

[2021-03-18 08:38] mayou36 commented on #47777
I agree, this discrepancy was my motivation for the issue as (to me) the de-facto difference between the two is the `use_gradient_tape` in `py_function` which leads [to a memory leak](https://github.com/tensorflow/tensorflow/issues/35010#issuecomment-798198842) in eager and is meant for TF eager, not pure Python eager (AFAI understand).

I didn`t run explicitly in performance issues (an artificial

[2021-03-18 08:40] lpc806835212 opened #47877 "module 'tensorflow.keras.layers' has no attribute 'MulitiHeadAttention'"
When i use the newest version2.4.1 when i use

head_attention1 = tf.keras.layers.MulitiHeadAttention(num_heads = 1,key_dim=1)(conv1)

it will has a AttributeError : module 'tensorflow.keras.layers' has no attribute 'MulitiHeadAttention'

[2021-03-18 08:53] lintian06 commented on #47877
I think you had a typo for [tf.keras.layers.MultiHeadAttention](https://www.tensorflow.org/api_docs/python/tf/keras/layers/MultiHeadAttention).

It shouldn't be an issue.

[2021-03-18 08:55] lintian06 commented on #47877
I'll close this bug. Please reopen it if you still cannot find it in 2.4.1.

[2021-03-18 08:55] #47877 closed

[2021-03-18 08:56] LucasStromberg commented on #44625
I'm having the same problem. I also must use tf-gpu and can't just switch to tf-nightly due to cudnn/cuda dependencies.

[2021-03-18 08:56] LucasStromberg commented on #42006
Facing the same issue when converting a QAT model with quantized Dense layers. Works with Conv2D layers but not Dense.

[2021-03-18 08:57] ststeinberg opened #47878 "tensorflow 2.4.1 incompatibility with numpy 1.20.1"
Hi,

pip install reports that tensorflow 2.4.1 is incompatible with numpy 1.20.1 as it requires numpy 1.19.x

Is there any workaround for this right now or are there plans to upgrade requirements to numpy 1.20.x?

Thanks in advance!

[2021-03-18 09:20] tavishm commented on #47874
tf version is 2.4.1.

[2021-03-18 09:21] #47874 closed

[2021-03-18 09:21] tavishm commented on #47874
tf version is 2.4.1

[2021-03-18 09:23] tavishm commented on #47876
Is there something I'm doing wrong?

[2021-03-18 09:29] tavishm commented on #47876
I've solved the issue, turns out I had to set the environment variable. I'm closing this issue.

[2021-03-18 09:29] #47876 closed

[2021-03-18 10:25] nicolaspi opened #47879 "Keras model functional build of a dynamic lambda layer fails with `RecursionError`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8

**Describe the current behavior**
Building a model with dynamic lambda layer

[2021-03-18 10:58] rmothukuru commented on #27557
@jianlingzhong,
Your code runs now without error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/d7a7eaa328652f16b477eab176042890/gh_27557.ipynb) of the working code. Thanks!

[2021-03-18 11:06] marcjoos-phd commented on #47815
You should open another issue as it is not related with the original one.

[2021-03-18 11:23] rmothukuru commented on #28063
@zh794390558,
Sorry for the delayed response. Can you please specify the use cases where your Feature Request can be helpful? Thanks!

[2021-03-18 11:39] karthajee commented on #47558
Hi @amahendrakar, the comment was not directly helpful as I was using the approprite `tf.keras.Input(...)` with the Functional API. However, it helped clarify certain misconceptions that I had.

I'm adding the working code here and commenting the changes that I had made so that it will be helpful for people who face similar issues.

[code]

[2021-03-18 11:39] #47558 closed

[2021-03-18 12:15] demconpeter commented on #44882
I had the exact same problem using TensorFlow 2.4.1 with python 3.7 on Windows 10, and unzipping the above-mentioned schema_py_generated.py.zip to replace an existing but 0-byte file schema_py_generated.py in my python 3.7 installation subfolder Python37\Lib\site-packages\tensorflow\lite\python fixed the problem. I'd rather not use nightly versions unless I really have to.

Thanks!

[2021-03-18 12:46] krishdb38 commented on #45285
When this will solve ??
Anybody who can solve this please share the information.

[2021-03-18 13:55] #47573 closed

[2021-03-18 13:55] #39772 closed

[2021-03-18 14:04] ironbar commented on #40036
In the case that there is no cudatoolkit-dev version available, for example for cuda 11. I have found that it is possible to simply copy that file from the cuda docker to conda and it works like charm.

[code]

[2021-03-18 14:34] amahendrakar commented on #47705
@TPrivat,
TF-nightly packages are compatible with **Python 3.9**, **CUDA 11.2** and **cuDNN 8.1**. I was able to install TensorFlow without any issues with the above configuration. Please check the attached screenshot for reference.

![Screenshot 2021-03-18 7 59 49 PM](https://user-images.githubusercontent.com/57165142/111643330-e5c49d00-8824-11eb-8768-05c43f368f13.png)

Thanks!

[2021-03-18 14:38] kreouzisv opened #47881 "Extracting tf.Variable() in numpy or tensor format for further processing from a ListWrapper()"
Hello there,

I have a simple question, that I don't seem to find any documentation on regarding it. I am using costume code, and during one of my training loops a ListWrapper Object is created containing some tensor variable.

Initially when using tf.print() I was able to see the numerical contents of the tensor but not assign to a variable for further processing.

After using tf.compat.v1.flags.

[2021-03-18 14:42] EnderWiggin14 opened #47882 "How Is Padding Calculated for Conv1D,2D,...."
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
[https://www.tensorflow.org/api

[2021-03-18 14:57] karlhigley commented on #47866
Unfortunately, we can't use `CUDA_VISIBLE_DEVICES`, because we're trying to integrate Horovod and need to pick which GPU to use after Tensorflow has already been initialized. :slightly_frowning_face:

Given the possibility of different device numbering across frameworks, it seems like Tensorflow should be using the physical (instead of logical) device number when converting DLpack objects coming f

[2021-03-18 14:59] fisakhan commented on #43671
@suraj-maniyar No I couldn't. I still don't know how to do that.

[2021-03-18 15:01] vishalyadav93 opened #47883 "Unable to install Tensorflow due to one of the file named "getObjectTorrentRequest.h" file , Torrent named file are blocked in various system across organisations."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform: Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the

[2021-03-18 15:06] WingsOfPanda opened #47884 "Return gradient 0 in mixed_precison setting"
**System information**

OS Platform and Distribution: linux
TensorFlow version (use command below): tf2.4.1

**Reproducing code**

[code]

**Behavior description**

When using tf.float32 setting, the result of gradient is reasonable with value around 0.6, however, when shift to tf.float16 with mixed_precision, the gradient is constantly 0. Should we expect that the computed gradient is so differen

[2021-03-18 15:12] yulong88888 opened #47885 "I hope that the tfjs-models project will increase the configuration resource link method"
Hi guys, I used tfjs-models project on my vue project for the first time today, and I also successfully launched posenet and handpose. Thank you for your contribution, but due to some special reasons, I cannot open tfhub.dev Just like google.com, I found that tfhub.dev will redirect to storage.googleapis.com, I can access storage.googleapis.com normally, and there is no problem running posenet, bu

[2021-03-18 15:26] yann-pourcenoux opened #47886 "Segmentation Fault when Benchmarking TFLite EfficientNetB0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.02/Android 10
- Mobile devices: Xiaomi Redmi Note 7 & Huawei P30
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8

**Describe the cur

[2021-03-18 15:36] shi510 commented on #45895
This issue should be solved.
I have a custom callback that evaluates recall metric on epoch end.
[code]
[code]
It does not sync the updates of logs.
But it works by setting the _supports_tf_logs to False.

[2021-03-18 15:45] lgeiger commented on #45895
@omalleyt12 @fchollet Could you take a look at this issue? This seems to break many existing callbacks, so it would be great if this could be fixed, or documented clearly that `logs`  shouldn't be mutated.

[2021-03-18 15:46] amahendrakar commented on #47872
@evancollins1,
In order to expedite the trouble-shooting process, could you please provide the complete code you'd run on TensorFlow v1.15 and v2.4? Thanks!

[2021-03-18 15:56] Taimor80 commented on #46934
I faced the same problem with Python  3.8.5
This works for me:
enable "long path" policy using "gpedit.msc",  then execute "pip install --upgrade  tensorflow"

[2021-03-18 16:01] Nhiem opened #47888 "Tensorflow lite micro 2.4 Alpha version missing tflite::ops::micro::Register_FULLY_CONNECTED()"
**System information**
- Arduino Nano BLE 33 SENSE
- Arudino Pro IDE Alpha 0.1.4 macos

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please share a link to Colab/Jupyter/any notebook.

Also, please include a link to a GraphDef or the model

[2021-03-18 16:08] amahendrakar commented on #47866
@rmothukuru,
I was able to reproduce the issue with TF v2.4 and TF-nightly. Please check the attached screenshot for reference.

![Screenshot 2021-03-18 9 22 42 PM](https://user-images.githubusercontent.com/57165142/111658196-21199880-8832-11eb-9b7d-8ff492e21958.png)

Thanks!

[2021-03-18 16:15] sherhut commented on #47724
I have verified that with a recent build (after the above commit)

[code]

produces 1.0 as desired and your example also now works. Closing as fixed.

[2021-03-18 16:15] #47724 closed

[2021-03-18 16:18] amahendrakar commented on #47883
@vishalyadav93,
In this case, could you please download the `.whl` file compatible with your machine form [this link](https://pypi.org/project/tensorflow/2.4.1/#files) and then install it.

Thanks!

[2021-03-18 16:22] Ryan-Rudes opened #47889 "Rename tf.keras.optimizers to tf.keras.optims for more aesthetic import statements"
TensorFlow imports are often tedious, and i think it would be nice if some of the most common imports from `tensorflow.keras` aligned better with one another. For this reason, I propose that `tf.keras.optimizers` be renamed to `tf.keras.optims`.

[code]

rather than

[code]

[2021-03-18 16:39] bplevin36 commented on #47870
I'm not an expert, but it looks like environment variables are the easiest way https://github.com/tensorflow/tensorflow/blob/460e000de3a83278fb00b61a16d161b1964f15f4/tensorflow/core/common_runtime/process_util.cc#L99

[2021-03-18 16:42] amahendrakar commented on #47879
@nicolaspi,
This issue has already been addressed in issue [#44906](https://github.com/tensorflow/tensorflow/issues/44906) by members of the TensorFlow community. Could you please go through it. Thanks!

[2021-03-18 16:45] srjoglekar246 commented on #47859
@francku Your latency benchmarking method seems right to me. From the output, it looks like everything works on GPU. It will certainly be faster on newer phones, since the GPUs are better.

There is no way currently to measure how much time is spent copying data to/from the delegate, we can look into it. Thoughts, @multiverse-tf ?

Currently, yes. We are planning improvements in this area, for del

[2021-03-18 16:55] MaudDestree opened #47890 "Latest Windows 10 update - Import tensorflow - Kernel dies"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro 19042.867
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:N/A
- TensorFlow installed from (source or binary): binary (conda)
- TensorFlow version

[2021-03-18 16:55] #46530 closed

[2021-03-18 17:02] gtanzi commented on #22208
Hi, I may be wrong but I'm quite confident that second derivative of a linear op should be zero (None).
I checked this numerically by looking at the output of the gradient of tf.image.resize (or keras UpSampling2D ) vs changing its input and I found out (as expected) that the output depends only on resize factor. So as a quick fix I used:
`
@tf.RegisterGradient("ResizeBilinearGrad")
def _ResizeBil

[2021-03-18 17:06] nicolaspi commented on #44906
Hi,
this error happens even in eager mode (tf 2.4.1):

[code]
throws:

`RecursionError: maximum recursion depth exceeded while calling a Python object`

[2021-03-18 17:08] nicolaspi commented on #47879
Indeed, this is a duplicate.

[2021-03-18 17:08] #47879 closed

[2021-03-18 17:17] jthibaut opened #47891 "OSError: Cannot understand given URI: <tf.Tensor 'filepath:0' shape=() dtype=string>."
Dear All,
I am trying to implement a deep learning model using .tiff files
To read them I use skimage but I have difficulties to create a tensor flow dataset:
I did:
dataset_train = tf.data.Dataset.from_tensor_slices((X_train_path, y_train_path))
dataset_train = dataset_train.map(lambda x, y : [load_image(x), load_image(y)], num_parallel_calls=-1).batch(32)
Where:
def load_image(filepath):
    # r

[2021-03-18 17:18] amahendrakar commented on #47890
@MaudDestree,
Could you please install TensorFlow outside the conda environment and check if you are facing the same issue. Thanks!

[2021-03-18 17:22] yiannisEfth commented on #47848
Resolved through https://github.com/tensorflow/docs/pull/1844

[2021-03-18 17:22] #47848 closed

[2021-03-18 17:24] sherhut commented on #46078
Thank you for reporting this. I have verified that this is now fixed when building from source. The next nightly build should also contain the fix.

[2021-03-18 17:24] #46078 closed

[2021-03-18 17:25] sherhut commented on #46408
Thank you for reporting this. I have verified that this is fixed in a recent build from source. The next nightly build should also contain the fix.

[2021-03-18 17:25] #46408 closed

[2021-03-18 17:29] preethivenkatesh commented on #43671
@fisakhan @suraj-maniyar can you try building tensorflow 2.4 with --config=mkl_threadpool instead of --config=mkl to use Eigen threadpool. this way you don't have to use omp threadpool and control through just setting  config.set_inter_op_parallelism_threads(1)
config.set_intra_op_parallelism_threads(1) and see if that solves the problem

[2021-03-18 17:29] amahendrakar commented on #47770
@razvanra2,
Thank you for the update.

Please feel free to close the issue if it is resolved.

[2021-03-18 17:35] Antzyx commented on #47778
Sorry for the typo, I was indeed using 2.5 as well, and not 1.2.5, therefore I believe @dalan2014's comment here is correct. I will edit my post up there.
It should be noted that installing the last non-nightly version (2.4.x) solved the problem for me.

[2021-03-18 17:45] razvanra2 commented on #47770
It's not solved. It works in 2.4.1 and not in 2.5. It's a recent regression.

[2021-03-18 17:51] yisitu commented on #37543
Friendly ping @drasmuss

[2021-03-18 17:59] SNMS95 commented on #22208
@gtanzi . I too think that the second gradient is zero So you can return None w.r.t the original image. But is it correct to return None for the second argument as well?

[2021-03-18 18:00] drasmuss commented on #37543
What are you looking for from me?

[2021-03-18 18:02] DanielMH commented on #42916
My code is based on this [Google guide on Text Classification](https://developers.google.com/machine-learning/guides/text-classification) for an ngram-model.

It still doesn't work if I do not add `.todense()`. as indicated in my post above. (Python 3.8.6, TensorFlow 2.4.1).

It raises this error message:
`TypeError: Failed to convert object of type <class 'tensorflow.python.framework.sparse_tenso

[2021-03-18 18:15] yisitu commented on #37543
My bad, wrong ping. @omya3

[2021-03-18 18:17] kushanam commented on #47871
I can't see the gist unfortunately due to API rate limit. I will try again, but wonder if you could share the error?

[2021-03-18 18:19] amahendrakar commented on #47770
@razvanra2,
I was able to run the linked tutorial without any issues on a machine with **Python 3.9**, **CUDA 11.2** and **cuDNN 8.1**.

Please check the attached screenshot for reference.

![Screenshot 2021-03-18 11 45 10 PM](https://user-images.githubusercontent.com/57165142/111676456-30094680-8844-11eb-91a2-abf80ad154b3.png)

Could you please update CUDA to **v11.2** and cuDNN  to **v8.1**, and

[2021-03-18 18:29] MaudDestree commented on #47890
Hello,
Do you mean I need to re-install a complete env including python etc ?
Do you have any hint to do that while keeping my Anaconda env ?
Btw, using another Anaconda env working with TF 1.14, I don't face the same issue (still I need TF2)
Thank you

[2021-03-18 18:30] dmpiergiacomo commented on #43510
Hi, I've just faced this same issue after cloning the master [f1cef23](https://github.com/tensorflow/tensorflow/commit/f1cef2358b2979c42b524b08fc61ab9922502c99).

I used the command:
`make -f tensorflow/lite/micro/tools/make/Makefile \
    TARGET=cortex_m_generic \
    TARGET_ARCH=cortex-m4+fp \
    TARGET_TOOLCHAIN_ROOT=/opt/gcc-arm-none-eabi-9-2020-q2-update/bin/ \
    OPTIMIZED_KERNEL_DIR=cmsis

[2021-03-18 18:49] atyshka opened #47893 "TFLite Documentation Request: How do per-axis quantizations work with subsequent layers?"
## URL(s) with the issue:

https://www.tensorflow.org/lite/performance/quantization_spec

## Description of issue (what needs changing):
Documentation on how per-axis quantization works with subsequent layers

### Clear description

I am working on implementing the algorithms for TFLite layers in FPGA and I'm uncertain how the quantization spec expects subsequent layers to deal with per-axis quant

[2021-03-18 19:09] dmpiergiacomo commented on #43510
After a quick look, it seems like `tensorflow/lite/micro/tools/make/Makefile` pulls a "broken" version of CMSIS. I really did not investigate how and which version it is pulled, but I can see in my localhost that the pulled version specifies `int32_t loop_count;` while the [current master](https://github.com/ARM-software/CMSIS_5/blob/master/CMSIS/NN/Source/BasicMathFunctions/arm_elementwise_mul_s8

[2021-03-18 19:18] dmpiergiacomo commented on #43510
I can confirm that changing `int32_t loop_count` to `uint32_t loop_count` solves the problem.

[2021-03-18 19:31] unlimitednzt commented on #45960
@lonway Did you manage to solve this?

[2021-03-18 20:05] bhack commented on #47878
Not for 2.4.x. For nightly or future releases please subscribe to https://github.com/tensorflow/tensorflow/issues/47691

[2021-03-18 20:06] kushanam commented on #47871
Sorry, was able to run and fixed the example.

[2021-03-18 20:08] #37732 closed

[2021-03-18 20:25] razvanra2 commented on #47770
I experimented with TF 2.4.1 on python 3.8.6 vs. TF 2.5 on python 3.9, both with cudnn 11.2 and cuda 11.2.2.
Again, the example works flawlessly on python 3.8.6 with TF 2.4.1.
On python 3.9 with TF 2.5 the issue persists. If it helps, I stepped with a debugger through the example and I'm seeing that the crash happens at:
[code]

[2021-03-18 20:34] hyeygit commented on #47663
`delta` must be in the range `[-1, 1]`: [tf.image.adjust_hue API doc](https://www.tensorflow.org/api_docs/python/tf/image/adjust_hue)
The infinite loop is happening because the huge `delta` used above is out of range.
I'll retry adding the input check (https://github.com/tensorflow/tensorflow/issues/47663).

[2021-03-18 20:55] #46792 closed

[2021-03-18 20:56] acmilannesta opened #47894 "Last batch always pad up to the batch size and cause error "logits and labels must be broadcastable""
I'm using tensorflow 2.4.1 on Win 10 and Python 3.8.6.

When I use data generator and reach the last batch of training, the model will always pad up to the full batch size even if the real size is less than that.

This will cause an error "logits and labels must be broadcastable", which is basically a mismatch of my label size (13x24) and predication size (32x24), which 32 is my batch size and 24

[2021-03-18 20:58] abattery commented on #47893
@daverim could you take a look?

[2021-03-18 21:00] abattery commented on #47886
@yann-pourcenoux could you provide the converted model if the model is sharable? And could you also provide what kind of error message you see from the execution of the benchmark tool?

[2021-03-18 21:19] gtanzi commented on #22208
@SNMS95 I'm not sure becasue I'm still confused about what exactly needs a definition (i.e. the second order gradient of op Vs the "the first order gradient of grad_fn with respect to dy " [here](https://www.tensorflow.org/api_docs/python/tf/custom_gradient)) If I understood correctly from [here](https://www.tensorflow.org/api_docs/python/tf/RegisterGradient) , for an op with m inputs and n output

[2021-03-18 21:21] inespancorbo opened #47895 "using ragged tensors with custom loss and metric"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-03-18 21:29] yann-pourcenoux commented on #47886
Yes, of course, the model is the following [EfficientNetB0.zip](https://github.com/tensorflow/tensorflow/files/6167299/EfficientNetB0.zip) and has been generated with the script above.
The full log when running the benchmark above is :
[code]

[2021-03-18 21:42] bhack commented on #47691
Also we are not strictly aligned with numpy versioning everywhere in the repository:

[code]

[2021-03-18 21:57] evancollins1 commented on #47872
# Here is full code to reproduce problem:

import numpy as np
import pickle
import pandas as pd

import tensorflow.keras as keras

import tensorflow.keras.backend as K
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import Input, Dense, Masking, LSTM, TimeDistributed, \
                         Bidirectional, Flatten, \
                         Embedding, Dropout

[2021-03-18 22:11] nikitamaia commented on #47676
Hi @inespancorbo, I think the mental model here is easier to understand if we start with the `MirroredStrategy` case.

`MirroredStrategy` is a synchronous data parallelism strategy. This means that when you call `model.fit`, `MirroredStrategy` will make a copy (known as a replica) of your model on each GPU. The CPU (host) is responsible for preparing the `tf.data.Dataset` batches and sending the d

[2021-03-18 22:11] #47676 closed

[2021-03-18 22:47] SNMS95 commented on #22208
@gtanzi
I found that the gradient function for the ‘ResizeBilinearGrad’ op is not implemented in Tensorflow and that this is causing the said error. Also,custom gradients for nonexistant ops can be registered using @tf.RegisterGradient(“ResizeBilinearGrad”), but I don’t know what exactly it should return. The required gradient function should have the form as given below:

@tf.RegisterGradient(“Re

[2021-03-18 22:53] acmilannesta commented on #47894
Found the issue. In the data generator should change ``` tmp = np.zeros((self.batch_size, TIME_STEPS, 12))``` to ``` tmp = np.zeros((len(batch_data), TIME_STEPS, 12))```

[2021-03-18 22:53] #47894 closed

[2021-03-18 23:00] TPrivat commented on #47705
Yes it seems with the newer version of tf-nightly-gpu (2.5.0.dev20210318) the correct version of libcusolver is loaded. However I now have the errors "failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error" and "None of the MLIR Optimization Passes are enabled (registered 2)". I do not get the line "Adding visible gpu devices:" and instead get "CPU Frequency: 3600000000 Hz", which I assume means

[2021-03-18 23:02] cheshire commented on #47599
Actually this works with latest tf-nightly. Just checked using the colab link above.

[2021-03-18 23:03] TPrivat commented on #47705
![tensorflow_errors](https://user-images.githubusercontent.com/33856930/111708613-2bc53500-8814-11eb-9272-2a211d952ed4.png)

[2021-03-18 23:03] cheshire commented on #47599
Closing as "fixed in nightly".

[2021-03-18 23:03] #47599 closed

[2021-03-18 23:15] MopsieX commented on #47770
This happens to me as well. TF 2.4.1 with python 3.8 works for me. TF 2.5 crashes/fails at the same part as it does for @razvanra2

[2021-03-18 23:23] coert opened #47898 "WARNING:tensorflow:AutoGraph could not transform <bound method Socket.send of <zmq.sugar.socket.Socket object at 0x7f817468a4c0>> and will run it as-is"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Docker image nvidia/cuda:10.2-devel-ubuntu18.04 (running Kebernetes on GCP)
- TensorFlow installed from (source or binary): 2.4.0
- TensorFlow version (use command below): v2.4.0-rc4-71-g582c8d236cb 2.4.0
- Python ve

[2021-03-18 23:49] PratsBhatt commented on #47286
I have created a pull request. Suggestions inputs are welcome @worldpeaceaspirer  and @rmothukuru . Thank you.

[2021-03-18 23:54] dwyatte commented on #46017
Closed by https://github.com/tensorflow/tensorflow/pull/46099

[2021-03-18 23:54] #46017 closed

[2021-03-19 00:13] charlesincharge commented on #45795
I ran into this issue, too, and would appreciate any help.

One issue might be that the regularizer loss (first row) show up as tf-scalars while the `model.add_loss` output (second row) shows up as `(None,)`-size/batch-size vectors?
![Screenshot 2021-03-18 at 5 10 59 PM](https://user-images.githubusercontent.com/3221512/111713481-f49f5580-880c-11eb-89d4-d8ada4e9009f.png)

[2021-03-19 00:37] thaink commented on #46514
@TylerLeonhardt At what commit/version did you build?

[2021-03-19 00:55] TylerLeonhardt commented on #46514
I don't recall... It's whatever commit comes in the container. The repro steps are fairly simple if you have an Intel-based Mac. Were you able to repro?

I've moved on to another project and won't be able to help further, I'm afraid.

[2021-03-19 01:26] #47383 closed

[2021-03-19 01:28] SidharthArya opened #47901 "Feature Request for N-Dimensional Operations"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes. I

[2021-03-19 01:38] terryheo commented on #47271
Using C++ requires lots of header files, so you'd better use C API for now.
https://www.tensorflow.org/lite/guide/build_cmake#build_tensorflow_lite_c_library

And I'll check the feasibility of providing C++ library later.

[2021-03-19 02:29] jjoachim opened #47902 "Unable to link c++ project due to missing header files"
**System information**
- Linux Ubuntu 18.04
- Tensorflow 2.4.1 (from source)
- Bazel 4.0.0
- g++ 7.5.0

**Describe the problem**
I am trying to run some c++ source examples that I've found around, but they require the following header files:
[code]
I ran into a compile issue:
[code]
I found this file `/tensorflow-2.4.1/bazel-out/host/bin/tensorflow/core/framework/device_attributes.pb.h` and moved

[2021-03-19 02:36] #47705 closed

[2021-03-19 02:57] 004307ec commented on #47884
I have met the same issue with TF 2.4.1.  It prevents the use of newer features of new hardware.

[2021-03-19 03:19] hsahni01 opened #47903 "Train.py error Blas GEMM launch failed"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I used nmt code https://github.com/daniel-kukiela/nmt-chatbot
- OS Platform and Distribution: Windows 10

[2021-03-19 03:55] #46090 closed

[2021-03-19 04:16] saw999 opened #47904 "ASL Gesture Recognition SSD Model not showing labels upon running"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): version 2, ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8

### 2. Code

Provide code to help us reproduce your issues using one of the following o

[2021-03-19 04:52] vishalyadav93 commented on #47883
didn't help, even if we try from wheel file, it will somehow put the "getTorrentRequest.h" file in my system which is getting blocked due to its name.

[2021-03-19 04:53] Saduf2019 commented on #47891
@jthibaut

Can you please refer to similar issue and let u know: [link](https://stackoverflow.com/questions/57008293/use-tf-data-dataset-for-ppm-files)

[2021-03-19 05:02] Saduf2019 commented on #47903
@hsahni01
We see that you are using tf 1.x and there is no support for 1.x, please upgrade to 2.x and let u know.

You may refer to closed similar issues: #37233, #11812, #25403, [link](https://github.com/tensorflow/tensorflow/issues/36781#issuecomment-593611624)

[2021-03-19 05:04] LucasColas commented on #47776
It's not really useful, is it ?

[2021-03-19 05:48] snigdhasen commented on #47163
Thanks for help.

[2021-03-19 05:48] #47163 closed

[2021-03-19 05:56] rrklearn2020 commented on #47742
I tried to debug little more and found that the error is caused by the class as shown below.
`class KLLossScheduler(tf.keras.callbacks.Callback):
    def __init__(self, update_per_batch=False, n_silent_epoch=5, n_annealing_epoch=50, verbose=0):
        self.update_per_batch = update_per_batch
        self.n_silent_epoch = n_silent_epoch
        self.n_annealing_epoch = n_annealing_epoch
        se

[2021-03-19 06:12] freedomtan commented on #47886
@yann-pourcenoux if you inspect your model with tools such as [`netron`](https://github.com/lutzroeder/netron), you can see that your model have 1x1x1x3 input, which looks weird. Forutunately, the model you converted has dynamic-size tensors, so you can try something like

[code]

[2021-03-19 06:21] xuehy commented on #33131
Why doesn't tensorflow support assignment of eagertensor just like pytorch?

[2021-03-19 06:48] #25957 closed

[2021-03-19 06:52] Saduf2019 commented on #47871
Glad to hear that, please move the issue to closed status as resolved.

[2021-03-19 06:55] kushanam commented on #47871
@Saduf2019 , The issue is not resolved, What I fixed is not the issue, but the given example witch used threw an error.

[2021-03-19 06:55] #47470 closed

[2021-03-19 06:55] #47475 closed

[2021-03-19 06:55] #47563 closed

[2021-03-19 06:56] Saduf2019 commented on #47878
@ststeinberg

 As mentioned [here](https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/tools/pip_package/setup.py#L84), there is a bound on numpy versions supported by TF2.4 ( ~=1.19.2). Currently numpy version should be >=1.19.2 and < 1.20.

As you mentioned in the other issue, downgrading numpy 2.x to the versions mentioned above will work without any issues.
Please move this to closed

[2021-03-19 06:58] Saduf2019 commented on #47778
@Antzyx
Thank you for your update.
Glad the issue is resolved for you, please move this to closed status.

[2021-03-19 07:00] Saduf2019 commented on #47885
@yulong88888
This i not the Tfjs repo,please move this issue to closed status and open it in the correct repo.

[2021-03-19 07:04] yulong88888 commented on #47885
@Saduf2019 Sorry, I can't find the issue option in https://github.com/tensorflow/tfjs-models, can you help me

[2021-03-19 07:19] abattery commented on #47050
I think this problem is fixed at HEAD. Could you try again with the recent tf-nightly?

[2021-03-19 07:19] #47050 closed

[2021-03-19 07:29] abattery commented on #47050
FYI, https://github.com/tensorflow/tensorflow/commit/f77a48ea4807046996a84b476e56e1feba10ae69 fixed the issue.

[2021-03-19 07:36] abattery commented on #47904
@srjoglekar246 could you take a look?

[2021-03-19 07:36] VoVAllen commented on #47866
I didn't see an easy way to resolve this issue. Probably Tensorflow should preserve the GPU labeling on the logical devices after `set_visible_device`

[2021-03-19 07:39] saidRaiss commented on #46970
Hi, @Neeraj1108Yadav can you share your pipeline config file, I think that you set "ssd_mobilenet_v2" as type of your features_extractor. It happened with me, set "ssd_mobilenet_v2_keras" and try again.
model {
[code]

[2021-03-19 07:51] jthibaut commented on #47891
Thanks
I already saw this solution but it does not work for .tiff files !

[2021-03-19 08:02] FSet89 opened #47905 "tflite runtime API + NNAPI delegate refusing layers from a MobileNetV2SSD trained with Object Detection API, with high inference time"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): training on Ubuntu 18.04, inference on Yocto
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version

[2021-03-19 08:15] abattery commented on #47905
@miaowang14 could you take a look?

[2021-03-19 08:34] cmsax commented on #33131
? why is it not mutable?

[2021-03-19 08:36] cmsax commented on #33131
Tensor in TensorFlow is not mutable, assignment to EagerTensor is illegal.

[2021-03-19 08:41] terryheo commented on #47223
Regarding the performance, you'd better specify num_threads since TF 2.4.

[code]

It looks like a regression, anyway it solves your issue.

[2021-03-19 08:50] jason9075 opened #47906 "Using custom callback to set trainable=true doesn't work when use model.fit()"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-03-19 08:50] aohan237 commented on #33131
it means EagerTensor is not that Eager as announced.
supposed use tf as a static solution, if you want dynamic, then go to pytorch

[2021-03-19 08:58] ddeweerdt commented on #47183
@Saduf2019 You're right, the errors are gone, thanks!

[2021-03-19 09:22] Rababalkhalifa opened #47908 "TF2 + GH"
![image](https://user-images.githubusercontent.com/24195074/111758231-24de0700-8894-11eb-9778-1716c8fdb9dd.png)

I am getting list of error as I am trying to change TF2 BERT from using tfhub bert to hugging face bert.

The accuracy and results are not similar to using tfhub bert besides I am getting all the error above.

I am using this:
from transformers import BertConfig, AutoTokenizer, TFAutoMo

[2021-03-19 09:36] yulong88888 commented on #47885
I completed the requirement by code overwriting

[2021-03-19 09:36] #47885 closed

[2021-03-19 09:49] Saduf2019 commented on #47898
@coert
Please share simple stand aloe code such that we can replicate the issue reported or if possible share a colab gist.
 Mean while please refer to existing issues with same error: [link](https://github.com/tensorflow/tensorflow/issues/46177#issuecomment-799619015), #37144, [link1](https://stackoverflow.com/questions/61551592/tensorflow-fails-to-create-autograph-out-a-working-piece-of-code)

[2021-03-19 09:53] Saduf2019 commented on #47891
@jthibaut
Please share stand alone code such that we can replicate the issue reported such that we can replicate the issue, or if possible share a colab gist with the error.

[2021-03-19 10:00] Saduf2019 commented on #47183
@ddeweerdt
Thank you for your update, please move the issue to closed status.

[2021-03-19 10:06] Hemanthkumar2112 commented on #21742
use
app.run(debug=True, use_reloader=False)

[2021-03-19 10:07] Alok-Ranjan23 opened #47909 "TF.keras in TF2.4"
What are the differences in tf.keras in TF2.4 with respect to TF1.15 version?

[2021-03-19 10:08] Saduf2019 commented on #47882
@EnderWiggin14
Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-03-19 10:09] jthibaut commented on #47891
Fine ! How can I do because I have a lot of pictures and I prefer to work on standalone rather than on collab as it is heavy each time to upload pictures and I have a limited workspace ?

[2021-03-19 10:11] #47183 closed

[2021-03-19 10:17] amahendrakar commented on #47908
@Rababalkhalifa,
Could you please let us know the TensorFlow version you are using?

I did not face any warnings while running the code with TF v2.4.1. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dd598bcdb663e7373ce48b960beb90f4/47908.ipynb). Thanks!

[2021-03-19 10:17] amahendrakar commented on #47908
Also, you can suppress the warning messages by changing the log level at the start of the program
[code]

or you can set the [autograph verbosity](https://www.tensorflow.org/api_docs/python/tf/autograph/set_verbosity
) level using

[code]
Thanks!

[2021-03-19 10:18] Saduf2019 commented on #47881
@kreouzisv
Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-03-19 10:22] Saduf2019 commented on #47909
@Alok-Ranjan23
There is no support for tf 1.x and there is support for tf 2.x, tf 2.4 is the latest stable version.
For more differences refer to this [link](https://www.pyimagesearch.com/2019/10/21/keras-vs-tf-keras-whats-the-difference-in-tensorflow-2-0/) and [this](https://stackoverflow.com/questions/59112527/primer-on-tensorflow-and-keras-the-past-tf1-the-present-tf2).

Also please move this t

[2021-03-19 10:26] kreouzisv commented on #47881
I asked in the documentation tab, wasn't a bug or feature request. I figured that you should document how to manipulate the tensorflow object : ListWrapper().

Anyways, I was able to extract the numerical values of the list wrapper and store it using:

with tf.init_scope():
       store_array = x

where x is the Listwrapper object.

Thanks anyway

[2021-03-19 10:39] Rababalkhalifa commented on #47908
I am using tf 2.4.1 in colab.
The code was fine before changing to HF layers. All what I did is changing the tokenizer and bert parts.
using batch encoder and replacing this:
  encoder = hub.KerasLayer(tfhub_handle_encoder, trainable=True, name='encoder')
with:
  net = bert(inputs['input_word_ids'], attention_mask=inputs['input_mask'])[0]

[2021-03-19 10:53] ianqouda opened #47910 "Tracking python lists (or ListWrapper) in keras custom preprocessing layers"
### System information

-   **Custom code**
-   **OS Platform and Distribution**:

-   **TensorFlow installed from binaries**:
-   **TensorFlow version**: 2.4.0
-   **Python version**: 3.6.8

### Problem
Hi,
My problem is the following: I try to create a custom keras preprocessing layer in which I absolutely need an attribute which is a regular python list computed via adapt method. When I include

[2021-03-19 11:21] EnderWiggin14 commented on #47882
I will not open a stackoverflow issue because of the times I have, I have not received a single response. This submitted as a documentation issue which it very much so is. It should not be that difficult for someone familiar with the source code to link me to correct page containing the information that I seek.

[2021-03-19 11:23] fgr1986 commented on #24641
Shall I try on 1.12? or in the newest 1.X branch?

Thanks

[2021-03-19 11:26] berzjackson commented on #14834
Just ran into similar problems and found this thread. If anyone else find here as well, hope this can help.

If your model's predictions are generally very small, say something less than 0.001, try increasing the **num_thresholds** argument in your auc call. The default value is set to 200, which in my case is too small and cause huge approximation error(as high as 0.2).

This is actually clearly

[2021-03-19 11:54] rmothukuru commented on #24641
@fgr1986,
Thank you for your response. It would be great if you could try in the latest `2.x` branch as `1.x` is not actively supported.

[2021-03-19 12:04] evelynphang88 commented on #26854
def instance_norm(x, scope='instance_norm'):
         return tf_contrib.layers.instance_norm(x,epsilon=1e-05,center=True, scale=True,scope=scope)

How to convert this tensorflow 2.2 ??

[2021-03-19 12:29] rmothukuru commented on #29890
@lkmandy,
[Example code](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/backend/count_params#example) is available, which demonstrates how to use this functionality. Can you please confirm if this is what you are looking for? Thanks!

[2021-03-19 12:36] mattiasthalen opened #47912 "Weights in tf.estimator.BoostedTreesClassifier()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): PIP
- TensorFlow version (use command below): v2.4.0-49-g85c8b

[2021-03-19 12:43] bplevin36 commented on #34946
I have this question as well.  As it is now, attempting to use the C libs (libtensorflow.so) alongside anything that uses custom ops (like tensorflow-text) is extremely unpleasant due to ABI issues.  Further documentation on this would be very helpful.

[2021-03-19 12:55] #27146 closed

[2021-03-19 13:11] Fawcett-cpu opened #47913 "Tenorflow Traceback Errors"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-03-19 13:22] ClementViricel commented on #47554
Hello, I have the same issue in tf.2.4.1 si do not close it

[2021-03-19 13:27] ClementViricel commented on #47479
Same warning with a simple one layer LSTM model with a lambda function. Please update the save function.

[2021-03-19 13:34] AdityaKane2001 commented on #47891
@jthibaut
Use
[code]

[2021-03-19 13:47] #47878 closed

[2021-03-19 13:48] ststeinberg commented on #47878
Closing this ticket and waiting for a solution of #47691.

[2021-03-19 13:54] Saduf2019 commented on #47554
@ClementViricel
Can you please try on nightly and let us know if you still have the issue.

[2021-03-19 14:01] nukes commented on #34024
Can group conv works on cpu now (tf 2.4.x) ?

[2021-03-19 14:03] iLeW opened #47915 "Build fails on Arch Linux"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux, LSB version 1.4, Linux 5.10.23-1-lts, x86-64
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.4.1
- Python version: 3.9
- Installed using virtualenv? pip? conda?: virtualenv, pip
- Bazel version (if compiling from source): 4.0.0
- GCC/Compiler version (if compiling from sourc