[2020-07-19 14:16] willakuffo commented on #21574
## This worked for me. Thanks
----------------------------------

[2020-07-19 14:18] gustavo-dev commented on #41535
[Link to colab](https://colab.research.google.com/drive/1Wytmka9mPZZhQvC2KmqOfDL17hW9Reyp?usp=sharing).

[2020-07-19 14:30] Saduf2019 commented on #41466
Closing this issue as user has deleted account.

[2020-07-19 14:30] #41466 closed

[2020-07-19 14:52] #41032 closed

[2020-07-19 14:54] Hazarapet commented on #41505
Here is an issue which was opened a couple of years ago "**Provide GPU implementations for resize image methods**" #533
Closed without any solution.

[2020-07-19 14:56] Saduf2019 commented on #41532
@netw0rkf10w
I ran the above shared code on nightly and on tf 2.2 and do not face any such issues, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/8d04cbff31eeb441d1108190e73c78ba/untitled284.ipynb).

[2020-07-19 14:58] xuyifangreeneyes opened #41541 "tensorflow_gpu-1.4.0 requires libcudart.so.10.0 rather than libcudart.so.8.0"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.4.0
- Python version: 3.6.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if compiling from source): N/A
- CUDA/cu

[2020-07-19 15:02] Saduf2019 commented on #41532
Please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/18652 ) with similar error

[2020-07-19 15:02] jiangxiluning commented on #38779
@qniguoym did you solve your problem, I encountered this problem as well.

[2020-07-19 15:10] yaowang1111 commented on #18257
Has this bug been solved? I run tf2.1 and the problem is still there.

[2020-07-19 15:37] TCIII commented on #41534
@lordtt13,

I will close it as soon as I get concurrence from the NVIDIA Developer Forum as this is their version of Tensorflow for the Jetson Nano Jetpack4.3.
However I will not let this issue drag on very long if I do not hear from them.
Regards,
TCIII

[2020-07-19 15:52] #40945 closed

[2020-07-19 16:07] gowthamkpr commented on #40858
Closing this  issue as it has been awaiting response for more than 2 weeks. Please add additional comments for us to open this issue again.

[2020-07-19 16:07] #40858 closed

[2020-07-19 16:08] aavishkarmishra commented on #40976
@MarkDaoust can you help me whit my doubt ?

[2020-07-19 16:09] gowthamkpr commented on #40796
Closing this issue as it has been inactive for 2 weeks. Please add additional comments for us  to open this issue again. Thanks!

[2020-07-19 16:09] #40796 closed

[2020-07-19 16:11] gowthamkpr commented on #40738
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-07-19 16:11] #40738 closed

[2020-07-19 16:30] gowthamkpr commented on #40985
@vyshnavigutta369 As per the error message and the documentation [here](https://www.tensorflow.org/api_docs/python/tf/keras/backend/rnn), you will only encounter this error if in `tf.keras.backend.rnn` the argument `unroll` is True but input timestep is not a fixed number. So make your timestep a fixed number and the issue should be resolved.

Also I am closing this issue as it has been inactive f

[2020-07-19 16:30] #40985 closed

[2020-07-19 16:43] netw0rkf10w commented on #41532
@Saduf2019 Yes it seems related to that issue. What should I do then? It seems to have something to do with the hardware... Thanks.

[2020-07-19 18:31] mihaimaruseac commented on #41512
Please always fill in issue template.

Please use ` ``` ` before and after code and error blocks to make them readable.

Please post output of `pip list`.

[2020-07-19 18:36] mihaimaruseac commented on #41525
Thank you for the suggestions. Note though that some are impossible to achieve due to technical reasons (depend on multiple CUDA versions), legal reasons (automatically bundle some dependencies) or process reasons (rewriting from scratch). Furthermore, some of the suggestions don't directly apply to TF (e.g., `pip` recommendation in 9. is likely something that needs to happen at the level of PyPI,

[2020-07-19 18:44] coolkidmacho commented on #27267
Yes I need help with this aswell
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
doesnt work for me

[2020-07-19 19:19] pablo-blancoc commented on #40978
Hi @AnikaTabassum
I'm trying to build tensorflow from source on centOS 7. Have upgraded gcc to 5.4.0 but I see I need >7 version. Getting same errors as you. How did you make it work?

[2020-07-19 19:25] AnikaTabassum commented on #40978
I updated the gcc version but it didn't help. So I switched environment. Previously I was working in a python3 environment, I started using anaconda environment. Installed tensorflow using conda, and it's working.

[2020-07-19 21:16] rzimmerdev commented on #41482
I am so sorry for my mistake, as I have solved the issue myself.
The problem was that I was freezing my model in a folder ending with .pb, and not a file with the .pb extension, as I thought that the default frozen model for the tutorial was also a folder with the .pb extension.

**Redirecting my path to the .pb file inside my previous folder with the .pb ending changed the problem**, and I no lon

[2020-07-19 21:16] #41482 closed

[2020-07-19 22:56] oksyassine commented on #17216
@theonegis Could you please let me know what is the max user processes did you choose to fix the problem please ?

[2020-07-19 23:51] faustomorales commented on #41352
Switching to a try/catch seems more idiomatc (ask forgiveness, not permission) but would result in TensorFlow getting used if a user has installed TensorFlow *and* the TFLite runtime in the same environment. In the best case, this causes surprising behavior (the TFLite runtime would rely on TensorFlow when it was intended to operate independently). In the worst case, there could be an API mismatch

[2020-07-20 00:33] sedol1339 opened #41542 "tf.io.TFRecordWriter cannot work with gs:// or ram:// at Google Colab TPU"
**System information**
- TensorFlow version (use command below): 2.2.0 (v2.2.0-0-g2b96f3662b)
- Python version: 3.6.9
- GPU model and memory: Google Colab TPU

**Current behavior**

At first, I gave TPU permission to create files on my cloud bucket:
`!gsutil iam ch serviceAccount:service-495559152420@cloud-tpu.iam.gserviceaccount.com:roles/storage.objectCreator gs://oleg-zyablov/`

Now I want to c

[2020-07-20 01:20] hanzigs opened #41543 "subclassed model load_model ValueError?"
I am using tf==2.2.0
Tried the collaborative filtering model
https://keras.io/examples/structured_data/collaborative_filtering_movielens/

for saving and loading the model, these worked
[code]
But after loading the model while prediction, I get value error
[code]
May i know how to fix this?

[2020-07-20 01:22] terryheo commented on #41373
For using TFLite C API, you'd better check this.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/c

For using prebuilt library with Android Studio, please check this.
https://developer.android.com/ndk/guides/cmake#using_prebuilt_libraries

[2020-07-20 01:25] terryheo commented on #41364
"-c opt" is for release.
"-c dbg" for debug build.

If your workstation is x64, bazel generates a x64 binary by default.
"--cpu=x86" option is needed to build x86 binary.

[2020-07-20 01:25] #41364 closed

[2020-07-20 01:32] terryheo commented on #41039
@teijeong could you check this?

[2020-07-20 01:35] terryheo commented on #40661
Please, check these.

https://www.tensorflow.org/lite/guide/build_rpi
https://www.tensorflow.org/lite/guide/build_arm64
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/make

[2020-07-20 01:35] #40661 closed

[2020-07-20 02:03] ryanshin712 opened #41544 "How to load tensorflow 2.0 savedbundle file by using Java"
From Tensorflow 1.x version, Java can handle a pb file after using freeze_graph.pb.
But, from Tensorflow 2, since the saved pb structure is different, I don't think a regular way to export file does not work.

I was wondering how to load Tensorflow 2 saved files by using Java.

[2020-07-20 02:03] hanzigs commented on #41543
I tried saving as
[code]
still not working

[2020-07-20 02:07] hanzigs commented on #41543
@ravikyram I am in request for this solution asap, could you please help, Thanks

[2020-07-20 02:25] amgsharma opened #41545 "model.export(export_dir='.') does not export labels nor model."
**System information**
- OSx
- TensorFlow installed from source
-  tf.__version__  ='2.4.0-dev20200719'

**Command used to run the converter or code if you’re using the Python API**
Running the code in [this notebook](https://colab.research.google.com/drive/1_LZxdWIfYFpZorpUkzgx_MPZzdzi8Hhy?usp=sharing), the export is fine. The issue arises when running the same code locally in a virtualenv with p

[2020-07-20 02:38] WindQAQ opened #41546 "Reciprocal is not executed on GPU for complex number"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-07-20 02:38] isfoxHjl opened #41547 "TensorFlow Lite currently doesn't support control flow ops"
TensorFlow Lite currently doesn't support control flow ops: Merge, Switch. We are working on supporting control flow ops, please see github issue at https://github.com/tensorflow/tensorflow/issues/28485. Some of the operators in the model are not supported by the standard TensorFlow Lite runtime and are not recognized by TensorFlow. If you have a custom implementation for them you can disable this

[2020-07-20 02:46] Julius-ZCJ commented on #41480
@Saduf2019
Yes, I have see these issues before I raise this issue, but not found fix this error method, if you can reproduce this error, can you tell me how to fix this bug.

[2020-07-20 02:46] e-commerce-search commented on #28090
@alextp Could you give some pointers/references on how to do that?

My understanding is that unless the the SlicedIndex has unique indices, one would need to invoke the _deduplicate_indexed_slices function before updating the variable/accumulator. Internally that function calls tf.unique. I wouldn't mind callig tf.unique on vocab ids, but on embedding gradient it's a bit expensive with host/device

[2020-07-20 02:53] khanhlvg commented on #41110
You can follow the logic described in the [notebook](https://www.tensorflow.org/lite/models/style_transfer/overview#style_blending):
1. run style_predict with your content image
1. mix the style bottleneck of your content image and style image
`blended_bottleneck = alpha * content_bottleneck + (1-alpha) * style_bottleneck`
1. run style_transform with content_image and blended_bottleneck.

You can

[2020-07-20 03:28] abattery commented on #41547
Currently, TFLite does not support v1 control flow ops. Please try the conversion with the following option or you can upgrade the old control flow ops with v2 control flow ops.

https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2

[2020-07-20 03:32] yongtang opened #41549 "Incorrect processing in tf.image.decode_gif for multiple-frame image"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): n/a
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS or Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2

[2020-07-20 03:52] Tomhouxin commented on #41364
@terryheo ok, thank you, good job

[2020-07-20 03:53] braindotai commented on #41492
Is there any other way of creating a custom dataset other than this? Cuz this looks a whole lot of unnecessary work to do for  reading a simple dataset.

[2020-07-20 04:03] braindotai commented on #41492
l have seen `tf.data.Dataset.list_files` and `tf.data.TextLineDataset`, and do think these might solve my issue. Could you provide me with an working example of em?

[2020-07-20 04:23] ravikyram commented on #41499
I tried in colab with TF versions 2.2, 2.3-rc1 and nightly versions(`2.4.0-dev20200719`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/f56e33799db581c4cf8655dc2ca94fc9/untitled.ipynb).Thanks!

[2020-07-20 05:25] Kasqqqqqqq opened #41550 "tensorflow lite for android a bug: Node number 213 (TfLiteGpuDelegateV2) failed to invoke."
2020-07-20 13:21:08.699 24598-24632/org.gddi.ai.camera E/AndroidRuntime: FATAL EXCEPTION: Thread-5
    Process: org.gddi.ai.camera, PID: 24598
    java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: TfLiteGpuDelegate Invoke: Failed to read data from GPU (clEnqueueReadBuffer) - Execution status error for events in wait list
    Node number 213 (TfLiteGpuDeleg

[2020-07-20 05:52] #41099 closed

[2020-07-20 05:56] #41501 closed

[2020-07-20 06:06] braindotai commented on #41492
Hi there, I think there is a way and I've managed to do what I wanted. Here's my code:-

[code]

With this code, everything is working just fine for now. Also, do share your opinion for reading the data based on the above code, like performance and memory wise, and some modifications that I should make if any. And if everything is okay, then please add this example to the official tensorflow docum

[2020-07-20 06:11] Samjith888 commented on #41524
Any updates ?

[2020-07-20 06:23] braindotai commented on #31540
@arashwan Here's an example how you can create a fully custom dataset using `tf.data.Dataset`. I'm reading a celeb_a dataset, that is located at `'dataset'` directory. Here's how the dataset directory looks like...
[code]

[code]

Hope this helps

[2020-07-20 06:38] ravikyram commented on #41503
@jp3spinelli

I think this is more related to models repo.Please, raise an issue in models repo by filling issue template from [here](https://github.com/tensorflow/models/issues/new/choose).Also, please share related code so it helps us in localizing the issue faster.Thanks!

[2020-07-20 06:47] amahendrakar commented on #41490
@hans-ekbrand,
Could you please check if you have installed the TensorFlow pip package dependencies as mentioned in [this guide](https://www.tensorflow.org/install/source#install_python_and_the_tensorflow_package_dependencies).

[code]

Please take a look at this similar issue [#36903](https://github.com/tensorflow/tensorflow/issues/36903) for reference. Thanks!

[2020-07-20 06:50] hanzigs commented on #29545
HI may I have help on this similar issue please
https://github.com/tensorflow/tensorflow/issues/41543
Thanks

[2020-07-20 06:50] shreyagu commented on #36539
I solved this issue in one way, when passing the validation data into the generator, pass the **tfds.as_numpy()** generator creation function instead of passing the created generator itself. @Flamefire

[code]

[2020-07-20 06:56] ravikyram commented on #41519
I have tried in colab with TF version 2.2, 2.3-rc1 ,nightly versions(`2.4.0-dev20200719`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0d7823a174667111c362fd04961ec639/untitled.ipynb#scrollTo=JsNyrzHx-rLh).Thanks!

[2020-07-20 07:05] Saduf2019 commented on #41524
@Samjith888
I ran the above shared code, its incomplete hence i [face a different error](https://colab.research.google.com/gist/Saduf2019/e51869bb8cbc7b062aca0256c6149de9/untitled284.ipynb), please share all dependencies and complete indented code and tf version such that we can replicate the issue faced or a colab gist with the error to analyse. Thanks!

[2020-07-20 07:08] ravikyram commented on #41527
@pardeep-kesnani1234

I think this is more related to models repo.Please, raise an issue in models repo by filling issue template from [here](https://github.com/tensorflow/models/issues/new/choose).Also, please share related code so it helps us in localizing the issue faster.Thanks!

[2020-07-20 07:16] Samjith888 commented on #41524
General use case:

Assume the model is expecting a 2 separate arrays , but the custom funtion return single array with shape (2,2).

[code]
Here the lbs in  func is retrun single array with shape (2,2), how can i make the lb into seperate array with each having shape (1,2)?

[2020-07-20 07:17] jclaessens97 opened #41552 "CategoryEncoding not working when loading model again"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 20.04 LTS**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **nightly binary (tf-nightly-gpu)

[2020-07-20 07:20] ravikyram commented on #41531
I have tried in colab with TF version 2.2, 2.3-rc1, nightly version(`2.4.0-dev20200719`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ca64601372cfa6fe3938590894ae5d51/untitled149.ipynb).Thanks!

[2020-07-20 07:26] hanzigs commented on #41543
I have tried
[code]
and loaded back with
[code]
still i get
[code]

[2020-07-20 07:34] ravikyram commented on #41537
I have tried in colab with TF version 2.2, 3.2-rc1, nightly versions(`2.4.0-dev20200719`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/39ed7b1b24f174af015af8e2af2a7b07/untitled150.ipynb).Thanks!

[2020-07-20 07:40] ravikyram commented on #41540
@deepseek

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-07-20 07:48] Saduf2019 commented on #41492
@braindotai
I ran the code shared please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ce3d5838f99e76424bf4653261ea507c/untitled284.ipynb).
 Please share all dependencies for us to replicate the issue faced or if possible share a colab gist with the issue reported.

[2020-07-20 07:52] #41103 closed

[2020-07-20 07:53] ksekine commented on #25579
Thanks for the information that PReLU is the cause.
I can work around this issue by removing PReLU from the model.
So I'll close this issue if no one else is in trouble.

[2020-07-20 07:53] ravikyram commented on #41534
@TCIII

The following NVIDIA® software must be installed on your system:

NVIDIA® GPU drivers —CUDA 10.1 requires 418.x or higher.
CUDA® Toolkit —TensorFlow supports CUDA 10.1 (TensorFlow >= 2.1.0)
CUPTI ships with the CUDA Toolkit.
cuDNN SDK (>= 7.6)
(Optional) TensorRT 6.0 to improve latency and throughput for inference on some models.
You can find a tutorial here: https://medium.com/@ardianumam

[2020-07-20 08:04] braindotai commented on #41492
[Here's](https://colab.research.google.com/drive/1-laADHFzT_2qyx10IBvm6tmJeVhCxxCN?usp=sharing) the running notebook.

[2020-07-20 08:07] braindotai commented on #41492
[Here's](https://colab.research.google.com/drive/1-laADHFzT_2qyx10IBvm6tmJeVhCxxCN?usp=sharing) the colab link.

[2020-07-20 08:13] Santosh-Gupta commented on #30818
Have you tried with tf 2.3.0 nightly?

[2020-07-20 08:13] braindotai commented on #41492
[Here's](https://colab.research.google.com/drive/1-laADHFzT_2qyx10IBvm6tmJeVhCxxCN?usp=sharing) the colab link

[2020-07-20 08:16] mailtohemantha commented on #33378
Step 1: Create a new conda environment where we will install our modules to built our models
Step 2: Open Anaconda Prompt (Run as Administrator)
conda create --name deeplearning
Step 3: Activate the conda environment that we just created use
activate deeplearning
Step 4: Install Keras
conda install -c anaconda keras
Step 5: Install Jupyter
conda install jupyter #very important if you work on Jupyt

[2020-07-20 08:17] mailtohemantha commented on #36045
Step 1: Create a new conda environment where we will install our modules to built our models
Step 2: Open Anaconda Prompt (Run as Administrator)
conda create --name deeplearning
Step 3: Activate the conda environment that we just created use
activate deeplearning
Step 4: Install Keras
conda install -c anaconda keras
Step 5: Install Jupyter
conda install jupyter #very important if you work on Jupyt

[2020-07-20 08:17] amahendrakar commented on #41493
@fsx950223,
I was able to reproduce the issue reported here, but the 'working example' too seems to throw an error. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/07cc20c8528e0f6209800732ec5aa297/41493.ipynb).

If possible could you please provide a working example too? Thanks!

[2020-07-20 08:20] Flamefire commented on #36539
Sure that would work because the whole dataset will be loaded into memory as a numpy array (for which TF knows how to get the size) but as described in the documentation using numpy arrays for large datasets is discouraged. Example: Try finding enough RAM to load the whole of ImageNet ;)

[2020-07-20 08:24] fsx950223 commented on #41493
[code]

[2020-07-20 08:24] braindotai commented on #41492
Run below cells first:-
[code]
This will ask you to upload the kaggle api json file, which you can get from your kaggle account section.
After uploading that, run:-

[code]
[code]
After after this, you can run the rest

[2020-07-20 08:26] fsx950223 commented on #41542
CPU and GPU on local machines have same problem.
```tf.io.gfile``` APIs have similar problems too.

[2020-07-20 08:32] nitin-barthwal commented on #6698
This worked for me. Thanks

[2020-07-20 08:32] Saduf2019 commented on #41520
@sidhomj
I ran the code shared and face [this error](https://colab.research.google.com/gist/Saduf2019/e955df428d9ad1721c58b70037702ad7/untitled286.ipynb), please let us know if it confirms your issue.

[2020-07-20 08:35] Saduf2019 commented on #41442
@Dilshad737
Can you share the steps followed before you faced this issue, please provide all details.

[2020-07-20 08:38] Saduf2019 commented on #41507
@yskale
Please provide with detailed information for us to help you, we see that you have not filled the issue template. steps followed before you faced this issue.Thanks!

[2020-07-20 08:39] Saduf2019 commented on #41538
@AI-Friend
If you want to use colab, you may select gpu by changing runtime type and run your code.

[2020-07-20 08:50] amahendrakar commented on #41505
@Hazarapet,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-07-20 09:09] deepseek commented on #41540
@ravikyram i already did, but it is still a very important question to answer here, especially when dealing with a huge model and data that requires Terabytes of ram, using an m.2 storage which is very fast, dealing with large scale data requires using swap file only without ram in training.
What if i want Tensorflow to use only the swap file as main source of memory?

[2020-07-20 09:11] Hazarapet commented on #41505
@amahendrakar thank you for your response.
I'm sorry but I can't share the code. It's a model, containing regular layers like **batchnorm**, **conv2d**, **activation**, and **sampling** layers and **nothing else**. I don't have any complicated custom implementations in my model. The main problem is related to sampling operations. I'm guessing image resize does not have GPU support for `mixed_float

[2020-07-20 09:16] deepseek commented on #41540
@ravikyram  i already did,
But this is a very serious question to answer, when dealing which large scale data, and i mean real big data that requires Terabytes of RAM. Corporations trying to build a huge model at that scale, it's vital to shift training from using the actual RAM, and instead use the swap. Note that my storage is fast M.2
Answering this question is a serious matter

[2020-07-20 09:17] terryheo commented on #35116
I've also verified PI-PYTHON37 container doesn't work as expected.
I've investigated a bit and it's not simple to fix.

Please use Python 3.5 interpreter instead.

[2020-07-20 09:21] stefan-falk opened #41553 "keras.Model.save_weights is overwriting all_model_checkpoint_paths"
**System information**
- Tensorflow 2.2.0

**Describe the current behavior**

`keras.Model.save_weights` does not respect existing checkpoints.

Using `save_weights()` from a Keras model seems to overwrite the `checkpoint` file without preserving existing checkpoints (`all_model_checkpoint_paths`) of that file.

https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315

[2020-07-20 09:26] ravikyram commented on #41546
I have tried in colab with TF version 2.2, 2.3-rc1,nightly versions(`2.4.0-dev20200719`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/adcddd8a7a1b1f8280c3f44685d57064/untitled151.ipynb).Thanks!

[2020-07-20 09:29] amahendrakar commented on #41510
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/173981f159dcf4853852de2404bedf8a/41510.ipynb). Thanks!

[2020-07-20 09:35] fsx950223 commented on #41542
The bug seems to have been fixed on nightly.

[2020-07-20 09:40] Samjith888 commented on #41524
@Saduf2019  here i have simplified the error

[2020-07-20 10:00] terryheo commented on #35116
I've found a solution. Let me prepare PR.

[2020-07-20 10:00] ArtanBerisha1 opened #41554 "ObjectTracking is returning null"
I implemented tensorflow/example/android.../tracking into my android app and when I am trying to activate and disable ObjectDetection, then I am getting an error :
'CHECK FAILED (object_tracker != NULL): null object tracker!'

In ObjectTracker.java there is a documentation like this:
**
 * True object detector/tracker class that tracks objects across consecutive preview frames.
 * It provides a si

[2020-07-20 10:09] hans-ekbrand commented on #41490
Thanks for helping me out, @amahendrakar. Here are the installed modules in this virtual environment:

[code]

[2020-07-20 10:13] Samjith888 commented on #41524
@Saduf2019  please look at the updated issue ,, there  i have simplified the use case

[2020-07-20 10:17] hans-ekbrand commented on #41490
Can one replicate the failing step manually? I was thinking about using `strace` to identify the files that the failing step opens.

[2020-07-20 10:18] ArashJavan commented on #31540
@braindotai and @dynamicwebpaige thanks for your suggestions I will try them and report ASAP.

[2020-07-20 10:18] #31540 closed

[2020-07-20 10:19] AI-Friend commented on #41538
Thank you，I see!
I have this problem：“Allocation of 25046108416 exceeds 10% of system memory.”
Why just over 10% of the memory, the model can not be trained?

[2020-07-20 10:22] jdonier commented on #40795
@mdanatg interesting, however this won't work for us as we don't want to set the training flag to a constant. Can you tell if this will be fixed in a near future?

[2020-07-20 10:41] hanzigs commented on #41543
Found it, Thanks
Actually recreating the model with
[code]
didn't work for me

First we have to save_weights from the built model
[code]
Then
we have to initiate a new instance for the subclass Model then compile and train_on_batch with one record and load_weights of built model
[code]
This work perfectly in TensorFlow==2.2.0

[2020-07-20 10:43] hanzigs commented on #29545
Found it, Thanks
Actually recreating the model with
[code]
didn't work for me

First we have to save_weights from the built model
[code]
Then
we have to initiate a new instance for the subclass Model then compile and train_on_batch with one record and load_weights of built model
[code]
This work perfectly in TensorFlow==2.2.0

[2020-07-20 10:52] ravikyram commented on #41554
@ArtanBerisha1

Request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please provide details about what platform you are using (operating system, architecture).

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-20 10:53] Saduf2019 commented on #41524
@Samjith888
I ran the code again its incomplete, please share a colab gist and the tf version.

[2020-07-20 11:02] ravikyram commented on #41543
@hanzigs
Glad to know it worked.Here is the document for your [reference](https://www.tensorflow.org/tutorials/keras/save_and_load).Please, close this thread if your issue was resolved.Thanks!

[2020-07-20 11:06] sidhomj commented on #41520
Yes, this is the error I receive.

Sent from my iPhone

On Jul 20, 2020, at 4:32 AM, Saduf2019 <notifications@github.com> wrote:

﻿

      External Email - Use Caution

@sidhomj<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsidhomj&data=02%7C01%7Cjsidhom1%40jhmi.edu%7C1fc0306f4ee44905c9e008d82c878015%7C9fa4f438b1e6473b803f86f8aedf0dec%7C0%7C0%7C637308307763337636&s

[2020-07-20 11:16] Saduf2019 commented on #41445
@Zlz-shoulder
I ran the code shared with the dependencies shared, please [find the error faced.](https://colab.research.google.com/gist/Saduf2019/6ff7fed10a67b4776e3e9267704e26a3/untitled283.ipynb), please share a colab gist with the issue reported.

[2020-07-20 11:26] orangesomethingorange commented on #39118
@jdduke I tried running TFL in NDK using the C-API via [these instructions](https://www.tensorflow.org/lite/guide/android#use_tflite_c_api) and [version 2.2](https://bintray.com/google/tensorflow/download_file?file_path=org%2Ftensorflow%2Ftensorflow-lite%2F2.2.0%2Ftensorflow-lite-2.2.0.aar) seems to work ok :)
**I assume I have you to thank for - so thanks**!

I still can't see any result from the

[2020-07-20 11:26] #39118 closed

[2020-07-20 11:46] jplu commented on #40035
Hello!

I'm going through the same issue and I wanted to know if there was any update on this? Will it be fixed in the forthcoming 2.3 release?

[2020-07-20 11:59] asus4 opened #41555 "TFLite Metal Delegate failed to build on macOS from v2.3.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.5
- Mobile device

[2020-07-20 12:02] Demetrio92 commented on #20208
This thread is sad. We're not talking about the Gamma function, but the gamma distribution. Where you use `gamma(alpha)` as a **constant**.

For a workaround implementation, which also works with the mixture of gamma distributions see https://github.com/tensorflow/probability/issues/659

[2020-07-20 12:37] NEGU93 opened #41557 "Disable Warning for complex numbers"
When running the following code:
[code]
I get the warning message:
`WARNING:tensorflow:The dtype of the source tensor must be floating (e.g. tf.float32) when calling GradientTape.gradient, got tf.complex64`

According to [Introduction to Gradients and Automatic Differentiation](https://www.tensorflow.org/guide/autodiff#3_took_gradients_through_an_integer_or_string). This message is intended when t

[2020-07-20 12:37] hanzigs commented on #41543
Thanks

[2020-07-20 12:37] #41543 closed

[2020-07-20 12:45] amahendrakar commented on #41521
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/e7cd2b91834feae2f57366378fd88e05/41521.ipynb). Thanks!

[2020-07-20 12:58] mdanatg commented on #40795
@omalleyt12 @fchollet would have the best answer for this question.

[2020-07-20 13:06] Pyrsos opened #41558 "RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you apply/link the Flex delegate before inference.Node number 1 (FlexRandomStandardNormal) failed to prepare."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

Colab link here: https://colab.research.google.c

[2020-07-20 13:15] aselva-eb opened #41559 "libtensorflowlite.so built with flex delegates too big!"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 x86_64 GNU/Linux Docker (official tensorflow image)
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 2.4.0-dev20200712

Modified BUILD to add following dependency:
[code]

And did a build using the following command:
[code]

**The output:**

`libten

[2020-07-20 13:21] DouglasLivingstone commented on #41226
The 'g' at the start seems to mean "git" or "group", the hash itself is the following part: `e085901e2c` (matching what you found using `git rev-list`).

[2020-07-20 13:38] ravikyram commented on #41558
@Pyrsos

I have not seeing any issue in TF nightly versions.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c67a19c37ff28f02c67e36542555fd75/untitled153.ipynb).Please, verify once and close the issue.Thanks!

[2020-07-20 13:42] vineeths96 opened #41561 "Allgather gradients in Tensorflow distributed"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-07-20 14:02] mathieuorhan commented on #41334
@amahendrakar, I just had a similar issue, which is related to zip, not shuffle, as I first thought. Same system setup.

[code]

In my case, I'm warping images, then creating pairs (master, warped) using zip. I would like to apply image augmentations prior to the warping, something I cannot do, as the augmentation is sometimes applied to image, sometimes to other, sometimes to both of them.
If it'

[2020-07-20 14:06] bharathsudharsan commented on #34722
Yes! Thanks. renaming the file solved the problem

[2020-07-20 14:14] TCIII commented on #41534
The NVIDIA developers forum concurs that this is normal and there is no problem with my installation.
Regards,
TCIII

[2020-07-20 14:14] #41534 closed

[2020-07-20 14:19] Pyrsos commented on #41558
@ravikyram

It works!! Thank you for your quick response, I am closing down the issue.

[2020-07-20 14:19] #41558 closed

[2020-07-20 14:25] ItsMeTheBee opened #41562 "Build tflite_runtime version 2.1.0.post1 for python3.8"
Hey all!

I´m working on a aarch64 system and inside a ros:foxy docker container.
Because I´m working with the google coral chip I need to use tflite_runtime version 2.1.0.post1.
According to the edge tpu guy I need to build from commit "d855adfc5a0195788bf5f92c3c7352e638aa1109"  but after building a python 3.8 wheel file and installing that I still get this error:
`ValueError: Model provided has

[2020-07-20 14:28] gowthamkpr commented on #41533
@ProfHariSeldon tensorflow 2.x comes with Keras built in. However you can't find much documentation using it. You can follow this [example](https://towardsdatascience.com/creating-a-tensorflow-cnn-in-c-part-2-eea0de9dcada#:~:text=Now%20with%20version%202%2C%20TensorFlow,and%20documentation%20are%20in%20Python.) for implementing Convolution neural network in C++

[2020-07-20 14:37] YurongYou commented on #33150
This method resolves the issue, but I think TF should resolve such issue internally... I believe this issue should be reopened

[2020-07-20 14:40] gowthamkpr commented on #41480
@Julius-ZCJ As mentioned [here](https://github.com/tensorflow/models/issues/3647#issuecomment-610666720), you are running out of memory while building from source. Please take a look at it and let me know if it helps. Thanks!

[2020-07-20 14:40] Ryandry1st commented on #29545
Glad you got that figured out @hanzigs, the way you are doing it is one that I use as well when I have custom classes/layers which require the subclassing method. It seems like with the definition of base_config it should work to save the entire model as a SavedModel format, but this has not been my experience. As you said, I just save the weights and then instantiate a new model and load the weig

[2020-07-20 14:42] MSoumen commented on #7646
I'm using
`Z1 = tf.contrib.layers.conv2d(X,W1, stride=[1,1,1,1])` where X is a shape of (input_size, no.of examples) and getting the error:
[code]
Can you please tell me how to fix this ?

[2020-07-20 14:50] MSoumen commented on #7646
Hey there, Just now I've got a solution of this.
Just use `tf.nn.conv2d(inputs, num_outputs, strides, padding)` in place of `tf.contrib.layers.conv2d(inputs, num_outputs, kernel_size, stride)`

Thank You  : )

[2020-07-20 14:54] fachu000 opened #41563 "AutoGraph fails due to an end-of-line between parentheses"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): uname -a:
Darwin Daniels-MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64

- TensorFlow installed from (source or binary): binary

- Te

[2020-07-20 15:21] mihaimaruseac commented on #41490
[code]

[2020-07-20 15:21] SteveXCIV opened #41564 ""Introduction to Tensors" has incorrect example image"
## URL(s) with the issue:

https://www.tensorflow.org/guide/tensor
https://www.tensorflow.org/guide/tensor#multi-axis_indexing

## Description of issue (what needs changing):

The left side image in the figure called "Selecting the last feature across all locations in each example in the batch" has batches 1 (blue) and 2 (green) swapped. The right side image and the surrounding code example show t

[2020-07-20 15:21] gowthamkpr commented on #41380
@dtmaidenmueller Looks like you are using a 32 bit system. Tensorflow is not supported on 32 bit systems. May be this might be the cause of this error.

[2020-07-20 15:22] mihaimaruseac commented on #41549
Can you also check with 2.1.0 please? To detect if there was a regression.

[2020-07-20 15:27] PremKumar135 commented on #34025
I have the same problem too... model.predict_on_batch(input) gives the warning as

"WARNING:tensorflow:8 out of the last 8 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f8fe3fdc940> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings is likely due to passing python objects instead of tensors. Also, tf.function has experimental

[2020-07-20 15:29] dtmaidenmueller commented on #41380
It's 64-bit Python:
[code]

[2020-07-20 15:30] yongtang commented on #41549
Thanks @mihaimaruseac. I tested with 2.1.0 and the result remains the same.

[2020-07-20 15:33] gowthamkpr commented on #41372
@daynial132 This is a conversion issue, not the tensorflow issue itself. It would be better if you post this issue in stackoverflow where there is a wider community to respond. Thanks!

[2020-07-20 15:42] alextp commented on #28090
I just meant that some algorithms (like plain sgd, or some variants of
momentum) have linear updates which can be robust when repeated indices are
present. Otherwise your point about indexed slices aggregation requiring
new calls to unique is valid.

On Sun, Jul 19, 2020 at 7:47 PM e-commerce-search <notifications@github.com>
wrote:

--
 - Alex

[2020-07-20 15:45] saikumarchalla commented on #41530
@chhensel While running the code with TF -Nightly  I am getting different output. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/b341f0057575b19cca8c2698cbb28231/copy-of-repeat-error.ipynb).Thanks!

[2020-07-20 15:48] gowthamkpr commented on #40392
So, Did you try using `tf.keras.applications.ResNet50V2` instead of loading from a hub?

[2020-07-20 15:53] amahendrakar commented on #41553
@stefan-falk,
Could you please try setting the `overwrite` argument as `False` and check if you are facing the same issue. Thanks!

Documentation of [save_weights](https://www.tensorflow.org/api_docs/python/tf/keras/Model#save_weights) for reference.

[2020-07-20 16:06] amahendrakar commented on #41545
@amgsharma,
I do not have the access to view the Colab notebook you have linked. Could you please grant the required permissions or upload the script here. Thanks!

[2020-07-20 16:10] amahendrakar commented on #41542
@sedol1339,
Please take a look at @fsx950223's comment and check if you are facing the same issue with TF-nightly. Thanks!

[2020-07-20 16:23] borgarpa commented on #41380
A quick update: I tried @dtmaidenmueller 's solution, and it worked. KerasTuner wrote over 2.000 models without prompting any error. I have to ensure that the algorithm is not showing unwanted behaviour though; the result was kinda weird, and during other runs prior to changing the file_io.py it took over 6.000 models written for the error to prompt.

I'll try now deactivating TensorBoard and usin

[2020-07-20 16:36] Anustup900 commented on #27935
If you are using anaconda navigator then this might be a alternate solution :
i) First at the initial time when you are installing anaconda navigator you will start with the base_DIR as the environment
ii.) Next set up Tensorflow in the base environment by running ''conda install tensoflow '' in base directory
iii.) Next as you install Tensorflow over there you can find anather virtual environment

[2020-07-20 16:37] chhensel commented on #41530
When I open the gist, it still shows the version that is not working (with tf 2.2.0), but I can confirm that using tf-nightly indeed shows the desired behavior, thanks!

[2020-07-20 16:42] #41452 closed

[2020-07-20 16:46] vaibhavsingh007 commented on #40302
o/p of above is 'False'.
Also, I was able to get some backend logs for the stat call, in case it helps:

![image](https://user-images.githubusercontent.com/4958034/87963548-7e303500-ca7e-11ea-88bb-10212cd34dcf.png)

[2020-07-20 16:46] #40580 closed

[2020-07-20 16:48] vaibhavsingh007 commented on #40302
And I'm setting these auth vars:

[code]

[2020-07-20 16:56] #28256 closed

[2020-07-20 17:10] hans-ekbrand commented on #41490
This is the version of icu I seem to have installed, which version should I have?
[code]

[2020-07-20 17:27] omalleyt12 commented on #41428
@ivdorelian Thanks for the issue!

Can you try running `tf.keras.backend.clear_session()` periodically when calling the `set_weights` in a loop? There are some global-graph-related things in Keras that we are working on getting rid of, but the `clear_session()` call usually helps to release the memory from these items

[2020-07-20 17:29] mihaimaruseac commented on #40830
Can you try with master/2.2/1.15 instead of 1.14? 1.14 has been released in a somewhat broken state and is no longer in the support window

[2020-07-20 17:31] omalleyt12 commented on #41248
@scarlehoff Thanks for the issue!

Yes, `target_tensors` is no longer supported, as internally we shifted Keras away from using a global graph and towards using `tf.function`, and so the target-tensors concept was no longer feasible to support. Could you advise on a minimal example of what you'd like to use target tensors for, and I can advise on a workaround?

[2020-07-20 17:38] omalleyt12 commented on #40795
I don't have full context on this issue, but it seems like the error is caused bc `training` is specified as a `Tensor` in the `concrete_function`, but then passed as a constant? Maybe passing `training` as a boolean `tf.Tensor` would fix this?

[2020-07-20 17:39] vivekgr92 commented on #35860
Thanks , It worked for me.

[2020-07-20 18:11] ckkuang commented on #40277
If you are able to get multiple GPUs on one machine, it is worth trying out MirroredStrategy and see what performance number we can get.

[2020-07-20 18:19] amahendrakar commented on #41549
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/1bb8d8abb8ac6eec6eccd48f32735fbc/41549-2-1.ipynb), [TF v2.2](https://colab.research.google.com/gist/amahendrakar/f0bdede175086ce81f5830f577a65389/41549-2-2.ipynb), [TF v2.3.0rc2](https://colab.research.google.com/gist/amahendrakar/4a078bcb9f0dab11ac12d037a084de65/41549-2-3.ipynb) and [TF-nightly](htt

[2020-07-20 18:31] yil532 commented on #41496
Hi, Can I create a PR to fix this? Thank you!

[2020-07-20 18:35] nikitamaia commented on #41074
Thanks for the summary!
Setting `dynamic=True` runs the layer eagerly, which probably explains the original error message.
To your first point, dynamic shapes were not supported with TPUs in 1.x, which required specifying static per-replica and global batch sizes (eg previously you needed to set drop_remainder=True in the input dataset), but there is increased support since 2.1 where even if the l

[2020-07-20 18:44] yil532 commented on #41496
PR to fix this issue is here, https://github.com/tensorflow/tensorflow/pull/41565
Please take a look, thank you!

[2020-07-20 18:52] #41027 closed

[2020-07-20 19:01] jvishnuvardhan commented on #41323
Closing this issue as this was resolved. The corresponding PR was merged already. Thanks!

[2020-07-20 19:01] #41323 closed

[2020-07-20 19:04] gunan commented on #40830
Paul was working on this before he left. He added hwloc dependency instead of libnuma.
@guptapriya do you know who works with tensorflow sig-networking, and multi-CPU efforts?

I think the main question is if we need the hwloc symbols exported by TF libraries to be used by ops/kernels, potentially collectives?

[2020-07-20 19:09] nikitamaia commented on #41329
Hi @cookingbear, taking a look at issue [#31848](https://github.com/tensorflow/tensorflow/issues/31848) might be helpful, as it seems similar to the problem you're facing. The suggested workaround there is to use a keras [lambda layer](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Lambda). Let me know if this helps.

[2020-07-20 19:13] yil532 commented on #41420
Hi Can I create a PR to fix this?

[2020-07-20 19:17] suraj-maniyar commented on #40342
Yes this issue is persistent even without any distribution strategy. Here's my [gist](https://colab.research.google.com/gist/suraj-maniyar/4539773fdaa9a3a8ab6be0de5a745e1b/resume_train_no_dist_strat.ipynb) if you need to look @guptapriya @pavithrasv

[2020-07-20 19:22] ymodak commented on #40692
I think the documentation is correct. Following example fails;
[code]

[2020-07-20 19:23] #41074 closed

[2020-07-20 19:33] jdonier commented on #40795
No I get the same error if I run `reloaded(inputs=[[1]], training=tf.convert_to_tensor(False, dtype=tf.bool))` .

[2020-07-20 19:36] omalleyt12 commented on #40795
Hm ok, thanks for the info I'll take a look

[2020-07-20 19:48] yil532 commented on #41420
PR to fix this issue is here https://github.com/tensorflow/tensorflow/pull/41567
Please review, thank

[2020-07-20 19:52] #41051 closed

[2020-07-20 19:55] jvishnuvardhan commented on #41541
@xuyifangreeneyes I guess this issue is more suitable to be posted on [blocksparse](https://github.com/openai/blocksparse/issues) repo. Please post your issue there as this repo is related to core Tensorflow.

I am closing this issue. Please feel free to reopen if I am mistaken. Thanks!

[2020-07-20 19:55] #41541 closed

[2020-07-20 19:55] anj-s commented on #37834
@w19787 Sorry for the late response. Recent changes have made it possible to call assign on mirrored variables in replica context(when there is no aggregation). Hopefully that should fix issues like this. However if you want to update your variable in cross replica context you can use something like:

[code]

[2020-07-20 20:30] tanzhenyu commented on #41460
Use `tf.keras.layers.experimental.preprocessing.RandomTranslation` instead

[2020-07-20 20:45] sedol1339 commented on #41542
@amahendrakar unfortunately I can't even work with TPU on nightly build so I cannot check this problem. I do the following actions on Colab and get exception:
[code]
[code]
prints 2.4.0-dev20200720
[code]
[code]
[code]

[2020-07-20 20:45] MarkDaoust commented on #40692
@ymodak is correct about "full not being an option.

Yes, it could help if that part were more clar about how to convert from a padding string to a padding-length. `padding="vaild"`  == `padding=0` but `padding="same"` is more complicated.

[2020-07-20 20:47] sedol1339 commented on #41542
Also tf.io.gfile.glob() cannot read files from private google bucket at version 2.2, as mentioned above. It says that "Anonymous caller does not have storage.objects.list access" even when I am logged in.

[2020-07-20 20:58] MarkDaoust commented on #40976
Hi @aavishkarmishra,

Thanks for your interest. There's no easy fix for this.

It would be a big rewrite to the code that generates the _toc.yaml file here.

I agree that we should to it, but its a simple fix.

[2020-07-20 21:06] maju116 commented on #41460
@tanzhenyu I will check it out, but I need non-random translation

[2020-07-20 21:14] surGeonGG opened #41569 "ValueError on evaluate with generator."
[code]

This code throws ValueError: Shapes (None, None, None) and (100, 4, 1, 200) are incompatible on the evaluate. The prediction works just fine.

I don't understand. Why does the predict work when the evaluate gives me a error? Anyone have any ideas?

[2020-07-20 21:28] ymodak commented on #34696
This is fixed now. Thanks!

[2020-07-20 21:28] #34696 closed

[2020-07-20 21:30] jvishnuvardhan commented on #41304
@tom970 Can you please check with `tf-nightly` and let us know whether the issue persists with the newer TF version? Is this an issue with `tensorflow-gpu 2.2` or with `cpu` also? Thanks!

[2020-07-20 21:32] guptapriya commented on #40342
Thanks for confirming @suraj-maniyar. We will ask the folks who are expert in Keras to take a look.

[2020-07-20 21:34] jvishnuvardhan commented on #41395
@Wirg Can you please share full code with the `model.fit` so that we can reproduce and find the root-cause of the issue? Thanks!

[2020-07-20 21:40] jspaezp commented on #41352
@faustomorales thanks for the explanation, really look forward to this patch being released in a stable version (right now I am patching "manually" the file to bundle it in pyinstaller).
Best!

[2020-07-20 21:58] ymodak commented on #26639
The documentation for loading weights with correct input_shape has been updated. Thanks!

[2020-07-20 21:58] #26639 closed

[2020-07-20 22:00] tanzhenyu commented on #41460
you can definitely achieve non-random behavior by setting lower bound equals upper bound.

[2020-07-20 22:00] rockyrhodes commented on #37739
I just tried this and it worked for me.  @jenselofsson can you confirm that this is now fixed for you as well?

[2020-07-20 22:05] ymodak commented on #41196
@meric-sakarya Does limiting gpu memory help in your case?

[2020-07-20 22:07] ymodak commented on #34283
This is fixed now. Thanks!

[2020-07-20 22:07] #34283 closed

[2020-07-20 22:19] MinasTyuru commented on #41113
Shimin implemented the change that he suggested with `col_impl`:

[code]

I'm not sure what the relationship is between `col_impl` and the `col_exec` variable that seemed to be null previously, but it seems to fix the segfault. I'm doing some additional testing to be sure and will keep you posted.

[2020-07-20 22:21] ymodak commented on #33824
This is fixed now. Thanks!

[2020-07-20 22:21] #33824 closed

[2020-07-20 22:28] rxng8 commented on #41563
I am pretty sure that multiple line parameter works when complete parameters are on the same line. For example, in this case, a complete parameter of tf.function is the whole lambda function, so it needs to be written on one line. I believe the that if you still want to separate the lambda function on different lines, you can always use "\" to tell the compiler that there is an EOL.

[2020-07-20 22:33] dubey commented on #41113
Thanks, I was working on a similar change internally, this time with a unit test that can reproduce the issue.  Yes please do keep me posted.

[2020-07-20 22:33] awang27 opened #41570 "TFLite interpreter.invoke() crashes on GPU despite successful TFLite conversion"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 (Google Colab notebook)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip
- TensorFlow version

[2020-07-20 22:35] yskale commented on #41507
x86_64
NAME="SLES"
VERSION="15"
VERSION_ID="15"
PRETTY_NAME="SUSE Linux Enterprise Server 15"
ID="sles"
ID_LIKE="suse"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:suse:sles:15"

Kernel - > 4.12.14-150.47-default
GCC - > gcc (SUSE Linux) 7.5.0

![image](https://user-images.githubusercontent.com/14827177/87972869-a8412180-ca95-11ea-917b-d2c896bb2bf7.png)

[2020-07-20 22:37] yskale commented on #41507
I am able to run the cuda sample programs but the gpu are not visible in python for torch and tensorflow.
I have installed torch using coda and for diiferent version of torch and cuda but do not see the gpu.

[2020-07-20 22:38] ymodak commented on #41465
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-07-20 22:38] #41465 closed

[2020-07-20 22:38] #41398 closed

[2020-07-20 22:53] awang27 commented on #21526
Are there still plans for adding support for Conv3D as an actual TFLite operator (not just as a select TF op)?

[2020-07-20 22:59] vladbph commented on #40342
Same issue here as well. Tried TF2.0 and 2.2 - same thing. Quite basic scenario:
1. Train model for x epoch
2. Save model as json and weights separately
3. Restart process to resume training:
    - load model from json
    - load weights
    - model.fit()
Expected the 'loss' to be close the last best saved value (monitor = 'loss'). Instead, model starts training like weights were not loaded at all

[2020-07-20 23:29] MarkDaoust commented on #41078
Hi, thanks for reporting this, but this is an issue with [tensorflow-datasets](https://github.com/tensorflow/datasets) can you rep[ort the issue there instead?

[2020-07-20 23:29] #41078 closed

[2020-07-20 23:52] #40322 closed

[2020-07-20 23:53] rxiang040 commented on #41485
Is it because TFlite V1 does not support dequantize op? And I visualize my quantized model by Netro, basically, every operation is has input 'dequantize', and that's the reason none operation can be performed on GPU. So what is this 'dequantize' for? I learned it aims to convert fl16 to fl32, but if I want to run on GPU then they are all useless?

[2020-07-21 00:02] tomerk commented on #40638
Update on this issue: We weren't able to get a fix into 2.3 for a variety of reasons, but we were able to add raising a meaningful error message for 2.3 in this setting rather than silently missing some of the weights.

(The proper fix is still in the nightlies guarded by the Functional API refactoring, as mentioned above.)

[2020-07-21 00:06] rsunofbdti commented on #38285
It looks like the issue has been solved in TF 2.4?

[2020-07-21 00:19] robbysun commented on #38285
It looks like the issue has been solved in TF 2.4? Could we get an official confirmation?

[2020-07-21 00:20] nikitamaia commented on #41539
Hi @ppwwyyxx, I ran this script with 2.2.0 and 2 GPUs and it completed training without error. I also tried with 4 GPUs and saw no error. I was running it on GCP with the Deep Learning VM Image, so possibly some slight (relevant) differences in the versions.

Am I understanding correctly that if PR #31481 is reverted, then you are able to run the script without error. But occasionally the script w

[2020-07-21 00:22] jjl-jjl commented on #38194
after trying most every solution I could find  for windows
turned out tensor flow could not find any dll's .even with setting the system path
"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin."
the solution that worked for me with python 3.8 was

all the dlls could be imported and everything works

[2020-07-21 00:34] gangmuk commented on #41398
Thank you for replying!

[2020-07-21 00:45] amgsharma commented on #41545
Its the colab notebook found [here](https://www.tensorflow.org/lite/tutorials/model_maker_image_classification):

[2020-07-21 01:30] jackd opened #41571 "keras.Model.fit cannot handle variable epoch sizes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.2.0-0-g2b96f3662b 2.2.0
- Python version: 3.6.9

**Describe the current behavior**
`keras.Model.fit` wi

[2020-07-21 01:33] pn12 commented on #28953
@hadim

Were you able to resolve this error?
I am facing a similar issue.

Thanks

[2020-07-21 01:33] vietnamican opened #41572 "[TF 2.2.0] tf.io.decode_image caught CUDA_ERROR_NOT_INITIALIZED: initialization error when use_multiprocessing=True"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):
- Python version: 3.6.9
- GCC/Compiler version (if compiling from source): 8.4.0
- CUDA/cuDNN version: 10.1/7.6.5
- GPU model and memory: 6GB

I try to decode a dataset in *.tfrecord type using ```tf.io.decod

[2020-07-21 01:47] Zlz-shoulder commented on #41445
I fail to log in my Google account, and I also fail to create a new Google account. But I believe this is a simple problem, and you could find many similar errors on the Internet. In addition. I use the Tensorflor of 1.12.0.

[2020-07-21 01:58] Julius-ZCJ commented on #41480
@gowthamkpr
OK, I will try again, I remember I still have memory when this error raise. I will run again to check it. Thank you

[2020-07-21 02:29] mihaimaruseac commented on #41097
Hello,

Can you reply back to the mailing list with the preferred format to use in attribution?

[2020-07-21 02:46] ppwwyyxx commented on #41539
Thanks for the response. I just did a fresh reinstall of TF2.2 from `pip install tensorflow==2.2`. Then I found that:
* I **can** reliably (3 out of 3 times all within 500 steps) reproduce the issue on a machine with only 2 P100s using all 2 GPUs
* I **cannot** reproduce it on a machine with 8 V100s, using first 2 or first 4 of the 8 GPUs
* I **can** reliably (3 out of 3 times all within 1000 step

[2020-07-21 02:49] sheldoncoup commented on #39392
Also having the same issues. Would love to hear if there was a workaround/update for this.

[2020-07-21 02:50] fsx950223 opened #41573 "TFDBG doesn't display any tensor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-07-21 02:57] byronlan opened #41574 "BroadcastTo"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2020-07-21 02:59] samra-irshad commented on #29040
ResNeXt architectures are still missing. I need to train ResNeXt-101 for my application and it seems I have to write it from scratch since there's no 'ready-to-import' module in Tensorflow's keras distribution.

[2020-07-21 03:18] sanjoy commented on #40814
@dubey Have you seen similar issues before?

[2020-07-21 03:19] #38338 closed

[2020-07-21 03:44] Deep-learning-practitioner opened #41575 "Unable to generate .pbtxt file for Tensorflow 2.0 models."
**System information**

Running Code on Google Colab
Using Tensorflow 2.2

**Problem**

I'm trying to generate a .pbtxt file from a .pb file that I trained using **TFOD 2 api**  but I'm getting a parsing message error. In fact I'm even getting this error when I try to use a trained SSD mobilenet V2 model from tensorflow model Zoo.

**This is the Code Used to get .pbtxt, you can just paste this cod

[2020-07-21 03:46] sanjoy commented on #41184
The error with the `CUDA_VISIBLE_DEVICES` change is a red herring: that disables GPUs and thus the program is failing.

Regarding your original problem, it is tricky to narrow down `cudaErrorUnknown`.  Can you cat `.tf_configure.bazelrc` and paste it here?  Maybe we'll be able to spot a red flag in there.

[2020-07-21 03:59] ravikyram commented on #41314
I am closing this issue  since the query has been answered. Thanks!

[2020-07-21 03:59] #41314 closed

[2020-07-21 04:21] jiahueytsao opened #41578 "Tensorflow lite make error"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10 x64
- TensorFlow installed from (source or binary):source(tensorflow-master) for github
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): keil IDE 5.30

**Describe the problem**
Git Bash 2.270 x64 was used
error of make the gener

[2020-07-21 04:22] sanjoy commented on #37900
@xnio94 thanks for the reproducer, but it seems to work fine on my machine.

@jaingaurav any guesses on why we'd get this error: "AddV2: Attempted to set tensor for existing mirror. [Op:AddV2]"?

[2020-07-21 05:00] felix-johnny commented on #37361
For the record.. -ffreestanding is another option that enables -fno-builtin implicitly.

[2020-07-21 05:36] saikumarchalla commented on #41530
@chhensel Thank you for the update and marking this issue as closed since it is fixed in tf -nightly.

[2020-07-21 05:36] #41530 closed

[2020-07-21 05:49] oswaldtm commented on #38518
I have the same problem. The only way it works is by disabling GPU, but I want to train the neural network using the GPU. Any update on how to solve this issue? This issue should be reopened

[2020-07-21 05:50] agarwal-ashish commented on #37053
Support for VariableShape was added some time back. Can you check if this is still broken, and if so, does it give a different error.
Please test it against the nightly version, not 2.1.

[2020-07-21 05:56] stefan-falk commented on #41553
@amahendrakar I just tried it out. Using `overwrite=False` has the same effect.

It should be the line I posted in my first comment that causes this:

https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/keras/engine/network.py#L1173

[2020-07-21 05:57] DongShuaike commented on #41097
Hi, I have sent another email to the mailing list, thank you very much!

[2020-07-21 06:07] teijeong commented on #41039
This was introduced by #34522, but I don't have expertise on this. :(

Hi @asus4, do you have some clue?

[2020-07-21 06:10] terryheo commented on #41570
FYI, TFLite's GPU supports is different with Tensorflow. It requires Mobile GPU which is available for Android and iOS.
https://www.tensorflow.org/lite/performance/gpu

Your GPU runtime is compatible with Tensorflow not Tensorflow Lite. So please use CPU runtime.

[2020-07-21 06:10] #41570 closed

[2020-07-21 06:17] jis478 commented on #41045
Any updates? I'm looking forward to the solution. Thank you for the support! :)

[2020-07-21 06:18] yushcs opened #41580 "tensorflow lite performs linear relation between batch size and inference time"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.2.1511
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command be

[2020-07-21 06:19] terryheo commented on #41438
Could you share which datatype of the model ArmNN is complaining?
"src/runtime/CL/functions/CLGEMMConvolutionLayer.cpp:423: Input data type not compatible with Weights), falling back to the next backend."

[2020-07-21 06:28] terryheo commented on #41409
It's fixed in between 2.2 and 2.3.
If you prefer to use a stable branch, please use 2.3.

[2020-07-21 06:28] #41409 closed

[2020-07-21 06:29] chiragmittal19 opened #41581 "Camera does not resume when activity is resumed - TFLite Android flower-classification codelab"
<em>This is a bug as per the [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md)</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 8
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile devi

[2020-07-21 06:29] kratika5 commented on #41438
The model I have is a uint8 (post quantized model), the error mentioned above says:
Input/Output Datatypes - QAsymmS8

[2020-07-21 06:30] mattdibi commented on #41409
@terryheo Ok thank you... we'll switch to 2.3

[2020-07-21 06:44] ymodak commented on #29040
You are right. This is a WIP. See https://github.com/tensorflow/tensorflow/pull/37146

[2020-07-21 06:52] ymodak commented on #41321
I see you are using anaconda to install TF.
For installing TF with conda you may raise a request on https://github.com/ContinuumIO/anaconda-issues/issues

[2020-07-21 06:53] Hailprob opened #41582 "tf.keras.datasets.imdb.load_data() where path is a local path"
When I download imdb dataset and save it in my disk, say, the **loacl path** is 'D:/datasets/imdb.npz', when I pass the path into load_data() API, remote download will start rather than load data from local path.

[2020-07-21 06:57] ymodak commented on #40028
Apologies for the delay in response. You may try raising this issue on [jupyter notebook repo](https://github.com/jupyter/notebook/issues)

[2020-07-21 06:59] TPFRL opened #41583 "Setting 'name' parameter in keras.layers results in accuracy degradation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
 OS Platfor

[2020-07-21 07:01] scarlehoff commented on #41248
Hi @omalleyt12, one example is the one I wrote above. I've already written a workaround for my particular problem (that is as fast as it was with 2.1, the main reason I was using `target_tensors` is speed).

It would be really helpful to change the error message when using `target_tensors` as it is a red herring (my first thought was, oh, no, somehow everything is running in eager mode now!)

In a

[2020-07-21 07:04] anandchandra1011 commented on #41373
Thanks terryheo, I am using shared object libtensorflow.so , created using https://www.tensorflow.org/lite/guide/android#use_tflite_c_api

while build and install via android studio, i am getting these error related to interpretor. Please help

[8/8] Linking CXX shared library C:\Users\admin\Documents\TeamTalk\download\IN006407\android_tflite-master\tflite_segmentation\app\build\intermediates\cmak

[2020-07-21 07:05] OdysseeT commented on #41537
Should this 2.4.0 code have the same behavior as the 2.3.1 code?

[code]

[2020-07-21 07:18] rsnk96 commented on #16044
I agree with this. The usage of multi-hot labels isn't limited to just recommender systems, but also multi-output networks and multi-task learning.

[2020-07-21 07:21] ravikyram commented on #41569
@surGeonGG

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-21 07:27] fachu000 commented on #41563
I do not understand why. Equivalent Python syntax should yield the same behavior.

[2020-07-21 07:28] terryheo commented on #41373
Could you try to provide "-Wl,--whole-archive" link option to link libtensorflowlite.so ?

[2020-07-21 07:34] anandchandra1011 commented on #41373
![image](https://user-images.githubusercontent.com/23177883/88025834-89ed2b80-cb52-11ea-83e7-ded96f16fe2e.png)

Do you mean to change in condition default option and rebuild the shared object?

[2020-07-21 07:35] ravikyram commented on #41572
@vietnamican

Looks like code is incomplete.Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-21 07:45] terryheo commented on #41373
No. I meant linker command to your hello-libs JNI target.

[2020-07-21 08:02] codecolony commented on #41493
I have a similar issue but with "Moving average".

`ValueError: Moving average not supported in eager mode.`

[2020-07-21 08:05] jaingaurav commented on #37900
@sanjoy: I think the description in 6aee08c that @pshved noted explains it correctly. There are basically some race conditions that we need to more gracefully handle. From what I'm reading the issue is not reproducible after that fix correct?

[2020-07-21 08:07] ravikyram commented on #41575
I have tried in colab with TF 2.2, 2.3-rc1,nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/958ba7472041d6d10f58229a2808539f/untitled155.ipynb).Thanks!

[2020-07-21 08:16] meteorcloudy commented on #30246
@jeffhwang02 Do you have a github branch of your source code?

[2020-07-21 08:20] pshved commented on #37900
Yep @jaingaurav I have never seen this issue after I upgraded to the nightly version of TF, which contained 6aee08c.  I see it sometimes when I forget to switch to the nightly version and when my python env still remains at TF 2.2.  Which seems to indicate that 6aee08c does fix this problem.

[2020-07-21 08:22] asus4 commented on #41039
hi, I'm facing the same issue #41555

[2020-07-21 08:24] asus4 commented on #41555
duplicated with #41039

[2020-07-21 08:24] #41555 closed

[2020-07-21 08:36] figkim opened #41584 "Build did not complete successfully."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2020-07-21 08:42] smallworld-network-wupeng opened #41585 "When use MirroredStrategy for multi-gpu and fit with multi-workers there is a error --"task_done() called too many times""
**System information**

OS: Ubuntu 18.04
Tensorflow 2.20 from pip install
Python version: 3.7.7
CUDA Version: 10.2
cuDNN Version: release 10.2, V10.2.89
GPU : 2070 x 2

**Describe the current behavior**
code:
[code]

**Describe the expected behavior**

When I set workers=1 in fit(), it is normal work, but when I workers more than one , it is got a error:

tensorflow/core/framework/op_kernel.cc:174

[2020-07-21 09:01] figkim commented on #41584
I found similar issue (#41086) and trying suggested workaround (https://github.com/tensorflow/tensorflow/issues/41086#issuecomment-656833081).
I will let you know when I fail again.

[2020-07-21 09:26] anandchandra1011 commented on #41373
![image](https://user-images.githubusercontent.com/23177883/88037221-3e427e00-cb62-11ea-9272-cbb734de1406.png)

I have added this in my cmake file. still problem persist.

[2020-07-21 09:26] JohannesAck commented on #34697
This works in some cases, however, it does not help when a model is pickled as part of another function, in my case this happens when using the python ```multiprocessing``` library.

[2020-07-21 09:29] anandchandra1011 commented on #41373
[CMakeLists.txt](https://github.com/tensorflow/tensorflow/files/4952527/CMakeLists.txt)

I am also attaching cmake file for reference.

[2020-07-21 09:30] peterukk commented on #39247
Looks like tf_nightly_gpu_2.4.0 doesn't support CUDA 10.2 either. Can anyone confirm symlinking from 10.2 to 10.2 works for GPU training too?

[2020-07-21 09:43] ivdorelian commented on #41428
@omalleyt12 thanks for the reply!

Unfortunately, adding that at the end of the second for loop doesn't help.

What did help though was not doing it like this:

[code]

Note that calling `.predict()` followed by `my_loss(...)` results in the same issue.

In my case this isn't a huge issue, although it would be nice to be able to pass in a batch size to evaluate.

[2020-07-21 10:04] fhennecker commented on #35813
Also had the issue on tf 2.2 when building several models in multiple threads from a topology using `tf.keras.model.model_from_json()`.

I can confirm that @rkbairi 's solution of putting it in a locked section alleviates the issue:

[code]

[2020-07-21 10:08] braindotai commented on #41492
I further looked into other api's, and found that I should decode the image using `tf.image.decode_jpeg` instead of `tf.image.decode_image`. And now I'm successfully being able to random crop the image based on its shape.

Loading celeb_a from tensorflow_datasets is still giving error though. :(

[2020-07-21 10:08] #41492 closed

[2020-07-21 10:09] rolevin opened #41587 "pyspark + keras as pandas_udf does not work properly"
In my scenario I wish to train a keras model per each partition on a Spark cluster with Python enabled.
For this I am using Spark PandasUDFs.
Inside the PandasUDF code I have the following command:

curr_input = keras.Input((1,))

This already causes the error below to trigger.
I do not understand why this happens as I use PandasUDFs a lot and I have never seen this error when just creating some s

[2020-07-21 10:31] nawabhussain commented on #41060
@amahendrakar  Does Tensorflow 2.x support CUDA version 11? In their [documentation](https://www.tensorflow.org/install/gpu#software_requirements) they mention that it supports only version 10.1.

[2020-07-21 10:32] cmxcn opened #41588 "need to add SparseEmbedding layer support"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-07-21 10:47] zhaozheng09 opened #41589 "When dose Tensorflow add elasticity function in worker？"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.15
- Are you willing to contribute it (Yes/No): with plea

[2020-07-21 11:05] Saduf2019 commented on #41445
@Zlz-shoulder
I have resolved that error, and a different error occurred , please refer to this [gist here](https://colab.research.google.com/gist/Saduf2019/0977600b4f838c33b711e738da4d238c/untitled283.ipynb).

[2020-07-21 11:06] amahendrakar commented on #41557
@NEGU93,
On running the code with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/5ce6af79ad9ac754efeda05a6f7a44f5/41557-2-0.ipynb), I got a similar warning. However, looks like the issue is fixed in TF v2.2.

Running the code with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/62c14e9b0f2852d42930bf95466947c7/41557.ipynb) I did not get any warning. Please find the att

[2020-07-21 11:24] NEGU93 commented on #41557
Ok, noted. I am using v2.0 because is the latest one added on Anaconda. I will see to create a new env and work with v2.2 then. Thanks!

[2020-07-21 11:29] Saduf2019 commented on #41582
@Hailprob
Please follow [this comment](https://github.com/tensorflow/tensorflow/issues/32278#issuecomment-531051609) and let us know.

[2020-07-21 11:36] NEGU93 commented on #41557
True, I just updated to v2.2 and this problem does not exist anymore. Sorry!

[2020-07-21 11:36] #41557 closed

[2020-07-21 11:45] hamlatzis commented on #41061
For TF 1.15 & 1.14 I have no problem, but for TF2 I have exactly the same problem and have tried all of the above

[2020-07-21 11:46] sedol1339 opened #41590 "Jpeg decoding (for example when loading TFRecords from files) causes error on TPU when trying to fit a model"
**System information**
- TensorFlow version (use command below): 2.2.0 (v2.2.0-0-g2b96f3662b)
- Python version: 3.6.9
- GPU model and memory: Google Colab TPU

I'm not sure that this is a bug, but I've encountered this weird behaviour with my .tfrec dataset and made simple code to reproduce it. This problem only exists at TPU.

Firstly I initialize TPU:
[code]
[code]
Then I run the following code,

[2020-07-21 11:50] sedol1339 commented on #41590
I also tried to change label to tf.one_hot(label, 10) and change loss to categorical_crossentropy, but the error remains the same.

[2020-07-21 11:54] ravikyram commented on #36268
I am able to reproduce the isue with TF 2.3-rc1, nightly version(`2.4.0-dev20200721`).PLease, find the gist [here](https://colab.research.google.com/gist/ravikyram/4315d3365fcc9c7170084261951e80eb/untitled162.ipynb).Thanks!

[2020-07-21 11:56] Piteryo commented on #31358
I might be a bit late but setting `tf.keras.backend.set_learning_phase(0)` helps

[2020-07-21 12:02] ravikyram commented on #36306
I have tried on colab with TF version 2.3-rc1, 2.4.0-dev20200721 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/750d4f1c916c795e98adad09c28bf03c/untitled163.ipynb).Thanks!

[2020-07-21 12:07] Hailprob commented on #32278
change the name and copy it to ～./keras/datasets/ works perfect, thanks

[2020-07-21 12:15] amahendrakar commented on #41571
Was able to reproduce the issue with TF v2.2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/81bba42e7be6d5f5b31523988f902207/41571-tf-nightly.ipynb). Thanks!

[2020-07-21 12:19] amahendrakar commented on #41574
@byronlan,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-07-21 12:41] DataPrincess123 opened #41591 "TF 2.2.0 with cuda 11.0 Gpu test returns False"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
- TensorFlow install

[2020-07-21 12:52] shubham-malaviya commented on #34727
Try upgrading tensorflow-dataset may help.

pip install --upgrade tensorflow-dataset

[2020-07-21 12:53] #41352 closed

[2020-07-21 13:32] ravikyram commented on #41591
@DataPrincess123

Can you try with tested build configuration from [here](https://www.tensorflow.org/install/source_windows#gpu) and see if the error still persists.Thanks!

[2020-07-21 13:35] vijayiner commented on #20444
This works for Me!

[2020-07-21 13:36] nilskk commented on #37980
@nistrup did you found a solution to your problem, because I'm having the same problem?

[2020-07-21 14:00] kadirnar opened #41593 "label_map_util"

[2020-07-21 14:01] amahendrakar commented on #41268
@Dabuk,
Any updates regarding the complete reproducible code? Thanks!

[2020-07-21 14:12] fachu000 opened #41594 "tf.function breaks the gradient tape when looping over datasets"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): uname -a:
Darwin Daniels-MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64

- TensorFlow installed from (source or binary): binary

- Te

[2020-07-21 14:27] Saduf2019 commented on #41593
@kadirnar
Can you please fill the issue template with the issue faced  along with the tf version.

[2020-07-21 14:47] Saduf2019 commented on #41585
@smallworld-network-wupeng
I ran the code shared and its unindented, please share simple stand alone indented code such that we can replicate the error faced or if possible please share a colab gist with the error.

[2020-07-21 14:48] pks commented on #40989
@NeoZhangJianyu Is there any progress on this?

[2020-07-21 14:53] surabhijain123 opened #41596 "Failed to load the native tensorflow runtime"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-07-21 15:09] Saduf2019 commented on #41578
@jiahueytsao
Can we please have the error message within quotes for better readability, with the tensorflow version .

[2020-07-21 15:30] MislavSag commented on #41288
Sorry for the late answer. I saw your gist, but when I copy-paste same code and execute locally, I get an error I posted above:

`ValueError: Tensor conversion requested dtype float64 for Tensor with dtype float32:`

[2020-07-21 15:36] amahendrakar commented on #41374
@gauravmunjal13,
Please check [this comment](https://github.com/tensorflow/tensorflow/issues/38194#issuecomment-657233766) from a similar issue and let us know if it helps. Thanks!

[2020-07-21 15:49] harendra247 commented on #41184
@sanjoy,

I think this is duplicate of #41191.

I have pasted .tf_configure.bazelrc in the issue #41191. Can you please comment on that issue.

I am closing it. I'll continue discussing #41191 .

[2020-07-21 15:49] #41184 closed

[2020-07-21 15:56] byronyi commented on #40965
https://github.com/tensorflow/community/pull/260 might be relevant.

[2020-07-21 16:04] Saduf2019 commented on #41528
@rensjochemsen
Can you please refer to [this link](https://stackoverflow.com/questions/41689451/valueerror-no-gradients-provided-for-any-variable) with same error reported and let us know if it helps.
[link](https://stackoverflow.com/questions/49289930/tensorflow-no-gradients-provided-for-any-variable?rq=1) [link1](https://www.reddit.com/r/tensorflow/comments/ghcwcj/user_error_or_bug_valueerror_no

[2020-07-21 16:10] frreiss commented on #40171
Updates:

* I have found the third leak.
* The patch for the first two leaks also patched the third leak.
* I have updated my workaround to cover all three leaks.
* There is a fourth leak.

Details follow.

`Loader._load_nodes()` walks through the graph, reconstituting each part of the
graph from its serialized Protocol Buffers representation.

(See line 264 in `tensorflow/python/saved_model/load.

[2020-07-21 16:16] Debasish2003 opened #41598 "Failed to load the native TensorFlow runtime"
Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
Type "copyright", "credits" or "license" for more information.

IPython 7.12.0 -- An enhanced Interactive Python.

runcell(0, 'C:/Debasish/personal/DS_city/Practice with Dataset_Mine/NLP Code/untitled0.py')
Traceback (most recent call last):

  File "C:\Users\edebago\Anaconda3\Anaconda_new3\lib\site-packages\tensorflow\pytho

[2020-07-21 16:33] DataPrincess123 commented on #41591
Thank you, that worked!

[2020-07-21 16:33] #41591 closed

[2020-07-21 16:52] #40975 closed

[2020-07-21 16:59] kvignesh1420 opened #41600 "Pylint sanity check using docker stays in a hung state."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NO
- TensorFlow installed from (source or binary):  -
- TensorFlow version (use command below): -
- Python version:

[2020-07-21 17:27] ashiqimranintel commented on #17353
I am having the same issues with Mask RCNN

[2020-07-21 17:30] ProfHariSeldon commented on #41533
One more question: If I build tensorflow 2.x from source will it work with C++?  Or NOT work with C++ and only work with Python?

The instructions online (https://www.tensorflow.org/install/source) seem to imply that tensorflow 2.x from source only works with Python because it has a whole "Python version" column in the table and NO "C++ version" column in the table.

[2020-07-21 17:42] garikana commented on #28438
The PR for Quantization support for Exp was closed. Any update on when/if this will be include in future?

Thanks,
Alex

[2020-07-21 17:52] #40988 closed

[2020-07-21 17:52] #41038 closed

[2020-07-21 18:11] amahendrakar commented on #41401
@take0212,

As per the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu) TensorFlow v2.2 works with CUDA 10.1 and cuDNN 7.4.

The output of nvidia-smi shows CUDA Version as 11.0, whereas nvcc -v shows the version as V10.1.105. There seems to be a driver mismatch error here.
Please check [this](https://stackoverflow.com/a/55351774) similar StackOverflow comment an

[2020-07-21 18:14] Saduf2019 commented on #41598
@Debasish2003
Please refer to [this link](https://github.com/tensorflow/tensorflow/issues/36683#issuecomment-585097726) and let us know.

[2020-07-21 18:24] amahendrakar commented on #41430
@sahiltyagi4,
Thank you for the update. The example is fairly complex, and it is hard for us to pinpoint the issue.

Can you please get the example down to the simplest possible repro? That will allow to determine the source of the issue easily. Thanks!

[2020-07-21 18:24] vinayakvaid opened #41602 "Unable to import tensorflow 2.2.0 in conda environment"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed

[2020-07-21 18:25] amahendrakar commented on #41430
Also, is there a specific reason you are using TF v1.14? Please update TensorFlow to v2.2 or v1.15 and check if you are facing the same issue. Thanks!

[2020-07-21 18:32] d-gryphon commented on #28846
This error is closed but it still happening in windows 10.

[code]

[2020-07-21 18:42] nikitamaia commented on #41589
Hi @zhaozheng09, for multiworker training this is not an out of the box feature we currently have in TF. And I don't know that it's a common use case for distributed training with ML training because of the consistent nature of the workload and because you might not always see a direct speedup simply by increasing the number of machines. But if possible my thought is it would probably work best wi

[2020-07-21 18:43] sun-peach commented on #41468
Thank you, but the setting up is pretty complicated. And this code has been reported slow under different environments. So I assume the problem is in the code. Could anyone tell me why the estimator does not start to train the model even I see the dataset has iterated over all the data item?

Thank you once again.

[2020-07-21 18:50] nikitamaia commented on #41042
After some investigation, it looks like this is a known issue and is being worked on. I can update this thread when there is a fix.

[2020-07-21 18:51] mrashidmaqbool commented on #32052
I am facing an issue probably due to memory leak.
I am using a Dataset generator which upload images in batches. If I only train images without validation, everything works fine. But as soon as I introduce validation dataset generator, i start facing an issue of memory.

1. Only training data: no memory issue
2. training data and validation data: memory issue.

I have one dataset generator which i

[2020-07-21 18:59] amahendrakar commented on #41446
@alanpurple,
In this case, could you please submit a new PR for the fix. Thanks!

[2020-07-21 19:05] tensorflowbutler commented on #41596
From the template it looks like you are installing **TensorFlow** (TF) prebuilt binaries:
   * For TF-GPU - See point 1
   * For TF-CPU - See point 2
-----------------------------------------------------------------------------------------------
**1. Installing **TensorFlow-GPU** (TF) prebuilt binaries**

Make sure you are using compatible TF and CUDA versions. Please refer following TF version an

[2020-07-21 19:10] amitpandey2194 opened #41604 "How can I run Tensorflow on one single core, single thread CPP?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- Mobile device (e.g.

[2020-07-21 19:17] surabhijain123 opened #41606 "ImportError: cannot import name 'tensorflow' from 'opt_einsum.backends'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- Mobile device (e.g

[2020-07-21 19:28] nikitamaia commented on #41561
Hi @vineeths96, thanks for providing this detailed feature request. This is an important feature and it has been requested before. Exposing all_gather at the strategy level is actively being worked on. I can definitely update this thread when there are any changes.

[2020-07-21 19:40] AlexeyAB opened #41608 "Converted TFLite-model produces wrong results, while PB-model produces correct result"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary):  `pip install tf-nightly`
- TensorFlow version (or github SHA if from source): 2.4.0-dev20200721

**Command used to run the converter or code if you’re using the Python API**

Colab (GPU is disabled): https://colab.research.google.com/gist/AlexeyAB/07

[2020-07-21 20:19] yongtang commented on #41370
The PR #41386 is pending and is awaiting for review.

[2020-07-21 20:33] nicosacco commented on #36136
I have the same error when using TPU on TF2.2. It is not an error caused by model implementation because, trying on CPU, it works fine. I'm currently trying to run the code with the following data preparation steps:
[code]

I've also tried to change data types but without any success. I get the same error even feeding to the fit function the data without using tf.data.Dataset.from_tensor_slices. A

[2020-07-21 20:39] lakshaykc opened #41610 "Seed for dropout in LSTM - Difference in model(X) and model.predict(X)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-07-21 20:44] bjarthur commented on #27519
model.compile(..., run_eagerly=True) worked for me when creating a custom metric

[2020-07-21 20:44] bjarthur commented on #35393
model.compile(..., run_eagerly=True) worked for me when creating a custom metric

[2020-07-21 21:13] #41504 closed

[2020-07-21 21:35] tomerk commented on #41239
We've added a clearer error message to the new RC. Mixing eager and non-eager models like this risks putting your models/layers in an invalid state. Sometimes this invalid state would happen to still silently run, and sometimes it would raise unclear errors like this one.

It will now raise an explicit error saying that switching between graph vs eager models invalidates all pre-created models.

[2020-07-21 21:35] #41239 closed

[2020-07-21 21:37] caisq commented on #41573
`tensorflow.python.debug.cli.offline_analyzer` is not compatible with the debugger v2 API in TF 2.x (i.e., the `tf.debugging.experimental.enable_dump_debug_info()` as used in the `debug_mnist_v2` example). Instead, please use tensorboard (2.3+, to be released soon) to look at the dumped debug data.

Please take a look at https://www.tensorflow.org/tensorboard/debugger_v2 for more details.

[2020-07-21 21:37] #41573 closed

[2020-07-21 21:49] tiepvupsu commented on #31927
The newly added [experimental layers](https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/CategoryEncoding) seems to be an attempt to solve the issue.

In the old versions, feature_column blocks are defined outside of the model, resulting in the issue. These new experimental layers are placed inside model definition. I haven't tried it yet, but it looks promising.

[2020-07-21 21:59] amitDaMan opened #41612 "Where is Tensorflow Lite Support Library"
Here is the guide to Tensorflow Lite Support Library:
https://www.tensorflow.org/lite/guide/lite_support

An exert:

Which links to:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/support/java

which is 404 Page not found.

[2020-07-21 22:01] Ryan-Rudes commented on #34112
I have not been able to solve this all day; I'm getting the exact error in the title, verbatum, and all of the things discussed in the first several comments in this thread apply to my situation exactly, as well.

[2020-07-21 22:04] amitDaMan commented on #41612
Found it.
https://github.com/tensorflow/tflite-support

You can close this ticket if you want, I will leave it open because the guide should be updated.

[2020-07-21 22:11] jp3spinelli opened #41613 "detect.tflite failure converting TF model to TFlite"
I am using my mac, running Catalina 10.15.5, with Python 2.7.17, running Tensorflow 1.15.3 from source, installed using pip, and my bazel version is 0.26.1.
- GCC/Compiler version (if compiling from source): Unsure
- CUDA/cuDNN version: N/A

I am trying to convert my custom model on ssd_mobilenet_v3_small_coco to TFlite, following this tutorial: [Step 3](https://github.com/EdjeElectronics/TensorFl

[2020-07-21 22:31] abattery commented on #41612
Thanks for reporting the broken links! Team will fix the links soon.

[2020-07-21 22:33] rajansaini691 commented on #38311
Hello, and thank you so much for your time! Unfortunately, we are running into the exact same issue. Has there been a workaround/fix yet?

[2020-07-21 22:44] sharathts opened #41614 "Training with Keras mixed precision policy crashes."
@DEKHTIARJonathan and @nluehr for visibility.

<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example

[2020-07-21 22:52] #41055 closed

[2020-07-21 23:52] #41098 closed

[2020-07-22 00:18] ymodak commented on #41532
Did you try using a virtual environment ?

[2020-07-22 00:27] andrewzlee commented on #37942
Just switching to Linux (Ubuntu 18.04) and following TF's [GPU installation guide](https://www.tensorflow.org/install/gpu) is not sufficient in fixing the issue. The [gist](https://gist.github.com/jliebers/995c3c4da4ad2a6f9376d31ee2470ec5) is still crashing with this error and occasionally ThenRnnForward.

I believe OP is using an older nvidia driver than 440 or 450. I've tried both those versions

[2020-07-22 00:28] jeffhwang02 commented on #30246
Yes  I did it in the same path which I built the tensorflow_cc.dll file well.

[2020-07-22 00:29] terryheo commented on #40157
TF ops support (Flex delegate) is now enabled for MacOS.
You can try nightly (tf_nightly-2.4.0.dev20200721-cp36-cp36m-macosx_10_9_x86_64.whl or later)

Let me know if you still have an issue here.

[2020-07-22 00:30] #37739 closed

[2020-07-22 00:30] jeffhwang02 commented on #30246
@meteorcloudy
Yes I did it in the same path which I built the tensorflow_cc.dll file well.

[2020-07-22 00:32] ymodak commented on #40676
Thanks for your response. Are you able to quantize correctly if you remove`%` operations from the code above?

[2020-07-22 00:32] #41612 closed

[2020-07-22 00:33] ymodak commented on #40509
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-07-22 00:33] #40509 closed

[2020-07-22 00:57] ChuangLee commented on #33148
facing this issue using TF 2.2.0 while evaluating

[2020-07-22 01:01] Zlz-shoulder commented on #41445
Please delete the line 339-340, which are not important. Many thanks.

[2020-07-22 01:18] NeoZhangJianyu commented on #40989
@pks It's still on going. I will push to confirm and fix.

[2020-07-22 01:48] aegooby opened #41616 "training hangs using `tf.keras.model.fit` on `tf.data.Dataset` in GAN"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.9
- Bazel version (if compiling from source): n/a
- GCC/Compiler version (if

[2020-07-22 01:48] terryheo commented on #35116
PR is merged. You can build RPI3 PIP wheel for Python 3.7 as following.

[code]

[2020-07-22 01:49] #35116 closed

[2020-07-22 01:52] #39643 closed

[2020-07-22 02:01] ravikyram commented on #41602
@vinayakvaid

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please

[2020-07-22 02:04] karimnosseir commented on #41580
T.J Can you please help.

Thanks

[2020-07-22 02:09] ravikyram commented on #41596
@surabhijain123

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, plea

[2020-07-22 02:13] karimnosseir commented on #41562
From the error looks like you're trying to load a model in TFLite interpreter that is not a TFLite flatbuffer. Follow EdgeTPU guide for running your converted model.

[2020-07-22 02:33] fsx950223 commented on #41573
Any plan to fix cli?
Sometimes, I worried about Tensorboard has worse performance than cli.
Because Tensorboard uses resources to render web UI.

[2020-07-22 02:34] cmxcn commented on #41588
Hi, may I know if there are any thoughts regarding this?

[2020-07-22 02:36] qlzh727 commented on #33148
Please try with the latest nightly version.

[2020-07-22 02:37] karimnosseir commented on #41547
As Jaesung mentioned, you will need to enable Control Flow v2
Please reopen if you're having issues and provide details and reproduce steps.

Thanks

[2020-07-22 02:37] #41547 closed

[2020-07-22 02:44] karimnosseir commented on #41521
This is expected error as the style transform model is not fully quantized (some operations are not quantized).
You will need to change the model to be able to get fully quantized version.

[2020-07-22 02:44] #41521 closed

[2020-07-22 02:52] karimnosseir commented on #39396
@amitmate Currently we don't support quantized reduce_prod, can you convert your model partially quantized - not all ops are quantized - instead.
You can do this by using tf.lite.OpsSet.TFLITE_BUILTINS instead of tf.lite.OpsSet.TFLITE_BUILTINS_INT8

Try this and let me know

Thanks

[2020-07-22 02:54] freedomtan commented on #41613
@jp3spinelli from your log
[code]

Please try `input_shapes=1,320,320,3` instead of `input_shapes=1,300,300,3`

[2020-07-22 02:54] karimnosseir commented on #41119
This should be fixed. @wing-yiu can you please retry.

Thanks

[2020-07-22 02:55] karimnosseir commented on #41119
Please reopen if needed

[2020-07-22 02:55] #41119 closed

[2020-07-22 02:57] amitmate commented on #39396
Tried this before, when we set to  tf.lite.OpsSet.TFLITE_BUILTINS , none of the nodes are delegated to Hexagon. (netron shows most operations are floating point). Can try again with the latest to see any difference

[2020-07-22 02:58] karimnosseir commented on #39396
@amitmate Can you please paste your exact options used ?

[2020-07-22 02:59] karimnosseir commented on #41069
Do you mind sharing colab link with reproduce

Thanks

[2020-07-22 03:00] karimnosseir commented on #41000
No plans at the current moment.

[2020-07-22 03:00] #41000 closed

[2020-07-22 03:14] jason-liew opened #41617 "Doe tensorflow has api similar to pytorch's “masked_fill_”"
pytorch has squeeze , tf also has squeeze.
pytorch has unsqueeze, tf has expand_dims do the same thing with diff name.
pythorh has masked_fill , tf has ?

<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on

[2020-07-22 03:21] nathanhack commented on #34908
@alextp any idea when this might be fixed?

[2020-07-22 03:23] zhaozheng09 commented on #41589
@nikitamaia, We use async training now.
We has a test that multi worker will speedup training(like y = log2x    x:worker nums, y:training speed), and our uesrs only use less worker, so dynamic add worker will has a good effect.
We hope TF auto add worker to speedup training when resource is enough.

[2020-07-22 03:34] wing-yiu commented on #41119
@karimnosseir

Is there a specific version of tensorflow that I'm supposed to use?

I get the same error below when I use the colab notebook that was provided to convert from keras model.
`InvalidArgumentError: Input 3 of node functional_3/albert_lite/StatefulPartitionedCall was passed float from functional_3/albert_lite/73237:0 incompatible with expected resource.`

[2020-07-22 03:35] himanshu816 commented on #41061
**Python** 3.6.9

**TF-1.14:**
pip install 'numpy<1.19.0'
pip install -U pip six wheel mock
pip  install future
pip install keras_applications==1.0.4 --no-deps
pip install keras_preprocessing==1.0.2 --no-deps
pip install pandas

**bazel version:** bazel-0.25.2-installer-linux-x86_64.sh

**TF-1.15 & TF-2.0:**
pip install 'numpy<1.19.0'
pip install -U pip six wheel mock
pip  install future
pip insta

[2020-07-22 03:49] ravikyram commented on #41617
@jason-liew

Can you please go through [tf.boolean_mask](https://www.tensorflow.org/api_docs/python/tf/boolean_mask) and see whether you are looking for similar functionality.Thanks!

[2020-07-22 04:21] Saduf2019 commented on #41445
@Zlz-shoulder
Can you please mention the lines here, so its easier or delete them and share the gist.

[2020-07-22 04:28] Saduf2019 commented on #41604
@amitpandey2194
Can you please refer to existing issue for the same reported here and let us know.
#35784 [link](https://stackoverflow.com/questions/38187808/how-can-i-run-tensorflow-on-one-single-core) [link1](https://ask.cyberinfrastructure.org/t/tensorflow-script-to-run-on-single-core/225)

[2020-07-22 04:28] abattery commented on #41119
Please save the keras model into a saved model and use the from_saved_model API with tf-nightly version.

[2020-07-22 04:49] Saduf2019 commented on #41614
@sharathts
Can you please share simple indented stand alone code to replicate the issue faced or a colab gist to analyse.

I see some similar issues:
please refer to [link](https://stackoom.com/question/3tkBY/InvalidArgumentError-%E6%97%A0%E6%B3%95%E8%AE%A1%E7%AE%97Mul%E4%B8%BA%E8%BE%93%E5%85%A5-%E4%BB%8E%E9%9B%B6%E5%BC%80%E5%A7%8B-%E5%BA%94%E8%AF%A5%E6%98%AFint-%E5%BC%A0%E9%87%8F-%E4%BD%86%E6%98%

[2020-07-22 04:55] jvishnuvardhan commented on #41507
@yskale I think there is a mismatch in CUDA drivers. Please check the tested build configurations [here](https://www.tensorflow.org/install/source#gpu).  Please check the CUDA driver version for `TF2.0`. As you have used `pip` binaries, Tensorflow2.0 will be looking for `*CUDA10.0` folder for related drivers and you have `*CUDA10.0`, so there is a mismatch.

Can you please uninstall cuda10.1, unin

[2020-07-22 05:15] smallworld-network-wupeng commented on #41585
fixed

[2020-07-22 05:18] Ryandry1st commented on #36136
I am not sure, I have not run into that problem since updating to TF 2.2, although I do use the rc4 which may have a difference. Looking at the snippet you provided, I cannot see any reason to get the error. It also looks like it is something solved, or believed to be solved, in TF 2.3 coming to release candidate soon?

[2020-07-22 05:33] ravikyram commented on #41608
@AlexeyAB

Request you to grant me the access for the colab link. Thanks!

[2020-07-22 05:39] freedomtan commented on #41608
@AlexeyAB Can't access your colab. I googld a bit, found what the model is for, and created a [run_tflite](https://github.com/freedomtan/MiDaS/blob/tflite/tf/run_tflite.py) python script derived from you `run_pb.py`. It seems the tflite model works.

BTW, any reason why you want `--target_ops=SELECT_TF_OPS`? TFLite supports all the ops of this MiDaS model. I tried my script with both model with  `

[2020-07-22 06:07] figkim commented on #41584
The workaround not worked, (add const* for input arguments)
but following another suggestion (https://github.com/tensorflow/tensorflow/issues/41061#issuecomment-662222308)
(downgrade `numpy<1.19.0`) works!

[2020-07-22 06:07] #41584 closed

[2020-07-22 06:26] llealgt commented on #8854
I tried the coloab notebook but the graph in tensorboard is not showing anything, is it working for you?

[2020-07-22 06:29] lamhoangtung commented on #41061
@himanshu816. Look like I was missing `pandas`. The build is now complete. Thanks for your help!

[2020-07-22 06:32] Saduf2019 commented on #41585
@smallworld-network-wupeng
Kindly provide all [details to replicate the issue](https://colab.research.google.com/gist/Saduf2019/00626c9969693c68618cec46623dd509/untitled291.ipynb) or share a colab gist with the error faced.

[2020-07-22 06:46] Zlz-shoulder commented on #41445
Please delete the lines 339-340:
with open(log_path, 'a') as f:
         f.write(line + '\n')

[2020-07-22 06:56] sunilkumar-op opened #41619 "Error in loading tflite model at runtime from native C++ library."
**System information**

OS Platform and Distribution (windows 10):
Mobile device (oppo reno2) i am building and running on this device through android studio.
TensorFlow installed from (source or binary): Ubuntu terminal through pip3
TensorFlow version:
Python version: python 3.8.2
Installed using pip
Bazel version (if compiling from source): I have created libtensorflowlite.so using bazle(2.0.0)

[2020-07-22 06:59] meteorcloudy commented on #30246
@jeffhwang02
Oh I mean, can you show me the actual code so that I can see what went wrong?
Also which version of Bazel were you using?

[2020-07-22 07:05] smallworld-network-wupeng commented on #41585
I put all code to this colab. But how to upload the train images ?

[2020-07-22 07:16] amahendrakar commented on #41583
@TPFRL,
On running the command to train mnasnet, I am facing an error stating `ModuleNotFoundError: No module named 'utils'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/219d8912e7e0ba5a9ffcf6ada19cfcf6/41583.ipynb#scrollTo=DzjJ80s4SgTM).

Could you please provide a minimal working example to reproduce the issue reported here. Thanks!

[2020-07-22 07:24] jason-liew commented on #41617
No,it's different.

tensorflow:
[code]
pytorch:
[code]

[2020-07-22 07:30] ravikyram commented on #41617
@jason-liew

Got it.Thanks!
Are you interested to submit a PR?

[2020-07-22 07:31] lengoanhcat opened #41620 "Definition of dynamic-shape variable error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Conda repo
- TensorFlow version (use command below): 1

[2020-07-22 07:40] ItsMeTheBee commented on #41562
I know that's what it looks like but i´m using the provided examples from the "Getting started" tutorial so the models should be fine. And these issues occur with compiled models as well as normal models.
The paths are fine as well, I tried copy pasting the commands as well as writing them using tab completion.
On the other hand [these](https://github.com/guichristmann/edge-tpu-tiny-yolo) things w

[2020-07-22 07:42] mukurgupta opened #41621 "Not found: Key dense/kernel not found in checkpoint"
I am trying to write an encoder/decoder model for a sequence using the TensorFlow estimator and tfa.seq2seq. It is running fine for training and loading the checkpoints when I am training it again but it is not working with the inference. Seems like the encoder is alright but there is some issue with the decoder.

Here is the training decoder code which estimator.train calls and it is working fine

[2020-07-22 07:45] hanotrahul commented on #17353
i am getting this issue during usage of "mask_rcnn_inception_resnet_v2_1024x1024_coco17_gpu-8" this model and I have follow this tutorial https://towardsdatascience.com/how-to-train-a-tensorflow-2-object-detection-model-25d4da64b817
File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/eager/executor.py", line 67, in wait
    pywrap_tfe.TFE_ExecutorWaitForAllPendingNodes(self._handle)
ten

[2020-07-22 07:48] ravikyram commented on #41621
@mukurgupta

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-22 08:14] DachuanZhao commented on #29832
@vmirly same error ...... Thanks for your answer , but I think ```For eager execution, I should define the tfds dataset inside the function.``` should be written in tensorflow estimator document ......

[2020-07-22 09:16] nicolausYes commented on #21526
I see the commit that adds quantized int8 elu, by any change quantization support is coming?
https://github.com/tensorflow/tensorflow/commit/918f876bf812fd744151fea29b2df4aa18acfa8f

[2020-07-22 09:37] zolora opened #41623 "tf error : Failed to load the native TensorFlow runtime."
![erreur](https://user-images.githubusercontent.com/68639810/88160941-a56a3c00-cc0f-11ea-8416-0a869e5818a1.png)

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.1
- Python version: 3.7
-

[2020-07-22 09:41] lamazavr commented on #39942
Seems that tf.keras.layers.LayerNormalization corresponds with the InstanceNormalization image as well. So I think @MoustafaMeshry is right. There is a bug in tf.keras.layers.LayerNormalization.
@yhliang2018 what do you think?

[2020-07-22 09:49] Saduf2019 commented on #41623
@zolora

Please refer to [this link](https://github.com/tensorflow/tensorflow/issues/36683#issuecomment-585097726) and let us know as this is a common resolved issue.

[2020-07-22 09:52] #40788 closed

[2020-07-22 09:52] #40660 closed

[2020-07-22 09:52] #40929 closed

[2020-07-22 09:58] amahendrakar commented on #41590
Was able to reproduce the issue with TF v2.2. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b90177eba7517553edf96d0d50a50add/41590.ipynb#scrollTo=SFy8e1tob2Xm). Thanks!

[2020-07-22 10:01] SergioPN commented on #40157
Hello,
I know this issue is open for MacOS but as already discussed this also happens on Linux and I am having a very similar problem if not the same with Linux.

I just tried tf_nightly-2.4.0.dev20200721-cp37-cp37m-manylinux2010_x86_64.whl getting similar results.

Running on a GCP Notebook

- Python 3.7.6

- tf_nightly-2.4.0.dev20200721

- Linux

The stdout is slightly different but the same err

[2020-07-22 10:08] amahendrakar commented on #41594
Was able to reproduce the issue with TF v2.2, TF v2.3.0-rc2 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/033e6d33d0099320d6ac1e56542b7f2f/41594-tf-nightly.ipynb). Thanks!

[2020-07-22 10:08] gilescoope commented on #38642
Also why is the interpreter on https://www.tensorflow.org/lite/guide/python still Tensorflow 2.1.
2.2 has been out for months now, Python 3.8 even longer and there is still no support.

[2020-07-22 10:24] nicosacco commented on #36136
Hi, unfortunately, I've just tried the same piece of code after upgrading both my GCP VM and the TPU to TF2.3-rc2 and I am getting the same kind of error, even if with some more details (which are certainly not insightful from my perspective):

[2020-07-22 10:27] AlexeyAB commented on #41608
@ravikyram I changed link to Colab: https://colab.research.google.com/gist/AlexeyAB/07e7aa3c9ab49f1d733153f64d6fd270/onnx_to_tf_to_tflite.ipynb

[2020-07-22 10:52] rakeshmothukuru1 opened #41625 "Logging of "TensorFlow with TPUs" example in Google Colab is happening Twice"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): NA, as the issue can be replicated in Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Available by Defau

[2020-07-22 10:52] mukurgupta commented on #41621
@ravikyram

I have made the miniature version of the model. Here is the drive link containing the test.py file and decoder.py file and checkpoints folder:

[https://drive.google.com/drive/folders/1PrO5rRhfYbziWrSEQsnntN9Ls9UT7118?usp=sharing](url)

You just need to run the test.py file for the inference and can change the param['mode'] in test.py to run it for training.

It runs in the training ph

[2020-07-22 11:06] netw0rkf10w commented on #41532
@ymodak Thanks. The issue seems to come from the server I'm using.

[2020-07-22 11:06] #41532 closed

[2020-07-22 11:07] mukurgupta commented on #41621
@ravikyram

I have made the miniature version of the model.

Following is the main file for the model:

[code]

The above code runs fine if params['mode']='train' and also creates the checkpoints in the models directory. But on 'predict' mode, it throws error.

Here is the code for the decoder.py:

[code]

Error is:
[code]

I'd appreciate your help on this.

[2020-07-22 11:43] AlexeyAB commented on #41608
@ravikyram
Yes, there was my little bug, now it works fine: https://colab.research.google.com/gist/AlexeyAB/59e8a5e4116e03858bc1fd6c7f1a8d5f/onnx_to_tf_to_tflite.ipynb

TFLite result:
![tflite_result](https://user-images.githubusercontent.com/4096485/88172347-82e51c80-cc29-11ea-9f8a-99f49f2125d1.png)

----

But why does it work well if GPU is disabled in Colab, but it doesn't work if GPU is enable

[2020-07-22 11:44] AlexeyAB commented on #41608
@freedomtan  Thank you for helping me find a typo in my code!

[2020-07-22 11:49] zhuzilin opened #41626 "[XLA] Unintuitive behavior of jit_scope"
As far as I can tell, the implementation of `MarkForCompilation` relates to `jit_scope` (`_XlaCompile` attribute) does the following steps:
1. Remove the nodes whose `_XlaCompile` attribute is set to false from the compilation candidates (using `CompilationDisallowedByXlaCompileAttr`).
2. Create a cluster for each candidate using `_XlaScope` as the scope (`absl::nullopt` otherwise).
3. Cluster the

[2020-07-22 11:55] ravikyram commented on #41621
@mukurgupta

I have tried in colab with TF version 2.2.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/69ebcdb7e6ee4a2eaaa2ce31b3448861/untitled172.ipynb).You are also seeing same behavior?
Thanks!

[2020-07-22 12:07] #41593 closed

[2020-07-22 12:22] aselva-eb commented on #40157
Cool! Thanks - Will try it out and let you know!

[2020-07-22 12:41] jp3spinelli commented on #41613
@freedomtan This worked! Thank you very much!!

[2020-07-22 12:41] #41613 closed

[2020-07-22 12:49] mobajjal commented on #36423
So ..
 my friend .. I had the same problem and it was solved this way
click right in any empty place in Desktop and chose **Nvidia Control Panel**
and the picture explain
![ddd](https://user-images.githubusercontent.com/62519373/88177850-289c8980-cc32-11ea-81e9-b00042c225e2.jpg)

[2020-07-22 12:57] ravikyram commented on #41626
@zhuzilin

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-22 13:11] freedomtan commented on #41608
@AlexeyAB no problem. I like your YOLOv4.

[2020-07-22 13:12] viswanath27 commented on #38012
I have tried to force upgrade **tensorflow 2.2.0** and I am landing in same issue.
**Keras version 2.3.1**

Any help here is appreciated to help fix this issue.

Traceback (most recent call last):
  File "image_classification.py", line 2, in <module>
    import tensorflow as tf
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/__init__.py", line 41, in <module>
    from tensorflow.python.t

[2020-07-22 13:19] sitting-duck commented on #30647
I believe you cannot fix those symbol this way.

There is a Python script way to expose symbols I am vaguely aware of that
you may be able to try. I have not tried this myself.

On Thu, Jul 16, 2020 at 6:01 PM jeffhwang02 <notifications@github.com>
wrote:

[2020-07-22 13:22] mukurgupta commented on #41621
@ravikyram

Yes you are correct. But you ran it in prediction mode without any checkpoints so it is initializing and won't have any errors but this prediction is wrong as everything is being initialized here and there's no use of training then.

For right prediction you need to change the mode to train first, create checkpoints in './models' and then run it on predict mode.

Or you can use the che

[2020-07-22 13:27] NEGU93 commented on #23156
+1 for this. I would like `tf.signal.fft2d` to have the `axes` parameters as [`numpy.fft.fft2`](https://numpy.org/doc/stable/reference/generated/numpy.fft.fft2.html) for example (and all analogous examples). This will also enable the creation of `tf.signal.fftnd`

[2020-07-22 13:30] guillaumekln opened #41627 "tf.debugging is not compatible with symbolic Keras tensors"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.2.0
- Python version: 3.6.9

**Describe the current behavior**

Functions from `tf.debugging` (such as `tf.debugging.assert_equal`) raise an exception when passing a Keras tensor as argument.

It appears that the functions run the eager c

[2020-07-22 13:34] rajurimu commented on #41112
I am still facing this issue on RPI Zero.

[2020-07-22 13:36] yskale commented on #41507
Thanks for the information @jvishnuvardhan , I was able to figure out the problem and fix it.

[2020-07-22 13:36] #41507 closed

[2020-07-22 13:39] rajurimu commented on #38037
Can anyone help with this? Trying to install TFlite on Rpi zero (without TF). Any pointers / guidance will help. Thanks

[2020-07-22 13:44] zhuzilin commented on #41626
@ravikyram
I believe this issue should be classified into the "other" category because it mainly relates to the internal structure of XLA. And because it relates to timeline, I'm not sure it can be easily reproduced through colab and I think the content has already localized the issue... As for the tensorflow version, I think the implementation mentioned exists from at least 1.15.

[2020-07-22 13:45] Hazarapet commented on #37130
@Arktius
I'm using our designed network, which consists of regular layers like Conv2D, BatchNorm, Activation, etc..
It is an autoencoder, which consists of a pre-trained encoder (vgg, resnet, etc..) and 1-3 decoders.
**I've figured out the problem is related to bilinear upsampling (inside Upsample2D or tf.image.resize) and it breaks the mixed-precision performance.**
**It is too bad because the sa

[2020-07-22 14:04] beyse opened #41629 "Parallelize and prioritize model inference on ARM CPU with tensorflow lite."
I have two different neural networks running with tensorflow lite on an embedded device, using an arm cpu.
My questions are: How can I execute both models at parallel? How can I give one of the two models a higher priority than the other one? The background is: I do not want one model to block or interrept execution of the other model.

[2020-07-22 14:20] Arktius commented on #37130
Do you train the whole network or just the last couple of layers? (Transfer Learning)
VGG uses convlayers of size 3x3. Two remarks here: 1.) 3x3 is not a multiple of 8 which is a prerequisite of MP. 2.) Even 8x8 might not yield any performance gain, because it's simply too small.

How did you figure this out? According to this website [ClickMe](https://developer.nvidia.com/blog/accelerating-medica

[2020-07-22 14:31] lissyx opened #41630 "CudnnLSTM variable sequence length sometimes fails with CUDNN_STATUS_EXECUTION_FAILED"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian/Sid (2020-07-01), Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source and binary
- TensorFlow ver

[2020-07-22 14:38] lissyx commented on #41630
Repro material.

To repro with r1.15 tensorflow on current Debian Sid, I needed to use pyenv to have a local 3.7 python (latest version supported by r1.15), but if you run it on a system-provided 3.7, you'd prefer remove those line and just setup a virtualenv.

STR:
 1. Create `~/tmp/issue3308`
 2. Placed this script in `~/tmp/issue3088/`
[code]
 3. `git clone https://github.com/mozilla/DeepSpeech

[2020-07-22 14:44] amahendrakar commented on #41620
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3fe8345db4092d520246205be4b97948/41620.ipynb). Thanks!

[2020-07-22 14:50] rajurimu commented on #31369
I am facing the same issue with official install. I am running on rpi zero and trying to install tflite stand alone.

https://www.tensorflow.org/lite/guide/python#run_an_inference_using_tflite_runtime.

Error I am getting is
ModuleNotFoundError: No module named 'tflite_runtime'

[2020-07-22 15:00] lissyx commented on #41630
More infos / logs
----------------------

Failure log is (with some extra debug by myself):
[code]

We verified a few things:
 - fine with tensorflow r1.14
 - breaks on r1.15 with cudnn 7.6, 7.5, more intermittent with 7.4 (I got severel non repro, reporting contributor still hit the issue)
 - repro with several versions of the nvidia driver (currently using 440.100 packaged by debian sid, contrib

[2020-07-22 15:01] boluoyu commented on #39908
@qlzh727 I still report an error when Using tf-nightly (2.4.0-dev20200722)

[2020-07-22 15:01] lissyx commented on #41630
Please do not hesitate to ping myself or @applied-machinelearning if you have troubles reproducing the issue, but with the provided material it should be straightforward.

[2020-07-22 15:04] amahendrakar commented on #41606
@surabhijain123,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.

Could you please submit a new issue using [this link](https://github.com/ContinuumIO/anaconda-issues/issues/new) and fill in the template, so that the issue can be tracked there. Thanks!

[2020-07-22 15:07] boluoyu commented on #39908
@qlzh727 I still report an error when Using tf-nightly (2.4.0-dev20200722)

[2020-07-22 15:12] amahendrakar commented on #41616
@aegooby,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-07-22 15:28] ratovarius commented on #39545
Hi,
Similar issue here,

I have this warning when running a keras multiple input model using functional API. The model works fine and without warnings when runing on single GPU. When I use `tf.distribute.MirroredStrategy` to use two GPUs the final result of the model is ok but I get the warning. I think this can lead to performance issues?

[code]
The model I am generating is:

[code]

Model summa

[2020-07-22 15:41] edloper commented on #40965
@yaochengji For elementwise functions such as `relu`, you can just use `tf.ragged.map_flat_values`.  E.g.:

[code]

Adding ragged support to `tf.einsum` would be more complicated; any contributions are welcome.

@ARozental You can chop a dense tensor to the shape of a ragged one with something like this:

[code]

[2020-07-22 15:42] PreethaVeera commented on #30865
The comment #30865 indeed explains the usage of Graph transforms using bazel.

bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=tensorflow_inception_graph.pb \
--out_graph=optimized_inception_graph.pb \
--inputs='Mul:0' \
--outputs='softmax:0' \
--transforms='
strip_unused_nodes(type=float, shape="1,299,299,3")
remove_nodes(op=Identity, op=CheckNumerics)
fold_old_batch_norm

[2020-07-22 15:56] Hazarapet commented on #37130
@Arktius
Almost everything in my network is multiple of 8. Batch Size, Decoder Filter Count, etc.
**Also, if I'm not mistaken, they don't require everything to be a multiple of 8 (for example kernel size or dilation rate).
Then why do I need mixed-precision, if it requires only certain numbers for my network?**
What about the output of my network? e.g I have 6 classes, how to force them to make 8?

[2020-07-22 16:00] Saduf2019 commented on #41627
@guillaumekln
Please refer to these [links](https://stackoverflow.com/questions/59308263/using-a-tf-tensor-as-a-python-bool-is-not-allowed-in-graph-execution-use-ea) with same error and let us know if it helps
#40916 #37393 #36848 [link](https://github.com/matterport/Mask_RCNN/issues/1911#issuecomment-653752919)

[2020-07-22 16:03] Saduf2019 commented on #41585
@smallworld-network-wupeng
I do not have access to the link shared, please attach the images in a  zipped folder.

[2020-07-22 16:05] #41387 closed

[2020-07-22 16:06] guillaumekln commented on #41627
Unless the usage above is incorrect, I think the issue is inside TensorFlow:

https://github.com/tensorflow/tensorflow/blob/2b96f3662bd776e277f86997659e61046b56c315/tensorflow/python/ops/check_ops.py#L334

`if condition` is invalid when `condition` is a symbolic tensor.

[2020-07-22 16:20] bjarthur opened #41632 "ModelCheckpoint save_freq incompatible with Model.fit validation_freq"
please see [this issue](https://github.com/keras-team/keras/issues/13689) filed on the now unsupported keras repo.  @gattia there has it [figured out](https://github.com/keras-team/keras/issues/13689#issuecomment-583758348) i believe.  would be nice to have a work around.

in brief, when using `ModelCheckpoint(save_freq=<int>...` combined with `model.fit(validation_freq=<int>...` then "WARNING:ten

[2020-07-22 16:22] Revanee commented on #14934
Any updates on this? Currently all of the official containers are linux/amd64. Are there any plans to support multiple architectures?

[2020-07-22 16:22] jobale commented on #34580
Same problem here. Following command:
`go get -d github.com/tensorflow/tensorflow/tensorflow/go`
 produce:
`package github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto: cannot find package "github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto" in any of:
	/usr/local/go/src/github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto (from $GOROO

[2020-07-22 16:24] ProfHariSeldon commented on #41533
@gowthamkpr I got TensorFlow 2.2.0 to compile but Visual Studio Code does not know how to #include the files from the 2.2.0 compiled source.  I got Visual Studio Code to #include and run test code when I installed the 1.15.0 binary, but that binary does not have keras, which I want.

I followed these install instructions:
https://gist.github.com/philwo/f3a8144e46168f23e40f291ffe92e63c

With these

[2020-07-22 16:52] #41180 closed

[2020-07-22 16:52] #40244 closed

[2020-07-22 17:08] vladbph commented on #40342
Digging further:
- Model that uses **_binary_crossentropy_** works **OK**
- Model that uses **_categorical_crossentropy_** **FAILs** to continue training from last checkpoint

[2020-07-22 17:09] karimnosseir commented on #41562
@ItsMeTheBee If it is TFLite that you're using please send reproduce steps to the issue. If it is the EdgeTPU part, then please file issue with EdgeTPU so they can help you.

Commit "d855adfc5a0195788bf5f92c3c7352e638aa1109" is available in v2.2 +

[2020-07-22 17:16] vinayakvaid commented on #41602
@ravikyram My processor is Intel i5 8th gen.

I followed the instructions given on the tensorflow website only. Actually i earlier had tensorflow's 1.x version which was working fine. Recently only I had updated it to 2.2.0 to use keras where the issue has come.

[2020-07-22 17:19] alextp commented on #34908
@ccrusius FYI

[2020-07-22 17:21] lakshaykc commented on #41610
for further clarification, I am calling the LSTM layer with the argument `training=True`, so that dropout is enabled when `model.predict()` is called

[2020-07-22 17:33] Arktius commented on #37130
'Almost'? What is not?

What do you mean? Why do you need MP when it restricts the developer in many cases? Well, the benefit of training a model 2-8 x faster is enough motivation to fulfil all prerequisites. Training a model in 5 days instead of 10 or 14 days can save a lot of time and thus money.

What's your activation function at the output layer? Sigmoid for the case where always one class is

[2020-07-22 17:44] praveenydv commented on #31053
I upgrade my tensorflow v1.14.0 to v2.2.0  and it solved

[2020-07-22 17:47] qlzh727 commented on #39908
Do u have the colab to repro the issue?

[2020-07-22 17:52] amahendrakar commented on #41625
@rakeshmothukuru1,
On adding the line `logger.propagate = False`, messages are logged only once. Please check this [gist](https://colab.research.google.com/gist/amahendrakar/30ae6aa486a1cb7a660a2e80a7f8d81b/41625-v2.ipynb) for reference.

Also, please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/8023#issuecomment-284102287) from a similar issue and let us know if i

[2020-07-22 18:00] sudzam opened #41634 "batch_to_space & space_to_batch usage."
This is a request to improve the documentation to add some examples/use cases.

## URL(s) with the issue:
N/A

Please provide a link to the documentation entry, for example:
**https://www.tensorflow.org/api_docs/python/tf/space_to_batch
https://www.tensorflow.org/api_docs/python/tf/batch_to_space**

## Description of issue (what needs changing):
It's not very clear where/how these two (space_to_ba

[2020-07-22 18:09] ppwwyyxx commented on #41539
@nikitamaia any progress in reproducing the error?

[2020-07-22 18:13] ezyang commented on #3348
I want to point out that Tensorflow disagrees with JAX on what the grad should be:

[code]

prints

[code]

[2020-07-22 18:25] Saduf2019 commented on #41610
i am able to replicate this issue reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/d4afdd07e202c47b5b4533e66a6b61eb/untitled292.ipynb)

[2020-07-22 18:25] vladbph commented on #40342
This may be sounds too far fetched, but it seems that ..... python version is the reason. When model is compiled with **_categorical_crossentropy_**:

python2.7:
	*** categorical_crossentropy (tf1.4.0 + keras2.1.5) // OK
	*** categorical_crossentropy (tf2.0.0) // OK
	*** categorical_crossentropy (tf2.1.0) // OK

python 3.6:
	*** categorical_crossentropy (tf1.4.0 + keras2.1.5) // FAILS
	*** categor

[2020-07-22 18:27] sbrl commented on #40614
Ah, I see. Thanks, @mihaimaruseac :smiley_cat:

[2020-07-22 18:35] sedol1339 opened #41635 "Fitting sometimes leads to NaN loss on TPU, while on CPU doesn't"
**System information**

- TensorFlow version (use command below): 2.2.0 (v2.2.0-0-g2b96f3662b)
- Python version: 3.6.9
- GPU model and memory: Google Colab TPU

I've found that sometimes fitting model on TPU leads to NaN loss, while fitting on CPU doesn't.

I fit Xception network with custom top layers, using only 5 batches, one per epoch. Standalone code:

[code]

What i've found?
- if using TPU,

[2020-07-22 18:37] amahendrakar commented on #27684
Was able to reproduce the issue with TF v2.2 and TF-nightly i.e. v2.4.0-dev20200722. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/151e1acbe8b0513458f9c7da13187a2f/27684.ipynb#scrollTo=UGHJaUo0xHGm). Thanks!

[2020-07-22 18:40] #41255 closed

[2020-07-22 18:55] MarkDaoust commented on #41564
Thanks for reporting. Fixed. It will take a day for the change to propagate to the site.

[2020-07-22 18:55] #41564 closed

[2020-07-22 19:00] gunan commented on #41405
@rmlarsen @av8ramit

[2020-07-22 19:02] surabhijain123 commented on #41596
Tensorflow-gpu is installed using conda but running a program gives following output as error:

Figures now render in the Plots pane by default. To make them also appear inline in the Console, uncheck "Mute Inline Plotting" under the Plots pane options menu.

2020-07-23 00:20:27.296592: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101

[2020-07-22 19:04] rajansaini691 opened #41637 "TFLite quantization silently converts bias tensor to int8 (int32 expected), causing interpreter to crash"
**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from: source
- TensorFlow version (or github SHA if from source): `tf-nightly`, version `2.4.0-dev20200721`

**Code**
I am converting using the options recommended in the docs:
[code]

**The output from the converter invocation**

[code]

**Helpful Files**
Saved model:
[saved.zip](https://github.com/te

[2020-07-22 19:24] amahendrakar commented on #41474
@lzyang2000,
I was able to run the code without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/96cff7fa952064730857a281591c0568/41474.ipynb).

Could you try running the code in a virtual environment and check if you are facing the same issue. Thanks!

[2020-07-22 19:25] tom970 commented on #41304
Hi
I checked tf-nightly-gpu (2.4.0-dev20200721) and tencorflow-cpu 2.2.  The same error came out from both of them. 
Thanks,

[2020-07-22 19:26] tom970 commented on #41304
Hi ,

I checked tf-nightly-gpu (2.4.0-dev20200721) and tencorflow-cpu 2.2.  The
same error came out from both of them.

Thanks,

On Mon, Jul 20, 2020 at 2:31 PM Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2020-07-22 19:33] amahendrakar commented on #32764
Was able to reproduce the issue with TF v2.2 and TF-nightly i.e. v2.4.0-dev20200722. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/02a7b325e8148baa5e3e4b2e461abe04/32764.ipynb). Thanks!

[2020-07-22 19:41] CarloGraziani commented on #20208
@Demetrio92 , what you are suggesting in no way addresses the issue discussed here.  The gamma distribution inverse  (and yes, we already knew it was a distribution, and you would be aware of it had you read the thread in full) has known specific approximations and algorithms, as do its derivatives.  A generic quadrature or iterative approach is at best a work-around.  What is required here is for

[2020-07-22 19:43] gunan commented on #41405
Also @ezhulenev

[2020-07-22 19:46] NEGU93 commented on #3348
I don't know about jax but if that's the case, then jax is computing the derivative of f wrt z. When you compute a gradient to minimize a function you should compute the derivative wrt the conjugate of z. Therefore, gradient of f is NOT equal to derivate wrt z.
[Here](https://dsp.stackexchange.com/questions/51248/derivative-with-respect-to-complex-conjugate) there's a good explanation why this is

[2020-07-22 19:54] mdanatg commented on #32764
Unfortunately I didn't have time to work on this, un-asigning myself. For reference, the issue amounts to inconsistent error messages.

[2020-07-22 19:56] quassy commented on #41585
I have the same error with my code, I can't share it but could try to replicate it with the code and images of @smallworld-network-wupeng once fully provided.

[code]

[2020-07-22 20:10] janapativishnu commented on #41304
@tom970 I ran your code in my Windows10 without any issues.. Output is as follows. Please note that mine is `tensorflow-cpu` (don't have gpu). Thanks!

[code]

[2020-07-22 20:26] nicosacco commented on #37876
Running tf2.3rc2 on TPU and I am facing the same issue as well.

[2020-07-22 20:27] multitown25 commented on #40869
How did you downgrade tensorflow? I get an error while installing tensorflow 1.14
![image](https://user-images.githubusercontent.com/62503301/88225281-e21b4f00-cc72-11ea-99c5-7093dfeb4cae.png)

[2020-07-22 20:36] jhseu commented on #39744
Fixed with https://github.com/tensorflow/tensorflow/commit/e5e495db7bee77cd0fd5dda3b06bd743cbcf1ef8

[2020-07-22 20:36] #39744 closed

[2020-07-22 20:43] shenyubin1990 commented on #40869
Firstly, your screenshot showed the version was 1.4. Secondly, if your Python version is 3.8, it only supports tf 2.2 or later. I hope this will help you.

[2020-07-22 20:49] bsugerman opened #41639 "Using learning-rate decay schedule and verbose=1 creates fatal TypeError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 and Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NO
- TensorFlow installed from (source or binary): Binary (pip3)
- TensorFlow version

[2020-07-22 20:52] #41190 closed

[2020-07-22 20:58] nikitamaia commented on #41539
I was able to reproduce the error but without much consistency. have 4 P100s on my machine and running  `TF2_BEHAVIOR=0 python a.py --gpu 4` doesn't fail every time. When I did see the error it was just after step 500. So far running with 2/4 GPUs hasn't produced the error.

[2020-07-22 21:13] ppwwyyxx commented on #41539
Thanks. At least it proves the bug exists. I'm looking forward to a fix given the seriousness of the issue.

[2020-07-22 21:26] jvishnuvardhan commented on #41485
@rxiang040 Can you please share a standalone code to reproduce the issue? Specifically, model conversion code with a saved model or model development code. Did you try  `tf-nightly` for conversion? Thanks!

[2020-07-22 21:36] multitown25 commented on #40869
How can I solve the problem that the author had? When trying to install tensorflow I see this
![image](https://user-images.githubusercontent.com/62503301/88231210-7c33c500-cc7c-11ea-97b4-a7a31bdd4484.png)
I think I have version 2.2

[2020-07-22 21:38] Siddhant7 commented on #26961
Any update on this?

[2020-07-22 21:57] jvishnuvardhan commented on #41288
@MislavSag Not sure what is the root-cause of the issue. Code is working perfectly without any error when I ran in my computer and Google colab.

1) what is the TF version you have? Can you try on `tf-nightly`
2) did you ran both the gist i shared above?
3) are you getting same error from the two gists I shared?

Thanks!

[2020-07-22 22:04] sharathts commented on #41614
Stand alone file to repro the issue above

[code]

RE: also the tf version used is not the later version, support is available from 1.15 and 2.x
I build on top of master but the issue is visible in TF 2.2.

[2020-07-22 22:13] dubey commented on #41539
Hi @ppwwyyxx can you confirm that you run `collective_ops.all_reduce` with NCCL and not the default ring implementation?  It isn't really expected that `collective_ops.all_reduce` is slower than `nccl_ops.all_sum`.

[2020-07-22 22:15] rxiang040 commented on #41485
Hi thanks for your reply. Here's our conversion code:

import tensorflow as tf
import pathlib

# root_path = "../GF_export/"
# graph_name = "GF_optimized_graph.pb"

root_path = "../bazel_export/"
graph_name = "bazel_optimized_graph.pb"

tflite_path = "../tflite/"
tflite_name = "test1.tflite"

graph_def_file = root_path + graph_name

input_arrays = ["sub_2"]
output_arrays = ["ResizeBilinear_2"]

co

[2020-07-22 22:15] ymodak commented on #41550
Can you please provide more information like what device you are trying this on? What TF version you are using?

[2020-07-22 22:45] tom970 commented on #41304
It seems that you didn't run the same code as mine since I have two printouts, "result_without_py_function" and "rusult_with_py_function" for comparison,  but I didn't find them in your outputs. Maybe I missed something.

By the way, what version of tensorflow-cpu did you run? I tested on tensoflow-cpu-2.2 and still have the issue. Here is the output:

2020-07-22 15:32:33.724032: I tensorflow/core

[2020-07-22 22:47] tom970 commented on #41304
It seems that you didn't run the same code as mine since I have two
printouts, "result_without_py_function" and "rusult_with_py_function" for
comparison, but I didn't find them in your outputs. Maybe I missed
something.

By the way, what version of tensorflow-cpu did you run? I tested on
tensoflow-cpu-2.2 and still have the issue. Here is the output:

2020-07-22 15:32:33.724032: I
tensorflow/core/

[2020-07-22 23:07] ppwwyyxx commented on #41539
Oh, I was not clear about that. I was trying `collective_ops.all_reduce` with the default `communiation_hint`, so it's likely not using nccl, which is probably why it does not have the same bug. I have not tried letting `collective_ops.all_reduce` use nccl.

[2020-07-22 23:12] terryheo commented on #41112
This are prebuilt Python wheels of tflite_runtime package. https://www.tensorflow.org/lite/guide/python
But I'm not sure it's compatible with RPI Zero.

If it doesn't work, you might need to build it by yourself.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package will help.

[2020-07-22 23:26] #41608 closed

[2020-07-22 23:26] ppwwyyxx commented on #41539
I can reproduce the bug using `collective_ops.all_reduce(communication_hint='nccl')`. I've not used it before so I might not be using it correctly. The updated script looks like this:
<details>
<summary>click</summary>

[code]
</details>

[2020-07-22 23:28] aaudiber commented on #41334
@mathieuorhan,

`tf.data.Dataset` objects don't eagerly compute all of their data. They work like blueprints, where the data is computed on the fly every time you iterate through the dataset. As a result, iterating through the same dataset multiple times could result in different output.

The `Dataset.zip` transformation takes multiple datasets and iterates through them in parallel. If you want to

[2020-07-22 23:31] rajurimu commented on #41112
t

I am using https://www.tensorflow.org/lite/guide/build_rpi. For Compile natively on Raspberry Pi.

The site states that "The following instructions have been tested on Raspberry Pi Zero, Raspbian GNU/Linux 10 (buster), gcc version 8.3.0 (Raspbian 8.3.0-6+rpi1)".

So I am puzzled at this thing not working on rpi zero and giving the error. I have done it a few times with the same error. The site

[2020-07-22 23:31] ayushch3 opened #41642 "[ TF 2.0 ] tf.function throws error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): pip install tensorflow=

[2020-07-22 23:41] terryheo commented on #41112
libtensorflow-lite.a will work with your RPI zero. But it's C library not Python.

You might be able to build it on **RPI zero** with the following command.
[code]

[2020-07-22 23:54] ymodak commented on #37293
You can try copy-paste the example code in the [nightly version](https://www.tensorflow.org/api_docs/python/tf/Module?version=nightly).
Closing this since the associated PR has been merged and it is fixed. Thanks all!

[2020-07-22 23:54] #37293 closed

[2020-07-23 00:15] rajurimu commented on #41112
terryheo...it ran something as it says on webpage but it is giving error. I am trying on RP4 now as RP0 is slow and if I can make whl on RP4, I can try on RP0 later.

I had to modify commands like this 'cd tensorflow_src && ./tensorflow/lite/tools/pip_package/build_pip_package.sh'

collect2: error: ld returned 1 exit status
make: *** [tensorflow/lite/tools/make/Makefile:341: /home/pi/tensorflow_sr

[2020-07-23 00:16] rajurimu commented on #41112
and where does it create whl file, when it creates.

[2020-07-23 00:37] neuralmagic opened #41643 "tf-slim ResNet v1 pre-trained models preprocessing"
### Affected Doc URL
https://github.com/tensorflow/models/blob/master/research/slim/README.md#pre-trained-models

### Description

Both tf-slim VGG and Inception preprocessing cause the ResNet v1 models in the above link to have incorrect outputs.  The other ImageNet models run correctly with either the VGG or Inception preprocessing, however under the same code path, ResNet v1 models produce inco

[2020-07-23 00:52] #40445 closed

[2020-07-23 01:29] rajurimu commented on #23082
Hello,

I am trying to deploy TFlite standalone (without TF) on RPi zero and struggling.  I tried https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package, however it is slow on RPi0 so I tried on RPi4 and getting errors. Goal was to build a whl on RPi4 so that the process is validated and then try on RPi0 (with different architecture).

[2020-07-23 01:33] Disfractal commented on #40227
+1 for a “prerelease” build with CUDA 11 + CUDNN 8 Support

[2020-07-23 01:46] thaink commented on #41559
Hi aselva-eb,
For size reduction, I would recommend to use our new selective build rule in tensorflow/lite/delegates/flex/build_def.bzl.
There are several rule that you could uses. Ex: tflite_flex_cc_library for the cc_library and tflite_flex_android_library for android_library.
Note that, it currently only work when you build it for android. selective build for linux is not supported yet.

[2020-07-23 01:50] rajurimu commented on #38037
When I run your compiled whl, I am getting ModuleNotFoundError: No module named '_interpreter_wrapper'.

I am on RPI Zero and trying to install TF Lite Standalone. Above error comes when I use the following;
import tflite_runtime.interpreter as tflite

I am using pip3 install for your wheel.

[2020-07-23 01:52] #40500 closed

[2020-07-23 01:53] terryheo commented on #41438
@daverim could you guide this?

[2020-07-23 01:55] smallworld-network-wupeng commented on #41585
Yes , it is same bug , I fixed it.

[2020-07-23 01:59] terryheo commented on #41112
If you're using RPI4, just use prebuilt from https://www.tensorflow.org/lite/guide/python

[2020-07-23 02:02] terryheo commented on #40157
@SergioPN could you share your model? (or some simple step to reproduce?)

[2020-07-23 02:14] duncanriach commented on #39751
This [other issue](https://github.com/NVIDIA/framework-determinism/issues/25) led me to look at `tf.math.segment_sum` and I've confirmed that it also injects nondeterminism when running on a GPU. I have updated the aforementioned [gist](https://gist.github.com/duncanriach/136fe08905af67f30c4eb775b34290d7) to repro and also to maximize the probability of nondeterminism and minimize the run time. Th

[2020-07-23 02:16] rajurimu commented on #41112
I did that but my end goal is to work on RPi Zero and I am struggling. Not an expert so learning as I go. The instructions are failing from the link. Not sure if I am missing something. The sh commands are not working as it is so I am modifying as mentioned above.

[2020-07-23 02:33] jianrui1995 opened #41646 "How to cut off gradient in tensorflow2.0"
I want to cut off gradient when training. For example:
![image](https://user-images.githubusercontent.com/20520524/88247306-db6ef500-cccf-11ea-9da1-d53e5e27ebc6.png)
In picture, there are six ops. I want to loss7 only influence op5 and op6, so I need to cut off grandient flow between op2 and op5.
Do you konw how to do it. I am looking forward your answer. thanks

[2020-07-23 02:35] jtyoui opened #41647 "Can you optimize the text.text_to_word_sequence API？"
**System information**
- TensorFlow version (you are using):    2.2.0
- Are you willing to contribute it (Yes/No):  Yes

**Describe the feature and the current behavior/state.**

   I want to use ```tf.keras.preprocessing.text.text_to_word_sequence(s, filters='{regex}', split='{regex}')  ```  API to split and filter text. but ```filter``` paramter mapping ```split``` paramter. I just want to ```sp

[2020-07-23 02:40] vineeths96 commented on #41561
@nikitamaia Thank you for your reply.

I went through the latest RC of TF2.3 and did not see any advancements in this direction. I guess it would take quite some time before this rolls out public.

Do you have any alternative ideas about how this could be achieved (maybe playing with the source codes)?

[2020-07-23 02:50] leaguilar opened #41648 "tf.data.Dataset - You must feed a value for placeholder tensor"
**System information**
- OS: Ubuntu 18.04.4 LTS (also tested in Windows 10 obtaining the same behaviour)
- TensorFlow installed from: pypi, pip install tf-nightly
- TensorFlow version (use command below): 2.4.0-dev20200718
- Python version: 3.6.9

2020-07-23 09:58:13.497096: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
v1.12.

[2020-07-23 02:52] #39066 closed

[2020-07-23 02:52] #41087 closed

[2020-07-23 02:56] aegooby commented on #41616
i fixed the issue - i was using `PIL.Image.open` to load my image files from animated PNGs, which would not load the files correctly all the time. i switched to using `np.savez_compressed` to save images

[2020-07-23 02:56] #41616 closed

[2020-07-23 03:42] wing-yiu commented on #41119
Thank you, using `from_saved_model` works! Just a couple of questions:
- The original [Albert Lite model](https://tfhub.dev/tensorflow/albert_lite_base/1) was 42.5mb, and after conversion it only reduced to 33.6mb. Is this expected behaviour? When I previously converted the [large BERT model](https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/1) it was able to reduce size by 4x from 400+

[2020-07-23 03:46] ClonedOne commented on #40202
Just encountered what seems to be the same problem on Ubuntu 20.04 with cuda 10.1 and nvidia driver 440.1.
My error message is `Inconsistent CUDA toolkit path: /usr/lib/nvidia-cuda-toolkit vs /usr/lib/cudaAsking for detailed CUDA configuration...`

Is there any update/workaround for this issue?

[2020-07-23 03:50] abattery commented on #41119
The graph node pruning result can be vary depending on the part to be pruned in the model. During conversion, pruning will be conducted based on the control dependencies described in the graph and I guess the large BERT model could be pruned since they have a lot of heavy dangling nodes in the graph.

V2 saved_model converter path is updated with the recent changes and capable to convert more TF m

[2020-07-23 03:52] #40563 closed

[2020-07-23 03:56] wing-yiu commented on #34396
If anyone is still looking to convert albert_lite_base to tflite, there's a solution here: https://github.com/tensorflow/tensorflow/issues/41119. I've also updated the [colab notebook](https://colab.research.google.com/drive/16eEDreq7F2DZLSFrQJJrrwPQ2MubKrh3) with the working solution.

[2020-07-23 04:26] harendra247 commented on #41191
@sanjoy @chsigg

waiting for your reply.

[2020-07-23 04:28] ravikyram commented on #41602
@vinayakvaid

Did you install the latest MSVC redistributable from https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads .
Tensorflow 2.2 is compiled using MSVC 2019, which appears to require an additional DLL.
Your CPU/Python is on 32 bits?

Thanks!

[2020-07-23 04:53] wookayin commented on #41646
Is `tf.stop_gradient(op5)` what you're looking for?

[2020-07-23 04:59] boluoyu commented on #39908
@qlzh727  [https://colab.research.google.com/drive/1XuQWSLa41BFcHlAD2S25cKa6OdxNEuAf?usp=sharing](here)

[2020-07-23 05:23] askemottelson commented on #38037
@rajurimu could you try the below?

[code]

[2020-07-23 05:59] ravikyram commented on #41635
I am able to reproduce the issue in colab with TF version 2.2.But i am seeing different error message with TF version 2.3-rc1 and nightly version(`2.4.0-dev20200722`) and i am seeing different error message(`InvalidArgumentError: NodeDef expected inputs 'string' do not match 0 inputs specified; Op<name=_Send; signature=tensor:T -> ; attr=T:type; attr=tensor_name:string; attr=send_device:string; at

[2020-07-23 06:15] ravikyram commented on #41596
@surabhijain123

Did you try with tested build configuration from [here](https://www.tensorflow.org/install/source_windows#gpu) and see if you are facing the issue.
Did you install the latest MSVC redistributable from https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads .
Tensorflow 2.2 is compiled using MSVC 2019, which appears to require an additional DLL.
You

[2020-07-23 06:34] tom970 commented on #41304
I just fresh installed the tensorflow-cpu 2.2.0 into another PC with windows 10 and tested the code. The same error came out.

[2020-07-23 06:49] zihao-lu opened #41649 "Help!!!!!!!!!! tf.keras.layers.Conv2d and slim.conv2d have different result(Though slim.conv2d had been deprecated)"
TF 1.15.0
Ubuntu 16.0
python 3.7.6
with same parameter(kernel , bias, padding etc.) tf.keras.layers.Conv2d and slim.conv2d have different output. Though the different is little, about 0.000001,  when i copy the model parameters training with slim.conv2d to the model builded with tf.keras.layers.Conv2d, I got a completely output

[2020-07-23 06:50] chsigg commented on #41191
Hi Harendra,

Thanks for the info.

Tegras are [different](https://docs.nvidia.com/cuda/cuda-for-tegra-appnote/) than normal CUDA environments wrt UVA. I'm still surprised that a call to
[cudaPointerGetAttributes](https://github.com/tensorflow/tensorflow/blob/64c3d382cadf7bbe8e7e99884bede8284ff67f56/tensorflow/stream_executor/cuda/cuda_driver.cc#L175) fails, not something earlier, like cudaHostReg

[2020-07-23 06:55] chsigg commented on #40202
Would it be possible for you to install NVIDIA's CUDA Toolkit in a single directory from NVIDIA’s .run package with

[code]

[2020-07-23 07:18] TylerTheHumanCompiler commented on #41226
@DouglasLivingstone thanks for shedding light on this.

[2020-07-23 07:19] ravikyram commented on #41642
@ayushch3

I think code is incomplete.Request you to provide colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-07-23 07:31] #41166 closed

[2020-07-23 07:31] #41185 closed

[2020-07-23 07:32] pttzty commented on #39053
Having the same issue

[2020-07-23 07:48] terryheo commented on #37077
Did you set environment variables ANDROID_NDK_HOME and ANDROID_SDK_HOME ?

[2020-07-23 07:49] boluoyu commented on #33129
how do i predict  when get the outputs ?
[code]
but raise an exception:
[code]

[2020-07-23 07:53] khazit opened #41650 "Dangerous data format default in SSIM"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Red Hat Linux 7
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.2
- Python version: 3.8
- CUDA/cuDNN version: 10
- GPU model and memory:

**Describe the current beha

[2020-07-23 07:54] thanoscs commented on #40028
Ok thanks for your answer, i will raise it there too.

[2020-07-23 07:55] #40028 closed

[2020-07-23 07:56] terryheo commented on #35214
@batulrangwala is this still happening?

[2020-07-23 08:04] terryheo commented on #33498
1. From TF2.3, you can control the number of threads.
https://www.tensorflow.org/versions/r2.3/api_docs/python/tf/lite/Interpreter

2. To get a speed up, you need to quantize your model to integer
https://www.tensorflow.org/lite/performance/model_optimization

Thanks.

[2020-07-23 08:04] #33498 closed

[2020-07-23 08:07] terryheo commented on #32004
With tf-nightly, now you can use TF ops without any issue.

[2020-07-23 08:07] #32004 closed

[2020-07-23 08:10] terryheo commented on #30716
There are commands to build Python PIP wheel for aarch64.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

[2020-07-23 08:22] nicosacco commented on #41106
Any news here? I am getting the same error with TF2.3rc2.

[2020-07-23 08:22] terryheo commented on #30716
Oh we need a guide to build full Tensorflow package. Let me check it.

[2020-07-23 08:28] kaiyu-tang commented on #39458
I have the same issue, If there is annoy know how to fix it?

[2020-07-23 08:30] wanglelewang opened #41651 "TensorFlowLite C++ Mobile"
I am a iOS developer

I know you have
TensorFlowLiteSwift, 2.2.0
TensorFlowLiteC,2.2.0
TensorFlowLiteOC,2.2.0

but  where i can get TensorFlowLite,2.2.0?  ,this only 1.31.0 verison

1.31.0 not working result right answer

[2020-07-23 08:32] Masquerade0097 opened #41652 "Unable to load graph from protobuf file on s390x arch (Big Endian)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): IBM Z (s390x arch), Ubuntu 18.04.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Installed Tensorflow C lib from sourc

[2020-07-23 08:34] kaiyu-tang commented on #39458
model._make_predict_function()  may make sense

[2020-07-23 08:36] Masquerade0097 commented on #11290
I'm still facing an error in loading a model on s390x from a protobuf file is still there. I think #41652 is related to his issue.

**CC** @Nayana-ibm @asimshankar

[2020-07-23 08:41] Masquerade0097 commented on #16364
I'm facing errors while trying to load model graphs on s390x from protobuf file. I think this issue is related to it - #41652

[2020-07-23 08:50] Saduf2019 commented on #41648
@leaguilar
Can you please refer to [this link](https://stackoverflow.com/questions/40521295/invalid-argument-you-must-feed-a-value-for-placeholder-tensor-with-dtype-float) and let us know if it helps.
I ran your code on nightly and do not face any error, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/5c23ca410e27dc9635e844d1278b0f37/untitled284.ipynb)

[2020-07-23 08:59] SergioPN commented on #40157
Sure,

I was trying to use this frozen_inference_graph in particular
https://github.com/kwea123/fish_detection/tree/master/fish_inception_v2_graph2/frozen_inference_graph.pb

You also can check the saved_model

Thanks @terryheo

[2020-07-23 09:05] haifengkao opened #41653 "tf.lite.TFLiteConverter produces inconsistent converted model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.15.5- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-37224-ga6cd18a133 2.4.0-dev20200722
- Python version: 3.7

**Describe the current behavior**
`tf.lite

[2020-07-23 09:13] abattery commented on #41653
This is an intended behavior by design. Do you have any problems because of this behavior?

[2020-07-23 09:13] #41653 closed

[2020-07-23 09:13] 2008hsk commented on #38578
sudo apt-get install cuda-cudart-10-1
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package cuda-cudart-10-1

It doesn't work for my case

[2020-07-23 09:21] Saduf2019 commented on #41614
@sharathts
Did you happen to check the links shared.

[2020-07-23 09:23] dathudeptrai commented on #40605
@ymodak any update ?

[2020-07-23 09:26] Saduf2019 commented on #41651
@wanglelewang
Could you please share more details as what do you want to install.
Please confirm if you have referred to [this link](https://www.tensorflow.org/lite/guide/build_ios).

[2020-07-23 09:28] harrypotter02 opened #41654 "tensorflow Multi-GPU vs CPU mirroredstrategy"
Ask everyone for help..

I am so confused why gpu is slower than cpu on any codition i try...
I want to use six GPU with mirroredstrategy to reduce the training time..
I follow below steps.
https://keras.io/guides/distributed_training/

I got the bad performance with the machine
GPU: 6*GeForce RTX 2080 TI (10GB)
CPU: Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz

run on the Docker container:
(1)tenso

[2020-07-23 09:30] wanglelewang commented on #41651
I want to  build C++ Api used iOS/Android          but  TensorFlowLite only 1.31.0 version

[2020-07-23 09:31] haifengkao commented on #41653
It's strange that the dev described an unexpected program behavior as "intended". This unexpected behavior is not documented at all and will make users spend hours to debug it.

[2020-07-23 09:31] #41176 closed

[2020-07-23 09:32] 274869388 commented on #24561
Could you resovel it?

[2020-07-23 09:32] wanglelewang commented on #41651
eg:   In iOS  use cocoapods

pod 'TensorFlowLite', '1.31.0'

this version  can not work, I try it , but result is not right

[2020-07-23 09:33] wanglelewang commented on #41651
I hope
pod 'TensorFlowLite', '2.2.0'

[2020-07-23 09:35] wanglelewang commented on #41651
I try build new Lite  genreal libtensorflow-lite.a
but  I can not  found Headers.h

I use 1.31.0 version Headers  but  error

[2020-07-23 09:35] inksci opened #41655 "placeholder setting an array with a sequence"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-07-23 09:36] wanglelewang commented on #41651
How general  new verison tensorflow_lite.framework  in iOS ?

[2020-07-23 09:49] ravikyram commented on #41650
@khazit

I have tried in colab with TF version 2.2,2.3-rc1.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b978e4ca53d728e584baa76ce67bfc4b/untitled177.ipynb).You are refering to same behavior?
Thanks!

[2020-07-23 09:57] ozett commented on #38578
try to look if you have cuda* in your repo
` apt search --names-only 'cuda'`

and lookup the packages (...10-1/10-2...) like:

![image](https://user-images.githubusercontent.com/5937811/88274208-9d77ce00-ccdb-11ea-87a5-ed951b8d53e7.png)

[2020-07-23 10:03] fantauzzi commented on #34641
I am reproducing the same when running one of the tutorials, but only when running it as a Python program, not a Jupyter notebook.

Steps to reproduce:
- Clone the docs repository https://github.com/tensorflow/docs.git
- Run Jupyter and open transfer_learning_with_hub
- Download the notebook as Python
- Run the Python program

Tensorflow 2.0 installed with pip under Ubuntu 18.04, Python 3.6.9, CUD

[2020-07-23 10:22] DanielOverdevest commented on #39394
Hi @williepan1121 ,
I had the same question and didn't find it in the TensorFlow 2.2 documentation. So I decided to write a test script to async request an API and test if the outcome is equal!
My code is available in this repo:  https://github.com/DanielOverdevest/testStabilityPredictionsAPI

[2020-07-23 10:24] khazit commented on #41650
Yes it's the same behavior

[2020-07-23 10:29] lovasoa opened #41656 "The first paragraph of the documentation for tf.linalg.inv is cut in half"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/linalg/inv

## Description of issue (what needs changing):

The first paragraph says

instead of

![image](https://user-images.githubusercontent.com/552629/88276649-b2eef700-ccdf-11ea-9b32-1eb450ffc57a.png)

[2020-07-23 10:52] Laggger164 opened #41657 "NaN loss and accuracy when using MirroredStrategy on multiple GPUs (ROCm)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No, the code i

[2020-07-23 11:07] wanglelewang commented on #41651
https://www.tensorflow.org/lite/guide/build_ios    I read this link
but I can not  get framework
I only get .a not get header files
How I do can get header files???

[2020-07-23 11:10] FirefoxMetzger opened #41658 "typo on Optimizers_V2"
https://github.com/tensorflow/tensorflow/blob/bd6b557c02a5cc1d094a7bb180b9779121a58520/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L285

I was reading through the code to learn how to create a custom optimizer. I think the line should be

[code]

[2020-07-23 11:13] boluoyu commented on #33478
@tanzhenyu
I want to get intermediate tensor,not layer's output.for example:
[code]
but raise an exception:
[code]
[code]
It's working ,but it's not what I want.

[2020-07-23 11:39] leaguilar commented on #41648
@Saduf2019
Thanks for having a look.

Yes, I found the discussion you refer to in the link while trying to solve the issue, but the minimal code I posted doesn't use any feed_dict.

Regarding your collab gist. The error message is logged on the server-side, I have experienced it with a Jupyter lab server both in Linux and Windows. On the client-side (the notebook) no error is logged **(as seen fro

[2020-07-23 11:54] Laggger164 commented on #41657
#30321
It seems that it may have worked properly when I experimented with an older version of TensorFlow.

So basically even that one doesn't work.

[2020-07-23 11:54] amahendrakar commented on #41639
@bsugerman,
I was able to reproduce the issue with TF v2.2. However, the issue seems to be fixed in the latest TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/697836288a6d02f048d11e08b7044079/41639-tf-nightly.ipynb). Thanks!

[2020-07-23 12:02] MislavSag commented on #41288
I have version 2.2.0. I will try on th-nightly and give youfeedback

[2020-07-23 12:12] MLnick commented on #33412
@karmel @ymodak @mihaimaruseac any chance to take another look at this issue? Above ^^ I've provided more info and repro Colab notebooks. The memory usage difference seems particularly large for LSTM layers and this is impacting our production use cases for LSTM models.

[2020-07-23 12:13] Bluewind001 commented on #41602
Hi  @ravikyram ，  I have compiled the c++ version of  r2.2 branch  tflite successfully.   use this

bazel build -c opt //tensorflow/lite:tensorflowlite

But it is x64 lib, How I can the x86 or win32  library.

[2020-07-23 12:16] ravikyram commented on #41250
@abuchele

Any update on this issue please. Thanks!

[2020-07-23 12:20] tailsu commented on #38746
Is there a way to precompile and cache the OpenCL kernels? Maybe as part of the tflite export? Or maybe the GPU delegate can cache the kernels locally on the device?

[2020-07-23 12:29] mathieuorhan commented on #41334
@aabadie, thank you, applying map is so simple I've missed it. Also, thank you for the general explanation. I think tough that zip deserves maybe a bit of documentation to warn about this, for instance quoting you:

[2020-07-23 12:31] #41207 closed

[2020-07-23 12:41] sedol1339 commented on #41635
With tf-nightly TPU cannot be even initialized
https://github.com/tensorflow/tensorflow/issues/41542

[2020-07-23 12:46] sedol1339 commented on #41625
Four lines in the example above can be replaced by one line:
[code]
But of cource doubling messages is a problem that should be fixed.

[2020-07-23 12:54] amahendrakar commented on #41655
@inksci,
Could you please elaborate your concern and describe the issue you are facing?

Also in order to expedite the trouble-shooting process, please fill in the issue template. Thanks!

[2020-07-23 12:56] leaguilar commented on #41648
@Saduf2019
After further inspection, the error does get logged in colab's server-side too (using your gist).

Runtime > View runtime logs

![bug](https://user-images.githubusercontent.com/13425173/88288795-914c3a80-ccf4-11ea-940b-ff73cb7e0daf.png)

[2020-07-23 13:00] nonlinear1 opened #41659 "Similar problem happened to me: "tile_functor_gpu.cu.pic.o was not created""
Similar problem happened to me: "tile_functor_gpu.cu.pic.o was not created"
Tensorflow r1.9
Ubuntu 16.04
gcc 4.8
CUDA 9.0
cuDNN 7.0

_Originally posted by @apepkuss in https://github.com/tensorflow/tensorflow/issues/18839#issuecomment-465826851_

[2020-07-23 13:01] nonlinear1 commented on #41659
I have the same problem. someone know how to solve it?Thank you very much!!!

[2020-07-23 13:05] aselva-eb commented on #41559
Hi @thaink

Are there instructions anywhere of how to use the selective build rules?

But also, my target is linux. If selective build rule is not supported for Linux, do you have any suggestions for how I can reduce the lib size by modifying source code maybe? Perhaps manually removing unused non-TFLite ops from being built in by flex (from the allowlist or elsewhere) ?

Any insight would be appr

[2020-07-23 13:06] MislavSag commented on #41288
If I install tf-nightly, I get error on import:
[code]

[2020-07-23 13:13] ravikyram commented on #41602
@Bluewind001

If your workstation is x64, bazel generates a x64 binary by default.
"--cpu=x86" option is needed to build x86 binary.

[2020-07-23 13:16] Akpadhy commented on #41523
At this point in time solved it with help of one of Solution Architect (Vihag).Will open new issue if i find any blocker.

[2020-07-23 13:50] inksci commented on #41655
there is a placeholder: shape=(None,None,3)
for the input: both x1 with shape (1,5,3) and x2 with shape (1,4,3) can feed into the network and get the output.
In fact, conv1d and global max_pooling is used in my networks to deal with these inputs with changed shape (at axis=1).
However, when training the network, for example the batch_size is 2 and the input data
[x1, x2 ]
which feeded into the pla

[2020-07-23 14:01] sdrobert commented on #40727
Hello,

While I can appreciate that you lot are very busy, it's been a month since I opened this issue and I'm afraid it's going to fall through the cracks. I would like to stress the importance of this issue.

I'm not sure why @amahendrakar removed the "bug" label and replaced it with "support." However, I would stress that (I believe) this is a mistake in the Tensorflow codebase, rather than som

[2020-07-23 14:06] tangcxx opened #41660 "Creating model in subprocess consume all memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0
- Keras version: 2.3.1
- Python version: 3.7

The code is below.
I expect the model would be created once.

[2020-07-23 14:27] seanpmorgan commented on #41443
Happy to have this as a PR in TensorFlow Addons if it is deemed not widely applicable or yet proven by TF core team:
https://github.com/tensorflow/addons

[2020-07-23 14:34] rakeshmothukuru1 commented on #41625
That is just a workaround and not a solution, which I have already quoted in the [Stack Overflow Answer](https://stackoverflow.com/questions/33662648/tensorflow-causes-logging-messages-to-double) in my question. But the duplication of logging should be avoided by default, without any action from us.

This [SO Answer](https://stackoverflow.com/questions/33662648/tensorflow-causes-logging-messages-t

[2020-07-23 14:38] rajurimu commented on #38037
askemottelson, this worked and i can load tflite runtime as you suggested. Many many many thanks for that. However when I run in Thonny, it gives me the following errors,

***
Traceback (most recent call last):
  File "/home/pi/.local/lib/python3.7/site-packages/tflite_runtime/interpreter_wrapper.py", line 14, in swig_import_helper
    return importlib.import_module(mname)
  File "/usr/lib/python3

[2020-07-23 14:41] obtu opened #41663 "Sub-classes of keras.metrics.Metric do not inherit set_model function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: Linux
- TensorFlow installed from: Binary
- TensorFlow version: v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: Python 3.8.2

**Describe the current behavior**
When creating a custom callback function for use in training/evaluation I get an e

[2020-07-23 14:43] vaibhavsingh007 commented on #40302
@mihaimaruseac any luck?

[2020-07-23 14:57] amahendrakar commented on #41649
@zihao-lu,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-07-23 15:05] askemottelson commented on #38037
hi @rajurimu

As you can see from the thread I myself struggled with creating my own wheel for armv6 using the cross compilation scripts provided by tensorflow. It's definitely possible, it's about setting the right compiler flags (the missing atomic lib is related), and using the correct cross compiler.

check https://www.tensorflow.org/lite/guide/build_rpi, but prepare to change the build script

[2020-07-23 15:07] nikitamaia commented on #41590
The error is not reproducible with MirroredStrategy so I think this is TPU specific.

Based on the error it looks like you're passing in some dynamic shape. I wonder if the following has something to do with it?
If you look at the `DatasetSpec` of the dataset without the encoding/decoding the dimensions are known.
`DatasetSpec(<BatchDataset shapes: ((None, 256, 256, 3), (None,)), types: (tf.float3

[2020-07-23 15:12] sherhut commented on #41424
I meat to say that it **was** an obstacle and the generic buffer allocation support in MLIR could handle it now. It simply was not a priority to get done but that might change once this code gets more use again.

I am not saying that a fix point does not achieve it. I just tried to explain what the fusion pass that landed recently is about and why these interfaces were added. That is independent o

[2020-07-23 15:19] maia-adar opened #41664 "Maybe incorrect Brier score calculation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- TensorFlow version (use command below): 1.15.0
- TensorFlow Probability version: 0.8.0

**Describe the current behavior**

I believe that the way the Brier score calculation is implemented in tensorflow_probability.stats.brier_score is incorrect. The formula used is

sum_i

[2020-07-23 15:20] borgarpa commented on #41380
I have confirmed that TensorBoard has nothing to do with this kind of error. I would greatly appreciate if someone else could test the solution proposed. It seems to work fine after a couple of 8 hours runs, but further testing is needed.

[2020-07-23 15:26] dtmaidenmueller commented on #41380
Is there anyone who works on tensorflow.python.io who could comment on why, sometimes, the 'overwrite' flag for 'rename' from that subpackage does nothing?  It would be cleaner to fix the underlying code than to proceed with my workaround.

[2020-07-23 15:27] ravikyram commented on #41659
@nonlinear1

Can you please provide code snippet to reproduce the issue.
Also, TF version 1.8 ,1.9 is too old.Can you please upgrade to TF 1.15 and see if the issue still persists.Thanks!

[2020-07-23 15:28] nikitamaia commented on #41590
Try explicitly setting the size after you decode. I think that should work.

[code]

[2020-07-23 15:31] #41229 closed

[2020-07-23 15:42] obtu commented on #41663
Are `metric`s only intended for model training, and not for model prediction/evaluation? If so, then I misunderstood the role of `metric`s, and the documentation/guides are not very clear on when `metric`s can be used, and when callbacks can be used.

[2020-07-23 15:57] yongtang commented on #41656
The issue is in:

https://github.com/tensorflow/tensorflow/blob/v2.3.0-rc2/tensorflow/core/api_def/base_api/api_def_MatrixInverse.pbtxt#L18-L22

where the summary spans across the description. Created a PR #41665 for the fix.

[2020-07-23 15:57] abuchele commented on #41250
The ResizeNearestNeighbor call ended up being by Keras.layers.UpSampling2D, so as a temporary workaround I'm just not using that, although that's not ideal.

The solution above doesn't fix the issue, as I can use tf-nightly for converting the model, but I cannot use it for running inference.

[2020-07-23 15:58] amahendrakar commented on #41493
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/cb1060f15cfb1bd38cdec20ad1e53ec9/41493-2-2.ipynb), [TF v2.3.0rc2](https://colab.research.google.com/gist/amahendrakar/8da30a0e2e728a189dcf709baf807e09/41493-2-3.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/401e1a9ff76255026c667b19e5e42ac3/41493-tf-nightly.ipynb). Please

[2020-07-23 15:59] nikitamaia commented on #41585
Hi @smallworld-network-wupeng, glad to hear you were able to fix the issue and get your model training.
This slowdown can happen if your program is input bound and your GPUs aren't being used as efficiently as possible (there are other possibilities too, but this one is common). I would suggest taking a look at this tutorial for the [Tensorboard Profiler](https://www.tensorflow.org/tensorboard/ten

[2020-07-23 16:00] mihaimaruseac commented on #40302
Sorry, didn't have time to look more into this. Can you manually issue the `curl` requests?

[2020-07-23 16:12] amahendrakar commented on #41505
@Hazarapet,
Without a sample code it is difficult for us to pinpoint the issue. Is it possible for you to provide a mock code which replicates the behavior? So that it'll will allow us to determine the source of the issue. Thanks!

[2020-07-23 16:40] tom970 commented on #41304
I just fresh installed the tensorflow-cpu 2.2.0 into another PC with
windows 10 and tested the code. The same error came out.

On Wed, Jul 22, 2020 at 3:51 PM Tom Huang <tomhuang970@gmail.com> wrote:

[2020-07-23 17:03] rzimmerdev opened #41666 "Can't predict bounding boxes with my own trained model, even though Tensorflow returns reduced loss during training."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Have I written custom code (as opposed to using a stock example script
provided in TensorFlow): No
OS Platform a

[2020-07-23 17:10] vaibhavsingh007 commented on #40302
Well like I said can access the said files using s3a:// via Spark. But let me try curling as well.

[2020-07-23 17:12] rzimmerdev commented on #41666
**TensorBoard loss**
![2020-07-23 14_08_49-TensorBoard](https://user-images.githubusercontent.com/35232794/88316369-1e3fc580-ccee-11ea-8c3d-7eca9f318b28.png)
**Empty returned Image**
![empty](https://user-images.githubusercontent.com/35232794/88316660-8db5b500-ccee-11ea-89d0-aebe77449d6f.png)

[2020-07-23 17:29] ezyang commented on #3348
I also chime in that this reasoning isn't correct, @girving. The optimizer doesn't need to traverse the entire function. This is because when you use the d/dz Wirtinger derivative, you have to conjugate the adjoint when you view real-as-complex or complex-as-real (which is how you ostensibly embedded the holomorphic function inside a R-to-R function).

(None of this changes the fact that which der

[2020-07-23 17:31] NNDEV1 opened #41667 "Can't install Tensorflow 1.x"
I am trying to install Tensorflow 1.14 for a package that I am trying to use. I tried:
`pip3 uninstall tensorflow`

Then I tried to install Tensorflow 1.14 using:
`pip3 install tensorflow==1.14`

and I get the following error
`ERROR: Could not find a version that satisfies the requirement tensorflow==1.14 (from versions: 2.2.0rc3, 2.2.0rc4, 2.2.0, 2.3.0rc0, 2.3.0rc1, 2.3.0rc2)
ERROR: No matching d

[2020-07-23 17:33] DEKHTIARJonathan commented on #41614
@Saduf2019 the links you shared seems to be a completely different issue.

[2020-07-23 17:34] gunan commented on #24561
I have a feeling this is due to missing `-D_GLIBCXX_USE_CXX11_ABI=1` when building `test.cpp`.
But looks like I completely missed this issue.

I will close this issue now, but please file a new issue if you still see this happening with 2.2, or master.

[2020-07-23 17:34] #24561 closed

[2020-07-23 17:34] qlzh727 commented on #39908
It seems that your code disable the eager execution, and I think the code will work if the eager is enabled. Is there any reason that you disable the eager execution?

[2020-07-23 17:36] janapativishnu commented on #41304
I just ran one more time in my windows10 and I ran both printouts. Please check the output below.

[code]

[2020-07-23 17:40] karmel commented on #41520
Python generators work well with numpy arrays, but for TensorFlow composite tensor types like RaggedTensor and SparseTensor, we would recommend you use tf.data.Datasets. You can read more about how to use Datasets in your input pipeline here: https://www.tensorflow.org/guide/data

[2020-07-23 17:40] #41520 closed

[2020-07-23 17:40] karmel commented on #41419
The Keras Sequence utility works well with numpy arrays, but for TensorFlow composite tensor types like RaggedTensor and SparseTensor, we would recommend you use tf.data.Datasets. You can read more about how to use Datasets in your input pipeline here: https://www.tensorflow.org/guide/data

[2020-07-23 17:40] #41419 closed

[2020-07-23 17:43] pbatk commented on #37108
@arde171 Could you expand on what the network issue was? I am facing a very similar issue on only one of multiple machines on the network

[2020-07-23 17:45] GoingMyWay commented on #38194
After many months, CUDA 10.2 still cannot work with TF 2.2?

[2020-07-23 17:47] cheshire commented on #41626
This is all running without autoclustering, right?

To me it actually kind of makes sense: the computation is marked as "best-effort compile", so the gradient over the computation is also "best-effort compile"?.. Am I missing something?

[2020-07-23 17:49] cheshire commented on #41626
Yes, using explicit JIT scopes when autoclustering is on does not really make sense.

Also just to set expectations now we are mostly focusing on explicit compilation with `tf.function(experimental_compile=True)` as a preferred API for using XLA in TF.

[2020-07-23 18:01] ayushch3 commented on #41642
@ravikyram I added all the relevant code in this git: https://github.com/ayushch3/truecaser_tf

If you try to run export_truecaser file, you will see all the relevant errors. The code basically needs to export the files that can be used directly in tf-serving

[2020-07-23 18:20] zhilothebest opened #41671 "Problems with Transformations when trying to model.fit() my 2D CNN Model, leading to two exceptions"
**System information**
- Have I written custom code [posted below]:
- Microsoft Windows [Version 10.0.18363.959]
- TensorFlow v2.2.0-rc4-8-g2b96f3662b 2.2.0 installed via pip. Cuda 10.1 with CUDNN 10.1. GPU enabled.
- Python version: 3.7
- GPU model and memory: GeForce GTX 1650 with Max-Q Design computeCapability: 7.5
coreClock: 1.245GHz coreCount: 16 deviceMemorySize: 4.00GiB deviceMemoryBandwidt

[2020-07-23 18:20] yunxing commented on #41106
Sorry for the delay. Just saw this issue, will fix soon.

[2020-07-23 18:25] sedol1339 commented on #41590
@nikitamaia thanks! that helped

[2020-07-23 18:31] #40980 closed

[2020-07-23 18:32] tom970 commented on #41304
What version of tensorflow-cpu are you using?
I fresh installed python and tensorflow-cpu in another machine and the issue still there.
Here is my environment:
OS: Windows10 64 bit
Python: 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)]
Tensorflow-cpu: 2.2.0

[2020-07-23 18:33] tom970 commented on #41304
What version of tensorflow-cpu are you using?
I fresh installed python and tensorflow-cpu in another machine and the
issue still there.
Here is my environment:
OS: Windows10 64 bit
Python: 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64
bit (AMD64)]
Tensorflow-cpu: 2.2.0

On Thu, Jul 23, 2020 at 10:37 AM Vishnu <notifications@github.com> wrote:

[2020-07-23 18:50] jhseu commented on #40035
We don't currently support loading local files this way, although it'll work at some point in the near future. For now, you can load them outside of tf.data as numpy arrays and feed them instead.

[2020-07-23 19:11] jhseu commented on #39307
Fixed as part of:
https://github.com/tensorflow/tensorflow/commit/e5e495db7bee77cd0fd5dda3b06bd743cbcf1ef8

Note that it requires from master:
`bazel build -c opt //tensorflow/tools/lib_package:libtensorflow`
`tar -xzvf the package in /usr/local`
`go generate github.com/tensorflow/tensorflow/tensorflow/go/op`

[2020-07-23 19:11] #39307 closed

[2020-07-23 19:21] danielegrattarola commented on #41419
@karmel The two do not share the same functionality.
With tf.keras.Sequence I can have logic inside my generator that dynamically decides the batch size, and `model.fit()` will not care about it.
On the other hand, tf.data.Dataset delegates the choice of batch size to the training loop, so it cannot have dynamic batch sizes.

This is especially limiting when working with graphs and graph neural ne

[2020-07-23 19:28] janapativishnu commented on #41304
Mine is also tensoflow-cpu, TF2.2, Window10 64bit, Python 3.6,6. Thanks!

[2020-07-23 19:39] KvitnucaZahradka commented on #27781
I am using tf version 2.1.0. on Ubuntu 18.04, with the CUDA Version: 10.2 and Driver Version: 440.100.

Very similar bug appeared. Right after the embedding layer, permutation: perm=[1,0,2] is failing.

The code that fails in 2.1.0 is along the following lines:

[code]

if you attempt to get `transposed_embeddings` out, I am getting an error.

[2020-07-23 19:55] amahendrakar commented on #41545
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/d7039fea469616765d3ba58d61191cdc/41545.ipynb). Thanks!

[2020-07-23 19:57] KvitnucaZahradka commented on #27781
Update: I checked the tf version 2.2.0 and there the transpose seems to work fine.

[2020-07-23 19:58] nikitamaia commented on #41657
Hi @Laggger164, just to make sure I'm clear on this, you are running the basic Distributed training with Keras MNIST example. When you have just one GPU with MirroredStrategy, everything works. However, when you add a second GPU you are seeing NaN loss and accuracy. Is that a correct summary?

I'm not able to reproduce this error. So I'm wondering if maybe there's an issue with one of your GPUs? I

[2020-07-23 20:04] dansitu opened #41674 "TensorFlow Lite for Microcontrollers sigaborts with a MobileNetV2 alpha=0.1 model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.5, Linux
- GCC/Compiler version (if compiling from source): Apple clang version 11.0.3 (clang-1103.0.32.62) c++1

**Describe the current behavior**

I am using TensorFlow Lite for Microcontrollers at comm

[2020-07-23 20:05] mathemakitten opened #41675 "Allow slots to be initialized with different shapes + values than primary var in Keras optimizer"
**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): probably not

**Describe the feature and the current behavior/state.**
Currently the `add_slot` method in the optimizer class [(link)](https://github.com/tensorflow/tensorflow/blob/v2.2.0/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L694-L730) only allows you to create slots whic

[2020-07-23 20:19] ziofil commented on #3348
Jax computes complex derivatives in a different way than TF.

Take a function f(z) : C -> C

Jax breaks down the input into real and imaginary parts: z = x + 1j*y and defines the function as f(z) = u(x,y) + 1j*v(x,y) where u and v are real functions with real arguments.

Then, Jax defines the Jacobian of f at z as a 2x2 matrix (two functions, two variables). Now, in your example f is holomorphic,

[2020-07-23 20:24] irmaR commented on #33034
Are you sure  "tf.random.set_seed(221)" works in Tensorflow 2.0? One of my systems has Tensorflow 2.0 and the deep learning there pipeline always returns a different result. The same code in Tensorflow 2.2 always returns the same result.

[2020-07-23 20:24] sanjoy commented on #41630
@timshen91 can you PTAL?

[2020-07-23 20:31] #33681 closed

[2020-07-23 20:36] kaixih commented on #41630
Can you try to fetch the cudnn logs with the following env vars? And attach the somefile.log (If this is too large, we might only need the last part which contains the cudnnRNNForwardTrainingEx). @lissyx

[code]
More details: https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#api-logging

[2020-07-23 21:02] lissyx commented on #41630
[issue3088.log](https://github.com/tensorflow/tensorflow/files/4968738/issue3088.log)
I might not be able to react before tomorrow, it's getting later over there.

[2020-07-23 21:05] lissyx commented on #41630
I swear I search a long time for a CUDNN-related debug env variable but never found that :/

[2020-07-23 21:17] vaibhavsingh007 commented on #40302
@mihaimaruseac I couldn't set up curl, but successfully read file using aws api via boto3. Here is a snapshot:

![image](https://user-images.githubusercontent.com/4958034/88334162-f3a63a80-ccf6-11ea-8125-ba8cb2f7c2fa.png)

[2020-07-23 21:31] #35084 closed

[2020-07-23 21:43] nikitamaia commented on #41635
Thanks for this report @sedol1339. Regarding the NaNs, I don't think this is too surprising given the small batch size. And I suspect they are caused by all the batch norm layers within Xception. At a batch size of 7 if you set:

[code]

then I am not seeing the NaNs. With batch norm, you're dividing by local batch statistics on each core, so with a global batch size < 8 on TPUs, the batch is bein

[2020-07-23 22:00] rzimmerdev commented on #41666
**Update:**
I got the boxes to appear, by using the Legacy _train.py_ file.
The problem has changed, as using the same image and the same steps as before, the bounding boxes get too big and don't actually match the number of objects in the image, as follows:
![err](https://user-images.githubusercontent.com/35232794/88342952-c10c3a00-cd16-11ea-9201-9434bf6ca8be.png)

[2020-07-23 22:09] dipendra009 commented on #41574
Hi,
I am trying to convert a mobilenetv3 model implemented using tensorflow2.2 into a TFLite model using the tf-lite convertor using the following command for LPCV competition:

python3 tensorflow/lite/python/tflite_convert.py --graph_def_file=~/Projects/save_models/mobilenetv4-1009/saved_model.pb --output_file=mobilenetv4-1009.tflite --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --inf

[2020-07-23 22:18] mattginsberg opened #41679 "bug in Using the SavedModel format Guide"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-07-23 22:37] jvishnuvardhan commented on #41627
@guillaumekln I think we need to use static shape (`x.shape[0]`) during graph definition instead of dynamic shape (`tf.shape(x)[0]`). I changed one line in your code and everything worked as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/f07cf4aa74722a7ba556e5ed7ed4cd38/untitled957.ipynb#scrollTo=dYSub6fKnbpq).

[code]
There are couple of stackoverflow

[2020-07-23 22:48] dspyrhsu commented on #39434
Actually, I believe that this might be an issue of TF2.2 in general, since I am experiencing an effect where a (very simple) transfer learning model works perfectly and fast with or without gpu on TF2.1 and completely fails on TF2.2 both with or without gpu. While it still trains the model, it takes 71s for the first epoch with TF 2.2, where it took 7s with TF2.1. And finally, on TF2.1, it takes o

[2020-07-23 22:59] nehaljwani commented on #19370
To work around this issue, one can surround the `tensorflow` import with:
[code]

[2020-07-23 23:04] dipendra009 opened #41681 "BroadcastTo"
MacBook Pro

**Provide the text output from tflite_convert**

[code]

[2020-07-23 23:08] kvignesh1420 commented on #41600
Hi, any update on this issue? @ymodak

[2020-07-23 23:15] AlexanderLJenkins opened #41682 "ImportError: dlopen(.../_pywrap_tensorflow_internal.so, 6): Symbol not found: __ZN10tensorflow4data12experimental13LoadDatasetOp11kReaderFuncE"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6
- Mobile device

[2020-07-23 23:20] RayLucchesi opened #41683 "Git Pull doesn't work in building from source for GPU"
**System information**
Ubuntu 20.04
TensorFlow installed from "docker pull tensorflow/tensorflow:devel-gpu"
- TensorFlow version: 2.4?
- Python version: 3.8.2 (installed on system but what's running in the container I don't know
- Not sure but believe it's Pip
- Bazel version (if compiling from source): Don't know
- GCC/Compiler version (if compiling from source): don't know
- CUDA/cuDNN version:

[2020-07-23 23:30] Shiro-LK opened #41684 "Weighted CE and BCE"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No):
probably not

**Describe the feature and the current behavior/state.**
For now, loss function such as BCE or CE (Cross Entropy) can not use a specific weights for each class. For instance this feature is possible on pytorch. The way to do it is to use the class_weight option in the .fit me

[2020-07-23 23:36] abattery commented on #41681
Could you try the conversion with the tomorrow's nightly build or the version of July 21?

[2020-07-23 23:37] abattery commented on #41681
Sorry. We have an issue with delivering a broadcast to op legalization in the nightly version.

[2020-07-23 23:43] dipendra009 commented on #41681
Sure, I will give it a try. I will let you know how it goes.

On Thu, Jul 23, 2020 at 16:37 Jae sung Chung <notifications@github.com>
wrote:

--
Dipendra

[2020-07-23 23:50] kaixih commented on #41630
[code]
An initial investigation shows the padding mode is suspicious. We shouldn't see CUDNN_RNN_PADDED_IO_DISABLED here, which is incompatible with the CUDNN_RNN_DATA_LAYOUT_SEQ_MAJOR_UNPACKED below.

This case uses the variable sequence lengths [74, 75] and max seq length is 75. The time/seq major layout is used. From the logic here: https://github.com/tensorflow/tensorflow/blob/r1.15/tensorflow

[2020-07-24 00:01] tanzhenyu commented on #41135
Re-assigning to someone who's more familiar with Keras tensors.

[2020-07-24 00:03] #41666 closed

[2020-07-24 00:12] abattery commented on #41681
If you are using tf 2.3 version, you can broadcast_to op without problems. However, you need to use the MLIR converter by specifying converter.experimental_new_converter=True.

[2020-07-24 00:49] pooyadavoodi commented on #41396
Thanks for the links. Unfortunately I am still struggling with how to run pylint properly.
I think the issue is lack of good documentation here: https://www.tensorflow.org/community/contribute/code_style#pylint

Here is what I did using the links provided by @mihaimaruseac
* I only kept "do_pylint" in SANITY_STEPS and removed everything else: https://github.com/tensorflow/tensorflow/blob/master/te