[2018-11-26 02:11] jason9693 opened #23962 "[tensorflow/contrib/lite/toco/tflite/export.cc:192] Unsupported operator: MirrorPad"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform a

[2018-11-26 02:13] byronyi commented on #23943
Did you ‘bazel clean’ between your trials?

[2018-11-26 02:18] habom2310 opened #23963 "fatal error LNK1120: 4 unresolved externals when using bazel to build transform-graph"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from: source
- TensorFlow version: 1.12.0
- Python version: 3.5
- Bazel version (if compiling from source): 0.19.2
- CUDA/cuDNN version: No
- GPU model and memory: No

**Problem**
I have a build problem when using bazel to build transform-graph. The error is `fatal error LNK1120: 4 unresolved externals`

**Com

[2018-11-26 02:38] cathybgyz opened #23964 "Math ops with Tensorflow Lite C++ and Android NDK"
I have successfully installed Tensorflow Lite (C++/so) into an Android product (NDK). I'm looking for the tensorflow math operations, do they exist in tensorflow lite? Or is the sole purpose of tensorflow lite to run inference on models? I also can't seem to find array_ops.h in the tensorflow repository, is this cross complied from some other language?

TLDR: Does tensorflow lite lack math ops and

[2018-11-26 02:44] MHDBST opened #23965 "add metrics to Estimator ( not canned estimators)"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2018-11-26 02:51] MHDBST commented on #23965
I just changed my code from `tf.contrib.learn.Estimator` to `tf.estimator.Estimator` in TensorFlow version 1.11.0. In previous version there was an option to use other metrics like accuracy while evaluating the estimator by passing `metrics` to `evaluate` function. In current version if there is a canned estimator, we can define the metrics with `tf.contrib.estimator.add_metrics`, but when I defin

[2018-11-26 03:06] epaqu commented on #23961
I'm experiencing the same problem.

System information
- OS Platform and Distribution: Windows 10 Pro 64bit (Build 17134)
- TensorFlow version: 1.12.0
- TensorFlow-GPU version: 1.12.0
- Python version: 3.6.7
- CUDA version: 10.0.130
- cuDNN version: 7.4.1
- GPU model and memory: GTX 1080 (16243MB)

Tried TensorFlow 1.10.0, but it didn't help.
According to https://www.tensorflow.org/install/source_

[2018-11-26 03:08] jktruimp1 commented on #14125
can you help me handle this problem?
I succeeded in detecting object, but I got opposite direction in tracking bounding box.

[2018-11-26 03:15] jktruimp1 commented on #19414
@minhnbwork97  could you show me that where I have to change my code?
if I delete these code I will get opposite derection in detecting.

[2018-11-26 03:19] minhnbwork97 commented on #19414
@jktruimp1 you only need to put these code under camera.setDisplayOrientation(90); in LegacyCameraConnectionFragment.java
![image](https://user-images.githubusercontent.com/38205529/48991266-cfcad400-f164-11e8-9f98-16b417dfa135.png)

[2018-11-26 03:20] jktruimp1 commented on #19414
@minhnbwork97  I use landscape and front camera, and I didn't use this code
//  camera.setDisplayOrientation(90);

[2018-11-26 03:20] jktruimp1 commented on #19414
your way didn't work for me QQ

[2018-11-26 03:21] minhnbwork97 commented on #19414
I see

[2018-11-26 03:26] Wade129 opened #23966 "tensorflow lite, interpreter.get_tensor(output_details[o_index]['index'])) IndexError: list index out of range"
------------------------

### System information
- **Linux raspberrypi 4.14.71-v7+**:
- **raspberrypi 3b**:
- **TensorFlow installed from binary**:
- **TensorFlow version : 1.11.0**:
- **Python version : 3.5.3**:

### Describe the problem
I'm trying the objection_detection for tflite.

And I'm following [this guide](https://github.com/freedomtan/tensorflow/blob/deeplab_tflite_python/tensorflow/con

[2018-11-26 03:53] vishalghor commented on #23763
@alextp below is the code which i used to save the model and restore.

**Training and saving the model**
[code]

**For restoring the checkpoint:**

[code]

While restoring the model it throws me error such as no variable found or unable to load.

**What could be the issue.Also how do i extract weight from a checkpoint file in eager mode**

[2018-11-26 03:57] minhnbwork97 commented on #19414
Well try undoing these change and add my code. The point is, TF example only work for back camera, positioning and tracking object might be programmed to work only for back camera too. So I think the easiest way to solve this problem is to flip front camera to make it look like we're using back camera, in my case it worked perfectly. These pictures might help you get it
![1](https://user-images.gi

[2018-11-26 03:58] SunnyNagam commented on #23961
Hmm maybe I'll try downgrading to CUDA 9

[2018-11-26 04:03] zh794390558 commented on #23768
@andrehentz So, how can I using with fixed batch size , like 5 ?

[2018-11-26 04:05] jktruimp1 commented on #19414
still not working, my screen is black, and the detection's direction is wrong now...(maybe it's because I use landscape?)
they are counterclockwise 90 degree now.
I will try more way to solve it , thank you very much :)

[2018-11-26 04:13] minhnbwork97 commented on #19414
Btw I can't watch your video. Do you have any other direct link? I'm kinda curious.

[2018-11-26 04:14] ghltshubh opened #23967 "[ppc64le] Error installing custom build tensorflow 1.12 wheel with python 3.6"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

LSB Version:	:core-4.1-noarch:core-4.1-ppc64le
Distributor ID:	RedHatEnterpriseServer
Description:	Red Hat Enterprise Linux Server release 7.5 (Maipo)
Release:	7.5
Codename:	Maipo

- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12
- Python version: 3.6.7
- Installed using virtualenv?

[2018-11-26 04:21] jason9693 opened #23968 "[I tensorflow/contrib/lite/toco/import_tensorflow.cc:1080] Converting unsupported operation: ReadVariableOp"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform a

[2018-11-26 04:31] SunnyNagam commented on #23961
Just tried getting CUDA 9 and replacing all the CUDA 10 paths in my PATH with the corresponding CUDA 9 path. Still no luck.

My path now is: "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\extras\CUPTI\libx64;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin;C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\libnvv

[2018-11-26 04:48] jktruimp1 commented on #19414
Video’s link
https://drive.google.com/file/d/1LQ9Pr9ETl4Jd3W9qNRunhWKLP06PnNAM/view?usp=drivesdk

minhnbwork97 <notifications@github.com>於 2018年11月26日 週一，下午12:16寫道：

[2018-11-26 05:09] Ella77 opened #23969 "inactive tensor board at safari"
when I want to access my tensor board summary with commands ...
and listening on localhost:6060
The same address would be inactive on safari , but ok on chrome browser.
I wonder if it's general problem...
![2018-11-26 12 57 10](https://user-images.githubusercontent.com/42016485/48994110-c81b2780-f184-11e8-8801-702fd48fc351.png)

I uploaded screenshots ( the left one is chrome, and the active one i

[2018-11-26 05:09] guizili0 opened #23970 "yolo-v3 has correctness issue at tf-nightly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):NA
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  tf-nightly=

[2018-11-26 05:33] ANeuRoBo opened #23971 "Aborted (core dumped)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):       UBUNTU 18.04 LTS

- TensorFlow installed from (source or binary):
      https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.12.0-cp36-cp36m-linux_x86_64.whl

- Python version: 3.6
- Installed using virtualenv? pip? conda?:   conda

2018-11-26 10:47:27.577247: F tensorflow/core/platform/cpu_feature_

[2018-11-26 05:49] mzhaoshuai commented on #23918
No anyone else meet this problem ?

[2018-11-26 06:45] panovr opened #23972 "ERROR: undeclared inclusion(s) in rule '//tensorflow/python/eager:pywrap_tfe_lib'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2018-11-26 06:49] freedomtan commented on #23966
there are two problems
1. the script was for older version of TFLite, yet it should still work if you convert your model as described. You may want to use the newer one (with post-processing in TFLite) by reading [the instruction](https://medium.com/tensorflow/training-and-serving-a-realtime-mobile-object-detector-in-30-minutes-with-cloud-tpus-b78971cf1193) by @achowdhery and check #15633
2. my sc

[2018-11-26 06:53] Jemmagu commented on #6883
yes, fine-tune Inception V3 model. what does it mean by removing pertained model?

[2018-11-26 07:24] johnpjust opened #23973 "Update ExternalOptimizerInterface for use with Eager Execution"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No):
I suppose yes...although i'm not confident i can produce a general code framework for this in any reasonable time.

**Describe the feature and the current behavior/state.**
Currently the external scipy optimizer interface is coded to work with delayed [graph model] execution only.  Would

[2018-11-26 08:20] Adisriman commented on #16069
lionawurscht its working thanks

[2018-11-26 08:30] HackersSpirit commented on #23342
@meteorcloudy : Was able to run the example using bazel run.
Actually I have to integrate the existing the code in qt. Is it possible to run the code in qt as the other programs are dependent on tensorflow.

[2018-11-26 08:53] camhao168 opened #23974 "TypeError: Type already registered for SparseTensorValue when running 2nd script"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/a
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/a
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):

[2018-11-26 09:10] jameswan commented on #6698
This error is due a RAM memory issue. Suggest you increase to 32GB or 64GB of DDR3 or DDR4 RAM.
Also reduce the quantity/size of data that is being inferenced.

Its not the GPU. I have 2 X 1080Ti cards in SLI.

[2018-11-26 10:05] #23952 closed

[2018-11-26 10:05] crvogt commented on #23952
Got it, define batch_shape. :/

[2018-11-26 10:09] Steroes commented on #22047
Do you have a list of the libraries available for me? I think I try to add too many of them. Thanks beforehand.

[2018-11-26 10:48] Nayana-ibm opened #23976 "ImportError: cannot import name cloud"
**System information**

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04, 18.04 s390x
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
    TensorFlow installed from (source or binary): source
    TensorFlow version: v1.12.0
    Python version: 2.7.x
    Installed using virtualenv? pip? conda?: Building from source

[2018-11-26 10:53] Nayana-ibm commented on #23976
For v1.12.0, we have disabled Apache Ignite support throgh ./configure and could build TensorFlow

`./configure`
[code]
**Executed tests using command:**
`bazel --host_jvm_args="-Xms512m" --host_jvm_args="-Xmx1024m" test --test_timeout 300,450,1200,3600 --build_tests_only -- //tensorflow/... -//tensorflow/compiler/... -//tensorflow/core/platform/cloud/... -//tensorflow/contrib/lite/... -//tensorfl

[2018-11-26 10:53] Nayana-ibm commented on #23976
Could you please let us know if we need to enable some features here? Or any package to install.

[2018-11-26 11:10] #23945 closed

[2018-11-26 11:14] RitikaSethiya commented on #13715
Python version 3.6.7
I have not installed CUDA as I have tensorflow(cpu only)
but when I import tensorflow , I have get the follow error message, how I can solve it!

Traceback (most recent call last):
  File "C:\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Python\Python36\l

[2018-11-26 11:24] dranandrao opened #23977 "pyhton code with tensorflow code throws execption in xampp server."
I have a python code in server root folder which has a tensorflow code, when compiled using exec() php command in php, it is throwing exception.

But when executed normally through console it excutes.

I have attached text file which has the exception thrown while executing.
Currently I'm using postman to test the php file.

[output.txt](https://github.com/tensorflow/tensorflow/files/2615237/outpu

[2018-11-26 11:39] LazzariPaolo commented on #21967
I resolved this by upgrading Python 3.6.0 to Python 3.6.1, as suggested by @dongwenjian [here.](https://github.com/protocolbuffers/protobuf/issues/5046#issuecomment-439736098)

[2018-11-26 12:03] Steroes commented on #23542
In addition, I solved my problem by using the approach [here](https://github.com/tensorflow/tensorflow/issues/22047#issuecomment-421452033). I added the following symbols to the `tf_exported_symbols_msvc.lds` file for the [inference_cc example](https://github.com/PatWie/tensorflow-cmake/tree/master/inference/cc).
[code]
Now it links correctly! No renaming needed for the libtensorflow_cc.so file, o

[2018-11-26 12:09] robgrzel commented on #21999
u may change by hand to:
.toString()

[2018-11-26 12:38] normandra commented on #23747
Thanks for the info @SanthoshRajendiran . I already tried specifying the input / inference type and I seem to be getting either the same error or the Nonetype error.

looking at mace https://github.com/XiaoMi/mace-models/tree/master/deeplab-v3-plus Instead of using ImageTensor as the input array they started on sub_7 and ended on ResizeBilinear_2 doing so will enable you to convert the tflite too.

[2018-11-26 12:51] albertz commented on #22770
So, to make it clear: There is a Python object which corresponds to a graph in C++ which does not exist anymore, or has become invalid? How is this possible? This is via Swig, right? I thought that Swig does some sort of reference counting.

Or does the C++ graph object itself still exists, but accessing it becomes invalid? Is there a flag or so that marks that the object is invalid now? Maybe the

[2018-11-26 14:00] toniz commented on #20624
vi tensorflow/contrib/makefile/compile_ios_protobuf.sh
change:
`make distclean`
to:
[code]
then it works

[2018-11-26 14:08] albertz commented on #22770
I tried to write some simpler test case. See the commit I just referenced. That code sometimes crashes in various different way.

[2018-11-26 14:15] bjascob commented on #23971
You've got 2 options.

- You can compile TF yourself.  Follow the instructions to install from source.  If you use the flag -march=native, gcc will apply all the correct flags for your CPU.
- You can try to find an unofficial repository that supports your machine and download a wheel from there.  Take a look at [TF Optimized Wheels](https://github.com/mind/wheels).  This is just the first one I fo

[2018-11-26 15:40] chaodly commented on #13715
After I ran the self-check.py, I got the following error.
(Win10, GTX1070MQ, CUDA9.2, cuDNN 7.3.1)

ERROR: Failed to import the TensorFlow module.

WARNING! This script is no longer maintained!
=============================================

Since TensorFlow 1.4, the self-check has been integrated with TensorFlow itself,
and any missing DLLs will be reported when you execute the `import tensorflow`

[2018-11-26 15:44] andrehentz commented on #16216
Thanks for the info. Generally speaking it should be possible to change the input tensor size just like you are doing. However, in some cases the conversion process hardcode the input shapes, which then prevents resizing at inference time. This is mostly dependent on the model architecture. In your case, I'd suggest running the conversion again, and passing --input_shapes=1,240,240,3. (Of course,

[2018-11-26 15:46] andrehentz commented on #23768
Try running tflite_convert again, with --input_shapes=5,3000,40,3

[2018-11-26 15:48] andrehentz commented on #21526
@ToBigboss Please note that you will need to build from source to gain early access to the new features.

[2018-11-26 15:50] andrehentz commented on #23260
Thanks @Nimitz14

[2018-11-26 16:12] andrehentz commented on #14688
@kargarisaac Just to clarify: do you want a single .tflite file that can be interpreted both on android and ios? That should be possible. What's not working for you? Could you open a separate issue to track that?

[2018-11-26 16:22] lgilz commented on #20517
The version posted by @adrianodennanni works for me. I'm using python3.7 features in my code and it's a real hustle to switch environments all the time.

[2018-11-26 16:24] cataclysmus opened #23979 "Save/Load problem with keras.layers.ReLU"
Running this example
[code]
returns trackback
[code]
I temporally fixed it in `tensorflow/python/keras/layers/advanced_activations.py` by changing `get_config`
from
[code]
to
[code]
However, the problem might be somewhere in `deserialize_layer`, as for a some reason `negative_slope` is a dictionary, not a `numpy.ndarray`

[2018-11-26 16:34] guillaumelorre28 commented on #17275
Currently, it throws the following exception:
tensorflow.python.framework.errors_impl.InvalidArgumentError: axis must be scalar [Op:GatherV2]

[2018-11-26 16:41] jefhai commented on #14688
@andrehentz Do you have any C++ examples of Tensorflow Lite and Android NDK?
I'm looking for more information that can help me develop an Android App using the NDK.
I'm also really looking for how you access the .tflite file path so you can build the flat buffer model in C++.
I know this is an off topic ask- no direct message feature though...

[2018-11-26 16:50] hassanzadeh commented on #15115
I'm sorry, but this still does not make sense to me, the point @secsilm is completely legitimate, we update the count and total by calling the update_op, but if we evaluate the accuracy in the same run() function, we should get the correct acc because accuracy is a tensor (not a variable) which is evaluated the moment we call the update_op and accuracy in one run. Why is there a lag?

[2018-11-26 16:54] hassanzadeh commented on #9498
Sorry but this does not make sense to me the acc and update_op they are both part of the computational graph and no matter where we put them in the run call, ie. session.run([acc, update_op]) vs  session.run([update_op, acc]), the order of execution will be the same, i'll get surprised if it is the other way. In my view this is a bug.

[2018-11-26 16:59] andrehentz commented on #14688
The [api doc](https://www.tensorflow.org/lite/apis) describes how to write your C++ program to access a .tflite file and run inference. On android you will most likely need to interface with Java, which you can do via our own JNI code. If you prefer, TF Lite provides Java APIs too.

[2018-11-26 17:03] azaks2 commented on #23657
Do you have a small example I can run to reproduce the issue?

[2018-11-26 17:18] allenlavoie commented on #23732
I removed `/tmp/checkpoint` and re-ran. I'm using Python 3.6; I don't have 3.7 installed. I'm also on Linux, but we have similar unit tests which run on Windows.

Does it work for you on Python 3.6? Presumably not using `"/tmp/"` since that isn't meaningful on Windows.

[2018-11-26 17:22] #23466 closed

[2018-11-26 17:33] rribani commented on #14605
I'm having the same issue. @apollo-time can you please be more specific? Thanks.

[2018-11-26 17:34] alextp commented on #23763
The variables in this model only get built when the layers are used, not when the layers are instantiated, which is why you're getting this error.

@allenlavoie do you think it's worth putting a better error message here? Or should the checkpointable API be used instead?

[2018-11-26 17:35] #23312 closed

[2018-11-26 17:41] andrehentz commented on #21787
I'm able to reproduce the issue. We will track this internally and report back after we investigate further.

[2018-11-26 17:47] jdduke commented on #22023
Yeah, it's interesting that this is failing within TensorFlow Lite, but not TensorFlow (which would also ahve the Eigen dependency).  @rmlarsen do you know if there's anything we ought to be doing differently to allow for vectorized Eigen builds?

[2018-11-26 17:51] PinkySan commented on #22047
Unfortunatly I do not have a list of the libraries

[2018-11-26 18:07] av8ramit commented on #21524
@eaplatanios is this working for you now?

[2018-11-26 18:24] allenlavoie commented on #22770
Oh interesting, good find. So maybe we just need to set some Python properties to `None` when the destructor for the C Graph object runs? https://github.com/tensorflow/tensorflow/blob/73f193aa4b9999e0a5bf7d29b1838e2a662e9507/tensorflow/python/framework/c_api_util.py#L52

[2018-11-26 18:31] eaplatanios commented on #21524
@av8ramit Sorry I was away for the break. Yes it is. Thank you very much!

Are there any plans to gave a build status page on your CI server like you used to so we know what day the current build is from?

[2018-11-26 18:43] mrry commented on #23924
Thanks for tracking down the issue: indeed, the missing `input_->Unref()` seems to be the culprit.

@artsobolev I think the root cause for this bug is different. I'll comment on the other thread.

[2018-11-26 18:44] allenlavoie commented on #23763
There is a `self.predict` call in load which looks like it should call the layers. But it won't create slot variables in the optimizer, which might be the issue.

@vishalghor can you use [`tf.keras.Model.save_weights(..., save_format='tf')`](https://www.tensorflow.org/api_docs/python/tf/keras/models/Model#save_weights) and `Model.load_weights` instead? Or `tf.train.Checkpoint` if you need more con

[2018-11-26 18:50] #23477 closed

[2018-11-26 18:51] rchao commented on #23477
Moved this issue to estimator repo (https://github.com/tensorflow/estimator/issues/16)  to be tracked. Thanks.

[2018-11-26 18:52] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:52] tensorflowbutler commented on #13150
Nagging Assignee @saeta: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #13308
Nagging Assignee @asimshankar: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #16502
Nagging Assignee @andrewharp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #17353
Nagging Assignees @jch1, @pkulzc: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #17628
Nagging Assignees @miaout17, @shivaniag: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #18058
Nagging Assignee @cy89: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #19084
Nagging Assignees @ebrevdo, @qlzh727: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #19568
Nagging Assignee @asimshankar: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #19770
Nagging Assignee @gunan: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #20600
Nagging Assignee @tatatodd: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #20628
Nagging Assignee @rohan100jain: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #20642
Nagging Assignee @anj-s: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:53] tensorflowbutler commented on #20644
Nagging Assignee @jart: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #20674
Nagging Assignees @mrry, @gunan: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #20922
Nagging Assignee @sguada: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #20938
Nagging Assignee @gunan: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #21332
Nagging Assignee @case540: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] mrry commented on #23904
@artsobolev I think the root cause here is lower-level than the `Iterator.make_initializer()` implementation. For example, the following simpler program exhibits similar growth:

[code]

...and gives me this output:

[code]

There are two issues that conspire to create the problem:

1. Each time we call `iterator.make_initializer(dataset)` (or `tf.add()`) in the loop, some new ops are created. The

[2018-11-26 18:54] tensorflowbutler commented on #21349
Nagging Assignee @rohan100jain: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #21646
Nagging Assignee @shashishekhar: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] kvcuong commented on #20881
Hi,

I would like to know if tflite at this time support RNN (LSTM, Multi-dim LSTM) ?

[2018-11-26 18:54] tensorflowbutler commented on #21653
Nagging Assignee @jart: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #21744
Nagging Assignee @robieta: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #21839
Nagging Assignees @achowdhery, @cy89: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:54] tensorflowbutler commented on #21845
Nagging Assignee @andrewharp: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:55] tensorflowbutler commented on #21913
Nagging Assignees @asimshankar, @martinwicke: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:55] tensorflowbutler commented on #22037
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-26 18:55] tensorflowbutler commented on #22059
Nagging Assignee @robieta: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:55] tensorflowbutler commented on #22345
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-26 18:55] tensorflowbutler commented on #22665
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:55] tensorflowbutler commented on #22891
Nagging Assignee @achowdhery: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:55] tensorflowbutler commented on #22930
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:55] tensorflowbutler commented on #23049
Nagging Assignee @ymodak: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:56] tensorflowbutler commented on #23091
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:56] tensorflowbutler commented on #23143
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:56] tensorflowbutler commented on #23147
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:56] tensorflowbutler commented on #23159
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-26 18:56] tensorflowbutler commented on #23536
Nagging Assignee @skye: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:56] tensorflowbutler commented on #23627
Nagging Assignee @gargn: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-26 18:57] #22383 closed

[2018-11-26 19:11] #23924 closed

[2018-11-26 19:12] mahmoud-abuzaina commented on #23970
We have seen similar issue with Resnet50 where accuracy drops to a very low number. This commit https://github.com/NervanaSystems/private-tensorflow/commit/0c1eb8861624d6d17c797b70d25330711df5eb2f seems to be causing the issue.

[2018-11-26 19:19] martinwicke commented on #23804
Yeah, let's not touch this. In any case, this would be a breaking change, so we'd need a new option, and I don't think this is worth doing.

[2018-11-26 19:19] #23804 closed

[2018-11-26 19:51] ymodak commented on #23837
This issue is more suitable on [tensorflow/models](https://github.com/tensorflow/models/issues/new) repo. Closing this issue since its not a bug or feature request related to TensorFlow. Feel free to post this issue on [tensorflow/models](https://github.com/tensorflow/models/issues/new) repo. Thanks!

[2018-11-26 19:51] #23837 closed

[2018-11-26 20:00] edoardogiacomello commented on #23127
Also for me:
OS: ubuntu 16.04
Bazel: 0.19.2
CUDA: 8.0
cuDNN: 7.1.3 for CUDA 8.0
GCC: 5.4

building inside a nvidia/cuda:8.0-cudnn7-devel container.

[2018-11-26 20:03] seemuch commented on #22889
Haven't had bandwidth to look at this yet.
Will take a look within this week.

[2018-11-26 20:04] Mohammed-Shoaib commented on #7623
Traceback (most recent call last):
  File "C:\Users\Shoaib\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\p
ython\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Shoaib\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\p
ython\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal

[2018-11-26 20:20] frankchn commented on #5477
Hmm I am probably not the right person for this (the internal CL was from a sync pull) -- @skye do you know who might know about this?

[2018-11-26 20:25] Mohammed-Shoaib opened #23983 "Can't import tensorflow"
**System information**
- OS Platform and Distribution: Windows
- TensorFlow installed from (source or binary): Anaconda
- TensorFlow version: Cannot check as tensorflow cannot be imported
- Python version: Python 3.5.5 :: Anaconda, Inc.
- Installed using virtualenv: conda
- GCC/Compiler version (if compiling from source): (tdm64-1) 5.1.0

**Problem**

I had a working version of tensorflow-gpu. I d

[2018-11-26 20:33] ymodak commented on #23878
Thanks for the clear repro example. Probably this is a duplicate of [#14729](https://github.com/tensorflow/tensorflow/issues/14729)

[2018-11-26 20:43] skye commented on #22936
Hi, sorry for the delay. This looks like a control flow bug, which we're currently reimplementing (see https://github.com/tensorflow/community/blob/master/rfcs/20180507-cond-v2.md and https://github.com/tensorflow/community/blob/master/rfcs/20180821-differentiable-functional-while.md for details).

Would you mind running your code with the following environment variables set:
TF_ENABLE_WHILE_V2=1

[2018-11-26 20:54] MattConley commented on #23356
Thanks for the update; sounds like it might be an Eigen issue

[2018-11-26 21:05] skye commented on #5477
We're currently reimplementing control flow in TF such that it no longer uses control flow contexts. It's still under construction, but you can set the environment variables TF_ENABLE_COND_V2=1 TF_ENABLE_WHILE_V2=1 to try it out. Please feel free to report any errors you see using the new control flow.

[2018-11-26 21:39] gunan commented on #23096
Here is one of the actual error messages:
[code]

Looks to be emitted by the Xcode libraries. I will try to reproduce the problem.

[2018-11-26 21:48] harshini-gadige commented on #23983
@Mohammed-Shoaib  Hi, please refer a similar issue #10033 which helps you to resolve the problem.

[2018-11-26 21:49] asimshankar commented on #23904
Thanks for the report @artsobolev

As @mrry pointed out, here we are adding operations to the graph in each iteration of the loop, which is causing memory growth. Interning the constants as @mrry suggested would help (significantly in this case due to the large constants), but we'll still be constantly adding nodes to the graph so there will still be an increase in memory footprint.

For the examp

[2018-11-26 21:49] #23904 closed

[2018-11-26 21:52] #23957 closed

[2018-11-26 22:00] harshini-gadige commented on #23977
@dranandrao  You need to use newer version of the library C++ ABI than your system libstdc++ has.

Request you to provide the information asked as per [this](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md) template.

[2018-11-26 22:09] nfelt commented on #23969
Closing since TensorBoard issues should be filed at http://github.com/tensorflow/tensorboard/issues/new with the corresponding template details.

However, I'm not sure that the behavior you've described is a bug in TensorBoard - it sounds like this could also be an issue with your Safari configuration or local network.  Please confirm that you can reproduce the issue on more than once machine, wit

[2018-11-26 22:09] #23969 closed

[2018-11-26 22:15] aselle commented on #23012
@josh11b may be able to comment further, but I believe that the type specific fields are mostly historical and are not required to be used. If you use tensor_content you don't use the int specific one. So the output given is expected and valid.

[2018-11-26 22:17] harshini-gadige commented on #23976
@gunan  -  As per the chat in #23758, could you please post which commit fixes this issue ?

[2018-11-26 22:20] jlebar commented on #23918
Hi, does this have something to do with XLA?

[2018-11-26 22:33] petermattson commented on #21697
Hi Tatiana -- I'm not sure who owns timelines, but unfortunately that
person is not me.

On Fri, Nov 16, 2018 at 5:37 PM Tatiana Shpeisman <notifications@github.com>
wrote:

[2018-11-26 22:34] harshini-gadige commented on #23972
@panovr  Hi, please use the following combination to resolve this.

Python - 3.6
Bazel - 0.15
CUDA/cuDNN - 9/7

[2018-11-26 22:37] samikama commented on #23243
@sujitbiswas As message tells you, you need to load op libs first to make TRTEngineOp available to the system.

[2018-11-26 22:44] gunan commented on #23758
I think the same commits mentioned in https://github.com/tensorflow/tensorflow/issues/23771 should fix this

[2018-11-26 22:45] gunan commented on #23976
I think the same commits mentioned in #23771 should fix this
https://github.com/tensorflow/tensorflow/commit/3437098ba5b111817ef6ac5906d86934168704b7 and https://github.com/tensorflow/tensorflow/commit/3914ff714ba4561ecff329012d02c3de027ee4a5

[2018-11-26 22:47] samikama commented on #23853
Hello @yegord,

Could you please link your application with trt_conversion.so and trt_engine_op_op_lib

[2018-11-26 22:55] cbasavaraj commented on #17629
Hi all,
I use PyTorch as much as possible, but for a particular project where i need to export a (Keras) model to tensorflowjs, I'm forced to use tf. The only solution which has worked well for me has been to build from source, after installing CUDA from the Ubuntu multiverse, as described here:

https://medium.com/@asmello/how-to-install-tensorflow-cuda-9-1-into-ubuntu-18-04-b645e769f01d

Bonne c

[2018-11-26 22:55] cbasavaraj commented on #15604
Hi all,
I use PyTorch as much as possible, but for a particular project where i need to export a (Keras) model to tensorflowjs, I'm forced to use tf. The only solution which has worked well for me has been to build from source, after installing CUDA from the Ubuntu multiverse, as described here:

https://medium.com/@asmello/how-to-install-tensorflow-cuda-9-1-into-ubuntu-18-04-b645e769f01d

Bonne c

[2018-11-26 22:59] harshini-gadige commented on #23968
@jason9693  Please add it here #21526

[2018-11-26 23:01] #23968 closed

[2018-11-26 23:11] asimshankar commented on #23243
@sujitbiswas : To elaborate on what @samikama said, `contrib` libraries aren't packaged with the TensorFlow Java distribution and currently need to be explicitly loaded. See [this StackOverflow answer](https://stackoverflow.com/a/47277367/6708503)

Here is what I did on my installation:

- Get the path to the shared library defining the operation in contrib
[code]

- Load that library in Java usin

[2018-11-26 23:11] #23243 closed

[2018-11-26 23:16] gunan commented on #23096
On my machine, TF built just fine with bazel 0.18
Could you try running the following:
[code]

[2018-11-26 23:30] harshini-gadige commented on #23950
@Roython  We encourage you to please use the latest 2 versions of tensorflow. (i.e 1.11 or 1.12)

[2018-11-26 23:34] harshini-gadige commented on #23944
@RickLee26  Request you to fill this template which helps us to look into this issue. Thanks !

[2018-11-26 23:35] ymodak commented on #23974
Apparently it is IDE related issue. Are you able to execute your code in jupyter notebook?

[2018-11-26 23:35] skye commented on #23536
cmake is now community support, please try building with bazel.

[2018-11-26 23:47] mrry commented on #23963
Assigning to Pete, since this is about the `transform_graph` tool.

[2018-11-27 00:02] sujitbiswas commented on #23243
Thanks for the help @samikama @asimshankar

note the error changes when we load

TensorFlow.loadLibrary("/home/sujitb/anaconda3/envs/tensorflow/lib/python3.6/site-packages/tensorflow/contrib/tensorrt/python/ops/**_trt_engine_op.so"**)

Exception in thread "main" java.lang.IllegalArgumentException: **No shape inference function exists for op 'TRTEngineOp',** did you forget to define it?

[2018-11-27 00:03] Luonic commented on #22889
@seemuch i have resolved my issue and it can possibly help others here (@jnd77 @magnofel @honeytidy )
If you use AMD Treadripper and motherboard without PLX chips then you should go to UEFI and disable IOMMU. NCCL is not compatible with it.
More you can find [here](https://github.com/NVIDIA/nccl/issues/120) and [here](https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158)

[2018-11-27 00:13] ymodak commented on #23861
I was able to run your code snippet successfully. I suspect it's not a TensorFlow related issue, however you can try shutting down all the processes/notebooks that utilize your GPU and run the code again.

[2018-11-27 00:20] ilia-nikiforov commented on #23861
I am running this in multi-user.target, so other GPU utilization is
non-existent. Do you have the same GPU or different? Perhaps on other GPUs
the limit is higher? I understand that there may be a limit to how big
matrices can be, it just doesn't make sense for that limit to be lower for
fp16 than it is for fp32.

On Mon, Nov 26, 2018, 7:17 PM ymodak <notifications@github.com wrote:

[2018-11-27 00:29] anandh02 opened #23984 "tensorflow - gpu issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

System information

OS : Windows 10
TensorFlow installed from (source or binary): from pip
TensorFlow version: 1

[2018-11-27 00:50] ymodak commented on #23984
Duplicate of #2372

[2018-11-27 00:56] asimshankar commented on #23243
Ugh, that's a shame.
I'll look into it and follow up on #23853
Sorry for the trouble.

[2018-11-27 01:05] jefhai opened #23985 "What is the encoding of a .tflite file?"
I'm trying to read the text directly from a .tflite file but I don't know / can't figure out a .tflite's encoding.

Does anyone know what it is? Attached is the .tflite file as a .txt file...

I need to know the encoding so I can read it in correctly for tflite::FlatBufferModel::BuildFromBuffer() to read it right...

[keras_cifar10.txt](https://github.com/tensorflow/tensorflow/files/2617880/keras_

[2018-11-27 01:08] sujitbiswas commented on #23853
@samikama

this is with respect to https://github.com/tensorflow/tensorflow/issues/23243

Where is the lib located, “trt_conversion.so” , can you please tell?
 
There is library named _wrap_conversion.so
 
[code]
[code]

[2018-11-27 01:08] freedomtan commented on #23964
In short, YES. But no, there is no full tensorflow on Android (as far as I can remember previous TensorFlow Mobile is a subset of TF). And you can use something like [flex](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/flexl) in TFLite to use TF ops. Check this [doc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/using_select_tf_ops.md)

[2018-11-27 01:36] jefhai commented on #23985
this is what the file looks like in TextEdit on Mac... But loads in binary in every other program...
Java is not reading this correctly using new BufferedReader(new InputStreamReader(tfliteSrt)) method.. Even specifying UTF-8 isn't working...

I haven't found a single way to load the file in C++ NDK land with BuildFromFile... There seems to be no way to get a proper file path from an asset built i

[2018-11-27 01:39] #23663 closed

[2018-11-27 01:43] ymodak commented on #23801
The [Simple Audio Recognition](https://www.tensorflow.org/tutorials/sequences/audio_recognition) example  on TensorFlow website works as expected. This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, pleas

[2018-11-27 01:45] ymodak commented on #23703
Apologies for the delay in responding. Is this still an issue?

[2018-11-27 01:47] asimshankar commented on #23853
So there seem to be two issues here:

1. That there is no shape inference function registered (the [Python API uses a backdoor](https://github.com/tensorflow/tensorflow/blob/30344d07629fd350686046079fe1ff75c8d36fb5/tensorflow/python/framework/ops.py#L2880) to be okay with that, but ideally we want all operations to have a shape inference function, even if that function says "Unknown Shape". And we

[2018-11-27 01:49] ymodak commented on #23874
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2018-11-27 01:53] ymodak commented on #23961
This is issue is a duplicate of #23726

[2018-11-27 02:08] wdirons commented on #23967
pip install of h5py fails on power because it has to be compiled from source. (The same error would happen on x86 also if pip installing h5py from source.)

To install h5py run:
yum install hdf5-devel
pip install --global-option=build_ext --global-option=-I/usr/include/hdf5/serial/ --global-option=-L/usr/lib/powerpc64le-linux-gnu/hdf5/serial h5py

Then install tensorflow.

[2018-11-27 02:10] ppwwyyxx commented on #23874
This is a bug and has been fixed in https://github.com/tensorflow/tensorflow/commit/83ff640fa5026b8bd3cb9c2ceff9e99e8e03823a#diff-888940c777f83519bd1e27349427d51e .

[2018-11-27 02:36] libliang opened #23986 "train.init_from_checkpoint does not support mirrorredStrategy and CollectiveAllReduceStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
   We are chan

[2018-11-27 02:37] #23972 closed

[2018-11-27 02:43] anandh02 commented on #23984
I'm Cuda 9, I have downgraded that and still facing the same issue

[2018-11-27 02:57] camhao168 commented on #23974
@ymodak Yes, it works well without restarting kernel in jupyter notebook. Thank you very much.
Btw, do you have any ideas of fixing the IDE (spyder) itself to avoid such issue?

[2018-11-27 02:59] NVchargr commented on #23673
centos 6, gcc 5.5.0, bazel 0.19.0, tensorflow 1.12.0

In tensorflow 1.10.0 I find:
[code]
in `.tf_configure.bazelrc` after running configure which comes from:
[code]

The configure in 1.12.0 does not do this and tools/bazel.rc is not used with bazel 0.19.0

When starting the build I see:
[code]

So I added `import /build/tmp/tensorflow/tools/bazel.rc` to `.bazelrc`.

I am not sure if this is the "

[2018-11-27 03:06] jnd77 commented on #22889
Thanks a lot @Luonic. With your links, we solved the issue.
We disabled IOMMU via grub as mentioned [here](https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158).

[2018-11-27 03:07] mzhaoshuai commented on #23918
@jlebar

I am not familiar with XLA...
When I try it following https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_softmax_xla.py

I find another interesting phenomenon, the appearance of NaN loss when using `tf.dynamic_partition` is related to the magnitude of the data

Here is the code
[code]

The output

[code]

[2018-11-27 03:10] lxl910915 opened #23987 "LARSOptimizer does not initialize _learning_rate_tensor and _momentum_tensor"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2018-11-27 03:11] lxl910915 commented on #23987
class LARSOptimizer should implement _prepare method as follows:
`  def _prepare(self):
    learning_rate = self._learning_rate
    if callable(learning_rate):
      learning_rate = learning_rate()
    self._learning_rate_tensor = ops.convert_to_tensor(learning_rate,
                                                       name="learning_rate")
    momentum = self._momentum
    if callable(momentum)

[2018-11-27 03:38] leonsuetfeld commented on #20444
I second that. This weird "0.12." version also breaks compatibility with keras.

Issue reported in June and at the end of November the only fix is an apparently extremely old version of TF that breaks all kinds of compatibility? Is this normal?

[2018-11-27 03:38] xiahaobo commented on #23191
@meteorcloudy  please help !!!

[2018-11-27 03:44] ymodak commented on #23974
Awesome. Glad it worked. Unfortunately I have know idea for the spyder ide. You can try posting this issue on [spyder repo](https://github.com/spyder-ide/spyder/issues/new), folks there might know more. I will close this issue now since it has fixed your tf related problem.

[2018-11-27 03:44] #23974 closed

[2018-11-27 03:48] paigeQ opened #23990 "Does GanEstimator support multi GPU ?"
Does GanEstimator support multi gpu?
How could I using multi GPU by ganEstimator?

Thanks.

[2018-11-27 03:49] YangXuefeng commented on #23986
I have the same issue.
raceback (most recent call last):
  File "run_squad.py", line 1285, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 125, in run
    _sys.exit(main(argv))
  File "run_squad.py", line 1212, in main
    estimator.train(input_fn=train_input_fn, max_steps=num_train_steps)
  File "/usr/local/lib/python2.7/dist-pa

[2018-11-27 04:01] sharvil commented on #23703
Yes, this is still an issue for me. Thanks for taking a look.

[2018-11-27 04:04] ymodak commented on #23984
Your nvidia-smi output reflects that you are using CUDA 10. Can you confirm? I would recommend doing a fresh install using cuda 9 if possible.

[2018-11-27 04:26] TashaPenwellHC opened #23991 "Improve SEO score on index page"
I'd like to update the home page on suggestion SEO improvements.  I'm having difficulty finding the index file.

The first issues I'd to correct is related to links not having a descriptive text.

[2018-11-27 04:40] lxl910915 commented on #23987
MR: https://github.com/tensorflow/tensorflow/pull/23989/commits/6d3d0de39f3eaecdbf7fbdb52a7a02b2539efeeb

[2018-11-27 05:07] mzhaoshuai commented on #23918
@jlebar
I follow the tutorial:
https://www.tensorflow.org/xla/tutorials/xla_compile

I slightly modify the code and let the function `tower_model_fn` return the cross entropy loss
[code]

I try both `tf.boolean_mask` and `tf.dynamic_partition`, and I get info
[code]

and

[code]

After removing the two operations, the code can run normally.

I also try https://github.com/tensorflow/tensorflow/blob

[2018-11-27 05:14] NorwayLobster commented on #19464
it has been a too long time, honestly, i forgot.

[2018-11-27 05:15] NorwayLobster commented on #19464
sorry, it has been a too long time, honestly, I forgot. @psn9

[2018-11-27 05:19] abdel commented on #23715
@zubairahmed-ai Thanks for the tip. There's definitely only one CUDA in our case on a single drive, and all PATHs seem to indicate it should be using that one, even CUDA/cuDNN test samples confirm that.. yet TensorFlow seems to be getting 7.0.5 from somewhere...?

[2018-11-27 05:37] SreehariRamMohan commented on #19982
@damhurmuller I'm doing the same thing as you and running into issues. Did you manage to find a solution?

[2018-11-27 05:43] binusuresh commented on #23971
"You can compile TF yourself. Follow the instructions to install from source. If you use the flag -march=native, gcc will apply all the correct flags for your CPU."

 can u please explain . I am new with Tensorflow.

[2018-11-27 05:50] ymodak commented on #23984
Firstly uninstall cuda 10 toolkit 10 and install cuda 9 later. In addition to that you will have to update the environment variables paths as well. Refer this [windows setup guide](https://www.tensorflow.org/install/gpu#windows_setup) to know more.

[2018-11-27 05:56] guizili0 commented on #23970
@mahmoud-abuzaina the commit your provided is not the root cause for yolov3, after check, this commit https://github.com/tensorflow/tensorflow/commit/89fa3c5ed66a4e543ba01c31febf3edb417808d0 should be the yolov3 correctness regression commit. this commit update the Eigen version.

[2018-11-27 05:57] ymodak commented on #23991
Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create from the template. Thank you for your cooperation.

[2018-11-27 05:57] #23991 closed

[2018-11-27 05:57] anandh02 commented on #23984
![image](https://user-images.githubusercontent.com/12907396/49061649-87480080-f1ce-11e8-94ce-26dc2bf8fe1b.png)

I don't have Cuda 10 in my system, I'm not sure why it is showing up in nvidia-smi

[2018-11-27 05:57] damhurmuller commented on #19982
@SreehariRamMohan I was using an old version 1.10.* I guess. Now I'm using the nightly version and is ok.

[2018-11-27 06:01] HackersSpirit commented on #2412
Guys i tried to build libtensorflow.so  using bazel and tried to import it in my qt-based project but getting the following error.
eferenced in function "public: __cdecl tensorflow::SessionOptions::~SessionOptions(void)" (??1SessionOptions@tensorflow@@QEAA@XZ)
main.obj : error LNK2019: unresolved external symbol "public: __cdecl tensorflow::SessionOptions::SessionOptions(void)" (??0SessionOptions@

[2018-11-27 06:01] SreehariRamMohan commented on #19982
@damhurmuller I switched to compiling the tf nightly version but I still get the following error:

`Caused by: com.google.firebase.ml.common.FirebaseMLException: Internal error has occurred when executing Firebase ML tasks
W/System.err:     at com.google.android.gms.internal.firebase_ml.zzhg.zza(Unknown Source)
W/System.err: 	... 5 more
W/System.err: Caused by: java.lang.NullPointerException: Can

[2018-11-27 06:06] SreehariRamMohan commented on #20872
@shashishekhar How do you specify the X and y in input_arrays? Do you list their sizes? Which command do you use to create the tf lite file. I am running into the following issue:

`Caused by: com.google.firebase.ml.common.FirebaseMLException: Internal error has occurred when executing Firebase ML tasks
W/System.err:     at com.google.android.gms.internal.firebase_ml.zzhg.zza(Unknown Source)
W/Sys

[2018-11-27 06:19] SreehariRamMohan commented on #22535
@ jazzystring1 using tf nightly didn't solve my issue. Also @brucechou1983 your advice seems helpful. I have a tflite quantized model right now, could you tell me the terminal command to covert that into a post-training quantization model? Thanks!

[2018-11-27 06:43] lxn179208 commented on #18737
how do you solve it?

[2018-11-27 06:51] jingxu10 commented on #23516
Hi,
Probably the value in your input_ is too large.
I modified your code to fill in input_ with random numbers in range (0, 1) with holding the same shape, and mkl version shows a little better performance than non-mkl one. Please check the following code snippet.
[code]

Following is the command and performance of running with non-MKL:
[code]

Following is the command and performance of running w

[2018-11-27 06:54] lxn179208 commented on #12667
@mrry  Is there the same issue with grpc used in tf1.7.0?

[2018-11-27 06:59] jchia opened #23992 "Graph Transform Tool fails to optimize away useless Switch node"
**System information**
- TensorFlow version (you are using): v1.12.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
The Graph Transform Tool apparently fails to optimize away Switch nodes that have constant pred input, as demonstrated in the test case. The test program shows a GraphDef that includes an unnecessary Switch node that could ha

[2018-11-27 07:01] jchia commented on #23992
This is related to #5919 but from one of the comments, I suppose that was for `tensorflow.python.tools.optimize_for_inference_lib`, not the Graph Transform Tool.

[2018-11-27 07:41] iariav commented on #23963
this is a similar error to what i described in #23955.
also got a link error while bazel build the transform_graph tool on a windows 10 os.

[2018-11-27 08:11] #23833 closed

[2018-11-27 08:30] jingxu10 commented on #23514
Hi,
Regarding to the performance gap of Intel TensorFlow, please check my reply in https://github.com/intel/mkl-dnn/issues/285.

Since the calculation is 1D convolution, why not trying conv1d like the following snippet?
[code]

[2018-11-27 08:36] iariav commented on #20403
i join @myth01 's request for the support on cast...
cannot convert a deeplabv3+ model without it..

[2018-11-27 08:44] martinwicke commented on #20444
I'm almost certain the 0.12 is because of a typo in the original comment. Installing https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl works for me:

[code]

Note that the `RuntimeWarning` is just a warning.

[2018-11-27 08:56] brunolinux commented on #23082
@PINTO0309, when build the newest version of tf-lite runtime python package, I have the same problem like you.
So the tf lite runtime whl of your repo: https://github.com/PINTO0309/TensorflowLite-bin.git can work or not ?

[2018-11-27 09:09] meteorcloudy commented on #23191
After googling the error `Unrecognized VM option 'CompactStrings'`
Looks like it's related to https://github.com/bazelbuild/bazel/issues/5726
@cushon Is this problem already resolved?

[2018-11-27 09:11] Lihengwannafly opened #23995 "dataset.output_shapes is (TensorShape([]), TensorShape([]))"
I want to set steps per epoch according to the shape of the dataset, but when I print dataset.output_shapes, I find the result is None, like this:(TensorShape([]), TensorShape([])).

[2018-11-27 09:14] PINTO0309 commented on #23082
@brunolinux

If you allow v1.11.0, it should work fine.
Please try first.
By the way, I am currently concentrating on other tasks, so I do not plan to build at v1.12.0 immediately.
It takes 30 hours or more to perform the regular build procedure.

[2018-11-27 09:15] DXZ commented on #19640
sry,I've never seen this situation. But can you try only one model run on gpu 2? And try command
`nvidia-smi`
to check your drive for two gpu work well？

[2018-11-27 09:20] whatbeg commented on #21830
ohh, it seems that this feature will not be able to be supported in the near future, right?

[2018-11-27 09:54] facaiy commented on #22025
I create the PR #23993 to fix the issue, please take a look, thanks :-)

[2018-11-27 10:09] marcoancona opened #23997 "Tensor.eval() hangs with Tensorflow 1.10+"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.10.0-0-g656e7a2b34 1.10.0
- Python version: 3.6

**Describe the current behavior**
Call to `Tensor.eval()` within a custom gradient function hangs forever (see minimal example below). This seems to happen with all Tensorflow r

[2018-11-27 10:10] SiLiKhon opened #23999 "libiomp5 multiple initialization error message when dataset size is large enough"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **OS X El Capitan 10.11.6 (15G22010)**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary (anaconda)**

[2018-11-27 10:18] azazhu commented on #23127
i met same issue. I use cuda8.0. Is it due to cuda8.0?

[2018-11-27 10:51] SiddhantKapil commented on #23848
Hi @aselle, I want your views on this. Will it be a good idea or not?

[2018-11-27 10:56] sthuthyraj commented on #13030
Still i am facing the issue. Kindly help

[2018-11-27 11:28] sthuthyraj opened #24000 "i changed the "libtensorflow_demo.so" file. Even then am facing the same issue"
E/AndroidRuntime: FATAL EXCEPTION: IntentService[Prediction Service]
    Process: com.cognizant.oralclassifier, PID: 25426
    java.lang.RuntimeException: Native TF methods not found; check that the correct native libraries are present in the APK.
        at org.tensorflow.contrib.android.TensorFlowInferenceInterface.prepareNativeRuntime(TensorFlowInferenceInterface.java:544)
        at org.tensor

[2018-11-27 11:47] boukicher commented on #18111
Did you resolve this issue ?

[2018-11-27 12:03] mstc-xqp commented on #22345
It is.I have encountered the same issue too

[2018-11-27 12:08] daavoo commented on #22687
@blaueck Could you point to the commit where it has been fixed??

[2018-11-27 12:10] hufangjian opened #24001 "AttributeError: module 'tensorflow._api.v1.lite' has no attribute 'OpsSet'"
### System information
- **OS Platform and Distribution (centos7.3)**:
- **TensorFlow installed from  binary:from binary
- **TensorFlow version **:1.12
- **Python version**:3.6
- **CUDA/cuDNN version**:9.1
- **GPU model and memory**:K80

### Describe the problem
when i follow the tensorflow lite tutorial.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/using_select_tf_o

[2018-11-27 12:18] lovetimil commented on #19324
me too

[2018-11-27 12:23] TommoAsh opened #24002 "Segfault unless .so is compiled in debug mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): v1.11.

[2018-11-27 13:14] bjascob commented on #23971
In that case I would highly recommend finding a pre-built wheel as suggested above.  If instead, you decide to compile from source, instructions can be found at [Build From Source](https://www.tensorflow.org/install/source) .

[2018-11-27 13:15] SuborbitalPigeon commented on #20517
The best way to get an issue ignored is to beg like the last few commenters. Please don't do that.

[2018-11-27 13:41] #23985 closed

[2018-11-27 13:50] nateagr opened #24003 "Unable to train a LinearClassifier with categorical columns and CollectiveAllReduce"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.0-0-g

[2018-11-27 14:09] pnik073 commented on #23536
@skye unfortunately that is not an option, as I integrate Tensorflow on an existing hybrid python/cpp/Cuda library. The migration to Bazel would be difficult and risky at the moment. If you expect that the existing binary installed in the dist-packages folder will not work in debug, what is the best way to proceed with cmake?

[2018-11-27 14:21] msmsajjadi commented on #23410
I'd like to chime in that I've also been getting this error since upgrading to Python 3.7 (from Python 3.6) on a OSX, unrelated to Keras. It seems to be a bug in `tf.placeholder_with_default`.

[2018-11-27 14:21] wdirons commented on #23967
if using conda, then try conda install h5py

[2018-11-27 14:39] Nayana-ibm commented on #23976
@gunan Thanks for your inputs.
Today I have built master branch with steps mentioned in my earlier [comment](https://github.com/tensorflow/tensorflow/issues/23976#issuecomment-441598067)  , however facing same issue.
Test `//tensorflow/contrib/eager/python/examples/densenet:densenet_test `failed with an error
[code]

[2018-11-27 14:56] GonzaloMoreno commented on #21135
I have the same problem (windows 10, tensorflow 1.11.0, tensorbard 1.11.0), although I am not using keras. Is it possible that someone tell me other versión of tensorflow that I could use while this bug is solved?

[2018-11-27 14:57] SiLiKhon commented on #23999
By the way, there seems to be no such problem under tensorflow 1.11.0, at least I don't see it after the following downgrade:

[2018-11-27 15:08] ylfzr opened #24005 "tf.ConditionalAccumulator does not behave as expected"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.12.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below): 1.10 cpu

[2018-11-27 15:16] skye commented on #23536
I'm not a build expert, but I think you have to rebuild the entire binary from scratch. Or maybe you can build the needed TensorFlow binaries with bazel, and then link them via your existing cmake project.

[2018-11-27 15:24] yupbank commented on #23973
yeah, it's doable, but you need to use  `tf.GradientTape` to watch the variables.

Let me know if you need any help.

you can take some inspiration from here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/optimizer.py#L459-L520

[2018-11-27 15:30] qlzh727 commented on #23878
Thanks for the report, I will take a look today or tomorrow.

[2018-11-27 16:09] cushon commented on #23191
Is that build using `--distinct_host_configuration=false`?

The crash indicates it's using a JDK 8 `--host_javabase` with the default Java toolchain, which only supports JDK 9 or newer.

Which bazel distribution is being used here? Is it the one with an embedded JDK?

[2018-11-27 16:18] meteorcloudy commented on #23191
We do add `build --distinct_host_configuration=false` into `.tf_configure.bazelrc` on Windows. You can also remove it, but the build will take much longer time. @xiahaobo Can you try removing `--distinct_host_configuration=false` from that bazelrc file?

[2018-11-27 16:25] mrgloom commented on #17289
Seems get the same error on:
[code]

Steps to reproduce:

1. Create MobileNet

[code]

2. Convert to tensorflow .pb
[code]

Tried to convert using `toco` tool:

Simple version:

[code]

With specifying `--output_arrays`:

[code]

Using `--allow_custom_ops`:

[code]

No errors, but not sure if everything is ok.

[2018-11-27 16:32] yegord commented on #23853
@asimshankar Excellent summary, thanks!

@samikama So, I cherry-picked the patch enabling the shape function (4fbbeea).
I also applied the following changes:

[code]

(Somehow without `trt_engine_op_kernel` the kernel was not successfully registered.)

As a result, I get the expected performance boost of around 10% against vanilla TensorFlow graph.
However, my C++ application starts crashing after

[2018-11-27 16:41] andrehentz commented on #17289
Please try with a more recent version of tensorflow. Support for tf.min was added around mid-april.

[2018-11-27 16:50] aselle commented on #22345
Please either disable xla or use a newer android ndk/sdk. Report back with whether that works @mstc-xqp and @maitreya2954

[2018-11-27 16:57] aselle commented on #19982
@alanchiao, what version of TFLite is required to use post_training_quant?

[2018-11-27 17:00] jdduke commented on #23766
Hi @Noltibus, would you mind trying one thing? We recently discovered a regression in our multi-threaded conv implementation, can you try again but using just 1 thread for TensorFlow Lite?

[2018-11-27 17:01] brge17 commented on #23767
Can we get an acknowledgement of this issue? I know @fchollet is very busy, maybe @pavithrasv could give it a quick look?

[2018-11-27 17:06] mrgloom commented on #17289
With
[code]
I have tried

[code]

And this command seems was runned without errors:
`toco --graph_def_file="tf_model.pb" --output_file="model.tflite" --output_format="TFLITE" --input_arrays='input_1_1' --output_arrays='conv_pw_13_relu_1/Minimum'`

[2018-11-27 17:10] aselle commented on #23966
@achowdhery, PTAL.

[2018-11-27 17:12] ghltshubh commented on #23967
@wdirons @gunan Are there any known issues with tf installation on miniconda? I tried installing using anaconda and it worked fine but the same installation steps are causing h5py error in miniconda.

[2018-11-27 17:14] aselle commented on #24001
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2018-11-27 17:31] aselle commented on #23962
You need to build from source or use the nightly pip to get htis op. It was just added 11/20/18.

[2018-11-27 17:34] yongtang opened #24006 "The tensorflow/tensorflow:custom-op is missing from DockerHub"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2018-11-27 17:35] pooyadavoodi commented on #21850
This happens when you define a graph while not assigning any device to certain subgraphs that later become TRT ops. This is fine because a TRT op has always a device assigned to it. So, it's safe to ignore this error msg. The message will go away once this PR is merged https://github.com/tensorflow/tensorflow/pull/23866

That being said, I agree that the segmenter needs to be smarter in handling d

[2018-11-27 17:38] Timshel commented on #19642
@uelordi01, hi, I have the same problem when using `make` the resulting library appear to be for `x86-64`.
On 19 Sep You said :

Would you mind sharing this ? :) (I'm able to build a shared lib but due to external limitations I need a static lib).

[2018-11-27 17:43] bionicles commented on #23949
Here's a review on methods for derivative free optimization:

http://thales.cheme.cmu.edu/dfo/comparison/dfo.pdf

[2018-11-27 17:50] srihari-humbarwadi commented on #21850
Its present in the latest r1.12.0 (built from source cuda 10 cudnn 7.3.1 nccl 2.3.7 trt 5.0.2)

[2018-11-27 17:53] aselle commented on #23954
Edit TFLiteObjectDetectionAPIModel.java NUM_DETECTIONS to be something bigger.

[2018-11-27 18:04] wdirons commented on #23967
I have not used miniconda myself, I will try to recreate this problem.

[2018-11-27 18:15] harshini-gadige commented on #23769
@fchollet  Tried at my end and could reproduce the same issue. Please take a look.

[2018-11-27 18:41] ispirmustafa commented on #23824
please check out `tf.contrib.estimator.SavedModelEstimator`

[2018-11-27 18:41] #23824 closed

[2018-11-27 18:43] harshini-gadige commented on #23842
We encourage to post these type of questions on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-27 18:43] #23842 closed

[2018-11-27 18:45] ymodak commented on #23851
The standard Python binaries exist only for Python 3.5. Please take a look at [TensorFlow CMake build](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake#tensorflow-cmake-build) to know more.

[2018-11-27 18:46] harshini-gadige commented on #23844
@infotechie  Hi, we encourage you to follow these instructions to build tensorflow from source. These are the instructions from the official site. Please post here if you are facing any difficulty after following these steps. Thank you !

[2018-11-27 18:49] harshini-gadige commented on #23840
@sjkim04   Could you please try with Python 3.6 ?

[2018-11-27 18:50] gunan commented on #23832
Anaconda and conda-forge TF releases are not owned by us.
They are maintained by the community.
Please reach out to the package owners through conda-forge.

[2018-11-27 18:50] #23832 closed

[2018-11-27 18:54] #22311 closed

[2018-11-27 18:54] tensorflowbutler commented on #675
Nagging Assignee @saxenasaurabh: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:54] tensorflowbutler commented on #6992
Nagging Assignee @rmlarsen: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:54] tensorflowbutler commented on #11695
Nagging Assignee @petewarden: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:54] tensorflowbutler commented on #11806
Nagging Assignees @asimshankar, @saeta: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:54] tensorflowbutler commented on #19611
Nagging Assignee @jart: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #21615
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-27 18:55] tensorflowbutler commented on #21675
Nagging Assignee @drpngx: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #21946
Nagging Assignee @aaroey: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #22098
Nagging Assignee @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #22214
Nagging Assignee @robieta: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #22245
Nagging Assignee @jart: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #22278
Nagging Assignee @shivaniag: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #22311
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-11-27 18:55] tensorflowbutler commented on #22531
Nagging Assignee @aselle: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] tensorflowbutler commented on #22541
Nagging Assignee @asimshankar: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:55] ymodak commented on #23856
You need to install tensorflow-gpu version and not the regular tensorflow for gpu support. Can you confirm your installation pick? Also can you please provide following info.:
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary)

[2018-11-27 18:56] tensorflowbutler commented on #22598
Nagging Assignee @saeta: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:56] tensorflowbutler commented on #22655
Nagging Assignee @wolffg: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:56] tensorflowbutler commented on #23248
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:56] tensorflowbutler commented on #23269
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:56] tensorflowbutler commented on #23348
Nagging Assignee @azaks2: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:56] tensorflowbutler commented on #23530
Nagging Assignee @skye: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 18:56] tensorflowbutler commented on #23692
Nagging Assignee @samikama: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-27 19:00] gunan commented on #23967
I also have not used miniconda.
@jjhelmus are you aware of issues with miniconda h5py on ppc64le ?

[2018-11-27 19:04] jsimsa commented on #23272
Closing due to inactivity.

[2018-11-27 19:04] #23272 closed

[2018-11-27 19:21] ymodak commented on #23938
Please provide the following information:
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC

[2018-11-27 19:29] harshini-gadige commented on #23888
@muarvyn  Please try with Bazel 0.15, TF version 1.12 and see if you are running into the same error. Please post with your updates.

[2018-11-27 19:30] angersson commented on #24006
Sorry, this was my bad. I was doing doing some maintenance and deleted the `custom-op` image by mistake. I've restored the tag now.

[2018-11-27 19:30] #24006 closed

[2018-11-27 19:32] alextp commented on #23780
What is "AddOpsRewrite_Add/tmp_var/struct" in your graph? Why are you using temporary variables? They are not compatible with while loops, which is what you're seeing in the error message.

(I thought temporary variables had been removed as part of tf's API a long time ago)

[2018-11-27 19:45] jlebar commented on #23918
Sorry, didn't mean to ask you to try it with XLA, I was just asking if I was assigned the bug because it had something to do with XLA.  Sounds like it doesn't, so I'll unassign myself.

[2018-11-27 19:49] yongtang commented on #23979
@cataclysmus I am able to reproduce with tf 1.12.0, but not with tf-nightly. Can you try with tf-nightly and see if the issue still exist?

[2018-11-27 19:53] chsigg commented on #21338
Thanks Yuxin, I've approved your fix PR.

I will investigate what we can do about checking CUDA errors where they happen. The correct way to prevent CUDA errors from tunneling to other places is to check cudaGetLastError after each kernel launch. Most kernel launches don't currently do that. We are considering adding infrastructure code that all kernel launches would go through, which would allow

[2018-11-27 20:01] ymodak commented on #23979
Thanks @yongtang for taking a look. Previously I failed to check with nightly version. However I checked with TF nightly version : '1.13.0-dev20181108' now and the issue seems to be fixed. Will wait for @cataclysmus confirmation.

[2018-11-27 20:11] ymodak commented on #23953
It looks like you are falling short of GPU memory for your computation.
Try reducing the batch size and shut down all other processes which engages gpu memory.

[2018-11-27 20:19] royp84 commented on #23960
Please help me

[2018-11-27 20:32] aselle commented on #23932
This is a known limitation currently.

[2018-11-27 20:34] aselle commented on #23926
Can you provide the exact makefile path you are looking at?

[2018-11-27 20:37] aselle commented on #23890
What models are you using can you provde links? It sounds like the conversion didn't work properly. Did the person that gave them you test them with the tflite interpreter? You can dump a graphviz representation of the model using TocoConvert if you have the original savedmodel or .pb tensorflow model.

[2018-11-27 20:41] pglushkov commented on #23926
Hi!
this one : https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/make/Makefile

[2018-11-27 20:46] aselle commented on #23899
@miaout17 , do you have any ideas?

[2018-11-27 20:47] aselle commented on #23926
Yes, that is an oversight, your fix is correct. Thanks!  If you submit a PR that would be awesome!

[2018-11-27 21:02] aidanw95 commented on #23780
I st

[2018-11-27 21:04] aidanw95 commented on #23780
Those are created by sess.run(train) where train is GradientDescentOptimizer.minimize. So tensorflow is generating them, not me.

Also I should update that I rolled back to tensorflow 1.8 (haven't tried 9, 10, or 11 just due to lack of time) and the error no longer comes up.

[2018-11-27 21:05] ppwwyyxx commented on #21338
Thanks @chsigg!

[2018-11-27 21:07] aidanw95 commented on #23780
Issue close was accidental

[2018-11-27 21:09] ZF-AR commented on #23814
Indeed, it's from the output from layer ResizeBilinear_3 to get the class probabilities, albeit there are negative numbers and numbers much bigger than 1.

My followup question is whether we know the range, i.e. smallest negative value and largest positive value, in order to properly normalize? Or simply apply softmax?
@aquariusjay @jtavrisov

Thank you!

[2018-11-27 21:12] alextp commented on #23780
What is ArithmeticOptimizer in your code? These ops don't look like they were added by TF's backward pass.

[2018-11-27 21:13] alextp commented on #23780
Hm this might come from grappler.

[2018-11-27 21:15] alextp commented on #23780
@rmlarsen I see that the memory optimizer adds temporaryvariable. This is not safe to do inside a while loop because the temporaryvariable op has weird issues with the resource manager.

[2018-11-27 21:16] SunnyNagam commented on #23961
Downgrading to CUDA==10 and tensorflow-gpu==1.10 has fixed my problem. Thank you for the help!

[2018-11-27 21:16] #23961 closed

[2018-11-27 21:21] torinaki commented on #23659
I have the similar issue when trying to reuse already compiled keras model and convert it into TPU model:
[code]
I can be reproduced with ["Predict Shakespeare with Cloud TPUs and Keras"](https://colab.research.google.com/github/tensorflow/tpu/blob/master/tools/colab/shakespeare_with_tpu_and_keras.ipynb#scrollTo=VzBYDJI0_Tfm) example.
Changed code cell:
[code]

[2018-11-27 21:54] reger-men commented on #21522
@asimshankar Thank you for the clarification.
I have considered what you have described and yet the memory allocation was well above the theoretical value.

Let us look at the following example (Btw, I have already uploaded it under Cifar10 Branch):
At https://github.com/reger-men/PSPNet-Tensorflow-ModelParallelism/blob/cifar10/include/model.py#L26

With consideration of the input (`10x32x3x32x32`

[2018-11-27 21:55] aaroey commented on #23853
@pooyadavoodi may have an idea for the crash problem.
Also, @yegord do you have a repro for that? Thanks.

[2018-11-27 22:00] xjcl commented on #12326
I've been trying to get [CSGNet](https://github.com/Hippogriff/CSGNet) to run using [conda](https://conda.io/) and keep getting this error. I've even installed Arch Linux to get the newest version and  it's still occurring.

[2018-11-27 22:35] yegord commented on #23853
If you have a hypothesis — shoot, I will check it.
If the cause is not that clear, I will make a minimal example, but it will take another day or so.

[2018-11-27 22:55] autoih opened #24009 "Keras feature DropConnect"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.1.0 (Keras version: 2.2.2)
- Are you willing to contribut

[2018-11-27 23:05] gunan commented on #23967
@ghltshubh could you try running `sudo apt-get install libhdf5-dev` first, then `conda install h5py`, finally install tensorflow?

[2018-11-27 23:14] samikama commented on #23853
@yegord I thought TF_SessionRun() is not thread-safe.

[2018-11-27 23:19] ghltshubh commented on #23967
@gunan I am on a shared system. Don't have sudo access.

[2018-11-27 23:20] freedomtan commented on #23966
I updated my script, added some description, and sent a PR https://github.com/tensorflow/tensorflow/pull/23994

[2018-11-27 23:36] ymodak commented on #23961
You mean downgrading to CUDA 9.0 right?

[2018-11-27 23:41] ymodak commented on #24000
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2018-11-27 23:48] ymodak commented on #23999
I was able to run your code snippet successfully in TF 1.10 and above. It doesn't look like TF related issue.I also increased N to a large number. This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2018-11-27 23:49] tfboyd commented on #22706
Took my 15 days to followup, sorry.  This is the timeline I am seeing right now:

- CUDA 10 in the nightly builds mid-DEC if testing goes well
- CUDA 10 in official in mid-JAN due to the holiday break I would guess TF 1.13 (1.12 is out already)

I am adding this to the original post above as well.

[2018-11-28 00:01] pooyadavoodi commented on #23853
Could you reduce `max_workspace_size_bytes` and also use `allow_growth` in the session config and see if the problem persists.

[2018-11-28 00:06] ebrevdo commented on #23906
Please provide a **small** reproducible snippet of the problem.

[2018-11-28 00:12] asimshankar commented on #23853
@samikama : `TF_SessionRun` is thread-safe (and op kernels are supposed to be too).

[2018-11-28 00:17] #24000 closed

[2018-11-28 00:20] gunan commented on #23967
On my system, I had to do that first to make the header "hdf5.h" available.
In this case, if you cannot ask your administrator to install this, you may need to build h5py from sources manually following these instructions:
http://docs.h5py.org/en/latest/build.html#source-installation-on-linux-other-unix

You will need to download and unpack libhdf5 locally, and point the python package to that.

[2018-11-28 00:42] ghltshubh commented on #23967
It's a lot of work. I will have to use anaconda instead. Just to mention I tried building tf 1.8 initially on power8 and P100 system which is little outdated now but the build installed fine using the same miniconda with python 3.5. But when I tried to install the tf 1.12 build on a newer system using same miniconda on power9 and V100 with python 3.6 it failed. Does it have something to do with th

[2018-11-28 00:50] sumitbinnani commented on #22129
I can submit a PR with my solution. But I believe that chaining would be a better way to go about it.

[2018-11-28 01:01] SunnyNagam commented on #23961
Yes i did sorry

[2018-11-28 01:37] ymodak commented on #23613
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-28 01:37] #23613 closed

[2018-11-28 01:49] maitreya2954 commented on #22345
@aselle
Disabling XLA worked for me.
Thanks

[2018-11-28 01:53] ymodak commented on #23984
@gunan Can you please take a look?

[2018-11-28 02:07] dearchill commented on #20444
Got this, thx! Worked for me, same warning with no difference.

[2018-11-28 02:08] #23731 closed

[2018-11-28 02:32] whatbeg commented on #21830
@yupbank yeah, thanks, I am using it. looking forward to your early success : )

[2018-11-28 02:38] #23987 closed

[2018-11-28 02:41] nvda-chargr commented on #8802
The problem I have with is if I build and publish my own wheel internally, and use an extra-index-url to my pypi repo, the public pypi 'manylinux1' will be selected by pip over a 'linux' wheel.  If the published wheels were truly manylinux1, I wouldnt need to build my own.

[2018-11-28 02:44] aidanw95 commented on #23780
ArithmeticOptimizer comes from running GradientDescentOptimizer.minimize as well. I'm running train in a few nested python for loops. I figured that's super typical, but should I be making a list of inputs and feeding them in with one call instead?

If anyone's interested you can see exactly what I'm running here. I already uploaded the network on a different account. https://github.com/awoods12/S

[2018-11-28 04:06] mpadams commented on #23941
Thank you for the reply.  Below is the output.

I will be back on the computer tomorrow.  I will try doing a fresh re-install of my NV driver and report back afterwards.

sudo dmesg
[    0.000000] microcode: microcode updated early to revision 0x20, date = 2018-04-10
[    0.000000] Linux version 4.15.0-33-generic (buildd@lgw01-amd64-010) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.10)

[2018-11-28 05:05] sthuthyraj opened #24012 "java.lang.RuntimeException: Native TF methods not found; check that the correct native libraries are present in the APK."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2018-11-28 05:41] Wade129 commented on #23966
@freedomtan Thanks for your answer and your update! It is worked now!
And after this, I plan to run the MobileNet_SSD, object-detection network using tflite in my raspberrypi to detect object the raspberrypi camara,
It is my temporary idea. Before I knew of tflite, I had already used tensorflow+opencv+ssd_mobilenet_v1_coco in my raspberrypi to detect object using raspberrypi camara without any gpu

[2018-11-28 05:45] anandh02 commented on #23984
Now i'm getting this error too,

Traceback (most recent call last):
  File "C:\Users\User\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\User\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>

[2018-11-28 05:58] johnpjust commented on #23973
Sure and thank you!  Note this is my first time collaborating on code so please let me know if there's anything i can do to make my "hack" more easily understandable (or clarify anything).

[TFexternalOptimizer_earlyStoppingHack](https://gist.github.com/johnpjust/8629b36ecbe4387d39da821a5aeb2d3c)

[2018-11-28 06:11] achowdhery commented on #23714
If you run export_tflite_ssd_graph.py with the --add_postprocessing_op=false, then you can remove the custom op that will enable you to use NNAPI

[2018-11-28 06:12] achowdhery commented on #23689
Thanks for the feedback. We are checking on our end. Was this working in the Tensorflow version 1.11 and stopped working recently?

[2018-11-28 06:15] achowdhery commented on #23966
We have recently released the script to build the TF Lite target on Raspberry Pi
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/make/build_rpi_lib.sh

Please let us know if you are stuck in any step there.

[2018-11-28 06:36] martinwicke commented on #23967
This actually looks rather like a bug in the h5py package (missing a header it needs). I suggest taking it up with them.

The reason it worked on 1.8 is probably because TensorFlow didn't have the h5py dependency back then. Note that TensorFlow will still work fine *except for loading/saving Keras models in Keras' native format* if h5py is not installed. So worst case, you could tell pip to not in

[2018-11-28 06:37] martinwicke commented on #23967
(I will close this, feel free to reopen if it turns out we can do something more about this on the TensorFlow side)

[2018-11-28 06:37] #23967 closed

[2018-11-28 06:54] vishalghor commented on #23763
@allenlavoie  with the method suggested will i be able to access weight matrix by their name and use it . How does inference in eager execution is achieved with checkpoint files.
Kindly help me with this. in the same time i will try the method suggested by you.

[2018-11-28 06:56] justinshaohi commented on #14857
@jcomfort4 cool answer!thanks.

[2018-11-28 07:14] sddi commented on #23557
Hello, I met the same problem, my TF version is 1.3. Anybody could help us solve the problem?

[2018-11-28 07:19] BunnyJumps commented on #23286
No, everything works fine. On
`Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2018-11-28 07:52] epaqu commented on #23961
Can confirm. Tensorflow-GPU 1.10 with CUDA 9.0 works for me as well.

[2018-11-28 07:55] Noltibus commented on #23766
Ok: on the first Try, I tried to run it with the gradle dependency ` 'org.tensorflow:tensorflow-lite:+' ` , which results in a native SIGSEV at app start. I already discovered that problem, which only happens if I use TfLite with the model I provided. In my app I use two different TfLite models, where the other one is the MobileNet SSD TfLite from the example TfLite app from the tensorflow reposit

[2018-11-28 08:02] na6an commented on #17393
Win 10 64bit. python 3.5.2, CUDA 8.0, cuDNN v5.1 still having DLL load failed on both tensorflow-gpu 1.10 and 1.12. Other setups tested including python 3.6.7, CUDA 9.0/10.0, cuDNN 7.4.1 for 10.0, 7.4.1/7.3.1 for 9.0.  Confirmed msvcp140.dll, added cuda/bin, include, lib paths, made a copy for both cudnn64_5.dll and  cudnn64_6.dll, reinstalled python with Tcl/Tk, etc. Nothing worked so far.

I eve

[2018-11-28 08:08] JayYip opened #24013 "MirroredStrategy not work with estimator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): Docker
- TensorFlow version (use command below): 1.12.0-rc0
- Python version: 3.5.2
- CUDA/cuDNN version: V9.0.176
- GPU model and memory: TITAN Xp

**Descr

[2018-11-28 08:16] freedomtan commented on #23966
@Wade129 With [benchmark_model for TF Lite](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark), you can see that, with num_threads=4, it takes about 150 ms to do inference for earch frame. If the number (~ 150 ms) is not good enough, then what you could do on CPUs is to  improve CONV_2D and DEPTHWISE_CONV_2D.

[2018-11-28 09:09] cataclysmus commented on #23979
@yongtang @ymodak Checked. No bug at the build `1.13.0-dev20181128`

[2018-11-28 09:09] #23979 closed

[2018-11-28 09:09] SiLiKhon commented on #23999
@ymodak Thanks a lot for looking into this. Then probably it's a problem of anaconda. So far I'm ok using 1.11. If I need 1.12 I'll first try not using the anaconda build.

[2018-11-28 09:18] blaueck commented on #22687
I think the commit is 1d1ec99bd3b322ea35a2d3d0eb754589ec2fd512.

[2018-11-28 09:53] arthur-gal commented on #20930
@saeta do we have an update on this ?

[2018-11-28 09:55] HackersSpirit commented on #22047
@gittyupagain : Can you please sample syntax of how to create_def_file.py. Your explanation is very clear but getting error of file cannot be found

[2018-11-28 10:01] luke321321 commented on #22699
I also have the same issue on Windows 10 64bit.  I have tried with v1.12.0-gpu, tf-nightly 1.13.0.dev20181128, tf-nightly-gpu 1.13.0.dev20181127 and built from source with gpu enabled from git commit 567c0692de but all have no registered kernels for SparseMatMul.

[2018-11-28 10:35] Mohammed-Shoaib commented on #23983
Hi,

I went to the issue before as well, I tried the steps again. According to the solution, I added cuda to my path variable.
According to @mrry I was also supposed to add cuda\bin to my path variable. However, cuda\bin was not present in the cuda directory I had. So I decided to reinstall everything.

Installed cuda toolkit 9.0 and with it I installed cuDNN 7.0.5, followed the steps according to

[2018-11-28 10:37] shyamStarwalt commented on #18482
File "C:\Users\DMLaptopWindows1\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import
  File "C:\Users\DMLaptopWindows1\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\__init__.py", line 59, in <module>
    from tensorflow.core.framework.graph_pb2 import *
  File

[2018-11-28 10:54] testlump commented on #17393
You might find it's best to recompile from source. This resolved the issue for me (see below for more information).

Here are some things I found compiling on Windows 10 with GPU support:

- Check your CPU instruction set supports AVX with [CPU-Z](https://www.cpuid.com/softwares/cpu-z.html) or an equivalent tool. If this isn't present (E.g. you're running an older CPU), you'll likely need to recom

[2018-11-28 11:52] kirthika-m commented on #23410
I keep getting this error too, but while running object detection training using model_main.py. I also get a very similar error when training using legacy/train.py. Here is my error:

Traceback (most recent call last):
  File "object_detection/model_main.py", line 109, in <module>
    tf.app.run()
  File "/Users/Kirthika/Documents/gitroot/MODvenv/lib/python3.7/site-packages/tensorflow/python/platf

[2018-11-28 12:12] kargarisaac commented on #14688
@jefhai  @andrehentz
Sorry for late response. No I couldn't do that. I used the freezed .pb file for android and converted it to use it in coreml for ios.

[2018-11-28 13:08] santhoshav15 commented on #15604
[CUDA 9 isn't supported on Ubuntu 18.04 according to official website](https://developer.nvidia.com/cuda-90-download-archive?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu)

[Tensorflow doesn't support anything above CUDA 9 according to the official website](https://www.tensorflow.org/install/gpu)

Can we get an official CUDA 10 support for tensorflow soon?

[2018-11-28 13:58] HackersSpirit commented on #22047
Hello @gittyupagain : I tried to build the tensorflow as per the instructions and i am getting the following error:
ERROR: C:/tensorflow-r1.8/tensorflow/BUILD:502:1: Linking of rule '//tensorflow:libtensorflow_cc.so' failed (Exit 1107)
LINK : warning LNK4044: unrecognized option '/pthread'; ignored
LINK : warning LNK4044: unrecognized option '/ldl'; ignored
LINK : warning LNK4044: unrecognized opt

[2018-11-28 13:58] pglushkov commented on #23926
Dear Andrew, I'd love to finish the pull-request, but unfortunately Google Bot does no allow me to get past the 'sign the CLA' stage. I've double checked all my e-mails and etc - still cannot find the reason.

[2018-11-28 14:42] Luonic commented on #22889
@patzm I think cloud providers test thier instances for compatibility (at least GCP, AWS do I think). And you can always disable it with grub config as @jnd77 did.

[2018-11-28 14:44] DEKHTIARJonathan commented on #23939
Exact Same issue when building a Docker Image:

[code]

[2018-11-28 14:51] ZaharAd commented on #3628
Same problem
I trined GooglNet model and get the error when importing a frozen graph

`ValueError: Input 0 of node save/Assign_41 was passed float from auxiliary_classifier_1/classifier/biases/Adam_1:0 incompatible with expected float_ref.
`

None of the answers I found on the net do not answer this specific situation, where the problem is in the save op and Adam optimizer

[2018-11-28 15:10] yegord commented on #23853
Does not look like an OOM, because reducing the input image size by a factor of many (6-fold or so) does not fix it.

Already there.

Reducing from 4*10**9 to 2*10**9 does not make the crash go away.

I'll be back with a repro then.

[2018-11-28 15:30] ychfan commented on #19903
Based on [current implementation](https://github.com/tensorflow/tensorflow/blob/f382bd6279141fe169e5aa8ab0867f18840ee037/tensorflow/python/training/warm_starting_util.py#L335), if a list of regex is passed as `vars_to_warm_start`, then all matched variables in GLOBAL_VARIABLES will be restored. I think the easiest way to restore everything is `vars_to_warm_start=['.*']`

[2018-11-28 15:36] jakublipinski commented on #23706
Thank you @miaout17 ! It also helped me a bit but I'm still struggling with [a related issue](https://stackoverflow.com/questions/53364001/tensorflow-lite-ios-camera-example-does-not-work-with-retrained-mobilenet-model). Could you please take a look? Thanks.

[2018-11-28 15:39] anandh02 commented on #23984
I fixed the issue, thanks for the help  :)

[2018-11-28 15:39] #23984 closed

[2018-11-28 16:06] yongtang commented on #21964
Added a PR #24018 for the fix.

[2018-11-28 16:17] Nayana-ibm commented on #23976
@gunan Could you please  suggest some workaround here?

[2018-11-28 16:22] gunan commented on #23976
I think we need to change this line to add checks for platform s390x:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/__init__.py#L29

Would you like to create a PR and assign it to me?

[2018-11-28 16:33] tamusjroyce commented on #22
There is a TensorRT that supports Movidius Pi Hat. And that Movidius Pi Hat is Google’s $45 “AIY Vision Kit”. Google links to Target to buy it.

This doesn't have any ties to CUDA or Nvidia. Anyone know anything more about it?

[2018-11-28 16:46] ghltshubh opened #24020 "[ppc64le] Getting error installing a custom tensorflow wheel on Power8 with NVIDIA P100 with anaconda3"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
LSB Version:	:core-4.1-noarch:core-4.1-ppc64le
Distributor ID:	RedHatEnterpriseServer
Description:	Red Hat Enterprise Linux Server release 7.4 (Maipo)
Release:	7.4
Codename:	Maipo

- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.8
- Python version: 3.6.5
- Installed using virtualenv? pi

[2018-11-28 17:06] benmyara opened #24022 "Offset when rotating image and points by the same random angle"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 14.04, Os X 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): conda and pip
- TensorFlow version (use com

[2018-11-28 17:17] #24022 closed

[2018-11-28 17:33] shashishekhar commented on #23457
jdduke@ for Java API feedback.

[2018-11-28 17:35] harshini-gadige commented on #24020
@ghltshubh  Hi, please use latest tensorflow version with Bazel 0.15.

[2018-11-28 17:37] nwestlake commented on #23990
I found the only issue was the need to change check_for_unused_update_ops to False in [tensorflow/contrib/gan/python/train.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/gan/python/train.py)

Of course the code to that, without changing the source, is very long:

    # Custom estimator classes
    class GanEstimatorTowerOpSafe(tf.contrib.gan.estimator.GANEstimator):

[2018-11-28 17:51] schliffen commented on #17191
I think in this case using tensorflow stuff here makes problem! (at least I tried and got error).

[2018-11-28 17:53] ymodak commented on #23984
Glad it worked for you. Can you please comment below the steps you followed? Thanks!

[2018-11-28 18:04] harshini-gadige commented on #24020
@wdirons   PTAL as this is related to power8

[2018-11-28 18:20] ymodak commented on #23852
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2018-11-28 18:30] Umar-Ayub opened #24023 "ValueError: tf.enable_eager_execution must be called at program startup."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
NA
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
1.12.0
-

[2018-11-28 18:30] na6an commented on #17393
@testlump I appreciate the detailed help. I actually attempted to compile from source first because the original pip install didn't work. Then, I soon realized fixing pip install could be easier than setting up the environment to build from source. Now it's circling back to source compiling again... I didn't want to run this on Ubuntu because the package dependency is pretty messed up there alread

[2018-11-28 18:31] erley commented on #23673
On my Debian GNU/Linux 9.6 (stretch) I installed prerequisities:
- nvidia-driver 390.87 (official repo)
- Nvidia CUDA toolkit 9.1.85 + libcublas9.1 (official repo)
- libcudnn7 7.1.3.16-1 for cuda9.1 (via deb file)
- libnccl 2.1.15 for cuda 9.1 (via deb file)
- bazel 0.19.2 (official google repo)
- and usual python libs via pip

Then cloned Tensorflow sources, switched to its **r1.12** branch, run

[2018-11-28 18:40] wdirons commented on #24020
@ghltshubh, can you attach the full build log as a file. I don't think I'm seeing the real error in the output above.  I do know for TensorFlow 1.8 this fix had to be cherry-picked in. https://github.com/tensorflow/tensorflow/commit/8f8a3c5151a674b3496691af49c3aa063841f292

[2018-11-28 18:41] aselle commented on #23926
I'm happy to make the one line fix on your behalf since it is so small if
you are ok with that.

Also, please check the troubleshooting if you haven't
https://opensource.google.com/docs/cla/#troubleshoot

-A

On Wed, Nov 28, 2018 at 5:59 AM pglushkov <notifications@github.com> wrote:

[2018-11-28 18:43] pminervini opened #24024 "AttributeError: 'IndexedSlices' object has no attribute '_copy'"
Hello,
This is puzzling, as this only happens with `tensorflow-gpu` version 1.12.0 -- `tensorflow` version 1.12.0 works flawlessly (both on GNU/Linux and OSX).

[code]

[2018-11-28 18:45] haslo commented on #19464
I had this problem here, fixed it by installing `libc-ares-dev`, then ran into #23402 which was fixable with https://github.com/tensorflow/tensorflow/issues/23402#issuecomment-436932197. Thanks to everybody involved for fixing things when they break!

[2018-11-28 18:57] tensorflowbutler commented on #16593
Nagging Assignee @joel-shor: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:57] tensorflowbutler commented on #19293
Nagging Assignee @achowdhery: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:57] tensorflowbutler commented on #19679
Nagging Assignee @chsigg: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:57] tensorflowbutler commented on #20120
Nagging Assignee @jart: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #20157
Nagging Assignees @smit-hinsu, @aaroey: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #20305
Nagging Assignee @tatatodd: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #20461
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-28 18:58] tensorflowbutler commented on #20761
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #20915
Nagging Assignee @smit-hinsu: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #20916
Nagging Assignee @bignamehyp: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] fzhu129 commented on #21962
@alanchiao : Have you added one of the speech models with both float and quant models? Where I can find it? And also would like to know how to do quant models(some hits) for lstm or transformer? Thank you very much in advance.

[2018-11-28 18:58] tensorflowbutler commented on #21022
Nagging Assignee @jpohanka: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #21213
Nagging Assignee @jdduke: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #21614
Nagging Assignees @fchollet, @tanzhenyu: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #21797
Nagging Assignee @cy89: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:58] tensorflowbutler commented on #21811
Nagging Assignee @fchollet: It has been 95 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #21974
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-28 18:59] tensorflowbutler commented on #22266
Nagging Assignee @josh11b: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #22304
Nagging Assignee @reedwm: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #22379
Nagging Assignee @sguada: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #22459
Nagging Assignee @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #22846
Nagging Assignees @petewarden, @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #23077
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #23131
Nagging Assignee @liyunlu0618: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 18:59] tensorflowbutler commented on #23134
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23156
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23166
Nagging Assignee @wt-huang: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23187
Nagging Assignee @liyunlu0618: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23434
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23436
Nagging Assignee @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23464
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23482
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-11-28 19:00] tensorflowbutler commented on #23595
Nagging Assignee @azaks2: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23604
Nagging Assignee @azaks2: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23610
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:00] tensorflowbutler commented on #23621
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23656
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23678
Nagging Assignee @ymodak: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23701
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23709
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23713
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23716
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:01] tensorflowbutler commented on #23722
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-28 19:06] gunan commented on #23436
The build seems to have succeeded, but this is an issue with using keras callbacks.

[2018-11-28 19:06] wdirons commented on #24020
I don't think it is related to the failure, but should use:

`export CC_OPT_FLAGS='-mcpu=power8 -mtune=power8'`

for the CC_OPT_FLAGS

[2018-11-28 19:07] mortendahl commented on #21974
In the end we solved our issue via a custom op.

[2018-11-28 19:10] gunan commented on #23434
I do not really have experience with grpc server. @mrry any ideas?
I think this line is the actual error message (reformatting for readability):
[code]

Maybe a socket is being reused somehow?

[2018-11-28 19:11] proteneer opened #24025 "Does XLA GPU ptxas recompile on each session.run()?"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link: https://www.tensorflow.org/xla/tfcompile

**Describe the

[2018-11-28 19:12] aselle commented on #23937
ResizeNearesetNeighbor neighbor has been added (try the nightly or source). Abs is  currently being worked on internally and should hopefully land in a few days.

In the meantime you can try TensorFlow Lite with Select TensorFlow ops
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/using_select_tf_ops.md

[2018-11-28 19:13] harshini-gadige commented on #23436
@fchollet  Any inputs on this please ?

[2018-11-28 19:21] ymodak commented on #22993
@maverik-akagami Apologies for the delay in response. The markdown files have been moved to tensorflow/tensorflow/lite/g3doc/convert/. I will close this issue due lack of activity. I recommend to open a new issue from [here](https://github.com/tensorflow/tensorflow/issues/new/choose) by providing all the information asked by the template. Thanks!

[2018-11-28 19:21] #22993 closed

[2018-11-28 19:24] harshini-gadige commented on #24023
@Umar-Ayub  Can you please try in the [colab](https://colab.sandbox.google.com/drive/1rCTY1pv9jRG1_SxsOCNlZZRiEYZP5NF5) and let us know if you see the same error ?

[2018-11-28 19:35] utkarsh-VRL opened #24026 "Abs operator not implemented?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora release 28
- TensorFlow installed from (source or binary): binary (conda)
- TensorFlow version (or github SHA if from source): '1.13.0-dev20181127'

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Inc

[2018-11-28 19:36] #23695 closed

[2018-11-28 19:41] Umar-Ayub commented on #24023
Eager Execution is working fine. I was importing a python module which had keras models inside it and that's why the code was failing since placeholders were being defined in that module.

[2018-11-28 19:41] #24023 closed

[2018-11-28 19:41] ivan-marroquin commented on #23434
Is it possible that the grpc server only works on Linux based systems?

[2018-11-28 19:41] aaroey commented on #23467
@smit-hinsu

[2018-11-28 19:45] harshini-gadige commented on #24026
@utkarsh-VRL  Please refer [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/tf_ops_compatibility.md) which gives information about supported ops by TF Lite.

[2018-11-28 19:49] znmeb commented on #22
I know quite a bit about the big Movidius unit - it's inference only and it runs either TensorFlow or Caffe pre-compiled models. IIRC they're all in 16 bit mode.

The Movidius chip itself is much more powerful but you have to be a qualified partner to get the SDK.

[2018-11-28 19:50] jayfurmanek commented on #24020
Another note on the keras add-ons. Since you are using Anaconda, instead of pip you can just:
`conda install  keras-applications`
`conda install keras-preprocessing`

[2018-11-28 19:56] pglushkov commented on #23926
Sure, please do, I'm totally ok.

[2018-11-28 20:13] ferronsnicola opened #24027 "Duplicated variable names with inner tf.keras.layers.Dense layers in eager mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL7 3.10.0-862.11.6.el7.x86_64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): conda
- TensorFlow version (use comman

[2018-11-28 20:17] bhack commented on #24009
https://github.com/keras-team/keras/pull/9898#issuecomment-380590161

[2018-11-28 20:19] adv-ai-tech commented on #15604
Stupid solution

[2018-11-28 20:19] bhack commented on #23041
@martinwicke @ewilderj This is just another bidirectional case example: https://github.com/tensorflow/tensorflow/issues/24009 VS https://github.com/keras-team/keras/pull/9898#issuecomment-380590161.
Could  we have divergent opinions?

[2018-11-28 20:21] bhack commented on #24009
/cc @abrad1212 let's see if it will enter from the `tf.keras` backdoor :wink:

[2018-11-28 20:39] #23926 closed

[2018-11-28 20:43] #23779 closed

[2018-11-28 20:54] proteneer commented on #24025
To add more information, it looks like putting the dequeue op inside a tf.while_loop() still triggers XLA recompiles.

[2018-11-28 21:02] sadatnfs commented on #23758
@gunan reopening because it's back again.. :(

[2018-11-28 21:04] mrry commented on #23434
The gRPC code works on Windows. As @gunan suggested, that error message indicates that you have something else on your system using the same port as you requested for the server.

[2018-11-28 21:17] utkarsh-VRL commented on #24001
I have the same issue trying to convert model using select ops, as described in:
[https://github.com/tensorflow/tensorflow/issues/21526](https://github.com/tensorflow/tensorflow/issues/21526)

Command that I tried:
`
converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]
`

**OS:** Linux Fedora release 28
**TF version:** 1.13.0-dev20181127 (binary from conda)

[2018-11-28 21:43] gunan commented on #23758
I think you need to build with GCP support on x86 system to avoid running into this problem
on ppc, we will slve this by disabling access to tf.contrib.cloud as described in #23976

[2018-11-28 21:50] sadatnfs commented on #23758
Aha! I just started the bulid with GCP, will report back! THanks!

[2018-11-28 22:29] ssubraveti opened #24028 "TensorFlow estimator train_and_evaluate loss is None after step 0 and model does not train"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2018-11-28 22:47] #21213 closed

[2018-11-28 23:09] mahmoud-abuzaina opened #24029 "Inference Accuracy Regression for Resnet50 and Densenet"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NA
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Centos 7.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): mast

[2018-11-29 00:48] alperegitmen commented on #18652
I have an exact same issue on windows 8.1, cuda 9.0 and cuDNN 7.3.1, python 3.6.0
My gpu is gtx 1060.

[2018-11-29 01:35] xiahaobo commented on #23191
@gunan But there are other problems, I compile under window 7, should generate tensorflow_jni.dll, but generate tensorflow_jni.so.
I run the code at MS-DOS
[code]

[2018-11-29 01:43] Yongyao commented on #21832
@mforde84 Would you mind sharing how you upgraded it?

[2018-11-29 02:06] Shanlans commented on #20241
It seems no one to answer. So I close it here.

[2018-11-29 02:06] #20241 closed

[2018-11-29 02:14] #23701 closed

[2018-11-29 02:29] benjamintanweihao commented on #22514
@dhingratul I think @samikama means setting the `minimum_segment_size` to a larger number like `50`. However, that doesn't work for me. :man_shrugging:

[2018-11-29 02:37] noahstier opened #24030 "Windows Bazel build fails when using TF_SYSTEM_LIBS"
**System information**
- OS Platform and Distribution: Windows 10 Pro
- TensorFlow installed from: source
- TensorFlow version: 1.11
- Python version: 3.5.5
- Installed using: conda
- Bazel version: 0.15.1
- GCC/Compiler version: Visual Studio 14.0
- CUDA/cuDNN version: 9.0
- GPU model and memory: NVIDIA GeForce GTX 960

**Describe the problem**

I can build  Tensorflow 1.11 normally using Bazel o

[2018-11-29 02:48] zh794390558 commented on #23768
@andrehentz I have tried, and see #23799

[2018-11-29 03:05] marktayl1 opened #24031 "ImportError: module could not be found - Windows 10"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.17134.407
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 1.12.0
- Python version: 3.6.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source

[2018-11-29 03:05] whatbeg commented on #21830
hi, @yupbank, may I ask you a question? I found that setting the same base_random_seed for TensorForest generate different classification performance.
For example,
[code]

The base random seed is non-zero, it's supposed to produce the same result.
Thus, I wonder where else does the code have randomness?
Does this problem lead to a failure to reproduce the results?

[2018-11-29 03:17] Funaizhang commented on #13715
I face a similar problem, the traceback reproduced below. Any help is greatly appreciated!

Traceback (most recent call last):
  File "/Users/zhangnaifu/anaconda/lib/python3.5/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/Users/zhangnaifu/anaconda/lib/python3.5/site-packages/tensorflow/python/pywr

[2018-11-29 03:30] #23710 closed

[2018-11-29 03:32] benjamintanweihao opened #24032 "TFTRT and `tf.keras.application.ResNet50` INT8 and FP32 not working"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2018-11-29 03:32] ghltshubh commented on #24020
@jayfurmanek conda install keras-applications doesn't work.
[code]

@wdirons here is the full build log you asked for(I used bazel 0.11.1 but that doesn't matter the error is still the same):
https://gist.github.com/ghltshubh/68784ff142390c4c52bc1061f62e1533

[2018-11-29 03:36] lxl910915 commented on #21745
same issue for me too

[2018-11-29 03:38] gordon-n-stevenson commented on #19679
For compilation of CUDA 10.0 and Tensorflow 1.8 I had to perform the same trick as @tanguofu renaming the LICENSE.txt file and copying it into the main CUDA 10 directory. Although I feel @jimfcarroll's fix is probably more sensible.

[2018-11-29 03:50] oscarriddle opened #24033 "[TF1.12][graph_transforms] The INT8 performance test of graph_transforms for inceptionv3 model, GPU utilization extremely low."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12
- Python

[2018-11-29 03:51] JayYip commented on #24013
It seems `Estimator._distribution` is deprecated since r1.10 and replaced by `Estimator._train_distribution` and `Estimator._eval_distribution`. So I did modified the estimator.py as following:

From:
[code]
To:
[code]

Dose this workaround correct? Thanks in advanced.

[2018-11-29 03:59] JayYip commented on #23986
Some work around is, you can first create a checkpoint with warm start from BERT using one GPU, say, train 10 steps. Then disable the scaffold(or the warm start init op) and do multiple GPU training. It's ugly, but works.

First run with single GPU:
[code]

Second run with MirroredStrategy:
[code]

[2018-11-29 04:33] dhingratul commented on #22514
@benjamintanweihao I have varied it from 1 to 9999, doesn't work.

[2018-11-29 04:43] benjamintanweihao commented on #23958
As you can see from https://pypi.org/project/tf-nightly-gpu/#files, the `tf-nightly-gpu` only contains builds for Linux based systems.

[2018-11-29 04:47] benjamintanweihao commented on #23956
You could try building from source but it would be easier to just use Python 3.5/3.6 instead. Is there anything that is stopping you from doing that?

[2018-11-29 04:49] benjamintanweihao commented on #22514
@dhingratul Yeah, I have created an issue https://github.com/tensorflow/tensorflow/issues/24032 for something similar to what you are facing too.

[2018-11-29 04:56] jayfurmanek commented on #24020
look for `keras-applications` and `keras-preprocessing`

[2018-11-29 05:05] guizili0 commented on #23970
Any updates?

[2018-11-29 05:16] jayfurmanek commented on #24020
Installing those from Anaconda will pull in `numpy` as well which should get you past that other issue.

I just did a couple builds on my P8/P100 box, similar to what you did above. I did see some cuda kernel errors when building against cuda8.0. I tried again against cuda9.2 and it built fine (assuming you have @wdirons patch, of course)

I'd recommend upgrading your cuda if you can. We really di

[2018-11-29 05:17] yupbank commented on #21830
which version are you using? this should have been fixed via https://github.com/tensorflow/tensorflow/commit/470305c95c6b607e87ca476e5a109e5993f3cf6f#diff-e8520a546dc972466f7f1c3923bcff6e

[2018-11-29 05:21] dingevin opened #24034 "the performance of tensorflow distributed"
I have trained a speech recognition network using tensorflow both on multi-gpu and distributed. there is some question that i have been puzzled a long time. that's my [code,](https://github.com/dingevin/distributed-training) when i'm training i faced two questions:
1. **the accuracy of distributed not equal to multi-gpu**. in multi-gpu version, i use 2 gpu and training 8000 steps, the accuracy can

[2018-11-29 05:23] xun6000 opened #24035 "how to take out the output of a layer"
I am using the code from here:
https://www.tensorflow.org/tutorials/estimators/cnn
how to take out the output of pool2_flat?

[2018-11-29 05:54] jackwish commented on #23800
PR #24036 addresses Conv's issue. We will look into other precision issue later.

[2018-11-29 06:13] ghltshubh commented on #24020
I don't have cuda 9.2 on power8 but cuda 9.0 instead. I will try with 9.0 and hope it works.

[2018-11-29 06:20] lxn179208 commented on #18737
@sj6077 how do you solve it?

[2018-11-29 06:21] mrry commented on #23286
Can you also try executing `from google.protobuf import descriptor` and let us know if that produces the same `ImportError`?

[2018-11-29 06:34] ghltshubh commented on #24020
@wdirons @jayfurmanek why am I getting
[code]

[2018-11-29 06:48] whatbeg commented on #21830
OK, @yupbank , the version is 1.12.0, and I still can see this bug : )

[2018-11-29 06:56] ymodak commented on #24031
Duplicate of #23726

[2018-11-29 06:58] ymodak commented on #24035
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-11-29 06:58] #24035 closed

[2018-11-29 06:59] whatbeg opened #24040 "TensorForest: the base random seed takes no effects"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2018-11-29 07:06] EternalSaga commented on #23700
I tried to add these three macros, __mips__, __LP64__, OPENSSL_NO_ASM, into the CROSSTOOL file, the "unknown processor error" could be avoided but some more error will be encountered.

[2018-11-29 07:35] sj6077 commented on #18737
@lxn179208 I don't remember the issue exactly, but if you suffer similar problems you can check device of your variables by `log_device_placement` option in SessionConfig. Sometimes, some variables are assigned to each worker, then global init is not working.

[2018-11-29 08:11] henry860916 opened #24041 "Tensorboard embedding is not visible when filename contains 'plugins'"
Tensorboard embedding is not visible when filename contains 'plugins'.
While it works well after changing 'plugins' to other names any.
And, btw, graph is showing well even with 'plugins' file name.

[2018-11-29 08:14] ruthmd commented on #18457
We are trying to replace Eigen with our own modified BLAS on TensorFlow for CPU to use it for the matrix multiplication. Any ideas to solve this will be helpful. Thanks in advance.

[2018-11-29 08:15] henry860916 commented on #24041
I can not find tensorboard source code in tensorflow git.
So i raised code for fixing the issue in tensorboard git.
https://github.com/tensorflow/tensorboard/pull/1635

[2018-11-29 08:16] #24041 closed

[2018-11-29 08:33] qinjianGH commented on #20651
I came across the same problem, how did you solve it?

[2018-11-29 08:41] hzhyhx1117 commented on #20886
Got same problems.
The only solution is, as I think, is reconstruct your graph when you want to make evaluation.

[2018-11-29 08:43] HackersSpirit commented on #22047
@gittyupagain @Steroes :
I have tried to implement the solution as mentioned by you.
But still getting an error message.
**For Ex: Consider one of the error messages**
main.obj:-1: error: LNK2019: unresolved external symbol "public: __cdecl tensorflow::ops::MatMul::MatMul(class tensorflow::Scope const &,class tensorflow::Input,class tensorflow::Input,struct tensorflow::ops::MatMul::Attrs const &)"

[2018-11-29 08:44] duane-ibm commented on #22023
How do we build tensorflow with vectorization on Intel?
Do we need to enable it while configuring? Or do we specify some flags? Like how we do it on z13 and higher using the `--copt="-mzvector"` flag.

[2018-11-29 08:57] meteorcloudy commented on #23191
@xiahaobo You can just rename it to `tensorflow_jni.dll`, we haven't fix the extension on Windows, but the library is built as a DLL.

[2018-11-29 09:13] wangnet opened #24042 "ModelCheckpoint TypeError: get_config() missing 1 required positional argument: 'self'"
[comment]
Epoch 00001: loss improved from inf to 103.67410, saving model to /tmp/weights.hdf5
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-12-a8915ea6c3f5> in <module>()
     27
     28 #validation_data=(X_test,y_test),
---> 29 model.fit(X_train,y_train,epochs=2000,batch_size=1

[2018-11-29 09:19] zhcm commented on #12001
Any update to this feature?

[2018-11-29 09:36] outan commented on #20444
[code]

[2018-11-29 09:52] linsui commented on #22794
First I install
- CUDA 10.0
- cudnn 7.3
- tensorflow 1.12.0

and I got this error.
Then I uninstall tf 1.12 and install tf 1.10 . It ask me for cudart64.dll. I add it into path and tf works.
Then I reinstall tf 1.12 and all works well.

[2018-11-29 09:58] BunnyJumps commented on #23286
Yeah that one creates the error:
`
Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\\AppData\Local\Programs\Python\Python36\lib\site-packages\google\protobuf\descriptor.py", line 47, in <modul

[2018-11-29 11:10] #23977 closed

[2018-11-29 11:13] YinRui1991 commented on #6883
Hi, @apiszcz You should look the function "assign_from_checkpoint_fn ( ) ". Find code
"for var in var_dict:", the below codes will load each layer weights. You can print "var" to see all the layer names, and wirte codes to let the sess not load the layer which has different shape.

[2018-11-29 12:58] Tourenathan-G5organisation commented on #20832
I also have this problem which says "**tflite_convert: command not found**" . I'm running Ubuntu 18.04 and tensorflow 1.5

[2018-11-29 13:34] barrh opened #24043 "Pruning: Multi-GPU support"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): modified models/official/resnet/resnet_model.py to utilize Pruning's masked layers.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (sourc

[2018-11-29 13:41] byronyi commented on #24034
__the accuracy of distributed not equal to multi-gpu__: usually the case. Considering your batch size doubles if you use 2x number of GPU. You need to adjust your learning rate accordingly to reach the same convergence level.

__bandwidth is 125Mb/s, is not the bottleneck__: seems too rough. What's is your model size and how long does each step take? You may use networking bandwidth monitoring too

[2018-11-29 13:41] ElderOrb commented on #22643
@fengxueem I've tried your command with  both ndk18 and ndk19-beta but build failed in both cases. Moreover, your tensorflow path looks wrong: tensorflow/lite/tools/make/Makefile vs tensorflow/contrib/lite/tools/make/Makefile (for tensorflow 1.11 / 1.12). Also, toolchain prefix is non-standard too... Could you please provide a bit more details on how to create such environment? What are exact vers

[2018-11-29 14:10] cabahug2 commented on #23689
Seems to be working when we pin the build to 1.10, but crashes using the nightly build

[2018-11-29 14:37] mavrov opened #24044 "Secondary algorithm not provided error when not using cuDNN autotune"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1

[2018-11-29 14:37] wdirons commented on #24020
I can't explain why git cherry-pick is failing. From this page https://help.github.com/articles/commit-exists-on-github-but-not-in-my-local-clone/, the only possible reason I think would be:
Someone force pushed over the commit.

try this instead:
[code]

[2018-11-29 15:11] byronyi commented on #24034
I will suggest you to keep the batch size and number of training steps same in both cases before you trying to track down the issue to distributed TF.

For example, if you use batch size 128 per GPU in 2 GPU case (256 in total) then you could try 64 per GPU in 4 GPU (256 in total) case and keep your lr and number of epoch the same.

Linear scaling is fine, but it doesn’t mean you get exactly the s

[2018-11-29 15:19] mrry commented on #23286
Thanks for confirming. It looks like this is a bug in the protobuf package, which is probably related to https://github.com/protocolbuffers/protobuf/issues/5046. According to a [comment](https://github.com/protocolbuffers/protobuf/issues/5046#issuecomment-439736098) on that thread, upgrading Python from 3.6.0 to 3.6.1 may solve the problem.

[2018-11-29 15:20] andrehentz commented on #23799
Hi @zh794390558  would you be able to try again with a super recent version? I change was submitted yesterday to help check for common shape mistakes. Is your input tensor called 'input' or 'inputs'?

[2018-11-29 16:08] NoelKennedy opened #24045 "Docker container support for RTX 2070"
**System information**
- OS Platform and Distribution : I've tried two with the same result: Linux Ubuntu 16.04 & Linux Ubuntu 18.04
- TensorFlow installed from docker hub :  tensorflow/tensorflow:latest-gpu-py3
- TensorFlow version: 1.12
- Python version: 3
- Installed using docker : tensorflow/tensorflow:latest-gpu-py3
- CUDA/cuDNN version:
nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Co

[2018-11-29 16:21] rohith14 commented on #9868
@psteinb I am looking for more information on this.  I am seeing maxwell_scudnn style convolutions on Titan Xp and not sure why.

[2018-11-29 16:39] RugnirViking opened #24046 "Error compiling iterator_ops.cc when building from source with MSVC 2017"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Source
- TensorFlow version: latest from git - 1.12.0
- Python version: 2.7
- Bazel version (if compiling from source): 0.19.2
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: N/A
- GPU model and memory: NVIDIA GeForce 940MX 4096mb

**

[2018-11-29 16:44] anandh02 commented on #23984
I'm still not sure whats the exact issue is, because in Nvidia-smi still shows Cuda 10.

Steps followed:
Pretty much reinstalled everything from scratch :  tensorflow, tensorflow- gpu, cuda

[2018-11-29 16:59] albertz commented on #2652
Which op exactly is non-deterministic here? These are the ops in the graph:

[code]
Do you expect that `BroadcastGradientArgs` is non-deterministic?

For reference, I tried to run this (with both TF 1.4.1, and also TF 1.12.0), and it seems deterministic to me (980 GTX, CUDA 9.1).

[2018-11-29 17:04] jlebar commented on #24025
XLA should invoke ptxas only once per unique compilation unit ("HloModule") that it sees.  In other words, there is caching.

Without seeing your code, what I suspect is that the input shapes are dynamic, so every time we invoke session.run, it's a different HloModule.  See "caveats" section in https://medium.com/tensorflow/pushing-the-limits-of-gpu-performance-with-xla-53559db8e473 for details ab

[2018-11-29 17:14] albertz commented on #2732
@ekelsen Which ops are deterministic exactly? Since when / which TF version? Is this documented?

[2018-11-29 17:18] harshini-gadige commented on #24043
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2018-11-29 17:30] harshini-gadige commented on #23858
@monajalal  Hi, request you to fill [this](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md) template which help us to look into the issue. Thanks !

[2018-11-29 17:33] #23958 closed

[2018-11-29 17:39] harshini-gadige commented on #23905
@gunan

[2018-11-29 17:41] harshini-gadige commented on #23879
@dorp92  Please try wih Bazel 0.15 and CUDA 9, cuDNN 7

[2018-11-29 17:41] drpngx commented on #23870
I'm not sure what you mean. The convolution is wrapped into the `_conv` function in that file.

[2018-11-29 17:47] burhanbvk commented on #23854
I did some more work on this and the issue appeared on tensorflow 1.4 as well. I managed to work around the issue by loading the chexkpoint, adding a variable named global_step and then exporting it again. Once I did that I was able to use my original code without this error.

[2018-11-29 17:53] Mohammed-Shoaib commented on #23983
Hi,

I finally got the gpu version of tensorflow working! So, I am still not sure as to what the issue was exactly, but I think as @mrry pointed out, I may have had conflicting versions of CUDA or cuDNN installed. Hence, I decided to start afresh, for the last time.

I followed a YouTube tutorial this time on installing tensorflow for gpu link to which can be found [here](https://www.youtube.com/w

[2018-11-29 17:54] harshini-gadige commented on #22930
@Nagamani732  @yoobright   We no longer encourage users to use cmake for Windows. Please use Bazel instead. Thanks !

[2018-11-29 17:57] #22930 closed

[2018-11-29 17:57] alextp commented on #23914
@rmlarsen this looks like another bug like the earlier one we fixed where grappler is rewriting a node which is being fetched. Can you take a look?

[2018-11-29 17:57] dhingratul commented on #22854
@benjamintanweihao Had that been the case, i would have gotten error like this, https://github.com/tensorflow/tensorflow/issues/21850#issuecomment-442153592

[2018-11-29 17:59] proteneer commented on #24025
Thanks that's what I suspected as well. I have a custom op that does something like a dynamic partition to create 4 blocks of (?A, 256), (?B, 256), (?C, 256), (?D, 256) where each block 0 <= ?X < 1024. I had hoped that the *worst* case scenario is that it would generate 1024*4=4096 custom ptx blocks for all four possible values of ?A, ?B, ?C, ?D, but the ?X shapes cascades to all downstream operat

[2018-11-29 18:00] ymodak commented on #24046
TensorFlow is tested against the Visual Studio 2015 Update 3. Can you please install Install the Visual Studio 2015 and try again?

[2018-11-29 18:09] jlebar commented on #24025
The requirement that all of the dimensions be known upfront is pretty fundamental to XLA.  We actually *are* looking at relaxing this, but it's a really big change and we're in the very beginnings of it right now.

For your purposes what I'd usually recommend is bucketing the 0'th dimension, if that's possible.  That is, instead of generating all possible shapes, pad out to e.g. powers of two.  Du

[2018-11-29 18:10] barrh commented on #24043
Sure. Just clone my fork of models @ https://github.com/barrh/models

From models directory, call official/resnet/imagenet_main.py.
Make sure to include the following flags:
--rv=2 --sparse --num_gpus=2

[2018-11-29 18:13] ymodak commented on #23528
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-29 18:13] #23528 closed

[2018-11-29 18:13] ymodak commented on #23942
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-29 18:13] #23942 closed

[2018-11-29 18:15] #23801 closed

[2018-11-29 18:15] harshini-gadige commented on #23705
@arcabhijeet  Hi, we are maintaining a single issue i.e  #20517 regarding Tensorflow support with Python 3.7. Request you to track that issue and post your comments there(if any). Thank you !

[2018-11-29 18:16] #23705 closed

[2018-11-29 18:16] ymodak commented on #23874
Closing since it has been resolved. Feel free to reopen the issue if the problem still persists. Thanks!

[2018-11-29 18:16] #23874 closed

[2018-11-29 18:18] harshini-gadige commented on #23682
@ron159  Is this issue resolved ?

[2018-11-29 18:19] ymodak commented on #23922
Closing since solution is provided by @byronyi . Feel free to open a new issue if you are running into problems while using DistributionStrategy AP. Thanks!

[2018-11-29 18:19] #23922 closed

[2018-11-29 18:20] harshini-gadige commented on #23854
@burhanbvk  Glad to know that your issue is resolved.

[2018-11-29 18:20] #23854 closed

[2018-11-29 18:20] harshini-gadige commented on #24043
@azaks2  Any thoughts?

[2018-11-29 18:21] ispirmustafa commented on #23854
@harshini-gadige please note that Karmel is the current owner of Estimators for your future references.

[2018-11-29 18:21] angersson commented on #23940
@jdduke could you reassign this to the right person?

[2018-11-29 18:21] harshini-gadige commented on #23983
@Mohammed-Shoaib  Glad to know that your issue is resolved. Thank you !

[2018-11-29 18:21] #23983 closed

[2018-11-29 18:43] proteneer commented on #24025
Thanks - I'll see what I can do to work around the issue. Looking forward to relaxing the constraint. But ofr now, closing this issue.

[2018-11-29 18:43] #24025 closed

[2018-11-29 18:49] ymodak commented on #24042
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-11-29 18:49] #24042 closed

[2018-11-29 18:50] yoavz opened #24047 "Major memory leak after calling `tf.estimator.DNNClassifier.train` with certain `tf.train` optimizers."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Reproduced on OS X and Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: not sure.
- TensorFlow installed from (source or binary): binary
- TensorFlow version

[2018-11-29 18:54] #23962 closed

[2018-11-29 18:58] harshini-gadige commented on #23622
Closing this as a root cause is found.

[2018-11-29 18:58] #23622 closed

[2018-11-29 19:00] ispirmustafa commented on #23854
@harshini-gadige please let me know where I can find the sheet. I'll update it.

[2018-11-29 19:02] tensorflowbutler commented on #2625
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-29 19:02] tensorflowbutler commented on #10270
Nagging Assignee @allenlavoie: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #10408
Nagging Assignee @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #11882
Nagging Assignee @robieta: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #11888
Nagging Assignee @ysuematsu: It has been 97 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #12084
Nagging Assignee @petewarden: It has been 196 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] wdirons commented on #24045
CUDA driver and nvidia driver are the same thing, just some people call it different things.

What you need on the host is the nvidia driver. The CUDA toolkit belongs in the docker container.

1. Install the nvidia driver
2. Reboot
3. Verify with `nvidia-smi` the driver is working on the host
4. Install docker
5. Install nvidia-docker
6. Verify with `docker run --runtime=nvidia --rm nvidia/cuda:9.

[2018-11-29 19:02] tensorflowbutler commented on #12132
Nagging Assignee @robieta: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #12659
Nagging Assignee @rmlarsen: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #13222
Nagging Assignee @rmlarsen: It has been 198 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:02] tensorflowbutler commented on #13530
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14083
Nagging Assignee @davidsoergel: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14132
Nagging Assignee @asimshankar: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14134
Nagging Assignee @asimshankar: It has been 240 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 246 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14584
Nagging Assignee @skye: It has been 168 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14623
Nagging Assignee @skye: It has been 196 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #14934
Nagging Assignee @harshini-gadige: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #15352
Nagging Assignee @rmlarsen: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #15463
Nagging Assignee @ekelsen: It has been 200 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #15626
Nagging Assignee @asimshankar: It has been 286 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #15818
Nagging Assignee @derekjchow: It has been 171 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:03] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 183 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16311
Nagging Assignee @skye: It has been 124 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16363
Nagging Assignee @ysuematsu: It has been 171 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16465
Nagging Assignee @rryan: It has been 170 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16466
Nagging Assignee @chihuahua: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 199 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16665
Nagging Assignee @bignamehyp: It has been 203 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16772
Nagging Assignee @shivaniag: It has been 250 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16864
Nagging Assignee @rmlarsen: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 244 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:04] tensorflowbutler commented on #17009
Nagging Assignee @protoget: It has been 200 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17246
Nagging Assignee @alextp: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17419
Nagging Assignee @fchollet: It has been 240 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17541
Nagging Assignee @fchollet: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17650
Nagging Assignee @xiejw: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17691
Nagging Assignee @tatatodd: It has been 260 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17746
Nagging Assignee @shivaniag: It has been 257 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17930
Nagging Assignee @asimshankar: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17965
Nagging Assignee @skye: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #17974
Nagging Assignee @suharshs: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:05] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 244 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18266
Nagging Assignee @saeta: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18280
Nagging Assignee @andrewharp: It has been 229 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18311
Nagging Assignee @rmlarsen: It has been 155 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18323
Nagging Assignee @fchollet: It has been 172 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18491
Nagging Assignee @rmlarsen: It has been 183 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18537
Nagging Assignee @robieta: It has been 215 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:06] tensorflowbutler commented on #18640
Nagging Assignee @cy89: It has been 110 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #18807
Nagging Assignee @aselle: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #18872
Nagging Assignee @gunan: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #18874
Nagging Assignee @zffchen78: It has been 215 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #18934
Nagging Assignee @shivaniag: It has been 212 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #19168
Nagging Assignee @skye: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #19241
Nagging Assignee @anj-s: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #19245
Nagging Assignee @shivaniag: It has been 182 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #19262
Nagging Assignee @tatatodd: It has been 199 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:07] tensorflowbutler commented on #19272
Nagging Assignee @shivaniag: It has been 198 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19295
Nagging Assignee @tanzhenyu: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19395
Nagging Assignee @ebrevdo: It has been 96 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19421
Nagging Assignee @tatatodd: It has been 186 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19457
Nagging Assignee @allenlavoie: It has been 153 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19473
Nagging Assignee @robieta: It has been 110 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19478
Nagging Assignee @shivaniag: It has been 170 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19517
Nagging Assignee @jart: It has been 169 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19530
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-11-29 19:08] tensorflowbutler commented on #19564
Nagging Assignee @jart: It has been 152 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19567
Nagging Assignee @robieta: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:08] tensorflowbutler commented on #19645
Nagging Assignee @tatatodd: It has been 183 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #19695
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-11-29 19:09] tensorflowbutler commented on #19734
Nagging Assignee @robieta: It has been 178 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #19832
Nagging Assignee @ebrevdo: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #19864
Nagging Assignee @fchollet: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #19991
Nagging Assignee @tatatodd: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #20007
Nagging Assignee @tatatodd: It has been 167 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #20041
Nagging Assignee @robieta: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #20072
Nagging Assignee @tatianashp: It has been 166 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #20086
Nagging Assignee @robieta: It has been 164 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:09] tensorflowbutler commented on #20098
Nagging Assignee @saxenasaurabh: It has been 138 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20142
Nagging Assignee @tatianashp: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20201
Nagging Assignee @tatianashp: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20273
Nagging Assignee @robieta: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20342
Nagging Assignee @josh11b: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20343
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20358
Nagging Assignee @bignamehyp: It has been 123 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20368
Nagging Assignee @robieta: It has been 136 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20382
Nagging Assignee @shivaniag: It has been 150 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20392
Nagging Assignee @jart: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:10] tensorflowbutler commented on #20427
Nagging Assignee @aselle: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20557
Nagging Assignee @tatatodd: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20561
Nagging Assignee @allenlavoie: It has been 125 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20563
Nagging Assignee @bignamehyp: It has been 121 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20606
Nagging Assignees @jart, @nfelt: It has been 140 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20662
Nagging Assignee @asimshankar: It has been 141 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20683
Nagging Assignee @rmlarsen: It has been 106 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20737
Nagging Assignee @jvdillon: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20805
Nagging Assignees @alextp, @anj-s: It has been 134 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20857
Nagging Assignee @tatatodd: It has been 119 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:11] tensorflowbutler commented on #20867
Nagging Assignee @suharshs: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:12] tensorflowbutler commented on #20870
Nagging Assignee @tatatodd: It has been 135 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:12] tensorflowbutler commented on #21095
Nagging Assignee @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:12] tensorflowbutler commented on #21224
Nagging Assignee @jart: It has been 122 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:12] tensorflowbutler commented on #21233
Nagging Assignee @tatianashp: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:12] tensorflowbutler commented on #21243
Nagging Assignee @shivaniag: It has been 122 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21250
Nagging Assignee @annemenini: It has been 118 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21265
Nagging Assignee @rmlarsen: It has been 120 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21409
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-11-29 19:13] tensorflowbutler commented on #21432
Nagging Assignee @robieta: It has been 108 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21454
Nagging Assignee @robieta: It has been 107 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21459
Nagging Assignee @tatianashp: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21478
Nagging Assignee @case540: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:13] tensorflowbutler commented on #21549
Nagging Assignee @yongtang: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21598
Nagging Assignee @robieta: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21601
Nagging Assignee @tatianashp: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21644
Nagging Assignee @tatatodd: It has been 105 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21722
Nagging Assignee @martinwicke: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21730
Nagging Assignee @rmlarsen: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21842
Nagging Assignee @jart: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21922
Nagging Assignee @skye: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:14] tensorflowbutler commented on #21927
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-29 19:14] tensorflowbutler commented on #21935
Nagging Assignee @cy89: It has been 92 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #21959
Nagging Assignee @jart: It has been 91 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #21975
Nagging Assignee @shivaniag: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22027
Nagging Assignee @rmlarsen: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22092
Nagging Assignees @lamberta, @mrry, @jsimsa, @MarkDaoust: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22233
Nagging Assignee @shashishekhar: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22344
Nagging Assignee @gunan: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22410
Nagging Assignee @joel-shor: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22449
Nagging Assignee @gunan: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22484
Nagging Assignees @rohan100jain, @yuefengz, @dubey: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:15] tensorflowbutler commented on #22488
Nagging Assignees @aselle, @MarkDaoust: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #22570
Nagging Assignees @alextp, @fchollet: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #22703
Nagging Assignee @suharshs: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #22710
Nagging Assignees @tatatodd, @fdxmw: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #22897
Nagging Assignees @aselle, @gargn: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #22963
Nagging Assignee @ymodak: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #23050
Nagging Assignee @wt-huang: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #23078
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-29 19:16] tensorflowbutler commented on #23157
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:16] tensorflowbutler commented on #23294
Nagging Assignee @yuefengz: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:17] tensorflowbutler commented on #23302
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-11-29 19:17] tensorflowbutler commented on #23374
Nagging Assignee @gunan: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:17] tensorflowbutler commented on #23383
Nagging Assignee @rmlarsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:17] tensorflowbutler commented on #23455
Nagging Assignee @TensorFlow-MKL: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:17] tensorflowbutler commented on #23639
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:17] tensorflowbutler commented on #23705
Nagging Assignee @wt-huang: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:17] tensorflowbutler commented on #23746
Nagging Assignee @ymodak: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-11-29 19:57] #22897 closed

[2018-11-29 20:09] mrgloom commented on #23881
Have about the same error on Ubuntu 16:
`UnknownError (see above for traceback): Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.`

I have installed tensorflow via: `sudo pip3 install tensorflow-gpu==1.12.0`, cuda-9.0 is under `/usr/local/cuda/`.

I have installed cudnn  and it's not helped:

[2018-11-29 20:11] ivan-marroquin commented on #23434
Hi @mrry

Thanks for the clarification. I will talk to IT folks to find out what other processes are running on the same port.

Thanks to all for your help. Let's close the incident as it seems to be more related to a network issue.

Ivan

[2018-11-29 20:11] #23434 closed

[2018-11-29 20:12] #23114 closed

[2018-11-29 20:20] alperegitmen commented on #18652
I have the exact same problem. It take around 5 minutes to add gpu. Is there a solution avaible on windows side?
I have, win 8.1, CUDA 9.0, cuDNN 7.3.1, python 3.6.0 and with gtx 1060 6gb.

[2018-11-29 20:35] ankitvgupta opened #24050 "Feature Request: Consolidate tf.keras get_updates_for with existing tensorflow update_ops"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 1.12
- Are you willing to contribute it (Yes/No): Poten

[2018-11-29 20:42] ymodak commented on #24040
The code snippet you provided looks incomplete. Can you please provide a complete repro code? Thanks!

[2018-11-29 21:03] suharshs commented on #23747
Hi sorry for the delay, thanksgiving holidays and such. We will take a look into reproducing your issue. Thanks!

[2018-11-29 21:09] vrv commented on #23887
Thanks for the report, though I don't think anything is likely to be done with this unless compiler optimizations become pretty sophisticated.  For example, if you were to replace
    hess = tf.diag_part(hess)
with
   hess = hess[1, 2]

One might argue that we similarly shouldn't need to compute the full hessian just for a single element.  However, doing this optimization in practice I think is be

[2018-11-29 21:09] #23887 closed

[2018-11-29 21:35] ymodak commented on #23746
I apologize for the delay in response. I think this issue is better suited for [tensorflow/cleverhans repo](https://github.com/tensorflow/cleverhans/issues). Please post it on cleverhans repo. Thanks!

[2018-11-29 21:35] #23746 closed

[2018-11-29 21:44] ymodak commented on #23078
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-11-29 21:44] #23078 closed

[2018-11-29 21:50] iwsmith commented on #23859
Is there any further information I can provide to help out? I am happy to try things out, just need some direction.

Thanks!

[2018-11-29 21:50] ymodak commented on #22703
Apparently its an IDE related issue. Closing this issue since its a TF related bug/feature request. Feel free to reopen this issue if the problem still persists by providing additional information.
@SteScheller Please open a new issue to report your problem and provide all the information asked by the template. Thanks!

[2018-11-29 21:50] #22703 closed

[2018-11-29 21:59] woodshop commented on #23789
It seems that both I and the OP are experiencing unexpected nondeterminism from `tf.data.Dataset.map`, although my usage scenario is slightly different.

I'm using `tf.data.Dataset.map` to sample from `tf.random.uniform(())`.  According to #13932, random ops that are nested in `map` should be deterministic as long as a seed has been set and `num_parallel_calls=1`. However this is not the case for

[2018-11-29 22:33] allenlavoie commented on #24027
How are you saving and loading? It won't matter for `Model.save_weights` or `tf.train.Checkpoint`, which are the APIs we're moving toward.

[2018-11-29 22:42] johnpjust commented on #446
FYI -- i've put out a request to update and make the scipyoptimizer interface compatible with eager execution.  Additionally would like to tie in an early stopping option (i list a hack-y way to do this already).  Anyone willing to help would be much appreciated.  The scipy optimizer has L-BFGS + CG + others, so it would be worth the time!

[2018-11-29 23:16] jlebar commented on #17220
This is top of mind again, I'm hoping I can get something workable in the next few weeks.  If and when this happens, I'll announce it on the xla-dev mailing list, https://groups.google.com/forum/#!forum/xla-dev.

[2018-11-29 23:20] ymodak commented on #22963
Please use the latest version of TensorFlow and test again. I was able to execute your script successfully in TF version 1.11 and later. Feel free to reopen the issue if the problems still persists. Thanks!

[2018-11-29 23:20] #22963 closed

[2018-11-29 23:59] TolicWang commented on #23870
I wanna say if the implementation of ConvLSTM is based on the LSTM  not the FC-LSTM mentioned in (Convolutional LSTM Network: A Machine Learning Approach for Precipitation Nowcasting).
Because i cannt find the 'peepholes' step in ConvLSTM.

[2018-11-30 00:20] #22488 closed

[2018-11-30 00:51] caogang commented on #15334
@linux-devil i met the same problem. have you solved it?

[2018-11-30 01:31] ron159 commented on #23682
nope,i try to build from source on my pc, but still can not work

[2018-11-30 01:42] xjzhou commented on #23607
I justed tried it and got the same behavior.

OS: Ubuntu 16.04
TensorFlow installed from: pip install tensorflow
TensorFlow version: 1.12.0
Python version: 3.6.6

[2018-11-30 01:49] whatbeg commented on #24040
@ymodak more complete : )

[2018-11-30 01:50] ymodak commented on #23607
@av8ramit  Can you please take a look? Thanks!

[2018-11-30 02:10] hellogiantman1989 commented on #19906
Thank you for help, the problem is really caused by debug, when I changed release, it runs well.
so a tips, very very carefully about  debug or release version.

[2018-11-30 02:41] ProfessorX737 opened #24053 "Why not using TensorFixedSize on most const TTypes?"
Hi im not too sure if this is a bug but why in TTypes.h, most of the tensor types that are 'Const' are not using TensorFixedSize? only a few are.

Apologies if this was not a bug.

[2018-11-30 03:11] wangsiyu commented on #23294
@yuefengz I did some work on compatibility with `input_context` and `Estimator`. Please give some comments. Thanks  https://github.com/tensorflow/estimator/pull/15

[2018-11-30 03:12] blackarrow3542 commented on #22514
I'm also having this error with INT8 Keras resnet50.

Code to reproduce the error:
https://github.com/jeng1220/KerasToTensorRT/blob/master/tftrt_resnet_example.py
Change line 66:
`    y = np.empty((num_tests, self.y_tensor.shape[1]), np.float32)`
to     `y = np.empty((num_tests, 1000), np.float32)`
line 108   `tftrt_engine = TftrtEngine(frozen_graph, batch_size, 'FP32')`
to  `tftrt_engine = TftrtE

[2018-11-30 03:55] blackarrow3542 commented on #22514
Seems like there is a related issue at:
https://github.com/tensorflow/models/issues/5061
with  the int8 tensorrt example for resnet50 in tensorflow
https://github.com/tensorflow/models/blob/master/research/tensorrt/tensorrt.py
not working.

Another code for resnet50 with INT8 works:
https://github.com/tensorflow/models/issues/5061#issuecomment-419235783

[2018-11-30 04:56] #24053 closed

[2018-11-30 04:57] ProfessorX737 commented on #24053
I realized this is just how eigen works

[2018-11-30 05:01] byronyi commented on #23846
Did you resolve this issue?

[2018-11-30 05:02] ljdang opened #24059 "The performance of transpose_conv op in TensorFlow Lite"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Linux Ubuntu 14.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
**Meizu 16th**
- TensorFlow installed from (source or binary):
**benchmark_model is built for

[2018-11-30 05:48] zh794390558 commented on #23799
@andrehentz Input tensor called 'inputs', and I will try.

[2018-11-30 06:06] gunan commented on #24030
I do not think we put in any work into TF_SYSTEM_LIBS to work with windows.
@angersson @perfinion to confirm.

[2018-11-30 06:26] Aashaybane opened #24060 "Cpu tensorflow ImportError"
Dear All ,

I am very new to Python and datascience , I have installed tensorflow cpu from anaconda navigator , but when I am importing tensorflow its showing the following error. also find the system information and conda information below

**ERROR :**
ImportError: Traceback (most recent call last):
  File "C:\Users\Aashay.bane\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python

[2018-11-30 06:40] sanjoy opened #24061 "Investigate precomputing reciprocals for division operations in XLA"
Today we optimize this elementwise division by a scalar:

[code]

into the following:

[code]

`fusion` is ultimately lowered into the following PTX (via LLVM):

[code]

It is conceivable that in some cases computing the reciprocal for `x` once, before we launch the kernel for `fusion`, can be profitable.  We should investigate if (and when) precomputing the reciprocal helps, and if it does, imple

[2018-11-30 07:00] xiaohu2015 commented on #23918
I also meet the problem. I thought it might be some wrong with my code. But I remove the tf.dynamic_partition code, The loss don't get Nan. Hence, it is likely that the above problem.

[2018-11-30 07:17] stoneyang opened #24062 "conv/weights/Assign: Input tensor Cannot convert a tensor of type float32 to an input of type float32_ref"
When freezing a model, I keep encounter the problem represented in the title.

After training's done, I use the following code to freeze the checkpoint to a pb file:
[code]
And it looks fine:
[code]
plus, the generated pb file is larger than the ckpt file but smaller than the size of meta plus ckpt together.
Then, I tried to load the pb to inspect the ops:
[code]
And the code throws the error:
[co

[2018-11-30 07:21] gaocegege commented on #14232
Hi is there any update? I think it is an important feature for the community.

[2018-11-30 07:38] xun6000 opened #24063 "cann't import tensorflow-gpu 1.12 on windows"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2018-11-30 07:41] xun6000 opened #24064 "can't use tensorflow-gpu=1.12"
I use anaconda and I both have cuda8 and cuda10 with the right cudnn.
I tried 3.6.2 and 3.6.6. None of them works.
Not only in the windows desk top. The tensorflow can't work on  linux cluster.

(py36) C:\Users\GUANGYUAN>python
Python 3.6.2 |Continuum Analytics, Inc.| (default, Jul 20 2017, 12:30:02) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more inf

[2018-11-30 08:01] xiaohu2015 commented on #23770
Why?

[2018-11-30 08:37] geyuxiao commented on #22857
There are no errors, but please note the parameters here.

[2018-11-30 08:40] RugnirViking commented on #24046
I have done so and still recieved an error find the logs here
It appears to be a different issue, but its hard for me to be sure. These logs are pretty cryptic :)
https://pastebin.com/mFq0mTwH

[2018-11-30 08:49] offbye commented on #19903
I have tried to warm up variebles  resnet_v2_101  /BatchNorm/moving_mean  and   resnet_v2_101/block3/unit_13/bottleneck_v2/conv1/BatchNorm/moving_variance.

any good way to do it ?

[2018-11-30 09:00] T-chuangxin opened #24065 "InvalidArgumentError (see above for traceback): Got 88 frames, but animated gifs can only be decoded by tf.image.decode_gif or tf.image.decode_image"
I am trying to train a new model. Here is my code!

python /Users/tianchuangxin1/hub/examples/image_retraining/retrain.py --image_dir /Users/tianchuangxin1/tensorflow_image ----model_dir=/Users/tianchuangxin1/tensorflow_image --how_many_training_steps=6000 --flip_left_right Ture --testing_percentage=10 --train_batch_size=32 --validation_batch_size=-1 --random_brightness=30 --random_scale=30 --eval

[2018-11-30 09:04] shahid14 commented on #23940
Tracking the solution, but not found any yet, please address !

[2018-11-30 09:59] WhistleWhileYouWork commented on #24064
[Tensorflow GPU Requirements:](https://www.tensorflow.org/install/gpu#software_requirements)
Nvidia drivers >= 384.x
CUDA 9.0 only
cuDNN >= 7.2

[2018-11-30 10:00] Jeanbouvatt opened #24066 "Android demo build fails with bazel"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
source
- TensorFlow version:
1.12
- Python version:
2.7.15
- Installed using virtualenv? pip? conda?:
pip
- Bazel version (if compiling from source):
0.15.

[2018-11-30 10:10] muarvyn commented on #23888
The same result - "...bfc_allocator.cc:373] tried to deallocate nullptr"

[2018-11-30 10:39] Tokin256 opened #24067 "max_pool_with_argmax: resulting indices dependent on data type"
Hello!

When testing code using the function tf.nn.max_pool_with_argmax, I found that:
- when the input tensor is tf.constant: the reported indices are correct
- when the input tensor is tf.Variable: the reported indices are calculated per batch-dimension (*wrong*)

### Example code:
[code]

The output is:
- In case of data type is tf.constant, the behavior is as expected:
[code]
Note that the ind

[2018-11-30 10:41] zyong812 commented on #17494
I still have the problem for tensorflow 1.12, install with conda. How to fix it?

[2018-11-30 10:41] zyong812 commented on #17494
I still have the problem for tensorflow 1.12, installed with conda. How to fix it?

[2018-11-30 11:34] abhaygk opened #24069 "TensorFlow Architecture low level intro link broken"
Link:
https://www.tensorflow.org/guide/extend/architecture

In the above link, an introduction link is provided. Its broken.
https://www.tensorflow.org/guide/guide/low_level_intro

[2018-11-30 11:54] jktruimp1 commented on #23919
Problem solved!
I change other file’s location, and it works!

[2018-11-30 11:55] #23919 closed

[2018-11-30 12:03] lxl910915 commented on #21745
in this function:
  master_impl_->CloseSession(request, response, [&n, &ret](const Status& s) {
    ret.Update(s);
    n.Notify();
  });
.
 But ret.Update(s) and n.Notify() are not called.

[2018-11-30 12:22] psteinb commented on #9868
@rohith14 What cuda and tf version did you use?

[2018-11-30 12:59] NoelKennedy commented on #24045
I've discovered my setup appears to work with the TF container version 1.10, but not with the later containers: TF 1.11 or 1.12.0.

I tested with nvidia-smi and running ./deviceQuery and ./bandwidthTest from the CUDA examples on the host & from inside the container.  I've found that even if these commands work, TF will still segfault.  I test TF by running the Jupyter notebook that comes with the

[2018-11-30 13:11] jotes35 commented on #4196
I have a similar problem. I use an HPC server with 6 different compute nodes I run tensorflow simultaneously on two different nodes . I still got an error on one of them. Is that not strange?

[2018-11-30 13:11] XuSShuai opened #24070 "How to restructure a tensor according to one dimension."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Centos 7
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:no
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)

[2018-11-30 13:42] DmitryGeyzersky commented on #18652
It looks like compiling Tensorflow from the source on WIndows 10 with latest CUDA drivers solves the problem. In my case, I followed the step-by-step instructions described in this article: [https://medium.com/@amsokol.com/update-1-how-to-build-and-install-tensorflow-gpu-cpu-for-windows-from-source-code-using-bazel-and-c2e86fec9ef2](url). It seems to be working properly now.
Hope this helps someon