[2020-04-27 04:45] Saduf2019 commented on #38921
@tahirCS50
This issue is more suitable on [Continuum Anaconda](https://github.com/ContinuumIO/anaconda-issues/issues) repo since its related to TF installation with Anaconda.
Please post it on [Continuum Anaconda]( Continuum Anaconda.).
Thanks!

[2020-04-27 04:46] #38921 closed

[2020-04-27 04:47] saikumarchalla commented on #38476
@Jasperty  Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-27 04:47] #38476 closed

[2020-04-27 04:51] saikumarchalla commented on #29481
Any updates regarding this issue? Thanks!

[2020-04-27 04:52] saikumarchalla commented on #31896
@LaCandela  Any updates regarding this issue? Thanks!

[2020-04-27 04:52] Saduf2019 commented on #38898
@liob
i ran the code shared by you and face a diffrent error on both 2.1 and nightly, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/2d707444f149ba2e6e60d76ff7512bfd/untitled154.ipynb)

[2020-04-27 04:53] saikumarchalla commented on #33315
@dlop  Any updates regarding this issue? Thanks!

[2020-04-27 05:04] thaink commented on #38701
@impjdi Do you think this is a bug?
No suitable shader found for concat and no error message explain about that.

[2020-04-27 05:05] Saduf2019 commented on #38870
i am able to replicate the issue please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/e42e9f9409902a15edef04ef4eb9b3b2/38870.ipynb)

[2020-04-27 05:11] Saduf2019 commented on #38877
i am able to replicate the issue please find the[ gist here](https://colab.sandbox.google.com/gist/Saduf2019/e42e9f9409902a15edef04ef4eb9b3b2/38870.ipynb)

[2020-04-27 05:30] Saduf2019 commented on #38870
@ngc92
i ran your code in nightly and do not face any error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/9ef6582d4190888740409bc944dae316/38870.ipynb)
the error faced in 2.1 is as per [this gist](https://colab.sandbox.google.com/gist/Saduf2019/cbed748edb5e596abacd846dfcc28b32/untitled155.ipynb), can you please confirm.

[2020-04-27 05:30] thaink commented on #38867
Hi @ericqu
unfortunately, the TF ops you are using are not whitelisted from lite/delegates/flex/whitelisted_flex_ops.cc
You can find more information about using TF ops here https://www.tensorflow.org/lite/guide/ops_select
We are trying to add more op to the whitelist but it will take some time.
If you need it in urgent, i recommend to get the TF source, add those ops to the whitelist and build th

[2020-04-27 05:33] ravikyram commented on #38868
@Zantares

Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-27 05:36] Saduf2019 commented on #37847
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-27 05:36] #37847 closed

[2020-04-27 05:37] thaink commented on #38926
Hi @dathudeptrai,
Can you extend your input to SPACE_TO_BATCH_ND op to be 4D so you can use SPACE_TO_BATCH_ND version 1 or 2.
The 'SPACE_TO_BATCH_ND' version '3'" is not yet included in the TFlite 2.1.0.

[2020-04-27 05:38] zenboooooon opened #38930 "Build does not succeed and the error content changes every time"
I want to install Tensorflow 1.8 gpu on macOS, but the build does not go through and the error content changes every time even if I try to refer to the following site. How can we make it work?

https://developpaper.com/tensorflow-1-8-with-gpu-on-macos-high-sierra-10-13-6/

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):High Sierra 10.13.6(17g65)
- TensorFlow insta

[2020-04-27 05:42] Pallav56 commented on #38857
Thanks Thaink,

Request you to please specify to which version of TF you are referring to as i have used 1.14 version of TF.

[2020-04-27 05:45] dathudeptrai commented on #38926
hi @thaink ofc i can extend all input from 1D to fake 2D to avoid SPACE_TO_BATCH_ND bug, but tflite-nightly have more supported op than tf 2.1, let say bert-related ops. The real bug i want to report here is "tensorflow/lite/kernels/transpose_conv.cc:247 NumInputs(node) != 3 (4 != 3)" on tflite-nightly, tf 2.1.0 don't have this error.

[2020-04-27 05:46] thaink commented on #38857
Hi @Pallav56
I would recommend to use our latest version 2.1.0

[2020-04-27 05:49] ravikyram commented on #38187
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-27 05:49] #38187 closed

[2020-04-27 05:53] rmsander commented on #31686
I'm using `tf-2.2.0.dev20200315`  along with `tf_agents-0.4.0.dev20200315`, and I'm using PolicySavers for reinforcement learning.  I am calling the following:

[code]
This works fine if I only run it with a single PPO agent, but when I create multiple PPO agents (which I create deepcopies of to avoid overwriting/sharing parameters), I receive the following error, specifically when I try to save t

[2020-04-27 05:59] amrit-das opened #38931 "Tensorflow Lite Object Detection on mobile devices"
Suppose, say I have 30 interested objects on an image, is it possible to get all 30 box proposals on a single image without splitting the image, or the number of proposals on an image is limited to 10.
Thank you for the help!

[2020-04-27 06:02] perfinion commented on #38919
oh huh i didnt realize mac was the full version. but yeah lets change it, i'll find some time soon and prepare a patch. The lib version should be 2.2 only, it shouldnt have the patch in it i dont htink. normally tf-x.y.1 releases are only for security or similar issues so the ABI will be the same and would be a huge hassle to rebuild everything for patch changes

[2020-04-27 06:04] ravikyram commented on #38872
I tried in colab with TF 2.1 and i am not seeing any issue. However i am able to reproduce the issue in colab with TF 2.2.0-rc3. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8e6c30bbab16d2929cae9652a30c87e7/untitled821.ipynb).Thanks!

[2020-04-27 06:06] WenguoLi commented on #38626
It seems that the kernel of depth_to_space has supported int8 quanzation,  here:
https://github.com/tensorflow/tensorflow/blob/4ce6a9b7a46bbd574baa9a566d3ae5ae82f14b32/tensorflow/lite/kernels/depth_to_space.cc#L108
Only  not  supported on the TFLiteConverter.

any updates ?

Thanks

[2020-04-27 06:08] Saduf2019 commented on #38930
@zenboooooon
i see you are using a very old version of tensorflow could you please upgrade/install 1.15 o r2.x versions and let us know if you are facing any issues

[2020-04-27 06:08] ravikyram commented on #38865
@akshat-suwalka

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Request you to share colab link or simple standalone code with proper indentation to reproduce the issue in our environment.It helps us in localizing the issu

[2020-04-27 06:11] thaink commented on #38926
@dathudeptrai Thanks for your explanation.
https://bintray.com/google/tensorflow/tensorflow-lite/0.0.0-nightly is updated everyday so it should have the latest code. However, i don't think your error is occurred https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/transpose_conv.cc#L247

[2020-04-27 06:12] ravikyram commented on #38876
Do you have any use case that requires the feature you are interested in? .Please, share the related code.Thanks!

[2020-04-27 06:16] zenboooooon commented on #38930
@Saduf2019 Thank you for your reply.
I was going to try it once, but the build method was completely different between 1.8 and 1.14, and the build didn't start, and there was no site that explained how to do it, so I gave it up. I searched and couldn't find anything describing a version newer than 1.8.

[2020-04-27 06:17] dathudeptrai commented on #38926
hi @thaink that is why i ask if there is a missmatch betweent tf-nightly and tflite-nightly. The line 247 of above code expaind why tf-nightly don't occur this error.

[2020-04-27 06:29] thaink commented on #38926
The problem i don't understand here is why tf 2.1.0 don't have this error. since it is much older and above code and tf-nightly is just recent. tf-nightly and tflite-nightly are triggered independently but they are both built overnight so should have roughly the same code.
Could you try to build the aar from source and check if the error occur?

[2020-04-27 06:36] saikumarchalla commented on #38925
@kisoojeon Provide the exact sequence of commands / steps that you executed before running into the problem and the error logs. Also, Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?labels=type%3Abuild%2Finstall&template=10-build-installation-issue.md) as it helps us to analyze the issue faster.Thanks!

[2020-04-27 06:37] emla2805 commented on #31686
@q-55555 I cannot reproduce this issue with the TF 2.1.0 release. What platform and python version are you using?

@rmsander I don't think your problem is related to this issue, you are not using feature_columns are you?

[2020-04-27 06:44] ravikyram commented on #38879
I have tried on colab with TF version 2.1.0, 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/a8aa5a26289e4340e3769f62210b2ac5/untitled823.ipynb).Thanks!

[2020-04-27 06:49] ravikyram commented on #38884
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2020-04-27 06:50] dathudeptrai commented on #38926
ok let me check. Ofc i can trick the model to run correctly by fake 2D input. But the missmatch between Tf-nightly and tflite-nightly makes me quite curious :)).

[2020-04-27 06:58] saikumarchalla commented on #38905
@dantpy700 This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-04-27 06:58] teijeong commented on #38659
I don't have model file available for now - I've fixed 5D tensor usage in the model (https://github.com/YunYang1994/tensorflow-yolov3/pull/312), but it seems the problem here is some unsupported ops:
"CombinedNonMaxSuppression, Size"

[2020-04-27 07:02] ravikyram commented on #38541
@remifan

I tried in colab with TF-GPU 2.1.0 and i am seeing below error (`ModuleNotFoundError: No module named 'myadam'`).Request you to provide colab link or reproducible code in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-27 07:08] teijeong commented on #38903
Hi Leslie-Fang, sorry for the error :( we're working on getting pybind dependencies clean, meanwhile it's bit tricky to get proper include dir for pybind11. Current setup is configured to work on docker, but seems it's not stable in other environments.

If you can find location of headers for pybind11, try adding it on `setup.py` here:
https://github.com/tensorflow/tensorflow/blob/6a701314351845ec

[2020-04-27 07:09] galah92 opened #38932 "New TFLiteConverter not working with tf.complex64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab CPU
- TensorFlow version (use command below): 2.2.0-rc3

**Describe the current behavior**
New `TFLiteConverter` not working with `tf.complex64`
Disabling the new converter (`converter.experimental_new_converter = False`) works.

**Standalone code to reproduce the issue**

[code]

[colab example](https://colab.

[2020-04-27 07:13] zhaozheng09 opened #38933 "how to add -std=c++17 to any cc_library"
gcc 7.3.0
tensorflow 2.1
os:centos
bazel:0.27.1

please tell me how to add -std=c++17 to any cc_library !!!

why any file compile with c++0x ?

my build command : bazel build -s -j 32 --verbose_failures -c opt --cxxopt=-D_GLIBCXX_USE_CXX17_ABI=1  --cxxopt=-std=c++11 --cxxopt='-std=c++17'  --copt=-march=native --copt=-mfpmath=both //tensorflow/tools/pip_package:build_pip_package --sandbox_debug --c

[2020-04-27 07:14] coded5282 commented on #35754
Will tensorflow-2.2.0 be on conda soon as well? Thanks.

[2020-04-27 07:14] zhaozheng09 commented on #38933
your install manual tell me,
gcc 7.3.0
tensorflow 2.1
os:centos
bazel:0.27.1
is ok.....
but I can't

[2020-04-27 07:15] zhaozheng09 commented on #38933
your install manual tell me,
gcc 7.3.1
tensorflow 2.1
os:centos
bazel:0.27.1
is ok.....
but I can't

 @zhaozheng09

[2020-04-27 07:17] xuyingjie521 opened #38934 "ValueError: Attempted to save a function b'__inference_GRU-Dense_layer_call_fn_29299' which references a symbolic Tensor Tensor("dropout/mul_1:0", shape=(?, 384), dtype=float32) that is not a simple constant. This is not supported."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-04-27 07:20] Leslie-Fang commented on #38903
@teijeong Thanks for the comments. I have made a PR(https://github.com/tensorflow/tensorflow/pull/38904) to fix this issue. Could you help to have a review.

[2020-04-27 07:23] amahendrakar commented on #38875
Was able to reproduce the issue with [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/522cba9b7938d89254fa81cf07272114/38875.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/67ad4261f2903c039227577c93f55081/38875-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-27 07:29] ravikyram commented on #38841
I have tried in colab with TF 2.1 and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/83f2cf35d7651673bb51c312e34676a8/untitled825.ipynb).Thanks!

[2020-04-27 07:34] ravikyram commented on #38887
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-04-27 07:40] zhaozheng09 commented on #38933
fuck bazel export BAZEL_CXXOPTS=-std=c++11

[2020-04-27 07:40] zhaozheng09 commented on #38933
fuck bazel export BAZEL_CXXOPTS=-std=c++11

[2020-04-27 07:40] #38933 closed

[2020-04-27 07:48] saikumarchalla commented on #38916
@Lamm-a

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the latest microsoft visual c++ redistributable from [here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads
).
Also, please follo

[2020-04-27 07:51] ngc92 commented on #38870
yes, this is the expected error. This is strange, because as far as I can see the code for `def _EagerPyFuncGrad` has not been changed. Do you know if there is already a test case for this behaviour?

[2020-04-27 07:52] limjq45 opened #38935 "[RNN] Bidirectional LSTM conversion fail"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64-bit
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): 2.2.0-dev20200422

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converte

[2020-04-27 07:52] ravikyram commented on #38891
@srihari-humbarwadi

I am trying to reproduce the issue and i am seeing the below error`(NameError: name 'add_l2_loss' is not defined`) in the updated code.Can you please help me with the reproducible code. Thanks!

[2020-04-27 08:08] Anriod opened #38936 "Shuffling and batching operations results in keras model not running"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux (Ubuntu)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source (Google Colab)
- TensorFlow version (use comma

[2020-04-27 08:10] lihost opened #38937 "Tensorflow TPU - ValueError: No gradients provided for any variable"
`Tensorflow version 2.2.0-rc3`

I went through most of git posts, SO and others but unable to get around it.

Here is how model and training pattern look like...

[code]

**This is same code which is running without any issues on CPU as well on GCP. With this same code I have already completed more than 70 epochs but due to slowness of CPU I decided to move to TPU.**

Here is stack trace of error.

[2020-04-27 08:18] dlop commented on #33315
I'll try again with TF 2.1.

[2020-04-27 08:20] amirzlq5 commented on #16768
I had the same problem. I solved this problem by reducing the number of layer neurons.

[2020-04-27 08:22] sanidhyamangal opened #38938 "Keras: model.fit_generator or model.fit not working properly"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-04-27 08:40] remifan commented on #38541
@ravikyram I have updated that [notebook ](https://github.com/remifan/complex_adam/blob/master/complex_adam_example.ipynb)to be working inside Colab, or please check this [shared colab](https://colab.research.google.com/github/remifan/complex_adam/blob/master/complex_adam_example.ipynb) for your convenience, thanks!

[2020-04-27 08:48] ericqu commented on #38867
Hi @thaink

Thank you for your answer. looking a bit more in the error message:

and in the source file you mentioned (whitelisted_flex_ops.cc) I note that there are whitelisted ops for TensorArray type of operations. Hence I am wondering if there is a way to reliably transform my model in order to use Array instead of List ?

If not then I will do as you suggested and follow the instructions in [

[2020-04-27 08:59] RoboEvangelist commented on #31315
If are having too much trouble, and don't want to downgrade, just do
`import tensorflow.compat.v1 as tf`

[2020-04-27 09:01] liob commented on #38898
@Saduf2019
the newly created notebook did not include the sample data. Here is a fixed version:
https://colab.research.google.com/gist/liob/778c1bc083600b1384c216b5169fd4ad/untitled154.ipynb

Thank you for taking a look at this issue.

[2020-04-27 09:21] saikumarchalla commented on #38918
I could able to replicate the issue. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/57593a78bdeeff9d167db69cdfff5b37/untitled32.ipynb).Thanks!.

[2020-04-27 09:29] RoboEvangelist commented on #34695
How about for C++?
I have the same problem, but in C++

[2020-04-27 09:34] RoboEvangelist commented on #25446
how do we add this in C++?

[2020-04-27 09:35] ravikyram commented on #38902
@zhao1157
I have tried in colab with 2.2.0-rc3.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/7b3b2cec0583130542c0c2c82aea4be9/untitled827.ipynb).I am not able to reproduce complete output to check the order.Thanks!

[2020-04-27 09:46] ravikyram commented on #38906
I have tried on colab with TF version 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8652e1dae44721b792b47b6e9e45052c/untitled828.ipynb).Thanks!

[2020-04-27 09:53] wangweitong commented on #37945
So，anyone solved this problem?

[2020-04-27 09:58] Ashwini-prkt commented on #38569
I tried with export_tflite_ssd_graph.py, it is generating the pb file.
Then I tried to convert to tflite using tflite_convert and with --allow_custom_ops = True
Then I converted the tflite generated to C-byte array using xxd tool to implement model for microcontrollers (tflite micro)
But as **mobilenet ssd v1** has some postprocessing operations which are unsupported with **tflite micro** , I am u

[2020-04-27 09:58] srihari-humbarwadi commented on #38891
@ravikyram I have updated the code snippet, please take a look

[2020-04-27 10:01] Saduf2019 commented on #38936
i ran the code shared by you on nightly,  and do not face [any error](https://colab.sandbox.google.com/gist/Saduf2019/10b3b863cac05ace2b0dee87b3ccab20/38936.ipynb).
could you please share simple standalone code for us to replicate the error, or if possible please share a google colab gist for us to analyse the issue faced by you.

[2020-04-27 10:05] Saduf2019 commented on #38394
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-27 10:05] #38394 closed

[2020-04-27 10:06] ravikyram commented on #38909
I have tried on colab with TF version 2.1.0., 2.2-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2bcf67f312eb7e055462658a3129ac14/untitled829.ipynb).Thanks!

[2020-04-27 10:07] Saduf2019 commented on #38489
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-27 10:07] #38489 closed

[2020-04-27 10:11] amahendrakar commented on #38878
@edoardogiacomello,
I tried to reproduce the issue but did not observe much difference in the output with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/65b2c0ba8212dc311fba6dfe8c4c0619/38878-2-0.ipynb), [TF v2.1](https://colab.research.google.com/gist/amahendrakar/160fce6364808f672b111819b2ad8271/38878-2-1.ipynb) and [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrak

[2020-04-27 10:19] amahendrakar commented on #38886
@priyankkumar218,
Could you please check [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) on a similar issue and let us know if it helps. Thanks!

[2020-04-27 10:20] mayou36 commented on #26812
Sorry, this is wrong, do not use it. This disables the graph construction and runs everything eagerly, like numpy. This _can_ be wanted for debugging or in certain cases, but it is surely not the workaround.

@praveen-14 read again above about creating them as class variables or in the global scope.

[2020-04-27 10:21] impjdi commented on #38701
ERROR: TfLiteGpuDelegate Init: CONCATENATION: Dimensions are not BHWC

I think that's the reason?

On Sun, Apr 26, 2020 at 22:05 Thai Nguyen <notifications@github.com> wrote:

[2020-04-27 10:22] ravikyram commented on #38913
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2020-04-27 10:24] Saduf2019 commented on #38898
i am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/e988e80bfb1b5e1dc3de10dc1dbd307d/38898.ipynb) . Thanks!

[2020-04-27 10:27] jejay commented on #38694
No wait I'll do it, just give me some time I have a deadline end of the month.

[2020-04-27 10:42] ravikyram commented on #38920
@said120276

I am not seeing any error message in TF version 2.2.rc3(`!pip install tensorflow==2.2-rc3 `).Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/6d3deecc5c6b08101557a12401e57959/untitled830.ipynb).Please verify once and close the issue. Thanks!

[2020-04-27 10:45] Saduf2019 commented on #38930
@zenboooooon
please follow [this link for installation](https://www.tensorflow.org/install/source) , [link1](https://www.lewuathe.com/how-to-build-tensorflow-on-macos.html), [link2](https://www.pyimagesearch.com/2019/12/09/how-to-install-tensorflow-2-0-on-macos/), [link3](https://techpolymath.com/2017/12/14/tensorflow-from-source-on-mac/) [link4](https://stackoverflow.com/questions/43364264/how-to

[2020-04-27 10:50] Saduf2019 commented on #37981
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-27 10:50] #37981 closed

[2020-04-27 11:09] amahendrakar commented on #38893
Was able to reproduce the issue with [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/73f066b5ffd0a1f73901e634e4200b81/38893-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/cbdab58e14ffb942cb05cf9cfb967b6b/38893-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-27 11:21] ravikyram commented on #38929
@Young768

Glad to know the issue got resolved.Please, go through the l[ink1](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/config/experimental/set_memory_growth), [link2](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) , [link3](https://stackoverflow.com/questions/55788883/limiting-gpu-memory-usage-by-keras-tf-2019) and see if it helps you. Please, close this thread

[2020-04-27 11:36] Saduf2019 commented on #38836
@nbro
i am able to replicate this issue with the specifications requested please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/cf4adafc61aedcbf3d32e1baf02ed576/38836.ipynb)

[2020-04-27 11:39] asicdsm opened #38939 "Tensorflow lite Quantization aware training in Keras FAIL"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux 39df84b83a78 4.19.104+ #1 SMP Wed Feb 19 05:26:34 PST 2020 x86_64 x86_64 x86_64 GNU/Linux
- TensorFlow installed from (source or binary):
2.2.0-dev20200427

**Command used to run the converter or code if you’re using the Python API**
Here's the Colab https://colab.research.google.com/drive/1H_DGK2VjIKSNhNboW_Xf

[2020-04-27 11:41] ravikyram commented on #38916
@Lamm-a

I suspect problem with latest microsoft visual c++ redistributable .Please, follow instructions [here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).Thanks!

[2020-04-27 11:42] Lamm-a commented on #38916
@saikumarchalla I give the CPU model above :)

Thank you @ravikyram I will give that a look.

[2020-04-27 11:49] ravikyram commented on #38935
@limjq45

Can you try with this code. Will it be possible to share model.h5 file to reproduce the issue in our environment.

[code]
Thanks!

[2020-04-27 11:51] ravikyram commented on #38681
@ms-ims
Any update on this issue please. Thanks!

[2020-04-27 11:52] ravikyram commented on #38690
@spurani

Any update on this issue please. Thanks!

[2020-04-27 11:55] ravikyram commented on #38938
@sanidhyamangal

I am not able to access the colab link you have provided. Please, provide access so i can try to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-27 11:59] spurani commented on #38690
Sorry for my late reply I have installed tensorflow using https://www.tensorflow.org/install/gpu but the hardware requirements are kind of vague it would be helpful If I would get to know that a specific hardware is recommended to run the tensorflow models.  thanks and cheers

[2020-04-27 12:11] ravikyram commented on #38891
I have tried on colab with TF version 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3b99b38929a3bc5c06eb1a2a8f8703d2/untitled831.ipynb).Thanks!

[2020-04-27 12:18] ravikyram commented on #38690
@spurani

Please, go through [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements) and see if it helps you.Thanks!

[2020-04-27 12:18] ravikyram commented on #38606
@mathemakitten

Any update on this issue please. Thanks!

[2020-04-27 12:19] rposts commented on #38840
This commit also broke s390x arch builds.

[2020-04-27 12:20] ravikyram commented on #38503
@mkpisk

Any update on this issue please. Thanks!

[2020-04-27 12:32] mdanatg commented on #29075
@dathudeptrai Consider following #38287, it will help push for a faster resolution.

[2020-04-27 12:41] kay0u commented on #38660
This small patch fix the issue on my side: #38940

[2020-04-27 12:43] NMazzatenta commented on #38589
I had the same issue. TF 2.1 built from source + keras 2.3.1 in conda environment. Solved by modifying file "/usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py" at line 704.
Before:
`return isinstance(x, tf_ops._TensorLike) or tf_ops.is_dense_tensor_like(x)`
After:
`return isinstance(x, tf_ops._TENSOR_LIKE_TYPES) or tf_ops.is_dense_tensor_like(x)`

[2020-04-27 12:48] Saduf2019 commented on #38411
@Scathos,
please update as per above comment

[2020-04-27 12:49] Saduf2019 commented on #38424
@Mostalk, please update as per above comment

[2020-04-27 12:57] limjq45 commented on #38935
Hi , I did try the above code too, it is able to convert but when I load it into the device, it throws this error
[code]

Here's a copy of the model.h5 [https://drive.google.com/open?id=1vj8Ini-XhX57obGUNTdCNBwbkigWyFOx](url)
The embedding input shape is (128,300), still the same structure, just that the max_length is changed.

P/s: anyway I tried to do a simple Embedding -> LSTM(unroll=True) -> D

[2020-04-27 13:00] Saduf2019 commented on #38939
i am am able to replicate this issue, please find the [gist here for nightly](https://colab.sandbox.google.com/gist/Saduf2019/94c069a63230942168fa6a1a59edd2a5/38939.ipynb) and in [2.1 the gist](https://colab.sandbox.google.com/gist/Saduf2019/374c414cbce8839e935e403f415cb5dd/untitled156.ipynb) .Thanks!

[2020-04-27 13:01] sanidhyamangal commented on #38938
@ravikyram, I have provided you the access, kindly check.

[2020-04-27 13:01] Saduf2019 commented on #38660
@AndreyM0
please update as per above comment

[2020-04-27 13:28] zenboooooon commented on #38930
@Saduf2019 I'd like to use tensorflow which has GPU support, but the link you sent me was one that doesn't have GPU support.

[2020-04-27 13:33] ms-ims commented on #38681
I looked the link but tensorflow library is very supportive to Arm microcontroller I suppose.
I trying to run hello world program of tensorflow on my RX series board of renesas. I'm finding it difficult to build on that.

[2020-04-27 13:40] wdirons commented on #38840
For ppc64le, $MACHTYPE starts with powerpc64le for both ubuntu and rhel host.

[code]

@rposts , please provide the same information for s390x.

[2020-04-27 13:41] hustarbor commented on #38841
tf.Variable.assign_sub can't run on tensorflow-gpu

[2020-04-27 13:44] edoardogiacomello commented on #38878
I'm sorry, I may have made a mistake while managing the different containers. I checked again and I've been able to reproduce the error in version **2.0.0-beta1** (both on Docker and Colab), so the change may have happened between **2.0.0b1** and **2.0**. Starting from 2.0 (stable) the results are consistent with future versions, as you showed.

I'd like to find out what's causing this difference

[2020-04-27 13:46] rposts commented on #38840
Here is s390x output:
[code]

[2020-04-27 13:46] CptJack2 opened #38941 "how to dynamic link cuda library when building tensorflow?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Sam

[2020-04-27 13:55] burhany60 commented on #28007
Hi thanks this trick works for my case also

[2020-04-27 13:55] Dai-Yang commented on #24496
when you use tensorflow 2.0
`tf.config.experimental.set_memory_growth(tf.config.list_physical_devices('GPU')[0], True)`
this code is after `import tensorflow as tf`  but before your code.

[2020-04-27 13:55] q-55555 opened #38942 "Impossible to create a simple LSTM layer with tensorflow > 2.1 version"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Trying to follow these instructions : https://www.tensorflow.org/guide/keras/rnn

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No

- TensorFlow installed fro

[2020-04-27 14:11] saikumarchalla commented on #38923
I could able to replicate the issue. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/34cb21704963c03f8704a468deef6f79/untitled33.ipynb#scrollTo=8v7hSas77msv).Thanks!

[2020-04-27 14:18] benediktwagner commented on #10632
The stack solution removes the error. However, it's not useful when you need a trainable variable which is the issue in my case. Would love to hear how others have solved this..

[2020-04-27 14:21] Zantares commented on #38868
Ofc, I would like to share a performance UT in TF once I finished it.
BTW, there's better solution to solve this performance issue like to optimize Generator algorithm, but I think it's more complex.

[2020-04-27 14:24] Flamefire opened #38943 "Using tf.data.Dataset has big overhead"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7.4
- CUDA/cuDNN version: 10.1
- GPU model and memory: GTX 1080

**Describe the curr

[2020-04-27 14:27] loipf opened #38944 "UnrecognizedFlagError when using tf.vectorized_map() with lbfgs_minimize()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.2
- Mobile device (e.g. iPhone UnrecognizedFlagErrortf8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): source
- TensorFlow versio

[2020-04-27 14:28] dannyfriar opened #38945 "Memory leak on TF2.1 model.fit with validation_split"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7.5
- GPU model and memory: No GPU

**Describe the current behavior**
Fitting a simple LSTM model cau

[2020-04-27 14:35] amahendrakar commented on #38901
@kyteinsky,
I was able to run the code without any issues using a sample dataset, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/158c4cc1eecf8e19183fbf5f9a7e2572/38901.ipynb#scrollTo=qJW2Xk6IgJFq). Could you please verify if the code works with another dataset? Thanks!

[2020-04-27 14:35] Leslie-Fang commented on #38943
Hi @Flamefire  Could you try some thing like this:
[code]
What's the performance data?

[2020-04-27 14:36] veyrony commented on #33431
The same error on TF2.1(e5bf8de410005de06a7ff5393fafdf832ef1d4ad) wiith gcc 7.3.0

[2020-04-27 14:42] robertlugg opened #38946 "Docs: multi_worker_with_keras.ipynb shows init() instead of __init__()"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-04-27 14:46] Flamefire commented on #38943
Did another experiment: Adding `@tf.function` above the `train` function speeds it up significantly and using the dataset is now twice as fast:

[code]

Not sure if that changes semantics though and it can't be easily done for the "real" code as some callbacks can't be run inside a tf.function

`steps` is the number of batches, not the batch_size. The batch_size is 32 (wanted to avoid the batch la

[2020-04-27 14:46] jfhawkin opened #38947 "WARNING:tensorflow:AutoGraph could not transform <function affine at 0x0000021B750C1E58> and will run it as-is."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version: 2.2.0-rc3
- TensorFlow-probability version: 0.10.0-rc0
- Python version: 3.7.6

**Describe the current behavior**
I am using Anaconda, TensorFlow, and Spyder. When I run my script, I

[2020-04-27 14:49] amahendrakar commented on #38908
@menon92,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

You can also share your Colab gist with us. Select 'File' -> 'Save a copy as Github Gist', and share the link of the new window. Thanks!

[2020-04-27 14:51] kyteinsky commented on #38901
@amahendrakar
Thank you sir for your time. If the code works for another dataset, can you suggest methods for checking out broken images in my dataset and removing them so that this error doesn't come up again.

[2020-04-27 14:53] kyteinsky commented on #38901
And what does **'BM ...'** message mean?

[2020-04-27 15:18] amifunny opened #38948 "Tensor Manipulation and Slicing Feature supported by Auto Gradient"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.1.0
- Are you willing to contribute it (Yes/No):Yes

**De

[2020-04-27 15:19] alextp commented on #38773
This is not possible. Names in name_scope have to be statically known at graph build time, but string tf tensors are dynamic and their value is only known at graph execution time.

[2020-04-27 15:19] #38773 closed

[2020-04-27 15:25] amahendrakar commented on #38915
Was able to reproduce the issue with [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/3f4df88d93e65ad47fbf3b41eaeb7df8/38915-2-2.ipynb#scrollTo=Z7Ph0RJHNxcp) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/c013ed797a1a56d6efd3d15322299120/38915-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-27 15:27] amahendrakar commented on #38915
@ll01,
Please take a look at these comments from similar issues and let us know if it helps?

Link 1 - https://github.com/tensorflow/tensorflow/issues/18079#issuecomment-377986751

Link 2 - https://github.com/tensorflow/tensorflow/issues/36321#issuecomment-581660542

Thanks!

[2020-04-27 15:41] wdirons commented on #38840
I can confirm this issue is now fixed. You may close this issue, if your not using it to track anything.

[2020-04-27 15:46] jetjodh opened #38949 "TF 2.x release for CPU only"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1

**Describe the feature and the current behavior/state

[2020-04-27 15:48] WurmD opened #38950 "validation_data documentation entry incomplete"
## URL(s) with the issue: https://www.tensorflow.org/api_docs/python/tf/keras/Model?authuser=1#fit

## Description of issue (what needs changing):
validation_data: Data on which to evaluate the loss and any model metrics at the end of each epoch. The model will not be trained on this data. validation_data will override validation_split. validation_data could be:

This is incomplete. It can also be

[2020-04-27 15:51] 63617020626164 commented on #38643
For upsampling by 2x, this code works (for `NCHW`):

[code]

Implementing this using `NHWC` needs `tf.transpose`, which is less efficient:

[code]

However both these workarounds are still limited to nearest neighbour(ish) upsampling.

[2020-04-27 16:09] jetjodh commented on #38938
I checked the colab notebook and was able to reproduce the issue. For now, you may use tf -2.1 which does not contain this issue.

[2020-04-27 16:11] qlzh727 commented on #38906
Adding @saxenasaurabh who works on core ops to provide more information about while loop.

[2020-04-27 16:19] sanidhyamangal commented on #38938
@jetjodh, I already rolled back to previous iterations. Just reporting the bug so that it doesn’t appear in 2.2.0 stable release.

[2020-04-27 16:20] omalleyt12 commented on #38742
@foxik Thanks for the issue!

There is a potential fix in the works, but it's unclear if it will make the release cut.

I'd actually recommend moving away from the `train_on_batch` methods when possible, and instead doing custom training logic via overriding `Model.train_step`. This feature was added in this release and gives a really nice way to write custom training logic while still getting all

[2020-04-27 16:25] Saduf2019 commented on #38914
@tusharrain28
can you please provide simple standalone code to replicate the issue, along with the error log

[2020-04-27 16:26] saxenasaurabh commented on #38906
@rmlarsen mentioned [here](https://github.com/tensorflow/tensorflow/issues/23780#issuecomment-498334346) that this may be due a bug in grappler generating non-unique names. @rmlarsen @ezhulenev do you know if this was fixed?

[2020-04-27 16:33] sumanthratna commented on #38773
Thanks for your response, @alextp! How would you suggest I deal with use-cases like the one mentioned in this issue (names based on variables from a for-loop)? Is `tf.py_function` the best way to approach this?

[2020-04-27 16:44] Saduf2019 commented on #38930
@zenboooooon
please refer to [link1](https://medium.com/@saitejadommeti/building-tensorflow-gpu-from-source-for-rtx-2080-96fed102fcca) [link2](https://www.tensorflow.org/install/gpu) [link3](url)

[2020-04-27 16:48] relh commented on #348
if you're on ubuntu and it doesn't work, see this:

https://stackoverflow.com/a/59596814/2353085

`sudo apt-get install gcc libpq-dev -y
sudo apt-get install python-dev  python-pip -y
sudo apt-get install python3-dev python3-pip python3-venv python3-wheel -y
pip3 install wheel`

[2020-04-27 16:49] jvishnuvardhan commented on #38923
@SpikingNeuron
Actually you need to use `load_model` to load the model that was saved earlier using `model.save`. As `model.save` saves everything including architecture, weights, optimizer status etc. In your code you tried to access `variables` folder within the `saved_model` folder as weights are saved there. Best way is to use 'model.save` and `load_model`.

If you want to `save_weights` and t

[2020-04-27 16:52] #38929 closed

[2020-04-27 16:54] elvis1020 commented on #38892
I've uploaded one of the models. maybe it would be easier.
But it must be loaded on an aws EC2 instance, because that's the issue. On my computer, the models load normally, and the tensorflow version is the same.
https://drive.google.com/open?id=1kzyzAuNHTlCHc4Nx-JUhczCB7aTDMxp6

[2020-04-27 17:04] amahendrakar commented on #38922
Was able to reproduce the issue with TF v2.1, [TF v2.2.0rc3](https://colab.research.google.com/gist/amahendrakar/0b74be016ac78170739b6795632135b4/38922-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/404923b89b3d15d7fe3d531ed5f78838/38922-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-27 17:10] alextp commented on #38870
if it doesn't reproduce in nightly let's close the issue

[2020-04-27 17:10] #38870 closed

[2020-04-27 17:10] amahendrakar commented on #38934
@xuyingjie521,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-04-27 17:11] alextp commented on #38773
Use "for i in range", not "for i in tf.range" to use a python for loop and statically unroll the graph.

[2020-04-27 17:13] rajan3010 commented on #21135
This seems to be working in my case. I closed my Spyder IDE and the programs runs normally now.

[2020-04-27 17:19] ericqu opened #38951 "hlo_algorithm_blacklist.cc compilation fails"
**System information**
- OS Platform and Distribution: Windows 10 (10.0.18363 N/A Build 18363)
- Mobile device if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): Source
- TensorFlow version: r.2.1
- Python version: 3.6.10
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling f

[2020-04-27 17:21] said120276 commented on #38920
Thank you for your reply . So it was a bug in the previous version ? I will upgrade to tensorflow 2.2 and try this night.

[2020-04-27 17:24] ngc92 commented on #38870
does a test case for this behaviour already exist?

[2020-04-27 17:25] jdduke commented on #25316
TOCO is no longer the default conversion backend. Much of the logging should be dramatically improved with the new converter backend (which leverages MLIR).

[2020-04-27 17:25] #25316 closed

[2020-04-27 17:30] amahendrakar commented on #38937
@lihost,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-04-27 17:37] nouiz commented on #33360
Note, this isn't fixed and the original author responded. So the status isn't right.

[2020-04-27 17:45] pidajay commented on #38766
By the way I am thinking of addressing this with separate PRs as follows
1. Provide a fix (which I already have) and tutorial for the existing tf recompute_grad function. From what I understand, using this requires the user to manually partition the model which might be suboptimal in many cases.
2. Provide a new decorator function '@recompute_sequential' that enables gradient checkpointing on Kera

[2020-04-27 17:46] gaceladri commented on #32675
Could any of you reproduce the product-key memory layer in tf? I get here looking for the same, coming from the same place. Did you found a solution/implementation to this that works reasonably fast?

[2020-04-27 17:51] lihost commented on #38937
@amahendrakar here is the link to colab notebook.

[Colab Notebook](https://colab.research.google.com/drive/12rORv1i7clN5Pq88oWpJhRPk4ESQs_ot)

[2020-04-27 17:54] mihaimaruseac commented on #38840
Closing as issue has been fixed. Thanks for confirming.

[2020-04-27 17:57] mihaimaruseac commented on #31315
No need to downgrade, all of the gfile conversions are covered by the migration script.

[2020-04-27 17:58] mihaimaruseac commented on #35754
We haven't yet released the final 2.2 pips. Once that happens, @jjhelmus can trigger the conda builds, afaik

[2020-04-27 17:59] mihaimaruseac commented on #34302
@MasterGroosha : 32 bits python? Python 2? Python 3.8?

[2020-04-27 18:01] RoboEvangelist commented on #31315
Is there a migration script for C++?

[2020-04-27 18:01] MasterGroosha commented on #34302
@mihaimaruseac Yeah, my bad, I didn't understand your messages. With Python 3.8, I cannot install TF-1.15, but I did install it with 3.7.6

[2020-04-27 18:01] shathesh18 commented on #18116
Hi I am facing the same issue but in pycharm virtual environment. Any help is highly appreciated

[2020-04-27 18:04] NiBurhe commented on #38793
Hello @ymodak,

example code can be found in amahendrakas comment. In general I have a pandas dataframe with one column as Bag of word list.

I tried to use an examplehttps://github.com/EgorBEremeev/SoloLearnML/blob/master/stackoverflow/Answer.%20Tensorflow%20pad%20sequence%20feature%20column.%20DenseFeatures.ipynb and he already give me an solution. He switched
`ds = tf.data.Dataset.from_tensor_s

[2020-04-27 18:08] rodrigoruiz commented on #33924
@FunkyGibbon Yeah, I am doing that with another network (in image recognition), but for this project, it won't even run the first batch. The one I told you that is working for a few epochs is a simplified version of the one I need to run.
Also, do you know how it works for the TensorFlow team to fix those issues?
I mean, it's been a while since this started and no one seems to be working on it.

[2020-04-27 18:15] foxik commented on #38742
@omalleyt12 Thanks! I already went through the sources of `train_step` and I like how it improved applicability -- for example we use CRF/CTC losses quite a lot, and will now be able to use .fit, which is a great simplification, even if only for the distribution strategy.

But we have sources which we want to work with pre-2.2 TF for the time being, and `train_on_batch` not working in Collab is al

[2020-04-27 18:16] anhmeow commented on #38918
Hello,

I found the issue : the dtype for the input of my classifier was incorrect :
features = tf.keras.layers.Input(shape=(10,), dtype=**tf.int32**, name="features")

to be replaced by :
features = tf.keras.layers.Input(shape=(10,), dtype=**tf.float32**, name="features")

[2020-04-27 18:16] #38918 closed

[2020-04-27 19:20] goroshevsky commented on #38837
I repeated the training with default parameters and wanted word LEFT:

[2020-04-27 19:39] beniroquai commented on #5867
One comment to add - it's hard to debug if you don't know what this means:
```Here is a list of operators for which you will need custom implementations: RandomUniform.````
or
```Exception: Placeholder Placeholder should be specied by input_arrays.````
which either indicate the use for a ```tf.placeholder``` for the dropout probability or the dropout node in the ```tf.lite```conversion process. Ou

[2020-04-27 19:50] Anriod commented on #38936
This was an issue on my part. The batch size was too large for memory.

[2020-04-27 19:50] #38936 closed

[2020-04-27 19:52] deil87 opened #38954 "Random uniform is inconsistent given same seed values"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
  _I was trying to use one of example usages from tensorflow docs and wanted to make results reproducible. After investigation it looks to me that `gen_random_ops.random_uniform` is inconsistent given seeds. That is why I have written a test ( custom code)_
- OS Platform and Dis

[2020-04-27 20:07] #38640 closed

[2020-04-27 20:08] avasbr commented on #36453
Having a one liner to load from GCS buckets would be highly desirable. It seems like a regression especially given that `saver.restore(sess,  gs://path_to_checkpoint)` worked in the past, and using `model.load_weights()` works in regular keras, but this behavior is not maintained for tf.keras. Any plans to support this moving forward?

[2020-04-27 20:35] nouiz commented on #33360
I just saw that this file is compile `external/arm_neon_2_x86_sse/NEON_2_SSE.h`, but why the arm code is included? It probably shouldn't be included at first.  From the full error message, it seems it comes from tflite:

[code]

[2020-04-27 20:37] jvishnuvardhan commented on #38939
@asicdsm Team is working on supporting BatchNormalization for TF2 Quantization Aware Training (QAT). Please stay tuned. We will update you when it is ready. The progress is monitored with another similar issue https://github.com/tensorflow/tensorflow/issues/37376. Thanks!

[2020-04-27 20:46] mvbattan commented on #33880
Any workarounds on this ? This is my approach so far, but I feel it's messy and leads to a much bigger model than should be.
[code]

[2020-04-27 20:47] ymodak commented on #38414
We need a minimum repro example to validate this behavior and troubleshoot further. Perhaps if you can build a toy example to reproduce this behavior will be much appreciated. Thanks for the issue.

[2020-04-27 20:52] mihaimaruseac commented on #38883
Hi.

Your PR (#34911) was merged into `master` on December 13th. However, the release branch for the 2.1 release (`r2.1`) has been cut on November 11th. Since there was no cherrypick of the commit, the change was not included in the 2.1 release. [Here](https://github.com/tensorflow/tensorflow/compare/r2.1) is a list of all commits included in the 2.1 release.

However, it will be surely included i

[2020-04-27 20:54] ymodak commented on #38883
Thanks for the issue. Apologies for the inconvenience, the 2.1 branch cut had happened before merging this PR.  We can expect this change in TF 2.2 release.

[2020-04-27 20:56] pavithrasv commented on #33880
Adding @tanzhenyu who is working on sparse inputs

[2020-04-27 21:04] jvishnuvardhan commented on #38931
@amrit-das It is a parameter in the model, so you will need to regenerate the model with different parameter as you wish. It is there in `TFLiteObjectDetectionAPIModel.java`. Thanks!

Please close the issue if this was resolved for you. Thanks!

[2020-04-27 21:05] ptigas commented on #36596
this simple example fails as well

[code]

[2020-04-27 21:08] #38241 closed

[2020-04-27 21:08] #36936 closed

[2020-04-27 21:09] rodrigoruiz commented on #38414
@ymodak the minimum repro example is attached as a txt file in the issue (minus the images, because I'm not allowed to provide those, but as I said before, any image of the same size should do).

[2020-04-27 21:16] FunkyGibbon commented on #33924
@rodrigoruiz, I don't know exactly how all of this works. I think the error may be in CUDA. In tensorflow the error is generated in tensorflow/stream_executor/stream.cc. This calls a function in tensorflow/stream_executor/dnn.h. If the problem is in Tensorflow I expect that is where it will be. Its essentially a wrapper which lets you target CUDA with parallel kernals

[2020-04-27 21:36] ashwinmurthy commented on #38312
@zrct0 - curious if you were able to try the stateless version and convert it?

[2020-04-27 22:00] jvishnuvardhan commented on #33727
I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-04-27 22:00] #33727 closed

[2020-04-27 22:01] ebrevdo commented on #38777
Modeling questions are a better fit for StackOverflow, instead of github issues.  However, from experience the typical explanation here is that the model is in an intermediate stage of training.  The typical progression with CTC is first it learns to emit just blanks; then it starts learning the outer edges of tokens to emit, then after more epochs learns to emit the intermediate tokens.  This ass

[2020-04-27 22:01] #38777 closed

[2020-04-27 22:23] freedomtan commented on #38949
There are CPU-only version from some platforms already. Please check https://github.com/tensorflow/tensorflow/blob/master/README.md

[2020-04-27 22:50] ianholing opened #38961 "EdgeTPU compiler creates a model with different behaviour"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2020-04-27 23:02] terryheo commented on #38890
Can't you just use crossbuild-essential-armhf ? Why do you need the poky toolchain?

[2020-04-27 23:07] CalePlut opened #38962 "Pip could not find version under 2.2 on Windows"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Pip
- TensorFlow version: 1.15
- Python version: 3.8
- Installed using virtualenv? pip? conda?: pip
- GPU model and memory:NVIDIA GeForce GTX1070, 8GB

*Describe the problem*
When attempting to install tensorflow 1.15 with pip on Windows 10, I receive an erro

[2020-04-27 23:08] thaink commented on #38701
@impjdi I am mentioning about the later part. When BHWC was being used but there was another error.

[2020-04-27 23:38] ll01 commented on #38915
Hi but these links all relate from creating the dataset from a generator. This code is creating the dataset from a tfrecord.

[2020-04-27 23:51] emiliocoutinho opened #38963 "image.image_gradients error "Duplicate node name in graph: 'stack'""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10.0.17134
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v2.0.0-rc2-26-g64c3d382ca 2.0.0
- **Python version**: 3.7.7
- **CUDA/cuDNN version**

[2020-04-27 23:51] icoffeebeans commented on #37844
@abattery Hi Jaesung, thanks a lot for your reply. Since the TF1.15.0 of export+convert cannot success, I'm wondering if model exported from TF version under 2.x could be converted correctly?

Say the currently lookup example you posted previously: I've tried to firstly export with model using SavedModelBuilder with `TF v1.15.0` and converted the saved model using `TF2.2.0`, but still not success.

[2020-04-27 23:55] abattery commented on #37844
Model should need to store a explicit dependency between LookupImportV2 op and other Lookup ops. However, it seems that TF v1.15.0 could not store that information.

If the information is already lost, the TF 2.2 converter can not revive the missing information.

[2020-04-28 00:23] mihaimaruseac commented on #38712
So it works on master but not on rc0?

[2020-04-28 00:32] mihaimaruseac commented on #31315
The C++ API didn't change

[2020-04-28 00:37] Frapschen commented on #26696
any update?

[2020-04-28 00:38] emilyfertig commented on #38893
This is now fixed in TensorFlow Probability (tensorflow/probability#902)

[2020-04-28 01:11] lijzijie commented on #26732
If you use Tensorflow in windows,you should for sure your path, for exsample  log_dir="logs/fit/" , you should change it to log_dir="logs\\fit\\"

[2020-04-28 01:13] haozha111 commented on #38932
@karimnosseir ,could you take a look? thanks!

[2020-04-28 01:20] #28058 closed

[2020-04-28 01:24] ikasapoglu commented on #37681
Hello @lintian06 , thank you for your reply.

The Conv2d params are the same as IOS model. So I think Android should run it, because as you know; less conv2D value is less quality. We don't want to lose the quality.

I share a repository below for unterstand that
how I run inference of the model.

https://github.com/ikasapoglu/StyleTransferExample

Also, I upload a model file [here](https://drive.

[2020-04-28 01:27] icoffeebeans commented on #37844
@abattery May I ask for some details about the dependency? Is it the Python API part or C++ kernels? I'm wondering if I could get this done through refactor some tensorflow code.

[2020-04-28 01:32] thegautam commented on #37235
@seddy @av8ramit are there any known gotchas for doing the renaming hack? What kind of tests can we do to make everything works?

[2020-04-28 01:43] zhao1157 commented on #38902
@ravikyram Can you try it in TF-1.x, not TF-2?

[2020-04-28 02:24] Frapschen commented on #26696
similarly, i ues python scripts to convert my SavedModel to lite format,but get the same error above,besides i use command line to convert,i get more error message:
[code]
that maybe the real problem while using python scripts don't show

[2020-04-28 02:42] gitgetcode opened #38966 "How to convert TenorFlow model with functional ops to graph definition with no Tensorflow version installed?"
In TensorFlow V2, functional control ops such if/while/for/case are introduced, if the model contains such functional control ops, how to convert them to graph definition?
In TensorFlow, there are some methods to transmit original node names correctly in file.
InstantiateFunction - AddDefaultAttrs
                                - helper.BuildNodeOutputIndex
				- helper.InstantiateNode
But in som

[2020-04-28 02:45] jz1998 commented on #38482
Fine,i felt i've solved my problem, thank you.

[2020-04-28 02:47] sumanthratna commented on #38773
Can you explain what you mean by statically unrolling the graph?

[2020-04-28 02:54] pathway commented on #30488
The above mis-spells the file name.  Try:
`find . -name libtensorflow_framework.so.2`

[2020-04-28 02:58] mikeortman commented on #36194
In case anyone comes across this ticket, and frustrated that there was no answer before it was closed, I ran into the exact same issue. For me, my issue was my TF Dataset pipeline causing this issue downstream.

it was caused by TPUs lack of support for dynamic batch sizes. In TF2, this can be resolved by adding drop_remainder=True to your dataset pipeline's batch operation:

`dataset.batch(..., d

[2020-04-28 03:02] tingxueronghua commented on #38916
I have to mention that this problem only exist in 2.1.0 but not in 2.0.0.
So, my homework forces to use tensorflow, and I noticed that I suffered from the same problem described in this issue. If tensorflow-gpu==2.0.0 is also ok, maybe it is an alternative choice.

[2020-04-28 03:06] #38361 closed

[2020-04-28 03:06] #38340 closed

[2020-04-28 03:38] walidk commented on #27107
I agree, WALS remains an important algorithm in recommender systems, and the state of the art for some problems.

On the topic of MLP-learned similarity (such as NCF) Vs. dot product similarity (such as matrix factorization or two-tower models): I would recommend trying a dot product model by default instead of NCF. It is unclear whether NCF performs as well in practice as dot product models, see

[2020-04-28 03:39] #38507 closed

[2020-04-28 03:40] windmaple commented on #38560
Should have been fixed by
https://github.com/tensorflow/tensorflow/commit/2a72ad4071b3b5612492f85ee6bd50e35c90128b

[2020-04-28 04:06] shiningrain commented on #38640
That's a good idea! Thanks for your fix.

[2020-04-28 04:33] MitskiP commented on #36853
@amahendrakar I am having the same issue.
With
`{"dependencies": {"@tensorflow/tfjs-node-gpu": "^1.7.3"}}` as `package.json`
followed by `npm install` and importing tfjs-node-gpu
`const tf = require('@tensorflow/tfjs-node-gpu');`
I get the error @johan-andersson01 printed. I am using GeForce GTX 960M as well, tensorflow 1.15.0.

[2020-04-28 05:24] Kaushy commented on #38589
Thank you @NMazzatenta I had the same issue and your solution fixed it.

[2020-04-28 05:24] DeepVasoya08 opened #38967 "tensorflow"
![error](https://user-images.githubusercontent.com/60228576/80450122-7446dc00-893e-11ea-8520-6ad83835c874.png)

[2020-04-28 05:46] qlzh727 commented on #38922
Thanks for reporting the issue. I think resetting the dropout mask for every call is the intended behavior. This is also aligned with the dropout layer in keras. Could u point me to any of the API doc that makes you think the dropout mask is caches across calls?

[code]

[2020-04-28 05:52] ravikyram commented on #38942
@q-55555

I have tried in colab with TF 2.1.0 and 2.2.0-rc3 and i am not seeing any issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c3b61bdf9c6afbc099162ea820eef91a/untitled832.ipynb).Thanks!

[2020-04-28 05:57] GHGmc2 opened #38969 "Thread hang when setting inter_op_parallelism_threads=1"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow version (use command below): tf-nightly
- Python version: 3.6.8

**Describe the current behavior**

Thread will hang if set`inter_op_parallelism_threads=1`.

**Standalone code to reproduce the issue**

[code]

[2020-04-28 06:00] mtngld commented on #38701
@thaink, @impjdi - thank you for taking a look at this issue.

Just to summarize -

Looks like there are 2 different issues here:
1. BHWC concat op using GPU delegate -> `Suitable node shader is not found`
2. Non-BHWC concat op using GPU delegate -> `ERROR: TfLiteGpuDelegate Init: CONCATENATION: Dimensions are not BHWC`

(Note: Both operations work fine on CPU delegate)

[2020-04-28 06:10] ravikyram commented on #38945
I was able to reproduce the issue in colab with TF 2.1.0 , 2.2.0rc3 . Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/b1726888ddd44b18ceb0174eeafd9779/untitled833.ipynb).Thanks!

[2020-04-28 06:14] ravikyram commented on #38948
@hksrathore

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-04-28 06:34] amahendrakar commented on #36853
@MitskiP,
Could you please create a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the issue template, so that we can track it there. Thanks!

[2020-04-28 06:45] atodniAr opened #38970 "RaggedTensor raises error with Keras TimeDistributed Layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary, pip installed
- TensorFlow version (use command below):

[2020-04-28 06:49] eualin commented on #38967
@DeepVasoya08 -

I bet you have installed TF version 2.x and not 1.x. Can you please confirm? Try this: `tf.version.VERSION`.

If so, then, you simply have to refactor your code as follows:

[code]

As you can see [here](https://www.tensorflow.org/guide/effective_tf2#functions_not_sessions), session are just functions in TF 2.x.

Hope this helps.

[2020-04-28 06:49] ravikyram commented on #38938
I am not seeing any issue with TF 2.1.0 .However i am able to reproduce the issue with TF 2.2.0-rc3. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/eeee97ce61ffb4fbf653ec375fe97fe8/untitled834.ipynb).Thanks!

[2020-04-28 06:50] #38948 closed

[2020-04-28 06:54] MitskiP opened #38971 "The minimum required Cuda capability is 6.0 for the binary C-API releases 1.14.0 and 1.15.0 (reopened)"
**System information**
- OS Platform and Distribution: Arch Linux
- TensorFlow installed from: binary
- TensorFlow version: 1.15.0
- Installed using: npm (tensorflow/tfjs-node-gpu)
- GPU model and memory: GeForce 960M, compute capability: 5.0
[code]

**Describe the problem**
Cuda capability requirement is set to 6.0.
Error:
[code]
This reopens the issue [#36853](https://github.com/tensorflow/tenso

[2020-04-28 07:07] ravikyram commented on #38920
@said120276

Please close this thread if it solves your question in latest TF version(2.2-rc3). Thanks!

[2020-04-28 07:19] nkundiushuti commented on #37876
I am also experiencing this, even without callbacks.

[2020-04-28 07:21] Colanim commented on #35432
Same issue, with [Electra model from HuggingFace](https://huggingface.co/transformers/model_doc/electra.html#tfelectramodel)

Minimal example :
[code]

[2020-04-28 07:27] amahendrakar commented on #38343
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-28 07:27] #38343 closed

[2020-04-28 07:28] amahendrakar commented on #38343
@pjherron,
Could you please create a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the issue template, so that we can track it there. Thanks!

[2020-04-28 07:45] amahendrakar commented on #38416
Was able to reproduce the issue with latest TF-nightly too i.e. TF v2.2.0-dev20200427. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/b2b3b5450d0005a16662cf5afa609e6e/38416-tf-nightly.ipynb). Thanks!

[2020-04-28 07:48] amahendrakar commented on #38421
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-28 07:48] #38421 closed

[2020-04-28 07:49] amahendrakar commented on #38470
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-28 07:49] #38470 closed

[2020-04-28 07:49] ravikyram commented on #38962
@CalePlut

Please upgrade pip and try.
`python -m pip install --upgrade pip setuptools`.

 PIP install TF 1.15 is available.
Please see the gist [here](https://colab.sandbox.google.com/gist/ravikyram/b10a5760a72ec20d5dd793c91d4523bd/untitled835.ipynb).
Can you downgrade python to 3.6 and see if it works.Thanks!

[2020-04-28 07:53] terryheo commented on #38025
FYI, you can disable using SSE instructions by providing  --copt="-mno-sse4" to the bazel build command.

[2020-04-28 08:00] ravikyram commented on #38902
I have tried in colab with TF 1.15 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/f84bf3655d794b765d84fb29c0ca08c4/untitled836.ipynb).Thanks!

[2020-04-28 08:05] ucas010 commented on #14356
have tried all the above, but no use
https://github.com/tensorflow/models/issues/8448

[2020-04-28 08:18] MichaelJayW commented on #33014
Using TF 1.12 I experienced the same issue. [https://github.com/tensorflow/tensorflow/issues/33711](33711) After look into issue 33711. I noticed that dynamic resizing only supported in tensorflow v2 version. So I changed TF to 2.1.0 and used convert saved_model(saved by TF1.12) to tflite model by using tflite_convert --saved_model_dir=/path/to/savedModel/ --output_file=tfv2Model.tflite. After con

[2020-04-28 08:23] christopher5106 opened #38972 "Adam optimizing performance issue"
Hi,
Using tensorflow 2.2.0-rc3 on Ubuntu 18.04 and Python 3.8.2, I've converted my code for both compat.v1 and v2 which was required by tf2onnx.
There is a huge difference in speed between v1 and v2 and I was wondering how to solve this.
My v2 implementation is:
[code]

while my v1 is:

[code]

I also have a predict function that is as fast. It looks like the derivative is slow.
I would like to mi

[2020-04-28 08:24] amahendrakar commented on #38828
@saahiluppal,
I am unable access this colab link. Please select 'File' -> 'Save a copy as Github Gist', and share the link of the new window. Thanks!

[2020-04-28 08:34] q-55555 commented on #38942
Thank you @ravikyram

I have found the problem : for an unknown reason, in my environment %USERPROFILE%/.keras/keras.json had "image_data_format": "channels_first"... Changing to "image_data_format": "channels_last" fixed the problem.

[2020-04-28 08:34] #38942 closed

[2020-04-28 09:03] Sim0xx001 opened #38973 "Error of installation"
**System information**
- Windows 10 Pro
- Python version: 3.8.2
- GPU model and memory:
   -GeForce GTX 1080 Ti
   - 19281 MB

**Describe the problem**

Hi everyone, I had a problem on installing Tensorflow 2.1.0 via pip on Windows; as soon as i use this command i get this error:
    pip install tensorflow
    ERROR: Could not find a version that satisfies the requirement tensorflow (from versions

[2020-04-28 09:24] saahiluppal commented on #38828
Here's the link to gist.
https://gist.github.com/saahiluppal/0bf79c27a15eaf6a72b25322eae6b6aa

Thanks.

[2020-04-28 09:43] Saduf2019 commented on #38910
i am able to replicate the issue faced, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/f3b781e4b903c2cd935b46b5d748ffc9/untitled158.ipynb).

[2020-04-28 09:50] deil87 opened #38974 "Add seed parameter to a Dense layer so that kernel initializers could use it for reproducibility"
**System information**
- TensorFlow version (you are using): tf.version.GIT_VERSION = v2.1.0-rc2-17-ge5bf8de410
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Right now `initializers.py` package has initializers that could be seeded but there is no way for users to specify seed when model and its layers are being specified.

**Will this c

[2020-04-28 09:53] Saduf2019 commented on #38972
@christopher5106
code shared is not indented and incomplete to replicate, can you please provide complete code for us to replicate or if possible please share a colab gist for us to analyse. Thanks!

[2020-04-28 09:59] mimxrt commented on #37093
Thank you for your reply. I have two questions if you allow:

1. I don't know if example records are required. Is there a better way to represent the data given in my MWE? If so, could you provide a code snippet or web link illustrating this?

2. Could you additionally or alternatively present a code snippet or point me to an example that shows how to properly use batches during storing/retrieving

[2020-04-28 10:05] chayka commented on #22145
Hey folks, any progress here? It is 2020, tf.2.1, and still cannot build blur function using depthwise_conv2d. As reported above, works with CPU build, works even in eager execution mode on GPU build, but when it comes to training, crashes inside tf.Data.dataset pipeline.

[2020-04-28 10:06] #38215 closed

[2020-04-28 10:06] #38446 closed

[2020-04-28 10:15] ravikyram commented on #38974
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-04-28 10:20] Dee-Ma opened #38976 "How to check if a tensor is empty in TensorFlow"
Hi there,

I am just using TensorFlow to train a CNN model. I used a command:

    t_iteration = tf.placeholder('int32', [], name='t_iteration') to initialize a tensor with shape of (0,).

I would want to know how to judge if the tensor t_iteration is empty? I have tried to use

    x = tf.constant(3)
    y = tf.constant(5)
     idx0 = tf.shape(t_iteration)
            A = tf.cond(tf.cast(idx0 ==

[2020-04-28 10:21] deil87 commented on #38974
@ravikyram here is a PR https://github.com/tensorflow/tensorflow/pull/38975 .  During benchmarking you might want to fix everything in your NN and see effects from changes in a particular part of the model. This helps during testing and research.

[2020-04-28 10:21] Saduf2019 commented on #38963
@emiliocoutinho
i ran the code shared by you and there is no error faced, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/285fc09d4c59bcd4c4181edade91bdf5/untitled160.ipynb)

please refer to these links with similar error:
[link1](https://github.com/tensorflow/tensorflow/issues/36509#issuecomment-583247460)
[link2](https://github.com/tensorflow/tensorflow/issues/20997)

[2020-04-28 10:24] Dee-Ma commented on #38976
Hi there,

I am just using TensorFlow to train a CNN model. I used a command:

    t_iteration = tf.placeholder('int32', [], name='t_iteration') to initialize a tensor with shape of (0,).

I would want to know how to judge if the tensor t_iteration is empty? I have tried to use

    x = tf.constant(3)
    y = tf.constant(5)
     idx0 = tf.shape(t_iteration)
            A = tf.cond(tf.cast(idx0 ==

[2020-04-28 10:27] deil87 commented on #38974
@ravikyram people out there are trying to do this: https://machinelearningmastery.com/reproducible-results-neural-networks-keras/

extract from this article

To re-iterate, the most robust way to report results and compare models is to repeat your experiment many times (30+) and use summary statistics.
If this is not possible, you can get 100% repeatable results by seeding the random number genera

[2020-04-28 10:35] qipengh commented on #24591
Do you have any progress？I have the same problem.

[2020-04-28 10:37] chanakasandaruwan commented on #31901
Uncaught (in promise) Error: Tensorflow Op is not supported: AddV2
    at t.mapNode (operation_mapper.ts:125)
    at operation_mapper.ts:86
    at Array.reduce (<anonymous>)
    at t.transformGraph (operation_mapper.ts:85)
    at t.<anonymous> (graph_model.ts:125)
    at callbacks.ts:17
    at Object.next (callbacks.ts:17)
    at a (callbacks.ts:17)

my error I can not figure out what the problem

[2020-04-28 10:51] amahendrakar commented on #38828
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/baa48b9fc7e2662d776cdb9dc65e9943/38828-2-1.ipynb) and [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/8ebb5491f3cc5a0bf0f6cd4ffe6e88b5/38828-2-2.ipynb). Please find the attached gist. Thanks!

[2020-04-28 10:53] q-55555 commented on #31686
@emla2805 I am using python 3.7.4 on Windows 10.
I have tested on pre release tensorflow 2.2.0rc3 and the problem is not present.

[2020-04-28 10:59] psunn commented on #34622
thanks!

[2020-04-28 10:59] #34622 closed

[2020-04-28 11:05] jakublipinski commented on #38906
I dug a bit further into this issue. This is what I found:

It's indeed an optimizer issue, namely the `ScopedAllocatorOptimizer` optimizer.

Interestingly, you cannot turn this optimizer off using `tf.config.optimizer.set_experimental_options()`. The `scoped_allocator_optimization` key is treated as `Bool` at:

https://github.com/tensorflow/tensorflow/blob/109fd384bdb58fbc8e61848723157a43621fec26

[2020-04-28 11:06] Saduf2019 commented on #38907
@Tborth
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
you may refer to [this link](https://github.com/googlesamples/assistant-sdk-python/issues/236) for assistance

[2020-04-28 11:07] saahiluppal commented on #38976
Refer to stackoverflow here:
https://stackoverflow.com/questions/50529309/how-to-check-if-a-tensor-is-empty-in-tensorflow

Quick Note:
placeholder is a tf1.x module.  if you are using tf2.x, you have to use tf v1 compatibility, refer to doc here:
https://www.tensorflow.org/api_docs/python/tf/compat/v1/placeholder

[2020-04-28 11:09] Saduf2019 commented on #38954
@deil87
Code provided seems incomplete please provide complete stand alone code for us to replicate the issue faced.

[2020-04-28 11:36] ericqu commented on #38951
@ravikyram and @angerson ,

I am not a specialist in c++ however as I was stuck I changed the line with the error from:

[code]
to
`c++
constexpr absl::string_view kDefaultBlacklist = absl::string_view((const char *)"\n", (size_t) 1);
`

and was able to successfully compile. I am not sure that this is the right way of doing it though.

[2020-04-28 11:38] said120276 commented on #38920
Work fine in TF version 2.2.rc3.Thanks

[2020-04-28 11:38] #38920 closed

[2020-04-28 11:44] amahendrakar commented on #38944
@loipf,
I was able to reproduce the error with [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/5007574fec22eea48ebad42bd700761f/38944-2-2.ipynb#scrollTo=wL6gGpxhkeA0). However, the issue seems to be fixed with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/b59a88f5e0254e2cf2099675385ccccc/38944-tf-nightly.ipynb) as I was able to run the code without

[2020-04-28 11:48] charlizesmith commented on #26199
Did you get any solution for above problem? I am facing same issue.

[2020-04-28 11:54] amahendrakar commented on #38973
@Sim0xx001,
TensorFlow 2.1 does not support Python 3.8. Instead could you please try installing TensorFlow v2.2.0rc3 using the following command.

`pip install tensorflow==2.2.0rc3`

Thanks!

[2020-04-28 11:56] Sim0xx001 commented on #38973
Sure, I will try. Thank you so much!

[2020-04-28 11:57] rupa1118 commented on #10515
Thanks this worked for me 👍 ☺️
I have one question can't we download the structure graph and view on the system instead of viewing it on tensorboard? Thanks in advance

[2020-04-28 12:00] Sim0xx001 commented on #38973
It doesn't work, it returns the same error. Could it be the version of pip? I've installed pip 20.0.2

[2020-04-28 12:08] sanidhyamangal commented on #38938
@ravikyram, I have already used migrated my code from 2.2.0-rc3 to 2.1.0 and 2.0.0. Thanks for gist. Hoping to see this issue resolved in upcoming stable build.

[2020-04-28 12:19] MarcJavin commented on #33853
The fix was to remove the L in front of the .a library :
`g++ minimal.cc /media/hdd/repositories/tensorflow/tensorflow/lite/tools/make/gen/aarch64_armv8-a/lib/libtensorflow-lite.a -o test -std=c++11 -I /media/hdd/repositories/tensorflow/ -I /media/hdd/repositories/flatbuffers/include`

[2020-04-28 12:22] boratanrikulu commented on #36495
@longkeyy thanks a lot! that works.

[2020-04-28 12:23] maxvfischer commented on #30695
@jvishnuvardhan Wouldn't it still make sense to have a feature similar to what @jim-meyer is proposing? I'm currently in the same situation: I want previous "best" models to be overwritten by the new "best" model, but I still want to include what `epoch` and `val_loss` the model was generated at. To my understanding it's only possible to do either or? Either overwrite the previous best model and n

[2020-04-28 12:27] Eashwar93 opened #38978 "mismatching quantization parameters(scale and zero point)"
**System information**
- Linux Ubuntu 18.04  x86-CPU
- TensorFlow installed from binary
- TensorFlow version 1.15 - GPU

**Command used to run the converter or code if you’re using the Python API**

`import tensorflow as tf
import numpy as np

def representative_dataset_gen():
  for _ in range(100):
    fake_image = np.random.random((1,432,368,3)).astype(np.float32)
    yield [fake_image]

graph_p

[2020-04-28 12:27] rohanreddych commented on #38950
Hey @WurmD if you want to change the documentation then you need to make a pull request by changing the docstrings of the source file, the file for the above issue is https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/keras/engine/training.py#L81-L2865 change what you think should be there and make a pull request.

[2020-04-28 12:28] Saduf2019 commented on #38882
@dhruv-colosus
Please note you are referring to incorrect tensorflow version, the tensorflow version should be 1.14 and not 1.4

[2020-04-28 12:29] Saduf2019 commented on #38889
@KurtSunxx
Could you please update as per above comment.

[2020-04-28 12:32] rockbass2560 commented on #26199
In my case I needed to put the size in bytes of int type. So the operation was 4x240x240x3

[2020-04-28 12:32] Saduf2019 commented on #38949
@jetjodh
Could you please update as per above comment

[2020-04-28 12:36] deil87 commented on #38954
@Saduf2019 I have realised that this is probably not a bug but a feature. It is just a bit unexpected behaviour -  usually you don't need to re-run script or set seed one more time to get consistency. But `random_seed.py` explains that this is how it is done in tensorflow. I'm going to close this one.

[2020-04-28 12:47] #38707 closed

[2020-04-28 12:48] jetjodh commented on #38949
Yes, I tried the link provided by @freedomtan and it worked. But this information about the cpu version is not mentioned here https://www.tensorflow.org/install/pip.

[2020-04-28 13:04] Saduf2019 commented on #38827
@HowAlgorithmic
I see that the code shared is incomplete, for us to replicate the issue faced please provide with complete stand alone code.
I ran the code shared and face the error shared in [this gist.](https://colab.sandbox.google.com/gist/Saduf2019/cb7fab0d8efa80bbab3cedad329d74b1/38827.ipynb)

[2020-04-28 13:19] loipf commented on #38944
great! I can confirm that the tf-nighly build in combination with tfp-nightly fixes this problem
thanks a lot. this can be closed.

[2020-04-28 13:19] #38944 closed

[2020-04-28 13:20] Dogus-1 commented on #38613
Thank you very much!! Very helpful.

[2020-04-28 13:20] amahendrakar commented on #38947
Was able to reproduce the issue with [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/8e8e4748b3664326e80821a4691db4ab/38947-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/cccb69088135ccf2469cec53108eb1ab/38947-tf-nightly.ipynb#scrollTo=5LR8sgPoHgGS). Please find the attached gist. Thanks!

[2020-04-28 13:22] amahendrakar commented on #38947
@jfhawkin,
Could you please check [this StackOverflow comment](https://stackoverflow.com/a/44956689) from a similar issue and let us know if it helps. Thanks!

[2020-04-28 13:29] KurtSunxx commented on #38889
Sorry.I forget release my setting.

CUDA:CUDA10.0

CUDNN:cudnn 7.6.5

Tensorflow:2.0

gcc:5.4

my code like the function: train_step() in https://tensorflow.google.cn/tutorials/generative/pix2pix

but in my train_step, I call a model(named classifier) in function A, while there still call the same model in function B of function A.So in short, the flow chart of my code is like the following:

`def

[2020-04-28 13:31] KurtSunxx commented on #38889
Sorry Sir. I dont know update what. Cause my english is realy poor. I just added some setting of my device and software environment. Is this information is helpfull?

[2020-04-28 13:35] KurtSunxx commented on #38889
Thanks Sir. I have tried this method. But it didn't work. By the way, Do you know if all the version of tensorflow(including tf1.x) also use one Gpu by default even if we set multiple GPUs to use? Cause I find that when I use tensorflow1.15, This also happens.

[2020-04-28 13:37] Saduf2019 commented on #37980
@nistrup
Please update as per above comment

[2020-04-28 13:39] Saduf2019 commented on #38449
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-28 13:39] #38449 closed

[2020-04-28 13:40] Saduf2019 commented on #38522
@happypycode
please update if this is still an issue

[2020-04-28 13:41] Saduf2019 commented on #38576
@dupree
PLease update as per above comment

[2020-04-28 13:48] Saduf2019 commented on #38821
@17patelumang
Can you please share the standalone code from tf 2.1 where the error is faced for us to replicate the issue, or if possible please share a gist of the code and error faced for us to analyse

[2020-04-28 13:54] dupree commented on #38576
@Saduf2019 Unfortunately I am not using colab but my local jupyter notebook, I can share that if thats of any help ? But as I mentioned in my previous comment, I haven't changed much except adding my own data files. If the example expects data/data files in any specific `filename` format, please share.
Thanks

[2020-04-28 13:55] jfhawkin commented on #38947
@amahendrakar,

I looked at the StackOverflow comment. They are building up neural network
layers from the data, so each of l2 and l3 builds on l1 (which is based on
the input data).

In my case, I have three independent calls to affine() based on the input
data. I ran the code through the debugger and it looks to me like on each
call the inputs (x, kernel_diag, and bias) are being passed as
pytho

[2020-04-28 14:00] SpikingNeuron commented on #38923
Actually I override Model class. And with `tf.keras.models.load_model(...)` I cannot get that class. So I prefer something like `my_model_instance.load(...)` to do the job for me.

[2020-04-28 14:07] oke-aditya commented on #38889
Tensorflow does not do distributed computing by default. Even in v1 or in v2. By setting multiple GPU cards it won't mean that all will be used. I see that in your example you are writing a custom training loop instead of model.fit().

As per your system settings there is no issue with that part. Have a look at [this example ](https://tensorflow.google.cn/tutorials/distribute/custom_training) to u

[2020-04-28 14:11] jvishnuvardhan commented on #38935
@limjq45 Which tflite application you are trying implement? I would like to reproduce the error on my device and see what is root-cause. Thanks!

[2020-04-28 14:12] fcunilim commented on #38712
I quickly launched a bit a build this morning and... building from the master branch works (indeed... LOL)
Can't wait for the release then ;)

[2020-04-28 14:13] oke-aditya commented on #38973
You need MS Visual C++ redistributable as well. Please have a look at this issue as well #38916

[2020-04-28 14:15] 17patelumang commented on #38821
@Saduf2019  code i already provided above :)

[2020-04-28 14:16] zenboooooon opened #38981 "Build won't start."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MacOS 10.13.6(17g65)
- Mobile d

[2020-04-28 14:19] jvishnuvardhan commented on #38923
@SpikingNeuron If you have any `custom_objects` in your model, then please follow this [guide](https://www.tensorflow.org/tutorials/keras/save_and_load#saving_custom_objects). Thanks!

[2020-04-28 14:20] Bumblebee269 commented on #21809
Just an observation, first you talk about every 100ms an image, after import 100% CPU Utilization. These are two different measures, did you got each 100ms an image after import tf?
Please note that ids recommends to disable idle states. If you do this, then usually the cpu utilization in Windows task manager is 100% even if your application does not do much.
Maybe this helps.

[2020-04-28 14:21] alimhanif commented on #38655
Hi, I was training my model using Multi Workers Mirrored Strategy and still get this issue.
Time by time, the memory usage is still increasing until I got OOM.

[2020-04-28 14:23] Sim0xx001 commented on #38973
So if I install MS Visual C++ I will be able to execute pip install tensorflow? If I need to wait until it will be supported for python 3.8 it is not a problem because at the moment it is only a school project and I'm using Google Colab, that works perfectly. Anyway thanks you all for your help!

[2020-04-28 14:25] lgeiger commented on #38655
@alimhanif Could you check if your issue is related to #38617?

[2020-04-28 14:27] amahendrakar commented on #38970
@atodniAr,
Was able to reproduce the issue with TF v2.1, [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/e17377657a6ae2efbaf000993cb9bd94/38970.ipynb#scrollTo=0W_BpvlRGGH1) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/daff2b4e3797d5729698833f2b67cd4a/38970-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-28 14:28] oke-aditya commented on #38973
No see the complete installation steps [here](https://www.tensorflow.org/install/pip#windows)

You need Visual C++ as well. And supported python version 3.8 is not supported as of now. So supported python version with proper visual C++ installation is required. Then a `pip install tensorflow` will be fine.

[2020-04-28 14:33] ValYouW commented on #33634
@jdduke I see that `build_def.bzl` on `master` still don't have `features = ["windows_export_all_symbols"]` is there any problem with this "fix"? it seems to be working. Also any idea why the dll is quite big (~15MB) while `so` for Android are fairly small? thx

[2020-04-28 14:34] alimhanif commented on #38617
@lgeiger I got memory error on second epoch when evaluate val set. Then, I see on the memory usage, at the begining it only takes 35%, but it's going up time by time until I got OOM. Is it same problem with you?

I use Multi Workers Mirrored Strategy btw

[2020-04-28 14:34] charlizesmith commented on #26199
Thanks rockbass2560, i tried and in my case it is issue of input size. it is 224 works for me. I am not getting this error and model run successfully but not getting image mask. How to configure remaining value in the below formula?

[2020-04-28 14:35] Sim0xx001 commented on #38973
Ok, so I will install it; thank you so much!

[2020-04-28 14:35] lgeiger commented on #38617
@alimhanif are you using the latest nightly or 2.2.0rc3?

[2020-04-28 14:38] alimhanif commented on #38617
yes, i'm using that version

[2020-04-28 14:40] lgeiger commented on #38617
If you are using `tensorflow==2.2.0rc3`, could you give the latest version of `tf-nightly` a try and see if the issue is still there?

[2020-04-28 14:43] KurtSunxx commented on #38889
Thanks Sir! I will try it soon! Best wishes to you.

[2020-04-28 14:48] limjq45 commented on #38935
@jvishnuvardhan I am basically trying to build a Bidirectional LSTM text classifier. I used this code as my template:[https://github.com/tensorflow/examples/tree/master/lite/examples/text_classification/android](url).

Given the network configuration in the first post, I am able to train out a model, convert it to tflite, and classify text successfully on my device.

The code I used to convert is

[2020-04-28 14:48] patricksansom commented on #32032
Any chance you can provide a little more detail around your solution

train_dataset = tf.data.Dataset.from_tensor_slices(((train_images, dummydata),train_images)).shuffle(TRAIN_BUF).repeat().batch(BATCH_SIZE)

e.g. How have you set up/loaded train_images?

Thanks

[2020-04-28 14:48] alimhanif commented on #38617
The latest version of TF Nightly is not able to use Tensorboard Callback. So, I didn;t try it with large data.
This is error that I get:
[code]
Could you help me please about this error? If I'm able to use TB, will try to test it with large data

TF Nightly version: `2.2.0.dev20200428`

[2020-04-28 14:53] menonnsl commented on #38908
@amahendrakar
It's very hard to share a Colab gist because, I'm using an external script `helper.py` which contain `padd_spectrograms` method as a part of data generation

[2020-04-28 14:54] alimhanif commented on #38617
Yes, let me try it

[2020-04-28 14:55] menon92 commented on #38908
@amahendrakar
It's very hard to share a Colab gist because, I'm using an external script helper.py which contain padd_spectrograms method as a part of data generation

[2020-04-28 14:59] adfayed commented on #38431
Hello?
Will anyone please be of assistance?

[2020-04-28 15:01] adfayed commented on #38432
@srjoglekar246 Hello? Can you please reply? I believe my model _is quantized_.

[2020-04-28 15:09] alimhanif commented on #38945
Sorry, is it related with this? or not?
https://github.com/tensorflow/tensorflow/issues/38617

[2020-04-28 15:11] alextp commented on #38773
Creating a graph that looks like loop(0), loop(1), ..., loop(n) as opposed
to one that looks like for i in range(n): loop(i)

On Mon, Apr 27, 2020 at 7:48 PM Sumanth Ratna <notifications@github.com>
wrote:

--
 - Alex

[2020-04-28 15:12] saeta commented on #38828
Sorry @jvishnuvardhan , I am no longer working on TPUs. I'm going to re-assign it back to you to re-triage. Thanks!

[2020-04-28 15:14] Java-Young commented on #36380
Oh, my god. I met the same error, too. So terrible!

[2020-04-28 15:26] alextp commented on #38902
TF1 doesn't add any dependencies you didn't add yourself. It's up to you to decide what order you want stuff to run in.

[2020-04-28 15:26] #38902 closed

[2020-04-28 15:26] alextp commented on #38966
It's a fairly complicated graph lowering step, and we currently don't have a standalone tool to do that.

[2020-04-28 15:26] #38966 closed

[2020-04-28 15:31] hessior commented on #9829
Worked for me!

[2020-04-28 15:32] jazzsir opened #38982 "MirroredStrategy Keras Example Hangs"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-28 15:34] tywtyw commented on #38928
There is a similar bug issue link in grpc issues
https://github.com/grpc/grpc/issues/13249

[2020-04-28 15:35] tanguycdls opened #38983 "[TF2.2rc3] dict of tensors as an input of a keras layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary pip
- TensorFlow version (use command below): 2.2rc3
- Pyth

[2020-04-28 15:45] KurtSunxx commented on #38889
Sorry Sir. maybe I can not make my idea clearly. I mean I had set 3 GPU to train, But when tensorflow need to allocate more memory, why it can not allocate the extra memory to other GPU cards I sepecified before? Is that can be solved by tf.distribute? For example, I have 3 GPUs whose memory is 11G, in fact, I found when I running my code, the first one uses almost 11G while the others usese 155M.

[2020-04-28 15:54] SpikingNeuron commented on #38923
Please read the updated question now. I assume that providing extra method `my_model.load(filepath=..., load_format='tf')` which is in line with `my_model.save(filepath=..., save_format='tf')` with extra kwarg `load_format` if needed can be a solution that is consistent with `save()` api..

[2020-04-28 16:00] Billy1900 commented on #7856
Windows 10, Pytorch 1.4.0 GPU,
I tried the method above mentioned, but did not work.
Is there any other way to solve it?

[2020-04-28 16:01] khaledajax commented on #36601
@gadagashwini , i'm so sory for i can't reply early i'm still have this problem

(tensorflow_cpu) C:\Users\mvenv\Desktop\object detection>python
Python 3.7.7 (default, Apr 15 2020, 05:09:04) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\mvenv\anaconda3\envs\tensorflo

[2020-04-28 16:06] tanguycdls opened #38984 "[TF2.2rc3] dict of ragged tensors as an input of keras layer does not support serialization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2rc3
- Python v

[2020-04-28 16:10] impjdi commented on #38701
Thanks for elaborating.  The first thing happens here`//tensorflow/lite/delegates/gpu/gl/kernels/registry.cc` Could you please add a print statement and tell me which key is causing the issue?

[2020-04-28 16:16] jfhawkin commented on #38947
I found a few responses to similar issues and the solution was downgrading gast to 0.2.2. However, this appears to be changed in recent updates to tensorflow. Many people were getting: `AssertionError: Bad argument number for Name: 3, expecting 4` with gast 0.3.X and I get the opposite when downgrading from 0.3.3 to 0.2.2 (i.e., `AssertionError: Bad argument number for Name: 4, expecting 3`).

[2020-04-28 16:17] neilteng opened #38985 "model.save raise ValueError: If specifying TensorSpec names for nested structures, either zero or all names have to be specified."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
I am using colab to reproduce the issue and the ipynb is attached below.

You can collect some of this informati

[2020-04-28 16:19] srjoglekar246 commented on #38432
Does the floating point model run on CPU, maybe with our [benchmark_model tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark)? (EdgeTPU may not support floating-point inference, but atleast CPU should give a sanity check)

TBH, I am not very familiar with the object detection config APIs. But I am not sure that you can re-train with quantization only for fin

[2020-04-28 16:22] av8ramit commented on #37235
There are no known gotchas to me, but I personally have not tried it myself.

[2020-04-28 16:24] oke-aditya commented on #38889
Okay. So I get your problem. One of your GPUs is being used too much and you want your data to be shifted to other GPUs to avoid the OOM error.

But when tensorflow need to allocate more memory, why it can not allocate the extra memory to other GPU cards I sepecified before?

Tensorflow does not allocate memory to other GPUs properly or synchronously if it is not in tf.distribute.

Is that can be

[2020-04-28 16:25] jdduke commented on #33634
Thanks for flagging, I'll go ahead and land this for the C++ .dll target.

I'm curious if you're able to use the C API/dll in lite/c:tensorflowlite_c? That should have finer grained symbol export, has a simpler header export story and also avoids many of the C++ ABI issues with compatibility.

[2020-04-28 16:25] neilteng commented on #38985
There is a similar issue I found here: https://github.com/tensorflow/tensorflow/issues/38465. But I am not using the graphics api and I cannot find a solution from that ticket neither.

[2020-04-28 16:31] mrry commented on #22145
@jsimsa Should 3ec28a7ee327244fe96d864c15dfa10e8753436c (in the nightly build, but not in any release, yet) fix this issue, or is there anything else that @chayka needs to do?

[2020-04-28 16:33] maplewisakha opened #38986 "The app crash when i apply my mobilenet model."
Device: HUAWEI nova 3i
I downloaded the "TensorFlowLiteInceptionTutorial" from https://github.com/soum-io/TensorFlowLiteInceptionTutorial. I change to my mobilenet model.

Labels is show but Confidence value = 0% all.

ChooseModel.java
[code]
Classify.java
[code]

[2020-04-28 16:33] ysyyork commented on #32394
i see this with pip too. memory usage keeps increasing for fit.

[2020-04-28 16:36] pabloi09 commented on #34767
Hi, I am having the same issue while trying to load a model with multiple inputs.
![model](https://user-images.githubusercontent.com/33988623/80512979-a415d400-897e-11ea-945f-0fcf4d4e7af4.png)
1.  I save the whole model with a ModelCheckpoint callback
[code]
2. In a new colab session I try to load it with
[code]

The trace:

[code]

[2020-04-28 16:38] CalePlut commented on #38962
Downgrading to Python 3.6 worked, thanks.

[2020-04-28 16:38] #38962 closed

[2020-04-28 16:40] julie-jiang opened #38987 "Sigmoid returns negative values"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
CentOs Linux 7 (Core)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
pip3 installed tensorflow-gpu
- TensorFlow version

[2020-04-28 16:41] Matesanz commented on #36436
@pabloi09 I'm having the exact same issue with the exact same task.
Did you manage to solve it? Regards.

[2020-04-28 16:41] jvishnuvardhan commented on #32394
@ysyyork Can you please create a new issue with a standalone code to reproduce the error? Thanks!

[2020-04-28 16:42] tloki commented on #28598
Well, I'm stil able to reproduce the issue by running the gist @gadagashwini provided using 2.2.0-rc3, and I'm also having a hard time getting it to properly resample using my own training scripts (which I don't think is important to provide since even for a simple script from that gist - it does not work).

[2020-04-28 16:47] pabloi09 commented on #36436
Hi! I suggest you to create a custom model class the way it can be done via tensorflow 2. <a href="https://stackoverflow.com/questions/61058119/implementing-gradient-penalty-loss-with-tensorflow-2">Here</a> I talked about the resources I followed up. I did not get good results for 1D data btw.

Best regards!

[2020-04-28 16:48] skyblueee commented on #16291
+1  same problem on 1.14.0

[2020-04-28 16:56] tombelieber commented on #38064
Hi there, I change the `batch_size` to smaller so that it could be more evenly divided during training.
For example, when you have 300 training samples, do not use `batch_size=128`, try `batch_size =10` or `batch_size=20` something, it works for me.

[2020-04-28 16:58] wangtz commented on #38039
I see. You meant that BytesRequiredForTensor should be able to handle scalar. I think that might be reasonable. We haven't had a case for passing scalar as a tensor. But feel free to submit a PR if you're blocked on this.

[2020-04-28 16:59] jvishnuvardhan commented on #34767
@pabloi09 Can you please open a new issue and provide a simple standalone code to reproduce the error. Thanks!

[2020-04-28 17:03] asottile commented on #37235
@av8ramit note that the name "manylinux2010" does not imply it is a 10 year old specification -- it has only been in pip since [version 19.0](https://pip.pypa.io/en/stable/news/#id203) (2019-01-22).  the name "2010" is indicating the target machine on which it will be installed, essentially "this should work on any linux distribution released since 2010"

meaning that any pip older than ~a year ag

[2020-04-28 17:03] amahendrakar commented on #38867
@ericqu,
I was able to run the code with TF v2.2.0-rc3 after making a few changes to the code.

I had to comment out the line `keras.utils.plot_model(tf_model, "TFliteSupport_overview.png", show_shapes=True)`, as it was throwing an error

and change `open("TFliteSupport", "wb").write(liteModel)
` to
`open("TFliteSupport.tflite", "wb").write(liteModel)
`

Please find the gist of it [here](https://c

[2020-04-28 17:07] rachellim commented on #24520
@dominthomas  - thanks for the info. i'm interested in understanding why our AUTOTUNE isn't performing well for you. can you start a separate github issue about the performance issues you're facing?

[2020-04-28 17:10] nbro opened #38988 "AttributeError: 'dict' object has no attribute 'name'"
**System information**
- Have I written custom code: No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X Catalina
- TensorFlow installed from: binary
- TensorFlow version: ` 2.2.0.dev20200427`
- Python version: 3.7.5

**Describe the current behavior**

I get the error

when I try to plot a model, with `tf.keras.utils.plot_model`, where I specify the loss to the `compile` method

[2020-04-28 17:12] lihost commented on #38937
@amahendrakar I have shared notebook. Let me know if this is not accessible to you.

[2020-04-28 17:14] matthewn4444 commented on #38336
Have there been any updates on this?

[2020-04-28 17:19] julie-jiang commented on #38987
Update: it seems that the issue might be related to AUC and not sigmoid, because after removing AUC there were no negative outputs. However, I also realized the result is not deterministic (even though I've seeded everything, I don't know why)

I did manage to fix the problem by manually clipping the value to be between 0 and 1, however.

[2020-04-28 17:27] amahendrakar commented on #38908
@menon92,
Is it possible for you to share a minimal standalone code to reproduce the error? Thanks!

[2020-04-28 17:37] ccrusius commented on #34953
I'll close this, as the comment above shows the equation is equivalent.

[2020-04-28 17:37] #34953 closed

[2020-04-28 17:38] #33634 closed

[2020-04-28 17:39] jvishnuvardhan commented on #38596
@chrisyeh96 This was resolved in recent tf-nightly. It will be available in stable `TF2.2` in near future. [Here](https://colab.research.google.com/gist/jvishnuvardhan/bfd3642c92417f9a260a0e07326ca3ee/untitled780.ipynb) is the gist for your reference. Thanks!

I am closing this issue as this was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-04-28 17:39] #38596 closed

[2020-04-28 17:43] bentyeh commented on #38596
Note to self: Original fix commit to the master branch is https://github.com/tensorflow/tensorflow/commit/4f17f35befc1b2cefd22c404a8ceb7fe849291f7

[2020-04-28 17:47] mihaimaruseac commented on #37235
@thegautam if you only change the tag part of the name there are no caveats. I have done it many times and it worked.

If you change the rest of the name then you also need to change internal contents (at least the name in severla places but this also causes some hashes to change)

[2020-04-28 17:47] ccrusius commented on #36669
Closing - the comment above provides a solution.

[2020-04-28 17:47] #36669 closed

[2020-04-28 17:48] zacwellmer commented on #38922
Hi @qlzh727
The LSTMCell's docs on [reset_dropout_mask](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTMCell#reset_dropout_mask) and [reset_recurrent_dropout_mask](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTMCell#reset_recurrent_dropout_mask) led me to believe that the mask was only reset when explicitly called (example: the docs exaggeration on it being used in t

[2020-04-28 17:58] jvishnuvardhan commented on #38165
@bentyeh This was resolved in recent tf-nightly. It will be available in stable TF2.2 in near future. [Here](https://colab.research.google.com/gist/jvishnuvardhan/8bbb847311468302c9ae99dd56e29590/untitled131.ipynb) is the gist for your reference. Thanks!

I am closing this issue as this was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-04-28 17:58] #38165 closed

[2020-04-28 18:00] menon92 commented on #38908
@amahendrakar ,
Is it possible to apply `@tf.function` to `tf.keras.preprocessing.sequence.pad_sequences()` ? Thanks

[2020-04-28 18:03] amahendrakar commented on #38937
@lihost,
I am facing an error while running the code because of the missing files at `TFRECS_TRAIN = "gs://imager-tfrecs-train/*"
`

Could you please share all the datasets and supporting files used in your code. Thanks!

[2020-04-28 18:07] sboshin commented on #36846
This should still be open because the tutorial doesn't explicitly mention needing this for the tutorial to work:
https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#dataset_sharding_and_batch_size

Can we fix the documentation to explicitly add this?

[2020-04-28 18:09] av8ramit commented on #37235
@asottile the age of the specification was not what I was trying to say, I meant to say that it is based off of an OS that was already 10 years old, which is why it was difficult to comply with it. I've updated my comments if that helps.

[2020-04-28 18:20] rootsid opened #38990 "Tensorflow is not detecting GPU, while it is detected in PyTorch"
**System information**
- Kali GNU/Linux 2020.1
- TensorFlow installed from (source or binary): pip source
- TensorFlow version: 2.1.0
- Python version: 3.7.7
- Installed using virtualenv? pip? conda?: pip in virtualenv
- CUDA/cuDNN version: (deepl) root@root:~/Documents/deepl# nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2019 NVIDIA Corporation
Built on Wed_Apr_24_19:10:

[2020-04-28 18:25] Saduf2019 commented on #38985
@neilteng
I ran the code shared, and do not face the same error faced by you. Please find [the gist ](https://colab.sandbox.google.com/gist/Saduf2019/c87c26439e009db172c8408a38d2f5ee/untitled162.ipynb)for the same.

[2020-04-28 18:25] amitDaMan opened #38991 "Speech Command Recognition example crashes with GPUDelegate"
Tensorflow lite issue:

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes:

In SpeechActivity when the interpreter is created:
(https://github.com/tensorflow/examples/blob/master/lite/examples/speech_commands/android/app/src/main/java/org/tensorflow/lite/examples/speech/SpeechActivity.java line: 182)

(deprecated)
tfLite =

[2020-04-28 18:29] Saduf2019 commented on #38988
@nbro
I ran the code shared above and do not face any error on nightly, please find the [gist here.](https://colab.sandbox.google.com/gist/Saduf2019/cdf44239edc5dd83d9574f7b2ad6f5ef/untitled162.ipynb)

[2020-04-28 18:37] nbro commented on #38988
@Saduf2019 If I run your notebook, I get the error I am reporting above. Please, run it again!

[2020-04-28 18:39] anj-s commented on #38617
@lgeiger We've checked in the [fix](dac6d6ae7c381fb93438d8553b2596bfd4828c49) for the memory leak regression. I know you mentioned that the issue was not there post the cache fix. Let us know if you are still running into issues. Thanks!

[2020-04-28 18:40] Abhipray opened #38992 "TFLMicro mul kernel input shapes broadcasting"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.2 (mast

[2020-04-28 18:53] navid-a commented on #31053
I'm having the same issue! Did anyone figure this out?

[2020-04-28 18:56] neilteng commented on #38985
Sorry for the inconvenience, the old one rely on some files in the directory. I have delete unnecessary code. And here is the new version:

https://drive.google.com/open?id=1h2QIX_QZetIzSuG0J6lNWkHoSa2nnIyS

[2020-04-28 19:02] Abhipray commented on #38982
I've tried running mirroredstrategy with my keras model using ai-platform and instead of hanging, I get a segmentation fault with no clues as to what the source of the issue is.

[2020-04-28 19:04] dannyfriar commented on #38945
@alimhanif I think #38617 is a different (that is specific to 2.2rc3 and related to distributed gpu training). This issue seems like it is due to the LSTM layer, I do not see the same memory increase without it

[2020-04-28 19:10] #38893 closed

[2020-04-28 19:12] oke-aditya commented on #38990
try this in tf v2 `tf.config.list_physical devices()`

[2020-04-28 19:12] lihost commented on #38937
@amahendrakar I have made dataset(GCP bucket) public as per guidelines provided at [https://cloud.google.com/storage/docs/access-control/making-data-public](url)

This should make dataset accessible to you. Thanks...

[2020-04-28 19:13] allenlavoie commented on #38893
Thanks for the update. I've relaxed the checking a bit anyway (not sure exactly what it was complaining about, but it should complain less overall now).

[2020-04-28 19:15] Ezekiel-DA commented on #36508
@talhaanwarch sorry, just noticed this question was to me. This is on Windows 10.

[2020-04-28 19:18] suharshs commented on #38845
Your first usage here is correct:

    TF normalized; TFLite not normalized: Max absolute error: 0.11157090216875076. Example values tf: 4.685942649841309; tflite: 4.797513552010059; Number of 'max difference' within 2e-6 range: 225

FakeQuant may have some difference if the model is not trained sufficiently long to allow the weights to learn about the quantization error.

[2020-04-28 19:25] dhruv-colosus commented on #38882
C:\Users\HP>pip install tensorflow==1.14
ERROR: Could not find a version that satisfies the requirement tensorflow==1.14 (from versions: 2.2.0rc1, 2.2.0rc2, 2.2.0rc3)
ERROR: No matching distribution found for tensorflow==1.14

Still getting error

[2020-04-28 19:27] ChanZou commented on #38845
Here I am trying to compare Conv2D op in TF and TFLite given identical input and weights. In other words, if we are comparing 1. original TF model 2. fully quantization-aware trained TF model 3. converted TFLite model for #1 and 4. converted TFLite model for #2, we should expect differences between #1 and #2 (#3 and #4 as well) but not between #1 and #3 (or #2 and #4), which is what I am showing i

[2020-04-28 19:34] fedden opened #38993 "Reshape causing segmentation fault in TFLite Python interpreter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 xenial
- Kernel: x86_64 Linux 4.15.0-88-generic
- Shell: zsh 5.1.1
- CPU: Intel Core i7-7800X CPU @ 4GHz
- GPU: GeForce GTX 1080 Ti, GeForce GTX 1080 Ti
- TensorFlow installed from (source or binary): binary, via conda
- TensorFlow version (or github SHA if from source): 1.15.0

**Command used to run the

[2020-04-28 19:56] robertlugg commented on #33531
So here's what I think is going on.  This is based on the same error message I saw during my runs.  I

TL;DR your dataset size must be an even multiple of your "total" batch size.

## Walking through what I saw:
I'm using a dataset of size, let's say 3200.  My batch size is 128, and I'm using datasets.  I'm running _without_ strategy/dp.  It runs fine.

I then switch over and start running two nod

[2020-04-28 19:57] fedden commented on #38993
Hey there, looks like there was a bug in my script. In TF2.2 there is now a helpful error that complains when `interpreter.allocate_tensors()` is not called before calling `interpreter.set_tensor()`, whereas in TF1.15.0 it was a little more of a silent fail.

Thanks for adding the error message in the future version of TF

[2020-04-28 19:57] #38993 closed

[2020-04-28 19:58] teodor440 opened #38994 "Can't load saved keras model.h5"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-28 20:06] #38520 closed

[2020-04-28 20:12] emiliocoutinho commented on #38963
@Saduf2019, thanks for this feedback. Using the tf-nightly version works fine. I was previously using TensorFlow 2.0.0. This problem also happens with version 2.1. With the nightly version, works.

[2020-04-28 20:12] #38963 closed

[2020-04-28 20:38] SwagJ opened #38997 "checkpoint conversion to tf2.0 question"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platf

[2020-04-28 20:47] ericqu commented on #38867
Dear @amahendrakar ,

Thank you for testing it on the upcoming version, the results looks indeed promising.
Do you have an indicative view as by when the v2.2.0 will be release?

In parallel I am trying to follow the suggestion from @thaink however I did not reach a conclusive results as of yet.

[2020-04-28 21:00] alimhanif commented on #38617
@lgeiger after training for 5 hrs, TF Nightly version: `2.2.0.dev20200428` shows the flat memory utilization.

But for sure, I have another error on this version (cant use Tensorboard callback). Will make another issue

[2020-04-28 21:01] jsimsa commented on #22145
tf-nightly should indeed not have this issue. @chayka could you give it a try? thanks

[2020-04-28 21:07] chayka commented on #22145
@jsimsa will try tomorrow, thanks!

[2020-04-28 21:26] jvishnuvardhan commented on #38878
@edoardogiacomello Please feel free to close the issue as this was resolved already. You could use stable version of `TF2.1` or `TF2.0`. Thanks!

[2020-04-28 21:30] lgeiger commented on #38617
@anj-s @guptapriya Thank you very much for the fix. Reliably reproducing and tracking down this issue was rather painful, so I'm very happy that it is fixed now. I double checked with todays `tf-nightly` and the memory usage is perfectly stable for many epochs 🚀

On `tf-nightly` I now get the following warning, but I am not sure if this is related to the fix:
[code]

[2020-04-28 21:33] alimhanif commented on #38617
can we do a cherry picking this `2.2.0.dev20200428` version to the `2.2.0rc3`?

I need to train my model with Tensorboard, btw
TF 2.2 RC 3 is almost perfect, it's only have memory leak problem in my experiences

I think latest TF Nighly that I use is not able to read on gcs bucket (especially for Tensorboard CallBack)

[2020-04-28 21:36] lgeiger commented on #38617
@alimhanif This is in progress and will probably be included in the stable release of 2.2.0. See #38996

[2020-04-28 21:42] mdanatg commented on #38947
This looks like the same issue as #38691 - it's a known issue with Spyder.

@jfhawkin could you try with tf-nightly (leave the gast version that it installs - it should be 0.3.3).

[2020-04-28 21:46] edoardogiacomello commented on #38878
@jvishnuvardhan BatchNormalization layer may have been fixed (it changed for sure), but this issue is referred to loading a model that is trained with a previous version and it doesn't behave the way it should. I don't see how using a stable version could fix the issue, which is indeed related to loading a beta checkpoint in a stable version.

Could you give a reference on what the issue was or ho

[2020-04-28 21:49] burhany60 commented on #19193
Any update from the requested feature ?

[2020-04-28 21:50] kapilkd13 commented on #25138
Hi, Is there a reason why tf support gpu memory fraction, instead of memory size(ex. 4gb).
I have build an API, which might be spawned on 8gb or 16gb gpu based on availability. I need to change the fraction accordingly.
Currently I need to obtain available memory from nvidia-smi, and generate appropriate ratio.

[2020-04-28 21:50] tanguycdls opened #38998 "saved keras model with custom layers supports ragged inputs cannot be loaded back"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF2.2 rc3
- Python ve

[2020-04-28 22:15] sr99622 opened #38999 "Does not compile on windows not even close why bother"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-28 22:34] davidbayon opened #39001 "'Sequential' object has no attribute '_get_save_spec'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): -
- TensorFlow version (or github SHA if from source): 2.2

**Command used to run the converter or code if you’re using the Python API**
https://colab.research.google.com/drive/1IJWCGMZ9Wrf8C89oLJ_AWnGPH1ea4dma

converter = tf.lite.TFLiteConverter.from_kera

[2020-04-28 23:06] #34519 closed

[2020-04-28 23:32] jfhawkin commented on #38947
I reran in Spyder and the prompt using tf-nightly. I get a similar set of warnings/errors. It now gives three potential reasons: (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. The first case doesn't apply and I tried the second by setting experimental_relax_shapes=True (no change to warnings). This suggests

[2020-04-28 23:58] randomstuff commented on #38228
What would be the semantic of `x + y` (for example) ?

[code]

AFAIU, in PyTorch, this currently yields a check that `x.names[i]` is consistent with `y.names[i]` for all `i`: it ensure that you don't mix up dimensions but you still have to keep track of them:

I'd tend to think that automatically reordering dimensions would be more helpful (but this would probably preclude mixing named and unamed

[2020-04-29 00:17] dd1923 commented on #36612
Any updates?

[2020-04-29 00:19] jfhawkin commented on #38947
It appears that the warning I listed in the issue header may be solved. I ran it with tf.autograph.set_verbosity(3,True) and it says it transformed affine(). The first warning is: `WARNING:tensorflow:5 out of the last 9 calls to <function affine at 0x0000017AA8F08C18> triggered tf.function retracing.` but this appears to also be an issue with passing python rather than tensorflow objects.

[2020-04-29 00:21] thaink commented on #38867
@ericqu we are trying to add more ops to the whitelist but it will take sometime. I think List-related op will work fine on mobile.

[2020-04-29 00:23] thaink commented on #38926
"But the missmatch between Tf-nightly and tflite-nightly makes me quite curious"
@multiverse-tf do you have any clue about this?

[2020-04-29 00:28] mdanatg commented on #38947
Thank you. Yes, that is a different warning emitted by tf.function. https://github.com/tensorflow/tensorflow/commit/2eb9e7c2b68123002acab835711da90d35bebca3 should remove those warnings once it's included in tf-nightly. But if those continue to appear afterwards, please ping this thread or open up a new issue and we'll have a closer look.

[2020-04-29 00:28] #38947 closed

[2020-04-29 00:42] jazzsir commented on #38982
I can' find cuDNN libraries in my jupyter notebook container of gcr.io/kubeflow-images-public/tensorflow-2.1.0-notebook-gpu:1.0.0
‘’’
##In
!cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2
##Out
cat: /usr/local/cuda/include/cudnn.h: No such file or directory
‘’’
Do I need to manually install it on the container??

[2020-04-29 01:06] #32821 closed

[2020-04-29 01:06] jvishnuvardhan commented on #38982
@Abhipray I am not what is the root-cause. I ran the tutorial's colab and it is working without any issue. Did you change any parameters in the model? Have you ever used all four GPU earlier for other models? Can you run `physical_devices = tf.config.list_physical_devices('GPU') ` and see what are the `phyical_devices` seen by TF. Thanks

[2020-04-29 01:21] zhao1157 commented on #38902
@alextp Can you clarify it a little more? When building a model, we usually don't specify the execution order of `Assign` and `read` since they are added by `TF` internally, and `TF` does not add control dependencies between them either. So how does `TF` decide which one should execute first? Hope you can comment on that a little. Thanks.

[2020-04-29 01:26] alimhanif commented on #38617
They close it and move to existing PR
https://github.com/tensorflow/tensorflow/pull/39002

[2020-04-29 01:30] goldiegadde commented on #38617
@lgeiger and @alimhanif thanks for verifying that the issue is fixed with tf-nightly

[2020-04-29 01:50] KurtSunxx commented on #38889
So nice you are! Thanks for your detailed answers! I will check and try it by myself!

[2020-04-29 01:54] multiverse-tf commented on #38926
Not sure. My wild guess is that there might be some bug introduced between tf-nightly and tflite-nightly as they were built separately and independently (i.e. not built against the same github head).

[2020-04-29 01:58] ymodak commented on #38859
This has been fixed now. Thanks!

[2020-04-29 01:58] #38859 closed

[2020-04-29 02:05] dathudeptrai commented on #38926
@multiverse-tf pls check, tflite nightly still have problem on Conv2DTranspose. ```java.lang.IllegalStateException: Internal error: Unexpected failure when preparing tensor allocations: tensorflow/lite/kernels/transpose_conv.cc:247 NumInputs(node) != 3 (4 != 3)
    Node number 12 (TRANSPOSE_CONV) failed to prepare. ````

[2020-04-29 02:15] Chaos-Ju commented on #24539
Looking forward to the feature.

[2020-04-29 02:21] jazzsir commented on #38982
when I ran below codes, I can get outputs on notebook
[code]
but logs printed
[code]

[2020-04-29 02:27] jazzsir commented on #38982
I ran the example with `os.environ['NCCL_DEBUG'] = 'INFO'`
I got `NET/Plugin : No plugin found (libnccl-net.so)` message as below.
[code]

[2020-04-29 02:32] mdanatg commented on #38369
The error message did not get saved in the colab - could you copy it here? At a glance, I recommend creating the model and the optimizer outside the tf.function. You will definitely get errors because tf.function doesn't let you create variables inside it (and whenever you create a new model object, it creates a new set of variables).

[2020-04-29 02:38] multiverse-tf commented on #38926
Hmm, are you using an old tflite-nightly build? The particular check as indicated by "transpose_conv.cc:247 NumInputs(node) != 3 (4 != 3)" was removed in https://github.com/tensorflow/tensorflow/commit/43b8f6e71001be7bacee4559e3021965ae67cf33#diff-84dcd410cd1816346c679396513fbcd2L247 on April 23, 2020.

[2020-04-29 02:44] zrct0 commented on #38312
I've tried stateless  and convert succeed. But there is a big decrease in accuracy.

[2020-04-29 02:48] dathudeptrai commented on #38926
@multiverse-tf that is why i ask if there is a missmatch between tf-nightly and tflite. What do u mean "an old tflite-nightly build" ?. i use ```implementation 'org.tensorflow:tensorflow-lite:0.0.0-nightly'``` and sync project so android will re-download tflite-nightly ? am i right?

[2020-04-29 02:49] nicolas-gervais opened #39004 "Huber Loss crashes training loop due to data type mismatch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): somewhat custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: laptop
- TensorFlow installed from (source or binary):
- TensorFlow version (use command bel

[2020-04-29 02:55] renjie-liu commented on #38312
@zrct0 wonder the accuracy drop on the tf side or tflite side?

thanks

[2020-04-29 02:57] thaink commented on #38926
@dathudeptrai I am not familiar with Gradle but could you give "./gradlew build --refresh-dependencies" a try? Or delete the gradle cache $HOME/.gradle/caches/ to make sure it fetches the latest tflite-nightly?

[2020-04-29 03:00] zrct0 commented on #38312
tf side.
The results of TF side and tflite side are the same.
It just not very well when it's stateless

[2020-04-29 03:01] dathudeptrai commented on #38926
@thaink @multiverse-tf ok the problem is cache :))). Seem if we want use tflite-nightly we need delete caches file :). I will close the issue, thank for ur help :D.

[2020-04-29 03:04] zrct0 commented on #38312
So I hope Tensorflow can fix the bug

[2020-04-29 03:09] fesun commented on #10824
To update, I will try to implement the broadcasting recently.

[2020-04-29 03:10] clockzhong commented on #38887
@ravikyram yes, I've use case to require this feature. The test codes I've provided could show that our current version tensorflow couldn't support this feature:

[code]

But I've no solution to implement this feature yet, so I couldn't submit a PR(pull request, right?).
My usage scenario is using a huge numpy data array as my tensorflow model's database, my tf model need freequently access data r

[2020-04-29 03:15] paulter commented on #36981
@pidajay thanks for the work on this.

you say this only works on sequential models?  unfortunately, my keras model is too complex to be a sequential model, so I can't use your code.  Is there a way I can use what you've written?

I don't mind manually checkpointing - in fact, it is probably preferable.  I'm writing custom keras lines for research and it would be nice to have something that specif

[2020-04-29 03:25] #38926 closed

[2020-04-29 03:32] mtngld commented on #38701
Sure,

I have added the following print

[code]

Result -
[code]

[2020-04-29 03:36] impjdi commented on #38701
That's quite interesting.  To me it feels like it should have failed way before getting to this point for const not being a supported op.  Not sure why this slips through.

If you change tf constant to tf placeholder, does it work?

[2020-04-29 03:41] mtngld commented on #38701
I am using TF2.1 and TF2.2-RC3, I thought placeholders and `sess.run` are deprecated, not sure how to change the `tf.constant` into `tf.placeholder` and export the model.

[2020-04-29 03:43] menon92 commented on #38908
@amahendrakar ,
I think there is an issue with `tf.keras.preprocessing.sequence.pad_sequences()` . I replace `.pad_sequences` with `tf.pad()` and it works without any error.

[code]
Could you please investigate graph mode with `tf.keras.preprocessing.sequence.pad_sequences()`

Thanks

[2020-04-29 03:51] impjdi commented on #38701
Hm, not a proficient TF user myself and can't give you guidance there =/

In the meantime, I found why it's letting `const` through.  For whatever reason, it's registered as an available op.  I created a change to make it clearer in the log (under review).

[2020-04-29 03:59] drezap commented on #38622
any progress on this?

[2020-04-29 04:07] xuyingjie521 commented on #38934
gru_dense = GRU(units=384,
                    **dropout=0.2,
                    recurrent_dropout=0.15,**
                    return_sequences=True,
                    name='GRU-Dense'
                    )(transformed)

    ave_pooing = GlobalAveragePooling1D(name='GlobalAveragePooling1D')(gru_dense)

    x_out = Dense(label_num,
                  activation='softmax',
                  name='

[2020-04-29 04:10] neilteng commented on #38985
I guess it is related to tf.feature_column?

[2020-04-29 04:14] Zantares commented on #38868
Please check UT in attachment, I ran it with cmd:
[code]

and got :
[code]

One of the bottleneck is that I mentioned, low precision type will cost more on conversion in `Helper Function` of Distribution.
[ut_diff.txt](https://github.com/tensorflow/tensorflow/files/4549767/ut_diff.txt)

[2020-04-29 04:47] bhaveshwadhwani commented on #33535
Thanks Sayak for putting deck and code notebook here !!

[2020-04-29 04:49] alimhanif commented on #38617
I'm so sorry for asking this question. So, when we are able to use this commit in the latest `2.2.0rc3`? Do you have ETA for this?

TF nightly have a lot of bugs. Can't rely on this. :(

[2020-04-29 05:01] GHGmc2 opened #39006 "Thread hang for Stage/MapStage op when setting inter_op_parallelism_threads=1"
**System information**

 - OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
 - TensorFlow version (use command below): tf-nightly
 - Python version: 3.6.8

**Describe the current behavior**

Thread will hang if setting `inter_op_parallelism_threads=1`.

**Standalone code to reproduce the issue**

[code]

[2020-04-29 05:08] jvishnuvardhan commented on #38622
@drezap Can you please explain little more about this loss functions (`loss_fn`)? There is a `grad` function inside loss function with two arguments and the return of `loss_fn` has `grad` without any arguments. Input `x` was also not used at all.

[code]

[2020-04-29 05:31] rootsid commented on #38990
Here's the result

tf.config.list_physical_devices(
    device_type=None
)

`[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:XLA_CPU:0', device_type='XLA_CPU'),
 PhysicalDevice(name='/physical_device:XLA_GPU:0', device_type='XLA_GPU')]`

and for

physical_devices = tf.config.list_physical_devices('GPU')
print("Num GPUs:", len(physical_devic

[2020-04-29 05:31] ravikyram commented on #38987
@julie-jiang

Please, let us know   is this still an issue. Please, close this thread if your issue was resolved.

If the issue was not resolved request you to share colab link or simple standalone to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-29 05:53] jlinxciv opened #39007 "ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64-bit
- TensorFlow installed from (source or binary):
- TensorFlow version: 20.1
- Python version: Python 3.8 (64-bit)
- Installed using virtualenv? pip? conda?: pip
- GCC/Compiler version (if compiling from source): Jupyter
- CUDA/cuDNN version:
- GPU model and memory: Intel HD graphics 620 8239 MB
- CPU

[2020-04-29 05:58] Saduf2019 commented on #38976
@Dee-Ma

This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

please check to [link](https://stackoverflow.com/questions/50529309/how-to-check-if-a-tensor-is-empty-in-tensorflow) for reference

[2020-04-29 06:06] #38102 closed

[2020-04-29 06:07] drezap commented on #38622
@jvishnuvardhan
Yeah, happy to, thank you.

The loss function implementation has 3 caveats:
1. storage of a temporary variable,
2. requires that I have nested for loops
3. accumulation.

No work arounds.

I haven't been able to get a model to run, using TF's datatypes, with an implementation of this loss function. If I have a long input sequence, I'm anticipating any expression graph generated wou

[2020-04-29 06:13] Saduf2019 commented on #39007
@jlinxciv
Please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/38916#issuecomment-619572753), also, refer similar issues:

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

if possible please upgrade your tensorflow to later version and let us know if that helps you resolve t

[2020-04-29 06:16] AlexanderJLiu opened #39008 "tf-nightly-cpu couldn't trace any graph with subclass models."
**System information**
- Have I written custom code: Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10.
- TensorFlow installed from (source or binary): pip intall tf-nightly-cpu.
- TensorFlow version (use command below):  2.2.0-dev20200426.
- Python version: 3.7.7
- Tensorboard version: 2.3.0a20200412 or 2.1.1

**Describe the current behavior**

I've created a `subclass model`

[2020-04-29 06:34] CptJack2 commented on #38941
dynamic links to cuda library when building tensorflow on linux can be done by passing --linkopt=-lcudart option to bazel, this option tells the linker to link the cuda functions from the shared library libcudart.so (static linking use libcudart_static.a, which is nvcc's default option)
my complete command line is:
bazel build --congif=opt --config=cuda --linkopt=-L/usr/local/cuda/lib64 --linkopt=

[2020-04-29 06:36] pidajay commented on #36981
@paulter I have posted a small tutorial here https://github.com/pidajay/tf2_gradient_checkpointing/blob/master/tf_recompute_grad_tutorial.ipynb
For this to work you need to replace (or just copy the delta) the custom_gradient.py file with this version in my TF fork https://github.com/pidajay/tensorflow/blob/fix_gradient_checkpointing/tensorflow/python/ops/custom_gradient.py
I plan to submit this f

[2020-04-29 06:37] CptJack2 commented on #38912
passing nvcc flags through bazel still remain unsolved, but my first intenstion of building tensorflow that dynamic links to cuda library is solved, see https://github.com/tensorflow/tensorflow/issues/38941 for detail

[2020-04-29 06:40] prameth opened #39009 "Custom Constraint not working"
I created a custom constraint using [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/constraints.py) which forces the sum of the elements to have sum(axis=1) to be one and be NonNeg at the same time,
[code]
But when I give, ```x = Dense(3, kernel_initializer = SumConstraint(axis = 1))```

I get, **``` ValueError: Unknown constraint: SumConstraint ```**

[2020-04-29 06:54] Arktius commented on #38850
Any suggestions?

[2020-04-29 06:56] ravikyram commented on #38994
@teodor440

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-29 06:58] Flamefire commented on #33531
The actual issue is 2 things (I might have explained that in #36153 ):

- `MultiWorkerMirroredStrategy` **requires** `steps_per_epoch` being set (and the dataset to deliver that many full batches)
- It does **not** work with multiple epochs unless you `.repeat()` the dataset because the iterator is not reset. I reported that in #36539

Using those 2 it works, but it's of course a pitfall with conf

[2020-04-29 07:05] prameth commented on #39009
Surprising to know that they work fine in TF1.

[2020-04-29 07:08] ravikyram commented on #38999
@sr99622

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github new issue template](https://github.com/tensorflow/tens

[2020-04-29 07:11] amahendrakar commented on #38189
@wujiexiaowugui,
Could you please add the below two lines to your code before converting the model.
[code]
I was able to convert the model without any issues after adding these lines. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/83cb6168fd3eff26bb8f92ef6d2685b4/38189.ipynb). Thanks!

[2020-04-29 07:12] drezap commented on #38622
Mind if I just email you the loss function?

It should make it clear

On Wednesday, April 29, 2020, Vishnuvardhan Janapati <
notifications@github.com> wrote:

--
Best,

Andre Zapico

[2020-04-29 07:14] guptapriya commented on #38982
Hi - I am a little confused - you pasted 2 logs in the original issue description. one seems to be the hanging case and one seems to be the working case. Is that right? If so, what is the difference between the two?

Also, is it possible to test with the latest TF nightly?

I also see some profiler related errors in your logs (CUPTI_ERROR_INSUFFICIENT_PRIVILEGES), but I am not sure if those are re

[2020-04-29 07:33] hasa2020 opened #39012 "gher"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-29 07:36] pabloi09 opened #39013 "Loading a saved multi-input model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I have written a simple standalone code to reproduce the error
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Colab
- TensorFlow version (use command below):
v2.2.0-rc3-0-gaad398b5e9 2.2.0-rc3
- Python version:
Python 3.6.9
- CUDA/cuDNN version:
CUDA Version 10.1.243

[2020-04-29 07:38] ravikyram commented on #39006
@GHGmc2

I have tried in colab with TF version 2.2.0-rc3 and i am seeing the below error.(
`UnrecognizedFlagError: Unknown command line flag 'f'`).Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/b0aba773e091d8866d5e18b1739ac88b/untitled837.ipynb).Thanks!

[2020-04-29 07:38] pabloi09 commented on #34767
Done ! https://github.com/tensorflow/tensorflow/issues/39013

[2020-04-29 07:42] thainq3127 commented on #38518
i have similar error and fixed it by close other python session using tensorflow. Use 'nvidia-smi' to find running process.

[2020-04-29 07:44] ravikyram commented on #39009
@prameth

Please, let is know Is this still an issue?. If the issue still persists please let us know Tensorflow version you are using,operating system.Also, provide colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-29 07:46] limjq45 commented on #23896
Hi, just wondering if there is an improve in interpreter's performance when porting over to NDK?

[2020-04-29 07:57] r4nt commented on #38840
My roll-forward didn't fully address this yet - will work on another patch asap.

[2020-04-29 07:59] Kevinpsk opened #39014 "TFLiteConverter doesn't support int8 quantization of PReLU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): from binary
- TensorFlow version (or github SHA if from source): 2.1

**Problem description**
TFLiteConverter doesn't support int8 quantization of PReLU. Since the PReLU is implemented as two ReLU operations, it seems that the real blocker is the negation ope

[2020-04-29 08:04] ravikyram commented on #38984
@tanguycdls

I have tried in colab in TF 2.1.0 and 2.2-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/41b639aa2a57c78b9332f19bab1df756/untitled838.ipynb).Thanks!

[2020-04-29 08:04] naji-s commented on #36799
@gabrieldemarmiesse I don't think the F1 implemented in Addons is bug-free. It keeps complaining about the ranks because it forces the output (even in binary case) to be one-hot vector as pointed out [here](https://github.com/tensorflow/addons/issues/746#issuecomment-562963134). I do think this needs to change.

[2020-04-29 08:06] #37099 closed

[2020-04-29 08:09] jazzsir commented on #38982
@guptapriya Sorry for the confusion.
All logs I pasted are the hanging case,
first in `logs` section is container's STDOUT,
the other in `Outputs generated with the example on Nodebook` is outputs printed on nodebook.
All logs were captured at the same time, the hanging case.
Thanks.

[2020-04-29 08:10] ravikyram commented on #38981
@zenboooooon

Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-04-29 08:12] zhaozheng09 opened #39015 "Tensorflow hang in TF1.10."
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos6
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):1.10
- Python version:2.7
- Bazel version (if compiling from source):0.15.0
- GCC/Compiler version (if compiling from source):gcc 5.3

I find data race in rendevous in TF1.10. I try to recurrence in TF1.15, but I failed, I want to confirm

[2020-04-29 08:14] GHGmc2 commented on #39006
This may be the problem of colab, check [here](https://github.com/tensorflow/tensorflow/issues/17702#issuecomment-387335646)

[2020-04-29 08:15] ravikyram commented on #38847
@AvisekNaug

This issue is not related to Tensorflow and it looks like it is related to your local system.Please, close this thread as the issue is not related to Tensorflow.Thanks!

[2020-04-29 08:15] amahendrakar commented on #38261
@plaffitte,
I was able to run the code without any issues with TF 1.15.2, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/288ba5a7b41348edbcd822b387b83a5d/38261.ipynb). Thanks!

[2020-04-29 08:36] r4nt commented on #38840
https://github.com/tensorflow/tensorflow/commit/889b322261384c90ac165ddd1e8bf2944b3e7785
should address the cases outlined here so far - please let me know if that doesn't work.

[2020-04-29 08:42] prashasti74 commented on #7623
i found this error while working with tensorflow
can someone tell me what to do?

ImportError                               Traceback (most recent call last)
c:\users\prashasti\appdata\local\programs\python\python37-32\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     17         try:
---> 18             fp, pathname, description = imp.find_module('_pywr

[2020-04-29 08:42] cmarlin opened #39016 "Increase consitency of tensorShape"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version : 2.2.0rc3 python API
- Are you willing to contribute it : No (not enough e

[2020-04-29 08:51] SteveIb commented on #36209
Hi,
I just checked your solution @Papageno2
1- I could make tfrecords successfuly

ls /hdd/Deeplab/models/research/deeplab/datasets/PQR/dataset/tfrecord/
train-00000-of-00004.tfrecord     trainval-00002-of-00004.tfrecord
train-00001-of-00004.tfrecord     trainval-00003-of-00004.tfrecord
train-00002-of-00004.tfrecord     val-00000-of-00004.tfrecord
train-00003-of-00004.tfrecord     val-00001-of-000

[2020-04-29 08:52] SteveIb commented on #36209
the log for the error:
[output.txt](https://github.com/tensorflow/tensorflow/files/4550613/output.txt)

[2020-04-29 09:07] amahendrakar commented on #38272
@HarshitSheoran,
I was able to run the code without any issues with TF v2.2.0rc2, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2566909a1f654b17ef77e7b53ba1ec65/38272.ipynb). Thanks!

[2020-04-29 09:10] prameth commented on #39009
@ravikyram it’s still an issue as I didn’t closed it yet :)

I’ve shared everything I can. I used Colab, can’t share it as its private.
But, when I use the built-in NonNeg() constraint as,

` Dense(3, kernel_initializer = NonNeg())`, it works perfectly fine.
You can help me with a simple template how to implement custom constraints in TF2 Keras.

[2020-04-29 09:12] oke-aditya commented on #38990
Similar issues were reported earlier #12388 #13793. Have a look at them. It can happen because of CUDA Version mismatch.

[2020-04-29 09:15] Nikolai10 opened #39017 "Tf.reshape: allow different reshape order (e.g. column-wise)"
**System information**
- TensorFlow version (you are using): '2.1.0'/ latest
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, tf.reshape returns a new tf.Tensor(tensor, shape, name=None) that has the same values as tensor **in the same order**, except with a new shape given by shape ([see tf.reshape](https://www.tensorflow.org/a

[2020-04-29 09:19] prameth commented on #39009
The issue’s in TF2.

[2020-04-29 09:21] alexvatti commented on #38890
We want to integrate this with our poky build system

[2020-04-29 09:38] bmabir17 commented on #34845
I was able to convert the [mask-rcnn from matterport](https://github.com/matterport/) using [this script](https://gist.github.com/bmabir17/754a6e0450ec4fd5e25e462af949cde6 ) with tflite 1.3

But now i am facing a segmentation error, when i try to run inference with the tflite interpreter (Tried both 1.3 and 2.0 tflite versions)
[code]

[2020-04-29 09:45] ziofil commented on #37307
@drpngx this issue has been blocking several research projects for weeks now, do you know if anyone is looking into a fix?

[2020-04-29 09:47] zhaozheng09 commented on #39015
I recurrent this question in TF1.15. I will add more logs ..

[2020-04-29 10:02] Nanotorre commented on #29161
Any news? I'm facing the same problem here.

[2020-04-29 10:09] ravikyram commented on #39017
I am able to reproduce the issue with TF 2.1.0 and TF 2.2-rc3.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/b586281d4a99cef6453a813317838619/untitled839.ipynb)Thanks!

[2020-04-29 10:17] Saduf2019 commented on #39001
@davidbayon
I ran the code shared by you but face a different error, please refer to [gist  here](https://colab.sandbox.google.com/gist/Saduf2019/2cf61fbb8cf36cd4b235f034b822f456/untitled162.ipynb)

[2020-04-29 10:18] Saduf2019 commented on #39012
@hasa2020
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-04-29 10:21] Saduf2019 commented on #39015
@zhaozheng09
Is there any particular reason for using the old version of tensor flow can you please upgrade to latest version and let us know if the problem exist.
Also in order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-04-29 10:26] Saduf2019 commented on #38718
@soporteCluster
Can you please refer to this link and let us kno if it helps:
[link1](https://github.com/bazelbuild/bazel/issues/590#issuecomment-165811380)
[link2](https://stackoverflow.com/questions/43220067/bazel-link-so-libraries-located-in-a-completely-different-very-remote-folder)
[link3](https://github.com/tensorflow/tensorflow/issues/33108)

[2020-04-29 10:27] tanguycdls commented on #27170
Did you manage to save a model with ragged inputs as a keras model ? i'm hitting the following issue when reloading models with a custom layer or the lambda layer which takes a ragged inputs:
https://github.com/tensorflow/tensorflow/issues/38998

thanks

[2020-04-29 10:31] Saduf2019 commented on #38850
@Arktius
Can you please provide simple stand alone code such that we can replicate the issue, if possible share a colab gist, with the error the code shared in incomplete, the error faced is not same as yours. please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/3d02bd5e25f035a97a4393df156e2763/untitled162.ipynb)

[2020-04-29 10:36] Arktius commented on #38850
https://colab.research.google.com/gist/Saduf2019/3d02bd5e25f035a97a4393df156e2763/untitled162.ipynb

You need `!pip install tensorflow-gpu==2.0`.

[2020-04-29 10:36] amahendrakar commented on #38978
Was able to reproduce the issue. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/6a2647d6e1e42f6e91e77f547480460c/38978.ipynb). Thanks!

[2020-04-29 10:40] Monster-Gaming-Studios opened #39018 ""file not found" Error in generating tfrecords"
Hello,
I am getting a error saying that the file or directory was not found while generating the tfrecords. I am running the code in Google Colaboratory.

- **Here is the command I am using:**

[code]

- **Here is the full traceback**
[code]

- **Here is the code I am using to generate tfrecords**
[code]
- **My Directory stucture looks something like this**
![Directory Structure](https://raw.githu

[2020-04-29 10:44] amahendrakar commented on #38990
@rootsid,
Could you please check @oke-aditya's comment and let us know if it works. Thanks!

[2020-04-29 10:46] Saduf2019 commented on #38850
I am able to replicate the issue reported, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/07c4c42cd8b49bc19355b4b39a59b9ee/untitled162.ipynb)

[2020-04-29 10:46] terryheo commented on #38890
Can't you simply use the following command?

[code]

[2020-04-29 10:47] Monster-Gaming-Studios commented on #39018
**Update:** Please do not ask me to check on stackoverflow on some where else. I tried looking everywhere.

[2020-04-29 10:59] 0x0badc0de commented on #36893
The same stuff. Have to use `s3://bucket/data` instead of just `s3://bucket/` to store files and for globing to work.

[2020-04-29 11:03] bmabir17 commented on #25231
I have the same problem
I was able to convert the [mask-rcnn from matterport](https://github.com/matterport/) using [this script](https://gist.github.com/bmabir17/754a6e0450ec4fd5e25e462af949cde6 ) with tflite 1.3

But now i am facing a segmentation error, when i try to run inference with the tflite interpreter (Tried both 1.3 and 2.0 tflite versions)
[code]

[2020-04-29 11:04] better629 opened #39019 "bug with _VALID_SCOPE_NAME_REGEX"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  mac 10.13.5
- TensorFlow version (use command below):  1.11.0
- Python version:  3.6.5

**Describe the current behavior**
The `_VALID_SCOPE_NAME_REGEX` and `_VALID_OP_NAME_REGEX` are defined in line 1583 of `tensorflow/python/framework/ops.py`

[code]
which should recognize the `\` symbol.

The result are:
[code]
Th

[2020-04-29 11:24] sr99622 commented on #38999
**ENVIRONMENT**

Windows 10
bazel 2.0.0
MSVC 2019
Python 3.6.8
Tensorflow r2.2

**BUILD COMMAND**

bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package

*ERROR MESSAGE**

C:/users/sr996/tensorflow/tensorflow/core/lib/monitoring/BUILD:176:1: C++ compilation of rule '//tensorflow/core/lib/monitoring:percentile_sampler' failed (Ex

[2020-04-29 11:28] #38837 closed

[2020-04-29 11:35] printomi commented on #23605
I had the same problem that was caused by an incorrect TSV file of vectors. Google Chrome console stated:
[code]
The problem was that there was a text column containing metadata, between the numeric columns (vectors).
See my demo of error and solution [here](https://gist.github.com/printomi/13f2e49ce4bebee31744a66a1eca0395).

[2020-04-29 11:42] sr99622 commented on #38999
This error can be removed by

  struct Sample sample;
  sample.nstime = nstime;
  sample.sample = sample;
  //samples_[next_position_] = {nstime, sample};
  sample_[next_position_] = sample;

However this is just a single problem

**NEXT ERROR**
ERROR: C:/users/sr996/tensorflow/tensorflow/core/BUILD:2307:1: C++ compilation of rule '//tensorflow/core:framework_internal_impl' failed (Exit 2)
.\tenso

[2020-04-29 11:43] bonaventura-p commented on #34707
@northtree You are correct. However GCF fails to install any version of TF2 > 2.0.0b . I had been trying to deploy a GCF with TF 2.1.0 and it was failing. Downgrading to 2.0.0b seems to fix the issue for now. But any hints on what is preventing GCF from deploying newer versions of TF2?

[2020-04-29 11:55] pingdynasty opened #39020 "Micro kernel elementwise math ops issues (abs, sin, cos, log, sqrt, tanh)"
@tensorflow/micro

The math ops in [elementwise.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/kernels/elementwise.cc) seem a little askew.

Firstly AbsEval, which calls `std::abs`
[code]
The math.h `int abs(int j)` is an integer function, what is probably intended is `fabs`, or better still `float fabsf(float x)` : return the absolute value of the floating-point nu

[2020-04-29 11:58] csxeba opened #39021 "Buggy behaviour of dataset API"
**System information**
- Have I written custom code: yes, see [https://colab.research.google.com/drive/1AeVRilpcGp8zb0hZijTIxGWdL9GkzfN_](https://colab.research.google.com/drive/1AeVRilpcGp8zb0hZijTIxGWdL9GkzfN_)
- OS Platform and Distribution: Google Colab (Ubuntu 18.04.3 LTS)
- TensorFlow installed from (source or binary): provided by Colab
- TensorFlow version (use command below): 2.2.0-rc3
- P

[2020-04-29 12:07] jazzsir commented on #38982
@guptapriya I have just run with the latest TF nightly, but it also got stuck at the same point.

[2020-04-29 12:24] thkim-cochl opened #39024 "[TFLite] Failed to create Hexagon delegate on Pixel 3"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-04-29 12:25] JerrikEph commented on #36493
Is there a patch for tensorflow 1.x? I am running tensorflow1.15.2.

[2020-04-29 12:26] m4recek commented on #34707
@northtree No, Google Cloud Function has never supported (and does not today) TF >2.0.0.b.
Their build is simply run with old PIP.

We have spent over week of dev time trying and failing, and then another week trying to get whats wrong through paid support channels, because we have believed the docs & marketing... just like you..
That blog is just false (its using 2.0.0b while claiming 2.0), docum

[2020-04-29 12:29] HowAlgorithmic commented on #38827
@Saduf2019
Updated with full code. Apologies.

[2020-04-29 12:30] user-vm opened #39025 "Linker errors in individual TensorFlow Lite OpenGL delegate op tests for android_arm64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.06
- Mobile

[2020-04-29 12:35] timocafe opened #39026 "C-API input tensor type of all run functions"
**System information**

- all platform: C-API
- master branch

**Describe the current behavior**

The C-API has two types for input and output tensor, no real difference just naming, but it is disturbing to use the prefix "output" for an "input"

In the C API tensor API  has two types: input and ouput

[code]

However all the run session function has the following signature

[code]

Although `TF_O

[2020-04-29 12:39] northtree commented on #34707
@m4recek That's not true.

[2.0.0](https://github.com/tensorflow/tensorflow/releases/tag/v2.0.0) was released on Oct 2019 which is newer than [2.0.0b0](https://github.com/tensorflow/tensorflow/releases/tag/v2.0.0-beta0).

Currently, I could deploy GCF with `tensorflow==2.0.0` in requirements.txt.

@bonaventura-p You are right. TF 2.1 is not supported and will return `Build Error` on deployment.

[2020-04-29 12:42] Saduf2019 commented on #38882
@dhruv-colosus
Please  downgrade to python version 3.7 as per [this comment](https://github.com/tensorflow/tensorflow/issues/33838#issuecomment-566342226) there is no pip package for 3.8.
Can you please confirm if you used "python3 -m pip install tensorflow==1.14.0" else please do so and let us know.
Please follow [this issue](https://github.com/tensorflow/tensorflow/issues/33838), it will answer

[2020-04-29 12:45] Saduf2019 commented on #39026
@timocafe
 Please let us know the tensorflow version used to reproduce this issue

[2020-04-29 12:46] sr99622 commented on #38999
And then there's this, and yes I set the BAZEL_VC environment variable

ERROR: C:/users/sr996/_bazel_sr996/g37aiu74/external/llvm-project/llvm/BUILD:3980:1: C++ compilation of rule '@llvm-project//llvm:text_api' failed (Exit 2)
external/llvm-project/llvm/include\llvm/Support/Compiler.h(88): fatal error C1189: #error:  LLVM requires at least MSVC 2017.

[2020-04-29 12:54] Saduf2019 commented on #39021
@csxeba
The code shared required access permission to view it, please provide with simple standalone code to replicate issue faced.

[2020-04-29 12:59] jvishnuvardhan commented on #38982
os.environ['CUDA_VISIBLE_DEVICES'] = '0'

Are you saying the code is working with single GPU:0 and hangs when you use 4 GPUs? Thanks!

[2020-04-29 13:08] hoverjmt commented on #27487
Switching the import of torch and tensorflow did fix it for me. So you have to import `tensorflow` first and then `torch`
[code]

[2020-04-29 13:13] masterkenoobi5812 commented on #38613
perfect

[2020-04-29 13:17] kevinmartinjos commented on #38369
Just dropping by to say that I encountered this issue as well,and I'm using `2.2.0rc3`. I'll try to put together a reproduceable snippet/colab later today

[2020-04-29 13:18] jvishnuvardhan commented on #38369
@mdanatg Here is the error trace and [here](https://colab.research.google.com/gist/jvishnuvardhan/38d375eed6af5933282c8907def34971/project1.ipynb) is the colab gist.

[code]

[2020-04-29 13:22] timocafe commented on #39026
Version R2.0, R2.1, R2.2 ...

[2020-04-29 13:34] Krastanov commented on #37307
@ziofil, FYI `einsum` calls can be replaced by calls to `matmul`/`tensordot` and `transpose`. It seems you use tensorflow in the same type of research work as me, and while it is a bit more clunky to write the code with `matmul` and `transpose` it ended working fine and unblocked my work (and this bug does not exist there).

Of course, this is no reason not to try to fix this bug.

[2020-04-29 13:36] user-vm commented on #39025
It seems to work if I force static linking in addition to linkopts (even though the binary size jumps from 1.2 MB to >30 MB).

`cc_test(
    name = "resize_test",
    srcs = ["resize_test.cc"],
    tags = tf_gpu_tests_tags() + [
        "notap",
        "tflite_not_portable_ios",
    ],
    deps = [
        ":resize",
        ":test_util",
        "//tensorflow/lite/delegates/gpu/common:operations

[2020-04-29 13:38] josh146 commented on #37307
Would another solution be to do the following?
[code]

It seems that TensorFlow 2.1 [introduced a significant refactor of `tf.einsum`](https://github.com/tensorflow/tensorflow/commit/4eba4d514e24b6c1fdae69b40c2b958cc2a1cb42) to use the optimized einsum library, and that might be where the bug was introduced. `_einsum_v1` seems to be the original implementation.

[2020-04-29 13:50] m4recek commented on #34707
@northtree I think you are missing the timeline of the original issue.
- June 7, 2019 - 2.0.0b0 beta release
- July 9, 2019 - Blog is published, presumably docs updated (thats why its using 2.0.0b0)
- Sept 30, 2019 - 2.0.0 stable release
- Nov 29, 2019 - this thread, public & private bug reports created (google cloud functions were running pip 19)
- April 2, 2020 - last comment in public tracker a

[2020-04-29 13:51] josh146 commented on #37307
For example:
[code]

[2020-04-29 13:56] amahendrakar commented on #39004
Was able to reproduce the issue with TF v2.1, [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/6baa93476d84d2fef692b159e39eaaaa/39004.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/869d37d6c2c3909353ce483f01fa5df0/39004-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-29 14:09] teodor440 commented on #38994
https://colab.research.google.com/drive/1qZ8RuI-oNoTsD2uokHZztqeCb20RX3wR#scrollTo=_gMOL9xUPGha
I also updated the code in the issue

[2020-04-29 14:33] tgsmith61591 opened #39028 "tf.one_hot should support strings"
**System information**
- TensorFlow version: 2.2.0rc3

**Describe the feature and the current behavior/state.**

I'm sure this has been asked before, but I can't find any issue related. `tf.one_hot` should support string tensors for encoding string labels. Currently, passing a string tensor gives:

[code]

This leads to clunky practices of encoding labels outside of TF before `one_hot` can be used

[2020-04-29 14:57] yongtang commented on #39019
The following will work as well (move `-` to end as otherwise it will be considered as range, and prefix with `r` to not escape). This avoid three backslash`\\\` which might be less understandable:
[code]

Added a PR #39029 for the fix.

[2020-04-29 14:59] wdirons commented on #38840
unfortunately this is still broke, I'm trying to identify why it is failing.

I reviewed all the changes and they look fine to me.

FYI, the builds are online here: https://powerci.osuosl.org/job/TensorFlow_PPC64LE_CPU_Build/
linked from: https://github.com/tensorflow/tensorflow/#community-supported-builds

[2020-04-29 15:01] MrJiangZhongZheng commented on #31171
666

[2020-04-29 15:09] #38847 closed

[2020-04-29 15:14] acmilannesta opened #39030 "TPU training error"
Tensorflow: 2.2.0-rc3
Python: 3.6.9

I am training on colab TPU. But got the following error:
[code]

Then I tried to use tfrecord from generator. But got another error:

[code]

To help replicate my issue, this is my notebook
https://colab.research.google.com/drive/1tQbhe_gGhIFoMuHu-HqazHzlP0Z83kwj

And this is the dataset to run the codes:
https://drive.google.com/drive/folders/1abgTg2uuWBmo2TTv

[2020-04-29 15:18] plaffitte commented on #38261
@amahendrakar Thanks for your feedback. The code running in colab uses local storage to store the checkpoints and the models, am I right?
I believe the issue in my case stems from the communication with S3 because I use S3 as the folder for all model and checkpoint saving. I'm not sure how to reproduce that in your case, you would need to create a dockerfile and run a tfjob on Kubeflow I guess?

[2020-04-29 15:24] amahendrakar commented on #39013
Was able to reproduce the issue with TF v2.1, [TF v2.2.0-rc3](https://colab.research.google.com/gist/amahendrakar/87dee37fd31153716c292d1ab4df899a/39013.ipynb#scrollTo=n49ArHDEeON1) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/8d190e12a923604a08113f41a19c3338/39013-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-29 15:30] alextp commented on #38902
The default assign and the default read are unordered. If you want ordered
reads and writes you have to add them yourself with the control
dependencies you need.

On Tue, Apr 28, 2020 at 6:21 PM Lianshui Zhao <notifications@github.com>
wrote:

--
 - Alex

[2020-04-29 15:32] MichelHalmes commented on #36436
Hi @pabloi09, Hi @Matesanz,

Yes, I managed to get my WGAN-GP to work.
It is not the most efficient (ie a part of this has to run eagerly) but it works.
Here is where I compute the gradient penalty:
https://github.com/MichelHalmes/tf-text2image/blob/master/src/losses.py#L88

Hope this helps :-D

[2020-04-29 15:36] amahendrakar commented on #38261
@plaffitte,
Thank you for the update. Yes, Colab uses local storage to store the files.

[2020-04-29 15:38] amahendrakar commented on #38613
@domindominik,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-29 15:39] wdirons commented on #38840
I think the issue is MACHTYPE is a built in bash variable and not an environment variable.

So echo $MACHTYPE works, but printenv MACHTYPE doesn't.
[code]

[2020-04-29 15:44] alextp commented on #37307
@bloops are you aware of this issue?

[2020-04-29 15:47] alextp commented on #38369
The problem is in the following line of code:

[code]

Here conv_inverted_inputs and conv_content_outputs are not tf.Variable, and TF cannot apply optimizer updates on things which are not tf.Variables.

That said the error message could be better. @tanzhenyu can you work on the error message, by maybe checking for tensors earlier?

[2020-04-29 15:49] alextp commented on #38954
Yes this is an undesirable property of the legacy stateful random uniform ops. Use either the generator API or the stateless random ops for sane behavior.

[2020-04-29 15:49] #38954 closed

[2020-04-29 15:49] amahendrakar commented on #38901
@kyteinsky,
As the issue is with that particular dataset, unfortunately I will not be able to help with it. Alternatively, you can post this query on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) as there is a larger community that reads questions there. Thanks!

[2020-04-29 15:54] arashb commented on #33720
upgrading the `six` package to 1.14 fixed the issue for me.

[2020-04-29 16:00] stekiri commented on #27598
@edloper, even though the title of this issue wasn't really accurate, I have the feeling that the issue was not resolved when adding ragged tensor support to datasets.

Here a short snippet that reproduces the issue with `tf 2.2.0-rc3`:

[code]

As mentioned [earlier](https://github.com/tensorflow/tensorflow/issues/27598#issuecomment-480566659), the numpy conversion fails which produces the follow

[2020-04-29 16:02] donalmadden commented on #35968
Thanks so much - This worked perfectly on Ubuntu 19.10 for tensorflow 2.1.0 substituting Ubuntu 18.04 libs for the 16.04 ones above

[2020-04-29 16:08] qlzh727 commented on #38906
Let me rename this bug to pointing to ScopedAllocatorOptimizer.

[2020-04-29 16:08] alextp commented on #39017
It seems like you want tf.transpose+tf.reshape instead of purely tf.reshape. You can also use tf.einsum to have a saner syntax for writing tf.transpose.

[2020-04-29 16:08] #39017 closed

[2020-04-29 16:11] edloper commented on #27598
This is a bug with Dataset.from_generator.  #37400 is a PR to fix it, though I think it's been stalled for a little while on making sure it doesn't break a test.

[2020-04-29 16:18] kyteinsky commented on #38901
Yeah sure, I'll lookup there for a solution.

Thank you for your help.

[2020-04-29 16:19] #38901 closed

[2020-04-29 16:20] edloper commented on #27598
@bionicles If you want to get ragged tensors from sequence examples, you can use [tf.io.RaggedFeature](https://www.tensorflow.org/api_docs/python/tf/io/RaggedFeature).  E.g.:

[code]

[2020-04-29 16:24] jscant commented on #38988
I get this error in tf 2.1, but only if I use
`
weights = Input(shape=(1,), dtype=tf.float32, name='l2_weight')
model = tf.keras.Model(
    inputs=tuple([input, weights, y_true]),
    outputs=tuple([y_pred]))
model.add_loss(
    weighted_squared_error(y_true, y_pred, weights), name='weighted_loss')
model.compile(optimizer=opt(learning_rate=lr))
`

Using this code works fine, but it's no use becaus

[2020-04-29 16:29] srjoglekar246 commented on #34845
What is the error?

[2020-04-29 16:29] voltum commented on #35925
Encountered the same issue with another tfds dataset. Adding `as_supervised=True` to `tfds.load()` solves the problem. Looks like this issue occurs when FeaturesDict is used.

[2020-04-29 16:31] qlzh727 commented on #38922
I see.

The reset_*_mask is there in case user want to use LSTMCell directly. They are called with in LSTM  layer at the start of each batch, but the same mask is used for all the timesteps within the batch. This will ensure same feature get dropped within the sequence (eg same word is dropped in the sentence).

The mask is by default generated by keras framework, if you want to control the mask b

[2020-04-29 16:31] #38922 closed

[2020-04-29 16:43] gunan commented on #38999
Our CI has been able to build TF just fine both at master and 2.2 branches, so I am not sure what issues you are running into.

There is still a lot of information missing.
Did you run `./configure`?
I see that you added `--config=cuda` but you do not include which CUDA version you are trying to build with.
Which commit on r2.2 branch are you synced to?
Please include as much information as possib

[2020-04-29 17:03] sr99622 commented on #38999
It would appear that the root cause of the problem lies with how bazel generates the BUILD file.  My theory is that bazel generates the BUILD file on the initial run, then uses that for parameter initialization, ignoring the environment variable settings after that.  This situation would arise if you have multiple MSVC installations and inadvertently used the wrong one on the first run.  Subsequen

[2020-04-29 17:14] Nikolai10 commented on #39017
@alextp thanks, however, this does not solve the issue - e.g. consider three (seq_len=3) image patches:

[code]
Visualize first batch sample (current behaviour):
[code]

using tf.transpose either changes the output dimension (case 1) or rearranges the pixel values within the image patch:

Case 1:
[code]

Case 2:
[code]

Please reopen the issue. Thanks.

[2020-04-29 17:15] sr99622 commented on #38999
Thank you so much for your help, it is greatly appreciated

[2020-04-29 17:17] alextp commented on #39017
Once you decide what columns you want to reorder you can reorder those
columns with transpose and then reshape to get the shape you want.

If you give names to your original and intended axes the sequence of
reshapes and transposes will become clear.

For example if you start with an image as n c h w i and you want to get n
i*w c h you can do a reshape to coalesce i and w and then transpose them
i

[2020-04-29 17:42] dd1923 commented on #30847
@guptapriya Can you please give reference of commit that fixes the issue?

[2020-04-29 17:48] helenabdr commented on #38369
Hi @alextp , I fixed this error by changing to the following code:

`opt.apply_gradients(zip(grad, grad_model.trainable_variables))`

O link the updated link is [here](https://colab.research.google.com/drive/1QILUHXwpCbLpNh79pDGYxuhnwd1pplrR), as @jvishnuvardhan mentioned. But as said earlier, if you remove @tf.function from the code, it will run.

[2020-04-29 17:52] alextp commented on #38369
This is a well-documented limitation where you're not allowed to unconditionally create new keras models (including new variables) inside a tf.function.

[2020-04-29 17:52] #38369 closed

[2020-04-29 17:54] khordoo commented on #38692
Same Issue here.Building a seq2seq model with Pytorch in Colab
- Mac OSX 10.14.6 , Torch 1.5.0
The notebook keeps crashing and recovering.

Here's a detailed message of the recovery crash report:

`/usr/local/lib/python3.6/dist-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.`

[2020-04-29 17:56] ali-raza-tariq opened #39033 "impl.OpError: file is too short to be an sstable & DataLossError: Checksum does not match- TensorFlow 2.1.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (Linux Ubuntu 16.04):
- TensorFlow version (2.1.0):
- Python version: (3.6)
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A
- Kubernetes version (v1.14.3)
- Kubeflow version (v1.0)

**Describe the current behavior**
Hi guys! i am trying to ru

[2020-04-29 18:04] sarithdivakarm commented on #31171
Yes. Same issue here

[2020-04-29 18:05] Randl commented on #37307
Seems like a number of additional cases fail for complex numbers, which weren't noticed since gradient tests are performed only for `float64`.

[2020-04-29 18:15] helenabdr commented on #38369
@mdanatg, I don't know if I understood correctly. Should I set  `opt = tf.keras.optimizers.SGD(learning_rate=1-4, momentum=0.9)` outside _@tf.function_?

[2020-04-29 18:17] gunan commented on #38999
Yes, if anything changes in your environment, you definitely need to clear your bazel cache. You can do that manually, or you can run `bazel clean --expunge`

Were you able to successfully build?

[2020-04-29 18:22] christopher5106 commented on #38972
Here it is: https://colab.research.google.com/drive/1GscwkqrH5KqP3hBD9o2A2DYqQuG4rQzK
Just set eager=True to use API v2, otherwise it will use compat.v1 runs.

Running this code on our server with compat.v1 gives a duration of 21 s per epoch:

T. 100/100 - il 9.25     - lr 0.001epoch duration 26.57380199432373

Epoch 2/10
T. 100/100 - il 9.55     - lr 0.001epoch duration 21.644425630569458

Epoch

[2020-04-29 18:22] ssheikholeslami commented on #32159
@mihaimaruseac I opened https://github.com/tensorflow/tensorflow/pull/39034 for this.

[2020-04-29 18:28] #38990 closed

[2020-04-29 18:39] mdanatg commented on #38369
@helenabdr yes, and pass it as argument to the function. Although for a simple, stateless optimizerlike SGD it might not be necessary. But definitely do that with the model.

[2020-04-29 18:50] oke-aditya commented on #38990
Could you please tell the reason so that I would know what solved it.

[2020-04-29 18:54] sr99622 commented on #38999
Yes I was able to compile successfully, thank you :)

[2020-04-29 18:54] #38999 closed

[2020-04-29 19:00] MarkoSagadin commented on #38285
Just checking in, im also waiting for v2.

[2020-04-29 19:06] bloops commented on #37307
I wasn't aware of this. I'll take a look...

[2020-04-29 19:09] ericqu commented on #38867
Thank you @thaink and @amahendrakar for your support, much appreciated.
I eventually managed to get it to work.
I suppose I should close the issue.

[2020-04-29 19:09] #38867 closed

[2020-04-29 19:10] Randl commented on #37307
I've tried adding complex tests, many are failing for complex: https://github.com/Randl/tensorflow/commit/f6865e57c93a1d92df30aee4b3756b2979b9125c

[2020-04-29 19:21] Saqhas commented on #33636
@SumNeuron  @pavithrasv Are the functionality for multi-label precison, recall, f1-score, etc are added in tensorflow main code base.
This is also a issue in tensorflow addon repo.
Please confirm.
Thank you

[2020-04-29 19:28] Nikolai10 commented on #39017
@alextp Thank you!

[2020-04-29 19:54] gpapan opened #39035 "TF Lite Hexagon delegate support for snapdragon 865"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

The Snapdragon 865 (Hexagon 698 DSP) is not included in the list of supported Qualcomm SoCs:
https://www.tensorflow.org

[2020-04-29 20:35] tekinvahid commented on #7072
I solved my problem with running the program as an administrator

[2020-04-29 20:40] gdj0nes opened #39036 "Training Property on Keras Layers"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Keras Layers support a `training` argument. Since `training` is only available as an argument it cannot be varied for sublayers without constructing a new class.

Consider a model with two subnetworks, backbone and head. The en

[2020-04-29 20:56] jackyvr opened #39037 "Convert Mobilenet SSD to TensorFlowLite with quantization"
**System information**
- Didn't change the code but used my own data:
- Windows 10 + conda
- TensorFlow installed from binary
- TensorFlow version: v2.0.1 (also happened in newer version)
- Python version: 3.7.6
- CUDA/cuDNN version: 10.0
- GPU model and memory: GeForce GTX 1080 Ti

My goal is simple, I think. I want to convert a pre-trained mobilenetv2 (or v1) ssd model to TFLite with quantizatio

[2020-04-29 21:21] goldiegadde opened #39038 "OwnedMultiDeviceIterator can cause an error on TPU pods"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-29 21:25] yzhuang opened #39039 "For the same model Keras trains about 4x slower compared to Estimators."
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-04-29 21:26] wuhy08 opened #39040 "Segmentation fault when converting a ReLU6 op to TFlite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source):  2.1

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[

[2020-04-29 21:28] ziofil commented on #37307
@Randl do you mean for einsum or in general?

[2020-04-29 21:32] Randl commented on #37307
for einsum. I haven't checked other things, but maybe it worth adding complex number to tests in more systematic way

[2020-04-29 21:50] sboshin opened #39041 "tensorflowrun for distributed training (MultiWorkerMirroredStrategy & ParameterServerStrategy)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-04-29 21:53] wdirons commented on #38840
For now to get the builds to work I'm doing `export MACHTYPE=$MACHTYPE` before the build starts.

[2020-04-29 22:00] guatavita commented on #38605
Hello,

I wanted to update this issue. We end up contacting the NVIDIA support to ask them to reproduce the behavior on a similar system (DGX server with Docker images provided by Nvidia).

The issue has been isolated, we were able to reproduce the stable results of our models using directly the tensorflow/tensorflow:1.15.2-gpu-py docker image.

Thanks to @rmccorm4 for working on the issue.

Best,

[2020-04-29 22:05] ymodak commented on #38983
This behavior is not seen in TF 2.1.0 version. See [GitHub gist](https://colab.research.google.com/gist/ymodak/ec2d0015292fc6b433881fd28bb74439/untitled9.ipynb)

[2020-04-29 22:30] bmabir17 commented on #34845
Segmentation error

[2020-04-29 22:35] shazz commented on #38535
I have the same issue with all version > 2.0.0 (not with 2.0.0) for the prebuilt CPU package, python 3.7 and 3.8.

[2020-04-29 22:35] jvishnuvardhan commented on #35920
I am closing this as this was resolved in `tf-nightly` and will be available in stable `TF2.2` which will be release in near future (currently TF2.2rc3 released more than a week ago).

Please feel free to reopen if this persists in `TF2.2` stable. Thanks!

[2020-04-29 22:35] #35920 closed

[2020-04-29 22:36] #38482 closed

[2020-04-29 22:56] emiliocoutinho opened #39044 "Tensorflow GPU installation"
## URL(s) with the issue:

https://www.tensorflow.org/install/gpu

## Description of issue (what needs changing):

The tf-nightly pip package does not support GPU. It should be: tf-nightly-gpu

On the Windows Setup section, the path:

SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\extras\CUPTI\libx64;%PATH%

should be:

SET PATH=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA

[2020-04-29 23:07] james34602 commented on #29590
We can specify a random non-batch size dimemsion for dynamic axis using tensorflow-2.2.0-rc3 tflite_convert.

However, the tflite-runtime cannot recalculate the appropriate output tensor dimensions if our model needs to.

[code]

Something like this will occur:
[code]
Looks like tflite not yet able to modify all internal operator input/output dimensions accordingly.

[2020-04-29 23:19] SlowMonk opened #39045 "tensorflow 2.0 does not detect the gpus"
actually I have 2 gpus but

[code]

but this only detect the first gpu

[2020-04-29 23:26] ccrusius commented on #35030
It looks like the bulk of the original problem has been indirectly fixed in 2.2. The test

[code]

Gives the following in 2.0:

[code]

and the following in 2.2:

[code]

I'll close this bug - the increasing memory problem, as mentioned by @gdudziuk, is already tracked in another bug.

[2020-04-29 23:32] BanuSelinTosun commented on #37028
I a having the same exact problem with this, as there is no get_model.
It is jupyter notebook and TF 2.1.

def build_model2():
    model = Sequential([
      Dense(n, input_dim=n, kernel_initializer='normal', activation='relu'),
      Dense(17, kernel_initializer='normal', activation='relu'),
      Dense(4, kernel_initializer='normal', activation='relu'),
      Dense(1, kernel_initializer='normal'

[2020-04-29 23:34] riteshahlawat commented on #2117
@Terkea That worked for me, thanks so much!!!

[2020-04-29 23:39] guptapriya commented on #30847
There were a series of commits that build up to this. from what i can tell, this was the last one: https://github.com/tensorflow/tensorflow/commit/97cdd4d16a81a349696f10451b7d564bfa99664f#diff-afbab14e6c4bbefd105d7ad3a3b67b7b

[2020-04-29 23:45] guptapriya commented on #38982
Thanks for clarifying @jazzsir . In order to help narrow down the issue can you try 2 things:
1) remove all callbacks and try  (to see if the issue is with checkpointing or tensorboard etc)
2) try `strategy = tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute. ReductionToOneDevice())` - this is to check whether NCCL is the culprit.

[2020-04-29 23:54] dlop commented on #33315
I'm still experiencing this problem with TF 2.0 that I compiled for GPU but set to CPU-only and run on a different problem from the code in this issue. I've confirmed that it's not due to CPU raising temperature or reducing clock speed since those are steady or improving overall. I haven't tried TF 2.1 yet.

Attached file shows the speed halves after about 1 hour of training.

![slowdown](https://

[2020-04-29 23:57] guptapriya commented on #36846
Agreed, @rchao can you help update the tutorial?

[2020-04-30 00:39] Terkea commented on #2117
glad I could help

[2020-04-30 00:42] allenlavoie commented on #35011
Thank you for the report. I'm checking in a change that defines a gradient for 0 ** 0 wrt the base.

The higher-order gradient examples will still have NaNs. That's an interesting discussion we've had in the past about whether to "fix" backprop in cases like this by not propagating NaNs when multiplying by a zero derivative (so x ** 0 could "hide" NaNs from x ** -1). The conclusion so far has been

[2020-04-30 00:56] ChiHangChen commented on #33144
Same issue but still have no solutions.

[2020-04-30 01:04] rootsid commented on #38990
Issue is still not resolved, i see on website that tensorflow works with 10.1 cuda version not with 10.2 and its a kali box, i mostly use it for security and need that speed boost of 10.2. So installing ubuntu on a separate hard drive for tensorflow.

[2020-04-30 01:08] jz1998 opened #39046 "when using "tensorboard --logdir", reported "ImportError: No module named '_markerlib""
when run the code
`cd  E:\python3\tensorflow1\Flower\log`
`tensorboard --logdir`
report error:
`Traceback (most recent call last):
  File "d:\appdatas\anaconda3\envs\tensorflow\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\appdatas\anaconda3\envs\tensorflow\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "D:\AppDatas\Anaconda3\envs\ten

[2020-04-30 01:36] upwkwd commented on #36423
I am  also getting some error.
windows version: 10.
Installed via Anaconda
Tensorflow Version 2.1.0
cudnn: 7.6.5
cudatoolkit: 10.1.243
Python version: 3.7
GPU: Geforce GTX 1050
CPU: i5-8300H

[code]

[2020-04-30 01:52] gowthamkpr commented on #39006
@GHGmc2 Are you encountering the same problem with Tensorflow 2.1, 2.2rc2, 2.2rc3 ?

[2020-04-30 01:55] gowthamkpr commented on #39008
@AlexanderJLiu This is very similar to the [issue](https://github.com/tensorflow/tensorboard/issues/1961). Please take a look at it and let me know if it helps.

[2020-04-30 02:04] dlop commented on #33315
Strange thing. After making my last post with the graph, the slowdown immediately stopped and it's kept running at a steady 7ms/sample (140 samples/s) for a further 2 hours. Maybe it is just some odd computer issue.

[2020-04-30 02:35] gowthamkpr commented on #37273
@anthonyatp I ran the tutorial n colab successfully and was able to save and restore checkpoints successfully. As your issue is not a bug, Please post your issue on stack overflow as there is a wider community to respond. Thanks!

[2020-04-30 02:35] mdanatg commented on #38910
@AdrienCorenflos When you say trivial loop, do you mean a regular `for i in range` inside `tf.function`?

[2020-04-30 02:39] GHGmc2 commented on #39006
Yes.
For some reason, we need to set inter_op_parallelism_threads=1, and found that the thread is hanging, the code snippet is from [stage_op_test.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/stage_op_test.py#L168) and [map_stage_op_test.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/map_stage_op_test.py#L186), I j

[2020-04-30 02:45] mdanatg commented on #38910
See #34500 for a  very similar discussion. The gist of the story is that the default TensorFlow runtime is not efficient for scalar computations. Enabling XLA compilation with `@tf.function(experimental_compile=True)` can greatly improve performance in cases like this. Note that the overhead of calling tf.function alone has a fixed cost of around 200 us.

[2020-04-30 02:45] #38910 closed

[2020-04-30 02:53] #36794 closed

[2020-04-30 03:02] gowthamkpr commented on #36895
@jashshah You can take a look at this [doc](https://www.tensorflow.org/lite/guide/ops_custom) which explains how to convert this custom operations of tensorflow to tflite.

[2020-04-30 03:16] yjiangling commented on #22855
But the version TensorFlow-1.12.0 still gives the same error, what's wrong? The offical documents shows that the TensorRT-5.1.5 is compatible for the TensorFlow 1.12.0. It's weird.

Compatibility
‣ TensorRT 5.1.5 has been tested with the following:
‣ cuDNN 7.5.0
‣ TensorFlow 1.12.0
‣ PyTorch 1.0
‣ ONNX 1.4.1

**** Failed to initialize TensorRT. This is either because the TensorRT installation path

[2020-04-30 03:17] mjwatkins2 commented on #35011
I realize that it's preferable to avoid handling too many special cases, but it seems like some value/utility is lost here by not producing the correct higher-order gradients. The actual higher-order gradients are defined and are continuous, but those computed by TF have a discontinuity (at x = 0). It may be unlikely that an exact value of 0 will show up during typical training, but I ran into it

[2020-04-30 03:18] zacwellmer commented on #38922
That mask argument does not fully support the use case of rnn dropout with a specific mask (ex: the recurrent dropout mask)

[2020-04-30 03:28] AlexanderJLiu commented on #39008
@gowthamkpr I've read this issue several times. And  I've tried some solutions recommended.

![image](https://user-images.githubusercontent.com/15494997/80668383-590dd500-8ad4-11ea-8b96-a1ca9126291c.png)

I tried add `run_eagerly` to `compile`, and it didn't work.

![image](https://user-images.githubusercontent.com/15494997/80668516-abe78c80-8ad4-11ea-844a-6291f1abf4a7.png)

I've also tried custom

[2020-04-30 03:43] alexvatti commented on #38890
**Step 1:**
git clone https://github.com/tensorflow/tensorflow.git

**Step 2:**
cd  tensorflow
 make -f tensorflow/lite/tools/make/Makefile TARGET_TOOLCHAIN_PREFIX=arm-poky-linux-gnueabi-
find: ‘tensorflow/lite/tools/make/downloads/absl/absl/’: No such file or directory
arm-poky-linux-gnueabi-g++ -O3 -DNDEBUG -fPIC --std=c++11  -DTFLITE_WITHOUT_XNNPACK -fPIC -DGEMMLOWP_ALLOW_SLOW_SCALAR_FALLBACK -

[2020-04-30 03:55] ravikyram commented on #38994
I have tried in colab with TF 2.1.0 , 2.2-rc3 and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d18890e6d91c6fe62dcff2934500927a/untitled840.ipynb).Thanks!

[2020-04-30 04:18] terryheo commented on #38890
You forgot the following step.

[code]

https://www.tensorflow.org/lite/guide/build_arm64

[2020-04-30 04:30] alexvatti commented on #38890
**alexvatti@SYR-DEEPLEARN2:~/AlexBuildLocation/jadak/April_24/tensorflow_april_30/tensorflow$ ./tensorflow/lite/tools/make/download_dependencies.sh**
downloading https://gitlab.com/libeigen/eigen/-/archive/1e41406c362788057b3adcd9a25b73f43e6e6492/eigen-1e41406c362788057b3adcd9a25b73f43e6e6492.tar.gz
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2020-04-30 04:30] csxeba commented on #39021
[Right link](https://colab.research.google.com/drive/1AeVRilpcGp8zb0hZijTIxGWdL9GkzfN_)

[2020-04-30 04:51] terryheo commented on #38890
cstdio is a standard C++ header file.
http://www.cplusplus.com/reference/cstdio/
You'd better check if your toolchain supports C++ compilation correctly.

[2020-04-30 04:59] qlzh727 commented on #38922
yes, it doesn't support the recurrent dropout mask, and it is aligned with we do in Dropout. The mask suppose to be a randomly generated filter in this case, and we didn't consider user injection as a common API use case.

[2020-04-30 05:06] andreiionutdamian opened #39047 "Docstring is not misleading."
The docstring says " it is a negative quantity between -1 and 0, where 0 indicates orthogonality and values closer to -1 indicate greater similarity". Although it is true that the function reverses the sign of the classic cosine similarity so that -1 will denote "similarity" instead of 1 in the original formula, the actual range is still -1 to 1 (not -1 to 0 as misleading by the docstring).

https

[2020-04-30 05:17] Saduf2019 commented on #38988
@nbro
Yes i confirm on rerunning the gist i am able to see the error.

[2020-04-30 05:19] jvishnuvardhan commented on #38994
@teodor440 I was able to reproduce the issue with `save_format='h5'`. However, when I used `save_format = 'tf'` everything worked as expected. `model.predict` before saving and after loading are exactly same. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/e753ca365a61c21d77bdd70844156f68/untitled840.ipynb). Thanks!

[2020-04-30 05:23] Saduf2019 commented on #39033
@ali-raza-tariq
Please share a simple stand alone code for us to replicate the error faced.

[2020-04-30 05:25] Saduf2019 commented on #38972
@christopher5106
I am unable to access the shared code due to denied permission.

[2020-04-30 05:28] Saduf2019 commented on #39037
@jackyvr
Please provide simple stand alone code for us to replicate the issue, the code shared seems incomplete.

[2020-04-30 05:40] prameth commented on #39009
@pavithrasv, can you please help me on this.

[2020-04-30 05:44] Saduf2019 commented on #39040
@wuhy08
I ran the code shared by on 2.1 and face a different error,please find the [gist here.](https://colab.sandbox.google.com/gist/Saduf2019/a6af2d4e4439870329d492ef5f4de9bd/untitled162.ipynb)
Whereas in  nightly there is no error faced [it works fine] , please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/19f50a7c073ede328a71f531e85e0741/untitled163.ipynb).

[2020-04-30 05:49] Saduf2019 commented on #39021
i am able to replicate this, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/6b32a8396582948eed6285215435b7af/untitled164.ipynb)

[2020-04-30 05:49] zhao1157 commented on #38902
@alextp Thanks. But aren't they supposed to be ordered? `Variables` should be initialized by `Assign` before being `read`. Right?

[2020-04-30 06:08] Deadsec69 commented on #33144
Can you provide the model I mean ThreeOutputModel_Final.pb

[2020-04-30 06:29] ravikyram commented on #39039
@yzhuang

I have tried in colab with TF 2.2-rc3 and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/90355a3669004d6d92a0007c67666138/untitled841.ipynb).Thanks!

[2020-04-30 06:33] SumNeuron commented on #33636
@Saqhas the code is on a branch in the add-on repo, there is an issue with readme?
https://github.com/tensorflow/addons/pull/976

[2020-04-30 06:39] ravikyram commented on #38692
@maxkaustav

Looks like this is not Tensorflow issue. Here we address only Tensorflow bug or feature request.Please,close this thread if your issue is not related to Tensorflow. Thanks!

[2020-04-30 06:47] masouduut94 commented on #24496
source from [here](https://kobkrit.com/using-allow-growth-memory-option-in-tensorflow-and-keras-dc8c8081bc96)

    # Tensorflow
    import tensorflow as tf
    config = tf.ConfigProto()
    config.gpu_options.allow_growth = True
    session = tf.Session(config=config, ...)

    #And for Keras
    from keras.callbacks import ModelCheckpoint
    from keras.models import Model, load_model, save_model