[2021-09-10 10:03] mohantym commented on #51879
Ok ! @starboyvarun ,Please mention that issue here and feel free to close this one.

[2021-09-10 10:05] makisgrammenos commented on #51803
Still no solution found.
Anyone  know how to fix it?

[2021-09-10 10:10] FrancescoSaverioZuppichini commented on #20475
I switched to PyTorch years ago, you should do the same :)

[2021-09-10 10:41] mohantym commented on #51876
Ok @par1hsharma
**Commands to check python version .**
[code]
**Commands to check Tensorflow version**
[code]
**Command to check successful Tensorflow installation .**
[code]

[2021-09-10 10:42] #38336 closed

[2021-09-10 10:49] mohantym commented on #51898
Ok @gao8954 ,Could you please provide link to csv file too?

[2021-09-10 10:59] MisRight opened #51928 "C++ compile tensorflow r2.5"
tensorflow_cc.dll.if.exp : error LNK2001: 无法解析的外部符号 "public: __cdecl tensorflow::TensorShapeBase<class tensorflow::TensorShape>::TensorShapeBase<class tensorflow::TensorShape>(class absl::lts_2020_02_25::Span<__int64 const >)" (??0?$TensorShapeBase@VTensorShape@tensorflow@@@tensorflow@@QEAA@V?$Span@$$CB_J@lts_2020_02_25@absl@@@Z)
bazel-out\x64_windows-opt\bin\tensorflow\tensorflow_cc.dll : fatal e

[2021-09-10 11:01] BADAL244 opened #51929 "Semantic segmentation node in ros node opening with model"
2021-09-10 16:25:17.632603: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.10.2
2021-09-10 16:25:28.226278: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcuda.so.1
2021-09-10 16:25:28.235986: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:1001] ARM64 does not support N

[2021-09-10 11:08] mohantym commented on #21850
Hi @srihari-humbarwadi , Could you please refer t[his document](https://docs.nvidia.com/deeplearning/frameworks/tf-trt-user-guide/index.html) for using TF-TRT in latest version.
We  also see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please op

[2021-09-10 11:38] sushreebarsa commented on #51927
@1148330040
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-10 11:51] tilakrayal commented on #51921
@wu-yy ,
Can you please let us know the tensorflow version you are trying to execute the code.It helps in analysing the issue.Thanks

[2021-09-10 11:51] sushreebarsa commented on #51913
@nectario Could you please have a look at the [link1](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Attention),[ link2](https://www.tensorflow.org/api_docs/python/tf/keras/layers/AdditiveAttention), Please let us know if it helps?Thanks!

[2021-09-10 11:52] tilakrayal commented on #51911
@rafak360 ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-09-10 12:14] sushreebarsa commented on #51908
@lugalUrim Could you please have a look at the[ link](https://www.tensorflow.org/api_docs/python/tf/pad), and similar [issue](https://github.com/tensorflow/tensorflow/issues/42293) ,Please let us know if it helps ?Thanks!

[2021-09-10 12:27] nectario commented on #51913
@sushreebarsa These examples I know about. They do not mention of what happens when 4D tensors are passed. Attention mechanism is a difficult topic, and more examples would be appreciated.

[2021-09-10 12:28] sushreebarsa commented on #51922
@EnderWiggin14
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-10 12:41] FSet89 opened #51930 "multiple tflite_runtime interpreters perform bad when loaded and invoked at the same time"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: YOCTO Linux
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: not installed (tflite run

[2021-09-10 13:02] falahfakhri-Iraq commented on #37144
I have the same problem, tensorflow 2.6, python 3.9.6, windows 10, spyder 5.1.3 platform,

WARNING:tensorflow:AutoGraph could not transform <function Model.make_train_function.<locals>.train_function at 0x0000023D5D75B4C0> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full ou

[2021-09-10 13:17] mohantym commented on #51928
Hi @MisRight! We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-10 13:18] bhack commented on #47340
It seems I cannot reproduce this at https://github.com/keras-team/keras/pull/15342

[2021-09-10 13:18] tilakrayal commented on #51691
@ArunaKote ,
I was able to execute the mentioned code in tf v2.6 without any error.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/ee5a6f3dd57020ec626c7594a0246ee1/untitled722.ipynb).Please try to test the code in new virtual environment.Thanks!

[2021-09-10 13:20] mohantym commented on #17650
Hi @skycoop !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:25] mohantym commented on #23870
Hi @TolicWang ,Is the issue still replicating in Tensorflow latest Versions ?
As 1.x versions  of Tensorflow has been considered officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:25] CodeMonkey3435 commented on #51904
Is it possible to upload the model and then just use the tf lite converter code to reproduce the error?

[2021-09-10 13:29] mohantym commented on #21983
Hi @zmjjmz !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:32] sannamir commented on #51653
how do I create unit tests?

[2021-09-10 13:35] mohantym commented on #24047
Hi @yoavz !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:37] mohantym commented on #24774
Hi @minhg! We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:42] mohantym commented on #26215
Hi @andrebeu !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:43] mohantym commented on #26465
Hi @bingyuanlee !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:47] mohantym commented on #22939
Hi @lissyx !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 13:48] nectario commented on #51913
I really want to see more examples and information. I have a hard time understanding what a query is and value in regards to data that is not NLP related.

[2021-09-10 13:49] mohantym commented on #26906
Hi @bdod6 !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-10 14:10] lissyx commented on #22939
I'm not working on TensorFlow-related tooling anymore. For what it is worth, the original question whether this tool was deprecated on that branch still holds with no proper answer.

[2021-09-10 14:10] #22939 closed

[2021-09-10 14:10] lissyx commented on #22939
@reuben might care / need for a new issue, though ?

[2021-09-10 14:10] mohantym commented on #51827
Ok @sumitbinnani ,Feel free to close this one . Thank!

[2021-09-10 15:01] tanzhenyu commented on #36510
Are you using WSL? That doesn't work for NCCL

[2021-09-10 15:20] Saduf2019 commented on #20475
@FrancescoSaverioZuppichini
Please move this to closed status, if it is not a issue for you anymore.

[2021-09-10 15:42] #34564 closed

[2021-09-10 15:42] #51704 closed

[2021-09-10 15:42] #39829 closed

[2021-09-10 15:44] falahfakhri-Iraq commented on #37144
I have python 3.9.6, windows 10, tensorflow 2.6, I got the following error,

Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: Unable to locate the source code of <function f1_m at 0x0000024D9B260DC0>. Note that functions defined in certain environments, like the interactive Python

[2021-09-10 16:01] 86236291 opened #51931 "Why is there no get in tensorflow version 2.3_ output_ Shape this function？"
https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/keras/engine/base_layer.py#L1463-L1480

[2021-09-10 16:14] ymodak commented on #51897
[Apple developer forum](https://developer.apple.com/forums/tags/tensorflow-metal) is the right place to raise this issue since those builds are maintained by them.

[2021-09-10 16:30] jvishnuvardhan commented on #39013
Closing this issue as this was resolved. Thanks!

[2021-09-10 16:30] #39013 closed

[2021-09-10 16:33] srjoglekar246 commented on #51804
The error comes from within the Hexagon kernel ([see code here](https://github.com/XiaoMi/nnlib/blob/master/hexagon/ops/src/op_maxpool_d32.c#L566)), so you can probably follow the logic there (with your op's IO dimensions & arguments) to get a better idea of why this particular instance of the op is failing. I am a bit swamped at the moment, so might not have the time to dig myself. Could you help

[2021-09-10 16:36] sanatmpa1 commented on #51871
@ArunaKote,

In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-10 16:39] Huskers2020 opened #51932 "Build on FreeBSD fails with protbuf related error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : FreeBSD
- TensorFlow installed from (source or binary):

[2021-09-10 16:42] #42632 closed

[2021-09-10 16:42] #42620 closed

[2021-09-10 16:42] #46976 closed

[2021-09-10 16:42] #46786 closed

[2021-09-10 16:42] #27022 closed

[2021-09-10 16:42] #41953 closed

[2021-09-10 16:57] noahzhy commented on #21051
I argee with @githubharald that the result of the greedy and beam decoder is different if beam width and top paths is set to 1. I do not have a strong theoretical background but I found the same problem when I optimizing the model, change with the two different decoders.

[2021-09-10 17:07] tilakrayal commented on #51926
@ArniusOm ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from the issue with similar error.It helps.Also in order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if

[2021-09-10 17:12] EnderWiggin14 commented on #51922
Bug issue moved [here](https://github.com/keras-team/keras/issues/15345).

[2021-09-10 17:12] #51922 closed

[2021-09-10 17:13] ymodak commented on #51514
This is fixed with https://github.com/tensorflow/datasets/commit/5d1d3c9ec95f8bf6c7d1a73befbd3e8b4458363d#diff-e36263420b0922ac75692057d52dd1a3bcfe57bafaeed330caffba97c16bdadc Thanks!

[2021-09-10 17:13] #51514 closed

[2021-09-10 17:25] tilakrayal commented on #51929
@BADAL244 ,
In order to expedite the trouble-shooting process, could you please provide the complete code, dataset and tensorflow version you are using to reproduce the issue reported here.Also please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/44072) with similar error.It helps.Thanks

[2021-09-10 18:13] #23185 closed

[2021-09-10 18:18] ArniusOm commented on #51926
Hey Tilakrayal, thanks for taking your time.

Here are my specifications:

Windows 10 Pro
Tensor Flow was installed vs most recent Anacoda version
Tensor flow 2.5.0
Python 3.9.6
Installed using Conda
Cudatoolkit 11.0.221
Cudnn 8.2.1
Gpu NVIDIA GeForce GT 1030
2,048 MB GDDR5

Regarding what I ran:

This was the command that I ran:

python evaluate.py --checkpoint ./rain-princess.ckpt --in-path <E:\

[2021-09-10 18:42] #46514 closed

[2021-09-10 18:42] #46566 closed

[2021-09-10 18:45] karimkalimu commented on #51880
I did manage a way to include the feature within the pod lib for xcode until they release a newer version with it, because they already have it in the c files but still experimental, and not included in the swift nightly version.

Used the same command from this page (https://www.tensorflow.org/lite/guide/build_ios)
bazel build --config=ios_fat -c opt \
  //tensorflow/lite/ios:TensorFlowLiteC_fram

[2021-09-10 19:56] marsupialtail opened #51933 "How to edit Tensorflow SavedModel"
I have a Tensorflow model trained in Python, exported to a .pb file and then used with Tensorflow Serving.

I have written a custom op that greatly speeds up the inference of some operators in this Tensorflow model, but only works for inference -- I can't use this custom op during training time.

I am wondering if it's possible for me to use this custom op with the .pb file in Tensorflow serving.

[2021-09-10 20:07] #49019 closed

[2021-09-10 20:30] bouyeshogh opened #51934 "how i build this custom layer in keras without error?"
I want build this custom Layer in keras to use it in sequential model. While running the code i am getting an error.can someone help me?? Below you can see the Code and the error.

    class WeightedLayer(Layer):
      def __init__(self, n_input, n_memb, **kwargs):
          super(WeightedLayer, self).__init__( **kwargs)
          self.n = n_input   # 16 features
          self.m = n_memb    # 3

[2021-09-10 21:06] mjsML opened #51935 ""Could not append to the internal temporary file" When preparing TFDS imagenet dataset on TPU-VM"
(1) please update the bug template to include instructs to get TF version properly ```python3 -c "import tensorflow as tf; print(tf.__version__)" ```

vs. TF 2.0 instructions in this bug template: `python -c "import tensorflow as tf; print(tf.version.GIT_VERSION, tf.version.VERSION)"`

The former yields : 2.6.0

(2)

**System information**
TPU-VM v3-8 with alpha 2.0 software and Colab Pro large me

[2021-09-10 21:12] lugalUrim commented on #51908
Yes, thanks @sushreebarsa for pointing to that. I will close this issue.

[2021-09-10 21:12] #51908 closed

[2021-09-10 21:36] lugalUrim opened #51936 "tf.keras.layers.MaxPooling3D crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-09-10 22:58] staticalliam7 commented on #51704
I figured out the issue, I ran out of disk space on the partion I was using. Thanks for all of your help

[2021-09-11 01:19] nectario commented on #50735
@sanjoy I take it back. This error did manage to happen again. Surprisingly it happened when I removed the above flag CUDA_LAUNCH_BLOCKING=1. From my 250 model training 13 succeeded but the rest all failed with that error. Unfortunately it was without the flag. Will run it  with it and will attach the logs.

[2021-09-11 01:36] nectario commented on #50735
@sanjoy Now that I think about it, the day before yesterday I trained my 250 models with the flag on and the error did not happen. Although training seemed a little bit slower than usual. And today I trained with the flag removed, and 200+ model trainings failed.

[2021-09-11 02:01] #26465 closed

[2021-09-11 02:08] #50926 closed

[2021-09-11 02:48] andrey-klochkov-liftoff commented on #51583
@yongtang ,
Importing `tensorflow_io` doesn't always fix it. In my case it doesn't work when I execute from a PEX file. PEX has all the dependencies including tfio, and I do import `tensorflow_io` but I get the error stated in the description. When executed with dependencies installed by pip, it works. What is the mechanism that is used to register S3 support in tensorflow itself? Is there any way

[2021-09-11 03:49] rafak360 commented on #51911
Done: https://github.com/keras-team/keras/issues/15348

[2021-09-11 04:09] duncanriach commented on #38185
Note that PR [50070](https://github.com/tensorflow/tensorflow/pull/50070) has been merged and will be present in TF 2.7.  Deterministic functionality for both `tf.nn.softmax_cross_entropy_with_logits` and `tf.nn.sparse_softmax_cross_entropy_with_logits` (and the Keras layers that utilize them) can be enabled using `tf.config.experimental.enable_deterministic_ops(True)`.

[2021-09-11 04:09] #38185 closed

[2021-09-11 04:38] fsx950223 opened #51944 "Init node head/predictions/class_string_lookup/table_init/LookupTableImportV2 doesn't exist in graph"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2021-09-11 06:00] sushreebarsa commented on #34183
@scm-ns Could you please have a look at the [link](https://www.tensorflow.org/lite/guide/ops_select?hl=hu#using_cocoapods) and let us know if it helps ?Thanks!

[2021-09-11 06:12] sushreebarsa commented on #34135
@bsddemon Could you please try to  upgrade the **`tflite_runtime`** package from [link](https://www.tensorflow.org/lite/guide/python) and try to execute your code using latest stable version of TF **`2.6.0`** .Please let us know if helps?Thanks!

[2021-09-11 06:32] sushreebarsa commented on #34697
@Edwin-Koh1 Could you please refer to the [link1](https://github.com/QData/TextAttack/issues/499) ,[link2](https://github.com/CognitiveScale/certifai-reference-models/pull/61) and let us know if it helps ? Thanks!

[2021-09-11 08:08] mohantym commented on #51931
Hi @86236291 ,
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-11 08:51] Yannik1337 commented on #36510
I assume that you mean Windows Subsystem Linux. If that is correct, then, no, I am running on Ubuntu in a Docker environment.
However, I have not checked the code for a couple of months. Once I found that using `strategy = tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.HierarchicalCopyAllReduce())` worked, I proceeded with experimentation.

What I want to mention is that I was also

[2021-09-11 12:05] tilakrayal commented on #51911
@rafak360 ,
Please feel free to move this issue to closed status as it has been tracking in Keras repo.Thanks!

[2021-09-11 13:21] mpkuperman opened #51948 "NotImplementedError: quantile is not implemented: StudentT"
Hi, all

**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04
- Tensorflow version : 2.6.0
- Tensorflow probability version: 0.13.0
- Python version: 3.8.10

When trying to compute the [well documented](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/StudentT) quantile of a Student's T distribution, the following error shows in console: `NotImplemented

[2021-09-11 14:48] Petros626 opened #51950 "ValueError: Protocol message object_detection.protos.StringIntLabelMapItem has no non-repeated field "frequency""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): pip install tensorflow==1.15 (anaconda)
- TensorFlow version (use command below): 1.15
- Python version: 3.7.11

i am trying to run the script: updated_old_example.py from a tutorial without errors (see source:https://github.com/Bengemon825/TF_Object_Detectio

[2021-09-11 17:24] Bestyasser commented on #37512
TensorArray solution is very slow!

[2021-09-11 18:25] SaschaHeyer commented on #51897
solution
https://developer.apple.com/forums/thread/683757

SYSTEM_VERSION_COMPAT=0 pip install tensorflow-macos tensorflow-metal

[2021-09-11 18:42] #51645 closed

[2021-09-11 19:13] rllin opened #51951 "host to device transfer is not utilizing close to PCIE bandwidth"
**System information**
- TensorFlow version (use command below): 2.3.0, 2.5.0, 2.6.0
- Python version: 3.7
- CUDA/cuDNN version: 11.2
- GPU model and memory: see colab on K80s, but this seems to happen on T4s, V100s, and A100s too

**Describe the current behavior**
device memory bandwidth is marketed as quite high, e.g.

coreClock: 1.59GHz coreCount: 40 deviceMemorySize: 14.75GiB deviceMemoryBandw

[2021-09-11 19:57] #51911 closed

[2021-09-11 21:45] seragENTp opened #51954 "GPU Delegate Issue !"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Android OS Oreo (API Level 27)
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: Surveillance Camera with QCS605 Qualcomm ship.
-   **TensorFl

[2021-09-11 21:53] deduble commented on #48868
bumping this here because the fix looks like temporary. I did not face this issue using python 3.8 in a virtualenv but occured in system python 3.9 on windows. From the people it also looks like a windows issue. Even though the cuda paths added to path correctly, it still doesn't recognize the appropriate dll's.

[2021-09-12 00:40] 1148330040 commented on #51927
code  It's a little long, so I'll describe it as much as possible. I'd like to ask you

[2021-09-12 01:06] lugalUrim commented on #51936
It turns out that `tf.keras.layers.AveragePooling3D` also crashes when `pool_size` contains `0`.

[2021-09-12 01:11] A150852 commented on #38561
My observation - In multiprocessing setting, invoking predict() causes this warning and when processing large amounts of data it errors out eventually(may be memory leakage). Setting experimental_relax_shape=True for the function being invoked by multiple processors resolves the issue. Also using model(input) instead of model.predict(input) resolves the issue. So key issue seems to be due to retra

[2021-09-12 03:36] tanzhenyu commented on #44692
For me, the command that works is:
`bazel build --config=opt --per_file_copt=//tensorflow/.*\.cc@-g,-O0 tensorflow/tools/pip_package:build_pip_package`

[2021-09-12 06:16] sushreebarsa commented on #51936
@lugalUrim Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-12 06:28] sushreebarsa commented on #51950
@Petros626 We see that you are using old version of tensorflow 1.15 which is not actively supported , We recommend that you upgrade to 2.6.0 and let us know if the issue still persists in newer versions. Thanks!

[2021-09-12 07:40] Petros626 commented on #51950
@sushreebarsa hey thanks for your answer.

the funny thing is, before i had loaded an interpreter with **python 3.8** and **tensorflow 2.5**, there i got the error message that **Image** and **pyplot** would not contain a module. I think I could only install Image as a package the error for the Matplotlib remained, so I used an interpreter with tensorflow 1.15. finally the tutorial is also based o

[2021-09-12 07:46] sjtusmartboy commented on #51839
@sushreebarsa @Saduf2019 Please make some updates, even this issue is very hard, thanks!

[2021-09-12 08:32] ArunaKote commented on #51871
[tf_sets_intersection.zip](https://github.com/tensorflow/tensorflow/files/7149267/tf_sets_intersection.zip)

[2021-09-12 08:49] Petros626 commented on #51950
@sushreebarsa i was also not successful with tensorflow 2  unfortunately i get other error messages which i could partially fix but the script remains unworkable.

with tensorflow 1 I have in any case the error because of the matplotlib and image no longer, also is marking in the code at tf.Graphdef() and tf.gfile.Gfile() disappeared, but still the error: AttributeError: module 'tensorflow' has no

[2021-09-12 12:33] #20475 closed

[2021-09-12 12:35] jiayugedede opened #51963 "How to use tensorflow.experimental.numpy in tensorflow?"
I have known `tensorflow.experimental.numpy` in tensorflow, but I don't know how to assign a value to a numpy NDarry, just like this.
`
    def get_dct_filter(self, tile_size_x, tile_size_y, mapper_x, mapper_y, channel):
        dct_numpy_filter = np.zeros(shape=(tile_size_y, tile_size_x, channel), dtype=np.float32)
        c_part = channel // len(mapper_x)

        for i, (u_x, u_y) in enumerate(

[2021-09-12 13:04] WingsBrokenAngel commented on #51936
Hi, I have created a [PR](https://github.com/keras-team/keras/pull/15356) for Keras to solve this issue.

[2021-09-12 14:21] eli-osherovich opened #51967 "tf.nn.sigmoid_cross_entropy_with_logits should support broadcasting"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6
- Python v

[2021-09-12 15:57] #51926 closed

[2021-09-12 16:13] skeydan commented on #32244
thanks!

[2021-09-12 16:49] eli-osherovich opened #51970 "Setting OMP_DYNAMIC=true ruins training on TF-MKL"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): git
- Python v

[2021-09-12 16:50] eli-osherovich commented on #51970
@vpirogov can you please have a look at this.

Thanks.

[2021-09-12 16:51] kevinashaw commented on #41448
Apparently Keras thinks this issue is fixed: https://keras.io/examples/structured_data/imbalanced_classification/

[2021-09-12 16:53] kevinashaw commented on #41448
@sushreebarsa Was this issue closed on purpose?

[2021-09-12 17:13] eli-osherovich commented on #51970
Some additional info (MKL_VERBOSE=1) that looks suspicious.

[code]

[2021-09-12 17:19] eli-osherovich commented on #51970
Preloading Intel's `libiomp5.so` (via `LD_PRELOAD`)  removes the error of two `omp` libraries loaded, but does not solve the main issue with poor convergence.

[2021-09-12 18:39] Saduf2019 commented on #35451
@veonua
We are checking to see if you still need help on this issue.Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-12 18:41] Saduf2019 commented on #33303
@shayantabatabaee
Could you please try on latest stable version of tf and let us know if this is still an issue.Thanks!

[2021-09-12 18:45] veonua commented on #35451
It is not for me, the official TF example is broken.
Could you please test it first.

On Sun, 12 Sep 2021 at 20:39, Saduf2019 ***@***.***> wrote:

[2021-09-12 19:26] mahault commented on #47311
[code]

This worked for me

[2021-09-12 20:29] tyomik-mnemonic commented on #37339
have the same bug in TF 2.6.0

[2021-09-12 21:42] #51738 closed

[2021-09-12 22:15] makisgrammenos commented on #51803
After hours of searching it seems that there's a bug in tensorflow when it comes to subclass a model using GPU with this  model architecture.
By using the functional API and the same model architecture everythign seems to work fine and the model trains as it should

[2021-09-12 22:20] AdeshChoudhar commented on #49225
I would like to contribute. This might be my first contribution for tensorflow! So, just a check for `f == None` right?

[2021-09-12 22:53] AdeshChoudhar commented on #49225
I have made a pull request. Can you please review it and let me know if this was the expected thing?

[2021-09-12 23:34] yongtang commented on #51583
@andrey-klochkov-liftoff I don't have experience with PEX file. Can you share a minimal reproducible steps that exposes the issue you mentioned. Also, are you running on Windows or Linux/macOS? Note s3 (and gcs) may not work correctly on Windows yet due to #49515 (which will be fixed if PR #49520 can be merged)

[2021-09-13 00:39] yongtang commented on #51908
In case of check failure, tensorflow should return an error gracefully instead of crash with undefined behaviors. Created a PR #51973 for the fix.

[2021-09-13 00:55] Edwin-Koh1 commented on #34697
Hey all, I believe the issue was resolved by @adriangb in [#39609](https://github.com/tensorflow/tensorflow/pull/39609) and the keras pull [#14748](https://github.com/keras-team/keras/pull/14748). Should be fixed in Keras 2.6.0 but have not tested this yet.

[2021-09-13 00:59] ymzlygw opened #51974 "How to extract the weight and bias from GRU and feed to a GRUcell layers?"
Hi ,  I find that in pytorch, there are ways to extract  the bias and weights from a trained GRU layers and apply them to a GRUcell as follows:

    def get_gru_cell(self, gru):
        gru_cell = nn.GRUCell(gru.input_size, gru.hidden_size)
        gru_cell.weight_hh.data = gru.weight_hh_l0.data
        gru_cell.weight_ih.data = gru.weight_ih_l0.data
        gru_cell.bias_hh.data = gru.bias_hh_l0.

[2021-09-13 01:19] yongtang commented on #51936
While the original issue is coming from tf.keras.layers.MaxPooling3D, the issue is triggered when max_pool3d is called directly with tensorflow itself. For that PR #51975 has been created to fix the issue inside tensorflow.

[2021-09-13 03:02] FishWoWater commented on #44721
@abattery any progress on this?

[2021-09-13 03:04] rchao commented on #51778
Hello zpcalan@, can you call `tf.debugging.set_log_device_placement(True)` at the start of the program and see if it provides useful device placement information?

[2021-09-13 03:12] abattery commented on #44721
Please try out the recent TF version. We delivered a better story for supporting tensor list ops.

[2021-09-13 03:12] #44721 closed

[2021-09-13 03:15] rchao commented on #51778
As for the reason why you don't see send/recv ops in the graph, it is because the `TensorBoard` callback only collects the graph of the "train function", and not the communications.

[2021-09-13 03:59] Minhthien1122 opened #51977 "ValueError: The first argument to `Layer.call` must always be passed."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-13 04:21] tilakrayal commented on #51926
Glad the suggested above comment worked for you to resolve the issue.Thanks!

[2021-09-13 04:59] ArunaKote commented on #51691
Thank You.I able to run the above code.I used tf  2.7.0-dev20210831.I able to save mlir into tf.mlir

Then I used tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt -canonicalize  --tf-shape-inference -xla-legalize-tf  --print-ir-before-all &>1  tf.mlir

Got Error as:

ex_13_09.mlir:3:3: error: The following operations cannot be legalized: tf.Const (count: 1); tf.CropAndResize (count: 2); tf.Non

[2021-09-13 05:46] sushreebarsa commented on #51977
@Minhthien1122
In order to expedite the trouble-shooting process,Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-13 06:04] FullZing commented on #51823
Hi @sushreebarsa

thank you for replying
but my problem still exists
1.   i checked the Region defination in MLIR from
 https://mlir.llvm.org/docs/LangRef/#regions
and it shows a sample with region
  "any_op"(%a) ({ // if %a is in-scope in the containing region...
	 // then %a is in-scope here too.
    %new_value = "another_op"(%a) : (i64) -> (i64)
  }) : (i64) -> (i64)

2.  check tf_executor.grap

[2021-09-13 06:14] sushreebarsa commented on #51963
@jiayugedede In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thanks!

[2021-09-13 06:17] sanatmpa1 commented on #44602
@sairmreddy,

Can you try to build latest version of TF `2.6.0` using this [guide](https://www.tensorflow.org/install/lang_c)? You can take a look the similar issues #46837,#43307 and #40538 for your reference. Thanks!

[2021-09-13 06:22] sanatmpa1 commented on #44381
@jmfreeland,

Can you try building the recent nightly version i.e `2.7.0.dev20210912` using this [guide](https://www.tensorflow.org/install/source_windows) and let us know if the issue persists. Thanks!

[2021-09-13 06:25] sanatmpa1 commented on #44291
@apurvakalia,

Can you try building the latest nightly version using this [guide](https://www.tensorflow.org/install/source_windows) for windows, and let us know if the issue still persists? Thanks!

[2021-09-13 06:28] sanatmpa1 commented on #44292
@XDflight,

Can you try building the latest stable version of Tensorflow i.e `2.6.0` using this [guide](https://www.tensorflow.org/install/source) for MacOS and let us know if the issue still persists in the newer version? Thanks!

[2021-09-13 06:42] #15690 closed

[2021-09-13 07:17] bersbersbers opened #51978 ""Unimplemented: Deterministic GPU implementation of unsorted segment reduction op not available" with AUC metric and TF_DETERMINISTIC_OPS"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OpenSUSE LEAP 15.2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: Python 3.9.6
- CUDA/cuDNN version: 11.2 and 8.1.1

[2021-09-13 07:42] #27671 closed

[2021-09-13 07:42] #20561 closed

[2021-09-13 07:42] #30169 closed

[2021-09-13 07:42] #20600 closed

[2021-09-13 07:46] antoinehabis commented on #28924
Had the same problem when using a generator. Turns out that on_epoch_end and on_epoch_begins where not called. I added
LambdaCallback(on_epoch_end=train_gen.on_epoch_end,on_epoch_begin=train_gen.on_epoch_begin) to callbacks and this solved the issue.

[2021-09-13 07:59] kumariko commented on #19407
@zmjjmz We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-13 08:01] ymzlygw commented on #51974
Ok , I find that I should build layer and give a input shape before do layers.set_weights(), which is different from Pytorch.
Because I have solved the problem, I close this issue.

[2021-09-13 08:01] #51974 closed

[2021-09-13 08:14] tilakrayal commented on #51948
@mpkuperman ,
This issue is more suitable for tensorflow/probability repo.Please feel free to close this issue and post in respective repo from [here](https://github.com/tensorflow/probability/issues).Thanks!

[2021-09-13 08:17] LIFEPANTS commented on #32180
@karimnosseir
Was this ever fixed? any release i should try?

[2021-09-13 08:20] Saduf2019 commented on #33800
@petewarden
Is this still an issue, could you please verify if all review access is provided as requested for so we may move this to closed status.

[2021-09-13 08:32] tilakrayal commented on #50881
@Saduf2019 ,
I was able to reproduce the issue in tf [v2.5](https://colab.research.google.com/gist/tilakrayal/e8b505e356c58733bc9f2c2d90daeaa5/2-5model_evaluate.ipynb), [v2.6](https://colab.research.google.com/gist/tilakrayal/a961871712b2465b4bb6c5b9031b0900/2-6-model_evaluate.ipynb) and [nightly](https://colab.research.google.com/gist/tilakrayal/1ea6aa835c043ffdf216d96c4c0961d9/nightly-model_eval

[2021-09-13 08:41] puneeshkhanna commented on #51877
import numpy as np
class test(unittest.TestCase):
    def test_assert_1(self):
        actual = np.array([0.93933064])
        expected = 0.9393305437365417
        self.assertAlmostEqual(expected, actual, 2)

    def test_assert_2(self):
        actual = np.array([0.93933064])
        expected = 0.9393305437365417
        self.assertEqual(list(actual.shape), [1])
        self.assertAlmostEqual(ex

[2021-09-13 08:57] abattery commented on #32180
You can try out the nightly version. See also https://www.tensorflow.org/lite/guide/signatures

[2021-09-13 09:04] sushreebarsa commented on #51927
@1148330040 It looks like you are using an older Version of Tensorflow (2.2). Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Please have a look at the[ link](https://www.tensorflow.org/api_docs/python/tf/GradientTape) & let us know if it helps? Thanks!

[2021-09-13 09:04] letdivedeep commented on #51800
@impjdi this worked. thanks for the inputs

[2021-09-13 09:04] #51800 closed

[2021-09-13 09:17] faroit commented on #47041
@ziofil please reopen

[2021-09-13 09:23] wu-yy commented on #51921
@tilakrayal ,  hi, the tensorflow version is `r1.15`.

[2021-09-13 09:26] abattery commented on #46006
Please try out TensorFlow 2.6 or tf-nightly version with `converter.experimental_enable_resource_variables = True`>

[2021-09-13 09:36] mohantym commented on #51967
Hi @eli-osherovich ,I tried to replicate and resolve the issue , But y_true and y_predict should have same number of element inside right. so I tested with example labels and logits here in this [gist.](https://colab.research.google.com/gist/mohantym/83fe136b930375f4a4f7ff8279642017/github_51967.ipynb) Thanks!

[2021-09-13 09:42] #51598 closed

[2021-09-13 10:03] sushreebarsa commented on #51933
@marsupialtail Could you please refer to the[ link1](https://www.tensorflow.org/tutorials/keras/save_and_load),[ link2](https://www.tensorflow.org/tutorials/keras/save_and_load) and let us know if it helps?Thanks!

[2021-09-13 10:07] ThijsStockmans commented on #48867
Hi @atyshka,

I have a similar problem with type conversion in model.save(), could you please indicate how you disabled this piece of code for the workaround to work before I start a new issue related to this. I can't find the input parameter related to this.

Thanks in advance!

[2021-09-13 10:08] eli-osherovich commented on #51967
@mohantym
This is exactly the point -- the requirement to have the same number of elements is unjustified in my view and should be removed.  Please have a look at the example where keras fails due to this requirement.

[2021-09-13 10:29] kumariko commented on #30003
@zhizunbao-y We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions.Thanks!

[2021-09-13 10:45] mohantym commented on #51978
Hi @bersbersbers ! I could not  replicate the issue in Stable version [2.5](https://colab.research.google.com/gist/mohantym/2269d888b8eb38da4a564023327fa800/github_51978.ipynb#scrollTo=fTqv7A-IlDek) ,[2.6](https://colab.research.google.com/gist/mohantym/7e3a1d7e67fa1d1cfc193afe779710d7/github_51978.ipynb) and 2.6rc2.0 and [nightly ](https://colab.research.google.com/gist/mohantym/5120ec9094a966460

[2021-09-13 11:06] mohantym commented on #51967
Ok! @sanatmpa1 ! could you please  look at this issue ?

[2021-09-13 11:09] bersbersbers commented on #51978
@mohamedadaly as I said, you need to test using GPU:
Edit - Notebook settings - Hardware accelerator - GPU, Save.

Then, you can repro in Colab:
![image](https://user-images.githubusercontent.com/12128514/133073490-f8548fa1-cda3-4fdd-bdba-017e5d54b7e9.png)

Can you transfer this issue to keras-team/keras?

[2021-09-13 11:13] lekshmyharitha commented on #50398
I had the same issue. How did you rectify this?

[2021-09-13 11:26] tilakrayal commented on #51935
@mjsML ,
Can you please try to test your code in latest stable tf v2.6 and let us know if the issue still persists.Thanks!

[2021-09-13 11:42] #51742 closed

[2021-09-13 11:53] kumariko commented on #35011
I could reproduce the issue with TF 2.6 . Please, find the [**`gist`**](https://colab.research.google.com/gist/kumariko/d2332d8c553b5afe2e714b2f3431d244/untitled118.ipynb#scrollTo=LR8L4OwgXAfr) here.Thanks!

[2021-09-13 12:03] kumariko commented on #35012
I could reproduce the issue with TF 2.6 . Please find the [**`gist`**](https://colab.research.google.com/gist/kumariko/4c5030039b88f4c2bbf1205f46b515ae/untitled253.ipynb#scrollTo=8bSJFFrhl86E) here.Thanks!

[2021-09-13 12:42] #51741 closed

[2021-09-13 12:43] mohantym commented on #51925
Hi @jvishnuvardhan ,Could you please look at this issue!

[2021-09-13 12:52] abattery commented on #51944
Please try out the tf-nightly version. The newer version already fixed this problem.

[2021-09-13 12:52] #51944 closed

[2021-09-13 12:53] KarlKulator commented on #47271
@terryheo Hi, is there any news on improving the export of the C++ tensorflow-lite target in CMake?

[2021-09-13 12:53] abattery commented on #51944
Noted that you need to provide the model object as well in the tf-nightly version.
```converter = tf.lite.TFLiteConverter.from_concrete_functions([concrete_func], model)```

[2021-09-13 13:00] andrebeu commented on #26215
hi @mohantym NB this was two years ago, I think i was on the current version.

[2021-09-13 13:42] edwardyehuang commented on #51978
Same issue in https://github.com/tensorflow/tensorflow/issues/51466

[2021-09-13 13:50] sushreebarsa commented on #51950
@Petros626 Thanks for the update! Could you please provide the updated 2.x colab gist or notebook link to reproduce the issue reported here ?Thanks!

[2021-09-13 13:51] somelaoda opened #51979 "How can I use tf.config.experimental.VirtualDeviceConfiguration and keras.model.fit together"
I am trying to use tf.config.experimental.VirtualDeviceConfiguration to let my model run faster.
My original model was built like this method:
[code]

when I  set_log_device_placement,I saw model has been build in both 2 Vgpus,but only one gpu use for compute:

[code]

Can I have an example to see how can I use tf.config.experimental.VirtualDeviceConfiguration
in tf.keras like  model.compile && mo

[2021-09-13 14:04] #51948 closed

[2021-09-13 14:09] sushreebarsa commented on #19957
@Chasearmer Could you please refer to the[ link ](https://www.tensorflow.org/api_docs/python/tf/dynamic_partition),similar [ issue ](https://stackoverflow.com/questions/41408561/dynamic-partition-with-dynamic-num-partitions)& Please let us know if it helps? Thanks!

[2021-09-13 14:19] sushreebarsa commented on #20358
@bewantbe It looks like you are using an older Version of Tensorflow (1.x). Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Please refer to the [link](https://www.tensorflow.org/api_docs/python/tf/compat/v1/feature_column/input_layer) and let us know if it helps ? Thanks!

[2021-09-13 14:29] bersbersbers commented on #51978
@edwardyehuang correct. That bug has no repro steps, however, so my guess is that that issue should be merged into this issue.

[2021-09-13 14:33] sushreebarsa commented on #20915
@moboehle
It looks like you are using an older Version of Tensorflow (1.x) which is out of support window. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Please refer to the[ link1,](https://www.tensorflow.org/guide/data_performance) [link2](https://www.tensorflow.org/api_docs/python/tf/com

[2021-09-13 14:58] #51793 closed

[2021-09-13 14:59] sushreebarsa commented on #22530
@AlessioTonioni It looks like you are using an older Version of Tensorflow (1.x) which is out of support window. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Please refer to the [link](https://www.tensorflow.org/api_docs/python/tf/range) and let us know if it helps ?Thank you!

[2021-09-13 15:36] sushreebarsa commented on #22098
@btaba  It looks like you are using an older Version of Tensorflow (1.x) which is out of support window. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Thanks!

[2021-09-13 15:41] tilakrayal commented on #51921
@wu-yy ,
We see that you are using tf version 1.0, 1.x is not actively supported, please update to latest stable version v2.5 or v2.6 and let us know if you are using same issue.

[2021-09-13 15:43] tilakrayal commented on #51838
OOM-Please try limiting GPU memory growth using any of the methods listed in this guide and check if it helps.
https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth

[2021-09-13 15:47] tilakrayal commented on #51691
@ArunaKote ,
Please feel free to move this issue to closed status and please submit a new issue from this [link](https://github.com/tensorflow/models/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-09-13 15:49] tilakrayal commented on #51896
@klamann ,
Can you please share a colab gist with the issue reported, it helps to debug the issue from our side.Thanks

[2021-09-13 16:42] #29887 closed

[2021-09-13 16:42] #47217 closed

[2021-09-13 16:42] #40427 closed

[2021-09-13 16:45] mohantym commented on #51951
Hi @rllin , Could not replicate issue in [2.5](https://colab.research.google.com/gist/mohantym/adb7d99b2ccd373fb0d9d0b81bf1295e/htd_test.ipynb#scrollTo=oP2iH3qXYOCn) ,[2.6](https://colab.research.google.com/gist/mohantym/ac446bbb9d6ad57b933109b4e433fb4f/htd_test.ipynb#scrollTo=QlgVm-dvT0M0) or [2.7 ](https://colab.research.google.com/gist/mohantym/74f5e2d826986cd477319006fc73813a/htd_test.ipynb#sc

[2021-09-13 16:51] rllin commented on #51951
@mohantym did you link the right colab?  (looks like it is bc i see 2.7.0 dev as the tf version)

but i see still ~8s which comes in at `0.47 GB/s`

![image](https://user-images.githubusercontent.com/1923997/133124804-f6b182b1-be34-4690-9784-5677f6388fe4.png)

[2021-09-13 16:52] ymodak commented on #51897
Thanks for sharing your solution. I will close this thread now.

[2021-09-13 16:52] #51897 closed

[2021-09-13 16:54] ymodak commented on #51904
Yes that will work to reproduce the error on our end.

[2021-09-13 16:57] srjoglekar246 commented on #51804
For now, we have disabled accepting MaxPool operations if padding is SAME and filter size > 12 (which is where we see errors in our unit tests too). It is unfortunately not very likely that this will be fixed in the Hexagon SDK code very soon, but the TFLite delegate interface should work fine & run the rest of the graph correctly even if such ops are present.

[2021-09-13 17:02] mohantym commented on #51951
Yes ,The values match with my 2.7 colab gist , But I saw a difference in Torch timing in 2.7 (11.493 Torch 8.02  TF) unlike in TF 2.6 (3.13 Torch , 8.02 TF ).

[2021-09-13 17:02] sushreebarsa commented on #21875
@Bedrettin-Cetinkaya  It looks like you are using an older Version of Tensorflow which is out of support window. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Thanks!

[2021-09-13 17:04] sushreebarsa commented on #21337
@Windaway It looks like you are using an older Version of Tensorflow which is out of support window. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Thanks!

[2021-09-13 17:07] rbrtjwrk commented on #43721
@redrussianarmy was it possible for you to load the .h5 model with a custom layer (the way @jvishnuvardhan suggested) even if you didn't use get_config() method while saving it?

[2021-09-13 17:12] mohantym commented on #51978
ok @bersbersbers , Is the issue still replicating ? Feel to free to close this issue if it helped.

[2021-09-13 17:35] mohantym commented on #51934
Hi @bouyeshogh ,
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-09-13 17:36] edwardyehuang commented on #51978
Issue 51466 also did not have solution.

Since TensorFlow 2.5, when TF_DETERMINISTIC_OPS  = 1, calling any of non-deterministic ops (if there is no deterministic implementation ) will raise an "UnimplementedError", this is the root cause.

I think TensorFlow should allow user to use deterministic and non-deterministic togther, before all ops has a deterministic implementation.

[2021-09-13 17:42] #24910 closed

[2021-09-13 17:42] edwardyehuang commented on #51978
@pkanwar23 Will you please look into the issue?

[2021-09-13 18:01] mohantym commented on #36021
Hi @hartikainen ! I was able to resolve this issue in TF 2.6 . In the  above code , model_2 missed instantiation like model_1 , attaching [gist ](https://colab.research.google.com/gist/mohantym/1e577b3e7040530c7157588c4d3419ac/github_36021.ipynb ) for reference.

[2021-09-13 18:04] rllin commented on #51951
@mohantym ah i see, good to know.  any thoughts so far?  perhaps torch 11 saw a similar regression with how htd is done that exists in tf?  because the most salient issue at hand is that neither of these throughputs approach hardware limits

[2021-09-13 18:54] bensilver95 opened #51981 "OSError: SavedModel file does not exist but I never explicitly saved a model"
I am trying to load a model from a URL with hub.load, but TF is trying to find a saved version of the model on my computer, even though I never saved the model.

When I did this the very first time, it worked no problem and loaded the model from the URL. But I believe now it's not working because it's looking for some sort of cached model file that doesn't actually exist. Note that I'm running thi

[2021-09-13 19:30] bersbersbers commented on #51978
@mohantym

Yes it is. It was working in TF2.5 and fails in TF2.6.

[2021-09-13 19:51] vpirogov commented on #51970
@eli-osherovich, based on the messages it looks like your TF build has two OpenMP libraries linked, as the message indicates this may (and usually does) lead to nasty consequences. How do you build Tensorflow?

+@agramesh1

[2021-09-13 19:54] MeghnaNatraj commented on #51880
@karimkalimu is the issue resolved? Feel free to request a PR with these changes.

Follow up: The`TensorFlowLiteC_framework` build target includes the `tensorflow/lite/c/c_api_experimental.h/cc` files which define the `TfLiteInterpreterResetVariableTensors(..)` function. Why did you add it to the `tensorflow/lite/c/c_api.h/cc` files as well?

[2021-09-13 20:08] mrawding commented on #49306
@tilakrayal yes this is still an issue. All the includes and libraries are installed to the build directory, but you still need to search and copy them to another directory to package them. The initial ```cmake`` command does recognize the option for Eigen, but still no libraries are installed. Here are the steps I ran:

1. Clone tensorflow
2. ```mkdir build```
3. ```mkdir install_space```
4. ```c

[2021-09-13 20:12] rllin commented on #51951
thinking more about this @mohantym @sanatmpa1 , it doesn't matter really that torch is slower, and i should have put them in separate notebooks.  bc i would guess there's just contention with gpu memory when used in the same kernel as tensorflow.

the important comparison is tensorflow against the PCIEx16 bandwidth, and the torch replication is just a verification of that.

- tf (all versions) tak

[2021-09-13 20:18] rllin commented on #51951
compare [against](https://colab.research.google.com/drive/1M5yFqlAgSY9KYpwuZf5AHyq0IH5EkTq9?usp=sharing) **NOT** using `tf.data` and just moving `tf.tensor`s manually from CPU -> GPU

- create `100` random `tf.tensor`s of `[1024, 10000]` of `tf.float32`
- move each of these one by one from CPU to GPU

this is also moving `4.1GB` total but only takes `0.62s`

[2021-09-13 21:06] w3sip commented on #43473
Seeing the same problem with TFLite, and model where only some layers support CoreML delegate. What's interesting, the model works if used in 32-bit float mode; but exhibits the behavior above when quantized to 16-bit floats.

This is with TFLite 2.5.0 on iOS 14.8.

[2021-09-13 21:47] ppwwyyxx commented on #28446
Thanks! It seems it was fixed.

[2021-09-13 21:47] #28446 closed

[2021-09-13 22:04] glinscott commented on #51536
Something like this works in the meantime until it's officially added:
[code]
and then just:
[code]

[2021-09-13 22:08] #51934 closed

[2021-09-13 22:10] engineerrbae commented on #22926
@plopd Thanks. I really look forward to lots of learning. So how to get started?

[2021-09-13 22:27] impjdi commented on #51954
Given

[code]

I have the impression you are using a separate thread to asynchronously initialize and speed up things.  You cannot do that with OpenGL because GL context is bound to the thread.

[2021-09-13 23:05] andrey-klochkov-liftoff commented on #51583
@yongtang , it's hard for me to create a minimal reproducible artifact that'd demo the problem. Still, I think I see why it's happening. The `tensorflow_io_gcs_filesystem==0.20.0` wheel contains file `tensorflow_io/python/ops/__init__.py` that attempts to load library `libtensorflow_io.so` and fails to do so as this library is not included into this wheel package. It seems to me that the intention

[2021-09-14 00:14] mohantym commented on #51978
Ok! @bersbersbers , Could you see the comment at this [issue1](https://github.com/tensorflow/tensorflow/issues/39751)  ,[issue2](https://stackoverflow.com/questions/50744565/how-to-handle-non-determinism-when-training-on-a-gpu/50746919#50746919) and try again after editing the code like below.

[code]

[2021-09-14 00:18] yongtang commented on #51583
@andrey-klochkov-liftoff the `tensorflow_io_gcs_filesystem` will provide an alternative gcs support for tensorflow. However, if you are referring to s3 support then the invocation happens:
https://github.com/tensorflow/io/blob/master/tensorflow_io/python/ops/__init__.py#L96

[2021-09-14 00:20] mohantym commented on #7116
Hi @jiazhentim ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-14 00:24] mohantym commented on #7808
Hi @girving , Could you please try 2.x Versions, A  lot of features has been added in latest versions .
It seems that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Th

[2021-09-14 00:26] mohantym commented on #21315
Hi @amirhessam ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-14 00:31] mohantym commented on #22694
Hi @theedge456 !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-14 00:35] mohantym commented on #23082
Hi @saurabh-kachhia ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-14 00:41] mohantym commented on #23660
Hi @dah512 ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.5 version and MacOs 10.12.6(Sierra) .  let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-14 00:43] andrey-klochkov-liftoff commented on #51583
@yongtang , if you download the `tensorflow_io_gcs_filesystem` wheel and unpack it, and grep for `libtensorflow_io.so`, you'll see that it contains a copy of the source file you're referring to:

[code]

[2021-09-14 02:05] mohantym commented on #21185
Hi @tazr ,
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-09-14 02:23] yarri-oss commented on #51393
Hi - I am seeing improvements in TF 2.6 per this [gist](https://gist.github.com/yarri-oss/c3cd93f3c45606654bfa60241fd8e514), I agree it would be nice to add a `tf.scan` performance test to monitor any future regressions.

[2021-09-14 02:49] AsherXian903 opened #51983 "How to reduce time of Host-side TensorFlow operations(_Send, _HostSend) in GPU reference"
Dear all,
       When I do a simple model refence on GPU, it seems that the kernel launch time is much more significant than compute time(kernel launch nearly 90% to overall). Accoring to the profiler result, the Host-side TensorFlow operations such as _Send and _HostSend type  seems to be the problem. Is there any solution to this problem?

Env: tensorflow2.2.0 + cuda10.1

Thanks,
Asher

PS:
over

[2021-09-14 03:42] #51618 closed

[2021-09-14 03:42] #51594 closed

[2021-09-14 03:42] yyoon commented on #34183
I believe this could be done by using the experimental C API, both in Swift and ObjC.
Please refer to the header documentation here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/c/c_api_experimental.h#L68

[2021-09-14 03:48] starboyvarun commented on #51879
@mohantym I have already mentioned it, please fix this ASAP.
Sure I will close the issue now. But do let me know in the comments when it gets fixed.
Thank you.

[2021-09-14 04:02] mohantym commented on #51983
Hi @AsherXian903 ,Could you please share a stand alone code to reproduce this issue as it will help expedite the issue!

[2021-09-14 04:04] mohantym commented on #51879
Ok @starboyvarun ,but Can you please mention this issue in the respective issue in Keras repository so we can track and update you in time.

[2021-09-14 04:08] starboyvarun commented on #51879
@mohantym  I have already mentioned it in Keras repository already.

[2021-09-14 04:12] #51691 closed

[2021-09-14 04:38] ymodak commented on #50510
@RATATATO  Perhaps you can raise PR to fix this issue
The docs are generated from https://github.com/tensorflow/addons/blob/master/tensorflow_addons/activations/gelu.py

[2021-09-14 05:12] bersbersbers commented on #51978
@mohantym as you can easily test yourself on Colab, this code raises the same issue (after correcting `seed==1441` to `seed=1441`).

[2021-09-14 05:15] edwardyehuang commented on #51466
TF_DISABLE_SEGMENT_REDUCTION_OP_DETERMINISM_EXCEPTIONS

[2021-09-14 05:15] edwardyehuang commented on #51978
My issue is solved with TF_DISABLE_SEGMENT_REDUCTION_OP_DETERMINISM_EXCEPTIONS = 1

[2021-09-14 05:47] mohantym commented on #51978
Yes ! @bersbersbers ,Its seed=1441, updated  the above code. Can you try again?

[2021-09-14 06:00] eli-osherovich commented on #51970
Thanks @vpirogov, @agramesh1

I use the standard building procedure:
[code]
Is it really two omp libraries? Since preloading Intel's `libiomp.so` does not solve the problem. I also tried to set KMP_DUPLICATE_LIB_OK, but it does not help. Namely, the command below still produces very poor convergence.

[code]

[2021-09-14 06:40] tetuomi opened #51986 "Cannot install tensorflow-macos"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac mini(M1) ver.12.0(Monterey

[2021-09-14 06:50] gf-sdu commented on #29719
finaly,how do you solve this problem?

[2021-09-14 07:10] kumariko commented on #42649
@koodzi It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Could you please execute your code using Latest Version of TF 2.6 and let us know if the issue still persists? Thanks!

[2021-09-14 07:15] kumariko commented on #42756
@Pradeepiit Could you please let us know if this issue resolved or not? please check https://github.com/tensorflow/tensorflow/issues/42756#issuecomment-770443361

[2021-09-14 07:43] kumariko commented on #44290
@CppProgrammer23 Could you please refer to [**`link1`**](https://github.com/tensorflow/tensorflow/issues/22240) , [**`link2`**](https://github.com/lysukhin/tensorflow-object-detection-cpp/issues/5) and [**`comment`**](https://github.com/tensorflow/tensorflow/issues/22007#issuecomment-424553600) and let us know if it helps. Thanks!

[2021-09-14 08:01] tilakrayal commented on #51979
@somelaoda ,
Can you please  limit your [gpu](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and try, also try on upgraded tf as in 2.6 the stable version and see if it helps.Thanks!

[2021-09-14 08:01] bersbersbers commented on #51978
@mohantym I already said in https://github.com/tensorflow/tensorflow/issues/51978#issuecomment-918809168 that your corrected code reproduces the issue. There is no point in me trying again.

As also said before, it repros on Colab which *is* using Python 3.7 already. So there is point in trying again with Python 3.8/3.7, either.

[2021-09-14 08:05] kumariko commented on #26165
@Zhengtq We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-14 08:10] bersbersbers commented on #51978
This works for me, too:

[code]

However, I wonder: setting `TF_DISABLE_SEGMENT_REDUCTION_OP_DETERMINISM_EXCEPTIONS` was not necessary in `tensorflow==2.5.1`. So what has changed?
- Was the AUC metric non-deterministic in `tensorflow==2.5.1`, and a missing exception was added in `tensorflow==2.6.0` to make users aware of that fact?
- Was the AUC metric deterministic in `tensorflow==2.5.1`, and thi

[2021-09-14 08:10] mihaimaruseac commented on #40302
This should be the solution here. For cloud filesystems you have to also install the SIG IO wheel.

[2021-09-14 08:36] koernerfelicia commented on #51393
Hi @yarri-oss, I don't see this improvement, when I run all three versions 2.5 and 2.6 are slower than 2.3, see this [gist](https://gist.github.com/koernerfelicia/3c9a3b3ba6f23914afe9cec309a6d41b#file-notebook-ipynb)

[2021-09-14 08:42] #26776 closed

[2021-09-14 08:42] #34114 closed

[2021-09-14 08:42] #36495 closed

[2021-09-14 09:22] Flamefire opened #51987 "Wrong wording of missing CPU instructions"
Have a look at the code at https://github.com/tensorflow/tensorflow/blob/3d3c6db1ca2d50f6f07722cd800144f8f736167c/tensorflow/core/platform/cpu_feature_guard.cc#L150-L157

This outputs e.g.

To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Judging from the naming `missing_instructions` I suppose there is a "not" missing in that warning.

[2021-09-14 09:23] karimkalimu commented on #51880
yes the issue resolved, using the way I mentioned

I tried to include c_api_experimental.h inside this  file "tensorflow_src/tensorflow/lite/ios/BUILD", but it didn't work, and I didn't know where to put c_api_experimental.cc file to be included, I thought it will be compiled if .h file included.

I am not familiar with bazel process, and which file to edit to make the change I want

FROM :
`# baz

[2021-09-14 09:23] #51880 closed

[2021-09-14 09:24] donglinz opened #51988 "XLA HLO profiling not supported on GPU"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Are you willing to con

[2021-09-14 09:40] hartikainen commented on #36021
Hey @mohantym. Thanks for taking a look at this. I don't think the suggested solution in the notebook is quite what we want. It doesn't seem to be loading the model, but rather just instantiating two models with the same value.

[2021-09-14 10:16] sushreebarsa commented on #51981
@bensilver95
Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-14 10:23] hx1997 commented on #51809
Hi,

I found out the cause of my problem. It was because I didn't enable dropout in the model used in this code, whereas in direct training, I enabled it. Setting `dropout` when creating LSTM layer AND specifying `training=True` when doing forward pass raised the accuracy to ~88%, solving the problem.

Thank you for your time and attention, Sanat!

[2021-09-14 10:23] #51809 closed

[2021-09-14 10:42] #32323 closed

[2021-09-14 10:52] franckma31 opened #51989 "progress bar display error when calling model.evaluate method after a load_model or clone_model"
progress bar display error when calling model.evaluate method after a load_model or clone_model

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-80-generic x86_64)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the

[2021-09-14 11:10] reuvenperetz commented on #50992
Hi,
Thanks for the answer!
But I'm not sure I fully got it... Could you please refer me to where this casting/assumption on correct min/max ranges is in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/reduce.cc?

Thanks again :)

[2021-09-14 11:42] #30956 closed

[2021-09-14 11:42] #30839 closed

[2021-09-14 11:42] #51755 closed

[2021-09-14 11:42] #51736 closed

[2021-09-14 12:06] seragENTp commented on #51954
@impjdi The only option i have now is to run the model inference part in background android service . Do you have any suggestions for workarounds  in order to make the GPU delegate run in background service  ?

[2021-09-14 12:09] klamann commented on #51896
Hi @tilakrayal, I don't want to register a google account and I'm not sure that you can change the launch parameters in a google colab document anyways. The steps to reproduce are really easy:

1. open a terminal
2. run `python -OO -m tensorflow.python.ops.array_ops`
3. compare the output with `python -O -m tensorflow.python.ops.array_ops`

Step 2 will rause an exception, step 3 will not.
I'm not

[2021-09-14 12:19] mjsML commented on #51935
@tilakrayal when I run this
[code]
on my TPU-VM I get
[code]

on Colab I get
[code]

both `unknown` and `v2.6.0-0-g919f693420e` don't match the [release](https://github.com/tensorflow/tensorflow/releases/tag/v2.6.0)'s [tag](https://github.com/tensorflow/tensorflow/commit/919f693420e35d00c8d0a42100837ae3718f7927).

Regardless of the `tf.version.GIT_VERSION` I assume that the version number (being .

[2021-09-14 12:19] JanderHungrige commented on #50226
Hi, I tried the stabel tf 2.6.0 version which was released on 11 August on pypi (installed 14.Sept). And the error is still there. Is _cd5a9ad_ added to this 2.6.0 version or the nightly build?
Thanks

[2021-09-14 12:21] sbushmanov commented on #50943
@sanjoy

There are many ways to circumvent this problem including pip or conda install tensorflow-gpu.
Any thoughts how to resolve the error while building from source?

[2021-09-14 12:23] tilakrayal commented on #51877
@puneeshkhanna ,
I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/5688c716f71604e9b9815c0028ff46fe/untitled74.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-09-14 12:36] abattery commented on #50226
Please try out the tf-nightly version instead.

[2021-09-14 12:42] JanderHungrige commented on #50226
Thanks for your quick answer. The nightly gives some other errors which I hoped to circumvent with the stable one. Anyways, onwards to new debugging adventures :-D

[2021-09-14 12:58] mohantym commented on #51988
Hi @jvishnuvardhan ,Could you please look at this issue .

[2021-09-14 13:16] starboyvarun opened #51990 "IndexError: tuple index out of range"
![9](https://user-images.githubusercontent.com/26819449/133263607-e9733e7c-b6d5-4d11-87e2-8dbc740009c6.JPG)

![9 1](https://user-images.githubusercontent.com/26819449/133263637-5905c37b-0c77-4ff9-a983-426e3aea5f9d.JPG)

 tensor flow = 2.2
 keras = 2.4.3

I am not able to solve this error.
Can you please tell me where should I refer?
Thanks!

[2021-09-14 13:18] retonym opened #51991 "Add memory optimization flag in tf.config.optimizer.set_experimental_options"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.6 (latest)
- Are you willing to contribute it (Yes/No):

[2021-09-14 14:42] #43604 closed

[2021-09-14 14:49] somelaoda commented on #51979
I've set it up tf.config.set_soft_device_placement(True)
and VirtualDeviceConfiguration(memory_limit=4096)

For now, tf 2.6 remains the same question=。=

[2021-09-14 15:28] JanderHungrige opened #51992 "AttributeError: module 'tensorflow.compat.v2.__internal__.tracking' has no attribute 'DelegatingTrackableMixin'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2021-09-14 15:39] arm-ssingh opened #51993 "Is it possible to have quantised fused_tanh (with add op ) via TFlite converter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
Source
- TensorFlow version (or github SHA if from source):
2.6.0

**Provide the text output from tflite_convert**

[code]
When comparing against the quantized Keras output. The TfLite output does not match the Keras output.

**Standalone code to repr

[2021-09-14 15:42] #34608 closed

[2021-09-14 15:51] MeghnaNatraj commented on #51880
@karimkalimu Thank you for the information! Glad the issue is fixed on your end.

[2021-09-14 15:55] mohantym commented on #51991
Hi @Saduf2019 ,Could you please look at this feature request?

[2021-09-14 16:07] Srishti5ingh commented on #13463
where to add this code?
before training?
I am really new to this, so i apologize if its too basic.

[2021-09-14 16:23] impjdi commented on #51954
Hm, I'm not familiar with background services in Android, but as long as you use the *same thread*, it should be okay.  I'm not up to date with asynchronous programming in Java, but if you don't rely on fancy language structures that take care of the async execution behind your back (and thus has a chance to run your stuff in a different thread), you should be fine.  In other words, have a dedicat

[2021-09-14 16:25] svobora commented on #51987
This is correct wording. E.g. if CPU supports AVX2 but tensorflow is built without AVX2 support, AVX2 is in missing_instructions. Close this.

[2021-09-14 16:31] puneeshkhanna commented on #51877
[code]

[2021-09-14 16:33] puneeshkhanna commented on #51877
Please try above in Colab. I ran it at my end. Sorry there was a typo in my earlier code.

[2021-09-14 17:15] tilakrayal commented on #51986
@tetuomi ,
Please refer to similar issues #44751,#47782 and for installation please take a look at this [link](https://github.com/apple/tensorflow_macos). It helps.

[2021-09-14 17:27] hamounTUK commented on #51737
Finally, I was able to solve the problem. It wasn't the Cmake problem. The problem was coming from setting the default parallelization values. Before that, I used: `cmake --build . -j` in order to build the TFLite. I changed it to `cmake --build . -j4` and it worked successfully.
But I still don't know how and why it solved the problem?

[2021-09-14 17:49] karimnosseir commented on #51756
If i am not mistaken, when you specify a shape with 0 batch, the converter just optimizes your model away.
It is not invalid, but may be useless.

[2021-09-14 17:56] AdeshChoudhar commented on #49225
I hope we can close this issue.

[2021-09-14 18:09] karimnosseir commented on #51692
Conv1D is implemented using conv2d as mentioned already.

Thanks

[2021-09-14 18:09] #51692 closed

[2021-09-14 18:13] karimnosseir commented on #51797
If i am not mistaken, shape_signature [-1, 1]  means first dimension can be resized but not the second dimension. you are trying to resize second dimension which is invalid.
If you passed parameter strict=True to resize_tensor_input you should get invalid resize warning

[code]

[2021-09-14 18:27] Flamefire commented on #51987
So a TensorFlow build without avx2 enabled which builds oneDNN alongside its build doesn't use avx2, but the oneDNN part does use it?
Intresting...
Then maybe the wording can be improved?

[2021-09-14 19:05] harshitadd commented on #51797
Thanks for clarifying that. The documentation indicates the same - which is why I was asked if this was expected behavior - since I didn't get an error in the first place  ( when the tensors are resized, they appear to be converted to the altered tensor successfully );

[Side Note: This probably goes as a separate issue ] Additionally, in the issue description I have mentioned that the frozen grap

[2021-09-14 19:07] dyna22 opened #51994 "when convert keras model to tflite .. gives me this !!"
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with

[2021-09-14 19:09] karimnosseir commented on #51797
You will need to set strict=True to get the error.

Can you share the saved model, and how you're converting it. Conversion shouldn't alter the model input. In the sample you shared above it looks like your model has [-1, 1] shape.

[2021-09-14 19:19] shelkesagar29 opened #51995 "Profile TensorFlow Performance: Multiple occurences of single Conv2D op"
------------------------

### System information

-   **Custom Code**
-   **Linux Ubuntu 20.04**
-   **TensorFlow installed from (source or binary)**: Binary
-   **TensorFlow version (use command below)**: 2.6
-   **Python version**: 3.8
-   **Bazel version (if compiling from source)**: None
-   **GCC/Compiler version (if compiling from source)**: None
-   **CUDA/cuDNN version**: 11.4/8.2
-   **GP

[2021-09-14 19:27] jiangyangzhou commented on #36465
This problem is radicurous, I saw this problem in TF1.x era (2016), and when it comes TF2 in 2021, this problem still makes no progress. People struggle to solve this problem, but all the solutions look ugly.  I am sure I would still be a Pytorcher, and I would never use Tensorflow. (Meet trouble just for copying a single model...)

[2021-09-14 19:47] rllin commented on #51951
if I replace the `tf.random.uniform` call with something faster:

[code]

i get more reasonable speeds, `~1 s, 4 GB/s`

this is still quite below the `16 GB/s` the hardware permits however

[2021-09-14 20:01] bhack commented on #49225
@mdanatg Can you close this?

[2021-09-14 20:06] mdanatg commented on #49225
Sure. BTW, if you add "Fixed <issue number>" to your PR then it gets closed automatically.

[2021-09-14 20:06] #49225 closed

[2021-09-14 20:13] bhack commented on #49225
Thanks, It is what I suggest also to the triage and review teams.  To check if the submitted PR is linked or not the issue as they have the permission to link it. Sometimes contributors don't put the auto-connection string in the PR description.

[2021-09-14 20:29] nouiz commented on #36465
The current proposed solution will hopefully before the default in the future. It is a new memory allocator.
What do you find ugly with that solution? I'm very interested to know why you find it ugly as I do not see it like this.

The environment variable is something temporary to help us test the new memory allocator before doing changing the default. Changing a memory allocator must be done with

[2021-09-14 20:37] abattery commented on #51994
https://www.tensorflow.org/lite/guide/ops_select

Please convert with the Select TF option as suggested.

[2021-09-14 20:37] #51994 closed

[2021-09-14 20:53] EricTheRed20 opened #51996 "A few documentation errors and omissions for "Install TensorFlow for C""
The page **https://www.tensorflow.org/install/lang_c** "Install TensorFlow for C" has several errors and omissions:-
1. The first link "bindings for other languages" is a dead link (error 404)
2. It says that it is built nightly, but the second link "libtensorflow-nightly GCS bucket" says that it was last built about a year ago
3. It looks as though it was last built about a month ago.  It would b

[2021-09-14 21:09] JJKK1313 commented on #17984
still not working though.
cannt work on siamese network with tflite

[2021-09-14 21:14] ageron commented on #30768
@mohantym , yes of course, that's why I wrote this: "_This issue is about the error message, not the error itself (I should have called the variable's assign() method)._". The error message is just as cryptic today with TF 2.6 as it was with TF 2.0.

[2021-09-14 21:25] mdanatg commented on #30768
Quick note that we're still tracking this issue and intend to fix it, so it should stay open.

It might ultimately be easier do what'd be normally expected and use assign instead of raising an error.

[2021-09-14 21:29] ageron commented on #34697
@Edwin-Koh1 , indeed, the problem seems fixed in TF 2.6.0! 👍

This now works (while it failed in TF 2.5.1):

[code]

[2021-09-14 21:30] Vadim-Maklakov opened #51997 "Wrong output result to the IDE consoles from Tensor Stream 2.3.4 and 2.6.0. and wrong result in IDEs"
Hi all!
**System configuration**
OS Platform and Distribution : Linux Debian 10 4.19.0-17-amd64
TensorFlow installed: binary from pypi.org
TensorFlow version: 2.3.4 and 2.6.0
Python version:3.7.12
Installed from: compile from source
Bazel version – not using
GCC/Compiler version – not using
CUDA/cuDNN version – not using
GPU model and memory: AMD FX-8350,  16GB RAM

**Bug describing**
I recently e

[2021-09-14 21:33] adriangb commented on #34697
Glad we could fix it for you @ageron! It should also work with Functional models by the way.

@Edwin-Koh1 should we close the issue?

[2021-09-14 21:33] ageron commented on #34697
It works with joblib, but not with pickle, however:

[code]

Raises:

[code]

[2021-09-14 21:42] adriangb commented on #34697
Can you try with `tf-nightly`? I'm wondering if the fix was actually _not_ in 2.6.0 and your example just happens to be broken in `2.5.1`. In [this colab notebook](https://colab.research.google.com/drive/1IEz5nNQo32qaS0Wi9lfyOqviOknrXKe-?usp=sharing), on `tf-nightly`, your example runs fine.

[2021-09-14 21:51] AdeshChoudhar commented on #49225
@bhack What is an auto-connection string?

[2021-09-14 21:53] bhack commented on #49225
You need to use [one of these keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword)

[2021-09-14 21:56] AdeshChoudhar commented on #49225
Oh great, I didn't know about that! Thank you for sharing!

[2021-09-14 22:00] bhack commented on #51393
I've tested this on my local system with  TF-nighlty TF 2.6.0 TF 2.5.0:

[code]
You can see here some of the core operations:

![immagine](https://user-images.githubusercontent.com/1710528/133339191-c35d5910-6f18-4ec4-a3fe-c0c42d00a739.png)

I don't see too much difference between 2.5 and 2.6. I see a slower `add_v2`  in  `nightly` and probably a little bit of overhead with the new `error_handler`

[2021-09-14 22:34] mathshangw commented on #47222
sorry for my late reply . yes, this is my problem too .. can i use reshape ?

[2021-09-14 22:48] seanshpark commented on #51756
Thanks for the vertification :) I'll think this as optimization result.

[2021-09-14 22:48] #51756 closed

[2021-09-14 22:55] #51625 closed

[2021-09-14 23:31] #51437 closed

[2021-09-14 23:34] #18323 closed

[2021-09-15 00:10] andrey-klochkov-liftoff commented on #51583
@yongtang , the root cause is the way the packages are built. Here are the steps demoing the problem:

1. Build `tensorflow-io` wheel with

    python setup.py bdist_wheel

2. Build `tensorflow-io-gcs-filesystem`:

    python setup.py bdist_wheel --project tensorflow-io-gcs-filesystem

3. Check if `tensorflow_io` sources are included in the package (they shouldn't but they are):

    unzip -l dist

[2021-09-15 00:52] yongtang commented on #51583
@andrey-klochkov-liftoff yes the issue was fixed and applied in 0.21.0. For 0.20.0 as pip did not allow updating already published packages so we have to leave as is.

[2021-09-15 00:56] w4-hyunseok commented on #51583
@yongtang

Are there any guide to resolve tf.io.gfile.rename issue? https://github.com/tensorflow/tensorflow/issues/51583#issuecomment-914930409

I tested it both Mac and Linux env with tensorflow-io==0.21.0 by using python3.7 new venv.

**Linux**
[code]

**Mac**
[code]

[2021-09-15 00:57] kode54 opened #51999 "tensorflow-macos fails to install due to wheel build failure"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Monterey beta 6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip
- TensorFlow version: tensorflow-macos 2.5.0
- Python version: 3.8.10, 3.9.7
- Installed using virtualenv? pip? conda?: Mambaforge 4.10.3-5, con

[2021-09-15 01:46] kode54 commented on #51999
Oops, I just realized this is probably best covered by Apple's Tensorflow repository issue tracker. I can leave this here if it's useful to anyone, though.

[2021-09-15 02:12] christiaanjs opened #52000 "Handle `attrs` objects in `tensorflow.python.util.nest.assert_shallow_structure`"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): *Yes*
- OS Pla

[2021-09-15 02:26] lugalUrim commented on #51936
Thanks for the information @sushreebarsa, I will post new issues in the keras repo, but I guess we can keep this issue in tensorflow, as mentioned by @yongtang there are related bugs in the tensorflow operator implementations as well.

[2021-09-15 02:36] lugalUrim commented on #51936
Thank you @WingsBrokenAngel and @yongtang for your PRs! Actually here are more crash bugs I find when `pool_size`/`k_size` <= 0, so we may want to fix all of these in the codebase and also cover them in the unit tests.
- `tf.keras.layers.AveragePooling1D`, `tf.keras.layers.AveragePooling2D`, `tf.keras.layers.AveragePooling3D`
- `tf.keras.layers.MaxPooling1D`, `tf.keras.layers.MaxPooling2D`, `tf.ke

[2021-09-15 02:37] Lim-Sung-Jun commented on #23698
could you explain the reason that you add one to embedding size?

[2021-09-15 03:46] AsherXian903 commented on #51983
Here is the model:
[saved_model.tar.gz](https://github.com/tensorflow/tensorflow/files/7166175/saved_model.tar.gz)

Here is the code:
BATCH_SIZE = 10
LOOP_CNT = 10
def predict():
    print("predict")
    with tf.compat.v1.Session(config=tf.compat.v1.ConfigProto(gpu_options = tf.compat.v1.GPUOptions(per_process_gpu_memory_fraction=0.4))) as sess:
      # First load the SavedModel into the session

[2021-09-15 03:55] #51774 closed

[2021-09-15 04:04] starboyvarun commented on #51744
@sanatmpa1  I have solved this particular error. Thank you for your blog and thread link really appreciate it.

Thanks!

[2021-09-15 04:04] #51744 closed

[2021-09-15 04:08] starboyvarun commented on #51783
@mohantym Thank you so much. Can you please change type: support to type: Bug.
Thanks!

[2021-09-15 04:40] starboyvarun commented on #51879
ok, thank you. I am closing this issue now.
Hope it gets fixed soon.
Thanks!.

[2021-09-15 04:40] #51879 closed

[2021-09-15 04:56] tilakrayal commented on #51989
@franckma31 ,
I was able to run the mentioned code and get the same result in tf v2.6. Could you please create a virtual environment and test your code again. It helps. Thanks!

[2021-09-15 05:09] starboyvarun commented on #51783
[code]

@mohantym actually I am trying to run this from the Janggu documentation, but it gives several errors related to tensor flow and some other errors too
.Can you try running in the gist and let me know if this runs.

![9](https://user-images.githubusercontent.com/26819449/133374059-3f9a49fb-62f1-40ab-a321-5e3f60dc6d2e.JPG)
![9 1](https://user-images.githubusercontent.com/26819449/133374075-6

[2021-09-15 05:27] harshitadd commented on #51797
1. Noted.
2. The sample specified above does mirror the exact conversion process I follow ( and how I generate the Saved Model). I edited the code so that it now specifies the explicit assignment of inputs to the model ( before saving, and that shape is not [1,1] ) as well.

I was able to trace the inconsistent behavior ( of model.save() altering the outputs ) to a embedding resizing that I perfor

[2021-09-15 05:48] melioristic opened #52001 "Computing Jacobian and Gradient with GradientTape is extremely slow"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-09-15 05:53] sanatmpa1 commented on #24960
@mathlf2015,

Can you try updating Tensorflow to latest stable version i.e `2.6.0` and let us know if the issue persists? Thanks!

[2021-09-15 06:00] tilakrayal commented on #51992
@JanderHungrige ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/51850#issuecomment-913445468) from the issue with similar error and let us know if you are facing same issue.Thanks

[2021-09-15 06:02] sebgra commented on #47222
Only zero padding help me to make it works but not as efficient as it could. I'm still searching for a slolution

[2021-09-15 06:51] #26165 closed

[2021-09-15 06:55] #51716 closed

[2021-09-15 06:55] #51773 closed

[2021-09-15 06:56] sanatmpa1 commented on #26321
Issue still persists in 2.6.0 and nightly. Here's the [gist](https://colab.research.google.com/gist/sanatmpa1/74dd60a85de8e6ecdc823e6bb99d4b9a/26321.ipynb)

[2021-09-15 07:11] shemliang opened #52003 "shared_embedding_columns"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-15 07:13] #52003 closed

[2021-09-15 07:28] donglinz commented on #33238
@ckluk @rmothukuru @jvishnuvardhan
Hey guys, do we have any update on this? My profiling shows similar result that redzone_checker kernel takes a noticeable portion of E2E inference time. What's the purpose of this kernel? I believe this issue consistently persist no matter what profiler does one uses (e.g., Tensorboard, nvprof, nsight), tooling does not matter here, result is all the same.

[2021-09-15 07:29] donglinz commented on #33238
@tensorflowbutler

[2021-09-15 07:58] Saduf2019 commented on #51900
@qq747688898
Can you please refer to [this issue](https://stackoverflow.com/questions/56062017/hot-to-fix-tensorflow-model-not-running-in-eager-mode-with-fit) and let us know if it helps.

[2021-09-15 08:24] ogrisel commented on #47340
I can reproduce on TF 2.6.0 on colab:

https://colab.research.google.com/drive/1NgS57SegqurxwgAu0t3R9N3TPudWJpo9?usp=sharing

[2021-09-15 08:33] Saduf2019 commented on #51881
@doubibobo
Can you try running a bazel clean --expunge before building again, try changed to gcc7.5.0 and let us know.

[2021-09-15 08:36] mohantym commented on #52001
Hi @melioristic ,Could you please providing a link  the training_dataset and update the full error stack trace in above template too? It helps expedite the issue.

[2021-09-15 08:49] #51904 closed

[2021-09-15 08:55] #45405 closed

[2021-09-15 08:55] #45290 closed

[2021-09-15 08:57] CodeMonkey3435 opened #52005 "Instance Segmentation for TFLite"
Hello there,
this is not so much of an urgent matter. Nevertheless I wanted to ask, are there any good and maintained open source Instance Segmentation networks that will convert easily to TFLite? I started of with Mask R-CNN but soon realised that the SELECT_OPS flag would slow down the inference time significantly, also because gpu and npu are not available then. I need some model that is native

[2021-09-15 09:09] qq747688898 commented on #51900
@Saduf2019
Hello, thanks for your reply.
I try to run my model with this issue's way as:
`model.compile()`
`model.run_eagerly = True`
But the gpus still doesn't run parallel.

[2021-09-15 09:13] tilakrayal commented on #51995
@shelkesagar29 ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Also tensorflow is compatible with specific cuda and cudnn version.Please refer the [link](https://www.tensorflow.org/install/source#gpu) for the same and try to install as mentioned.Thanks

[2021-09-15 09:13] franckma31 commented on #51989
Hi Tilakrayal,
Thanks for your answer.
Here is a colab notebook that should reproduce the bug with tf==2.4

[https://colab.research.google.com/drive/19_vQm5LeR82PiT7uZd20WyEtKo652D3p?usp=sharing](url)

[2021-09-15 09:40] sanatmpa1 commented on #26842
Issue still persists in `2.6.0` and `nightly`. Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/e26298a50f49bc631d0af7f91e339ab4/-26842.ipynb)

[2021-09-15 09:55] #51780 closed

[2021-09-15 09:57] arm-ssingh opened #52006 "Is it possible to have quantised fused_tanh (with add op ) via TFlite converters"
Is it possible to have an ADD operator with a fused TANH activation in TFL ? Such quantized int16 model is producing wrong results compare to Keras output ?
Model:

=====
input = tf.keras.layers.Input(shape=  (1, 128, 3), batch_size=1)
add = tf.keras.layers.Add()([input, input])
act = tf.keras.layers.Activation(tf.keras.activations.tanh)(add)
model = tf.keras.Model(inputs=input, outputs= act)
====

[2021-09-15 10:02] sushreebarsa commented on #51990
@starboyvarun
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-15 10:08] eirikaso commented on #29733
@Weishuo93
Hi. Did you find the solution? Having same issues here

[2021-09-15 10:12] tilakrayal commented on #51989
@franckma31 ,
Please upgrade to latest stable tensorflow v2.6 which resolves the issue.Thanks!

[2021-09-15 10:16] no-define commented on #23809
if your .pb model came from `tf.export_graph` (which may be convert by onnx), try the way below:
[code]

[2021-09-15 10:24] tilakrayal commented on #51999
@kode54 ,
Every TensorFlow release is compatible with a certain version, for more information please take a look at the tested build [configurations](https://www.tensorflow.org/install/source#cpu_2).In this case, can you please try installing TensorFlow v2.5 with compatible compiler and bazel version and check if you are facing the same error. Thanks!

[2021-09-15 10:32] mohantym commented on #19241
Hi @titu1994!
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-15 10:33] Saduf2019 commented on #51726
@NEGU93
Please move this to closed status as the issue has been resolved,and feel free to share any further issues [broken links]

[2021-09-15 10:51] JanderHungrige commented on #51992
Yes it is indeed. Thank you for your quick help.

[2021-09-15 10:52] sushreebarsa commented on #52000
@christiaanjs I tried to run the code on Colab using `TF v2.6` and `tf-nightly` ,and faced type error ,please find the gist[ here ](https://colab.research.google.com/gist/sushreebarsa/bc5dcd38caed585940d3b88b887671f8/untitled199.ipynb)for reference. Could you please confirm the same ? Thanks!

[2021-09-15 10:55] #45248 closed

[2021-09-15 10:56] tilakrayal commented on #51992
@JanderHungrige ,
 Glad the issue is resolved for you, please feel free to move this to closed status.Thanks!

[2021-09-15 11:05] #51726 closed

[2021-09-15 11:55] #45205 closed

[2021-09-15 11:55] #35180 closed

[2021-09-15 11:55] #33316 closed

[2021-09-15 12:27] Nima-pw commented on #51860
Not solved yet!

[2021-09-15 12:35] franckma31 commented on #51989
Yes I know that this issue is resolved in 2.5 and 2.6, but I do think that I'm not the only tensorflow user that, due to other lib dependencies, cannot upgrade to 2.5.
And that means that tf users will report false accuracy just because they rely on the progbar information. TF 2.4 is only 9 months old, I thought that it was still maintained, and that this issue could help. Quite a bit disapointed.

[2021-09-15 12:38] NEGU93 commented on #40030
Well, this still looks like an issue to me, I would like to get the metrics without the need to train the model.

[2021-09-15 12:50] sushreebarsa commented on #51963
@jiayugedede Could you please refer to the[ link](https://www.tensorflow.org/api_docs/python/tf/experimental/numpy) and let us know if it helps? Thanks!

[2021-09-15 12:59] bhack commented on #47340
@ogrisel Ok I can reproduce now on master at https://github.com/keras-team/keras/pull/15342

[2021-09-15 13:32] Winndy opened #52010 "tf.keras TypeError: unsupported operand type(s) for +: 'NoneType' and 'float"
<em>Please make sure that this is an issue related to keras.
tag:keras_template</em>

**Important Notice**

Please note that `tf.keras` code was moved entirely to
[keras-team/keras](https://github.com/keras-team/keras) repository

You can open any code/doc bugs, performance issues, and feature requests
 in [keras-team/keras](https://github.com/keras-team/keras/issues) repository

`tf.keras` relate

[2021-09-15 13:39] Winndy commented on #27880
when i use tf.keras quantized,TypeError: unsupported operand type(s) for +: 'NoneType' and 'float

[2021-09-15 13:43] bersbersbers commented on #51743
This issue makes `pip` unable to install `tensorflow==2.6.0` alongside `astroid==2.8.0`, compare
https://github.com/PyCQA/astroid/commit/40ea1a3b8e52bbfed43deb1725cde461f4bd8a96#diff-fa602a8a75dc9dcc92261bac5f533c2a85e34fcceaff63b3a3a81d9acde2fc52

[2021-09-15 13:47] Harrelix opened #52011 "C++ compilation of rule '//tensorflow/core:framework_internal_impl' failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6
- Python version: 3.8
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: none
- GPU model and memory: none

**Describe the problem**
I followed instructions

[2021-09-15 13:53] sana-ccrc commented on #37339
I have the same bug in tensorflow 2.1.0 - GPU

[2021-09-15 14:36] PCdurham commented on #45568
I have the same issue:
TF 2.5
RTX A5000 GPU
Ubuntu 20.04

I'm training a Keras implementation of Tiramisu, when using a Dice loss, I have to use float 32 in all inputs and outputs and I cannot use float16 mixed precision training. I tried things like lower lr and gradient normalisation.  Also tried the solution above of casting my softmax to float32.  But as soon as I go to float16 for the inputs

[2021-09-15 15:04] pacospace opened #52013 "Cannot load save tf model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 33
- TensorFlow installed from (source or bina

[2021-09-15 15:14] mohantym commented on #51860
Hi @Nima-pw ,Could you please share a stand alone code to reproduce this issue then?

[2021-09-15 15:54] sushreebarsa commented on #52011
@Harrelix Could you please refer to similar [issue1](https://github.com/tensorflow/tensorflow/issues/8973), [issue2](https://github.com/tensorflow/tensorflow/issues/29973) and [issue3](https://github.com/tensorflow/tensorflow/issues/31944) ,Please let us know if it helps?Thanks!

[2021-09-15 15:55] #47007 closed

[2021-09-15 16:13] mohantym commented on #26215
Hi @andrebeu ,Could you close this issue then?

[2021-09-15 16:22] sushreebarsa commented on #51872
@waqarahmad84 Could you please refer to the similar [issue1](https://github.com/tensorflow/tensorflow/issues/39539), [issue2 ](https://github.com/tensorflow/tensorflow/issues/36804) and please let us know if it helps? Thank you!

[2021-09-15 16:32] mohantym commented on #32454
Hi @makercob , This issue is not replicating TF 2.6 version , Loop continued until key board interrupt happened . Providing [Gist ](https://colab.research.google.com/gist/mohantym/5b7c54efcbe3d630eb5a25397e2d8463/github_32454.ipynb)for reference

[2021-09-15 16:36] sushreebarsa commented on #52005
@CodeMonkey3435 Could you please refer to the [link](https://www.tensorflow.org/lite/examples/segmentation/overview) and let us know if it helps ? Thanks!

[2021-09-15 16:41] mohantym commented on #51997
Hi @Vadim-Maklakov!
This is not a bug or feature request, for any further queries you may open this issue in [tf discussion forum ](https://discuss.tensorflow.org/)as there is a larger community there.Thank you!

[2021-09-15 16:54] jvishnuvardhan commented on #51902
@kevinkotzen This is intended behavior. Please check the response from @fchollet

https://github.com/keras-team/keras/issues/1642#issuecomment-179997624

You can notice that `val_loss` is 0. Thanks!

[2021-09-15 16:55] #51483 closed

[2021-09-15 16:55] #27155 closed

[2021-09-15 16:55] #26841 closed

[2021-09-15 16:55] #47142 closed

[2021-09-15 17:07] mohantym commented on #52013
Hi @pacospace ! Please use following code to load your model.
`tf.keras.models.load_model("./elyra-aidevsecops-tutorial/models/210124112759-d97fd1f46b13ee40")`

[2021-09-15 17:35] titu1994 commented on #19241
Yes it seems fixed in 2.6. Thanks !

[2021-09-15 17:35] #19241 closed

[2021-09-15 17:55] #37094 closed

[2021-09-15 18:04] sainathadapa commented on #37339
I got this error recently, and fixed it my assigning layers and other objects to `self` within the class. Say, you are creating a model like shown in the top post, try assigning each of the new layers you instantiate like so `self.layer_1 = tf.keras.layers.Dense(...`.

[2021-09-15 18:09] Vadim-Maklakov commented on #51997
Hi, @mohantym !

The problem isn't in the jupyter notebooks  files.
Please load the "ch_4_IMDB_binary_classification.py" script in the other IDE, for example Spyder or Pydev, run it  and  check    results and plots will be equal results  from the jupyter notebooks  files. In my case I see very distinguished  results from IDE and jupyter notebooks files and I  attach its  in the my first post bello

[2021-09-15 18:41] kevinkotzen commented on #51902
@jvishnuvardhan thanks for your reply.

[Keras documentation on Custom Metrics](https://keras.io/api/metrics/#creating-custom-metrics) specifically mentions that "sample weighting is automatically supported for any such [custom] metric". They even show sample weights being used in the example.
To reiterate, sample weights seem to work fine for all train metrics, but not validation metrics (other t

[2021-09-15 19:13] RS-Hoptroff commented on #34159
Why dont you just generate dlls subdivided for the subset of operations to avoid the 2^16 EOT issue

[2021-09-15 19:46] jvishnuvardhan commented on #51902
@kevinkotzen Did check the webpage

Looks like it is supported but not sure why the results are different.

As Keras team moved to [keras-team/keras](https://github.com/keras-team/keras/issues) repo, can you please open this issue in that repo? Thanks!

[2021-09-15 20:34] christiaanjs commented on #52000
@sushreebarsa yes, this is the same error I’m reporting (see the output I provided)

[2021-09-15 20:49] cad2298 commented on #48868
Oh my god I've been 3 days through this error and I was desperated. You saved me I love you bro

[2021-09-15 21:42] AnastGerus opened #52018 "libtensorflowlite target compilation failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): from source
- TensorFlow version: 2.4.0, 2.4.1., latest (tried few)
- Python version: Python 3.8.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): bazel 3.7.2
- GCC/Compiler version (if compiling from source

[2021-09-15 21:54] kevinkotzen commented on #51902
Moved this to https://github.com/keras-team/keras/issues/15373.

[2021-09-15 21:54] #51902 closed

[2021-09-15 21:55] melioristic commented on #52001
@mohantym I tried to reproduce this slow behavior. And then looking through the details I found that the Jacobian part is not slow. I was just trying to predict long sequences. You can close this issue. Just on a side note, can you please look through the [notebook](https://colab.research.google.com/drive/1jPPbaxDpkrMSgxS_APtrYGWw1xhbp7lg?usp=sharing) that I have shared here? In the last block can

[2021-09-15 22:24] ymodak commented on #51798
Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new). Please provide all the information it asks. Thank you.

[2021-09-15 22:24] #51798 closed

[2021-09-15 23:32] srjoglekar246 commented on #51863
Hey @terryheo since this is memory-related could you take a look?

[2021-09-16 00:10] daniel-kukiela commented on #52013
Hi!
I have the very same issue with TensorFlow 2.6

I'm loading our upsample model and saving it as a saved model:
[code]
Then, when I'm trying to load it:
[code]
It errors with:
[code]

The same code works just fine in TensorFlow 2.5.

If you need the model to test: https://github.com/Sentdex/GANTheftAuto/tree/main/trained_models (it's the upsample one).

Regards,
Daniel

[2021-09-16 00:10] kusumlata123 opened #52020 "ValueError: Could not find matching function to call loaded from the SavedModel."
I ma facing the issue
words_pred = words_model.predict([data_text])
  File "/home/pardeep/anaconda3/envs/coref/lib/python3.7/site-packages/tensorflow_core/python/keras/engine/training.py", line 909, in predict
    use_multiprocessing=use_multiprocessing)
  File "/home/pardeep/anaconda3/envs/coref/lib/python3.7/site-packages/tensorflow_core/python/keras/engine/training_v2.py", line 462, in predict

[2021-09-16 01:11] terryheo commented on #51863
Could you check if the following work?
[code]

[2021-09-16 01:47] AR-fan commented on #51813
hi, how is it going?~

[2021-09-16 02:49] jason022085 commented on #43938
It help a lots! Thanks!
Could you tell me where I can get this information for all model in tensorflow.keras.applications ?

[2021-09-16 03:08] Z-yq opened #52022 "Protobuf version conflict between tensorflow and grpc"
**System information**
- Linux Ubuntu 20.04
- TensorFlow installed from source
- TensorFlow version: C 2.5.1
- Python version: 3.8.0
- Bazel version: 3.7.2
- GCC/Compiler version: 9.3.0

**Describe the problem**

I want to use C-GRPC to encapsulate the Tensorflow model（TensorflowC） as a service, compiling is OK. But errors will occur when running server：

**Any other info / logs**

So I want to kn

[2021-09-16 03:36] mohantym commented on #51983
Hi @AsherXian903 ,Could you please check again with TF 2.5/2.6  ? please share a stand alone code for  model.fit() operation  tto check above performance parameters  .I checked the above code though, It ran fine in TF 2.6 in colab . providing [Gist ](https://colab.research.google.com/gist/mohantym/b9af2378dd1de2a65c06fa488a529fc7/github_51983.ipynb)for reference

[2021-09-16 03:51] ArunaKote opened #52023 "Error in lowering tf.ResizeBilinear and tf.ResizeNearestNeighbor using tf-mlir-translate and tf-opt"
Model for tf.ResizeNearestNeighbor looks like:
model = tf.keras.Sequential([
tf.keras.layers.Conv2D(4, (1, 1),input_shape = (10, 10, 3),batch_size=1, name='fpn_c5p5'),
tf.keras.layers.UpSampling2D(size=(2, 2),interpolation='nearest', name="fpn_p5upsampled")
])

Model for tf.ResizeBilinear looks like:
model = tf.keras.Sequential([
tf.keras.layers.Conv2D(4, (1, 1),input_shape = (10, 10, 3),batch_siz

[2021-09-16 03:55] #20870 closed

[2021-09-16 03:55] #21432 closed

[2021-09-16 04:30] luciffierKim commented on #50790
Same problem

[2021-09-16 05:05] deshiyan1010 opened #52024 "Nested tensor as a feature incompatible with tf.data.Dataset.from_tensor_slices"
I'm trying to create a Dataset object with the following record structure(list):
[code]
[code]
I converted to NumPy and I got the following error:
[code]
Without having the category list, the Dataset object is created.

[2021-09-16 05:30] jiayugedede commented on #51963
This link is helpless for me, part of the assignment in my code is the biggest problem, this link don't have this.

[2021-09-16 05:33] jiayugedede commented on #51963
Many algorithm in pytorch has efficient solution, however, we re-implement that in tensorflow which performance not satisfaction for us. This is the most block between pytorch and tensorflow 2.X.

[2021-09-16 05:39] Gomesz785 commented on #22926
Note from the past to fellow coders and beginners:
Ahem.

So this pops up in the good first issue page and a lot of "good first issue finder" websites. You might've came from a link, or other way.

So here is the deal:

_I am a TensorFlow Developer_ - god level: Try it out, if you can understand what these names mean and can spot them in in the "TensorFlow".

_I am a TensorFlow Developer_: Try to

[2021-09-16 05:55] #51179 closed

[2021-09-16 06:12] jvishnuvardhan commented on #43938
@jason022085 For [`EfficientNetB0`](https://www.tensorflow.org/api_docs/python/tf/keras/applications/efficientnet/EfficientNetB0), TF webpage displays a note as shown below

For all other models, it is listed in their individual TF page. For example, [DenseNet121](https://www.tensorflow.org/api_docs/python/tf/keras/applications/densenet/DenseNet121) display the following note

I think this was res

[2021-09-16 06:12] #43938 closed

[2021-09-16 06:47] mohantym commented on #23873
Hi @galeone !We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions.  You can follow our [migration document](https://www.tensorflow.org/guide/migrate) to migrate your code base to 2.x versions . Thanks!

[2021-09-16 06:55] #33897 closed

[2021-09-16 06:57] kusumlata123 opened #52025 "WARNING:tensorflow:AutoGraph could not transform <function canonicalize signatures.<locals>.signature wrapper at 0x7f0a44465cb0> and will run it as-is. Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: No module named 'tensorflow_core.estimator'"
WARNING:tensorflow:AutoGraph could not transform <function canonicalize_signatures.<locals>.signature_wrapper at 0x7fdc2c0b8710> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: No module named 'tensorflow_core.estimator'
 using
tf-nightly-gpu

[2021-09-16 07:03] galeone commented on #23873
I guess this issue can be closed, no one should use TensorFlow 2.x in this way (with sessions)

[2021-09-16 07:20] ReetuData opened #52026 "cannot import name 'Adadelta' from 'keras.optimizers (Keras-Bidaf)"
ImportError                               Traceback (most recent call last)
<ipython-input-26-bc8a96d755fb> in <module>
----> 1 from bidaf.models import BidirectionalAttentionFlow
      2 #bidaf_model = BidirectionalAttentionFlow(400)
      3 #keras_model = bidaf_model.model

~\AppData\Roaming\Python\Python38\site-packages\bidaf\models\__init__.py in <module>
----> 1 from .bidaf import Bidirection

[2021-09-16 07:37] kumariko commented on #37355
@jepperaskdk Many bugs have been fixed in the latest version of TF. Could you please try with Latest Version of TF2.6 and let us know if the issue still persists? please check comment: https://github.com/tensorflow/tensorflow/issues/37355#issuecomment-751334345 Thanks!

[2021-09-16 07:39] kumariko commented on #36229
@ZTZ-99 We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-16 07:41] kumariko commented on #33001
@QRabbani We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-16 07:42] swittk commented on #41876
Hi, I'm experiencing this with the current nightly builds

Current podfile
[code]
Resolves to lockfile
[code]

The duplicate symbols are `_TfLiteXNNPackDelegateCreate `, `_TfLiteXNNPackDelegateDelete `, `_TfLiteXNNPackDelegateGetThreadPool `, and `_TfLiteXNNPackDelegateOptionsDefault`.

They're duplicated between `/Pods/TensorFlowLiteSelectTfOps/Frameworks/TensorFlowLiteSelectTfOps.framework/Tenso

[2021-09-16 07:43] kumariko commented on #32556
@alexeagle Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-16 07:48] kumariko commented on #26201
@oscarriddle We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-16 07:50] kumariko commented on #25252
@XDRiVE888 Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-16 07:52] kumariko commented on #25144
@Xaenalt We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-16 07:54] kumariko commented on #22338
@taotaolin We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. check comment: https://github.com/tensorflow/tensorflow/issues/22338#issuecomment-590247503 Thanks!'

[2021-09-16 07:55] kumariko commented on #20421
@jjourdin We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-16 07:58] jjourdin commented on #20421
Hi,

We do not require assistance anymore.
Thank you for your help.

Jérémie

Le jeu. 16 sept. 2021 à 09:56, kumariko ***@***.***> a écrit :

[2021-09-16 08:00] tilakrayal commented on #52010
@Winndy ,
Please take a look at this issues with similar error.[1](https://github.com/tensorflow/tensorflow/issues/20867#issuecomment-422246723) and [2](https://github.com/AppliedDataSciencePartners/DeepReinforcementLearning/issues/12). It helps.Thanks!

[2021-09-16 08:18] Flamefire opened #52027 "eigen_mkldnn_contraction_kernel_test has ambigious select"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6.0

**Describe the problem**

The build fails when using `--config=mkl_aarch64` with

[code]

**Any other info / logs**

Issue is simple: http

[2021-09-16 08:21] mohantym commented on #52013
Hi @daniel-kukiela ,Could not replicate above issue in TF 2.6 after putting complete path of model file as below.
`model = load_model('/content/GANTheftAuto/trained_models/upsample---[_20]---[______3171]---[_____63420].h5', custom_objects={'InstanceNormalization': InstanceNormalization, 'SpectralNormalization': SpectralNormalization})`

providing [Gist ](url)for reference.

[2021-09-16 08:22] mohantym commented on #52013
Hi @pacospace ,Feel free to close issue if it helped.

[2021-09-16 08:26] mohantym commented on #52025
Hi @kusumlata123 ! ,Could you please  issue template ?As  it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-16 08:52] pacospace commented on #52013
Thanks @mohantym, your suggestion worked!

[2021-09-16 08:52] #52013 closed

[2021-09-16 08:55] #35491 closed

[2021-09-16 09:27] isra60 commented on #37966
Hi. Are there any updates about this?? Which is the best way to running inference with multiple GPUs on the same model with c++ API (Using SavedModel)

[2021-09-16 09:47] starboyvarun commented on #51783
Should I close this issue now?
@mohantym

[2021-09-16 09:55] #29693 closed

[2021-09-16 09:55] #29490 closed

[2021-09-16 09:55] #51790 closed

[2021-09-16 09:55] isra60 commented on #18861
When trying to use this method I have the following error

[code]
Are there any updates with the LoadSavedModel c++ API to use multiple GPU???

[2021-09-16 10:29] Saduf2019 commented on #52018
@AnastGerus
please refer to issue [with same](https://github.com/tensorflow/tensorflow/issues/48401) error and let us know.
Issues for reference:
[link](https://github.com/tensorflow/tensorflow/issues/25607), [link1](https://stackoverflow.com/questions/51352364/tensorflow-bazel-building-error-c-compilation-of-rule-boringssl-crypto-f)

[2021-09-16 10:38] mohantym commented on #51783
@starboyvarun ! Sorry for the late response . Actually tried to replicated above issue , was getting  different error. Attaching [Gist](https://colab.research.google.com/gist/mohantym/c426a30b58b0d295c1bdf4d16ae5b259/github_51783.ipynb) for reference .Can you  please share a Colab gist from your end with above error stack trace?

[2021-09-16 10:38] Saduf2019 commented on #51900
@qq747688898
You dont have to necessitate eager execution  when using the distributed strategies, please follow the official doc [here](https://www.tensorflow.org/api_docs/python/tf/keras/Model#compile).

For any further queries i suggest you open an issue at the tf discussion forum as there is a larger community to support there.

[2021-09-16 10:44] Saduf2019 commented on #51991
@retonym
Please feel free to create a pr for the proposed change or share the link where the change is to be made.

[2021-09-16 10:48] RemiLacroix-IDRIS commented on #50628
@angerson : Hi. Would it be possible to have some feedback on this issue?

[2021-09-16 11:06] starboyvarun commented on #51783
@mohantym
Ya, I attached the gist can you have a look [Gist](https://colab.research.google.com/gist/starboyvarun/9ab39f94d3c33afd039a9ab0b774c221/14sept.ipynb).
I am trying to implement the last parts of this example in my example(Examples shown in link). [Link](https://github.com/BIMSBbioinfo/janggu/blob/master/src/examples/janggu_convnet_examples.ipynb)
I saw your gist I have already solved the

[2021-09-16 11:15] lvadke opened #52028 "Reshape conversion produces invalid output shape (if one dim is -1)"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.4 LTS
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.6.0

### 2. Code

[code]

### 3. Failure after conversion
Conversion produces a reshape operation (and all subsequent ops) with i

[2021-09-16 12:19] Harrelix commented on #52011
Those don't seem to be of help. I also tried removing everything and starting from scratch but to no avail (same error).

[2021-09-16 12:32] saswatac commented on #50952
the same behaviour is also seen in tf 2.6

[2021-09-16 12:40] ArunaKote opened #52030 "Error in lowering tf ops to HLO using tf-opt"
I am trying to lower following tf ops to HLO using :tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt  -xla-legalize-tf  sample.mlir
    tf.CropAndResize
    tf.StridedSlice
    tf.Unique
    tf.Where
    tf.SparseToDense
    tf.NonMaxSuppressionV4
    tf.TensorListFromTensor
    tf.TensorListGetItem
    tf.TensorListReserve
    tf.TensorListSetItem
    tf.TensorListStack
    tf.TopKV2
    tf.R

[2021-09-16 12:50] starboyvarun commented on #51783
@mohantym  Did you check?

[2021-09-16 12:55] #23342 closed

[2021-09-16 12:55] #51634 closed

[2021-09-16 13:13] tilakrayal commented on #51989
@franckma31 ,
As it was bug in tf v2.4, it has been resolved in latest stable version 2.6.Please upgrade to v2.6 and try to test your code.It helps.Thanks

[2021-09-16 13:18] doubibobo commented on #51881
Thank you so much!
Follow your tips, I changed to gcc7.5.0 and tried running a `bazel clean --expunge` before built
And then it succeeds! It really works!
Thank you again for solving such a confusing problem for me!

[2021-09-16 13:32] #51881 closed

[2021-09-16 13:32] edwardyehuang opened #52031 "Code completion of Keras Moudle no longer work since 2.6 (removed keras)"
Code completion of Keras Module no longer work in VSCode after Keras code is remvoed from TensorFlow 2.6

[2021-09-16 13:37] zfeilongzaitian opened #52032 "Failed copying input tensor from CPU to GPU"
### 1. System information
When i try use bert pretrain model to do my downstream tasks(what i use to load bert pretrain model is keras-bert), but when i try load my model to CPU and use GPU to train, the mistake occured. I have two GPUs with memory 32g* 2 and CPU with 128g memory,who know this problem,please give me answer,thanks
1. when i only use CPU, it will consumes about 112g to train;
2. whe

[2021-09-16 14:17] Saduf2019 commented on #51881
@doubibobo
Thank you for your update, glad the issue is resolved.

[2021-09-16 14:29] koodzi commented on #42649
@kumariko the problem still persists
I have updated the TensorFlow and TFLite to 2.6 and created new models, but there is still difference between CPU and GPU outputs on Pixel3 and Samsung Fold1.

[2021-09-16 14:33] seragENTp commented on #51954
@impjdi Thanks for your feedback. I rechecked my app and found that i was running the GPU inference part in a different thread than the main app thread.

[2021-09-16 14:33] #51954 closed

[2021-09-16 14:45] tilakrayal commented on #52026
@ReetuData ,
Can you please try to execute as mentioned in the [gist](https://colab.research.google.com/gist/tilakrayal/593a1ecbf14b9a17bc12a8512a727c57/untitled77.ipynb).It helps. Thanks!

[2021-09-16 14:46] tilakrayal commented on #52023
@ArunaKote ,
Can you please let us know the tensorflow version you are using to test the code.Thanks!

[2021-09-16 15:55] mohantym commented on #22146
Hi @gashmish ,
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions.  Thanks!

[2021-09-16 15:55] #26359 closed

[2021-09-16 15:55] #25133 closed

[2021-09-16 15:57] mohantym commented on #22377
Hi @TPcoding !
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-16 16:22] mohantym commented on #52032
Hi @zfeilongzaitian !Could you please share a complete stand alone  code with links to Datasets as a  Colab gist to replicate the above issue. It will help expedite the issue.

[2021-09-16 16:27] mohantym commented on #52022
Hi @jvishnuvardhan ,Could you please look at this issue ?

[2021-09-16 16:32] ArunaKote commented on #52023
@tilakrayal ,
1.tensorflow version 2.7.0-dev20210831

2.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt --version
LLVM (http://llvm.org/):
  LLVM version 14.0.0git
  Optimized build.
  Default target: x86_64-unknown-linux-gnu
  Host CPU: cascadelake
3.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-mlir-translate --version
LLVM (http://llvm.org/):
  LLVM version 14.0.0git
  Optimized build.

[2021-09-16 16:56] aiace9 opened #52035 "bug while summing ragged tensors"
**System information**
Not needed, check colab example below

**Current behavior**
When summing 2 ragged tensor of (apparently) the same shape the following error is rised:
`InvalidArgumentError: Expected 'tf.Tensor(False, shape=(), dtype=bool)' to be true. Summarized data: b'Unable to broadcast: dimension size mismatch in dimension'
`

**Describe the expected behavior**
Well, the sum to proceed c

[2021-09-16 16:58] ki-terhoeven commented on #46096
Upgraded to tensorflow 2.6.0 and the bug is gone.

[2021-09-16 17:03] johnthagen commented on #51743
I had to temporarily pin `black` in my `dev-requirements.in` / `requirements.txt` to work around this issue:

[code]

[2021-09-16 17:28] sanatmpa1 commented on #51896
@klamann,

Step 2 produces the similar issue as you mentioned, but I am getting the below error for step 3. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/ed7db8bf974a570477ffe0281a8e2e0f/51896.ipynb).

[2021-09-16 17:33] bestmatthew opened #52036 "Trying to follow simple Tutorial For LOADING TEXT but tensorflow_text won't import"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.7
- Mobil

[2021-09-16 18:05] Saduf2019 commented on #35241
The issue exists in tf 2.7, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/01646cb7506969669516468de549ded8/untitled636.ipynb)

[2021-09-16 18:06] Saduf2019 commented on #35213
Is this still an issue?

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-09-16 18:09] jvishnuvardhan commented on #28994
Closing this due to lack of recent activity. Thanks!

[2021-09-16 18:09] #28994 closed

[2021-09-16 18:10] bjarthur opened #52037 "tf.audio.decode_wav mmap like scipy.io.wavfile.read"
would be much faster in my use case to read in just a portion of a WAV file.  scipy has a nice memory map keyword argument which permits this:  `scipy.io.wavfile.read(path_to_wavfile, mmap=True)`.  sadly `tf.audio.decode_wav` does not.  thanks!

[2021-09-16 18:18] ymodak commented on #38659
I think this was resolved with the above comment. Please test with latest stable TF 2.6 version and open a new issue if problem still persists. Thanks!

[2021-09-16 18:18] #38659 closed

[2021-09-16 18:22] ymodak commented on #20348
`tf.contrib` module is no longer supported.
Please test with `TF_IO` module https://www.tensorflow.org/io/api_docs/python/tfio/experimental/ffmpeg/decode_video
and raise a new issue if problem still persists. Thanks!

[2021-09-16 18:22] #20348 closed

[2021-09-16 18:22] vulkomilev opened #52038 "Tensor board wont load log files"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-16 18:23] jvishnuvardhan commented on #20283
This is a stale issue. Looks like this was resolved.
Please feel free to reopen if I am mistaken. Thanks!

[2021-09-16 18:23] #20283 closed

[2021-09-16 18:26] cantonios commented on #44844
As hinted above, this is unrelated to `tf.math.mod`, and is more an issue of converting numpy arrays to tensors.

Ensuring the input tensors are of the correct type (e.g. `tf.constant(x, tf.float64)`) resolves the issue.

[2021-09-16 18:30] ymodak commented on #27290
`tf.contrib.tpu.keras_to_tpu_model` is deprecated use [tf.distribute.TPUStrategy](https://www.tensorflow.org/api_docs/python/tf/distribute/TPUStrategy) instead.
See https://www.tensorflow.org/guide/tpu for usage details

[2021-09-16 18:30] #27290 closed

[2021-09-16 18:37] ymodak commented on #26323
`tf.contrib` module is deprecated.
Please try latest pruning example from tensorflow model optimization tooklit.
https://www.tensorflow.org/model_optimization/guide/pruning/pruning_with_keras

[2021-09-16 18:37] #26323 closed

[2021-09-16 18:39] jvishnuvardhan commented on #44103
I think this is resolved.  As mentioned above, we need to update `contrib` manually.

Please check the updated guide here https://www.tensorflow.org/guide/upgrade

I am closing this issue as this was resolved. Thanks!

[2021-09-16 18:39] #44103 closed

[2021-09-16 18:41] rthadur commented on #13947
Please try to test with latest tested builds here https://www.tensorflow.org/install/source#tested_build_configurations, which will resolve the issue. Thank you

[2021-09-16 18:41] #13947 closed

[2021-09-16 18:43] ReetuData commented on #52026
@tilakrayal,

Hi, Thanks for the quick reply. I have tried the code mentioned in the gist. But still getting the same issue.

**import tensorflow as tf**
**from tensorflow import keras**
**from tensorflow.keras.optimizers import Adadelta**

**ImportError: cannot import name 'Adadelta' from 'keras.optimizers' (C:\Users\vishd\AppData\Roaming\Python\Python38\site-packages\keras\optimizers.py)**

Any

[2021-09-16 18:44] rthadur commented on #13269
This issue has been resolved in latest versions , closing this request now. Thank you

[2021-09-16 18:44] #13269 closed

[2021-09-16 18:45] cantonios commented on #46770
We make no guarantees of consistency if order of operations change, or if data layout changes.  Different code paths may be exercised, and they may use different intrinsics (e.g. in one case may use fused multiply-adds, but not in another).  The results *should* be consistent within some appropriate tolerance.

[2021-09-16 18:47] reedwm commented on #39751
This is fixed with https://github.com/tensorflow/tensorflow/pull/51861.

[2021-09-16 18:47] #39751 closed

[2021-09-16 18:50] rthadur commented on #11000
https://github.com/tensorflow/tensorflow/blob/master/third_party/jemalloc.BUILD as the build files are removed , closing this issue. Thank you

[2021-09-16 18:50] #11000 closed

[2021-09-16 18:51] reedwm commented on #51978
This is fixed with https://github.com/tensorflow/tensorflow/pull/51861, and the fix will be in TF 2.7.

I'm unsure if the AUC metric was nondeterministic in TF 2.5. It used `tf.math.unsorted_segment_sum`, which was nondeterminsitic in certain cases, but it's possible AUC did not use it in a nondeterministic way. The exception for `unsorted_segment_sum` was added in TF 2.6, but `unsorted_segment_su

[2021-09-16 18:51] #51978 closed

[2021-09-16 18:54] pinxue commented on #35213
Sorry, I no longer have that environment to reproduce it.

[2021-09-16 18:59] LucaCappelletti94 commented on #23566
Any development?

[2021-09-16 19:00] AnastGerus commented on #52018
Hi @Saduf2019 ,
yes, the proposed [issue](https://github.com/tensorflow/tensorflow/issues/48401) helped a lot.
Sorry, that I didn't manage to find it myself. Thanks a lot for your help!

Note for those who looking for an answer:
You need to hide the system's _openssl_ library. For this go to `usr/include ` folder and make `sudo mv openssl openssl.original`.

[2021-09-16 19:00] #52018 closed

[2021-09-16 19:16] cantonios commented on #51043
This is likely due to an Eigen approximation.  If `EIGEN_FAST_MATH = 1` (the default), then Eigen uses the fast reciprocal sqrt approximation, which is *much* faster, but less accurate (particularly as you deviate away from zero).  See [here](https://gitlab.com/libeigen/eigen/-/blob/master/Eigen/src/Core/arch/AVX/MathFunctions.h#L133).

If compiling TF from source, you can try explicitly disabling

[2021-09-16 19:29] jvishnuvardhan commented on #34641
@fantauzzi This is a stale issue. I ran the same code (.py file) as you mentioned and I don't see `shape_refiner.cc` in the output. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/8c0a60ccc5c29ec5a04af8bcd0f5afc0/untitled.ipynb).

The following is the trace

[code]

I think this was resolved. Please feel free to reopen the issue if it persists. Thanks!

[2021-09-16 19:29] #34641 closed

[2021-09-16 19:59] klamann commented on #51896
you're right, I didn't notice this one. It seems to be unrelated, since `tensorflow.python.ops.array_ops` is not meant to be called as a module. We can work around this by just importing the module (without doing anything else).

This should work:

    python -c "from tensorflow.python.ops import array_ops"
    python -O -c "from tensorflow.python.ops import array_ops"

and this fails with the men

[2021-09-16 22:01] Xaenalt commented on #25144
I haven't tried in a while, I'll close it to get it out of the queue, I'll reopen a diff issue for new versions if I hit anything

[2021-09-16 22:01] #25144 closed

[2021-09-16 22:04] daniel-kukiela commented on #52013
@mohantym I have no such path. Where did you get it from? I have a script and a folder with a model in the same folder, it's nothing like what you proposed. I'm not sure what your suggestion is supposed to do. Can you elaborate?

Also, it works this way in TF 2.5 and there's no reason it should not work in TF 2,6. It's like I have TF 2.6 and it does not work, then I'm downgrading to TF 2.5 and the

[2021-09-16 22:07] daniel-kukiela commented on #52013
Oh wait @mohantym - in your reply to me, you mentioned the wrong line of code. Loading a model and saving it as a saved model works (the upper script). Loading the saved model is what does not (the lower script).

[2021-09-16 22:47] nuramzan commented on #43193
I do an easy way to deal with this problem like below :
1. Install anaconda with python 3.8.8
2. Install tensor flow : pip install tensorflow -> got an error like above
"W tensorflow/stream_executor/platform/default/dso_loader.cc:59] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found"
3. Install package -> pip install tf-nightly
4. Install the Microsoft Visual C

[2021-09-16 23:56] pri2si17-1997 commented on #34135
I have also faced this issue and I think one more possible reason is that the user may not be the part of `apex` group. So, adding user to the `apex` group can fix this issue. This can be done using:

`sudo usermod -a -G apex <user_name>`

This may fix #32743.

[2021-09-17 00:21] jvishnuvardhan commented on #46344
@CubasMike This is a bug. Thanks for finding this bug.

As this is related to keras and keras code moved to a [separate repo](https://github.com/keras-team/keras/issues) to focus on only keras, we will track the  progress in the following issue which was already assigned to a codeowner.
https://github.com/keras-team/keras/issues/15246

So, I am closing this issue here and lets track progress in ke

[2021-09-17 00:21] #46344 closed

[2021-09-17 01:13] sushreebarsa commented on #52020
@kusumlata123
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-09-17 01:17] sushreebarsa commented on #52024
@deshiyan1010
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose), Please provide the standalone code to reproduce the issue reported here.
Thanks!

[2021-09-17 01:54] omaralaahamdy commented on #16768
downgrading tensorflow and tensorflow-gpu to 2.5 if you are already on version 2.6 or later might help, at least it did with me.

[2021-09-17 02:13] yyoon commented on #41876
@swittk Can you instead file a new issue about this? This thread is closed long ago, and the cause of the issue seems different.

[2021-09-17 02:14] tetuomi commented on #51986
@tilakrayal
Thanks for the response!

I executed bellow command without error.
maybe succeed.
[code]
<br>
<details>
<summary>conda list</summary>

# Name                    Version                   Build  Channel

absl-py                   0.10.0             pyhd8ed1ab_1    conda-forge
aiohttp                   3.7.4.post0      py39h5161555_0    conda-forge
astunparse                1.6.3

[2021-09-17 02:24] Alfyu07 commented on #37418
sorry for asking, does tensorflow support library already support conversion from rgb to grayscale now?

[2021-09-17 02:30] jinensetpal commented on #44613
This is still an issue! Has a solution for this made it to any of the upstream branches yet?

[2021-09-17 02:43] jvishnuvardhan commented on #45760
@wuhy08 Sorry for the late response. As keras code moved to separate repo [keras-team/keras](https://github.com/keras-team/keras/issues), can you please open the same issue there. Thanks!

You could also raise a PR if you want to contribute. Thanks!

[2021-09-17 02:57] tetuomi commented on #51986
I run the above Test code on Google CoLab.
the above output is not slow?
Am I running on GPU properly?

![image](https://user-images.githubusercontent.com/39522526/133716499-a6ee12a1-69d2-41d0-a36d-7d848073531e.png)

[2021-09-17 03:05] mohantym commented on #52028
Hi @ymodak ,Could you please look at this issue ,Providing GIST for reference. in TF [2.5](https://colab.research.google.com/gist/mohantym/7c9682a7405c7ff8c544db1883ec2cfe/github_52028.ipynb#scrollTo=1mn-mL9rZUUQ),[2.6](https://colab.research.google.com/gist/mohantym/de0b92956820c5b1f1125923e408ec8f/github_52028_2-6.ipynb),[2.7](https://colab.research.google.com/gist/mohantym/9f6c61db5e2653d8ecfda

[2021-09-17 03:08] mohantym commented on #52037
Hi @bjarthur
Could you please fill the feature template from [here ](https://github.com/tensorflow/tensorflow/issues/new/choose), It will help us expedite the issue. Thanks!

[2021-09-17 03:15] ArunaKote commented on #51871
@jvishnuvardhan
Environment details:
1.tensorflow version 2.7.0-dev20210831

2.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt --version
LLVM (http://llvm.org/):
LLVM version 14.0.0git
Optimized build.
Default target: x86_64-unknown-linux-gnu
Host CPU: cascadelake
3.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-mlir-translate --version
LLVM (http://llvm.org/):
LLVM version 14.0.0git
Optimi

[2021-09-17 04:28] vanajareedy0426 opened #52044 "Issue with tflite interpreter"
Hi,
Training a model with MNIST database and converting to tflite, while inferencing I'm getting error.
My code details are as given below
`
import tensorflow as tf
import tensorflow_datasets as tfds
(ds_train, ds_test), ds_info = tfds.load( 'mnist',
                                         split=['train', 'test'],
                                         shuffle_files=True,

[2021-09-17 04:58] starboyvarun commented on #51783
@mohantym Did you see it ?? Can you what should I do?

[2021-09-17 05:03] ArunaKote commented on #52030
@tilakrayal ,
Environment details:
1.tensorflow version 2.7.0-dev20210831

2.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt --version
LLVM (http://llvm.org/):
LLVM version 14.0.0git
Optimized build.
Default target: x86_64-unknown-linux-gnu
Host CPU: cascadelake
3.tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-mlir-translate --version
LLVM (http://llvm.org/):
LLVM version 14.0.0git
Optimize

[2021-09-17 05:21] cRhettiarachchi commented on #44481
Any update on this issue? I have the same issue after converting into tflite.

**_The command I used to convert the model to tflite friendly inference graph is,_**
`!python object_detection/export_tflite_graph_tf2.py \
    --pipeline_config_path object_detection/inference_graph/pipeline.config \
    --trained_checkpoint_dir object_detection/inference_graph/checkpoint \
    --output_directory tflit

[2021-09-17 05:35] mohantym commented on #51783
Hi @starboyvarun , Please open a separate issue to proceed further and Feel free to close this one . Thank you!

[2021-09-17 05:49] mohantym commented on #23873
Ok @galeone ,Closing this issue then ! Feel to free open a new one if you face any further problems. Thanks!

[2021-09-17 05:49] #23873 closed

[2021-09-17 06:08] mohantym commented on #52001
@melioristic  , I was able to remove the warning messages though by changing tabs to put tape.gradient() and opt.apply_gradients() to keep them in context with tf.gradient. Providing [GIST ](https://colab.research.google.com/gist/mohantym/209d13b76a8ef6d50f7057d587991e85/senn_reproducible.ipynb#scrollTo=tS0fJ6emB4GW)for reference.

[2021-09-17 06:17] Dobiasd commented on #44654
Just ran into another problem caused by TensorFlow using `~=` instead of `>=` for its dependencies:

[code]

So basically, we can't update `pylint` because of that. :neutral_face:

I think it would be *much* better if TensorFlow would require `typing-extensions>=3.7.4` instead of `typing-extensions~=3.7.4`.

[2021-09-17 06:25] lzc16 commented on #46006
Hi @abattery !
I have try your method

And it can convert tensorflow to tflite. But when it put some warning and log error when start network forward.

Here is the warning.

[code]

It there any suggestion to solve the problem?

Thanks.

[2021-09-17 06:27] starboyvarun commented on #51783
ok, thanks! @mohantym

[2021-09-17 06:27] #51783 closed

[2021-09-17 06:34] abattery commented on #46006
Please do not upload a new issue at the closed one.

[2021-09-17 06:37] lzc16 opened #52041 "onnx->tensorflow->tflite"
_Originally posted by @abattery in https://github.com/tensorflow/tensorflow/issues/46006#issuecomment-918006725_

Hi @abattery !
I have try your method

Please try out TensorFlow 2.6 or tf-nightly version with converter.experimental_enable_resource_variables = True.
And it can convert tensorflow to tflite. But when it put some warning and log error when start network forward.

Here is the warning.

[2021-09-17 06:45] lzc16 commented on #52041
I find the similar problem in this issue.
https://github.com/tensorflow/tensorflow/issues/51668

[2021-09-17 07:30] melioristic commented on #52001
@mohantym Thanks I think, I will assume that this is the fastest it can work in eager mode. I made this a function and added @tf.function decorator and its speed increased considerably.

[2021-09-17 07:39] gao8954 commented on #51898
i have upload the csv file to the colab,but it always delete automatically,when exit the runtime

[2021-09-17 07:49] lucastan1996 commented on #44309
@rafikg @ajaymaity @fussners
Yo guys, anyone got the issue solved? lol
I'm facing this exact same problem, tested on RTX3060, RTX3070 laptop, RTX2080
RTX3000 series can't run with CUDNN 7
On RTX2080 I tried tensorflow 2.3 or below, it is working perfectly. Tensorflow 2.4 & 2.5 is return all NAN except the first prediction

[2021-09-17 07:53] gao8954 commented on #51898
[tmk_sample_50000.csv](https://github.com/tensorflow/tensorflow/files/7183704/tmk_sample_50000.csv)

i have uploaded again,and upload a backup here,just in case

[2021-09-17 07:55] #31434 closed

[2021-09-17 07:55] #24789 closed

[2021-09-17 07:56] swittk commented on #41876
Sure thing!

[2021-09-17 08:03] swittk opened #52042 "TensorFlowLiteC and TensorFlowLiteSelectOps iOS Pods :: Duplicate symbols"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS X Mojave (10.14.6)
- Te

[2021-09-17 08:17] pisoir commented on #51863
Unfortunately this did not help. I am getting the same bus error.

[2021-09-17 09:01] Beliefuture opened #52043 "Jupyter notebook can't launch the program correctly, but anaconda prompt can."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow version: 2.3.0
- Python version:

[2021-09-17 09:21] tilakrayal commented on #51986
@tetuomi ,
Glad the suggestion worked for you.Please move this issue to closed status as it answers your above question and for any further queries please open a new issue from [here](https://github.com/tensorflow/models/issues/new/choose).Thanks!

[2021-09-17 09:37] tilakrayal commented on #52035
@aiace9 ,
Please take a look at this SO [link](https://stackoverflow.com/questions/61947237/broadcasting-with-ragged-tensor) with similar error.It helps.Thanks!

[2021-09-17 09:41] tilakrayal commented on #52038
@vulkomilev ,
This issue is more suitable for TensorBoard repo. Please post it on [tensorflow/tensorboard](https://github.com/tensorflow/tensorboard/issues) repo from here. Thanks!

[2021-09-17 09:48] tilakrayal commented on #52026
@ReetuData ,
In order to reproduce the issue reported here, could you please provide the complete code and the dataset  and tensorflow version you are using. Thanks!

[2021-09-17 09:49] tilakrayal commented on #52026
Also please take a look at this [link](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adadelta) for Adadelta.It helps.Thanks!

[2021-09-17 09:55] #51814 closed

[2021-09-17 10:37] mohantym commented on #52001
Yes ,Agreed! @melioristic ,Checked with `@tf.function(autograph=True) ` earlier  , was able to reduce  existing time  approx 4 times (Around 0.25 after first two batch) . Ok! Feel to Free to close this if it helped .Thanks!

[2021-09-17 10:45] Saduf2019 commented on #35213
@pinxue
In that case, can you move this to closed status.

[2021-09-17 11:17] Inigo-13 commented on #39523
But, what about index parameter when calling getitem?

[2021-09-17 11:29] yyoon commented on #52042
This looks related to the recent change where XNNPack is enabled by default.
@multiverse-tf Could you please take a look?

Also cc-ing @thaink who has more experience in these duplicate symbol issues on iOS side.

[2021-09-17 11:34] mohantym commented on #52037
Hi @Saduf2019 ,Could you look at this feature request?

[2021-09-17 11:42] #51990 closed

[2021-09-17 11:55] #35977 closed

[2021-09-17 12:00] bjarthur commented on #52037
**System information**
- TensorFlow version (you are using):  2.5 currently, will upgrade to 2.6 soon
- Are you willing to contribute it (Yes/No): no

**Describe the feature and the current behavior/state.**. add a means to (lazily?) load a small portion of a WAV file, perhaps with a memory map keyword argument, or alternatively by passing in an offset and length.

**Will this change the current a

[2021-09-17 12:17] utkarshgupta137 commented on #50735
@sanjoy this flag helped me as well, although I only found it after 1 week of head-scratching.

Config:
Ubuntu 20.04.3 LTS
Docker 20.10.8
Image: tensorflow/tensorflow:2.6.0-gpu-jupyter
GPU: Telsa P40 (Azure VM)
Drivers: 470.57.02
CUDA: 11.4

[2021-09-17 12:30] OleksandrGrument commented on #45845
Hello again, here I made a simple android project with bug reproduce. There in gradle file is using new 2.6.0 version and the last working version 2.3.0 is commented. Maybe it can help. @impjdi

[2021-09-17 12:56] Vadim-Maklakov commented on #51997
Hi, @mohantym !
Do you compile  `ch_4_IMDB_binary_classification.py` script in the other IDE than Jupyter notebook?
What results are output in the console and the values ​​of variables in IPython in your case?

[2021-09-17 13:49] Saduf2019 commented on #52037
@bjarthur
Please feel free to submit a pr for the change requested or share the link where the change is to be made.

[2021-09-17 14:17] Zahlii commented on #33759
With tensorflow 2.5, even if I run tf.config.experimental_run_functions_eagerly(True) directly before my tests, the coverage is not correctly reported. I want to write tests for a custom loss function around CRFs for a production model, where having adequate test coverage is key. Currently, I am stuck on having to exclude this file from coverage.py.

[2021-09-17 14:40] mohantym commented on #13851
Hi @Randl!
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-17 14:44] mohantym commented on #22325
Hi @rcorvus!
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-17 14:48] mohantym commented on #24046
Hi @RugnirViking !
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-17 14:49] SaifeddineBarkia commented on #43223
Did u find the solution?

[2021-09-17 14:51] mohantym commented on #22814
Hi @cristianomalossi !
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-17 14:52] mohantym commented on #22902
Hi @georgepaw!
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-17 14:54] cristianomalossi commented on #22814
We can close, it is a very old one, I am not looking at that anymore.

[2021-09-17 14:54] #22814 closed

[2021-09-17 14:57] szutenberg opened #52045 "constant_folding ignores epsilon"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes. [https://gist.github.com/szutenberg/76b35f503195e8c7b2f1d6d764ee1a6f]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f6934

[2021-09-17 15:03] cecabert commented on #48196
Any update on this issue, or we just have to live with it?

[2021-09-17 15:09] NikoRepo opened #52046 "Downloading "Imdb_reviews" from Tensorflow_datasets: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd5 in position 30 invalid continuation byte"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10
- TensorFlow version (use command below):
- 2.3.0
- Python version:
- 3.8.8

**Describe the current behavior**
When I was downloading "imbd_reviews" dataset I am facing the below error,

**'utf-8' codec can't decode byte 0xc5 in position 171: invalid continuation byte**

[code]
Do any one have  idea, Thank you.

[2021-09-17 15:14] eli-osherovich commented on #51970
@vpirogov , @agramesh1

The issue is reproduced with Intel's TF (installed in a clean conda environment)
This is definitely a bug.

[2021-09-17 15:30] nedbat commented on #33759
I'm the coverage.py maintainer.  I'd be glad to work closely with someone from the Tensorflow side to find a solution to this problem.

[2021-09-17 16:31] sanatmpa1 commented on #35540
Issue still persists in `TF 2.6.0` and in `TF-nightly`. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/08f2b91e87240c9de3d337734d485f4d/35540.ipynb)

[2021-09-17 16:37] pGit1 commented on #36510
@Yannik1337 @sureshbhusare @crccw  These options lead to **430X slowdowns** for me but it does get the code to work. Unfortunately less capable hardware on older versions of cuda and cdnn is way faster for me.

Not sure why this is closed. Running on A100s with latest and greatest software, Tf2.6, Cuda 11.2 Cudnn 8.1. Distributed strategy simply doesn't work well with this hardware and software an

[2021-09-17 16:41] srjoglekar246 commented on #44481
With some recent converter changes, it looks like the order of outputs from the detection TFLite models has changed. Can you print `interpreter.get_output_details()` in your inference code & see what you get?

[2021-09-17 16:45] sanatmpa1 commented on #23374
@eslamahmedkhair,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions.Thanks!

[2021-09-17 16:51] sushreebarsa commented on #52044
@vanajareedy0426
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose), please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-17 16:53] sanatmpa1 commented on #40170
@cheers00,

Here's a similar [issue](https://github.com/bazelbuild/bazel/issues/10575#issuecomment-592647616) where they explained the cause may be due to incompatible version of different tools in build environment. We recommend you build the latest stable version of tensorflow i.e 2.6.0 using tested configurations in this [guide](https://www.tensorflow.org/install/source#tested_build_configurati

[2021-09-17 16:57] sanatmpa1 commented on #40130
@makn87,

Can you take a look at the above [comment](https://github.com/tensorflow/tensorflow/issues/40130#issuecomment-913197290) by @tanzhenyu and let us know if it helps? Thanks!

[2021-09-17 17:02] sanatmpa1 commented on #39680
@SchJens,

Can you take a look at above comment by @redradist and let us know if it helps? Thanks!

[2021-09-17 17:09] sanatmpa1 commented on #39521
@conjam,

Can you try building the latest stable version of tensorflow i.e `2.6.0` and lets us know if the issue still persists in newer version? You can follow this [guide](https://www.tensorflow.org/install/source#tested_build_configurations) to build from source. Thanks!

[2021-09-17 17:10] sushreebarsa commented on #51823
@FullZing
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-17 17:19] sanatmpa1 commented on #39232
@tarmath,

The [PR](https://github.com/tensorflow/tensorflow/pull/51914/files) to update docker files to Ubuntu 20.04 is merged already and can you confirm if that helps resolving your issue? Thanks!

[2021-09-17 17:21] sushreebarsa commented on #51963
@jiayugedede I tried to run your code on Colab using TF **v2.6**, **tf-nightly** and didn't face any error .Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/16ac35caf23156b1fcdeae6c751364f7/untitled203.ipynb#scrollTo=44-a43xJwwZJ) for reference and confirm the same ? Thank you!

[2021-09-17 17:41] shelkesagar29 opened #52048 "Profile TensorFlow Performance: Multiple occurences of single Conv2D op"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command belo

[2021-09-17 17:42] shelkesagar29 commented on #51995
I could not change template. I am closing this and have opened #52048

[2021-09-17 17:42] #51995 closed

[2021-09-17 19:07] #35213 closed

[2021-09-17 20:17] Vadim-Maklakov commented on #48545
Hi, all!
Continue this topic.

In my system configuration:
Tensorflow version:  2.7.0-dev20210917 from pip
Python version:  3.8.12 from source clang-12
Local host OS :  Linux Debian 10 Linux-4.19.0-17-amd64-x86_64-
IPython local host version:  7.27.0
CPU: AMD FX-8350
GPU: GeForce GT 1050 2GB (sm_61)
Driver Version: 470.57.02    CUDA Version: 11.4 CUDNN 8.2.2
this magic code
[code]
didn't turn  int

[2021-09-17 20:30] ReetuData commented on #52026
@tilakrayal

Thanks for your answer again. I have tried another solution as well. No luck again. I am sending you the google collab notebook where I have run the code. I have tried both python and google collab to run this code

**https://colab.research.google.com/drive/10r52gvoSdwzWH9tIFosPwjQ37poY6oLy#scrollTo=f5b95a09**

I am just trying to recreate the code provided by the below model of Parik

[2021-09-17 20:31] tarmath commented on #39232
Hi @sanatmpa1!

Thanks for the nudge!

I have just tried downloading the latest `tensorflow/tensorflow:latest-gpu` image, and it is still on 18.04:

[code]

My guess is that we'll be seeing images based on the newer stack (besides the nightly ones) next time tensorflow is released...

I'll be looking forward to that!

[2021-09-17 20:35] Vadim-Maklakov commented on #52046
Hi,
may be problem in the incorrect system local setting?

[2021-09-17 22:14] itsayellow commented on #49175
The PR https://github.com/tensorflow/docs/pull/1900 did not solve this issue.  The installation instructions still refer to out-of-date libraries.  Section https://www.tensorflow.org/install/gpu#install_cuda_with_apt instructions still refer to CUDA 11.0, not 11.2 as the first half of docs specify.

This: https://github.com/tensorflow/tensorflow/issues/49855#issue-905015666 is currently the only s

[2021-09-17 22:21] jhelsas opened #52049 "Can't run prunning with XNNPack"
I am having the following error trying to prune an Efficientnet B1 network, but I am unable to understand even what it is referring to:

    Could not find `Conv2D 3x3` layer with stride 2x2, `input filters == 3` and `VALID` padding and preceding `ZeroPadding2D` with `padding == 1` in all input branches of the model

I am calling tfmot.sparsity.keras.prune_low_magnitude with the following args:

[2021-09-17 22:51] duncanriach commented on #47174
Update: MR [51920](https://github.com/tensorflow/tensorflow/pull/51920) adds determinism-unimplemented exception-throwing to `tf.nn.depthwise_conv2d`. This will be included in the TF 2.7 release. Meanwhile, you can try the latest determinism functionality in top-of-tree by using the `tensorflow/tensorflow:nifgtly-gpu` Docker container image.

[2021-09-17 23:02] angerson commented on #39232
@tarmath Can you also try out `tensorflow/tensorflow:nightly-gpu`? Those have picked up the changes, while the other main ones will get updated once the next TF release happens.

[2021-09-17 23:57] nouiz commented on #48545
Thanks for this long description.
I suppose that you tried cuda_malloc_async due to OOM with TF 2.7.
cuda_malloc_async won't help if the model isn't deleted.

Note, in your example, you use the first time partial_x_train and partial_y_train. But the second time you use x_train and y_train that are bigger. So the next time, it is normal that it request more memory. And so maybe the OOM is a real OO

[2021-09-18 00:08] sumitbinnani commented on #51827
Tracking in keras-team/keras#15324

[2021-09-18 00:08] #51827 closed

[2021-09-18 00:11] mohantym commented on #33759
Hi @nedbat, Found some articles of unit testing and code coverage of Tensorflow codes , It indicates use of **tf.test api** .Attaching below for reference .
https://theaisummer.com/unit-test-deep-learning/
https://www.tensorflow.org/api_docs/python/tf/test/Benchmark
https://github.com/tensorflow/docs/blob/master/site/en/community/contribute/tests.md

[2021-09-18 01:17] multiverse-tf commented on #52042
@Maratyszcza just fyi.

[2021-09-18 01:23] multiverse-tf commented on #52042
Thx for reporting this! Could you help find the culprit commit? As @yyoon mentioned, we recently enabled XNNPACK backend by default on iOS (see 6fa4ddfd459386d9fa32ce5c19813f9aff56ae2a and 418156b52654f66b0286096cf8f58531f7473b1d for details). It's possible one of these two commits has caused this issue.

[2021-09-18 01:36] lu-wang-g commented on #37418
@Alfyu07 Yes, please see my answer [here](https://github.com/tensorflow/tensorflow/issues/35211#issuecomment-871618298).

[2021-09-18 01:37] Saghar-H commented on #44986
Unfortunately, It didn't solve my problem and it stops with this message: "Killed" :(

[2021-09-18 02:47] retonym commented on #51991
@Saduf2019 Sure. We will create the PR, once it is ready

[2021-09-18 02:48] #52024 closed

[2021-09-18 02:53] deshiyan1010 opened #52051 "Nested list of feature not accepted by tf.from_tensor_slices"
I'm trying to create a Dataset object with the following record structure and the code:
[code]
[code]
[code]
I converted to NumPy and I got the following error:
[code]
Without having the category list (the list inside the list), the Dataset object is created, exactly how I want it to.

How do I create a Dataset object with a list of features in it?

[2021-09-18 03:44] jshu12 opened #52053 "loss=nan issue in Tensorflow 2"
There is a bug in Tensorflow 2 that happens when all of the following conditions are met:
1.	Multi-GPU is enabled.
2.	Custom loss function is used.
3.	The number of training samples is not an integer multiple of the batch size (e.g. 3 training samples and a batch size of 2).

Under these conditions, you'll end up with a nan loss.
(The bug also happens if you use multiple GPU cards with batch_size=

[2021-09-18 04:12] LukeBolly opened #52054 "TF probability cannot broadcast last batch dimension if event_shape is not a scalar"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling

[2021-09-18 05:31] adsampaigncc commented on #22926
#22926

[2021-09-18 05:32] deshiyan1010 commented on #52051
[code]

This worked

[2021-09-18 05:32] #52051 closed

[2021-09-18 07:16] harisushehu commented on #44107
save_freq was called period in the previous version

[2021-09-18 07:33] ajohnson114 opened #52055 "Autograph could not transform ... will run it as is"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.5.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: MacBook Air 2020
- TensorFlow installed from (source or binary): These instructions: https://towards

[2021-09-18 09:57] starboyvarun opened #52057 "ValueError: ('Input has undefined rank:', TensorShape(None))"
[code]
Why I am getting this error,I checked all the docs of tfs.
![3](https://user-images.githubusercontent.com/26819449/133884934-1a3c2cfe-a763-4279-a48b-9ec5e7a18a74.JPG)

[2021-09-18 10:54] Saduf2019 commented on #52036
@bestmatthew
You may refer to similar solved issues: [link](https://stackoverflow.com/questions/58012741/error-importing-tensorflow-alreadyexistserror-another-metric-with-the-same-nam),[link1](https://discuss.tensorflow.org/t/alreadyexistserror-another-metric-with-the-same-name-already-exists/3787),[link2](https://github.com/tensorflow/tensorflow/issues/32574)

[2021-09-18 11:09] LukeBolly commented on #52054
I just noticed the error is actually on broadcasting on a BatchReshape layer. Is there a workaround for this until it is implemented?

[2021-09-18 11:11] Vadim-Maklakov commented on #48545
First cell code in the Jupyter Notebook was silver bullet
[code]
but elephant doesn't take off...
In the TF 2.5.1 I can and not delete this simple model  - I get only warning message.

[2021-09-18 11:21] tilakrayal commented on #52043
@Beliefuture ,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.Also please try to downgrade the numpy version and try installing latest stable tensorflow v2.6 from [here](https://www.tensorflow.org/install).It helps.Thanks!

[2021-09-18 11:33] Beliefuture commented on #52043
Thanks for your reply. It seems to be the version of numpy, pyzmq, h5py. I previously think that "conda" will manage the version dependency well. But it is apparently not.

[2021-09-18 14:16] ringw commented on #20283
Thanks -- I don't have full context into how this is being used, but the first pass is definitely complete.

[TensorFlow Probability](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/TruncatedNormal) is still intended to be the entry point for the more general (arbitrary bounds) distribution; the kernel for this was originally implemented in TensorFlow proper.

[2021-09-18 15:26] vanajareedy0426 opened #52058 "Issue with tensorflow lite interpreter"
`import tensorflow as tf
import tensorflow_datasets as tfds
(ds_train, ds_test), ds_info = tfds.load( 'mnist',
split=['train', 'test'],
shuffle_files=True,
as_supervised=True,
with_info=True,
)
def normalize_img(image, label):
return tf.cast(image, tf.float32) / 255., label

ds_train = ds_train.map(normalize_img, num_parallel_calls=tf.data.experimental.AUTOTUNE)
ds_train = ds_train.cache()
ds_trai

[2021-09-18 15:32] code-wangshuyi opened #52059 "keras load_model not working"
1. Tensorflow Version 2.4.0
2. Ubuntu 20.04
3. Python 3.8.5

I have two projects. Use the same training code. One is for one gpu training (Project A), the other one is for  two gpus training (Project B). And these two projects in different paths.

When I use Project A get trained model   C   in Project B path for prediction, Most of  the results is simillar . But When use  model C from  Project A

[2021-09-18 15:50] code-wangshuyi commented on #52059
It was just like not load trained weight. And the model wat initialized with randem weight.

[2021-09-18 18:40] #25252 closed

[2021-09-18 20:20] ymodak commented on #50504
This question is better asked on [TensorFlow Forum](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2021-09-18 20:20] #50504 closed

[2021-09-19 00:34] michal-demecki commented on #44046
@ymodak any updates on this? Unfortunately, flat_map hack does not work with dict.

[2021-09-19 05:04] jiayugedede commented on #51963
I have saw the gist, I will find the way to solute it, all is well, never mind.

[2021-09-19 06:30] nsssayom commented on #42738
To get rid of this non-fatal warning use this command:
`for a in /sys/bus/pci/devices/*; do echo 0 | sudo tee -a $a/numa_node; done`

For details go to [this question](https://stackoverflow.com/questions/44232898/memoryerror-in-tensorflow-and-successful-numa-node-read-from-sysfs-had-negativ) in stackoverflow.

[2021-09-19 07:44] akankshaaa13 opened #52060 "ValueError: Shapes (None, 8) and (None, 7) are incompatible"
ValueError: in user code:

    /usr/local/lib/python3.7/dist-packages/keras/engine/training.py:853 train_function  *
        return step_function(self, iterator)
    /usr/local/lib/python3.7/dist-packages/keras/engine/training.py:842 step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    /usr/local/lib/python3.7/dist-packages/tensorflow/python/distribute/dist

[2021-09-19 09:37] Saduf2019 commented on #37495
@adamw96
please refer to the [latest execution](https://colab.research.google.com/gist/Saduf2019/f4cf2ba9296f4e7e3376d7eb35cb0f1e/untitled638.ipynb) on tf nightly and confirm if the issue is resolved

[2021-09-19 11:24] sushreebarsa commented on #52060
@akankshaaa13
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-09-19 11:45] szutenberg commented on #52060
Hi @akankshaaa13 ,

In `OneD_CNN(input_shape)` you have:
`model.add(Dense(7))`
It should be:
`model.add(Dense(8)) `

[2021-09-19 11:47] jgehw commented on #46566
Interestingly, I didn't have this error half a year ago when this issue was raised, but now I can reproduce it, with latest versions, i.e. tensorflow 2.6 and bazel 3.7.2. I even tried bazel 4.1 (in case this was fixed there but not backported to v3.x) by increasing the max-allowed-version beyond 3.99.0 in tensorflow/configure.py.

[2021-09-19 11:49] sushreebarsa commented on #34697
@Edwin-Koh1 Could you please let us know if this issue is resolved for you ? If it is resolved please feel free to move this ticket to closed status .Thank!

[2021-09-19 13:41] yanzxcasdqwe opened #52061 "GPU delegate problems in tensorflow-lite in android studio"
hello everyone! I'm new in the community so please bear with me. I would like to get some help with my problem that I've been stuck in for a while now. I get an error when I run my app in android studio and through my mobile phone. I am following ElectroCode's tutorial videos in making sign language recognition app on youtube.

This is my error log:

		E/AndroidRuntime: FATAL EXCEPTION: Thread-4

[2021-09-19 14:10] bastienjalbert commented on #45946
Got almost exactly the same. With Conv2D. It causes that 7go of memory are fried, even if the network need no more than 200Mo to run...

![image](https://user-images.githubusercontent.com/12199444/133930589-8ee0aeb7-7b7a-4587-98b8-ca8a82250ec8.png)
![image](https://user-images.githubusercontent.com/12199444/133930604-2f90851e-550e-40a6-8594-b35362595b81.png)

Does anybody have found a solution or

[2021-09-19 14:30] reuvenperetz commented on #50992
Hi @daverim,
When I remove the second fake-quant layer from the model, I get similar results.
Does the assumption on correct min/max ranges hold for all fake-quant layers in the model or just the one that quantizes the input?
And if so (it holds for all fake-quant layers), what happens if I trained my model poorly so the ranges are not correct? Does that mean that in this case, the layer's output

[2021-09-19 14:33] Saduf2019 commented on #37479
@padoremu
Can you please try on latest tf version and in case the issue persist.

Please post this issue on keras-team/keras repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-09-19 14:35] nouiz commented on #48545
Your issue is different then this one and I do not think cuda_malloc_async can help you. You should make another issue for your problem.

[2021-09-19 14:39] Saduf2019 commented on #36985
The issue is still reproducible on tf 2.7, [nightly](https://colab.research.google.com/gist/Saduf2019/441a7724c4586d488007fff3f2be86e8/untitled638.ipynb) version

[2021-09-19 14:44] Saduf2019 commented on #37245
This issue is still reproducible on tf 2.7-[nightly](https://colab.research.google.com/gist/Saduf2019/726eb43542712e0a4320a2a3cb9ae557/untitled638.ipynb) version.

[2021-09-19 14:49] Saduf2019 commented on #37405
@adisurtya
As the reported error has been resolved, can you please open this issue in keras repo
Please find [the gist here](https://colab.research.google.com/gist/Saduf2019/032fdba77d9ae7c66b99f21f6a293f6e/untitled638.ipynb) for the new error.

Please post this issue on keras-team/keras repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-gi

[2021-09-19 14:50] Saduf2019 commented on #37382
@damirtm
Could you please try on the latest version and let us know if this is still an issue.

[2021-09-19 14:52] Saduf2019 commented on #37428
The issue is [reproducible](https://colab.research.google.com/gist/Saduf2019/fee018f83d3d4fce82b44612972f55d7/untitled638.ipynb) in tf nightly 2.7 as well.

[2021-09-19 15:55] #20628 closed

[2021-09-19 15:55] #20369 closed

[2021-09-19 15:55] #19041 closed

[2021-09-19 15:55] #21622 closed

[2021-09-19 15:55] #21644 closed

[2021-09-19 15:55] #24982 closed

[2021-09-19 15:55] #34558 closed

[2021-09-19 15:55] #34612 closed

[2021-09-19 16:09] AfvanMoopen commented on #27267
same here tf.disable_v2_behavior() is not working ?

[2021-09-19 17:08] TriangularFarOutPoint opened #52062 "NotFoundError: NewRandomAccessFile failed to Create/Open: images/labelmap.pbtxt : The system cannot find the file specified; No such file or directory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-09-19 17:23] Vadim-Maklakov commented on #48545
Formally GT1050 (sm_61) support CUDA 11.4 toolkit - hence `silver bullet` code must work correctly with TF2.7.0-dev and clear GPU memory when delete old object.

[2021-09-19 17:41] Saduf2019 commented on #51996
@EricTheRed20
We have created a CL for this once the CL is closed, we will update this issue to resolved.

[2021-09-19 17:46] Saduf2019 commented on #51523
@1148330040
PLease refer to these similar links : [link](https://stackoverflow.com/questions/49294326/expanding-a-tensor-by-another-one-with-different-dimensions-in-tensorflow), [link1](https://developpaper.com/question/how-do-tensors-of-different-dimensions-of-tensorflow-merge/),[link2](https://jovian.ai/aiwithsreekanthrshekar/merging-tensors-5-functions-you-should-be-aware-of)

You may open an i

[2021-09-19 18:16] Saduf2019 commented on #28863
@ nguyenhuy3588
Could you please verify on the latest tf version and let us know if this is still an issue as many bugs have been fixed since this has been reported.

[2021-09-19 20:08] lugalUrim opened #52063 "tf.math.unsorted_segment_sum does not validate input on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-09-19 20:52] franckma31 commented on #51989
No comment. As I said even if on this simple example, you can verify on the colab that it does work on 2.6, for my project I can not upgrade to 2.6 and I do think that  such a bug should be fixed even for 2.4, it may lead to false results in publications, or industrial products. Regards

[2021-09-19 23:12] MagicianBilly commented on #33285
This works for me

[2021-09-20 01:47] JiashuGuo commented on #51404
Yes, it works.

[2021-09-20 01:56] mohantym commented on #51997
Hi @sanatmpa1 ,Could you please look into this issue?

[2021-09-20 03:29] sjtusmartboy commented on #51839
@sushreebarsa @Saduf2019 @ymodak Please take this issue seriously because the memory issue is intolerant in any product. I still remember in my university class, my C++ teacher gave the low mark in the final exam because of forgetting to free the memory. I would also say that if I do not treat the memory issue seriously in the company, my boss would fire me. So I hope tensorflow would and should b

[2021-09-20 03:40] zfeilongzaitian commented on #52032
sorry replay for so later, I found the reason,because i make a batch_size too big, so it use too much memory

[2021-09-20 03:55] mohantym commented on #52032
ok @zfeilongzaitian , Thanks for replying! Please Feel free to close this one and create a new one if you face any problem. Thanks!

[2021-09-20 04:28] mohantym commented on #52058
Hi @vanajareedy0426 ,
Could you please fill the issue template,  as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-20 04:31] mohantym commented on #52061
Hi @yanzxcasdqwe !
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-20 04:39] akankshaaa13 commented on #52060
Hi @szutenberg
It worked Thankyou so much!!

[2021-09-20 04:39] #52060 closed

[2021-09-20 04:50] vanajareedy0426 commented on #52058
Tensorflow version is 2.5.0
entire code is given above. Once I got the mode. h5 , then I'm converting it into tflite .

tflite conversion is successful . And I'm trying to use that .tflite model and get output (inference)
`interpreter = tf.lite.Interpreter(model_path="./assignment.tflite")
interpreter.allocate_tensors()
 input_details = interpreter.get_input_details()
output_details = interpreter.

[2021-09-20 05:10] #52059 closed

[2021-09-20 06:25] mohantym commented on #52058
@vanajareedy0426 , I was different error in model.fit() operation , attaching [gist](https://colab.research.google.com/gist/mohantym/55b7ee284c7c0d25accb49880a05657c/github_52058.ipynb) for reference. The error stack trace was similar to this [issue ](https://github.com/tensorflow/tensorflow/issues/50397). Could you provide a colab gist with above Error stack trace?

[2021-09-20 06:49] sushreebarsa commented on #43073
@noamfreeman @piisku78 Reopening this issue as the problem still persists as per the [comment](https://github.com/tensorflow/tensorflow/issues/43073#issuecomment-910000033).Thanks!

[2021-09-20 06:49] hallowcard13 commented on #51591
I'm Having the same issue. I hope they can figure it out ASAP :)

[2021-09-20 07:13] Flamefire commented on #41806
SWIG no longer used. Closing

[2021-09-20 07:13] #41806 closed

[2021-09-20 07:34] tilakrayal commented on #52046
@NikoRepo ,
I was able to execute the code in tf v2.6 without any error.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/932c367339126a9f5dcecb17a9c10bee/untitled79.ipynb).Also please find this [comment](https://github.com/tensorflow/tensorflow/issues/50837#issuecomment-882476390) from the issue with similar error.It helps.Thanks!

[2021-09-20 07:53] Petros626 commented on #51950
@sushreebarsa  hey sorry i was very busy.. if i understand you correctly, you want the link to run the tutorial on jupyter notebook?

[2021-09-20 07:55] #51820 closed

[2021-09-20 07:55] #27617 closed

[2021-09-20 08:03] mohantym commented on #23536
Hi @pnik073 ,
We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. Thanks!

[2021-09-20 08:09] r4nt commented on #33975
We pass -no-canonical-prefixes and -no-canonical-system-headers so gcc does not resolve symlinks. If gcc still resolves symlinks, I'd be curious what happens.
Can somebody create a Dockerfile that I could use to debug that ends with this error?

[2021-09-20 08:13] Flamefire commented on #33975
Where? Not in https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl#L268 as far as I can tell

[2021-09-20 08:57] sushreebarsa commented on #52031
@edwardyehuang
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here and provide some more details on this issue. Thanks!

[2021-09-20 09:25] ageron commented on #34697
@adriangb you're right, both the joblib and pickle code examples work with tf-nightly (while only the joblib example worked in 2.6.0). 👍

[2021-09-20 09:36] tilakrayal commented on #52026
@ReetuData ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-09-20 09:42] Saduf2019 commented on #52062
@TriangularFarOutPoint
please share the error in text so it will benefit any other user with similar error. [Also please upgrade your tf version to tf 2.4.1/2.5]
You may refer to these issues and let us know:[link](https://github.com/tensorflow/models/issues/6595),[link1](https://github.com/tensorflow/tensorflow/issues/14905)

[2021-09-20 09:55] #20142 closed

[2021-09-20 09:55] #29236 closed

[2021-09-20 10:04] ebraraktas opened #52064 "TF Lite `Conv1D` conversion bug"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Big Sur 11.4 and Ubuntu 18.04 LTS on Colab machine
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.3.0 and 2.6.0

### 2. Code

This notebook demonstrates the bug with the simplest example I came up with.

[2021-09-20 10:17] sushreebarsa commented on #52048
@shelkesagar29 Could you please confirm if this issue is related tensorboard ? If so please post this issue in [tensorboard repo](https://github.com/tensorflow/tensorboard/issues).Thanks!

[2021-09-20 10:20] chandu8542 commented on #23715
I was having similar issue. I had an old version of cudnn (8.0.4) somewhere in `/usr/lib` and `LD_LIBRARY-PATH` was set in `.bashrc` and somehow still referring the old version of cudnn. If you re getting this error, check if you have an old version of cudnn somewhere.  So what I did was added a `conf` file in `/etc/ld.so.conf.d/ and did `sudo ldconfig` so that tf can load cudnn8.2.x . Surpringly,

[2021-09-20 10:24] Saduf2019 commented on #52057
@starboyvarun
please paste your error in text as it will be easy for anyone to look it up. We see that you have not filled the issue template, it will be easier to help you if the issue template is filled.
You may refer to similar issues and let us know: [link](https://stackoverflow.com/questions/43480732/none-dimension-raise-valueerror-in-batch-norm-with-tensorflow)

i ran the code shared and fac

[2021-09-20 11:07] mohantym commented on #52054
Hi @sanatmpa1 ,Could you please look into this issue?

[2021-09-20 11:11] paloha commented on #36128
Thank you @nfelt for getting back to this issue, I was wondering if somebody picks it up eventually. Good job in the [gist](https://gist.github.com/nfelt/0ae51ba3eb901b3438d9eab9a7ca4d16) and thx for the conclusions. :clap:

[2021-09-20 11:24] sanatmpa1 commented on #38919
@yongtang,

Can you try updating to latest stable version i.e `2.6.0` and let us know if the discrepancy exists even in newer version? Thanks!

[2021-09-20 11:24] kumariko commented on #27537
Was able to reproduce the issue in Tensorflow 2.6, please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/f15da65211c5ad2f892a32064337b8e1/27537.ipynb#scrollTo=zLBTcNFUN8dA).

[2021-09-20 11:31] vanajareedy0426 opened #52065 "Issue with weight clustering API -Error : Tried to expand dim index 4 for tensor with 3 dimensions. [Op:ExpandDims]"
This template is for miscellaneous issues not covered by the other issue categories.

https://colab.research.google.com/drive/1ID38NAluH0FA0d4G2kSaKZo4C5IinHlh#scrollTo=PzHWGU72831C

Hi , Please use the above link for the reference code.
I did some experiments with weight clustering method . I could able to do with some layers like Dense, Conv2D.
But , my model consists of Conv1d layers and one us

[2021-09-20 11:45] miguelCalado commented on #32546
Hi,

I have a similar problem where I'm trying to iterate over a tensor in eager mode but I can't.

Naturally, you would do something like:

[code]

But this gives the error ```OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed:```

Another thing that I tried was:

[code]

Gives the error ```ValueError: The two structures don't have the same nested structure.```

[2021-09-20 11:55] #35405 closed

[2021-09-20 12:20] puneeshkhanna commented on #51877
Hope the issue is clear now.

[2021-09-20 12:20] starboyvarun opened #52066 "SyntaxError: positional argument follows keyword argument"
[code]
![4 1](https://user-images.githubusercontent.com/26819449/134000933-2fcf9fdb-cdd6-4663-a5cb-b76f5691ba04.JPG)
![4 2](https://user-images.githubusercontent.com/26819449/134000944-17c2f7be-99b9-492c-ae3e-e55bea84537f.JPG)

This is from documentation:
![image](https://user-images.githubusercontent.com/26819449/134001112-2940bf65-c4fb-4546-a737-2e70986faacf.png)
 Is this is a bug ??

Thanks!

[2021-09-20 12:24] samanemami opened #52067 "Memory Consumption | Boosting model"
<em> This is an issue related to performance of [TensorFlow.BoostedTree](https://www.tensorflow.org/tutorials/estimator/boosted_trees)</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint
- TensorFlow installed from (source or binary): pip
- TensorFlow

[2021-09-20 12:30] sanatmpa1 commented on #38437
@marcoadurno,

Here is the [link](https://www.tensorflow.org/install/source_windows#tested_build_configurations) to find tested build configurations, which contains compatible version of MSVC and other tools while building Tensorflow from source on Windows.

Can you try updating to `TF 2.6.0` using this [guide](https://www.tensorflow.org/install/source_windows) and let us know if the issue persist

[2021-09-20 12:38] sliu729 opened #52068 "Loss output gives Nan in Linux but gives normal values in Windows"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-09-20 12:43] #52043 closed

[2021-09-20 12:55] #51835 closed

[2021-09-20 12:56] nouiz commented on #48545
There can be many different causes to OOM errors. So there can't be a silver bullet solution.
The problem you hit is that TF doesn't call the free on some GPU memory.

This issue is a different one. It is about how TF memory allocator works. cuda_malloc_async add the feature requested in this issue.
Your problem is something totally different then how allocator itself behave, it is how TF behave.

[2021-09-20 13:29] starboyvarun commented on #52057
@Saduf2019  Thank you so much for the gist. I solved the particular error.

[2021-09-20 13:29] #52057 closed

[2021-09-20 13:41] sanatmpa1 commented on #36331
@mania25,

We are checking to see if you still need help on this issue. Can you try building latest stable version i.e `TF 2.6.0` from source using this [guide](https://www.tensorflow.org/install/source) for MacOS, and let us know if the issue still persists in newer versions.Thanks!

[2021-09-20 13:46] sanatmpa1 commented on #36170
@dbonner,

We are checking to see if you still need help on this issue. Can you try building the latest stable version of TF i.e  `2.6.0` using this [guide](https://www.tensorflow.org/install/source) and let us know if the issue still persists in newer versions.Thanks!

[2021-09-20 13:47] sushreebarsa commented on #22631
@mutiann
We see that you are using old version of tensorflow 1.x which is out of support window, We recommend that you upgrade to 2.6.0  and let us know if the issue still persists in newer versions .Thanks!

[2021-09-20 13:48] dbonner commented on #36170
It's resolved. thanks

On Mon, 20 Sep 2021, 11:46 pm Sanat, ***@***.***> wrote:

[2021-09-20 13:48] sushreebarsa commented on #23566
@davidenunes We see that you are using old version of tensorflow 1.x which is out of support window, We recommend that you upgrade to 2.6.0  and let us know if the issue still persists in newer versions .Thanks!

[2021-09-20 13:49] Saduf2019 commented on #52057
@starboyvarun
Thank you for your update, Glad your issue is resolved.

[2021-09-20 13:51] sushreebarsa commented on #23780
@aidanw95
It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Thanks!

[2021-09-20 13:52] sushreebarsa commented on #23900
@SumNeuron We see that you are using old version of tensorflow , We recommend that you upgrade to 2.6.0  and let us know if the issue still persists in newer versions .Thanks!

[2021-09-20 13:54] sanatmpa1 commented on #36170
@dbonner,

Thank you for your update, kindly move this issue to closed status as it is resolved.

[2021-09-20 13:57] kumariko commented on #28072
Was able to reproduce the issue in TF v2.6 ,please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/bd0c2bfddb14e33608ebffa925f1af8d/untitled.ipynb#scrollTo=SaYpR6xGi_lH)..Thanks !

[2021-09-20 13:58] mohantym commented on #52066
Hi @starboyvarun !
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-20 14:10] tilakrayal commented on #51979
@somelaoda ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-09-20 14:11] mdanatg commented on #51642
CuPy, like NumPy, is dependent on a Python runtime to run. When executing a tf.function, there is no such Python runtime - all ops are compiled into a graph that is executed inside the TF executor, which isolated from Python.

To mix such Python-reliant ops into the TF graph, you can use [py_function](https://www.tensorflow.org/api_docs/python/tf/py_function):

[code]

cc @yuefengz

Note however t

[2021-09-20 14:17] SumNeuron commented on #23900
My apologies if this seems a bit jaded, but this issue opened almost three years ago (at the time when estimators were not more or less tossed aside in favor of Keras).  It only required a `clear_devices` flag be lifted from lower layers to higher layers.

Googling:

https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/exporter.py#L165-L365

no, hasn't been add

[2021-09-20 14:18] sanatmpa1 commented on #34719
@RafayAK,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions.

You can use this [guide](https://www.tensorflow.org/install/docker) for your reference.Thanks!

[2021-09-20 14:23] elfringham opened #52069 "bazel test //tensorflow/tools/docs:tf_doctest fails on aarch64"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-09-20 14:23] sushreebarsa commented on #51950
@Petros626  Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists?  If so please provide the code snippet or colab gist in order to reproduce the issue . Thanks!

[2021-09-20 14:24] tilakrayal commented on #51877
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.5, v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/a58301ba706b73c67166dd4686761e33/unti51877.ipynb).

[2021-09-20 14:27] elfringham commented on #52069
@cfRod
@nSircombe

[2021-09-20 14:27] tgpsantos commented on #33303
We've tried it and it looks like it's fixed :) Thanks!

[2021-09-20 14:51] shayantabatabaee commented on #33303
Yes I tested it ,and it seems to be fixed
Thanks

[2021-09-20 14:51] #33303 closed

[2021-09-20 15:10] tilakrayal commented on #33566
@mmalekzadeh ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-20 15:12] tilakrayal commented on #33113
@victorflorintsev ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-20 15:13] tilakrayal commented on #32918
@PgLoLo ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-20 15:43] mohantym commented on #52058
But the above Colab link is restricted and asking permission , Could you please share the same as a Colab Gist.

[2021-09-20 15:48] jawj commented on #51591
From eyeballing the data, it looks rather like the order of the output tensors has changed.

I can make the thing run to completion by swapping around the indices in middle section of `detect_objects` as follows:

[code]

That said, I'm getting utterly useless detection results out of this, and I haven't yet figured out why, so there may be additional underlying problems.

[2021-09-20 15:49] mohantym commented on #35860
Hi @gawain-git-code  , Could you look at this[ thread ](https://forums.developer.nvidia.com/t/cupti-has-no-sufficient-privilege/144565/2)for answer ?

[2021-09-20 15:55] #51838 closed

[2021-09-20 16:23] pGit1 commented on #40027
@AlexWang1900 How did you do this? I am struggling right now. I am testing a system with A100s and being forced to use:
`tf.distribute.HierarchicalCopyAllReduce()` or `tf.distribute.ReductionToOneDevice()` to get my code to work. Doing this though makes my TF code behave very slowly compared to an older system I benchmark against.

[2021-09-20 16:27] sanatmpa1 commented on #52011
@Harrelix,

As you mentioned the OS as `Windows`, Can you clarify if you're following this [guide](https://www.tensorflow.org/install/source_windows) to install TF from source?

From the issue description, I can see that you've mentioned that you followed this [link](https://www.tensorflow.org/install/source) which actually belongs to `Linux/MacOs`.

[2021-09-20 16:36] rainwoodman commented on #51839
Hi,

Thanks for the investigation.

This looks like a known issue, https://github.com/tensorflow/tensorflow/issues/35084 which was closed due to inactivity.

The error is caused by py_function creating a new entry in tape_cache on every call, where it stores a new reference to the input arguments and the function for tape. The tape_cache entry is consumed (via popping) during gradient calculation.

[2021-09-20 16:40] sanatmpa1 commented on #52030
@ArunaKote,

As you're using `2.7.0-dev20210831` which is the nightly-version and not a stable release, Can you clarify if the same issue exists even in `2.6.0`?

[2021-09-20 16:53] mchinen commented on #39467
I think this should be reopened due the rollback of #51923.

[2021-09-20 16:55] #51727 closed

[2021-09-20 17:13] karimnosseir commented on #52041
Hi @lzc16

Looks like you're trying to run with Flex and you get this failure. Can you share the original saved model and the conversion command/script you used.
Or if you have a small reproduce sample please share it

Thanks

[2021-09-20 17:42] vulkomilev commented on #52068
can you provide the code ?