[2017-09-18 04:47] serendipity24 commented on #13031
@everybody, along the lines of suggestions by @reedwm ,the following steps seems to have solved the issue :
  1. Install anaconda for python
  2. Compile tensorflow from the source

A few errors crop up during training as @daemon mentioned above due to incompatibility of train.py with Python 3. It has to do with the usage of map and xrange in particular.(while calculating len, len(list( )) has to

[2017-09-18 05:11] daemon commented on #13031
Yep, https://github.com/tensorflow/tensorflow/pull/13111 should fix it.

[2017-09-18 05:13] derekhh commented on #13050
@tfboyd - Thanks for the reply. I definitely understand that everyone can and will make mistakes. :)

I really appreciate the great documentation and work TensorFlowers like you have brought to the community.

[2017-09-18 05:50] AakashKumarNain opened #13112 "Feature Request: API for weights values conversion"
It would be very nice if the TensorFlow developers can provide a simple API for converting the weight values, ported from other frameworks like `Theano, Torch, Caffe and Chainer`. A lot of researchers still use these frameworks. Most of the times when an individual convert weights values, obtained from some framework other than TF, the results are not reproducible which is not desirable. Providing

[2017-09-18 06:41] abi-aryan commented on #13102
This worked (just in case somebody comes from a Google search)

`conda install -c conda-forge tensorflow `

[2017-09-18 06:48] w4-kang opened #13114 "Extremely slow first epoch."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**: PIP, tensorflow-gpu==1.2.1
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: Python 3.6.2
- **CUDA/cuDNN version*

[2017-09-18 07:25] yehenrytian commented on #11471
I got the similar (or the same) error when turning on XLA jit for the WDL example: [https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/examples/learn/wide_n_deep_tutorial.py](https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/examples/learn/wide_n_deep_tutorial.py)

[code]
I tried to use a newer stable version of LLVM in: `workspace.bzl`:
[code]
But the problem still exist, I

[2017-09-18 07:37] EMCP commented on #13066
Will give these a run through, thank you.  Would a PR with the steps outlined in here be helpful?  Either in master or `master` & `r1.3` ?

[2017-09-18 07:38] piskvorky commented on #13048
@cy89 do you know of a more optimized implementation of word2vec in TensorFlow (less tutorial-ish, more to be used directly as-is)?

[2017-09-18 07:47] meteorcloudy commented on #12524
Fixed by https://github.com/tensorflow/tensorflow/pull/12603

[2017-09-18 07:47] #12524 closed

[2017-09-18 07:59] yslai commented on #13106
This is usually due to GitHub's hash change, and you not downloading from mirror.bazel.build successfully (therefore falling back to GitHub and picking up the changed hash):

[code]

[2017-09-18 08:01] shreyneil commented on #13082
You can make your customized activation function.
Follow the link as a guide to do it.

https://stackoverflow.com/questions/39921607/how-to-make-a-custom-activation-function-with-only-python-in-tensorflow

[2017-09-18 08:17] darkbridge opened #13115 "Build problem :Configurable attribute "copts" doesn't match this configuration"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux pine64 3.10.104-2-pine64-longsleep aarch64 aarch64 aarch64 GNU/Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:1.3.0-rc0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:0.4.5
- **CUDA/cuDNN version**: no
- **Exact command

[2017-09-18 08:28] DaoD commented on #6996
@ebrevdo Sorry for bother you. A small question that if this seq2seq module provide a way to avoid generate unknown words when infer from new input?
Just like, when _unk is the word with highest probability, simply choose the second one to replace it.
Or some other methods to avoid generating unknown words?
Thanks so much.

[2017-09-18 08:38] luchensk opened #13116 "tensorflow.python.debug.cli.offline_analyzer failed to read debug data from HDFS filesys"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0 from master branch
- **Python version**: Python 2.7.12 (default, Nov 19 2016,

[2017-09-18 09:18] soma11soma11 opened #13117 "'DNNClassifier' object has no attribute '_train_model'"
I got an error saying "'DNNClassifier' object has no attribute '_train_model'" when I run this.

[code]

[2017-09-18 09:43] luchensk commented on #13116
I will close the issue at first because I find another issue after replaced `ns1` with `hostname:port` in hdfs path, and then would file another issue if needed, thanks.

[2017-09-18 09:43] #13116 closed

[2017-09-18 10:10] soma11soma11 commented on #13117
I upgraded my tensoflow to 1.3 and it worked!

[2017-09-18 10:10] #13117 closed

[2017-09-18 10:21] Sixigma opened #13118 "Can't freeze .pbtxt to .pb file : Multiple OpKernel registrations match NodeDef after compiled android_arm .so"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.5.4
-

[2017-09-18 10:27] jitukmr10 opened #13119 "Tensorflow installation"
I am installing tensorflow on window machine with the help of Python (version python-3.5.4-amd64).

Command use to install tensorflow  :- pip3 install --upgrade tensorflow

Bellow error getting in Import tensorflow command.

Traceback (most recent call last):
  File "C:\Program Files\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    ret

[2017-09-18 10:34] zzeric opened #13120 "PermissionDeniedError when save model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution: Win7
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: tensorflow-gpu 1.3.0
- **Python version**: python 3.6 64bit
- **CUDA/cuDNN version**: 8.0/6.0
- **GPU model and memory**: GTX 1050Ti 4

[2017-09-18 11:06] vaibhavsood opened #13121 "array_elementwise_ops_test_cpu_parallel test failure on ppc64le"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-18 11:16] stefbraun commented on #6620
could somebody give a code example for the workaround, please?

[2017-09-18 11:25] #12998 closed

[2017-09-18 11:53] mausoomsarkar commented on #6698
@SimonWalsh1000 That worked!! thanks

[2017-09-18 12:21] luchensk opened #13124 "tensorflow.python.debug.cli.offline_analyzer failed to read debug data from HDFS filesys"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0 from master branch
- **Python version**: Python 2.7.12
- **Bazel version (if

[2017-09-18 12:34] dmacvicar commented on #13061
@CDLuminate Archilinux has it because they [are not building it, they are packaging it](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/bazel), which means they are not applying any distribution policies to the build process (build from source, ability to patch, legal review of the sources, etc). Which is *exactly* my point. The package you install may have been bui

[2017-09-18 13:08] Reavern opened #13125 "Tensorflow froze 2 variables & converted to const ops"
Hi there,
I'm new to Python & Tensorflow. Im using raspbian9 (stretch) & Python 2.7.13.

When i run retrain.py from the examples provided using these code:

`python retrain.py --bottleneck_dir=tf_files/bottlenecks --how_many_training_steps=50 model_dir=tf_files/inception output_graph=retrained_graph.pb output_labels=retrained_labels.txt --image_dir=img --input_binary=true`

There are no outputs fo

[2017-09-18 13:10] eyaler opened #13126 "installing tensorflow to a local folder results in import error with realtive paths"
this is on linux with python 3.6.2 and tf 1.3
i install tensorflow into a folder named 'site-packages' inside my project. i then add it to the path with a relative reference. works fine when path is absolute

pip install tensorflow -t site-packages
python
import sys
sys.path.insert(1,"site-packages") # will fail
#sys.path.insert(1,"/home/absolute_path/site-packages") #works
from tensorflow.contrib

[2017-09-18 13:16] UndeadBlow commented on #13013
Seems that some problems with lv2 API or with checking if that is allowed.

Because I got the same bug on Google Nexus 4 with Android 5.1 and on Samsung Galaxy Tab S 10.5 (T805) with Android 7.0. And I fixed it while set
`useCamera2API = true'
in CameraActivity.java:300.

Hope that info will help with fix.

[2017-09-18 13:18] #2134 closed

[2017-09-18 14:54] mrry commented on #13090
I think the problem is that you're trying to load a file in the `SavedModel` format into a `GraphDef` protobuf message, and this is silently failing. While a `SavedModel` may contain one or more `GraphDef` messages, they are not equivalent.

---

Based on a quick look at the [`DirectSession::Create()`](https://github.com/tensorflow/tensorflow/blob/6e7539b8bc7ea1c921ab1865d202e543b80ef539/tensorflo

[2017-09-18 15:29] justinshapiro commented on #13090
Yes, it does look like the session creation is silently failing. I modified the code as follows:

[code]

This prints:

[code]

I don't understand how this can be because inference with the same `SavedModel` works in Python with `tf.saved_model.loader.load`.

[2017-09-18 15:35] yongtang commented on #13097
@ZhongBaby PR #12943 is current under review and I don't have information on when it will be merged. It is a feature/enhancement not a critical bug so I assume it make take time.

[2017-09-18 15:47] mrry commented on #13090
It's valid to create a session with an empty graph, because you can subsequently call `Extend()` on it.

There's a C API for loading a session from a SavedModel, called [`TF_LoadSessionFromSavedModel()`](https://github.com/tensorflow/tensorflow/blob/66eed3646677dc7a8c8e94cd1936b45f6cb3609b/tensorflow/c/c_api.cc#L2223). Note that the C API's `TF_Session` is slightly different from the C++ API's `te

[2017-09-18 15:47] #13090 closed

[2017-09-18 16:09] alex-petrenko opened #13127 "Build Tensorflow on Windows with /MT option"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64-bit
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0 release
- **Python version**: 3.6
- **Bazel version (if compiling from source)**

[2017-09-18 16:20] anight opened #13129 "random crashes while serving multiple frozen models in parallel using go api"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes, I have written custom code

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Linux x86_64 SLES12

- **TensorFlow installed from (source or binary)**:

Source, latest master at the moment

- **TensorFlow version (use command below)**:

('v1.3.0-rc1-2265-g

[2017-09-18 16:45] tlc commented on #12979
I've hit this, too.  Unfortunately I removed my bazel cache as I was trying to figure it out.
Now it seems to fail early on 'gemmlowp'.  None of the WORKSPACE files I can find reference gemmlowp.

Can someone expand on the 'comment out checksum lines' workaround?  Or another workaround?

[2017-09-18 16:47] reedwm commented on #13009
My guess is that your university has some sort of login page before you can access the internet, and that the program is downloading the login page instead of the datasets. Try manually downloading the datasets in a web browser.

Ask on StackOverflow if you have more questions.

[2017-09-18 17:04] amirjamez commented on #13083
I can not see your reply in that thread. Have you deleted it?

On Sat, Sep 16, 2017 at 8:40 PM, Yan Facai (颜发才) <notifications@github.com>
wrote:

[2017-09-18 17:13] thomasjo commented on #12979
@tlc I added the following (temporary) line to one of my Dockerfiles. Note that this completely disables checksum validation, so this is probably a _really_ stupid idea — you have been warned...

[code]

[2017-09-18 17:33] aselle commented on #7108
It does not look like it is in 1.3

[2017-09-18 17:37] 9k37 opened #13130 "Build fails at patch command - different line endings"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 8.1 64bit
- **TensorFlow installed from (source or binary)**:
I'm trying to build from source to use CPU optimizations
- **TensorFlow version (use command below)**:
1.3 cloned from master
- **Python ve

[2017-09-18 18:24] mrry commented on #13127
If I remember correctly, we're using `/MD` by default in order to generate a DLL that's usable as a Python extension. I vaguely recall being able to build the example trainer program with `/MT` in the exploratory stages of the Windows port, but that was before most of the external dependencies were working.

I believe it should be enough to thread the option through to each of the external project

[2017-09-18 18:27] drpngx commented on #12968
Sorry for the delay. What happens when you feed it an unknown shape `num_true`? Do you have a short example / stack trace you could put on pastebin? Thanks.

[2017-09-18 18:52] ekelsen commented on #5460
This was still an issue, but it is now actually fixed.

[2017-09-18 19:26] alex-petrenko commented on #13127
@mrry Thank you for the reply! Okay, I will look into passing the option to the libraries.
Will post here later how it went.

[2017-09-18 19:32] printdhruv commented on #11414
@petewarden How about this?
![unicorn-938646_1280](https://user-images.githubusercontent.com/17731159/30560602-4c7bad60-9c6d-11e7-813f-f40aa5f3ba03.jpg)

[2017-09-18 20:20] tlc commented on #12979
The # of things to comment out is currently small.

Building TensorFlow Serving, I only had to comment out 'gemmlowp'.

Building tensorflow/tools/pip_package:build_pip_package, I only had to comment out 'boringssl'.

[2017-09-18 20:29] printdhruv commented on #13126
@eyaler I guess you have to mention absolute_path not the other way around? By the way,I couldn't understand your concern :)

[2017-09-18 20:39] eyaler commented on #13126
@printdhruv you understood correctly. this is a bug happening only with this module. see the created path: site-packages/tensorflow/contrib/util/site-packages/tensorflow/contrib/framework/python/ops/_checkpoint_ops.so

[2017-09-18 20:49] printdhruv commented on #13126
@eyaler Can you try to print `print sys.path` too see all path information?

[2017-09-18 20:55] eyaler commented on #13126
@printdhruv i checked the path and its find. this contrived path name is created by tf

[2017-09-18 21:02] guoyinwang commented on #9747
@gauravsindhwani, this approach seams working ok for me. I use streaming_accuracy and it seems create many local variable "accuracy", which are no longer used. So remove local_variables seems to be a good way to hack it.

[2017-09-18 21:02] printdhruv commented on #13126
I guess this [link](https://stackoverflow.com/questions/480764/linux-error-while-loading-shared-libraries-cannot-open-shared-object-file-no-s) will help you to understand the differences among using path in a linux.

[2017-09-18 21:07] tycho commented on #13106
Hm, it's frustrating that the hash on the GitHub copy can change.

What kind of retry logic is there around trying to fetch from mirror.bazel.build, in the case of transient errors? If we can't rely on the github copy's hash to validate then we should try really hard not to get that one, I would think...

[2017-09-18 21:19] hfutxrg commented on #12474
Hi @tfboyd , in the benchmark code, one way for variable update is called "independent". This should never not be used in real training, right? Because in real training, all GPUs have to communicate each other to update the gradient. The page https://www.tensorflow.org/performance/performance_models also didn't mention "independent" variable update.

[2017-09-18 22:07] BaruchYoussin opened #13133 "Session.run with fetches = list apparently works incorrectly"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: The problem manifests in a standard tutorial and I wrote custom code to better understand it.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command belo

[2017-09-18 23:01] ppwwyyxx commented on #13133
[code]
is not equivalent to
[code]

This has been discussed many times, e.g. #12863 ,#10860

[2017-09-18 23:09] ppwwyyxx commented on #13114
If each data has different size, TF can spend a large amount of time running cudnn benchmarks for each data and store them in cache. This is probably the reason.
You can `export TF_CUDNN_USE_AUTOTUNE=0` to see if each epoch becomes the same (slower) speed.

[2017-09-18 23:49] w4nderlust opened #13137 "RNN cells parameter naming inconsistency"
In most RNN cells the size is spified by the `num_units` parameter.
This is true for LSTMCell, LSTMBlockCell and GRUCell.
For GRUBlockCell the same parameter is called `cell_size`.
This discrepancy could be problematic in some cases like this code I'm using to create a RNN cell depending on a string parameter passed by the user:

[code]

As this will return an error in case of GRUBlockCell.

The s

[2017-09-19 00:47] zyavrik commented on #12978
Does anybody has success to compile tensorflow with GPU support for Windows?

[2017-09-19 00:52] lisen0 opened #13139 "Where can I get the pre-trained models in slim?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-19 01:13] byronyi commented on #9926
Hi @shamoya thanks for the heads up! I've taken a closer look and it seems to be an unrelated issue in my environment that caused the hang. Btw I've just sent a PR #13140 to remove the sync wrappers in the GDR patch, now it should be a little bit faster.

[2017-09-19 01:22] MattShannon commented on #3638
What about unifying the GPU and CPU implementations of gather by always returning 0 for out-of-bound indices, then having a separate op which checks indices with a CPU-only implementation. That way you get consistent behavior, error propagation if desired and a clean interface.

That would also allow "conditional gather"-type operations relatively easily, where a default value is used for indices

[2017-09-19 01:47] snnn commented on #12978
Hi @zyavrik

Sure. I do it every day. For TF 1.3 release, you don't need any patch to make it work (except the sha256sum). Master branch often breaks.  But, you'd better use Python 3.5 instead, as the support for Python 3.6 is relatively new.

[2017-09-19 01:53] zyavrik commented on #12978
It's impossible to build 1.3 release on CPU with AVX512 support because of different errors.

[2017-09-19 02:30] aureosun opened #13141 "label image run slower and slower?"
Hello ,Everyone
Is there anybody who had ever run the code label_image.py in tensorflow/tensorflow/examples/label_image/label_image.py
I have modify it to run on a dataset and read and calssify image one by one,and as the number of images goes,the speed is slower and slower,at first,that's about ten images per second,and when the number of image goes to 1000,the time is about 7s,Incredibly!and  I

[2017-09-19 02:37] aureosun commented on #12736
Hello ,Everyone
Is there anybody who had ever run the code label_image.py in tensorflow/tensorflow/examples/label_image/label_image.py
I have modify it to run on a dataset and read and calssify image one by one,and as the number of images goes,the speed is slower and slower,at first,that's about ten images per second,and when the number of image goes to 1000,the time is about 7s,Incredibly! I gues

[2017-09-19 02:48] aureosun commented on #12728
@ashishagni5
 Have you ever run the code label_image.py in tensorflow/tensorflow/examples/label_image/label_image.py
I have modify it to run on a dataset and read and calssify image one by one,and as the number of images goes,the speed is slower and slower,at first,that's about ten images per second,and when the number of image goes to 1000,the time is about 7s,Incredibly!and I find the problem is

[2017-09-19 02:50] shreyneil commented on #13119
You have browse to the directory containing the tensorflow source code and install it using pip.
Alternatively you can do it using Anaconda, refer the documentation for more details.

[2017-09-19 02:55] zhangyaobit commented on #8090
Closing this issue, as the issue has been fixed with a min epsilon set to 1e-5: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_impl.py#L811

[2017-09-19 02:55] #8090 closed

[2017-09-19 02:57] zhangyaobit commented on #9906
Closing for now; feel free to reopen if needed.

[2017-09-19 02:57] #9906 closed

[2017-09-19 02:57] nam15122013 opened #13142 "ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients"
Hello everyone,
I have error when programming tensorflow:

ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients, between variables ["<tf.Variable 'Variable:0' shape=(4, 2) dtype=float32_ref>", "<tf.Variable 'Variable_1:0' shape=(4, 2) dtype=float32_ref>", "<tf.Variable 'Variable_2:0' shape=(1, 3) dtype=float32_ref>", "<tf.Variable 'Variable_3:0

[2017-09-19 03:16] snnn commented on #12978
Hi @zyavrik

Then you may disable it first.  TF can only pass the tests while AVX is disabled, so I choose to not enable AVX.

[2017-09-19 03:17] zhangyaobit commented on #13017
I think you can try (1) benchmark transpose alone with size = 20 and size = 21; and (2) turn on/off optimizations individually to see which one is related (https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/core/protobuf/config.proto#L85). I know constant folding won't be applied if the size of the constant in bytes is too large (> 10M) to  prevents the size of the Graph from growing to

[2017-09-19 03:23] zyavrik commented on #12978
The only one reason to compile it is to enable AVX, AVX2 support...

[2017-09-19 03:32] ZhongBaby commented on #13097
@yongtang Can I follow your modification and make it work on my computer? I'm using win10 and not able to build Tensorflow from source...

[2017-09-19 03:35] zyavrik commented on #12977
Why have you closed it? The problem is still not resolved!

[2017-09-19 03:38] snnn commented on #12978
I don't think "Bazel & cmake compilations for Windows are completely broken" is true. Maybe it lacks something for you, but it is not completely broken. TF has a large userbase on Windows. If the build system is completely broken,  how can they use it? Google has a philosophy that every build should be reproducible.   You can get known how google build TF from http://ci.tensorflow.org/.  These bui

[2017-09-19 03:43] zyavrik commented on #12978
Master revision doesn't work at all - both with bazel and cmake. Errors were provided. Revision 1.3 doesn't work on CPU with AVX512 support (even when AVX512 isn't used).

[2017-09-19 03:53] zoeysgithub opened #13143 "how can i convert a frozen.pb file to .ckpt file?"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-19 04:14] CDLuminate commented on #13061
Let me add a citation to the proposal: https://www.debian.org/doc/debian-policy/index.html#main-building-script-debian-rules

[code]

Note, the `required targets` include the whole package building process and more.

[2017-09-19 04:40] oxinabox opened #13144 "No gradient defined for Relu6Grad"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes. MWE below is not a stock example.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
Binary (Miniconda)

- **TensorFlow version (use command below)**:
print(tf.GIT_VERSION, tf.VERSION)

[2017-09-19 04:45] mdsujan91 commented on #12877
Thanks a lot for  your suggestion.

[2017-09-19 04:50] yongtang commented on #12018
Created a PR #13145 that should fix the cmake issue on Linux.

[2017-09-19 04:51] yongtang commented on #13061
I created a PR #13145 that should address the `Missing tensorflow/core/debug/debug_service.grpc.pb.h` issue on Linux for cmake. A couple of other issues (one is with sqlite, another is with jpeg) have also been addressed.

[2017-09-19 04:57] facaiy commented on #13083
Yes, I misunderstand your question, @amirjamez .

[2017-09-19 05:06] tumusudheer commented on #8277
Hi @cancan101 ,

I've a net (graph) with some conv2D and maxPool operations declared using NCHW format. I've trained the net on GPUs and created some checkpoints. The graph and the model works well on GPUs when you test by restoring the checkpoints.

Now I want to test the same code/graph on CPU.  The same net/graph is not working because the conv2D and maxPool operations do not run since they wer

[2017-09-19 05:47] dandelionmane commented on #11280
@jhseu It looks like this was closed prematurely? Since @yatendragoel is reproing with tf1.3 (which has a recent TensorBoard).

[2017-09-19 05:59] BaruchYoussin commented on #13133
Thanks!

I see that if the `fetches` argument in `Session.run` is a list then its elements are executed in the random order.

I think it is worthwhile to mention this in the [manual](https://www.tensorflow.org/api_docs/python/tf/Session#run).

Thus, there is no bug.

However, I want to make this thread a suggestion to improve the above manual.

[2017-09-19 06:29] tumusudheer opened #13146 "Standalone graph trained using on NCHW data_format giving errors on CPU when testing (running forward pass)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
     Yes,
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Binary (.whl file)
- **TensorFlow version (use command below)**: 1.2.0-rc1
- **Python version**: 2.7
- **Bazel version (if compiling from

[2017-09-19 06:42] srinivasreddy commented on #56
pip 1.1 to upgrading it to 9.0.1 worked well for me

[2017-09-19 06:43] srinivasreddy commented on #56
May be this help others as well,
[code]

[2017-09-19 06:53] azainab commented on #6670
@andrewharp  I have a trained spam detection model trained using keras and have got the .pb I am trying it to implement it into a mobile app. Can you please guide me to the right documentation please. It will be of great help.

[2017-09-19 06:53] #13118 closed

[2017-09-19 07:09] tumusudheer commented on #8227
Hi @cancan101 ,

I'm facing similar problem as you mentioned in your initial post in this thread. I've a trained checkpoint model trained using NCHW format. But I want to convert into a checkpoint with weights so that the model works for NHWC format input images. May I know how to do it. You've mentioned
'`
This requires the user to have to do some "wrangling" (e.g. loading the checkpoint of weigh

[2017-09-19 07:15] martinwicke commented on #13005
This is a duplicate of #10767. I wrote there that the flag would be good to clarify the behavior. This is more important for `top_k` than for `in_top_k`, but it may still be nice for consistency.

[2017-09-19 07:15] #13005 closed

[2017-09-19 07:21] materacer opened #13147 "How do I compile Tensorflow source with Altera FPGA library (AOCLUtils & OPENCL)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform** : Linux Ubuntu 16.04
- **TensorFlow installed from source**
- **TensorFlow version** : 1.3
- **Python version**: v2.7.10
- **Bazel version**: 0.5.4
- **Exact command to reproduce**: set all as default value  ./configure , not use cuda

### Describe the prob

[2017-09-19 08:09] armotodo commented on #5478
chunchuria
umbrella

[2017-09-19 08:11] armotodo commented on #5478
a si
como
no
me
inco

[2017-09-19 08:25] nam15122013 commented on #13142
Hello, please help me

[2017-09-19 09:07] alexgkendall opened #13148 "Add data dynamically to pre-exisiting contrib.data.dataset"
(As far as I'm aware this isn't possible, so I think this is a feature request)

It would be great to be able to add data to a pre-exisiting dataset object, which already has an iterator attached. For example, in reinforcement learning, one often collects data while exploring, and needs to add this data to the training dataset. I can't see how using the `concatenate()` function is sufficient, as t

[2017-09-19 09:36] lalwaniabhi commented on #13065
@mrry Will the problem be solved if i try and use older versions of tensorflow,i.e. the version before the commit you mentioned?

[2017-09-19 10:28] MacroMayhem commented on #4547
Can you elaborate on the solution @dotdotgod ?

[2017-09-19 10:37] carlthome commented on #11275
ETA on tf.nn.dynamic_rnn support in XLA AOT?

[2017-09-19 10:49] GPhilo opened #13150 "Handling of * in pattern of tf.contrib.data.Dataset.list_files undocumented"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (see below)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.5.4
- **Bazel version (if compiling from source)**

[2017-09-19 10:55] akashjobanputra commented on #13065
@lalwaniabhi I tried r1.2 and it too failed with error `MSBuild: 'error MSB6006: “cmd.exe” exited with code 1.'`

[2017-09-19 11:22] lalwaniabhi commented on #13065
Oh.
and did you try working with the known good configurations given [here]?(https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/cmake).
Will the problem be solved if we use the exact same versions of all the software mentioned in the 'Known good configurations'?
@mrry @akashjobanputra

[2017-09-19 12:10] utkrist opened #13152 "GRPC causes training to pause in individual worker (distributed tensorflow, synchronised)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 8.9 (jessie)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-5-g435cdfc 1.2.1
- **Python version**: 3.6.2
- **CUDA/cuDNN versio

[2017-09-19 12:17] akashjobanputra commented on #13065
@lalwaniabhi No, not the exact versions of swig and cmake.
This is my configuration:
**Microsoft Visual Studio Enterprise 2015 with Visual C++ 2015**
**Python 3.5.4** (conda env)
**swigwin-3.0.12**
**NVidia CUDA Toolkit 8.0
NVidia CUDNN 5.1 (Patch level 10)**
**cmake 3.8.2**

[2017-09-19 12:18] soroush361 commented on #9469
TensorFlow 1.3 + CuDNN 6.0 with Cuda 8

It worked with CuDNN 6.0. I had "import error" with CuDNN 5.1.

[2017-09-19 12:51] yongtang commented on #13097
@ZhongBaby I don't have access to a Windows dev machine so I may not be able to help in this case.

[2017-09-19 13:24] utkrist commented on #2472
@perhapszzy I have similar problem to yours. Basicaly, I'm trying to set different files as data source in each worker. I am therefore setting up worker specific variable scope for my dataset. What does reseting default graph in chief worker do? Would you like to share your experience with this.

    with tf.variable_scope('data_source_task_index_%d' % FLAGS.task_index):
        batch_generator =

[2017-09-19 13:42] yongtang commented on #13137
Added a PR #13153 for `num_units` in `GRUBlockCell`.

[2017-09-19 13:51] guillaumekln opened #13154 "BeamSearchDecoder should support an AttentionWrapper cell with alignment_history enabled"
### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.3.0
- **Python version**: 2.7
- **Exact command to reproduce**: see the code snippet below.

### Describe the problem

Currently, setting `tf.contrib.seq2seq.AttentionWrapper`'s `alignment_history` argument to `True` and u

[2017-09-19 13:54] segatecm commented on #13095
I can not get any useful help from stackoverflow. About this issue:

Ran out of GPU memory when allocating 0 bytes for
[[Node: SoftmaxCrossEntropyWithLogits = SoftmaxCrossEntropyWithLogits[T=DT_FLOAT, _device="/job:localhost/replica:0/task:0/gpu:0"](Reshape_2, Reshape_3)]]

Nobody answer the question.
so Please give me some advices! and Thank you!

[2017-09-19 14:13] 68uy78 opened #13155 "error"
I get error when I make placeholder..

[2017-09-19 14:47] utkrist commented on #13152
Closing now since I found out possible direction to look at. Will open again if needed.

[2017-09-19 15:52] pruthvir opened #13156 "tar: Unrecognized archive format tar: Error exit delayed from previous errors."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-19 15:54] ybsave opened #13157 "Error for slim dataset using fixed length reader"
I want to use tensorflow slim data provider. All examples I can find only are only reading tfrecord files. However, I want to read binary files directly by my own reader. I use fixed length reader to extract Cifar10 binary data.

However, "dataBytes = tf.decode_raw(data, tf.unit8)" always produce error that "AttributeError: module 'tensorflow' has no attribute 'unit8'" when using in slim DatasetDa

[2017-09-19 15:55] hawkinsp commented on #11275
@carlthome For inference (not training), it might actually work right now. No-one has been working directly on AOT support for tf.nn.dynamic_rnn(), but as it happens I think all the pieces are there. Give it a go and let me know what happens!

[2017-09-19 16:18] AVCarreiro commented on #8919
I have a similar issue, installed patch in MSYS (64) in Windows with `pacman -Syuu --noconfirm patch` but fails. I can use `patch --help` from MSYS shell (C:...\msys64\msys2_shell.cmd -mingw64) but the command based on the BAZEL_SH env variable (`C:\msys64\usr\bin\bash.exe -c patch --help`) doesn't work.

However, if in the cmd I run the bash.exe (enters bash) and then bash (actually starts the MI

[2017-09-19 17:01] s4mpl3d commented on #13155
How about some more information?

On 19 Sep 2017 4:17 p.m., "68uy78" <notifications@github.com> wrote:

[2017-09-19 17:17] mrry commented on #13157
Looks like a typo: `tf.unit8` should be `tf.uint8`.

[2017-09-19 17:17] #13157 closed

[2017-09-19 17:17] biolee opened #13160 "[feature request]recomputable operation annotation"
'Training Deep Nets with Sublinear Memory Cost' and 'Memory-Efficient Implementation of DenseNets' indicate that use drop intermediate feature map and recompute it if needed can save memory(while add computation burden),

so we need some mechanism to annotate some op's inputs  `recomputable` , and drop this input memory after op finish(set input's reference count to 0), when need this op again, re

[2017-09-19 17:19] shivaniag commented on #13143
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-19 17:19] #13143 closed

[2017-09-19 17:20] shivaniag commented on #13139
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-19 17:20] #13139 closed

[2017-09-19 17:40] shivaniag commented on #13147
@martinwicke could you please take a look?

[2017-09-19 17:42] shivaniag commented on #13141
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-19 17:42] #13141 closed

[2017-09-19 18:02] gunan commented on #13061
I am not sure about bazel's proper packaging on linux, however we have to support bazel, because internally there is nothing but bazel for us.
Supporting multiple build systems in parallel is also slowing down our development, in not so distant future we will stop actively maintaining the cmake files. Just stating this as our plan as a warning for you.
You are welcome to keep our cmake files worki

[2017-09-19 18:06] qbilius opened #13161 "tf.contrib.data.Dataset outputs have only partial shape"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: N/

[2017-09-19 18:13] joeyearsley commented on #1029
For anyone else who runs into this problem, using the example above with the assumption of 3 Dims:
[code]

This allows `ndims` to be returned whilst allowing flexibility of resizing differently sized images.

[2017-09-19 18:16] vorkuta commented on #8271
Having the same issue here on Win10. Everything else is working fine.

[2017-09-19 18:32] yaroslavvb commented on #13133
I'm not sure that "random order" makes sense to add to the manual because it's an implementation detail. IE, maybe today it's random order, and tomorrow it becomes left to right. Leaving it unspecified gives freedom to change implementation around without violating API guarantees

Currently the order is determined by [this part](https://github.com/tensorflow/tensorflow/blob/5747ec38cf9ffaa586b8549

[2017-09-19 18:32] #13133 closed

[2017-09-19 18:35] yaroslavvb commented on #13086
This doesn't seem to be a bug in tensorflow, it's better q for stackoverflow

[2017-09-19 18:35] #13086 closed

[2017-09-19 18:38] #13102 closed

[2017-09-19 18:39] mrry commented on #13161
This is intended behavior: if you evaluate `inputs` 4 times, you will notice that the shapes of the returned tensors are `(32, 2)`, `(32, 2)`, `(32, 2)`, and `(4, 2)`.

[2017-09-19 18:39] #13161 closed

[2017-09-19 18:40] ebrevdo commented on #11275
Don't we need the new max iterations attribute on while_loop?

On Sep 19, 2017 8:56 AM, "Peter Hawkins" <notifications@github.com> wrote:

[2017-09-19 18:40] ybsave commented on #13157
@mrry Sorry for my mistake. I have corrected the typo, but it seems that the reader still does not work. I have added a line at the beginning of function decode as print(data.shape). Please see my modified codes in the original post.

It shows "unknown" in the output. The error message is "tensorflow.python.framework.errors_impl.InvalidArgumentError: Shape must be rank 1 but is rank 0 for 'Strided

[2017-09-19 19:04] mrry commented on #13157
Without the stack trace, it's difficult to say for certain. However, I suspect the problem is in one or both of the two calls to `tf.strided_slice()` in `CifarBinaryDecoder.decode()`.

[2017-09-19 20:01] brightbytes-dude commented on #8043
I tried that, though with `tf.contrib.learn.DNNClassifier` rather than `tf.estimator.DNNClassifier`. (I don't think it matters which I use because both the `weight_column_name` of the former and the `weight_column` of the latter expect the column referenced to be a feature column.)

Specifically, if I:

1. Construct a `tf.contrib.learn.DNNClassifier`, and specify `weight_column_name` and include t

[2017-09-19 20:11] jhseu commented on #11280
@RedAlice64 are you on Windows too? It's known not to work on Windows.

[2017-09-19 20:23] printdhruv commented on #13156
(1) Please review guidelines before raising an issue and your template has not inputs.
(2) Please go to [stackoverflow.com](stackoverflow.com) for technical difficulties and errors troubleshooting.
(3) This [link](https://superuser.com/questions/568520/tgz-file-tar-unrecognized-archive-format) will solve your issue.

[2017-09-19 20:25] ispirmustafa commented on #8043
you should not include `weight_column`(`_name`) as part of `feature_columns`. Providing that as part of `feature_columns` is saying that you're using it as a feature which is wrong.

[2017-09-19 20:26] AleksandrKrasnoperov opened #13162 "Fail to build android example"
Hi. I have the same problem - https://github.com/tensorflow/tensorflow/issues/11474

**System information**
bazel version:
Build label: 0.5.4-homebrew

java version: "1.8.0_144"

android/sdk/platforms/android-26
android/sdk/system-images/android-26
android-ndk-r14b

**workspace config:**
android_sdk_repository(
    name = "androidsdk",
    api_level = 26,
    build_tools_version = "26.0.1",
    pa

[2017-09-19 20:29] BaruchYoussin commented on #13133
I think it is important to add to the manual that the fetches are run in "unspecified order, possibly in parallel" to dispel the natural assumption that they are run in the order they appear in the list.

In this way you guys will have less threads to answer and close, and we the beginners will have to spend less time breaking our heads figuring out why our code does not work.

In fact, I remember

[2017-09-19 20:31] brightbytes-dude commented on #8043
If I don't provide it as a feature column, I get an error that it needs to be provided as a feature column.

Also, here's the doc for the param of `tf.contrib.learn.DNNClassifier`, with bolding added:

[code]

... and, here's the doc for the param of `tf.estimator.DNNClassifier`, with bolding added:

[code]

Again, I tried not defining it as a feature column, hoping that documentation was in error

[2017-09-19 20:49] yaroslavvb commented on #13160
Marking the node as recomputable is not enough to save memory. You also have to specify when the recomputation happens.

TensorFlow scheduling logic (in [executor.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/executor.cc)) schedules nodes as evaluate soon as they are ready, so TensorFlow will happily recompute the node right away and hold it in memory whic

[2017-09-19 21:00] martinwicke commented on #13147
You need to include all dependencies you need to build `build_pip_package` as deps for the `build_pip_package` target. You included it as a matmul_op dependency, can you build just that target? Does that work or does that already fail?

[2017-09-19 21:24] dantkz opened #13163 "Resolved: No GPU kernel for tf.tile with int32 or int64 tensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary (pip)
- **TensorFlow version (use command below)**:
v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**:
Python 3.5.2
- **Bazel vers

[2017-09-19 21:33] dantkz opened #13164 "BUG: No GPU kernel for tf.scatter_nd and tf.gather_nd with int32 or int64 tensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary (pip)
- **TensorFlow version (use command below)**:
v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**:
Python 3.5.2
- **Bazel vers

[2017-09-19 21:35] girving opened #13165 "Doc nicety: use * to indicate when arguments must be keywords"
https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits shows the signature

    softmax_cross_entropy_with_logits(
        _sentinel=None,
        labels=None,
        logits=None,
        dim=-1,
        name=None
    )

In Python 3, the syntax for `_sentinel=None` is just `*`, and the signature would be

    softmax_cross_entropy_with_logits(
        *,
        labels

[2017-09-19 22:33] #12018 closed

[2017-09-19 22:42] ybsave commented on #13157
I finally find out. The original codes "currLabel = tf.cast(tf.strided_slice(dataBytes, [0], CIFAR_LABEL_BYTE), tf.int32)", should be currLabel = tf.cast(tf.strided_slice(dataBytes, [0], [CIFAR_LABEL_BYTE]), tf.int32).

It is another typo again! Sorry for the confusion, and thank you for your help.

[2017-09-19 22:49] dozyc opened #13167 "gure"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-19 22:52] myanything commented on #8531
@caisq thank you for making the change. Curious when will the change be published to maven central?

[2017-09-19 22:59] yaroslavvb opened #13169 "nightly-devel-gpu Docker broken with ImportError: libcuda.so.1: cannot open shared object file"
To reproduce:
sudo docker run -it --name t2 tensorflow/tensorflow:nightly-devel-gpu
python -c "import tensorflow"

It's looking for libcuda.so.1, but I can't find that file in the image
Furthermore, LD_LIBRARY_PATH is pointing to /usr/local/nvidia/lib64 but there's no such folder. There's /usr/local/cuda/lib64, but no libcuda.so.1 there either (should it be loading libcudart.so.8.0 instead?)

cc @

[2017-09-19 23:11] tfboyd commented on #13050
cl/169317026  (my tracking purposes)

Sorry about that and here are the updated numbers.  I also had some slightly newer numbers for inception3.  No real difference as a glance but I reran the numbers and did not update the document before I published.  Thank you for understanding.  It might take a little bit to update the site but you have the numbers here for now.  Sorry about the tables we have

[2017-09-19 23:18] yongtang commented on #13163
I tried the most recent HEAD and it seems to be fine?
[code]

[2017-09-19 23:48] tngn commented on #5848
No support for Computecpp on Mac OS currently, so spare yourself the trouble of creating an account to download from it website. Just say N to OpenCL.

[2017-09-19 23:57] shivaniag commented on #13167
Empty problem!

[2017-09-19 23:57] #13167 closed

[2017-09-20 00:05] dozyc commented on #13167
this is what happens when you type into your github browser window thinking your console has focus, and "c" triggers a new issue. SORRY!

[2017-09-20 00:29] vs-zhehangd opened #13171 "tf.reduce_*(mean/sum) runs very slow on GPU"
I notice that tf.reduce_*(mean/sum) runs very slow on GPU in some cases, which can happen in the following simple examle:

x = tf.Variable(tf.ones([80, 80, 80, 80])) # 4-D tensor.
y = tf.reduce_sum(x, [0, 2, 3]) # Sum over all dims except the 2nd.

The execution time on GPU is very large and is approximate same as (or more than) the time on CPU, which probably means the GPU is not used at all. The

[2017-09-20 00:29] drpngx commented on #12911
Sorry I didn't get around that, if you have a program that exhibits that behavior by allocating a lot of memory then performing the operation? That way I can try to repro and debug. Thank you!

[2017-09-20 00:31] hawkinsp commented on #11275
@ebrevdo I suspect not, actually. We need an iteration bound only for training (for Stacks as it happens, not for TensorArrays.)

[2017-09-20 00:33] cy89 commented on #12986
@gunan, can you please take a look?

[2017-09-20 00:47] gunan commented on #12986
Are we still seeing this?
The root cause is changes in github side.
They are just creating archives differently now. We are looking into if we can mirror our dependencies ourselves now.

[2017-09-20 01:09] dzhwinter opened #13172 "send/recv operators bug in constructing the graph."
Running the following snippet several times shows some weird operator in the graph.
[code]
in the cpu part of graph, it shows
[code]
There is a weird operator in it. ` name: "_send_Const_0"` just send tensor from cpu0 to cpu0. This device already has the right result of `Add` operator.
And I notice the `send_device_incarnation` is a random number, which generates by [New64](https://github.com/tens

[2017-09-20 01:50] printdhruv commented on #13150
@GPhilo I guess `Dataset.list_files` line invokes code `Dataset.from_tensor_slices(gen_io_ops.matching_files(file_pattern))`
which returns : `A Dataset of strings corresponding to file names.`
 Probably,it keeps digging till it hits no folders/directories!
The file pattern follows rules as described here [tf.gfile.Glob](https://www.tensorflow.org/api_docs/python/tf/gfile/Glob)
see code snipped bel

[2017-09-20 02:25] nam15122013 opened #13173 "Optimizer loss function without desired paramater"
Hi all,
For Tensorflow, Is it possible to train  a neural network to optimize a loss function, e.g, minimize cost function, without a desired parameter? And what is optimizer in Tensorflow for the objective?
thank you

[2017-09-20 02:36] lengerrong commented on #13115
hi, please refer to here:
just add in NSYNC_OPTS_GENERIC, it might be OK.
"//conditions:default": [],
https://lengerrong.blogspot.com/2017/09/fix-up-configurable-attribute-copts.html

[2017-09-20 02:58] aureosun commented on #13141
@shivaniag I guess it's a bug about memorry leak,Please make sure!

[2017-09-20 03:11] wangshang19911011 commented on #10815
Hi, I'm doing similar decoder, but the decoder inputs is conditioned by the encoder final hidden states (context vector), [Related Paper](https://arxiv.org/pdf/1702.05538.pdf) see picture a in page 3. The decoder is trying to fully inference during training with feeding previous outputs and context vector as inputs at each step.

`class RNNEncoder_Decoder(object):

    def __init__(self,input_dim,

[2017-09-20 05:03] wqkx opened #13174 "variable assign incorrect"
**When the two assignment operations are the same:**
var = tf.Variable(1)
assign_1 = var.assign(tf.multiply(var, 2))
assign_2 = var.assign(tf.multiply(var, 2))

with tf.Session() as sess:
    sess.run(var.initializer)
    sess.run([assign_1, assign_2])
    print(sess.run(var))  # >>  2

**When the two assignment operations are not the same:**
var = tf.Variable(1)
assign_1 = var.assign(tf.multiply(

[2017-09-20 06:07] jheymann85 commented on #12911
One way to reproduce is to open some other Tensorflow sessions on the same host. I.e.:

tf_sess.py:
[code]

and then execute
[code]

yields
[code]

The number of open sessions necessary to reproduce may vary depending on the amount of memory they consume. For me two worked, but one was not sufficient.

[2017-09-20 06:49] vishalghor commented on #12944
hi @aselle ,

Thank you for the suggestion. hi reported some issue with models in slim in https://github.com/tensorflow/models/issues/2356

As I was not able to execute the finetune_resnet_v1_50.sh ,I reported for more clear documentation for transfer learning using .ckpt
The document for transfer learning using .ckpt will help a lot for using converted models from caffe or other framework where a

[2017-09-20 07:42] materacer commented on #13147
Hi  martinwicke,

Thanks for information.
I modified tensorflow/tools/pip_package/BUILD to add AOCLUtils path in included_headers
But still failed as the following.

At the other hand, I am thinking about what is different situation between bazel (FAIL) & g++(PASS) build for AOCLUtils library only  in the end of this comment. Maybe this is a point to find problem for bazel build

<pre><code>
=tens

[2017-09-20 07:44] facaiy opened #13175 "BUG: same feature column creates duplicate tensors for DNNLinearCombinedRegressor"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**:
- **

[2017-09-20 08:13] anonym24 commented on #11930
@guschmue I tried you respitory, but the same error:

[code]

full logs:

[code]

[2017-09-20 08:22] ZairMahmood opened #13176 "Raspberry Pi Makefile issues with proto_text"
### System information
- **Raspberry Pi on Ubuntu Mate 16.04 (Also tried Raspbian Stretch but GUI would freeze a lot and still gave similar errors)**:

### Describe the problem
Building tensorflow from source using makefile using the code provided at: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile. I've included two log files in which i ran the initial setup and r

[2017-09-20 08:35] dantkz commented on #13163
Yes, I tried with earlier nightly build and it wasn't working. Updated the nightly build, and it works now. Thanks!

This issue is resolved.

[2017-09-20 09:15] hemecha opened #13177 "cmake: No session factory registered for the given session options"
Hi everyone,

I have built the static library for tensorflow with cmake in Windows and I have the error "No session factory registered for the given session options ". This issue is fixed with the flag /Wholearchive, however it seems there is not equivalent flag for Qt creator. So, my question is if someone knows if the static library built with bazel has the same issue (add the flag /wholearchive

[2017-09-20 11:11] luchensk commented on #13124
@caisq Do we have a schedule for this issue? Thanks.

[2017-09-20 12:09] namrata-ibm commented on #12136
This was related to the numpy bug and resolved by #12963.
Closing this.

[2017-09-20 12:09] #12136 closed

[2017-09-20 12:10] alberduris commented on #2682
It's been more than a year since the Issue was closed, TF 1.3 was recently deployed and I still think that a Hessian Free Optimizer implementation for TF would be great.

Consider reopening?

[2017-09-20 12:18] HaojieCoding commented on #13176
Same problem.

[2017-09-20 12:47] batizty opened #13179 "Function categorical_column_with_identity with big number as num_buckets parameter causes training hang and crash"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**: 2.7
-

[2017-09-20 12:56] helen-medina opened #13180 "how to avoid the flag --whole-archive when using the static library in windows"
Hi everyone,

I have built the static library of tensorflow for C++ in windows. And I am trying to use this library in qtCreator, however I have the issue (no session factory registered for the given options). But, it looks adding these flags in qtCreator doesn´t work so I still have the issue. Does someone know how to build the library in Tensorflow  so I can use the library without the flag -who

[2017-09-20 13:17] niuchunyang126 opened #13181 "E tensorflow/core/platform/cloud/http_request.cc:514"
I run the train.py  in the object detection api, use the code in the terminal
python3 train.py --logtostderr --train_dir=training --pipeline_conf
ig_path=training/ssd_mobilenet_v1_pets.config

encounter with the problems like that,
Please use tf.global_variables instead.
2017-09-20 21:10:31.065044: E tensorflow/core/platform/cloud/http_request.cc:514] The transmission has been stuck at 0 bytes for

[2017-09-20 13:26] caisq commented on #13124
@luchensk HDFS is currently not supported by tfdbg. If you or any other open-source users have the interest, you are welcome to contribute such support. I do not have enough free cycles to fulfill this feature request this month.

[2017-09-20 13:27] rasitsimsek opened #13182 "No OpKernel was registered to support Op 'Transpose' with these attrs"
### System information
- **Windows 10**:
- **TensorFlow installed from source**:
- **TensorFlow version r1.3**:
- **Python version 3.5.3**:
- **Bazel version n/a**:
- **CUDA/cuDNN version n/a**:
- **GPU model and memory n/a**:
- **Exact command to reproduce n/a**:

### Describe the problem
The 'Transpose" Op is not supported sufficiently in C++ environment. I have got this below. Does transpose op

[2017-09-20 13:29] rasitsimsek commented on #12000
Sorry I'm not able pulling a request.

[2017-09-20 13:36] micklexqg commented on #6313
@jiyuan312986471 ， what did you add before path？ I came into the same problem, would you like to share your solution?

[2017-09-20 13:38] gauravk97 commented on #10033
I did downgrade to CUDA 8.0.61 and cuDNN v6.0, tf 1.3

[2017-09-20 13:50] leimao opened #13183 ""Controlling Dreams" in TensorFlow"
Hi guys,

I am trying to re-implement "controlling dreams" using TensorFlow which was implemented in the original google deepdreams algorithm using Caffe (see the last part of https://github.com/google/deepdream/blob/master/dream.ipynb). But I think I got problems. This "controlling dreams" part does not exist in this tutorial. I am looking for someone, who knows Caffe and deepdream, to help.

I h

[2017-09-20 14:25] rasitsimsek commented on #13182
It is my mistake of Transpose operation usage.  I have used a permutation tensor with DT_INT64 instead of DT_INT32.

[2017-09-20 14:25] #13182 closed

[2017-09-20 15:03] Rick-C-137 opened #13186 "Renaming checkpoint directory"
If you want to rename a checkpoint directory, you currently need to also do a find-replace in the 'checkpoint' file. It might be nice to have that handled automatically.

[2017-09-20 15:20] balaji-in-git opened #13187 "parse_example is awfully slow"
@skearnes
you have indicated in this post of yours https://github.com/tensorflow/tensorflow/issues/390 way back in 2015 that parse_example is about 30 times faster than parse_single_example.
I have tried different options to modify my simple training script which only prints about 100000 tfrecords batched in 1000 and just does a print of feature and label after session.run(feature, label). Feature

[2017-09-20 15:20] anight commented on #13129
Fixed in https://github.com/anight/tensorflow/commit/846454faae5a66fa430b03c82f571440919070f3

[2017-09-20 15:20] #13129 closed

[2017-09-20 15:22] rightaditya commented on #12414
How much do you need? Here's how it starts:
[code]

[2017-09-20 15:29] ahyangyi opened #13188 "third_party/zlib: use -DZ_HAVE_UNISTD_H instead of suppressing warnings"
Hi,

I noticed that you built zlib by suppressing warnings about it using undeclared functions. However, I discovered that adding `copts = ["-DZ_HAVE_UNISTD_H"]` could make zlib to include unistd.h and therefore get rid of the warnings completely.

While this change is very minor, I think declaring the macro is better than suppressing the warnings.

[2017-09-20 15:32] yaroslavvb commented on #13180
See https://github.com/tensorflow/tensorflow/issues/4242 for explanation why you need whole-archive flag for TensorFlow

[2017-09-20 15:39] craigcitro commented on #13169
/cc @caisq

[2017-09-20 15:43] yaroslavvb commented on #13172
Not sure if this is a bug. Optimizers can do things behind the covers, extra send/recv ops are only a problem if they cause a significant performance penalty.

This copy could represent a copy of 1.0 from Python runtime to TensorFlow runtime. Also, constants have special optimizations, you get more pure look at underlying processes by using dynamic values (ie, tf.placeholder) and disabling optimiz

[2017-09-20 15:50] yaroslavvb commented on #13171
I have GTX 1080 and get much better numbers using TF head from Sep 13

(sep13) yaroslav@home:~/git0/stuff$ python reduce_sum_runs_slow.py --keep_dim 0
np time    0.20407
tf time    0.01083

(sep13) yaroslav@home:~/git0/stuff$ python reduce_sum_runs_slow.py --keep_dim 1
np time    0.21019
tf time    0.01631

(sep13) yaroslav@home:~/git0/stuff$ python reduce_sum_runs_slow.py --keep_dim 2
np time

[2017-09-20 15:57] martinwicke commented on #13147
Bazel doesn't like it if you depend (by including) things that are not in your system libraries, and which are not declared. You would probably have to include the intelFPGA_pro library as a `new_local_repository` and declare a dependency on it.

@damienmg for bazel magic.

[2017-09-20 16:03] yaroslavvb commented on #13174
This is better question for stackoverflow. (you are missing some control dependencies to make sure assign_2 looks at the updated value of var)

[2017-09-20 16:04] Dorokhov opened #13190 "TF_AddGradients gradients returns wrong result when multiple outputs specified"
### System information
Darwin Mac-Admin.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64
Mac OS X 10.11.6

### Describe the problem
Hi. I've added a unit test for TF_AddGradients API (see code below) which is similar to
[this python test](https://github.com/tensorflow/tensorflow/blob/ca3bc0f1c2f917cf6e7c49d58f5ec604a9af9367/tensor

[2017-09-20 16:07] ispirmustafa commented on #8043
it would be great if you can create a small example where you see the problem. then we can discuss the code of that example.

[2017-09-20 16:10] mrry commented on #13172
This is not a bug. TensorFlow adds one op per tensor that you fetch (and one per tensor that you feed) in order to transfer the data to/from the client. Notice that the op has `"client_terminated": true` in its definition, which means that the value will be consumed by the client.

Note that in versions of TensorFlow since 858e0afcc45c39b6428bf82ab1444323e925cfd8 (i.e. 1.2 onwards) this is actuall

[2017-09-20 16:10] #13172 closed

[2017-09-20 16:11] georgesterpu commented on #12414
Never mind, I made a wrong assumption. Looking at the first comment of @mrry, the issue might be fixed by now in tf nightly 1.4.

[2017-09-20 16:36] vbshightime opened #13191 "after the training process of DNNRegressor model i ran the log to check for the loss during training but the loss is not decreasing gradually and infact in my case its starting from 12654.4 and at final step=5131.29"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-20 16:48] girving commented on #13165
I'm fine if this gets closed, but probably won't work on it personally.

[2017-09-20 17:02] MtDersvan commented on #12968
@drpngx Sorry for the delay, too.
Here is a simple short toy example: https://pastebin.com/bNH8F4K5
Here is a stack trace: https://pastebin.com/H9fctCxt
Basically there's a hardcoded `int(v)` in `_MakeInt` in `log_uniform_candidate_sampler` hard type restriction. And `_log_uniform_candidate_sampler` code is generated from a kernel which makes it harder to hack it on my own.

If I understand `num_t

[2017-09-20 17:51] andreas-eberle commented on #11777
@andrewharp: Casting the argument of tf.ceil to float32 does not help.

[2017-09-20 17:54] aselle commented on #11438
@mrry, do you have any insight?

[2017-09-20 17:57] aselle commented on #11721
Without a reproducible test case, it seems unlikely we are going to make much headway, especially if you are working on a new project. So I am closing for now.

[2017-09-20 17:57] #11721 closed

[2017-09-20 17:58] aselle commented on #11721
@zheng-xq, FYI.

[2017-09-20 18:02] aselle commented on #11986
@honkentuber, could you fix these documents?

[2017-09-20 18:03] helen-medina commented on #13180
Hi yaroslavvb,

I have already check it that entry, but the issue I have is the flag /wholearchive doesn't work in qt. I am compiling my project with the compiler Microsoft visual 14 in Qt, however It seems there is a problem with Qt and it ignores the flag, so I still have the error "not session found ...". You can see below the discussion about this issue in Qt.

https://forum.qt.io/topic/83457/

[2017-09-20 18:05] aselle commented on #12040
The numerics on a GPU are different than on a CPU, sometimes compromising numeric stability for performance. Does the problem go away if you reduce the learning rate (the usual fix to NaNs)?  If it does, i'd expect it is unlikely a bug.

[2017-09-20 18:05] aselle commented on #11986
@ispirmustafa, could you take a look?

[2017-09-20 18:12] mjmanning commented on #12810
I saw this and did the following:
./tensorflow/contrib/makefile/compile_nsync.sh
Then added: HOST_NSYNC_LIB=`pwd`/tensorflow/contrib/makefile/downloads/nsync/builds/default.linux.c++11/nsync.a at the end of my make command.

[2017-09-20 18:20] yaroslavvb commented on #13180
I would expect this flag to be always needed. Default behavior of linkers is to strip out unused symbols, so this flag is what tells the linker to not do this

[2017-09-20 18:23] FumingX commented on #6698
check your .theanorc in your home path, and set the cnmem smaller....maybe cnmem=0.8, and it worked for me now

[2017-09-20 18:29] zhangyaobit commented on #12932
One possibility is that layout optimizer doesn't play well with non-fused batch norm (I will look into that).

In the meantime, could you try turn on fused batch norm by adding "'fused': True," here: https://github.com/tensorflow/models/blob/master/slim/nets/inception_utils.py

This may get you 15%-20% speedup. After that, you can turn on layout optimizer, this may get you another 15% speedup (fus

[2017-09-20 18:31] yongtang commented on #8972
I think `tensor_util.constant_value_as_shape` could be used to address the issue? Created a PR #13193 for that.

[2017-09-20 18:39] aselle commented on #12285
@petewarden, PTAL

[2017-09-20 18:41] aselle commented on #12410
kinsumliu, let us know when you have more information.

[2017-09-20 18:42] rightaditya commented on #12414
I'd be willing to test it out---I'm not sure what the git model is that's used for TF, but if I compile from master and test that, will that suffice?

[2017-09-20 18:48] hemecha commented on #13180
It makes sense, but do you know if this flag is still needed if I build the .dll instead of the static library?

[2017-09-20 18:55] georgesterpu commented on #12414
Maybe try `pip install tf-nightly` in a python 3.5 environment first

On 20 September 2017 at 19:49, Aditya Bhargava <notifications@github.com>
wrote:

[2017-09-20 18:56] vs-zhehangd commented on #13171
I tested the benchmark program on four different machines (one uses 0.12 and the rest all use 1.2r) and the problem all occurs. I upgraded TensorFlow from 1.2 to 1.3 via pip on my main server and the problem remains the same.

Then I compiled the latest source cloned this morning. it seems that this problem has been fixed. : )

[2017-09-20 18:58] yaroslavvb commented on #13180
cc @allenlavoie who's been doing some restructuring of TensorFlow linking options

[2017-09-20 19:05] yaroslavvb commented on #13171
It's easy to test with latest version, no recompilation needed. IE, get the pip link from tensorflow github  front page, then

[code]

[2017-09-20 19:29] zo7 commented on #9846
Yeah, `pathlib` is standard library in Python 3.

Simplest solution for this to keep compatibility with Python 2 is to simply wrap all paths with `str(mypath)` to convert `pathlib` paths to strings.

[2017-09-20 19:40] rightaditya commented on #12414
This issue is specific to the GPU builds, and the TF README.md says the nightlies are CPU builds only---has that changed?

[2017-09-20 19:54] rasitsimsek commented on #13061
What ist about another platforms like Solaris or AIX. I think with bazel only build scripts there is no way to build Tensorflow except with CMake. Bazel seems to me Linux centroid.

[2017-09-20 20:04] chihuahua commented on #6313
See @dandelion's comment here for a solution - let me know if that works: https://github.com/tensorflow/tensorboard/issues/52

Specifically, the colon in the directory path is problematic, so try relative paths.

[2017-09-20 20:20] hemecha commented on #13180
Thanks for the information.

Kind regards.

[2017-09-20 20:32] aselle commented on #12860
@allenlavoie, have you looked at this as part of your library cleanup?

[2017-09-20 20:32] davidsonff opened #13196 "ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"
Hi - Thanks for all your hard work on this! - I've been having a problem getting Tensorflow-GPU to work on my Windows 10 notebook with a GTX 1080. I've tried to make sure all the paths are correct, etc. and have followed all the tips I can find.

I ran the tensorflow_self_check.py script and got the following result:

PS D:\Users\Frank Davidson\Documents\python> python .\tensorflow_self_check.py
E

[2017-09-20 21:35] jorisguerin commented on #6271
Hi everyone,

I have implemented the spatial softmax as well, in a similar fashion that proposed here.
It works well in the forward pass. However, whenever trying to train a network containing this layer, it appears that after a single pass, it outputs either the center point or one of the corners.

Does anyone have an idea of what might cause this behavior? Any possible fixes?

The function I use

[2017-09-20 21:43] George-Zhu commented on #11178
Mark

[2017-09-20 21:57] facaiy commented on #13174
[code]

[2017-09-20 21:58] George-Zhu commented on #11178
I also found that the input arguments order of keras.backend.categorical_crossentropy() and keras.backend.tensorflow_backend.categorical_crossentropy() are not consistent with keras.losses.categorical_crossentropy(). I found it when I try to check my own implementation of cross entropy loss function:
[code]

[2017-09-20 22:01] aselle commented on #13188
Thanks for pointing this out @ahyangyi. Would you be willing to submit a PR that makes this change?

[2017-09-20 22:03] #13174 closed

[2017-09-20 22:03] Rajesh5688 opened #13197 ""In-Graph Replication" Multi-GPU training in local/single machine not working."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Wrote a minimal version custom code using TensorFlow API's (see attachment)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Installed through pip
- **TensorFlow version (use command below)*

[2017-09-20 22:04] aselle commented on #13080
@gunan, PTAL. Thanks!

[2017-09-20 22:05] aselle commented on #13082
Although @ppwwyyxx  and @shreyneil, seem to have already answered your question...

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-20 22:05] #13082 closed

[2017-09-20 22:06] aselle commented on #13092
Since this is not core TensorFlow code, we typically do not support it. Please file a bug with the author of the chatbot. Thanks!

[2017-09-20 22:06] #13092 closed

[2017-09-20 22:09] aselle commented on #13196
Did you try this? (linked from the error message's link)
https://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example

[2017-09-20 22:09] gunan commented on #13080
@av8ramit We should also patch master with your patch to 1.3

[2017-09-20 22:24] shivaniag commented on #13183
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-20 22:24] #13183 closed

[2017-09-20 22:28] aselle commented on #13066
@EMCP, are you suggesting a PR for @samjabrahams' instructions or in TensorFlow somewhere?

[2017-09-20 22:31] aselle commented on #13068
@gunan, have you ever seen this? I would basically suggest reinstalling cuda and cudnn in the more standard locations of /usr/local/cuda/..., but it appears it is finding them but you are getting these errors:
[code]

[2017-09-20 22:32] aselle commented on #13078
Unlikely in the short/midterm.

[2017-09-20 22:32] #13078 closed

[2017-09-20 22:33] aselle commented on #13076
@gunan, is there any way we can support a better workflow for accessing the failing logs. Perhaps with your new project?

[2017-09-20 22:34] aselle commented on #13100
@benoitsteiner, could you merge this change back from Eigen?

[2017-09-20 22:35] aselle commented on #13098
@sj6077 , did this solve your issue?

[2017-09-20 22:38] shivaniag commented on #13173
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-20 22:38] #13173 closed

[2017-09-20 22:41] aselle commented on #13114
@w4-kang, does @ppwwyyxx's suggestion improve your performance?

[2017-09-20 22:43] aselle commented on #13112
@AakashKumarNain, unfortunately, most TensorFlow developers are focused on developing Tensorflow, and we actually do not have the expertise to write such converters. Incidentally there is more to moving weights. It is also important to ensure that ops have exactly the same semantics and features, and we have been working on that. For example, explicit padding is not available in TensorFlow and so

[2017-09-20 22:43] #13112 closed

[2017-09-20 22:45] gunan commented on #13076
Next week we should have something

[2017-09-20 22:46] aselle commented on #13104
@wolffg, could we queue this in our next doc fixit?

@hnsl, if you have time, a PR would be most welcome to fix some of these things.

[2017-09-20 22:48] gunan commented on #13068
I think that means the libraries you installed are either incompatible with your system, or the TF libraries incompatible with what you have. I dont have much insight, as we never tested on TX2.

@petewarden in case he know something about TX* systems.

[2017-09-20 22:49] aselle commented on #13062
I'd recommend filing bug with the gemmlowp, since this is not a TensorFlow specific bug. @maciekcc, do you have any other ideas?

[2017-09-20 22:49] #13062 closed

[2017-09-20 23:01] sdschulze commented on #12040
No, reducing the Adam step size to, e.g., 1e-6 does not help.  It just makes the error occur a little later.  Neither an excessive gradient nor an excessive variable norm was observed prior to the NaN.  Did you manage to reproduce the error?

[2017-09-21 01:06] vierja commented on #11350
You can use `SummaryWriterCache`. (`from tensorflow.python.training.summary_io import SummaryWriterCache`).

This is what the the [basic session hooks](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/python/training/basic_session_run_hooks.py) use.

[2017-09-21 01:49] absentdream opened #13200 "speech_commands using python speech_recognition as input [working example]"
using your sample code /tensorflow/examples/speech_commands/label_wav.py I tweeked to use speech_recognition  as input that dumps wave data to trained network...

feel free to add to examples for others to use..

many thanks
calvin
(ubuntu 16.04, python 2.7)

<pre>
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse
import s

[2017-09-21 01:53] ZairMahmood commented on #13176
#12810 followed what mjmanning mentioned and it's not giving errors now but does freeze up everything when it gets to compiling training_ops

[2017-09-21 03:06] jiens opened #13201 "Multiple infiniband cards support in tensorflow with RDMA"
It seems that tensorflow with RDMA  doesn't support multiple infiniband cards now.
It only uses the first device in the infiniband device list.
[source rdma.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/rdma.cc)
[code]
This will fail to communicate when there are different type infiniband cards in one node, and the order of infiniband device list is different in

[2017-09-21 03:44] yaroslavvb opened #13202 "tf.InteractiveSession leaks sessions"
The following works fine with tf.Session() but will fail to release resources in tf.InteractiveSession

[code]
The reason is that interactive session enters a context using `__enter()__` and never quits it, leaving a reference from a DefaultStack object. I found this when debugging why my notebook was hogging all GPU RAM.

The two work-arounds:
1. Force C_API to close the session using `sess.__del

[2017-09-21 03:46] falconair opened #13203 "Brand new windows 10 install, TF doesn't run: ModuleNotFoundError: No module named '_pywrap_tensorflow_internal'"
I'm submitting this as a bug, instead of a support question on SO, because I'm getting this error after a very clean install of the operating system. The error occurs when I attempt to do the most basic validation, but just importing tensorflow!

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

[2017-09-21 04:09] sj6077 commented on #13098
Yes, it works now. Thank you!

[2017-09-21 05:07] sudhasubramaniam commented on #11440
i'm not finding m.predict function in main code. Can you please explain how this prediction code works

[2017-09-21 05:23] cglong commented on #13080
Out of curiosity, when can we see a release that includes these updates? I'd like to add TensorFlow into Homebrew (a macOS package manager) but we'll need a tagged source drop that contains this fix to use for the build.

[2017-09-21 05:27] spk921 commented on #13065
I have same error with MaxPoolForwardWithOptionalArgmax

[2017-09-21 05:39] eaplatanios opened #13204 "TF Record Reader/Writer C API"
@asimshankar Would you be open to adding support for reading/writing TF records using the C API? Similar to the `lib/io` stuff in the Python API.

[2017-09-21 05:55] akashjobanputra commented on #13065
I installed tensorflow-gpu from `conda` for python3.5. It works, though not with AVX or AVX2 flags but works.

[2017-09-21 06:01] spk921 commented on #13065
@akashjobanputra  Could you share your CMAKE comand .bat file (assume your env is same as above_?
And have you succeeded "MSBuild /p:Configuration=Release ALL_BUILD.vcxproj " ?

[2017-09-21 06:08] akashjobanputra commented on #13065
@spk921 No success with `MSBuild /p:Configuration=Release ALL_BUILD.vcxproj`. I'm facing same error on `MaxPoolForwardWithOptionalArgmax`
So I gave up building from source, And installed through `conda`

[2017-09-21 06:09] lalwaniabhi commented on #13065
@akashjobanputra But installing through conda does't give you functionality of tensorflow in C++ and visual studio, right?

[2017-09-21 06:12] EMCP commented on #13066
was waiting to get things working on my end, but yes..

running the instructions that are there now, on a RPi2, seemed to not quite get me there..

[2017-09-21 06:16] akashjobanputra commented on #13065
@lalwaniabhi AFAIK, it won't give functionality to C++.

[2017-09-21 06:38] byronyi commented on #5789
I found `successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero` in the log posted https://github.com/tensorflow/tensorflow/issues/5362#issuecomment-258298504 by @alexatknit, which is opposed to what AWS has been said [here](https://aws.amazon.com/ec2/instance-types/p2/):

I do not have an P2 instance at hand; do we still

[2017-09-21 06:48] liufeng900204 commented on #9550
same issue and look forward to solving that

[2017-09-21 06:48] byronyi commented on #5789
According to the QEMU-devel mailing list archive [here](https://lists.gnu.org/archive/html/qemu-devel/2017-08/pdfUda5iEpgOS.pdf), the support of GPUDirect P2P in VM requires coordinated support of PEER_CLIQUE_ID from both hypervisor and Nvidia driver, and based on the date of the [patch](https://lists.gnu.org/archive/html/qemu-devel/2017-08/msg05826.html) it seems that it is yet to be merged in QE

[2017-09-21 06:56] dantkz commented on #13164
I checked this bug with nightly build from September 19th (1.4.0.dev20170919-cp35-cp35m-linux_x86_64.whl). This is still not implemented.

[2017-09-21 08:09] rasitsimsek commented on #12501
I have solved the problems. The main problem of Tensorflow usage in C++ environment is not checking the variable types at compile time. Tensorflow checks variable types at runtime, which makes troubleshooting more difficult.
E.g. Tensor hypho2_ix( DT_INT64, TensorShape( { 4, 3 } ) );
This definition of hypho2_ix is wrong due the numbers 4 and 3 parameters are not int64_t type. But the C++ compiler

[2017-09-21 08:09] #12501 closed

[2017-09-21 08:26] rasitsimsek opened #13206 "Feature Request - Check parameter types at C++ compile time"
e.g. Tensor oTensor( DT_INT64, TensorShape( { 4, 3 } ) );

The type of parameters **{4, 3}** should be checked at compile time whether is corresponding to the **DataType** of **Tensor(DataType type, const TensorShape& shape);**.

[2017-09-21 08:51] bzamecnik commented on #4267
@damvantai Yeah, this helped! Thanks. I don't know why it wasn't installed along with package`cuda` or `nvidia-384`.

[code]

Just for completeness the file should be located at `/usr/lib/x86_64-linux-gnu/libcuda.so.1`.

[2017-09-21 09:17] AMFIRNAS commented on #9076
same error here as well :(

[2017-09-21 09:31] SragAR commented on #7778
[tensorflow-build](https://github.com/lakshayg/tensorflow-build)
It is amazing. Time taken for for a training step is halved.

[2017-09-21 09:40] luchensk opened #13207 "Failed to compile tensorflow offline with '--fetch=false' after all external dependencies fetched by bazel"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0 from master branch
- **Python version**: Python 2.7.12
- **Bazel version (if

[2017-09-21 10:55] Lucky94 commented on #2680
Hi @Mr-Grieves @nesadiankemo . Forgot to update. I got that runtime error solved after re-building it for r1.3 . The  reason I think might be this: "A more efficient implementation of non-max suppression." as it is mentioned in the bug fixes under 1.3 release.
Thanks !

ps: @jakiechris Glad to know it helped :)

[2017-09-21 11:23] hemecha commented on #13180
Hi yaroslavvb,

I have been able to build the tensorflow .dll  and it looks like the flag /wholearchive with the dinamic library is not needed.
My project is working only linking with the following dependencies:
 libprotobuf.lib and tensorflow.lib.

Thank you very much for your help, it has been very useful.

Kind regards.

[2017-09-21 12:01] micklexqg opened #13210 "tensorboard failed on win 10"
I tried to use tensorboard(win10+python3.5.2+tensorflow-gpu 1.1.0), but failed with the error:
![image](https://user-images.githubusercontent.com/13776012/30694040-dde10e00-9f04-11e7-9b1f-ab55cac9f4f9.png)
(module 'tensorflow' has no attribute 'make_tensor_proto')
but I tried on win 7 with the same events, and succeed.(win7+python3.5.2+tensorflow-gpu 1.0.1)
![image](https://user-images.githubuserc

[2017-09-21 12:01] dsalaj commented on #4722
@fps7806 I am currently using `einsum` with dynamic batch dimension like so:
`input = tf.placeholder(dtype=tf.float32, shape=(None, n_step, n_in))`
`weights = tf.Variable(tf.truncated_normal((n_in, 1), stddev=1.0/np.sqrt(n_in)))`
`Y_predict = tf.einsum('ijk,kl->ijl', input, weights)`
It works without errors which contradicts your previous statement. Has this been patched in the meantime?

@xuancon

[2017-09-21 13:01] eyaler opened #13211 "transform_graph does not allow ~/ in path"
when using ~/ in path, transform_graph returns file not found

[2017-09-21 13:37] #13163 closed

[2017-09-21 14:28] naimmd commented on #12553
Have you  changed the label_id_offset from 0 to 1 ?
./object_detection/evaluator.py:187:     categories=categories, label_id_offset=0)

                                                    **categories=categories, label_id_offset=1)**

[2017-09-21 14:49] tjingrant commented on #13094
Hi, I'm interested in taking a crack at this. Will keep you updated.

[2017-09-21 14:55] davidsonff commented on #13196
Hi @aselle - If you mean to cd out of the git directory, I am not starting there to begin with. Am I understanding you correctly? The paths all seem to have the requisite files in them. The only weird thing was that on my Windows machine the "lib" directory is "Lib" with a capital "L". Doesn't seem to change anything when I change it though.

[2017-09-21 15:12] yaroslavvb commented on #13180
OK, I guess it makes sense, dynamic linkers don't strip out symbols by default, as opposed to static linkers, since they don't know which symbols are needed

[2017-09-21 15:12] #13180 closed

[2017-09-21 15:27] utkrist opened #13213 "GRPC causes training to pause in individual worker (distributed tensorflow, synchronised)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian GNU/Linux 8.9 (jessie)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.2.0-5-g435cdfc 1.2.1
- **Python version**: 3.6.2
- **CUDA/cuDNN versio

[2017-09-21 15:31] yaroslavvb commented on #13202
@mrry do you know if anyone's planning to make `Session.Reset` work for local sessions?

[2017-09-21 15:40] yaroslavvb commented on #13211
would you like to send a PR to fix it? You could get value of '~' as `getenv("HOME")` and then replace `~` with that? That's essentially what bash is doing when you use ~

[2017-09-21 15:52] eLvErDe opened #13214 "Tensorflow 1.3.0 not buildable because bazel fails to download protobuf"
It's not a local issue, reproduced several time with different Internet connection....

Thanks

[2017-09-21 15:53] haibin894609937 opened #13215 "how to compute out product with tf"
how to compute out product with tf

[2017-09-21 16:07] yaroslavvb commented on #13187
It's possible there was performance regression in parse_example

For this to get resource there needs to be at minimum a reproducible example, and ideally, some investigation of the cause of the slowness

1. It takes 240 secs, how much do you expect it to take? Is it possible that it's as as fast as it can be? Similar discussion with parse_csv slow
https://github.com/tensorflow/tensorflow/issues/1

[2017-09-21 16:09] aselle commented on #12984
@gunan, another example of this issue.
see also #13080

[2017-09-21 16:10] aselle commented on #12984
Also #12979

[2017-09-21 16:10] yaroslavvb commented on #13215
please ask this on stackoverflow, this is for bugs :)

[2017-09-21 16:10] #13215 closed

[2017-09-21 16:12] #13171 closed

[2017-09-21 16:13] aselle commented on #12979
#12979 #13080

[2017-09-21 16:13] yaroslavvb commented on #13206
C++ is just one of the backends, the TensorFlow type is dynamic because the runtime has to be compatible with dynamic languages like Python.

[2017-09-21 16:14] yaroslavvb commented on #13177
looks this was fixed in other issue, feel free to close if it was addressed

[2017-09-21 16:15] aselle commented on #12944
Closing this issue in favor of the models issue you created.

[2017-09-21 16:15] #12944 closed

[2017-09-21 16:17] aselle commented on #12904
@petewarden, have you hit this lately? Do you have a better fix?

[2017-09-21 16:21] aselle commented on #13214
This is a duplicate of #12979. Please see that issue for more information.

[2017-09-21 16:21] #13214 closed

[2017-09-21 16:25] aselle commented on #13206
@sskye, would you please consider this request. I suppose we could have a runtime check, or we could have a templatized version that checks types more statically.

[2017-09-21 16:25] yaroslavvb commented on #13204
sorry for drive-by comment -- providing readers lib/io in C_API feels a little weird -- the API comprises methods for managing computational graph. Parsing TF records is a form of computation, so it can be handled within computational graph as tf.TFRecordReader ops rather than a new method

For some reasons (performance?) people also added standalone utilities that can TF-related things without us

[2017-09-21 16:26] aselle commented on #13176
Consider using a cross compiler on a bigger host to produce the raspberry pi binary. I don't know how to do this most easily, but probably others have done this.

[2017-09-21 16:27] aselle commented on #13186
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-21 16:27] #13186 closed

[2017-09-21 16:29] aselle commented on #13106
@gunan, I assume this is a duplicate of #12979.

[2017-09-21 16:31] aselle commented on #13114
Is each data item different size?

[2017-09-21 16:33] aselle commented on #13114
I would recommend trying to redefine your code in such a way that your data can be same size. That will likely be the best way to avoid performance problems. Make sure you are not modifying the graph continually on every loop of training (you can finalize your graph to get an error if yout ry to do this). Without you sharing your code in the issue (or a simplified version that still has the proble

[2017-09-21 16:35] aselle commented on #13120
It looks like your save path is invalid
[code]
try giving it one that isn't a mix of being relative and absolute.

[2017-09-21 16:35] #13106 closed

[2017-09-21 16:37] mrry commented on #11438
The original error is printed in TF 1.2 when you call `sess.run()` on some tensor/op that depends on a placeholder and do not feed that placeholder. (The error message is improved in TF 1.3.) The cause is probably a hidden `sess.run()` call in one of the queue runners.

IIRC, you should never call `tf.train.start_queue_runners(sess)` where `sess` is a `MonitoredSession`, because it will attempt to

[2017-09-21 16:39] aselle commented on #13202
Derek, could you please take a look. Thanks!

[2017-09-21 16:43] eaplatanios commented on #13204
Thanks for the comment! I think I agree for the most part. My concern though is that there is certain utilities that should be provided by the native library. For example, right now if I want to implement a "summary_writer" I would have to implement a writer for the right format and make sure it's compatible with tensorflow. And every other API, for other languages, should do the same. So, given t

[2017-09-21 16:44] mrry commented on #13202
@yaroslavvb I'm confused by your diagnosis, because the `InteractiveSession.close()` method [explicitly calls `__exit__()`](https://github.com/tensorflow/tensorflow/blob/e9d5ee1ebffba25cef65f1f354b9e4ca9bcea10c/tensorflow/python/client/session.py#L1627) on the context managers it enters in the constructor. Where is the dangling reference?

`Session.reset("")` is [implemented](https://github.com/te

[2017-09-21 16:47] PhilJd commented on #13202
I'm experiencing the same with the normal `tf.Session` and also while using the C API directly. The following code keeps the memory on the GPU allocated until it exits.
[code]

I'm running Ubuntu 16.04, cudnn 6.0, cuda 8.0, tensorflow-master build is 2 hours old.

[2017-09-21 16:49] av8ramit commented on #12935
Hey @tillahoffmann can you give the [nightlies](https://pypi.python.org/pypi?:action=display&name=tf-nightly&version=1.4.0.dev20170921) from today a chance?

[2017-09-21 16:51] JettJones commented on #12401
This looks like a duplicate of #11829 - which was patched on September 18th. 🎉

[2017-09-21 17:04] yaroslavvb commented on #13202
@PhilJd that's a different issue -- the memory allocator is global to the process, so it will keep the memory allocated even if the session gets closed.

@mrry indeed that method gets called, but somehow session doesn't get garbage collected. I assumed DefaultStack was to blame by looking at `gc.get_referrers(sess)`

CPython is supposed to call `__del__` immediately after ref-count gets decremente

[2017-09-21 17:07] av8ramit commented on #12366
Merged!

[2017-09-21 17:07] #12366 closed

[2017-09-21 17:11] av8ramit commented on #13024
We have rolled out [tf-nightly](https://pypi.python.org/pypi/tf-nightly) packages and I've [merged](https://github.com/tensorflow/tensorflow/pull/13198) a fix for the links. The package name has changed, but these are consistently built every night.

[2017-09-21 17:11] #13024 closed

[2017-09-21 17:13] arturml opened #13216 "[feature request] set some dimension in row_shape to the maximum in each batch in tf.contrib.data.Dataset.dense_to_sparse_batch"
The docstring says:

**row_shape:** A `tf.TensorShape` or `tf.int64` vector tensor-like
    object representing the equivalent dense shape of a row in the
    resulting `tf.SparseTensor`. Each element of this dataset must
    have the same rank as `row_shape`, and must have size less
    than or equal to `row_shape` in each dimension.

The row_shape must be the same for every batch, so if the elem

[2017-09-21 17:18] aselle commented on #12667
@mrry, could you please take a look?

[2017-09-21 17:38] gunan commented on #12979
Ack.
Looks like we have to mirror all github URLs ourselves and not link github. Apparently git has no guarantees for checksums of the archives they provide.

[2017-09-21 17:40] gunan commented on #12984
deduping and merging all of these on #12979

[2017-09-21 17:40] #12984 closed

[2017-09-21 17:42] gunan commented on #13080
Once we have all the archives mirrored, we will look into a new release.
For now, deduplicating this issue in favor of #12979

[2017-09-21 17:42] #13080 closed

[2017-09-21 17:42] gunan commented on #12986
deduping this against #12979 Please watch that issue for progress.

[2017-09-21 17:42] #12986 closed

[2017-09-21 17:44] gunan commented on #10157
Looks like this issue was resolved.
I will close this issue.

It is also obsolete now, as you can just use `--config=mkl` to build with MKL support.

[2017-09-21 17:44] #10157 closed

[2017-09-21 17:45] gunan commented on #11200
Looks like this was resolved?
Please reopen if you are still seeing a problem.

[2017-09-21 17:45] #11200 closed

[2017-09-21 17:47] gunan commented on #13076
Actually. in the full log, if you serarch in page for the failed test, you can find the full dump of the test logs.
However, I agree that they are difficult to find.
Next week, we will migrate to a better solution, which should solve this problem.

[2017-09-21 17:48] #12331 closed

[2017-09-21 17:48] tycho commented on #12979
There's no technical reason why they *couldn't* provide archives with consistent checksums. The inputs used to create the tarballs are constant for any given commit/tag hash (same timestamps, other metadata and content), so it should be feasible to create archives with the consistent hashes. Have we investigated what the actual differences *are*? Is the compression somehow introducing the variabil

[2017-09-21 17:48] kdatta commented on #12984
thanks

[2017-09-21 17:51] gunan commented on #12979
https://github.com/libgit2/libgit2/issues/4343#issuecomment-328631745 is the explanation.

We on TF end are bound by the feature provided to us by bazel to check the archive checksum after downloading it. We can ask a new feature from bazel to check the source tree checksum, but it will take until the next bazel release to land, and we need to fix things before then. So the quickest solution seems

[2017-09-21 17:52] shivaniag commented on #13213
@mrry could you please take a look.

[2017-09-21 17:58] tycho commented on #12979
I didn't mean source tree checksums, although that'd be reasonable too I guess. I meant just `cat foo.tar.gz | gzip -d | sha256sum -`

[2017-09-21 18:06] shivaniag commented on #13079
@asimshankar do you have any comment on this feature.

[2017-09-21 18:17] shivaniag commented on #13093
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-21 18:17] #13093 closed

[2017-09-21 18:29] tuanh118 commented on #8098
I got the same error.

- This code produces `ValueError: setting an array element with a sequence.`
[code]
- This code (without using a placeholder) works
[code]

Since I'm new to tensorflow, I'm leaning towards it's something I don't understand. I'm trying to keep the placeholder for easy feeding, but not sure how to do it.

[2017-09-21 18:36] eLvErDe commented on #11903
Hi,

I'm trying to do the same but I can't get it build. I'm not sure what I should do but I modified configure script to link mpicxx.h in third_party/mpi but that does not help.

Here the content on the openmpi stuff on Debian:
[code]

Any hint ?

Thanks !

[2017-09-21 18:39] tillahoffmann commented on #12935
:tada:, thank you for the CPU build!

[2017-09-21 18:54] shivaniag commented on #13177
This is a duplicate of #13180. Please see that issue for more information.

[2017-09-21 18:54] #13177 closed

[2017-09-21 18:58] yaroslavvb commented on #13202
OK, looks like `__del__` isn't called because there's a cycle and ref count never goes to zero.
`sess._default_session.args` points back to sess (args are filled in [here](https://github.com/tensorflow/tensorflow/blob/03619fab3f4dd6f28b67418455a953b0fccdd9bf/tensorflow/python/framework/ops.py#L4507))

Using `tf.Session` doesn't create the context manager so this problem doesn't happen.
Running `gc

[2017-09-21 19:04] shivaniag commented on #13119
This is a duplicate of #13196. Please see that issue for more information.

[2017-09-21 19:04] #13119 closed

[2017-09-21 19:05] shivaniag commented on #13081
This is a duplicate of #13196. Please see that issue for more information.

[2017-09-21 19:05] #13081 closed

[2017-09-21 19:07] shivaniag commented on #13203
This is a duplicate of #13196. Please see that issue for more information.

[2017-09-21 19:07] #13203 closed

[2017-09-21 19:15] printdhruv commented on #13210
There are a few setting works the best with Windows 10 under specific cuDNN and CUDA library.

[2017-09-21 19:21] tfboyd commented on #5789
I test on these systems once a month and the peering works fine.  The messages is unfortunately misleading.  I have a test that runs VGG16 with NCCL and it would not perform well if the sync was not GPU to GPU.

[2017-09-21 19:25] yaroslavvb commented on #13202
Ironically InteractiveSession only causes this problem during interactive use, when you have a notebook open and create new graphs/sessions all the time.

The underlying issue is that sess needs to keep a reference to the default context manager (otherwise it gets garbage collected and closed), whereas default context manager must link back to session. This seems hard to fix this issue without big

[2017-09-21 19:53] kevinbache opened #13220 "CPU Build Fails on OSX Sierra"
I'm getting a cpu-only Bazel build failure on OSX.  TensorFlow has already been .configure'd with default options.

Message below.

[code]

**TensorFlow commit:** e9d5ee1ebffba25cef65f1f354b9e4ca9bcea10c

**Mac OSX Sierra 10.12.6 (16G29)**
**Command Line Tools:**
[code]

**Environment Capture Script:**
[code]

**Bazel Information:**
[code]

[2017-09-21 20:00] MtDersvan commented on #12968
I would also appreciate if someone can suggest the best way to add support for weighted losses to `nce_loss` (or maybe to `_compute_sampled_logits`?) in the same fashion as it is implemented in `tf.losses.sparse_softmax_cross_entropy` or `tf.losses.sigmoid_cross_entropy`? Because, multi-label tasks often have imbalanced datasets.

[2017-09-21 20:53] codrut3 commented on #9560
I've looked in the source code and the origin of this bug is in Eigen, specifically src/Core/MathFunctions.h. They specialize their template for pow to the case of both parameters integers, and provide an implementation which only works for positive y. The problem is the well-known bug-loop of shifting y to the left: if y < 0, then the bit sign extends and it continues indefinitely.

Here is the c

[2017-09-21 21:13] ahaider3 commented on #11903
@eLvErDe I would try this: https://github.com/tensorflow/tensorflow/pull/12299

It uses MPI collective operations for distributed computation.

[2017-09-21 21:26] utkrist commented on #13213
Someone mentaions [here](https://github.com/grpc/grpc/issues/7785) that: "I'm also seeing this error in distributed tensorflow when I close and reset a lot of FIFOQueues."

[2017-09-21 21:49] mrry commented on #13213
There are a couple of possible issues, but it's difficult to tell without a reproducible example:

1. According to the linked issue in gRPC, the problem might be due to an old version of gRPC. Try upgrading to a later version of TensorFlow to get the update.
2. It looks like you're using an initializable iterator in order to get end-of-epoch signals. However, `SyncReplicasOptimizer` depends on all

[2017-09-21 21:59] mrry commented on #12667
There's nothing obviously wrong with the code you've shown, but without a minimal and complete reproduction, there's almost no chance we'll be able to trigger the same bug, which might be due to transient network connectivity issues between your containers. In general, for long-running training, I would recommend adding a watchdog process that monitors whether progress is still being made (e.g. wh

[2017-09-21 22:03] av8ramit commented on #12935
No problem! Please reopen if there are any issues.

[2017-09-21 22:03] andrewharp commented on #12593
I believe the UnsatisfiedLinkError should be fixed by @ArtsiomCh in 0e69f536c13d6db7e8276ee7ffe249a82d89f246.

I've also submitted an internal commit that should be public soon which will enable the object tracker when using camera 1 API.

[2017-09-21 22:03] #12593 closed

[2017-09-21 22:11] facaiy commented on #13076
Cool, since the issue will be fixed later, so I close it.

[2017-09-21 22:11] #13076 closed

[2017-09-21 22:22] yaroslavvb opened #13221 "Memory leak in zeros_like/Tile"
So I'm trying to figure out why my resnets are running out of memory, and it seems that there's a memory leak in Tile and zeros_like operations.

Those ops have memory allocated during each session run but there's no `__LOG_MEMORY__` deallocation messages corresponding to them. The sum of missing deallocations matches the amount of memory leaked as reported by allocator as `max_bytes_in_use` (acce

[2017-09-21 22:23] luiz9495 commented on #13220
same error here

[2017-09-21 22:23] aselle commented on #13146
@petewarden, is there any easy way to handle this. In principle it should be possible to rewrite the graph and transpose all the weight variables so that it can operate in NHWC. Perhaps Grappler could help?

[2017-09-21 22:24] d4l3k commented on #12988
FYI, you need to modify `tensorflow/contrib/android/jni/version_script.lds`

[code]

https://github.com/luk-ai/tensorflow/commit/2814fa49f9cc1b36a2e3966352383aef982a49be#diff-df6db502bb3780540dc626b51c895c42

[2017-09-21 22:25] aselle commented on #13148
@mrry, could you please evaluate this feature request. If it is a question of  it being possible already then perhaps it should belong on StackOverflow. I don't suppose you can use has-A inheritance to implement layered datasets?

[2017-09-21 22:41] tfboyd commented on #12474
@hfutxrg Correct independent means graidents are not shared between the towers.  Only useful for testing hardware and no a "legit" way to test actual performance.

FYI, it looks like cuDNN 7 is mostly merged.  I have not tested it myself yet but just FYI.  Trying to keep the thread updated as I have time.

https://github.com/tensorflow/tensorflow/pull/12503

[2017-09-21 23:42] shivaniag commented on #13150
@saeta could you please take a look, and change the example in documentation if necessary.

[2017-09-21 23:53] vslobody opened #13222 "SVD in TensorFlow is slower than in numpy"
I am observing that on my machine SVD in tensorflow is running significantly slower than in numpy. I have GTX 1080 GPU, and expecting SVD to be at least as fast as when running the code using CPU (numpy).

**Environment Info**

Operating System

    lsb_release -a
    No LSB modules are available.
    Distributor ID:	Ubuntu
    Description:	Ubuntu 16.10
    Release:	16.10
    Codename:	yakkety

In

[2017-09-22 00:00] #10857 closed

[2017-09-22 00:14] yaroslavvb commented on #9234
I just reran the test in latest TensorFlow and it works if you use GPU.
On CPU I still get NaN's (there should be no NaNs)

[code]

[2017-09-22 00:15] byronyi commented on #5789
@tfboyd Thanks for the heads up!

I'm actually quite interested in the 16 GPUs setup on AWS. All to all peering seems to be unlikely as those 16 GPUs are not connected directly through a single PCIe switch (according to Mu Li's PhD thesis).

Any reason why we don't have single node 16 GPUs benchmark result included in the TF CNN benchmarks page?

[2017-09-22 00:21] yaroslavvb commented on #13222
Note that you are comparing GPU implementation with CPU implementation. Not sure what expected speed of GPU SVD is, but some algorithms run faster on CPU.

You can compare CPU vs CPU implementation by setting `CUDA_VISIBLE_DEVICES=` before running your test. I believe numpy is still faster here because CPU implementation of SVD in TF is single core.

[2017-09-22 00:31] tfboyd commented on #5789
Yeah, I realized I missed the mark with my comment.  16 gpus in one server
is rare and at this point newer hardware makes the setup less interesting.
I thought about it when I tested but I just did not find it useful as it is
more of an oddity.  P100s and V100s are very unlikely to ever be configured
like that and I do not think nvlink supports more than 8.  I end up wrong
alot but when I am wrong

[2017-09-22 00:39] allenlavoie commented on #12860
I haven't. I may have run into it when I was following our custom op documentation. It sounds like worst case we could add a copy in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/build_pip_package.sh ? Or maybe a genrule before that.

[2017-09-22 01:06] #9911 closed

[2017-09-22 01:06] tensorflowbutler commented on #9911
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-22 01:08] byronyi commented on #5789
I have not aware of any virtualization technique that exposes NVLink to the hypervisor, and if the current KVM/Xen doesn't support NVLink up to the same level of their support to PCIe, I doubt if it's  possible for us to use native NVLink interconnect on public cloud.

[2017-09-22 01:27] micklexqg commented on #13210
@printdhruv , thank you. but I think it has nothing to do with cuDNN and CUDA. there is no any gpu computation in this case.

[2017-09-22 02:04] alifejon commented on #6064
@rylanchiu I have got error like this:
[code]
I am using tf.__version__ is 1.3.0

[2017-09-22 02:43] printdhruv commented on #13210
@micklexqg If I am understanding it correctly then you are mentioning `tensorflow-gpu 1.1.x` which must have cuda support along with specific .dll.
Also,you are using two different versions of tensorflow-gpu for windows 7 and windows 10!
From screenshot it seems tensor flow is not recognizing the some attributes which might be different in two versions of 1.1.0 and 1.0.1
Please follow template [he

[2017-09-22 02:43] vslobody commented on #13222
When I profile the code, I see that numpy is spreading the load across all 8 CPU cores ( Intel i7 ), so I was somewhat expecting to see the benefit of having so many (2560) CUDA cores.

[2017-09-22 03:07] #12285 closed

[2017-09-22 03:26] hhuangfh opened #13225 "Is there any tool to see the tensorflow net's topology?"
As you known, we could use "http://ethereon.github.io/netscope/quickstart.html" to catch sight of the caffe network's  topology structure. Is there any one for tensorflow?

[2017-09-22 03:31] #13013 closed

[2017-09-22 03:41] mrry commented on #13225
[TensorBoard](https://github.com/tensorflow/tensorboard) includes a graph visualizer, documented [here](https://www.tensorflow.org/get_started/graph_viz), with more details including a paper about it [here](http://idl.cs.washington.edu/papers/tfgraph/).

[2017-09-22 03:41] #13225 closed

[2017-09-22 03:42] mrry commented on #13216
Sounds reasonable to me! This would make a great first contribution to the Dataset API, so I'm going to mark this as contributions welcome.

[2017-09-22 05:21] w4-kang commented on #13114
Even though second epoch is still running, I think elapse time of second epoch will be similar with first epoch(about 45h) with `export TF_CUDNN_USE_AUTOTUNE=0`. As ppwwyyxx 's expectation, two epoch takes same (slower) speed.
If I can't modify data (like zero padding) for like aselle's recomentation, no more options in there?
Rather than make same size data, if I arrange order of data and make ea

[2017-09-22 05:47] adityapatadia commented on #9697
@nylocx any luck with the #9638?

[2017-09-22 06:05] adityapatadia commented on #9697
@ggael please check #9638. Please also let us know when can we expect new release tagged for eigen?

[2017-09-22 06:45] jbedorf commented on #11903
@eLvErDe have you tried setting the following environment variable: `OMPI_SKIP_MPICXX=1` ? Alternatively you can try using an OpenMPI distribution built from source where you do not enable the C++ bindings.

[2017-09-22 06:51] buptpriswang commented on #13094
Hi, it's interesting RNN cell, will keep you updated

[2017-09-22 06:59] florind commented on #13220
Got the same error building TF for Java from source on Sierra 10.12.6.

[2017-09-22 07:41] nylocx commented on #9697
Hi, yes I had partiall success.
I had to deactivate AVX512F optimization to get rid of the errors and used the eigen Version I posted at #9638

[2017-09-22 07:48] snnn opened #13227 "commit 5c7f9e3 breaks windows bazel build"
commit 5c7f9e316d8c7735308a217310350d416d7498cc in #13224 breaks windows bazel build

First, _rpath_linkopts() in tensorflow/tensorflow.bzl should not add rpath args to link.exe
Second,  the link command generated from bazel is incorrect,

link.exe /nologo /OUT:bazel-out/host/bin/tensorflow/python/gen_set_ops_py_wrappers_cc.exe -Lbazel-out/host/bin/_solib_x64_windows/_U_S_Stensorflow_Spython_Cgen_

[2017-09-22 07:55] bodokaiser opened #13228 "add image gradient op"
A [paper][1] I am reimplementing recently uses [image gradient loss][2]. Numpy offers [np.gradient][3] to achieve this task i.e. `np.gradient(image, axis=0), np.gradient(image, axis=1)` however tensorflow lacks this feature or at least documentation about how to use `tf.gradients` to get this done.

Therefore I propose to either send a PR where I add a gradient image op which uses fixed 2d convolu

[2017-09-22 08:12] adityapatadia commented on #9697
What is the flag to disable AVX512X?

[2017-09-22 08:25] hanliyao commented on #9554
that is a great idea....@gdjOnes

[2017-09-22 08:37] facaiy commented on #13216
Hi, @mrry. I'm interested in the issue. Do you have any advice for me?

[2017-09-22 08:44] Moymix opened #13229 "where is tensorflow slim pretrained models??"
It seems that the url of the pretrained model below has been deleted.
[https://github.com/tensorflow/models/tree/master/slim#Pretrained](https://github.com/tensorflow/models/tree/master/slim#Pretrained)

So, where are the tensorflow slim pretrained models now?

[2017-09-22 08:49] Moymix commented on #13229
I've found it here:
[https://github.com/tensorflow/models/tree/master/research/slim](https://github.com/tensorflow/models/tree/master/research/slim)

[2017-09-22 08:50] #13229 closed

[2017-09-22 08:51] byronyi commented on #5789
@tfboyd Even with the latest P100 and V100, the problem still remains. If you take a look of the DGX-1 system bus topology (hypercube alike), it is unlikely that all-to-all peering could be achieved with uniform latency/bandwidth provision.

NCCL claims to handle this case optimally, but when I tested vgg16 on my local box with 4 K40m GPUs in an PCI-passthrough VM:

|param|result|
|:-:|:-:|
|`vari

[2017-09-22 09:56] vizsatiz commented on #13211
I would like to pick this issue for my first contribution.

[2017-09-22 09:56] charmed12 opened #13230 "pb:tensorflow-gpu with cuda 7.5 and cudnn 4 is faster then tensorflow-gpu cuda8 and cudnn 6"
I tested tensorflow 0.8 with cuda 7.5 and cudnn 4 (Maxwell Quadro K620), execution time=0.075s when i test the same code with cuda 8 and cudnn 5 , execution time=0.75 s
I tested the some code with tensorflow 1.3 , cuda 8 ,cudnn 6 ,jetpack 3.1 (jetson tx2) , execution time =0.6s when i try to get the timeline with chromium::/tracing i added tensorflow.python.client import timeline that use libcputi

[2017-09-22 10:00] nylocx commented on #9697
In the configure step I used march=broadwell for optimization instead of march=native or skylake.

[2017-09-22 10:03] WellDone2094 opened #13231 "Makefile build symbol(s) not found for architecture x86_64"
I'm trying to build tensorflow on a Mac OSx Sierra to be able to use it in a C++ project but when i compile it it gives me this error:
[https://pastebin.com/6K8qBNUF](https://pastebin.com/6K8qBNUF)

[2017-09-22 10:21] harpone commented on #13018
It doesn't seem to be in 1.3... when will this be released? What's the minimal thing I can do the get it *now*? :smile_cat:

[2017-09-22 10:27] utkrist commented on #13213
(2) Yes I am using initializable  iterator to get local End-of-epoch signal for every worker. In my case the 'epoch' count is a python variable that is local to the worker. It does not interfere with the 'global_step' and the 'local_step' that  'SyncReplicasOptimizer' uses. When some worker is initializing its iterator, other workers need to wait for brief time, but the training runs as expected a

[2017-09-22 11:34] pbanavara commented on #12686
I would like to take over this feature. What level of C++ expertise is needed. I'm a total C++ noob but am seeing this as an opportunity to learn the language as well as make a meaningful contribution. I was just checking at the python code and this line caught my eye
`softmax = nn_ops.softmax(logits)`
I presume the C++ equivalent of nn_ops.softmax(logits) is implemented somewhere - I couldn't fin

[2017-09-22 12:02] balaji-in-git commented on #13187
just to add more information to debug, here is my lscpu

Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3
Thread(s) per core:    1
Core(s) per socket:    2
Socket(s):             2
NUMA node(s):          1
Vendor ID:             GenuineIntel
CPU family:            6
Model:                 79

[2017-09-22 12:10] balaji-in-git commented on #13187
Each TFRecord is a sparse structure of feature shape  1000 222215 viz. basically I am making batches of 1000 features. TFRecordWriter works faster as compared to burning a 1000 examples of (1x222215)  . My labels are on one-hot with 58565 labels and 1000 rows again to match 1000 labels.
Using SparseFeature and parse_example is faster compared to using parse_single_example and/or VarLenFeature. But

[2017-09-22 12:21] sfikas opened #13233 "Leaky ReLU as part of tf.nn"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Ν/Α
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: baze

[2017-09-22 13:15] xiaocui0803 opened #13234 "the version of tensorflow on TensorFlow-experiment in iOS"
i get tensorflow from cocoapods, and the func TF_Version() in "c_api.h" can not run.
i want to get the version of tensorflow in "tensorflow-experiment",how can i know?

[2017-09-22 13:15] facaiy commented on #12686
@pbanavara [`tensorflow::ops::Softmax`](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/softmax) ?

[2017-09-22 13:18] balaji-in-git commented on #13187
That was the story with 1.2.1. I thought I should upgrade to 1.3 and now I did a bazel build hoping for better. Unfortunately, it's got worse. Same run above, now takes 1184 secs.
Does Tensorflow require some minimum hardware to show it's muscles.

[2017-09-22 13:47] sulaimanvesal commented on #7705
To resolve the problem in windows 10, I did the following:
`1. pip uninstall tensorflow-gpu`

Open Anancoda prompt with administrative access and then run the following command.
`conda install tensorflow-gpu`

This will take care of everything paths, cuda, cudnn and dll files and will install everything in the particular place.
[code]

[2017-09-22 14:12] balaji-in-git commented on #13187
I think the input pipeline is getting slower. I am sure if I do away with TFRecords and queues and feed the sparse matrix directly, processing using scipy or some other python library, it's been running faster earlier, though it was single threaded and may not be using all the logical cores though.

[2017-09-22 14:15] mrry commented on #13018
@harpone: `pip install tf-nightly` should do it!

But as you observed in EDIT2, the code in `Dataset.from_generator()` is built entirely out of transformations that were available in TF 1.3, so you can copy its implementation into your project and use it directly.

[2017-09-22 14:36] mrry commented on #13216
Sure, have a look at how the equivalent feature is [implemented in `PaddedBatchDatasetOp`](https://github.com/tensorflow/tensorflow/blob/a6f856b2f7920d4f74d7ca4e71967258423cc9f0/tensorflow/core/kernels/padded_batch_dataset_op.cc#L308). It should be pretty easy to translate this to where the `row_shape` is [calculated in `DenseToSparseBatchDatasetOp`](https://github.com/tensorflow/tensorflow/blob/a

[2017-09-22 15:03] yaroslavvb commented on #13187
There are many ways to get slow performance that is not a bug in TensorFlow (ie, wrong choice of threads, wrong data format, wrong design of pipeline etc). Stackoverflow can help with that with tag "tensorflow". It could be a bug in `parse_example` op. If you think it's a bug in `parse_example`, it would help with extra details I mentioned above (reproducible example + performance profile)

[2017-09-22 15:12] mrry commented on #13148
What interface and semantics would you expect for a feature like this? To guide the discussion, I doubt it would make sense to make *all* datasets mutable, because this would inhibit optimization and lead us down a path similar to the queues. However, it could make sense to have some kind of mutable data *source*, and allow using datasets to transform and iterators to iterate over these.

For exam

[2017-09-22 15:30] yaroslavvb commented on #13233
Efficiency issue could potentially be fixed by enabling XLA to fuse this pattern into a single op. That's better for maintainability than adding yet another native op (743 in the latest [count](https://raw.githubusercontent.com/tensorflow/tensorflow/master/tensorflow/core/ops/ops.pbtxt))

/cc @hawkinsp in case he knows if that's close to being reality

[2017-09-22 15:38] Coderx7 commented on #7705
@sulaimanvesal it seems conda is not up to date for the windows platform, since it installs version 1.1 which belongs to almost 5 months ago while the current version is 1.3.0!

[2017-09-22 16:01] abhishekkumardwivedi commented on #13220
Got same error while building in Android Studio 3.0 + Ubuntu-16.04

[2017-09-22 16:09] tfboyd commented on #5789
Here are some numbers from AWS

On K80 and I would assume this is also true for K40 even if peering is turned on nccl is often slower due to the sync calls ending up being other work in the thread.  But even on a DGX-1 the best (although this is changing) approach was to put the shared parameters on the CPU for resnet and inception but for VGG16 which has a lot more parameters replicated NCCL was

[2017-09-22 16:15] abhishekkumardwivedi commented on #13220
Similar issue here while building in android studio
Android Studio: v3.0
OS: Ubuntu v16.04
bazel version:
[code]

Error log:
[code]

[2017-09-22 16:20] sea-man commented on #10665
you have to run bazel with this option: **-cxxopt="-I/usr/lib/gcc/x86_64-redhat-linux/4.8.5/include/*.h"**

[2017-09-22 16:32] #12979 closed

[2017-09-22 16:34] Carmezim commented on #7705
@gunan would be a good idea to lock this thread?

[2017-09-22 16:39] gunan commented on #7705
Locking due to this becoming a catchall for unrelated windows issues.
Most of the questions here are better suited for Stackoverflow.

[2017-09-22 17:31] johnsrude opened #13238 "TensorFlow Debugger Colors Are Unreadable on Windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version 1.3.0**:
- **TensorFlow version (use command below)**: Python 3.5.2
- **Bazel version (if compiling from source)**: n

[2017-09-22 17:32] johnsrude commented on #13238
![snip_20170922100000](https://user-images.githubusercontent.com/15482785/30756905-57a485d8-9f81-11e7-979d-9509270d97ea.png)

[2017-09-22 17:33] yaroslavvb commented on #13222
cc @shamanDevel who added SVD-on-GPU op  (ps @vslobody that paper link is dead, what's the paper title?)

[2017-09-22 17:33] yaroslavvb commented on #13238
cc @caisq

[2017-09-22 17:37] vslobody commented on #13222
there is another copy on NVIDIA site
https://devtalk.nvidia.com/cmd/default/download-comment-attachment/43356/

[2017-09-22 17:41] marxsm commented on #8037
you could easily add a user variable in System Environment Variable:
TF_CPP_MIN_LOG_LEVEL, value = 2. Then restart your IDE

[2017-09-22 18:03] caisq commented on #13238
@johnsrude, tfdbg also has a readline ui_type, which can be activated with something like

[code]

Would that suite your use case? Or do you still prefer to use the curses ui_type on Windows, which AFAIK not many users are using?

[2017-09-22 18:19] strubell commented on #9234
@yaroslavvb Cool! Latest as in head or release (1.3)?

[2017-09-22 18:32] yaroslavvb commented on #9234
head, it looks like GPU op was added recently

[2017-09-22 18:33] johnsrude commented on #13238
Tried `sess = debug.LocalCLIDebugWrapperSession(sess, ui_type="readline")` and got same result.

[2017-09-22 18:38] caisq commented on #13238
Ah, that's because the debugger will fall back to an available ui_type if it can't find the ui_type specified by the user. My guess is that you don't have pyrealine installed on your Windows. You can install it with something like:

[code]

[2017-09-22 18:45] johnsrude commented on #13238
Problem is I can't use pip (pip3) because machine is offline (long story) . I have compiled pyreadline on my machine.  Where do I need to place it so that tfdbg will find it?

[2017-09-22 18:46] caisq commented on #13238
The dist_packages or site_packages folder of the python interpreter that you are using for tensorflow?

[2017-09-22 18:54] johnsrude commented on #13238
Got it.  Ran `python3 setup.py install` in pyreadline directory and all's good.

[2017-09-22 18:56] ahundt commented on #12948
I'd like to provide some additional motivation for this feature request.

I'm able to train a Resnet50 based architecture for my problem with a batch size of 32 on the older 12GB Titan X GPU. However, a DenseNet based architecture that should actually be fairly small, with 40 layers and 500k parameters can only fit a batch size of 6, produces some tf memory warnings, and runs 8x slower during trai

[2017-09-22 19:04] yongtang commented on #6265
Added a PR #13242 for a very preliminary support of `decode_video`. It is done in a similar way as `decode_audio`. At the moment the output is `rgb24`. Please take a look.

[2017-09-22 19:28] allenlavoie commented on #13227
Will investigate, and possibly file a Bazel bug. In the meantime you should be able to use --config=monolithic to work around the issue.

[2017-09-22 19:29] tycho opened #13243 "Linking of rule '//tensorflow/contrib/factorization:gen_gen_clustering_ops_py_wrappers_cc' failed (missing -lcuda?)"
Trying to build Tensorflow from a6f856b2f7920d4f74d7ca4e71967258423cc9f0 with CUDA and just started running into this issue:

[code]

My previous successful build (I haven't tried revisions in between) was from abfc9deb7. My build environment hasn't changed significantly since then (no compiler, CUDA, or relevant library changes). I suspect it must be a recent change in the Tensorflow repo that's

[2017-09-22 19:30] sushanthku opened #13244 "BUG:Memory leak in tf.string_split"
[profile_9734.0066.txt](https://github.com/tensorflow/tensorflow/files/1325612/profile_9734.0066.txt)
[profile_9734.0100.txt](https://github.com/tensorflow/tensorflow/files/1325613/profile_9734.0100.txt)
[profile_9734.0150.txt](https://github.com/tensorflow/tensorflow/files/1325611/profile_9734.0150.txt)

Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged

[2017-09-22 19:33] allenlavoie commented on #13227
Actually it sounds like @meteorcloudy is aware of the issue and working on Windows dynamic linking. Sorry you ran into this!

[2017-09-22 19:40] priya-dwivedi opened #13245 "Links to Object_detection model no longer work"
Examples of broken links include

https://github.com/tensorflow/models/blob/master/object_detection/create_pascal_tf_record.py
https://github.com/tensorflow/models/blob/master/object_detection/g3doc/running_pets.md

Thanks!

[2017-09-22 20:11] erikbjohn commented on #12929
What was the solution to this problem?

[2017-09-22 20:35] shivaniag commented on #13245
Current models in the repository have been moved to the subfolder called 'research' , following are the new links:
https://github.com/tensorflow/models/blob/master/research/object_detection/create_pascal_tf_record.py
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_pets.md

Docs have been updated for the same, please point to the doc if you see any broken li

[2017-09-22 20:35] #13245 closed

[2017-09-22 20:37] Sentient07 opened #13246 "Documentation correction"
Hi,

I think there might be a possible documentation error in that of `tf.stack`. It's said that the numpy equivalent is `np.asarray`. But `np.asarray([])` will take lists of arbitrary shapes and makes it to a `ndarray` whereas `tf.stack` requires all the dimensions of objects in the list to be same. So the equivalent ideally would be `np.stack`.

Cheers,
Ramana

[2017-09-22 20:41] RubyGemer commented on #18
can anyone plz tell me how to write a fresh tensor flow C# project in Visual Studio MacOS? What project should I choose?
<img width="1109" alt="screen shot 2017-09-23 at 1 42 03 am" src="https://user-images.githubusercontent.com/15967311/30762971-d0ea0e42-a001-11e7-95d9-ccedaaa404cf.png">

Also I have installed TensorFlowSharp using Nuget from inside of Visual Studio MacOS but when I built the exi

[2017-09-22 20:51] allenlavoie commented on #13243
Not sure how, but could be a result of https://github.com/tensorflow/tensorflow/pull/13224/commits/5c7f9e316d8c7735308a217310350d416d7498cc

I'll take a look.

[2017-09-22 20:56] gunan commented on #18
Your best bet is the instruction right here:
https://github.com/migueldeicaza/TensorFlowSharp/issues/149#issuecomment-331329430

There is still no official C# support in TF itself, so we wont be able to help much.

[2017-09-22 20:58] allenlavoie commented on #13243
Yeah, seems related. You can work around the issue with --config=monolithic while I figure out how to fix it.

[2017-09-22 20:59] shivajid commented on #12416
Install CUDNN6.0. Older version used 5.0. Both 5.0 and 6.0 can co exists. Just download and copy the files to /usr/local/cuda/include and /usr/local/cuda/lib64 the corresponding file. I had this issue upgrading tensorflow to 1.3.

[2017-09-22 21:24] abhishek-neurala opened #13249 "Compilation error since today morning with cudnn 5.1.10"
------------------------

### System information
Memory : 16GB
Processor: Intel® Core™ i7-7700HQ CPU @ 2.80GHz × 8
GPU: GeForce GTX 1060/PCIe/SSE2
OS Type- 64 bit

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04
- **TensorFlow installed from (source or binary)**: Source
- *

[2017-09-22 21:34] gunan commented on #8888
Please file tensorboard issues under the new tensorboard repository at github.com/tensorflow/tensorboard

[2017-09-22 21:42] skye commented on #12686
Hi @pbanavara, @facaiy is correct. We have functions for every op in both Python and C++. I would look at the C++ API documentation (https://www.tensorflow.org/api_guides/cc/guide, https://www.tensorflow.org/api_docs/cc/group/core) and existing gradient functions to get a feel for what they look like. Also make sure you can successfully build TensorFlow before you start writing code. Maybe I'm ove

[2017-09-22 22:04] aselle commented on #13246
Yes, you are correct; thank you for letting us know. I'm submitting a fix for this internally which should make its away externally soon.

[2017-09-22 22:05] aselle commented on #13234
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-22 22:05] #13234 closed

[2017-09-22 22:07] aselle commented on #13230
There are all sorts of reasons that when code changes that some things get faster and some things get slower. Without a reproducible test case, we can only speculate. Unless you can provide a reproducible case and post it, there is no way we can look into this.

[2017-09-22 22:07] #13230 closed

[2017-09-22 22:12] aselle commented on #13228
You are mixing up spatial (image gradients) which are respect to a change in position and gradients with respect to parameters of the ML model. Using a fixed 2d convolution as you show here is the correct solution. tf.gradients is used only for computing gradients with respect to variables in your model. In this case, creating a convolution that uses a constant to implement a gradient is what you

[2017-09-22 22:22] aselle commented on #13156
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-09-22 22:22] #13156 closed

[2017-09-22 22:23] aselle commented on #13142
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-22 22:23] #13142 closed

[2017-09-22 22:26] shlens commented on #13228
Agreed with @aselle. Note the spatial gradient is computed in [total_variation](https://www.tensorflow.org/api_docs/python/tf/image/total_variation) and you might be able to employ this function as a prototype for your particular needs.

[2017-09-22 22:33] tycho commented on #13243
Just checked, adding `--config=monolithic` does work. My non-chroot build didn't need that though, presumably because of previous build artifacts sitting in the bazel cache?

[2017-09-22 22:46] aselle commented on #13144
Yes, this feature is not implemented, but it is relatively easy to add. Would you be willing to contribute a pull request. In particular look at
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_grad.py#L388
(for ReluGradGrad). You can follow suite for Relu6.

[2017-09-22 22:47] aselle commented on #13098
If  your problem is resolved @sj6077, please close the issue.

[2017-09-22 22:49] dmacvicar commented on #13061
@yongtang Thanks a lot for PR #13145
I plan to upload my branch with support for system sqlite3, jpeg and others after some cleanups.
It can then be enhanced from there.

One cleanup that may be it makes sense to be done before adding support for system libraries is to rename variables like `jemalloc_STATIC_LIBRARIES` to something like `jemalloc_ext_LIBRARIES` as they will not always be dynamic.

[2017-09-22 23:04] pturnerucsb commented on #13220
I started getting this error yesterday after upgrading XCODE for a different project I'm working on.

temporary hack fix in `__threading_support`

[code]

Obviously not a long term solution, however it unblocks me today.

[2017-09-22 23:08] yaroslavvb commented on #6911
So I've just tried at head and this is happening again. After switching branches, I get this from bazel

[code]

[2017-09-22 23:15] yaroslavvb commented on #6911
Looks like commenting out the lines which throw this exception in gen_git_source.py fixes the issue

[2017-09-23 00:20] mrry commented on #13213
On (1.), I think you might need to upgrade to a nightly build to get the upgraded version of gRPC. (It doesn't look like the 1.3 branch has the upgraded version.)

[2017-09-23 00:24] chrisc36 opened #13254 "RNNParamsSavable breaks when there is more than one RNN"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.5
- **Bazel version (if compiling from source)**: 5.2
- **C

[2017-09-23 00:51] ppwwyyxx opened #13256 "segfaults in Saver.restore with missing files"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: centos 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc1-2456-g7abd587 1.4.0-dev20170922
- **Python version**: 3.6

[code]
The above code segfaults in today's nightly build. I expect an exception.

[2017-09-23 01:00] #10977 closed

[2017-09-23 01:00] tensorflowbutler commented on #10977
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-23 02:06] printdhruv commented on #13256
@ppwwyyxx You are right! It shut down python unexpectedly in windows as well.
I guess this issue is caused due to the changes in `tensorflow\include\tensorflow\core\grappler\grappler_item` file!

[2017-09-23 02:20] allenlavoie commented on #13243
Looks like it might be a Bazel linking bug. Building the pip package (bazel build --config=cuda //tensorflow/tools/pip_package:build_pip_package) works, and the resulting pip package has contrib/factorization/python/ops/gen_clustering_ops.py. But building this rule explicitly (bazel build //tensorflow/contrib/factorization:gen_gen_clustering_ops_py_wrappers_cc) messes up the dependence of libtenso

[2017-09-23 02:36] liuhyCV commented on #9705
@drpngx Hi, I have check it in r1.3 python API, and find it haven't support NCHW format. I'm interesting in contrib it. I'm familiar with dilated/atrous conv use and principle, but I haven't contrib before in tensorflow. Is it a good question for beginner contrib ?

[2017-09-23 02:58] liuhyCV commented on #9099
Hi, I'm interesting in adding a nearest neighbor interpolation for the method. Have other people also interesting in it?

[2017-09-23 03:04] #13238 closed

[2017-09-23 03:13] drpngx commented on #9705
@martinwicke any suggestion?

[2017-09-23 03:15] tangqiqi123 commented on #2130
@davidparks21 I solve the problem "RuntimeError: ('Coordinator stopped with threads still running: %s', 'Thread-1') " using your method. But I met a new error: RuntimeError: Graph is finalized and cannot be modified.Can you help me ? Thanks

[2017-09-23 03:30] #13137 closed

[2017-09-23 03:53] ZairMahmood commented on #13176
Currently sitting on this error and not sure where to go from here:

[code]

If I can't fix this, I'll move onto someone else's compiled library and try to install that.

[2017-09-23 04:48] ebrevdo commented on #13154
Sounds like the beam search code needs to be extended to support TensorArray in the state.

[2017-09-23 04:49] ebrevdo commented on #13154
Unfortunately tensors aren't an option because they would incur quadratic time and space overhead.

[2017-09-23 05:09] allenlavoie commented on #13243
Another workaround is to use --action_env=LD_LIBRARY_PATH=/usr/local/cuda/lib64 (or your CUDA installation directory).

[2017-09-23 05:17] ebrevdo commented on #11144
The phased lstm cell should probably pass the time through in the state tuple, with zero_state initializing this value to 0 and each time iteration incrementing it by Delta (a configurable parameter).

[2017-09-23 07:09] bodokaiser commented on #13228
Yes, [total_variation][1] was what I was looking for. Its implementation should also be more efficient then the one I came up [2].

[1]: https://www.tensorflow.org/api_docs/python/tf/image/total_variation
[2]: https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/ops/image_ops_impl.py#L1455-L1466

[2017-09-23 07:09] #13228 closed

[2017-09-23 07:11] RubyGemer commented on #18
@gunan but how has he created this projects?

[2017-09-23 07:59] facaiy commented on #13216
Thanks for you detailed guide, @mrry. I will take a try, and let you know if I get in trouble.

[2017-09-23 09:05] shamanDevel commented on #13222
Hi, yes, it was me who added the GPU implementation for the SVD.
It calls cuSOLVER internally (http://docs.nvidia.com/cuda/cusolver/index.html#cuds-lt-t-gt-gesvd). I'm not aware of any direct comparisons between numpy and cuSOLVER.

I'm always a bit suspicious about these timing comparisons of individual operations. GPU operations are inherently asynchronous. So all comparisons with a CPU implemen

[2017-09-23 09:05] shanuka commented on #7778
Thanks @Carmezim  !

[2017-09-23 09:32] harpone commented on #13018
Yeah already installed a nightly build but thanks! BTW I'm getting some weirdness with (yesterday's) nightly: I'm doing

[code]
with a dataset formed of lists of same but varying shape x, y tensors. I get
`2017-09-23 12:26:55.844395: W tensorflow/core/framework/op_kernel.cc:1192] Out of range: StopIteration: Iteration finished.` which repeats `epoch` number of before the actual training. If I just

[2017-09-23 10:23] vsaase opened #13258 "small mistake"
https://github.com/tensorflow/tensorflow/blob/b46340f40fe5e2ec9bfcd385b07cfb914055fb51/tensorflow/contrib/distributions/python/ops/mvn_full_covariance.py#L48

this should be only y, not ||y||^2

[2017-09-23 11:37] changiseng opened #13260 "ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients,"
I am green in a tensorflow

I do not know where it is wrong

here is a warning

ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients, between variables ["", "

here is my code

import tensorflow as tf
import numpy as np
import pandas as pd
import math
from sklearn import tree
from sklearn.cross_validation import train_test_split

COLUMNS = ["CL

[2017-09-23 11:48] guillaumekln commented on #13154
Interesting. May I ask why this is quadratic in this context?

Sounds good. Are you planning to work on this in the near future?

[2017-09-23 14:08] windid commented on #4887
@jccaicedo I'm suffering the same problem, have you got any solution?

[2017-09-23 14:26] rightaditya commented on #12414
I just cloned master yesterday and compiled that and gave it a shot, but the error still shows up for me with that latest build. Not sure how it was for @georgesterpu but I actually get multiple copies of the message:
[code]
On my dev set, which is smaller, I just get one:
[code]

[2017-09-23 14:39] jeremy-rutman commented on #9489
This seems to possibly be an out-of-memory being masked by the CUBLAS_STATUS_NOT_INITIALIZED error. When I have low memory and ask for a new session for detection I hit this error, when I clear the gpu of other processes and fee memory then I do not get the cublas error.

`root@746bb093df44:/data/jeremy/tensorflow/models# python /usr/lib/python2.7/dist-packages/variant/ml/tf_detect.py
cwd /data/je

[2017-09-23 15:23] yaroslavvb commented on #13222
Actually I think the difference here is the algorithm, data copies are O(n^2), while SVD is O(n^3), so transfers become negligible for large enough computation. You can get rid of transfers by changing key line to this:

    [d, e1, e2]  = sess.run([D2.op, E1.op,  E2.op]);

Here's an updated benchmark that avoids data transfers https://github.com/yaroslavvb/stuff/blob/master/gpu_svd_bench.py

On I

[2017-09-23 15:52] yongtang commented on #10958
@lockywolf I don't have a windows dev machine at the moment. However, the non-ASCII path for Windows could also be impacted by the sys default encoding. Can you use `sys.getdefaultencoding()` to see the output if possible?

[2017-09-23 16:15] jeremy-rutman commented on #5354
yes this seems to be out-of-memory being misreported

[2017-09-23 17:44] falconair commented on #13203
Hi @shivaniag , thanks for your quick response.

While I'm still trying to get this issue resolved, I created a ticket on github because following exact instructions from TF's website on a brand new machine, pretty standard,  shouldn't cause exception traces. The fact that I wasn't able to run it means there is a 'bug' some where in the docs or the code.

Regarding the error, it doesn't look like

[2017-09-23 19:28] vishalbhalla opened #13262 "Training Mini-batches of data (without labels) for unsupervised learning problem"
Hi Everyone,

Has anyone trained mini-batches of data for an unsupervised learning problem?
The feed_dict uses the label and in an unsupervised setting. How do you overcome that? Could we use fake labels that never contribute to the loss function?

Basically, I want to iterate over my huge dataset and then optimize a custom loss function. However, I couldn't figure out how to retain my training pa

[2017-09-23 20:04] terrytangyuan opened #13263 "`params` is Not Used for Canned Estimators Implementations"
The canned estimators implementations do not seem to pass the `params` to their parent class `Estimator`. For example, `DNNClassifier` puts all the parameters, e.g. `hidden_units`, `optimizer`, etc. inside the `model_fn` and then pass the `model_fn` to the parent class [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/canned/dnn.py#L314). This makes it difficu

[2017-09-23 20:54] derekhh commented on #13050
Thanks @tfboyd for the update! :)

[2017-09-23 21:12] printdhruv commented on #13249
@benbarsdell I am not sure `tf1.3` usability with `cudnn 5.1.10` even if you built it! The `tensorflow 1.3` with GPU support currently require  to have `cuDNN v6 or v6.1`

[2017-09-23 21:24] printdhruv commented on #13258
@vsaase Can you fill a [template](https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md) with good explanations of the pointed mistake along with the wiki links or substantial proof?
I can create PR for this one!

[2017-09-23 21:38] aadamson commented on #13262
Variables should maintain state between calls to `run` so unless you're reinitializing the weights between every minibatch, you shouldn't have an issue. An example demonstrating your problem would be helpful.

Also, his question would be better suited for Stack Overflow than a GH issue

[2017-09-23 23:01] vishalbhalla commented on #13262
Hi Adam,

I researched on stackoverflow forums but couldn't find anything relevant for mini-batches over unsupervised data. Hence, I posted here after a friend's suggestion. My apologies for the same.

'f' is my whole dataset say text data of N points with dimension D
U is cluster centroid with K clusters again of dimension D

I define my variables as below:
[code]

Then I define a custom loss or

[2017-09-23 23:51] sunsided commented on #6548
For me it was similar with TensorFlow built from source. In the end I uninstalled `tensorflow` and `numpy` and then reinstalled both (`tensorflow` first, then `numpy` via conda); this solved the issue.

[2017-09-24 00:02] ngc92 opened #13265 "CheckpointSaverHook does not check Graph of Saver"
The following code will run just fine, but will not save any Variables to checkpoints:
[code]

This is because the `CheckpointSaverHook` does not find an existing Saver, so it creates a new one in its constructor, which is executed with a different default Graph.

[2017-09-24 01:12] a22063821 opened #13267 "Ubuntu 16.04 + CUDA8.0 +CUDNN5.1, C++ compilation fails"
Operating System: Ubuntu 16.04 LTS

Installed version of CUDA and cuDNN: 8.0.61 + 5.1.10
[code]

[code]
source:https://github.com/ymgaq/AQ

I use command: "bazel build :AQ" compile it
error message have 52mb ,cant upload
The error message is similar
[code]
[code]

[2017-09-24 02:14] allenlavoie commented on #13267
You'll need to build with --config=monolithic, or get the maintainer to start using TensorFlow's tf_cc_test/tf_cc_binary rules. We've started building with an explicit shared object, and Bazel will not (yet) link those in transitively.

[2017-09-24 02:14] #13267 closed

[2017-09-24 03:49] facaiy commented on #13144
HI, @oxinabox. I believe your mathematical derivation is pretty correct, and implement it in PR #13268 . Please check whether it is right as you proposed if possible.

[2017-09-24 05:05] #13034 closed

[2017-09-24 05:33] heyzude opened #13269 "TensorFlow 1.0 and 1.2 behave differently on MultiRNNCell."
The following code works well on TF 1.0.1, but doesn't work on TF 1.2 and above, leaving error massage,

File "pb_OE_column_on_the_spot.py", line 318, in <module>
    outputs1, _states = tf.nn.dynamic_rnn(_multi_cells, tf.one_hot(_X, data_dim), dtype=tf.float32)
ValueError: Trying to share variable rnn/multi_rnn_cell/cell_0/basic_lstm_cell/kernel, but specified shape (256, 512) and found shape (13

[2017-09-24 06:03] ZairMahmood commented on #13176
Using 'make CXX=g++-4.8' resulted in:

[code]

It would've nice to get the makefiles working but going to move on and try other methods of running tensorflow on Pi3.

[2017-09-24 08:03] micklexqg commented on #7089
@BarzinM , great demo, thank you. I have one question. if with two writers, then there should be two events(and under different path in your code). how to start tensorboard for the two writer?

[2017-09-24 13:40] utkrist commented on #13213
Is [this](https://github.com/snnn/tensorflow/commit/f1740edec18cf0d94baacf7687182b3a3b5b1d01) the relevent commit one?

[2017-09-24 13:45] gauss-clb opened #13272 "Why will tf.PaddingFIFOQueue print some information?"
I have asked this question on [stackoverflow](https://stackoverflow.com/questions/46390289/why-is-padding-fifo-queue-closed), but never receives a response.  I think it is not error, but  log information?

[2017-09-24 13:53] mljack commented on #9870
I have similar issues on testing a 70k train set on a small convnet. Get 99+% accuracy on first 64k data, while get about 50% accuracy on other remain data. No problem when testing them in small batch size.

[2017-09-24 14:18] SelaOr commented on #11301
having the same problem on ubuntu 16.04 only when using webcam instead of input video and only when using GPU and not only the CPU. Any ideas?

[2017-09-24 14:24] mljack commented on #9870
This issue is GPU only.
set CUDA_VISIBLE_DEVICES=-1, then works fine.

My environment is Tensorflow 1.3.0 on Win7 sp1 x64, GTX 1080.

[2017-09-24 16:15] albertsylvester commented on #1796
[code]

What should I fill in **classes_output_tensor_info**? Thank you @fangweili

[2017-09-24 17:45] yongtang commented on #8770
@NickPoon I think you may invoke the reshape() from within `def _sampled_loss(labels, logits)`?

See the code below. I think that will resolve the issue without modifying the existing code, and not causing other incompatibilities with different loss functions.

[code]

[2017-09-24 17:53] riyaj8888 opened #13276 "tensor flow optimizer"
![desto](https://user-images.githubusercontent.com/29457825/30785133-38286aee-a17f-11e7-9130-2e271e4543a3.PNG)

[2017-09-24 18:01] #13047 closed

[2017-09-24 18:11] tjdevWorks commented on #6968
For people who run into this type of issue on Arch Linux:

`*** glibc detected *** python: double free or corruption (!prev): 0x00000000013fcda0 ***
======= Backtrace: =========
/lib64/libc.so.6[0x3e22e75e66]
/lib64/libc.so.6[0x3e22e789b3]
/lib64/ld-linux-x86-64.so.2(_dl_deallocate_tls+0x67)[0x3e226112f7]
/lib64/libpthread.so.0[0x3e2320675d]
/lib64/libpthread.so.0[0x3e232078ea]
/lib64/libpthread.s

[2017-09-24 20:09] CodingJonas opened #13278 "tf_cc_binary() makes opencv unable to load an image"
I try to load an image with opencv and work further on it with the tensorflow framework. Unfortunately I get a really weird behaviour:

The image is loaded without problems using `cc_binary(...)` in Bazel. Changing it to `tf_cc_binary(...)` doesn't stop the code from compilation or running, but opencv can't load any images any more.

### Source code / logs
This is my BUILD file:

    load("//tenso

[2017-09-24 21:58] ecpoppenheimer opened #13281 "Non-working example in documentation, with recommendations for how to fix"
== cat /etc/issue ===============================================
Linux EricDesktop 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.2 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler =====================================================
c++ (U

[2017-09-24 22:53] yongtang commented on #12019
Currently `tf.foldl` and `tf.foldr` converts input elems into a `Tensor`, and then the converted `Tensor` is converted into a `TensorArray`:
https://github.com/tensorflow/tensorflow/blob/1e1b3d90295f9396a25b9cfd4c571f7949716182/tensorflow/python/ops/functional_ops.py#L100-L106

It is possible to bypass the step of `ops.convert_to_tensor()` and convert the input elems directly to a `TensorArray`. I

[2017-09-24 23:30] aselle commented on #13114
Your best bet is probably to sort and to pad within discrete sets of sizes. i.e. one strategy would be to have powers of two sizes allowed with zero padding to the next biggest to bit your irregular sizes. This is edging on the side of a stack overflow question at this point. I think things are working as intended.   We could maybe consider it a feature request to make padding and sorting of input

[2017-09-24 23:35] aselle commented on #13126
I believe this is working as intended. I don't see a compelling reason to add relative paths to sys.path or that it is supported by Python. If you want to make it agile to being moved around, just make a shell script to wrap python that sets up PYTHONPATH before it invokes python.

[2017-09-24 23:37] aselle commented on #13130
@gunan, have you seen anything like this? In the past cygwin and others had ways of configuring how to treat CRLF in apps. Is there somethings similar in msys  that might fix this? In any case you can also try cmake, which is currently working a little more reliably than bazel on windows.

[2017-09-24 23:39] aselle commented on #13160
@zheng-xq, do you want to comment about this issue, as I believe you are investigating automated ways of balancing memory/recomputation tradeoffs in your team.

[2017-09-24 23:40] ppwwyyxx commented on #13114
Dealing with irregular shapes is quite common. I wish there is a way to use a reasonably good cudnn algorithm without wasting too much time in warm up, but I don't know how this can be done. Maybe allow users to dump/load the autotune cache? Following some heuristics when autotune is disabled?

[2017-09-24 23:43] aselle commented on #13278
I think this may be a duplicate of #1924. There has been a history of conflicts between opencv and tensorflow see  #7378. This is usually caused by conflicting libraries that both depend on. Try following the advice in #1924, and let us know how it goes. @allenlavoie , will your library isolation stuff help here?

[2017-09-25 00:26] vishishttiwari opened #13283 "'Cannot interpret feed_dict key as Tensor: Can not convert a int into a Tensor' when using probabilities.eval?"
I want to use tensor-flow to print all the probabilities for my own image. The following code works well for any mnist image that i get from online but does not work with my own images. Here is the whole code.

    from PIL import Image
    import random
    from tensorflow.examples.tutorials.mnist import input_data
    import tensorflow as tf
    import numpy as np
    import scipy.ndimage
    fr

[2017-09-25 00:38] caisq commented on #13276
https://stackoverflow.com/questions/tagged/tensorflow may be more suited for this sort of questions.

But in your case, just change your line 5 to:
[code]

[2017-09-25 00:38] #13276 closed

[2017-09-25 01:46] w4-kang commented on #13114
Thanks a lot for finding reason of problem. Now, I should find way to dataset reordering method that minimize data modification and  approximatively size sorted. And as person facing with this problem, saving autotune cache persistently might be great like above ppwwyyxx's idea!

[2017-09-25 03:04] frank2wang87 commented on #13171
@yaroslavvb  I got the same problem on tf 1.3.0-rc2(installed by pip install). Does it mean that I should compile the source code?

[2017-09-25 03:11] gunan commented on #13130
It is possible this is related to the github file hash issues. We may not have updated the r1.3 branch yet. But just to check @meteorcloudy have you seen this issue?

[2017-09-25 03:42] guiguan commented on #22
Any tensorflow 1.3 gpu/opencl support out there on macos?

[2017-09-25 04:01] pbanavara commented on #12686
@facaiy @skye Thank you for the pointers. I will start working on this and will ping you guys once I have the tests working.

[2017-09-25 04:30] rajeshr91 commented on #13220
Same problem here, fresh install of Sierra and all instructions followed to the letter from TF.

I did update the command line tools though! CPU only version

WARNING: /Users/rajesh/Documents/tensorflow/tensorflow/core/BUILD:1773:1: in includes attribute of cc_library rule //tensorflow/core:framework_headers_lib: '../../external/nsync/public' resolves to 'external/nsync/public' not below the relat

[2017-09-25 04:32] suharshs commented on #12686
Also, if you want instructions for adding the c++ gradient functions see here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/cc/gradients/README.md

[2017-09-25 05:39] Shashikant-Jha opened #13285 "After installing tenserflow the following error is generated Python 3.6.2 (v3.6.2:5fd33b5, Jul 8 2017, 04:57:36) [MSC v.1900 64 bit (AMD64)] on win32 Type "help", "copyright", "credits" or "license" for more information. >>> import tenserflow as tf Traceback (most recent call last): File "<stdin>", line 1, in <module> ModuleNotFoundError: No module named 'tenserflow'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-25 06:15] DSLituiev opened #13286 "[bug/docs] tf.Estimator: 'train' method is missing"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Used doc

- **OS Platform and Distribution, versions etc**:
<details>
== cat /etc/issue ===============================================
Darwin PEDS-0MAHH2C-LT 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64
Mac O

[2017-09-25 06:36] samjabrahams opened #13287 "Make a tools CLI for easy access to freeze_graph, saved_model_cli, etc."
Related to #6134. Right now, the users of the `tensorflow/python/tools` scripts have these options:

* Download and save a copy of the individual `.py` file with whatever model/project they are working on, so that it is bundled with their code. This causes tons of code duplication across projects.
* Import the tools programmatically and use them there. Being able to do this is extremely handy, but

[2017-09-25 06:42] EFanZh opened #13288 "Cannot put a Tensor into a StagingArea"
TensorFlow version: 1.3.0

According to the document, I should be able to put a tensor to a StagingArea<sup>[[1]](https://www.tensorflow.org/api_docs/python/tf/contrib/staging/StagingArea#put)</sup>. But the following code does not work:

[code]

The output says:

[code]

[2017-09-25 06:44] luchensk commented on #13207
Is there someone to help to take a look at the issue? Maybe we need to modify `WORKSPACE` file to be able to compile with the two way of offline and online. Also, please let me know if it is a bazel issue, Thanks.

[2017-09-25 07:23] zheng-xq commented on #13160
The current best practice to manually trade-off recomputation and memory is through TF functions. Through that, you can override the gradient with a custom function.

I'll leave for zffchen78@ to comment on more details.

[2017-09-25 07:57] eyaler commented on #13126
this breaks the principal of least surprise. if relative paths are not supported, to the very least this should be documented.

[2017-09-25 08:07] meteorcloudy commented on #13130
@9k37 Maybe you want to add `--binary` flag [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L107).
According to https://stackoverflow.com/questions/2076688/how-to-use-patches-created-in-windows-with-crlf-in-linuxi

[2017-09-25 08:28] materacer commented on #13147
Hi  martinwicke,

Thanks for suggestion, I am continuing to study Bazel document for setting to build up this method.

[2017-09-25 09:14] wantongtang commented on #4276
solved?
`NotFoundError (see above for traceback): Key aconv1d_0/variance/Adam_1 not found in checkpoint
	 [[Node: save/RestoreV2_14 = RestoreV2[dtypes=[DT_FLOAT], _device="/job:localhost/replica:0/task:0/cpu:0"](_arg_save/Const_0_0, save/RestoreV2_14/tensor_names, save/RestoreV2_14/shape_and_slices)]]
	 [[Node: save/RestoreV2_95/_497 = _Recv[client_terminated=false, recv_device="/job:localhost/rep

[2017-09-25 09:31] STHSF commented on #4276
I have solved this problem, so you can reference to this[tensorflow.python.framework.errors_impl.NotFoundError](https://sthsf.github.io/wiki/Algorithm/DeepLearning/%E4%BD%BF%E7%94%A8Tensorflow%E7%88%AC%E8%BF%87%E7%9A%84%E5%9D%91/tensorflow.python.framework.errors_impl.NotFoundError.html). Hope it can help you!

[2017-09-25 09:34] abhishek-neurala commented on #13249
@printdhruv that is true as long as you do not install grom sources. The page says so as well if you read further down. You can switch to previous versions by configuring TF to do so while building from sources.

[2017-09-25 09:38] chrismolli commented on #13265
Is it possible to set the graph manually? Got the same problem ...
https://stackoverflow.com/questions/46299112/tensorflow-how-to-setup-a-checkpointsaverhook

[2017-09-25 09:47] calledbymountains commented on #13288
This question seems suitable for StackOverFlow.

[2017-09-25 09:50] fcharras opened #13289 "Bug: SDCAModel missbehave/bug when mixing sparse and dense features"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Up-to-date Arch Linux
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.3.0
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
-

[2017-09-25 10:15] swaritras opened #13290 "issue while installing tensorflow"
sws@sws-Aspire-5830T:~$ source activate tensorflow
(tensorflow) sws@sws-Aspire-5830T:~$ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.12.1-cp35-cp35m-linux_x86_64.whl
(tensorflow) sws@sws-Aspire-5830T:~$ (tensorflow)$ pip3 install --ignore-installed --upgrade $TF_BINARY_URL
bash: syntax error near unexpected token `$'
(tensorflow) sws@sws-Aspire-5830T:~$ (te

[2017-09-25 12:04] EMCP commented on #13066
The fact that you need to use a USB swap drive makes me think it may not make sense to add those instructions here..  but would be helpful to somehow highlight the way in which some people have shoehorned bazel onto the RPi...

I am asking some questions on those instructions before I would want to write up the steps from there..

My gut is, the script we are leveraging in the official instruction

[2017-09-25 12:21] utkrist commented on #13213
Problem went away with this nightly build:
http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON3.5,label=gpu-linux/

[2017-09-25 12:21] #13213 closed

[2017-09-25 13:24] CodingJonas commented on #13278
I try to follow the advice to compile a shared library. That worked fine. But there is hardly any documentation about how to work in an external project with the tensorflow_cc.so library.
Is there any example project, that shows how to compile projects with it? I'm mainly confused about which headers to include and where I can find them.

[2017-09-25 13:32] carlthome commented on #11275
Well, new error at least so that's good:

`INVALID ARGUMENTS: Input 0 of node encoder/rnn/while/add/y was passed int32 from encoder/rnn/while/Switch:1 incompatible with expected INVALID.`

[2017-09-25 13:55] lipixun commented on #12453
@Threynaud This workaround has a bug when all of the loss values are masked in a batch.

[2017-09-25 14:01] rktamplayo opened #13292 "cudnn PoolBackward launch failed when using tf.nn.max_pool on Tensorflow GPU (Windows 10)"
When using max_pool, the error below shows and stops the code. I used the code available here: [https://github.com/charlesashby/CharLSTM](https://github.com/charlesashby/CharLSTM). Specifically, I used the `lib_model/bidirectional_lstm.py` and the error occurs at the `tdnn` function when `tf.nn.max_pool` is ran.

What does this error mean? Thanks!

[code]

**What related GitHub issues or StackOver

[2017-09-25 14:02] fakabbir commented on #13290
I believe the problem is with the USER PERMISSSIONS. Try :
`sudo pip3 install --ignore-installed --upgrade $TF_BINARY_URL`

[2017-09-25 14:15] ilya-edrenkin commented on #12453
@lipixun Do you refer to the fact that the gradient clipping helper routine does not handle the case when the global norm is zero?

[2017-09-25 14:38] hawkinsp commented on #11275
@carlthome Yes, we're making progress :-) Would you be able to give me a small self-contained reproduction to look at? Thanks!

[2017-09-25 15:18] yaroslavvb commented on #13160
@biolee btw, here's an [example](https://github.com/yaroslavvb/stuff/blob/master/saving%20memory%20by%20using%20functions.ipynb) of saving memory using functions. A function seems to be treated by tf.gradients as a single computation block and values inside are automatically recomputable.

I'm a bit confused on whether we can rely on this behavior in our models using default `tf.Defun` or whether

[2017-09-25 15:24] carlthome commented on #11275
Yeah! :man_dancing:

Anyway from latest master with all defaults (e.g.
`git clone git@github.com:tensorflow/tensorflow.git && cd tensorflow && PYTHON_BIN_PATH=$(which python) USE_DEFAULT_PYTHON_LIB_PATH=1 CC_OPT_FLAGS='-march=native' TF_ENABLE_XLA=0 TF_NEED_MPI=0 TF_NEED_JEMALLOC=1 TF_NEED_GCP=0 TF_NEED_HDFS=0 TF_NEED_VERBS=0 TF_NEED_OPENCL=0 TF_NEED_CUDA=0 TF_NEED_GDR=0 ./configure`)

And this is

[2017-09-25 15:46] rca06d commented on #11766
Just got this same error kind of randomly in the middle of a training session. Here's the full trace if that helps:
[code]
Not able to reproduce it though. Could have just been a network hiccup?

[2017-09-25 16:04] martinwicke commented on #13059
Check out github.com/tensorflow/transform. I think it may be what you want.

[2017-09-25 16:08] martinwicke commented on #11178
The backend functions are internal only and fixable. PRs welcome.

[2017-09-25 16:13] martinwicke commented on #4722
I think there's no reason einsum (being implemented as a combination of existing ops) should not support gradients. I would take a look at its implementation for clues first, but if you have a simple repro case, you should file an issue.

[2017-09-25 16:14] dantkz opened #13293 "BUG: tf.reduce_max does not support int64 tensor on GPU."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary (pip)
- **TensorFlow version (use command below)**:
v1.3.0-rc2-20-g0787eee 1.3.0
Also tested with:
v1.3.0-rc1-2523-g1e1b3d9 1.4.0-

[2017-09-25 16:18] mrry commented on #13114
The NMT tutorial takes a similar approach to batch input data according to bucketed sequence length. You might try taking a look at [how it uses `tf.contrib.data.group_by_window()`](https://github.com/tensorflow/nmt/blob/d43f1a6371e446778d79da991115c68435be9dcd/nmt/utils/iterator_utils.py#L197) to achieve this.

[2017-09-25 16:23] yaroslavvb commented on #13221
The last merge had some memory leak fixes, but doesn't seem to address this one, same behavior against
https://github.com/tensorflow/tensorflow/commit/ea94bbe9fa9f9b3d01fb057c02ef7873d76bf09c

cc @reedwm in case he knows who is in charge of leaks

Some additional notes:
1. Leak only happens when adding new tensors to the graph.
2. Closing/reopening the session reclaims memory.

[2017-09-25 16:25] yuezhu1 opened #13294 "Input Pipeline for High-performance Model"
### Describe the problem
When using data_flow_op.RecordInput in input pipeline on distributed TensorFlow, every input thread seems load all files in the data_dir to the local buffer after shuffling and left-shifting all matched file names in data_dir (https://github.com/tensorflow/tensorflow/blob/40eef4473bda90442bb55fcc67842f097c024580/tensorflow/core/kernels/record_yielder.cc#L139).
Based on the

[2017-09-25 16:28] lsy643 commented on #12667
@mrry
I will try to provide a minimal and complete reproduction. Can I provide My Docker Image and corresponding script to run the Cluster?

Besides, when the cluster hung, the checkpoints will not be generated. And if the cluster is restarted, the cluster will work correctly until the next sudden hung.

As mentioned by @passerbyd, is there any possibility that it is all the grpc's fault?

[2017-09-25 16:35] allenlavoie commented on #13278
We may want to shift some symbols to a private shared object (or the language bindings) so we don't conflict with symbols in extensions, but it doesn't sound like that's an issue here. If you want to use TensorFlow rather than adding ops/kernels, use the C++ or C API, not tf_cc_binary rules.

@skye is working on a distribution for the C++ API AFAIK. The C API [has one](https://www.tensorflow.org/i

[2017-09-25 16:47] skye commented on #13278
Unfortunately no one is working on a distribution for the C++ API right now, so if you're trying to use the C++ API, building against TF with bazel is probably the best way. If you can use the C API and follow the instructions Allen linked to, that should avoid this issue.

[2017-09-25 17:01] yaroslavvb opened #13295 "Pre-built binaries with symbol information?"
What you you guys think about providing CI version of TensorFlow with built-in symbol information? This would make it easier to report bugs.

I believe the following is sufficient to get optimized version with symbol tables.
`blaze build --cxxopt=-g2 --linkopt=-g2 --strip never -c opt`

My current problem is that I'm occasionally hitting segfaults due to `tensorflow::strings::FloatToBuffer`. I can

[2017-09-25 17:47] fchollet commented on #11178
This specific issue has been fixed in Keras 2.0.7. The version included in
contrib as of TF 1.3 is Keras 2.0.6, though.

On 25 September 2017 at 09:12, Martin Wicke <notifications@github.com>
wrote:

[2017-09-25 17:57] justinshapiro commented on #7108
I am also experiencing this issue, it is a show-stopper. Setting `set_inter/intra_op_parallelism_threads(1)` helps but freezing still occurs later on.

[2017-09-25 18:37] yaroslavvb opened #13297 "Feature request for graph visualizer: turn off node collapsing"
There's a simple feed-forward pbtxt [here](https://github.com/yaroslavvb/stuff/blob/master/resnet_8_simple.pbtxt)

It can be visualized without any edges crossing. However latest TensorBoard collapses Relu-Relu_6 nodes together, so that complicates the diagram and introduces edge crossings. It would be nice to have a way to visualize without node collapsing

![screenshot 2017-09-25 11 35 53](https

[2017-09-25 18:44] mrry commented on #13272
Closing this issue, since Stack Overflow is a more appropriate forum for the discussion.

[2017-09-25 18:44] #13272 closed

[2017-09-25 19:02] poxvoculi commented on #13121
Maybe the problem is that ppc64le just isn't supported.  @hawkinsp ?

[2017-09-25 19:06] poxvoculi commented on #13125
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-25 19:06] #13125 closed

[2017-09-25 19:18] yaroslavvb commented on #13297
Here's what it looks like when hacked to turn off node collapsing. Note that Dense layer is now at the top as expected.

![screenshot 2017-09-25 12 16 59](https://user-images.githubusercontent.com/23068/30826436-775c2f86-a1eb-11e7-8532-1d895014f17d.png)

[2017-09-25 19:27] pswpswpsw opened #13298 "wrong tf.svd documentation in tensorflow 1.3.0 version"
In tf.svd documentation, it was said that the tensorflow implementation of svd is simply np.linalg.svd

in fact it was not the same, in tensorflow, the index for V matrix is transposed..different from np.linalg.svd default setting. Funny thing is, this type of problem is a famous bug in matlab code people usually write, which is row selection and transpose is not equal to transpose then column sel

[2017-09-25 19:37] #13165 closed

[2017-09-25 20:00] poxvoculi commented on #13175
It doesn't look like ideal behavior, but perhaps it's not unexpected.  @ispirmustafa

[2017-09-25 20:06] 9k37 commented on #13130
@meteorcloudy it was with `--binary` when I got the above error. After your response I tried couple of times with and without `--binary` and finally omit the patch error. My build is now crashing with another error - can you help me further? Note also the warning in the middle.
[code]
[full_output.txt](https://github.com/tensorflow/tensorflow/files/1330723/full_output.txt)

[2017-09-25 20:09] hnsl commented on #13104
I would love to do a PR to fix the documentation, but the truth is that I can't write it because I don't know the answer to those questions. That's why I wanted it to be documented in the first place. I've tried to reverse-engineer argmax to understand what it does in higher dimensions, but I can't say that got me anywhere.

[2017-09-25 20:12] yaroslavvb commented on #13298
Note that the latest version mentions the order difference

[code]

[2017-09-25 20:37] George-Zhu commented on #11178
Got it. Thanks for your reply!

[2017-09-25 20:47] ispirmustafa commented on #13175
yes. it's not ideal. we can improve it.

[2017-09-25 20:58] aselle commented on #13015
@wolffg, could you update the docs:?

[2017-09-25 20:58] poxvoculi commented on #13179
It seems likely that the hang and crash is due to the python interpreter running out of memory.  It would be difficult to anticipate the bound at which that is likely to happen on a given computer.  The documentation [here](https://www.tensorflow.org/api_docs/python/tf/feature_column/categorical_column_with_identity) does suggest that using large indexes is not a good idea.  Are you really using a

[2017-09-25 21:00] aselle commented on #13017
@zhangyaobit, assigning to you to keep continuity of this performance problem.

[2017-09-25 21:08] aselle commented on #13066
Assigning @petewarden. You might find his page useful as well
https://petewarden.com/2017/08/20/cross-compiling-tensorflow-for-the-raspberry-pi/

[2017-09-25 21:14] aselle commented on #13286
Maybe try upgrading to 1.3? This is what I get
[code]
Does that work for you? Your reproduction script is linked off of your localhost:8888 so I can't see it. Good luck. Thanks!

[2017-09-25 21:15] aselle commented on #13290
Does this solver your problem @swaritras?

[2017-09-25 21:17] pswpswpsw commented on #13298
I knew this. But this is not the error I mean.

In numpy, svd is u * s *v, but tensorflow is u *s *v'.

[2017-09-25 21:22] lxy6 commented on #10814
I got the same problem, have you solved it?

[2017-09-25 21:31] aselle commented on #12177
Could you provide the exact configure command and a reproducible self contained test example?

[2017-09-25 21:35] reedwm commented on #13221
I would normally triage to @zheng-xq but he's on vacation. So I'll take a look.

[2017-09-25 21:42] poxvoculi commented on #13181
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-25 21:42] #13181 closed

[2017-09-25 21:46] carlthome commented on #13269
I had no problems running your code.

[code]

Depends on your problem. The number of hidden units needs tuning, like most hyperparameters. I think common values values are around 32-512.

[2017-09-25 21:50] carlthome commented on #13202
Would it make sense to make `tf.InteractiveSession()` a singleton and add a `warnings.warn('Use tf.Session() instead if you intend to have multiple sessions')` upon the second call? Singletons are typically bad, but maybe very fitting in this particular case.

[2017-09-25 21:52] yaroslavvb commented on #13298
Ah I see...wow, good catch....looks like I've been using TensorFlow SVD wrong this whole time...

[2017-09-25 21:52] carlthome commented on #13287
There's the [Graph Transform Tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms).

[2017-09-25 21:56] yaroslavvb commented on #13202
I think that would be better than status quo which is "1. create multiple interactive sessions by accident. 2. run out of GPU memory 3. restart notebook server"

[2017-09-25 22:01] carlthome commented on #13285
Probably because it's `import tensorflow` and not `import tenserflow`?

[2017-09-25 22:01] carlthome commented on #13285
Also: http://mathworld.wolfram.com/Tensor.html

[2017-09-25 22:08] carlthome commented on #13260
Try asking here instead: https://stackoverflow.com/questions/tagged/tensorflow

[2017-09-25 22:09] facaiy commented on #13175
How about converting `feature_column` to `_LazyBuilder` at first, and the feeding `_LazyBuilder` to DNN and LR? I guess the solution could solve the problem (and is lightweight).

[2017-09-25 22:12] guillaume-michel commented on #8033
@pdrews In your case you can allocate a Tensor with the C++ API then use flat to get a pointer to the memory for that particular tensor.
With that pointer you can use cv::Mat(rows, cols, type, pointer) constructor to fake a cv::Mat with the memory from the Tensor.

Then just use your cv::Mat.

Untested code:
// allocate a Tensor
Tensor inputImg(DT_FLOAT, TensorShape({1,inputheight,inputwidth,3}));

[2017-09-25 22:14] poxvoculi commented on #13191
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-25 22:14] #13191 closed

[2017-09-25 22:28] drpngx commented on #13164
@dantkz it's only implemented with [floating point types](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/gather_nd_op.cc#L208) (half, float, and double). We need to add `int32` and `int64`.

It should be relatively easy, just call that macro for those types. Would you like to submit a PR?

[2017-09-25 22:28] facaiy commented on #13175
Oh, I forget the optimizer problem: if a tensor is owned by both DNN and LR network, does it bring conflict as the tensor is trained by two optimizer?

[2017-09-25 22:34] poxvoculi commented on #13197
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-25 22:34] #13197 closed

[2017-09-25 22:46] poxvoculi commented on #13201
@byronyi

[2017-09-25 23:24] poxvoculi commented on #13231
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-25 23:24] #13231 closed

[2017-09-26 00:13] reedwm commented on #13221
In your example, you create new nodes in every iteration of the loop, which will make the graph larger every iteration. Moving all graph constructions outside the loop causes the memory issue to go away:

[code]

Modifying the graph every iteration has a performance impact since it prevents some internal caching, but I am not sure why it causes the memory leak. Perhaps some tensors are being cache

[2017-09-26 00:14] keithyuck commented on #12939
@apuayush I am having the same issue right now, how did you resolve the issue

[2017-09-26 00:44] hawkinsp commented on #13121
Unfortunately we don't promise to support ppc64le. That said, contributions are very welcome if the community wants to add support.

[2017-09-26 00:57] #13121 closed

[2017-09-26 01:00] yaroslavvb commented on #13221
Indeed, modifying the graph triggers TF_ExtendGraph, but this overhead is insignificant for interactive use (ie, modify the graph, test it, modify some more, etc)

[2017-09-26 01:22] yongtang commented on #13293
Added a PR #13301 for that.

[2017-09-26 01:36] #10832 closed

[2017-09-26 01:36] tensorflowbutler commented on #10832
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-26 01:36] tensorflowbutler commented on #10961
This issue is automatically closed due to lack of activity. Please re-open if this is still an issue for you. Thanks!

[2017-09-26 02:02] samjabrahams commented on #13287
@carlthome that's kind of the point: if you read the README for the GTT, you'll see this:

It's basically saying that in order to make full use of the tool, you need to go through one of the above-listed options to make use of `freeze_graph.py`.

Unless you were saying that the Graph Transform Tool would also be an excellent addition to a `tftools` CLI, in which case I agree wholeheartedly :D

[2017-09-26 02:05] charsdavy opened #13302 "setuptools pip wheel failed with error code 2"
[code]

How can I do it? Thanks

[2017-09-26 02:09] gnedivad commented on #13265
I'm assuming you want to save the variable `test`. The default saver created in the constructor of `CheckpointSaverHook` will execute on the same graph if it's initialized in the same graph scope as your variables.

[code]

The above code prints `[('test', [100, 100])]`.

[2017-09-26 02:11] gnedivad commented on #13265
You need to initialize the `CheckpointSaverHook` in the same scope as your variables.

[code]

prints `[('test', [100, 100])]`.

[2017-09-26 02:16] yliu120 opened #13303 "[Missing Feature] Input Pipeline for Models with Multi-step Optimization"
### Describe the problem

After some searching and reading (e.g. #7951), I found the current input pipeline framework
is generally lack of support for models with multi-step optimization.

In most of the models before GAN (General Adversarial Networks), a model almost has one
optimization function, that is, we optimize over a mini-batch of input data once in a step. While
starting from GAN, many m

[2017-09-26 02:52] byronyi commented on #13201
Thanks Paul.

You could try the `grpc+gdr` protocol, which will use the same IB interface specified for gRPC.

[2017-09-26 03:12] sepideh68 commented on #10026
this works for me: `conda install -c https://conda.anaconda.org/jjhelmus tensorflow
`

[2017-09-26 03:33] facaiy commented on #13164
#12943 seems a good example for reference.

By the way, since all types are supported on CPU, while only float is registered for GPU:

https://github.com/tensorflow/tensorflow/blob/3537e663230ba2d694f6daebc2288f180c6db4ea/tensorflow/core/kernels/gather_nd_op.cc#L170

https://github.com/tensorflow/tensorflow/blob/3537e663230ba2d694f6daebc2288f180c6db4ea/tensorflow/core/kernels/gather_nd_op.cc#L208

[2017-09-26 03:37] suhalvemu opened #13305 "not able to install tensor flow from pip using 3.5 64 bit version of python."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-26 03:49] #13098 closed

[2017-09-26 03:55] martinwicke commented on #13207
I don't know for sure whether there's something extra you need here. It sure does sound like this would be the right thing to do from the Bazel args.

@damienmg for more Bazel expertise.

I do believe this is not specific to anything TemsorFlow is doing in particular, so could you file an issue over for Bazel, and reference this one? I will close this, if it turns out we can fix this on the Tensor

[2017-09-26 03:55] #13207 closed

[2017-09-26 04:17] Shashikant-Jha commented on #13285
Corrected the spelling mistake. Still same issue

[2017-09-26 04:27] ashwhall commented on #9162
Is this going to remain closed? It's definitely a feature request, not something that could be aided by StackOverflow.

[2017-09-26 04:47] aaxwaz commented on #2223
Can we reopen the issue for implementing the 'feed_previous' feature in basic_rnn_seq2seq? This is useful for time series predictions. Otherwise we will need to implement our own seq2seq using lstm from scratch which may not be as optimised I think

[2017-09-26 04:58] cwhipkey commented on #13221
One guess was that, for a given feed/fetch combination,   images = tf.random_uniform([size, size])   is a constant, and so constant folding could make a constant out of it.

Constant folding in common_runtime only makes a constant if it's <10MB, while that tensor is 144MB.

However, constant folding in grappler may not apply this limit - at least, I couldn't find it looking over just now (core/gra

[2017-09-26 05:15] DSLituiev commented on #13286
I found that I am calling `from tensorflow.contrib.learn.python.learn.estimators import estimator` and `estimator.Estimator`. This one does not have `train()` method

[2017-09-26 05:19] ebrevdo commented on #13154
Quadratic because tf.concat creates a copy to fit the two new tensors and
its backprop is a split which creates two tensors whose sizes add to the
sizes of the inputs to the concat.  At every iteration.

Unfortunately I'm not currently looking at this but contributions are
welcome.

On Sep 25, 2017 12:09 PM, "Paul Tucker" <notifications@github.com> wrote:

[2017-09-26 06:12] Hvass-Labs commented on #9859
I have now upgraded to TensorFlow 1.3 and this is still missing. I will try my best to be polite, but it is frustrating that you still haven't completed the builder API for TensorFlow. It is more than a year ago that I pleaded with you to consolidate the many builder APIs so we could have a single API that was complete and well-documented. I am struggling to understand why this is not a priority f

[2017-09-26 07:41] lipixun commented on #12453
@ilya-edrenkin Ooops, no. My fault, I didn't read the above codes carefully. Applying`reduce_sum` instead of `reduce_mean` to masked loss values can avoid `nan` error.

[2017-09-26 07:50] formath opened #13306 "How to set include path and lib path when building custom code on macOS"
Firstly, I set CC=/usr/local/bin/gcc-6 and CXX=/usr/local/bin/g++-6. Then I built tensorflow from source using `sh tensorflow/contrib/makefile/build_all_ios.sh` on macOS 10.12.5 and it done successfully. Lastly, I built a test cpp using CMake but it failed.

The reasons I guess maybe:
1. Tensorflow built using default clang but not g++-6. So how to set compiler when using `tensorflow/contrib/makef

[2017-09-26 08:23] damienmg commented on #13207
definitely looks like a bazel bug, can you move the discussion to https://github.com/bazelbuild/bazel/issues/new?

[2017-09-26 09:01] frank2wang87 commented on #5460
@ekelsen I came across the same problem. How to solve it?

[2017-09-26 09:48] Eagles2F commented on #1763
I've suffered the consequences of this unexpected value scaling during image type conversion also.
I believe a better function name is urged. Maybe we could consider name it as `convert_image_dtype_with_scaling` .

[2017-09-26 09:57] meteorcloudy commented on #13130
@9k37 Looks like you don't have python in your `PATH`?

[2017-09-26 10:12] Jabba commented on #12450
## System information

**Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
Yes
**OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
Windows 10
**TensorFlow installed from (source or binary):**
Source
**TensorFlow version (use command below):**
v1.3
**Python version:**
3.5
**CUDA/cuDNN version:**
No GPU, we're trying to deploy on CPU

I've enc

[2017-09-26 10:25] sjperkins opened #13308 "Attempting to use the CPU Work Sharder segfaults on g++ 5.4.0"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

I've adapted the ZeroOut operator from the [Adding a New Op](https://www.tensorflow.org/extend/adding_an_op) example.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Linux Ubuntu 16.04

- **TensorFlow installed from (source or bina

[2017-09-26 10:35] sudhasubramaniam commented on #3919
def input_fn(data_file, num_epochs, shuffle):
  """Input builder function."""
  df_data = pd.read_csv(
      tf.gfile.Open(data_file),
      names=CSV_COLUMNS,
      skipinitialspace=True,
      engine="python",
      skiprows=1)
  # remove NaN elements
  df_data = df_data.dropna(how="any", axis=0)
  labels = df_data["disease"].apply(lambda x: "no" in x).astype(str)
  return tf.estimator.inputs.pa

[2017-09-26 10:37] soaxelbrooke commented on #9868
After finding the commit that added the ability to trace, I came here looking for an example implementation - maybe a good candidate to go into the docs somewhere?

[2017-09-26 11:01] onlyak commented on #6589
Can someone help me out with this problem?

Traceback (most recent call last):
  File "export_inference_graph.py", line 106, in <module>
    tf.app.run()
  File "/home/foss/anaconda3/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "export_inference_graph.py", line 99, in main
    text_format.Merge(f.read(

[2017-09-26 11:01] EMCP commented on #13066
This looks like it can work for me.... only problem is

1) This compiles for python 2.7, I think I can get by but ideally would want to get a python 3.5 version

2) the scripts cited in that blog post are not in the `r1.3` branch.. so I am guessing they're not really released yet.  adding these instructions then would not make sense for 1.3 branch

[2017-09-26 11:08] luchensk commented on #13207
@damienmg I moved it to bazel.

Thanks everyone.

[2017-09-26 11:09] 9thDimension commented on #11956
+1 for this request.

If anyone's interested there's a working (albeit slightly crude) implementation using Keras over Tensorflow here:

https://github.com/WeidiXie/New_Layers-Keras-Tensorflow/blob/master/src/normalized_correlation_layer.py

[2017-09-26 11:57] wechselstrom opened #13310 "Feature Request: Mixed Sparse and Dense Tensors"
### Describe the problem
I am trying to implement a sparse convolution operation. This means I have spatially sparse locations(in this case *NHW* of *NHWC* in 2d convolutions)
and at each of these locations I have a dense vector of values (*C* of *NHWC*).
In tensorflow there are currently two classes for sparse representations:

1. **SparseTensor**:
Consisting of an indices matrix, value and shape

[2017-09-26 12:21] hicham-eyeem commented on #6503
Hi, any update about this? I tried the code by @kcyu2014 but it didn't work properly unfortunately.

[2017-09-26 12:25] apiszcz opened #13311 "gru_ops.py trying to load a .so file on windows"
gru_ops.py is attempting to load an .so library on windows when using CPU version (vs GPU), is this the correct behavior? It fails in my case.

LINE 33
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/rnn/python/ops/gru_ops.py

[2017-09-26 12:40] 952599993 commented on #5444
Dear fansongfs,

How is it going? I also met a similar problem. Would you please show your solutions?

Best regards.

[2017-09-26 13:11] RaskaFR commented on #12416
Hi all,

About `ImportError: libcudnn.so.6: cannot open shared object file: No such file or directory`. In order to solve this problem, you have to download from cuda [https://developer.nvidia.com/cuda-downloads](url) the appropriate package for your system and write in your `~/.bashrc` : `export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64:/path/to/your/new/cuda/lib64"`.
`usr/local/cud

[2017-09-26 13:17] LaiPiXiong opened #13313 "No gradients provided for any variable, check your graph for ops that do not support gradients, between variables"
I download a code about vgg from web, and use it on my own datasets. But it shows "No gradients provided for any variable, check your graph for ops that do not support gradients, between variables" error.
code as `below:`
# -*- coding: UTF-8 -*-
import tensorflow as tf
import read_data
import numpy as np
def conv_op(input_op, name, kh, kw, n_out, dh, dw, p):
    '''
    Args:
    input_op：输入的tenso

[2017-09-26 13:34] #13313 closed

[2017-09-26 13:57] candidj0 commented on #675
@shaifugpt take a look to your output function,  the functions here work for a y = [y0, y1, ...], your output is surely [[y0,y1, ...]] so you can try :

[code]
or

[code]
where size_y is the size of the output of your model.

[2017-09-26 14:17] CNugteren commented on #8340
I know it's a bit late, but it seems this issue was never solved. I encountered the same issue when running `nosetests` and found a solution on [StackOverflow](https://stackoverflow.com/questions/43337601/nosetests-with-tensorflow-lots-of-debugging-output-how-to-disable):
[code]
Adding this before importing TensorFlow (e.g. somewhere in `__init__.py`) solves it for me.

[2017-09-26 14:17] #12401 closed

[2017-09-26 14:24] Matrix92 opened #13316 "Concatenate in alternate fashion two tensors"
Good Afternoon.
I'd like to concatenate two tensors of shape (None,16) in alternate fashion.
For example, with simple arrays, if the inputs are:
a=[[1,2,3],[1,2,3],...]
b=[[4,5,6],[4,5,6],...]
I want this output:
c=[[1,4,2,5,3,6],[1,4,2,5,3,6],...]
How can I do it?
I can't loop on tensors because of unknown shape[0], zip function isn't supported for tensors (tensor object is not iterable).
Thank u

[2017-09-26 14:35] eldar opened #13317 "TF v1.3 slower than v1.2 when used with ResNets"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
It's a custom code with fully convolutional ResNet using tf.slim implementation (with diluted kernels)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Debian 8.9
- **TensorFlow installed from (source or binary)**:
Binary (pip)
- **TensorFlow version (use comma

[2017-09-26 14:52] youkaichao commented on #8859
@sunnysuhappy i think you were previously trying `tf.contrib.layers` alike. If that is the case, then you can add a statement `import tensorflow.contrib as contrib`, after that, the auto completion of PyCharm can work, at least this works for me, you can have a try! ^_^

@jubjamie But i notice that contrib is only an attibute of tf while others are not (take nn for example, nn tf.nn is a module).

[2017-09-26 15:34] petewarden commented on #13146
We don't currently have a way to handle this. In theory it should be possible to write a Graph Transform Tool rule to do the swizzling, or maybe in Grappler, but we'd need to maintain a list of all the ops this applies to. We don't have any plans to work on this in the near term unfortunately, but PRs would be welcome.

[2017-09-26 15:44] petewarden commented on #13066
In theory, you should just be able to set the following environment variables before building to get Python 3:
[code]
I haven't tried this myself though, so it may well be trickier than that.

The scripts will be part of the 1.4 release, along with some official 1.4 Pi binaries, but they're also available in the nightlies.

[2017-09-26 15:46] ybsave opened #13318 "The pip upgrade in windows does not get up-to-date tensorflow codes on github"
Tensorflow version: 1.3
OS: Windows 10

When I use pip upgrade to get tensorflow, the codes I got did not reflect the newest updates in Github. For example, in "tensorflow/tensorflow/contrib/layers/python/layers/layers.py" the up-to-date batch_norm() function supports not None param_regularizers. However, the codes updated by pip still not support param_regularizers, as the codes are not up-to-dat

[2017-09-26 15:51] aselle commented on #13318
run `pip list` and report the line for tensorflow.
run python and do
[code]
and report that as well.

[2017-09-26 15:53] aselle commented on #13316
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Hint: Some combination of `tf.stack, tf.reshape, and tf.transpose` should be able to do this.

[2017-09-26 15:53] #13316 closed

[2017-09-26 15:54] ekelsen commented on #5460
It should be solved.  Are you using head or a release?

[2017-09-26 15:56] aselle commented on #13302
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-09-26 16:00] martinwicke commented on #1763
The docstring says:

  Images that are represented using floating point values are expected to have
  values in the range [0,1). Image data stored in integer data types are
  expected to have values in the range `[0,MAX]`, where `MAX` is the largest
  positive representable number for the data type.

  This op converts between data types, scaling the values appropriately before
  casting.

If you

[2017-09-26 16:01] martinwicke commented on #1763
Note that we cannot rename the function because that would break compatibility. We could make an alias, but in my opinion that would just add more confusion.

[2017-09-26 16:02] ybsave commented on #13318
Pip list results:
bleach (1.5.0)
html5lib (0.9999999)
Markdown (2.6.9)
numpy (1.13.1)
pip (9.0.1)
protobuf (3.4.0)
setuptools (36.5.0)
six (1.11.0)
tensorflow-gpu (1.3.0)
tensorflow-tensorboard (0.1.6)
Werkzeug (0.12.2)
wheel (0.30.0)

The tf.GIT_VERSION shows: b'unknown'

[2017-09-26 16:25] KlaatuVerataNecto commented on #6698
I got it working perfectly under Windows 10 with GTX 1070.
I was using cudnn 7.0.2
Downgrading to vs 6.0 solved me problems:

[code]

Posted the whole installation process here:
[](http://klaatuveratanecto.com/installing-tensorflow-gpu-windows-10-running-image_retraining/)