[2021-04-02 01:30] advaitjain opened #48254 "rsync error with TFLM github CI"
With https://github.com/tensorflow/tensorflow/pull/48241, we started getting an rsync error (after the TFLM CI build passed all the checks):
[code]

See this build log for one example:
https://source.cloud.google.com/results/invocations/44cbfc69-3cc3-4fbb-90a5-fa500a7c79bb/log

The exact reason for this is unclear and it is not reproducible with the internal kokoro builds (which is why #48241 got

[2021-04-02 01:41] ymodak commented on #34266
This is fixed with latest TF versions. See [gist](https://colab.research.google.com/gist/ymodak/1774a32e85ec0adff2db3136662b8d3b/untitled14.ipynb) for your reference. Thanks!

[2021-04-02 01:41] #34266 closed

[2021-04-02 02:05] #48155 closed

[2021-04-02 02:22] #47120 closed

[2021-04-02 02:45] embeddetech opened #48255 "Trying To Resolve Eigen Library For TFLM Visual Studio Build"
**System information**
- Host OS Platform and Distribution: Windows 10
- TensorFlow installed from Source
- Tensorflow version 2.4.1
- Target platform Visual Studio

**Describe the problem**
I am attempting to build TFLM in Visual Studio, thus am unable to rely on the Bazel, CMake, or Make build tools (which seemed to have issue for TFLM example projects). I have a build that works without some ke

[2021-04-02 03:00] xxl4tomxu98 commented on #48237
I uninstalled numpy 1.20.1 and 1.18.5 and tried to install numpy~=1.19.2 and got this error:
[code]

[2021-04-02 03:02] KaterinaBao commented on #38702
Hi, have you know how to use the tf.GradientTape and optimizater.apply_gradients to solve the problem? Thanks! I am facing the same problem and would you like to share the information with me?

[2021-04-02 03:03] #48254 closed

[2021-04-02 03:09] KaterinaBao opened #48256 "Data cardinality"
Hi, I am training a neural network use two inputs with different numbers of images, like this:

input1 = Input((500,500,3), name='input1')
input2 = Input((700, 500, 3,), name='input2')

l1 = Dense(64, activation='relu')(input1)
l1 = Dense(1, activation='sigmoid', name='output1')(l1)

l2 = Dense(64, activation='relu')(input2)
l2 = Dense(1, activation='sigmoid', name='output2')(l2)

model = keras.Mo

[2021-04-02 03:10] ljburtz commented on #46093
@povolann you can use the image name I put in my original message that you quoted. For example, try this command:
`docker run --gpus all -it --rm nvcr.io/nvidia/tensorflow:21.02-tf2-py3`

Next step: make sure you check the [docker documentation](https://docs.docker.com/storage/volumes/) to understand the `-v` flag, you'll see you just have to specify `local_dir` and `container_dir` paths that make

[2021-04-02 03:27] marconi1964 opened #48257 "The mbed project generation bits might be a bit out of date."
The mbed project generation bits might be a bit out of date.

Tagging @MatthiasHertel80 to check what the current recommended approach is for using TFLM with mbed.

From my perspective (as a TFLM maintainer, but not the one maintaining the mbed integration), you should be able to rename [this folder](https://github.com/tensorflow/tensorflow/blob/8ddc7459a8f7d2526249f8b9d496d0812a7aff55/tensorflow/

[2021-04-02 03:41] marconi1964 commented on #48257
Agree with @advaitjain about comment on mbed project generation

 `TARGET=mbed` in command line will not enable Makefile to include .cc files in subfolder of micro_speech/disco_f746ng/ (or hello_world/disco_f746ng/, or ...), according to [Makefile](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/tools/make/Makefile).

`
# Makefile line 643
MICROLITE_CC_SRCS := $(call sub

[2021-04-02 03:49] marconi1964 commented on #48257
Agree with @advaitjain on the comment of mbed project generation, as

`TARGET=mbed` in command line will not enable Makefile to include .cc files in subfolders with the target name of `micro_speech/disco_f746ng/` (or hello_world/disco_f746ng, etc) according to the [Makefile line #643](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/tools/make/Makefile#L643)

`MICROLITE_C

[2021-04-02 03:52] Kewenjing1020 commented on #48226
Hi @Saduf2019 , I observed the model structure via netron.app.  For the evaluation code, I thought your team should have tested it before release.

[2021-04-02 03:53] #48100 closed

[2021-04-02 05:40] Young768 commented on #48225
this issue has been resolved. We can obtain this info using `context->input_memory_type(0)`.

[2021-04-02 05:40] #48225 closed

[2021-04-02 05:46] ssrokyz commented on #41926
worked for me
cuda 10.2, tensorflow 2.4.1, centos 7

[2021-04-02 05:54] TropicalTsunami opened #48264 "ERROR: An error occurred during the fetch of repository 'local_config_python':"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2021-04-02 05:56] innat opened #48265 "What does it mean Trackable objects?"
According to the read me, it [says](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/saving/saved_model/README.md#:~:text=Trackable%20objects%20and%20TensorFlow%20functions,wrapped%20as%20trackable%20objects%2Ftf.)

By this, I understand one thing that, it represents a node in the `tf` graph. But this information is not enough. What does it mean exactly?

[2021-04-02 05:58] kbrajwani opened #48266 "Failed to get convolution algorithm"
**System information**
- OS Platform and Distribution Linux Ubuntu 18.04 aws dlami
- TensorFlow version : tensorflow==2.5.0rc0
- Python version:  3.6
- CUDA/cuDNN version: cuda 11.0
- GPU model and memory:
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.80.02    Driver Version: 450.80.02    CUDA Version: 11.0     |
|-------------------------------+-

[2021-04-02 06:01] wightzhang commented on #44754
I have the same problem , `new Graph()` this method will cause jvm crash.
Tensorflow version is 1.15.0

[2021-04-02 06:08] vanshika-653 opened #48267 "ImportError: No module named '_pywrap_tensorflow_internal'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10 64amd
- Mobile devic

[2021-04-02 06:13] Lucky94 commented on #33153
This issue still exits with tf2.x
tflite runtime needs GLIBC_2.27 which ubuntu16.04 does not come shipped with (it comes with GLIBC_2.23)
Is there a hard requirement of tflite runtime interpreter for GLIB_2.27 ? Is there any workaround for ubuntu16.04, please let know.

[2021-04-02 06:19] songgc commented on #46093
@Sicily-F Latest NGC dockers stopped supporting K80. Try [Tensorflow docker](https://www.tensorflow.org/install/docker)

[2021-04-02 06:29] LanceNorskog opened #48268 "XLA compilation bug in TPU involving indirection through index tensors"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-02 06:31] ymodak commented on #48266
Please try with cuda 11.2 for TF 2.5.X versions.

[2021-04-02 06:40] ymodak commented on #48232
Perhaps [tf.compat.v1.reset_default_graph](https://www.tensorflow.org/api_docs/python/tf/compat/v1/reset_default_graph) can work in your case.

[2021-04-02 06:53] LanceNorskog commented on #48268
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
TensorFlow installed from (source or binary): binary, pre-installed on Colab
TensorFlow version (use command below

[2021-04-02 06:55] LanceNorskog commented on #48268
Under CPU and GPU, the output looks like this:
[code]

[2021-04-02 07:00] LanceNorskog commented on #48268
Looking at this now, I see a fundamental problem that is not true on CPU or GPU: the output of tf.shuffle() is common across each batch. Under TPU (and multi-GPU training) each executor only sees a "sub-batch". For this to fully work on TPU, I think I need to supply the indirection indexes as input values in parallel to the data samples that are to be shuffled.

[2021-04-02 07:15] gmt710 commented on #41926
wow, it's a good idea.
But I only can use cuda9.0.

[2021-04-02 07:16] gmt710 commented on #41926
cuda10.2
I've installed tensorflow yet and do not need build tensorflow.

[2021-04-02 07:21] kbrajwani commented on #48266
hey @ymodak
I have changed cuda version but still getiing same error

command for installation :
[code]

nvidia-smi
[code]

[2021-04-02 07:31] flamxi commented on #48014
exactly, // works only for bazel, and thats why I don't know how to begin writing the absolute path, since the repository comes from remote !

[2021-04-02 07:35] Humza1996 opened #48269 "tf.signal.rFFT in TFLITE is not working in JAVA"
**System information**
- OS Platform and Distribution (Android 10,11):
- TensorFlow installed from : source
- TensorFlow version: 2.4.1

I am simply trying to make a model which takes time series data as input and compute rFFT/irFFT and return time series data.
I used tf.signal.rfft and tf.signal.irfft for computations. I have converted it to TFLITE and its working perfectly fine in python. But wh

[2021-04-02 07:43] Humza1996 commented on #48269
@gargn @ravikyram Please review this.

[2021-04-02 07:56] terryheo commented on #48014
Did you search $HOME/.cache/bazel ?

https://docs.bazel.build/versions/master/output_directories.html

[2021-04-02 08:00] flamxi commented on #48014
uh nice, so there will be the repository, I'll try it asap! thanks ;)

[2021-04-02 08:17] tomerk commented on #47882
The convolution padding code is found in the actual kernel implementations (not in the python).

A quick skim of various C++ kernel implementations suggests many of them may be going through here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/eigen_spatial_convolutions-inl.h#L1661

Though it'll probably take building up some familiarity with eigen to fully grok what'

[2021-04-02 08:17] mahmoodn opened #48271 "Compatibility with numpy 1.20"
Hi
May I know if there is any note about the numpy version and tensorflow? It seems that the master branch doesn't work with numpy==1.20.0.

Is that right? If yes, is there any workaround for that?

[2021-04-02 08:31] flamxi commented on #48014
It works all flawlessly now! @terryheo  thanks!
Even though I got to type hard-coded absolute paths, since $HOME and $USER were not recognized there :S.
May I ask if you have any idea how would the proper solution would be, I would gladly contribute that!

[2021-04-02 08:40] UMUTBAYGUT commented on #40967
Same Error still is continues

[2021-04-02 09:04] abattery commented on #48269
FYI, I added my answer at the same post at https://stackoverflow.com/questions/66915970

[2021-04-02 09:22] #47760 closed

[2021-04-02 09:26] terryheo commented on #48014
That's good to hear.
Could you try if the following also works for you?

[code]
Please let me know if it works.

BTW, you can check the actual build command with "-s" option to Bazel. It will help to debug build issues.
[code]

[2021-04-02 09:37] flamxi commented on #48014
I tried, and no it doesn't work, still the error message for the missing include!
Also wanted to ask, I couldn't find this package declaration ``` serialization_base_cc_fbs_includes ``` anywhere inside the repository, it is only used in this file we are changing!

[2021-04-02 09:47] Humza1996 commented on #48269
Thankyou @abattery
Issue Resolved. While Making TFLITE with custom functions/Lambda Layers, do these steps while making tflite.

converter = tf.lite.TFLiteConverter.from_keras_model(model)
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,tf.lite.OpsSet.SELECT_TF_OPS ]
tflite_model = converter.convert()
and in android studio add these in dependicies:

implementation 'org.tensor

[2021-04-02 09:51] abattery commented on #48269
Glad to see it resolved. Have a nice day!

[2021-04-02 09:51] #48269 closed

[2021-04-02 10:05] terryheo commented on #48014
I see. I also thought it's strange.

It looks bit dirty... but could you try the following?
[code]

[2021-04-02 10:16] lvlanson commented on #48232
Thanks for your response. This does not work.

I called tf.compat.v1.reset_default_graph() before exiting the process where the net has been loaded. Other processes are still being blocked.

[2021-04-02 10:35] pabloduque0 opened #48275 "tensorflow.python.framework.errors_impl.InternalError: 2 root error(s) found"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux bullseye/sid
- TensorFlow installed from (source or binary): Not sure (I did not install it myself)
- TensorFlow version (use command below): 2.5.0-dev20210323
- Python version: Python 3.9.2
- CUDA/cuDNN

[2021-04-02 10:50] mania25 commented on #48130
seems like the problem came from LLVM_OpenMP package, I tried to downgrade the version to the old one and still got the error, CMIIW

[2021-04-02 10:59] Sicily-F commented on #46093
Hi, thanks for this! I've found a workaround with a custom-built nvidia image with the required libraries, but I'll try the Tensorflow docker as it's maybe more stable

[2021-04-02 10:59] Saduf2019 commented on #48271
@mahmoodn
Not for 2.4.x. For nightly or future releases please subscribe to #47691 which is WIP.
Could you please refer to these issues #47691, #47878.

Kindly move this to closed status if it answers your question, as this is already tracked.

[2021-04-02 11:23] #47898 closed

[2021-04-02 11:28] Humza1996 commented on #48190
@amahendrakar any update ?

[2021-04-02 11:57] flamxi commented on #48014
@terryheo
I tried, I got this error:
[code]

[2021-04-02 12:22] ValYouW commented on #23747
@josefgrunig As far as I understand the model output is not a "mask" per-se, but just a matrix with the detected classId per pixel (i.e whether it belongs to a dog/horse/person etc). It is up to you to create an image mask from it....

[2021-04-02 12:23] Ean244 opened #48277 "TFLite Android 'Didn't find op for builtin opcode 'RESIZE_NEAREST_NEIGHBOR' version '3''"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, S

[2021-04-02 12:28] abattery commented on #48277
Could you use the tf 2.4.1 or tf-nightly version?

'org.tensorflow:tensorflow-lite-gpu:2.4.1'

or

org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly

[2021-04-02 12:30] abattery commented on #48190
I replied at the same question posted at https://stackoverflow.com/questions/66882466/high-inference-time-on-warmup-state-in-android-studio

[2021-04-02 12:37] Ean244 commented on #48277
May I know what is the repository for 'org.tensorflow:tensorflow-lite-gpu:2.4.1'?
Thanks

[2021-04-02 12:40] abattery commented on #48277
I figure out that you need to add the following dependency as well.

org.tensorflow:tensorflow-lite:2.4.0

See also the dependency part in https://www.tensorflow.org/lite/performance/gpu#android_with_android_studio

[2021-04-02 12:42] Ean244 commented on #48277
While trying with org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly, it seems to be working.
However, a new issue arises
[code]

The java code which is causing the issue:
[code]

[2021-04-02 12:46] abattery commented on #48277
We recommend using the same TF versions for both conversion and android applications. There is possibility that the model is not well converted with the old TF version. Could you try conversion with tf-nightly version and try again at the android application?

[2021-04-02 12:49] aiXia121 commented on #18736
at my Mac 2021-04-02 12:45:20.785361: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2021-04-02 12:45:20.788755: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2904000000 Hz
Killed

my Mac has 16G RAM
would you mind sharing your envs?
my tf is 2.4

thx

[2021-04-02 13:07] OzzyProjects commented on #18736
I have 64G RAM and i9 10900k and RTX 2080 Ti but despite it all, i had this problem with tensorflow before i use the script. Weird too because on my portable i have an i7, 8go ram and i'v never had any issue with tensorflow, running the same script.
try installing tensorflow 1.14

[2021-04-02 13:11] patchmeifyoucan commented on #46635
For me RaggedTensors + map_fn are quite an enabler because I am implementing some kind of link prediction in a graph neural network. Having TensorFlow handling the individual samples allows for pretty safe programming as I do not have to put all samples in a batch into a large, disconnected graph and make sure that no nodes of different graphs will be connected. Using TensorFlow this way results i

[2021-04-02 13:22] #29890 closed

[2021-04-02 13:29] Humza1996 commented on #48190
@abattery Thankyou for your feedback but I am not able to solve the issue. Model is working fine when its run in a continuous loop (without any delay). Pipeline is, app gets voice data  and take its FFT. Then pass it to the model. Model outputs some data and I take IFFT of that data. Issue is , when there is a delay of getting microphone data, model takes long time for prediction as well. I guess

[2021-04-02 13:30] giostefa opened #48278 "Issue: tf.function not working when dealing with tf.stack"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version 2.3.0

**Describe the current behavior**
tf.function is not working in converting functions containing tf.stack.

**Describe the expected behavior**
I would expect tf.function to actua

[2021-04-02 13:43] antonaldo opened #48279 "tf.while loop in MultiWorkerMirroredStrategy leads to training error: Complete shape not known for Adam/allreduce/CollectiveReduce"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2021-04-02 13:49] #48271 closed

[2021-04-02 13:52] EnderWiggin14 commented on #47882
Thank you! However, now I'm just confused. Starting at the same link as what you posted

[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/eigen_spatial_convolutions-inl.h#L1661]()

it appears that the variable names of the switch statement are backwards. It doesn't make sense that "VALID" padding would have any kind of padding at all. My understanding is that, for "VAL

[2021-04-02 13:58] abattery commented on #48190
Model does not terminates and goes on sleep unless the inference object is destroyed. Instead, the related memory space can be evicted from the cache menory, which can impact the latency.

TFLite model is just another program so it also is under controlled by CPU scheduling and its performance is related to the memory usage patterns. So, in my view point, it is kind of complicated problems and har

[2021-04-02 14:10] xxl4tomxu98 opened #48280 "The new Apple M1 MLcompute Tensorflow2.4 not compatible with Numpy 1.20.1, after attempting installing ~>1.19.2, got error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac Air M1
- Mobile device (e.

[2021-04-02 14:15] jvishnuvardhan commented on #48237
@xxl4tomxu98 Looks like there are some issues install TF on M1. Similar issue https://github.com/tensorflow/tensorflow/issues/45645

Unfortunately this is more related to M1 repo https://github.com/apple/tensorflow_macos. Please post the issue there as there are some M1 experts  who can help you. Thank you!

[2021-04-02 14:17] sebastian-sz commented on #45091
@lintian06
I managed to modify the existing code to add option for EfficientNet Lite variant architecture and to convert the weights via utilility script provided in [Tensorflow repo](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/applications/efficientnet_weight_update_util.py).

Are you open for PRs regarding this issue?

[2021-04-02 16:01] artzet-s opened #48281 "TensorflowLite (API C++) No NNAPI acceleration"
**System information**
- OS Platform and Distribution : Linux Ubuntu 20.04
- Mobile device : HUAWEI Honor 8X, Samsung S20, ...
- Android ABI : ARM64
- TensorFlow installed : from source
- TensorFlow version : v2.4.1 and master branch
- Python version: 3.8.8 (conda forge)
- Bazel version : 4.0.0 (conda forge)
- NDK : 21.4.7075529
- NDK API : 29

Hello, I try to perform some pubic and private models

[2021-04-02 16:05] fvollmer opened #48282 "[RNN] input->type != output->type (UINT8 != FLOAT32)Node number 18 (TANH) failed to prepare"
### 1. System information

- Windows 10
- pip install tf-nightly
- 2.6.0.dev20210330

### 2. Code
The following code converts and quantizes a stateless lstm layer with additional inputs and outputs to handle the state by the user program. This was suggested at https://www.tensorflow.org/lite/convert/rnn

[code]

![grafik](https://user-images.githubusercontent.com/16699443/113432571-e7be5c80-93dd-1

[2021-04-02 16:25] unnir commented on #45930
this helped me:

`conda install pytorch torchvision cudatoolkit=10.1 -c pytorch
`

[2021-04-02 16:40] tomerk commented on #47882
I believe later parts of that method use the  `out_height` and `out_width` to compute which transformations/contractions to use with eigen. It's not super straightforward to understand which is why I gave that caveat.

+Reedwm who has looked a lot at the details of different convolution paddings and might be able to provide you w/ the info you're looking for more clearly

[2021-04-02 16:40] kbrajwani commented on #47924
Hey @Saduf2019 i am again in same problem this time i am running the program with tensorflow nightly in aws dl ami instance and its eating all gpu memory. In google colab it's working fine. So can you tell me it's tensorflow who makes a difference or cuda versions.

[2021-04-02 17:25] jvishnuvardhan commented on #47311
@Ellislee1 Can you please share a standalone code to reproduce the issue? Your code is not complete at the moment.

It would be great If anyone can share a simple standalone code to reproduce the issue? Thanks!

[2021-04-02 17:30] ymodak commented on #48266
Can you also upgrade your cudnn to 8.1.0?

[2021-04-02 17:35] eli-osherovich commented on #47954
Any response?

[2021-04-02 17:42] reedwm commented on #47882
There used to be documentation on SAME padding, which is accessible with the wayback machine [here](https://web.archive.org/web/20181116104639/https://www.tensorflow.org/api_guides/python/nn) in the section "Convolution". The file with this documentation was deleted in https://github.com/tensorflow/docs/commit/1c81393168e11b106a0b4b7337cee97af3b741b8 (file `nn.md`). We should bring back this paddi

[2021-04-02 17:52] #39692 closed

[2021-04-02 17:54] ymodak commented on #46644
Closing this issue for now. Thanks!

[2021-04-02 17:54] #46644 closed

[2021-04-02 18:04] lamberta commented on #47882
Yes, the module overview page is a good place: https://www.tensorflow.org/api_docs/python/tf/nn
Always an adventure finding the docstring but I believe this is it: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py#L15

@yashk2810 Is it feasible to add a "View in GitHub" button to the module overview pages?

[2021-04-02 18:17] #47722 closed

[2021-04-02 18:17] #46653 closed

[2021-04-02 18:23] #47602 closed

[2021-04-02 18:23] #15805 closed

[2021-04-02 18:28] bhack opened #48285 "Update/Refactor Community Page"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/comm

[2021-04-02 18:37] OfekShochat commented on #23262
oof still nope, wanted to use it with lc0

[2021-04-02 19:23] #47776 closed

[2021-04-02 19:40] brando90 commented on #35547
what version of TensorFlow fixes this issue?

[2021-04-02 19:45] TropicalTsunami commented on #48264
Update:

I wondered if the actual problem could have been:
WARNING: Download from https://mirror.bazel.build/github.com/bazelbuild/rules_cc/archive/40548a2974f1aea06215272d9c2b47a14a24e556.tar.gz failed: class c
om.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found

I tried
bazel clean --expunge

Then I repeated bazel build using a VPN (I am

[2021-04-02 20:24] abattery commented on #48281
@miaowang14 could you take a look at this report?

[2021-04-02 21:05] abattery commented on #48282
I confirmed that putting `converter.experimental_new_quantizer = False` will resolve the problem.

[2021-04-02 21:20] miaowang14 commented on #48281
First of all, the actual acceleration through NNAPI depends on the driver support on the device you are using. Generally, mid to high end devices with Android 10+ should have much better acceleration support. And certain devices only supports accelerating quantied models while others may support both.

If you are using floating point models, it might also worth trying with SetAllowFp16PrecisionFor

[2021-04-02 21:36] miaowang14 commented on #48081
Interesting, @aki65 do you have any logcat that you can share. I suspect that somehow the NNAPI driver on Mi11 is not properly configured.

Could you also try "adb shell lshal | grep neural" and share the output?

[2021-04-02 21:43] miaowang14 commented on #47905
Most of the errors here are related to the quantize / dequantize nodes. And I am not expecting FAKE_QUANT nodes in the exported model, which seems indicating that there seems something wrong with exporting script.

@lev-prol , have you seen similar issues before?

[2021-04-02 21:48] miaowang14 commented on #47546
@antkillerfarm good idea, would you like to create a PR implementing this? I am happy to review and approve it.

[2021-04-02 22:18] artzet-s commented on #48281
Hello @miaowang14 thanks for you help. My model is in floating point and a can't reduce accuracy by setting precision to 16fp unfortunately ...

My first idea for my problem was it can be due that TensorflowLite wrong delegate with nnapi and that if I call directly my model with the nnapi with ndk it will maybe work better ? Do you thing it's true ? Like, the possibility that TensorflowLite is not

[2021-04-02 22:24] artzet-s commented on #48281
For my "GPU delegate operations not supported", (GATHER and SPLIT) do you think that create a custom delegate can solve this ? (https://www.tensorflow.org/lite/performance/implementing_delegate)

Or I should more look in Xnnpack or Hexagon delegates ? I basically want run my inference as quickly as possible.

[2021-04-02 22:28] artzet-s commented on #48281
It's the same this GPU delegate or xnnpack ? Or it'll more depend of the hardware power (CPU / GPU) and not the driver support ?

[2021-04-02 22:35] ymodak commented on #28979
Multi-class support for BoostedTreesClassifier is now added. Thanks!
https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier#args_1

[2021-04-02 22:38] ymodak commented on #47236
Take a look at TensorFlow Profiler https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras

[2021-04-02 22:51] ymodak commented on #34966
The Masking and padding [guide](https://www.tensorflow.org/guide/keras/masking_and_padding) has been updated over time.  Please comment if further information/clarification is required. Thanks!

[2021-04-02 23:25] miaowang14 commented on #48281
The GPU delegate and NNAPI GPU backend/driver are different implementations on top GPU.
And IIRC, Hexagon Delegate only supports quantized models. But you might want to give XNNPACK delegate a shot.

The performance may not be good If the unsupported ops are all over the place in the model. But if they only occur once or towards the beginning or the end of the model, you may still get good perform

[2021-04-03 00:12] rmothukuru commented on #48153
@samanemami,
**`Estimators BoostedTreesClassifier`** are not extensively used in **`Tensorflow 2.x Version`**.

So, . Please check this [Stack Exchange Answer](https://stats.stackexchange.com/a/433880). [This article](https://machinelearningmastery.com/grid-search-hyperparameters-deep-learning-models-python-keras/) might also help you. Thanks!

[2021-04-03 00:23] orthand commented on #36459
I'm in the same boat. Training my models on Windows+CPU is no problem and takes ~8 GB RAM. On Linux+GPU it's easily above 28 GB and tends to get terminated (oom, exit code 139 (interrupted by signal 11: SIGSEGV)).
I've tried most of the ideas from [#31312](https://github.com/tensorflow/tensorflow/issues/31312) but the problem still persists - with or without validation data. Both systems are on TF

[2021-04-03 00:49] rmothukuru commented on #47958
@JulianWgs,
The behavior is expected as the `Tensors` are **`immutable`**.  The problem can be resolved by replacing
`df["x"] = tf.linspace(0.0, 100.0, 20)` with `df["x"] = tf.linspace(0.0, 100.0, 20).numpy()`.

Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/b73d93b7ae4cf4477224570184d08530/gh_v.ipynb) of working code. Thanks!

[2021-04-03 00:53] rmothukuru commented on #48162
@ruler501,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-04-03 00:57] rmothukuru commented on #48174
@atn832 ,
Can you please share us the exact link where **`embeddings_metadata`** was located, so that we can fix it? Thanks!

[2021-04-03 01:20] ASRodrigo1 commented on #36459
Try to run a simple model, like Keras simple example for MNIST dataset.

[2021-04-03 03:16] bobhob314 opened #48287 "Embedding Projector lacks scrolling on Nearest points in the original space."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-04-03 04:44] AdityaKane2001 commented on #48265
@innat
This question is more suited for Stack Overflow rather than here. Still, I will try to answer it.
Trackable objects are, in my opinion, objects that are kept on check by the TensorFlow runtime. This includes things like trainable variables. They need to be updated after every epoch, right? Also, things like losses and metrics have states, which are managed by the runtime.

[2021-04-03 04:50] bkirwi commented on #47804
Would it make sense to keep this open to track the quadratic complexity in the unfused case, or should I let the butler close it?

[2021-04-03 04:55] Ethylbenzol opened #48288 "UnboundLocalError 'strategy' referenced before assignment during SSD mobilenet FPN evaulation"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no custom code

[2021-04-03 08:02] Humza1996 commented on #48190
@abattery I have tested all optimizations technique to the model. Now my model is fully optimized and in [Quantized form](https://www.tensorflow.org/lite/performance/post_training_quantization#:~:text=Post%2Dtraining%20quantization%20is%20a,little%20degradation%20in%20model%20accuracy.).

[2021-04-03 08:26] MaxxTr commented on #46315
@haozha111 thank you for detailed explanation. I will do

[2021-04-03 08:42] abattery commented on #48190
@multiverse-tf any thoughts on https://github.com/tensorflow/tensorflow/issues/48190#issuecomment-812831324 ?

[2021-04-03 09:25] lshug opened #48289 "Autograph produces code with invalid syntax when transforming expressions containing tensor slicing with a colon in tf 2.6.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 11
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-54030-g23c3e3c4ad1 2.6.0-dev20210331
- Python version: 3.9.2
- CUDA/cuDNN version: using a CPU

[2021-04-03 09:50] orthand commented on #36459
Are you on Windows or Linux? I haven't managed to run the MNIST example yet but was able to start a short test run of my code on the CPU under Linux. It has the same multiplier as the GPU so my problem seems to be on Linux only and independent of CPU/GPU. In RAM (not VRAM) numbers:
Win/CPU: ~4.2 GB used
Linux/CPU: ~11.8 GB

I've seen the same problem with/without memory_growth = True, validation_d

[2021-04-03 10:18] samanemami commented on #48153
@rmothukuru
`Estimators BoostedTreesClassifier`, instead of `fit `,  has `train`, which is indicated in the [tutorial](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier) also. So, it is not possible to implement Sklearn gridsearch as indicated in the [page](https://machinelearningmastery.com/grid-search-hyperparameters-deep-learning-models-python-keras/), or this [link

[2021-04-03 10:48] giostefa commented on #48278
The issue seems much broader as the real problem is tf.function fails to deal with tensor slicing. Closing the issue since there are many more out there on the same subject.

[2021-04-03 10:48] #48278 closed

[2021-04-03 12:10] ASRodrigo1 commented on #36459
Gotcha.
So you could try to use another tensorflow version.

[2021-04-03 12:23] Lucy20211 opened #48290 "How to use Conv1D on microcontrollers?"
@tensorflow/micro

**System information**
- OS Platform and Distribution: Linux Ubuntu 20.10
- TensorFlow version: 2.4.1
- Python version : 3.8
- STM32CubeIDE-Lnx: 1.3.0
- STM32 Nucleo-64 development board with STM32F401RE MCU

**Describe the problem**

I would like to run inference on ST microcontroller above by using a model characterized by Conv1D layers. For this reason, I should create a file

[2021-04-03 13:38] ahnaflodhi commented on #33163
It was previously called 'period' before the rename to save_freq.

[2021-04-03 14:30] aki65 commented on #48081
@miaowang14, I attached the logs:
samples.txt comes from "adb logcat" while running first sample1, then sample2. lshal.txt is the output of "adb shell lshal | grep neural"

[lshal.txt](https://github.com/tensorflow/tensorflow/files/6252692/lshal.txt)
[samples.txt](https://github.com/tensorflow/tensorflow/files/6252693/samples.txt)

[2021-04-03 14:45] bhack commented on #47989
@adriangb In the meantime I will discuss this with @angerson you can look at https://github.com/tensorflow/tensorflow/pull/48291

[2021-04-03 15:04] JKhodadadi opened #48292 "Custom Layer Using Packages Other Than Tensorflow"
**System information**
- TensorFlow version (2.4.1):
- Are you willing to contribute it (If you pay yes):

**Describe the feature and the current behavior/state.**
Currently you can't use packages other than tensorflow to build a layer

**Will this change the current api? How?**
I don't know

**Who will benefit with this feature?**
Everyone who wants to use packages like graph analysis or topologi

[2021-04-03 15:18] #47779 closed

[2021-04-03 15:56] RobertBiehl commented on #47545
I have the same issue.
It seems like you circumvent the issue by force caching by iterating over it (in this example through tfds benchmark).
After that is done you can zip without causing an error.

This is not really a practical solution, so I hope the bug gets fixed soon.

Example:
[code]

[2021-04-03 16:40] lxy764139720 commented on #45200
It helps me a lot!
My env is Ubuntu 20.04 kernel 5.8.0-45-generic,nvidia-460.67,cuda 11.0,cudnn v8.0.5,tensorflow 2.4.1.
I downloaded and installed "libcudnn8_8.0.5.39-1+cuda11.0_amd64.deb", and the question was solved.

[2021-04-03 16:58] iteachmachines commented on #48290
Try to reinstall tensorflow and see if it works fine with previous version.It seems like it couldn't find the 'Conv1D' file in keras.

[2021-04-03 17:05] hoonkai opened #48293 "Build from source on OSX 10.13.6 wrongly produces .whl package for 10.14"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version: v2.4.1, v2.5.0rc0
- Python version: 3.9
- Installed using virtualenv? pip? conda?: Build from source
- Bazel version (if compiling fr

[2021-04-03 17:07] iteachmachines commented on #45615
@rmothukuru  I would love to work on this issue.Can you assign this issue to me?

[2021-04-03 17:14] gdudziuk commented on #40942
Thank you for the information, @jvishnuvardhan. I will run tests with the most recent TF release in the forthcoming week and let you know about the results.

[2021-04-03 17:36] bhack commented on #48265
You find a definition in https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint?hl=es-419#used-in-the-notebooks_1

[2021-04-03 18:58] ktybery commented on #37748
I solved the issue through setting the BAZEL_SH environment variable, restarting the pc and running the cmd with Administrator rights.

[2021-04-03 19:50] SebastianThomas1 commented on #48026
Just a quick note: I provided a pull request (#48168), but I do not know how to link this issue to the pull request.

[2021-04-03 22:02] SidharthArya commented on #47901
@ymodak  i am having some issues while implementing convND on python. Particularly in the convert_data_format function. Is there some generalized way to add more dimensions to the data_format?

https://github.com/tensorflow/tensorflow/blob/9e3c906aca96739cc263fa1bc9671252fe084c9d/tensorflow/python/keras/utils/conv_utils.py#L27-L47

[2021-04-04 01:04] rrklearn2020 opened #48295 "Do TensorFlow probability (TFP) layers have a similar class like `tf.keras.layers.Layer` , if yes please share."
**System information**
- TensorFlow version (you are using): 2.4 (binary)

**Describe the feature and the current behavior/state.**
`tf.keras.layers.Layer` -> class from which all layers inherit.

Do TensorFlow probability (TFP) layers have a similar class, if yes please share.

**Who will benefit from this feature?**
Users of TFP who would like to inherit the base class and add their own layers.

[2021-04-04 01:15] #48265 closed

[2021-04-04 01:53] y-ich opened #48296 "Core ML delegate for TensorFlow Lite does not run examples/lite/examples/image_classification/ios on Neural Engine."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, according

[2021-04-04 02:18] #47782 closed

[2021-04-04 02:23] abattery commented on #48296
Could you take a look at this @lintian06 @yyoon

[2021-04-04 04:04] #48264 closed

[2021-04-04 04:10] TropicalTsunami commented on #48264
resolved. I was missing MSYS2.

Suggestions:

1) On https://www.tensorflow.org/install/source link to the instructions for windows. I was following the instructions on the URL linked before which gives the impression as the same steps apply to windows, just that windows is not actively supported. Despite that there is a guide for windows: https://www.tensorflow.org/install/source_windows
2) Print

[2021-04-04 06:00] bondhugula commented on #41405
I see the same issue when using vim YCM completion as of tensorflow git 108aa90714c8369a2392fba43fa62c2d0cec523a:
[code]
In particular, `third_party/eigen3/Eigen/Core` has:
[code]
This doesn't make sense(?) - it's a recursive include and it's anyway missing a header guard. At the very least, it's missing a comment on the intention.

[2021-04-04 06:49] Rufaidah44 commented on #38233
can you explain how to change from list to tuple?

[2021-04-04 08:43] Yannik1337 opened #48297 "Add option to reset a tf.data.Iterator / tf.distribute.DistributedIterator"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
We can iterate over a `tf.data.dataset` using `for element in datasetA:`. This automatically "restarts" if we run this for multiple epochs, as seen in this code:
[code]
When using an iterator `iterB = iter(datasetB)` we can ex

[2021-04-04 08:53] gqqnbig opened #48298 "Sample or example?"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/TextVectorization

## Description of issue (what needs changing):

### Clear description

Lots of the description use the word _sample_. However, [Google Machine Learning Glossary](https://developers.google.com/machine-learning/glossary) does not have an entry of _sample_. It does have

[2021-04-04 09:31] MattdaVill commented on #29877
Hello everyone, I am having some troubles trying to import data into a TFX pipeline, if anyone can point me in the right direction I'd really appreciate it. I have a 3D Ragged (or Sparse if need be) Tensor, where each 2D slice is an example which I'd like to feed into my pipeline. Each 2D tensor is composed of a variable number or rows, but they collectively form one example, not just a batch of e

[2021-04-04 10:19] innat commented on #48103
@fsx950223

After removing the

[code]

the problem is gone. Now, the official implementation of an efficient net gives reasonable validation results. Will it be fixed soon?

[2021-04-04 12:09] talhaanwarch commented on #48205
@amahendrakar  is there any update regarding this

[2021-04-04 13:07] israelwei commented on #48212
I think I've found the issue- it's related to the way I loaded the weights with the relevant flags.
Previously I loaded the weights like this:
[code]
Apparently the weights weren't loaded properly, and no warning or error was raised.
I changed it to:
[code]
And now the inference values make sense for the QAT model both in probabilities and bounding boxes dimensions.

[2021-04-04 14:56] jensmeder commented on #43141
@Xeratec @Mjonir @DominikStachura I have stumbled upon the same issue with TF 2.4.1 but have found a solution/workaround that might help you as well. I have replaced all 1D operations such as Conv1D or MaxPooling1D with their equivalent 2D counterpart. The process is straightforward:

- Replace the 1D operations with their 2D counterpart
- Adjust the input shape for your network
- Adjust the `kern

[2021-04-04 15:48] janosh commented on #45214
I agree with @stas00, the default log level should not be `INFO`.

[2021-04-04 18:02] AdityaKane2001 commented on #48292
@Javadcs
This is a great idea with the perspective that TensorFlow can incorporate things without any constraints. Unfortunately, this is not the case, actually far from it. Reason is (sort of) simple - Graph mode and associated things. Models and Layers in TensorFlow usually work with Graph mode on, which means that they need to be traced before execution. Now, we cannot trace non-TensorFlow cons

[2021-04-04 18:09] AdityaKane2001 commented on #48297
@Yannik1337
Please take a look at [this](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#zip).

[2021-04-04 18:18] AdityaKane2001 commented on #48256
@KaterinaBao
You can have the model train on same number of samples. Thus, as per your example, you will be able to train on 50 examples only. The reason being, that on each step, your model requires a batch of data for *all* the inputs, and not only one of them. Thus, it is not possible to train on different sized datasets that go into a single model.
Hope this helps.

[2021-04-04 18:18] #47913 closed

[2021-04-04 18:18] #47946 closed

[2021-04-04 21:34] foxik commented on #45403
Thanks @pedro-r-marques for implementing those:
- https://github.com/tensorflow/tensorflow/pull/45015
- https://github.com/tensorflow/tensorflow/pull/45060
- https://github.com/tensorflow/tensorflow/pull/46875
- https://github.com/tensorflow/tensorflow/pull/46876
- https://github.com/tensorflow/tensorflow/pull/46878
- https://github.com/tensorflow/tensorflow/pull/47045
- https://github.com/tensorf

[2021-04-04 22:22] ideepankarsharma2003 commented on #48034
It's done thanks guys

[2021-04-04 22:30] DolanDack commented on #44936
Some people here say about CPU bottleneck. That is not the case imo.

I had performance issues since I replaced my 1080ti with a 3090, keeping CPU the same i7-8700K.

Following this post: https://github.com/tensorflow/tensorflow/issues/47875
I ran the script that the user had posted and I got almost the same times. So indeed it is a performance issue.

I also ran the results using CUDA 11.0, 11.1,

[2021-04-05 04:38] jaytoone opened #48299 "boringssl error : invalid use of incomplete type 'BIO'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2021-04-05 05:08] Humza1996 commented on #48190
@rjpower @gbaned Please check this [comment](https://github.com/tensorflow/tensorflow/issues/48190#issuecomment-812831324)

[2021-04-05 05:08] AndrewTheReese opened #48300 "TypeError: '>' not supported between instances of 'NoneType' and 'float'"
System Information

- Running in Google Collab
- Python 3.7
- TensorFlow Version: 2.1.0
- Keras Version: 2.3.0
- Notebook is set to run on GPU
![P1](https://user-images.githubusercontent.com/71000110/113538851-85aa5680-9599-11eb-8dfd-e8075f1d0612.PNG)

When I attempted to run the code above I got this error message:

![P2](https://user-images.githubusercontent.com/71000110/113538936-bee2c680-9599-

[2021-04-05 05:11] Saduf2019 commented on #48300
@AndrewTheReese
Please share simple stand alone code such that we can replicate the issue reported or a colab gist with the error, the snapshots shared do not help is searching the issue.

[2021-04-05 05:13] zzj0402 commented on #43947
Which configuration?

[2021-04-05 05:57] Saduf2019 commented on #48103
I am able to run the code on tf 2.4 but throws error on nightly, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/1dcbc895897a50056f5882493622cf2d/untitled582.ipynb).
Thanks!

[2021-04-05 06:03] Saduf2019 commented on #48267
@vanshika-653
We see that you are using an old version of TensorFlow for which there is no support, can you please upgrade to 2.x [2.4] and let us know if you till face the issue reported.
You may refer to few old issues with same error: #22512, [link](https://github.com/tensorflow/tensorflow/issues/7529), [link1](https://github.com/tensorflow/tensorflow/issues/40668#issuecomment-647885727)

[2021-04-05 06:10] Saduf2019 commented on #48242
@o0stsou0o
Can you please refer to this isue with same error and let us know if it helps: #36945, [link](https://github.com/tensorflow/tensorflow/issues/5141), [link](https://stackoverflow.com/questions/35989572/importerror-dlopen-symbol-not-found-pycodecinfo-getincrementaldecoder)

[2021-04-05 07:18] #47903 closed

[2021-04-05 07:34] Yannik1337 commented on #48297
@AdityaKane2001 Thanks for this link, I used the `.zip()` method to zip the two datasets like this:
[code]

However, as is stated in the documentation, this will only contain as many pairs as there are elements in the shorter dataset

I am looking for a way to restart the iteration over the shorter dataset, e.g. when we have element `5` from `datasetA`, we take `11` from `datasetB` (which is its f

[2021-04-05 07:55] #48275 closed

[2021-04-05 07:59] noumanaziz7241 commented on #35909
@Jerrrrykun can you explain how to set the AWS access key. I also have the same problem with my code i.e.
OSError: SavedModel file does not exist at: checkpoints/Test_UCSDped2_Model.h5/{saved_model.pbtxt|saved_model.pb}

[2021-04-05 08:01] bondhugula opened #48301 "tensorflow MLIR binaries build fails due to missing dependency declarations"
With the TF git version `a83625aff5add82a150b41922ff99ad0f27fbb35` (as of Apr 5), MLIR binaries fail to build:

$ bazel build  --config=monolithic --config=noaws  --copt=-UNDEBUG --linkopt='-fuse-ld=lld'  tensorflow/compiler/mlir:all

ERROR: /home/uday/tensorflow-upstream/tensorflow/compiler/mlir/hlo/BUILD:496:11: undeclared inclusion(s) in rule '//tensorflow/compiler/mlir/hlo:hlo_dialect_registra

[2021-04-05 08:18] #47912 closed

[2021-04-05 08:23] AdityaKane2001 commented on #48297
@Yannik1337
Please see [repeat](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#repeat) in `tf.data.dataset`

[2021-04-05 08:33] bondhugula opened #48302 "MHLO to LMHLO function signature conversion: missing output argument and stale comments"
With the tensorflow git HEAD at the current master tip a83625aff5add82a150b41922ff99ad0f27fbb35 (Apr 5, 2021), I see the following issues: most of them appear are be due to stale code and an incomplete update post migration to new utilities.

INPUT
[code]

OUTPUT
[code]
The tensor being returned has been copied into the wrong memref, and the signature hasn't been converted. Looks like there are as

[2021-04-05 08:38] bondhugula commented on #48301
This initially looked different to the one at  https://github.com/tensorflow/tensorflow/issues/48004 - but I realized this was due to  bazel disk cache staleness at my end.

[2021-04-05 08:38] #48301 closed

[2021-04-05 09:08] Saduf2019 commented on #48280
@xxl4tomxu98
Can you please refer to this link and move this to closed status as this is more apt to pen this issue on the mentioned repo.

[2021-04-05 09:43] amahendrakar commented on #48235
@bjkomer,
Looks like the error was caused because of using the same loss function `loss = tf.keras.losses.BinaryCrossentropy()` for both `loss` and `metrics`.

On adding the metric function `metric = tf.keras.metrics.BinaryCrossentropy()`, I was able to run the code without any issues.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/226883d6d57c84caf98c7df91d

[2021-04-05 09:50] innat commented on #48103
@Saduf2019 sorry for the inconvenience. I was about to share working colab but in the meantime, I also tried one thing and this time everything was OK. The things are what @fsx950223 suggested to remove the following operation for the official efficientnet.

[code]

[2021-04-05 10:00] amahendrakar commented on #48238
@ymodak,
I was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3643d3263bf159df41177abd2ac1aff3/48238.ipynb). Thanks!

[2021-04-05 10:20] LeKristapino commented on #43947
@Arcturai Possibly your configuration wasn't loaded. And after PC restart or running something you triggered library reload.

For future ref: if you check paths in LD_LIBRARY_PATH and check that files that are not found indeed exists in those paths, try running `ldconfig` and then run tensorflow again. Might be that they are not loaded

[2021-04-05 10:40] annezhangxue commented on #46515
I have observed the same phenomenon, with tensorflow2.0 GPU, I can run the same RNN program 300 seconds, but with tensorflow 2.4 GPU, the same code takes 30 minutes to run, such a huge difference. Therefore unfortunately I have to downgrade 2.4 to 2.0 again

[2021-04-05 11:30] yongwww commented on #41061
`pip install 'numpy<1.19.0'` works for me

[2021-04-05 12:07] amahendrakar commented on #48256
@KaterinaBao,
Please take a look at @AdityaKane2001's comment and check if it helps.

Also, this question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is a larger community that reads questions there. Thanks!

[2021-04-05 12:18] #47944 closed

[2021-04-05 12:26] #46499 closed

[2021-04-05 13:14] Yannik1337 commented on #48297
This solved my request, thanks @AdityaKane2001 for helping me out!

[2021-04-05 13:14] #48297 closed

[2021-04-05 13:22] KaterinaBao commented on #48256
Thank, that information really useful

[2021-04-05 13:22] KaterinaBao commented on #48256
Yes, that's helpful. Thanks

[2021-04-05 13:25] airman00 commented on #47978
Hi @thaink , thanks for the reply

I tried that but it's missing all the headers that I need

Here is the headers from the TensorFlowLiteCMetal_Framework:
![image](https://user-images.githubusercontent.com/2061485/113578377-b7024100-95f0-11eb-9ce6-73e7174a5a6a.png)

You can see all the headers that I'd like to have that are included in the gpu_experimental pod

Any ideas on what to try next?

[2021-04-05 13:25] aliamiri1380 commented on #33255
it's because of loading a large file. I have the same problem but when I truncate my file error disappears

[2021-04-05 13:26] 1165628028 opened #48305 "OperatorNotAllowedInGraphError"
- TensorFlow version :2.4.0(gpu)

I am a beginner to tensorflow, when I run the following code,it report error:     OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.

[code]

I don't know what's wrong in code， how can i solve it?

[2021-04-05 13:29] ekremcet opened #48306 "TFLite: Manipulating the hardware accelerators is not allowed in the Task library currently. Only CPU is allowed"
Hello,

I am trying to run the image classification code [here](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android). It works fine until I switch to the NNAPI option in the device. When I do that it throws the following error:
[code]

I am using Xiaomi Mi 11 as the test device (Snapdragon 888, Adreno 660) with the latest updates. Could you please help me

[2021-04-05 13:30] pedro-r-marques commented on #45403
@foxik I believe it would make sense to close this issue. Other, less common metrics, can be added on demand when the need arises.

[2021-04-05 13:31] 1165628028 commented on #48305
Error track：
[code]

[2021-04-05 13:34] yakovdan opened #48307 "TfLite Interpreter fails to execute quantized model, succeeds on non-quantized"
**System information**

- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): Nightly: 2.6.0-dev20210402. installed using pip install tf-nightly
- Python

[2021-04-05 13:59] abattery commented on #48306
@lintian06 could you triage this issue?

[2021-04-05 14:00] abattery commented on #48307
@xhae could you triage this issue?

[2021-04-05 14:04] haimat opened #48308 "Keras loss is stuck at the very same value during training after the first epoch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary via Python pip
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: Python 3.8.5
- CUDA/cuDNN version

[2021-04-05 14:12] avivajpeyi opened #48309 "Documentation for loading `Estimator` and using it to `predict`"
Documentation and examples describing how to use a trained estimator to make predictions exist ([ref:boosted_trees_model_understanding](https://www.tensorflow.org/tutorials/estimator/boosted_trees_model_understanding)).

Similarly, there are examples on how to save a trained estimator ([ref](https://www.tensorflow.org/guide/estimator))

However, there is a dearth of examples/documentation on how t

[2021-04-05 14:21] bjkomer commented on #48235
Thanks! Using that separate metric function made it work for me as well.

Interestingly I also noticed it seems to run fine using the same loss function for both `loss` and `metrics` if it is a custom loss function. For example:

[code]

[2021-04-05 15:00] #41851 closed

[2021-04-05 15:00] #45895 closed

[2021-04-05 15:07] haimat commented on #48308
Sorry, I found the issue.
Problem was the scheduler, it seems I have miss-used it.

[2021-04-05 15:07] #48308 closed

[2021-04-05 15:08] Suraj1199 opened #48311 ""A simple graph image" in "Introduction to graphs and tf.function" at TF guides not loading in Safari Browser."
## URL(s) with the issue:
https://www.tensorflow.org/guide/intro_to_graphs

Link to the documentation entry:
https://github.com/tensorflow/docs/blob/master/site/en/guide/intro_to_graphs.ipynb

## Description of issue (what needs changing):

"A simple graph image" in ["Introduction to graphs and tf.function"](https://www.tensorflow.org/guide/intro_to_graphs) not loading in Safari Browser.

![screen

[2021-04-05 15:10] NEBOLISA commented on #34992
I have a model of input type float 32 how can I convert bitmap to bytebuffer for such type of model. Cos I used the convertBitmapToByteBuffer method I got from here but it is giving an arrayoutofindexbound error. So I noticed that the input type for my model (flaot32) differed from most model input types(int)

[2021-04-05 15:18] Suraj1199 commented on #48311
Here's my PR (https://github.com/tensorflow/docs/pull/1871)

[2021-04-05 15:20] amahendrakar commented on #48268
@ymodak,
Code runs fine on [CPU](https://colab.research.google.com/gist/amahendrakar/95e7c982f80b8548155d75534a45639b/48268-cpu.ipynb) and [GPU](https://colab.research.google.com/gist/amahendrakar/eb47427b62617f22ba852bc1f491c711/48268-gpu.ipynb). Whereas using TPUs, I was able to reproduce the error.

 With [TF v2.4 + TPU](https://colab.research.google.com/gist/amahendrakar/f2563c8ff45afdd3dfb625

[2021-04-05 15:24] ebursztein opened #48312 "Custom layer failed import message is not clear"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 / Linux etc...
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.6.7
- CUDA/cuDNN version: 11
- GPU model and memory:  RTX 3090

**D

[2021-04-05 15:26] rjpower commented on #48190
I'm not sure, this looks TF-Lite specific, so perhaps someone from that team can chime in.

My guess for why the performance is different: by sleeping between inferences, you are letting the CPU state drop back to idle. When the inference request starts, the task then has to wake up before it can run the inference. So this is giving you an idea of how much time the model takes if it is starting "c

[2021-04-05 15:41] AdityaKane2001 commented on #48256
Requesting to close the issue if the query is resolved.

[2021-04-05 15:45] mbalayil commented on #48234
When the Jupyter notebooks are rendered as HTML, for python code, `lang-python` CSS class is used for the `<pre>` block instead of `lang-py`. The `prettify` library used at https://www.tensorflow.org/tutorials understands python code as `lang-py` (https://github.com/tensorflow/docs/blob/master/tools/tensorflow_docs/api_generator/parser.py#L503 - `lang-py` is used correctly when generating API docu

[2021-04-05 16:26] amahendrakar commented on #48288
@Ethylbenzol,
Could you please provide a minimal code snippet to reproduce the issue reported here or share the link of the example.

Also, please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-05 16:32] jvishnuvardhan commented on #48295
@rrklearn2020 [Here](https://github.com/tensorflow/probability/tree/master/tensorflow_probability/python/layers) are the layers in `tfp`. Thanks!

Please post `TFP` related issues in [`TFP` repository](https://github.com/tensorflow/probability/issues) so that `TFP` experts will respond and resolve issues. Thanks!

[2021-04-05 16:42] jvishnuvardhan commented on #45259
@rschumi0 I am closing this issue as the related PR https://github.com/tensorflow/tensorflow/pull/48250 got merged. Thanks!

[2021-04-05 16:42] #45259 closed

[2021-04-05 16:43] miaowang14 commented on #48081
@aki65 , from the logcat, it does show that the model is running on the qti-dsp driver.

However, there are lots of error messages and selinux denial related to the driver, which indicates that there might be something wrong with the driver configuration. I'll forward the issue to our partner at Qualcomm and ask them to take a look.

[2021-04-05 16:47] srjoglekar246 commented on #48190
CC'ing @multiverse-tf who might know more.

[2021-04-05 16:47] Xhark commented on #48307
I tested tflites on linux colab, it seems just working but bad result on full-integer. (maybe due to small calibration data?)
I guess this bug is only happens on win10, I'll take a look.

[2021-04-05 16:48] miaowang14 commented on #48081
Also, if you could get root permission through "adb root", could you try "adb shell setenforce 0" to set SELinux to permissive mode and see if the performance get back to normal?

[2021-04-05 16:55] silvasean commented on #48302
@sherhut who is more in touch with the mhlo->lmhlo legalization path.

[2021-04-05 17:24] NoraAl opened #48313 "Training Operations Dependencies"
**System information**
- TensorFlow version: 2.4.1
- Are you willing to contribute it (Yes/No): Yes when published

**Description**
I am trying to add a feature that enhances the optimization performance and it can be done in two ways:
1. Creating custom optimizers: by inheriting  [optimizer_v2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/optimizer_v2/optimizer_v2.

[2021-04-05 17:35] Lucy20211 commented on #48290
Hi @iteachmachines, thanks for your response, but unfortunately I had problems even by using a previous version.

[2021-04-05 17:38] jvishnuvardhan commented on #48309
@avivajpeyi The [guide](https://www.tensorflow.org/guide/estimator#savedmodels_from_estimators) you referenced above also shows how to load an estimator and run predictions.

[code]

If you think you want to update the guides, please feel free to raise a PR to update those guides. Thanks!

[2021-04-05 17:39] avroshk commented on #32180
Love the signature runner API! I noticed that when I convert a `concrete_function` instead of a `saved_model` to tflite using `tf.lite.TFLiteConverter.from_concrete_functions()` the signature def is missing from the model after I load it into the interpreter. Is this behaviour by design or am I missing something during the conversion (for example, some attributes that I need to add to the concrete

[2021-04-05 17:45] nanhyang9 commented on #48147
I got the same error message when I ran the code from Tensorflow container, which I built with the "tensorflow/tensorflow:latest-gpu-jupyter" image.

[2021-04-05 17:49] n9hal commented on #45373
I have the same problem while importing. alongside this  whilie converting  my model
tflite_model = converter.convert()

I am getting below warning.

WARNING:absl:Found untraced functions such as lstm_cell_layer_call_fn, lstm_cell_layer_call_and_return_conditional_losses, lstm_cell_layer_call_fn, lstm_cell_layer_call_and_return_conditional_losses, lstm_cell_layer_call_and_return_conditional_losses

[2021-04-05 17:50] Saduf2019 commented on #48311
This issue will be closed once the pr is merged.

[2021-04-05 17:52] Saduf2019 commented on #48299
@jaytoone
Can you please try on virtual env and let us know.

[2021-04-05 18:18] #47761 closed

[2021-04-05 18:18] #47636 closed

[2021-04-05 18:26] ymodak commented on #48290
Did you try converting your model with Conv1D layer into TF Lite format?
See [example](https://github.com/tensorflow/tensorflow/issues/39823) where user could successfully convert it into tflite.

[2021-04-05 18:34] lamberta commented on #48311
Thanks. The fix is merged and should be reflected on tf.org after the next publishing run

[2021-04-05 18:36] MarkDaoust commented on #48298
Yes. "Example" would be a slightly better fit. "Sample" is used in the sense "sample from a probability distribution", we often think of datasets as sample from a distribution, and an example is a sample of size 1.

If you send a PR I'll approve it.

[2021-04-05 18:43] Lucy20211 commented on #48290
Thanks @ymodak for your reply. If I don't use @tf.function decorator, I can convert my model into TF Lite format; if I do, it apperas the ValueError error. Maybe should I try to download the TF-nightly version to solve this error?

[2021-04-05 19:00] amahendrakar commented on #48279
@antonaldo,
I did not face the NaN loss issue on running the code for 100 epochs. Please check the attached screenshot for reference.
![Screenshot 2021-04-06 12 26 26 AM](https://user-images.githubusercontent.com/57165142/113613608-17d05e80-966f-11eb-8545-0dd039f0f9ae.png)

[2021-04-05 19:01] amahendrakar commented on #48279
Also, looks like TensorFlow failed to detect the GPU on your machine. Could you please share the output of the below code with us?

[code]

Thanks!

[2021-04-05 19:08] amahendrakar commented on #48289
@lshug,
I did not face any warnings while running the code with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/36dc1a339008e4ec6d8b60d4d252d2be/48289.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/a5c77d368133c0c9a1570c9a2f361c47/48289-tf-nightly.ipynb). Please check the linked gist for reference.

Please try running the code in a new virtual environment

[2021-04-05 19:21] amahendrakar commented on #48183
@freddan80,
Looks like PR [#48184](https://github.com/tensorflow/tensorflow/pull/48184) has been merged successfully.

Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2021-04-05 19:28] amahendrakar commented on #48221
Also, please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same error. Thanks!

[2021-04-05 19:32] rschiewer commented on #31312
Any updates on this issue? I implemented a large and complex network inheriting from keras.Model, so of course it uses the builtin fit method. After some testing, I wanted to scale my experiments up and it looks like this is absolutely impossible with this bug. I'll try to go for the training loop from scratch solution, but I'm somewhat suprised that this issue still seems to persist in tf version

[2021-04-05 19:35] numpde commented on #44403
I'm having a similar issue. [This code](https://github.com/tensorflow/tensorflow/issues/44403#issuecomment-718570017) indeed produces the error message.

Python 3.8.5; tensorflow-cpu==2.4.1

[2021-04-05 19:36] amahendrakar commented on #48119
@rmothukuru,
I was able to reproduce the issue with TF v2.4, TF v2.5.0rc0 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/55466ea74b2fc652dced96fbde778ca4/48119.ipynb). Thanks!

[2021-04-05 19:39] DocGarbanzo commented on #33303
I'm seeing the same thing in TF 2.2.0: output 1, 2, 3 is returned as 1, 3, 2.

[2021-04-05 19:45] yhidaka opened #48314 "substantial overhead in tf.GradientTape.jacobian?"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-04-05 19:54] scarrazza commented on #40006
@saxenasaurabh @allenlavoie @mdanatg thank you for the suggestions and references. Let me just share a couple of comments about my current application layout in order to understand if the approaches you are proposing are the best for my specific test case.

I have to deal with custom operations of large tensors with usually `size=2^35` tf.complex128 elements. So far, in order to avoid copies, I am

[2021-04-05 20:02] lshug commented on #48289
@amahendrakar I think the issue is not being reproduced on your TF-nightly colab because it's using python 3.7. I encountered this issue on python 3.9. [Here's a colab reproducing the issue](https://colab.research.google.com/drive/1h4AoNcJz7uVHgUQrppl7bL1r5l1AXdy8?usp=sharing).

As for suppressing the warning, I'm already avoiding it altogether by selectively not converting functions that contain

[2021-04-05 20:10] rrrokhtar commented on #11034
Shouldn't it be closed?

[2021-04-05 20:25] lifepeer commented on #40967
Still the same issue present. Any idea what causes this? I've followed the official install guide to the point.

[2021-04-05 20:27] andregarcia opened #48316 "Error validating data cardinality when fitting the model"
**System information**
- I am writing code to create models using tensorflow
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version 2.4.1
- Python version: 3.7.4
- CUDA/cuDNN version: not installed
- GPU model and memory: GeForce 940MX (256MB)

System information extracted from tf_env_collect.sh
[tf_env.txt](https://github.com/tensorflow/tensorfl

[2021-04-05 20:46] danialmirza commented on #40070
Same issue as @kevinashaw with tf 2.4.1 - does anyone have a solution?

[2021-04-05 20:58] yongtang commented on #11034
I think this issue can be closed as the functionality can be easily achieved at the python level.

[2021-04-05 20:58] #11034 closed

[2021-04-05 21:01] antonaldo commented on #48279
@amahendrakar

Thanks for looking into this. Please let me clarify the example and the issue.

Idea of the example was to reproduce this error message in a simple way:

This example is related to the allreduce error observed. It is a very simplified example, so I am not sure if it will go into NaN-loss.
Can you reproduce the error message related to allreduce with the example?
GPU was turned off o

[2021-04-05 21:14] allenlavoie commented on #40006
So the idea with TensorArray is that you'd have N chunks of size M (N*M ~= 2^35), and only a small number of the N chunks would be updated? If so it sounds plausible that it could work; every time backprop keeps a "copy" of the TensorList it'll make an O(N) copy of the list of chunks, but the data in the chunks themselves should be shared (since they're refcounted Tensors).

Even if TensorList doe

[2021-04-05 21:17] petewarden commented on #48202
Assigning to myself, though I haven't had a chance to investigate this yet.

[2021-04-05 21:31] jvishnuvardhan commented on #48191
@notsinkingtitanic AFAIK, there is no API that currently supports conversion of `model.summary()` to a model. I think it will be possible but as of now there is no effort to create it.

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and

[2021-04-05 21:31] #48191 closed

[2021-04-05 21:37] haozha111 commented on #47804
Hi, we currently don't have plans to optimize the unfused quadratic complexity issue. Are you able to use fused LSTM in tflite instead?

https://groups.google.com/a/tensorflow.org/g/tflite/c/Ub4apUvblN8

[2021-04-05 22:44] foxik commented on #45403
@pedro-r-marques Thanks, closing.

[2021-04-05 22:44] #45403 closed

[2021-04-05 23:00] aki65 commented on #48081
@miaowang14, I don't have root access, so I can't try permissive mode.

[2021-04-05 23:13] thaink commented on #47978
Those headers are for C++. Would you like to use C++ for iOS?
Currently, we only export C API for iOS since it can be imported in swift directly.

[2021-04-05 23:16] thaink commented on #47978
As above reason, TensorFlowLiteGPUExperimental was deprecated long ago.

Our current recommendation as as in https://www.tensorflow.org/lite/performance/gpu#ios_with_xcode

[2021-04-06 00:24] abattery commented on #32180
@avroshk Thanks for your comment! Could you file another issue separately for the concrete function's signature def support? This can be a good one for the feature request. :-)

[2021-04-06 00:33] karimnosseir commented on #32180
Currently the Signature is supported through saved model. As Jaesung said please file another issue for a feature request.

Thanks

[2021-04-06 01:11] thaink commented on #48018
The feature is added at commit be1238ceddf16e5668547b0702228a5b1aed2527. you can try to convert it with tomorrow's nightly.

[2021-04-06 01:20] lu-wang-g commented on #48306
The Java API doesn't support acceleration yet, but we are working actively to enable it. Please stay tuned.

[2021-04-06 01:32] o0stsou0o commented on #36945
Hi Nicholas,

I am running OSX 10.11.6 El Capitan and trying to upgrade my tensorflow 2.0.0 to tensorflow 2.3.1.

When I try pip3 installing tensorflow in a virtual environment, I can't even import tensorflow.   I have to conda install tensorflow.  And when I try upgrading to tensorflow 2.3.1 after conda installing I get the error if I try importing:

File "/Users/blah/anaconda3/envs/test2/lib/pyt

[2021-04-06 01:35] duhaime commented on #47311
One can evoke this error by running the following in a Colab notebook with a GPU runtime:

[code]

(The above is from @fchollet's [delightful guide to visualizing convnet filters](https://blog.keras.io/how-convolutional-neural-networks-see-the-world.html).)

[2021-04-06 01:44] o0stsou0o commented on #48242
Hi Saduf2019,

I don't think any of the links are helpful though I did post to the first link.  I will add that the version of OSX I am using is 10.11.6 El Capitan.  Thanks.

[2021-04-06 01:56] NeoZhangJianyu commented on #34924
@refraction-ray
Though Eigen supports mkl (https://eigen.tuxfamily.org/dox/TopicUsingIntelMKL.html), it not available through Tensorflow.

[2021-04-06 02:03] Mullich123 opened #48317 "MultiWorkerMirroredStrategy how to use GPU and something about datashard"
1.When I used MultiWorkerMirroredStrategy to train my model,it works normally but didn't use GPUs,so I supposed if I omit something about the config of GPUs of the Strategy.
2.I wonder if the Strategy would do datashard automatically for me if I do nothing but just send dataset to 'model.fit' without
using tf.dataset?

[2021-04-06 02:28] avivajpeyi commented on #48309
Hey @jvishnuvardhan, thanks: this works to predict 1 sample. However, it is unclear from the example/documentation if this is how one is expected to get predictions for N samples.

Eg. in the [boosted_trees_model_understanding guide](https://www.tensorflow.org/tutorials/estimator/boosted_trees_model_understanding#visualizing_model_fitting), there is a predict function that takes an `Estimator` (`e

[2021-04-06 03:49] Suraj1199 commented on #48311
Thanks @lamberta for improving my PR. I was going to fix the lints and formatting later today but anyways you did it. @Saduf2019, the [PR](https://github.com/tensorflow/docs/pull/1872) for this issue has been merged, So it can be closed now.

[2021-04-06 04:03] Suraj1199 commented on #48311
yet the problem #48311 is still there.

[2021-04-06 04:39] greeshmapremaraj opened #48319 "tensorflow illegal instruction error"
hello,
when importing tensorflow i am getting an illegal instruction error.
mine is new model CPU ,but AVX instruction are missing?What should i do?plz help

[2021-04-06 04:45] chrisrapson commented on #44745
@fchollet can you please provide more information (or a link) on what will be different for "new" and "old" applications? And from what versions of keras and TF will the change occur? (Or has it already been released?) Will all pre-trained models from that point on expect input between [0,255], as opposed to previously expecting a range of [-1,1]? Will the expected data type still be float, or wil

[2021-04-06 04:52] #26495 closed

[2021-04-06 05:35] avroshk opened #48320 "Track SignatureDef in TFlite models built using lite.TFLiteConverter.from_concrete_functions()"
**System information**
- TensorFlow version (you are using): 2.5.0-rc0
- Are you willing to contribute it (Yes/No): Yes

**Description**
- TF2.5 introduces `get_signature_runner()` API which allows `tensorflow.lite.interpreter` to operate on the model using user provided input an output names.
- SignatureDef is captured in the tflite models in the conversion process using `tensorflow.lite.TFLiteCo

[2021-04-06 05:53] abattery commented on #48320
Thank you for filing this feature request :-) @karimnosseir @MeghnaNatraj

[2021-04-06 06:12] uzair-ali10 opened #48321 "Outdates or Broken Link in tensorflow/examples documentation"
While going through  TensorFlow/examples/CONTRIBUTING.md i found out some broken or outdated links in the docs I would like to fix it with the correct once, *please assign the issue to me*

[2021-04-06 06:22] WoutRuyters commented on #48038
Hi @amahendrakar,
I am can't find why your code keeps giving an error. I made a notebook in colab with working code which results in the error that I stated when opening this issue, you can find it [here](https://colab.research.google.com/drive/1t2Sd2KMO-2gP6bSQP7mBl5P0Xu28__-d?usp=sharing). Thanks!

[2021-04-06 06:31] xueyedamo521 commented on #48223
@Saduf2019

[2021-04-06 06:34] #48321 closed

[2021-04-06 06:36] uzair-ali10 commented on #48321
Fixed this issue with [this ](https://github.com/tensorflow/examples/pull/303) PR please review it and merge

[2021-04-06 06:36] xueyedamo521 opened #48322 "fake_quant_with_min_max_vars can only get five significant figures instead of six"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2021-04-06 06:43] ghylander commented on #47311
could not reproduce

https://colab.research.google.com/drive/1tSjH0ZlgT549pfUInaRmckZ_6mkHmIub?usp=sharing

executed with no errors

numpy: 1.19.5
tf: 2.4.3

[2021-04-06 06:52] #47934 closed

[2021-04-06 06:54] #48183 closed

[2021-04-06 07:16] fvollmer commented on #48282
Thanks! The only problem is that without the new quantizer there isn't support for ops like "ELU". So using the old quantizer is only a workaround for the toy example above. Any other ideas for a workaround to archive a quantized stateful lstm with tflite?

Example from above with an additional elu activation layer:
[code]

[2021-04-06 07:18] rmothukuru commented on #48178
@keyonvafa,
When trying to reproduce your code, I've encountered with the error:

[code]
 Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/ab554b889210447eeca8dbbc075d41d4/gh_48178.ipynb). Can you please help us reproduce the error? Thanks!

[2021-04-06 07:52] yakovdan commented on #48307
I've also verified the same behavior persists on Ubuntu 18.04 LTS running in docker 2.5.0.
I've run python tfliteInf.py full_quant.tflite trevi_small1.bmp and got

external/ruy/ruy/apply_multiplier.cc:52: RUY_CHECK_LE condition not satisfied:   [ shift <= 7 ]   with values   [ 108 <= 7 ].

again.

[2021-04-06 07:53] Saduf2019 commented on #48319
@greeshmapremaraj
Could you please create a new virtual environment and check if you are facing the same issue in that as well? [to check your AVx refer to [link](https://stackoverflow.com/questions/37480071/how-to-tell-if-a-linux-machine-supports-avx-avx2-instructions), [link1](https://www.quora.com/How-can-I-determine-if-my-CPU-supports-AVX-instructions#:~:text=If%20it%20doesn't%20trigger,to%20u

[2021-04-06 08:02] avroshk commented on #48068
Hi, I am trying out the custom C Lib using `tflite_custom_c_library`. Is there an example that might guide me to troubleshoot the custom c_api lib? Here's what I am trying on 2.5.0-rc0:

1.  Added the following to `tensorflow/lite/c/BUILD`
[code]
2. Ran `bazel build -c opt //tensorflow/lite/c:custom_tensorflowlite_c `
[code]
3. However, when I try to link `libcustom_tensorflowlite_c.so` I get the

[2021-04-06 08:06] hoangmt commented on #44777
Is this because tf 2.4 still bases on  libcusolver.so.10? With newer version of tf, this problem will go away?

[2021-04-06 08:17] thaink commented on #48068
@avroshk Can you try in `deps` field of `tensorflowlite_c` in tensorflow/lite/c/BUILD:
replace:
":c_api",
":c_api_experimental",
with
`: custom_tensorflowlite_c` ,
and build the tensorflowlite_c instead. Please remember to add build config for android if you are doing so.

[2021-04-06 08:39] Saduf2019 commented on #48223
@ymodak
I am able to replicate the issue reported please find the [gist here](https://colab.research.google.com/gist/Saduf2019/48b063c91a696b1d84da97d36d61eb3e/untitled583.ipynb).
Thanks!

[2021-04-06 08:43] rschiewer commented on #31312
Update: I used a combination of the workarounds recommended by @gabehope and @markodjordjic with success. I can use `model.fit()` with the following callback:

[code]

Memory leaks seem to be still present, but very minor. I can train my model now.

[2021-04-06 08:52] Mullich123 opened #48324 "MultiWorkerMirroredStrategy:Training is slow with 50 workers"
I am trying to use 50 workers to train my model and made it.However,training is very slow.I'd like to know if there are some tips to
improve the performance in terms of reducing training time.I would appreciate it if you could give me some advice.

[2021-04-06 08:53] avroshk commented on #48068
Thank you! That did it. I am currently testing on linux. When built using my test model, libtensorflowlite_c.so file size dropped from 2.9M to to 351K

[2021-04-06 08:58] limdlh opened #48325 "tensorflow-2.4.1 crash by pthread_mutex_lock while enable Hexagon"
I enable Hexagon to run tensorflow-lite by ADB, it crash everytime. In ADB shell window, the error log is:
FORTIFY: pthread_mutex_lock called on a destroyed mutex (0x70d105cf70)
Aborted

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Android 9.0
- Mobile device (e.g

[2021-04-06 09:14] rmothukuru commented on #48287
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2021-04-06 09:23] Saduf2019 commented on #48305
@1165628028

Can you please upgrade to tf 2.5 and let us know if you face the error, you may also refer to below similar issues:

#45079, [link](https://stackoverflow.com/questions/62068323/iterating-over-tf-tensor-is-not-allowed-autograph-is-disabled-in-this-function)

[2021-04-06 09:26] Saduf2019 commented on #48322
@xueyedamo521
Closing this issue as duplicate of #48322, which is been worked upon.

[2021-04-06 09:34] abattery commented on #48325
@karimnosseir could you take a look?

[2021-04-06 09:39] Saduf2019 commented on #48195
@zoxoi
I ran the code but still face a differet error, Please find the [gist here](https://colab.research.google.com/gist/Saduf2019/46f92b2166217c75e27cc97a11ca15f8/untitled584.ipynb)

As per the error reported, can you refer to these links and let us know if it helps:[link](https://stackoverflow.com/questions/50162787/valueerror-shape-must-be-rank-2-but-is-rank-3-for-matmul)

[2021-04-06 09:41] Saduf2019 commented on #48322
@xueyedamo521
Please confirm if this is a duplicate of #48223 and move to close status if its a duplicate.

[2021-04-06 09:45] artzet-s commented on #48281
Hello @miaowang14 thanks again for you help,

Logcat results on my JSN-L21 (HONOR X8 - Octa Core Kirin 710 - ARM Mali-G51 MP4) :

With CPU :

`./label_image -m mobilenet_v2_1.0_224.tflite -i grace_hopper.bmp -l labels.txt -c 10 `

[code]

With NNAPI and float 16 :

`./label_image -m mobilenet_v2_1.0_224.tflite -i grace_hopper.bmp -l labels.txt -c 10 -a 1 -f 1`

[code]
With GPU :

`./label_image -m

[2021-04-06 09:50] patriklaurell commented on #45695
@dmpiergiacomo sorry for a late response. I have been on vacation over the easter week. I don't know if it is still relevant but I have the code for PR5 ready locally. I have not uploaded it since it depends on the changes in PR4 #47446.

[2021-04-06 10:00] Xhark commented on #48307
Thanks for your update!

From the TF docker images, tensorflow/tensorflow:2.4.1 has no problem but tensorflow/tensorflow:2.5.0rc0 has the problem what you mentioned. Maybe the changes between them causes the issue.

[2021-04-06 10:07] abattery commented on #48307
Could you try conversion with `converter.experimental_new_quantizer = False` on the tf 2.5.0rc0 version and find out how it goes? If true, the new quantizer might be the problem.

[2021-04-06 10:14] Saduf2019 commented on #48066
@Kewenjing1020
Please share all dependencies for us to replicate the issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/5c7073a8b1586100ef96a27ebf36a82e/untitled586.ipynb) or if possible share a colab gist with the issue reported.

[2021-04-06 10:17] khaled-alkilane opened #48326 "How can I train tensorflow model to take specific rows of historical training data in each training iteration that is related to current row?"
I have a buses dataset between stations with the entering time for each stop. Each row has information about the bus current station including (time entering this station, long/lat, date, and also the target station with its arrival time and distance(I add a sample of data below). What I want to do is to estimate the bus arrival time to any of the following station in the route. Since the data is

[2021-04-06 10:28] duhaime commented on #47311
@ghylander Thank you for your notebook link! I also cannot reproduce this problem this morning. My sole offering is a single [screenshot](https://postimg.cc/hhBrSrV1) from the notebook that originally triggered this issue yesterday. If this error springs again I will follow up...

[2021-04-06 10:29] PythonFZ commented on #47785
Thanks a lot! Adding `persistent=True` solved all the issues I had.

[2021-04-06 10:29] #47785 closed

[2021-04-06 11:14] xueyedamo521 commented on #48322
Yes, thanks for reply and wait for further solution.

[2021-04-06 11:14] #48322 closed

[2021-04-06 11:28] Saduf2019 commented on #48324
@Mullich123

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in the[ Github new issue te

[2021-04-06 11:30] Saduf2019 commented on #48228
@sandhyacs

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in the [Github new issue tem

[2021-04-06 11:45] sandhyacs commented on #48228
hi @Saduf2019
OS: Ubuntu 20.04
RAM:16 Gb
Tensorflow Version: 2.2.0 (CPU)
Install: pip install tensorflow

Command to get saved_model:

python object_detection/export_tflite_model_tf2.py \
    --pipeline_config_path path/to/ssd_model/pipeline.config \
    --trained_checkpoint_dir path/to/ssd_model/checkpoint \
    --output_directory path/to/exported_model_directory \
    --keypoint_label_map_path p

[2021-04-06 11:50] Prashant-Kesharwani opened #48327 "I am unable to install Tensorflow on my mac without Virtual Environment, how can I fix this"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-04-06 11:59] LucasStromberg commented on #47858
Hi again, I tried setting per_axis=True with the LastValueQuantizer for a small test network. However when doing this I get some shape-related issue I can't understand. per_axis=False works without any error.

I used the following code, where I define custom conv and dense quantizers with parameters set by the _get_QAT_model function.

[code]

Error output:

[code]

[2021-04-06 12:33] Saduf2019 commented on #48228
@sandhyacs
Please share code such that we can replicate your issue as requested before or a colab gist with the issue reported.

[2021-04-06 12:33] mao-jy opened #48328 "saved model error"
Following is my step:
1. turn bert-base-chinese to saved model
`
input_ids = tf.placeholder(shape=[None, 128], dtype=tf.int32, name="input_ids")
input_mask = tf.placeholder(shape=[None, 128], dtype=tf.int32, name="input_mask")
segment_ids = tf.placeholder(shape=[None, 128], dtype=tf.int32, name="segment_ids")

bert_config = modeling.BertConfig.from_json_file("chinese_L-12_H-768_A-12/bert_config.js

[2021-04-06 12:35] KacperKromka opened #48329 "model_main_tf2.py -> UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbf in position 142: invalid start byte"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): example script

[2021-04-06 12:39] asanc199 commented on #45044
Adding @king398 solved my Issue too on my GL65 with RTX2070 on Ubuntu 20.04

[2021-04-06 12:51] Saduf2019 commented on #48327
@Prashant-Kesharwani
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

You can check the following as well:

[2021-04-06 12:52] #47979 closed

[2021-04-06 12:52] #47863 closed

[2021-04-06 12:52] #24641 closed

[2021-04-06 14:00] sebastianschramm opened #48331 "Support for VersionId in s3 file system"
- TensorFlow version 2.4.1

Support **VersionId** argument in `s3_file_system` operations like reading (currently this is not supported by tensorflow even though it is supported by the underlying aws sdk).

I want to be able to load a model with a specific **VersionId** from a versioned AWS S3-bucket in **tf-serving**.

[2021-04-06 14:05] jensmeder commented on #48290
Conv1D will be converted to a combination of layers supported on TF Lite Micro including ExpandDims and Conv2D. Unfortunately, the ExpandDims layer is currently unsupported in TF Lite Micro so you have to use a workaround. See [my comment ](https://github.com/tensorflow/tensorflow/issues/43141#issuecomment-813046876)in #43141 for more details.

[2021-04-06 14:29] jvishnuvardhan commented on #47311
Please close this issue If this was resolved for you all with new `TF` version. Thanks!

[2021-04-06 14:49] prudhvirajboddu opened #48332 "Output shapes of then and else branches do not match (s64[1,64]) vs. (s64[64])"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-04-06 15:09] yakovdan commented on #48307
I tried conversion as instructed and got the following error during inference:
RuntimeError: tensorflow/lite/kernels/pad.cc:118 op_context.input->type != op_context.constant_values->type (INT8 != FLOAT32)Node number 6 (PADV2) failed to prepare.

This was previously solved by using the new quantizer.

[2021-04-06 15:31] taechanha commented on #40182
@dileepdanger
type **cd ~**

[2021-04-06 15:39] amahendrakar commented on #48317
@Mullich123,
Please take a look at the 'Multi-worker training with Keras' tutorial which has information regarding both [MultiWorkerMirroredStrategy](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#overview) and [dataset sharding](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#dataset_sharding), and let us know if it helps. Thanks!

[2021-04-06 15:43] amahendrakar commented on #48332
@prudhvirajboddu,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported here and also the dataset you are using. Thanks!

[2021-04-06 16:00] 1165628028 commented on #48305
Ok, i will try it. Thanks

[2021-04-06 16:12] lamberta commented on #48311
Looks like the file wasn't imported last night—though the job looks like it ran. cc @yashk2810

[2021-04-06 16:20] yashk2810 commented on #48311
Thanks for flagging. I am looking into it. Looks like there is a 48 hour lag which shouldn't happen.

[2021-04-06 16:25] bnavigator commented on #47691
This answer on StackOverflow has a solution for the often reported "Cannot convert a symbolic Tensor (gru/strided_slice:0) to a numpy array." Exception thrown by array_ops.py: https://stackoverflow.com/a/66486051

Perhaps you wnat take it into account when updating the compatibility with numpy 1.20

[2021-04-06 16:28] avroshk commented on #48068
@thaink One of my models uses one of select TF ops (FlexSelu). Is there a way to build the c_api lib with flex delegate but only include the required ops? I found a C++ example: https://www.tensorflow.org/lite/guide/ops_select#c

[2021-04-06 16:29] nfbalbontin opened #48333 "TFLite object detection model inference returns 0.0"
@tensorflow/micro

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Amazon Linux AMI
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Testing on computer with python

**Describe the problem**
After exporting a functional `saved_model.pb` to  a `model.tf

[2021-04-06 16:45] nfbalbontin commented on #48333
I think it's related to the **cut-off threshold** because when making inference with `saved_model.pb` most of the allocated bounding boxes had a score lower than 0.4. Is there a way to lower cut-off threshold directly on the `Interpreter`?

[2021-04-06 16:55] staticdev commented on #44485
@mihaimaruseac this is marked for TF 2.5 but there is no mention of it on the current [release notes](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md).

[2021-04-06 16:56] nfbalbontin commented on #48333
Indeed, the problem was the **cut-off threshold**. For fixing it, I edited the `pipeline.config` file when exporting to tflite graph. For this, I changed `matched_threshold` and `unmatched_threshold` on `argmarx_matcher` and `iou_threshold` on `post_processing`, on the `pipeline.config` file.
[code]

[2021-04-06 16:56] #48333 closed

[2021-04-06 17:04] nikitamaia commented on #48167
Adding the contributions welcome label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-04-06 17:08] nikitamaia commented on #47689
Adding the contributions welcome label to this issue for further investigation by the community. If you are interested in working on this issue, please leave a comment and I will assign it to you. Thanks!

[2021-04-06 17:11] niki-j commented on #40457
Is this resolved? A lot of people with such multi-label/multi-output problems seem to have raised this as a big (and unresolved) issue across many recent forums.

[2021-04-06 17:12] Dragon-GCS opened #48334 "some confuse about tf.shape(x) and x.shape"
When I learning the [document](https://tensorflow.google.cn/tutorials/text/transformer) about transformer, I meet some different about tf.shape(x) and x.shape
`tf.version == 2.3.0`
code:

[code]
the error when using `x.shape[1]` to replace `tf.shape(x)[1]`:
[code]
**it waste a lot of time to find it, who can explain the different betweent them, thanks**

[2021-04-06 17:12] jvishnuvardhan commented on #48242
@o0stsou0o I am not sure what is the root-cause but the best way to resolve this kind of issue is by removing `conda` and `Tensorflow` completely and re-install TF through `pip`. Unfortunately we don't support conda builds as we don't have any control on those builds. If your error is specific to Anaconda's TF, then post it in Anaconda repo so that some conda experts will resolve your issue faster

[2021-04-06 17:19] niki-j commented on #41448
Working with TF 2.4.1, same issue. Any resolution?

[2021-04-06 17:34] jvishnuvardhan commented on #43916
@loic-ehrhardt Based on error description, if you disable eager model by `tf.compat.v1.disable_eager_execution()` , then your code runs without an issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/2d956509d3dec4298d2c493b8df90966/untitled.ipynb). Thanks!

[2021-04-06 17:54] #48311 closed

[2021-04-06 18:06] srjoglekar246 commented on #40044
Sorry for the late reply on this :-(. @talumbau is looking into this, and has a plan forward. We were busy with some other bugs last quarter, but we have a TODO for it to land this quarter. Thanks for your patience!

[2021-04-06 18:34] Xhark commented on #48307
Hi @talumbau , It fails right after update ruy version here:  f779f42004d1873784cb2b4cb351d4b342ad0816
Would you please take a look?

[2021-04-06 18:46] #46754 closed

[2021-04-06 19:00] Saduf2019 commented on #48316
@andregarcia
After making few changes to the code it works fine, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/ac1f4db217da2280595e54cce9284dc2/untitled583.ipynb) and let us know.

[2021-04-06 19:14] reedwm commented on #47174
I think this is caused by https://github.com/tensorflow/tensorflow/issues/38185, so closing as a duplicate.

@duncanriach is working on making `tf.nn.softmax_cross_entropy_with_logits` deterministic.

[2021-04-06 19:28] andregarcia commented on #48316
Thank you very much @Saduf2019, it works.

[2021-04-06 19:35] dinkdeep opened #48338 "Unused variable body_arg_types in class PointwiseToLinalgConverter hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc"
File  hlo/lib/Dialect/mhlo/transforms/legalize_to_linalg.cc
Function : template <typename OpTy, bool isLHLO = true>
class PointwiseToLinalgConverter : public OpConversionPattern<OpTy> { }
----
 SmallVector<Type, 4> body_arg_types, body_result_types, op_result_types;
 ValueRange inputs(args.take_front(num_inputs));
 for (Value in : inputs)
      body_arg_types.emplace_back(getElementTypeOrSelf(in.g

[2021-04-06 19:39] keyonvafa commented on #48178
Thank you for looking into it. It looks like `absl` doesn't work well with Colab, so I have removed it and can reproduce the issue:

https://colab.research.google.com/gist/keyonvafa/cc3927fb7d9a0ea955e34219f605d4b8/gh_48178.ipynb

[2021-04-06 19:42] Xhark commented on #47193
Logic on fake quant try to make zero to be one of the quantized integer, so result should be close to zero.
But due to internal logic only saves nudged_min (map to min value) and scale, It can have small numerical errors.

I think it's not possible to have exact zero on GPU because usually CUDA ops are not deterministic.
(has random small errors)

We don't prioritize this kinds of small numeric er

[2021-04-06 19:44] amahendrakar commented on #47908
@ymodak,
I was able to reproduce the issue with TF v2.4.1, TF v2.5.0-rc0 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/734fce9c108fedd0ec88613986a9750e/47908.ipynb). Thanks!

[2021-04-06 19:52] #47764 closed

[2021-04-06 19:54] amahendrakar commented on #48071
Without a sample code it would be difficult for us to debug the issue. Hence, could you please provide a minimal code snippet to reproduce the issue or share the Python script/notebook you are running. Thanks!

[2021-04-06 19:54] #48316 closed

[2021-04-06 19:57] Xhark commented on #48212
Hi Would you please give me more context about how did you apply QAT? (code, how much step you train, etc...)
`x_scale` should changed during the training. (but depends on dataset)

Hi @daverim, do you have any context about TensorRT supports?

[2021-04-06 20:10] amahendrakar commented on #48017
@gg187on,
Any updates regarding this issue? Could you please share the error log so that we can look into it. Thanks!

[2021-04-06 20:16] nfbalbontin opened #48343 "TFLite Object Detection Inference Limit 10"
@tensorflow/micro

**System information**

- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Amazon Linux AMI
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 2.4.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Jupyter Notebook

**Describe the problem**
Trying to make detections over an image with a tflite model. It exe

[2021-04-06 20:18] amahendrakar commented on #48074
@janoslim,
Any updates regarding this?

I was able to run the code without any issues on the latest TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/7611451e11d1630196065645cd1c733d/48074.ipynb). Thanks!

[2021-04-06 21:38] specke commented on #48171
@saikumarchalla, my apologies for the delay. This is the record of what happens when I create a new virtual environment, install TensorFlow ver.2.3.1 onto it and try to run the commands above:
[tf_cuda_bug.log](https://github.com/tensorflow/tensorflow/files/6267680/tf_cuda_bug.log).

I did not try using TensorFlow ver,2.4 because it requires CUDA 11.0, which does not support Windows 7. I can try i

[2021-04-06 21:40] miaowang14 commented on #48281
It seems that NNAPI Delegate was not able to find any available accelerator backend on HONOR X8, and automatically fallback to TFLite CPU implementation.

To confirm that, you can do "adb shell lshal | grep neural" to see if there are anything showing up.

[2021-04-06 21:46] nfbalbontin commented on #48343
Solved it by adding `--max_detections` flag to the `export_tflite_graph_tf2.py`:
[code]

[2021-04-06 21:46] #48343 closed

[2021-04-06 22:16] abrarum commented on #16768
Reducing the batch_size helped me!

[2021-04-06 23:15] Mastiff37 commented on #48221
I'm working on getting updated.  I'll report back after I do.  Thanks.

[2021-04-06 23:16] jvishnuvardhan commented on #43745
@jeisinge When I update one line (Lambda layer), everything worked without any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/00813ad0f5980624a1d6d1f937fa6022/43745.ipynb)

line before

`ones_like_layer = keras.layers.Lambda(K.ones_like, name="ones_like")`

line after updating

`ones_like_layer = keras.layers.Lambda(lambda x:K.ones_like(x), name="ones_lik

[2021-04-06 23:20] thaink commented on #48068
You can follow https://www.tensorflow.org/lite/guide/reduce_binary_size and extract the so file for flex delegate in tensorflow-lite-select-tf-ops.aar

[2021-04-06 23:29] jvishnuvardhan commented on #39580
@tanguycdls I updated two lines in your code as shown below. With that modification, it worked without any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c0c8c9500cb5fbfd4e71915d577e9b99/untitled183.ipynb)

#### Two line before update
[code]

#### Two line after update
[code]

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-04-07 00:16] #27903 closed

[2021-04-07 00:34] jaytoone commented on #48299
with virtual env, I got below error
![virtualenv](https://user-images.githubusercontent.com/50652715/113793652-c6fe5a00-9783-11eb-896e-b232cf5169a3.png)

error log changed, but occurs in borringssl too
--------------- error head --------------------
/home/ubuntu/.cache/bazel/_bazel_root/d207b6c8dd83044074c0d1d7461cfde0/external/boringssl/BUILD:137:1: C++ compilation of rule '@boringssl//:ssl' fail

[2021-04-07 01:13] bjacob commented on #48307
The ruy revision bump in f779f42 contains one ruy commit likely to be the culprit here, namely:
https://github.com/google/ruy/commit/58e3051707b3a92dab0a72297183114a1d35f483

This commit has been rolled back in the ruy repository already, in
https://github.com/google/ruy/commit/b0e97e627db281e2f2d79ac84333a93452173ccd

And we have since further simplified and hardened this code in
https://github.c

[2021-04-07 01:22] o0stsou0o commented on #48242
Thank you so much.  I am hoping to install tensorflow 2.3.1 or above.  I've tried with pip.  Unfortunately, if you run pip install --upgrade tensorflow or pip install tensorflow, it installs tensorflow 1.8.0.  If you conda install tensorflow, it gives you tensorflow 2.0.0.  In both cases if you try installing tensorflow==2.3.2 it gives an error upon import tensorflow.  Would you know of what may b

[2021-04-07 01:59] limdlh opened #48349 "What is the diference between NNAPI, GPU and Hexagon delegates"
Could anyone describe the diference between NNAPI, NPU, GPU and Hexagon delegates?
Does it means NNAPI will use one delegate in NPU, GPU or Hexagon(DSP) according to device? If device only embedded GPU, NNAPI will use GPU; if device only embedded DSP, NNAPI will use DSP; and so on?
Or does NNAPI only use NPU delegate?

Thank you so much~

[2021-04-07 02:43] abattery commented on #48349
@srjoglekar246 @karimnosseir could you take a look at this question?

[2021-04-07 03:17] karimnosseir commented on #48325
Can you share more details about the device that you tried running the delegate on ?
What is the SoC on this device ?
Also, did you try running on another device ? Did you get the same behavior on different devices ?

I don't have this device, so i am trying to find a way to reproduce this, so that i can see what is going on.

Thanks

[2021-04-07 03:33] charmasaur opened #48350 "divide_no_nan gives nans for small complex values in non-singleton tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.2.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2.4.0

[2021-04-07 03:43] karimnosseir commented on #48349
These are different types of TFLite delegates.
I will try to explain below - and provide pointers. Please let me know if you have more questions.

* What is TFLite Delegate ?
TFLite delegates is a way to take part/all of the TFLite graph and execute it differently - in other words delegate the execution to something other than the default TFLite CPU kernels.

* Why use TFLite Delegates ?
Recently

[2021-04-07 04:19] mania25 commented on #48130
any update on this @ymodak @Saduf2019 ?

[2021-04-07 04:28] preethivenkatesh commented on #48130
@mania25, are you looking to get tensorflow with mkl for 2.4? Anaconda ships with mkl optimizations but the latest version available is 2.0. `conda install -c anaconda tensorflow`

[2021-04-07 04:31] rghelichi opened #48352 "Conv2d gives an error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-07 04:41] mao-jy commented on #48328
this issue is caused by unfamiliarity with tensorflow. already fixed.
replace output = tf.placeholder(shape=[None, 768], dtype=tf.float32, name="bert/pooler/dense/Tanh") with output = model.pooled_output can help

[2021-04-07 04:41] #48328 closed

[2021-04-07 04:58] SunBeenMoon commented on #46083
Hello @felixcollins
I wonder how you fix this problem.

In #47063,

[code]

Can you give me any advice or comments?

It's not working the beginning of the project.

[2021-04-07 05:37] limdlh commented on #48325
My deviece chip is qualcomm Snapdragon 660, mobile platform.
Sorry, I have no other device.

[2021-04-07 05:38] neta111111 commented on #47559
Thank you very much, it's working now. Very appreciate your help!

[2021-04-07 05:38] #47559 closed

[2021-04-07 06:21] mania25 commented on #48130
@preethivenkatesh yes, but i think in the mean time, I will downgrade the version to 2.3.2, I tried that version and it compiled successfully

[2021-04-07 07:23] Lu-Tan commented on #34025
I solved this issue by replacing model.fit() with for loop, just like this:
At first, my model.fit():
`
yoro_model.fit(x=my_train_batch_generator,
                steps_per_epoch=int(len(files_path_list_train) // BATCH_SIZE),
                epochs=EPOCH,
                verbose=1,
                workers= 48,
                validation_data = my_test_batch_generator,
                validation_st

[2021-04-07 07:24] tanguycdls commented on #39580
@jvishnuvardhan Thanks that's really strange. Do you see why such behavior happens ?

[2021-04-07 07:35] qiandu2006 commented on #30593
the same coredump as @milinddeore

[2021-04-07 07:43] fischeru opened #48354 "Which cuda versions does tf-nightly 2.6 require?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow inst

[2021-04-07 07:52] #47915 closed

[2021-04-07 07:58] Rahn80643 opened #48355 "Convert a model trained with TensorFlow1, and convert the model to TFLite with TensorFlow 2"
Hi,

If the model is trained in TensorFlow1, is it possible to convert it to TensorFlow Lite model with the tool version 2.3.1 and be parsed with TFLite delegate parser?

[2021-04-07 08:05] OliverPfau commented on #47673
I did some test inside docker container. I hav 3 tensorflow image classification models. Each model is invoked with the same image data 100 times. So I have 300 model invokations in summary for my test.

No model cloning -> use one instance for each model (3 in summary) and locking
With model cloning -> for each model invokation the model is cloned

No model cloning TF 2.3.1: used RAM on start: 0,

[2021-04-07 08:07] Prashant-Kesharwani commented on #48327
Thank you so much for your response, earlier when even I updated Python and then tried installing it, it didn't work.
Now, after updating python it started working and finally I am able to install it,.

[2021-04-07 08:07] #48327 closed

[2021-04-07 08:09] karimnosseir commented on #48325
Thanks @limdlh.

Few questions:

- Did the failure happens on multiple models or only one ?
- Can you share the model ? or a sample model that happen to cause this issue ?
- Can you try running the tflite benchmark and see if the issue happens or not, see [instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark) (please don't forget the part about "instal

[2021-04-07 08:12] Shadowman82 commented on #48015
A little update. I was able to read the devices once the Session is established through this code:

[code]
But I need a similar function to read the devices before the Session is established.
Directly with CUDA library is possible through this function:

[code]

But I want to do this using Tensorflow Library in C++ in order to not depend directly from CUDA.
Is it possible someway?
Thank you,
Regar

[2021-04-07 08:19] romanovzky opened #48356 "WGAN-GP Keras tutorial is slow to start the first epoch"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-04-07 08:19] limdlh commented on #48325
@karimnosseir
How could I share code and model with you? Can you share me your E-mail?
I have only one model support DSP now

[2021-04-07 08:27] karimnosseir commented on #48325
Same github username then at google dot com

[2021-04-07 08:30] Saduf2019 commented on #48327
@Prashant-Kesharwani
Thank you for your response, glad your issue is resolved.

[2021-04-07 08:40] limdlh opened #48357 "tensorflow-lite C++ example label_image failed for oemconfig.so and libhexagon_nn_skel.so"
I compile tensorflow-lite and the example label_image in tensorflow-lite source code success,
I could run success with delegates of NNAPI, XNNPACK, GPU and also CPU with ADB, but always fail with Hexagon.
The running comand for Hexagon is: ./label_image -m tflite_model_int8.tflite -i grace_hopper.bmp -l labels.txt -j 1
The CMD window only show following message and paused for long time:
INFO: Load

[2021-04-07 08:45] Ethylbenzol commented on #48288
Hey man thanks for the follow up.

I used the exact code here at
` https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py `

I did however modified it a bit using tensorflow GPU ram control default code, and reduce the wait time from 300 to 120. You can read my code at https://pastebin.com/c3X3dvGY

I dont think using default code would affect anything. I will

[2021-04-07 08:48] limdlh commented on #48325
I have send you mail, please receive.
I will try running the tflite benchmark soon.

[2021-04-07 08:52] Ethylbenzol commented on #48288
I'm actually using tensorflow object detection and that officially says it is still in TF2.2/ 2,3? Will there be issues when upgrading the tensorflow package to 2.4.1?

[2021-04-07 08:56] mdatres opened #48358 "predict_on_batch score from tensorflow 1.15 to tensorflow 2.3"
Dear all,

I'm facing a strange behavior in keras-retinanet 1.0. I have recently updated retinanet from version 0.5 to version 1.0. I have two classes, one with a validation mAP of 0.87 and the other with a validation mAP of 0.3 both in version 0.5 and 1.0. I have trained retinanet 0.5 on the training set, and, after doing that, I have converted the trained model to an inference model. I have used

[2021-04-07 08:56] amahendrakar commented on #48034
@ideepankarsharma2003,
Thank you for the update.

Closing this issue as it is resolved. Please feel free to re-open if necessary.

[2021-04-07 08:56] #48034 closed

[2021-04-07 08:57] Luoxiaoyu828 opened #48359 "3D NMS"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tensorflow2.3.0
- Are you willing to contribute it (Yes/No)

[2021-04-07 09:04] fischeru commented on #48354
Ok. Found out myself with the command below. Would be nice to have this somewhere mentioned on the tf-nightly webpage.
Closing the issue.

\>>> tf.sysconfig.get_build_info()
OrderedDict([('cpu_compiler', '/usr/bin/gcc-5'), ('cuda_compute_capabilities', ['sm_35', 'sm_50', 'sm_60', 'sm_70', 'sm_75', 'compute_80']), ('cuda_version', '11.2'), ('cudnn_version', '8'), ('is_cuda_build', True), ('is_rocm_

[2021-04-07 09:04] #48354 closed

[2021-04-07 09:24] Orpheus23 opened #48361 "Nested model not training for distributed gradient tapes"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu18.04
- TensorFlow installed from: pip
- TensorFlow version: 2.4.1
- Python version: 3.7.1
- CUDA/cuDNN version: 11.2
- GPU model and memory: Tesla V100 each with 16 GB

**Describe the current behavior**
Nested model (Encoder) not training/ model parameters not changing

**Describe the expected behavior*

[2021-04-07 09:41] dinkdeep opened #48362 "While converting from HLO to linalg the conversion of mhlo.convolution(contains padding ) -> linalg.conv fails with error "non-zero padding unsupported yet""
While converting from HLO to linalg the conversion of mhlo.convolution(contains padding ) -> linalg.conv fails
with error "non-zero padding unsupported yet"

 "mhlo.convolution"(%510, %532) {batch_group_count =  1 : i64, dimension_numbers =  {input_batch_dimension =  0 : i64, input_feature_dimension =  3 : i64, input_spatial_dimensions =  dense<[1, 2]> : tensor<2xi64>, kernel_input_feature_dimensi

[2021-04-07 09:52] #48010 closed

[2021-04-07 09:56] dinkdeep opened #48363 "In the "LinalgFusionOfTensorOps" node fusion pass linalg.conv Operator does not seems to be inside the Generic Operator Region unlike other pointwise operators add/mul .."
Looks like the linalg.conv operator  are not placed inside the Generic Operator Region
 For our custom requirement we would like to use and leverage on the "Node fusion capability of Regions" offered by the "LinalgFusionOfTensorOps"  , The pass  seems to work point wise operators but not for the  operators like linalg.conv/MaxPool/BatchNorm/AVvgPool etc

We have our own customized HW accelerated k

[2021-04-07 09:59] felixcollins commented on #46083
Sorry @SunBeenMoon  I spent ages hacking around getting a build to work. I recommend you come back in a few years when they have things stabilised. The TFLite Micro seems to be very bleeding edge at the moment.

[2021-04-07 10:06] JeffreyWardman opened #48364 "LSTM layer not possible with channels_first"
The following:
[code]
Returns:
```ValueError: Shape must be at least rank 3 but is rank 2 for '{{node lstm/lstm_cell_1/BiasAdd}} = BiasAdd[T=DT_HALF, data_format="NCHW"](lstm/lstm_cell_1/MatMul, lstm/lstm_cell_1/split_1)' with input shapes: [?,256], [256].```

**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFl

[2021-04-07 10:09] Vozf commented on #45090
For anyone wondering. For single input keras model the fix above can be implemented like this.
[code]

[2021-04-07 10:11] JeffreyWardman commented on #48364
#38942

[2021-04-07 10:23] Saduf2019 commented on #48359
@Luoxiaoyu828
Can you please refer to similar issue here and let us know if it helps.
#48070

[2021-04-07 10:26] Saduf2019 commented on #48363
@dinkdeep

Kindly open a [stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-04-07 10:28] Humza1996 commented on #48190
@multiverse-tf Please see the [comment](https://github.com/tensorflow/tensorflow/issues/48190#issuecomment-812831324)

[2021-04-07 10:33] dinkdeep opened #48365 "Segmentation fault in tf-opt while running a tf dialect mlir file"
tf-opt segfaults on running the  tf.mlir file attached below
tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt --tf-shape-inference  -xla-legalize-tf=allow-partial-conversion --hlo-legalize-to-linalg -linalg-fusion-for-tensor-ops --linalg-bufferize --print-ir-before-all --print-ir-after-all resnet50_v1_tf_trimmed.mlir
GDB log is attached
The error seems to come from /home/ubuntu/.cache/bazel/_b

[2021-04-07 10:38] israelwei commented on #48212
It seems this is happening due to a tf2onnx issue- the `range_given=False` argument is currently ignored:
https://github.com/onnx/tensorflow-onnx/issues/1438#issuecomment-814516723
So the settings in Tensorflow were OK.

[2021-04-07 10:40] Saduf2019 commented on #48364
@JeffreyWardman
I ran the code shared but face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/bafddf15f69ea5591a6d5a5b1d9e87f1/untitled583.ipynb) and share all dependencies such that we can replicate the issue reported .

[2021-04-07 10:42] hashishoya opened #48366 "tf.image.resize_with_pad slows the computation enormously"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): tf-nightly==2.6.0.dev20210331
- TensorFlow version (use com

[2021-04-07 10:48] bhack commented on #48359
Check NMS in out Tensorflow 3d repository https://github.com/google-research/google-research/blob/master/tf3d/object_detection/box_utils/box_ops.py

[2021-04-07 10:49] JeffreyWardman commented on #48364
@Saduf2019 `x` can be anything

[2021-04-07 10:51] dinkdeep commented on #48363
This behavior observed is something specific to MLIR and HloLegalizeToLinalgPass in TensorFlow .  A corresponding stackoverflow issue might not be of much help.

[2021-04-07 10:52] #48037 closed

[2021-04-07 10:52] #48003 closed

[2021-04-07 10:57] zrss opened #48367 "Tensorflow 1.13.1 GPU xla training hang at cuDevicePrimaryCtxRetain (NVIDIA MPS)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-07 10:59] tilakrayal commented on #48329
@KacperKromka ,

This issue is more suitable for TensorFlow Models repo. Please post it on Tensorflow Models repo from [here](https://github.com/tensorflow/models/issues). Thanks!

[2021-04-07 11:06] redmlr opened #48368 "AttributeError: 'NoneType' object has no attribute 'shape'"
Hello,

I'm trying to train a model using the `model.fit()` function, but it keeps throwing me an error which I cannot resolve.
The error is:
[code]

This is my `.fit()` function:

[code]

My train dataset is a `tf.data.Dataset` and is of type: `<class 'tensorflow.python.data.ops.dataset_ops.BatchDataset'>`

The model is building and compiling fine, but training...

When I try to look at the datas

[2021-04-07 11:07] Maximevdm opened #48369 "Gradients are all None in GradientTape"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-07 11:21] Zardoua-Yassir commented on #1511
@xuanchien your comment allowed me to solve the same issue. In simple words, the argument logits of the method I used (tf.nn.sigmoid_cross_entropy_with_logits) has to be an operation that computes logits, not an ndarray. So thankyou!

[2021-04-07 11:21] tilakrayal commented on #48338
@dinkdeep

In order to expedite the trouble-shooting process, could you please provide the following information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:

[2021-04-07 11:26] UsharaniPagadala commented on #48367
@zrss
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue. Thanks!

[2021-04-07 11:37] flamxi commented on #48014
@terryheo Do you have any other idea we can try here!

[2021-04-07 11:37] KacperKromka commented on #48329
@tilakrayal

Thanks for the reply! [post on models](https://github.com/tensorflow/models/issues/9875)

[2021-04-07 11:37] #48329 closed

[2021-04-07 11:51] dinkdeep commented on #48338
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.5 LTS

TensorFlow installed from (source or binary):  Source
commit ac5f2a1 (HEAD -> master, origin/nightly, origin/master, origin/HEAD
(base) ubuntu@HYD1PNF01:/data/dkd/tf/tensorflow$ git log
commit ac5f2a1f0db1ba1e585559

[2021-04-07 12:05] MarkDaoust commented on #45615
This was fixed by tensorflow/docs#1847

[2021-04-07 12:05] #45615 closed

[2021-04-07 12:06] tilakrayal commented on #48326
@khaled-alkilane

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel

[2021-04-07 12:18] hashishoya commented on #48366
Just tried other `tf.image.*` functions such as `tf.image.random_crop` and also slowed down the training.

For now, I am avoiding using any of these functions and just preprocess with `tf.image.resize` for faster training. :unamused:

[2021-04-07 12:18] celhannah commented on #41448
Any progress?

[2021-04-07 12:34] limdlh commented on #48349
Thank you for your answer, it help me much.
By the way, if I want to use NPU, now I could only use NNAPI?

[2021-04-07 12:52] #29896 closed

[2021-04-07 12:59] uzair-ali10 opened #48370 "Broken/outdated Links in Docs"
While going through the documentation I encountered a few broken/outdated links, and I've found the correct link for the same
Kindly assign this issue to me so that I can make the required changes.

[2021-04-07 13:17] DeepBlender commented on #46661
This issue is a huge show stopper for me and it seems for others as well. Is there anything else that needs to be provided to make progress on the issue?

[2021-04-07 13:30] mdanatg commented on #46661
cc @tomerk

The main problem is that we can't reproduce the issue on our machines. So the remaining alternative is to keep narrowing the faulty case down to as few TF ops as possible (ideally, just a handful of raw ops). That's easiest with the help of a Keras expert, so things are blocked a bit on our side.

There is another solution we could pursue: running the code with a memory profiler. If th

[2021-04-07 13:34] janoslim commented on #48074
Hello @amahendrakar ,
I'm sorry for the late reply.
I think it works well.
Thanks a lot!!.

[2021-04-07 13:34] #48074 closed

[2021-04-07 13:49] mdanatg commented on #48229
This is a bug, indeed. Here's a temporary workaround in case you're blocked by it:

[code]

[2021-04-07 13:50] exeptionerror commented on #27935
[[Solved] Spyder ModuleNotFoundError In anaconda
](https://exerror.com/spyder-modulenotfounderror-in-anaconda/)

[2021-04-07 13:52] amahendrakar commented on #48350
@ymodak,
I was able to reproduce the issue with TF v2.4.1, TF v2.5.0-rc0 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b34c7f06094d67479f37d8084e7804bd/48350.ipynb). Thanks!

[2021-04-07 14:08] fsx950223 commented on #48366
You could speed it up via ```tf.config.optimizer.set_experimental_options({'debug_stripper': True})```

[2021-04-07 14:21] hashishoya commented on #48366
@fsx950223 didn't make much difference. It is normal to be slower, but > 5x slower?

[2021-04-07 14:27] helonayala commented on #25160
thanks mate, works here too

[2021-04-07 14:44] hashishoya commented on #48366
![normal_resize](https://user-images.githubusercontent.com/29784227/113885717-54f83600-97c0-11eb-84f7-2df0b508db62.png)
![other_image_funcs](https://user-images.githubusercontent.com/29784227/113885728-575a9000-97c0-11eb-8c58-25d1dea560d7.png)

Apparently only the GPU memory is being used for storing images and not for computation?

[2021-04-07 14:52] uzair-ali10 commented on #48370
@UsharaniPagadala Kindly assign the issue to me

[2021-04-07 14:52] ktaebum opened #48372 "Using same group key in CollectiveBcastSend/RecvV2 and CollectiveReduceV2 raises an error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-04-07 14:56] lgeiger commented on #47193
@Xhark thanks for the answer. I agree that numerical stability is not a priority for floating point neural networks. However, I think for the ops that emulate quantized networks the story can be a bit different.

We work on Binarized Neural Networks which we train using [larq/larq](https://github.com/larq/larq) and deploy using TFLite and [larq/compute-engine](https://github.com/larq/compute-engin

[2021-04-07 15:10] uzair-ali10 commented on #48370
Fixed all the broken link
here is the PR
[https://github.com/tensorflow/examples/pull/303](https://github.com/tensorflow/examples/pull/303)

[2021-04-07 15:24] amahendrakar commented on #48355
@Rahn80643,
It is generally preferred to use the same TensorFlow version while building a model and converting it to `.tflite` format. Using different TensorFlow version for converting the model may result in unexpected behavior.

Hope this answers your query. Thanks!

[2021-04-07 15:27] amahendrakar commented on #48358
@mdatres,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported here and also the dataset you are using. Thanks!

[2021-04-07 15:42] Vaunorage opened #48373 "tf.switch_case not working"
**System information**
- Documentation exemple : https://www.tensorflow.org/api_docs/python/tf/switch_case
- Windows 10
- TensorFlow version 2
- Python version: 3.7

**Current behavior**

[code]
[code]

[2021-04-07 15:43] dgoldenberg-audiomack opened #48374 "MultiWorkerMirroredStrategy looks a lot slower than non-distributed"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I'm using code from here: https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras (MNIST example) with small alterations, see below for the code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Amazon linux - 4.14.225-168.357.amzn2.x86_64
- Mobile devic

[2021-04-07 15:46] Vaunorage opened #48375 "tf.switch_case not working with KerasTensor"
**System information**
- Documentation exemple : https://www.tensorflow.org/api_docs/python/tf/switch_case
- Windows 10
- TensorFlow version 2
- Python version: 3.7

**Current behavior**

[code]
[code]

[2021-04-07 15:47] amahendrakar commented on #48362
@dinkdeep,
Could you please provide the
- TensorFlow version
- minimal code snippet to reproduce the error
- and the exact sequence of commands / steps that you executed before running into the error

Thanks!

[2021-04-07 15:52] #47883 closed

[2021-04-07 15:56] SebastianJL opened #48376 "tensorflow.experimental.numpy operations return tf.Tensor instead of ndarray<tf.Tensor>"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): debian 10.9
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0rc0
- Python version: Python 3.7.5

**Describe the current behavior**
In tensorflow 2.5.0rc0 these ope

[2021-04-07 16:03] henrysky opened #48377 "INFO log get printed in tf2.5-rc0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-04-07 16:11] artzet-s commented on #48281
Hello @miaowang14,

I think your right, seems that NNAPI Delegate is not able to find any available accelerator backend on my HONOR X8, the command :

`adb shell lshal | grep neural`

Give me nothing except warning (not catches by grep)  :

[code]

I test again with my Samsung S20 and I clearly saw the difference with and without NNAPI on quantified model. Furthermore I saw NNAPI activation too (w

[2021-04-07 16:13] jvishnuvardhan commented on #48242
@o0stsou0o I just tried `pip3 install tensorflow==2.4.1` on Mac OS and it correctly installed `TF2.4.1`.  If you still face it, search `tensorflow` related folders and delete all of them and restart Mac and try the above command.

It could be that when you tried `pip install tensorflow`, that `pip` might be connected to `python2.x` and tried to install `TF1.x`. We no longer support `python2.x` and

[2021-04-07 16:28] amahendrakar commented on #48365
@dinkdeep,
Could you please share the TensorFlow version you are using?

Also, please let us know if this issue is related to issues [#48338](https://github.com/tensorflow/tensorflow/issues/48338) [#48362](https://github.com/tensorflow/tensorflow/issues/48362) and [#48363](https://github.com/tensorflow/tensorflow/issues/48363)? Thanks!

[2021-04-07 16:30] amahendrakar commented on #48368
@redmlr,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-04-07 16:30] UsharaniPagadala commented on #48370
@uzair-ali10

This issue will be closed once the PR is merged.Thanks

[2021-04-07 16:36] #46891 closed

[2021-04-07 16:50] tilakrayal commented on #48352
@rghelichi

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

Thanks!

[2021-04-07 16:54] uzair-ali10 commented on #48370
@UsharaniPagadala

Alright, Thanks for merging!!!

[2021-04-07 17:09] UsharaniPagadala commented on #48377
@henrysky
I didn't face any info errors while running the code.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/b2faec222ca8d58ca3d2acacf8a708f2/-48377.ipynb#scrollTo=1kQicu7NMWf9) here

[2021-04-07 17:14] jtdutta1 commented on #39823
Although the issues do not exist in the tf-nightly builds, the stable versions of tensorflow does not yet support conv1d layers with dilations > 1. When will this be pushed to the stable release? I worked with 2.4.1 and this issue still persists.

[2021-04-07 17:15] Saduf2019 commented on #48364
@JeffreyWardman
please share a colab gist with the issue reported.

[2021-04-07 17:25] henrysky commented on #48377
I just ran your colab notebook those INFO get printed

![image](https://user-images.githubusercontent.com/28623434/113908499-9d095f80-97a4-11eb-8b02-ce51a82980bf.png)

[2021-04-07 17:32] amahendrakar commented on #48375
@Vaunorage,
As per the [documentation](https://www.tensorflow.org/api_docs/python/tf/switch_case), **branch_index** should be an **int Tensor**.

With an int Tensor passed as the argument, I was able to run the code without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2d3343ae70db798f9d85b7c3a35aaa80/48375.ipynb). Thanks!

[2021-04-07 17:56] #48189 closed

[2021-04-07 18:04] #47882 closed

[2021-04-07 18:22] amahendrakar commented on #47249
@lmocsi,
While trying to reproduce the issue, I am facing an error stating `cv2.error: OpenCV(4.1.2) /io/opencv/modules/imgproc/src/resize.cpp:3720: error: (-215:Assertion failed) !ssize.empty() in function 'resize'`.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/419b5756f1746947c6b307fe0c1a3cb9/47249.ipynb). Thanks!

[2021-04-07 18:23] amahendrakar commented on #47249
Also, if possible could you please uninstall CUDA, cuDNN, TensorFlow and Python, restart your machine and check if a fresh installation works? Thanks!

[2021-04-07 18:35] dinkdeep commented on #48365
@amahendrakar
Please find the info
1) I had built the TensorFlow from source code
TensorFlow installed from (source or binary): Source
commit ac5f2a1 (HEAD -> master, origin/nightly, origin/master, origin/HEAD
(base) ubuntu@HYD1PNF01:/data/dkd/tf/tensorflow$ git log
**commit ac5f2a1 (HEAD -> master, origin/nightly, origin/master, origin/HEAD)**
Author: Pankaj Kanwar pkanwar@google.com
Date: Fri Ma

[2021-04-07 18:40] soyers commented on #46661
Hi everyone! Sorry for not answering for such a long time. It's a shame that this issue is so hard to reproduce but I am glad that I am not the only one having to stick with TF 2.2 with cuda 7 due to this bug. Maybe we can figure something out by joining forces.

I don't have much experience with memory profiling, so I quickly ran the script with tracemalloc hoping to find any obvious memory leak

[2021-04-07 18:46] ymodak commented on #47977
I see that this worked correctly in TF 2.3 version. See [gist](https://colab.research.google.com/gist/ymodak/ad3f00e9109c80586c85eda364de8783/untitled580.ipynb) for more information.

[2021-04-07 18:50] mdatres commented on #48358
Unfortunately, I can't share the dataset since it is private. I can share to you the link of the model's implementation: `https://github.com/fizyr/keras-retinanet `
I have used the code contained in the Jupiter notebook example/ResNet50RetinaNet.ipynb to obtain the predictions (I have ran predict_on_batch on the test_set using a for loop). Let me know if I can share something else with you.

Best

[2021-04-07 18:59] amahendrakar commented on #47872
@evancollins1,
Looking at similar issue [#35651](https://github.com/tensorflow/tensorflow/issues/35651#issuecomment-582434097), I was able to resolve the `ValueError: Failed to find data adapter that can handle input`. But now, the code throws a different error.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/bdf382f9913c55a8a8ce75ba0fa2f648/47872.ipynb). Tha

[2021-04-07 19:05] Vaunorage commented on #48375
Thank you,

However, I need to use it with an input which is a KerasTensor ? How this would work ?
Otherwise, I can use tf.case but it is less practical ..

[2021-04-07 19:13] ymodak commented on #48331
In the light of https://github.com/tensorflow/tensorflow/issues/48009#issuecomment-805965233 can you please post your issue on [tensorflow/io](https://github.com/tensorflow/io/issues) repo. Thanks!

[2021-04-07 19:15] mdanatg commented on #46661
@sanjoy for more advice

[2021-04-07 19:22] sebastianschramm commented on #48331
ok, I opened https://github.com/tensorflow/io/issues/1354#issue-852733649

[2021-04-07 19:25] jvishnuvardhan commented on #39580
@tanguycdls I am not expert in serialization. But, this approach worked for me in my other code. Thanks!

I am closing this issue as this was resolved. Please feel free to reopen if this issue persists again. Thanks!

[2021-04-07 19:25] #39580 closed

[2021-04-07 19:32] mdanatg commented on #46661
@soyers thank you for running the check, this is useful.

It might be useful to try out TensorFlow's memory profiler next: https://www.tensorflow.org/guide/profiler#memory_profile_tool

Hopefully, the leak is somewhere in the TF stack and the tool can catch it / we can fix it easily, and not some strange interaction with the GPU drivers or some other part of the OS.

[2021-04-07 19:47] Abdulrahman-Almutlaq commented on #33916
Thank you very much, this solved the problem for me

[2021-04-07 19:49] lamberta commented on #48234
Unfortunately, tensorflow.org (and others) use a version of [code-prettify](https://github.com/googlearchive/code-prettify) and that project is now archived. There are no plans to upgrade, at this time. Sorry

[2021-04-07 19:49] #48234 closed

[2021-04-07 19:51] lmocsi commented on #47249
@amahendrakar,

All my images are sized n*n, where n >= 95 pixels.
Maybe this causes the resize problem.

[2021-04-07 19:52] #47789 closed

[2021-04-07 19:57] Alperen-KY commented on #33916
Thank you very much. I haven't been able to try again but I will.

[2021-04-07 20:06] advaitjain commented on #45086
closing the current bug in favor of https://github.com/tensorflow/tensorflow/issues/47413

[2021-04-07 20:06] #45086 closed

[2021-04-07 20:16] jvishnuvardhan commented on #39580
@tanguycdls @tomerk is an expert and he recommends using tensorflow `op` layer over `lambda` layer as op layers will serialize/deserialize more reliably than arbitrary lambda layers. So, the following approach is the best. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/5a1821b0f30a02c37ff7e9ecf61840f5/untitled183.ipynb). Thanks!

[code]

[2021-04-07 20:25] miaowang14 commented on #48281
@artzet-s , thanks for trying on the phone. This is a device issue. Devices with mid to low end SoCs, especially the ones introduced before Android 10, often are not equipped with dedicated ML accelerator. Also, because of the diversity of hardware running Android, certain SoCs may be particularly strong at accelerating floating point models, while others may be good at quantized models (or both).

[2021-04-07 20:29] jennyfothergill opened #48380 "Docker build: no such package '@local_cuda//': The repository '@local_cuda' could not be resolved and referenced by '@cub_archive//:cub'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.5 LTS
- Mobile de

[2021-04-07 20:42] SheshankJoshi commented on #44159
@NoahCSHN I faced the same issue and my models are pretty good. I can testify for that. I came looking for the issue everywhere. Whatever works, if it works its fine. Thanks to everyone.

[2021-04-07 21:17] kkimdev commented on #46661
Hi @soyers .  Another tool you can try is [objgraph](https://mg.pov.lt/objgraph/). If it's originated from a Python object leak, this tool is very easy and helpful.  It can't catch C++ side leak so if that's the case, we'll need another tool.  But since this is easy to try, I suggest to give a shot first.

Example usage:
[code]

Example Output
[code]

[2021-04-07 21:17] nikitamaia commented on #48374
Hi @dgoldenberg-audiomack, I don't think this finding is too surprising. There is always some amount of overhead associated with distributed training. If you're using `MirroredStrategy` then there is overhead at the end of each step to synchronize the gradients across replicas. That overhead is larger in the case of `MultiWorkerMirroredStrategy` as the gradients have to be synchronized across the

[2021-04-07 21:26] #33626 closed

[2021-04-07 21:31] ymodak commented on #35809
Closing this issue since commit [9961988](https://github.com/tensorflow/examples/commit/996198828a5d758502f0cec9c5de58f04d200a0d) fixes the issue. Thanks!

[2021-04-07 21:31] #35809 closed

[2021-04-07 21:32] nikitamaia commented on #48361
Hi @Orpheus23, a few questions:

- what strategy are you using? (I'm assuming `MirroredStrategy`?)
- Are you distributing your data with [experimental_distribute_dataset](https://www.tensorflow.org/api_docs/python/tf/distribute/Strategy#experimental_distribute_dataset)?
- have you verified that things are working as expected in the non distributed case?

[2021-04-07 21:33] fshofmann commented on #44159
@NoahCSHN Sorry for the *very* late reply (github issue notifications get easily buried in the inbox), but for other readers sake I can very much confirm that is does work indeed fine [(as mentioned 4 months ago)](https://github.com/tensorflow/tensorflow/issues/44159#issuecomment-749482971). Since last year I've done extensive evaluations of some of my models that were build using the sequential a

[2021-04-07 22:06] Akshathar8 commented on #19458
How did you solve this issue?
I am facing the same issue. Please help!

[2021-04-07 22:12] yongtang commented on #48331
@sebastianschramm Let's close this issue and keep the conversation on https://github.com/tensorflow/io/issues/1354#issue-852733649

[2021-04-07 22:12] #48331 closed

[2021-04-07 22:48] dgoldenberg-audiomack commented on #48374
Hi @nikitamaia, thanks for your response.  I think you may be the perfect person to talk to because so much of this is doc-related esp. for folks new-ish to the framework.

Well, it is in fact very much surprising for a "noob". So much so that I'd venture to wonder why the doc about distributed processing doesn't utilize a larger dataset which would unequivocally show the benefits of something lik

[2021-04-07 22:58] jvishnuvardhan commented on #47479
@hoondy This is intended behavior and the warning is to encourage users to use `model.save` instead of tf.saved_model.save when saving keras models.

As mentioned in another similar issue, i trained with `TF2.4` and saved and then loaded with `tf-nightly`. I was able to train the `loaded_model` without any issue. The warning was only to encourage saving Keras model with `model.save` that saves lay

[2021-04-07 23:12] JeffreyWardman commented on #48364
@Saduf2019 see this [gist](https://colab.research.google.com/gist/JeffreyWardman/b61f01c52c433b7dbfc60babcb82ea31/untitled583.ipynb#scrollTo=npnrkMQiPkLzl)

[2021-04-07 23:51] #48298 closed

[2021-04-08 00:03] jvishnuvardhan commented on #46595
@jhihn It looks for a directory structure (as shown [here](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/image_dataset_from_directory?version=nightly)) to infer data and labels. I think `.ipynb_checkpoints` should not be saved in the data directory. Thanks!

[2021-04-08 00:49] #47479 closed

[2021-04-08 00:50] hoondy commented on #47479
Thanks for looking into this

[2021-04-08 00:54] daverim commented on #48212
Seems that this is the issue -- looks like the scale is calculated from `input_min = -64, input_max = 64` (64/127 = .503937). Curious if the rest of this workflow is working correctly?

[2021-04-08 01:27] jhihn commented on #46595
I didn't save .ipynb_checkpoints there. The Google Colab did. I don't have control over that. And I think it should NOT include hidden (.) directories anyway. .ipynb_checkpoints would not appear in a normal unix directory listing unless you used the "-a" option.

[2021-04-08 01:32] o0stsou0o commented on #48242
Thank you so much.  So I looked at the installation.  Indeed, when I do pip show tensorflow both inside and outside the conda environment, it shows version 2.4.1 in the site-packages in python 3.8.  Unfortunately, when I print the version of tensorflow in python3, I'm getting 1.8.0 (below).  Would you know why?

<img width="1092" alt="Screen Shot 2021-04-07 at 9 26 28 PM" src="https://user-images.

[2021-04-08 01:48] amyxguo commented on #35133
Also curious about this

[2021-04-08 02:22] CMCDragonkai commented on #44467
Is this still a problem in TF 2.4.0? I still get the error in this case. Need to downgrade h5py.

[2021-04-08 02:27] xiaoxiaouyy commented on #36209
What bothered me for several days was that the file path was wrong and the shell script was not written correctly, so I simply converted to the following, which was a bit ugly but useful.
!python train.py --logtostderr --num_clones 1 --fine_tune_batch_norm False --training_number_of_steps 5000 --train_split "train" --model_variant "xception_65" --atrous_rates 4 --atrous_rates 6 --atrous_rates 12 -

[2021-04-08 02:52] #46645 closed

[2021-04-08 03:17] w4nderlust commented on #23050
Just wanted to say once more that @ccurro 's points are all entirely valid 3 years later.

[2021-04-08 03:28] zrss commented on #48367
thanks for the reply, i could try, but i am not sure of tensorflow can run on MPS, does tensorflow support officially MPS

[2021-04-08 03:35] thaink commented on #47101
The op is now supported in the master branch.

[2021-04-08 03:35] #47101 closed

[2021-04-08 03:45] crccw commented on #47861
Logical devices configuration should go before creating the strategy. Is there any other code before creating the strategy?

[2021-04-08 03:46] limdlh commented on #48349
Hi karimnosseir, sorry to trouble you, that I have another question:
I want to use Hexagon libraries in 64bit, but I could only get 32bit lib from [TFLite org link](https://www.tensorflow.org/lite/performance/hexagon_delegate?hl=zh-cn).
I did download tflite_hexagon_nn_skel_v1.20.0.1.run, and use it to download Hexagon libraries.
Should I download from other link, or just use 32bit in 64bit device

[2021-04-08 03:54] Mr-Nineteen opened #48388 "tensorRT does not support defining OP."
1. Use TensorFlow package: TFRA(https://github.com/tensorflow/recommenders-addons)
2. After saving the model, use tensorRT for model conversion:

TFRA code:
[code]

tensorRT conversion code:
[code]
3. Error message:
KeyError: "The name 'deep_dynamic_embeddings' refers to an Operation not in the graph."

[2021-04-08 04:05] freedomtan commented on #48380
@jennyfothergill  please check https://github.com/tensorflow/tensorflow/pull/48310

[2021-04-08 04:11] jvishnuvardhan commented on #46595
@jhihn Colab save notebooks under `MyDrive/Colab Notebooks`. In this [gist](https://colab.research.google.com/gist/jvishnuvardhan/3f616896ffa3696c9bd1d834a05eec18/46595.ipynb), we cannot reproduce the issue. If we manually create `ipynb_checkpoints` under the `data` where you have training files, then it will throw an error.

I am not sure about inner details about the `tf.keras.preprocessing.imag

[2021-04-08 04:27] gomrinal opened #48389 "Tensorflow support for advance models like VAE-GAN, GAN"
Hello,
I was wondering if you guys are planning to make functional APIs for advanced research-based models like VAE, VAEGAN, GANS, etc.
If so then it will be very easier for the TensorFlow community to explore applications of these models in an array of real-world problems. Since currently the generative model uses multiple losses therefore training them is not intuitive and often ends up in unsta

[2021-04-08 04:31] qlzh727 commented on #48292
Thanks @AdityaKane2001 for the reply.

@Javadcs, could you give a more specific example about what exact issue you are facing? A small reproducible example might help us better understand you issue.

[2021-04-08 04:59] rghelichi commented on #48352
here is the sample code:
import tensorflow as tf

 sample = tf.random.normal(shape=(32, 32, 3))
 model = tf.keras.applications.ResNet50(input_shape=(32, 32, 3), include_top=False)
 print(model(sample[tf.newaxis, ...]))

this runs without gpu but with gpu gives me the error!

[2021-04-08 05:14] Orpheus23 commented on #48361
Hello, thanks for the reply,

- I am using MirroredStrategy.
- Yes the data is distributed with experimental_distribute_dataset.
- Things aren't working as expected even in the non-distributed case, the same thing is happening there too.

[2021-04-08 05:36] MinasTyuru opened #48391 "Toy model crashes on multiple GPUs with "No unary variant device copy function""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 14.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 2.2.0
- Python version: 3
- Bazel version (if compiling from source): 0.29.1-1.8
- GCC/Compiler vers

[2021-04-08 05:37] tilakrayal commented on #48376
@SebastianJL

I was able to reproduce the issue. Please find the [gist](https://colab.research.google.com/gist/tilakrayal/44d02613d4cc21e5161da3f495ad8050/48376-2-4.ipynb) of it here. Thanks!

[2021-04-08 06:09] multiverse-tf commented on #48190
Acked. I agree w/ @rjpower's [comment](https://github.com/tensorflow/tensorflow/issues/48190#issuecomment-813453287) above that "sleeping between inferences, you are letting the CPU state drop back to idle" and then the "CPU" starts "cold" in terms of CPU frequency or execution being gradually migrated from little core to big core etc. Note CPUs on mobile phones are prone to being throttled to sav

[2021-04-08 06:09] kamodulin commented on #46093
I've been following this issue for a while and was finally was able to use the pre-release `tensorflow-gpu==2.5.0rc0` without any problems on my 3070! I thought I'd share my configuration in the event someone wants to try this method too (unfortunately, I never was able to get the methods above to work). I'll also note that the tf 2.4, cuDNN 8.0, and CUDA 11.0 build configuration didn't work for m

[2021-04-08 06:12] Saduf2019 commented on #48226
@Kewenjing1020
Please share simple stand alone code such that we can replicate the issue or a colab gist with the issue reported.

[2021-04-08 06:20] bd050705 opened #48392 "TensorBoard can't support read data from Kerberos cluster hdfs."
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7.8
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):
      tensorboard            2.4.1
      tensorboard-plugin-wit 1.8.0
      tensorflow             2.3.1
      tensorflow-estimator   2.3.0
- Python version: 3.6.8

**Describe the current behavior**
sudo su hdfs
export KERB_TICKET_CA

[2021-04-08 06:24] tilakrayal commented on #48373
@Vaunorage,
Looks like this is a duplicate of issue [#48375](https://github.com/tensorflow/tensorflow/issues/48375).

Can we close this issue since it is already being tracked there? Thanks!

[2021-04-08 06:29] npanpaliya commented on #48380
@freedomtan and @jennyfothergill  - Please check new PR for the same issue https://github.com/tensorflow/tensorflow/pull/48393. I closed the earlier one due to merge issues.

[2021-04-08 06:43] alphaX86 opened #48394 "Add link and more info in tf/examples/README"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2021-04-08 06:43] mdatres commented on #48358
In the following .txt file, the code that I used for the prediction is reported.
[code.txt](https://github.com/tensorflow/tensorflow/files/6276600/code.txt)

Hope this help.
Best regards,

mdatres

[2021-04-08 06:46] alphaX86 commented on #48394
Here's a brief about the issue...
In this repo (tensorflow/tensorflow/examples) the README is enough with examples and all other things, but still it has a statement "This directory is not actively maintained" which is fine, but I feel a statement must be included along with it... "Refer this repo for more examples as this folder is not actively maintained" so that newcomers will know and refer to

[2021-04-08 06:46] alphaX86 commented on #48394
And TF community, please assign me this issue, I want to work on it! :)

[2021-04-08 06:48] EmptySamurai opened #48395 "Allowing strides with dilated convolutions in tf.keras.layers.Conv2D"
**System information**
- TensorFlow version (you are using): v2.4.1
- Are you willing to contribute it (Yes/No): Depends on acceptable solution

**Describe the feature and the current behavior/state.**
At this point in time `tf.keras.layers.Conv2D` doesn't support dilated convolutions with strides > 1, which would be a nice feature to have. This limitation seems to be a limitation of Keras Conv2D,

[2021-04-08 07:02] Saduf2019 commented on #48394
@alphaX86
 Please feel free to submit a PR.Thanks!

[2021-04-08 07:08] amahendrakar commented on #48159
@VasyaSmolyar,
Please follow the [official guide](https://www.tensorflow.org/install/pip#raspberry-pi) while installing TensorFlow and make sure you have all the required dependencies listed in the [system requirements](https://www.tensorflow.org/install/pip#system-requirements). Thanks!

[2021-04-08 07:14] sandhyacs commented on #48228
here is the code :

import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'    # Suppress TensorFlow logging (1)
import pathlib
import tensorflow as tf
import cv2
import numpy as np
from PIL import Image
import time
from object_detection.utils import label_map_util
import vis_utils as viz_utils
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')   # Suppress Matplotlib wa

[2021-04-08 08:06] LucaCappelletti94 commented on #56
I have encountered this issue when I had, on a new docker, pip version 9. Upgrading it to version 21 fixed the problem.

[2021-04-08 08:11] lucy0828 opened #48396 "/micro_speech/recognize_commands_test.cc bug"
Hi, I tried to follow the book TinyML chapter 07 and ran `recognize_command_test` and got an error shown in the img below..
I think in `recognize_commands_test.cc` line 158
`const int bad_dims[] = {2, 1, 3};`
has to be changed to
`const int bad_dims[] = {2, 1, 4};`

![Screenshot from 2021-04-08 16-43-54](https://user-images.githubusercontent.com/46836844/113991238-3875ff80-988d-11eb-9e81-c853ec79b

[2021-04-08 08:17] lucy0828 commented on #48396
oh,, nevermind I figured it out!! There's no problem

[2021-04-08 08:19] fsx950223 opened #48397 "TopK GPU slower than TopK CPU"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-04-08 08:38] shaofengzeng commented on #48031
Thanks for your reply. I have solved the problem.
Before the operation, tensorflow flip (both up and down left and right) the kernel first

[2021-04-08 08:50] tabatabaeis commented on #39584
Same error here

[2021-04-08 08:57] 4sfaloth commented on #40166
Any news on this? I have exported an efficientnet from keras (.h5) to tensorflow (.pb) format for **inference only**.  It does work, but I get tons of those annoying "_with ops with custom gradients. Will likely fail if a gradient is requested._" warnings. If I'm not mistaken gradients are only required for training, so perhaps there's a way to load the model for inference model so they are ignore

[2021-04-08 08:58] vkumar1997 commented on #35477
@AakashKumarNain Did you find a solution for this?

[2021-04-08 09:04] redmlr commented on #48368
All you need is in this simple `colab.https://colab.research.google.com/drive/1MuPS8uruRzWo_tEFJjgVPUOD8NqGPrQG?usp=sharing`

[2021-04-08 09:11] soyers commented on #46661
Thanks for the quick replies and your helpful suggestions! At first I started a TensorFlow memory profiling run with the following code:
[code]

If I understand the dashboard correctly, the logs clearly high heap allocation (> 2GB) in the ReLU activation of block 5. It also strikes me that the profiler does not seem to be able to determine shape, data type and region type for that operation (it ju

[2021-04-08 09:12] jeongukjae commented on #47642
@Saduf2019

I checked the changed lines in the linked PR (#47645). I think this issue can be closed.

But is it right to remove those lines instead of fixing highlightings? In my experiences, those notes were useful in numerically unstable situations like the mixed-precision training.

[2021-04-08 09:12] berserkrambo commented on #43174
Worked for me:
OS: Ubuntu 18.04
TensorFlow version: 2.4.1
Python version: 3.7.10
CUDA/cuDNN version: Cuda is 11.0, cuDNN is 8.0.4
GPU model and memory: GeForce GTX 1660 SUPER

Still doesn't make any sense, thanks anyway :)

[2021-04-08 09:17] kvignesh1420 commented on #48392
@bd050705 as per the [documentation](https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/hadoop.md) you need to set `KRB5CCNAME` as the path of Kerberos ticket cache file. For example:
[code]

Can you give it a try?

[2021-04-08 09:44] bd050705 commented on #48392
yes, I have try export KRB5CCNAME="/tmp/krb5cc_996", but it also not working on TensorBoard load data from hdfs.
My Tensorflow can write file to hdfs on kerberos mode. I download it to local system, It can be show on TensorBoard. But TensorBoard can't show the data from hdfs. I wonder is TensorBoard not support file I/O from kerberos cluster HDFS?

[2021-04-08 09:51] bhack commented on #44467
https://pypi.org/project/tensorflow/2.5.0rc0/

[2021-04-08 09:58] amahendrakar commented on #47798
@krishdb38,

Thank you for the update.

Since the original error is resolved, can we close this issue and create a new one for the GPU issue. Thanks!

[2021-04-08 10:02] Saduf2019 commented on #48397
@fsx950223
I ran the code on gpu and do not face any delay, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ae8068949605e40337134b5178116f7c/untitled.ipynb).

[2021-04-08 10:21] Vaunorage commented on #48373
It is the same function in both cases but not the same error message

[2021-04-08 10:21] #48373 closed

[2021-04-08 10:34] josefgrunig commented on #23747
@ValYouW I understood the reason for the blurred mask image: its the small output size of the mask image. Converting the mobilenetv2_coco_voc_trainval model I get an output mask of 65*65 pixels only, while my target is to reach 513x513. The mobilenetv2_dm05_coco_voc_trainval model has an output shape of 513x513 but a lower depth multiplier. Are you sure your model comes from the mobilenetv2_coco_v

[2021-04-08 10:52] #48067 closed

[2021-04-08 11:09] fsx950223 commented on #48397
I modified the [gist](https://colab.research.google.com/drive/1Mmp6qTEWkpAhKq6XjRvMMWpaae4jVdV3?usp=sharing)

[2021-04-08 11:23] brychcy commented on #44403
Thanks for posting the workaround.
It should just be noted that sys.unraisablehook is only available since python 3.8, but the tensorflow docker images still use python 3.6.9.

[2021-04-08 11:30] RamKaistha commented on #44777
This works perfectly,just make sure  you have set LD_library path exactly where libcusolver.so.11 is present and make the hard link... check your LD_library_path

Thanks

[2021-04-08 11:33] tilakrayal commented on #48369
@Maximevdm ,

On running the given code, I am facing an error stating **ModuleNotFoundError: No module named 'Retrieve_data'**. Please find the [gist](https://colab.research.google.com/gist/tilakrayal/6d776a58b332d314f79ca77b49f058e0/48369-2-4.ipynb) of it here and share all dependencies to replicate the issue or share a colab gist with the reported error.

Thanks!

[2021-04-08 11:39] tilakrayal commented on #48388
@Mr-Nineteen ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel ve

[2021-04-08 11:50] tilakrayal commented on #48366
@hashishoya ,

In order to reproduce the issue reported here, could you please provide the complete code and the dataset you are using. Thanks!

[2021-04-08 11:56] optiluca commented on #42750
I'm also hitting the same error, I've had to workaround by splitting my output of length N into N scalar outputs which is quite inconvenient...

[2021-04-08 12:01] mdanatg commented on #46661
Great finds again @soyers. It does indeed that the likely culprit is ReLU+Conv2D. It is suspicious that the leak only happens when you call the Keras layer, not when calling the vanilla Conv2D + BiasAdd + Relu. Nevertheless, it should be easy to confirm it's Conv2D+Relu by (1) running with a different activation and (2) using a different layer that still has a relu activation (say, a dense one).

[2021-04-08 12:03] #47798 closed

[2021-04-08 12:03] krishdb38 commented on #47798
Thank You

[2021-04-08 12:15] zhangguanqun opened #48401 "How to build libtensorflowlite.so with TensorFlow ops supported for armdf?"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2021-04-08 12:24] Sytronik commented on #39730
Any progress for this bug? I face the same issue. The ordering of the callbacks affects the `tf.summary.*` functions' behavior. `tf.sumaary.image` returns `False` when the callback order is `[tensorboard_callback, custom_callback]`.

[2021-04-08 12:28] arturdryomov commented on #48001
@impjdi, hey, do you have ideas what might go wrong with the target SDK version? Maybe there are some internal Google folks who can elaborate on this. The Android issue is pretty much silent.

[2021-04-08 12:41] fwz-fpga opened #48402 "tflite qat model inference data_type"
I am confused with tflite QAT model. Is it running with uint8 data_type or int8 data_type?
With this link https://www.tensorflow.org/lite/guide/hosted_models , I download the quant models and find it with uint8 weights.
With this link https://www.tensorflow.org/lite/performance/quantization_spec#int8_quantized_operator_specifications, I found tflite quantization use int8 data_type.

Which is corre

[2021-04-08 12:43] pmixer opened #48403 "Is SavedModel in tf 1.15 same as SavedModel in tf 2.x from the API prospective?"
Hi Team,

As it is noted in https://www.tensorflow.org/hub/tf2_saved_model:

**Users of TensorFlow 1 can update to TF 1.15 and then use the same APIs. Older versions of TF1 do not work.**

Does that means there's no difference between SavedModel format of tf 1.15(not tf.1.14 or other versions behind it) and tf 2.x?

Regards,
Zan

[2021-04-08 12:51] abattery commented on #48401
@thaink could you take a look?

[2021-04-08 12:56] jeisinge commented on #43745
Unfortunately, I am still seeing the error in my production on TF 2.3.1.

With that being said, I just tested on Colab.  This workaround works on 2.3.0+ just like the `OnesLike` workaround.

The original code still fails on tf-nightly.  Is it required to use a Python `lambda` in a Lambda layer?  I thought that any functions would work there?

[2021-04-08 13:12] gitlabspy opened #48405 "Old version of CUDA support ?"
Hi, I wonder if possible to release newest/nightly tensorflow-gpu compatible for old version CUDA ( 9.0 10.0). I want to use tf2.4 (or higher) on a CUDA 10.0 machine since the driver version are not compatible with newer version CUDA. Upgrading driver is impossible for some reason and and it's very inconvenient to build from source.

It's very important to `pip install tensorflow-gpu # maybe with

[2021-04-08 13:36] israelwei commented on #48212
The rest of the workflow is working correctly :) Only the scale was calculated in an wanted way

[2021-04-08 13:47] amahendrakar commented on #48405
@gitlabspy,
A similar query was answered in issue [#42895](https://github.com/tensorflow/tensorflow/issues/42895).

Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/42895#issuecomment-685874736) from a member of the TensorFlow team and check if it helps. Thanks!

[2021-04-08 14:00] hashishoya commented on #48366
@tilakrayal , I am sharing a working sample of a code which reproduces the mentioned issue:

[code]

I'm using [Grassclover](https://vision.eng.au.dk/grass-clover-dataset/) dataset, however, since it is a large one, I made a smaller version of it and uploaded it to [OneDrive](https://1drv.ms/u/s!AqiDxJkDCNL4gYs71eo8Z0lujE0FwQ?e=AM46W7). Should be unzipped to the root folder as `datasets/grassclove

[2021-04-08 14:08] tilakrayal commented on #48356
Was able to reproduce the issue with TF v2.4, TF v2.5.0rc0 and TF-nightly. Please find the [gist](https://colab.research.google.com/gist/tilakrayal/01e5343d5c68634a3d9e38b436c46615/48356.ipynb) of it here. Thanks!

[2021-04-08 14:13] amahendrakar commented on #48368
@redmlr,
Thank you for the update.

However, I do not have access to the Colab notebook. Could you please provide the required permissions to view the file?

[2021-04-08 14:16] redmlr commented on #48368
@amahendrakar it should work now:) https://colab.research.google.com/drive/1MuPS8uruRzWo_tEFJjgVPUOD8NqGPrQG?usp=sharing

[2021-04-08 14:19] fsx950223 commented on #48366
You should remove ```@tf.function```, it retraces different shape images.

[2021-04-08 14:29] staehlmich opened #48406 "Testcode runs on multiple gpus instead of one"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- Mobile device (e.g. iP

[2021-04-08 14:32] amahendrakar commented on #48391
@MinasTyuru,
I was able to run the code without any errors on a machine with TensorFlow v2.4.1 and 2 GPUs. Please check the below screenshot for reference.

![image](https://user-images.githubusercontent.com/57165142/114044461-e3de7e80-98a4-11eb-80f7-287353717fd5.png)

Could you please update TensorFlow to the latest stable version v2.4.1 and check if you are facing the same issue? Thanks!

[2021-04-08 14:32] mansnils commented on #48251
I am not able to reproduce this. Anyway perhaps we can add a retry loop.

[2021-04-08 14:33] amahendrakar commented on #48391
Also, try limiting the GPU memory growth using any of the methods listed [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and let us know if it helps. Thanks!

[2021-04-08 14:41] amahendrakar commented on #47916
@Guneetkaur03,
Could you please provide a minimal code snippet with a dummy dataset, so that we can reproduce the issue on our end.

Alternatively, you can also run the code on [Google Colab](https://colab.research.google.com/) and share the notebook with us. Thanks!

[2021-04-08 15:06] gitlabspy commented on #48405
@amahendrakar Thanks for your response. He mentioned new cuda can not be compatible with older version of TF, so there is no way to build new TF (>2.4) for older cuda ?

[2021-04-08 15:10] AryanSethi commented on #23985
Any answer to this ?
How are tflite files encoded ?

[2021-04-08 15:13] limdlh opened #48407 "GPU delegate run tensorflow-lite C++ example label_image more slowly than CPU"
I compile tensorflow-lite and the example label_image in tensorflow-lite source code success,
I did run with delegates of GPU and also CPU with ADB with running comands:
     CPU:  ./label_image -m tflite_model_int8.tflite -i grace_hopper.bmp -l labels.txt -j 1
     GPU:  ./label_image -m tflite_model_int8.tflite -i grace_hopper.bmp -l labels.txt -g 1
Both seems runs success, but average time or G

[2021-04-08 15:24] malessandrini opened #48408 "Accuracies saved in history.history after model.fit() are different than the ones printed on-screen during training"
**System information**
Using Colab with Keras 2.4.0 and TensorFlow 2.4.1

**Describe the current behavior**
After calling "history = model.fit(...)", values saved in history.history['loss'] and history.history['accuracy'] are different from the ones printed on-screen at every epoch during training.

**Describe the expected behavior**
Values should be the same, as is with previous tf versions and w

[2021-04-08 15:40] kvignesh1420 commented on #48392
@bd050705 tensorboard uses tensorflow's file system modules for io from hdfs. If writes are supported then reads should ideally be working as well.

[2021-04-08 15:45] clemente0420 commented on #34195
facing the same too ~~~

[2021-04-08 15:46] S-Driscoll commented on #36935
+1.

[2021-04-08 15:50] rmothukuru commented on #48209
Created [a CL](https://critique-ng.corp.google.com/cl/367437963) with this change. Thanks!

[2021-04-08 16:03] DanBmh commented on #44541
Have the same issue with tf2.4.
Inheriting from `Model` instead of `Layer` for custom layer subclassing did greatly reduce the warnings. Now I only have the warnings for LSTM, like in https://github.com/tensorflow/tensorflow/issues/47554

[2021-04-08 16:33] dbl001 commented on #48130
I tried building r2.3 and got errors.

https://github.com/tensorflow/tensorflow/pull/40654 <https://github.com/tensorflow/tensorflow/pull/40654>

Did you run into this issue?

tensorflow/python/lib/core/bfloat16.cc:667:8: error: no matching function for call to object of type '(lambda at tensorflow/python/lib/core/bfloat16.cc:637:25)'
  if (!register_ufunc("not_equal", CompareUFunc<Bfloat16NeFunct

[2021-04-08 16:34] remaininlight commented on #46077
This looks promising, not sure how to use it yet though:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/experimental/saved_model/core/ops/variable_ops.h

[2021-04-08 16:38] stevenjoezhang commented on #46934
See also https://stackoverflow.com/questions/66672519/could-not-install-packages-due-to-an-oserror-errno2-no-such-file-or-directory

[2021-04-08 16:43] Germanferraris opened #48409 "ImportError: DLL load failed: No se puede encontrar el módulo especificado."
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from :pip install
- TensorFlow version:1.13.1
- Python version:3.5
- Installed using: virtualenv, pip and conda?:
- Bazel version (if compiling from source): none
- CUDA/cuDNN version:10 and 7.4
- GPU model and memory: GF -GTX1070Ti

**PROBLEM**
I am trying to download and use tensorflow-gpu version 1.13.1 and

[2021-04-08 16:51] justkw opened #48411 "Having trouble building tf wheel from r2.5 branch"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2021-04-08 17:00] rmothukuru commented on #34417
@zaccharieramzi,
The code:

[code]
works fine now. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/283bbb9237dd959f18922a956f26751e/gh_34417.ipynb) of the working code. Thanks!

[2021-04-08 17:03] shelldonhu opened #48412 "tf.keras.applications.EfficientNetBXs already contain a rescaling layer to preprocess input. It's confusing!"
https://github.com/tensorflow/tensorflow/blob/85c8b2a817f95a3e979ecd1ed95bff1dc1335cff/tensorflow/python/keras/applications/efficientnet.py#L735-L737
`tf.keras.applications.efficientnet.preprocess_input `does nothing at all!
`tf.keras.applications.EfficientNetBXs` already contain a rescaling layer to preprocess input. It's confusing!
`tf.keras.applications.EfficientNetBXs` and `tf.keras.applicatio

[2021-04-08 17:26] johnpeach opened #48413 "License for using the TF logo"
I would like to add the TF Logo to a commercial product. When can I obtain a copy of the licence for the logo?

[2021-04-08 17:29] tomerk commented on #46661
Hi @soyers,

Could also you try the model of low-level ops shared by mdanatg@ earlier, but trying both `tf.keras.layers.ReLU` and `tf.keras.activations.relu` instead of tf.nn.relu?

activations.relu:
[code]

Layers.relu:
[code]

That way we can check if the Keras relu usage is causing more ops to be created than the standard tf.nn.relu call

[2021-04-08 17:30] Saduf2019 commented on #48407
@limdlh
Please share simple stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2021-04-08 17:33] srjoglekar246 commented on #48307
@yakovdan The ruy commit has been updated to the latest one in TF code. Can you update to the latest nightly and check?

[2021-04-08 17:42] ymodak commented on #48412
Please take a look at this https://github.com/tensorflow/tensorflow/issues/45243#issuecomment-740845533 it applies to efficientnet as well.

[2021-04-08 17:48] UsharaniPagadala commented on #48412
@shelldonhu  Could you please fill the issue template

In order to expedite the trouble-shooting process, could you please provide the following details

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed usi

[2021-04-08 17:52] jvishnuvardhan commented on #48242
@o0stsou0o Can you create a virtual Environment and install TF through `pip. Instructions are [here](https://www.tensorflow.org/install/pip). Thanks!

[2021-04-08 17:56] jvishnuvardhan commented on #47891
@jthibaut
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2021-04-08 17:57] yakovdan commented on #48307
@srjoglekar246
no change. inference output is still:

external/ruy/ruy/apply_multiplier.cc:52: RUY_CHECK_LE condition not satisfied:   [ shift <= 7 ]   with values   [ 108 <= 7 ].

just to be on the safe side: the output of `tf.__version__` is
'2.6.0-dev20210408'

[2021-04-08 18:02] zaccharieramzi commented on #34417
@rmothukuru yes sorry I should have closed the issue a long time ago.
I am using it on a regular basis now without problems.
I think we can close this.

[2021-04-08 18:02] #34417 closed

[2021-04-08 18:10] fchollet commented on #48230
Hi there,

You can straightforwardly roll out your own function. Like this:

[code]

You will need to add coverage for all the layers (with weights) you use in your model.

[2021-04-08 18:10] #48230 closed

[2021-04-08 18:40] kkimdev commented on #48238
Thanks for reporting this! Tensorflow has different type promotion rules, and we have an experimental flag to control it.

[code]

[2021-04-08 18:40] #48238 closed

[2021-04-08 18:43] JW1992 commented on #47393
This is an expected behavior. As the trace shows, the tensor is a scalar. As a result len() does not really apply here.

[2021-04-08 18:43] #47393 closed

[2021-04-08 18:52] #47895 closed

[2021-04-08 18:53] Javadcs commented on #48292
Hi, thanks for answering me I appreciated it, that was a great idea to improve performance in this area which had two winters that both of them were related to it.
Can you guide me to know what is the structure of TensorFlow again I would appreciate it.

That was a joke for my friend I didn't intend to write it seriously I hope you and other researchers didn't take any offense
Good luck and good w

[2021-04-08 19:00] grantcroft commented on #48267
I am getting a similar error:

when running in jupyter notebook:

ModuleNotFoundError: No module named '_pywrap_tensorflow'

Error importing tensorflow.  Unless you are using bazel,
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and relaunch your python interpreter
from there.

when just trying to import if va cmd:
ModuleNotFoundError: No

[2021-04-08 19:01] tanguycdls opened #48418 "Deadlock when setting interop thread thread to 1 with a tf Dataset and tf function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux / colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): 2.4.1
- TensorFlow version (use command below):
- Python v

[2021-04-08 19:01] Javadcs commented on #48292
Hi thanks for your concern, I wanted to have a custom topological layer in a CNN but as @AdityaKane2001 said for improving performance which is notable it is impossible right now.

[2021-04-08 19:07] jvishnuvardhan commented on #45537
@eli-osherovich I think this was resolved in recent `tf-nightly`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/6a2199d444d13e52f985cd3d9b67addf/45537-tf-nightly.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-04-08 19:11] advaitjain commented on #48251
OK, thanks for looking into it.

Let's keep this bug open awithout changing anything. I have only seen this issue twice and it might be worth waiting for now.

[2021-04-08 19:16] wiktoria-n commented on #48017
I am having the issue:

No such file or directory
   20 | // #include "tensorflow/c/c_api.h"
      |           ^~~~~~~~~~~~~~~~~~~~~~
compilation terminated.

[2021-04-08 19:16] DCtheTall commented on #48238
@kkimdev thanks for the pointer. Is there is a compelling reason to keep the default behavior of throwing an exception?

[2021-04-08 19:23] #47520 closed

[2021-04-08 19:26] bjacob commented on #48307
i'm out of the office and not actively working on tflite or ruy. @jdduke could help find an owner.

[2021-04-08 19:54] Lucy20211 commented on #48290
Hi @jensmeder, thanks for your reply. Your solution can be very useful; however, I need to use dilated convolutions 1D which are causal (I had not specified this requirement). For this reason, I should use a type of padding which is causal; for layers conv1D I can specify a value for padding equal to "causal", while for conv2D not (one can choose only between "valid" and "same" if I'm right). How

[2021-04-08 20:01] vignesh0710 commented on #48209
@rmothukuru can you please confirm if the initially mentioned ```assertion``` is correct or not?

[2021-04-08 20:03] kkimdev commented on #48238
Each type promotion rule has a trade-off.  historically, TensorFlow has been conservative and arguably it can reduce unexpected type promotion bugs.  Though this decision is not necessarily final and can be revisited (and there have been some discussions).

[2021-04-08 20:48] jvishnuvardhan commented on #45187
@danipozo Looks like this was resolve in recent `tf-nightly`. I couldn't reproduce the error with `tf-nightly`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/4fca1ef51b17c570d8d34da0d5faae44/untitled539.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-04-08 21:33] abattery commented on #48407
@impjdi @lintian06 could you take a look at this?

[2021-04-08 21:38] ymodak commented on #44756
This is fixed with latest tf-nightly. See colab [gist](https://colab.research.google.com/gist/ymodak/13256d6196cff01519be16827b321333/untitled457.ipynb) to know more. Thanks!

[2021-04-08 23:17] freedomtan commented on #48402
I'll say both :-) As far as I can remember, quant models at TFLite hosted models are mostly old QAT ones using UINT8. Nowadays, int8 is the default type.

[2021-04-08 23:29] ValYouW commented on #23747
It was long time ago but I'm quite positive... you can find the converted model in [this](https://github.com/ValYouW/tflite-win-c) repo (file: deeplabv3_mnv2_pascal.tflite)

When you inspect your converted model in Netron, what do you see as output size?
This is what I get in Netron:
![image](https://user-images.githubusercontent.com/4539636/114108176-40f52700-98db-11eb-9be3-674ca56f17e0.png)

[2021-04-08 23:31] freedomtan commented on #48407
@limdlh Assuming all the nodes in you quantized models could be delegated to GPU, then you are comparing CPU int speed and GPU fp16 speed (because GPU delegate has to dequantized your model to floating point).

[2021-04-08 23:33] #44756 closed

[2021-04-08 23:39] jvishnuvardhan commented on #44563
@drasmuss Is this still an issue? I ran your code (colab) with `tf-nightly` and I see almost similar execution times as shown below. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/84158a41c4ab907a05675bee13a98ad5/performance-demo.ipynb). Thanks!

[code]

[2021-04-09 00:07] drasmuss commented on #44563
I think we need to test it on the GPU in order to see whether this is still an issue, it's hard to know whether the CPU results are indicative of GPU performance.

[2021-04-09 00:32] bd050705 commented on #48392
Thank you for your reply. I also can't find any error log from tensorboard debug log. Only Tensorboard UI show "No dashboards are active for the current data set". But log had print "plugin_event_multiplexer.py:201] Starting AddRunsFromDirectory: hdfs://default/tmp/tensorflow/mnist/" and "Done with AddRunsFromDirectory: hdfs://default/tmp/tensorflow/mnist/", it seem to io_wrapper.GetLogdirSubdirec

[2021-04-09 01:17] shelldonhu commented on #48412
OS Platform: Linux Ubuntu 16.04
Distribution: Tensorflow 2.3.0

![image](https://user-images.githubusercontent.com/16998373/114114452-774e9880-9913-11eb-886a-bc958313dbc8.png)

`tf.keras.applications.EfficientNetBX` already contains rescaling and normalization layers, the inputs pixel values will be scaled from [0, 255] to [-1, 1].

[2021-04-09 01:45] w4nderlust commented on #23050
In the meantime, as a worksround, I implemented a GhostBatchNorm class in Ludwig that user BatchNorm internally. Posting it here as it may be useful: https://github.com/ludwig-ai/ludwig/blob/master/ludwig/modules/normalization_modules.py#L6-L38

[2021-04-09 01:51] zhangguanqun commented on #48401
Actually, what I need is a C++ library that support interpreting TF ops as libtensorflowlite_flex_jni.so did on Android.

[2021-04-09 02:19] felipebutcher commented on #36792
@caixxiong exactly the same here! windows with gpu, get this error. linux with cpu, goes fine. i am using the exact same files on both.

[2021-04-09 02:46] rayryeng commented on #45263
For me, I actually had `libcusolver.so.11` available because I am using CUDA 11.1.  For TensorFlow 2.4.1 (as of this date), still refers to `libcusolver.so.10`.  I solved this by making a symbolic link in my `/usr/local/cuda-11.1/lib64` directory so that version 10 points to version 11:

[code]

[2021-04-09 02:53] watson1423 opened #48424 "TypeError: apply_gradients() got an unexpected keyword argument 'global_step' in tf_agents.agents.ReinforceAgent"
<em>First of all I tryed everything in my code and it didn't changed the outcome i dont know where is this global_step coming from not from my code then i belive the problem may be with Tensor if its not i am sorry for posting as Bug Issue but before canceling it Could you at least tell me how can i train my model??
edit: other agents work with the same layout ex DqnAgent worked well
</em>

**Syst

[2021-04-09 03:17] thaink commented on #48401
@zhangguanqun if you use the jni how about building tensorflow-lite.aar and tensorflow-lite-select-tf-ops.aar?

[2021-04-09 03:29] bd050705 commented on #48392
I found that in tensorflow 1.13.1 it had add kerberos support for HDFS, but tensorflow 2.3.1 is not, and my tensorboard use 2.4.1. I also test use tensorflow 2.3.1 read and write kerberos hdfs and result is fail. I wonder is tensorflow not support kerberos for HDFS?

Add Kerberos support for HDFS file system #5398

Error log for tensorflow 2.3.1 listdir for kerberos HDFS

Tensorflow 1.13.1
https:/

[2021-04-09 03:36] zhangguanqun commented on #48401
@thaink I did build tensorflow-lite.aar, and it works fine on my Android app.
Now I want to run my TFLite model on Raspberry Pi using pure C++ interface.

[2021-04-09 03:39] fwz-fpga commented on #48402
@freedomtan thanks for your replay :-).
I am confused what's the reason tflite choose to use int8 rather than uint8, performance or convinent? And where can I download a example int8 qat model to test.
Another question, if qat use int8 for default data_type, then post-training-quantize models and qat models can running the same operation kernels(realize with int8)?

[2021-04-09 03:43] MinasTyuru commented on #48391
@amahendrakar Thanks, Abhilash! To clarify, the failure only occurs on 4 GPUs, not 2; when I try 2 GPUs locally it also trains without any problems. Are you able to access a machine with 4 physical GPUs for testing?

The way our production build system integrates TensorFlow is a little delicate, and as a result, it is quite nontrivial for us to upgrade TensorFlow versions. When I run in a virtuale

[2021-04-09 03:44] Cuids commented on #47916
@Guneetkaur03 @amahendrakar I have the same problem！I‘m doing a semantic segmentation task，i have thousands of pictures and labels. The kernel will died and restart when i use anaconda to train pictures that exceed 1600, but the kernel will not died when i train 1000 pictures.But the result is so bad and i want to train more than 10000 pictures.It hint the information when i use the Pycharm:

2021

[2021-04-09 03:56] Cuids opened #48425 "A large mount of data to load and fit to train causing Anaconda kernel died and restart"
I‘m doing a semantic segmentation task，i have thousands of pictures and labels. The kernel will died and restart when i use anaconda to train pictures that exceed 1600, but the kernel will not died when i train 1000 pictures.But the result is so bad and i want to train more than 10000 pictures.It hint the information when i use the Pycharm:

2021-04-09 11:06:08.187912: W tensorflow/stream_executor

[2021-04-09 03:57] szc11121 commented on #38287
when will this fix release? since its tf2.4.1 now and tf2.6 seems still has a long way to go

[2021-04-09 04:07] AdityaKane2001 commented on #48292
@Javadcs
What do you want to know about TensorFlow's structure? Any specific parts?
I'm also new to this, but I'll try my best.

[2021-04-09 04:35] ericxsun commented on #47547
@bixia1 available for checking this? Thanks a lot

[2021-04-09 05:17] rmothukuru commented on #48209
@vignesh0710,
Yes, the assertion is correct. Please find [this comment from Francois](https://github.com/keras-team/keras/issues/1029#issuecomment-157786333). Thanks!

[2021-04-09 05:29] kvignesh1420 commented on #48392
@bd050705 yes, seems like the support was removed in https://github.com/tensorflow/tensorflow/commit/2cad3742600f3e903bc5a2d1a60ef4b571e7c8f9#diff-b6e19034b00093723ad953a6ffb8528b9d311a86a650be0bb7ad58900bfb03f9 due to:
[code]

[2021-04-09 05:38] ymodak commented on #48412
The [`preprocess_input`](https://www.tensorflow.org/api_docs/python/tf/keras/applications/efficientnet/preprocess_input?version=nightly) docs are updated in nightly versions.

[2021-04-09 05:46] SunBeenMoon commented on #38070
Hi @xiongyu0523
I have the same issue.
Did you fix it?

[2021-04-09 05:48] limdlh commented on #48349
@karimnosseir  Thank you for your answer, it help me much.
By the way, if I want to use NPU, now I could only use NNAPI?

[2021-04-09 05:48] kvignesh1420 commented on #48392
@bd050705 just to test the writes as well, can you please try this and let me know the output:

[code]

[2021-04-09 05:49] Xhark commented on #48402
There's a note on the link: https://www.tensorflow.org/lite/performance/quantization_spec#int8_quantized_operator_specifications

`Note: In the past our quantization tooling used per-tensor, asymmetric, uint8 quantization. New tooling, reference kernels, and optimized kernels for 8-bit quantization will use this spec.`

As far as I know, old TFLite converter (TF 1.x) dtype was uint8, new TFLite co

[2021-04-09 05:52] #48085 closed

[2021-04-09 05:53] vignesh0710 commented on #48209
@rmothukuru thanks. Can I close this issue thread then?

[2021-04-09 05:54] bd050705 commented on #48392
import tensorflow as tf

body = b"1234567"
tf.io.write_file("hdfs://default/testfile.txt", b"1234567")

content = tf.io.read_file("hdfs://default/testfile.txt")
print("CONTENT: {}".format(content))
assert content == body

CONTENT: Tensor("ReadFile_6:0", shape=(), dtype=string)
---------------------------------------------------------------------------
AssertionError                            Trac

[2021-04-09 05:55] rmothukuru commented on #48209
@vignesh0710,
No, please. The issue will be closed automatically once the CL is successfully submitted.

[2021-04-09 06:07] #48370 closed

[2021-04-09 06:22] kvignesh1420 commented on #48392
I hope you set the necessary environment variables before running this. As per [docs](https://github.com/tensorflow/examples/blob/master/community/en/docs/deploy/hadoop.md).

[2021-04-09 06:23] ToBigboss opened #48426 "some qunstions of nnapi delegate"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-04-09 06:32] xiongma opened #48427 "what's the api for get_or_create_global_step() in tf2.0"

[2021-04-09 06:39] LYXwizard commented on #44407
Same problem here and wonder how this is done

[2021-04-09 06:46] sandeep22-v commented on #38589
Not working ser!!

[2021-04-09 07:05] lvyuqi commented on #42129
Does this issue affect the 1.15.5 version?

[2021-04-09 07:10] lvyuqi commented on #42105
Does the CVE-2020-15265 Vulnerability Affect 1.15.5?

[2021-04-09 07:11] thaink commented on #48401
You can add "tensorflow/lite/delegates/flex:delegate" to the deps field of the rule "tensorflowlite" in tensorflow/lite/BUILD

[2021-04-09 07:13] zhangguanqun commented on #48401
@thaink Thank u, I will try it.

[2021-04-09 07:22] UsharaniPagadala commented on #48427
@xiongma
Could you please check [this](https://www.tensorflow.org/api_docs/python/tf/compat/v1/train/get_or_create_global_step) if it helps.Thanks

[2021-04-09 07:30] josefgrunig commented on #23747
I confirm that your model is 513x513, but as last node it uses ArgMax while I need a 4 dimensional output (ResizeBilinear_2).
For this reason I started from the frozen graph and converted the model to tflite, but I get a 65x65 output
<img width="487" alt="Screenshot 2021-04-09 at 09 17 17" src="https://user-images.githubusercontent.com/32868530/114144340-83d3f080-9915-11eb-871a-964c6fc8b8dc.png">

[2021-04-09 08:27] zoxoi commented on #48195
I'm honestly not sure how this isn't clear, it's just a standard micro python project? The `data_loader` is a small module that holds the code the file is under.

I fixed the code in your link by inlining the code:
https://colab.research.google.com/gist/Saduf2019/46f92b2166217c75e27cc97a11ca15f8/untitled584.ipynb#scrollTo=R4gBFl1dMz1-&line=35&uniqifier=1

It runs successfully on the colab gist, bu

[2021-04-09 08:28] cgebbe commented on #39320
Sorry for hijacking this thread, but the solution does not work for me with tensorflow 2.4.1, pycharm and windows. Using the example posted above and an additional `tf.config.run_functions_eagerly(True)` at the top yields the following error message:

"UserWarning: Even though the tf.config.experimental_run_functions_eagerly option is set, this option does not apply to tf.data functions. tf.data f

[2021-04-09 08:38] 1165628028 commented on #48305
I try it in tf2.5, but it also report same error:
`    OperatorNotAllowedInGraphError: iterating over `tf.Tensor` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.`

[2021-04-09 08:42] cgebbe commented on #30653
@jsimsa : Your advice on how to debug is greatly appreciated! However, it doesn't seem to work for me :(. Using tensorflow 2.4.1, pycharm and windows and your code example:

[code]

Result is: The code does not stop at the specified breakpoint