[2018-01-24 08:44] mholzel commented on #16316
@tatianashp I found [this comment in issue 1984](https://github.com/tensorflow/tensorflow/issues/1984#issuecomment-211199897) that was incredibly helpful in understanding what is going on.  But even that comment is not complete [as I note here](https://github.com/tensorflow/tensorflow/issues/1984#issuecomment-359713984). It would be nice for somebody to have a look at these comments and incorporat

[2018-01-24 08:52] #15334 closed

[2018-01-24 09:04] #14940 closed

[2018-01-24 09:09] Anguliachao commented on #16262
@jackyko1991 hi, how did you find this pb.h file, in what directory of the local repository? could you please help me out? I face this problem as well

[2018-01-24 09:50] xiaogea01 commented on #14226
I try to run the offical sample code(https://www.tensorflow.org/programmers_guide/datasets) and get  same error.

error detail:
----> 4   image_resized = tf.image.resize_images(image_decoded, [28, 28])
          5   return image_resized, label

--> 741     raise ValueError('\'images\' contains no shape.')
      742   # TODO(shlens): Migrate this functionality to the underlying Op's.
      743   is

[2018-01-24 09:53] openedhardware commented on #16268
@Geoyi
You saved my day!

[2018-01-24 09:58] jackyko1991 commented on #16262
The pb.h file is generated by protoc using the .cmake file. The issue is
fixed in recent update

2018年1月24日 17:12 於 "Anguliachao" <notifications@github.com> 寫道：

[2018-01-24 10:39] sakaia opened #16358 "Request for updating keras/datasets files to r1.5"
### System information
- **executes Keras sample code imdb_fasttext.py https://github.com/keras-team/keras/blob/master/examples/imdb_fasttext.py**:
- **Windows 7**:
- **TensorFlow installed from binary**:
- **TensorFlow version 1.5.0rc0**:
- **Python version 3.5.1**:

### Describe the problem
Keras sample program does not work.
 There is a bug for numpy arange method wrong usage.
   (Need to fix f

[2018-01-24 10:44] rubenvereecken commented on #11848
Yes, it is, but it's a niche problem with some niche Tensorflow functionality so it shouldn't affect too many people. I've moved on.

[2018-01-24 10:57] ghostplant commented on #16239
Is `config.gpu_options.per_process_gpu_memory_quota_mb=xxx` going to be supported? I think this will help to describe the basic memory usage of a model and makes the same model to conveniently execute among different kinds of GPU.

[2018-01-24 10:57] ghostsun89 commented on #14719
Hi @OdingdongO, I have a question about the image mean and std value of the inceptionv3_slim_2016 model, why the mean and std value are 128? How did you get the value?

[2018-01-24 12:14] freedomtan commented on #16351
Confirmed that NN API stopped to work. I actually sent a one-line PR to fix this issue, https://github.com/tensorflow/tensorflow/pull/16256.

[2018-01-24 12:20] olegserov opened #16360 "Python: Make an alias for "tf.variable" (with a lower "v") so the naming of it is consistent with "tf.placeholder"/"tf.constant""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: N/A
- **Python version**:  N/A
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler ve

[2018-01-24 12:58] mholzel opened #16362 "`tf.foldl` should have more robust input handling (like `tf.scan`)"
### System information
- Windows 10 x64
- Installed from binary
- TensorFlow 1.4.0 (Cpu version)
- Python 3.6.1

### Bug Description
`tf.foldl` (and `tf.foldr`) are conceptually very very similar to `tf.scan`. Therefore the implementations are also very similar. However, `tf.scan` accepts initializer lists or tuples with varying type arguments, while `tf.foldl` does not. I think this is a simple o

[2018-01-24 13:00] sleighsoft opened #16363 "Warning: Table trying to initialize from file ... is already initialized"
Python: 3.6.2
Tensorflow: 1.5.0rc1 pip
OS: Windows 10
No CUDA, just CPU

I get this when creating a lookup table with `tf.contrib.lookup.index_table_from_file`.
As I have multiple graphs I create that table in each graph (from the same file) I need it in. This results in the warning from the title of this issue.

1. Are tables shared across graphs?
2. How to figure out if a table from a specific f

[2018-01-24 13:08] tensorflowbutler commented on #16345
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16255
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16266
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16279
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16282
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16285
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16323
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16329
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16331
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16334
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16338
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:08] tensorflowbutler commented on #16343
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:09] tensorflowbutler commented on #16344
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 13:09] stylite5 commented on #10350
Hello! I meet the same problem as you. Have you solved the problem? Can you tell me what i should do? Hope your answer as soon as possible. Thank you very much!

[2018-01-24 13:09] tensorflowbutler commented on #14132
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #13967
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:09] tensorflowbutler commented on #14131
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14130
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14129
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14095
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14083
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14048
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:09] tensorflowbutler commented on #14041
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14034
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:09] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:09] tensorflowbutler commented on #14007
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #13983
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #13980
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14506
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14133
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14134
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14144
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14188
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:10] tensorflowbutler commented on #14193
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:10] tensorflowbutler commented on #14209
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14217
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14232
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:10] tensorflowbutler commented on #14278
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #14283
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #14302
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #14366
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #14369
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:11] wentian1hao commented on #16264
Thanks a lot! But I want to know why it does not work in the other directory? What's the point?

[2018-01-24 13:11] tensorflowbutler commented on #11548
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #12101
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:11] tensorflowbutler commented on #11541
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #11569
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #11585
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #11604
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #11610
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:11] tensorflowbutler commented on #11626
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:11] tensorflowbutler commented on #11638
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:12] tensorflowbutler commented on #11670
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #11724
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #11726
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #11735
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #11785
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #11802
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #11806
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #12022
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #13931
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #12386
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #13196
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:12] tensorflowbutler commented on #13281
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:12] tensorflowbutler commented on #13433
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13641
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:13] tensorflowbutler commented on #13694
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13705
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13718
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13765
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:13] tensorflowbutler commented on #13838
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13848
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:13] tensorflowbutler commented on #13868
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13890
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #13912
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:13] tensorflowbutler commented on #15852
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #15572
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:13] tensorflowbutler commented on #15576
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15584
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15588
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:14] tensorflowbutler commented on #15717
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:14] tensorflowbutler commented on #15751
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15776
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15779
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15831
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:14] tensorflowbutler commented on #15833
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15839
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15840
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15841
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15846
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:14] tensorflowbutler commented on #15551
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15870
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15873
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15874
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:15] tensorflowbutler commented on #15880
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15883
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15892
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15903
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15904
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15916
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15919
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15920
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:15] tensorflowbutler commented on #15935
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:16] tensorflowbutler commented on #15945
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:16] tensorflowbutler commented on #15049
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:16] tensorflowbutler commented on #14528
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14589
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14613
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14617
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:16] tensorflowbutler commented on #14669
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14742
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14859
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14924
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14929
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:16] tensorflowbutler commented on #14946
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:17] tensorflowbutler commented on #14993
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:17] tensorflowbutler commented on #15034
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:17] tensorflowbutler commented on #15047
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:17] tensorflowbutler commented on #14507
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:17] tensorflowbutler commented on #15062
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-01-24 13:17] tensorflowbutler commented on #15096
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:17] tensorflowbutler commented on #15118
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:17] notsmartenough commented on #12052
It's 2018, almost end of January and installation of TF with CUDA9.1 and CuDNN7 on Windows 10 is still not done?

[2018-01-24 13:17] tensorflowbutler commented on #15144
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:17] tensorflowbutler commented on #15161
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:17] tensorflowbutler commented on #15393
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:17] tensorflowbutler commented on #15463
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:17] tensorflowbutler commented on #15488
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #15490
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:18] tensorflowbutler commented on #15501
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:18] tensorflowbutler commented on #15522
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:18] tensorflowbutler commented on #15549
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:18] tensorflowbutler commented on #7116
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:18] tensorflowbutler commented on #7700
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7634
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7422
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7404
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7394
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7378
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:18] tensorflowbutler commented on #7129
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #7970
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #6847
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:19] tensorflowbutler commented on #6767
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #6733
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #6716
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #6633
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #6624
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:19] tensorflowbutler commented on #6596
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:19] tensorflowbutler commented on #8517
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #9260
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:19] tensorflowbutler commented on #9234
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #9171
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:19] tensorflowbutler commented on #9125
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:20] tensorflowbutler commented on #8745
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8652
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8564
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8550
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #6504
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:20] tensorflowbutler commented on #8416
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8328
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8208
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8112
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8109
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8025
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #8011
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:20] tensorflowbutler commented on #4337
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #5073
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4907
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:21] tensorflowbutler commented on #4821
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4790
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4639
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4638
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4521
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4386
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:21] tensorflowbutler commented on #5277
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #4003
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:21] tensorflowbutler commented on #3636
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #3334
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:21] tensorflowbutler commented on #3001
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:22] tensorflowbutler commented on #2793
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:22] tensorflowbutler commented on #2146
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:22] tensorflowbutler commented on #781
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #5772
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #6456
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #6446
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #6431
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #6360
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #6308
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #5987
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #5938
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #5777
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #9560
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:22] tensorflowbutler commented on #5757
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #5729
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #5676
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #5592
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #5587
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #5492
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #5350
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:23] zuokai commented on #16192
# read images, labels
def read_img(path):
    imgs = []
    labels = []
    #label = []
 for line in open(path):
        label = []
        print(line)
        line = line.replace("\n","")
        strs = line.split('\t')
        imgs.append(strs[0])
        label.append(strs[1])
        label.append(strs[2])
                 if str(temp_str[1]) == "-1":
                    label.append("0")

[2018-01-24 13:23] tensorflowbutler commented on #10789
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #11148
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #11099
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #11092
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #11071
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #11055
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:23] tensorflowbutler commented on #10982
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10958
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10804
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #11181
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10788
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] #16192 closed

[2018-01-24 13:24] tensorflowbutler commented on #10765
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10764
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10747
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10739
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10703
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #10685
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #11366
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #11521
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:24] tensorflowbutler commented on #11463
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11440
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:25] tensorflowbutler commented on #11414
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11411
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11396
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11389
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11370
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:25] tensorflowbutler commented on #10680
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11351
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11345
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11337
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11275
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11271
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:25] tensorflowbutler commented on #11247
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #11187
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #9961
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #10192
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #10179
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #10110
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #10088
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #10083
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #10012
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #9978
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:26] tensorflowbutler commented on #10241
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #9958
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #9946
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:26] tensorflowbutler commented on #9849
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #9770
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 13:27] tensorflowbutler commented on #9690
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #9638
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #9576
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10439
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10675
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10672
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10605
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10585
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10520
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10487
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10479
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:27] tensorflowbutler commented on #10468
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:28] tensorflowbutler commented on #360
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:28] tensorflowbutler commented on #10432
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-24 13:28] tensorflowbutler commented on #10408
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:28] tensorflowbutler commented on #10389
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:28] tensorflowbutler commented on #10370
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:28] tensorflowbutler commented on #10352
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:28] tensorflowbutler commented on #10338
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 13:28] tensorflowbutler commented on #10270
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 13:35] skyson commented on #16317
so, is there any way i can fix the problem? i used the so in the demo apk ([https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite#building-tensorflow-lite-and-the-demo-app-from-source](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite#building-tensorflow-lite-and-the-demo-app-from-source) ) , it crash too

[2018-01-24 13:52] namrata-ibm opened #16364 "Standardizing the saved format and/or converting to big-endian on read"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04 s390x
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.4.1
- **Python version**: 2.7.12
- **Bazel version (if compiling from source

[2018-01-24 14:15] holyseven commented on #16328
I didn't understand that colocate means the same device... but thanks very much, a problem is solved, with a so simple trick!

[2018-01-24 14:15] yanxiangyi commented on #12416
In my case, the failure only occurs when I start Python3 with `sudo`. Remove `sudo` everything is just fine.

[2018-01-24 14:15] #16328 closed

[2018-01-24 14:17] jlewi opened #16365 "Include grpc_tensorflow_std_server in Docker image"
It would be nice if the grpc_tensorflow_std_server was included in the Docker image.

This would prevent users from having to write code just to launch a parameter server because they could just run the stock binary.

Some context in: tensorflow/k8s#16

[2018-01-24 14:27] CD1010 commented on #12101
How?

Get Yahoo Mail for Mobile

  On Thu, Jan 4, 2018 at 2:13 PM, Alfred<notifications@github.com> wrote:
It has been 14 days with no activity and the awaiting response label was assigned. Is this still an issue? Please update the label and/or status accordingly.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-24 14:35] JustinMorsesTester opened #16366 "I have an issue with http://projector.tensorflow.org/ always getting stuck"
Can anyone help me with this issue? I start up the _**Visualizing High-Dimensional Space**_ webstie and it loads until it says something about metadata and never does anything from there. Plese, help. I'm so confused?

[2018-01-24 14:44] oroojlooy commented on #16255
Hi,
As I mentioned in my question, I use python 2.7 with tf 1.4.0 on Debian 8.7 with a K80 with 12GB of memory. I am using CUDA 8 and cuDNN 6. I installed it through pip and did not install bazel.
The whole code is more than 1000 lines and it is not on a public git yet.
If you could not check the error, I'll try to implement a small code to reproduce the error.
Please let me know.
Afshin

[2018-01-24 14:51] skyson commented on #16317
@angersson can you take a look?

[2018-01-24 14:53] #12940 closed

[2018-01-24 14:57] #8897 closed

[2018-01-24 15:11] dakshvar22 commented on #14584
@tensorflowbutler @drpngx we tried the datasetAPI too, but stuck in the same problem.

[2018-01-24 15:28] DEKHTIARJonathan opened #16369 "Unittesting Models with Tensorflow - How to clear the existing graph ?"
Hello dear tensorflowers,

I have already asked the question of [StackOverflow](https://stackoverflow.com/questions/48421308/tensorflow-and-unittests-layer-already-defined), however it seams like nobody can answer my question.

So I hope you will forgive me about reposting it here:

I am developing unittests for a product I implemented with TF.

Each part of the model is tested separately then all

[2018-01-24 15:42] abratchik commented on #16264
no idea mate ) Basically it looks like you can use the tensorflow from any directlry except the one where you run the build scripts.

[2018-01-24 15:47] danijar commented on #4639
This would still be a great feature. Is anyone working on it?

[2018-01-24 15:50] danijar commented on #9260
There is now an easy way to do this:

[code]

[2018-01-24 16:01] andrehentz commented on #16351
Thanks for the report and thanks @freedomtan for the fix.

[2018-01-24 16:05] yongtang commented on #9560
@korepwx I think the issue is addressed in PR #15607 and this issues could be closed.

[2018-01-24 16:05] #9560 closed

[2018-01-24 16:06] henriqueblobato commented on #12250
Im facing the same problem, the inceptionv3 java code its not compatible with the python graph model mobilenet

Doing the modifications that **tangyanlin** suggested:

at exporter.py:346 I find those parameters:
[code]

After the change I have the following code
[code]
How can I proceed now?

- I run exporter.py and will it automatically generate a new graph.pb? I tried with the parameters specifi

[2018-01-24 16:11] yongtang commented on #10432
@sleepfin I think the issue has been addressed in #12273 and could be closed.

[2018-01-24 16:11] #10432 closed

[2018-01-24 16:21] yupbank opened #16370 "add hooks for mutate variables in tf.Estimator"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-24 16:25] mrry commented on #14662
Okay, I'm going to close this issue for now, since you seem to have found a workaround. I suspect TF 1.5 (and the upgraded gRPC in particular) will fix the original program. If the problem comes back and it can't be solved by upgrading, please feel free to reopen the issue.

[2018-01-24 16:25] #14662 closed

[2018-01-24 16:27] cericson commented on #16139
@amathuri looks related to me. I must have missed that when searching for a solution to this problem.

If it's helpful to anyone else, I did end up coming up with a workaround for my particular case. My architecture essentially has a separable 3D convolution, so I only need to convolve in one dimension at a time. My workaround was to use tf.nn.conv2d() instead, reshaping the z dimension into the b

[2018-01-24 16:38] wangrui6 commented on #14897
@pangzhan27  Why does it work out? I am still confused and have the same problem with you.

[2018-01-24 16:40] samikama commented on #16331
Sorry, I forgot these
OS Platform and Distribution: 17.10
TensorFlow installed from: N/A
TensorFlow version: master branch a93f40737d3a7
Bazel  0.9.0 & 0.8.0
CUDA/cuDNN: 9.0/7.0
GPU model & memory: compute 7.0
Exact command to reproduce: ./configure && bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

I added these for sake of completeness. PR #16309 merged a

[2018-01-24 16:40] #16331 closed

[2018-01-24 16:50] #15852 closed

[2018-01-24 17:41] aselle commented on #16366
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-01-24 17:41] #16366 closed

[2018-01-24 17:41] aselle commented on #16365
@angersson, could you please take a look.

[2018-01-24 17:58] fcharras commented on #13289
Fixed by https://github.com/tensorflow/tensorflow/pull/13279

[2018-01-24 17:58] #13289 closed

[2018-01-24 17:58] Davidnet opened #16371 "Tegra Nvidia Jetson TX2 build python 2.7 new CUDA and CUDNN"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-24 18:37] zheng-xq commented on #16239
Thanks for the experiments! This looks convincing enough. I'll ask @chsigg to look into this. Thanks!

[2018-01-24 18:46] yifeif commented on #13287
Looks like the graph transform tool binary is quite large and has significantly increased our pip package size(+ 80MB). Unfortunately we will need to revert the change for graph transform tool. `freeze_graph` will still be available through command line.

[2018-01-24 18:48] simonster commented on #16344
Have I written custom code No
OS Platform and Distribution N/A
TensorFlow installed from GitHub
TensorFlow version 2968447d32bdfd0dd6fafabfcd1aafd6dc261803
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce `tf.variance_scaling_initializer()`

[2018-01-24 18:54] jeffcarp commented on #15892
Yes, it's still an issue.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: N/A
- **Python version**: N/A
- **Bazel version (if compiling from source)*

[2018-01-24 19:03] hanfeisun commented on #14041
@jhseu Thanks, but I find tensorflow estimator doesn't allow me to use tf.nn.sigmoid_cross_entropy_with_logits as the eval_metric_ops..

[2018-01-24 19:18] kpot commented on #16106
Unfortunately there is nothing I can do here myself. I'm not a CUDA/TF developer and don't have the expertise necessary for the task. So for now I simply returned back to classical use of TF via building and executing computation graphs.

Feel free to close the issue if there is nothing that can be done about it at this stage.

[2018-01-24 19:26] Azureum opened #16374 "Windows does not build tflite: No module named 'tensorflow.contrib.lite.toco.python'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Build 16299.192  and Windows 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0rc1 and tf-nightly  1.6.0.dev20180124
- **Python version*

[2018-01-24 19:26] michaelisard commented on #16333
@skye do you understand the Python gradient creation code well enough to understand what is/should be going on here?

[2018-01-24 19:28] asimshankar commented on #16106
@kpot : As a workaround, can you keep your integer variables on CPU? And furthermore, you can enable silent copying of tensors between CPU and GPU in a way that may cost performance (when the copies happen), but will work. Something like this:

[code]

This will be more similar to graph where the variable is actually placed in CPU memory and the contents are transparently transferred to GPU when n

[2018-01-24 19:30] michaelisard commented on #1984
Right, "all its inputs" means "all the Op's inputs" not "all the loop's inputs". Would you like to submit a PR to incorporate the comment in the doc in a way that you think is going to comprehensible? Sometimes it's hard to tell from inside the codebase :/

[2018-01-24 19:38] carlthome commented on #13287
How come it is so big?

[2018-01-24 19:39] tfboyd commented on #11181
Apologies for taking months, that guide is not mine and I do not know much about it.  I am going to close this as it has been a long time and tflite has other suggestions for quantization I believe.  It is very possible to guide is still difficult to follow.  @aselle and @petewarden incase they want to reopen or have an idea.

[2018-01-24 19:39] #11181 closed

[2018-01-24 19:41] tfboyd commented on #10982
Adding @hpucha incase there is interest in fixing or enhancing the tutorial or close.

[2018-01-24 19:49] tfboyd commented on #12052
[1.5 is RC](https://pypi.python.org/pypi/tensorflow) with CUDA 9 + cuDNN 7 and should go GA in the next few days.   (CUDA 9.1 was GA in December and requires another device driver upgrade that is disruptive to many users, we likely will not move to CUDA 9.1 in the default build).

I opened an [issue](https://github.com/tensorflow/tensorflow/issues/15140) to discuss CUDA 9.1 that many people have a

[2018-01-24 19:56] tensorflowbutler commented on #16358
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 19:56] tensorflowbutler commented on #16356
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 19:56] tensorflowbutler commented on #16354
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 19:56] tensorflowbutler commented on #16350
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 19:57] tensorflowbutler commented on #16348
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 19:57] tensorflowbutler commented on #16347
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-24 19:57] tensorflowbutler commented on #15830
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15978
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 19:57] tensorflowbutler commented on #15968
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15965
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15964
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15962
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15953
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15872
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #7956
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 19:57] tensorflowbutler commented on #15636
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:57] tensorflowbutler commented on #15620
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 19:58] tensorflowbutler commented on #15554
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 19:58] tensorflowbutler commented on #15445
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:58] tensorflowbutler commented on #15384
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:58] tensorflowbutler commented on #15336
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:58] tensorflowbutler commented on #15267
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:58] tensorflowbutler commented on #15026
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 19:58] tensorflowbutler commented on #14580
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-24 19:58] mholzel commented on #1984
I could do the PR, but I still do not understand this completely myself....

I think the docs should be updated with a MWE to illustrate exactly what is going on. If you have a good example which demonstrates good vs bad practice, I would appreciate it. Particularly, I think the docs need to have an example that illustrates the "gotchas" here, that is, the innocuous things that might be slowing do

[2018-01-24 19:58] tensorflowbutler commented on #14250
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 19:58] tensorflowbutler commented on #12598
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-24 19:58] tensorflowbutler commented on #12090
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 19:58] tensorflowbutler commented on #11651
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-24 20:05] David-Levinthal commented on #15492
same issue on jan 23
ubuntu 16.04 cuda9.1 cudnn7.04 bazel 0.9
git clone https://github.com/tensorflow/tensorflow
cd tensorflow
git checkout r1.4
./configure
 bazel build -c opt --copt=-march="haswell" --config=cuda --verbose_failures //tensorflow/tools/pip_package:build_pip_package >pip_package_build2.log 2>&1
 vi pip_package_build2.log
                          clearly failed to build..usual mess

[2018-01-24 20:13] kang-lee commented on #16308
This error means that tf lite can not create a valid model driver (a.k.a. Interpreter) with the given model file. I tried to reproduce this error with two large models: one is ~150MB, and another one is over 600MB. Both of them worked fine. It is likely that the model file that you used is not a valid tf lite model, or the tf lite runtime that you used does not support all the ops of the model. ht

[2018-01-24 20:13] michaelisard commented on #1984
Let's take the limiting case where parallel_iterations is infinity. Now, if you imagine unrolling the whole loop as a dataflow graph, then the graph will just execute according to its data dependencies.

So in your example, there can't be two instances of `y` running in parallel, because `y`'s input in step `i+1` is the output of `y` in step `i`. Likewise, there can't be two instances of `i+1` run

[2018-01-24 20:22] wolffg commented on #11099
This image has been updated.

[2018-01-24 20:22] #11099 closed

[2018-01-24 20:26] tatianashp commented on #3332
@zheng-xq Are you interested in adding fast implementation of group convolution that maps to CuDNN 7?

[2018-01-24 20:27] mholzel commented on #1984
Excellent example and discussion. Precisely along the lines of what should be in the docs.

[2018-01-24 20:49] ViktorM commented on #12052
I hope it will be finally CUDA 9.1, not 9.0.

[2018-01-24 21:14] mrry commented on #16354
The `Dataset.map()` transformation works with any shape of input or output, and you can use it before or after a `Dataset.batch()` transformation (to handle single elements or batches of elements, respectively).

I'm not sure what's missing. Can you give an example of what goes wrong, such as a code snippet and an error message?

[2018-01-24 21:14] yzhwang commented on #11271
Close due to inactivity. Feel free to reopen if the issue still exists.

[2018-01-24 21:14] #11271 closed

[2018-01-24 21:17] omatai commented on #16350
Seriously? Read it – it specified ALL SYSTEMS/SYSTEM INDEPENDENT.

You provide no instructions on how to write or punctuate N/A (would “n/a” or “not applicable” be acceptable?) and in any case I cannot LEAVE it as “N/A” because there was no “N/A” there to leave in the first place.

If the form is machine read, then please provide the parsing instructions that the machine will use (e.g. “please rep

[2018-01-24 21:26] drpngx commented on #10088
See https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h#L424

[2018-01-24 21:26] #10088 closed

[2018-01-24 21:34] fritzfitzpatrick commented on #10815
Has someone managed to get the new InferenceHelper to work with floating point regression tasks?
I am feeding the encoder a tensor [batch, 100 time steps, 4 features], decoder input and decoder expected output are of shape [batch, 10 time steps, 1 feature]. Training works nicely with the TrainingHelper and converges to an okay loss, but I am stuck with getting the inference part to work. The data

[2018-01-24 21:46] thomasquintana commented on #13766
In which release are sparse tensors supported? I have 1.4.0 and I'm getting the following error:

[code]

[2018-01-24 21:49] mrry commented on #13766
They're supported in TF 1.5.0.

[2018-01-24 21:50] thomasquintana commented on #13766
Ty!

[2018-01-24 22:16] jhseu commented on #14041
Yeah, but couldn't it be wrapped with tf.metrics.mean()?

[2018-01-24 22:27] notsmartenough opened #16379 "No module named 'tensorflow'. Anaconda+windows10+tensorflow-gpu+cuda8+cudnn6"
I had anaconda on my windows 10.
I installed CUDA 8.0 with cuDNN 6 and then followed [http://blog.nitishmutha.com/tensorflow/2017/01/22/TensorFlow-with-gpu-for-windows.html](url) to activate tensorflow-gpu environment. Now when I import tensorflow in the console, it works but with jupyter notebook opened right in this environment it throws the error. I even upgraded setuptools as mentioned in a pr

[2018-01-24 22:30] XingyuGuUCSD commented on #10827
same issue, and the training process seems really slow

[2018-01-24 22:36] yzhwang commented on #10827
@XingyuGuUCSD I think the slow training process is probably another issue. When you say slow, what are you comparing to? Also, could you verify that you have correctly set the GPU support during the configuration and have put nodes on the GPU when building the graph? If you believe the slow training process is an issue, please search for other similar ones or open a new one with more detailed logg

[2018-01-24 22:41] notsmartenough commented on #16288
When I try `conda create -n tensorflow-gpu python=3.5.4`
it throws the error 'CondaValueError: prefix already exists: C:\Anaconda3\envs\tensorflow-gpu'
After, `activate tensorflow-gpu` , this ipython or spyder fails to import tensorflow while console does it similar to OP's issue. Any idea why? (decided to add this as an issue https://github.com/tensorflow/tensorflow/issues/16379)

[2018-01-24 22:48] XingyuGuUCSD commented on #10827
@yzhwang I just update tensorflow and cuda. The GPU-util is high, while the training process is slower, compared with the previous same training program. And the log shows no info for cudnn and  gpu. Thus, I think it may be the problem with the cudnn

[2018-01-24 22:54] #13713 closed

[2018-01-24 22:55] drpngx commented on #8642
OK, @petewarden fix does not require new code or fixes on our side, so closing. Feel free to reopen.

[2018-01-24 22:55] #8642 closed

[2018-01-24 22:56] drpngx commented on #13851
@Randl if you send a PR we can go from there.

[2018-01-24 22:56] drpngx commented on #13763
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-24 22:56] #13763 closed

[2018-01-24 22:57] drpngx commented on #14048
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-24 22:58] drpngx commented on #14742
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-24 22:58] #14742 closed

[2018-01-24 22:59] drpngx commented on #15118
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-24 22:59] #15118 closed

[2018-01-24 23:01] drpngx commented on #7116
@fenrus75 ok thanks, it's probably using a straight `cc_library` or not using `tf_copts()` somewhere in the `BUILD` file. Would you mind sending a PR?

[2018-01-24 23:04] thomasquintana commented on #13766
Unfortunately, no support for batching padded sparse tensors. Currently getting this  error:
[code]

Any thoughts on when this will work?

Cheers,
Tom

[2018-01-24 23:13] sakaia commented on #16358
Part of  parameters are already written, I add it

Bazel version                      NOT used (since it is binary)
CUDA/cuDNN version       NOT used
GPU model and memory   NOT used
Exact command to reproduce

       get file from https://github.com/keras-team/keras/blob/master/examples/imdb_fasttext.py
       edit import path from keras to tensorflow.python.keras like follows
[code]
       execut

[2018-01-24 23:22] drpngx commented on #13765
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-24 23:22] #13765 closed

[2018-01-24 23:24] drpngx commented on #14584
I see. That looks like a `cond` problem.

/CC @skye

[2018-01-24 23:38] drpngx commented on #11549
Oh yeah, that's a known gotcha. @mas-dse-greina right, that might be a good idea. Maybe file a separate issue for tracking the feature request.

[2018-01-24 23:38] #11549 closed

[2018-01-24 23:39] drpngx commented on #15136
@ccordoba12 would you be willing to submit a PR?

[2018-01-24 23:39] drpngx commented on #11651
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-24 23:39] andrehentz commented on #14581
It should be working now. I'll close this.

[2018-01-24 23:39] #14581 closed

[2018-01-24 23:41] andrehentz commented on #14642
Please reopen and add details if this still happens.

[2018-01-24 23:41] #14642 closed

[2018-01-24 23:43] quaeler commented on #16379
If, instead of just typing `jupyter` on command line from inside your active conda environment, you type `jupyter --paths` is it listing paths in the virtual environment?

[2018-01-24 23:49] mas-dse-greina opened #16381 "Distributed TensorFlow without shared directory"
It seems like there is an inherent assumption in Distributed TensorFlow that all nodes must share a common file system, such as google cloud or NFS.

I've found in testing that models will train just fine without a common file system, but the final trained model doesn't save properly when you try something like:
`builder = tf.saved_model_builder.SavedModelBuilder(export_dir)
...
builder.save()`

T

[2018-01-24 23:54] andrehentz commented on #15093
sub is available now.

[2018-01-24 23:54] #15093 closed

[2018-01-24 23:54] eyaler commented on #14107
my memory issue on linux/cpu is solved. however i am now seeing +90% (!) longer train times on windows with tf1.4 and cuda 8 on 1080ti. would appreciate any help debugging this

[2018-01-25 00:01] tatianashp commented on #16370
@yupbank Could you please post an example of the functionality that you are asking for?

[2018-01-25 00:03] yzhwang commented on #4521
Verified with TensorFlow 1.4.1 and it has been fixed.

[2018-01-25 00:03] #4521 closed

[2018-01-25 00:10] #16106 closed

[2018-01-25 00:11] yzhwang commented on #5772
#15264 has been merged, so I believe the issue should have been fixed by that. Please reopen if it still exists.

[2018-01-25 00:11] #5772 closed

[2018-01-25 00:14] yzhwang commented on #14147
Close this. Please refer to https://github.com/tensorflow/tensorflow/issues/14169#issuecomment-355498651

[2018-01-25 00:14] #14147 closed

[2018-01-25 00:21] yzhwang commented on #10827
@XingyuGuUCSD Since this issue is about cuda/cudnn logging, it has nothing to do with performance regression. Please do feel free to open up a new issue for others to investigate. Thank you.

[2018-01-25 00:29] abomm commented on #4827
I just had this exact same problem. I had to use the above advice and found my libcuda directory with this lost shared object, and in my case I ran:

[code]

...and then everything worked for me when I ran my Tensorflow script in `python3.6` .

[2018-01-25 00:37] tatianashp commented on #16362
@mholzel Thank you for suggesting this feature. As you already have the code, please submit it as a pull request.

[2018-01-25 00:37] #16362 closed

[2018-01-25 00:59] Soonhwan-Kwon commented on #13939
It seems library for quantization is gemmlowp and it is C++ library and CPU only.

[2018-01-25 01:01] tatianashp commented on #16360
@olegserov Thank you for your feedback. You can use tf.get_variable() instead of tf.Variable() to keep everything lower case.  Please see https://www.tensorflow.org/api_docs/python/tf/get_variable for details on the API.

[2018-01-25 01:01] #16360 closed

[2018-01-25 01:10] tatatodd commented on #9307
Closing this out as a duplicate of #9525.  Follow-up there with additional details.

[2018-01-25 01:10] #9307 closed

[2018-01-25 01:11] tatianashp commented on #16320
Thank you for noticing this issue. As you already submitted PR that fixes it I am closing the issue.

[2018-01-25 01:11] tatianashp commented on #16320
Thank you for noticing this issue. As you already submitted PR that fixes it I am closing the issue.

[2018-01-25 01:12] #16320 closed

[2018-01-25 01:13] tatianashp commented on #16278
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-25 01:13] #16278 closed

[2018-01-25 01:15] tatatodd commented on #9319
Any thoughts @aselle @petewarden on NNPACK?

[2018-01-25 01:17] kk-huang commented on #16308
Hello kang-lee:
Many thanks for your response. I will try to use the updated tf lite to dump the error message.
And post the error messge here.

Thanks

[2018-01-25 01:17] tatatodd commented on #9487
@sedghi is this still a problem for you?

[2018-01-25 01:19] tatatodd commented on #9545
Maybe @jart has some ideas?

[2018-01-25 01:22] #15529 closed

[2018-01-25 01:23] mattdingmeng commented on #1888
I have the same issue. When I use C++ api 'set_visible_device_list("0")', the program crash and said 'E tensorflow/core/common_runtime/gpu/process_state.cc:130] Invalid allocator type: 0
Segmentation fault (core dumped)'

I think it's a bug. @kitterive @bravelywangexocr @RexYing

[2018-01-25 01:26] tatatodd commented on #9747
@suharshs has been working on MetaGraphDef related stuff, and might have some ideas.

[2018-01-25 01:30] tatatodd commented on #9823
@rmlarsen any updates on the more general solution?

[2018-01-25 01:33] tatatodd commented on #9901
Marking as contributions welcome; @yaroslavvb has already diagnosed the problem and listed potential solutions.

[2018-01-25 01:34] tatianashp commented on #16352
@fmfn Could you please provide more information about the issue? The form that you copied in the issue needs to be filled. We need this information to understand the problem that you are reporting.

[2018-01-25 01:36] tatatodd commented on #10215
What do you think @fchollet?  If you agree with this, please add the "contributions welcome" label.

[2018-01-25 01:36] #16268 closed

[2018-01-25 01:38] tatianashp commented on #16288
@kubesji1 Did @quaeler advice help you?

[2018-01-25 01:39] tatatodd commented on #10299
@petewarden @andrewharp any updates on documentation for selective registration?

[2018-01-25 01:41] tatatodd commented on #10375
@ebrevdo any updates on sparse-sparse matmul support?  Should this be "contributions welcome"?

[2018-01-25 01:44] tatatodd commented on #10535
@laoreja Is this still a problem for you?  If so, have you tried the latest release of TensorFlow?

[2018-01-25 01:45] tatatodd commented on #10731
@chenghuige Is this still a problem for you?

[2018-01-25 01:51] tatianashp commented on #16260
@asimshankar Could you take a look?

[2018-01-25 01:52] tatatodd commented on #10815
@ebrevdo perhaps you can summarize the state of this issue?  I.e. should it be closed, or are there remaining tasks to complete?

[2018-01-25 01:55] tatatodd commented on #10837
@mrry might have some thoughts, as this is related to input data pipelines.

[2018-01-25 01:57] tatatodd commented on #11157
@ebrevdo any updates on reproducing or fixing this issue?

[2018-01-25 01:59] tatatodd commented on #11163
Closing this out since #11283 was merged long ago.

[2018-01-25 01:59] #11163 closed

[2018-01-25 02:06] dr4b commented on #13281
I'm reassigning this to Mark because the PR in question is also assigned to him.

(It's also possible we could close out this bug, but I'll leave that up to others.)

[2018-01-25 02:08] tatatodd commented on #11171
Very cool @yaroslavvb!

@MarvinTeichmann does Yaroslav's package resolve this issue?

[2018-01-25 02:12] tatatodd commented on #11339
I believe the original issue (add python audio ops) has been resolved, closing this out.

If you feel there are remaining problems, either file a new issue, or ping this issue and I'll re-open.

[2018-01-25 02:12] #11339 closed

[2018-01-25 02:20] zmjjmz opened #16385 "Estimator built with keras.estimator.model_to_estimator fails on Estimator.export_savedmodel"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 3.16.36
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: ('v1.4.0-19-ga52c8d9', '1.4.1')
- **Python version**: 2.7.9
- **Bazel version (if

[2018-01-25 02:21] tatatodd commented on #11341
Looks like #12832 was merged, which (I believe) resolves this issue.  If I'm mistaken, just ping this issue and I'll re-open.

[2018-01-25 02:21] #11341 closed

[2018-01-25 02:25] tatatodd commented on #11361
@josh11b perhaps you can make a call as to whether we'll attempt this change (or accept "contributions welcome"), or if it just doesn't seem worth it?

[2018-01-25 02:28] tatatodd commented on #11399
Assigning to @yongtang who has PR #12971 pending.

[2018-01-25 02:29] tatatodd commented on #11447
Any updates @ysuematsu?

[2018-01-25 02:33] tatatodd commented on #11777
@liuzqt Is this still an issue for you?  Have you tried the suggestions by @andrewharp and @rjlee0 above?

[2018-01-25 02:35] tatatodd commented on #11823
@reedwm looks like you reproduced the issue and have some state here.  How do you suggest we proceed?

[2018-01-25 02:37] tatatodd commented on #12143
@YongCHN Is this still an issue for you?  Have you tried on the latest TensorFlow release?

[2018-01-25 02:38] ebrevdo commented on #10815
I think we can close this, InferenceHelper essentially solved the problem.  For remaining how-do-i-do-X type questions, stackoverflow is a better venue.

[2018-01-25 02:38] #10815 closed

[2018-01-25 02:40] tatatodd commented on #12683
@jlebar @sanjoy do one of you have time to look into this issue?

[2018-01-25 02:48] tatatodd commented on #13069
@caisq any other advice here?

[2018-01-25 02:52] tatatodd commented on #13463
@huangrandong @guillaumekln @tjvandal @homink @rjbruin @FirefoxMetzger have any of you been able to create a small example that reproduces the problem?  That would help us track down the problem.

[2018-01-25 02:54] tatatodd commented on #13487
Closing this out - looks like it was resolved.

[2018-01-25 02:54] #13487 closed

[2018-01-25 02:55] tatatodd commented on #13499
@laoreja what do you think about @ekelsen's advice?

[2018-01-25 03:02] tatatodd commented on #13519
@ysuematsu might have some ideas.

[2018-01-25 03:06] zmjjmz opened #16386 "Using keras layers within an Estimator either causes training where it shouldn't or corrupts weights"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Debian 3.16.36
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: ('v1.4.0-19-ga52c8d9', '1.4.1')
- **Python version**: 2.7.9
- **Bazel version (if

[2018-01-25 03:09] rajeev595 opened #16387 "Tensorflow not using GPU"
I use windows in my laptop. Initially tensorflow worked well with GPU. I don't know why suddenly it's not detecting the GPU. I am using tensorflow-gpu 1.4 version (installed with pip install tensorflow-gpu) with CUDA 8.0 and cudnn 6.0. I also tried with other versions but the problem persists. Attached is the error message shown. I appreciate any help :)

### System information
- **Have I written

[2018-01-25 03:19] #15620 closed

[2018-01-25 03:21] caisq commented on #13069
@sherkwast This bug is kind of old. Are you still having this issue with the latest tensorflow code?

[2018-01-25 03:23] Aashit-Sharma commented on #16279
OS Platform and Distribution : Windows 7 Professional
TensorFlow version 1.4.0
GPU model and memory : currently running on CPU (i5) , 8GB RAM
Rest are not relevant to my case
Exact command to reproduce:

I was creating a decoder rnn with GRU cell. Here is the function:

`def nl_decoder(self):

		with tf.variable_scope("NL_Decoder"):
			self.decoder_nl_cell = tf.contrib.rnn.GRUCell(self.nl_dec_size

[2018-01-25 03:29] demidroid opened #16388 "java.lang.InternalError: Cannot find requested resource bundle for locale en_US"
bazel version  0.9.0
java version "1.8.0_161"
os：Ubuntu 16
编译之后出现这个错误，
 Building tensorflow/examples/android/libtensorflow_demo.jar (24 source files) failed (Exit 1)
java.lang.InternalError: Cannot find requested resource bundle for locale en_US

应该如何修改呢，谢谢啦

[2018-01-25 04:20] liuliu commented on #11361
Thank you! Yes, if you guys can accept the contribution, I can prepare the patch.

[2018-01-25 04:23] orshi opened #16390 "Maybe bug in quantize_graph.py"
In line 489 of quantize_graph.py
[code]
The initial value of dic *self.already_visited* is empty ,so the statement
[code]
may raise exception.
So I think it would be better to update to ：
[code]
Same issue also in ：
[code]
Please take a look, thanks!

[2018-01-25 04:59] shayan09 commented on #12388
My code was running on the CPU, so I changed tensorflow-gpu from version 1.4.1 to 1.2.1 and now it shows me the following error. Please help me out here.
----------------------------------------------------------------------------------------------------------------
Using TensorFlow backend.
Traceback (most recent call last):
  File "extract_features.py", line 16, in <module>
    from data import

[2018-01-25 06:00] ankitvgupta commented on #16203
Ok, I think I have a pretty simple PR that addresses this, and also adds early stopping params for the ValidationMonitor. It is here: https://github.com/tensorflow/tensorflow/pull/16391

[2018-01-25 06:06] ankitvgupta commented on #16203
Also, it looks like my feature request was already partly implemented in the master branch. However, the train_and_evaluate function was not using the parameter that was added to the constructor.

[2018-01-25 06:11] jstumpin commented on #16138
For a workaround on issue pertaining to the "adjust_contrast_op_gpu.cu.cc" error (and many more Eigen::half-related errors afterwards), do try out these steps:

[Post-CMake]
1. Make proper amendments to all targeted CUDA capabilities in "..\tensorflow\contrib\cmake\CMakeLists.txt" (fixing "cuda_config.h" after CMake as suggested in [here](https://github.com/tensorflow/tensorflow/issues/14691#issue

[2018-01-25 06:17] ccyjava commented on #12745
I meet the same problem, after several hours debug, i found that because the order of the cluster_spec is incorrect, in other word, the  task_index miss match with the ps/worker list, after i change the order, it fixed....

[2018-01-25 06:20] usu008 opened #16392 "tensorflow object detection issue"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-25 06:22] usu008 opened #16393 "tensorflow object detection issue"
i developed the custom object detector with some 96 images (train 76 and test 20) after trained 200k steps my losses(1) goes down correctly....after that i create the interference graph all ok..........but my question is when i run my code to detect the object from video it not able to find the correct object ........ thanks in advance.....

actually i think we have a enough image for the dataset.

[2018-01-25 06:28] #16392 closed

[2018-01-25 06:40] asimshankar commented on #16260
@wintsonpryme : I apologize, but I'm not sure I fully follow your question. But hopefully some background here will be informative.

If you're using maven and following the instructions at https://www.tensorflow.org/install/install_java#using_tensorflow_with_a_maven_project
then the native libraries are automatically be included (and extracted). This happens because the [`org.tensorflow:tensorflow

[2018-01-25 06:48] asimshankar commented on #16364
For context, this has come up before (see https://github.com/tensorflow/tensorflow/issues/11290#issuecomment-321380067 for example).

[2018-01-25 06:51] asimshankar commented on #16347
Closing this as a duplicate of a [StackOverflow query](https://stackoverflow.com/questions/48393098/how-to-convert-data-to-a-serialized-tf-exampletensorflow-tfrecords-using-golan) and #16282

Please let me know if I'm mistaken.

[2018-01-25 06:51] #16347 closed

[2018-01-25 06:54] asimshankar commented on #16282
Adding the `go_package` to protobuf files seems reasonable.
Marking as Contributions Welcome, we'd welcome a PR.

[2018-01-25 06:58] Anjum48 commented on #16348
Have I written custom code: N/A
OS Platform and Distribution: Linux
TensorFlow installed from: pip
TensorFlow version: tensorflow-gpu 1.5.0rc1
Bazel version: N/A
CUDA/cuDNN version: 9.1 & 7
GPU model and memory: N/A
Exact command to reproduce: N/A

[2018-01-25 07:03] asimshankar commented on #16369
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

(Might I suggest waiting more than a couple of hours for someone to respond on StackOverflow :))

[2018-01-25 07:03] #16369 closed

[2018-01-25 07:13] tensorflowbutler commented on #16327
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-01-25 07:13] tensorflowbutler commented on #16363
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 07:13] tensorflowbutler commented on #16369
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 07:13] tensorflowbutler commented on #16381
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 07:43] aisuni opened #16396 "tf.image.resize_image_with_crop_or_pad() is taking too much time to process an image or batch of images"
ISSUE:
I am stuck in fine tuning imagenet data rendering speed for the reason being tf.image.resize_image_with_crop_or_pad() is taking too much time to process an image or batch of images.
```Testing was done by preprocessing ONE image (no batching) and an observed latency was `~160msec`. ```

NOTE: I did not observe memory pressure or any possible compute bottleneck during this time.
Description:

[2018-01-25 08:00] sswv opened #16397 "S3 accessing reports "Curl returned error code 6" after AWS SDK upgrading to 1.3.15"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS 7.2
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5.0rc1 (tag) and master (2e5ff39e)
- **Python version**: 2.7
- **Bazel version (if compili

[2018-01-25 08:12] notsmartenough commented on #16379
I don't think so.
I just started my computer and did `activate tensorflow-gpu`. Do I need to create a conda env?
![capture5](https://user-images.githubusercontent.com/10391022/35377497-6711e3f6-01d5-11e8-9688-d50af933a6cb.JPG)

[2018-01-25 08:19] automateljw commented on #16354
mrry, thank your reply.   I put Dataset.map() after Dataset.batch() , it can work for train input_fn and serving input_fn ( use same parse op ), it's my fault!

[2018-01-25 08:19] #16354 closed

[2018-01-25 08:22] chrisc36 commented on #11651
I can confirm this still occurs in tensorflow 1.4.1, for example if I run:

[code]

 I would still find it useful if this feature was added.

[2018-01-25 08:28] playgithub opened #16399 "Does TensorFlow 1.5 support CUDA 9.1?"
My notebook has an MX150 display adapter, someone said that it's available with CUDA 9.1

[2018-01-25 08:31] marek-krcal commented on #13433
I don't want to turn this thread into a monologue, but I think I do have one more thing worth a short mention: a simple workaround to my 8GB-limit problem is to make two data variables. I did not try to push the limits but I definitely managed to get beyond the 8GB.  (I also did not try whether I could fit more data by using half precision floats)
It is a bit ackward to have the dataset split amon

[2018-01-25 08:40] DhashS commented on #9489
I fixed this by running as root.

[2018-01-25 08:57] notsmartenough commented on #16379
I realised jupyter is not installed in the tensorflow-gpu environment so I did `conda install jupyter` and now the `--path` shows the env. When I see`conda list` I realize many packages missing and everytime I have to install, I have to download, which consumes data. Is there a way to download once and install into every new environment I create?
Btw,  now TF can be imported in jupyter, but still

[2018-01-25 08:58] kubesji1 commented on #16288
Sorry, I thought I've responded but I don't see my answer here. Yes, it helped.

[2018-01-25 09:14] tensorflowbutler commented on #16387
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 09:15] tensorflowbutler commented on #16388
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 09:15] tensorflowbutler commented on #16390
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 09:17] fritzfitzpatrick commented on #12065
@RylanSchaeffer I am facing a similar issue, just not working on vectors but on regular good old floating point numbers for time series forecasting. Would you mind me contacting you via mail with a few short questions regarding your InferenceHelper implementation?

[2018-01-25 09:19] NLPpupil commented on #6683
same problem with you ! now i fix it by saving the vocab once and load it later traing, thank you your reminder! @flrngel

[2018-01-25 09:23] wentian1hao commented on #16264
OK，Thanks anyway！

[2018-01-25 09:27] rjbruin commented on #13463
FYI: for my part I have not been having the issue anymore for a while now. I am running multiple training scripts every day on TensorFlow 1.3 without issue. We are using the same set-up as before, where the TFRecords are accessed over a NFS mount and we are still using the same sets of TFRecords as before.

[2018-01-25 09:33] mpkuse commented on #14477
I have same error.
[code]

[2018-01-25 09:48] hsm207 commented on #16386
The solution is to create the embedding layer like this:

[code]

I think using the `weights` argument to initialize the [Embedding ](https://keras.io/layers/embeddings/)layer has been deprecated.

[2018-01-25 10:13] mpkuse commented on #15142
had the same issue, solution from @frankgh  works!

[2018-01-25 10:17] sakaia opened #16400 "[doc] link to "How to Use t-SNE Effectively" from embeddings is broken"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)  NO (since Web page problem)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04) Windows 7**:
- **TensorFlow installed from (source or binary) binary**:
- **TensorFlow version (use command below) 1.5.0rc0 **:
- **Python version  3.5.1**:
- **Bazel version (if compili

[2018-01-25 10:33] shakedel commented on #15953
reposting for the butler
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): N/A
TensorFlow installed from (source or binary): N/A
TensorFlow version (use command below): latest (1.5.0-rc0)
Python version: N/A
Bazel version (if compiling from source): N/A
GCC/Compiler version

[2018-01-25 10:52] qmick commented on #16399
Not officially support, but someone manage to build TF1.5 with CUDA9.1, see #15140

[2018-01-25 11:27] #15904 closed

[2018-01-25 11:29] qmick commented on #16390
Yes, I can produce the error. It's quite strange that we do not have a test case of `GraphRewriter` with `mode=quantize`.
`round_nodes_recursively` do not have this issue since it test whether keys are in dict firstly.

[2018-01-25 11:57] selcouthlyBlue commented on #16235
I'll go ahead and make a pull request anyway.

[2018-01-25 12:15] selcouthlyBlue commented on #16235
I already made a pull-request: https://github.com/tensorflow/tensorflow/pull/16402

[2018-01-25 12:25] #16379 closed

[2018-01-25 12:40] zmjjmz commented on #16386
Hm, ok I'll see if I can replicate this using the proper initializer, however the zeros matrix is just for demonstration.

The reason I'm using the `weights` argument here is that in reality I have a bunch of pre-trained embeddings I'm trying to initialize the layer with. Is the correct way to do that now a custom initializer for those embeddings?

[2018-01-25 12:50] deichbrise opened #16403 "1D Convolution in Tensorflow Serving"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: tensorflow binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.6
- **CUDA/cuDNN version**: 9.0, 7.0
- **GPU model and memory**: GTX 1050

### Describe the problem
The Problem is a little bit hard to reproduce, I guess be

[2018-01-25 12:57] LionSR commented on #15833
I don't think this problem has been solved @tensorflowbutler

[2018-01-25 13:09] rolla12 commented on #15140
arunmandal53c can you update this http://www.python36.com/install-tensorflow-gpu-windows to include bazel too

[2018-01-25 13:23] arunmandal53 commented on #15140
@rolla12 Using cmake is more stable than bazel on windows. I will update the tutorial if issues in bazel build fixed for windows. Using Network installer of cuda 9.1 toolkit update your driver to latest version which may have compatibility with latest linux kernel. If you have issue to load nvidia driver then you can downgrade linux kernel by going to advanced option for ubuntu in boot menu. Then

[2018-01-25 13:30] tensorflowbutler commented on #16393
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-25 13:30] tensorflowbutler commented on #11905
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-25 13:30] tensorflowbutler commented on #13329
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-25 13:30] tensorflowbutler commented on #15990
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-25 13:30] tensorflowbutler commented on #15992
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-25 13:31] tensorflowbutler commented on #15994
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-25 13:31] tensorflowbutler commented on #16004
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-25 13:38] rajeev595 commented on #16387
@tensorflowbutler Thanks for your response. I have edited the same :)

[2018-01-25 13:42] rolla12 commented on #15140
use it worked with 4.10 but give not sufficient driver with 4.13

[2018-01-25 13:59] qmick commented on #16390
Found some discussion here #8999. It seems this python script is dprecated and the new [Graph Transform Tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms/#eight-bit-calculations) is recommended. Maybe we can close this issue now.

[2018-01-25 14:03] mas-dse-greina commented on #16381
Yes. This is a feature request that a google engineer asked me to place. So
it applies to all platforms.

Thanks

On Jan 24, 2018 11:15 PM, "Alfred" <notifications@github.com> wrote:

[2018-01-25 14:17] spripa opened #16405 "tf.contrib.framework.sort failing with <<...has no attribute 'sort'>> in TF windows"
### [Problem] : Can't use tf.contrib.framework.sort in my tensorflow code as it's failing to find the 'sort' attribute

Source code:
[code]

Error log:
[code]

### System information
- I've been trying to use the tf.contrib.framework.sort  within a custom loss function but issue being reproduced with a simple call to the tf.contrib.framework.sort
- Windows 10 64 bit
- TF installed with native pip3

[2018-01-25 14:27] PabloMessina commented on #6698
Hi, I'm having the same problem and none of the suggestions so far has helped me to solve it.
I'm using an Asus Zenbook Pro laptop with Windows 10 with the following specs:

![imagen](https://user-images.githubusercontent.com/6187545/35390462-571504bc-01ba-11e8-9fb9-647b218f9ae9.png)

My GPU specs are the following:

![imagen](https://user-images.githubusercontent.com/6187545/35390360-e6a49abc-01b

[2018-01-25 14:50] SpikingNeurons opened #16407 "Creating placeholder with `np.uint32` dtype fails"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-25 15:42] ccordoba12 commented on #15136
Sure, could you point me to the places I have to look for?

[2018-01-25 15:44] notsmartenough commented on #7072
I had a similar issue, what worked for me was freeing up hard disk space which was apparently getting full.

[2018-01-25 16:05] hsm207 commented on #16386
If you want to initialize the embedding with some pre-trained weights, then you can pass the [Constant initializer ](https://keras.io/initializers/)to the embedding_initiliazer.

Looking at the [embeddings.py](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/python/keras/_impl/keras/layers/embeddings.py) source code in TensorFlow, the embeddings are created using the `Layer` class' `a

[2018-01-25 16:06] yongtang commented on #16400
@sakaia The linke seems to have been fixed in PR #16029. I will close this issue as it has been resolved. Thanks for your contribution!

[2018-01-25 16:06] #16400 closed

[2018-01-25 16:11] tfboyd commented on #9901
@yaroslavvb Alfred / tensorflowbutler is new on the job and is slowly learning.  Your not really an edge case is kind of funny.  I will let the author know about the author being an org member, which is likely not super uncommon  :-)

[2018-01-25 16:43] yongtang commented on #16397
@sswv I am not able to observe the behavior as you described. I am using an EC2 machine of Ubuntu 16.04 on AWS. Wondering if the CentOS you described could have an impact?

[2018-01-25 16:55] sswv commented on #16397
@yongtang I tested it on both Ubuntu 16.04 and Debian 9 containers as well, and it worked well. I think the error should be related to something on CentOS 7 or the configuration of my server. I'll try to find the reason. Thanks!

[2018-01-25 16:59] jackyko1991 commented on #8773
I just have a look at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_shared_lib.cmake

this file seems use a very tricky way to generate dll using cmake.

If you directly follow the instruction in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md

The tensorflow_BUILD_SHARED_LIB option is default to be off, I am testing on bui

[2018-01-25 17:10] heetvachhani opened #16410 ".."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-25 17:10] #16410 closed

[2018-01-25 17:23] zmjjmz commented on #16386
Ok, I was able to get all zeros by setting the `embedding_initializer=keras.initializers.Zeros()`!

I also didn't realize that the `Constant` initializer would take an arbitrarily shaped value -- I thought it only accepted scalars. It's not super clear in the docs, but I can see that it makes sense now.

Thanks!

I'll close this but it would be nice if there was a deprecation warning that came up

[2018-01-25 17:23] #16386 closed

[2018-01-25 17:27] erickrf commented on #15994
@tensorflowbutler yes

[2018-01-25 17:33] reedwm commented on #11823
I was able to reproduce but have know idea why the problem occurs. Someone needs to look at SyncReplicasOptimizer, but unfortunately most people who worked on it no longer work on TensorFlow.

/CC @ispirmustafa @panyx0718, can either of you take a look?

[2018-01-25 17:35] da-edra opened #16411 "Source code / logs"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-25 17:35] #16411 closed

[2018-01-25 17:36] RylanSchaeffer commented on #12065
@fritzfitzpatrick , I'd rather help you here in case anyone else runs into a similar issue.

Here's the code I used. In my case, I had a (4,)-shaped tensor of zeros and ones as outputs, hence 16 possible outcomes, hence my sampling function. However, the sampling function was just for helping me debug whereas you can get by with a function that does nothing.

# inference
            elif self.mode

[2018-01-25 17:38] RylanSchaeffer commented on #12065
@adarob @ebrevdo Just my personal opinion, but even though the issue is technically solved by giving the programmer the ability to implement their own helper through `InferenceHelper`, I don't feel like this practically solved the issue since (in my opinion) one should be able to pipe the output at one time step to the next time step without needing to write custom code.

[2018-01-25 17:50] Timoeller commented on #8251
python 3.6.x 64 bit **is working** for me with
`pip3 install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.4.1-cp36-cp36m-linux_x86_64.whl`

newer packages you might find under: https://www.tensorflow.org/install/install_linux#the_url_of_the_tensorflow_python_package

[2018-01-25 17:54] adarob commented on #12065
@RylanSchaeffer are you suggesting having a CategoricalInferenceHelper that provides categorical sampling, as is most often used? I think it's reasonable to add that.

[2018-01-25 17:57] zixia commented on #12345
Would be great if we can support Python 3 Typing in TensorFlow.

We will benefit from both
1. Static Type Checking, and
2. Hint Linting.

[2018-01-25 17:58] David-Levinthal opened #16412 "Documentation on build from source is unclear"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-25 18:00] David-Levinthal commented on #16412
a couple minutes after the last bit of output show above the program crashed
Aborted (core dumped)

[2018-01-25 18:03] deepankar27 commented on #15136
@tensorflowbutler Waiting for the build w/o enum

[2018-01-25 18:05] RylanSchaeffer commented on #12065
@adarob that would be helpful, but I was referring to something slightly different. I haven't looked at this in 5+ months, so maybe the module has changed, but my understanding is that the sample_fn is used to collapse the rnn cell's output tensor into a single number (either through deterministically or stochastically), which is then reconstituted as an input tensor for the next step. This is use

[2018-01-25 18:08] yzhwang commented on #15717
Hi @acbellini , I modified your code a bit to get more info. Changed the NUM_RUNS to 100, added four tests: one session run for both const op and random op, two session runs for const op and random op, also session run for each op separately:

    def combined_run():
        s.run((_mul_const_a.op, _mul_random_a.op))
    def separate_run():
        s.run((_mul_random_a.op))
        s.run((_mul_con

[2018-01-25 18:09] David-Levinthal commented on #16412
Close this...opened the wrong window,...this is for Mozilla Deepspeech..sorry

[2018-01-25 18:22] muthukumaranR commented on #15236
Hi, had the same issue. fixed it by verifying if libcublas.so.8.0 is present is $LD_LIBRARY_PATH. in my case, it was in /usr/local/cuda/lib64 instead of /usr/local/cuda/lib.

[2018-01-25 18:32] Davidnet commented on #16399
Yes, I been able to compile tf-1.5rc1 with CUDA 9.1 no problems

[2018-01-25 19:00] acbellini commented on #15717
Hi @yzhwang.

If you change the code it's no longer the same test code, right? So it can be expected that you don't get the same results. What results do you get running the same code that I used?

If you check my comment from Jan 8, I had already nailed down the problem to a duplicate initialization of the constant if the graph query is different.

[2018-01-25 19:15] tensorflowbutler commented on #16396
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Exact command to reproduce

[2018-01-25 19:17] #9465 closed

[2018-01-25 19:17] yzhwang commented on #15717
Hi @acbellini ,
I tried with your original reproducer, and yes, with NUM_RUNS set to 10, I get the same results:
TF with const	 1.5651498469960643
TF with random	 0.3725004669977352

I then changed to NUM_RUNS to 1, and 100 respectively, running time of Mul_Const is constant, while running time of Mul_Random increases linearly as NUM_RUNS increases:
NUM_RUNS=1:
TF with const	 1.6104715690016747
TF

[2018-01-25 19:21] zmjjmz commented on #16386
Also, curiously, the use of `weights` is fine if I use a `keras` model and train that rather than an `Estimator`, even if I convert it to an `Estimator` first using the `tf.keras.estimator.model_to_estimator` call.

[2018-01-25 19:25] aisuni commented on #16396
Have I written custom code: N/A
Exact command to reproduce:
[code]

[2018-01-25 19:27] drpngx commented on #16235
Merged.

[2018-01-25 19:27] #16235 closed

[2018-01-25 19:32] ushnish commented on #16387
Try uninstalling and reinstalling from source maybe? That way it's more configured and customized to your machine.

[2018-01-25 19:35] ushnish commented on #16374
Did you build the toco library using bazel? What worked for me is (from within the TF repo folder)

`bazel build tensorflow/contrib/lite/toco:toco`

`bazel-bin/tensorflow/contrib/lite/toco/toco --help`

[2018-01-25 19:40] tatianashp commented on #16288
Great. I am closing the issue then.

[2018-01-25 19:40] #16288 closed

[2018-01-25 19:45] tatianashp commented on #16412
Closed.

[2018-01-25 19:45] #16412 closed

[2018-01-25 19:58] isaprykin commented on #14613
@MtDersvan is this still an issue with more recent releases?  Are there log messages from coordinator?  From saver that it is "Restoring parameters"?

[2018-01-25 20:43] thomasquintana commented on #13766
https://stackoverflow.com/questions/46651137/tf-contrib-data-dataset-seems-does-not-support-sparsetensor?noredirect=1&lq=1

[2018-01-25 21:03] Azureum commented on #16374
No, I didn't build the tensorflow repository but installed tf-nightly from pip.
I tried to build toco using bazel, but the build failed. Here's the traceback:

[code]

[2018-01-25 21:04] ispirmustafa commented on #14942
Hi @WenmuZhou
We've created two environment with GPUS one with TF1.3 and one with TF1.4.
We've run your data generation script (BTW, there is a small mismatch with between the generated data and what your model expects).
We've run your model with following command as describe on your github:
'python train.py -g 1 -ft ../data/10.csv -fe ../data/10.csv -o ./export_model_dir'.

At the end we couldn't

[2018-01-25 21:11] eyaler commented on #15057
i am seeing a similar issue. tensorflow 1.4 and 1.5 is 2x slower than 1.3 on windows with 1080ti

[2018-01-25 21:20] sanjoy commented on #15338
gcc5_tensorflow_v1.5_abi0.log

None of the logs you attached in the first comment have the same "undeclared inclusion" error as far as I can tell.  I tried `blaze build all_tests` on top of tree, and I get the SWIG related duplicate symbol error so I think we should try to fix that first, even if it isn't the only error.

I've never dealt with SWIG myself so I'm out of my depth here, but perhaps y

[2018-01-25 21:20] jgmakin commented on #13370
Looks like this has been solved in 1.5.0rc1: you can now use `merge_all` with (e.g.) `tf.while_loop`s again.  Thanks, tensorflowers.

[2018-01-25 21:23] ushnish commented on #16374
I'd suggest instead of doing pip install, git clone the TF repo and run the bazel build toco command from the root of the TF repo. If there are no issues it takes about 10-15 min to build the binary.

[2018-01-25 21:35] Azureum commented on #16374
Yes, I would certainly like to do that, but building tensorflow from source on Windows gives a lot of errors (with Visual Studio and Bazel) like the one above. I would try to do it in a linux environment at a later date.

[2018-01-25 21:55] GeneralZero opened #16423 "Windows 10 Cmake GPU nvcc.exe error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
r1.5
- **Python version**:
3.6
- **GCC/Compiler version (if compiling from source)**:
Visual

[2018-01-25 22:06] xldrx commented on #4809
I have sent a [PR](https://github.com/tensorflow/tensorflow/pull/14604) to address this problem. PR is already approved (Thanks to @prb12 and co) and will hopefully be merged soon.
RecvTensor ops will show up in tracing metadata. Chrome Tracing can visualize the RecvTensor ops. However, it removes the details of them (Source/Destination/Tensor Name/Size).

I have also developed a small (tracing vi

[2018-01-25 22:14] quaeler commented on #16407
This has been addressed since the 1.4.0 release:
https://github.com/tensorflow/tensorflow/commit/3bafe0a86f67dd54197c6d60bdb5053f510de7d8#diff-85e323da48079f7831b7e9f6ec24cda2R501

Please give 1.5.0 a shot.

[2018-01-25 22:20] SpikingNeurons commented on #16407
Okay, I was thinking so.

[2018-01-25 22:20] #16407 closed

[2018-01-25 23:20] jmsdnns opened #16424 "Dependency on old version of bleach (1.5)"
Bleach 1.5 came out Nov 4th 2016 and this is old enough to cause dependency issues for projects that stayed up to date with Bleach.

In particular, this causes issues for Jupyter users.

[2018-01-25 23:25] jmsdnns commented on #16424
Here is the relevant line: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/install/install_pip_packages.sh#L45

[2018-01-25 23:42] hadivafaei commented on #1578
I was having the same problem, running tensorflow with CUDA 8.0 and cuDNN 6.0 on Ubuntu 17.10. This is what worked for me:

1.  Open activities and search for 'System Monitor'
2.  Sort by memory used and find a python process that's using the most memory (~2 GiB in my case)
3.  Click end process

Immediately after I ended that python process the memory was released as I verified using nvidia-smi

[2018-01-25 23:57] mrry commented on #16405
According to [the documentation](https://www.tensorflow.org/versions/r1.5/api_docs/python/tf/contrib/framework/sort), `tf.contrib.framework.sort()` was added after TF 1.4, and so you will need to upgrade to TF 1.5 or a nightly build to use it.

[2018-01-25 23:57] #16405 closed

[2018-01-26 00:03] tatatodd commented on #12663
To be clear, as @jart's original analysis mentioned, there is no difference in implementation between GFile and FastGFile in the current codebase:
https://github.com/tensorflow/tensorflow/blob/f02efd91973a596469333f562146b6b3c0e5c83a/tensorflow/python/platform/gfile.py#L41

[2018-01-26 00:07] tatatodd commented on #13549
Assigning to @dr4b, since it seems like this is a bug we should fix.  Feel free to re-assign as appropriate.

[2018-01-26 00:10] tatatodd commented on #13565
Assigning to @wolffg based on the earlier note about working on improved estimator docs.

[2018-01-26 00:14] tatatodd commented on #13639
Assigning to @reedwm since he's already analyzed the exact problem, and seems to have a reasonable proposed fix.  That said, I don't know the details here.

[2018-01-26 00:18] davidparks21 commented on #16343
Have I written custom code
N/A

OS Platform and Distribution
Linux Mint

TensorFlow installed from
pip installer

TensorFlow version
1.4

Bazel version
N/A

CUDA/cuDNN version
CUDA8 / cuDNN 6

GPU model and memory
Titan 1080 / 10GB

Exact command to reproduce
N/A

[2018-01-26 00:22] tatatodd commented on #14089
Closing this out.

@Lavz see the example @asimshankar provided about how to run `curl` with the `-o` output file option.

If you feel you've hit a TensorFlow bug, please file a new issue and include details on exactly what you're doing.

[2018-01-26 00:22] #14089 closed

[2018-01-26 00:29] tatatodd commented on #14107
@johnsrude does switching to TF 1.5 solve your problem, as many others have reported?

@eyaler please file a new issue with details describing your problem, and a minimum reproducible test case (if possible).

[2018-01-26 00:34] tatatodd commented on #14181
Assigning to @allenlavoie, feel free to re-assign.

[2018-01-26 00:38] tatatodd commented on #14219
Ping @josh11b @fchollet, see comment by @asimshankar on Nov 3, 2017.

[2018-01-26 00:40] Mistobaan commented on #12663
ok then must be the exact same thing.

[2018-01-26 00:40] #12663 closed

[2018-01-26 01:08] tatatodd commented on #14291
@andrewharp can you comment on this?

[2018-01-26 01:14] JonathanHenson commented on #16397
Are you by chance using a bucketname with a "." in it?

If so, it's likely due to TLS hostname validation (which is different across different versions of openssl, libnss, gnutls etc...).

If that's the case, there's a constructor argument to use the traditional path style bucket addressing that would work around this issue.

[2018-01-26 01:19] tatatodd commented on #16423
This looks like a duplicate of #16138, please follow-up there.

[2018-01-26 01:19] #16423 closed

[2018-01-26 01:19] allenlavoie commented on #14181
I don't think this bug has a reasonable solution, so I'm going to close.

I don't want to run gc.collect() manually. We make Graphs for Defuns (and therefore Dataset map_funcs) and every time a ResourceVariable is created. It requires a sweep through all objects and could slow down graph building significantly.

It is [possible to allow a graph's memory to be freed](https://github.com/tensorflow/t

[2018-01-26 01:19] #14181 closed

[2018-01-26 01:23] rky0930 commented on #11017
For the user of TF-Slim,  How filter to "Main Thread"
[code]

[2018-01-26 01:32] tatatodd commented on #16403
Closing this out, since it's not a TensorFlow bug or feature request.

That said, your code that converts from 3D data to a TensorProto looks wrong.  In particular notice this snippet:
[code]

I think you meant to say this:
[code]

Also note that the `TensorShapeProto` documentation describes how the order of dims affects the data layout.  Namely that data is in row-major order:
https://github.com

[2018-01-26 01:32] #16403 closed

[2018-01-26 01:37] marcomagdy commented on #16397
You can turn on verbose logging in the AWS C++ SDK to get us more information.
And also like @JonathanHenson already mentioned, it's likely that you need to turn off virtual addressing.

Here's a sample:
[code]
Note, that the errors you reported have nothing to do with compiler version.

[2018-01-26 01:42] tatatodd commented on #16399
Thanks for the comments @qmick and @Davidnet!

Please follow-up on #15140 for CUDA 9.1 status.

I'll also mention for posterity that our official compatibility (for released versions) is described in our documentation:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_sources.md
https://www.tensorflow.org/install/install_sources

[2018-01-26 01:42] #16399 closed

[2018-01-26 01:43] XingyuGuUCSD opened #16428 "want keras to work on GPU, but actually on CPU"
System information:
OS Platform and Distribution: Linux Ubuntu 16.04:
TensorFlow installed from anaconda:
Keras installed from pip
TensorFlow version 1.4.1
Bazel version : None:
CUDA/cuDNN version : CUDA V7.5.17, CuDNN v6.0:
GPU: GeForce GeForce GTX 1050 Ti(3.94GB):
Code: [mnist_mlp.py](https://github.com/antoniosehk/keras-tensorflow-windows-installation/blob/master/examples/mnist_mlp.py)

When ru

[2018-01-26 01:44] tensorflowbutler commented on #16403
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
Exact command to reproduce

[2018-01-26 01:45] tatatodd commented on #16397
@sswv Please report back with your findings, and take note of the excellent suggestions by @JonathanHenson and @marcomagdy.

[2018-01-26 01:53] tatatodd commented on #16385
@zmjjmz yes, please create a minimum repro.

Adding @fchollet in case there's anything obvious that might be wrong.

[2018-01-26 02:09] tatatodd commented on #16371
@Davidnet can you provide more details on how your built / installed from source?

In particular, what did you specify during ./configure?
https://www.tensorflow.org/install/install_sources#configure_the_installation

[2018-01-26 02:12] demidroid commented on #16388
CUDA/cuDNN  ，GPU model and memory在configure中选择的no
当我执行这个命令时bazel build -c opt //tensorflow/examples/android:tensorflow_demo，我同时也在mac os执行了这个命令，出现了类似的错误java.lang.InternalError: Cannot find requested resource bundle for locale zh_CN,,但是当我执行bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so ，是不是和多国语系相关，在代码中没有找到相关的部分,谢谢您

[2018-01-26 02:12] tatatodd commented on #16351
Closing this out, since it looks like #16256 should fix the problem.  If not, feel free to ping this issue and I'll re-open it.

[2018-01-26 02:12] #16351 closed

[2018-01-26 02:14] demidroid commented on #16388
CUDA/cuDNN ，GPU model and memory在configure中选择的no
当我执行这个命令时bazel build -c opt //tensorflow/examples/android:tensorflow_demo，我同时也在mac os执行了这个命令，出现了类似的错误java.lang.InternalError: Cannot find requested resource bundle for locale zh_CN,,但是当我执行bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so ，能够成功编译出so文件，所以是不是和多国语系相关，但是在代码中没有找到相关的部分,还不是不知道应该如何处理，谢谢您的回复

[2018-01-26 02:34] tatatodd commented on #16311
@mpkuse @PeiliangLi it's not clear to me whether your segfaults are related or not.  I took a look into @PeiliangLi's stacktrace (since it has more info) and I'm not sure exactly why we'd segfault in that logic.

Perhaps either/both of you can try running on our nightly builds, to see if that changes anything?
https://pypi.python.org/pypi/tf-nightly-gpu
https://github.com/tensorflow/tensorflow

[2018-01-26 02:45] sddi commented on #16208
I have solved the problem, thank you all the same.

[2018-01-26 02:45] #16208 closed

[2018-01-26 02:47] tilarids commented on #13348
I have experienced the same problem when using one_hot_column. I will try to extract a trivial working example out of my code but here is an excerpt:

[code]

This fails with
[code]

[2018-01-26 02:49] tkoeppe commented on #8394
@ilya-biryukov: Could you kindly recheck if the patch is still necessary? I've not managed to reproduce the problem with Clang 3.9.

[2018-01-26 03:32] mpkuse commented on #16311
I tried out the nightly build (
tf_nightly_gpu-1.6.0.dev20180125-cp27-cp27mu-manylinux1_x86_64.whl )

Basically uninstalled my previously installed version. For it to work, had to also install CUDA-9.0 and cudnn7.

My codes worked for a while (usually about 50 iterations). Still SIGSEGV and get the same stack trace.
Is it helpful to mention that I use `feed_dict ` in tf.run() to set my current bat

[2018-01-26 04:23] Davidnet commented on #16371
[code]

[2018-01-26 04:50] Davidnet commented on #16371
Same with 1.4

[code]

[2018-01-26 05:31] #16238 closed

[2018-01-26 05:32] #15487 closed

[2018-01-26 05:49] tatatodd commented on #16371
@Davidnet Here's a thought: demangling `_ZN3Aws4Time9LocalTimeEP2tml` (the symbol that's not found) results in `Aws::Time::LocalTime(tm*, long)`.

Do you actually need aws support?  Otherwise, perhaps you can retry ./configure and answer "no" to this question:
`Do you wish to build TensorFlow with Amazon S3 File System support? [Y/n]:`

Along the same lines, if you're not using Hadoop or Google Cl

[2018-01-26 05:50] leesino opened #16442 "why save model and deploy in android device, the outputs are not the same as in ubuntu?"
OS Platform and Distribution :Ubuntu 14.04.5 LTS   && Android 8.0
TensorFlow installed from source
TensorFlow version :1..4.0
Python version : 2.7.6
Bazel version :0.4.5
GCC/Compiler version:4.8.4
CUDA/cuDNN version:8.0
GPU model and memory: GTX1080, 8G
Exact command to reproduce:

step 1. clone code from https://github.com/davidsandberg/facenet
step 2. in the file src/compare.py, add the follow c

[2018-01-26 05:59] argman commented on #14380
my system version: centos7+gcc4.8.5+bazel 0.8.1
I find its tricky to fix this , just change the default gcc path when running configure from /bin/gcc to /usr/bin/gcc

[2018-01-26 06:06] gunan commented on #14380
@mhlopko @lberki is it possible the default toolchains do not work if the compiler is under `/bin/gcc`.

[2018-01-26 06:10] argman commented on #14380
@gunan I check that in configure.py it use which('gcc') to find gcc, when i run this it returns /bin/gcc, but when i run it manualy use shutil.which('gcc') it returns /usr/bin/gcc

[2018-01-26 06:16] mrry commented on #13348
@tilarids That sounds like it might have a different cause, since it looks like there's enough static information there to infer the appropriate shape. Please open a new issue with a complete set of details, and somebody who works on `tf.layers` will take a look.

[2018-01-26 06:19] yongtang commented on #16397
After building tensorflow on CentOS (inside docker container) with `useVirtualAdressing = false`, the `.` works. Also have to copy `cp /etc/pki/tls/certs/ca-bundle.crt /etc/ssl/certs/ca-certificates.crt` to avoid curl 77 error.

Created a PR #16443 for it. Not sure if this is the same issue as was raised by @sswv, though.

[2018-01-26 06:42] LokLu opened #16444 "Documentation update"
The mean squared error is described as following

mean_squared_error(
    labels,
    predictions,
    weights=1.0,
    scope=None,
    loss_collection=tf.GraphKeys.LOSSES,
    reduction=Reduction.SUM_BY_NONZERO_WEIGHTS
)

The default reduction method is MEAN in v1.4

[2018-01-26 06:56] huangpeiyan commented on #14273
@SteffenNa correct. It's work. Thanks

[2018-01-26 06:58] skyson commented on #16317
it seems the problem is about multi model run on mobile; there are two model in the demo.

[2018-01-26 07:05] facaiy commented on #16444
Do you mean `Reduction.MEAN`?

https://github.com/tensorflow/tensorflow/blob/c646af1957197a9be0feb5e928af46e29da688ea/tensorflow/python/ops/losses/losses_impl.py#L525-L528

[2018-01-26 07:10] LokLu commented on #16444
@facaiy Yes. In older versions, the default setting is SUM_BY_NONZERO_WEIGHTS. I don't when they update it to Reduction.Mean.

[2018-01-26 07:19] bprasadpap opened #16445 "Unable to build image_retraining:label_image no such target"
SUCCESS: bazel build --config opt tensorflow/examples/image_retraining:retrain
SUCCESS: bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir ~/flower_photos
FAILED : bazel build tensorflow/examples/image_retraining:label_image
ERROR: Skipping 'tensorflow/examples/image_retraining:label_image': no such target '//tensorflow/examples/image_retraining:label_image': target 'label_image' n

[2018-01-26 07:20] fritzfitzpatrick commented on #12065
@RylanSchaeffer Thanks for sharing. My code is a bit more bare bones, but I should be able to wire something together based on your snippet.

@adarob Passing the decoder output at time step T as the decoder input at time step T+1 is exactly what I am after, and I have been struggling a bit with implementing this through other helpers (mostly because of my lack of understanding re: sampling in TF a

[2018-01-26 07:24] bprasadpap commented on #16445
had to do git checkout r1.4

[2018-01-26 07:24] #16445 closed

[2018-01-26 07:27] facaiy commented on #16444
Could you paste your system information?

I have checked r1.4 branch and the latest master branch, the default reduction seems not changed to `Reduction.Mean`.

[2018-01-26 07:50] loewy43 commented on #14292
the command "from tensorflow.contrib.boosted_trees.estimator_batch.estimator import GradientBoostedDecisionTreeRegressor" also couldn't work in Windows.

it raised error:
ImportError: No module named 'tensorflow.contrib.boosted_trees.python.training'

could it be fixed?

[2018-01-26 07:58] LokLu commented on #16444
The function behaviors like that on my PC. And it compute the sum only when I declare the reduction as SUM

### System information
OS Platform and Distribution:  (Ubuntu 14.04)
TensorFlow installed from: binary
TensorFlow version (use command below): 'v1.4.0-19-ga52c8d9', '1.4.1')
Python version:  2.7.13
Bazel version (if compiling from source):
GCC/Compiler version (if compiling from source)**:
C

[2018-01-26 08:21] uziela commented on #15338
Sorry, I am not exactly sure what you meant by this. Can you perform this step yourself? Or can you be more specific with the steps and linux commands that I need to execute?

[2018-01-26 08:36] mjason3 opened #16448 "embedding lookup table in tensorflow serving"
Hi, I am trying to serve a NLP model in tensorflow serving. I am wondering how embedding matrix is being stored in tensorflow serving. If I deploy model to two servers, will the embedding matrix be a distributed table with sharding for looking up?

[2018-01-26 08:50] facaiy commented on #16444
If I understand you correctly, you mistake `Reduction.SUM_BY_NONZERO_WEIGHTS` as the sum of squared error, right?

Although the name is a little confusing, in fact, `Reduction.SUM_BY_NONZERO_WEIGHTS` behaves like MSE (`Reduce.MEAS`) when `weight=1.0` by default. Unfortunately, it seems that tensorflow is lack of explanations in the document: https://www.tensorflow.org/versions/master/api_docs/pyth

[2018-01-26 09:49] selcouthlyBlue opened #16450 "InvalidArgumentError (see above for traceback): sequence_length(0) <= 80 thrown by ctc_loss"
I am encountering this error thrown by `ctc_loss` and I have no idea what it means nor how to resolve it.

[code]

[2018-01-26 10:01] MikalaiDrabovich opened #16451 "Parameter parsing error messages"
Parameter parsing error messages probably can be improved, e.g.

`bazel-bin/tensorflow/core/profiler/profiler --profile_path=/tmp/for_tfprof/profile_20`

runs ok, but if cd to bazel-bin/tensorflow/core/profiler/ and

`./profiler --profile_path /tmp/for_tfprof/profile_20`

results in

[2018-01-26 10:36] mihai-ciupina commented on #16350
Hi,
You can try [https://stackoverflow.solutions](https://stackoverflow.solutions) for documenting.
I might adapt it for your needs, it's a young project, kind like the closed SO Documentation beta

[2018-01-26 10:43] kmhofmann commented on #15492
I can confirm that I am seeing the same issue. Tensorflow v.1.4.1, and Bazel 0.9.0.

Adding `--incompatible_load_argument_is_label=false` lets the build process go past this issue, but that's of course not the right fix.

[2018-01-26 10:45] mkassner commented on #15554
@miaowang14  just a gentle reminder. Any update you could share? Or at least an indication  if this issue is of priority?

[2018-01-26 10:47] RomRoc opened #16452 "Semantic Segmentation API"
Hello, is there any plan to include Semantic Segmentation API in future Tensorflow releases, similar to [Tensorflow Object Detection API](https://github.com/tensorflow/models/tree/master/research/object_detection#tensorflow-object-detection-api) ?

There are other semantic segmentation repositories in Github, an awesome list is [here](https://github.com/mrgloom/awesome-semantic-segmentation), but

[2018-01-26 11:09] LokLu commented on #16444
Ya, I mistaken it as the summation of squared error. Thanks for your explanation.

[2018-01-26 11:28] qtdaniel opened #16453 "Updated roadmap?"
The [TensorFlow roadmap](https://www.tensorflow.org/about/roadmap) was last updated a year ago (January 2017); could there be an update from the team on where TensorFlow is going in 2018?

[2018-01-26 11:40] stegben commented on #13094
I'm working on a fused version of SRU (process on whole time steps)

[2018-01-26 12:08] #16444 closed

[2018-01-26 13:37] lihua213 opened #16454 "ValueError: Dimensions 1069539296 and 13528529576648672 are not compatible"
Traceback (most recent call last):
  File "/home/lihua/.local/lib/python3.5/site-packages/tensorflow/python/framework/tensor_shape.py", line 558, in merge_with
    new_dims.append(dim.merge_with(other[i]))
  File "/home/lihua/.local/lib/python3.5/site-packages/tensorflow/python/framework/tensor_shape.py", line 133, in merge_with
    self.assert_is_compatible_with(other)
  File "/home/lihua/.local/

[2018-01-26 14:58] CasiaFan opened #16455 "Set training=True in BatchNormalization layer causes evaluation error in custom Estimator model"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu16.04
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**:  3.5.2
- **CUDA/cuDNN version**: 8.0/6
- **GPU model and m

[2018-01-26 15:07] dwujellyfish opened #16456 "'InputFnOps' object has no attribute 'receiver_tensors'"
### System information
==TensorFlow installed from (source or binary)==
Source
== Python version ==
Python 2.7.13
== cat /etc/issue ==
Linux orion 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux
VERSION_ID="9"
VERSION="9 (stretch)"
== are we in docker ==
No
== compiler ==
c++ (Debian 6.3.0-18) 6.3.0 20170516
Copyright (C) 2016 Free Software Foundation, Inc.
This is free s

[2018-01-26 15:44] scottdraves commented on #16424
the problem comes when you install jupyter from conda-forge which has version 2.0 of bleach.
plain conda has version 1.5.

[2018-01-26 15:45] Davidnet commented on #16371
Solve it, thank you!, in the way of learning? Would you mind telling me how to demangle not founded symbols? Thank you.

[2018-01-26 15:45] #16371 closed

[2018-01-26 15:58] Lapis-Hong opened #16458 "How to parse multivalve feature using tf.feature_column and tf.data API ??"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-26 16:00] Lapis-Hong commented on #16458
My current solution is use tf.decode_csv and tf.string_split to write the input_fn, then use dataset.padded_batch(), but it raise the all kinds of shape error.

[2018-01-26 16:28] windend opened #16461 "macOS mnist download error"
[code]
MacOS python3.6 is wrong
windows is right.

[code]

[2018-01-26 16:36] informixx commented on #14273
Using
macOS 10.13.2 (17C88)
Kernel-Version:	Darwin 17.3.0

Why do I get the following error? What do do?

Last login: Fri Jan 26 17:25:23 on ttys000
Saschas-iMac:~ hamburg$ pip install --ignore-installed --upgrade "https://github.com/lakshayg/tensorflow-build/raw/master/tensorflow-1.4.0-cp36-cp36m-macosx_10_12_x86_64.whl"
Collecting tensorflow==1.4.0 from https://github.com/lakshayg/tensorflow-bui

[2018-01-26 16:36] zmjjmz commented on #16385
Ok, sure, here it is: https://gist.github.com/zmjjmz/9b013c6524839512b85dfc08a56f28c2

It's possible that something about how I defined `serving_input_fn` is incorrect (it works for normal estimators), but I also couldn't find any documentation on how to properly / differently define it for an Estimator that came from `tf.keras.estimator.model_to_estimator`.

[2018-01-26 16:45] RoboEvangelist commented on #14620
I get this warning during tensorflow installation:

WARNING: ~/tensorflow/tensorflow/core/BUILD:1781:1: in includes attribute of cc_library rule //tensorflow/core:framework_headers_lib: '../../external/nsync/public' resolves to 'external/nsync/public' not below the relative path of its package 'tensorflow/core'. This will be an error in the future. Since this rule was created by the macro 'cc_head

[2018-01-26 16:48] softmanu opened #16462 "How to create a model checkpoint based on each step rather than time interval.? using TensorFlow-Slim api."
slim.learning.train(
    train_op,
    logdir,
    number_of_steps=1000,
    **save_summaries_secs=300**,
    **save_interval_secs=600**):

The above api only supports to capture model checpoints periodically, but I need to checkpoint based on each step. How do achieve this using TesorFlow-Slim API.?

I am looking for parameters like this:

save_summaries_steps = 10,
save_interval_steps=10
    whe

[2018-01-26 16:52] erickrf commented on #14273
@informixx you don't have permission to write to the python installation. You should run `sudo pip install ...`

[2018-01-26 16:55] yongtang commented on #16451
I think the error message could be improved. Created a PR #16463 for the fix.

[2018-01-26 17:01] informixx commented on #14273
@erickrf Thx, for your quick answer!

Of course that's the solution and I've learned something :-)

[2018-01-26 17:04] windend commented on #16461
Traceback (most recent call last):
  File "/Users/funny/Documents/AIML/test.py", line 8, in <module>
    from tensorflow.examples.tutorials.mnist import input_data
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python

[2018-01-26 17:25] hamzamk commented on #6589
Guys, it has been months. Has anyone found a solution or quit tensorflow?

[2018-01-26 17:25] hamzamk commented on #6589
@advancedits @EAZYE9000 @avi-jain @TonySnark @drashmi29

[2018-01-26 17:32] zmjjmz commented on #15527
Hey there,

I think this isn't really an issue -- using the `weights` argument is deprecated and as per the solution outlined to [a similar issue I had](https://github.com/tensorflow/tensorflow/issues/16386), if I use a `keras.initializers.Constant(value=embedding_mat)` in its stead I cannot reproduce this issue.

That said, I'm still not sure why the inspected checkpoint would show all zeros in t

[2018-01-26 17:32] #15527 closed

[2018-01-26 17:33] is8ac opened #16464 "AssignAddVariableOp has no output"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5.0-rc1
- **Python version**: NA (Using Go bindings)
- **Bazel v

[2018-01-26 17:52] urayoru113 commented on #14622
+1
I have same problem no matter what i install cuda-8.0 or cuda-9.1

[2018-01-26 17:55] HeinzBenjamin commented on #6698
Hello,
I'm facing the same issue on two different machines:

Setup 1:
Windows 10 Pro 64bit
[GPU](http://gpuz.techpowerup.com/18/01/26/mm7.png)
Cuda 8.0
cudnn 6.0
Tensorflow 1.4
Python 3.6.4

Setup2:
Windows 10 Pro 64bit
[GPU](http://gpuz.techpowerup.com/18/01/26/das.png)
CUDA 8.0
cudnn 6.0
Tensorflow 1.4
Python 3.6.2

Any updates?

[2018-01-26 17:59] adarob commented on #12065
What you're requesting is possible by setting sample_fn=tf.identity.
However it is redundant to have the unmodified outputs be the inputs in an RNN since this is already passed through as the state.

[2018-01-26 18:03] tatatodd commented on #16371
Cool, glad that helped.  :)

I found a demangler by searching [demangle c++ symbol] on google:
https://www.google.com/search?q=demangle+c%2B%2B+symbol

And I picked the first link, which seemed reasonable:
https://demangler.com/

[2018-01-26 18:11] #16451 closed

[2018-01-26 18:16] tatatodd commented on #16385
I'm not a python or keras expert, but your imports are not idiomatic:

You're doing this:
[code]

Normally we do this:
[code]

Then in your code, you would refer to things as, e.g. `tf.keras.estimator` and things like that.  I don't know whether this has anything to do with your actual issue, but bypassing the standard `__init__.py` logic seems like a bad idea.  Perhaps you can change that first?

[2018-01-26 18:16] memo opened #16465 "bug with frame_step in tf.contrib.signal overlap_and_add inverse_stft"
### System information
- Based on example
- Linux Ubuntu 16.04
- installed from binary
- v1.4.0-19-ga52c8d9, 1.4.1; also 1.5.0
- Python 2.7.14 |Anaconda custom (64-bit)| (default, Oct 16 2017, 17:29:19). IPython 5.4.1
- Cuda release 8.0, V8.0.61, cuDNN 6; also Cuda release 9.0, V9.0.176, cuDNN 7.0.5
- Geforce GTX 970M, also GTX 1070, Driver Version: 384.111

### Describe the problem

A.) When I cr

[2018-01-26 18:31] tatatodd commented on #16255
The error is telling you that ScatterUpdate does not have a gradient defined.  The rationale behind this is discussed in #2770

Closing this out.  As discussed in #2770, follow-ups should go to stackoverflow.  Thanks!

[2018-01-26 18:31] #16255 closed

[2018-01-26 18:49] eisenjulian opened #16466 "[Feature request] Adding a PR curves to canned estimators for (binary) classifiers"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.6.3
- **Bazel version (if compiling from source)**:
- **GCC/Compi

[2018-01-26 19:49] aisuni commented on #16396
Hi @tensorflowbutler , Hope you have all required data from me. Thanks.

[2018-01-26 19:55] zmjjmz commented on #16385
It's certainly unidiomatic -- I probably did that because in the original code this repro comes from I was converting some code (with a ton of custom layers) that was used to the `keras` structure and `tf.keras` is slightly different (e.g. `tf.keras.layers.core.Dense` doesn't exist, but is instead `tf.keras.layers.Dense`).

I'll rectify that and see if I can reproduce, but I'd be surprised (and st

[2018-01-26 20:19] fchollet commented on #16385
Could you share a short, standalone code snippet to reproduce this issue?

[2018-01-26 20:42] zmjjmz commented on #16385
I believe [this](https://gist.github.com/zmjjmz/1ebd3f6b78f012326a660ad126cdd4d5) is standalone and hopefully isn't too long.

[2018-01-26 20:44] onlyak commented on #6589
@hamzamk Can you share the error which you are getting? It will be easy to figure it out.

[2018-01-26 20:52] bhack opened #16468 "Keras multi input and estimator"
If I've interpreted it correctly seems that there is some strange behavior with Keras multi inputs and the estimator.

- Why input layers are renamed with `_1` suffix?
- Why TB display a `_2` suffixed parallel sub-graph?

I've attached a snippet runnable on [colab](http://colab.research.google.com/) and the TB rendered image.

[code]
![tb](https://user-images.githubusercontent.com/1710528/35459923

[2018-01-26 21:00] yongtang commented on #16046
I was playing with AWA Linux 2 and noticed there is a small build failure when compiling TensorFlow (missing `#include <functional>`). Added a PR #16470 for that fix.

[2018-01-26 21:26] dr4b commented on #13549
I've already looked into this but I'm still not sure what the right solution is given that seriously const_op had no classes/structs in it.  Unless that's changed?

The duplicate inner struct bug that Remi mentioned, however, is out against me in our internal tools and I should look into that at some point, it's true.

[2018-01-26 21:40] tatatodd commented on #16277
Thanks for the comment @ppwwyyxx!

Closing this issue.  Please read #15077 and related issues for details.

[2018-01-26 21:40] #16277 closed

[2018-01-26 21:49] tatatodd commented on #16279
@Aashit-Sharma Please provide a minimum reproducible example.

The snippets of code you've provided above don't define self.nl_decoder_{condition,function}, or other critical pieces of information.

[2018-01-26 22:04] bhack commented on #16468
/cc @fchollet

[2018-01-26 22:10] tatatodd commented on #16287
I've notified the author.

[2018-01-26 22:16] tatatodd commented on #16291
@mattdingmeng Please provide a minimum standalone example that reproduces the problem.

Also please provide the full stack traces after the crash.

[2018-01-26 22:18] fchollet commented on #16468
@yifeif would you have any thoughts on this?

[2018-01-26 22:23] tatatodd commented on #16381
@mas-dse-greina if there's any other context behind your request (e.g. other github stackoverflow issues, or other public discussion), please include it to this issue.

@mrry @suharshs might have some thoughts on whether this is feasible.

[2018-01-26 22:31] bixia1 commented on #12683
I am working on this issue.

[2018-01-26 22:33] tatatodd commented on #16453
@qtdaniel Good point.

@wolffg @rajatmonga @mkacholia we should update the roadmap on tensorflow.org.

[2018-01-26 22:34] ybsave commented on #16014
This issue is still not solved yet? I encountered the same problem; I am also working on Windows 10. The most recent tensorflow-gpu version at https://pypi.python.org/pypi/tensorflow-gpu is still built on January 13. Any updated version for windows could support Cuda 9.1? Thanks.

[2018-01-26 22:39] mas-dse-greina commented on #16381
I've been emailing Martin Wicke and Magnus Hyttsten. drpngx on the boards
recommended that I make it a feature request.

I've attached the conversation:

That will put everything (depending on where you put the device statement)
on the CPU, but not necessarily on the right worker. If it works for you,
great, but it may not be doing what you want.

On Fri, Jan 26, 2018 at 2:26 PM, Todd Wang <notifi

[2018-01-26 22:49] tatatodd commented on #16213
Maybe @mrry or @suharshs have suggestions, or know others who might have suggestions.

[2018-01-26 22:57] tatatodd commented on #12683
Cool, thanks @bixia1 !  I think you might need to join the TensorFlow github organization in order to assign this issue to you.

In the meantime I'll set "contributions welcome" to avoid our bot (tensorflowbutler) from nagging us.

[2018-01-26 23:21] facaiy commented on #16453
Does tensorflow have plan to implement Unicode string Tensor?

[2018-01-26 23:24] angersson commented on #16317
What Android SDK and NDK levels are you using?

[2018-01-26 23:26] rajatmonga commented on #16453
Yes, we are looking to update the roadmap soon, and will work to keep it more up to date.

@facaiy We do not have anything in the works to implement Unicode string Tensor. If this is something that is useful, may be worth opening it as a feature request, and share how you may do it.

[2018-01-26 23:56] tatianashp commented on #1984
@mholzel Would you be interested in doing PR based on the information in the above reply from @michaelisard? If you do it'd be very helpful!

[2018-01-27 00:00] tatianashp commented on #16316
The discussion of this issue has migrated to #16333.

[2018-01-27 00:00] #16316 closed

[2018-01-27 00:19] angersson commented on #16365
This would be nice, but work on the Docker images is not currently high-priority for us, so we're not likely to have time to work on this. Please feel free to make a contribution.

[2018-01-27 00:24] angersson commented on #15284
I think this discussion is still relevant, since Jupyter is still in the images we offer.

[2018-01-27 00:33] sswv commented on #16397
Hi, @yongtang I tested you patch and it works well in my environment! Thanks!

[2018-01-27 00:36] anpark commented on #16448
same question, how serving large embedding lookup?

[2018-01-27 00:37] mrry commented on #16381
I should think it's feasible.

[2018-01-27 00:49] mas-dse-greina commented on #16381
Thanks Derek.

If I understand the system correctly, there just needs to be a method that
can be called to push the checkpoints all onto the chief node. Of course
this would just be a snapshot that would be called at the end of training.

I've been developing a distributed TF script for Intel and have a public
repo if you all are interested in seeing what we've done.

Best,
Tony

On Jan 26, 2018 4

[2018-01-27 01:02] tatianashp commented on #16458
I apologize but I am having a hard time understanding what the problem is. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks.

If you have question on how to use TensorFlow please asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2018-01-27 01:02] #16458 closed

[2018-01-27 01:03] tatianashp commented on #16462
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-27 01:03] #16462 closed

[2018-01-27 01:19] tatianashp commented on #16466
@eisenjulian In general, contributions are welcome. Thank you for your proposal.

@roumposg - Do you think this will be a useful feature?

[2018-01-27 01:27] sswv commented on #16397
@JonathanHenson @marcomagdy I tested again following your suggestions. I confirmed that the error was related to the "virtual addressing" feature. However, it was not due to a "." in the bucket name, but some other reasons. (1) For Minio, I was using IP address as hostname, and the "virtual addressing" feature was not available. (2) For AWS S3, the error was due to some firewall rules of my HTTP P

[2018-01-27 01:30] tatatodd commented on #16397
Cool, marking "contributions welcome" since @yongtang has pending #16443 that might fix this.

[2018-01-27 01:31] selcouthlyBlue commented on #12148
How do I split the dataset into batches in this case?

[2018-01-27 01:40] softmanu commented on #16462
Thanks.. took your advice.  I've posted the same on stackoverflow, but can we take this as a feature request, as I did not find any way to achieve it in TF-Slim.? do I need to modify the content to make it a request.? I've recently joined so I may not have enough knowledge on github working process..

[2018-01-27 01:54] cherrerajobs opened #16477 "Windows Installation tutorial has wrong cuda version requirement, 9.0 required for latest version."
I just ran the installation validation and it's telling me I need 9.0, the tutorial says we must use 8.0. I don't have cheap access to Internet, now I have to find 1GB+ plus of data without paying $15 to use my phone's data. Please update the page to recommend 9.0.

Thank you.

[2018-01-27 02:08] duxingzhe opened #16478 "Failed install on Windows"
Python 3.6.4

There is a strange error when I install tensorflow 1.5.

[code]

Why the dependency is *futures*? It doesn't have a verion of Python 3.6.4.

[2018-01-27 02:22] tutan0558 opened #16479 "Does 1.5.0 not suppurt CUDA 9.1? It worked with CUDA 9.0 but not 9.1"
I installed 1.5.0, and tying to import tensorflow, but it said that 'cannot find cudart64_90.dll'.
Then I installed the CUDA 9.0, and then everything works fine.
So I want to make sure than does 1.5.0 not support CUDA 9.1 or I have something installed wrong?

[2018-01-27 02:46] tatianashp commented on #16452
@dreamdragon Would you like to comment on this request?

[2018-01-27 02:52] tatianashp commented on #16454
I apologize but I am having a hard time understanding what the problem is, where the problem is, and on what platform it happens. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-01-27 02:52] #16454 closed

[2018-01-27 02:53] #10789 closed

[2018-01-27 03:11] tatianashp commented on #16462
It is a feature request if it cannot be done with existing functionality.

@nsilberman Could you comment on @softmanu question/request?

[2018-01-27 03:21] ppwwyyxx commented on #16479
See the release notes: https://github.com/tensorflow/tensorflow/releases/tag/v1.5.0

TF 1.5.0 supports CUDA 9.1.
TF 1.5.0 prebuilt binaries only supports CUDA 9.0.

[2018-01-27 03:28] tatianashp commented on #16478
It is hard to understand your problem without complete information.  What installation method do you use?

[2018-01-27 03:31] tatianashp commented on #16450
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-27 03:31] #16450 closed

[2018-01-27 03:32] tatianashp commented on #16448
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-27 03:32] #16448 closed

[2018-01-27 04:05] x10000year commented on #12132
Any updates on this? I have experienced separable convolutions running slower than regular convolution at inference time as well.

[2018-01-27 05:01] tatianashp commented on #16428
I apologize, but I do not understand your question. Do you see an error when executing your program?

[2018-01-27 05:07] fpsandnoob commented on #16478
I have a same problem on the Ubuntu 16.04. I use pip to get the Python 3.5 binary file. And it is strange that Python 3 doesn't need the futures package.

[2018-01-27 05:12] tatianashp commented on #16344
@fchollet Could you take a look at this request?

[2018-01-27 05:16] tatianashp commented on #16478
@fpsandnoob Could you please specify what method you use to install TensorFlow?

[2018-01-27 05:17] saudet commented on #15626
FloatBuffer.put(float[]) and get(float[]) are very costly operations on Android:
https://code.google.com/archive/p/javacpp/issues/11

[2018-01-27 05:27] yazsh commented on #16385
I'm also having this exact problem.

[2018-01-27 05:35] tatianashp commented on #16464
@asimshankar  Could you take a look at this Go question?

[2018-01-27 05:37] tatianashp commented on #16456
Please try using TensorFlow 1.5 and let us know if you still see an error.

[2018-01-27 05:53] tatianashp commented on #16348
Thank you for noticing this imprecision in the documentation. Would you like to submit the requested change yourself as a pull request?

[2018-01-27 06:01] tatianashp commented on #16424
@jmsdnns Did @scottdraves suggestion solve your problem?

[2018-01-27 06:09] fpsandnoob commented on #16478
@tatianashp I used the native pip to install tensorflow-gpu with the version of Python 3.5. When the pip install the dependency, the problem occurred. Like this one:
`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.5.0-cp35-cp35m-linux_x86_64.whl`

[2018-01-27 06:18] tatianashp commented on #16358
Thanks for letting us know about the typo. It will be fixed in 1.6 release once it comes out. Please work around it till then.

[2018-01-27 06:18] #16358 closed

[2018-01-27 06:25] WongChen commented on #16478
Same problem here on Ubuntu 16.04 with Python 3.5.
Clearly, Python 3 do not need futures.  And with Python 2.7, using :
`pip2 install tensorflow-gpu==1.5.0`
it goes well.

[2018-01-27 06:34] saisankargochhayat commented on #851
Sorry for the late comment, can anyone please help me regarding setting up tensorflow in Nvidia tk1?

[2018-01-27 07:01] jmsdnns commented on #16424
no. tensorflow needs to update the versions of bleach that it depends on.

On Jan 27, 2018 1:03 AM, "Tatiana Shpeisman" <notifications@github.com>
wrote:

[2018-01-27 07:06] hamzamk commented on #6589
@onlyak
**What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?**
https://github.com/tensorflow/models/issues/2246

**Environment info**

Environment:
Ubuntu 16.04
CUDA 8.0 and 6.0, TF 1.4.0, Python 3.5

I am using conda virtual environment, below are my paths from the bashrc file:
#added by me for protobuf
export PYTHONPATH=$PYTHONPATH:`pwd`:`pw

[2018-01-27 07:25] peytonhong commented on #16186
I have the same problem.
If num_LSTM_layers = 1, it works fine. The problem only occurs when the num_LSTM_layers > 1.
Anyone who solved this problem?

[2018-01-27 07:58] eaplatanios opened #16481 "Container localhost does not exist."
Hi,

I upgraded from 1.5.0-rc1 to the current master branch and I started receiving the following error:

[code]

It's hard to reproduce this error but a summary of the context is that I have a lookup table op inside a dataset map operator and I get this error when I try to execute the corresponding iterator "GetNext" op. I'm looking for information in how to parse and debug this error. I never ex

[2018-01-27 08:07] zhiruiwang commented on #16424
Not only bleach is outdated, also is html5lib . The newest version of html5lib on conda is 1.0.1, while tf is still using html5lib==0.9999999

[2018-01-27 08:21] zhiruiwang commented on #16479
@ppwwyyxx Is installation from PyPI prebuilt binaries? I installed TF from PyPI and it shows the 'cannot find cudart64_90.dll' error. How to install TF 1.5.0 that is not prebuilt binaries? Thanks!

[2018-01-27 08:38] rajendraarora16 opened #16483 "Test case for session_partial_run_test.py is getting failed"
I tried running file `session_partial_run_test.py`, It throws an error with following two failed exception.

[code]

However, I tried debugging the code and found some scenarios in below function:

[code]

In 1st scenario, when `testRunAndPartialRunDirect()` is executed, the test gets succeed with h value:

`h = '->mul:0,mul_1:0//1/;0'`

In 2nd scenario, when `testRunAndPartialRunDist()` is execut

[2018-01-27 09:57] albertosantini commented on #16424
@zhiruiwang `bleach` depends on `html5lib`.

So it would be enough to update `bleach`.

Extract from `pipdeptree` command:
[code]

[2018-01-27 10:08] zhanshi17 commented on #12388
@shayan09 Have you fixed this problem? I have got into the same situation with you.

[2018-01-27 10:11] JennyyiqiWang commented on #12388
@shayan09 Have you fixed the problem? I have got into the same trouble.

[2018-01-27 10:16] duxingzhe commented on #16478
Thanks for previous solution.

[2018-01-27 10:16] #16478 closed

[2018-01-27 11:00] shayan09 commented on #12388
The current version of CUDA is not supported by tensorflow. So just downgrade your CUDA version to 7.0 and then reinstall the normal tensorflow and then tensorflow-gpu. Worked for me.

[2018-01-27 11:45] albertz opened #16488 "Travis trusty Ubuntu 14.04.5: module compiled against API version 0xc but this version of numpy is 0xb"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Travis trusty, Ubuntu 14.04.5
- **TensorFlow installed from (source or binary)**: binary, pip
- **TensorFlow version (use command below)**: latest pip (I guess 1.5.0)
- **Python version**: 3.6.3
- **Bazel vers

[2018-01-27 12:04] Androbin commented on #3638
@MattShannon Well, your idea seems legit, but I don't get how you would differentiate between a "real" zero value and a "fake" zero value. Although this would be a reasonable fallback behavior for out-of-range indices, it should always be a conscious decision, else we end up with silent errors.

Ideally, we would have a "special value" other than zero:
* one available for all dtypes OR one for eac

[2018-01-27 12:17] ChandlerrLi commented on #16479
Same problem, hope meaningful answers

[2018-01-27 12:39] mholzel commented on #1984
Yes. But this week is very busy. I will try to get to it next week.

[2018-01-27 12:42] Androbin commented on #15758
Is the `//tensorflow/contrib/makefile:build_all_linux` target even used anywhere?

`grep -r "build_all_linux"` yields just this:
[code]

Or is the target used somewhere outside this repo?

[2018-01-27 13:10] rongjiecomputer commented on #14830
@shaurya0 I have upstreamed some changes to make it possible to build tfcompile on Windows via Bazel, tracking bug at #15213, instruction at https://github.com/rongjiecomputer/tensorflow-xla-aot-windows. Very hacky as I need to build LLVM with CMake then import the binaries to Tensorflow to build with Bazel

If you can port the Bazel build script of XLA/AOT to CMake, it will be possible to build L

[2018-01-27 13:54] MikulasZelinka commented on #16479
@zhiruiwang Yes, PyPI contains prebuilt binaries, meaning as of now there's only the version with CUDA 9.0 support.

You can build tensorflow by yourself: https://www.tensorflow.org/install/install_sources.

However, if you're on Windows, it's not officially supported and it's not straightforward. For tensorflow 1.4.0, I found these [binaries with CUDA 9.1](https://github.com/fo40225/tensorflow-wi

[2018-01-27 14:26] richardmark commented on #16479
Easier just to go to https://developer.nvidia.com/cuda-90-download-archive and install CUDA 9.0 instead of current default install of CUDA 9.1

[2018-01-27 14:40] jamincosh commented on #16329
Thank you for your email. I think I have now answered your questions. can you help get this code working?

Rgds
Ben
07971 577243
www.linkedin.com/in/bencosh/

[2018-01-27 14:50] bhack opened #16493 "Keras "missing from loss dictionary""
I think that this warning can be rephrased:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/_impl/keras/engine/training.py#L640-L641

Some outputs could be consumed as TB summary and not involved in any loss.
Especially when you use an estimator converted from a tf.keras model  you have not the explicit control of the model_fn for placing summaries.

So I suppose that

[2018-01-27 14:55] bringtree commented on #16136
[code]

[2018-01-27 14:58] yongtang commented on #16479
From the Dockerfile that TensorFlow builds against:
https://github.com/tensorflow/tensorflow/blob/v1.5.0/tensorflow/tools/ci_build/Dockerfile.gpu

and by tracing to the related docker images, it looks like Tensorflow 1.5.0 is built with:
[code]

I think it makes sense to update the docs for CUDA/CUDNN install version.

Created a PR #16495 for version update.

[2018-01-27 15:01] rongjiecomputer commented on #15990
@cy89 I am using this bug to track all PRs for Clang on Windows support. Perhaps `stat:community support` label is more suitable for this issue?

[2018-01-27 15:17] facaiy commented on #16186
As said by @peytonhong ,`[lstm_cell] * num_LSTM_layers` all refer to the same object `lstm_cell`. The multiplication operator on list doesn't copy its elements. So it's not a bug, right?

[2018-01-27 15:23] Hvass-Labs opened #16496 "Feature Suggestion: "Float-bit-strings""
### System information (Not really relevant ...)
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4
- **Python version**: 3.6
- **Bazel version (if compiling fr

[2018-01-27 15:24] lucaswu opened #16497 "SpatialConvolution in tflite is very slow"
Hi, i build tflite ,using bazel build --cxxopt='--std=c++11' //tensorflow/contrib/lite/java:tensorflowlite
--crosstool_top=//external:android/crosstool \
--host_crosstool_top=@bazel_tools//tools/cpp:toolchain \
--cpu=armeabi-v7a
I test my CNN model, but it's very slow in google piexl. I analyze time cost of my CNN model. SpatialConvolution function is very slow, only 20%  of the peak flops of my h

[2018-01-27 15:54] mrry commented on #16481
I think this could be a knock-on effect from 9f4118d00fa9eb85f81a4eb3f96a5583ae5afcdc, which modifies (and in principle simplifies) how DT_RESOURCE tensors are captured inside a `Dataset` transformation (such as `Dataset.map()`).

It sounds like there is some disagreement between the code that creates the lookup table and the op that performs the lookup itself. Could you share the code for creatin

[2018-01-27 16:39] woozhanwei opened #16498 "Bounding box do not remove"
Hi there,
After I detected my tv, it showed up but when i move it to other place, it do not remove the bounding box even though i put my camera on the table. Is this a bug?

![2018-01-28-00-34-50](https://user-images.githubusercontent.com/32919949/35474032-9eb4827e-03c3-11e8-8768-c4c81f9ad391.png)

[2018-01-27 16:43] violetguos opened #16499 "Extend tf.unique_with_counts to multi-dimensional tensors"
I'm trying to solve KNN using tensorflow. After I get the K neighbours for N vectors, I have a N by K tensor. Now, for each vector in N, I need to use [```tf.unique_with_counts```][1] to find the majority vote. However, I cannot iterate in a tensor and I cannot run [```tf.unique_with_counts```][1] with a multi-dimensional tensor. It keeps giving me ```InvalidArgumentError (see above for traceback)

[2018-01-27 18:05] fritzfitzpatrick commented on #12065
@adarob Thanks, I'll try tf.identity.

I will pass the modified decoder output (through a dense layer) of time step T as inputs in time step T+1 to the decoder, I was unclear in my above post, sorry for that.

[2018-01-27 19:05] gongzhitaao commented on #16333
I think this is closed related to #13616

[2018-01-27 19:15] andreas-eberle opened #16502 "Java Android API: No OpKernel was registered to support Op 'ListDiff'"
### System information
Android with Java API releases 1.4.0 and 1.5.0-rc1 (1.5 is not available yet)

### What I did
I have a graph that is applying a `tf.layers.dense` on a three dimensional tensor, which is applying a dense operation to the last dimension. Learning and execution on a Windows 10 and Ubuntu work fine.

Now I froze the model and put it on Android and receive the following error.

[

[2018-01-27 20:03] yongtang commented on #16499
The multi-dimensional and axis support for unique_with_counts actually has already been implemented when UniqueV2 kernel was added in #12952. It is just not registered and exposed to python API.

Added a PR #16503 to address the issue.

[2018-01-27 20:10] fjanoos opened #16504 "Issue propagating gradients through tf.while_loop"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu wheezy

- **TensorFlow installed from (source or binary)**:
pip

- **TensorFlow version (use command below)**:
tf.VERSION = 1.4.0
tf.GIT_VERSION = v1.4.0-4-g9283868
tf.COMPILER_VERSION = v1.4.0-4-g928

[2018-01-27 20:27] #14250 closed

[2018-01-27 21:58] philipp-fischer commented on #2118
It is pretty simple to show that it is not invertible due to the integer division by stride.
Let's consider the formula for conv2d with padding SAME:
`output = (input + stride - 1) // stride`
Let's say stride is 2 (a common case), then for an input size of 4 we get output size 2.
But for input size 3 we also get an output size of 2.
So **not invertible**.
Hence we need to specify the output size o

[2018-01-27 22:08] bhack commented on #16452
Check https://github.com/tensorflow/models/issues/2793 but we could use this issue to track the topic.

[2018-01-27 22:13] bhack commented on #16453
It could be useful to explicitly know what is in the next release targets. Can you start to use a specific release label for ISSUE/PR?

[2018-01-27 23:01] #16479 closed

[2018-01-28 00:03] selcouthlyBlue opened #16506 "Feature request: Have Estimator display Loss and Metrics for Every Epoch and not Every Step"
Most of the papers I’ve read measure the time it takes to train a model with every epoch and not every step. If it isn’t possible to display the loss only for every epoch, I think it would be nice to print when an epoch has passed.

[2018-01-28 01:25] liuhyCV commented on #9099
@melfm do you have some idea about it ?

[2018-01-28 01:43] hiroshiperera opened #16507 "ResourceExhaustedError, when running UNET"
My computer has a gpu GeForce 940MX installed. It has the Memory bandwidth 16.02 GB/s. I'm trying to train LUNA dataset using UNET model using following code.

	from __future__ import print_function

	import numpy as np
	from keras.models import Model
	from keras.layers import Input, Conv2D, MaxPooling2D, UpSampling2D
	from keras.layers import concatenate
	from keras.optimizers import Adam
	from k

[2018-01-28 03:31] 1973Blunt commented on #8343
hi,
Is this fixed?
When I run:
[code]
I get such error:
[code]
version: tf 1.4.1

[2018-01-28 03:40] caisq commented on #15882
Thanks for reporting the issue, @jgefele . We are working on a fix, which will let tfdbg's `tf.Session` wrappers bypass `Session.run` calls with effectively empty fetches. Let me know if you have any further questions.

[2018-01-28 04:25] peytonhong commented on #16186
No, I don't think it is a bug. The problem was came from a misunderstanding about the structure of TensorFlow.

[2018-01-28 04:32] ashimb9 commented on #15150
@ebrevdo Would you mind sharing the reference please? Thanks!

[2018-01-28 04:33] ashimb9 commented on #15150
@zotroneneis any updates?

[2018-01-28 04:46] selcouthlyBlue opened #16510 "Feature Request: Make lstm2d.separable_lstm accept Dynamic Batch Sizes"
Apparently, lstm2d.separable_lstm doesn't accept dynamic batch sizes (number of images). Whenever I set the shape of a `placeholder` to `(None, height, width, depth)` to be fed into the network , I get this error:

[code]

I guess it would be nice to have `separable_lstm` accept dynamic batch sizes so it can be used effectively.

[2018-01-28 05:10] chhwang commented on #14573
I've just tested whether this issue is still valid in the latest master, and I still face the same error message.
Following is my updated Dockerfile that builds the current latest master (tensorflow/tensorflow@f68404bdd10a4b6ef2a50439efac4614de024636), and I add `--incompatible_load_argument_is_label=false` option in the build command to bypass an orthogonal issue #15492. Building this Dockerfile

[2018-01-28 05:20] huguyuehuhu commented on #16488
@albertz I have met the same problem with your , have you solved it ?

[2018-01-28 05:20] huguyuehuhu commented on #16488
@albertz I have met the same problem with you , have you solved it ?

[2018-01-28 05:43] eaplatanios commented on #16481
@mrry I'd love to share the code but it's written in Scala using my API and it might be hard to get familiar with the codebase. I can do so if you think that can help. However, in order to give you a summary, the lookup table is created right before being used in the dataset map. It is also initialized prior to being used by calling `GetNext`. What kind of disagreement could cause such an error? I

[2018-01-28 06:00] JPML94 commented on #11280
I'm experiencing this issue trying to go through the Object Detection Tutorial.

Windows 10
TensorFlow: 1.6.0-dev20180126

Tried different TensorFlow versions and everything on this issue, any other ideas?

[2018-01-28 06:12] JaneTakanashi commented on #11812
use nvidia-smi to see if gpu is overload, and use 'kill -9 pid' to kill the process.

[2018-01-28 06:49] zotroneneis commented on #15150
@ashimb9 No, regrettably not. We are having problems to get tf-nightly to work. As soon as I get results I will post them here.
Regarding the reference: it was discussed in [this post](https://github.com/tensorflow/tensorflow/issues/11650)

[2018-01-28 06:57] ashimb9 commented on #15150
@zotroneneis Ouch! that is indeed unfortunate. But please do keep us posted if something comes up.
Anyway, thank you for your response and also for the reference link.

[2018-01-28 07:56] zeynali opened #16512 "how to install ffmpeg in tensorflow 1.4 binary"
hi
i want to install ffmpeg in tensorflow 1.4 binary , python 3.5 on ubuntu 16.04 , please help me how do i do ?
the output type python -c "from tensorflow.contrib import ffmpeg" is ok dont have anly error , but i dont know why :
from tensorflow.contrib import ffmpeg

i get error ,

  File "<stdin>", line 1
    from tensorflow.contrib import ffmpeg
    ^
IndentationError: unexpected indent

[2018-01-28 10:24] Paula15 opened #16513 "TF1.5.0 not working with CUDA 8.0"
After upgrading to TF 1.5.0, when I import tensorflow, it raises:

[code]

- System: Ubuntu 14.04.5 LTS (64 bit)
- Python: 2.7.6
- TensorFlow: tensorflow-gpu-1.5.0
- GPU: GeForce GTX TITAN
- CUDA: 8.0

[2018-01-28 12:07] ahangchen commented on #5354
I try @hzxie 's suggestion and CUBLAS__STATUS_NOT_INITIALIZED changes to OOM.

[2018-01-28 12:17] bringtree commented on #15140
i build it successfully.However, when i import it. it throw an error.
`bringtree@bringtree-HP-Z420-Workstation:~/tensorflow-1.5.0/tensorflow_pkg$ python3
Python 3.5.2 (default, Nov 23 2017, 16:37:01)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

t>>> sess= tf.Session()
2018-01-28 20:14:56.074102: I tensorflow/core/common_runtime/gpu/gpu_devic

[2018-01-28 12:26] rootally commented on #16513
Facing the exact same Issue!

[2018-01-28 12:27] rootally commented on #16507
Yes your GPU memory is not sufficient to load the model, it would be better if you feed the dataset in batches!

[2018-01-28 12:45] bizstream-markschmidt commented on #8043
@brightbytes-dude I think you are experiencing the same exact issue I am https://stackoverflow.com/questions/48460913/how-do-i-properly-use-the-weight-column-when-working-with-tf-estimator-dnnclassi

Did you ever figure out a solution to it?

[2018-01-28 12:54] arunmandal53 commented on #15140
@bringtree what the command `nvidia-smi` returns?

[2018-01-28 13:27] zonetrooper32 opened #16514 "Possibility to compile Tensorflow Native C++ Library to support Windows 10 UWP?"
Hello all,

When I was checking Deep Learning framework for Windows 10 UWP development, somehow I came into this: https://anyline.com/news/tensorflow-implem/

It was not hard to see their UWP example app as well: https://github.com/Anyline/anyline-ocr-examples-windows-uwp

Which really brings up the question: Is it possible to compile the Tensorflow C++ library to add support for Windows 10 UWP de

[2018-01-28 13:38] machinelearning147 opened #16515 "Unable to install/ upgrade tensorflow1.5 on window10"
Exception:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\basecommand.py", line 215, in main
    status = self.run(options, args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\commands\install.py", line 335, in run
    wb.build(autobuilding=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\wheel.py", line 749, in build
    self.require

[2018-01-28 13:49] oldoldman commented on #16143
I've found the problem is about Amazon platform , so I disable this feature from configuration as an workaround .  And now I can precede .

[2018-01-28 13:49] #16143 closed

[2018-01-28 14:06] #16514 closed

[2018-01-28 14:11] mtngld commented on #16513
The prebuilt tensorflow binaries support CUDA 9.0 - https://github.com/tensorflow/tensorflow/releases/tag/v1.5.0

You have 3 options:

1. Compile from source and link against CUDA 8.0.
2. Upgrade your CUDA to 9.0
3. Continue to user TF 1.4.

[2018-01-28 14:16] jackyko1991 commented on #16512
ffmpeg is not officially supported by TF, you need to build from source and set this function on

[2018-01-28 14:18] jackyko1991 commented on #16477
A pull request has been submitted. Pending for review and merge

[2018-01-28 14:26] jackyko1991 commented on #16515
Try to uninstall old tf packages before you upgrade

[2018-01-28 15:24] Alexuan commented on #14689
@TarrySingh thanks 大傻猫，你真棒👍

[2018-01-28 16:08] codewanghust commented on #14433
mark

[2018-01-28 16:15] programowalny opened #16517 "ou must feed a value for placeholder tensor 'import/Placeholder when i test my frozen model"
Hello , I trying create mobile app for object recognition for my own created model. I fallow this tutorial https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2/#2
But when i even get a testing model from step 3 i get error

[code]

I'm aware that is wrong node problem, but i trying with other and always i get failure

My code for model creation
[code]

I'm freeze this model with

[2018-01-28 16:23] alexanderkjeldaas opened #16518 "./configure [--help|-h] does not work"
[code]

starts some interactive configuration.

It should output a list of possible configuration options or indicate where to find more information.

It should *not* start interactive configuration.

[2018-01-28 17:24] dkmerona opened #16521 "Failed to load native Tensorflow runtine"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-28 17:25] petertulala commented on #15383
Are plans to implement this? It would simplify the model, because currently it is very difficult to manipulate with a saved a graph without placeholders for inputs.

For example, currently there are two different discriminators created - one for real and one for fake data.

When I want to save the model and use the trained discriminator later with custom data, I have to create a third discriminato

[2018-01-28 17:25] KrnTneja commented on #13154
Is there any other option i.e. another way to use `AttentionWrapper` with `alignment_history=True`? Or is `alignment_history=True` not possible at all right now?

[2018-01-28 17:43] jlebar commented on #16045
I haven't been able to find anything suspicious in the SessionModules.  :(

That's not to say that something isn't broken -- I think something probably is.  But just that whatever is broken isn't obvious when I shove random data through these XLA parts.

A TF reproducer would very likely help.

[2018-01-28 17:47] sn2234 opened #16522 "TF 1.5 fails on Windows 10 with "Security check failure or stack buffer overrun""
The error is reproducible on simple MNIST tutorial from https://www.tensorflow.org/tutorials/layers
I can upload the minidump, if necessary.

**TF version**
python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"
b'unknown' 1.5.0

**The TF log is**
Extracting MNIST-data\train-images-idx3-ubyte.gz
Extracting MNIST-data\train-labels-idx1-ubyte.gz
Extracting MNIST-data\t10k-images-idx3

[2018-01-28 18:45] nikhilk opened #16523 "Feature request: tf.Print should either print (not log), or accept a log level"
### System information
- **Have I written custom code**: no
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: 1.4.1
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: n/a
- **GCC/Compiler version (if compiling from source)**: n/a
- **CUDA/cuDNN version**: n/a
- **GPU model and memory**: n/a
- **Exact c