[2019-12-11 14:18] TomScheffers commented on #34418
I had the same issue. The "bare-bones" solution is quite easy:
[code]

[2019-12-11 14:31] zink-chimaera commented on #28710
This bug is still present in 1.13.2.

[2019-12-11 14:34] i-tolmachev opened #35028 "Loading models with BuildFromBuffer crashed the app."
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Android Q
- Mobile device: Samsung Galaxy
- TensorFlow installed from: source r20
- TensorFlow version: 2.0.0
- Python version: 3.7
- GCC/Compiler version: Android NDK19

In the sample Android project I stored .tflite binary models as constant variables:

models.h:
[code]
model1.cpp:
[code]
model2.cpp:
[code]

[2019-12-11 14:44] jtdutta1 commented on #34866
I tried it using __Tensorflow 2.0__ and this was the error:-

`Traceback (most recent call last):
  File "vgg_loss.py", line 103, in <module>
    main()
  File "vgg_loss.py", line 97, in main
    model.compile(optimizer='adam', loss=some_loss, metrics=['accuracy'])
  File "C:\Users\Intel\Anaconda3\envs\tensorflowgpu\lib\site-packages\tensorflow_core\python\training\tracking\base.py", line 457, in

[2019-12-11 14:44] dgrahn commented on #32142
I encountered a problem with the same solution.
I can't say that it was the *same* problem, but setting `experimental_run_tf_function = False` on the compile method solved it.

I'll update with the error message as soon as I am able to reproduce it, but it was essentially.
[code]

[2019-12-11 14:45] aldasmallthings commented on #32139
ditto! :(

[2019-12-11 15:21] Keyrainn commented on #34143
yes. only training done on local machine

[2019-12-11 15:25] kevin8100 opened #35029 "failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): GKE with GPU / Ubuntu
- Mobile

[2019-12-11 15:39] OverLordGoldDragon commented on #33487
@tomonodes Several-hundred % is a red flag; either something's very wrong with the current `tf-nightly`, or something off with your code/configs. If you share a minimal reproducible code for which you can observe such discrepancy, and the code looks fine, I'll mention it on the SO. Also include your environment info (OS, CUDA + cuDNN versions, GPU, CPU, IDE)

[2019-12-11 15:51] nluehr commented on #34801
@pythops have you tried installing NVIDIA's TensorFlow package that is built specifically for the Jetson platforms? https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html

@MattConley may have additional advice as well.

[2019-12-11 15:57] gdudziuk opened #35030 "High memory consumption with model.fit in TF 2.0.0 and 2.1.0-rc0"
**System information**

- Have I written custom code: Yes
- OS Platform and Distribution: Linux Kubuntu 18.04, kernel 5.0
- Mobile device: Not verified on mobile devices
- TensorFlow installed from: binary via `pip install tensorflow-gpu`
- TensorFlow version: `2.1.0-rc0`, however affected are also `2.0.0` and `2.0.0-rc0`, `2.0.0-rc1`, `2.0.0-rc2`
- Python version: 3.6.9
- CUDA version: 10.1 for T

[2019-12-11 16:01] anandsaini024 opened #35031 "ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."
**System information**
- Windows 10 866 bit OS,x64 based processor
- python 3.5.4 (working on virtual env)
- pip installed version of Tensorflow
- TensorFlow version: tensorflow==2.0.0
- other packages:
scikit-learn==0.22
scipy==1.4.0rc2
six==1.12.0
tb-nightly==2.1.0a20191115

**Command used to run the converter or code if you’re using the Python API**
Used the following code to quantize the froze

[2019-12-11 16:01] sanjoy commented on #34801
How does the TF Jetson package differ from stock TF?  @nluehr

[2019-12-11 16:28] CNugteren opened #35032 "cuBLAS failure for large convolutions in V100 GPUs"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.15.0 or 2.0.0
- **Python version**: 3.7.3
- **CUDA/cuDNN

[2019-12-11 16:29] nectario opened #35033 "Cannot use Model as a Layer"
I am not able to use Model as a Keras layer. I get the following error message:

**AttributeError: 'Model' object has no attribute 'shape'**

<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template

[2019-12-11 16:32] rjafarau commented on #34107
Any updates?

[2019-12-11 16:40] WhistleWhileYouWork commented on #35025
Everything is working. Your GPU was found and initialized as stated in the last line: 'Created TensorFlow device...'
'Found device 0' should be read as: 'Found device #0' _not_ 'Found 0 devices'

[2019-12-11 16:40] fonnesbeck commented on #35002
I've tried this with 2.1.0.rc1, but now get the following:

[code]

Why is it now looking for a SavedModel when I've passed it a `h5` extension in the string? The documentation says it should recognize this.

[2019-12-11 16:40] caohoangphuctd97 commented on #28393
Try adding these lines of code immediately after importing tensorflow in train.py

from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)

[2019-12-11 16:43] jvishnuvardhan commented on #34107
@rjafarau Do you have any simple standalone code to reproduce the issue? Standalone codes results in faster resolution. Thanks!

[2019-12-11 16:47] jessicadef commented on #34317
Thanks for the reply! At first it seemed to me that `interleave` served to parallelize data processing so each `worker` would still have to query the data from the remote storage but I will definitely deepen the documentation.

[2019-12-11 16:50] 600DZY commented on #32817
将全量数据集切分成多个batch，对模型进行分批迭代训练，是常规做法，先理解一下两个概念：
- [batch_size：每个batch的数据量大小]
- [batches：整个数据集按照batch_size切分后的batch数量]

[code]
- [epoch:迭代次数，一次迭代可以粗糙的理解成使用一个batch的训练数据对model进行训练。
The number of iterations, one iteration can be roughly understood as using a batch of training data to train the model.]
- [steps_per_epoch：每次迭代被model消费的batches，可以粗糙的理解为将固定数量的batch合并成一个更大的bigger_batch，然后用bigger_batch对model进行

[2019-12-11 17:01] gdudziuk commented on #35030
I have just discovered that TF `2.1.0-rc1` was released today. Unfortunately, the issue persists in `2.1.0-rc1`.

[2019-12-11 17:08] jvishnuvardhan commented on #34965
@marcj Are you willing to raise a PR to correct the docs? Thanks!

[2019-12-11 17:08] ChiragKushwaha commented on #35025
@WhistleWhileYouWork
Thank you, for your reply , i have one more query , as i have two gpu's 0 and 1 , it seems it is using gpu 0 , which is my intel graphics card , how can i switch it from gpu 0 to gpu 1 since gpu 1 is my nvidia graphic card.

[2019-12-11 17:12] WhistleWhileYouWork commented on #35025
Tensorflow only recognizes Nvidia GPUs. GPU 0 is the Nvidia graphics card.

[2019-12-11 17:14] marcj commented on #34965
@jvishnuvardhan does this mean this is a doc issue only and thus a breaking change compared to official/current Keras implementation?

[2019-12-11 17:34] robieta commented on #34907
PR, for reference: https://github.com/tensorflow/tensorflow/pull/35019

@goldiegadde @martinwicke For getting it into 2.1
@yhliang2018 @bitfort We should be able to test this in microbenchmarks. (`experimental_relax_shapes` doesn't change semantics, only performance.)

[2019-12-11 17:35] gargn commented on #34868
If your batch size is always intended to be the same non-1 value, we recommend setting the batch size of the input tensor in the TensorFlow model (e.g. instead of (n, 20, 8) have the model shape be (10, 20, 8)).

However, if that's not the case, then we currently don't support dynamic shapes. There are a few other open issues about adding dynamic shape support: https://github.com/tensorflow/tensor

[2019-12-11 17:39] robieta commented on #33487
@tomonodes To clarify, you're saying that 2.0 is much slower than tf-nightly? If so, that is expected behavior; there are a number of key performance improvements that were made to TensorFlow after the 2.0 release that are present in HEAD (where tf-nightly is built from) and will be in 2.1. On the other hand, if tf-nightly is slower than 2.0 then that's a problem.

[2019-12-11 17:44] gthb commented on #34827
@gowthamkpr I only see one error there, which is that `__file__` is not defined, which must be because you're running in a notebook, not a Python file on disk. You can probably just remove that line (and maybe get some more uninteresting memory allocations as noise), that condition is just there to ignore memory allocations occurring within the top-level module. If removing it yields too much nois

[2019-12-11 17:45] OverLordGoldDragon commented on #33487
@robieta Now that I re-read it OP does clearly state "decrease compared to `tf-nightly`, guess I misread that; if so, great work, I'm looking forward to 2.1

[2019-12-11 17:55] YAIsaienkov commented on #34868
Thank you all for the help!

[2019-12-11 17:55] #34868 closed

[2019-12-11 18:06] impjdi commented on #34642
@hgaiser @multiverse-tf

I think the term ``head'' is causing confusion.  When multiverse-tf was talking about tflite head version, he's talking about the latest code snapshot of TFLite repository.  When hgaiser is talking about head, it's about the bottleneck layer in the network.

Now, having said that, to hgaiser's latest comment, that statement of ``a subset of the complete network produces di

[2019-12-11 18:14] impjdi commented on #34642
Oh and my apologies, I wasn't paying full attention.  I see that there are two people asking for different on this thread: @hgaiser about the discrepancies of models with/without bottleneck layer and @koodzi about CPU/GPU discrepancies.  @koodzi I would advise to open up a separate thread, rather than piggybacking on someone else's thread.  Also, attaching the model can help diagnosing the issue.

[2019-12-11 18:26] netskink commented on #32557
I've tried again.  It still fails.  Here is some additional info with a different setup.

[https://gist.github.com/netskink/768a3915f61c47887b3080a58164ddaa](https://gist.github.com/netskink/768a3915f61c47887b3080a58164ddaa)

[2019-12-11 18:32] chahld commented on #34834
@jvishnuvardhan

Yes I know that the ReLU layer works (I showed that in my code to reproduce the problem).

There are two reasons why I don't think this should be closed.

First: tf.keras.activations.get('relu') returns the function, not the layer class. If only the layer class is supported then it should be the one returned by the get. I was using the get method so that I could change the activat

[2019-12-11 18:43] ymodak commented on #34998
@techguyzz You may use any of the templates to post a issue, make sure you provide all relevant information as much as you can. Once you post the issue we can label appropriately after interpreting the content. We can use label ```micro``` on GitHub for your case.

[2019-12-11 18:51] fonnesbeck commented on #35002
OK, I noticed in the release notes that under 2.1 the model needs to be saved with a `save_format="h5"` argument.

I've gone ahead and done this; unfortunately, the same error comes up: a file read failure.

[2019-12-11 18:53] conradjones commented on #32997
`I'm having similar issues.

[2019-12-11 18:57] drasmuss opened #35036 "Error when no GPU available in TensorFlow 2.1.0rc1"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0rc1

[2019-12-11 19:00] fonnesbeck commented on #35002
More info: this only seems to occur when the models are stored on a GCS bucket (which has been mounted using `gcsfuse`). If I move the models to a local directory, they open fine.

[2019-12-11 19:01] eduardo4jesus commented on #32809
Please, I need it too.

[2019-12-11 19:12] hgaiser commented on #34642
Oh I thought that TFLiteConverter uses float32 by default. Where did you see that it uses quantisation? I would suspect that it uses float32 actually, since the differences would be greater otherwise, wouldn't it?

[2019-12-11 19:18] pavithrasv commented on #34577
Closing this as the behavior is as expected. Please let us know if you have any questions. Thank you!

[2019-12-11 19:18] #34577 closed

[2019-12-11 19:22] ymodak commented on #35033
See [All models are callable, just like layers](https://www.tensorflow.org/guide/keras/functional#all_models_are_callable_just_like_layers) to know more.

[2019-12-11 19:25] diNatale commented on #34211
Hi @yanndupis, @ravikyram ,
It looks like we have the same problem, with a similar error, when saving a model, and then loading it again, e.g. for retrain.

We save the model using **tf.saved_model.save()** and not Keras.

We are running on Ubuntu 16.04, Python 3.6, TF2.0
We have just tried and the problem still exists with TF2.1.0-rc1

[2019-12-11 19:29] gunan commented on #35036
@yifeif @goldiegadde looks like we have a potential regression?
Could one of you confirm this?

[2019-12-11 19:37] VSGD commented on #34937
Hi,
I am working on classification problem where the neural network is trained
with 225 images and prediction is to be carried out for 23 images.
code for predict.py is attached herewith, predict(original).py is one and
the same file.

On Mon, Dec 9, 2019 at 11:43 AM oanush <notifications@github.com> wrote:

[2019-12-11 19:40] pythops commented on #34801
@nluehr I didn't cause I wanted TensorFlow 2.0 and it is not available from NVIDIA yet, that's why I complied it myself.

[2019-12-11 19:52] k-w-w commented on #35002
There are issues with using HDF5 with GCS. I'm not sure when we'll be able to get to this, but please use the workaround where the model is copied locally before loading.

[2019-12-11 19:55] advaitjain opened #35037 "Testing new tensorflow team"
Testing that issue tagged with @tensorflow/micro goes to the appropriate set of folks.

[2019-12-11 20:11] jvdillon commented on #32139
(Not sure how I got assigned this; in fact I didnt even notice. Reassigned to alextp for further triage.)

[2019-12-11 20:19] Dr-Gandalf commented on #33024
I have similar issue, when I tried fit instead of fit_generato, and when I tried tuple thing the error disappeared, but I got a different issue, my dataset is made of 300000 images, and it appears that now keras is trying to load all the images to memory before start training, and obviously it does not work, any work around this problem?

my data generator is feeding a multi input model, that rece

[2019-12-11 20:22] robieta commented on #33024
@Dr-Gandalf what is your exact version of TensorFlow? And can you provide a minimal repro of a case where keras is loading too much into memory?

[2019-12-11 20:25] #35037 closed

[2019-12-11 20:47] Dr-Gandalf commented on #33024
@robieta I am using tf 2.0.0 inside a docker from docker hub, "tensorflow/tensorflow:latest-gpu-py3-jupyter".

this are my imports
`from tensorflow import keras
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Input, Dense, Flatten, concatenate, Dropout, GlobalAveragePooling2D
from tensorflow.keras.models import Model

[2019-12-11 20:51] alextp commented on #32139
If the problem still occurs for you please open a new issue with the steps you need to reproduce the problem. As far as we can tell the TFP issue here has been fixed.

[2019-12-11 21:10] aselle commented on #34698
I could not reproduce this. On linux you shouldn't have to manipulate your path and virtualenv should work.
[code]
The only guesses I have without more info is you are not sourcing the virtualenv script?

[2019-12-11 21:11] impjdi commented on #34642
@hgaiser

I was referring to #34873 and it was

which caused quantization (took me a while to find out).  If you're not using that, you should be float32 domain.

[2019-12-11 21:14] tjingrant commented on #12888
We are the team that created onnx-tensorflow, and we propose to support ONNX in MLIR!
Check out our contribution proposal https://github.com/onnx/onnx/issues/2499 .

[2019-12-11 21:19] AndreyPlotkinOr commented on #24162
I got the same exception now:
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
TensorFlow installed from (source or binary): source
TensorFlow version: 1.15
Python version: 3.6
Installed using virtualenv? pip? conda?: pip
Bazel version (if compiling from source): 0.25.2
GCC/Compiler version (if compiling from source):
CUDA/cuDNN version: 10

Trying to compile debug mode:
bazel build

[2019-12-11 21:20] mihaimaruseac commented on #35025
You can also check with `nvidia-smi` which GPU gets used

[2019-12-11 21:29] #35013 closed

[2019-12-11 21:35] ymodak commented on #35025
You may use [tf.device](https://www.tensorflow.org/api_docs/python/tf/device)
[code]

[2019-12-11 21:36] impjdi commented on #34525
Thanks for looking into this @terryheo

IIRC I have received an issue related to

@ekaterinaignasheva Was that assigned to you?

[2019-12-11 22:07] robieta commented on #33024
Ah, ok I see what is happening. `fit` takes a `shuffle` argument which defaults to True. (Since that is generally what is desired for arrays or Datasets.) However it doesn't really make sense for generators. In order to provide shuffling tf.keras currently drains the entire generator so it can shuffle the batches, whereas it should just drop the shuffle arg and use the elements as they are yielded

[2019-12-11 22:09] impjdi commented on #34525
I checked with @ekaterinaignasheva in person.

`FULLY_CONNECTED` is essentially matrix matrix multiplication, and we unfortunately don't support it, only matrix vector multiplication.  We're currently short staffed and can't prioritize to implement that.  Would it be possible to rewrite your graph to use 1x1 convolution instead?

[2019-12-11 22:12] jaingaurav commented on #33708
@sgambient: Could you please verify if int64 helps?

[2019-12-11 22:37] penpornk commented on #34841
Thank you for reporting the issue!

I tried this on an Ubuntu 16.04 VM + Python 3.7.4 + 360GB memory. I could reproduce the corrupted image issue with both TensorFlow-MKL (Intel-optmized TensorFlow) and regular TensorFlow. (Regular TensorFlow didn't crash for me.) Will try to fix the corrupted image issue first and then we can see if regular TensorFlow still crash for you.

[2019-12-11 22:47] gowthamkpr commented on #34827
@gthb Can you please try reproducing it in colab and share the gist. Thanks!

[2019-12-11 22:49] gowthamkpr commented on #34551
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments and we can open the issue again. Thanks!

[2019-12-11 22:49] #34551 closed

[2019-12-11 22:49] #34475 closed

[2019-12-11 22:50] gowthamkpr commented on #34443
@ClementWalter Closing this issue as this is an expected behavior. Please add additional comments and we can open this issue again. Thanks!

[2019-12-11 22:50] #34443 closed

[2019-12-11 22:55] impjdi commented on #34922
EGL by default pulls in X11 headers.  X11 includes a

somewhere.  You need to find the flag that disables that.  It's different for each platform, so I can't pinpoint which flag you need to set.  One of the name's I've seen in the past is something like `MESA_EGL_NO_X11_HEADER`, but really, you have to dig deeper and find the flag that does the job.

[2019-12-11 22:55] #34922 closed

[2019-12-11 22:55] rahul003 opened #35040 "S3 unit test build broken: gtl not declared"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-12-11 22:56] rahul003 commented on #35040
How to include gtl correctly for the gtl::string_as_array function used in the file?

[2019-12-11 23:15] Joshuaalbert commented on #14885
I also have the same error. I do not have a graph growing out of memory as suggested by @mrry.
I do have `ncpu` processes running tensorflow where `ncpu` is the number of cores with affinity. Perhaps worthwhile to note, I'm also using py_function a lot in each computation graph of each process. Does this produce extra threads? My limits are:
[code]

If `max user processes = 4096` and I'm running 2

[2019-12-11 23:19] edloper commented on #34793
RaggedTensor.to_tensor has a shape parameter (as of 0efc9f4) which you can use to pad/truncate to a specified shape. Partial shapes (ie shapes where some dimensions have unknown size) are supported.

[2019-12-11 23:42] angerson commented on #35036
I wasn't able to reproduce this on Windows 2019 Server on either Python 3.7.4 or Python 3.6.8, after uninstalling both CUDA and Visual Studio 2017 Build Tools.

[code]

[code]

I did have to install as `--user`, however. Perhaps there is an underlying permissions issue?

[2019-12-11 23:52] rjafarau commented on #34107
@jvishnuvardhan sure

**System information**
Official Tensorflow docker image tensorflow/tensorflow:2.0.0-gpu-py3-jupyter
GPU model and memory: GeForce GTX 1070 Ti 8Gb

[code]

[2019-12-12 00:18] ymodak commented on #33796
Apologies for the delay in response. I was able to execute your script successfully using TF 2.1.0-rc1.
[code]

[2019-12-12 00:23] ymodak commented on #33774
Apologies for the delay in response. You may add the `--enable_v1_converter` flag to get support for converting graphdefs from the command line in TF 2.
[code]

[2019-12-12 00:38] ricoms commented on #34607
This issue happens with me running a falcon app inside the `tensorflow/tensorflow:nightly-py3` docker, just when it uses `tensorflow.keras.models.load_model` method.

[2019-12-12 01:04] songs18 commented on #34369
Thanks.
I know that AVX could cause the warning ' Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA',  and my question is not this one.
'Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them'  occured during computing derivative and applying gradient, how AVX cuase this warning? Is there any relati

[2019-12-12 01:48] JustinhoCHN commented on #33646
same issue here, when you save the model in tf format, you can't re-load the model with custom_objects, this should be fixed.

[2019-12-12 01:49] terryheo commented on #34926
@TheArheus I've reproduced this. I'll dig more.

[2019-12-12 01:52] arthurflor23 commented on #34983
Same issue here, 2.1-rc0 and 2.1-rc1

[2019-12-12 02:04] JustinhoCHN commented on #33646
not working at keras 2.3.1, tf 2.0.0
[code]

[2019-12-12 02:21] karmel commented on #34859
@sharvil -- in this case, the behavior of the v2 tf.keras.optimizers are consistent with the behavior of v1 tf.keras.optimizers, which also threw errors for missing gradients. Ideally, we would not break consistency with the tf.train optimizers, but in this case we had to break one way or the other. Given that we had the capacity to raise informative error messages, and that requiring filtering on

[2019-12-12 02:34] zxgm opened #35042 "How to know if savedmodel supports batch input and dynamic length input?"
I use the follwing code:

[code]
the result:
[code]
But the code can't to distinguish with batch input and dynamic  length input.Anyone can help me?Thank you very much.

[2019-12-12 02:34] terryheo commented on #34926
ERROR: C:/tensorflow/tensorflow/lite/BUILD:452:1: output 'tensorflow/lite/libtensorflowlite.so.if.lib' was not created

@jdduke please let us know if have some idea on this error.

[2019-12-12 02:37] x10000year opened #35043 "TF2.0: No way to create local variables in tensorflow 2.0"
In tensorflow 1.x, user can create local variables, whose lifetime spans over multiple session runs, but will not be saved to checkpoints. Those local variables can be used as internal states of session (e.g., the hidden states of an online rnn). In tensorflow 2.x, session is gone in python side, but when deploy the model in a c++ program we still need to use session, and the local variables can b

[2019-12-12 03:04] x10000year commented on #27614
why freeze_graph is deprecated in TF2? freeze_graph can reduce the latency of my model by 2ms in TF1.14, even with XLA enabled. @leimao  @nmatare

[2019-12-12 03:16] drasmuss commented on #35036
You can see the issue reproducing in this appveyor build, if that helps https://ci.appveyor.com/project/nengo/nengo-dl/builds/29482767/job/8054ac3871y174vn#L503

[2019-12-12 03:23] leimao commented on #27614
Simply because there is no tf.Session(), which is a necessary component to build frozen models, anymore in TF 2.0, and I guess Google does not want to bother to implement another protocol to freeze models without using the tf.Session() path.

[2019-12-12 03:24] workingloong commented on #34793
Good, Thank!  Can you add a padding argument which we can use to pad either before or after each sequence? So we can pad the ragged tensor like `tf.keras.preprocessing.sequence.pad_sequences` https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/sequence/pad_sequences.
For example:
[code]

[2019-12-12 03:50] workingloong opened #35044 "Memory leaks when using tf.keras.metrics update_states in multi-threads."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.8
- Bazel version (if compiling from source): N/A
- GCC/Compiler version

[2019-12-12 04:23] x10000year commented on #27614
But when we deploy the model in c++ (or other language?), we still need to use session. The latency reduced by freeze_graph is also important. Does TF2.0 clear the need to use frozen graph to reduce the model latency? In my test, at least for TF1.15 I still need to use freeze_graph to further reduce the model latency.

Another problem is model size. For mixed precision training, full-precision wei

[2019-12-12 04:27] ravikyram commented on #34986
@showintime

I am closing this thread as it solves your question. Thanks!

[2019-12-12 04:27] #34986 closed

[2019-12-12 04:57] oanush commented on #34983
Issue replicating for given code, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/88a01bec4ee8665666e104e9da270b0b/34983.ipynb).TThanks!

[2019-12-12 05:01] goldiegadde commented on #34439
We do not intend to change the Bazel version on r2.1 branch.
@mihaimaruseac as well to confirm.

[2019-12-12 05:07] LCorleone opened #35045 "add_loss bug when using tf.keras, but it is ok using keras."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04
- TensorFlow version (use command

[2019-12-12 05:19] goldiegadde commented on #34907
@foxik once the PR is merged into master, please request a CP to r2.1 branch.

[2019-12-12 05:21] ravikyram commented on #34931
I have tried on colab with TF version 1.14, 1.15 and was able to reproduce the issue.

I tried with TF version 2.0, 2.1.0-rc0 and i am seeing below error message.
[code]
Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/02d8fdddb062c6118d3c2409834d320e/untitled465.ipynb). Thanks!

[2019-12-12 05:25] vbisrikkanth opened #35046 "Test"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-12 05:25] #35046 closed

[2019-12-12 05:27] Usama-Zafar commented on #34722
faced the same problem, changed filename from code.py ... Solved the problem!

[2019-12-12 05:43] wangyiwei0306 commented on #31826
Have you sloved your problem? I also encountered the same problem. The model I use is YOLOv3 and also trained by keras.

[2019-12-12 05:46] oanush commented on #35011
Issue replicating in for given code, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/0fb369fd96e8df3fbc789b8e662e1176/35011.ipynb) of colab.Thanks!

[2019-12-12 06:01] tejaslodaya commented on #34583
I figured a hacky way out, but I am still looking for a permanent "clean" solution from TF team.

[code]
Build a wrapper over "canned estimators" and treat them as "custom estimators". There won't be any latency implications because we're manually tweaking the graph according to our needs.

Because `DNNLinearCombinedClassifier` emits out many outputs, I am only concerned with probabilities and cla

[2019-12-12 06:01] CNOCycle opened #35049 "tf.dataset may out of memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 in Docker
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38
- Python version: 3.5
- CUDA/cuDNN version: 10.0 / 7
- GPU mod

[2019-12-12 06:09] CNOCycle opened #35050 "tf throw error and not may get correct gradient when eager_mode is disable in tf=2.0.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 in Docker
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38
- Python version: 3.5
- CUDA/cuDNN version: 10.0 / 7
- GPU mod

[2019-12-12 06:11] ravikyram commented on #35010
@workingloong
I have tried in colab with TF 2.0, 2.1.0-rc0. With eager execution i can see huge memory leak ([gist attached](https://colab.sandbox.google.com/gist/ravikyram/c2bba090501f9a1aab13e1e86d2aea15/untitled466.ipynb)).By disabling eager execution i am seeing very small portion of memory leak ([gist attached)](https://colab.sandbox.google.com/gist/ravikyram/451e3366ffda46c971b3b54f169d22d2/

[2019-12-12 06:12] awav commented on #34908
@k-w-w, @alextp ping ^^^

[2019-12-12 06:13] Athul8raj commented on #34944
You are not getting error in TF 1.15 and below because in tf 2.0 eager execution is enabled by default.

So I thought of disabling the eager execution and your code worked perfectly.
this is the statement to disable eager execution "_tf.compat.v1.disable_eager_execution()_"
Here are the docs : https://www.tensorflow.org/api_docs/python/tf/compat/v1/disable_eager_execution

Here is the example code

[2019-12-12 06:21] kscorpio opened #35051 "Use bazel to build tensorflow has some error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution :Linux Ubuntu 18.04
- TensorFlow installed from (source or

[2019-12-12 06:24] ravikyram commented on #35007
@nectario

Looks like code is incomplete. Request you to provide complete code to reproduce the issue in our environment. It helps us in localizing the issue faster.Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Thanks!

[2019-12-12 06:35] shreyanair01 commented on #32550
Any update on this issue? I am also trying to find the accurate GPU memory usage by models. I am loading a resnet(99MB) and inception v3(92MB) model with a tf serving docker image, with the TF_FORCE_GPU_ALLOW_GROWTH flag. Based on reports of nvidia-smi, the GPU usage differs on machines with different capacity. You can find my observations in a comment [here](https://github.com/tensorflow/serving/

[2019-12-12 06:37] gadagashwini commented on #34499
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-12 06:37] #34499 closed

[2019-12-12 06:51] ravikyram commented on #35004
I have tried on colab with TF version 2.0 ,2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9f1986fd00ea719785ffd0f790eb7330/untitled469.ipynb). Thanks!

[2019-12-12 06:54] oanush commented on #35012
Issue replicating for TF 2.1, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/90b02ed9bb7cc3c9e4e404dcc93ab9bb/35012.ipynb) of colab.Thanks!

[2019-12-12 06:54] gadagashwini commented on #34606
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-12 06:54] #34606 closed

[2019-12-12 06:57] EarlHsy commented on #31826
No i'm not solved this problem yet, and i don't have so many Android phones to test this. I tested in a xiaomi 5 with snapdragan 820 SoC and the problem still remained. I think right now the best way is waiting and hope tensorflow lite will fix this problem in the future.

[2019-12-12 07:09] terryheo commented on #34960
https://github.com/tensorflow/hub/tree/master/tensorflow_hub/tools/make_image_classifier shows Top-K accuracy with the given dataset. But https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/python/label_image.py shows softmax output with the given single image which is not the Top-K accuracy.

[2019-12-12 07:19] UdiBhaskar commented on #34944
I got that if I disable my eager execution, I can run my model without error or if I use gradient tape then also I can run the model without error.  but I will get the error if I use .fit method with my Keras model but it has to work even in TensorFlow 2.0 right. do you think of any bug in .fit method with the autograph in 2.0 with eager execution?

[2019-12-12 07:27] manish-kumar-garg commented on #35026
Hi @gowthamkpr, can you tell me how to achieve this?

[2019-12-12 07:44] doldre opened #35052 "model.run_eagerly=False is much slower than model.run_eagerly=True"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  No
- OS Platf

[2019-12-12 07:47] Athul8raj commented on #34944
I don't believe it is a bug rather TF gives us freedom in choosing each method. While we can mix match the layer with keras functional api, I guess we can't make the model subclass work with the Model api of keras. This is where, in my opinion the distinction between eager execution and keras graph mode comes into conflict giving rise to this "_SymbolicException_".
Making TF aware beforehand what

[2019-12-12 07:53] terryheo commented on #34992
@nauyan int is 32bit in Java. If you want to use int type for a pixel, you need to convert it to ARGB8888 instead of RGB565 which is 16bit.

[2019-12-12 08:02] terryheo commented on #35018
It seeems that you [resolved this](https://stackoverflow.com/questions/59279738/converting-albert-to-tflite-albert-implemented-in-keras-via-bert-for-tf2) by using SELECT_TF_OPS.
https://www.tensorflow.org/lite/guide/ops_select

[code]
So, let's close this. Please feel free to reopen it if you have an issue with this.

[2019-12-12 08:02] #35018 closed

[2019-12-12 08:09] tomonodes commented on #33487
Yup, the nightly build is much, much faster than 2.0.

Just wanted to chip in if anyone - like me- came from a freshly installed 2.0 and saw a massive performance drop. Looking forward to 2.1 as well!

[2019-12-12 08:13] gadagashwini commented on #35029
@kevin8100, Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2019-12-12 08:14] gadagashwini commented on #35029
@kevin8100, Similar issue comment [#33916](https://github.com/tensorflow/tensorflow/issues/33916#issuecomment-548811280).

[2019-12-12 08:22] ravikyram commented on #34950
@WZMIAOMIAO

Will it be possible to provide reproducible code and .h5 file . It helps us in localizing the issue faster. Thanks!

[2019-12-12 08:38] oanush commented on #34937
@VSGD ,
Hi, I don't see the code file. Can you please check?Thanks!

[2019-12-12 08:40] cofri commented on #25780
@fredo994 I agree with your solution n°1 (remove or update the 'Note' part).
I'm not an GitHub/PR expert, would you be able to open a PR with your proposition of changing the docstring?

[2019-12-12 08:45] oanush commented on #34893
Issue replicating for given code.Thanks!

[2019-12-12 08:49] quangbk2010 commented on #34981
Finally, I solved the problem.
For more information, find [here](https://stackoverflow.com/questions/59244928/restoring-saved-model-with-dropout-applied-from-java-program/59300697#59300697).

[2019-12-12 08:49] #34981 closed

[2019-12-12 08:51] ravikyram commented on #34921
I have tried on colab with TF version 2.0,2.1.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/40fe1d02697fa6b6111378b1062eac6d/untitled470.ipynb). Thanks!

[2019-12-12 08:51] oanush commented on #34767
@wkelongws ,
Thank you, was able to reproduce the error. I have updated the link of gist.

[2019-12-12 08:52] oanush commented on #34750
@SeekerYb ,
Any update on the issue ?Thanks!

[2019-12-12 08:53] oanush commented on #34731
@lxz1104 ,
Any update on the issue ?Thanks!

[2019-12-12 08:54] RishiRanjan21 commented on #8251
**Try this**
python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.0-py3-none-any.whl

[2019-12-12 08:54] oanush commented on #34784
@fancyerii ,
Any update on the issue ?Thanks!

[2019-12-12 09:10] hgaiser commented on #34642
Ah I see, I didn't know that, but I'm not using it so it should be float32 then.

I ran a test where I split up the model first up until the first layer, then up until the second, third, fourth, etc. and compared the output w.r.t. the tflite converted model. For each layer I added I print if the outputs are equal or not equal. Here is the script:

[code]

Here is the output:
[code]
I find it weird

[2019-12-12 09:12] nauyan commented on #34992
@terryheo still getting a noisy image.

[2019-12-12 09:18] glevenc opened #35053 "AndroidRuntime: Node number 1 (SPLIT) failed to prepare."
Hi, when i use my own trained rnn model to inference on my andorid app
the tflite convert is successully with python api

import tensorflow as tf
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,
                                       tf.lite.OpsSet.SELECT_TF_OPS]
tflite_model = converter.convert()
open("con

[2019-12-12 09:32] hgaiser commented on #33787
Hey @rjpower , it has been a while, is there an update on this issue?

[2019-12-12 09:41] terryheo commented on #34992
@nauyan could you share the code you used for ARGB8888?

[2019-12-12 09:54] nauyan commented on #34992
@terryheo here is the code

[code]

[2019-12-12 10:06] kevin8100 commented on #35029
Hello  Gadagashwini ,

The sequence for training step:
{ load tfrecords for training)
{...}
  x = keras.Input(shape=(224, 224, 3), batch_size=batch_size)
then call
    x = resnet18(x, 0.01)

you can find the extracted logs here for more details:

2019-12-11 15:36:42 classification-xbj8h root[8] DEBUG training with option {'tf_record_absolute_prefix_train': '/opt/workspace/tfrecord/tfrecord_train_'

[2019-12-12 10:09] gunan commented on #34558
What is your CPU make and model?
All tf binaries require CPUs with AVX instruction sets at the minimum.

[2019-12-12 10:13] rmothukuru commented on #34690
@feature-engineer,
Can you please let us know if your issue is resolved. Thanks!

[2019-12-12 10:15] rmothukuru commented on #34565
@jamesonthecrow,
Can you please respond to @jaingaurav's comment. Thanks!

[2019-12-12 10:19] WZMIAOMIAO commented on #34950
@ravikyram hello，I just tested it again. I find that when i load weights if i comment out “feature.trainable=False”, i can get error from hdf5_format.py . the test code is following:
[code]

[2019-12-12 10:23] asw-v4 opened #35054 "Failed to load delegate from libedgetpu.so.1 on PCIe EdgeTPU"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
++ Linux Ubuntu 18.04.3
- Tens

[2019-12-12 10:28] kevin8100 commented on #35029
Hello,

I've already added these params:
TF_FORCE_GPU_ALLOW_GROWTH=true
PER_PROCESS_GPU_MEMORY_FRACTION=0.8

..and it's still not working

[2019-12-12 10:38] mpariente opened #35055 "Post-training quantization leaves quantization nodes"
As reported [here](https://towardsdatascience.com/hacking-google-coral-edge-tpu-motion-blur-and-lanczos-resize-9b60ebfaa552), post-training quantization with representative dataset leaves quantization and dequantization nodes in the graph.
In the post, `edgetpu_compiler` works but the model expects `float32`, which is suboptimal.
Also all the tensors have `dtype` `int8` instead of `uint8`.
Is this

[2019-12-12 10:39] gadagashwini commented on #34634
@HLSS-Hen, Please find the attached the [gist](https://colab.sandbox.google.com/gist/gadagashwini/68712f12f85f31da6a6fce73cde257e4/untitled295.ipynb) and help us in reproducing the issue. Thanks!

[2019-12-12 10:39] EtagiBI opened #35056 "ValueError: Tried to convert 'y' to a tensor and failed. Error: None values not supported."
Hello,

I'm trying to implement a Unet segmentation model using Keras with Tensorflow backend. I created a Conda virual environement and installed Tensorflow 2.0.0 package via Conda package manager.
![image](https://user-images.githubusercontent.com/20855725/70704814-9542c380-1cf4-11ea-8b80-df3bb9d48d38.png)

**System information**
- Have I written custom code (as opposed to using a stock example

[2019-12-12 10:42] gadagashwini commented on #34645
Closing since issue is resolved. Please feel free to reopen if issue still persists. Thanks!

[2019-12-12 10:42] #34645 closed

[2019-12-12 10:43] gadagashwini commented on #34669
@yanceyblog, Provide more information about the issue. Thanks!

[2019-12-12 10:44] gadagashwini commented on #34735
@songheej, Is this still an issue!

[2019-12-12 10:47] gadagashwini commented on #34738
@MARMOTatZJU, Could you elaborate feature request with code snippet and if any use case. Thanks!

[2019-12-12 11:04] alexespencer commented on #34607
I have found that down grading the tensorflow version to 1.x resolved my issue - is everyone experiencing issues using TF 2?

[2019-12-12 11:16] dankor commented on #34962
It's a bug from Mask_RCNN:
https://github.com/matterport/Mask_RCNN/issues/1889

The source of the error is:
https://github.com/matterport/Mask_RCNN/blob/master/mrcnn/model.py#L2175

[2019-12-12 11:18] JushBJJ commented on #34558
Intel(R) Pentium(R) CPU N4200 @ 1.10GHz, 1101 Mhz, 4 Core(s), 4 Logical Processor(s)

[2019-12-12 11:23] terryheo commented on #34992
@nauyan I think you'd better check the output type and shape of your model again.

The following code might be helpful for you.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/support/java/src/java/org/tensorflow/lite/support/image/ImageConversions.java#L44

[2019-12-12 11:52] gthb commented on #34827
[Here it is as a public gist in Github](https://gist.github.com/gthb/0498ea482a4d19df1b43dd74d93a1262). (Saving it as a Colab-published gist required me to grant Google access to all of my secret gists in Github (!) just to publish this gist _publicly_ in Colab 🤔)

I changed it a bit to show only stack traces with at least one stack frame with tensorflow in its code file path, and only those that

[2019-12-12 12:27] Shawnsyx commented on #30092
Thank you!

[2019-12-12 12:30] Shawnsyx commented on #30092
EvanZ, try to change the code in the 87 line,
`tf.train.Optimizer`
-> ` tf.keras.optimizers.Optimizer`

[2019-12-12 12:33] tensorflowbutler commented on #33435
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-12 12:50] pisiiki commented on #34759
I managed to build master with **--config=v1** and cuda 10.2(gcc), numpy 1.17.4, however I get reproducible segfaults on code that runs fine with tf 1.x/cuda 10.1. OS is a fresh new Ubuntu 18.04, cuda/cudnn from debs. Hardware is a xeon 2695v2, 128GB RAM, 1060ti:

[code]

Weirdest thing I'm doing in the code is to have tensors with a dimension axis at 0 (ie: shape@(40,4,0,50)). This happens becaus

[2019-12-12 12:50] RafayAK commented on #34719
Added the .configue output, 8 days ago

[2019-12-12 12:54] EwoutH commented on #34759
@pisiiki Did your build include this patch? https://github.com/tensorflow/tensorflow/pull/34885

[2019-12-12 13:23] workingloong commented on #35010
Yes, there is a very portion of memory leak in graph mode by using `@tf.function` to decorate the `call` in the customized layer.  However, i can not convert the inputs to a numpy array and use python to process the array because the inputs is a Tensor not an EagerTensor in graph mode. So i hope i can use the `tf.py_function`with eager execution.

[code]

[2019-12-12 13:29] pisiiki commented on #34759
@EwoutH it think so, I did a pull on master yesterday and this was merged 6 days ago.

[2019-12-12 13:29] fischeru opened #35057 "TF2.1 Unable to load model in h5-Format"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-12-12 13:53] OrodRazeghi opened #35058 "4D transpose convolutional layers"
I've been looking for an implementation of a 4D conv layer in tensorflow and found a solution here:
https://github.com/funkey/conv4d
I was wondering if anyone could help me with the transpose version of this 4D conv layer. How would that look like in the implementation? It seems that in this case, frame_results is the output and is the result of summing the convolution of the current input frame w

[2019-12-12 13:57] paganim opened #35059 "No matching distribution found for tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-12-12 13:57] #35059 closed

[2019-12-12 14:08] Dr-Gandalf commented on #33024
thanks for your time, you are very kind :)

[2019-12-12 14:12] fischeru commented on #35057
Sorry, found the problem. Seems that one must use tf.math.exp instead of tf.keras.backend.exp.
No clue why, but it solves the issue.

[2019-12-12 14:12] #35057 closed

[2019-12-12 14:29] Shivaganesh367 commented on #34431
Can you tell me how solved this AttributeError:module 'tensorflow' has no attribute 'app'.

[2019-12-12 14:45] alexdibattista commented on #34607
@alexespencer I'm experiencing the issue in TF2, What 1.x version worked for you? I tried 1.15 and 1.14 but still had the error.

[2019-12-12 14:52] zhulingchen commented on #32817
Is this reply related to the original question?

[2019-12-12 15:10] 600DZY commented on #32817
I just mentioned my understanding of the two parameters of epochs and steps_per_epoch in keras model, why they cause errors, and my handling method. I'm sorry to confuse you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Zhu, Lingchen"<notifications@github.com&gt;;
发送时间: 2019年12月12日(星期四) 晚上10:52
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送: "326437990"<326437990

[2019-12-12 15:25] ThatAIGeek commented on #31509
Getting same issue, would be nice to know the reason for it and how to fix it if possible.

[2019-12-12 15:44] netskink commented on #32557
I tried the same miniml.py code on a tf2.0 install above.  Today I tried a tf1.15 run on the same code.  The only mod was to comment out the set random call and the keras call.  In that case it runs and it gets a heap error.  Below is an excerpt.

[code]

[2019-12-12 15:49] martinwicke commented on #33024
@robieta we have to make sure that this behavior (shuffle is true except
for generators) makes it into the documentation as well.

[2019-12-12 15:52] Taif85 commented on #32381
i have the same error !! did any one fix it?

[2019-12-12 16:57] mihaimaruseac commented on #34439
We should only cherry-pick the fix from head but we are too late in the release process to do another bazel version switch.

[2019-12-12 17:02] viswanath27 commented on #34888
Got the issue fixed by installing the nightly build for tensorflow 2.0.
`pip install tf-nightly`

Log shows up error related to conv2d fixed, possibly
`tf.keras`
`Export depthwise_conv2d in tf.keras.backend.`

Thanks for support.
Viswanath.B

[2019-12-12 17:05] Dabuk opened #35060 "Increasing predict time every iteration of loop"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-12-12 17:11] SeyedAlirezaFatemi commented on #35030
I'm also having this issue.

[2019-12-12 17:30] jvishnuvardhan commented on #33646
@AndersonHappens Can you please check with the `tf-nightly`. I saved model in "tf" format, then loaded model and saved in "h5" format without any issues. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/9f3c879cdb48821e6b7554e4fe700e0b/untitled702.ipynb).

Please let us know what you think. Thanks.
@JustinhoCHN can you please try `tf-nightly`. If you still have an

[2019-12-12 17:39] impjdi commented on #31826
OMG this issue completely dropped off my radar.  Didn't even know this was assigned to me.  My apologies.

I'm not familiar with YOLO, so would be great if you can share your YOLOv2-Tiny TFLite model somehow.  Either the entire network is not compatible with TFLite GPU (unsupported ops) and thus only parts of it runs on the GPU and the rest on the CPU.  This can cause in a significant performance

[2019-12-12 17:42] yavol commented on #34489
The problem with .so library is that is has lots of symbols which are not needed. Specifically tensorflow lite if compiled as .so library is ~50MB in size vs //tensorflow/lite/java:libtensorflowlite_jni.so which is ~1MB. I would guess *_jni.so library is so much smaller due to stripping of unused sections and symbol info. Distributing an app with 50MB lib is impractical.

[2019-12-12 18:03] nomitri-experimental commented on #24496
we are facing a similar issue on our RTX 2070 (Ubuntu 18.04, TF2) We tried different combinations of CUDA 10.0 and libcudnn7.x.x.x versions, but the error keeps showing up again.
On another machine we have a GTX 1080ti and this one runs without issue.
The nvidia-driver is 430.50 in both cases.

[2019-12-12 18:08] sokoow opened #35061 "1.15.0 disappeared from pypi"
Hi All,

related ticket :https://github.com/RasaHQ/rasa/issues/4965

I just noticed that this doesn't work anymore:

[code]

but when you browse pypi: https://pypi.org/project/tensorflow/#history , 1.15.0 versions are there, could you see what's going on pls ?

[2019-12-12 18:12] saikiran2603 commented on #34429
I was able to get rid of tensorrt issue by installing 6.0.1

https://docs.nvidia.com/deeplearning/sdk/tensorrt-install-guide/index.html

i am downgrading to cuda 10.1 for v2.1 , but surprisingly i was using v2.0-gpu with cuda 10.2 till now

[2019-12-12 18:17] VSGD commented on #34937
Hi,
sharing code in .txt file. PFA

Thanks

On Thu, Dec 12, 2019 at 2:08 PM oanush <notifications@github.com> wrote:

from __future__ import print_function

import sys
import pathlib2
import csv

import numpy as np
import tensorflow as tf

from cnn import cnn_model_fn
from config import CLASS_ID_TO_LABEL
from local_settings import MODEL_DIR

def main(dataset_npz_filepath, result_csv_filepath):

[2019-12-12 18:33] mihaimaruseac commented on #35061
You need to have an updated pip.

[2019-12-12 18:36] SyedTahaAlam commented on #34315
how to solve this

[2019-12-12 18:36] karmel commented on #30809
@beasteers -- thanks for the request. At this time, we are having trouble coming up with a way to do this that doesn't introduce a lot of complexity into the code, so we will close this unless we come up with a better approach.

[2019-12-12 18:36] #30809 closed

[2019-12-12 18:47] prakhar28sharma commented on #18538
you are getting this error because of the indentation

[2019-12-12 18:50] karmel commented on #34815
In 2.1, we explicitly disallow creating variables in Lambda layers, as it can lead to strange behavior like this. If you have complicated Lambda layers that need to create variables, please [subclass Layer](https://keras.io/layers/writing-your-own-keras-layers/) instead, as that is more robust to complicated logic.

See https://github.com/tensorflow/tensorflow/commit/153d1ad929fddb21c9910e8178e825

[2019-12-12 18:50] #34815 closed

[2019-12-12 18:53] karmel commented on #34895
In 2.0, you can use tf.compat.v1.placeholder. We have [moved to Keras as the primary high level API](https://medium.com/tensorflow/standardizing-on-keras-guidance-on-high-level-apis-in-tensorflow-2-0-bad2b04c819a), and would encourage you to write your models using Keras if possible. Estimator is fundamentally tied to v1/Sessions, so if you must stay in the Estimator ecosystem, you will likely hav

[2019-12-12 18:54] #34895 closed

[2019-12-12 18:56] karmel commented on #34677
Clear session removes parts of the model that get stored in the global graph, so if you are running an infinite loop with no clear_session, this is expected. You can read more here: https://github.com/tensorflow/tensorflow/issues/28844#issuecomment-499758695

[2019-12-12 18:56] #34677 closed

[2019-12-12 19:06] tallero opened #35062 "[1.15] Build from source fails on Raspberry Pi"
**System information**
- OS Platform and Distribution: Archlinux
- Mobile device: Raspberry Pi
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15
- Python version: 3.8
- Installed using virtualenv? pip? conda?: the docker image you provide.
- Bazel version (if compiling from source): the one you put in that image.
- GCC/Compiler version (if compiling from source): th

[2019-12-12 19:06] gabolsgabs opened #35063 "No example provided for using tf.nn.ctc_loss"
## URL with the issue: https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss

## Description of issue:
There's no example provided for using this loss and I cannot make it work.
Following the parameters definitions I created this toy example in tf2.0.0:

[code]

which rises:

[code]

Then, I tried to use it as a handle:

[code]

which rises:
[code]

Then, I tried to embed it:

[code]
which ris

[2019-12-12 19:10] ktattan opened #35064 "tensorflow 1.14 not picking up GPU: CUBLAS_STATUS_INTERNAL_ERROR"
I am having problems running tensorflow on my GPU.

My environment is as follows:

* OS: Linux Mint
* GPU: GeForce RTX 2070 Super
* Nvidia Driver Version: 435.21
* CUDA Version: 10.1
* gcc --version: gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
* tensorflow-gpu 1.14
* keras 2.3.1

Both the keras and tensorflow packages are located in a conda environment with no other tensorflow or keras versions to a

[2019-12-12 19:24] #34262 closed

[2019-12-12 19:28] k-w-w commented on #34908
This is an interesting use case. SavedModel should be correctly handling this, but we hadn't considered this case yet. I'll see what changes are required to resolve the issue.

[2019-12-12 19:30] gunan commented on #34558
Invalid instruction issue is definitely https://github.com/tensorflow/tensorflow/issues/19584
You will have to build libtensorflow from scratch to be able to use it.

@bmzhao Could you try to see if the above example works?

[2019-12-12 19:36] nectario commented on #31545
I am having a similar issue:
    "supported type." % (type(values), values))
TypeError: Failed to convert object of type <class 'tensorflow.python.ops.ragged.ragged_tensor.RaggedTensor'> to Tensor. Contents: tf.RaggedTensor(values=Tensor("Input1/flat_values:0", shape=(None,), dtype=int64), row_splits=Tensor("Input1/row_splits_0:0", shape=(None,), dtype=int64)). Consider casting elements to a suppo

[2019-12-12 19:43] goldiegadde commented on #34980
@kgizdov Can you please try with 2.1.0-rc1, we believe this [commit](https://github.com/tensorflow/tensorflow/commit/971a1881934f6878edaa5af753f29a0b300f04bb) to have fixed this issue.

[2019-12-12 19:48] guptapriya commented on #33320
Can you provide profiles so we can take a look at what's slow?

[2019-12-12 19:57] gowthamkpr commented on #35061
Yes, @sokoow Please try upgrading your pip using this command
`sudo -H pip3 install --upgrade pip`

as the error is caused due to using the older version of pip. Thanks!

[2019-12-12 20:02] anj-s commented on #33072
We currently [don't support](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/recurrent.py#L434) tf.distribute strategy with stateful RNNs.

[2019-12-12 20:02] #33072 closed

[2019-12-12 20:04] tanzhenyu commented on #34964
We're not actively developing estimator models, for future development, this should go into Keras premade models. And contributions welcome

[2019-12-12 20:55] ymodak commented on #34888
Glad it worked for you! Thanks for the update.

[2019-12-12 20:55] #34888 closed

[2019-12-12 20:56] #34375 closed

[2019-12-12 20:56] jvishnuvardhan commented on #35008
@glevenc Can you please format your code and share a simple standalone code to reproduce the issue? You could use colab gist for sharing the standalone code. Thanks!

[2019-12-12 21:07] ymodak commented on #33482
Closing this issue since its resolved. Thanks!

[2019-12-12 21:07] #33482 closed

[2019-12-12 21:15] tgpsantos commented on #32840
According to those logs then I am on OpenCL land :)

Regarding the slowdown to start doing inferences, any clue on what might be happening? This is a huge pain :( In Samsung S9 (Mali-G72) I've seen an increase in performance but the slowdown to start inferences kills me... In a different smartphone (Xiaomi Redmi Note 4 - Adreno 506 - OpenCL 2.0) not only have a slowdown to start but there is also

[2019-12-12 21:26] charles19920528 opened #35065 "Bug in documentation of tf.while_loop. parallel_iterations doesn't seem to affect performance."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes and no.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): I used `pip install tensorflow-gpu==2.0.0`
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.5
- CUDA/cuDNN version: 10.1

[2019-12-12 22:21] pavithrasv commented on #35004
@chahld The behavior is as expected. Please see the docs here: https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy#returns. The inputs are always reduced by one dimension. `reduction` indicates whether you are reducing the per sample losses - For example if you input is 2D (samples, features), if reduction is none, you will get (samples,) values - ie. one loss value per s

[2019-12-12 22:21] #35004 closed

[2019-12-12 22:31] impjdi commented on #32840
8 secs load time sounds indeed ridiculous.  Do you have a TFLite model you can share?

[2019-12-12 22:36] micahr123 commented on #35036
Have the exact same issue.

[2019-12-12 22:39] angerson commented on #35036
That's very interesting. @micahr123, can you tell us the same system information as @drasmuss provided in the initial report?

[2019-12-12 22:51] nectario opened #35067 "RaggedTensor Hierarchical Model Issue"
I have the following model:

[code]
And I call it:

[code]
I get the following error:

Traceback (most recent call last):
  File "C:\Development\Python\Python37\lib\site-packages\tensorflow_core\python\util\nest.py", line 318, in assert_same_structure
    expand_composites)
ValueError: The two structures don't have the same nested structure.

First structure: type=RaggedTensorSpec str=RaggedTensor

[2019-12-12 23:03] JakobGM commented on #33009
For anyone visiting this thread with similar issues of memory leakage when invoking `model.evaluate()` in a loop, the work-around for this case is similar to the one proposed by @MProx, use `model.test_on_batch()` instead.

[2019-12-12 23:08] gkennos opened #35068 "Unable to use optimisation when modifying gradients returned by tf.gradienttape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Amazon Linux AMI 2018.03
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1
- GPU model and memory: Tesla K80

My network has multiple

[2019-12-12 23:22] gowthamkpr commented on #21713
Go through the following [issue](https://stackoverflow.com/questions/51909312/modulenotfounderror-no-module-named-tensorflow-compiler) and it should help you in resolving this issue. Thanks!

[2019-12-12 23:22] #21713 closed

[2019-12-12 23:35] gowthamkpr commented on #30872
Please try to build the custom ops  from [here](https://www.tensorflow.org/lite/guide/ops_custom). This is the only workaround as of now. Thanks!

[2019-12-12 23:35] #30872 closed

[2019-12-12 23:36] robieta commented on #33024
@Dr-Gandalf No, no, thank you. This is an important performance detail and I'm very happy that it's now going to make it into 2.1. Thanks for reporting.

[2019-12-12 23:38] gowthamkpr commented on #34781
@sonfiree Can you please respond to the above question. Thanks!

[2019-12-12 23:39] jvishnuvardhan commented on #34107
@rjafarau Your files size is very very big. You need to use data pipelines to optimize the memory usage. Thanks!

[2019-12-12 23:40] gowthamkpr commented on #35026
@manish-kumar-garg I am going to close this issue as this is not related to bug/performance, build/install, feature request or docs related issues. Please post this question in stackoverflow .Thanks!

[2019-12-12 23:40] #35026 closed

[2019-12-12 23:43] jessica-santos commented on #34107
@jvishnuvardhan my original issue is not during the training, is when I load the trained model to do the predict. Do you know if there was any progress on that?

[2019-12-12 23:55] petewarden opened #35070 "Calculate arena size for TensorFlow Lite Micro models"
TensorFlow Lite for Microcontrollers doesn't depend on dynamic memory allocation, so it requires users to supply a memory arena when an interpreter is created, as described in this documentation:
https://www.tensorflow.org/lite/microcontrollers/get_started
We need a better way to decide 'tensor_arena_size'. Currently, the above page says 'The size required will depend on the model you are using, a

[2019-12-13 00:07] petewarden opened #35071 "TensorFlow Lite Micro MaxPool kernel needs int8 support"
TensorFlow Lite for Microcontrollers has a MAXPOOL operation, but it only supports float and uint8 execution, not int8.

[2019-12-13 00:11] jvishnuvardhan commented on #34107
@jessica-santos Can you please provide a simple standalone code to reproduce the issue? Without standalone code it is difficult to make any progress. You could take any public data and create a standalone code to reproduce the issue. Thanks!

[2019-12-13 00:11] petewarden commented on #35070
Tagging @tensorflow/micro

[2019-12-13 00:12] petewarden commented on #35071
Tagging @tensorflow/micro

[2019-12-13 00:16] ymodak commented on #22697
This is fixed with TF version 1.15 and in TF 2. Thanks!

[2019-12-13 00:16] #22697 closed

[2019-12-13 00:18] petewarden opened #35072 "Explain how int8 input and output quantization conversion works in TensorFlow Lite"
We've had feedback from multiple developers that it's hard to figure out how to calculate the right  int8 values for quantized inputs, and understand what int8 values mean as outputs.

For example, when feeding an image to uint8 quantized inputs, the values can be left as in their source 0 to 255 range. For int8 inputs, the developer will typically need to subtract 128 from each value, but this kn

[2019-12-13 00:28] rrkarim opened #35073 "`tf.vectorized_map` works incorrectly for functions with `tf.stack`"
Description of the bug is pretty much in the title, here is the little snippet:

[code]
The returning shapes are different for two types of calls. Maybe the behaviour is documented (limit on `tf.stack`) but it seems to be odd for me.

[code]

[2019-12-13 00:28] pavithrasv commented on #34451
I have updated the compile API docs to address this, will be in the next nightly. Thank you!

[2019-12-13 00:28] #34451 closed

[2019-12-13 00:44] jaingaurav commented on #34038
I just verified and I believe this is resolved in the nightly and the fix should be available in 2.1.0. Please let me know if you are able to still reproduce with the nightly or the 2.1.0-rc1 release.

[2019-12-13 00:44] #34038 closed

[2019-12-13 00:59] tanzhenyu commented on #27416
To all:

The interaction between feature columns and Keras is painful. To address this issue, we have proposed Keras preprocessing layers. If you're interested, please put your comment under this [RFC](https://github.com/tensorflow/community/pull/188)

[2019-12-13 01:00] nectario commented on #35007
Hi,

I have attached a zip file that contains the complete code with the data. Just unzip and run it as:

python QAModel.py

Also, for the information you requested:

**Version:** TensorFlow 2.0  (GPU Version)
**Operating System:** Windows 10
**Graphics Card:** Nvidia Titan V

[AttentionProblem.zip](https://github.com/tensorflow/tensorflow/files/3958469/AttentionProblem.zip)

Let me know if you ne

[2019-12-13 01:03] rrkarim commented on #35073
I guess the problem is with `is_stacked` flag and the appropriate logic in `*/pfor.py`?

[2019-12-13 01:10] rchao commented on #33979
Thanks for the report - we'll update the tutorial to mention that `steps_per_epoch` needs to be provided to ensure successful training.

[2019-12-13 01:25] geometrikal commented on #34933
@MayhemGang yea hanging issues on 1.14 on one computer. Tried multiple reinstalls but no luck. NVIDIA Titan X (pascal)

[2019-12-13 01:27] jvishnuvardhan commented on #34900
@roccqqck That `multiple` is expected. Please check the detailed explanation [here](https://github.com/tensorflow/tensorflow/issues/29132#issuecomment-497421178). That link also has alternate workarounds to infer shape. Thanks!

[2019-12-13 01:36] Donald-Su commented on #32901
same issue, I can't use the GPU when I used the follow command:

[code]

my environment:
[code]

[2019-12-13 01:37] mihaimaruseac commented on #34933
Can you please try TF 1.15 or TF 2.0 or the release candidate for TF 2.1 or the master's `tf-nightly`? I would recommend testing them all if minified example is hard to provide (and especially not clinging to 1.14 as that is extremely hard to patch now as it has been more than 6 months since it was released)

We really need a way to debug this, so please try to provide a minified example.

[2019-12-13 01:45] yyoon commented on #30485
Closing due to lack of activity, but please feel free to reopen if the above example does not work for you.

[2019-12-13 01:45] #30485 closed

[2019-12-13 01:46] nluehr commented on #34801
The Jetson TF package is built from the same source branch as our NGC containers. The advantage relevant here is that it is built against the same libs available in specific Jetpack releases.

@pythops a TF2 installer for Jetpack 4.2 is available in the 19.11 wheel which was posted today.
https://developer.download.nvidia.com/compute/redist/jp/v42/tensorflow-gpu/

[2019-12-13 01:54] glevenc commented on #35008
@jvishnuvardhan
if i remove the dropoutwrapper opratation then the convert will be successfuly
drop = tf.compat.v1.nn.rnn_cell.DropoutWrapper(lstm, output_keep_prob=keep_prob)
maybe this opration is not supported yet?

hope this can help you to give you some clue

thx

[2019-12-13 02:19] geometrikal commented on #34933
@mihaimaruseac

For me (on Windows), I can't do 1.15 because I get some error about pxtas (https://github.com/tensorflow/models/issues/7640) and I notice keras model.predict is slow (like it is running on CPU) and the times to do an epoch vary wildly (e.g. up to 5 x times variation).

I can't do v.2.X because tf.contrib.image (which I need) got moved to tf.addons but isn't implemented for windows

[2019-12-13 02:52] allen-DM opened #35074 "InvalidArgumentError: indices[6] = 3712 is not in [0, 3592)"
File "C:\Users\Allen\Anaconda3\lib\site-packages\tensorflow_core\python\client\session.py", line 1384, in _do_call
    raise type(e)(node_def, op, message)

InvalidArgumentError: indices[6] = 3712 is not in [0, 3592)

[2019-12-13 02:53] allen-DM commented on #35074
this all messages:

runfile('C:/Users/Allen/7-15  train.py', wdir='C:/Users/Allen')
Reloaded modules: 7-14  MKR, 7-16  data_loader
reading rating file ...
splitting dataset ...
reading KG file ...
data loaded.
Traceback (most recent call last):

  File "<ipython-input-22-55c5f394f6c2>", line 1, in <module>
    runfile('C:/Users/Allen/7-15  train.py', wdir='C:/Users/Allen')

  File "C:\Users\Allen\

[2019-12-13 03:21] dingevin commented on #34478
@ymodak  Any progress?

[2019-12-13 03:38] zheLim opened #35075 "ValueError: Unable to save the object ListWrapper([ListWrapper([None])]) tensorflow 2.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.9
- Bazel version (if compiling from source):
- GCC/Compiler version (if comp

[2019-12-13 03:39] glevenc commented on #35008
@jvishnuvardhan  the result is repoduced here:
https://colab.research.google.com/drive/1vRsTiKk8CAClShGjwyLmRP7VAqXxAIeq#scrollTo=xNQwn_eZVB4n

[2019-12-13 03:45] SivamPillai commented on #33030
I am not able to confirm if this works as suggested since I have modified the approach to delete the model after each iteration and reload it again. This way I was able to address the memory issue and since my model was not too large this was manageable. But I do agree that the operations in 2.x do seem to be slower than equivalent operations in TF 1.x. Is there any way you are aware that we can o

[2019-12-13 03:54] oanush commented on #35033
@nectario ,
Can you please check link provided by @ymodak and let us know if it helped?Thanks!

[2019-12-13 04:08] HBiSoft commented on #34230
@yyoon That would be great.

[2019-12-13 04:14] x10000year commented on #33352
@suharshs  how to use grappler? is it automatically enabeled? i don't find any document about it.

[2019-12-13 04:15] nectario commented on #35033
It did help a bit, but now a different problem resulted which I posted in a different thread — related to using models as layers.

[2019-12-13 04:18] shnamin opened #35076 "how to convert NonMaxSuppressionV4 to older versions"
Hi,
I am training a tensorflow object detection model and am converting it to tensorflow js. Although there is no NonMaxSuppressionV4 in the config.proto file (but has batch_non_max_suppression), I am getting the error
ValueError: Unsupported Ops in the model before optimization
NonMaxSuppressionV4

when trying to use tensorflowjs_converter to convert the trained model into tensorflow js. Is there

[2019-12-13 04:28] oanush commented on #35033
@nectario ,
Thank you, please feel free to close this issue!

[2019-12-13 04:29] #35033 closed

[2019-12-13 04:58] ravikyram commented on #35055
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include minimum standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. If you are unclear what to include see the issue template displayed in [the Gi

[2019-12-13 05:34] gadagashwini commented on #35032
Sample code snippet is working as expected on Colab with Tf 1.15 and Tf 2.0.
Please see the gist of [Tf 1.15](https://colab.sandbox.google.com/gist/gadagashwini/ac001417dc6c92becd9971be07f98456/untitled299.ipynb) and [Tf 2.0](https://colab.sandbox.google.com/gist/gadagashwini/0cbe3a109bb78b10a31e81f367cbfac8/untitled300.ipynb). Thanks!

[2019-12-13 05:40] oanush commented on #35049
Issue replicating for TF-2.0 and 2.1-rc0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/374c28e456d3f4163f45a57c55c6ea0c/35049.ipynb).Thanks!

[2019-12-13 05:52] ravikyram commented on #35050
I have tried on colab with TF version 2.0 ,2.1.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/24cfd9e1268da2369ec3a75b76dbac4a/untitled472.ipynb). Thanks!

[2019-12-13 05:55] j-o-d-o commented on #34922
Thanks for the feedback!
I am still a bit lost. Is this expected? Is the code within `tensorflow/lite/delegates/gpu` ever used then e.g. when using bazel? Could not find any docu about that.

[2019-12-13 05:58] ravikyram commented on #35043
@x10000year

Can you please help us with the minimal standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-13 06:06] ravikyram commented on #35042
@zxgm

Can you please help us with the Tensorflow version you are using?.And also request you to provide simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2019-12-13 06:06] aaroey commented on #28937
@coderforlife sorry for the late response. Please feel free to file a PR and I can review that.

[2019-12-13 06:09] aaroey commented on #34353
Hi @anshkumar, it currently doesn't support merging two TF-TRT converted graphs into one, the main reason is, both graph will have TRTEngineOps with the same name. Please let me know why this is useful and provide more info about your use case. Thanks.

Also @sanjoy

[2019-12-13 06:22] zxgm commented on #35042
I use tensorflow1.12 or tensorflow1.14.Assume have a savedmodel format model,how to know if the savedmodel supports batch input and dynamci length input? Are there related APIs to determine whether batch processing is supported?

[2019-12-13 06:26] boronhub opened #35079 "Add usage examples for tf.audio APIs"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-12-13 06:27] gadagashwini commented on #35045
Issue is replicating with Tf 2.0.
Please find the colab gist [here](https://colab.sandbox.google.com/gist/gadagashwini/3436d5fac7808a3fec8a598bf2685ec4/untitled301.ipynb). Thanks!

[2019-12-13 06:27] Cilicili commented on #24828
For TF2.0, I think it's the 'out of memory' problem. By default, TF use all your GPU memory then triger this issue. Therefore, you could initial your code with:

`physical_devices = tf.config.experimental.list_physical_devices('GPU')`
`assert len(physical_devices) > 0, "Not enough GPU hardware devices available"`
`tf.config.experimental.set_memory_growth(physical_devices[0], True)`

For more infor

[2019-12-13 06:37] martinwicke commented on #8658
I *believe* that you should be able to use

[code]

Now, that still uses placeholders internally, but you don't have to have any in your code.

[2019-12-13 06:41] Tilps opened #35080 "Start background prefetching without calling next on dataset iterator"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-12-13 06:42] ravikyram commented on #35030
@gdudziuk

I have tried in colab with TF 2.0.0-beta1 where it utilizes 4% of GPU memory ([gist attached](https://colab.sandbox.google.com/gist/ravikyram/5c22e3602be2a3436dd5f9d66b734d9f/untitled474.ipynb)) and with TF 2.1.0-rc1 it utilizes 5% of GPU memory([gist attached](https://colab.sandbox.google.com/gist/ravikyram/637621c51e03531f2d7da3250ff7b053/untitled475.ipynb)). Is this the expected beha

[2019-12-13 06:51] yxchng commented on #33557
@impjdi Are you guys going to accept pull requests for this issue? I can help.

[2019-12-13 06:59] JushBJJ commented on #34558
Okay.

[2019-12-13 07:00] nauyan commented on #34992
@terryheo  I did use functions that you have mentioned above my code is:

[code]

This is a snippet of my code and I still am getting an error:
[code]

[2019-12-13 07:05] nauyan opened #35081 "Tensorflow Lite Data Type Error on Android."
I have converted a super image resolution tensorflow model to tensorflow lite and have deployed it on an android application. Once I am trying to carry out Inference I am getting errors related to the data type. Please have a look at the code snippet below and the error log.

[code]

This is a snippet of my code and I still am getting an error:
[code]

[2019-12-13 07:19] sokoow commented on #35061
that was it, thanks

[2019-12-13 07:19] #35061 closed

[2019-12-13 07:33] CNOCycle commented on #35050
Hi @ravikyram,

Thanks you for help me on reproducing this issues in gist.

I read your gist and noticed that the second example which uses `tf.compat.v1.train.AdamOptimizer` throws error instead of unreasonable loss.

The main reason is standard optimizers in tf=2.0.0 requires `callable` object. [doc](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Nadam)

[code]

But optimizers in

[2019-12-13 07:38] eralvc commented on #24192
I have a idea: It is possible to use tf.metric.mean(tensor^2) calculate the average of square,  and use tf.metric.mean(tensor) to calculate the average.
Then you can use the other form of variance:
var(X) =1/N *[ (x1- avg)^2+(x2-avg)^2+...+(xn-avg)^2]
           =1/N *[ (x1^2 - 2*x1*avg+ avg^2) + (x2^2 - 2*x2*avg+ avg^2) +...+(xn^2 - 2*xn*avg+ avg^2) ]
           = 1/N *[(x1^2 + x2^2 + ... + xn^2)

[2019-12-13 07:41] absoroute-io commented on #23747
Thanks so much. Simply stripping unsupported nodes away when doing TF-Lite conversion really helps. Your solution is so simple that it makes me angry at myself, really. I wasted days trying to modify export_model.py, load graph_def up, exporting to TF-Lite, tweak things here and there only to end up running into a new problem after fixing another one.

[2019-12-13 07:45] Dr-Champ commented on #23747
Thanks so much. Simply stripping unsupported nodes away when doing TF-Lite conversion really helps. Your solution is so simple that it makes me angry at myself, really. I wasted days trying to modify export_model.py, load graph_def up, exporting to TF-Lite, tweak things here and there only to end up running into a new problem after fixing another one.

[2019-12-13 07:57] agarwal-ashish commented on #35073
This looks like the expected behavior. FWIW, replacing vectorized_map with map_fn also gives the same shape.

[2019-12-13 07:57] #35073 closed

[2019-12-13 08:01] SQmushroom commented on #34430
I have encountered the same issue...

[2019-12-13 08:04] CNugteren commented on #35032
@gadagashwini, sorry I don't have a Google account so I can't run that. But are you sure this is on a V100? If so, please share all the details of the nvidia drivers and cuda/cudnn setup that you are using.

[2019-12-13 08:11] fireingthehole commented on #28068
train_step=tf.keras.optimizers.SGD(rate).minimize(loss,var_list=tf.compat.v1.trainable_variables())
TypeError: 'Tensor' object is not callable
the same error.

[2019-12-13 08:28] gadagashwini commented on #35056
@EtagiBI, Could you provide the supporting files to replicate the reported issue. Thanks!

[2019-12-13 08:29] lucianopaz commented on #9210
I tried out @bkutt's [proposed implementation](https://github.com/tensorflow/tensorflow/issues/9210#issuecomment-497889961) in a custom `keras.layers.Layer`'s `call` method and tensorflow raises an error saying:

decorating the `map_function` function doesn't ends up raising the same error.

So in short, a fully functional implementation cannot rely on iterating through slices of the `SparseTensor

[2019-12-13 09:06] ravikyram commented on #35007
I have tried on colab with TF version 2.0 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/2e0fe01fd916adcc8f011abf3ea2c2d2/untitled476.ipynb) Thanks!

[2019-12-13 09:19] mixxen opened #35083 "Error when setting up virtual devices on system that has multiple physical GPUs"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version: 1.15.0, eager mode
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0.130, 7.6.0.64
- GPU model and memory: V100

**Describe the current behavior**

```set_virtual_device_configuration``` throws an exception with multiple physical GPUs in eager mode an

[2019-12-13 09:25] gadagashwini commented on #35032
@CNugteren, Google Colab uses P100.

[2019-12-13 09:29] muellesi commented on #34457
Unfortunately it is not possible for me to use a nightly build. Can anyone tell me whether this issue is only a display problem or if the datasets really get mixed up during training? I can live with the wrong progress bar but the datasets getting mixed up would be a problem.

Exact package versions:

python=3.7.5
cudatoolkit=10.0.130=0
cudnn=7.6.4=cuda10.0_0
keras-applications=1.0.8=py_0
keras-pr

[2019-12-13 09:40] ravikyram commented on #34950
I have tried on colab with TF version 2.0 ,2.1.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/addfb60c246fc9b1b625e1c448dce0da/untitled477.ipynb). Thanks!

[2019-12-13 09:55] pwais commented on #15136
@wt-huang  nope!  2019 and this is still a bug:
[code]

[2019-12-13 09:59] pwais commented on #15136
cc https://github.com/tensorflow/tensorflow/issues/18480

[2019-12-13 10:00] asw-v4 commented on #35054
Having gone through this with Coral technical, it was narrowed down to not properly adding the user to the apex group, causing the error in accessing the libs.

Marked Closed and Solved

[2019-12-13 10:00] #35054 closed

[2019-12-13 10:02] EtagiBI commented on #35056
Unfortunately, I'm not allowed to share the whole dataset (not to mention it's huge), but I can provide some extamples:
[Dataset.zip](https://github.com/tensorflow/tensorflow/files/3960188/Dataset.zip)

[2019-12-13 10:07] CNugteren commented on #35032
So please test it on a V100, that's where the bug is.

[2019-12-13 10:09] pwais commented on #18480
Dear Tensorflow,

It's 2019 and `enum34` is still present in Tensorflow:
[code]

and still causing problems for other packages:
 * https://github.com/smartsheet-platform/smartsheet-python-sdk/issues/122
 * https://github.com/python-poetry/poetry/issues/1122
 * https://github.com/tensorflow/tensorflow/issues/30200
 * https://github.com/spotify/luigi/issues/2734
 * https://github.com/pypa/pipenv/iss

[2019-12-13 10:10] QiJune opened #35084 "Memory leak when using py_function inside tf.data.Dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.0
- Python version: 3.6.8
- Bazel versio

[2019-12-13 10:37] menatte commented on #34518
I've the same issue.

Latest tensorflow built from source (HEAD 55119aadc69d394047e5f75d514fb6488cd4adb4), Cuda 10.0, cudnn 7.6.5

[2019-12-13 10:49] Squadrick opened #35085 "[DOCS] Using `>>>` in documentation is incorrectly formatted on website"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/constant_initializer

## Description of issue (what needs changing):
The [example code](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/ops/init_ops_v2.py#L152) uses `>>>`, but on the website, this is incorrectly converted to `&gt;&gt;&gt;`

TF docs link: https://www.ten

[2019-12-13 10:49] CNOCycle commented on #35050
From the previous discussion, I am afraid that the testcast for showing strange loss may not clear enough.

So, I rewrote the testcase. Surprisely, the root cause may be the `tf.keras.backend.learning_phase(): 0`

The following is the testcase for showing strange loss which uses `tf.compat.v1.train.AdamOptimizer`:

[code]

The following is the result of this testing case:

[code]

Obviously, after

[2019-12-13 10:54] tejaslodaya commented on #23824
+1

Any update here would be appreciated! Our models in production are breaking because we're using this in our workflow and recently updated to TF v2

[2019-12-13 11:04] giorgio-arenarm commented on #35071
Hi @petewarden I will start working on it, is that ok for you guys?

[2019-12-13 11:17] x10000year commented on #35043
@ravikyram

Consider the following TF1.x example code:

# in actual application, we may have many different variables to represent rnn hidden states
state = tf.Variable(
    name='state',
    initial_value = tf.zeros([]),
    trainable=False,
    collections=[tf.GraphKeys.LOCAL_VARIABLES])

# reset the rnn state
init_op = state.assign(0.0, name='init_state')

# update the rnn state. in actual appl

[2019-12-13 11:32] ravikyram commented on #33279
@dreddc

Any update on this issue please. Please close this thread if it solves your question. Thanks!

[2019-12-13 11:36] ravikyram commented on #34442
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-13 11:36] #34442 closed

[2019-12-13 11:36] ndrmnl commented on #4897
Just to add a remark: our team at Owkin has studied this and done some benchmarks, please see report on [arXiv](https://arxiv.org/abs/1912.06015) and sample code at [this repo on Github](https://github.com/owkin/grad-cnns). Our analysis is focused on CNNs; we propose a new approach which combines Goodfellow's trick to a a PyTorch peculiarity (the `groups` argument in the convolution), and show tha

[2019-12-13 11:37] ravikyram commented on #34434
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-13 11:37] #34434 closed

[2019-12-13 11:39] ravikyram commented on #34501
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-13 11:39] #34501 closed

[2019-12-13 11:42] ravikyram commented on #34567
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-13 11:42] #34567 closed

[2019-12-13 11:44] chauhansaurabhb commented on #24828
@Cilicili please try with the below settings:
[code]

I was facing the similar problem. When you run your code it occupies all memory of GPU and with the above provided settings it should work.

[2019-12-13 11:47] chauhansaurabhb commented on #28326
@dayangkunurfaizah please try with the following settings:
[code]

[2019-12-13 11:51] rrkarim commented on #35073
Still it is not documented so it makes it unexpected.

[2019-12-13 11:54] amahendrakar commented on #34968
Closing this issue as it is related to TF Serving.

[2019-12-13 11:57] NPetsky commented on #34766
@dsp-ml I had the same error (always segfaults when trying to do smthg with the interpreter), then I considered that the tflite::FlatbufferModel has to have the same lifetime as the interpreter and now it works (see https://www.tensorflow.org/lite/api_docs/cc/class/tflite/interpreter-builder)

[2019-12-13 11:58] cmp1 commented on #30052
I am currently dealing with the same problem here when using keras backend during the learning phase. I wondered if any solution has been found yet? :)

[2019-12-13 11:59] Razor1O9 opened #35087 "optimize_for_inference not working for my graph?"
It does not seem to make a difference if I use optimize_for_inference when I generate the pb and pbtxt graphs for my network. The size of the unoptimized graph is 177.775kb and the size for the optimized graph is 177.739kb.

I'm not sure wheter the optimize_for_inference Tool is correctly working for my graph. I currently cannot deploy my model in openCV, which throws an exception [EX] because the

[2019-12-13 12:24] mehta-a commented on #32879
I do not want to use http://projector.tensorflow.org/ but visualize my vectors/embeddings in board running locally. Can you share code for tf2.0. The issue is `from tensorflow.contrib.tensorboard.plugins import projector` command is invalid. :(

[2019-12-13 12:31] niranjan8129 commented on #34850
@ravikyram @jvishnuvardhan @qlzh727  Do you how to overcome this issue ?

[2019-12-13 12:40] cmp1 opened #35088 "K.learning_phase() flag does not work in Training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows, Anaconda
- TensorFlow installed from (source or binary):
Source

- TensorFlow version (use command below):
2.0 and keras 2.3.1

- Python version:
3.7

- GPU model and memory:
No GPU

**Describe the current

[2019-12-13 12:48] temminks opened #35089 "no attribute 'op' in keras.losses.SparseCategoricalCrossentropy"
**System information**
- OS Platform and Distribution: Jupyter on Windows 10
- TensorFlow installed from: anaconda in venv
- TensorFlow version: 2.0.0
- Python version: 3.7

**Describe the current behavior**
I'm running the example from the [tensorflow documentation for keras.losses.SparseCategoricalCrossentropy](https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentr

[2019-12-13 13:00] niranjan8129 commented on #34539
I getting this issue since long back .. I posted but it seems no one is taking care this issue . TF1.X
version was pretty clear and return state as well. TF2.0 RNN document is not clear and the return type specially get_initial_state(inputs=None, batch_size=None, dtype=None).

[2019-12-13 13:05] JvPy commented on #27895
Still open? would like to help

[2019-12-13 13:39] CNOCycle commented on #34866
I met similar issues in tf=1.14.0 of above. But I can give a workaround solution.

First, for tf=1.14.0 of above you have to explicit assign `y_true` by `label_ref=tf.keras.layers.Input`. Otherwise, tf is not able compute shape.

[code]

Second, `label_ref` should be the input and feed to model.

[code]

Third, you have to adjust the output of the data pipeline and the input for evaluation

[code]

[2019-12-13 14:15] yutkin commented on #34580
I'm faced with this issue too. During the building of the Docker image, got

[code]

[2019-12-13 14:16] pythops commented on #34801
@nluehr Thanks for the release.
Is it possible that you updates the doc so you can explain the steps to build tf2 for those who want to compile it themselves ?

[2019-12-13 14:46] nareshr8 commented on #33245
I am facing the same issue when I am retrieving data from **TFRecords**.

[2019-12-13 14:56] gdudziuk commented on #35030
Not exactly. The issue is with the system RAM, not with GPU RAM.

I can see that in both of your gists you get similar usage of system RAM: 9.8 GB for `2.0.0-beta1` and 10.2 GB for `2.1.0-rc1`. Yes, this is the expected behavior. Said that, I cannot reproduce this expected behavior on my workstation. I obtain 9.6 GB for `2.0.0-beta1` and 18.7 GB for `2.1.0-rc1`. The latter is twice that much as th

[2019-12-13 14:56] chahld commented on #35004
Sorry I misread the documentation.

In my use case I'm trying to weight the loss per filter (setting it to zero in some circumstances).

What is the use case for this partial reduction? I understand if the output is dense it would still allow me to weight the loss differently for each sample. But I wonder why it is useful for the convolutional case where it returns the loss per pixel per sample?

[2019-12-13 14:58] Razor1O9 commented on #35087
I've now used the script tools provided by tensorflow to freeze and optimize my graph. The script tools where: **freeze_graph.py** and o**ptimize_for_inference.py**.

The file size of the script based approach was identical with the file size of my functional approach. The file which was generated with the script tools throws the same exception as above.

[2019-12-13 15:12] johannabar opened #35090 "Subsequent calls to tf.data.Dataset.map() with seeded random operation give same random sequences."
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: CentOS 7
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.14.0
- Python version: 2.7.17
- CUDA/cuDNN version: 10.0

**Describe the current behavior**
In eager mode when setting a random seed, two calls to the same mapping function in tf.data.Dataset.map() would result in two times

[2019-12-13 15:44] Razor1O9 commented on #35087
My non-frozen graph is about 2mb in size while my frozen graph is 173mb.
Is this normal? My optimized frozen graph is still 173mb and only loses 100kb compared to the non-optimized frozen graph.

I'm confused...

[2019-12-13 15:48] subhendusc1970 commented on #23683
Traceback (most recent call last):
  File "C:\Python36\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Python36\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_internal = swig_import_helper()
  File "C:\Python36\lib\site

[2019-12-13 15:48] subhendusc1970 commented on #23683
How to remove the error

[2019-12-13 16:12] sebastienrichoz commented on #31509
It seems fixed in tensorflow-gpu@2.1.0rc1 (https://github.com/tensorflow/tensorflow/releases/tag/v2.1.0-rc1)

**Operating System:** Ubuntu 18.04
**Python:** 3.6.9
**Tensorflow:** tensorflow-gpu@2.1.0rc1
**CUDA:** 10.1.243
**CuDNN:** 7.6
**GPU:** Quadro RTX 5000
**NVidia driver:** 430.26

[2019-12-13 16:20] halidziya opened #35092 "Keyword arguments of the optimizer for learning rate schedule"
This statement raises an error if the learning rate is some learning rate schedule class instance. It does not raise any error if specification is without keyword arguments.

https://github.com/tensorflow/tensorflow/blob/c10aa0338f928dcc3da2c2660d88c80bcdd01278/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L259

[2019-12-13 16:35] CNOCycle opened #35093 "Custom loss may not work when running keras model with tf.distribute.MirroredStrategy()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 in Docker
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38
- Python version: 3.5
- CUDA/cuDNN version: 10.0 / 7
- GPU mod

[2019-12-13 16:58] jvishnuvardhan commented on #35008
@glevenc I cannot access your colab (permission issue). Can you please open the gist  --> go to `File` --> press `Save a copy as a GitHub gist`---> another page opens up with the shareable gist --> copy the link and share with me. Thanks!

[2019-12-13 17:30] alextp commented on #35012
@allenlavoie does this ring any bells?

[2019-12-13 17:38] allenlavoie commented on #35012
We have not yet fixed higher-order gradients for cond/while under a tape AFAIK. I believe they need a similar fix to the one we applied to tf.function for recording/accepting gradients of side-outputs. CC @saxenasaurabh. `tf.gradients` likely works.

That said, I'm not sure why this specific error is the one we see first. If we're not going to fix/test these soon we should probably start throwing

[2019-12-13 17:45] johnght commented on #34815
subclassing is powerful but lame becuase it lacks many auto features: model validation, visualization, serialization...
Loves keras functional api very much ;(

[2019-12-13 17:54] jvishnuvardhan commented on #35050
@CNOCycle Agree. I think it is better to create two separate issues so that users will follow them clearly. Please also mention why you want to disable eager. You could use @tf.function to run specific functions in graph mode. Thanks!

[2019-12-13 18:16] Razor1O9 commented on #35087
I've uploaded my non-frozen, frozen and frozen_optimized Graphs for direct comparison:
https://mega.nz/#F!UtNS0ABR!uMTD88Yp0zsF-d1UwYPAhA

My **unfrozen and unoptimized** graph (ub6_unfrozen.pb) only has a file-size of 1Mb and as soon as I freeze it (frozen.pb), it jumps to 173mb and only loses a few kb after optimization (frozenOpt.pb).

[2019-12-13 18:28] stefanondisponibile commented on #34968
@amahendrakar as @gowthamkpr said on the Tensorflow Serving repo the issue seems related to TensorFlow (not Serving). The problem is that even if it is possible to export a custom signature via `@tf.function` it is **not** possible to define the exported signature's **`method_name`** (as everything's handled by TensorFlow under the hood).

[2019-12-13 18:33] thierryherrmann commented on #30047
I had the same issues and it finally worked. The root of my problem was that I was trying to build on a 16g laptop.

For people not used to build tensorflow: if you're trying to only execute a simple python unit test like with this command:

`bazel test tensorflow/python/keras:losses_test`

If you see bazel busy compiling C++ code for a very long time: this is normal. It's dependencies that must b

[2019-12-13 18:50] mdukaczewski commented on #34926
The same problem here.
Despite the error I found libtensorflow.so in bazel-bin/tensorflow/lite/, but the library is only 92KB and doesn't seem to be correct.

[2019-12-13 18:53] jvishnuvardhan commented on #34906
@gao8954 Can you please follow the `gpu` usage guide [here](https://www.tensorflow.org/guide/gpu) and let us know whether it resolved your issue. Thanks!

[2019-12-13 18:58] jamesonthecrow commented on #34565
Given that things work fine on TF 2.1, we're just going to go with that. I'm closing this out.

[2019-12-13 18:58] #34565 closed

[2019-12-13 19:31] olk opened #35095 "MirroredStrategy compared to OneDeviceStrategy slower"
**System information**
- OS Platform and Distribution: Arch Linux, 5.4.2-arch1-1-ARCH
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0rc0-1
- Keras version: 2.2.4-tf
- Python version: 3.8
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

**Describe the current behavior**
executing Tensorflow's MNIST handwriting example with MirroredStrategy using two GPUs is slower (286 sec) than OneDe

[2019-12-13 19:31] olk commented on #33809
closed - use MNIST exmple instead

[2019-12-13 19:31] #33809 closed

[2019-12-13 19:35] jvishnuvardhan commented on #35007
@nectario I see the shapes of ```X.dat```and ```Y.dat``` are of ```(5, None, None, None)```, and ```(5, None)```. Is that what you intended?  The error clearly throws ```TypeError: 'NoneType' object is not subscriptable```. Please let me know what you think. Thanks!

[2019-12-13 19:44] leimao commented on #19731
This is being deprecated by TF 2.0 and there is no equivalence in TF 2.0.

[2019-12-13 19:44] BerndHuber opened #35096 "Tensorflow lite C++ standalone projects from 'generate_projects' missing sparkfun headers?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX 10.14.6
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15.0 (same observation for version 2.0), from https://github.com/tensorflow/tensorflow/releases/tag/v1.15.0
- Python version: python3
- GCC/Compiler version (if compiling from source): arm-none-eabi-g++

**Describe the problem*

[2019-12-13 19:44] leimao commented on #19731
Please reopen this issue.

[2019-12-13 19:52] impjdi commented on #34922
That part is usually built with proper EGL for mobile devices, not Mesa.

TFLite GPU is not friendly with non-mobile setting (yet?).

[2019-12-13 20:04] nectario commented on #35007
Both X and y consist of variable length lists and hence, are ragged tensors. RaggedTensors is an exciting new feature of Tesnorflow 2.0 and this is exactly what I want!

[2019-12-13 20:05] nectario commented on #35007
I do not want to pad!

[2019-12-13 20:46] angerson commented on #35036
Okay, I was able to reproduce this on a plainer image. It appears that building with VS 2019 updates the Windows-required Visual C++ Redistributable version to the one on the [latest redistibutable](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads) page, whereas older versions of the redistributable would work on older packages.

Didn't install anything:
[co

[2019-12-13 20:55] jvishnuvardhan commented on #35007
I tried `tf-nightly` instead of `TF2.0` that was used in the gist. I still get the same error as you are getting. Thanks!

[2019-12-13 20:56] angerson commented on #35036
That is, you can resolve this by installing [the new redistributable package](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads), but we need to update TensorFlow to ensure it checks for all the necessary DLLs on import.

[2019-12-13 21:01] micahr123 commented on #35036
It worked for me! Thanks.

[2019-12-13 21:02] nectario commented on #35007
This error happens because Model class does not have a shape field. In the code if no shape is present, it initializes it to None. Here is a snippet in base_layer:

[code]

[2019-12-13 21:03] motaha commented on #34431
Like what @shun-lin said, 'app' is removed from tensorflow 2.x. So, check your tensorflow version if it is 2.x then you either have to install a tensorflow 1.x version or modify your code to support the 2.x version.

[2019-12-13 21:07] jvishnuvardhan commented on #35053
@glevenc Can you please try
1. the example I provided in this [example](https://colab.sandbox.google.com/gist/jvishnuvardhan/66d5a457486c4a3189950d91a0b8c159/untitled632.ipynb) and see whether the tensorflow model and the tf_lite model are working similar?
2. Can you please share a standalone code to reproduce the issue. Thanks!

[2019-12-13 21:09] paapu88 commented on #33277
same problem here
pip3 install tensorflow-gpu==2.0.0
tf: v2.0.0-rc2-26-g64c3d38 2.0.0
dpkg -l | grep nvinfer

ii  libnvinfer5                                                 5.1.5-1+cuda10.1                                amd64        TensorRT runtime libraries
ii  libnvinfer6                                                 6.0.1-1+cuda10.1                                amd64        TensorRT runt

[2019-12-13 21:15] drasmuss commented on #35036
So RC1 was built with VS 2019, which is what caused the change from RC0?

[2019-12-13 21:17] angerson commented on #35036
That's correct.

[2019-12-13 21:29] gowthamkpr commented on #35089
@temminks This has been fixed in the latest nightly version. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/df198dee880d87c1813129452345ce5a/untitled260.ipynb). Thanks!

[2019-12-13 21:29] #35089 closed

[2019-12-13 21:53] leimao commented on #25446
Check https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth

[2019-12-13 21:59] rrkarim opened #35099 "Inconsistency with the shapes for `reduce_sum` and `reduce_logsumexp` for vectorized_map in graph mode"
I don't understand the cause of different handling of shapes for two methods, here is the snippet:

[code]

So basically `tf.reduce_logsumexp` gives dynamic shape for the output tensor while `tf.reduce_sum` assigns static shape. Can anybody please give some clear picture on such behaviour and is it expected?

[code]

[2019-12-13 21:59] rrkarim commented on #35099
#35073

[2019-12-13 22:01] jvishnuvardhan commented on #30922
@Dcyx Sorry for the late reply. Is this still an issue? Thanks!

[2019-12-13 22:06] olk opened #35100 "Error occurred when finalizing GeneratorDataset iterator"
**System information**
- OS Platform and Distribution: Arch Linux, 5.4.2-arch1-1-ARCH
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0rc0-1
- Keras version: 2.2.4-tf
- Python version: 3.8
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

**Describe the current behavior**
executing Tensorflow's MNIST handwriting example produces error:
the error dissapears if the code doesn't use OneDev

[2019-12-13 22:11] jvishnuvardhan commented on #31774
@UrosTo Sorry for the late response. Is this still an issue? If yes, could you please post it in the `yolo3` repository [here](https://github.com/qqwweee/keras-yolo3/issues). Thanks

Please close this issue, once you post the issue in `yolo3` repo. Thanks!

[2019-12-13 22:22] pujaarajan commented on #9330
I am having the same problem as above.

[2019-12-13 22:23] jvishnuvardhan commented on #32781
@OuHangKresnik Sorry for the late response. Is this still an issue? Thanks!

[2019-12-13 22:28] impjdi commented on #34536
re: Nvidia GPU: No.  We targeted major mobile GPUs and they include Adreno, Mali, and PowerVR.

re: Intel CPU: You got the answer from @Cospel up there :)

[2019-12-13 22:28] #34536 closed

[2019-12-13 22:29] olk opened #35101 "AutoGraph could not transform <bound method TopLevelFeature.decode_example of FeaturesDict"
**System information**
- OS Platform and Distribution: Arch Linux, 5.4.2-arch1-1-ARCH
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0rc0-1
- Keras version: 2.2.4-tf
- Python version: 3.8
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

**Describe the current behavior**
executing Tensorflow's MNIST handwriting example produces warning:

**Code to reproduce the issue**
 import tensorfl

[2019-12-13 22:29] UrosTo commented on #31774
Unfortunately cause of some problems with the PC I was doing this on I can not confirm if the problem is still there or not. I lost the code I used and all of the data I used, and cause of reinstalling a lot of stuff I don't know if now I got everything the same as it was.
Since that is the case, and I can no longer recreate the same environment to check if the problem is still there, I will close

[2019-12-13 22:29] #31774 closed

[2019-12-13 22:31] jvishnuvardhan commented on #32881
@iperov Is this still an issue or resolved? Please close the issue if it was resolved already. Thanks!

[2019-12-13 22:31] bmc2-stripe opened #35102 "Adam implementation differs from paper (applies bias B_2 correction to \epsilon)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-r

[2019-12-13 22:31] TheBicPen opened #35103 "Async functions cause tf_upgrade_v2 to crash"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro Linux (kernel 4.19)
-

[2019-12-13 22:37] ymodak commented on #35064
TF 1.14 pre built binary supports cuda 10.0 where as your configuration shows cuda 10.1
` Could not dlopen library 'libcublas.so.10.0'; dlerror: libcublas.so.10.0: cannot open shared object file: No such file or directory`
Please roll back to cuda 10.0

[2019-12-13 22:38] rjafarau commented on #34107
@jvishnuvardhan Please make sure that you understand me and @jessica-santos correctly. The problem is not in the training process. I trained a model and saved it. After that, I have an 82Mb hdf5 file. I expect that loading a model from it won't take a lot of RAM. But it doesn't. In my case, it takes over 20Gb.
In my original code, I use ImageDataGenerator with default batch_size. So there is no pr

[2019-12-13 22:39] jvishnuvardhan commented on #33306
@FridaCai Is this still an issue. Can you please try with recent `tf-nightly` and let us know whether the issue persists with latest TF version. Thanks!

Please close the issue if this was already resolved with the recent TF version. Thanks!

[2019-12-13 22:48] jvishnuvardhan commented on #33322
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-12-13 22:48] #33322 closed

[2019-12-13 22:50] ymodak commented on #35029
TF 2.0 supports cuda 10.0 Please roll back to cuda 10.0 and try again.
 If issue still persists then use [limit gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) parameter.
[code]

[2019-12-13 22:54] #34998 closed

[2019-12-13 22:56] ymodak commented on #34984
@monilshah98 Please use cuda 10.0 for TF 1.14.0
See https://www.tensorflow.org/install/gpu#software_requirements
Also add cuda, cudnn, cupti variables to your environment path.
https://www.tensorflow.org/install/gpu#windows_setup

[2019-12-13 23:07] golden0080 commented on #31568
I tested in my code base, using bazel to patch absl, and it worked! I think the TF were not using `C++ string_view` correctly thus resulted in missing symbols.

[2019-12-13 23:17] agarwal-ashish commented on #35073
As per documentation, the function returns " A tensor or (possibly nested) sequence of tensors. Each tensor packs the
    results of applying fn to tensors unpacked from elems along the first
    dimension, from first to last."

The idea is that log_prob is applied to each row of your input and the results are stacked together. Since log_prob returns a tensor of rank 2, stacking these results shou

[2019-12-13 23:21] jvishnuvardhan commented on #34107
@rjafarau I understand your problem. As I don't have your `82MB hdf5` file, I ran training to save the model with weights. However, data size was too big (I didn't use ImageDatagen) so the program was crashing. I reduced the data size and ran the model, saved (`81.42MB`) and loaded the model without any issue. Please let me know if I am missing anything here. Thanks!

[2019-12-13 23:24] sanjoy commented on #35032
I wasn't able to reproduce this on a Titan-V.  Can enable [cuBLAS logging](https://docs.nvidia.com/cuda/cublas/index.html#cublasLoggerConfigure) and attach the generated log?  Maybe that will uncover a smoking gun.

[2019-12-13 23:44] CaptainTrojan commented on #34940
Great, thanks for clarifying.

[2019-12-13 23:44] #34940 closed

[2019-12-13 23:50] rrkarim commented on #35073
@agarwal-ashish thanks, yeah, it is much more clear now.

[2019-12-13 23:57] sanjoy commented on #34112
Jiri, it looks like the graph is trying to copy an instance of `DatasetVariantWrapper` from CPU to GPU.   Should that ever happen?

[2019-12-14 00:38] pujaarajan opened #35105 "Tensorboard Embedding Projector Custom Search Bug"
Context: I am using the online version of the [Tensorboard Embedding Projector](https://projector.tensorflow.org/). I uploaded my own checkpoint and metadata TSVs with 681909 rows each. I clicked on the "CUSTOM" tab, and then found a bug when I tried to search.

Current Behavior/Bug: I am unable to click on the search bar that says "Search by". When I do click anywhere in the search bar, a drop do

[2019-12-14 01:09] todhacker opened #35106 "can dev a lua version"
so many game dev in lua,can't find the lua version of tensorflow

[2019-12-14 01:38] Bruno-Mascarenhas commented on #17351
I have had a similar issue with that. To overcome this issue without downloading the whole repository, since I already installed the newest version through pip, I used SVN to download the specific part related to the examples,

For example https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples is the path to the examples folder on the github repository.

To use it with SVN, one s

[2019-12-14 01:44] rodrigovimieiro commented on #33183
How did you update on the OS X? Is it safe to update the native python?

[2019-12-14 01:54] #35036 closed

[2019-12-14 02:24] glevenc commented on #35008
@jvishnuvardhan
sorry for that and the link :
https://colab.research.google.com/gist/glevenc/20ecb878b520653257f4d290dd79fec0/test.ipynb

[2019-12-14 02:37] CNOCycle opened #35107 "tf.keras.layers.BatchNormalization() may not work in tf=2.0 and eager model is disable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04 in Docker
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38
- Python version: 3.5
- CUDA/cuDNN version: 10.0 / 7
- GPU mod

[2019-12-14 02:39] CNOCycle commented on #35050
@jvishnuvardhan thank your reply.

In the beginning, our projection was running in tf=1.13.1.

We got a uneasy fixed bug by ourselve. According to the disscustion from community, this bug has been fixed in "the latest" version.

After we upgraded tf vsrion to 1.14, 1.15 and 2.0(eager_mode=disable), the original bug has been fixed but we still got different bugs unfortunately.

From the official an

[2019-12-14 02:45] agarwal-ashish commented on #4897
It is not obvious to me if "multi" in your paper is the same as what tf.vectorized_map based graph rewrite would translate to.  So it will be worth benchmarking that  as well. It has been tested on complex networks and provides order of magnitude speedups due to vectorization based rewrites.

The problem, as you hint at, is that we have not implemented an efficient vectorization of Conv2DBackpropF

[2019-12-14 03:03] glevenc commented on #35053
@jvishnuvardhan
Hi, sorry , i cannot try the example during the
tf.compat.v1.disable_eager_execution() this mode  in my code  when i convert the model to tflite format
as the log error shows

WARNING:tensorflow:Issue encountered when serializing variables.
Type is unsupported, or the types of the items don't match field type in CollectionDef. Note this is a warning and probably safe to ignore.
Ten

[2019-12-14 03:15] hollowgalaxy opened #35108 "tf.py_function is unusable in map function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7
- CUDA/cuDNN version: 10.0/7
- GPU model and memory: Tesla T4, 16gb

**Describe the c

[2019-12-14 03:42] VCBE123 opened #35109 "add version information to the dll, such as tensorlow_112.dll"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device

[2019-12-14 04:23] Sawatdatta commented on #33998
Any updates on this issue?

[2019-12-14 06:09] lebinlebin commented on #30121
hi~  do you solve the problem? I encountered the same problem with you，but I dont understand how to set tf.ConfigProto.  Can you give me a example？？ Thanks

[2019-12-14 06:11] dubesar commented on #35088
Hey hi, Ensure that all the keras used is tf.keras and not keras. One catch I got was to change: in custom, you have used keras.initializers.glorot_uniform, just make it tf.keras and see if there is any problem. Actually I have previously seen this error. Just ping me if there are more errors.

[2019-12-14 06:17] chathuravithakshana opened #35110 "Error when converting my_frozen_graph.pb to .tflite Google colab"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or GitHub

 SHA if from source):

There is an error when trying to converting .pb that build from tensorflow speech recognition freeze.py file for my own custom data.

This is the used code for conversion.
[code]

**Provide the text output from tfl

[2019-12-14 06:20] MayhemGang commented on #34933
Exactly same as your issue @geometrikal, haven't been able to replicate with a stand out model yet.  I don't get any errors, and the training literally just halts. Ofc I have quick edit disabled, and GPU memory is being used, while usage is 0%, and CPU is not even being used.

[2019-12-14 07:39] EarlHsy commented on #31826
I‘m sorry that i don't have this model in my computer right now, but i do remember YOLOv2-Tiny consists of maxpooling and convolution layers, no FCs, so I dont know why. I'll do more tests.

[2019-12-14 08:02] ZhiqingXiao commented on #28669
I just try the "text_classification.ipynb" in the colab. The issue still exists.
(tensorflow-datasets version: 1.3.2)

[2019-12-14 08:15] shazhongcheng opened #35111 "TypeError: An op outside of the function building code is being passed a "Graph" tensor. In my RNNCell Test."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Plat

[2019-12-14 08:26] kingbackyang commented on #19722
@lzkmylz GRPC_URL https://github.com/lzkmylz/grpc 404，not a valid address?

[2019-12-14 09:45] maziyarpanahi commented on #32943
I have renamed the title to TensorFlow `2.x` as I can see there is still no news from Java in the upcoming `2.1.0` RC.

[2019-12-14 10:08] rjafarau commented on #34107
@jvishnuvardhan How much RAM do you have?

[2019-12-14 10:38] joaquimvila commented on #33092
When it is expected for the C API to be supported for 2.0? Is there any scheduling about it? Thanks.

[2019-12-14 11:10] j-o-d-o commented on #34922
Ah ok, that might explain why I have trouble getting it work. Then I guess I am just using the wrong tool for my usecase.
Nevertheless, would be a cool feature.

[2019-12-14 12:06] alexbonhomme commented on #33183
I haven't touch the system one, but have install one with `brew` and added an alias.

[2019-12-14 12:21] tensorflowbutler commented on #34665
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-14 12:24] oziee commented on #9749
i still get this error, and have tried everything here and else where

[2019-12-14 14:34] Donald-Su opened #35113 "TensorFlow cannot detect my GPU"
when I run my code, I found it didn't use the GPU, and just used the CPU.
I check the tf and tf-gpu version is same. my system info as following:

Cuda version (nvcc --version result)
[code]

tf version :
[code]

other info:
[code]

GPU model and memory (`nvidia-smi` result)

ps: GPU 1~3 using by pytorch.
[code]

Installed using virtualenv? yes, use pyenv

when I use following command, and just ha

[2019-12-14 14:48] pramodjayram opened #35114 "STM32F7-Disco Hello World example fails to build"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
NAME="Ubuntu"
VERSION="18.04.3 LTS"
ID=ubuntu
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"
Python versionL 2.7.15+
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): STM32F7-Disco and also tried on K64F based on ARM-M4

**Describe the problem**
I am attempting to build the Hell

[2019-12-14 15:38] wiseosho commented on #34609
No, I am using tensorflow provided by anaconda.

[2019-12-14 15:43] wiseosho commented on #34609
I would appreciate a effective way for tracing the problem.
It seems the tf.function decorator spawn another process so actually impossible to trace directly from my code.

[2019-12-14 15:49] jnsgrnborg commented on #34895
Hey Karmel

Thanks for answering!

Currently I'm training in TF 2.0 and then serializing in TF 1.x. Seems to be working..

[2019-12-14 15:52] akalakheti commented on #34935
any update in this issue?

[2019-12-14 16:01] jiapei100 opened #35115 "Failed to build TF2.0 with TensorRT: undefined symbol: _ZN15stream_executor14StreamExecutor18EnablePeerAccessToEPS0_"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 1.1.0- (@non-git)
- GCC/Compiler version (if compiling from source): gcc (Ubuntu 8.3.0-6ubuntu1) 8.3.0
- CUDA

[2019-12-14 16:41] fgervais opened #35116 "Cannot build raspberry pi wheel for python 3.7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or

[2019-12-14 17:41] KishaRenee commented on #30191
That worked for me too. Fantastic !!!

[2019-12-14 18:01] suphoff opened #35117 "lite/micro: micro_speech example: input tensor lifetime assumption invalid"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): e12ba3de80d9315b7174037081adb482689bc6d6
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): All

**Describe the problem**
The feature provider accumulates feature slices us

[2019-12-14 18:16] Squadrick opened #35118 "Expose assign_moving_average via public API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): `master`
- Are you willing to contribute it (Yes/No): Yes

[2019-12-14 18:18] biendltb commented on #18383
Now TF 2.0 comes up with `tf.tensor_scatter_nd_update` which I think could partly satisfy this feature requirement.

[2019-12-14 18:49] KumarOjas opened #35120 "Want to join tensorflow"
Can I join tensorflow for contributions

[2019-12-14 20:28] suphoff opened #35121 "lite/micro: Tensor lifetime incorrectly calculated on multiple use"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): e12ba3de80d9315b7174037081adb482689bc6d6
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): all

**Describe the problem**
 The tensor lifetime may be incorrectly calculated

[2019-12-14 20:47] minhtriet commented on #30069
So, I updated `tf.py_function` in [my fork](https://github.com/minhtriet/tensorflow/blob/master/tensorflow/python/ops/script_ops.py#L373)

Rerunning the code, the error is
[code]

My guess is that the creation of sparsed tensor works, but somehow `next()` does not work because `pyfunc_1` returned 3 values, which I could not debug. Could someone give me a pointer?

[2019-12-14 20:57] minhtriet commented on #27679
So, I created a patch thanks to @edloper suggestion [here](https://github.com/minhtriet/tensorflow/blob/master/tensorflow/python/ops/script_ops.py#L373). That is the only change

[code]
`pyfunc_0` returns a double, but expects float, but I cannot debug this function. Could someone give me a pointer? Thank you

[2019-12-14 21:08] MTDzi commented on #33755
Same here.

[2019-12-14 21:18] sharvil commented on #34859
@karmel, thanks for the explanation. Ultimately, it's the TF team's decision on the direction to take with the APIs. As a user, my feedback is that the Keras v2 optimizers API is less convenient in this particular case and that friction is why we're choosing to stick with `tf.train.*Optimizer`.

Back to this bug: I've experimented with other v1 optimizers including `MomentumOptimizer`, `RMSPropOpt

[2019-12-14 21:22] willbattel commented on #27996
@liyunlu0618 do you have any links/info you can provide regarding that new Keras API, or where we can follow its development if not yet available? We're trying to do quantization-aware training in 2.0, where the `tf.contrib.quantize` functions are no longer available.

[2019-12-14 21:57] swghosh commented on #34859
Hello,

Thanks @karmel for posting the colab notebooks. I'll look into it soon.

Actually, I'm facing similar issues and am curious to know what causes missing gradients to occur in code at the first place.

Any help in this regard of handling missing gradients in code would be appreciated.

Just to be specific, (TensorFlow r1.15, Debian Linux) I'm trying to train two models simultaneously inside

[2019-12-14 22:37] njzjz opened #35122 "undeclared inclusion(s) in rule '@nccl_archive//:device_lib'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux centos 6
- Mobile device

[2019-12-14 23:24] gdudziuk opened #35124 "Poor performance of model.fit and/or model.predict in TF 2.1.0-rc1"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Kubuntu 18.04, kernel 5.0
- Mobile device: Not verified on mobile devices
- TensorFlow installed from: binary via `pip install tensorflow-gpu`
- TensorFlow version: `2.1.0-rc1`, however affected are also `2.1.0-rc0`, `2.0.0`, `2.0.0-rc2`, `2.0.0-rc1` and `2.0.0-rc0`.
- Python version: 3.6.9
- CUDA versio

[2019-12-14 23:30] gdudziuk commented on #33030
No problem, @rchao. I have described the behavior with `2.1.0-rc*` in the new issue #35124.

[2019-12-15 00:40] darsh8200 commented on #35124
It has to be your system problem as i ran the code on tf2.0 and it ran 1 epoch under 15 seconds which denies your 120 seconds time lapse.
![Screenshot (1)](https://user-images.githubusercontent.com/46572301/70856376-8ed56700-1f01-11ea-8e3a-4d4a6d7a979c.png)

[2019-12-15 00:42] darsh8200 commented on #35120
Yes you can join TensorFlow for contributions through correcting the documentation and fixing the issues or adding your extra inputs.

[2019-12-15 02:02] mhurliman commented on #27902
I've been off this for a long time, haha. I don't know the state of this code in the main repository now. Has anything changed with the bilinear upscale kernel since May?

[2019-12-15 02:04] mhurliman commented on #27902
I guess the update would be that I didn't get to testing the performance. It's a pretty simple change, should be able to cherry-pick the commit easily enough and create a small test network.

[2019-12-15 02:15] bm777 commented on #34096
Hello **@EdwarDDay**,  if you are using **TF2.x**, it will work.

**save with:**
tf.keras.models.save_model(model, "path/model") # without extension .h5, only string of your model

**and load with:**
new_model = tf.keras.models.load_model("path/model") # as you have saved in first time, without extension again.

[2019-12-15 02:22] bm777 commented on #35120
Okay, I Want also to be a contributor :),
I have begun by fixing some issues.

https://github.com/tensorflow/tensorflow/issues/34096#issuecomment-565770710

[2019-12-15 06:45] kristian1108 opened #35127 "TypeError: Tensor is unhashable if Tensor equality is enabled. Instead, use tensor.experimental_ref() as the key — when trying to do dictionary mapping inside Dataset.map() function."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-12-15 07:12] #35109 closed

[2019-12-15 07:16] stnk20 commented on #32468
I also encountered the same problem.
I found that this problem seems to be happening because tfmicro does not have implementation of  "requantization"　(introduced by commit a1d8d4a33529c1dff642177302dd19c2dfd06c1d).

[2019-12-15 07:44] rogeryuchao opened #35130 "mnist data download failure"
When I use
from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("/tmp/mnist/", one_hot = True)

It seems that I cannot download the gz files from the googleapis? Error as below
urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)>

Then I manually visit the source site, also error xml replied as below:

[2019-12-15 08:03] feature-engineer commented on #34690
@rmothukuru That's certainly a workaround. However I would like to use the h5 format, and I think it should still be a bug to resolve if tensorflow isn't planning on deprecating this format.

[2019-12-15 08:19] feature-engineer commented on #34936
@oanush Did you try changing the size of ones and zeros? It drastically affects the training time..

I have added another cell to your gist, the only difference being, zeros and one in the first cell have 100 times more values. Since we randomly crop them before processing them in our network, the original size should not affect performance. But try comparing the training performance of these two

[2019-12-15 09:53] Crispy13 commented on #32520
I have the same error message.
"Allocation of 18717081600 exceeds 10% of system memory."

It didn't happen when i didn't use tf.distribute.mirroredstrategy() as a context when creating and compiling a model. But when i used the context(mirrorstrategy), the message displayed and training process was stuck.

[2019-12-15 11:13] gdudziuk commented on #35124
@darsh8200, if it happens with official Tensorflow binaries running on an officially supported system, then it is a Tensorflow problem. But thanks for checking this. Would it be a problem for you to check also if you obtain similar results with TF 1.14?

[2019-12-15 11:33] kindernerd opened #35132 "Why this simple code causes RAM memory leak? tf.shuffle seems not release memory."
**System information**
- OS Platform and Distribution Linux Ubuntu 16.04
- Python: 2.7.17 / 3.7.5
- Tensorflow: 1.12.0 / 1.15.0
- Numpy: 1.16.5
- GPU: GeForce RTX 2080 Ti
- CUDA: 9.2

**Describe the current behavior**
CPU memory gradually increase after each epoch until the program restarts, i suspect that dataset.shuffle doesn't release the buffer memory. Tested with tf 1.15, same situation.

**C

[2019-12-15 11:33] freemanliu opened #35133 "Installing tensorflow go failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac os 10.14.6
- Mobile device

[2019-12-15 11:36] feature-engineer commented on #34936
The problem seems to stem from dataset's map method, not from the random_crop... I've added a timeit on the random_crop, and changing the input size of that function has no repercussions, as expected.

So it would seem that the the map method is the inefficient link here.

[2019-12-15 11:58] akkaze commented on #34982
there is lots of quantization in the model if I use tflite float16 quantization，these quantization may consume times，is there any way to remove them

[2019-12-15 12:00] J-zin opened #35134 "how to use different convolutional filter for each data in a minibatch"
Hi,
I want to use a different convolutional filter for each data in a minibatch, that's said:
if the input images have shape: [batch_size, height, width, channel], and I want to use different filters for each image in the minibatch, so the filter shape is: [batch_size, f_width, f_height, in_channel, out_channel].  So each image in the minibatch corresponds to different filters.

I try to solve it

[2019-12-15 12:20] tensorflowbutler commented on #32465
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-15 12:20] tensorflowbutler commented on #34267
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-12-15 12:25] feature-engineer opened #35135 "dataset's map operation performance is O(N) with data shape for O(1) operations, can be orders of magnitude slower than using a dataset from generator."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-12-15 12:28] feature-engineer commented on #34936
I have opened a new issue, since this one's title, as well as example code distracts from the root cause:  see [issue #35135](https://github.com/tensorflow/tensorflow/issues/35135)

[2019-12-15 12:35] conradjones commented on #34159
I made the following changes to get my app to link against the Tensorflow dll

I feel potentially the TF_EXPORT is not the best route, it looks like a few people are having these kinds of issues.. I'm quite happy to submit a PR but I feel the TF_EXPORT is a bit of a hack,

https://github.com/conradjones/tensorflow/commit/ffdbaa25411340cf49b2eba8e180733340af61cd

[2019-12-15 13:38] shouhu666 commented on #28485
F ./tensorflow/lite/toco/toco_tooling.h:38] Check failed: s.ok() Found StridedSlice as non-selected output from Switch, but only Merge supported. Control flow ops like Switch and Merge are not generally supported. We are working on fixing this, please see the Github issue at https://github.com/tensorflow/tensorflow/issues/28485.
is it ok now?

[2019-12-15 15:06] KumarOjas commented on #35120
Please help me out with it

[2019-12-15 16:41] renatomello commented on #27519
I'm having the same issue and none of the aforementioned solutions worked for me.

I'm using TF 2.0, my function does not have a decorator, tf.eagerly() returns True and I still get the same AttributeError: 'Tensor' object has no attribute 'numpy'.

[2019-12-15 16:53] wosiu commented on #34607
I've got the same error, but with django though.
TF 1.15.0.
With TF 1.14.0 it works fine.
[code]

[2019-12-15 17:02] j-o-d-o commented on #33646
This should not be closed, the problem is not the loading in "tf" format as is, but if you have custom_objects to pass!

[2019-12-15 17:07] j-o-d-o commented on #33646
@jvishnuvardhan This issue should not be closed. The loading as in your gist works, but once you use the model, e.g. to further train it you will get an error that the custom object is unkown.

[2019-12-15 17:09] j-o-d-o commented on #33646
Here is a new workaround, not sure what changed that the old one does not work anymore:

[code]

[2019-12-15 17:19] guglielmocamporese opened #35136 "Typo on doc"
Line 194 is missing the square bracket:

- **wrong**
`Use distribution to create a linear combination of value with shape batch_size, Tq, dim]:`

- **correct**
`Use distribution to create a linear combination of value with shape [batch_size, Tq, dim]:`

Link to the line code:
https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/dense_attention.py#L194

[2019-12-15 17:26] PhilJd commented on #34341
Hi @artitw,
sorry, I just saw your post now. AdamW has been migrated to [tf-addons](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/optimizers/weight_decay_optimizers.py).
Regarding the global step: I'm not too familiar with the keras interface but the weight decay extension is just a wrapper around the vanilla Adam. The weight decay part doesn't need the global step. If you're

[2019-12-15 18:00] hoangcuong2011 commented on #24530
@demeiyan : I wonder how you solved the problem then? Remove os.environ["CUDA_VISIBLE_DEVICES"] did not help for my case!
Thx

[2019-12-15 18:08] manicman1999 opened #35137 "clone_model changing UpSampling2D interpolation from bilinear to nearest neighbor"
**System information**
Windows 10 (Also happens on Ubuntu 18.04)
Installed from binary
Tensorflow-GPU 2.0.0b1
CUDA 10.0 / CuDNN 7.6
Python 3.6.8
GTX 1060 6GB (also GTX 1080 8GB)

When cloning a model using the clone_model function (AND model_from_json), upsampling interpolation switches from bilinear to nearest neighbor.

Here's some simple code which replicates the issue:

[code]

Which outputs t

[2019-12-15 18:14] tgaddair opened #35138 "Replacement for experimental_run_tf_function after removal from tf.keras.Model.compile"
It looks like `experimental_run_tf_function` was removed from `tf.keras.Model.compile` in this commit a few days ago: https://github.com/tensorflow/tensorflow/commit/c73c99ca3e0bacf2bca313f270bb3eae28869530#diff-de9b96ac2d81503324cbbbe21732031fR1159

In [Horovod](http://horovod.ai/), this flag / graph mode is necessary in order for `Optimizer.get_gradients()` to be called, which aggregates gradien

[2019-12-15 18:35] yongtang commented on #35040
Added #35139 for the fix.

[2019-12-15 19:10] cmp1 commented on #35088
Hey,

I changed the initializer to tf.keras and whilst the class and associated funcs still ran fine, it is still returning an empty array (0's) for the uncertainty. I did notice that I import the backend as `import keras.backend as K`, however with I try to import this as `tf.keras.backend` I get

`ModuleNotFoundError:` No module named 'tf'`

Alternatively, I tried simply replacing `K.function` w

[2019-12-15 19:54] seanpmorgan opened #35140 "[TF 2.1.0rc1] Fail to import package on Windows"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.1.0rc1
- Python version: 3.7

**Describe the current behavior**
When trying to import tensorflow on a windo

[2019-12-15 20:34] robieta commented on #33024
FYI this is fixed by https://github.com/tensorflow/tensorflow/commit/7d533c27d4a36a6da5290037d34c36b45983da02, and will be cherrypicked into TF 2.1

[2019-12-15 20:36] robieta commented on #33024
I'm going to go ahead and close this since the appropriate fixes are now in tf.

[2019-12-15 20:36] #33024 closed

[2019-12-15 21:25] ladyada commented on #34334
hihi checkin' in on this issue - i saw also SFE bumped into the same issue

https://learn.sparkfun.com/tutorials/programming-the-sparkfun-edge-with-arduino

`NOTE: It is imperative that you install the non-precompiled version of the library. Installing the pre-compiled library will only lead to failure and sadness.`

[2019-12-15 21:43] yifeif commented on #35140
Is this the same as  https://github.com/tensorflow/tensorflow/issues/35036

[2019-12-15 21:54] hf-sky-hf commented on #35140
I updated

On Sun, Dec 15, 2019, 3:50 PM Yifei Feng <notifications@github.com> wrote:

[2019-12-15 21:59] gkennos opened #35141 "tf.where should have optional dtype parameter"
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

[code]

alternatives for tf.float64 models lead to difficult to read code

[code]

assuming that tf.where can't respect the float type of the input variable nor the floatx setting, as those change the api, better would be:

[code]

[2019-12-15 22:07] yongtang commented on #35136
@guglielmocamporese Are you willing to open a PR to fix the doc?

[2019-12-15 22:22] seanpmorgan commented on #35140
Thanks @yifeif same issue! Closing.

[2019-12-15 22:22] #35140 closed

[2019-12-15 22:43] driedler commented on #34057
I was testing mobilenetv2 and found that the model didn't work without the suggested change.
It was clear that RAM was incorrectly being shared by concurrent tensors.

From what I can tell, the logic is trying the find the very first operation and the very last operation the tensor is used. Thus, we want to find the smallest operation index (i.e. smallest current->first_created) and the largest op

[2019-12-16 00:26] lbarosi opened #35142 "Building from source: ERROR: kernels:training_ops"
**System information**
- **Linux Ubuntu 18.04**
- TensorFlow installed from (source or binary): **source**
- TensorFlow version: v2 (master)
- Python version: python 3.7.5
- Installed using virtualenv? conda:  conda 4.7.12
- Bazel version (if compiling from source): **bazel 1.1.0**
- GCC/Compiler version (if compiling from source): **gcc 8.3.0**
- CUDA/cuDNN version: **CUDA 10.2/cuDNN7.6.5**
- GPU

[2019-12-16 01:48] x10000year commented on #27902
@mhurliman Great! Really need this feature!

[2019-12-16 02:03] #34907 closed

[2019-12-16 02:11] rayeh5 opened #35143 "micro_speech example inference issue"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution
      Answer: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):
     Answer: source
- Tensorflow version (commit SHA if source):
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):
    Answer: x86
**Describe the problem**
   I build the x86 version of micro_speech example, run it with the g_yes_1

[2019-12-16 02:52] olegmyrk opened #35144 "Low performance in TF2.x Distributed Mirrored Strategy with 4 V100 GPUs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: Python 3.6.8
- CUDA/cuDNN version: Driver Version: 4

[2019-12-16 03:07] foxik commented on #34907
@goldiegadde The PR has been merged into master as  f835a4a, so I am asking for a CP to r2.1. Is it enough to ask here or should I do something else?

[2019-12-16 03:14] robieta commented on #34907
I can handle the cherrypick. (I have another cherrypick request anyway, so adding one more is not any more work.) Thanks for the report and fix; this will greatly improve 2.1.

[2019-12-16 03:43] richardkmichael commented on #34607
I have the same error, Python 3.7.5, TensorFlow 2.0.0, Flask 1.1.1.

[code]

[2019-12-16 03:45] sshrdp commented on #32081
If you don't specify any distribution strategy and just run an estimator with parameter servers, you will not run into this issue.

[2019-12-16 04:09] jtdutta1 commented on #34866
Ok I'll try to give this a try and get back to you in a week.

[2019-12-16 04:56] paulbors commented on #33108
This has been patched in Gentoo Linux on top of Bazel v1.2.0 here:
https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-util/bazel/files/1.2.0-grpc-gettid.patch?id=27d3e4549dfcbc89442c54b4e5c602b274284203

Backported to Bazel v0.29.1 here:
https://github.com/paulbors/gentoo-localrepo/tree/master/dev-util/bazel

If you're not running Gentoo, a similar patch can be ported over to your distro if one ha

[2019-12-16 05:02] #32031 closed

[2019-12-16 05:02] sunzhe09 commented on #32031
thx

[2019-12-16 05:07] airplane2230 commented on #34004
Thank you for your answer.

what is the logs?

In the Running Time, there is no logs. Just run only.

The SimpleRNN example code attached to this shows that
the training is very slow even when compared to the layered LSTM or CNN code.

Thank you!

[2019-12-16 05:20] ravikyram commented on #34585
I am able to see the issue with TF 1.15 when we uncomment the line `tf.compat.v1.enable_v2_behavior()`. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/7e597c68b2d988befbc9cd6f42c2a55a/untitled478.ipynb).Thanks!

[2019-12-16 05:28] gadagashwini commented on #35067
@nectario, Please provide the Tensorflow version and complete standalone code to reproduce the reported issue. Thanks!

[2019-12-16 06:05] gadagashwini commented on #35075
@zheLim, Could provide the minimal standalone code to replicate the reported issue. Thanks!

[2019-12-16 06:10] SanthoshRajendiran commented on #34954
Any updates on this request!! @fchollet ??

[2019-12-16 06:16] ravikyram commented on #35130
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Also, can you go through the [link1](https://github.com/tensorflow/tensorflow/issues/10779) , [link2 ](https://github.com/ageron/handson-ml/issues/59) and[ link3](https://github.com/tensorflow/models/issues/5871) an

[2019-12-16 06:26] ravikyram commented on #35127
@kristian1108

Looks like code is incomplete. Can you please help us with minimal standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2019-12-16 06:31] tejaslodaya commented on #34583
@omalleyt12 @gadagashwini @ymodak 👆

[2019-12-16 06:31] gadagashwini commented on #35090
I could replicate the issue on colab with Tf 1.14 and 1.15.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/7840922356bfca9f85923b8271f3aa8c/untitled305.ipynb). Thanks!

[2019-12-16 06:42] oanush commented on #35115
@jiapei100 ,
Thank you for reporting the issue, can you please provide code to reproduce the above error ? Thanks!

[2019-12-16 06:53] tonytu123 commented on #32521
vfd

[2019-12-16 06:57] oanush commented on #35105
@pujaarajan ,
This looks like tensorboard related issue, could you please report issue in [Tensorboard](https://github.com/tensorflow/tensorboard/issues/new/choose) repo. Also close this issue once its reported there. Thanks!

[2019-12-16 07:04] gadagashwini commented on #35103
@TheBicPen, Could you post the complete standalone code to reproduce the issue. Thanks!

[2019-12-16 07:18] fmbao opened #35145 "How to package My MFCC modules"
@tensorflow/micro
I want to package the MFCC into my model tflite. like this(tensorflow/lite/android/conv_actions_frozen.tflite)
But I build my own keras layer. And conert to tflite.The Model is a mess where the MFCC func.Why ?

[2019-12-16 07:32] feature-engineer commented on #35135
For comparison,
[code]
runs 1000 times faster than the equivalent using map, as written in my initial example.

[2019-12-16 07:42] stekiri opened #35146 "Missing information when saving model in tf format"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Binary (pip)
- TensorFlow version (use command below): v2.0

[2019-12-16 07:49] lidaqian commented on #19382
Hi. Could you please share some experience to solve this problem. I met it also. Thanks a lot.

[2019-12-16 07:50] lccssr opened #35147 "Size not changed when convert pb file to tflite file"
I tried to convert my quantized pb file to tflite file.
My code is:
import tensorflow as tf

from tensorflow import lite
FLAGS = tf.app.flags.FLAGS
inputs=["input_images"]
outputs=["output_1"]
converter = lite.TFLiteConverter.from_frozen_graph(
    graph_def_file='./q/te.pb',
    input_arrays=inputs,
    output_arrays=outputs
)
#converter.post_training_quantize = False
converter.inference_input_ty

[2019-12-16 07:58] HLSS-Hen commented on #34634
@gadagashwini  , sorry I took some time to  visit the page. And my google account have some wrong.
Please change `    model=MCN.mcn_520(2,24)` to `    model=mcn_520(2,24)` .
If you don't set in your dataset. please remove `model.fit` to the end.

[2019-12-16 08:07] dingevin commented on #34478
I known it, the finial output to be a function of gather_x, not x.

[2019-12-16 08:10] ravikyram commented on #35120
@KumarOjas

Yes you can join as a contributor to Tensorflow. Please, go through the [contibuting guidelines](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md).

[2019-12-16 08:20] oanush commented on #35092
@halidziya ,
Can you please provide more information on the issue? Kindly provide share a simple and standalone code to reproduce the same ?Thanks!

[2019-12-16 08:20] gadagashwini commented on #35100
@olk, I tried reproducing the reported issue but it worked as expected. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/b4e63824872465031af99fccde00ebe1/untitled306.ipynb). Thanks!

[2019-12-16 08:28] gadagashwini commented on #35108
Issue is replicating on Colab with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/d0078d66c22d6f80cb6af30c713fc01b/untitled307.ipynb). Thanks!

[2019-12-16 08:36] gadagashwini commented on #35111
@shazhongcheng, Could you provide a access to view the Google colab link. Thanks!

[2019-12-16 08:39] shazhongcheng commented on #35111
https://colab.research.google.com/drive/1bLig48fgBRkfihxkU7Sn3bklmVyrrSH-#scrollTo=-RS_curvbwVe

https://colab.research.google.com/drive/19waivwxYTpC6S_r5UtPItuks0nW5wufE#scrollTo=HGIY-zFjdnVJ

Can you look it？

[2019-12-16 08:43] gadagashwini commented on #35113
@Donald-Su, Could you check by installing tenosrflow-gpu==1.14.0. still the error persists or not. Thanks!

[2019-12-16 08:44] oanush commented on #35088
@cmp1 ,
When tried executing the given code NameError: name 'X_train' is not defined was faced, find this gist for your reference. Can you please provide complete code to reproduce the error reported ?Thanks!

[2019-12-16 08:53] gadagashwini commented on #35132
@kindernerd, Is this similar [#34942](https://github.com/tensorflow/tensorflow/issues/34942) issue.

[2019-12-16 09:01] ravikyram commented on #35107
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/bf147df257b9103cd0b58604cb0b70c9/untitled481.ipynb). Thanks!

[2019-12-16 09:02] oanush commented on #35076
@shnamin ,
This issue is related to Tensorflow.js repo, can you please open issue using this [link](https://github.com/tensorflow/tfjs/issues/new)? Also there are already issue's [2540](
https://github.com/tensorflow/tfjs/issues/2540), [2450](https://github.com/tensorflow/tfjs/issues/2450) being reported for the same refer the same.Thanks!

[2019-12-16 09:04] zakar opened #35148 "Reading checkpoint file fail will ignore all checkpoints"
When restoring a checkpoint, if it read checkpoint file fail then all checkpoints will be ignored and train from scratch. I think it should throw exception rather than ignore, otherwise it will train from scratch silently. Especially read fail could happen when using distributed storage.

![image](https://user-images.githubusercontent.com/1125780/70891780-ea4b4600-2022-11ea-9ae0-fcf4572b1997.png)

[2019-12-16 09:07] alexespencer commented on #34607
Sorry for the delay. I had to roll back to Tensorflow 1.13.1 to get this to work.

[2019-12-16 09:08] CNugteren commented on #35032
OK good idea, I've done that now.

Running: python3 https://gist.github.com/CNugteren/c40f0f34f2af759b2d900223fefadbfd#file-tf_v100_cublas_crash_tf1-py

Results in regular output as follows:
[regular_output.txt](https://github.com/tensorflow/tensorflow/files/3966986/regular_output.txt)

And with CUBLAS_LOGINFO_DBG=1 set also this cuBLAS specific output:
[cublas_report.txt](https://github.com/tenso

[2019-12-16 09:13] #35076 closed

[2019-12-16 09:34] ndrmnl commented on #4897
Thanks for the comments @agarwal-ashish!

That's a very good point, I imagine there are some optimizations in `tf.vectorized_map` since it's graph based. We did all our benchmarks in PyTorch, but it is definitely a good idea to do cross PyTorch/Tensorflow benchmarks at some point.

Indeed that is the main issue in porting it to Tensorflow. We might look into implementing a custom kernel for this,

[2019-12-16 09:41] oanush commented on #35124
I Was able to reproduce the error for TF-2.0-rc1 and TF-nightly.Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/24d7f3a6b5900b87d0037cb500db0d5d/35124.ipynb) of colab.Thanks!

[2019-12-16 09:41] roshanzameer opened #35149 "TensorFlow Serving cannot handle more than 350 requests/second"
Docker Image: Tensorflow/Serving:latest
Model: Fashion_Mnist (per the official Docs)
Docker Version: 19.03.2, build 6a30dfc

I'm using Docker Container to serve a Tensorflow SavedModel over the REST API Port 8501. The inference latency is 2ms which is great.

Problem: I'm trying to perform load-testing and notice that the rate of requests stay constant at approximately 350 requests/sec. Beyond whi

[2019-12-16 10:30] vcarpani opened #35150 "SavedModelBundle.getSignatures() does not return outputs in correct order."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0.rc0
-

[2019-12-16 10:40] thisisandreeeee opened #35151 "No data found in layer when fitting TF 2.0 Keras model with DenseFeatures as input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux-4.14.106+-x86_64-with-debian-buster-sid
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 2.0.0
- Python version: 3.6.6

**Describe the current behavior**
I a

[2019-12-16 10:48] oanush commented on #35101
@olk ,
Hi,i tried running the code in TF-2.1rc-1 and I didn't face any error. Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/0f8885a8bfc428c6fe96dfdc5df70952/35068.ipynb) of colab for your reference.Thanks!

[2019-12-16 10:53] oanush commented on #34658
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-16 10:53] #34658 closed

[2019-12-16 11:04] thisisandreeeee commented on #35151
I've also borrowed code from [this medium tutorial](https://towardsdatascience.com/how-to-build-a-wide-and-deep-model-using-keras-in-tensorflow-2-0-2f7a236b5a4b), and it works up till the point of `model.compile()` but it fails when I try to run `model.fit()`. I suspect the format which the data is being passed to the fit function may be incorrect but I'm not too sure why.

Any help here would be

[2019-12-16 11:04] ravikyram commented on #35095
I have tried on colab with TF version 2.1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/200f60befed7b2622b775b9fff6f90b0/untitled483.ipynb). Thanks!

[2019-12-16 11:07] DivanshuTak commented on #31350
This is not a big issue its just change of tenserflow version you are using
just Uninstall the installed the current version and install 1.8.0
Because in latest realese tensorflow does not contain the package called Contrib

[2019-12-16 11:14] durandg12 commented on #35151
Simply calling the model on some inputs works:
[code]

[2019-12-16 11:28] ravikyram commented on #35093
I have tried on colab with TF version 2.0  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8a6018f81c690559cafa31428706bd61/untitled484.ipynb). Thanks!

[2019-12-16 11:33] gadagashwini commented on #35087
@Razor1O9, Please provide the Tensorflow version that your using. Thanks!

[2019-12-16 11:40] cmp1 commented on #35088
Ah yes, apologies.

I have attached the dataframe and the train/test splits are defined below:

[code]

And model def and configuration:

[code]

[dataframe.xlsx](https://github.com/tensorflow/tensorflow/files/3967806/dataframe.xlsx)

Thank you for your help!

[2019-12-16 11:50] amahendrakar commented on #35060
Could you please provide a complete standalone code. Looks like model_path and feat_path are not defined.

Tried to reproduce this code but didn't get any output. Please find the [Gist](https://colab.sandbox.google.com/gist/amahendrakar/a0969c270e6d2d0fe6eeccc5c0a8695f/35060.ipynb) here. Thanks!

[2019-12-16 11:51] ravikyram commented on #35084
@QiJune

I have tried on colab with TF version 2.0 ,2.1.0-rc1 . Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/df1ca1840cabeb4463bbf1a58199d7b2/untitled485.ipynb). Is this the expected behavior?

[2019-12-16 11:53] amahendrakar commented on #34912
Any update on this issue? Thanks!

[2019-12-16 12:00] ravikyram commented on #35079
similar issue#28236

[2019-12-16 12:16] jackd commented on #27170
9 months on and keras [still doesn't recognize ragged tensors as tensors](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/backend.py#L983)...

[2019-12-16 12:23] kgizdov commented on #34980
indeed, that seems to have fixed it.

[2019-12-16 12:23] #34980 closed

[2019-12-16 12:26] workingloong opened #35152 "Memory leaks when using tf.strings.split in map_func for tf.data.Dataset.map with eager execution."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below): 2.1.0rc1
- Python version: 3.6.8
- Bazel version (if compiling from source): N/A
- GCC/Compiler ve

[2019-12-16 12:37] zxgm opened #35153 "Are there related APIs to determine savedmodel whether batch is supported?"
There have a savedmodel format model,have some method or API to judge that is support batch?

[2019-12-16 12:48] ongoing0217 opened #35154 "Cannot train keras model with 2 outputs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-12-16 12:48] Athul8raj commented on #35012
Since gradient tape with the tf.while_loop was not running with the tf.function decorator ,I move the the while loop(python while) into another function and then decorated it with the tf.function. It seems to be working.

Please find the gist here :
https://colab.research.google.com/drive/1Y_0EfYzkA6dWjCCL02mz3vOgJRdwpqd1

[2019-12-16 13:06] durandg12 commented on #35151
Your issue is not tied to feature columns nor the DenseFeatures layers, as the code reproduce your error:
[code]

[2019-12-16 13:14] darsh8200 commented on #35154
in model.fit() you don't need to include the batch_size as per my opinion use the callbacks if defined, let me show you an example by attaching a .
![Screenshot (2)](https://user-images.githubusercontent.com/46572301/70909745-1f13c900-2034-11ea-8f1e-47497457b184.png)
ipynb file of code

[2019-12-16 13:17] Hujun opened #35155 "Memory chunk error when train BoostedTreesRegressor in docker container"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS (in docker container)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): pip wheel
- TensorFlow versi

[2019-12-16 13:17] ashutosh96 commented on #22825
I've run into the same problem. @vipinpillai Can you please share if you were able to solve the issue?

[2019-12-16 13:42] durandg12 commented on #35151
I have found the cause of your issue, it is because you feed target data as a dict instead of just a numpy array. If you feed a dict, the key of the dict must not be `label`but must be the name of the layer outputting your prediction, in this case, `dense_1`, so the two following modifications of your code work:
[code]
or
[code]
In the first I have replaced the dict by a numpy array, in the second

[2019-12-16 13:42] Razor1O9 commented on #35087
**Thanks for the response.**

Tensorflow 1.9
OpenCV 4.1.1

[2019-12-16 14:07] sweetxiaoqizi opened #35156 "Item assigment"
I really want to know why tf can't support item assigment like numpy

[2019-12-16 14:08] josdewitte opened #35157 "Caching to file instead of memory of tf.data.dataset using 2 map functions with cache(filename) in between and (x, y) tuple not working"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-12-16 14:21] ongoing0217 commented on #35154
@darsh8200 I don't think you are getting what I was asking. I wanted to ask about how to train a network with 2 output heads. And also the batch size variable is arbitary and can be removed in this case.

[2019-12-16 14:39] Supachan commented on #34912
To amahendrakar,

I am sorry to reply you late. The code was figured out by typing the last line: `model = ([x,y])`. Just inserted `[ ]` into `x,y`.

[code]

Hope this help you. Let me close this issue.

[2019-12-16 14:39] #34912 closed

[2019-12-16 14:40] jeffpollock9 commented on #31579
I've tried to knock up some code to try and figure out how this might work but am finding it quite hard (mainly due to my lack of experience with typing). If there is any feedback on this it would be great:

[code]

which seems to pass the correct `input_signature` in this very simple example but has some mypy errors that I don't know how to deal with:

[code]

[2019-12-16 14:41] Supachan commented on #34912
To amahendrakar,

I forget one thing to answer your question. The code was run on Colab and TF2.0.
Thanks.

Supachan

[2019-12-16 15:23] Danmou commented on #31579
@jeffpollock9 you'll probably need to redefine `__class_getitem__` for the Tensor class. (That's the method that's called when you call `Tensor[...]`).

[2019-12-16 15:32] geet2019 commented on #31350
Can u please tell the code to install tensorflow 1.18.

On Mon, Dec 16, 2019, 4:37 PM Divanshu Tak <notifications@github.com> wrote:

[2019-12-16 15:34] Danmou commented on #31579
Also I don't think defining `Shape` as a `Literal` will work (then undefined dimensions wouldn't work). I don't think it's possible to make mypy handle shapes correctly anyway without extending mypy itself, so I think the easiest solution for now would to simply make `__class_getitem__` for `Tensor` return a `Tensor` with some attributes set for shape and dtype (which will be ignored by mypy but c

[2019-12-16 15:34] saxenasaurabh commented on #35012
Wrapping in `tf.function` sounds reasonable till we have a proper fix. Runtime performance would be similar since we would inline the inner `tf.function` anyway.

[2019-12-16 15:42] PeteBlackerThe3rd commented on #34758
The docker installation verification code is still broken. There is still a version 1.x API call in there. I've opened PR #1310 which fixes this.

[2019-12-16 15:42] PeteBlackerThe3rd commented on #34758
The docker installation verification code is still broken. There is still a version 1.x API call in there. I've opened PR #1310 which fixes this.

[2019-12-16 16:03] AlexisBRENON commented on #33048
This has been fixed with tensorflow/docs#1111.

[2019-12-16 16:03] #33048 closed

[2019-12-16 16:04] fonnesbeck commented on #32672
This issue was closed prematurely. A fix needs to be implemented so that the exception is not thrown. Should I open a new issue?

[2019-12-16 16:11] chathuravithakshana commented on #35110
Any help out there?

[2019-12-16 16:36] olk commented on #35101
[code]
prints:

Does RC1 fix the issue?

[2019-12-16 16:37] michaelarfreed commented on #34585
Thank you, @ravikyram !

[2019-12-16 16:39] guptapriya commented on #35093
We don't support custom losses in legacy graph mode (which is what you have if you disable eager mode). Does this fail if you use proper TF 2.0 (without disabling eager mode)?

[2019-12-16 16:40] wevonosky commented on #27519
Same problem.

I made sure I was executing eagerly and do not have a decorator on my loss custom loss function. I get the error: AttributeError: 'Tensor' object has no attribute 'numpy'

[2019-12-16 16:42] michaelarfreed commented on #34585
Were you able to look into the other issue that I noticed in TF 2.0, where the ETA reported for an epoch is much higher than the amount of time an epoch takes? In TF 1.15 with `tf.compat.v1.enable_v2_behavior()` commented out, it correctly estimates the ETA and an epoch takes the amount of time listed by ETA (+/- a few seconds).  In TF 2.0 (in both the nightly build and the release) and in TF 1.15

[2019-12-16 16:44] guptapriya commented on #35095
@ravikyram how did you run with 2 GPUs in colab? virtual GPUs? That's not a good way to debug performance issues.

@olk can you please provide profiles for the run with MirroredStrategy with your 2 GPUs? Also, what was the global batch size in both cases? To get similar performance, you will likely need to increase your per replica batch size. Moreover, for a small model like MNIST, it is not unex

[2019-12-16 16:49] EmGarr commented on #32477
Will this issue be fixed in tf2.1?

[2019-12-16 16:51] fonnesbeck opened #35159 "Cannot successfully serialize and restore model using either 'tf' or 'h5' format"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux on Google Cloud instance
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (use command below): 2.1.0.rc1
- Python version: 3.7.3

**Describe the current behavior**

I've attempted to save a TF regression model in 'h5' format as follows:

    model_mean.save(HITTER_MODEL_DIR + 'h

[2019-12-16 16:52] tanzhenyu commented on #34859
@sharvil @swghosh when you call get_gradients, it should return error information regarding which variable is missing the gradient I think?

[2019-12-16 16:56] maingoh opened #35160 "-D_GLIBCXX_USE_CXX11_ABI=1 increases a lot RAM usage"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from: pip
- TensorFlow version (use command below): 1.13.1
- Python version: python3.7
- CUDA/cuDNN version: 10.1
- GPU model and memory: GTX 1080 ti

**Describe the current behavior**

Since g++7 is now the default version on Ubuntu 18 and most distributions, most builds will use

[2019-12-16 17:03] VitaMusic opened #35161 "why TF2.0+TRT6 (keras) slower than TF1+keras about 4 times ?"
I'd like to understand the performance issue I faced :
Why TF2.0+TRT6 (keras) slower than TF1+keras about 4 times ?

GPU K80

before : TF1 + keras (as separate package)
after: TF2 + TRT6 integrated with integrated keras

on the same example TF2 is 4 times slower, when I'm waiting acceleration of training/predition in new version with TRT integration.

[2019-12-16 17:05] mihaimaruseac commented on #31350
Guys. `tf.contrib` no longer exists in post-2.0 world. It has been moved (partially) to TF Addons.

If you really want `tf.contrib`, you can use TF 1.15 for the next 3 years, but after that you will have to switch as there won't be a TF 1.16 or later

[2019-12-16 17:44] alextp commented on #30069
This issue likely happens because the sparsetensor isn't being unpacked into its 3 component values.

[2019-12-16 17:44] alextp commented on #27679
Add a tf.cast?

[2019-12-16 17:45] fonnesbeck commented on #35159
I've tried giving each layer in the model unique names, but it does not affect the 'h5' saving error at all.

[2019-12-16 18:08] nectario commented on #35067
Hi @gadagashwini ,

I have attached a zip file that contains the code and data that recreates the problem. Just unzip the file and type:

python RaggedProblem.py

[ragged_problem.zip](https://github.com/tensorflow/tensorflow/files/3969504/ragged_problem.zip)

Thanks!

Nektarios

[2019-12-16 18:21] jeffpollock9 commented on #31579
Many thanks for the comments, @Danmou! As far as I can tell [__class_getitem__](https://www.python.org/dev/peps/pep-0560/#class-getitem) was added in [python3.7](https://www.python.org/dev/peps/pep-0537/#features-for-3-7) so have switched to that (was on 3.6 before).

I'm trying to figure out a better way of making some sort of `Shape` type since you mentioned `Literal` is not a good idea - but I

[2019-12-16 18:24] ymodak commented on #35110
You may try converting the model using TFLITE_BUILTINS ,SELECT_TF_OPS options.
See https://www.tensorflow.org/lite/guide/ops_select#converting_the_model

[2019-12-16 18:25] jsimsa commented on #34989
@aaudiber could you please take a look

[2019-12-16 18:30] dubey commented on #33871
Can you try `bazel test -c opt --config=cuda //tensorflow/core:common_runtime_ring_reducer_test`?

[2019-12-16 18:37] jvishnuvardhan commented on #35008
@glevenc I am not able to reproduce the exact error you are getting with your colab. When I ran your colab, i see the following error

[code]

Are you using `TF1.15` or `TF2.0`? Can you please check the error one more time. Thanks!

[2019-12-16 18:38] ymodak commented on #35133
I think there is a typo in your ```get``` command there isn't package word in the end.
Can you try again with,
```go get github.com/tensorflow/tensorflow/tensorflow/go```

[2019-12-16 18:48] jvishnuvardhan commented on #34705
@frank1789 Do you have any comments on my previous response. If this was resolved, please close the issue. Thanks!

[2019-12-16 18:50] fonnesbeck commented on #35159
Forgot to mention that the model contains a TFP layer (the last layer in the network); not sure if that's the reason I'm getting this. Otherwise the network is pretty simple. Here's the model:

[code]

[2019-12-16 18:54] jvishnuvardhan commented on #33868
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-12-16 18:54] #33868 closed

[2019-12-16 18:58] jvishnuvardhan commented on #33646
@j-o-d-o Can you try adding one more line as follows and train the model (`loaded_my_new_model_saved_in_h5`).

`loaded_my_new_model_saved_in_h5.compile(loss='sparse_categorical_crossentropy', optimizer=tf.keras.optimizers.Adam(lr=.001), metrics=[CustomMetric()])`

Thanks!

[2019-12-16 19:13] #34905 closed

[2019-12-16 19:16] jvishnuvardhan commented on #34857
@JoelTsui Can you please share a standalone code to reproduce the issue? Thanks!

[2019-12-16 19:21] jvishnuvardhan commented on #34107
@rjafarau I had 12.72 GB ram available but it was not using much. Please check it yourself on the colab (top right corner). Thanks!

[2019-12-16 19:24] ymodak commented on #35106
We do not have lua bindings for tensorflow.
See https://github.com/tensorflow/tensorflow/issues/1318 for more info.

[2019-12-16 19:24] rrkarim commented on #35099
I guess the problem is that v2 methods like `select_v2` are not correctly (or even not exposed) exposed in gen_math_ops. Little fix will solve the problem with `reduce_logsumexp`. Not sure if I can open PR with more detailed review of the issues with imports.

[2019-12-16 19:27] frank1789 commented on #34705
thanks for the support, I forwarded the suggested solution to those who manage HPC, currently I have not received a reply and I am waiting to try the script.
I ask you to be patient as soon as I have news that I will comment or if everything will be fine, I will close the issue.

[2019-12-16 19:31] ymodak commented on #35147
You may try full integer quantization of weights and activations to reduce your file size.
[code]
See https://www.tensorflow.org/lite/convert/quantization

[2019-12-16 19:38] #32612 closed

[2019-12-16 19:48] pavithrasv commented on #33245
Assigning to Tom who will be working on this as part of ideal fit/compile change.

[2019-12-16 19:53] omalleyt12 commented on #33245
For a quick workaround, note the Keras expects Datasets passed to `fit` to be of the form `(features, labels` or `(features, labels, sample_weights)`

Here's an example of grabbing MNIST from `tensorflow_datasets` and formatting it in the way Keras expects:

[code]

[2019-12-16 19:58] gowthamkpr commented on #34029
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments and we can open this issue again. Thanks!

[2019-12-16 19:59] gowthamkpr commented on #34198
Closing this issue as its not cause due to native tensorflow. Please add additional comments and we can open this issue again. Thanks!

[2019-12-16 19:59] #34198 closed

[2019-12-16 20:02] #18266 closed

[2019-12-16 20:03] #34703 closed

[2019-12-16 20:03] ymodak commented on #34737
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-16 20:03] #34737 closed

[2019-12-16 20:04] jvishnuvardhan commented on #34068
@durandg12 Can you try `tf-nightly` tomorrow as the related PR merged. Please let us know whether it solved your issue or not. Thanks!

[2019-12-16 20:10] vigician commented on #32093
It's a nice to have feature, what's the status of this feature?

[2019-12-16 20:26] ymodak commented on #35045
You may try to wrap the sparse ops in a Lambda layer. Something like;
[code]

[2019-12-16 20:30] chathuravithakshana commented on #35110
Thank u @ymodak. I'll give a try and let u know.

[2019-12-16 20:37] jvishnuvardhan commented on #35107
@CNOCycle Similar issue https://github.com/tensorflow/tensorflow/issues/32477

[2019-12-16 20:42] freemanliu commented on #35133
hi, ymodak,

Thanks for the quick response!

The "package" is the starting of the output of the command.

C library is installed. Here is how it works:
$gcc hello_tf.c -ltensorflow -o hello_tf
$./hello_tf
Hello from TensorFlow C library version 1.15.0

I also tried on linux and the result is same.

Neither does building from source work.

I also checked github for
"github.com/tensorflow/tensorflow

[2019-12-16 20:43] ShibaPrasad opened #35164 "TypeError: Tensor is unhashable if Tensor equality is enabled. Instead, use tensor.experimental_ref() as the key."
**Describe the problem**
I am having the the below problem
TypeError: Tensor is unhashable if Tensor equality is enabled. Instead, use tensor.experimental_ref() as the key.

**Provide the exact sequence of commands / steps that you executed before running into the problem**

gen_optimizer = tf.keras.optimizers.Adam(1e-3, beta_1=0.5)
disc_optimizer = tf.keras.optimizers.RMSprop(1e-3)

# model
model

[2019-12-16 20:58] huyng opened #35165 "25X slower in-graph vs out-of-graph training loop on GPU in TF2.0"
**Describe the current behavior**

When training using a fully in-graph training loop for a custom model ([as described in the documentation](https://www.tensorflow.org/guide/function#define_the_training_loop)), training is 25x slower than when training the same model with an out-of-graph training loop.

**Describe the expected behavior**

I would think in-graph training should be faster because w

[2019-12-16 21:11] aaudiber commented on #34989
Hi @zhangjh915,

The shapes are unknown because the `parse_tensor` function can't statically determine the shape of the parsed tensor. If you know the shape, you can use [ensure_shape](https://www.tensorflow.org/api_docs/python/tf/ensure_shape?version=stable) to help with shape inference.

[code]

In your code it would look like
[code]

Setting the shapes reveals the real problem; that [experiment

[2019-12-16 21:11] martinwicke commented on #33376
@annarev is this related to lazy loaders or estimator/keras integration?

[2019-12-16 21:15] mdanatg commented on #31579
I think this is going in the right direction. Here's a version of @jeffpollock9 's code that I think mypy is happy with (barring the lack of annotations in TensorFlow).

Since in the space of types there are no values (`None` is just sugar for `NoneType`), it doesn't seem currently possible to specify something like `MyCustomType[1]` without the use of `Literal`. So the type annotations will look

[2019-12-16 21:21] petewarden commented on #34334
The Arduino team now have a pending PR which they believe should fix this problem:
https://github.com/arduino/arduino-cli/pull/512

Could you take a look and provide feedback? Thanks for your patience!

[2019-12-16 21:23] nfelt commented on #33941
Can you try just adding `tf.summary.scalar("accuracy", accuracy)` to your estimator model function, below where you define the accuracy metric?

[2019-12-16 21:33] ladyada commented on #34334
super rad! i will! :) i published a guide this weekend - https://learn.adafruit.com/tensorflow-lite-for-circuit-playground-bluefruit-quickstart

[2019-12-16 21:34] mdanatg commented on #31579
Going the `Literal`-free path might not be so bad. Here's a version that's very verbose, but the type annotation looks quite nice. I named the dimensions `MNISTHeight` and `MNISTWeight` to show that such boilerplate-y types can have an actual intuitive meaning.

[code]

[2019-12-16 21:40] wevonosky commented on #26268
Can we get some more explanation for how to add dynamic=True and what that does?

[2019-12-16 21:41] olk commented on #35101
Tensorflow at Arch Linux upgraded to new version

but same warnings are displayed:

[2019-12-16 21:47] jdknox commented on #5777
[code]
Is it recommended to kill Xorg on every suspend?

[2019-12-16 22:00] ymodak commented on #35090
```tf.random.uniform``` has a ```seed```argument which is same in both calls. Therefore you see same numbers when you print.
If the graph-level seed is set, but the operation seed is not: The system deterministically picks an operation seed in conjunction with the graph-level seed so that it gets a unique random sequence.
See https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/random/set_

[2019-12-16 22:03] jsimsa commented on #34585
@rachellim could you please take a look? thanks

[2019-12-16 22:04] olk commented on #35100
upgraded to TensorFlow version: 2.1.0-rc1 - still get errors
please note that I execute the example at real hardware (not colab)

[2019-12-16 22:08] TheBicPen commented on #35103
Here is the command I ran: `tf_upgrade_v2 --infile test_tf.py --outfile test_tf_v2.py `. The contents of the file are the same as I posted above:
[code]
It also crashed when I tested with a file containing more code (same command as above) :
[code]

[2019-12-16 22:12] deven-amd commented on #34652
@gunan gentle ping

[2019-12-16 22:14] jvishnuvardhan commented on #34690
@feature-engineer I think this was resolved in `tf-nightly`. I cannot reproduce the issue with `tf-nightly`. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ac8ce65ee413880f26d189b31a9b0f63/untitled283.ipynb). Thanks!

[2019-12-16 22:24] ymodak commented on #35042
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-12-16 22:24] #35042 closed

[2019-12-16 22:31] zqlao commented on #23898
same issue, any possible solution?

[2019-12-16 22:33] gowthamkpr commented on #34445
This is the default behaviour of Tensorflow 2.0 @yashmanuda

Also as this question is not related to bug/performance, build/install, docs related issues, please post it in stackoverflow where there is a bigger community to respond. Thanks!

[2019-12-16 22:33] #34445 closed

[2019-12-16 22:41] wmcnally commented on #32142
@lminer What should I do if the argument I want to pass to the loss function is not the input to the model but a different tensor in my Dataset?

[2019-12-16 22:51] jvishnuvardhan commented on #35058
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-12-16 22:51] #35058 closed

[2019-12-16 22:51] ZeliangSu opened #35167 "Batch norm internal variables keep changing during inference"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device if the issue happens on mobile device: Dell Precision Tower 7910
- TensorFlow installed from (source or binary): tensorflow-gpu 1.14.0
- TensorFlow version (use command below): tensorflow-gpu 1.14.0
- Installed from: conda
- Python version: python 3.6
- GCC/Compiler version (

[2019-12-16 23:03] impjdi commented on #33557
@yxchng what exactly are you trying put in the PR?  implementations of those ops?

[2019-12-16 23:08] mpariente opened #35168 "Provided LSTM example doesn't work."
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): `pip install tensorflow`
- Tensorflow version (commit SHA if source): 1.15.0

**Describe the problem**
The example provided [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/examples/lstm/

[2019-12-16 23:41] olegmyrk commented on #35144
Attaching some more logs:
* CPU load is low enough so I don't think loading & feeding training data is an issue
[cpu.log](https://github.com/tensorflow/tensorflow/files/3970649/cpu.log)
* Typical GPU utilization: pretty low
[nvidia-smi.log](https://github.com/tensorflow/tensorflow/files/3970636/nvidia-smi.log)
* Typical NVLINK utilization: it looks that NVLINK is not used at all?
[nvidia-smi-nvlin

[2019-12-16 23:52] QiJune commented on #35084
@ravikyram Yes, exactly, the memory is increasing quickly.
I am not sure why the `tf.data.Dataset` objects are not freed.

[2019-12-17 00:06] jvishnuvardhan commented on #34572
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-12-17 00:06] #34572 closed

[2019-12-17 00:12] ymodak commented on #33747
@donttal Is this still an issue?

[2019-12-17 00:19] s-sajid-ali commented on #35014
I attempted this again after adding a few debug flags in the build recipe as per https://github.com/spack/spack/pull/14177/files. This time, I see a similar error where `nasm` complains about a `PyObject` in the header `eval.h` from the `python` standard library. I'm mystified as to how building `nasm`, which doesn't even depend on `python` according to the [BUILD.bazel](https://github.com/tensorf

[2019-12-17 00:30] annarev commented on #33376
It appears to be due to saving error when importing portpicker here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/test_util.py#L44

We can probably save the error text instead or import portpicker inside the function that creates a cluster.

[2019-12-17 01:01] sanjoy commented on #34004
By "logs" I meant the entire output of the TF program.

However, re-reading the bug report, I don't think the logs will be super useful.  In your case the TF program _is using_ the GPU, just not as much you'd expect, right?

This sort of thing is very hard to debug over email, I'd suggest using the [trace viewer](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras#trace_viewer) to s

[2019-12-17 01:08] martinwicke commented on #33376
Yeah, it seems weird that we'd survive the import, only to error out later.
Let's either import it inside the cluster creation, or print the error
directly on import (but still continue), and later error with a note to
look for the earlier error.

Honestly, I think the local import is preferable in this case.

[2019-12-17 01:09] emimarz commented on #33838
I have mac and I doing a fresh install and I have the same error
[code]

[2019-12-17 01:15] CNOCycle commented on #35093
@guptapriya

How do I know which functions or features will not be supported or maintained in future?

Yes, I still got an error when I disable eager_mode.
First, I removed `Session` and `tf.compat.v1.disable_eager_execution()` in my testcase and ran testcase without `tf.distribute.MirroredStrategy()` in tf=2.0.0.

The testcase can be seen in the following:

[code]

I got the following error messa

[2019-12-17 01:25] jsimsa commented on #35080
I agree that it would be generally beneficial to be able to overlap the "warming up" of the input pipeline with other computation (such as model compilation).

However, it is non-trivial to provide this functionality given the current tf.data implementation. Each tf.data transformation has its own C++ iterator implementation with a "GetNext" method which upon its first invocation starts the backgr

[2019-12-17 01:29] mixxen commented on #35083
I just checked and this bug also exists in TF 2.0.

[2019-12-17 01:30] jsimsa commented on #34112
In general, it is possible the happen -- for instance if the user program makes incorrect use of device scopes.

@mwalmsley you can create a minimal reproducible example by starting with your user program and repeatedly removing complexity from it (e.g. replacing a complex model with a trivial one, replacing complex input pipeline with a trivial one) until there is nothing that can be removed with

[2019-12-17 01:32] guptapriya commented on #35093
The error reported in https://github.com/tensorflow/tensorflow/issues/35093#issuecomment-566334859 - is that happening both with and without MirroredStrategy?
Also you're using "cw_loss" as a metric? I don't see from the code how that is being used as a custom loss.
There are a few tests in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/distribute/distribute_strategy_

[2019-12-17 01:35] olegmyrk commented on #35144
I've rerun the script using
`NCCL_DEBUG=INFO NCCL_DEBUG_SUBSYS=ALL CUDA_VISIBLE_DEVICES=0,1,2,3`

Attaching the NCCL logs
[train.CelebAMask-HQ.4xgpu.nvlink.log](https://github.com/tensorflow/tensorflow/files/3970968/train.CelebAMask-HQ.4xgpu.nvlink.log)

To the extent I can read NCCL logs it seems that it should be working fine?
[code]

[2019-12-17 01:43] byronyi commented on #35144
There is a perf regression w.r.t. to prefetching data for mirrored strategy in 2.0 that is fixed later. Could you try nightly or 2.1-rc0?

[2019-12-17 01:45] CNOCycle commented on #35093
Yes, I use `cw_loss` as a metric in this testcase.

Because I will switch loss form `categorical_crossentropy` to `cw_loss` during our custom training phase.

But I want to know that which epoch is the best epoch to do the conversion.

So I have to record my custom loss as metric in the begin

[2019-12-17 01:47] mihaimaruseac commented on #33838
We haven't released any pip package for 3.8

[2019-12-17 01:49] CNOCycle commented on #35093
@guptapriya

If you want to test `cw_loss` as loss, Please apply the following patch.

[code]

[2019-12-17 01:55] jianlongf opened #35169 "TensorFlow Lite C++ image classification demo result error"
I follow the guidelines of TensorFlow Lite C++ image classification demo. Firstly I clone TensorFlow and use to build label_image for Android armv8 by bazel 1.2.1.

When I run the sample in the guide. I got the error result like below:

According to the guide, the right result is below:

BTW, The TensorFlow version is the latest commit of the master.
`
commit 27e6c7b49f4558dfc4bd59a9c492bf4f390a77

[2019-12-17 01:58] yxchng commented on #28968
@impjdi Any updates on this?

[2019-12-17 02:09] thisisandreeeee commented on #35151
@durandg12 thank you, this works really well. I think the reason why there was an error calculating the AUC was that all of the target values were of the same class.

On a side note, is it intended behaviour for tensorflow to raise an exception when the final layer is not named according to the output tensors? Or does tensorflow only accept target inputs where the target is a list, instead of a di

[2019-12-17 02:10] gimgane opened #35170 "Tensorflow lite built from source is much slower than downloaded prebuilt library"
### **System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device: LG G7
- TensorFlow installed from (source or binary): Source
- TensorFlow version: r2.0
- Python version: 3.5
- Installed using virtualenv? pip? conda?: None
- Bazel version: 0.24.1
- Android NDK version: r16b
- GCC/Compiler version (if compiling from source): GCC 4.8

### **Describe the problem**
Built

[2019-12-17 02:21] mjwatkins2 commented on #35012
Fair enough, thank you all.

[2019-12-17 02:28] #34989 closed

[2019-12-17 02:30] jianlongf commented on #35169
I got the right result by checkout the tag v2.0.0

[2019-12-17 02:33] glevenc commented on #35008
@jvishnuvardhan
hi, i print the version in the colab
and it  shows 1.15.0
Also , in my own pc env. the version is TF2.0
both version have the same issues as list belows:
i just re-run the colab as i shared above link: it can always be reproduced;

RuntimeError                              Traceback (most recent call last)

<ipython-input-16-c0f7628eb24c> in <module>()
      1 interpreter = tf.lite

[2019-12-17 02:38] MagaretJi commented on #21832
@mforde84 I had a similar issue using driver 384.81,but  Nvidia recommended Tesla k80 need install driver 384.183.So upgraded to a recent version of drivers 396 is a good choice???
**GPU Tesla k80
tensorflow-gpu 1.10.0
CDUNN 7.0.5
CUDA 9.0**

2019-12-17 09:55:46.558571: E tensorflow/stream_executor/cuda/cuda_dnn.cc:455] **could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED**
2019-12-17 09:

[2019-12-17 02:40] 1096125073 opened #35171 "rnn optimize fail"
Epoch 1/10
2019-12-17 10:30:10.047658: W tensorflow/core/grappler/optimizers/implementation_selector.cc:310] Skipping optimization due to error while loading function libraries: Invalid argument: Functions '__inference___backward_standard_gru_5820_6196_specialized_for_StatefulPartitionedCall_at___inference_distributed_function_6314' and '__inference___backward_standard_gru_5820_6196' both implemen

[2019-12-17 02:40] ogis-kubota commented on #34977
I'm facing same issue too.

[2019-12-17 02:47] rpvelloso commented on #6698
That solved for me, thanks!

[2019-12-17 02:50] guptapriya commented on #34609
tf.function does not spawn another process - why do you say that?

[2019-12-17 02:56] rayeh5 commented on #35143
I may find the reason.
It should be caused by setting of RecognizeCommands(), after change the setting as below:
  explicit RecognizeCommands(tflite::ErrorReporter* error_reporter,
                             int32_t average_window_duration_ms = 0,
                             uint8_t detection_threshold = 0,
                             int32_t suppression_ms = 0,
                             in

[2019-12-17 02:56] #35143 closed

[2019-12-17 03:22] husisy opened #35172 "TypeError when using boolean_mask to evaluate hessian matrix"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (see code snippet below)
- OS Platform and Distribution: both on win10 and Linux Ubuntu 18.04
- TensorFlow installed from: binary (via `pip install tensorflow`)
- TensorFlow version (use command below): `2.0.0`
- Python version: `3.7.3`
- CUDA/cuDNN version: not applicable
-

[2019-12-17 03:23] chensongkui opened #35173 "I do not get the from the file or definition of "gen_nn_ops" in the place "tensorflow.python.ops""
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-12-17 03:33] robieta commented on #32544
I'm inclined to agree that this looks like normal floating point variability. Thanks for the analysis everyone.

[2019-12-17 03:33] #32544 closed

[2019-12-17 03:56] kitterive commented on #34846
How to use in c++ api?

[2019-12-17 04:20] gadagashwini commented on #35137
@manicman1999, I tried with Tensorflow-gpu 2.0 it outputs as expected. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/15cb7ad955be9cd66dfc115c03f5eb3a/untitled309.ipynb). Thanks!

[2019-12-17 04:56] Keepmoving-ZXY commented on #33871
Yes, this can build `ring_reducer_test.cc` and it's dependency, and export binary file in `bazel-bin/tensorflow/core/common_runtime_ring_reducer_test`, thank you very much. And could you tell me why I must add `common_runtime` to `ring_reducer_test`?

[2019-12-17 05:26] gadagashwini commented on #35146
I could replicate the issue with Tf 2.0 on colab.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/c7b1b254f5ada8b480ec6125804f4d22/untitled310.ipynb). Thanks!

[2019-12-17 05:40] yxchng opened #35176 "How to prevent operator from fusing when converting to TFLite model?"
GPU delegate does not support operator fusion, so I need to prevent the conversion from fusing the operators.

TFLiteConvertor will automatically fuse operators, which gives problems.

[2019-12-17 06:38] algoromeo commented on #34321
I'm getting the same InternalError, were you able to solve your problem @ShiroKL ?

[2019-12-17 06:57] gadagashwini commented on #34669
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-12-17 06:57] #34669 closed

[2019-12-17 07:00] gadagashwini commented on #34636
@ibrahimLearning, Any update on issue!

[2019-12-17 07:09] anhtu812 opened #35177 "tensorflow c++ Not found: Op type not registered 'ImageProjectiveTransformV2'"
I run my c++ code, it load file .pb have op tf.contrib.image.transform() and out error:
[code]

I use tensorflow 1.14 build from source on ubuntu16.04.
How to build to use op ImageProjectiveTransformV2 ?

[2019-12-17 07:23] robosina opened #35178 "missing symbols from c++ API"
**System information**
- OS Platform: Windows10
- TensorFlow installed from:source
- TensorFlow version:1.13.0
- Python version: NO
- Bazel version (if compiling from source):0.19
- GCC/Compiler version: msvc14

**Describe the problem**
I want to build tensorflow from the source using the below command
`bazel build -c opt  --config=mkl --config=monolithic --linkopt="/FORCE:MULTIPLE" --define=no_te