[2016-10-06 16:15] ebrevdo commented on #4732
It's atypical to do this.  Folks usually build two graphs: one for
training, and a separate one for eval.  (you can use a common function to
build the "common" subgraph).  You then run the train and eval graphs
either in separate threads or in different processes.  At the very least,
you use different sessions for training and eval.

On Thu, Oct 6, 2016 at 9:08 AM, Daniel Schonfeld <notifications@

[2016-10-06 16:24] danielschonfeld commented on #4732
@ebrevdo I see... so i should adopt more of like the cifar-10 example model where one process trains and one monitors for checkpoint files and loads and tries the eval stuff against?

[2016-10-06 16:56] andrewharp commented on #4790
@petewarden Is there any reason to keep strip_unused around now that you've added optimize_for_inference?

[2016-10-06 17:05] petewarden commented on #4790
@andrewharp No, I don't think it is useful, so it might make things less confusing to remove strip_unused.

[2016-10-06 17:24] rxwei commented on #19
I'll take on this.

[2016-10-06 17:44] #4798 closed

[2016-10-06 17:47] haosdent commented on #4782
It looks add `Eigen::half` in `decode_raw_op.cc` should be enough?

[code]

[2016-10-06 17:59] benoitsteiner commented on #4782
You also need to update the op registration code in tensorflow/core/ops/parsing_ops.cc to declare that is now supports outputing half floats.

[2016-10-06 18:01] benoitsteiner commented on #4782
Last but not least, I strongly encourage you to add a regression test to cover the float16 case in tensorflow/python/kernel_tests/decode_raw_op_test.py

[2016-10-06 18:04] tatatodd commented on #4649
@kadafax that looks like a different problem.  Here's how to look for similar issues:

https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+repo%3Atensorflow%2Fmodels+repo%3Atensorflow%2Ftensorflow+crosstool_wrapper_driver_is_not_gcc

In particular, #4705 and #4105 seem related.  You can try running bazel clean and fetch after ./configure, and see if that fixes things.  Details in the referenced

[2016-10-06 18:07] ebrevdo commented on #4732
Exactly. Then you keep the best checkpoint.

On Oct 6, 2016 9:25 AM, "Daniel Schonfeld" <notifications@github.com> wrote:

[2016-10-06 18:21] tatatodd commented on #4759
@hfutxrg This is a little confusing.  There are two git repositories:

https://github.com/tensorflow/tensorflow (let's call this the tensorflow repo)
https://github.com/tensorflow/models (let's call this the models repo)

First let's talk about the tensorflow repo.  In general, there are many ways to install the tensorflow repo:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#d

[2016-10-06 18:25] tatatodd commented on #4744
@hfutxrg I see your point, and don't have an answer.  Perhaps @poxvoculi can shed some light on this?

[2016-10-06 18:28] aselle commented on #4321
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-10-06 18:28] #4321 closed

[2016-10-06 18:28] aselle commented on #4622
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-10-06 18:28] #4622 closed

[2016-10-06 18:31] aselle commented on #4652
Closing for now, because there does not seem to be any bug or enhancement request. Please read the documentation, and if you need specific usage help, you can post on StackOverFlow. Thank you!

[2016-10-06 18:31] #4652 closed

[2016-10-06 18:31] aselle commented on #4387
Automatically closing due to lack of recent activity. Please reopen when additional information becomes available.

[2016-10-06 18:31] #4387 closed

[2016-10-06 18:43] aselle commented on #4135
I was able to reproduce this on Mac OS X with the nightly. So this appears to be a Mac only bug.

[2016-10-06 18:46] aselle commented on #4566
@jmchen-g, I've made this into a feature request, retitled and assigned to you based on the previous comment by  @DC-Swind.

[2016-10-06 18:47] aselle commented on #4566
@zheng-xq

[2016-10-06 18:48] hfutxrg commented on #4759
Hi @tatatodd,

I installed both tensorflow and models from source. But even installing tensorflow from source, we still need pip to install it in the last step.

Based on tensorflow document, "When building from source, you will still build a pip package and install that." And the last step is
"$ sudo pip install /tmp/tensorflow_pkg/tensorflow-0.11.0rc0-py2-none-any.whl"

That's why I have two loc

[2016-10-06 18:55] yaroslavvb commented on #4566
What's wrong with using `CUDA_VISIBLE_DEVICES`? There may be performance implications if you wait to initialize GPU memory pool until device is declared

[2016-10-06 19:23] ondrej-smola commented on #17
@mrry  Thanks for #4798 , it now builds ok, also tested python whl install and no problems found so far.

[2016-10-06 19:40] zheng-xq commented on #4521
Passing this to Michal.

[2016-10-06 19:43] zheng-xq commented on #4566
To control which GPU you want to use, use CUDA_VISIBLE_DEVICES

To control how much GPU memory you want to use: per_process_gpu_memory_fraction

https://github.com/tensorflow/tensorflow/blob/d24e64227653ab3cab7405c79ca166063a42f0ff/tensorflow/python/kernel_tests/sparse_xent_op_test.py#L262

[2016-10-06 20:03] tatatodd commented on #4229
@berlogb thanks for the info.

Can you try the tensorflow 0.11 release?  I don't know of anything specific in that release that should help, but it'd be good to get on the latest version so we can narrow in on the possibilities.
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

[2016-10-06 20:06] yaroslavvb commented on #4229
@berlogb TensorFlow grabs all GPU memory by default, so if you open up another process you will get `CUDA_ERROR_OUT_OF_MEMORY`

[2016-10-06 20:29] tatatodd commented on #4229
@yaroslavvb I think the issue is that he's not getting `CUDA_ERROR_OUT_OF_MEMORY` under certain circumstances with multiple concurrent processes; instead he just gets arbitrary output with no errors.

[2016-10-06 20:33] yaroslavvb commented on #4229
I see. I've gotten random/incorrect results from GPU when I compiled with the wrong Compute Capability. The description says it's for CUDA 8.0, but there are were no official releases for CUDA 8.0 in September. So maybe there's been a user mistake in ./configure step. A way to rule that out is to reproduce with the official wheel

[2016-10-06 20:33] tatatodd commented on #4735
@civilmanxx good to hear that running with a smaller batch size has fixed your immediate problem.

@zheng-xq might know more about the specifics of why with a bigger batch size, we only crash in middle, and not at the beginning.  Or other things to look at.

[2016-10-06 20:34] civilmanxx commented on #4790
@andrewharp I try  optimize_for_inference.py, But it seems that the fix is still there.

1, I freeze the .ckpt file into .pb file, which size is 24M
2, run optimize_for_inference.py to ouput a new file. This new .pb file is 23.9M, which mean very limited nodes are removed, as size drop 0.1M.
3, convert this .pd file into 8bit file, which size is 6.5M as well.
4, load into iOS and run. the error is

[2016-10-06 20:36] danielschonfeld commented on #4732
now if only i can figure out why my raw usage of tensorflow only achieves 60% accuracy compared to using the SciKit module of TF `DNNClassifier` which archives like 99% pretty fast.

Perhaps the usage of embedded lookup? We can probably close this issue for now, unless someone else wants to keep it alive?

[2016-10-06 20:42] tatatodd commented on #4759
@hfutxrg I see, thanks for the explanation.  Yes, in that case I think the issue is that the tensorflow and models repos are out-of-sync.

Wrt distributed training, have you seen the following:
https://github.com/tensorflow/models/tree/master/slim
https://github.com/tensorflow/models/tree/master/slim#training-a-model-from-scratch
https://github.com/tensorflow/models/blob/master/slim/deployment/mod

[2016-10-06 20:43] berlogb commented on #4229
Hi Yaroslav
Thanks, good point. It wasn't me who upgrade setup to 8.0, but looks like official release was in the end of September. I'll try to reinstall with official package and see how it goes.
Thanks.

[2016-10-06 20:43] petewarden commented on #4790
I'm surprised to see RandomUniform used in an inference graph. I believe you might need to set training=False when you create your model to get rid of ops like dropout that might use this, but I'm cc-ing @sguada since I'm hoping he might have some ideas on this?

[2016-10-06 20:48] civilmanxx commented on #4790
I just set --training=False for optimize_for_inference.py script, but the output file size is still 23.9M

[2016-10-06 20:50] petewarden commented on #4790
The output file size isn't significant. Most of the space is taken up by a few large weight parameter sets, so a lot of nodes can be removed without it changing the length significantly. Does the resulting model still fail with the same error?

[2016-10-06 20:59] civilmanxx commented on #4790
I just carefully review the script **optimize_for_inference.py**. It seems that there is no parameter for  --training=False/True. I cann't see this parameter. only 4 parameters below:

--input=frozen_inception_graph.pb \
--output=optimized_inception_graph.pb \
--input_names=Mul \
--output_names=softmax

[2016-10-06 21:02] petewarden commented on #4790
It's a parameter for the slim training library. I don't know the details, but I've seen it show up in similar issues, so I cc-ed @sguada for more info.

[2016-10-06 21:04] poxvoculi commented on #4744
The phenomenon reported is interesting.  It's possible there's a bug in the form of a computational inaccuracy somewhere, but it also seems possible (and without further evidence more likely) that this is a natural consequence of SGD learning and the hyper-parameters you've chosen.  In particular, as you've increased the number of GPUs, you've also increased the batch size linearly.

There is not

[2016-10-06 22:03] tatatodd commented on #4757
@chenghuige The problem is in your second step `rename-scope.py`, where you run the following two lines:
[code]

I think you're assuming that this step is sufficient to rename the `old/w` variable to `new/w`.  In reality it's not.  Note that the python string replace method returns a copy of the string, and doesn't mutate the string itself:
https://docs.python.org/2/library/string.html#string.repl

[2016-10-06 22:13] tatatodd commented on #4766
@civilmanxx I think you need to specify the --saver flag to freeze_graph, with a SaverDef file:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py#L50
https://www.tensorflow.org/versions/r0.11/api_docs/python/state_ops.html#Saver
See `tf.train.Saver.as_saver_def()`

[2016-10-06 22:15] civilmanxx commented on #4735
yeah, reduce batch size from 256 to 128 will double the training time.

[2016-10-06 22:18] tatatodd commented on #4768
The following query shows some similar issues:
https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+repo%3Atensorflow%2Fmodels+repo%3Atensorflow%2Ftensorflow+%22kernel+version%22+%22does+not+match%22+%22DSO+version%22+

Specifically #4349 and #1158 are similar.  Basically you seem to have the wrong nvidia driver versions.

[2016-10-06 22:26] zheng-xq commented on #4735
Depending on the width of the model, TensorFlow can be somewhat non-deterministic in terms of scheduling. Right now, it schedule ops that are ready to go eagerly. That could cause some models to use more memory sometimes. The effect is often not huge.

But this could make your training to fail of your model is dangerously close to the edge. A few things to try:

1. Use a slightly smaller batch siz

[2016-10-06 22:28] haosdent commented on #4782
@benoitsteiner Many thanks! Let me try to fix it.

[2016-10-06 22:30] civilmanxx commented on #4766
Thanks for your info. but i do not know how to use this **--input_saver** parameter. There is no example usage for this one. and the default 4 parameters are only:

--input_graph=some_graph_def.pb \
--input_checkpoint=model.ckpt-8361242 \
--output_graph=/tmp/frozen_graph.pb
--output_node_names=softmax

[2016-10-06 22:32] dwightcrow commented on #851
Hi all - haven't gotten TensorFlow r0.11 working yet, but do have a working path to r0.9 TensorFlow install on TX1 with JetPack 2.3. Have tested basic nets MLP/LSTM/Conv and seems to work, though it OOMS out pretty easily on bigger convs.

Wrote down all my steps and patches below if it's helpful to anyone. Really appreciated all above commentary was critical to tracking down right path.

http://s

[2016-10-06 22:32] tatatodd commented on #4770
@Tcorpion Please provide the following information.

-----

### Environment info
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
2. The output of `bazel version`

[2016-10-06 22:34] tatatodd commented on #4772
@jkschin Can you provide the full error log?  Also the following environment information:

-----

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1. A link to the pip package you installed:
2. The output from `python -c "import tensorflow; print(tensorflow.

[2016-10-06 22:38] tatatodd commented on #4773
@egorlitvinenko Please provide the full error log, including the stack trace.

[2016-10-06 22:42] civilmanxx commented on #4735
Thanks for your info.

1, I can see at lease 4 code files has TF_CUDNN_WORKSPACE_LIMIT_IN_MB
where can i change this value? Is there any config file, which i can set it once only?

2, For your solution about resume training after crash. So far i do not know which command line can do this. Other popular DL framework, such as caffe support this directly.

[2016-10-06 22:47] zheng-xq commented on #4735
It is an environment variable.

Set env-var to TF_CUDNN_WORKSPACE_LIMIT_IN_MB=100, so you only allow 100MB in scratch space for each conv op.

[2016-10-06 22:50] tatatodd commented on #4766
@civilmanxx The `--input_saver` parameter takes a `SaverDef` proto file, which you can retrieve via `tf.train.Saver.as_saver_def()`

But perhaps a better question: why are you trying to freeze the graph?

[2016-10-06 23:02] civilmanxx commented on #4766
I use freeze_graph to create a .pb file for iOS.

Sorry, i am not clear about  **tf.train.Saver.as_saver_def().**  When i train inception v1 (slim) model.
The only files output are: .**ckpt**, .**pbtxt**,  **checkpoint.txt**, .**meta** Nothing else.

and .**pbtxt** file is for parameter **--input_graph**, but not for  **--input_saver**
For slim model, such as for inception v1, what change should I

[2016-10-06 23:03] tatatodd commented on #4774
@marcoadurno Thanks for filling the issue and the gist!  FYI your `dummy init_fn` link is broken.

@sguada probably has some advice here.

[2016-10-06 23:05] tatatodd commented on #4779
@zheng-xq probably has advice here (thanks XQ!)

[2016-10-06 23:13] tatatodd commented on #4781
I can reproduce the behavior, and it seems like a bug to me.  @ebrevdo might have some thoughts.

[2016-10-06 23:15] zheng-xq commented on #4779
In general, all TensorFlow intermediate tensors disappear after a run, except:

1. If you put it in a Variable, and mark it "trainable=False". I would recommend this for now.
2. Push into a queue. However, the current queue implementation doesn't work with GPU yet. There are design discussion to change that.
3. A semi-experimental feature called partial_run. Only touch this if you feel very brave.

[2016-10-06 23:15] martinwicke commented on #4165
Yup, I think we fixed it, just forgot to close this bug. Thanks!

[2016-10-06 23:15] #4165 closed

[2016-10-06 23:16] martinwicke commented on #4058
No worries. I was traveling and was just going through the notification emails now. Your updated comment was a nice surprise! :)

[2016-10-06 23:17] aselle commented on #4566
We should probably add this to the documentation... maybe here? https://www.tensorflow.org/versions/r0.11/how_tos/using_gpu/index.html
Or is it already in it, and I just can't find it.

[2016-10-06 23:25] tatatodd commented on #4791
@asimshankar might have details here.

[2016-10-06 23:27] martinwicke commented on #4656
Sorry -- I should have said `get_variable_names` and `get_variable_value`.

[2016-10-06 23:27] #4656 closed

[2016-10-06 23:30] tatatodd commented on #4794
@shiyemin see the related issue #3652

You probably want to get your bazel output directory onto your local filesystem, rather than NFS.

[2016-10-06 23:39] tatatodd commented on #4797
Thanks for filing the issue @mahdeto.  Note that we primarily use github issues to track bugs and feature requests.  This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.  Thanks!

As for the error you're encountering, I'd suggest starting with the provided example code:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples

[2016-10-06 23:39] #4797 closed

[2016-10-06 23:41] asimshankar commented on #4791
I don't think there is a good reason for the target to be private, can be made public.
If you'd like to send in a pull request, we'd be happy to merge it.

(Out of curiosity: From your notes above, I gather that your project is also using bazel and you're using tensorflow as an external dependency?)

[2016-10-06 23:52] yaroslavvb commented on #4779
Also
  4. Persistent Tensors. If you execute `GetSessionHandle` op on a tensor, this data will persist after the session run call has terminated, until session is reset, or someone calls `DeleteSessionTensor`

[2016-10-06 23:53] mkolod opened #4807 "Upgrade to libjpeg-turbo"
TensorFlow seems to be using the classic libjpeg v 0.9, but libjpeg-turbo is heavily optimized to leverage SIMD on various platforms (x86, ARM, POWER, etc.), and is both API and ABI compatible with libjpeg, at least up to libjpeg 0.8. Given TensorFlow's goal of portability across a wide varierty of platforms, I'm wondering if libjpeg was decided upon instead of libjpeg-turbo for portability, or wa

[2016-10-07 00:22] civilmanxx opened #4808 ".ckpt file cann't be freezed into .pb after run eval_image_classifier.py"
This is a very strange issue i meet. i do not know what changes are made by eval_image_classifier.py

### Environment info
Ubuntu 16.04

### Steps:

1. Train inception v1 (slim) model and get .ckpt files.
2. Run freeze_graph to freeze .ckpt file into .pb file, like cmd below:

**bazel-bin/tensorflow/python/tools/freeze_graph \
 --input_graph=/home/tensorflow/v1.3sgd_copy/graph.pbtxt \
 --input_che

[2016-10-07 00:25] civilmanxx commented on #4808
At very beginning, i run eval_image_classifier.py after training, and then try to freeze *.ckpt file, but not run pass. Now the above steps in thread 1 can repro the issue.

[2016-10-07 00:26] yaroslavvb opened #4809 "Getting Send/Recv timings for distributed TF"
I'm trying to troubleshoot some slowness in our distributed models , and it would be useful to have access to timing of Send/Recv ops across graph partition.

cc @suharshs because maybe StatsPublisherInterface is relevant?

For instance, a toy benchmark [here](https://gist.github.com/yaroslavvb/1124bb02a9fd4abce3d86caf2f950cb2) adds 100MB vectors of 1's in one process to variable in another proces

[2016-10-07 00:29] yaroslavvb commented on #4809
cc @prb12 the timeline wizard

[2016-10-07 00:35] tatatodd commented on #2164
@shlens do you have any other suggestions on who might be a good person to fix this?

[2016-10-07 00:42] tatatodd commented on #4047
@perhapszzy @chhwang are you still seeing the same problems?  One thing to try is TensorFlow version 0.11, just to make sure we're not dealing with an issue that's been fixed already.

https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

[2016-10-07 00:42] petewarden commented on #2164
This is now actually fixable if you run the tensorflow/python/tools:optimize_for_inference script, since it folds the batch normalization ops.

[2016-10-07 00:44] LordPython commented on #4791
Yes, I've got my project building with bazel and tensorflow is set up as a local_repository.

It seems the linking was taking a long time due to something about using the clang from Xcode 7.3 (which I need to use because of CUDA), and seems to have been fixed by passing compiler flag -fvisibility-inlines-hidden.

[2016-10-07 00:47] tatatodd commented on #4200
@loretoparisi @gaurav5670
The files to look at are these:
[code]

These files seem to be out-of-sync somehow.  Perhaps the easiest thing to do is to uninstall everything, and install the latest version of TensorFlow:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

Let me know if you still have issues.

[2016-10-07 00:48] concretevitamin commented on #4674
I think the in-preparation 0.11 release will fix this, but not at the 0.10 branch you're using.  Can you try it [here](https://github.com/tensorflow/tensorflow/tree/r0.11)?

[2016-10-07 00:50] tatatodd commented on #4436
@thewintersun Are you still having problems with this?

[2016-10-07 00:55] yaroslavvb commented on #4047
@chhwang I've been doing similar debugging recently and on a [simple benchmark](https://gist.github.com/yaroslavvb/1124bb02a9fd4abce3d86caf2f950cb2) I observing that transferring data between TF workers on same machine is about 500-1GB/second, while making data available to Python client in another process on same machine is <100MB/second

[2016-10-07 01:07] concretevitamin commented on #4688
I am not aware of any plan at the moment.  CC-ing @ebrevdo.  Contributions welcome though!

[2016-10-07 01:38] guotong1988 opened #4810 "#bug# How do you check the code runtime-result without build it ?"
According to this [link](http://stackoverflow.com/questions/39890170/tensorflow-build-fail-at-october-6-2016),I think some developer can't build it .
I'm not that familiar with the source code now and can't coding without debug.

[2016-10-07 01:48] tatatodd commented on #4544
@tuandnvn can you try version 0.11:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

Based on the error it looks like the op with a missing GPU kernel is UnsortedSegmentSum, but that support was added in this commit:
https://github.com/tensorflow/tensorflow/commit/88686b308146887a88903c883bed7affc650e076

So I'm expecting it to work in 0.11, or at least you'l

[2016-10-07 01:55] tatatodd commented on #4596
@sven1977 Glad you worked things out!  I'll suggest that you upgrade to the latest version of TensorFlow, to pick up all the bugfixes we've added since 0.8:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

I'm closing this out, but feel free to comment or file a new bug if you have other issues.

[2016-10-07 01:55] #4596 closed

[2016-10-07 02:32] asimshankar commented on #4791
Good to know, thanks.

I'm going to close this issue out. If you, or anyone else, needs the visibility change for the .so file in the future, we can add it then. Feel free to re-open if you disagree :)

Thanks!

[2016-10-07 02:32] #4791 closed

[2016-10-07 02:34] lanking520 opened #4811 "Wrong Answer"

[2016-10-07 02:34] #4811 closed

[2016-10-07 02:41] sm4241 opened #4812 "How do you check the code runtime-result without build it ?"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-10-07 02:57] tuandnvn commented on #4544
I would try that, thanks tataodd for your new update.

[2016-10-07 03:21] guotong1988 commented on #4810
Sorry for the time, now I think I could build the stable 0.10 version to debug it.

[2016-10-07 03:41] chhwang commented on #4047
@yaroslavvb I'm not exactly sure how is your benchmark related to my problem. I think my problem is that the SyncReplicasOptimizer itself gives a significant overhead, and it is not the communication overhead. Anyway, it was a few months ago, so let me test it again with the recent version of TensorFlow as @tatatodd suggested.

[2016-10-07 04:13] yx2387 opened #4813 "OpenCL support"

[2016-10-07 04:13] #4813 closed

[2016-10-07 05:52] jiny2001 commented on #4640
Hi alphamule,
Could you give me more detail like which file should be changed and which line to be masked?

[2016-10-07 06:29] icklerly commented on #2386
@smartcat2010
Hi,
I tried your mnist_softmax.py.txt example and did run it on 1 parameter server and 2 workers.
Unfortunately, I get a two times longer runtime with using 2 workers compared to using only 1 worker.
Can you confirm this behavior?
A feedback would be great!

[2016-10-07 06:41] mahdeto commented on #4797
my problem was that the classes needed to be integers, leaving it here in case someone else runs into this

[2016-10-07 07:55] marcoadurno commented on #4774
@tatatodd link fixed, it was pointing to a copy of the gist in a private repo.

[2016-10-07 08:01] egorlitvinenko commented on #4773
I provided all log with stacktrace, which I see in Jupyter notebook. Is there another place, from which I should take log?

[2016-10-07 08:04] lxj0276 commented on #4664
If I install cuda7.5 and cuda8.0 at the same time ,they  will not clash?

[2016-10-07 08:16] DjangoPeng commented on #4419
@lukaszkaiser I'm working to fix it

[2016-10-07 08:24] chenghuige commented on #4757
@tatatodd  I thins string replace here is fine, you can see my example code of
python read-renamed-buildgraph.py it actually works if not reading using meta graph.

[saving-and-restoring](https://www.tensorflow.org/versions/r0.11/how_tos/variables/index.html#saving-and-restoring)
# Create some variables.
v1 = tf.Variable(..., name="v1")
v2 = tf.Variable(..., name="v2")
...
# Add ops to save and re

[2016-10-07 08:29] chenghuige commented on #4750
@tatatodd  well it's hard to make a minimal test case.
But I have find the problem is due to mismatch tensorflow versions.
It only occurs when traing using tf 0.11 and load using tf.0.10.
So this might not be a problem.

[2016-10-07 08:57] untom opened #4814 "[Feature Request] Make streaming metrics resettable"
Hi!
Currently, the streaming metrics are (as far as I know) not resettable. I'd like to be able to e.g. reset the counter after each epoch. This way, having e.g. a very bad accuracy in the beginning of training will not still influence the accuracy value ten epochs later. It makes it easier to compare my results to runs obtained outside tensorflow.

The only workaround I found is to do `sess.run(t

[2016-10-07 08:57] bhack opened #4815 "Neural Network Exchange Format (NNEF)"
Do you want to support and contribute to the standardizzation of provisional [NNEF](https://www.khronos.org/nnef) effort by Kronos Group? Google is still in the [promoter member list](https://www.khronos.org/members/member_list)

[2016-10-07 09:36] dParadiz commented on #1434
`tf.nn.xw_plus_b()`  has option to name the operation while` tf.matmul(x, w) + b` has not. Is there any way around that?

[2016-10-07 09:58] chenghuige opened #4816 "tensroflow 0.11rc conflict with boost.python generated so"
My application will use both tensorflow and some so generated by boost.python(1.53) running on centos 6.3 with cuda 7.5 and cudnn 4 .
The problem is everything is fine with tensorflow 0.10, but changing to tensorflow 0.11rc, then
I will always face segmentation fault (double free) before the program stop running, especially if using numpy also, and if changing import library sequence  might decrea

[2016-10-07 10:16] kadafax commented on #4649
OK thanks. Got it working.

For the records:
- tell the configure.sh script to use /usr/bin/gcc
- put cuda 7.5 and cudnn 5.1.3 in the same folder (can be in $HOME)
- export CC=/usr/bin/gcc
- modify third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl by adding the following line:
    +cpu_compiler_flags.append('-fno-use-linker-plugin')
      return subprocess.call([CPU_COMP

[2016-10-07 11:13] KunyiLiu opened #4818 "jkjk"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-10-07 11:16] alquraishi commented on #4674
Does the latest build at MASTER have this fix or no?

[2016-10-07 11:22] haosdent commented on #4749
@yhg0112 May you mind I create a pull request for this? Or you plan to fix this?

[2016-10-07 11:25] haosdent commented on #4749
Refer to

[code]

The comment about `fn` is incorrect.

[2016-10-07 11:30] sjperkins commented on #4526
I also agree with @mkolod and @benbarsdell  that the H2D (and D2H) transfers can be problematic. Related to #2848 where there is further discussion on tensorflow's GPU transfer scheduling. Part of the problem is that the Send/Recv ops are scheduled immediately and not necessarily in the order of their dependent operations. One suggested solution is to use `tf.identity` to prefetch tensors onto the

[2016-10-07 11:55] sjperkins commented on #4526
Also, the following quote from the [documentation](https://www.tensorflow.org/versions/r0.11/how_tos/threading_and_queues/index.html) suggests one can pin queues to a GPU?

Perhaps a CPU queue and a GPU queue with intermediate pins via `tf.identity` are what is required here?

[2016-10-07 12:37] Nayana-ibm commented on #3527
@aselle   @gunan
Can you please provide more details on how the current CI infrastructure is ?
Also, I need below details in order to setup the CI infrastructure on z Systems (big endian):
1. How frequent the CI runs on average?
2. What is the recommended H/W and configuration requirement?
3. Special S/W requirements (if any).

[2016-10-07 12:40] Tomakko commented on #3256
If i have those ema variables, how can i load them into another lstm cell?

[2016-10-07 13:25] wyx-cornell opened #4820 "Thread created by SummaryWriter not killed"
Hi,

I noticed that the _EventLoggerThread created by summary writer does not get killed by the close method, which will make the number of threads keep increasing until it exceeds the system capacity. Is there any particular reason to not kill these threads?

Best

[2016-10-07 13:56] #4818 closed

[2016-10-07 14:00] xiaoyunwu opened #4821 "Request for documentation: quantize_training in python"
Poking around, I find https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=quantize_training

However there is no documents that I can find describe how this can be used. Can we add some example and also documentation around it so that people can start to play with it?

[2016-10-07 14:00] tusharsoni08 commented on #4680
@maciekcc any update?

[2016-10-07 14:06] prb12 commented on #4809
Yes - the way trace data is collected for Send/Recv nodes in our internal tracer is somewhat out-of-band and isn't implemented in the current distributed tracing.  Neither is the GPUTracer support (though that is an easy 2 line change).

Both of these issues need to be addressed in the current refactoring which suharshs@ is doing to the various Session implementation.  I've been meaning to improve

[2016-10-07 14:52] thewintersun commented on #4436
@tatatodd
yes, still have this problem

[2016-10-07 14:56] ebrevdo commented on #4749
Fyi look at tf.nn.dynamic_rnn also.

[2016-10-07 15:00] ebrevdo commented on #4688
We'll soon have a scatter_nd op which should subsume this behavior and work with the data type. At that point we'll probably point sparse to dense to use that kernel.

[2016-10-07 15:07] amrit-poudel commented on #4688
Many thanks!

[2016-10-07 15:45] AFAgarap commented on #2986
It says `sbin/ldconfig.real: /usr/local/cuda/lib64/libcudnn.so.5 is not a symbolic link`

[2016-10-07 15:49] seeb0h opened #4823 "Tensorflow not using GPU (according to TensorBoard)"
GTX 1070, ubuntu 16.04.

I am retraining [inception](https://github.com/tensorflow/models/tree/master/inception) model on my own data. Everything is fine until the final command :

    bazel-bin/inception/flowers_train \
      --config=cuda \
      --train_dir="${TRAIN_DIR}" \
      --data_dir="${OUTPUT_DIRECTORY}" \
      --pretrained_model_checkpoint_path="${MODEL_PATH}" \
      --fine_tune=True

[2016-10-07 15:57] AFAgarap opened #4825 "Failure to install from source"
So, I have installed TensorFlow 0.10.0 using `pip3`. I have Python 3.5.2 GCC 5.4.0. And am running it on Ubuntu 16.04 LTS (x64) with the following specifications:

<ul>
<li>CPU: Intel Core i5-6300HQ 2.3GHz-3.2GHz</li>
<li>RAM: 8GB DDR3 1600MHz</li>
<li>GPU: NVidia GeForce GTX 960M DDR5 4GB</li>
<li>1 TB Hybrid HD + 8GB Cache</li>
</ul>

When I'm trying to install `tensorflow` from source, i.e. `gi

[2016-10-07 16:02] AFAgarap commented on #4825
I am using `bazel 0.3.1` btw.

[2016-10-07 16:31] steven200796 commented on #3069
@bozhu5 could you comment your process for working with a new clone? Many people, including myself, are having issues with cuda 8.0 and tf.

[2016-10-07 16:51] civilmanxx commented on #4766
i open another one #4808, i guess this one may related to #4808 as well.

[2016-10-07 16:54] #4022 closed

[2016-10-07 16:56] lancerts commented on #17
Hope to see tensorflow in conda soon.

[2016-10-07 17:01] tatatodd commented on #4649
Cool, glad it's working.  Closing this out, but feel free to comment or file a new issue if you run into other problems.

[2016-10-07 17:01] #4649 closed

[2016-10-07 17:03] #4825 closed

[2016-10-07 17:05] tatatodd commented on #4688
Cool, I'll assign myself and update this issue when `scatter_nd` is in.

[2016-10-07 17:14] AFAgarap opened #4827 "Couldn't open CUDA library libcudnn.so. LD_LIBRARY_PATH: :/usr/local/cuda-7.5/lib64"
I have a system where I installed CUDA 7.5 for TensorFlow 0.10.0. The specs of my system is written in #4825 . However, I have a small problem when importing `tensorflow` in my Python 3.5.2

Screenshot of the problem.

![screenshot from 2016-10-08 01-11-11](https://cloud.githubusercontent.com/assets/11130276/19199007/8a0a861c-8cf4-11e6-8155-6a71ff932947.png)

Any help would be great!

[2016-10-07 17:18] gokul-uf commented on #3069
@aselle Is TensorFlow binary for CUDA 8 ready?

[2016-10-07 17:51] #4810 closed

[2016-10-07 18:03] yaroslavvb commented on #4809
Great to know this is being worked on! I think having the raw tracing data retrievable is higher priority than nice visualization -- if I had some way to see send/recv timing in the .pbtxt file I could diagnose things already . BTW, I don't see post-partitioning GraphDefs in RunMetadata when running with `tf.RunOptions.FULL_TRACE`, is there some extra option to turn that on?

[2016-10-07 18:15] Hnri opened #4828 "PIP install OS X, requirement to install"
Today I tried to install TensorFlow on my MacBook pro following the guidelines on [tensorflow.org](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#installing-from-sources).

Operating System: OS X 10.11.6
Pip: 8.1.2 (python 3.5)
My MBP doesn't have an actual GPU so I tried using the CPU only version: [link](https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.11.0rc0-

[2016-10-07 18:17] prb12 commented on #4809
`RunOptions.output_partition_graphs`

[2016-10-07 18:20] tachim commented on #4640
@alphamule thanks, that worked for me. @jiny2001 you want to modify ./tensorflow/contrib/makefile/compile_ios_protobuf.sh. Comment out the block that includes line 106  and then the lines containing `${LIBDIR}/iossim_x86_64/lib/libprotobuf.a` at the bottom (in the `lipo` invocations).

[2016-10-07 18:30] prb12 commented on #4809
Recv ops are async and don't currently get traced into StepStats.  I think that Send ops are traced, but may get filtered out (need to check).

To visualize what's going on, the UI needs to connect the start of the Send op with the *end* of the Recv op (since this is approximately the time taken on the wire).  Note that Recv ops typically fire immediately and wait around on the remote machine unti

[2016-10-07 18:44] steven200796 commented on #3052
@3XX0 where can these images be found

[2016-10-07 18:45] ToxidoLiu opened #4829 "TensorBoard logdir assignment issue"
Dear all,
As instructed I type
`$tensorboard --logdir=/tmp/tensorflowlogs --debug`
but the debug message showing that the tensorboard logdir is still in my working dir.
`INFO:tensorflow:TensorBoard path_to_run is: {'/home/USER_NAME/Documents/workspace/python_dir/tensor_test/=': None}
`
However after I deleted the "=" sign and replace it with a space
`$tensorboard --logdir /tmp/tensorflowlogs --deb

[2016-10-07 18:49] Dawars commented on #3052
It's probably cuda images, not tensorflow

[2016-10-07 18:57] alphamule commented on #4640
You must also make similar changes to ```tensorflow/contrib/makefile/compile_ios_tensorflow.sh``` to avoid building the X86_64 library and then also to avoid linking into the final artifact.

This is perhaps an easier split view of the necessary work-around changes:

https://github.com/alphamule/tensorflow/commit/672da4fef637c5511fd2cf78a4ac8e710d0efbda?diff=split

@arundasan91 I am also of the op

[2016-10-07 19:04] flyfj opened #4830 "tensorboard produces a lot of IOError"
Hi, I'm using the tensorboard comes with 0.11rc.0 and it outputs a lot of warning on IOError for not able to find file or directory, e.g. /path/to/tensorflow/tensorboard/paper-item/all-imports.html. I checked the directory and there are indeed no such files. The board still runs but wonder if we can get rid of the warnings. My python env is anaconda 2.7.

[2016-10-07 19:10] masaladose commented on #4779
Thank you @zheng-xq  and @yaroslavvb for your suggestions.
I wanted to break it down a bit more to understand the steps better.
1. Create new tensors input and output (on host)
2. Load Graph
3. Run session (on GPU)
4. Output tensor with the output is now on the host. This is presumably after it was copied from the GPU and has now been deleted on the GPU

If I chose to do either a "trainable=False"

[2016-10-07 19:28] tatatodd commented on #4807
@mkolod Thanks for filing this issue!

Switching to libjpeg-turbo sounds like a reasonable thing to investigate.  We welcome contributions!

If anyone is going to attempt this, probably the two areas to focus on are:
1. Benchmarks showing the actual performance when used within TensorFlow.
2. A breakdown of the portability tradeoffs between the two libraries.

Adding @prb12 @poxvoculi since they m

[2016-10-07 19:40] tatatodd commented on #4812
@sm4241 Please formulate a more specific question, and ask questions that aren't bugs or feature requests on StackOverflow, as explained in the text above.

[2016-10-07 19:40] #4812 closed

[2016-10-07 19:51] tatatodd commented on #4814
@untom Thanks for filing the issue!  The request sounds reasonable to me.  We welcome contributions!

Maybe @nathansilberman @langmore might know whether there's some existing way to reset streaming metrics; I couldn't come up with anything either.

[2016-10-07 20:02] danbri commented on #254
Looks like https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile wasn't shared here. Non-bazel, makefile-based compilation; there's a "Raspberry Pi" section in the readme, plus https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/pi_examples from @petewarden and @vrv has some nice examples. Main drawback seems to be lack of language bindings (esp. pyth

[2016-10-07 20:02] tatatodd commented on #4815
Thanks for filing the issue @bhack

Seeing as NNEF is the the proposal/design phase, there isn't a specific feature for us to implement at this time.  We may revisit this in the future.

[2016-10-07 20:02] #4815 closed

[2016-10-07 20:21] ToxidoLiu opened #4832 "Android Demo build error"
The error I saw is as follows, don't quit know how this permission error occurs
[code]

[2016-10-07 20:24] mkolod opened #4833 "Slow IDCT used in JPEG decode"
This issue is related to #4807, yet a bit distinct. Regardless of whether libjpeg or libjpeg-turbo is used, I was wondering if there was a reason to choose the slow but more accurate variant of IDCT in libjpeg ([code link](https://github.com/tensorflow/tensorflow/blob/6b1d4fd8090d44d20fdadabf06f1a9b178c3d80c/tensorflow/core/lib/jpeg/jpeg_mem.cc#L143)). For human image viewing pleasure, accuracy ma

[2016-10-07 20:25] tatatodd commented on #4816
@chenghuige As we have limited resources, we can only provide support for specific bugs in TensorFlow.

Feel free to reply with a specific reproducible scenario if you feel there is a bug in TensorFlow that we can fix.  Thanks!

[2016-10-07 20:25] #4816 closed

[2016-10-07 20:27] asimshankar commented on #1318
If anyone does choose to embark on this, please do try to build off [c_api.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h) using the approach outlined in the [how-to](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/language_bindings/index.md)

[2016-10-07 20:29] asimshankar commented on #388
It seems that the Rust bindings are building on top of [c_api.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h) using the approach outlined in the [how-to](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/language_bindings/index.md), which is great.

If you run into concerns with the documentation or the C-API, please do create a separate is

[2016-10-07 20:30] ToxidoLiu commented on #715
I'm facing the similar issue at thread #4832 https://github.com/tensorflow/tensorflow/issues/4832

[2016-10-07 20:31] asimshankar commented on #50
Thanks @Arafatk ! Nice to hear.

From a cursory look, it does seem that this is building ontop of [c_api.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h) using the approach outlined in the [how-to](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/language_bindings/index.md), which is great.

If you have concerns around the C API or the how-

[2016-10-07 20:33] asimshankar commented on #18
FYI: We recently added some documentation in the form of a  [how-to](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/how_tos/language_bindings/index.md) around how TensorFlow intends to support other language bindings.

[2016-10-07 20:36] amyleemc commented on #4401
Fixed.

[2016-10-07 20:36] #4401 closed

[2016-10-07 20:41] tatatodd commented on #4820
@wyx-cornell Thanks for filing this issue!

Looking at the code, I believe you're right, and this is a bug.  Have you run into a real-world problem because of this, or did you just notice via code inspection as well?

Would you like to file a pull request to fix this?  Contributions are welcome!

[2016-10-07 20:48] tatatodd commented on #4821
@jmchen-g might be able to provide details here.

[2016-10-07 20:59] tatatodd commented on #4823
@seeb0h is there a specific problem that you're running into as a result?  Or are you just wondering why the picture seems to show more blue (cpu) than green (gpu)?

I'm not an expert on tensorboard visualization, or the inception model.  But isn't the inception 'tower' where the bulk of the work is being performed?  So even though it's only a small portion of the total picture, it might account f

[2016-10-07 21:34] tatatodd commented on #4827
@AFAgarap For future note, please cut-and-paste text into your issues, rather than attaching screenshots.

Please answer the following question:

---

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

---

Also note that the following two errors seem to indicate a mix-up between cuda 7.5 and 8.0:

`/usr/local/cuda-8.0/targets/x86_64-linux/lib/li

[2016-10-07 21:40] tatatodd commented on #4828
@Hnri that error indicates that the TF_BINARY_URL bash variable is empty.  The pip-install instructions are here:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#pip-installation

Specifically, you're supposed to run these two lines:
[code]

The first line exports the TF_BINARY_URL variable, while the second line does the pip install.

Closing this out, since I believe that sho

[2016-10-07 21:40] #4828 closed

[2016-10-07 21:42] tatatodd commented on #4829
@ToxidoLiu When you say "As instructed I type $tensorboard...", what are you referring to?  Can you provide a link to the documentation that you're following?

That'll help us identify if there is a problem, and fix it up if so.  Thanks!

[2016-10-07 21:47] tatatodd commented on #4830
@flyfj is this causing an actual problem, or is it just a matter of cleanliness?

@danmane might have some thoughts on this.

[2016-10-07 21:49] tatatodd commented on #4832
@ToxidoLiu Please fill out the following information, which was the default template when you clicked on the green "New issue" button.  Also include the exact command-line that you ran, that causes the error.

---

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System:

Installed version of CUDA and cuDN

[2016-10-07 21:56] gwljf opened #4834 "Error: no instance of constructor "Eigen::array<T, n>::array [with T=int, n=2UL]" matches the argument list argument types are: ({...})"
Hi, when I try to build tensowflow from source on a aarch64 16.04 ubuntu, I meet this error. I have been struggling with this for several days already, but still no luck.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

[#2143](https://github.com/tensorflow/tensorflow/issues/2143)
[#1066](https://github.com/tensorflow/tensorflow/issues

[2016-10-07 22:01] tatatodd commented on #4833
@mkolod Thanks for another interesting point.  These are good areas to investigate wrt runtime performance!

I don't know of any studies of setting JDCT_IFAST, either wrt runtime performance or model accuracy.

As before, @prb12 and @poxvoculi might be interested.

[2016-10-07 22:17] tatatodd commented on #4773
My apologies @egorlitvinenko I missed the stacktrace you provided.

But I'm still confused.  What implementation of vgg are you using?  Can you provide a link?

I don't think it's implementation we've provided below, since there is no vgg16 (but there is vgg_16).
https://github.com/tensorflow/models/blob/master/slim/nets/vgg.py

[2016-10-07 22:27] prb12 commented on #4833
Interesting ... when training models for real (i.e. where time-to-accuracy is often more important than step-time), people often deliberately introduce noise and random distortions after decoding the image, so I can't imagine this would hurt!

[2016-10-07 22:34] jiny2001 commented on #4640
Thank you so much @tachim and @alphamule !
Following those changes I could go advance.

[2016-10-07 22:36] aselle commented on #2167
Automatically closing due to lack of recent activity, please reopen when additional information becomes available.

[2016-10-07 22:36] #2167 closed

[2016-10-07 22:37] aselle commented on #2239
This appears to be fixed. Both recommend using nvidia-docker now.

[2016-10-07 22:37] #2239 closed

[2016-10-07 22:40] aselle commented on #3377
@lizallendorf, is your original issue resolved? Did @zheng-xq's suggestions help?

[2016-10-07 22:44] aselle commented on #3546
You could try casting the quantities to float and see if that is supported? Otherwise, please provide the minimal and complete reproducible test case.. Here are some tests to try.

import tensorflow as tf.
a=tf.constant(3)
b=tf.constant(6)
sess=tf.Session()
sess.run(tf.truediv(a,b))
sess.run(tf.div(a,b))
sess.run(tf.truediv(af,bf))
sess.run(tf.div(af,bf))

[2016-10-07 22:47] aselle commented on #3625
@jesseseales, is this still an issue for you?

[2016-10-07 22:50] flyfj commented on #4830
the board itself seems to work (not sure if it's showing the correct thing), but looking at all the warning is just weird. Do other people encounter this issue?

[2016-10-07 22:55] aselle commented on #4613
I don't think this is a very intuitive extension to the API. Why is it considering uniqueness only in some subset of the dimensions (i.e. 1, 2) but not in 0. I'd expect unique to do something like return
[[0,0,0]]. In any case, we are trying to adhere to NumPy as much as possible which does not have this.

[2016-10-07 23:25] BrainSlugs83 commented on #18
Some general porting advice / FYIs regarding C# -- (I've seen some clumsily ported libraries in the past, and they were super awkward to work with, I would hate to see something like that happen to a cool library like TensorFlow!)

C# and .NET have built-in support for a lot of the simple stuff (high speed math, SIMD instructions using the built-in vectors and matrices classes, etc.), so there's n

[2016-10-07 23:27] tatatodd commented on #4757
@chenghuige I'm sorry, my comment about python `string.replace` was irrelevant; I'd misinterpreted your code.

But the problem still remains in your second step `rename-scope.py`.  After that step, the checkpoint `/tmp/new.model` will have a single entry for `new/w`.  That is what you want.  But the MetaGraphDef `/tmp/new.model.meta` will still hold a graph that contains the `old/w` node.  That is

[2016-10-07 23:27] #4757 closed

[2016-10-07 23:32] tatatodd commented on #4750
@chenghuige I see.

I'll close this out for now, and you can comment on this issue or open a new issue if you still have problems.  Thanks!

[2016-10-07 23:32] #4750 closed

[2016-10-08 00:05] ppwwyyxx opened #4836 "ZeroMQ Operator"
Currently (it seems like) the encouraged way to read data is either through the provided reader/producer ops which are not quite flexible, or through python feed_dict which is slower.

Is there a plan to support something like a ZeroMQReaderOp, which keeps reading and deserializing tensors from a zmq socket and produce them? This way we can use any comfortable way to process data perhaps in an ind

[2016-10-08 00:07] tatatodd commented on #4436
@thewintersun I believe you need to use a shared network filesystem, so that the PS can read the checkpoints that were written by the chief.  You do not need to run the chief and ps on the same machine; a shared filesystem is enough.

@concretevitamin will know for sure.

[2016-10-08 00:27] moontails commented on #4066
shouldnt this be marked closed?

[2016-10-08 00:30] tatatodd commented on #4590
@gibiansky Indeed, I think it's possible to implement, but it's a bit involved.

I'm marking this as Contributions welcome for now, since using `tf.reshape` always works as a workaround.

[2016-10-08 00:40] tatatodd commented on #4754
@chenghuige I notice that you have cuda 7.5 and cudnn 4.0.7.  Note that we recommend cuda 7.5 and cudnn 5:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#optional-install-cuda-gpus-on-linux

I'm not sure this is related to your problem, but it's definitely something to try, if possible.

[2016-10-08 00:53] hughperkins commented on #22
(Hmmm, there are structs containing pointers, being sent as kernel parameters:
[code]
Thats ... challenging :-P  (since OpenCL doesnt allow this)
)

[2016-10-08 00:58] tatatodd commented on #4808
@civilmanxx I think the problem is that you're specifying the following two flags to `eval_image_classifier.py`
[code]

I'm suspecting that passing --eval_dir to point to the same directory where your checkpoint is stored is causing the checkpoint to be overwritten.  To confirm this, you can try running `ls -l /home/tensorflow/v1.3sgd_copy` before and after you run `eval_image_classifier.py`, and

[2016-10-08 01:13] tatatodd commented on #4766
@civilmanxx I see.  Ignore the `--input_saver` for now; I'm not sure whether that would help with your problem.

One thing to check is to see whether the checkpoint actually has a value for `InceptionV1/Logits/Conv2d_0c_1x1/biases/RMSProp_1`.  You can use `inspect_checkpoint` to do this.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/inspect_checkpoint.py

You'd do so

[2016-10-08 01:29] thewintersun commented on #4436
@tatatodd  ok

[2016-10-08 01:33] #4673 closed

[2016-10-08 01:36] concretevitamin commented on #4436
Todd is exactly correct (try using HDFS)  :)

On Fri, Oct 7, 2016 at 6:29 PM, thewintersun <notifications@github.com>
wrote:

[2016-10-08 01:39] thewintersun commented on #4436
@concretevitamin
is the tensorflow already support the HDFS?

[2016-10-08 01:42] tatatodd commented on #4834
@gwljf What is the git commit hash?  You can retrieve it by running `git rev-parse HEAD` within the directory with your sources.

Adding @rmlarsen in case he's seen similar errors from Eigen before.

[2016-10-08 01:48] tatatodd commented on #4836
@ppwwyyxx Are you referring to http://zeromq.org/ or something else?

Can you provide more details on the deficiencies of the reader/producer ops?  Thanks!

[2016-10-08 01:54] yuanbyu commented on #4663
This is intended behavior, unfortunately. The identity op returns a tensor that shares the same memory buffer as the variable, so any update to variable will get reflected in the output of the identity op. If you change the identity op to tf.add(x, 0), you should see the "old" value.

[2016-10-08 02:05] AFAgarap commented on #4827
@tatatodd Yes, I do have cuda 8.0 installed. I installed 7.5 when I couldn't get 8.0 to work cor TensorFlow.

[2016-10-08 02:05] ppwwyyxx commented on #4836
Yes, it is one of the most widely used messaging library.
I think the existing reader ops basically all assume that data eventually comes from file system - please correct me if I'm wrong about this.
If data is actually generated on the fly in training, we cannot use reader ops and have to use feed_dict.

[2016-10-08 02:10] lightcatcher commented on #4663
It seems that ``identity`` never had a fully defined specification.

The docs read "Return a tensor with the same shape and contents as the input tensor or value", which seems to indicate a copy. When used across devices, it does cause a copy. I haven't tested it, but I believe if I located ``old_val`` on a GPU, then the output of ``sess.run([old_val, new_val])`` would be ``[0, 1]`` rather than ``

[2016-10-08 02:20] ptillet commented on #22
If it helps, a better version of isaac is out: https://github.com/ptillet/isaac, and provides significant speed-ups over clBLAS and cuBLAS on Maxwell, Pascal and Fiji. Also provides faster (input-aware) kernels than Tensorflow for 1D and 2D reductions.

[2016-10-08 02:43] oxrider opened #4838 "AttributeError during pip install when building from source"
I was trying to build TensorFlow from source, and all went well until I was in the last step
`sudo pip install /tmp/tensorflow-pkg/tensorflow-0.11.0rc0-py2-none-any.whl
`
it crashes with this error message:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/pip/basecommand.py", line 209, in main
    status = self.run(options, args)
  File "/usr/lib/python2.7/dist-packages

[2016-10-08 02:51] gnujimmik commented on #97
I have read all the threads here and got another question. I am currently using

`with tf.Graph().as_default():
    ...
    probability = tf.nn.softmax(logits)
`

In this case how shall I print out or save the probability value in csv format?

Thank you in advance!

[2016-10-08 04:57] shiyemin commented on #4794
@tatatodd This should work, and i will try it latter(some experiments is running).
However, i'm just curious that why everything works fine on "v0.11.0 RC0" but fails on current version.

Thanks very much!

[2016-10-08 05:51] yuanbyu commented on #4663
You are right that if the identity op is on a different device than the variable, its output is a copy. We had many discussions on this and even had some proposals that would give the option of stronger memory semantics.  I am hopeful that we will get this mess fixed soon.

[2016-10-08 06:06] egorlitvinenko commented on #4773
@tatatodd Yes, it is another implementation - http://pastebin.com/tkmXvw4H

[2016-10-08 06:06] AFAgarap commented on #4827
Output of `ls -l /usr/local/cuda-7.5/lib/libcud*`:

[code]

[2016-10-08 06:19] AFAgarap commented on #4827
I already removed CUDA 8.0 by `sudo -r /usr/local/cuda-8.0` but the same error persists.

[2016-10-08 06:43] Hnri commented on #4828
That worked like magic, thank you!

[2016-10-08 07:14] guotong1988 commented on #1702
@mrry @keveman
My solution is , cut the total array into the format.
For example, cut a tensor of shape (2,2) with the total-array data 1,2,3,4 to print [[1,2][3,4]]

Wondering if there exists a method that do the same?

[2016-10-08 07:22] shaolinkhoa opened #4840 "retrain.py input PNG picture"
Hi all,

I try to change the retrain.py from jpeg to png so that I can input the png image. ( replace "jpeg" in the code to "png")

but I got the error **'Requested return_element %r not found in graph_def.' % name)
ValueError: Requested return_element 'DecodePng/contents:0' not found in graph_def.**

How to fix it ?
I try **input_map={'DecodePng:0': decoded_png}** in **tf.import_graph_def** but *

[2016-10-08 07:30] AFAgarap opened #4841 "Problem on building target with GPU support"
Result of `bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer`:

[code]

And yes, I have GPU enabled when I did `sudo ./configure`

[2016-10-08 07:32] AFAgarap commented on #4827
Am good with this already. I reinstalled CUDA 7.5 and cuDNN. I have a new problem though #4841

[2016-10-08 07:32] #4827 closed

[2016-10-08 08:00] chocolate9624 commented on #4078
@MahdiNazemi  I solved this problem by comparing with other machines.  In /use/lib64

libcuda.so -> /usr/lib64/libcuda.so.1
libcuda.so.1 -> /usr/lib64/nvidia/libcuda.so.1

libcuda.so.1 should be linked to   /usr/lib64/nvidia/libcuda.so.1

Good luck!

[2016-10-08 08:06] AFAgarap commented on #4841
I installed `oracle-java8-installer`, and did a `sudo apt-get upgrade bazel`. But it said that my GPU was disabled, so I repeated the `./configure`. But it had an error: `ERROR: /home/darth/tensorflow/tensorflow/contrib/tfprof/tools/tfprof/BUILD:22:1: no such package '@linenoise//': Error cloning repository: Unexpected end of file from server caused by Unexpected end of file from server caused by

[2016-10-08 08:19] qingzew commented on #4759
I have the same problem, also I found that `image_processing.py` must use `0.11`, because of `tf.image.resize_images`, but in `graph_pb2.py` there is no definitions about `NodeDef`

[2016-10-08 08:24] inferrna commented on #22
@hughperkins seems you have more chances to write CUDA compiler for any OpenCL device, rather than CUDA-OpenCL translator.

[2016-10-08 08:39] xuhuapeng opened #4842 "TypeError: The value of a feed cannot be a tf.Tensor object"
Hi, thanks before you see it.
I got an error when i run tensorflow model of cnn.

TypeError: The value of a feed cannot be a tf.Tensor object. Acceptable feed values include Python scalars, strings, lists, or numpy ndarrays.

 This error tell me that I cant feed tensor,but i dont know how to modify my code .Any one can tell me how can i modify my code ?

Here is my code.
https://github.com/xuhuape

[2016-10-08 08:47] guotong1988 commented on #3
@girving I want to contribute to tensorflow java api,
I used to implement the PHP frontend of Apache Spark alone.
Where to start?

[2016-10-08 08:49] guotong1988 commented on #5
@girving Does javacpp solve the problem already?
I want to contribute to tensorflow java api , I prefer implement it like python.

[2016-10-08 09:16] hughperkins commented on #22
@ptillet Interesting.  Looks good.  I cant quite tell what is the architecture.  Is it a layer over the top of a blas? Or is it a blas implementation itself, that sometimes hand off to an alternative blas?   I'm thinking of using CLblast, for the blas. To what extent will isaac work with CLblast?

[2016-10-08 09:36] bhack commented on #4815
I know that it is provisional but my issue was also about if you plan to take part to this process as Kronos member. Can you reply me to this point?

[2016-10-08 09:45] andrenatal commented on #3069
I keep getting:

`ImportError: dlopen(/usr/local/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so, 10): Library not loaded: @rpath/libcudart.7.5.dylib`

Using CUDA 8 drivers on OSX.

[2016-10-08 09:50] hughperkins commented on #22
(seems like a first step could be to get something out of https://bitbucket.org/eigen/eigen/src/97c1ebe6ccc21dc858c1f0ae2ce2e9186f6bac83/unsupported/test/cxx11_tensor_cuda.cu?at=default&fileviewer=file-view-default#cxx11_tensor_cuda.cu running, eg https://bitbucket.org/eigen/eigen/src/97c1ebe6ccc21dc858c1f0ae2ce2e9186f6bac83/unsupported/test/cxx11_tensor_cuda.cu?at=default&fileviewer=file-view-def

[2016-10-08 10:09] faizan0148 commented on #1269
im getting this error in the log
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: org.tensorflow.demo, PID: 6330
                  java.lang.UnsatisfiedLinkError: com.android.tools.fd.runtime.IncrementalClassLoader$DelegateClassLoader[DexPathList[[dex file "/data/data/org.tensorflow.demo/files/instant-run/dex/slice-slice_9-classes.dex", dex file "/data/data/org.tensorflow.demo/fi

[2016-10-08 11:06] faizan0148 commented on #1269
Can someone help me with this error

[2016-10-08 12:51] TimZaman opened #4844 "Tensorboard - Alphabetic ordering of Runs in Graph tab"
In all the tabs in tensorboard, the different runs are neatly ordered. However, this is not the case for the Graph tab. See screenshot.
I'm going crosseyed looking for the correct model each time.
![image](https://cloud.githubusercontent.com/assets/7721540/19213241/c1de13a4-8d6e-11e6-9fcb-68c98f743a9f.png)

[2016-10-08 12:53] zakizhou commented on #4842
Once you have launched a sess, you can use `your_tensor.eval(session=sess)` or `sess.run(your_tensor)` to get you feed tensor into the format of `numpy.array` and then feed it to your placeholder.

[2016-10-08 13:04] guotong1988 commented on #3528
@ebrevdo If this bug haven't been fixed , I want to working on it.

[2016-10-08 13:52] ToxidoLiu commented on #4829
@tatatodd
I check the instruction in the following link, first section
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/README.md#my-tensorboard-isnt-showing-any-data-whats-wrong

Thanks!

[2016-10-08 14:11] ToxidoLiu commented on #4832
@tatatodd
OS & Environment : Ubuntu 16.04 LTS , Android Studio v2.2
tensorflow version : 0.8.0
bazel version: 0.3.2
Android SDK version: 24.0.3
NDK version: 13.0.3315539

The above error occured when I tried to do
'$ bazel build //tensorflow/examples/android:tensorflow_demo'
as instructed here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android

Thanks!

[2016-10-08 14:23] benoitsteiner commented on #4728
Can you try to patch https://github.com/tensorflow/tensorflow/pull/4845 and let me know if that fixes the problem ?

[2016-10-08 14:34] amxineohp commented on #3907
@MohammadSamragh looks here is a [workaround:](http://stackoverflow.com/questions/37001686/using-sparsetensor-as-a-trainable-variable)

[2016-10-08 14:40] ebrevdo commented on #3528
Contributions welcome

On Oct 8, 2016 6:04 AM, "郭同jet" <notifications@github.com> wrote:

[2016-10-08 14:44] marty1885 commented on #22
@hughperkins Maybe OpenCL 2.0 could solve the pointer issue? Since everyone besides Nvidia(AMD, Intel, ARM, Qualcomm) is starting to support OpenCL 2.0. Maybe it's a good solution?

[2016-10-08 15:21] ptillet commented on #22
@hughperkins it's a blas implementation itself. It implements some of the symbols in clblas and cublas headers so no recompilation and code modification. is necessary. I could also implement some of the symbols for clblast.h, since it uses a different header. Some advantages of Isaac are:
- Entirely dynamic, so that it can use either/both CUDA or OpenCL without recompilation.
- Input-aware , it do

[2016-10-08 15:55] yaroslavvb commented on #4815
IMHO standard is hard to make useful at this point since the set of useful neural network primitives is changing so fast. Two years ago people wouldn't have thought about adding GRU unit, a year ago people would miss some neural attention primitives, and next year there may be categorically new ops or ops that unify existing ops redundant. Like with ReLU -> ReLU6 -> ReLUN, then ReLUN with trainabl

[2016-10-08 16:01] bhack commented on #4815
Yes in this field standards will be always behind state of the art. So a standard can evolve on research sediments. If we not start in some way will leave only margin for near metal de facto (closed) standard like cudnn the in some way it is dictacting low level interfaces.

[2016-10-08 16:31] Tcorpion commented on #4770
I have fixed it by "sudo apt-get remove nvidia-340"

[2016-10-08 16:33] #4770 closed

[2016-10-08 16:50] tachim opened #4846 "Integrating Metal API on iOS?"
Any plans to use the Metal API on iOS? E.g. https://developer.apple.com/reference/metalperformanceshaders/mpscnnconvolution.

[2016-10-08 17:26] naibaf7 commented on #22
@marty1885
Not really. AMD went back to 1.2 support on the AMDGPU-PRO drivers. Might be a while until full 2.0 support is widespread. Definitely not a short-term solution there.

[2016-10-08 18:02] yaroslavvb commented on #4815
@zstone

[2016-10-08 18:13] bhack commented on #4815
I see this as an opportunity to start a collective effort for finding a subset of what research is cooking in different burners and what it is "ready" for eating at inference and that impact near metal production (open or closed source). I think that a multi stakeholder effort for finding an agreement to update the standard one or two times at year could be feasible. /cc @fchollet

[2016-10-08 18:27] tatatodd commented on #4794
@shiyemin If your bazel output directory is on NFS, rather than the local filesystem, the build might sometimes work, but very slowly.  So it's possible that things just happened to work previously.

I.e. it's best to ensure your bazel output directory is on the local filesystem, to avoid these problems to begin with, and to have reasonable build times.

I'm closing this out, but feel free to comm

[2016-10-08 18:27] #4794 closed

[2016-10-08 18:44] tatatodd commented on #4773
@egorlitvinenko I recommend you first read about the basic concepts of TensorFlow, in particular the difference between "Building the graph" and "Launching the graph in a session":
https://www.tensorflow.org/versions/r0.11/get_started/basic_usage.html#basic-usage

Here are lines 7 and 8 of your example:
[code]

Note that the `sess.run` call in line 8 is where you actually run the graph.  The `vgg.

[2016-10-08 18:44] #4773 closed

[2016-10-08 18:50] tatatodd commented on #4829
@ToxidoLiu I cannot reproduce your problem.  Can you provide the following information, which is also the default template when you click on the green "New issue" button:

---

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1. A link to the pip package you

[2016-10-08 18:52] tatatodd commented on #4832
@ToxidoLiu Please try the latest version of TensorFlow 0.11, since 0.8 is quite old at this point:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

[2016-10-08 18:53] tatatodd commented on #4829
@ToxidoLiu based on #4832 I'm assuming you're running TensorFlow version 0.8.  Please try the latest version of TensorFlow 0.11, since 0.8 is quite old at this point:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#download-and-setup

[2016-10-08 18:56] seeb0h commented on #4823
Yes, exactly. I was wondering why the picture seems to show more blue (cpu) than green (gpu).

I haven't study that much the inception model and didn't know 'tower' was the main deal. So everything could be perfectly fine.
If it is, sorry for your wasted time...

[2016-10-08 19:01] hughperkins commented on #22
@inferna wrote:

Well... this program https://github.com/hughperkins/cuda-ir-to-opencl/blob/master/test/cuda_sample.cu , which is pure cuda, no opencl in sight, can now be compiled end-to-end, and then run on an Intel GPU:

https://github.com/hughperkins/cuda-ir-to-opencl/tree/bdf720f7a88826343944a74de9dcfb45b8485cf3#put-these-together

Things to note:
- the artifact of compilation is a single exe

[2016-10-08 19:28] tatatodd commented on #4836
@ppwwyyxx I see.

It is true that most of the provided subclasses of [tf.ReaderBase](https://www.tensorflow.org/versions/r0.11/api_docs/python/io_ops.html#ReaderBase) deal with reading data from the filesystem.  However note that the trivial [tf.IdentityReader](https://www.tensorflow.org/versions/r0.11/api_docs/python/io_ops.html#IdentityReader) is an example of a non-filesystem implementation.

A

[2016-10-08 19:36] tachim opened #4847 "input tensor lost in --mode eightbit quantization"
Quantizing with --mode eightbit somehow loses the input tensor, whereas other methods like weights_rounded don't. If I do this:

`python quantize_graph.py --input ~/proc/frozen_inference_optimized.pb --output ~/proc/frozen_inference_optimized_quantized.pb --output_node_names on_logits --mode eightbit`

the following error pops up in the iOS tensorflow runtime:

`Running model failed:Not found: Fee

[2016-10-08 20:08] hughperkins commented on #22
@ptillet  Ok, if I understand correctly:
- Isaac implements certain key blas operations itself, very effectively, for arbitrary geometries?
- Many level 1/2 operations are not handled by Isaac, so there needs to be another blas underneath to handle those?  (for projects which need them; actually, many projects just use gemm, maybe gemv ... )

[2016-10-08 20:36] ptillet commented on #22
- Yes
- I could hack compatibility for a bunch of operations if needed (e.g., forward **MV to GEMV). Complex support will be tricky. Double support is already here but no architecture is tuned for it.

[2016-10-08 22:21] andrewharp commented on #4832
@toxidoliu Have you checked that relevant binaries all have the execute bit set? If you're still having issues after you upgrade TF can you paste the error log running with --verbose_failures?

[2016-10-09 00:39] rxwei commented on #2630
On macOS you can use `greadlink` from homebrew'ed coreutils, which supports `-f`.

[2016-10-09 00:58] zffchen78 commented on #4661
It's work as intended. The seemingly duplicated computation done by tf.to_float(tf.less(noise, probs)) can be eliminated by TF runtime. See example in function_test.py. Look for usage of _OptimizationOptions().

The reasoning behind my design choice is that if the grad_func's signature always gives the implementation the result of the forward function. That typically means the result is needed to

[2016-10-09 00:58] #4661 closed

[2016-10-09 01:01] shaolinkhoa commented on #4840
Hi, I fixed it and it run
[retrain.txt](https://github.com/tensorflow/tensorflow/files/518028/retrain.txt)

would you mind checking it

thank you and regard,
Khoa

[2016-10-09 01:33] butterluo commented on #2655
Any update ??

[2016-10-09 02:13] zffchen78 commented on #1702
This might be easier. tf.Print was created before we have convenient ways to calling python runtime:

`
def Print(inp, data):
  def np_print(*args):
    for x in args:
      print(x)
  return tf.with_dependencies([tf.py_func(np_print, data, [])], inp)

g = tf.Graph()
with g.as_default():
  x = tf.random_uniform([2, 2])
  y = tf.random_uniform([2, 2])
  z = tf.random_uniform([2, 2])
  x = Print(x,

[2016-10-09 02:32] #3710 closed

[2016-10-09 04:26] AFAgarap commented on #4841
@tatatodd Hello?

[2016-10-09 06:51] xuhuapeng commented on #4842
@zakizhou
 I have change the code to \:
` sess.run(train_step,feed_dict={x: images, y_: labels, keep_prob: 0.5})`

But it give the same error as I pointed out before.

Also I had tried to  change the code to
 `sess.run(train_step,feed_dict={x: images.eval(), y_: labels.eval(),keep_prob:0.5})`.
But this will lead the program to execute forever. In my point the `images.eval()` step can't done foreve

[2016-10-09 07:01] gunan commented on #2630
@yifeif has a fix for this. Yifei, could you close this issue if your PR is merged?

[2016-10-09 07:27] aselle commented on #3069
Checked in with @gunan. We are aiming for CUDA 8 binaries in rc1.  @andrenatal, your error is because our binaries are for cuda 7.5, so if you want to use cuda 8 right now you have to build it yoruself.

[2016-10-09 07:29] aselle commented on #3052
Yes, @Dawars is right, @3XX0 is referring to  CUDA nvidia-docker images being available for 8.0. We are looking to release CUDA 8.0 binaries,for rc1. Until then you can build from source.

[2016-10-09 07:48] gunan opened #4848 ""bazel clean" will undo "./configure" when source configured to build for GPU."
### Environment info

Operating System:
ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
cuda 8.0.44, cudnn 5.5

If installed from binary pip package, provide:
No

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`)
   c8d4896e3231c3ac32f174fd0af051867645fbb5
2. The output of `bazel version`
   Build label:

[2016-10-09 07:53] foxik opened #4849 "Method docs contain unclosed verbatim, which causes exceeding verbatim block in HTML docs"
The HTML docs for `tf.constant_initializer` at  https://www.tensorflow.org/versions/master/api_docs/python/state_ops.html#constant_initializer contain unclosed verbatim block, which continues past the method and contains several following methods -- see for example the `tf.random_normal_initializer`.

I am not much familiar with the process of documentation generation, but my guess is that the ver

[2016-10-09 07:53] WenguiZhou opened #4851 "missing dependency declarations for the following files included by 'external/protobuf/python/google/protobuf/internal/api_implementation.cc'"
when I install the syntaxnet。I encounter with the error"missing dependency declarations". what below is the details.
ERROR: /vol6/home/para11/.cache/bazel/_bazel_para11/05959d3334ad62caf308f1ce677a2caf/external/protobuf/BUILD:516:1: undeclared inclusion(s) in rule '@protobuf//:internal/_api_implementation.so':
this rule is missing dependency declarations for the following files included by 'extern

[2016-10-09 08:07] gunan commented on #4365
Saw this issue on 14.04
Trying to reproduce by breaking my environment, will try to come up with detailed instructions.

[2016-10-09 08:10] DaveyTao opened #4852 "tensorflow.python.framework.errors.PermissionDeniedError: File isn't open for reading"
`
File "./encoder.py", line 103, in <module>
 tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 30, in run
    sys.exit(main(sys.argv[:1] + flags_passthrough))
  File "./encoder.py", line 99, in main
    np.savez_compressed(code_file, shape=int_codes.shape, codes=export)
  File "/usr/local/lib/python2.7/dist-packages/numpy/lib/npyio.py", line 600,

[2016-10-09 08:10] gunan commented on #3069
@yifeif will keep track of the release of cuda8 binaries.
Yifei, could you close this issue once cuda8 binaries are released?

[2016-10-09 08:58] gokul-uf commented on #3069
@aselle @gunan What's the ETA of rc1?

[2016-10-09 10:12] liaha opened #4853 "Windows version of Tensorflow won't compile"
@mrry
Thank you for your great work for the windows version of tensorflow. I've tried to build tensorflow on windows based on your tensorflow CMake build guide.  The only difference is that I didn't use anaconda.

I've tried to build the tf_tutorials_example_trainer target. However it seems to depend on gif and png target, which are not able to get built.

For the gif target, it seems to be invoki

[2016-10-09 10:17] magicwifi commented on #4680
https://github.com/tensorflow/tensorflow/compare/master...magicwifi:patch-1

@tusharsoni08

[2016-10-09 10:43] chenghuige opened #4854 "Can we ignore 'tensorflow.python.framework.errors.DataLossError: corrupted record at 0'"
I will face this problem when reading tf records on hdfs, may be running one hour or two hours, then my program will crash down due to this assertion fail from tensorflow c++ code.
Can we just ignore this, ie. ignore the batch with DataLossErro, so can continue training next batch without having to stop the program.

[2016-10-09 10:45] chenghuige commented on #4757
Very clear explanation, thanks! @tatatodd

[2016-10-09 11:06] bhack opened #4855 "DeepDream tutorial Unsupervised"
Is it possibile to have a unsupervised version of the DeepDream tutorial?
And what kind of solution could be adopted? VAE? DCGAN?
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/tutorials/deepdream

[2016-10-09 12:58] zakizhou commented on #4842
@xuhuapeng
The `cnn_1.py` in your git repo is modified from the original file in the official tutorial of  TF right?  If you have a close look at its original code, you will find no `placeholder`s in it which means the input of the model is the second way(`readings from files` not `feeding`) according to  [this](https://www.tensorflow.org/versions/r0.11/how_tos/reading_data/index.html), as a resul

[2016-10-09 13:40] stepseazy opened #4856 "TensorBoard charts blank on Firefox"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-10-09 15:42] gunan commented on #3069
It depends on the number of issues we see during the release, but at most 1
week.

On Oct 9, 2016 1:59 AM, "Gokula Krishnan" <notifications@github.com> wrote:

[2016-10-09 15:54] ZijiaLewisLu opened #4857 "tf.extract_image_patches Trying stride only on row"
Hi, Tried to use tf.extract_image_patche() of a tensor [N, sequence_length, embeding_size, 1] to do n-gram with patch size [1,sequence_length-#gram+1, embedding_size, 1]. Thus I set the stride to be [1,1,0,1]. However this leds to the error: `ZeroDivisionError: integer division or modulo by zero`

Is there a way to only stride on one dim and avoid this error?

below is the skeleton of my code and

[2016-10-09 17:01] wwxFromTju commented on #4626
so, How to solve? I also have this problem? now, I run the mac os and Xcode8, cuda 7.5

[2016-10-09 17:18] danbri commented on #4680
I've also just encountered this on a Raspberry Pi 3.

After success with https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile hit the issue as above when trying to make as specified in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/pi_examples

[2016-10-09 17:23] yaroslavvb commented on #2630
@yifeif you can have GitHub automatically reference commit/close issue if you [include](https://help.github.com/articles/closing-issues-via-commit-messages/) the following phrase anywhere in public part of CL description: closes #2630

[2016-10-09 17:24] danbri commented on #4680
Ok I've just tried the makefile fix @magicwifi [suggested](https://github.com/tensorflow/tensorflow/compare/master...magicwifi:patch-1) above (but in pi_examples/_label_image rather than /camera, i.e. the reference to "eigen-latest/" becomes "eigen/".

I now have a working binary in tensorflow/contrib/pi_examples/label_image/gen/bin/label_image :)

[2016-10-09 17:34] wwxFromTju opened #4858 "macbook pro GPU version, successfully opened CUDA library, but not found the GPU"
Hi ALL:
I am a chinese student, so may be English is bas. Sorry.
now I use the tensorflow GPU version. I user the pip to down the python3 GPU version, and down the all about the GPU file.
But i can successfully opened CUDA library, but not found the GPU, like this:
`In [1]: import tensorflow as tf
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.dylib loca

[2016-10-09 17:37] woodshop opened #4859 "incorrect gradient for complex matmul"
The `MatMul` kernel is registered for `complex64` and `complex128` on CPU and GPU. However the gradient is incorrect. This issue has not been caught because there is no test for a complex-valued `MatMul` gradient in `tensorflow\python\kernel_tests\matmul_op_test.py`.

When computing the complex gradient we need to apply the conjugate of the input. Several cwise gradient ops in TF were ignoring thi

[2016-10-09 17:48] tatatodd commented on #4841
@AFAgarap This looks similar to #4105

Based on that issue, you might try the following:
[code]

If that doesn't work, please cut-and-paste the result of the above commands, including the exact values you entered for the `./configure` call.  Also include the below information:

---

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /pa

[2016-10-09 17:57] tatatodd commented on #4626
@wwxFromTju Have you followed the instructions here:
https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#prepare-environment-for-mac-os-x

Note the following section:

---

If you want to compile tensorflow and have the XCode 7.3 installed, note that Xcode 7.3 is not yet compatible with CUDA 7.5. You will need to download Xcode 7.2 and select it as your default:
[code]

---

I am n

[2016-10-09 18:16] yifeif commented on #2630
good to know @yaroslavvb :). The PR was merged a few days back. I linked this issue from it. Closing.

[2016-10-09 18:16] #2630 closed

[2016-10-09 18:36] claytantor opened #4861 "Example mnist_rnn Not Working with Docker Image"
# Issue: Example mnist_rnn does run on docker image.

[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

An example in the code base does not work with the docker image. It is the opinion of the filer that all examples should run without any need for configuration on the docker image because the project has control over what is in

[2016-10-09 18:43] hiram94 commented on #42
When I followed @sarahharun 's instruction and came to step 2, I was warned the vdocker was unable to start, so I deleted the it from Oracle VM VirtualBoxI and unstalled the Docker Toolbox version 1.12.0, Cit version 2.9.0 and Oracle VM VirtualBox 5.0.24, because I thought this could clean the installation history and I will be able to install docker again. Then I thought @netinstructions 's instr

[2016-10-09 18:46] gwljf commented on #851
@dwightcrow , I tried your solution, and it works on TX1, thank you. And the version 0.11.0rc0 can be built with bazel with version of 0.3.2

[2016-10-09 18:49] gwljf commented on #4834
@tatatodd @benoitsteiner
I have solved this. Thank you.

For any one who face this problem, please this [#851](https://github.com/tensorflow/tensorflow/issues/851)

[2016-10-09 19:13] dwightcrow commented on #851
That's fantastic. Bazel 0.3.2 builds fairly easily on TX1?

[2016-10-09 20:01] peterkfm opened #4863 "iOS error: No OpKernel was registered to support Op 'Mul' with these attrs [T=DT_INT32]"
I have some issues performing a multiplication of int32 data on iOS. Session::Run fails with the error shown below, indicating that this particular multiplication op is not supported. I've already checked tf_op_files.txt, and 'tensorflow/core/kernels/cwise_op_mul.cc' is there, obviously, and it looks to like the int32 version should also get registered there.

Do I need to take any extra steps to

[2016-10-09 21:10] mrry commented on #4853
We've only successfully built TensorFlow with Anaconda installed so far. It includes a version of zlib, on which libpng depends. Can you confirm whether the build works if you install zlib on your system? (You could do this, for example, by installing Anaconda.)

We should make it possible to build without depending on an external version of zlib. I'll investigate a quick fix.

[2016-10-09 21:18] yaroslavvb commented on #4858
If you can't run deviceQuery, then the problem is not with TensorFlow. Perhaps your computer does not have a CUDA-capable GPU

[2016-10-09 21:34] yaroslavvb commented on #3377
BTW, official MNIST examples on the website Howto are not tuned. /mnist/fully_connected_feed.py using feed_dict runs is 10x faster than other 3 examples which use queues, [due to how](http://stackoverflow.com/a/39842628/419116) Python schedules pre-fetching threads

[2016-10-09 22:32] eric-czech opened #4865 "GraphDef duplication in event log"
This is a little difficult to explain, and I'm guessing someone has to have run into it before, but it would be nice to at least get an explanation for what's going on here.

The issue I'm finding is that when you specify a `model_dir` argument for any tflearn model, the first time you fit that model, the tensorboard warning like the following will always appear:

`WARNING:tensorflow:Found more th

[2016-10-09 23:55] wwxFromTju commented on #4858
@yaroslavvb
My macbook pro 2014 have NVIDIA 750M, and I find the mac GPU course to download the library.
so how to solve? I don't know. THX

[2016-10-10 00:15] wwxFromTju commented on #4858
OK. I solve, is easy:NVIDIA CUDA 7.5 FOR MAC OS X RELEASE
download this, then OK!!!!!!
http://www.nvidia.com/object/macosx-cuda-7.5.30-driver.html

@yaroslavvb THX!

[2016-10-10 00:22] hughperkins commented on #22
The Eigen unit test above passes now, on OpenCL.

ie, this script https://github.com/hughperkins/cuda-ir-to-opencl/blob/a8f6aa55eb678e534cc7d17a3db26c6b8762d683/test/eigen/test_cuda_elementwise_small.cu , which uses Eigen to do per-element add, looks as follows when run on an Intel GPU, using OpenCL:

![eigen_perelementadd_intelgpu_opencl](https://cloud.githubusercontent.com/assets/123560/19224903

[2016-10-10 00:33] xuhuapeng commented on #4842
yeah.I will try you suggestion.
One more question,please be patient with me. Why  I modify my code to  `sess.run(train_step,feed_dict={x: images.eval(), y_: labels.eval(),keep_prob:0.5})`. the program won't be stop? Doing the `.eval()` operation forever?

[2016-10-10 01:34] bc-lee commented on #4674
Well, neither [r0.11](https://github.com/tensorflow/tensorflow/tree/r0.11) and [master](https://github.com/tensorflow/tensorflow/tree/master) branches won't work. IIRC, this `CUDA_VISIBLE_DEVICES` variable works in r0.8 with some old CUDA and cuDNN. Do I need to bisect commits?

[2016-10-10 02:11] MahdiNazemi commented on #4078
Thanks a lot @chocolate9624.

Finally, I was able to solve the issue. It looks like none of the drivers that are available on Debian (jessie, jessie-backports, and stretch) can make the GPU work (not my Quadro nor my Tesla). I used the driver that is available on Nvidia's website and it solved the problem.

[2016-10-10 02:40] DjangoPeng opened #4867 "[0.11]Can't bind GPU with tf.device()"
I installed the latest TF v0.11  and found that it can't bind specific GPU with `tf.device("gpu:1")`.  It always applies all GPU resource when I run `tf.Session()`, which is unreasonable.
For example:
[code]
GPU resource:
[code]

But when I switch to TF v0.9, everything is fine.
GPU resource:
[code]

I think it's a bug and caused by the update of `tf.Session()`.
I hope I can fix it ASAP

[2016-10-10 02:57] developeralgo8888 commented on #2453
Answer the damn question ? Hello LOL
" I made it ,just copy the whole git code to the same folder with dockerfile. "   what the BLIP does that mean

[2016-10-10 03:46] liaha commented on #4853
Thank you for the reply @mrry.  Actually I've resolved the ZLIB dependency by downloading a zlib for windows package online. The errors I'm getting previously occurs when there is no dependenciy errors.

I've tried Anaconda3, and the png target is now successfully built. Anaconda3 has zlib 1.2.8, while the zlib for windows package I got is 1.2.3. I think that version mismatch caused unresolved ext

[2016-10-10 03:51] zakizhou commented on #4842
see [this](https://www.tensorflow.org/versions/r0.11/how_tos/reading_data/index.html) Creating threads to prefetch using QueueRunner objects section.

You delete the  `tf.train.start_queue_runners` ,`coord` and `theads`  from the training code which will start the input queue that the `reader`  need to read from, so you `reader` will hang there until the queue starts.

[2016-10-10 04:29] zszhong commented on #4674
in r0.10, using `export CUDA_VISIBLE_DEVICES="2"`, it works ok.

[2016-10-10 04:40] vrv commented on #4674
@zszhong I think the complaint is that the gpu pip wheel does not work if you don't have the GPU libraries installed.  CUDA_VISIBLE_DEVICES is not interpreted at all by TensorFlow code, it only affects how the driver makes the devices available to the process.

I don't remember it ever being the case that you could run the GPU pip build on a system without the GPU libraries installed.  It must be

[2016-10-10 05:24] zszhong commented on #4674
@vrv, sorry that I'm not familiar with the internal tensorflow code, so I can't find the reasons from the in-depth viewpoint. I didn't use the official wheel files, and I always build and install tensorflow from source. In the branch of `r0.10`,  it works OK. The environment is `RedHat 64bit, GCC 4.8.4, Python 2.7, CUDA 7.0 with CuDNN 4.0`. Yes, It is probably related to the `CUDA 8.0`, I didn't u

[2016-10-10 06:02] yhg0112 commented on #4749
@haosdent i absolutely don't mind. please create a pull request for this.

[2016-10-10 06:20] haosdent commented on #4749
@yhg0112 thank you, create a pr at https://github.com/tensorflow/tensorflow/pull/4870

[2016-10-10 07:18] damienmg commented on #4848
I don't have the code of cuda_configure in my HEAD but it sounds like the repository itself is invalidated by bazel clean which should not happens, @kchodorow might have an idea on why a simple clean would invalidate a remote repository (maybe a bug in the skylark remote repositories).

Side-note: we should fix the failure message that fail at the wrong step (i.e. not have that stack trace, why do

[2016-10-10 08:32] seeb0h commented on #4823
Ok. Still something weird.
Running `watch nvidia-smi` gives :
[code]

While top gives :
[code]

GPU seems ignored...

[2016-10-10 09:04] yangerkun opened #4871 "Can I back-propagate the already calculated gradients w.r.t the outputs to all the parameters, and then apply the gradients to the whole network?"
I can get the gradients w.r.t the outputs of the network(calculated by python or other ways), Can I just back-propagate the gradients w.r.t the outputs to all the parameters, and then apply them to the whole network?

[2016-10-10 09:40] xinqiu commented on #2986
There is a easy way.
[code]

[2016-10-10 10:30] mrry commented on #4853
This is strange. The CMake [external project definition](https://github.com/tensorflow/tensorflow/blob/df871edcff2faf643975b9863100ed41b6da9c3f/tensorflow/contrib/cmake/external/gif.cmake) for GIFLIB should only attempt to run when the CMake variable `WIN32` is false. The only supported build type on Windows (currently) is Visual Studio 14.0 projects, and this includes the GIFLIB dependency.

Is i

[2016-10-10 12:30] xuhuapeng commented on #4842
Thanks very much.
 I had saw the link you  gave me, but there are lots thing I can't understand due to my poor English,. Maybe I should see it again.  👍 @zakizhou

[2016-10-10 12:32] liaha commented on #4853
Thank you very much @mrry. I can now successfully build tensorflow on windows. The problem is that I didn't compile with the master branch, instead I tried on r0.11 branch. Now it is resolved.

[2016-10-10 12:47] hughperkins commented on #22
@inferna wrote:

Well... to be fair to your assertion, the following innocuous-looking-ish code:
[code]
... compiles ok on nvidia, but fails to compile on beignet commit 2c1f2468b:
[code]
Not sure what to do about that.  Seems like my code doesnt violate any obvious OpenCL rules I can think of?  (this code is a *hugely simplified* version of the current results of running the eigen `test_cuda_null

[2016-10-10 12:58] tusharsoni08 commented on #4680
@magicwifi  After tried your I've ` undefined reference to `google::protobuf::` related lots of errors.

[2016-10-10 13:42] giancds commented on #2158
Hey @ludimagister, thanks for the reply and sorry for the delay.

Some things came up and I was away of all this discussions. I think you are right, does not worth the effort given what we have in this thread. Sorry for the delay but I think we can close the the issue OK for you.

Thanks again.

[2016-10-10 13:59] zakizhou commented on #4842
You are welcome,byt,咱们中国人还是用中文交流比较好> < @xuhuapeng

[2016-10-10 14:43] dsmilkov commented on #4823
@seeb0h tower_0 is the namespace that holds the GPU ops. If you expand it, you will probably see that tower_0 contains conv_0,1,2... nodes as well which correspond to the actual convolution operations, whereas the external conv_0,1,2... nodes correspond to variables holding the weights of that convolution and variables are always allocated to the CPU.

I will close this bug for now, but feel free

[2016-10-10 14:43] #4823 closed

[2016-10-10 14:54] spate141 commented on #3008
[code]

Any solution yet ?

[2016-10-10 14:59] dsl10brc opened #4875 "Error for Mac El-capitan while installing tensorflow GPU version on CUDA 8.0"
Below is the error I am getting when I import tensorflow:

import tensorflow
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/d/anaconda/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/Users/d/anaconda/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 49, in <module>
    fro

[2016-10-10 15:14] seeb0h commented on #4823
Ok. And I was running tensorflow from a docker image. It seems `watch nvidia-smi` is not reliable in this case.

So everything works flawlessly

[2016-10-10 15:21] ohadle commented on #4875
I'm a total TF newbie (literally running first net now), but AFAICT:
The stable version 0.11rc0 doesn't support CUDA 8. Next version (0.11rc1, <= 1 week) should solve this.

Refs:
https://github.com/tensorflow/tensorflow/issues/3069#issuecomment-252493740
https://github.com/tensorflow/tensorflow/issues/3052#issuecomment-252470239
https://github.com/tensorflow/tensorflow/issues/2559

[2016-10-10 15:30] vrv commented on #4674
Indeed, our current answer is: only install the GPU wheel on a machine that has the GPU libraries installed, otherwise install the CPU wheel.

However, it might be nice sometimes for people to be able to install one wheel that worked everywhere (even if it was more bloated) -- this issue is just tracking that feature request.  It's not something we're highly likely to work on any time soon given t

[2016-10-10 15:47] hughperkins opened #4876 "Eigen::TensorEvaluator `m_impl` is private, compiling cxx11_tensor_cuda.cu"
i know this is a bug for Eigen repo, but the owner of the file seems to be Benoit Steiner, so tentatively thinking here might be a good place to file it?

If I build cxx11_tensor_cuda.cu using standard eigen build process, it does in fact compile.

However, if I build using clang, I get the following error:

[code]

I'm building as follows:
- (optional) comment out lines 15-17, to disable fp16
- r

[2016-10-10 16:10] martinwicke commented on #4078
That's good to know. Is it an issue with the driver version, or about where they install to?

[2016-10-10 16:17] ohadle opened #4877 "fully_connected() doesn't reshape input"
[According to the docs](https://www.tensorflow.org/versions/r0.11/api_docs/python/contrib.layers.html#fully_connected),  if `inputs`' rank is >2 fully_connected() flattens it. However, running with `inputs.shape = (None, m, n)` I get:
[code]
And when I run with `inputs.shape = (None, m*n)` everything is fine.

On `0.11rc0`.

[2016-10-10 16:30] vrv commented on #4359
Sorry, was on vacation for the past week -- just answered.

[2016-10-10 16:38] inferrna commented on #22
@hughperkins

Yes, plainly passing any __global structure (like array or struct) containing pointers is incorrect just because those pointers can point to memory of another device (OpenCL supports multi-device paradigm where one device can't access memory of another). But it seems to be possible to overcome on IR level, w/o intermediate translation to OpenCL code - that's what I assumed :)

[2016-10-10 17:13] hughperkins commented on #22
Ah-hah!  Yes, you are right.  So, initially I looked at this and thought "what? but the error occurs after arriving at the kernel. Why should this matter?"

But then I googled and found http://www.informit.com/articles/article.aspx?p=1732873&seqNum=5 :

"The struct type can contain pointers only if the struct or pointer to a struct is used as an argument type to a non-kernel function or declared a

[2016-10-10 17:45] MahdiNazemi commented on #4078
I installed 3 different versions, i.e. 340.96, 352.79, and 367.44, but none of them worked. I don't think the problem is with the driver version, but I'm not sure if it's about where they are installed or not.

[2016-10-10 17:48] tatatodd commented on #4834
@gwljf glad to hear it!  Closing this out, but feel free to comment or file a new issue if you run into other problems.

[2016-10-10 17:48] #4834 closed

[2016-10-10 17:59] aselle commented on #4876
@benoitsteiner could you take a look

[2016-10-10 18:27] #2158 closed

[2016-10-10 18:41] #4782 closed

[2016-10-10 18:46] benoitsteiner commented on #4876
The OuterReduction kernel is declared as a friend on the evaluator, and as such has access to the private members of the evaluator. nvcc has no problem handling this, but somehow clang doesn't seem to be able to honor with friendship with cuda kernel code

[2016-10-10 19:13] mrry commented on #4853
Ah yes, Windows support is not available on the `r0.11` branch. Thanks for clarifying!

[2016-10-10 19:13] #4853 closed

[2016-10-10 19:16] daj opened #4880 "Needed to install `pbr` and `funcsigs`"
I was following the [Pip Installation](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#pip-installation) instructions.  When I ran the [Test the TensorFlow installation](https://www.tensorflow.org/versions/r0.11/get_started/os_setup.html#test-the-tensorflow-installation) steps, I hit two errors, listed below.

### The Fix!
To fix, I ran `pip install pbr funcsigs`, then the test

[2016-10-10 20:02] jhseu commented on #2655
No update. We'll publish Mesos/Kubernetes examples fairly soon and then consider YARN next.

@JunpingDu I'll follow up with you through e-mail.

[2016-10-10 20:19] hughperkins commented on #4876
Ah, fair enough.  Will raise an issue with `clang`.  Thanks!

[2016-10-10 20:19] #4876 closed

[2016-10-10 20:28] jkiske commented on #4742
:+1:

[2016-10-10 20:33] chenghuige opened #4881 "Multi gpu cifa10 example, putting ops outside of towerloss to cpu actually hurt performance"
From cifa 10 example tutorial  in train.py  "with tf.Graph().as_default(), tf.device('/cpu:0'):" putting all the ops but in tower loss to cpu.
as in the tutorial [cifa 10 tutorial](https://www.tensorflow.org/versions/r0.11/tutorials/deep_cnn/index.html#cifar-10-model)
"This setup requires that all GPUs share the model parameters. A well-known fact is that transferring data to and from GPUs is quit

[2016-10-10 20:35] yaroslavvb commented on #4881
I've noticed same thing on cirrascale GPU machines putting parameters on gpu:0 and using gpu->gpu transfer was a bit faster. I suppose this depends on particular details of hardware -- if you don't have p2p connectivity between your video cards then keeping parameters on CPU:0 gives faster model.

[2016-10-10 20:38] chenghuige commented on #4881
@yaroslavvb  I see, thanks for your quick reply. I'm not sure p2p connetctivity, testing on 4 K40 gpu cards.
Another thing can you help me look at this ?
I find average_gradients(tower_grads) costing lots of time.
[def average_gradients(tower_grads)](url)

[2016-10-10 20:41] benoitsteiner commented on #4728
@tripiana https://github.com/tensorflow/tensorflow/pull/4845 is now merged. Does that fix your problem ?

[2016-10-10 20:42] yaroslavvb commented on #4881
It's printed when you start TensorFlow. So if you have 8 GPU's that can all talk to each other, you'll see something like this in your console.

[code]

I'm not sure this would qualify as a bug, a person who doesn't have fancy motherboard where GPU->GPU transfers have to go through QPI link might still benefit from pinning parameters on CPU:0, such optimizations are hardware dependent

[2016-10-10 20:43] jtyberg commented on #2973
I'm hitting this issue as well.  My use case is the same as @jared-mess, where I train the model on machine A, download the model directory to a machine B, and try to restore the model from the model directory on B.  I'm on `0.10.0`.

[2016-10-10 20:44] chenghuige commented on #4881
@yaroslavvb
I tensorflow/core/common_runtime/gpu/gpu_init.cc:126] DMA: 0 1 2 3
I tensorflow/core/common_runtime/gpu/gpu_init.cc:136] 0:   Y Y N N
I tensorflow/core/common_runtime/gpu/gpu_init.cc:136] 1:   Y Y N N
I tensorflow/core/common_runtime/gpu/gpu_init.cc:136] 2:   N N Y Y
I tensorflow/core/common_runtime/gpu/gpu_init.cc:136] 3:   N N Y Y

here is mine, so this tells why in my exp, 3 gpu per

[2016-10-10 20:51] frenchwr opened #4882 "S_IREAD and S_IWRITE errors from gif_archive in CentOS 6.8 Build"
Hi there,

I've been attempting off and on for the last 1-2 weeks to get Tensorflow to build on CentOS 6.8. I've spent a lot of time reading through old issues and piecing/hacking together suggestions from developers and other users on how to configure the build. I'm using a hand-built version of GCC (v. 4.9.3) in a non-default location with the system version of binutils (more info below).

I've

[2016-10-10 20:57] aselle commented on #2973
@concretevitamin could you take a look.

[2016-10-10 21:03] danmane commented on #4830
@flyfj Can you copy+paste in the exact IOErrors you're getting?

[2016-10-10 21:26] aselle commented on #4882
Try editing `external/gif_archive/egif_lib.c` and adding `#include <fcntl.h>`

[2016-10-10 21:56] frenchwr commented on #4882
Looks like it's already there:

[code]

```/usr/include/fcntl.h``` exists on my system; however, `S_IREAD` and `S_IWRITE` are both prepended with two underscores:

[code]

[2016-10-10 21:58] frenchwr commented on #4882
Some additional data in case it's helpful:

[code]

[2016-10-10 22:03] zergylord opened #4883 "Ability to directly set the gradient of a node for use in backpropagation."
Imagine a tiny network defined as follows, where linear is a typical helper function defining TensorFlow variables for a weight matrix and activation function:

`final_layer = linear(linear(_input,10,tf.nn.tanh),20)`

Normally this would be optimized via gradient descent on a loss:

`loss = tf.reduce_sum(tf.square(final_layer - _target))
train_step = tf.train.AdamOptimizer().minimmize(loss)`

But

[2016-10-10 22:08] aselle commented on #4882
You could try
[code]
Also take a look at this StackOverflow related answer http://stackoverflow.com/questions/39855672/tensorflow-how-to-compile-libtensorflow-cc-so-for-android

[2016-10-10 22:30] yaroslavvb commented on #4883
You can use `stop_gradient` trick to replace gradient of any node with
something else
http://stackoverflow.com/questions/36456436/how-can-i-define-only-the-gradient-for-a-tensorflow-subgraph/36480182#36480182

On Mon, Oct 10, 2016 at 3:03 PM, zergylord <notifications@github.com> wrote:

[2016-10-10 22:35] frenchwr commented on #4882
Okay, getting closer. It looks like these are defined in `/usr/include/sys/stat.h` (which is included in `external/gif_archive/egif_lib.c`) but inside a block that _should_ evaluate to true:

[code]

To test I wrote a short program and built and ran it in my same environment that I'm trying to build Tensorflow in:

[code]

[code]

I mentioned that SO thread in my original post. I tried the propose

[2016-10-10 23:11] frenchwr commented on #4882
In addition, I'm able to pull in S_IREAD and S_IWRITE from a simple toy example:

[code]
[code]

Any idea why Tensorflow might behave differently?

[2016-10-10 23:36] aselle commented on #4882
Make sure you  are matching build options that bazel uses (use the debug option that prints the exact gcc command). For example, you aren't setting the c compiler to use c99.

[2016-10-10 23:51] laventura commented on #3069
Hi @andrenatal --

I get the same error [ ImportError: dlopen(/usr/local/lib/python2.7/site-packages/tensorflow/python/_pywrap_tensorflow.so, 10): Library not loaded: @rpath/libcudart.7.5.dylib ]  on my MacbookPro (OS X 10.11.6) with
-- TensorFlow 0.10
-- Python 2.7.12

I installed CUDA 8.0.

Have you been able to make CUDA 8 and Tensor Flow work??

Thanks,
Atul
===============
Here are the result

[2016-10-10 23:54] frenchwr commented on #4882
Good call!

[code]
However, the toy example compiles fine if I remove the c99 option.

I'm now attempting to build the pip wheel using the following command (stripped off the extra arguments that previous users indicated would prevent certain error messages):

[code]

I'll post an update tomorrow.

[2016-10-11 00:07] yaroslavvb commented on #3069
@laventura 11rc0 and before are only for CUDA 7.5, you have to wait for later version or build from source if you want CUDA 8

[2016-10-11 00:11] aselle commented on #4577
Automatically closing due to lack of recent activity. Please reopen when additional information becomes available. Thanks!

[2016-10-11 00:11] #4577 closed

[2016-10-11 00:11] aselle commented on #4592
Automatically closing due to lack of recent activity. Please reopen when additional information becomes available. Thanks!

[2016-10-11 00:11] #4592 closed

[2016-10-11 00:11] aselle commented on #4530
Automatically closing due to lack of recent activity. Please reopen when additional information becomes available. Thanks!

[2016-10-11 00:11] #4530 closed

[2016-10-11 00:24] laventura commented on #3991
hi @pkmital  - I came across your solution.

I'm running in the same problems.
``Library not loaded: @rpath/libcudart.7.5.dylib

Is your solution for CUDA-8.0 or for CUDA-7.5?

Thanks!

[2016-10-11 00:38] bc-lee commented on #4674
@zszhong I use TF by building it from source, not from official wheel(which is linked against CUDA 7.5 / cuDNN 5).

@vrv Understood. Sometimes I'd like to run TF without any GPU use along with GPU-using TF running. Installing two versions of TF (using virtualenv) might help, but I was curious if I can disable GPU feature completely using `CUDA_VISIBLE_DEVICES`. This issue isn't crutial issues than

[2016-10-11 01:11] yaroslavvb commented on #3991
CUDA-7.5 because TF official binaries (11rc0 or before) don't suport CUDA 8

[2016-10-11 01:38] xiaop1987 commented on #4436
@thewintersun hdfs has been supported by the latest version(r0.11) of tf. Check this [How to run tensorflow on hadoop](https://www.tensorflow.org/versions/r0.11/how_tos/hadoop/index.html#how-to-run-tensorflow-on-hadoop) plz.

[2016-10-11 01:48] tatatodd commented on #4436
@thewintersun I hope this answers your question.  I'm closing this out, but feel free to comment on this issue or file a new issue if you still run into problems.  Thanks!

[2016-10-11 01:48] #4436 closed

[2016-10-11 03:09] guotong1988 commented on #4746
I want to work on this issue

[2016-10-11 03:11] guotong1988 commented on #3528
It seems suiyuan2009 fixed it.

[2016-10-11 03:20] hx173149 opened #4885 "After some iterations my accuracy has decrease to 0, but the loss and cross entropy are not nan."
Hello
I can't understand this question:
I can trained my net in a correct result in beginning but after about 4K iterations ,the accuracy suddenly decrease to zero, and the loss and cross entropy suddenly increased to a high value, it is like this curves:
train accuracy:
![image](https://cloud.githubusercontent.com/assets/5306116/19257677/2f14d1ec-8fa4-11e6-9f31-50255f2cef0e.png)
val accuracy:
![i

[2016-10-11 03:25] ppwwyyxx opened #4886 "Gradient of tf.reduce_max and tf.nn.max_pool don't agree with each other, and theano"
[code]
Bug or feature? 😦 Although as subgradient they all seem to make sense, but is there a reason to justify the difference of reduce_max and max_pool?

I saw the [comment](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_grad.py#L71) for reduce_max and it seems like the first one is feature.

[2016-10-11 03:49] cancan101 opened #4887 "resnet model in tf slim does not take is_training param"
Compare the [resnet_v2 model](https://github.com/tensorflow/tensorflow/blob/8e48ec6ea0492e2cb9fd19c0a2ccf41afc7b4dc6/tensorflow/contrib/slim/python/slim/nets/resnet_v2.py) to the [vgg model](https://github.com/tensorflow/tensorflow/blob/8e48ec6ea0492e2cb9fd19c0a2ccf41afc7b4dc6/tensorflow/contrib/slim/python/slim/nets/vgg.py). The vgg model takes `is_training` whereas the resnet model does not. Thi

[2016-10-11 03:58] cancan101 commented on #4887
I guess you do something like this:
[code]
Not sure if docs can be improved here?

[2016-10-11 05:05] usamaoDATA commented on #4640
hi @jiny2001 can you or somebody please me more specific as to exactly which lines im suppose to comment. i've been stuck in this problem for a while now. any help would be appreciated

[2016-10-11 06:32] WenguiZhou opened #4888 ""src: warning: directory does not exist.“ when I build syntaxnet"
when I build syntaxnet, a problem occurs that.
ERROR: /home/zwg/.cache/bazel/_bazel_zwg/532f17a1037f0f671972f45f175b09ce/external/protobuf/BUILD:560:1: null failed: protoc failed: error executing command bazel-out/host/bin/external/protobuf/protoc '--python_out=bazel-out/local-opt/genfiles/src' -Isrc external/protobuf/src/google/protobuf/any.proto external/protobuf/src/google/protobuf/api.proto ..

[2016-10-11 06:36] usamaoDATA commented on #4640
okay, i found that link, sorry, noob mistake. building now

[2016-10-11 06:52] andrenatal commented on #3069
Building from source, at this step:

`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`

I  get this error:

`ERROR: /Users/anatal/projects/mozilla/tensorflow/tensorflow/core/kernels/BUILD:1020:1: error while parsing .d file: /private/var/tmp/_bazel_anatal/7c0501261859d426c184c23a4c9e36fa/execroot/tensorflow/bazel-out/local_darwin-opt/bin/tensorflow/core/kernels/_o

[2016-10-11 07:02] tripiana commented on #4728
Give me a while, I'm going to test it, I'm complete sure (looking at the eigen's commit) that this merge into master will solve the problem.

[2016-10-11 07:10] gunan commented on #3069
That particular error looks like a mismatch between your XCode version and Cuda.
On ubuntu, I was able to get the source code to compile successfully with cuda8.

[2016-10-11 07:21] usamaoDATA commented on #4640
i did the changes to the code, my build ended with

fatal error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/lipo: Usage: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/lipo [input_file] ... [-arch <arch_type> input_file] ... [-info] [-detailed_info] [-output output_file] [-create] [-arch_blank <arch_type>] [-thin <

[2016-10-11 07:41] magicwifi commented on #4680
@tusharsoni08
 I followed the Raspberry Pi section of the instructions at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#Raspberry Pi
 In RPI3 and worked well;
And I suggested you follow
 https://github.com/samjabrahams/tensorflow-on-raspberry-pi/blob/master/GUIDE.md

[2016-10-11 10:45] steniu01 commented on #22
@benoitsteiner, @henline , from the https://github.com/henline/streamexecutordoc, it suggests the streamexecutor has supported the CL version canned operation(like DNN, BLAS) out-of-box. Does it suggest google has already has the clDNN, clBLAS implementation ready for Tensorflow, but just not open source it yet?

[2016-10-11 11:11] tthtlc opened #4890 "TypeError: __init__() got an unexpected keyword argument 'state_is_tuple'"
Please help me resolved the error:

[code]

[2016-10-11 11:43] alphamule commented on #4640
@usamaoDATA

I'm going to guess that you tried to comment out the lines in the lipo commands.  You must delete those lines instead.  The problem is that the lipo command is multi-line:

[code]

so if you comment out a line in the middle, the ```\``` characters at the end cause all these lines to be considered one, so it ends up being interpreted as:

```lipo ${LIBDIR}/iossim_386/lib/libprotobuf-li

[2016-10-11 12:49] cjspoerer commented on #2169
@hermitman This is my first post, so apologies if I get it wrong, but I think that this post addresses the issues with the missing gradients [https://github.com/tensorflow/tensorflow/issues/1793#issuecomment-234070576](url)

[2016-10-11 14:11] tripiana commented on #4728
I have tested it and it works. Issue fixed. Please close.

[2016-10-11 14:31] craymichael opened #4893 "How to create `input_fn` using `read_batch_examples` with `num_epochs` set?"
TF Version: 0.10.0rc

I have a basic `input_fn` that can be used with Tensorflow Estimators below. It works flawlessly without setting the `num_epochs` parameter; the obtained tensor has a discrete shape. Pass in `num_epochs` as anything other than `None` results in an unknown shape. My issue lies with constructing sparse tensors whilst using `num_epochs`; I cannot figure out how to generically cr

[2016-10-11 14:52] ashwin opened #4894 "virtualenv pip3 install fails"
I am trying to install TensorFlow in virtualenv using Python 3.4.

I did:
[code]

The pip3 install ends in this error:

[code]

Why is pip3 install inside a virtual environment trying to write in `/usr/lib/python3.4`? How to make this install work?

Operating System: Ubuntu 14.04
Installed version of CUDA and cuDNN: CUDA 7.5 and cuDNN 5
[code]

[2016-10-11 15:13] maxim5 opened #4895 "Tensorflow fails to find GPU device (CUDA 8.0)"
- Operating System: Ubuntu 16.04
- Installed version of CUDA and cuDNN: CUDA 8.0.27, cuDNN 5.1.5
[code]
`nvidia-smi` shows the GPU.
- Environment variables:
[code]
- Tensorflow version: 0.10.0rc0 (installed by Anaconda)
- Note that on the same machine Theano _works perfectly_:
[code]

But Tensorflow does not:
[code]

[2016-10-11 15:21] yaroslavvb commented on #3069
Googling for error suggests that you need xcode 7.2

On Oct 11, 2016 12:10 AM, "gunan" <notifications@github.com> wrote:

[2016-10-11 15:45] benoitsteiner commented on #4425
I believe this is fixed. I'm pushing a regression test that covers the input dimensions that were previously reported as being troublesome (ie 256x256 and 129x129). I'll close this issue in a few days once the test is available unless I hear that this is still causing problems for people.

[2016-10-11 15:45] #4728 closed

[2016-10-11 15:48] benoitsteiner commented on #3624
@sbrodeur Does TensorFlow now support all the operations you need on complex, or are there additional improvements we need to make ?

[2016-10-11 16:22] oxrider commented on #4838
It turns out all I had to do was to update pip to latest outside virtualenv.

[2016-10-11 16:23] #4838 closed

[2016-10-11 16:33] hermitman commented on #2169
@cjspoerer Hi, thanks for you response. The gradient for max_pool_with_argmax can be retrieved in your mentioned tickets. However, since we are implementing the unpooling operation, which do not have an available tensor flow OP, we are struggling to get gradient out of this new op. The operation we want is the same as described in:

[2016-10-11 16:45] chrhansen commented on #50
To add to @Arafatk's comment above, if there are any Rubyers out there with extra time, feel free to pick up any outstanding issues from our Milestone 0.1.0: https://github.com/somaticio/tensorflow.rb/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.1.0. Some of the issues don't require much knowledge of Tensorflow, but it's a good way to start learning about the inner workings of Tensorflow.

[2016-10-11 16:59] yaroslavvb commented on #4895
How did you install TensorFlow? Official binaries (11rc0 and before) don't support CUDA 8.0, only CUDA 7.5

[2016-10-11 17:03] yaroslavvb commented on #4867
There was a change a while back to new memory allocator that grabs all GPU memory on start for  performance reasons. There are some flags to limit how much memory it grabs -- http://stackoverflow.com/questions/34199233/how-to-prevent-tensorflow-from-allocating-the-totality-of-a-gpu-memory

[2016-10-11 17:07] woodshop commented on #4859
I'm not sure I am thinking about this correctly. I've noticed from a previous issue that I posted (https://github.com/tensorflow/tensorflow/issues/2516) that the numerical and theoretical gradients provided by `tf.test.compute_gradient_error` should not be the same in the case of complex ops. I'll close this issue and reopen later if necessary.

[2016-10-11 17:35] maxim5 commented on #4895
`conda install tensorflow`
It looks like 0.10.0rc0 is the latest version in Anaconda.
I have also tried 0.11.0rc0 from `pip`, nothing's changed.

Interesting. The doc says "The GPU version works best with Cuda Toolkit 7.5 and cuDNN v5"

BTW Nvidia lists CUDA Toolkit 7.5 and below under "archived":
https://developer.nvidia.com/cuda-toolkit-archive
And CUDA Toolkit 8.0 is the only version supported

[2016-10-11 18:12] yaroslavvb commented on #4895
@maxim5 yeah, I had to downgrade my Ubuntu down from 16.04 in order to get CUDA working

[2016-10-11 18:20] concretevitamin commented on #2973
Just to confirm my understanding -- the workflow of "saving on one machine using relative path, moving the ckpt to another machine, restore there" **is** supported, correct?

I tried with this snippet:
[code]
and it passed, generating this `checkpoint` file:
[code]

So this should not be marked as a "bug", and more like a feature request (use relative paths by default).  For this request, I am not

[2016-10-11 18:25] aselle commented on #4638
@yaroslavvb:  yes, idx1 and idx2 can be tensor objects.  even in what is already implemented for baisc indexing,you can do doing a=tf.constant(3); b=tf.constant(6); foo[a:b]
@robsync: negative indices have a bug in 0.10 and work in 0.11rc0

[2016-10-11 18:31] aselle commented on #4455
Closing as this  appears to be resolved. Thanks @yaroslavvb and @mrry.

[2016-10-11 18:31] #4455 closed

[2016-10-11 18:36] aselle commented on #4701
gen_git_source.py should work in Python 3 and Python 2. It used to not have the b"  prefixes on the string literals, but @mrry added them for Windows compatibility. Looking, but the easiest work around is to just edit gen_git_source.py to remove the b" in the string literals.

[2016-10-11 19:01] jtyberg commented on #2973
+1

I also hit this when I'm using Tensorflow from within a Docker container.  If my container that trains the model mounts the directory to `/models`, and I have a different container that tries to restore the model, but mounts the directory to `/tf/models`, the second container can't restore it.

[2016-10-11 19:04] seerdecker opened #4897 "Provide unaggregated gradients tensors"
As described here, TF is inflexible when it comes to access to the gradients:
http://stackoverflow.com/questions/35731506/unaggregated-gradients-gradients-per-example-in-tensorflow?rq=1

Please provide a method where the user can retrieve the raw gradients, not the averaged gradients. Requiring the user to compute their own gradients is impractical -- the framework should work for the user, not th

[2016-10-11 19:11] frenchwr commented on #4882
Just following up, the build completed and so far all the tests I have run completed normally. Many thanks for the tips and timely response!

[2016-10-11 19:11] yaroslavvb commented on #4897
TensorFlow is just a regular automatic differentiation system, it gives the gradient that you ask for -- so if you ask for a gradient of the mean loss over all examples, the gradient is aggregated, but if you ask for the gradient of loss over a single example, it gives you "unaggregated" gradient for that particular datapoint. Naively, if you have a batch of size k, you could have "k" `tf.gradient

[2016-10-11 19:12] xiayandi opened #4898 "Dequeue op loses TensorShape"
I am not able to find related issues online.

Operating System:
Ubuntu, Mac OSX

Installed version of CUDA and cuDNN:
CUDA 7.5, cuDNN v5.1

If installed from binary pip package, provide:
1. A link to the pip package you installed:
`TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl`
2. The output from `python -c "import tensorflow; pri

[2016-10-11 19:46] yaroslavvb commented on #4809
@pb12 I don't see "Send" ops in run_metadata.step_stats, where should I look to see if it's filtered out?

[2016-10-11 19:49] seerdecker commented on #4897
I saw the article. This isn't what I'm looking for since I'd have to do all the computations by hand. It's difficult and error prone. Doing "k" tf.gradients() call is slow.

Obtaining the batch of gradients is required for many algorithms. It really should be something that's easy to do.

[2016-10-11 19:53] yaroslavvb commented on #4897
`[tf.gradients(cost) for cost in example_costs]` is the way to get gradients for multiple costs. If that's too slow, it might be useful to provide timelines to see where the slowness happens

[2016-10-11 19:57] attiladoor commented on #131
Hi, i had the same problem, and if you take a look about the configure script:

if [ -z "$CUDA_TOOLKIT_PATH" ]; then
    default_cuda_path=/usr/local/cuda
    read -p "Please specify the location where CUDA $TF_CUDA_VERSION toolkit is installed. Refer to README.md for more details. [Default is $default_cuda_path]: " CUDA_TOOLKIT_PATH

So you have nothingt to do, just find your nvidia toolkit, mine

[2016-10-11 19:59] seerdecker commented on #4897
If I follow what you're saying, example_costs would be defined at graph instantiation time, right? So that forces a fixed batch size.

[2016-10-11 20:14] maxim5 commented on #4895
In case anyone has the same problem: tensorflow supports CUDA 8.0, if you build it from sources *and configure accordingly).
The following post worked for me: https://alliseesolutions.wordpress.com/2016/09/08/install-gpu-tensorflow-from-sources-w-ubuntu-16-04-and-cuda-8-0-rc/

The issue is therefore: support CUDA 8.0 out of the box, because it is the primary CUDA version now.

[2016-10-11 20:24] civilmanxx commented on #4808
Yes, set to a different path for **--eval_dir**  works. I see a new **graph.pbtxt** is created for evaluation. It is smaller than the one under **--train_dir**. So the root cause is if set train_dir and eval_dir to the same folder, new **graph.pbtxt** under validation phase will replace the olde one, which lead to freeze_graph fail.

thanks a lot.

[2016-10-11 20:24] bhack commented on #4855
What do you think to switch the notebook to MetaGraph? I see that fine tuning it is more oriented on tfslim this days and slim models use the new meta+check point.

[2016-10-11 20:25] #4808 closed

[2016-10-11 20:29] ebrevdo commented on #4898
Have you tried tf.train.batch?

[2016-10-11 20:36] xiayandi commented on #4898
@ebrevdo Thanks for the reply. I plan to use this FIFOqueue for the input in my evaluation graph. And I don't want to specify batch_size for my evaluation graph.

And yes, I have tf.train.batch in my training graph. And it works fine.

Thanks.

[2016-10-11 20:40] yaroslavvb commented on #4897
`example_costs` in my example is a Python list of costs you want to differentiate with respect to, and you can change this list during runtime. For efficiency, you may want create some per-example-cost gradient graphs and reuse them during runtime.

Generally though, "retrieve raw gradient" request is ill-specified -- there's no place in TensorFlow where "per-example gradients" are added together,

[2016-10-11 20:42] ebrevdo commented on #4898
If you're reading one element at a time, why are you using a queue?

On Oct 11, 2016 1:36 PM, "Yandi Xia" <notifications@github.com> wrote:

@ebrevdo <https://github.com/ebrevdo> Thanks for the reply. I plan to use
this FIFOqueue for the input in my evaluation graph. And I don't want to
specify batch_size for my evaluation graph.

And yes, I have tf.train.batch in my training graph. And it works f

[2016-10-11 20:50] xiayandi commented on #4898
@ebrevdo
I don't specify batch size in the placeholder.
I enqueue a batch of instances into the queue (variable size of batches) each time.
And each dequeue will return a batch of data.

Thanks.

[2016-10-11 20:57] prb12 commented on #4809
It happens in `ExecutorState::NodeDone` [here](https://github.com/tensorflow/tensorflow/blob/0a4f5b6bda405814af59803829216762e030728d/tensorflow/core/common_runtime/executor.cc#L1603)

[code]

I personally would prefer to see the Send op and both halves of the async Recv op in the timeline, with an arrow from the Send to RecvDone so that you can see the transfer latency.  However, last time I trie

[2016-10-11 21:17] seerdecker commented on #4897
Thanks for the answer. Yes, some examples of implementations would come handy.

I don't understand how TF is providing freedom here. The implicit assumption that the last matrix rank corresponds to the batch instances seems to be built-in the design. For instance, how could you pack your data in rows in a matrix and pass that through a convolutional layer? The convolutional layer imposes semantics

[2016-10-11 21:18] chenqifeng22 commented on #1095
@harpone Thanks for sharing the code! It really helps me. I was searching for such a solution for a long time.

[2016-10-11 21:46] goodfeli commented on #4897
On the contrary, it's because it's an AD framework rather than a DL framework that it is somewhat difficult to get the batch gradients. The gradient of an individual example is a deep learning concept. As a pure math engine, tensorflow just exposes the concept of the gradient with respect to a specific tensor. Because there's no tensor representing the parameters as used on a single example, the A

[2016-10-11 21:58] meherkasam opened #4902 "Consistently unable to run camera example iOS app"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Closest match: https://github.com/tensorflow/tensorflow/issues/4640
### Environment info

Operating System: iOS 10.0.1
Xcode 8 + macOS Sierra
1. The commit hash (`git rev-parse HEAD`) - 781603968c60bb14a40cf00653f9b31be7826f20
2. The output of `bazel version` - bazel command not found
###

[2016-10-11 21:58] seerdecker commented on #4897
Alright, thanks for the help.

[2016-10-11 21:59] ror6ax opened #4903 "tensorboard command broken"
Running tensorboard results in this:

[code]

Best practice in this case is arg(opt)parse.

[2016-10-11 22:00] yaroslavvb commented on #4897
Baking in the NN assumptions too deeply is why DistBelief ended up so inflexible. In TensorFlow you can minimize the loss which is `sum(XWX')`, where X is a single matrix-valued example, so that's your per-example gradient. Allowing `tf.gradients` to differentiate with respect to vector valued `vec` seems like a good idea, that would make it simpler to compute Hessians as well as per-example grade

[2016-10-11 22:13] aidan-plenert-macdonald commented on #4359
I wrote a TensorFlow framework for a new device. I then wrote a Matix Multiplication that does nothing but print something when the constructor and Compute functions are called. The code looks like,

    #include "tensorflow/core/framework/op.h"
    #include "tensorflow/core/framework/op_kernel.h"
    #include "tensorflow/core/common_runtime/dma_helper.h"

    namespace tensorflow {

      class M

[2016-10-11 22:34] ebrevdo commented on #4898
Isn't that equivalent to passing enqueue_many=True to tf.train.batch?

On Oct 11, 2016 1:50 PM, "Yandi Xia" <notifications@github.com> wrote:

[2016-10-11 23:04] vrv commented on #4359
I think in this case, our optimizations for constant folding are foiling you :).   (Because c can be computed statically, we pre-compute it on the first run of the graph on CPU, and then there's nothing to run on your device).

1) You can disable this by disabling optimizations in ConfigProto.GraphOptions.

2) You can redefine your graph to have the matmul take in two 'variables', in which case it

[2016-10-11 23:18] aselle commented on #4614
Looking more closely, it appears unique_with_counts does support this already
https://www.tensorflow.org/versions/r0.11/api_docs/python/array_ops.html#unique_with_counts
@yzsatgithub  let me know if that addresses your need.

[2016-10-11 23:20] civilmanxx commented on #4766
I build and run the **inspect_checkpoint** tool. Yes, i am not using **model.ckpt-0**, which is the first model file, but using the intermediate file like **model.ckpt-354** below.

bazel-bin/tensorflow/python/tools/inspect_checkpoint --file_name=/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow/v1_finetune_test/**model.ckpt-354**

In the output tensors list, i can see the one in the error

[2016-10-11 23:23] civilmanxx commented on #4766
When I try to freeze the graph, i still get:
**Attempting to use uninitialized value InceptionV1/Logits/Conv2d_0c_1x1/biases/RMSProp_1**

That's to say, even if the .ckpt file contains this tensor, but freeze_graph still can't find its value.

[2016-10-11 23:26] xiayandi commented on #4898
@ebrevdo
I don't think so.

even if using tf.train.batch with enqueue_many=True, I think a fixed batch_size need to be set, right? I really need a variable batch_size here.

Further more, I use this input method for evaluation graph. And the graph will take in-memory input, rather than TFRecord or CSV files. Therefore, I don't think tf.train.batch can solve this problem.

Thank you very much!

[2016-10-11 23:30] civilmanxx commented on #4766
I print out the value of this tenor by running:

bazel-bin/tensorflow/python/tools/inspect_checkpoint --file_name=/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow/v1_finetune_test/model.ckpt-354 **--tensor_name=InceptionV1/Logits/Conv2d_0c_1x1/biases/RMSProp_1**

and i get:

tensor_name:  InceptionV1/Logits/Conv2d_0c_1x1/biases/RMSProp_1
[  9.86978375e-06   6.85426858e-06   1.77027832e-05

[2016-10-11 23:42] civilmanxx commented on #4790
Is there any update on this issue?

[2016-10-12 02:44] guotong1988 commented on #4746
found something useful for the development.
http://stackoverflow.com/questions/33919948/how-to-set-adaptive-learning-rate-for-gradientdescentoptimizer

[2016-10-12 02:44] woodshop commented on #4859
I've considered my question a bit more and I believe this issue should remain open. I would love to hear someone weigh in (perhaps @ibab, who has been involved in resolving several TF issues for complex computations).

As noted above, the recent commit  https://github.com/tensorflow/tensorflow/commit/821063df9f0e6a0eec8cb78cb0ddc5c5b2b91b9f by @girving and @@tensorflower-gardener changed the pytho

[2016-10-12 03:02] ebrevdo commented on #4898
The batch_size is the batch size for the output; and it can be a scalar
Tensor; i.e., you can use a Placeholder for it.  tf.train.batch really just
uses a Queue underneath, it's agnostic to how you feed data.

Either way, if you're taking in-memory input, I still don't understand how
you're planning to use a queue.  Do you plan to feed input directly in one
python thread, and have the eval running

[2016-10-12 03:17] xiayandi commented on #4898
@ebrevdo

It is good to know that tf.train.batch can take placeholder as input. Thanks.

"Do you plan to feed input directly in one
python thread, and have the eval running in a separate thread?"
Yes, I create a thread for enqueue, and the input of the evaluation graph is the result of dequeue. After all the data in test set is enqueued, the thread halts and waits for the evaluation to be done.
Th

[2016-10-12 03:24] lpxz opened #4904 "is the documentation about sampled_softmax_loss correct?"
Hi,
"tf.nn.sampled_softmax_loss(weights, biases, inputs, labels, num_sampled, num_classes, num_true=1, sampled_values=None, remove_accidental_hits=True, partition_strategy='mod', name='sampled_softmax_loss')"
the document says:
"At inference time, you can compute full softmax probabilities with the expression tf.nn.softmax(tf.matmul(inputs, tf.transpose(weights)) + biases)."

I am not sure if this

[2016-10-12 03:26] HW-ZZ commented on #4867
@yaroslavvb
[code]
But I think this way can't to set on a per-GPU basis.
If we need train two different models  on two different GPUs at same time,how can we
allocate GPU memory.

[2016-10-12 03:27] tatatodd commented on #4766
@civilmanxx Can you attach the graph.pbtxt and checkpoint file to this issue?  I'm now suspecting the errors are related to my previous "saver" suggestion.  There's another way to deal with this though, and I should be able to figure it out if I can easily reproduce it.  Thanks!

[2016-10-12 03:28] yaroslavvb commented on #4867
If they run in difference processes use `CUDA_VISIBLE_DEVICES` to limit GPUs visible to each process

[2016-10-12 03:37] EmmaBYPeng commented on #2169
Hi, I implemented the batch version (i.e. batch_size >= 1) of @fabianbormann 's unpool layer and it's been working well for me:

[code]

[2016-10-12 03:43] jinhou commented on #4841
@tatatodd I met the same issue. And I do configure with CUDA enabled. Do you have any solutions for this issue?

$git rev-parse HEAD
8e48ec6ea0492e2cb9fd19c0a2ccf41afc7b4dc6

$bazel version
INFO: $TEST_TMPDIR defined: output root default is '/gruntdata/houge/tmp'.
Found stale PID file (pid=18305). Server probably died abruptly, continuing...
.
Build label: 0.3.1
Build target: bazel-out/local-fastb

[2016-10-12 03:48] vrv commented on #4867
Or try the allow_growth option instead.

[2016-10-12 05:12] daeyun commented on #4903
I had this issue, solved by running the `tensorboard.py` script directly instead of through `bin/tensorboard`. `FLAGS` is set in the new if-main block.

[2016-10-12 05:22] chenghuige commented on #4854
The problem is due to writting tfrecords without finally call close(). Close this.

[2016-10-12 05:22] #4854 closed

[2016-10-12 05:26] ebrevdo commented on #4898
Yep it is.

On Oct 11, 2016 8:18 PM, "Yandi Xia" <notifications@github.com> wrote:

[2016-10-12 05:48] jart commented on #4903
@elibixby could you please take a look? It seems this was caused by https://github.com/tensorflow/tensorflow/commit/8018346e12f9fef76cdc7accc248de17514f6d38

[2016-10-12 05:51] sangramkapre commented on #554
I also want to try Inception-V3 model to make a forward pass on images and extract features from intermediate layers. From where can I get the TensorFlow meta-graph file (i.e. classify_image_graph_def.pb)?

[2016-10-12 06:05] jart commented on #4902
@martinwicke do you have any idea about this cryptic error?

[2016-10-12 07:24] KaidongYu opened #4906 "The "cos" merge mode when using tf as backend cann't get the expect result"
I have two batch of sentences as inputs, like:
[code]
In my model, I trying to get the cos score between two vector, so I use 'cos' model in merge
`cos_score = merge([vec_a, vec_b], mode='cos', dot_axes=1)`
When I use theano as backend, it works fine, but when I use tf as backend, the output_shape=[batch_size, batch_size]

The result by 'tf' backend:
[code]
The result by 'theano' backend:
[code]

[2016-10-12 07:33] #4906 closed

[2016-10-12 07:33] KaidongYu commented on #4906
Sorry I upload the wrong address.. This is the issue about keras

[2016-10-12 07:50] byronyi commented on #2916
The only concern of external contribution of adding RDMA support is whether Google will release its own implementation in the future, which will render external effort less meaningful.

Can we have a member in the TF team confirm that it will not be open sourced, at least not recently?

[2016-10-12 08:18] bhack opened #4907 "DeepDream tutorial and TFSlim"
What do you think to switch the DeepDream tutorial  notebook to MetaGraph? I see that  fine tuning and new inception models are more oriented on tfslim and slim models use the new meta+check point.

[2016-10-12 08:20] bhack commented on #4855
The last comment it is another topic so I have opened a new issue https://github.com/tensorflow/tensorflow/issues/4907

[2016-10-12 08:49] abcdabcd987 commented on #1322
@jeandut how about <http://stackoverflow.com/questions/37659538/custom-padding-for-convolutions-in-tensorflow>?

[2016-10-12 09:11] bhack commented on #4907
@vrv What do you think of this? I can also try to make a PR but I need some support on how to handle this..

[2016-10-12 09:44] tillahoffmann opened #4909 "Empty array as loss function causes unhandled exception"
If the loss fed to an optimizer is an empty array and attempt is made to train on a GPU, an unhandled exception occurs that kills the python kernel. The logs reveal the following error message

[code]

Code to reproduce the problem:

[code]

[2016-10-12 09:45] paulwasit opened #4910 "Ubuntu 16.04 + CUDA8.0, GPU build from source: C++ compilation fails (crosstool_wrapper_driver_is_not_gcc failed)"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

[Issue 190](https://github.com/tensorflow/tensorflow/issues/190) is the same, but was closed & pointed to a [bazel issue that has been fixed](https://github.com/bazelbuild/bazel/issues/359).

### Environment info
Operating System: **Ubuntu 16.04**

Installed version of CUDA and cuDNN: **8

[2016-10-12 10:07] elibixby commented on #4903
How are you providing args to the script in the first place if you're not executing it as main? If you aren't providing args, why is the expected behavior for FLAGS to be not be `None`?

[2016-10-12 10:19] ror6ax commented on #4903
I'm running tensorboard --logdir='/tmp/tflearn_logs'

2016-10-12 12:09 GMT+02:00 Eli Bixby <notifications@github.com>:

--
http://gam1fy.me - Turn boring into exciting!

http://ror6ax.github.io/

[2016-10-12 10:20] riless opened #4911 "Greenish image when using convertYUV420ToARGB8888"
I'm experimenting the [TensorFlow Android Camera Demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android). but it seems that the [ImageUtils.convertYUV420ToARGB8888](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowImageListener.java#L164) used to convert images from the camera input to RGB  bytes arra

[2016-10-12 10:40] elibixby commented on #4903
Hmm I don't see any reason for this in the source. FYI tensorboard does now use argparse. In fact this is the change (from tf.flags to argparse) that was responsible for this regression. I'm going to try to independently verify this behavior.

[2016-10-12 11:25] peterkfm commented on #4863
Can anyone shed some light on this? Are int32 ops not supported on iOS by default? If so, is there a way to enable them? I'm kind of stuck with this at the moment, so any input is highly appreciated.

Thanks,
Peter

[2016-10-12 13:04] DevinCheung opened #4912 ""no module named tensorflow" when I "import tensorflow" after I install tensorflow on windows successfully"
I followed ..\tensorflow\contrib\cmake\README to install tensorflow on windows. Everything went well and I installed tensorflow successfully. But after I "activate tensorflow", and tried to "import tensorflow" using python, it went wrong, saying "no module named tensorflow". How can I fix this problem? Many thanks!

[2016-10-12 13:05] osdf opened #4913 "Saver returning paths that cause GetMatchingPaths to go digging around in parent dirs"
Note: This works without problems in 0.10.0rc0 (default pip install-ed according to website).
### Environment info

Operating System:
Ubuntu 15.10

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

If installed from binary pip package, provide:
1. A link to the pip package you installed. Tried with two packages:
   -  `https://ci.tensorf

[2016-10-12 13:52] jinhou commented on #4841
@AFAgarap @tatatodd I found a work around method to fixed this issue in my machine.
In ./third_party/gpus/cuda_configure.bzl file, there is a function to check whether cuda is enabled,
`def _enable_cuda(repository_ctx):
  if "TF_NEED_CUDA" in repository_ctx.os.environ:
    enable_cuda = repository_ctx.os.environ["TF_NEED_CUDA"].strip()
    print (enable_cuda)
    return enable_cuda == "1"
  return

[2016-10-12 13:57] egpbos opened #4914 "Keeping gradient of sqrt(x) stable for x = 0"
I'm minimizing a function that contains a few `tf.sqrt(c * x)` terms. The `x` is a `tf.Variable` and `c` is a `tf.constant` that is sometimes zero. A `NaN` inevitably presents itself. In my case, the gradient is to `c`, which is `x * 0.5/sqrt(c * x)` and which equals `0 * inf = NaN` when `c` is `0`.

When such a `sqrt` is deeply buried in your function, it can be quite an effort to dig out where t

[2016-10-12 14:05] tusharsoni08 commented on #4680
What actually i'm doing is I'm using PI examples to build that on linux (Ubuntu 14.04) for testing by using the https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#building-on-linux rather https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#raspberry-pi .

[2016-10-12 14:31] loretoparisi commented on #4200
@tatatodd thank you please wait let me check again the whole process.

[2016-10-12 14:54] xiayandi commented on #4898
I found the solution. Actually there is a shapes argument in tf.FIFOQueue(). Just specify the shapes there, and the TensorShape info will be kept in the tensor objects.

Thanks @ebrevdo for your help and discussion!

[2016-10-12 15:36] hholst80 commented on #4914
The `selsqrt_grad` was quite interesting. It should be equivalent to the first one I thought but I also got NaN like you.

Another interesting case:
[code]

dfds==0 analytically but we get a NaN because 0 * Inf = NaN.

[2016-10-12 15:42] j0el commented on #4680
@magicwifi
Thank you for finding the makefile issue with the pi examples.  I started with a clean instance of the latest raspbian, followed the Pi instructions , edited the example makefiles and everything worked fine.

[2016-10-12 15:57] aidan-plenert-macdonald commented on #4359
I think I will make them variables because I need to do that anyway. How do I fix,
[code]

[2016-10-12 15:57] vrv commented on #4907
It sounds reasonable.  In addition, there's also support coming for the even more general "SavedModel" which builds on MetaGraph, the details of which I'm not familiar.  Assigning this to Sherry who can comment!

cc @sherrym @nfiedel

[2016-10-12 15:59] vrv commented on #4359
You have to register kernels for a lot of standard ops on your KPU device.

(NoOp, Variable, Assign, Identity, etc).  I think the generic implementations are registerable via header files like variable_op.h etc -- look for the GPU kernel registrations to get a sense of what you probably want to do for your KPU.  It's likely that most of these do not require a custom implementation on your device.

[2016-10-12 16:05] aidan-plenert-macdonald commented on #4359
Perhaps I should rephrase my question. I have kind of been shooting in the dark when registering the kernels. Is there a way to get the exact name of the kernel I am missing so I can implement it over?

[2016-10-12 16:06] vrv commented on #4359
[code]

This is saying that these three groups of nodes needed to colocated on a single device, but the only common device implementation was CPU, so these nodes could not be placed on KPU.

If you register "Identity" and "Assign" on KPU, these three nodes could then be colocated together on KPU.

[2016-10-12 16:44] civilmanxx commented on #4766
[v1_finetune_test.zip](https://github.com/tensorflow/tensorflow/files/525121/v1_finetune_test.zip)

The zip file contains **.ckpt** and **.pbtxt**

The output node is **--output_node_names=InceptionV1/Logits/Predictions/Softmax**

[2016-10-12 16:54] SMH17 commented on #17
Use Tensorflow on virtualized environments  as Docker/VirtualBox is a very bad solution. Tensorflow should run on Windows natively. (And since is coded in Python should not be a problem create a distribution for Windows.)

[2016-10-12 16:55] civilmanxx commented on #4735
so you mean i can set this value to 12000, that is 12GB, as I am using Tian X GPU. if reduce the chance of out of memory error, i can set a lower value, like 11000 or 10000. is that correct?

[2016-10-12 17:11] sallamander commented on #2807
Has anybody verified that quantized computations are taking place on their GPU? I have not been able to get them to run on the GPU. Everything runs okay - GPU memory is being reserved and blocked off, but the computation is still taking place on the CPU.

@petewarden it appears that maybe the quantized ops don't have GPU support, or that it is not optimized quite yet. Any insight on this, or anyth

[2016-10-12 17:15] martinwicke commented on #4902
No. @petewarden or @andrewharp, any idea?

[2016-10-12 17:29] ctames opened #4915 "Unable to build label_image example, master branch"
I am on OSX 10.11.12 (El Capitan)
Installed from source, on master branch
git rev-parse HEAD: a566a7701381a5cf7f70fce397759483764e482
bazel version: 0.3.2-homebrew

I am getting a series of errors when trying to build the label_image example from a freshly downloaded and configured (all default options, no CUDA, GPU, or Hadoop support) tensorflow source.

bazel build tensorflow/examples/label_imag

[2016-10-12 18:13] meteorcloudy commented on #17
Hi everyone! As mentioned by @mrry, I am working on TensorFlow Windows build with Bazel. With PR #4796 and PR #4874 merged, the C++ example trainer now builds on Windows with [Bazel 0.3.2](https://www.bazel.io/blog/2016/09/07/bazel-windows.html)!

Here is a brief instruction about how to build TF with Bazel on Windows.
- Install Bazel on Windows([installation instructions](https://www.bazel.io/blo

[2016-10-12 18:29] bb4242 opened #4917 "QueueRunner deadlock when using all CPUs"
I'm building an input pipeline following the guidelines [here](https://www.tensorflow.org/versions/r0.11/how_tos/reading_data/index.html).  The pipeline needs to queue up a bunch of input examples, process each example using a python function (inserted into the tensorflow computation graph using `tf.py_func`), and return the processed results to an output queue.  I'd like to use `QueueRunner`'s ab

[2016-10-12 18:48] bhack commented on #4907
I see also that models are too inhomogeneous between sample. The InceptionV3 in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/image_retraining is not the same of DeepDream tutorial that it is different from slims models and its finetune instructions.

[2016-10-12 19:21] yaroslavvb opened #4920 "Better support for initializing variables that depend on each other"
Currently there's no easy way to properly initialize variables when some variables initial values depend on other variables, and initialization has to be split over several `.run` calls. This kind of initialization happens with data-dependent parameter init.

This could be solved if there were something like `var.initialized_value()`, but which only runs initializer if the variable hasn't been ini

[2016-10-12 19:28] ppwwyyxx opened #4921 "FileSystem::GetMatchingPaths doesn't work for simple pattern"
With latest tensorflow.

[code]

[code]

Reason:
In the implementation of `GetMatchingPaths` [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/file_system.cc#L94), when the pattern doesn't contain any directory, the prefix `.` is prepended to all elements in `all_files`, and then `MatchPath("./test", "te*")` evals to false.

[2016-10-12 19:56] xiayandi commented on #4898
No, actually tf.FIFOQueue() can't take shapes like [None, 10]. Every dimension needs to be specified.

Is there any way that I can use FIFOQueue with variable batch_size without losing TensorShape information?

Thanks

[2016-10-12 19:58] barantes opened #4922 "Android: read model file from arbitrary directory rather than from assets folder"
Currently, TensorFlowInferenceInterface's method initializeTensorFlow() and its underlying C implementation (in tensorflow_inference_jni.cc and jni_utils.cc) require the usage of Android's AssetManager in order to read model files stored in the assets folder.

How can we modify TF's code to provide an alternative way to run the classification using a model file that's not stored in the assets fold

[2016-10-12 20:01] jart commented on #4903
@elibixby When pip installs TensorFlow it creates a `tensorboard` .sh file. See the setup.py.

[code]

Which creates a script like this:

[code]

[2016-10-12 20:08] flyfj commented on #4830
WARNING:tensorflow:IOError [Errno 2] No such file or directory: '/home/jiefeng/anaconda2/lib/python2.7/site-packages/tensorflow/tensorboard/lodash/lodash.min.js' on path /home/jiefeng/anaconda2/lib/python2.7/site-packages/tensorflow/tensorboard/lodash/lodash.min.js
127.0.0.1 - - [12/Oct/2016 16:05:01] "GET /lodash/lodash.min.js HTTP/1.1" 200 -
WARNING:tensorflow:IOError [Errno 2] No such file or d

[2016-10-12 20:14] yaroslavvb commented on #4917
`py_func` is a bit special -- it uses the main Python interpreter process to run its Python code, so it can not run while any other Python threads are running because of Global Interpreter Lock. On other hand `session.run` is supposed to release Global Interpreter Lock. I've never seen anyone use `session.run` inside `py_func`, I'm surprised this works at all

@zffchen78 do you see any problems in

[2016-10-12 20:20] yaroslavvb commented on #4917
@bb4242 btw, "works when fewer threads than CPUs" vaguely suggests this could be affected by number of parallel ops that can be run (default to number of cores), ie, try session = tf.Session(tf.Config(operation_timeout_in_ms=2000, inter_op_parallelism_threads=<large number>, inter_op_parallelism_threads=1))

[2016-10-12 20:22] virajago commented on #4187
@JimmyKon's fix worked for me.

Config
OSX 10.12
CUDA 8
XCode 7.3
r0.11

[2016-10-12 20:30] hermitman commented on #2169
@EmmaBYPeng Hi, thanks for sharing the awesome solution. Did you try to backprop through this layer, such as train the deconvolution net with this unpooling layer? It seems that this implementation still cannot receive gradients during training.

[2016-10-12 20:53] bb4242 commented on #4917
@yaroslavvb: Thanks, your suggestion was very illuminating. :)  I can confirm that setting `inter_op_parallelism_threads` to a number greater than the number of cores, with `intra_op_parallelism_threads=1`, solves the deadlock.  I think I understand what's going on better now and why my example deadlocks:

1) In the default configuration, tensorflow creates a thread pool with N threads, where N =

[2016-10-12 20:57] yaroslavvb commented on #4917
Yes, that makes sense. There was a similar issue in core TensorFlow when you scheduled k ops that are waiting for `dequeue` op to run, which deadlocked when `inter_op_parallelism_threads` is exceeded. That was solved by adding special threads to run `dequeue` ops that don't respect `inter_op_parallelism_threads` limit.

[2016-10-12 21:02] bb4242 commented on #4917
Cool, thanks again.  I have a better understanding of what's going on in the tensorflow runtime now. :)

[2016-10-12 21:02] #4917 closed

[2016-10-12 21:03] chivalry123 opened #4923 "Tutorial on contrib (load_csv) no longer works, please suggest solution"
I try to follow the turotial here:

https://www.tensorflow.org/versions/r0.11/tutorials/tflearn/index.html

But I get the error:

221:tensorflow_tutorial ME$ python contrib_learn_quick_origin.py
Traceback (most recent call last):
  File "contrib_learn_quick_origin.py", line 13, in <module>
    training_set = tf.contrib.learn.datasets.base.load_csv(filename=IRIS_TRAINING,
AttributeError: 'module' o

[2016-10-12 21:13] ebrevdo commented on #4898
When you use FIFOQueue, you don't pass in the batch shape, only the
remainder.  For example, if you pass shapes like [None, 10] to
queue.enqueue_many(), you only use shape value [10] for that component.

On Wed, Oct 12, 2016 at 12:57 PM, Yandi Xia <notifications@github.com>
wrote:

[2016-10-12 21:21] jbromley opened #4924 "Using xavier_initializer causes pyglet to fail to display"
Using tf.contrib.layers.xavier_initializer causes pyglet GLX initialization (and therefore gym) to fail. The stack trace is attached. It is not at all clear how calling xavier_initializer can cause GLX initialization to fail.

[code]

Here is my environment information.

Operating system: Ubuntu 14.04.5
CUDA 7.5 and CuDNN 5.1.3 See [cuda-versions.txt](https://github.com/tensorflow/tensorflow/files

[2016-10-12 21:24] xiayandi commented on #4898
Thanks @ebrevdo!

I just found a work around to this problem. Just using set_shape() to set shape of the dequeued tensor back.
For the above example, just use:
`b.set_shape([None, 10])`

And then b will have a known TensorShape attribute.

[2016-10-12 21:24] #4898 closed

[2016-10-12 21:25] alexbeloi commented on #4856
I'm not sure if this is the same issue, but I had blank (black images) in place of the events and distribution plots. This occurred with Firefox version 49.0, when I tried in chrome version 54.0.2840.59 (64-bit), the events and distributions plots would display correctly.

The 3d histogram plots displayed correctly in both firefox and chrome. Did not test in other browsers.

Images from firefox 49

[2016-10-12 22:03] andrewharp commented on #4922
If you remove the `file:///android_asset/` prefix from the model file in [TensorFlowImageListener.java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowImageListener.java), it should just work. There already exists code that can load from non-assets in the native C++ layer. If that prefix is not present it will attempt to treat the

[2016-10-12 22:04] jart commented on #4830
How are you running TensorBoard?

[2016-10-12 22:11] abidmalik1967 opened #4926 "unable to build tensorflow for GPU"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-10-12 22:33] andrewharp commented on #4911
Interesting, I noticed that the resulting bmp it's not just greenish, it's completely green -- all R and B values are 0.

I'd theorize that either your device is not providing a 420sp camera frame or is not providing an actual argb8888 output bitmap, as I'm unable to replicate this locally. Have you made any other modifications to the code? What sort of device are you using?

To get a little bit m

[2016-10-12 22:39] MatthiasWinkelmann commented on #4926
You'll get more sympathy if you actual use the template instead of just quoting it, but I believe your problem is related to/helped by https://github.com/tensorflow/tensorflow/issues/3431#issuecomment-234131699.

It that doesn't work: your gcc is a custom install, right? You'll probably have it easier using your distributions standard builchain.

[2016-10-12 22:52] aidan-plenert-macdonald commented on #4359
The master branch of TF recently switched to Protobuf 3.1.0 and my companies drivers use 3.0.0. I am now having trouble compiling. is there a good clean way to make backward compatibility work out? Can I force a Protobuf roll back with TF?

[2016-10-12 23:01] vrv commented on #4359
You could locally change the workspace file to point to the earlier version of protobuf, but I suspect we moved to 3.1.0 for a good reason, so it's not something we could accept.  Might also be worth asking the protobuf team at github.com/google/protobuf ...

[2016-10-12 23:04] jart commented on #4844
Thanks for reporting this. I just wrote up a change internally fixing it. It should get released in the near future.

[2016-10-12 23:28] jart commented on #4840
This [StackOverflow answer](http://stackoverflow.com/a/34497833) should provide some help.

Basically, you don't need to use PIL. There's an op for decoding PNG files. https://www.tensorflow.org/versions/r0.11/api_docs/python/image.html

Another thing you can do is use ImageMagick on the command line to `convert foo.png foo.jpg`.

[2016-10-12 23:28] #4840 closed

[2016-10-12 23:33] gunan opened #4928 "When swig is not available, ./configure exits silently"
### Environment info
Operating System:
Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
cuda 8.0, cudnn does not matter, installation issue

If installed from binary pip package, provide:
Installing from sources

1. The commit hash (`git rev-parse HEAD`) 55bd9ccdb21a41b7c4046a1c1f2115066ed1f9bc
2. The output of `bazel version` 0.3.

[2016-10-12 23:37] DEKHTIARJonathan opened #4929 "Example Digits Not working"
Hello everyone,

I use the very last docker container, GPU Enabled (nvidia-docker).
Everything works fine for what I could have tested so far.

Host : Ubuntu 14.04 Server with CUDA and NVIDIA drivers up to date

Except, this example is not working anymore : https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/digits.py

Can't manage to make it work and understand the err

[2016-10-12 23:41] jart commented on #4713
This should be an easy question for @mrry to answer.

[2016-10-12 23:42] DEKHTIARJonathan opened #4930 "Example MNIST_RNN not working"
Hello everyone,

I use the very last docker container, GPU Enabled (nvidia-docker).
Everything works fine for what I could have tested so far.

Host : Ubuntu 14.04 Server with CUDA and NVIDIA drivers up to date

Except, this example is not working anymore :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/skflow/mnist_rnn.py

**AttributeError: 'LSTMStateTuple' object has no

[2016-10-12 23:58] jart commented on #4651
In order for us to help, we need simple specific steps to reproduce the problem. We're not able to troubleshoot nontrivial scripts. Here's an [example](https://github.com/tensorflow/tensorflow/issues/3978) of an issue that demonstrated a hanging issue which was able to be reproduced and solved. Please feel free to file another issue if necessary.

[2016-10-12 23:58] #4651 closed

[2016-10-13 00:11] jart commented on #4846
We don't officially support iOS. We have community supported examples that allow TensorFlow to be used on iOS in CPU mode. Our GPU support is achieved on both Linux and OS X using CUDA. So it seems unlikely that we would integrate with the Metal API. @wicke might have thoughts on this.

See also: #491

[2016-10-13 00:11] #4846 closed

[2016-10-13 00:15] jart commented on #4909
Which version of CUDA are you using?

[2016-10-13 00:17] jart commented on #4930
Is it possible that this issue is related to #3056?

[2016-10-13 00:21] bc-lee commented on #4830
Same here. I built TF r0.11 from source to make wheel file, and installed by (user level) PIP. (so, `$ whereis tensorboard` returns `/home/leebc/.local/bin/tensorboard`)
When I run tensorboard by `$ tensorboard --logdir=/tmp/tensorboard`, I get these logs:
[code]

[2016-10-13 00:31] aselle commented on #4760
Automatically closing due to lack of recent activity. Please reopen when further information becomes available.

[2016-10-13 00:32] #4760 closed

[2016-10-13 00:33] aselle commented on #4725
It looks like you don't have a working assembler. Can you compile a simple C program successfully? i.e.
[code]

[2016-10-13 00:34] aselle commented on #4413
Automatically closing due to lack of recent response. Please reopen when additional information becomes available. Thanks!

[2016-10-13 00:34] #4413 closed

[2016-10-13 00:34] aselle commented on #4545
Automatically closing due to lack of recent response. Please reopen when additional information becomes available. Thanks!

[2016-10-13 00:34] #4545 closed

[2016-10-13 00:34] aselle commented on #4607
Automatically closing due to lack of recent response. Please reopen when additional information becomes available. Thanks!

[2016-10-13 00:34] #4607 closed

[2016-10-13 00:38] aselle commented on #4706
You will get best performance by partitioning your variables manually across GPUs in a way that makes sense.

[2016-10-13 00:42] vrv commented on #4706
I think the problem is that there's an Eigen scratch allocator in the GPUDevice constructor that allocates memory on the GPU.  Before r0.11, the call was directly calling cuMalloc instead of going through our allocator, and so although some memory was used on the GPU, it wasn't going through our allocator so the whole thing wasn't being taken.  But to properly track memory usage, we make all of ou

[2016-10-13 00:46] jart commented on #4914
@girving could you please take a look at this one?

[2016-10-13 00:57] aselle commented on #153
I am closing this bug due to lack of recent activity. For future searchwes, the original poster posted that they were using Mac OS 10.6. which was subsumed by Mac OS Lion in 2011. libc++ was not included in Mac OS Snow Leopward because Apple had not switched to Clang and libc++ yet. Our binaries are for a single version of Mac OS (El Capitan currently). For the subsequent posters, please file a ne

[2016-10-13 00:57] #153 closed

[2016-10-13 00:59] aselle commented on #1366
@ebrevdo Is this done now?

[2016-10-13 01:02] jart commented on #4923
Thank you for reporting this. I wrote up a change which will get approved soon fixing this. Once it gets pushed to GitHub this issue will be closed.

[2016-10-13 01:10] gunan opened #4931 "Couldn't open CUDA library libcuda.so.1 in when building using nvidia docker cuda8 image"
We built tensorflow on nvidia-docker image nvidia/cuda:8.0-cudnn5-devel
"""
However, when using the package we built, we run into this problem:
I tensorflow/stream_executor/dso_loader.cc:105] Couldn't open CUDA library libcuda.so.1. LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64:
"""
In this special Dockerfile, we are using whatever LD_LIBRARY_PATH defined by nvidia docker.

It loo

[2016-10-13 01:10] gunan commented on #4931
@yifeif is also working on this

[2016-10-13 01:12] jart commented on #4895
CUDA 8.0 will be supported soon. Right now we only officially support 7.0 - 7.5. Please see #2559 which is tracking this.

[2016-10-13 01:12] #4895 closed

[2016-10-13 01:13] aselle commented on #2234
I've confirmed that this is now fixed.

[2016-10-13 01:13] #2234 closed

[2016-10-13 01:14] jart commented on #4910
Thank you for taking the time to send us a report. We don't CUDA 8.0 yet. It will be supported soon. Right now we only officially support 7.0 - 7.5. Please see #2559 which is tracking this. There's also #4895 which encountered this issue on the same version of Ubuntu.

[2016-10-13 01:14] #4910 closed

[2016-10-13 01:14] tatatodd commented on #4766
@civilmanxx Thank you for the files.  I can't figure out what's wrong.

One thing that might be suspicious in your graph.pbtxt is the existence of nodes prefixed with "save_1".  You can inspect the file itself (it's just text file) or use tensorboard to visualize it.  That's making me suspect that something about your finetuning is causing a mismatch somewhere.

Perhaps one thing to try is to use

[2016-10-13 01:15] aselle commented on #387
Any objections to closing this given that there are now relatively working R bindings https://github.com/rstudio/tensorflow

[2016-10-13 01:17] jart commented on #4875
Correct. We don't support CUDA 8 yet. But that should hopefully change in a matter of weeks when rc2 comes out. Thanks for taking the time to report the issue.

[2016-10-13 01:17] #4875 closed

[2016-10-13 01:22] jart commented on #2559
Update: We're actively working on CUDA 8.0 support. One potential blocker so far is #4931.

[2016-10-13 01:22] mbz opened #4932 "Distributed inception stuck at tf.initialize_all_variables()"
I'm running distributed training of Inception but its behavior is unpredictable and time to time the _**chief**_ node stuck at (I found out the line through adding logs for every line):

[code]

The `init_op` is assigned to `tf.initialize_all_variables()` in Inception distributed training. As I mentioned, the behavior is random and it only happens time to time.

Has anyone else has this issues?

I

[2016-10-13 01:25] jart commented on #4931
Is this related to #4397?

[2016-10-13 01:30] jart commented on #4929
What version of CUDA are you using?

[2016-10-13 01:31] MansMeg commented on #387
No, great!

Skickat från min iPhone

[2016-10-13 01:37] jart commented on #4926
Are you using CUDA 8.0? Right now we only support 7.0 - 7.5. But we're actively working on supporting 8.0. See #2559.

@davidzchen is it possible setting the CUDA toolchain is what caused the "undeclared inclusion" error with zlib? Possible duplicate of #2109.

[2016-10-13 01:51] jart commented on #4894
Try putting the word `sudo` before that last command and it should work. If not, please let us know.

[2016-10-13 01:51] #4894 closed

[2016-10-13 01:59] jart commented on #4849
Thank you for reporting this. I've contacted just the right person who will be able to help out with this shortly.

[2016-10-13 02:02] jart commented on #4852
Thanks for reporting this issue. In order for us to help, we need concrete steps to reproduce the bug.

[2016-10-13 02:49] jdc08161063 opened #4933 "I want to write a while_loop in while_loop. Does anyone know how write it correctly or have some examples?"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-10-13 02:58] flyfj commented on #4830
@jart just like what @bc-lee did: tensorboard --logdir=/path/to/log

[2016-10-13 03:02] AFAgarap commented on #4841
I was suspecting that there was some problem with the code or something, but wasn't sure where or which module would it be. Thanks for this, @jihunchoi I'll try it later.

[2016-10-13 03:03] flx42 commented on #4931
This file is only available at runtime when using `nvidia-docker`, if you don't see it, you have a problem.

[2016-10-13 03:05] flx42 commented on #4931
@jart: no, I believe this is different. In #4397, the issue is that the install path of cuDNN varies depending on how it was installed (deb or tarball).

[2016-10-13 03:13] adrianhust commented on #3211
update tf to 0.10, then fix it

[2016-10-13 03:48] gunan commented on #4926
When building natively, I can build using cuda8 without any problems.
But this issue report is missing too much information.

Is it possible reporter is missing either the prerequisites:
$ sudo apt-get install python-numpy swig python-dev python-wheel

Or forgot running ./configure before building?

[2016-10-13 03:51] gunan commented on #4912
@mrry might have an answer, but we do not officially have support for windows yet.
Therefore, pip packages built might not be working on windows.

[2016-10-13 03:53] gunan commented on #4931
@flx42 When running nvidia-docker, I can verify that the following command does not return anything:
$ find / -name libcuda.so.1

However, in the host system I can verify that it is available.

[2016-10-13 04:10] flx42 commented on #4931
@gunan please file a bug against `nvidia-docker`, and include the output of `ls -R /var/lib/nvidia-docker/volumes/nvidia_driver/`

This is what I have:
[code]

[2016-10-13 04:10] wsnooker opened #4934 "How to get word alignment in attention_seq2seq in Translate.py?"
Hi,
I'm wondering if i get the word alignment probability in the seq2seq model for language translation.

Thanks a lot!
Stephen

[2016-10-13 04:13] jart commented on #4847
Does this information help solve your problem?

[code]

[2016-10-13 04:27] AlvinChen13 opened #4935 "Does Distributed TensorFlow support Infiniband?"
Based on stackoverflow, the answer is no.

If it is no, does TF have plans to support Infiniband?

http://stackoverflow.com/questions/39184496/does-distributed-tensorflow-support-infiniband-interconnections-out-of-the-box

[2016-10-13 04:28] AlvinChen13 commented on #4548
4 nodes get 4x performance improving, and the network is the bottleneck.

[2016-10-13 04:28] #4548 closed

[2016-10-13 04:37] jart commented on #4865
Thank you for reporting this issue. You're correct that warnings like these should be taken seriously. To help me prioritize things, I just want to confirm whether or not this is causing TensorBoard to display incorrect data.

[2016-10-13 04:44] flx42 commented on #2559
@jart: FWIW, CUDA 8.0 has been working fine for us with TF r0.10 and I just tried r0.11, it seems fine too.
This is my fixes on the official Dockerfile:
[code]

[2016-10-13 04:45] jart commented on #4857
strides: A list of ints that has length >= 4. 1-D of length 4. How far the centers of two consecutive patches are in the images. Must be: [1, stride_rows, stride_cols, 1].

Why would you set stride_cols to 0?

[2016-10-13 04:56] vincepy commented on #622
1.download [ez_setup.py](https://bootstrap.pypa.io/ez_setup.py)
2.run script >python ez_setup.py
It works for me (in windows 7)

[2016-10-13 05:14] jart commented on #4851
Is it possible you forgot to run `./configure` before building? Or forgot to: `sudo apt-get install python-numpy swig python-dev python-wheel`? See also #4926.

[2016-10-13 05:35] gunan commented on #4931
I got one machine working!
Was trying many different combinations, but finally using ubuntu 16.04, 361 driver from ubuntu repo, runfile installer to install just cuda toolkit, and nvidia cuda and cuda-devel image, and mucking with our Dockerfile, I got everything working.

I got rid of the old VM before this report, but I will create the issue once I can re-reproduce the failure.
Thanks for your i

[2016-10-13 05:35] #4931 closed

[2016-10-13 06:47] magicwifi commented on #4680
@j0el  cool！

[2016-10-13 06:50] magicwifi commented on #4680
@tusharsoni08  a little different when compling some package between in ubuntu and in raspbian

[2016-10-13 07:13] wangyongliang commented on #4164
@AlvinChen13
Hi Alvin~

I have tried distributed inception model in https://github.com/tensorflow/models.git with 1 worker，2 workers，4 workers on GPU(K20C) server without infinityband.
compared with single GPU version, distributed looks like can't reduce any training time to achieve the same error rate.

[2016-10-13 07:24] DaveyTao commented on #4852
@jart  I think this bug maybe caused by the numpy incompatibilities with the current TensorFlow version (r0.11). The detail refers to : https://github.com/tensorflow/models/pull/510.
When I run the code with tensorflow (r0.10), there is no error occured.
Thank you.

[2016-10-13 08:02] DEKHTIARJonathan commented on #4929
Here is my version of CUDA on the host server:
[code]

I installed it the following way :

[code]

I am running with the official NVIDIA-Docker image, GPU Enable:

![capture_](https://cloud.githubusercontent.com/assets/10923599/19341014/f976f27a-912b-11e6-8ae6-cb63f070f22b.PNG)

Very last Docker Images available on the GCR and Docker Registry

The output given by "nvidia-smi":
[code]
Driver Versio

[2016-10-13 08:02] DEKHTIARJonathan commented on #4929
Maybe it is related to the error I have here to #4930

[2016-10-13 08:04] tillahoffmann commented on #4909
I am using 7.5.17.

[2016-10-13 08:12] DEKHTIARJonathan commented on #4930
It seems like I am able to run the failing code :

![capture_](https://cloud.githubusercontent.com/assets/10923599/19341349/5ba6d3ce-912d-11e6-8724-f0e620045106.PNG)

So I would say, not related. If you need me to run any code. Do not hesitate. You will find my running configuration in this Issue : #4929

Thanks for the help !

[2016-10-13 08:51] YangKuo221 opened #4937 "Build iOS sample failed"
After I run the tensorflow/contrib/makefile/build_all_ios.sh command,
I got the messages bellow:

echo 'protoc not found at
~/tensorflow/tensorflow/contrib/makefile/gen/protobuf-host/bin/protoc. Build it first.'
protoc not found at ~/tensorflow/tensorflow/contrib/makefile/gen/protobuf-host/bin/protoc. Build it first.

I check the protobuf-host directory. This folder contains nothing, how can I sol

[2016-10-13 08:58] timmeinhardt commented on #1045
Can someone elaborate why this got closed without resolving the confusion around initializing all and/or local variables? This should definitely be changed or documented accordingly!

[2016-10-13 08:59] AFAgarap commented on #4841
``
$ git rev-parse HEAD
``
``
$ 36ebbf1ddc3ed820b7a5572ff4ed8e9bc707b8e5
``

[code]

[code]

I have two `bazel` installed because I've read somewhere that `bazel-0.3.1` is the one that works for TF. @tatatodd

[2016-10-13 09:03] jihunchoi commented on #4841
Hello @AFAgarap, I think you had intended to tag @jinhou but tagged me by mistake :)

[2016-10-13 09:22] ChaunceyL commented on #4841
@tatatodd
I have met the same issue.
$ git rev-parse HEAD
73b01567d68d4639d2329deb335ddfcd9c04f87c

$ bazel version
.
Build label: 0.3.1
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Fri Jul 29 09:09:52 2016 (1469783392)
Build timestamp: 1469783392
Build timestamp as int: 1469783392

[2016-10-13 09:36] AFAgarap commented on #4841
@jihunchoi Sorry, my bad. :grinning:

[2016-10-13 09:37] AFAgarap commented on #4841
@jinhou Nope, it didn't solve my problem. :disappointed:

[2016-10-13 09:37] AFAgarap commented on #4841
@jinhou When it is building, it crashes at some point. :disappointed:

[2016-10-13 10:04] jihunchoi opened #4938 "A bug on embedding_attention_seq2seq when output_projection is None?"
When I use embedding_attention_seq2seq without giving an `output_projection` argument, I experienced that the program crashes by a memory allocation error, even when the model ran fine in other libraries or my own implementation of attention seq2seq.
I didn't suffer this problem when I give an `output_projection` argument to the function explicitly.

I suspect it occurs by the following fact: when

[2016-10-13 10:26] jkschin commented on #4772
-rw-r--r-- 1 root root   322936 Aug 16  2015 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Aug 15  2015 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root       19 Aug 15  2015 /usr/local/cuda/lib64/libcudart.so.7.5 -> libcudart.so.7.5.18
-rwxr-xr-x 1 root root   383336 Aug 15  2015 /usr/local/cuda/lib64/libcudart.so.7.5.18
-rw-r--r-- 1 root root

[2016-10-13 10:35] ann2708 opened #4939 "System hangs while training"
Hi everyone,

I am trying to train model for handwritten digits. My data consists of images, each of size 80X80. So I get 6400 features as inputs.
While trying to train model as per code used in https://www.kaggle.com/kakauandme/digit-recognizer/tensorflow-deep-nn, my systems hangs after 200 iterations with training accuracy 0.06.

Why is this happening? I don't get any errors. My system just free

[2016-10-13 10:41] AFAgarap commented on #4841
I have `tensorflow` installed using binary, with CUDA 8.0, and cuDNN 5.0.
Does the binary-installed tensorflow has anything to do with this failure to build from source? @tatatodd @jinhou

[2016-10-13 11:45] mrry commented on #4912
Can you please share the exact commands that you ran between "activating tensorflow" and "importing tensorflow"?

[2016-10-13 11:55] loretoparisi opened #4940 "Tensorflow and emscripten"
Any plans to add the build chain for emscripten?
At this time there is this attempt https://github.com/tomasreimers/tensorflow-emscripten, but a official supported would be awesome!

[2016-10-13 12:36] bbrumpom commented on #734
I have a similar error message, in my case I am able to train let say model A, and the only thing I change in model B are sizes of convolution filters and pooling windows. I am wondering if it can be caused because the matrix operations are too computionally expensive? The error message:
I tensorflow/core/common_runtime/gpu/gpu_init.cc:102] Found device 0 with properties:
name: Quadro K2000
major:

[2016-10-13 12:52] DevinCheung commented on #4912
@mrry
I followed the README: "Invoke MSBuild to build TensorFlow", run
'MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj on cmd.exe'
And it It compiled.

Then I "activate tensorflow", and open the python.exe.
And I "import tensorflow", it said "no module named tensorflow".

Is there anything that I have missed?  Thanks

[2016-10-13 13:05] mrry commented on #4912
What command do you run to "activate tensorflow"? Is this an Anaconda command?

It sounds like there's a step missing where I'd expect you to install the PIP package. Something like the following (where `%TF_PIP_PACKAGE_FILENAME%` is replaced with the path to the PIP package that you just built):

[code]

[2016-10-13 13:13] barantes commented on #4922
Hi Andrew. It works pretty well using the instructions above. Thanks for the help!

Bruno.

[2016-10-13 13:13] #4922 closed

[2016-10-13 13:31] DevinCheung commented on #4912
@mrry
Excuse me, after pip being successfully built, what the next step shall I do? Yes, of course, I use Anaconda.

Thanks for your generous help!

[2016-10-13 13:36] ZijiaLewisLu commented on #4857
Because I want to patch only move on rows. What's the right way to do so?

[2016-10-13 13:38] asanakoy commented on #4830
Same here. A lot of IOErrors and tinsted of graph I see a black rectangle in the browser.
A lot of html and js files are missing in the tensorboard folder.
Ubuntu 14.04.5 LTS, python 2.7.11
Tensorflow v. 0.11.0rc0 installed from pip.

[code]

[code]

[2016-10-13 13:39] eric-czech commented on #4865
I don't believe the data shown is incorrect because of this, I think it's just a false warning.  Although I can't say that with 100% confidence since I'm really sure if there may be subtle differences when events already exist from previous runs (but there are no obvious differences as far as I can tell).

[2016-10-13 15:04] ebrevdo commented on #1366
Yup

On Oct 12, 2016 6:00 PM, "Andrew Selle" <notifications@github.com> wrote:

[2016-10-13 15:04] #1366 closed

[2016-10-13 15:12] tachim commented on #4847
Hi @jart, no, it doesn't because it works with a different quantization of the same frozen model file and the same runtime code on iOS.

[2016-10-13 15:14] djph29 opened #4943 "error building tensorflow example for ios"
Hi,
I am trying build the ios app detailed in https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/

but it fails with:

**checking whether we are cross compiling... configure: error: in `/projects/tensorflow/tensorflow/tensorflow/contrib/makefile/downloads/protobuf':
configure: error: cannot run C compiled programs.
If you meant to cross compile, use `--host'.
See `config.log' for more d

[2016-10-13 15:34] hholst80 commented on #4914
I think @egpbos exposed a bug in `tf.select` and how it computes gradients.

[code]

[2016-10-13 15:53] djph29 commented on #4943
Sorry, duplicate of #4640

[2016-10-13 15:53] #4943 closed

[2016-10-13 16:41] EmmaBYPeng commented on #2169
@hermitman Hi, I trained my deconv net with this layer and I believe the gradients are back propagated correctly (@fabianbormann 's original version also worked for me).

[2016-10-13 16:46] #387 closed

[2016-10-13 16:56] sunils27 commented on #851
Wondering if there's a concise summary of everything in this issue? It would definitely make it easier for others trying to get TF working on a TX1.

[2016-10-13 17:05] hermitman commented on #2169
@EmmaBYPeng That is awesome! Could you share your deconv network structure? I have stuck on this problem for a while. If it works for you, then the problem should be somewhere in my deconv network structure. I basically have something like this:

[code]

if I `opt.compute_gradient()`, the gradients after the first unpooling layer are all `None`. If the unpooling is fine, I wonder what caused my pr

[2016-10-13 17:05] dsmilkov commented on #4830
Hi,

We just resolved this internally. Should see the fix at master within 1-2 days.

Thanks for letting us know!

[2016-10-13 17:05] #4830 closed

[2016-10-13 17:06] tatatodd commented on #4772
@jkschin The commit hash 51238b1b5219a37ba145915efa764cca870e0d9f corresponds to the `models` repository:
https://github.com/tensorflow/models/commit/51238b1b5219a37ba145915efa764cca870e0d9f

How about your `tensorflow` repository?  If you installed from source, please provide the commit hash of that repo (i.e. run `git rev-parse HEAD` under the tensorflow repo directory).  Otherwise provide a lin

[2016-10-13 17:12] vrv commented on #1450
@matpalm: Has it happened consistently since? These kind of one off failures can happen if there's some GPU hardware issues.  @yash0307 same question: does it happen immediately or only after a while?

@kbrems can you include the int64 code? int64 should definitely compile, and I can't figure out the error from the compiler output alone.

[2016-10-13 17:15] yaroslavvb commented on #1045
Sorry, I shouldn't have closed it -- I mistakenly thought the problem was user forgetting to run `initialize_all_variables`, but the real issue is that a new class of variables was added that's not part of `all_variables`, but still needs to be initialized. I'm not sure there's an easy way to salvage the meaning of `all` in `all_variables`, @vrv may have more context on this

[2016-10-13 17:19] matpalm commented on #1450
I've not seen it again & have been running similar jobs (i.e. in terms of GPU util & mem load) almost every night since

[2016-10-13 17:27] Sadrpour commented on #3431
guys i am trying to

add
cxx_builtin_include_directory: "/usr/local/cuda-8.0/include"
to
third_party/gpus/crosstool/CROSSTOOL

but i get the following, where in the CROSSTOOL should i copy paste that line ?

ERROR: java.io.IOException: Could not read the crosstool configuration file 'CROSSTOOL file /home/---/Downloads/tensorflow/third_party/gpus/crosstool/CROSSTOOL', because of a parser error (1:1

[2016-10-13 17:30] jart commented on #4391
CUDA 8.0 isn't officially supported yet. Please see #2559. We're working on it now.

[2016-10-13 17:30] #4391 closed

[2016-10-13 17:30] vrv commented on #3586
Duplicate of https://github.com/tensorflow/tensorflow/issues/1045

[2016-10-13 17:30] #3586 closed

[2016-10-13 17:30] gaurav5670 commented on #4200
@loretoparisi with latest version of tensorflow i.e r0.11 the error is gone.
I could not reproduce this error now. Thanks for your support. You can close this bug now.

[2016-10-13 17:31] bhack commented on #4907
I think that we can restore a tfslim model meta and checkpoint using:
[code]
But after notebook uses
[code]
I've tryied to substitute with

[code]
to maintain the next cells code and change only layers names in the notebook but I think that it is not the right way to do it.

[2016-10-13 17:31] vrv commented on #1045
There some some talk of a deprecation of "all" so that initialize_all_variables would be replaced with initialize_$something_variables, but the name was never settled on.  It's also going to be hard since nearly every program in TF uses initialize_all_variables().

Assigning to those who have thought about this more.

[2016-10-13 17:32] Sadrpour opened #4944 "Tensorflow GPU installation fails due to Bazel build"
I've been trying to install tensorflow with GPU support using these steps:
http://www.nvidia.com/object/gpu-accelerated-applications-tensorflow-installation.html

This is the error message that I'm getting when I try to run the bazel build command for building the tensorflow pip package (with the --config-cuda flag set):

`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_p

[2016-10-13 17:38] timmeinhardt commented on #1045
From the opposite point of view there are probably only very few cases where somebody calls 'initialize_all_variables' and does not want to initialise all variables including the local variables. To ensure backwards compatibility I think 'initialize_all_variables' should be kept and do what its name suggests.

But I am curious to here what more experienced tensorflowers might have to say!

[2016-10-13 17:42] vrv commented on #1045
From my limited understanding, that's not the case: there was some low level library added that decided that its variables didn't want to be part of "all" because they are local to each replica of a model, and would break a ton of models if they were initiailzed along with "all".  Hence the dilemma, and why this wasn't already done.  In other words, "local" variables are explicitly not part of "al

[2016-10-13 17:49] tatatodd commented on #4841
@AFAgarap See related issue #4910

We don't support CUDA 8.0 yet. It will be supported soon. Right now we only officially support 7.0 - 7.5. Please see #2559 which is tracking this. There's also #4895 which encountered this issue on the same version of Ubuntu.

I'm closing this out, but feel free to comment on this issue or file a new issue if you have a different problem.

[2016-10-13 17:49] #4841 closed

[2016-10-13 18:28] asanakoy commented on #492
Hi,
I use  TensorFlow v0.11.0 RC0.
A simple Alexnet model while training with batch size 128  eats up to 4800 MiB (with config.gpu_options.allow_growth = True),
while the same model on caffe with bach size 128 takes roughly 2700MiB.

This is ridiculous. And the speed sucks (~2 times slower than caffe). And nowhere on the tensorflow website you can find fair performance estimation.

[2016-10-13 19:28] flyfj commented on #4830
@dsmilkov awesome, thanks! will the official binary be updated?

[2016-10-13 19:34] AFAgarap commented on #4841
@tatatodd You do not support CUDA 8 yet for building from sources? Because the one I installed using binary pip is working out fine.

[2016-10-13 20:11] tatatodd commented on #4841
@AFAgarap We plan on CUDA 8 support to come officially in TensorFlow version 0.11rc1.

In general there is no difference in features between our binary and source releases at a particular version.  I.e. our binaries are built out of our sources at a particular version.

In the meantime if you're building from sources, and want to use CUDA 8, you'll need to ensure you have a fresh enough version of

[2016-10-13 20:54] rachelwarren commented on #1965
for the record as pr this thread a really simple solution was just to install python with brew, which aligns all the paths for you.

[2016-10-13 21:17] jart commented on #4937
Assigning to @petewarden who maintains this Makefile.

[2016-10-13 21:27] jart commented on #4940
Do you have a design doc?

In order to merge a feature like this, it would ideally be configured using Bazel, possible using [cc_toolchain()](https://github.com/bazelbuild/bazel/blob/master/src/main/java/com/google/devtools/build/lib/rules/cpp/CcToolchain.java). Our Makefile build system is community supported and intended for platforms that aren't able to run Bazel.

[2016-10-13 21:30] civilmanxx commented on #4766
inception v3 model is too large for Android and iOS devices. It runs out of memory. In the example of iOS for tensorflow, it uses v1 as well.

[2016-10-13 21:33] jart commented on #4861
Try running `sudo apt-get install python-sklearn` inside the Docker container.

Thank you for reporting this issue. I'm writing up a change to the Dockerfile now so others don't run into this same problem. It'll be exported to GitHub in a matter of days. This bug will be closed when that happens.

[2016-10-13 21:47] aselle commented on #4937
Check the build_all_ios.sh for errors.

[2016-10-13 21:47] tatatodd commented on #4766
@civilmanxx I see, thanks for the info.

Maybe @petewarden has some ideas about why freeze_graph is failing on a fine-tuned inception v1 graph.

[2016-10-13 22:01] kbrems commented on #1450
Here is the example with int64. I just pulled the latest source from tensorflow master this morning and tried again and it still does not compile.
[issue1450int64.zip](https://github.com/tensorflow/tensorflow/files/528293/issue1450int64.zip)

[2016-10-13 22:07] davidzchen commented on #4928
The problem is that if swig isn't found, we fail immediately and the following error handling code never executes. Further, since we are redirecting stderr (so that we can print a more helpful error message), if the command fails, it fails silently:

[code]

Opened #4948 to fix this.

[2016-10-13 22:10] civilmanxx commented on #4766
In fact, #4790 is more critical. If i can't freeze a fine tuned V1 model into .pb, I still can retrain a new V1 model from scratch base on my dataset. The problem is the new one can't run on iOS as well, since the kernels issue. The nodes in trainning phase are not removed after freeze.

[2016-10-13 22:51] jart commented on #4856
Thank you both for reporting. @stepseazy Are you using Firefox? Where did you get TensorBoard? Bazel at HEAD? Or pip install? I'd also be interested in knowing the same from @alexbeloi.

CC: @danmane

[2016-10-13 23:04] jart commented on #4859
@woodshop Thank you for putting the effort into creating a very readable issue.

@girving Could you please take a look into this one?

[2016-10-13 23:06] vrv commented on #1450
Your in_types looks to be int16, not int64, not sure if this is the only problem though.  Other than that, this does seem like something we do all the time in other kernels, so I'm not sure why it's not compiling.

[2016-10-13 23:08] alexbeloi commented on #4856
@jart : I have installed with pip install

tensorflow version 0.11.0rc0
not sure how to get tensorboard version if it is independent from tensorflow

[2016-10-13 23:20] jart commented on #4762
Thank you putting in the time to write that documentation above @gibiansky. Maybe something like that is more appropriate for a pull request? You've signed our CLA and have contributed to the documentation in the past. What would you recommend for him @yuanbyu?

[2016-10-13 23:39] jart commented on #4903
Even after rollback https://github.com/tensorflow/tensorflow/commit/39d0932c8796802a15663d3b59f559ab36244ece this issue most likely still exists @elibixby, due to the fact that the if name == main doesn't get evaluated when the pip generated script calls it.

[2016-10-13 23:40] stepseazy commented on #4856
Yes, I was indeed using Firefox. It's the only browser I have installed in ubuntu right now so while I saw alex's response (thanks alex) I haven't tried another browser yet but I'll report back shortly...

[2016-10-13 23:50] faruihuihui commented on #3127
@zh19970205 Did you solve your problem? I have the same issue...

[2016-10-13 23:56] kbrems commented on #1450
My search/replace failed to catch that. I changed the in_types to int64, but it still does not compile.

[2016-10-14 00:08] jart commented on #4886
@girving Another gradients question.

[2016-10-14 00:09] vrv commented on #1450
Even though we typedef int64 to int64_t, I think you need to use int64, not int64_t.  The following simpler code (which doesn't add one, but for illustration) compiled for me:

[code]

[2016-10-14 00:09] #1450 closed

[2016-10-14 00:09] miku commented on #1835
Quick-and-dirty solution. Convert all Markdown files to PDF, then join. Order maybe broken, but you get a single PDF (2856 pages, some documents missing, without images).

[code]

[2016-10-14 00:16] jart commented on #4883
Thank you for answering this one @yaroslavvb.

[2016-10-14 00:16] #4883 closed

[2016-10-14 00:16] #4928 closed

[2016-10-14 00:26] xudaaaaan commented on #443
Does the logsoftmax be added? Still I can't use logsoftmax

[2016-10-14 00:27] infnorm commented on #4886
@ebrevdo can you take a look on this since @girving is not available right now.

[2016-10-14 00:28] aselle commented on #4886
@ebrevdo can you take a look on this since @girving is not available right now.

[2016-10-14 00:33] mingyr commented on #17
@meteorcloudy, Hi, Yun:
The C++ example trainer must built by the prebuilt bazel binary installed on Windows, or could I sync to the latest git version of bazel, and use the custom built bazel?

Actually I choose the second way, use the customer build bazel, however, it complains as follows:

ERROR: C:/tensorflow/tensorflow/core/BUILD:108:1: output 'tensorflow/core/exampl

[2016-10-14 00:38] gunan commented on #4397
Just tried removing those, and but it looks like we need the path:
/usr/local/cuda/extras/CUPTI/lib64
As without it my tests are failing with:
 tensorflow/stream_executor/dso_loader.cc:105] Couldn't open CUDA library libcupti.so. LD_LIBRARY_PATH: /usr/local/nvidia/lib:/usr/local/nvidia/lib64:
F tensorflow/core/platform/default/gpu/cupti_wrapper.cc:59] Check failed: ::tensorflow::Status::OK() == (:

[2016-10-14 00:44] jart opened #4950 "Slim namespace has non-slim symbols"
[tensorflow/contrib/slim/**init**.py](https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/contrib/slim/__init__.py) makes symbols from unrelated namespaces available in its own.

[code]

This makes it difficult for users to reference names canonically. For example #4887 where a user said `tf.contrib.slim.arg_scope` instead of `tf.contrib.framework.arg_

[2016-10-14 00:47] YangKuo221 commented on #4937
@aselle
I tried find ~/tensorflow -name 'protoc',
No protoc folder found...

How should I do next?
Thanks.

[2016-10-14 00:47] flx42 commented on #4397
Don't remove the CUPTI path, just don't erase the previous value of `LD_LIBRARY_PATH` ;)

My fix:
[code]

[2016-10-14 00:50] jart commented on #4887
Tangential: I'm surprised you can reference `tf.contrib.framework.arg_scope` as `tf.contrib.slim.arg_scope`. We're going to have to do something about that. I filed #4950.

Maybe the `is_training` param should be deprecated on the vgg model and display a warning to use `tf.contrib.framework.arg_scope` instead. I'm going to mark this as contributions welcome if anyone wants to send us a PR with tha

[2016-10-14 00:54] jart commented on #4863
Thanks for reaching out @peterkfm, and for your patience. This is a question that's probably more appropriate for [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow). We rely on the community for support and try to keep this issue tracker focused on bugs and feature requests.

[2016-10-14 00:58] wagonhelm commented on #4944
The posting guidelines ask for a lot of information that could be very helpful such as:

[Similar Posts](https://github.com/tensorflow/tensorflow/issues/4368)
Operating System
Cuda, CudNN & Bazel Version

The type of graphic card wouldn't hurt to know either.

[2016-10-14 01:09] dsmilkov commented on #4830
Not the current binary, but 0.11 RC1 will have the patch!

[2016-10-14 01:21] jart commented on #4877
Could you share the backtrace and a small code example to reproduce?

[2016-10-14 01:31] karthiek commented on #17
@meteorcloudy Hi Yun,

I have followed similar procedure but I get the following error:
cd C:/tools/msys64/var/tmp/Bazel/V1uFCi$H/execroot/tensorflow
bazel-out/host/bin/external/protobuf/protoc.exe --cpp_out=bazel-out/vc_14_0_x64-opt/genfiles/ --plugin=protoc-gen-grpc=bazel-out/host/bin/external/grpc/grpc_cpp_plugin.exe --grpc_out=bazel-out/vc_14_0_x64-opt/genfiles/ -I. -Iexternal/protobuf/src -Ib

[2016-10-14 01:40] jart commented on #4880
According to #3714 "El Capitan has a protection feature built-in that prevents overwriting some python dirs even with sudo" and "Do not use sudo pip on Mac. use `pip install --user <package_name>`." Maybe those security features are why pip wasn't able to install pbr and funcsigs, even though they're dependencies of mock, which was installed.

But since mock declares its dependencies in an unusual

[2016-10-14 01:58] benoitsteiner commented on #4425
Regression test submitted in https://github.com/tensorflow/tensorflow/commit/9bff346137aa1c627f2dccb77fdda10863456b45

[2016-10-14 01:58] #4425 closed

[2016-10-14 02:06] #4844 closed

[2016-10-14 02:06] #4861 closed

[2016-10-14 02:07] jart commented on #4888
What are the commands you're using to build this?

[2016-10-14 02:09] jart commented on #4885
Thanks for reaching out @hx173149. We rely on the community to provide support so this question is probably more appropriate for [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow). We try to keep this issue tracker focused on bugs and feature requests.

[2016-10-14 02:09] #4885 closed

[2016-10-14 02:14] jart commented on #4858
Glad you solved the problem @wwxFromTju. We hope TensorFlow serves you well in your studies. If you have any other questions in the future, the [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) community is a better forum for support. We try to keep this issue tracker focused on bugs and feature requests.

[2016-10-14 02:14] #4858 closed

[2016-10-14 02:16] jart commented on #4842
Thanks @zakizhou for helping to resolve this problem for @xuhuapeng. If you have questions in the future, we recommend [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) for community support. We try to keep this issue tracker focused on bugs and feature requests.

[2016-10-14 02:16] #4842 closed

[2016-10-14 02:18] DaveyTao commented on #4772
Please refer to: https://github.com/tensorflow/models/pull/510
and https://github.com/tensorflow/models/pull/510/commits/608f46debea6b1e4ffb6c3ccea5771004693bd4c

[2016-10-14 02:45] jart commented on #4855
Thanks for reaching out. I've passed word along.

[2016-10-14 02:48] jart commented on #4871
We recommend posting on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) for community-driven support. We try to keep this issue tracker focused on bugs and feature requests.

[2016-10-14 02:48] #4871 closed

[2016-10-14 02:52] jart commented on #4890
How are you invoking these tests? What version are you using?

[2016-10-14 03:15] vrv commented on #4907
Assigning to Pete, since I believe he set up the inception5h.zip which has the raw GraphDef rather than the MetaGraph.  I don't know how to regenerate the MetaGraph for inception easily.  Presumably someone could take an inception model from github.com/tensorflow/models.git and do this for us as a learning exercise, if Pete or someone else doesn't get to it.

[2016-10-14 03:22] llhe commented on #3168
The issue resolved in my case by calling initialize_local_variables(). It's a regression compared with r0.9.

[2016-10-14 03:44] jart commented on #4944
It seems this issue is a duplicate of http://stackoverflow.com/questions/40010981/tensorflow-with-gpu-support-installation-error-the-specified-crosstool-top-i. We recommend Stack Overflow for support questions. We try to keep this issue tracker focused on bugs and feature requests. Also thanks for helping out with support @wagonhelm.