[2021-09-20 17:47] vulkomilev commented on #52063
I think that the library for the cpu and gpu differs thus the different outcome.

[2021-09-20 17:55] NikoRepo commented on #52046
@tilakrayal  , thank u for your help, I just upgraded my both tensorflow and tensorflow-datasets to latest versions and it worked.

[2021-09-20 17:55] #52046 closed

[2021-09-20 17:55] #51746 closed

[2021-09-20 18:36] Saduf2019 commented on #33303
Thank you for your update, glad the issue is resolved.

[2021-09-20 18:40] msokur commented on #39523
You are right, thank you, I forgot to copy indexing!
It would look like this:

[code]

Was:  ```yield data_generator.getitem()```
Has to be: ```yield data_generator.getitem(i)```

I've also edited my first answer.

[2021-09-20 20:32] rainwoodman commented on #51818
I noticed an interesting code flipping recurrent_v2._use_new_code() to False:

https://github.com/tensorflow/tensorflow/commit/73b709743a2eba2c912351e8d3334ef25e174c4b

This could explain why the performance degraded again.

I checked if I monkey patch a revert of the commit, the speed drastically improves:

[code]

The change is by @yhliang2018 -- any backgrounds on why we have reverted to the ol

[2021-09-20 22:15] luguzman opened #52070 "AttributeError: module 'tensorflow_datasets' has no attribute 'deprecated'"
I'm using tensorflow Version: 2.3.0
and python 3.8.5

[2021-09-21 00:12] tetuomi commented on #51986
@tilakrayal
Thanks for helps!!!

[2021-09-21 00:12] #51986 closed

[2021-09-21 00:27] #48701 closed

[2021-09-21 00:30] jvishnuvardhan commented on #51997
@Vadim-Maklakov I ran your code in colab and local terminal. I notice same results but don't know whether those results are matching with the results mentioned in the book.

Here is the stacktrace from terminal

[code]

Also, check results from [colab](https://colab.research.google.com/gist/jvishnuvardhan/57d46ad98ed02f06d7bbe568f9891e28/untitled1050.ipynb). I also pasted your code in colab and ra

[2021-09-21 00:30] #51997 closed

[2021-09-21 01:16] jvishnuvardhan commented on #51344
@kevint324 Can you please check with recent TF versions and let us know whether the issue persisting or not. Thanks!

[2021-09-21 01:51] #46911 closed

[2021-09-21 02:05] hallowcard13 commented on #51591
So i have used model maker 0.32 and tensorflow 2.5.0 and my model is now working fine

[2021-09-21 02:56] sushreebarsa commented on #52068
@sliu729
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-21 03:31] jackd commented on #15624
I know this is an old issue, but is there any progress towards official support for `SparseTensor.set_shape`?

[2021-09-21 03:40] ArunaKote commented on #52030
@sanatmpa1 ,yes in tf 2.6.0 also same issue exists.

[2021-09-21 03:43] vanajareedy0426 commented on #52058
[gist](https://colab.research.google.com/gist/vanajareedy0426/263f985bd45e8579891507896a0093d4/issue_github.ipynb)

[2021-09-21 03:54] soffieswan041 opened #52071 "Tensor flow"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-21 03:55] Harrelix commented on #52011
Yeah my bad, I followed the windows guide

[2021-09-21 04:14] mohantym commented on #51898
Hi @gao8954, I was getting different error  in TF 2.6 though , Attaching [gist ] (https://colab.research.google.com/gist/mohantym/7e304b7b98370a6fb18bca732383f800/untitled0.ipynb#scrollTo=W5VQnlisn0Y-)for reference. Can you try again after normalizing the data from CSV ( I saw some float point values among integer values) in input data.

[2021-09-21 05:25] tilakrayal commented on #52026
@ReetuData ,
Please free feel to close this issue as it has been tracked in Keras repo.Thanks

[2021-09-21 05:27] #52026 closed

[2021-09-21 05:45] nolanding commented on #35736
Is there someway like set_shape to change the datatype of input tensor. I'm trying to convert model to tflite but facing issues with float64 datatype.

[2021-09-21 05:53] hrw commented on #51886
And another one:

WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/github.com/llvm/llvm-project/archive/f5b8f1247cd9d1b18b7b95f6f197d4d654597529.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found
WARNING: Download from http://mirror.tensorflow.org/github.com/tensorflow/runtime/archive/cf83c

[2021-09-21 05:56] mohantym commented on #52045
Hi, @Saduf2019 ,Could you please at this issue ? Replicating in [2.5](https://colab.research.google.com/gist/mohantym/bb53196c75e3ab96330dbd93c480c0a0/github_52045.ipynb#scrollTo=oS1QZpXWkL_Z),[2.6 ](https://colab.research.google.com/gist/mohantym/5daa1fbb63634d089a455d5a7da86bc9/github_52045.ipynb#scrollTo=oS1QZpXWkL_Z)and [2.7](https://colab.research.google.com/gist/mohantym/49df0055e3b3061a61e0

[2021-09-21 06:23] Saduf2019 commented on #52070
@luguzman
Kindly fill the issue template which helps resolve the issue.
Meanwhile you may verify if you have followed this [link](https://www.tensorflow.org/datasets/api_docs/python/tfds) and similar error issues: [link](https://stackoverflow.com/questions/40956954/tensorflow-attributeerror-module-object-has-no-attribute-deprecated), [link1](https://github.com/tensorflow/tensorflow/issues/6063),[l

[2021-09-21 06:31] Saduf2019 commented on #52071
@soffieswan041
What is the issue faced, can you fill in the issue template.

[2021-09-21 06:55] #38812 closed

[2021-09-21 06:55] #40949 closed

[2021-09-21 07:01] padoremu commented on #37479
@Saduf2019
Thank you for asking after so long. I just tried with a fresh tf-nightly installation (2.7.0-dev20210920) and using the initially posted code, and I can still perfectly reproduce the problem: the larger you set `num_iterations`, the more memory consumption increases. I recommend setting `num_iterations = 1000` and observe the evolution with e.g. top on Linux. Memory consumption steadily

[2021-09-21 07:07] soffieswan041 opened #52072 "Oks"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-21 07:20] mohantym commented on #52072
Hi @soffieswan041 ,
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-21 07:24] JushBJJ commented on #34558
I've recently changed computers (intel i5 CPU), and Tensorflow works 2.x works for me. This is no longer an issue. Sorry for late response.

[2021-09-21 07:55] #23785 closed

[2021-09-21 07:55] #29686 closed

[2021-09-21 07:55] #33687 closed

[2021-09-21 07:55] #33431 closed

[2021-09-21 07:55] #33390 closed

[2021-09-21 08:42] dpintof commented on #27519
If you go the tf.compat.v1.enable_eager_execution() route don't forget to restart your Kernel in Spyder.

[2021-09-21 08:55] daniel-kukiela commented on #52013
Hi @pacospace ,
Can I expect anything still here to happen (I can patiently wait), or do I have to open another issue?

[2021-09-21 09:40] mohantym commented on #52058
Hi @sanatmpa1 ,Could you please look at this issue , This issue's Error stack trace is similar this one  and replicating in TF [2.4](https://colab.research.google.com/gist/mohantym/11fed15ea42a02ec58b0d15b6755285d/issue_github.ipynb#scrollTo=rT_RErtZMVo8),[2.5](https://colab.research.google.com/gist/mohantym/aba97023fafc2986c822e34b4985f608/issue_github.ipynb#scrollTo=rT_RErtZMVo8),[2.6](https://c

[2021-09-21 09:47] pacospace commented on #52013
Hey @daniel-kukiela, from the initial issue/question, I would consider this solved, because using `tf.keras.models.load_model("./elyra-aidevsecops-tutorial/models/210124112759-d97fd1f46b13ee40")` solved my problem. If you want specifically Tensorflow team to solve the issue when you use `tf.saved_model.load` I can reopen it, wdyt @
mohantym?

[2021-09-21 10:19] Saduf2019 commented on #34558
@JushBJJ
Thank you for your update, glad the issue is resolved for you.

[2021-09-21 10:41] UnickSoft commented on #51429
@impjdi Sorry I cannot provide tflite model. I tried to find open models with mean but I can't. If you provide me model with mean, I am able to test it.

[2021-09-21 10:55] #41083 closed

[2021-09-21 11:00] kumariko commented on #22411
@Yangxiu123321 We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. please refer [**`link`**](https://stackoverflow.com/questions/1345670/stack-smashing-de

[2021-09-21 11:04] kumariko commented on #22766
@albertz We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. please check https://github.com/tensorflow/tensorflow/issues/22766#issuecomment-679909377  Th

[2021-09-21 11:13] mohantym commented on #52013
Hi @daniel-kukiela , Sorry for the late response! Actually I checked in Colab earlier.Tried to replicate and resolve the issue. [GIST ](https://colab.research.google.com/gist/mohantym/187d7a2dc387998237211d7c590c6b1a/github_52013_sentdex.ipynb)for reference .For Further help! Please open a new issue. Thanks!

[2021-09-21 11:27] godomainz opened #52073 "Can't install tensorflow 1.8 on windows 10"
python --version --> `Python 3.8.8`
 pip --version --> `pip 21.0.1 from C:\Python\anaconda3\lib\site-packages\pip (python 3.8)`

I typed `pip install tensorflow==1.8`
but it's giving me an error

[code]

there is no more tensorflow 1.8 ?
How can I install tensorflow 1.8 ?

[2021-09-21 11:33] kumariko commented on #24474
@legatoo We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. please check https://github.com/tensorflow/tensorflow/issues/24474#issuecomment-600544122 Tha

[2021-09-21 11:54] sanatmpa1 commented on #52058
@vanajareedy0426,

As per the [gist](https://colab.research.google.com/gist/vanajareedy0426/263f985bd45e8579891507896a0093d4/issue_github.ipynb) that you provided, you have commented out the model.fit() and have you trained the model properly and saved it before converting it to lite?

As pointed out by @mohantym [here](https://github.com/tensorflow/tensorflow/issues/52058#issuecomment-922665116),

[2021-09-21 12:55] #27502 closed

[2021-09-21 12:56] tilakrayal commented on #52073
@godomainz ,
We see that you are using tf version 1.8, 1.x is not actively supported, please update to tf v2.5 or 2.6 and let us know if you are using same issue.Also please take a look at this [link](https://www.tensorflow.org/install) for installing tf latest version.It helps.Thanks

[2021-09-21 13:42] mihaimaruseac commented on #51879
This seems to be WAI.

[2021-09-21 13:46] albertz commented on #22766
I just tried with GCC 9.3.0, CUDA 11.0 and TF 2.3.1 and I don't see the problem anymore.

I'm not exactly sure since what (TF?) version that problem is gone.

[2021-09-21 13:50] sushreebarsa commented on #51963
@jiayugedede Thanks for the update! Could you please let us know if we can close this issue as it has been resolved? Thanks!

[2021-09-21 13:50] sanatmpa1 commented on #52064
@ebraraktas,

Can you take a look at this [link](https://stackoverflow.com/questions/62386682/node-number-x-reshape-failed-to-prepare-tensor-resize-with-tflite-v2-2) which addresses similar issue? Thanks!

[2021-09-21 13:55] kumariko commented on #22766
@albertz  if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-21 13:55] #22766 closed

[2021-09-21 14:19] umadevimcw opened #52076 "Python: XNNPack delegate performance with num_threads is slower than normal tflite without any delagte"
Hi,

For the python-based yolov4 (tflite fp32 model) detection pipeline observed the performance is slower with xnn pack delegate (with num threads options )compared to tflite without any delegate

**System Information**

- Ubuntu 20.04
- Intel i5 8th gen
- Installed TF from source
- TF version 2.6
- Python version 3.9
- Bazel version 3.7.2
- GCC 9.3.0

With reference to the previous issue #42277

[2021-09-21 14:22] sanatmpa1 commented on #52023
@ArunaKote,

As you have already added `tf.ResizeBilinear` and `tf.ResizeNearestNeighbor` in the issue #52030. Can you confirm if we can close this issue as duplicate and track everything at one place in #52030 ? Thanks!

[2021-09-21 14:23] bsarden opened #52077 "[PluggableDevice] C-API Symbols not exposed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2021-09-21 14:23] kumariko commented on #33571
Was able to reproduce the issue in TF v2.6 ,please find the gist [`here`](https://colab.research.google.com/gist/kumariko/7f93c660c0b854c9e4b56ed17618cbd5/untitled23.ipynb#scrollTo=X1Zx7UeBKCiq)..Thanks !

[2021-09-21 14:42] sliu729 commented on #52068
@vulkomilev  @sushreebarsa Hey, thanks for your prompt reaction. The code was not organized to be portable, I will try to reorganize and provide the code to reproduce the problem. In the meanwhile, the NaN problem disappears when I disabled the use of mixed_float16. Is that something already reported by someone else?

[2021-09-21 14:43] Ariel-Lieberman commented on #15690
fixed here - https://github.com/tensorflow/tensorflow/commit/dce9a49c19f406ba45919e8c94474e55dc5ccd54

[2021-09-21 14:44] Ariel-Lieberman commented on #26001
fixed here - https://github.com/tensorflow/tensorflow/commit/dce9a49c19f406ba45919e8c94474e55dc5ccd54

[2021-09-21 14:47] Vadim-Maklakov commented on #51997
Hi, @jvishnuvardhan!
I think that isn't topic for forum and this issue belong Tensorflow developer.
I get the same values ​​as you  above when I executing the script `ch_4_IMDB_binary_classification.py` in the  Python console or using IDE Spyder, Eclipse PyDev or Pycharm.
This result of both cases -  you and me -  when executing as script or compiling in the  IDE Spyder, Eclipse PyDev or Pycharm.

[2021-09-21 14:55] #30356 closed

[2021-09-21 14:55] #31720 closed

[2021-09-21 14:55] #30793 closed

[2021-09-21 15:10] GiacomoMarchioni opened #52079 "make error in Tensorflow Lite Micro"
**System information**
- Linux Ubuntu 20.04
- Python version: 3.8.10

**The problem**
I'm trying to generate the example projects from the tensorflow C++ library with Make and I run in this error:

/bin/sh: 1: python: not found
make: *** [tensorflow/lite/micro/examples/network_tester/Makefile.inc:52 tensorflow/lite/micro/tools/make/gen/linux_x86_64default/prj/network_tester_test/keil/keil_project.

[2021-09-21 15:54] mohantym commented on #52077
Hi @jvishnuvardhan ,Could you please look at this issue?

[2021-09-21 15:55] #42586 closed

[2021-09-21 16:33] kevint324 commented on #51344
@jvishnuvardhan  The issue is valid on tf2.4 and tf2.5.  by recent you mean  tf2.6 or master? Is there a related bugfix or something?

[2021-09-21 16:39] battuzz commented on #38437
Sorry to jump in, but I think that the issue was related to build just the xla_aot_runtime (so not the whole Tensorflow source) with CMake (and not Bazel) in a Windows environment.

And in this respect, I see that the CMakeLists.txt was not updated since this issue was created: https://github.com/tensorflow/tensorflow/blob/r2.4/tensorflow/tools/pip_package/xla_build/CMakeLists.txt

[2021-09-21 16:55] #32920 closed

[2021-09-21 17:04] jvishnuvardhan commented on #51344
Yes. `2.6` or `tf-nightly`. Thanks!

[2021-09-21 18:15] q-ycong-p commented on #50147
Any news? I am also blocked by the same issue.

[2021-09-21 19:09] vulkomilev commented on #52068
Maybe the problem was the usage of different types of variables for weights and backprop. The float format is not very intuitive and funny things can happen.

[2021-09-21 19:12] vulkomilev commented on #52079
Do you have python installed.
You can check by typing
python
in the terminal

[2021-09-21 19:55] #51856 closed

[2021-09-21 22:02] rthadur commented on #16641
This is now supported with latest versions , please check https://blog.tensorflow.org/2020/11/accelerating-tensorflow-performance-on-mac.html.

[2021-09-21 22:02] #16641 closed

[2021-09-21 22:08] rthadur commented on #13064
Contrib folder is deprecated and moved to tf addons , will be closing this request. Thank you

[2021-09-21 22:08] #13064 closed

[2021-09-21 22:11] rthadur commented on #16944
As we do not support 0.11.0 , will be closing this request. Please try latest versions. Thank you.

[2021-09-21 22:11] #16944 closed

[2021-09-21 22:14] rthadur commented on #3001
I guess we can close this request. Thank you

[2021-09-21 22:14] #3001 closed

[2021-09-21 22:52] acaywood opened #52083 "Bug"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-09-21 22:52] #52083 closed

[2021-09-21 22:55] #51763 closed

[2021-09-21 22:56] GiacomoMarchioni commented on #52079
I've checked and I confirm that I have python version 3.8.10

[2021-09-22 01:03] sjtusmartboy commented on #51839
@rainwoodman Thanks for your professional reply. I've tried rewriting all the numpy code to tf code, but there's still memory leak. I do not know how to find the bugs not, currently no any method to analyze. Is there any function like graph.finalize() in tf 1.x?

[2021-09-22 01:24] #52032 closed

[2021-09-22 01:54] rainwoodman commented on #51839
Sorry I do not know much about graph.finalize() or tf 1.x to directly answer your question.

On detecting memory leak, the test case for #35084  may serve as an example:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/kernel_tests/memory_cleanup_test.py#L151

FYI: here is the workaround used by #35084, via _eager_py_func.
https://github.com/tensorflow/tensorflow/blob/ma

[2021-09-22 01:55] #50433 closed

[2021-09-22 02:33] sjtusmartboy commented on #51839
@rainwoodman Thanks again very much for helping me find the solutions. I will try the memory cleanup test. Here I find a fix relating to the memory leak,
https://stackoverflow.com/questions/58915522/tf2-0-memory-leak-from-applying-keras-model-to-symbolic-tensor

I wonder whether this issue has being fixed? Is it a must to put the loop inside the tf.function?

[2021-09-22 02:43] qq747688898 commented on #51900
@Saduf2019
So can i think that if I want to make my gpus run parallel when using distributed strategies, the model must run without eager mode?

[2021-09-22 03:06] Snape3058 opened #52085 "Potential use-after-free bug in function `EagerTensor_shape_tuple` by using an object after all its references released (a static analyzer report)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): faad219f
- Python version: 3.8.5

**Static analysis results, no POC available.**
This static analysis report has been manually reviewed to verify its validity.

**Describe the cur

[2021-09-22 03:17] negf opened #52086 "_EagerConst: Dst tensor is not initialized"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 21.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0-dev

[2021-09-22 03:28] Snape3058 opened #52087 "Potential dangling-pointer bug in function `GetPyArrayDescrForTensor` by holding a reference in a list after all its references released (a static analyzer report)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- TensorFlow installed from (source or binary): source
- TensorFlow version (commit): faad219
- Python version: 3.8.5

**Static analysis results, no POC.**
This static analysis report has been manually reviewed to verify its validity.

**Describe the current behavior**

The p

[2021-09-22 04:00] vanajareedy0426 commented on #52058
Thanks for the confirmation, with out groups it is working fine. But  I want to use grouped convolution in this model.

Does tflite converter and interpreter works in case grouped convolutions ? or not ? Can you provide any comments on this

[2021-09-22 04:12] Liupengshuaige opened #52088 "How to reduce libtensorflowlite.so size with C++ api"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android
- Mobile device (e.g.

[2021-09-22 04:24] rainwoodman commented on #51839
Hmm... I am not aware of a "Keras + random in a loop" leak or if there is a fix (but I am also new to the TF codebase).

If your use case is affected, what about filing a new issue with a reproducer? We can continue from there.

[2021-09-22 04:25] ArunaKote commented on #52023
OK .Thanks

[2021-09-22 04:25] #52023 closed

[2021-09-22 04:33] mohantym commented on #52088
Hi @jvishnuvardhan ,Could you please look at this issue!

[2021-09-22 05:19] mohantym commented on #52069
Hi @Saduf2019 ,Could you please at this issue!

[2021-09-22 05:24] #51828 closed

[2021-09-22 05:33] godomainz commented on #52073
@tilakrayal my CODE is done from  tf version 1.8.
Is it possible to get tf version 1.8 ?
updating the whole program is NOT possible

[2021-09-22 05:38] Saduf2019 commented on #52036
@bestmatthew
The code provided seems incomplete please share a colab gist of possible with the error reported.

[2021-09-22 06:03] sjtusmartboy commented on #51839
@rainwoodman That's just the solution! The loop must be placed inside the tf.function, otherwise there will be the memory leak. Hope someone will work on this issue,after all this issue has been on post for over a year.

[2021-09-22 06:26] sushreebarsa commented on #52065
@vanajareedy0426
In order to expedite the trouble-shooting process, please provide access to your colab link or gist to reproduce the issue reported here. Thanks!

[2021-09-22 07:00] Saduf2019 commented on #52086
@negf
Please refer to similar issues and let us know:[link](https://github.com/tensorflow/tensorflow/issues/34391#issuecomment-557789595),[link1](https://stackoverflow.com/questions/37313818/tensorflow-dst-tensor-is-not-initialized)
Can you share a colab gist of the code and error reported

[2021-09-22 07:08] reuvenperetz commented on #50992
Hi,
I tried to use the same example but with different ranges, and I also get a huge difference between the TF output and TFLite output. The code is below, and the output is: "Tensorflow output: 4.0, TFLite output: 1.6627452373504639"
This time, the min/max of the first fake quant is matching the input distribution.
The second fake quant layer should only clip the single positive value to the maxi

[2021-09-22 07:09] qiyangzhang0329 commented on #50079
@rino20 , would the  vision of tf 2.6 support QAT ?

[2021-09-22 07:20] VivanVatsa opened #52089 "tensor flow resource exhausted error on Kaggle notebooks"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-09-22 08:00] daniel-kukiela commented on #52013
@mohantym
You are running everything in a single runtime.
After you downloaded/installed everything and converted a model to a saved model, please use Runtime -> Restart runtime and then try to load saved model (in a new runtime).
I'm going to post it as a separate issue.

Thank you

[2021-09-22 08:10] Nizarazo opened #52090 "Unable to run the exe that has wheel generated by Rosetta terminal on MacOs Mojave, error: Symbol not found: ___darwin_check_fd_set_overflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs Mojave 10.14.6
- Mobile

[2021-09-22 08:10] daniel-kukiela opened #52091 "Cannot load saved tf model (AttributeError: '_UserObject' object has no attribute 'add_slot')"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.6.0
- Python version: 3.9
- CUDA/cuDNN version: 11.3/8.2.1
- GPU model and memory: RTX 8000, 4

[2021-09-22 08:13] Ramsonjehu opened #52092 "Undeclared identifier when building from source v2.3.2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2021-09-22 08:23] #22631 closed

[2021-09-22 09:08] Saduf2019 commented on #51989
@franckma31
As there have been below changes and the issue is resolved in tf 2.6, upgrading would help as many bugs get fixed in later versions, in case is still remains an issue please open this in keras and move this issue to closed status.

Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
https://discuss.tensorflow.org/t/keras

[2021-09-22 09:08] sushreebarsa commented on #52090
@Nizarazo
We see that you are using old version of tensorflow(`1.13`) which is not actively supported. We recommend that you upgrade to `2.6.0` and let us know if the issue still persists in newer versions. Please have a look at the [link](https://www.tensorflow.org/install/source#macos) to `Build from source` and let us know if it helps ?Thanks!

[2021-09-22 09:24] #47019 closed

[2021-09-22 09:24] #50148 closed

[2021-09-22 09:46] #51523 closed

[2021-09-22 09:46] 1148330040 commented on #51523
1

[2021-09-22 09:55] starboyvarun commented on #52066
@mohantym Thank you. I have solved this particular issue.

[2021-09-22 09:55] #52066 closed

[2021-09-22 09:57] Rogersjk commented on #24252
There is not direct function, but it can be implemented in a simple way as follows:
[code]

[2021-09-22 10:02] sanatmpa1 commented on #27246
@phil20686,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. You can use this [guide](https://www.tensorflow.org/install/source_windows) as a reference while building TF for windows.Thanks!

[2021-09-22 10:11] amitkumardatta opened #52094 "Couldn't import 'tensorflow.tools.graph_transforms' in tensorflow 2.5.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-09-22 10:38] tilakrayal commented on #52089
@VivanVatsa ,
We see you are using tf v2.0. Could you please update TensorFlow to the latest stable version v2.6 and let us know if you are facing the same error. Thanks!

[2021-09-22 10:54] moaradwan commented on #45449
@mihaimaruseac any updates about this?

[2021-09-22 11:03] qingchanghan commented on #25703
Hi, I have the same problem.
In calculation of backward pass, how I can use the tensor allocated for forward pass by `allocate_persistent` function?

[2021-09-22 11:49] tilakrayal commented on #52073
@godomainz ,
Kindly open a tf discussion forum issue for this as there is no support for 1.x is not actively supported. There is a big community to support and learn from your questions.Thanks

[2021-09-22 11:49] mohantym commented on #52091
Hi @daniel-kukiela !Could you please try again  Python 3.7/3.8? Tried to replicate in [2.5](https://colab.research.google.com/gist/mohantym/de39207fdedadde6861bf60eae50f9b5/github_52013_sentdex.ipynb#scrollTo=AwimBoSxRdv8),[2.6](https://colab.research.google.com/gist/mohantym/187d7a2dc387998237211d7c590c6b1a/github_52013_sentdex.ipynb#scrollTo=x0Jbyu8RaJpP) and [2.7](https://colab.research.google.

[2021-09-22 11:52] kotran88 opened #52096 "training with model_main_tf2.py to mobilenetv2 quantized_300x300 cause error"
Hello
I've been training my model with
ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8
but it's very slow with raspberry pi,
so I think I should try with new pretrained model : ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03
with new model,
when I start training, it cause error
`
ValueError: ssd_mobilenet_v2 is not supported. See `model_builder.py` for features extractors compatible with differen

[2021-09-22 12:09] mohantym commented on #52085
Hi @Snape3058 ,Could you please confirm the Tensorflow version too?

[2021-09-22 12:31] mohantym commented on #52096
Hi @kotran88, Could you please look at the answers of this threads  [1](https://stackoverflow.com/questions/64464315/train-my-model-in-tensorflow-2-checkpoint-is-expected-to-be-an-object-based-chec),[2](https://github.com/tensorflow/tensorflow/issues/46970) .Thanks!

[2021-09-22 13:13] craditya commented on #51591
@jawj I would try the same and provide an update. Thanks for figuring out a resolution.

[2021-09-22 13:15] craditya commented on #51591
@hallowcard13 Yes, I had mentioned above that I have been facing this issue with the new version and not with the old ones, for both model maker and tf.

[2021-09-22 13:34] daniel-kukiela commented on #52091
@mohantym I mentioned twice (one in this other issue and once here) that you cannot load the save modes in the current runtime. You need to load it in fresh runtime (for example by invoking Runtime -> Restart runtime). When you are running it in the same runtime that you used to save the model (like if you run it all in a single script), this bug does not trigger. By restartting runtime you are lo

[2021-09-22 13:36] daniel-kukiela commented on #52091
Hmm, I checked your TF 2.7 nightly notebook and the issue seems to be gone there. It is possible that someone already found this bug and fixed it then.

Sounds like we should consider it fixed in TF 2.7 then?

Thank you

[2021-09-22 15:26] sanatmpa1 commented on #52079
@GiacomoMarchioni,

Can you provide us the detailed error trace to expedite the trouble-shooting process? Thanks!

[2021-09-22 15:39] sanatmpa1 commented on #51987
@Flamefire,

As the wording is correct already, Can you suggest how the wording can be improved ?

[2021-09-22 15:48] sanatmpa1 commented on #52053
@jvishnuvardhan,

As colab doesn't support multi GPU environment, The code runs fine([gist](https://colab.research.google.com/gist/sanatmpa1/face09972613ddec08460a1a397358db/52053.ipynb)) and I am not able to replicate the issue. Can you take a look into this one?

[2021-09-22 16:05] sanatmpa1 commented on #52054
I am able to reproduce the error and here's the [gist](https://colab.research.google.com/gist/sanatmpa1/7dd035860a40bdaf41c4c3f5bd177261/52054.ipynb). Found a similar [issue](https://github.com/tensorflow/probability/issues/1206) in tf-probability repo.

[2021-09-22 16:08] sanatmpa1 commented on #52054
@LukeBolly,

As this issue if related to `BatchReshape` in `tensorflow_probability`, Can you open an issue in this [repo](https://github.com/tensorflow/probability) for proper assistance? Thanks!

[2021-09-22 16:10] VNTamao opened #52098 "Build libtensorflow_cc.dll x86 error on Window"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 2.6.0
- Python version: Python 3.9.7
- Installed using virtualenv? pip? conda?: NA
- Bazel version (if compiling from source): 3.7.2

[2021-09-22 16:18] sanatmpa1 commented on #52058
@vanajareedy0426,

You can take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/40044) to know more about grouped convolution support in TFLite

[2021-09-22 16:24] #32817 closed

[2021-09-22 16:26] sanatmpa1 commented on #52011
@Harrelix,

Can you take a look at this similar [issue](https://github.com/tensorflow/tensorflow/issues/36576) and let us know if it helps? Thanks!

[2021-09-22 16:37] tilakrayal commented on #52092
@Ramsonjehu ,
Can you please try installing TensorFlow v2.3 with CUDA 10.1 and cuDNN 7.6 and check if you are facing the same error.TF v2.3 is little older version.Suggesting to upgrade to latest stable tf v2.6. For more information please take a look at the tested [build configurations](https://www.tensorflow.org/install/source_windows#gpu) Thanks!

[2021-09-22 17:14] tensorflowbutler commented on #36974
This has been fixed in this PR https://github.com/tensorflow/tensorflow/pull/46190/files , so closing this issue. Thank you

[2021-09-22 17:15] rthadur commented on #36974
This has been fixed here https://github.com/tensorflow/tensorflow/pull/46190 , will be closing this request. Thank you

[2021-09-22 17:15] #36974 closed

[2021-09-22 17:30] karimnosseir commented on #52041
I looked at the issue, the failure is because FullyConnected op has invalid inputs. I tried running the saved model and i am getting failure also.
Can you please verify this model works in TF (didn't work for me using the example code you sent)

Thanks

[2021-09-22 17:31] joelAno225 commented on #42037
hello sir
i new gys in deep learning

[2021-09-22 17:35] Saduf2019 commented on #51900
@qq747688898
run_eagerly=True in model.fit is suggested only to debug
once debugging is over, it is always recommended to removed that flag

As requested before for any further queries i suggest you open an issue at the tf discussion forum as there is a larger community to support there, this is not a bug or a performance issue.

[2021-09-22 18:22] Saduf2019 commented on #52094
@amitkumardatta
Please refer to these same error issues: [link](https://github.com/tensorflow/tensorflow/issues/33352), [link1](https://stackoverflow.com/questions/59825444/modulenotfounderror-no-module-named-tensorflow-tools-graph-transforms-when-us)

[2021-09-22 18:24] #46217 closed

[2021-09-22 19:01] Vadim-Maklakov opened #52101 "Error compilation NVCC for TF 2.5 from source using Clang-12"
Hi all!
**System information**
- OS  -  Linux Debian 10 debian 4.19.0-17-amd64
- TensorFlow: try install from source
- TensorFlow version:  TF 2.5.1 nightly
- Python version: 3.8.12 build from source Clang-12
- Try compiled in the separate venv 3.8.12
- Bazel version: 3.7.2
- GCC/Compiler version:  gcc/g++ -  Debian 8.3.0-6
- Clang compiler: complete  bundle of  LLVM-12 from https://apt.llvm.org/

[2021-09-22 21:29] benbarsdell commented on #41777
I haven't tried reproducing this issue, but I'll note that a GPU kernel for SparseApplyAdagradV2 was [added](https://github.com/tensorflow/tensorflow/commit/28162ecc0cf0993fa72e4d3b72f864300188ccd5) in TF 2.5.

[2021-09-22 22:26] jpienaar commented on #52030
Legalize is only for the 2nd phase, you need to run first phase of the bridge too to convert TensorList ones. Assigning to bridge team to triage.

[2021-09-22 23:45] GiacomoMarchioni commented on #52079
the following is the whole message after the make command is executed for the first time:

giacomo@LAPTOP-KEM6AB3A:~/tflite-micro$ make -f tensorflow/lite/micro/tools/make/Makefile generate_projects
--2021-09-23 01:41:57--  https://github.com/google/flatbuffers/archive/dca12522a9f9e37f126ab925fd385c807ab4f84e.zip
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.co

[2021-09-23 03:17] YongyuG opened #52103 "libtensorflowlite.so building problem tf2.3"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2021-09-23 03:21] YongyuG commented on #52103
and how to get the bazel build work if i download the third_party packages mannually and unzip it in **~/.cache/bazel/_bazel_AD\xxx/xxx/external/{third_party_name}**

[2021-09-23 03:37] ArunaKote commented on #52030
Thank you.For the static inputs,TensorList ops are decomposed using tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-opt  -tf-tensor-list-ops-decomposition tf.mlir then I able to convert it to HLO. But for dynamic inputs its not decomposing  and that's why I am not able to lower these ops to HLO. Actually I wanted lower above tf-ops to HLO with dynamic shape. These ops are failing in MRCNN network

[2021-09-23 03:52] sjtusmartboy commented on #51839
Please do not close this issue as it involves two bugs. The first is the tf.py_function and the second is that the loop should be inside the tf.function referenced in https://stackoverflow.com/questions/58915522/tf2-0-memory-leak-from-applying-keras-model-to-symbolic-tensor.So please reopen it.

[2021-09-23 04:04] VNTamao commented on #52098
@tilakrayal
Could you please help me check this issue?
Thanks

[2021-09-23 04:22] lzc16 commented on #52041
Hi, @karimnosseir ,

I can run the model with onnx with the code below.
'''
import numpy as np
import onnxruntime as ort
model = onnx.load("cldnn.onnx")
ort_session = ort.InferenceSession('cldnn.onnx')
test_arr = np.array(np.random.randn(150,1,5,257), dtype=np.float32)
c11 = np.zeros([1, 1, 256], dtype=np.float32)
h11 = np.zeros([1, 1, 256], dtype=np.float32)
c22 = np.zeros([1, 1, 256], dtype=np.f

[2021-09-23 04:26] mohantym commented on #52091
Thanks @daniel-kukiela for confirming the same .Feel free to close the issue if it is fixed in nightly.

[2021-09-23 04:26] Ramsonjehu commented on #52092
@tilakrayal
1. I'm Trying to use NXP's eIQ portal application which requires TF v2.3.2. so I can't upgrade to TF v2.6.
2. Does this error has anything to do with CUDA 10.2? because all the other build configuration are same as the in the link you provided.

[2021-09-23 06:08] raggyie commented on #45949
@jaeyoo
Hi any update to the fix still?
Was able to reproduce the issue with tfv2.7.0-dev20210919

[2021-09-23 06:56] mohantym commented on #52103
Hi @jvishnuvardhan ! ,Could you please look at this issue?

[2021-09-23 07:16] Saduf2019 commented on #47561
@maurodlt
Can you check on the latest tf version and let us know if this is still an issue.

[2021-09-23 07:19] Nizarazo commented on #52090
Hi @sushreebarsa @Saduf2019

The issue is not related to tensorflow version 1.13 because the public wheel of tensorflow 1.13 is working fine on Mojave, the issue is the private wheel generated using rosetta terminal under BigSur M1 does not run on Mojave so I guess it is something related to the way I build the private wheel under BigSir M1 rosetta terminal.
Is there any configuration I need to ad

[2021-09-23 07:24] Ramsonjehu commented on #52092
Hi @tilakrayal ,
As you said i tried building with CUDA 10.1. But im facing a new issue as mentioned below.

`DEBUG: Rule 'io_bazel_rules_docker' indicated that a canonical reproducible form can be obtained by modifying arguments shallow_since = "1556410077 -0400"
DEBUG: Repository io_bazel_rules_docker instantiated at:
  no stack (--record_rule_instantiation_callstack not enabled)
Repository rule

[2021-09-23 07:24] #18112 closed

[2021-09-23 07:25] Saduf2019 commented on #52090
@Nizarazo
The Apple TF on M1 chips is a private fork of TF owned by Apple. We don't have access to fixing code issues there.

For more information, please go through issue #44751. Thanks!

[2021-09-23 07:32] maurodlt commented on #47561
@Saduf2019
The error still persists on TF 2.6.0. We can see this by running the code example on [this](https://colab.research.google.com/gist/amahendrakar/6a32ac9fcb448df77c53f4d38413b3a6/47561.ipynb#scrollTo=-FwYKenh34En) gist.
Thanks!

[2021-09-23 07:35] Saduf2019 commented on #52098
@VNTamao
This may be due to conflicts in dependencies.Always it would be better to create an virtual environment and install tensorflow .

You might be facing this issue because of the following reasons

You are running 32-bit Python or 32-bit OS
You have not installed the [Microsoft Visual C++ Redistributable](https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647d

[2021-09-23 07:38] Nizarazo commented on #52090
@Saduf2019 I am not using Apple TF but I am using your tensorflow by building it from source using rosetta terminal under Big Sur as explained in thread #46044 so the generated wheel runs fine over BigSur M1 using Rosetta emulator and it runs fine also on catalina but it doesn't run on Mojave I am getting this:
2021-09-20 14:10:58,992 INFO Traceback (most recent call last):
File "tensorflow/python

[2021-09-23 07:41] VNTamao commented on #52098
@Saduf2019
Can we create a library 32 bit to using with Desktop applition?
I'm developing a Desktop application, use Qt IDE and MSVC 2019 32bit.
I tried with MSVC 2019 64bit and it's ok. But when I tried change to MSVC 2019 32bit, I cannot create tensorflow_cc library.
Does tensorflow support to create library using for MSVC 2019 32bit?
Thanks

[2021-09-23 07:44] karimnosseir commented on #52041
It looks like it is a problem with onnx-tf not with TF/TFLite. Might be good to reach to ONNX and file issue for them.
I am closing this issue.

Thanks

[2021-09-23 07:44] #52041 closed

[2021-09-23 07:46] karimnosseir commented on #51737
I don't know why the build on your machine was freezing and limiting threads worked.
But looks like you don't have an issue now.
Closing the issue, feel free to reopen if needed.

Thanks

[2021-09-23 07:46] #51737 closed

[2021-09-23 07:48] ebraraktas commented on #52064
@sanatmpa1 ,
I have found a workaround which allows me to convert model and run inference on `tensorflow>=2.4.0`. If you change this line:
[code]
with this:
[code]
you can convert and run without an error.

I think this may give you an insight about fixing the bug.

[2021-09-23 08:24] #17968 closed

[2021-09-23 08:24] #17628 closed

[2021-09-23 08:24] #17778 closed

[2021-09-23 08:49] ebraraktas opened #52105 "Very slow inference on TF Lite>=2.4.0 converted model"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Big Sur 11.4 and Ubuntu 18.04 LTS on Colab machine
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.3.0 and 2.6.0

### 2. Code

This notebook demonstrates the bug with the simplest example I came up with.

[2021-09-23 09:41] AditiG27 opened #52106 "Pricing details for Tensorflow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

Hi Team,
I am interested in knowing the pricing details and the storage availability as I want to use this Tensorflow s

[2021-09-23 09:47] Saduf2019 commented on #52090
@Nizarazo
For the error, can you refer to same error issues and let us know: "ImportError: No module named '_pywrap_tensorflow_internal'"
[link](https://github.com/tensorflow/tensorflow/issues/40459),[link1](https://github.com/tensorflow/tensorflow/issues/37906),[link2](https://stackoverflow.com/questions/44080677/no-module-named-pywrap-tensorflow-internal),[link](https://github.com/tensorflow/ten

[2021-09-23 09:48] Saduf2019 commented on #52098
No, as explained in most of the issues, there is no support for 32 bits. Please use 64 bit its tested and works as expected. You may move this issue to closed status as the issue reported is addressed.

[2021-09-23 10:01] starboyvarun opened #52107 "ValueError: Layer conv2d_18 expects 1 inputs, but it received 2 input tensors."
[code]

![2](https://user-images.githubusercontent.com/26819449/134488571-b8c36108-bd89-437d-a63c-ab4d71a03c93.JPG)

![1](https://user-images.githubusercontent.com/26819449/134488612-c3db09a3-94c7-4759-a7e0-44f844e500a9.JPG)

Can you tell me why I am getting this error I am trying to Implement U-net respectively?
Thank You.

[2021-09-23 10:17] sushreebarsa commented on #52106
@AditiG27     **`TensorFlow`** is an **Open-source platform** for creating ML-enabled applications. To know more on Tensorflow please visit to  our [official site of Tensorflow](https://www.tensorflow.org/overview/) and refer to the documentation .Please let us know if it helps ? Thank you!

[2021-09-23 10:20] AditiG27 commented on #52106
Does this has any subscription or package ? I couldnt find these pricing and storage details. Please provide me these details.

[2021-09-23 10:25] bhetherman-bbn opened #52108 "Error using xla_sharding split on XLA_GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Unknown
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.

[2021-09-23 10:45] sushreebarsa commented on #52106
@AditiG27 Tensorflow is a `free` and `open source` Software library for Machine learning and Artificial Intelligence. This framework is free to use. Thanks!

[2021-09-23 10:59] AditiG27 commented on #52106
Any professional support services charges included or required ?

[2021-09-23 11:03] sushreebarsa commented on #52106
@AditiG27 There is no support  service charges included for using Tensorflow .It is free and open source platform .

[2021-09-23 11:06] Nizarazo commented on #52090
@Saduf2019
These links are all for Windows while the issue I am facing is in MacOs Mojave any similar issues in MacOs?

By the way I see that the file _pywrap_tensorflow_internal.so exists but seems that the symbol ___darwin_check_fd_set_overflow is missing.

[2021-09-23 11:20] sliu729 commented on #52068
Thanks for your comment. The funny thing is that I got recommended by the profiler to use mixed_float16, and the calculation speed was greatly increased. It is sad that it would not work properly.

[2021-09-23 11:29] mohantym commented on #360
Hi @bdaskalov ,
We are checking to see if you still need help on this issue. We recommend that you upgrade your code base to 2.x versions following [migration document ](https://www.tensorflow.org/guide/migrate/migrate_tf2)and let us know if the issue still persists in newer versions. Thanks!

[2021-09-23 11:44] lankuohsing opened #52109 "A bug for tf.keras.layers.TextVectorization when built from saved configs and weights"
I have tried writing a python program to save tf.keras.layers.TextVectorization to disk and load it with the answer of https://stackoverflow.com/questions/65103526/how-to-save-textvectorization-to-disk-in-tensorflow.
The TextVectorization layer built from saved configs outputs a vector with wrong length when the arg output_sequence_length is not None and output_mode='int'.
For example, if I set ou

[2021-09-23 12:36] chunduriv commented on #45789
@Flamefire, I tried to run your code on **`Colab`** using TF v2.4, 2.5, 2.6 and tf-nightly. Please find the [gist](https://colab.research.google.com/gist/chunduriv/019c409e88cbc300403e176e5cb18ede/untitled33.ipynb) here for reference. Could you please let us know if the issue is resolved for you ?Thanks!

[2021-09-23 12:53] tilakrayal commented on #30727
@mabdullahrafique ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v2.6 and let us know if you are facing the same error. Thanks!

[2021-09-23 12:56] tilakrayal commented on #31501
@albertNod
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-23 13:11] PINTO0309 commented on #48775
**`tf.lite.OpsSet.SELECT_TF_OPS`** seems to cause an error, so I implemented an approximate calculation **`acos`**. I get an error even with v2.6.0. It is not recommended because it is very computationally expensive and redundant. However, it can be implemented without custom operations, using only standard OPs.

https://github.com/PINTO0309/openvino2tensorflow/blob/f91027ef98e9e30912505b9a8e9ab45

[2021-09-23 13:45] bdaskalov commented on #360
You can close it. I don't have this problem any more

On Thu, Sep 23, 2021, 4:29 AM mohantym ***@***.***> wrote:

[2021-09-23 14:01] bestmatthew commented on #52036
Hi @Saduf2019, unfortunately  the code is complete and  provided above.

It is VERBATIM copied from the tensorflow tutorial for loading text. (https://www.tensorflow.org/tutorials/load_data/text)

The block of code, again:
'''
# Be sure you're using the stable versions of both tf and tf-text, for binary compatibility.
pip uninstall -y tensorflow tf-nightly keras

pip install -q -U tf-nightly
pip i

[2021-09-23 14:01] ebraraktas commented on #52064
@sanatmpa1 ,

I don't consider this issue as fixed. My suggestion was just a workaround. And the bug still exists on latest stable version `2.6.0`. It would be better to close it when it is really fixed.

[2021-09-23 14:06] alexeagle commented on #32556
yes I think this is still a problem, though I don't know where the workspace.bzl file is now, nor what instructions you give Bazel users. @gkdn has been maintaining rules_closure lately and might be closer to understanding the impact.

[2021-09-23 14:51] NEGU93 commented on #43546
I have two conda environments.

- tf-conda: Installed tensorfow using conda
- tf-pip: Installed tf with pip and all installed CUDA and CUDNN manually

I get this error only on the tf-pip env and not the tf-conda. This appears to show that the error is more linked with a software installation than the implementation or hardware. (Hope it helps to debug, please let me know which commands output coul

[2021-09-23 14:57] Harrelix commented on #52011
No it didn't help...
I gave up and installed the pre-built version at [here](https://github.com/fo40225/tensorflow-windows-wheel) instead

[2021-09-23 14:57] #52011 closed

[2021-09-23 15:50] Saduf2019 commented on #52036
@bestmatthew
I ran the code shared and do not face any issues as reported, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/171b9d50384674d134162546e2d1c71d/untitled641.ipynb)

[2021-09-23 16:22] MJDragoon opened #52112 "tensorflow 2.6 does not detect ptxas.exe"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsu

[2021-09-23 16:24] #51899 closed

[2021-09-23 16:28] bguetarni commented on #52053
This could be due to the lack of precision about the reduction strategy used. Could you please look at [this](https://www.tensorflow.org/tutorials/distribute/custom_training#define_the_loss_function) and tell us if it helps.

[2021-09-23 16:28] sanatmpa1 commented on #27684
Issue still persists in `TF 2.6.0` and `TF-nightly`. Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/9be46297dafef158ba1e2ffb0cd96524/27684.ipynb). Thanks!

[2021-09-23 16:31] sanatmpa1 commented on #28345
@aphalak,

Can you take a look at this above [comment](https://github.com/tensorflow/tensorflow/issues/28345#issuecomment-500028351) from @aselle and let us know if it helps? Thanks!

[2021-09-23 16:46] sanatmpa1 commented on #36463
Able to reproduce the issue in TF nightly `2.7.0-dev20210923`. Please find the [gist here](https://colab.research.google.com/gist/sanatmpa1/4c8e40108fa4ff4c91ca38e38c8a7afe/35650.ipynb).

[2021-09-23 16:51] rthadur commented on #38699
@jostheim could you please verify this in latest versions ?

[2021-09-23 17:04] AnastGerus opened #52113 "libtensorflowlite with Select Ops linking failure"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): from source
- TensorFlow version: 2.6.0
- Python version: python 3.8.10
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): bazel 3.7.2
- GCC/Compiler version (if compiling from source): 9.3.0
- CUDA/cuDNN versio

[2021-09-23 17:08] rthadur commented on #50473
I see this has been removed here https://www.tensorflow.org/api_docs/python/tf/keras/Sequential#predict_classes , so we can close this request. Thank you

[2021-09-23 17:08] #50473 closed

[2021-09-23 17:08] sanatmpa1 commented on #36650
Issue still persists in `2.7.0-dev20210923`. Please take a look at the [gist here](https://colab.research.google.com/gist/sanatmpa1/f04bc96b4e7970ac200989132aeeb6d1/35650.ipynb). Thanks!

[2021-09-23 17:22] rthadur commented on #47854
The file has been and tflite micro is now moved to a new repo here https://github.com/tensorflow/tflite-micro/blob/main/tensorflow/lite/micro/examples/person_detection/training_a_model.md , I see the commands are updated too. Closing this issue. Thank you

[2021-09-23 17:22] #47854 closed

[2021-09-23 17:24] #51892 closed

[2021-09-23 17:24] #51878 closed

[2021-09-23 18:11] rthadur commented on #28712
This is working with latest version , closing this issue. Thank you

[2021-09-23 18:12] #28712 closed

[2021-09-23 18:20] kkimdev commented on #52069
non-critical failure if it only fails on aarch64, marking contributions welcome!

[2021-09-23 18:24] sachinprasadhs commented on #20557
I can now see the output, and `gfile.Glob` has been moved under [tf.io.gfile.glob](https://www.tensorflow.org/api_docs/python/tf/io/gfile/glob), check the working gist [here](https://colab.research.google.com/gist/sachinprasadhs/11834063223b177c6f8b8a7bbc30cc42/20557.ipynb) for reference.

[2021-09-23 18:24] #20557 closed

[2021-09-23 18:24] #33309 closed

[2021-09-23 18:27] rthadur commented on #26444
This is working as expected , please check in latest version. Closing this issue. Thank you

[2021-09-23 18:27] #26444 closed

[2021-09-23 18:27] jvishnuvardhan commented on #46728
@joyccino Is this still an issue for you. I see a page on Pose estimation that has benchmark performance for different datasets. https://www.tensorflow.org/lite/examples/pose_estimation/overview

Thanks!

[2021-09-23 18:28] sachinprasadhs commented on #20559
I can still see this as an issue in Unix in the latest Tensorflow version 2.6, please find the [Gist](https://colab.research.google.com/gist/sachinprasadhs/11834063223b177c6f8b8a7bbc30cc42/20557.ipynb) here for reference.

[2021-09-23 18:28] kkimdev commented on #52085
Thanks for finding this!  To me, it looks like removing that line alone might be little confusing to read as the execution of `PyTuple_SetItem(shape, i, dim)` is more conditional than that.  Anyways, contributions welcome!

[2021-09-23 18:30] VivanVatsa commented on #52089
was running the latest tensorflow2.6 on Kaggle notebooks, still no luck

[2021-09-23 18:33] sachinprasadhs commented on #20563
Could you please try with the latest `Tensorflow` version(2.6 as of now).
Feel free to reopen the issue if the issue still persist.

[2021-09-23 18:43] sachinprasadhs commented on #21454
Since tf.contrib has been depreciated, seq2seg has been moved under Tensorflow-Addons, you need to install tensorflow addons using
`pip install tensorflow-addons`
and import the addons like below.
[code]
Refer to the `seq2seq` documentation [here](https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq) for the classes which would suite your requirement.
If you still face the issue, open new

[2021-09-23 18:43] #21454 closed

[2021-09-23 18:55] jvishnuvardhan commented on #10804
I think this is a stale issue. Based on the above comments, looks like this was resolved. Also, `tf.contrib` was deprecated in the recent versions.

I am closing this issue. Please feel free to reopen if the issue persists with recent TF versions. Thanks!

[2021-09-23 18:55] #10804 closed

[2021-09-23 19:01] AnastGerus commented on #52113
Hi again,
I solved this issue myself.
You need to change dependency in target 'libtensorflowlite':
`//tensorflow/lite/kernels:builtin_ops_all_linked`  ->` //tensorflow/lite/kernels:builtin_ops`

It would be nice to configure it automatically or write about it in the documentation. If you have a more correct way of doing it, please let me know.

Best regards,
Anastasiia

[2021-09-23 19:13] sachinprasadhs commented on #21470
You can follow the installations from https://github.com/MyCaffe/NCCL/blob/master/INSTALL.md and test it on your Windows machine with  [NcclAllReduce](https://www.tensorflow.org/api_docs/python/tf/distribute/NcclAllReduce) which is basically a inherited class from [CrossDeviceOps](https://www.tensorflow.org/api_docs/python/tf/distribute/CrossDeviceOps).

Feel free to reopen the issue, if the issue

[2021-09-23 19:13] #21470 closed

[2021-09-23 19:24] #34112 closed

[2021-09-23 19:28] rainwoodman commented on #51877
Thanks for the thorough investigation.

 `ndarray.__round__` is necessary to support unittest.TestCase.assertAlmostEqual() with single item ndarray input. See the example below.

The lack of `__round__` in ndarray is discussed in numpy/numpy#6248.
Although I note that even with `__round__` added, assertAlmostEqual for arrays with more than 1 item is still not clearly defined (due to the `== 0` com

[2021-09-23 19:58] QRabbani commented on #33001
Hi @kumariko, I now get a different error with Bazel upon trying to build from config, but as far as I can tell, there’s no XLA issue. (Mind you I’m using a different machine.) I was able to pip install TF 2.6 from pip successfully though!

[2021-09-23 20:13] cantonios commented on #51832
Eigen and TF's threadpool will not play nicely with unix `fork()`.  Calling fork while multiple threads are using a `std::mutex` will lead to undefined behavior.  We re-use the intra-op threadpool, so once the context is initialized, the threadpool will continue to exist.  It looks like calling `fork()` after this initialization is causing this issue.

You can try re-initializing the context in th

[2021-09-23 20:47] mohantym commented on #52107
Hi @starboyvarun , Can you please share the complete stand alone code as Colab gist to reproduce this issue  ?It will help expedite the issue.

[2021-09-23 21:08] kdja90 opened #52114 "Tensors in list passed to 'values' of 'ConcatV2' Op have types [float32, float32, float32, <NOT CONVERTIBLE TO TENSOR>] that don't all match."
### 1. System information

- OS Platform and Distribution :
- TensorFlow installation : Tensorflow 2.6

### 2. Code

   # Arrange output as [N, (y1, x1, y2, x2, class_id, score)]
    # Coordinates are normalized.
    detections = tf.concat([
        tf.gather(refined_rois, keep),
       # tf.to_float(tf.gather(class_ids, keep))[..., tf.newaxis],
        tf.cast(tf.gather(class_ids, keep), dtype=tf

[2021-09-23 21:12] mohantym commented on #52112
Hi @MJDragoon , The above code ran successfully after removing this line .
`os.add_dll_directory("C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.4\bin")`

 It seems you are trying to add path for CUDA in code itself.
Can you try again after setting it as environment path from environment variables instead.

Attaching [GIST ](https://colab.research.google.com/gist/mohantym/e5f00a636a87792d0

[2021-09-23 21:14] kdja90 commented on #52114
I had this error while completing the demo.ipynb file of Mask_RCNN, please I need help

[2021-09-23 21:26] mohantym commented on #24040
Hi @whatbeg!,
You seem to be using older versions of Tensorflow . We recommend that you upgrade your code base version to 2.x  as contrib is removed from 2.x versions and let us know if the issue still persists in newer versions. Thanks!

[2021-09-23 21:31] ceztko commented on #51832
I understand that, in the general, `fork()` can cause big headaches for all software using thread pools, and not all scenarios can be possibly supported because of unpredictable results if a fork() arises during some thread computations. Please note the following considerations:
- In this scenario we are forking after a model loading, so it should be a safe "still balls" moment;
- we really **can'

[2021-09-23 21:33] mohantym commented on #23012
Hi @KineticCookie!
It seems you are using 1.x versions of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions  as as Many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions. Thanks!

[2021-09-23 21:36] mohantym commented on #23048
Hi @yehenrytian!
It seems you are using 1.x versions of Tensorflow. We recommend that you upgrade your code base to 2.x  versions  as as Many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions. Thanks!

[2021-09-23 21:39] mohantym commented on #25784
Hi @brownbro!
It seems you are using  older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions as many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions. Thanks!

[2021-09-23 21:40] jvishnuvardhan commented on #52073
@godomainz The available versions are as follows
`from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2, 1.14.0rc0, 1.14.0rc1, 1.14.0, 1.15.0rc0, 1.15.0rc1, 1.15.0rc2, 1.15.0rc3, 1.15.0, 1.15.2, 1.15.3, 1.15.4, 1.15.5, 2.0.0a0, 2.0.0b0, 2.0.0b1, 2.0.0rc0, 2.0.0rc1, 2.0.0rc2, 2.0.0, 2.0.1, 2.0.2, 2.0.3, 2.0.4, 2.1.0rc0, 2.1.0rc1, 2.1.0rc2, 2.1.0, 2.1.1, 2.1.2, 2.1.3, 2.1.4, 2.2.0rc0, 2.2.0rc1, 2.2.0r

[2021-09-23 21:40] #52073 closed

[2021-09-23 22:19] cantonios commented on #51832
Model loading initializes the context, which initializes the threadpool(s).  I don't see an easy way to separate this atm.

We will likely never implement fork handlers - that is specific to `pthread`.

We don't have a way to fully disable threading entirely - we have at least one thread in each pool (inter/intra).  This is necessary since we have asynchronous ops.

The only work-around I can thin

[2021-09-23 23:26] pavanky opened #52115 "Inconsistent broadcast behavior when using model.fit vs custom training loop"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-09-23 23:28] pavanky commented on #52115
Note: The behavior of custom training loop is consistent with eager mode execution (without keras), and numpy. However this inconsistent behavior may cause unnecessary debugging overhead.

[2021-09-24 00:24] #51915 closed

[2021-09-24 00:49] jvishnuvardhan commented on #51813
@AR-fan When I used two functions from a TF tutorial https://www.tensorflow.org/tutorials/generative/style_transfer to (load & process) and show image, original image and decoded image show similarly. Can you please verify whether `cv` library changing the order of the image?

Please check the [gist here](https://colab.research.google.com/gist/sushreebarsa/7d4afd700b35821cf840464ec8eb67c9/-github_

[2021-09-24 00:58] MJDragoon commented on #52112
Hi @mohantym, thanks for the reply but unfortunately, if I removed the line you suggested I would get these errors

`2021-09-24 08:57:06.355128: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-09-24 08:57:06.357962: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not lo

[2021-09-24 01:02] shelkesagar29 commented on #52048
How can I confirm that?

[2021-09-24 01:55] liufan19960306 opened #52117 "the link 404"
examples/lite/examples/pose_estimation/raspberry_pi/setup.sh
line9-10
# Install Python dependencies
python3 -m pip install -r requirements.txt

the link in the file requirements.txt --extra-index-url https://google-coral.github.io/py-repo/
argparse cannot found

[2021-09-24 02:26] mohantym commented on #52112
Hi @MJDragoon ,Can you look at these threads for answer. [link1](https://github.com/tensorflow/tensorflow/issues/46606#issuecomment-765516590), [setting environment variable for cuda](https://docs.nvidia.com/gameworks/content/developertools/desktop/environment_variables.htm). Thanks!

[2021-09-24 02:29] mohantym commented on #360
@bdaskalov ,Thanks for confirming the same!

[2021-09-24 02:29] #360 closed

[2021-09-24 02:43] jvishnuvardhan commented on #19010
Closing this issue as `TF1.8` is no longer support.

Feel free to open a new issue if this issue persists with recent TF versions. Thanks!

[2021-09-24 02:43] #19010 closed

[2021-09-24 02:57] jvishnuvardhan commented on #20405
This is a stale issue. Looks like in the recent TF versions, other data formats also supported. For example, check [this page](https://www.tensorflow.org/api_docs/python/tf/nn/depth_to_space).

Closing this issue as this was resolved in recent TF versions. Feel free to reopen if I am mistaken. Thanks!

[2021-09-24 02:57] #20405 closed

[2021-09-24 03:07] zhaocc1106 opened #52118 "Different inference result when use models exported by the same ckpt."
I save tf model multi times using the same ckpt as following:

[code]

But when i load model with saved pb and variables(generated by multi times export as above) and infer with the same input. The results are slightly different. Is it normal?

Thanks very much!

[2021-09-24 03:14] unagimaster commented on #48230
What do you mean by "add coverage for all layers"? @fchollet

[2021-09-24 03:26] kevincaines commented on #52118
Ah Ha, nice.
    On Thursday, September 23, 2021, 08:07:47 PM PDT, zhaochaochao ***@***.***> wrote:

I save tf model multi times using the same ckpt as following:
builder = tf.saved_model.builder.SavedModelBuilder(export_path)
builder.add_meta_graph_and_variables(
                    sess,
                    tags=[tf.saved_model.tag_constants.SERVING],
                    signature_def_map=signat

[2021-09-24 04:25] sushreebarsa commented on #52106
@AditiG27 Could you please let us know if we can close this ticket as it has been resolved ?Thank you!

[2021-09-24 04:44] MJDragoon commented on #52112
Hi @mohantym, thank you for the reply.

I have checked the links you posted and was sure I added the path in the environment variables when I installed it, nonetheless, I still went through and did the solutions in those links but unfortunately it did not fix the problem. I still needed the os.add_dll_directory in order to access the dll's it didn't find, and it did not detect the ptxas.exe within

[2021-09-24 05:24] #51889 closed

[2021-09-24 06:32] mohantym commented on #52112
Hi @MJDragoon  ,Could you please try again with CUDA 11.2 , cuDNN8.1 and Python 3.8 ?
Reference:
https://www.tensorflow.org/install/gpu

[2021-09-24 07:24] #51907 closed

[2021-09-24 07:24] #17316 closed

[2021-09-24 07:24] #16889 closed

[2021-09-24 07:58] mihaimaruseac commented on #20559
This is WAI. We are obeying local filesystem rules.

[2021-09-24 07:58] #20559 closed

[2021-09-24 08:23] Flamefire commented on #45789
@chunduriv As explained above the issue is (very likely) a concurrency issue i.e. the error depends on the (random) execution order of the parallel update operation. As also shown by your colab and explained above the test is clearly wrong in not producing unique indices.
So the test is still wrong hence the issue is not resolved as the code at https://github.com/tensorflow/tensorflow/blob/ff9eb35

[2021-09-24 08:24] #51909 closed

[2021-09-24 08:24] #13426 closed

[2021-09-24 08:24] #10071 closed

[2021-09-24 08:24] #9951 closed

[2021-09-24 08:32] Flamefire commented on #51987
"The TensorFlow binaries were not build with the following CPU instruction sets: <...> To enable them rebuild ...\n Note that oneDNN is used for various performance-critical operations and may dynamically use those CPU instructions sets nonetheless."

Or so... And maybe make sure that oneDNN is actually used/built because I don't see any switch checking if oneDNN support is enabled around that mes

[2021-09-24 08:44] BlueSkyyyyyy commented on #51043
@cantonios
thank you so much

[2021-09-24 09:04] MJDragoon commented on #52112
Hi @mohantym.

Thankfully that did the trick! but I still needed the os.add_dll_directory otherwise errors will appear, other than that no errors seem to occur! thank you for your time.

[2021-09-24 09:14] haozh7109 opened #52121 "Saving customized RNN model, got error of "Tensorflow.python.framework.errors_impl.OperatorNotAllowedInGraphError""
**System information**
- I have written the customized simple RNN model based on TF layers:
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): TF2.6
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: Python 3.7.11
- CUDA/cuDNN version: 11.4
- GPU model and memory: NVIDIA TITAN RTX 24 G

**Describe the current behavio

[2021-09-24 09:24] #14205 closed

[2021-09-24 09:24] #14186 closed

[2021-09-24 09:24] #23859 closed

[2021-09-24 09:24] #26378 closed

[2021-09-24 09:24] #29831 closed

[2021-09-24 09:53] Saduf2019 commented on #52113
@AnastGerus
Sure we will work on that, can you please share the link where the change is requested to be made.

[2021-09-24 10:00] mohantym commented on #24369
Hi @ramreddyy!
It seems you are using older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions as many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions. Thanks!

[2021-09-24 10:03] fsx950223 commented on #52106
https://cloud.google.com/blog/products/ai-machine-learning/introducing-tensorflow-enterprise-supported-scalable-and-seamless-tensorflow-in-the-cloud

[2021-09-24 11:17] sushreebarsa commented on #52114
@kdja90
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-09-24 11:21] mohantym commented on #52115
Hi @sanatmpa1 ,Could you please look at this issue ? It is replicating in TF [2.5](https://colab.research.google.com/gist/mohantym/896dcd25d8288ced6e216debd88518f4/github_52115.ipynb#scrollTo=GeJIUD2Dg_c6),[2.6 ](https://colab.research.google.com/gist/mohantym/63b366893cf0417a93734fdc3b4156c5/github_52115.ipynb#scrollTo=1ZcpdRU8hH3C) and showing different error in Model1.fit() operation in  [2.7.0

[2021-09-24 11:27] sushreebarsa commented on #52118
@zhaocc1106 Could you please refer to the Issue  [link1](https://stackoverflow.com/questions/45705070/how-to-load-and-use-a-saved-model-on-tensorflow), Official documentation  [link2](https://www.tensorflow.org/api_docs/python/tf/compat/v1/saved_model/Builder),[link3](https://www.tensorflow.org/guide/saved_model) , Please let us know if it helps?Thanks!

[2021-09-24 11:32] mohantym commented on #52121
Hi @haozh7109 !Could you look at this[ thread ](https://stackoverflow.com/a/58799021/11530462)for answer ?

[2021-09-24 11:36] mohantym commented on #27229
Hi @joseph-d-p!
Have you tried latest versions yet?

[2021-09-24 11:39] tilakrayal commented on #52117
@liufan19960306 ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Also please provide the reference link which you are referring.Thanks!

[2021-09-24 11:43] mohantym commented on #31224
Hi @wugh ! We are checking to see if you still need help in this issue or not .Have you tried latest versions yet ?

[2021-09-24 11:44] ceztko commented on #51832
Yes, we noticed it. It happens all the times model loading is performing some evaluation.

I don't understand: in all the platforms where `fork()` is available and functional (basically server/desktop unices, including MacOS) we expect `pthread_atfork` to be [functional](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man3/pthread_atfork.3.html) as [we

[2021-09-24 12:19] tilakrayal commented on #52089
@VivanVatsa ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Thanks!

[2021-09-24 12:24] #21850 closed

[2021-09-24 12:25] helion-du-mas-des-bourboux-thales opened #52122 "TFLite dynamic size does not work for GRUs"
TensorFlow and TensorFlowLite allow to use dynamic sizes for some given dimensions, basicaly setting them to None.
This works perfectly with a convolutional layer, however does not seem to work in TensorFlowLite for GRU (most probably all RNNs) layers. The following code and output gives an example of the error:

[code]

[code]

[code]

[2021-09-24 13:06] mohantym commented on #52112
Ok @MJDragoon,  If the above steps worked , Can you try again after adding  **os.add_dll_directory()** operation
to see if error occurs ?

[2021-09-24 13:08] sushreebarsa commented on #52101
@Vadim-Maklakov Could you please have a look at the similar issue[ link](https://github.com/tensorflow/tensorflow/issues/36213) and try to use latest stable version of TF 2.6.0 from [source](https://www.tensorflow.org/install/source) ? Please let us know if it helps? Thanks!

[2021-09-24 13:41] Maigtello commented on #19913
Same problem

[2021-09-24 14:06] OhnkytaBlabdey commented on #19913
I solved this problem by uninstalling keras(independent package), and use `keras` in tensorflow.

[2021-09-24 14:24] #51928 closed

[2021-09-24 14:24] #17650 closed

[2021-09-24 14:24] #21983 closed

[2021-09-24 14:24] #24047 closed

[2021-09-24 14:24] #25076 closed

[2021-09-24 14:24] #23870 closed

[2021-09-24 14:35] tilakrayal commented on #52092
@Ramsonjehu ,
Can you please refer this [comment](https://github.com/tensorflow/tensorflow/issues/44251#issuecomment-724863274) from issue with the similar error.It helps.Thanks!

[2021-09-24 14:44] AnastGerus commented on #52113
Hi @Saduf2019 ,

I suppose it can be done here: https://www.tensorflow.org/lite/guide/ops_select#c

Best regards,
Anastasiia

[2021-09-24 14:51] RomanFoell opened #52123 "GPU Out of Memory for different training-data sizes but same training/model configurations (tested on two installations of python)"
Hi together,

I have installed

****System information**
- OS Platform and Distribution: Windows Server 2016
- TensorFlow installed from: binary? (conda install)
- TensorFlow version: 2.6.0
- Python version: 3.9.7
- Installed using: pip & conda
- Bazel version: ?
- GCC/Compiler version:  4.7.0 20111220
- CUDA/cuDNN version: 8.1.0.77 & 11.2.2
- GPU model and memory:  2xTesla M60, 2x8gb**

**I train

[2021-09-24 14:52] sachinprasadhs commented on #51935
There is already an issue open in [tensorflow/datasets](https://github.com/tensorflow/datasets/issues/1441) repository, you can refer to the temporary solution mentioned in the same issue.

[2021-09-24 14:53] Maigtello commented on #19913
Thanks, I solved changing the import. Now I use `from tensorflow.python.keras.optimizer_v2.adam import Adam`

[2021-09-24 15:22] PenguinsAreLate commented on #46390
Commenting to know if there's been any update to adding support for LSTM or GRU layers in TFLM, and if so, could somebody point out some resources to understand how to do it?

[2021-09-24 16:44] umadevimcw commented on #52076
When I was trying to debug and trace the flow,
interpreter() ====> Interpreter Operator() ( there is another operator() with num thread as arguments) but in the trace observed that Interpreter Operator() with arguments is not being called and also observed while registering the delegates num threads is -1

[2021-09-24 17:01] Vadim-Maklakov commented on #52101
Hi @ sushreebarsa!
I figured out what was going on, it was my mistake that I did not carefully read the documentation and tried to compile nvcc with Clang-12 instead of the required Clang-11. Please close this ticket, my apologies for unnecessary trouble.
 In my case in the '/usr/local/cuda-11-2/include/crt/host_config.h` explicitly stated:

[code]
Thank you very much.

[2021-09-24 17:05] sbushmanov opened #52124 "Mysterious bunch of meta_optimizer.cc:801 errors"
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow compiled from source master, via Docker
- TensorFlow version 2.7.0
- Python version: 3.9.7
- Bazel version: 3.7.2
- CUDA/cuDNN version: 11.4/8.2
- GPU model and memory: NVIDIA 1080 Ti

I'm getting the following error messages which I don't understand if I have to pay attention to or disregard:

[code]

This happens while running custo

[2021-09-24 17:07] kdja90 commented on #52114
@sushreebarsa
the code of demo.ipynb

"""
Mask R-CNN
The main Mask R-CNN model implementation.

Copyright (c) 2017 Matterport, Inc.
Licensed under the MIT License (see LICENSE for details)
Written by Waleed Abdulla
"""

import os
import random
import datetime
import re
import math
import logging
from collections import OrderedDict
import multiprocessing
import numpy as np
import tensorflow as tf
#

[2021-09-24 17:20] Vadim-Maklakov commented on #36213
Hi all!
1. For correct nvcc and TF compilation  with MLIR support required  preinstalled clang  - see required clang version version in the  '/usr/local/cuda-11-2/include/crt/host_config.h`
2.  If you remain only sm_61 in the setup.py  - you get error in the time compilation. Enter next values separated by comma when you run setup.py after defining correct path to clang: sm_35, sm_50, sm_60, sm_70

[2021-09-24 18:24] #51929 closed

[2021-09-24 19:55] probonopd opened #52125 "'pip install tensorflow' does not work on FreeBSD"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): FreeBSD 12.2
- TensorFlow installed from (source or binary): trying to install binary using `pip`
- TensorFlow version: any
- Python version: 3.8

**Describe the problem**

`pip install tensorflow` does not work on FreeBSD. Apparently there is no precompiled package for FreeBSD. Why?

[code]

**Any other info / logs*

[2021-09-24 22:32] karimnosseir commented on #51797
I am not familiar with HF API, but if you can make the shapes dynamic in a correct way before saving, then you can resize correctly after converting.

Yes file another Issue.

I am closing the issue since it is not a problem with TFLite. Feel free to file issues if you're having a problem.

Thanks

[2021-09-24 22:32] #51797 closed

[2021-09-24 23:42] PaulKlinger commented on #51465
@NoahDStein @jvishnuvardhan This is the same behaviour as in numpy, see the comment in [the numpy docs there](https://numpy.org/doc/stable/reference/random/generated/numpy.random.uniform.html):

Here the output of
[code]
is `0.99999976`, and, as float precision drops away from zero,
[code]

It might be helpful to add a similar comment in the tensorflow docs?

[2021-09-25 07:45] zzz7net opened #52129 "Tensorflow site language switching"
![tf-site](https://user-images.githubusercontent.com/5677691/134763303-c4bb3386-de5f-41e6-9ac7-6c5ef0f58e9e.png)
Switching from Russian to English doesn't work.
English -> Russian is ok
Russian -> French is ok
Russian -> Deutsch is ok
I've tried this: https://www.tensorflow.org/ and this
https://www.tensorflow.org/?hl=en
Also I've deleted all other languages except English from my Google Account.

[2021-09-25 07:49] zzz7net commented on #52129
Tested in Google Chrome and Mozilla Firefox browser.

[2021-09-25 08:18] MJDragoon commented on #52112
Hi @mohantym,

After adding the os.add_dll_directory() into the code, no ptxas.exe error occurred, but I did get a cudart64_110.dll error. I am currently reinstalling everything that I have downloaded during this project in order to at least fix that issue.

[2021-09-25 08:56] Marcus2810 commented on #46635
Okay, I know this may sound too easy but, try using: to_tensor() on the ragged_tensor and continue from there.
But say per batch is a different shape: then np.array([ TF.MAPFN_HERE for batch in batches]), but make sure the value after mapped by list compression is changed from raggedTensor to tensor.

Hope this helps.

[2021-09-25 09:24] #51931 closed

[2021-09-25 09:30] bleedingfight opened #52130 "Tensorflow build debug failed"
**System information**
- OS Platform and Distribution (e.g., Linux xxx-ROG 5.12.19-1-MANJARO #1 SMP PREEMPT Tue Jul 20 20:57:37 UTC 2021 x86_64 GNU/Linux):
- TensorFlow installed from (source or binary):source
- TensorFlow version: master,lastest commit:225be1b5fb5 Update TFRT dependency to use revision
- Python version:3.9.7
- Installed using virtualenv? pip? conda?:None,just use system python an

[2021-09-25 11:46] mdanatg commented on #52055
The `export` command is a bash command, not a Python instruction. In Python, try this, after the imports: `tf.autograph.set_verbosity(10)`.

This might be an environment issue. If you get the chance, you may also want to install using the official instructions instead: https://www.tensorflow.org/install.

[2021-09-25 13:06] alanpurple opened #52131 "build failed with bazel 4.2.1 ( windows 10 )"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2021-09-25 13:15] alanpurple commented on #52131
same with bazel 3.7.2

2.6.0 had no problems like this

[2021-09-25 13:30] skrishnanv opened #52132 "TF 2.6 OOM Error not happening in TF 2.3"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-09-25 13:31] starboyvarun opened #52133 "ValueError: unknown url type: '/content/Mango'"
![1](https://user-images.githubusercontent.com/26819449/134773285-e34a8aaf-2cbe-43be-9507-94cf0d47283d.JPG)
 I want to run my Mango dataset. Can you please tell me what I am doing wrong here.?
Thank You.

[2021-09-25 13:44] starboyvarun opened #52134 "Function call stack: train_function"
![2](https://user-images.githubusercontent.com/26819449/134773664-3244a63e-aab1-4259-8c1a-27a0fb2b91df.JPG)

Why I am getting this error? any solution?

[2021-09-25 13:53] RomanFoell opened #52135 "Restart kernel (Ipython Konsole in Spyder 5.1.5) with os._exit(0) does not work when using tensorflow.distribute.MirroredStrategy"
Hi together,

I have installed

****System information**
- OS Platform and Distribution: Windows Server 2016
- TensorFlow installed from: binary? (conda install)
- TensorFlow version: 2.6.0
- Python version: 3.9.7
- Installed using: pip & conda
- Bazel version: ?
- GCC/Compiler version:  4.7.0 20111220
- CUDA/cuDNN version: 8.1.0.77 & 11.2.2
- GPU model and memory:  2xTesla M60, 2x8gb**

**When I

[2021-09-25 14:05] connorbrinton commented on #51743
Hi @mihaimaruseac, I ran into this issue myself so I just submitted a very small PR that I believe should fix it (#52136). Let me know if there are any changes you would like to it! 🙂

[2021-09-25 15:07] Kaveh8 commented on #44046
Same here. At least what is the temporary solution?

[2021-09-25 15:18] michal-demecki commented on #44046
My workaround solution:

[code]

[2021-09-25 16:24] bguetarni commented on #52134
It seems that one of your images is corrupted. Check your data.

[2021-09-25 17:35] leandro-gracia-gil opened #52137 "tf.quantization.quantize fails when converting to TFLite"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installation (pip package or built from source): from pip package tf-nightly
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.7.0-dev20210922

### 2. Code

I'm exporting a TFLite model with multiple signatures provided as concrete functions. In

[2021-09-26 03:27] J-H-Sung opened #52138 "(Apple Silicon aka M1) import tensorflow killed python in terminal"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.6 (Big Sur)
- Mobile

[2021-09-26 03:34] AR-fan commented on #51813
@jvishnuvardhan
I have collected a lot of pictures. I need pictures not to be reversed. I found that using tf.io will reverse some pictures, but some pictures will not be reversed, but opencv will never reverse.
Maybe I'll use OpenCV to process the picture, because it will be done as I expected.

[2021-09-26 04:04] colynhn opened #52139 "When does tensorflow 2.x support crf？"
In view of the fact that the crf implemented by tensorflow addons or implemented by ourselves are integrated into the tensorflow 2.x framework is not friendly, so, when will tensorflow 2.x support crf?

[2021-09-26 04:31] starboyvarun commented on #52134
@bguetarni  how to know which one is corrupted ??

[2021-09-26 05:36] bharathjatoth commented on #38619
Yes as @nilay121 suggested changing the input_dim works for the error...

[2021-09-26 11:07] rudimytro opened #52140 "More than 20% of video memory missing both Linux and Windows [RTX 3080]"
### **System information**
**- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
This is the same for my custom code and for simple scripts while setting GPU in TensorFlow.
**- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**
This was tested on Windows 10 and Linux Ubuntu 20.04
**- TensorFlow installed from (source or binary):**
TensorFlow

[2021-09-26 11:09] eyalhir74 commented on #27545
@rchao  - What would be the replacement for the ProfilerHook in TF2? is it possible to see the chromo json logs in another way?

[2021-09-26 11:49] haozh7109 commented on #52121
Hi @mohantym, thanks for your response. I have added the get_config() function in the customized layer but still got the same error. I have updated the modified code accordingly.

[2021-09-26 11:55] RomanFoell commented on #52140
Have you tried:

[code]

[2021-09-26 12:08] Valret commented on #52140
I tried this and it is having similar effect to

`config.gpu_options.per_process_gpu_memory_fraction = 1.0
`

Basically, if I Specify something slightly higher like 8500 I get:

If I try to allocate almost the totality of ram by setting 10000 for VirtualDeviceConfiguration or 1.0 for per_process_gpu_memory_fraction than I get something like:

[2021-09-26 12:40] ammarsalman94 opened #52141 "Is it even possible to build tensorflow on Windows?"
**System information**
- Windows 10 Pro x64 - 19043.1237
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.4
- Python version: 3.8
- Installed using virtualenv? pip? conda?: no
- Bazel version (if compiling from source): 3.7.1
- GCC/Compiler version (if compiling from source): VC 14.29.30133
- CUDA/cuDNN version: 11.0/8.0
- GPU model and memory: Nvidia GTX 1080

I chec

[2021-09-26 13:07] #52134 closed

[2021-09-26 13:07] #52133 closed

[2021-09-26 13:29] leandro-gracia-gil opened #52142 "Cannot convert concrete functions with no input arguments"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installation (pip package or built from source): from pip package tf-nightly
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.7.0-dev20210922

### 2. Code

Current TFLite conversion code seems to assume that all signatures take at least 1 input

[2021-09-26 15:25] omxpro opened #52143 "Errors"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-09-26 15:27] omxpro commented on #52143
(venv) om@localhost:~/twitchtubemain$ python
Python 3.6.9 (default, Jan 26 2021, 15:33:00)
[GCC 8.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'tensorflow'

[2021-09-26 15:28] omxpro commented on #52125
Same error

[2021-09-26 15:28] omxpro commented on #52125
#52143

[2021-09-26 16:50] sushreebarsa commented on #52141
@ammarsalman94 Could you please try to Build from [Source ](https://www.tensorflow.org/install/source_windows#setup_for_windows) using TF latest stable version 2.6.0 and have a look at the similar issue [link](https://stackoverflow.com/questions/34785414/how-to-install-tensorflow-on-windows) , Please let us know if it helps? Thanks!

[2021-09-26 17:05] sushreebarsa commented on #52131
@alanpurple We see that you are using` tf-nightly` version(2.7.0rc0) which is not stable release. Could you please try to  Build from [Source](https://www.tensorflow.org/install/source) using Latest Stable version of TF 2.6.0 and let us know if the issue still persists? Thank you!

[2021-09-26 18:36] RomanFoell commented on #52132
Hi,

it seems we have a similar error: https://github.com/tensorflow/tensorflow/issues/52123

Best, Roman

[2021-09-26 18:41] RomanFoell commented on #52123
Hi,

similar errors: https://github.com/tensorflow/tensorflow/issues/52132

Best, Roman

[2021-09-26 19:39] water5 opened #52144 "returning NUMA node zero?"
**System information**
- Fedora 34
- TensorFlow version: 2.6.0
- Python version: 3.9.7
- Installed Tensorflow using pip
- Bazel version: 3.1.0
- GCC/Compiler version: 11.2.1
- CUDA/cuDNN version: 11.4
- GPU model and memory: NVIDIA T600 / 4GB

[code]

[2021-09-26 19:57] ammarsalman94 commented on #52141
I tried with version 2.6, same issues. I looked at the SO answer provided, in summary it says Bazel doesn't work on Windows and I have to build for Linux. If I wanted to run Tensorflow on Linux I wouldn't be trying to build it for Windows. So that defeats the whole purpose. Is that the conclusion? It simply doesn't build on Windows and the whole instruction pages are pretty much a waste of time?

[2021-09-26 20:06] leandro-gracia-gil opened #52145 "Fix the integration of TFLite models with multiple signatures and quantization"
**System information**
- TensorFlow version (you are using): tf-nightly
- Are you willing to contribute it (Yes/No): No, this has a broader impact in the TFLite conversion & quantization API design.

**Describe the feature and the current behavior/state.**

TensorFlow 2.7 is finally adding support for multiple signatures in TFLite models as described [here](https://www.tensorflow.org/lite/guide/si

[2021-09-26 21:35] veonua commented on #35451
bad bot

[2021-09-26 23:07] SHILPASHIVAMALLU opened #52147 "tensorFlow.compat.v1 no module named compat"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are
not verified bugs in TensorFlow, please go to
[Discourse](https://discuss.tensorflow.org/).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/tensorflow/blob/master/SECURI

[2021-09-26 23:09] SHILPASHIVAMALLU commented on #52147
using tensorflow 2.6 , python 3.9. running generate_tfrecord.py file in pycharm . Getting no module compat found error. Any idea how to resolve this issue

[2021-09-27 00:38] SungmanHong commented on #16768
downgrading tensorflow and tensorflow-gpu to 2.5 helped. thx!!

[2021-09-27 02:13] rchao commented on #27545
@eyalhir74 - training with profiling can be enabled with using [`tf.keras.callbacks.TensorBoard(profile_batch=...)`](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/TensorBoard?version=nightly). Can you check if this fits your needs?

[2021-09-27 05:08] AraibKarim commented on #51897
I am also facing the above issue. What is the solution for it?

[2021-09-27 06:09] mohantym commented on #52121
Hi @sanatmpa1 ,
Could you please look at this issue!Issue is replicating is [2.5](https://colab.research.google.com/gist/mohantym/c255b8fa54c273b44e57a52be619825b/github_52121.ipynb#scrollTo=8bPRtXAlfRh6),[2.6](https://colab.research.google.com/gist/mohantym/c255b8fa54c273b44e57a52be619825b/github_52121.ipynb#scrollTo=8bPRtXAlfRh6) and [2.7.0dev(nightly)](https://colab.research.google.com/gist/moh

[2021-09-27 06:09] tilakrayal commented on #52122
@jvishnuvardhan ,
I was able to reproduce the issue in tf v2.5, v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/c145d603e628bb72ab7db0e4f61e45f8/52122.ipynb).

[2021-09-27 06:21] mohantym commented on #52139
Hi @colynhn! ,Could you please fill the template for[ feature request](https://github.com/tensorflow/tensorflow/issues/new/choose) from here as It will help us track and expedite the feature request.

[2021-09-27 07:12] mohantym commented on #52112
Hi @sanatmpa1!
Could you please look at this issue! Issue is not replicating in Colab ,when commenting out this line .Attaching GIST for reference in [2.5](https://colab.research.google.com/gist/mohantym/ab6a4daf4454ec6ee6c42880fcd49767/52112.ipynb#scrollTo=KXnXiymmrI7U),[2.6](https://colab.research.google.com/gist/mohantym/166ce616e3aa6899c443da0f4939d193/52112.ipynb#scrollTo=KXnXiymmrI7U) and [2

[2021-09-27 07:12] Ramsonjehu commented on #52092
@tilakrayal , In the [comment](https://github.com/tensorflow/tensorflow/issues/44251#issuecomment-724863274) you mentioned, its been told to check the line which causes the error.

    def _cuda_autoconf_impl(repository_ctx):
    """Implementation of the cuda_autoconf repository rule."""
     if not enable_cuda(repository_ctx):
        _create_dummy_repository(repository_ctx)
    elif get_host_env

[2021-09-27 07:24] #44602 closed

[2021-09-27 07:24] #44381 closed

[2021-09-27 07:24] #44291 closed

[2021-09-27 07:24] #44292 closed

[2021-09-27 07:24] benbarsdell commented on #41777
I ran the gist on Colab and locally on my machine with TF 2.5 and 2.6 and in all cases it worked without error. I do see the error with TF 2.4. So afaict this issue is fixed as of TF 2.5.
@sushreebarsa can you confirm that you reproduced the error with TF 2.5?

[2021-09-27 07:39] Saduf2019 commented on #41777
@benbarsdell
I ran the code on tf 2.5 and it works as expected, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/d8d47fc4b28fc5cc64b48b74388800a0/untitled139.ipynb?authuser=1), can you please move this to closed status as its resolved.

[2021-09-27 07:41] bguetarni commented on #52134
Not easy. Try to make a script that read each one of your images (without display) and check if the image is correctly opened. Seems that your images are JPEG, find a library to open JPEG images and try that.

[2021-09-27 07:52] tilakrayal commented on #52125
@probonopd ,
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel versi

[2021-09-27 08:09] mganahl opened #52148 "tf.matmul returns wrong results if called within tf.vectorized_map"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- macOS Big Sure, Version 11.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.6.0-rc2-32-g919f693420e 2.6.0
- Python version: 3.8.6
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if compiling from

[2021-09-27 08:23] omxpro commented on #52143
Heyy, how is your day going

[2021-09-27 08:24] #34035 closed

[2021-09-27 08:24] starboyvarun commented on #52134
@bguetarni  thank you. actually, I tried running again. Doing a factory reset in google colab and clearing the output. It worked perfectly then.

[2021-09-27 08:31] benbarsdell commented on #41777
Closing as fixed since TF 2.5.

[2021-09-27 08:31] #41777 closed

[2021-09-27 08:35] Saduf2019 commented on #52143
@omxpro
Please refer to similar error issue: [link](https://stackoverflow.com/questions/46568913/tensorflow-import-error-no-module-named-tensorflow/48159412),[link1](https://stackoverflow.com/questions/42244198/importerror-no-module-named-tensorflow),[link2](https://www.pythonpool.com/no-module-named-tensorflow-error-solved/),[link3](https://github.com/tensorflow/tensorflow/issues/32147#issuecomme

[2021-09-27 08:49] Valret commented on #52140
Small Update:
When I installed tf 2.4.x I get

This is looking much more acceptable, but I can't train anything because of:

May be the compatibility issue with my cuda version, but I can't downgrade it much because of rtx3000 card support. I have a feeling that something in cuda/tensorflow allocates 2GB for some compatibility thing with rtx3000, but does it really need that much? I would apprecia

[2021-09-27 08:49] kamalkraj opened #52149 "TPU not working in virtualenv in Cloud TPU-VM"
TF failed to connect to TPU when TF installed in virtualenv.
get the following error

[code]
code runs successfully with pre-installed TensorFlow. Fails when installed in a virtualenv
pre-installed TF version `tf-nightly==2.6.0`

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubunt

[2021-09-27 08:49] omxpro commented on #52143
I tried link and link1 none of those worker And I also tried `python3 -m pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl` and it installed tensorflow but I got this error

Error importing tensorflow.  Unless you are using bazel,
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and r

[2021-09-27 08:51] omxpro commented on #52143
Link2 dosn't help either

[2021-09-27 08:53] omxpro commented on #52143
Idk how to check avx CPU  and I haven't installed vscode package I am running Tensorflow on terminal on mobile

[2021-09-27 08:54] Saduf2019 commented on #52143
@omxpro
Can you please confirm if you are using pip install or bazel and for pip have you followed [guide](https://www.tensorflow.org/install/pip), [you may refer to [link](https://www.youtube.com/watch?v=YBnLVZJs6ps),[link1](https://www.youtube.com/watch?v=s4Lcf9du9L8])

[2021-09-27 08:57] omxpro commented on #52143
I used pip install

[2021-09-27 08:58] omxpro commented on #52143
And my terminal is running aarch64 aka 64 bits

[2021-09-27 09:04] alanpurple commented on #52131
@sushreebarsa I've already told......   see the upper comment

[2021-09-27 09:12] omxpro commented on #52143
Uninstalled tersorflow installing it again using official instructions

[2021-09-27 09:14] omxpro commented on #52143
t:/usr/local/lib/python3.6/dist-packages$ pip install --upgrade tensorflow
ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow
om@localhost:/usr/local/lib/python3.6/dist-packages$

[2021-09-27 09:24] #19407 closed

[2021-09-27 09:49] mohantym commented on #52124
Hi @sbushmanov ! Could you please provide a Colab gist for the same code as It will help expedite the issue.

[2021-09-27 10:17] mohantym commented on #52129
Hi @zzz7net! I checked the translation in Russian then switched to English from Drop down .Link is working fine for me. Could you  check again after disconnecting from any VPN service if you are using.

[2021-09-27 10:24] #51927 closed

[2021-09-27 10:24] #51977 closed

[2021-09-27 10:41] starboyvarun commented on #52107
I can't create a gist. Is it possible you can help me like this? @mohantym
Thank You.

[2021-09-27 10:42] tilakrayal commented on #52147
@SHILPASHIVAMALLU ,
Can you please refer this [link](https://github.com/tensorflow/tensorflow/issues/50121) with similar error.It helps.Also, In order to expedite the trouble-shooting process, could you please provide a complete code you are using.Thanks!

[2021-09-27 10:46] edumotya opened #52150 "Add full parameter to SSIM"
**System information**
- TensorFlow version (you are using): 2.6.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, `tf.image.ssim` and also `tf.image.ssim_multiscale` return the mean ssim value of the images (across height and width dimensions), but returning the full ssim image would be highly useful for multiple applications

[2021-09-27 11:24] #51933 closed

[2021-09-27 11:24] #30003 closed

[2021-09-27 11:42] yonikremer commented on #47853
I struggle with the same issue, have you managed to improve the efficiency?

[2021-09-27 11:44] GrimmGringo commented on #43193
I had this error, as well as:
Could not load dynamic library 'cudnn64_8.dll'; dlerror: cudnn64_8.dll not found

Here's what worked for me, with Python 3.9.6 running on my Windows 10 laptop with a mobile RTX 3080.

Upgrade to the latest NVidia drivers:
-- https://www.nvidia.com/drivers

Install CUDA 11.4:
-- https://developer.nvidia.com/cuda-downloads?target_os=Windows&target_arch=x86_64&target_ver

[2021-09-27 11:47] mohantym commented on #52142
Hi @leandro-gracia-gil ! I tried to replicate in TF 2.6 (Stable version ) .Changed Arguments as per this [thread](https://www.tensorflow.org/lite/convert#convert_concrete_functions_) .

Attaching [GIST](https://colab.research.google.com/gist/mohantym/13a375c8fcb737231f5fb0093704676d/github_52142.ipynb#scrollTo=2DDy1tt-BTZI) for reference, Its replicating in TF-nightly  though.

[2021-09-27 11:52] mohantym commented on #52150
Hi @Saduf2019!
Could you please look at this feature request!

[2021-09-27 12:38] J-H-Sung commented on #52138
I resolved myself this issue by following guide from this link: https://github.com/ctrahey/m1-tensorflow-config, but I still wonder why tensorflow installed via above procedure killed python.

[2021-09-27 12:41] Flamefire opened #52151 "mkl_fused_batch_norm_op_test failing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0 / 2.6.0
- Python version: 3.8
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if

[2021-09-27 12:41] Flamefire commented on #52151
@TensorFlow-MKL

[2021-09-27 13:29] Saduf2019 commented on #52143
@omxpro
please verify all requirements, ex is your python 32 bits.
#48733 #50399 #47151 [this is clearly a compatibility issue

[2021-09-27 13:33] omxpro commented on #52143
It's 64 bits I checked it

[2021-09-27 13:58] omxpro commented on #52143
I used a method from #47151 and thus is the error I got after that

`om@localhost:~/twitchtubemain$ pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl
Collecting tensorflow==0.12.0                           Using cached https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl (38.4 MB)

[2021-09-27 14:02] omxpro commented on #52143
[Error file.txt](https://github.com/tensorflow/tensorflow/files/7236810/Error.file.txt)
Error file to make you see the error better

[2021-09-27 14:41] elfringham opened #52152 "TensorFlow unit test failure kernels:requantize_op_test on AARCH64"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-09-27 14:42] elfringham commented on #52152
@cfRod @nSircombe

[2021-09-27 14:50] elfringham commented on #52152
In the inline function RequantizeManyInNewRangeUsingEigen<qint32, quint8> in https://github.com/tensorflow/tensorflow/blob/89363b5e083a5c9faa12660cd05c1d79c6ea9f36/tensorflow/core/kernels/quantization_utils.h#L727 you can see the use of rounding_delta. This causes a 'round to nearest' operation when converting from int32 to uint8. In the test the intermediate value of 127.5 results in an output of

[2021-09-27 15:21] zzz7net commented on #52129
VPN is off and the same result. Even if I connect through VPN a language of the interface should not depend on my location. Because I switch the language manually. I can switch from Russian to any language except English. And this is a bug or web-designer flaw.

[2021-09-27 15:30] oooooome opened #52153 "Linking of rule '@com_github_grpc_grpc//src/compiler:grpc_cpp_plugin' failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-09-27 15:32] Petros626 commented on #51950
I use tf 2.6 as I mentioned before but it doesn't solve the error. Look above I describe what's happens if I use tf 2.6

[2021-09-27 16:13] LucaCappelletti94 commented on #23566
I am using TensorFlow 2.6 and the warning persists.

[2021-09-27 16:24] #22530 closed

[2021-09-27 16:24] #22098 closed

[2021-09-27 16:24] #51921 closed

[2021-09-27 16:43] sanatmpa1 commented on #52112
@MJDragoon,

For the error related to cudart64_110.dll , you can refer to the similar [issue1](cudart64_110.dll ), [issue2](https://github.com/tensorflow/tensorflow/issues/43193). As you said you can try to do a fresh install and make sure you have the tested build configurations as per this [guide](https://www.tensorflow.org/install/source_windows#gpu) while installing. Thanks!

[2021-09-27 16:54] bkeys opened #52154 "Tensorflow fails to build on Fedora ppc64le"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Fedora 34 ppcle64
- TensorFlow

[2021-09-27 17:40] edloper commented on #51234
When you use `tf.map_fn` with RaggedTensors, you currently need to specify the output signature of your function.  In this case, your function returns a 2D RaggedTensor, so either of the following will work:

[code]

Or:

[code]

[2021-09-27 17:41] edloper commented on #51234
(The reason the `tf.map_fn(tf.math.square, digits)` example works without specifying the output signature is that the output signature is identical to the input signature.  In that case, you don't need to specify it.)

[2021-09-27 17:48] catskillsresearch commented on #51234
Thanks for the clarification. My experience on `tf.map_fn` is that it will not, in any event, result in parallel kernels running on the GPU.  It's about the same as a Python `for` loop.  The only way to get real parallelism is with `tf.vectorized_map`, with same-sized tensors. This requires some very tedious refactoring of methods and padding of vectors and clever tricks so that the algorithm for

[2021-09-27 17:51] edloper commented on #45476
Is this still an issue?  If so, can you provide a code snippet to reproduce it?

[2021-09-27 18:24] #51906 closed

[2021-09-27 18:28] probonopd commented on #52125
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): __`FreeBSD 12.2`__
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: __Not a mobile device__
TensorFlow installed from (source or binary): __trying to install binary using `pip`__
TensorFlow version: __any__
Python version: __3.8.10__
Installed using virtualenv? pip? conda?: __trying to install bin

[2021-09-27 18:47] Saduf2019 commented on #52144
@water5
Please refer to similar error issues and let us know: [link](https://github.com/tensorflow/tensorflow/issues/47245#issuecomment-786245812),[link1](https://stackoverflow.com/questions/44232898/memoryerror-in-tensorflow-and-successful-numa-node-read-from-sysfs-had-negativ),[link2](https://github.com/tensorflow/tensorflow/issues/51358#issuecomment-898411697)

Also, try setting a hard limit on

[2021-09-27 18:54] Saduf2019 commented on #52141
@ammarsalman94
As per [guide](https://www.tensorflow.org/install/source_windows) it is possible to have bazel on windows, please verify the system [requirements](https://www.tensorflow.org/install/pip#system-requirements) and hardware requirements. [refer to [link](https://github.com/tensorflow/tensorflow/issues/52143#issuecomment-927651685])]

[2021-09-27 19:01] mohantym commented on #52145
Hi @jvishnuvardhan ! Could you please look at this feature request!

[2021-09-27 19:04] mohantym commented on #52153
Hi @oooooome !
Could you please fill the issue Template from [here ](https://github.com/tensorflow/tensorflow/issues/new/choose)as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks!

[2021-09-27 19:52] mpromonet opened #52155 "Building failure of libtensorflowlite_gpu_delegate.so"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6.0
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 9.3.0

**Describe the problem**
Building libtensorflowlite_gpu_delegate.so fails complaining about `absl::Status`.
However building libtensorflowlit

[2021-09-27 20:45] #52141 closed

[2021-09-27 23:35] dwyatte opened #52156 "Keras model saved with user-defined signature works with TensorFlow Serving but not Python"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Any
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): TensorFlow 2.6 and Nightly
- Python version: Python 3.7
- CUDA/cuDNN version: N/A
- GPU model and memory: N/A

**De

[2021-09-28 01:18] oooooome commented on #52153
@mohantym  Sorry, there were some problems when I started this issue, now I have updated this issue

[2021-09-28 01:24] #21315 closed

[2021-09-28 01:24] #22694 closed

[2021-09-28 02:01] CarlosYeverino opened #52158 "TensorFlow Lite C library built with CMake, ERROR: Select TensorFlow op(s), included in the given model, is(are) not supported by this interpreter. Make sure you apply/link the Flex delegate before inference."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.04**
- Mobil

[2021-09-28 02:09] wqcsim opened #52159 "Why does tensorflow only use one GPU, but it takes up two GPUs?"
|=============================================================================|
|    0   N/A  N/A     27330      C   ...envs/p3.8_t2.2/bin/python      249MiB |
|    1   N/A  N/A     27330      C   ...envs/p3.8_t2.2/bin/python     7517MiB |
+-----------------------------------------------------------------------------+

I have two GPUs on my machine. I run the GPU training code and found that the p

[2021-09-28 02:15] cccat6 commented on #40261
@tomerk Hi tomerk,

I know it might be an old issue, but it still exists today. I am using `tensorflow-gpu 2.6.0` with `keras 2.6.0`.
These two lines of code have the same output but the `predict` function spends much much more time than `model`.
[code]
The output type of `predict` is a Python Array, while `model` is a TensorFlow Array. I don't think there is any actual difference. Please forgive

[2021-09-28 03:19] yananchen1989 commented on #52159
Same issue.

I find that even I assign gpu-1 to the model construction, it stills occupy two gpus's memory. Only one gpu has work load.

[code]

[2021-09-28 04:17] mohantym commented on #52132
Hi @skrishnanv ,Could you try again with

Reference:
https://github.com/tensorflow/models/issues/8487

You can also stop the  memory growth using commands in below link
https://forums.developer.nvidia.com/t/tensorflow-python-framework-errors-impl-resourceexhaustederror/155746

[2021-09-28 05:19] tilakrayal commented on #52148
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.5, v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/dc2cc8f88a4ed682904f6a05123202ec/52148.ipynb).

[2021-09-28 05:24] #23082 closed

[2021-09-28 05:27] EricTheRed20 opened #52160 "Make libTensorFlow C++ library work for the latest M1 Mac"
The M1 Mac with it's own non-Intel processor was released ten months ago but is still not supported by the libTensorFlow C++ library **https://www.tensorflow.org/install/lang_c**.  It would be good to get that done so that we can release apps for the Mac.  As far as I know TensorFlow does work for the M1 Mac in Python.

You can test the library file compatibility by running xcrun as follows:-
Run

[2021-09-28 05:30] mohantym commented on #52160
Hi @Eric2016Lv !
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-28 05:30] EricTheRed20 commented on #51996
I've tested the libtensorflow.dylib file (and the other ones) for compatibility with the M1 Mac by running the XCode command: xcrun lipo -info "libtensorflow.dylib" and it returns "libtensorflow.dylib is architecture x86_64".  It should return "libtensorflow.dylib are: arm64 x86_64" in order to support both the Intel Mac and the M1 Mac.

The line "macOS, Version 10.12.6 (Sierra) or higher" can the

[2021-09-28 05:37] EricTheRed20 commented on #52160
Sorry, can't see an "issue template".  Sorry don't use colab.  The issue is quite clear:-  It doesn't work for the new Mac released almost a year ago.

[2021-09-28 05:45] skrishnanv commented on #52132
Hi,
I have tried with batch size 16 and 24. There is no problem.
I have also stopped the memory growth. It does not help for 2.6.
For 2.3 everything works fine(no crash).
Thanks

On Tue, 28 Sep, 2021, 9:47 am mohantym, ***@***.***> wrote:

[2021-09-28 06:10] wqcsim commented on #52159
**Supplement:** When the memory of both GUPs is occupied by other processes, and CUDA_VISIBLE_DEVCES is set to specify any one GUP, the program will throw an exception error. (Normal) However, if the CUDA_VISIBLE_DEVCES variable is not set, the program will segfault and crash directly.

[2021-09-28 06:33] mohantym commented on #52135
Hi @sanatmpa1! Could you please look at this issue ? .

[2021-09-28 06:46] Saduf2019 commented on #52141
@ammarsalman94
Thank you for your response, glad the issue is resolved.

[2021-09-28 07:03] FedePiras opened #52161 "Unable to use ImageDataGenerator on M1 mac"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS BigSur 11.6
- TensorFlow

[2021-09-28 07:26] Saduf2019 commented on #52159
@yananchen1989
You may also refer to [link](https://stackoverflow.com/questions/43577668/tensorflow-seems-to-be-using-two-gpus-but-one-gpu-seems-not-be-doing-anything),[link1](https://jhui.github.io/2017/03/07/TensorFlow-GPU/),[link2](https://datascience.stackexchange.com/questions/90324/why-the-my-tensorflow-code-just-use-one-gpu-when-i-assign-more-than-one)

[2021-09-28 07:27] tilakrayal commented on #52154
@bkeys ,
Can you please refer this issues with similar error.[1](https://github.com/tensorflow/tensorflow/issues/44626) and [2](https://github.com/tensorflow/tensorflow/issues/46781#issuecomment-771930946).It helps.Thanks!

[2021-09-28 07:33] mohantym commented on #52156
Hi @dwyatte! ,Could you please look at  these similar issues  [link1](https://github.com/tensorflow/tensorflow/issues/37973),[link2](https://stackoverflow.com/questions/58575586/could-not-find-matching-function-to-call-loaded-from-the-savedmodel)

[2021-09-28 07:40] kumariko commented on #48001
@arturdryomov Could you please let us know if you still need help on this ? if it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-09-28 08:24] #42756 closed

[2021-09-28 08:24] #44290 closed

[2021-09-28 09:00] RomanFoell commented on #52132
I get a GPU OOM also when I use model.predict(x_input,batch_size = batch_size) with batch_size =1.

The training is gone through with batch-size 40.

x_input was also the training-input with size [5704,122,242,1]. First index is training-amount.

Even more strange is the fact, that when I  try the same code for different times, it sometimes works, sometimes crashes (model.predict with batch-size 1

[2021-09-28 09:05] sushreebarsa commented on #52109
@lankuohsing We see that the issue is posted in Keras repo and PR [**15422**](https://github.com/keras-team/keras/pull/15422) is merged for this issue .Please let us know if we can close this ticket here ?Thanks!

[2021-09-28 09:08] kuruvilla2087 commented on #8858
Hi @lppier ,Can you please let me know if the above issue got resolved for you as the issue occurs for me in a modern gpu(RTX 3090) with all the latest drivers for me on ubuntu system but Windows 10 perfectly works .
i was able to run perfectly by limiting power to 150 w .
Is this a hardware issue

[2021-09-28 09:33] koernerfelicia commented on #51393
@bhack, have you compared this to 2.3? I also don't see much difference between 2.5 and 2.6, but a significant difference from 2.3 to 2.5

[2021-09-28 09:35] mohantym commented on #52129
Hi @zzz7net ! I tried to replicate the above situation in my local system (connected with VPN) , It lagged a bit after switched from Russian to English and then worked when I refreshed the Site once. Can you check after refreshing the page once?

[2021-09-28 09:49] yananchen1989 commented on #52159
@Saduf2019  Thanks, Very helpful.

[2021-09-28 09:49] mohantym commented on #52153
Hi @oooooome ! Could you try again with Tested configurations from[ here](https://www.tensorflow.org/install/source#tested_build_configurations) for TF 2.2 .

[2021-09-28 10:09] wqcsim commented on #52159
@Saduf2019
Thank you for your answers, but my problem is not to use multi-GPU training. The issues is that Tensorflow uses GUP0 by default but occupies some memory of GUP1, and when both GPU memory is occupied by other processes, run training script will segfault instead of throwing an exception.

[2021-09-28 10:18] Saduf2019 commented on #52125
@probonopd
Can you please refer to similar error [issues](https://github.com/tensorflow/tensorflow/issues/42482#issuecomment-680855973) and let us know: #44615, #47205, [link](https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip)

Please, uninstall everything and then install in new environment.

Step 1: pip install -U pip
Step 2: pip install -U setuptools
Step 3: pip instal

[2021-09-28 11:00] bhack commented on #51393
I don't have the env ready for 2.3 now but you can post your graph with https://pyinstrument.readthedocs.io/en/latest/.
You need to use `-r html` for the interactive output so the you can take a screenshot of the critical section as I've done in the previous post.

[2021-09-28 11:21] ghylander commented on #47691
What's the status on this? i see that #48935 has been approved

[2021-09-28 11:24] #51981 closed

[2021-09-28 11:32] bnavigator commented on #47691
If I understand correctly, the "approval" is just a trigger to run the tests.

[2021-09-28 11:47] cipri-tom commented on #8858
@kuruvilla2087 , sorry to jump in, but the rest of the thread suggests that this is due to a power source that is limited / unreliable. You should limit the GPU or get a platinum rated GPU that has enough power for the GPU and the rest of the system.

[2021-09-28 11:55] #52089 closed

[2021-09-28 11:57] omxpro commented on #52125
I have pip 21

[2021-09-28 12:13] kaustubhjirapure opened #52163 "bazel build tensorflow:tensorflow_cc is not working"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 64-bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6.0
- Python version: 3.9
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source):

[2021-09-28 12:58] EdvardHolden commented on #37339
I have the same issue with tensorflow-gpu 2.6.0

[2021-09-28 13:24] elfringham opened #52164 "unit test failure kernels:sparse_matmul_op_test on AARCH64"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-09-28 13:28] rino20 commented on #50079
QAT is included in TFMOT's release. I thought this is fixed by recent updates, but assign @xhark for better information.

@qiyangzhang0329  could you check this is still happening in the HEAD of the TF model optimization toolkit?

[2021-09-28 13:35] Saduf2019 commented on #52163
@kaustubhjirapure
We see this issue is already reported and is work in progress please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/45059) and let us know

[2021-09-28 13:40] tcheath opened #52165 "BoostedTreesClassifier Not Progressing Past Step 0"
OS: macOS Catalina 10.15.7
TF 2.6.0 from binary
Python 3.9.6
Running inside Jupyter Notebook

**Describe the current behavior**
Training a BoostedTreesClassifier based on a transformation of TFRecordsDataset does not progress past step 0, and thus has no trees.  Evaluation results come back as if no prediction is being made and running feature importance afterwords raises an error that says the mo

[2021-09-28 13:50] lankuohsing commented on #52109
@sushreebarsa  The solution in that PR is useful! Thanks! You can close the issue.

[2021-09-28 14:03] duckduck-sys opened #52166 "Model evaluate accuracy drops following Save + Load"
After training EfficientNetB0 on a custom dataset, i want to ensure that the model i save give the same accuracy after i load it:

[code]

Which gives the output :

[code]

Batch size 32. The model got much worse after save + reloading

I tried EfficientNetB1, B2, B3 as well, all same issue

Then I tried simply switching to MobileNetV3 and Xception, they both work perfectly fine! The accuracy afte

[2021-09-28 14:18] zzz7net commented on #52129
@mohantym I appreciate your efforts, but I'm already used to this feature. It shouldn't work that way, but let's say it is a Google feature, not a bug. Hopefully in the future someone will rewrite tensorflow site and everything will work as it should.

[2021-09-28 14:28] dwyatte commented on #52156
Update: It looks like I can use `restored_model.signatures["serving_default"](abc=tf.constant([[1, 2,]]))` to include run user-defined signature in Python. This makes sense to me and should be sufficient for my use case.

[2021-09-28 14:35] goncinious opened #52167 "tf.image.resize() behaves differently when wrapped in a tf.data.Dataset.map()"
`tf.image.resize()` gives different results if used as is (plain) or if wrapped in a `tf.data.Dataset.map()`, however, I except the output to be the same in both cases. The behaviour is shown in the output of the snipped below.

Specifically, this issue seems related to the specific interpolation method `tf.image.ResizeMethod.BILINEAR` (default) with uses `tensorflow.python.ops.gen_image_ops.resiz

[2021-09-28 14:38] tilakrayal commented on #52161
@FedePiras ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/51736#issuecomment-908923652) from the issue with similar error.It helps.Thanks

[2021-09-28 14:41] #52156 closed

[2021-09-28 14:46] lizaibeim opened #52168 "Tensorflow lite conversion error when converting the bidirectional LSTM"
### System information

-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows
-   **TensorFlow installed from (source or binary)**: binary
-   **TensorFlow version (use command below)**: 2.3.0
-   **Python version**: 3.8.10

You can collect some of this information using our environment capture script:

https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh

[2021-09-28 15:03] MaoXianXin opened #52170 "Document description error"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/lite

[2021-09-28 16:11] sanatmpa1 commented on #25198
@gyp2448565528,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions.You can build using `bazel` and use this [guide](https://www.tensorflow.org/install/source_windows) for your reference. Thanks!

[2021-09-28 16:18] sanatmpa1 commented on #24974
@Oceania2018,

We are checking to see if you still need help on this issue. We recommend that you upgrade to `2.6` which is latest stable version of TF and let us know if the issue still persists in newer versions. You can use this [tested build configurations](https://www.tensorflow.org/install/source_windows#tested_build_configurations) as a reference for configuring the build environment. Thank

[2021-09-28 16:52] chunduriv commented on #48721
@Andreas5739738, I tried to run your code on `Colab` using `TF v2.6` and `tf-nightly` and this issue was resolved. Please find the [gist](https://colab.research.google.com/gist/chunduriv/91da87b9e05efcb3eba7d0c6456ebefa/48721.ipynb) here for reference. Please feel free to close the issue if it is resolved ? Thanks!

[2021-09-28 17:05] rthadur commented on #20579
This feature request has a more specific discussion here https://github.com/tensorflow/tensorflow/issues/48009 , which suggests the implementation , closing this request. Thank you

[2021-09-28 17:05] #20579 closed

[2021-09-28 17:11] rthadur commented on #24043
As the Contrib folder has been depreciated this request is no longer valid. Please check this latest documentation for pruning here https://www.tensorflow.org/model_optimization/guide/pruning . Thank you

[2021-09-28 17:11] #24043 closed

[2021-09-28 17:18] rthadur commented on #25279
Contrib has been depreciated here in Tensorflow repo and moved to tensorflow/addons , please reopen the issue in  https://github.com/tensorflow/addons/issues if this exists in latest version. Thank you

[2021-09-28 17:18] #25279 closed

[2021-09-28 17:20] rthadur commented on #21590
Contrib has been depreciated here in Tensorflow repo and moved to tensorflow/addons , please reopen the issue in https://github.com/tensorflow/addons/issues if this exists in latest version. Thank you

[2021-09-28 17:20] #21590 closed

[2021-09-28 17:21] rthadur commented on #21555
Contrib has been depreciated here in Tensorflow repo and moved to tensorflow/addons , please reopen the issue in https://github.com/tensorflow/addons/issues if this exists in latest version. Thank you

[2021-09-28 17:21] #21555 closed

[2021-09-28 17:23] rthadur commented on #24442
Contrib has been depreciated here in Tensorflow repo and moved to tensorflow/addons , please reopen the issue in https://github.com/tensorflow/addons/issues if this exists in latest version. Thank you

[2021-09-28 17:23] #24442 closed

[2021-09-28 17:24] rthadur commented on #28185
Contrib has been depreciated here in Tensorflow repo and moved to tensorflow/addons , please reopen the issue in https://github.com/tensorflow/addons/issues if this exists in latest version. Thank you

[2021-09-28 17:24] #28185 closed

[2021-09-28 17:26] Andreas5739738 commented on #48721
Thank you! Confirming that this is resolved.

[2021-09-28 17:26] #48721 closed

[2021-09-28 17:40] Saduf2019 commented on #52159
@wqcsim
That is how any computer device would work [be it cpu,gpu,tpu]
Both GPU memories are full and you try to run another script obviously it will crash, kindly move tihs to closed status and create an issue on discussion forum as there is a larger community there to support.

[2021-09-28 17:48] Saduf2019 commented on #51950
AttributeError: module 'tensorflow' has no attribute 'GraphDef'
please refer to [link](https://stackoverflow.com/questions/57614436/od-graph-def-tf-graphdef-attributeerror-module-tensorflow-has-no-attribut),[link2](https://githubmemory.com/repo/nikitakit/self-attentive-parser/issues/57)

[2021-09-28 18:32] FedePiras commented on #52161
I uninstalled Tensorflow and delete my virtual environment, then I created a new one and re-installed Tensorflow as specified in the apple site, but the Scipy Error is still there. It only appears when I use the `model.fit` method using an `ImageDataGenerator`

[2021-09-28 18:53] jvishnuvardhan commented on #52122
@helion-du-mas-des-bourboux-thales I updated `supported_ops` and I don't notice any error. [Here](https://colab.research.google.com/gist/jvishnuvardhan/3c4aa7fdcd5d808f19c362467bc4a48f/untitled1065.ipynb) is a gist for reference. Thanks!

`        converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS, tf.lite.OpsSet.SELECT_TF_OPS]`

Please verify once and let us know what you think

[2021-09-28 21:31] wangpengmit commented on #43937
I'll add this.

[2021-09-28 22:00] kdja90 commented on #52114
please i'm waiting for help!

[2021-09-28 23:24] jvishnuvardhan commented on #26353
I think this was resolved already with the detailed guide on migrating checkpoints from TF1.x to 2.x.
[Here](https://www.tensorflow.org/guide/migrate/migrating_checkpoints) is the link to the guide.

I am closing this issue as this was already resolved. Please feel free to reopen if I am mistaken. Thanks!

[2021-09-28 23:24] #26353 closed

[2021-09-29 00:11] thaink commented on #52158
It can be used in the same way as with C++ API. Just build https://www.tensorflow.org/lite/guide/ops_select#c and load it then It should work fine.

[2021-09-29 00:39] q-ycong-p commented on #29622
@qlzh727 , thanks for the clarification. However, it almost looks like TF LSTMCell uses icfo, and keras LSTM uses ifco, as opposite to what you described?

The source is: current tf2onnx handles TF LSTMCell (see code [here](https://github.com/onnx/tensorflow-onnx/blob/master/tests/test_lstm.py#L20)) and the lstm rewriter assumes that the [weights](https://github.com/onnx/tensorflow-onnx/blob/maste

[2021-09-29 00:44] CarlosYeverino commented on #52158
@thaink thanks for your reply.

The solution you mentioned is based on **bazel**. Any plans to provide a solution for **CMake**?

[2021-09-29 01:20] #52159 closed

[2021-09-29 02:30] sushreebarsa commented on #52109
@lankuohsing
Thank you for your update,  moving this issue to closed status as it is resolved.Thanks!

[2021-09-29 02:30] #52109 closed

[2021-09-29 02:31] duckduck-sys commented on #52166
Found this old [issue](https://github.com/tensorflow/tpu/issues/378) that indicated problems with model saving when using Keras+EfficientNet, so i tried switching to the SavedModel pb format instead of HDF5 format, and it works.

I.e. just remove ".hdf5" form the above code, it then saves in .pb instead, which gives the expected identical output after saving+reloading.

It also gives a warning tho

[2021-09-29 02:50] sushreebarsa commented on #52131
@alanpurple Could you please let us know if we can close the issue?Thanks!

[2021-09-29 03:00] jkooooo99 commented on #52131
ERROR: An error occurred during the fetch of repository 'llvm-project'

I have the same problem with master branch(2.6)!!!!!!!!!!!!

win10      bazel 3.7.2   vs2019

I followed everything in offical website but I still have this problem......

sorry for my english

`Repository rule llvm_configure defined at:
  C:/users/admin/_bazel_admin/xv6zejqw/external/llvm-raw/utils/bazel/configure.bzl:83:33:

[2021-09-29 03:15] houzeyu2683 opened #52174 "Different results between model.fit() and model.predict()"
I get the problem when I try to fine-tuned my model.
Here is my `model.fit` code and training progress bar.

![2021-09-29 10-42-31 的螢幕擷圖](https://user-images.githubusercontent.com/42731603/135195990-85ea0501-fd37-4ac9-a575-48a719872c89.png)

![2021-09-29 10-42-46 的螢幕擷圖](https://user-images.githubusercontent.com/42731603/135196092-1e32fdae-5149-445c-a17c-0647512b970d.png)

I found the `keras.losses

[2021-09-29 03:57] Shobaky opened #52175 "Gradients are zero"
I have an ANN to classify food, however it doesn't work, i kept debugging till i found that the problem is with the weights aren't updated, so i printed the grads to find out that they are always zero except for the first time

Here is the code
   `def forward(x):

        return tf.matmul(x,W) + b`

   `def activate(x):
        return tf.nn.softmax(forward(x))`

   `def model(x):

        x = fla

[2021-09-29 04:23] tilakrayal commented on #52165
@tcheath ,
In order to expedite the trouble-shooting process, could you please provide a complete code  and the dataset you are using.Thanks

[2021-09-29 04:49] mohantym commented on #52174
Hi @houzeyu2683! Could you  please fill the template from [here ](https://github.com/tensorflow/tensorflow/issues/new/choose)and share the complete stand alone code as It will help expedite the issue.

[2021-09-29 05:07] jkooooo99 commented on #52131
[code]

Could it be the link of "llvm" down?

[2021-09-29 06:07] mohantym commented on #52164
Hi @jvishnuvardhan! Could you please look at this issue.

[2021-09-29 06:10] charmasaur commented on #47661
Seems to have been fixed upstream: https://docs.nvidia.com/cuda/archive/11.0/cuda-toolkit-release-notes/index.html#cusolver-resolved-issues

I'm pretty confused by CUDA/cuSOLVER versions though. [NVIDIA says](https://docs.nvidia.com/cuda/archive/11.0/cuda-toolkit-release-notes/index.html#cuda-major-component-versions) that the bug got fixed in CUDA 11.0 / cuSOLVER 10.6.0.245, but TF 2.4 (which is

[2021-09-29 06:17] kaustubhjirapure commented on #52163
I have seen the issue and will wait for that issue to be resolved and see if it helps me.

[2021-09-29 06:17] #52163 closed

[2021-09-29 06:17] mohantym commented on #52167
Hi @goncinious! , I tried to replicate this issue with  the code  you shared  in Colab ,Could not find the above Error Stack Trace . Can you please share the same as Colab Gist? Attaching [GIST](https://colab.research.google.com/gist/mohantym/09fd474860213fb96cecb108e3403d59/github_52167.ipynb) for reference.

[2021-09-29 06:34] guan-yuan opened #52176 "Running with multiple GPUs, the model has been successfully loaded into the GPUs, but the program is stuck and there is no error message"
**The issue:**
Running with multiple GPUs, the model has been successfully loaded into the GPUs, but the program is stuck and there is no error message.

**Program running status:**
[Program running status](https://drive.google.com/file/d/1i0e1ONe3WQ1qb5Ol_0b9CZWvf2qRqW9k/view?usp=sharing)

**Execution environment:**
OS: Ubuntu 18.04.5 LTS
GPU: NVIDIA RTX A6000 * 2
TF Version:  tensorflow-gpu  2.4

[2021-09-29 06:50] mohantym commented on #52160
Hi @EricTheRed20! ,Sorry for the late response.
Could you please look at the answer of these threads[ thread1](https://stackoverflow.com/questions/63609132/what-is-a-proper-command-to-build-tensorflow-lite-c-api-for-macos) ,[thread2](https://github.com/karthickai/tflite) for now. It suggests building Tensorflow C++ using Bazel .

[2021-09-29 07:21] koernerfelicia commented on #51393
2.3:
<img width="932" alt="Screenshot 2021-09-29 at 09 02 49" src="https://user-images.githubusercontent.com/45405119/135219257-67fdcd1d-f404-4133-bb25-3f277b2033e0.png">

html [here](https://gistpreview.github.io/?31109fd77a36bd4722e52e271d2998c5)

2.5:
<img width="938" alt="2_5" src="https://user-images.githubusercontent.com/45405119/135220112-98eacf4b-0be8-49ec-9b37-983ad7757921.png">

html [he

[2021-09-29 07:22] koernerfelicia commented on #51393
@yarri-oss did you get a chance to look at the gist I shared above?

[2021-09-29 07:40] helion-du-mas-des-bourboux-thales commented on #52122
@jvishnuvardhan, thank you for the help.
Indeed it works on nightly, but not on 2.6.0.

[2021-09-29 07:55] kumariko commented on #48943
I could reproduce the issue with TF 2.6 .Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/588eb5083e8d5a6f517eed72392f95c3/untitled.ipynb#scrollTo=q5pYuw07JvVj).Thanks!

[2021-09-29 07:57] DavidvSon1 opened #52177 "Segmentation fault when invoking TFLite interpreter on basic quantized model"
### 1. System information
Operating System: Ubuntu 18.04.5 LTS
Kernel: Linux 5.4.0-60-generic
Architecture: x86-64
GPU: 2x Nvidia Quadro RTX8000
cuda: v11.0

Tensorflow v2.4.0 (installed through pip)
Also tested on TF v2.5.0

### 2. Code
from tensorflow.keras import layers
from tensorflow.keras.losses import SparseCategoricalCrossentropy
from tensorflow import keras
import tensorflow as tf
import

[2021-09-29 08:04] sanatmpa1 commented on #51987
@Flamefire,

Can you submit a PR for updating this [file](https://github.com/tensorflow/tensorflow/blob/3d3c6db1ca2d50f6f07722cd800144f8f736167c/tensorflow/core/platform/cpu_feature_guard.cc#L150-L157) with the change you want to propose? Thanks!

[2021-09-29 08:05] kumariko commented on #48947
I was able to reproduce the error in tf 2.6 . Please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/7afe8910211d8583b2a6afe23699eb30/-48947.ipynb#scrollTo=InTen7Q8BYLY).Thanks

[2021-09-29 08:19] prakharverma opened #52178 "Different prediction on GPU between `tf.keras.models.load_model(..)` and `tf.saved_model.load(..)`"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.1
- Python version: 3.8.2
- CUDA/cuDNN version: 11.0
- GPU model and memory: GeForce GTX 1050, 4 GB

**Describe the current behavior**

I have a CNN based regression model. Surprisingly, the model i

[2021-09-29 08:21] zhaozheng09 opened #52179 "FloorMod on gpu"
[code]
TODO(b/32239807) on **2016-10-18**, and now **2021-9-23**
When will we develop this feature?

[2021-09-29 08:32] AditiG27 commented on #52106
Can you provide the infrastructure requirement for Tensorfllow setup along with its security features ?

[2021-09-29 08:37] colynhn commented on #52139
@mohantym Is asking me to resubmit an issue according to the template for feature request？

[2021-09-29 08:38] ITvampire commented on #22116
Could you talk about where to run it?

[2021-09-29 09:09] sachinprasadhs commented on #51862
Will take your issue one by one as follow.

1. You are right `reset_states` has been depreciated, instead you can use `reset_state` as mentioned in the warning, I can help you with creating PR for thew same.

2. Subclassing metric will resolve many of the complex scenarios =, whereas other methods will be having certain limitations. You can still use the simplest method to define custom metric as

[2021-09-29 09:55] samhuang-sg commented on #46653
Which version of gcc are you using? Another question: is it bazel 3.1.0? I can't find bazel 3.10

[2021-09-29 10:03] #52174 closed

[2021-09-29 10:04] louim-lbs opened #52180 "Tensorflow GPU 2.4 from source - fatal error in compilation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): W10 Pro 21H1
- TensorFlow inst

[2021-09-29 10:15] alimoche commented on #46653
`gcc (Debian 8.3.0-6) 8.3.0`

yes it is a typo, I used bazel 3.1.0

[2021-09-29 10:15] kumariko commented on #48880
Was able to reproduce the issue in TF v2.6 please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/bce2855ba3276a95dc8012c3b7631b2d/untitled14.ipynb#scrollTo=7cT46uJLEBrp).Thanks!

[2021-09-29 10:20] samhuang-sg commented on #46653
Thanks for the prompt reply!

[2021-09-29 10:48] lizaibeim commented on #52168
I have solved this problem by converting the bidirectional lstm into to unidirectional lstm. The solution is referenced by [https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb?pli=1#scrollTo=0-b0IKK2FGuO](url)

[2021-09-29 10:48] tilakrayal commented on #25513
@agnz
Is this still an issue? Please take a look at this [link](https://github.com/tensorflow/tensorflow/issues/36691#issuecomment-586026016).It helps.
Could you please update TensorFlow to the latest stable version v.2.6 and let us know if you are facing the same error. Thanks!

[2021-09-29 10:49] #52168 closed

[2021-09-29 10:51] Saduf2019 commented on #23845
Moving this to closed status due to lack of activity.

[2021-09-29 10:51] #23845 closed

[2021-09-29 10:51] kumariko commented on #28388
We see that you are using old version of tensorflow which is out of support window, We recommend that you upgrade to 2.6.0 and let us know if the issue still persists in newer versions .please check https://github.com/tensorflow/tensorflow/issues/28388#issuecomment-733962842 , https://github.com/tensorflow/tensorflow/issues/28388#issuecomment-734028952 it will help in resolving your issue. Please

[2021-09-29 10:51] #28388 closed

[2021-09-29 10:57] mohantym commented on #27781
Hi @lost-libra!
Contrib is removed from latest TF-2.0 version, you need find alternatives for that using this link. Hence you need to modify code according to TF1.X and TF2.X versions.

Could you please try on instructions from [Tflite documentation ](https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter) from  latest stable version of tf 2.5 or 2.4.1 and let us know if this is still

[2021-09-29 10:57] #27781 closed

[2021-09-29 10:59] sachinprasadhs commented on #35114
Hi,
The above link which you have provided does not exists anymore, could you please try the same example mentioned in the latest version [here](https://www.tensorflow.org/lite/microcontrollers/get_started_low_level).
Feel free to open new issue if you still face an error.

[2021-09-29 10:59] #35114 closed

[2021-09-29 11:06] Petros626 commented on #51950
@sushreebarsa you can also write me privately by email to ask your expectation/question there?

[2021-09-29 11:06] mohantym commented on #28000
Hi @hahadashi !
It seems you are using older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions as many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions. Thanks!

[2021-09-29 11:06] Petros626 commented on #51950
i think i have tried these two sources once, but i will check again to see if they are of any use.

[2021-09-29 11:07] #28000 closed

[2021-09-29 11:08] stefan-falk commented on #33688
I'm having the same issue as I was trying to distribute one model over multiple GPUs.

@ramonmatas can this (https://github.com/tensorflow/tensorflow/issues/33688#issuecomment-647530665) be replicated over multiple workers? What I mean is: Can we run this on n-machines using e.g. the `tf.distribute.MultiWorkerMirroredStrategy`?

[2021-09-29 11:09] #25513 closed

[2021-09-29 11:11] kumariko commented on #26501
Could you Please refer to [**`link1`**](https://stackoverflow.com/questions/52637206/how-to-use-libtensorflow-lite-a-on-raspi-3), [**`link2`**](https://github.com/tensorflow/tensorflow/pull/24194), [**`link3`** ](https://github.com/huaxiaozhong1/complete-procedure-to-train-and-recognize-you-by-raspberry-pi-3-and-tensorflow-lite) , [**`link4`**](https://www.tensorflow.org/lite/api_docs/cc/class/tfl

[2021-09-29 11:11] #26501 closed

[2021-09-29 11:12] sachinprasadhs commented on #37007
The link which you have mentioned does not exists anymore, please follow [this](https://www.tensorflow.org/lite/microcontrollers/get_started_low_level) link and try the `Hello world` example.
Feel free to open new issue if the issue still persists.

[2021-09-29 11:12] #37007 closed

[2021-09-29 11:14] Saduf2019 commented on #47931
@DanielMH
I ran the code shared on tf nightly and face a different error,please find the [gist here](https://colab.research.google.com/gist/Saduf2019/17858068afab0029ebb072144fde42c6/untitled642.ipynb), as the error reported is addressed, kindly move this to closed status, and for any further queries please pen an issue as per below info:

Please post this issue on [keras-team/keras repo](https://

[2021-09-29 11:17] sushreebarsa commented on #28705
@rounakskm We see that you are using old version of tensorflow, We recommend that you upgrade to 2.6.0 and let us know if the issue persists ? Please have a look at the [link ](https://www.tensorflow.org/install/source_windows) and similar [issue](https://stackoverflow.com/questions/41070330/is-it-possible-to-use-tensorflow-c-api-on-windows) for more reference.Thanks!

[2021-09-29 11:17] #47931 closed

[2021-09-29 11:18] mohantym commented on #28839
Hi @dbl001 !
It seems you are using older versions(1.x versions) of Tensorflow. We recommend that you upgrade  your code base to 2.x  versions as many features and bug fixes has been done in newer versions and let us know if the issue still persists in newer versions.

Tensorflow 2.6 is available on Macbook M1 ,Please follow this [reference ]( https://developer.apple.com/metal/tensorflow-plugin/)

[2021-09-29 11:18] #28839 closed

[2021-09-29 11:23] kumariko commented on #30176
please follow this [**link**](https://stackoverflow.com/questions/9456728/how-to-deal-with-bad-alloc-in-c) for the clarification of your issue, I hope it helps. Feel free to open new issue if the issue still persists. Thanks!

[2021-09-29 11:23] #30176 closed

[2021-09-29 11:27] sanatmpa1 commented on #30492
@PhilJd,

The link that has been provided is broken and here is the [new link](https://www.tensorflow.org/guide/create_op#compile_the_op_using_your_system_compiler_tensorflow_binary_installation) for creating OP and the documentation states that, `If you compile your op library with gcc>=5, add -D_GLIBCXX_USE_CXX11_ABI=0 to the command line to make the library compatible with the older abi`. Do yo

[2021-09-29 11:31] SeungVictor commented on #52138
Did you update bigsur 11.6 recently? I did and I bumped into the same issue, I solved  the problem by upgrading to monterey 12(beta). I think bigsur 11.6 was a problem

[2021-09-29 11:31] chunduriv commented on #41334
Closing this issue as it is [answered](https://github.com/tensorflow/tensorflow/issues/41334#issuecomment-662747527) by @aaudiber. Please feel free to reopen the issue if you still have a concern. Thanks!

[2021-09-29 11:32] #41334 closed

[2021-09-29 11:42] bhack commented on #48947
https://github.com/keras-team/keras/blob/master/keras/saving/saved_model/load.py#L86-L91

/cc @k-w-w

[2021-09-29 11:49] sachinprasadhs commented on #37580
I still see significant different with `numpy` array and `tensor` as input in `Tensorflow 2.6`, please find the [Gist](https://colab.research.google.com/gist/sachinprasadhs/f1c6c1f411cd6fe8d10abaefafff30ce/37580.ipynb) for reference.

[2021-09-29 11:51] Saduf2019 commented on #26786
We see that you are using old version of tensorflow which is out of support window, We recommend that you upgrade to 2.6.0 and let us know if the issue still persists in newer versions. Please open a new issue in case you face any errors, Hence moving this to closed status.Thanks!

[2021-09-29 11:51] #26786 closed

[2021-09-29 11:56] chunduriv commented on #48684
Since the above [PR](https://github.com/tensorflow/tensorflow/pull/52095) was merged. I am closing this issue. Please feel free to reopen the issue if you still have a concern. Thanks!

[2021-09-29 11:56] #48684 closed

[2021-09-29 11:59] #51992 closed

[2021-09-29 11:59] #51999 closed

[2021-09-29 12:30] chunduriv commented on #52175
@Shobaky,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using?Thanks!

[2021-09-29 13:00] AlexisPapaioannou opened #52182 "Didn't find op for builtin opcode 'QUANTIZE' version '2'"
### 1. System information

- TensorFlow installation (pip package or built from source): 2.5.0

#### 2. Description
**I have tried to import a TensorFlow lite model using int8 quantization into a Nucleo l496zg and I received the following error.**

### 3. Error
"Didn't find op for builtin opcode 'QUANTIZE' version '2'. An older version of this builtin might be supported. Are you using an old TFLit

[2021-09-29 13:27] limhj23 commented on #43800
Has it been solved by any method? I am exactly in the same situation as @soroosh-rz  and looking for a way to bypass.

[2021-09-29 13:34] sanatmpa1 commented on #36837
@dtsmith2001,

As you have managed to fix the problem. Would you mind submitting a PR for the same?

[2021-09-29 13:35] mdanatg commented on #43800
I've been able to successfully retrain a saved Keras model, so I think that is a valid alternative at the moment. @tomerk for more info; I think there may be some tutorials around.

I think this works as a low level with tf.function as well, so long as you only save the model itself, without any of the training scaffolding, and re-create any optimizers/gradients after loading.

[2021-09-29 13:43] sanatmpa1 commented on #23716
@sanjaybharadwaj,

Here's a [guide](https://www.tensorflow.org/lite/guide/build_arm#cross-compilation_for_arm_with_bazel) for building tensorflowlite in aarch64 architectures. Since the `aarch641 target architecture is supported. I am closing this issue for now and feel free to open a new one if you still face any questions. Thanks!

[2021-09-29 13:43] #23716 closed

[2021-09-29 14:04] myasser63 opened #52183 "Object Detection Android App Crash"
I am trying to convert my custom  `MobileNet Single Shot Detector (v2)` to `tflite` using Roboflow tutorial colab (https://colab.research.google.com/drive/1qXn9q6m5ug7EWJsJov6mHaotHhCUY-wG?usp=sharing). After Conversion I deploy it on Tensorflow android app demo (https://github.com/tensorflow/examples.git). When I run the app it always crashes after lunch immediately showing the following error:

[2021-09-29 14:07] sanatmpa1 commented on #30416
@AndreyPlotkinOr,

We are checking to see if you still need help on this issue. Can you try building the latest stable version of TF i.e `2.6.0` and let us know if the issue persists? You can use this [guide](https://www.tensorflow.org/install/source_windows) for your reference and take a look at this [link](https://www.tensorflow.org/install/source_windows#tested_build_configurations) for the tes

[2021-09-29 14:07] sanatmpa1 commented on #36611
@daixiangzi,

We are checking to see if you still need help on this issue. You can try building the latest stable version of TF i.e `2.6` using this [guide](https://www.tensorflow.org/install/source) and make sure to use this [link](https://www.tensorflow.org/install/source#tested_build_configurations) to know about tested build configurations. Thanks!

[2021-09-29 14:23] Space-Fighter opened #52184 "AttributeError: 'Conv2D' object has no attribute 'shape' and ValueError: You are trying to load a weight file containing 1 layers into a model with 19 layers."
TENSORFLOW VERSION: 2.1.0
Hey there i am trying to load a model like the following -
Below is my model architecture -
[code]
Then i make a variable named unet and pass in the model architecture -
[code]

I get the following error -
[code]

Full traceback below -
https://pastebin.com/mkTSg4bS

by the way originally i started out with the following code the thing is the actual code was -
[code]
When

[2021-09-29 14:52] J-H-Sung commented on #52138
@SeungVictor Thanks for the reply. Yes, I updated may Mac OS to Big Sur 11.6 and Xcode to 13.0, recently. I did not test my tensorflow codes right after the update, so that maybe I would not checked the issue right away. I'll try to check whether the issue still occurs on the Monterey OS.

[2021-09-29 15:20] sanatmpa1 commented on #33987
@deven-amd,

As per this [commit](https://github.com/tensorflow/tensorflow/commit/3a91a0251bdbda59e8079958ff9261fcb752f52f), `nogpu` tag references have been modified to `no-gpu` by @chsigg and so I am closing this issue. Feel free to open a new issue if you face any further problems. Thanks!

[2021-09-29 15:20] #33987 closed

[2021-09-29 15:28] myasser63 commented on #52183
@sushreebarsa  Could provide assistance?

[2021-09-29 15:41] sanatmpa1 commented on #33001
@QRabbani,

As you're not getting the `XLA` issue with the building `2.6.0`, I am closing this issue. Please feel to open a new issue for the different error. Thanks!

[2021-09-29 15:41] #33001 closed

[2021-09-29 15:59] #51860 closed

[2021-09-29 16:37] sanatmpa1 commented on #38437
@battuzz,

Thanks for the clarification. We no longer support cmake builds and it is recommend to use bazel.

[2021-09-29 16:43] rainwoodman commented on #51839
@sjtusmartboy:

The SO example runs in eager mode, calls tf.random, and doesn't call tf.py_function.

Did you encounter the leak in a similar context?

[2021-09-29 16:55] goncinious commented on #52167
Thanks @mohamedadaly,

I wasn't able to reproduce the result in the Colab environment either (with or without GPU support), but I was able to reproduce it using the official [Tensorflow Docker images](https://www.tensorflow.org/install/docker#download_a_tensorflow_docker_image), which is similar to my setup (also running from within a Docker container).

Environment:
- GPU: NVIDIA Quadro T2000 (al

[2021-09-29 16:57] sanatmpa1 commented on #52121
I am able to reproduce `OperatorNotAllowedInGraphError` error and here's the [gist](https://colab.research.google.com/gist/sanatmpa1/40b4c7ddae7a8559bfc7a09e60cab6c7/52121.ipynb). Found a similar issue #44430

[2021-09-29 16:59] #26215 closed

[2021-09-29 16:59] #26906 closed

[2021-09-29 16:59] #51872 closed

[2021-09-29 17:56] sachinprasadhs commented on #31442
Hi, there is a document available on Tensorflow on same topic [Post-training integer quantization with int16 activations](https://www.tensorflow.org/lite/performance/post_training_integer_quant_16x8). You can try the same.
Feel free to reopen the issue if the error still persists, Thank you.

[2021-09-29 17:56] #31442 closed

[2021-09-29 17:59] #52005 closed

[2021-09-29 18:04] Saduf2019 commented on #52125
@omxpro
Can you please refer to : #37345, #50766, [link](https://githubmemory.com/repo/pypa/packaging-problems/issues/547)

[2021-09-29 18:24] Flamefire commented on #52151
Some more test results for `//tensorflow/core/kernels/mkl:mkl_fused_batch_norm_op_test` where I checked `Test/FusedBatchNormOpTest/0.Training` and `Test/FusedBatchNormOpTest/0.TrainingRunningMean` and printed the first element of the `output` and `mkl_output` tensors for various configs. The input seems to be random, but the same (checked the first 2 elements if the input tensor)

`--config=mkl` i

[2021-09-29 18:41] jvishnuvardhan commented on #52122
This will be available on next stable version (`TF2.7`) which will be release in near future. Till that time, please use `tf-nightly`.

I am closing this issue as this was resolved in recent `tf-nightly`. Please feel free to reopen if I am mistaken. Thanks!

[2021-09-29 18:41] #52122 closed

[2021-09-29 19:08] preethivenkatesh commented on #51970
hi @eli-osherovich, is it possible to share your `demo.py` with us to properly investigate the issue?

[2021-09-29 19:09] vulkomilev commented on #52184
[code]
I think that you forgot the (x) in
       c = Conv2D(filters, kernel_size, padding=padding, strides=strides, activation="relu", input_shape=(HEIGHT, WIDTH, 3))

[2021-09-29 19:11] vulkomilev commented on #52183
java.lang.AssertionError: Error occurred when initializing ObjectDetector: Input tensor has type kTfLiteFloat32: it requires specifying NormalizationOptions metadata to preprocess input images.

Did you specify this?
Are you sure the two programs are compatible

[2021-09-29 20:20] EricTheRed20 commented on #52160
Thanks for that.  Neither of those links give a solution.  They are both for TensorFlow "Lite" which is a cut down version of the full library.  Unfortunately TensorFlow "Lite" doesn't have the full functionality required and the full [libTensorFlow C++ library](https://www.tensorflow.org/install/lang_c) is needed.

[2021-09-29 20:30] rthadur commented on #29850
This function has been deprecated in latest version , closing this issue. Thank you

[2021-09-29 20:30] #29850 closed

[2021-09-29 20:40] jvishnuvardhan commented on #52079
@GiacomoMarchioni This is more related to tflite micro. I was able to run those commands in colab. [Here](https://colab.research.google.com/gist/jvishnuvardhan/4af29c05d36d04488e2c75c6c067fa78/untitled.ipynb) is a gist for our reference.

As this is more related to TFlite micro, posting it on TFlite micro repository would result in faster resolution  https://github.com/tensorflow/tflite-micro

Tha

[2021-09-29 20:46] axiom5 commented on #47554
Can confirm that I got the same warning when using MultiHead attention.

`WARNING:absl:Found untraced functions such as dropout_6_layer_call_and_return_conditional_losses, dropout_6_layer_call_fn, point_wise_feed_forward_layer_3_layer_call_and_return_conditional_losses, point_wise_feed_forward_layer_3_layer_call_fn, dropout_16_layer_call_and_return_conditional_losses while saving (showing 5 of 535

[2021-09-29 22:09] TheRed86 commented on #47554
Having the same issue for the first time, but apparently, this is also the first time RAM-memory doesn't grow up while training!
[code]
However, the model is not saved due to another issue:
[code]
I haven't defined the `assets` folder, though.

Using:
[code]
I disabled the GPU, though with the command:
[code]

[2021-09-29 22:17] HoltSpalding opened #52190 "tf.constant's dtype changes after model load in tf.math.pow operation."
I ran into this issue using tensorflow 2.5.1, and now tensorflow 2.6.0 after just updating.  Here's the code:

[code]

Which produces the following exception:
`
`TypeError: Input 'y' of 'Pow' Op has type int64 that does not match type int32 of argument 'x'.
`

These exceptions are thrown only after loading the model, the model works completely fine if not saved. I've tried changing the dtypes of t

[2021-09-29 23:11] rxsang commented on #48880
Hi David, this is a dynamic padder error. Could you take a look? Thanks!

[2021-09-30 02:20] thaink commented on #52103
There is a rule named "tensorflowlite" in tensorflow/lite/BUILD.
I wonder why do you need to add your own rule?

[2021-09-30 02:23] Loganpi opened #52192 "TF not using GPU for models"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-09-30 02:34] thaink commented on #52088
That cc_library is for using as dependencies of other bazel rule.
for cc shared object, you can try: in tensorflow/lite/BUILD:
- remove ":framework"  and "//third_party/tensorflow/lite/kernels:builtin_ops_all_linked" in the deps field
- add your new custom cc_library there
Then you can try to build the //tensorflow/lite:tensorflowlite.

[2021-09-30 02:50] mohantym commented on #52160
Hi @jvishnuvardhan ! Could you please look into this issue!

[2021-09-30 03:23] refraction-ray opened #52193 "API to explicitly label python input arguments in ``tf.function``"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tf 2.5.0
- Are you willing to contribute it (Yes/No): No

[2021-09-30 03:24] limhj23 commented on #43800
I don't understand. How would you train further from the saved Keras model without having tf.function in the training step?

Also, this issue occurs in the same way when you have to map with parse function in creating TFDataset. So I need a way to work around with tf.function

[2021-09-30 03:26] negf commented on #52086
I don't know if the 2 links are related. As I said, I works with tf 2.5, but fails with tf >= 2.6.

I cannot run an example on colab gist due to limited resources, but here is an example which fails on my system (with the error message from above)
https://colab.research.google.com/drive/1y2YHfcZIv5lTJscgCKopZMHXGdxU1AND?usp=sharing

[2021-09-30 04:05] mohantym commented on #52132
Hi @Saduf2019! Could you please look at this issue! providing GIST in TF [2.5](https://colab.research.google.com/gist/mohantym/2e27202a8a28595da1cc2c4e3b732c4b/image_classification_from_scratch.ipynb#scrollTo=82v3sePkvlva) ,[2.6](https://colab.research.google.com/gist/mohantym/37aecab0cc4b784f56b470b9c0ec65ff/image_classification_from_scratch.ipynb#scrollTo=Dw0o6l9Evlvb) and [2.7 ](https://colab.r

[2021-09-30 04:24] mohantym commented on #52184
Hi @Space-Fighter!
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-09-30 04:57] PeterLeopold commented on #44302
Same issue here, just several months later and a version upgrade or two

sudo apt install cuda
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved ou

[2021-09-30 05:08] sushreebarsa commented on #52155
@mpromonet Could you please have a look at the similar issue [link1,](https://github.com/tensorflow/tensorflow/issues/44926) [link2](https://stackoverflow.com/questions/63438024/using-tensorflow-lite-gpu-delegate-in-androids-native-environment-with-c-api) and let us know if it helps ?Thanks!

[2021-09-30 05:23] sushreebarsa commented on #52166
@duckduck-sys Could you please move this issue to closed status if it is resolved for you ? Please have a look at the [link1](https://github.com/tensorflow/tensorflow/issues/42459), [link2 ](https://stackoverflow.com/questions/61493605/keras-model-containing-efficientnet-submodel-cant-load-weights-vgg-works-fine)and [link3](https://www.tensorflow.org/api_docs/python/tf/saved_model) for your refere

[2021-09-30 05:29] sushreebarsa commented on #52183
@myasser63 In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),Thanks!

[2021-09-30 05:47] myasser63 opened #52194 "Object Detection Android App Crash"
I am trying to convert my custom `MobileNet Single Shot Detector (v2)`  TF 1.x to `tflite` using [Roboflow tutorial colab](https://colab.research.google.com/drive/1qXn9q6m5ug7EWJsJov6mHaotHhCUY-wG?usp=sharing). After Conversion I deploy it on [Tensorflow android app demo ](https://github.com/tensorflow/examples.git). When I run the app it always crashes after lunch immediately showing the followin

[2021-09-30 05:48] myasser63 commented on #52183
I have added the new issue on Tensorflow lite converter

[2021-09-30 05:49] myasser63 commented on #52183
How can I specify the normalization options?

[2021-09-30 05:54] duckduck-sys commented on #52166
ok, thanks!

[2021-09-30 05:54] #52166 closed

[2021-09-30 06:12] myasser63 commented on #52194
@tilakrayal Could you assist with this problem

[2021-09-30 06:14] kumariko commented on #48863
Was able to replicate the issue with TF 2.6, please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/8bb2b739f5caf9a2fd2fe7351d95dd80/untitled237.ipynb#scrollTo=S9uBhSV1fLvo) . Thanks !

[2021-09-30 06:26] mohantym commented on #52139
Hi @colynhn ! It was request for specific instructions .Actually I looked into this issue earlier from [here ](https://www.tensorflow.org/addons/api_docs/python/tfa/layers/CRF) , As you said CRF is already part of add-ons. We will be able to help the community better if you provide specific instructions in form of template.

[2021-09-30 06:33] mohantym commented on #52193
Hi @sanatmpa1!Could you please look at this feature request!

[2021-09-30 06:44] Saduf2019 commented on #52179
@zhaozheng09
Please feel free to submit a PR for the requested change or share the link where requested change is to be made.

[2021-09-30 06:47] mohantym commented on #22597
Hi @sibyjackgrove ! The above links are working fine now in TF 2.6 . Closing this issue ,As it seem to be resolved  in latest versions ,Feel free to create a new issue if you face any problems further. Thank you!

[2021-09-30 06:47] #22597 closed

[2021-09-30 06:49] Saduf2019 commented on #52092
@Ramsonjehu
Is there any specific reason for using 2.3.2, as many bugs are fixed is later versions would you want to try on later versions.

Also can you try:
Could you please try and let us know:
$ bazel clean
$ ./configure # make sure to choose gpu support
$ bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer

If you still face error please follow [this comment](https://gi

[2021-09-30 06:51] Saduf2019 commented on #49829
As per comment on  #49861, this issue is moved to keras repo, hence moving this to closed status, requesting you to follow up at [this link](https://github.com/keras-team/keras/pull/15429)

[2021-09-30 06:51] #49829 closed

[2021-09-30 07:25] mohantym commented on #52180
Hi @louim-lbs! Could you please look at this  [similar issue](https://github.com/tensorflow/tensorflow/issues/4279).

[2021-09-30 07:31] mohantym commented on #52167
Hi @sanatmpa1! Could you please look at this issue! Issue is not replicating in Colab environment.Providing GIST in [2.5,](https://colab.research.google.com/drive/1cbtFq7U_EDthDCn4AnwhUa-kLdACbcET?resourcekey=0-1DdAxOrBl4XFZqdNx_e1pA#scrollTo=1kwpXalNBgrn),[2.6 ](https://colab.research.google.com/gist/mohantym/09fd474860213fb96cecb108e3403d59/github_52167.ipynb#scrollTo=1kwpXalNBgrn)and [2.7](http

[2021-09-30 07:55] Nizarazo commented on #52090
Fixed by building Tensorflow using older macOS Catalina instead of Big Sur seems sadly it is not backward compatible.

[2021-09-30 07:55] #52090 closed

[2021-09-30 07:57] eli-osherovich commented on #51970
@preethivenkatesh  I can share with specific people from Intel/Google.

[2021-09-30 08:23] probonopd commented on #52125
Why refer to other tickets. The fact is that there is not FreeBSD builds:

https://storage.googleapis.com/tensorflow lists binaries for Mac (`darwin`), Windows (`windows`), and Linux (`linux`) but *not* for FreeBSD.

[2021-09-30 08:29] jessecantu commented on #52178
https://github.com/tensorflow/tensorflow/issues/52178#issue-1010644453

[2021-09-30 08:31] edwardyehuang commented on #26961
We need dynamic stride support for avgpool

[2021-09-30 08:54] haozh7109 commented on #52121
I managed to save the model by decorating the call( ) function in the customized class and replace the 'tf.range()' to 'range()' for the loop. however, I still got errors in the TensorFlow-lite conversion which might relate to the customized model setting. please find the enclosed [Revised_gist](https://colab.research.google.com/gist/haozh7109/90c20c6401c6b38e501a533a8fb2735e/github_52121_2-6_revi

[2021-09-30 08:59] #37355 closed

[2021-09-30 08:59] #36229 closed

[2021-09-30 08:59] #26201 closed

[2021-09-30 08:59] #22338 closed

[2021-09-30 08:59] #20421 closed

[2021-09-30 08:59] #52010 closed

[2021-09-30 09:33] louim-lbs commented on #52180
Hi @mohantym! Thanks for your answer.
I've looked at this issue, and tried to configure.py again before to build, but it changed nothing...

[2021-09-30 09:43] hwangdeyu opened #52195 "Support torch.nn.fold in tensorflow?"
This function is popular in Vision Models.

I don't find any api function in tf that is equivalent with [torch.nn.fold](https://pytorch.org/docs/stable/generated/torch.nn.Fold.html?highlight=fold#).

So does Tensowflow already have such a function or is there a plan to do so?

[2021-09-30 09:43] yotamtevel opened #52196 "TensorRT conversion via docker image 2.6.0-gpu - getInferLibVersion symbol not found"
Trying to convert a tf.keras model to tftrt.

- CUDA/cuDNN version: 11.2
- GPU model and memory: GeForce RTX 2070

You can collect some of this information using our environment capture
[script](https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh)
You can also obtain the TensorFlow version with:
1. TF 1.0: `python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSI

[2021-09-30 09:59] mohantym commented on #48213
Hi @ingolfured ! Inline with @k-w-w comment.  I tried to resolve  the issue by adding

 for model file in last line. Attaching [GIST](https://colab.research.google.com/gist/mohantym/6c0653d7b7b41db348ad76ddcc8c0926/github_48213.ipynb#scrollTo=uoja--mNHoA6) in TF 2.6  for reference

[2021-09-30 10:00] vikranth94 commented on #41448
Wish this issue will be resolved soon. Shouldn't it be an easy fix since it worked in version 2.1.0?

[2021-09-30 10:03] Space-Fighter commented on #52184
Hey there i have added the tensorflow version rest everything is already there like steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].

[2021-09-30 10:07] Space-Fighter commented on #52184
@vulkomilev as i have mentioned in my post -

originally i started out with the following code -
[code]
When i would try to load my model using this code-
[code]
 i would get the following  errro -
[code]
Then i found this issue on github. It suggested not to use an input layer instead use input_shape in conv2d
so i edited the code as you see in the original post
i did not want to modify my whole

[2021-09-30 10:28] stefan-falk opened #52197 "tf.distribute.MultiWorkerStrategy - Don't mirror models on workers."
I am exploring multi-worker training with Tensorflow and I'm at the point where I would need a `tf.distribute.MultiWorkerStrategy`. Compare `tf.distribute.Strategy` with the `tf.distribute.MirroredStrategy`.

I do not want the model to get mirrored on each GPU of each worker, instead I want the model to get mirrored on each worker.

Is there a way I can to that? Would be possible to implement tf.d

[2021-09-30 10:35] mohantym commented on #44938
Hi @Angel3636!
Could you please try on latest stable version of tf 2.6  and let us know if this is still an issue.Thanks!

[2021-09-30 10:55] mohantym commented on #52129
@zzz7net ,We will definitely track this issue . Feel free to close this issue if it helped!

[2021-09-30 10:57] Sbboss opened #52198 "Tensorflow models predictions not working on multithreading"
I am facing this issue while testing FasterRCNN and SSD on multithreading on **AWS Deep Learning AMI Ubuntu**.

However, the testing is going fine without multithreading.

**Also, the same code is working fine **Colab** but not on **Kaggle****.

- TensorFlow installed from (source or binary): 2.4.2
- Python version: 3.7.10
- AWS deep learning AMI env - for TensorFlow 2.4 with Python3.7 (CUDA + and

[2021-09-30 11:07] mohantym commented on #32172
Hi  @sakh251 ! we are  checking to see if you are still looking for assistance in this issue.
Could you please try on latest stable version of  TF 2.6  and let us know if this is still an issue.Thanks!

[2021-09-30 11:24] tilakrayal commented on #52190
@HoltSpalding ,
Looks like the code given is incomplete.In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Thanks!

[2021-09-30 11:30] stefan-falk commented on #38097
Could be related to https://github.com/tensorflow/tensorflow/issues/52197

[2021-09-30 11:59] #51724 closed

[2021-09-30 11:59] #52025 closed

[2021-09-30 12:19] PhilJd commented on #30492
Hi,
I have no idea, I haven't compiled a custom op for TF in a long tim - I also don't remember in which setup this was so I don't have a way to reproduce anymore. Should we close this as obsolete and if someone still runs into this issue they could reopen?

[2021-09-30 12:20] mohantym commented on #26576
Hi @SumNeuron ! we are  checking to see if you are still looking for assistance in this issue.
Could you please try on latest stable version of  TF 2.6  and let us know if this is still an issue.Thanks!

[2021-09-30 12:22] mohantym commented on #24408
Hi @Silb78dg!
Hi ! we are  checking to see if you are still looking for assistance in this issue.
Could you please try on latest stable version of  TF 2.6  and let us know if this is still an issue.Thanks!

[2021-09-30 12:51] ArunaKote commented on #52030
@smit-hinsu,lowering tf.ResizeBilinear is not available with  -xla-legalize-tf .  Sir, for ResizeBilinear op lowering the below flow can be used? or is there any other optimized flow which can be used for lowering.
For input_image=hxw and output_image=h1xw1
tx=w/w1
ty=h/h1
for (i=0;i<h1;i++){
for(j=0;j<w1;j++){
x=int(tx*j)
y=int(ty*i)
x_diff=((tx*j)-x)
y_diff=((ty*i)-y)
output_image[i][j]=input_im

[2021-09-30 13:09] sanatmpa1 commented on #30492
@PhilJd,

Thanks for the confirmation. I am closing this issue and they can create a new one/reopen if there are any further questions.

[2021-09-30 13:09] #30492 closed

[2021-09-30 13:16] starboyvarun opened #52199 "ipykernel_launcher.py: error: unrecognized arguments"
![1](https://user-images.githubusercontent.com/26819449/135461638-7520ab41-8310-4c5f-8016-2d9b4609e205.JPG)
 The error pops out ipykernel_launcher.py: error: unrecognized arguments.
Can you just tell me why I am getting this error. I can't share the code with you.
I can fix it on my own just tell me why I am getting this Error.
Thank You.

[2021-09-30 13:17] starboyvarun commented on #52107
Thanks!
@mohantym

[2021-09-30 13:17] #52107 closed

[2021-09-30 13:20] starboyvarun commented on #51879
@mihaimaruseac  WAI ??

[2021-09-30 13:54] albertz opened #52200 "No registered 'Const' OpKernel for GPU devices with constant folding"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version (use command below): v2.6.0-

[2021-09-30 13:55] tilakrayal commented on #52194
@myasser63 ,
Looks like this is duplicate of issue #52183.Can you please close this issue, since it is already being tracked there? Thanks!

[2021-09-30 15:05] zzz7net commented on #52129
As far as I know it will be closed automatically after some amount of time. But anyway thanks. This was a nice conversation.

[2021-09-30 15:47] sanatmpa1 commented on #52176
@guan-yuan,

I see that you're using `TF 2.4`, Many issues are fixed in latest stable version and so can you try with `TF 2.6.0` and let us know if the issue still persists? Thanks!

[2021-09-30 16:18] sanatmpa1 commented on #42492
@sgiraudot,

Can you take a look at this above comment from @Lennard94 and let us know if helps in resolving your issue? Thanks!

[2021-09-30 16:24] sanatmpa1 commented on #39769
@Seneral,

We are checking to see if this is still an issue, Can you try following this [guide](https://github.com/cloudwiser/TensorFlowLiteRPIZero) as a reference and let us know if it helps? Thanks!

[2021-09-30 16:33] sanatmpa1 commented on #42686
@coolchaits,

We are checking to see if this is still an issue. Can you try building latest version of Tensorflow for `aarch64`using this [guide](https://www.tensorflow.org/lite/guide/build_arm#cross-compilation_for_arm_with_bazel) and let us know if it helps? Thanks!

[2021-09-30 16:35] sanatmpa1 commented on #42700
@zhangqiang-hf,

Can you take a look at this above [comment](https://github.com/tensorflow/tensorflow/issues/42700#issuecomment-685935063) and let us know if it helps? Thanks!

[2021-09-30 16:35] tilakrayal commented on #52200
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.5,v2.6 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6996de1c84dbdf1431043370d1c9ea08/52200.ipynb).

[2021-09-30 16:36] karthik-653 commented on #48868
Can anyone please say where should one add  `os.add_dll_directory("C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2/bin")` this to get through this error?

[2021-09-30 16:41] sanatmpa1 commented on #42258
@nikroc896,

We are checking to see if this is still an issue. Can you try updating to latest stable version i.e `2.6.0` and let us know if the issue persists? Thanks!

[2021-09-30 16:56] mpromonet commented on #52155
Hi sushreebarsa,

I read these before writing this issue, may you clarify what can helps.
From https://github.com/tensorflow/tensorflow/issues/44926 I tried `bazel build -c opt  --copt -Os --copt -DTFLITE_GPU_BINARY_RELEASE --copt -s --strip always tensorflow/lite/delegates/gpu:libtensorflowlite_gpu_delegate.so`, the build error seems the same.

Best Regards,
Michel.

[2021-09-30 16:59] #22146 closed

[2021-09-30 16:59] #22377 closed

[2021-09-30 17:12] sachinprasadhs commented on #52055
@ajohnson114 , did you try the above step and tried installing [Tensorflow](https://www.tensorflow.org/install.) here?

[2021-09-30 17:29] bhack commented on #51393
Thanks, yes in eager mode it seems that `add_v2` is slower than `2.3`. Is this kernel using MLIR now?

[2021-09-30 17:37] jgehw opened #52203 "macOS debug build issue"
**System information**
- OS Platform and Distribution: macOS Big Sur 11.6
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.6
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): Apple clang via Xcode 12.5.1.12E507
- CUDA/cuDNN version: CPU only
- GPU model and memory: CPU only

**Describe the problem**

Reincarnation of

[2021-09-30 17:47] deduble commented on #48868
@karthik-653 Before impoting anything(besides os ofc) should work.

[2021-09-30 18:08] #38699 closed

[2021-09-30 18:21] rthadur commented on #19473
I see this is fixed here https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/random_op_gpu.h#L148 in latest version, closing this request. Thank you.

[2021-09-30 18:21] #19473 closed

[2021-09-30 18:26] rthadur commented on #20041
Yes the above comment helped to resolve the issue. Thank you, closing this issue.

[2021-09-30 18:26] #20041 closed

[2021-09-30 19:05] sachinprasadhs commented on #27161
Since `contrib` has been depreciated in `Tensorflow 2.x `and `WALS` is not supported as well in `TF 2.x`, you could try [Neural Collaborative Filtering (NCF)](https://github.com/tensorflow/models/tree/08bb9eb5ad79e6bceffc71aeea6af809cc78694b/official/recommendation) which is similar to that.
Feel free to open a new request if you have any issues.

[2021-09-30 19:05] #27161 closed

[2021-09-30 19:11] Loganpi commented on #52192
Tensorflow returns 1

[2021-09-30 19:11] sachinprasadhs commented on #25165
Please do upgrade to a latest Tensorflow version.
Since `contrib` has been depreciated in `Tensorflow 2.x`, you can find the `ignite` under `tfio`.
For more details please visit the documentation on [tfio.ignite](https://www.tensorflow.org/io/api_docs/python/tfio/ignite).
Feel free to open a new issue, if you face any errors.

[2021-09-30 19:11] #25165 closed

[2021-09-30 19:19] sachinprasadhs commented on #20916
Please do upgrade to a latest `Tensorflow` version.
Since `contrib` has been depreciated in `Tensorflow 2.x` and `graph_editor` is no longer available in `Tensorflow 2.x`.
You can refer [this](https://www.tensorflow.org/guide/effective_tf2#no_more_globals) document for more details on the dynamics of `TF 2`.

[2021-09-30 19:19] #20916 closed

[2021-09-30 19:21] jvishnuvardhan commented on #20662
@Heermosi This is a stale issue. I think this was resolved in recent TF versions.

Also, there is no support for `TF1.x`.

I am closing this issue as this was resolved in recent TF versions. Please feel free to test with `TF2.x` and open a new issue If the issue persists with recent TF versions. Thanks!

[2021-09-30 19:21] #20662 closed

[2021-09-30 19:24] jsmeredith commented on #51393
Hi, all!  Just wanted to let you know we're investigating -- no conclusions yet, but I have a couple leads I'm following.  I'll post back when I have more.  Thanks for the info so far!

[2021-09-30 19:38] jvishnuvardhan commented on #19455
This is a stale issue. I think this was resolved in recent TF versions.

Also, note that support for `TF1.x` is not there anymore.

I am closing this issue as this was resolved in recent TF versions. Please feel free to test with TF2.x and open a new issue If the issue persists with recent TF versions. Thanks!

[2021-09-30 19:38] #19455 closed

[2021-09-30 19:57] EricTheRed20 commented on #52160
Yes, I had a look.  It doesn't have anything to do with the issue that I have listed here.  There isn't even a mention of the "libTensorFlow C++ library" which is what we are talking about in this post.

The issue is that on the [libTensorFlow C++ library](https://www.tensorflow.org/install/lang_c) page it says that it supports all versions of the Mac "Version 10.12.6 (Sierra) or higher" but it ac

[2021-09-30 19:59] #24774 closed

[2021-09-30 20:03] rainwoodman commented on #52087
Thanks for the report!

This looks legit to my eyes. I'm filing a fix removing that extra Py_Clear call.
As a note, the errorring code branch is invokes when calling `.numpy()` on a `DT_RESOURCE` tensor. This is likely rare.

For my education, what tool did you use to perform this static analysis?

[2021-09-30 20:12] sushreebarsa commented on #52101
@Vadim-Maklakov Thank you for the update! Closing this issue as it has been resolved for you.Thanks!

[2021-09-30 20:12] #52101 closed

[2021-09-30 20:15] 0xiNach opened #52206 "RuntimeError: hashtable need to be initialized before usingNode number 74 (HASHTABLE_FIND) failed to invoke."
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): PIP
- TensorFlow library (version, if pip package or github SHA, if built from source):  tensorflow-gpu==2.3.0

NOTE: Used tensorflow-gpu==2.3.0 to build and train the model and USED tf-nightly-gpu==2.8.0 to convert the model to tflite.

#

[2021-09-30 20:22] sushreebarsa commented on #52183
@myasser63 We see that new[ issue ](https://github.com/tensorflow/tensorflow/issues/52194) has been created , Could you please confirm if we can close this ticket as we will track the other one ?Thanks!

[2021-09-30 20:40] JoeSu666 opened #52207 "When using .fit() to train a binary classification model, the metrics (i.e. loss, accuracy) shown in the history log of .fit() for training set is different from the result from .evaluate()"
I'm using the tf.keras.Model.fit() to train a binary classification model for images. I found that the metrics like accuracy shown in the final epoch's log of .fit() can be 1.0, while the accuracy shown in model.evaluate(ds_train) for training set can be only 0.71. The loss and any other metrics are also different. However, the results for validation set are perfectly consistent for .fit and .eval

[2021-09-30 21:30] FavorLionQY opened #52208 "NVlink for tensorflow2.5, linux, 3090 GPU"
OS: Linux Ubuntu18.04
TF building method: TF docker with Nvidia Docker,  CUDA version: 11.1
Version: Tensorflow 2.5.0
GPUs: RTX3090 x2

Hi there.

I noticed that the NVlink for 3090 is published. I got a workstation with 2 3090 GPU cards. I wish to know is it necessary to got a NVlink to accelerate data transfer between these 2 cards?

For tensorflow building via docker, should i install some extr

[2021-09-30 21:51] kat25230 opened #52210 "Monitor TPUs"
Hi Tensorflow Team,

I'm trying to use the monitoring function: [`tf.profiler.experimental.client.monitor`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/profiler/profiler_client.py#L135), but getting the following error:
[code]

My setup is the following: I `ssh` into a host tpu-vm and run everything locally on the host vm.
(using the following `gcloud` command: `gcloud a

[2021-09-30 23:30] jvishnuvardhan commented on #19200
I think this was resolved. I couldn't reproduce the issue with recent `TF1.15.5`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/3ff8b088cafe1213d19255410afd3486/untitled.ipynb) is a gist with CPU code as mentioned [here](https://github.com/tensorflow/tensorflow/issues/19200#issuecomment-398448108).

[Here](https://colab.research.google.com/gist/jvishnuvardhan/b72c95c734f217820f45646

[2021-09-30 23:30] #19200 closed

[2021-10-01 01:59] #52020 closed

[2021-10-01 02:44] js-ryu opened #52214 "A Problem that Only One Inference Can Be Made when I Loaded the Saved Model on Tensorflow-gpu 2.5.0 and latest."
**My System Information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on a mobile device:
TensorFlow installed from (source or binary): pip
TensorFlow version (use command below): 2.5.0 and latest.
Py

[2021-10-01 02:56] MattWolf74 opened #52215 "Creating dataset from large numpy arrays via from_tensor_slices crashes without any error message or warning"
I use tf 2.6 and when I try to create datasets from larger numpy arrays (>10GB) via from_tensor_slices the code breaks when I try to train via "fit" or even just attempt to iterate over the dataset. The code just breaks and exists, no warning, no error message, nothing. I have not found any similar issue mentioned anywhere else. What is the actual limitation here?

I have over 128GB ram and due to

[2021-10-01 03:59] #45760 closed

[2021-10-01 04:12] tilakrayal commented on #52197
@stefan-falk ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2021-10-01 04:28] mohantym commented on #52177
@DavidSon1, @jvishnuvardhan !I tried to replicate this in Colab environment , providing GIST  in TF [2.5](https://colab.research.google.com/gist/mohantym/42d260caa8fd1fe87e22766e3a7e19dc/github_52177.ipynb#scrollTo=Op0tEFmS5kPE) ,[2.6](https://colab.research.google.com/gist/mohantym/42d260caa8fd1fe87e22766e3a7e19dc/github_52177.ipynb#scrollTo=Op0tEFmS5kPE)  and [2.7](https://colab.research.google.

[2021-10-01 05:58] myasser63 commented on #52183
Sure, you can close this issue

[2021-10-01 05:59] #52183 closed

[2021-10-01 06:21] tilakrayal commented on #52207
@JoeSu666 ,
In order to expedite the trouble-shooting process, could you please provide a complete code  and the TensorFlow version you are using.

[2021-10-01 06:30] outlook313 commented on #14978
have any solution for this problem

[2021-10-01 07:17] stefan-falk commented on #52197
@tilakrayal Of course.

After looking into this though I came to the conclusion that what I want is probably not possible (yet). The reason for this is the fact that all gradients are computed on one device at the moment and it does not seem to be a trivial task to distribute these computations over multiple devices.

But let me explain where I am coming from. Maybe there's a simpler solution to m

[2021-10-01 07:25] douglas125 commented on #28953
With BatchNormalization layers, I think batching with `dataset.batch(batch_size, drop_remainder=True)` might help

[2021-10-01 08:00] #51640 closed

[2021-10-01 08:30] kretes commented on #40547
In [this gist](https://colab.research.google.com/drive/17GvpewWCpnrMq6ozrKUYphirpA1SuWxr?usp=sharing) I have reproduced the issue with tensorflow 2.6, using IODataset.from_numpy() as an input source, as this was suggested (e.g. https://github.com/tensorflow/tensorflow/issues/44711#issuecomment-736186819) as a way to handle large inputs in a more memory-optimized way.

[2021-10-01 09:12] aaniin commented on #13292
I faced the same problem with `cudnn PoolBackward launch failed` when using a `MaxPooling2D` layer in a network.

Similar to @ShiraStarL (thanks!!) I had a **mismatch in CUDA versions**. I'm running tensorflow 2.4 and at time of installation had properly installed it with CUDA 11.0. Meanwhile I had installed another CUDA version which updated my `Path` variable.
To solve the issue on Windows 10, I

[2021-10-01 09:12] ShubhamShaswat commented on #52215
Hi, Try iterating your dataset using this :
[code]
and check if it is able to print out elements from the first list of `train_ds`

Also, try defining a batch size for your train dataset here, using this:
`train_ds = train_ds.batch(BATCH_SIZE)`
I recommend using a smaller BATCH SIZE first.

The above suggestions might not be enough to fix your problem.Even with a a large RAM, loading a data this b

[2021-10-01 09:32] JTWang2000 opened #52216 "Mac m1 tf2.5.0: No layer for IntegerLookup, Normalization, StringLookup"
**System information**
- OS Platform and Distribution: macOS Big Sur Version 11.3.1 with mac m1 chip
- TensorFlow installed from: https://developer.apple.com/metal/tensorflow-plugin/
- TensorFlow version (use command below): tf 2,5
- Python version: 3.8

Debug output:
[code]
unknown 2.5.0

**Describe the current behavior**
[code]
ImportError                               Traceback (most recent cal

[2021-10-01 09:38] kumariko commented on #48773
Was able to reproduce the issue in Tf version 2.6 . Please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/f8ea671f657c84f914effdd2c87f8da5/48773.ipynb#scrollTo=9SGXZXynTP4Y).

[2021-10-01 09:44] kumariko commented on #48762
I was able to reproduce the issue in TF v2.6 .Please find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/308d62717c40c0c4cedff8fcf1942d12/48762.ipynb#scrollTo=U1aCfIgn4nj3).

[2021-10-01 10:09] mohantym commented on #52129
Closing the issue as language translation is reflecting after refresh( website lags a bit when connected to VPN ).

[2021-10-01 10:09] #52129 closed

[2021-10-01 10:16] mohantym commented on #52196
Hi @yotamtevel! Can you please share a link to model file?

[2021-10-01 10:35] mohantym commented on #52199
Hi @starboyvarun! Please check out similar issue from [here](https://stackoverflow.com/questions/48796169/how-to-fix-ipykernel-launcher-py-error-unrecognized-arguments-in-jupyter). You can post your  other support queries on [Stackoverflow](https://stackoverflow.com/) . For Tensorflow support queries , You can post in [forum ](https://discuss.tensorflow.org/)to  for Tensorflow support queries. Clo

[2021-10-01 10:35] #52199 closed

[2021-10-01 10:59] #52035 closed

[2021-10-01 10:59] #52038 closed

[2021-10-01 11:59] #52001 closed

[2021-10-01 11:59] #51983 closed

[2021-10-01 13:35] yatbear commented on #36128
Hi @paloha, the fix for this (`A` in Nick's [comment](https://github.com/tensorflow/tensorflow/issues/36128#issuecomment-912115542) above)  (https://github.com/tensorflow/tensorboard/pull/5337) is merged and now in tb-nightly.

[2021-10-01 14:36] mohantym commented on #52184
Hi @sanatmpa1! ,Could you please look at this issue , was getting different Error in TF [2.5 ](https://colab.sandbox.google.com/drive/1iXaogg_FOcSZTsckaJkKq0-UbbqwMZ6t?resourcekey=0-sNtR27kcDZSZ-KRioS-ceA#scrollTo=FsoDIPU4861i),[2.6](https://colab.research.google.com/gist/mohantym/2c0d4715bcd8038e3c0f11b7fdd230d8/github_52184.ipynb#scrollTo=BQVBCqlB8uH4) and [nightly](https://colab.research.google

[2021-10-01 14:59] #52037 closed

[2021-10-01 15:00] mohantym commented on #52206
Hi @0xiNach! Could you please share the above code as Colab GIST , I am facing indentation issues  while replicating the same. Did you try with latest versions TF 2.6 yet?

[2021-10-01 15:21] ramonmatas commented on #33688
My understanding is that strategy is orthogonal to what we are discussing here. In a multi-worker setting you could still apply model parallelism through device placement in each local node, then parallelize externally through strategy. I do not know if strategy messes up with device placement even further though, I have never tried.

[2021-10-01 15:46] mdanatg commented on #43800
Ah, you're right, your use case is different.

We might be able to resolve the part about autograph: at runtime, autograph saves a temporary file with the transformed Python, and that could be used by the compiler instead.

Are you using open-source tools for the compilation? If so we could look into adding support for it.

[2021-10-01 15:59] #7116 closed

[2021-10-01 15:59] #7808 closed

[2021-10-01 15:59] #13851 closed

[2021-10-01 15:59] #23660 closed

[2021-10-01 15:59] #24046 closed

[2021-10-01 15:59] #22902 closed

[2021-10-01 16:09] mjsML commented on #51935
I see, I'll try the workaround and will report back.

[2021-10-01 16:40] Bhavay192 opened #52218 "Converted tf.gfile.GFile to tf.io.gfile.GFile"
**System information**
- OS Platform and Distribution (Google Colab):
- TensorFlow version (tensorflow 2.6.0):

I was working with the tensorflow's object detection api and as soon as i ran the following code:

PATH_TO_LABELS = '/content/models/research/object_detection/data/mscoco_label_map.pbtxt'
category_index = label_map_util.create_category_index_from_labelmap(PATH_TO_LABELS, use_display_name

[2021-10-01 17:09] qlzh727 commented on #29622
oh, yes. Thanks for spotting the error in my previous message. The keras weight format is IFCO, and TF format was ICFO.

You can find the keras logic for weights in https://github.com/keras-team/keras/blob/353cb10af7c0c7d435b31129c5970fcabe3fc961/keras/layers/recurrent.py#L2468