[2017-06-05 19:04] ebrevdo commented on #10036
PRs welcome.

[2017-06-05 19:06] notilas commented on #10111
CuDNN 5.1 (not 6.0) solved the problem!

[2017-06-05 19:16] lukeiwanski commented on #22
@rahasayantan what is that gets included? As well do you get it without when compiling without --config=sycl ?

[2017-06-05 19:59] tillahoffmann commented on #10436
I have tried the following both with the same error:

[code]

Also, here is the full environment.

[code]

[2017-06-05 20:06] gunan commented on #10436
I see, configuration and bazel command all looks good.
@jart This looks related to https://github.com/tensorflow/tensorflow/commit/b659bc39f27e81b3249f73710671059589c5daa1#diff-f0892bf77329d113fc9bd987ae1d7ec3
Any ideas?

[2017-06-05 20:07] xenopsy commented on #9068
I have the same problem too. Have you tried to build TF using Bazel for Windows?

[2017-06-05 20:11] jart commented on #10436
does it work if you disable sandbox?

[2017-06-05 20:15] tillahoffmann commented on #10436
@jart, I have tried `bazel build --config=opt --genrule_strategy=standalone --spawn_strategy=standalone //tensorflow/tools/pip_package:build_pip_package
` without success. Is there another way to turn of sandboxing?

[2017-06-05 20:19] gunan commented on #10435
To me it looks like downloading protobuf failed.
Protobuf package is >4MB, and your messages seem to abruptly end at around 3MB.
This may be caused by a flaky internet connection.
I would recomment retrying build.

[2017-06-05 20:32] cianeastwood commented on #7456
Any update? I'm currently having this problem. Worked fine on CPU but NaN on GPUs.

[2017-06-05 20:34] jart commented on #10436
@nlopezgi wrote the Python auto configure script IIRC.

[2017-06-05 20:36] brandondutra commented on #10014
I abandoned this and instead used 1 placeholder of a csv string, and I let decode_csv deal with the defaults. I still think placeholder_with_default is broken for batch prediction.

[2017-06-05 20:47] michaelisard commented on #10014
Closing for now in the absence of a specific feature request for a different design.

[2017-06-05 20:47] #10014 closed

[2017-06-05 21:13] mrry commented on #10151
This makes a lot of sense. I'm working on adding that feature now.

[2017-06-05 21:17] poxvoculi commented on #7456
Can you clarify: What program are you running, on which release, hardware platform, etc.?

[2017-06-05 21:31] skynode commented on #19
I think the major standout TensorFlow porting project right now is the C#/F# port called [TensorFlowSharp by Miguel de Icaza.](https://github.com/migueldeicaza/TensorFlowSharp)

[2017-06-05 21:36] gwendoline-28 commented on #10154
Hi again, here is the list of .dll files that were not found:
API-MS-WIN-CORE-APIQUERY-L1-1-0.DLL
API-MS-WIN-CORE-APPCOMPAT-L1-1-1.DLL
API-MS-WIN-CORE-APPINIT-L1-1-0.DLL
API-MS-WIN-CORE-ATOMS-L1-1-0.DLL
API-MS-WIN-CORE-COMM-L1-1-0.DLL
API-MS-WIN-CORE-CONSOLE-L2-1-0.DLL
API-MS-WIN-CORE-CRT-L1-1-0.DLL
API-MS-WIN-CORE-CRT-L2-1-0.DLL
API-MS-WIN-CORE-DATETIME-L1-1-1.DLL
API-MS-WIN-CORE-DATETIME-L1-1-2.

[2017-06-05 21:39] ahundt commented on #10036
That's definitely important information, thanks!

Perhaps either (1) my suggested rename, or (2) a rename to something like `block_until_data_arrives(layout='parallel_stack')` could still be made?

In addition to the clearer naming the limitation of the `parallel` vs `sequential` string option could of course still be documented.

Also, don't forget that I think there are still quite a few other p

[2017-06-05 21:39] lukeed commented on #6119
With v1.1.0, this issue still occurs. The first output is `[1,2]` and all subsequent runs are `[1,1]` until I destroy the `tmp` model.

@XRayCheng's "fix" is not actually a fix -- README still forewarns that all non-fresh runs will produce `[1,1]`.

Some kind of clarification would be nice. 😞 Picking up TF for the first time, and it's pretty rough when the main documentation examples aren't replic

[2017-06-05 21:40] concretevitamin commented on #4859
I believe the referred commit does fix the issue.

[2017-06-05 21:40] #4859 closed

[2017-06-05 22:29] kemaswill opened #10443 "How to do element wise operation for two Tensors?"
Say, I have two Tensors A and B, both with shape [-1, m, d]. How could I get a Tensor C with shape [-1, m*(m-1)/2, d] so than C_ij = A_i + B_j? Where + is an element wise addition. I know there is an element-wise operation named tf.add, but how should I use it? Thanks a lot.

[2017-06-05 22:29] cianeastwood commented on #7456
Apologies, my problem is actually much better described in this thread https://github.com/tensorflow/tensorflow/issues/2037 - I'll follow up there.

[2017-06-05 22:37] jolespin commented on #10054
When I was generating the training set: `idx_random = np.random.RandomState(i).choice(y.shape[0], size=n)`

[2017-06-05 22:45] cianeastwood commented on #2037
Was this solved? I'm having the same problem. Code here: https://github.com/openai/InfoGAN ran fine on CPU. On GPU, it ran successfully for a small number of epochs before loss returned NaN. All (fresh) runs now return NaN as loss. Ubuntu 14, TensforFlow 0.9.0rc0, CUDA 7.0, cuDNN 4.0, 3x geforce titan X.

[2017-06-05 22:45] michaelisard commented on #10054
Your variables are initialized using tf.random_normal though, right? So there is a difference per run coming from that.

In general the easiest way to debug this kind of issue is unfortunately just printing out values to see where the different runs diverge. E.g., you can print out the loss on the first step, and see if it's already wildly different between runs, and if so work backwards from ther

[2017-06-05 23:45] michaelisard commented on #10154
@mrry assigning you since you have been dealing with the issue, but please unassign yourself if you don't have time.

[2017-06-05 23:50] michaelisard commented on #10162
This is really more of a [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) question so please follow up with further questions there. I think the issue is that you are adding operations to the graph within your loop, so it's getting bigger and bigger and eventually running out of resources. You should probably create a new session for each experiment in order to properly garbag

[2017-06-05 23:50] #10162 closed

[2017-06-05 23:59] nharada1 commented on #8190
I'm also running into this bug: If I use `int64` for global_step my training hangs, but if I use `int32` the training runs and the `evaluation_loop` fails when loading the checkpoints because of `Invalid size in bundle entry: key global_step/global_step; stored size 4; expected size 8`

[2017-06-06 00:00] nharada1 commented on #8190
Is there a workaround besides editing the source files in Tensorflow? I'm using the `tensorflow-gpu` package and would prefer not to build from source.

[2017-06-06 00:05] #7051 closed

[2017-06-06 00:05] #10371 closed

[2017-06-06 00:12] nharada1 commented on #8190
okay, current workaround for me is just to create the `global_step` variable in the evaluation file separately instead of loading it in: `global_step = tf.Variable(0, dtype=tf.int32, name='global_step', trainable=False)`

[2017-06-06 00:18] caisq commented on #7051
FYI, this bug about incompatibility between tfdbg and multiple GPUs should have been fixed by the commit above. Please let me know if you see any remaining issues.

[2017-06-06 00:18] mrry commented on #10154
Aha, it looks like `NVCUDA.DLL` is the main missing dependency. (I think all of the others are false negatives, owing to a change in the way Windows DLLs work in recent versions.)

Strangely, it seems the `cudart64_80.dll` *can* be found, and I would expect them to be in the same location. Can you confirm where `cudart64_80.dll` is installed on your machine, and check whether `NVCUDA.DLL` is in th

[2017-06-06 01:01] JcmeLs commented on #10435
Thanks,I will try again with proxy!

[2017-06-06 01:34] nectario commented on #8264
I get a similar issue:

This is a very frustrating process... Trying to build Java GPU support for Windows...

[code]

[2017-06-06 01:42] lkhazyf opened #10446 "How to add a layer about activation function in tensorflow?"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-06 01:59] blake-varden opened #10447 "Tensorflow Errors with uint8 addition"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.1
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
8.0
-

[2017-06-06 02:00] blake-varden commented on #10447
The documentation, claims that uint8 addition is supported.
https://www.tensorflow.org/versions/r0.11/api_docs/python/math_ops/arithmetic_operators

[2017-06-06 02:04] iamxbg commented on #8385
I use cuDNN6.0 for cuda8.0. then I see there's version 5.0 for cuda8.0 too in your question !!!
thank for your tip!

[2017-06-06 02:09] iamxbg commented on #8385
I use cuda8.0 with cuDNN 6.0 , got the same error-message!
then I change cuda8.0 with cuDNN 5.1 ,  it works !
thank for your tip.

[2017-06-06 02:21] keveman commented on #7958
@bryant1410 Thanks for the note. The Bender project is awesome! Some of the code, especially the shaders can be shared between the implementations. I'll keep you posted.

[2017-06-06 02:24] JcmeLs commented on #10435
@gunan Thanks for your reply!But it does not seem to be this problem.
 I did the following:
1. Download file to some safe folder from url:"http://mirror.bazel.build/github.com/google/protobuf/archive/2b7430d96aeff2bb624c8d52182ff5e4b9f7f18a.tar.gz"
2. cd to folder
3. python -m SimpleHTTPServer 8000
4. Change tensorflow/tensorflow/workspace.bzl from url = "http://mirror.bazel.build/github.com/googl

[2017-06-06 02:44] cr145 commented on #2037
It's fixed in newer versions of TF

On Mon, Jun 5, 2017 at 6:47 PM cianeastwood <notifications@github.com>
wrote:

[2017-06-06 03:20] YuanmanLi commented on #956
To implement the wrap padding (only for the width and height with size), I wrote the code as (hope I am right)

` def wrap_pad(input, size):
    M1 = tf.concat([input[:,:, -size:,:], input, input[:,:, 0:size,:]], 2)
    M1 = tf.concat([M1[:,-size:, :,:], M1, M1[:,0:size, :,:]], 1)
    return M1`

[2017-06-06 03:36] agriasgg commented on #6119
@lukeed You've already found the solution. After you run the model once, it will be trained and stored in the tmp folder. If you do not delete the tmp folder you are retraining an existing model rather than doing one from scratch. It makes sense that it would have different results

[2017-06-06 03:53] ahundt commented on #781
@ringw cool looks like this in, I assume that currently the output dimensions are fixed?

[2017-06-06 04:11] oxinabox commented on #8669
As a very non-minimal working example:

- Install [julia v0.5](https://julialang.org/downloads/),
- then running `Pkg.add("TensorFlow.jl") in the julia REPL
- replace `~/.julia/v0.5/TensorFlow.jl/deps/usr/bin/libtensorflow.so`, with a `libtensorflow` that was compiled without using @malmaud's [patch](https://github.com/malmaud/TensorFlow.jl/blob/master/deps/build_libtensorflow/cpu/upstream_patch)

[2017-06-06 04:46] gunan commented on #10435
Could you try installing "patch" using "pacman" of "msys" and retry building?

[2017-06-06 04:50] #10236 closed

[2017-06-06 05:13] sandipmgiri commented on #9360
Hi @drpngx , @martinwicke,

Should I raise a PR for this ?

[2017-06-06 05:16] lukeed commented on #6119
@agriasgg Thanks! But if that's truly the case, then that should be included as a note, imo. I was under the assumption that the model was _only_ looking at the same CSV data every time, which means it should have arrived to `[1,2]` every time.

Nowhere in the example documentation did it say that every run was going to affect the subsequent outputs.

[2017-06-06 05:33] yangjunpro opened #10449 "[Feature]Adding automatic model average parallelism support in TF"
Model Average is a common paradigm for distributed DL training, also there are several papers regarding to it and its variants:

(https://arxiv.org/pdf/1410.7455v8.pdf)
(http://www.microsoft.com/en-us/research/wp-content/uploads/2016/08/0005880.pdf)

Do we have any plan to bring this support into TF? Actually we have already implemented model average support and benchmarked it on several in-house

[2017-06-06 05:37] JcmeLs commented on #10435
@gunan I try `pacman -Syuu --noconfirm patch` and `pacman -S patch`.But it still no work.

[2017-06-06 05:41] gunan commented on #10435
@meteorcloudy Could you look into this?

[2017-06-06 06:19] chihuahua commented on #10428
FYI, I am moving forward with an internal code change that

1. Makes reference edges orange (and dataflow edges the same grey as before). The final colors might differ based on input from a designer, but the bottom line is that dataflow and reference edges will contrast in color.
2. Adds arrows to all dataflow edges no matter where they point.

I will subsequently update tensorflow.org docs to mat

[2017-06-06 06:42] sandipmgiri opened #10450 "//tensorflow/core:platform_profile_utils_cpu_utils_test is failing on ppc64le with "Check failed: cpu_frequency > 0 (-1 vs. 0)""
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
    Installed from source (v1.0.1)
- **TensorFlow version (use command below)**:
   ('v1.0.1-0-ge895d5c-dirty', '1.0.1')
- **Bazel version (if compiling from source)**:
    0.4.4-2017-05-26 (@80a07b5)
- **CUDA/cuDNN version**:
    CUDA

[2017-06-06 06:53] xzy256 commented on #9998
Using `sudo  bazel build --copt=-march=native -c opt //tensorflow/tools/pip_package:build_pip_package` can fix upwards error. Then i get a new error `Executing genrule //tensorflow/tensorboard/components/tf_tensorboard:ts failed: bash failed: error executing command`
<pre>
ERROR: /home/xzy/tensorflow/tensorflow/tensorboard/components/tf_tensorboard/BUILD:54:1: Executing genrule //tensorflow/tensor

[2017-06-06 07:05] bb9696aa commented on #7896
@bdhingra @RiaanZoetmulder I met the same question exactly as you described. Could you give me some advice about how to fix this problem?

[2017-06-06 07:50] wodesuck commented on #1300
I test an rnn model with float16 on Tesla P4, also slower than float32..

[2017-06-06 07:52] gwendoline-28 commented on #10154
Hi, I have found the file cudart64_80.dll in C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin, however NVCUDA.DLL is not in this folder.

[2017-06-06 08:05] tazr commented on #10317
Thanks, problem solved.

[2017-06-06 08:08] #10317 closed

[2017-06-06 08:13] meteorcloudy commented on #10435
@JcmeLs Looks like it failed when applying a [patch](https://github.com/tensorflow/tensorflow/blob/master/third_party/protobuf/add_noinlines.patch) to `cpp_file.cc`.
Can you manually try
`patch -p1 -d C:/users/liba/appdata/local/temp/_bazel_liba/mffpt2ks/external/protobuf -i D:/tensorflow-r1.2/third_party/proto
buf/add_noinlines.patch` see if you can reproduce the error?

[2017-06-06 08:18] dengyuning opened #10451 "how to restore a tensor defined in a dictionary?"
I wrote the following definitions in my program.
`first_layer = {'w_1': tf.Variable(tf.truncated_normal([600, 300]), name='w_1'), 'b_1':tf.Variable(tf.truncated_normal([300]), name='b_1')}
`
And I use the following two lines to save my trained model.
`   saver = tf.train.Saver()
    saver.save(sess, os.path.join(model, 'model'))`
How can I restore the tensor with the name w_1 ?
The following codes

[2017-06-06 08:30] JcmeLs commented on #10435
@meteorcloudy I try and get this problem
[code]
It seem patch problem.

[2017-06-06 08:47] meteorcloudy commented on #10435
Found a similar issue here: https://github.com/squizlabs/PHP_CodeSniffer/issues/637
Can you try adding `--binary` option?

[2017-06-06 09:00] mdebski commented on #7549
Seems to be done in: https://github.com/tensorflow/tensorflow/commit/675d36be0d405c3680b49bb6e924f0ed0e233df9

[2017-06-06 09:09] JcmeLs commented on #10435
`patch -p1 -d C:/users/liba/appdata/local/temp/_bazel_liba/mffpt2ks/external/protobuf -i D:/tensorflow-r1.2/third_party/protobuf/add_noinlines.patch --binary`can work.But how to add `--binary` in script？

[2017-06-06 09:10] JcmeLs commented on #10435
@meteorcloudy Thanks,`patch -p1 -d C:/users/liba/appdata/local/temp/_bazel_liba/mffpt2ks/external/protobuf -i D:/tensorflow-r1.2/third_party/protobuf/add_noinlines.patch --binary`can work.But how to add `--binary` in script？

[2017-06-06 09:16] meteorcloudy commented on #10435
@JcmeLs Add it here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L101

I'll also send a PR to fix this.

[2017-06-06 09:19] JcmeLs commented on #10435
@meteorcloudy I get it!Thanks a lot!

[2017-06-06 09:21] meteorcloudy commented on #10435
@JcmeLs BTW, building TF on Windows requires `--cpu=x64_windows_msvc and --host_cpu=x64_windows_msvc` as build option, and also adding `--copt=-w --host_copt=-w` to suppress warning messages. :)

[2017-06-06 10:08] JcmeLs commented on #10435
@meteorcloudy Thanks for your reminder!

[2017-06-06 10:25] shashank734 opened #10454 "SavedModelBundle.java's load() method is not working with RandomForest Saved Model"
------------------------

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS 10.12
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: Tried with both 1.1.0 and 1.2.0-rc1
- **CUDA/cuDNN version**: Running on CPU

I have SavedModel using TensorForestEstimator (RandomForest) by using export_savedmodel() it

[2017-06-06 10:51] ringw commented on #781
Yeah, the output is currently the same size as the input. I'll add an output_size arg, and then add an "expand to fit" option for rotate--are there any other cases that would be useful for rotation?

[2017-06-06 11:34] Androbin opened #10456 "Default CUDA / cuDNN version not used in template string"
When leaving version for CUDA / cuDNN empty, to default to 8.0 / 6, they are not properly used in the template at marks **_blank_**

Please specify the Cuda SDK version you want to use, e.g. 7.0. [Leave empty to default to CUDA 8.0]:
Please specify the location where CUDA **_blank_** toolkit is installed. Refer to README.md for more details. [Default is /usr/local/cuda]:
Please specify the cuDNN v

[2017-06-06 11:47] Nayana-ibm commented on #9107
When [this](https://github.com/google/farmhash/commit/2bc1fd0d958f6b6b2131ac70484aa81bfaf9b29a) commit id will be used in Tensorflow for farmhash?

[2017-06-06 12:28] santle opened #10458 "Transform_graph android error"
Hi,
One month back I generated my custom TF model (output_graph.pb ) using Tensor Flow 1.0.1. It was working fine after optimization it using optimize_for_interface.

Now I plan to reduce its size and improve execution speed, I downloaded Tensor Flow 1.2.0.  I used transform_graph as
 bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=./output_graph.pb \
--out_graph=./transfo

[2017-06-06 12:51] sandipmgiri opened #10459 "//tensorflow/core/kernels:sparse_matmul_op_test_gpu is failing on ppc64le with "Actual: false but Expected: true""
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
   Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
    Installed from source (v1.0.1)
- **TensorFlow version (use command below)**:
    ('v1.0.1-0-ge895d5c-dirty', '1.0.1')
- **Bazel version (if compiling from source)**:
     0.4.4-2017-05-26 (@80a07b5)
- **CUDA/cuDNN version**:
     CU

[2017-06-06 13:01] abishgj-rzt opened #10460 "tf.import_graph_def() does not return list of tensors or operations"
I read the documentation for `tf.import_graph_def` [here](https://www.tensorflow.org/api_docs/python/tf/import_graph_def).

As the documentation says:
Returns: A list of Operation and/or Tensor objects from the imported graph, corresponding to the names in return_elements.

I tried that with this sample code but the method returns `None` for me.

I had to run some tests using this feature. But stu

[2017-06-06 13:13] mrry commented on #10460
The crucial part of the documentation is "corresponding to the names in `return_elements`." To get the function to return some operations or tensors, you must specify a list names of operations or tensors. If you don't specify `return_elements` when calling `tf.import_graph_def()`, the function will return `None`.

[2017-06-06 13:20] abishgj-rzt commented on #10460
Ok got it. Since it did not throw any exception for mandatory parameter, I thought it is optional.

Thanks :)

[2017-06-06 13:21] alyato commented on #8264
hi @byzhang @gunan @flx42  i install the tensorflow by the source.
 i meet the similar error
when i run `bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package `

The cuda is `7.5`  and cudNN is `5.0.5`
I install the cuDNN by

sudo tar xvf cudnn-7.5-linux-x64-v5.0.tgz
 cd cuda/include
sudo cp *.h /usr/local/include/
cd ../lib64
sudo cp lib* /usr/local/lib/
cd /usr/

[2017-06-06 13:24] BrambleXu commented on #9701
Same issue, mac 10.11, python3.5, TF 1.1.0.
No working solution

[2017-06-06 13:33] destromas1 commented on #37
👍
Please !

[2017-06-06 13:35] mrry commented on #10460
Perhaps the documentation is confusing here! It's definitely an optional parameter… if you don't pass `return_elements` then the import will still happen (as a side effect) but the function won't return anything.

[2017-06-06 14:05] josauder opened #10461 "Tensor names prepended with "import/" when loaded from protobuf"
When I load a (frozen) Tensorflow model from disk using:

[code]

It seems that all tensor names are prepended with `import/`.
This is the code I use to print the names:
[code]
Why? Is this some kind of default option that can be overriden? Or can I rely on this in my code? I could not find this documented anyhwere, can anybody point me to references regarding this?

[2017-06-06 14:16] Dref360 commented on #10408
The graph is not cleared. Maybe because we still have a reference to it so the GC doesn't collect?
If you print `list(_GRAPH_LEARNING_PHASES.values())[1].graph.get_operations()` you can see that the operations are still there.

[2017-06-06 14:56] fferroni opened #10463 "Where are quantization dependencies?"
In https://www.tensorflow.org/performance/quantization tutorial, there is //tensorflow/contrib/quantization and //tensorflow/contrib/quantization/kernels required to use a quantized graph.

I cannot find this in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantization

Has the location been updated?

[code]

[2017-06-06 15:00] mrry commented on #10154
I just checked my local installation and `NVCUDA.DLL` is installed in `C:\Windows\System32\`. Can you check if it is in that directory?

Also, can you ensure that `C:\Windows\System32` is present in your `%PATH%` environment variable? (It would be unusual for this not to be the case.)

[2017-06-06 15:13] jubjamie commented on #10438
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Ovefrlow._

Can I confirm that you are using a new model? You aren't just trying to change in input size? Can you post some more information about what you are doing?

[2017-06-06 15:19] jeremygoetz opened #10464 "Expected dimension in the range [-1, 1), but got 1"
the error

InvalidArgumentError                      Traceback (most recent call last)
C:\Users\Owner\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\client\session.py in _do_call(self, fn, *args)
   1021     try:
-> 1022       return fn(*args)
   1023     except errors.OpError as e:

C:\Users\Owner\Anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\client\session.py in _r

[2017-06-06 15:19] martinwicke commented on #5676
@saxenasaurabh I saw you were working on the reader/writer a bit, can you take a look at this?

[2017-06-06 15:35] fritzo commented on #7541
@jhseu it would be great if the C API were available through `import tensorflow`. I'd be happy to submit a PR if you could suggest how. My first guess was to add `//tensorflow/c:c_api` to the `deps` of the `pywrap_tensorflow_internal` BUILD rule, but it is [already there](https://github.com/tensorflow/tensorflow/blob/aa2941ffd7c6b6ae10fcb476ac1b3190b115bfbb/tensorflow/python/BUILD#L2722). Any idea

[2017-06-06 15:36] michaelisard commented on #7149
Marking 'contributions welcome' since this is an issue actively being worked on.

[2017-06-06 15:39] michaelisard commented on #10190
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-06 15:43] michaelisard commented on #10216
@girving would you take a stab at updating the docs or reassign?

[2017-06-06 15:46] kishorenayar commented on #8652
It's happening in Tensorflow 1.1.0 tensorflow-gpu
**Exception ignored in: <bound method BaseSession.__del__ of <tensorflow.python.client.session.Session object at 0x000001A62301DC50>>
Traceback (most recent call last):
  File "D:\Programs\Anaconda\envs\tensorflow\lib\site-packages\tensorflow\python\client\session.py", line 587, in __del__
AttributeError: 'NoneType' object has no attribute 'TF_NewS

[2017-06-06 16:04] cccong commented on #10218
@aselle I have the same problem.  Here is my code.
`import string
from io import BytesIO
import base64

import numpy as np
from keras.models import load_model
from keras import backend as K
from scipy import misc

characters = string.digits + string.ascii_lowercase + ' '
width, height, n_len = 170, 60, 8
base_model = load_model('model.h5')

ctc_g = []

def predict(img_base64=None):
    pfd = Bytes

[2017-06-06 16:14] douglaseck commented on #10196
@fredbertsch can you have a look please?

[2017-06-06 16:18] michaelisard commented on #10422
Closing for now since it seems there's a workable solution. Please reopen if there's still an issue.

[2017-06-06 16:18] #10422 closed

[2017-06-06 16:31] martinwicke commented on #10434
If you didn't check out 1.2 you will get master, not 1.2, which contains strictly more stuff.

What compiler are you using to build this? Because this compilation error happens while compiling a CUDA file, maybe there's a problem with the nvcc version you're using (assuming you're using nvcc).

[2017-06-06 16:32] gwendoline-28 commented on #10154
Hi, I have searched for the file nvcuda.dll in C:\ and it is nowhere to be found. However C:\Windows\system32 is present in my path environment variable.

[2017-06-06 16:36] mrry commented on #10154
OK, in that case I think there is a problem with your CUDA installation. Can you try reinstalling CUDA 8.0? (For those following along, I've added a check for `NVCUDA.DLL` to the self-check script.)

[2017-06-06 16:51] martinwicke commented on #9360
That is fine. Please add excessive comments to that test modification, including references to numpy/numpy#9040 that you linked.

[2017-06-06 16:52] minkoon commented on #6417
change the path to be exactly directory.
For example:
checkpoint_name = "C:\\Users\\Minkun\\Desktop\\VTIS_Project\\model.ckpt"
note that you used '\\' instead '\'

[2017-06-06 16:55] cancan101 opened #10468 "[feature] Use Core ML on iOS"
Apple announced [Core ML](https://developer.apple.com/documentation/coreml) which may be useful for abstracting away the complexities of the hardware platform:

![image](https://user-images.githubusercontent.com/51059/26841383-5226ef0c-4ab7-11e7-9ce9-61849a3c0cc9.png)

Related:
* https://github.com/tensorflow/tensorflow/issues/7958 (MPS)
* https://github.com/tensorflow/tensorflow/issues/3001 (BNNS

[2017-06-06 16:57] cancan101 commented on #3001
Core ML might be an interesting abstraction to both this and BNNS: https://github.com/tensorflow/tensorflow/issues/10468.

[2017-06-06 16:57] cancan101 commented on #7958
Core ML might be an interesting abstraction to both this and BNNS: https://github.com/tensorflow/tensorflow/issues/10468.

[2017-06-06 17:06] gunan commented on #8264
@nectario for windows please file a separate issue, that will need to be addressed separately.
@alyato, when you are installing cuDNN, the simplest way (AFAICR the way recommended in NVIDIA cuDNN website) is to just do this:
[code]
If you do the above, it should just work with configure script.
This issue is about the problems we see when we have cuDNN installed using the deb packages distributed

[2017-06-06 17:15] fritzo commented on #7541
I seem to have gotten @jhseu's solution to work in #10469.

Before #10469:
[code]
After #10469:
[code]

[2017-06-06 17:20] rileyedmunds commented on #8191
Anyone have these issues when working with rnn_decoder()?

[2017-06-06 17:30] RylanSchaeffer commented on #406
Has anyone added this functionality to TensorFlow since 2015? I have a similar need.

[2017-06-06 17:38] rahasayantan commented on #22
@lukeiwanski : The issue as I understand is Bazel is trying to compile Protobuf and its not finding or downloading the sub directories. I did a pull with recursive-submodule still it has the same issues. And it has the same issue without --config = sycl. In fact I am facing the same issue when I do a git pull from tensorflow main project. I dont think this is linked with openCL, its some issues wi

[2017-06-06 17:41] michaelisard commented on #10443
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 17:41] #10443 closed

[2017-06-06 17:42] michaelisard commented on #10446
Closing since the template was not filled out: please open again with the issue!

[2017-06-06 17:42] #10446 closed

[2017-06-06 17:48] michaelisard commented on #10447
@cwhipkey do you know why the docs and op registration differ?

[2017-06-06 17:50] michaelisard commented on #10449
@sherrym who is a good contact for figuring out how to work on this contribution?

[2017-06-06 17:59] cwhipkey commented on #10447
The documentation comes from the op registration in core/ops/math_ops.cc, which uses a macro.  It seems from the history that uint8 was added to the macro as part of enabling uint8 for Div.

The kernel registrations are in core/kernels/cwise_op_add_1.cc and core/kernels/cwise_op_add_2.cc (split into separate registrations across of the files to speed up compilation).  None of the REGISTER calls re

[2017-06-06 18:00] ofirbb commented on #10468
Actually, all that you really need is to write the implementation of the python conversion from a TF graph to a CoreML (also protobuf) model file:
[CoreML custom conversion tool](https://developer.apple.com/documentation/coreml/converting_trained_models_to_core_ml#2903105)

[2017-06-06 18:13] nectario commented on #8264
Thank you. I will file a separate issue. At the moment, I am uninstalling everything as I have several versions of Python installed.

[2017-06-06 18:23] VinceMarron commented on #10196
As an aside, I eventually found that `tf.train.slice_input_producer` is unlike the other input producers and does not return a queue object so the above code may be misleading. I am still confused as to the best way to handle queue/process/batch for lists of path/label pairs but the below seems to be closer:

`with graph.as_default():`

    batch_size=32
    n_samples = 100

    pathlist = tf.cons

[2017-06-06 18:36] michaelisard commented on #10450
What is the output of
`grep '^bogomips' /proc/cpuinfo | head -1`

[2017-06-06 18:37] michaelisard commented on #10451
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 18:37] #10451 closed

[2017-06-06 18:53] nectario commented on #10111
I still get this error even though I have CUDNN 5.1 installed. What environment variables do I need specified?

[2017-06-06 19:12] anonym24 commented on #10438
model downloaded by default: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/download-models.gradle

I wanted to know how to reduce input image to speed-up processing?

I did something like this for tiny yolo (TF Yolo Detector), I reduced input resolution to get more fps (of course it reduces quality for recognition but I also use different methods to crop interest

[2017-06-06 19:22] jubjamie commented on #10438
Yeah that won't work if you're using the default model. You have to give it the correct image size otherwise it will fail. CNNs carefully construct their architectures for a certain image size, you can't give them any size usually without some form of resize of reshape happening. If you read up CNNs hopefully you'll better understand the issue and ways to get around it. Sorry.

[2017-06-06 19:50] anonym24 commented on #10438
It's ok, thanks. I expected that it would be something like this. So this is why I prefer to use more yolo detector than others demos for android devices

[2017-06-06 19:58] adityaatluri commented on #10437
Hi,
When I changed [llvm.BUILD](https://gist.github.com/adityaatluri/8b8ca1f326d6f1537c17c98db84c6ae3) build to work for AMDGPU target, I ran [tf2.py](https://github.com/gpu0/tf-code/blob/master/tf2.py), it is giving out following error:
[code]
Here are the configure steps I tried:
[code]

And, the following build commands:
[code]

[2017-06-06 19:58] annanay25 opened #10471 "[TF:XLA] XLA does not recognize symbol Polly."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: ('v1.0.0-1783-g4c3bb1a', '1.0.0')
- **Bazel version (if compiling from source)**: 0.

[2017-06-06 20:00] jubjamie commented on #10438
I'm pretty sure yolo just scales the image back up/down to the correct size.

[2017-06-06 20:08] michaelisard commented on #10437
We aren't currently supporting the AMDGPU backend unfortunately, so marking 'community support'.

[2017-06-06 20:12] adityaatluri commented on #10437
Hi @michaelisard ,
I am try to get llvm.BUILD file get right. The code isn't the issue

[2017-06-06 20:14] asimshankar commented on #10454
@shashank734 : Alas, at this time, any ops defined in the Python `tf.contrib` namespace are not supported in the release binaries of other languages. This stems from the fact that these ops are implemented in their own binaries (in their own shared libraries) and we currently do not support loading custom ops.

That's something we're looking into (making custom operations in `tf.contrib` available

[2017-06-06 20:15] anonym24 commented on #10438
Hm.. I guess for yolo it can be any px size multiple by 32 as I know (64x64, 96x96, 416x416)
and when reducing this input size we get more fps
so there is difference (the smaller images the faster but less accuracy of course)

[2017-06-06 20:23] nectario commented on #9971
This is a valid issue that should not be close. Stackoverflow did not respond not even once. Please open it. When I run this command:
`bazel build --config opt //tensorflow/java:tensorflow //tensorflow/java:libtensorflow_jni`
I get:
`ERROR: C:/development/projects/tensorflow/tensorflow/java/BUILD:142:1: error loading package 'tensorflow/java/src/main/native': Encountered error while reading extens

[2017-06-06 20:29] jubjamie commented on #10438
Hmm fair enough.

[2017-06-06 20:49] byronyi commented on #10449
Interesting work! In the papers you posted it seems that's a new synchronization mechanism to reduce cross device communication cost.

As a side note, does your implementation change the core/distributed runtime or it is currently implemented above TF API (e.g. using Python)? Any significant differences from the synchronization methods mentioned [here](https://www.tensorflow.org/performance/perfor

[2017-06-06 21:12] andrewharp commented on #10438
@anonym24 That's correct, the default Inception model requires a 224x224 input. Closing as this is neither a bug nor feature request.

[2017-06-06 21:12] #10438 closed

[2017-06-06 21:17] asimshankar commented on #10461
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-06 21:17] #10461 closed

[2017-06-06 21:27] ProGamerGov commented on #10419
@jart At the moment, I've found it extremely confusing as to how to use other pre-trained models with the tutorial's code. I've tried using the model from: http://download.tensorflow.org/models/image/imagenet/inception-2015-12-05.tgz, but I couldn't figure out how to get it working with the code. The stripped Android model (inception5h) seems to be really different from other models, and I haven't

[2017-06-06 21:32] Joseguz101 opened #10474 "No module named 'tensorflow'"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-06 21:38] Madhusakth commented on #3179
Hi,
I am trying to use tensorflow in ipython, Mac and I got the following error

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-7-836278fb1688> in <module>()
      1 import sys
      2 sys.path.append('/Users/vasanti/miniconda2/lib/python2.7/site-packages')
----> 3 from keras.uti

[2017-06-06 21:40] Carmezim commented on #10474
Please fill out the template or your issue will be closed. Thanks!

[2017-06-06 21:57] drewrice2 commented on #8787
here to show interest for this feature. thanks @ahundt for fighting the good fight!

[2017-06-06 22:01] horrigan commented on #37
+1

[2017-06-06 22:10] xtr33me commented on #3408
@shanxiongfei Were you ever able to find a solution? I am seeing the same thing in a docker container on macbook pro Sierra and not having any luck getting past it yet.

[2017-06-06 22:27] michaelisard commented on #10459
Marking community support since we don't directly support PPC builds.

[2017-06-06 22:28] #10460 closed

[2017-06-06 23:03] ml9951 commented on #9614
@jart, your nginx configuration worked for me.

[2017-06-06 23:10] gunan commented on #10420
I checked this on a clean nvidia docker image and I cannot reproduce the problem. Here are the commands I ran:
[code]

There are bugs around anaconda where sometimes it cannot install a new version even when `--upgrade` flag is provided. It is possible you are running into one of these.
You should be able to check again on a clean conda environment.

As I cannot reproduce this, I will close this b

[2017-06-06 23:10] #10420 closed

[2017-06-06 23:42] james-ough opened #10476 "Map function error: index cleared after previous read"
I'm trying to efficiently calculate the Jacobian by using `tf.map_fn`.

[code]

This throws a weird error:

[code]

How can I get this working? Thanks.

[2017-06-06 23:56] #9313 closed

[2017-06-07 00:02] ahundt commented on #781
Only thing I can think of is an arbitrary channel count, not sure if it is already there or not. For example, that would be useful for transforming a one hot encoding when doing image segmentation.

[2017-06-07 00:49] djimoh5 commented on #37
+1

[2017-06-07 01:03] 7ammer commented on #37
I think I _might_ be getting the hint that nothing will be happening regarding with this issue. The OP's date was from 2015, its now 2017 and it's not been picked up by anyone on the project. Does anyone know if there has been any healthy discussion regarding tensorflow and node anywhere, as these +1's don't seem to be doing much :(

[2017-06-07 01:33] xuxianju commented on #9484
@mrry  I find the problem is on tensorflow-gpu 1.1.0  .Today, I use your script to check my DLL. It still no problem but can't import ,and I have NVCUDA.dll (I use python35,tensorflow 1.1.0,install succeed).  Then, I download and install tensorflow 1.0.1,and I can import tensorflow-gpu(1.0.1) successfully.

Now, I just want to konw why the version 1.1.0 have problem，and how to solve it.

Here is t

[2017-06-07 02:09] XeMinZa commented on #9976
I have the same problem! how can I fix it?

[2017-06-07 02:33] concerttttt commented on #10474
Try opening issues this way:
[https://github.com/tensorflow/tensorflow/issues/6548](url)
or:
[https://github.com/tensorflow/tensorflow/issues/647](url)

Possible solutions on stackoverflow:
[https://stackoverflow.com/questions/42970106/modulenotfounderror-no-module-named-tensorflow](url)
[https://stackoverflow.com/questions/42244198/importerror-no-module-named-tensorflow](url)
[https://stackoverfl

[2017-06-07 03:13] JcmeLs commented on #10435
@meteorcloudy emmm...Actually,there is still a problem ` no such target '//tensorflow/tools/git:gen/spec.json': target 'gen/spec.json' not declared in package 'tensorflow/tools/git'`.I found issues and I got the way to fix it.But in windows it can't run `./configure`.And I try to upgrade TensorFlow 1.2.0 RC1.But it still.
log:
[code]

[2017-06-07 03:14] ed-alertedh opened #10478 "tfdbg error when stepping through a graph that uses tf.train.shuffle_batch"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.2.0-rc1-24-gce1d6ec 1.2.0-rc2
(I also got the same error with tf 1.1.0)
- **Bazel

[2017-06-07 03:23] Sycor4x opened #10479 "Possible bug: LSTMCell with use_peephole=True breaks when using initializer=tf.orthogonal_initializer"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, below.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX Sierra
- **TensorFlow installed from (source or binary)**: binary - pip
- **TensorFlow version (use command below)**: 1.2rc0
- **Bazel version (if compiling from source)**: NA
- **CUDA/cuDNN version**: NA
- **GPU model

[2017-06-07 03:24] JcmeLs commented on #10435
I also build it in Docker.I the image from gcr.io/tensorflow/tensorflow:latest-devel.And I run `bazel build tensorflow/python/tools:optimize_for_inference`.It also had a error.
log:
[code]

[2017-06-07 03:40] yangjunpro commented on #10449
@byronyi
Currently, our implementation only involve Python-level change since we formulate this problem as a graph transformation problem so as to ensure our code change is orthogonal to low-level changes.

[2017-06-07 03:49] MatthiasWinkelmann commented on #10436
I'm quite sure this is related to https://github.com/bazelbuild/bazel/issues/2752. Until that fix percolates through the releases: I got the build to move on without tensorboard by deleting line https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/BUILD#L162, i. e.

```"//tensorflow/tensorboard",```

I also tried changing the 239 occurrences of ```PYTHON_?(BIN)(ARY)?_?

[2017-06-07 03:57] eaplatanios commented on #10088
@drpngx That sounds great! Is there any time estimate for that? Thanks! :)

[2017-06-07 04:03] liujibin320 commented on #2353
Thanks @rasbt ! I have the same issue, and either writer.flush or writer.close work for me:

Before using flush/close:

[code]

after:
[code]

[2017-06-07 04:14] xzy256 commented on #9998
Modifying `tensorflow/workspace.bzl` NODE=path/to/node can fix it. I have built tensorflow success, and test pass. build patch see [build-tf-mips64.diff](https://github.com/xzy256/tensorflow-mips/blob/master/build-tf-mips.diff). Error and solution see[build-tf-mips-error.log]()
<pre>
# pip install /tmp/tensorflow_pkg/tensorflow-1.2.0rc1-cp27-none-linux_mips64.whl
...
    Installing /usr/lib/python

[2017-06-07 04:22] petecoup commented on #10437
_ZN4llvm6AMDGPU9isComputeEj == llvm::AMDGPU::isCompute(unsigned int)
This looks like it is in lib/Target/AMDGPU/Utils.
So, looks like you need to build a amdgpu_utils library, like aarch64_utils.  Then, add it as a dependency on the required libraries.

[2017-06-07 04:27] adityaatluri commented on #10437
It took me 5 hours to figure it out (well, 20 minutes of build time for each run). I added
[code]
to ./tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/BUILD (I first tried with cpu/BUILD and it worked).
Build still running will let you know if it messes up.

[2017-06-07 04:38] sandipmgiri commented on #10450
Getting something on X86 :
[code]
However nothing printed on ppc64le :

`$ grep '^bogomips' /proc/cpuinfo | head -1`

[2017-06-07 04:44] adityaatluri commented on #10437
Hi,
I am able to pass build stage. But the library `_pywrap_tensorflow_internal.so` do not contain `LLVMInitializeAMDGPU` variants. Here is `nm -S` dump for different targets

[code]
For AMDGPU,
[code]

The files in `./external/llvm/lib/Target/AMDGPU` do contain the function declarations
[code]

[2017-06-07 04:49] Warvito commented on #7855
Any update on when this might be available?

[2017-06-07 04:51] #9998 closed

[2017-06-07 04:52] adityaatluri commented on #10437
Hi @petecoup
I forked tf and made my changes to llvm-amdgpu branch.
https://github.com/adityaatluri/tensorflow/tree/llvm-amdgpu

[2017-06-07 04:52] petecoup commented on #10437
Yes.  For the CPU targets, in compiler/xla/service/cpu/cpu_compiler.cc, there is CpuCompiler::InitializeLLVMTarget, where CPU targets can add their own set of these initialization routines.  Looks like the NVPTX backend is initialized in compiler/xla/servce/gpu/llvm_gpu_backend/gpu_backend_lib.cc.  Don't know what that means for where to put AMDGPU...good luck!

[2017-06-07 04:56] adityaatluri commented on #10437
Hi @petecoup ,
I am not concerned with code right now. If I could get LLVM to build AMDGPU target inside TF, that would make life lot easier. Is it possible for you to try out my forked version of TF? As long as the tf shared library has all the routines inside AMDGPU target, I can figure out a way to use them inside xla code.

[2017-06-07 05:15] lynkxyz commented on #37
+1

[2017-06-07 05:23] gukangkang opened #10481 "how to download tensorflow history version=1.0.0. please give me some tips"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-07 05:24] danherman commented on #6252
The "works as designed" closure is unhelpful. This is the first output given following the first user action taken in the welcome tutorial (literally "Hello, TensorFlow") following a successful TF Docker install. It typifies poor UX associated with some open source projects.

I think the Hello TF user flow could be better than to begin with an error followed by a link to a dismissively closed defe

[2017-06-07 05:34] ddurham2 commented on #9637
Another bug in the same document is the last sentence in the "Pooling Layer #1" section.  It says "has a shape of [batch_size, 14, 14, 1]" but it should read "has a shape of [batch_size, 14, 14, **32**]"

[2017-06-07 05:50] supermeatboy82 commented on #8191
@oxwsds As you said, I change input args cell of tf.contrib.legacy_seq2seq.embedding_attention_seq2seq to two different cell {encoder_cells, decoder_cells}. Finally, I get seq2seq model worked.  After 73200 setps, I get perplexity 5.54.
Then I run decode part,

Qui est le président des États-Unis ?
Problem solved.  Thanks.

[2017-06-07 05:53] qiqiguaitm commented on #6034
same issue

[2017-06-07 05:59] bowang commented on #3332
I implemented this feature in the following PR.
https://github.com/tensorflow/tensorflow/pull/10482

[2017-06-07 06:28] StarRain-L opened #10483 "How to reduce the package size?"
Even if I only use arm64 size is 98.2 M, how to reduce the size?Please answer
![snip20170607_1](https://user-images.githubusercontent.com/8908244/26865045-7de7b23a-4b8d-11e7-9503-6f07943645a8.png)

[2017-06-07 06:29] amirjamez opened #10484 "Can not execute hexagon_graph_execution on hexagon-sim"
@satok16 I have followed the [build_and_run_inception_hexagon.sh](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/samples/build_and_run_inception_hexagon.sh) and generated the hexagon_graph_execution executable. Now instead of using a real device I would like to test inception model with "hexagon-sim" available at SDK 3.0. So there is no need to use adb push comman

[2017-06-07 06:30] JonathanRaiman commented on #9091
@Panaetius My original memory leak problem arised in code that had several int32 tensors being fed in with varying sizes (inputs for embedding lookup tables that have varying numbers of time steps going into RNNs). This sounds like it might be the same issue

[2017-06-07 07:29] arunpatro opened #10485 "Unable to install tensorflow-gpu==0.11.0"
I am having issues with installing the v0.11.0 version of tensorflow-gpu. My code works on `tensorflow==0.11.0` but really slow. I had a `tensorflow-gpu==0.11.0` but i had lost it due to an upgrade. The pip repository doesn't have a v0.11 anymore and starts with v0.12 only. I got the v0.11 wheel from the TF_BINARY_URLs for v0.11. I am able to install `tensorflow==0.11.0` using the wheel at `export

[2017-06-07 08:14] meteorcloudy commented on #10435
@JcmeLs You can download MSYS and run ./configure in it.

[2017-06-07 08:18] annanay25 commented on #10437
@adityaatluri, these targets are defined in the [BUILD](https://github.com/tensorflow/tensorflow/blob/master/third_party/llvm/llvm.BUILD#L25-L31) file. You could try adding AMDGPU to this list. You will also have to take care of any ```.def``` files that LLVM uses for this backend though.

[2017-06-07 09:19] morgangiraud opened #10486 "[BUG] control_dependencies + sess.run(tf.global_variables_initializer())"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04 and mac osx
- **TensorFlow installed from (source or binary)**: pip install tensorflow
- **TensorFlow version (use command below)**: v1.1.0-rc0-61-g1ec6ed5 and 1.1.0

Hi TF team, I've stumbled upon a strange behaviour that I believe is a bug:

If I try to run the code below i end up with : `FailedPreconditionError (see a

[2017-06-07 09:30] LucasMahieu opened #10487 "Variable "weights" does not exist with BasicLSTMcell or LSTMBlockCell"
### System information

- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: via pip with GPU support
- **TensorFlow version (use command below)**: 1.1
- **GPU model and memory**: GPU Titan X

### Describtion of the p

[2017-06-07 09:52] jubjamie commented on #10481
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Ovefrlow._

I don't understand the question. But if you are looking to install previous versions of Tensorflow, consider downloading an old branch from Github and compiling from source or using pip install tensorflow==1.0.0. Alternatively, [visit here for the wheels.](https://pypi.python.or

[2017-06-07 09:55] jubjamie commented on #10483
_Warning: As this doesn't appear to be a bug with Tensorflow, the devs may ask for this to be moved to Stack Ovefrlow._

It looks like you're using iOS. Have you tried reading through [these instructions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/ios_examples#reducing-the-binary-size) to reduce the binary size? The idea is that you manually remove the kernels you are

[2017-06-07 10:08] StarRain-L commented on #10483
Thank you for your reply, I according to some of the size of the official document, just libtensorflow - the size of the core cannot be reduced, if support arvmc7 and arm64, release AppStore after increasing the size of the probably how much?

[2017-06-07 10:24] jubjamie commented on #10483
I'm awfully sorry but i'm struggling to understand your reply. I don't think I can help you much more than pointing you to that documentation. It states that each binary should be around 11Mb so perhaps there is a problem with your binary compilation method. As I don't have experience with Tensorflow on iOS then i'm not sure whether you've come across a bug or not. Hopefully someone more qualified

[2017-06-07 10:32] qjivy opened #10488 "Changing the cache_size in Gemmlowp/meta/single_thread_gemm.h cause random error in Requantize nodes"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux ubuntu 16.04

- **TensorFlow installed from (source or binary)**:

source, NDK built Android ARM64 binary

- **TensorFlow version (use command below)**:

commit id: f48673b5054b474fa1e51823edd075088cd16

[2017-06-07 10:33] npanpaliya commented on #9895
I'm also seeing this problem on Ubuntu 16.04, Linux ppc64le platform with tensorflow 1.1.0 built with XLA enabled.

[2017-06-07 10:42] aling1472 opened #10489 "when logits is all zero, why in_top_k will return true?"
x = tf.constant([[2.0,9.0],[7.0,5.0],[0.0,0.0]])
y = tf.constant([1,0,1])
 tf.nn.in_top_k(x,y,1).eval()
Out : array([ True,  True,  True], dtype=bool)
why not output array([ True,  True,  False], dtype=bool)

[2017-06-07 10:58] untom commented on #10275
Can confirm that the problem is gone with rc2

[2017-06-07 10:58] #10275 closed

[2017-06-07 11:17] Awelski commented on #9481
I have got a similar issue like marczellm.

- Operating system: Windows 10
- Tensorflow version: tensorflow-gpu 1.1.0 (pip installation, in python 3.5.3 environment)
- IDE: PyCharm

Although I got tensorflow installed, the following command throws an error:

`from tensorflow.examples.tutorials.mnist import mnist`

Error:

Traceback (most recent call last):
  File "C:/Users/Raphaël Baur/PycharmProj

[2017-06-07 11:17] StarRain-L commented on #10483
I'm sorry I can't express clearly in English, but thank you very much for your reply!"Libtensorflow - core. a"
![767ce499-260e-4951-84c3-c043b14d95c6](https://user-images.githubusercontent.com/8908244/26875754-dbd0a3ac-4bb5-11e7-94c8-27bea6a0ac84.png)
 is given by the official, and I'm not sure if it will  cause package very big, let me very worried

[2017-06-07 12:23] marczellm commented on #9481
The only solution is to install both Python and Tensorflow in a directory that does not have ä or other non-ASCII characters in the path.

[2017-06-07 12:24] tillahoffmann commented on #10436
@MatthiasWinkelmann, thanks for the suggestion.

I've just tried compiling with the new bazel 0.5.1 but get the same error.

[2017-06-07 12:35] Scitator opened #10491 "TF-Keras dont see TF variables"
It is a feature or a bug?

For example, I have 2 models:
typical imports:
[code]

Keras model
[code]

and TF one:
[code]

Both of them then made with `model = kmodels.Model(inputs=features, outputs=pred)`

Nevertheless, when I use `model.summary()` , Kesar model give me correct output:
[code]
**but** TF one, give only:
[code]

Is it correct, that TF-Keras cannot see TF variables and optimize them?

[2017-06-07 13:03] tillahoffmann commented on #10436
I can compile tensorflow using the current `master` of bazel so hopefully this issue will be fixed in bazel 0.5.2.

[2017-06-07 13:03] #10436 closed

[2017-06-07 13:31] adityaatluri commented on #10437
@annanay25 I already did https://github.com/adityaatluri/tensorflow/blob/llvm-amdgpu/third_party/llvm/llvm.BUILD#L826

[2017-06-07 13:38] annanay25 commented on #10437
Okay, then I am in a very similar position as you are right now!

Ref: https://github.com/tensorflow/tensorflow/issues/10471

TLDR;
I build Polly with LLVM, but I am unable to get Polly's passes initialized in the XLA pipeline.
A solution to your issue will hopefully give some insight to mine as well :)

[2017-06-07 13:40] Zehvogel commented on #9849
Hi,
I am having exactly the same problem, did you find a solution yet?
Regards

[2017-06-07 14:10] wgong commented on #5036
Hvass-Labs tensorflow tutorial is awesome, the best I can find, please support his pull request, so we can learn more about tensorflow from Hvass-Labs, Thank tensorflow team

[2017-06-07 14:14] skye commented on #9998
Thank you for sharing how you resolved this!

[2017-06-07 14:23] eric-aquaronne commented on #8466
Just got recheck from our IBM PowerAI experts: this is a known bug in the current Nvidia 375 GPU driver: back-leveling the driver to the 361 level will fix the issue.

[2017-06-07 14:39] mrry commented on #9481
It would be great to fix this problem, but I'll first need to clarify what API guarantees we make about character set.

@girving: Does the fact that we use of `'utf-8'` as the default encoding in `compat.as_bytes()` imply that we should treat all user-provided strings as UTF-8 encoded? Do you know if we do anything special on Linux?

@guschmue: Have you run into this problem with the Windows port?

[2017-06-07 14:44] girving commented on #9481
Yes, we treat all user provided `bytes` objects as UTF-8 encoded, and `compat.as_bytes()` will produce UTF-8 encoded `bytes` data regardless of the encoding of the input string.

[2017-06-07 14:57] guschmue commented on #9481
MultiByteToWideChar and CreateFileW (and related calls) sounds about right. Should be straight forward for doing the system call. Guess the complication comes with calls like FindFirstFile ... we'd need to convert the results as well but all of this should be contained in windows_file_system.cc

[2017-06-07 14:59] petecoup commented on #10437
Not sure what you mean "...not concerned with code right now".  When compiling the offline compiler, tfcompile, directly calling these LLVMInitializeAMDGPU* routines is the only way you can get the target initialized so you can generate code for it (and I don't think it will even link in the guts of your target otherwise).  I imagine it is the same for the python wrapper.  For CPU targets, this is

[2017-06-07 15:11] adityaatluri commented on #10437
What I meant to say is, once I get AMDGPU target to build, I can reference it inside xla code. Having xla code supporting the target and not able to link/build is unproductive use of time. I have gone through xla code and looks like a straight forward implementation for AMDGPU backend. I need help with getting AMDGPU target built right.

[2017-06-07 15:15] adityaatluri commented on #10437
@michaelisard
Can you assign this to some one at google who can help with this issue. Currently this is a major hurdle in enabling AMDGPU backend for xla. Once I can see LLVMInitializeAMDGPU* symbols inside _pywrap_tensorflow_internal.so, I am good to go!
Thanks!

[2017-06-07 15:50] yaroslavvb commented on #9868
@al626 training model issues multiple run calls, does this save metadata for last run call or does it merge them?

[2017-06-07 15:57] al626 commented on #9868
Saves the last run call - I figured if people run multiple times for warm-up, then only the last run is relevant.

[2017-06-07 15:59] hgffly opened #10492 "Read images with various sizes from TFRecord"
I posted this issue in [StackOverflow](https://stackoverflow.com/questions/44152661/random-crop-a-patch-from-a-various-sized-image-read-in-tfrecord) and I got a response as well. However the replied answer would raise a **ValueError: All shapes must be fully defined** .
I'm just wondering might it be a limitation or even a bug that it's impossible to read images with various sizes from TFRecord?

[2017-06-07 16:26] arianaa30 opened #10493 "Typo in text"
Typo at this address: https://www.tensorflow.org/api_docs/java/reference/org/tensorflow/Graph
I thought it primes in our mind that TensorFlow for Java is not yet mature. Fixing it might help new comers!

WARNING: Resources consumed by the Graph object **msut** be explicitly freed by invoking the close() method then the Graph object is no longer needed.

[2017-06-07 16:41] iamblue commented on #3847
@andrewharp Could I use api_level 22 ?

[2017-06-07 17:03] edgimar opened #10494 "incorrect documentation in _SliceHelper"
The outputs shown for several of the examples in the `_SliceHelper` docstring are incorrect (based on some previous examples?).

See, for example, this line: https://github.com/tensorflow/tensorflow/blob/359d6f9716c0bb9bd8201ce600da98b0481a8049/tensorflow/python/ops/array_ops.py#L412

[2017-06-07 17:21] satok16 commented on #10484
Hi, sorry for the delay.
I'm going to refactor this part (change has been already created, I'm cleaning up it now.) Will be checked in a week.

[2017-06-07 17:31] posstrofee commented on #8652
Getting similar error. Has only happened in last 24-36 hours or so:

**AttributeError: 'NoneType' object has no attribute 'update'**

[2017-06-07 18:08] taion opened #10498 "TensorFlow logging configuration is non-standard"
Ref https://github.com/tensorflow/tensorflow/issues/8023

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Docker image
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (i

[2017-06-07 18:25] kzos commented on #10286
@satok16 , Hi again,
Also, Need some clarity/understanding on what is getting called in session->run
In file, tensorflow/core/kernel/hexagon_graph_execution_test.cc +258(RunFusedGraph),

once session->run gets called as below:

---snip ----
LOG(INFO) << "Run graph";
  // Run inference with all node as output
  TF_ASSERT_OK(**session->Run(**run_options, input_tensors, output_node_names, {},

[2017-06-07 18:29] #10151 closed

[2017-06-07 18:35] igorbb commented on #6683
I also can confirm the issue:
Whenever we are using the
        rnncell=tf.nn.rnn_cell.BasicLSTMCell(3,state_is_tuple=True)
inside a
        rnnop,_=tf.nn.dynamic_rnn(rnncell,x,dtype=tf.float32)#None,3,8

The tf.train.Saver or alternative does not save the weights of the LSTM cells.
This also seems to be the case of using

  base_lstm = tf.contrib.rnn.BasicLSTMCell(rnn_size)

        # Add dropout

[2017-06-07 18:36] lancerts commented on #10240
I tried tf.train.slice_input_producer and tf.train.batch, the error still persists. This means, even using batch, the whole data is first loaded into graph somehow... Seems like a bug...

[2017-06-07 18:53] katre opened #10499 "reader_ops_test failing on windows for Bazel CI"
On Bazel's CI system, TensorFlow's reader_ops_test is failing on all Windows builds, and has been since between June 1 and June 5:
http://ci.bazel.io/view/Dashboard/job/TensorFlow/863/

The logs don't show anything useful, unfortunately.:
http://ci.bazel.io/view/Dashboard/job/TensorFlow/862/BAZEL_VERSION=HEAD,PLATFORM_NAME=windows-msvc-x86_64/consoleFull
[code]

[2017-06-07 19:11] bhack commented on #22
Opensource triSYCL is arriving. See https://github.com/triSYCL/triSYCL/pull/45

[2017-06-07 19:33] Awelski commented on #9481
Installing it in a different directory worked! Thank you! @marczellm

[2017-06-07 19:44] jart commented on #6683
Re-opening for triage again.

[2017-06-07 19:47] jart commented on #9976
@XeMinZa I'm assuming you're on windows? Can you open a new bug for that and CC me?

[2017-06-07 19:48] jart commented on #9976
@XeMinZa I'm assuming you're on Windows?

[2017-06-07 19:52] igorbb commented on #6683
It seems the issue is saving and restoring layers from  `tf.contrib.rnn`

[2017-06-07 20:13] k1ng440 commented on #37
#+1

[2017-06-07 20:17] Dref360 commented on #10491
Keras adds some metadata to Layers, that why model.summary can see them. Calling for example `klayers.MaxPool2D()(x)` will only call `tf.layers.max_pooling2d(x, 2, 2)` and adds some metadata to it. To add the metadata yourself, you should look into the `Lambda` layer.

[2017-06-07 20:18] Dref360 commented on #10464
Hi!
This question seems best suited for StackOverflow. Could you post your issue there? Also, remember to close your issue if you do so!
Thanks!

[2017-06-07 20:49] mrsabhar commented on #10406
Can you share the solution for this error?
**gcc: error: ”-DEIGEN_USE_VML”: No such file or directory**

[2017-06-07 21:27] pronot commented on #6084
@AihamTaleb I have the same issue, but still couldn't figure out how to solve it. Could you share your solution? e.g. the corresponding tensor for "pool_3/_reshape:0"?

[2017-06-07 22:08] Moondra commented on #6999
How exactly would I install the tf 1.2rc? I would like to play around with tf before the official version is released. I'm used to installing everything via the official python way. Thank you.

[2017-06-07 22:12] gunan commented on #6999
You can either use `--pre` flag with your pip command, or you can just set the version like this: `tensorflow==1.2.0rc2`

[2017-06-07 22:18] Moondra commented on #6999
@gunan  Thank you so much; If I want the GPU version I'm assuming I should add `gpu` as such:

`tensorflow-gpu==1.2.0rc2`

[2017-06-07 22:37] michaelisard commented on #10437
@hawkinsp kindly volunteered to help out.

[2017-06-07 22:41] adityaatluri commented on #10437
@michaelisard @hawkinsp Thank you very much. Appreciate the effort! 👍

[2017-06-07 22:41] michaelisard commented on #10450
Unfortunately we don't directly support the PPC platform, so there may be a bunch of issues like this. Marking community support in case somebody is willing to take on the attempt of getting it to work on that platform.

[2017-06-07 22:44] michaelisard commented on #10463
The quantization ops all moved into core tensorflow so you shouldn't need a separate contrib dependency for those ops now. However, I can't vouch for what is needed to make that tutorial work. @petewarden  is anyone maintaining this tutorial?

[2017-06-07 22:52] michaelisard commented on #10464
Agreed @Dref360 thanks! I am closing for now, please ask on Stackoverflow.

[2017-06-07 22:52] #10464 closed

[2017-06-07 22:54] Moondra commented on #8385
@Carmezim   Hi, I"m having the same error as above **(Windows 7, pip3.6, tensorflow1.2 rc,)** .  I seem to have  MS Visual c++ compiler,  Visual c++ build tools, and Visual Studio 2015 installed and If search files (in the search bar) , Windows is able to find  msvcp140.dll.

As for CUDA Path I see

[code]

Is my CUDA_PATH okay?

Thank you.

[2017-06-07 22:57] michaelisard commented on #10471
@hawkinsp please unassign if you don't have time to look into this.

[2017-06-07 22:58] michaelisard commented on #10474
Closing for now but please reopen with the issue if it isn't a problem best addressed on stackoverflow.

[2017-06-07 22:58] #10474 closed

[2017-06-07 23:12] Carmezim commented on #8385
@Moondra Which error specifically, could you please provide the log? If `MSVCP140.DLL` is in your `%PATH%`. How did you install TensorFlow 1.2?
If you're getting  `missing DLL` error this [script](https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c) may be useful. Just download and run it and it will help you assess the culprit.

[2017-06-07 23:24] Moondra commented on #8385
@Carmezim

I installed the rc version of Tensorflow like this:

`pip3.6 install tensorflow-gpu==1.2.0rc2`

 Here is my traceback error:

[code]

My Path variable looks like this:

`C:\Program Files  (x86)\Tesseract-OCR\;C:\Users\Moondra\Anaconda_related\Anaconda\geckodriver.exe;C:\Users\Moondra\AppData\Local\Programs\Python\Python36;C:\Users\Moondra\Cygwin\bin;C:\Users\Moondra\Anaconda_related\Ana

[2017-06-07 23:46] Carmezim commented on #8385
@Moondra that's most likely the problem. cuDNN is a separate library required to run TensorFlow with GPU support. Until next release cuDNN 5.1 is the compatible version on Windows (on next release it will be 6.0).

[2017-06-07 23:46] josephholsten commented on #10493
resolved in https://github.com/tensorflow/tensorflow/pull/9852, do we need to wait for a new release for the doc to be regenerated?

[2017-06-08 00:18] jmugan commented on #10406
I have the same error.

[2017-06-08 00:35] jjough opened #10513 "Hessian not symmetric"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OS X 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:  v1.1.0-rc0-61-g1ec6ed5 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuD

[2017-06-08 00:52] jjough opened #10514 "Map-function Jacobian gives error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OS X 10.11.6
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.1.0-rc0-61-g1ec6ed5 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDN

[2017-06-08 01:07] cYclonEK commented on #9849
If you are talking about the pmul issue,
Nothing changed yet

[2017-06-08 01:16] hawkinsp commented on #10437
@adityaatluri I have a pending change that adds bazel build rules for the AMDGPU LLVM backend that should land in the next few days. That takes care of building the backend.

Once that it is landed, you will need to do at least these three things to use the backend:
a) uncomment `"AMDGPU"` in the `llvm_targets` list at the top of the build file.
It will appear roughly here once the change lands:
h

[2017-06-08 01:18] czarina opened #10515 "Tensorboard 'Site cannot be reached' error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Installed with Docker as per https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#1
- **TensorFlow version (use command below)*

[2017-06-08 01:25] adityaatluri commented on #10437
@hawkinsp Awesome!
Thank you for the insight into the bazel build process. I was able to do first 2 steps. I'll check for step 3.
Do you know a time frame where the patch will be upstreamed?
Do you have any plans to extending it to Stream Executor?

[2017-06-08 01:25] byronyi commented on #10449
I don't know about other members but as for myself I would love to see new synchronisation mechanism beyond the common ones we have right now (parameter server, distributed replicated using all-reduce, etc.).

Looking forward to your patch.

[2017-06-08 01:38] hawkinsp commented on #10437
The patch will be upstreamed in the next few days, whenever we sync up our branch with the Github repository.

I'm afraid I don't have time to work on a AMDGPU Tensorflow StreamExecutor plugin, nor access to the necessary hardware. But if you are interested in working on one, we can definitely give you pointers.

One thought: XLA actually only uses a relatively small subset of the StreamExecutor A

[2017-06-08 01:59] XeMinZa commented on #9976
Yes, I'm using win10. Someone said that this bug was fixed in the later release. But I still have it...

[2017-06-08 02:00] adityaatluri commented on #10437
Thank you for offering help, do you expect to change XLA architecture to fit in AMDGPU code gen along with NVPTX? Because, the triple is hard coded to nvptx [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/service/gpu/gpu_compiler.cc#L81)

[2017-06-08 02:07] #10086 closed

[2017-06-08 02:09] hawkinsp commented on #10437
I don't think we have any very specific thoughts on how this should best be done.

There is a somewhat under-publicized mailing list for folks working on XLA development which might make a better forum for this sort of wide-ranging discussion than a Github issue:
https://groups.google.com/forum/#!forum/xla-dev

To answer your specific question: I suspect the right thing to do is to have a separate

[2017-06-08 02:40] ashokbugude opened #10517 "TensorFlow Convolution Code Optmization"
I am using C++ version of TensorFLow and have built 'TensorFlow for Android' successfully using below command
'bazel build -c opt //tensorflow/examples/android:tensorflow_demo'
 as described in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#bazel

I am trying to optimize the convolution code. Below are the issues faced

1. Unable to find the exact location of conv

[2017-06-08 02:47] xueyouluo commented on #9832
@lmkostas  I think you can use the code of master branch to implement BeamSearchDecoder, and it works.

[2017-06-08 02:55] linearhit opened #10518 "some op frequently disappears in the log of tfprof"
Please go to Stack Overflow for help and support:

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Red Hat 4.8.3-9
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.0
- **Bazel version (if compiling

[2017-06-08 03:13] wangsiyu commented on #10518
I also met for this problem. Sometimes the most time-consuming operations in theory are always 0us in tfprof.

[2017-06-08 03:26] ddtm opened #10519 "tf.contrib.data: tf-slim training pipeline gets stuck"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux leto28 3.16.0-4-amd64 1 SMP Debian 3.16.39-1+deb8u2 (2017-03-07) x86_64 GNU/Linux
VERSION_ID="8"
VERSION="8 (jessie)"

- **TensorFlow installed from (source or binary)**:
Binary

- **TensorFlow version

[2017-06-08 04:00] Warvito opened #10520 "tf.layers.conv3d_transpose() gives error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04.2 LTS (Xenial Xerus)
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.2.0-rc2
- **Bazel version (if compiling from source)**:
- **CU

[2017-06-08 04:06] jkschin commented on #2732
@benjrossi nice post. I'm working on a short guide and hope to push a first draft within the next 2 weeks.

[2017-06-08 04:12] Moondra commented on #8385
@Carmezim  Okay, so I've downloaded cuDNN 5.1 (Version 8.0), and unzipped. There seems to be no exe file, so I just put the folder somewhere and created a path to the `cudnn64_5.dll`  file located within the folder.

 `C:\Nvidia_CUDL\cuda\bin\cudnn64_5.dll`    (This is the path I've created in the path variable)
Is the file I'm supposed to create a path to?
However,  I still seem to be presented w

[2017-06-08 04:27] Carmezim commented on #8385
@Moondra You can find the instruction to install cuDNN on NVIDIA's website. Usually the content of the cuDNN zip matches the folders inside CUDA's directory (include, lib64 etc), so you could basically extract/copy them there.
Try downloading the script I provided above made by @mrry and run it locally. You will have a better assessment of the reason why you're receiving these errors.

[2017-06-08 04:30] JcmeLs commented on #10435
@meteorcloudy It also can't run it.

[2017-06-08 04:39] Moondra commented on #8385
@Carmezim  I finally got it! Yeah you are supposed to insert the contents into the CUDA directory.
(I was also missing a third path variable)

This blog was REALLY useful in showing how to install to install all the necessary drivers for tensorflow.
https://nitishmutha.github.io/tensorflow/2017/01/22/TensorFlow-with-gpu-for-windows.html

I  suggest you guys add it your docs or official website as

[2017-06-08 04:42] cfuxiang commented on #8385
Why not create a test case for it? It will be great for future releases. :)

[2017-06-08 05:00] mrry commented on #10519
Thanks for reporting this... it definitely looks like a bug. I think I've tracked it down to the `"OneShotIterator"` op, which internally blocks on this line while a function executes to build the dataset:

https://github.com/tensorflow/tensorflow/blob/91cb809bd6bc885458c583d46f4a322c30fa12cf/tensorflow/core/kernels/iterator_ops.cc#L248

That will block one of the inter-op thread pool threads for

[2017-06-08 05:00] waaran commented on #9620
It happens randomly. I've encountered the similar issue. Just tried again and it worked!

tensorflow.python.framework.errors_impl.NotFoundError: /home/serving/bazel-bin/tensorflow_serving/example/mnist_saved_model.runfiles/org_tensorflow/tensorflow/contrib/image/python/ops/_single_image_random_dot_stereograms.so: undefined symbol: _ZN6google8protobuf8internal10LogMessageC1ENS0_8LogLevelEPKci

[2017-06-08 05:29] astromme commented on #9672
I'm getting this as well. Did you solve it?

[2017-06-08 05:31] ddtm commented on #10519
Wow, thanks for the swift response! The first workaround seems to be working perfectly.

On a side note, I'm quite happy with the `tf.contrib.data`. My code has become way cleaner.

[2017-06-08 05:50] gunan commented on #10485
When we released 0.11, our GPU pip packages were not names `tensorflow-gpu`, it was just tensorflow.
The link you have will get you the tensorflow pip package with GPU support.

[2017-06-08 05:50] #10485 closed

[2017-06-08 05:54] gunan commented on #10481
You should be able to find this information in our website, if you look at version 1.0 docs.
Also, you can tell pip to download a specific version.

Closing as this is not a bug/issue in TF.
As @jubjamie suggested, you can easily get help for such issues through stackoverflow.

[2017-06-08 05:54] #10481 closed

[2017-06-08 05:56] gunan commented on #10499
@meteorcloudy told us that this is actually a bug in bazel:
https://github.com/bazelbuild/bazel/issues/3134

Closing this issue as this is not a bug in TF.
Please reopen if investigation in bazel proves otherwise.

[2017-06-08 05:56] #10499 closed

[2017-06-08 05:57] Scitator commented on #10491
Personally I dont care about summary viev :)
Its more important, that in this setup, Keras optimizer could not optimize tf-variables. It's strange, cause all of them (Keras and TF layers) was made with `tensorflow.python.layers`. And all of them have `add_weigth` method, and use it.

When, what metadata does Keras need? Or where can something go wrong?

[2017-06-08 06:18] xisnu commented on #6683
Thank you @igorbb  for confirming the issue. I updated Tensorflow but no change. Even I tried sucha model in Keras. It shows the same problem. I guess the problem is really in Tensorflow backend.

[2017-06-08 07:36] AihamTaleb commented on #6084
@pronot Well, I didn't need the name of the corresponding tensor. For the model in this file: https://github.com/tensorflow/models/blob/master/inception/inception/slim/inception_model.py

I did the following:

- I constructed inception_v3 model only until the avg_pool layer. (Line 320). And then returned the net. This operation is the one that gives you the 2048 vector for each image. Because all

[2017-06-08 07:41] #7844 closed

[2017-06-08 08:14] meteorcloudy commented on #10435
@JcmeLs Can you show me the output?
Mine is like:
[code]

[2017-06-08 08:17] GraceDD commented on #8397
@ANeeK181  I came into the same question as you, and I fixed it by change _BitScanReverse64 function to _BitScanReverse, and then built tf_core_cpu.lib successfully.

[2017-06-08 08:19] JcmeLs commented on #10435
@meteorcloudy Oh...sorry,I forgot to give you the log.
Log:
[code]
I set the `PYTHON_BIN_PATH=C:\Users\LIBA\AppData\Local\Programs\Python\Python35`

[2017-06-08 08:22] JcmeLs commented on #10435
@meteorcloudy configure log:
[code]

[2017-06-08 08:24] meteorcloudy commented on #10435
Can you try `PYTHON_BIN_PATH=C:/Users/LIBA/AppData/Local/Programs/Python/Python35` ? back slash doesn't work well in MSYS.

[2017-06-08 08:26] meteorcloudy commented on #10435
Did you get this error after running ./configure?
[code]

[2017-06-08 08:37] JcmeLs commented on #10435
@meteorcloudy Thank you so much!!!It seems work.I will sort out a solution.Thanks again!!!

[2017-06-08 08:41] meteorcloudy opened #10521 "Windows: conv_grad_ops_3d.cc and conv_ops_3d.cc take a long time to compile"
From http://ci.tensorflow.org/job/tf-master-win-bzl/1073/console, I see:
[code]
As you can see, it takes about half an hour to compile these two files.
This has been a bottleneck of the TF Windows Bazel build time for a while.
I guess it's because we are compiling with `/O2` option, so compiler was spending too much time on optimizing. But is there anything we can do to optimize the build time?

[2017-06-08 08:52] meteorcloudy commented on #10435
@JcmeLs Nice!

[2017-06-08 09:02] noldmess opened #10523 "I update libprotobuf but tendoflow still use the old version"
i update libprotobuf

and it worked

but tensorflow still use uses the 3.0.0. version

 terminate called after throwing an instance of 'google::protobuf::FatalException'
  what():  This program requires version 3.3.0 of the Protocol Buffer runtime library, but the installed version is 3.0.0.  Please update your library.  If you compiled the program yourself, make sure that your headers are from th

[2017-06-08 09:03] JcmeLs commented on #10435
@meteorcloudy emmm...Happy too early. There is an error that leads to build failure...
log:
[code]
Should I install VS?

[2017-06-08 09:11] meteorcloudy commented on #10435
Are you compiling with `--cpu=x64_windows_msvc --host_cpu=x64_windows --copt=-w --host_copt=-w` ?

[2017-06-08 09:14] meteorcloudy commented on #10435
https://github.com/tensorflow/tensorflow/commit/08ed32dbb9e8f67eec9efce3807b5bdb3933eb2f This commit is just merged into HEAD, so these options are necessary unless you are building from TF HEAD.

[2017-06-08 09:14] JcmeLs commented on #10435
Sorry ,I forgot!!!I will try again.

[2017-06-08 09:16] meteorcloudy commented on #10435
@JcmeLs No problem, good luck.

[2017-06-08 09:39] JcmeLs commented on #10435
Unfortunately , it `building complete` but...`Target //tensorflow/python/tools:optimize_for_inference failed to build`

Log:
[code]

[2017-06-08 09:56] meteorcloudy commented on #10435
Looks like the error is
[code]

I remember this bug, it should already be fixed at HEAD, can you try to build from HEAD instead of `tensorflow-r1.2`?

[2017-06-08 09:58] JcmeLs commented on #10435
Get~I will try again!

[2017-06-08 10:29] ringw commented on #9672
I'm traveling but will spin up a Windows VM and debug this when I get home in 2 weeks.

[2017-06-08 10:29] sandipmgiri commented on #8945
Hi @gunan,  as you said "need tolerance bounds to be loosened a little and test will pass"

For me 4 tests are passing after adjusting the tolerance and the details are as follows :

1.  `//tensorflow/compiler/tests:pooling_ops_test_cpu `
    Need to change tolerance from rtol=1e-05 to rtol=1

2. ` //tensorflow/python/kernel_tests:summary_image_op_test   `
    Need to change tolerance from rtol=1e

[2017-06-08 12:29] albertz opened #10527 "tensor_array.h not part of pip include header files"
I'm not sure if it is supposed to be part of it. If so, then this is a bug, because it is missing currently.

[2017-06-08 12:33] gwendoline-28 commented on #10154
Hi, I have re-installed CUDA 8 with a local installer but still haven't found the file NVCUDA.DLL in C:\. Is there any way I can download it ?

[2017-06-08 12:33] ribx opened #10529 "source build fails: cannot find python bin due to empty environment"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Gentoo Linux
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: master (commit 02dbe153afe2c7f418fcf9044e2e3a8795a21d3a)
- **Bazel version (if compiling fr

[2017-06-08 12:44] llhe opened #10530 "Protobuf serialization slows down RDMA"
According to a test similar to https://github.com/tensorflow/tensorflow/issues/6116, the current RDMA implementation has performance issues.

This tensor copy throughput according to [this test](https://gist.github.com/yaroslavvb/1124bb02a9fd4abce3d86caf2f950cb2) (change `assign_add` to `assign` in L53, and test with tensor size 100MB):
[code]
Which is just slightly higher than the gRPC implementa

[2017-06-08 13:00] rajnamitha opened #10532 "Quantized inception-resnet-v2 doesn't predict the images correctly"
I did quantization on inception-resnet-v2 model using https://www.tensorflow.org/performance/quantization#how_can_you_quantize_your_models. Size of freezed graph(input for quantization) is 224,6 MB and quantized graph is 58,6 MB. I ran some tests for quantized graph and the predicted output is totally wrong. I ran accuracy test for certain dataset wherein, for freezed graph the accuracy is 97.4% w

[2017-06-08 13:08] sandipmgiri commented on #10450
I gone through the file tensorflow/core/platform/profile_utils/cpu_utils_test.cc and found that GetCycleCounterFrequency function returning incorrect result on ppc64le,  expected value is greater than "0", however on ppc64le getting "-1"  (see below for test code)

[code]

Checked the output of CpuUtils::GetCycleCounterFrequency() using print statement i.e. `const int64 cpu_frequency = CpuUtils::G

[2017-06-08 13:09] Carmezim commented on #8385
@Moondra Nice you got it working. Thanks for the feedback, TF team will appreciate. I think in this case though it does not make sense as is supposed for users to take care of that themselves e.g. follow official docs already available from NVIDIA and kind of out of TF range to make sure third party libraries are installed properly by users, so IMO it's out of TF's responsibility. For instance you

[2017-06-08 13:21] jubjamie commented on #9976
@XeMinZa what exact Tensorflow version? I'm on Windows and I think this bug has gone. I can double check though.

[2017-06-08 13:21] ashokbugude commented on #10517
Its picking from the eigen TensorFlow files from cache

[2017-06-08 13:21] #10517 closed

[2017-06-08 13:28] kwotsin commented on #10532
I met with a similar problem like this. Try using `graph_transform` instead of `quantize_graph`
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms

Be sure to use `quantize_weights` and `quantize_nodes` successively in the command for graph transform.

[2017-06-08 13:50] laoreja opened #10535 "tf.nn.conv3d_transpose really slow on i7 CPU with 100+G free memory"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: virtualenv pip
- **TensorFlow version (use command below)**: 1.1.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version

[2017-06-08 14:00] mrry commented on #10154
The next step might be to try reinstalling the NVIDIA driver for your GPU. I haven't been able to find definitive instructions about getting `NVCUDA.DLL`, but this [FAQ](https://developer.nvidia.com/cuda-faq) seems relevant:

[2017-06-08 14:03] wolffg commented on #2732
I think this is a note for the Programmer's Guide.  We're working on a
redesign of the table of contents for the Programmer's Guide, but I would
suggest you create a fresh doc entitled "Non-determinism in TensorFlow".
If you submit it as a separate doc in
tensorflow/docs_src/programmers_guide, we may glom it into another document
when we reorganize.

Thanks for writing it up!

On Wed, Jun 7, 2017

[2017-06-08 14:15] jubjamie commented on #10515
I don't think this is a Tensorflow/Tensorboard bug but I think it is the way you have docker set up. It's been some time since I played with docker but I think that you might have to forward the docker port to one on your local host. The tutorial you followed did include this but it might be worth making sure that your ports are forwarding correctly. The key line in this code is the publish argume

[2017-06-08 14:18] thertweck opened #10537 "tf.layers: Add weights, biases and activations to the respective collections"
For generating weight, bias and activation summaries one needs to have access to these tensors. Similar to how regularization losses are added to the GraphKeys.REGULARIZATION_LOSSES collection, it would make sense to add weights, biases and activations to the collections GraphKeys.WEIGHTS, GraphKeys.BIASES and GraphKeys.ACTIVATIONS. Right now, layers only add the weights and bias tensors to GraphK

[2017-06-08 14:31] rajnamitha commented on #10532
@kwotsin : With this I understand I need to use command like this? Eight-bit Calculations - https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#eight-bit-calculations
Isn't it?

[2017-06-08 14:59] johndpope commented on #819
was working on a different fork - it seems the file isn't there for me. although there's a BUILD file.
<img width="797" alt="screen shot 2017-06-08 at 10 58 56 am" src="https://user-images.githubusercontent.com/289994/26935270-80e478f4-4c39-11e7-900a-f1a09fea11f0.png">

[2017-06-08 15:03] gliboc opened #10545 "incorrect documentation for deep_cnn tutorial"
### System information
not relevant to issue

### Describe the problem
The addresses provided for seeing the code in the "Code Organization" chapter of this tutorial https://www.tensorflow.org/tutorials/deep_cnn are no longer valid.

I think the right place could be https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10

### Source code / logs
Address of the tutorial: https://www

[2017-06-08 15:10] ebrevdo commented on #6683
Can you print the list of global variables before calling saver.save in one
graph, and after calling saver.save in the other graph?

On Jun 7, 2017 11:19 PM, "Parthosarothi Mukherjee" <notifications@github.com>
wrote:

[2017-06-08 15:22] pronot commented on #6084
I still couldn't figure it out.
I'm trying to retrain model **inception_resnet_v2.py** [https://github.com/tensorflow/models/blob/master/slim/nets/inception_resnet_v2.py](url)
with the retraining code:
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py](url)
I generated .pb file for inception_resnet_v2.py but i couldn't manage to adapt the retrain

[2017-06-08 15:24] Moondra commented on #8385
@Carmezim   Yeah I suppose you are right. Nvidia's docs were pretty confusing though;

The whole Visual Studio project and linker etc were instructions were really confusing.  Maybe I should email them.

`WINDOWS

    Add <installpath> to the PATH environment variable.

    In your Visual Studio project properties, add <installpath> to the Include Directories
    and Library Directories lists and

[2017-06-08 15:25] martinwicke commented on #10456
@yifeif can you fix this while rewriting configure?

[2017-06-08 15:28] michaelisard commented on #10468
Thanks for opening this. We we treat this as the tracking issue, assigning to @keveman.

[2017-06-08 15:33] Androbin opened #10548 "BAZEL_BUILD_ONLY_CMD appears unused"
In the bash script [`tensorflow/tools/ci_build/ci_parameterized_build.sh`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/ci_parameterized_build.sh) the variable `BAZEL_BUILD_ONLY_CMD` declared in [line 129](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/ci_parameterized_build.sh#L129) appears to be unused.

Variables not used for any

[2017-06-08 15:37] michaelisard commented on #10476
I'm sorry that error message is so unhelpful. There is a longish discussion in #675 about this issue, culminating in what I hope is a solution you can use. Closing for now but please reopen if #675 is not relevant to your issue.

[2017-06-08 15:37] #10476 closed

[2017-06-08 15:41] michaelisard commented on #10483
@petewarden is this expected?

[2017-06-08 15:51] michaelisard commented on #10486
I think the problem is that control dependencies and variable initializers are confusing. When you run the variable initializers, you only tell TensorFlow to run those initialization ops (i.e. compute zeros_like(Qs_t) and assign it to Ns_t), and it doesn't end up executing the precursors to the control dependency.

The more common use case would be something like:

[code]
where the control depende

[2017-06-08 15:51] #10486 closed

[2017-06-08 15:55] michaelisard commented on #10489
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-08 15:55] #10489 closed

[2017-06-08 15:58] martinwicke commented on #9526
We're working on a docs update that does include a rewrite of this tutorial. It's not done yet.

[2017-06-08 16:13] Androbin opened #10558 "LOCAL_K8S_CACHE appears unused"
In the bash script [`tensorflow/tools/dist_test/local_test.sh`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/local_test.sh) the variable `LOCAL_K8S_CACHE` declared in [line 66](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/local_test.sh#L66) appears to be unused.

Variables not used for anything are often associated with bugs.
Co

[2017-06-08 16:14] Androbin opened #10559 "MODEL_NAME_FLAG appears unused"
In the bash script [`tensorflow/tools/dist_test/local_test.sh`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/local_test.sh) the variable `MODEL_NAME_FLAG` declared in [line 94](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/local_test.sh#L94) appears to be unused.

Variables not used for anything are often associated with bugs.
Co

[2017-06-08 16:16] Carmezim commented on #8385
@Moondra yeah, NVIDIA docs can be a bit confusing for a beginner but again, IMO their docs are not up to TF. Glad you got it working!

[2017-06-08 16:35] igorbb commented on #6683
Yes

**Before trainig**
[code]

**After Training**
with tf.Session(graph=train_graph) as sess:
    list_after_train = [v.name for v in tf.global_variables()]
pprint.pprint(list_after_train)

** After Resenting the envrioment (Reset kernel on Jupyter notebooks) **
[code]

[2017-06-08 16:37] igorbb commented on #6683
If we reset the python env:
We dont have the same perfomance for the model.
If we do not; we keep the same perfomance.

[2017-06-08 16:43] yifeif commented on #10456
This was from #10307. I'll send a fix. cc @gunan FYI.

[2017-06-08 16:48] michaelisard commented on #10492
I think stackoverflow looks like the right discussion going on here, since there seem to be some workarounds proposed for you and no indication of a bug in TensorFlow so far.

[2017-06-08 16:48] #10492 closed

[2017-06-08 16:50] ebrevdo commented on #6683
It could be you're loading the wrong checkpoint?  Are you using [tf.train.latest_checkpoint](https://www.tensorflow.org/api_docs/python/tf/train/latest_checkpoint)?

[2017-06-08 16:54] satok16 commented on #10484
Hi Amir,
For the time being, can you tell me command lines which you used to run hexagon SIM?

[2017-06-08 16:55] panyx0718 commented on #10518
@linearhit thanks for reporting the issue.
Do you mean tfprof shows non-deterministic behaior? The code you provided sometimes shows 0 MatMul time, while other times shows >0 MatMul time?

[2017-06-08 16:58] igorbb commented on #6683
Yes it what defines the ckpt variable. I forgot to include it in the snippet

On Jun 8, 2017 18:52, "ebrevdo" <notifications@github.com> wrote:

[2017-06-08 17:02] thavidu commented on #6572
Switching to batch mode seems to get the process Killed (I'm guessing memory?) so i'm looking at the other option- You mentioned you can increase the 'rpc timeout' , how do you do this? I can't seem to find documentation on doing so.

[2017-06-08 17:03] michaelisard commented on #10513
@rmlarsen any suggestions?

[2017-06-08 17:04] gunan commented on #10521
@mrry @guschmue @vit-stepanovs
Any ideas?

[2017-06-08 17:06] michaelisard commented on #10514
Closing as duplicate of #10476, see discussion in #675.

[2017-06-08 17:06] #10514 closed

[2017-06-08 17:07] james-ough commented on #10476
Hey Michael, thanks for your help. I've already tried the method suggested in [#675](https://github.com/tensorflow/tensorflow/issues/675), but it was too slow.

I'm hoping that a map function will be more efficient, but I haven't figured out how to get past the error.

[2017-06-08 17:07] michaelisard commented on #10515
Closing for now, but please reopen if you can't get help on stackoverflow, or this seems to be a real TensorFlow bug.

[2017-06-08 17:07] #10515 closed

[2017-06-08 17:11] michaelisard commented on #10527
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-06-08 17:11] joelteply commented on #9015
This has to do with a lack of support for the current command line tools for OSX. We either need to fix tensorflow or people need to downgrade their command line tools to 8.0 before running bazel

[2017-06-08 17:11] ispirmustafa commented on #10240
if you put your data into numpy or pandas then you can use tf.estimator.inputs.pandas_input_fn or tf.estimators.numpy_input_fn.  Those functions does not put all your data into graph.

[2017-06-08 17:12] gunan commented on #8945
I am worried about 1e-2 or 1e-1 tolerance, which seems too high to me.
It is possible there is a bug with the code on ppc64?

CC @Nayana-ibm who also is working on getting TF to build and run on ppc64 machines. (Big endian in their case, but maybe there is some information that could be shared.)

[2017-06-08 17:12] panyx0718 commented on #10518
@wangsiyu I would be great if you could give me a sample.

[2017-06-08 17:13] michaelisard commented on #10532
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-08 17:13] #10532 closed

[2017-06-08 17:14] andrewharp commented on #10299
@cwhipkey re: selective registration docs.

@Lakedaemon If there are useful ops that you think should be included in the default set please feel free to send a PR adding them. It's our intention for the AAR to be useful for the majority of common models and a stepping stone before developers build their own size-optimized TF library.

[2017-06-08 17:16] albertz commented on #10527
pip install tensorflow-gpu, version TF 1.1, Ubuntu 16.04 Linux.

[2017-06-08 17:16] panyx0718 commented on #10518
@linearhit

Looks like you are running in CPU?
I run the following test for 100 times without failure. Could you give me more information?

  def testGithubIssue10518(self):
    x = tf.random_normal(shape = [1, 1300])
    w = tf.random_normal(shape = [1300, 2*1300])
    y = tf.matmul(x,w)

    with tf.Session(config=tf.ConfigProto(device_count={'GPU': 0, 'CPU': 1}, \
      inter_op_parallelism_thr

[2017-06-08 17:19] michaelisard commented on #10535
Thanks for the report. How are you determining which op is slow? Do you have a [timeline](https://stackoverflow.com/documentation/tensorflow/3850/measure-the-execution-time-of-individual-operations#t=201706081718274193783) for the run?

[2017-06-08 17:25] panyx0718 commented on #10518
Also tried GPU
[code]

[2017-06-08 17:26] andrewharp commented on #10348
@jubjamie Thanks for the details. Sounds like a bug in the device's camera implementation. 3 is obviously an invalid value for [SENSOR_ORIENTATION](https://developer.android.com/reference/android/hardware/camera2/CameraCharacteristics.html#SENSOR_ORIENTATION), so maybe it makes sense to default to the most common setting of 90 when the value % 90 != 0?

However given the undesired squashing and st

[2017-06-08 17:29] mrry commented on #10521
No idea... perhaps @mjanusz (the original author) has some sense of why this code might take a long time to compile, but I don't see any extreme number of template instantiations that might contribute....

[2017-06-08 17:29] andrewharp commented on #3847
@iamblue The app needs to be compiled with API 23+, but you can run it on an API 21+ device.

It is possible to modify it to use the camera 1 API (#8736) and remove the permission checks, in which case you could compile and run it on a lower API level.

[2017-06-08 17:36] gunan commented on #10559
@caisq could you take a look?

[2017-06-08 17:37] gunan commented on #10558
@caisq could you take a look?

[2017-06-08 17:39] gunan commented on #10548
This script is for our Internal CI use only.
Users should never need this script.

But we are slowly moving away from it, too.
Ill let @av8ramit evaluate whether it is worth fixing the script, or waiting for it to be deleted completely.

[2017-06-08 17:40] fchollet commented on #10491
For the time being, Keras models should be built with Keras layers, not with TensorFlow layers. We plan on allowing the use of TensorFlow layers in Keras models in the near future, though.

This is not a limitation since all TensorFlow layers are in Keras (albeit the reverse is not true).

[2017-06-08 17:40] #10491 closed

[2017-06-08 17:43] petewarden commented on #10483
The intermediate sizes of the library files on disk don't reflect the size that's added to the binary. The only impact of this file size is on your local drive, it shouldn't affect the size of the application package.

[2017-06-08 17:45] fchollet commented on #10537
I believe the pattern of "one global collection for everything" has been abandoned some time ago, in favor of fewer collections, and generally a move aways from global objects and towards "layers as objects", with kernels/biases/activations being attributes of these objects.

You can retrieve weights and biases from `TRAINABLE_VARIABLES` (they have different names indicating whether they are kerne

[2017-06-08 17:45] #10537 closed

[2017-06-08 17:49] IanKirwan commented on #22
I'm new here. Very interested in seeing TF support OpenCL. How do I get updates from this thread?

[2017-06-08 18:01] yashsharan commented on #9701
Even i had the same issue and i finally understood where i was wrong.
In my case I was using ubuntu and the log folder was stored inside my project directory itself.
So just navigate to the project directory from the terminal and type
tensorboard --logdir=log

[2017-06-08 18:03] lancerts commented on #10240
@ispirmustafa , ok, so the nice thing of input_fn is that we can preprocess the data. In my case, i would like to have categorical variables hashed and embedded, so input_fn can do this easily. But it is not easy just pass in X and y.
Put it simply, if i want to do the something as in deep&wide tutorial, but given a data set say 100GB. I want to train in batch and load only that batch into the gra

[2017-06-08 18:10] RobertCollyer commented on #5036
+1

[2017-06-08 18:16] ispirmustafa commented on #10240
For reading from a large data which is not in-memory, you can check out `tf.contrib.learn.io.read_batch_features` and similar ones.
They work on tf.Examples.

[2017-06-08 18:51] jjough commented on #10476
So could you reopen, please?

[2017-06-08 18:52] james-ough commented on #10476
So could you reopen, please?

[2017-06-08 18:58] ringw commented on #781
It already does accept arbitrary (num_images, height, width, num_channels)
shaped tensors!

On Jun 7, 2017 2:04 AM, "Andrew Hundt" <notifications@github.com> wrote:

Only thing I can think of is an arbitrary channel count, not sure if it is
already there or not. For example, that would be useful for transforming a
one hot encoding when doing image segmentation.

—
You are receiving this because yo

[2017-06-08 18:59] martinwicke commented on #10493
The API docs point to the latest stable release. Fixes to the API docs are reflected the next time that docset is published, or for the default one, whenever the stable version switches.

To change this, we'd have to backport the fix to 1.1, and redeploy the 1.1 docs.

@wolffg FYI -- I know of no plans to redeploy old docs regularly.

[2017-06-08 19:24] ebrevdo commented on #6683
A little stumped right now.  If you import the meta graph, and then
re-export it, do the re-exported metagraph / graphdef change in the
re-exported version?

On Thu, Jun 8, 2017 at 9:59 AM, igorbb <notifications@github.com> wrote:

[2017-06-08 19:37] alextp commented on #675
There is no current plan to accelerate computing jacobians. Even if while loops were fixed to be differentiable you wouldn't get a substantial speedup after graph building time, I think.

[2017-06-08 19:39] jjough commented on #675
Ok, thanks.

On 8 Jun 2017 3:38 p.m., "Alexandre Passos" <notifications@github.com>
wrote:

[2017-06-08 19:42] igorbb commented on #6683
I can try tomorrow when I am back at the office.

But for now I can provide more info :
1 - I have checked if I was loading the righ .meta and .ckpt
2 - Even tried by cleaning the checkpoints folder and starting from zero.  The files were definitely being created/updated.

I found some questions regarding this on stack overflow, But there was no consensus other than saver should work.
Yet I haven'

[2017-06-08 19:57] dr4b commented on #10545
Hey, we have fixed this, but it won't show up in root until Tensorflow 1.2 becomes the default.

Check it out though: https://www.tensorflow.org/versions/r1.2/tutorials/deep_cnn#code_organization

[2017-06-08 19:57] #10545 closed

[2017-06-08 20:07] wenwei202 commented on #834
@amohant4 I am also looking for this. Seems [scatter_update](https://www.tensorflow.org/api_docs/python/tf/scatter_update) may work. My concern is its computation efficiency.

[2017-06-08 20:10] Androbin commented on #10548
I'll just drop the complete list here:

In ./tensorflow/tools/dist_test/scripts/dist_census_widendeep_test.sh line 37:
TIMEOUT=120  # Timeout for MNIST replica sessions

In ./tensorflow/tools/dist_test/scripts/dist_census_widendeep_test.sh line 60:
    SYNC_REPLICAS="1"

In ./tensorflow/tools/dist_test/scripts/dist_mnist_test.sh line 151:
  PS=($PS_HOSTS)

In ./tensorflow/tools/dist_test/local_tes

[2017-06-08 20:13] guschmue commented on #10521
just tried compiling for cpu - true, it takes long.
Trying to isolate this a little: if I take out the call to functor::CuboidConvolution<CPUDevice, T>()(...) its fine. Need to look a little what is behind that.

[2017-06-08 20:16] lancerts commented on #10240
Another thing that bothers me is the following.  m = DNNclassifier(...), and after i trained the model m.fit(), the model is saved. Then i can later restore the model and use new data to train from there. However, i found that the data is accumulated into graph, eventually, i got a cpkt file ~300GB and breaks memory. The question is, how to adjust this? Why after m.fit, the input data as tensor wi

[2017-06-08 20:33] ispirmustafa commented on #10240
your observation says input-fn is doing something wrong.
I would try hard to reuse the input_fns in our library (numpy_input_fn, read_batch_features, ....). Those functions will not have issues you have described.

[2017-06-08 20:46] gwendoline-28 commented on #10154
I haven't installed the nvidia driver yet - it may be the source of the issue indeed (I was looking for tensorflow to work with cpu only first).

[2017-06-08 21:02] laoreja commented on #10535
My program did not give any output, so I made an debug_op_list, and add some debug ops after each layer of the model, like:
[code]
and then do
[code]

The debug_op before this layer runs quickly, and I need to wait for about ten minutes to see the output of the debug_op right after this layer.

[2017-06-08 21:10] Androbin commented on #8897
I tried recompiling and running computing a diff but since the output of `transform_graph` is binary, I wasn't able to extract, exactly which nodes are removed.

[2017-06-08 21:11] jingyibo123 commented on #10033
Same problem here, worked after changing to cuDNN5.1 instead of 6.0.
win10 x64
Python 3.5
Tensorflow-gpu 1.1.0

[2017-06-08 21:11] jingyibo123 commented on #7995
Same problem here, worked after changing to cuDNN5.1 instead of 6.0.
win10 x64
Python 3.5
Tensorflow-gpu 1.1.0

[2017-06-08 21:13] mrry commented on #10154
I think that's almost certainly the source of the error. The `tensorflow-gpu` package requires that you have a CUDA-capable GPU installed (and CUDA and cuDNN on top of that). If you want to work with CPU only, try uninstalling `tensorflow-gpu` and installing the `tensorflow` package instead.

[2017-06-08 21:13] #10154 closed

[2017-06-08 21:25] gwendoline-28 commented on #10154
Many thanks for your help !

[2017-06-08 21:28] ekelsen commented on #8720
This got fixed by the referenced commit.

[2017-06-08 21:28] #8720 closed

[2017-06-08 21:34] lancerts commented on #10240
I'm using tf.train.slice_input_producer and tf.train.batch inside input_fn, and after the model is trained, the data tensor is saved with the model.

[2017-06-08 21:38] ujjwal-researcher opened #10576 "OOM error after some number of steps ( Inputsize remains constant)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Custom Code
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux version 3.10.0-229.11.1.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.3 20140911 (Red Hat 4.8.3-9) (GCC) )
- **TensorFlow installed from (source or binary)**:
Installed from sour

[2017-06-08 21:46] lancerts commented on #10240
For concrete purpose, I'm doing something very similar to this http://blog.mdda.net/ai/2017/02/25/estimator-input-fn

[2017-06-08 21:50] michaelisard commented on #10493
Unfortunately it looks as if this didn't make the 1.2 docs, but it will be fixed in 1.3.

[2017-06-08 21:50] #10493 closed

[2017-06-08 21:51] michaelisard commented on #10576
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-08 21:51] #10576 closed

[2017-06-08 22:08] michaelisard commented on #10535
Could you collect and share a timeline as in the above-referenced instructions? Thanks!

[2017-06-08 22:08] jricheimer commented on #8617
@fchollet, I am also getting this problem, even after wrapping with a Lambda layer. Particularly:

`permuted = Lambda((lambda x: K.permute_dimensions(x, pattern=(0,2,1))))(output)`

When I try to define the model which includes this layer, I get the same error as @ophiry posted above.
Is there any way around this problem?

[2017-06-08 22:37] dtung2008 commented on #10066
I suspect I have similar issue with TF v.1.1.0. So I search internet and find this link.

I have a ubuntu 16.04 run on virtualbox assigned with 2 cores of i7 (somewhat older generation), when running the cifar10 example, it processes about 60 images/second. (2 cores are 100% utilized).

Then I find a windows 10 with full power (4 cores) of i7 latest generation, running the cifar10 again, it still

[2017-06-08 22:57] #10437 closed

[2017-06-08 22:57] adityaatluri commented on #10437
Hi @hawkinsp
Thank you!

[2017-06-08 23:51] guschmue commented on #10521
I tried vs2017 - same thing. There are a bunch of references that excessive use of templates result in slowness and the code behind functor::CuboidConvolution uses a good amount of templates. Let me see if I can find help.

[2017-06-09 01:32] lancerts commented on #7734
Same error here... No idea what happens.

[2017-06-09 02:13] taiwotman commented on #7664
This works:
cell = tf.contrib.rnn.BasicRNNCell(num_units = rnn_size) in current Tensorflow version

[2017-06-09 02:25] lakshayg commented on #10447
Is someone working on this issue? If not then I would like to take this up and add the missing registration.

[2017-06-09 02:30] droidicus opened #10580 "contrib.keras TypeError with HDF5Matrix and validation_split"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.2.0-rc2
- **Bazel version (if compiling from source)**: N/A
- **CUDA/cuDNN version**: v8.

[2017-06-09 03:02] cwhipkey commented on #10447
No one is working on this currently as far as I know, so it would be great if you could take it!  Feel free to take it and add the missing registration (and update the test for the op(s) to include a test of the newly registered type).

[2017-06-09 03:10] JcmeLs opened #10581 "Run quantize_graph error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    OS X EI Caption 10.11.6
- **TensorFlow installed from (source or binary)**:
    binary (pip install)
- **TensorFlow version (use command below)**:
    TensorFlow 1.2.0-rc1 CPU Only
- **Bazel version (i

[2017-06-09 03:31] Yoshiharo commented on #7995
Hello,

ok thanks for the reply and let me try it with your solution on my system.

Thanks & Regards,

RAJAT KUMAR

Technical Trainee

FUJITSU CONSULTING INDIA
 Talwade, Pune
Office: +91-020-2769001

Mobile: + 91 9411292603

Email: Rajat.Kumar@in.fujitsu.com<mailto:Rajat.Kumar@in.fujitsu.com>

Shaping Tomorrow with You

________________________________
From: jingyibo123 <notifications@github.com>

[2017-06-09 04:10] laoreja commented on #10535
Hi, my timeline snapshot is as follows:
![timeline](https://github.com/laoreja/Reimplementation-of-GC-Net/raw/master/timeline.png)

The timeline.json file is located at https://github.com/laoreja/Reimplementation-of-GC-Net/blob/master/timeline.json

[2017-06-09 04:30] datomnurdin opened #10582 "executor.cc:334 Executor failed to create kernel. Invalid argument: NodeDef mentions attr 'Tshape' not in Op"
I got this error message when I used this setting inside TensorFlowImageListener.java

[code]

Error message

[code]

My machine setting

[code]

Please advice. Thank you.

[2017-06-09 05:07] annanay25 commented on #10471
I got this working with
[code]

[2017-06-09 05:07] #10471 closed

[2017-06-09 05:10] annanay25 commented on #10288
Please check #10471.

[2017-06-09 05:10] #10288 closed

[2017-06-09 05:33] xisnu commented on #6683
I ensure the same. I also tried 1 and 2 and they were fine. By the way, I am not using any separate virtual environment for python. So are there anything I can do with with "restart" ?

[2017-06-09 07:25] Scitator commented on #10491
@fchollet

No sure about this. TF have huge variety of RNN Cells and other important stuff (decoders) for seq2seq model, which I personally interested in. Nevertheless Keras is extremely helpful in prototyping feed-forward-like models with it's ConvLSTM2D and other primitives.

PS. For the sake of interest: are there any best practices for TF-Keras seq2seq models other than [these one](https://git

[2017-06-09 07:39] JcmeLs opened #10585 "Run convert_graphdef_memmapped_format fail"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
    OS X EI Caption 10.11.6
- **TensorFlow installed from (source or binary)**:
    binary (pip install)
- **TensorFlow version (use command below)**:
    TensorFlow 1.2.0-rc1 CPU Only
- **Bazel version (i

[2017-06-09 07:48] lakshayg commented on #10580
The provided script runs perfectly fine on linux using tensorflow compiled from source using the code from latest commit but fails when I run using the code from 8 days ago. It seems that the issue has already been fixed. You can try building tensorflow from source.

[2017-06-09 08:08] ecoue commented on #5073
`tf.logging.set_verbosity(tf.logging.WARN)`
This should have the desired effect

[2017-06-09 08:27] fangjufa commented on #9243
@xXDavidHuangXx  is your problem solved?Now I bumped into the same one.Pls tell me your solution if you solved, thanks.

[2017-06-09 08:28] meteorcloudy opened #10587 "TensorFlow is failing on ci.bazel.io with Bazel@HEAD"
http://ci.bazel.io/job/TensorFlow/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/870/console

[code]
The reason is Bazel@HEAD doesn't generate a version number, the new way of version check introduced in 88d648f3beedfa6123efabb756be372f69382983 fails.

Maybe skip the check if the version number is empty? Because this also means users cannot use their custom bazel to build TF unless they add `--embe

[2017-06-09 08:31] padmalcom commented on #1582
The error _ValueError: Cannot feed value of shape (100, 2048) for Tensor 'pool_3/_reshape:0
', which has shape '(1, 2048)'_ still occurs for the current build _#202 (08.06.2017 02:25:00)_ (tensorflow 1.2.0 rc1) on Windows 7.

[2017-06-09 08:48] rajnamitha commented on #9301
@kwotsin I experience error "No op named QuantizedMul", so as you specified I tried upgrading tensorflow to 1.1 version. I am new to TensorFlow, I hope the configuration I select is okay. I need the quantized model for image classifier application (I am not using GPU). When I try to ./configure, I am leaving only default setting without enabling any support like MKL, GPU, CUDA, etc.

I am using th

[2017-06-09 08:56] jubjamie commented on #10348
@andrewharp Not sure i'll get a chance to look at using camera 1 today but reading through that PR it looks like it is incomplete? Do you have any idea if it's at a usable point yet? I'm not a big java person so after going through the commit I couldn't work out if it was suitable yet. Perhaps a ping for @BrianOn99 or @osdamv ??
One concern being that from the comments it appears to remove the red

[2017-06-09 08:56] wielandbrendel opened #10588 "Simplify getting variable by name"
Suppose we created a variable `foo/v`
[code]
To get this variable from its name one currently needs to write two lines:
[code]
Instead, it would be much more intuitive to just write:
[code]

[2017-06-09 09:05] xiezhongzhao commented on #7550
I have the same problem, my version of tensorflow is 1.0.1, I changed the 'pack' into 'stack', but it did't work. I hope you can help me @zhaopku

[2017-06-09 09:32] droidicus commented on #10580
Good to know it has been fixed. Unfortunately I do not have the dev tools for windows set up currently (it is a lot less simple than under Linux, and not currently supported for end users), so I cannot build from source.

Any chance this can be cherrypicked for the v1.2.0 release?

[2017-06-09 09:39] albertz commented on #1419
In case anyone stumbles here because of the `undefined symbol: _ZN6google8protobuf8internal26fixed_address_empty_stringE` error.

I compile my file now by using these additional compiler flags:

[code]

I add the `-rpath` so that it finds the file also when it is being loaded.

[2017-06-09 09:58] Androbin commented on #10588
You can do `v = sess.graph.get_tensor_by_name("foo/v:0")`

[2017-06-09 09:59] DevHossamHassan commented on #37
👍

[2017-06-09 10:11] Androbin commented on #10581
This `quantize_graph` tool is outdated. You may try the new `transform_graph` tool:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#eight-bit-calculations

[2017-06-09 10:11] kwotsin commented on #9301
What platform are you running the device on? You mentioned you tried upgrading the tensorflow version - did you succeed in the end? What is your version of TF now? IMO, I think those operations should come prepackaged with the newer versions of TF, so there shouldn't be anything extra to be built (not very sure about this though).

[2017-06-09 10:16] prannayk opened #10590 "Saving embeddings or output evaluations in parallel to training"
Feature request to create an async embedding saving buffer, which runs on the processor while the code trains on a GPU

The aim would be make sure that training is not affected by saving the model. That anyway takes a single thread, therefore it is a process that is done using an async buffer, it could optimize the training of models.
------------------------

### System information
- Linux Ubuntu

[2017-06-09 10:19] Androbin commented on #10494
The first two section seem correct. The last two seem two be based on the output of the second example.

[2017-06-09 10:27] Androbin commented on #10463
The tutorial references the outdated `quantize_graph` tool which is a bit buggy now.
This should be updated to make use of the new `transform_graph` tool.

[2017-06-09 10:29] linearhit commented on #10518
Do you mean tfprof shows non-deterministic behaior? The code you provided sometimes shows 0 MatMul time, while other times shows >0 MatMul time?

@panyx0718 , yes, this is what i observed.
With half the probability it reports 0us.  I'm running it on CPU.
Please let me know what else information do you need, thanks.

[2017-06-09 10:33] stefanofiorentino commented on #9071
hope this help someone pulling out from the mud:
`
$> ldd ./1_Utilities/deviceQueryDrv/deviceQueryDrv
	linux-vdso.so.1 =>  (0x00007ffdedbe3000)
	libcuda.so.1 => /usr/lib/x86_64-linux-gnu/libcuda.so.1 (0x00007fd94f3d9000)
	librt.so.1 => /lib/x86_64-linux-gnu/librt.so.1 (0x00007fd94f1d1000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007fd94efb3000)
	libdl.so.2 => /lib/x86_64-linu

[2017-06-09 10:49] rajnamitha commented on #9301
I am running on Mac. I have Tensorflow verison 1.1, the upgrade was successful. after that I did "bazel build tensorflow/tools/graph_transforms:all" and did the transform_graph operation using :

bazel-bin/tensorflow/tools/graph_transforms/transform_graph \
--in_graph=./frozen_model_inception_resnet_v2.pb \
--out_graph=./quantized_weights_and_nodes_inception_resnet_v2.pb \
--inputs='Placeholder_on

[2017-06-09 10:51] Androbin commented on #10036
I submitted a PR to clarify things.
Tell me if you think the layout could direct the focus better.

[2017-06-09 10:59] Androbin commented on #9958
Seems to be issue #8698
This is probably a bug in `merge_duplicate_nodes` (called by `quantize_nodes`)
See #8897 for reference

[2017-06-09 11:11] dominikandreas commented on #2603
Any update on this? It seems like a great and obvious improvement to tensorboard

[2017-06-09 11:16] wielandbrendel commented on #10588
@Androbin : that's an interesting option I wasn't aware about! But it might still make sense to simplify the standard tf.get_variable call as suggested above.

[2017-06-09 11:20] albertpumarola commented on #6503
Hi,
Any news?

[2017-06-09 11:23] Androbin commented on #10588
It should be possible to split the name and then place the scope as a hack.
I'll try to submit a PR to do so.

[2017-06-09 11:28] Androbin commented on #10588
Seems like `tf.get_variable` should already do that:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/variable_scope.py#L1069

[2017-06-09 11:29] StevenLShafer opened #10594 "Windows GPU Installation Documentation"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-09 11:30] Androbin commented on #10588
@wielandbrendel Can you confirm that `tf.get_variable` accepts this `name` layout?

[2017-06-09 11:35] wielandbrendel commented on #10588
@Androbin : Sorry, but could you explain in more detail?

[2017-06-09 11:40] Androbin commented on #10588
The documentation suggests that at least one of these should work:
`v = tf.get_variable("foo/v")`
`v = tf.get_variable("foo/v:0")`

[2017-06-09 11:51] wielandbrendel commented on #10588
[code]
throws a ValueError
[code]

[2017-06-09 12:01] deoxyribose commented on #8908
A workaround:
[code]

[2017-06-09 12:15] Pepslee commented on #2169
[code]

[2017-06-09 12:35] jingw222 opened #10596 "Can't import tensorflow 1.2 since last anaconda 4.4 update"
I installed tf 1.2 from source on Ubuntu 16.04, and It worked as it should until I updated anaconda to 4.4 yesterday. It refuses to load and gives me this error:

[code]

Anyone knows what went wrong?

[2017-06-09 13:10] kcyu2014 commented on #6503
Hi, I have composed one gradient function based on Matrix-backpropagation paper. Hope it helps.
[code]

[2017-06-09 13:16] kmyid commented on #6503
@kcyu2014 Why don't you make a PR?

[2017-06-09 14:03] Scitator opened #10597 "tf.estimator generator_input_fn multi thread bug"
I would like to use python generators as input pipeline for tf.estimator's. Finally I found generator_input_fn (announced [here](https://youtu.be/5DknTFbcGVM?t=12m30s)).

Nevertheless, when I start first experiments, I found I bug with learning curve. After some experiments I found the purpose of it - all blows up if you set `num_threads` > 1 in generator_input_fn.

For example, here is loss plot

[2017-06-09 14:18] kcyu2014 commented on #6503
@albertpumarola Sorry I forgot it and now its updated :)

[2017-06-09 14:25] pbanavara commented on #10373
Hey guys, I have been working on TF for about 3 months now and would like to make a contribution. I can spare about 30 minutes every day. Please let me know what is the qualifying criteria for contribution.

Of the suggested approaches, I think the first approach works better, since there are future plans to display more than the current subset of images contained in the tensor, as per the SO thre

[2017-06-09 14:43] osdamv commented on #10348
At the moment the stylized demo and classifier demo are working with the api 1, I am working with the detector right now

[2017-06-09 15:03] amejs commented on #9731
Hello,
I have a question about "AdagradOptimizer", I created a node for the learning rates to be updated but I don't see any change from the initial learning rate.

This is the code for the optimizer within the Trainer object that I'm using

self.learning_rate_node = tf.Variable(learning_rate)
optimizer = tf.train.AdagradOptimizer(learning_rate=learning_rate).minimize(self.net.cost, global_step=gl

[2017-06-09 15:15] droidicus commented on #10580
The fix appears to be this commit to io_utils.py: https://github.com/tensorflow/tensorflow/commit/d21bf7d7502f447e5f967a479282b32b5845ba8b#diff-cffdb24185e822dcdc7ae20dcc4c7879

[2017-06-09 15:25] Scitator opened #10599 "Pretrain NLP embeddings"
I found a lot of pretrain CNN models in `tf.contrib.keras.applications`. Nevertheless, for NLP researchers there is no even well-know GoogleNews word2vec vectors or Glove, or...something.

Is it possible to add functionality for simplified embedding download and future usage? Some official `maybe_download_google_news_w2v` or something like that.

[2017-06-09 15:30] girving commented on #10216
Hmm, pretty annoying that `max_pool_with_argmax` is GPU only. :/

[2017-06-09 15:41] girving commented on #10216
Fixing the documentation now.  I agree this is a conceptual bug, but I am too frightened to fix it since it could easily cause crashes.

[2017-06-09 15:43] ebrevdo commented on #9962
I believe this has been fixed in TF 1.2rc2 ([here](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/seq2seq/python/ops/attention_wrapper.py#L76)).

[2017-06-09 15:43] #9962 closed

[2017-06-09 16:03] girving commented on #10599
This is outside the scope of TensorFlow Github issues, which are about bugs or feature requests to the core library.

[2017-06-09 16:03] #10599 closed

[2017-06-09 16:25] edgimar opened #10602 "TensorBoard: enable text-selection (for copy/paste) of tf.summary.text items"
The way tensorboard is currently implemented seems to prevent one from selecting (in a web browser) the text of tf.summary.text summaries.  It would be nice if it were possible to copy/paste such text.

[2017-06-09 16:33] girving commented on #10597
Unfortunately, I think we would need more information to have a sense where the problem is.  Learning curves that explode are often subtle machine learning issues, not bugs in TensorFlow.  It's entirely possible that it is a bug, though.  Could you do some more debugging to try to narrow down the cause?

[2017-06-09 16:33] girving commented on #10602
@dandelionmane Do you know what the problem might be?

[2017-06-09 16:41] girving commented on #10596
@caisq Any ideas?  Not sure if you're the right person to ask.

[2017-06-09 16:42] girving commented on #10594
@mrry Could you take a look?

[2017-06-09 16:44] girving commented on #10590
You should be able to just spawn your own thread and run a saver op there.  I don't think this needs any TensorFlow changes, since multiple `session.run` calls already execute concurrently.

[2017-06-09 16:44] #10590 closed

[2017-06-09 16:46] girving commented on #10588
@wielandbrendel `get_variable` doesn't return old variables unless `reuse=True` in order to prevent subtle bugs.  It seems like the behavior you want is already available either via `reuse=True` or `sess.graph.get_tensor_by_name`.

[2017-06-09 16:46] #10588 closed

[2017-06-09 16:47] girving commented on #10587
@martinwicke Can you take a look?

[2017-06-09 16:48] girving commented on #10585
@andrewharp Can you take a look?  The error does seem inconsistent with the usage information it spits out.

[2017-06-09 16:53] caisq commented on #10596
@jingw222 So you built TensorFlow from source. Could it be that your build environment uses a glibcxx  version that is unavailable in your instal environment?

[2017-06-09 16:54] girving commented on #10582
@asimshankar Any ideas?  The `Reshape` definitely has a `Tshape` attr, and has since 91ce95d497ec2957535b2ce6a965cd8269d723e5 which should precede 1.1.

[2017-06-09 16:58] girving commented on #10581
@petewarden This seems like a bad error message even if the tool is deprecated.  Could you take a look?

[2017-06-09 17:10] asimshankar commented on #10582
@datomnurdin : Could you describe in more detail how you built your Android application - in particular what state the git repository that you built the Android demo from? (The details of the machine are pointing to TensorFlow 1.1 as the version installed for Python, but if I understand correctly, the error you're getting is in the Android sample - I'm wondering what the source of that is).

(FYI

[2017-06-09 18:58] gepolv commented on #3358
I have the same error.
Tensorflow version: 1.1.0

[2017-06-09 19:02] gunan commented on #10587
I am OK with having the version check succeed if the version string returned is empty

[2017-06-09 19:17] nirmalthacker commented on #7951
Hi, firstly thanks for this API, Im very keen on using it. Primarily I am interested in using it to switch between training and validation datasets in the same process.

However I'm confused how one does that in this new paradigm. For instance I see no way to "get an iterator" in the middle of a dataset. As an example here is a piece of code that demonstrates what I'd like to do. Every few steps i

[2017-06-09 19:25] Carmezim commented on #10594
It clearly states cuDNN 5.1 is required for GPU support on Windows.
https://www.tensorflow.org/install/install_windows#requirements_to_run_tensorflow_with_gpu_support

[2017-06-09 19:31] log0ymxm commented on #10020
This looks like it was previously reported in https://github.com/tensorflow/tensorflow/issues/9866

[2017-06-09 19:37] gunan commented on #10020
Closing due to inactivity, and possible duplicate.

[2017-06-09 19:37] #10020 closed

[2017-06-09 19:45] fchollet commented on #10580
This has been fixed previously.

[2017-06-09 19:45] #10580 closed

[2017-06-09 20:26] jasonkriss commented on #7951
@nirmalthacker Every time you run an iterator init op, it restarts the iterator. Take a look at the documentation here [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/data#creating-an-iterator). This approach has the limitations i discussed [here](https://github.com/tensorflow/tensorflow/issues/7951#issuecomment-303909270).

[2017-06-09 20:58] carl-frederick commented on #7308
Hi Allen, I wonder if you could help me with a problem I'm having with the Mandelbrot tuorial.  When the final statement is executed I get:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "<stdin>", line 12, in DisplayFractal
  File "PIL/Image.py", line 1439, in save
    save_handler(self, fp, filename)
  File "PIL/JpegImagePlugin.py", line 471, in _save
    ImageF

[2017-06-09 21:12] allenlavoie commented on #7308
It works for me in IPython.\_\_version\_\_ ==  '5.1.0' (python 3.4.3).

Maybe try saving the image instead of displaying it by replacing:
[code]
With:
[code]

[2017-06-09 21:24] carl-frederick commented on #7308
Thanks, maybe I need to upgrade/install more software. Now I'm getting that encoder jpeg no available.

[2017-06-09 21:26] carl-frederick commented on #7308
If I decided to upgrade to python3 would I need to uninstall tensorflow before re-installing?

[2017-06-09 21:29] allenlavoie commented on #7308
Probably want to move these questions to StackOverflow. I don't think the Python version matters; it's probably IPython.

[2017-06-09 21:32] carl-frederick commented on #7308
Hmm, my IPython version is 5.4.1.  Maybe the tutorial should be upgraded to work with this version, which is probably the latest, at least for my ios.

[2017-06-09 21:38] RylanSchaeffer commented on #8833
`AttributeError: 'DynamicAttentionWrapperState' object has no attribute 'clone'`

@proximacent Do you know why I'm getting this error or how I can fix it?

[2017-06-09 21:42] ppwwyyxx commented on #10338
Last time I checked pytorch is exposing a lot of symbols it shouldn't have exposed. And this very often caused segfaults when used with other libraries.

[2017-06-09 21:47] allenlavoie commented on #7308
I've upgraded my IPython to 5.4.1 and switched to Python 2.7.6 and it works for me either way (saving to a file or as written in the tutorial) on Linux.

By "for my ios", do you mean you're on a Mac? That would in fact be a bug if there's a platform dependency. If so please open a new bug. We may just need to switch it to matplotlib or something. Bonus points if you follow up with a pull request w

[2017-06-09 21:59] RichDubielzig opened #10605 "tensorflow/tools/git script breaks when git repo has packed references"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Not applicable to bug
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Source build
- **TensorFlow version (use command below)**:
tip of tree
- **Bazel version (if compiling from source)**:
0.5.1

[2017-06-09 22:02] alexshirley commented on #8820
I'm also interested, but from the aspect of creating an accelerator and then using the hooks in Tensorflow to access it.

[2017-06-09 22:07] datomnurdin commented on #10582
@asimshankar actually already change the whole demo source code. This is my repository, http://bit.ly/2r44xUk.

TensorFlowImageListener.java

[code]

Please advice.

[2017-06-09 22:15] martinwicke commented on #10587
Agreed. @meteorcloudy do you want to fix the configure script, or @yifeif are you going to do it as part of pythonification?

[2017-06-09 22:28] lancerts commented on #9498
Nice suggestion! This has puzzled me for weeks.
I just asked a question earlier in the stackover flow.

Suppose we set every_n_steps = 100 so the monitor will be called every 100 steps.

Also, suppose the input_fn function for the validation monitor will yield a streaming of data. Let's assume 10 batches.

Case 1: the auc state is reset every time the validation monitor is called, there for, the s

[2017-06-09 22:30] yifeif commented on #10587
yea, but will send a fix for this now to unblock.

[2017-06-09 22:48] nirmalthacker commented on #7951
@jasonkriss , I see - thanks! This is what I have now, and it handles what I wanted. Is this what you meant?

[code]

[2017-06-09 22:58] asimshankar commented on #10582
@datomnurdin : I was looking for more detail on the error message.

Also, it seems you're including some binary files there (e.g., https://github.com/datomnurdin/AndroidTensorFlowBirdExample/tree/master/app/libs/armeabi-v7a)
What is the source of those files?

(The error message suggests that the TensorFlow native code that you're using might be too old - so I'm trying to determine how you got tha

[2017-06-09 23:03] czarina commented on #10515
@jubjamie Hi, thanks for the tip! You were right, the issue is port forwarding related.

To clarify, I am running tensorboard inside docker, and docker is on my AWS EC2 instance.

I've managed to port forward from TB to docker, so I can do `curl http://localhost:6006/` on my EC2 and get the HTML for TB.

However, I've tried to visit http://<IP OF MY EC2>:6006 from my local browser (outside EC2) to

[2017-06-09 23:11] datomnurdin commented on #10582
@asimshankar btw the .so file I compile it myself on my machine using this jni library, https://github.com/datomnurdin/AndroidTensorFlowBirdExample/tree/master/app/src/main/jni.

[2017-06-09 23:23] asimshankar commented on #10582
I'm sorry, I don't quite follow how exactly the shared library came into being - what version of the TensorFlow sources were used, how it was compiled etc. Without that information, it's hard to determine what's going on.

Is it possible for you to use the recommended process mentioned in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/android instead of building your own J

[2017-06-09 23:47] jasonkriss commented on #7951
@nirmalthacker Yep, that's essentially what I meant. Although, at each validation step, I will reinit the validation iterator and run through the full validation dataset. But that's certainly the gist of it.

[2017-06-09 23:54] datomnurdin commented on #10582
I already used your methods to generate **libtensorflow_demo.so** library but it gave same error message.

[2017-06-10 00:30] jingw222 commented on #10596
Yeah, it was built from source and working fine until maybe the anaconda update. I highly suspect it was due to anaconda upgrade some package, because  when I tried to install the package `libstdc++6` the terminal told me `libstdc++6 is already the newest version (5.4.0-6ubuntu1~16.04.4)`. Should I build it again?

[2017-06-10 01:04] jingw222 commented on #10596
The was indeed introduced by anaconda upgrade, cause I had similiar issue with another ML library as well. After lots of searches through the web, I tried `conda install libgcc` a moment ago, and the problem disappeared. My guess is that after I updated anaconda, the `libstdc++6` library somehow didn't get installed in the conda environment. Therefore even though `libstdc++6 is already the newest

[2017-06-10 02:22] qinyuhang commented on #9072
thanks to @BKJackson . I followed your suggestion, not choosing clang as the default compiler for cuda, it worked!

this is my config log

[code]

[2017-06-10 02:27] yaroslavvb commented on #10125
@appierys that's just a link to a file with helper utilities, there no actual implementation of the algorithm there

[2017-06-10 05:31] jonasrauber commented on #10338
So should I report this bug to PyTorch?

Any idea for a workaround? My tests have to import both …

[2017-06-10 05:36] bobye opened #10607 "functional add_n: compose a new (differentiable) op from a list of ops without memory footprint"
### Describe the problem

It is a feature request, and should be very related to the current high memory cost of tensorflow.

In my case, I am building a graph which I should be able to compute gradients. In this graph, I heavily use the `add_n` op which returns a tensor from a list of tensors. I want to remark that this is very inefficient for two reasons:

1. Memory wise, it requires to cache al

[2017-06-10 05:36] lancerts commented on #9498
Also, from tensorflow output,

INFO:tensorflow:Saving dict for global step 39807: accuracy = 0.85421, accuracy/baseline_label_mean = 0.14821, accuracy/threshold_0.500000_mean = 0.85421, **auc = 0.686321**, global_step = 39807, labels/actual_label_mean = 0.14821, labels/prediction_mean = 0.146081, loss = 0.39175, precision/positive_threshold_0.500000_mean = 0.580026, recall/positive_threshold_0.500

[2017-06-10 05:42] lancerts commented on #6727
from tensorflow output,

INFO:tensorflow:Saving dict for global step 39807: accuracy = 0.85421, accuracy/baseline_label_mean = 0.14821, accuracy/threshold_0.500000_mean = 0.85421, auc = 0.686321, global_step = 39807, labels/actual_label_mean = 0.14821, labels/prediction_mean = 0.146081, loss = 0.39175, precision/positive_threshold_0.500000_mean = 0.580026, recall/positive_threshold_0.500000_mean =

[2017-06-10 06:28] bobye commented on #10607
I attached two timelines of the same graph: one in cpu, in which multithreading is doing good, one with some ops in gpu, which has troubles to concurrently multiple ops (due to lack of memory).

<img width="1467" alt="screen shot 2017-06-09 at 4 39 03 pm" src="https://user-images.githubusercontent.com/1040227/27000602-fd16fe10-4d6a-11e7-9e67-5d00d4d87208.png">
<img width="1406" alt="screen shot 20

[2017-06-10 08:00] lakshayg commented on #10071
I see some discussion in jemalloc about moving to CMake (https://github.com/jemalloc/jemalloc/issues/303). I guess they will be upgrading soon.

[2017-06-10 09:17] Yc174 opened #10609 "Reshape cannot infer the missing input size for an empty tensor unless all specified"
I trained faster-rcnn on coco dataset, when iter =11410, it appears a problem:
image: COCO_train2014_000000076146.jpg iter: 11410 / 200000, total loss: 3.3490, rpn_loss_cls: 0.7608, rpn_loss_box: 1.0145, loss_cls: 0.7640, loss_box: 0.8098, lr: 0.001000
speed: 0.327s / iter
2017-06-08 22:59:42.143627: W tensorflow/core/framework/op_kernel.cc:1152] Invalid argument: **Reshape cannot infer the missin

[2017-06-10 09:58] hadaev8 commented on #10382
Fixed by
import os
os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"   # see issue #152
os.environ["CUDA_VISIBLE_DEVICES"]="1"

[2017-06-10 10:30] beniroquai commented on #386
Great work! Now can I finally hack any fft operation on my laptop.
I'm a bit curious. Do you see any chances, that these OPs could eventually be ported to mobile platforms such as Android?

[2017-06-10 10:52] Androbin commented on #386
@beniroquai
As long as they are available for CPU, they can be compiled for Android.
I don't know, if they are in the default op list.
Otherwise you can use selective registration.

[2017-06-10 10:55] jeansely opened #10610 "how can convert pascal voc dataset labels?"
Hi,
how can conversioning  the pascal voc 2012 dataset and the berkely extended version.
has the tensorflow  solution for this  problem. or a link for download with prepossessing annotation.

Thanks.

[2017-06-10 12:02] Netzeband opened #10611 "[1.2.0 rc2] Tensorboard does not show graph on Windows 10"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

I used the following minimal example:
[code]

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**:

I installed the wheel: https://ci.tensorflow.org/job/tf-master-win-gpu-cmake/lastSuccessfulBuild/arti

[2017-06-10 13:57] mateon1 commented on #9469
Hi, I am having this issue on Linux. I am trying to install tensorflow with pypy.
My ./configure has everything default except the python interpreter `/usr/local/bin/pypy`.
When importing I get:
[code]

[2017-06-10 14:07] whatbeg commented on #7408
@Sean-Git I tried that and I get about 84.7% accuracy when train steps = 200, and increase train steps to 800, 1000, or larger, it even can up to 85.5%. so, I think you might check your code and ensure there are no modifications on key code.

[2017-06-10 15:11] lakshayg opened #10612 "Implement components for "Self-normalizing networks""
Hochreiter's group has recently come up with a new dropout technique and activation function in a recent paper (https://arxiv.org/abs/1706.02515). Presented experiments demonstrate that these lead to better learning in standard feed forward networks.

I would like to implement these components in TensorFlow. Creating this issue to gauge the community's interest level in such components. Feedback w

[2017-06-10 15:40] reppolice opened #10613 "Binaries missing from the "frontpage"?"
Hi,

The downloads for the latest RC which link to the ci domain all give me a 404 right now. I understand they may be CI builds that are somewhat superseded, but they cannot possibly be deleted so quickly, without more recent binary, can they?
Thanks!

************************************************************

Please go to Stack Overflow for help and support:

http://stackoverflow.com/question

[2017-06-10 17:18] oranshayer commented on #10066
Anything new on this?

[2017-06-10 17:25] gunan commented on #10613
Which links are you having problems with?
Which frontpage are you mentioning?

[2017-06-10 17:43] ashokbugude opened #10614 "Issue adding external Library (OpenCL)"
Description of the problem / feature request / question:

I am trying to use bazel to build TensorFlow Library. It builds fine.

Additional Feature :
I would like to add OpenCL code in one of the files of TensorFlow. Added all the required code
AND added the following in one of the build files (tensorflow/core/BUILD), considering 'opencl' as the root directory of opencl.

cc_library(
name = "openc

[2017-06-10 17:48] reppolice commented on #10613
https://github.com/tensorflow/tensorflow links to https://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows-gpu,PY=35/lastSuccessfulBuild/artifact/cmake_build/tf_python/dist/tensorflow_gpu-1.2.0rc2-cp35-cp35m-win_amd64.whl , for example. Not sure what to call the content of https://github.com/tensorflow/tensorflow, is there a canonical name better than "frontpage"?

[2017-06-10 18:06] gunan commented on #10613
`www.tensorflow.org` is more commonly referred to as our frontpage, or main page.

Anyway, the issue is caused by release tag update. Looks like we did not have a successful build since the latest release. Once all the build issues are resolved, the links will be back.
When there are issues such as this, you can always click the build history and manually download  a binary from the latest success

[2017-06-10 18:48] reppolice commented on #10613
All right, to my surprise anaconda seems to know where to find them anyway!

[2017-06-10 18:48] #10613 closed

[2017-06-10 19:25] wilderfield commented on #8820
FYI, Xilinx has DNN accelerators now. Currently they are integrated with Caffe. I'm sure tensorflow is on the roadmap.
http://www.datacenterknowledge.com/archives/2016/11/14/xilinx-unleashes-fpga-accelerator-stack-supporting-caffe-openstack/

Sent from my iPhone

[2017-06-10 19:54] yongtang opened #10616 "[feature] Support S3 Filesystem for Tensorflow"
At the moment Tensorflow supports distributed file system implementations such as HDFS or GCS which has been very useful for handling cases in a distributed environment. Both of them utilize Tensorflow's FileSystem C++ interface.

In case Tensorflow is used in AWS, it would be great to have a S3 Filesystem for Tensorflow as well.

We have a preliminary implementation of S3 Filesystem on Tensorflow

[2017-06-10 20:27] wkhemir opened #10617 "nda"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-10 21:29] #10617 closed

[2017-06-10 23:36] Pr0duktiv commented on #8652
I had the same problem and checking the code in the file /lib/python3.5/site-packages/tensorflow/python/client/session.py shows this:
[code]

the error could be avoided with something like this:
[code]

[2017-06-11 00:43] mtakala commented on #8858
A system with two P6000 24GB GPU's just hangs soon after some Tensorflow calculations. No messages in dmesg and syslog. The workstation has >1000 W PSU.

[2017-06-11 01:22] waleedka opened #10618 "crop_and_resize issue with box_index on 1.2rc2"
I use crop_and_resize() in a standard way as such:
[code]

And it works great. Then I tried to train on multiple GPUs, and I got this error:
[code]
I verified that box_index is within the correct range (all zeros in my case because I use one image per batch), and verified that all the other inputs to crop_and_resize() look good. I ended up spending almost two days checking and rechecking every lin

[2017-06-11 01:33] John12341234 opened #10619 "Feature Request: Tensorboard visualization of what parts of a given training image were deemed as 'important' after a inception v3 has been retrained"
After retraining inception v3 on my own image set, I'm running into where any new image that I ask it to recognize, that _shouldn't_ match any of the training categories, is confidently scored as one of the image categories.

For example, if I train it on two types of steering wheels that are exactly the same except one category/type has two buttons on the right. After training has finished, if I

[2017-06-11 02:23] natalielove opened #10620 "How to code this imaging android app from scratch?"
How can I code this imaging android app from scratch?

[2017-06-11 02:23] mmdlearn opened #10621 "when i use bazel to build i got error that no such package '@protobuf"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-11 02:50] ahundt opened #10622 "RecordInput Documentation in API doc site"
[RecordInput is in the tf 1.2 code](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/python/ops/data_flow_ops.py#L1602) but I don't see it in the [tf 1.2 API docs](https://www.tensorflow.org/versions/r1.2/api_docs/python/). Should it be present?

[2017-06-11 02:58] ahundt commented on #10036
Despite the title change, I do still think specifying `algorithm='sequential'` and `algorithm='parallel'` params to `tf.stack()`, then deprecating `tf.parallel_stack()` would be cleaner. The description can of course specify all the useful information currently present in both docstrings, plus `'parallel' is faster for some use cases, but does not support backpropagation`.

Just figured I'd plug t

[2017-06-11 03:04] waleedka opened #10624 "Support multi-processing on tf.py_func"
This would be a great feature to have. The tf.py_func op is very handy for certain custom operations, but when training on multiple GPUs it ends up becoming a bottleneck that slows everything down. One way to get around that is to allow tf.py_fun to run on a different process each time, and by doing so avoid the GIL bottleneck. This could be enabled only when stateful = False, to avoid unintended

[2017-06-11 04:46] ahundt commented on #8787
Notable progress in upstream Keras https://github.com/fchollet/keras/pull/6928 for `model.fit()`. Right now there are a few bugs caught by unit tests so I'd appreciate comments/suggestions.

[2017-06-11 04:59] JcmeLs commented on #10435
@meteorcloudy Thank you very much!!!It can work now!!!

[2017-06-11 06:01] gunan commented on #10435
Closing resolved issue.

[2017-06-11 06:01] #10435 closed

[2017-06-11 06:12] Scitator commented on #10597
First of all, I always use grad clipping to prevent such problem, and come on, it's typical conv net for mnist :)
And secondly, I already done some debugging before reporting an issue:
Different combinations of `queue_capacity`, `num_epochs`, `shuffle` have no affect.
`sparse_softmax_cross_entropy_with_logits` also works correct (I tried with just `softmax_cross_entropy_with_logits` - still have s

[2017-06-11 07:07] asimshankar commented on #10620
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-06-11 07:07] #10620 closed

[2017-06-11 08:46] HhxuTtxs commented on #9966
I have the same question. Can you give me some suggestions?

[2017-06-11 08:54] mehmettan commented on #9071
Solved a similar issue by installing cuda-toolkit with the local file option for ubuntu 16.04. .deb download/install was not working for me.

[2017-06-11 10:26] Caselles commented on #10408
So the use of graph scopes will not prevent this behavior. Is this planned to be solved ?

@Dref360 : Would you have a workaround to clear the operations still in the graph ? I would like **not** to clear all the operations in the graph, but only those that are created within the `with tf.Graph().as_default(), tf.Session() as sess:` block.

[2017-06-11 12:08] philokey commented on #10624
I cann't agree more! I also try to use multi gpu in my project, but I failed because of py_func.

[2017-06-11 12:08] StarRain-L commented on #10483
Thank you for your reply.
The libtensorflow-core.a lib will be linded to my app which will Increase the package size ,so I want to reduce it.   how can I  modify makefile to remove files that I dont need .
![snip20170611_1](https://user-images.githubusercontent.com/8908244/27010878-957f0536-4ee1-11e7-8bdb-3eb9eb4e8d85.png)

[2017-06-11 12:31] BattleCisco commented on #5949
@YuriWerewolf @Carmezim Thank you, I installed 6.0 and wondered why it didn't work, uninstalling 6.0 and installing 5.1 worked for me.

Thanks for the help, stay awesome 👍

[2017-06-11 12:46] mmdlearn opened #10631 "i get an error when i build tensorflow by bazel on windows"
PS C:\WINDOWS\system32> cd tensorflow
PS C:\WINDOWS\system32\tensorflow> bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --cop
t=-msse4.2 --copt=-msse --copt=-msse2 --copt=-msse3 --copt=-msse4.1 //tensorflow/tools/pip_package:build_pip_package

.....................
ERROR: C:/windows/system32/tensorflow/tensorflow/tools/pip_package/BUILD:27:1: error loading package

[2017-06-11 12:51] mmdlearn commented on #10631
i realy want to know ho to solve this problem

[2017-06-11 12:54] captainst commented on #9701
@dartdog
I have the exact software setup as you did, and exactly the same problem. Have you managed to figureout ? Many thanks.

[2017-06-11 12:58] mulanmom opened #10632 "InvalidArgumentError: You must feed a value for placeholder tensor 'Placeholder_9' with dtype float"
Hi, I'm wondering what is causing this problem seems to be persistent. The data I'm feeding into the graph is indeed float

[code]

[2017-06-11 13:34] CynthiaProtector commented on #9818
I have installed libibverbs-1.1.8 and libibverbs-devel-1.1.8, but I still can't locate the infiniband/verbs.h, any advice?

[2017-06-11 13:51] jubjamie commented on #10483
What Pete is saying is that once your app is built it should compress. It's similar with the android app when you quantise. It shows as full size but once built in it compresses. Try putting it the app and then analysing for size to see if it's compressed as @petewarden suggested.

[2017-06-11 14:12] natalielove opened #10633 "How can I code this android imagery app from scratch?"
How can I code this android imagery app from scratch?

[2017-06-11 14:46] steven-hh-ding commented on #9701
Moving from 1.2.0rc1 to rc2 the problem is gone (windows 10, windows server). No need to specify host name anymore. The `WARNING:tensorflow:Error encountered when serializing LAYER_NAME_UIDS` warning is gone as well.

[2017-06-11 15:22] achainan commented on #9966
Try using `local_resources` for your bagel build commands:
`bazel build tensorflow/python/tools:strip_unused --local_resources 2048,.5,1.0`

[2017-06-11 15:23] shamoya commented on #9818
You should have it in libibverbs-devel (/usr/include/infiniband/verbs.h).
what is the output of: dpkg-query -L libibverbs-dev | grep verbs.h  ?

[2017-06-11 15:41] PKUEcho opened #10634 "Cannot find Eigen source code"
I got confused by the directory structure after I compiled the code.
There are some folders starting with `bazel-`, so what are they?
I want to find where is the source code for Eigen library (e.g., implementation for `extract_image_patches` function) and I want to change some lines inside.
Currently I only found them under `bazel-tensorflow/external/eigen_archive/unsupported/Eigen/CXX11`, but `ba

[2017-06-11 15:42] andrewharp commented on #10633
The Android camera demo in tensorflow/examples/android may be relevant as an example implementation for you.

For further assistance please refer your questions to Stack Overflow as this is neither a bug nor a feature request.

[2017-06-11 15:42] #10633 closed

[2017-06-11 16:10] ashokbugude commented on #10614
The libOpenCL.so was red in color in terminal, which meant it was archived, replaced the file and issue is resolved

[2017-06-11 16:10] #10614 closed

[2017-06-11 16:26] lakshayg commented on #10634
I guess the source code for eigen is automatically downloaded by bazel and not kept in the tensorflow repository. Here is the line you might want to see: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L149. You can try by modifying the eigen and pointing it to your fork of eigen.

[2017-06-11 16:35] lakshayg commented on #10632
Are you sure you are feeding a value into the placeholder? I get this error when I don't feed a value into the placeholder at all. Here is an example which generates an error message similar to yours.

[code]

[2017-06-11 16:40] kalaspuffar commented on #10357
@Spenhouet Well your not alone atleast. I've built tensorflow HEAD, r1.1 and r1.0 with Visual Studio 2015 and 2017. Also tried with Bazel 0.4.5, 0.5.0, 0.5.1 and all of them fail. Tried it on Windows 7 and Windows 10.

[2017-06-11 16:49] lakshayg commented on #434
I would like to work on this issue but it seems that the refactoring is not yet complete. Should I work on a PR or wait?

[2017-06-11 20:40] ProGamerGov commented on #4907
@vilemduha Did you ever get the DeepDream tutorial working with the meta graphs?

[2017-06-11 21:30] liu115 opened #10638 "Might be a bug for contrib.legacy_seq2seq"
Hi,

I am using the embedding_attention_seq2seq with output_projection. The document from https://www.tensorflow.org/api_docs/python/tf/contrib/legacy_seq2seq/embedding_rnn_decoder says,

But the output seems to be the output before projection when I used it. So I go through the source code from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/legacy_seq2seq/python/ops/seq2s

[2017-06-11 21:34] sunsided commented on #10434
I get the same error when building with CUDA 8.0 and cuDNN 5.1.5 on Nvidia Jetson TX1 (ARM) from the `r1.0` branch.

[2017-06-11 23:10] Androbin opened #10640 "Estimator missing `tf.convert_to_tensor`"
#10623 shows, there is `tf.convert_to_tensor` missing somewhere.
@magixsno Could you provide the whole stacktrace, please?

[2017-06-12 01:05] sampepose commented on #781
@ringw I wrote `translations_to_projective_transforms` which acts just as your `angles_to_projective_transforms` but for translations. Also `scales_to_projective_transforms` for scaling. I'll write `translate` and `scale` wrappers and send in a PR later today.

[2017-06-12 01:11] HhxuTtxs commented on #9966
I followed your advice, but there were still the following error
ERROR: /home/fhkj/tensorflow/tensorflow/contrib/verbs/BUILD:104:1: C++ compilation of rule '//tensorflow/contrib/verbs:rdma_rendezvous_mgr' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointe

[2017-06-12 01:21] appierys commented on #10125
@yaroslavvb I do think the file contains the implementation of WN. For example, here is the implementation of weight norm in a fully connected layer: https://github.com/openai/weightnorm/blob/master/tensorflow/nn.py#L166

[2017-06-12 01:34] StarRain-L commented on #10483
Thank you for your reply. What do you mean don't need to change the"makefile",  the binary file that upload  to apple store  will be compressed ?

[2017-06-12 01:51] jkschin commented on #10513
It almost sounds like non-deterministic reductions. See https://github.com/tensorflow/tensorflow/issues/5527.

[2017-06-12 02:16] JerrikEph opened #10641 "bug: BeamSearchDecoder should not assume that when time > 0 beam will be full"
[code]
code start from
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/seq2seq/python/ops/beam_search_decoder.py#L510

Correct me if I am wrong, but I think this code is assuming that, when time > 0 the beam will be full. It is true when the vocabulary is big such as is the case in machine translation. but if the vocabulary is small, the beam might won't be full when time >

[2017-06-12 02:37] StarRain-L commented on #10483
Thank you for your reply. I tried, as you said,the package  is compressed,  an'd  the size of the ibrary files can accept, thank you very much for your answer!!!!!!

[2017-06-12 02:39] JcmeLs commented on #10581
@Androbin  I try.But it have a error.
log:
[code]

[2017-06-12 02:46] zismylove commented on #10611
i had meet this problem too.someone can help?

[2017-06-12 02:53] HhxuTtxs commented on #9966
I solved the problem by following the link below
[](https://github.com/tensorflow/tensorflow/issues/9818)
but there's another error
ERROR: /home/fhkj/tensorflow/tensorflow/python/BUILD:2687:1: Linking of rule '//tensorflow/python:_pywrap_tensorflow_internal.so' failed: link_dynamic_library.sh failed: error executing command external/bazel_tools/tools/cpp/link_dynamic_library.sh no ignored ignored

[2017-06-12 02:53] HhxuTtxs commented on #9966
https://github.com/tensorflow/tensorflow/issues/9818

[2017-06-12 03:01] ebrevdo commented on #8908
Does this work?

from tensorflow.contrib.distributions.python.ops import bijectors as bijector

On Jun 9, 2017 5:01 AM, "Frans Zdyb" <notifications@github.com> wrote:

[2017-06-12 03:09] phipps553 commented on #10077
@wqj97 @jewdore Your way fix the problem.Thanks a lot!

[2017-06-12 03:09] #10077 closed

[2017-06-12 03:14] ebrevdo commented on #10479
This is probably caused by the peephole parameter variables being vectors,
a limitation of the orthogonal initializer not knowing whether to treat
these as row or column vectors.

On Jun 8, 2017 8:39 AM, "Michael Isard" <notifications@github.com> wrote:

[2017-06-12 03:18] DjangoPeng opened #10642 "[1.1.0-gpu image] Can't open shared object file libcuda.so.1"
#### Version info
GPU: Nvidia K40 and K80
Docker : 1.12.6
Image tag: 1.1.0-gpu and latest-gpu
#### Reproduce
I pulled the [tensorflow/tensorflow:1.1.0-gpu](https://hub.docker.com/r/tensorflow/tensorflow/tags/) docker image and I got the error as below when I started to run it:
[code]

[2017-06-12 05:39] mmdlearn commented on #10631
i installed the patch tool on my meachine ，but then，get this error
----------------------------------
ERROR: C:/windows/system32/tensorflow/tensorflow/tools/pip_package/BUILD:27:1: error loading package 'tensorflow/core':
Encountered error while reading extension file 'protobuf.bzl': no such package '@protobuf//': Traceback (most recent cal
l last):
        File "C:/windows/system32/tensorflow/ten

[2017-06-12 06:07] penguin1214 opened #10644 "TFRecordWriter.flush() for Python bundle?"
TFRecords.Writer seems to take up too much memory when dealing with large dateset and may cause out-of-memory issue.

Also, the `.TFRecords` file seems not appendable right now, so it's pretty hard to write large dataset to a single `.TFRecords` file at one run.

`Flush()` is available on the C++ side in tensorflow::core::lib::io::RecordWriter but is not exposed in the Python bindings. Is it possi

[2017-06-12 06:08] JcmeLs commented on #10581
It can't work!Thanks.

[2017-06-12 06:08] #10581 closed

[2017-06-12 06:33] xzy256 commented on #9998
Hi @skye I want to have a look at tensorflow performance at my platform. How should i do?

[2017-06-12 06:49] HhxuTtxs commented on #9966
Thanks  very much! I have solved the problem by installing libibverbs-dev.
    sudo apt-get update
    sudo apt-get install libibverbs-dev

[2017-06-12 08:14] santle commented on #10458
I am waiting to see a reply.

[2017-06-12 08:17] Netzeband commented on #10611
@zismylove
Do you use exactly the same version of tensorflow like I did?
Are you also working on Windows?

Maybe this information is helpful for the devs.

Furthermore there are new nightly builds available:
https://ci.tensorflow.org/job/tf-master-win-gpu-cmake/ (698)
Maybe this will work? I did not try so far...

[2017-06-12 08:20] StevenLShafer commented on #10594
Thank you for the prompt response. I agree - the document states clearly the requirement for cuDNN5.1.

If I may offer a suggestion, it would be helpful to add the comment "Tensorflow is compiled for a specific version of cuDNN, which may not be the most recent release from nVidia, and may not be upwardly compatible with the most recent release. TensorFlow 1.1 requires cuDNN 5.1. Versions 1.3 forw

[2017-06-12 08:35] CynthiaProtector commented on #9818
I installed the libibverbs-devel-1.1.8 from the local repo before, and problem solved after downloading another version of libibverbs-devel from the Internet. Thank you!!

[2017-06-12 08:39] FedericoMuciaccia commented on #956
@YuanmanLi here are two ways to possibly implement this. the first one is way simpler, faster and memory efficient:

[code]

the second one is more complex, and slower, because it requires a lot of calculations. but here the padding is done via matrix multiplication (with fixed auxiliary matrices), so in principle I think that this implementation could be used to exploit end-to-end differentiation

[2017-06-12 08:59] zhedongzheng commented on #10213
thanks @wangyaobupt  for wonderful suggestion, it works.

[2017-06-12 09:00] mandemeskel commented on #10458
Running into the same error, by any chance did you change the `INPUT_SIZE`, `IMAGE_MEAN`, and `IMAGE_STD`?

[2017-06-12 09:05] rodburns commented on #10614
I'm not sure entirely what you are trying to do, but are you aware of the OpenCL implementation effort discussed [here,](https://github.com/tensorflow/tensorflow/issues/22) with instructions on how to try it out [here](https://www.codeplay.com/products/computesuite/computecpp/guides/how-to-setup-tensorflow-with-computecpp)

[2017-06-12 09:07] baodingge commented on #10492
def distorted_inputs(filenames, batch_size, imagesize, img_channel):

	filename_queue = tf.train.string_input_producer(filenames)
	reader = tf.TFRecordReader()
	_, serialized_example = reader.read(filename_queue)

	features = tf.parse_single_example(serialized_example, features={
				'abs_path': tf.FixedLenFeature([], tf.string),
				'height':tf.FixedLenFeature([], tf.int64),
				'width' :tf.Fixed

[2017-06-12 09:10] mynameisguy commented on #10155
@honkentuber
I'm trying to do as you suggested, but when I call init_from_checkpoint from my model_fn it somehow mess the init operation...
I'm getting:
`RuntimeError: Init operations did not make model ready for local_init.  Init op: group_deps, init fn: None, error: Variables not initialized: ...`

the trained model_dir is different then the old one, but both options didn't work for me.
any sugg

[2017-06-12 09:15] mynameisguy commented on #10155
as suggested here: https://stackoverflow.com/questions/43336553/how-to-use-tf-train-monitoredtrainingsession-to-restore-only-certain-variables

I edited prepare_session function (just commented out: `# if not is_loaded_from_checkpoint:`)
and now it works. I assume it can have bad effect in other scenarios but right now it looks like a bug

[2017-06-12 09:33] baodingge opened #10645 "The official code about:Reading data from Tfrecord file, I do not this it is a good way.Because it do not real random shuffle data, any one have a better way, and how to sample data with tfrecord file."
tensorflow official code about read data from tfrecord like this:
1. creat a shuffle file queue
2. several thread read data from file that dequeue from file queue(The reader will read data from the file until the file is empty, and then the file queue dequeue a new file)
3. put the data read by the reader to a randomshufflequeue, to make a batch data for training or testing.(this way likes one peo

[2017-06-12 09:38] jubjamie commented on #8858
Do you have any example code? I dont mind trying to run it (although I only have one GPU). If this is happening with all Tensorflow code then it would seem to be your workstation. Odd that nothing shows up in dmesg and syslog.

[2017-06-12 09:50] lgalke commented on #7778
[Single Instruction Multiple Data](https://www.kernel.org/pub/linux/kernel/people/geoff/cell/ps3-linux-docs/CellProgrammingTutorial/BasicsOfSIMDProgramming.html) make sense when you perform vector computations on the CPU.  Thanks for the build-command examples.

[2017-06-12 10:22] jubjamie commented on #10483
You're welcome. But thank @petewarden for his helpful comment that I totally forgot! Embarrassing as I only went through a similar phase of my project not too recently. If this is solved please close the issue. Good luck with your project!

[2017-06-12 10:28] jubjamie opened #10646 "Clarify Installation Docs for Windows (32-bit)"
Quick feature/docs request. I've noticed a few people on Stack Overflow asking about running Tensorflow on 32-bit machines. I'm aware that some people have had some success as described by @mrry 's post here:

[S/O: "TensorFlow on 32-bit Linux?"](https://stackoverflow.com/a/33635450/7604321)

One example of a confused user trying to use Windows:

[S/O: "how to install tensorflow for windows 7 32bi

[2017-06-12 11:54] tpatel0409 commented on #2514
Hi,
So any1 found a way to use tf.train.maybe_batch() appropriately ?
I am not finding out ways to switch between train/test data queues while training or eval phase.

Thanks

[2017-06-12 12:15] Blockost commented on #6996
Hi,

Have tutorials on the new seq2seq API been released yet?

Thanks!

[2017-06-12 12:23] dycasxe101 opened #10647 "SyntaxError: invalid syntax when import tensorflow-gpu as tf"
hiiiii,,,,
iam newbie in tensorflow, i have followed tutorial from https://www.tensorflow.org/versions/r0.12/get_started/os_setup#using_conda. Every step that i take,  no error,

but when import tensorflow, it's appears error, like this

  File "<stdin>", line 1
    import tensorflow-gpu as tf
                     ^
SyntaxError: invalid syntax

please help me

[2017-06-12 12:43] zismylove commented on #10611
@Netzeband
no,it don't work.

[2017-06-12 12:46] Androbin commented on #10581
@JcmeLs Seems to be a whitespace issue.
Just try removing the whitespace around the assign.

[2017-06-12 13:28] hgffly commented on #10492
baodingge, thanks for response so much.
After reading and trying your codes, I just found what's the problem with my codes,
My modified codes are listed as below:

    def read_and_decode(filename, img_size=-1, distorted=True, get_float_img=True):

    filename_queue = tf.train.string_input_producer([filename])  # specifying parameter "num_epochs" would raised an error, which I don't know how to r

[2017-06-12 13:29] freakanth opened #10648 "Segmentation Fault (core dumped) on exit from unit test that imports `tf.contrib.rnn`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.0.0
- **Bazel version (if compiling from source)**: 0.4.4
- **CUDA/cuDNN version**

[2017-06-12 13:47] baodingge commented on #10492
# specifying parameter "num_epochs" would raised an error, which I don't know how to resolve yet
this question is not so difficult, I know the answer is quite.when you use num_epoch explicitly, string_input_producer will creat a variable. So you have to use tf.local_variables_initializer() alone.
Or use init_op = tf.group(tf.global_variables_initializer(), tf.local_variables_initializer()).
this m

[2017-06-12 13:49] brunoalr opened #10649 "Implement architecture-independent fallback in tensorflow/workspace.bzl"
Archictecture-dependent binaries such as `nodejs` limits portability to different targets (namely, I'm interested in Tensorflow ppc64le builds). I tried replacing x64 binaries with ppc64 in the cached dirs and managed to compile Tensorflow (see https://github.com/tensorflow/tensorflow/issues/10306).

This issue is similar to https://github.com/bazelbuild/rules_closure/issues/207.

[2017-06-12 13:50] artcg opened #10650 "tf.reshape does not take tf.Dimension as argument"
Minimal code to reproduce

[code]

Gives stack trace:

[code]

The reason this would be useful to allow is because when you access tensor shapes (with, e.g. ```t.shape```) you get it in tf.Dimension so if you want to assign relative to the current shape then you don't need to convert to int

If there is some reason why tensorflow doesn't allow this behaviour than I think at least the stack trace s

[2017-06-12 13:52] artcg commented on #10647
The package on pypi is called tensorflow-gpu but you just import it with "tensorflow"

so...

```import tensorflow as tf```

[2017-06-12 13:56] baodingge commented on #8803
that is easy, using tf.train.string_input_producer(filename_list)
look at tensorflow official document about read data

[2017-06-12 14:09] lissyx commented on #7162
@wodesuck Experimenting with your fixed, I spotted that even models without a RNN layer (actually we do use `tf.nn.bidirectional_dynamic_rnn()`) do not report the same inference time. From the benchmark I could run locally, I identified, on our mozilla/DeepSpeech model nuking the bidirectionnal dynamic layers:
 - model 8-bitized with transform tool without any change shows inference time ~ 0.8secs

[2017-06-12 14:23] Netzeband commented on #10611
@zismylove Thanks for testing.

[2017-06-12 14:23] mahnunchik commented on #5007
Any news?

[2017-06-12 14:23] mulanmom commented on #10632
Thanks, lakshayg for sharing an example.  I recheck and think I do feed the relevant values into the placeholders, I'm not very sure though. Below is my graph and 2 feed_dict. For the same placeholders, _self.optimizer.run_ feed_dict works well. But _not _summary_str = self.session.run(merged_summary_op__

Here is a snapshot of my codes:

[code]

[2017-06-12 14:54] lakshayg commented on #10632
I am not very familiar with summary writer but what I suggest is that you try to identify which of the placeholders is "Placeholder_9" and try feeding in some value for it.

[2017-06-12 14:55] skye commented on #9998
Here are some benchmarks we performed along with the methodology: https://www.tensorflow.org/performance/benchmarks

[2017-06-12 15:04] Bardeux opened #10651 "Different results using tf.train.batch and tf.train.shuffle_batch"
### System information
- **Custom code**:
Yes
- **OS Platform and Distribution**:
Linux Ubuntu 16.04
- **TensorFlow installed from**:
binary
- **TensorFlow version (use command below)**:
v1.1.0-rc0-61-g1ec6ed5
- **CUDA/cuDNN version**:
CUDA 8 and cuDNN 5.1
- **GPU model and memory**:
GTX Titan X (Maxwell) with 12GB of RAM

Hello,

I am currently working on sequential data with variable length and

[2017-06-12 15:15] wodesuck commented on #7162
@lissyx Maybe the control inputs slow down the model. Actually, only for those nodes within a while loop (e.g. nodes in dynamic_rnn), it is necessary to add control inputs when quantizing them.

Personally, I add it iff the node name contain "/rnn/while/". This is a simple method but work for my model 😥, I think you can try it too. And I expect someone prove a more precise way to identify nodes in

[2017-06-12 15:23] lissyx commented on #7162
Thanks @wodesuck ! When you say that you add it if and only if the name contains `/rnn/while/`, I'm unsure about something: are you referring to transformation applied by `transform_graph` ? If so, it means you changed the code from your PR to limit the scope to control loops ?

[2017-06-12 15:26] olyaromanyuk opened #10652 "Undocumented change in sharing variables from version 1.0 to 1.1"
### System information
- **Custom code, a minimal reproducible example provided below**:
- **Linux Ubuntu 14.04**:
- **TensorFlow installed from binary using pip**:
- **TensorFlow version 1.0.1 and 1.1.0**:
- **CUDA 8.0/cuDNN 5.1**:
- **GeForce GTX 1080**:

### Problem
Variable scopes and sharing works different in versions 1.0.1 and 1.1.0. I try to enter a non-reusing variable scope after executi

[2017-06-12 15:30] dycasxe101 commented on #10647
thank u somemuch @artcg :) 👍 👍 👍 thanks for everything 👍

[2017-06-12 15:30] #10647 closed

[2017-06-12 15:33] yaroslavvb commented on #10125
@appierys that indeed looks like one of the formulas, but some other ones are missing. (ie, equation for updating the step length parameter)

[2017-06-12 15:43] mahnunchik commented on #9620
Any news?

[2017-06-12 15:53] girving commented on #10594
@StevenLShafer: Thank you for the lovely tone!  I'll make a PR with your language.

[2017-06-12 15:56] ebrevdo commented on #6996
No, we are preparing them and it's likely they will be released around the
same time as tf 1.2 final, since they rely on it.

On Jun 12, 2017 5:15 AM, "Simon ESPIGOLÉ" <notifications@github.com> wrote:

[2017-06-12 16:05] girving commented on #10597
@martinwicke Want to investigate?  I am unfamiliar with possible `tf.learn` threading issues.

[2017-06-12 16:08] johndpope commented on #10468
fyi - https://github.com/hwchong/MNIST_DRAW

[2017-06-12 16:15] AlexBinder opened #10654 "build from sources on amazon EC2 failed, external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-06-12 16:16] songkuixi commented on #10468
Does your tool support transformation from TensorFlow Inception v3 Model to CoreML Model? @johndpope

[2017-06-12 16:23] mebersole opened #10655 "Feature Request: Add an optional command-line argument for a prefix URL"
Would like to add a command-line argument that allows TensorBoard to run at a different URL location than the root domain.  So for example:
* command-line: `--base_url runhere`
* URL location: `http://<address>:6006/runhere/`

Motivation for request: There are locations where only minimal ports are open and it would be great to use nginx (or similar) to route TensorBoard through port 80.

[2017-06-12 16:28] tatatodd commented on #10498
After browsing some of the code history, it looks like the current behavior was an explicit implementation choice made back in Nov 2015.

Here's the git commit that brought it in:
https://github.com/tensorflow/tensorflow/commit/d50565b35e886e7c3a201ea2f088790ed4b28de4

For reference, the internal tracking ID is cl/107710311 and the description is:
[code]

@dave-andersen and @mrry were involved in

[2017-06-12 16:29] martinwicke commented on #10597
This is a bug in generator_input_fn -- I just looked and if I read it correctly, it makes a generator per thread (each thread calls the generator function passed to generator_input_fn).

If you'd like to fix that, we'd welcome a fix (although it looks non-trivial). Even a doc fix would be welcome.

The alternative is to write your generator to not use global state (in your case, `data_src.next_bat

[2017-06-12 16:35] taion commented on #10498
To clarify, I think it's absolutely correct that TensorFlow logging is scoped under `tensorflow`. If anything, a more common pattern in Python libraries is for loggers to be scoped to each individual module, as this exposes more control over customizing log level on a more granular basis.

What's suboptimal here is that the logger both has a handler _and_ propagates. This means that if I follow st

[2017-06-12 16:36] Carmezim commented on #10594
@girving the improvement is definitely clearer and better conveying the requirements, certainly becoming of more help to future users, although "to the **specified** versions" wasn't ambiguous as they were explicitly mentioned, but in fact it left space for users to infer otherwise if they didn't take it strictly now that you put it that way.

[2017-06-12 16:45] girving commented on #10594
If you say, "If your number is `< x`, change to `x`", it means "The number should be `>= x`" in common language.  The current text is like saying, "No small dogs allowed" and being surprised when someone arrives with a large dog.

[2017-06-12 17:02] RylanSchaeffer commented on #8833
For anyone else coming along, I think I found the problem*. @ebrevdo 's comments are based on TensorFlow 1.2, not TensorFlow 1.1, so if you want to solve this problem, you'll need to switch. Then, you'll want to replace DynamicAttentionWrapper with AttentionWrapper.

*if I'm wrong, anyone can feel free to correct me.

[2017-06-12 17:04] #10587 closed

[2017-06-12 17:11] proximacent commented on #8833
@RylanSchaeffer , yes that's correct. At the time, ebrevdo's code was pre 1.2 but post 1.1. In the 1.2 release, some other naming has changed as well. For example AttentionWrapper's `attention_size` is now `attention_layer_size`. If you are using my above code, check the [AttentionWrapper page](https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/seq2seq/AttentionWrapper) for the

[2017-06-12 17:17] x86vk opened #10656 "Ignoring visible gpu device"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux with linux kernel version 4.11
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.2.0-rc2
- **Bazel version (if compiling from source)**:0.5.0-1

[2017-06-12 17:23] mrry commented on #10498
I think we'd welcome contributions to fix this!

[2017-06-12 17:32] RylanSchaeffer commented on #8833
@proximacent , I'm running into a new problem. Can I email you? There's not much (up-to-date) material online, and it sounds like you're already done something similar to what I'm working on.

[2017-06-12 17:35] RylanSchaeffer commented on #8833
My problem is that inside somewhere inside my decoder, the following line produces this error: TypeError: 'Tensor' object is not iterable.

`c, h = state`

I've stepped through my code, and the failure seems to be generated after a number of calls to

`outputs = self.call(inputs, *args, **kwargs)`

inside the Layer base class.

[2017-06-12 17:50] asimshankar commented on #10582
@datomnurdin : Detailed instructions to reproduce the problem would help, I'm having trouble doing so. That said, it does seem your code is based on a very old version of the demo (`TensorFlowImageListener.java` was removed in November last year, before TensorFlow 1.0 - https://github.com/tensorflow/tensorflow/commit/4930f42dde4c02e034eccd66500a0ddede7ae499) - please try with an updated version.

[2017-06-12 17:50] fchollet commented on #10408
The solution is to make learning phases part of a graph collection, I believe. Potentially the same may also be true of layer name UIDs, which also keeps graph references.

Last time we tried this it caused a useless warning upon graph serialization which annoyed/scared users. We will also have to figure out how to remove that warning.

[2017-06-12 17:51] proximacent commented on #8833
@RylanSchaeffer, what's `state`, what is the output of `type(state)`? If I had to guess, maybe you changed from LSTM cell to GRU. Some functions, like tf.nn.dynamic_rnn, return a pair of (output, state), where `state` is LSTMStateTuple if you are using an LSTM cell, (which have `c` and `h`), but a Tensor if using a GRU cell.

[2017-06-12 17:51] danijar commented on #2514
There is a solution using `tf.FIFOQueue.from_list()`:

[code]

[2017-06-12 17:54] dandelionmane commented on #10611
@Netzeband Can you show us what messages (if any) are printed to the console in Chrome/Windows?

[2017-06-12 17:59] dandelionmane commented on #2603
Supporting streaming isn't currently on the agenda, so no ETA.
Pinging @jart to take a look.

[2017-06-12 18:05] Caselles commented on #10408
Ok thank you. Would you have a workaround for now ? In order to clear only the operations within the `with tf.Graph().as_default(), tf.Session() as sess:` block.

[2017-06-12 18:10] fchollet commented on #10408
Add `K.clear_session()` at the end of your block (inside the block).

[2017-06-12 18:53] martinwicke commented on #9498
All the metrics are streaming, which is why we removed the name. The non-streaming use case is typically trivial to implement (see @sguada's example). It is also almost entirely useless if you use these in evaluation, since you're almost never interested in a single batch result.

@lancerts, the ValidationMonitor will start a completely new evaluation each time, which should reset the state.

I wi

[2017-06-12 18:53] #9498 closed

[2017-06-12 18:59] sjperkins commented on #10624
Unfortunately, multiprocessing's `fork` does not play nicely with tensorflow's threads (https://github.com/tensorflow/tensorflow/issues/5448) or threads in general (http://www.linuxprogrammingblog.com/threads-and-fork-think-twice-before-using-them)

[2017-06-12 19:17] yongtang commented on #8718
Added a PR #10658 for that.

[2017-06-12 19:47] adakum opened #10659 "seq2seq.dynamic_rnn_decoder not working for multilayered encoder in TF 1.0"
I am trying to implement **Multilayer Bidirectional Attention based seq2seq** in **TF 1.0** using `**tf.contrib.seq2seq library**`.
[This is my implementation.](https://github.com/adakum/seq2seq/blob/master/seq2seq_model.py)
It works perfectly fine for single layered encoder and decoder but gives error with multi layer.

`Error : "ValueError: Shape must be rank 2 but is rank 4 for 'Decoder/dynamic

[2017-06-12 20:04] Netzeband commented on #10611
@deannalinchen It is simply the message, that no graph data was found:

![nograph](https://user-images.githubusercontent.com/26524132/27052746-fc5e104c-4fba-11e7-8110-0cdc782ea423.PNG)

The strange thing is, that the graph was found by the inspect command.

Thanks for taking care about that issue.

[2017-06-12 20:11] edgimar opened #10661 "tf.train.Scaffold missing global_step attribute"
According to the docstring of `tf.train.Scaffold`, there is a `global_step` attribute with the following description:

* `global_step`: A tensor containing the global step counter.  Picked
    from and stored into the `GLOBAL_STEP` collection in the graph by default.

(see https://github.com/tensorflow/tensorflow/blob/f60b6bdcb59f5538f3301207eabc30c10a9b6d46/tensorflow/python/training/monitored_se

[2017-06-12 20:16] dustinvtran commented on #8908
Yes.

[2017-06-12 20:25] martinwicke commented on #10529
From the `env` man page:

    The env utility uses the PATH environment variable to locate the
    requested utility if the name contains no `/' characters, unless the -P
    option has been specified.

So it appears your PATH is empty, or python is not in the path, but is instead an alias set in your shell.

Either way, this doesn't appear to be a problem with TensorFlow itself. I'll close this i

[2017-06-12 20:25] #10529 closed

[2017-06-12 20:27] martinwicke commented on #10523
Please fill out the template -- with only the information given it is very hard to help you.

It may be that your version of TF is linked against 3.0.0 and remembers this.

[2017-06-12 20:27] #10523 closed

[2017-06-12 20:48] martinwicke commented on #8850
@jamieas, this is an old character RNN demo -- would you be up for adapting it to use your RNN classes?

[2017-06-12 20:56] RylanSchaeffer commented on #8833
It depends on when I evaluate `type(state)`. For the first two times that `c, h = state` is evaluated, state has type `<class 'tensorflow.python.ops.rnn_cell_impl.LSTMStateTuple'>`. Then, (just before my code breaks), state has type `<class 'tensorflow.python.framework.ops.Tensor'>`.

I am using LSTM cells, not GRU cells (specifically `BasicLSTMCell` from `tensorflow.contrib.rnn`). Why and where w

[2017-06-12 21:04] dandelionmane commented on #10611
@Netzeband Can you show a screenshot of the Chrome debugger console output (as found when you use the inspect command), and show a screenshot of what you mean when you say "the graph was found by the inspect command"?

[2017-06-12 21:24] #7855 closed

[2017-06-12 21:59] johndpope commented on #10468
The link above is a vanilla implementation of coremltools Python conversion of Kees's models (with tensorflow backend) if you search inception v3 in Keras and swap in /out code above it should work.

[2017-06-12 22:01] johndpope commented on #10468
Use this instead https://github.com/oktapodi/inception_ios_test?files=1

[2017-06-12 22:10] davidlary opened #10662 "TF_BINARY_URL"
Would be so grateful for some guidance.

Please advise on the appropriate TF_BINARY_URL for compiling Tensor Flow on an Odroid XU4 which uses a Samsung Exynos5422 Cortex™-A15 2Ghz and Cortex™-A7 Octa core CPUs and a Mali-T628 MP6(OpenGL ES 3.1/2.0/1.1 and OpenCL 1.2 Full profile).

Please advise on the TF_BINARY_URL to use for:
Ubuntu/Linux 64-bit, CPU only, Python 2.7
Ubuntu/Linux 64-bit, CPU onl

[2017-06-12 22:25] aselle commented on #10634
@PKUEcho, does @lakshayg's answer solve your problem?

[2017-06-12 22:27] jjhelmus commented on #9216
I've also run into this issue on a `ppc64le` system.

Casting a non-finite float point values (inf, -inf, nan) to an integer is an undefined behavior in C (see section 6.3.1.4 of the C99 standards).  These tests seems to be expecting a specific result from this undefined behavior which is not portable.  The expected result, the largest negative number supported by integer type being cast to, happe

[2017-06-12 22:30] aselle commented on #10662
OpenCL support is currently quite primitive, so there aren't any binaries yet. You'd have to compile from source, and it will likely not be super smooth to use yet. Thanks!

[2017-06-12 22:30] #10662 closed

[2017-06-12 22:31] aselle commented on #10662
See #22

[2017-06-12 22:31] mrry commented on #10609
This error message is returned when you attempt to use `-1` as a "wildcard dimension" in a call to `tf.reshape()`.

For example:

[code]

However, when a tensor is empty (i.e. it has 0 elements), there is more than one possible value for the wildcard to take:

[code]

The only exception to this case is when the wildcard dimension must evaluate to 0. This will be the case if the number of input ele

[2017-06-12 22:31] #10609 closed

[2017-06-12 22:33] aselle commented on #10656
TensorFlow is querying the device for what CUDA version it supports. So, maybe your driver is too old of a version. You also can get it to work by recompiling from source for compute capability 5.0.

[2017-06-12 22:34] aselle commented on #10654
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-06-12 22:34] #10654 closed

[2017-06-12 22:38] zheng-xq commented on #10134
I think there is a bug in your code.

https://gist.github.com/Zardinality/616137e6edc309af57a3cbbb5032d848
output_tensor->Slice(i, i+1) = input_tensor.Slice(i, i+1);

Both on CPU and GPU, this doesn't do anything, it just makes a temporary Tensor relinquish its ownership and points to another Tensor, and be released immediately afterwards.

If you switch to Eigen on GPU, you need to make sure the

[2017-06-12 22:42] andrewjylee commented on #10648
I'm having the same problem - my python code that uses TensorFlow will segfault when the python process terminates. I'm also using TF 1.0.0, but haven't touched any of the source code.

[2017-06-12 22:49] aselle commented on #10646
@wolffg, could you triage this?

[2017-06-12 22:50] zheng-xq commented on #10166
This is somewhat expected as the current design goes. TensorFlow allocates 95% of all the memory upon initialization. Also the initializer copies a const value to GPU, in addition to the actual variable storage, for the actual assignment to happen. That's why can only have slightly less than 1/2 of the GPU memory for a single variable.

[2017-06-12 22:53] aselle commented on #10624
py_func is definitely super useful for quick tests, but it is difficult to make it work well in multithreading contexts. A lot of the problem is due to Python's extremely limiting notion of threading. Nobody is actively working on this right now. @alextp may have more comments.

[2017-06-12 22:56] aselle commented on #10642
Are you using nvidia-docker?

[2017-06-12 22:57] zheng-xq commented on #10439
It is interesting that this script runs much faster on CPU for a build with GPU enabled.

Gunan, are we building the CPU build with different compiler options?

[2017-06-12 23:00] davidlary commented on #10662
Thanks Andrew, appreciate it!

The key part of the question was not so much about the GPU, but how to compile a version of tensor flow NOT using a GPU on the Odroid XU, any pointers please?

Thanks

David

Sent from my iPhone

[2017-06-12 23:19] aselle commented on #10650
Yes, I can reproduce this. @lukaszkaiser can comment further, but reuse in variable scope is one of those things in the API that is somewhat confusing and we have been working on making more consistent.

[2017-06-12 23:23] waleedka commented on #10624
@sjperkins Thanks for the links. If I understand the discussion there correctly, in Python 3.4+ using ```multiprocessing.set_start_method('spawn') ``` gets around the ```fork``` issues. I don't know if there is a way to get the same effect on 2.7, but even if not, having it working on Python 3 is still a big win.

[2017-06-12 23:23] aselle commented on #10662
Perhaps this...
https://forum.odroid.com/viewtopic.php?f=140&t=24385
Also it is probably similar to rasbperry pi or other android builds.

[2017-06-12 23:27] davidlary commented on #10662
Thanks, will take a look, appreciate it!

Sent from my iPhone

[2017-06-12 23:33] domluna opened #10663 "MemoryError when freezing large model"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.2.0-rc2
- **Bazel version (if compiling from source)**: 0.5.1

[2017-06-13 00:55] DjangoPeng commented on #10642
No, I'm running on Kubernetes 1.6.4, and followed this [guide](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/) to schedule GPUs. I installed CUDA 8.0 and copied all shared object files about Nvidia GPU driver. Although, I got new error and the reason is seems like the container needs `/dev/nvidia-uvm`. I'm not sure whether it's an issue on TensorFlow image or Kubernetes.
[code]

[2017-06-13 01:07] lukaszkaiser commented on #10650
Sorry guys, is this the right github id? I don't see how this has anything to do with variables, what am I missing?

[2017-06-13 01:09] oleg-trott commented on #10166
@zheng-xq

This also happens with multiple variables, but not with `int` types or (at least some) other initializers.

One would think that constants would be the easiest to initialize in-place rather than copying them from the CPU and via a GPU temporary.

[2017-06-13 01:23] therc commented on #10642
Is there a libcuda.so.1 in your /usr/lib/nvidia-367 directory? You might have to mess with ldconfig.
I'm not sure how you reached the conclusion that you need nvidia-uvm, but that should be taken care of by the kubelet if you use the gpu resource.

[2017-06-13 01:27] xzy256 commented on #9998
ok. Thank you.

[2017-06-13 01:41] lukaszkaiser commented on #10652
You are absolutely right: in 1.0.1 there was a bug that allowed "False" to override inheritance in a variable scope. We consider this a bug because variable scopes are meant to be nested inside functions and libraries. Imagine you're calling a sub-model defined in a library and you want to reuse all of it. If that model ever called "False" like in 1.0.1, you'd get a very wrong behavior that'd be p

[2017-06-13 01:51] hongjiedai commented on #9976
I use v1.1.0 and meet the similar issue.

Starting TensorBoard b'47' at http://0.0.0.0:6007
(Press CTRL+C to quit)
WARNING:tensorflow:path ../external\data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external\data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external\data/plugin/text/runs not found, sending 404
WARNING:tensorflow:path ../external\data/p