[2021-01-06 22:18] #46186 closed

[2021-01-06 22:20] ymodak commented on #46074
Did you see [action recognition with tf hub using i3d](https://www.tensorflow.org/hub/tutorials/action_recognition_with_tf_hub) tutorial?

[2021-01-06 22:25] AndroidDeveloperLB commented on #46106
@lu-wang-g
There are various online solutions for enhancing images, but they cost money and most of them indeed run on the server instead of locally :
https://www.youtube.com/results?search_query=image+enhance
https://www.google.com/search?q=enhance+image&oq=enhance

I want a free solution, that will run directly on the device, no server needed.
Not sure what you suggest. I offered multiple ways t

[2021-01-06 22:42] ant-pls-dev commented on #45991
Hello, other tickets only mention avx2 and I saw no mention of BMI2 instructions, so I was not sure it was the same issue. If you are confident the commit will also fix the requirement on BMI2, then I'm fine with closing this ticket.
Thank you,
Best regards

[2021-01-06 22:43] ymodak commented on #45904
The gpu docs have been updated commit [b5c78b0](https://github.com/tensorflow/docs/commit/430fe3be375a1f3f6267b86300e1c0f1d79b2b26#diff-db2f8c542d222b663b56e2614d6e42b9531606ded976427355d2c7442d6eee43).
See https://www.tensorflow.org/install/gpu#hardware_requirements
Thanks!

[2021-01-06 22:43] #45904 closed

[2021-01-06 23:31] enyecz commented on #46205
It seems to me that collab don't like pip. If you run pip first to install tensorflow-gpu, you don't get a GPU later, and running by CPU, there is no bug. In that case, you need to wait for the timeout, and your GPU-s come back with TF 2.4.0 (that's why I saw nan at the very same notebook).
Please take a look at the video I did, there I show you the whole case (I pushed yes on restarting the runti

[2021-01-06 23:37] vineel-concat commented on #46227
Was trying to run the model inference during the build which caused the issue. Now able to access GPU

[2021-01-06 23:37] #46227 closed

[2021-01-06 23:49] takayoshi-k opened #46240 "Add Sony Spresense target"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): any
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): master
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Sony Spresense board with Cortex-M4F

**Describe the problem**
To add support for sony spresense board.
Spresense has own d

[2021-01-06 23:50] karimnosseir commented on #46223
Yes this should work without issues.

[2021-01-06 23:54] haozha111 commented on #46061
I took a look at your model, and I think the reason for tensorlist to fail to convert is that, it lacks an element_shape when the model construct the TensorArray. Could you check where in the code the model calls 'tf.TensorArray' and try to pass a element_shape there?

[2021-01-06 23:56] ymodak commented on #45770
I see that the example crashes if executed on cpu with TF 2.4 where as on gpu execution it passes with following output.
[code]

[2021-01-06 23:58] sanjoy commented on #44960
Yes.

[2021-01-07 00:09] ymodak commented on #45632
Closing this issue since it is being addressed on the thread tagged above. Thanks!

[2021-01-07 00:09] #45632 closed

[2021-01-07 00:38] thaink commented on #45981
@hfnvbh Can you provide a code to reproduce this.
I cannot find the model from your link.

[2021-01-07 00:40] sanjoy commented on #45664
In this specific case it looks like the test needs more than 1GB to run.

I don't think we'll be able to change how we run our tests anytime soon.  (We could make spot fixes here and there, but these kinds of things will likely regress over time.)

So I recommend you do two runs, one without GPUs and one with GPUs.  The first one excludes all tests tagged with `gpu` and run with `CUDA_VISIBLE_DEVI

[2021-01-07 01:18] angerson commented on #46062
Just to be clear: what, beyond an environment that is ideal for building TensorFlow, is required for your use case? I've been operating under the assumption that custom-op is somehow unique, but I've never known what about it is helpful.

[2021-01-07 01:37] djoshea opened #46244 "Different results for add_loss() within TimeDistributed for eager vs. compiled execution of keras Layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, included below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): pip binary
- TensorFlow version (use co

[2021-01-07 01:41] jvishnuvardhan commented on #46205
@enyecz Agree with you. I just tried with `TF2.3-gpu`, which results in `nan`.  Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/0a952a327962dd10f7d07ec03c1e0704/untitled599.ipynb)

There is some issue in `TF2.4-gpu` when pip installed in a colab. We will look into the issue. Thanks!

[2021-01-07 01:55] sayakpaul commented on #46061
Thanks for looking into it @haozha111. I don't think passing in an `element_shape` would be possible for this pre-trained model.

[2021-01-07 02:35] hansheng0512 commented on #46209
ok

[2021-01-07 02:35] hansheng0512 commented on #46209
Noted.

The log shown as below:
[code]

[2021-01-07 03:32] HAvOcLiu commented on #44567
Same issue with tf 2.4 and CUDA11.1 CuDNN8.0.5 on GTX1660Ti. I download that cusolver64_10.dll from [https://drive.google.com/uc?id=1-3Yk-QZ1eUta1T40BaxFpO4uyn7BPU4o&export=download](url) and put it in C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.1\bin. Then it works well.

[2021-01-07 03:54] omya3 commented on #37543
Still facing the issue

[2021-01-07 04:09] chrismaliszewski commented on #38725
@ymodak, I don't know why your answer was downvoted since it's correct! It returns the value of a tensor as a string.

The answer to the preliminary question then is:
[code]

[2021-01-07 04:24] multiverse-tf commented on #46170
Acked. Which version (like the date of the binary was built) do you want to download? Such pre-built binaries were only enabled  recently. So, I'm not sure whether we will have the version you'd like to use.

Acked. Could you build (or backport) the benchmark_tool with your repo? Or update the EXTERNAL delegate w/ latest TF repo?

[2021-01-07 04:40] rakeshmothukuru1 commented on #46197
@summa-code,
By incomplete API names, I mean, using **`sequence_numeric_column`** instead of **`tf.feature_column.sequence_numeric_column`**.

I didn't understand your point,

I have provided a detailed [Colab Gist](https://colab.research.google.com/gist/rmothukuru/90002755d1b45f6f94709a9623259d9f/sequencefeatures_error.ipynb) demonstrating the errors.

[2021-01-07 04:41] Saduf2019 commented on #46173
@vidlb
please move this to closed status as resolved.

[2021-01-07 05:08] KarthikDutt commented on #44975
@karimnosseir I tried with the latest nightly and the bug is not fixed. It was fixed in 2.4.0.dev20200905. As I mentioned before, this fix was somehow not propagated to subsequent nightlies.  Is there any way I can still download and build 2.4.0.dev20200905 on my machine? Any other suggestions on how I can bring in this fix until 2.5 release would be much appreciated.

[2021-01-07 05:47] qiuming-93 opened #46245 "tf.keras Model predict slow in flask service"
System info:
tensorflow: 1.12.0
flask: 1.1.2
os: centos7.6
use cpu

problem:
tf.keras Model predict slow in flask service
import the follow code in python console, and run predict method directly， only cost about 800ms time;
but in flask service， run predict methodin an interface, it need about 12s time.

code:
    def __init__(self):
        self.height = 960
        self.width = 960
        self

[2021-01-07 05:56] MaxxTr commented on #45935
@amahendrakar  it's kind of obvious that this path is undefined... this is the path to the model. Do you have one ? ( I assume you should as you are support person and work with all that stuff day to day)

[2021-01-07 06:03] Frank1993 commented on #44037
Hi golden0080, I also encountered this problem, may I know how you solved it? Thanks

[2021-01-07 06:13] KopfKrieg commented on #29704
I was able to build Tensorflow 2.4 for Python 3.5 for the Raspberry Pi 3 using the docker method (and it only took 8 hours...). Unfortunately, Tensorflow 2.4 requires Numpy 1.19.2 or higher, but Numpy dropped Python 3.5 support in the 1.19.x release.

Tl;dr: I think this issue should be closed, because even if you can build Tensorflow, you still can't build the required dependencies. Also, Python

[2021-01-07 06:26] tejaswid commented on #45011
I had to add "**capabilities=compute,utility**" to the **gpus** flag while running the image. I had the same issue for tensorflow-gpu==1.15 custom installed in a docker image. Just like you said, tensorflow-gpu was able to find libcuda outside a docker container, but unable to do so from inside the container.

change the following commad
`docker run --gpus all image_name bash`

to
`docker run --gp

[2021-01-07 06:38] huangyhg commented on #46121
https://raw.githubusercontent.com/vokins/yhosts/master/hosts
solved

[2021-01-07 06:49] Saduf2019 commented on #46209
@hansheng0512
Please refer to this [issue](https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-727666363) and let us know.

Similar issues: #45779, #43761

[2021-01-07 06:54] linchpinlin commented on #45231
l have the same problem./(ㄒoㄒ)/~~

[2021-01-07 07:00] Saduf2019 commented on #46233
@patilaum
Could you check this issue which is similar to your [issue](https://github.com/tensorflow/tensorflow/issues/19266#issuecomment-399686258). If those solutions doesn't work, could you uninstall and reinstall CUDA and cuDNN? Please let us know how it progresses. Also, try to uninstall and reinstall tensorflow-gpu and try following the instructions from [TensorFlow](https://www.tensorflow.or

[2021-01-07 07:05] hansheng0512 commented on #46209
I tried with:
1. `pip uninstall tensorflow-gpu` as my pc just installed tensorflow-gpu
2. `pip cache purge`
3. Deleted tensorflow folders in .../python38/Lib/Site-packages
4. `pip install tensorflow-gpu --no-cache-dir`

But it raise me same error.

[2021-01-07 07:07] hfnvbh commented on #45981
@thaink
[model.tflite.zip](https://github.com/tensorflow/tensorflow/files/5780045/model.tflite.zip)

[code]

[2021-01-07 07:17] KumaTea commented on #46120
Thank you. Tensorflow Lite could be successfully built on the board, and I just want to try if the whole package can be built.

I've found this nice repo [lhelontra/tensorflow-on-arm](https://github.com/lhelontra/tensorflow-on-arm) and successfully cross-compiled a working `whl` of `tensorflow` v2.4.0.

I would conclude this issue as an impossibile trial due to hardware restrictions. Thanks for th

[2021-01-07 07:26] yakovdan commented on #46223
Can you briefly explain how sharing the same DSP between tflite interpreters work?

[2021-01-07 07:28] rmothukuru commented on #46121
@huangyhg,
Closing this issue as it is resolved. Thanks!

[2021-01-07 07:28] #46121 closed

[2021-01-07 07:33] shiyu1994 commented on #43645
Just encountered the same problem when tuning keras model with nni. I observed that the `val_auc[_number]` comes from creating the same model multiple times in one script. The first time we create the model, `val_auc` has no suffix. And each time after the first creation, `val_auc` becomes `val_auc_1`, `val_auc_2`, and so on.

[2021-01-07 07:36] linchpinlin commented on #45231
In your new notebook, you can try the following:
"""
import re
import string

@tf.keras.utils.register_keras_serializable()
def custom_standardization(input_data):
  lowercase = tf.strings.lower(input_data)
  stripped_html = tf.strings.regex_replace(lowercase, '<br />', ' ')
  return tf.strings.regex_replace(stripped_html,
                                  '[%s]' % re.escape(string.punctuation), '

[2021-01-07 07:37] JohnG0024 commented on #46130
I've already quoted the code in the first comment.

[2021-01-07 07:41] hansheng0512 commented on #24828
I tried with:

1. `pip uninstall tensorflow-gpu` as my pc just installed tensorflow-gpu
2. `pip cache purge`
3. Deleted tensorflow folders in .../python38/Lib/Site-packages
4. `pip install tensorflow-gpu --no-cache-dir`

But it raise me same error.

System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WIndows 10 64bit
TensorFlow installed from (source or binary): pip instal

[2021-01-07 07:43] qiuming-93 commented on #46245
I have find the reason, my flask service has an other model based on paddlepaddle, and it predict faster after i remove the other model

[2021-01-07 07:49] abhinavsp0730 commented on #46245
Hy, @qiuming-93  if possible would you please send your whole code and instructions to replicate it. So, that I can test the bottle neck of your issue.
thanks.

[2021-01-07 07:53] abhinavsp0730 commented on #46201
Hy, @rakeshmothukuru1  I found this as a duplicate issue of https://github.com/tensorflow/tensorflow/issues/46203 . Would you please close one of the issue.
Thanks.

[2021-01-07 07:59] jbcaep commented on #45918
@amahendrakar:
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/distribute/multi_worker_with_estimator.ipynb
try: multi_worker_with_estimator.py in TF2.4

[2021-01-07 08:03] Urkchar opened #46247 "Unexpected Events CUDA_ERROR_ILLEGAL_ADDRESS and CUDA_ERROR_LAUNCH_FAILED"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: I have followed this tutorial using my own data. Tutorial: https://stackabuse.com/text-generation-with-python-and-tensorflow-keras/
My data: https://gist.github.com/Urkchar/e01a667c1656e874f918ff92db5b998f
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)*

[2021-01-07 08:10] qiuming-93 commented on #46245
I have find the reason, you can add "from paddleocr import PaddleOCR" at the head of the code to replicate it.
thanks

[2021-01-07 08:13] ravikyram commented on #46125
@riccrdo5

Can we close the issue here and track the issue in [TFjs repo](https://github.com/tensorflow/tfjs/issues/new).Thanks!

[2021-01-07 08:48] dPacc commented on #24828
@hansheng0512 Install TensorFlow GPU on a conda environment and just uninstall the default **cudatoolkit** and **cudnn** that is installed along with it.

**(1)** To remove the cuda

`conda remove --force cudatookit`

**(2)** To remove the cudnn

`conda remove --force cudnn`

[2021-01-07 08:51] mschio commented on #45028
@king398 Hi King, the two lines above solved for me too! Thanks!!

My setup:
tensorflow 2.4.0

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 452.56       Driver Version: 452.56       CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+

Cuda compilation tools, release 11.0, V11.0.221
Build cuda_11.0_

[2021-01-07 09:04] romanovzky commented on #44467
@bhack You said that master (I assume 2.4.0) is compatible with h5py 3.1, but I still have this issue...

[2021-01-07 09:12] vidlb commented on #46173
If you want, but it is not resolved...

[2021-01-07 09:19] ravikyram commented on #46231
@Heron-TP

I have tried in colab with TF Gpu version 2.4 and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/27da033ae8c7012562e226dc5ffcb3a8/untitled601.ipynb).Thanks!

[2021-01-07 09:20] hansheng0512 commented on #24828
Hi,

FYI I'm using pip only, I don't use conda environment as conda environment dont support CUDA 11. I'm using RTX3070

[2021-01-07 09:25] ravikyram commented on #46245
@qiuming-93

Is this still an issue?
If issue still persists please share complete code snippet with proper indentation and supporting files to reproduce the issue in our environment.It helps us in debugging faster. Thanks!

[2021-01-07 09:35] patilaum commented on #46233
@Saduf2019  Uninstalled and installed cuda and cudnn many times now. Have tried all the steps given in those links that you shared but ended up broken packages of NVIDIA. Now I have reinstalled the OS on my system. Could you tell me the precise steps to install tensorflow 2.2.0 and above on ubuntu 20.04 with python 3.8.5?

[2021-01-07 09:48] #45783 closed

[2021-01-07 10:09] dPacc commented on #24828
Okay, I haven't tried it with pip. Goodluck!

[2021-01-07 10:18] bhack commented on #44467
Not in time for 2.4.0 so master from source of nightly TF wheels

[2021-01-07 10:21] rakeshmothukuru1 commented on #46201
@abhinavsp0730,
No, the code present in this issue and #46203 are different corresponding to different APIs.

[2021-01-07 10:28] qiuming-93 commented on #46245
#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @Time    : 2021/1/4 20:05
# @Author  : qiuming

import flask
from tensorflow.python.keras.applications import ResNet50
import tensorflow as tf
import cv2
import numpy as np
import os

os.environ["CUDA_VISIBLE_DEVICES"] = ""

host='0.0.0.0'
# 实例化 flask
app = flask.Flask(__name__)

height = 960
width = 960
channels = 3
model = ResNet50(include_top=Fals

[2021-01-07 10:31] alihasn92 commented on #45231
But why do we need to preprocess the incoming text again? Input for the prediction should be raw!

[2021-01-07 10:33] #46218 closed

[2021-01-07 10:39] wenfengyu commented on #46028
the tensorflow 2.4.0rc4 error of Could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED  already solved by limit gpu memory growth.  but tensorflow 2.4.0rc4 can't use activation='tanh' , it will be no gradient drop in training process. Now I solve this problem by replacing activation='tanh' with a custom tanh function.

[2021-01-07 10:54] iLeW commented on #43623
Hi @Palkos83, I've stumbled upon the same error. I'm on Arch Linux and I've got the error either with **cuda 10.2.89-5 + cudnn 7.6.5.32-4 + tensorflow-cuda 2.2** or **cuda  11.2.0-3 + cudnn 8.0.5.39-1 + tensorflow-cuda 2.4.0-2**.

Nvidia Driver version is 455.45.01.

Have you tried to @Isaac45 suggestion?

[2021-01-07 11:24] TheSentry commented on #36627
@akshayrana30 The is not feasible for us. It would require too much work to extract the TF part of our code and establish the proper inter-process communication, not to mention the impact on processing speed, which is very important in our system.

Right now we mitigated this problem by having no other process on this machine that needs CUDA

[2021-01-07 11:26] MatejHl opened #46248 "Tensorboard callback not logging learning rate when not using LearningRateSchedule (e.g. when using ReduceLROnPlateau)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from

[2021-01-07 11:29] amahendrakar commented on #46230
@za13,
On running the code, I am facing an error stating `KeyError: 'owl'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1847dee6798aa8e191f695c8466dc803/46230.ipynb).

In order to expedite the trouble-shooting process, could you please provide a minimal code snippet along with the dataset you are using. Thanks!

[2021-01-07 11:34] minhduc66532 commented on #46174
Problem solved. This [guy ](https://qengineering.eu/install-tensorflow-2.3.1-on-jetson-nano.html) already built it on Jetpack 4.4 you can just download and use it.
And fun fact Jetpack 4.4 is using CUDA 10.2 and cuDnn 8.0. But anyway thank you for answering all of my question, really appreciated it. Have a great day

[2021-01-07 11:34] #46174 closed

[2021-01-07 11:38] whhu commented on #46210
The problem remains. The output,
[code]
is obtained in the latest `tensorflow/tensorflow:2.4.0-gpu` with `Python 3.6.9` and `v2.4.0-rc4-71-g582c8d236cb 2.4.0`.
The `import` part of the code is updated to
[code]
and the `strategy.experimental_run_v2` is updated to `strategy.experimental_run`.

[2021-01-07 11:42] amahendrakar commented on #46234
As per the error log, changing the shape of the `weights` variable from `(x, 5)` to `(x, 1)`, I was able to run the code without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dab2aa671b0c8a04517afc203916a062/46234.ipynb#scrollTo=cZJ-g6wToRxZ&line=4&uniqifier=1). Thanks!

[2021-01-07 11:44] keidav01 commented on #46170
We are currently looking into building the benchmark_model tool with our repo, however building with bazel can be quite tedious with our codebase. So that's a process underway.

Also, in relation to updating TF, we recently updated the external delegate and the rest of the code base to 2.3.1. It is a relatively lengthy process to align our code so unfortunately it is not possible under my time con

[2021-01-07 11:48] ravikyram commented on #46245
@qiuming-93

TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4 and check if you are facing the same issue. Thanks!

[2021-01-07 11:52] qiuming-93 commented on #46245
ok

[2021-01-07 11:52] #46245 closed

[2021-01-07 12:01] henriwoodcock commented on #45469
I've just run into this. Using `test_person_detection_test_int8` instead of `test_person_detection_test` works on macOS.

[code]

[2021-01-07 12:02] ori-6over6 commented on #45572
@abattery Pardon the late response, we've checked our options and for the time being we decided to do the extra logic outside of the model (avoid the extra network layer), so our problem is solved.
Thanks for the help anyway!

[2021-01-07 12:06] PureTryOut commented on #45446
I took a change from Gentoo, seems `echo "build --config=noaws" >> .bazelrc` doies the trick as well to stop building AWS support.

So just stuck on the LLVM issue now. I really don't understand why, the failing code is guarded by a same conditional statement as one that's used to include the required header file. https://github.com/llvm/llvm-project/blob/main/llvm/lib/Support/Unix/Process.inc#L92

[2021-01-07 12:07] abdallah1097 opened #46249 "TypeError: '<' not supported between instances of 'function' and 'str'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (Ubuntu)
- TensorFlow version (use command below): 2.4.0
- Python version: 3.6.9

**Code**
I've save a model using callbacks:

[code]

While testing the model using evaluate or evaluate_generator:
[code]
**Error Message**
I get this error message:
[code]

[2021-01-07 12:14] amahendrakar commented on #46244
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b22c6930b5dc31c750993ee0de021c8b/46244.ipynb). Thanks!

[2021-01-07 12:20] amahendrakar commented on #46248
@MatejHl,
Tensorboard issues are tracked in tensorflow/tensorboard repo. Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorboard/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-01-07 12:38] patilaum commented on #46233
Solved!
Here's what I did:
1. installed [cuda toolkit ](https://developer.nvidia.com/cuda-11.0-download-archive) 11.0- important thing here is I did not install 10.1 as I think it creates a conflict with already installed cuda 11.0 shown in nvidia smi
2. reboot after `sudo apt-get install nvidia-modprobe` is must
3. disabled SECURE BOOT - most important
@Saduf2019  Thanks a lot

[2021-01-07 12:38] #46233 closed

[2021-01-07 12:40] gloriouskilka commented on #43664
Solution: update your Windows SDK to 10.0.19041.0, because there is a bug in 10.0.17763.0 version headers

[2021-01-07 12:48] #45957 closed

[2021-01-07 12:54] Saduf2019 commented on #46233
@patilaum
Glad to hear the issue is resolved, than you for the update.

[2021-01-07 13:03] Flamefire commented on #45923
Ok I found the issue(s):

- I was missing a `strategy.experimental_distribute_dataset`. Not sure if this is new as I started writing the code for TF 2.0
- `fit` reports the loss via the `Mean` metric, so the loss is (likely) always higher then what I manually had which reported the loss for the current batch(es)

It might be worth mentioning that in the tutorial for custom loops

[2021-01-07 13:14] ravikyram commented on #46249
@abdallah1097

Can you please share colab link or simple standalone code with supporting files(`model.h5`) to reproduce the issue in our environment.It helps us in debugging faster. Thanks!

[2021-01-07 13:39] MatejHl commented on #46248
Thanks for fast response.
I opened new issue [here](https://github.com/tensorflow/tensorboard/issues/4522).

[2021-01-07 13:40] #46248 closed

[2021-01-07 14:02] Soester10 commented on #44159
Hi, could you please share the dll?

[2021-01-07 14:20] keunwoochoi commented on #41448
+1 this is important!

[2021-01-07 14:28] zyberg2091 commented on #46177
Stand alone code to reproduce the warning : Tensorflow version (TF 4.0)

https://colab.research.google.com/drive/1N-rSuvqD8hoM3_wh7HLQQfdB52jvuv_E#scrollTo=GzRZfBxlPHvf

[2021-01-07 14:30] king398 commented on #45028
@mschio No problem

[2021-01-07 14:34] Flamefire commented on #39314
For anyone else finding this: A better implementation of the Count-metric is likely:

[code]

This counts the total number of examples even in Multi-Worker mode and is resettable via `reset_states`

[2021-01-07 14:43] king398 opened #46251 "Getting TypeError: when using label smoothing in Categorical Cross entropy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2021-01-07 14:51] king398 commented on #46209
Add this to the start of your code
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True).

[2021-01-07 14:58] riccrdo5 commented on #46125
Yess, thanks for the help

On Thu, Jan 7, 2021 at 12:13 AM ravikyram <notifications@github.com> wrote:

[2021-01-07 15:15] zhujun98 commented on #41650
I had the same question these days. After digging into the code
https://github.com/tensorflow/tensorflow/blob/14246bd0280d1c5e5564eedd4927bf9af9339967/tensorflow/python/ops/image_ops_impl.py#L4307
, it turns out that the implementation assumes the input data has a shape of `(batch size, h, w, channel)`. It calculate the ssim per channel and takes the average for each image, i.e the return is expec

[2021-01-07 15:37] aCampello opened #46252 "TensorBoard callback with update_freq='batch' fails when fitting multiple times"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes. The bug happens in the minimal example in the TensorFlow documentation, with a small tweak.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):macOS Mojave 10.14.6
- TensorFlow installed from (source or binary): `pip install tensorflow`
- TensorFlow version (use co

[2021-01-07 15:43] dev0x13 commented on #45974
Well, I managed to find the root cause of this behavior, and it seems to be a serious system problem from my perspective. Description is below.

If Conv2D operator is suitable for applying Winograd it's been decomposed to three operators: `Winograd4x4To36` -> `ConvBuffer1x1` (at least at Mali GPU) -> `Winograd36To4x4` in operation selection while applying OpenCL delegate.

After brief inspection o

[2021-01-07 15:48] #45959 closed

[2021-01-07 15:56] jfinken commented on #46163
@impjdi Understood, _many_ thanks for the reply.  If I am able to make progress with simple fixes to potentially improve general GPU support under linux I'll definitely submit a PR.  Thanks again.

[2021-01-07 16:14] weidler commented on #45371
This remains to be an issue in TF2.4.0.

[2021-01-07 16:15] Saduf2019 commented on #46247
@Urkchar
Can you please refer to this [issue](https://stackoverflow.com/questions/46241403/tensorflow-throw-cuda-error-launch-failed-after-a-long-run) and let us know if it helps.
please ensure you are using the [following](
https://www.tensorflow.org/install/source#gpu) configs.

[2021-01-07 16:16] rossmessing commented on #45941
I'm not sure the TF2.3 label applies - this is about the jump from Keras 2.1.4 to 2.3.0

[2021-01-07 16:17] walid0925 commented on #46234
@amahendrakar thanks for the response!

I don't think this addresses the issue I'm referring to, though. My problem is that I would like to apply weights differently across tasks for each sample (so you shouldn't reshape to `(500, 1)` and take the first 100). 1D weights (applying only one weight per sample) works as expected. 2D weights do not work, and this is also not documented to work, so it's

[2021-01-07 16:19] Saduf2019 commented on #46135
@ymodak
Unable to replicate due to "runtime disconnected error"

[2021-01-07 16:28] gouyelliot commented on #44241
I found a workaround for the issue (tested in TS 2.4.0) by using the classes in `tensorflow.keras.metrics` and the `name` parameter:

[code]

The data are shown on the same graph on TensorBoard too. Hope this helps !

[2021-01-07 16:30] hansheng0512 commented on #46209
It works! Thanks man!
Do you mind to explain me what's going on?

[2021-01-07 16:48] #45956 closed

[2021-01-07 17:07] leandrolopez commented on #45285
I have the same problem when trying to run a CNN on GPU. For Multilayer Perceptron it runs fine. But I just crash the kernel when trying to run a CNN using NVIDIA 3000x GPU.  On PyTorch it runs just fine on the GPU.

[2021-01-07 17:13] karimnosseir commented on #46223
Each delegate instance creates separate hexagon graph with separate rpc calls to the dsp.

[2021-01-07 17:21] qaimHassan opened #46253 "Saved weights as checkpoints are randomised on loading them in the model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, i have a

[2021-01-07 17:21] lu-wang-g commented on #46106
As you described, [Google MLKit](https://developers.google.com/ml-kit) will be a more ideal solution for the use cases. MLKit provides turnkey solutions and users don't need to worry about any underneath ML technologies. TFLite currently focuses more on on-device ML development and customization, so some basic background of ML is required. I agree we should do more than just a sample super resolut

[2021-01-07 17:23] yongtang commented on #46062
For Addons/IO, one challenges is that the custom kernel ops are based on C++ API which may have subtle differences depending on the compiler and c runtime inside the OS. As a result if the gcc version and C runtime is different from tensorflow's gcc version and c runtime, the kernel ops may see incompatibility (sometimes strange seg fault, etc).

This is the biggest challenge as tensorflow uses a

[2021-01-07 17:44] karimnosseir commented on #44975
@KarthikDutt I tried latest nightly and works fine for me.
Sample of the code

[code]

[2021-01-07 17:50] summa-code commented on #46197
Oh my god, do you even know how python works ? Those are package names. They dont have to necessarily add if you import that. There is nothing wrong in API names. Don't waste our time unnecessarily while we are trying to solve actual bug.

[2021-01-07 17:52] AndroidDeveloperLB commented on #46106
@lu-wang-g I don't know. Depends on the needs.
The sample is sadly even quite hard to convert to a library.
How can I vote for image-enhancing , and others?
How can I stay tuned about this?

[2021-01-07 18:02] impjdi commented on #35632
This thread is diluted with multiple reports.  Can I get a TFLite model that reproduces this?  We'll see whether we have a Mali-T830 device at hand.  (FYI Due to COVID-19 closed offices, we don't have access to the devices anymore and may not be able to try out that particular (or a similar) device.)

[2021-01-07 18:17] impjdi commented on #45974
Thank you very much for your time looking into this issue!  The overflow issue makes sense; it is one of the most frequent reasons why one cannot use FP16.  I'll forward your findings to the person who implemented the Winograd conv2d, maybe we can do something about it.  It may take a bit to hear back as he's on vacation right now.

[2021-01-07 18:24] AndrewUlmer commented on #24828
This solution worked for me. Just to add on - if you set `allow_growth = True` during training, you have to configure the gpu in the same way when restoring the model otherwise you will have issues.

[2021-01-07 18:28] angerson commented on #46118
What's your CPU architecture and platform? Could the compiler be trying mixing up 32-bit and 64-bit or something?

[2021-01-07 18:31] redradist commented on #46118
@angerson My architecture is x64

Regarding mixing the 32-bit and 64-bit ... I do not think so, as I read on the web seems like it related to `\\` and `/` in paths ...
But I am not sure

[2021-01-07 18:35] lu-wang-g commented on #46106
You can create requests like this to vote for other cases. This issue can be used as a tracking bug to track any future updates. You can also follow our roadmap: https://www.tensorflow.org/lite/guide/roadmap, for the overall TFLite plans.

[2021-01-07 18:40] ymodak commented on #46247
@Urkchar Please roll back to cuda 11.0 (currently you are on 11.2) for TF 2.4

[2021-01-07 18:42] rsun-bdti commented on #46058
Closing this issue for now.

[2021-01-07 18:42] #46058 closed

[2021-01-07 18:44] AndroidDeveloperLB commented on #46106
@lu-wang-g Where? Where do I vote? Where can I see other requests of others? Where can I subscribe to such requests?

[2021-01-07 18:54] dshahrokhian opened #46254 "Cannot Convert SentencePieceTokenizer to TensorRT"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.4.0
- Pyt

[2021-01-07 18:58] giautm commented on #41808
Hey, I just want to share.

To resolve this error, you need setting LIBRARY_PATH/LD_LIBRARY_PATH point to `/usr/local/lib`. I found this instruction from stackoverflow https://stackoverflow.com/a/57156500

[2021-01-07 18:58] fabiocarrara opened #46255 "small discrepancies between images loaded with `tf.keras.preprocessing.image_dataset_from_directory()` and `tf.keras.preprocessing.image.load_img()`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): v2.4.0-0-g582c8d23

[2021-01-07 19:05] jvishnuvardhan commented on #41650
@khazit Example in the doc was updated to clearly mention the data shape required for this function. Please check the updated example [here](https://www.tensorflow.org/api_docs/python/tf/image/ssim?version=nightly). Thanks for raising this issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/ee5449eed95302b912685d249440cb1d/untitled177.ipynb)

Expected shape of

[2021-01-07 19:05] #41650 closed

[2021-01-07 19:05] AyanmoI opened #46257 "[XLA] dense_layer_test.py throws internal error in fallback path"
The failure happens in Master as well as r2.4 (these are the 2 branches that I've tested).

Even with lazy_compilation turned on (via `TF_XLA_FLAGS=--tf_xla_enable_lazy_compilation=true`), the first execution always compiles as per the current implementation. If we tweak this behaviour such that the first execution doesn't compile (and uses the fallback path) or use `--tf_xla_always_defer_compilat

[2021-01-07 19:24] N1ckx commented on #46107
I carried on my work on ubuntu 20.4, python 3.8.5 and last stable tensorflow release 2.4.0. I followed @srjoglekar246 suggestions and regenerated the tflite file from the new model but i got the same issue again.

I've however now found that everything works if from my tflite conversion code i remove this line:
`converter.optimizations = [tf.lite.Optimize.DEFAULT]`

That line was expected to have

[2021-01-07 19:51] za13 commented on #46230
This is the Python code:

    from __future__ import print_function

    import warnings

    import matplotlib.pyplot as plt
    import numpy as np
    import pandas as pd
    from imutils.paths import list_images
    import tensorflow as tf
    from keras import backend as K
    from keras.callbacks import CSVLogger
    from keras.layers import *
    from keras.models import Model
    from keras

[2021-01-07 19:52] fafabone commented on #45988
Please, could you suggest a way to produce an exe running in windows starting from python script that imports tensorflow?
Thanks

[2021-01-07 19:58] msquigle commented on #46054
So that snippet of code definitely seems to move things in the right direction, but it leads to the following error

Traceback (most recent call last):
  File "tfhub_functional.py", line 12, in <module>
    model_out = converter.convert()
  File "lib\site-packages\tensorflow\lite\python\lite.py", line 873, in convert
    return super(TFLiteKerasModelConverterV2,
  File "lib\site-packages\tensorflo

[2021-01-07 20:02] rsun-bdti opened #46258 "Micro: port op EXPAND_DIMS from Lite"
@tensorflow/micro

**System information**
Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
TensorFlow installed from (source or binary): source
Tensorflow version (commit SHA if source): master
Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Sparkfun Edge

**Describe the problem**
I am about to port The TF Lite kernel op EXPAND_DIMS to TF Lite Micro.

**Please p

[2021-01-07 20:05] leochan2009 commented on #44602
same issue with my ubuntu 18.04 with tensorflow 2.3.1. The tensorflow build was successful. though the same error happened:
: tensorflow/core/framework/types.pb.h: No such file or directory
 #include "tensorflow/core/framework/types.pb.h"

[2021-01-07 20:07] lminer commented on #32090
Any update on this? I'm running into this error trying to write to s3 with gfile and pysoundfile

[2021-01-07 20:12] svenstaro commented on #39467
This can be closed.

[2021-01-07 20:16] fchollet commented on #45558
The reason is that these parameters are intended to be mutable without rebuilding the graph (graphs are immutable), e.g. `optimizer.learning_rate = 0.1` is a valid use case (independently of the optimizer considered).

[2021-01-07 20:16] #45558 closed

[2021-01-07 20:17] fchollet commented on #45786
It was always possible to do so (if you use the layer as such, it's used like a function), but it leads to potential issues (most importantly the issue that your activation layer *could* include trainable weights, which would be ignored by the model if you used it like this).

Layers are meant to be nodes in a graph of layers, and so should be used as such, like in the example:

[code]

Keras docs

[2021-01-07 20:17] #45786 closed

[2021-01-07 20:18] #45054 closed

[2021-01-07 20:21] fchollet commented on #45796
The code above is TF1 code. It relies on the existence of backgrounds static computation graph.
If you want to run it, revert to TF 1.x. The gradient error is expected.

Here's the equivalent code in TF 2.x: https://keras.io/examples/generative/vae/

[2021-01-07 20:21] #45796 closed

[2021-01-07 20:28] fchollet commented on #45701
This is intended behavior: `model.predict()` simply runs the forward pass of the model on some input and returns the result. For a model that ends with a single output unit and a sigmoid activation, only scalar values are returned. `model.predict()` is different from sklearn's `predict`.

[2021-01-07 20:28] #45701 closed

[2021-01-07 20:36] fchollet commented on #45788
To denormalize an array, you need to know the mean and variance that were used to normalize it in the first place. This is not the case here.

Also note that should not use `evaluate()` to compute RMSE because `evaluate()` computes metrics sample-wise then averages the per-sample results. However, the square root of a sum is not the sum of the square roots.

[2021-01-07 20:36] #45788 closed

[2021-01-07 20:42] mihaimaruseac commented on #45446
IREE uses LLVM and Bazel in the same way as TF (almost). Can you try compiling that? This should give us an indication on whether the issue is from TF or from LLVM.

Regarding having to manually write to `.bazelrc` to disable AWS, I think that is a bug in the `./configure` process.

[2021-01-07 20:45] fchollet commented on #45914
This is most likely intended. TF 2.4 started enforcing shape assumptions checking, causing layers that were called on incorrectly shaped inputs to fail with a clear error message. If the model was working previously, it was by accident, likely thanks to broadcasting.

What's the error message?

[2021-01-07 21:02] easadler commented on #46044
I want to confirm what @danielplatt  and @isamilefchik said about getting Tensorflow to work on rosetta. I did the following steps:

1. Build from source while running a terminal using rosetta
2. Updated the bash script that makes the `.whl` file [#45434](https://github.com/tensorflow/tensorflow/issues/45434)
3. I am pretty sure that I needed to rename the wheel to say `10_16` instead of `11_1`, b

[2021-01-07 21:40] Palkos83 commented on #43623
Hi @iLeW, @Isaac45

Apologies for late reply, I had only just been able to try it.
So I reverted back to Tensroflow 2.2 (I tried 2.2.0 and recently released 2.2.2)

Sadly both of them still fail.

Funny enough once on the TF2.2.0 the script actually worked,  but on subsequent runs failed again.
Did you manage to run it more than once?

I am not sure why this issue is marked as closed as clearly we

[2021-01-07 21:55] advaitjain opened #46261 "different TFLM builds use the same output directory."
@tensorflow/micro

In https://github.com/tensorflow/tensorflow/pull/46242#discussion_r553049656, I was suggesting that the linker was not correctly dropping unused symbols.

In fact, what was very likely happening was that I did not do a `make clean` between switching to `BUILD_TYPE=release`. And since the TFLM makefile currently uses the same directory for all `BUILD_TYPE`, only the modified file

[2021-01-07 22:08] ek9852 commented on #45847
@Cy-r0 Are u using Android 10 ?
Android 10 does not support ANEURALNETWORKS_TENSOR_QUANT8_ASYMM.
With ANEURALNETWORKS_TENSOR_QUANT8_SYMM, the zero point cannot be non-zero. But I don't think the code in nnapi_delegate.cc handle that case properly. currently

[2021-01-07 22:14] fchollet commented on #46112
`ImageDataGenerator` is not intended for subclassing. You could either reimplement your own version of it (by copying the code), or instead write a tf.data pipeline (recommended).

[2021-01-07 22:14] #46112 closed

[2021-01-07 22:38] sanjoy commented on #43623
@Palkos83 [this](https://gist.github.com/sanjoy/2b1fd1d644f8ff003a0c3405e6be4b10) is what I see in the log you attached in https://github.com/tensorflow/tensorflow/issues/43623#issuecomment-731841457.

The failing kernel is coming from a cuDNN call, so it is likely either a cuDNN bug or a HW issue, as @cheshire said.  Can you please follow up on the NVIDIA forums?  They're in a better position to

[2021-01-07 22:50] sanjoy commented on #45285
@leandrolopez can you attach logs for your run?  You could be running into a different issue.

Also, getting logs with `TF_CPP_VMODULE=gpu_device=1` in the environment will be useful.  It will tell us for sure which ops are running on the GPU.

[2021-01-07 23:03] devimonica commented on #46192
have you tried using bazel ?

[2021-01-07 23:14] ion-elgreco commented on #46112
Alright, I'll just use this workaround by calling the generator first and then changing the batch_index.

[2021-01-07 23:15] leandrolopez commented on #45285
@sanjoy here are is the log. Fortunately it is not too big. The problem happens only when using a CNN model with GPU. If I force it to run on CPU it works well except it takes longer.
`

2021-01-07 18:10:32.665777: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library cudart64_110.dll
2021-01-07 18:10:35.933930: I tensorflow/compiler/jit/xla_cpu_device

[2021-01-07 23:18] ckluk-github commented on #45946
Hi,
I think I replied you regarding this issue in https://github.com/tensorflow/profiler/issues/255
We are still investigating (delayed due to the holidays).
thanks

[2021-01-07 23:22] tomerk commented on #45888
Hi @Marmotte06,

can you share a colab gist of the simple (3 layer) model you mentioned above? We know about some gpu embedding-placement-related performance issues on TF 2.x vs TF 1.x, but these shouldn't have arisen between TF 2.3.1 & TF 2.4. (The embeddings get placed on CPU even in cases where they should be placed on gpu for performance reasons).

Or are you saying in TF 2.3.1 you used to dis

[2021-01-07 23:51] blubbrezn opened #46266 "Normalisation layer save standard deviation instead of variance"
**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
The Normalisation layer in tensorflow/python/keras/layers/preprocessing/normalization.py seems to save the variance instead of the standard deviation. And calculates the std on runtime std = sqrt(var).
This seems a bit wastfull

[2021-01-08 00:09] njeffrie commented on #45469
I'm working to update our documentation to always use person_detection_int8. At some point it may be worth renaming person_detection_int8 to person_detection since the original uint8 model is now gone, but in the meantime I'll make sure we use _int8 everywhere.

I'm unable to replicate the makefile project generation issue above after trying the steps listed. Perhaps this issue is already fixed? L

[2021-01-08 00:14] multiverse-tf commented on #46170
Acked. An alternative to bazel might be backporting [TFLite's CMake support](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/guide/build_cmake.md#step-6-build-tensorflow-lite-benchmark-tool) to your repo?

The closest one I could find is this [one](https://storage.googleapis.com/tensorflow-nightly-public/prod/tensorflow/lite/release/tools/nightly/41/20200921-215507/andro

[2021-01-08 00:23] ymodak commented on #46135
Hyperbolic tangent activation functions `(tanh)` often suffer from vanishing gradient problem, You may want to try using `ReLU` activation function in this case.

[2021-01-08 00:41] #46020 closed

[2021-01-08 00:44] lu-wang-g commented on #46106
By "vote", I mean you can file request like this and explain the use cases you're interested. And we'll collect all the requests and make plans accordingly. We're also planning to send out a user survey to this email group: https://groups.google.com/a/tensorflow.org/g/tflite. Please subscribe to it and we'll keep you updated there.

[2021-01-08 00:47] ashleymaeconard commented on #46023
I am also having this issue. I am running TF 2.3.0 and tensorflow_probability 0.11.0.

[2021-01-08 00:52] TheBeaNerd commented on #45796
As noted above, under TF 2.4/nightly, the gradient error has been replaced with:

  TypeError: Cannot convert a symbolic Keras input/output to a numpy array.

  The linked example doesn't use .compile(loss=) to integrate loss with the model.

  Thus, it doesn't address the issue:

[2021-01-08 01:08] #46209 closed

[2021-01-08 01:08] rsun-bdti opened #46268 "Micro: port op GATHER_ND from Lite"
@tensorflow/micro

**System information**
Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
TensorFlow installed from (source or binary): source
Tensorflow version (commit SHA if source): master
Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Sparkfun Edge

**Describe the problem**
I am about to port The TF Lite kernel op GATHER_ND to TF Lite Micro.

**Please pro

[2021-01-08 01:13] hansheng0512 commented on #24828
Yea it works! Actually what is the concept behind by enabling `allow_growth = True`?

[2021-01-08 01:33] GaoangLiu commented on #38589
I experienced the same issue when running TensorLayer Basic Example: `MNIST_simple.py`. My error msg was:
[code]
Following the error message, I checked on file `.../core.py`, found the code was like:
![before](http://git.io/JLxQK)

And I checked again on the file `.../framework/ops.py`. I found no such attribute `_TensorLike` in that file. Therefore I commented out the first part of the condition

[2021-01-08 01:47] alanpurple opened #46269 "tensorrt not working with cuda 11.2"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-01-08 02:10] Harmon758 commented on #40500
Duplicate of #30427.
This should be fixed with https://github.com/tensorflow/tensorflow/commit/3402d7118460857cf484f57338d14d9113597d15 in #30559 as part of v1.15.0 and newer.

[2021-01-08 02:16] sayakpaul commented on #45933
Hey folks.

Any updates on this?

[2021-01-08 02:18] sanjoy commented on #45285
Did the machine reboot after this?  If yes, this looks like a bug in the GPU driver, TensorFlow should not be able to do things that kill the OS kernel.

[2021-01-08 02:41] Urkchar commented on #46247
I will be happy to try out one of those configs.
How can I check which build tools and which compiler I am using? I didn't install these manually so perhaps they came with something else?

[2021-01-08 02:41] Urkchar commented on #46247
I will try this. Thank you. So TensorFlow currently doesn't support CUDA 11.2?

[2021-01-08 02:44] seandaug commented on #34158
@jvishnuvardhan The gist you posted using `tf-nightly` does not appear to work anymore. The issue seems to have reappeared.

[2021-01-08 03:44] naveensaigit commented on #44291
This works with tensorflow '2.5.0-dev20210107', cuda 11.2 and cudnn 11.1 for me.

[2021-01-08 03:47] xiaodi68tmc commented on #45651
I read through the discussion. Thanks for the information and learned.
Could I know how the performance of running Mask RCNN tflite on android (such as inference time)? Is any successful examples and demo codes?
I successfully converted my trained Mask RCNN model to a tflite model, but still didn't get how to run it on Android by using Java codes.
Thanks

[2021-01-08 03:50] pranathibl opened #46272 "use of interpreter-->SetNumThreads. Do we need to invoke setNumThreads always to improve performance"
In the label_image.cc example from tfLite, we are passing setNumThreads manually under the code.
Does number of threads automatically picked by tfLite (or) Is it required by user to always force SetNumThreads ?

[2021-01-08 03:58] pranathibl opened #46273 "Are mean and standard deviation values always 127.5 and 127.5"
In the example label_image.cc (under) lite/examples/label_image, we are hardcoding mean and standard deviation to 127.5f.
Will these values work for any model ?
Can these values obtained run time ?
To change these mean and standard deviation ? what is the place to change , training ? (or) conversion (or) Inference ?

[2021-01-08 04:04] Urkchar commented on #46247
Should I get the update or the base version of 11.0? Does it matter?
![image](https://user-images.githubusercontent.com/49205496/103973105-43a57c00-5134-11eb-93aa-80bda562727f.png)

[2021-01-08 04:09] linuxmaster0312 commented on #45285
@sanjoy yes I can run normal cuda programs on my machine.

[2021-01-08 04:12] August0424 commented on #46074
Thanks. Looking forward to more elaborate official tutorials and demos by TF2

[2021-01-08 04:13] KarthikDutt commented on #44975
@karimnosseir - You are right. Conversion works fine with the latest nightly on a classification example I had shared before. However, it isn't fixed for a retinaNet model which I have uploaded in the link shared below. Note that the tfnightly version 2.4.0.dev20200905 fixes the issue for retinaNet as well.
[https://drive.google.com/file/d/1HciakM1T5BIJ_ikyBPeMaGzwih9ZGE1K/view?usp=sharing](url)

[2021-01-08 04:17] leandrolopez commented on #45285
@sanjoy The machine did not reboot. It just restarts the kernel when using Spyder but if using the VSCode notebooks it just hangs. I am able to run other CUDA dependent program. For example I play chess and the Fat Fritz engine requires the GPU and it works. I rewrote the same CNN model on PyTorch and it works too. Only issue is when using GPU on a CNN tensorflow model.

[2021-01-08 04:26] AnushangaWimalasena commented on #42052
I also have same problem with

- tensorflow 2.3.1
- cuDNN 7.6
- CUDA 10.1

`coreClock: 1.189GHz coreCount: 3 deviceMemorySize: 2.00GiB deviceMemoryBandwidth: 29.80GiB/s
2021-01-08 09:49:00.163149: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
2021-01-08 09:49:00.163687: I tensorflow/stream_executor/platform/default/dso_loader.c

[2021-01-08 04:29] AnushangaWimalasena commented on #42052
@MichaelJamesL Did you found any solution.

[2021-01-08 04:34] dtlam26 commented on #42082
I have a little question with the 2.4 quantization, why do the upsampling2d is not supported in tf2 while in tf1 it is acceptable?
`RuntimeError: Layer up_sampling2d_10:<class 'tensorflow.python.keras.layers.convolutional.UpSampling2D'> is not supported. `

[2021-01-08 04:48] FlorinAndrei opened #46274 "tf.experimental.numpy fails with plt.hist"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): using example from TF docs
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use comma

[2021-01-08 04:55] ek9852 commented on #46217
@cookingbear What platform are u running with that ?
Are u running using gpu/cuda, or pure CPU. ARM  or x86 platform ?

[2021-01-08 04:57] cookingbear commented on #46217
I tested it on x86 using cpu only

[2021-01-08 05:07] ravikyram commented on #46253
@qaimHassan

Can you please share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in debugging faster. Thanks!

[2021-01-08 05:17] Urkchar commented on #46247
I changed from CUDA 11.2 to CUDA 11.0 (base) and was training fine up until epoch 8. It crashed with `CUDNN_STATUS_INTERNAL_ERROR` and `CUDA_ERROR_LAUNCH_FAILED`. Full output: https://paste.pythondiscord.com/egadilaqex.yaml
I was monitoring the temperature of my GPU like was suggested in https://stackoverflow.com/questions/46241403/tensorflow-throw-cuda-error-launch-failed-after-a-long-run however

[2021-01-08 05:25] ravikyram commented on #46094
@omerbrandis

Can you please try in latest stable TF version 2.4 and see if you are facing the same issue?.There are lot of performance improvements in latest releases.

If you are facing issue still please share the colab link or simple standalone code with proper indentation and supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2021-01-08 05:28] bugerry87 opened #46276 "Don't raise an Error on unknown kwargs"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version 2.1 - 2.3:
- Are you willing to contribute it (No):

**Describe the feature

[2021-01-08 05:32] MeteoRex11 commented on #45636
The issue was being replicated on Linux as well, but reinstalling Tensorflow, CuDNN & CudaToolKit's older versions fixed it.

[2021-01-08 05:32] #45636 closed

[2021-01-08 05:32] vikramdattu opened #46277 "ESP32 example creation fails for person_detection example"
**System information**
- OS Platform and Distribution: ESP32
- TensorFlow version: master, commit 78012e5d6c45ffd3673b8970b199a67980df1963

**Describe the problem**

Example creation fails with following error:

[code]

[2021-01-08 05:44] anilsathyan7 commented on #42082
@dtlam26  I found that 8 bit qunatization of Upsampling2d is supported with latest tf-optimization [source](https://github.com/tensorflow/model-optimization/blob/80ccd9a5945ebca22069962edf828caebe213ccf/tensorflow_model_optimization/python/core/quantization/keras/default_8bit/default_8bit_quantize_registry.py#L114).

[2021-01-08 05:48] ravikyram commented on #45955
@dtlam26
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4 and check if you are facing the same issue.

In TF 2.4 you can try with `tf.nn.bias_add` as contrib functions will not be supported in TF 2.x
Thanks!

[2021-01-08 05:49] rakeshmothukuru1 commented on #46197
@summa-code,

I know how python works but my point is that the Example code in the Documentation should be Executable without many changes from our side. Such a code will be helpful, especially to the Newbies.

For example, [this code](https://www.tensorflow.org/api_docs/python/tf/feature_column/bucketized_column#example) uses the complete API name, **`tf.feature_column.numeric_column`**.

So, Ple

[2021-01-08 06:32] frankchn commented on #45852
@rwbfd Can you try again next week. We have pushed out a new version of the TPU runtime, but it will take a day or two to propagate to all TPUs.

[2021-01-08 06:41] dtlam26 commented on #45955
Does the `tf.nn.bias_add` give fixed bias value for the tensor? Because according to the description of both 1.15 and 2.4, I am not sure they can learn

[2021-01-08 06:54] ravikyram commented on #44528
I am closing this issue as the associated PR got merged. Thanks!

[2021-01-08 06:54] #44528 closed

[2021-01-08 07:22] wuxianxingkong opened #46278 "TF2.4 MultiWorkerMirroredStrategy and ParameterServerStrategy training very slow for large mode and large data compared with TF1.14"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):**TF on yarn**(running machine system is CentOS 7)
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):2.4.0
- Python version:3.6
- CUDA/cuDNN version: no gpu
- GPU model and

[2021-01-08 07:23] wuxianxingkong commented on #46278
Here is **wide part:**

wide model summary:
Model: "wide_model"
________________________________________________________________________________________________________________________________________________________________________________________________________
Layer (type)                                                      Output Shape                                Param #                 C

[2021-01-08 07:24] dtlam26 commented on #42082
According to your source, It seems like they skip the quantization at the upsampling2d layer and only quantize the output as I suppose. This can be created if I custom quantize as well. It is just a surprise when they use to provide quantization on this

[2021-01-08 07:25] wuxianxingkong commented on #46278
Here is **deep input part**:

deep model summary:
Model: "deep_model"
________________________________________________________________________________________________________________________________________________________________________________________________________
Layer (type)                                                      Output Shape                                Param #

[2021-01-08 07:28] wuxianxingkong commented on #46278
Here is model summary: please [click](https://github.com/wuxianxingkong/tensorflow-issue/blob/main/model_summary.txt)

[2021-01-08 07:31] wenfengyu commented on #46135
This model can't use ReLU in last Conv2DTranspose layer,   this test code from https://www.tensorflow.org/tutorials/generative/dcgan.  Now I use custom tanh function instead of activation='tanh' temporarily solve this problem.

[2021-01-08 07:33] wenfengyu commented on #46135
BTW,  I use pytorch recreate this model code. it's work is normal, so I guess activation='tanh' in tensorflow2.4 have issue

[2021-01-08 07:34] wuxianxingkong commented on #46278
Here is chief log: please [click](https://github.com/wuxianxingkong/tensorflow-issue/blob/main/chief_log.txt)

[2021-01-08 07:35] wuxianxingkong commented on #46278
Here is CPU info: please [click](https://github.com/wuxianxingkong/tensorflow-issue/blob/main/cpu_info.txt)

[2021-01-08 07:37] wuxianxingkong commented on #46278
Here is TF Profiler info: please [click](https://github.com/wuxianxingkong/tensorflow-issue/blob/main/tf_profiler.png)

[2021-01-08 07:38] wuxianxingkong commented on #46278
Here is TF Profiler: traning speed too much time on CollectiveRedcue.

![tf_profiler](https://user-images.githubusercontent.com/4003232/103987486-81071980-51c7-11eb-9fc9-d9d027d6b73f.png)

[2021-01-08 07:47] nikroyal commented on #46249
try switching to tf 2.3... or try saving configurations and weights separately.... had exactly the same problem and these hacks worked for me.

[2021-01-08 07:47] spirid0n opened #46279 "delete pycharm project issue(Pycharm project deletion problem due to cache deletion)"
The project was deleted while using pycharm for tensorflow developer certification. It seems that the pycharm project was deleted while deleting the Mac OS cache and junk. Developers preparing for certification should be aware of this issue.

[2021-01-08 07:53] wuxianxingkong commented on #46278
Performance Summary:
![s1](https://user-images.githubusercontent.com/4003232/103988787-a3019b80-51c9-11eb-8913-720c7f73e350.png)

[2021-01-08 07:57] anilsathyan7 commented on #42082
@dtlam26 I'am not sure about the internal implementation; but i was able to get past that error and convert the model to tflite with QAT(Upsample2D Resize Bilinear) and tf-nighlty. The results(accuracy) seems to be fine when i test them on sample images.
Anyway they also mention this:-

[2021-01-08 07:59] lifeiwen opened #46280 "tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found"
System information：

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
TensorFlow installed from (source or binary): source
TensorFlow version (use command below):1.15.0
Python version:3

[2021-01-08 08:12] Urkchar commented on #46247
Now I'm getting this error `CUDA_ERROR_ILLEGAL_ADDRESS`. Full output: https://paste.pythondiscord.com/yusegemuga.apache
It appears to happen at random points during `model.fit(...)`. I ran the same exact code again and I got this error https://paste.pythondiscord.com/olovaguvun.apache
I ran the exact same code a third time and got this error: https://paste.pythondiscord.com/elufotohog.apache
Fourt

[2021-01-08 08:19] dtlam26 commented on #42082
Yes, I can bypass that if I self configure the quantization with no quantization in weights and activations as well. No need for the nightly

[2021-01-08 08:23] anilsathyan7 commented on #42082
@dtlam26 Can you share demo code/model?

[2021-01-08 08:28] wuxianxingkong commented on #46278
![Uploading 111.png…]()

[2021-01-08 08:36] yyoon commented on #46199
Not an ObjC expert myself, but I think you are converting the `NSMutableArray` of `NSNumber`s in an incorrect way.

1. `NSNumber` is an object, which doesn't necessarily have the same in-memory representation as a float number. You should get the float representation by retrieving the `floatValue` property on an `NSNumber` object.
2. `archivedDataWithRootObject` is an encoding method according to

[2021-01-08 08:42] #46130 closed

[2021-01-08 08:48] rwbfd commented on #45852
@frankchn That would be great! Thanks!

[2021-01-08 08:56] iLeW commented on #43623
Hi @Palkos83, thank you for your reply. I'm still having the issue. Maybe we should follow up on the NVIDIA forums as @sanjoy suggested and as you have already done.

[2021-01-08 09:16] daverim commented on #46073
hi @xumengwei,

It turns out that there is kind of an issue in QAT. The input (other than an Input layer) to a quantized annotated layer must also be quantized annotated in order to be fully quantized -- this is because we need to record the min/max ranges of the input to the layer in order to quantize the layer.

Because you have the output of a non-quantized dense layer as input to a quantized l

[2021-01-08 09:20] AndroidDeveloperLB commented on #46106
@lu-wang-g It was written "super resolution was nominated quite a few times." , so this means it was already requested, and that I can vote on it.
Where can I write and find about this?
Searching "super" , "resolution", "enhance" on the website doesn't return me such a thing.
Anyway, I made a new request there too:
https://groups.google.com/a/tensorflow.org/g/tflite/c/RLtObidqqpY

[2021-01-08 09:39] quintinwang5 opened #46281 "why ExtractVolumePatches uses different implements for ThreadPoolDevice and GPUDevice."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 20.04
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):2.5
- Python version:3.6
- Bazel version (if compiling from source):3.7.1
- GCC/Compiler version (if com

[2021-01-08 09:54] stephentandjiria commented on #46100
Alright got it, thanks for the help @karimnosseir @abattery , I really appreciate it!

[2021-01-08 09:57] amoghskulkarni commented on #44291
I am running into the same error with TF v2.4.0rc3 (`cusolver64_10.dll not found`). Unfortunately, compiling TF from source doesn't seem to be working either for me.

[2021-01-08 10:04] MiladShahidi opened #46282 "tf.io.gfile.GFile does not raise an error when given a directory"
Python's `open` does not accept directories. The following results in an `IsADirectoryError`:

[code]

However, if you use `tf.io.gfile.GFile` instead, you will get an empty list and no error:

[code]

Not sure if this is a feature or a bug, but it is not the behavior I would expect, given that the [documentation](https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile) says that `tf.io.gfile

[2021-01-08 10:24] keidav01 commented on #46170
Thank you for all the information. It was really helpful!

We have managed to build on x86 and can clarify that the peculiar message observed was due to the mismatch in tensorflow versions from the binary vs. our tensorflow source

[2021-01-08 10:36] amahendrakar commented on #46269
@alanpurple,
In order to expedite the trouble-shooting process, could you please provide a minimal code snippet to reproduce the issue reported here along with the complete error log.

Also, please check if you are facing the same issue with **CUDA 11.0** and **cuDNN 8** as well? Thanks!

[2021-01-08 10:46] Gohan1989 opened #46284 "TFLite: GPU delegate (OpenGL) outputs errors when different context is active."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-01-08 10:47] Marmotte06 commented on #45888
@tomerk

On TF 2.3.1 I was disabling eager execution to keep the performance I had with TF 1.5 (otherwise I got a x2 training time increase)
What I noticed with TF 24 is that I do have the x2 training time increase anyway, eager execution on or off. Which let me think the eager execution trick doesn't work anymore.

I just tried the OneDeviceStrategy, including the -functional- model layer definit

[2021-01-08 10:55] Saduf2019 commented on #46247
@Urkchar
Can you please refer to these solved issues for the error reported above and let us know.
[link](https://www.mathworks.com/matlabcentral/answers/303228-cuda_error_illegal_address), [link1](https://github.com/tensorflow/tensorflow/issues/6509)

[2021-01-08 11:01] Saduf2019 commented on #46284
@Gohan1989
please share a simple stand alone code to replicate the issue faced.

[2021-01-08 11:07] amahendrakar commented on #46252
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1f9c5a3d464fa88f88f12d111499b5c4/46252.ipynb#scrollTo=nPStrYH4k6-R). Thanks!

[2021-01-08 11:07] dtlam26 commented on #42082
It is nothing much as you just need to follow the spec in the file you give me as only quantize the output, not the weights and activation. I follow tf guide for custom quantization. You can look into [here](https://www.tensorflow.org/model_optimization/api_docs/python/tfmot/quantization/keras/QuantizeConfig)

[code]

[2021-01-08 11:08] RenoLooijmans opened #46285 "'tf.Size' op is neither a custom op nor a flex op"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10.0.18363
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: n/a
-   **TensorFlow installed from (source or binary)**: binary
-   **Te

[2021-01-08 11:09] Saduf2019 commented on #46254
@dshahrokhian
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/ca4dff5ddcc5b906fad0d2c75aee57d7/untitled.ipynb) and share all dependencies for us to replicate the issue faced and analyse it.

[2021-01-08 11:10] Saduf2019 commented on #46280
@lifeiwen
We see that you are using an old version of tf which is not supported now, can you please upgrade to 2.x version and let us know if there is any issue faced.

Also please share a  stand alone code or a colab gist with error reported.

[2021-01-08 11:19] zaccharieramzi commented on #40166
Just stumbled upon this issue.
I am using a function which absolutely needs a custom gradient ([Non-uniform fourier transform](https://github.com/zaccharieramzi/tfkbnufft)), and I also absolutely need to save the model with the `SaveModel` format because I want to keep the optimizer's state (I am training in multiple sessions in an HPC setup, so I have to checkpoint).

I am considering using [this

[2021-01-08 11:22] sebastian-sz opened #46286 "Cannot create tf.constant inside tf.function with integer tensor."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes**
- OS P

[2021-01-08 11:51] amahendrakar commented on #46255
Was able to reproduce the issue with [TF v2.4](https://colab.research.google.com/gist/amahendrakar/7bd48cebf0996373f354fcb22b5182b6/46255.ipynb) and TF-nightly.

Whereas with [TF v2.3](https://colab.research.google.com/gist/amahendrakar/7d4808542c10d8c7de9b5ca60831b530/46255-2-3.ipynb), I'm facing an error stating `AttributeError: 'BatchDataset' object has no attribute 'file_paths'`.  Please check

[2021-01-08 11:53] anilsathyan7 commented on #42082
@dtlam26  Can you share your minimum working example for upsample layers? I'am just curious to know how the 'weights and activations' gets quantized for Upsample/ResizeBilinear Layers.

[2021-01-08 11:57] IlleQuiProgrammat commented on #45627
Apologies, I missed your response, I shall try that now and update you to the results.

[2021-01-08 12:02] amahendrakar commented on #46274
@FlorinAndrei,
On running the code with TF v2.4, I got the expected behavior. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/cddfa0eb488d857ceef401e41c739f48/46274.ipynb).

 Could you please try running the code in a new virtual environment and check if you are facing the same issue. Thanks!

[2021-01-08 12:06] amahendrakar commented on #46278
@wuxianxingkong,
Without a sample code it would be difficult for us to debug the issue. Could you please provide a minimal code snippet using a dummy dataset, so that we can reproduce the issue on our end. Thanks!

[2021-01-08 12:36] dshahrokhian commented on #46254
@Saduf2019 Was there an issue colab instance I have shared? It had all the dependencies already.
I have added the file to your gist.

Thanks.

[2021-01-08 12:37] EdwardVincentMa opened #46288 "TF2.1 .h5 file to .pb"
[code]

2021-01-08 20:36:37.248006: W tensorflow/python/util/util.cc:319] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.
Traceback (most recent call last):
  File "TFLoadH5AndInfer.py", line 18, in <module>
    YoloV5s_model.save("Yolov5s_1.pb")
  File "C:\ProgramData\anaconda3\lib\site-packages\tensorflow_core\python\keras\engine\n

[2021-01-08 12:44] dtlam26 commented on #42082
Currently, If you print out the upsampling layer, There is no weight and activation in this layer. Therefore, you have to skip it.
Same thing I used to do with [BatchNormalize](https://stackoverflow.com/questions/60883928/quantization-aware-training-in-tensorflow-version-2-and-batchnorm-folding/63559933#63559933) when I answered a while ago

The way of upsampling a layer is depended on the interpo

[2021-01-08 12:48] amahendrakar commented on #46285
@RenoLooijmans,

As mentioned, I was able to convert the model enabling `SELECT_TF_OPS`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6042511a73aa403109ff22452502ffc5/46285.ipynb).

Could you please provide the exact sequence of commands/steps that you executed before running into the issue and also the complete error log, so that we can look into this. Tha

[2021-01-08 13:02] Marmotte06 commented on #45888
@tomerk

I made some progress. The "training_v" mentions in the error above let me think my compat.v1 import disable_eager_execution could be the cause of the error. I disabled that statement and the training started, even though I now get the following warning:

2021-01-08 13:18:37.888518: W tensorflow/core/grappler/optimizers/data/auto_shard.cc:656] In AUTO-mode, and switching to DATA-based shar

[2021-01-08 13:17] samcom12 commented on #40614
Failing to build TF@2.1 with spack build. Looks like failing due to same reason as above. Just wanted to know where can I set the TMP variable? and how to set it? I have tried setting it on the command line but it is ignoring it.

[2021-01-08 13:22] around-star commented on #46274
@amahendrakar  I was able to reproduce the issue(bad results) with tensorflow versions 2.3.0 and 2.4.0 in windows 10 . But the same versions produces the expected/good results when used in colab. I think this is a os specific issue. I want to contribute/help in this. Can you please giude me?

[2021-01-08 13:24] nehasoni3 opened #46289 "How to convert TF1.12 checkpoints to saved/keras model format."
I have a TTS model checkpoints trained on TFv1.12. For inferencing, I have used
`self.session = tf.Session(config=config)
self.session.run(tf.global_variables_initializer())
saver = tf.train.Saver()
saver.restore(self.session, checkpoint_path)
`
For its TFlite conversion, saved/keras model is required. How do I convert this model into TFLite.

[2021-01-08 13:27] Saduf2019 commented on #46254
@dshahrokhian
what you add to your gist is local to you i cannot access it, please send it through attachment.

[2021-01-08 13:38] Saduf2019 commented on #46288
@EdwardVincentMa
I ran the code shared and face different error due to dependencies not shared, please find [gist here](https://colab.research.google.com/gist/Saduf2019/88a0600859c52a5195d7b90155850013/untitled492.ipynb).

[2021-01-08 13:42] hiyamgh opened #46291 "Input y of 'Greater' op has type float32 that does not match type int64 of x"
I have this code below:
[code]

It keeps giving me this error. I tried casting as you can see but still not working.

[2021-01-08 13:44] hiyamgh commented on #46291
Important to note I tried the same function with ```tf.contrib.metrics.accuracy``` but it is working fine:

[code]

[2021-01-08 13:45] dshahrokhian commented on #46254
My apologies, here it is: https://drive.google.com/file/d/1l1kdHuM_oJf_sJwR1p8g1Pn4P_DRtCWc/view?usp=sharing

[2021-01-08 14:01] anilsathyan7 commented on #42082
I think both in tf 1.x and tf 2.x the basic approach was to train a non-quantized model until convergence and then fine-tune the trained float model with quantization aware training with training data(or subset). for a few more epochs(may be smaller learning rate). Anyway, i got almost (exactly)same accuracy with Upsample2D(ResizeBilinear) in tf2 with QAT, when compared to plain float model(segmen

[2021-01-08 14:02] Dockyin commented on #45783
Solved!
The degradation is caused by virtual layer settings.!!!--_--

[2021-01-08 14:07] dtlam26 commented on #42082
You are almost right with the QAT as its protocol is *train a non-quantized model until convergence and then fine-tune the trained float model with quantization aware training*. This process will let the quantization bit fit better with the model weights and values. But tensorflow apply the representation dataset with only one purpose of fitting the activation quantization better. This if you use

[2021-01-08 14:38] anilsathyan7 commented on #42082
@dtlam26 Yes, it was from the official tf documentation only... The original issue was with QAT, so i was referring to that version of quantization anyway.  Also, post training quantization generally gives lesser accuray compared to QAT.

[2021-01-08 14:44] dtlam26 commented on #42082
yes QAT is the best to give out the closest accuracy, but a little time consuming when a lot operator are not yet supported or designed in QAT manner. Depending on the structure of the model, sometimes making a post quantization is quicker and saving a lot of time. Im looking forward for future version of tensorflow quantization as they are making those protocol easier to implement

[2021-01-08 14:46] Saduf2019 commented on #46254
@ymodak
I ran the code shared on tf 2.4 and nightly, please find the gist for [tf 2.4](https://colab.research.google.com/gist/Saduf2019/65e9cb7c2b26eae2e5eb8a21fb7b02db/untitled492.ipynb) and cloab crashes on [nightly](https://colab.research.google.com/gist/Saduf2019/263fe39332add8ab3eebe9d0a030afdc/untitled.ipynb).

[2021-01-08 14:52] Saduf2019 commented on #46251
@king398
I ran the code shared and face a different error, please share all dependencies for us to replicate the issue faced, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e70d7393aa8cb66747b5686317d9eb69/untitled.ipynb).

[2021-01-08 14:53] amahendrakar commented on #45910
@dshahrokhian,
In order to reproduce the issue, could you please share the contents of the `saved model directory` folder with us.

Alternatively, you can update TensorFlow on your machine using the below command and check if it works.

[code]

 Thanks!

[2021-01-08 14:54] Saduf2019 commented on #46069
@abby-93
Please confirm if you are using 2.x version.

[2021-01-08 14:57] anilsathyan7 commented on #42082
In my case, i  was looking for a model(full int) with high accuracy while dealing with segmentation, where the model accuracy is critical. Training time was not an issue(atleast a few epochs). Yes, i also hope that more operators will be supported in the future with keras QAT.

[2021-01-08 15:06] MJimitater commented on #37729
same issue, any updates?

[2021-01-08 15:11] Cy-r0 commented on #45847
Hey, yes I'm on Android 10.

As a temporary solution, is it possible to force the zero point to be 0? For now I'm only interested in the runtime speed of the model.

[2021-01-08 15:11] alanpurple commented on #46269
no issue with cuda 11.1,  cudna 8.0.5 and tensorrt 7.2.2.3

minimal code is

[code]

something like this

[2021-01-08 15:21] amahendrakar commented on #45935
@MaxxTr,
On running the code with a sample model, I see that `.pb` has both read and write permissions. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/37bb6f83164e685da27e1cb0452c594d/45935.ipynb#scrollTo=hXvXTn6CkdBf&line=1&uniqifier=1). Thanks!

[2021-01-08 15:23] seandaug commented on #34158
It appears that the difference is in how the "mean" is computed over the values for a "loss" vs. a "metric". Consider this very simple example that just outputs the input after applying a mask:
[code]
This generates the following output:
[code]
Here we have a sequence of length 3, the second value of which is masked out. Therefore, the MAE should be 0.5 because the total absolute error is 1.0 and

[2021-01-08 15:35] vforvoid opened #46293 "Fine-tuned BERT SavedModel hard-referencing vocab.txt from TF Hub temporary files."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-01-08 15:45] dshahrokhian commented on #45910
This error does not happen with TF 2.4, thanks.

[2021-01-08 15:45] #45910 closed

[2021-01-08 15:46] Young1783 commented on #46178
https://github.com/tensorflow/tensorflow/issues/46044#issuecomment-753549970
I hope this comment will help you before merge  the Apple fork, which seems it will be a longgggg time.
:)

[2021-01-08 15:49] NicolayP opened #46294 "Linear aglebra C++ API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): r2.1 c++ API
- Are you willing to contribute it (Yes/No):

[2021-01-08 15:51] king398 commented on #46251
I think you don`t have the right dataset, try this dataset I am using https://www.kaggle.com/c/cassava-leaf-disease-classification/data and tensorflow version 2.3.1

[2021-01-08 16:22] ion-elgreco commented on #41169
It's probably the slow IO with WSL. Do you need to load a lot of files?

[2021-01-08 16:32] ravikyram commented on #46291
@hiyamgh
Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
From the information you provided it looks like you are using TF 1.x.
TensorFlow 1.x is not actively supported. Could you please update TensorFlow to the latest stable version v2.4 and check if you are facing the same issue.
In TF 2.4 you can use `tf.keras.metrics.Accuracy` instead of `tf.contrib.me

[2021-01-08 16:45] Flamefire opened #46295 "tensorflow/c/eager/c_api_test fails to find GPU implementation of MatMulOp"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS7
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.0
- Python version: 3.7.4
- Bazel version (if compiling from source): 3.7.1
- GCC/Compiler version (if compi

[2021-01-08 16:45] ravikyram commented on #46286
I have tried in colab with TF version 2.3, 2.4, nightly version(`2.5.0-dev20210108`) and was able to reproduce the issue . Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/f78f0f1fbb431efeaac88336119788d0/untitled603.ipynb). Thanks!

[2021-01-08 16:53] OgreTransporter opened #46296 "Unable to build debug version"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.19042
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): Git b

[2021-01-08 17:01] goldiegadde commented on #40171
@frreiss the patch you referred to has been cherrypicked into [2.2.2](https://github.com/tensorflow/tensorflow/releases/tag/v2.2.2) as well. I am closing this bug for now if any other issues linger can you please open a new one?
Thanks!

[2021-01-08 17:01] #40171 closed

[2021-01-08 17:15] ravikyram commented on #46282
@MiladShahidi

Thanks for filing the issue.
Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please, share colab link or simple stndalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster.

Are you interested in submitting PR for this?

Thanks!

[2021-01-08 17:19] ravikyram commented on #46279
@spirid0n

Thanks for filing the issue and share the information.

I am closing the issue since it is not a bug or feature request related to Tensorflow. Thanks!

[2021-01-08 17:25] ravikyram commented on #45955
@dtlam26

Can you please refer the [link](https://www.tensorflow.org/agents/api_docs/python/tf_agents/keras_layers/bias_layer?hl=fr) and see if it help you. Thanks!

[2021-01-08 17:26] ek9852 commented on #45847
@Cy-r0 mark all zeroPoint  to 0 instead of assign to the model value in tensorflow/lite/delegates/nnapi/nnapi_delegate.cc and build your own tensorflow lite.
Good luck. As you might still encounter some layers only support ASYMM input or output .

There are just too many layers falling back to CPU before Android 1 due to nnapi 1.2 does not support ASYMM8, and  resize does not support align_corners

[2021-01-08 17:35] N1ckx commented on #46107
It turns out that i can leave this line:
converter.optimizations = [tf.lite.Optimize.DEFAULT]

only if i also set "converter.target_spec.supported_ops". This is actually done in the first link @srjoglekar246, and that make it work. The reason i didn't set it in the first place was because in the example full integer quantiziation was enabled requiring me to set representative_dataset which i didn'

[2021-01-08 17:46] zyberg2091 commented on #44779
This issue still exists in the doc. can i be assigned for this task?

[2021-01-08 17:48] bhack commented on #44779
Cause @bibhas2 Didn't sign the CLA with the PR at https://github.com/tensorflow/docs/pull/1744

[2021-01-08 17:51] #45875 closed

[2021-01-08 17:51] #46006 closed

[2021-01-08 18:01] spirid0n commented on #46279
Do you know why I am writing here? I have ignored my mail more than 10 times. I couldn't stand it, so I left a post here. I'll keep it elsewhere. I will close that issue

[2021-01-08 18:02] #46279 closed

[2021-01-08 18:03] spirid0n commented on #46279
Don't ignore it.

[2021-01-08 18:12] taylrcawte commented on #45611
@ymodak update; when running the program from terminal and not in an IDE the error message is

[code]

[2021-01-08 18:20] bibhas2 commented on #44779
Sorry. I don't feel comfortable signing anything.

[2021-01-08 18:24] bhack commented on #44779
@zyberg2091 If you want you can submit a Doc PR

[2021-01-08 18:35] tomerk commented on #45888
Yeah the distribution strategy probably won't work when you disable eager execution (effectively entering TF1 graphs/execution).

The remaining performance gap does sound like something we need to look into. As requested above can you share a colab gist of your simpler three-layer model repro?

It would also be really helpful if you could share TF profiler traces from these different runs in tf 2.

[2021-01-08 18:37] NicolayP commented on #46294
Never mind, found what I was looking for by looking at the ops in the include files. Maybe an update of the documentation could be useful. Closing the issue as the feature is already available.

[2021-01-08 18:37] #46294 closed

[2021-01-08 18:37] lu-wang-g commented on #46106
By saying "super resolution was nominated quite a few times", I actually mean we've heard several request from Google internal users and ML developers. I don't think you can search from them on the website. Feel free to let us know through github / tensorflow user group (they are identical) if you have other new use cases in mind.

[2021-01-08 18:38] IlleQuiProgrammat commented on #45627
Thank you, this seems to be working @ymodak - is there a reason why this is not enabled by default?

[2021-01-08 18:51] Palkos83 commented on #43623
I already tried to contact them and rightly so as they do not see the code which is using their library, they cannot reproduce the issue. Personally I doubt this is hardware failure, especially now that multiple problem raised that and on different cards. My suspicion is that there is some misalignment in syncing between device and pc at some point or the memory allocation on the GPU fails from wh

[2021-01-08 19:01] zyberg2091 commented on #44779
ok thanks!

[2021-01-08 19:15] pranavladkat commented on #44960
That's Great! Then this resolves the issue which I raised.

Thanks,
Pranav

[2021-01-08 19:15] #44960 closed

[2021-01-08 19:22] #44092 closed

[2021-01-08 19:34] zyberg2091 commented on #44779
Submitted the PR

tensorflow/docs#1797

[2021-01-08 19:44] advaitjain opened #46297 "gtest headers result in conflicting clang-format requirements"
@tensorflow/micro

While porting OPs from lite to micro, one of the intermediate steps results in test code copied over from lite that has gtest headers. While this code is not (and can not) be compiled for TFLM it still trips up the formatting checks as described in https://github.com/tensorflow/tensorflow/pull/46159#discussion_r553568396.

Deleting these includes (the workaround in https://githu

[2021-01-08 19:47] shariq-audiofocus commented on #43955
I have a similar use case, I'm developing a portable ML library that works on iOS, linux, and possibly Android. Is there any way to build the tflite c++ api library and run it on iOS?

[2021-01-08 19:59] FlorinAndrei commented on #46274
Python, CUDA, and the Python modules - are all a fresh install. I've completely uninstalled the old Anaconda and Python bits and started from scratch with the latest versions. This was literally the TF test drive I did - and it failed.

If you need me to run it with various options, capture debug logs, etc - let me know.

[2021-01-08 20:11] shariq-audiofocus commented on #43955
@rishabhrishu - I tried your method of adding libtensorflow-lite.a  (built on TF 2.1) to my XCode Project(via Targets > General > Frameworks, Libraries, and Embedded Content) but I'm still getting errors:
[code]

Do you know what I might be missing? Did you do anything else?

[2021-01-08 20:21] dhavids commented on #33925
This worked for me.

SSD_mobilenetV2 exported with export_graph_tf2.py

Thanks

[2021-01-08 20:28] AndroidDeveloperLB commented on #46106
@lu-wang-g But I couldn't see even one place that it was nominated.
What other things have people requested? Maybe from them I could think of other nice additions.

[2021-01-08 20:28] bhack commented on #46288
@Saduf2019 I think @EdwardVincentMa with `xxx.h5` means its own model.

@EdwardVincentMa can you share your model definition, a code snippet that we can just copy, past and run or a colab to reproduce your error?

[2021-01-08 20:45] tomerk commented on #39884
This should now be possible in the nightlies, by specifying a custom type_spec arg for your input layer.

[2021-01-08 20:46] #45469 closed

[2021-01-08 21:07] tanguycdls commented on #39884
Thank you  @tomerk !
I just tried it !
[code]

I close the issue

[2021-01-08 21:07] #39884 closed

[2021-01-08 21:09] Marmotte06 commented on #45888
Ok, I'll have a look at the profiler. However I don't have the 2.3.1 anymore. But maybe I'll roll back to it to get back my original performances until the 2.4 improves.

I really like your idea of putting the embeddings on the GPU (and the improved accuracy), but I get tons of those "sharding" warnings that are very disturbing. I did some research and found I would have to change all my numpy arr

[2021-01-08 21:17] kinivi commented on #41800
The same problem, model was deleted

[2021-01-08 21:18] kinivi commented on #41800
@TheBricktop I found this https://github.com/google/mediapipe/blob/master/mediapipe/modules/palm_detection/palm_detection.tflite

[2021-01-08 21:20] Emmanuel357 commented on #46109
No solution to this problem?

[2021-01-08 21:50] FlorinAndrei commented on #46274
BTW, your own documentation page is now broken, it's showing the bad output:

https://www.tensorflow.org/guide/tf_numpy#numpy_interoperability

[2021-01-08 22:52] MarkDaoust commented on #46128
Yeah, often people put `...` in examples to say "fill this in with the necessary code". it's too bad that `...` is also valid python.

 Anyway, this whole line: `tf.io.parse_example(..., features=feature_column.make_parse_example_spec(columns))` is a distraction from the function being documented here. This thing doesn't need `Examples` or parser specifications. It needs a dictionary of `SparseTen

[2021-01-08 23:11] marchss commented on #39545
could you please clarify which tensor you are referring to should be converted from sparse to dense tensors in the example code? If convert sparse tensors to dense tensors, will this cause Out of Memory issue? Thanks.

[2021-01-08 23:23] marchss commented on #35226
Same issue here. How shall we reopen the issue?

[2021-01-08 23:26] marchss commented on #36392
@crccw  This issue also happens with `tf.estimator` with MirroredStrategy, even following the tutorial.

[2021-01-08 23:50] tsagaGH commented on #44291
Renaming      cusolver64_11.dll        to        cusolver64_10.dll         also solved the issue for me.

[2021-01-09 00:13] MarkDaoust commented on #45860
Yes. @rmothukuru's link makes it clear that this is intentional.

`Keras.backend` was important when there were multiple backends. But now that there's only TensorFlow backend is much less important/useful. They chose a limited set that they thought were worth documenting.

[2021-01-09 00:13] #45860 closed

[2021-01-09 00:15] ymodak commented on #46223
Closing this issue since it's addressed. Feel free to reopen if necessary. Thank you

[2021-01-09 00:15] #46223 closed

[2021-01-09 00:19] nikitamaia commented on #45940
Hi @sseung0703, to clarify, your code runs with `MirroredStrategy` if `experimental_compile` is false. Is that correct?

[2021-01-09 00:27] #46074 closed

[2021-01-09 00:42] sseung0703 commented on #45940
@nikitamaia yes, without compiling my code works well. You can handle that parameter by argument “—compile”.

[2021-01-09 00:44] ymodak commented on #45627
Glad it worked. As per the [Limiting GPU memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) docs,

[2021-01-09 00:44] #45627 closed

[2021-01-09 01:56] Urkchar commented on #46247
I tried the fix in the first link, setting the environment variables and I still get the error. Full output: https://paste.pythondiscord.com/ujexuzaqih.apache
I'm unsure what I'm supposed to try for link1. From what I can tell, the fix was temporarily disabling some "kernels". This however was merged into the full release I think so I believe that I already have this fix. https://github.com/tensor

[2021-01-09 02:14] AngSoonKim commented on #24190
Not too sure if it helps, but I managed to solve the issue (thanks to all your hints) by changing the parameter in the DetectorActivity.java

1) private static final int TF_OD_API_INPUT_SIZE = 320; (from 300 to 320 as it was the parameter of the model)
2) private static final boolean TF_OD_API_IS_QUANTIZED = false; (from true to false)

I have also made the following changes:
-Change line 122 from

[2021-01-09 02:27] Isaac45 commented on #43623
Hi Palkos83,

I've got a way around it at my end, it might be helpful to you. The error
is related to excessive memory usage.

1. Append this just after your imports

import tensorflow as tf
config = tf.compat.v1.ConfigProto(allow_soft_placement=True)
config.gpu_options.per_process_gpu_memory_fraction = 0.3
tf.compat.v1.keras.backend.set_session(tf.compat.v1.Session(config=config))

2. I also real

[2021-01-09 03:03] thaink commented on #45981
I just tried your code on my android phone. It works just fine.

[2021-01-09 03:11] willbattel opened #46303 "Add TFLite metadata support to TensorFlowLiteSwift"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.3.0
- Are you willing to contribute it (Yes/No): No

**D

[2021-01-09 06:13] rishabhrishu commented on #43955
@shariq-audiofocus You will have to add paths`tensorflow/tensorflow` and `tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers` to your header search paths. If you don't have flatbuffers, you need to run `tensorflow/tensorflow/lite/tools/make/download_dependencies.sh`

[2021-01-09 06:16] ucasiggcas opened #46306 "ModuleNotFoundError: No module named 'tensorflow.models'"
hi,dear all friends
when I run the [cifar rp](https://github.com/tensorflow/tensorflow/blob/r0.7/tensorflow/models/image/cifar10/cifar10_train.py),
I find the problem down
could you please help me ?

[2021-01-09 06:18] ucasiggcas commented on #46306
some env
tf-1.15
cuda 10.1
nvidia 418.87
OS ubuntu 16.08

[2021-01-09 07:02] hfnvbh commented on #45981
@thaink
that interesting. Could you please share your .so files, i will check it in my phone too.

[2021-01-09 07:09] DhilipKumarDK opened #46307 "I can't find the tensorflow-lite model at the specified location(new->other->tensorflow-lite model) What should i do?"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-01-09 07:29] FGhavamian commented on #45200
Anaconda doesn't have `tf-nightly-gpu 2.5.0`. Care to elaborate on how you fix it?

[2021-01-09 07:44] #45955 closed

[2021-01-09 09:37] sahilsngh opened #46308 "Error at importing!"
### My 'tensorflow-GPU' was working fine yesterday but when I import it now it says-
 `Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Sahil Singh\AppData\Local\Programs\Python\Python38\lib\site-packages\tensorflow\__init__.py", line 41, in <module>
    from tensorflow.python.tools import module_util as _module_util
  File "C:\Users\Sahil Singh\AppData\Loc

[2021-01-09 09:52] sahilsngh commented on #46308
sorry my bad just installed `pip install tensorflow-gpu==2.3.0` it worked.
Thanks.

[2021-01-09 09:52] #46308 closed

[2021-01-09 10:12] Heizenber opened #46309 "Could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED"
**System information**
- Windows 10 Pro 2004
- TensorFlow  installed from (pip):
- TensorFlow version (2.4.0):
- Python version 3.8.1:
- Installed in anaconda venv
- CUDA version 11.0, cuDNN version 8.0.4
- GPU model gtx 1660ti, 6Gb vram:

**The code**
`import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
import tensorflow as tf
import tensorflow_datasets as tfds

import tensorflow_addons as tfa
imp

[2021-01-09 10:40] GTK-ARJUN commented on #44291
please help me to locate it from instalation file.

[2021-01-09 11:03] PureTryOut commented on #45446
Following these instructions https://google.github.io/iree/get-started/getting-started-linux-bazel, LLVM fails the same way yes.

[2021-01-09 11:57] TheBricktop commented on #41800
@kinivi do you have any idea how to convert pbtx to tflite? I need it for gpu accelerated palm and hand landmark

[2021-01-09 13:51] dev0x13 commented on #45974
Thank you! I will try to make a workaround for my model for now.

[2021-01-09 14:23] wuxianxingkong commented on #46278
[code]

[2021-01-09 14:25] wuxianxingkong commented on #46278
@amahendrakar Thanks for reply. Please check code above. I tried my best to union them all but there maybe some mistakes.

[2021-01-09 14:33] wuxianxingkong commented on #46278
Code for ParameterServerStrategy is almost the same with the code above except that I rewrite wide&deep combined model in functional way.

[2021-01-09 14:49] dtlam26 commented on #37561
Just a little sharing about this incident. Most of the problem take place by the loss and metric after running a step.
Make sure custom loss match this requirement for 2.x version:
`If using tf.keras.losses classes (as in the example below), the loss reduction needs to be explicitly specified to be one of NONE or SUM. AUTO and SUM_OVER_BATCH_SIZE are disallowed when used with tf.distribute.Strateg

[2021-01-09 15:02] amahendrakar commented on #44541
@arthurserres,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-01-09 15:03] Marmotte06 commented on #45888
I also have this warning from TF 2.4
2021-01-08 13:18:37.898614: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)

Does this have any performance impact ?

[2021-01-09 15:32] #46135 closed

[2021-01-09 15:32] #46028 closed

[2021-01-09 15:34] amahendrakar commented on #42052
@AnushangaWimalasena,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2021-01-09 15:41] amahendrakar commented on #46289
@nehasoni3,
For converting to `.tflite` format, please go through [this](https://www.tensorflow.org/lite/convert) official guide.

Also TensorFlow 1.x is not actively supported, hence I'd recommend updating TensorFlow to the latest stable version v2.4. Thanks!

[2021-01-09 16:07] nehasoni3 commented on #46289
Thanks for reply.
I have model in TFv1.12. I have tried [this.](https://gist.github.com/zhanwenchen/d628ef70e9f76525fd47d6213c30730d).
checkpoints are converted into saved model but can not converted into TFlite, its do not have signature_def

[2021-01-09 17:10] hiyamgh commented on #46291
Hello @ravikyram

Thank you for your fast response. I have upgraded to ``tf 2.4`` but now I am using this now:
[code]

and getting now another error:
[code]

[2021-01-09 17:14] hiyamgh commented on #46291
I have dumped my sample code here on this colab notebook: [https://colab.research.google.com/drive/1brMeujSY4aSJT_CG5THEL0rfsNeXspi2?usp=sharing](https://colab.research.google.com/drive/1brMeujSY4aSJT_CG5THEL0rfsNeXspi2?usp=sharing)

Thank you in advance.

[2021-01-09 18:41] kinivi commented on #41800
@TheBricktop I can mislead, but I think you can use tflite model with GPU acceleration just by checking one parameter in the interpretator.

[2021-01-09 20:11] CalebEverett commented on #45963
That looks like its working - thank you.

[2021-01-09 20:24] saberkun commented on #45854
Yes, the attention pattern is consistent with https://www.tensorflow.org/addons/api_docs/python/tfa/layers/MultiHeadAttention#arguments.

[2021-01-09 20:34] Corneliuscob opened #46310 "Dynamic library libcudnn.so.8 and libcusolver.so.10 dont load"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 20.04):
- TensorFlow installed from: p

[2021-01-09 20:42] adi1220 commented on #46306
try reinstalling tensorflow.
try : pip install tensorflow --ignore-installed --user

[2021-01-09 20:47] shubhamdo commented on #45285
I have same issue, I'm using a Ryzen 7, Nvidia 3070. My card gets recognized but does not execute any code.

Try installing on windows and ubuntu different versions of cuda, cuDNN.

I don't understand what is wrong. Some say these 30 series are not yet supported which is very surprising.

Please let me know if you find a fix.

[2021-01-09 22:32] RenoLooijmans commented on #46285
Thanks for your answer. In the meanwhile I have completely reinstalled once again and tested things on a TF-nightly build. For whatever reason this seems to have worked properly! A TFLite file has been succesfully generated. During the conversion I received some informational messages but nothing out of the ordinary.

Now I'm having the issue the following script does not work anymore - I am unabl

[2021-01-09 22:53] RenoLooijmans commented on #46285
I tracked my issue down to the shape of the input tensor not being sized correctly.

interpreter.get_input_details()[0]['shape'] gives for the WORKING model [1 320 640 3], whilst giving [1 1 1 3] for the model returning the error. I have no idea what caused the input tensor to be sized differently.

[2021-01-10 00:08] manosh7n commented on #46199
Thank you, so the error was really in the wrong conversion. I also wanted to ask you do know how to print prediction?
 I'm trying to ```print(outputTensor)``` But I get:
[code]

[2021-01-10 05:05] yongtang commented on #26069
Most of the dtypes in https://github.com/tensorflow/tensorflow/issues/26069#issuecomment-604608722 are already supported now except for `tf.qint32` (with `tf.zeros`). Added a PR #46313 to add `tf.qint32` for `tf.zeros`.

[2021-01-10 05:27] MaxxTr commented on #45935
Good day @amahendrakar.
Looks like you tested that on linux, but not on windows. Am I right ?

[2021-01-10 05:38] theumang100 opened #46314 "tensorflow.lite.python.convert.ConverterError: <unknown>:0: error: loc("batch_normalization/moving_mean"): is not immutable, try running tf-saved-model-optimize-global-tensors to prove tensors are immutable"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10 pro
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source):2.4.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

[Link to saved model](https://drive.google.com/driv

[2021-01-10 05:42] MaxxTr opened #46315 "TF ConvertedModel: Invoke fails with "Node number X (CONCATENATION) failed to prepare" error"
**System information**
- OS: Windows 10:
- TensorFlow: 2.4.0:

**Code used to infer** :
`
   # Load the TFLite model and allocate tensors.
    interpreter = tf.lite.Interpreter(model_path=tflite_model_path)
    interpreter.allocate_tensors()

    # Get input and output tensors.
    input_details = interpreter.get_input_details()
    output_details = interpreter.get_output_details()

    # Test the

[2021-01-10 06:44] emadboctorx opened #46316 "Keras model conflicting with multiprocessing"
This is not necessarily a bug with tensorflow / keras but it may be classified as incompatibility issue. I'm getting a weird error when I'm trying to run 2 class methods concurrently in a third method. After eliminating large chunks of code, one at a time, I was surprised to find out that having keras model as a class attribute in the example, leads to the error.

**Things to note:**

 - I must ha

[2021-01-10 07:50] WZMIAOMIAO opened #46317 "In different tf2 versions, the weight naming rules of creating keras model are different"
**System information**
- OS Platform and Distribution : Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip install tensorflow-cpu
- TensorFlow version (use command below): 2.1, 2.2, 2.3, 2.4
- Python version: 3.6 / 3.8

**Describe the current behavior**
I create keras model using same code, but got different results(different weight names) in different tf version.
This will pre

[2021-01-10 07:57] byronyi commented on #45573
Could you try compile your model after loading it back?

[2021-01-10 07:57] byronyi commented on #45573
See https://github.com/keras-team/keras/issues/14231

[2021-01-10 07:59] byronyi commented on #45903
Try compile your model with exact same metric again after loading it. See https://github.com/keras-team/keras/issues/14231

[2021-01-10 08:01] byronyi commented on #40342
Echo with a similar issue https://github.com/keras-team/keras/issues/14231

[2021-01-10 09:07] eli-osherovich commented on #45573
1. According to my understanding, `load_model` compiles the model by default [documentaion](https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model)
2. I tried to compile -- it does not help (as expected)
3. The notebook is available to everyone, hence, I assume that everyone (including developers) can play with compilation, evaluation sets, etc. Am I getting this wrong?
4.

[2021-01-10 09:09] eli-osherovich commented on #45537
Any update on this one?

[2021-01-10 10:52] ChWick commented on #42872
As a workaround, I added the following callback (first callback in list):
[code]

Hacky, but works...

[2021-01-10 11:14] zeknife commented on #45197
Lower the learning rate?

[2021-01-10 11:35] PureTryOut commented on #45446
Does Bazel/Tensorflow call CMake for LLVM differently somehow? The thing it's failing on currently _is_ guarded properly by CMake, and it works for the distribution packages in Alpine Linux. So what is different in Tensorflow that it somehow passes the condition while it shouldn't?

[2021-01-10 12:00] ludgerh commented on #45903
Yep, this works for me. Thank you very much!

[2021-01-10 13:40] t123yh commented on #45256
It seems that `int8` support for input and output is added in tf2.3, so unfortunately `converter.inference_input_type = tf.int8` doesn't work in tf2.2.

[2021-01-10 13:43] Saduf2019 commented on #46306
@ucasiggcas
Is there any particular reason for using old version of tf, we have 2.x later versions can you please upgrade and let us know.

[2021-01-10 14:04] Saduf2019 commented on #46288
@bhack
Our standard replies have "request for dependencies" which is the request for model used by user [so we could replicate the issue faced].

[2021-01-10 14:09] bhack commented on #46288
Yes I understand but if the user can share a small model definition and saving code to reproduce this instead of only the saved model Is better for debugging the issue directly than make another round to request model definition.

Generally I think that if the user could minimize the code surface to reproduce the bug and not exactly share Its working example directly It Is faster to triage ISSUES.

[2021-01-10 14:41] #46120 closed

[2021-01-10 14:48] taylrcawte commented on #45611
@ymodak
UPDATE:

For whatever reason when run in the IDE terminal an error message was being suppressed and ```Process finished with exit code -1073740791 (0xC0000409)``` was logged as the error message.

When run from the command line the below error messages were displayed instead of logging the exit code error.
[code]
I recognized this was a package included in the cudnn library and copy and pa

[2021-01-10 14:48] #45611 closed

[2021-01-10 15:42] akeem377 opened #46318 "code's"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2021-01-10 16:52] ashishsme14 opened #46319 "Optimization using Tensorflow issue"
We had given below test case, we written all steps as per instructions. nit sure when we went wrong. Please guide us -

We will look at three scenarios here -

- Tuning different optimisation algorithms,
- Tuning learning rate and momentum of SGD optimizer
- Tuning beta values of Adam optimizer

[code]

- Load the Dataset
- Load the iris dataset using load_iris() function.
- Store the data of the

[2021-01-10 17:11] amahendrakar commented on #46310
@Corneliuscob,
Could you please go through the comments from issues [#43947](https://github.com/tensorflow/tensorflow/issues/43947#issuecomment-715295153), [#45848](https://github.com/tensorflow/tensorflow/issues/45848#issuecomment-748130779) with a similar error log and check if it helps. Thanks!

[2021-01-10 17:53] summa-code commented on #46128
I am little bit confused. So the example given looks like self contained. We are trying to extract the inputs. In the example given above what do you think goes in ... ? There is one numeric and and one categorical feature.

[2021-01-10 19:10] yongtang commented on #46064
Added a PR #46321 for the fix.

[2021-01-10 21:04] rarazac commented on #41448
Also stuck with this issue, any updates?

[2021-01-11 00:07] MiladShahidi commented on #46282
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.

[2021-01-11 00:08] MiladShahidi commented on #46282
Thank you for your response @ravikyram. I'd be more than happy to submit a PR for this.

[2021-01-11 00:20] ddavis-2015 opened #46323 "micro: port op ELU from lite"
@tensorflow/micro

This issue tracks my work porting operator ELU from lite to micro.

The port will be submitted in a number of PRs. Here's a rough flight plan per @advaitjain and @petewarden:

PR 1: Extract the code for parsing the op from a flatbuffer out of ParseOpDataTfLite in tensorflow/lite/core/api/flatbuffer_conversions.cc into a standalone function that can be called from micro's op reso

[2021-01-11 00:29] huangyhg commented on #46121
yw, please close it, thanks.

[2021-01-11 01:27] abattery commented on #46285
Could you try using the new signature API? If there are multiple outputs in the model, the order of the output tensors can be changed.

[2021-01-11 01:30] abattery commented on #46314
Sorry for encountering this issue. The mutable variable cases are currently not supported by TFLite. We are working on this. I will update this thread once it is ready to use.

[2021-01-11 02:19] NeoZhangJianyu commented on #45783
@Dockyin

It's great to find the root cause!

Thank you!

[2021-01-11 02:21] xumengwei commented on #46073
@daverim thanks for digging into it! Regarding your revised code, I have a confusion: the layer `also_non_quantized ` is annotated as quantized; although it's not really quantized because its input is not quantized, but won't its weights be quantized anyway? If not, what's the way to do weights-only quantization for certain layers?

[2021-01-11 02:52] thaink commented on #45981
The lib file is here https://github.com/thaink/upload_files/tree/main/TF_PR45981
By the way, the error log you show doesn't look like a linking issue.
If you face the error, could you upload the full log?

[2021-01-11 02:57] lifeiwen commented on #46280
@Saduf2019 Thanks for your advice，I installed tensorflow2.5 on Nvidia 3090 and trained my code，But I got some similar errors

[2021-01-11 03:00] thaink commented on #45933
Should it be fixed in runtime side?

[2021-01-11 03:02] lifeiwen commented on #46280
@Saduf2019 Below is my running log，I have verified that there is no problem with the data, and I really can’t understand why such a problem occurs during the training process. Looking forward to your reply.：
ep 35 i 40 psemce 0.0 bbvert -0.26186523 l2 0.050587684 ce 0.34921426 siou -0.66166717 bbscore 0.00023075327 pmask 0.40985933
ep 35 i 40 test psem 0.0 bbvert -0.29428068 l2 0.10698747 ce 0.166

[2021-01-11 03:06] thaink commented on #46315
Could you set a value for batch size instead of None and convert it again?

[2021-01-11 03:16] Yangwenchao1998 commented on #40804
Download CUDA and cuDNN from NVIDIA, and try again.

[2021-01-11 03:44] lifeiwen opened #46324 "tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found."
System information：

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 18.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
TensorFlow installed from (source or binary): source
TensorFlow version (use command below):2.5
Python version:3.6

[2021-01-11 04:13] Saduf2019 commented on #46318
@akeem377
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-01-11 04:18] wangwei-cmd opened #46325 "Can't create notrainable variables in the __ini__ function in tf.keras.layers.Layer."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): from conda
- TensorFlow version (use command below):  2.3
- P

[2021-01-11 04:34] donglinz commented on #45325
Greetings! Any update on this?

[2021-01-11 04:43] Saduf2019 commented on #46273
@pranathibl
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced]

[2021-01-11 04:48] #45976 closed

[2021-01-11 05:02] vikramdattu commented on #46083
@felixcollins can you please raise an PR for the fix so it can be merged?

[2021-01-11 05:05] xqr-g opened #46329 "model with "tf.keras.layers.Embedding" and "trainable=False" will be loaded as "trainable=True" after saving"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: No
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**:
-   **TensorFlow installed from (source or binary)**: source
-   **Tensor

[2021-01-11 05:22] ravikyram commented on #46282
@MiladShahidi

Thanks for your interest in submitting PR.
I have tried in colab with TF version 2.3, 2.4 and nightly version(`2.5.0-dev20210110`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/70c1e8a714c17d4b288b246e04324bf0/untitled606.ipynb).

 Please, submit a PR .Thanks!

[2021-01-11 05:40] ucasiggcas commented on #46306
some function not in tf2.x?
what should I do ?

[2021-01-11 05:40] ravikyram commented on #46317
I have tried in colab with TF 2.0,2.1,2.2,2.3 and i am seeing the below results.
[code]
With TF 2.4 and nightly version(`2.5.0-dev20210110`). I am seeing different results.
[code]
PLease, find the gist [here](https://colab.research.google.com/gist/ravikyram/d678117eb1fb07e12090b4dd8a1171dc/untitled607.ipynb).Thanks!

[2021-01-11 05:41] ucasiggcas commented on #46306
such as tf.placeholder,tf.Session

[2021-01-11 05:43] manosh7n commented on #46199
Figured out the problem. Thank you again

[2021-01-11 05:43] #46199 closed

[2021-01-11 05:53] ravikyram commented on #46291
@hiyamgh

Can you please refer similar SO issues [link1](https://stackoverflow.com/questions/22175489/numpy-valueerror-the-truth-value-of-an-array-with-more-than-one-element-is-ambi/22175725) , [link2](https://stackoverflow.com/questions/10062954/valueerror-the-truth-value-of-an-array-with-more-than-one-element-is-ambiguous) and see if it helps you. Thanks!

[2021-01-11 05:57] serser commented on #22042
Same issue, is this issue solved? Changing `AdaGrad` to `Adam` works (in GPU/CPU mixed mode). It seems to be the problem of `AdaGrad` (which works only if completely in CPU mode).

[2021-01-11 06:43] MaxxTr commented on #46315
@thaink  thank you for the proposal, but the question is how can I define that ?
Because the net was trained with some batch size, and I failed to find any TF API allow to define batch size during model compilation...

[2021-01-11 06:48] #45971 closed

[2021-01-11 07:05] wuxianxingkong commented on #46278
I use tf.print('position_flag_x', tf.timestamp()) to check execute time in one step(Multi worker strategy), I found that there were two place costs lots of time:

1. wide model inference: cost 3 seconds
2.the time between one step end and next step start: cost about 30 seconds which is almost the same as Collective OP time
 shown in TF Profiler.

[2021-01-11 07:17] andyDoucette commented on #252
Does anyone have any specific instructions for making this work?  I tried both version 2.3.1 (my desired version) and trying to pip install from the git repo and got this message:

[code]

[2021-01-11 07:23] ucasiggcas commented on #46306
[code]

[2021-01-11 07:49] THULiusj opened #46330 "Encountered error when building tensorflow with TPU support"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: source
-

[2021-01-11 07:59] rmothukuru commented on #45634
@jonas-eschmann,
Can you please respond to the above comment? Thanks!

[2021-01-11 08:00] rmothukuru commented on #45982
@marcusobrien,
Can you please respond to the above comment? Thanks!

[2021-01-11 08:01] rmothukuru commented on #46123
@tianhuat,
Can you please respond to the above comment? Thanks!

[2021-01-11 08:08] rmothukuru commented on #45914
@GooseXP,
Can you please respond to [@fchollet's message](https://github.com/tensorflow/tensorflow/issues/45914#issuecomment-756373652)? Thanks!

[2021-01-11 08:13] MJimitater commented on #46096
Same issue here! Any solutions?

[2021-01-11 08:23] cycks commented on #45308
I was trying to reproduce the instruction [here](https://www.tensorflow.org/install/gpu) I was doing it in version20.04.
I started by running `ubuntu-drivers devices` to find the recommended drivers for my version. The recommended version is `nvidia-driver-455 - third-party free recommended`.

Using the instructions [here](https://www.tensorflow.org/install/gpu#ubuntu_1804_cuda_110).
I replaced 18

[2021-01-11 08:33] rmothukuru commented on #46252
@aCampello,
It is resulting in `error` but can you please give some Real World Use Cases where and why we execute **`model.fit`** immediately after another **`model.fit`** command because, executing the entire cell, with a single **`model.fit`** command any number of times is not resulting in error. Please find [the Gist](https://colab.research.google.com/gist/rmothukuru/653a49aba124e384db87cfa11c

[2021-01-11 08:35] RayGuo-C opened #46332 "The final solution for the sigmoid_cross_entropy_with_logits is different between tensorflow 1.0 and tensorflow 2.0"
Under the version of tensorflow 2.40, we run following codes:
[code]
However, when I run the above codes by this way:
[code]
As both the results are scalar, but the error is too large between these two versions.
Could you please explain it? Thank you very much.
Additionally, the initial weights for neural layers between TensorFlow v1.0 and v2.0 are also seemly different. Is that so?

[2021-01-11 08:43] amahendrakar commented on #46307
@DhilipKumarDK,
In order to reproduce the issue reported here, could you please provide the TensorFlow version, the complete code and the dataset you are using. Thanks!

[2021-01-11 08:46] sinduke opened #46333 "Docker install"
Mac OS Big Sur 11.0.1
Docker

Mount local warehouse

 sudo docker run -itd -p 8888:8888 -v /Users/kh/Desktop/Tensorflow/work:/work tensoflow/tensorflow:2.2.0-jupyter bash

The operation failed.
Error content:
Unable to find image 'tensoflow/tensorflow:2.2.0-jupyter' locally
docker: Error response from daemon: pull access denied for tensoflow/tensorflow, repository does not exist or may require 'do

[2021-01-11 08:56] DhilipKumarDK commented on #46307
I was using android studio 4.0.1 ver which didnt have the tfmodel and Thank
you for your concern

On Mon, 11 Jan 2021, 2:14 pm Abhilash Mahendrakar, <notifications@github.com>
wrote:

[2021-01-11 09:06] tianhuat commented on #46123
For example, you can see this:
https://stackoverflow.com/questions/59857152/nan-loss-in-keras-with-triplet-loss

[2021-01-11 09:37] Brucewuzhang commented on #40907
I checked the source code and found that you can try this:

class MyModelCheckpoint(tf.keras.callbacks.ModelCheckpoint):
    def __init__(self, **kwargs):
        super(MyModelCheckpoint, self).__init__(**kwargs)

    def on_train_batch_end(self, batch, logs=None):
        if (batch + 1) % self.save_freq == 0:
            logs['batch'] = batch + 1
            self._save_model(epoch=self._current_e

[2021-01-11 09:43] chamikara1998 commented on #38491
in configuration, i select not to download clang. Then it worked for me
./configure

[2021-01-11 09:44] arsenal-2004 opened #46334 "Error when compiling a fully-integer quantized model for the EdgeTPU"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): tf-nightly

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter inv

[2021-01-11 09:45] aCampello commented on #46252
Hi @rmothukuru. Thanks for helping with this!

This is a made up example, but there are a number of real cases where you would like to fit multiple times. For instance, if you are working on a Jupyter notebook, you might want to run `.fit` for a couple of epochs, do something else, then run `.fit` for a couple more, etc, especially when you are iterating your model/try to define your architecture.

[2021-01-11 09:48] #46003 closed

[2021-01-11 09:53] zhaohb commented on #42673
@abattery now I have the same problem, II tested my code with TF 2.2 and TF-nightly 2.5, but encountered the same problem.

`frozen_func = convert_variables_to_constants_v2(full_model)
 frozen_func.graph.as_graph_def()`

Can you give me some advice， thank you very much！

[2021-01-11 10:00] abattery commented on #42673
We do not have a plan to support resource type freezing through the `convert_variables_to_constants_v2` method. If you are converting the given model to TFLite, please use `TFLiteConverter.from_saved_model` in TF v2.

[2021-01-11 10:04] abattery commented on #46334
@jingpu could you take a look at this?

[2021-01-11 10:08] zhaohb commented on #42673
But if I want to use resource type freezing , I want to implement it myself, can I have some suggestions?

[2021-01-11 10:20] shanakap opened #46336 "3D SparseTensor matrix multiplication with 2D Tensor :InvalidArgumentError: Tensor 'a_shape' must have 2 elements [Op:SparseTensorDenseMatMul]"
**System information**
- TensorFlow version 2.4:

Trying to do a 3D SparseTensor matrix multiplication with 2D Tensor. Here is a toy example:
[code]
expected result(1, 1, 4):
`[[[7., 0., 2., 8.]]]`

but output some errors actually :
[code]
Can you please add the possiblity to do 3D SparseTensor matrix multiplication with 2D Tensor? Similar to 3D Tensor multiplication with 2D Tensor

[2021-01-11 10:20] sailor002 commented on #42190
@srjoglekar246  [Here](https://drive.google.com/file/d/1P87Nv0zxdxTm0ddtRlazRYrY2AUG8oik/view?usp=sharing) is the dynamic quantization model. And [here](https://drive.google.com/file/d/1CRdDzNBdVZqir57cPyFBrm7SVFLdEWcT/view?usp=sharing) is the integer quantization model.

I run on CPU because when I run on GPU, I get several other errors:
"
2021-01-05 13:55:14.157800+0300 TfLite Test[5624:2088575]

[2021-01-11 10:46] greenzeal commented on #44609
Today I hit the error building the framework with Xcode 12.3 `Building for iOS Simulator, but the linked and embedded framework 'ITLogin.framework' was built for iOS + iOS Simulator.` Which was working with Xcode 12.2 With Xcode 12.3 it is not a feature anymore, it is a bugfix.
It is time to move to XCFrameworks. Lots of big and small companies are already doing this.

https://gist.github.com/evni

[2021-01-11 10:48] #45960 closed

[2021-01-11 10:48] AlexanderMelde opened #46337 "Export all Types of python.keras.type as module (for type hints)"
**System information**
- TensorFlow version (you are using): 2.4.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

When using type hints in python, it might be necessary to access the parent classes of e.g. keras layers.

They are defined in the file [tensorflow/tensorflow/python/keras/type/types.py](https://github.com/tensorflow/tensorflo

[2021-01-11 11:01] mohdhamzahkhan commented on #45864
I am trying to perform transfer learning using tf hub speech embedding . I was able to train it in tf 1.15 but to convert it to tflite
I used tf 2.4 as tf 1.15 was giving errors. I was successfully able to  convert the model but I am not able to make predictions
for tf 2.4. my error is
  RuntimeError: Container __per_step_0 does not exist. (Could not find resource: __per_step_0/_tensor_arraysTenso

[2021-01-11 11:01] Saduf2019 commented on #46306
@ucasiggcas
Can you please try the below code instead and let us know, please refer to [this gist](https://colab.research.google.com/gist/Saduf2019/c45816d2a93c909fa7efe71fd486ea4f/untitled493.ipynb).
[code]

[2021-01-11 11:03] sonal-511 commented on #45864
I am trying to perform transfer learning using tf hub speech embedding . I was able to train it in tf 1.15 but to convert it to tflite
I used tf 2.4 as tf 1.15 was giving errors. I was successfully able to convert the model but I am not able to make predictions
for tf 2.4. my error is
RuntimeError: Container __per_step_0 does not exist. (Could not find resource: __per_step_0/_tensor_arraysTensorAr

[2021-01-11 11:39] GooseXP commented on #45914
@rmothukuru @fchollet Thank you both for your help but as stated previously I checked the changelog and resolved the issue.

[2021-01-11 11:39] #45914 closed

[2021-01-11 12:23] amahendrakar commented on #46316
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1a7cb5107672b21361f9cdb6024bdb49/46316.ipynb). Thanks!

[2021-01-11 12:40] amahendrakar commented on #46319
@ashishsme14,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2021-01-11 12:47] TimBeckerAachen commented on #42931
I am facing the same issue. However, I want to fetch the model from a cloud bucket. The fetching takes some time. Therefore, I would prefer to do it only once. Do I understand it correctly that if I want to use this solution, I would need to save the model locally and then load the locally stored model for every process?

[2021-01-11 12:48] #45969 closed

[2021-01-11 12:49] ngotra2710 commented on #9489
In my case, I try to limit the GPU memory by adding these lines of code on top of my code. (tensorflow==2.4.0)
`import tensorflow as tf
from tensorflow.python.keras.backend import set_session

config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True  # dynamically grow the memory used on the GPU
config.log_device_placement = True  # to log device placement (on which device the op

[2021-01-11 12:51] amahendrakar commented on #46325
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/4dcfb2028a9a52919d8b86f79b707b1b/46325-tf-nightly.ipynb). Thanks!

[2021-01-11 13:07] jjrugui commented on #37653
@kklmdev I am going to check your workaround right now since I am experiencing memory leaks using the `from_generator` method.

If I understand from your snipped provided in Colab, the dataset is cleared at every iteration. Would you do this periodically but not necessarily every step? I'm asking this because it seems that if the dataset is cleared at every step there is no gain in terms of cachin

[2021-01-11 13:29] AiaHaruv opened #46340 "Issue with generating examples for loaded estimator when running with tf.function"
**System information**
- I've written a code to generate examples for a loaded estimator, based on https://www.tensorflow.org/tutorials/load_data/tfrecord
- OS Platform and Distribution: Linux Ubuntu 18.04.5
- Python version: 3.7.4
- Tensorflow : 2.4.0

**Describe the current behavior**
I am loading a saved boosted trees estimator using tf.saved_model.load(model_path)
Then, to predict on a new exa

[2021-01-11 14:10] Andjela010 commented on #41954
During handling of the above exception, another exception occurred:

Traceback (most recent call last):

  File "C:\Users\PC\Desktop\kodak.py", line 3, in <module>
    from keras.datasets import imdb

  File "C:\ass\lib\site-packages\keras\__init__.py", line 5, in <module>
    raise ImportError(

ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow`

[2021-01-11 14:25] max-poltora commented on #46042
@ymodak, thank you for the reply. I have indeed posted this issue on Rstudio and was able to make application run, when upgrading my plan to basic. However, now I see another error message in logs:

[2021-01-11 14:31] nikitamaia commented on #45337
[Linking to the section](https://www.tensorflow.org/guide/function#loops) in the @tf.function guide that explains how using autograph makes it easier to write control flow (so you don't have to use `tf.while_loop`).

[2021-01-11 14:36] Aarshiya1 commented on #37525
when i run the run_webcam.py command. i get this error. how can i solve this issue.
i have tensorflow 2.4.0 version but i have tensorflow 2.1.0 gpu installed.
 i get this issue.
Traceback (most recent call last):
  File "run_webcam.py", line 8, in <module>
    from tf_pose.estimator import TfPoseEstimator
  File "C:\Users\User\tf-pose-estimation\tf_pose\__init__.py", line 5, in <module>
    from t

[2021-01-11 14:41] mvoelk commented on #33131
Not solved, TensorFlow still sucks!

[2021-01-11 14:42] MarkDaoust commented on #46128
This line:

[code]

 Should be something like:

[code]

[2021-01-11 14:48] rossmessing commented on #45941
Here's a minimal sample:
[code]

With Keras 2.2.0 it outputs `[[1, 2, 4, 3, 5, 8]]`
With Keras 2.2.1 it outputs `[[2, 3, 5, 4, 6, 1]]`

[2021-01-11 14:48] kkimdev commented on #37653
@jjrugui Yes that sounds reasonable, but let's first confirm that the memory leak could be resolved by using the wrapper.

[2021-01-11 15:03] pnovapps commented on #46142
I tracked down the cause of the issue to the use of a masking layer in the tensorflow model

  tf.keras.layers.Masking(mask_value=0., input_shape=(timesteps, features)),

 removing this line from the sequential keras model and everything works as expected.

I didn't find anything saying that masking is not supported in tflite. If it is not supported the converter should display an error rather tha

[2021-01-11 15:12] MaxxTr commented on #46315
@thaink  I succeeded to get to the following TF net state:

`
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(1, 300, 300, 3)]   0
__________________________________________________________________________________________________
identit

[2021-01-11 15:16] amahendrakar commented on #46332
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3852767666465681d46de65adb79be5d/46332.ipynb). Thanks!

[2021-01-11 15:27] tgpsantos commented on #35632
@impjdi , [here it is](https://we.tl/t-GOEGyHTmqS). Thank you in advance

[2021-01-11 15:37] espears1 commented on #45941
@rossmessing Thank you - great example!

@jvishnuvardhan @amahendrakar consider the above example and what happens if you use this tokenization scheme to fine-tune a model with an Embedding layer. Suppose the model was originally trained in keras 2.2.0. Within the Embedding layer, index `8` is for out-of-vocabulary words, and the embedding weights for that token index are learned for that purpose.

[2021-01-11 15:39] aohan237 commented on #33131
So choose pytorch

[2021-01-11 15:40] fjsh84 commented on #28053
Hi
with NVIDIAe  Geforce GT 525m i  have this error for this code device_lib.list_local_devices(session_config=None):
RuntimeError: failed to get compute capability major for device: UNKNOWN ERROR (1); 0
Is this because of my compute capability (2.1)?

[2021-01-11 16:01] Saduf2019 commented on #46280
@lifeiwen
please share stand alone code for us to replicate the issue faced with dependencies.

[2021-01-11 16:08] Anmol-Sharma opened #46342 "Minor Bug in estimator/tensorflow_estimator/python/estimator/canned/dnn.py"
**System information**
- Model Example : https://www.tensorflow.org/api_docs/python/tf/estimator/DNNClassifier
- OS Platform and Distribution : MacOS 11.1
- TensorFlow installed from : Binary (pip)
- TensorFlow version : 2.4.0
- Python version: 3.8

**Current Behavior : Error**

I was training a DNN Classifier recently and customizing the model as per the example mentioned in the link above.

Here

[2021-01-11 16:09] Saduf2019 commented on #46293
@vforvoid
Please share the code you have executed on your local,such that we can replicate the issue faced.

[2021-01-11 16:11] Saduf2019 commented on #46309
@Heizenber
Please refer to this resolved issue and let us know:#45779, #42298, #34214

[2021-01-11 16:14] mihaimaruseac commented on #40614
@samcom12 note that this issue only results in a warning, the build succeeds. So it is likely your issue is different.

To set the environment variable you have to use `export` or similar constructs for your shell.

[2021-01-11 16:18] amahendrakar commented on #46289
@nehasoni3,
Could you please check if you are facing the same issue with TF v2.4 as well? Thanks!

[2021-01-11 16:31] mihaimaruseac commented on #45446
Bazel doesn't use cmake to configure the build.

[2021-01-11 16:32] Nekto89 opened #46343 "Missing headers (TensorFlow C, 2.4.0, Windows)"
- OS Platform and Distribution: Windows
- TensorFlow installed from: https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-windows-x86_64-2.4.0.zip
- TensorFlow version: 2.4.0

Windows archive seems to be missing some header files. This leads to errors during build
`tensorflow/c/tf_tensor.h(22,10): fatal error C1083: Cannot open include file: 'tensorflow/c/c_api_macros.h': No s

[2021-01-11 16:34] amahendrakar commented on #46210
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. The output is as follows

- TF v2.3
[code]
- TF v2.4
[code]
- TF-nightly i.e. v2.5.0-dev20210111
[code]

Thanks!

[2021-01-11 16:34] mihaimaruseac commented on #45434
I think #46147 fixes this

[2021-01-11 16:34] #45434 closed

[2021-01-11 16:36] mihaimaruseac commented on #46044
The sed issue is resolved by #46147. We will likely cherrypick this one on the 2.4 branch before doing a patch release.

[2021-01-11 16:48] #45968 closed

[2021-01-11 16:48] #45965 closed

[2021-01-11 16:50] Brendan-Richards commented on #46096
I also have this issue.

Windows 10: Version: 10.0.18363
Python version: 3.8.5
tf version: 2.4.0

It runs fine in the Colab notebook: https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/text/classify_text_with_bert.ipynb
but not in my local jupyter notebook

[2021-01-11 16:51] mihaimaruseac commented on #46108
Duplicate of #45744 #45866 and a few more. We already have a fix, cherrypicked to the 2.4 branch and waiting for patch release.

[2021-01-11 16:51] #46108 closed

[2021-01-11 16:57] mihaimaruseac commented on #46282
Known issue, should be fixed in 2.5 with the switch to modular filesystems.

[2021-01-11 16:57] PureTryOut commented on #45446
Oh, it doesn't use LLVM's own build system at all? How strange, why would you ever do that?

In that case, is there anyway to replicate what https://github.com/tensorflow/tensorflow/issues/45446 does in https://github.com/google/llvm-bazel/ then? As that is basically what should be happening but isn't currently and would fix the issue.

[2021-01-11 16:58] mihaimaruseac commented on #46318
Looks like spam issue

[2021-01-11 16:58] #46318 closed

[2021-01-11 17:00] yongtang commented on #43261
I think this issue will be fixed with PR #46321

[2021-01-11 17:00] mihaimaruseac commented on #45446
Bazel has a different way of representing the build dependencies than CMake.

Note that llvm-bazel only has the BUILD files, not the LLVM source code. To properly build, you need to import both the source code and the BUILD files and merge them together.

[2021-01-11 17:01] karimnosseir commented on #42929
Sorry for the late reply.
libhexagon_nn_skel are not ARM compiled, you should package them with your AAR.
See instructions
https://www.tensorflow.org/lite/performance/hexagon_delegate

Thanks

[2021-01-11 17:08] PureTryOut commented on #45446
Sure, in case of Tensorflow already handles that merging together luckily. But how would I replicate the CMake check LLVM does in Bazel? This Bazel build system is completely new to me and so far hasn't been fun...

[2021-01-11 17:09] srjoglekar246 commented on #42190
@sailor002 Looks like you are trying to use 5-dim tensors, which are not well-supported on the GPU delegate. You will probably need to use different ops or reshape or something like that. Also, your model contains [TF Select ops](https://www.tensorflow.org/lite/guide/ops_select) for which you need to add some BUILD dependencies. See the linked docs for details.

Usually, simple Convolutional archi

[2021-01-11 17:15] skribm9 commented on #45921
Hi @advaitjain , just posting an update here..
In tensorflow release 2.4.1, this solution causes regression to `//tensorflow/lite/micro/kernels:fully_connected_test` and similarly, fix in  `depthwise_conv.h` causes `//tensorflow/lite/micro/kernels:depthwise_conv_test` test case to fail.
It seems that these tests require `bias_data` to be in Little Endian format and is handling data accordingly whi

[2021-01-11 17:16] allenlavoie commented on #45539
My guess is that this worked with 1.x TensorShape, but in 2.x slicing a shape returns a literal value instead of a Dimension object. So one simple fix would be to use `tensor.shape.dims[index]` instead of `tensor.shape[index]`. A PR for that sounds fine, and it'd be good to have a unit test if so.

This function isn't part of the public API. Could you switch to [`GradientTape.batch_jacobian`](http

[2021-01-11 17:25] vforvoid commented on #46293
Basically it's a fragment of a [Classify text with BERT notebook](https://www.tensorflow.org/tutorials/text/classify_text_with_bert)

[code]

[2021-01-11 17:29] amahendrakar commented on #46177
Was able to reproduce the issue with TF v2.3, TF v2.4 and TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5962f4656dfed02cfb0a8d4495c0ad01/46177.ipynb). Thanks!

[2021-01-11 17:36] ravikyram commented on #46333
@sinduke

Can you try with latest stable TF version 2.4 and see if the issue still persists.
Still if you are facing the issue please Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2021-01-11 17:48] #46005 closed

[2021-01-11 17:49] jingpu commented on #46334
@arsenal-2004 Could you attached the converted TFLite model?

[2021-01-11 17:49] mihaimaruseac commented on #45446
I think it's better to raise a bug on Bazel's repo.

[2021-01-11 17:50] stanleyjzheng commented on #46249
Downgrading to tf2.3 did not work for me, and isn't an acceptable solution due to the lack of support for CUDA 11 and CUDNN 8. However, saving the model as weights and then loading as weights worked (as opposed to loading the entire model). This behaviour can be found in Intel Unet. https://github.com/IntelAI/unet/tree/master/3D
Simply run `python train.py --data_path $DECATHLON_ROOT_DIRECTORY --e

[2021-01-11 17:52] CubasMike opened #46344 "tf.keras.callbacks.BaseLogger() is broken since "metrics" is no longer a key in Callback.params dict"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Oracle Linux Server 7.4
- TensorFlow version (use command below): v2.3.0-54-gfcc4b966f1 2.3.1
- Python version: 3.8.5

**Problem description**
I get an error when using tf.keras.callbacks.BaseLogger() since "metrics"

[2021-01-11 17:53] ravikyram commented on #46329
I have tried in colab with TF version 2.4, nightly version (`2.5.0-dev20210111`) and was able to reproduce the issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/8d793a53aeddd21ebcd250565363ec39/untitled608.ipynb). Thanks!

[2021-01-11 18:21] summa-code commented on #46128
So this looks like feeding the actual sequence for building the model. And should there be a "," between ratings and watches ? There was a dimension issue in the watches array, Now it is throwing some other error.

features = {
 'rating': tf.sparse.from_dense([[1.0, 1.1, 0, 0, 0], [2.0, 2.1, 2.2, 2.3, 2.5]]),
 'watches': tf.sparse.from_dense([[2, 85, 61, 0, 0, 0], [33, 92, 2, 73, 1, 3]])
}
sequenc

[2021-01-11 18:26] summa-code commented on #46128
I am just looking for a simple usage example for SequenceFeatures with couple of different sequence columns.

[2021-01-11 18:29] arsenal-2004 commented on #46334
@jingpu I have attached the TFLite model as part of the Zip file.

Thank you for your help :)

[2021-01-11 18:40] arsenal-2004 commented on #46334
@jingpu I have also attached the original Saved_Model, in case you want to convert it with some different settings.

[2021-01-11 18:41] #41739 closed

[2021-01-11 18:53] MarkDaoust commented on #46128
All sets of sequences need the same shapes. In my earlier post they didn't match.

This works:

[code]

[2021-01-11 18:55] lamberta commented on #41739
Thanks, all.
https://github.com/tensorflow/tensorflow/commit/8ab9ab6217aba0b771f05b3bd883ee33ae860931 clarifies that TensorFlow has taken special care to not reference any restricted code and removes the GPL from that license section.

[2021-01-11 18:56] fanto88 opened #46345 "Model converted does't recognize image properly"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow version (or github SHA if from source):2.4.0

Hi all, i'm trying to make this model: [SSD MobileNet V2 FPNLite 320x320](http://download.tensorflow.org/models/object_detection/tf2/20200711/ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8.tar.gz)
recognizing my face instead of all other objects of

[2021-01-11 19:00] nluehr commented on #28053
Hi, @fjsh84. TensorFlow requires a compute capability of at least 3.5 per https://www.tensorflow.org/install/gpu. The CUDA toolkit has also removed support for Compute Capability 2.x hardware. The specific error you note is more likely caused by the NVIDIA driver or CUDA runtime not being configured correctly. But that doesn't really matter given that the hardware wouldn't be supported anyway.

[2021-01-11 19:02] lu-wang-g commented on #46303
@willbattel Thanks for filing the issue! You're right, the swift metadata API is in our roadmap. We've been prioritizing TFLite high level API (Support library / Task library / Metadata) for Android (Java) and native users, and only covers very little for iOS (Task library NL cases). Let's use this issue to track any future updates we may have for the swift metadata API.

[2021-01-11 19:07] GMNGeoffrey commented on #45446
Hey there. The version of LLVM build files used by TF is *not* the same as the one at https://github.com/google/llvm-bazel. Both versions hardcode `HAVE_MALLINFO=1`, however, so yes unsurprising this doesn't work. Since the goal of those build files does not include building LLVM in every configuration it supports, configurability is added in an ad-hoc manner. If you want to be able to build TF on

[2021-01-11 19:07] jingpu commented on #46334
I looked at the converted TFLite model. The weight of the "model/depthwise_conv2d_3/depthwise" node is INT8 type but doesn't have quantization parameter, which causes the Edge TPU compiler to raise the error.
@abattery Could you take a look if the conversion is correct?

[2021-01-11 19:14] arsenal-2004 commented on #46334
@jingpu How did you check that? I used Netron and it does show a quantization parameter, although it's quite small.
![image](https://user-images.githubusercontent.com/32266223/104227304-2e4f8b00-546f-11eb-8dd9-38c73c7b9d80.png)

[2021-01-11 19:17] vforvoid commented on #46293
Side question: is there any way to read [BERT EN Uncased Preprocess model's code](https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/2)? I tried to search for its [bert_pack_inputs](https://github.com/search?q=org%3Atensorflow%20bert_pack_inputs&type=Code) function code, no luck.

[2021-01-11 19:21] xqr-g commented on #44403
I am also getting the same bug, with save/load keras model during test. Hope there can be workaround to silence the warning.

[2021-01-11 19:22] jingpu commented on #46334
The input and output do have quantization parameters, but the weights and bias don't.

![image](https://user-images.githubusercontent.com/2155368/104228115-3e2f8680-53ff-11eb-8182-35aab1b5225e.png)

[2021-01-11 19:25] arsenal-2004 commented on #46334
Oh okay. I guess I misunderstood. I thought that since even the Conv2D nodes do have a quantization parameter for the 'filter' and 'bias', none of the nodes would have it

[2021-01-11 19:35] MiladShahidi commented on #46282
Thanks @mihaimaruseac. So, should I still submit a PR? Or is it already taken care of?

[2021-01-11 19:39] steve3nto commented on #45079
that loss function indeed should get only one input, cause it's a simple logistic regression over the cosine similarity, which is a scalar in the range [-1,1]
Did you forget maybe to do the average of the enrollment utterances and then take the cosine similarity with the evaluation utterance before adding the logistic loss layer?

cosine_distance should return a scalar... It's the scalar product o

[2021-01-11 19:40] MeghnaNatraj commented on #45305
Re-open the issue if it's still not fixed. It looks like the model gets generated without a Reshape in the last layer using TF 2.4.0. Could you verify if this is the case for you?

[2021-01-11 19:40] #45305 closed

[2021-01-11 19:40] impjdi commented on #35632
@tgpsantos I've verified that your model works fine on a Pixel 4 OpenGL and OpenCL.  I'll ping the team whether anyone can reproduce this on any of their machines they have.

[2021-01-11 19:41] advaitjain opened #46347 "layering check mismatch between internal and open-source TFLM bazel builds"
@tensorflow/micro

The Google-internal bazel builds have layering checks turned on while the open-source builds do not. This results in PRs passing external checks but then failing internally (see https://github.com/tensorflow/tensorflow/pull/46242 as an example).

If we can have the same behavior in the OSS bazel build then there will be one less discrepancy between the internal and open-source b

[2021-01-11 19:43] jingpu commented on #46334
I dug a little more. It seems like the weights have quantization parameter but it is using per-axis quantization and Netron fails to visualize it.

And so the real issue is for one of the axis the quantization scale is zero, which I think it is a bug in the quantizer of the TFLite Converter.

[2021-01-11 19:47] tlplayer opened #46348 "Set CUDA Version Manually"
I was using TF 2.4 and my machines were already configed with CUDA 10.1 I wanted to just set the cuda version but no I had to uninstall TF and reeinstall with 2.3 kinda frustrating wish I could just tell it what CUDA version I had.

**Describe the feature and the current behavior/state.**

**Will this change the current api? How?**

**Who will benefit with this feature?**

**Any Other info.**

[2021-01-11 19:49] #22803 closed

[2021-01-11 19:54] impjdi commented on #35632
@tgpsantos A teammate ran your model on a Huawei P9 (Mali T880MP4) and it worked fine, matching the CPU output.  Can you sync to the latest master branch and double-check?

[2021-01-11 20:05] arsenal-2004 commented on #46334
Oh okay. That seems like it would take a while to resolve. Thank you though.

If I may ask, do you know of any person-reid models that have been tested on the Coral? I have been looking a lot but couldn't get anything like that.

[2021-01-11 20:30] steve3nto commented on #45079
there is also a mistake in the EndToEndLoss, you should do the 1- switch before applying the -log( )
To avoid using if conditions in the loss, use this trick that usually is learned from implementing logistic regression.
Assuming y_true is 0 or 1 (reject or accept) and score is the cosine similarity in the range [-1,1]
`-( y_true*log(sigmoid(w*score-b)) + (1-y_true)*log(1-sigmoid(w*score-b)) ) `

[2021-01-11 20:37] lminer commented on #28287
Am I correct that the only way to solve this issue in TF2 is to disable eager execution?

[2021-01-11 20:47] brianwa84 commented on #9260
Integer-valued tensors don't have a gradient. If you wanted gradients, you'd either relax the categorical (see papers on "concrete") or use a REINFORCE (high variance) gradient. There is also the GO gradient, which can work when the categorical sample is a stochastic leaf.

[2021-01-11 20:48] #45985 closed

[2021-01-11 21:09] PureTryOut commented on #45446
Thanks for the detailed answer! Sadly passing `--copt=-UMALLINFO` doesn't seem to work. For now I've just patched that line to report 0. Alpine it self isn't detectable, and shouldn't need to really. Musl follows standards very strictly: if something fails to compile with Musl but works on glibc, then the code is assuming the exception rather than the standard. Code has to check for glibc rather t

[2021-01-11 21:14] Recepcan commented on #34158
I agree with @seandaug. Loss and metrics differ if I enable masking on an LSTM model. I am trying to find a way to solve this problem as well.

[2021-01-11 21:19] tgpsantos commented on #35632
Updated to from 2.3.0 to 2.4.0 and problem was solved. :) Thank you @impjdi and the team.

PS: I had no idea there was a new tflite release. Are they in-sync with python TF releases? If not, where can I learn about new releases?

[2021-01-11 21:20] mihaimaruseac commented on #45446
Thanks @GMNGeoffrey  for the additional context and the help.

[2021-01-11 21:22] impjdi commented on #35632
TFLite GPU team is not really familiar with the different TF releases really; we work with the master branch's latest code only.

[2021-01-11 21:24] lu-wang-g commented on #46029
Update: [TFLite metadata 0.1.0](https://bintray.com/google/tensorflow/tensorflow-lite-metadata) is now available. It should be much stable than the nightly version.

[2021-01-11 21:24] #46029 closed

[2021-01-11 21:27] Palkos83 commented on #43623
@Isaac45
Many thanks for suggestions to walk around the problem. Nevertheless this feels now as if I had to drive a car with engine dying every 2 miles. This is not sustainable for my work.

I just tried few simpler scripts with pytorch today and it is running fine. So I am further convinced the problem is not with hardware but as stated before could be some edge condition shown with the latest TF

[2021-01-11 21:31] Termina1 commented on #44237
Having the same issue trying to build tensorflow from master on windows. The problem seems to be about <complex> library, but I don't understand what's wrong. I have exactly the same error with the same version of MSVC.

[2021-01-11 21:33] PureTryOut commented on #45446
Well there is some stuff, but it doesn't seem related.

[code]

[2021-01-11 21:58] chenmoneygithub commented on #45656
Thanks for reporting this issue!

This error is caused by model.predict(). Basically inside this method your data is split into several epochs by the first axis (the batch axis), and the processed results of each epoch are concatenated together as the final output. This is based on the assumption that all operations in keras.model or keras.layer should not touch the batch axis. For example, suppos

[2021-01-11 22:03] axel971 commented on #38607
Hello Joacoldeira, I got the same issue with the same code of Yarin Gal. Could you please tell me how you fix it ?

[2021-01-11 22:05] #46297 closed

[2021-01-11 22:31] summa-code commented on #46128
Oops i missed that one. Ok, can we create "features" variable without using the real inputs ? something like this ?

features['rating'] = tf.keras.Input(shape=(?,), name='rating', dtype=tf.float32)
features['watches'] = tf.keras.Input(shape=(?,), name='watches', dtype=tf.float32)

Is the shape here just one dimensional for the feature or should it have the windowed shape ?

[2021-01-11 22:37] mihaimaruseac commented on #45446
There should be some lines that should print the path to a malformed BUILD target.

Alternatively, you can use `git` commands to see where `'       '` gets inserted, in case this was from an accidental edit.

[2021-01-11 22:40] mihaimaruseac commented on #46282
I think this is handled already, thank you for offering to send a PR.

https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/c/experimental/filesystem/plugins/posix/posix_filesystem.cc;l=208-212;drc=f64e839687b6129dfe2a9e21ef965593c7f3a3c2

[2021-01-11 22:56] #43725 closed

[2021-01-11 23:02] #46261 closed

[2021-01-11 23:04] ymodak commented on #45967
Closing this issue since it's addressed in another [thread](https://github.com/tensorflow/tensorflow/issues/37102#issuecomment-754889708). Thanks!

[2021-01-11 23:04] #45967 closed

[2021-01-11 23:15] mihaimaruseac commented on #46111
Please try to provide a simple minimal reproducer code so that people can use it to bisect the issue and then create a regression test to prevent the issue from appearing in the future.

[2021-01-11 23:23] fanto88 commented on #46345
I actually already fixed the problem. The problem was the loss, after a few more hours of training the model started to work as expected, i'm sorry for the useless issue.

[2021-01-11 23:23] #46345 closed

[2021-01-11 23:24] shariq-audiofocus commented on #43955
Thanks, I added those and it compiled. For others: I did have to correct the flatbuffers path to tensorflow/tensorflow/lite/tools/make/downloads/flatbuffers/**include**

@rishabhkabra  How did you specify the path to the tflite binary? I tried putting the binary in Assets and getting the path this way:
[code]

But got an error opening the file. Guessing it might be a permission thing.
[code]

Erro

[2021-01-11 23:32] huberemanuel commented on #32809
Any way to make it work with SavedModel format?

[2021-01-11 23:41] liufengdb commented on #46334
Parth, you can set `converter._experimental_new_quantizer=True` to avoid the zero scale issue. The new quantizer will set the scale to fixed small value and hopefully the edge tpu compiler can handle that.

[2021-01-12 00:10] rwbfd commented on #45852
@frankchn Unfortunately, the same problem still persists.

[2021-01-12 00:11] ricardoantonello commented on #34761
I got the same error...

[2021-01-12 01:11] saberkun commented on #45854
Update the docstring as commit: https://github.com/tensorflow/tensorflow/commit/5e90f547a295efeaff92a8c1ef2b4da568485124

@ymodak Is it possible to update the transformer tutorial to use more core keras components?

[2021-01-12 01:37] joaocaldeira commented on #38607
You can find a working example of concrete dropout in https://github.com/deepskies/DeeplyUncertain-Public/blob/master/models/cd.py

[2021-01-12 02:48] #45616 closed

[2021-01-12 03:09] jvishnuvardhan commented on #46317
@WZMIAOMIAO Code change in internal modules changed the path for model weights. However, how is it affecting you. Can you please share more details (with a standalone code) on your use-case?  Thanks!

[2021-01-12 03:40] thaink commented on #43275
Reassigned to MOT team.

[2021-01-12 03:48] sinduke commented on #46333
kh@khdeMacBook-Pro-2 work % sudo docker run -it -p 8888:8888 tensorflow/tensorflow:2.4.0-jupyter
[I 03:20:30.341 NotebookApp] Writing notebook server cookie secret to /root/.local/share/jupyter/runtime/notebook_cookie_secret
jupyter_http_over_ws extension initialized. Listening on /http_over_websocket
[I 03:20:30.602 NotebookApp] Serving notebooks from local directory: /tf
[I 03:20:30.602 Notebook

[2021-01-12 04:26] arsenal-2004 commented on #46334
@liufengdb @abattery @jingpu Thank you guys so much. Using the new quantizer worked for the compilation :)
I'll try out the new compiled model today and see if the results are as expected. If it works for me, I'll close this issue in the evening

[2021-01-12 04:30] Mahima-ai commented on #42931
Yes, your understanding is correct.

[2021-01-12 04:42] wang-jinghui opened #46354 "Docker+tf-gpu2.1.0: No such file or directory; /usr/local/nvidia/lib:/usr/local/nvidia/lib64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : linux ubuntu 18.04
- TensorFlow installed from (source o

[2021-01-12 04:45] nikitamaia commented on #46330
Hi @THULiusj, are you trying to use TPUs with Google Compute Engine (GCE)? I'm linking to the GCP [TPU documentation here](https://cloud.google.com/tpu/docs/quickstart), in case you haven't seen it, which shows how to use the ctpu tool to use TPUs (much easier than building from source)
If you do need to build from source, to isolate the issue can you try building first without the TPU flag and se

[2021-01-12 05:00] yyoon commented on #44609
Yeah, I think XCFramework makes more sense than Swift Package Manager approach, as XCFramework supports packaging compiled binaries as we currently do today.

As far as I can tell, CocoaPods supports XCFrameworks already, but bazel still doesn't support building for iOS arm64 simulator (for M1-based macs) nor building XCFrameworks natively. We might need to do some manual work in the interim, with

[2021-01-12 05:06] frank-qcd-qk commented on #43718
Update:
With tensorflow 2.4 now officially released, I can confirm that cuda 11.0 will work on ubuntu 20.04, with tensorflow. Its just there will be nasty error about:

Your CUDA software stack is old. We fallback to the NVIDIA driver for some compilation. Update your CUDA version to get the best performance. The ptxas error was: ptxas fatal   : Value 'sm_86' is not defined for option 'gpu-name'

[2021-01-12 05:18] max-poltora commented on #46042
@ymodak, yes I have found the solution by upgrading my shinyapps plan up to basic. Thank you for your attention.

[2021-01-12 05:37] #46354 closed

[2021-01-12 05:39] wang-jinghui commented on #46354
GPU can work, Don't worry about these ...

[2021-01-12 05:47] abattery commented on #46315
@MaxxTr could you share the minimal reproducible steps by using as a form of notebook or the code snippet? It is hard to predict what is going on from the only logged information.

[2021-01-12 05:49] abattery commented on #46315
@MaxxTr could you do the same conversion with the TF nightly version, which can have a fix for that?

[2021-01-12 05:53] hm-seong commented on #46343
What a about
[code]
clone TF2.4
then, copy "c_api_macros.h" file form cloned directory

[2021-01-12 06:12] yananchen1989 opened #46355 "'<=' not supported between instances of 'list' and 'int' when using StringLookup"
tf version: 2.4.0

[code]

[2021-01-12 06:14] terryheo commented on #46285
@RenoLooijmans this is bit off topic but could you share how to install or use TFLite runtime on Raspberry Pi? You need a TFLite runtime with Flex enabled when you have the following error.

[code]

[2021-01-12 06:15] yananchen1989 commented on #46355
I suppose the example just not works at all.
https://www.tensorflow.org/api_docs/python/tf/keras/layers/experimental/preprocessing/StringLookup

[2021-01-12 06:24] WZMIAOMIAO commented on #46317
@jvishnuvardhan This will prevent me from loading network weights **(based on variable name)** in different tf version.

## When I was learning tensorflow2, I recorded my own learning process.
Recorded in: [resnet_test](https://github.com/WZMIAOMIAO/deep-learning-for-image-processing/tree/master/tensorflow_classification/Test5_resnet)

### 1) using [model.py](https://github.com/WZMIAOMIAO/deep-lea

[2021-01-12 06:33] terryheo commented on #46142
@pnovapps thanks for the information. We'll check.

@battery could you check why the converter didn't make any error on the masking layer?

[2021-01-12 06:36] abattery commented on #46142
I guess we need to figure which layer makes a wrong prediction, for example, kernel implementation or converter lowering pattern.

I will take a look at the attached notebook.

[2021-01-12 06:40] thaink commented on #46109
Can you test this on a real device? And try to allocate more memory to the emulator?
Your model is big and has high memory consumption so there might be an out of memory problem.

[2021-01-12 06:41] terryheo commented on #46132
@alexanderar could you share the tflite model you used? To me 2.5s on Pixel 3a looks too much even though the shader compilation time is considered. I want to see what's going on there.

[2021-01-12 06:43] abattery commented on #46142
@pnovapps could you share the minimal reproducible steps for the problem with the sequential keras model? The notebook does not contain any keras code to build the model. It would be much helpful if you can give us in a form of the notebook and provide the example input and the expected output.

[2021-01-12 06:43] thaink commented on #46109
When I tried to run your model. The peak memory footprint is overall=6541MB. You might need to slim down your model to fit into mobile phone. Not a lot of phones have more than 6GB of RAM.

[2021-01-12 06:48] #46016 closed

[2021-01-12 06:58] MaxxTr commented on #46315
@abattery  unfortunately, the nightly version gives the same error.
What exactly do you need ? Net definitions or net itself ?

[2021-01-12 07:04] alex-imperfect opened #46356 "Duplicate classes (com.google.flatbuffers) when flatbuffers is already in project"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android/macOS 11
- Mobile devi

[2021-01-12 07:05] abattery commented on #46315
It would be very helpful if you can share your Python model builder code and conversion code.

[2021-01-12 07:07] weilinear commented on #44936
I have the exactly same issue with Nvidia 3080, where the overhead to start the epoch takes a long time. I'm on Archlinux with tensorflow-gpu installed by conda (miniconda).
- Nvidia Driver 460.32.03-2
- Cudnn (from conda) 7.6.5
- Cudatoolkit (from conda) 10.1.243

One thing I noticed is that Nvidia now needs CAP_SYS_ADMIN to run profiler. Running as root does not solve the issue though.

[2021-01-12 07:09] frankchn commented on #45852
Ah that's too bad. I'll have to investigate further.

[2021-01-12 07:15] WindQAQ commented on #46355
@yananchen1989  It's because your are passing a positional argument while the example code snippet passes a keyword argument. Try this to fix it.

[code]

[2021-01-12 07:25] terryheo commented on #46109
BTW, "org.tensorflow:tensorflow-lite:0.0.0-nightly" is actually 2.5.0 which isn't published yet

[2021-01-12 07:34] terryheo commented on #46107
@N1ckx BTW, could you share how to get rasperryPI runtime?
FYI, if you can use 64bit OS (such as https://ubuntu.com/download/raspberry-pi), aarch64 binary gives better performance than armhf binary.

[2021-01-12 07:42] signallee opened #46357 "how to use doc"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-01-12 07:45] #46357 closed

[2021-01-12 08:09] vforvoid commented on #46293
Same as https://github.com/tensorflow/hub/issues/719

[2021-01-12 08:10] claverru commented on #45854
Thank you @saberkun .

[2021-01-12 08:30] jonejkim commented on #44936
Some time has passed now since my [last comment above](https://github.com/tensorflow/tensorflow/issues/44936#issuecomment-732324134), and now I am finding myself that I can run it on Manjaro Linux (arch linux derivative) without performance issue and natively without using lambda-stack docker.

I suspect the previous problem I was experiencing had to do some RTX 3k series's range of supported CUDA

[2021-01-12 08:35] Saduf2019 commented on #46324
@lifeiwen
The code shared is not indented, please share indented code or a colab gist with reported issue.

[2021-01-12 08:44] Saduf2019 commented on #46344
@CubasMike
I ran the stand alone code shared and face a different error, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/d37c9154077ce362b67b92eb527c60e8/untitled493.ipynb), if possible please share a colab gist with the error reported.

[2021-01-12 08:46] Saduf2019 commented on #46356
@alex-imperfect
Could you please specify the tf version.

[2021-01-12 08:48] #46031 closed

[2021-01-12 08:51] amahendrakar commented on #45918
@UrmsOne,
Any updates regarding this?

@jbcaep,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track your issue separately.

Thanks!

[2021-01-12 09:12] Zepyhrus commented on #27303
sign, not working for me. Due to the BatchMul incompatibility with tflite

[2021-01-12 09:15] Zepyhrus commented on #27303
@padoremu Great work !! This is a damn saver. So how to do inference in TFlite if the input is fixed? (e.g. I'm training in batch 256 but it is obviously that I can't inference with a fixed batch of 256, padding empty will help?)

[2021-01-12 09:26] UrmsOne commented on #45918
@amahendrakar

I also use this code  thar I provided for test， and met the error `TypeError: can't pickle _thread.lock objects` in TF-2.4.

[2021-01-12 09:33] iLeW commented on #43623
An update from here. It seemed to be a mixed problem of many conditions on specific hardware. Instead, I think that the `Detected cudnn out-of-bounds write in convolution buffer! This is likely a cudnn bug` message is not blocking. I have managed to work on the sizes of my data and now everything works.

However, just to be noted, the message appears when I run the code on an Nvidia RTX 2080Ti and

[2021-01-12 09:35] amahendrakar commented on #46230
@za13,
On running the code, I am facing an error stating `DecodeError: Error parsing message`.

However using `tf.keras.models.load_model`, I was able to load the model without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/6b2d617c743b06717ad012997c605541/46230.ipynb#scrollTo=69zmDVXR2GXi). Thanks!

[2021-01-12 09:36] Saduf2019 commented on #46340
@AiaHaruv
Please share indented code for us to replicate the issue faced or if possible share a colab gist with the issue reported.

[2021-01-12 09:40] N1ckx commented on #46107
@terryheo I'm using a prebuilt arm 32bit wheel found here:
https://github.com/PINTO0309/Tensorflow-bin

I'm using raspbian 32bit, i will try ubuntu 64bit as you suggested.

Thanks,

[2021-01-12 09:45] AiaHaruv commented on #46340
This is a code which reproduce the issue:

    import tensorflow as tf

    class EXAMPLE(tf.Module):

    @tf.function(input_signature=[tf.TensorSpec(shape=[1], dtype=tf.float32)])
    def _float_feature(self, value):
        return tf.train.Feature(float_list=tf.train.FloatList(value=[value]))
    if name == "main":

    regressor = EXAMPLE()
    output = regressor._float_feature(5)

[2021-01-12 09:54] pnovapps commented on #46142
The previous script used the pre-trained attached model. I've attached a minimal script to train and evaluate the sequential keras model using random data. The model won't do anything useful but is sufficient to illustrate the differences in predictions. The script contains an example input, the script produces the actual and expected outputs.

On one run the tensorflow model predictions are
  0.0

[2021-01-12 10:07] AiaHaruv commented on #46340
@Saduf2019
Or alternatively, here is a colab link with the issue:

https://colab.research.google.com/gist/AiaHaruv/fda86e56513d11cc729d5475730b5344/regressor_bug.ipynb

[2021-01-12 10:07] ravikyram commented on #46355
@yananchen1989
You have to pass argument as (`vocabulary=vocab`).You can refer the [document](https://www.tensorflow.org/guide/keras/preprocessing_layers) with the below example.
[code]
Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/b221a8c0faedd6ecbe1fba6d24cd312f/untitled609.ipynb).Please, verify once and close the issue . Thanks!

[2021-01-12 10:09] PureTryOut commented on #45446
It seems I found the cause of that particular issue. I did the following:

[code]

However, it seems Bazel doesn't like new lines and the whitespace. I put it all on one line instead, and the error was gone. Annoying :shrug:

New error:

[code]

[2021-01-12 10:11] dhirajnitk opened #46359 "tflite custom Bazel build for wasm target"
I am using tflite in  c++ cross platform library. I plan to build  them with emscripten for wasm. I wish to use the shared libraries (emscripten).  I am new to bazel but i didnt find any custom build for emscripten target in  the repository.
I can see that xnnpack helps us with building  optimized kernels for  all targets(including wasm).
Media pipe also claims to use wasm and it supports both ten

[2021-01-12 10:12] ravikyram commented on #46042
@max-poltora

Please, close this thread if your issue was resolved. Thanks!

[2021-01-12 10:26] #46355 closed

[2021-01-12 10:42] abattery commented on #46142
Thanks a lot! I can reproduce the problem.

[2021-01-12 10:47] dhirajnitk commented on #46359
@dsmilkov
I was  going through your old  old ported repo on https://github.com/dsmilkov/tflite-wasm.
I was curious to know if its possible to use emscripten with bazel for current tflite/tensorflow c++ source code to a emscripten static library(.a).

[2021-01-12 10:52] amahendrakar commented on #46342
@Anmol-Sharma,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the dataset you are using.

Also, please feel free to submit a PR regarding this. Thanks!

[2021-01-12 11:06] Anmol-Sharma commented on #46342
@amahendrakar You can use the code below as an example to trouble-shoot. It is similar to what I'm doing. I've verified the issue with this script as well.

Just use the Titanic dataset from kaggle and try to run this on this script.

[code]

Also, I think the PR will have to be issued for the same in the [tensorflow/estimator](https://github.com/tensorflow/estimator) repository, as the core code

[2021-01-12 11:14] mh-hassan18 commented on #41380
I am also getting this error on: Windows 10; TF 2.3; Python 3.7

tensorflow.python.framework.errors_impl.UnknownError: Failed to rename: path\trial_5a095c02600a30dc086a9efe046b1272\checkpoints\epoch_0\checkpoint_temp/part-00000-of-00001.data-00000-of-00001 to: \trial_5a095c02600a30dc086a9efe046b1272\checkpoints\epoch_0\checkpoint.data-00000-of-00001 : Access is denied.
; Input/output error [Op:Mer

[2021-01-12 11:15] mh-hassan18 commented on #45980
I am also getting this error on: Windows 10; TF 2.3; Python 3.7

tensorflow.python.framework.errors_impl.UnknownError: Failed to rename: path\trial_5a095c02600a30dc086a9efe046b1272\checkpoints\epoch_0\checkpoint_temp/part-00000-of-00001.data-00000-of-00001 to: path\trial_5a095c02600a30dc086a9efe046b1272\checkpoints\epoch_0\checkpoint.data-00000-of-00001 : Access is denied.
; Input/output error [Op

[2021-01-12 11:18] freddan80 commented on #44833
Sorry for the late reply. You're asking a good question.

The Arm Cortex-R architecture is similar to Cortex-A. Both use [Neon technology](https://developer.arm.com/architectures/instruction-sets/simd-isas/neon). A good starting point for optimizations would be the TFL opt kernels for Cortex-A. For example: [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/interna

[2021-01-12 11:25] amahendrakar commented on #46269
@alanpurple,
Thank you for the update. Since TensorFlow v2.4 is built and tested against CUDA 11.0 and cuDNN 8, I'd suggest you to use CUDA 11.0 for now.

Support for CUDA 11.2 is already being tracked in issue [#46093](https://github.com/tensorflow/tensorflow/issues/46093). Please feel free to close the issue if resolved. Thanks!

[2021-01-12 11:30] freddan80 commented on #42224
I think we can close this issue. Fix [here](https://github.com/tensorflow/tensorflow/commit/b18a353b7819c4049e70c6b77594221df1563fe7#diff-0245be3835c3d7fa9d9e844a74d9db3bfc05afbd412f77b4368b3f2211b3b2ad).

[2021-01-12 12:06] MaxxTr commented on #46315
Here is it.
Update me if there is something else required.

To convert model to tf lite:
net_converters\tf_to_tflite.py --net_dir <wight_dir_path>

To test:
net_converters\test_tflite_model.py --model <path to converted tf lite model> --test <path to the img file for test>

[code.zip](https://github.com/tensorflow/tensorflow/files/5801889/code.zip)

[2021-01-12 12:19] robinvanschaik opened #46361 "custom normalizer_fn in tf.feature_column.numeric_column & tf.Keras Denselayer API results in failure when loading saved model."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Cloud AI platform notebook
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No.
- TensorFlow installed from (source or binary): Binary.
- TensorFlow version (use

[2021-01-12 12:20] amahendrakar commented on #29679
@aaronlyt,
Could you please update TensorFlow to the latest stable version v2.4 and check if you are facing the same issue?

Also, please go through [this debugging guide](https://www.tensorflow.org/tensorboard/debugger_v2) and check if it helps. Thanks!

[2021-01-12 12:51] Nekto89 commented on #46343
I've just copied all missing headers from Linux version locally to make it work
https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-linux-x86_64-2.4.0.tar.gz

[2021-01-12 12:58] mbhoshen opened #46362 "ModuleNotFoundError: No module named 'tensorflow.core'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 10):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happ

[2021-01-12 13:00] Saduf2019 commented on #46340
@AiaHaruv
Can you also share the saved model, as i am facing "OSError: SavedModel file does not exist at: drive/MyDrive/example_estimator//{saved_model.pbtxt|saved_model.pb}" error while i try to replicate the issue.

[2021-01-12 13:03] greenzeal commented on #44609
@yyoon
I am trying to create my framework, but have a dependency on TensorFlowLiteC.framework.
to reproduce:
- Xcode 12.3
- Having a TensorFlowLiteC.framework embedded
- Build for iOS Simulator with release configuration

The compiler will complain like this: `Building for iOS Simulator, but the linked and embedded framework 'ITLogin.framework' was built for iOS + iOS Simulator.`

Another simple w

[2021-01-12 13:04] Lunchb0ne opened #46363 "Kernel Silently dies while Generating an Image"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):2.5.0-d

[2021-01-12 13:21] freddan80 commented on #44833
I should be more clear - Neon technology is _optional_ in some of the Arm Cortex-R, see [link](https://developer.arm.com/-/media/Arm%20Developer%20Community/PDF/Cortex-A%20R%20M%20datasheets/Arm%20Cortex-R%20Comparison%20Table_v2.pdf?revision=74d60ed8-f68b-48c4-a888-9a8b128a2cbe)

[2021-01-12 13:22] greenzeal commented on #44609
btw also I will be happy if there is a way, even a manual one. And will be happy to try to automate it and share it here.

[2021-01-12 13:29] #46042 closed

[2021-01-12 13:36] Saduf2019 commented on #46361
@robinvanschaik
I ran the code shared and face a different error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/f35e030f2ddd8f1984623bf52e8c42c7/untitled.ipynb).

[2021-01-12 14:00] AiaHaruv commented on #46340
@Saduf2019
There is a link to the model :
https://drive.google.com/drive/folders/1XXluMC__1cg9VNGPtd5XtLlPacpytwcv?usp=sharing

Using this snippet reproduce the same problem in case it still doesn't work:

    import tensorflow as tf

    class EXAMPLE(tf.Module):

    @tf.function(input_signature=[tf.TensorSpec(shape=[1], dtype=tf.float32)])
    def _float_feature(self, value):
        return tf.

[2021-01-12 14:01] yyoon commented on #44609
@greenzeal I could create a dummy project as you described and confirmed that I could reproduce.

Do you really need to build your framework for arm64 simulator?
If not, you could go to the target build settings, and add `arm64` as an excluded architecture for `Any iOS Simulator SDK` for both debug and release configs.

![image](https://user-images.githubusercontent.com/1309817/104322969-eab95780-

[2021-01-12 14:10] robinvanschaik commented on #46361
@Saduf2019 My apologies. The original missed an import from sklearn.

I re-uploaded the colab as [here](https://colab.research.google.com/gist/robinvanschaik/701ab926088a2b96d81b2a2aa546164c/untitled418.ipynb).

Please let me know if you run into issues regarding this colab.

[2021-01-12 14:33] CubasMike commented on #46344
Sorry, I copied the wrong line from the terminal. It should say:
[code]

I updated the code with the correct line.

[2021-01-12 14:38] hollance opened #46365 "micro_speech example: FeatureProvider tries to read audio data that is in the future"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): -
- TensorFlow installed from (source or binary): source / Arduino library
- Tensorflow version (commit SHA if source): -
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Nano 33

**Describe the problem**

The audio capture subsystem keeps track of the latest audio capture t

[2021-01-12 14:46] dhirajnitk commented on #33710
@davlhd
Did you manage to build tflite with emscripten?
Could you share the bazel/workspace file's for the configuration?

[2021-01-12 15:19] guillaumekln opened #46366 "LayerNormalization crashes on empty inputs when run on CPU"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 2.4.0
- Python version: 3.6.9

**Describe the current behavior**

`tf.keras.layers.LayerNormalization` crashes when the input is empty and the layer is executed on CPU.

**Describe the expected behavior**

The layer should not crash but ret

[2021-01-12 15:20] Flamefire opened #46367 "MultiWorkerMirroredStrategy documents old communication=tf.distribute.experimental.CollectiveCommunication.NCCL"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras

## Description of issue (what needs changing):

The page says

However `MultiWorkerMirroredStrategy`s ctor has changed to expect a `communication_options` parameter instead.

It should be described on this page how to actually change the distribution implementation with current TF 2.4

Note that the

[2021-01-12 15:25] L-ashwin commented on #43174
Yes, this fixed the problem for me on 1660Ti. Does anyone know the reason for this behavior?

[2021-01-12 15:31] Suraj-Upadhyay commented on #22926
Kindly close this issue. It's confusing for first time contributors who come here for solving their first Issue.

[2021-01-12 15:46] acarl005 commented on #40380
We are also having this problem. We moved from TF 1.15 + estimator to TF 2.3 + Keras and our model variables went from 200MB to 600MB. The extra 400MB was all the momentum and velocity variables from the ADAM optimizer. Unfortunately 600MB exceeds [AI platform's model size limit](https://cloud.google.com/ai-platform/prediction/docs/quotas#model_size_limits) so we can't put it into production.

[2021-01-12 16:35] greenzeal commented on #44609
Excluding arm64 is a temporary option indeed.

I had tried with a patch, but had no luck yet to make it work. Will try again definitely.

[2021-01-12 16:37] gmbss0 commented on #36935
+ 1. I would profit from this layer as well. I am currently trying to build a depthwise Conv1D for a project.

[2021-01-12 16:38] mattn commented on #22926
I don't mind to close this but no one explain why https://github.com/tensorflow/tensorflow/pull/26682 was reverted.

[2021-01-12 16:56] amahendrakar commented on #33657
@kazimuth,
The issue seems to be resolved with TensorFlow v2.4.

I was able to run the code without any issues, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8cb7247ff498cb58347d0b161a174fe3/33657.ipynb). Thanks!

[2021-01-12 16:57] gmbss0 commented on #36935
\+1. I am currently trying to build a depthwise Conv1D for a project. and would also benefit from this layer being added to Keras.

[2021-01-12 17:08] axel971 commented on #38607
Thank you !
Quick question, I saw in the code we have to provide some hyper-paramteres as weight_regularizer and dropout_regularizer. Do you know what is the best way to initialize them ? The author wrote down in this code the weight_regularizer must be l**2 / (\tau * N) and the dropout_regularizer must be 2 / (\tau * N), but I don't to what that corresponds. It's look like also that the author ch

[2021-01-12 17:13] padoremu commented on #27303
@Zepyhrus Thanks, glad to hear that it helps! Unfortunately I can't help with further TF Lite related questions, as it pretty soon turned out that TF Lite was too heavyweight for our needs and TF Lite Micro neither supported STFT nor RNNs, and it didn't seem like that would happen soon. So we went a completely different way, which we are very happy with (but using TF for training).

[2021-01-12 17:14] mihaimaruseac commented on #45446
Hmm, now this is a grpc issue.

They also use Bazel, can you file an issue at https://github.com/grpc/grpc please?

[2021-01-12 17:19] #35576 closed

[2021-01-12 17:32] chazuttu commented on #46362
conda install tensorflow
             or
pip3 install tensorflow

[2021-01-12 17:39] edend10 opened #46371 "Exporting a TF Estimator with a `hub.text_embedding_column_v2` does not include the pretrained model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): AI Platform runtime 2.3 or Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip
- TensorFlow version (us

[2021-01-12 17:47] mbhoshen commented on #46362
Thanks
I installed the tensorflow using pip. I can only install package by package
because of being behind a firewall. Each package must be individually
tested. But I don't think I am missing anything. If I am, I  can add it. I
just don't know.

בתאריך יום ג׳, 12 בינו׳ 2021, 19:32, מאת Utkarsh ‏<notifications@github.com

[2021-01-12 17:53] lev-prol commented on #45847
Hi @Cy-r0, sorry for the delay. I've just merged [a patch](https://github.com/tensorflow/tensorflow/commit/696cb254a1eb60f4aa139d794fb3d9603ad4cbbe) to fix this issue. Could you try running the model now?

[2021-01-12 17:58] ymodak commented on #46348
TF 2.4 is compatible with cuda 11.0 thus upgrading your cuda version to 11.0 should suffice.
See https://www.tensorflow.org/install/gpu#software_requirements
TF pre built binaries support specific cuda version as stated in this [table](https://www.tensorflow.org/install/source#tested_build_configurations).
For using different cuda version than stated in above table with your choice of TF version y

[2021-01-12 18:05] ek9852 commented on #46098
Together with this patch https://github.com/tensorflow/tensorflow/commit/915c0b2bbc776cff475fac149f2e7ca9a350a715
fixes the problem.

[2021-01-12 18:05] #46098 closed

[2021-01-12 18:39] za13 commented on #46230
ok that works. But it's not working when I try to open the pb file in OpenCV in C++:

    dnn:Net nt = cv::dnn::readNetFromTensorflow("saved_model.pb");
    dnn:Net nt = cv::dnn::readNetFromTensorflow("model/saved_model.pb");
    dnn:Net nt = cv::dnn::readNetFromTensorflow("./model/saved_model.pb");
    dnn:Net nt = cv::dnn::readNetFromTensorflow("/workspace/model/saved_model.pb");
    dnn:Net nt

[2021-01-12 18:41] chazuttu commented on #46362
Create a virtual environment and then install tensorflow into that.

[2021-01-12 18:44] chazuttu commented on #46362
Also you may re-installed anaconda, python and all libraries.

[2021-01-12 18:51] mcabie3098 commented on #24138
Someone deleted the colab that converts .pb to .tflite that helps me a lot, and now I'm looking for it, looks like they deleted it, Can I have a copy of that one again please.

[2021-01-12 18:51] brianwa84 commented on #40606
@srvasude could you take a look at this?

[2021-01-12 18:53] ThWuensche opened #46373 "Failure to train distributed with strategy mirrored, custom training, functions supplied in class"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian Buster with ROCm 3.7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command bel

[2021-01-12 18:57] mbhoshen commented on #46362
Thanks
I am within a virtual environment and installing within it
The packages I printed were those in this environment

Dr. Moshe Hoshen  משה חשן
Degania St דגניה 15
Jerusalem ירושלים 96143
Israel
Tel. (972-2) 6519199
נייד 054-8061962
mbhoshen@gmail.com
http://www.linkedin.com/profile/view?id=92054595&trk=tab_pro

On Tue, 12 Jan 2021 at 20:41, Utkarsh <notifications@github.com> wrote:

[2021-01-12 19:48] nikitamaia commented on #45923
Hi @Flamefire, `strategy.experimental_distribute_dataset` should be mentioned everywhere custom training loops are dicussed. However, if you find somewhere it's missing let me know.

As for updating the custom loops tutorial, can you elaborate on what you think should be added and where?

[2021-01-12 19:52] srvasude commented on #40606
This is fixed by https://github.com/tensorflow/tensorflow/commit/e9b3d33ccfa4b670ca0a221db9bc7bc1281b0557

[2021-01-12 19:52] #40606 closed

[2021-01-12 20:09] #46347 closed

[2021-01-12 20:13] dhiegomaga commented on #33131
The documentation states that `TensorArray`s:

They are a write-once structure, a very specific use for index assignment...

[2021-01-12 20:18] #44587 closed

[2021-01-12 20:18] #44829 closed

[2021-01-12 20:55] alex-imperfect commented on #46356
Sorry, how do I get the tensorflow version from the Android Studio project?

I got the example from here. I don't see a version specified in the readme or in the code.
https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android

[2021-01-12 20:59] MusheAbdulHakim opened #46377 "Problem with pypi package installation in linux debian(parrot os)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Parrot Os 4.10 64bit
- Mobile

[2021-01-12 21:05] kutayk33 opened #46379 "Model Subclassing 'NoneType' object has no attribute 'shape'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-01-12 21:47] weilinear commented on #44936
@jonejkim Thanks a lot for the tips! I'll try to have force conda install cuda11 & cudnn8 to see how it works.

[2021-01-12 22:20] cameron-martin commented on #42140
This is a duplicate of https://github.com/tensorflow/tensorflow/issues/42993. An RFC is open here: https://github.com/tensorflow/community/pull/295

[2021-01-12 22:23] xehartnort commented on #41532
Hi @linaria-7726, @cl886699

according to my own research, this error is generated by the pthread library, particularly its status code is 11 and its name is EAGAIN [1];

_Insufficient resources to create another thread, or a system-imposed limit on the number of threads was encountered. The latter case may occur in two ways: the RLIMIT_NPROC soft resource limit (set via setrlimit(2)), which limit

[2021-01-12 22:35] #46285 closed

[2021-01-12 22:46] felixcollins commented on #46083
@vikramdattu Sorry, I've been taken off this work now and do not have a fork set up to submit a PR from. The only changes I could submit would be the fix of the type the image data pointer for PerformCapture and GetImage in esp/image_provider.cc. This is simply removing the two 'u' characters from the front of the type. The rest of the build system issues I did not fix, I just hacked around them.

[2021-01-12 22:54] shubhamdo commented on #44936
Found this,

1. Talks about benchmarks and how he was able install docker image and make it work
https://fsymbols.com/3080-3090-benchmarks/
2. https://www.youtube.com/watch?v=VVj8EvgVjLo&t=52s&ab_channel=NerdyRodent

Same as below:  Just change the image to tensorflow v2, you can find in below nvidia link.
https://ngc.nvidia.com/catalog/containers/nvidia:tensorflow/tags

i.e. 20.12-tf2-py3 Image

[2021-01-12 22:56] CaptainDario opened #46380 "Add support for converting mixed_float16 models to TF_lite"
**System information**
- Windows 10
- tensorflow==2.4.0 installed via pip

**Project details:**
* [notebook](https://captaindario.github.io/DaKanjiRecognizer-ML/DaKanjiRecognizer.html)
* [github repository](https://github.com/CaptainDario/DaKanjiRecognizer-ML)

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

[2021-01-12 23:21] abattery commented on #46315
@MaxxTr could you share your h5 file for the TFLite converter input as well, which is used for the h5_to_tflite method? Thanks

[2021-01-12 23:24] ymodak commented on #46332
In TF 1 you cannot see the content of actual tensor unless you evaluate it in a session.
Currently you see;
[code]
where `Mean:0` is the operation
 `shape=()` is the dimension of the tenor
 `dtype=float32` is datatype of the elements in tensor

To see the actual value of the tensor you need to evaluate it in a session.
Add following lines at end of the your code snippet.
[code]
Output:
[code]

[2021-01-13 00:24] thaink commented on #45933
A fix is landed in the master branch.
Please feel free to reopen if you still have this issue.