[2016-09-08 00:24] #4243 closed

[2016-09-08 00:25] zhaopku commented on #4218
Operating System: ubuntu 14.04
CPU version, no cuda installed
I installed that from pip3
tensorflow version: 0.10, link: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp34-cp34m-linux_x86_64.whl

reproductive sample is just as I mentioned before:
[code]

[2016-09-08 00:28] tatatodd commented on #4244
@caisq can you comment on this?  Thanks!

[2016-09-08 00:41] tatatodd commented on #4245
That looks like an issue with how your local machine is set up, and not a tensorflow issue.

Here are some links that may be helpful:
http://stackoverflow.com/questions/24611640/curl-60-ssl-certificate-unable-to-get-local-issuer-certificate
https://www.google.com/search?q=curl%20ssl%20certificate%20problem

Hope that helps!

[2016-09-08 00:41] #4245 closed

[2016-09-08 00:45] tatatodd commented on #4248
We primarily use github issues to track bugs and installation issues.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

That said, a cursory search on stackoverflow shows a link that might help:
http://stackoverflow.com/questions/38059247/using-tensorflows-connectionist-temporal-classification-ctc-implementation/38069255#38069

[2016-09-08 00:45] #4248 closed

[2016-09-08 00:58] tatatodd commented on #4251
Thanks for the report @jakubsimanek!  Note that we haven't officially released 0.10 yet (we're still shaking out issues like this one), but it's always good to notice and fix these things.

In fact #4236 just went in yesterday to fix this up.  If you notice any other problems, please don't hesitate to file more issues!

[2016-09-08 00:58] #4251 closed

[2016-09-08 00:58] holdenlee commented on #3499
Exactly the same thing happens with `name_scope` instead of `variable_scope`.

[2016-09-08 01:04] ic commented on #4172
[PR](https://github.com/tensorflow/tensorflow/pull/4260) ready.

[2016-09-08 01:58] pfllo commented on #3907
@alextp I'm not sure which API you are referring to, but I think it will be better if tensorflow support sparse variables. Although I can accumulate `IndexedSlices` out side of the graph, this workaround is still not very elegant. And sparse variable seems like a more natural way to solve @MohammadSamragh's problem, which is more efficient than using mask.

[2016-09-08 01:58] davidzchen opened #4261 "PIP package contains CUDA libraries"
As discussed offline: the PIP package size has greatly increased since the `cuda_configure` change because the CUDA libraries under `external/local_config_cuda` are now being included by `build_pip_package.sh`.

The simplest fix for this is to special-case `local_config_cuda` to exclude it from being copied in `build_pip_package.sh` since there does not seem to be a way to specifically exclude all

[2016-09-08 02:28] llhe commented on #4146
Sounds great @andrewharp

[2016-09-08 03:03] NacyLiu opened #4265 "ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path."
Operating System:
Ubuntu 16.04

Installed version of CUDA and cuDNN:
server@server:~$ ls -l /usr/local/cuda/lib64/libcud*
-rw-r--r-- 1 root root 560184 9月   7 09:56 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root     16 9月   7 09:56 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root     19 9月   7 09:56 /usr/local/cuda/lib64/libcudart.so.8.0 -> libcudart.so.8.

[2016-09-08 03:16] YoWhatever opened #4266 "How to change the model and label file in "assets" of Android Demo?"
When I change these files in "assets" folder , the Demo App will crash. How can I change the .txt and .pb file to change the verify model?

[2016-09-08 03:25] zzjin13 commented on #3056
I have the same problem and I'm using the latest tensorflow-0.10.0. Anyone has some ideas about how to solve it?

[2016-09-08 03:47] #4261 closed

[2016-09-08 04:09] jmhodges commented on #10
Updated #4223.

I think there was a goal of getting this to build with `go get` and `go install`. Currently, the generated protobuf doesn't have the right import paths to build correctly. (It's a version of the problem in https://github.com/golang/protobuf/issues/230)

We're going to have to probably do some sed work to fix it.

[2016-09-08 04:27] andrewharp commented on #4266
@YoWhatever If you change the names of the asset files you need to also edit the corresponding values in TensorFlowImageListener.java.

[2016-09-08 04:35] YoWhatever commented on #4266
@andrewharp Thank you！ When I replace the asset files, I also rename my model file as the former corresponding file's name. But it didn't work. So I 'm wondering if there is something else need to be changed.

[2016-09-08 04:39] andrewharp commented on #4266
@YoWhatever There are a lot of possible things that could be going on; can you use adb logcat and post the exact error message that you get please?

[2016-09-08 04:56] forhonourlx opened #4267 "libcuda reported version is: Not found: was unable to find libcuda.so DSO loaded into this program"
i am trying to install tensorflow on my laptop LenovoY700, so that Ubuntu16.04 is more suitable with laptop.
I installed cuda7.5+cudnn4 with GTX960M and nvidia-version is 367.

When I was running 'convolutional.py', something goes wrong.

I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfull

[2016-09-08 05:33] martinwicke commented on #3856
@gunan when you rebuild the protobuf whl, can you rename it and adjust the docs accordingly?

[2016-09-08 05:33] tatatodd commented on #4249
Have you seen the documentation here?  It might be useful in getting started:
https://github.com/tensorflow/models/tree/master/slim
https://github.com/tensorflow/models/blob/master/slim/slim_walkthough.ipynb

The first link describes how to run eval:
[code]
https://github.com/tensorflow/models/blob/master/slim/eval_image_classifier.py

You can use eval_image_classifier.py as a starting point to do

[2016-09-08 05:41] tatatodd commented on #4250
@ReaddyEddy thanks for reporting an issue!  It's unclear to me from your description what the actual problem is.  Is it...
1. You see warnings, but otherwise things work as you expected.  Or...
2. You see warnings, and immediately afterwards things crash.

Note that the first stackoverflow link you provided has some extra details about things working at HEAD.

[2016-09-08 05:46] tatatodd commented on #4252
Indeed this looks similar to #2896

@petewarden might have clues as to why this is happening.

[2016-09-08 06:01] tatatodd commented on #4253
Hi @JohnnyY8!  The concept behind dropout is to randomly drop some nodes *from the hidden layer* while training.  In the code you've highlighted above, you're applying dropout *to the input layer*, which is the problem.

For an example of how to apply dropout see this:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py#L109

Hope this h

[2016-09-08 06:01] #4253 closed

[2016-09-08 06:21] vinaynath commented on #4251
Just wanted to point out further, its **CuDNN v5.1 for CUDA toolkit 7.5 (cudnn-7.5-linux-x64-v5.1.tgz)** that solves the problem. cudnn-8.0-linux-x64-v5.1 should be used if you have CUDA toolkit 8.0

[2016-09-08 06:28] tenscraft commented on #4249
I have tried to run eval with those scripts too, and with randomly generated images as shown in the .ipynb file, but keep getting this error:

`tensorflow.python.framework.errors.NotFoundError: Tensor name "InceptionResnetV2/Repeat/block35_9/Branch_2/Conv2d_0b_3x3/biases" not found in checkpoint files`

[2016-09-08 06:28] tatatodd commented on #4255
@petewarden might have some ideas.

[2016-09-08 06:32] tatatodd commented on #4257
I'll let @martinwicke comment on this.

[2016-09-08 06:44] tatatodd commented on #4265
This is a duplicate of #4105, please follow that thread for possible workarounds and hopefully an eventual fix.  Thanks for reporting the issue!

[2016-09-08 06:44] #4265 closed

[2016-09-08 06:50] cancan101 opened #4268 "resize_image_with_crop_or_pad loses channel information"
[code]
before:
[code]
after:
[code]

`tf.image.pad_to_bounding_box` has the same problem.
The combination of these two lines seems questionable:
[code]
why set `static_only=False`? The docs for `_ImageDimensions` say:

    fully defined or `static_only` is `True`.
    list of integer scalar tensors `[batch, height, width, channels]`, when
    static shape is not fully defined.

so unless all dimen

[2016-09-08 06:53] tatatodd commented on #4267
@forhonourlx please provide the following details:
[code]

In general it looks like libcuda.so couldn't be found on LD_LIBRARY_PATH, so that's the direction you want to investigate.  For more details, see this related issue:
https://github.com/tensorflow/tensorflow/issues/4078#issuecomment-243065693

[2016-09-08 06:57] fwalch commented on #4253
From the error message and the code, I think the problem is rather that the `keep_x` placeholder is not fed into session.run. Giving a name to the placeholder should make the error message more obvious.

[2016-09-08 07:00] kolesov93 commented on #3881
Am I right, that there is no way to use this script with pip install, and I need to install tensorflow from source?

[2016-09-08 07:25] ztianjin opened #4269 "bazel build failing - not generating bazel-bin directory when build from source with CUDA 8.0 error"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-08 07:38] tatatodd commented on #3775
I believe this is a duplicate of #3103, which was closed as "working as intended".

The basic problem is that there's a speed/accuracy tradeoff for reduce_mean.  Even though your example seems trivial, with the entire matrix initialized to -1.0, there are 20M+ entries (4500*4500).  Note that float32 can represent integral numbers in the range [-16M,+16M] without loss of precison (24 bits):
https:/

[2016-09-08 07:38] #3775 closed

[2016-09-08 08:02] tatatodd commented on #4218
@ebrevdo might have some ideas.

[2016-09-08 08:10] gunan commented on #3856
New wheel files built, uploaded. PR #4271 will update the docs.

[2016-09-08 08:27] lebinhe commented on #4036
@prb12
Sorry for not replying in time.
Actually the OS version is CentOS 7, kernel version is 3.10.

I replaced the github version(0.10rc) with the Nightly version(0.10rc).
The "connection refused" error is gone.

[2016-09-08 08:32] jeandut commented on #4213
It seems to me you can simply use a placeholder with undefined shape at least this is what I am doing and it works:  x=tf.placeholder(tf.float32,[None,None,None,3],name="input_network"). Not very memory efficient I suppose but it works.

[2016-09-08 08:34] jeandut commented on #4213
But possibly not if different sized images are in the same batch, never tried.

[2016-09-08 08:35] jeandut commented on #4213
However for the first part of your question it works as you use same shape inputs for training batches. It is only during inference that you feed different sized batches.

[2016-09-08 08:38] marcoadurno commented on #3460
Thanks for the hint. I'll close the issue as the API already supports the requested functionality.

[2016-09-08 08:38] #3460 closed

[2016-09-08 08:42] dashrathc opened #4272 "Training time for CIFAR-10 is higher on multi GPU cards compared to single"
When running CIFAR-10 example on two GPU cards in a single machine, the training time is higher compared to a single GPU card.

It is utilizing both cards but overall execution time is higher compared to single GPU.

![multi-gpu-cards](https://cloud.githubusercontent.com/assets/7776101/18342617/48dfeb66-75cd-11e6-83cb-473be9746f3a.png)

One more thing I noticed is that the queue is filled twice. I

[2016-09-08 08:45] hholst80 commented on #3856
How can you verify that you actually have a C++ version of the protobuf library installed?

[code]

still says `python`

[2016-09-08 09:18] asispatra commented on #4152
Hi @benbarsdell

Finally it worked. I ran the following command under "bazel-bin/inception/imagenet_train.runfiles/__main__/" directory where as it should on the current directory.
[code]
Now I am able to get NV profile.

Thanks :+1:

[2016-09-08 09:19] asispatra commented on #4152
Closing the issue.

[2016-09-08 09:19] #4152 closed

[2016-09-08 09:19] jeandut opened #4273 "Crashing when parsing names with special character [] in saver.restore(): bug or expected behavior ?"
Disclaimer: I have tensorflow 0.7.0 (a bit outdated I suppose). I have not tested it on more recent versions.
When I try:
[code]
It runs perfectly fine but if I change name_model to "./model[1]" for example it crashes with message: `Unsuccessful TensorSliceReader constructor: Failed to find any matching files for ./model[1].`
I was wondering if this is expected or if it is a bug. If this is buggy

[2016-09-08 11:33] NacyLiu commented on #4265
Yes! I've fixed this problem through setting LD_LIBRARY_PATH and cuda version carefully, thanks!

[2016-09-08 11:45] YoWhatever commented on #4266
@andrewharp Sorry I'm a novice.Is there any useful information in these pictures？
![image](https://cloud.githubusercontent.com/assets/17775886/18348161/537814ca-75fc-11e6-9a14-7380a6613020.jpeg)
![image](https://cloud.githubusercontent.com/assets/17775886/18348190/8f031e68-75fc-11e6-8488-282f880bf657.jpeg)

[2016-09-08 12:08] tomrunia commented on #4246
Thanks, I didn't know of the `FeedingQueueRunner`, but this seems like it is exactly what my code is currently doing. I guess you can close this issue for now unless I run into problems with the queue runner.

[2016-09-08 13:21] g2290412 commented on #4105
`ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path.
ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path.`

after restart system, even with the recomendations above

"bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer" is taking too long to execute, i've closed after 1 hour
OS: Ubuntu 16.04,

[2016-09-08 13:41] mrry commented on #4246
Glad to help!

[2016-09-08 13:41] #4246 closed

[2016-09-08 13:46] eymar opened #4276 "Tensor name "hiddenlayer_2/biases" not found in checkpoint files model"
I have created my model on one machine and then sent the zipped folder 'model' by email to myself so I would be able to use this model on my second PC.

Here is the code how I'm recreating a model:
[code]

As I understood, to reuse a model I need to make 'fit' 1-3 steps. (This fact I found here in TF issues)

`classifier.fit(x_train, y_train, steps=3)`

Then when I call `predicted = classifier.pre

[2016-09-08 14:07] shrnjad commented on #4252
Another confusing thing I noticed after looking through the source code:
`RandomAccessInputStream` class does not call the method `SkipNBytes(long long)` from anywhere in the code.

How can it than appear like that in the call stack in the error message?

[2016-09-08 14:39] alextp commented on #3907
@MohammadSamragh's problem seems solvable by using IndexedSlices as gradients. I don't understand why a mask is necessary here.

I do think there should be a way of accumulating indexedslices gradients before adding them to a variable. I believe @jmchen-g is working on this.

[2016-09-08 14:40] Hvass-Labs commented on #4128
I have finished my new tutorial on how to use the pre-trained Inception Model and I have two suggestions to the TensorFlow developers:

(A) The Inception v3 model seems to have problems recognizing people. I give several examples of this in the tutorial (link below). This would seem to make the pre-trained Inception model useless in practice. I'm not sure, but I think the problem is maybe in the t

[2016-09-08 15:06] IvanUkhov opened #4277 "Compilation of the C API in version 0.10"
In version 0.10, the C API was [moved](https://github.com/tensorflow/tensorflow/commit/788f359b7218ad46696c15459c89688ffe70955e) from `tensorflow/core` to `tensorflow/c`. The master branch contains a [commit](https://github.com/tensorflow/tensorflow/commit/d03f2545ecc3012e6c941a3a1e957f7d7f8d5040) adding a new target to `tensorflow/BUILD` for building the C API in the new location. However, this c

[2016-09-08 15:49] ye commented on #3856
@hholst80 good point and you are right, mine says `python` as well.

[code]

[2016-09-08 15:59] ebrevdo commented on #4218
I think @lukaszkaiser knows more about what's going on in the seq2seq code.

[2016-09-08 16:00] petewarden commented on #4255
I am working on an approach that uses memory mapping to avoid this problem. It works by mmap-ing the weight parameters of large files into read-only pages that don't count towards the memory limits on iOS. You can see the work-in progress here:
https://github.com/petewarden/tensorflow/blob/master/tensorflow/contrib/ios_examples/camera/tensorflow_utils.mm#L162

I'll be finishing this off and writin

[2016-09-08 16:03] petewarden commented on #4252
I have a fix on my local branch of the Makefile at https://github.com/petewarden/tensorflow/blob/master/tensorflow/contrib/makefile/Makefile#L435, but unfortunately it's part of a bigger change. Adding that line to exclude zlib source files from the build should fix this though.

[2016-09-08 16:10] ebrevdo commented on #4193
@andykitchen can you reference the CTC paper & plot you referred to?

[2016-09-08 16:26] shrnjad commented on #4252
I added the line to my makefile that excludes `zlib*`. I still get the same error though. I think the class causing the error is in `random_inputstream.ccrandom_inputstream.cc`?

That one will still get built.

[2016-09-08 16:42] clo-dan commented on #4255
Yes, that seems like it should help us. Thanks Pete.

[2016-09-08 16:51] #4131 closed

[2016-09-08 16:51] lukaszkaiser commented on #3056
I'm not sure the PR that fixed it made into 0.10.0. Could you try with the head TF from github?

[2016-09-08 16:51] gibiansky opened #4278 "Minor documentation / code mismatch in Optimizer"
The `Optimizer` class has the [following method](https://github.com/tensorflow/tensorflow/blob/7e7dff529fd35edea443580d58e95f5de39b5356/tensorflow/python/training/optimizer.py#L388):

[code]

The docstring says that `_valid_dtypes` defaults only to `float32`, but the code also allows `float16` and `float64`. The docstring should be updated to reflect that the default allowed set includes these oth

[2016-09-08 16:52] rmlarsen commented on #4101
@Bonnevie any more thoughts on this?

[2016-09-08 16:53] rmlarsen commented on #3767
The fix has been pushed: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_grad.py#L443

[2016-09-08 16:53] #3767 closed

[2016-09-08 17:01] rmlarsen commented on #4174
I think the best solution is to explicitly add a second derivative function in Python, similar to what I did for InvGrad here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_grad.py#L255

@tatatodd would you be willing to send a PR for that?

[2016-09-08 17:05] bsautermeister commented on #1122
Just put it in seperate collection-keys:

[code]

[code]

[2016-09-08 17:10] bsautermeister commented on #1122
Nevertheless, the documentation seams to be out-dated. It tells to do the following:

[code]

But:

- tf.group() does not accept a list. I replaced it with tf.tuple()
- I don't know how to access "control_flow_ops.with_dependencies". How can I access functions within control_flow_ops module? I have seen other examples just using tf.with_dependecies(), but I cannot do that with Tensorflow 0.10.

[2016-09-08 17:18] rmlarsen commented on #4224
@tatatodd tf.Print does have a gradient op, which is inserted in the gradient subgraph, but it does not log anything:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/logging_ops.py#L87

It is also true that ops that are not on a path from sink to source get pruned by the gradient computation:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gr

[2016-09-08 17:22] rmlarsen commented on #2217
I think this would be a great addition to TF of somebody would have the cycles to work on it. I'm not sure the TF team has cycles to work on this in the short term, but would be happy to advice and review PRs.

[2016-09-08 17:46] craymichael commented on #4025
I see in the `_weighted_gini` calculation, the class counts are taken via `smoothed = 1.0 + array_ops.slice(class_counts, [0, 1], [-1, -1])`; may I ask why one is being added to every class count and whether this needs to be done for the class counts in variables such as `accumulator_sums`?

[2016-09-08 17:51] martinwicke commented on #4257
This is the right thing to do. We need to update the docs though, and our website. Maybe we can do that here, but I'm not sure. @wolffg @random-forests @dr4b what do you think? Kick start our tutorials/docs reorg?

[2016-09-08 17:54] gilberthendry commented on #4025
That's simple Laplace smoothing, mostly to avoid div/0 when no examples have arrived to an accumulator or a leaf.

[2016-09-08 17:54] andrewharp commented on #4266
@YoWhatever I'm guessing the root cause information comes just above the lines in the 2nd picture you provided. You can save the entire log to a text file with `adb logcat | tee log.txt`, and then just upload log.txt after you've captured an instance of it crashing.

What is odd to me is that you only have 7 nodes in your graph. Are the input and output nodes named the same? Possibly you're trying

[2016-09-08 17:59] hillegass opened #4279 "//tensorflow:libtensorflow.so target won't build"
Trying to build libtensorflow.so from source on a Mac using Bazel 3.1, I get an error. Log is attached below.

### Environment info
Operating System: MacOS X 10.11.6, Xcode 7.3.1

Installed version of CUDA and cuDNN:
No CUDA

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`)

    2a6d7511f13a0387857081f1cf64d282d2816a62

2. The output of `bazel version`

    Build label:

[2016-09-08 18:03] sherrym commented on #4128
(A) The training set for inception is from the ImageNet challenge http://image-net.org/download-faq. It's not an arbitrary set of training images.

(B) Would you like to submit a pull request? Thanks.

[2016-09-08 18:11] jhseu commented on #10
Before you do more work on that branch, keep in mind that we have in-progress Go bindings that the TensorFlow team is making :)

[2016-09-08 18:14] rmlarsen commented on #4174
I meant @admcrae would you be willing to send a PR? @tatatodd is welcome to as well ;-)

[2016-09-08 18:25] sherrym commented on #3881
At the moment, that's correct.

On Thu, Sep 8, 2016 at 12:02 AM, kolesov93 <notifications@github.com> wrote:

[2016-09-08 18:37] rieram commented on #2807
I do get the same slow down on a single CPU. I ran Intel vtune profiler (for CPUs) on the same test image and it seems that its just not optimized. There needs to be better optimization for gemmlowp. Comparing it with the FP32 implementation that is optimized to a certain extent does better.

[2016-09-08 19:00] modrymar opened #4281 "Seq2Seq example - shape error while decoding"
When I try to run the tutorial available at [https://www.tensorflow.org/versions/r0.10/tutorials/seq2seq/index.html](https://www.tensorflow.org/versions/r0.10/tutorials/seq2seq/index.html) it works great. The model is training and the proximity is decreasing.

For training I used the default data and default command:
`python translate.py  --data_dir [your_data_directory] --train_dir [checkpoints_d

[2016-09-08 19:19] sguada commented on #4249
Need to use the right arg_scope

[code]

[2016-09-08 19:30] rueberger opened #4282 "Unspecified dimension after tf.sparse_tensor_dense_matmul"
### Environment info

Operating System:

Problem encountered on linux CPU build installed from `47501a5ebc62fcb8a3d7832722d39997696897dc`.
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

[code]

My question is: why is it that the shape of `mult` is partially unspecified before run time? It can be inferred from the shape o

[2016-09-08 19:51] aselle commented on #3499
Your comment about variables created is not true:
[code]
yields
[code]
name_scope on the outside is what you want. If you want to switch scopes and return to that scope you can (see documentation of name_scope). e.g. this does what you want...
[code]
(notice how we capture the scope on the outside)

[2016-09-08 20:22] mkolod opened #4283 "Breaking API change without deprecation warning"
### Problem

The name_scope API has changed between last week and last night's latest changes in the 0.10 branch. The previous API was:

    name_scope(*args, **kwds)

The current API is:

    name_scope(name)

The API was changed in a breaking way, rather than the new API being added and the use of the old API triggering a warning.

I was wondering what the TensorFlow gatekeepers' policy is on br

[2016-09-08 21:21] chenliu0831 commented on #25
Is there an ETA for the official fix? It's really a pain to maintain (e.g. build our own dockerfile) in production.

[2016-09-08 22:24] brando90 commented on #3632
I was checkpointing my tensorflow models and once I stopped doing that the stalling issue stopped (for the moment). Not sure if that was it but it might be some way locking works with tensorflow interferes with slurm.

[2016-09-08 22:26] martinwicke commented on #4283
This is a deliberate change. Before 1.0, we have very few guarantees for the API itself. In fact, we're trying to make breaking changes before 1.0, so their frequency may increase in the coming months.

Please take a look at [our policy](https://www.tensorflow.org/versions/r0.10/resources/versions.html) regarding code.

For stored graphs, the guarantees are [stronger](https://www.tensorflow.org/ve

[2016-09-08 22:26] #4283 closed

[2016-09-08 23:00] thatguymike commented on #4283
So TF shouldn't be used in production until 1.0?  Is there documented rough schedule/timeline for 1.0?

[2016-09-08 23:10] FlorinAndrei commented on #4105
It got worse. Before, if I deleted/recloned the repo and tried again, it would compile. Now it always fails.

[code]

[code]

[code]

[2016-09-08 23:41] martinwicke commented on #4283
There's no problem with using TF in production (we use it plenty). But I *would* advise against using TF *at head using continuous updates* in a production environment.

To use TF in production, I would use a release (or, if you must, a specific hash), and update TF only in a controlled manner. In other words, treat it the same as other libraries you use in production: when you update the library

[2016-09-08 23:51] forhonourlx commented on #4267
Hi Todd,
Thank you for your help, I installed tensorflow from pip of this link:
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl

simon@Y700:~$ ls -l /usr/local/cuda/lib/libcud*
-rw-r--r-- 1 root root 189170 Sep  4 00:48 /usr/local/cuda/lib/libcudadevrt.a
lrwxrwxrwx 1 root root     16 Sep  4 00:48 /usr/local/cuda/lib/libcudart.so -> libcudart.so.7

[2016-09-08 23:55] andykitchen commented on #4193
Hi @ebrevdo the plot I'm talking about is the plot created by the code snipped in the issue.

There's no reference, the instability is pretty obvious once you change n to be on the scale of 10s of thousands. Im not currently aware of any published references analysing the numerical stability of CTC

[2016-09-09 00:03] ebrevdo commented on #3056
Yes- likely to be at head.

On Thu, Sep 8, 2016 at 9:52 AM, Lukasz Kaiser <notifications@github.com>
wrote:

[2016-09-09 00:40] zhaopku commented on #4218
@lukaszkaiser Actually the original code is like this:

        with tf.device(getDevice()):
            model = Model(args, textData)

        writer = tf.train.SummaryWriter(_getSummaryName())
        saver = tf.train.Saver(max_to_keep=200)  # Arbitrary limit ?

        sess = tf.Session()  # TODO: Replace all sess by sess (not necessary a good idea) ?

        embedding_key_0 = 'embedding_rnn_s

[2016-09-09 00:40] wagonhelm commented on #2559
http://wp.me/p7GvOc-2H  Tutorial I made for building from Sources with Ubuntu 16.04 and Cuda 8.0 RC w/ cuDNN 5.1

[2016-09-09 01:35] czakon commented on #1171
I have the exact same problem @sammoes has, but I don't think that the BUILD file that @rasmi was pointing to.  Is there a solution to this problem specific to SyntaxNet?

[2016-09-09 01:35] rasmi commented on #4105
@davidzchen

Yes, that makes sense. I'm modifying `bazel-tensorflow/external/protobuf/BUILD` to fix [this issue here](https://github.com/tensorflow/tensorflow/pull/3097#issuecomment-244814825) and `third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl` to fix [this issue here](https://github.com/tensorflow/tensorflow/issues/190#issuecomment-244636243). I got it to compile af

[2016-09-09 01:53] pfllo commented on #3907
It is very nice to hear that someone is working on accumulating `IndexedSlices` gradients. As for @MohammadSamragh's problem, I'm not sure about his particular use case, but I assume that he is expecting more general sparsity that can not be represented by `IndexedSlices` (e.g. only position [0,0] and [2, 3] has non-zero values in a 4*5 matrix).

[2016-09-09 01:56] daemonSlayer opened #4288 "Error while installing tensorflow on Ubuntu 16.04"
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:  CUDA 7.5, cuDNN 5
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]
output of `ldconfig -p | grep libcudnn`:
[code]
The output of `bazel version` :
[code]
The error I have is:
[code]

[2016-09-09 02:11] alextp commented on #3907
Yes, but that problem can be solved by doing a sparse_tensor_+= operator, which is simpler to support than a sparse tensor variable.

[2016-09-09 02:14] concretevitamin commented on #3907
Haven't followed through the discussion -- maybe take a look at
tf.sparse_add()?

On Thursday, September 8, 2016, Alexandre Passos <notifications@github.com>
wrote:

[2016-09-09 02:14] denson commented on #2922
Is there currently a workaround? I have a good bit of skflow scripts that I need to update to the current version.

[2016-09-09 02:25] heroleap commented on #4164
I am AlvinChen13's colleague and I am going to give more details on the structure. We uses CustomNet CNN to do image classification such as gender detection. We execute our CNN model under the following two cases.

(1) Single Server Case - We mimic the google cifar muti-GPU model to modify our CNN to be able to execute on two GPUs (both GPUs are K40 as mentioned by AlvinChen13 installed on a singl

[2016-09-09 02:35] whuqin commented on #3919
python wide_n_deep_tutorial.py --model_type=wide
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcufft.so locally
I tensorflow/stream_executor/dso_loader.cc:108]

[2016-09-09 02:36] whuqin commented on #3919
I tried the version 0.8.0 and 0.10.0 of tensorflow

[2016-09-09 02:38] shkr commented on #3495
@jameswex can you point to the file where Variable nodes are created from the NodeDefBuilder ? I am having trouble finding it. Thanks!

[2016-09-09 03:08] baylor0118 opened #4289 "sigmoid"
which function can replace sigmoid in LSTM or GRU?

[2016-09-09 03:14] normads commented on #4242
Thanks a lot @mrry! That makes sense.
@tatatodd will post on stackoverflow next time :+1:

[2016-09-09 03:20] cancan101 opened #4290 "Aspect Preserving Image Downsample That does not Require Cropping"
Right now it looks like all of the image downsize (ie resize to a smaller size) operations involve either changing aspect ratio (e.g. [resize_images](https://www.tensorflow.org/versions/r0.10/api_docs/python/image.html#resize_images)) or cropping (e.g. [resize_image_with_crop_or_pad](https://www.tensorflow.org/versions/r0.10/api_docs/python/image.html#resize_image_with_crop_or_pad)). Compare this

[2016-09-09 03:29] pfllo commented on #3907
I suppose @MohammadSamragh wants to have a sparse weight matrix `W`, and do something like `tf.matmul(input, W)`. Then the major problem is how to get the sparse gradient with regard to the non-zero values of `W` efficiently (without mask). I'm not sure how sparse_tensor_+= operator or `tf.sparse_add()` can solve this problem. However, I agree that implementing a new operation will be a better ide

[2016-09-09 03:38] jinhou opened #4291 "Tensor slice is too large to serialize"
Hi,
I met a issue said that "**Tensor slice is too large to serialize** (conservative estimate: 2268204567 bytes)". And i am wondered that why there is a limitation to prevents the TensorSliceWriter from attempting to serialize variables that are larger than 2GB. How can I to skip this limitation if I want to use a variable large than 2GB?

Thanks
Jinlong

[2016-09-09 03:54] jmhodges commented on #10
That's cool! Didn't know! Maybe missed a comment. Anything I can do to help?

[2016-09-09 05:13] pyanfield commented on #10
@jhseu , do you have any plan about when we can get the official release?

[2016-09-09 06:03] lukaszkaiser commented on #4218
It looks like you're calling get_shape() on a tuple -- it's not supposed to have a shape, as it's a tuple. You can get all its elements and their shapes by iterating. I'm closing it as it looks fine, but please -- let me know if there is another problem or if get_shape() is called from some library function (it shouldn't).

[2016-09-09 06:03] #4218 closed

[2016-09-09 06:57] tobegit3hub commented on #4256
Agree with @mrry . Google Cloud ML is the better choice for managed TensorFlow service or you can implement the similar one in bare servers with TensorFlow.

Azure ML is not the open-source project and I'm not sure if TensorFlow community could help. Maybe asking Microsoft to support TensorFlow could be more helpful.

[2016-09-09 07:05] tobegit3hub opened #4293 "The train and test data of wide and deep example is broken"
Wide and deep example code will download train and test data from `https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data` and `https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test`. But those files are broken now and you can `wget` to read the raw data.

[code]

If I modify the file and run with this command, it works. Maybe we should fix the raw dataset

[2016-09-09 07:07] Hvass-Labs commented on #4128
Thanks for the quick reply.

(A) As I understand, ImageNet is a data-set used in academic competitions that has been around for several years now. I understand completely that it's a huge achievement to get so good scores on ImageNet. But fact is that the Inception v3 model you include with TensorFlow gives bizarre results when using it on some real-world images that it ought to be able to recogni

[2016-09-09 08:06] jrabary commented on #3385
Hi all,
Did some of you use the stratified sampling function for a problem where we have a large number of classes. The current implementation is relatively slow in this situation and I'm trying to figure out a way to improve the speed in this situation.

[2016-09-09 08:25] MohammadSamragh commented on #3907
Sorry for my late response guys, I had to get back to my codes to see what I have done.

@pfllo You got my question well. Assume that `y=tf.matmul(input,W)`; if `W` is a dense matrix, then `tf.gradients(y,W)` returns a dense matrix. My question is how to make `tf.gradients(y,W)` ignore gradient computation of some indices in `W` and compute them only in some known indices. Basically I want to impl

[2016-09-09 08:53] whuqin commented on #3919
I find the reason, it is because of the data file's format. there is the empty line at the end of file, just delete it

[2016-09-09 08:56] zzjin13 commented on #3056
This problem is solved now. But another error ocurrs: "tensorflow.python.framework.errors.InternalError: Dst tensor is not initialized."

I assume this problem may be related to running out of memory, so I set the batch size to 1. The problem still exist.

[2016-09-09 09:18] wjbaibai commented on #3388
Same bug with me, anyway, it didn't happen every time, just occasionally.

[2016-09-09 11:06] chocolate9624 commented on #4078
@MahdiNazemi  Do you solve this problem? I also face the same situation. Thanks!

[2016-09-09 11:54] modrymar commented on #4281
I managed to fix the problem. However, I believe that there has to be a better way how to do it.

I changed the following rows of the `decode` method in `translate.py`.
[code]

As I have mentioned, it is not effective and I believe there is a better way how to fix the problem. My changes work as a hot fix, though.

Thanks for any additional advices, tips or ideas

[2016-09-09 12:16] StefOe opened #4296 "Grid RNN Cell does not support dynamic batch sizes"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

http://stackoverflow.com/questions/38442025/tensorflow-grid-lstm-rnn-typeerror
### Environment info

Operating System:
Ubuntu 16.04 LTS (GNU/Linux 4.4.0-31-generic x86_64)

Installed version of CUDA and cuDNN:
-rw-r--r-- 1 root root   322936 Sep 19  2015 /usr/lib/x86_64-linux-gnu/libcudad

[2016-09-09 12:57] VaWheel opened #4297 "'SAME' padding works incorrect"
I have 28x28 image. When I apply convolution (or pooling) with 'SAME' padding, kernel size 2x2, stride 2, it produces feature map of size 14x14, but it should be 15x15, so the last (bottom and right) image pixels would't be processed. The output size should be calculated with formula output = [(input+2*padding-kernel) / stride] + 1 (look https://arxiv.org/pdf/1603.07285.pdf). In case of 'SAME', pa

[2016-09-09 12:59] gao8954 opened #4298 "it allocates on all specified devices (GPU Memory usage is high on Nvidia-smi), but does not do computations (no memory utilization from Nvidia-smi while the program is running)"
Tensorflow it allocates on all specified devices (GPU Memory usage is high on Nvidia-smi), but does not do computations (no memory utilization from Nvidia-smi while the program is running),what's wrong

[2016-09-09 13:29] admcrae commented on #4174
Yes, I can do it.

Out of curiousity (I'm extremely new to the inner workings of TensorFlow ops), why do ops like `BiasAddGrad` and `InvGrad` need C++ kernels?  It looks as though both could easily be implemented with more elementary operations (e.g. a reduction and possibly a casting in the former case, and a simple squaring + multiplication in the latter case). For that matter, why do `inv` and

[2016-09-09 13:41] KeithYin opened #4299 "tensorflow-0.8.0-cp27-none-linux_86_64.whl is not a supported wheel on this platform."
I encounted this issue when trying to install the tensorflow on mine Ubuntu system. here is the details of my system.
Linux ... 4.4.0-21-generic #37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-09-09 14:40] cancan101 commented on #2514
The issues that I have with the two original proposals are:
The two solutions that I have thought of using the existing code are:

What to do with batches? ie the single rows are handled by a buffering batch creator

Both seem a little hacky.

Again with batching, If the epoch size is not a multiple of the batch size, then part of the next epoch ends up on the last batch.

Perhaps an alternative s

[2016-09-09 14:44] chenliu0831 commented on #4048
Is there an official image built with the CUDA compute 3.0 support? It's weird the CI build image in the repo has the `TF_CUDA_COMPUTE_CAPABILITIES 3.0,5.2` but not for those in `tools/docker`

[2016-09-09 15:29] EnlightenedCSF commented on #4252
Having exactly the same problem here, the solution @petewarden suggested didn't work, unfortunately.

[2016-09-09 15:35] petewarden commented on #4252
I have a pending fix in PR #4287, could you confirm that fixes your issue?

[2016-09-09 15:48] joel-shor commented on #3385
I have been able to use this Op with thousands of classes at roughly the same speed as without this Op, in certain cases. Can you copy an example of your usage?

There are 3 general sources of slowness in this op:
1) Fixed cost of setting up extra Ops and Queues (small)
2) Cost of rejecting examples (depends on the source and target distributions)
3) Queueing delays ie enqueue Ops waiting for reso

[2016-09-09 15:50] akors commented on #4090
The log file is better than nothing. Is there at least a way to somehow capture that specific portion of the log, preferably without any stdout/stderr redirections?

[2016-09-09 15:59] EnlightenedCSF commented on #4252
Yes, sir, it does help, thank you!

[2016-09-09 16:02] chenliu0831 commented on #4048
@martinwicke Thanks. I'll try the binary one. Just submit a tiny PR [#4301](https://github.com/tensorflow/tensorflow/pull/4301) adding the env in devel-gpu.

[2016-09-09 16:11] lukaszkaiser commented on #3056
It's important to know how large is your model and how long you're unfolding it. Does it work with a smaller model (say 32 units in a cell)? How much GPU memory do you have? That'd make it clear if it's about memory. Unluckily the seq2seq library does static unrolling -- dynamic_rnn and while_loop do dynamic unrolling and can use CPU memory, so they're much better in terms of practical memory use.

[2016-09-09 16:19] malcolmgreaves commented on #4283
```update TF only in a controlled manner.```
Seems like the problem here is that there's no warnings or release notes when breaking changes occur. How should someone like me (external to Google, using TF) know which versions are safe and which ones are unsafe to depend upon? What strategy do you recommend, @martinwicke ?

[2016-09-09 16:32] vrv commented on #4283
There are release notes when breaking changes occur: https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md, though it's clear it isn't always filled in with all changes :(.

[2016-09-09 17:35] jeanm opened #4303 "Cannot use TensorArray with tf.scan"
I seem to be unable to use `TensorArray`s with `tf.scan`. I am running 0.10.0rc0 on Ubuntu 14.04 with Cuda Toolkit 7.5 and cuDNN v4.

Here is a minimal example:

[code]

And the output is:

[code]

[2016-09-09 17:40] lukaszkaiser commented on #4138
Fix in #4270.

[2016-09-09 17:40] #4138 closed

[2016-09-09 17:41] alextp commented on #3907
Why is sparse_W not a part of the graph?

[2016-09-09 17:57] aselle commented on #3909
Closing due to lack of recent activity. Please reopen if more information becomes available.

[2016-09-09 17:57] #3909 closed

[2016-09-09 17:57] aselle commented on #3843
Closing due to lack of recent activity. Please reopen if more information becomes available.

[2016-09-09 17:57] #3843 closed

[2016-09-09 18:06] keveman commented on #3856
Unfortunately, just renaming the `.whl` file seems insufficient. You also have to rename `<venv_path>/lib/python3.4/site-packages/google/protobuf/internal/_api_implementation.cpython-35m-darwin.so` to `<venv_path>/lib/python3.4/site-packages/google/protobuf/internal/_api_implementation.so`.

[2016-09-09 18:10] aselle commented on #4267
simon@Y700:~$ ls -l /usr/local/cuda/lib/libcud*
so...
export LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/local/cuda/lib

[2016-09-09 18:12] aselle commented on #4299
"tensorflow-0.8.0-cp27-none-linux_86_64.whl"
in your title implies the file is missing an x. Post the whl filename that you downloaded. Also, 0.8 is an old version try 0.10rc1 or 0.9.

[2016-09-09 18:16] aselle commented on #4291
There is a hard limit of 2GB for serializing individual tensors because of the 32bit signed size in protobuf.

See #3766, #2648, etc.
http://stackoverflow.com/questions/34128872/google-protobuf-maximum-size

You need to find a way to break things up into smaller tensors/variables.

[2016-09-09 18:18] aselle commented on #4289
Since this involves using tensorflow rather than an issue or feature request, please ask this on stack overflow.

[2016-09-09 18:18] #4289 closed

[2016-09-09 18:24] tatatodd commented on #4268
Thanks for the report @cancan101!  Please add additional information (e.g. tensorflow version) - try to fill out the template that appears when you click the green "New issue" button, and add it to this issue.  Thanks!

[2016-09-09 18:26] aselle commented on #4277
@jhseu, could you give a quick response of if this is expected to work in 0.10? My inclination is to use master if you are planning to start building on the C-api, because much more work is done there and 0.10's C-api was much less complete.

[2016-09-09 18:27] tatatodd commented on #4269
@ztianjin can you include more of the logs from the failure, or attach the entire log as an attachment?  The snippet you provided above only shows a couple of warnings, but not the actual error.  Thanks!

[2016-09-09 18:28] cancan101 commented on #2514
One solution that I have found is to create a new `input_producer` each epoch and then to `initialize_variables` only the new local variable (the `epoch` count). This works but yields warnings for the old queues:
[code]

[2016-09-09 18:29] tatatodd commented on #4272
@dashrathc Please fill out the full information from the template that appears when you click on the green "New issue" button, including OS, libcuda info, versions, etc.  Thanks!

[2016-09-09 18:31] FlorinAndrei commented on #2559
All the compilation failures I've seen before only happen on the master branch. None of these issues persists when I switch to the r0.10 branch. Last night I was able to complete a build, Ubuntu 16.04, CUDA 8RC, cuDNN 5.1, nvidia-driver-370, python-2.7, and compute capability 6.1 (for Pascal GPU) - as soon as I switched to r0.10.

[2016-09-09 18:31] FlorinAndrei commented on #4105
All the compilation failures I've seen before only happen on the master branch. None of these issues persists when I switch to the r0.10 branch. Last night I was able to complete a build, Ubuntu 16.04, CUDA 8RC, cuDNN 5.1, nvidia-driver-370, python-2.7, and compute capability 6.1 (for Pascal GPU) - as soon as I switched to r0.10.

[2016-09-09 18:37] jbms commented on #3492
This is being implemented --- hopefully will be available soon.

[2016-09-09 18:43] cancan101 commented on #4268
here, though the code snippet I reference is (still) in master:
[code]
[code]
[code]
[code]

[2016-09-09 18:44] wgmao opened #4306 "How does conv2d_transpose exactly space out inputs in tensorflow?"
This may not be the best place to ask this question but I don't get any help from stackoverflow. Sorry if I ask this question in the wrong place.

I understand how transpose convolution works dealing with 2-D images. I just wonder how conv2d_transpose() function in tensorflow exactly adds zeros to the inputs.

Does it only pad zeros along the border, or does it insert zeros to space out inputs in

[2016-09-09 18:46] aselle commented on #4279
It looks like you haven't run ./configure.

[2016-09-09 18:50] hillegass commented on #4279
Ugh. I'm an idiot. (I had run configure, but then I did pull to update my copy of the repository.)  I'm so sorry.

[2016-09-09 18:50] #4279 closed

[2016-09-09 19:13] IvanUkhov commented on #4277
The C API is a doorway to TensorFlow for other languages, and it has been extensively exploited. If there is no a convenient way to compile the API as a shared library in 0.10, the existing bindings will have be able to upgrade TensorFlow to the new version.

[2016-09-09 19:15] tatatodd commented on #4273
@jeandut each filesystem has differing behavior wrt special characters.  I'd recommend the best thing is to avoid special characters in your filenames.  Hope this helps!  If you have any other follow-up questions, just add them here.

[2016-09-09 19:15] #4273 closed

[2016-09-09 19:19] #4306 closed

[2016-09-09 19:20] wgmao commented on #4306
I just figure this out by running a tinny example. If you have the same question, please let me know.

[2016-09-09 19:20] tatatodd commented on #4276
@eymar I'd start by narrowing down the problem:
1. Are you running the same setup on both machines (OS / tensorflow version / python version / etc)?
2. Do things work when run on each machine individually?  So is the only problem the transfer of the model from one machine to the other?

[2016-09-09 19:21] tatatodd commented on #4278
@gibiansky Thanks for the comment!  Would you like to send a PR?

[2016-09-09 19:25] MohammadSamragh commented on #3907
@alextp I just know that ` tf.gradients(y,sparse_W)` returns `None`; I don't know why that happens. I read somewhere that one reason for this might be that  `y` is independent from `sparse_W` as in the following code:
[code]
where changing `x` does not affect `y`. Is there a way I could check if `y` and `sparse_W`  are dependent?

[2016-09-09 19:29] rueberger commented on #4282
OK, there is an easy solution to this problem. Simply construct the variable with

[code]

I'm leaving this open though, because I still don't see why sparse_tensor_dense_matmul should return a tensor with unspecified shape.

[2016-09-09 19:30] alextp commented on #3907
I don't know many graph connectivity things which would let you check this other than the gradient code itself. You can try replacing sparse_w with a placeholder, evaluating y without feeding sparse_w (but feeding the other tensors which y depends on), and see if something fails.

[2016-09-09 20:08] jhseu commented on #4277
The C API was not yet finished as of 0.10. Users need to wait until 0.11 is out (or use master) to really use it.

[2016-09-09 20:08] #4277 closed

[2016-09-09 20:12] msevrens commented on #3738
@girving @yuanbyu @ebrevdo

Is this dead? Is there any progress on this? Do I just need to give up on nested looping? I still would like to see this fixed.

[2016-09-09 20:14] markpwoodward commented on #2514
Regarding the side track, not the original request.
@muhammadzaheer, here is an example usage of `QueueBase.from_list()` that you asked for.
@danijar, I would recommend using `QueueBase.from_list()` over `tf.cond()`.

[code]
outputs

[code]

[2016-09-09 20:17] jhseu commented on #10
We've got a handle on them :) For obvious reasons, we're particular about the structure of the Go API and some particulars (like autosubmitting generated protobuf code).

We need some additions to the C API (work-in-progress) to complete them. Should be in about a week or two.

[2016-09-09 20:22] jhseu commented on #10
Note that it's here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/go

We're making a more reasonable import path for people to use.

[2016-09-09 20:46] pkmital commented on #3628
I think I have the same issue.  Pasting my output below in case it helps:

[code]

You can also try the model for yourself here: https://s3.amazonaws.com/cadl/models/celeb_vaegan.tfmodel

[2016-09-09 20:46] yuanbyu commented on #3738
It was fixed on our side, and should be in HEAD very soon.

[2016-09-09 20:46] tatatodd commented on #4282
@rueberger nice that you found as solution to your immediate problem!
@concretevitamin can correct me if what I say below is wrong, or if we have future plans to improve things.

I think you can classify this as an "implementation quirk".  Let's start with the representation of sparse tensors.  Basically you can think of SparseTensor as a convenient wrapper around 3 underlying tensors, which repre

[2016-09-09 20:50] msevrens commented on #3738
@yuanbyu
Awesome, looking forward to testing it out.

[2016-09-09 20:53] rueberger commented on #4282
Ah, of course, thanks for the explanation. Perhaps it would be possible to slightly modify tf.sparse_tensor_dense_matmul to have a defined shape when the `shape` argument is passed as an array? That would be a pretty easy change, no?

[2016-09-09 20:59] tatatodd commented on #4288
This might be related to #3985, where it suggests a few things:
1. Run `bazel clean`
2. Then run `configure` again, manually specifying the cuda version.

Please report back if that helps, or if you think #3985 is or isn't related.  Thanks!

[2016-09-09 21:20] tatatodd commented on #4290
Thanks for filing the issue @cancan101

The SO link provides examples of how to resize to dynamic dimensions, which allows you to code this up manually.  It's true that this isn't as convenient as a built-in mechanism.  We welcome pull requests!

[2016-09-09 21:25] MahdiNazemi commented on #4078
@chocolate9624 I still have this issue. Please let me know if you find a solution.

[2016-09-09 21:27] tatatodd commented on #4293
@tobegit3hub Thanks for filing this issue!

I see that the `|1x3 Cross validator` line in `adult.test` is unexpected.  Did you find any other issues in the two files?

We welcome pull requests to fix these kinds of problems!

[2016-09-09 21:34] mrry opened #4308 "tf.image.rot90() returns `None` if the argument is not a Python integer"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Pointed out in this [Stack Overflow](http://stackoverflow.com/q/39418948/3574081) question.

### Environment info

1. The commit hash (`git rev-parse HEAD`): bf5b2f0185d4b61329a0bf7a56827661ef6526a1

### If possible, provide a minimal reproducible example (We usually don't have time to re

[2016-09-09 21:35] tatatodd commented on #4296
Thanks for filing the issue @StefOe

You might also be interested in the comments in #1665 (toward the bottom), which is also linked in the comments of the SO post you provided.

Note that we have limited resources for maintaining contrib code.  We do welcome pull requests with tests to fix things!

[2016-09-09 21:38] aselle commented on #3912
Have you managed to find the source of your problem @StructML?

[2016-09-09 21:38] tatatodd commented on #4297
@VaWheel can you provide a small test example that reproduces your problem?  Thanks!

[2016-09-09 21:40] aselle commented on #3938
@keveman, any update? @haibarasiao any luck solving this on your own?

[2016-09-09 21:42] tatatodd commented on #4298
@gao8954 we primarily use github issues for tracking bugs and installation issues.  For general debugging and help, please ask your question on StackOverflow, and tag it with the `tensorflow` tag.

I'd suggest you start on the tensorflow.org site and run some of the simple tutorials and examples, and confirm that your installation is correct.  Perhaps take a look here:
https://www.tensorflow.org/v

[2016-09-09 21:42] #4298 closed

[2016-09-09 21:43] aselle commented on #4117
@caisq, could you take a look at integrating this. the devel docker image is pretty insanely huge right now. Somebody nearby filled their disk and wedged their machine installing that docker image :).

[2016-09-09 21:48] aselle commented on #4093
I am closing this issue, as it is more of a question appropriate for stackoverflow. If you see  behavior that is a bug, you would need to reduce it to something small that we can reproduce. It seems like this is a case of a model that is too big. Thank you.

[2016-09-09 21:48] #4093 closed

[2016-09-09 22:27] tatatodd commented on #4303
@ebrevdo can correct / expand as necessary

Thanks @jeanm for filing this issue!  I can indeed reproduce the output.

I believe the purpose of `TensorArray` is to implement dynamic iteration primitives - e.g. `scan` is implemented using `TensorArray`:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/functional_ops.py#L506

I'm not sure whether `TensorArray` is itself mean

[2016-09-09 22:28] alexgkendall opened #4309 "In-place operations (dropout, ReLU, etc..)"
As far as I understand, tensorflow does not support in-place operation of operations such as ReLU, Dropout, etc..

If an operation outputs the same type and shape tensor and does not involve any branching in the graph then it should be possible to operate on the same chunk of memory.

As it stands, tensorflow doesn't support this which severely increases memory usage for large deep learning models

[2016-09-09 22:51] tatatodd commented on #4281
@lukaszkaiser might have some ideas.

[2016-09-09 22:56] jeanm commented on #4303
Thanks for the quick response @tatatodd

I am implementing an RNN which, at time `t`, may need to access not just the output at `t-1` but also outputs from earlier time steps. That's why I'd like to pass around a `TensorArray` and update it as I go along. In #2237 there are several examples of RNNs of this kind, such as [this simple Tree-RNN](https://github.com/tensorflow/tensorflow/issues/2237#is

[2016-09-09 23:00] tatatodd commented on #4229
@berlogb have you attempted using newer drivers, to see we at least report a reasonable error when the gpu is used concurrently, rather than silently giving bad results?

[2016-09-09 23:00] VaWheel commented on #4297
`import tensorflow as tf

data = tf.placeholder("float", shape=[1, 8, 8, 1])
conv = tf.nn.max_pool(data, [1, 2, 2, 1], [1, 2, 2, 1], padding='SAME')

print(conv.get_shape())  # prints (1, 4, 4, 1), but should be (1, 5, 5, 1)
`

[2016-09-09 23:01] tatatodd commented on #4244
BTW in the meantime, I wanted to mention that we're happy to accept pull requests.  :)

[2016-09-09 23:03] tatatodd commented on #4252
Excellent, closing this out.  If you still have issues just ping this thread.

[2016-09-09 23:03] #4252 closed

[2016-09-09 23:08] tatatodd commented on #4126
Closing this out due to lack of activity.  Feel free to post on this issue if it's still a problem.  Thanks!

[2016-09-09 23:08] #4126 closed

[2016-09-09 23:09] gsiisg commented on #4149
@mrry
I'm also getting worse accuracy (usually) for wide_n_deep compare to just wide.  The values do fluctuate since I'm using 980 GTX GPU.  But the values seems to fluctuate only for the wide_n_deep accuracies (I've gotten as high as .840 and as low as .796), the wide is fixed (always get 0.835452 with GPU).
This is using the wide_n_deep_tutorial.py as of 9/9/2016

[2016-09-09 23:17] msevrens commented on #3738
@yuanbyu
The current code in github actually does fix the simpler nested loop example I provided above. Unfortunately, the same error appears when I run the more complex version of the nested loop I'm using for the tagger. I'm not sure what the key difference is.

Example here:
[nested_loop.txt](https://github.com/tensorflow/tensorflow/files/464999/nested_loop.txt)

I'm not sure whether the full f

[2016-09-09 23:18] mrry commented on #4149
@gsiisg This sounds like a separate issue, unrelated to Python 3 compatibility. Please open a new issue describing your problem.

[2016-09-09 23:31] tobegit3hub commented on #4293
Thanks @tatatodd .

These two files have unexpected empty line at the end of the files. After removing the first line of `|1x3 Cross validator` and the empty lines at the end, it will work.

I'm not sure who maintains these datasets. How can we create the pull-request and contribute for this?

[2016-09-09 23:47] #4103 closed

[2016-09-09 23:49] martinwicke commented on #4309
Since most of the memory is concentrated in the weights, I don't think this would lead to significant savings. The examples you give only affect activations, which are a tiny part of a typical model's memory consumption.

[2016-09-09 23:50] #4309 closed

[2016-09-09 23:56] vrv commented on #4309
Martin: I wouldn't say that all the memory is always concentrated in weights.

However, we have not seen proof that you need in-place operations to be memory efficient.

* If there is only one consumer of an activation, the memory will be freed almost instantaneously after the consuming op is completed.  Yes, you can avoid this one memory allocation for an activation buffer, but in practice this i

[2016-09-10 00:15] andrewharp commented on #3685
@cardshuffle build.gradle commited in in bd73f2e3b88ddd6a89d5ee08f83e65a29fdba8df. Hopefully this makes thigs a bit easier.

[2016-09-10 00:15] terrytangyuan commented on #4293
You can fork the repo, work on your own branch to make the changes, and then submit a pull request.

[2016-09-10 00:16] alexgkendall commented on #4309
Thank you for your reply. Consider a 3d convolutional model (say for example over a video tensor - these are quite commonly used). @martinwicke in this situation the dominant memory by far is in the feature tensors. Having to create deep copies of these tensors for both activation and dropout severely limits the depth of networks you can train. This contrasts with other libraries (e.g. Caffe/ Torc

[2016-09-10 00:31] lonce commented on #4210
Hi tatatodd,

https://www.python.org/ftp/python/3.5.2/python-3.5.2-macosx10.6.pkg

   https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.10.0-py3-none-any.whl

I mean I also have python 2.7 installed (I understand it is needed by OSX for something), but for my own development, I use 3.5.

This may be more info than you need, by the traceback for the error follow:
TypeError

[2016-09-10 00:42] rmlarsen commented on #4174
@admcrae Sounds great!

We added C++ kernels for them purely for performance, since they appear often large DL  models and/or their gradients. For example, div(scalar, tensor) would first broadcast scalar to a tensor then divide the two tensor elementwise, whereas inv(tensor) will apply the unary transformation x = 1/x elementswise. The actual division will of course used vectorized/SIMD instructi

[2016-09-10 00:46] Mchapuis commented on #1171
Code from @rasmi and help from @czakon worked! :D

[2016-09-10 00:49] rmlarsen commented on #4101
@Bonnevie No, we do not do any dynamic checks for structure or sparsity in matrices, only functions like matrix_triangular_solve or cholesky_solve explicitly presuppose triangular structure.

Thanks for providing the analytic gradients and your analysis. I will take a look sometime in the coming week and respond here.

[2016-09-10 01:05] JohnnyY8 commented on #4253
@tatatodd Hi:
Thanks for your answer. But applying dropout to the input layer maybe not the root problem, I think it is good for input and hidden layer. Thank you for your help again.

[2016-09-10 01:07] JohnnyY8 commented on #4253
@fwalch Hi:
Thank you, I am just a beginner for tensorflow and do not understand how to feed the placeholder into session.run?

[2016-09-10 01:08] tatatodd commented on #4268
@cancan101 I see what you're saying, and I agree there seems to be a bug here.

WRT the details, I don't think calling `_ImageDimensions(image, static_only=True)` sounds right, since the sizes are not actually statically known.  Instead I think we want to treat the depth separately from the width and height, but I'm not sure what the right fix is.

@gaohuazuo I believe you wrote the current versio

[2016-09-10 01:10] yuanbyu commented on #3738
Running your code gave the following error:

File "/usr/local/google/_blaze_yuanbyu/4e574b920d97309ebaf8003010ddff1b/execroot/google3/blaze-out/gcc-4.X.Y-crosstool-v18-hybrid-grtev4-k8-opt/bin/experimental/users/yuanbyu/python/dynamic_rnn1.runfiles/google3/experimental/users/yuanbyu/python/dynamic_rnn1.py", line 284, in train_model
    optimizer_out, loss = sess.run([get_op(graph, "optimizer"), ge

[2016-09-10 01:12] cancan101 commented on #4268
Ok then perhaps the bug is here:
[code]
which ignore tensors even if they are constant values.

[2016-09-10 01:12] yuanbyu commented on #3738
By the way, if you got exactly the same error as before:

[code]

It is very likely that you were using an older version that doesn't include the fix.

[2016-09-10 01:53] tatatodd commented on #4297
@VaWheel I think I see where the confusion occurred.

In the paper, I believe the output formula you're using is is from section 2.4 "Zero padding, non-unit strides".  That formula is correct, but make sure you don't miss the floor function!

But you mention that SAME padding should be [kernel/2], which you're getting from section 2.2.1 "Half (same) padding".  Note that in the formula s=1, i.e. th

[2016-09-10 01:53] #4297 closed

[2016-09-10 02:05] Mistobaan opened #4311 "Configure takes a lot of time and resources"
in the last few weeks I notice that while developing operations for tensorflow I find myself doing ./configure many more times and each time takes few minutes on a good internet connection.

Can we cache some of the artifacts ? Do we have to remove all the time the complete protobuf repository ? How is this handled internally at google ?

[2016-09-10 02:05] yuanbyu commented on #3889
Should be fixed at HEAD by now.

[2016-09-10 02:31] zzjin13 commented on #3056
In fact, I run the embedding_rnn_seq2seq model with the same hyper-parameters before. It works well with my GPU. However, when I switch to embedding_attention_seq2seq model, it cannot work even if I set the batch size to 1 (128 before) and RNN hidden state dimension to 1 (256 before). So I think this is not a issue related with memory. Any other factors may cause this problem?

[2016-09-10 02:47] martinwicke commented on #4122
pull requests are welcome!

[2016-09-10 02:50] jinhou commented on #4291
@aselle Thanks for your quick response. Are you planning to provide some operations to break big tensors/variables into smaller ones, since it is very easy to exceed 2 GB limitation for some big models.

[2016-09-10 02:50] #2180 closed

[2016-09-10 02:59] episodeyang commented on #2292
Why is this the case?

I'm happy that this also solved my problem, but I'm a bit confused.

According to the doc, the `allow_soft_placement=True` is a flag used to find substitute devices if the device specified is unavailable. In this case, we specified a different device that **is** available. We shouldn't need this flag.

[2016-09-10 03:13] gustavla opened #4312 "Can't configure due to undeclared packages inside if_android/if_ios"
I am having trouble configuring the latest master branch (dbe7ee0dfa9e5ab26284522379f2747510fc267b). When I run `./configure`, I get:
[code]
To summarize, the dependencies that are included inside the `if_android` and `if_ios` are not found. They don't exist in the repository, so that is not that surprising. What is more surprising though is that my vanilla installation is not returning empty list

[2016-09-10 03:39] lukaszkaiser commented on #3056
Looks like a bug -- please, let us know when you dig some more information. The seq2seq code didn't change much with state_is_tuple, so it's very strange what you're seeing.

[2016-09-10 03:49] woodshop commented on #4312
I can confirm this issue. In my environment `configure` fails on the latest commit (7705791619f5e851687e9a63b4315087e189f8be) with the following errors:

[code]

As suggested by @gustavla, I checked out https://github.com/tensorflow/tensorflow/commit/ed87884e50e1a50f7dc7b36dc7a7ff225442bee0 and `configure` ran without error.

[2016-09-10 03:51] gaohuazuo commented on #4268
I think the problem is that `_ImageDimensions` returns tensors even if integer is possible for some dimensions.

Possible fix (not tested) https://github.com/gaohuazuo/tensorflow/commit/85ce1fbb7d7d190b9cb5c6d8c87b986fb1358467

[2016-09-10 04:59] eymar commented on #4276
@tatatodd Sorry, I didn't mention that.

1) The configuration of machines is almost identical. The difference is only in OS - first machine is Ubuntu 14.04, the second one is Ubuntu 12.04. The rest are the same: Python 2.7.6, tensorflow  - r0.10

2) Yes, when I run on each machine individually, everything work. The problem is transferring model from one machine to the other.

P.S. Actually, I'm us

[2016-09-10 05:11] max0x commented on #1947
@mbektimirov Your solution works for me. I upgraded my Nvidia driver from version 352.39 to 367.44. Now I can run TF freely without GPU freezing. Thank you!

[2016-09-10 05:35] trinity77 commented on #1069
Trigger Closed

[2016-09-10 05:36] ebrevdo commented on #3056
This does indeed sound like a bug, perhaps with the while_loop.  Can you
provide a minimal failing example?

On Sep 9, 2016 8:39 PM, "Lukasz Kaiser" <notifications@github.com> wrote:

[2016-09-10 05:38] trinity77 commented on #2671
Trigger update_date

[2016-09-10 05:38] trinity77 commented on #2669
Trigger update_date

[2016-09-10 05:38] trinity77 commented on #2552
Trigger update_date

[2016-09-10 05:39] trinity77 commented on #2575
Trigger update_date

[2016-09-10 05:39] trinity77 commented on #2540
Trigger update_date

[2016-09-10 05:39] trinity77 commented on #2500
Trigger update_date

[2016-09-10 05:40] Fenugreek opened #4314 "Add float16 support for Elu, EluGrad ops"
Support for `tf.float16` dtype was recently added (#1300) to a bunch of ops, starting with matmul, conv2D and then many more. Can we add it for elu also please?

Looking at `tensorflow/nn_ops.cc`, I see that the `Elu` and `EluGrad` ops are registered for types `{float, double}` whereas for a whole bunch of other activation functions I see the type as `T: realnumbertype` or `{half, float, double}`.

[2016-09-10 05:40] trinity77 commented on #2484
Trigger update_date

[2016-09-10 05:40] trinity77 commented on #2021
Trigger last updated

[2016-09-10 05:41] trinity77 commented on #1751
Trigger last updated

[2016-09-10 05:46] ebrevdo commented on #2237
This feels like it is more appropriate as a StackOverflow thread, not github issues.

[2016-09-10 05:49] ebrevdo commented on #4303
Please see the new `tf.nn.raw_rnn`, which allows you to keep an arbitrary list of tensors and TensorArrays in the loop_state, as passed through loop_fn.

You can write the rnn output state to your loop state.

[2016-09-10 05:50] ebrevdo commented on #2514
QueueBase.from_list may be deprecated soon.  +@mrry

On Sep 9, 2016 1:14 PM, "Mark Woodward" <notifications@github.com> wrote:

[2016-09-10 05:52] martinwicke commented on #217
Any news on this? We have autopep8 set up now, but it's doing fairly minimal things so far (and @yifeif hacked a version to do 2 space indent).

[2016-09-10 05:53] dashrathc commented on #4272
### Environment info
Operating System: Ubuntu 16.04.1 LTS

Installed version of CUDA and cuDNN:
![libcudnn](https://cloud.githubusercontent.com/assets/7776101/18408249/11279cf6-7748-11e6-9044-3c7eb081b7fb.png)

TensorFlow version:
![tensorflow_version](https://cloud.githubusercontent.com/assets/7776101/18408261/51d09c12-7748-11e6-9f74-bc4a24003c93.png)

git rev-parse HEAD
8a3107801d15bf8af36221ff5

[2016-09-10 05:53] ebrevdo commented on #2514
My current suggestion is to

```group(*[cond(..., lambda: q.enqueue(....), tf.no_op) for q in queues])```

[2016-09-10 05:54] ebrevdo commented on #2514
See the new tf.contrib.training.bucket function for an example.

[2016-09-10 06:11] gustavla commented on #3743
I just pushed a PR with a propsed fix to this. Note, this is fixing the issue that I described and not the one @flybirdx101 was having, which turned out to be a separate issue altogether.

[2016-09-10 06:45] tvogels commented on #3441
Can I use C++ threads in the CPU implementation of an op? And how should I choose the number of threads to use?

[2016-09-10 09:06] VaWheel commented on #4297
As I understand, SAME pads with half the filter size. So in the case of 8x8 image, 2x2 kernel, stride 2 it should look like
![image](https://cloud.githubusercontent.com/assets/12466121/18409407/fb3d885e-774e-11e6-873f-4cfff385b62c.png)

[2016-09-10 09:34] ibab commented on #2237
Here's the StackOverflow question I created originally: http://stackoverflow.com/questions/37054188/how-can-i-implement-a-recursive-neural-network-in-tensorflow

I thought that the issue might be appropriate as a feature request.
Feel free to close this issue if you prefer.

[2016-09-10 10:46] ibab commented on #4312
You can fix this by commenting out the `if_android` and `if_ios` calls in `contrib/session_bundle/BUILD` and the `android_tensorflow_lib_lite_no_rtti_lite_runtime` target in the core `BUILD` file.
These seem to be based on Google internal targets.

`if_android` doesn't return an empty list directly, but gives you a `select` object, which is resolved to an empty list by bazel.

[2016-09-10 12:39] woodshop commented on #4312
Confirmed that if I make these changes to the following three files `configure` runs without error:

- Remove all `if_mobile` and `if_android` conditions from `tensorflow/contrib/session_bundle/BUILD`
- Remove the `ios_tensorflow_test_lib` target from `tensorflow/core/BUILD`
- Remove the `android_tensorflow_kernels_no_rtti_lite_runtime` target from `tensorflow/core/kernels/BUILD`

[2016-09-10 13:16] kwotsin commented on #4312
Do you mean that I comment out everything related to mobile devices,  not just if_mobile and if_android? Or are these 2 components sufficient?

[code]

[2016-09-10 13:21] ibab commented on #4312
You don't need to remove them from the call to `load` at the top of the file, but instead each time they are used, like this:
[code]

[2016-09-10 14:02] wangxianliang commented on #17
We need windows support!!!!
Can the team tell us please about estimates for native windows support?

[2016-09-10 14:17] hunk3749 opened #4317 "unable to install tensorflow"
i am using ubuntu 12.04. i was following instructions from tensorflow.org for installing the tensor flow but getting the following error after downloading the the tensor flow-
ownloading tensorflow-0.10.0-cp27-none-linux_x86_64.whl (36.6Mb): 36.6Mb downloaded
  Running setup.py egg_info for package from https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp27-none-linux_x86_64.wh

[2016-09-10 14:30] ibab commented on #4311
I wonder whether simply commenting out the `bazel clean --expunge` at the end of the `configure` script would lead to problems.
I assume there must be a reason it's there, but I haven't figured out what it might be (assuming that bazel can correctly pick up the changes in all files touched by `configure`).

[2016-09-10 15:54] AnishShah commented on #4278
I can send a PR. If it is okay with @gibiansky ?

[2016-09-10 16:13] gibiansky commented on #4278
Go ahead!

[2016-09-10 16:37] shkr opened #4319 "Error when building tensorflow from source"
I am trying to build and install tensorflow from source. However when building with bazel it returns an error stating Extension file 'tensorflow/tensorflow.bzl' has errors.

Here are the commands that I ran and the logs are included.

[code]

Thanks for your help

[2016-09-10 16:51] sguada commented on #4247
Use tensorflow.contrib.slim for all the core functionality.

Use tensorflow/model/slim for the models and nets.

This one is deprecated: (tensorflow/model) model.inception.inception.slim

[2016-09-10 18:49] smtabatabaie commented on #25
My laptop gives me this log when I try to run mnist sample :
"Ignoring gpu device (device:0,name:GeForce GT 635M, pci bus id) with Cuda compute capability 2.1. The minimum required Cuda capability is 3.0 . "
So does this mean that I can't use GPU version because the minimum Cuda for tensorflow is 3.0 ?
Thanks

[2016-09-10 19:06] CalaveraLoco commented on #4319
Try to update your bazel installation. I had this problem a few minutes ago, and this seems to have solved it on my side.

[2016-09-10 19:12] martinwicke commented on #25
If you use the prebuilt binaries, yes. If you build from source you can
build with Cuda 2.1 support but I don't know if that actually works. It's
likely that the effective minimum is cuda 3.0.
On Sat, Sep 10, 2016 at 11:51 Mojtaba Tabatabaie <notifications@github.com>
wrote:

[2016-09-10 20:05] ilblackdragon commented on #3047
So to make it work in Jupyter, one right now needs to add
`tf.logging.set_verbosity(tf.logging.INFO)`. Also it prints right now in red as it's `stderr`.

We should support a way to print into `stdout` and by default show `INFO`.

[2016-09-10 21:41] msevrens commented on #3738
The GradLoopState error should occur before the error you're seeing so it appears to be solved on your system.

Unfortunately I no longer seem to be able to build from scratch using the most recent code so I'll need to debug that before I can confirm.

[2016-09-10 21:50] msevrens commented on #4312
Having this issue as well

[2016-09-10 21:57] daeyun commented on #3499
in case anyone else is wondering the same thing; `tf.name_scope(name + '/')` will force `name` to be re-used. `scope` is just `name + '/'`

[2016-09-10 22:58] shkr commented on #4319
I reinstalled, as you have prescribed. Same error. I think there is a configuration step that I am missing with the tensorflow.bzl build file

[2016-09-10 22:58] msevrens commented on #3738
@yuanbyu

So I got TF to build and it appears the issue with nested looping is solved. Thanks for your effort on this.

Unfortunately the looping approach I was attempting did not speed up the training or execution of the model I'm working with but as far as this issue goes it can be closed.

[2016-09-10 22:58] #3738 closed

[2016-09-11 00:54] jmhodges commented on #10
Cool! What's the plan for the protobuf generated packages? I'm currently just copying the proto files into my own build to pop out the Go code I want and they just barely don't fit there trivially (because protoc-gen-proto has some rules about where its generated code goes and what import paths they refer to each other with)

[2016-09-11 01:03] jmhodges commented on #10
Oh, man, after weeks of hunting, I just found https://github.com/golang/protobuf/issues/139 so now I understand how it'll work

[2016-09-11 01:14] raix852 commented on #4312
I had the same issue too. Following @ibab @woodshop suggestions solved this problem.
I think `configure` need an option to decide target environment.

[2016-09-11 04:54] eiva commented on #17
No windows? why? at least CPU only versions?

[2016-09-11 06:47] rongjiecomputer commented on #17
Here is a summary of what I think is happening in this Windows support issue:

Tensorflow requires [Bazel](https://github.com/bazelbuild/bazel/) to build from source, If I am not mistaken, Bazel is a build system like GNU Make, but not a compiler.

Based on what I saw as I briefly scanned through the code, source code of Tensorflow itself uses mostly standard C++ library for things like threading

[2016-09-11 07:11] todpole3 opened #4321 "model.saver.save() freeze and get killed"
Below is my flow for training an encoder-decoder model.

The training runs alright. But the program froze and eventually got killed during the call to Saver.export_meta_graph().

However, I was able to get the saved checkpoint and continue training.

Does anyone know what may be the cause for this problem?

[code]

[2016-09-11 07:19] kwotsin commented on #4312
I fixed the issue according to @ibab and @woodshop advice as well.

However, I also commented out `copts = if_ios(["-DGOOGLE_LOGGING"]),` and any if_ios conditions, which was seen invalid when I was configuring. Thank you!

[2016-09-11 07:42] petewarden commented on #3442
I´ve seen multiple reports of this, but haven´t been able to reproduce this, so I bought several clean Pi 3s with Jessie SD cards to experiment with. On my first one, I´m still not seeing the issue, so I suspect thereś something I´m missing with my approach. To narrow it down, here are my complete steps copied from my bash history:

[code]
This runs as expected, and produces military uniform as th

[2016-09-11 08:48] marklit commented on #17
@eiva If you want CPU-only support you can run Tensorflow in a virtual machine. I've run it on Ubuntu 14 on a Windows 10 host without issue.

[2016-09-11 08:51] Eidosper opened #4322 "Ubuntu16.04+cuda8+cudnn5.1, meets error"
I'm trying to do as http://textminingonline.com/dive-into-tensorflow-part-iii-gtx-1080-ubuntu16-04-cuda8-0-cudnn5-0-tensorflow. when it comes to './configure', terminal show errors.

Who can help me with this issue

[2016-09-11 09:53] 3rd3 commented on #3114
I'm getting the same error upon what seems to be the Assignment operation in the initial variable initialization of a variable inside a tf.scan. I'm using the latest official build from the TensorFlow website. Any idea?

[2016-09-11 09:55] tobegit3hub commented on #4293
Thanks @terrytangyuan and I knew how to send pull-request. I mean how to fix this issue. The dataset is from `https://archive.ics.uci.edu` which may be beyond the scope of TensorFlow.

Would you like to maintain the dataset by yourselves? Or contact someone who can fix this.

[2016-09-11 10:44] HWiese1980 commented on #17
@rongjiecomputer I honestly wonder why they used Bazel at all...

 @eiva There's also a ready built Docker container that you can use on a Windows host. Works out of the box. It's just not that much fun to work with tensorflow without GPU support. For the cool stuff at least a single GPU is a requirement. You canof course run basic stuff like linear or logistic regression without a GPU. But that's

[2016-09-11 11:15] BlizzardSnow commented on #4319
I have the same issue

[2016-09-11 12:06] edgelord commented on #4319
I had the same issue with master master, but I could build after switching to the r0.10 branch.

[2016-09-11 12:43] Eidosper commented on #4322
https://github.com/tensorflow/tensorflow/issues/4312

I got an answer here

[2016-09-11 12:43] #4322 closed

[2016-09-11 13:40] Eidosper commented on #4312
if you download tensorflow from github instead of 'git clone', you will not meet this.

[2016-09-11 13:59] yossibiton opened #4324 "can't find module tensorflow after building 'quantize_graph'"
Hi,

I followed this [blog post](https://petewarden.com/2016/05/03/how-to-quantize-neural-networks-with-tensorflow/) in order build the tool for quantizing graph (tensorflow/contrib/quantization/tools/quantize_graph).
I had a clean working version of tensorflow installed properly.

I used this command in order to build the quantization tool :
**bazel build tensorflow/contrib/quantization/tools:qua

[2016-09-11 14:01] woodshop commented on #4312
Just to clarify @Eidosper's comment: the suggestion is to use an official TF release (e.g. tagged v0.10.0rc0). This is not a solution for anyone that needs the current state of TF development (i.e. the newest commit of the master branch).

[2016-09-11 14:03] Eidosper commented on #4288
I got similar errors, and tatatodd's way doesn't work.

@tatatodd

[2016-09-11 14:13] daemonSlayer commented on #4288
@tatatodd 's way didn't work for me either . Haven't been able to successfully install and am having same errors as before

[2016-09-11 14:23] Eidosper commented on #4288
@daemonSlayer
https://github.com/tensorflow/tensorflow/issues/1157

meybe help, I'm trying.

[2016-09-11 16:15] #4247 closed

[2016-09-11 16:16] ohmystack commented on #4247
@sguada Thanks for your explanation!

[2016-09-11 17:12] brunodoamaral commented on #4319
I'm having the same error. It points out to an invalid configuration. A recent commit has changed the lines pointed by the error: https://github.com/tensorflow/tensorflow/commit/7bcdcbbf60fc08346fd8016270a0563f4b51362b

[2016-09-11 17:18] brando90 commented on #135
Has anyone experienced this issue in Linux? I'm having this issue in a linux box.

[2016-09-11 17:30] brunodoamaral commented on #4319
Update: upgrading bazel, as pointed out by @CalaveraLoco , seems to fix the problem.
The issue I had is that I have two bazel installations and only upgraded the 'second' one.

[2016-09-11 17:33] shkr commented on #4319
Which version of bazel do I need to upgrade to ?

I installed bazel with homebrew.

Here are my build details

[code]

[2016-09-11 17:51] brunodoamaral commented on #4319
I used 0.3.0

[2016-09-11 18:10] brando90 commented on #20
why does ldconfig /usr/local/cuda/lib64 solve it @zdx3578

[2016-09-11 18:47] trsonderm opened #4326 "ImportError: No module named _pywrap_tensorflow"
Traceback (most recent call last):
  File "./train.py", line 3, in <module>
    import tensorflow as tf
  File "/Users/thomassonderman/tensorflow_gpu/lib/python2.7/site-packages/tensorflow/__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "/Users/thomassonderman/tensorflow_gpu/lib/python2.7/site-packages/tensorflow/python/__init__.py", line 48, in <module>
    from tens

[2016-09-11 18:48] ivan-aksamentov commented on #1234
The described convenient behavior has changed somewhere between versions 0.9 and 0.10.
The snippet with `sparse_softmax_cross_entropy_with_logits` now results in:

    [array([ nan], dtype=float32), array([ nan], dtype=float32)]

Cross entropy for padding values became `nan` instead of `0.0`. Looks like a breaking change: forward pass is okay (with masking), but gradients are stuffed with `nan`s .

[2016-09-11 19:01] #4326 closed

[2016-09-11 19:01] trsonderm commented on #4326
I was running it as ./train.py instead of python train.py

[2016-09-11 19:02] pmousoul commented on #3442
Hi,
I've run into the same problem!

My gdb output after running once on the gdb is:

`(gdb) r
Starting program: /home/pi/tensorflow/tensorflow/contrib/pi_examples/label_image/gen/bin/label_image
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/arm-linux-gnueabihf/libthread_db.so.1".
W tensorflow/core/platform/profile_utils/cpu_utils.cc:73] Failed to get CPU freq

[2016-09-11 20:43] hholst80 commented on #3442
So git clone or git clone --recurse-submodules does not matter?

[2016-09-11 23:03] BarryTheBastard commented on #3546
I'm experiencing same issue on Linux. Looks like in my case it only happens with int tensors.

[2016-09-12 00:01] concretevitamin commented on #3373
@lightcatcher Consider also using partitioned variables.  E.g. `tf.get_variable(..., partitioner=<...>)`.

[2016-09-12 00:05] pmousoul commented on #3442
Hi again!

Pete, I used your commands starting the whole thing fresh and it worked!

So, the only difference between your commands and the ones in the documentation is that in your commands you use directly the "CXX=g++-4.8" in
make -f tensorflow/contrib/makefile/Makefile HOST_OS=PI TARGET=PI OPTFLAGS="-Os -mfpu=neon-vfpv4 -funsafe-math-optimizations -ftree-vectorize" CXX=g++-4.8
but in the docume

[2016-09-12 00:10] petewarden commented on #3442
Thanks for the update, that is promising! I am following your original steps here on my Pi, without a `make clean` between the gcc 4.9 and 4.8 builds. If that reproduces the issue, then I will update the documentation to start with version 4.8, rather than having it be an option, and also mention that if you do switch compilers it's necessary to clean. If there's a straightforward way to enforce t

[2016-09-12 01:02] nchivukula commented on #2655
@martinwicke Looking forward to this feature. Let me know if you need any help on this to get it out quicker

[2016-09-12 01:13] anirudh2290 commented on #4105
Hi,

I am getting a similar error when running ./configure. "ERROR: The specified --crosstool_top '@local_config_cuda//crosstool:CROSSTOOL' is not a valid cc_toolchain_suite rule." Is this related to this issue.
My configuration :
export TF_NEED_GCP=0
export TF_NEED_CUDA=1
export TF_CUDA_VERSION=7.5
export TF_CUDNN_VERSION=5

Is this related to this issue ? I switched to r0.10 branch but still abl

[2016-09-12 01:13] petewarden commented on #3442
I was able to reproduce the malloc errors using your steps @pmousoul, so it does look like the lack of a clean is the issue. I'm double-checking that by building it again after a clean, but I've updated the docs in PR #4327 to use gcc version 4.8 by default, and hopefully avoid misleading directions. Thanks for everyone's help tracking this down, I'm cautiously optimistic that this is the root cau

[2016-09-12 01:54] david-liu commented on #4203
Hello, Thank you response, I have run the code on the latest 0.10 release,

I think we can test with the source code of [A RETRIEVAL-BASED MODEL IN TENSORFLOW](https://github.com/dennybritz/chatbot-retrieval/ ) , after you download the data for google driver,
and replace the validation.tfrecords with another validation tensorflow record with small size(2 validation sample,and I have created a r[ep

[2016-09-12 02:19] daemonSlayer commented on #4288
I wasn't able to work with that configuration on other libraries like caffe either.
Now my system details are:
OS: ubuntu 16.04
gpu: nvidia 940mx
cuda : 8.0rc
cudnn: 5.1

I am having this error:

In order to remove these errors, I tried commenting out if_android, if_ios from tensorflow/core/BUILD but that hasnt helped.

[2016-09-12 02:26] nsuke commented on #4105
@anirudh2290 which version of bazel are you using ?
I've got the same error with this commit and after: bazelbuild/bazel@0d32fc88d6d179bedef4a04bc22c44583365b859
0.3.1 should be fine.

[2016-09-12 02:54] petewarden commented on #3442
I've confirmed that adding a 'make clean' in between the gcc version switch in @pmousoul's steps fixes the issue, so I believe that's strong evidence that we've tracked down the cause of this issue.

[2016-09-12 03:00] haibarasiao opened #4328 "In a distribute model, if I run 10 worker jobs, how many ps jobs should run?"
In a distribute model, 10 nodes each have one GPU and run a worker job, how many ps jobs should run?

[2016-09-12 03:04] haibarasiao commented on #3938
no good solving, I have to reduce the number of weights to solve it.

[2016-09-12 03:10] haibarasiao commented on #4328
sorry, I should ask this problem in at right place.

[2016-09-12 03:10] #4328 closed

[2016-09-12 03:48] tobegit3hub commented on #5
Thanks @lakshmanok and @saudet . The `javacpp` project seems to implement most TensorFlow APIs. We're trying to run the [tensorflow/serving](https://github.com/tensorflow/serving) in Java.

The API is simple and defined by `protobuf`. Now we have implemented the server and want the implement the client in Java. It just need to construct the `TensorProto` in Java and invoke the `gRPC` call. TensorF

[2016-09-12 03:53] infotek opened #4329 "typo in tutorials/mnist/beginners/index.html"
https://www.tensorflow.org/versions/r0.10/tutorials/mnist/beginners/index.html

"East entry in the tensor is a pixel intensity between 0 and 1, for a particular pixel in a particular image."

 should probably be "Each entry...".

Sorry if this is an inappropriate forum to draw attention to this.  There was not corrections contact.

[2016-09-12 04:11] Jongchan opened #4330 "overparametrized convolution error in tf.nn.separable_conv2d"
I'm trying to build a network of layers with channel-wise separable convolution. (Just like the paper [Factorized CNN](http://128.84.21.199/abs/1608.04337))

I've found that separable_conv2d and depthwise_conv2d is the two options, and I'm trying out these two.

What I am trying to build is as below

[code]

and it works fine.

However, if I switch the last 2 lines with
[code]
then tensorflow give

[2016-09-12 04:15] eiva commented on #17
@marklit i use it this way already, but most of my app running on windows, and most of development is going on windows... Its not easy to switch os each time i doing something with different parts of system...

[2016-09-12 04:20] normads commented on #3139
Had some time to get to the bottom of this. The problem is with the use of --whole-archive option without a --no-whole-archive afterwards.
Each library after --whole-archive is included completely until --no-whole-archive is specified and libgcc is automatically appended to the end of the library list, which means both libm.a and libgcc.a are included as a whole.
There are duplicates for a lot of

[2016-09-12 04:28] saudet commented on #5
What you are looking for is probably already in https://github.com/bytedeco/javacpp-presets/blob/master/tensorflow/src/main/java/org/bytedeco/javacpp/helper/tensorflow.java but let me know if something is missing there. Thanks!

[2016-09-12 04:29] hmartiro commented on #3492
+1 for 3D dilated convolutions.

Torch implements this with nn.VolumetricDilatedConvolution:
https://github.com/torch/nn/blob/master/doc/convolution.md#nn.VolumetricDilatedConvolution

[2016-09-12 05:39] ebrevdo commented on #1234
Can you open a new bug for this, explaining what behavior you think is correct?

[2016-09-12 05:39] ebrevdo commented on #3114
Have you tried a nightly build?

On Sep 11, 2016 2:54 AM, "3rd3" <notifications@github.com> wrote:

[2016-09-12 06:24] anirudh2290 commented on #4105
@nsuke thank you. that was the problem. reverting to a previous commit worked.

[2016-09-12 06:26] fangpin commented on #2850
I've met the same problem as yours. Can you tell me how you deal with it. thx

[2016-09-12 07:35] ziky90 opened #4331 "Problem with using tf.contrib.metrics.streaming_mean_iou"
I am trying to use `tf.contrib.metrics.streaming_mean_iou` in my network and I am getting following Error.

[code]

It seems to me that there might be some bug in the `tf.contrib.metrics.streaming_mean_iou`since all the variables are already initialised.

I am using it as follows:
[code]

And the mean iou is computed in the object as:
[code]

I am using from source build tensorflow (branch r10.0)

[2016-09-12 07:42] BichenWuUCB opened #4332 "Tensor with inconsistent dimension size?"
I've been implementing a convolutional neural network for object detection and I met the issue below:

For object detection task, usually, one input image is associated with an undetermined number of object bounding boxes. Each bounding box can be represented by 4 coordinates. Thus, to represent bounding boxes as a tensor, the shape will be:
    _[**batch_size, variable_num_bbox(?), 4**]_.
Note th

[2016-09-12 08:34] Pcres91 commented on #3583
Had the same issue, how I fixed it:
I'm running zsh on ubuntu 16.04, with cuda 7.5.18 and cudNN 4.0.7

running $LD_LIBRARY_PATH showed no path for the library, and so I had to manually add two lines to my .zshrc file:
[code]

It seems strange they weren't there before, but once I did that and ran source `.zshrc`, the path updated and it worked

[2016-09-12 10:07] lan2720 opened #4333 "dynamic_rnn() cannot receive an input of dynamic shape during training"
Hi all, I met some problem when using dynamic_rnn() and wonder if there is any solution.

Firstly I sort all examples according to its length(variable length input). Then I use "batch padding" in my code. So in each step during training, data generator generates a padded minibatch, whose shape differ from the last batch. And I feed the minibatch data to the graph. Since the placeholder "inputs" in

[2016-09-12 11:12] mboujonnier commented on #3442
Hi,

I can confirm it too, using Pete's commands list, the malloc error disappeared from all my pieces of code calling session->Run(...)

Good work !

________________________________
From: Pete Warden <notifications@github.com>
Sent: Sunday, September 11, 2016 10:56:27 PM
To: tensorflow/tensorflow
Cc: MATTHIEU BOUJONNIER; Comment
Subject: Re: [tensorflow/tensorflow] Error malloc(): memory corrupt

[2016-09-12 11:24] damienmg commented on #4105
@anirudh2290 yes this is a recent change in Bazel. @davidzchen we should not longer use a filegroup to refer to crosstool but use cc_toolchain_suite

[2016-09-12 11:52] jeandut commented on #4273
Ok I had no idea ! Thanks !

[2016-09-12 12:07] pmousoul commented on #3442
These are good news - well done to everybody!
Thank you Pete for the great work!

[2016-09-12 12:40] fayeshine opened #4335 "configure issues"
[code]

[2016-09-12 12:52] Hvass-Labs commented on #4128
I found out that the problem with the strange labels predicted by the Inception model is indeed the classes and their names in the ImageNet data-set. This can be seen from e.g. the "bow-tie" label which causes the Inception model to classify people wearing bow-ties as "bow-tie" rather than e.g. "man wearing bow-tie"

http://image-net.org/synset?wnid=n02883205#

One solution would be to use the neu

[2016-09-12 13:01] JianbangZ commented on #4272
@dashrathc
Hi, having two queues is fine. It may consume CPU a little bit more, but from my experience, at least for two GPU cards, it works equivalent as one queue.
One thing to remember is too adjust the batch_size correctly. For the cifar10 example, batch_size is the size for each GPU card not the overall batch size. So if you are using batch_size=128 for one GPU, you should change batch_size=6

[2016-09-12 13:29] dashrathc commented on #4272
@JianbangZ Thanks for reply.
I have updated 128 to 64 cifar10.py file.
tf.app.flags.DEFINE_integer('batch_size', 128, """Number of images to process in a batch.""")

Is it how batch_size should be changed? Please do let me know if there is any other way to update it.

[2016-09-12 15:06] daemonSlayer commented on #4288
Can I use the local copy if all the github repos required by tensorflow during configure. It takes a lot of time as my connection is slow. So a way to use a local copy would be really helpful.

[2016-09-12 15:14] wilesdaliglass commented on #4335
I am having the same issue (fresh pull of master); it seems to reference a different package each time I try to run `./configure`, e.g.

and

presumably because of bazel is running more than one job at a time.

[2016-09-12 15:39] soshiant1992 opened #4336 "different initial states for different data"
i'm working with bidirectional rnn and it would be nice that it had an option to have two different initial states for different data to be trained.
thnx

[2016-09-12 16:19] rmlarsen commented on #4224
I think we can close this.

[2016-09-12 16:19] #4224 closed

[2016-09-12 16:31] fengyang0317 commented on #3168
`init_op = tf.group(tf.initialize_all_variables(),
                           tf.initialize_local_variables())`
solves the issue

[2016-09-12 16:34] andydavis1 commented on #4336
Do you mean two different initial states, one for each direction?

[2016-09-12 16:42] andydavis1 commented on #4332
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-09-12 16:42] #4332 closed

[2016-09-12 17:03] martinwicke commented on #4331
iou is using a local variable, have you called initialize_local_variables()?

[2016-09-12 17:04] martinwicke commented on #4331
(sorry our initialization functions are wrongly named -- we're working on it)

[2016-09-12 17:05] jtoy commented on #5
is this still being worked on? is there an official github repo for this porting project? I see a couple of random repos, but can't tell.

[2016-09-12 17:07] bsautermeister commented on #823
Hi, is there any progress already?

I'm currently facing the same issue. When I save and restore my trained model as explained [here](https://www.tensorflow.org/versions/r0.10/how_tos/variables/index.html) and I would like to continue my training, I was always wondering why the restored model always performs slightly worse that before saving it. I have the impression that restore() is not actually

[2016-09-12 17:38] raix852 commented on #4335
Yes, it's duplicate of #4312.

[2016-09-12 17:43] aselle commented on #4291
@concretevitamin can comment further if need be, but the plan is to make tensors be  checkpointed in a format that does not use protobufs, sidestepping this limitation.

[2016-09-12 17:43] #4291 closed

[2016-09-12 17:50] aselle commented on #4210
Can you manually change the ipynb's kernel to your py2.7 kernel spec (the jupyter menu)? If you don't have a py2.7 kernel spec you can create one using the standard jupyter techniques (google search). You may want to use virtualenv to isolate your tensorflow related setup.

[2016-09-12 17:56] concretevitamin commented on #4291
Agreed with @aselle.  @jinhou, a quick workaround is to use, for variables, `tf.get_variable(..., partitioner=..)`, and for non-ref tensors, `tf.split()`.

[2016-09-12 17:57] aselle commented on #3766
Have you had any luck solving this problem on your own @bixiongxu? I would try the following..

1. Try tensorflow 0.10rc1 or the nightly build since 0.8 is now quite old.
2.  If that doesn't work try to simplify your example to the simplest test that reproduces the behavior. Include the code and exact instructions on how to reproduce it.

We cannot guarantee that we will have time to look into it,

[2016-09-12 18:00] aselle commented on #4114
This question, since it concerns how to use TensorFlow properly, is much better asked on StackOverflow. If you believe there is a bug or a very specific feature request, please resubmit those as more focused requests referencing this issue.

[2016-09-12 18:00] #4114 closed

[2016-09-12 18:08] tatatodd commented on #4203
@david-liu let's try to narrow down the problem first.  Can you try to fill out the full information that I requested?  E.g. the git commit hash you're installing from source, and other info.  Also please attach the full error log, including the full stack trace.

Note that log_every_steps just configures when logging occurs, and logging more or less often shouldn't affect your results.  Perhaps y

[2016-09-12 18:10] andydavis1 commented on #4330
From a previous discussion of this topic:

"If this inequality isn't satisfied, you're expanding the number of activations and then reducing it, which is usually not a good idea. In particular, it often means you're using more parameters and FLOPS than you would with a regular convolution, which defeats the purpose of using a separable conv."

[2016-09-12 18:11] tatatodd commented on #4249
@tenscraft does @sguada's suggestion fix your problem?

[2016-09-12 18:18] tatatodd commented on #4276
I'm not sure what problem you're running in to.  For reference you can take a look at the general howto regarding saving and restoring variables:
https://www.tensorflow.org/versions/r0.10/how_tos/variables/index.html
https://www.tensorflow.org/versions/r0.10/how_tos/variables/index.html#checkpoint-files

And use inspect_checkpoint to see whether the checkpoint looks valid before and after you've t

[2016-09-12 18:19] rueberger opened #4337 "Multi-CPU kernel for sparse_tensor_dense_matmul"
Are there plans to implement a multi-cpu kernel for tf.sparse_tensor_dense_matmul? The current version seems to be single core only and is not performing well.

I am working with a very large sparse tensor - about 8GB sparse and 200GB dense that I cannot work with as a dense tensor for memory reasons. Any suggestions for achieving fast matrix multiplication?

[2016-09-12 18:23] tatatodd commented on #4288
@daemonSlayer perhaps the version of tensorflow you're installing is old?  Please answer the following, to let me know how you installed tensorflow.

[code]

[2016-09-12 18:30] tatatodd commented on #4197
OK the docs have been updated, thanks @vladfi1 for filing the issue!

[2016-09-12 18:30] #4197 closed

[2016-09-12 18:33] #4335 closed

[2016-09-12 19:51] andrewharp commented on #3685
Closing; please reopen or create a new issue if the build.gradle approach gives you any problems.

[2016-09-12 19:51] #3685 closed

[2016-09-12 20:03] petewarden commented on #3442
Great! PR #4327 has been merged with the docs update, so I'm going to go ahead and close this bug. I appreciate all the help tracking this down.

[2016-09-12 20:03] #3442 closed

[2016-09-12 20:13] teganmaharaj commented on #2789
@alquraishi @LeavesBreathe
Multiplying by 1-1/d (and then doing the appropriate test time correction) is definitely crucial; in the version on arxiv we had not yet implemented zoneout in tensorflow so we didn't mention anything about it.
I'm happy to help with this if it's not done already? (I'm one of the zoneout authors)

[2016-09-12 20:44] cancan101 opened #4339 "Add "Gamma Correction" Image Adjustment"
This appears to be different from but similar to the [existing brightness adjustment](https://www.tensorflow.org/versions/r0.10/api_docs/python/image.html#adjust_brightness).

See: http://scikit-image.org/docs/dev/api/skimage.exposure.html#skimage.exposure.adjust_gamma

[2016-09-12 21:04] VaWheel commented on #4297
@tatatodd, what do you think?

[2016-09-12 21:19] ivmarkp commented on #4329
I see this typo was fixed 24 days ago [[commit](https://github.com/tensorflow/tensorflow/commit/e144b79a4e740c550f4866bfa33b1b4ff8790e8b)]. I wonder why the change is not reflected yet on the concerned webpage?

[2016-09-12 21:32] tatatodd commented on #4297
@VaWheel please re-read my explanation.  You're deriving the definition of "SAME" from the paper you referenced, section 2.2.1 "Half (same) padding", which is only valid for unit strides, i.e. s=1.  It is not valid for any other stride.  It is also not the same meaning that we use in tensorflow for the SAME padding.

In tensorflow for an 8x8 image, 2x2 kernel, stride 2 with SAME padding, we will e

[2016-09-12 22:01] martinwicke commented on #4312
@petewarden This seems to be a sync issue maybe? Do the `is_*` macros only work on the inside and should be rewritten?

The rules work fine in our CI, which makes it a little more confusing. What's used to determine `if_mobile` etc.?

[2016-09-12 22:20] petewarden commented on #4312
This is surprising because these rules have been in for several months without causing this issue, so something must have changed recently. The is_* macros rely on config_settings in the top-level BUILD file that test against cross-tool usage, so I wouldn't expect them to return non-empty results.

The quickest way to debug this is probably to reproduce it at head, and then do a binary search on g

[2016-09-12 22:21] shkr commented on #4319
I updated my bazel version to 0.3.1

[code]

Now when I execute this command in the root dir of tensorflow. I receive a different error.
[code]

[2016-09-12 22:53] ibab commented on #4312
@petewarden: I've narrowed the problem down to commit https://github.com/tensorflow/tensorflow/commit/ed87884e50e1a50f7dc7b36dc7a7ff225442bee0 using `git bisect`.
An easy way to reproduce it is to run `bazel fetch //tensorflow/contrib/session_bundle/...`.

[2016-09-12 22:58] alexatknit opened #4342 "Invert gradient op"
This one should be pretty simple. It would be nice to have an op that acts as the identity function in feedforward, but during backpropagation it propagates the negative of the gradients. This is useful when joining two datasets as it allows for the suppression of features that distinguish between domains. Its referred to as a gradient reversal layer in [http://arxiv.org/pdf/1505.07818v4.pdf](http

[2016-09-12 22:58] Huxwell commented on #4213
I am testing it right now, rewriting my models from keras to tensorflow, but it's gonna take some time due to CUDNN problems, and I'll post results as soon as I have them

[2016-09-12 23:06] petewarden commented on #4312
Thanks for doing that @ibab! I've notified the author of that change, hopefully we should be able to figure out a fix.

[2016-09-12 23:37] KarmakarG commented on #42
I tried installing docker for tensorflow but it needs windows hyper-v which is only available on windows pro not windows home edition.

[2016-09-13 00:06] bixiongxu commented on #3766
Hi Andrew

I just put it aside for now as one machine is ok for my purpose so far.  But I will definitely come back to it this month.
I will update you when I get something new. Thank you for your help.

Get Outlook for iOS<https://aka.ms/o0ukef>

_____________________________
From: Andrew Selle <notifications@github.com<mailto:notifications@github.com>>
Sent: ???, ?? 13, 2016 2:00 ??
Subject: Re:

[2016-09-13 00:16] gustavla opened #4343 "Commit that breaks Bazel 0.3.0 support"
If I try to configure the lastest master branch (db45268db0203fcdb0e48e3e558b01244424c0a6) using Bazel 0.3.0, I get:

[code]

Using 0.3.1 avoids this and reverting the offending commit 7bcdcbbf60fc08346fd8016270a0563f4b51362b also fixes it.

### Environment info

Setup: CentOS, Bazel 0.3.0, CUDA 7.5, CuDNN 5.1, Tensorflow master (db45268db0203fcdb0e48e3e558b01244424c0a6)

I run `configure` and set

[2016-09-13 00:18] Jongchan commented on #4330
I thought that the purpose of using separable conv is to share the intermediate activations before the linear channel projection (in a normal convolution, they are not shared), which is far efficient.
A [diagram](http://i.stack.imgur.com/qaSdE.png) from '[Factorized Convolutional Neural Networks](https://arxiv.org/abs/1608.04337)' explains this concept well.

Maybe I am misunderstanding the whole

[2016-09-13 00:24] gustavla commented on #4312
@ibab I hope it didn't take you long, because I already did this and reported ed87884e50e1a50f7dc7b36dc7a7ff225442bee0 as the offending commit in my original post :smile:

Now, the question is, did that commit trigger a latent bug that was introduced at some other point in time or has it always been there. This is what I thought @petewarden was implying by saying they had been around for "several

[2016-09-13 00:33] gustavla commented on #4343
Sorry, this is a duplicate of #4319. I'm closing this.

[2016-09-13 00:33] #4343 closed

[2016-09-13 00:36] yaroslavvb commented on #4342
You can do it by using stop_gradient --
http://stackoverflow.com/questions/36456436/how-can-i-define-only-the-gradient-for-a-tensorflow-subgraph/36480182#36480182

On Mon, Sep 12, 2016 at 3:58 PM, alexatknit <notifications@github.com>
wrote:

[2016-09-13 01:24] alexatknit commented on #4342
Nice!

[2016-09-13 01:24] martinwicke commented on #4128
The ImageNet dataset is a benchmark dataset that's been widely and successfully used for research. Inception is a model that does fairly well on this dataset and we published the code so others can build on it and improve it. As always in Machine Learning, Inception has its limitations when it comes to generalizing beyond the type of data it was trained on.

We never implied that Inception, traine

[2016-09-13 01:24] #4128 closed

[2016-09-13 01:55] daemonSlayer commented on #4288
I installed tensorflow from source. I am using the master branch of tensorflow .
The output to commit hash is:
270cf03d58922f728b0d14636e0afc28d192b6fd

It'd be great if you knew of a way to use local copy of grpc and other repos. It takes too much time for every time I try to install the lib again.

[2016-09-13 02:00] trevorwelch commented on #4187
thanks for your help on this one. So, I'm still getting this same error on Git branch r0.10, although on Master I'm still getting #4105

Following @JimmyKon JimmyKon's instructions, including adding the `DYLD_LIBRARY_PATH`

[code]

upon compile I get:

[code]

Which, I've confirmed the library is where it needs to be, I've even tried locating the library directly in `export DYLD_LIBRARY_PATH=/Deve

[2016-09-13 02:09] denru01 commented on #3917
Same here:

**Environment**
Ubuntu 16.04
1xTitan X (Pascal)
CUDA 8.0 RC
cudnn 5.1

**gdb**
`tjy@thresh:~/Libraries/tensorflow$ gdb bazel-bin/tensorflow/cc/tutorials_example_trainer
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.04) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change

[2016-09-13 02:12] JimmyKon commented on #4187
@trevorwelch

you still got error after follow my instructions?
did you miss some step like blew:

    $ sudo mv include/cudnn.h /Developer/NVIDIA/CUDA-7.5/include/
    $ sudo mv lib/libcudnn* /Developer/NVIDIA/CUDA-7.5/lib
    $ sudo ln -s /Developer/NVIDIA/CUDA-7.5/lib/libcudnn* /usr/local/cuda/lib/

BTW, if you get error:

    Segmentation fault: 11

please, try this command:

    ln -sf /usr/l

[2016-09-13 02:18] trevorwelch commented on #4187
@JimmyKon  Thanks for engaging with this. yes (truncated results indicated by ...) :

[code]

[code]

[2016-09-13 02:58] JimmyKon commented on #4187
@trevorwelch  you are welcome :)

you can use --verbose_failures to see the error details, please let me know.

[2016-09-13 03:17] zzjin13 commented on #3056
@lukaszkaiser @ebrevdo  Thanks for your response. The code is in the attachment.
 When I call the train_batch function, it returns a error.

[test.txt](https://github.com/tensorflow/tensorflow/files/468799/test.txt)

[2016-09-13 03:45] steverichey opened #4346 "Android version of TensorFlow is missing dequantize operation"
### Environment info

Operating System: macOS Sierra, building for Android API 19

### Minimal reproducible example

Any graph that uses either of these operations. Using the quantization tool at `tensorflow/contrib/quantization/tools:quantize_graph` will add quantize and dequantize ops to a graph, which will subsequently not work on Android.

### What other attempted solutions have you tried?

Bu

[2016-09-13 03:55] szsongyj commented on #4319
Hi , My environment is Ubuntu16.04 +gtx1080+CUDA8.0 +CUDNNV5.1+Python2.7+Bazel 0.3.
0
When I execute ./configure command in tensorflow-master directory, I experienced the same  error with  @shkr

How should this problem be fixed?

Thanks

[2016-09-13 04:39] daemonSlayer commented on #4288
Also, even though I am having these errors:
[code]
I still tried `bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`.
It gives these errors:
[code]

[2016-09-13 04:40] andrewharp commented on #4346
To unblock while we figure out a cleaner solution, can you try adding `"//third_party/tensorflow/contrib/quantization/kernels:android_ops" ` to the srcs for //tensorflow/core:android_tensorflow_lib?

[2016-09-13 05:30] ebrevdo commented on #4333
The batch and time dimensions in your placeholder may be None, but the last dimension must be statically known.

[2016-09-13 06:39] MaeThird opened #4348 "bazel can not compile Tensorflow with GCC 6.2.1"
**When I launch**
"bazel build  -c opt --jobs=10 tensorflow/tools/pip_package:build_pip_package"
**to compile tensorflow from source ,it crashed at:**
"external/com_googlesource_code_re2/BUILD:11:1: C++ compilation of rule '@com_googlesource_code_re2//:re2' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -Wall -Wl,-z,-relro,-z,now

[2016-09-13 06:51] gustavla commented on #4319
@szsongyj Easiest fix is to as people have said to upgrade bazel to 0.3.1. Another quick fix is to revert the offending commit:

    git show -R 7bcdcbbf | git apply

[2016-09-13 06:54] YoWhatever commented on #4266
@andrewharp Sorry for late reply. I found these sentences in my logcat:

I/native (21039): tensorflow_jni.cc:299 End computing.Ran in 3ms(3ms avg over 1 runs)
F/native (21039): tensorflow_jni.cc:304 Error during inference: Not found: Feed Inputs: unable to find feed output Mul:0
F/libc (21039):Fatal signal 6 (SIGABRT), code -6 in tid 21064 (InferenceThread)
Since I change the TensorFlowImageListen

[2016-09-13 07:02] mattare2 opened #4349 "kernel version 367.44.0 does not match DSO version 352.99.0"
I can't seem to load GPUs.  After a first install of CUDA, I didn't have this error, but tensorflow couldn't find any GPUs (despite nvidia-smi finding one).  After a second install based on these instructions: http://tech.marksblogg.com/tensorflow-nvidia-gtx-1080.html I had the following error.

Thanks for your help!

### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA a

[2016-09-13 07:17] szsongyj commented on #4319
@gustavla Thanks for your kindly help.
I will try this solution and  feedback here this evening.

Regards,

[2016-09-13 07:44] iraadit commented on #3875
Hi

I have the exact same problem, running on Ubuntu 16.04, CUDA 8, cuDNN 5 and Bazel 0.3.1

Passing `--num_concurrent_sessions=1` does not make the bug disappear for me.

[2016-09-13 07:56] iraadit commented on #3917
Same here

And same kind of result when running gdb.

[2016-09-13 08:40] andrewharp commented on #4266
@YoWhatevr Where did the graph you're trying to use come from? Are you trying to follow this TF for poets codelab? Otherwise do you know that the graph you're using has or should have a "Mul:0" input?

[2016-09-13 08:57] matthiasreisser commented on #3667
Hey,
I am facing the exact same error in the same setting. Is there a work-around or solution?
Thx :)

[2016-09-13 09:10] davidzchen commented on #4105
@damienmg Understood. I have added those changes to #4285

[2016-09-13 09:24] Hvass-Labs commented on #4128
Thanks again for the comments, I appreciate it. This thread may answer questions that others might have in the future so I think it has been a useful discussion.

[2016-09-13 09:29] davidzchen commented on #4187
@JimmyKon Thanks for looking into this and for providing the workaround!

It would be good to figure out why the Bazel build is not providing the correct libcudart library since it should have been linked from [`@local_config_cuda//cuda:cudart`](https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda/BUILD.tpl#L76).

@JimmyKon @trevorwelch When you ran your `configure` script, d

[2016-09-13 09:39] yossibiton commented on #4324
i get the same behaviour when trying to build the freeze_graph tool :
bazel build tensorflow/python/tools:freeze_graph

[2016-09-13 09:43] JimmyKon commented on #4187
@davidzchen

When you ran your configure script, did you explicitly provide a CUDA version?
-----------------------
i did.

i resolved this problem, through add lib path into genrule-setup.sh file.

[2016-09-13 09:45] JimmyKon commented on #4187
@davidzchen

Maybe my solution quite trick, but it is work. :)

[2016-09-13 09:49] erickrf commented on #2536
Ok, I got it to work. If it is of use to anyone, I added to the CROSSTOOL file the following lines. At line 99, after `compiler_flag: "-fPIE"`:

    compiler_flag: "-I/home/rocha/.local/include"

And at line 126, after `linker_flag: "-Wl,--hash-style=gnu"`:

    linker_flag: "-L/home/rocha/.local/lib"

[2016-09-13 09:52] fancyerii opened #4350 "saver problem"
saver.save(sess, os.path.join(model_path, 'model'), global_step=epoch)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/training/saver.py", line 1253, in save
    {self.saver_def.filename_tensor_name: checkpoint_file})
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/client/session.py", line 717, in run
    run_metadata_ptr)
  File "/usr/local/lib/python2.7/dist-pac

[2016-09-13 11:10] petewarden commented on #3139
Thanks for your detective work on this, and for the update! It would make sense to add the -Wl,--no-whole-archive flag after every place where we use whole-archive to make sure other people don't hit this problem. A PR would be much appreciated.

[2016-09-13 11:39] erickrf commented on #2416
@yaroslavvb Ok, so I finally compiled tensorflow in another machine. How can I install it in the server without internet access? I tried copying the whole repository with the compiled files, but it still searches pypi for some packages when I run `python setup.py develop`.

[2016-09-13 11:42] bkleef commented on #3794
Currently able to successfully run `docker pull gcr.io/tensorflow/tensorflow:0.10.0`.

[2016-09-13 11:42] #3794 closed

[2016-09-13 11:48] ziky90 commented on #4331
Than you, this was the problem, I did not call `initialize_local_variables()`.

[2016-09-13 11:48] #4331 closed

[2016-09-13 12:33] sequoiar commented on #37
+1

[2016-09-13 12:35] szsongyj opened #4352 "./configure command generates warnings"
Hi ,
When i execute ./configure in tensorflow directory  the output contains the following warnings:
( Environment is  ubuntu16.04+cuda8+cudnnV5.1+bazel-0.3.0)

WARNING: /home/syj/.cache/bazel/_bazel_syj/47b860f752d3ee48e8d208f528a56395/external/protobuf/WORKSPACE:1: Workspace name in /home/syj/.cache/bazel/_bazel_syj/47b860f752d3ee48e8d208f528a56395/external/protobuf/WORKSPACE (@__main__) does no

[2016-09-13 12:48] szsongyj commented on #4352
ERROR: /home/syj/tensorflow/tensorflow/contrib/session_bundle/BUILD:237:1: no such target '//tensorflow/core:meta_graph_portable_proto': target 'meta_graph_portable_proto' not declared in package 'tensorflow/core' defined by /home/syj/tensorflow/tensorflow/core/BUILD and referenced by '//tensorflow/contrib/session_bundle:signature_lite'.

[2016-09-13 13:26] jeffxtang commented on #3480
No @shrutisharmavsco the performance seems to be the same to me. You can check out my recently released iOS app which uses a quantized model for comparison: https://itunes.apple.com/us/app/dog-breeds-recognition-powered/id1150923794?mt=8

[2016-09-13 13:36] daemonSlayer commented on #4288
Thanks @tatatodd @Eidosper for helping me out. I wasnt able to install tensorflow from source and really couldnt wait, so now I have successfully started using the docker image.

[2016-09-13 13:36] #4288 closed

[2016-09-13 13:45] shkr commented on #4319
I did cloned the git repo again, then also installed `brew install coreutils` (i do not have a GPU I did it anyways). After that the source build is working with bazel 0.3.1. Thanks @gustavla

I will investigate why in my other build I have an error with bazel 0.3.1.

[2016-09-13 13:54] trevorwelch commented on #4187
@davidzchen

Yes, I've tried both ways (letting it be system default, or explicitly pointing). I imagine that in future versions of bazel I won't have this issue, but bazel seems to just not work in general on my particular system configuration as it relates to cuda. For example, on tensorflow/magenta, all of my bazel tests fail, but magenta runs fine on the GPU.

[code]
Anyway, in the meantime I

[2016-09-13 14:00] steverichey commented on #4346
I added `"//tensorflow/contrib/quantization/kernels:android_ops"` to the list of sources for `android_tensorflow_lib` but I got an error `public/gemmlowp.h: No such file or directory` on an `#include`. I'm looking into a fix.

[2016-09-13 14:23] brianwa84 commented on #4074
A few explanations here, and I think everything is working as intended:
1. Multiple uses of session.run - this means the Sample: [0] that you print is not necessarily the one that you are will use for training. That in itself doesn't explain why multiple columns would change for a given iteration.
2. You are using the adam optimizer, which uses momentum (i.e. the update of this iteration is some f

[2016-09-13 14:32] martinwicke commented on #4128
I agree. It is clearly important to set the expectations for a research
model such as this one.
On Tue, Sep 13, 2016 at 02:26 Hvass-Labs <notifications@github.com> wrote:

[2016-09-13 14:35] jrecursive commented on #3875
Hello,

Same problem here as well.  GTX 1080, Ubuntu 14.04, CUDA 8.0, CuDNN 5.1, nvidia driver 367.27.  `--num_concurrent_sessions=1` does _not_ seem to change anything for me, either.  With `--use_gpu`, roughly 1 in 10-15 runs finishes without error.  Without `--use_gpu`, it works as expected.

[2016-09-13 14:36] jrecursive commented on #3917
Hello,

Same problem here as well.  GTX 1080, Ubuntu 14.04, CUDA 8.0, CuDNN 5.1, nvidia driver 367.27.  `--num_concurrent_sessions=1` does _not_ seem to change anything for me, either.  With `--use_gpu`, roughly 1 in 10-15 runs finishes without error.  Without `--use_gpu`, it works as expected.

[2016-09-13 15:01] cancan101 opened #4353 "confusion_matrix should use cast rather than convert to tensor for size"
This does not work:

[code]

where as this does:

[code]

This seems related: https://github.com/tensorflow/tensorflow/pull/2187

Machine:

[code]

[code]

[code]

[code]

[2016-09-13 15:07] denru01 commented on #3917
I tried to use r0.10 instead of the head of the master branch, and it works correctly.

[2016-09-13 15:22] Mazecreator commented on #4352
I have some similar configuration errors that don't seem to prevent compilation.  I assume they are Android or some other operating system what is bleeding through on the configuration:

Linux: Ubuntu 16.04
Compiling with GPU support
Commit: 91a70cbf1c627117b70a3d2dd4c612779369e293

Here is the full set of errors during ./configure:

ERROR: /home/greg/tensorflow/tensorflow/core/kernels/BUILD:2207:

[2016-09-13 15:23] mrry commented on #4350
Is it possible that you've run out of disk space?

[2016-09-13 16:22] cancan101 opened #4354 "Tensorboard should Update Browser Location on Tab Changes"
![image](https://cloud.githubusercontent.com/assets/51059/18482024/88fb96e0-79ac-11e6-838e-3b2a6094b16a.png)

Right now changing tabs does not change the location which means browser refresh, etc loses the current tab.

[2016-09-13 16:25] cancan101 opened #4355 "Clicking on Image in Tensorboard Should Open in New Window"
Right now the image may be squashed and hard to read:
![image](https://cloud.githubusercontent.com/assets/51059/18482149/0324d058-79ad-11e6-83a4-d782b523065d.png)

The current solution is to copy the image URL and manually open in a new tab.

[2016-09-13 16:36] pkmital commented on #3991
I had this issue just after upgrading to 10.11.  I had been using the GPU version of Tensorflow just fine in 10.10.  I also tried reinstalling w/ pip and from source with the same issue.  I could only resolve it by restarting in Recovery mode (CMD+R during start up), and then open Terminal, and run "csrutil disable", to disable System Integration Protection or something along those lines.  I think

[2016-09-13 16:49] VaWheel commented on #4297
Ok, no padding - that's what I've asked. Thanks

[2016-09-13 16:55] mattare2 commented on #4349
Follow these 10 easy steps to success:

1.    Download cuda-8.run file
2.    Download Nvidia-367.18-driver.run file
3.    Remove old drivers (apt remove --purge nvidia*)
4.    (Remove old cuda files (e.g. apt remove --purge libcuda*)
5.    Remove old nvidia.deb packages (just in case that's necessary?)
6.    Remove my cuda folders (/usr/local/cuda*) (again, just in case)
7.    reboot
8.    Run the

[2016-09-13 16:55] #4349 closed

[2016-09-13 17:15] LouisCAD opened #4356 "Playground is not in https"
It should be as the rest of tensorflow website is in https

[2016-09-13 17:39] woodshop commented on #3624
I've been privately writing GPU-based complex-valued ops for TF and decided to make my repository public. I think that more general support for computation of complex numbers on the GPU will be valuable to the community. However since my repository is in the early stages and isn't well tested, I think I'd like to develop it as a separate project and then port it as a TF pull request when it's more

[2016-09-13 17:41] cooijmanstim opened #4357 "FileIO.read signature differs from Python stdlib File.read interface"
`FileIO` does not quack quite like a File object; its `read` method should take an optional `size` argument. This discrepancy makes `GFile` not a drop-in replacement for `File`, which makes it hard to port code between Google and the outside world.

`File.read` API doc: https://docs.python.org/2/library/stdtypes.html#file.read
Current `FileIO.read`: https://github.com/tensorflow/tensorflow/blob/91

[2016-09-13 17:42] benoitsteiner commented on #4029
I've added support for 16 bit float to the MakeNdarray function in https://github.com/tensorflow/tensorflow/commit/b0e27a3700b4f729fdc91efe96ad0dbfcab48fc1: I'm closing the issue.

[2016-09-13 17:42] #4029 closed

[2016-09-13 17:42] rmlarsen commented on #4101
To answer your question about the auto-diff engine: The engine itself only knows how to apply the chain rule to compose the "gradients" of entire ops to derive the gradient of all trainable variables in a model w.r.t. the loss:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients.py#L307

The entire gradient for matrix operations is computed in whole by hand-writte

[2016-09-13 17:43] poulson-google commented on #4101
@Bonnevie Would you mind providing the condition numbers and norms of the special input cases that are causing issues (or perhaps even links to the matrices themselves)?

[2016-09-13 17:43] benoitsteiner commented on #4314
A fix is on its way. I'll update this issue once the fix is merged.

[2016-09-13 17:54] okuchaiev commented on #4029
Thanks @benoitsteiner. It would be nice to actually have support for float16 in actual matrix operations and kernels. See for example: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/cuda/cuda_blas.cc#L1683
Right now it actually converts float16 to float32 instead of using Hgemm. This a different issue though.

[2016-09-13 17:59] danijar opened #4358 "Wrong example script in the docs for preprocessing data"
I was reading the [docs for preprocessing][1], which is a small paragraph linking to the [CIFAR-10 network][2] as an example. However, that script does not perform any preprocessing. Do we have a better example illustrating preprocessing steps like data normalization, distorting images, etc?

[1]: https://www.tensorflow.org/versions/r0.10/how_tos/reading_data/index.html#preprocessing
[2]: https://

[2016-09-13 18:01] vrv opened #4359 "Feature Request: plug-in support for new devices"
We need to be able to support using new devices in TensorFlow without requiring editing the TensorFlow binary source code.

This requires a few changes.  Among many others:
- The ability to dynamically register an implementation / factories for alternative devices
- New or better APIs for allowing OpKernel's to use arbitrary device resources (e.g., right now we assume either the use of StreamExecu

[2016-09-13 18:43] bsautermeister opened #4361 "Update tf.contrib.layers.batch_norm() docs"
_Tensorflow version that I use : 0.10 (pip package)_

---

I took heavy use of _[tf.contrib.layers.batch_norm()](https://github.com/tensorflow/tensorflow/blob/b826b79718e3e93148c3545e7aa3f90891744cc0/tensorflow/contrib/layers/python/layers/layers.py#L100)_ the last weeks.

After facing some problems on how to use it correctly, I figured out that there are many devs out there who are confused as we

[2016-09-13 19:33] poxvoculi commented on #4164
Most likely, somewhere, some resource is periodically over-committed, causing everything else to wait.  You might try using the tools described here #1824
to look at the time intervals between operations.  However, you could also use other tools to monitor memory use (is anything about your setup causing swapping), hack the code to time individual RPCs and operations at the PS server, and other te

[2016-09-13 19:51] JianbangZ commented on #4272
@dashrathc It is correct

[2016-09-13 20:02] steverichey commented on #4346
Not sure how to ensure that the `gemmlowp` library is included. Any help is appreciated.

[2016-09-13 20:06] andrewharp commented on #4346
If you also add `//third_party/gemmlowp:eight_bit_int_gemm_sources` to the srcs list it should be able to find the missing files.

[2016-09-13 20:29] #3721 closed

[2016-09-13 20:29] #4308 closed

[2016-09-13 20:29] martinwicke commented on #823
So that would mean this bug is done? Or is there an issue still hidden here? If so, please comment to reopen, or file a new, specific issue.

[2016-09-13 20:31] martinwicke commented on #4317
I don't know if TensorFlow works with Ubuntu 12. Anybody have experience with that?

What is your version of setuptools and pip?

[2016-09-13 20:33] martinwicke commented on #4311
We have the clean --expunge there for safety. You can try removing it, which should speed this up considerably, and most of the time it should be fine. Why are you running configure so often?

[2016-09-13 20:56] steverichey commented on #4346
I tried that but Bazel wasn't able to find that package. I did add `//tensorflow/contrib/quantization:cc_ops` to the `deps` for `android_tensorflow_lib` but then I get `external/highwayhash/BUILD:17:1: C++ compilation of rule '@highwayhash//:sip_hash' failed`. There are some other errors related to that module as well. I'm not sure if I'm including the wrong thing, or if there's some other depende

[2016-09-13 21:06] andrewharp commented on #4346
Only TF targets that start with "android_" will build for Android, so `//tensorflow/contrib/quantization:cc_ops` is not expected to work here.

Did you clone with `--recurse-submodules`? Alternatively try `tensorflow/contrib/makefile/download_dependencies.sh`

[2016-09-13 21:14] andydavis1 commented on #4330
Unfortunately, I don't have a link to discussion. My understanding is that separable convolutions are used to reduce flop count (exploiting redundancy across the channels), which is why we raise errors for those parameter combinations.

You may get more information by posting this on Stackoverflow with the  `tensorflow` tag, so I'm going to close this out for now.

[2016-09-13 21:21] brando90 commented on #622
just as a comment...I accidentally downloaded the MAC version in linux because the `--ignore-installed` allowed me. So if it still doesn't work that might be it.

[2016-09-13 21:23] andydavis1 commented on #4358
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag."

[2016-09-13 21:40] mikowals commented on #4330
Are you sure the math checking this isn't just being done wrong?  In a standard convolution the number of parameters is height x width x in_channels x out_channels.  By using a filter with height and width of one for the projection to out_channels in separable convolution it saves parameters by a factor of nearly height x width.

So a proper check for over parameterization is closer to in_channels

[2016-09-13 21:44] danijar commented on #4358
@andydavis1 Are you sure? I'm mainly pointing at a "bug" in the docs. I'm not asking for anything, my question was just to suggest a way of improving the docs.

[2016-09-13 21:54] DennisBang opened #4362 "CUDA 8.0 Failed to configure"
Dear everyone, I recently met this problem when I try to configure this problem, I am using CUDA8.0, Bazel 0.3 and Ubuntu 14.04.
ERROR: /home/haixi/tensorflow-master/tensorflow/tensorflow.bzl:568:26: Traceback (most recent call last):
	File "/home/haixi/tensorflow-master/tensorflow/tensorflow.bzl", line 562
		rule(attrs = {"srcs": attr.label_list..."), <3 more arguments>)}, <2 more arguments>)
	Fi

[2016-09-13 21:55] tatatodd commented on #4268
Thanks @gaohuazuo!  I think that's right.  I'll add some tests and update this bug when the fix is in.

[2016-09-13 21:58] andydavis1 commented on #4358
Ah ok. I took that last sentence you wrote " Do we have a better example illustrating preprocessing steps like data normalization, distorting images, etc?". As a general question.

[2016-09-13 22:08] DennisBang commented on #4362
I tried to update the bazel and the mistake still happened....

[2016-09-13 22:14] flx42 opened #4363 "tensorflow:nightly-devel-gpu is broken"
Commit ["Fix nightly docker builds"](https://github.com/tensorflow/tensorflow/commit/414a5ddd47bba68661eaac08d5b6b7c92c38b808) broke the nightly builds :)
[code]
You shouldn't override the existing value of `LD_LIBRARY_PATH`, we use it to point to the path where we mount the driver libraries mounted by nvidia-docker, see [here](https://github.com/NVIDIA/nvidia-docker/blob/master/ubuntu-14.04/cuda/

[2016-09-13 22:15] tmulc18 commented on #4312
@msevrens [https://hackathonprojects.wordpress.com/2016/09/13/installing-10-series-gpus-cuda-8-0rc-and-tensorflow-on-ubuntu-14-04/](url) here is a post describing the comments if you're still having trouble

[2016-09-13 23:18] apollos opened #4365 "Build tensorflow from source with CUDA failed"
I am trying to build tensorflow in Ubuntu 14.04 but failed. My steps:

1. git rev-parse HEAD
c715c3102df1556fc0ce88fc987440a3c80e5380

2. bazel version
Warning: ignoring _JAVA_OPTIONS in environment.
Another command is running (pid = 13101).  Waiting for it to complete...
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time

[2016-09-13 23:32] MatthiasWinkelmann commented on #4210
DeepDream almost works with Python 3.5. I've submitted a pull request in #4366 but until then, you can just change the line in strip_consts to:

[code]

Python 3.5 seems to be stricter about implicit conversions, in this case refusing to convert string -> byte without knowing the encoding (which defines the conversion,)

[2016-09-13 23:48] vladfi1 opened #4367 "Strange internal error after switching from python 3 to python 2"
I'm trying to port my code from python 3 to 2. However, I'm getting a strange error when running with python 2: `InternalError: Unsupported feed type`. This happens after trying to `sess.run` with a particular feed dict. What's odd is that I can run the following just fine:

    for k, v in feed_dict.items():
        sess.run(k, {k:v})

That is, the individual arrays and tensors in the feed dict a

[2016-09-13 23:55] steverichey commented on #4346
Okay, I had been using a downloaded ZIP, or `git clone` to get TensorFlow, but using clone with `recurse-submodules` seemed to do the trick, so maybe that was the problem all along. Thanks!

[2016-09-14 00:13] shamak commented on #4312
@tmulc18 you should fix that link :)

[2016-09-14 00:36] DjangoPeng commented on #4329
@andydavis1 You can close the issus.
I have checked the `master branch`, and the typo has been fixed by the commit which @ivmarkp referenced. The reason why it still exists is that the `tensorflow.org` show you the tutorial of `r0.10 branch` . So, when the next version(maybe v0.11), the problem will be fixed automatically.

[2016-09-14 00:53] jtoy commented on #5
how did you come to the conclusion to use the C API? we are working on a
ruby interface using swig:
http://github.com/somaticio/tensorflow.rb

On Tue, Sep 13, 2016 at 6:22 PM, Jonathan Hseu <notifications@github.com>
wrote:

[2016-09-14 01:00] MaeThird commented on #4348
https://github.com/google/re2/issues/102  or https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70932

[2016-09-14 01:12] andrewharp commented on #4346
Ah, sorry; just to make this more fun, I think you may also need to add `tensorflow/contrib/quantization:android_ops` to your srcs, which should actually register the op.

[2016-09-14 01:22] szsongyj commented on #4319
@gustavla  @shkr
I updated the bazel and confirmed the current version is  0.3.1(using command: "which bazel" and   "bazel version"respectively )

and I run  the configure process as @gustavla suggested:

git clone https://github.com/tensorflow/tensorflow
cd tensorflow
git show -R 7bcdcbbf | git apply
./configure
But the following errors appeared and configured process failed

/home/syj/tensorflow

[2016-09-14 01:23] aplatanado commented on #823
The issue is that there is no function to retrieve only the shadow variables. Something like tf.moving_average_shadow_variables(). Because tf.moving_average_variables() returns the variables which moving average is applied.

[2016-09-14 01:24] fayeshine opened #4368 "Building issues"
[code]

[2016-09-14 01:29] szsongyj commented on #4352
I updated the bazel and confirmed the current version is 0.3.1(using command: "which bazel" and "bazel version"respectively )
and I run the configure process as @gustavla suggested:

git clone https://github.com/tensorflow/tensorflow
cd tensorflow
git show -R 7bcdcbb | git apply
./configure
But the following errors appeared and configured process failed

/home/syj/tensorflow/tensorflow/contrib/ses

[2016-09-14 02:04] aidan-plenert-macdonald commented on #4359
Few questions.

## About Feature Request
By dynamically, I assume you are referring to at compile time, but self-contained code changes. If you mean at runtime via dynamic module loading, I don't know off hand how to do this, but I think we can figure it out.

How do you wish to handle the kernel code? Should I plan to have new hardware supported by developers modifying the `tensorflow/core/kernel

[2016-09-14 02:13] benoitsteiner commented on #4314
My fix has been committed as https://github.com/tensorflow/tensorflow/commit/d92ba3066e79258a3096ee72c105b4816f196425, closing this issue.

[2016-09-14 02:13] #4314 closed

[2016-09-14 02:15] vrv commented on #4359
Yes, I do mean self-contained code changes: a user should be able to use an existing binary install of TensorFlow that doesn't contain the custom device code, but then call a function to "load a device" and then another function to "load the kernels" for that device.

The latter is already possible for existing devices via the tf.load_op_library() mechanism, so theoretically something similar coul

[2016-09-14 02:19] Jongchan commented on #4330
Yes, I understand that it can reduce flop count significantly. And I want to use it for the same reason.
I will assume in_channel = out_channel since many modules (layers) in deep architecture has such config.

For a single patch, the number of multiplications in separable_conv2d is **in_channel*filter_w*filter_h*channel_multiplier + 1*1*(in_channel*channel_multiplier)*out_channel**.
The number of

[2016-09-14 02:25] vrv commented on #4330
cc @vincentvanhoucke in case he wants to comment.

[2016-09-14 03:19] kamal94 opened #4371 ""HOST_CFG" is not defined on bazel clean"
During the ./configure step of my build from source, I encounter a bazel error when trying to download

**The main error seems to be**
[code]

Building with CUDA 8.0, cuDNN 5.1.5, GTX 1060

Full stack:

[code]

[2016-09-14 03:58] andrewharp commented on #4319
@szsongyj Is this an actual copy-paste?

//tensorflow/core:android_lib_lite does not exist, as the actual name is //tensorflow/core:android_tensorflow_lib_lite.

Even then, it would not be referenced from tensorflow/contrib/session_bundle/BUILD. Can you check to make sure the file itself has not been altered somehow?

[2016-09-14 04:22] #4350 closed

[2016-09-14 04:23] fancyerii commented on #4350
yes, it's out of space

[2016-09-14 04:23] gustavla commented on #4319
@szsongyj The problem you are seeing is an unrelated issue that has been resolved (see #4312). You should make sure you have the latest master branch. You can make sure your checked out copy has incorporated this commit by running `git branch --contains f66b491` and make sure you see a line that starts with `*` (e.g. `* master`).

@andewharp The error I got in #4312 also said `android_lib_lite`. H

[2016-09-14 04:46] aidan-plenert-macdonald commented on #4359
I need to talk with my supervisor before giving too many details. [Here](https://www.knupath.com/products/hermosa-processors/) is the public info, but as a high level understanding, the chip is basically a cluster computer reduced to fit on a single chip. The many DSPs need to work together to do anything useful.

I didn't know about the operation interface! Its pretty awesome and I definitely thi

[2016-09-14 04:54] andrewharp commented on #4319
@gustavla Right, I probably should have remembered pushing that commit :P

[2016-09-14 04:57] szsongyj commented on #4319
@andrewharp
1)The file itself has not been altered. Because i just issue the following commands:
git clone https://github.com/tensorflow/tensorflow
cd tensorflow
./configure

2)Is this an actual copy-paste?
This is not the actual copy-paste ,because I run the configure last night  at home with my home computer,Then I got to bed before the config process finished ,and I  found the error results whe

[2016-09-14 04:57] vrv commented on #4359
Yes, those four pieces are the minimal requirements just to get the basics working, and then you'd have to register kernels for every op that was supported.

You're right that some ops are probably trivially implementable as long as some of the basics above are implemented.  We'd have to think about how to 'auto register kernels' for all devices.  However, for things like NoOp, it shouldn't be too

[2016-09-14 05:07] andrewharp commented on #4319
@shkr The internal fix https://github.com/tensorflow/tensorflow/commit/f66b491a06627510c1cf751fc11db2caf5aa1f25 was pushed today in https://github.com/tensorflow/tensorflow/pull/4360, so if you sync now I assume the issue will go away.

[2016-09-14 05:15] andrewharp commented on #4352
The errors regarding android_lib_lite and meta_graph_portable_proto should be fixed by f66b491, which was pushed today in #4360.

[2016-09-14 05:45] dashrathc commented on #4272
@JianbangZ
I have run it again for 100k iterations and following is the result,
batch_size=128, Elapsed Time: 18188.31 seconds
batch_size=64, Elapsed Time: 18072.72 seconds

The elapsed time difference is very minimal though batch_size decreased to by 64.
Could you please share your view?

[2016-09-14 07:05] packtpartner opened #4375 "Creating a "Books" section under Resources"
Packt is proud to publish a new book on TensorFlow
 [Getting Started with TensorFlow](https://www.packtpub.com/big-data-and-business-intelligence/getting-started-tensorflow)

We would appreciate if you could create a "Books" section under Resources to feature books written on TensorFlow.

Let me know if this can be done.

Thanks

[2016-09-14 07:53] zeromeaning opened #4377 "tensorflow.contrib.learn.TensorFlowEstimator fails under sklearn.base.clone()"
tensorflow.contrib.learn.TensorFlowEstimator fails under sklearn.base.clone()

This prevents the possibility to perform CV using sklearn.cross_validation.cross_val_Score over this estimator.
The clone fails due to the fact the TensorFlowEstimator.get_params() returns a key named "params" that is not part of the constructor input parameters.
This causes sklearn.base.clone to fail when trying to clo

[2016-09-14 07:55] xpe commented on #4371
I'm getting a similar error:

[code]

[2016-09-14 08:09] xpe commented on #4371
I build bazel from source. @kamal94 I would expect that you did as well.

As an early guess, I think I may have built from master of bazel and it may have a few bugs. (For example, if you look at https://www.bazel.io/versions/master/docs/skylark/lib/globals.html, you'll see that HOST_CFG is not listed as a global, but it was before: https://webcache.googleusercontent.com/search?q=cache:0KuaX69Ekvc

[2016-09-14 08:11] xpe commented on #4371
I see in the google-cache version of the docs I linked above that HOST_CFG got deprecated:

[2016-09-14 09:00] KeithYin opened #4379 "having encounted an issue when i use ./configure to install tensorflow"
Hi, all.
i am new to tensorflow, and spent a lot of days to install tensorflow, but it didn't work. Need help

 sudo ./configure
~/tensorflow ~/tensorflow
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] n
No Google Cloud Platform support will be enabled for TensorFlow
Found possible Python library paths:

[2016-09-14 09:10] xpe commented on #4371
I made a PR for Bazel to change HOST_CFG to "host", here: https://github.com/bazelbuild/bazel/pull/1769

[2016-09-14 10:06] xpe commented on #2559
@FlorinAndrei Congratulations on that build! 👍 Can you share your choices for `./configure` and any other details that you found tricky?

What GPU hardware are you using? I noticed you are using the 370 Nvidia driver.

As for me:

* GeForce GTX 1080
* Nvidia Driver: 367.44 driver
* Ubuntu 16.04
* CUDA 8.0 RC + the compiler patch
* cuDNN 5.1.5

I have gotten my Nvidia driver, CUDA, and cuDNN to bui

[2016-09-14 10:30] #4299 closed

[2016-09-14 10:47] aehlig commented on #3569
@martinwicke: The "principle solution" @dmarting was talking about
is the environment variable design
https://www.bazel.io/designs/2016/06/21/environment.html

The first working implementation of the --action_env just hit the
source tree, https://github.com/bazelbuild/bazel/commit/6f33a1c54e517d7343c36d0479713655a19f3224

It will be included in the 0.4 release, expected to be released in October.

[2016-09-14 10:57] DjangoPeng commented on #4232
@samjabrahams  I want to try adding the substr Op :)

[2016-09-14 11:13] Nayana-ibm opened #4380 "TensorFlow master build failing: error: invalid initialization of reference"
We are building TensorFlow master (commit id  [461caa8](https://github.com/tensorflow/tensorflow/commit/461caa86137aee3d2e40843ea308c216f10c4655) ) using bazel on 64 bit platform.

We need a fix for 64 bit platform as mentioned in  [#1044](https://github.com/google/protobuf/pull/1044) in google/protobuf. So we tried to change the protobuf commit id used in `tensorflow/workspace.bzl` file with rece

[2016-09-14 11:42] JamesBelchamber commented on #3086
Stumbled over this on my travels. It's not Lambda, it's the `protobuf` module: https://github.com/google/protobuf/issues/1296

[2016-09-14 13:39] steverichey commented on #4346
With this changeset in `tensorflow/core/BUILD`, I'm still having the same issue.

[code]

[2016-09-14 14:07] petewarden commented on #4279
@aselle Any chance we can add an error message mentioning ./configure here? We used to have a helpful prompt for idiots like me who forgot to run it, but I'm not sure where it went. I'm betting that would save quite a few engineer-hours for all our users. :)

[2016-09-14 14:09] MatthiasWinkelmann commented on #4379
To quote https://github.com/tensorflow/tensorflow/issues/4352#issuecomment-246908728:

There may be a secondary problem you're encountering generating the download errors. I ran into this yesterday when I was struggling with the same android-reference problems. It appears that, if you run ./configure repeatedly because of a build problem, dependencies are also downloaded repeatedly and (some) serv

[2016-09-14 14:34] MatthiasWinkelmann commented on #4365
Try actually repeating the default ```/usr/local/cuda``` when it asks you for the library path during configure.

[2016-09-14 14:50] MatthiasWinkelmann commented on #4380
You actually quoted the canonical commit to be used:

[code]

[2016-09-14 15:02] andydavis1 commented on #4330
Yes. I worked out a back-of-the-envelope flop cost between separable and conventional convolutions:

OR = out_rows
OC = out_cols
ID = in_depth
DM = depth_multiplier
OD = out_depth
FR = filter_rows
FC = filter_cols

separable_conv_cost = OR * OC * ID * DM * (FR * FC + OD)
conventional_conv_cost = OR * OC * ID * FR * FC * OD

// So to save on flops we want:

DM < (FR * FC * OD) / (FR * FC + OD)

//

[2016-09-14 15:04] #4329 closed

[2016-09-14 15:26] szsongyj commented on #4319
@gustavla

Please refer the following ,does that indicate my cloned tensorflow is the latest master branch or not? What is the reason of the error? How can i fix it ? Thank you&Regards

syj@syj-dl:~/tensorflow$ git branch
* master
syj@syj-dl:~/tensorflow$ git branch --contains f66b491
error: malformed object name f66b491

[2016-09-14 15:29] szsongyj commented on #4319
syj@syj-dl:~/tensorflow$ git branch
* master     (this is a star before master)

syj@syj-dl:~/tensorflow$ git branch --contains f66b491
error: malformed object name f66b491

[2016-09-14 15:39] samjabrahams commented on #4232
@DjangoPeng Oh no! I already sent in a PR two days ago with #4338. I'm planning on using the Op to finish work on the `tf.decode_image` Op, so I knocked out a version over the weekend.

[2016-09-14 15:55] vincentvanhoucke commented on #4330
If you have valid uses for a separable convolution which blows up the number of activations and then shrinks them back, then I'm ok accepting a PR that removes this check. Separable convolutions predate this paper by a couple of years, so it's entirely possible that people have found productive uses of this regime. In general, introducing an activation bottleneck anywhere in the network tends to b

[2016-09-14 15:59] JianbangZ commented on #4164
@heroleap
I think I am having the exact same problem as yours, and my approach is also similar to yours. BTW, I am now using 40Gb network, I do notice some performance increase compare to 1G (improve from 10 times slower to maybe 4 times slower), and my network usage is only about 10% I believe. There could be a lot of different reasons to cause this slowness. It's good if we can do some joint exp

[2016-09-14 16:15] zengfancy opened #4385 "MatMul operation would cost 4ms"
By stats the time costs using stats_collector_ in Executor class, I found that a matrix multiply operation of 150*150 matrix with a 150 vector would cost 4ms on CPU, And a 3 layers of DNN would cost 20ms, is that expected?

[2016-09-14 16:45] benoitsteiner commented on #851
I tried to reenable variadic templates last night after upgrading the cuda compiler using http://developer.download.nvidia.com/embedded/L4T/r24_Release_v1.0/CUDA/cuda-repo-l4t-7-0-local_7.0-76_armhf.deb. This new compiler appears to fix some of the issues but I still get some crashes.

I noticed that nvidia released an even more recent version of the compiler. @maxcuda, is there a debian package t

[2016-09-14 17:13] aselle opened #4386 "bazel build should warn you if you haven't run ./configure"
The errors when not running configure are not terribly intuitive (see e.g. #4279 ).

[2016-09-14 17:13] aselle commented on #4279
Do you know of an easy way to accomplish this in Bazel? We could always make a dependent filename "please_rerun_configure" but that is unintuitive to the uninitiated (and smells of the pre C++11 template static_assert  technique). Filed bug for that #4386.

[2016-09-14 17:58] andrewharp commented on #4346
@steverichey I think you need to add `//third_party/gemmlowp:eight_bit_int_gemm_sources` to the srcs and remove `//tensorflow/contrib/makefile/downloads/gemmlowp` from the deps.

[2016-09-14 18:03] KeithYin commented on #4379
@MatthiasWinkelmann  i used bazel clean and did the suggestions as #4352 said , but i still got that issue
ERROR: /home/keithyin/workspace/tensorflow/tensorflow/core/kernels/BUILD:2207:1: no such target '//tensorflow/core:android_tensorflow_lib_lite_no_rtti_lite_runtime': target 'android_tensorflow_lib_lite_no_rtti_lite_runtime' not declared in package 'tensorflow/core' defined by /home/keithyin/w

[2016-09-14 18:32] FlorinAndrei commented on #2559
@xpe - Clone this repo https://github.com/FlorinAndrei/ml-setup and checkout the ubuntu1604 branch. Then just follow the README and run the Ansible playbooks.

The overview is this (look at the playbooks to fill in details such as extra packages to install):

- install Ubuntu 16.04
- install linux-headers, dkms, build-essentials, python development packages
- do a dist-upgrade
- enable ppa:graphic

[2016-09-14 18:44] mxbi commented on #4379
Getting the exact same issue here, worked perfectly on exact same hardware a few days ago. It seems to be an issue with a recent commit.

Ubuntu 14.04, TITAN X, python2, CUDA 7.5, CuDNN 5.1

[2016-09-14 18:49] jhseu commented on #5
Going forward, we'd prefer that all language bindings use the C API. A doc is forthcoming.

You can see example usage here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/go

[2016-09-14 19:27] petewarden commented on #4386
I'm not sure how it worked, but there used to be a helpful message. If I get a chance I'll sync back to an August github build and see if I can trace where that message used to be triggered from.

[2016-09-14 20:16] benoitsteiner commented on #3624
In C++14,  std::complex methods are marked as constexpr. This will ensure that they can be used inside cuda kernels even though they're not marked as ```__device__``` functions provided that we compile with the --relaxed-constexpr flag (which TensorFlow has been doing for some time now).

Unfortunately nvcc doesn't yet support c++14, but we can ask nvidia to start adding partial support for it sta

[2016-09-14 21:20] ultimatehrishi commented on #2072
After step 0 of finding train accuracy and cross entropy , i am getting error:
CRITICAL :tensorflow : category has no images - validation.
.
.
.
ZeroDivisionError: integer division or modulo by zero

I have two class folders : darth vader = 60 images of darth vader and darth maul =60 images.
Kindly suggest solution

[2016-09-14 21:39] kbrems opened #4387 "Significant performance overhead with gpu kernel launches in a while_loop"
### Environment info
Operating System:
ubuntu 14.04
GeForce GTX TITAN  Driver Version: 367.44

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rw-r--r-- 1 root root   322936 Aug 15  2015 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Aug 15  2015 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root roo

[2016-09-14 21:54] saudet commented on #5
@jhseu Does that mean that the C API will be expanded to cover all that the Python bindings currently have access to?

[2016-09-14 22:07] jtoy commented on #5
Wow, big change.  Wish this was decided earlier on.  Anyway to see the docs
sooner?

On Wed, Sep 14, 2016 at 5:56 PM, Samuel Audet <notifications@github.com>
wrote:

[2016-09-14 22:18] gunan commented on #3856
Bonus, we found out that our proto packages were not optimized when building. Now we are.
I have built and uploaded all the following packages, this time with correct python versions:
https://storage.googleapis.com/tensorflow/mac/cpu/protobuf-3.0.0-cp35-cp35m-macosx_10_11_x86_64.whl
https://storage.googleapis.com/tensorflow/mac/cpu/protobuf-3.0.0-cp27-cp27m-macosx_10_11_x86_64.whl

https://storage

[2016-09-14 23:16] yaroslavvb commented on #4375
BTW, there's a list of TensorFlow books on
https://github.com/jtoy/awesome-tensorflow

You could do a pull request to add your book there

On Wed, Sep 14, 2016 at 12:05 AM, Packt <notifications@github.com> wrote:

[2016-09-14 23:22] andydavis1 commented on #4371
Closing this out as it appears resolved. Please re-open if the PR for Bazel mentioned by @xpe does not address this issue.

[2016-09-14 23:22] #4371 closed

[2016-09-14 23:23] jstaker7 commented on #2987
Just to add my 2 cents; I'm running into a similar issue. My setup includes 4 Titan X GPUs and plenty of CPU/RAM. I'm training two models at a time (each using two GPUs). One model has been training for a long time with consistent times per step. I then start up the second model and things look good for about 1500-3000 steps and both models have consistent training times per step. After a while bo

[2016-09-14 23:25] aidan-plenert-macdonald commented on #4359
How do I add headers to be installed into the TensorFlow include path? And how about for the .proto files? I need to "compile" them to headers and have them installed

I need several framework and common_runtime headers to compile device code. I tried to look through the Bazel files, but couldn't find anything obvious.

[2016-09-14 23:35] yaroslavvb commented on #2987
There was similar sounding issue here
<https://github.com/tensorflow/tensorflow/issues/3009#issuecomment-236260459>
Can you see if enabling tcmalloc
<http://goog-perftools.sourceforge.net/doc/tcmalloc.html> solves it?

On Wed, Sep 14, 2016 at 4:23 PM, jstaker7 <notifications@github.com> wrote:

[2016-09-14 23:52] lan2720 commented on #4333
Thanks for your clear answer! It works as you said.

[2016-09-14 23:53] #4333 closed

[2016-09-15 00:10] argman commented on #4361
Agree, I believe there is bug in batch_norm.

[2016-09-15 00:17] kamal94 commented on #4371
@xpe I tried installing bazel from source from your repository and it still didn't work, same error. I think it might have something to do with bazel fetching protobuf from github.

However, this is really confusing because protobuf [fixed their cfg flags](https://github.com/google/protobuf/pull/2100), and they don't have any HOST_CFG in their code base anymore. So I don't see why bazel would get

[2016-09-15 00:31] szsongyj commented on #4319
syj@syj-dl:~$ git clone https://github.com/tensorflow/tensorflow
正克隆到 'tensorflow'...
remote: Counting objects: 86413, done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 86413 (delta 0), reused 0 (delta 0), pack-reused 86407
接收对象中: 100% (86413/86413), 56.90 MiB | 1.30 MiB/s, 完成.
处理 delta 中: 100% (63995/63995), 完成.
检查连接... 完成。
syj@syj-dl:~$ cd tensorflow
syj@syj-dl:~/tensorflow$ git

[2016-09-15 00:34] DjangoPeng commented on #4232
@samjabrahams Sounds good~ Look forward to your update~

[2016-09-15 00:36] szsongyj commented on #4319
.
INFO: Starting clean (this may take a while). Consider using --expunge_async if the clean takes more than several minutes.
.
ERROR: /home/syj/tensorflow/tensorflow/core/BUILD:692:1: no such package 'base': BUILD file not found on package path and referenced by '//tensorflow/core:ios_tensorflow_test_lib'.
ERROR: /home/syj/tensorflow/tensorflow/core/kernels/BUILD:2207:1: no such package 'base': BU

[2016-09-15 00:38] szsongyj commented on #4319
The above is the whole steps and  output? what's wrong?

[2016-09-15 01:31] andrewharp commented on #4319
@szsongyj If you're getting "malformed object name" it means your repo doesn't contain that commit. However your most recent clone seems to contain it.

Can you try patching in the https://github.com/okuchaiev/tensorflow-float16/commit/c1b6623154e14799419f91bd197b7900a78dbc2b commit referenced by https://github.com/tensorflow/tensorflow/issues/4312? I think that's what you're running into now.

BT

[2016-09-15 01:33] ic commented on #4371
@kamal94 @xpe I had the same problem as Kamal about 10 hours ago, even with a Bazel patch similar to @xpe's PR.

I have just pulled TF (02a8d07) and, with the Bazel patch, everything is fine now.

[2016-09-15 01:46] andrewharp commented on #4312
This seems to have auto-closed when I merged f66b491, but it does not seem to be completely fixed yet, does it?

[2016-09-15 02:02] gopigrip7 commented on #4154
What are the other options evaluated? Just would like to get some understanding of other options we have today.

[2016-09-15 02:06] szsongyj commented on #4319
Thank you @andrewharp

in [https://github.com/tensorflow/tensorflow/issues/4312](url), @ibab said

Does that means I should  edit BUILD file under /home/syj/tensorflow , or some other file? Thank you
`syj@syj-dl:~/tensorflow$ vi BUILD`

[2016-09-15 02:06] tobegit3hub commented on #5
Thanks @saudet . I have found this in [stackoverflow](http://stackoverflow.com/questions/39443019/how-can-i-create-tensorproto-for-tensorflow-in-java) about generating `TensorProto` with pure protobuf API. And here is the [example code](https://github.com/tobegit3hub/deep_recommend_system/blob/master/grpc_service/java/src/main/java/com/tobe/GenericInferenceClient.java) of TensorFlow serving gRPC J

[2016-09-15 02:10] szsongyj commented on #4319
`syj@syj-dl:~/tensorflow$ ls
ACKNOWLEDGMENTS  bzip2.BUILD      grpc.BUILD         png.BUILD    util
ADOPTERS.md      configure        ISSUE_TEMPLATE.md  README.md    WORKSPACE
AUTHORS          CONTRIBUTING.md  jpeg.BUILD         RELEASE.md   zlib.BUILD
avro.BUILD       eigen.BUILD      jsoncpp.BUILD      six.BUILD
boost.BUILD      farmhash.BUILD   LICENSE            tensorflow
bower.BUILD      gif

[2016-09-15 02:16] KeithYin commented on #4379
@mxbi this issue occurs when i tried to build v0.9.0. Ubuntu16.04, GTX 960, python2, Cuda 8.0, cudnn 4. gcc-4.9 g++-4.9
C++ compilation of rule '//tensorflow/stream_executor:stream_executor' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -f

[2016-09-15 02:20] woodshop commented on #4312
No, it doesn't seem entirely solved. The configuration fails in my environment due to the following two targets:
  - The `ios_tensorflow_test_lib` target from `tensorflow/core/BUILD`
  - The `android_tensorflow_kernels_no_rtti_lite_runtime` target from `tensorflow/core/kernels/BUILD`

However I am now able to build the project _despite_ configuration errors, whereas I was not able to do so before

[2016-09-15 02:27] andrewharp commented on #4319
@szsongyj You are listing only the contents of the local directory. Use `ls -R` to see the entire tree recursively, or `ls tensorflow/core/kernels` to see the contents of the relevant directory.

To edit the actual file from your current location try `vi tensorflow/core/kernels/BUILD`.

[2016-09-15 02:29] szsongyj commented on #4319
@andrewharp  sorry I got it . it is a foolish question

syj@syj-dl:~/tensorflow/tensorflow/core/kernels$ ls BUILD

BUILD

[2016-09-15 02:39] szsongyj commented on #4319
`#cc_library(
#    name = "android_tensorflow_kernels_no_rtti_lite_runtime",
#    srcs = select({
#        "//tensorflow:android": [
#            "//tensorflow/core/kernels:android_core_ops",
#            "//tensorflow/core/kernels:android_extended_ops",
#        ],
#        "//conditions:default": [],
#    }),
#    copts = tf_copts() + tf_opts_nortti_if_android(),
#    tags = [
#        "manual",

[2016-09-15 02:52] andrewharp commented on #4319
@szsongyj If you select the content after pasting and then press "Insert code", github will pick the right escape chars (it needs three quotes for multi-line chunks).

Regarding the question, you may need to apply the entire patch if you continue to run into problems after commenting out only that one lib. I would just try it and see what happens.

[2016-09-15 02:56] fheide commented on #3917
The faulty values for the grid sizes are caused by a device not being initalized (but passed to the TensorExecutor). Can be fixed with the attached patch to the TensorExecutor.

Apply from tensorflow base directory:
`patch ./bazel-tensorflow/external/eigen_archive/unsupported/Eigen/CXX11/src/Tensor/TensorExecutor.h < patch.txt`

Should fix this issue for now.
[patch.txt](https://github.com/tensorf

[2016-09-15 03:05] saudet commented on #5
@tobegit3hub Nice, if you can make this work with the C++ API, please add it to the helper package of the JavaCPP Presets and send a pull request! This guy would be interested in something like that: https://github.com/bytedeco/javacpp-presets/issues/240

[2016-09-15 03:06] aidan-plenert-macdonald commented on #4359
FYI. I got a fake device working with contexts, factories, kernels and all, so I will begin to try to make it self contained. I posted various questions to StackOverflow and things. Those are more educational. The library problem above is more important for the purposes of this issue.

Thanks a bunch!

[2016-09-15 03:08] kamal94 commented on #4371
@ic  I still couldn't get it to work.
What i did:
1. git clone this repository
2. git clone bazel
3. replace all "HOST_CFG" with "host" in the entire directory
4. ./compile the bazel directory
5.removed the old bazel binary from /usr/bin
6. copied the new bazel binary in output/ to /usr/bin

I still get the error, and bazel still attempts to clone the protobuf github repository and install from th

[2016-09-15 03:14] szsongyj commented on #4319
@andrewharp Thank you for your  guidance. NowI have commented out “android_tensorflow_kernels_no_rtti_lite_runtime” section，and  the configure is running . I  will paste the errors here if problem still exists. Thanks again.

[2016-09-15 03:22] szsongyj commented on #4319
ERROR: /home/syj/tensorflow/tensorflow/core/BUILD:692:1: no such package 'base': BUILD file not found on package path and referenced by '//tensorflow/core:ios_tensorflow_test_lib'.

[2016-09-15 03:28] andrewharp commented on #4319
@szsongyj  ios_tensorflow_test_lib is also commented out in the patch. I would just go ahead apply the entire thing.

[2016-09-15 03:32] szsongyj commented on #4319
@ andrewharp   OK I have commented " ios_tensorflow_test_lib" section

[2016-09-15 03:32] szsongyj commented on #4319
ERROR: /home/syj/tensorflow/tensorflow/workspace.bzl:85:3: no such package '@six_archive//': Error downloading from https://pypi.python.org/packages/source/s/six/six-1.10.0.tar.gz#md5=34eed507548117b2ab523ab14b2f8b55 to /home/syj/.cache/bazel/_bazel_syj/47b860f752d3ee48e8d208f528a56395/external/six_archive: Error downloading https://pypi.python.org/packages/source/s/six/six-1.10.0.tar.gz#md5=34eed

[2016-09-15 03:33] ic commented on #4371
My changes are basically the same as the PR by @xpe. Have you changed anything else?

Perhaps need for a `bazel clean` before trying to recompile.

In the compilation log, protobuf` is also cloned and built from source here. Note I have succeeded on Darwin only---not tried yet on Linux.

Just to be sure: Do you use the exact same commits as the ones I suggested, both for Bazel and TensorFlow?

[2016-09-15 03:35] andrewharp commented on #4319
Can you try `git pull --recurse-submodules`?

[2016-09-15 03:36] szsongyj commented on #4319
At this moment, I have totally made modification as guidance of [https://github.com/okuchaiev/tensorflow-float16/commit/c1b6623154e14799419f91bd197b7900a78dbc2b](url)

so I am reconfiguring right now. Let's wait to see the result.

[2016-09-15 03:37] szsongyj commented on #4319
@andrewharp  you mean
i execute the command of

under  /home/syj/tensorflow    ?

[2016-09-15 03:39] andrewharp commented on #4319
Yes. I usually just add the `--recurse-submodules` flag when I clone to make things easier.

[2016-09-15 03:45] szsongyj commented on #4319
@ andrewharp
syj@syj-dl:~/tensorflow$ git pull --recurse-submodules
remote: Counting objects: 767, done.
remote: Total 767 (delta 633), reused 633 (delta 633), pack-reused 133
接收对象中: 100% (767/767), 121.42 KiB | 16.00 KiB/s, 完成.
处理 delta 中: 100% (641/641), 完成 234 个本地对象.
来自 https://github.com/tensorflow/tensorflow
   8f91632..4addf4b  master     -> origin/master
更新 8f91632..4addf4b
error: Your loca

[2016-09-15 03:51] szsongyj commented on #4319
Just as [https://github.com/okuchaiev/tensorflow-float16/commit/c1b6623154e14799419f91bd197b7900a78dbc2b](url) , I modified the following three files

tensorflow/contrib/session_bundle/BUILD
tensorflow/core/BUILD
 tensorflow/core/kernels/BUILD

So when i execute
`syj@syj-dl:~/tensorflow$ git pull --recurse-submodules`

It prompts me

tensorflow/core/BUILD
 Aborting

What should I do?

[2016-09-15 03:56] szsongyj commented on #4319
@ andrewharp  I need  leave  and be back tomorrow. Hope to still get your help regarding the pending issues. I will try when i am back ,and give you feedback
 I have been stucked in this issue for several days. Hope to get it solved ASAP.
Thank you & Best Regards.

[2016-09-15 03:59] andrewharp commented on #4319
@szsongyj Perhaps try one of the methods suggested here: http://stackoverflow.com/questions/14318234/how-to-ignore-error-on-git-pull-about-my-local-changes-would-be-overwritten-by-m

Alternatively follow the [xkcd method](https://xkcd.com/1597/) and start over, this time with --recurse-submodules :)

[2016-09-15 05:45] KeithYin opened #4391 "bazel build error"
Ubuntu16.04 Cuda8.0 cudnn4 gcc-5.4 g++5.4 tensorflow0.9.0,
i experienced the issue blow when using bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package  and there also is a warning.
what should i do to correct this? i am new to tensorflow .  Need Help
WARNING: /home/keithyin/workspace/tensorflow-0.9.0/util/python/BUILD:11:16: in includes attribute of cc_library rule //

[2016-09-15 05:48] KeithYin commented on #4391
this is my bazel version .  i dont know what is wrong with it

keithyin@keithyin-PC:~$ bazel version
Build target: bazel-out/local-fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Jan 01 00:00:00 1970 (0)
Build timestamp: Thu Jan 01 00:00:00 1970 (0)
Build timestamp as int: 0

[2016-09-15 06:07] israelg99 commented on #4312
I fresh cloned tensorflow for latest master commit, and I confirm I'm experiencing the same issues as @woodshop.
However, I didn't have those issues configuring a few days ago.

[2016-09-15 07:48] TimZaman opened #4392 "LMDB Reading Feature"
I would like to see a native feature where LMDB files are read by tensorflow inside the graph. I know it can be done with placeholders but that's suboptimal.

In general, there are three ways of approaching this in TF.
(1) Native Implementation / Custom Data Reader
[https://www.tensorflow.org/versions/r0.10/how_tos/new_data_formats/index.html](https://www.tensorflow.org/versions/r0.10/how_tos/new_

[2016-09-15 08:05] gravity1989 commented on #3128
Why is this issue closed?

Think this issue still persists?

[2016-09-15 11:24] israelg99 commented on #3875
Same here with @iraadit and @jrecursive running Ubuntu 16.04, CUDA 8.0, CuDNN 5.1 and nvidia driver 370.

[2016-09-15 11:46] imironhead commented on #3825
[code]

I got the same problem when using initializer on a 1d variable. It's ok if the dimension is 2.

[code]

Looks like the initializer works only on 2d shape variables.

[code]

[2016-09-15 12:20] namrata-ibm commented on #4380
+1

So TensorFlow needs specifically protobuf's `"ed87c1fe2c6e1633cadb62cf54b2723b2b25c280"` commit ID to build?
Other protobuf commits don't work?

[2016-09-15 13:43] ye commented on #3856
Yes, will try 3.5 whl out again today.

Re bonus: Nice! :)

Sent from my iPhone

[2016-09-15 14:02] tsumana opened #4393 "AttributeError: 'GFile' object has no attribute 'Size'"
Getting above error when running mnist_softmax.py

(tensorflow) :~/softwares/tensorflow/tensorflow/examples/tutorials/mnist$  python mnist_softmax.py

Temporary work around would be to do following edit in the "tensorflow/tensorflow/contrib/learn/python/learn/datasets/base.py"

Replace  Line # 160    '    size = f.Size()  '        with       '   size = f.size()  '

As 'tensorflow/tensorflow/python

[2016-09-15 14:47] aj07 opened #4394 "Proper mesage for new contributor"
On page CONTRIBUTING.md there is a link for new contributor.
There is a need of space between how and to which i missing. But, it will look good if we change the message to getting started.

[2016-09-15 15:07] prb12 commented on #4387
@yuanbyu can probably clarify- but it does seem like you are executing the loop condition on the GPU. This is always going to be very inefficient since the host needs to know the output of the condition before it can dispatch the loop body for the next iteration.

By making the condition function use integers you are effectively causing it to be executed on the CPU - there is a special case for in

[2016-09-15 15:38] daemonslayer opened #4396 "Problem in using docker tensorflow installation for GPU"
Operating System: Ubuntu 16.04
I installed the gpu-docker tensorflow using these commands:
[code]
Now, I have cuda installed but when I try to run code with gpu support, I get this:
[code]
It cant open libcuda even though I installed it. Also, how do I install cuDNN here?
output of `ldconfig -p | grep cuda`:
[code]

[2016-09-15 15:52] pwaller commented on #3989
I just hit this trying to build with cuda:8.0-cudnn5-devel, sounds more or less like the same issue?

[code]

[2016-09-15 16:04] pwaller opened #4397 "Docker build devel-gpu build fails with 8.0-cudnn5-devel (Cannot find cudnn.h under .../lib)"
**Summary**: Why is it looking for the header file under the lib directory?

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

* https://github.com/tensorflow/tensorflow/issues/3989 (and references within)

### Environment info

Operating System: Ubuntu 16.04. Docker 1.12.1.

### If possible, provide a minimal reproducible example

1. Mo

[2016-09-15 16:04] pwaller commented on #3989
Submitted #4397.

[2016-09-15 16:05] MatthiasWinkelmann commented on #4380
I;m just a TF user and have no deeper insights into it's inner workings,

You can do an interval search between ```ed87c1``` and ```HEAD``` (see ```git bisect```), but considering the commit of interest to you is rather small, you could probably just backport it.

(and I believe you may have more luck at Stack Overflow considering this isn't a bug in TF).

[2016-09-15 16:14] pwaller commented on #4397
I pieced together that I could make it work by modifying `CUDNN_INSTALL_PATH` to `/usr/local/cuda` in the Dockerfile.

[2016-09-15 16:16] pwaller commented on #4397
The error message is confusing, because it looks like it almost finds the file since it looks in `/usr/local/cuda-8.0/targets/x86_64-linux/lib` but the header file is in fact in `/usr/local/cuda-8.0/targets/x86_64-linux/include`.

[2016-09-15 17:06] wilesdaliglass commented on #4358
The folder holding the file referenced in the docs has, e.g. https://github.com/tensorflow/tensorflow/blob/r0.10/tensorflow/models/image/cifar10/cifar10_input.py, which does contain a `distorted_inputs` routine, is this what you're looking for? If so, then the easiest fix is just to change the link in the docs to point to the cifar10_input.py file instead of the cifar10.py file that imports it (li

[2016-09-15 17:14] gunan commented on #4397
This is expected.
Cuda8 still does not have APT packages we can install.
APT packages deploy all cuda libraries/headers to different locations than nvidia's installer.
Thus our cuda7.5 images wont work out of the box with cuda 8 images.

@flx42, could you verify the above information?

[2016-09-15 17:44] gustavla commented on #3743
PR has been merged. Closing this.

[2016-09-15 17:44] #3743 closed

[2016-09-15 18:10] gustavla commented on #4319
Just to make sure we don't lose sight of this issue, there should be some discussion of what the best solution to this is. As I see it, the two easiest fixes is either to revert 7bcdcbbf or simply bump the officially supported version of bazel to 0.3.1.

[2016-09-15 18:25] kbrems commented on #1450
I am getting the same error when I create a simple custom operator that operates on a list of input tensors of type int32. My input tensor is 5 elements, so this is clearly not a memory limitation issue.

Specifics:
ubuntu 14.04
GeForce GTX TITAN driver version 367.44
cuda 7.5, cudnn v4
binary pip install tensrflow gpu version 0.10.0rc0
python 2.7

Build and run the attached source code:
$ python

[2016-09-15 18:33] vrv commented on #1450
Does it work if you define the input type  as int64?

[2016-09-15 18:35] lukaszkaiser commented on #4281
I tracked it down to the shape of placeholders in seq2seq_model (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/translate/seq2seq_model.py) being set to [batch_size] statically on init. It should be [None] so it can be changed dynamically. Corrected a day ago -- should all work ok now on head, no need for your tweak :).

[2016-09-15 18:35] #4281 closed

[2016-09-15 18:40] vrv commented on #4359
1) At the moment, unsupported/Eigen/CXX11/Tensor  is required by the framework -- it's how you can map our tensor.h Tensor into typed and shaped tensors.

2) Adding @keveman about how to add TF headers to include path.  I thought https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#setting-up-tensorflow-for-development might be relevant, but I'm not sure.

[2016-09-15 18:42] aselle commented on #4394
If I am interpreting your issue correctly, I assume you mean the [howto]. Howto is actually now a word!
https://www.google.com/search?q=howto%20definition
It's pretty similar to how electronic mail became email.

[2016-09-15 18:42] #4394 closed

[2016-09-15 18:43] kbrems commented on #1450
I can't build a custom operator with type int64:

karenbre@karenZ820:~/workspace/issue1450$ ./build.sh
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcufft.so l

[2016-09-15 18:43] drcrook1 commented on #4256
This is an interesting thread.  @tanayz can you expand on what you plan or wish to do?

[2016-09-15 18:57] fninsiima opened #4399 "Android build issue: p"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None relating to permission denied issue

### Environment info
Operating System: Linux Ubuntu 64-bit

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
2. The output of `bazel version`

### If possible, provide a minimal reproducible example (We usually don't hav

[2016-09-15 19:07] jstaker7 commented on #2987
Update: Tried clearing the cache and that didn't help (didn't appear to be under pressure anyway). Also, I noticed that CPU usage starts at ~8% when the second model gets started, but gradually climbs to about 50%, at which time training drastically slows down for both cases. Not sure why CPU usage would increase overtime like that with a second model running, and why there would be a slow down at

[2016-09-15 19:26] rryan commented on #3624
@iportillo ComplexAbs (and a few others) added here: https://github.com/tensorflow/tensorflow/commit/f21642013092b53186491064335053a9e02ce010
and the corresponding Eigen change:
https://bitbucket.org/eigen/eigen/commits/6d4cd6e5cdd9c750b10cc4c6a374e4c513b267ed

[2016-09-15 20:00] shkr commented on #4319
If someone could also provide explanation for why this commit is necessary https://github.com/tensorflow/tensorflow/commit/7bcdcbbf60fc08346fd8016270a0563f4b51362b, that will also be useful.

[2016-09-15 20:04] craigdanj opened #4401 "Broken blog link on tensroflow.org dated 26 Aug 2016"
https://research.googleblog.com/2016/08/text-summarization-with-tensorflow.html.html

Should be

https://research.googleblog.com/2016/08/text-summarization-with-tensorflow.html

[2016-09-15 20:24] andrewharp commented on #4399
hi @fninsiima

First, can you verify that `/home/flavia/Documents/ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-gcc` exists on your system and is executable?

As a potential quick fix, I would suggest that you try downloading/extracting r11c from here: https://dl.google.com/android/repository/android-ndk-r11c-linux-x86_64.zip, as occasionally Bazel will e

[2016-09-15 20:32] jorgehatccrma commented on #4368
I'm having the same issue, compiling on CentOS 7 using Cuda 7.5. If I compile without `--config=cuda` it builds and I can run it in CPU, but of course, I'd like to be able to run on GPU.

Any idea on what the problem could be?

[2016-09-15 20:33] andrewharp commented on #4399
Also, did you clone with `--recurse-submodules`, and can you verify that `<git_root>/tensorflow/bazel-tensorflow/external/protobuf` is not empty?

[2016-09-15 20:37] danijar commented on #4358
Thanks. Yes, I think that would be suitable. Do you want to create a pull request? Otherwise, I can do that.

[2016-09-15 20:49] fninsiima commented on #4399
Bazel protobuf is not empty. Ive listed the output here

flavia@fninsiima-ThinkPad-T440p:~/Documents/tensorflow/bazel-tensorflow/external/protobuf$ ls
appveyor.bat      generate_descriptor_proto.sh  protobuf-lite.pc.in
appveyor.yml      gmock.BUILD                   protobuf.pc.in
autogen.sh        java                          Protobuf.podspec
benchmarks        javanano                      proto

[2016-09-15 20:51] fninsiima commented on #4399
No, i have yet to try out the quick fix.

[2016-09-15 20:53] mbz opened #4402 "explicit device specification of restore operation on distributed training"
I'm trying the run the distributed training of Inception, and this is the error I'm getting, the moment workers connect to ps.

[code]

I'm using the latest pip TensorFlow (0.10) on Cuda 7.5 and Cudnn v5.

[2016-09-15 21:05] andrewharp commented on #4399
[code]

You would just run `ls -la /home/flavia/Documents/ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-gcc` and make sure you have read/execute permissions, or simply try executing it directly from the command line.

[2016-09-15 21:22] flx42 commented on #4397
Correct, we don't have deb packages of cuDNN v5 on CUDA 8.0 since CUDA 8.0 is not final yet. But, as I said [here](https://github.com/tensorflow/tensorflow/issues/3989#issuecomment-241933622), ideally the configure script should look in both `/usr/local/cuda` and `/usr`.

[2016-09-15 21:27] gunan commented on #4397
@davidzchen @martinwicke

[2016-09-15 21:28] gunan commented on #4397
Would this be as simple as including both possible directories here (and lines below and above, all the environment variables we use to point to cuda library locations)
https://github.com/tensorflow/tensorflow/blob/4addf4b5806cd731949c6582a83f5824599cd1ef/tensorflow/tools/docker/Dockerfile.devel-gpu#L91

[2016-09-15 21:38] flx42 commented on #4397
@gunan well, there is already a `CUDNN_INSTALL_PATH` line here, simply removing it also work.
Ideally, the Dockerfile should not have to specify `CUDNN_INSTALL_PATH`, `CUDA_PATH` or `CUDA_TOOLKIT_PATH`, if the configure steps use sensible default values when looking for CUDA/cuDNN. Those variables should only be needed when you have a truly unusual CUDA install path like `/home/felix/cuda`.

Also,

[2016-09-15 21:38] bsautermeister commented on #4361
With bug in batch_norm, which point's of my list do you actually mean? And could you propose any workaround?

[2016-09-15 21:42] andydavis1 commented on #4393
Thanks for reporting, this but it looks like its already been fixed:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/datasets/base.py

[2016-09-15 21:42] #4393 closed

[2016-09-15 21:46] andydavis1 commented on #4392
thanks for posting. I think that it would be best to post your questions about relative performance differences between options (1) and (2) to stackoverflow first (tag 'tensorflow').

[2016-09-15 21:46] #4392 closed

[2016-09-15 21:48] fninsiima commented on #4399
Okay.

I followed your instructions.
Then later on i run into an issue. something to do with

arm-linux-androideabi-gcc: error trying to exec 'cc1': execvp: No such file...

Then i google a bit. and found a solution here...

http://stackoverflow.com/questions/10207280/error-compiling-android-on-ubuntu-11-10

In short, i did not extract my ndk with the right tool. so i did not have executable permi

[2016-09-15 21:48] #4399 closed

[2016-09-15 21:51] kbrems commented on #1450
Note, it does work with int16.

[2016-09-15 22:02] andydavis1 commented on #4380
Please post any questions to StackOverflow with tag 'tensorflow'. Closing this for now.

[2016-09-15 22:02] #4380 closed

[2016-09-15 22:05] andydavis1 commented on #4342
Thanks Yaroslav. Closing this out.

[2016-09-15 22:05] #4342 closed

[2016-09-15 22:18] champnaman opened #4403 "Error while installation on virtual environment"
I'm trying to install Tensor Flow on my virtual environment with Python 2.7.6.

When I try the command `pip install --upgrade $TF_BINARY_URL` as mentioned in the [documentation](https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#virtualenv-installation), I get the following error -

Downloading/unpacking https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0-cp27-no

[2016-09-15 23:13] israelg99 commented on #4396
Tensorflow uses `LD_LIBRARY_PATH` to locate the CUDA lib files. In your environment, the paths in that variable do not contain `libcuda.so` nor cuDNN files, that's why tensorflow can't open/find those files.

I think the problem is with the nvidia-docker installation, make sure you installed it correctly with the right tag for tensorflow, perhaps [this doc](https://www.tensorflow.org/versions/r0.1

[2016-09-16 00:06] aidan-plenert-macdonald commented on #4359
I got all the code down to one file with no changes to the main code base except the below. I list my solution ideas, but they involve modification of the main code so I wanted to make sure its okay.

[code]
To get rid of this one, I was thinking of using the [existing registration](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/device_factory.cc#L44), but that

[2016-09-16 00:10] vrv commented on #4359
I think if you name your device "/device:KPU:0" instead of just "/KPU:0", it should work without any additional edits.  "/cpu:0" and "/gpu:0" were shortcuts before we realized it was helpful to have the "/device" qualifier like we do for the other parts of a full device name.  Can you give that a try and let me know?

[2016-09-16 00:46] daemonSlayer commented on #4396
How can I make sure that my nvidia-docker is installed correctly? I reran the whole process (installing the .deb files). I do have cuda installed in my environment. Thing is, I have `CUDA 8.0` installed from nvidia's repo and `CUDA 7.5` using `sudo apt-get install nvidia-cuda-dev nvidia-cuda-toolkit`.
(In my env : Not docker) `ldconfig -p | grep cud`
[code]

[2016-09-16 00:54] yuanbyu commented on #4387
I modified your code to compare it with static unrolling in TF:

[code]

Here are the results. When the loop body is tiny, the run time is dominated by the book keeping overhead of while loop. (We need to run a lot more ops such as tf.add, tf.less, ...) When the loop body has a bit non-trivial computation, they are roughly equal.

dim = 100:
Iterations/second (static): 183921.174835
Iterations/sec

[2016-09-16 01:00] aidan-plenert-macdonald commented on #4359
Yup that worked!

[code]

Once I figure out how to get those includes and compile it outside of TF, I will submit a pull request within documentation a la ["Adding an Op"](https://www.tensorflow.org/versions/r0.10/how_tos/adding_an_op/index.html)

After that. I would like to discuss how to best support my particular hardware. My company probably wants this to be private as I will need to tell you

[2016-09-16 01:26] israelg99 commented on #4396
You want tensorflow to find those files? then you'll need to export `/usr/lib/x86_64-linux-gnu/` from your env, into `LD_LIBRARY_PATH` in your docker, which is the variable tensorflow uses for locating cuda libs.
You can create symlinks and export those if it's more comfortable to you.

I download CUDA and cuDNN from NVIDIA's site as runfiles (deb is pretty much broken right now) and install with

[2016-09-16 02:20] lonce commented on #4210
Sweet! That did the trick, Matthias.
Thanks to all.

[2016-09-16 03:10] andrewharp commented on #4346
Sorry, my mistake -- that should have been `@gemmlowp//:eight_bit_int_gemm_sources` instead.

[2016-09-16 03:27] steverichey commented on #4346
[code]

😭

[2016-09-16 03:46] imironhead commented on #3825
I have a pull request (#4406) for this.

BTW, I found that it's not a good idea to initialize bias with xavier (in my case).

[2016-09-16 05:59] packtpartner commented on #4375
Thanks for the link @yaroslavvb
But I feel it will help alot more people if it is featured on tensorflow.org
@andrewharp could you help me with this?

[2016-09-16 06:36] jthoth opened #4407 "Error with my own model trained in android demo"
SETTING CODE ANDROID

  private static final int NUM_CLASSES = 26;
  private static final int INPUT_SIZE = 299;
  private static final int IMAGE_MEAN = 128;
  private static final float IMAGE_STD = 128;
  private static final String INPUT_NAME = "Mul:0";
  private static final String OUTPUT_NAME = "final_result:0";

ERROR ADB LOGCAT

tensorflow_jni.cc:304 Error during inference: Invalid argument:

[2016-09-16 07:16] TimZaman commented on #4392
Thanks Andy.
But the feature request is 'LMDB reading feature', so the question can be considered an extra. Can you open this feature request up again, or are you excluding this from ever being implemented? That would make me sad.

[2016-09-16 07:56] #4276 closed

[2016-09-16 08:27] jthoth commented on #4407
I found the solution

https://github.com/tensorflow/tensorflow/issues/1269

[2016-09-16 08:36] JulienB-78 commented on #1234
I let ivan create the bug issue but I confirm that the new behavior can cause some troubles. I am using ```sparse_softmax_cross_entropy_with_logits``` and, in my opinion, the best behavior would be to return a loss of _0.0_ and null gradients when the label is not in the range _[0, num_classes)_; never return _nan_.

[2016-09-16 08:45] Nayana-ibm commented on #4380
Thanks Andy.
But we wanted to know which protobuf commit id to be used for Tensorflow.

I could build Protobuf with `c59473d53eafadd126502657e5c5c33e952b67ed` independently.
Doesn't look like an issue with Protobuf.

I could build TensorFlow master with  protobuf commit id  `ed87c1fe2c6e1633cadb62cf54b2723b2b25c280` successfully.
However, we want to use protobuf commit id `c59473d53eafadd126502657

[2016-09-16 10:01] 3rd3 opened #4408 "Variable initialization problem"
Hi, I am getting a error "Attempting to use uninitialized value" on tf.initialize_all_variables when I try to incorporate the shape of a tensor via tf.shape in a loss function that depends on a dynamically shaped input tensor, and in between, on the variable that does not get initialized and on tf.scan. I am trying to get a minimal working example of the bug, but I couldn't reproduce it yet, so I

[2016-09-16 12:22] daemonSlayer commented on #4396
I had already set the env variables. Tried that again, but it didn't help. I figured it might be that cuda 8.0 might not be supported by the docker image. So I have installed cuda 7.5 on my system and it still gives the same errors.

[2016-09-16 12:59] shetshield commented on #4234
I have same error stated above.
(Tensorflow is installed from source.)
In tensorflow/models/embedding/ directory, there is word2vec.py not gen_word2vec.py.
Command "bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg" requires gen_word2vec.py not word2vec.py.
I installed latest version of tensorflow by using "git clone https://github.com/tensorflow/tensorflow"
Error messag

[2016-09-16 13:45] admcrae commented on #4174
Just submitted a PR. It's a bit ugly (generating a zero tensor and applying bias_add to get the required broadcasting), so I'd be happy to hear if anyone has a better suggestion.

[2016-09-16 15:04] admcrae commented on #4174
I'll wait to close this until the PR gets merged.

[2016-09-16 15:30] rgobbel commented on #2146
+1 for a GPU implementation of CTC loss.

[2016-09-16 15:45] szsongyj commented on #4319
`syj@syj-dl:~/tensorflow$ git reset --hard
HEAD 现在位于 8f91632 fix comment grammar (#4381)

syj@syj-dl:~/tensorflow$ git pull --recurse-submodules
remote: Counting objects: 12, done.
remote: Total 12 (delta 6), reused 6 (delta 6), pack-reused 6
展开对象中: 100% (12/12), 完成.
来自 https://github.com/tensorflow/tensorflow
   4addf4b..503a202  master     -> origin/master
更新 8f91632..503a202
Fast-forward
 READM

[2016-09-16 16:00] szsongyj commented on #4319
`syj@syj-dl:~$ cd tensorflow/
syj@syj-dl:~/tensorflow$ git reset --hard
HEAD 现在位于 8f91632 fix comment grammar (#4381)

syj@syj-dl:~/tensorflow$ git pull --recurse-submodules
remote: Counting objects: 12, done.
remote: Total 12 (delta 6), reused 6 (delta 6), pack-reused 6
展开对象中: 100% (12/12), 完成.
来自 https://github.com/tensorflow/tensorflow
   4addf4b..503a202  master     -> origin/master
更新 8f91632

[2016-09-16 16:18] alexmonroe87 commented on #4101
Is there a way to compute the logdet of a matrix on the  GPU and be able to backprop on it?

[2016-09-16 16:21] andydavis1 commented on #4392
My thinking was that you could first ask the question portion of this issue on StackOverflow (sometimes people may have a solution for you). If nothing useful turns up there, then feel free to enter another feature request (or we can reopen this one).

[2016-09-16 16:22] aselle commented on #4403
That looks like possibly a transient network error. Did you try rerunning it again?

[2016-09-16 16:25] aselle commented on #4319
@jart could you please take a look at this issue?

[2016-09-16 16:29] aselle commented on #4363
@caisq could you please take a look at this. Perhaps set LD_LIBRARY_PATH to also include the previous LD_LIBRARY_PATH i.e.  maybe
[code]

[2016-09-16 16:33] vrv commented on #4359
Adding @petewarden

[2016-09-16 16:34] andydavis1 commented on #4353
Looks like a fix is on its way...

[2016-09-16 16:37] andydavis1 commented on #4408
Without a reproducible test case, it would probably be best to first ask around on StackOverflow and see if others can answer your question. If you cant get a good answer and StackOverflw, and if you can get a working example that reproduces the problem, please submit it here.

[2016-09-16 16:37] #4408 closed

[2016-09-16 16:40] aselle commented on #4053
Automatically closing due to lack of recent activity, please reopen or provide more information when it becomes available.

[2016-09-16 16:40] #4053 closed

[2016-09-16 16:41] aselle commented on #4231
Automatically closing due to lack of recent activity, please reopen or provide more information when it becomes available.

[2016-09-16 16:41] #4231 closed

[2016-09-16 16:41] andydavis1 commented on #4407
Closing, since it looks like you found a solution.

[2016-09-16 16:41] #4407 closed

[2016-09-16 16:44] aselle commented on #4250
Automatically closing due to lack of recent activity, please reopen or provide more information when it becomes available.

[2016-09-16 16:44] #4250 closed

[2016-09-16 16:47] aselle commented on #3483
This is now done and including as of 57197386a469e00693540481de08a9b1770c7bb4

[2016-09-16 16:47] #3483 closed

[2016-09-16 16:51] aselle commented on #2568
This is fixed as of 1c131f29d7877e3155f1e58ef3aa99b51faf399b

[2016-09-16 16:51] #2568 closed

[2016-09-16 16:54] aselle commented on #1996
We have no current plans to work on this, so labeling as community support.

[2016-09-16 17:05] aselle commented on #2239
@caisq could you take a look at resolving this issue?

[2016-09-16 17:12] andydavis1 commented on #4348
Looks related to a gcc bug. Assigning an owner from our side to track this until the gcc bug is fixed.

[2016-09-16 17:29] liviu- opened #4413 "Unexpected behaviour for tf.InteractiveSession() in Jupyter Notebook"
I'm not convinced this is a bug, but if I run `tf.InteractiveSession()` in a cell with no assignment (e.g. `sess = tf.InteractiveSession()`), the interactive session will work only as long as the call is the last operation in the notebook cell and the output is not suppressed with `; `. This tripped me over a few times, so I'm reporting it just in case this is not the intended behaviour.

FWIW I t

[2016-09-16 17:55] jorgehatccrma commented on #4368
Could it be that Tensorflow relies on an older version of bazel to build for GPU (i.e. passing `--config=cuda`)? I say this because in [this bazel changelog](https://github.com/bazelbuild/bazel/blob/master/CHANGELOG.md). In version 0.2.3 (2016-05-10), there's an entry that reads:

I then decided to compile bazel 0.2.2 (I was previously using 0.3.1) from source, and was finally able to successfully

[2016-09-16 17:56] zheng-xq commented on #2217
Adding stream-executor owner henline@ here.

One more thing, we are in the process of stream-executor of getting rid of our forked version of stream-executor. Stream-executor will be officially released as LLVM subproject: parallel-libs. And TensorFlow will eventually switch to that. We don't have a specific timeline yet. But if this development takes a while, it is helpful to pay attention to tha

[2016-09-16 17:58] zheng-xq commented on #3917
Adding @benoitsteiner to review this Eigen patch.

[2016-09-16 18:08] alexggmatthews commented on #2217
@henline @zheng-xq .Great. Keen to here of any developments.

[2016-09-16 18:10] 3rd3 commented on #3958
@jmugan I am getting the same error. Did you find a workaround?

[2016-09-16 18:15] jmugan commented on #3958
@3rd3 No, still an issue. Mine uses dynamic RNNs, so that might have something to do with the problem. I thought I saw an open issue related to that.

[2016-09-16 18:25] 3rd3 commented on #3958
I make use of higher-order functions (scan and map) and I think dynamic_rnn does so too.

[2016-09-16 18:35] brando90 commented on #1122
Coming back to the performance issue, does the current batch norm layer benfit at all from GPU usage? Anyone has experienced benefits from GPUs with this batch norm implementation?

[2016-09-16 18:40] hholst80 commented on #2444
@scroyston very nice analysis! Can I ask how you enabled BLAS optimization for matmul?

[2016-09-16 18:47] vincentvanhoucke commented on #1122
You can test for yourself:
https://github.com/tensorflow/tensorflow/blob/4addf4b5806cd731949c6582a83f5824599cd1ef/tensorflow/python/ops/batch_norm_benchmark.py