[2020-04-10 21:48] yifeif commented on #32759
I don't think you are supposed to directly call any of the c++ ops, custom ops or not. But you can call it through the `Session` API, following https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/public/README.md#c-api-example

You might also be able to use eager's API `TFE_Execute`, but you'll still need to create context manually.

[2020-04-10 22:32] hhakangull commented on #37433
i have like this problem and i checked cudnn version but i have still this problem how i can fix ?

[2020-04-10 22:37] lgeiger commented on #38400
#38436 has been merged, so this issue is resolved. Thanks for the help and the fast review.

[2020-04-10 22:37] #38400 closed

[2020-04-10 22:46] yifeif commented on #34163
Sorry for the delay, had a quick chat with Penporn and she mentioned that MKL is already using JIT to run the most optimized code for your cpu architecture, which might explained why you are not seeing a performance boost. cc: @penpornk in case she has more to add. Thanks!

[2020-04-10 22:49] yifeif commented on #32759
Closing this issue. Feel free to re-open if you have further questions!

[2020-04-10 22:49] #32759 closed

[2020-04-10 22:54] yifeif commented on #31062
I see the static runtime dependency has been removed in https://github.com/tensorflow/tensorflow/commit/f819114a2d9d393a60e954d3a3e42d8700ff3b19#diff-063e9e964d14400387e823d7ae9c4b2f

Closing this. Let us know if you are still seeing issues.

[2020-04-10 22:54] #31062 closed

[2020-04-10 23:08] penpornk commented on #34163
Yes to what Yifei said. That message is meant for non-matmul/convolution ops in TensorFlow.

TF has been using [oneDNN](https://github.com/oneapi-src/oneDNN) (new name of MKL-DNN) matrix multiplication routine ([sgemm](https://cs.opensource.google/tensorflow/tensorflow/+/eb2df6e1addf161595950ec7f280f95596854cb8:tensorflow/core/kernels/eigen_contraction_kernel.h;l=166)) as a building block for matm

[2020-04-10 23:18] yifeif commented on #36710
Closing this. @chrishmorris feel free to re-open if you are still having issue with this.

[2020-04-10 23:18] #36710 closed

[2020-04-10 23:22] cecilr14 commented on #36553
@vivien624, Thanks! Sadly, the above changes do not work for me. I am using Tensorflow's r1.8 branch which already has the commit 3c245f5 and am still getting the error:
'FigureCanvasBase' object has no attribute 'tostring_rgb
in paramdefinitions.py

[2020-04-10 23:23] yifeif commented on #31417
I believe this has been resolved. Thanks @dc3671!

[2020-04-10 23:23] #31417 closed

[2020-04-11 00:42] arde171 commented on #38404
Estimator executes model_fn in graph mode. Unfortunately, it didn't able handle python `dict` properly in graph mode for multiworker mirrored strategy. I solved it by maintaining the consistent feature ordering using `OrderedDict`.

[2020-04-11 00:42] #38404 closed

[2020-04-11 00:59] tensorflowbutler commented on #35783
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-11 01:48] hassanhub commented on #29215
I have the same problem with graph visualization.
I used to rely on TB graph visualization in TF 1.X for sanity checks and it was extremely useful.
Now, it's frustrating to normally keep track of the I/O flow of each block.
There are plenty of nodes with this naming pattern: **_XXXX_cast_readvariableop_resource_**
Putting a custom model in Keras also doesn't work for visualizing a conceptual graph

[2020-04-11 02:09] #32545 closed

[2020-04-11 02:13] DreamChaserMXF opened #38445 "Why does work_group_launch_order in TFLite Metal matter?"
https://github.com/tensorflow/tensorflow/blob/9a9a4bfec64cec8a12d31809404ece94a4f55771/tensorflow/lite/delegates/gpu/metal/kernels/conv.cc#L59

I'm a beginner of Metal and trying to understand the Metal implementation of convolution in TFLite. After having read this line of code and found all usages, I'm really confused that why the `work_group_launch_order` matters. How does this machenism work i

[2020-04-11 02:18] thisisreallife commented on #38433
install [hardware requirments(visual c++)](https://www.tensorflow.org/install/pip#hardware-requirements) solve my problem

[2020-04-11 02:18] #38433 closed

[2020-04-11 02:51] NLP-ZY commented on #35533
pytorch is a good choice, they respond issue very fast

[2020-04-11 03:19] sanjoy commented on #38196
It is hard to know for sure, but usually these things do scale linearly with GPU memory as you'd expect (so you'd run 12 instances in parallel if you had 12G of memory).

[2020-04-11 03:44] malanb5 commented on #36495
@groud @glarchev fyi you can use https://github.com/bazelbuild/bazelisk bazelisk instead of install a specific installation of bazel.  This is a wrapper around bazel which will automatically install and use the correct version of bazel for your project.  Just put a .bazelversion with the desired version in your project root folder.  Still figuring this one out.  Let me know if you get anywhere wit

[2020-04-11 03:51] Mostalk opened #38446 "Incorrect zero recognition"
- Tensorflow 2.2.0rc2
- Windows 10
- Python 3.8.2

I have an image with zeros that tensorflow recognizes as eights, can this be fixed somehow?

Image:
![Screenshot_2](https://user-images.githubusercontent.com/9198186/79034675-b17e4080-7bc0-11ea-94fd-448af68fde28.png)
Result:
8,88
8,88

[2020-04-11 04:00] francisconog commented on #34188
Icaro, tenho um notebook com a msm GPU e to com o exatmo msm problema com a API de Object Detection, só rodar esse código ja fez dar certo?

[2020-04-11 04:09] alanpurple commented on #35977
is this ever gonna be fixed?(is it possible?) I'm just curious

[2020-04-11 04:19] k-w-w commented on #38041
The suggested fix should work -- can you submit a PR (with a test)? Thank you!

[2020-04-11 04:37] Rutvik21 commented on #38379
Okay, thanks for the reply.
I will ask on StackOverflow and closing this issue.

[2020-04-11 04:37] #38379 closed

[2020-04-11 04:49] Victor-Almeida opened #38448 "ValueError: Cannot infer num from shape (None, None) when unstacking dense tensor converted from sparse tensor"
Hello,

Iam trying to create a Keras compatible model using Tensorflow to use the CTC loss and I just found a problem : after decoding the output of the neural network using ``tf.nn.ctc_greedy_decoder``, it returns an array with a sparse tensor, and in order to be able to use GPUs and TPUs to calculate the loss with ``tf.nn.ctc_loss`` we need to convert the sparse tensor to a dense tensor, so I us

[2020-04-11 05:01] Senboku commented on #36916
I have the same problem too. When I use ` tf.keras.models.save_model(model, filepath, save_format='tf')`  to save a model, it shows an error :
 `ValueError: Unable to save the object ListWrapper([]) (a list wrapper constructed to track trackable TensorFlow objects). A list element was replaced (__setitem__, __setslice__), deleted (__delitem__, __delslice__), or moved (sort). In order to support re

[2020-04-11 05:30] jrbuhl93 commented on #34253
Does anyone have a work around for this?

[2020-04-11 05:54] wadewangpower commented on #14720
hello,@lavinachitara , i met similar problem now, how did you solve it ?

[2020-04-11 06:07] bersbersbers commented on #35783
I can still reproduce this issue on `tensorflow==2.2.0rc2`; this version was released to PyPI on March 28, but I don't know how this related to March 25's nightly that is supposedly fixed.

[2020-04-11 06:25] sanjoy commented on #38007
That may not have sufficient to completely disable access to gpu:0.  Can you try using [set_visible_devices](https://www.tensorflow.org/api_docs/python/tf/config/set_visible_devices) instead?

[2020-04-11 06:30] Icaro-Lima commented on #34188
Olá @francisconog, faz muito tempo que eu mexi com isso, então não lembro o que fiz para dar certo. Se tem curiosidade de olhar o código fonte do projeto, eles estão [aqui](https://github.com/Coofy/sight-bot-train) e [aqui](https://github.com/Coofy/sight-bot).

Outra coisa, em vez de fazer um setup local, considere uma das seguintes opções:
1. Caso o que você quer fazer seja simples: rodar em um n

[2020-04-11 06:47] Alankriti44 commented on #33378
I have installed it and still not working. I have installed the tensorflow and keras via Anaconda. The error that I got was like this:

Using TensorFlow backend.
Traceback (most recent call last):

  File "<ipython-input-1-6dd4e6629230>", line 1, in <module>
    runfile('C:/Users/HP/Desktop/chatbot/train_chatbot.py', wdir='C:/Users/HP/Desktop/chatbot')

  File "C:\Users\HP\Anaconda3\lib\site-packa

[2020-04-11 08:20] 17patelumang commented on #38375
@mdanatg  I found the bug in the code , instead of doing `return i2 < tf.cast(a1.nested_row_lengths()[0][i1], tf.int32)` we need to loop over number of elements in second array so `return i2 < tf.shape(a1.nested_row_lengths()[0])[0]`

[2020-04-11 08:26] haideralimughal opened #38449 "ValueError: Error when checking : expected input_1 to have shape (608, 608, 3) but got array with shape (416, 416, 3)"
please give me suggestions ? how to solve this error

if __name__ == '__main__':
    yolo = YOLO(0.6, 0.5)
    file = 'data/coco_classes.txt'
    all_classes = get_classes(file)

    # detect images in test floder.
    for (root, dirs, files) in os.walk('images/test'):
        if files:

            for f in files:
                print(f)

                path = os.path.join(root, f)

[2020-04-11 09:24] ZimmerZheng commented on #38294
@Saduf2019 @MakeCent
Thank everyone. I have solved problem. Error was caused by save path have both '/' and '\'.
If I only use ‘\’ in path, the problem gone.

[2020-04-11 09:34] ekuznetsov139 opened #38450 "XLA without autoclustering?"
https://www.tensorflow.org/xla/#explicit_compilation_with_tffunction seems to imply that it is possible to enable XLA for parts of the graph without involving autoclustering.

I am attempting to do this for the Gelu op in BERT https://github.com/google-research/bert/blob/master/modeling.py#L264 as suggested here https://github.com/tensorflow/tensorflow/pull/37937 and the observed behavior does not

[2020-04-11 10:19] wadewangpower opened #38451 "The saved preview image is a green image (tensorflow lite object detection android demo)"
I try to deploy the [tensorflow lite object detection android demo](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android) on streaming media rearview mirror,it is something like this:
![image](https://user-images.githubusercontent.com/43233772/79041066-72cba300-7c1f-11ea-983f-488ee4bdb7f8.png)
and it is android 5.1(API 22) OS, it use android.hardware.Camera API

[2020-04-11 10:20] naturomics opened #38452 "tf.train.Checkpoint complain that tf.train.ExponentialMovingAverage instance is not a trackable object"
My tensorflow versiong is 2.1.0, I built a model in the standard way of keras subclassing and saved it with tf.train.Checkpoint. It works fine in the following code:
[code]
When add the code of moving average as following:
[code]
cause this error:
[code]

Is that `tf.train.ExponentialMovingAverage` incompatible with tf2? What's the best practice to do moving average in tf2?

[2020-04-11 10:44] orangesomethingorange commented on #38161
@jvishnuvardhan Thanks! I already changed the whole design since I couldn't get pass the memory issue. Now the Interpreter instance is running, but I have different issues regarding batch image processing and converting byte, float and int values. I'll open a new issue if I'll find a bug or post on stackoverflow :)

[2020-04-11 10:44] #38161 closed

[2020-04-11 10:51] AdrienCorenflos opened #38453 "Gradient not registered in autograph mode with tf.data.Dataset loop"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): True
- OS Plat

[2020-04-11 11:24] AdrienCorenflos commented on #38453
Also note that the dataset example in the [official performance doc](https://www.tensorflow.org/tutorials/customization/performance) wouldn't propagate the gradient either.

[code]

[2020-04-11 11:28] amahendrakar commented on #37942
@jliebers,
Thank you for the update. Will pass on the feedback to the concerned team. Marking this issue as closed.

[2020-04-11 11:28] #37942 closed

[2020-04-11 11:51] AdrienCorenflos opened #38454 "Tensor array can't be read when passed as argument of tf.function decorated functions"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): true
- OS Plat

[2020-04-11 12:13] A-i-q-o commented on #37433
I also have this problem

[2020-04-11 12:59] grafandreas opened #38455 "SIGSEGV in gemmlowp::PackSideBlockImpl tflite/C++ on Jetson Nano"
I have been trying to build and use tflite on Jetson Nano. However, I am always running into SIGSEGV somewhere in the framework. E.g. with v.1.15.0:

TF lite is built by cd'ing into the tools/make, calling the script for getting the dependencies and for building the generic aarch64_armv8-a.

Any help or ideas for the reason would be appreciated.

Regards

#0  0x0000005555a46e4c in gemmlowp::PackSi

[2020-04-11 13:01] abdullahshafin commented on #24607
Hi everyone and @gargn, I am getting the same error in a slightly different use case as I am working with images:
[code]
Tensorflow nightly version: `2.2.0-dev20200411`

My code for conversion from SavedModel to tflite:
[code]

If I convert slightly differently:
[code]

I get the error:
[code]

**More Information:**
I have a classification usecase with ResNet50 model which I trained with transfer

[2020-04-11 13:24] strongpapazola commented on #30114
hey dude...
problem with Illegal instruction (core dumped)...?

i solve with "conda install -c conda-forge tensorflow"

[2020-04-11 13:37] sehamra opened #38456 "apply_gradients() return error unexpected keyword argument 'all_reduce_sum_gradients' using official.nlp.optimization"
System information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
TensorFlow version and how it was installed (source or binary): tf-nightly 2.2.0-dev20200408 (pip install) and 2.1 stable version
TensorFlow-Addons version and how it was installed (source or binary):
Python version:
Is GPU used? (yes/no): TPU
Describe the bug

A clear and concise description of what the bug i

[2020-04-11 13:50] PaulPauls opened #38457 "Random NaN loss when using float16 dtype and batch size of 1"
__System information__
- Platform: Ubuntu Linux (Kernel 5.3) with Python 3.6.9 **OR** Google Colab
- Tested on TensorFlow: TF v2.1.0 and TF v2.2.0rc2

__Background__
I came across the following bug in one of my Tensorflow projects and was able to successfully reproduce the bug with minimal code in a Google colab. Please see the link to this colab below. The execution of this colab also shows the b

[2020-04-11 13:51] korr4k opened #38458 "Uncertain training and validation generators behaviour"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Windows 10 Home N 1909
- TensorFlow installed from: Anaconda
- Python version: 3.7
- CUDA/cuDNN version: 10.0
- GPU model and memory: GeForce RTX 2060

**Describe the current behavior**

The generator function for images datasets that I'm using is as follow:

[code]

How the training script uses these generato

[2020-04-11 14:17] ms-ims commented on #38246
Hi @gadagashwini Thanks for your support. That issue is resolved, script is updated by that content provider. So now its building properly.

[2020-04-11 14:18] #38246 closed

[2020-04-11 14:57] edurenye commented on #34954
MobileNetV3 was added to keras-applications: https://github.com/keras-team/keras-applications/pull/176

[2020-04-11 15:07] Mariaa98 commented on #32147
let {PythonShell} = require('python-shell')

var myPythonScriptPath = 'tacotron-master/eval.py';

var options = {
mode: 'text',
args: [' --checkpoint ~/tacotron/logs-tacotron/model.ckpt', '-185000']
};

PythonShell.run('tacotron-master/eval.py', options, function (err, results) {
if (err) throw err;
// results is an array consisting of messages collected during execution
console.log('results: %j',

[2020-04-11 15:44] dimitreOliveira commented on #37779
I'm closing this issue since it will be solved by future a TensorFlow version.

[2020-04-11 15:44] #37779 closed

[2020-04-11 15:59] ziofil commented on #3348
I hope the following can help those in need for an explanation.

## Parameter update rule
The gradient descent update of a complex parameter needs the gradient of the loss function with respect to the _conjugate_ of the parameter ([proof](https://mediatum.ub.tum.de/doc/631019/631019.pdf)):

<img width="215" alt="z_leftarrow_z_-_-1" src="https://user-images.githubusercontent.com/8944955/79046193-b4

[2020-04-11 16:09] miaoweiwei commented on #26305
My program has the same problem, [this is my Colaboratory](https://colab.research.google.com/drive/1kVSJzt4FzqdtIdqx0UOYXC0C6Zqb1nVL)

[2020-04-11 16:56] avielas commented on #8346
it works for me. thanks!

[2020-04-11 16:59] siavash-khodadadeh opened #38459 "Both 'mean' and 'variance' must be None when is_training is True and exponential_avg_factor == 1.0"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:  No
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.2.0-dev2020

[2020-04-11 17:02] SouradipBh commented on #38196
Is there any way to run minimum 30 instances in limited GPU Memory.
Basically i want to run  parallel real time object detection simultaneously.
Can u help me with this? I would be very grateful if you could help me.

[2020-04-11 17:05] jvishnuvardhan commented on #38320
@noticebo I tried loading the saved_model and encountered errors. Can you please share the complete model contents. Please check the [gist](https://colab.research.google.com/gist/jvishnuvardhan/66290010d8ef03314cc4f9db762439e2/untitled75.ipynb) for errors. thanks!

[2020-04-11 17:06] nagisa opened #38460 "[1.14/1.15] TensorRT ConvertGraphDefToEngine SIGSEGV"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platf

[2020-04-11 18:17] strohmann commented on #35934
I'm able to reproduce this issue when converting an h5 model from this package:
https://zenodo.org/record/3466980
(This is the model data for this system: https://github.com/mahehu/TUT-live-age-estimator)

Input model for tflite_convert: recognizers\alignment\model-056-0.716316-0.967865.h5
(File from the package mentioned above)

Command line:
tflite_convert --output_file=model.tflite --keras_mode

[2020-04-11 18:53] anorak-k commented on #38349
Should the updated doc contain a something like a warning? or will a small note at the end about the input not being Nan will do? Also should the workaround for avoiding it also be added to the doc?

[2020-04-11 19:16] shinlin77 commented on #38206
I am thrilled this request got to François Chollet.  I'm just wondering what the team's current thinking is with regard to incorporating pixelwise-loss weight maps.  It seems to me a veritable "must-have" for training deep learning algorithms for instance segmentation of objects that are often close together.

[2020-04-11 19:16] mdanatg commented on #38349
@joemaren @anorak-k

Sorry for the delay. Feel free to send a PR - it's only a matter of adding a paragraph to the docstring.

It text should be more in the lines of a warning. Something like: **Important: if any of the inputs have NaN values, etc.**. And yes, it should include the workaround as well, which is something in the lines of: instead of `tf.where(x, ops_that_can_nan(z), ...)`, write `tf

[2020-04-11 19:33] dcv10 opened #38461 "AttributeError: module 'tensorflow' has no attribute 'variable_scope'"
When I put this line of code in:

mlpr = ANNR([input], layers, batchSize = 256, maxIter = 20000, tol = 0.2, reg = 1e-4, verbose = True)

I get the following error:  AttributeError: module 'tensorflow' has no attribute 'variable_scope'

I am using tensorflow version 2.1

How do I fix this?

Thanks in advance.

[2020-04-11 20:34] HardworkingPig commented on #38325
version 14
and yes, I'm using 2.0.0 building on master

[2020-04-11 20:49] mlexpert commented on #38007
@sanjoy Thanks for the advice, you were right. I integrated `set_visible_devices` into the code and managed to disable the gpu:0.

The code is the following one:
[code]

To sum up: I manage to train MNIST on each of the GPUs using `set_visible_devices` and nvidia-smi shows that only one of the GPUs is working.

However, the initial problem remains: it is still not possible to train on multiple GPU

[2020-04-11 20:54] feihugis commented on #34163
@yifeif @penpornk Thanks very much for your detailed answers! Good to know these information. Close this issue as it has been resolved.

[2020-04-11 20:55] #34163 closed

[2020-04-11 21:07] gitgani commented on #34577
poor thing,. we cant use it for generic cosine similarity loss functions...

[2020-04-11 21:20] saeta commented on #31832
Sorry for the long delay. Please re-open this issue if this is still reproducible on the latest versions of TensorFlow & Cloud TPUs. Thanks!

[2020-04-11 21:20] #31832 closed

[2020-04-11 21:20] HardworkingPig commented on #38325
this is what i get when i directly use VS2019 developer command prompt

[code]

[2020-04-11 21:21] saeta commented on #27552
Closing this out, as it appears to not be making progress. If someone is interested in pushing this along, please do feel free. Thanks! -Brennan

[2020-04-11 21:21] #27552 closed

[2020-04-11 21:22] saeta commented on #18661
Unassigning myself as I no longer work on this part of the project. CC @jsimsa (who might know if this has already been documented somewhere.)

[2020-04-11 21:22] #18661 closed

[2020-04-11 21:23] saeta commented on #18880
Closing this issue out as we haven't made progress in quite some time. Thanks all! -Brennan

[2020-04-11 21:23] #18880 closed

[2020-04-11 21:25] saeta commented on #25148
Looks like this issue is relatively stale. If this problem can still be reproduced on the latest versions of TensorFlow, please do open a new issue. Thanks! -Brennan

[2020-04-11 21:25] #25148 closed

[2020-04-11 22:54] sanjoy commented on #38007
Do you have to kill the process or reboot the PC?  As I stated above, if you have to reboot the PC then it is likely a driver or a hardware issue.

[2020-04-11 22:55] sanjoy commented on #38196
I personally cannot commit to giving one on one help on system design issues like this, and github issues are not a good forum for this either.  Please consider asking on StackOverflow or other such forums.

[2020-04-11 22:58] sanjoy commented on #38342
"Huge maintenance" costs" sounds like a pretty big challenge in itself. :)

All of what you're saying can be done, but we are unlikely to take such a large change to the TF repository unless it was very well motivated.

[2020-04-11 23:32] #37983 closed

[2020-04-12 00:00] mikeurbach commented on #37498
i'm running into this on gcc 7.5.0 as well. i was able to work around this by adding a small change in here https://github.com/tensorflow/tensorflow/blob/master/third_party/aws/aws-checksums.bazel#L24. below the various options that are already there, i added
[code]
that seemed to do the trick. the advice came from this comment https://github.com/awslabs/aws-checksums/issues/8#issuecomment-4400277

[2020-04-12 00:05] natario1 opened #38462 "More clarity on TFLite + GPU"
## URL(s) with the issue:

https://www.tensorflow.org/lite/performance/gpu_advanced

## Description of issue (what needs changing):

After a couple of days digging through documentation and source code, I'm still very confused about the current state of GPU support in tensorflow/lite.

1. https://www.tensorflow.org/lite/performance/gpu_advanced#android_cc : talks about C/C++, which gives the illus

[2020-04-12 00:40] tensorflowbutler commented on #36814
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-12 00:40] tensorflowbutler commented on #37504
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-12 02:52] w19787 opened #38463 "cannot set tf.Variable as model input"
Tensorflow: 2.1.0

I intend to utilize a pre-trained model and input a trainable input noise. but it is not allowed in tensorflow 2.0. want to find out whether it is a bug or by design.

[code]
![image](https://user-images.githubusercontent.com/731496/79059341-60974680-7cab-11ea-957c-6e57f5fc237c.png)

[2020-04-12 04:09] k-w-w commented on #34253
Functions only keep weak references to variables, so if the loaded object is garbage collected, the variables will be deleted as well. Make sure the loaded object remains in memory (using @jrbuhl93's approach as one such workaround)

[2020-04-12 04:09] #34253 closed

[2020-04-12 04:11] ekuznetsov139 commented on #38450
I should note that I see this even if I set autoclustering policy in compiler/jit/xla_gpu_device.cc to kIfExplicitlyRequested.

I think this is happening because the function MarkForCompilationPassImpl::RunEdgeContractionLoop() is executed regardless of the global JIT setting. If I comment it out, I get the exact behavior I originally expected:
`2020-04-12 03:17:07.617912: I tensorflow/compiler/ji

[2020-04-12 04:14] rlav440 opened #38465 "ValueError specifying TensorSpec names while using model.save"
**System information**
- Custom code has been written to define the model, and is given
- OS Platform and Distribution: Linux Ubuntu 19.10:
- TensorFlow installed via pip
- TensorFlow versions 2.1.0 & 2.2.0.dev20200411 trialed
- Python version: 3.7

**Describe the current behavior**
Attempting to use model.save() to save a trained model, raises the eventual error
`ValueError: If specifying TensorS

[2020-04-12 04:17] rlav440 commented on #38465
Attached is the dataset with which this error was raised.
Apologies for the initial long code!
[Minimal_code.zip](https://github.com/tensorflow/tensorflow/files/4465842/Minimal_code.zip)
[Dataset1.zip](https://github.com/tensorflow/tensorflow/files/4465837/Dataset1.zip)

[2020-04-12 04:27] houtoms commented on #34519
I met the similar issue when using tf.range loop and tf.dataset on GPU. I have tried with 2.2.0rc1/2 but with no luck (as mentioned by @mgoutay ).

[2020-04-12 04:55] PINTO0309 commented on #37745
The problem that Placeholder is not detected has been solved by tf-nightly==2.2.0-dev20200411. So this issue will be closed.

The following is an error log that is displayed when issue is resolved and weight quantification is performed, but it has nothing to do with this issue.
[code]

[2020-04-12 04:55] #37745 closed

[2020-04-12 05:21] qlzh727 commented on #38236
This is expected since recurrent_dropout will force the LSTM to use generic kernel, rather than the performant cudnn kernel on GPU.

Please see the section of LSTM docstring about the restriction of cudnn kernel usage in https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM

[2020-04-12 05:21] #38236 closed

[2020-04-12 05:51] 17patelumang commented on #38375
@mdanatg its not working in TF API , below is the code and error

[code]

Error is

[code]

Its complaining at `return i2 < tf.shape(a1.nested_row_lengths()[0])[0]` but a1 is suppose to be RaggedTensor but its coming to be Tensor.

What do we need to change here ?

[2020-04-12 06:18] 17patelumang commented on #37960
@mitsuix  1. I checked if i was adding any ops to metagraph every time i do iteration
2. I was finalizing graph after every iteration  `sess.graph.finalize()`

I was not able to solve it fully however i mitigated it ? , if you can share the code and savedmodel (which i cannot) it would be helpful .

[2020-04-12 06:59] ayushmankumar7 commented on #29845
$ yes "" | ./configure; python -c "import numpy as np"
bash: ./configure: No such file or directory
I am getting this error.

I also tried python3, getting the same error

[2020-04-12 07:12] ayushmankumar7 commented on #38350
Thanks for the help.. it was resolved.

[2020-04-12 07:12] ayushmankumar7 commented on #29845
The issue is solved.

[2020-04-12 08:20] vnvo2409 commented on #19297
@mihaimaruseac Can I use `AWS sdk for C++` for `s3` plugin or I should use as much `C` as possible ? A small note, I have to delete 2 lines to able to test `libposix_filesystem.so`
https://github.com/tensorflow/tensorflow/blob/3364a141f2a7dc151154652e2e231516d6ee43cc/tensorflow/core/platform/default/env.cc#L215-L216

[2020-04-12 09:20] Alankriti44 opened #38468 "tensorflow problems"
System Information:
- Windows 7
- TensorFlow installed via pip
- Python version: 3.8.2

Code:
from keras.models import Sequential

Error:
Using TensorFlow backend.
Traceback (most recent call last):
  File "C:\Users\HP\Desktop\chatbot\train_chatbot.py", line 8, in <module>
    from keras.models import Sequential
  File "C:\Users\HP\AppData\Local\Programs\Python\Python38\lib\site-packages\keras\__i

[2020-04-12 09:26] weinixuehao opened #38469 "tflite buffer from GPU"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-04-12 09:51] yonghenghuanmie commented on #23542
I have the same problem,but after recompile,it passed.

[2020-04-12 10:47] dipak889 commented on #34741
Hi, I am getting the same error can you tell me how you resolved it ? @jonathanrjpereira

[2020-04-12 11:46] vikas4707 commented on #33952
Hi did you solved the above issue , i did the same , got the detect.tflite , but when i am using in android , the detection is not showing result which i was getting in python . please help me

[2020-04-12 11:50] khimraj commented on #38468
@Alankriti44, It is due to installation problem. Install the DLL as in the error message.

[2020-04-12 12:02] acegilz commented on #33374
pip install tensorflow==2.2.0rc2
ERROR: Could not find a version that satisfies the requirement tensorflow==2.2.0rc2 (from versions: none)
ERROR: No matching distribution found for tensorflow==2.2.0rc2

[2020-04-12 12:06] khimraj commented on #38463
@w19787, `tf.Variable` is used for trainable variables such as weights (W) and biases (B) for your model. Tensor is given as input to model. Working code:
[code]

[2020-04-12 12:11] khimraj commented on #38461
@dcv10, refer this [issue](https://github.com/datamllab/rlcard/issues/96).

[2020-04-12 12:14] dcv10 commented on #38461
@khimraj I have but did not find it useful

[2020-04-12 12:15] khimraj commented on #38459
@siavash-khodadadeh, I have tried to reproduce issue. But I have faced no issue in this code. For you reference link of gist is [here](https://gist.github.com/khimraj/25f451b7abaade36dd5390fdabb5a935).

[2020-04-12 12:16] khimraj commented on #38461
@dcv10, can you please share full code to reproduce issue.

[2020-04-12 12:17] ahtik commented on #33374
@acegilz It's more useful to report this issue with the OS and exact steps taken to get to this error.
`pip install tensorflow==2.2.0rc2` does work fine for both Ubuntu and Windows 10, using 64-bit Python 3.8. Output from `python -VV` can help you pinpoint the issue.

[2020-04-12 12:18] dcv10 commented on #38461
import numpy as np
import matplotlib.pyplot as mpl
from sklearn.preprocessing import scale
from TFANN import ANNR
from google.colab import files

#reads data from the file and ceates a matrix with only the dates and the prices
stock_data = np.loadtxt('NSE-TATAGLOBAL12.csv', delimiter=";", skiprows=1, usecols=(1, 6))
print(stock_data)
#scales the data to smaller values
stock_data=scale(stock_data)

[2020-04-12 12:23] mdanatg commented on #38375
It's possible that `a[i1]` returns a Tensor instead of Ragged when it can (that is when all dimensions are equal). Add a few print statements to see what you get. You can handle both by adding an `if isinstance(a1, tf.RaggedTensor):`.

[2020-04-12 12:48] acegilz commented on #35754
pip3 install tensorflow==2.1.0
ERROR: Could not find a version that satisfies the requirement tensorflow==2.1.0 (from versions: none)
ERROR: No matching distribution found for tensorflow==2.1.0

[2020-04-12 12:55] khimraj commented on #38461
@dcv10, you need tensorflow version less than 2.0 and I have successfully compiled your code and faced no issue. For your reference link of gist is [here](https://colab.research.google.com/gist/khimraj/e80cf5df026026ba6e93b3dc8947b5e2/mean.ipynb#scrollTo=ldUyF5UJb75D).

[2020-04-12 13:02] khimraj commented on #38446
@Mostalk, Which model you are using to predict these results. One possible reason can be that model is not trained on such type of zero(0 with a cross line) and trained on zero like 0.

[2020-04-12 13:05] khimraj commented on #38442
@tsharma82, This is not a tensorflow issue. Please try to post on respective [community](https://github.com/apache/spark/tree/master/python/pyspark).

[2020-04-12 13:06] seanpmorgan commented on #35754
@acegilz  , You likely need to update pip
[code]

[2020-04-12 13:10] khimraj commented on #38449
@haideralimughal,  During training, YOLO takes images of size 320×320, 352×352, … and 608×608 (with a step of 32). so you need to replace line
`image = cv2.resize(img, (416, 416), interpolation=cv2.INTER_CUBIC)`
with
`image = cv2.resize(img, (608,608), interpolation=cv2.INTER_CUBIC)`.

[2020-04-12 13:18] aeddung opened #38470 "WARNING:tensorflow:5 out of the last 5 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f70dfc46840> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings is likely due to passing python objects instead of tensors. Also, tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. Please refer to https://www.tensorflow.org/tutorials/customization/performance#python_or_tensor_args and https://www.tensorflow.org/api_docs/python/tf/function for more details."
I have a problem while trying to do prediction by using LSTM...
Here is a error code:
WARNING:tensorflow:5 out of the last 5 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f70dfc46840> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings is likely due to passing python objects instead of tensors. Also, tf.function has experiment

[2020-04-12 13:47] gowthamkpr commented on #37882
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open the issue again.

[2020-04-12 13:47] #37882 closed

[2020-04-12 13:58] laghaout opened #38471 "How can one apply an arbitrary function to a dataset?"
Is there anything similar to pandas' `.apply()` or `.map()` that could apply arbitrary functions on TensorFlow datasets in an efficient (i.e., vectorized) manner?

## Minimum working example

Consider the following code.

[code]

## Issues

`compute_length()` works fine and returns
[code]

However, commenting out `check_subsring()` returns

and commenting out `compute_palindrome()` returns

Unlike

[2020-04-12 14:00] MoyoT commented on #38225
@tanzhenyu  do you have any idea where things are going wrong?

[2020-04-12 14:40] afaq-ahmad commented on #31795
After removing these lines
# config = tf.ConfigProto()
# config.gpu_options.allow_growth = True
# session = tf.Session(config=config)

that I have tried to solve the CUBLAS_STATUS_ALLOC_FAILED error,
it running now

[2020-04-12 14:46] mlexpert commented on #38007
If I am fast enough (I did not time it, but i am talking about first 5-10 sec of code execution), I can kill it. When I stop, I get the following message:

[code]

When I wait too much time, the process completely and I have to reboot PC

[2020-04-12 14:56] mlexpert commented on #38007
Small update:
I just reinstalled everything (including Ubuntu), but the problem remains...

To sum up:
- Each of the GPUs working well using `tf.config.set_visible_devices` and ables to train correctly MNIST
- When try to use both of the GPUs simultaneously using `tf.distribute.MirroredStrategy()`
[code]
The execution stops at
[code]
And the process gets stacked. If we try to stop this process, we

[2020-04-12 15:39] netw0rkf10w opened #38473 "tf.data.Dataset.map() uses only 1 cpu"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: v2.2.0-rc1-34-ge6e5d6df2a 2.2.0-rc2
- Python version: 3.7.5
- CUDA/cuDNN version: 10.1.1/7.6.5
- GPU model and memory: GTX 1080 Ti.

**Describe the current behavior**
When checking with the `top` command during training, only 1 CPU is

[2020-04-12 15:53] sayakpaul opened #38474 "Embedding a preprocessing function inside a tf.keras model for serving"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-04-12 16:14] tonytonev commented on #36146
The fix has been merged. I think this can be closed.

[2020-04-12 16:14] rajanlagah commented on #13761
Hey i am facing same type issue
I want to feed calculated loss ( which is self.calc_loss and its value is 1.0288568 )
to
`self.sess.run(tf.compat.v1.train.AdamOptimizer().minimize(d_reward_sum))`
then it shows error

If i use placeholder

[code]

then it give error

[2020-04-12 16:18] rajanlagah commented on #13761
I also have stackoverflow question
Unable to get help
Will glad if any one can help
https://stackoverflow.com/questions/61174513/tensorflow-custom-loss-feed

[2020-04-12 16:20] MoyoT commented on #38225
Ok, if i set dynamic = True , we get two tensors as outputs to my custom layer. So i indexed the correct one and parsed it on and that seems to reslove the batchsize mismatch. but i am still geting the error Could not compute output Tensor("conv2d_34/Identity:0", shape=(1, 640, 360, 3), dtype=float32)

This is what i did in short. i took the weight matrix and rearrange the indices at each training

[2020-04-12 16:21] siavash-khodadadeh commented on #38459
@khimraj, I guess you have to update to 2.2.0-dev20200412 (tf-nightly) and then this happens.
In previous versions, this does not cause a bug.

[2020-04-12 16:26] janjongboom commented on #35070
For anyone else looking for a solution: hacked up https://github.com/edgeimpulse/tflite-find-arena-size which can be called from Node.js (or native) and calculates the arena size. The WebAssembly version seems to approximate the required memory on Cortex-M quite well.

[2020-04-12 16:27] Ceceu commented on #22644
@lifeisshubh did you find a solution? I have this same need.

[2020-04-12 16:34] khimraj commented on #38459
@siavash-khodadadeh, I have used tensorflow version 2.2.0-rc2.

[2020-04-12 16:36] forhonourlx opened #38475 "tf.train.Server E0413...SO_REUSEPORT unavailable on compiling system"
**System information**
- OS Platform and Distribution:
Linux Ubuntu 18.04.3 LTS
Node0: Linux version 5.3.0-46-generic (buildd@lcy01-amd64-013) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04))
Node1:Linux version 5.6.3-050603-generic (kernel@kathleen) (gcc version 9.3.0 (Ubuntu 9.3.0-10ubuntu1))
- TensorFlow installed from (source or
binary): 2.1.0  installed from conda
- Python version: - Anacond

[2020-04-12 16:36] 17patelumang commented on #38375
@mdanatg  I tried with following code with putting special handling for both tensor and raggedtensor but it still fails .  Is there any parent class of both tensors and ragged tensor which we can use to write loop  ?

[code]
Error

[code]

[2020-04-12 16:41] RohanUBagewadi commented on #36814
yes the issue still exists.

[2020-04-12 16:42] drpngx commented on #13761
You need to pass tensors. In the first example, it looks like you put a
numpy object. This needs to be a tensorflow object, otherwise we won't know
how to compute the gradient, because we need to keep track of the
computation that led to it. Same for the second example.

You need something like this:
[code]

On Sun, Apr 12, 2020 at 9:19 AM rajanlagah <notifications@github.com> wrote:

[2020-04-12 16:49] siavash-khodadadeh commented on #38459
@khimraj Sorry, I am not very familiar with versioning. Is rc2 newer than nightly build?

[2020-04-12 16:50] morelen17 commented on #35634
@Stigjb current behavior isn't clear at all, I agree with you. But it is not wrong. Just consider a situation: you train your model for 20 epochs, EarlyStopping callback isn't triggered and you want to continue the training process. If your *Expected behavior* was applied and the best weights were restored, then the training would continue from e.g. 15th epoch, but not from 20th as you would expec

[2020-04-12 16:57] MoyoT commented on #38225
I tried using run_eagerly = True in the models compile method, and it ran properly but with the following error, WARNING:tensorflow:Gradients do not exist for variables ['my_layer2_31/kernel:0'] when minimizing the loss.

[2020-04-12 17:01] adriangb commented on #34689
Hi everyone,

From discussion with the Keras team, it looks like #37201 may not be merged and instead the functionality may be made into a separate package that will be easier to maintain and have more flexibility. The wrappers would then be deprecated from Keras/TF. This is not final, but I created a PyPi package to test out the idea. Please take a look and let me know if this satisfies the use c

[2020-04-12 17:05] Jasperty opened #38476 "ValueError: trainable_variables cannot be None. Given None"
when i use model_fn and tf2.1，
my_head = tf.estimator.BinaryClassHead()
  return my_head.EstimatorSpec(
      features=features,
      mode=mode,
      labels=labels,
      optimizer=tf.keras.optimizers.Adam(learning_rate=learning_rate),
      logits=logits)

i get:
File "/usr/local/anaconda3/lib/python3.7/site-packages/tensorflow_estimator/python/estimator/head/base_head.py", line 278, in create_

[2020-04-12 17:14] Saduf2019 commented on #38443
@isaacgerg
i ran the code shared by you on tf-nightly and do not face any errors, please find the [gist here on cpu](https://colab.sandbox.google.com/gist/Saduf2019/b8218d19502bc2f79ee135db10290ae5/untitled135.ipynb) same [on gpu](https://colab.sandbox.google.com/gist/Saduf2019/4d22b54a5a30eb3f9c4b8e2cafe5ca37/gpu.ipynb)

[2020-04-12 17:17] Saduf2019 commented on #38449
@haideralimughal
please update as per above comment

[2020-04-12 17:19] #36146 closed

[2020-04-12 17:27] Saduf2019 commented on #38457
i am able to replicate [this issue](https://colab.sandbox.google.com/gist/Saduf2019/145f094f4cab5ef14028a050aa2c53e3/38461.ipynb)

[2020-04-12 17:29] spamming4 opened #38477 "tensorflow.python.framework.errors_impl.UnimplementedError: File system scheme 'gs' not implemented (file: 'gs://tfds-data/datasets/mnist')"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: It is an example script (for distributed training) provided in TensorFlow
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow

[2020-04-12 17:36] Saduf2019 commented on #38468
@Alankriti44
please follow [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) and below mentioned issues to resolve.

#35749 #38262 ##37906

[2020-04-12 17:37] 17patelumang commented on #38375
@mdanatg  I tried as you suggested but it still fails but now giving different error

[code]

Code :-

[code]

Changes in code
1. Added specific handling as you suggested
2. bit changed `export_input_fn`
Also why does the code fail when we replace it by placeholders ?

[2020-04-12 17:42] Saduf2019 commented on #38224
@Saran-nns
please update on the above comment

[2020-04-12 17:43] Saduf2019 commented on #38252
@fatmafarah
please update as per above comment

[2020-04-12 17:43] Saduf2019 commented on #38253
@AarshApple
Could you please update as per above comment

[2020-04-12 17:45] DanyelJei commented on #37505
Hey, I was having the same issue.
My current workaround is to save the model before deleting it and clearing the backend after each training iteration. Then I reload the model before calling fit again.
I'm no longer experiencing the memory leak with this workaround.

[2020-04-12 17:45] Saduf2019 commented on #38350
@ayushmankumar7
Glad to help, moving this issue to closed as it is resolved

[2020-04-12 17:45] #38350 closed

[2020-04-12 17:55] fcqfcq opened #38478 "[tflite] FlexAddV2"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please sha

[2020-04-12 17:57] fcqfcq commented on #38478
model_path ='converted_model_tf2.tflite'
interpreter = tf.lite.Interpreter(model_path=model_path)
interpreter.allocate_tensors()

      1 model_path ='converted_model_tf2.tflite'
      2 interpreter = tf.lite.Interpreter(model_path=model_path)
----> 3 interpreter.allocate_tensors()

/anaconda/envs/tf1.15/lib/python3.6/site-packages/tensorflow_core/lite/python/interpreter.py in allocate_tensors(sel

[2020-04-12 18:28] diggee commented on #38195
hey @amahendrakar , after some testing I have realized that this issue randomly pops up on its own after running LSTM models for sometime. Restarting my computer is the only way to stop it from crashing the kernel again and again. Just restarting Spyder does not help; I have to restart the PC itself. Maybe this issue is related to how long the kernel is continuously used for, I am not sure. Since

[2020-04-12 18:28] #38195 closed

[2020-04-12 18:46] SouradipBh commented on #38196
Ok. Thanks

[2020-04-12 18:46] #38196 closed

[2020-04-12 19:01] Saran-nns commented on #38224
@Saduf2019  I am using Tensorflow '2.2.0-rc2' : Colab;

Apparently, the error disappeared when i compile the model directly without building it.
However, i received new error while fitting the model.

Error trace:
[code]

[2020-04-12 20:02] guptapriya commented on #35404
@x7night there is a small type in the `def test_step_fn(rgb, sepc):`. So i think it is using `spec` from the `for` loop later which has `PerReplica` values (because the loop variables are in the global scope unfortunately). I think this should get fixed if you fix the typo in `test_step_fn`.

Please re-open if this is not the case.

[2020-04-12 20:02] #35404 closed

[2020-04-12 20:20] mdanatg commented on #38375
I ran the code in TF 2 where the error message is cleaner. Looks like shape invariants once more, so the outer loop needs to be rewritten for TF 1 as well. Unfortunately that makes the code quite ugly now:

[code]

[2020-04-12 20:50] 17patelumang commented on #38375
@mdanatg  thank you , wow the code is as you said quite not neat :) .  Looks like it working now .

I have a question when we tested using placeholder why it failed and not when we input specific string ?

[2020-04-12 21:25] guramritpalsaggu commented on #36814
Yes The issue is still there please try fixing it asap.

[2020-04-12 22:07] orybkin commented on #30659
@alextp note that this is not easy to implement at all. The version provided by bionicles uses much more memory than necessary to compute cdist as for pairwise distances between two sets of N and M objects in needs an array NxM. This is quadratic memory scaling, and it blows up very easily.

Imagine you had 100 images 256x256 pixels each, and you had a batch of 20 such sequences, which is fairly r

[2020-04-12 22:53] nihalb7 commented on #38219
I uninstalled everything that you say. i try to install tensorflow 1.15.0 but i got error. "couldnt find a version that satisfies the requirement tensorflow==1.15.0"
what should i do ?

[2020-04-12 23:02] mdanatg commented on #38375
Glad to hear it! That's a good question. I think in the first tests `a.nested_row_lengths()[0]` was returning a Python value, the the loop was being unrolled in Python. Unrolled loops don't have the shape restrictions of `tf.while_loop` (they just repeat the graph ops). Once you added the placeholder, the result of that became a Tensor, causing the loop to become a `tf.while_loop`, which is more r

[2020-04-12 23:02] #38375 closed

[2020-04-12 23:10] 17patelumang commented on #38412
We can close this ticket , solved in https://github.com/tensorflow/tensorflow/issues/38375

[2020-04-12 23:11] 17patelumang commented on #38435
We can closed this , https://github.com/tensorflow/tensorflow/issues/38375

[2020-04-12 23:39] JosimarReis commented on #32771
The same is happening to me.

[2020-04-13 00:18] QuantumNinja92 commented on #33870
I save the model using the below on Google Colab
`
  cp_callback = tf.keras.callbacks.ModelCheckpoint(  filepath=checkpoint_path,    verbose=1,    save_weights_only=False,  period=5)
`
`
 training_model.save(checkpoint_path.format(epoch=0))
`
Then i load the model and put it inside a class and get the summary and it works
`
model = tf.keras.models.load_model('15867364372951858/cp-0005.ckpt')
`
`
c

[2020-04-13 00:46] 17patelumang commented on #38471
1.

[code]
below is the working code , also the issue was you were using python functions not TF API to do the conversion.

To do everything more vectorized without writing python function i would recommend using vector operations.

[2020-04-13 01:01] acegilz commented on #33374
` pip3 install --upgrade pip`
Requirement already up-to-date: pip in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (20.0.2)

pip3 install tensorflow==2.1.0
ERROR: Could not find a version that satisfies the requirement tensorflow==2.1.0 (from versions: none)
ERROR: No matching distribution found for tensorflow==2.1.0

[2020-04-13 02:03] maganaluis commented on #37525
Not sure what's the issue with tensorflow 2.1, but also happened to me.

[code]

Then
[code]

[2020-04-13 02:22] cracy3m commented on #35805
I try to build r1.13 in win10 , and get the same issue.

ERROR: C:/tensorflow-build/tensorflow/tensorflow/BUILD:579:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 1): bash.exe failed: error executing command
cd C:/users/eduar/_bazel_eduar/j7bi4x5j/execroot/org_tensorflow
SET CUDA_TOOLKIT_PATH=C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0
SET CUDNN_INSTALL_PATH=C:/Pr

[2020-04-13 02:25] pritamqu commented on #32967
Hey man!! you are a lifesaver, I wasted like 2/3 days to figure out this.. then finally your trick worked.. thanks a lot.

[2020-04-13 02:53] lizhen2017 commented on #38421
I've solved this proplem.
[code]
HashTableV2、LookupTableImportV2、LookupTableFindV2 are not supported right now. I just try to implement a vocab_list_lookup op. When convert a model with a LookupTableImportV2 op, it missed in the converted tflite model.

[2020-04-13 02:57] MichaelJayW commented on #23260
Update to NDK 18 works for me. Thanks!

[2020-04-13 04:22] gadagashwini commented on #37847
@abdou31, Could you provide the complete modified code. Thanks

[2020-04-13 04:32] 17patelumang commented on #38471
@ravikyram  does my respond answer the question ? , Also is there any gist or doc i can write for this ?

[2020-04-13 04:33] 17patelumang commented on #38422
@ravikyram  can i work on this issue ? Could you please point me where to start ?

[2020-04-13 04:37] Saduf2019 commented on #38012
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-13 04:37] #38012 closed

[2020-04-13 04:45] Saduf2019 commented on #38390
@yadonskov
could you please let us know the tensorflor flow version for which you are facing this issue

[2020-04-13 04:50] Saduf2019 commented on #38435
moving to closed status as per user

[2020-04-13 04:50] #38435 closed

[2020-04-13 04:54] ravikyram commented on #37504
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-13 04:54] #37504 closed

[2020-04-13 05:04] Ashwini-prkt commented on #38426
I tried with --allow_custom_ops= True flag, and it is converting my .pb file to .tflite file also, But the issue is when I am passing that tflite file as C-byte array to the MicroInterpreter (to pass my file to tflite micro interpreter), It gives me the error about custom operation in graph which is not supported. So, I don't think here --allow_custom_flag= True operation will work. Please let me

[2020-04-13 05:06] Saduf2019 commented on #38461
@dcv10
please update as per above comment

[2020-04-13 05:12] Saduf2019 commented on #38423
@ismael-elatifi
please update as per above comment

[2020-04-13 05:18] Saduf2019 commented on #38294
@ZimmerZheng
please confirm if we may move this to closed status as it is resolved

[2020-04-13 05:24] ravikyram commented on #37430
@Expert73

Please close this thread if it solves your question. Thanks!

[2020-04-13 05:28] Saduf2019 commented on #38350
@ayushmankumar7
please confirm if i may move this to closed status as its resolved.

[2020-04-13 05:43] jz1998 opened #38482 "Install the TensorFlow-GPU and CUDA and CUDnn, but GPU not work when test."
**System information**
- OS Platform and Distribution: Win10, X64
- TensorFlow version: 1.15
- Python version: 3.5
- Installed using virtualenv? pip? conda?: pip install tensorflow_gpu-1.15.0-cp35-cp35m-win_amd64
- CUDA/cuDNN version: 10.2/7.6.5
- GPU model and memory: GTX1050

**problem details**
i use the Anaconda, the first i create a new environment which python version is 3.7 and TensorFlow-G

[2020-04-13 06:03] saikumarchalla commented on #38215
@xqiangx1991  Any updates regarding this issue? Thanks!

[2020-04-13 06:04] Saduf2019 commented on #38219
@nihalb7
please share your system information

[2020-04-13 06:04] gadagashwini commented on #38409
I was able to reproduce the issue with Tf2.2.rc2.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/3168075f641b7f19800665001d58c01f/untitled499.ipynb). Thanks!

[2020-04-13 06:05] Saduf2019 commented on #38394
@ucas010
please follow https://www.tensorflow.org/guide/gpu to know gpu's available

[2020-04-13 06:10] gadagashwini commented on #38411
@Scathos,
Did you add CUDA and cuDNN path,Please follow the instructions mentioned in the [Tensorflow](https://www.tensorflow.org/install/gpu#windows_setup) website. Thanks

[2020-04-13 06:11] lifeisshubh commented on #22644
In my case i have encode the data i have in alphanumeric form.

On Sun, 12 Apr, 2020, 9:57 pm Celso França, <notifications@github.com>
wrote:

[2020-04-13 06:16] Ashwini-prkt commented on #38426
I want to use the tflite with microinterpreter (to work for detection models on microcontrollers)

[2020-04-13 06:20] gadagashwini commented on #38415
@shivamdubey7466, Can you provide the complete code to reproduce the issue. Thanks!

[2020-04-13 06:24] zzj0402 opened #38483 "How to store tf dataset object to file?"
## URL(s) with the issue:
https://www.tensorflow.org/guide/data

## Description of issue (what needs changing):
How to store tf.dataset object to file?
For instance,
[code]
How to store the dataset1 to file?

### Clear description

For me, a saved copy of tokenized dataset saves lot of training time.
[code]
Instead of running this batching script before each training, it would be very efficient to

[2020-04-13 06:28] ayushmankumar7 commented on #38350
Yes.. It worked for me .. My problem is solved.

On Mon, Apr 13, 2020, 10:59 Saduf2019 <notifications@github.com> wrote:

[2020-04-13 06:44] noticebo commented on #38320
@jvishnuvardhan  hi did you transform checkpoint to savemodel?

reference code from Internet:

import tensorflow as tf
import sys

trained_checkpoint_prefix = sys.argv[1]
export_dir = sys.argv[2]
graph = tf.Graph()
config=tf.ConfigProto(allow_soft_placement=True, log_device_placement=True)
with tf.compat.v1.Session(graph=graph, config=config) as sess:
    # Restore from checkpoint
    loader = tf.

[2020-04-13 06:49] amahendrakar commented on #38392
Was able to reproduce the issue with [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/49d0957ae877a81a8b6feb0c40d95c76/38392.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/b5c2024a9ff99baa576a1ba97c583e04/38392-tf-nightly.ipynb). Please find the attached gist. Thanks!

![Screenshot 2020-04-13 at 11 55 51 AM](https://user-images.githubusercontent.com/5

[2020-04-13 06:49] ravikyram commented on #38465
@rlav440

Looks like code is incomplete. I am seeing the error `ModuleNotFoundError: No module named 'tensorflow_graphics'`. Please, help us with colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-13 06:49] gadagashwini commented on #38424
@Mostalk, Can you provide the complete standalone code to reproduce the issue. Thanks!

[2020-04-13 06:59] amahendrakar commented on #38392
@gggekov,
Could you please check [this comment](https://github.com/tensorflow/tensorflow/issues/38104#issuecomment-607560564) from a similar issue and let us know if it works? Thanks!

[2020-04-13 07:04] gadagashwini commented on #38428
Could able to reproduce the issue with Tf2.2rc2 and Tf2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/eb4009fce6fa8027c150363d52b51ca0/untitled500.ipynb). Thanks

[2020-04-13 07:06] Saduf2019 commented on #37989
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-13 07:06] #37989 closed

[2020-04-13 07:10] MaUt89 commented on #38018
Any updates on that issue?

[2020-04-13 07:13] yadonskov commented on #38390
@Saduf2019
I used commit 920fefa2eeffddd491845d798836a6800668ded9.
I found this when I was compiling my TFLM app with cl.exe compiler.
It's not tensorflow build problem - it's problem of TFLM usage.

[2020-04-13 07:17] ravikyram commented on #38460
@nagisa

I have tried on colab with TF version 1.14 . Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3c6d36532a13b25f923b8aae0c429e22/untitled767.ipynb  ). Is this the expected behavior? Thanks!

[2020-04-13 07:24] ravikyram commented on #38452
@naturomics

Can you please share colab  link or minimal standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-04-13 07:24] acegilz commented on #35754
pip3 install --upgrade pip
Requirement already up-to-date: pip in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (20.0.2)

pip3 install tensorflow==2.1.0
ERROR: Could not find a version that satisfies the requirement tensorflow==2.1.0 (from versions: none)
ERROR: No matching distribution found for tensorflow==2.1.0

[2020-04-13 07:30] byronyi commented on #35754
@acegilz TensorFlow 2.1 did not publish Py3.8 package on macOS. Luckily we got 2.2 soon and it should come with Py3.8 support.

[2020-04-13 07:30] ravikyram commented on #38448
@Victor-Almeida

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-04-13 07:39] #37430 closed

[2020-04-13 07:40] #37594 closed

[2020-04-13 07:55] weinixuehao commented on #26297
@impjdi
I finally located why glmapbufferrange return all zero.
GL_OES_EGL_image_external_essl3 not working with some android device
https://community.arm.com/developer/tools-software/graphics/f/discussions/9432/is-extension-gl_oes_egl_image_external_essl3-not-working-properly-in-compute-shader-on-mali-g71-gpu

[2020-04-13 08:00] amahendrakar commented on #38403
Works without issues with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/4dcad65983174e0f482251cf99f534d0/38403.ipynb). Was able to reproduce the issue with [TF v2.2.0-rc2](https://colab.research.google.com/gist/amahendrakar/230e360bfceb18658b1c800e4a7fd6f6/38403-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/65a2ce796d53b8b649918ee5bbf36cb3/38403-tf

[2020-04-13 08:10] amahendrakar commented on #38412
Closing the issue as per user's comment.

[2020-04-13 08:10] #38412 closed

[2020-04-13 08:16] amahendrakar commented on #38416
@TMaysGGS,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here along with the dataset you are using . Thanks!

[2020-04-13 08:19] amahendrakar commented on #38421
@lizhen2017,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-13 08:33] AbhinavKoul commented on #32946
same issue with me on windows 10
the following error pops up :

  File "e:/Projects/Toolkits-for-me-by-me/Convert_Tensorflow_model_to_TfLite/Tflite_converter.py", line 5, in <module>
    tflite_model = converter.convert()
  File "C:\Users\abhin\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\lite\python\lite.py", line 428, in convert
    "invalid shape '{1}'.".format(_get_

[2020-04-13 08:38] ravikyram commented on #38434
@gaebor

Can you please try with latest TF version 2.2.0-rc2 (`!pip install tensorflow==2.2-rc2`). I am not seeing any issue with 2.2.0-rc2 version. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2e70592203a49059e84011a6358a4f77/untitled768.ipynb). Thanks!

[2020-04-13 08:45] Saduf2019 commented on #38390
@yadonskov
can you please check [this link](https://github.com/tensorflow/tensorflow/pull/31847) and let us know if it would help

[2020-04-13 08:48] shivamdubey7466 commented on #38415
Hi, I hadn't initialized the global_variable_initializer() . The Mistake was from my end. Thanks for your support @gadagashwini

[2020-04-13 08:48] #38415 closed

[2020-04-13 08:48] TeilyMa opened #38485 "How to obtain the activation value of neural network in Tensorflow 2.0?"
I used a simple data set mnist to train the neural network, but I want to get the activation value (output) of the last layer of the neural network, how should I do it?

The structure of my neural network is as follows
[code]

I try to use the callback function `on_epoch_end` to do this. Use `eval()` method on `model.outputs [0]` in the `on_epoch_end` method to get the activation value. But I got

[2020-04-13 08:50] Saduf2019 commented on #38240
@wadewangpower
in that case please confirm if we may move this issue to closed status

[2020-04-13 08:51] justinmulli opened #38486 "tf/keras model.fit training accuracy doesn't match model.predict() accuracy on training data despite having only one training batch"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Mac OS Catalina
- TensorFlow installed from (source or
binary): I tried both - The issue persists regardless
- TensorFlow version (use command below):'2.1.0'
keras version '2.2.4-tf'
- Python version: 3.7.7

**Descri

[2020-04-13 08:52] Atulbargotra opened #38487 "cannot install tensorflow 1.14.0 using pip"
trying to install tensorflow==1.14.0 using pip but it is showing this error
ERROR: Could not find a version that satisfies the requirement tensorflow==1.14 (from versions: 2.2.0rc1, 2.2.0rc2)
ERROR: No matching distribution found for tensorflow==1.14

[2020-04-13 09:00] yadonskov opened #38488 "Didn't find op for builtin opcode 'QUANTIZE' version '2'"
@tensorflow/micro

**System information**
- Windows 10
- tensorflow install from pip
- tensorflow:  2.1.0
- traget platform : I run simply on windows

**Describe the problem**
I made app like one in examples and during call interpreter.AllocateTensors() I got this:
Didn't   find op for builtin opcode 'QUANTIZE' version '2'

**Please provide the exact sequence of commands/steps when you ran into th

[2020-04-13 09:05] ravikyram commented on #38418
@rogeryuchao

Can you please provide colab link or simple standalone code with proper indentation to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-13 09:05] gaebor commented on #38434
Yeah, it works with that!

[2020-04-13 09:25] lizhen2017 commented on #37844
Hi, I've tried to complie the tf 2.x source code, and pip install it，but when I run the example above, I met  no symbol AddHashtableOps.
Thanks for your help.

[2020-04-13 09:28] xueyuan1990 opened #38489 "How to explain the result of tf.map_fn?"
[code]
why o1 is [0,0]?

[2020-04-13 09:28] yadonskov opened #38490 "problem with keras.applications models if pooling != None"
@tensorflow/micro

**System information**
- Host OS Platform: Windows 10
- TensorFlow installed from pip
- Tensorflow version: 2.1.0
- Target platform: windows 10 ( I debug this way)

**Describe the problem**
I want to convert following model:
[code]
If I use If I use `pooling=None` - no problems
If I use `pooling='avg'` I got problems when compiling app with TFLM kernels:
Didn't find op for built

[2020-04-13 09:36] MoyoT commented on #38225
@tanzhenyu Please could you assist.

[2020-04-13 09:49] ac1991 opened #38491 "ERROR: Config value download_clang is not defined in any .rc file"
tensorflow：r2.2
bazel         ：2.0.0

ERROR: Config value download_clang is not defined in any .rc file

print info：
`bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so  --crosstool_top=//external:android/crosstool  --host_crosstool_top=@bazel_tools//tools/cpp:toolchain  --cpu=armeabi-v7a
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --termi

[2020-04-13 09:53] Maryammhsnv commented on #36193
How we can Uninstall tensorflow-estimator and install the compatible version?
First I had tf 2.1 but I was forced to downgrade to tf 1.15 and now I get this error with
tf estimator since it's still 2.1. Could you please help me?

[2020-04-13 09:55] Maryammhsnv commented on #36193
when I use pip install 'tensorflow-estimator<1.15.0rc0,>=1.14.0rc0' --force-reinstall
I get the following error.
The system cannot find the file specified.

[2020-04-13 09:55] laghaout commented on #38471
Thanks, I now see how one should use the TensorFlow API instead of plain Python code. That said, I'm afraid your code does not work _as is_ with TensorFlow 2.0.0 and Python 3.7.4. Below are the errors that came up

1. `AttributeError: module 'tensorflow' has no attribute 'enable_eager_execution'`
2. `AttributeError: module 'tensorflow' has no attribute 'string_split`
3. `TypeError: string_split_v2

[2020-04-13 09:57] viktor765 commented on #38353
@jvishnuvardhan That achieves precisely what I want and more, thank you. I was unaware of Model.add_loss but I think its versatility makes it the best way of defining loss functions.

Perhaps it should be more present in the Tensorflow documentation? I believe that jlh's answer here explains its case quite well: https://stackoverflow.com/questions/50063613/what-is-the-purpose-of-the-add-loss-funct

[2020-04-13 09:57] #38353 closed

[2020-04-13 10:02] saikumarchalla commented on #38414
@rodrigoruiz In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-04-13 10:02] anorak-k commented on #38349
@mdanatg I have added the change and raised a PR #38467

[2020-04-13 10:02] gadagashwini commented on #34519
@houtoms, Can you share the colab gist.

[2020-04-13 10:06] danedang commented on #23719
bazel build :hello_main
INFO: Call stack for the definition of repository 'local_config_cc' which is a cc_autoconf (rule definition at C:/users/administrator/_bazel_administrator/gtw4qbxk/external/bazel_tools/tools/cpp/cc_configure.bzl:143:15):
 - <builtin>
 - C:/users/administrator/_bazel_administrator/gtw4qbxk/external/bazel_tools/tools/cpp/cc_configure.bzl:179:5
 - /DEFAULT.WORKSPACE.SUFFIX:317

[2020-04-13 10:08] saikumarchalla commented on #38476
@Jasperty In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-04-13 10:08] danedang opened #38492 "depends on @local_config_cc//:cc-compiler-x64_windows in repository @local_config_cc which failed to fetch. no such package"
bazel build :hello_main
INFO: Call stack for the definition of repository 'local_config_cc' which is a cc_autoconf (rule definition at C:/users/administrator/_bazel_administrator/gtw4qbxk/external/bazel_tools/tools/cpp/cc_configure.bzl:143:15):
 - <builtin>
 - C:/users/administrator/_bazel_administrator/gtw4qbxk/external/bazel_tools/tools/cpp/cc_configure.bzl:179:5
 - /DEFAULT.WORKSPACE.SUFFIX:317

[2020-04-13 10:18] w19787 commented on #38463
The above code is working for normal predict case. but if we want to use pretrained vgg model to trained a noise input, it is not the solution. Actually, we expect the input tf.Variable to be trainable.  I believe in tensorflow 1.0, tf.Variable as model input can be trainable, but it seems that it is not the case in 2.0.

[2020-04-13 10:27] ravikyram commented on #38389
@PCSCI

Please, let us know which tensorflow version you are using? Also, request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose)

Also, please share simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-13 10:30] Saduf2019 commented on #38453
i am able to replicate the code shared, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/3a8f938d5bb54c5e2ce7422ab0d4c88b/38453.ipynb)

[2020-04-13 10:31] ravikyram commented on #38270
@rajaniyadav

can you please go through the [link ](https://www.tensorflow.org/guide/migrate?hl=en)and see if it helps you.Thanks!

[2020-04-13 10:32] ya-mouse commented on #37594
I have the same issue on v2.2.0-rc2, was it fixed?

[2020-04-13 10:42] gadagashwini commented on #38474
I was able to reproduce the issue with Tf 2.2rc2.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/f3a2b12faf72261fccc1367fe10450af/untitled501.ipynb). Thanks!

[2020-04-13 10:44] amahendrakar commented on #38425
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/aa3d84dc11d49f6d0625fcc51c0c6b66/38425.ipynb), [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/81dca68cbbc79f8d295cd9f127a83039/38425-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/9c90f40aae25e7c66e6835ba28d7cb9d/38425-tf-nightly.ipynb). Please fin

[2020-04-13 10:48] gadagashwini commented on #38454
Was able to replicate the issue. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/61067623ab18508db4cfd47ae7479c36/untitled502.ipynb). Thanks

[2020-04-13 10:50] lucas-hattori-costa commented on #16614
Similar ticket here: https://github.com/tensorflow/tensorflow/issues/28213

I had the same problem because my folder was named tensorflow. Check if there isn't any other file named tensorflow for you.

[2020-04-13 10:51] Expert73 commented on #37594
Антон, пошаговое решение тут
https://github.com/tensorflow/tensorflow/issues/37430

[2020-04-13 10:51] gadagashwini commented on #38458
@korr4k, Thanks for reporting this issue,
Can you share the complete code to reproduce the issue. Thanks

[2020-04-13 10:56] ravikyram commented on #38434
@gaebor

Please, close this thread as your issue got resolved. Thanks!

[2020-04-13 10:58] spamming4 commented on #38477
Why was it labeled as TF 2.1, if the built tensorflow version was 2.2?

[2020-04-13 11:04] ravikyram commented on #38492
@danedang

Which version of Tensorflow you are using. Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-04-13 11:13] gadagashwini commented on #38310
@pradeepmishra11 , This issue is not related to Tensorflow. Can you raise this issue in TFX repository. Thanks

[2020-04-13 11:14] #38487 closed

[2020-04-13 11:14] Jonasvantrap commented on #38461
I am using Tensorflow version 2.0 and I have the same error. The issue remains when using tf.compat.v1
Any idea how to fix this without downgrading tensorflow?

[2020-04-13 11:22] zijiaozeng opened #38494 "Coredump in tensorflow 1.12.0"
[code]

**System information**
- Python 2.7
- CentOS
- Tensorflow 1.12.0
- TensorFlow installed from: tensorflow-1.12.0-cp27-cp27mu-manylinux1_x86_64.whl
- GCC 4.8.5

Has anyone ever been faced with same issue?

[2020-04-13 11:25] nagisa commented on #38460
@ravikyram colab does not appear to have TensorRT as evidenced by

[code]

so it is not invoking any TensorRT code-paths at all and thus won’t be able to reproduce this issue. I believe a custom build of TF is necessary to take advantage of TensorRT at all (with `TF_NEED_TENSORRT=1` set when building).

[2020-04-13 11:26] SXKai opened #38495 "Outputs Nan of inf with auto mixed precision"
I use a three-tier full connection network to train a DQN (reinforcement learning) agent. The code like this

[code]

Then automatic mixed precision can be enabled by this

[code]

The log indicates that the mixed precision has been used

[code]

But the output of the network, q, is Nan or inf. Is this normal? I want to train a DQN agent, if the output Q-value is nan or inf, it can't choose a best

[2020-04-13 11:35] gadagashwini commented on #38272
@HarshitSheoran, Can you share the modified complete code to analyze the issue. Thanks

[2020-04-13 11:36] Saduf2019 commented on #38494
@zijiaozeng
 can you please share the code and error log faced

[2020-04-13 11:40] gadagashwini commented on #38239
@OriAlpha, Can you share the colab gist or complete code to analyze issue.Thanks

[2020-04-13 11:43] HarshitSheoran commented on #38272
Actually, I did give enough code, also, I linked to kernel to get even more information to code, okay, so you can see it as, copy the whole kernel and just change the loss to "categorical_crossentropy", that should reproduce, sorry but I can not give exact code I use to achieve my highest score in a competition.

[2020-04-13 11:44] gadagashwini commented on #38223
@hahadashi, Can you raise the new issue with all the information asked in Template. Thanks

[2020-04-13 11:48] gadagashwini commented on #38071
@noticebo, It will be difficult to trace the issue without code snippet. Can you create sample code and share with us.Thanks

[2020-04-13 11:55] ismael-elatifi commented on #38423
@jvishnuvardhan Thanks for your reply. However the model you tried in your gist is not the same as in my issue. Can you try with the same h5 file I provided ?

[2020-04-13 11:58] saikumarchalla commented on #38419
Was able to reproduce the issue.Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/1192a5fd6c38d16bedfec6f2b7c91b54/untitled17.ipynb)

[2020-04-13 12:02] yadonskov commented on #38390
@Saduf2019
it doesn't look like needed code. I just showed you compilation error with cl.exe. and a simple way to fix it. If you have better way to do it - just do it.

[2020-04-13 12:05] amahendrakar commented on #38438
Was able to reproduce the issue. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/a2f01d78a141bb2d46ecf4664ba34772/38438.ipynb). Thanks!

[2020-04-13 12:22] Saduf2019 commented on #38485
@TeilyMa
please share the complete code for us to replicate the issue faced along with the tensorflow version.

[2020-04-13 12:23] yadonskov opened #38496 "hard_swish(x) layer in TFLM app crash"
@tensorflow/micro

**System information**
- Host OS Platform: Windows 10
- TensorFlow installed from pip
- Tensorflow version 2.1.0
- Target platform: Windows 10 (I debug this way)

**Describe the problem**
I converted mobilenet_v3to .tflite -> converted to .cc using xxd -i -> compiled app with cl.exe and got nullptr exception tflite::MicroInterpreter constructor.
If I replace hard_swish(x) layer

[2020-04-13 12:34] amahendrakar commented on #38459
Was able to run the code without any issues on [TF v2.2.0-rc2](https://colab.research.google.com/gist/amahendrakar/2ad5bccc80083753db0f6657c83ef1ab/38459.ipynb).

Facing an error stating `ValueError: Both 'mean' and 'variance' must be None when is_training is True and exponential_avg_factor == 1.0.`, while running on [TF-nightly](https://colab.research.google.com/gist/amahendrakar/e85b2e37339e4c47

[2020-04-13 12:46] zijiaozeng commented on #38494
I can't find any error log in my background inference processes,  it occurred by accident, there are a  core_python_xxx file which has 3 GB I can provide,

[2020-04-13 12:47] zijiaozeng commented on #38494
I can't find any error log in my background inference processes, it occurred by accident (very rare), there are a core_python_xxx file which has 3 GB I can provide.

[2020-04-13 12:56] ashutosh1919 opened #38498 "Currently logs param is None for on_train_end() and on_test_end()"
You can see the current implementation of `fit()` ([here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training.py#L950)) and `evaluate()` ([here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training.py#L1180)) methods that the logs passed to the methods `on_train_end()` and `on_test_end()` are None which is as per the

[2020-04-13 13:04] isaacgerg commented on #38443
@Saduf2019
I updated to tf-nightly and the bug still exists.  Can you rerun in a Windows 10 environment (that's the environment I mention in the first post of where the error occurs)?

[2020-04-13 13:07] jeethu commented on #37341
@HadiSDev Run `dpkg -S <filename>` to find a package that provides the given file, and install it.
[code]

[2020-04-13 13:16] korr4k commented on #38458
Ok, I attached an archive with a simplified version of my code that still results in "IndexError: pop from empty list".
The archive is complete and you just have to run the script **train.py**.
I clearly had to adjust the datasets to make them a lot smalled but it shouldn't matter: both training and evaluation datasets have only 5 images. Both batchsize and the epochs to train are **2**

[Tmp.zip]

[2020-04-13 13:16] ya-mouse commented on #38254
How much RAM does is require? I have 32GB of RAM, this file compiles for 3 hours already. The usage by CL doesn't exceed 6 GB. System has 14 GB free.

[2020-04-13 13:20] weilaiguang commented on #32946
I have the same problem.I just try to fix the size of the input node before frozen the graph.You can use the Netron to visualize your graph file.

[2020-04-13 13:24] ashutosh1919 commented on #38483
@zzj0402, please refer to [this doc](https://www.tensorflow.org/tutorials/load_data/tfrecord#tfrecord_files_using_tfdata).

[2020-04-13 13:27] PCSCI commented on #38389
I have updated the description. Besides, I think my previous description is also simple and straightforward, as I have put the code links, which referring to the line I described.  The bug is contained in the standard distribution of TF 2.1 (w.r.t to the code release), and I could not provide the code to reproduce it, since I find the bug by reading the tensorflow code.

[2020-04-13 13:53] vduarte opened #38500 "BatchNormalization with renorm=True doesn't work with TPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Colab
- **TensorFlow version (use command below)**

[2020-04-13 14:03] amahendrakar commented on #38463
Was able to run the code without any issues with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/e15e448f640f9d02fc65668d91e757c6/38463-2-0.ipynb).

Facing an error stating `ValueError: Failed to find data adapter that can handle input: <class 'tensorflow.python.ops.resource_variable_ops.ResourceVariable'>, <class 'NoneType'>`, while running with [TF v2.1](https://colab.research.goog

[2020-04-13 14:05] sumanthratna commented on #7868
Is there a recommended way to approach Bayesian optimization without Keras? I'm currently using the TensorBoard hparams plugin but I can only do grid/random search with that.

[2020-04-13 14:06] amahendrakar commented on #38470
@aeddung,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-04-13 14:13] 17patelumang commented on #38422
@gowthamkpr  can i work on this issue ? Could you please point me where to start ?

[2020-04-13 14:14] hahadashi commented on #38223
OK，thx your response!

[2020-04-13 14:14] #38223 closed

[2020-04-13 14:16] eaaarmah commented on #38113
Hi, please are there any updates on the issue?

[2020-04-13 14:19] Saduf2019 commented on #38489
@xueyuan1990
the code shared is incomplete for us to replicate it, please share complete standalone code.

As your question is related to understanding tf.map_fn, please refer to [this link](https://stackoverflow.com/questions/45905601/how-does-tf-map-fn-work/46154051) and let us know if it helps.
[link2](https://stackoverflow.com/questions/46096767/how-to-explain-the-result-of-tf-map-fn) ,
[link3

[2020-04-13 14:28] jvishnuvardhan commented on #38423
@ismael-elatifi [Here](https://colab.research.google.com/gist/jvishnuvardhan/ba1b415602fb89381256a1fb21fde977/loading_model_in_scope.ipynb) is the gist with your model. Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-04-13 14:38] ravikyram commented on #38069
@mgmverburg

I am closing this issue since it works fine with latest releases.Please, feel free to reopen if i am mistaken.Thanks!

[2020-04-13 14:38] #38069 closed

[2020-04-13 14:42] ravikyram commented on #38026
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-13 14:42] #38026 closed

[2020-04-13 14:46] alxwdm opened #38501 "tf.estimator graph_saver.restore() error when calling train_and_evalute method"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **yes**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): **Google Colab**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: **no**
- TensorFlow installed from (source or
binary): **Provided by Colab**
- TensorFlow version (

[2020-04-13 15:00] abhilash1910 commented on #38459
Hi @siavash-khodadadeh, @khimraj  , I think  tf-nightly-2.2.0-dev20200412 is the latest build(12/04/2020) than tf-2.2.0-rc2(28/03/2020) . Generally it should not throw an error since if is_training is true  that implies whitening is done on the same input batch rather than over the moving average statistic of the set.

[2020-04-13 15:01] TMaysGGS commented on #38416
Hi, @amahendrakar ,
Thanks for your reply. The complete version of my codes is the training pnet part of a Keras ver. MTCNN in my repo [MTCNN-Keras](https://github.com/TMaysGGS/MTCNN-Keras).

The main codes are below:
[code]
If you need the complete steps, the steps are:
1. Use Data_Augmentation/00.1_WIDER_FACE_annotation_intergration.py or Data_Augmentation/00.1_wider_face_add_lm_annotation_integ

[2020-04-13 15:01] Saduf2019 commented on #38431
@adfayed
i have tried the very first code snippet shared by you and face a different error, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/9c375191d5507bf04ae9c81f7c55b1a4/untitled136.ipynb)

[2020-04-13 15:03] bhack commented on #36592
There are also a some others related features about heatmaps for keypoints/object detection tasks with heatmaps.
See https://github.com/tensorflow/addons/issues/1366 and https://github.com/tensorflow/addons/issues/1364

[2020-04-13 15:06] amahendrakar commented on #30315
@karimnosseir,
Sure, below are the links of the gist using
- TF v2.1
https://colab.research.google.com/gist/amahendrakar/5216cdcb0582cc62e6a6518ea5334e2e/2-1-template.ipynb

- TF-nightly
https://colab.research.google.com/gist/amahendrakar/14ab31228c0693ab78b78ed73f0145d0/tf-nightly.ipynb#scrollTo=ieAW-NK5iqpf

[2020-04-13 15:14] siavash-khodadadeh commented on #38459
Hello @abhilash1910, Sorry, I did not get what you mean by whitening. I checked and when training is False, there is no issue. The only problem is when is_training is True and if I understand you correctly, this is a bug and should be fixed.

[2020-04-13 15:15] 17patelumang commented on #38471
@laghaout i tried in tf 1.15.x since no version was mention in your ticket . Things are different in tf2.0 , eager execution is enabled by default.

 Also based on your code `compute_palindrome` does reversing string .

Below is code for TF 2.0

[code]

@gowthamkpr  please let me know is there any gist or doc i can write for this ?

[2020-04-13 15:31] msalvaris commented on #37376
Hey @holokai-ai did you manage to get this to work?

[2020-04-13 15:32] prateekpatelsc opened #38502 "tf-trt converted deep models int8 inference crashes"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  NO
- OS Platf

[2020-04-13 15:33] abhilash1910 commented on #38459
Hi @siavash-khodadadeh ,by whitening I mean using the mean as 0 and sd/variance as 1 before passing an input vector xi {1,2...m} through an activation unit .I think according to the implementation there is mention of a batch normalised vector value X = x-E[x]/sqrt(var(x) + epsilon) where E[x] is the expectation and epsilon is just added to prevent division by 0. There are other parameters gamma an

[2020-04-13 15:35] bhack commented on #36592
Instead If your scope it is limited to network interpretability check:
https://github.com/sicara/tf-explain
https://github.com/tensorflow/lucid

[2020-04-13 15:38] mkpisk opened #38503 "AttributeError: 'tuple' object has no attribute 'shape' error while using Google colab"
Based on research and understanding of the issue its looks to me as a bug as i tried different things suggested by other users for similar issues. but it doesn't resolve.

------------------------

### System information
Using google colab
access to the notebook: https://colab.research.google.com/drive/1sDg-5lDnUKYLQUbSkBiZsYK4ZBof3ZQZ#scrollTo=mopYecQ-eIJk&uniqifier=1

You can obtain the TensorFl

[2020-04-13 15:41] alextp commented on #30659
I believe cdist can be implemented as a composition of existing TF operations (efficient cdist amounts to a batch matmul under the hood, right?), so it can live in addons.

@rmlarsen do you know if I'm being confused here?

[2020-04-13 15:45] siavash-khodadadeh commented on #38459
@abhilash1910 Thank you for your explanation.

[2020-04-13 15:51] xunkai55 commented on #38370
Sorry, but yes the TensorImage class only supports RGB image. It's on our radar now but may not be very soon.

[2020-04-13 15:53] naturomics commented on #38452
@ravikyram
Please see this [gist](https://colab.research.google.com/drive/1IyWDGC1CFLkzlHdsBHteJxSdn-ShaX51).

[2020-04-13 15:55] xunkai55 commented on #38337
It looks like you're copying an image classification model to the object detection app, and that leads to the incompability issue.

[2020-04-13 15:57] abhilash1910 commented on #38459
Sure @siavash-khodadadeh , glad I could help.

[2020-04-13 16:03] xunkai55 commented on #38370
Please let me know if you need further help, or you want to raise a general issue on grayscale support.

[2020-04-13 16:04] adfayed commented on #38431
Please disregard (comment out) code lines number 6, 7, and 8. Like I mentioned they are only to limit GPU usage to 500 Mb.

The error you are getting is probably due to the use of Tensorflow 1.15 not Tensorflow-gpu or maybe a different index for you GPU card on your system.

[2020-04-13 16:05] keithchugg commented on #38403
For TF 2.1, it is not crashing, but it is not resetting the states in the stateful bidi models.  The results after the state-reset should be the same for the stateful and nonstateful models.  The only case that is working correctly is the when there is no initial-state-input and TF 2.2rc or tf-nightly is used.  This is consistent with my original post.  Sorry, it is a bit detailed, but here is teh

[2020-04-13 16:09] orybkin commented on #30659
I think that's right, for L2 distances a batchmul will do (but for other common distances it can be more tricky). I just wanted to note that it is rather non-trivial to implement for an average user and it would be helpful to have it since this thread seems to have concluded that the implementation is trivial.

[2020-04-13 16:35] Victor-Almeida commented on #38448
[Here](https://colab.research.google.com/drive/1KPRWaSXnIVMYw6xZf5oqqdIU2QH4p3E-)

[2020-04-13 16:56] harshithdwivedi commented on #38158
Hi @Saduf2019 any update on this?

[2020-04-13 16:56] harshithdwivedi commented on #38158
cc: @jvishnuvardhan

[2020-04-13 17:01] houtoms commented on #34519
I just changed the tf version to 2.2rc2 in the above colab link and it fails https://colab.research.google.com/drive/102xUthT3hSfyTuoX-WD3NsYASLXRboQc

[2020-04-13 17:04] lingjiekong commented on #38370
Got it and thanks for the update!

I just want to double check on the complexity of modifying the TensorImage source code to get grayscale image working to see whether it worths myself to spend time on that. Otherwise, I might simply raise a general issue on grayscale image to let you guys help resolve.

[2020-04-13 17:14] #38434 closed

[2020-04-13 17:16] jvishnuvardhan commented on #38381
@py4 Standalone code helps us to resolve the issue faster. May be you can use some public data to demonstrate the issue. I tried to mimic your issue with `tf.cast` and I don't see any issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/b79a6df14e95f8619dfae0912e16f578/untitled82.ipynb).

Can you please play with the gist and update it to reproduce your issue.

[2020-04-13 17:27] 17patelumang commented on #38438
@gowthamkpr i would like to make this change ? if you agree can you please point me to the code

[2020-04-13 17:39] qlzh727 commented on #38403
Thanks for reporting the issue. Will take a closer look.

[2020-04-13 17:40] yskale commented on #38134
I followed the guidelines, but the still not able to see the GPU's in tensorflow
![image](https://user-images.githubusercontent.com/14827177/79144066-54cf8100-7d8c-11ea-898e-b2800aeceda9.png)

[2020-04-13 17:48] kiranperveen commented on #30427
# Copyright 2015 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is dis

[2020-04-13 17:51] gunan commented on #35977
I cannot reproduce the issue you are seeing, that is why this is taking so long.

@jjhelmus do you know of any conda + bazel experts who may be able to help with this issue?

[2020-04-13 18:01] guptapriya commented on #31252
@ianferreira is it possible for you to test this again on TF nightly? (or 2.2rc) We think there was a fix that was made after 2.1 that might have fixed this issue.

[2020-04-13 18:05] karimnosseir commented on #37376
Hi @holokai-ai , @msalvaris

Quick update:
We started rolling some changes for int8 (post training quantization) support. If you tried at HEAD most of efficient-net should be accelerated.
More ops to be supported soon, also more optimizations.
Please give it a try and give us some feedback.

For the Quantization aware training,
can you explain the issues you are facing.

Thanks

[2020-04-13 18:17] gjpicker commented on #36928
close ,as GPflow instead of

[2020-04-13 18:18] gjpicker commented on #36928
close ,as GPflow instead of

[2020-04-13 18:18] #36928 closed

[2020-04-13 18:24] rodrigoruiz commented on #33924
Hi, I'm sorry to bother with this again, but is there an expected time frame for a fix?
I've been stuck because of this for a while (my masters is depending on it).

[2020-04-13 18:33] agarwal-ashish commented on #38428
As per documentation of batch_jacobian, the function requires the following:

"target: A tensor with rank 2 or higher and with shape [b, y1, ..., y_n]. target[i,...] should only depend on source[i,...]."

In your case, the dependence requirement is not met.

[2020-04-13 18:33] #38428 closed

[2020-04-13 18:39] ymodak commented on #38482
TF 1.15 supports cuda 10.0 and cudnn >=7.4 . You have to roll back to cuda 10.0
Thank you.

[2020-04-13 18:42] ckkuang commented on #38425
ParameterServerStrategy currently only works with Estimator API with eager mode disabled (this [chart](https://www.tensorflow.org/guide/distributed_training#types_of_strategies) explains what are supported now). Keras compile/fit and custom training loop support is being actively worked on (See this [RFC](https://github.com/tensorflow/community/blob/master/rfcs/20200306-single-client-parameter-ser

[2020-04-13 18:42] #38425 closed

[2020-04-13 18:42] ismael-elatifi commented on #38423
@jvishnuvardhan ok thanks, then I will wait for the TF2.2 stable version and in the meantime I won't use any context with the 2.1.
Since it works with the latest nightly, I close this issue.

[2020-04-13 18:42] #38423 closed

[2020-04-13 18:49] ashwinmurthy commented on #38312
We still dont have support from from_keras_model, you need to use the from_saved_model API

[2020-04-13 18:52] Samaritan1011001 commented on #6698
If you are using the latest tensorflow and keras. Try this from [here](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth), it worked for me:

[code]

[2020-04-13 19:06] ymodak commented on #38445
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-04-13 19:06] #38445 closed

[2020-04-13 19:09] gowthamkpr commented on #38475
@forhonourlx `tf.train.Server` doesn't exist in tensorflow 2.1 instead it is `tf.distribute.Server` as you can see [here](https://www.tensorflow.org/api_docs/python/tf/distribute/Server).

[2020-04-13 19:12] msalvaris commented on #37376
No issues in particular so far. Just wondered if there was an example to work off since the efficientnet repo doesn't have one AFAIK.

[2020-04-13 19:15] jsimsa commented on #38473
`tf.data.Dataset.map` with `num_parallel_calls` is known to execute computation in parallel and the instructions provided here are not sufficient to reproduce the issue.

Please provide a minimal example that can be used to reproduce the issue. As a side note, instead of using `top`, I recommend using `sar` to measure CPU utilization.

[2020-04-13 19:16] e-lizaveta opened #38505 "ImportError: DLL load failed: The specified module could not be found. Failed to load the native TensorFlow runtime."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pip install
- TensorFlow version: 2
- Python version: 3.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N/A
- GCC/

[2020-04-13 19:16] jsimsa commented on #38483
The answer from @ashutosh1919 is the idiomatic solution for storing a dataset in a file.

[2020-04-13 19:31] netw0rkf10w commented on #38473
@jsimsa I can certainly provide a stand-alone script for that, but just to make sure I didn't get it right:

1. In TensorFlow: `top` shows only 1 process, but `htop` shows multiple threads.
2. In PyTorch, `top` shows multiple processes for the same training.

So, I guess `tf.data.Dataset.map` also does it in parallel, but by using threads instead of different processes? Sorry if the question is st

[2020-04-13 19:50] kumaradi08 commented on #38254
I have 48 Gb RAM and I have to wait ~50 hours to get that one file compile.

[2020-04-13 19:58] constantinexisc commented on #33374
@acegilz Are you sure you are on python **3.8** and not **3.8.2**?
 `pip install tensorflow==2.2.0rc2` works on 3.8 but won't on 3.8.2 I had to add a virtual env with a plain 3.8.0 installation for it to work.

[2020-04-13 20:00] jsimsa commented on #38473
tf.data indeed uses multi-threading as it is has lower overhead compared to multi-processing.

[2020-04-13 20:01] martinwicke commented on #33374
That is very surprising. The packages for 3.8 should work for all patch
releases.

[2020-04-13 20:02] ahtik commented on #33374
@constantinexisc It should work with both 3.8 and 3.8.2. It's not clear which OS @acegilz is using, but at this point there are no python 3.8 wheels available for MacOS.

Linux and Windows should work fine, https://pypi.org/project/tensorflow/2.2.0rc2/#files

[2020-04-13 20:06] constantinexisc commented on #33374
Well that's weird. I'm on windows 10 insiders so I won't bother figuring why exactly my 3.8.2 installation didn't work with 2.2.0rc2, working fine on 3.8 now.

[2020-04-13 20:08] rakshanda22 opened #38506 "Keras Assertion Error for TPU Strategy"
I get the following assertion error at .fit() when trying to use TPU distributed strategy.

[code]
This is my code to reproduce the results:

[code]

[2020-04-13 20:09] ahtik commented on #33374
@constantinexisc Most likely the culprit is 64 vs 32 bit python version. Could you check both python binaries by running corresponding `python.exe -VV` and comparing the results? TF 2.2.0rc2 Windows wheels are only available for 64 bit Python.

[2020-04-13 20:14] constantinexisc commented on #33374
I'll be damned you are right! The 3.8.2 is the 32bit version. How did I install a 32bit python.. my eyesight needs some work. Thanks for clearing it up 😅

[2020-04-13 20:26] YLuc opened #38507 "building tfcompile.exe debug mode with Windows failed"
I want to use the debug mode tfcompile to trace into one problem that XLA/AOT cannot compile my model. But I found problem in building the debug mode tfcompile file.

I followed https://www.tensorflow.org/install/source (for windows part), installed msys2.With all nvidia drivers Cuda, cudnn installed.

Tensorflow 2.2.0 (latest on branch r2.2 on Apr 13, 2020),
Win10 Pro,
Python 3.6,
Bazel 2.0.0 (or

[2020-04-13 20:34] liuxingbaoyu opened #38508 "Tensorboard exception with non-ascii character username on windows"
When there are non-ascii characters in the user name, tensorboard will have problems.

[code]

[2020-04-13 20:38] gowthamkpr commented on #38474
@sayakpaul You are not providing the right input signature, so saving the model is not possible. The signature that you are providing `serving_model.my_serve` doesn't have any input signature or neither its a concrete function
The input signature should contain tensorinfo(name, dtype and tensor shape) but not in this case , hence the reason for your error.

[2020-04-13 20:42] gowthamkpr commented on #38471
@17patelumang You can make a colab gist of this [here](https://colab.sandbox.google.com/) and share the gist. Thanks!

[2020-04-13 20:48] ya-mouse commented on #38254
finally it was compiled, but has failed at linkage with concerns of multiple symbols definitions

[2020-04-13 20:52] hennroja commented on #38042
Could someone please verify.

The file `saved_model_aot_compile.py` is missing in my `/Python/3.7/lib/python/site-packages/tensorflow/python/tools/` folder.

It works after I copied `saved_model_aot_compile.py` from the repo directly to `/tools/saved_model_aot_compile.py`.  Somehow it was not there.

[code]

[2020-04-13 20:54] haifeng-jin commented on #38419
@saikumarchalla Thank you for the feedback!
AutoKeras is pending on this issue for the next release.
So it would be good to have an estimated timeline of resolving this issue,
so that our team can better coordinate to figure out a solution on our side.

[2020-04-13 20:55] netw0rkf10w commented on #38473
@jsimsa Thanks for the confirmation. Let me close this issue.

[2020-04-13 20:55] #38473 closed

[2020-04-13 20:58] ebrevdo commented on #38042
We think this will be solved in rc3.

On Mon, Apr 13, 2020 at 1:52 PM Rob <notifications@github.com> wrote:

[2020-04-13 21:01] jvishnuvardhan commented on #38113
@eaaarmah Can you please share a standalone code? I cannot run the shared colab. Can you please share the model and data for testing. You can use public/toy data to demonstrate the issue. Thanks!

[2020-04-13 21:01] jdlamstein commented on #37680
Hey, I think I found a workaround. If you append layers directly to the base model rather than insert the base model as a layer into your new model, it's easier to grab the layers.

When setting up the model, I had to set the input_tensor when initializing the Model.

[code]

I set up the vgg16 base model and grabbed the output of the pooling layer from block5.

[code]

Then I created a new model

[2020-04-13 21:04] gowthamkpr commented on #38463
@w19787 Can you provide a reproducible case of tensorflow 1.0 showing tf.Variable as model input can be trainable. Thanks!

[2020-04-13 21:15] abattery commented on #38397
There are some unsupported ops of GPU delegate in the instance norm graph.
https://www.tensorflow.org/lite/performance/gpu_advanced#supported_ops

[2020-04-13 21:20] abattery commented on #37844
Removed AddHashtableOps support in Python temporarily. However, you can still add this to an interpreter in C++.

[2020-04-13 21:30] jvishnuvardhan commented on #38143
@bmc2-stripe Can you verify once and close the issue if this was resolved for you. Thanks!

[2020-04-13 21:43] mdanatg commented on #38438
Note that this is already resolved at head, in TF 2.2 and tf-nightly. The only question is whether there will be a 1.16 release to include it.

[2020-04-13 21:50] mdanatg commented on #38454
This is the same as #34683.

At the moment, the only workaround is to either convert the TensorArray to Tensor before passing it as argument ore returning it, or moving the code that creates and uses the TensorArray inside the tf.function.

[2020-04-13 21:50] #38454 closed

[2020-04-13 21:52] rajanlagah commented on #21134
I do have the simmer issue
tf version 2.1

https://stackoverflow.com/questions/61197297/softmax-cross-entropy-with-logits-v2-giving-non-trainable-output
softmax_cross_entropy_with_logits_v2 is giving non trainable out put

Is it a bug ?

[2020-04-13 21:54] mdanatg commented on #38438
Update: since there will not be a TF 1.16 release, the only solution is to upgrade to TF 2.2 or newer.

[2020-04-13 21:54] #38438 closed

[2020-04-13 22:04] jmattdale opened #38510 "Cannot find dependencies to use in bazel BUILD to compile tensorflow lite"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-04-13 22:04] agarwal-ashish commented on #30659
One related question is if XLA could fuse reductions with cwise operations to avoid the blowup of memory.

[2020-04-13 22:07] impjdi commented on #26297
Ah, thanks for the update and sharing!

[2020-04-13 22:08] 17patelumang commented on #38471
@gowthamkpr this is the gist - [gist](https://colab.research.google.com/drive/1gExuU2sCs6OeHtexI22srN7gAti9C9c4#scrollTo=8TvMWDmhlcSY)

[2020-04-13 22:11] impjdi commented on #28968
commit 8eaea75c6d89239e88c8c4b0a0077cba5c519ef2 should guard this issue.  There will be a proper fix, but for now, this should make your network not crash anymore.

[2020-04-13 22:17] MoyoT commented on #38225
https://colab.research.google.com/drive/1XMmeyIMgwPSizFaKyGYb58IOrFLTEQW9

I managed to fix the above problem. i was making new variables that werent being trained on with tf.variable. Now i only have the following bug: ValueError: The inner -398 dimensions of output.shape=[?,?] must match the inner 1 dimensions of updates.shape=[?,400]: Shapes must be equal rank, but are 0 and 1 for 'my_layer2_20

[2020-04-13 22:51] ccrusius commented on #37731
The results I get on my desktop are different, reproducible with TensorFlow 2.x (TF=TensorFlow result, SP=scipy result):

[code]

[2020-04-13 22:56] e-lizaveta commented on #38505
I updated my PATH variable - it didn't help.

[2020-04-13 22:57] jvishnuvardhan commented on #38158
@harshithdwivedi I suspect dynamic batching was not implemented in TF1.x. Can you please try `TF2.x`?. While converting the model, define the shape as `[None,512,512,3]` and convert the model to tflite model and test the converted model with interpreter. Check [this](https://github.com/tensorflow/tensorflow/issues/38036) issue which is similar to you. Thanks!

[2020-04-13 23:06] av8ramit commented on #38505
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-04-13 23:06] #38505 closed

[2020-04-13 23:08] av8ramit commented on #37981
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-04-13 23:10] av8ramit commented on #37981
Sorry accidentally closed. Have you tried installing the MSVC 2019 redistributable?

[2020-04-13 23:18] saadbawi commented on #6647
Pls, I have write the simple code and I faced some problem

import tensorflow as tf
mnist = tf.keras.datasets.mnist

(x_train, y_train),(x_test, y_test) = mnist.load_data()

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(10, activation=tf.n

[2020-04-13 23:24] rmlarsen commented on #37731
@charmasaur please do not rely on binary equality for floating point data. The math functions in the standard library typically only gives guarantees to be with a few ulps (units in the last place). Within that bound, libraries should be free to make different implementation choices to  make the best accuracy/speed trade-off for the underlying hardware.

[2020-04-13 23:24] #37731 closed

[2020-04-13 23:28] charmasaur commented on #37731
Makes sense, thanks!

[2020-04-13 23:44] goyalankit opened #38511 "RuntimeError while trying to run with Parameter Server Strategy in Eager mode"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): **RHEL 7**
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): **2.0, 2.1**

**Describe the current behavior**
The model fails to instantiate and fails with the following erro

[2020-04-13 23:45] 17patelumang commented on #38375
@mdanatg  we are using `range(len(b2)):` , does len(b2)  need to  be changed to tf api ?

[2020-04-14 00:19] dfalbel opened #38512 "Keras Callbacks `params` API change"
In the current nightly there were changes to the `params` attribute in the Callbacks that is affecting custom callbacks code.

**System information**
- Yes
- Colab

**Describe the current behavior**

The minimal example is:

[code]

With current 2.2-rc3 we see:

[code]

**Describe the expected behavior**

The expected behavior is a dict with the following parameters:

[code]

Here are colab links

[2020-04-14 00:26] ashwinmurthy commented on #38312
Looking at the output you shared, the
converter = tf.lite.TFLiteConverter.from_saved_model("D:\keras_lstm")

seems to be successful. Since we print the tf version corresponding to:
print(tf.__version__)

Can you remove below:
converter = tf.lite.TFLiteConverter.from_keras_model(model)

and just verify the output of the converted tflite model from from_saved_model call?

[2020-04-14 00:50] #38240 closed

[2020-04-14 00:56] DOCgould opened #38513 "Tflite GPU Delegate for Jetson TK1 Platform 32bit K1 GPU"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):

v2.1.0

- Are you willing to contribute it (Yes/No):

yes

[2020-04-14 01:13] tensorflowbutler commented on #37979
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-14 01:14] forhonourlx commented on #38475
Hi @gowthamkpr ,
I have already blocked with `tf.disable_v2_behavior()`
Even if I use V2 api`server = tf.distribute.Server(cluster_def, job_name='worker', task_index=1)`, I still get the same error on the later joined node:
[code]

[2020-04-14 01:15] goyalankit opened #38514 "tf.keras.callbacks.ModelCheckpoint fails in distributed Parameter Server Strategy"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux RHEL 7
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.1

**Describe the current behavior**
`tf.keras.callbacks.ModelCheckpoint` callback fails to save the model if t

[2020-04-14 01:16] alanpurple opened #38515 "macosx py38 invalid wheel"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macosx 10.15.4
- Mobile device

[2020-04-14 01:44] mdanatg commented on #38375
Only if it gives an error. len(b2) works if b2 is a Tensor, but currently fails if it's a RaggedTensor. Working to support both.

[2020-04-14 01:48] #36909 closed

[2020-04-14 01:51] lizhen2017 commented on #37844
Would you please show me a demo? Thank you very much!

[2020-04-14 02:12] phemmer opened #38516 "Cannot use set_visible_devices with mixed_precision"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): kind of. Combination of 2 example scripts
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux - Fedora 31
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or
binary): source
- TensorF

[2020-04-14 02:42] ac1991 commented on #38491
I configured in./configure：
`Do you wish to download a fresh release of clang? (Experimental) [y/N]: N
Clang will not be downloaded.
`

The above errors will not be reported again.
I'm going to close this down

[2020-04-14 02:46] TeilyMa commented on #38485
@Saduf2019 Thank you for your attention. I have solved the problem.

[2020-04-14 02:46] #38485 closed

[2020-04-14 02:52] freedomtan commented on #38426
Then either add the `TFLite_Detection_PostProcess` to you interpreter or cut those ops when generating frozen graph (and implement them yourself).

[2020-04-14 02:59] tz301 opened #38517 "mkl-dnn sha256sum not match since two available link has different sha256sum"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Utuntu 18.04
- Mobile device (

[2020-04-14 03:03] edloper commented on #38438
As mentioned above, this already works in TF 2.2.  But for either version of TensorFlow, this can probably be rewritten to be simpler & more efficient.  As far as I can tell, the basic operation of "tile_nd_ragged2" is:

*given ragged tensors `a` and `b` with matching shapes in the first two dimensions (i.e., `a.row_lengths==b.row_lengths`), repeat each `a[i][j]` value `len(b[i][j])` times.*

Here

[2020-04-14 03:13] r-wheeler commented on #25299
Bump. This issue makes training on multiple objectives / multiple loss functions rather difficult when y is multiple targets managed by python dictionaries.

[2020-04-14 03:16] zrct0 commented on #38312
I'm sorry I made a mistake.
But it also don't work.
[code]

[code]

[2020-04-14 03:28] LoveMIssY opened #38518 "InvalidArgumentError: assertion failed: [0] [Op:Assert] name: EagerVariableNameReuse"
when i use tensorflow2.1 .I trained my model custom,yesterday，the code can run correctly. But torday is error, I debug my code , I found this code is error ,
[code]
but this code is actually correct,
Now I assert a variable using this in jupyter notebook, it's wrong !
the error is :
[code]
 who can tell me the reason and some solutions,thanks.

the whole code is:
[code]

the error is :

[code]

th

[2020-04-14 03:29] 17patelumang commented on #38375
@mdanatg  thank you , what to use for RaggedTensor ?

[2020-04-14 03:40] khimraj commented on #38486
@justinmulli, when you use `fit`, at each batch of the training data the weights are updated. The accuracy value returned by the `fit` method is not the mean of the accuracy of the final model, but the mean of the accuracy of all slightly different models used on each batch.
On the other hand, when you use `predict`, the same model is used on the whole dataset. And this model actually doesn't even

[2020-04-14 03:45] mdanatg commented on #38375
b2.nrows() should work.

[2020-04-14 03:49] mdanatg commented on #38375
That said, check out the comment on #38412 for a simpler solution that users some special tricks from RaggedTensors.

[2020-04-14 03:58] ravikyram commented on #37979
@Axelsalamartin

Any update on this issue please. Thanks!

[2020-04-14 04:28] ravikyram commented on #38517
@tz301

Request you to provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-04-14 04:37] 17patelumang commented on #38375
@mdaley which comment i should look at ? I only opened this 38412 ticket :) ?

[2020-04-14 04:43] khimraj commented on #38516
@phemmer, I have run this code on google colab GPU but i don't found any issue.

[2020-04-14 04:49] phemmer commented on #38516
And google collab gives you multiple GPUs? I don't know what this will do if you only have 1 GPU

[2020-04-14 04:51] khimraj commented on #38503
@mkpisk, can you please share full code to reproduce issue as i have not access to your colab file.

[2020-04-14 05:30] butterfly-coder commented on #34280
Hello, all.
ExtractImagePatches op was added to tensorflow lite(flex) whitelist.
https://github.com/tensorflow/tensorflow/commit/7b180f700755b0a3fc0eb9de349f7caacc422d2d

[2020-04-14 05:30] bersbersbers commented on #35783
Still an issue with `tensorflow==2.2.0rc3`, just in case anyone is wondering.

[2020-04-14 05:44] tz301 commented on #38517
@ravikyram

Our project using tensorflow as dependency. When we use "bazel build //project_name:module", it fails on mkl-dnn sha256sum check. We have solved this problem by adding mkl-dnn lines the same as that in tensorflow/workspace.bzl but manually change the strip-prefix and sha256sum in our workspace.

But I think it should be a bug, since the two urls for mkl-dnn have different sha256sum, it

[2020-04-14 05:51] k-w-w commented on #38396
Hi Anjali, can you take a look? The model appears to have a distribution strategy (`m2._distribution_strategy` = mirrored stratetgy), and the variables are mirrored, so I'm not sure why the model isn't utilizing the GPU.

[2020-04-14 05:52] rlav440 commented on #38465
@ravikyram
That's the tensorflow graphics api from:
https://github.com/tensorflow/graphics - a newer API for tensorflow.
Please note I build that by pulling from source (git link above) as there is currently a bug in the released pypi repository ver.

As I mentioned above, the model does save without the tensorflow graphics API components(I've raised an issue on that repository as well) but it sti

[2020-04-14 05:54] k-w-w commented on #38420
Hmm, it's hard to say from the results alone. Is there some randomization being applied in the signature (e.g. dropout)? Are you able to post code that produced the SavedModel?

[2020-04-14 05:57] fesun opened #38519 "ClusterSpec propagation propagates "localhost" to remote"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): CentOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source orbinary): source
- TensorFlow version (use command below): latest master
- Py

[2020-04-14 05:59] k-w-w commented on #33870
@QuantumNinja92  When loading checkpoints, you should call `model.load_weights` instead of `tf.keras.models.load_model`.

[2020-04-14 06:06] ravikyram commented on #38513
@DOCgould

 Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-04-14 06:12] ravikyram commented on #38508
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose). Please, provide simple standalone code to reproduce the issue reported here.It helps us in localizing the issue faster. Thanks!

[2020-04-14 06:12] ashwinmurthy commented on #38312
We confirmed that there is an issue with using the stateful keras layer. We are investigating the fix.

Can you try this without stateful? So, in TFLite the LSTM is always stateful by default

[2020-04-14 06:26] jackyesf commented on #38217
I tracing in traing the LSTM layers is tensorflow.python.keras.layers.recurrent_v2.LSTM

network.py,888  _run_internal_graph False <tensorflow.python.keras.layers.recurrent_v2.LSTM object at 0x000001B05E6BC518>

but after save the model and reload it ,I found the LSTM layers changed to ensorflow.python.keras.layers.recurrent.LSTM

model = tf.keras.models.load_model('.\\Models\\LSTM-RAdam-batchsize

[2020-04-14 06:37] gadagashwini commented on #38495
@SXKai, Can you share the complete standalone code to reproduce the issue and also provide the Tensorflow version. Thanks

[2020-04-14 06:42] Saduf2019 commented on #38518
@LoveMIssY
please share standalone code for us to replicate the issue faced

[2020-04-14 06:45] tarrade commented on #38042
for me this is now working with 2.2.0-rc3. Thanks

[2020-04-14 07:03] navneet-applify commented on #29845
Can you please share the solution
i'm trying to build .pb file from terminal in Ubuntu.

And i'm facing the error
ImportError: No module named 'numpy'

[2020-04-14 07:08] ravikyram commented on #38448
@Victor-Almeida

Will it be possible to share dataset to reproduce the issue in our environment. Thanks!

[2020-04-14 07:09] navi63 commented on #29845
hi @ayushmankumar7

I'm trying to genrate .pb file from terminal in ubuntu.

And i'm geting the same error i.e : ImportError: No module named 'numpy'

Let me know what can i do to resolve this?

[2020-04-14 07:20] gadagashwini commented on #38501
@alxwdm, I tried to replicate the issue but getting different error, please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/b00e3863ed74ffc604f2f3598632532b/untitled503.ipynb) and help us to reproduce the issue. Thanks

[2020-04-14 07:24] saikumarchalla commented on #35494
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 07:24] #35494 closed

[2020-04-14 07:29] gadagashwini commented on #38506
@rakshanda22, Please provide the Tensorflow version that you are using. Thanks

[2020-04-14 07:40] colourful-tree opened #38520 "MonitoredTrainingSession/Parameter server with large embedding table"
i want to train a model with MonitoredTrainingSession, and here is a large embedding table(K*D, K is almost 100 millions, D is 16), and i have to put the tensor(embedding_table) to one parameter server(ps.0), which will make a bottleneck.

So, i want to know is there any method to solve this problem. For example, put the large embedding table to be parted and each PS have one of them.

[2020-04-14 07:45] DOCgould commented on #38513
Hi @ravikyram,

There are a few devices which use the tk1 processor,
Pulling from the elinux website:

Jetson TK1 development board,[86] Nvidia Shield Tablet,[87] Acer Chromebook 13,[88] HP Chromebook 14 G3,[89] Lenovo ThinkVision 28, Xiaomi MiPad,[90] Snail Games
OBox, UTStarcom MC8718, Google Project Tango tablet,[91] Apalis TK1 System on Module,[92] Fuze Tomahawk F1,[93] JXD Singularity S192[94

[2020-04-14 07:50] JustinWick commented on #33092
Multiple teams I work with at my employer require the C API, either to use in a native project, or for the Java API. We are also all wondering when the C API support will be added to TF 2.x. I've been unable to find out where this status information is kept.

Does anyone know what's broken, or what's holding this up? Are there any concrete plans on fixing those issues? I don't mind compiling mysel

[2020-04-14 07:51] B0yma opened #38521 "Installation on Android with armv8"
**System information**
- Xiaomi Redmi 5 plus, Redmi Note 8 Pro, Samsung Galaxy A50

i m clone just now project from https://github.com/tensorflow/examples/tree/master/lite/examples/speech_commands/android
build and tried install to the phones and at the end of insall i m getting error - "App not Installed"

[2020-04-14 07:52] sayakpaul commented on #38474
@gowthamkpr could you provide a minimal working example?

[2020-04-14 07:59] ravikyram commented on #38452
I have tried on colab with TF version 2.1.0 , 2.2-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/6662f97163c2735f11707f9d4743af02/untitled769.ipynb). Thanks!

[2020-04-14 08:01] SXKai commented on #38495
Thanks. The tensorflow version I used is v1.15. I used the code from [https://github.com/yukezhu/tensorflow-reinforce](url). And I replace run_dqn_cartpole.py like following
[code]
It can be ran by `python run_dqn_cartpole.py`.

This setting will result in Nan or inf. But I changed the initializer method of network weights ang bias as follows
[code]
This can work and will not output Nan of inf. I

[2020-04-14 08:08] meteorcloudy commented on #37748
As @khaled-besrour pointed out, the problem comes from:
https://github.com/tensorflow/tensorflow/blob/242129341e19afab300558df319a9e5e523b8092/third_party/gpus/cuda_configure.bzl#L606

We should quote the python_bin str in the command passed to `system` function.
`system('"%s" script.py %s');`

[2020-04-14 08:15] happypycode opened #38522 "When imports tensorflow, there is an error."
[code]
How can I fix the ploblem? Can you fix it?I'm using the newest version of tensorflow, 2.2.0rc3.

[2020-04-14 08:17] amahendrakar commented on #38215
@xqiangx1991,
Could you please check [this comment](https://github.com/tensorflow/tensorflow/issues/33308#issuecomment-542565633) from a similar issue and let us know if it works? Thanks!

[2020-04-14 08:25] alxwdm commented on #38501
@gadagashwini: I had to add a call to `get_model = get_model_fn()` after `def get_model_fn(): [...]` (sorry, this piece of code is a little confusing). Now the error as described above should appear.

In the meantime, I have looked around and I have something interesting. The file `estimator.py` in Colab (`/usr/local/lib/python3.6/dist-packages/tensorflow_estimator/python/estimator/estimator.py`)

[2020-04-14 08:25] zhedongzheng commented on #32943
Please support TF2 in Java

[2020-04-14 08:29] tastyminerals commented on #32943
We have been using java API to implement our first prototype back ago when TF was 1.10 and then kept slowly moving ahead until 1.14.0 version. Now, we'd like to upgrade the old code to 2.0 but having no official support or response for 2.0 is quite discouraging. Having no roadmap is even worse because we cannot plan anything. We also cannot wait until the nobody knows when.

We started switching t

[2020-04-14 08:33] ayushmankumar7 commented on #29845
@navi63  Sure....

See first tensorflow has considered for both Python3 and Python2 .. so make sure that you have nump installed in both the versions . This error will be solved

[2020-04-14 08:33] rakeshmothukuru1 opened #38523 "https://www.tensorflow.org/api_docs/python/tf/saved_model/tag_constants is broken"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/saved_model/tag_constants

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tfx/serving/serving_basic#train_and_export_tensorflow_model

## Description of issue (what needs changing):
In the explanation corresponding to **`tags`** in [this link](https://www.tensorflow.org/tfx/serving/se

[2020-04-14 08:34] saikumarchalla commented on #38446
@Mostalk In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-04-14 08:35] maziyarpanahi commented on #32943
Hi @tastyminerals
How are you using PyTorch in Java? Is this a native support for Java by PyTorch that is cross-platform like TensorFlow in Java?

[2020-04-14 08:36] amahendrakar commented on #38430
@jgciudad,
There are a few undefined variables like `efn.preprocess_input` and `path` used in the given code.

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-04-14 08:42] OriAlpha commented on #38239
i think found the issue, thanks

[2020-04-14 08:42] #38239 closed

[2020-04-14 08:44] tastyminerals commented on #32943
There is none.
We just spawn new Python services for every model. This works for us because we also have Python based system API that talks to these services. It is just more work of course. With older model it's a bit tricky since it depends on custom Java packages which we didn't port. This is the only thing that stops us from the switch tbo.

[2020-04-14 08:47] saikumarchalla commented on #35267
@tomwphillips Closing this issue as it was the expected behavior. Please feel free to re-open the issue if you have any concerns still. Thanks!

[2020-04-14 08:47] #35267 closed

[2020-04-14 08:51] jackyesf commented on #38217
https://www.tensorflow.org/guide/keras/save_and_serialize?hl=zh_cn#saving_subclassed_models
Part II: Saving and Loading of Subclassed Models
model.save('path_to_my_model',save_format='tf')
even i follow the instructon on the guide ,still got the same problem

[2020-04-14 08:55] tastyminerals commented on #32943
There is[ this repo ](https://github.com/tensorflow/java)which I suspect has something to do with TF2.0 support.

[2020-04-14 09:00] saikumarchalla commented on #31408
Both numbers are correct to within 1 ulp (unit in last place). The inconsistency is due to the difference between the vectorized and scalar path in the underlying Eigen code. In short, please don't rely on exact equality of floating point numbers.

Closing this issue as it was the intended behavior. Please feel free to reopen the issue if you still have a concern. Thanks!

[2020-04-14 09:00] #31408 closed

[2020-04-14 09:03] maziyarpanahi commented on #32943
Yes, I've been following that repo and it is a new Java for TF (or TF 2.x) with support for training and lots of other stuff. It is in an early stage and as fast as the Python side is going forward with new releases, I expected to have at least one Java release for 2.0 before moving entirely to the new APIs.
I guess it's easier to create a new Java project from scratch for TF 2.x than trying to fi

[2020-04-14 09:04] freddan80 commented on #38496
Hi @amahendrakar ! Have you had a look at this PR: https://github.com/tensorflow/tensorflow/pull/37641
It may help you.

Cheers!
Fredrik

[2020-04-14 09:10] Andreas5739738 commented on #38078
I think the common use case of ignore_errors is to be robust towards things like some examples not conforming to assumptions, or random data access errors/corruption occuring when loading from unreliable distributed storage systems. You don't want to kill training in such a case. But you also don't want to be oblivious of any such things occuring during training. Ideal would be to store metrics of

[2020-04-14 09:17] holokai-ai commented on #37376
Thank you for the update on post-training quantization Karim.   Will give
it a try this week.

I got side tracked with another task, but I'm still struggling with TF2
Quantization Aware Training
<https://blog.tensorflow.org/2020/04/quantization-aware-training-with-tensorflow-model-optimization-toolkit.html>
on my own TF2 Keras model.   One of the problems is BatchNormalization,
which is used a lot

[2020-04-14 09:17] amahendrakar commented on #38502
@prateekpatelsc,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-04-14 09:24] JonasRSV opened #38524 "problem with nested tf.function in tensorflow 2"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):

- OS Platform

[2020-04-14 09:24] marimomo00 opened #38525 "ERROR: C:/users/alex/_bazel_alex/xv6zejqw/external/flatbuffers/src/BUILD:40:1: C++ compilation of rule '@flatbuffers//src:flatc' failed (Exit -1)."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-04-14 09:27] justinmulli commented on #38486
Ok so I shouldn't be getting the accuracy displayed in the last epoch, but I get 0.33333 accuracy using predict() no matter how many epochs I train it for, so something is wrong. the past 50 epochs did not have an accuracy of 0.3333333 - model.predict always predicts the same class and gets 0.333333 accuracy no matter when it is stopped or what the training accuracy is.

[2020-04-14 09:38] A12-RUI opened #38526 "ModuleNotFoundError: No module named 'tensorflow.python._pywrap_tfe',how to due with it?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-04-14 09:39] prateekpatelsc commented on #38502
@amahendrakar : unfortunately the code is confidential and private to snap . don't think would be able to share those.

[2020-04-14 09:43] Saduf2019 commented on #38522
@happypycode
can please tell us know how did you install the tensorflow, did you follow [this link](https://www.tensorflow.org/install/source_windows)

[2020-04-14 09:48] happypycode commented on #38522
Yes. I install tensorflow using pip:
[code]
and got this error. I do this:
[code]
But when I imports tensorflow, the same! How can I do?

[2020-04-14 09:51] amahendrakar commented on #38502
@prateekpatelsc,
Is it possible to share a minimal code sample to replicate the error you are facing? Thanks!

[2020-04-14 09:52] happypycode commented on #38522
Hey! Just at this moment, I fixed up how to do it:
[code]
However, this error was solved, but I still wonder about how does this error raise?

[2020-04-14 09:53] Saduf2019 commented on #38526
@A12-RUI
can you please share the tensorflow version and simple stand alone code for us to replicate the issue faced.

As per error, refer to these issues: [link1](https://github.com/tensorflow/tensorflow/issues/9469) [link2](https://github.com/tensorflow/tensorflow/issues/7623#issuecomment-280704672) [link3](https://github.com/tensorflow/tensorflow/issues/8385) [link4](https://github.com/tensorfl

[2020-04-14 09:59] Saduf2019 commented on #38431
@adfayed
with nightly and gpu, the error faced is as per [this gist](https://colab.sandbox.google.com/gist/Saduf2019/5ce4ddd36cb0cfc023f2c683f88e29c6/38431.ipynb)

[2020-04-14 10:03] liuxingbaoyu commented on #38508
WIN10
tf-nightly-gpu

model.fit(callbacks=[keras.callbacks.TensorBoard()])

[2020-04-14 10:06] ravikyram commented on #38508
@liuxingbaoyu

Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-14 10:09] prateekpatelsc commented on #38502
[code]

This is 4 lines of code that i use to take my original graph def and convert it to tf-trt optimized graph for precision mode int8 .
the conversion works fine. During inference it takes huge time and then the above stacktrace,
NOTE : if i use precision mode fp32 or fp16 , things work completely fine.
i have been running this tesla t4 and v100 gpu

[2020-04-14 10:10] AngelPone opened #38528 "tf.function does not transform nested class methods"
System information

Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): true
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): OSX 10.14.5
TensorFlow installed from (source or
binary): pip
TensorFlow version (use command below): v2.1.0
Describe the current behavior
When trying to  call a tf.function decorated class method, it raises an OperatorNot

[2020-04-14 10:11] adfayed commented on #38431
Did you try commenting that out? That is totally beside the point. Please comment out those lines I get the same error with them commented out.

[2020-04-14 10:12] liuxingbaoyu commented on #38508
Any code that uses `model.fit(callbacks = [keras.callbacks.TensorBoard()])` can be reproduced

[2020-04-14 10:25] zrss commented on #38096
/cc

[2020-04-14 10:26] rajanlagah commented on #21134
OK for any body here struggling. I was not giving 1 of 2 arguments to `softmax_cross_entropy_with_logits_v2`  which was the output of NN.
Hope this will help

[2020-04-14 10:34] harshithdwivedi commented on #38158
Hey @jvishnuvardhan thanks for the reply.

I'm getting this model from Cloud AutoML object detection so it's already in tflite format.
I doubt if it's possible to reconvert a tflite model.

I tried TF2.0 but I keep getting the same error.
I also tried to set the shape as [None, 512, 512, 3] from python code but it fails to accept that as a valid size:

[code]

My Python code:

[code]

[2020-04-14 10:36] amalik2205 commented on #22512
This fixed it for me:
Windows 7 or later (64-bit) (Python 3 only)
Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019

[2020-04-14 10:46] RunnerZhong opened #38529 "TFLite_Convertor cannot convert atrous_conv PB to tflite file"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-04-14 10:50] phamdanglam commented on #3986
Hi all,
In my network, I make name of node with 'name = 'prob' as code below

self.prob_output_layer = tf.nn.softmax(self.output_layer, name='prob')

--> and we expect that node name should be 'prob'

But we need to check the file.pb

node {
  name: "dnn_01/Softmax"
  op: "Softmax"
  input: "dnn_01/fully_layer03/fully_layer03/Add_1"
  device: "/device:GPU:0"
  attr {
    key: "T"
    value {

[2020-04-14 10:57] navi63 commented on #29845
@ayushmankumar7 thanks it works
may i know if you have any info regarding converting .pb file to tflite file?

[2020-04-14 11:00] navi63 commented on #34405
@vinayapathak Hi
can you help me to solve this
i want to replace my files in this block of lines
image_path = tf.keras.utils.get_file(
      'flower_photos',
      'https://storage.googleapis.com/download.tensorflow.org/example_images/flower_photos.tgz',
      untar=True)

[2020-04-14 11:03] amahendrakar commented on #38507
@YLuc,
Could you please provide the exact sequence of commands / steps that you executed before running into the problem? Thanks!

[2020-04-14 11:19] Saduf2019 commented on #38522
@happypycode
as the issue is resolved can we move this to resolved status.

[2020-04-14 11:23] SMatusik opened #38532 "TensorFlow Object Detection API with Keras model"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
exampl

[2020-04-14 11:30] Saduf2019 commented on #38494
@zijiaozeng
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-04-14 11:34] amahendrakar commented on #38502
@prateekpatelsc,
On running the above code, I'm facing an error stating `NameError: name 'frozen_graph' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/432e0c5cda019795e3fd8e2a1ca6eaf8/38502.ipynb). Thanks!

[2020-04-14 11:50] Saduf2019 commented on #38224
i am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/d5a4ec5a134db77080734fb355ce50f0/38224.ipynb)

[2020-04-14 11:53] Novarizark commented on #30388
Same.
CUDA 10.1
CuDNN 7.6
Tensorflow 2.1.0

[2020-04-14 11:56] gadagashwini commented on #38100
@py4, Were you able to resolve this issue.?

[2020-04-14 11:58] amahendrakar commented on #38512
Was able to reproduce the issue with [TF v2.2.0rc3](https://colab.research.google.com/gist/amahendrakar/c9d0d40e38c4c9f7adf7dcdd26af82ec/38512-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/e57fab07562fb0d93ca863af79d44ff1/38512-tf-nightly.ipynb). Works as expected with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/4d7d6b85c7f0614c9222770c910c0762/3

[2020-04-14 12:01] mdanatg commented on #38375
Oops, wrong link - updated.

[2020-04-14 12:11] gadagashwini commented on #38233
@phuongchi911, After installing segmentation-models still it is giving `no module named 'segmentation_models'`. Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/3e94edfb9e87d78e7165272011bab509/untitled498.ipynb). Thanks

[2020-04-14 12:14] gadagashwini commented on #38189
@wujiexiaowugui, Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/e131278e0fbf20345d4c026bf155a28b/untitled504.ipynb) and confirm the issue. Thanks

[2020-04-14 12:17] jgciudad commented on #38430
@amahendrakar
Hi! I updated the code in Colab declaring `path` and `efn.preprocess_input`. I think I'm not allowed to share the dataset, but it's composed of 25331 images of 9 different categories. I've printed a sample of the dataframe in Colab so you can see its structure. All the images referred in the dataframe are in `path`. I hope is enough with that, thanks!

[2020-04-14 12:20] gadagashwini commented on #38261
@plaffitte, I tried reproducing the issue with above code but code is not properly intended , please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/2ce9d58b6da0ebae4ce7dd61fe731a20/untitled505.ipynb) and provide more information. Thanks

[2020-04-14 12:21] gadagashwini commented on #38265
@bewithme, Can you update for the above comment.

[2020-04-14 12:22] liuxingbaoyu commented on #38508
https://sourcegraph.com/github.com/tensorflow/tensorflow@b97c90c87fc433140bae47d93521a3b795645c12/-/blob/tensorflow/core/platform/windows/port.cc#L46:9

[2020-04-14 12:26] YLuc commented on #38507
Sure. I edited the ticket as the following. Thanks for respond.

I want to use the debug mode tfcompile to trace into one problem that
XLA/AOT cannot compile my model. But I found problem in building the debug
mode tfcompile file.

I followed https://www.tensorflow.org/install/source (for windows part),
installed msys2.With all nvidia drivers Cuda, cudnn installed.

Tensorflow 2.2.0 (latest on bra

[2020-04-14 12:26] Sicongzai opened #38534 "Longer latency after both post quantization and aware-quantization training"
**System information**

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.4
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
TensorFlow installed from (source or binary): source
TensorFlow version: 1.15.2
Python version: 3.7.7
Installed using virtualenv? pip? conda?: pip
Bazel version (if compiling from source) : 0.26.1
GC

[2020-04-14 12:28] gadagashwini commented on #38357
@chychen, Instead of pdf can you share the executable code or provide the colab gist to reproduce the issue . Thanks

[2020-04-14 12:36] Saduf2019 commented on #38309
i have tried to replicate the issue shared and face indentation errors the code is too big to fix indentation for entire code, can you please share colab gist for us to analyse the issue if possible or share complete correct indented code

[2020-04-14 12:38] Saduf2019 commented on #38500
@vduarte
please share the tensor-flow version on which this issue was faced and simple stand alone code for us to replicate the  issue

[2020-04-14 12:40] plaffitte commented on #38261
@gadagashwini I'm sorry the formatting messed it up a bit... I have modified it so it runs, should I share the corresponding dockerfile with you?

[2020-04-14 12:42] Saduf2019 commented on #38500
with reference to the error faced, please refer to[ link1](https://stackoverflow.com/questions/47537064/tensorflow-incompatible-return-types-from-tf-cond) [link2](https://github.com/tensorflow/tensor2tensor/issues/311) [link3](https://www.programcreek.com/python/example/90430/tensorflow.cond) , and let us know if it helps

[2020-04-14 12:45] phuongchi911 commented on #38233
@gadagashwini  yes what i did to avoid that error was

1/after first installation when u ran this line of code `import segmentation_models as sm` there would prompt error below

![image](https://user-images.githubusercontent.com/43133053/79226050-508c8c00-7e90-11ea-931e-cd4f9f809db4.png)
2/ So I restarted the run time, run again without doing the installation the model. Then there was no error

![

[2020-04-14 12:49] Saduf2019 commented on #37860
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 12:49] #37860 closed

[2020-04-14 12:49] Saduf2019 commented on #37889
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 12:49] #37889 closed

[2020-04-14 12:50] Saduf2019 commented on #37980
@nistrup
please let us know if this issue still persist

[2020-04-14 12:51] Saduf2019 commented on #38002
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 12:51] #38002 closed

[2020-04-14 12:51] abhisharma048 opened #38535 "installation issue-ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10
- Mobile device (e.g

[2020-04-14 12:51] Saduf2019 commented on #38066
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 12:51] #38066 closed

[2020-04-14 12:52] Saduf2019 commented on #38141
@Bstrum36
please update as per above comment

[2020-04-14 12:54] Saduf2019 commented on #38281
@JamhangC
Please update as per above comment

[2020-04-14 12:56] Ashwini-prkt commented on #38426
Can you explain/elaborate how can I cut those operation from my frozen graph??? and if I can cut the graph then what will be the final input and output nodes?

[2020-04-14 12:57] Saduf2019 commented on #38431
@adfayed
from the error shared, it says the files used by you is not shared, we will not be able to replicate unless we have all dependencies "/home/afayed/coral/detection_ag/ag; No such file or directory [Op:MatchingFiles]" is the error.

[2020-04-14 12:59] Ashwini-prkt commented on #38426
May be that can be by using graph transform tool..but seems to be unclear about that...It will be better if you elaborate how I can cut the graph and about input output nodes.

[2020-04-14 13:02] galah92 opened #38536 "C API for TensorFlow Lite for Microcontrollers (micro)?"
Hi,

I'm porting TF micro for my custom micro-controller. I also saw TF distribute C API (not C++) for general TF (not micro). Is it possible to add the C API to the micro package?

[2020-04-14 13:09] vduarte commented on #38500
Thanks for the references, but they didn't actually help much.

Here is a link to a colab with sample code illustrating the problem:

https://colab.research.google.com/drive/1TsytWJiFwXZWoJQgZrLKXsRaO_S_u5mo

[2020-04-14 13:28] ravikyram commented on #38532
@SMatusik

I am not able to access the colab code. Request  you to provide access to colab link to reproduce the issue. Thanks!

[2020-04-14 13:34] PeterBrummer commented on #35949
@Apsylem
I had probably the same issue as you.
The reason IMHO is that the statement "tf.print(ar0)" is being executed. in the declaration phase of the tensorflow graph and not when the graph itself is being executed. In the declaration phase the tensors are not completely defined, they  have no real content.

I came over this by creating a small Print-Layer and attaching it to the graph.
You coul

[2020-04-14 13:34] SMatusik commented on #38532
It's accessable right now, sorry for mistake

[2020-04-14 13:35] martin-schulze-vireso commented on #26297
I followed the official documentation for android for the GPU delegate and got stuck at the bindBuffer step, too.

I checked out the current master and there is no gpu_delegate(.cc?), only a gpu_delegate_jni(.cc). Did you mean that?

[2020-04-14 13:51] w19787 commented on #38463
You can refer to the below project training file:
https://github.com/LouieYang/deep-photo-styletransfer-tf/blob/master/photo_style.py

the line 228 create the input image as tf.Variable and line 291 to optimize/computing the gradients only on this input image.
thanks in advance.

[2020-04-14 14:10] Jvdahemad commented on #37433
Hi, did anyone find a solution to this? I am having the same trouble.

[2020-04-14 14:24] yanghzcc opened #38537 "can not restore adagrad Variable"
for fixed_size_partitioner trainningVariable, adagrad Variable in  tf.GraphKeys.GLOBAL_VARIABLES is：<tf.Variable 'title_rank/title_rank/concat_projection/part_2/Adagrad:0' shape=(15, 1) dtype=float32_ref>
but in saved checkpoint: 'title_rank/concat_projection/ion/part_0/Adagrad', [75, 1]
shape is not right and restore adagrad Variable failed

[2020-04-14 14:26] jgenest83 commented on #35381
the exact same issue arise for tensorflow-gpu==2.2.0-rc2

[2020-04-14 14:45] impjdi commented on #26297
Sorry, the last file should have been `//tf/lite/delegates/gpu/delegate.cc`.  We were internally trying to use `bindBuffer` (without the delegate API, but with GPU-internal functions directly) and saw that the new API is a bit broken, so that it's not usable with the new API.  Someone is working on fixing those.  For now, if you want to use `bindBuffer`, I guess you are stuck with the old API, i.e

[2020-04-14 14:46] phemmer commented on #36216
Updated changes for version 2.2: https://github.com/phemmer/tensorflow/commit/a588fcce4336ba4aa1e3856d9904debbcfe8d97d

[2020-04-14 14:48] chenghuige opened #38538 "kaggle tpu kernel(tf 2.2.0) "Socket closed" when using subclassing api"
When doing model.fit, will always got socket lost/closed error using tpu kernel V3-8 if using subclassing api while functional api is ok. code like below

    class Model(keras.Model):
        def __init__(self):
            super(Model, self).__init__()

            bert_layer = hub.load(BERT_GCS_PATH_SAVEDMODEL)
            bert_layer = hub.KerasLayer(bert_layer, trainable=True)
            self

[2020-04-14 14:50] martin-schulze-vireso commented on #26297
@impjdi Thanks for the update. Does that mean the SSBO route is only available with the C bindings or not at all?

[2020-04-14 14:54] rishabhsahrawat commented on #35538
Any updates on this issue?

[2020-04-14 14:58] csachs opened #38539 "tf.function decorated functions fail in graph mode if any of the branches of conditionals would be invalid at runtime"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: binary
- TensorFlow version: 2.1.0
- Python version: 3.7.6

**Describe the current behavior**
As far as I followed the development of TF's @tf.function-decoration/autotracing, the aim is to mostly write ideomatic Python and have TF take care of building a corresponding

[2020-04-14 15:03] chychen commented on #38357
[code]

Compute dtype: float16
Variable dtype: float32
epoch 0: step 0: loss=inf, loss_scale=32768.0
epoch 0: step 1: loss=inf, loss_scale=16384.0
epoch 0: step 2: loss=inf, loss_scale=8192.0
epoch 0: step 3: loss=inf, loss_scale=4096.0
epoch 0: step 4: loss=inf, loss_scale=2048.0
epoch 0: step 5: loss=inf, loss_scale=1024.0
epoch 0: step 6: loss=inf, loss_scale=512.0
epoch 0: step 7: loss=inf, lo

[2020-04-14 15:04] rishabhsahrawat opened #38540 "Building a vocabulary from text data for classification"
I am following this [tutorial](https://www.tensorflow.org/tutorials/load_data/text) and [here](https://www.tensorflow.org/tutorials/load_data/text#build_vocabulary) the documentation says `There are a few ways to do this in both TensorFlow and Python.`. I am wondering what could be other ways of building a vocabulary. The way defined after this is slow for me since it is a loop and my dataset cons

[2020-04-14 15:15] plaffitte commented on #38261
I just ran again the code I pasted in the link you provided, by means of a tfjob on kubeflow, and this is what I get after epoch 12 of the second for loop iteration:

`WARNING:tensorflow:No new checkpoint ready for evaluation. Skip the current evaluation pass as evaluation results are expected to be same for the same checkpoint.`

The first iteration had gone just fine, I don't understand why it j

[2020-04-14 15:26] prateekpatelsc commented on #38502
@amahendrakar : can you please look at the code ,
i sent you a snippet of the code , not the full code right , you definitely need to provide frozen graph for some model

[2020-04-14 15:28] amahendrakar commented on #38524
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/4217a09da938c934035865d96a6464f5/38524-2-1.ipynb), [TF v2.2.0rc3](https://colab.research.google.com/gist/amahendrakar/2439a4df8967e50bcab92c063330ad2a/38524-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/06082758377bb6a10d642a4f65e92943/38524-tf-nightly.ipynb). Please

[2020-04-14 15:48] rakshanda22 commented on #38506
@gadagashwini I am using tensorflow 2.1.0

[2020-04-14 15:51] manyids2 commented on #25227
Facing the same problem trying to use Object detection library, has there been any update?

[2020-04-14 15:52] #37748 closed

[2020-04-14 15:59] gowthamkpr commented on #38443
As mentioned in the error message

This is the reason for you running into the error on windows @isaacgerg

[2020-04-14 16:03] remifan opened #38541 "Issues of Adam Optimizer on Complex domain"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): `conda install -c conda-forge tensorflow-gpu=2.1`
-

[2020-04-14 16:18] yonghenghuanmie opened #38542 "Macro pollution (Is it called like this) on windows"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
windows 10 x64
- Mobile device

[2020-04-14 16:21] xunkai55 commented on #38370
I don't think it's too hard. Let me try it tomorrow and will let you know.

[2020-04-14 16:21] isaacgerg commented on #38443
@gowthamkpr Why doesnt the driver perform the ptx compilation then?  The operation is simple, a FOIL multiple of complex numbers.

[2020-04-14 16:26] mihaimaruseac commented on #35381
Thanks for the ping. We will release estimator 2.2.0 final this week and we should fix this. Reopening this issue until then.

[2020-04-14 16:27] mihaimaruseac commented on #29845
@navi63 this issue has no relationship with your question. Please open new issues if they are issues with TensorFlow library code or please ask other questions on StackOverflow.

Locking conversation here as it has been solved already

[2020-04-14 16:30] gowthamkpr commented on #38475
Your system does not have support for `SO_REUSEPORT` and thats the reason for the error. Please take a look at the source of the error [here](https://github.com/grpc/grpc/blob/c923f952946d2586e87ffc91f7edaa9b248f413d/src/core/lib/iomgr/socket_utils_common_posix.cc#L189).

[2020-04-14 16:32] mihaimaruseac commented on #38515
Apologies. We needed to release macos py38 on a different CI infrastructure and we had a bug in the renaming of the pip.

Fortunately, for mac both `tensorflow` and `tensorflow-cpu` pips are identical. Can you use `tensorflow` instead?

[2020-04-14 16:34] saxenasaurabh commented on #34891
This is consistent with the broadcast semantics of numpy:

[code]

[2020-04-14 16:34] #34891 closed

[2020-04-14 16:35] jdduke commented on #38525
Can you try with TF 2.2? You should be able to build with:

[code]

And it should produce a binary with the appropriate suffix.

[2020-04-14 16:38] amahendrakar commented on #37978
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 16:38] #37978 closed

[2020-04-14 16:39] impjdi commented on #26297
I haven't checked Java, but if Java has migrated to the new API (delegate.cc), your assessment is correct.

For C++, it's only available in v1 (gl_delegate.cc), but not in v2 (delegate.cc).

[2020-04-14 16:39] saravanabalagi commented on #16087
I tried the workaround and I thought the evaluation was running forever. I then ran an empty multi eval hook with just logging inside.

[code]
This produces
[code]

It runs 10 times, instead of just once. I think it's called for each step, in mine I'm running one epoch for all validation data, but runs in 10 steps (or batches)

[2020-04-14 16:41] gowthamkpr commented on #38471
Thanks @17patelumang
@laghaout Please let me know if I can close the issue as the issue has been resolved.

[2020-04-14 16:44] mihaimaruseac commented on #33374
RC3 is out and has [py3.8 pips for all 3 operating systems](https://pypi.org/project/tensorflow/2.2.0rc3/#files)

[2020-04-14 16:47] crccw commented on #38511
ParameterServerStrategy is not supported in eager yet. We're actively working on it.

[2020-04-14 16:47] #38511 closed

[2020-04-14 16:49] amahendrakar commented on #38213
@zhuzilin,
Any updates regarding the reproducible code? Thanks!

[2020-04-14 16:51] gunan commented on #33374
Can someone with an older macos installed verify our mac images?
We had to build on macos catalina, therefore, we want to make sure they are ok on older versions before we release final.

[2020-04-14 16:52] amahendrakar commented on #38230
Any updates regarding this issue? Thanks!

[2020-04-14 16:56] mihaimaruseac commented on #36193
@Maryammhsnv `pip uninstall` or simply delete the files in `site-packages`. You can also create a new virtual environment. These are not issues related to TensorFlow, so let's not derail discussion.

[2020-04-14 16:58] mihaimaruseac commented on #35754
@acelitz: Py3.8 support #33374

You can always check the pypi package page to see which pips are available.

[2020-04-14 16:59] yongtang commented on #34363
This issue is still being worked on. PR #34399 depends on PR #38544. Once PR #38544 is merged, PR #34399 will be reopened and this issue will be fixed by then.

[2020-04-14 17:03] amahendrakar commented on #38343
@karansaxena,
Regarding this, could you please create a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and close this one, so that we can track it there. Thanks!

[2020-04-14 17:05] mihaimaruseac commented on #19297
Apologies for the delay in answering.

Regarding the deletion of the two lines: yes, that is expected. Otherwise the filesystem in use is the old one. See #37734 for the latest updates w.r.t. testing. I should actually create a guide for how to test these but was planning on doing that after Windows support was ready.

Regarding language usage: the plugin could use C++ and libraries but the interf

[2020-04-14 17:08] mihaimaruseac commented on #38325
That is not a TF issue, it's caused by Windows restrictions. You can try moving the code to a shorter path, for example.

[2020-04-14 17:12] gowthamkpr commented on #38520
@colourful-tree As this issue is not related to bug/performance, build/install, feature request or doc related issues, Please post this issue in stack overflow where there is a wider community to respond. Thanks!

[2020-04-14 17:13] draxdave commented on #25227
TFv1.13 seems working for now, however I have not tested it in my real world project yet. Many warnings and rubbish message is being thrown at runtime which you shouldn't care about.

[2020-04-14 17:28] Victor-Almeida commented on #38448
Sure. I shared [this](https://drive.google.com/drive/folders/1bgGte_wVyaYAycBntQA8uQWmVQZqhPYH?usp=sharing) folder from my Google Drive. You don't need to download it all, just the ones referenced in the notebook.

[2020-04-14 17:41] patriciacs1994 opened #38545 "tf.image.extract_glimpse does not work as it should (tensorflow 2.1)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64 bit
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: NVIDIA (https://docs.nvidia.com/deep

[2020-04-14 17:45] 17patelumang commented on #38438
@edloper thank you

[2020-04-14 17:46] 17patelumang commented on #38375
@mdanatg  thank you

[2020-04-14 17:57] nihalb7 commented on #38219
[info.txt](https://github.com/tensorflow/tensorflow/files/4476885/info.txt)
 I have tf 1.14 im not try to downgrade, i try to upgrade to 1.15

[2020-04-14 18:00] mihaimaruseac commented on #38219
Please open a new issue since this is about a downgrade.

Please fill in **all questions** in the issue template

[2020-04-14 18:04] dirknbr opened #38546 "FTRL maths displayed messy"
In this doc https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Ftrl the math is messed up

see https://snipboard.io/my0uSb.jpg

using chrome browser

[2020-04-14 18:20] omalleyt12 commented on #38512
@dfalbel Thanks for the issue!

This change is intended, could you explain your use case and I can advise on how your code can be updated?

[2020-04-14 18:22] crccw commented on #34358
You don't need to pad your dataset. TF can handle a partial batch for MirroredStrategy (MultiWorkerMirroredStrategy is working in progress).

I'm curious how you achieve dynamic batch size though. Are you creating one dataset per bucket?

[2020-04-14 18:43] laghaout commented on #38471
Yes, thank you.

[2020-04-14 18:43] #38471 closed

[2020-04-14 18:43] PeterMcGor commented on #16087
Cool! It's true was slow, I didn't have so many datasets so it wast a big problem for me but this it is great!

Thank you!

[2020-04-14 18:55] ymodak commented on #38409
This happens due to `numpy()` operations on string inputs. I made a toy example to show
[code]
output:
[code]

[2020-04-14 18:57] wenxuanou commented on #17067
@cc112358 have you solve the errors at the end?

[2020-04-14 19:21] ymodak commented on #38478
How are you converting the mode to tf lite?
If using `target_spec.supported_ops` can you try to convert the model with `TFLITE_BUILTINS`?
[code]

[2020-04-14 19:27] crccw commented on #34358
FYI I was told that the partial batch support was a recent development. Could you try 2.2 or nightly?

[2020-04-14 19:34] dfalbel commented on #38512
Hi @omalleyt12 ! Thanks for your answer.

In [Keras for R](https://github.com/rstudio/keras) we have a default callback that will display metrics nicely in the RStudio IDE, and write logs to a run tracker.

This is implemented here (in R, but accessing the Callbacks python class) : https://github.com/rstudio/keras/blob/master/R/metrics-callback.R#L18-L41

We basically use the `params` dictionary t

[2020-04-14 19:45] #37680 closed

[2020-04-14 19:48] nectario opened #38547 "TimeDistributed fails with GlobalAveragePooling1D layer."
I am trying to use Bert to encode chunks of text. I get the 3D output from Bert, and trying to apply GlobalAveragePooling1D. I get list index out of range. Problem seems to be when applying timedistributed layer to globalaveragepooling1d layer. See below.

`   def bert_model(self, max_seq_len, number_of_labels=130, adapter_size=64, bert_config_file=None, bert_ckpt_file=None, bert_model_name=None):

[2020-04-14 19:51] omalleyt12 commented on #38512
@dfalbel Got it, thanks! The best way to access the name of the Model's metrics in a Callback IMO is to use `self.model.metrics_names`. This should only be accessed after the first batch has completed, since metrics can be created the first time the Model is called on actual data

For `do_validation`, I think it's probably better to make use of the `Callback.on_test_begin` endpoint. If this hook i

[2020-04-14 20:12] nuqz commented on #27614
@leimao First of all thanks for detailed guide and code samples.

I have a problem with following your guide using TF 2.1. It seems that `tensorflow.python.framework.convert_to_constants.convert_variables_to_constants_v2` is not available in TF 2.1 anymore.

May I ask you to point me to an analog of this function? Of course, if this method is still relevant. And if not, could you tell me how to?

[2020-04-14 20:17] Tuxius commented on #38064
I have the same issue with TF v2.2.0-rc2

[code]

[2020-04-14 20:26] yongtang commented on #38545
@patriciacs1994 I think you are referring to PR #12829?

[2020-04-14 20:40] patriciacs1994 commented on #38545
Yes, I am referring to that issue that was solved 4 years ago. But it seems like that for tf 2.1 the error still persist. Am I wrong?

[2020-04-14 20:41] rodrigoruiz commented on #38414
@saikumarchalla I edited the initial report adding the code.
Not sure how to remove the `stat:awaiting response` label.

[2020-04-14 20:44] ryanmaxwell96 commented on #33576
I'm having the same issue. Any updates?

[2020-04-14 20:50] cache203 commented on #30856
I find this link very useful:
http://www.programmersought.com/article/3932478100/

[2020-04-14 21:01] goldiegadde commented on #37968
This issue has been fixed with [2.2.0-rc3](https://pypi.org/project/tensorflow/2.2.0rc3/#files).
@lamba92 Can you please check  and if so close this issue ?

[2020-04-14 21:04] goldiegadde commented on #37765
[2.2.0-rc3](https://pypi.org/project/tensorflow/2.2.0rc3/#files) is now released, @houtoms can you please check ?

[2020-04-14 21:06] FunkyGibbon commented on #33924
@rodrigoruiz sorry for a late response. One way I found that worked intermittently was to significantly increase the batch size. I used a batch size of 2800. But apart from that I couldn't find another way to fix it. I ended up changing my whole model in the end because this error happens with all types of recurrent networks, not just LSTMs. I'm sorry I don't have the link, but I found the suggest

[2020-04-14 21:08] houtoms commented on #34519
Just checked with 2.2rc3 but the issue is still on. The colab link is same with the above.

[2020-04-14 21:12] Crista23 opened #38548 "Beam search for Transformer example"
Hi! I have been following the Transformer tutorial here https://github.com/tensorflow/docs/blob/master/site/en/tutorials/text/transformer.ipynb and I am wondering how can beam search be implemented to work with the current code? Thanks!

[2020-04-14 21:12] jvishnuvardhan commented on #33727
@ThinerDAS Is this still an issue? I tried with `tf-nightly` and I don't see any difference between graph mode and eager mode in RAM usage. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/414870a8731cd8139ad0f9c62786ad69/33727.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-04-14 21:19] lingjiekong commented on #38370
Thanks. I feel this is related to line 141 in TensorImage.class

int requiredFlatSize = this.bitmapImage.getWidth() * this.bitmapImage.getHeight() * 3;

However, it will be nice that you can help confirm and let me know if I missed something else.

Thanks!

[2020-04-14 21:20] ezhulenev commented on #34519
Similar problem was fixed in https://github.com/tensorflow/tensorflow/commit/eaa1729a52952f2a541491a1ce2c34af7ab66fc8#diff-e0dcdefdcbc0c9884e4333c1723ef40d, if a placer can prove that DT_VARIANT has host only underlying type, it will place all dependent ops on CPU. However in this case DT_VARIANT tensor passed as an input to the function, and placer can't tell anything about the underlying host ty

[2020-04-14 21:24] jvishnuvardhan commented on #34141
@chahld Is this still an issue? Can you please check with recent `tf-nightly`. I tried and am not getting that `error: input shape is none`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/a37cdcc0684c5191ae9d1f7a09f740ad/untitled347.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-04-14 21:52] yongtang commented on #38545
@patriciacs1994 The PR was merged but seems to have been reverted at one point. Just re-submitted the PR in #38549. It should fix the issue if merged.

[2020-04-14 21:57] Ceceu commented on #37200
@SlowMonk, I had the same issue but it was resolved by updating TensorFlow to 2.2.0rc2 version.

[2020-04-14 22:05] guptapriya commented on #34025
@zaccharieramzi - yes please file a separate ticket as this is a Keras issue without distribution strategy. The error message might be the same but the root causes are different.

[2020-04-14 22:12] MADHAVAN001 commented on #27487
any updates?

[2020-04-14 22:15] tripathysa opened #38550 "Keras Model in SavedModel format Errors on Loading -ValueError('Model inputs are already set.')"
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ProductName:	Mac OS X, ProductVersion:	10.15.2, BuildVersion:	19C57
TensorFlow installed from (source or binary): pip
TensorFlow version (use command below): 2.1.0
Python version: 3.6.8
CUDA/cuDNN version: None
GPU model

[2020-04-14 22:15] tripathysa commented on #38550
[smbnew.zip](https://github.com/tensorflow/tensorflow/files/4478031/smbnew.zip)

[2020-04-14 22:28] reedwm commented on #38516
Ugh I thought I fixed this in 10e5748ddfcf0c60e5ef0a90bb72a34bc55190ec but didn't. I still call `list_local_devices` even though I intended not to call it.

I will fix, but I'm unsure if this can be cherrypicked into TF 2.2 this late in the process.

As a hacky workaround, you can fix by adding the following lines of code anywhere before setting the policy.

[code]
This replaces the problematic fu

[2020-04-14 22:29] Rasinj commented on #33535
Hi,

Just wanted to put this here that I had to use the lambda-trick referenced in the notebook with tf 2.1.0 to get the example at https://www.tensorflow.org/guide/data to work:

[code]

[2020-04-14 22:59] ymodak commented on #38102
Can you try enabling the custom_ops flag ?
`converter.allow_custom_ops = True`

[2020-04-14 23:00] DocDriven opened #38551 "Linking of tensorflowlite_c.so throws multiple undefined reference errors"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): GNU/Linux aarch64
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version

[2020-04-14 23:01] ahtik commented on #38174
@eScribMac for CUDA 10.2 TF has to be built with CUDA 10.2. As it's officially not supported, must be built by yourself. v2.2rc3 builds fine for both Windows and Ubuntu (used python 3.8 and cuda 10.2).

**Building tensorflow v2.2rc3 with CUDA 10.2 and python 3.8 from source**
Few notes to get it done more easily:
Adjust ~/.bazelrc to match your cpu core count for faster build
[code]

Snippets to g

[2020-04-14 23:10] ahtik commented on #37802
@srogatch I have built TensorFlow 2.2 rc3 now successfully on Windows 10 with both Python 3.8 and 3.7, also CUDA 10.1 and CUDA 10.2. Without any tweaks to the source.

Posted some notes on building to https://github.com/tensorflow/tensorflow/issues/38174#issuecomment-613722488 that might help with your build speed.

Do you also get the 2GB zip issue with a no_tensorflow_py_deps flag?
`bazel build

[2020-04-14 23:10] Sarvagya2009 opened #38552 "Failed to load the Native tensorflow routine"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 LTS
- TensorFlow installed from (source or binary):  https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.5.0-py3-none-any.whl
- TensorFlow version: Tensorflow 1.5.0
- Python version: Python 2.7.12
- Installed using virtualenv? pip? conda?: pip

**Describe the problem**
I tried running :

[code

[2020-04-14 23:12] dansitu commented on #32809
Note that the above doesn't seem to work when loading from a SavedModel; only from an h5.

[2020-04-14 23:31] ymodak commented on #36446
Closing this issue for now since the issue author is aligned. However feel free to post a new issue if still have problems. Thanks you.

[2020-04-14 23:31] #36446 closed

[2020-04-14 23:33] mplefort commented on #34708
@hardsetting this solved my similar issue with the converter.build(input_fn=my_input_fn). Thank you

[2020-04-14 23:36] joshhansen commented on #19913
I got this error by using the optimizer class rather than an instance of it, e.g. `optimizer = Adam` instead of `optimizer = Adam()`.

[2020-04-14 23:38] suicao commented on #30315
@karimnosseir Hi, what tensorflow version were you using?

[2020-04-14 23:44] #35875 closed

[2020-04-14 23:44] #35897 closed

[2020-04-14 23:47] ymodak commented on #34866
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-14 23:47] #34866 closed

[2020-04-15 00:04] gunan commented on #33092
Thanks for raising this.
Our guarantees on our APIs are outlined here:
https://www.tensorflow.org/guide/versions

To summarize the C\C++ aspect.
The headers under `tensorflow/c`, except the ones that have `internal` in the name are not expected to change. Only in cases of bugs, or extraordinary changes we expect changes here.
We are working to expand this, and add more features there.
Any other he

[2020-04-15 00:06] ymodak commented on #32821
Apologies for the delay in response, Is this still an issue?
Can you please test with latest version of TensorFlow? Thanks!

[2020-04-15 00:23] suneeta-mall commented on #27100
@aaroey I have similar issue and same stack with Tf2.1 but works with tf2.2 dev builds. Do you know of a change that might have gone in to address that?

[2020-04-15 00:27] jsimsa commented on #38078
Logging the error makes sense. I would be happy to review a contribution that adds an option `log_warning` option for `ignore_errors` that controls whether the error is logged.

[2020-04-15 00:49] guotong1988 commented on #24828
upgrade to TF1.14

[2020-04-15 00:55] karimnosseir commented on #30315
Thanks @amahendrakar I can reproduce it on the 2.1 but works with nightly. Can you please retry.

@suicao i was using tf-nightly

[2020-04-15 01:10] tensorflowbutler commented on #37099
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-15 01:10] tensorflowbutler commented on #37764
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-15 01:16] terryheo commented on #38395
I've just checked in ARM crossbuild toolchains (https://github.com/tensorflow/tensorflow/commit/4961f18733ca3967198393abf419e14476b4a85c)  for Bazel build.

You can build armhf, aarch64 targets with the following commands.

[code]

[2020-04-15 01:16] #38395 closed

[2020-04-15 01:18] forhonourlx commented on #38475
Hi @gowthamkpr @amahendrakar ,
Thank you for your reply, and I need some further help.
It was said that Linux kernel >3.9 supports `SO_REUSEPORT` feature.
My testing system is:
[code]
And there is truely `#define SO_REUSEPORT 15` in `/usr/include/asm-generic/socket.h`

So what is the way to use `tf.distribute` on `Ubuntu`? (same error on `MultiWorkerMirroredStrategy`)
(Or is there any way to skip

[2020-04-15 01:19] terryheo commented on #38157
What's the compile command you used for the sample?

[2020-04-15 01:22] terryheo commented on #37447
I've just checked in ARM crossbuild toolchains (https://github.com/tensorflow/tensorflow/commit/4961f18733ca3967198393abf419e14476b4a85c)  for Bazel build.

You can build armhf, aarch64 targets (include XNNPACK) with the following commands.

[code]

[2020-04-15 01:22] #37447 closed

[2020-04-15 01:25] adfayed commented on #38431
That folder detection_ag/ag is all my training data, it consists of > 100Gb of different sub-folders of images and their corresponding detection bounding boxes data.

My issue is not with retraining. Retraining the model ckpt goes very smooth just as it should, I only included the inital part and the script used for retraining to provide a clear picture from start to finish if one can spot somethi

[2020-04-15 01:41] IamHimon commented on #38420
There haven't any randomization , I post my simplified code below:
1. first i set output in model_fn():

`

    def model_fn():
       (a_output_layer) = create_model_a(albert_config, is_training, a_input_ids, a_input_mask,
                     a_segment_ids, use_one_hot_embeddings)
      output_spec = tf.contrib.tpu.TPUEstimatorSpec(mode=mode,predictions={"a_output_layer": a_output_layer}, scaffo

[2020-04-15 01:56] AngelPone opened #38555 "[tf.function] tf.Variable converted to tf.Tensor automatically in second loop"
**System information**
- Have I written custom code :  Yes
- OS Platform and Distribution (e.g.,Linux Ubuntu 16.04):   MacOS Mojave 10.14.5
- TensorFlow installed from (source or binary): - TensorFlow version (use command below):  pip
- Python version: - 3.6.5

**Describe the current behavior**
tf.Variable converted to tf.Tensor automatically after second loop in function decorated by tf.function.

[2020-04-15 02:14] limsijie93 commented on #34845
@srjoglekar246
I tried turning on the select_tf_ops

[code]

But I ran into the following errors:
[code]

[2020-04-15 02:24] JustinWick commented on #33092
@gunan:
Thanks for your comprehensive reply. We look forward to the next prepackaged update!

Is the C API otherwise working for 2.0 and 2.1 if  one builds it themselves? We build TF from source for some of our projects, and as long as it's still functional we don't have to wait for the prepackaged version, though some teams do prefer those as they are standard.

[2020-04-15 02:25] zhao1157 opened #38556 "Can not create control inputs with tf.control_dependencies"
I was expecting to get some control inputs with `tf.control_dependencies()`, but the following test code did not give back what I expected.

    import tensorflow as tf

    a = tf.get_variable('a', shape = [2, 3])
    b = tf.get_variable('b', shape = [2, 3])
    c = tf.scalar_mul(2, a)
    d = tf.scalar_mul(3, b)

    with tf.control_dependencies([d, c]):
      f = d-c

    print (f.op.control_in

[2020-04-15 02:53] zhuzilin commented on #38213
@amahendrakar I've submitted the pr for this bug in #38292. Please feel free to close this issue.

[2020-04-15 03:03] TrentHouliston commented on #37620
Hi @ravikyram
Here is a mwe that is close to my current usage that shows the issue.
I have two "identical" setups one with a sequential model and one with a custom one.
When the checkpoint is run in the custom one, instead of saving the model (despite the `save_weights_only=False`) it saves weights only. Which is very misleading and also incorrect behaviour.
When I save the model manually it works

[2020-04-15 03:13] vnvo2409 commented on #19297
@mihaimaruseac I have one more question, Could I reuse some part of tensorflow `core` or not ? I see the current implementation of s3 filesystem is heavily depended on the lib in `tensorflow/core/`. I think it is not fit to the principle of Modular Tensorflow.

[2020-04-15 03:20] sayakpaul commented on #33535
Yes, of course. I made a presentation to put together some common utility things: http://bit.ly/MLWeekend19.

[2020-04-15 03:22] GoingMyWay commented on #29371
Did anyone found the answer? As far as I know, tf.keras is not compatible with tf in tf 1.x. In tf 2.x they work fine.

[2020-04-15 03:46] marimomo00 commented on #38525
I tried the TF r2.2 with bazel 2.0.0. This is the result.

`C:\tensorflow>bazel build -c opt --cxxopt=--std=c++14 --config=android_arm //tensorflow/lite/c:tensorflowlite_c
Starting local Bazel server and connecting to it...
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=120
INFO: Reading rc options for 'build' from c:\tensorflow\.bazelrc:
  Inheri

[2020-04-15 03:55] 306404391 commented on #34369
@songs18 解决了吗?

[2020-04-15 03:57] marimomo00 commented on #38525
I built the TF r2.2 again. The error is different
[code]

[2020-04-15 04:04] suicao commented on #30315
I can confirm that this works with ```'2.2.0-dev20200414```

[2020-04-15 04:06] gunan commented on #33092
In theory, it should. We do run the tests on C API headers in our CI.
If there are any bugs, or issues  you run into, we would love to hear about them and fix them.

[2020-04-15 04:15] rgc183 opened #38557 "TF 1.13 with TRT 6.0"
Is it possible to modify tensorrt submodule from tensorflow 1.13 to support it with TRT 6.0? Can it support TRT 6.0?
I have seen performance drop for only tensorflow models from TF 1.13 to  TF 1.15. So I want to stick to 1.13 with TRT 6.0.

[2020-04-15 04:17] shauryad15 commented on #38298
any solution?

[2020-04-15 04:28] Ringhu opened #38558 "ValueError: None is only supported in the 1st dimension. Tensor 'image_tensor' has invalid shape '[None, None, None, 3]'."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (or github SHA if from source): 2.1.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converte

[2020-04-15 04:29] hgffly opened #38559 "Failed to use vectorizing mapping for tf.data"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  ubuntu18.04
- TensorFlow installed from (source or
b

[2020-04-15 05:02] Saduf2019 commented on #38107
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-15 05:02] #38107 closed

[2020-04-15 05:05] Saduf2019 commented on #38313
@georgwiese
could you please update on the above comment

[2020-04-15 05:08] crccw commented on #38514
Are you saying that

python model.py worker0 [shared localtion]
python model.py ps0 [shared localtion]

doesn't work? For ParameterServer the location needs to be a shared one among all workers + ps.

[2020-04-15 05:12] ravikyram commented on #38537
@yanghzcc

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Request you to provide colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!

[2020-04-15 05:20] ravikyram commented on #38541
@remifan

Request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-15 05:23] wangshuai-github opened #38560 "Memory leak when try to use Metal delegate with “TFLGpuDelegateWaitTypeAggressive” option"
**System information**
- Mobile device ：iPhone XR
- OS version：13.3.1

**Describe the current behavior**
I encountered a memory leak problem when trying  to deploy metal delegate backend on iPhone.

**Describe the expected behavior**
There is no memory leak in tflite lib

**Standalone code to reproduce the issue**
1)	Modify the source code in metal_delegate.mm as follows
At line 109, add “alarm_th

[2020-04-15 05:29] ravikyram commented on #38547
Please, let us know TensorFlow version you are using?.Looks like code is incomplete. Request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-15 05:32] zaccharieramzi opened #38561 "Unwanted tf.function retracing when using variable-length inputs"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.2.0rc2
- Python version: 3.6.8

**Describe the current behavior**

A lot of warnings saying that ther

[2020-04-15 05:35] 17patelumang commented on #38540
@rishabhkabra other method include as below

https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lookup

Sample code

[code]
You can do the preprocessing in python once and store tokens in file and read tokens from that file using above or you can store it in .tFRecord  file for better perfomance

[2020-04-15 05:40] Saduf2019 commented on #38559
i am able to replicate this, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/30416fd71b2065ef43b6069de4223370/38559.ipynb)

[2020-04-15 05:44] gadagashwini commented on #38495
@SXKai, I tried to reproduce the issue but received different error, Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/ebd8b5922adbfa8092ae0a0d570f13e6/untitled506.ipynb) and provide more information to reproduce the issue. Thanks

[2020-04-15 05:45] Saduf2019 commented on #38555
@AngelPone
please share the tensorflow version where the error is faced

[2020-04-15 05:48] AngelPone commented on #38555
[code]

[2020-04-15 05:49] 17patelumang commented on #38555
@AngelPone I tried your issue in tf2.0

[code]

Tensorflow is unable to recognize condition since it written in python and it will just ignore that line and will execute both if and else block , you can see that both print statements will be printed.

The right way to do it is to use tf.condition https://www.tensorflow.org/api_docs/python/tf/cond

[2020-04-15 05:49] ravikyram commented on #38552
@Sarvagya2009
Just to verify did you follow the instructions in [tensorflow website](https://www.tensorflow.org/install/source?hl=en) . Please, see tested build configurations from [here.](https://www.tensorflow.org/install/source?hl=en#tested_build_configurations). Tensorlow 1.5.0 is very older version .Request you to go for latest versions of Tensorflow for better support.Thanks!

[2020-04-15 05:53] fcole90 commented on #33374
Ubuntu 20.04 will ship with Python 3.8.x (possibly 3.8.2), so this means you can't install tensorflow on it yet.

[2020-04-15 05:54] corvin-quodai commented on #19731
Same issue, please reopen.

[2020-04-15 05:55] Saduf2019 commented on #38538
@chenghuige
i ran the code shared by you on nightly and do not face any issues, please let me know if i am missing anything here, [gist for the same](https://colab.sandbox.google.com/gist/Saduf2019/34d4a5419f146e6fb08665f8eb587643/38538.ipynb)
please share the error faced by you.

[2020-04-15 05:55] AngelPone commented on #38555
@Saduf2019  Yeah, it works after I used tf.cond, but will it(recognize if-else) be fixed  in the future ?

[2020-04-15 05:58] 17patelumang commented on #38555
@AngelPone  This lets you write platform-independent code, but the caveat is that it's a (small) subset of Python.  Hopefully in future .

[2020-04-15 05:59] 17patelumang commented on #38555
@Saduf2019  is there any way i can be assigned few tickets ?

[2020-04-15 06:02] gadagashwini commented on #38528
@AngelPone, Can you provide the standalone code to reproduce the reported issue. Thanks

[2020-04-15 06:04] mihaimaruseac commented on #33374
@fcole90 that's not completely true. First, you can always use a virtualenv with another python. But also later this week or early next week we'l release tf 2.2 final that would work with Python 3.8

[2020-04-15 06:10] gadagashwini commented on #38535
@abhisharma048 ,

[#36167 (comment)](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156)

[#36167](https://github.com/tensorflow/tensorflow/issues/36167) [#36151](https://github.com/tensorflow/tensorflow/issues/36151) [#36138](https://github.com/tensorflow/tensorflow/issues/36138) [#36054](https://github.com/tensorflow/tensorflow/issues/36054) [#36045](https://github.com/

[2020-04-15 06:28] clockzhong commented on #27519
According to the codes in tensorflow, when the tensor object is in eager mode tensor(tensorflow.python.framework.ops.EagerTensor), we could call tesnsorObj.numpy()
this method is implemented in tensorflow/python/framework/ops.py
But if the tensor object is a general tensor, e.g. belonging to tensorflow.python.framework.ops.Tensor, then it'll have no numpy() method, the implementation codes is also

[2020-04-15 06:29] JimKimHome commented on #37099
@codeislife99 Thanks for the tip above! Using the wrap_frozen_graph worked for me,too.I use the same tensorflow version as your's, and conver the .pb model to .tflite model and load it in andriod, the interpreter can do the inference now!At first I find that the wrap_frozen_graph func can not be recognized ,then I find it on 'https://leimao.github.io/blog/Save-Load-Inference-From-TF2-Frozen-Graph/

[2020-04-15 06:37] JimKimHome commented on #37099
@codeislife99 Thanks for the tip above! Using the wrap_frozen_graph worked for me,too.I use the same tensorflow version as your's, and conver the .pb model to .tflite model and load it in andriod, the interpreter can do the inference now!
      At first I find that the wrap_frozen_graph func can not be recognized ,then I find it on 'https://leimao.github.io/blog/Save-Load-Inference-From-TF2-Frozen

[2020-04-15 06:38] srogatch commented on #37802
@ahtik , thanks for following up. Unfortunately, currently, Tensorflow experiments are not relevant to me. You can close the issue. And the command you gave should be a good resolution.

[2020-04-15 06:38] #37802 closed

[2020-04-15 06:50] gadagashwini commented on #38539
Could able to replicate the issue with Tf2.1.
Please find the [gist here](https://colab.sandbox.google.com/gist/gadagashwini/f0af4a0d27a4f1ebe8e9b37f20a13d51/untitled508.ipynb). Thanks

[2020-04-15 06:53] gurushantj commented on #38561
As per my understanding, if the input tensor's shape or dtype changes(if it is not constant) then the function would get retraced again.
You may refer this https://www.tensorflow.org/api_docs/python/tf/function

[2020-04-15 06:53] amahendrakar commented on #38529
@RunnerZhong,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-04-15 07:00] zaccharieramzi commented on #38561
Yes this is totally true, but I am not using `tf.function` myself directly. Maybe keras is under the hood, but in any case they should handle inputs with varying shapes (but same rank and "compatible" shapes) better by for example specifying a dynamic input signature (see *Inputs signatures* in the doc).

Moreover, the behaviour I am describing is for version 2.2.0rc2, and the doc is still for 2.1

[2020-04-15 07:02] AngelPone commented on #38555
@17patelumang Thanks for your help, let me close this issue.

[2020-04-15 07:02] #38555 closed

[2020-04-15 07:04] Sarvagya2009 commented on #38552
@ravikyram
On following the website's instructions and installing bazelisk, I get the following error:
**Exception: Unsupported machine architecture "i686". Bazel currently only supports x86_64.**

So bazel is not compatible with my architecture. Any other method of installing tensorflow?

[2020-04-15 07:07] Abhipray commented on #37659
@abattery I tried that by calling
[code]

I get the following errors:
[code]

[2020-04-15 07:07] RunnerZhong commented on #38529
Hi, you can reproduce this issue with below code easily..

`
graph = tf.Graph()

with graph.as_default():
    input = tf.compat.v1.placeholder(tf.float32, shape=(1, 244, 244, 3))
    filter = [11, 11, 3, 64]

    filter_weight = tf.compat.v1.get_variable(
        "weights", filter,
        initializer=tf.compat.v1.truncated_normal_initializer(stddev=0.1)
    )
    tf.nn.atrous_conv2d(value=input,

[2020-04-15 07:11] czczup commented on #38397
I investigated the difference between Batch norm and Instance norm, I found that the Batch norm layer will calculate the moving mean and moving variance when training, but use the learned moving value when testing, so the `tf.nn.moments` was only used at training time in BN layer. I think is the reason why Batch norm is faster than Instance norm. I'm not sure this idea is right.

[2020-04-15 07:18] saicharan0304 commented on #33279
Using TensorFlow backend.
Traceback (most recent call last):
  File "C:/Users/SAI CHARAN.DESKTOP-44A9F0G/OneDrive/Desktop/new arya/edithnew.py", line 20, in <module>
    w = nltk.word_tokenize(pattern)
  File "C:\Users\SAI CHARAN.DESKTOP-44A9F0G\AppData\Local\Programs\Python\Python37\lib\site-packages\nltk\tokenize\__init__.py", line 129, in word_tokenize
    sentences = [text] if preserve_line el

[2020-04-15 07:22] #38528 closed

[2020-04-15 07:26] abattery commented on #38397
In mobile environment, to use GPU acceleration fully, the ops in the graph should be supported by the TensorFlow Lite GPU delegate. The instance norm based TFLite graph contains some unsupported ops of GPU delegate. Like your performance experiments, the executions of many parts of the graph will be fall back to CPU calculations.

[2020-04-15 07:40] RunnerZhong commented on #38529
Same issue existed in TF： 1.15

[2020-04-15 07:44] jz1998 commented on #38482
THX, and i want to know if i roll back to CUDA 10.0, my another environment with tensorflow-gpu-2.1 can fit the CUDA 10.0? because i refer to the tensorflow.org only showing tensorflow-gpu-2.0 to CUDA 10.

Sorry, a little more question, someone told me that there can't exist tf-gpu or tf-cpu at the same time  in one environment, which means we should create two environments to manage tf-cpu and tf

[2020-04-15 08:01] JoeHRIsaac commented on #12420
Excuse me but please explain the changing graph? I have the same error.
What you mean by changing the graph during execution?

[2020-04-15 08:02] StephanIFX opened #38563 "error: 'arm_convolve_1_x_n_s8_get_buffer_size' was not declared in this scope"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu18.04 under WSL
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source):  2ddbc3572cd10002cf4e74a9c7b4dbf3d5995d7b
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.):   sparkfun_edge

when trying to build person detection app using the c

[2020-04-15 08:10] ngc92 opened #38564 "Wrong function in example for tensor_diag"
The examples in the documentations of `tf.linalg.tensor_diag_part` and `tf.linalg.tensor_diag`
are showing the non-tensor version of these functions, e.g.
[code]

See
https://www.tensorflow.org/api_docs/python/tf/linalg/tensor_diag
https://www.tensorflow.org/api_docs/python/tf/linalg/tensor_diag_part

[2020-04-15 08:11] alanpurple commented on #38515
@mihaimaruseac I see, thx

[2020-04-15 08:19] sunvina commented on #36003
protobuf 版本降低3.6.0，就可以导入啦

[2020-04-15 08:23] ngc92 commented on #38561
You can see the current doc here:
https://www.tensorflow.org/api_docs/python/tf/function?version=nightly
I think the option you need should be `experimental_relax_shapes`.

As a workaround, you could try to wrap the keras model in an explicit tf.function call, like this
[code]

[2020-04-15 08:24] amahendrakar commented on #38540
@rishabhsahrawat,
Could you please check @17patelumang's comment and let us know if it helps? Thanks!

[2020-04-15 08:29] ngc92 commented on #38559
you are using `parse_single_example`, but passing in a batch of examples. This does not seem to be a bug but the intended behaviour of the function.

From the documentation:
[code]
https://www.tensorflow.org/api_docs/python/tf/io/parse_example

[2020-04-15 08:31] MoranReznik opened #38565 "Could not create cudnn handle: CUDNN_STATUS_ALLOC_FAILED"
**System information**
- windows 10 64
- TensorFlow installed from anaconda
- TensorFlow version: 2.1
- Python version: 3.7.6
- Installed using conda
- CUDA/cuDNN version:
not sure what cuda version i use: conda list cudatoolkit gives 10.1.243 but nvidia-smi gives cuda 11
cudnn version: 7.6.5
- GPU model and memory:
nvidia gtx 1660Ti 6GB turing
keras version: 2.3.1, keras base 2.3.1, keras-applica

[2020-04-15 08:43] gurushantj commented on #38561
@zaccharieramzi : Following is the output on tf 2.1.0
[code]

[2020-04-15 08:44] gurushantj commented on #38561
The output of tf 2.1.0 is same, it is as below:
[code]

[2020-04-15 08:45] gurushantj commented on #38561
Following is the ouput of tf 2.1.0
[code]

[2020-04-15 08:52] eduardoavila1m commented on #35805
The Issue was solving by re-installing the CUDA versions and assuring that the tensorflow version was compatible with the CUDA and CuDNN versions found in the table https://www.tensorflow.org/install/source. Assure the system paths have been set correctly and install the tensorflow vesrion on a clean anaconda environment utilizing pip instal tensorflow-gpu==1.13.1. After some iterations this worke