[2019-10-25 22:52] bmdivakar commented on #33352
Facing similar issue.

Error Message..
`Python 3.6.8 (default, Oct  7 2019, 12:59:55)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'tensorflow.tools.graph_transforms'
`
Tensorflow Version ..
`Name: tensorflow
Version: 2.0.0
Summary: TensorFlo

[2019-10-25 22:54] bmdivakar commented on #33352
Facing similar issue..

[2019-10-25 23:03] jvishnuvardhan commented on #33692
@ktfth Are you testing your own images of cats and/or dogs? I think this network is made as a simple model to demonstrate the classification and related operations. If the prediction is not good for your images, then you can update the model by adding some more hidden layers.

Having said that this is not a build/installation or Bug and Performance issue.

This is not Build/Installation or Bug/Per

[2019-10-25 23:03] #33692 closed

[2019-10-25 23:04] smohan10 opened #33735 "Large bias values for Inception V4 TFLite model"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-10-25 23:19] 408881465 commented on #33734
After downgrade tensorflow  tf-hub-nightly and  tf-nightly It works.

[2019-10-25 23:21] kshaeffer commented on #33733
Here is the configure script I used and the bagel build command:

$ ./configure
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.26.0 installed.
Please specify the location of python. [Default is /usr/bin/python]: /usr/bin/python3

Found possible Python library paths:
  /usr/lib/python3/dist-packages
  /

[2019-10-25 23:23] jvishnuvardhan commented on #33686
@optiluca I modified couple of things in the code and it works without any issues. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/6b67e588cad1c274afe2d5ccca391ec8/untitled600.ipynb).

Please close this issue if this was resolved. Thanks!

[2019-10-25 23:28] jarednielsen commented on #25144
Same error here. This occurs on an Amazon Linux x1.32xlarge instance, in the stock Python 3.6 conda environment.

[2019-10-25 23:36] yashk2810 commented on #33651
To fix it, there are 2 steps:

1. Iter over train_dist_dataset instead of train_dataset.
2. Reduce over batch_size instead of the entire prediction tensor because we need to predict an entire image/mask here.

The code changes are:

[code]
and then the changing the training loop to reduce_mean over the train_loss fixes the issue.

[code]
The output I get after this is

[code]

[2019-10-25 23:37] optiluca commented on #33686
The changes to the code now simply mean that it doesn't have a loss dictionary, so indeed it works.  The bug I reported is that it's impossible to load a model which has a loss dictionary defined.  I have a model with multiple outputs (each with its own loss function) that breaks because of this bug.  Simply removing the loss dictionary isn't an option, I reduced it down to the test code I posted

[2019-10-26 00:08] jvishnuvardhan commented on #33646
@AndersonHappens I think there is an issue with saving a model in *.tf version when the model has custom metrics. I have saved the model in  *.h5 format and everything works as expected. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/5cd85f60f1d6e975ce65675227422b3e/untitled296.ipynb). Thanks!

Please close the issue if it was resolved for you. Thanks!

[2019-10-26 00:11] jvishnuvardhan commented on #33716
@paolorota This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-26 00:11] #33716 closed

[2019-10-26 00:18] breadbread1984 commented on #29252
iterator is necessary when you use multiple trainset together for training. for example, training mtcnn requires both wider face and celeba. you have to use iterator but a loop. but I have solved the problem buy tf.data.Dataset.__iter__()

[2019-10-26 00:32] helinwang commented on #24582
Workaround for SparseTensor:

[code]
Note that you must use tf.identity somewhere (e.g., `tf.identity(a.values)`), otherwise TF optimizes away the statement.

[2019-10-26 00:43] KichangKim commented on #31870
@mihaimaruseac Thanks for investigation. So in my understand, this change is intended and will not be fixed, right? (if it is correct, I'll close this issue.)

[2019-10-26 00:49] walty19950301 commented on #33668
i’m change the [Code to reproduce the issue]~

[2019-10-26 01:00] bersbersbers commented on #31870
I wonder what part of the discussion above makes you think that. @mihaimaruseac interpreted this as a side effect (not an intended effect) of some change, and has not concluded otherwise since mentioning to investigate this further.

[2019-10-26 01:00] Belgrath1900 commented on #33687
I got a bit closer and now PythonZipper is failing...

INFO: Analyzed target //tensorflow/tools/pip_package:build_pip_package (0 packages loaded, 0 targets configured).
INFO: Found 1 target...

[0 / 23] [Prepa] PythonZipper tensorflow/python/keras/api/create_tensorflow.python_api_1_keras_python_api_gen_compat_v1.zip ... (3 actions, 0 running)
ERROR: H:/python/tensorflowcompile/tensorflow/tensorflo

[2019-10-26 01:01] Belgrath1900 commented on #33687
I ran the bezel config again and upon my second compile it now busts much sooner..

java.lang.RuntimeException: Unrecoverable error while evaluating node 'REPOSITORY_DIRECTORY:@local_config_cc' (requested by nodes 'REPOSITORY:@local_config_cc')
        at com.google.devtools.build.skyframe.AbstractParallelEvaluator$Evaluate.run(AbstractParallelEvaluator.java:528)
        at com.google.devtools.bui

[2019-10-26 01:03] KichangKim commented on #31870
@bersbersbers Oh, I misread ziyigogogo's comment. It seems that not yet concluded. Reopen.

[2019-10-26 01:04] Belgrath1900 commented on #33687
I dunno what to do next at this point other than to wipe out any .o files that may have been created and start a fresh build all over again.  Is there a Python zip package that I need to install, is that why the pythonZipper failed?

I'm attempting to following the following windows compilation of tensorFlow to account for the fact that my windows machine lacks a CPU/GPU that support AVX commands.

[2019-10-26 01:04] dhananjaisharma10 commented on #32791
Hi sir! The `feed_dict` is still there. I visualized the `.pb` file and the input and output are indeed `X` and `logits`, respectively. You can find the checkpoint for the error in the first post in this page [here](https://storage.googleapis.com/cloud-tpu-checkpoints/mixnet/mixnet-s.tar.gz). I trained on normal distribution to get around that with the following script: [train.py.zip](https://gith

[2019-10-26 01:04] KichangKim commented on #31870
Why the bot labeled this issue as "awaiting response"? It should be clearly labeled as "awaiting tensorflow".

[2019-10-26 02:10] njeffrie commented on #33606
Sorry for the delay - it's currently an internal change awaiting review.  I plan to land it early next week.  Can you paste the entire error log?  I would like to dig into the error you're seeing once you make the change to AddBuiltin.

[2019-10-26 02:44] amd-lthakur opened #33736 "AttributeError: module 'tensorflow_core._api.v2.image' has no attribute 'resize_images'"
I am trying to load pspnet pretrained model and encountered the said error.
AttributeError: module 'tensorflow_core._api.v2.image' has no attribute 'resize_images'
Could please guide me how resolve this?
Config: Windows10
using Juyter notebook
tensorflow version: 2.0.0
code source : https://github.com/divamgupta/image-segmentation-keras
The code used to reproduce the issue is:
import keras_segment

[2019-10-26 03:14] AngledLuffa commented on #26289
It would be extremely useful to have CUDA 10.1 compatibility.  Centos 8, for example, only has prebuilt 10.1 installers from nvidia.  The end result is that if you want to use centos, at some level you experience some inconvenience.  Can't use the latest centos, which means none of the latest libraries, or you have to rebuild TF yourself, or you are stuck without gpu when using TF.

Is there a pro

[2019-10-26 04:24] JiaxiangBU opened #33737 "AttributeError: module 'tensorflow' has no attribute 'matrix_band_part'"
There is a past issue #30297, but no updates. The reproducible example is here.

https://github.com/bojone/bert4keras/blob/eb4dcffd72b9ba08a7ccfb11aee8cdfaeed2d1df/bert4keras/bert.py#L292-L300

I get this error `AttributeError: module 'tensorflow' has no attribute 'matrix_band_part'`, when I run sorta code in Jupyter notebook.
Surely, I install 2.0.0 Tensorflow on Windows 7.  Here is my session in

[2019-10-26 04:30] youngkyle2019 commented on #30794
It worked ! Thanks !

One problem left though is that, by using tflearn package, we will miss new features in tensorflow 2.0 and later versions. Would tflearn be upgraded in the future ?

[2019-10-26 04:49] kshaeffer commented on #33733
I can not run a virtual environment. I installed r2.0 anyway to check it out. I get this message:

2019-10-26 04:35:59.464054: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 AVX512F FMA

So I need to build from source.

[2019-10-26 06:39] ThomasKlein18 commented on #29704
PINTO0309 package worked for me as well, thank you! Pi B+ Raspbian 10 Buster. At first, when importing TensorFlow, I saw the error
"libf77blas.so.3: cannot open shared object file: No such file or directory"
but `sudo apt-get install libatlas-base-dev` solved the problem - that's probably unrelated to the issue at hand, just mentioning this in case somebody else has the same problem.

[2019-10-26 06:51] PINTO0309 commented on #29704
I'll let you know just in case. My repository README already mentions installing libatlas-base-dev for usage.
**https://github.com/PINTO0309/Tensorflow-bin/#usage**

[2019-10-26 07:08] masapasa opened #33738 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
ubuntu 18.04
- Mobile device (

[2019-10-26 07:19] pandrey-fr commented on #30794
I cannot speak for `tflearn` developers, but I think the all idea of making TF 2.0 revolve around the built-in keras implementation (which is also available in the latest 1.x versions) is to make it easier to use tensorflow without requiring an external high-level wrapper. In other words, I do not know whether `tflearn` will allow to run TF 2 as backend, but I think you can probably envision makin

[2019-10-26 07:21] wubowen416 opened #33739 "add a new class for realizing Early Stopping"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0 but this is for keras.
- Are you willing to contribute

[2019-10-26 07:39] AlirezaAlipour opened #33740 "Why Isn't TensorFlow Website Accessible from Iranian IP Addresses?"
![Screenshot from 2019-10-26 10-34-20](https://user-images.githubusercontent.com/14098141/67616056-f9f79c80-f7e0-11e9-9499-fb4c3d008fee.png)

I'm Iranian, from Iranian IP address, TensorFlow.org is not accessible?

Now, I have the following questions:

- If I use TensorFlow in my projects, is it illegal?
- Can you address the article that base on that you have prohibited access to TensorFlow.org f

[2019-10-26 07:42] peter197321 commented on #33626
Ok. How about tf-lite only for inference but not full fledged tf?

Dne pá 25. 10. 2019 22:52 uživatel Nupur Garg <notifications@github.com>
napsal:

[2019-10-26 08:08] anshkumar opened #33741 "Copy one graph to another"
I want to copy a loaded graph to another one. Here, is what I'm trying to do

[code]

Now I want to copy `tf_input1`, `tf_scores1`, `tf_boxes1`, `tf_num_detections1` to another graph. Currently I'm trying to use `copy_op_to_graph` (depricated) as follows:

[code]

But the python kernel is getting killed without any error.

System informations:
OS: Mac OS 10.13.6
Tf veriosn: 1.13.1
RAM: 8GB

[2019-10-26 08:18] sylee957 opened #33742 "Cannot import tensorflow.math, tensorflow.linalg and much more"
**System information**

**Describe the current behavior**

2.0.0 behavior

[code]

I am unable to import as above, but only `tensorflow.math.sin` works when I import tensorflow.

**Describe the expected behavior**

1.13 and 1.14 behavior
[code]
[code]

**Code to reproduce the issue**

**Other info / logs**

[2019-10-26 08:26] ThomasKlein18 commented on #29704
Oh thanks! I overlooked that, I just pip-installed the .whl file you linked to above, which actually caused a problem because I hadn't installed h5py. But by reading your README I was able to resolve that problem! Thanks again!

[2019-10-26 08:36] luvwinnie commented on #33094
so is this been fixed to tensorflow-gpu 2.0 stable build? or i have to install another build?

[2019-10-26 09:28] optiluca commented on #33686
I've played around with the gist, I think I'd made a mistake in my example script (not assigning the name of the last layer to match the name of the key in the loss dictionary).  I've made a new repro script [here](https://colab.research.google.com/gist/optiluca/83eeca1cd238ed119d6a6185bd45c635/untitled298.ipynb), the issue still stands.  Could it be that the real issue is that the layer names are

[2019-10-26 10:02] ThomasKlein18 commented on #22480
If you run into this when trying to load a model stored in a .h5-file, e.g. one created using model.save for a tf.keras.Sequential model, the problem might simply be that h5py is not installed. To solve that problem, run `pip3 install h5py`.

[2019-10-26 10:04] marcel1991 commented on #26501
@4p0pt0Z already showed a complete example in his reply:

For example you can use g++ to compile the minimal.cc file and then link the static library with the -L flag. I think its best if you read something about general compilation and linking of libraries in linux. It's just a general compilation pipeline nothing special related to tensorflow.

[2019-10-26 10:09] solalatus commented on #33721
Also experienced this, also with LSTM models. Training runs for a while eg. 100ish batches, then this error comes up.

[2019-10-26 10:35] AniTho commented on #33721
@solalatus In my case only first batch is executed and then this error is encountered. Can it be something related to GPU memory?

[2019-10-26 10:57] deeplogix-ashutosh commented on #33545
I am facing same problem .Please could you help me for the same

[2019-10-26 11:09] AbhishekS-2099 opened #33743 "Hyperlink in codelab redirects to a 404 page"
#32417  URL(s) with the issue:

https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/?utm_campaign=chrome_series_machinelearning_063016&utm_source=gdev&utm_medium=yt-desc#1

## Description of issue (what needs changing):
Update the link to redirect to the latest version of Tensorflow

### Clear description

Always better to redirect to a page that helps out a user, rather than keep

[2019-10-26 11:11] anthonyatp commented on #33693
@oanush
So im actually running the Image captioning tutorial: https://www.tensorflow.org/tutorials/text/image_captioning#download_and_prepare_the_ms-coco_dataset

the 2 main differences are I am using a different dataset of images and captions and I am running this on google ai platform:
[code]

I have tensorflow version 2.0 installed in my virtualenv

[2019-10-26 11:11] vicpara commented on #32333
Any update on this? Is the problem in the `SparseCategoricalCrossentropy` method or the stacked layers output?

[2019-10-26 11:12] loretoparisi opened #33744 "Tensor zero_padding2d_1_input:0, specified in either feed_devices or fetch_devices was not found in the Graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
_custom_
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
none
- TensorFlow installed from (source or binary):
_binary_
- TensorFlow version (use command below):
`v1.

[2019-10-26 11:34] solalatus commented on #33721
Well, not the first batch, the first couple hundred batches. So nothing coming from the graph definition, more like some memory leak or operations bug.

[2019-10-26 11:39] netw0rkf10w commented on #33651
@yashk2810 Looks good. Thanks a lot!

[2019-10-26 11:52] sheldon-cb commented on #26209
I had the same problem with tf 1.14 on Ubuntu 19.10 with Cuda 10.1

`print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))`

If it reports 0 GPUs, it should list libraries that it can't find. I got it working by creating symlinks from the 10.1 libraries to the 10.0 names that TensorFlow reported was missing

`sudo ln -s /usr/lib/x86_64-linux-gnu/libcusparse.so.10.

[2019-10-26 11:53] Frozander commented on #33742
I think changing the code to:
[code]
fixes the issue

[2019-10-26 11:58] loretoparisi commented on #33744
**[NOTE]**
According to [here](https://stackoverflow.com/questions/54652536/keras-tensorflow-backend-error-tensor-input-10-specified-in-either-feed-de), I have tried to run `model.predict` in my session so I did

[code]

but now getting a

[code]

[2019-10-26 12:07] anthonyatp commented on #33693
when I run locally the shape of 'batch_features' is `(16, 8, 8, 2048)` but in the cloud it seems its `(?, 8, 8, 2048)` and therefore i am getting Dimension(None)

[2019-10-26 12:21] tensorflowbutler commented on #33130
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-26 12:25] loretoparisi commented on #33744
**[NOTE]**
I was able to solve this issue creating a new `global session` and then setting it to keras before loading the model as stated in https://github.com/tensorflow/tensorflow/issues/28287#issuecomment-495005162:

[code]

and then passing this shared session to all TF /Keras models:

[code]

Instead of using `global session` object I'm using a singleton object that retains `this.tf_session`,

[2019-10-26 12:48] #33651 closed

[2019-10-26 12:52] abratchik commented on #29252
Hi @breadbread1984, could you please elaborate a bit how you managed to work around this issue? I'm trying to run the mnist.py from models/official/mnist and it fails in the  eval_input_fn() for exact same reason - no  make_one_shot_iterator() method.

Here is the code that fails:
[code]

[2019-10-26 13:02] anthonyatp commented on #33693
maybe its the way I am loading the json file containing image ids and captions?

`with tf.io.gfile.GFile("gs://{BUCKET_NAME}/captions.json", 'r') as f: annotations = json.load(f)`

[2019-10-26 13:11] breadbread1984 commented on #33336
the tf.sparse.sparse_dense_matmul can only handle dot product of two 2-rank tensors. the function is too constrained. I would appreciate if dot product between higher rank tensors are supported. besides, I would like to have auto broadcast of sparse_dense_matmul supported. Thx.

[2019-10-26 13:14] breadbread1984 commented on #33336
if sparse_dense_matmul can't support dot product between matrices over rank 2. please add a tf.sparse.map_fn which support tensor slice over sparse tensor. Or some operations are impossible.

[2019-10-26 13:15] MadsAdrian commented on #33742
Duplicate to #33022.

[2019-10-26 13:19] cxwx opened #33746 "cannot import tensor flow at newest Mac OS X system catalina!"
**System information**
- OS Platform and Distribution (e.g., Mac OS X catalina):
- TensorFlow installed from ( binary PyPi):
- TensorFlow version: 2.0.0
- Python version: 3.7
- Installed using pip

import tensorflow

[libprotobuf ERROR google/protobuf/descriptor_database.cc:394] Invalid file descriptor data passed to EncodedDescriptorDatabase::Add().
[libprotobuf FATAL google/protobuf/descriptor.c

[2019-10-26 13:21] breadbread1984 commented on #29252
@abratchik you can create iterator with

[code]

[2019-10-26 13:29] #33742 closed

[2019-10-26 14:15] seanpmorgan commented on #33614
Since https://github.com/tensorflow/addons/pull/621 is still failing for one edge case, thought I'd re-open this for tracking.

[2019-10-26 15:05] Yablon commented on #33673
@jvishnuvardhan my code is a little bit complicated and I try to simplify it like the following codes.

I use the official tensorflow_addons module in my code, which is in the original tf.contrib module.

I have to get the initial input for the decoder, and I want to use the batch_size from the input data, because I don't want a fixed batch in my training.

My code goes wrong and I spend a day to

[2019-10-26 15:29] tehilden commented on #33730
I have this same issue on Ubuntu 19.04. Only happens with venv install. Works with system Python.

[2019-10-26 16:00] donttal opened #33747 "TF2.0 TPU Failed copying input tensor from /job:localhost/replica:0/task:0/device:CPU:0 to /job:worker/replica:0/task:0/device:CPU:0 in order to run AutoShardDataset: Unable to parse tensor proto"
I am trying to run the MNIST example on the TPU using tf2.0. However, the following error occurred.
InternalError: Failed copying input tensor from /job:localhost/replica:0/task:0/device:CPU:0 to /job:worker/replica:0/task:0/device:CPU:0 in order to run AutoShardDataset: Unable to parse tensor proto
Additional GRPC error information:
{"created":"@1572103296.361904413","description":"Error received

[2019-10-26 16:19] aravic opened #33748 "Using tf.contrib.framework.nest functions in TF2.0"
The tf.contrib.framework.nest module seems to have been moved to tf.nest after contrib has been deprecated in TF2.0.

However, not all the functions have been exported.
tf.contrib.framework.nest (https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/contrib/framework/nest) has the following functions:
assert_same_structure(...)
assert_shallow_structure(..)
flatten(...)
flatten_dict_items(..

[2019-10-26 17:11] astier commented on #26813
@kong13661 so it is a tf issue.

[2019-10-26 18:10] astier commented on #33178
I also have a memory leak since 1.14 up to 2.0. On 1.13 the leak disappears.

[2019-10-26 18:53] BilalSaeedLM10 commented on #13715
after running the script:

ERROR: Failed to import the TensorFlow module.

WARNING! This script is no longer maintained!
=============================================
Since TensorFlow 1.4, the self-check has been integrated with TensorFlow itself,
and any missing DLLs will be reported when you execute the `import tensorflow`
statement. The error messages printed below refer to TensorFlow 1.3 and e

[2019-10-26 19:54] drag05 commented on #33695
@JulianOrteil

 Thank you for your time!

I am a bit confused by your answer as my question referred to the necessity of co-existence of both NVIDIA CUDA and conda `cudatoolkit` installations.

Since your answer to this question is no, am I correct to uninstall Nvidia CUDA/CUDNN and leave the conda `cudatoolkit` installation ONLY?

If it is correct to remove NVIDIA CUDA/CUDNN installation, then sh

[2019-10-26 20:05] alshedivat commented on #33125
@gowthamkpr, the stackoverflow answer provides a hacky solution customized for the Dense layer. Following that approach, I'd need to write a whole library of such lambda layers for each layer type in Keras. Using `tf.variable_scope` in TF 1.x doesn't require that.

I'd like to see if there is a nice way to implement a Layer or Model wrapper in TF 2.0 that can take care of building the model graph

[2019-10-26 20:32] sivi29y commented on #2040
i had this problem when trying to run the command:
     ./bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
outside of the tensorflow installation dir when back there it did work without any problem

[2019-10-26 21:09] amangalampalli opened #33749 "Pretrained Inception V4 to Keras Application Folder"
Would it be possible to add Inception V4 to the Keras Applications folder?

System/User Specifics: Tensorflow 2.0 with `tf.keras` module

Due to recent discoveries made in neural networks and also according to many benchmarking standards, Inception V4 is one of the best networks available with very high accuracies in both Top 5 and Top 1.

Inception V4 should be included because it has been consis

[2019-10-26 21:28] cxwx commented on #33746
after I reinstall all of the pip package, problem disappeared! not clearly known why.

[2019-10-26 21:28] #33746 closed

[2019-10-26 22:54] dynamicwebpaige commented on #7712
Thank you for suggesting this feature request! Though parametric ELU would not necessarily fit in `tensorflow/tensorflow`, I'm sure it would be a welcome contribution to activations in [Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/activations).

@seanpmorgan for awareness; am going to transfer this issue to `tensorflow/addons`.

[2019-10-26 23:04] dynamicwebpaige commented on #9503
Many ops have been added to [`tensorflow/io`](https://github.com/tensorflow/io/tree/master/tensorflow_io) to support Google Cloud (as well as other cloud platforms!).

@yongtang, do you know if Spanner has been added?

[2019-10-26 23:15] dynamicwebpaige commented on #9001
Though this is outside of the scope of layers in TensorFlow core, I'm sure that Stochastic Depth would be a welcome addition to [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/layers).

Transitioning the issue to `tensorflow/addons` now; @seanpmorgan for visibility.

[2019-10-26 23:20] dynamicwebpaige commented on #8744
Closing this issue, as the PR for DC-ASGD was merged ([#9551](https://github.com/tensorflow/tensorflow/pull/9551)). Thank you! 👍

[2019-10-26 23:20] #8744 closed

[2019-10-26 23:27] dynamicwebpaige commented on #10737
Though supporting `tf.image` inversions is outside of the scope of TensorFlow Core, it might be a welcome contribution to image processing in [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image).

Transferring this issue to the `tensorflow/addons` repo; @seanpmorgan for visibility.

[2019-10-26 23:35] dynamicwebpaige commented on #10215
Though this is outside the scope of `tf.keras`, a linear-chain CRF layer might be a welcome addition to [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/layers).

Transferring the issue; @seanpmorgan for visibility.

[2019-10-26 23:55] dynamicwebpaige commented on #9712
Though adding dimensions is outside the scope of `tf.image` in TensorFlow Core, it might be a welcome addition to the image operations in [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image). If you haven't already seen it, I'd also strongly recommend taking a look at [TensorFlow Graphics](https://github.com/tensorflow/graphics)! 😄

Transferring this issue

[2019-10-26 23:57] vicpara commented on #32912
I have the same problem and I confirm `fit_generator` solves the problem while `fit` fails with
[code]

Below my full code that reproduces the problem:
[code]

[2019-10-27 00:02] dynamicwebpaige commented on #11294
Though adding more optimizers from SciPy is outside the scope of TensorFlow Core, `basinhopping` and `anneal` might be welcome additions to optimizers in [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/optimizers).

Transferring this issue to `tensorflow/addons`; @seanpmorgan for visibility.

[2019-10-27 00:02] netw0rkf10w commented on #33649
Hi @gadagashwini! Sorry for the delay, because this issue occurred randomly, I have been trying to investigate further to make sure it is reproducible.

First of all, the code can be found in [this Colab notebook](https://colab.research.google.com/drive/1qpCxBeF-2GEjPkvbcQDITC7Gi_9X-oTc). Note, however, that **the problem does not occur when running the notebook, because it only occurs when traini

[2019-10-27 00:23] yongtang commented on #9503
@aidan-plenert-macdonald @dynamicwebpaige We don't have Cloud Spanner support in tensorflow/io yet (BigQuery/PubSub are already supported), though we could certainly add CloudSpanner as a feature in tensorflow/io.

[2019-10-27 00:24] yongtang commented on #9503
Opened an issue tensorflow/io#592  for tracking the Cloud Spanner support for tensorflow.

[2019-10-27 01:19] leslie-fang-intel commented on #33630
TensorFlow version: 1.15
[code]
Test Code
[code]
which returns true.

[2019-10-27 01:28] indranaut commented on #33615
This issue has finally been solved. A complete description of the whole process can be found at
https://medium.com/@ujjwalaryan/compiling-tensorflow-from-the-source-when-your-compiler-is-in-a-non-standard-location-194fecc92153

[2019-10-27 01:28] #33615 closed

[2019-10-27 01:31] dynamicwebpaige commented on #18823
@mdanatg, @alextp - is this something that would still be useful to add to AutoGraph?

[2019-10-27 01:51] dynamicwebpaige commented on #18112
This sounds more like a bug than a feature request.

`tf.images.resize_bicubic` is no longer supported in TensorFlow, and `scipy.misc.imresize` has been deprecated. Can someone reproduce with `tf.image.resize(..., method=bicubic)`, and confirm that there is still a discrepancy with OpenCV?

[2019-10-27 01:58] dynamicwebpaige commented on #21765
Though random augmentations are outside of the scope of supported image operations in TensorFlow Core, it might be a welcome addition to [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image).

Migrating this issue to `tensorflow/addons`; @seanpmorgan for visibility.

[2019-10-27 01:59] sxsheng opened #33751 "Resize layers in model producing LookupError when computing gradients"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04
- TensorFlow version (use command below):2.0
- Python version:3.6.8
- CUDA/cuDNN version:10.0/6.7.0
- GPU model and memory:GTX 1080ti

**Describe the current behavior**
Currently, I'm getting `LookupError: gradient

[2019-10-27 02:41] JulianOrteil commented on #33695
@drag05

Sorry for the confusion! I installed TF directly into Python installed in my user not a conda environment.

If you installed Tensorflow using a conda environment, then no you should not need the NVIDIA CUDA/cuDNN files. You can also remove them from path, in fact you should to keep your path size down.

Just make sure you do not remove any Anaconda paths.

As to your last question, I am u

[2019-10-27 02:44] dynamicwebpaige commented on #24779
Closing this issue, as the feature has been added in PR #25422.

Thanks for your contribution to TensorFlow! 😄

[2019-10-27 02:44] #24779 closed

[2019-10-27 02:53] dynamicwebpaige commented on #24827
Gabriel is right: the semantics for `backend.py` in stand-alone Keras support floats, integers, and tensors, while tf.keras [only supports floats and ints](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/backend.py#L2311-L2329).

This would just need a copy / paste of the changes in [`tensorflow_backend.py` and `backend_test.py`](https://github.com/keras-team/keras/pull/

[2019-10-27 03:11] anshkumar opened #33752 "Invalid loop structure: Loop "Preprocessor/map/while/while_context""
I'm trying to map the output of one graph to the input of another but I'm getting following error while trying to do so. I'm using `export_meta_graph` and `import_scoped_meta_graph` with `input_map`. Following is my code :

[code]

The last line is throwing me following error:

[code]

My specifications are:
OS : Mac 10.13.6
TF version: 1.13.1

[2019-10-27 03:22] xiang-zhe commented on #29310
@edwardyehuang
it seems that  load_weights(.h5, name=True) not work when changing the one layer of  subclassed model name(in faster rcnn) ,it still raise erro about shape dismatch:
[code]
Layer #4 (named "b_box_head") including some layers, and i change the one layer name from 'rcnn_class_logits' to 'new_rcnn_class_logits' according to the KERAS site, any helps? thanks
ubuntu 16 +python 3 + tf2

[2019-10-27 03:26] drag05 commented on #33695
@JulianOrteil

Thank you for the prompt response!
I have uninstalled Nvidia CUDA/CUDNN and removed all pertaining environment variables.

Tested tensorflow-gpu/keras on RStudio and still works.

Also tested the gaming and still woks.

I guess tensorflow-gpu installation instructions would be less confusing if were split into the option of installing from Python OR the option of installing from *co

[2019-10-27 03:26] #33695 closed

[2019-10-27 03:47] LoSealL commented on #18112
@dynamicwebpaige Is `tf.image.resize(..., method=bicubic)` or any other interpolators intended to behaviour exactly the same as **OpenCV**?

As we know **OpenCV**'s `resize` behaves differently with PIL or matlab. For a researcher's point of view, it's more likely to use PIL or matlab's image functions rather than those functions provided in TF or OpenCV.

Moreover, `align_corners` also affects th

[2019-10-27 04:04] Tanmay-Kulkarni101 commented on #17353
I got the same issue while training both MobileNet SSD as well as Faster RCNN for object detection. I tried running both locally on my PC and on Google colab. Can anyone help me out ?

[2019-10-27 06:08] unixist commented on #33442
Running basically the same `model_main.py` command I get:

[code]

[2019-10-27 06:49] yxchng opened #33754 "[BUG] The gradient computed for bias in tf.contrib.slim.conv2d + tf.contrib.slim.batch_norm and tf.contrib.slim.conv2d(normalizer=tf.contrib.slim.batch_norm) are different!"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow version (use command below): tensorflow==1.15.0rc2
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1/7.5
- GPU model and memory: RTX 2080 Ti

**Describe the current behavior**
The grad

[2019-10-27 07:41] rohanreddych commented on #26211
I want to take this issue.

[2019-10-27 08:19] sumiting commented on #30191
me too

[2019-10-27 08:31] skearnes opened #33755 "Dense variable constraints are not allowed with sparse gradients"
I'm training a simple document embedding model with the Keras API in TF 2.0. When I try to add `embeddings_constraint=tf.keras.constraints.UnitNorm(axis=1)` to an `Embedding` layer, I get the following error (truncated):

[code]

I have verified that the variable is not sparse; the `Embedding` layer creates a dense matrix to hold the embeddings. However, reading [the code](https://github.com/tenso

[2019-10-27 08:42] azraar commented on #7879
some problem how can i solve it
AttributeError: 'MY_Model' object has no attribute 'summary'

[2019-10-27 09:23] sayakpaul commented on #7994
Hi @prakhar21. Did you happen to find a way around on this? I am specifically interested in how could we perform the re-training part using the new [Save and Load](https://www.tensorflow.org/tutorials/keras/save_and_load) methodologies with Keras models.

[2019-10-27 09:27] janosh opened #33756 "Docs do not link to source"
One really useful feature in the sklearn docs is that each and every item has a link back to its source on GitHub. For example, see [RandomForestRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html):

Would be nice if the TF docs could do the same.

[2019-10-27 09:29] sayakpaul opened #33757 "Inclusion of a model re-training example"
## URL(s) with the issue: [https://www.tensorflow.org/tutorials/keras/save_and_load](https://www.tensorflow.org/tutorials/keras/save_and_load)

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/tutorials/keras/save_and_load

## Description of issue (what needs changing):

Since model re-training is quite vital in both applied and research-based environments,

[2019-10-27 09:36] azrnzhrl commented on #22300
Hi, could anyone help with the problem below? :( It'd be a great booster as im really just a newby. Similar or same problem may have shared with the community but im really new with this.

ImportError                               Traceback (most recent call last)
d:\python\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py in swig_import_helper()
     13         try:
---> 14

[2019-10-27 10:33] m01 opened #33758 "Update grpc dependency for glibc 2.30 compatibility"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Arch Linux**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **n/A**
- TensorFlow installed from (source or binary): **source**
- TensorFlow version: **2.0.0**
- Python version: **3.7.4**
- Installed using virtualenv? pip? conda?: **n/A**
- Bazel version (if compiling

[2019-10-27 11:06] khaliltalib277 commented on #22300
Now I am using tensorflow as a backend with Keras.

Best regards,

Khalil Ur Rehman
Student at Jiangsu University, China

________________________________
From: azrnzhrl <notifications@github.com>
Sent: Sunday, October 27, 2019 5:43:14 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: khaliltalib277 <khaliluaf@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [tensorfl

[2019-10-27 12:06] anthonyatp commented on #33693
ok I think I have narrowed down the problem to the version of tensorflow. I had no problems running locally because I have tf version 2 installed (with python 3.8), however, the latest supported version of tf on google ai platform is v1.14.

I downgraded locally to v1.14 and now I am getting the same error as when I run the model on the google ai platform.

So I assume parts of the TensorFlow API

[2019-10-27 12:21] tensorflowbutler commented on #32998
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-27 12:22] nedbat opened #33759 "What is the right way to use coverage.py with Tensorflow?"
I apologize if this is the wrong way to ask this question. I'm the maintainer of coverage.py, for measuring code coverage in Python projects.  A user wrote an issue for me: https://github.com/nedbat/coveragepy/issues/856

After digging into it, I see that his tf.keras.Model.call() function is not executed directly, but is transformed into a temporary file, and executed there.  So coverage.py repor

[2019-10-27 13:10] mahmoodn commented on #33238
@jvishnuvardhan @rmothukuru
Did you have time to verify the issue. Do you have any idea what can cause this issue?

[2019-10-27 13:13] rafiqhasan commented on #28976
Facing a similar issue. Created a Keras model with DenseFeatures layers using tf.feature_column array. After converting Keras model to TF estimator and running the train_and_evaluate, the system gives error

`The dictionary passed into features does not have the expected inputs keys defined in the keras model.`

Code Snippet:
[code]

Error:

[code]

[2019-10-27 13:21] HaFred commented on #22278
I suggest you refer to #22106 https://github.com/tensorflow/tensorflow/issues/22106#issuecomment-428409506 for solution.
It would help change the input tensor.

[2019-10-27 13:21] anshkumar commented on #33752
Thanks to the issue reported [here](https://github.com/tensorflow/tensorflow/issues/22162) and comment [here](https://github.com/tensorflow/tensorflow/issues/22162#issuecomment-428091121), I was able to fix this error. It does some renaming with the following code:

[code]

Was this fixed in recent versions of tensorflow?

[2019-10-27 13:22] HaFred commented on #29054
I solved the same problem by doing as this https://github.com/tensorflow/tensorflow/issues/22106#issuecomment-428409506

[2019-10-27 13:32] HaFred commented on #23940
I solved the same problem by doing as this https://github.com/tensorflow/tensorflow/issues/22106#issuecomment-428409506

[2019-10-27 14:11] feranick commented on #32998
It is still an issue in that I can't compile with optimization flags. Not sure if anybody is doing much about it, as it seems this is a compiler issue.

[2019-10-27 14:25] tlkh commented on #33090
@jvishnuvardhan Thanks. Sorry for the late response, I was tied up with other matters. I have figured out that the actual issue is with the Keras Applications ResNet model, which has the BatchNorm layers, which **although set to not trainable, had different behavior during train and evaluate**. This results in the essentially random evaluation behavior. I will open a separate issue.

[2019-10-27 14:58] drag05 commented on #25807
Hello @tonandr, further to my earlier answer, you may want to check again this likely solved issue #33695 now closed. It clarifies some aspects on installing TensorfFlow from Python using Nvidia CUDA/CUDNN or installing TensorFlow from *conda using `cudatoolkit` in which case the Nvidia CUDA installation is not necessary.

[2019-10-27 15:20] s2pstefan commented on #33696
Replicates for me as well:

- Windows 10
- TensorFlow GPU installed from PIP installer:
- TensorFlow version: 2.0.0 (v2.0.0-rc2-26-g64c3d382ca)
- Python version: 3.7.3
- CUDA/cuDNN version: 10.1
- GPU model and memory: Geforce GTX 1080 6GB

Code:

[code]

Logs:

Using TensorFlow backend.
2019-10-27 17:20:13.357299: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened

[2019-10-27 16:07] abdou31 commented on #33574
I have used a Github project "CNN facial landmark" for detecting eye region ( Resnet Architecture ).
I have trained my model with a dataset ( annotated with 40 points ).
That was the graph loss:

![image](https://user-images.githubusercontent.com/19480228/67637519-aae26200-f8db-11e9-9361-e0ed2c8a9e17.png)

I have tested the model on TestSet images and the result given is below:

The blue points: P

[2019-10-27 16:09] jliu1235 commented on #30191
This works for me, thanks!

[2019-10-27 16:22] s2pstefan commented on #33696
I could reproduce the issue as well.

**System information**

- Windows 10
- TensorFlow GPU installed from PIP installer:
- TensorFlow version: 2.0.0
- Python version: 3.7.3
- CUDA/cuDNN version: 10.1
- GPU model and memory: Geforce GTX 1080 6GB

**Code**

[code]

Logs:

Using TensorFlow backend.
2019-10-27 18:19:50.390966: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successful

[2019-10-27 16:23] auliarananana commented on #27819
i have a same issue did you solve it ?

[2019-10-27 17:02] cobalamin commented on #17411
This was ridiculously hard to find on managed cluster nodes, since the OS kills the related python processes before they can even write and flush this "Illegal instructions" line to a output log file, and the exit code of the python process seems to be 0.

I was also using 2.0.0-beta1, currently finding out if replacing it with 2.0.0 fixes this.

[2019-10-27 17:06] l0ophole opened #33762 "Cannot Get Older Versions to Build"
**System information**
- Arch Linux
- TensorFlow installed from source
- TensorFlow version: 1.13.0
- Python version: 3.7
- Not Installed using virtualenv, pip or conda
- Bazel version: 0.25.3
- GCC/Compiler version: 9.2.0
- CUDA/cuDNN version: N/A
- GPU model and memory: RS880M (Mobility Radeon HD 4225/4250) (256MB)

I've been trying to build version 1.13.0 of tensorflow for the past two days. I

[2019-10-27 17:23] l0ophole commented on #33758
I'm having this exact issue. I've been trying to build version 1.13.0 for the past two days.

[2019-10-27 17:37] surrutiaquir commented on #32139
Same issue and the suggested solution doesn't work

[2019-10-27 17:43] dynamicwebpaige commented on #2169
This sounds like a great feature! Adding support for unpooling is outside of the scope of TensorFlow Core, but would be a fantastic addition to [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/layers).

Transferring this issue now; @seanpmorgan for visibility.

[2019-10-27 18:54] AlexisBRENON commented on #33105
OK. The observed behavior is probably linked to the prefetching mechanism.
Thanks for the clarification about "`1` vs. `None`".

[2019-10-27 18:54] #33105 closed

[2019-10-27 19:10] RogerWeihrauch commented on #26289
Hi all
Since my own experiences on trying and failing installations with many different combinations of PythonX.x.x, PipX, Debian 9.x/10.x and CUDA 10.0.x/10.1.x, I think this is NVIDIA's part on solution. Since the actual errors with latest AND legacy releases of TF (as described from many users above) can only be solved by hands-on doing symlinking, the actual quality level NVIDIA shows on its h

[2019-10-27 19:22] masapasa commented on #33730
ok, i removed the current venv and created new venv. It is working now.

[2019-10-27 19:22] #33730 closed

[2019-10-27 19:28] netw0rkf10w opened #33763 "Better (simpler!) model checkpointing"
**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
The current `tf.train.Checkpoint` is really a bit too complicated and not easy to use. Suppose that I want to save **the best model** (that has the best validation accuracy) during my **custom training loop**, and that I want

[2019-10-27 19:30] netw0rkf10w commented on #33763
FYI this is a hack that I did to achieve what I want, which may be useful to others:

[code]

[2019-10-27 20:32] netw0rkf10w opened #33764 "Unnecessary tf.distribute.MirroredStrategy() scopes in the distributed custom training tutorial"
##  URL(s) with the issue:
https://www.tensorflow.org/tutorials/distribute/custom_training

## Description of issue (what needs changing):
In the tutorial, `with strategy.scope()` appears almost everywhere, which gives the impression that it is required that those locations. However, when checking [this example](https://github.com/tensorflow/examples/blob/master/tensorflow_examples/models/densenet

[2019-10-27 20:33] l0ophole commented on #33758
I may have found a workaround. I downloaded the tarball for the version of grpc that the version of tensorflow that I'm compiling uses. I extracted the tarball to ~/grpc and manually changed gettid to sys_gettid in the source code. It was only three or four edits.

I set up a local repository of grpc and added it to the WORKSPACE file as a local_repository. I commented out the grpc repository in t

[2019-10-27 20:34] grewe opened #33765 "Problem trying to convert from tf keras model to tflite does not work/let save"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO --I can sav

[2019-10-27 20:36] wenting-zhao commented on #1325
Tested with v1.15 and this issue still exists.

[2019-10-27 20:46] zheyuanWang opened #33766 "Failed to place the graph without changing the devices of some resources."
- Have I written custom code :NO
- Linux Ubuntu 18
- TensorFlow installed from (source or binary): from pip install
- TensorFlow version (use command below):
[code]
Hi,

I followed the guide of https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/cityscapes.md

after converting the data, I gave the provided command for trainin:
[code]

But I got an error of "Failed to place the

[2019-10-27 21:50] dynamicwebpaige commented on #8911
PathNorm and PathSGD would be great adds as optimizers in [TensorFlow Addons](https://github.com/tensorflow/addons/tree/master/tensorflow_addons/optimizers), but are outside of the scope of the TensorFlow Core API.

Transferring this issue to `tensorflow/addons`; @seanpmorgan for visibility.

[2019-10-27 21:56] witoldszejgis commented on #32708
You use enable_eager_execution with earlier versions of tensorflow

[2019-10-27 22:06] 1duo commented on #33573
Got a similar issue. It seems converting the LSTM layer causes this `ValueError` error.

[2019-10-27 22:08] olk opened #33767 "AutoGraph: Error transforming entity / AssertionError: Bad argument number for Name: 3, expecting 4"
**System information**
- OS Platform and Distribution: Arch Linux, 5.3.7-arch1-1-ARCH
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- Kerasversion (use command below): 2.2.4-tf
- Python version: 3.7.4
- CUDA/cuDNN version: CUDA 10.1.243 / cuDNN 7.6.2.24
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

various errors/warnings as: "Entity <funct

[2019-10-27 22:55] jaingaurav commented on #33373
@kazimuth: I believe the problem here is the TensorFlow is doing the computation with 32-bit float values whereas numpy is using 64-bit floating almost all the time. Even if you change `np.mean` to use `dtype=float32`, it still seems to perform the calculation with 64-bit float values. If you want the same behavior I suggest you change x_train to use float64 and then cast to float32 in the very en

[2019-10-27 22:55] #33373 closed

[2019-10-27 23:39] dynamicwebpaige commented on #7868
Going to close this issue, as [Keras Tuner](https://github.com/keras-team/keras-tuner) will support RandomSearch, Hyperband, and Bayesian optimization. Thank you for the request, and be on the lookout for KT's 1.0 release!

[2019-10-27 23:39] #7868 closed

[2019-10-27 23:44] dynamicwebpaige commented on #7956
Given that [this endpoint](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/Dirichlet) has moved to TensorFlow Probability, it would make sense to transfer the feature request. 👍

cc: @jvdillon

[2019-10-28 00:35] dynamicwebpaige commented on #6633
Closing this issue, as the capability was introduced in PR #23588.

[2019-10-28 00:35] #6633 closed

[2019-10-28 00:38] dynamicwebpaige commented on #7278
Closing this issue, as the feature seems to have been implemented for both tf.keras and TensorFlow core. Thanks for the suggestion, @aizvorski, and for the add, @danganea! 👍

[2019-10-28 00:38] #7278 closed

[2019-10-28 00:46] dynamicwebpaige commented on #11000
It looks like jemalloc was [removed](https://github.com/tensorflow/tensorflow/commit/52574f95279d8cd5ec22cfc24668b9586e41367a) from the BUILD files recently, along with other dead configuration options. Is it okay to close this feature request, or would it still be useful to have support?

[2019-10-28 00:50] MMMzq commented on #12744
I am embarrassed by my previous behavior, I am very sorry.

[2019-10-28 01:02] dynamicwebpaige commented on #9988
As @johnpjf mentioned, this is [supported](https://www.tensorflow.org/api_docs/python/tf/image/resize), as of TensorFlow 2.0. Thanks for the feature request! Closing now. 👍

[2019-10-28 01:02] #9988 closed

[2019-10-28 01:23] bugzhu commented on #33554
Thank you very much. My problem was solved with your method. @gowthamkpr

[2019-10-28 01:24] dynamicwebpaige commented on #9260
This would be a great feature add, but is outside of the scope of TensorFlow Core and would fall under the jurisdiction of TensorFlow Probability. @jvdillon, could you please transfer the issue?

[2019-10-28 01:27] dynamicwebpaige commented on #9368
Thanks, @ebrevdo! Any updates on second derivatives with `tf.custom_gradient`?

[2019-10-28 01:53] kazimuth opened #33768 "Metrics disappear on subclassed Keras model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab TPU
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7

**Code to reproduce the issue**

[code]

gives:

[

[2019-10-28 02:32] ivankxt opened #33769 "For tensorflow1.15: undefined symbol: ncclBroadcast"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-10-28 02:52] WestbrookZero commented on #33629
thanks you .

[2019-10-28 03:01] AngledLuffa commented on #26289
I agree that it sucks for interfaces to change in a point release, and it's
too bad nvidia hasn't released a working 10.0 on rhel/centos 8.  At the
same time, it's been 8 months since 10.1 came out.  Some timeline for a TF
update would be nice.

On Sun, Oct 27, 2019, 12:17 PM Roger Weihrauch <notifications@github.com>
wrote:

[2019-10-28 03:01] sonfiree commented on #33178
I`m used TF 1.14 and not have a memory leak

[2019-10-28 03:15] #33712 closed

[2019-10-28 03:53] ZxMYS opened #33770 "Is it possible to support gif images in ImageDataGenerator?"
**System information**
- TensorFlow version (you are using):
 2.0.0
- Are you willing to contribute it (Yes/No):
Not sure how to :(

**Describe the feature and the current behavior/state.**
ImageDataGenerator currently ignores gif images in its methods (like `flow_from_directory`), why doesn't it take gif? As gif is also widely used over the Internet it should be supported too.
**Will this change

[2019-10-28 04:18] DBraun commented on #23542
@sitting-duck Thank you for your guide. I've been trying your steps with the latest Tensorflow 2.0 code, protobuf 3.8.0, Bazel 0.26.1, CUDA 10.1, and Visual Studio 2017 Build Tools. I got to the last step where I see unresolved external symbols. I modified the source code of a few files with `TF_EXPORT` and `#include "tensorflow/core/platform/macros.h"` Then I redid the line for building tensorflo

[2019-10-28 04:32] Giszy commented on #29252
[code]

[2019-10-28 04:38] SuperCrystal opened #33771 "Val loss behaves strange while using custom training loop in tensorflow 2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, I defined

[2019-10-28 04:41] SuperCrystal commented on #33771
I thought it's because of some problems with ```tf.keras.layers.BatchNormalization()``` but I didn't find the way to solve it.

[2019-10-28 04:49] l0ophole commented on #33758
[code]

[2019-10-28 04:51] DragonX081mk2 opened #33772 "Init node weights/Assign doesn't exist in graph happens when convert to tflite model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
the same code as
https://colab.research.google.com/gist/jvishnuvardhan/bc515f885097fc6fd01076a3859e7e5b/tf_31609_tflite.ipynb#scrollTo=XVatsdZZuL_x

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.6
- TensorFlow installed from (source or binary): source
-

[2019-10-28 04:59] l0ophole commented on #33762
[code]

I found a workaround. I downloaded the tarball for the version of grpc that the version of tensorflow that I'm compiling uses. I extracted the tarball to ~/grpc and manually changed gettid to sys_gettid in the source code. It was only three or four edits.

I set up a local repository of grpc and added it to the tensorflow WORKSPACE file as a local_repository. I commented out the grpc repos

[2019-10-28 05:13] zh794390558 commented on #28760
demo for  custom dynamic rnn with autograph .

[2019-10-28 07:02] loginaway commented on #24712
I came up with the same problem. Still have no idea about it. My environment is tensorflow-gpu 1.13, cuda 10.0, ubuntu 16.04

[2019-10-28 07:22] InitialWang commented on #18358
After converting .ckpt to .pb, when I used the pb files, I had the same problem, there are my error "ValueError: NodeDef expected inputs '' do not match 1 inputs specified; Op<name=Const; signature= -> output:dtype; attr=value:tensor; attr=dtype:type>; NodeDef: {{node rpn_path_drop/case/cond/Const}} = Const[dtype=DT_FLOAT, value=Tensor<type: float shape: [] values: 1>](rpn_path_drop/case/cond/Swit

[2019-10-28 07:23] InitialWang commented on #18358
After converting .ckpt to .pb, when I used the pb files, I had the same problem, there are my error "ValueError: NodeDef expected inputs '' do not match 1 inputs specified; Op<name=Const; signature= -> output:dtype; attr=value:tensor; attr=dtype:type>; NodeDef: {{node rpn_path_drop/case/cond/Const}} = Constdtype=DT_FLOAT, value=Tensor<type: float shape: [] values:1>(rpn_path_drop/case/cond/Switch:

[2019-10-28 07:37] rickrickrickyyy commented on #27516
https://www.tensorflow.org/guide/migrate#low-level_variables_operator_execution

[2019-10-28 07:40] xenogew opened #33774 "tflite_convert always required '--saved_model_dir --keras_model_file' arguments, even I specified '--graph_def_file'"
## Computer spec:
-  Windows 10 update 1903 (build 18362.449)
-  Python 3.7 (run with venv)
-  Powershell Core console under VS Code
- Tensorflow 2.0.0 (install with `pip`)

## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/lite/convert/cmdline_examples

## Description of issue (what needs changing):

Example defined what I can't f

[2019-10-28 08:46] soldier828 commented on #31973
Yes, too mad with this issue

[2019-10-28 08:46] #33713 closed

[2019-10-28 08:50] NabinAdhikari674 commented on #32139
Same issue here. Doesn't work even after installing "ensorflow_probability==0.8.0rc0"

[2019-10-28 09:05] Zhengtq opened #33775 "For tf2.0, why both tf.keras and tf.nn exist in the new version of Tensorflow?"
I found that tf.keras and tf.nn could do the same thing, so why keep both tf.keras and tf.nn existed in the new version of tf2.0?

[2019-10-28 09:08] rohanreddych commented on #26211
I made a pull request please review and give feedback

[2019-10-28 09:12] georgealexandruvlad commented on #33684
@bfontain Thank you! I will use your solution in the meantime. Is there any way I can follow the progress with colab's TPUs?

[2019-10-28 09:13] igarag commented on #32139
Hi.

Same issue. As @NabinAdhikari674 says, `tensorflow_probability` doesn't work. In my case the problem comes from trying to migrate from TF 1.14 to TF 2.0 with Keras 2.3.1 (if it helps).

[2019-10-28 09:19] alon1samuel commented on #32548
Is there news regarding the bug? @jvishnuvardhan

[2019-10-28 09:19] alon1samuel commented on #32548
It happens to me also in version 2.0.0 (in the official release)

[2019-10-28 09:26] EgorLakomkin opened #33776 "LSTMCell name is ignored in trainable_variables when wrapped in keras.layers.RNN"
I created a model with several LSTMCell cells, wrapped in keras.layers.RNN.
When I print trainable_variables, cell names are ignored, which results into duplicate variable names (several same recurrent_kernel/etc), which confuses Tensorboard for example.

Collab notebook to reproduce: https://colab.research.google.com/drive/11W6ntLFGj4gqh5sS09CeVgb0LMNb_Fiu
Environment: tensorflow 2 release

[2019-10-28 09:42] zh794390558 commented on #29643
when to unify toolchains of  the pip build docker and released docker images ?

[2019-10-28 09:54] VoVAllen commented on #24453
@EvenOldridge @jroesch Thanks a lot. Now I think there's no trivial way to do this. I think the key difficulty is the management on the momery lifetime, which may need input from tf engineers.

Here's my [investigation](https://github.com/tensorflow/tensorflow/issues/33254) on share memory on cpu, FYI.

[2019-10-28 10:16] jrm346 opened #33777 "Tensorflow Probability distributions HiddenMarkovModel not working with tf.function"
using tensorflow 2.0 on cpu

the following function works with no errors when executing in eager mode, but if it is decorated with `@tf.function` i get the error at the bottom.

[code]
and the error
[code]

[2019-10-28 10:26] aaaaahaaaaa commented on #33604
@mihaimaruseac
`pip debug --verbose`:

sys.version: 3.6.9 (default, Sep  1 2019, 16:05:17)
[GCC 4.2.1 Compatible Apple LLVM 10.0.1 (clang-1001.0.46.4)]
sys.executable: /Users/g/.pyenv/versions/3.6.9/bin/python3.6
sys.getdefaultencoding: utf-8
sys.getfilesystemencoding: utf-8
locale.getpreferredencoding: UTF-8
sys.platform: darwin
sys.implementation:
  name: cpython
Compatible tags: 498
  cp36-cp36

[2019-10-28 10:30] aaaaahaaaaa commented on #33604
@mihaimaruseac The problem doesn't seem to be specific to my machine though. I tried on a couple of different machines, and it fails the same way. Including on Dataflow, which is my blocker at the moment because it's the one using that `--no-binary` flag.

[2019-10-28 10:48] glaucimarfaleiro commented on #33696
@s2pstefan, with you code, I had safe issue.

[2019-10-28 10:49] huaxiaozhong1 opened #33778 "Example of "audio recognition" trained in tf-1.15.0 isn't able to recognize sound "Yes" on SparkFun Edge development board."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no.
- OS Platf

[2019-10-28 10:55] obarak commented on #25138
@jaingaurav - regarding:

As of TF 2.0.0, it seems Keras doesn't pick up the `tf.config.experimental.set_memory_growth(gpu, True)` setting...

[2019-10-28 11:00] zxj11838 commented on #32866
Thank you very much, when will you support the conv_3d operation?

[2019-10-28 11:01] swetabehera04 commented on #27079
Its not working for me.

My output :

(base) sweta python $ pip uninstall tensorflow_estimator
Uninstalling tensorflow-estimator-2.0.1:
  Would remove:
    /home/sweta/anaconda3/lib/python3.7/site-packages/tensorflow_estimator-2.0.1.dist-info/*
    /home/sweta/anaconda3/lib/python3.7/site-packages/tensorflow_estimator/*
Proceed (y/n)? y
  Successfully uninstalled tensorflow-estimator-2.0.1

(base)

[2019-10-28 11:04] sunanlin13174 commented on #30728
name "tfdev" is not defined? where is the tfdev?

[2019-10-28 11:07] zychen2016 opened #33779 "tf 1.15.0 retrained ssdlite_mobilenet_v2_coco+focal loss to quantization"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu18.04
- TensorFlow installed from (source or binary):  source
- TensorFlow version (or github SHA if from source): 1.15.0

Step1:retrain ssdlite_mobilenet_v2_coco model using focal loss,get model.ckpt
Step2:using export_inference_graph.py to get frozen_inference_graph.pb and saved_model
Step3:using tflite

[co

[2019-10-28 11:29] zh794390558 commented on #32759
core dump when using SetShapeFn under tf2.0.

[2019-10-28 11:30] zh794390558 opened #33780 "core dump when call SetShapeFn in custom op under 2.0"

[2019-10-28 11:39] Atharex commented on #33117
Is it possible to install a custom built tensorflow package onto google colab?
Sadly I'm not familiar with gists :/ What should I put in there, besides my build steps?

[2019-10-28 11:42] sytelus commented on #26289
I would also like to point out (in addition to everything that is already said) that PyTorch officially only displays CUDA 10.1 support. For someone like me who often end up having TF and PyTorch in same environment, this makes it very difficult to have them install side by side.  Fortunately PyTorch builds have been superbly flexible with CUDA and I eventually figured out that merely including `c

[2019-10-28 11:53] tuanzhangCS commented on #30728
@sunanlin13174 Have you added `from tensorflow.python.framework import device as tfdev` ? Make sure you added every line in **robieta**'s commit. By the way, the last version of keras still doesn't work?

[2019-10-28 11:56] renjie-liu commented on #32866
Hi,

Wonder if it's possible to share your usage and code snippet, so we can evaluate if c3d is necessary? maybe it's possible to avoid c3d? thanks!

[2019-10-28 12:14] sunanlin13174 commented on #30728
thanks very much,i upgraded keras to 2.3.0,and the issue solved. but i meet a new issue: "no model name control_flow_ops",so i modified keras.backend.__init__.py,add a code "from .load_backend import control_flow_ops" , but error:"cannot import name 'control_flow_ops' from 'keras.backend.load_backend' , tesorflow-gpu==1.14.0 , do you have a solution? thanks for reply!

[2019-10-28 12:29] tuanzhangCS commented on #30728
Keras doesn't support `control_flow_ops` now. So, you need use it from tensorflow directly.

[2019-10-28 12:33] yunxiangz opened #33782 "Executing genrule @nccl_archive//:device_code_sm_61 failed (Exit 1): bash failed: error executing command"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use comman

[2019-10-28 12:36] Crossady commented on #32982
This workaround also works for tensorflow 1.15, thank all you guys

[2019-10-28 12:37] sunanlin13174 commented on #30728
yes,i got it ,thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "tuanzhangCS"<notifications@github.com&gt;;
发送时间: 2019年10月28日(星期一) 晚上8:36
收件人: "tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送: "梧桐"<1317477457@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [tensorflow/tensorflow] AttributeError: &#39;_TfDeviceCaptureOp&#39; object has no attribute &#39;_s

[2019-10-28 13:03] monklof commented on #5592
meet the same problem on v100 with Cuda 9.0: fp16 is very slow than fp32.

[2019-10-28 13:41] ckyleda commented on #26244
This is basically the exact error I am facing, the first batch executes fine, then one the second batch, this error appears.

How is this even possible?

[2019-10-28 13:51] jrm346 opened #33784 "tfp.sts.AutoregressiveStateSpaceModel noise mean should be settable"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

in tfp.sts.AutoregressiveStateSpaceModel you cant currently set the mean of the normally distributed noise. this would be nice to add as some auto-regressive models may add a constant term at each time step. the math would then

[2019-10-28 14:12] Mycaster commented on #33774
cannot  reproduce it

[2019-10-28 14:32] fdasilva59 commented on #33626
Hi,

I agree with @peter197321 : having more detailed instructions on how to build Tensorflow Lite Runtimes would be helpfull (Adding official Tensorflow support to Jetson Nano in addition to the Raspberry Pi would also be great, but that's another topic)

I have recently built with success TF2.0 for Nvidia Jetson Nano (aarch64 with python 3.6) . This allows to use tf.lite API but having to load t

[2019-10-28 14:37] kiflowb777 opened #33785 "The inheriting keras.layers.Layer does not call a compute_output_shape after switching to tf.keras from keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14, 1.15 and 2.0

[2019-10-28 14:39] kiflowb777 commented on #33785
Related topics:
https://github.com/matterport/Mask_RCNN/issues/1820
https://github.com/keras-team/keras/issues/13497
https://stackoverflow.com/questions/54613474/tensorflow-keras-input-layer-does-not-add-keras-shape

[2019-10-28 14:55] kiflowb777 opened #33786 "Cannot import tf.keras.engine"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14 and 2.0 (gpu)

[2019-10-28 15:09] christophgm commented on #30191
worked...great..thanks

[2019-10-28 15:25] mdanatg commented on #18823
@dynamicwebpaige I think improvements to `TensorArray` will eventually allow expressing this use case efficiently, but it's early to tell.

[2019-10-28 15:49] hgaiser opened #33787 "Using tf.keras.backend.zeros in while loops."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2019-10-28 15:50] ONLYstcm opened #33788 "TFLiteConverter from_keras_model TypeError: call() got an unexpected keyword argument 'training'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Custom code
- Arch Linux Kernel 5.3.7
- TensorFlow installed via pip
- TensorFlow version v2.0.0-rc2-26-g64c3d

[2019-10-28 15:58] AlexisBRENON commented on #33414
From what I can see, in the `_build_tensor` method, you still pass `dtypes.int64` to the `dtypes` argument (whatever the required `output_type`).
I tried to update using `self.element_spec.dtype` but stumble upon another error:
[code]
Which seems strange as `self._structure` is defined in the `__init__` method...
Maybe you have to investigate a little bit deeper, in the `DatasetSource` class.

[2019-10-28 15:58] kiflowb777 opened #33789 "Model created by tf.keras.models.Model does not have attribute 'metrics_tensors'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.14 and 2.0 (GPU)

[2019-10-28 15:59] kiflowb777 commented on #33789
Documents relating to this matter:
https://github.com/keras-team/keras/issues/13497
https://github.com/matterport/Mask_RCNN/issues/1820

[2019-10-28 16:00] jramirezpr opened #33790 ""Beginner Hello World" Warning: WARNING:tensorflow:Entity <function Function._initialize_uninitialized_variables.<locals>.initialize_variables at 0x000000002D8DAF28> could not be transformed and will be executed as-is."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows 7:
- TensorFlow installed from: pip
- TensorFlow version: 2.0.0 v2.0.0-rc2-26-g

[2019-10-28 16:09] AndersonHappens commented on #33646
@jvishnuvardhan While it does work in the h5 format, if I have saved a model to the tf format, I cannot load the model to resave it to the h5 format later (since I can't load the model in the first place), so ultimately this is still an issue that needs to be addressed.

[2019-10-28 16:35] kazimuth commented on #33657
Side note, this can be worked around easily enough w/ custom training loops.

[2019-10-28 16:43] Flamefire commented on #27545
I'd also be curious how to use this with `model.fit` to generate a Chrome Trace.

[2019-10-28 16:44] bfontain commented on #33684
No problem. I'll update this bug once above mentioned work is finished.

[2019-10-28 16:52] dsmic commented on #33601
OK, I just realized, that Google Colab does not use tensorflow 2.0 by default. I installed tensorflow 2.0 and was able to reproduce the problem. It is not, as my first thought, a problem loading cudnn, but it appears with cpu, gpu and tpu if you are using GRU cells. They are faster if they are not loaded from a file with load_model:

[gist](https://gist.github.com/dsmic/fcfbf9e3a433d3aed7c00bea9e8

[2019-10-28 16:57] #33180 closed

[2019-10-28 17:04] DocDriven opened #33791 "tflite operators support dependent on tf.shape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): docker images
- TensorFlow version (use command below): 1.1

[2019-10-28 17:10] qlzh727 commented on #33690
For keras LSTM cell, it by default support dropout. You can use param dropout or recurrent dropout for that. The DropoutWrapper is not expected to be used with keras cells.

I am going to add an error message when keras lstm cell is used with dropout wrapper.

[2019-10-28 17:31] #33621 closed

[2019-10-28 17:32] grewe commented on #33765
For those of you looking at this --there is no example in the url for saving the tflite file and had assumed would have save() method like the regular tesorflow model.    This is not the case and no documentation found on tensorflow site (easily at least--I looked) went elsewhere and seems have to use the command show in the new code below --- HOWEVER, I have not yet tested if the python file writ

[2019-10-28 17:32] #33765 closed

[2019-10-28 17:50] nmatare commented on #27614
https://github.com/tensorflow/tensorflow/releases/tag/v2.0.0

"Removed the freeze_graph command line tool; SavedModel should be used in place of frozen graphs."

[2019-10-28 17:57] gdj0nes commented on #29481
I'm having the same issue as @vmarkovtsev using tf2 and tf-nightly when I use `tf.function` and `get_concrete_function`:

`tf.function(train_model.__call__, autograph=False).get_concrete_function(
                tf.TensorSpec([batch_size_per_replica, *flags_obj.image_dimension], tf.float32),
                ...
           )`

[2019-10-28 18:08] omalleyt12 commented on #29481
@gdj0nes Could you share a larger code snippet that repros this?

[2019-10-28 18:09] sun-peach opened #33792 "Several issues with saving model by averaging multiple models"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13
- Pyth

[2019-10-28 18:10] gdj0nes commented on #29481
@omalleyt12 i'm working on making something I can share, just wanted to make sure there wasn't already a clear fix. It seems like it's an issue with setting the `training` parameter.

[2019-10-28 18:14] omalleyt12 commented on #33090
@tlkh BatchNorm will always have different behavior b/t train and evaluate. During training, batches are normed. During inference, the trained weights are used for normalization. If you set trainable=False, these statistics will not update and so therefore will result in poor evaluation performance

[2019-10-28 18:25] gdj0nes commented on #29481
@omalleyt12, here is an example snippet using tf-nightly:

[code]

Output:

[code]

[2019-10-28 18:50] piyueh opened #33793 "DenseFeatures always returns float32"
(https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, a call to `t

[2019-10-28 18:57] Sooryakiran commented on #33786
Hi,
You are not able to import it because the is no module tensorflow.keras.engine.

This answer might help you:
https://stackoverflow.com/questions/51337558/how-to-import-keras-engine-topology-in-tensorflow

Similar functionalities are provided by tf in other modules.

[2019-10-28 19:02] brorro opened #33794 "[TF 2.0 API Docs] tf.keras.layers.simpleRNN"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/SimpleRNN

## Description of issue (what needs changing):

### Clear description

The document mentions nothing about call argument `inputs` when it takes
`[[batch, timesteps, feature], [batch, state]]`. In case of `inputs` is a list, the elements of `inputs[1:]` work as initial_state in each batch.

[2019-10-28 19:05] shahriar49 commented on #33465
@gowthamkpr
I tried it but nobody give me an answer on stackoverflow. Can you help me with it?

[2019-10-28 19:14] Edremelech commented on #25403
I've got the same error today. My GPU is 2080 Ti, CUDA and cuDNN are latest (10.1), and I'm using Windows 10. I've just installed all that and tried to launch https://www.tensorflow.org/tutorials/quickstart/advanced. Here's the full error text:

InternalError:  Blas GEMM launch failed : a.shape=(32, 21632), b.shape=(21632, 128), m=32, n=128, k=21632
	 [[node my_model/dense/MatMul (defined at D:\An

[2019-10-28 19:33] OverLordGoldDragon opened #33795 "Anaconda tensorflow-gpu faulty package?"
Using [`conda install -c anaconda tensorflow-gpu`](https://anaconda.org/anaconda/tensorflow-gpu) yields the pre-installation message below, showing that cuDNN 7.6.0 will be installed _against_ the TensorFlow GPU [compatibility table](https://www.tensorflow.org/install/source_windows#gpu). `pip` install does _not_ include cuDNN. Further, I already have cuDNN 7.4.2 installed per [official instructio

[2019-10-28 19:35] santiago-akle opened #33796 "tf.data.Dataset.from_generator triggers a SIGBUS signal when operating with numpy arrays"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-28 19:40] netw0rkf10w commented on #33651
@yashk2810 @ravikyram It seems that this issue is related to [this bug](https://github.com/tensorflow/tensorflow/issues/32099), which has not been fixed yet.

[2019-10-28 20:06] mmuratarat commented on #33200
Yes, I did it but still having the same issue!

[2019-10-28 20:21] BilalSaeedLM10 commented on #24409
Hey Guys!! I am making my own object detector and for that when I go for the training part, I am getting this error:
**Traceback (most recent call last):
  File "train.py", line 51, in <module>
    from object_detection.builders import model_builder
  File "C:\Users\Bilal\Documents\models\research\object_detection\builders\model_builder.py", line 52, in <module>
    from object_detection.models.ss

[2019-10-28 20:31] Quiigi commented on #30995
In my case, the inconsistency originates in MatMul.  It's possible that activation functions 'sigmoid' or 'hard_sigmoid' have a similar issue.  This reduced example demonstrates the issue:
[code]
My output:
[code]
This is an improvement because LSTM generates a graph with 268 nodes, including While loops.  The above reproducible example has just 1 simple node.  I'm not sure where exactly the discr

[2019-10-28 20:33] gowthamkpr commented on #33793
@piyueh Can you be clear about how setting float32 to float64 helps the community. Thanks!

[2019-10-28 20:34] Edremelech commented on #24828
I have the same problem. Windows 10, 2080Ti, the latest versions of CUDA and cuDNN installed yesterday from NVIDIA site (both 10.1), so I don't think I need to downgrade them.
Do I need to install a cuDNN driver for Anaconda? Or a CUDA driver? I've used pip install tensorflow-gpu, and have TF 2.0 now. Not sure it have installed any additional packages.
Sorry for the stupid questions, I'm very new,

[2019-10-28 20:43] ymodak commented on #33702
Does your cpu support AVX instruction sets?

[2019-10-28 20:49] gowthamkpr commented on #33696
@s2pstefan I was not able to reproduce your error on colab. Heres my [github gist](https://colab.sandbox.google.com/gist/gowthamkpr/59ea8d13c80023f699328b7407b44fbb/untitled209.ipynb).

[2019-10-28 20:50] sudzam commented on #26398
@stefan-falk , others: Do you have a code snippet on how you froze the transformer network?
I am using the TF 2.0 implementation that's part of the tensorflow repository.
Thanks in advance.

[2019-10-28 20:54] jvishnuvardhan commented on #33763
@netw0rkf10w I think your issue is similar to [this resource](https://github.com/tensorflow/tensorflow/issues/30695#issuecomment-511932452).
Please follow the resolution provided in that resource and let us know if you are looking for anything different. Thanks!

[2019-10-28 21:00] m01 commented on #33758
Ah, that's a good workaround approach @l0ophole. There's another way to do that - letting `bazel` do the patching for us:

1. Create `.patch` file with the `gettid` rename changes using your method, or:
[code]
2. Make the following change to `tensorflow/workspace.bzl`:
[code]
3. build.

[2019-10-28 21:00] gowthamkpr commented on #32729
@Huixxi Closing this issue as it has been answered. Please add additional comments and we can open this issue again. Thanks!

[2019-10-28 21:00] #32729 closed

[2019-10-28 21:08] ymodak commented on #33736
This issue is not on TF side but more on ```keras-segmentation``` module as mentioned in the template.
As mentioned in the prerequisites you have to install keras 2.0 version to make it work.
See https://github.com/divamgupta/image-segmentation-keras#prerequisites
Installing newer keras version (above 2.0) fails to load the model.
For further question https://github.com/divamgupta/image-segmentati

[2019-10-28 21:08] netw0rkf10w commented on #33763
Hi @jvishnuvardhan. Thanks for your reply. Unfortunately that resource doest not help because it is for Keras `.fit()` only (I believe). My issue is specifically for custom training loop with GradientTape.

I also mentioned this in the post:

[2019-10-28 21:11] riccardobrue opened #33797 "Which ssd model to use to generate the smallest tflite for a lite>experimental>micro project?"
Hi, I have asked [this](https://stackoverflow.com/questions/58595004/how-to-obtain-a-small-tflite-file) question on stack overflow and I am going to ask the same thing here; Furthermore I would like to know if the lite>experimental>micro project is still under developing; In particular:

- I cannot execute the MUL operation, will it be ever available for the micro sub-project?
- If not, can I rely

[2019-10-28 21:20] gowthamkpr commented on #33125
@alshedivat Rightnow, we don't have a clean way to do this.

[2019-10-28 21:20] s2pstefan commented on #33696
Hi,

I see two issues with your test:

1. It does not use tensorflow-gpu
2. It does not run on Windows 10

I think this the error quite specific to this environment. Both @glaucimarfaleiro and myself were able to reproduce, given the correct setup.

[2019-10-28 21:23] ymodak commented on #33738
duplicate #33730

[2019-10-28 21:23] #33738 closed

[2019-10-28 21:25] gowthamkpr commented on #33143
I am getting an error @racinmat Please find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/361962dd71b59b1bf19b62c0a53bb414/untitled210.ipynb).

[2019-10-28 21:28] gowthamkpr commented on #33150
Closing this issue as it has been inactive for more than 15 days. Please add additional comments and we can open this issue again. Thanks!

[2019-10-28 21:29] jvishnuvardhan commented on #33755
@skearnes Thanks for reporting this issue. Can you please share a simple standalone code to reproduce the issue? Thanks!

[2019-10-28 21:31] gowthamkpr commented on #33179
Closing this issue as it has been resolved. Please add additional comments and we can open this issue again.

[2019-10-28 21:31] #33179 closed

[2019-10-28 21:37] OverLordGoldDragon commented on #33795
**UPDATE**: proceeded w/ Conda install, it worked - but only after installing `keras_applications` and `keras_preprocessing` via `pip`. Thus, the compatibility table appears outdated.

I remain unsure how Conda's 7.6 install doesn't conflict with my manual 7.4 install, however.

[2019-10-28 21:51] mihaimaruseac commented on #33758
Can you send a PR with this approach please?

Or, do you consider it worthwhile to upgrade grpc?

[2019-10-28 22:02] ymodak commented on #33734
Closing this issue since its resolved. Thanks!

[2019-10-28 22:02] #33734 closed

[2019-10-28 22:16] ymodak commented on #33747
The provided code snippet looks incomplete. Please update the snippet with minimal complete code to reproduce the issue reported. Thanks!

[2019-10-28 22:24] ymodak commented on #33740
Duplicate #18169
See https://github.com/tensorflow/tensorflow/issues/18169#issuecomment-378005528 to know more

[2019-10-28 22:26] petewarden opened #33798 "Pull Requests: Ubuntu CC test is flakey"
When testing pull requests the "Ubuntu CC" test seems to never(?) complete. See two examples here:

https://github.com/tensorflow/tensorflow/pull/33492
https://github.com/tensorflow/tensorflow/pull/32168

This makes it hard to for contributors to tell if their changes have broken the project, or if it's an unrelated flake (as it seems to be in these cases). This is the most obvious example of the

[2019-10-28 22:31] petewarden commented on #33798
/cc @jenselofsson

[2019-10-28 22:34] dbonner opened #33799 "TF 2.0.0 Python 3.8 TypeError: _logger_find_caller() takes from 0 to 1 positional arguments but 2 were given"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  See script from Tensorflow training session and uploaded file below.  Nb: There is no error with TF2.0.0 and python 3.6 or 3.7.  The error occurs with TF2.0.0 and python 3.8.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (so

[2019-10-28 22:34] ymodak commented on #33549
Since your system fails to recognize gpu it tells us that tf-gpu was not correctly configured.
Can you please confirm following things;
Did you install TF-GPU version? ```pip install tensorflow-gpu ```
See https://www.tensorflow.org/install/gpu
Downloaded cuda toolkit and updated cuda, cupti, cudnn environment variables?
See https://www.tensorflow.org/install/gpu#software_requirements

[2019-10-28 22:41] petewarden opened #33800 "Pull Requests: Trusted committers should be able to approve"
@jenselofsson is a trusted external committer from Arm, but at least some of the PRs that he has approved have required an additional Google review on GitHub. I would expect that he would be able to review and approve pull requests. For an example, see PR https://github.com/tensorflow/tensorflow/pull/33420

[2019-10-28 22:42] petewarden commented on #33798
/cc @freddan80

[2019-10-28 22:42] jvishnuvardhan commented on #33708
I could reproduce the issue. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/4dd3cc207accf2251aaa8bcfbb80f004/untitled601.ipynb) is the gist. Thanks!

[2019-10-28 22:42] petewarden commented on #33800
/cc @jenselofsson @freddan80

[2019-10-28 22:46] jvishnuvardhan commented on #33710
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-28 22:46] #33710 closed

[2019-10-28 22:48] jvishnuvardhan commented on #33711
@tulasiram58827 Can you please provide a simple standalone code to reproduce the issue? Thanks!

[2019-10-28 22:49] saxenasaurabh commented on #32748
Sorry for the late update. This was fixed in 4a5b3dbee4e2e5b60f58fe61530b73664e36d87e and should land in 2.1.

[2019-10-28 22:49] #32748 closed

[2019-10-28 22:50] gowthamkpr commented on #33709
Was able to reploduce the issue. Heres my github [gist](https://colab.sandbox.google.com/gist/gowthamkpr/8b961afedcdb49de048431b503b7ae48/untitled211.ipynb).

[2019-10-28 22:51] petewarden opened #33801 "Pull Requests: Status information should be available"
There is currently no way to tell who needs to take the next action on a pull request, or what state a PR is in. This delays external contributions and frustrates developers. Here is the sort of information that is needed to enable efficient contributions:

 - Who needs to take action? Is it the contributor, a member of the gtech team, or a Google TensorFlow engineer? This should be clearly and pu

[2019-10-28 22:51] jvishnuvardhan commented on #33715
@christiansprecher Can you please provide a simple standalone code to reproduce the issue? Thanks!

[2019-10-28 22:58] petewarden opened #33802 "Pull Requests: Map needed for request workflow"
At the moment external contributors don't have any way of knowing what the lifecycle of a pull request is. We have [documentation on contributing code](https://www.tensorflow.org/community/contribute/code), but it's silent on the details of what happens to a request once it's been submitted. Chandni presented a fantastic flowchart at the contributor's summit today that would be a great foundation

[2019-10-28 23:15] #32941 closed

[2019-10-28 23:21] gowthamkpr commented on #33717
@Harshdeep1996 You can refer to the following example[ here ](https://www.cnblogs.com/xiaojieshisilang/p/10061578.html) which should help you in solving the issue.

[2019-10-28 23:21] m01 commented on #33758
I would certainly prefer the grpc upgrade: currently tensorflow depends on a specific commit of grpc. This would be a good opportunity to change that dependency to a released version tag. Changing it to a dependency on a specific commit of grpc + patch feels like going in the wrong direction, unless there's a really good justification I'm not aware of - if ever had to file a bug against grpc I'd m

[2019-10-28 23:28] #33554 closed

[2019-10-28 23:32] srjoglekar246 commented on #33691
Looks like the V2 op contains a [`half_pixel_centers`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_ops_impl.py#L1335) parameter that our current converter (TOCO) doesn't really recognize. As a result, it just defaults to the `align_corners=False` behavior.

We have an experimental new converter that will flag this as an 'unrecognized' op. To enable it, please c

[2019-10-28 23:37] EvenOldridge commented on #24453
@alextp has agreed to sponsor, and we're going to take a look into how feasible it is to implement the way we hope with the possibility of zero copy.  Here's Alex's input:

If zero copy isn't possible we'll fall back to an implementation that copies the data.

[2019-10-28 23:52] jvishnuvardhan commented on #29674
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-28 23:52] #29674 closed

[2019-10-28 23:52] jvishnuvardhan commented on #30173
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-28 23:52] #30173 closed

[2019-10-28 23:57] jvishnuvardhan commented on #32265
@raulmt TPUs are not officially supported in TF2.0. You can use `tf-nightly` which is `TF2.1` dev version. Thanks!

[2019-10-28 23:58] jvishnuvardhan commented on #26759
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-10-28 23:58] #26759 closed

[2019-10-28 23:59] #33214 closed

[2019-10-29 00:05] pmh47 commented on #31568
I ran into the same issue using tensorflow 1.13.1 and gcc 7.4, and fixed it by patching `tensorflow/include/absl/base/config.h` to not define `ABSL_HAVE_STD_STRING_VIEW` even when the C++17 `string_view` is detected (by commenting line 432).

[2019-10-29 00:10] jvishnuvardhan commented on #33719
@Jar7 Please try to use most recent TF versions (TF.1.15 or TF2.0) as there were several improvements in the performance. Please check the guides and tutorials provided in the TF website as for [gpu](https://www.tensorflow.org/guide/gpu), [distributed_training](https://www.tensorflow.org/guide/distributed_training) and [`tf.data`](https://www.tensorflow.org/guide/data_performance) for best perform

[2019-10-29 00:11] jvishnuvardhan commented on #33719
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-29 00:11] #33719 closed

[2019-10-29 00:24] ppwwyyxx commented on #24409
As mentioned above, the function is removed.

[2019-10-29 01:43] #33754 closed

[2019-10-29 01:47] jpgard commented on #27416
The workarounds above don't cover the case where the `FeatureColumn`s contain trainable parameters which require the gradients during model training; e.g. embedding columns. In the case of an embedding, gradients are needed to refine the embedding during training, and precomputing via a `DenseFeatures` layer is not a workable solution for this use.

Are there any solutions which don't require plac

[2019-10-29 02:01] yudong27 commented on #19046
OS: CentOS7
Python: python2

The python scripts may not be able to run directly.  A python script as follow:
[code]
This script can run with command 'python test.py', but failed with command 'chmod u+x test.py&&./test.py'

if this happend, modify tf_version_info_genrule in tensorflow/tensorflow.bzl line 1707 from
"$(location //tensorflow/tools/git:gen_git_source.py) --generate $(SRCS) \"$@\" --git

[2019-10-29 02:11] zxj11838 commented on #32866
I use 3D convolution to solve the classification problem of continuous gestures, such as sliding to the left or sliding to the right; I refer to the following project to train the model：
https://github.com/hx173149/C3D-tensorflow
Now, I am trying to use the lstm method. Do you have any better suggestions?

[2019-10-29 02:16] huangshaoguang opened #33804 "Does Tensorflowlite model support GPU boost on PC?"
Does Tensorflowlite model support GPU boost on PC? I can't find an example for supporting  GPU boost on PC, there're all examples for the mobile GPU boost or mobile CPU.

[2019-10-29 02:28] 593618638 opened #33805 "InTopKV2 cannot use k as a tensor"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-29 03:03] #33772 closed

[2019-10-29 03:04] DragonX081mk2 commented on #33772
it seems that the model did comes out correctly but with a Error Log

[2019-10-29 03:19] renjie-liu commented on #32866
Hi,

Great. For LSTM support, you can refer here
<https://www.tensorflow.org/lite/convert/rnn>.

Thanks,

On Tue, Oct 29, 2019 at 10:20 AM zxj11838 <notifications@github.com> wrote:

--
Renjie Liu

renjieliu@google.com
+1 (650) 253-4359

[2019-10-29 03:23] oanush commented on #33780
@zh794390558 ,
Thank you for raising the issue, Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template dis

[2019-10-29 03:30] JoshEZiegler commented on #27416
@jpgard I believe that the above workarounds actually include the DenseFeatures params in the model despite the funky calling. Running model.summary() on tanzhenyu's workaround gives me the output shown below. Note that the DenseFeatures layers are in the middle and have trainable params as desired.

[code]

[2019-10-29 03:34] haozha111 commented on #33494
This seems like the default op resolver couldn't find the op kernel for CTC_BEAM_SEARCH_DECODER.

I guess you need to implement something like this:
tflite::ops::builtin::BuiltinOpResolver builtins;
builtins.AddCustom("Sin", Register_CTC_BEAM_SEARCH_DECODER());

The corresponding python interpreter to use with custom op is:
https://github.com/tensorflow/tensorflow/blob/0dec1a6a8a5d7a40378ab418ceab

[2019-10-29 03:41] Edremelech commented on #25403
My problem is solved. Tensorflow failed to loaad cublas64_100.dll because it was called cublas64_10.dll. I am simply shocked to encounter such errors. Anyway, thanks everybody, and I hope my stupid messages will help another newb that can't believe in DLL names change :)

[2019-10-29 04:04] longmalongma commented on #25403
Hi,can you provide the detail about solving this problem. I am very confuse to this problem.

[2019-10-29 04:07] nkhdiscovery commented on #7652
This is so much annoying, nothing works using tensorflow-gpu

[2019-10-29 04:17] Edremelech commented on #25403
I've just copied cublas64_10.dll to cublas64_100.dll, and it worked :)

[2019-10-29 04:26] kshaeffer commented on #33733
Uploading the log file here.
[tf2_build_logs.102519.txt](https://github.com/tensorflow/tensorflow/files/3781731/tf2_build_logs.102519.txt)

Sorry for the long dump in the comments above. I needed to upgrade my browser. I'm very interested in a patch to fix the build. I can test it and report back. Thanks in advance.

[2019-10-29 04:26] longmalongma commented on #25403
Think you for your reply,where do you find cublas64_10.dll and cublas64_100,dll?I do not meet it.

[2019-10-29 04:44] Edremelech commented on #25403
Cublas64_10.dll should be in **bin** subfolder of your CUDA installation. My path is C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.1\bin\

[2019-10-29 04:50] drscotthawley commented on #25282
I'm getting this error with a new checkout of 1.15.0, obtained when installing magenta via "pip install -e ."
Separately installing mock has no effect, because it's looking for it in "from tensorflow.python.platform.googletest"

For now my workaround is to delete "from tensorflow.python.platform.googletest" and just leave the "import mock" in each file in which this error arises.

[2019-10-29 04:53] ravikyram commented on #33661
@neonrights

Please, let me know if we can close this issue since it looks to be fixed. Thanks!

[2019-10-29 04:59] oanush commented on #33776
Issue replicating for the given code - TF-2.0.

[2019-10-29 05:04] ravikyram commented on #33631
I am closing this issue since the query is been resolved.Thanks!

[2019-10-29 05:04] #33631 closed

[2019-10-29 05:07] longmalongma commented on #25403
Do you mean to replace cublas64 100.dll with&nbsp;cublas64_10.dll？

------------------ Original ------------------
From: Edremelech <notifications@github.com&gt;
Date: Tue,Oct 29,2019 0:23 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com&gt;
Cc: longma <1442342449@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [tensorflow/tensorflow] Eager Execution error: Blas GEMM la

[2019-10-29 05:16] Edremelech commented on #25403
There was NO cublas64_100.dll, only cublas64_10.dll. I guess NVIDIA have suddenly changed its naming policy.

[2019-10-29 05:27] longmalongma commented on #25403
thank you very much ，I will try to run it according
&nbsp;to your guidance

------------------ Original ------------------
From: Edremelech <notifications@github.com&gt;
Date: Tue,Oct 29,2019 1:23 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com&gt;
Cc: longma <1442342449@qq.com&gt;, Comment <comment@noreply.github.com&gt;
Subject: Re: [tensorflow/tensorflow] Eager Execution error: Blas

[2019-10-29 05:42] tulasiram58827 commented on #33711
Use shape (1,550,80)

[2019-10-29 05:49] ravikyram commented on #33799
@dbonner

I tried to reproduce the issue. However i am seeing the different error.`AttributeError: 'LinearRegressionTF' object has no attribute 'fit' .Please, help me with the reproducible code . It helps in localizing the issue faster.

[2019-10-29 05:57] idstein commented on #33413
The problem is not directly due to resize, but with allocate Tensor call afterwards.

[2019-10-29 06:08] rajeev-mirelz opened #33807 "TensorFlow pre-built package not available for download"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-10-29 06:13] ravikyram commented on #33792
@sun-peach
Please, let us know what error you are getting.Can you share the simple standalone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2019-10-29 06:26] Jar7 commented on #33719
Hi, could you please specify the reason for different gpu memory allocation for the provided code on different version of tensorflow? I have read the tutorials about gpu, and cannot find the answer. It is straightforward that some gpu memory is unnecessary allocated. Is it a bug?

[2019-10-29 06:31] ravikyram commented on #33790
@jramirezpr

I have tried on colab with TF version 2.0  and i am not able to see any warning message. Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/2f99e63572566049c81a2298760f0616/untitled307.ipynb) .Thanks!

[2019-10-29 06:46] ravikyram commented on #33789
@kiflowb777
Can you please share simple standalone code to reproduce the issue in our environment. It helps in localizing the issue faster. Thanks!

[2019-10-29 06:57] huyinyx commented on #32139
pip install tf-hub-nightly
it works

[2019-10-29 06:58] olk opened #33809 "MirroredStrategy compared to OneDeviceStrategy slower and much weaker learning"
**System information**System information
- OS Platform and Distribution: Arch Linux, 5.3.7-arch1-1-ARCH
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0
- Keras version: 2.2.4-tf
- Python version: 3.7.4
- CUDA/cuDNN version: CUDA 10.1.243 / cuDNN 7.6.2.24
- GPU model and memory: 2x GTX 1080 Ti 11GB"`

**Describe the current behavior**
If the model is trained with OneDeviceStrategy o

[2019-10-29 07:00] David082 commented on #33655
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-29 07:02] longmalongma commented on #25403
sorry, I used ubuntu,I can not find cublas64_10.dll or cublas64_100dll.

[2019-10-29 07:12] oanush commented on #33721
@AniTho ,
Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-10-29 07:13] ravikyram commented on #33786
I have tried on colab with TF version 2.0 ,1.14, 1.15.0-rc3, 2.1.0-dev20191028 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/857ee7fdf5e48e7e54c913f8eaf91624/untitled308.ipynb) Thanks!

[2019-10-29 07:18] oanush commented on #33722
@anilkdas ,
Can you please refer this [link](https://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example) of similar issue ?Thanks!

[2019-10-29 07:18] Leonscrt opened #33810 "Please add the "reuse" parameter to tf.keras.layers.Conv2D()"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

No

**Descri

[2019-10-29 07:41] gekowa opened #33811 "Got "Data adapters should be mutually exclusive for handling inputs. Found multiple adapters to handle" error when calling `model.fit` with ImageDataGenerator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 aarch64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below)

[2019-10-29 07:47] lgggy commented on #26578
Thanks a lot. Finally, I uninstalled my python 2.0, and use the similar instruction above(aims to upgrade my pip) to solve my problem.

[2019-10-29 08:10] ravikyram commented on #33785
@kiflowb777

Can you please share simple standalone code to reproduce the issue in our environment.It helps in localizing the issue faster. Thanks!

[2019-10-29 08:15] #31843 closed

[2019-10-29 08:23] yyf1986 opened #33813 "the relationship among optimize_for_inference.py quantize_graph.py graph_transforms"
Is graph_transforms  tool the newest tool to optimize and quantize for pb.
when I find tf < 1.11,has quantize_graph.py.

[2019-10-29 08:32] VoVAllen commented on #24453
@EvenOldridge That's great! As I mentioned, there's api in Python to sync all streams. I think this is fine at most scenarios.

[2019-10-29 08:35] oanush commented on #33727
When tried running the given code for TF-2.0, it consumed more RM as per @ThinerDAS  explanation .
Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/2047078b9ef3140b7d38a1f2148b278b/33727.ipynb) of collab.

[2019-10-29 08:43] xenogew commented on #33774
Update:
Change environment to a newly created Virtual Machine on Azure
-  CentOS 7.7.1908
-  Python3.6
-  pip version 19.3.1
-  Tensorflow version 2.0.0 (install via `pip install`)

Result:
[code]

[2019-10-29 08:52] DavidS3141 commented on #26472
If this is not fixed quite soon, one should at least introduce a warning and some documentation about this behavior, this was quite unexpected for me and wasted a few trainings.

[2019-10-29 08:55] ravikyram commented on #33771
@SuperCrystal

Looks like code is incomplete. Please, help us with simple standalone code to reproduce the issue in our environment. It helps us to localize the issue faster. Thanks!

[2019-10-29 08:58] Flamefire opened #33814 "Profile contains events with truncated names"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.4
- TensorFlow installed from (source or binary): Docker container
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0
- GPU model and memory: K80

**Describe the current behavior**

When gathering a trace (

[2019-10-29 09:00] kiflowb777 commented on #33789
[code]

use_tf_keras= False (use Keras),
use_tf_keras = True (then use tf.keras)

[2019-10-29 09:02] kiflowb777 commented on #33789
if I use the Keras everything is ok, but when I use the tf.keras I get an error:
[code]

[2019-10-29 09:17] racinmat commented on #33425
I see the issue is fixed in master, will there be a 1.X version with the fix released sometimes?

[2019-10-29 09:18] huake opened #33815 "tensorflow1.14.0 , cuda 10, cudnn 7.4 , bazel 0.25, shell cmd：bazel build --config=opt --config=cuda //tensorflow:libtensorflow_cc.so"
/home/work/.cache/bazel/_bazel_work/4fa4430cecf16c459ae4d856e8ea7fba/external/zlib_archive/BUILD.bazel:5:1: undeclared inclusion(s) in rule '@zlib_archive//:zlib':
this rule is missing dependency declarations for the following files included by 'external/zlib_archive/compress.c':

'/opt/compiler/gcc-4.8.2/x86_64-baidu-linux-gnu/sys-root/include/stdc-predef.h'
  '/opt/compiler/gcc-4.8.2/lib/gcc/x86

[2019-10-29 09:20] racinmat commented on #33143
Oh, my bad, fixed now in the github gist and it produces the abovementioned error in the colab.

[2019-10-29 09:21] TheHentaiSama commented on #33604
@aaaaahaaaaa same problem here. No matching distribution =/

[2019-10-29 09:23] huake commented on #33815
bazel tensorflow this rule is missing dependency declarations for the following files included by

[2019-10-29 09:25] Flamefire commented on #12888
The linked repo is from IBM. They joined with Microsoft though:

[2019-10-29 09:26] ravikyram commented on #33769
Just to verify did you get chance to follow instructions from [TensorFlow website](https://www.tensorflow.org/install/source) . Did you install those drivers for [GPU support ](https://www.tensorflow.org/install/gpu).Please, let us know. Thanks!

[2019-10-29 09:26] olesalscheider commented on #33688
I'm happy to help with this but I would need some hints where to implement it.

[2019-10-29 09:26] zheyuanWang commented on #33766
ok problem solved , I didn' realise that ${PATH_TO_INITIAL_CHECKPOINT}  need to be set.

[2019-10-29 09:26] #33766 closed

[2019-10-29 09:28] neilwarrack opened #33817 "Failure to install via 'pipenv install' with just "tensorflow==2.0.0" in requirements.txt"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0
- Python version: 3.6.6
- Installed using virtualenv? pip? conda?: 'pipenv install' in a pyenv
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU mode

[2019-10-29 09:34] neilwarrack commented on #33817
Someone suggested I upgrade setuptools. But I upgraded to 41.5.1 (latest) and it makes no difference.

[2019-10-29 09:36] kiflowb777 commented on #33785
[code]

If you switch use_tf_keras to True you can notice that compute_output_shape in custom layer is not called.

[2019-10-29 09:36] ravikyram commented on #33768
I have tried on colab with TF version 2.0 ,2.1.0-dev20191028 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e47f4408b29f582a77d683344b2cfa77/untitled311.ipynb)Thanks!

[2019-10-29 09:48] oanush commented on #33242
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-29 09:48] #33242 closed

[2019-10-29 09:49] oanush commented on #33275
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-29 09:49] #33275 closed

[2019-10-29 09:50] vtrokhymenko commented on #31
hmm, why discord instead of slack? :but_why:

[2019-10-29 09:50] oanush commented on #33298
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-29 09:50] #33298 closed

[2019-10-29 09:53] yunxiangz commented on #33782
I finally found the reason of this problem.

I installed CUDA 10.0 in /usr/local/cuda-10.0, but put the cuDNN related files in /usr/local/cuda. The cuda folder is a symlink to cuda-10.0. In the ~/.bashrc file, the LD_LIBRARY_PATH is set as /usr/local/cuda-10.0/lib64:$LD_LIBRARY_PATH. When building the TensorFlow, the cuDNN related files are inaccessible.

To solve the problem, I copy the cuDNN rel

[2019-10-29 09:53] oanush commented on #33347
@zo7 ,
Hi, no update on the minimal example yet?Thanks!

[2019-10-29 09:54] oanush commented on #33408
@janwendt ,
Any update on the issue ?Thanks!

[2019-10-29 10:03] MGarvinNYC commented on #33275
Issue was not resolved in this thread.  The goal was to maintain compatibility with Conda environments, and pip does not do that.

But it should be noted that as of a couple days ago, Tensorflow 2.0 has been added to the Conda repo, which should solve problems with compatibility

[2019-10-29 10:03] maziyarpanahi commented on #32943
@mattnworb FTI, the `1.15.0` is finally available on Maven. Looking forward to see `2.0.0` there as well.

[2019-10-29 10:11] SaschaHeyer opened #33818 "KMeans module not found in TensorFlow 2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac 10.13.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary): pip package manager
- TensorFlow version (use command below

[2019-10-29 10:12] oanush commented on #33777
@jrm346 ,
When tried executing the given code
`AttributeError: module 'tensorflow_datasets' has no attribute 'Categorical'` was faced, can you provide complete standalone code to reproduce the issue ?Thanks!

[2019-10-29 10:14] QuantumInformation commented on #31
Ask the 1200 members in discord )

On Tue, 29 Oct 2019 at 10:57, vtrokhymenko <notifications@github.com> wrote:

--

Kind regards

Nikos Katsikanis

[2019-10-29 10:17] ravikyram commented on #33751
@sxsheng
I tried reproducing the issue. However i am getting error `SystemExit: 2`. I am attaching the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/07a0d6cb3795ab7be0f1c00bdfb88f4d/untitled312.ipynb) Please, help us to reproduce the issue. It is easy for localizing the issue faster. Thanks!

[2019-10-29 10:18] DocDriven commented on #33791
After further testing, I think that the tflite model is not working as intended. Although it can be loaded and seems to produce somewhat plausible results, it seems to be a completely deterministic model. If it was working correctly, this would not be the case.

This leads me to believe that a non-implemented error for the random function goes unnoticed by the converter. Maybe this proves helpful

[2019-10-29 10:22] ravikyram commented on #33737
@JiaxiangBU
Please, provide simple standalone code to reproduce the issue in our environment, then it is easy for localizing the issue faster. Thanks!

[2019-10-29 10:25] pablomainar commented on #33601
Same problem here. Versions: Tf 2.0.0, CUDA: 10.0, CUDNN: 7.6, Python 3.7.4, Ubuntu 18.04.3

In addition, when logging the device placement of ops with `tf.debugging.set_log_device_placement(True)`, I can see that in each training step (forward pass and gradient computation) the following logs appear:

`2019-10-29 10:55:09.199413: I tensorflow/core/common_runtime/eager/execute.cc:574] Executing op

[2019-10-29 10:28] qixiang109 commented on #9260
logits = log(p), not p .

[2019-10-29 10:28] qixiang109 commented on #9260
logits = log(P), not P

[2019-10-29 10:31] lsgrep commented on #26270
Is this still open? If so, I would like to take on this.

[2019-10-29 10:39] oanush commented on #33767
@olk ,
Can you share a simple and standalone code to reproduce the issue reported?Thanks!

[2019-10-29 10:44] ravikyram commented on #33729
@nbro
I tried reproducing the issue. However i am seeing different error`ValueError: No gradients provided for any variable: ['conv2d_flipout/kernel_posterior_loc:0', 'conv2d_flipout/kernel_posterior_untransformed_scale:0', 'conv2d_flipout/bias_posterior_loc:0', 'dense_flipout/kernel_posterior_loc:0', 'dense_flipout/kernel_posterior_untransformed_scale:0', 'dense_flipout/bias_posterior_loc:0', 'de

[2019-10-29 10:47] bigbrother1991 opened #33819 "get_default_graph"

[2019-10-29 10:54] Selotkin commented on #33630
@leslie-fang-intel Thanks, after several tries I finally built with MKL.

[2019-10-29 10:54] #33630 closed

[2019-10-29 11:00] ngc92 opened #33820 "normalization in cosine similarity"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/losses/cosine_similarity
https://www.tensorflow.org/api_docs/python/tf/keras/losses/CosineSimilarity

## Description of issue (what needs changing):
The documentation for the cosine similarity does not state whether `y_true` and `y_pred`
are expected to be normalized vectors. The provided equation `loss = -sum(y_true *

[2019-10-29 11:23] ucasiggcas opened #33822 "tf.contrib.rnn.OutputProjectionWrapper"
hi,
In tf 1.14.0,there is no new API for the function,
could you help me ?I want translate the Op in tflite .
thx

[2019-10-29 11:29] ivankxt commented on #33769
The source is bazel build by: cuda10.0 and cuDNN7.5.1

The GPU machine is:
# nvidia-smi
Tue Oct 29 19:27:16 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.50       Driver Version: 430.50       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id

[2019-10-29 11:29] ravikyram commented on #33449
@cfwin
@urvishp80
any update please.Thanks!

[2019-10-29 11:31] ravikyram commented on #33541
@netw0rkf10w

Any updates please. Thanks!

[2019-10-29 11:41] ravikyram commented on #33685
I have tried on colab with TF version 1.14,1.15.0-rc3 and was able to reproduce the issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/30062ca18ac915e01acfb42473d3603b/untitled314.ipynb).Thanks!

[2019-10-29 11:45] l0ophole commented on #33758
@m01 thanks for the alternate approach. I had never used bazel before this trying to compile this project so I'm sure there are much better ways of patching than the way I did it. :-)

recent versions of grpc aren't affected by this issue, are they? I figured I was having issues because I was trying to compile an old version of tensorflow that had a dependency on an old version of grpc. I thought

[2019-10-29 11:48] #33655 closed

[2019-10-29 12:08] fengwang commented on #32646
what is the difference between `tensorflow.python.keras` and `tensorflow.keras`? Why this trick works?

[2019-10-29 12:10] dsmic commented on #26270
For me it is closed, I learned to use only limited python statements, but did not find any detailed documentation, what is allowed....

[2019-10-29 12:18] saravanabalagi commented on #21983
@hackermd how do I write an estimator directly without using `model_to_estimator`, can you clarify what to do in the marked lines in this minimal example?

[code]

Will help for those whose wants to use a workaround, until the bug is fixed :)

[2019-10-29 12:36] tensorflowbutler commented on #33074
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-29 12:36] tensorflowbutler commented on #33204
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-29 12:36] tensorflowbutler commented on #33327
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-29 12:40] olk commented on #33767
@oanush that's not so easy to produce standalone code - I could give you the link to the git repo (contains Makefiles to generate the data and to train the model) alternatively I could post the model code.
It is the same code that causes issue #33809 '_MirroredStrategy compared to OneDeviceStrategy slower and much weaker learning_' - maybe both errors are related.

[2019-10-29 12:48] olk commented on #33767
- Model:
[code]
- training (stripped):
[code]

[2019-10-29 13:02] awolant commented on #33358
@JoshEZiegler I'm not sure if this is applicable here, but I got the same error in different context and solution for me was to pass a callable instead of the instance as `optimizer` parameter allows that ([docs)](https://www.tensorflow.org/api_docs/python/tf/estimator/DNNClassifier#args). In your case you can pass `optimizer=tf.keras.optimizers.Ftrl`, I think.

[2019-10-29 13:08] saravanabalagi commented on #21983
I tried

[code]

But I got `No gradients provided` error,

[code]

[2019-10-29 13:16] alanhdu commented on #33437
@ymodak: Is there a reason this issue got closed? You posted a work-around, but AFAICT the issue still exists.

[2019-10-29 13:23] jrm346 commented on #33777
sorry forgot to add my import statements.

[code]

[2019-10-29 13:43] nbro commented on #33729
@ravikyram Please, use the following dependencies

[code]

I only had to install TensorFlow 2 (without GPU support) and TensorFlow Probability with the following `requirements.txt` file inside an empty virtual environment (which contained only the usual setuptools and wheel packages)

[code]

The other dependencies you see above have been installed recursively. You should also try to use Python 3.

[2019-10-29 13:56] chrism0dwk opened #33823 "Missing TF 2.0 low-level API guide"
## URL(s) with the issue:

https://www.tensorflow.org/guide

## Description of issue (what needs changing):

In the TF1.* docs, a very helpful low-level API guide was provided which helped those of us interested in using TensorFlow for applications other than NN style models.  This appears to be entirely missing from the TF 2.0 documentation.  Is this omission on purpose, and if so how do we teach

[2019-10-29 14:00] carlthome commented on #26247
@jvishnuvardhan this issue should be reopened. This is still an issue in `tfio.IOTensor.from_audio(path)` and tf.audio.decode_wav(tf.io.read_file(path))` on the latest stable release of TensorFlow and TensorFlow I/O.

**tf.audio.decode_wav**

**tfio.IOTensor.from_audio**

[2019-10-29 14:00] imskr commented on #33644
I would like to work on this. Please assign!

[2019-10-29 14:09] dexception commented on #33823
Stop wasting your time with Tensorflow.
I have too wasted my time. Nobody listens.
Move to PyTorch.

[2019-10-29 14:13] jramirezpr commented on #33790
Do you think  this has to do with my install? I get the warning when printing the model.fit command.
________________________________
De: ravikyram <notifications@github.com>
Enviado: lunes, 28 de octubre de 2019 11:38 p. m.
Para: tensorflow/tensorflow <tensorflow@noreply.github.com>
CC: Juan Carlos Ramirez <the_passenger89@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [tensorflow

[2019-10-29 14:18] jramirezpr commented on #33790
I got the message on the Spyder IDE for Anaconda (Windows 7).

[2019-10-29 14:23] RoMa03 commented on #33755
I have the same problem.  Code based on https://keras.io/layers/embeddings/

    import numpy as np
    from tensorflow.keras.layers import Embedding
    from tensorflow.keras.models import Sequential
    from tensorflow.keras.constraints import UnitNorm

    model = Sequential()
    #model.add(Embedding(1000, 64, input_length=10))    # This version works
    model.add(Embedding(1000, 64, input_le

[2019-10-29 14:27] jramirezpr opened #33824 "code and tutorial description mismatch on CNN"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/images/cnn
## Description of issue (what needs changing):
Two mismatchs between output shape on model summary and tutorial:
1"To complete our model, you will feed the last output tensor from the convolutional base (of shape (3, 3, 64))"
should be changed to
To complete our model, you will feed the last output tensor from the convolutio

[2019-10-29 14:30] nickoala opened #33825 "Using metric SparseTopKCategoricalAccuracy on an RNN results in rank mismatch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes. The code is given below to reproduce the issue.**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Linux Ubuntu 18.04**

- TensorFlow installed from (source or binary):
**Binary**, using pip

- TensorFlow version:
**v2.0.0-rc2-26-g64c3d38 2.0.0**

- Python ve

[2019-10-29 14:34] EduardoDixo opened #33826 "Calling train in SavedModelEstimator gives ValueError: At least two variables have the same name"
**System information**
- TensorFlow version (use command below): 1.12.0-rc2-3-ga6d8ffae09 1.12.0
- Python version: Python 3.6.9

**Describe the current behavior**

- Defining a model using tensorflow.keras
- Converting the compiled model to estimator
- Training estimator using train_and_evaluate
- Export all saved models for  "TRAIN", "EVAL" and "PREDICT"

When I create a SavedModelEstimator from

[2019-10-29 15:11] aptly-io opened #33827 "lowerbound not implemented (from searchsorted)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): pip3
- TensorFlow version (or github SHA if from source): tensorflow           2.0.0

**Provide the text output from tflite_convert**

[code]

[2019-10-29 15:20] kzawisto commented on #31912
@alexminnaar
I've stumbled across same problem.

The file you are looking for, third_party/gpus/cuda/include/cuda_fp16.h really comes from your CUDA installation i.e. $CUDA_HOME/include/cuda_fp16.h .

Somehow copy/link does not exist.

How about you go there:
/home/alex/.local/lib/python3.5/site-packages/tensorflow/include/
create directory third_party/gpus/cuda
and then symlink your CUDA include

[2019-10-29 15:21] carlthome commented on #26247
And @yongtang, here's an example with a JUNK header:

[example.zip](https://github.com/tensorflow/tensorflow/files/3784317/example.zip)

Seems that it might be about being compatible with CD players and so on: https://www.daubnet.com/en/file-format-riff

[2019-10-29 15:22] netw0rkf10w commented on #33541
@ravikyram My apologies for the delay.
I tried to quickly reproduce the issue in [this notebook](https://colab.research.google.com/drive/11kDGNoNy2GbXMqpHEOTzCwM1-ZDR_28a), but failed (everything is working in the notebook).

I observed the issue when working on a segmentation task, so maybe I will take some time to see if it's reproducible on that dataset. For now let me close this issue.

Thanks

[2019-10-29 15:22] #33541 closed

[2019-10-29 15:23] Byshkin commented on #33365
Hi. I have a similar problem. Are there working examples, where batch normalization works with float64 in TF 2?

[2019-10-29 15:31] RyanPeking opened #33828 "Questions about the example "Neural machine translation with attention""
There is one questions when I learned the  example "Neural machine translation with attention"(https://www.tensorflow.org/tutorials/text/nmt_with_attention).
       Why the attention weight is calculated by encoder_output and encoder_hiiden and context vector is contacted with decoder_embedding.  In my opinion, the attention weight should be calculated by encoder_output and every single hiiden of

[2019-10-29 15:41] dsp-ml opened #33829 "Train in Keras with Stateless CuDNN GRU and infer using tensorflow with stateful CuDNN GRU"
Hi

I am facing a problem with using Stateful and Steteless CuDNN GRU

I trained my model in Keras with CuDNN GRU's using let's say 1000 time steps and stateful=False.

During inference, to keep the model real-time, I changed the time_steps to 1, and stateful=true to load the model and it's weights. I converted this model to tensorflow protobuf using convert_variables_to_constants() function to fr

[2019-10-29 15:52] engineerByNature commented on #31312
Update: Tried TF 2.0.0 and it does not show this issue.

[2019-10-29 15:57] skearnes commented on #33755
+1 thanks @RoMa03

[2019-10-29 16:04] jalexstark commented on #33733
This was I think caused by mis-handling of the release. An interim fix (make a backup copy of the dir first) might be to copy tensorflow/lite/experimental/ruy from master and copy into the TF 2.0 release.

[2019-10-29 16:08] jvishnuvardhan commented on #26714
@imarkiew @dd1923 There were lots of improvements over the last two releases. Can you please check with `TF2.0` or `tf-nightly` and let us know whether the issue persists in the newer TF versions. Please provide a standalone code reproduce the issue. Thanks!

[2019-10-29 16:17] #33690 closed

[2019-10-29 16:31] OverLordGoldDragon commented on #33487
@lukemadera What I meant with "edit it out" is, delete your long code excerpt from the comment to keep the thread easier to read and more relevant - thanks

To all: I'll resume testing today. Unfortunately TF devs seem to be unable to be bothered with, so I'll try digging in the source & profiling.

[2019-10-29 16:31] jvishnuvardhan commented on #32333
@vicpara Can you try to change last line as `model.evaluate(train.batch(BATCH_SIZE), steps=None, verbose=1)`. It worked without any error. Please check the [gist Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/cc84477a9522c956d9f433d96dd37cd5/untitled602.ipynb) for your reference. Thanks!

[2019-10-29 16:36] bfmat commented on #33074
@rmothukuru @tensorflowbutler Apologies for the delay. Yes, it is still an issue. In the gist posted most recently, the input and data shapes are both `(72, 128, 1)`. No error is expected in this case. The problem is that, when eager execution is disabled, _no_ error is raised when, for instance, the data shape is `(128, 72, 1)` while the input shape is `(72, 128, 1)`.

[2019-10-29 16:37] mihaimaruseac commented on #33758
I'll attempt a grpc update this week. It might take a while though.

[2019-10-29 16:38] alextp commented on #23646
The indices are integers and as such there is no meaningful gradient
defined for them (you cannot take the limit of a small change to an integer
value as this change goes to zero).

On Wed, Oct 23, 2019 at 11:26 AM George Sterpu <notifications@github.com>
wrote:

--
 - Alex

[2019-10-29 16:40] mihaimaruseac commented on #33604
You have the `cp36-cp36m-macosx_10_11_x86_64` tag and that should correspond to [one of the wheels we are posting](https://files.pythonhosted.org/packages/c8/a1/2ab46a175c916b0149ccb9edc06202bce6365455779fa251c1f59a4c7806/tensorflow-2.0.0-cp36-cp36m-macosx_10_11_x86_64.whl)

Was the `pip debug --verbose` output from the Dataflow machine / from a machine where you cannot install?

[2019-10-29 16:41] mihaimaruseac commented on #33740
Closing as duplicate. Please consul #18169 for reasons.

[2019-10-29 16:41] #33740 closed

[2019-10-29 16:42] mihaimaruseac commented on #33569
1.15 has the single pip package for CPU/GPU and 2.0 doesn't. As we needed to change pip files for this, it might be the reason for this.

[2019-10-29 16:55] zo7 commented on #33347
No, I haven't had too much time to work on this and it's unclear what's causing it...

[2019-10-29 16:55] ghannum commented on #25299
Thanks for the advice. I actually managed to find a solution by not using the subclass approach. Returning a dict seems to be supported for functional models.

[2019-10-29 16:59] fhoering commented on #33569
Can you fix this ?
We would like to test this single package on GPU/CPU machines before moving on to 2.0.
Otherwise it means we need to upgrade directly to 2.0 which will be more risky.

[2019-10-29 17:00] allenlavoie commented on #33763
You can use `tf.train.Checkpoint.write` if you want a no-frills API that just saves to a given prefix.

[2019-10-29 17:00] #33763 closed

[2019-10-29 17:02] lukemadera commented on #33487
I just saw a Kaggle competition for TF 2.0 so I'm assuming they'll either see this performance issue there or if not, there's something we're doing wrong..

[2019-10-29 17:04] mihaimaruseac commented on #33569
2.0 doesn't have a single pip package. @yifeif is working on enabling it for 2.1

[2019-10-29 17:08] jsimsa commented on #33662
Does the [following guide](https://www.tensorflow.org/tutorials/load_data/tfrecord#tfrecord_files_using_tfdata) address your question?

cc @MarkDaoust

[2019-10-29 17:17] JoshEZiegler commented on #33358
@awolant I believe that workaround ends up being equivalent to what I mentioned just above your comment: passing a string to specify the optimizer. The key use case excluded by these workarounds is manual tuning of the hyperparams of the optimizer. It's unclear to me if there's a way to do that without passing an instance of ```optimizer```...

[2019-10-29 17:18] jvishnuvardhan commented on #33394
@netw0rkf10w The above PR will fix the issue for you. In the mean time you can provide converted tensors of `y_pred` and `y_true`  as follows. Thanks!
`loss = cce(
  tf.convert_to_tensor([0, 1, 2]),
  tf.convert_to_tensor([[.9, .05, .05], [.5, .89, .6], [.05, .01, .94]]))`

[2019-10-29 17:21] fhoering commented on #33569
OK. thanks for the info. I wasn't aware of this. That also explains why tf 2.0.0 wheel is so small.

Can you nevertheless fix this ? I suppose we will have the same issue with 2.1 and we currently use both package tensorflow-gpu and tensorflow and would like to use only one.

[2019-10-29 17:22] gowthamkpr commented on #33818
@SaschaHeyer As mentioned by the error message and as you can see [here](https://www.tensorflow.org/api_docs/python/tf/estimator/experimental) the `tf.estimator.experimental` module doesn't have `KMeans`.
Instead you can use `tf.compat.v1.estimator.experimental.KMeans` to accomplish the same task. You can find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/674ddf0ad388d3e29

[2019-10-29 17:25] gowthamkpr commented on #33818
@SaschaHeyer As mentioned by the error message and as you can see [here](https://www.tensorflow.org/api_docs/python/tf/estimator/experimental) the `tf.estimator.experimental` module doesn't have `KMeans`.
Instead you can use `tf.compat.v1.estimator.experimental.KMeans` to accomplish the same task. You can find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/674ddf0ad388d3e29

[2019-10-29 17:45] mihaimaruseac commented on #33569
Yes, 2.1 should not have this issue again.

[2019-10-29 17:45] OverLordGoldDragon commented on #33487
@pandrey-fr Question: why do you use `tf.data.Dataset`? Do you expect any performance gains from non-TFRECORDS files (i.e. Numpy)? I rather keep testing minimalistic

[2019-10-29 17:54] jvishnuvardhan commented on #33673
@Yablon Can you create a standalone code with some data? Thanks!

[2019-10-29 17:59] yifeif commented on #33569
Thanks for reporting @fhoering! Yes we should and will fix this.

[2019-10-29 18:00] ymodak commented on #33774
The [example](https://www.tensorflow.org/lite/convert/cmdline_examples#convert_a_tensorflow_graphdef_) you are referring to contains documentation on using the ```tflite_convert``` command line tool in TensorFlow 1.X. Therefore the above example works in TF 1.X and fails in TF 2.X
For using ```tflite_convert``` command line tool in TF 2.X you may see https://www.tensorflow.org/lite/convert/index

[2019-10-29 18:12] gowthamkpr commented on #33143
I am still facing the same error @racinmat Please share your github gist.

[2019-10-29 18:13] dynamicwebpaige commented on #32953
Though this functionality is outside of the scope of TensorFlow Core in the near term, it might be a good fit for [TensorFlow Addons](https://www.github.com/tensorflow/addons). If we see sufficient traction in Addons, then the symbol could be migrated to `tensorflow/tensorflow`.

Rerouting this feature request to the `addons` repo; @seanpmorgan for visibility.

[2019-10-29 18:22] dynamicwebpaige commented on #32783
Tagging in @karmel and @seanpmorgan, RE: graduation from `addons` to core.

[2019-10-29 18:35] amirmazaheri1990 commented on #18781
Hi,
The document is still pretty much vague:

First of all, what is the meaning of an Auxiliary Name Scope? And what is its relation with reuse?

What does it mean that it takes effect once? like in a for loop on multiple GPUs, should it be True for the whole loop, or False?

[2019-10-29 18:36] dynamicwebpaige commented on #32727
Though this is potentially out of the scope of TensorFlow core, it might make sense to add to [TensorFlow Addons](https://www.github.com/tensorflow/addons) as a loss function.

Rerouting the request to `addons`; @seanpmorgan for visibility.

[2019-10-29 18:38] seanpmorgan commented on #32783
cc @Windqaq who will be submitting the PR in ~two weeks after exams. There was some discussion about whether or not we should use the C++ implementation or just composite python ops, but the reported speed up looks to be ~3x so IMO we should use the op implementation (which is pretty straight forward):
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/custom_ops/activations/cc/ker

[2019-10-29 18:44] ymodak commented on #33775
A subset of ```tf.keras``` functions are available in ```tf.nn``` module. However the parameters of these functions are different.
For instance we may compare the parameters of [tf.nn.conv2d](https://www.tensorflow.org/api_docs/python/tf/nn/conv2d) and  [tf.keras.layers.Conv2D](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D)
Therefore it offers more flexibility to the users for

[2019-10-29 18:53] jvishnuvardhan commented on #33789
@kiflowb777 The error is correctly displaying the attribute error as there is no attribute named "metric_tensors". When i changed one line from
`model.metrics_tensors.append(loss)`
to
`model.metrics.append(loss)`
there was no error. I changed your code to work with `tf.keras` and the updated code is [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/6305f3b797a7ca9059b9d766e71a53f1/untitl

[2019-10-29 18:53] #33789 closed

[2019-10-29 19:05] ymodak commented on #33752
This is still an issue with recent TF version 1.15.0
I will close this issue since you have found a workaround and we can track this bug on the other thread you mentioned. Thanks!

[2019-10-29 19:05] #33752 closed

[2019-10-29 19:11] Ferluci commented on #33746
Had the same problem, fixed it with pip reinstall tensorflow and protobuf
[code]

[2019-10-29 19:13] saravanabalagi commented on #21695
How do we do this in tf2?

[2019-10-29 19:17] sun51 commented on #32884
in the repro, the patch size is 60 and stride size is 50, so there will be some overlap. just want to check whether this is what you want

[2019-10-29 19:26] assulthoni commented on #32381
CUDA 10.1 is still not working?

[2019-10-29 19:51] gowthamkpr commented on #33696
I used tensorflow-gpu 2.0 but was not able to reproduce it. Heres ny [github gist](https://colab.sandbox.google.com/gist/gowthamkpr/3e9074efcea097b19009761df3be5cfd/untitled209.ipynb) I think this issue is specific to windows.

[2019-10-29 20:04] sleighsoft commented on #18781
If you can, I would suggest you move on to v2.0 and leave 1.x behind. It is sooo much easier to use.

+ I agree, that wording is "difficult"

[2019-10-29 20:07] gowthamkpr commented on #33817
@neilwarrack This is not a tensorflow issue. This issue related to `pipenv` and its been tracked [here](https://github.com/pypa/pipenv/issues/2791). Follow this [comment](https://github.com/pypa/pipenv/issues/2791#issuecomment-446037453) and it should work.

[2019-10-29 20:15] netw0rkf10w commented on #33394
@jvishnuvardhan Thanks a lot!

[2019-10-29 20:15] #33394 closed

[2019-10-29 20:23] ymodak commented on #33795
The compatibility table tells us about the configurations which are tested and were able to build TF successfully. However it does not cover all successful build configurations but only a subset of it.
So the tested build configurations table is not outdated.
I will close this issue now since you are able to install TF. Thanks!

[2019-10-29 20:27] alextp commented on #27949
@hansong999 @UdiBhaskar can you open separate issues with the instructions to reproduce your problems?

[2019-10-29 20:29] perfinion commented on #33691
@srjoglekar246 Thanks for looking into this!
In my case as a workaround using TFSelect would be the best for now since thats how i've trained the model. How do I make toco use the select-op instead of the regular builtin tflite-ops for only the resizeBilinear, all the other ops are good as-is and I can keep using. I've normally only seen TFSelect for ops that are missing. (i could hack TOCO and re

[2019-10-29 20:36] gowthamkpr commented on #33161
Closing this issue as it has been inactive for more than a week. Please add additional comments and we can open the issue again. Thanks!

[2019-10-29 20:36] #33161 closed

[2019-10-29 20:37] gowthamkpr commented on #33176
Closing this issue as it has been inactive for more than two weeks. Please add additional comments and we can open this issue again. Thanks!

[2019-10-29 20:37] #33176 closed

[2019-10-29 20:39] fperrotta commented on #33182
I have the same issue.

[2019-10-29 20:41] OverLordGoldDragon commented on #33795
@ymodak While I've made an install, I now face a compatibility issue w/ Keras 2.3.1 - latter aside, my question on cuDNN compatibility remains: can cuDNN 7.4.2 installed from source, manually, run with cuDNN 7.6.0 installed by Anaconda (into a conda environment w/ TF2 install)? I can open a separate issue on this if needed.

[2019-10-29 20:49] gowthamkpr commented on #33255
@arunumd In Tensorflow 2.0, there is no placeholder. If you are using TF 1.x code, You need to update your TF1.x code to TF2.0 code and then run it.

Please take a look at this [question.](https://stackoverflow.com/questions/56226284/why-do-i-get-attributeerror-module-tensorflow-has-no-attribute-placeholder).

[2019-10-29 20:49] jvishnuvardhan commented on #33719
@Jar7 May be there was an over allocation in `TF1.8`, which is a very old version. The allocation with TF1.12 seems to be correct as I checked with `TF1.15` which is also taking similar allocation. I would suggest to use `TF1.15` as there were lots of performance improvements. Thanks!

[2019-10-29 20:52] jvishnuvardhan commented on #33794
@brorro Are you interested in submitting a PR to update the docs? Please feel free to send PR and add a note here so that we can track. Thanks!

[2019-10-29 21:05] taeklee opened #33830 "Typo in TensorFlow Core Tutorials - Image classification"
## URL(s) with the issue:
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/images/classification.ipynb

## Description of issue (what needs changing):
Typo

### Clear description
[code]
In Create the model section,
```thatr``` should be ```that```

[code]
### Submit a pull request?

[2019-10-29 21:15] sun51 commented on #32884
I think I found the problem, it is not about tf.image.extract_patches. It is about np.resize()

I inserted print(xx.shape) to check the shapes of extracted patches, and the shape of np.resize, turns of the no.resize(), if you use -1,  the length of last dimension is reduced by 1.
If you fix it by using patches.shape[3], it prints the correct values as expected.

    patches = np.array(patches)

[2019-10-29 21:15] joehoeller commented on #33161
Sorry I’ve been busy on project work. You must know how it is — most ppl
are on a 2 week cycle w me.

On Tue, Oct 29, 2019 at 3:44 PM gowthamkpr <notifications@github.com> wrote:

[2019-10-29 21:28] sun51 commented on #32884
Or instead of using np.resize(), you could use np.reshape(), which interpret -1 as expected

[2019-10-29 21:28] #32884 closed

[2019-10-29 21:31] srjoglekar246 commented on #33691
You could this:

[code]

Since the new converter doesn't recognize that ResizeBilinear, it will only convert that one to the Select-TF version. However, note that Select-TF isn't available (currently) via the Python API, but you can verify the model works by using one of the [other APIs](https://www.tensorflow.org/lite/guide/ops_select#running_the_model).

[2019-10-29 21:37] ymodak commented on #33412
I was able to reproduce reported behavior TF 2.X consumes more than twice the memory taken by TF 1.X

For TF '1.15.0'
[code]

For TF '2.1.0-dev20191029'
[code]

[2019-10-29 21:39] bono1567 commented on #33776
I would like to work on this one.

[2019-10-29 21:46] dbonner opened #33831 "TF2.0.0 Error on InceptionV3"
Last Edit: This is too hard to reproduce.  It relies on a custom 'pylib' module.  Closing the issue.

I have updated this post to have a more user-friendly piece of code.  You need to run it with ipython or paste it in to a cell on jupyter notebook because the first three lines are bash script executed using the (!) magic command.
I have seen this code execute properly with Python 3.6 running on a

[2019-10-29 21:47] gowthamkpr commented on #33327
Closing this issue as it has been inactive for more than 15 days. Please add additional comments and we can open the issue again.

[2019-10-29 21:47] #33327 closed

[2019-10-29 21:50] jvishnuvardhan commented on #33786
@kiflowb777 As mentioned by @Sooryakiran there is no module named 'tensorflow.keras.engine'. All of the submodules unders the `keras.engine` are under different modules within `tf.keras`. I am sure you are trying to migrate from `keras` to `tf.keras`. In the process, if you notice any bugs, please file them as new issues.

I am closing this issue as it is resolved. Please feel free to open a new i

[2019-10-29 21:50] #33786 closed

[2019-10-29 21:52] yang12313 commented on #32784
Hi Buddy,

does it work?

[2019-10-29 21:53] mattroos commented on #33558
I'll give it a try. @Namburger, did you really mean tf1.5? Did you possibly mean tf1.15?

[2019-10-29 21:56] jvishnuvardhan commented on #1325
@wenting-zhao Please create a new issue by providing a standalone code to reproduce the issue. thanks!

[2019-10-29 22:01] gowthamkpr commented on #33369
@venuswu Is there a way that you can provide us a minimal reproducible example ? Also can you please explain it clearly as I am unable to understand what you are trying to convey? Whats the root cause of the issue?

[2019-10-29 22:01] Namburger commented on #33558
@mattroos sorry, tf1.15

[2019-10-29 22:11] alextp commented on #33688
This is pretty bad, I agree. @allenlavoie @saxenasaurabh I think we can probably add device annotations in https://github.com/tensorflow/tensorflow/blob/c103b2b42dd710eda1f1e795ab7b2af3960233ef/tensorflow/python/eager/backprop.py#L141 right?

[2019-10-29 22:15] qlzh727 commented on #33776
Thanks for reporting this issue. I think this is a historical issue since the we directly invoke cell.call() method rather than cell.__call__(). This cause the name scope in the __call__ to be ignored, which result into the variable name doesn't have the prefix.

The fix might need some special care since it affects the existing saved model (since the variable name changed, as well as the ops unde

[2019-10-29 22:26] joker2017 commented on #25841
Hey. I have the same problem in ios swift. Tell me how to do this operation in swift

[2019-10-29 22:26] allenlavoie commented on #33688
So basically the colocate_gradients_with_ops option to `tf.gradients` in 1.x. Yeah, seems fine. Device labels leaking into SavedModels might be a consequence, but mostly those will save inference functions.

If you just don't have a scope around the `tape.gradient` call, isn't this the behavior you'd get? I'd hope the placer would catch on and start placing the operations on the devices their inpu

[2019-10-29 22:32] joker2017 opened #33832 "How can I convert outputs or tflite tensors to swift multi-dimensional arrays to be able to perform mathematical computations on them?"
I am running posenet on swift with tflite.
The model has multiple output arrays with the following dimensions:
1x14x14x17, 1x14x14x34, 1x14x14x32, 1x14x14x32

How can I convert outputs or tflite tensors to swift ios multi-dimensional arrays to be able to perform mathematical computations on them?

[There was a similar question for java](https://github.com/tensorflow/tensorflow/issues/25841)

[2019-10-29 22:35] netw0rkf10w commented on #33763
@allenlavoie I obtained the following error when restoring a checkpoint in a distributed training:

[code]

Should I create a new issue? Thanks.

[2019-10-29 22:38] racinmat commented on #33143
I updated the github gist, not the collab. Which error are you getting with the most revent version of the gist?

[2019-10-29 22:40] dynamicwebpaige commented on #32379
This feature request is outside of the scope of TensorFlow Core, but would be a welcome addition as a loss function in [TensorFlow Addons](https://www.github.com/tensorflow/addons). If expected center loss has considerable traction in addons, we will then graduate it to `tensorflow/tensorflow`.

Rerouting this ticket to `addons`; @seanpmorgan for visibility.

[2019-10-29 22:44] xiang123 opened #33833 "Config value opt is not defined in any .rc file"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution windows 10:
- TensorFlow installed from source:
- Python v

[2019-10-29 22:45] dynamicwebpaige commented on #32243
This sounds like it might be an implementation bug, rather than a feature request.

@karmel @fchollet, could you take a look?

[2019-10-29 22:52] allenlavoie commented on #33763
Probably the optimizer's slot variable creation has moved to where the primary variable is created rather than happening during apply_gradients. That shouldn't generally affect placement, but looks like it's breaking something in your code.

Anyway, it's definitely not this issue. Feel free to open another one.

[2019-10-29 22:59] qlzh727 commented on #33768
So there is some difference for the subclass model vs normal model.

With normal model, we know the input/output shape when we construct the model, hence we properly config the model loss and metrics when compile() is invoked.

With subclass model, the input/output shape is unknown to us until it is first tested with proper data. In the compile() method, we will do a deferred compile and wait for

[2019-10-29 22:59] #33768 closed

[2019-10-29 22:59] yifeif commented on #31327
As @Spotlight0xff mentioned, `tf.sysconfig.get_link_flags()` should contains the correct name for libtensorflow_framework. And you should build the custom op library against the TF pip version you want to run with. Closing this issue now. Let us know if you have more questions.

[2019-10-29 22:59] #31327 closed

[2019-10-29 23:01] xiang123 commented on #33833
here is cmake file, if it helps

# Download and set up Tensorflow

include(${PROJECT_SOURCE_DIR}/cmake/Externals.cmake)

if(WIN32)
    set(GIT_EXECUTABLE "git.exe")
    # Use CMake to build tensorflow on windows
    if(FAST_BUILD_TensorFlow_CPU OR FAST_BUILD_TensorFlow_CUDA)
        ExternalProject_Add(tensorflow_download
            PREFIX ${FAST_EXTERNAL_BUILD_DIR}/tensorflow
            BINARY_

[2019-10-29 23:06] haozha111 commented on #33718
Hi,

This is because Einsum op is not supported in TF Lite. Is it possible to replace this op with other op in the model?

[2019-10-29 23:14] allenlavoie commented on #33681
That looks like it's only used here: https://github.com/tensorflow/tensorflow/blob/0250bfdb8c8f0dce3e11c91f5969c994660d21d9/tensorflow/c/eager/tape.h#L785

So safe to return 0; it's just used to estimate when to aggregate gradients, so a performance issue rather than a correctness issue. (CC @alextp )

Want to send a PR with that change? Happy to review. Ideally we'd know when this case is trigger

[2019-10-29 23:24] jpgard commented on #27416
Ah, I see, thanks @JoshEZiegler

[2019-10-29 23:28] jvishnuvardhan commented on #33182
@drasmuss @fperrotta I ran it in my local (Mac Os) as well as in Colab. I don't see any warnings. Later today I will check it on Windows10. Thanks!

[2019-10-29 23:30] mattroos commented on #33558
@Namburger, I gave it a try but can't be past the conversion of the model from the saved keras format to the tflite format. When I instantiate the converter I get warning, but no errors:
[code]
[code]

Then when I call convert(), I get an error that I can't interpret:
[code]
[code]

[2019-10-29 23:32] ymodak commented on #33644
The GitHub repository you are referring to is not maintained by offfical TensorFlow team.
Perhaps your issue is more suitable on https://github.com/sglvladi/TensorFlowObjectDetectionTutorial/issues.
Please try posting it there. Thanks!

[2019-10-29 23:32] #33644 closed

[2019-10-30 00:28] amitp-ai opened #33834 "Embedding Layer's mask operation with LSTM Layer Gives Wrong Results When Using a GPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-10-30 00:31] jsimsa commented on #33383
This is working as intended. The good dataset dropped `0.0` while the bad dataset dropped `1 / 0.0`.

@scharron What output would you expect for your example?

[2019-10-30 00:37] jvishnuvardhan commented on #33685
@Xie-Fangyuan I think the error was due to `dtype` of `boxes` and `scores`. When I converted both the dtypes to `tf.float32`, there was no error.

The two lines of code I added is here
[code]

Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/ef0802b70622b3294a251108bd3ee5a5/untitled314.ipynb).

I am closing this issue as it was resolved. Please feel free to open th

[2019-10-30 00:37] #33685 closed

[2019-10-30 00:45] gtg162y opened #33835 "A bug in TF2.0 that prevents tf.int32 tensor to be placed on GPU (but tf.int16/64 or tf.float32 is fine)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-10-30 01:10] #33449 closed

[2019-10-30 01:55] karmel commented on #32052
Sorry for the delay. There is a lot going on in this thread, and many of these issues are unrelated.

@Mageswaran1989 -- Estimator is not designed to interleave calls to train and evaluate (or predict), and we would recommend the train_and_evaluate API. If you want to be able to interleave and inspect between epochs, I recommend looking at the [Keras](https://www.tensorflow.org/guide/keras) API in

[2019-10-30 02:04] MachineJeff commented on #32281
I met this problem too, have you solved this problem?

[2019-10-30 02:04] lsgrep commented on #33798
BTW, I think CI should run automatically after each commit.

[2019-10-30 02:11] zychen2016 commented on #31948
[code]

could you tell me that what is the  "Quantized Model"  ? ssd_mobilenet_v1 or v2?

[2019-10-30 02:11] xenogew commented on #33774
Then,
Can I use model `.pb` file from the [example](https://www.tensorflow.org/lite/convert/cmdline_examples#convert_a_tensorflow_graphdef_) (the stuff defined in example `curl https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_0.50_128_frozen.tgz   | tar xzv -C /tmp` to be a convert source model?

The truth is I tried once and it look like it's the **multiple functions** t

[2019-10-30 02:13] TrailBlazerAI commented on #33365
Hi Ravikyram,

Here is code to replicate the issue:

[code]

[2019-10-30 02:18] SuperCrystal commented on #33771
@ravikyram Hello! I've added the complete code. Is there any suggestions on how to solve this problem? Thx!

[2019-10-30 02:20] tb438 commented on #33365
Hi Ravikyram,

Here is the code and exception:

Python 3.7.5rc1 (default, Oct  8 2019, 16:47:45)
[GCC 9.2.1 20191008] on linux
Type "help", "copyright", "credits" or "license" for more information.

2.0.0

[...]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/dist-packages/tensorflow_core/python/keras/engine/base_layer.py", line 842, in __

[2019-10-30 02:40] Zhengtq commented on #33775
As tf.keras api could provide more flexibility in contrast to tf.nn api, so I think there is no need to keep tf.nn api in the new version of tf2.0 any more. If keep both, it could cause more confusion to tensorflow users.

[2019-10-30 03:04] adragoset commented on #33194
This is broken in tf 1.14 as well
device_count = {'GPU': 0} is ignored and gpu is prioritized anyway.

[2019-10-30 03:06] Xie-Fangyuan commented on #33685
really thanks! float32 works well.

[2019-10-30 03:07] Yablon commented on #33673
@jvishnuvardhan Thank you for your reply !
After clearing my redundant codes, I think the problem is solved for now. I can train my model since 12 hours ago. I think TF2.0 is better to develop and debug than TF1.x.
Sorry for the interuption.

[2019-10-30 03:07] #33673 closed

[2019-10-30 03:26] yongtang commented on #26247
@carlthome added a PR in tensorflow/io (https://github.com/tensorflow/io/pull/594)

[2019-10-30 03:48] dbonner commented on #33799
@ravikyram
I've finally got this right.  Sorry to mess you around with this.  Github markdown removed the underscores on the init part of the LinearRegressionTF() class when I pasted it in.  This got transferred through to the code file.  The correct code is attached.  It runs fine in Python 3.7 but errors in Python 3.8.  I have also removed the reference to the subdirectory "small_data" so you ca

[2019-10-30 03:49] saintthor commented on #33412
thanks.

For TF '1.15.0'，the start and imported logs seems same. because you imported tensorflow at the beginning. We may mainly compare the imported and loaded logs.

[2019-10-30 03:50] oanush commented on #33828
@RyanPeking ,

Hello,This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-10-30 03:56] DenisPolygalov commented on #25227
@martinwicke To make it clear:
1. The upgrade script does not handle this problem.
2. Using tf.compat.v1 will not make it work.
3. The only “more detailed conversion guide” I was able to find 9 month since this issue was opened is only short paragraph [here](https://www.tensorflow.org/guide/migrate) which basically state “it is not simple and it is your problem”.

Your statement was addressed to t

[2019-10-30 04:01] alexbooth opened #33837 "Using intermediate layer outputs in custom loss function causes CUDA_ERROR_OUT_OF_MEMORY"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Ubuntu 19.10**
- TensorFlow installed from (source or binary):
**Binary*
- TensorFlow version (use command below):
**2.1.0-dev20191027 (same results in 2.0)**
- Python version:
**3.7.5rc1**
- CUDA/cuDNN version

[2019-10-30 04:06] sonfiree commented on #33194
device_count = {'GPU': 0}, it`s work for me in tf1.14

[2019-10-30 04:08] Directory opened #33838 "pip missing all versions beyond 1.13.1"
- Rasbian 9 buster
- TensorFlow installed from binary
- TensorFlow version: 1.14.1
- Python version: 3.7
- Installed using pip

I need tensorflow version 1.14.0 specifically. Windows has the version I'm looking for. But when i run it on my pi pip says that 1.14.0 is missing and it only lists possible version numbers of 1.11.0, 1.12.0, and 1.13.1.

**sudo python3.7 -m pip install tensorflow==1.14.0

[2019-10-30 04:18] oanush commented on #33826
Issue replicating for TF 1.12,kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/7f3781dbd355dcf9915f96c2c1405944/33826.ipynb) of colab.Thanks!

[2019-10-30 04:23] jume2003 commented on #28705
try this but only for vs2015 https://github.com/tensorflow/tensorflow/tree/r2.0/tensorflow/contrib/cmake

[2019-10-30 04:35] adragoset commented on #33194
Not sure about that my tests were passing in 1.12 but broke when i upgraded to 1.14 and im seeing TF forced to gpu where it breaks tensorrt libraries im using. At any rate setting CUDA_VISIBLE_DEVICES=0 should force to CPU in 1.14 and that isnt working either.

[2019-10-30 04:36] brorro commented on #33794
@jvishnuvardhan I will. Thank you

[2019-10-30 04:36] fsx950223 opened #33839 "tensorflow.linalg.norm document missing"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/t

[2019-10-30 05:02] jverce commented on #26150
I achieved similar results by trying a similar approach. However I'm having runtime issues when trying to import `tensorflow_addons`:
[code]

[2019-10-30 05:22] #33831 closed

[2019-10-30 05:38] ageron commented on #33297
Hey @wangpengmit ,
When do you expect `tf.random.experimental.get|set_global_generator()` functions to be moved to `tf.random`, and when will `tf.random.uniform` (and other random functions) move to using the global generator by default?

[2019-10-30 05:51] oanush commented on #33815
@huake ,
Hi please follow this [link](https://www.tensorflow.org/install/source) for installation, looks like some path is incorrect while installing.Also include` ./configure `output.Thanks!

[2019-10-30 05:56] oanush commented on #33762
@l0ophole ,
Hello,looks like the issue is resolved. kindly let us know if we can close the issue.Thanks!

[2019-10-30 05:58] oanush commented on #33741
@anshkumar ,
Can you please share `ssd_tomato_l1_frozen_graph.pb` so that we can try replicating the issue ?Thanks!

[2019-10-30 06:05] ravikyram commented on #33833
@xiang123
The TensorFlow team does not officially support cmake, sorry. Please try out building from source with Bazel only.Please, follow the steps mentioned in the [Tensorflow build ](https://www.tensorflow.org/install/source_windows)official website.Please, let us know how it progresses. Thanks!

[2019-10-30 06:05] gadagashwini commented on #33204
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-30 06:05] #33204 closed

[2019-10-30 06:13] AravindGanesh opened #33840 "tf.image.ssim_multiscale does not work in tf-2.0.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: binary (pip)
- TensorFlow version: `2.0.0`
- Python version: `3.5.2`
- CUDA version: `10.1`
- GPU model and memory: GTX 1060, 6GB

[code]
ssim works fine but when I use the multiscale ssim, I am g

[2019-10-30 06:15] sonfiree commented on #33194
I launched two identical models.
I launched the first one on GPU (1060) and loaded the memory to the maximum
The second on the CPU and downloaded 2x from the GPU.
Departures weren’t working.

[2019-10-30 06:32] oanush commented on #33777
Issue replicating for the given code, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/e46b968c3a12f9aef2efa7336cd2accb/33777.ipynb) of colab.Thanks!

[2019-10-30 06:35] vishalsubbiah commented on #33354
fixed in #33481

[2019-10-30 06:35] #33354 closed

[2019-10-30 06:36] ravikyram commented on #33825
I have tried on colab with TF version 2.0 ,2.1.0-dev20191029 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/33f418bcd6dfd460f37114fa31dd99ad/untitled315.ipynb). Thanks!

[2019-10-30 06:40] ravikyram commented on #33819
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Can you please elaborate about the issue & the context.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue te

[2019-10-30 06:48] aishinchi commented on #33780
@oanush ,

**System information**
- OS Platform and Distribution : centOS 7.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): tf2.0.0
-GCC version: gcc (GCC) 4.8.5
-test env:  import tensorflow as tf
                  from tensorflow.python.framework.ops import disable_eager_execution
                   disable_eager_execution()

**SetSha

[2019-10-30 07:01] Yablon commented on #30866
@Jessespace Do you set the kernel_regularizer of the layer ? See the doc [tensorflow.keras.layers.Dense](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense)

[2019-10-30 07:03] awolant commented on #33358
@JoshEZiegler Right. My use case was a bit different and I missed that. But since we can pass any callable, then maybe something like this will work for you:
[code]

More on what `partial` is you can find in  [the docs](https://docs.python.org/2/library/functools.html#functools.partial). In my code it worked as expected.

[2019-10-30 07:05] ravikyram commented on #33805
@593618638
Looks like code is incomplete.Please, provide simple standalone code, then it is easy for localizing the issue faster. Thanks !

[2019-10-30 07:05] gadagashwini commented on #33813
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-10-30 07:09] nikochiko commented on #33838
I tried it in my ubuntu wsl.
It started installing with the command ```pip install tensorflow==1.14.0```
I got the following when I tried your syntax.

[code]

[2019-10-30 07:12] ravikyram commented on #33804
@huangshaoguang
Can you go through the [link ](https://www.tensorflow.org/lite/performance/gpu)and see if it helps you.Thanks!

[2019-10-30 07:14] nikochiko commented on #33838
I am able to install successfully with the command ```python3 -m pip install tensorflow==1.14.0``` in my ubuntu1804 wsl. I will try in raspbian.

[2019-10-30 07:15] devitnow15 opened #33841 "Is there a documentation/tutorial on step by step process for object detection and customised training using tensorflow2.0"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-10-30 07:20] nikochiko commented on #33838
Try running the command ```python -m pip search tensorflow``` from your raspbian.

[2019-10-30 07:46] abyanwang commented on #33163
@Benzion18 Thank you so much!!

[2019-10-30 07:54] nikochiko commented on #26211
@Williscool13 's PR has already been merged. This issue should be closed already.
@BlackHoundNate @dynamicwebpaige

[2019-10-30 07:56] superhg2012 commented on #32281
I tried convert savedmodel to trt_savedmodel  successfully with below command line:
[code]

And deploy the trt_savedmodel with tf-serving, no error found. But when send grpc request to tf-serving. error occurs below :
[code]
anybody who can explain this? thanks in advance!

[2019-10-30 07:58] Shubham3101 opened #33842 "Optimizer state gets automatically restored when loading weights from checkpoint and doesnt change when you compile the model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-10-30 08:10] gadagashwini commented on #33827
@aptly-io,
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-10-30 08:14] zychen2016 commented on #31949
could you share youre code? @val9299

[2019-10-30 08:18] gadagashwini commented on #32927
@bionicles, Any update!

[2019-10-30 08:19] gadagashwini commented on #33169
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-30 08:19] #33169 closed

[2019-10-30 08:28] anshkumar commented on #33741
@oanush Here is the [link](https://drive.google.com/open?id=1JC66YZEsdjtuGTF6ONJEfNibhJvSMvj5) to the model.

[2019-10-30 08:33] ptklx commented on #32548
who solve it  ,it happens tome ,  the tf version 2.0.0,cuda 10.2,cudnn 7.6
tensorflow.python.framework.errors_impl.UnknownError:  Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
         [[node conv1/Conv2D (defined at /pt/anaconda3/envs/tf2/lib/python3.7/site-packages/tensorflow_core/python

[2019-10-30 08:34] gadagashwini commented on #33288
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-10-30 08:34] #33288 closed

[2019-10-30 08:34] gadagashwini commented on #33447
@DontGiveUpEasily, Any update on standalone code!.

[2019-10-30 08:44] emremrah commented on #12388
Do you guys think using cache would be a problem? Do I need use `--no_cache` option?

[2019-10-30 09:03] ravikyram commented on #33785
I have tried on colab with TF version 1.14 and was able to execute the code  successfully with `use_tf_keras to True ` and `use_tf_keras = False`. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/0c7d4ac2d3a4f820271eec36c8b6dbd7/untitled318.ipynb).I have tried on colab with TF 2.0 and i am seeing the below error.`runtimeError: It looks like you are trying to use a versi

[2019-10-30 09:04] VoVAllen commented on #24453
@EvenOldridge
Here's my general thoughts on implementation:

- to_dlpack
  - Exposing the `TensorBuffer` and its `void* data()` under `Tensor` class. `Ref` it and enclosing `UnRef` into the deleter of DLManagedTensor
- from_dlpack
  - Write a Custom `Allocator` such as `ExternalMemAllocator`, and use this to deallocate buffer at deconstruction.

Feel free to comment.

[2019-10-30 09:05] nikochiko commented on #33839
Because ```tf.linalg.norm``` is same  as ```tf.norm```, the documentation is shared with ```tf.norm``` https://www.tensorflow.org/api_docs/python/tf/norm

[2019-10-30 09:10] jrm346 commented on #33777
yup that's the error should work with the `@tf.function` line removed

[2019-10-30 09:16] aptly-io commented on #33827
This is a python snippit edited and invoked from within visual studio code. Hope this clarifies. Thanks a lot to look into it!

[code]

This is the full output when running the 3rd cell:
[code]

[2019-10-30 09:21] fsx950223 commented on #33839
Thanks

[2019-10-30 09:21] #33839 closed

[2019-10-30 09:30] aaaaahaaaaa commented on #33604
@mihaimaruseac The output came from my local machine where the installation indeed failed, and it also fails on Dataflow.

[2019-10-30 09:39] Yablon opened #33844 "[tf2] Callbacks used in self-defined training"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): No

**D

[2019-10-30 09:44] EduardoDixo commented on #33826
Forgot to mention that there is an issue when running the same code in TensorFlow 1.13, 1.14 and 1.15, in the SavedModelEstimator call to train, raising:

`ValueError: Dimension 0 in both shapes must be equal, but are 0 and 1. Shapes are [0] and [1]. for 'loss/outputs_loss/weighted_loss/broadcast_weights/assert_broadcastable/is_valid_shape/has_valid_nonscalar_shape/has_invalid_dims/DenseToDenseSet

[2019-10-30 09:58] EdjeElectronics commented on #33671
Update: I just tested this with TensorFlow v2.0 (downloaded and installed from https://github.com/lhelontra/tensorflow-on-arm/releases), and everything worked fine.

[2019-10-30 10:03] ravikyram commented on #33365
I have tried on colab with TF version 2.0 , 2.1.0-dev20191029 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e6adf13651041e582a832373063de997/untitled319.ipynb).Thanks!

[2019-10-30 10:15] ravikyram commented on #33771
@SuperCrystal
I tried reproducing the issue and i am seeing the below error.`ModuleNotFoundError: No module named 'mobilev3'`.Also, please share supporting files to reproduce the issue. Thanks!

[2019-10-30 10:27] tulasiram58827 commented on #33494
The corresponding python interpreter   "class InterpreterWithCustomOps(Interpreter): "  to use with custom op is not present in the stable releases like  1.14,1.15,2.0 .
Python interpreter "class InterpreterWithCustomOps(Interpreter): " is only available in the master branch.
How can I use it as I cannot use master branch with pip install

[2019-10-30 10:28] Vooblin commented on #33718
Hi!
I understand why this error appeared and it's okay that einsum isn't supported. But I noticed that when I do the same with the earlier tensorflow version, this error doesn't appear. So as I understand, before now TFLiteConverter has converted einsum not as one operation, but as several operations. But now TFLiteConverter tries to convert einsum as one operation not having appropriate supportin

[2019-10-30 10:44] kiflowb777 commented on #33785
Thanks.
I'm trying to migrate from keras to tf.keras. Most of my project works on the tf.keras. But one network uses Mask_RCNN (https://github.com/matterport/Mask_RCNN).
I noticed that the layers shapes generated by Mask_RCNN are different if I use the keras and tf.keras.

It seems to me that if you use the tf.keras the compute_output_shape is not called.
You might notice that in this case that li

[2019-10-30 10:46] tulasiram58827 commented on #33711
I had already provided the source code in the first comment itself. Now I am posting again the code to reproduce the issue:
interpreter = tf.lite.Interpreter(model_path=tflite_model)
#Getting the input data
input_data = np.load(input_mel)
print(input_data.shape)
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()
input_data_resized = np.reshape(input_d

[2019-10-30 10:54] saravanabalagi commented on #21983
I was able to resolve no gradients error using

[code]

instead of

[code]

This happens probably because the variable `logits` is not tracked by Gradient Tape and hence results in No Gradient. If you used a batch_norm layer, you may get `Incompatible types: <dtype: 'variant'> vs. int64. Value is 1`, don't know how to resolve it, hence I removed the batch_norm layer.

**I was finally able to build

[2019-10-30 11:01] pandrey-fr commented on #33487
@OverLordGoldDragon

In 2.0, I believe the `fit` method transforms inputs to a `tf.data.Dataset` no matter what (which is a way to simplify some internal dependency functions), hence my initial intuition that part of the issue could come from overhead linked to this transformation. However I arrived at the same conclusion as you: this intuition was wrong, and there is no significant runtime change

[2019-10-30 11:23] pcko1 commented on #19016
switching to normal LSTM/GRU is not really a solution...

[2019-10-30 11:27] olesalscheider commented on #33688
Yes, having something like colocate_gradients_with_ops would be good.

I tried a toy example without the scope around `tape.gradient`. But the operations are just placed on GPU:0 and not on the device of the forward function.

[2019-10-30 11:34] lgeiger opened #33847 "Support SelectV2 in grappler layout transposer"
This issue is extracted from the conversation in https://github.com/tensorflow/tensorflow/pull/33694#issuecomment-546124837

 `SelectV2` currently isn't added to `grappler/op_types.cc`
https://github.com/tensorflow/tensorflow/blob/543f61dcab11cc3461c97dcdce660536e3e498d7/tensorflow/core/grappler/op_types.cc#L460
which is used in the layout optimizer?
https://github.com/tensorflow/tensorflow/blob/5

[2019-10-30 11:35] tombburnell opened #33848 "CUDNN_STATUS_INTERNAL_ERROR when running with CUDA 10.0 tensorflow-gpu on RTX2080 ubuntu18"
I have Geforce 2080, running latest nvidia drivers, Cuda 10.0, matching cudnn libs and I'm getting
CUDNN_STATUS_INTERNAL_ERROR when running with tensorflow-gpu.

**System information**
- NVIDIA drivers:  NVIDIA-SMI 430.50       Driver Version: 430.50       CUDA Version: 10.1
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribu

[2019-10-30 11:38] cnktysz commented on #33183
Had the same issue Clang 11.0.0, Python 3.7.3 macOS Catalina, your fix solved it for me.

[2019-10-30 11:38] gadagashwini commented on #33841
@devitnow15,
Please take a look at this [link](https://github.com/tensorflow/models/tree/master/research/object_detection). Thanks!

[2019-10-30 11:50] lattard commented on #23542
@sitting-duck Many thanks for the README file, it is indeed very useful, I followed all the steps and could build tf, generating the .dll and .lib function, however, similar to the people in this thread I have problems with unresolved external symbol.  I made the modifications as indicated:

- in the file session.h I added the line:
#include "tensorflow/core/platform/macros.h"
just after
#ifndef T

[2019-10-30 11:51] GarryGelade commented on #31312
Update: I also tried updating to TF 2.0.0. Memory usage of my 16GB tops out at 98%, after 9 out of 30 epochs but seems to stabilise there, dropping to 96-97% and then going up again, but not exceeding 98%.  Seems kind of close to the brink, but it went through.

From: engineerByNature <notifications@github.com>
Sent: 29 October 2019 16:15
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
C

[2019-10-30 12:00] hi-ogawa commented on #33758
I'm also on Arch and had the same problem when trying to build jax (which uses xla bits of tensorflow), but following @m01's approach, I managed to build it, thanks a lot!

Just in case other people want a quick temporary measure before @mihaimaruseac completes grpc update, I made a patch here https://github.com/tensorflow/tensorflow/compare/master...hi-ogawa:grpc-backport-pr-18950.

Using GitHub'

[2019-10-30 12:01] quintakFR opened #33849 "C API: Session Options for prediction on GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **yes for training and prediction**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **no**
- TensorFlow installed from (source or binary): **compile from sou

[2019-10-30 12:24] olesalscheider commented on #33688
Adding the annotations there might work, but we have to know which annotation to add. I just had a short look at `python/eager/tape.py` and `python/eager/pywrap_tfe_src.cc` and as far as I can tell the device is not recorded on the tape? So this might have to be solved first.
But I have to admit that I do not fully understand how recording to the tape works...

[2019-10-30 12:29] RenShuhuai-Andy commented on #26182
Look for compatible tensorflow and cuda versions: [https://www.tensorflow.org/install/source#tested_build_configurations](https://www.tensorflow.org/install/source#tested_build_configurations)
Look for campatible tensorflow and keras versoins: [https://docs.floydhub.com/guides/environments/](https://docs.floydhub.com/guides/environments/)

[2019-10-30 12:40] Vampsj opened #33850 "what is gen_rnn_ops in tensorflow/python/ops"
Hi, I am trying to create my own linear tanh&sigmoid activation functions for lstmblockfusedcell (in lstm_ops.py), thus I directly create my own activation functions in rnn_cell_impl.py file and import this file in my own lstm_ops.py file.
Then I got an error msg as follows:
`File "/home/git/DeepSpeech/lstm_ops_dpsp.py", line 29, in <module>
    from tensorflow.python.ops import gen_rnn_ops
Import

[2019-10-30 12:43] tensorflowbutler commented on #32767
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-10-30 12:43] sunanlin13174 commented on #32986
same issue,do you have slove it?

[2019-10-30 12:52] edwardyehuang commented on #18222
@guptapriya  @anj-s  Any update? Thx !

[2019-10-30 12:54] MarkDaoust commented on #33163
Hi Everyone,

Nice work, it looks like you've worked out a solution.

To clarify what's happening here: The source of the confusion here is the `model.compile` line.
The name of the metric, later on, matches whatever you passed to `compile`, and if you pass a [metric object](https://www.tensorflow.org/api_docs/python/tf/keras/metrics) it will use the `name` attribute of the metric

[code]

[code]

[2019-10-30 12:58] pandrey-fr commented on #33793
@gowthamkpr To back up this issue: depending on the application context, a user may want to use float64 to enable handling larger or more precise values than with float32. Alternatively, one may want to use float16 to limit the memory cost of their model.

At any rate, the keras API is built to support the specification of an alternative dtype for float layers. The fact that the `DenseFeatures` la

[2019-10-30 13:01] kiflowb777 commented on #33785
You can try run this code in IDE (e.g. PyCharm) and add breakpoint inside `custom compute_output_shape()` during debug mode.
You may notice that the program will not stop only if you use the tf.keras.

[2019-10-30 13:08] pandrey-fr commented on #33793
To fix this, one needs to alter source code in [this folder](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/feature_column) to ensure proper dtypes are passed to variable constructors (whose methods seem to be doted with the necessary parameters; so the API probably does not need to change, some arguments just need to be explicitly passed instead of assuming that the layer'

[2019-10-30 13:12] DBraun commented on #23542
@lattard Can you find where SessionOptions and NewSession are defined and put in TF_EXPORT and #include "tensorflow/core/platform/macros.h" like you did for Session?

[2019-10-30 13:17] ptklx commented on #32548
config =tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth = True
tf.compat.v1.Session(config=config)

[2019-10-30 13:26] AyazSaiyed commented on #28915
It worked for me . Please try these

[2019-10-30 13:34] Slyne commented on #29911
The first one doesn't work.

I tried the second option, but it turns out to be another problem "BaseCollectiveExecutor::StartAbort Out of range: End of sequence".

The third option is not suitable for me since I want to dynamically adjust the training strategy with the loss from the train step.

Any other suggestions ?

[2019-10-30 13:38] thameslu commented on #27325
I run the command below :

[code]
but there is an error like this :
 '@local_config_cc//:toolchain' does not contain a toolchain for cpu 'ios_arm64'

Could you tell me how to fix it ? thx a lot

[2019-10-30 13:47] EgorLakomkin commented on #33776
@qlzh727 thank you! Maybe you have an idea of a simple workaround (not sure if calling __call__ explicitly for each cell would help) until the proper fix is done?

[2019-10-30 13:53] OverLordGoldDragon commented on #33487
@pandrey-fr Are you familiar w/ memory allocation differences of Eager vs. Graph? [This](https://pastebin.com/njD875J0) throws OOM in TF2, but runs fine in TF1 - and disabling Eager solves it. If you have a graph/hardware-level insight on this, I'd appreciate it.

[2019-10-30 14:48] zychen2016 commented on #31949
I also have same error when run using virtual devices pixel2 in AS.
[code]

[2019-10-30 14:58] wangbingcan1990 commented on #14990
How did you solve it? I have met the same issue, thanks!

[2019-10-30 15:04] Namburger commented on #33558
@mattroos Thanks for trying, any chance you are converting the saved keras model that was created with tf2.0?
If it was created with tf1.15 and you are still having issue converting, then we might need to wait for a tensorflower to help out on this one :/

[2019-10-30 15:09] tb438 commented on #33365
Hi Ravikyram,

Thank you for the prompt response. Using your gist above on Colab, I am still getting the same error?

[code]

[2019-10-30 15:12] dynamicwebpaige commented on #31507
Closing out this feature request, as TF for Poets has been updated to support TensorFlow 2.0 (see link above). Thank you for the suggestion, and thanks to the TF Lite team for creating! 😄

[2019-10-30 15:12] #31507 closed

[2019-10-30 15:16] zychen2016 opened #33851 "TF lite Gpu delegate E/libEGL: call to OpenGL ES API with no current context (logged once per thread)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Fllow this document
[https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md)
and using this project

[2019-10-30 15:17] dynamicwebpaige commented on #31603
This optimizer might be a better fit in [TensorFlow Addons](https://www.github.com/tensorflow/addons), then graduated to TensorFlow Core. @jinmel, do you have an update on progress for the sparse gradients update?

[2019-10-30 15:19] seanpmorgan opened #33852 "[TF-Nightly-20191030] Import fails with SegFault on Custom-Op docker image"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 (Maybe others)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): tf-nightly-20191030

**Describe the current behavior**
TensorFlow SegFaults on import

**Cod

[2019-10-30 16:23] MarcJavin opened #33853 "Tensorflow lite undefined reference on ARM64"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-10-30 16:34] durandg12 commented on #30263
@qlzh727 it seems that your fix has not been incorporated to the released tf2.0.0, see [here in the v2.0.0 tag](https://github.com/tensorflow/tensorflow/blob/64c3d382cadf7bbe8e7e99884bede8284ff67f56/tensorflow/core/grappler/optimizers/implementation_selector.cc#L310). As a result, the warning still shows up. Do you know why your fix isn't in tf2.0.0 and when it will be deployed?

[2019-10-30 16:46] olesalscheider commented on #33688
Ok, something like this allows me to train my distributed model:

[code]

[2019-10-30 17:12] alextp commented on #33688
inputs[0] might be none while another inputs is not, but otherwise yeah,
this is a patch I'd accept.

On Wed, Oct 30, 2019 at 10:11 AM Niels Ole Salscheider <
notifications@github.com> wrote:

--
 - Alex

[2019-10-30 17:30] mattroos commented on #33558
@Namburger, I used a single script to create, save, and (attempt to) convert the model under TF1.15.

[2019-10-30 17:47] Directory commented on #33838
Do these precompiled wheels work for python 3.7? It says 34

[2019-10-30 17:56] wangpengmit commented on #33297
We don't have a timeline yet.

[2019-10-30 18:25] mihaimaruseac commented on #33838
Official python 3.7 support was added only in 1.13 and later.

[2019-10-30 18:27] AlexFuster commented on #33283
I'm having the same problem

[2019-10-30 18:31] ziruizhuang opened #33855 "Tensorflow 2 Integer Labels"
From the docs, it says if I want to use labels without one_hot encoding in advance, I should use SparseCategoricalCrossentropy. And the result is strange.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1903 18362.418
- Mobile device (e.g. iPhone 8, Pi

[2019-10-30 18:32] qlzh727 commented on #30263
@durandg12, ah, thanks for the notice. It seems that my change is only made to 1.15 and barely miss the 2.0 branch cut. I guess it will be released in 2.1 which will come out very soon. For now you can safely ignore the warning message.

[2019-10-30 18:36] ppham27 commented on #33835
Yes, there's a reason for that. I'm afraid it might be intended behavior.

https://github.com/tensorflow/tensorflow/blob/4eb3e36d1b0cd511e1677e740bd093f42365cf9f/tensorflow/python/eager/pywrap_tensor.cc#L352-L354

[2019-10-30 18:38] durandg12 opened #33856 "Outdated doc for tf.keras.Model.save"
## URL(s) with the issue:

[https://www.tensorflow.org/api_docs/python/tf/keras/Model#save](https://www.tensorflow.org/api_docs/python/tf/keras/Model#save)

## Description of issue (what needs changing):

The following sentence is outdated and recommends to use a deprecated method:

[2019-10-30 18:40] keunwoochoi commented on #30636
Is this really fixed? With tf 2.0.0 + keras.fit + tf.dataset for validation data + multi-gpu, i'm having the same issue.

[2019-10-30 18:48] ziruizhuang commented on #33855
it seems there is inconsistency between docs.
from https://www.tensorflow.org/api_docs/python/tf/keras/losses/CategoricalCrossentropy

However, from https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy#__init__

In the snippet below, there is a single floating point value per example for y_true and # classes floating pointing values per example for y_pred. The s

[2019-10-30 19:01] sun-peach commented on #33792
@ravikyram hi, I have solved the second question. But for the first question, I still don't know how to average two models. I tried a little bit, but result is not right.

I split the data to 2 partition and train as 2 jobs, resulting in 2 models. Eventually, I average the 2 models. But, the resulting model has validation accuracy 0.0. Previously, when I train the model with all data and without p

[2019-10-30 19:04] sun-peach commented on #33792
The current code is below:
[code]

[2019-10-30 19:16] qlzh727 commented on #33487
Sorry for the very late reply. Let me comment on the performance aspect for Keras, between v1 and v2, also eager/graph.

In TF2, as we all know, eager mode becomes the default context, and you can disable it by tf.compat.v1.disable_eager_execution(). In eager mode, the runtime need to execute the ops and return the numerical value for every line of python code. The nature of single step execution

[2019-10-30 19:34] OverLordGoldDragon commented on #33487
@qlzh727 Thank you for the detailed response - I understand devs are short on time.

I have a few follow-ups: much of what you describe is exactly what I noticed while reading the source code / profiler results, but certainly not all, and the new info is useful. It appears the root of the performance discrepancy lies in graph-building and input data processing, and differences can be seen even in

[2019-10-30 20:09] lelopez-io opened #33857 "Fail to invoke tflite_runtime.interpreter"
I'm trying to run the `tflite_runtime.interpreter` on an armv7 board. It doesn't support AVX instruction so this is the reason for using tflite rather than the tensorflow binary available for raspberry pi's.

As far as I can tell I'm setting the tensor input correctly. I've tested this by using the 'tensorflow.compat.v2.audio.decode_wav' function to compare against.

However when I go to run the i

[2019-10-30 20:23] JoshEZiegler commented on #33358
@awolant Nice! Thanks, that sounds like the perfect workaround.

I'll leave this issue open because I don't believe that is the intended way to use `optimizers` with `Estimators`. At the very least not the way it is done in the TF docs.

[2019-10-30 20:34] qlzh727 commented on #33487
@OverLordGoldDragon, for TF2, we also convert all the input data into a tf.dataset, by which we can unify our execution function to handle the single type of the inputs. There might be some overhead in the dataset conversion, and I think this is a one-time only overhead, rather than a per-batch cost.

For importing performance, I guess importing tf.keras will first import tensorflow low level ops

[2019-10-30 20:40] sdgandhi commented on #31
@QuantumInformation sure you can add me, I can scaffold out some more channels if still needed or just answer questions / mod.

[2019-10-30 20:45] mattroos commented on #33558
@Namburger, I thought I'd try using the tflite_runtime interpreter rather than the tensorflow interpreter, to see if that made any difference.  I installed the tflite_runtime package for python 3.6, using the wheel linked here: [https://www.tensorflow.org/lite/guide/python](https://www.tensorflow.org/lite/guide/python)

When I try to instantiate the interpreter,
[code]
I get this error:
[code]
I'v

[2019-10-30 20:48] yongliu93 commented on #31795
I have the same errors! Do you fix it already? And I am curious why it doesn't show the memory information of GPU in the log message. Here are my log messages
2019-10-30 16:35:31.338022: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1763] Adding visible gpu devices: 0
2019-10-30 16:35:31.341495: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this Tens

[2019-10-30 20:52] QuantumInformation commented on #31
I think the link is in the thread otherwise just Google tensorflow  discord

On Wed, 30 Oct 2019 at 20:47, sg <notifications@github.com> wrote:

--

Kind regards

Nikos Katsikanis

[2019-10-30 20:58] val9299 commented on #31949
@zychen2016:
Unfortunately the code belongs to a company and I cannot share the research. Furthermore, I'm not working on it anymore and I didn't solve the "E/libEGL" problem.

The "CUSTOM TFLite_Detection_PostProcess: [...]" warning will always stand here when using the TFLite PostProcess (until TFLite supports this operation). If you didn't want this, you couldn't use PostProcess.

[2019-10-30 21:02] val9299 commented on #31948
The model which is used automatically by the Object Detection APP without changing anything. (I don't know anymore which model it was.)

[2019-10-30 21:11] Directory commented on #33838
im getting this error when running `sudo python3 -m pip install https://storage.googleapis.com/tensorflow/raspberrypi/tensorflow-1.14.0-cp34-none-linux_armv7
l.whl`:

`ERROR: tensorflow-1.14.0-cp34-none-linux_armv7l.whl is not a supported wheel on this platform.`

[2019-10-30 21:17] FlashAJ commented on #32381
No, bro.

[2019-10-30 21:17] mihaimaruseac commented on #33838
Doe `cp34-none-linux_armv71` show up in `pip debug --verbose`?

[2019-10-30 21:28] Directory commented on #33838
this was what was printed. Something similar but not exactly.

`pip debug --verbose
WARNING: This command is only meant for debugging. Do not use this with automation for parsing and getting these details, since the output and options of this command may change without notice.
pip version: pip 19.3.1 from /home/pi/.local/lib/python3.7/site-packages/pip (python 3.7)
sys.version: 3.7.3 (default, Apr

[2019-10-30 21:49] rjpower commented on #33787
Indeed, this was my change, but I've long forgotten the reasoning. I looked up a bit more context. Summarizing the conversation at the time:

Variables initialized inside of a loop (as from a training loop) need to be in the init_scope to avoid an error.  For layers, this is handled by the make_variable helper, but optimizers can end up creating temporary variables and triggering this issue.

I'm

[2019-10-30 21:58] reedwm commented on #33672
The Windows TensorFlow builds are only built with cuDNN 7.6.0, while 7.6.2 is needed for float16 Conv3D to be used. Unfortunately, when determining whether Conv3D is float16, TensorFlow currently look at the version of cuDNN that TensorFlow is built against, not the version that is actually used at runtime, which is why you are not seeing Conv3D being done in float16 despite using 7.6.4.

Until th

[2019-10-30 22:02] mihaimaruseac commented on #33838
This means that that specific pip won't be able to load/install. Due to toolchain differences.

You might need to compile from source