[2018-02-19 20:40] asimshankar commented on #17130
Thanks very much for the report! Yes, this is indeed a bug (it should *not* be possible to cause the JVM to segfault when using the Java API :).

Will send a fix shortly.

[2018-02-19 20:42] #13903 closed

[2018-02-19 20:54] asimshankar commented on #17120
Closing this out as it seems you've figured out the problem and [updated the answer on StackOverflow](https://stackoverflow.com/a/48868312).

As you gathered, in the code snippet above you were creating a new session and then calling `sess.run(tf.global_variables_initializer())` which would re-initialize all variables to random values instead of using the values saved in the checkpoint.

[2018-02-19 20:54] #17120 closed

[2018-02-19 20:55] asimshankar commented on #17116
@skye : Mind taking a look? (Since you might have been looking into `FrameState` lately?)

[2018-02-19 20:56] JiaweiZhuang commented on #17028
Installing Intel's tensorflow binary does remove the performance difference. Now tensorflow is as fast as pytorch, although Keras still adds a significant overhead (3x slow down). The timing is available in the [updated Gist](https://gist.github.com/JiaweiZhuang/c3350f7a89db3d5a98c6a2c0228ceea9).

Thanks again for the help! Let me close this issue.

[2018-02-19 20:56] #17028 closed

[2018-02-19 21:16] alltom commented on #16638
I accidentally came across more information that I'm including here for posterity:

tensorflow_model_server accepts a [BatchingParameters](https://github.com/tensorflow/serving/blob/master/tensorflow_serving/servables/tensorflow/session_bundle_config.proto#L67) proto with a `bool pad_variable_length_inputs` parameter that might emulate Dataset.padded_batch() well enough. And if not, there's a `Int

[2018-02-19 21:17] mackiem opened #17138 "Windows installation page lists wrong cudnn version"
The windows installation pages specifically asks to use cuDNN 6 - [link](https://www.tensorflow.org/install/install_windows). Then, when running tensorflow it looks specifically for cuDNN7.

    % (build_info.cudnn_dll_name, build_info.cudnn_version_number))
ImportError: Could not find 'cudnn64_7.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% envir

[2018-02-19 21:19] asimshankar commented on #17016
@AakashKumarNain : Is it possible that there is some issue with your input generation? I'm unable to reproduce the problem after following the very similar example in the [eager user guide](https://github.com/tensorflow/tensorflow/blob/eb38b9c/tensorflow/contrib/eager/python/g3doc/guide.md#using-keras-and-the-layers-api) or even after modifying the portion of your snippet that feeds the data (sinc

[2018-02-19 22:03] asimshankar commented on #17138
Thanks for the note.

@gunan @av8ramit - does the Windows page need to be updated?

[2018-02-19 22:34] gunan commented on #17138
FYI @markdaoust
I thought we updated the website with the correct information, could you confirm?

[2018-02-19 22:59] gunan commented on #10179
@developius could you try:
[code]
The image works ok for me.

[2018-02-19 23:00] asimshankar commented on #16913
Thanks for the report. This is indeed a bug, will send out a fix.

[2018-02-19 23:03] bhack commented on #16907
@mrry Is `tf.keras.utils.multi_gpu_model` working with estimators and dataset api?

[2018-02-19 23:14] yaroslavvb commented on #2732
Perhaps `export TF_CUDNN_USE_AUTOTUNE=0`

[2018-02-19 23:19] mrry commented on #16907
@bhack I'm not sure: I haven't tried it. If not, we'd appreciate a feature request for that in a new issue!

[2018-02-19 23:23] bhack commented on #16907
@mrry Probably not cause I've got a segmentation fault with the exactly the same working code just adding `tf.keras.utils.multi_gpu_mode`

[2018-02-19 23:25] bhack commented on #16907
I don't know how model to estimator converter is in shape. See https://github.com/tensorflow/tensorflow/issues/16468

[2018-02-19 23:29] bhack commented on #14504
Probably also multi_gpu is not well supported. See https://github.com/tensorflow/tensorflow/issues/16907#issuecomment-366825713

[2018-02-19 23:30] bhack commented on #16907
Seems also that the distributed version was not working with the converter. See https://github.com/tensorflow/tensorflow/issues/14504.

[2018-02-19 23:45] sunilnj commented on #8535
@jackwangshanghai  evidently this support has been added in v1.5 and v1.6.

[2018-02-19 23:59] facaiy commented on #17137
Yes, version check uses alphabetical order wrongly before 1.6, and I believe the bug has been fixed in the master branch.

[2018-02-20 00:43] developius commented on #10179
That is really weird. The image checksums are the same yet the new one works.

[2018-02-20 01:33] tensorflowbutler commented on #17133
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-20 01:47] XuChunling opened #17143 "error tf1.5 : tf.contrib.ffmpeg.decode_video"
I use tensorflow 1.5 on ubuntu and decodevideo.

`with tf.Session() as sess:
summary_writer = tf.summary.FileWriter('/home/xucl/app/tensorboard_log/keras_training')
movie_bin = tf.read_file('/home/xucl/app/data/bilibili/video/DongFangLieChe.mp4')
movie = tf.contrib.ffmpeg.decode_video(movie_bin)
movie_ev = movie.eval()`

the link of ffmpeg tensorflow
[https://github.com/tensorflow/tensorflow/tree/

[2018-02-20 03:03] dtrebbien commented on #9518
Although a GPU version of the op was added in e3413de529c3f762885efd62932f76445ed22653, I am seeing that a slightly modified version of @Celelibi's test case randomly segfaults.

Here is my modified test case:

[code]

Out of 5 tries, 4 segfaulted.

Here is a backtrace:

<pre>
Thread 29 Crashed:
0   libtensorflow_framework.so    	0x0000000102b39c10 void tensorflow::gtl::InlinedVector<tensorflow::E

[2018-02-20 03:31] dtrebbien commented on #9518
Also, the GPU implementation uses cuSOLVER to compute the eigendecomposition (in particular, the [cusolverDn&lt;t&gt;syevd()](http://docs.nvidia.com/cuda/cusolver/index.html#cuds-lt-t-gt-syevd) family of routines).

I have read and personally experienced that not all cuSOLVER routines have better performance than CPU counterparts. For example, the cusolverDn&lt;t&gt;gesvd() family of routines were

[2018-02-20 03:48] MrWanter commented on #9359
but how would you suggest to write the code if we want `== `operator?

[2018-02-20 04:49] ptats opened #17145 "Feature Request: Add eval metrics to GANEstimator."
At the moment I can't see a way to pass in evaluation metrics (from tfgan) to the GANEstimator when I am using the tf.contrib.Learn.Experiment class. I want to be able to use the tf.contrib.gan.eval functions but can't see a way to do this. Am I missing  something or has this not been implemented?
Have I written custom code - N/A
OS Platform and Distribution - N/A
TensorFlow installed from - N/A
T

[2018-02-20 04:56] jagjeet-singh commented on #12093
@GrandathePanda
EstimatorSpec will return validation loss. Any idea how I can extract the training loss?

[2018-02-20 07:05] ashishkej opened #17146 "tensorflow/contrib/lite/examples/label_image"
Build it for desktop machines (tested on Ubuntu and OS X)

bazel build --config opt --cxxopt=-std=c++11 //tensorflow/contrib/lite/examples/label_image:label_image

I am not able to build the this example on my Ubuntu 16.04 Intel Desktop using the command above.
Using TF 1.5 and the error is related to NEON. Can I run .tflite models on Desktop?

ERROR: /home/ashish/tensorflow_1.5/tensorflow/contrib

[2018-02-20 07:28] bushibushi commented on #582
Still encountered a similar issue on 1.4 while using [import_pb_to_tensorboard.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/import_pb_to_tensorboard.py) to analyse a graph. Was able to use it by replacing the graph load from file with a [saved_model load](https://www.tensorflow.org/programmers_guide/saved_model#loading_a_savedmodel_in_python).

[2018-02-20 07:56] gunan commented on #16603
Sorry for the late reply,
I am confused, but the page I shared mentions:
[code]

So from what I can understand, you upgrade the host machine and you are safe, no matter what the docker container has?

[2018-02-20 07:57] akkefa opened #17147 "ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory"
I installed cuda 9.1 and set the path as suggested.
Should i install cuda 8.0 for resolving this problem?
Error:

ImportError: Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/tensorflow/python/pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "/opt/conda/lib/python3.6/site-packages/tensorflow/python/p

[2018-02-20 08:08] phisch124 commented on #17124
I am using the following docker file to build the container:
https://github.com/tensorflow/serving/blob/master/tensorflow_serving/tools/docker/Dockerfile.devel

The error I described above was probably because I had exported the SavedModel with tensorflow 1.4.1 and it has some incompatibilities with tf1.5, which I assume is used by the most recent version of tensorflow/serving.

If I now export th

[2018-02-20 08:08] #17124 closed

[2018-02-20 08:31] majgis commented on #16603
The security scan that halts our build flagged [CVE-2017-5754](https://people.canonical.com/~ubuntu-security/cve/2017/CVE-2017-5754.html).  That page mentions meltdown.

That page links to the[ ubuntu wiki](https://wiki.ubuntu.com/SecurityTeam/KnowledgeBase/SpectreAndMeltdown).  The wiki page again asserts Meltdown is associated with CVE-2017-5754. That page also has a list of "Userspace Mitigatio

[2018-02-20 09:44] flanaras commented on #17137
Had the same problem, this fixed it. Thanks!

[2018-02-20 10:12] dieka13 opened #17149 "Cannot assign a device for operation 'dense_0/dense/Tensordot/ListDiff'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
16.04.3 LTS (Xenial Xerus)
- **TensorFlow installed from (source or binary)**:
pip
- **TensorFlow version (use command below)**:
('v1.5.0-0-g37aa430d84', '1.5.0')
- **Python version**:
2.7.12
- **Bazel versio

[2018-02-20 10:14] dieka13 commented on #17147
from my experience, yes you'll need cuda 8.0 hence the libcublas.so.8.0 error

[2018-02-20 10:28] carlthome commented on #9359
`tf.equal` I guess? I wish this was reopened though.

[2018-02-20 10:32] christian-rauch commented on #17137
Can this fix be backported to 1.5 so that people can build a stable version from source?

[2018-02-20 10:52] bioothod commented on #17043
Upgrading to gcc 6.3.0 does not fix this issue, neither with allocator alignment nor with eigen one. Patch below fixes misalignment segfault, but network still produces garbage. Removing avx512 instructions (i.e. only using avx2, sse4.2 and mfma) fixes the problem.

[code]

[2018-02-20 10:56] Syzygy2048 commented on #504
@cy89 since I also managed to do transfer learning with checkpoints I might as well chime in.

Note that this is using tf.slim
`import tensorflow as tf
from tensorflow.contrib.slim.nets import inception as nn_architecture
from tensorflow.contrib import slim

with slim.arg_scope(nn_architecture.inception_v3_arg_scope()):
    logits, endpoints = nn_architecture.inception_v3(images,

[2018-02-20 11:42] patrikohlsson commented on #16617
Are those int-operations missing for XLA as well? I'm getting:
`No registered 'ListDiff' OpKernel for XLA_CPU_JIT devices compatible with node Tensordot/ListDiff`
when running tfcompile on a graph that has tensordot calls.

[2018-02-20 11:58] Hvass-Labs opened #17150 "Problem with Keras sparse_categorical_crossentropy"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (pip install)
- **TensorFlow version (use command below)**: 1.5.0 (Keras 2.1.2-tf)
- **Python version**: 3.6
- **Bazel version (if comp

[2018-02-20 12:02] akkefa commented on #17147
Issued is fixed by installing tensorflow 1.5 with Cuda 9.0 version.

[2018-02-20 12:02] #17147 closed

[2018-02-20 12:29] lachaka commented on #16934
Well, I execute the tf.confusion_matrix on CPU and It works. It creates the matrix. The other operations like generating predictions and so on are calculated by the GPU.

[2018-02-20 12:29] #16934 closed

[2018-02-20 12:33] neil-tan opened #17151 "ERROR: Unrecognized option: --python_path"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.6
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: commit e5e03ef3148303b3dfed89a1492dedf92b45be25 (HEAD -> master, origin/master, origin/

[2018-02-20 12:37] facaiy commented on #17137
@christian-rauch I rechecked the r1.5 branch, and found that 6fcfab77 patch, fortunately, has been merged since 13 days ago, see:

https://github.com/tensorflow/tensorflow/blob/5b10b3474bea72e29875264bb34be476e187039c/tensorflow/workspace.bzl#L45

So, could you pull the latest codes on r1.5 branch, and take a test again? Thank you.

[2018-02-20 13:25] tensorflowbutler commented on #17143
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-20 13:25] tensorflowbutler commented on #17145
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-20 14:00] XXY0118 commented on #2169
@chrisranderson  Hi, I'am newer in Deep Learning and Tensorflow. Would you please instruct me more detail about how to implement unpooling by  #16885? Thanks a lot!

[2018-02-20 14:06] christian-rauch commented on #17137
The `r1.5` branch works. I previously checked out the `v1.5.0` tag, in the assumptions that both point to the same commit.

[2018-02-20 14:09] pickou commented on #6683
@asimshankar This might be the problem in my given example,I'll fix this and see if any error occurs after Spring Festival.

[2018-02-20 14:18] facaiy commented on #17137
Good news! Could you close the issue since it has been fixed ?

[2018-02-20 14:20] zasdfgbnm commented on #17135
............
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: N/A
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler version (if c

[2018-02-20 14:28] christian-rauch commented on #17137
Yes. But maybe the current `r1.5` branch could be tagged, such that the next person that tries to build `v1.5.0` doesn't need to dig into the same issue.

[2018-02-20 14:28] #17137 closed

[2018-02-20 14:33] #16000 closed

[2018-02-20 14:53] sandeepkumar8713 opened #17153 "How to sync worker models of KMeansClustering in distributed tensorflow?"
### System information
-**Have I written custom code**: yes
-**OS Platform and Distribution**: Open SUSE Leap 42.3
-**TensorFlow installed from:** python pip
-**TensorFlow version**: 1.6.0
-**Python version**: 2.7
-**Bazel version**  :N/A
-**CUDA/cuDNN version** : N/A
-**GPU model and memory** : N/A
-**Exact command to reproduce** : N/A

Hi,
I am trying to use distributed tensorflow over KMeansClu

[2018-02-20 14:56] kdhingra307 commented on #17104
Hey,

I would like to work on this implementation

[2018-02-20 14:58] nikita68 commented on #17045
Any updates? @ebrevdo could you take a look?

[2018-02-20 15:42] chrisranderson commented on #2169
@XXY0118 Copy and paste these lines https://github.com/rayanelleuch/tensorflow/blob/b46d50583d8f4893f1b1d629d0ac9cb2cff580af/tensorflow/contrib/layers/python/layers/layers.py#L2291-L2327, and you should be good to go. I wish GitHub allowed some kind of DM for occasions like this.

[2018-02-20 16:29] andrewharp commented on #17091
@zeshaoaaa We currently don't support building the TensorFlow library on Windows.

However, we do provide a precompiled AAR download that should work in your case if you set the build type in build.gradel to `none`. This will remove the need to build native .so libraries locally.

[2018-02-20 16:29] #17091 closed

[2018-02-20 16:37] MarkDaoust commented on #17044
We're seeing more and more people eager to contribute to translations (for example #16871).

But we don't have infrastructure to support this. We're looking into it.

+@ewilderj
+@wolffg

[2018-02-20 16:37] #17044 closed

[2018-02-20 16:47] eann opened #17154 "Bazel doesn't use the optimization flag specified in configuration"
Hi

I was compiling TensorFlow on a PowerPC machine and it kept failing with the error "unrecognized command line option -march=native" when compiling the file pcre_byte_order.c. This happened even though I specified the default flag -mcpu=native when running ./configure. I also used the --cxxopt=-mcpu=native flag to no avail, and the only way to solve the problem was to remove the --config=opt fl

[2018-02-20 16:55] skye commented on #17116
@mrry do you know if this is intentional? I'll take a look when I get the chance if not.

[2018-02-20 16:58] AakashKumarNain commented on #17016
@asimshankar I don't think there is any problem with my generator code. Anyways, I am putting up my generator code also, so that you can take another look:

[code]

[2018-02-20 16:58] cy89 commented on #16934
Sounds like the values generated by GPU are good, but some part of the assertion isn't implemented on GPU.

[2018-02-20 17:07] asimshankar commented on #17016
Can you provide a minimal self contained example that reproduces the problem? The code snippets provided so far seem to refer to code not already included (eg `to_categorical`).

Since I am unable to reproduce the problem (see my previous comment, where is very used your model definition and was able to create a working training loop), it's hard to provide advice. Thanks.

[2018-02-20 17:29] mrry commented on #17116
It looks like that code is only called here on L2027:

https://github.com/tensorflow/tensorflow/blob/a4f1478134cdbf73f0ad7eda3e73407135a54566/tensorflow/core/common_runtime/executor.cc#L2024-L2027

I suspect that `is_frame_done` implies that there is only one thread operating on `frame`, but it doesn't look like any annotations or lock acquisitions protect that invariant.

[2018-02-20 17:31] AakashKumarNain commented on #17016
@asimshankar Here is the completer code. For downloading the data, visit [this](https://www.kaggle.com/zalando-research/fashionmnist) page.

[code]

[2018-02-20 18:12] andrehentz commented on #17146
My guess is that your platform does support NEON but is falling in the default category: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/lite/kernels/internal/BUILD#L363

To test that hypothesis, could you force it to use ":neon_tensor_utils" there?

[2018-02-20 18:17] gunan commented on #17154
@case540  is already working on the configuration scripts at the moment.
Could you look into this?

[2018-02-20 18:27] G-ram commented on #8858
I also have this issue running a Nvidia 1070Ti and driver version 390.25. It happens when the system is under load – both CPU and GPU. It seems to not be tensorflow, though, since I can recreate it using gpu-burn and stress. Maybe a driver problem?

[2018-02-20 18:40] ispirmustafa commented on #14942
I tried to reproduce your issue with the code you provided but I cannot see any slowdown switching from 1.3 to 1.4.
The scripts you provided are very complex, many different issues inside and outside TensorFlow could contribute to a slowdown.
Can you provide a small repro script that isolates the issue and which we can use for debugging?
I will close this issue as not reproducible, but please reop

[2018-02-20 18:40] #14942 closed

[2018-02-20 18:40] sanjoy commented on #15338
I just tried on head and I don't see the same problem.  Could it be because you used `blaze all_tests` when you should have done `bazel build all_tests`?  `bazel test all_tests` also works for me.

[2018-02-20 18:46] dantkz opened #17155 "Memory leak in tf.unique on GPU"
### System 1 information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: 3.5.2
- **Bazel version (if compiling from source)**:

[2018-02-20 18:52] angersson commented on #14918
Agreed. I wonder what the best way to do so is -- probably to make Kokoro's testing scripts use Docker under the hood, so that everyone can run those tests locally.

Until then, I'm not sure maintaining the ci_build stuff is worth the opportunity cost. Is it just as effective to make a PR with no reviewers, since the tests will run then anyway? Local TDD *should* be possible without ci_build, righ

[2018-02-20 18:58] asimshankar commented on #17016
I notice that you aren't calling `tfe.enable_eager_execution()`, which means eager execution isn't enabled. Is that intentional?

[2018-02-20 19:31] tensorflowbutler commented on #15428
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:31] tensorflowbutler commented on #15274
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:31] tensorflowbutler commented on #15278
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:31] tensorflowbutler commented on #15284
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:31] tensorflowbutler commented on #15294
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:31] tensorflowbutler commented on #15305
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:31] tensorflowbutler commented on #15329
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:31] tensorflowbutler commented on #15340
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:31] tensorflowbutler commented on #15352
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:31] tensorflowbutler commented on #15360
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15387
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15410
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:32] tensorflowbutler commented on #15413
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15430
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15433
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15435
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15438
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15505
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:32] tensorflowbutler commented on #15585
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:32] tensorflowbutler commented on #15621
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:33] tensorflowbutler commented on #15624
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-20 19:33] tensorflowbutler commented on #15625
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:33] tensorflowbutler commented on #15638
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:33] tensorflowbutler commented on #14994
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:33] tensorflowbutler commented on #14995
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:33] tensorflowbutler commented on #15006
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:33] tensorflowbutler commented on #15014
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:33] tensorflowbutler commented on #15041
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:33] tensorflowbutler commented on #15045
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:33] tensorflowbutler commented on #15051
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:33] tensorflowbutler commented on #15090
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:34] tensorflowbutler commented on #15649
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:34] tensorflowbutler commented on #15140
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:34] tensorflowbutler commented on #15172
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:34] tensorflowbutler commented on #15211
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:34] tensorflowbutler commented on #15228
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:34] tensorflowbutler commented on #15237
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:34] tensorflowbutler commented on #15241
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:34] tensorflowbutler commented on #15242
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16170
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16174
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16181
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16189
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:35] tensorflowbutler commented on #16202
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16209
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16216
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:35] tensorflowbutler commented on #16218
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:35] tensorflowbutler commented on #16257
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:35] tensorflowbutler commented on #16263
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:35] tensorflowbutler commented on #16311
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:35] tensorflowbutler commented on #16166
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:36] tensorflowbutler commented on #16608
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:36] tensorflowbutler commented on #16660
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:36] tensorflowbutler commented on #16694
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:36] tensorflowbutler commented on #16745
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:36] tensorflowbutler commented on #16755
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:36] tensorflowbutler commented on #16767
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:36] tensorflowbutler commented on #16770
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:36] tensorflowbutler commented on #16023
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:36] tensorflowbutler commented on #15651
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:37] tensorflowbutler commented on #15684
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:37] tensorflowbutler commented on #15688
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:37] tensorflowbutler commented on #15693
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:37] tensorflowbutler commented on #15695
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:37] tensorflowbutler commented on #15805
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:37] tensorflowbutler commented on #15818
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:37] tensorflowbutler commented on #15849
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:37] tensorflowbutler commented on #15963
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:37] tensorflowbutler commented on #15996
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:37] tensorflowbutler commented on #14980
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:37] tensorflowbutler commented on #16026
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:37] tensorflowbutler commented on #16032
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:38] tensorflowbutler commented on #16095
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:38] tensorflowbutler commented on #16098
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:38] tensorflowbutler commented on #16115
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:38] tensorflowbutler commented on #16126
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:38] tensorflowbutler commented on #12460
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:38] tensorflowbutler commented on #12465
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:38] tensorflowbutler commented on #12500
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:38] tensorflowbutler commented on #12514
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12523
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12553
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12569
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12587
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12653
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12753
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12389
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12792
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12813
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:39] tensorflowbutler commented on #12917
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:40] tensorflowbutler commented on #13120
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:40] tensorflowbutler commented on #13187
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:40] tensorflowbutler commented on #7467
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:40] tensorflowbutler commented on #9509
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:40] tensorflowbutler commented on #9525
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:40] tensorflowbutler commented on #9579
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:41] tensorflowbutler commented on #11037
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:41] tensorflowbutler commented on #11514
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:41] tensorflowbutler commented on #11888
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:41] tensorflowbutler commented on #13206
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:41] tensorflowbutler commented on #12084
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:41] tensorflowbutler commented on #12121
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:42] tensorflowbutler commented on #12194
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:42] tensorflowbutler commented on #12215
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:42] tensorflowbutler commented on #12293
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:42] tensorflowbutler commented on #14744
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:42] tensorflowbutler commented on #14608
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:42] tensorflowbutler commented on #14615
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:42] tensorflowbutler commented on #14625
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:42] tensorflowbutler commented on #14666
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:43] tensorflowbutler commented on #14675
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:43] tensorflowbutler commented on #14676
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:43] tensorflowbutler commented on #14703
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:43] tensorflowbutler commented on #14753
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:43] tensorflowbutler commented on #14759
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:43] tensorflowbutler commented on #14783
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:43] tensorflowbutler commented on #14832
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:43] tensorflowbutler commented on #14851
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:43] tensorflowbutler commented on #14934
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:44] tensorflowbutler commented on #13222
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:44] tensorflowbutler commented on #13243
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:44] tensorflowbutler commented on #13308
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:44] tensorflowbutler commented on #13413
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-20 19:44] tensorflowbutler commented on #13436
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:45] tensorflowbutler commented on #13530
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:45] tensorflowbutler commented on #13982
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-20 19:46] tensorflowbutler commented on #14572
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-20 19:47] ppwwyyxx commented on #15430
Do not use placeholder in this case. You can just define it as a variable and use `var.load(value)` at the beginning of each epoch.

[2018-02-20 20:03] nbansal90 opened #17156 "LookupError: gradient registry has no entry for: Svd"
Hello All,

I am using singular values of the weights at each convolution layer as a regularizer and adding it in kernel_regularizer=self.l2_reg(). Where l2_reg is the function which return that.
[code]
Error I am getting is:
[code]
I Understand that this is due to not able to calculate the gradient for SVD operation, but then how do I remove this issue.
Nitin

[2018-02-20 20:18] reedwm commented on #15849
I wasn't able to reproduce with that `bazel build` command on Ubuntu 16.04 with bazel 0.9.0.

@gunan, any ideas what the issue could be?

[2018-02-20 20:37] mtakala commented on #8858
It is indeed a corner case issue, as NVidia GPU's can be made to draw an average current at, for example, 150 W via the nvidia-smi --power-limit=150 command. However, the cards still silently spike up to much higher than that during heavy operations, and eventually the overcurrent protections in uncompatible power supplies trip.

[2018-02-20 20:55] dsmilkov commented on #16770
Hi,

Sorry for the delay here. Seems like the error is due to the fact that `gist.github.com/VolodymyrPavliukevych/...` redirects to `gist.githubusercontent.com/VolodymyrPavliukevych`, and the latter one has `Access-Control-Allow-Origin: *` in the header.

Try updating the `tensorPath` and `metadataPath` in your [config.json](https://gist.githubusercontent.com/VolodymyrPavliukevych/fae3d662ca17066

[2018-02-20 20:55] aselle commented on #16561
@santoshchilkunda, what exactly are you trying to do once you read it? Do you want to run inference on it. Do you want to analyze it?

[2018-02-20 21:07] smoosh911 opened #17158 "Feature Request: Better error reporting for tflite conversion"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:MacOS
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.5.0
- **Python version**: 2.7.10
- **Bazel version (if compiling from source)**:
- **GCC/Compiler v

[2018-02-20 21:10] dacox opened #17159 "Estimator WarmStartSettings Cause Extreme Training Slowdown."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary(official docker image)
- **TensorFlow version (use command below)**: 1.6.0-rc1
- **Python version**: 2.7.12
- **Bazel version (if

[2018-02-20 21:10] illeatmyhat commented on #17050
Yes, the issue is resolved. It can be closed now.
Thanks

[2018-02-20 21:43] cy89 commented on #17014
Informally assigning to @malcolmreynolds for now (I think we might need to add him to the TF group to be able to assign him ownership of the bug), for the docs-related updates.

Malcolm, thanks for jumping in. When you're happy with the docs, please ping the bug.

[2018-02-20 21:48] #17050 closed

[2018-02-20 21:58] cy89 commented on #16982
@jakubkarczewski I'm sorry, I'm not an MKL expert. I agree that it looks like dnnLayout_t starts off as an empty structure.

[2018-02-20 22:20] MarkDaoust commented on #17138
Thanks for the reminder!

This is fixed now: https://www.tensorflow.org/install/install_windows

[2018-02-20 22:20] #17138 closed

[2018-02-20 22:20] poudas1981 commented on #559
Here is the error message that i have when trying to import numpy from ipython. Any help please.

ImportError                               Traceback (most recent call last)
~\AppData\Roaming\Python\Python36\site-packages\numpy\core\__init__.py in <module>()
     15 try:
---> 16     from . import multiarray
     17 except ImportError as exc:

ImportError: cannot import name 'multiarray'

During ha

[2018-02-20 23:07] case540 commented on #17154
hmm, could you give more specs about your machine. Specifically, what

python -c "import platform; print platform.machine()"

outputs. If the above outputs 'ppc64le', then --config=opt won't add -march=native flag and will instead add -mcpu=native.

[2018-02-20 23:13] santoshchilkunda commented on #16561
@aselle
Thanks for looking into this.

I am trying to read/parse the model, convert it to our internal format, and then run inference on it.

As a workaround (to not being able to parse tflite), I set the output_format while running toco tool to TENSORFLOW_GRAPHDEF (i.e. both input and output formats are TENSORFLOW_GRAPHDEF). And then parse the generated protobuf.

However, I see that protobuf is

[2018-02-20 23:25] eann commented on #17154
Tomorrow I'll run the command and post the output, but the architecture
should be ppc64le (I remember seeing it in the name of the whl file). The
configure script did specify -mcpu=native as the optimization flag for
--config=opt, but -march=native still popped up when compiling one of the
files (and consequently build failed). The problem disappeared when I built
without --config=opt.

Il mer 21

[2018-02-20 23:26] aselle commented on #16561
well you can use flatc to generate a python api that can read the tflite format.
https://google.github.io/flatbuffers/flatbuffers_guide_use_python.html
Does that answer your question?

[2018-02-20 23:36] santoshchilkunda commented on #16561
I will try it and update. Thanks!

Regarding the second part of my question, is there a performance difference between the two output formats?

[2018-02-20 23:46] tartavull commented on #9976
It doesn't work on chromium nor firefox for me.

[2018-02-21 00:32] case540 commented on #16526
oops, missed this.

TF_CUDA_VERSION is the correct env variable to be setting. I'm not able to reproduce this error. The configure script appears to look in the correct path for CUDA. Note, that IF configure.py script does not find CUDA, then it will set the TF_CUDA_VERSION env variable to empty string (and then reask user again where it should look for CUDA).

[2018-02-21 00:58] asimshankar commented on #17156
Please do provide all the information asked for in the issue template  (https://github.com/tensorflow/tensorflow/issues/new), for example which version of TensorFlow are you using?

Support for gradients of SVD was added in TensorFlow 1.5 (see https://github.com/tensorflow/tensorflow/issues/6503#issuecomment-335878473 and commit https://github.com/tensorflow/tensorflow/pull/13640/commits/e1d9e4ed0

[2018-02-21 01:01] neil-tan commented on #17151
My build-environment was setup incorrectly. The bazel command was taken from an old-version of binary in the user space.

[2018-02-21 01:01] #17151 closed

[2018-02-21 01:55] ryanjulian commented on #12781
I just tested this on tags v1.5.0, v1.6.0-rc0, v1.6.0-rc1 and master -- -mavx512 is still broken on all of them.

[2018-02-21 01:58] tatatodd commented on #11541
@drpngx Yes the issue still exists; tfcompile still requires at least one feed.  Way back in July 2017 I had tried to make a quick change to remove this requirement, but it was more complicated than I had time for, so I didn't pursue it further.

This should be a rare use-case, and there's a workaround by passing in a dummy feed for some part of your computation.  I'll mark contributions welcome i

[2018-02-21 01:58] bjacob commented on #16561
@santoshchilkunda, it is an inherent characteristic of the TensorFlow Lite flatbuffer format that it allows to represent the same neural network in fewer nodes than are needed in the TensorFlow GraphDef format, as you found from this logging. To find out more about what the difference is in your graph, use --dump_graphviz as explained there,
https://github.com/tensorflow/tensorflow/blob/master/ten

[2018-02-21 02:18] tatatodd commented on #14759
Closing this out, since the PR with extra logging has been merged, and it's not clear that there's anything extra to do.

[2018-02-21 02:18] #14759 closed

[2018-02-21 02:48] normansiboro commented on #6660
@weixsong How could you install tensorflow on windows server 2012.
I have tried it many times and it didn't work.
Here is my case:
First I installed python 3.5.* but it gave me error and I found that windows server 2012 only supports python 2.7.* and the I installed python 2.7.*.
After installing python 2.7, I installed tensorflow but I got error that there are no support version and I found that

[2018-02-21 03:12] ningzhihui commented on #17067
I am encountering another error

[958 / 973] Compiling tensorflow/core/kernels/conv_ops_3d.cc; 38028s local ... (4 actions running)
ERROR: F:/machinelearning/tensorflow/tensorflow/core/BUILD:762:1: C++ compilation of rule '//tensorflow/core:nn_grad' failed (Exit -1073741502): msvc_cl.bat failed: error executing command
  cd E:/temp/_bazel_ningzhihui/aki74rxt/execroot/org_tensorflow
  SET CUDA_COMP

[2018-02-21 03:12] ningzhihui commented on #17067
I am encountering another error

[958 / 973] Compiling tensorflow/core/kernels/conv_ops_3d.cc; 38028s local ... (4 actions running)
ERROR: F:/machinelearning/tensorflow/tensorflow/core/BUILD:762:1: C++ compilation of rule '//tensorflow/core:nn_grad' failed (Exit -1073741502): msvc_cl.bat failed: error executing command
  cd E:/temp/_bazel_nin/aki74rxt/execroot/org_tensorflow
  SET CUDA_COMPUTE_CAP

[2018-02-21 03:14] tensorflowbutler commented on #17153
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-21 04:48] gunan commented on #17154
We merged a potential fix. Could you test it out when you get the chance?

[2018-02-21 04:53] AceHack commented on #16745
@tensorflowbutler, yes this is still an issue

[2018-02-21 05:22] ashishkej commented on #17146
Thanks.... I am able to build with that trick.

[2018-02-21 05:22] #17146 closed

[2018-02-21 05:44] johnmisquita commented on #8037
Why are there no windows compiles? I am having the same issues, but instead of muting the warnings I would like to use my GPU, I also have an and graphics card and not Nvidia what do I do?

[2018-02-21 05:45] johnmisquita commented on #8037
*I Do not have a Nvidia graphics card, I have an and one what do I do?

[2018-02-21 05:45] johnmisquita commented on #8037
*AMD graphics card.. autocorrect

[2018-02-21 05:52] sandeepkumar8713 commented on #17153
@tensorflowbutler I have updated my previous comment.

[2018-02-21 06:13] ablacklama commented on #14589
any updates?

[2018-02-21 06:13] gunan commented on #15849
Not sure where that flag may be coming from. We may want to check that with bazel team.
@mhlopko Could you redirect this to someone who may be able to answer?

[2018-02-21 06:13] ahundt commented on #16526
were you able to try with 9.1 on tf 1.5? Perhaps something was updated already but before it would look for 9.0 anyway.

[2018-02-21 06:18] sandipmgiri commented on #14436
Hi @gunan ,
You can request for either VM or Jenkins from here (both CPU/GPU) - http://osuosl.org/services/powerdev/.
We can either provide VM or work with you to setup a job on the Jenkins infra hosted here

Thanks.

[2018-02-21 06:35] peggyn7 commented on #16755
Yes. I never got it to work.

________________________________
From: Alfred Sorten Wolf <notifications@github.com>
Sent: Tuesday, February 20, 2018 11:45:50 AM
To: tensorflow/tensorflow
Cc: peggyn7; Author
Subject: Re: [tensorflow/tensorflow] Multilayer CNN Softmax Script Error (#16755)

Nagging Awaiting Response: It has been 14 days with no activityand the awaiting response label was assigned. Is

[2018-02-21 06:51] gunan commented on #9359
@alextp @josh11b @drpngx to check and see if we would like to reopen this. But it has been almost one year with no activity, so it seems to be very low priority.

[2018-02-21 07:00] nbansal90 commented on #17156
I have been using tensorflow version 1.4.1.  I do see the commit going in. Do I just need to update my tensorflow?

[2018-02-21 07:07] tensorflowbutler commented on #17155
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-02-21 07:15] burglarhobbit commented on #15752
@allenlavoie Can you provide me a sample python tensorflow code for this fix for cudnn_gru? Thanks!

[2018-02-21 07:31] tengerye commented on #13895
Thank you sincerely for your kind answer @martinwicke. According to your reply, `train_and_evaluate` may suit my requirement. I believe @FrancescoSaverioZuppichini and me are expecting more flexible implementation that we could write some snippets of codes to replace a component instead of re-writing everything.
Thank you again.

[2018-02-21 07:32] asimshankar commented on #17156
Yes, can you try with version 1.5?

[2018-02-21 07:48] asimshankar commented on #17158
@aselle @andrehentz should be able to triage / comment on whether `toco` should catch/report unsupported operations.

[2018-02-21 08:09] SystemErrorWang commented on #1108
Hope these functions can support batch input

[2018-02-21 08:30] george-peng-git commented on #16050
I have the same issue, too.
I use the r1.5 release and build TF from source with the debugging compilation mode.
The `mnist_deep` program fails at the same point with the same cuda assertion message.
The same problem runs successfully when I recompile TF with the default compilation mode.

[2018-02-21 08:38] mhlopko commented on #15849
It's coming from bazel [autodetected crosstool](https://source.bazel.build/bazel/+/master:tools/cpp/unix_cc_configure.bzl;l=290), but this option should be only added when the compiler understands given flag. So it's very weird that bazel autodetected this flag for you. The only explanation I could find is that you had a symlink from gcc -> clang, then bazel autodetected the toolchain, and then yo

[2018-02-21 08:57] facaiy commented on #17104
@asimshankar Would you prefer to implement the optimizer in python side or c++ side?

[2018-02-21 09:03] basejn commented on #672
But why this throws exception ?

[code]
Which prints the following exception. :
`InvalidArgumentError: Must run 'setup' before performing partial runs!`

[2018-02-21 09:10] VolodymyrPavliukevych commented on #16770
Hi, thanks for explanation. [It works](http://projector.tensorflow.org/?config=https://gist.githubusercontent.com/VolodymyrPavliukevych/fe9d724a2d47085798dce306b22a377f/raw/749c9e066c2fe5f7b1decb062c00803f3b72f6da/rada_full_packed_projector_config.json).
I have one more question, why I can't share on my own web site or [Google storage](https://storage.googleapis.com/api.octadero.com/rada/projector

[2018-02-21 09:41] dmak commented on #9371
@timmolter It would be fantastic if you could add links (e.g. to Python API) to your above post to tell the difference between `Saver API` and `aver Model API`. Thanks!

The argument for `SavedModelBundle.load()` should be a directory containing a `.pb` or `.pbtxt` file. Just for case I've tried `SavedModelBundle.load("D:/model/ende_gnmt_model_4_layer/translate.ckpt")` and it didn't work either. I

[2018-02-21 09:41] carlthome commented on #9359
I've seen several bugs caused by this inconsistency. I even managed to be tripped up by this myself just last week, and I would not be surprised if these bugs are very common across people's experiments,  where the Python expression always evaluates to `False` and an implicit `tf.convert_to_tensor` on the expression just becomes a runtime constant.

[2018-02-21 10:53] hko-gh opened #17164 "Catch / recover from CUDNN_STATUS_BAD_PARAM"
Hi all,

* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win7
* TensorFlow installed from (source or binary): source
* TensorFlow version (use command below): 1.3
* GCC/Compiler version (if compiling from source): VC14_64
* CUDA/cuDNN version: 8 / 6
* GPU model and memory: Quadro K2000M

[2018-02-21 10:56] anbai106 opened #17165 "cifar 10 can not be downloaded"
Hi,

I am trying to follow the tutorial from the source code of tensor flow: /model/tutorials/cifar10/

In the cifar10.py, the link

does not work, I guess it is the problem from Canada.

Do you have a solution for this???

Thanks

[2018-02-21 11:00] kushalbabel opened #17166 "custom matrix multiplication"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-21 11:01] #17166 closed

[2018-02-21 11:32] eann commented on #17154
I tried to compile from master and everything went smooth (just a few warnings)

[2018-02-21 11:55] #16345 closed

[2018-02-21 11:59] uziela commented on #15338
I used blaze, because you instructed me to do so. Now I tried `bazel build all_tests` with the newest tensorflow version (v1.6.0-rc1-337-gd100729) and it works. Thanks for your help!

[2018-02-21 11:59] #15338 closed

[2018-02-21 12:34] mikistra opened #17167 "error in validating tensorflow installation"
i installed tensorflow with cuda support on windows 10 and i'm trying to validate it,
i used this script https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c and the result is
![11](https://user-images.githubusercontent.com/15125749/36480211-c33bef0a-170b-11e8-89e6-8167389c5812.PNG)

then i tried import tensorflow as tf from python console and:
![22](https://user-images.githubusercontent.

[2018-02-21 13:12] bhack opened #17168 "Can you document tf metrics use in tf.keras?"
There is no official documentation on how to use tf metrics in tf.keras.
Two stackoverflow reference but I don't know if it is a API stable solution:
https://stackoverflow.com/questions/45947351/how-to-use-tensorflow-metrics-in-keras
https://stackoverflow.com/questions/43158719/how-can-i-use-tensorflow-metric-function-within-keras-models

[2018-02-21 13:18] tensorflowbutler commented on #16692
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:18] tensorflowbutler commented on #16279
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:18] tensorflowbutler commented on #16317
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:18] tensorflowbutler commented on #16329
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-21 13:18] tensorflowbutler commented on #16344
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:18] tensorflowbutler commented on #16381
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-21 13:18] tensorflowbutler commented on #16396
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16656
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16226
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16719
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:19] tensorflowbutler commented on #16720
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16771
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16772
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16777
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:19] tensorflowbutler commented on #16781
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:19] tensorflowbutler commented on #16798
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:19] tensorflowbutler commented on #16805
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:19] tensorflowbutler commented on #16809
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:20] tensorflowbutler commented on #15717
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #13068
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:20] tensorflowbutler commented on #13341
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:20] tensorflowbutler commented on #14535
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #14606
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #15009
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #15269
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #15542
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #1325
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:20] tensorflowbutler commented on #15758
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:20] tensorflowbutler commented on #15835
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:20] tensorflowbutler commented on #15880
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:21] tensorflowbutler commented on #15977
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:21] tensorflowbutler commented on #16045
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-21 13:21] tensorflowbutler commented on #16063
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-21 13:27] tomrunia commented on #15977
@mrry Thank you for the helpful comment on StackOverflow. For now, your suggestion seems to be the way to go. If I have some more insights or feedback down the road I will let you know.

[2018-02-21 13:35] facaiy commented on #17104
@kdhingra307 Hi, do you have start writing code? I'm watching the issue since it's opened, and a prototype is nearly complete (CPU test passed):  https://github.com/facaiy/tensorflow/tree/ENH/adamax_optimizer
If you agree, I'd like to open a PR for future discussion. Thank you.

[2018-02-21 14:02] aforslow commented on #6883
In my case, I got the error when distributing my training session into multiple worker threads. What solved it for me was surrounding the inference graph with a tf.variable_scope(name, reuse=tf.AUTO_REUSE). I guess tensorflow can't keep track of your variables when working in a distributed mode.

[2018-02-21 14:11] rudrapoudel commented on #14625
Float16 support for similar op tf.nn.depthwise_conv2d as well would be great, on top of  tf.nn.separable_conv2d/tf.layers.separable_conv2d. Thanks,

[2018-02-21 14:25] Carmezim commented on #17167
Hi @mikistra, thanks for reporting the issue. Could you please fill up the template form so we can better assess what is happening and help you?

[2018-02-21 14:27] dsmilkov commented on #16770
That's correct, the server that hosts your website should serve with "access-control-allow-origin:*", which is unusual for out-of-the-box hosting, since it's not an API service.

[2018-02-21 14:27] #16770 closed

[2018-02-21 14:31] cohimame commented on #1325
@michaelisard, yes, i do experience )

[2018-02-21 15:07] facaiy commented on #14625
@rudrapoudel Would you like to open a new issue for the feature request?

[2018-02-21 15:20] mrry commented on #15977
Thanks for letting us know! I'll close this issue for now, but please feel free to reopen it if you have any more requests for improving video processing with `tf.data`.

[2018-02-21 15:21] pozhijisi commented on #15985
I am using the following code as a workaround. Haven't been tested though.

[code]

[2018-02-21 15:47] tsoernes commented on #16781
Yes.

[2018-02-21 16:05] dodiknikola opened #17169 "tf.contrib.layers output_collections inconsistency"
Please correct me if I'm wrong, but there seems to be an inconsistency between the pooling and the convolution layers in `tf.contrib.layers` when it comes to adding variables to the `outputs_collection`, when using `tf.get_variable_scope().reuse_variables()`.

Here is the relevant part of the model definition.
[code]

And here is my test, which fails:
[code]

The reason the test fails is that wher

[2018-02-21 16:27] superbobry opened #17170 "Provide a way to convert feature columns to tensors"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: N/A
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
- **GCC/Compiler ver

[2018-02-21 16:37] av8ramit commented on #9770
Testing delete comment.

[2018-02-21 16:54] AakashKumarNain commented on #17016
Ahh...I must have deleted that by mistake while deleting the comments. Though I one thing that I found weird was earlier I was importing `eager` and enabled it too but that didn't work. I restarted the notebook and it worked fine.

[2018-02-21 16:55] #17016 closed

[2018-02-21 16:58] patricksnape commented on #17014
@malcolmreynolds Thanks for the response. We probably should have noted that we knew of the workaround - but it still feels like bad behaviour because it's not at all obvious in a large network where the offending op comes from. This is acerbated by networks that already contain custom ops which also need to be imported previously (obviously).

Sounds good that there are plans to make this happen

[2018-02-21 17:01] amin07 commented on #3115
Write a new cell, modify call to _Linear() with your trained weights inside your new cell's cell() call..

[2018-02-21 17:06] allenlavoie commented on #15752
@burglarhobbit if you mean Python code that previously exercised the bug, check the unit tests: https://github.com/tensorflow/tensorflow/commit/93f2998add91f9c7a53b1fcd13ab6d43e4397297#diff-fa99f9b309ff8d5c073c0ac7714f27db

If you just want to use the fix, you'll need to use one of the 1.6 release candidates or a nightly build.

[2018-02-21 17:24] bignamehyp commented on #17165
Can you please check the link again? It works for me.

[2018-02-21 17:24] #17165 closed

[2018-02-21 17:26] bignamehyp commented on #17169
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

 We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2018-02-21 17:34] mikistra commented on #17167
hi, i'm using CUDA 8 and cuDNN 6.... sorry for the template, i missed it, wher i can find it?

[2018-02-21 17:39] dodiknikola commented on #17169
Sorry about not including that, here it is:

OS Platform and Distribution: Linux Ubuntu 16.04
TensorFlow installed from (source or binary): binary
TensorFlow version (use command below): ('v1.4.0-19-ga52c8d9', '1.4.1')
Python version: Python 3.5.2
CUDA/cuDNN version: CUDA 8, cuDNN 6
GPU model and memory: GeForce GTX 1080, 11172MiB

[2018-02-21 18:19] alextp commented on #9359
We cannot override == and != because that would make tensors no longer work as dictionary keys, which would break a lot of internal and external code :-/

[2018-02-21 18:28] MattShannon commented on #3638
Yeah, I agree that's something to bear in mind. The motivation for my suggestion was just that: (a) I think it's uniformly better than the current situation where the GPU implementation is nominally "incorrect" (doesn't check indices); and (b) I think the current GPU behavior ("forgiving gather") is actually a great op to have.

The procedure to check indices could consist of an op which outputs a

[2018-02-21 18:33] gunan commented on #17154
@eann Thank you very much for verifying!

[2018-02-21 18:33] #17154 closed

[2018-02-21 18:36] asimshankar commented on #17170
@ispirmustafa - any thoughts on this?

[2018-02-21 18:37] asimshankar commented on #17168
@fchollet @anj-s for comment.

[2018-02-21 18:46] shoyer commented on #9359
Agreed with @alextp, this is unfortunately a non-starter.

The most obvious use of tensors as dictionary keys is placeholders in `feed_dict`.

[2018-02-21 19:01] ispirmustafa commented on #17170
does following work for your use case:
`fc_to_tensor = {fc: input_layer(features, [fc]) for fc in feature_columns}`

For sequential inputs we're working on another utility.

[2018-02-21 19:24] joelandplus commented on #16886
Following instructions to install Cuda 9.0 on Ubuntu (apt-get) doesn't work, it will still install 9.1.

[2018-02-21 19:25] joelandplus commented on #16479
@richardmark Following instructions to install Cuda 9.0 on Ubuntu (apt-get) doesn't work, it will still install 9.1.

[2018-02-21 19:28] tensorflowbutler commented on #17164
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
Exact command to reproduce

[2018-02-21 20:13] khof312 opened #17175 "tf.einsum not replicating np.einsum; struggles to read input with whitespace"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow version (use command below)**: v1.5.0-0-g37aa430d84 1.5.0
- **Python version**:  3.5.2
- **Exact command to reproduce**: See below.

### Problem
Unlike `np.einsum`, I have f

[2018-02-21 20:14] frreiss opened #17176 "Feature request: Provide API to test whether a copy of TensorFlow has MKL support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: v1.5.0-9-gc959ec7
- **Python version**: 3.5
- **Bazel version (if compiling from sour

[2018-02-21 20:16] martinwicke commented on #16720
I'll close this, assuming this is a problem with your installation. Please reopen if more information is available.

[2018-02-21 20:16] #16720 closed

[2018-02-21 20:46] superbobry commented on #17170
Thanks for the suggestion @ispirmustafa. This is exactly what I'm doing right now. However, I feel that it's a bit of a hack because I'm not really interested in a layer, but rather in a single tensor.

[2018-02-21 20:53] ispirmustafa commented on #17170
@superbobry it's not there yet. I'll update the thread whenever it's in master.

[2018-02-21 20:56] #16348 closed

[2018-02-21 20:58] martinwicke commented on #16152
Can you say "Fixes #16152" in the description for your PR? That way this issue will be closed when your PR is submitted.

[2018-02-21 20:59] #15810 closed

[2018-02-21 21:23] dantkz commented on #5965
@ekelsen
It seems that the GPU kernel of tf.unique has memory leak. https://github.com/tensorflow/tensorflow/issues/17155

[2018-02-21 21:51] gunan commented on #16603
CC @martinwicke

Looking at this
https://wiki.ubuntu.com/SecurityTeam/KnowledgeBase/SpectreAndMeltdown#Userspace_Mitigations
I do not see any package that we knowingly include in our cpu dockerfiles.

Moreover, even if we add "apt-get upgrade" at the end of our dockerfiles, it only runs upgrade at build time.
So for 1.3, 1.4, 1.5 those would be when the releases were last built. What we upload to

[2018-02-21 21:51] NProkoptsev commented on #15237
@iron9light in fact, author states that L2 regularization is not equal to weight decay. He proposes to move weight decay term to update of x_t.
The paper has updated recently, and it's more clear now.
https://arxiv.org/pdf/1711.05101.pdf

[2018-02-21 22:03] jacksonloper opened #17177 "logits or log probabilities?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.4 and 1.5
- **Python version**:  3.6
- **Bazel version (if compiling from source)**

[2018-02-21 22:19] selcouthlyBlue commented on #15985
What does sequence_length mean here?

[2018-02-21 22:19] carlthome commented on #17155
Can you produce an OOM if you run it long enough or could the plot just be the result of GPU VRAM allocation not being released by the process?

[2018-02-21 22:37] metal3d opened #17178 "Failed to build graph_transforms"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-21 23:05] pozhijisi commented on #15985
sequence_length is the 1-D tensor containing the lengths of the labels in the batch.

sequence_length may be of shape [batch_size], and labels (dense_tensor) may be of shape [batch_size, max_length_of_the_labels].

The code has been tested now.

[2018-02-21 23:21] liuhantao9 opened #17179 "Question about freeze the graph"
I found a model which has the checkpoint file inside .pd

[code]
[https://github.com/thtrieu/darkflow](url)

So do I still have to freeze the graph?

[2018-02-21 23:25] selcouthlyBlue commented on #15985
I have already implemented `dense_to_sparse` that passes an `eos_token`. What do you intend to gain from passing `sequence_length` instead of an `eos_token`?

[2018-02-21 23:25] bignamehyp commented on #17179
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-21 23:25] #17179 closed

[2018-02-21 23:33] cy89 commented on #17002
@ccolby when you're happy with the KMeansClustering documentation, please close.

@sandeepkumar8713 could you please open a separate issue for exposing clustering centers, tag @ccolby and this bug, and note that it's a feature request?

[2018-02-22 00:01] cy89 commented on #17076
@zheng-xq can you please point @georgh at tools he can use to better inspect GPU memory allocation? Or is there a docs page we can point him at, or build for him?

[2018-02-22 00:41] RichDubielzig commented on #16104
This would be useful to us as well.  We are currently stuck in a situation where the protobuf symbols in libtensorflow_framework.so are being clobbered by symbols in a custom libprotobuf from a different API revision that is being loaded to support the operations of our custom backend to TensorFlow.

[2018-02-22 00:49] sergii-bond commented on #8487
I ended up using an intermediate function as a workaround:
[code]

I just want to know where the bug is, in `monitored_session.py` file or in `tf.contrib.framework.assign_from_checkpoint_fn` function ? Can `self` parameter be used inside init_fn for something ?

[2018-02-22 00:58] jlebar commented on #11564
Hi, I know this has sat for way too long; I'm sorry about that.

I just tried this again, and it seems to work.  I'm using the latest version of inception from tensorflow/models, and I hacked it like you did to allow enabling XLA.  (I'll try to push a change upstream to add this flag.)  I ran locally with a P100 and CUDA 8.

Without XLA:
```step 2950, loss = 12.21 (122.6 examples/sec; 0.261 sec/ba

[2018-02-22 00:58] #11564 closed

[2018-02-22 01:04] martinwicke commented on #16603
I agree -- we're not adding any packages to the container that need updating. If the upstream images (nvidia-docker, and ultimately, the base ubuntu image) is updated (possibly to include a apt-get upgrade) we should rebuild.

Has that happened?

Otherwise, there's not much that can be done here. I'll close, but we could of course be wrong about any of this, please reopen if we are.

[2018-02-22 01:04] #16603 closed

[2018-02-22 01:14] sergii-bond opened #17182 "Log "Waiting for new checkpoint at" in tf.contrib.training.evaluate_repeatedly only after the checkpoint is found"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.5.0-rc1
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.9.0

### Problem description
I use `tf.contrib.training.evaluate_repeatedly` function found here: https:

[2018-02-22 01:20] mytrjp commented on #7983
I had experienced the same issue. What exactly worked for me that I just closed all opened terminals and opened again, then it worked! . Because I was working on multiple virtual environments at the same time and most probably this caused GPU's memory overloaded.
Hope works for all having this issue.

[2018-02-22 01:30] arch-rh1 commented on #15236
I have **Cuda 9.0 , cudnn 7.0** on Ubuntu 16.04.
I built **Tensorflow 1.6** since the release notes states it has pre-compiled binaries for cuda 9.0 and cudnn 7.0.

ldconfig -v: **libcublas.so.9.0**

upon running:
import tensorflow as tf
I still get the error:
`ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory`

My Questions:
1. Shouldn't Tensorflow 1.6 work

[2018-02-22 01:31] selcouthlyBlue opened #17183 "Feature Request: Make sequence_length argument each of CTC function Optional"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 8.1
- **TensorFlow installed from (source or binary)**:
Binary
- **TensorFlow version (use command below)**:
1.4
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
N/A
- **GCC/Co

[2018-02-22 01:32] jlebar commented on #11564
Sorry, forgot to mention, I had to patch in our fix for #12683, which should be upstream soon.

Just to be sure I'm going to leave this XLA one going overnight.

[2018-02-22 01:38] jacky-liang opened #17184 "Error Creating Predictor from Core Estimator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**:  3.5.3
- **Bazel version (if compiling from source)**: n/a
- **G

[2018-02-22 01:51] arch-rh1 commented on #5343
I have **Cuda 9.0 , cudnn 7.0 on Ubuntu 16.04**.
I built Tensorflow 1.6 since the release notes states it has pre-compiled binaries for cuda 9.0 and cudnn 7.0.

`ldconfig -v: libcublas.so.9.0`

upon running:

I still get the error:
`ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory
`
My Questions:

**1. Shouldn't Tensorflow 1.6 work with cuda 9.0/ cudnn 7.0 ?

[2018-02-22 02:08] asimshankar commented on #17184
Thanks for the report.

I believe this was fixed in https://github.com/tensorflow/tensorflow/pull/15648 which is included in TensorFlow 1.6 (which is in release candidate form right now, a final release should be out soon).

[2018-02-22 02:08] #17184 closed

[2018-02-22 02:12] asimshankar commented on #17182
If you'd like to make a change, please feel free to send a pull request :)
Alternatively, you could use [`tf.logging.set_verbosity(tf.logging.WARN)`](https://www.tensorflow.org/api_docs/python/tf/logging/set_verbosity) to avoid any `logging.info` messages from showing up.

Hope that helps.

[2018-02-22 02:12] #17182 closed

[2018-02-22 02:18] asimshankar commented on #17176
CCing @tfboyd for comment.

[2018-02-22 02:24] arch-rh1 opened #17185 "Tensorflow 1.6 ALWAYS looking for libcublas.so.8.0 with Cuda 9.0, Cudnn 7.0 (and libcublas.so.9.0)"
### System information
- **OS Platform and Distribution** -  Linux Ubuntu 16.04
- **TensorFlow installed from** - source
- **TensorFlow version** - tensorflow-1.6.0rc0
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**:  0.10.1
- **GCC/Compiler version (if compiling from source)**: 5.4.0
- **CUDA/cuDNN version**: Cuda 9.0/ cuDNN 7.0
- **GPU model and memory**: Nvidia Quadr

[2018-02-22 02:29] asimshankar commented on #17150
Thanks for the report.
CC @fchollet @anj-s for comment.

[2018-02-22 02:31] asimshankar commented on #17106
Thanks for the report.
The GPU kernel for dynamic partition was introduced in TensorFlow 1.5 via #13905 - seems like there is a bug. @codrut3 @ekelsen - mind taking a look?

(This problem isn't visible in TensorFlow 1.4 since it didn't have a GPU kernel for the DynamicPartition op and thus that would always execute on CPU. The CPU kernel is seemingly fine)

[2018-02-22 03:13] AIGyan commented on #16214
Hello Team,
I am still getting the same error after using @cyrilzh solution.
$sudo apt-cache search cuda-command-line-tool
$ sudo apt install cuda-command-line-tools-9-1
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package cuda-command-line-tools-9-1

[2018-02-22 03:38] #13120 closed

[2018-02-22 03:43] brightbytes-dude commented on #8043
@tilarids - Sorry for the (very!) long delay: I wasn't able to get back to the project until recently.

The test case you indicated allowed me to get this working on my project: thank you very much for referencing it!!

My mistake was to take the documentation literally when it says `weight_column_name: A string defining feature column name representing weights.`.  I assumed that meant that `weigh

[2018-02-22 03:51] selcouthlyBlue commented on #17183
Update: I figured out a way to do this. However, this assumes that the sequence_lengths of each example are all the same.

Given an input tensor of shape `(None, num_time_steps, num_features)`:

[code]

[2018-02-22 04:43] sj6077 opened #17186 "Conv2D is not called if it has only control dependency"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
r1.5
- **Python version**:
2
- **Bazel version (if compiling from source)**:
0.5.4
-

[2018-02-22 06:15] akhilkumarco007 commented on #15161
Can you please add more details like what the error code is? Where is it? Other details like what changes you made?

[2018-02-22 07:28] tensorflowbutler commented on #17175
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-02-22 07:28] tensorflowbutler commented on #17177
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-22 07:28] tensorflowbutler commented on #17178
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-22 08:01] RomRoc commented on #16452
I would like to inform that February 9 Tensorflow Api release now support instance segmentation.
Refer to [this section](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/instance_segmentation.md) for instructions.

[2018-02-22 08:01] SarthakJShetty opened #17187 "TensorFlow - cuInit: CUDA_ERROR_NO_DEVICE"
Hi, I was using TensorFlow with GPU support these past few months and it worked without any issues. I have installed cuda v8.0 and also have the cudNN library.  Recently, I started using TensorFlow for a project and noticed that it isn't computing on the GPU, and is using the GPU instead. I'm running TensorFlow 1.2.1 on Windows 10, with CUDA v8.0.

Here is the code that I ran on the Python Interpr

[2018-02-22 08:18] OscarDPan opened #17188 "TF1.3 to 1.5 drastic changes (apparently) due to gRPC"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux release 7.1.1503 (Core)
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 2.7.15(with TF 1.5) and 2.7.5(with

[2018-02-22 08:40] DominikAuras opened #17190 "tf.contrib.quantize: layer not quantized in absence of activation"
In absence of an activation function, e.g., `tf.layers.Conv2D(...,activation=None,...)`, the graph matcher using the `activation_pattern` at
https://github.com/tensorflow/tensorflow/blob/671baf080238025da9698ea980cd9504005f727c/tensorflow/contrib/quantize/python/quantize.py#L185-L192
won't match the layer that has no activation function, and consequently, that layer won't be quantized.

Maybe prev

[2018-02-22 08:48] SofaPotatos opened #17191 "ValueError: Unknown activation function:relu6 while converting MobileNet under Keras to estimator using model_to_estimator"
Hi, I try to convert a mobilenet model under `tf.keras.application` to estimator using model_to_estimator.
I get an error (`ValueError: Unknown activation function:relu6`) due to relu6 is a customized activation defined in mobilenet.

Thanks for help.

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or b

[2018-02-22 09:25] keotic opened #17192 "TrainingHelper & ScheduledEmbeddingTrainingHelper GPU Error - works on CPU"
### System information
- **Have I written custom code **: Yes
- **OS Platform and Distribution**:16.04.3 LTS (Xenial Xerus)
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.4.1
- **Python version**: Python 3.5.2
- **Bazel version (if compiling from source)**:NA
- **GCC/Compiler version (if compiling from source)**:c++ (Ubuntu 5.4.0-6ubuntu1~1

[2018-02-22 09:51] #10788 closed

[2018-02-22 10:06] cybot16 commented on #9270
Are there any updates on this topic?

[2018-02-22 10:49] nio1814 commented on #6035
As @mmpinso noted, SpatialMaxPoolWithArgMaxHelper in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/maxpooling_op.cc actually does the max pool and argmax calculations on the CPU.

Currently, it's only used for the gradient calculation. I'm working on also calling it from MaxPoolingWithArgmaxOp::Compute for the CPU.

https://github.com/nio1814/tensorflow/tree/maxpoolw

[2018-02-22 12:28] warisha commented on #3907
Any update?
i have the same question to train on sparse variables?
is there any solution of this problem  or not?

[2018-02-22 13:04] tensorflowbutler commented on #17186
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Exact command to reproduce

[2018-02-22 13:04] tensorflowbutler commented on #17185
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code

[2018-02-22 13:05] tensorflowbutler commented on #12659
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #15364
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #15297
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #14787
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #14731
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #14580
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #14456
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #14101
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #13844
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #13818
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:05] tensorflowbutler commented on #13603
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #13351
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #13310
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-22 13:06] tensorflowbutler commented on #13246
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #13104
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #12980
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #12927
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #16832
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:06] tensorflowbutler commented on #16821
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:06] tensorflowbutler commented on #16820
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:07] tensorflowbutler commented on #16374
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #16350
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #15635
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #16247
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-22 13:07] tensorflowbutler commented on #16163
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #16162
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #16087
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #15999
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:07] tensorflowbutler commented on #15913
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:07] tensorflowbutler commented on #15845
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #15720
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #6034
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #7808
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #7610
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #7480
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #7129
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #7108
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:08] tensorflowbutler commented on #6992
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #6956
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #6767
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:08] tensorflowbutler commented on #6417
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-22 13:08] tensorflowbutler commented on #5477
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:09] tensorflowbutler commented on #4965
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-22 13:09] tensorflowbutler commented on #4914
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-22 13:09] tensorflowbutler commented on #1763
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:09] tensorflowbutler commented on #1374
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:09] tensorflowbutler commented on #636
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:09] tensorflowbutler commented on #631
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:09] tensorflowbutler commented on #10679
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-22 13:09] tensorflowbutler commented on #12106
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:09] tensorflowbutler commented on #11831
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:09] tensorflowbutler commented on #11765
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:09] tensorflowbutler commented on #11674
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #11144
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #11138
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #10972
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #10728
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #464
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-22 13:10] tensorflowbutler commented on #10622
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #10605
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #10241
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #9904
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #9779
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:10] tensorflowbutler commented on #9550
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:11] tensorflowbutler commented on #9234
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:11] tensorflowbutler commented on #8804
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 13:11] tensorflowbutler commented on #8431
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-22 15:08] h8907283 commented on #14731
Hi, It would be very helpful if we are given an update on this work. Thanks so much!

[2018-02-22 15:15] Joshuaalbert commented on #16942
I think this should be closed, unless you still want to follow up that second case with random tensors in while loop being faster. Run MVCE to see if you get the same.

[2018-02-22 15:34] mrry commented on #16163
The fix has been submitted internally, but not yet merged into the Git master branch. It should be coming in the next push!

[2018-02-22 15:39] ryanleary commented on #6034
@ebrevdo yes, I think something like that needs to occur (to the extent that it can be done). What underflow/overflow issues have you experienced? Is that still really an issue even though we're in the log prob space?

[2018-02-22 15:45] deathmantim commented on #16855
The same is happening for me on windows 10, same version installed from pip CPU only

[2018-02-22 15:56] petrosmol commented on #9270
Is this a separate feature request? In response to the initial request I checked in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/kernel_methods/python/losses.py some time ago.

@atomextranova: Can you elaborate on your request? also shall we open a separate issue for this?

[2018-02-22 15:58] saeed68gm commented on #6035
@nio1814 My patch does what you want to do I believe. Give it a read and let me know what you think

[2018-02-22 16:22] kbsriram opened #17195 "C++ gradients for MaxPool3D, AvgPool, AvgPool3D"
Looks like these just need to connect the gradient to an existing core op. Anyone already working on it? Otherwise, I'll sign up for these three.

/cc @bpiel @suharshs

[2018-02-22 16:32] jeherr commented on #17106
I've also run into a problem with dynamic partition for TensorFlow 1.5. I'll try to illustrate it as best as I can in code below.

[code]

So dxyzs is gathered according to padding_mask on line 3 which gives them the same first dimension sizes. The rest of the code here preserves that same first dimension up through the einsum on line 11. Line 12 defines my partitioning indices for dynamic partiti

[2018-02-22 16:53] martinwicke commented on #13895
@tengerye which component would you like to replace?

Many of the restrictions of Estimator are in place so you can scale up without having to change your code. That makes local training less convenient, but it avoids a lot of pitfalls later.

[2018-02-22 16:58] khof312 commented on #17175
Ok, I have added some details! Though I don't think they are necessary to replicate the issue.
I wasn't sure about the installation since it is a shared machine.

[2018-02-22 17:08] codrut3 commented on #17106
Hi @ankitvgupta @jeherr,

Thank you for reporting the bug(s)! I will look into it, but I am a bit busy right now and it might take me a couple days to figure out what is happening.

[2018-02-22 17:09] ipeirotis commented on #17175
`
x = tf.range(5, 10,  dtype=tf.float64)
# TensorShape([Dimension(5), Dimension(2), Dimension(4)])
tf.einsum("i,sq->isq", x, tf.ones(shape=(2,4), dtype=tf.float64) ).shape
# TensorShape([Dimension(5), Dimension(4), Dimension(2)])
tf.einsum("i,sq -> isq", x, tf.ones(shape=(2,4), dtype=tf.float64) ).shape
`

[2018-02-22 17:12] karmel commented on #11674
We have a fix in review right now; will update this thread when that is ready.

[2018-02-22 17:23] #4965 closed

[2018-02-22 17:23] jvdillon commented on #4965
Closing this issue as we have a v2 implementation of HMC.  We'll of course further refine this but lets open new issues for any requested refinements.

[2018-02-22 17:31] bpiel commented on #17195
@kbsriram I'm not. thanks

[2018-02-22 17:40] jlebar commented on #11564
The XLA run got down to
```step 125000, loss = 7.53 (113.8 examples/sec; 0.281 sec/batch)```
before my hard drive ran out of space for storing checkpoints.  :)

[2018-02-22 17:43] alextp commented on #3907
Not yet.

On Thu, Feb 22, 2018 at 4:32 AM, Arbish <notifications@github.com> wrote:

--
 - Alex

[2018-02-22 17:48] suharshs commented on #17190
I submitted a fix for this a couple days ago :) It should work after the next sync.

Also, these rewrites are very new and only have been tried on a few models, but we plan to expand this to more models, so any information on models you are trying to quantize would be super helpful!

Thanks!

[2018-02-22 17:48] #17190 closed

[2018-02-22 17:54] suharshs commented on #17195
Nor am I. Thanks!

[2018-02-22 18:25] melhoushi-invn commented on #10087
Have you tried adding to the top of your script:

`from keras.callbacks import TensorBoard`

[2018-02-22 18:31] nio1814 commented on #6035
Yeah, looks pretty similar. Sorry. I didn't realize you had already started working on this.

Are you planning on doing a PR? I think people would find it useful.
If there's a branch your working from I could go ahead and add the gradient op. It should just be another call to SpatialMaxPoolWithArgMaxHelper.

[2018-02-22 18:37] zhuangh commented on #6992
@tensorflowbutler @rmlarsen sorry for the late, I am still working on the requirements from the review and merging the code conflicts. Please give me more time. Thanks.

[2018-02-22 19:02] #15753 closed

[2018-02-22 19:04] leandroBorgesFerreira commented on #16866
Hi folks, It there any update on this?

[2018-02-22 19:12] Wendy0601 commented on #10087
No, why import from Keras? I think it unnecessary to use that library, but
only the tensorflow is enough.

Best regards,

Wenting Li

Department of Electrical, Computer & Systems Engineering
Rensselaer Polytechnic Institute, Troy, NY 12180

2018-02-22 13:29 GMT-05:00 Mostafa Elhoushi <notifications@github.com>:

[2018-02-22 19:16] melhoushi-invn commented on #10087
Sorry for that @Wendy0601 I was fixing another problem. I will delete my comment.

[2018-02-22 19:17] fchollet commented on #11674
I was actually looking into this feature right now. Where can I check out the fix?

[2018-02-22 19:21] tatianashp commented on #7610
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-22 19:21] #7610 closed

[2018-02-22 19:25] iganichev opened #17199 "Error raised incorrectly in CheckInputFromValidContext"
Happens in TF 1.5.

**Error message and logs:**
INFO:tensorflow:Cannot use 'transducer_training/while/rnn/strided_slice' as input to 'gradients/transducer_training/while/rnn/while/Select_1_grad/Select/f_acc' because 'transducer_training/while/rnn/strided_slice' is in a while loop.

gradients/transducer_training/while/rnn/while/Select_1_grad/Select/f_acc while context: None
transducer_training/whil

[2018-02-22 19:34] adamjones1 opened #17200 "TimeDistributed wrapper works with "standalone" Keras, but not with "built-in" Keras"
The following lines worked with Keras (2.0.8) and Tensorflow (pre 1.4).

`input_tensor = Input((input_epochs_per_output_epoch, samples_per_epoch, features_per_epoch))`

`inner_intermediate = TimeDistributed(BatchNormalization(axis = -1), name="bn_input")(input_tensor)`

`many lines...`

`inner_out = TimeDistributed(Bidirectional(GRU(intermediate_features, return_sequences=False, recurrent_dropout=

[2018-02-22 19:34] tensorflowbutler commented on #17187
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-22 19:34] tensorflowbutler commented on #17191
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Exact command to reproduce

[2018-02-22 19:34] tensorflowbutler commented on #17192
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
Exact command to reproduce

[2018-02-22 19:55] tvkpz commented on #16821
Have I written custom code - Yes
OS Platform and Distribution - Linux
TensorFlow installed from - Github (built from source)
TensorFlow version - 1.4.1
Bazel version - 0.8.1
CUDA/cuDNN version - 8/6
GPU model and memory - NVidia M40 / 24GB
Exact command to reproduce - N/A

[2018-02-22 19:57] samscott1989 commented on #22
OpenCL support It must become true.

cuda only work for Nv gpus.
that is dead end for TensorFlow,
if another "TensorFlow" come out but more support than TensorFlow.
if TensorFlow still only support cuda in windows.
you have to realize Nv not the only one.

[2018-02-22 19:59] arch-rh1 commented on #5343
I'm not sure why it is looking for libcublas.so.8.0. Is there any cache stored from which `sudo -H pip install tensorflow-gpu` builds the package?  I do uninstall tensorflow-gpu each time using `sudo -H pip uninstall tensorflow-gpu` each time. So I'm not sure what's going on...

I built from source using bazel too. Still the same error!!!!!

Any thoughts??

[2018-02-22 20:06] janhuang6 opened #17201 "Tensorflow build incorrectly complained about Bazel version"
When I built Tensorflow, it complained my bazel was 0.4.5, asked me to upgrade to bazel 0.5.4 or above.
So I upgraded to the newest bazel 0.10.1. Then when I built Tensorflow again, it still complained:

Current Bazel version is 0.10.1, expected at least 0.5.4

So Tensorflow thinks 0.1 is less than 0.5, it did not treat that as version 10 v.s. 5.
Please fix.

Thank you!
Jan

Please go to Stack Ove

[2018-02-22 20:23] bjenkinsgit commented on #16214
I am in the same boat as AIGyan.  Unable to locate command line tools package.

[2018-02-22 20:47] nataliaponomareva commented on #16692
It is actually the features that are of wrong shape. You can wrap the pandas input fn inside of a custom input fn and get the features expanded. Like this

def train_rf():
  input_dimension = 1
  batch_size = 10
  # I am creating dummy data just to test, remove it.
  x1 = np.array([1., 2., 3., 4.], dtype=np.float32)
  x2 = np.array([4., 8., 3., 4.], dtype=np.float32)
  target = np.array([1, 0, 1,

[2018-02-22 20:50] #16692 closed

[2018-02-22 21:12] manbharae commented on #16214
@AIGyan  @bjenkinsgit
https://www.tensorflow.org/install/install_linux
Don't do  cuda-command-line-tools-9-1,
Tensorflow supports only 9-0 at the moment.

uninstall cuda 9-1 and install cuda-9-0.
then install cuda-command-line-tools-9-0

hope it helps.

[2018-02-22 21:24] omatai commented on #16350
Github processes confuse me deeply. I have no idea if I'm supposed to respond, who the "assignee" is, how to figure out if anything has changed -- everything Github people seem to take for granted. I'm giving up :-(

[Begin rant] Lack of decent documentation is stifling the IT world. It's as if everyone outside it speaks English, and everyone inside it speaks some obscure dialect of Swahili. It is

[2018-02-22 21:34] gunan commented on #17185
If you build from source(as indicated by the information you provided) , the CUDA version TF will look for is what you picked during the build. Therefore, this is a misconfiguration during your build, rather than a bug in TF.

[2018-02-22 21:34] #17185 closed

[2018-02-22 21:36] gunan commented on #17043
avx512 support is still not official. But We would greatly appreciate any fixes, if you can pinpoint the problem.

[2018-02-22 21:36] gunan commented on #17081
Thanks for checking again. Then I will be closing this issue as a duplicate of #17043

[2018-02-22 21:36] #17081 closed

[2018-02-22 21:55] xavigonzalvo commented on #16832
This is part of tensorflow's [bazel](https://www.tensorflow.org/install/install_sources) packages. So this is supposed to be run like this:

    cd tensorflow/tensorflow/contrib/factorization
    bazel test :gmm_ops_test :gmm_test

or just do:

    bazel test tensorflow/contrib/factorization:all

for all packages related to factorization (i.e. kmeans and gmm so far).

[2018-02-22 21:58] gunan commented on #17046
MKL support for macos is still not available.
I am blocked on a few bazel bugs.
Please watch #10685 for updates.

[2018-02-22 21:58] #17046 closed

[2018-02-22 22:07] gunan commented on #17159
@zheng-xq @ispirmustafa @martinwicke
Who would be the best person to look into this?
This can be potentially release blocking.

[2018-02-22 22:16] briansp2020 commented on #22
Why is OpenCL better than HIP? I think OpenCL has failed to gain traction and supporting OpenCL at this point in time probably is counter productive and waist of resources for the whole comunity/industry. I'd rather see TensorFlow support HIP directly and let the compiler/tool/library to take care of the portability.

Isn't it better for software to support 1 language/programming model?

[2018-02-22 22:26] ispirmustafa commented on #17159
@eddie-zhou are you aware of any slowness?
warmstart-setting changes the initializer-op, it should not impact the global_step/sec.

[2018-02-22 22:36] eddie-zhou commented on #17159
@ispirmustafa is correct, and in various runs I have never encountered any slowness.  Because you're not providing any vocabulary information, the relevant logic is contained entirely in init_from_checkpoint (which you mentioned you saw when directly using it).  And the underlying logic there simply overrides the initialization op, which should only occur once.  Will loop in the author of init_fro

[2018-02-22 22:44] jlebar commented on #17090
FYI @bixia1 is actively working on this, should have a fix soon.  It is at once simple and unfortunately complicated.  :)

[2018-02-22 22:47] elsonrodriguez opened #17203 "Modify distributed TF examples to take kubeflow's TF_CONFIG as well as command line arguments."
Currently most of the examples under `tensorflow/tools/dist_test` require command line arguments to be passed in to construct the cluster spec.

The tensorflow operator is standardizing under a representation of the cluster spec within a variable called `TF_CONFIG`, which looks like this:

[code]

It would be ideal of the examples were modified to take this variable so we can reduce the shimming r

[2018-02-22 22:52] ispirmustafa commented on #17159
@dacox could you please provide us a single script which reproduces this slowness?

[2018-02-22 22:54] bignamehyp commented on #17195
Can you please provide more details? AvgPoolingGradOp already exists.

[2018-02-22 23:00] ispirmustafa commented on #17159
@vihanjain are you aware of any slowness?

[2018-02-22 23:00] bignamehyp commented on #17201
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L35
has fixed the bug. Please sync to the latest version of tensorflow.

[2018-02-22 23:00] #17201 closed

[2018-02-22 23:07] bignamehyp commented on #17203
@yifeif what do you think about this proposal?

[2018-02-22 23:10] bignamehyp commented on #14357
@ebrevdo the issue still exists in tf nightly. Can you please take another look?

[2018-02-22 23:18] ebrevdo commented on #14357
@skye we should be giving better rror messages here.  i believe the update_op is created inside a while loop context; but we're allowing it to be added as a control dependency on an op outside the context.

@sguada i remember we had a variant of batch_normalization that didn't require update op collections.  do you recall how?

[2018-02-22 23:25] bignamehyp commented on #17183
@ebrevdo can you please take a look?

[2018-02-22 23:27] bignamehyp commented on #17085
We're seeing more and more people eager to contribute to translations (for example #16871).

But we don't have infrastructure to support this. We're looking into it.

[2018-02-22 23:27] #17085 closed

[2018-02-22 23:32] #16035 closed

[2018-02-22 23:34] bignamehyp commented on #17135
iris_data.py needs an update. @nealwu please take a look. Thanks

[2018-02-22 23:36] bignamehyp commented on #17169
@sguada please take a look, thanks.

[2018-02-22 23:38] bignamehyp commented on #16859
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-22 23:38] #16859 closed

[2018-02-22 23:39] bignamehyp commented on #17167
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-22 23:40] dacox commented on #17159
@ispirmustafa Sure!

**Example Script**

[code]

**Script Usage**

[code]
**First Epoch**

[code]

**Second Epoch (with warm-start)**

[code]

[2018-02-22 23:43] bignamehyp commented on #16831
We appreciate your input and suggest. We don't have any near plan to support this. Stackoverflow might be a better place to host this discussion.

[2018-02-22 23:43] #16831 closed

[2018-02-22 23:45] bignamehyp commented on #15933
Is this issue resolved after the fix?

[2018-02-22 23:46] #15977 closed

[2018-02-22 23:47] bignamehyp commented on #16745
We don't have plans to support Quantum yet. Thanks for your feedback.

[2018-02-22 23:47] #16745 closed

[2018-02-22 23:49] bignamehyp commented on #16755
Please follow tutorials from https://www.tensorflow.org/tutorials/layers instead. Thanks.

[2018-02-22 23:52] bignamehyp commented on #17115
@ispirmustafa how about adding an optional every_n_iter argument in config?

[2018-02-22 23:54] bignamehyp commented on #17119
@yuefengz can you please comment it?

[2018-02-22 23:57] mirh commented on #22
Software has to support what it has to support to cover every use case.
HIP is all bells and whistles (at least on the paper) if you have supported hardware. But there aren't just "newer amd and nvidia cards" to this world.

Now please, for the love of god, complain [here](https://github.com/ROCmSoftwarePlatform/hiptensorflow/issues) for any problem with that.
And [here](https://github.com/lukeiwa

[2018-02-23 00:03] yuefengz commented on #17119
I have a pending change internally that would fix this issue.

[2018-02-23 00:05] suharshs commented on #17195
@bignamehyp This is referring to C++ gradients: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/cc/gradients

[2018-02-23 00:05] bignamehyp commented on #16887
@gunan can you please take a look?

[2018-02-23 00:27] gunan commented on #16887
This is not an issue with GCC, it is due to AVX 512. We still do not have official AVX 512 support, but we welcome any contributions. I will close this as a duplicate, as similar issues with compiling in avx512 are reported before, just for housekeeping.
Duplicate of #10220

[2018-02-23 00:27] #16887 closed

[2018-02-23 00:28] gunan commented on #12781
Just a little housekeeping. Duplicate of #10220

[2018-02-23 00:28] #12781 closed

[2018-02-23 00:41] ebrevdo commented on #17183
Not sure I understand how to make it optional.  You can certainly identify, for each minibatch entry, the first location that contains some "padding" value, and make that index the sequence length.  However, this shouldn't be the job of e.g. ctc_loss: you can call this function, get the sequence lengths vector, and pass them to ctc_loss.  If ctc_loss did this for you, it'd now have an *additional*

[2018-02-23 00:41] #17183 closed

[2018-02-23 01:44] daisylab commented on #16887
Yes. Maybe this is not an issue with GCC. By the way, let me just mention what I tried, for your information;

1. CPU-only version of TensorFlow (r1.5) can be compiled normally with GCC 5.5.

2. GPU-accelated version of TensofFlow needs older GCC (I use GCC 5.4) as nvcc, i.e.,

Please specify which gcc should be used by nvcc as the host compiler. [Default is /usr/bin/gcc]:

and then I feed gcc-5.4

[2018-02-23 01:49] yaroslavvb opened #17204 "HtoD takes 2.5x longer than D2H"
I'm noticing that HtoD copies are taking significantly longer than DtoH.

IE, doing `sess.run(gpu_var)` vs `sess.run(assign_gpu_var, feed_dict={gpu_var.initial_value: arr})`
100MB tensor takes 8ms on V100 to fetch (12.5GB/sec), but 21.67ms to feed (4.5 GB/sec)

Benchmark
https://github.com/diux-dev/cluster/blob/db10c890530e7ded9e4a933596803e3ae0de1db0/yuxin_numpy/square_minimize_cpu_pipeline.py

I

[2018-02-23 01:49] yaroslavvb commented on #17204
cc @zheng-xq

[2018-02-23 01:53] skye commented on #14357
@jpienaar had some plans to raise a better error when an op inside a while loop is used as a control input to an op outside the loop. I'm not sure what the status or timeline of that is at the moment.

[2018-02-23 02:15] selcouthlyBlue commented on #17183
I was thinking of creating something like this that assumes all sequence lengths are the same:

[code]

[2018-02-23 02:28] vlad17 opened #17206 "CPU restrictions do not reduce thread count"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
[code]
- **Python version**: 3.5
- **Exact command to reproduce**: please see below

[code]

### Describe the problem

It seems that the tensorflow configuration proto lets you specify the number of CPUs TF should use, but this does not limit the default number of threads

[2018-02-23 02:30] alexschoeberl opened #17207 "TF Keras inference is way slower than Numpy"
I'm working on a reinforcement learning model implemented with Keras and Tensorflow. I have to do frequent calls to model.predict() on single inputs.

While testing inference on a simple pretrained model, I noticed that using Keras' model.predict is WAY slower than just using Numpy on stored weights. Why is it that slow and how can I accelerate it? Using pure Numpy is not viable for complex models

[2018-02-23 02:52] SofaPotatos commented on #17191
Thanks for your reply. I have just updated the post based on the issue template.

[2018-02-23 03:00] dchatterjee172 commented on #15771
If you can add a "contributions welcome" label then that would be great

[2018-02-23 03:16] tengerye commented on #13895
@martinwicke I see your point now. I thought it would be better if training and evaluation could progress interactively under single machine execution. I think maybe it it better to provide an independent implementation especially for single machine? Since a lot of people work on single machine at the beginning.

[2018-02-23 03:19] clovking commented on #7434
Does the problem have been solved?

[2018-02-23 03:36] snnn commented on #15297
Hi @meteorcloudy

What's the status of this issue?  Is it fixed or not?

[2018-02-23 04:07] martinwicke commented on #13895
For single machine training you can start with tf.keras.Model. Once your ready to scale, use that Model in a model_fn, or use model_to_estimator.

Maybe there's a way to do interactive training in a way that still allows you to scale without forcing people to rethink their models, but I have no solution to that (the workflow above using Keras is the best I've seen).

[2018-02-23 04:49] zeshaoaaa opened #17208 "__init__() got an unexpected keyword argument 'dct_method'"
### System information
- **What is the top-level directory of the model you are using**:
      C:\Users\Administrator\Documents\Projects\models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
     Just changed the filename of 'train.py' to 'my_train.py'.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
     Windows 10
- **TensorFl

[2018-02-23 05:01] XuChunling commented on #17143
more information about ffmpeg:

$ ffmpeg
ffmpeg version 2.4.3-1ubuntu1~trusty6 Copyright (c) 2000-2014 the FFmpeg developers
  built on Nov 22 2014 17:07:19 with gcc 4.8 (Ubuntu 4.8.2-19ubuntu1)
  configuration: --prefix=/usr --extra-version='1ubuntu1~trusty6' --build-suffix=-ffmpeg --toolchain=hardened --extra-cflags= --extra-cxxflags= --libdir=/usr/lib/x86_64-linux-gnu --shlibdir=/usr/lib/x86_64

[2018-02-23 05:14] bignamehyp commented on #17175
@langmore can you please take a look?

[2018-02-23 05:17] fastlater commented on #734
@lauphedo  so what you mean is cudnn_status_mapping_error is related to memory too? I have been having this error for a couple of days even when I followed instructions from different webpages and still get the error. I am using a Nvidia Quadro K2000 2GB of memory.

[2018-02-23 05:22] zeshaoaaa opened #17209 "Expected float32, got range(0, 3) of type 'range' instead."
### System information
- **What is the top-level directory of the model you are using**:
      C:\Users\Administrator\Documents\Projects\models
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
     Because my previous [issue,](https://github.com/tensorflow/tensorflow/issues/17208) I disable the argument.
- **OS Platform and Distribution (e.g., L

[2018-02-23 05:25] ahmed-adly-ali commented on #16358
here is how i got the same error:

[code]
ERROR:

Traceback (most recent call last):
  File "/home/ahmed/Code/deep-learning-with-python/classifying-movie-reviews.py", line 5, in <module>
    (train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)
  File "/usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/_impl/keras/datasets/imdb.py", line 77, in load_dat

[2018-02-23 05:37] #16951 closed

[2018-02-23 05:38] bignamehyp commented on #16965
@wang-yang can you please take a look at?

[2018-02-23 05:40] bignamehyp commented on #16967
Please use link at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L214 instead. Thanks

[2018-02-23 05:40] #16967 closed

[2018-02-23 05:43] #14504 closed

[2018-02-23 05:43] #16163 closed

[2018-02-23 05:43] #16913 closed

[2018-02-23 05:43] #17130 closed

[2018-02-23 06:22] bignamehyp commented on #17207
If it's just matmul, why not use tf.matmul?

import timeit
import numpy as np
import tensorflow as tf

w = np.array([[-1., 1., 0., 0.], [0., 0., -1., 1.]]).T
b = np.array([[ 15., -15., -21., 21.]])
s = np.array([[-23.5, 17.8]])
u = tf.matmul(w, s, transpose_b=True) + b.T
sess = tf.Session()

rand_array = np.random.rand(size, size)

start_time = time.time()
for _ in xrange(10):
  np.dot(np.dot(rand

[2018-02-23 06:22] #17207 closed

[2018-02-23 06:32] bignamehyp commented on #17209
That is a python issue since range is not a list.
Use tf.constant([0,..., num_boundaries-1]) instead.

[2018-02-23 06:32] #17209 closed

[2018-02-23 06:38] alexschoeberl commented on #17207
It's just one matmul in this demonstration, in reality more complex networks are used.
You can only feed one input/state at a time, because the next state depends on the result.
I already asked this question on [StackOverflow](https://stackoverflow.com/questions/48796619/why-is-tf-keras-inference-way-slower-than-numpy-operations).

[2018-02-23 06:42] bignamehyp commented on #17153
You may need to add a barrier and do manual sync.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 06:42] #17153 closed

[2018-02-23 06:51] avigyan1009 commented on #17002
@ccolby  i am KMeansClustering in distribute mode using TF_CONFIG but it got stuck after below warining
"WARNING:tensorflow:From /home/hdpuser/anaconda3/lib/python3.6/site-packages/tensorflow/contrib/factorization/python/ops/clustering_ops.py:196: calling reduce_sum (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating

[2018-02-23 06:55] bignamehyp commented on #17127
Please clarify where while_loop is used.

[2018-02-23 06:56] #17208 closed

[2018-02-23 06:58] bignamehyp commented on #17149
what if you use tf.einsum?
Similar to issue #11619

[2018-02-23 07:02] bignamehyp commented on #16761
Has this issue been addressed?

[2018-02-23 07:06] SanthoshMKunthe commented on #3986
Bro check you node nameing convention. . . Naming of "matmul function to output" and "x placeholder to input". . .

[2018-02-23 07:06] bignamehyp commented on #16935
I do not have much experience with Jupyter myself.
Maybe @caisq or @random-forests may know, or may know who to redirect this to?

[2018-02-23 07:08] MtDersvan opened #17210 "NotFoundError: Op type not registered 'KafkaDataset' in binary."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: -
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('unknown', '1.6.0-rc1')
- **Python version**: 2.7
- **Bazel version (if compiling from sour

[2018-02-23 07:16] bhack commented on #14504
@yifeif Do you have coverage of tf.keras.utils.multi_gpu_mode with this commit?

[2018-02-23 07:22] bignamehyp commented on #17101
Can you please try to install tensorflow gpu nightly build?

[2018-02-23 07:27] bignamehyp commented on #17097
What do you think about a complex number initializer? @mrry

[2018-02-23 07:33] dieka13 commented on #17149
@bignamehyp:
I'm not calling tf.tensordot explicitly in my code

[2018-02-23 07:34] bignamehyp commented on #17093
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 07:34] #17093 closed

[2018-02-23 07:37] tensorflowbutler commented on #17200
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-23 07:42] bignamehyp commented on #17095
Did you refer to https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c#file-tensorflow_self_check-py-L2
Maybe post an issue there?

[2018-02-23 07:51] bignamehyp commented on #17071
I apologize but I am having a hard time understanding what the problem is, and where the problem is. Can you describe this issue in more details?

[2018-02-23 07:51] AnchoretBaladev opened #17211 "Getting Redeclaration Error of "error: redeclaration of 'P_ALL' P_ALL, /* Wait for any child. */" while cross compiling for raspberry pi 3"
# I'm trying to cross compile TensorFlow for Raspberry pi 3 and every time m getting the error like "error: redeclaration of 'P_ALL'
   P_ALL,  /* Wait for any child.  */"

# I Followed these steps,
1.Installed Bazel
2.Cloned Tensorflow and checkout r1.5
3.Running the "./tensorflow/tools/ci_build/pi/build_raspberry_pi.sh"

Error:-/home/baladev/.cache/bazel/_bazel_baladev/da0e175f87e998fe3d55027955

[2018-02-23 07:55] bignamehyp commented on #17067
Does dtrebbien's fix work for you?

[2018-02-23 07:58] bignamehyp commented on #17047
@gunan can you please take a look?

[2018-02-23 07:58] bignamehyp commented on #17211
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2018-02-23 07:58] zeynali opened #17212 "got error when run eval.py in object detection api"
Hi ,
i faced with this error when i run eval.py:

INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of additional conv before box predictor: 0
INFO:tensorflow:depth of

[2018-02-23 08:01] bignamehyp commented on #17041
Check checkpoint dir path is provided?

[2018-02-23 08:08] bignamehyp commented on #17037
GPU memory allocator still holds the memory. It didn't released back to OS. You can verify by checking the number of training params in your training.

self.num_trainable_params = np.sum([
        np.prod(var.get_shape().as_list()) for var in tf.trainable_variables()
    ])
    tf.logging.info(
        'number of trainable params: {}'.format(self.num_trainable_params))

[2018-02-23 08:10] bignamehyp commented on #17031
Please provide the log file. Thanks

[2018-02-23 08:14] bignamehyp commented on #17021
@drpngx  can you please take a look?

[2018-02-23 08:14] #16899 closed

[2018-02-23 08:17] bignamehyp commented on #17009
@ebrevdo can you please take a look?

[2018-02-23 08:26] bignamehyp commented on #17007
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 08:26] #17007 closed

[2018-02-23 08:30] bignamehyp commented on #17017
Thanks for your suggestion. Please check out XLA.

[2018-02-23 08:30] #17017 closed

[2018-02-23 08:30] bignamehyp commented on #17015
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 08:30] #17015 closed

[2018-02-23 08:31] bignamehyp commented on #16999
We will consider it if we heard more demands for this request.

[2018-02-23 08:34] bignamehyp commented on #16985
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-23 08:34] #16985 closed

[2018-02-23 08:34] cnovel opened #17213 "Level 3 warnings in core headers"
I found some level 3 warnings in core headers:

[code]

This issue can be fixed using static_cast<>. I'm using VS2017 15.5.6 on Windows 10.

[2018-02-23 08:36] asimshankar commented on #17210
IIUC, the PR you're referring to is https://github.com/tensorflow/tensorflow/pull/14098

I might be missing something but it seems that the BUILD target for the kernels [`//tensorflow/contrib/kafka:kafka_kernels`](https://github.com/tensorflow/tensorflow/blob/r1.6/tensorflow/contrib/kafka/BUILD#L15) isn't included as a dependency of any other target so the kernels are not being linked in.

@yongta

[2018-02-23 08:38] bignamehyp commented on #16821
@ChrisAntaki can you please take a look?

[2018-02-23 08:40] gaohuazuo commented on #17093
I think this is a bug.

[2018-02-23 08:41] DominikAuras commented on #17190
Thanks for your great work.

I am trying to quantize MobileNet SSD for detection on a custom dataset, for later use in an FPGA implementation. As a workaround, I modified the code to look for the Reshape node after the box predictors as "activation node", and if found, quantize the BiasAdd.

I took a look on your PR, but didn't test it yet. I believe that your changes will match all BiasAdd patter

[2018-02-23 08:41] bignamehyp commented on #16925
Does it work without XLA?

[2018-02-23 08:43] bignamehyp commented on #16927
Thanks for your input. We will migrate to tf.nn.batch_normalization shortly.

[2018-02-23 08:43] #16927 closed

[2018-02-23 08:43] bignamehyp commented on #16929
@aselle  can you please take a look? Thanks

[2018-02-23 08:43] mrlzla opened #17214 "Unimplemented: TensorArray has size zero, but element shape [24,24,?] is not fully defined. Currently only static shapes are supported when packing zero-size TensorArrays."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: python version - pip, c++ version - makefile
- **TensorFlow version (use command below)**: r1.5
- **Python version**: 3.5.2
- **Bazel vers

[2018-02-23 08:44] bignamehyp commented on #17213
This warnings might be compiler specific.

[2018-02-23 08:44] #17213 closed

[2018-02-23 08:45] bignamehyp commented on #16917
Still an issue when XLA is off?

[2018-02-23 08:46] asimshankar commented on #17212
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2018-02-23 08:46] dchatterjee172 opened #17215 "No clear documentation about how optimizer works through tf.tile()"
If some one uses this type of code for batch learning,
`w1=tf.get_variable("W1", [300,300], dtype=tf.float32, initializer=init)
W1=tf.tile(tf.expand_dims(w1,axis=0), [batch_size,1,1], name="batch_W1")
x1=tf.placeholder(name="context",dtype=tf.float32,shape=[None,None,300]) ;
y=tf.matmul(x1,W1)`
how the optimizer will combine the gradients from `W1 [batch_size,300,300]` to `w1[300,300]`?
I asked th

[2018-02-23 08:48] selcouthlyBlue commented on #16925
What do you mean by XLA?

[2018-02-23 08:48] #16895 closed

[2018-02-23 08:50] bignamehyp commented on #16893
Thanks for the feedback. Please sync to the latest build script. We fixed this issue.

[2018-02-23 08:51] asimshankar commented on #17214
Is there more information you can share that can help us reproduce the problem? For example, is it possible to share the graph and the C++ code used to execute it? This error might also occur if the input somehow leads to state unexpected by your model.

Could you clarify if executing the model with the same inputs works in Python but fails in C++, or does it fail in both? You mentioned "When I re

[2018-02-23 08:51] AnchoretBaladev commented on #17211
I'm using Ubuntu 16.04LTS and X86_64 Architecture for cross compilation for Raspberry PI 3, TensorFlow Version is "1.5.0" and Bazel Version is "0,10.0"
Trying to cross compile the above version of Tensorflow with bazel for Raspberry PI 3, and m following the below steps for cross compilation,
1:-Installing Bazel
2:-Cloning tensorflow and checking out r1.5
3:-Executing "**/tensorflow/tools/ci_build

[2018-02-23 08:51] bignamehyp commented on #16781
We will consider it if we heard more demand for this feature.

[2018-02-23 08:52] freedomtan commented on #16219
@lllidan-yuandian if you have not figured out how to resolve it. Add
`"//tensorflow/contrib/lite/kernels:builtin_ops"` to libtflite.so should work. That is, the rule should be

[code]

[2018-02-23 08:52] bignamehyp commented on #16855
@caisq can you please take a look?

[2018-02-23 08:54] asimshankar commented on #17048
By default TensorFlow allocates GPU memory for the lifetime of the process, not the lifetime of the session object. More details at: https://www.tensorflow.org/programmers_guide/using_gpu#allowing_gpu_memory_growth

Thus, if you want memory to be freed, you'll have to exit the Python interpreter, not just close the session.

Hope that helps.

[2018-02-23 08:57] suharshs commented on #17190
The detail is that the function that finds matches only `yield`s them. So the final layer match (the one checking for BiasAdd with no activation) only runs after the FakeQuant nodes are added to the other matches. The FakeQuant nodes being added make the second pattern match not double match. Does that make sense?

[2018-02-23 09:06] DominikAuras commented on #17190
Ah okay, I see how it works. You modify the graph inbetween the matching steps, thus the inserted FakeQuant ops prevent the double matching.

Btw, did you try to quantize MobileNet SSD by any chance?

[2018-02-23 09:07] bitatomcat commented on #17031
"Process finished with exit code 139 (interrupted by signal 11: SIGSEGV" is met

[2018-02-23 09:12] asimshankar commented on #17136
I don't believe we have anyone actively working on this, however, contributions are welcome.
The change would likely involve updating the C++ implementation of the operation in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/ctc_decoder_ops.cc#L178 to utilize multiple threads.

[2018-02-23 09:15] mrlzla commented on #17214
Yes. I am feeding the same image into sessions. In python is numpy object with 3-dimention shape, in c++ api it is tensorflow::Tensor.
Unfortunately I am not able to share frozen graph.

[2018-02-23 09:25] GPhilo commented on #16895
@bignamehyp Would it be possible to have a comment about the reasons for closing of the issue?

[2018-02-23 09:27] burglarhobbit commented on #16917
its solved, turns out the while loop wasn't configured properly for backpropagation purposes

[2018-02-23 09:27] #16917 closed

[2018-02-23 09:28] bhack commented on #16452
@RomRoc What about the code mentioned in the DeepLabv3+ paper?

[2018-02-23 09:29] cnovel commented on #17213
As far as I know, gcc will also raise warnings for conversion from 'size_t' to 'int' ([see here for example](https://stackoverflow.com/questions/27490762/how-can-i-convert-to-size-t-from-int-safely)). Beyond the warning issue, is there any reason to return an int instead of a size_t since these functions are returning sizes (so positive integer)?

[2018-02-23 09:29] burglarhobbit commented on #15752
I just want to use the fix. So I should just use tensorflow 1.6? It demands cuda-9.0 but the server I'm using has cuda-8.0 and most probably unlikely to change. Just to make sure, we're on the same page about [this issue](https://github.com/tensorflow/tensorflow/issues/17009#issuecomment-367940419) right?

[2018-02-23 09:30] GPhilo commented on #17037
If the allocator doesn't release the memory, I assume the new session created when running evaluation won't have access to it (at least that's what I infer from the log messages). Doesn't this break the specification of `continuous_train_and_eval`? It's supposed to release the memory before running evaluation (if fact, that's the core difference between this and `train_and_eval`)

[2018-02-23 09:33] namrata-ibm commented on #16540
@mrry, it seems like `np.random.rand()` doesn't allow setting dtype yet, as seen [here](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.rand.html).

Just tried below diff for looping over dtypes and it works fine:
`//tensorflow/python:nn_test  -------                     PASSED in 22.6s`:
[code]
What would be the right approach?

[2018-02-23 09:43] akshitac8 commented on #16898
This question can be better answered at Intel Developer Zone. Just post it in the forum.

[2018-02-23 10:51] tastyminerals commented on #17041
Yes, that was the issue. Thank you.

[2018-02-23 10:51] #17041 closed

[2018-02-23 10:53] LotusWang0723 opened #17216 "terminate called after throwing an instance of 'std::system_error'"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04.1 LTS (GNU/Linux3.13.0-105-generic x86_64)
- **TensorFlow installed from (source or binary)**: binary (tf_nightly-1.head-cp36-cp36m-linux_x86_64.whl)
- **TensorFlow versi

[2018-02-23 10:56] mikistra commented on #17167
i'm trying to remove tensorflow, cuda, and cuDnn to start the process from the beginning, but i get errors also trying to uninstall tensorflow:
![ca](https://user-images.githubusercontent.com/15125749/36590883-6d9e422e-1890-11e8-9dd2-9e289508df81.PNG)

if i try to install it again, it says it's already present..... is there a way to remove all tensorflow files manually??

[2018-02-23 11:14] jcplus opened #17217 "Could not find a version that satisfies the requirement tensorflow-gpu (from versions: )"
Can anyone help with this? I tried quite a few times even wiped the computer and started from scratch.

**Environment**
- CPU: Intel i7
- Memory: 16GB
- OS: Windows 10 64bit
- Nvidia GTX 1060 (latest driver installed: 390.77-desktop-win10-64bit-international-whql)
- Visual Studio Community
- CUDA 8.0 for Windows 10
- cuDNN 5.1 for CUDA 8.0
- Python 3.6.4

I have a few versions available on local h

[2018-02-23 11:39] JVOSU commented on #14504
@bhack I suspect not.  _clone_and_build_model relies on keras.models.clone_model, which appears to copy the underlying keras model, but does not preserve device placement.

I had to hack model_to_estimator to call multi_gpu_model after the cloned model is created. I suspect a better fix is to have keras.models.clone_model respect device placement, or to remove the need to clone the model altogethe

[2018-02-23 11:42] Chunde commented on #17101
I have the same problem, I used CUDA Toolkit 9.1, I am not sure if this is the problem, going to try 9.0

[2018-02-23 11:44] ericyue opened #17218 "Retrained quantized mobilenet introduces unsupported Pow operator"
here's a code which can reproduce the problem
from https://github.com/tensorflow/tensorflow/issues/15122#issuecomment-363126160

BUT When  I run the toco command,  Fatal error happens:
[code]

I'm wondering how to use quantized mobilenet with tensorflow-lite in ios ?

[code]

[2018-02-23 11:59] asispatra commented on #16209
I have faced the similar issue while I was running HPM resnet50 benchmark with Tensorflow-1.5.0. But this does not occurs always. It occurs randomly.

OS Platform and Distribution: RHEL 7.4
TensorFlow installed from: Tensorflow 1.5.0 tag and build myself
TensorFlow version: v1.5.0
Bazel version: 0.8.0
CUDA/cuDNN version: CUDA-9.1.85 and CuDNN 7.1.1
GPU model and memory: Tesla V100-SXM2-16GB

Exact

[2018-02-23 12:13] clovking commented on #4009
@untom ,  I meet a silimar question with you when i train models on google TensorFlow Object Detection API, May i ask if the question has been solved? what's the problem and how to solved? thank you!

[2018-02-23 12:13] clovking commented on #7434
@clarklight ,  I meet a silimar question with you when i train models on google TensorFlow Object Detection API, May i ask if the question has been solved? what's the problem and how to solved? thank you!

[2018-02-23 12:14] clovking commented on #13583
@engahmed1190 ,  I meet a silimar question with you when i train models on google TensorFlow Object Detection API, May i ask if the question has been solved? what's the problem and how to solved? thank you!

[2018-02-23 12:19] youngstu opened #17219 "KeyError: u'SSTableReaderV2'"
when i use pretained model **(MobileNet_v1_0.50_160)** , it results in error **(KeyError: u'SSTableReaderV2' )**.

[2018-02-23 12:19] clarklight commented on #7434
Hi,not sure if this manage to response back to the thread. That problem
occurs when the Jpeg starting pixel breaks.....like the starting bits is
missing. That occurs for me when I transferred images from a system to
another via USB. You have to check if the base64 is still 100% intact, the
image will view ok, but you will see the base64 is different. If the image
is correct then it will train corr

[2018-02-23 12:27] clarklight commented on #7434
For me anyway the jpeg looked like it was correct, the format looked
correct. I checked everything,I even open it to view the image, everything
looked right, but for some reason for me when the images is moved from a
folder to another some transfer method causes jpeg to loss some bits from
it's base64 string.......no idea why. When I compared the Actual base64
then I saw the string was slightly di

[2018-02-23 12:55] langmore commented on #17175
Sorry, I don't know anything about einsum.  Can you track down the original author?

[2018-02-23 13:05] Richard-Neill opened #17220 "Tensorflow-produced HLO graphs cannot be rendered by graphviz"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No, I'm using standard `mnist_softmax_xla.py` with unmodified tensorflow (cloned from master)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04: 4.13.0-32-generic #35~16.04.1-Ubuntu SMP Thu Jan 25 10:13:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **TensorFlow installed f

[2018-02-23 13:13] georgh commented on #17076
@cy89 @zheng-xq
The main problem I encountered was the missing allocation information for placeholders. My findings regarding the problem are summarized in #17092 (would be great if a tensorflower would take a look at this)
I think doc pages for inspecting GPU allocation would be great. But I just found
https://www.tensorflow.org/programmers_guide/debugger and https://github.com/tensorflow/tensorf

[2018-02-23 13:13] UriahHuang commented on #16691
I just came back and re-read that again, I think it should be a 'plus', no problem. Don't remember why I thought it should be a 'minus'. Maybe that sentence is too long for a non-English speaker lol

[2018-02-23 13:13] #16691 closed

[2018-02-23 13:18] AnchoretBaladev commented on #17211
@bmabey can you please help on this?

[2018-02-23 13:21] bhack commented on #14504
@JVOSU so is it related also to https://github.com/tensorflow/tensorflow/issues/16468?

[2018-02-23 13:46] Carmezim commented on #17167
@mikistra Did you make sure your `pip` is linked to the correct Python installation. For instance, did you mean to use Python 3 and so should use `pip3 install\uninstall`?

[2018-02-23 13:53] tensorflowbutler commented on #17206
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory

[2018-02-23 13:53] tensorflowbutler commented on #14584
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:53] tensorflowbutler commented on #15522
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:53] tensorflowbutler commented on #14617
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:53] tensorflowbutler commented on #14669
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:53] tensorflowbutler commented on #14772
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:53] tensorflowbutler commented on #14859
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:53] tensorflowbutler commented on #14924
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:54] tensorflowbutler commented on #14929
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:54] tensorflowbutler commented on #14946
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:54] tensorflowbutler commented on #14993
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:54] tensorflowbutler commented on #15047
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:54] tensorflowbutler commented on #15049
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:54] tensorflowbutler commented on #15096
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:54] tensorflowbutler commented on #15144
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:54] tensorflowbutler commented on #15267
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:54] tensorflowbutler commented on #15336
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:54] tensorflowbutler commented on #15384
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:55] tensorflowbutler commented on #15445
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:55] tensorflowbutler commented on #15463
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:55] tensorflowbutler commented on #15490
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:55] tensorflowbutler commented on #15501
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:55] tensorflowbutler commented on #13890
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:55] tensorflowbutler commented on #14131
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:55] tensorflowbutler commented on #13848
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:55] tensorflowbutler commented on #13931
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #13967
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:56] tensorflowbutler commented on #13980
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #13983
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #14007
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #14012
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-23 13:56] tensorflowbutler commented on #14095
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #14129
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #14130
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:56] tensorflowbutler commented on #14528
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14132
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14133
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14134
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14144
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14209
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14217
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14232
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14278
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14283
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:57] tensorflowbutler commented on #14366
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:58] tensorflowbutler commented on #14506
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:58] tensorflowbutler commented on #16356
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:58] tensorflowbutler commented on #16179
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 13:58] tensorflowbutler commented on #16203
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-23 13:58] tensorflowbutler commented on #16260
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:58] tensorflowbutler commented on #16261
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:58] tensorflowbutler commented on #16266
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:58] tensorflowbutler commented on #16285
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] tensorflowbutler commented on #16308
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] tensorflowbutler commented on #16334
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] tensorflowbutler commented on #16338
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] tensorflowbutler commented on #16352
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] agrinh opened #17221 "tf.contrib.signal.stft: Incompatible gradient shape"
**Fails on TF 1.5.0 and 1.6.0rc1**

I need to compute gradients of a signal through a STFT with a smaller frame length than FFT length. Assumed this would truncate the window in the gradient computation or fail on some assertion but this fails ungracefully.

### Sample code
[code]

### This works:
[code]

### But this fails:
[code]

[2018-02-23 13:59] tensorflowbutler commented on #16147
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 13:59] tensorflowbutler commented on #16370
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] tensorflowbutler commented on #16766
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 13:59] tensorflowbutler commented on #16834
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:00] tensorflowbutler commented on #16856
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:00] tensorflowbutler commented on #16857
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:00] tensorflowbutler commented on #16861
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:00] tensorflowbutler commented on #16864
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:00] tensorflowbutler commented on #16872
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:00] tensorflowbutler commented on #15874
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:00] tensorflowbutler commented on #15551
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:00] tensorflowbutler commented on #15572
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:00] tensorflowbutler commented on #15576
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:01] tensorflowbutler commented on #15588
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:01] tensorflowbutler commented on #15618
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:01] tensorflowbutler commented on #15779
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:01] tensorflowbutler commented on #15831
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:01] tensorflowbutler commented on #15839
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:01] tensorflowbutler commented on #15846
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:01] tensorflowbutler commented on #15870
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:01] tensorflowbutler commented on #15873
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:01] tensorflowbutler commented on #15549
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15883
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15903
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15915
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:02] tensorflowbutler commented on #15919
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15920
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15935
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15945
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15962
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15965
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:02] tensorflowbutler commented on #15978
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #10370
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #9823
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #9849
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #9946
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #10012
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #10083
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #10110
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #10192
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:03] tensorflowbutler commented on #10200
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-23 14:03] tensorflowbutler commented on #10270
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10338
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10352
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #9747
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10408
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10479
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-23 14:04] tensorflowbutler commented on #10487
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10520
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10585
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:04] tensorflowbutler commented on #10672
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #10675
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #10680
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #10703
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #10731
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:05] tensorflowbutler commented on #10739
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #8416
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #4337
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #4639
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #5492
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:05] tensorflowbutler commented on #5592
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #5676
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #6633
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #7116
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #7378
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:06] tensorflowbutler commented on #7700
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #7702
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-23 14:06] tensorflowbutler commented on #7970
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #10747
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #8517
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:06] tensorflowbutler commented on #8550
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #8564
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #8652
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #8745
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #9171
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #9319
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #9471
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #9545
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #9638
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:07] tensorflowbutler commented on #9690
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11806
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11548
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11569
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11585
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11604
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11626
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:08] tensorflowbutler commented on #11670
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11695
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11724
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:08] tensorflowbutler commented on #11726
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #11735
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #11777
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:09] tensorflowbutler commented on #11521
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #12022
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #12143
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:09] tensorflowbutler commented on #12386
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #12598
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #13196
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:09] tensorflowbutler commented on #13281
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:09] tensorflowbutler commented on #13499
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:10] tensorflowbutler commented on #13519
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #13641
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-23 14:10] tensorflowbutler commented on #13705
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #13718
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #11337
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #10764
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #10765
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #10804
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:10] tensorflowbutler commented on #10837
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #10982
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11055
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11071
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11092
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11148
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11171
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-23 14:11] tensorflowbutler commented on #11247
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #3636
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11345
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:11] tensorflowbutler commented on #11361
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11366
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11389
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11396
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-23 14:12] tensorflowbutler commented on #11399
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.