[2019-04-03 15:42] eggie5 commented on #25445
TF Ranking already uses Estimators and `feature_column`s

[2019-04-03 15:49] prinsherbert commented on #25934
I can't for at least the next two months, sorry

Op di 2 apr. 2019 20:00 schreef Amit Patankar <notifications@github.com>:

[2019-04-03 15:52] hadim commented on #25299
In the same spirit, it should be possible to specify inputs shape from  dict of shapes using `tf.function` or `model._set_inputs()`.

Consider the following code:

[code]

Saving the model will fail without `tf.function` because the model has not been fitted. Since such a model can be trained with a dict as inputs:

[code]

Then we should be able to do the following that currently fails:

[code]

[2019-04-03 16:02] rroderich opened #27469 "Strange cuda error"
**System information**
-  Ubuntu 16.04
- TensorFlow installed from source
- TensorFlow newest version
- Python version 3.4
- Installed using virtualenv
- Bazel version 1.22.0
- CUDA/cuDNN version 10.0/7
- GPU Tesla K10.G1.8GB

I compiled TensorFlow from source because compute capatibility is only 3.0.
During training I got the strange error below. I guess it is a CUDA problem but I am not sure. Do

[2019-04-03 16:05] cottrell opened #27470 "pip install tf-nightly-2.0-preview No matching distribution found for python 3.7"
Has anything changed with the pip naming of this? I see it was updated 7 hours ago and I think it worked yesterday.

Could also be something to do with the pip chain.

[2019-04-03 16:11] alextp commented on #27288
@jaingaurav can you look at this?

[2019-04-03 16:12] alextp commented on #27288
Also does this also reproduce on tf nightly? 1.12 is a little old and it had some known memory leaks.

[2019-04-03 16:30] sepehrghafari commented on #27433
@amanp592
Thank you for replying ,
I got error when i use this cause when i load imagenet weights,it needs memory and this code slows running time. i don't have out of memory issue in single run. I need a script to clear GPU memory in every loop.

[2019-04-03 16:35] Conchylicultor commented on #27054
This should be fixed with https://github.com/tensorflow/datasets/pull/403

[2019-04-03 16:39] mattn commented on #27320
Without an issue of GLES's version, current implementation of gpu/gl always require gcc8. Older version of gcc(or clang) can not handle `Caller<void>(....)` and calling with non-void. This is defined in gl/gl_caller.h:88

[2019-04-03 16:40] alextp commented on #27171
Maybe this belongs in some other package like tensorflow/addons or tf-text?

[2019-04-03 16:48] bjarkef opened #27471 "Linking of _pywrap_tensorflow_internal.so fails with no obvious cause"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu Linux 18.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not mobile device, laptop
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 3.7.2
- Installed using virtualenv? pip? conda?: source
- Bazel version (if

[2019-04-03 16:48] alextp commented on #26505
@shashvatshahi1998 the right way to fix this is to instrument calls to the ragged tensor to tensor function and see when they fire in the tf.function codepath. Whatever's triggering that probably needs to call nest.flatten with expand_composites=True

[2019-04-03 17:18] Tahsin-Mayeesha commented on #25445
Is there room for doing 4 and 5?

[2019-04-03 17:19] angersson commented on #27430
@perfinion I think some internal tests may be broken due to the missing symlink:

[code]

[2019-04-03 17:25] bjarkef commented on #27471
After trying multiple configuration combinations, it seems to work if I disable XLA JIT support. I wonder why that is, and if I could possibly get it to compile with it enabled.

[2019-04-03 17:26] wchargin commented on #27304
Okay, thanks for clarifying.

Invoking `tensorboard` rather than `python -m tensorboard.main` is
intentional: it enables you to provide a different TensorBoard entry
point. For instance, within Google, `tensorboard` is actually a compiled
program that runs a slightly different module with some wrapper code and
additional Google-specific configuration.

Personally, I’ve found that the best way to a

[2019-04-03 17:32] alsrgv commented on #27468
cc @gunan @martinwicke

[2019-04-03 17:36] moodoki commented on #27144
Looks like setting `allow_growth=True` allows the toy program to run. Interestingly, using TF1.12 in the docker container works without this setting.

Is this the way forward and is there a way to set this by default? Seems like it will require me to touch a large number of files in my unit tests...

Thanks!

[2019-04-03 17:38] riga commented on #23374
@jesen8 Was digging into this as well. It essentially sets `framework_shared_object` to false, which is explained here:

https://github.com/tensorflow/tensorflow/blob/v1.13.1/tensorflow/core/BUILD#L56-L64

[2019-04-03 17:40] edrozenberg commented on #27155
A couple of things to check:

- Make sure you're specifying the lib(64) directory where CUDA is installed on your system. I installed CUDA in `/opt/nvidia/cuda` but it may be somewhere else on your system (`/usr/local`, etc)
- I had to create a few symlinks for a few CUDA library names that could not be found to make things work, may be required on your system also:
[code]

[2019-04-03 17:42] andersjohanandreassen opened #27472 "10x performance loss when using eager execution with tf.keras.fit(tf.data.Dataset)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-03 17:42] priyak1917 commented on #27434
https://www.youtube.com/watch?v=SNdQqYpfCV4

I followed exactly above mentioned Video procedure.

Regards

On Wed, Apr 3, 2019 at 6:32 PM Aman Patel <notifications@github.com> wrote:

--
Ms.Priyanka Kolli
BTech-Dept of BioTechnology
National Institute of Technology, Warangal
Warangal-506 021
Andhra Pradesh
India.
Contact no: +919886032005

[2019-04-03 17:51] ychervonyi opened #27473 "Multiclass AUC"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.1.
- Are you willing to contribute it (Yes/No): Yes.

[2019-04-03 17:53] stephenmdicke27 opened #27474 "Shutdown crash while running this script (most times)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-03 17:54] edrozenberg commented on #27155
Also note for TF 1.13.1 "TensorFlow GPU binaries are now built against CUDA 10 and TensorRT 5.0" so they may not work with CUDA 10.1. In my case I compiled TF 1.13.1 from source with CUDA 10.1 installed on my system.

[2019-04-03 18:07] amanp592 commented on #27434
@priyak1917 just activate your virtual environment and type conda remove tensorflow-gpu this will remove your gpu version of tensorflow!

Do this and let me know if it works!

[2019-04-03 18:23] ymodak commented on #27378
Closing this issue since its resolved. Thanks!

[2019-04-03 18:23] #27378 closed

[2019-04-03 18:26] tritemio commented on #27304
Fine for me. Thanks for the patch.

[2019-04-03 18:28] ricardobnjunior opened #27476 "TFLiteConverter: converter.convert() does not work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6.5
- Bazel version (if compiling from source): not applicable
- GCC/Compiler ver

[2019-04-03 18:30] shashvatshahi1998 commented on #27463
I will love to work on the issue

[2019-04-03 18:40] preethivenkatesh opened #27477 "building pip package causes IndexError: list index out of range"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-04-03 18:43] icanswim commented on #26994
@rok
are you working on this?  i think ill start.  would you like to collaborate?  im just getting into TF2..

[2019-04-03 18:43] hksonngan opened #27478 "tf.print the example doesn't work with TF 2.0"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/t

[2019-04-03 18:50] jvishnuvardhan commented on #27336
@lkuich Could you please take a look at this [tutorial](https://www.tensorflow.org/tutorials/keras/save_and_restore_models) ? Also, check under tutorials tab, there several tutorials that might be helpful. Please let me know what you think. Thanks!

[2019-04-03 18:50] p9i commented on #27435
Hi, I have the same issue.

I install tensorflow on my MacBook pro based on the page: https://www.tensorflow.org/install,
$pip3 install tensorflow==2.0.0-alpha0
It works.

I install tensorflow with pip3 step by step too: https://www.tensorflow.org/install/pip. It almost works, but the last step 'verify the install':
$python -c "import tensorflow as tf; tf.enable_eager_execution(); print(tf.reduce_

[2019-04-03 18:50] caissalover commented on #27417
@achandraa , the code I'm converting to 2.0 is proprietary so I cannot share and also is quite messy. I haven't been able to determine what's causing it and make minimum reproducible code, I'll update it as soon as I find out the error cause. What I know for sure is an op is available for GPU and tf2.0 is not being able to place it there. Above is the terminal output. https://github.com/tensorflow

[2019-04-03 18:58] shashvatshahi1998 commented on #26505
Sorry, @alextp i am not getting what you are trying to say.

[2019-04-03 19:00] Nick-Lucas commented on #26600
Running the following seems to confirm what I'm suspecting.

My GPU doesn't seem to be getting picked up despite having gone through all the instructions perfectly before, and verifying it was working using the test code [here](https://www.tensorflow.org/guide/using_gpu)

* sigh *... Linux...

[code]

[2019-04-03 19:07] edloper commented on #26505
In third_party/tensorflow/python/eager/function.py, nest is used in several
places to unpack and repack collections of tensors.  Most likely, the
appropriate fix is to add "expand_composites=True" to some (or all?) of
these nest.xyz(...) calls.  This option causes composite tensors to be
expanded into their components.  E.g.:

t6)}

(t1, RaggedTensor(t2, t3), SparseTensor(t4, t5, t6)

(t1, t2, t3,

[2019-04-03 19:08] martinwicke commented on #27468
@perfinion this looks related to #22797? Maybe we just have to change sysconfig to match?

[2019-04-03 19:20] xilenteyex commented on #25724
any updates ?

[2019-04-03 19:24] XuesongYang commented on #19671
Just to need to be confirm, `tf.set_random_seed(1)` should be applied within the for-loop, right?

[2019-04-03 19:32] gargn commented on #25689
@danilaplee Please file a new GitHub issue which describes your problem in detail and provides instructions on how to reproduce it.

[2019-04-03 19:34] gargn commented on #27279
Can you provide your model or a minimal model which which reproduces your error?

[2019-04-03 19:44] Andreas-Krebbel commented on #22023
@Nayana-ibm
The build problem probably is this one. We also ran into it while trying to build tensorflow:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=89952
I've attached an experimental patch for GCC which is currently being tested.

Eigen has been optimized for IBM z14 using GCC builtins. It uses the set of altivec-style builtins which introduce "vector" as a keyword. This allows defining vector

[2019-04-03 20:08] skye commented on #26371
That's one option. We could also revisit allowing the underlying Graph to allow inputs from Tensors outside the Graph. Like you pointed out, this could lead to a bunch of unexpected problems, but we could at least limit it to only be allowed in the TF_Graphs returned by TF_NewWhile, and the advantage would be avoiding changes to the C API. Lemme see if I can someone still working on TF to weigh in

[2019-04-03 20:29] jvishnuvardhan commented on #27315
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Thanks!

[2019-04-03 20:29] edloper commented on #26505
I took an initial stab at this, and got something basic working.  It ends up being a bit more involved than I thought at first (though the basic approach I suggested is the right one).  I'll work on it a bit more and get back to you with an update.

[2019-04-03 20:37] jvishnuvardhan commented on #11521
Closing due to lack of recent activity, but please let me know if I'm mistaken. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2019-04-03 20:37] #11521 closed

[2019-04-03 20:39] jvishnuvardhan commented on #18874
Closing due to lack of recent activity, but please let me know if I'm mistaken. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2019-04-03 20:39] #18874 closed

[2019-04-03 20:43] ymodak commented on #27458
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-03 20:43] #27458 closed

[2019-04-03 20:43] jvishnuvardhan commented on #23318
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-04-03 20:43] #23318 closed

[2019-04-03 20:45] jvishnuvardhan commented on #25799
@bkazi Thanks for the confirmation. I am closing this issue. Thanks!

[2019-04-03 20:45] #25799 closed

[2019-04-03 20:46] jvishnuvardhan commented on #26247
Closing due to lack of recent activity, but please let me know if I'm mistaken. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2019-04-03 20:48] ikamensh commented on #27386
Right, the source of my confusion was that tf.keras is prompting an IDE warning:
Cannot find reference 'keras' in '__init__.py'

Actually running the code works. Should __init__.py be modified to remove this confusion?

[2019-04-03 20:51] jvishnuvardhan commented on #26335
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-04-03 20:51] #26335 closed

[2019-04-03 20:54] rok commented on #26994
Hey @icanswim! Sure, it would be a pleasure.
I didn't properly start yet because TPU support for TF2 seems to be lacking right now.
I gave you access to [my fork](https://github.com/rok/models) or we can work via yours. I'll ping when I have some work done.

[2019-04-03 20:59] jvishnuvardhan commented on #26418
@jinfagang You need to build TF2.0 from source, then you can use CUDA 9.0 which you already have it. Please don't use binaries as they are built with CUDA10.0 and some of the dependencies will be looking for CUDA 10.0 paths. Please let us know how it progresses. Thanks!

[2019-04-03 21:00] jvishnuvardhan commented on #26418
@jinfagang Please check the resource [here](https://www.tensorflow.org/install/source). Thanks!

[2019-04-03 21:08] jvishnuvardhan commented on #26679
@Stepiii Current master is [TF1.13.1](https://github.com/tensorflow/tensorflow). Thanks!

[2019-04-03 21:09] ymodak commented on #27376
This issue is more suitable on TF Models repo. Please post it on TF Models from [here](https://github.com/tensorflow/models/issues/new). Thanks!

[2019-04-03 21:09] #27376 closed

[2019-04-03 21:09] #26726 closed

[2019-04-03 21:10] jvishnuvardhan commented on #26907
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-04-03 21:10] #26907 closed

[2019-04-03 21:13] jvishnuvardhan commented on #26929
@veritas9872 Is this resolved or still an issue? If it was resolved, could you close it. Thanks!

[2019-04-03 21:14] jvishnuvardhan commented on #26952
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-04-03 21:14] #26952 closed

[2019-04-03 21:15] saugatkandel commented on #27266
I ended up customizing the flops registry of tensorflow to account for complex numbers:

https://github.com/saugatkandel/second-order-phase-retrieval/blob/master/benchmarks/ops/tensorflow/flops_registry_custom.py

[2019-04-03 21:15] jvishnuvardhan commented on #26957
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-03 21:15] #26957 closed

[2019-04-03 21:17] jvishnuvardhan commented on #26959
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-03 21:17] #26959 closed

[2019-04-03 21:26] jvishnuvardhan commented on #27030
@laiqb Could you check whether the bug persists in tf-nightly? Thanks!

[2019-04-03 21:27] ymodak commented on #27144
I am glad it hack worked for you. Unfortunately, Currently we don't have a feature to set ```allow_growth=True``` by default. I will close this issue since its resolved. Feel free to reopen if have any further questions. Thanks!

[2019-04-03 21:27] #27144 closed

[2019-04-03 21:32] jaingaurav commented on #19671
@XuesongYang: setting `tf.set_random_seed(1)` can be set at anytime to free the memory. I would use the workaround with caution though as it might change the behavior of your program. An alternative would be to use the nightly pip package or wait till the 1.14 release.

[2019-04-03 21:35] jvishnuvardhan commented on #27084
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-03 21:35] #27084 closed

[2019-04-03 21:35] Stepiii commented on #26679
@jvishnuvardhan So I need to checkout the `master` branch (not `r1.13`) and compile tensorflow from there?

[2019-04-03 21:38] jvishnuvardhan commented on #27085
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-04-03 21:38] #27085 closed

[2019-04-03 21:38] eneszv commented on #17386
I had a similar problem and this worked for me

1. Install anaconda
2. Open anaconda prompt
3.  `conda create -n tfp python=3.6`
4. `activate tfp`
5. `conda install tensorflow`
6. `python`
7. `import tensorflow`

If it works and you are using PyCharm go to File -> Settings ->Project Interpreter
Click on top right button ->Add (Project Interpreter) -> Conda Environment ->Existing environment
Choose

[2019-04-03 21:43] jvishnuvardhan commented on #26679
@Stepiii Correct. Thanks!

[2019-04-03 21:56] CountingClouds opened #27482 "Have option to extend tf.image beyond 3-4 channels"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-04-03 21:56] CountingClouds opened #27483 "Have option to extend tf.image beyond 3-4 channels"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-04-03 22:01] #27483 closed

[2019-04-03 22:13] jvishnuvardhan commented on #26476
I think it was resolved. I am closing the issue. Please open a new ticket if you see similar issue again. Thanks!

[2019-04-03 22:13] #26476 closed

[2019-04-03 22:14] vrjesus opened #27484 "How to save a model after trained and restore the model in another script?"
### Hello guys I need help. I'm begin my studies in TensorFlow and I qhave some questions. For example, I'm using this example in my first neural network (https://github.com/tensorflow/docs/blob/master/site/en/tutorials/eager/custom_training_walkthrough.ipynb).
**My question is, using this example from Oficial TensorFlow (https://www.tensorflow.org/tutorials/eager/custom_training_walkthrough), how

[2019-04-03 22:25] ymodak commented on #27231
@yangjingyi You can download the tensorflow 1.6 wheels from this [page](https://pypi.org/project/tensorflow-gpu/1.6.0/#files). Further you can pip install the downloaded wheels to install tf. Hope this helps. Thanks!

[2019-04-03 22:25] #27231 closed

[2019-04-03 22:31] dandrspc opened #27485 "Failed to load the native TensorFlow runtime."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-04-03 22:34] skye commented on #26371
cc @saxenasaurabh

Based on some offline discussion, I think we're leaning towards adding the ability to "capture" Tensors in a TF_Graph. This is very similar to allowing inputs from other Graphs. This would be a step towards representing functions as graphs in the C API, which is probably a prerequisite for while_v2, so it'd be nice to move towards that final goal.

[2019-04-03 22:42] #27375 closed

[2019-04-03 22:47] jvishnuvardhan commented on #27090
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-03 22:47] #27090 closed

[2019-04-03 22:56] samhodge commented on #27441
OK walking backwards through the call stack I can see this could have been raised from

https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/core/common_runtime/gpu/gpu_device.cc#L543

https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/core/common_runtime/gpu/gpu_util.cc#L166

https://github.com/tensorflow/tensorflow/blob/v1.12.0/tensorflow/core/common_runtime/gpu/gpu_uti

[2019-04-03 22:59] samhodge commented on #27441
OK my action plan for now is to build a version with maxium debug and see what is happening and what is not happening.

Thanks for listening.

sam

[2019-04-03 23:29] Arjuna197 commented on #2382
Yes, mirrored strategy.

[2019-04-03 23:37] mikemaksymowych commented on #21919
having the same issue; what was the solution?

[2019-04-03 23:43] jvishnuvardhan commented on #27432
@loveunk Could you check this [issue](https://github.com/tensorflow/tensorflow/issues/19266) which is similar to your issue but for older TF version. If those solutions doesn't work, could you uninstall and reinstall CUDA and cuDNN? Please let us know how it progresses. Thanks!

[2019-04-03 23:49] jhseu commented on #27290
That particular implementation was a placeholder.

Sourabh might know if TPUStrategy works with predict in TF 1.13:
https://www.tensorflow.org/versions/r1.13/api_docs/python/tf/contrib/distribute/TPUStrategy?hl=en

[2019-04-03 23:54] jvishnuvardhan commented on #27443
@buaadf Could you provide a code to reproduce bug? what are the commands used to convert model?
Could you try TF1.13.1 (master) and/or TF2.0.0.alpha, or tf-nightly to check whether the bug is persistent with recent TF versions. Thanks!

[2019-04-04 00:01] frreiss commented on #20519
I am working on a PR for this issue that will add support for what should be the common case of this feature: load a single function/meta-graph signature from a SavedModel, feed the graph for that signature through the Graph Transform Tool, wrap the resulting graph in the original signature, and write out a new SavedModel.

[2019-04-04 00:21] xlnwel commented on #27087
I've followed the [TF2.0 document](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/LSTM), and wrote the code
[code]
If I uncomment line4, the same error occurs. I've also tried using `LSTMCell`, but it cannot return sequences. And it somehow requires a 2-D tensor as input? I'd be appreciated for any helps

[2019-04-04 00:56] pjhinton commented on #26082
...

Thanks for the follow-up on this.  I understand the reluctance to devote resources to deprecated code.  I did manage to find another way to address the problem.  The `TensorForestEstimator` constructor provides an argument for specifying a feature engineering function.

[code]

where `self.metadata.feature_columns` is a Python list with instances from `tf.contrib.layers.feature_column` module

[2019-04-04 01:13] irvingzhang0512 commented on #27288
I do know there are some known memory leaks for v1.12.0
#19671, this issue mentioned that `tf.set_random_seed(1)` can fix the known issue.
BTW, I haven't use tf nightly before, I may have a try latter.

[2019-04-04 01:21] bingyuanlee commented on #27416
@littlehome-eugene : I've referred to the [documentation of DenseFeatures](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers/DenseFeatures) and came across the example:

[code]
It seems `features`, in this regard, refers to the input tensor. It is fed to the feature layer in `dense_tensor = feature_layer(features)`, and finally to the model `dense_tensor = tf.layers.dense(de

[2019-04-04 01:29] brianwa84 commented on #216
Dreams coming true:
https://github.com/tensorflow/tensorflow/commit/47ab68d265a96b6e7be06afd1b4b47e0114c0ee9

[2019-04-04 01:31] littlehome-eugene commented on #27416
oh, I was just saying I'm trying to solve the same problem, I do have partial solutions as I outlined.
So you could try what I did before tensorflow has the definitive answer to this.

With my limited knowledge of tensorflow (have worked with only a few weeks),
but I don't think `parse_example` would help here, the `serialized` arguments is the actual data like training data, so you can't use it t

[2019-04-04 01:32] shashvatshahi1998 commented on #26505
@edloper can I also contribute to it.

[2019-04-04 01:36] lhendre commented on #26638
I had some personal things come up over the last two weeks, but this week is looking better to dig into this

[2019-04-04 01:48] bingyuanlee commented on #27416
@littlehome-eugene: No issue. :) Okay, so `parse_example` was only meant for demo purposes.

Digging deeper:

`features = tf.feature_column.make_parse_example_spec(get_cols())`
`print(features)`
returns me a schema/placeholder:

[code]
so was thinking if it is possible to congregate these placeholders and use it as the input to `Input(shape=...)`...

[2019-04-04 02:03] shashvatshahi1998 commented on #26505
I added expand_composites to all nest.flatten() and nest.pack_sequence_as() what about other functions of nest in the file @edloper

[2019-04-04 02:14] rxy1212 opened #27486 "What's happened with tensorflow.org?"
What's happened with tensorflow.org? It just show a Service Unavailable hint.

[2019-04-04 02:17] jaysumona2019 commented on #27376
Hello, after a lot of try I passed that stage, but still having issue with tensor flow.  below is my error, I am using MAC and python 2.7.  Can you please tell me why this error happens?

Last login: Wed Apr  3 20:38:52 on console
$ cd /Applications/anaconda2/lib/python2.7/site-packages/tensorflow/models/research
$ export PYTHONPATH=$PYTHONPATH:`pwd`:`pwd`/slim
$ python object_detection/builders/m

[2019-04-04 02:21] REFunction commented on #14165
Your repo helps me a lot. But I find that **Global Step** is not supported while some repos train networks with dynamic learning rate, or other tricks, where Global Step is necessary. So I would like to know whether it's difficult to implement with Global Step? Or other reasons?

[2019-04-04 02:35] apollokit opened #27487 "Non-OK-status for CudaLaunchKernel when torch is also imported"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-04 02:43] ppwwyyxx commented on #14165
It takes about [three lines of code](https://github.com/tensorpack/tensorpack/commit/d8dd7ca93640c7299d2c2da064d57982fe56ff69) to support it.
It was not there earlier because tensorpack already manages global_step by other methods, rather than by the optimizer.

[2019-04-04 02:47] wangyunxiaa opened #27489 "LSTMBlockFusedCell does not support using outputprojectionwrapper"
I want to replace LSTMCell to LSTMBlockFusedCell for better performance.
but I have found that the LSTMBlockFusedCell does not have the project operation of the output.
so I add the outputprojectionwrapper to the LSTMBlockFusedCell by `cell = tf.contrib.rnn.OutputProjectionWrapper( tf.contrib.rnn.LSTMBlockFusedCell(config.hidden_size, forget_bias=0.0, cell_clip=config.cell_clip, use_peephole=confi

[2019-04-04 02:54] shashvatshahi1998 commented on #27414
https://github.com/tensorflow/tensorflow/issues/23904

[2019-04-04 02:55] shashvatshahi1998 commented on #27414
@yluo16 visit this issue you will get little bit help.

[2019-04-04 02:55] REFunction commented on #14165
WOW! So fast updating! What an enthusiastic man!Thank you.

[2019-04-04 02:58] jinfagang commented on #26418
@jviereck Thanks u, I never built tensorflow successfully yet, most reason is that it downloads too many dependencies and some using google which blocked in China................ I meant if there any wheel just like pytorch does provide difference version built on cuda 9 with cudnn 7

[2019-04-04 02:59] jaysumona2019 commented on #27376
Hello, the issue is not closed.

Hello, after a lot of try I passed that stage, but still having issue with
tensor flow. below is my error, I am using MAC and python 2.7. Can you
please tell me why this error happens?

Last login: Wed Apr 3 20:38:52 on console
$ cd
/Applications/anaconda2/lib/python2.7/site-packages/tensorflow/models/research
$ export PYTHONPATH=$PYTHONPATH:pwd:pwd/slim
$ python o

[2019-04-04 03:32] littlehome-eugene commented on #27416
I think I found another way..
it's hacky.. but you can try

I extracted symbolic tensor ( I think it's tensor definition not associated with a data)
and gave them to keras.Input() as a parameter

here's a sample

[code]

[2019-04-04 03:35] bloops commented on #26204
This should be now fixed! (pending 3 week compatibility window)
[47ab68d](http://go/gh/tensorflow/tensorflow/commit/47ab68d265a96b6e7be06afd1b4b47e0114c0ee9)

[2019-04-04 03:49] loveunk commented on #27432
@jvishnuvardhan It does not work. The same error exists.

[2019-04-04 03:54] ryan-mccaffrey opened #27490 "ImportError: cannot import name model_fn"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Springdale Linux 7.5 (Verona)
- TensorFlow version: 1.13.1
- TensorFlow-GPU version: 1.12
- Python version: 3.4.9
- Installed using virtualenv? pip? conda?: using pip inside a virtualenv
- CUDA/cuDNN version: 7

**Describe the problem**

I'm attempting to use a `layer_norm` with the line:
[code]
 but am thrown the fo

[2019-04-04 04:06] azaks2 commented on #27428
why are you trying to use v2.0.0-alpha0-0-g2c319fb415 2.0.0-alpha0. if your code seems to be TF 1

[2019-04-04 04:12] Sangwon91 opened #27491 "Using .numpy() with the tf.function decorator."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): `2.0.0-alpha0`
- Are you willing to contribute it (Yes/No)

[2019-04-04 04:24] rishabhbhatt009 commented on #10033
I have done this still i am getting the following error

Python 3.6.6 (v3.6.6:4cf1f54eb7, Jun 27 2018, 03:37:03) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "D:\SETUP\VISUAL STDS\Python36_64\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.py

[2019-04-04 04:29] shashvatshahi1998 commented on #27120
I guess that error is somewhere in tensorflow/python/eager/function.py/defun

[2019-04-04 04:31] Keepmoving-ZXY commented on #27207
The nccl leads to tensorflow hang all the time no matter local training or multiworker training.

[2019-04-04 04:43] AtlantixJJ commented on #27428
I am writing code like this because I want to see what the math operation is as clearly as possible. As for using TF2, it is just following up with the latest version.

[2019-04-04 04:51] karllessard commented on #8244
For those who were following the thread, I dropped a demo (draft) of how an example.proto could be serialized in a `ByteBuffer` and parsed in a graph written in Java [here](https://github.com/karllessard/models/tree/master/samples/languages/java/mnist/src/main/java/org/tensorflow/model/sample/buffer)

[2019-04-04 05:25] ChaoYue0307 commented on #27079
Thanks, solved for python 2.7 also

[2019-04-04 05:44] yluo16 commented on #27414
Thanks for advising. I'm sorry for raising a existing issue... Maybe I should upgrade to TF 2.0.

[2019-04-04 05:44] asjmasjm commented on #26664
I kinda solved it...In case of fine-tuning from full-precision model without quantization parameters like .../act_quant/min, one just restore the weight and let the graph fill the default quantization parameters. Passing the tf.saver APIs using the existed weights and biases will do this. And I think the current tf APIs is enough to achives this and no need of extra support for this. Anyway, thank

[2019-04-04 06:04] jeromenicholas07 commented on #23150
Facing the same issue!!
Found any solution to it yet?

[2019-04-04 06:10] matthen opened #27492 "Use of tf.custom_gradient prevents garbage collection of Graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOs 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): pip install tensorflow==1.13.1
- TensorFlow version (use

[2019-04-04 06:46] perfinion commented on #27430
I opened https://github.com/tensorflow/tensorflow/pull/27493 to add back the unversioned .so first.
That should fix this quickly then we can take a look at adding something to tf.sysconfig more carefully.

[2019-04-04 06:55] #27101 closed

[2019-04-04 07:02] grigvardanyan opened #27494 "'Sequential' object has no attribute 'total_loss'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution
Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
Source
- TensorFlow version (use command below):
1.13.1
- Python version:
3.7.1
-

[2019-04-04 07:06] grigvardanyan commented on #27494
I have tried train_on_batch() and test_on_batch() , those works fine

[2019-04-04 07:30] guoyejun opened #27495 "to build with '-g' option"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile de

[2019-04-04 07:31] nekitmm opened #27496 "Can not set 'dynamic' property on custom layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab environment
- TensorFlow version (use command below): 2.0 alpha

I am trying to write a custom layer in TF 2.0 and having trouble making it run eagerly.

For example if I open a documentation page: https://www.t

[2019-04-04 07:31] jackd opened #27497 "`tf.reduce_sum` with multiple negative axes and `tf.RaggedTensor` bugged"
## System information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below):
- Python version: ('v1.13.1-0-g6612da8951', '1.13.1')
- GPU model and memory: quadro k620 2gb

## Current beha

[2019-04-04 07:57] sudiptabiswas22 commented on #9489
Thanks @stbnps. Your solution worked like a charm.

[2019-04-04 07:57] dshahid380 commented on #27494
In input layer, you haven't provided input_shape.

[2019-04-04 08:01] dshahid380 commented on #27456
I would like to work on this issue.

[2019-04-04 08:15] caissalover commented on #27417
@achandraa I have updated the error and I'm sure it's much better than the earlier post. Let me know. Thanks.

[2019-04-04 08:17] joseph-d-p commented on #27229
@ymodak already did. so would that mean we need to centralize all TFLite OP requests to #21526 ?

However, it maybe an error on my part since the failed operations is for training phase and not really running the model. I don't expect to load the dataset though when running the actual model.

[2019-04-04 08:23] #27448 closed

[2019-04-04 08:24] a6802739 commented on #26839
In order to be compatible with numpy array operation, I list the items that we could consider:

for example for bumpy array `arr = np.array([[1,2,3], [4,5,6], [7,8,9]])`.

- [ ] arr[[0, 1], [1, 0]]

- [ ]  arr[[0], 1]

- [ ] arr[[0, 1], 0]

- [ ] arr[np,array(1), 0]

[2019-04-04 08:24] Yudonggeun opened #27498 "Where is the BahdanauAttention?"
tf 1.0: tensorflow.contrib.seq2seq.BahdanauAttention
Where is the BahdanauAttention with tf 2.0???

[2019-04-04 08:52] grigvardanyan commented on #27494
@dshahid380  Thanks a lot it works

[2019-04-04 09:11] ikamensh opened #27499 "optimizer_v2.apply_gradients() - surprising behavior, not explicitly documented"
**System information**
- TensorFlow version: 2.0.0-aplha0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/optimizers/Optimizer#apply_gradients

I was implementing a DD Policy Gradient for reinforcement learning, and had a bug where my agent would minimize the reward, instead of maximizing it. It turned out optimizer.apply_gradients() follows negative of the gradients I give

[2019-04-04 09:20] jheymann85 opened #27500 "[Grappler] RemoveIdentityTranspose also removes conjugate"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.1

[2019-04-04 09:41] anativ commented on #11308
ETA for this fix?

[2019-04-04 09:54] seungbaeji commented on #27442
`tf.feature_columns.utils.sequence_length_from_sparse_tensor` doesn't count `0` value as an element of the sequence. Therefore, if you have a `0` in your sequence, you have to apply indices of `0`.

[2019-04-04 09:54] #27442 closed

[2019-04-04 10:04] awav commented on #26104
@wangpengmit, @alextp Hello guys! Is this feature in progress? I have a project which would benefit a lot from this.

[2019-04-04 10:08] Han-sok opened #27502 "A result calculated inside of the tf.while_loop is wrong and not raising any error/alert when it occurred by GPU OOM."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platfo

[2019-04-04 10:09] awav commented on #26033
@alextp, @reedwm Hello everyone! ooc, does anyone work on this feature, or it is postponed until better times? :)

[2019-04-04 10:11] Han-sok commented on #27502
Also, I want to ask this question. Is there any way we can avoid OOM(out-of-memory) when we are using tf.while_loop? We have a bunch of data/tensors that needs to be processed and tf.while_loop/tf.map_fn is our only hope to parallelize the code and get some performance. Right now, I am manually adjusting "parallel_iterations=" parameter but it's painful because we have multiples of loops in our co

[2019-04-04 10:12] awav commented on #26204
@bloops , That is fantastic news. Will `broadcasting` be fixed for all linear algebra operations or only for `matmul`?

[2019-04-04 10:27] littlehome-eugene opened #27503 "can't save keras model built by functional api"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-04-04 10:37] gadagashwini commented on #27470
@cottrell  Please provide details about what platform you are using (operating system, architecture). Also, did you compile from source or install a binary?
We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2019-04-04 10:39] achandraa commented on #27469
Thank you for reaching out to us. Can you please provide minimum reproducible code snippet to help us proceed further and verify what is going wrong

[2019-04-04 10:41] aaron-maslim commented on #24834
Hi @dorian821 , to fix that issue is that you may not rename the .dist-info inside the wheel and also you may not rename the wheel filename. So the places to remove "_preview" and "dev2019XXXX" is the folder (not .dist-info) and the RECORD file.

[2019-04-04 10:50] christian-rauch opened #27505 "source build won't accept GPU with compute capability lower than 3.5"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.13.1
- Python version: 2.7
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compiling from source): 7.3.0
- CUDA/cuDNN version: 10.0
- GPU model and memory: GeForce GTX 970

**Describe the problem*

[2019-04-04 11:21] rroderich commented on #27469
The error occurred during a training run of Google Bert (https://github.com/google-research/bert/run_squad.py). Everything went well on the CPU version of TensorFlow, but after switching to GPU the error appeared.

[2019-04-04 11:23] #27503 closed

[2019-04-04 11:35] codexponent commented on #26182
@mostafaelhoushi have given the best solution. Anyone who is confused see this answer. :)

[2019-04-04 11:47] WenguoLi commented on #27402
When build label_image with  GPU Delegate ,  some errors:

[code]

[2019-04-04 12:34] achandraa commented on #27456
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-04-04 12:39] dorian821 commented on #24834
Hi @aaron-maslim, :+1: thanks a lot! it install just fine!

[2019-04-04 12:55] prclibo opened #27507 "Weird behavior of tf.Variable.assign in a tf.Dataset.map callback function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code
-

[2019-04-04 12:59] tensorflowbutler commented on #18353
It has been 44 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-04 13:28] muddham commented on #27461
@8bitmp3 In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-04 13:29] muddham commented on #27433
@sepehrghafari In order to expedite the troubleshooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-04 13:30] muddham commented on #27465
@slapersonne In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-04-04 13:35] 7wdeepin commented on #22062
@ybsave I met the same problem as you, how did you solve it ?

[2019-04-04 13:49] SefaZeng opened #27508 "Missing device_attributes.pb.h when make tensorflow to .a file"
I want make tensorflow to a static link file so I can use it to run the pretrained model with the cpp API.After I run the **build_all_linux.sh**, I move the **tensorflow** and **third_party** file and the **libtensorflow-core.a** and **libprotobuf.a** and **libnsync.a** to a work path.
And when I compile the cpp code, it returns an error which said

And it occurs in the session.h. I find there is

[2019-04-04 13:57] littlehome-eugene commented on #26835
same for Unknown layer: DenseFeatures

[2019-04-04 14:07] PlayDeep opened #27509 "*help* changing gradients value through Masking the gradients with a matrix whose shape same with var but non-compatible"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: tf 1.8
- Doc Link:https://tensorflow.google.cn/versions/r1.8/api_docs/pyth

[2019-04-04 14:21] slapersonne commented on #27465
Sure, here is a simplified snippet :

[code]

And here is the output I get when running this snippet :

[code]

For information, please note that when I set `serving_only` to False, I get an other error :
[code]

[2019-04-04 14:29] veritas9872 opened #27510 "Add HDF5 to tf.data.Dataset"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13 (Though I would like in on tf 2.0)
- Are you willing

[2019-04-04 14:31] Shalomash commented on #26835
Same issue for LSTM layers. When using 'ModelCheckpoint' callback.
 File "h5py/_objects.pyx", line 54, in h5py._objects.with_phil.wrapper
 File "h5py/_objects.pyx", line 55, in h5py._objects.with_phil.wrapper
 File "h5py/h5o.pyx", line 202, in h5py.h5o.link
RuntimeError: Unable to create link (name already exists)

[2019-04-04 14:32] qlzh727 commented on #27087
I think this is working as intended. Either StackedRNNCells or StackedRNNCells only works with Cell, not layer. The difference between the cell and layer in RNN is that cell will only process one time step within the whole sequence, whereas the layer will process the whole sequence. You can treat RNN layer as:
[code]

If you want to stack 2 LSTM layers to together with cudnn in 1.x, you can do:

[

[2019-04-04 14:57] veqtor commented on #18354
Although a fix for this was merged in https://github.com/tensorflow/tensorflow/commit/6d96cc4d05fd09e5663853a795bcd9a5b01f1732

It seems as if this issue has returned at some point since I'm getting it with the exact same repro-steps as in this ticket.
See this colab for quick proof:
https://colab.research.google.com/drive/1s-0Co367Os762TzId5L2_kT1miLWaiMd

[2019-04-04 15:01] priyak1917 commented on #27434
Hi aman,

I had activated the tensorflow and gave the command "conda remove
tensorflow-gpu".

[image: image.png]

It actually got failed.

[image: image.png]

Can you tell me how to uninstall entire tensorflow? I will re install only
CPU version?

On Wed, Apr 3, 2019 at 11:44 PM Aman Patel <notifications@github.com> wrote:

--
Ms.Priyanka Kolli
BTech-Dept of BioTechnology
National Institute of Tec

[2019-04-04 15:07] bguillouet opened #27511 "[TF==2.0.0-alpha0] Memory leak with tf.keras.models.load_model"
**System information**
- Have I written custom code? Yes
- OS Platform and Distribution  (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Docker_image tensorflow/tensorflow:2.0.0a0-py3-jupyter
- TensorFlow version : 2.0.0a0-py3-jupyter
- Python version:  3

[2019-04-04 15:32] Stepiii commented on #26679
@jvishnuvardhan Thanks! I have updated the post with the new logs. Now I have tried to build from master branch, but similar error appeared.

[2019-04-04 15:38] shivSD opened #27512 "High RAM usage after loading inference model into GPU"
OS - Ubuntu 16.04
CUDA Version 10.0.130
Tensorflow version 1.13.1
YoloV2 - https://pjreddie.com/darknet/yolov2/

Trained a YOLOv2 architecture on the custom images and after freezing the graph, Model weight (.pb) file size is 268MB, Once we load this into gpu for inference it is consuming 7.93GB. I know tensorflow allocates the buffers for the output data at each stage at the beginning. Please, ca

[2019-04-04 15:46] alextp commented on #26104
Artem, we haven't started work on it yet.

Do you want to send a pull request? It amounts to adding a new constructor
argument for the desired shape for ResourceVariable and Variable, and a
test.

On Thu, Apr 4, 2019 at 3:07 AM Artem Artemev <notifications@github.com>
wrote:

--
 - Alex

[2019-04-04 15:47] alextp commented on #26033
No current work that I am aware of.

On Thu, Apr 4, 2019 at 3:14 AM Artem Artemev <notifications@github.com>
wrote:

--
 - Alex

[2019-04-04 15:49] sepehrghafari commented on #27433
@muddham I wrote my code in comment. I have no problem with code, my issue is i want to compile and run and train simple training session with Keras with any Pre-trained models like Xception ,VGG or Resnet, multiple times is a single run, in order to do this i put my whole code in for. but after loading Pre-trained models, GPU memory gets about 80-90% full. In second loop of for i got OOM error.
I

[2019-04-04 15:57] alextp commented on #26839
@a6802739 can you find an exhaustive list of the operations supported by numpy slicing somewhere?

[2019-04-04 15:59] a6802739 commented on #26839
@alextp, I'll have a try.

[2019-04-04 16:08] cottrell commented on #27470
Can you you confirm that that release is actually disted and available? python 3.7 tf-nightly-2.0-preview.

I suspect it isn't and no amount of details beyond python version and pip name will help.

If not, I will provide more.

[2019-04-04 16:09] cottrell commented on #27470
And I am on Mac OS trying this now. Will try later on Ubuntu.

[2019-04-04 16:24] bjarthur commented on #15207
does it work on all platforms?

[2019-04-04 16:26] alextp commented on #27428
I can confirm you're not using the version of TF you claim to be using. The current 1.x nightly shows v1.12.0-11729-g98c3cfbf74 1.14.1-dev20190404 as the version string while you have the one from the 2.x alpha.

It also looks like your cuda installation is borked somehow. Have you tried using an nvidia provided docker image?

[2019-04-04 17:00] ybsave commented on #22062
@7wdeepin No solution yet. Not sure whether Google people have make tensorflow support the serialization of numpy.

[2019-04-04 17:01] ssubraveti commented on #27398
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
1.4.0
- Doc Link:
https://www.tensorflow.org/api_docs/python/tf/feature_co

[2019-04-04 17:01] ymodak commented on #27498
Starting TF 2.0 contrib won't be a part of TF. However  [tensorflow/addons](https://github.com/tensorflow/addons). You can check [tfa.seq2seq](https://github.com/tensorflow/addons/blob/master/tensorflow_addons/seq2seq/README.md) to know more about your specific use case. Also you may a send PR to addons as well to add additional features.

[2019-04-04 17:04] ymodak commented on #27486
https://www.tensorflow.org/ is up and running may be you were experiencing internet issues. Please give it a try again.

[2019-04-04 17:04] sravan938 commented on #27127
Installing right Python version (3.5) and tensorflow version (1.0) solved the issue

[2019-04-04 17:05] #27486 closed

[2019-04-04 17:05] #27127 closed

[2019-04-04 17:06] jingw222 commented on #22292
Seriously, the image tag should explicitly specify Python version up to one decimal point. This has got me lots of headaches when there's an underlying Python version discrepancy between testing and deployment.

[2019-04-04 17:07] hugo-boser commented on #24817
i also have a very similar issue except it does not work on both cpu and gpu and it produces segmentationfault after i type run.

[2019-04-04 17:13] damienstanton commented on #27470
I can confirm this is an issue with Python 3.7.2, at least on macOS 10.14.4. Installation **does** work on Python 3.6.8.

Both tests were conducted in virtual environments created using `python3 -m venv` and `python3.6 -m venv`, respectively.

[2019-04-04 17:20] ymodak commented on #27229
@miaout17 Can you please take a look? Thanks!

[2019-04-04 17:24] ymodak commented on #21697
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-04 17:24] #21697 closed

[2019-04-04 17:25] ymodak commented on #26818
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-04 17:25] #26818 closed

[2019-04-04 17:31] christian-rauch commented on #24124
I am closing this since the build script now won't proceed without a compatible bazel version.
The recommended way is to install the Debian package from https://github.com/bazelbuild/bazel/releases with the corresponding fixed bazel version (`bazel_<version>-linux-x86_64.deb`) instead of using the repository which always updates to the latest version.

[2019-04-04 17:31] #24124 closed

[2019-04-04 17:56] reedwm commented on #18354
See [this comment](https://github.com/tensorflow/tensorflow/pull/20782#issuecomment-479999811). This will be in the next stable release.

[2019-04-04 17:57] reedwm commented on #18354
Closing this issue since this is fixed in the master branch.

[2019-04-04 17:57] #18354 closed

[2019-04-04 17:58] jvishnuvardhan commented on #19992
Closing due to lack of recent activity, but please let me know if I'm mistaken. Since this issue is old at this point, please reopen the issue if it still occurs when tried with the latest version of Tensorflow. Thank you.

[2019-04-04 17:58] #19992 closed

[2019-04-04 18:05] amanp592 commented on #27461
@8bitmp3 I found out that the API docs will be generated with the help of api_generator we have to create a build_doc API with the help of api_generator API to create docs! but I didn't get how this would be done!

[2019-04-04 18:09] jvishnuvardhan commented on #27432
@loveunk  Could you uninstall and reinstall CUDA and cuDNN? Can you try some solutions that were listed in some of GitHub issues and Stackoverflow? This is more related to NVIDIA's CUDA so they might have solutions in their GitHub repo. Thanks!

[2019-04-04 18:17] ymodak commented on #27485
You  have to lower your cuda version to 9.0 since TF 1.12 comes with pre-built binaries to support cuda 9.0
else you can lower your cuda version to 10.0 and use TF 1.13.1

[2019-04-04 18:23] ymodak commented on #27319
We no longer officially support the cmake build, and suggest that you use bazel instead: https://www.tensorflow.org/install/source_windows

[2019-04-04 18:29] ymodak commented on #27322
duplicate #26059

[2019-04-04 18:32] ymodak commented on #27361
The link you have referenced does not refer to the sample code you are referring too. Can you please take a look and provide pointers? Thanks!

[2019-04-04 18:34] jvishnuvardhan commented on #27390
@dibya-pati Could you provide a simple code to reproduce your issue? Thanks!

[2019-04-04 18:34] melissagrueter commented on #26371
Hi @skye,

After thinking about it some more, I'm still confused about why the Assign runs in the final frame. In general, what triggers control dependencies to run?

My working assumption had been that dataflow determines the execution flow of the graph, so an op's control dependencies would only be triggered to run when its inputs flow in.

In the graph I sent you, the Assign was a control input

[2019-04-04 18:35] ranarhall commented on #16768
I am getting the same error

[2019-04-04 18:35] Arritmic commented on #27319
Okey, thank you for the info. Let's start with Bazel.
Apart from that, I solved the problem by setting CXX17 like below is shown:
[code]

[2019-04-04 18:35] #27319 closed

[2019-04-04 18:43] Mainak431 opened #27516 "Placeholder removed from tf 2.0"
tensorflow placeholder is not found on tf 2.0. I need to create a Tensor with shape = None. But As the placeholder is gone . I am not finding ways to do it the 2.0 way. Please help.

[2019-04-04 18:44] reedwm commented on #26033
You're right, we cannot use floatx for backwards compatibility, since currently it does not affect the dtypes of `tf.Variable`s and such.

This proposal sounds reasonable. It would be convenient to be able to have all variables/constants in a user-chosen dtype without having to specify the `dtype` parameter for each. I do have several concerns however.

1. It is confusing what the difference betwe

[2019-04-04 18:45] EricHeidal opened #27517 "ML Kit for Android fails to load valid TFLite model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-04 18:56] emerth opened #27518 "STOP USING ELIPSES!"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: All
- Doc Link: https://github.com/tensorflow/tensorflow/tree/master/tenso

[2019-04-04 18:57] Mainak431 opened #27519 "TF 2.0 'Tensor' object has no attribute 'numpy' while using .numpy() although eager execution enabled by default"
Although Eager_execution is enabled by default in TF 2.0, I am getting errors while using .numpy()

Please note that i am not using the code in compatibility mode to TF 1.0.

  expt = [[[  0,   0,   0],
            [  4,  71, 141],
            [  0,   0,  0]],

           [[ 83,  25,  85],
            [ 90, 190, 143],
            [  4, 141,  49]],

           [[  0,   0,   0],
            [  4,  7

[2019-04-04 19:01] hugo-boser opened #27520 "segmentation fault using tensorflow debugger"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

When i type run in tfdbg i get a segmentation fault.

**System information**
- Have I written custom code?
yes i have.
- OS Platform an

[2019-04-04 19:11] #27518 closed

[2019-04-04 19:29] jvishnuvardhan commented on #27386
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-04-04 19:31] yudongqiu commented on #27275
:+1: I noticed the same bug and I'm also interested in the solution.

I use Ubuntu 16.04.1, Python 3.7 in Anaconda, Tensorflow installed from pip:
[code]

[2019-04-04 19:32] jvishnuvardhan commented on #27386
I noticed your [Stackoverflow post](https://stackoverflow.com/questions/55459087/tensorflow-2-0-optimizer-minimize-adam-object-has-no-attribute-minimize). That is the right place for support type question. Thanks!

[2019-04-04 19:39] meherkasam commented on #27329
Hello. We've been stuck with this issue for 5 days now. Can you please provide an update on this?
cc: @gadagashwini @ymodak

[2019-04-04 19:40] jvishnuvardhan commented on #27381
@nullbyte91 Could you describe the feature and its context with little more detailas? Thanks!

[2019-04-04 19:44] mahmoud-abuzaina opened #27521 "Bug in tf.parallel_stack"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):

[2019-04-04 19:48] martinwicke commented on #27064
We have no plans for this currently. However, there is a proposal for a SIG-JVM (
https://github.com/tensorflow/community/pull/86), that would likely be the right place to discuss Kotlin bindings/integration.

[2019-04-04 19:48] #27064 closed

[2019-04-04 19:49] ymodak commented on #27451
duplicate #26059

[2019-04-04 19:51] jnthnroy commented on #22512
Similar here on cpu
It work fine since a while and start to fail with no modification on my set up...

ImportError: Traceback (most recent call last):
  File "C:\Users\cy6112\AppData\Local\Continuum\anaconda3\envs\TimeSeriesForcasting\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\cy611

[2019-04-04 19:54] jvishnuvardhan commented on #27379
@JaspervDalen It is really strange.
1. Do you have any Firewall? It never took more than a second or two even with low internet speeds (6 Mbps download).
2. Can you check with other browsers (IE, Firefox, Safari etc...)
3. typically how much it takes to open other websites (ex. news.google.com)

Please provide as many details as possible to find root-cause of the issue. Thanks!

[2019-04-04 20:04] jvishnuvardhan commented on #27269
For me, except __init__.py link (https://www.tensorflow.org/code/stable/tensorflow/_api/v1/logging/__init__.py) everything else is working. Thanks!

[2019-04-04 20:04] JaspervDalen commented on #27379
@jvishnuvardhan now that I check it at home (I mostly use the tensorflow docs at work) it is a lot faster (about 3 seconds). But it is across machines (my colleagues also have the same issues) and across browsers. We haven't noticed any issues witha ny other websites. I will look tomorrow for a firewall or something.

[2019-04-04 20:12] yongtang commented on #27510
@veritas9872 Given the usage of HDF5, I think this issue naturally fits the scope of tensorflow-io and will likely be implemented in tensorflow-io first. The tensorflow-io has a focus on different file format, I/O, and streaming.

The repo of tensorflow-io is:
https://github.com/tensorflow/io

The google group is:
https://groups.google.com/a/tensorflow.org/forum/#!forum/io

I have opened another i

[2019-04-04 20:12] #27510 closed

[2019-04-04 20:17] jvishnuvardhan commented on #27379
@JaspervDalen Thanks for quick reply. Could you mention location (Europe, Asia, ...) from where you are accessing and also mention whether you notice any specific pages in [TF website](https://www.tensorflow.org/) that are taking more time than others. thanks!

[2019-04-04 20:20] lamberta commented on #27379
Pages with iframes can take longer to load (like the home page).
I've also noticed pages with lots of code snippets can take longer to fill in, but should start rendering quickly.
But, as Vishnuvardhan said, any specific pages and your region would be helpful it it's not an internal configuration issue.

[2019-04-04 20:20] ariesadel commented on #25323
We also run into the same problem trying to compile TensorFlow in our CentOS 7 with devtoolset-7. Does anyone have a solution for this?

[2019-04-04 20:21] alextp commented on #27383
@tatianashp can you triage?

[2019-04-04 20:25] JaspervDalen commented on #27379
@lamberta  It is really all pages, I can switch between all pages of the docs and all load in about 10 seconds. Today I looked at https://www.tensorflow.org/api_docs/python/tf/map_fn, https://www.tensorflow.org/api_docs/python/tf/meshgrid both really slow and https://www.tensorflow.org/api_docs/python/tf/range all took about 10 seconds. I work in Nijmegen (the netherlands), however my home is also

[2019-04-04 20:27] jvishnuvardhan commented on #27415
@zysNLP Please take a look at the [tutorial](https://www.tensorflow.org/tutorials) section in TF website and most importantly look at the tutorials under "ML at production scale". There are several approaches to optimize ML model and there is vast amount of information available (TF website, stackoverflow, github, medium, kaggle, .......).
I am closing the issue here as it is not related to Bug or

[2019-04-04 20:27] #27415 closed

[2019-04-04 20:31] lynscott commented on #27435
Same issue here.

Ubuntu 18.04
CUDA 10.0
virtualenv + pip
NVIDIA GTX 1060
Python 3.6.7

Attribute errors for both eager execution & random_normal, but installs successfully.

[2019-04-04 20:44] Mainak431 commented on #18165
@yselivonchyk  Tensorflow 2.0 by default uses Eager-Execution. Hence Placeholders are not getting executed. What is the point of even keeping a placeholder while no support for it is there in Tensorflow 2.0.
How will we devise the unknown dimension or Dimension(None) from now on? Any answers ?

[2019-04-04 20:56] Mainak431 commented on #27516
Placeholder is present at tf.compat.v1.placeholder . And can only be executed in eager mode off.

#   tf.compat.v1.disable_eager_execution()

If we dont deactivate eager mode, we get this error -

tf.placeholder() is not compatible with eager execution.

Got this.

[2019-04-04 20:56] #27516 closed

[2019-04-04 20:58] ypxie commented on #20639
I got this error too. This error is so vague. if while_loop works in this weird way, then how can anybody even know their program is working properly?  this terribly/disastrously   designed API should be deprecated from using at all.

[2019-04-04 21:02] jvishnuvardhan commented on #27398
@ssubraveti The article came out longback (~1.5 years) and there were lot of changes. The doc link you are referring corresponds to TF1.13 where as the blog corresponds to TF1.4.

Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bug

[2019-04-04 21:08] amilsted commented on #27383
Related question: Does the graph optimizer currently reorder transpose, reshape sequences? If I do a transpose on a large-dimensional tensor, then reshape it to a smaller one (but with dimensions such that the equivalent transpose can still be performed), will the optimizer reorder so that the transpose is done on the lower-dimensional tensor?

[2019-04-04 21:14] ymodak commented on #27242
The latest version of TF 1.13.1 support cuda 10.0 Can you please downgrade your cuda version to 10.0 and build again. Thanks!

[2019-04-04 21:14] #27087 closed

[2019-04-04 21:15] skye commented on #20639
Agreed! tf.function (part of TF2) actually fixes this. See https://www.tensorflow.org/alpha/tutorials/eager/tf_function#state_in_tffunction:

This holds true if you use a while_loop inside a tf.function. So yes, the original tf.Graph behavior will be deprecated in favor of tf.function :)

[2019-04-04 21:16] jvishnuvardhan commented on #27434
@priyak1917 If you have installed in Virtual environment, you can deactivate that env and create another virtual env and install tensorflow. Installing tf_cpu is very easy. Just open a terminal and type "pip install tensorflow". Thanks!

[2019-04-04 21:19] ypxie commented on #20639
I still need to use tf 1.XX, not every company is ready to move to tf 2.0

[2019-04-04 21:28] jvishnuvardhan commented on #27352
@auyer Please post it in that repo. This will get some visibility and most probably will get resolved soon.  Close the issue as soon as you post it there. Thanks!

[2019-04-04 21:29] dssangan commented on #27242
What version of Cudnn?

[2019-04-04 21:29] dssangan commented on #27242
What version of Cudnn should I use?

[2019-04-04 21:30] skye commented on #20639
tf.function will also be available in TF 1.14 (it's already in the nightly releases, if you're brave).

I don't have permission to see your colab. Also, I switched teams and am no longer working on TF... I suggest filing a new issue if you're having trouble with something.

[2019-04-04 21:38] jvishnuvardhan commented on #27198
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-04-04 21:38] #27198 closed

[2019-04-04 21:40] ymodak commented on #27414
Closing since #23904 captures the explanation of behavior observed in this issue. Feel free to reopen if still have further problems. Thanks!

[2019-04-04 21:40] #27414 closed

[2019-04-04 21:41] ypxie commented on #20639
Ohh thanks!, unfortuantely I am still using tf 1.12. : / . new link is here: https://colab.research.google.com/drive/1uz_64qp6rlTQRbDRqOye6s7yddnbCODB .  thanks! : D

[2019-04-04 21:56] qlzh727 commented on #26600
@Nick-Lucas, does the tf.test.is_gpu_available return False? If that's the case, then it definitely means the GPU is not configured correctly.

Also, the error message somehow indicating that the GPU device is not there:

Registered devices: [CPU,XLA_CPU,XLA_GPU]

XLA_GPU is not same as GPU.

[2019-04-04 21:59] qlzh727 commented on #26600
Adding @gunan who is the expert of build/packaging. When user installed both tf and tf-gpu, which kernel will the runtime pickup?

[2019-04-04 22:01] ymodak commented on #27242
cuDNN >= 7.4.1 should be fine. https://developer.nvidia.com/cudnn

[2019-04-04 22:03] allenlavoie commented on #27431
@qlzh727 this is a better project for someone working on TF Keras. I am realistically never going to get to it. (It's near code I've modified, but I don't think those modifications made the situation any worse.)

[2019-04-04 22:07] qlzh727 commented on #27431
Ack, I will take it from here.

[2019-04-04 22:13] dssangan commented on #27242
I have 7.5.0, I will give it a shot and let you know by tomorrow end of the day.

Thank you so much!!! <3

[2019-04-04 22:18] Noahyt opened #27523 "`tf.train.NanTensorHook` does not prevent `tf.train.NanLossDuringTrainingError` when using custom Estimator."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-04-04 22:31] Nick-Lucas commented on #26600
This is useful to know for next time.

So in my case I ended up rebooting the machine and it suddenly started working fine. I imagine the drivers got into a bad state but it wasn't being reported. Sorry I meant to update the thread but forgot.

Something which was interesting and might help others above though. When running in a jupyter instance the error would hang around until I restarted the ke

[2019-04-04 22:41] jhseu commented on #22598
@henrytansetiawan Would you be able to take a look at this issue?

[2019-04-04 22:51] 7wdeepin commented on #22062
@ybsave  Thank you for the response.

[2019-04-04 23:28] ssubraveti commented on #27398
@jvishnuvardhan thanks for the reply. I did post the question on stackoverflow as well, but this does seem to be an issue with documentation.

I did actually look at the documentation for 1.4 as well, and the documentation there(https://github.com/tensorflow/docs/blob/r1.4/site/en/api_docs/api_docs/python/tf/feature_column/bucketized_column.md) has the same mismatch with what the blog post says. I

[2019-04-04 23:52] rmlarsen commented on #27521
Thanks you so much for root causing this! We should probably move that graph rewrite to Grappler.

[2019-04-04 23:57] irenedea commented on #26024
closed: https://github.com/tensorflow/tensorflow/pull/26181

[2019-04-04 23:57] #26024 closed

[2019-04-04 23:58] alexsludds opened #27525 "tf.function-decorated function"
**System information**
- I have written several custom layers for this code. However, they are tested and are not the cause of this bug.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Debian Stable (up to date)
- TensorFlow installed from (source or binary): downloaded the latest alpha of tf2 through pip
- TensorFlow version (use command below): That command does not work for tf2
- Pyt

[2019-04-05 00:32] mahmoud-abuzaina commented on #27521
@rmlarsen We have a simple fix for this until it is moved to Grappler. Will submit a PR for that. It will be great if you can take a look at it.

[2019-04-05 00:34] yunqu commented on #18011
Sorry to comment on the closed thread. Is it now supported in v2.0.0-alpha0 release? Or is the only way to try tf lite using `bazel` as instructed here?https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/python/label_image.md

[2019-04-05 01:16] azaks2 commented on #27428
I have tried nightly build and it seems to work:

=> Check forward
=> Check GPU 0
2019-04-04 17:40:19.590663: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1284] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XL

[2019-04-05 01:22] seungbaeji commented on #27444
I found where it changes the order from the below function:
[code]

[2019-04-05 01:30] qqfish commented on #25724
Sorry, not much yet. We are still working on it.

[2019-04-05 01:32] ZhiqingXiao opened #27526 "[TF 2.0 eager] tf.gather_nd gradient outputs incorrect result"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-05 01:33] seungbaeji commented on #27444
Refer the below links:
1. https://github.com/tensorflow/tensorflow/issues/21751
2. https://github.com/tensorflow/tensorflow/issues/14768

[2019-04-05 01:33] #27444 closed

[2019-04-05 01:59] impjdi commented on #27320
@mattn

The GPU delegates have only been tested with very specific use cases in mind: on Android and iOS.  For Android, you want the right NDK/SDK versions for it to build, and we haven't made too much effort to "maybe??? work on some other platforms".  Having said that, we heavily rely on the specific NDK/SDK toolchains that can cross compile for Android ARM 64-bit architectures with bazel and th

[2019-04-05 02:02] caocuong0306 opened #27527 "Tensorflow C++ API on Windows/VS2015: unresolved external symbol"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-04-05 02:08] caocuong0306 commented on #27527
According to this guide (https://joe-antognini.github.io/machine-learning/windows-tf-project), “unresolved external symbol” errors occur if you don't include sufficient Additional Dependencies.

However, bazel generates only libtensorflow_cc.lib and libtensorflow_framework.lib, and I already included them both.

Please give me a hand. Thanks.

[2019-04-05 02:12] mattn commented on #27320
Thanks. Yes, I understand that Raspberry Pi does not have enough feature to do this. I'm just thinking whether there are possibilities that can be backported to non-compute-shader.

[2019-04-05 02:47] mattn commented on #27320
FYI, yesterday, I could build & run simple app gpu enabled on Linux (not raspberry pi) with #27504.

https://github.com/mattn/tflite-sin

This works without errors. (But I didn't make sure this used GPU for this simple app using sigmoid/sgd)

[2019-04-05 03:03] Sangwon91 commented on #27491
I just realized that the following code works properly
[code]

Output:
[code]

End the issue.

[2019-04-05 03:03] #27491 closed

[2019-04-05 03:26] gadagashwini commented on #27361
Sure Yasir

Thanks and Regards,
Ashwini Gadag

On Fri, Apr 5, 2019 at 12:07 AM ymodak <notifications@github.com> wrote:

[2019-04-05 03:26] dssangan commented on #27242
It worked, thank you for all the help!!

[2019-04-05 03:26] #27242 closed

[2019-04-05 03:53] richardmark commented on #22512
Here is the archived version of cuda-10.0. You would think Google would have this link to help folks download the correct version which in this case is not the most recent stable version of cuda

https://developer.nvidia.com/cuda-10.0-download-archive?target_os=Windows&target_arch=x86_64&target_version=10&target_type=exelocal

[2019-04-05 04:58] #27498 closed

[2019-04-05 05:17] kwokkawinghk commented on #18769
Yes, it is still an issue

[2019-04-05 05:20] loveunk commented on #27432
@jvishnuvardhan I have tried several different penitential solutions, including reinstalling CUDA Toolkit and cuDNN. Unfortunately, none of them work.

Currently, it's hard to judge whether this issue is more related to CUDA than tensorflow.

I have write some test win32 application with C++ to load 'nvcuda.dll',  it can be found and loaded to the program successfully.

[2019-04-05 05:23] sungwonida commented on #6698
Actually, I'm working on Ubuntu 18.04, not macOS, but this looks to make sense that it might be caused by some resource limitations. Me either faced the same issue on GTX 1050 ti (4 GB)  but the issue has gone away when I run the same architecture on GTX 1080 ti (11 GB). Though all the environments are not the same between the two systems, I tried my best by utilizing the docker container.

[2019-04-05 05:27] ageron opened #27530 "Duplicate layer name when using a + b and Add()([c, d]) in the same Keras model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
MacOSX 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
No
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
tf.ve

[2019-04-05 05:34] Seondong commented on #25843
I had the same issue with Tensorflow 2.0.0-gpu-alpha version. After I reinstalled TF 2.0.0-nightly-gpu-dev040404 version it is resolved.

[2019-04-05 05:44] seungbaeji opened #27531 "TF2.0 / `SequenceFeatures` doesn't have a `_is_feature_layer` property."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-05 05:49] kmadhugit opened #27532 "Custom Object Detection crashes when convert_to_grayscale is enabled."
**System Information:**
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.2
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy): NA
* TensorFlow installed from (source or binary): binary
* TensorFlow version: 1.12.0
* Python version: 3.6
* Installed using virtualenv? pip? conda?: Conda
* Bazel version (if compiling from source): NA
* GCC/Compiler version (if compil

[2019-04-05 07:12] JaspervDalen commented on #27379
Ok after testing, it is mainly firefox 66.0.2 with ublock origin as add blocker (no other add-ons). In chrome it is a lot quicker (but still slow with about 2/3 seconds per loading of a page)

[2019-04-05 07:16] liujun121533 commented on #17022
![image](https://user-images.githubusercontent.com/18187666/55610455-85fa9600-57b5-11e9-8f56-58078ae7d6d8.png)
![image](https://user-images.githubusercontent.com/18187666/55610491-9f034700-57b5-11e9-9a7b-a1185bbf90f3.png)
I installded the tensorflow, but can't import it.
Anyone know how to fix it?

[2019-04-05 07:19] #27526 closed

[2019-04-05 07:48] philipphenkel opened #27534 "What's the license of pre-trained TensorFlow.js models?"
I want to use tfjs-models in a commercial application. While source code in the [tfjs-models repository](https://github.com/tensorflow/tfjs-models) is licensed under Apache 2.0, I did not find any info about the license of the models hosted on storage.googleapis.com.

For example [body-pix](https://github.com/tensorflow/tfjs-models/tree/master/body-pix) is loading its model from [storage.googleapi

[2019-04-05 08:14] veritas9872 commented on #26929
Thank you. I think that this issue has been placed in a branch, though it has not been merged to master yet.
I will close this issue. Thank you everyone for helping out.

[2019-04-05 08:14] #26929 closed

[2019-04-05 08:22] cottrell commented on #27470
I have also tested across two MacOS distribs on python 3.6 and 3.7 and one linux on python 3.7, 3.6.

It looks like a problem *only* with (MacOS, python 3.7). The other combinations worked as far as I could tell.

Here are some details from one instance:

(37) ~ $ uname -a
Darwin MacBook-Pro-3.local 17.7.0 Darwin Kernel Version 17.7.0: Fri Nov  2 20:43:16 PDT 2018; root:xnu-4570.71.17~1/RELEASE_X8

[2019-04-05 08:29] #26131 closed

[2019-04-05 08:57] irvingzhang0512 commented on #27288
tf nightly gpu can reproduce the bug.

[2019-04-05 08:59] ikamensh commented on #27386
Do you agree that __init__.py should be modified to allow IDEs to discover these right paths?

[2019-04-05 09:10] achandraa commented on #27523
Thank you for reaching out to us. Can you please provide minimum reproducible code snippet to help us proceed further and verify what is going wrong

[2019-04-05 09:10] reflectored opened #27535 "FileSystem destructor is not being called when done"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **CentOS 7**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **v

[2019-04-05 09:16] awav commented on #26104
@alextp , yep, I will take a look.

[2019-04-05 09:25] achandraa commented on #27512
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-04-05 09:58] muddham commented on #27499
@ikamensh Thanks for bringing this to our notice. We will take a look and resolve it. Thanks!

[2019-04-05 10:02] christian-rauch commented on #27505
I built the pip package directly on the target system with CCC 3.0 only (`TF_CUDA_COMPUTE_CAPABILITIES="3.0"`) but the pip package still requires CCC 3.5.

Is it actually possible to build TF with a CCC of less than 3.5? If no, this should be stated in the configure script before a user continues with the compilation.

[2019-04-05 10:11] muddham commented on #27511
@bguillouet Can you please provide the colab python link so that we can reproduce the bug as .h5 is not available currently here

[2019-04-05 10:27] alter-bug-tracer opened #27536 "Unexpected UnicodeDecodeError: invalid start byte when reading lines from a file"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-04-05 10:29] alter-bug-tracer opened #27537 "Unexpected UnicodeDecodeError: invalid continuation byte when reading lines from a file"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-04-05 10:36] serv-inc commented on #27484
Have you asked on stackoverflow?

[2019-04-05 10:50] nullbyte91 commented on #27381
@jvishnuvardhan
I'm trying to understand quantize aware training with cifarnet from models/research/slim/nets/ and Extract INT8 WB and dump it in checkpoints (.chkpt) or GraphDef (.pb) format not tflite.

**Prepare a network for quantization and training:**
   Add fake quantization layers to the model graph by adding tf.contrib.quantize.create_training_graph() before optimization procedure and tra

[2019-04-05 11:00] rusiaaman commented on #24912
Facing a similar issue with `LSTM` in both `v1.13.1` and `2.0.0-alpha0`. I have tried both eager_execution and Session api. A simple code to reproduce the issue, where first predictions are same for both, but consecutive predictions are not:

https://colab.research.google.com/drive/1D-kgD7NiRXTNTNwVr18H8C-edaL2zpqw

I have verified that predictions from the `call` function are valid, but not those

[2019-04-05 11:05] serv-inc opened #27538 "AttributeError: 'module' object has no attribute 'KerasLayer' on Colab script when downloaded to local, non-cuda laptop"
The Colab for https://www.tensorflow.org/tutorials/images/hub_with_keras fails to run when downloaded to a local machine.
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happen

[2019-04-05 11:10] sunejas commented on #26413
Hello @jyang356 ,
Iam facing the same error message. Were you able to resolve it? kindly let me know the solution.

[2019-04-05 11:14] bguillouet commented on #27511
Hi,

You can reproduce the bug with any ".h5" model.

Here is an example with a Resnet50 model from keras. Here is the code on colab https://colab.research.google.com/drive/1Uafi1hSqaHaEXpYyi8LFVXdK2gTQQVEs

[code]

I didn't get the memory_profiler output on colab but here are the output on my laptop.

**tensorflow 1.13.1**

*First iteration*

[code]
**10 iterations**
[code]

**tensorflow 2.0.0-ap

[2019-04-05 11:14] serv-inc opened #27539 "ValueError: Input 0 of layer dense is incompatible with the layer: its rank is undefined, but the layer requires a defined rank on Colab script downloaded to local machine"
As a companion issue to #27538 with tensorflow 2.0.0a. Script fails with

in the line

```  layers.Dense(image_data.num_classes, activation='softmax')```
**System information**
- TensorFlow version:

using an updated script

[code]

which also works for tensorflow 1.
- Doc Link: https://www.tensorflow.org/tutorials/images/hub_with_keras

**Describe the documentation issue**
The downloaded .py scri

[2019-04-05 11:18] muddham commented on #27484
@vrjesus This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/

[2019-04-05 11:29] achandraa commented on #27508
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-04-05 11:31] jyotirmayghosh commented on #27278
Instated of training the model with model_main.py, if I train it with export_tflite_ssd_graph.py.
As in the document it mentioned

I am trying to train on **ssdlite_mobilenet_v2** model

[2019-04-05 11:50] achandraa commented on #27494
@grigvardanyan - Is the issue resolved. If yes, can we close it now ?

[2019-04-05 11:52] achandraa commented on #27494
@dshahid380 - thank you for your suggestion

[2019-04-05 12:03] wbadry commented on #17022
I would recommend using nightly build and check if it is solved.

[2019-04-05 12:04] EliasMontini commented on #17129
I face with the same issue. Any idea how to solve it?

[2019-04-05 12:31] SetoKaiba commented on #27425
Anyone helps? Is it a bug of TF 2.0?

[2019-04-05 12:34] SetoKaiba commented on #27425
Is it read by Tensorflow official? Is it a bug? The code below sometime generate an ndarray instead of a float.
[code]

[2019-04-05 12:58] egolearner commented on #19013
`tensorflow::HttpRequest`, parent class of `CurlHttpRequest` stats that it's not designed to be reused.
[code]
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/cloud/http_request.h#L171

[2019-04-05 13:01] liujun121533 commented on #17022
Thanks, it worked.

[2019-04-05 13:44] jnthnroy commented on #22512
it may work for the one working on GPU, but im working on CPU... it is the same issue?

[2019-04-05 13:52] richardmark commented on #22512
This was the fix for the GPU issues that I had as well as others. If you are trying to install the GPU version of Tensorflow to a computer that does not have a GPU then that may be your issue but I doubt that is the problem.Rick

    On Friday, April 5, 2019, 6:48:11 AM PDT, jnthnroy <notifications@github.com> wrote:

Here is the archived version of cuda-10.0. You would think Google would have thi

[2019-04-05 14:08] JaviBonilla commented on #19293
Hi @jdduke

It is not working for me with `tf-nightly 1.14.1.dev20190405`.

`tflite_convert \
  --graph_def_file=./mask_rcnn_inception_v2_coco_2018_01_28/frozen_inference_graph.pb \
  --output_file=./mask_rcnn_inception.tflite \
  --input_arrays=image_tensor \
  --input_shapes=1,224,224,3 \
  --output_arrays=detection_masks,detection_classes,detection_boxes,detection_scores,num_detections \
  --ta

[2019-04-05 14:34] mauricelucy opened #27541 "[TF==2.0.0-alpha0] tf.keras.Model reinitializes set weights."
### System information
- Have I written custom code: **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- TensorFlow installed from (source or binary): **pip install tensorflow==2.0.0-alpha0**
- TensorFlow version (use command below): **2.0.0-alpha0**
- Python version: **3.7.1**
- **Using only CPU**

### Describe the current behavior
When I initialize a convo

[2019-04-05 14:39] priyak1917 commented on #27434
@vishu
Thank you so much I will try and let you know.

Sent from my iPhone

[2019-04-05 14:59] jvishnuvardhan commented on #27379
@JaspervDalen Last time you mentioned it took 10 seconds per page, and now it is taking 2/3 seconds per page. What did you change? Just curious. Thanks!

[2019-04-05 15:16] MHDBST commented on #27171
Where can we find macro f1 function? Is it anywhere in tf. ANYWHERE?! Is it developed or added or not?

[2019-04-05 15:21] JaspervDalen commented on #27379
@jvishnuvardhan chrome is 3 second Firefox stil 10. When i tested it before with chrome it also took a long time. I think it was because i use a lot of tabs. However Firefox still has the problem

[2019-04-05 15:43] jakelev commented on #22384
I encountered this bug on a much smaller scale -- trying to do division on a single complex number.

[code]

Here's the error message:

[2019-04-05 15:46] JoanaGodinho commented on #15720
Has this been solved?
I have the same issue, I've tried doing
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
but i keep having the prints. My OS is Windows10 and i'm using Cuda-9.0

[2019-04-05 15:51] shivangpatel commented on #26209
Without downgrade any chance ?

[2019-04-05 15:56] rmlarsen commented on #27521
Sounds great!

[2019-04-05 16:02] christian-rauch commented on #27505
I am able to use CCC 3.0 when building version 1.12.0 from source.

[2019-04-05 16:14] henrysky opened #27543 "tf2.0 failed to save model if an input is used not used in the model directly"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0a0
- Py

[2019-04-05 16:30] girving opened #27544 "tf.add_n is inaccurate for float16"
**System information**
- TensorFlow version (you are using): master
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

`tf.add_n` is insufficiently accurate with `float16` precision for large scale training, for two reasons:

1. It sums the numbers serially, rather than in tree order.  As a result, we get stuff like this:

[code]

2. It uses

[2019-04-05 16:49] lendle opened #27545 "[TF 2.0] tf.estimator.ProfilerHook... is not compatible with eager execution"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 8.8
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): via pip
- TensorFlow version (use command below): `tf.__git_ve

[2019-04-05 17:08] jdduke commented on #26914
Dilated conv support in NNAPI should be coming in the next version of Android.

[2019-04-05 17:08] #26914 closed

[2019-04-05 17:13] jdduke commented on #19293
See https://www.tensorflow.org/lite/models/segmentation/overview for a more detailed overview of using the DeepLab segmentation, for which we have a .tflite model available. We'll take a look at the MaskRCNN conversion failure.

[2019-04-05 17:15] mattn commented on #22926
#26682 is reverted https://github.com/tensorflow/tensorflow/commit/6e9cb400d17f60e50cefe59fc099fc5b6e4074ce#diff-dcd28ad951bd17e9c512d3b564640bab

[2019-04-05 17:26] jvishnuvardhan commented on #27355
Thanks @vrince. Could you be little more specific and explain which part of the doc need to be changed? Thanks!

[2019-04-05 17:26] ayermolo commented on #27400
Never mind. Miss understood some things.

[2019-04-05 17:26] #27400 closed

[2019-04-05 17:28] JaviBonilla commented on #19293
Oh, that’s great! Thanks for the info @jdduke, I am going to check it 😊

[2019-04-05 17:45] haozha111 commented on #27278
Could you print out what parameters you pass in this line:
`converter = tf.lite.TFLiteConverter.from_frozen_graph(graph_def_file, input_arrays, output_arrays, input_shape)`

[2019-04-05 17:46] tanzhenyu commented on #27200
Reassigning to TFLite.

[2019-04-05 17:50] tanzhenyu commented on #27050
@zakizhou Can you list your use cases here? eager variable creation will have many side effects. Currently this is the behavior in model level, but not layer level. Having different behavior between 1) input_shape is specified, 2) input_shape is not specified is dangerous and we need to have a strongly consistent semantics in the future.

[2019-04-05 17:50] dorian821 opened #27547 "Add Tensorflow.Distributions to 2.0"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tf_nightly_gpu_2.0_preview-2.0.0.dev20190327-cp36-cp36m-wi

[2019-04-05 17:54] TF-Deve commented on #25563
Same issue here. Any progress on quantization-aware training for LSTM/RNN?

[2019-04-05 17:54] TF-Deve commented on #27437
Same issue here. Any progress/updates on this one?

[2019-04-05 17:55] skye commented on #26371
The assigns run in the final frame (and every frame) because they are loop invariants due to the RefEnters having is_constant=true (since the Variables aren't loop variables). Specifically:

All constant enters are marked as loop invariants:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/executor.cc#L2132
https://github.com/tensorflow/tensorflow/blob/master/ten

[2019-04-05 17:57] lw394 opened #27548 "tf.contrib.labeled_tensor incorrectly handling or failing with None dimensions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution : macOS Sierra
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12
- Python version: 2.7

**labeled_tensor.mul fails with None dimensions when tf.multiply doesn't.**

ipdb> X

<LabeledTensor 'X:

[2019-04-05 18:28] siavashk commented on #26764
I am closing this as I think it only requires the configuration table to be updated.

[2019-04-05 18:28] #26764 closed

[2019-04-05 18:53] senisioi commented on #22814
When I used ` --distinct_host_configuration=false`, somehow another error like this appeared from keras_preprocessing:
[code]
I guess another workaround would be to change the code and add the user site in the code:
[code]

[2019-04-05 18:56] haozha111 commented on #27329
When you use the tflite converter to convert from saved_model, the input_arrays/output_arrays are derived from the SignatureDef. [1] And input_shape is automatically determined, but in this case it seems the 2nd, 3rd dimension is 'None'. I think TF Lite currently only support 'None' shape for the batch_size dimension.

Could you try using tflite converter to convert from the frozen graph (your thi

[2019-04-05 18:56] haozha111 commented on #27329
[1]https://www.tensorflow.org/lite/convert/cmdline_examples#convert_a_tensorflow_savedmodel_

[2019-04-05 19:06] pstefanou12 opened #27549 "CUBLAS_STATUS_NOT_INITIALIZED"
Hi I am trying to run ResNet50 (v1.5) with data parallelism using horovod. When I run the model on one GPU it works. However, when I try to train the model on multiple GPUs, I get crazy errors, as follows:

2019-04-05 18:59:27.749865: E tensorflow/stream_executor/cuda/cuda_driver.cc:806] failed to allocate 28.82G (30950542336 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY: out of memory
2019-04-05 1

[2019-04-05 19:10] ymodak commented on #27469
I used google colab with gpu accelerator and the code works successfully. Can you please use google colab and confirm. I am inclined to think it is cuda issue. TF requires minimum cuda compute capability of 3.5 for gpu acceleration.

[2019-04-05 19:23] samhodge commented on #27441
I got a new error report

With error level 3 only

tfSession->Run failed: Unknown: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
[[{{node xception_65/entry_flow/conv1_1/Conv2D}} = Conv2D[T=DT_FLOAT, data_format="NCHW", dilations=[1, 1, 1, 1], padding="VALID", strides=[1, 1, 2, 2], use_cudn

[2019-04-05 19:30] henrysky commented on #27547
``tfp-nightly`` should works fine with Tensorflow 2.0, at least for my package CI test cases.

[2019-04-05 19:31] samhodge commented on #27441
Everything points to a runtime environment problem https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-457425190

Is it possible to write a diagnostic tool which prints the path and versions of CuDNN and CUDA in the client’s runtime environment?

Sam

[2019-04-05 19:58] frankchn commented on #26208
Closing issue for now, feel free to re-open if this continues to be an issue.

[2019-04-05 19:58] #26208 closed

[2019-04-05 20:04] alexsludds commented on #27525
I did some debugging. The error occurs at
optimizer.apply_gradients(zip(grads, model.trainable_variables))
in my train.py file.
I don't know why this is occuring. I don't think this function should try to create any new variables.

[2019-04-05 20:13] #27428 closed

[2019-04-05 20:14] girving commented on #27544
Would want some confirmation that such a PR would be accepted before writing it.

[2019-04-05 20:24] impjdi commented on #25657
Now that the code of checking gl context is live, I'm gonna close this issue.  Please reopen if things don't work as expected.

[2019-04-05 20:24] #25657 closed

[2019-04-05 20:28] impjdi commented on #26730
@sunzhe09

You might be able to use batch > 1 if you set `dynamic_batching_enabled` to `1`.  That applies to C++ interface though.  I don't think we did the plumbing for Java API side yet...

[2019-04-05 20:33] impjdi commented on #27320
@mattn

FYI In a previous implementation, we did have a non-compute shader-based implementation for GLES3.  However, on those "phones", the GPU was not powerful enough so that it didn't give a big performance boost either, that we eventually dropped that completely.

Of course, I have no idea about how GLES2 on RPi would perform; that's why I put "phones" in quotes ;)

[2019-04-05 20:35] ymodak commented on #27225
Apologies for the delay in response and thanks for sharing your investigation.
TF 1.12 supports cuda 9.0 whereas TF 1.13.1 and above support cuda 10.0
We have mentioned this information on the [tf website](https://www.tensorflow.org/install/gpu#software_requirements). Thanks!

[2019-04-05 20:35] ziliangpeng opened #27552 "GcsFilesystem not able to set dns cache when using long constructor"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-alpla0
- Are you willing to contribute it (Yes/No):

[2019-04-05 20:36] ziliangpeng commented on #27552
If this looks good I can submit a PR.

[2019-04-05 20:44] Tahsin-Mayeesha commented on #25445
@eggie5 Yeah, given that, any idea how can I customize the project proposal for the other points? :)

[2019-04-05 20:51] jvishnuvardhan commented on #26964
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-05 20:51] #26964 closed

[2019-04-05 21:01] mahmoud-abuzaina commented on #27521
@rmlarsen Here is the PR #27554 . Thanks!

[2019-04-05 21:02] jvishnuvardhan commented on #27030
@laiqb I don't see path issue here as all the files are in the correct path. I am not sure what we can do from tensorflow side as all the files are in right location. Thanks!

[2019-04-05 21:06] ymodak commented on #27207
The tutorial you have referenced works fine using google colab. Please give it a try using google colab. Thanks!

[2019-04-05 21:08] ziliangpeng commented on #27552
@saeta What's your thought as the dns cache author? 🙂

[2019-04-05 21:15] #15692 closed

[2019-04-05 21:15] jvishnuvardhan commented on #27035
@lyind Did you try uninstalling and reinstalling tensorflow and python. Some time old files affect the new installation. Thanks!

[2019-04-05 21:16] ymodak commented on #27453
Please provide following information. Thanks!
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
-

[2019-04-05 21:25] jvishnuvardhan commented on #26418
@jinfagang Do you have access to https://github.com/tensorflow/tensorflow/tags and https://pypi.org/project/tensorflow-gpu/? You could download from those locations. Thanks!

[2019-04-05 21:27] jdduke commented on #27202
You're absolutely right, will push a fix shortly.

[2019-04-05 21:28] alextp commented on #27455
@tomerk I think something is broken with the keras graph here since the tape isn't seeing it.

Can you take a look, or help triage to the right person?

[2019-04-05 21:28] ymodak commented on #27361
Thanks for reporting. Closing since its  a duplicate #27237

[2019-04-05 21:28] #27361 closed

[2019-04-05 21:34] jvishnuvardhan commented on #27047
@iggy12345 Please let us know whether it was resolved or not? If it was not resolved, please describe the feature with more details and context. Provide a use case where the feature is useful. Thanks!

[2019-04-05 21:36] jvishnuvardhan commented on #27081
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-04-05 21:36] #27081 closed

[2019-04-05 21:36] ymodak commented on #27180
@Ayush517 Can you please take a look at this issue? Thanks!

[2019-04-05 21:39] jvishnuvardhan commented on #27105
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-04-05 21:40] ymodak commented on #27260
Okay. I see you have mentioned that you are using TF 1.20. Is there a possibility for you to switch to latest version of TF and try again?

[2019-04-05 21:40] pgoldtho commented on #24828
The code that @jansenicus posted worked for me.   I also downgraded my NVIDIA Driver Version from 418.56 to 410.104.  `nvidia-smi` showed a CUDA Version of 10.1 with the later driver.

[2019-04-05 21:52] jvishnuvardhan commented on #27128
@fsx950223 Could you describe more details about the issue and its context? Thanks!

[2019-04-05 21:52] haozha111 commented on #24892
I'm seeing that you are still using tensorflow/contrib/lite/toco, probably you can update your tf repo to the latest and test if that helps. Also, a minimum model to reproduce the issue might be useful to debug. Thanks.

[2019-04-05 21:54] ymodak commented on #27467
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-05 21:54] #27467 closed

[2019-04-05 22:03] armando-fandango commented on #27547
distributions is part of tfp : https://www.tensorflow.org/probability/api_docs/python/tfp/distributions

[2019-04-05 22:44] pavithrasv commented on #25049
Are you still seeing this issue?

[2019-04-05 22:59] jvishnuvardhan commented on #27261
Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-04-05 23:13] ymodak commented on #27536
duplicate #27537

[2019-04-05 23:13] #27536 closed

[2019-04-05 23:38] angerson opened #27556 "Wheel and libtensorflow archives contain duplicated .so files instead of symlinks"
Although https://github.com/tensorflow/tensorflow/pull/27493 resolves our CI failures, there's still a critical issue to address that **must be fixed before April 15**: we couldn't figure out how to get symlinks working properly in Bazel-generated archives, so the extra `tensorflow_framework.so.*.*` files are all duplicates. The pip wheel is now ~120MB:

[code]
https://github.com/pypa/packaging-pr

[2019-04-05 23:50] angersson commented on #27556
For some more context, even if Bazel is configured to generate symlinks, the `pkg_tar` rule (and whatever `build_pip_package` does) will dereference them when packaging the files. We'd like our binary files to include e.g. `libtensorflow.so` and `libtensorflow.so.1` which both symlink to `libtensorflow.so.1.13.0` (I think). I can put together a demonstration of this if we need it.

[2019-04-06 00:12] jdduke commented on #27209
Is `-c fastbuild` required for bitcode support? In general, we don't really make any promises about performance in debug builds, particularly debug builds running on emulators.

[2019-04-06 00:12] damienpontifex commented on #19013
With most of the io modules that would probably use this moving to tensorflow/io I'll close this here

[2019-04-06 00:12] #19013 closed

[2019-04-06 00:34] jpangburn commented on #27209
On the referenced issue #25800 @temrich said we needed that switch for bitcode support at least until bazel 0.24 is available.  You think that switch (vs `-c opt`) is what's making all the difference?  Nothing to do with bitcode?

Regarding emulators, I think the numbers above were my numbers on a real device.  Simulator is much faster, but with somewhat similar ratios of performance to a real dev

[2019-04-06 00:44] #27202 closed

[2019-04-06 00:45] jianlingzhong opened #27557 "tf.keras lambda layer with sparse tensor caused AttributeError: 'SparseTensor' object has no attribute 'tocoo'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OSX 10.14
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 1.13
- Python version: 3.6

**Describe the current behavior**
sparse tensor operation inside a custo

[2019-04-06 01:56] mattn commented on #27320
Hmm, I hope to good to get performance on Raspberry Pi. :/

[2019-04-06 02:21] Iamanorange commented on #24892
Thank you for helping.

I gave up using tflite due to lack of  OP supports.

[2019-04-06 02:21] #24892 closed

[2019-04-06 02:56] rxy1212 commented on #27486
Thanks, It's available now.

[2019-04-06 02:57] vitalyli opened #27559 "Poincare hyperbolic embeddings support"
As you might have seen Facebook released hyperbolic embeddings training;
Is there any plan to support those in Tensorflow?

https://github.com/facebookresearch/poincare-embeddings

[2019-04-06 03:12] fsx950223 commented on #27128
If I use memory cache, it will run out of my memory.I won't use file cache because I read data from tfrecords and file cache just read data and write it to another file,it's useless for me.
Anyway to avoid memory leak and provide high performance

[2019-04-06 03:24] ageron commented on #25754
Right now the `training` argument seems broken (always `None`), using:

[code]

Because of the `learning_phase` issues, I am trying to use the `training` argument instead, but it is not set by the `fit()` method, as shown in the following code:

[code]

This code displays:

[code]

This is true even if I decorate the `call()` method with `@tf.function`.

[2019-04-06 03:24] henrysky commented on #27338
I found out the cause of error. Turns out on_epoch_end() is not reached in validation generation so it yield empty data. Nothing is wrong on Tensorflow side.

[2019-04-06 03:24] #27338 closed

[2019-04-06 03:39] liyunfei1994 commented on #27409
Thanks a lot for helping me!!
Let me explain my  model firstly.
My input is  pressure data. I use TFRecords and tf.data to put the pressure data into the model.
And my label is the flow field pictures. So you can see, I use the supervised learning.

In order to achieve  upsampling, I use conv2d_transpose to convert the pressure data into a picture  4D Tensor.
So, I use 4 times  conv2d_transpose, a

[2019-04-06 03:40] liyunfei1994 commented on #27409
@muddham

[2019-04-06 03:44] zakizhou commented on #27050
@tanzhenyu

[code]

[2019-04-06 04:20] andportnoy commented on #25442
@jvishnuvardhan I also ran into this, please reopen.

[2019-04-06 04:31] jchia commented on #16889
@yoavz Why would inter-op make cause non-deterministic results instead of intra-op. For intra-op, I expect that you can get different order of arithmetic operations in every run because of how a tensor operation is broken up to be run on different threads resulting in different floating-point error. For inter-op, I don't understand how.

[2019-04-06 05:46] dorian821 commented on #27547
@armando-fandango intuitively, this is what I would expect, but I get this error. and if you open up the actual distribution modules in tfp, you'll see that they import from tf

[code]

@henrysky, thanks, I'll give it a try.

[2019-04-06 06:02] PikkaPikkachu opened #27560 "Caused by: java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model"
Hi,
I am training a model for image classification in TensorFlow using pre-trained model of MobileNet and embedding the .tflite file in Android app.

It so happens that if I do `model.add(layers.Flatten())` after adding the MobileNet model, I get the following error, when executing the Android app:
`Caused by: java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model`

However

[2019-04-06 06:04] robieta commented on #27409
To clarify: the code snippet should be the minimal code required to replicate the reported issue.

[2019-04-06 06:53] a6802739 commented on #26839
@alextp  From
`https://github.com/tensorflow/tensorflow/blob/b43029085bfa48caaef718c9d44abdc116efc600/tensorflow/python/ops/array_ops.py#L653`
[https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py#L653](url)

[2019-04-06 07:12] dkurt commented on #26947
@hamzeah, Have you tried to follow [a guide](https://github.com/opencv/opencv/wiki/Intel%27s-Deep-Learning-Inference-Engine-backend#raspbian-stretch) (excluding Intel's IE related stuff)? It describes how to create a docker image for Raspberry Pi cross compilation.

[2019-04-06 07:15] perfinion commented on #27556
Also somewhat related: https://github.com/tensorflow/tensorflow/issues/27430

So the only one that is strictly required in the pip wheel is `libtensorflow_framework.so.1` since that is the one that matches the soname. The fuller length `libtensorflow_framework.so.1.13.1` is used in distros a lot (with the symlinks) but for the pip wheel i have no issues dropping it.
`ldd $(find . -iname "*\.so*")

[2019-04-06 08:36] ymsaputra opened #27562 "tf.estimator.train_and_evaluate does not show anything when running multi-worker example in TensorFlow 2.0 Alpha"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-04-06 08:43] yueyinlizun commented on #383
Here is a useful method.[https://blog.csdn.net/yueyinlizun/article/details/89057243](url)

[2019-04-06 08:47] yueyinlizun commented on #383
Just update the tensorflow to a newer version.

[2019-04-06 09:19] carrieeeeewithfivee commented on #22342
faced the same problem, and
tensorflow==1.13.1,
pandas==0.23.0,
matplotlib==1.5.1
worked for me : )

[2019-04-06 09:31] llan-ml opened #27565 "[TF==2.0.0a0] @tf.function raises ValueError when computing gradients"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-06 10:54] jheffez opened #27568 "TF2 Keras rms_optimizer.get_updates error"
Hello, trying to migrate from standalone Keras and TF 1.12 to TF2.Keras.
I used the tf2 conversion script and, then changed import keras.xx to import **tensorflow**.keras.xx. Yet, still getting error: `TypeError: get_updates() takes 3 positional arguments but 4 were given. `

in the line:
`updates = self.rms_optimizer.get_updates(self.model.trainable_weights, [], loss)`

It works in the standalone

[2019-04-06 12:04] plumtus commented on #26794
@jvdgoltz This doesn't seem to work for me, when I reinstall tensorflow-estimator-1.13.0

[2019-04-06 12:18] llan-ml commented on #27565
I found a simple script to reproduce this issue, and it seems that the op `tf.sparse.sparse_dense_matmul` causes this issue.
<pre>
# -*- coding: utf-8 -*-
# @Author  : Lin Lan (ryan.linlan@gmail.com)

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import numpy as np
import scipy as sp
import tensorflow as tf

def sparse_to_tuple(sparse

[2019-04-06 12:42] dynamicwebpaige commented on #27547
@dorian821 You might need to install `tfp-nightly`, if you had a previous version of TensorFlow Probability (i.e., not compliant with TF 2.0). Let us know if you run into any snags! 🙂

[2019-04-06 12:52] dynamicwebpaige commented on #27548
@lw394 Thanks for the question! Endpoints housed in `tf.contrib.*` are unsupported, with volatile functionality, and [`tf.contrib.labeled_tensor`](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md#list-of-projects) will be deprecated in TensorFlow 2.0.

`lt.mul`, `*`, and `tf.multiply` have slightly different functionality (for example, the latter supports broadca

[2019-04-06 12:53] #23096 closed

[2019-04-06 12:54] tensorflowbutler commented on #23096
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-04-06 12:54] tensorflowbutler commented on #26484
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-06 12:54] tensorflowbutler commented on #27026
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-04-06 14:35] biltongza opened #27575 "State build requires bazel <=0.23.0 for v2.0.0-alpha0"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: v2.0.0-alpha0
- Doc Link: https://www.tensorflow.org/install/source_window

[2019-04-06 14:56] blup-Blupon commented on #24828
@windskyl I encountered a similar issue, the first solution I used stopped working (@oscarlinux's solution)

[code]

The code worked again by using the slightly different solution from @kitfactory (does the `sess.as_default()` last line actually make a difference with the first one ? ...)

[code]

Then the next time I booted my Ubuntu the Nvidia driver 418.56 somehow disappeared. After its re-inst

[2019-04-06 15:05] biltongza commented on #27575
PR https://github.com/tensorflow/docs/pull/465

[2019-04-06 16:28] dorian821 commented on #27547
@dynamicwebpaige thanks! I've installed it and it's working fine. I've noticed that tfp-nightly-gpu however is still missing a lot of the layers and distributions present in tfp-nightly. Is the gpu distribution likely to be updated soon?

[2019-04-06 16:41] henrysky commented on #27547
I think they abandoned the tfp-gpu since tfp is completely based on tf now. So tfp-gpu is not neccessary anymore

[2019-04-06 16:47] jedbaxter commented on #22794
What a sorry mess of an install process this currently is!

With thanks to the contributors here I have finally got it working (I think!)

I had followed all the regular PIP install processes from the tensorflow page and had ended up with this combination on my new Windows 10 desktop (Nvid GTX 1660):

Tens: 1.13.1
Cuda: 10.1
cuDNN: 7.5

and also updated my system PATH to add those libraries as nee

[2019-04-06 17:01] dorian821 commented on #27547
ah ok, great. thanks for clarifying.

[2019-04-06 17:01] #27547 closed

[2019-04-06 17:21] lw394 commented on #27548
Thanks for the reply!  Will there something serving this purpose in 2.0?

On Sat, Apr 6, 2019, 8:55 AM Paige Bailey <notifications@github.com> wrote:

[2019-04-06 17:36] iperov commented on #26218
still no solution?
I guess it is not fixed in tf 2.0

[2019-04-06 17:40] biltongza opened #27576 "nvcc error : 'cudafe++' died with status 0xC0000005 (ACCESS_VIOLATION)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 1809 17763.316
- Mo

[2019-04-06 18:04] plentypvp opened #27577 "TensorFlow 2.0 Alpha Tensorboard graph bug"
**System information**
- Have I written custom code: No, I'm using MNIST Tensorboard example provided by Google.
- OS Platform and Distribution: Ubuntu 16.04
- Binary installation (sudo pip3 install tf-nightly-2.0-preview)
- TensorFlow version (use command below): 2.0.0-dev20190405
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0
- GPU model and memory: NVIDIA GTX 1080 Ti 11GB

**Describe the cu

[2019-04-06 18:21] malidoost commented on #26451
Hi @nouranik ,

I am a new PhD student in bioengineering. I am going to do vessel segmentation. I actually saw your message in the issues of "https://github.com/ellisdg/3DUnetCNN". I am also new to python and want to use 3D UNet from the mentioned github page. I was wondering if you could help me to use it. I was not able to find your email; therefore, I am contacting you heare! my email address i

[2019-04-06 18:31] ymodak commented on #27486
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-04-06 18:42] ymodak commented on #27490
I executed the above two lines in my TF 1.13.1 setup. It passed with following warning message:
[code]

[2019-04-06 18:44] #27165 closed

[2019-04-06 18:45] ymodak commented on #26468
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-06 18:47] ymodak commented on #26912
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-04-06 18:47] #26912 closed

[2019-04-06 18:56] tarrade opened #27581 "keras model.predict_on_batch/model.test_on_batch with tf.dataset: dataset.make_initializable_iterator is not supported when eager execution is enabled."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): yes
- TensorFlow version (use command below): 2.0.0-alpha0
- Python

[2019-04-06 19:00] Abhit05 opened #27582 "Error during testing of Object Detection API"
**System information**
- OS Platform and Distribution :Windows 10
- TensorFlow installed from (source or binary):cmd
- TensorFlow version:1.13.1
- Python version:3.7
- Installed using virtualenv? pip? conda?:pip
- CUDA/cuDNN version: don't know
- GPU model and memory: 1.13.1

**Describe the problem**

python object_detection/builders/model_builder_test.py

**Any other info / logs**
Traceback (most

[2019-04-06 19:02] tarrade opened #27583 "Doc keras/Model for "predict" function the list of argument is not display properly (fullblock instead of list)"
**System information**
- TensorFlow version: 2.0
- Doc Link:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/Model

**Describe the documentation issue**

In the documentation keras/Model for "predict" function the list of argument is not display properly (fullblock instead of list) on both Chrome and Firefox

<img width="910" alt="Screenshot 2019-04-06 at 20 59 00" src="https://u

[2019-04-06 19:07] DarnelleF commented on #24491
Check failed: status.ok() Unexpected value for attribute 'data_format'. Expected 'NHWC'\n"

i am using tensorflow 1.12.0 ( ive tried nightly )
i am using cuda* as device ( which is cpu)
and still get this i cant seem to find out how to solve this where do i state that i want nhwc

[2019-04-06 19:18] jing-dong commented on #23733
Since I have not heard back regarding this issue, I will close it for now. Please feel free to reopen the issue with a setup to reproduce the problem.

[2019-04-06 19:20] saifjsl commented on #26468
Hi, I am still interested on this issue. Was closed by bot. Still opening, still happening.

[2019-04-06 19:28] cottrell opened #27584 "No simple function optimisation examples for tensorflow 2.0?"
I don't see any simple function optimisation example for tensorflow 2.0.

Something like log(x) ** 2 could be good.

[2019-04-06 20:00] ygoncharov commented on #23733
@jing-dong this thread contains the exact environment (see my post the latest NVIDIA TF 1.13 container running on Google Gloud, python2 (nvcr.io/nvidia/tensorflow:19.03-py2) and the code (see @urimerhav  post) to reproduce the issue.

For easier repro try the following:
1. Env: nvcr.io/nvidia/tensorflow:19.03-py2 running on GC v100
2. Create a GS bucket with ~100k files
3. Read all these files one

[2019-04-06 20:03] tatianashp commented on #26218
@iperov Is this still an issue?

[2019-04-06 20:08] iperov commented on #26218
@tatianashp are you kidding?
reproduced significantly performance downgrade
no fix or official comment about it

[2019-04-06 20:41] samhodge commented on #27441
It all leads back to cudnn64_7.dll not having an overly specific name see https://en.wikipedia.org/wiki/DLL_Hell

[2019-04-06 20:49] hamzeah commented on #26947
@dkurt , yes, actually I followed that link 2-3 weeks ago.
But it generated some errors. I think the instruction is old and part 4.B should be updated. I tried to modify it, but not successful and end up with the error on this page!

[2019-04-06 21:00] amanp592 commented on #27577
@plentypvp hey! i used the same code and ran tensorboard i didn't faced any issue and got the graph as expected!!
Did you tried running it again and starting tensorboard again??

[2019-04-06 21:04] amanp592 commented on #27582
@Abhit05 i once faced this issue and mine was due to the wrong version of CUDNN. For a better help can you tell me the version of CUDA and CUDNN you're using??

[2019-04-06 21:25] plentypvp commented on #27577
Yes, I have tried doing it multiple times. I'm using TensorBoard 1.14.0a20190319. If you got the graph as expected, can you share your OS distro, Python version, TensorFlow version, TensorBoard version?

[2019-04-06 21:26] samhodge commented on #27441
Could be related to this. https://github.com/tensorflow/tensorflow/issues/24496

[2019-04-06 21:48] jaba166 commented on #27312
not sure if the build/install tag is correct as the package is correctly built and installed. Instead it seems the initialization of the `logging` module the culprit.

[2019-04-06 21:49] samhodge commented on #27441
The suggested solution on that ticket is to allow growth

https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth

But this is a performance decision

[2019-04-06 21:51] samhodge commented on #24496
Is blanket allow growth a solution

It is turned off by default for a reason see
https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth

In my program memory management is important

[2019-04-06 22:50] phornstein opened #27593 "ModuleNotFoundError: No module named 'tensorflow.python'"
**System information**
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: tried "conda install tensorflow", "pip install tensorflow", and "pip install https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.13.1-cp36-cp36m-win_amd64.whl"
- **TensorFlow version**: latest
- **Python version**: 3.6
- **Installed usi

[2019-04-06 23:55] lamberta commented on #27593
Hi Parker, have you tried the steps for Windows/Conda here? https://www.tensorflow.org/install/pip

[2019-04-07 00:38] phornstein commented on #27593
Billy,
I’ve tried all of the options listed on the tensorflow install docs. All produce the same “no tensorflow.python” module error.

[2019-04-07 00:40] samhodge commented on #27441
Just confirmed this code:
[code]

This results in a properly calculated graph
[code]

[2019-04-07 00:44] samhodge commented on #24496
I am working in C++ under Windows

Adding the allow growth option results in an OOM error.

Without this line of code the model runs fine on the same machine with the same card.

With OOM error
[code]

Without OOM error
[code]

So to solve this problem with set allow growth results in a segfault.

[2019-04-07 00:46] willbattel commented on #25800
@temrich is there a rough estimate of when we might see a publicly available `TensorFlowLiteSwift` pod made available?

[2019-04-07 00:48] samhodge commented on #27441
Here is the log without set allow growth

[code]

[2019-04-07 00:52] samhodge commented on #27441
With allow growth enabled, uses Shared GPU memory as well as Dedicated GPU memory.

[code]

[2019-04-07 01:24] liyunfei1994 commented on #27409
This is my ops.py
These are some fuctions will be used in my model
Include deconv2d and conv2d and Batch_normalization and Linear function
[code]
And this is my Network.py
Here I define my network structure
[code]
In order to put the pressure data and the picture data into the model
I use the TFrecords and tf.data
Here is my Input.py
[code]

Thanks a lot!!

[2019-04-07 01:25] liyunfei1994 commented on #27409
@robieta @muddham @tensorflowbutler @jvishnuvardhan

[2019-04-07 02:34] yongtang commented on #27583
I think the issue is that the first line `x: Input samples.` should be prefixed with 4 spaces (not 5). Created a PR #27596 for the fix.

[2019-04-07 02:44] shashvatshahi1998 commented on #25663
I want to work on this issue please can somebody guide me in this?

[2019-04-07 03:14] manuel3265 opened #27597 "RuntimeError: Attempted to use a closed Session. with flask"
I'm trying to run a Tacotron-2 training in flask, get parameters in json format. but the following error arises when I execute the training:

[code]
Why can it be produced?
---

### Expected Behavior

I should start training normally
If I execute the training without flask, this is executed normally

### Environment

* Python version: 3.6
* Flask version: 1.0.2
* Tensorflow version: 1.13.1

[2019-04-07 03:15] temrich commented on #25800
Hoping to push them to public CPDC this week. Will post here once they have been pushed.

[2019-04-07 03:55] ARozental opened #27598 "RaggedTensor casting bug"
version 2.0.0-alpha.
Nested RaggedTensor are cast to int64 without apparent reason:

with regular tensors (ok):
[code]
with nested RaggedTensor (not ok):
[code]

Also they can not be used to create generators even with dtype=int64. The following code leads to:

[code]

[2019-04-07 05:03] amanp592 commented on #27577
@plentypvp I ran your given code and for me the keras tag worked without any changing like you mentioned but yes the tag batch_2 stuck at `Parsing graph.pbtxt`

OS: Ubuntu 116.04
Tensorflow Version: Tensorflow 2.0 Alpha
Python 3.6

[2019-04-07 06:03] bloops commented on #26204
Only for matmul. What else do you have in mind?
We are considering adding broadcasting support for matrix solve as well.

[2019-04-07 06:14] HongmingHUANG commented on #20041
I got the same problem with you, with tensorflow 1.9.0 and cuda 10.0.
How do you fix the problem? I am trying to update the tensorflow now.

[2019-04-07 06:18] captain-pool commented on #27597
Looks like you are attempting to use a closed session. The Main Reason may be because you are wrapping the training in a context manager of Session. So when you are trying to access the session outside the Context Manager, the error is being raised.
In this kind of situations, it would be better not to use context managers, instead define a Session in a class variable, and close the session when f

[2019-04-07 06:34] tatianashp commented on #26218
@smit-hinsu Can you look into what's happening here?

[2019-04-07 06:35] tatianashp commented on #26218
@iperov Sorry it fell through the cracks.

[2019-04-07 06:48] karthi0804 commented on #15019
@suryasumukh In order to retrain the pre-trained model, the initializer of data iterator can be declared as a tf.operation with a name while training for the first time. Then, it can be sess.run with the name and fed with data.
[code]

[2019-04-07 07:36] captain-pool commented on #27598
the data generated from `tf.data.from_generator` is type casted into desired type, by converting it into numpy array

https://github.com/tensorflow/tensorflow/blob/20bbe5a17eeda011c4de74aa48d59ff4fc2f2090/tensorflow/python/data/ops/dataset_ops.py#L456-L457

https://github.com/tensorflow/tensorflow/blob/20bbe5a17eeda011c4de74aa48d59ff4fc2f2090/tensorflow/python/ops/script_ops.py#L167

However, as f

[2019-04-07 07:39] neal668 commented on #22512
I tried many conbinations, finally,
TF 1.12, cuda 9.0, cudnn 7.0 can successfully work.
I suggest don't try cuda 10.1 since the version may not compatible with old TF version

[2019-04-07 07:41] mandagod opened #27601 "tensorflow/contrib/android build feild nsync.a: malformed archive header name at 8"

[2019-04-07 07:46] mandagod commented on #27601
I rearchive it and add -s flags, will fix the problem
${NDK_ROOT}/toolchains/arm-linux-androideabi-4.9/prebuilt/darwin-x86_64/arm-linux-androideabi/bin/ar -scrv libnsync.a *.o

[2019-04-07 08:15] pechyonkin commented on #23840
This issue still persists as of April 7, 2019. I installed Raspbian and then followed the instructions as per Tensorflow installation [guide](https://www.tensorflow.org/install/pip). Then, I got this error message.

[2019-04-07 08:41] captain-pool commented on #27598
On a Second thought,
This issue can be solved by modifying the from_generator() function.
@dynamicwebpaige  @alextp can I work on it?

[2019-04-07 08:50] pleabargain opened #27602 "tf_upgrade_v2 fails on google colab and latest jupyter notebook"
in all fairness tensorflow 2 is in alpha... but the docs indicate the tf1 > tf2 script should work:
https://www.tensorflow.org/alpha/guide/upgrade

**System information**
using the code from https://www.tensorflow.org/alpha/guide/upgrade
I get syntax errors on google colab and on jupyter notebook

- TensorFlow installed from (source or binary):
!pip install tensorflow==2.0.0-alpha0

- TensorFlow v

[2019-04-07 08:51] plentypvp commented on #27577
"for me the keras tag worked without any changing like you mentioned". It worked without any changing for you probably because you have Python 3.6.

"but yes the tag batch_2 stuck at Parsing graph.pbtxt". And that's the bug that should be forwarded to Tensorflow team.

In conclusion, I get the following:
Ubuntu 16.04
Python 3.5.2

1. Tensorflow v2.0.0-dev20190405, TensorBoard 1.14.0a20190319:
The

[2019-04-07 09:24] qo4on opened #27603 "GPU Installation Issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, i5-750 only SSE4.2

[2019-04-07 09:26] amanp592 commented on #27577
@wchargin  @nfelt  what would you say for this??

[2019-04-07 09:44] kzh22 commented on #27216
thank you.

[2019-04-07 09:44] #27216 closed

[2019-04-07 09:53] Mylittlerapture commented on #27603
I also have problem when trying to install gpu version of tf2. Only the error is different.

`THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE. If you have updated the package versions, please update the hashes. Otherwise, examine the package contents carefully; someone may have tampered with them.
    tensorflow-gpu==2.0.0-alpha0 from https://files.pythonhosted.org/packages/2b/39

[2019-04-07 10:07] zenglh666 commented on #22399
It works for me

[2019-04-07 10:18] MasterSkepticista opened #27604 "tensorflow-gpu works with this exact config on Windows 10 (python 3.6.2 ONLY)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10-1703
- Mobile devic

[2019-04-07 10:19] #27601 closed

[2019-04-07 10:19] mandagod commented on #27601
later report

[2019-04-07 10:30] ymsaputra commented on #27562
It seems that when I enable: tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.INFO). This error happens

[code]

[code]

[2019-04-07 11:10] samhodge commented on #27441
Looks like this tool

http://docs.nvidia.com/cuda/cuda-memcheck/index.html

Can be useful if I can instruct the clients about how to use it

[2019-04-07 11:47] talarari commented on #24417
This is an old issue but for people that are still running into this, add this before the glcoud install step:
[code]

[2019-04-07 13:45] ARozental commented on #27598
Thanks, the above solution avoids the conversion bug though it seems there is another issue with building a generator of RuggedTensors

stack trace:

my code looks like this:

[code]

[2019-04-07 13:50] captain-pool commented on #27598
I know. I'm not yet complete. I'm testing out various ways.
Will create a PR as soon as I'm done.

On Sun, 7 Apr 2019, 7:18 pm ARozental, <notifications@github.com> wrote:

[2019-04-07 13:50] caissalover commented on #12492
Now that tf.function has become central in 2.0, a feature named tf.prange (parallel range) can be extremely helpful to manually place a single graph in parallel on GPU. This will help code to be debugged better.

I request you to reconsider this to enable easier and faster code in tf2.0

[2019-04-07 14:05] captain-pool commented on #27598
@ARozental You may now take a look. This is the fastest way to fix the bug. `gen_dataset_ops` creates Tensor out of the Data provided, and there's no support for RaggedTensors.

[2019-04-07 14:13] LJXLJXLJX opened #27606 "CMake Error at tf_core_ops.cmake"
**System information**
- OS Platform and Distribution : Windows 10 64bit
- TensorFlow installed from (source or binary): source
- TensorFlow version: v1.12.0
- Python version: python3.6 64bit
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): bazel-0.24.1-windows-x86_64.exe
- GCC/Compiler version (if compiling from source): vs2015
- CUDA/cuDNN version: cpu

[2019-04-07 15:08] manuel3265 commented on #27597
what a pity, I'm new to this tensorflow, the problem lies in the use of flask, when I run the training in the terminal, this is executed normally. but if I use flask, the problem of the closed session occurs.

I do not know what the code should be attached to

### train.py
[code]

### tacotron/train.py

[code]

### feeder.py

[code]

The tour is the following:

goes to the function start_train in

[2019-04-07 15:17] captain-pool commented on #27597
Please don't paste **complete** codes here

[2019-04-07 15:25] asimshankar commented on #26468
I noticed that the `loadLibrary` call is loading a `.so` file. Shouldn't it be loading a `.dll` file? Does `ner-dl\win\_lstm_ops.so` exist?

[2019-04-07 15:31] manuel3265 commented on #27597
I'm sorry, I already edited the comment and left the 6 main functions.

[2019-04-07 15:34] saifjsl commented on #26468
Yes, the file exists. the error is the same if you make up a file name. The same code works on linux and mac. I am not sure if it should be a .dll. If so, I'd like to know where to get the lstm contrib libs for windows.

[2019-04-07 15:34] karansomaiah commented on #21251
Hey @dhingratul I'm facing the same issue but I haven't been able to build my custom op with tensorflow source as well. Can you tell me how you did it? It'll be really helpful! I added the .cc files and the BUILD rule in tensorflow/core/user_ops but the build doesn't succeed. Need the custom op for inference in C++ too.

[2019-04-07 16:44] GeorMurk commented on #6341
on my end, none of these solutions were working...

[2019-04-07 16:56] edrozenberg commented on #27155
For my case I found an easier workaround for now:
[code]

As I document below I found out that it is looking in /usr/lib64 among other places, so I gave it what it wants.
https://github.com/tensorflow/tensorflow/pull/26230#issuecomment-480608904

[2019-04-07 17:08] chwang85 commented on #27016
When will you deprecate keras?
When will you deprecate Tensorflow?
When will you deprecate Google?

[2019-04-07 17:09] chwang85 commented on #26151
When will you deprecate keras?
When will you deprecate Tensorflow?
When will you deprecate Google?

[2019-04-07 17:10] chwang85 commented on #26844
When will you deprecate keras?
When will you deprecate Tensorflow?
When will you deprecate Google?

[2019-04-07 17:13] ikrunalpatel commented on #25822
@vrl2 Try using Tensorflow 1.5 with Python 2.7. I got the same error and I have tried Tensorflow versions 1.5, 1.5.1, 1.7, and 1.13 but only v1.5 worked. You can try doing that.
My system info: MacOS Mojave 10.14; Python 2.7; TensorFlow 1.5

[2019-04-07 17:13] cheeseshredder opened #27607 "ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Windows 10):
- Mobile device (e.g. iPhone 8, Pixel 2, Sam

[2019-04-07 17:56] shashvatshahi1998 commented on #27544
for x in inputs:
    if x.dtype == dtypes.float16:
      x = cast(x,  dtypes.float32, name=name)
I have added these lines in tensorflow/python/ops/math_ops.py/add_n function. I guess these lines will solve your problem no 2, if yes I will make a pr.

[2019-04-07 18:41] ymodak commented on #27176
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-07 18:41] #27176 closed

[2019-04-07 18:46] Soulthym commented on #27155
That fixed it for me until a better solution comes along, although under Arch the path is a bit different since `cuda` is directly under `/opt/` instead of `/opt/nvidia` :
[code]
Package used for install: `community/python-tensorflow-cuda 1.13.1-4`

[2019-04-07 19:03] dkurt commented on #26947
@hamzeah, Have you used docker to compile OpenCV? If you followed the guide step-by-step but faced any problem please don't hesitate to open [an issue](https://github.com/opencv/opencv/issues) providing the error message.

[2019-04-07 19:29] wookayin commented on #27016
When you use `tf.keras.layers.Dense()`, you actually do not need to bother using variable scope. The layer object itself allows you to reuse variables, as those variables-to-be-shared are created in the constructor.

However, I also agree that the expected behavior is just what is described in the issue (on 1.X), as it sounds more consistent. I know variable_scope will be depcreated, but since tha

[2019-04-07 20:31] #27026 closed

[2019-04-07 20:50] ARozental commented on #27598
@captain-pool This is what my second note was about. When I add these lines:
[code]
It does solve the first bug:

but then you get to the second one (which I could not see before):

I wasn't able to find out my self how deep this rabbit hole goes.

[2019-04-07 20:56] captain-pool commented on #27598
@ARozental what do you mean? Ia the new fix not working?
Please check PR: #27605
I typecasted the RaggedTensor into normal tensor. Because, I saw, there's no support for RaggedTensor by dataset on a C++ level.

[2019-04-07 22:58] samhodge commented on #27441
With allow growth turned on there is nothing insightful from cuda-memtool

see

[code]

[2019-04-08 00:03] saeta commented on #27552
Hi @ziliangpeng ! Thanks for reaching out. I think this would be great to fix. (Out of curiosity, do you have an alternate DNS cache implementation in mind, or some other use case?)

[2019-04-08 00:06] samhodge commented on #27441
Without memory growth on I am finally able to get a trace from Natron

[code]

[2019-04-08 00:07] ARozental opened #27608 "Multidimensional Keras recurrent layers"
Tensorflow 2.0.0-alpha

currently Keras recurrent layer expect their input to have exactly 3 dimensions: (batch, sequence_length, element_size)

Input of higher dimensions will result in the following error:

The wanted behavior is as follows:
let's say that I have in input of shape (2, 3, 5, 4) where every element in my batch have 3 documents: (batch, document_number, sequence_length, element_siz

[2019-04-08 00:09] samhodge commented on #27441
Interestingly running without cuda-memcheck.exe doesnt result in a crash.

[2019-04-08 00:22] ARozental commented on #27598
That is a problem...
my use case is the one from the TF documentation

https://www.tensorflow.org/guide/ragged_tensors

Basically, I'm trying to encode entire books, but if every book has "max_number_of_capters", every chapter has "max_number_of_paragraphs" and every paragraph has "max_number_of_sentences" then I won't be able to fit even one book in my GPU memory :/

[2019-04-08 01:45] isuhendro opened #27609 "IOS tensorflow-lite , error: 'tensorflow/core/framework/resource_handle.h' file not found"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `MacOS High Sierra v10.13.7`
-

[2019-04-08 01:59] dalematt commented on #25729
I did a complete upgrade on my anaconda installation and that fixed the problem.

[2019-04-08 02:23] Keepmoving-ZXY commented on #27207
It seems that google colab do not provide GPU, so TensorFlow will not use `nccl` library to reduce, it can not  repeat the problem.

[2019-04-08 02:30] BenAbabaei opened #27610 "PackageNotFoundError: Package missing in current win-64 channels: - python 3.7*"
**System information**
- Windows 10
- TensorFlow installed from GitHub (devtools::install_github("rstudio/tensorflow"))
- TensorFlow version: latest per 2019.04.08 (r1.13)
- Python version: 3.7
- Bazle version: 0.24.1 (bazel-0.24.1-windows-x86_64.exe)
- Installed using 'default' for windows, i.e. 'system'. The same with 'conda'

**I followed issue [20517](https://github.com/tensorflow/tensorflow/i

[2019-04-08 02:45] armando-fandango opened #27611 "E1102 non-callable raised by pylint when extending from tf.keras.layers.Layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-08 02:56] SefaZeng commented on #27508
Now,I found all the xxx.pb.h file in this path

But why? As the example said, you need to `#include "tensorflow/core/public/session.h"` and the session.h file `include "tensorflow/core/framework/device_attributes.pb.h"`. So,the generate file from protoc should be in the path which is right to the session.h,right?

Need I check all the files in the gen?

[2019-04-08 03:25] anhtu812 commented on #26672
tf-nightly-2.0-preview fixed KeyError: '../FusedBatchNorm/ReadVariableOp/resource'. But it don't fold  BatchNorm therefore it generate error tflife not support BatchNormalization.
"Here is a list of operators for which you will need custom implementations: BatchNormalization."

[2019-04-08 03:32] sabrina-su commented on #23898
Anything new? I have the same problem

[2019-04-08 03:34] armando-fandango commented on #27611
This code shows that there is something that pylint is not able to infer but objects from classes inherited from tf.keras.layers.Layer are callable:

class a(tf.keras.layers.Layer):
  pass
class b(a):
  pass
class c(b):
  pass
aobj = a()
bobj = b()
cobj = c()
print(callable(aobj))
print(callable(bobj))
print(callable(cobj))

prints True 3 times.

[2019-04-08 03:42] ToonTalk opened #27612 "Incomplete instructions for using images as metadata in https://www.tensorflow.org/guide/embedding"
**System information**
- Doc Link: https://www.tensorflow.org/guide/embedding

**Describe the documentation issue**

The guide says

It then goes on to explain what the sprite image should look like (but it doesn't make clear if it needs to be "square" where each row contains a number of thumbnails close to the square root of the total number of vectors). Is any standard image format OK? What does

[2019-04-08 03:46] sidgan commented on #27329
Solution: There is an `export_tflite_ssd_graph.py` file provided in the repository which needs to be used in place of the previous script `export_inference_graph`, which allows conversion to `tflite` format.

'''
python export_tflite_ssd_graph.py --pipeline_config_path=training/pipeline.config --trained_checkpoint_prefix=training/model.ckpt-20000  --output_directory=tflite_model --add_postprocessi

[2019-04-08 03:46] #27329 closed

[2019-04-08 03:50] WenguoLi opened #27613 "No improvement in performance of deeplabv3_257_mv_gpu.tflite on TFLite for GPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-04-08 03:56] liyunfei1994 commented on #27409
After many attempts, finally I find where the mistake is!!!
Well, we need to use tf.reshape() after the conv2d_transpose, but it's not enough, we also need to use tf.reshape() after the conv2d.
The reason why we need tf.shape() after the conv2d_transpose and conv2d is maybe the shape of Tensor will be lost in the training.
Then, the problem is settled!!!

[2019-04-08 03:56] #27409 closed

[2019-04-08 04:22] captain-pool commented on #27598
@ARozental you can read the tensors. And Remove the Paddings from the tensors as they arrive, to create RaggedTensors out of it. That can be a way to handle this.

[2019-04-08 04:27] armando-fandango commented on #27340
For the features moved to other repos such as `probability` or `addons`, the upgrade script can probably give more information regarding where the feature has been moved to.

[2019-04-08 04:29] DannyKong12 commented on #25093
Sphinx-doc has updated to v2.0, the python 3.6 formula (f2a764ef9...) is attempting to install sphinx using Homebrew, which deprecates functions needed to build docs for python 3.6. Installing a previous version of sphinx won't link since its keg-only, and --force doesn't help. The only way to reinstall after python 3.7 is to not build the docs.

I have uploaded a formulae that seems to work with

[2019-04-08 04:34] shashvatshahi1998 commented on #27292
I want to work on this issue please @ymodak can you guide me please?

[2019-04-08 04:46] anhtu812 opened #27614 "how to freeze graph in tensorflow 2.0"
not found any related document

[2019-04-08 05:09] shashvatshahi1998 commented on #27195
@alextp can you please guide me, I want to work on this issue.

[2019-04-08 05:11] armando-fandango commented on #27310
Just tried in Google Colab, tf version 2.0.0-dev20190405
`from tensorflow.optimizers import Adam`
[code]

same error with `import tensorflow.keras.optimizers.Adam` and `from tensorflow.optimizers import Adam`

However this works: `from tensorflow.keras.optimizers import Adam`

Seems like some mixed up imports in __init__ ?

[2019-04-08 05:42] wookayin commented on #27045
A bit hacky, but this works for me.

[code]

[2019-04-08 05:53] codexponent commented on #7696
ty to @tangyanlin @LingjiaDeng
Avoid doing this on the line on the corresponding config file that you are using:
[code]
as this gives you the error. I **solved** mine using this:
[code]

[2019-04-08 06:01] pleabargain opened #27615 "https://www.tensorflow.org/alpha/tutorials/next_steps is 404"
on this page
https://www.tensorflow.org/alpha/tutorials/keras

the next step link

 learning resources are listed in next steps.
 https://www.tensorflow.org/alpha/tutorials/next_steps

 is 404

[2019-04-08 06:03] codexponent commented on #11312
@mrry comment solved my problem. :)

[2019-04-08 06:16] codexponent commented on #13044
@Coderx7 comment gave me an idea to solve my problem. At first I was encoding the image with base64 which didn't help at all. So, i referenced this [link](https://github.com/visipedia/tfrecords/blob/master/create_tfrecords.py)
The main takeaway functions and class are

- ImageCoder

- _is_png

- _process_image

use these and implement in your code.

[2019-04-08 06:23] codexponent commented on #24828
Note: This solution is not for those developers who already have another code running on their default CUDA version as implementing this solution may break your previous code. If you have another instance to spare, then only try using this solution.
First Check your cudnn version using this snippet of code
[code]
if it doesn't match with the version the code is compiled (mine was 7.4.2), go to thi

[2019-04-08 06:27] SetoKaiba commented on #27425
Can any one reply or help?

[2019-04-08 06:36] lenjoy commented on #27416
`DenseFeatures.dtype` is None, so it can't be passed into `Input` in existing code.

nice workaround @littlehome-eugene !

[code]
any syntax sugar to create `map[string]Input feature_inputs_d` per column or from `feature_column` directly?
then it doesn't need to fit FeatureModel in this way

[2019-04-08 06:42] ramrahu commented on #13651
Hi,
I had the same issue and I tried this method. But after this, I started getting the following error:
2019-04-08 11:54:59.302 17408-17563/org.tensorflow.demo E/TensorFlowInferenceInterface: Failed to run TensorFlow inference with inputs:[SeqLen], outputs:[SparseToDense]
2019-04-08 11:54:59.302 17408-17563/org.tensorflow.demo E/AndroidRuntime: FATAL EXCEPTION: Thread-3
    Process: org.tensorflo

[2019-04-08 06:46] karlschriek commented on #21898
This issue seems to be quite stale by now, but the problem still persists, at least for me. Has there been any kind of fix yet?

[2019-04-08 06:56] WenguoLi opened #27617 "'flatten_atrous_conv' misses to flatten some atrous_convs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):  master
- Py

[2019-04-08 07:02] jyotirmayghosh commented on #27278
[code]

[2019-04-08 07:08] isuhendro commented on #27609
I rerun `pod install`, restart `Xcode`, then this _'tensorflow/core/framework/resource_handle.h' file not found_ disappeared.

[2019-04-08 07:11] kazuki0824 commented on #27253
Now I found a solution. See https://github.com/tensorflow/tensorflow/pull/27348

[2019-04-08 07:36] glaucopater commented on #27237
Thanks for fixing it!

[2019-04-08 07:38] glaucopater commented on #27361
Thanks for reporting @varun-jalandery. @ymodak I think you can close the original issue the #27237

[2019-04-08 07:59] samsterckval commented on #26413
Same problem, following

[2019-04-08 08:04] shodow commented on #18861
@nikkymen i use your code,but it's still running in device 0
[code]
![image](https://user-images.githubusercontent.com/17686184/55708170-d1ac7a00-5a17-11e9-81e3-11d126798473.png)

[2019-04-08 08:06] anhtu812 opened #27618 "not support MatrixBandPart in tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version : 2.0alpha

**Provide the text output from tflite_convert**

[code]

[2019-04-08 08:10] amanp592 commented on #27615
#469 @lamberta @MarkDaoust  please review this!

[2019-04-08 08:14] amanp592 commented on #27615
#469

[2019-04-08 08:19] amanp592 commented on #27615
@pleabargain  yes! the additional resources link is broken, i corrected it an created a pull request for the same

https://github.com/tensorflow/docs/pull/469

@lamberta  @MarkDaoust  please review this

[2019-04-08 08:22] paul-bd opened #27620 "LD_LIRARY_PATH instead of LD_LIBRARY_PATH"
Hello,
in tensorflow/stream_executor/platform/default/dso_loader.cc line 50
LD_LIRARY_PATH is called instead of LD_LIBRARY_PATH
Best

[2019-04-08 08:24] harborinteractive opened #27621 "Tensorflow speech commands error"
<em>Im getting error when ı convert h5 file to tflite file in speech commands example</em>

**System information**
- Ubuntu 18.04

- TensorFlow version:1.10.0
- Python version:3.6.7
- Installed using pip
- CUDA/cuDNN version:
- GPU model and memory:

**
When I try to create tflite file Im getting that
https://github.com/tensorflow/examples/blob/master/lite/examples/speech_commands/android/README.m

[2019-04-08 08:29] anneyking opened #27622 "about TensorFlow Lite GPU delegate"
about TensorFlow Lite GPU delegate,Here's a description：
“If some of the ops are not supported by the GPU delegate, the framework will only run a part of the graph on the GPU and the remaining part on the CPU. Due to the high cost of CPU/GPU synchronization, a split execution mode like this will often result in a performance slower than when the whole network is run on the CPU alone”。
I have a que

[2019-04-08 08:37] anhtu812 commented on #27618
I replaced tf.linalg.band_part by mask e.g:
	# mask = tf.linalg.band_part(mask, 0, -1)
	a = tf.range(tf.shape(mask)[0])
	mask1 = a[:,None]<=a[None,:]# true in upper_triangular
	mask = tf.logical_and(mask, mask1)

[2019-04-08 08:43] nkszjx commented on #9394
tf.reduce_max(activation, axis=1, keep_dims=True)

[2019-04-08 08:43] nkszjx commented on #9394
see https://stackoverflow.com/questions/46760927/using-the-shape-of-a-tensor-with-dynamic-shape-in-tensorflow-operations

[2019-04-08 08:44] nkszjx commented on #4746
pool = tf.reduce_max(activation, axis=1, keep_dims=True)

[2019-04-08 08:56] zhukaihan commented on #25784
The x and y values of the inputs are flipped. Its affect is that the output are flipped as well.

Therefore, the images from original code will have predictions that is flipped according to the diagonal line. As shown below (an incorrect image):
![original_5](https://user-images.githubusercontent.com/7332407/55710749-244a4f80-59a0-11e9-81c5-2a6987f5464b.PNG)

**Images from original code (incorrect

[2019-04-08 09:06] MartinSmeyer opened #27623 "CUDA 10 / CUDNN 7.5 performance loss (Titan V)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): openSUSE Leap 42.3
- GPU model and memory: Titan V
- GCC/Compiler version (if compiling from source): 4.8
- Nvidia Driver Version: 418.56

**Problem:** I experience consistent performance losses in TF using CUDA 10.0

[2019-04-08 09:07] serv-inc commented on #27484
@vrjesus : maybe this StackOverflow page helps: https://stackoverflow.com/questions/33759623/tensorflow-how-to-save-restore-a-model?rq=1

@muddham : very welcoming awesome wording. Is it OK for you if this is copied and used as a template?

[2019-04-08 09:11] apls777 commented on #21898
@prameshbajra As a workaround, I just filter these messages with `grep` :)
[code]

[2019-04-08 09:20] #27622 closed

[2019-04-08 09:24] amanp592 commented on #27612
@ToonTalk

`sprite.png` : It consist all the sample images in a very large image.
`metadata.tsv` : It store index and label of each sample

Not any standard image format is ok, till now .png is what it supports to my knowledge, if we do not use these files, then our visualization is nothing but some points on the Visualizer, introducing these files will help the visulaizer to use the particular im

[2019-04-08 09:40] anneyking opened #27626 "Huawei (android 6.0，OpenGL3.1 is Mali) GPU slower than CPU"
I have two mobile phones, one is XiaoMi  (Android 9.0，OpenGL3.1 is Adreno), the other is Huawei (Android 6.0, OpenGL3.1 is Mail). When I run this demo app (Tensor Flow Lite GPU delegate), GPU is faster in the XiaoMi mobile phone than CPU, but in Huawei mobile phone, GPU is slower than CPU. What's the reason, the system version problem? Or the OpenGL ES chip problem?

[2019-04-08 09:44] ToonTalk commented on #27612
Thanks. I finally got this working when I noticed that if I click the "Publish" button it shows an example of how to specify the image URL and the dimensions. If someone could update the guide this would have been much easier.

[2019-04-08 09:51] amanp592 commented on #27612
@ToonTalk  Thanks fro raising this issue. I am working on it.

[2019-04-08 09:58] csukuangfj opened #27627 "[doc/keras] `__init__` of `tf.keras.losses.BinaryCrossentropy` is not rendered correctly"
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy#class_binarycrossentropy

**Describe the documentation issue**

The `__init__` function of `tf.keras.losses.BinaryCrossentropy` is not rendered correctly.

See the link here https://www.tensorflow.org/api_docs/python/tf/keras/losses/BinaryCrossentropy#methods

[2019-04-08 10:16] Offiong commented on #26477
I encountered this problem today, please help.

ImportError                               Traceback (most recent call last)
~\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>()
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

~\AppData\Roaming\

[2019-04-08 10:23] NagarjunaIkiu opened #27628 "tensorflow wont start windows 10 python 3.7.3"
File "<ipython-input-2-0786882784e8>", line 1, in <module>
    runfile('C:/Users/Christophe/.spyder-py3/temp.py', wdir='C:/Users/Christophe/.spyder-py3')

  File "e:\program files\python3\lib\site-packages\spyder_kernels\customize\spydercustomize.py", line 824, in runfile
    execfile(filename, namespace)

  File "e:\program files\python3\lib\site-packages\spyder_kernels\customize\spydercustomize.

[2019-04-08 10:43] strattist opened #27629 "Tensorflow lite undefined reference"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: source
- TensorFlow version: 1.12.1
- Bazel version: 0.15.0
- GCC/Compiler version: 7.3.0
(No python related information since I try to compile lite for C/C++ usage)

**Describe the problem**

**Provide the exact sequence of commands / steps that you executed before running into the problem**

Fi

[2019-04-08 10:47] shashvatshahi1998 commented on #27627
You mean that in documentation __init__ is not described directly it is started from __call__?

[2019-04-08 11:16] Aralox commented on #17328
The tensorflow mobile link just redirects to tensorflow lite now, and it seems impossible to actually find any official page for tensorflow mobile anymore. This and the tf lite roadmap are the only places where training on device is mentioned. What gives? Where can we track work on this? Why is this issue closed, is there an equivalent tf lite issue?

[2019-04-08 11:18] AmitPrajapati1902 commented on #25922
Hello,

I'm facing same problem here

Here is the command that i'm executing to generate .pb i am successfuly generate it.

IMAGE_SIZE=224
ARCHITECTURE="mobilenet_1_1.0_${IMAGE_SIZE}"

python retrain.py
 --bottleneck_dir=tf_files/bottlenecks
 --how_many_training_steps=500
 --model_dir=tf_files/models/
 --summaries_dir=tf_files/training_summaries/"${ARCHITECTURE}"
  --output_graph=tf_files/retraine

[2019-04-08 11:20] samhodge commented on #27441
I made this for the clients to help with debugging on their systems so I may as well leave it here

The result will be watermarked

this might be informative

I made a video to help you get better debug information

https://www.youtube.com/watch?v=oWULIoJlrto

Download and install Natron
https://sourceforge.net/projects/natron/files/Windows/64/releases/Natron-2.3.14-Windows-x86_64bit-setup.exe/dow

[2019-04-08 11:22] peterbence3 opened #27630 "Model Start At Different Loss Level After Resuming The Training"
I'm using `tensorflow.keras` in order to build a simple neural network with 3 dense layers. I was able to successfully train the model for 9000 epochs reaching a Mean of Squared Errors (`MSE`) of **0.0496**. However resuming the model, it starts training at about **57** `MSE`.

This might indicates that the model weights were not loaded successfully but when restarting the training process from th

[2019-04-08 11:50] karlschriek commented on #21898
Nice workaround. Do you know how I could extend this to filter out multiple messages (e.g. "Found secret key", "No response body. Response: code 404" etc. also pop up for me)

[2019-04-08 11:50] csukuangfj commented on #27627
@shashvatshahi1998

[code]

[2019-04-08 11:53] csukuangfj opened #27631 "[doc/keras] `predict` of `tf.keras.models.Sequential` is rendered incorrectly"
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/keras/models/Sequential#predict

**Describe the documentation issue**

The argument list is not rendered correctly.

See it below

[code]

It should be rendered in a list/item format.

[2019-04-08 12:06] anjelo95 commented on #26413
same problem, following

[2019-04-08 12:09] hamzeah commented on #26947
@dkurt , thanks. Yes, I followed the guide exactly as it is. I opened an issue for that here:
https://github.com/opencv/opencv/issues/14280
thank you for following this. I need cross-compile to use OpenCV tracker functions (not available in Openvino-OpenCV)

[2019-04-08 12:17] Kaju-Bubanja commented on #6683
This gives me all the variables twice when adding:
`print(tf.global_variables())`

[2019-04-08 12:17] csukuangfj opened #27632 "[doc/keras] incorrect comment in the example for `tf.keras.layers.Add`"
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Add#class_add

**Describe the documentation issue**

See the code example (https://www.tensorflow.org/api_docs/python/tf/keras/layers/Add#class_add)

[code]

It should be

[code]

[2019-04-08 12:24] csukuangfj opened #27633 "[doc/keras] incorrect comment in `__init__` of `tf.keras.layers.AveragePooling1D`"
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/keras/layers/AveragePooling1D#arguments

**Describe the documentation issue**
See the comment below

[code]

It should be **average** instead of **max** since this is average pooling.

Furthermore, the format of the description for `input shape` and `output shape` is broken.
It is not rendered in a list format.

[2019-04-08 12:28] byronyi commented on #25323
It might because the usable memory of your system is too low compared to the number of parallel Bazel compilation tasks.

You could try setting it to a smaller value using: ``bazel build --jobs 4 //...``

[2019-04-08 12:29] smr97 opened #27634 "Missing documentation for variable ops."
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: v1.13
- Doc Link:

**Describe the documentation issue**
Hi, I am looking f

[2019-04-08 12:47] achandraa commented on #27568
Thank you for reaching out to us. Can you please provide minimum reproducible code snippet to help us proceed further and verify what is going wrong.

[2019-04-08 12:50] peterbence3 commented on #27630
This is a bug fixed currently in [tensorflow-gpu-nighlybuild 2.0](https://github.com/tensorflow/tensorflow/issues/27049)

[2019-04-08 12:50] #27630 closed

[2019-04-08 12:53] #21332 closed

[2019-04-08 12:53] tensorflowbutler commented on #21332
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-04-08 12:59] achandraa commented on #27582
In order to expedite the trouble-shooting process, please provide a code snippet/steps to reproduce the issue reported here. Thanks!

[2019-04-08 13:09] alexeyr opened #27638 "Typo in SpaceToBatchND and BatchToSpaceND documentation"
**System information**
- TensorFlow version: 1.13
- Doc Link: https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/space-to-batch-n-d, https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/batch-to-space-n-d

**Describe the documentation issue**
Example 2 in https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/space-to-batch-n-d says

However, that value's shape is `[4, 1, 3]`.

[2019-04-08 13:19] jackd opened #27639 "keras `Model.__call__` fails to propagate `Lambda`s with multiple outputs correctly"
## System Information
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (see below)
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from: pip
- TensorFlow version (use command below): ('v1.13.1-0-g6612da8951', '1.13.1')
- Python version: 2.7.12
- GPU model and memory: quadro 620

## Current Behaviour
Calls to models crea

[2019-04-08 13:21] sklampfl opened #27640 "TF Lite conversion of minimal graph with tf.matmul fails on Linux but works on MacOS"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
`16.04.6 LTS (GNU/Linux 4.15.0-47-generic x86_64)` and `macOS Mojave Version 10.14.4`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (so

[2019-04-08 13:32] shashvatshahi1998 commented on #27632
@csukuangfj  I am added a pr regarding that issue.

[2019-04-08 13:37] aaandrewww commented on #26189
Sorry for the delay in closing. This was fixed on March 18th.

[2019-04-08 13:37] #26189 closed

[2019-04-08 14:07] #27606 closed

[2019-04-08 14:11] #27629 closed

[2019-04-08 14:16] csukuangfj commented on #27632
you're adding too many commits.

[2019-04-08 14:18] csukuangfj commented on #27632
git squash

[2019-04-08 14:22] HuangZhanPeng opened #27642 "how to implement the api in pytorch with tensorflow 2.0"
Once I have ask question following:
how to implement the api in pytorch with tensorflow 2.0There is two api in pytorch, one is "nn.utils.rnn.pack_padded_sequence", other is "pad_packed_sequence", I want to ask is there any api or implement to achieve the similar function of pytorch in tensorflow 2.0, thank you~~

And @ebrevdo give me the solution:
If you call ` tf.nn.{dynamic_,}rnn` with `sequence

[2019-04-08 14:49] mihaimaruseac commented on #27045
If you want, can you submit a PR to make it using logger instead of `print()`?

[2019-04-08 14:55] captain-pool commented on #27565
The Tape is unable to see the variables.
So, use `tape.watch(embeddings)` after `sparse_dense_matmul()`. (Sparse Tensors cannot be watched, so watching x is not an option).
That solves the problem.

[2019-04-08 15:00] ila96 commented on #24815
Created pull request, https://github.com/tensorflow/tensorflow/pull/27635

[2019-04-08 15:26] tanzhenyu commented on #27050
@zakizhou sounds reasonable. This can be achieved by `build` and I haven't received many requests for it. If you'd like to contribute for it, I'd be happy to review!

[2019-04-08 15:30] ARozental commented on #27598
@captain-pool thanks. I'm trying something similar to make it work for now. Though creating padding just so that they can be removed is not very efficient as I need to create the RuggedTensor 1 element at a time from the non-padding tokens before I embed it in to vectors.

[2019-04-08 15:32] HuangZhanPeng commented on #25001
but in tensorflow 2.0, there is no `tf.nn.{dynamic_,}rnn`

[2019-04-08 15:52] zakizhou commented on #27050
@tanzhenyu one way to implement eager building of `tf.keras.layers.Layer`(and its subclasses) is quite straightforward, just add a check in the constructor whether an `input_dim` is explicitly passed by user or not, if yes, build a `input_shape` from `input_dim`, and add one line `self.build(input_shape)` at the end of constructor, otherwise, still perform lazy building.

[2019-04-08 15:54] girving commented on #27544
@shashvatshahi1998 Unfortunately that the wrong place to fix it: it has to be in C++ and CUDA.  Users of `float16` typically want to avoid `float32` temporaries where possible, and doing the cast inside the loop in the kernel means no extra memory usage.

[2019-04-08 15:55] alextp commented on #25442
@andportnoy do you get this error on nightly or the 2.0 alpha preview? Instead of reopening this issue can you file a new one with instructions to reproduce if you do indeed get it on nightly?

[2019-04-08 15:58] mrry commented on #26559
From the bug description, all we know is that some `Session.run()` call is blocked (from the thread blocked in `WaitForNotification()`) and the session is still active (from the two tf.data background threads).

Without a way to reproduce the problem, there's no way to tell *why* it's blocked. From previous experience, it's possible that the termination logic in `Estimator` (with or without `StopA

[2019-04-08 15:58] alextp commented on #26839
yes we should fix this inconsistent behavior

[2019-04-08 16:05] alextp commented on #27598
For the dataset & raggedtensor integration you should be able to return a raggedtensor from a dataset because dataset can under the hood destructure ragged tensors into their component tensors

[2019-04-08 16:05] a6802739 commented on #26839
@alextp, Okay, I could have have a try for the inconsistent behavior.

[2019-04-08 16:06] alextp commented on #27195
@shashvatshahi1998 the first step is to try to reproduce the issue, and then try to follow @mdanatg 's advice to wrap train_step in tf.function and see whether the issue goes away.

If it doesn't, running a profiler like python's cprofiler on the code to find out what is happening and triaging that to a separate issue is the next step.

[2019-04-08 16:06] mrry commented on #26275
I'm not sure why this was assigned to me: please reassign to someone working on the GPU or Eager runtime components.

[2019-04-08 16:09] neterium opened #27643 "Java: add support for Alpine Linux (Docker)"
**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
I'm using the TF Java library to serve prediction requests and I don't have any issue there.
However, I'm building a docker image from my server. The size is 343mb from openjdk:8-jdk-alpine, but TF does not work (Error loading s

[2019-04-08 16:10] jdduke commented on #27303
Hi @jpangburn, I'm curious if the model works if you change
[code]
to
[code]
My guess is that some of our builtin ops don't support the full suite of types (e.g., complex types) in all operators, which may be required when using rfft. Can you give that a try and let us know how it goes? Thanks.

[2019-04-08 16:18] meyerjo commented on #27195
Wrapping train_step in tf.function does not work. It raises the following error: ```RuntimeError: `merge_call` called while defining a new graph. [...]```.

[2019-04-08 16:24] alextp commented on #27195
@guptapriya is this a known issue internally?

[2019-04-08 16:34] jpangburn commented on #27303
Hi @jdduke , I tried that and I get

    RuntimeError: Regular TensorFlow ops are not supported by this interpreter. Make sure you invoke the Flex delegate before inference.Node number 0 (Flex) failed to prepare.

I also read somewhere that TF lite doesn't support `[None]` as an input dimension so I tried fixing it to 16000 (one second worth of data at 16k sample rate) so the code looks like this:

[2019-04-08 16:35] caissalover opened #27644 "[Feature Request] Need for manual parallelization of a tensorflow graph (or function)"
- TensorFlow version (you are using): 2.0

**Describe the feature and the current behavior/state.**
Today, there's no easy way to parallelize a single tf graph (or function in 2.0) to different inputs. tf.map_fn doesn't parallelize and tf.while_loop doesn't generate error when the graph is run sequentially. It's strange really what the keyword parallel_iterations even does in tf.while_loop

**Will

[2019-04-08 16:43] edloper commented on #27598
A clarification for the initial bug description: there's no casting issue here, and the values are not being converted to int64.  The dtype=int64 that you see at the end of the following example applies only to the row_splits tensor, not to the overall ragged tensor:

[code]

To be more explicit:

[code]

As subsequent comments in the bug deduced, the basic problem is that RaggedTensors are not fu

[2019-04-08 16:47] jdduke commented on #27303
We're still working out some issues when running inference with the TF ops from Python (see https://www.tensorflow.org/lite/guide/ops_select#python_pip_package). We're hoping to have that resolved for the 1.14 release.

Have you tried running with a [manual TFLite build](https://www.tensorflow.org/lite/guide/ops_select#running_the_model) (either with C++ or Java)? We'll be releasing pre-built .aar

[2019-04-08 16:50] jing-dong commented on #23733
Thanks @ygoncharov. I will reopen the issue and look into reproducing the problem.

[2019-04-08 16:54] haozha111 commented on #27278
I didn't see any errors in those arguments provided to TOCO. Could you share the model with us so we can debug with it (assuming it's not confidential) ?

[2019-04-08 17:05] chwang85 commented on #27016
`variable_scope` is the most important foundation of the previous TF, and `tf.layers.xxx` is also a very popular feature of TF. Deprecating them is really a stupid decision.
I wonder if TF still a open source software? And:

When will you deprecate keras?
When will you deprecate Tensorflow?
When will you deprecate Google?

[2019-04-08 17:07] #27451 closed

[2019-04-08 17:07] #27322 closed

[2019-04-08 17:08] #27225 closed

[2019-04-08 17:08] chwang85 commented on #27016
Please do not assume that everyone use OOP. I prefer tf.layers.dense.

[2019-04-08 17:11] ymodak commented on #27207
You can select gpu accelerator under edit > notebook settings > hardware accelerator

[2019-04-08 17:11] jvishnuvardhan commented on #26451
There could be some dependencies that weren't removed completely. Check Environmental file and remove any CUDA or cuDNN related paths as you want to use TF-cpu. Thanks!

[2019-04-08 17:16] jpangburn commented on #27303
I just tried it with an iOS build (from the `tensorflow/lite/experimental/swift` directory) and it gets the same error as the full code sample I provided earlier:

TensorFlow Lite Error: Node number 1 (SPLIT_V) failed to prepare.

That's with the code sample that successfully creates the model but won't run it.  In the Swift code I create a TFLite interpreter and pass it 16k worth of float32 test

[2019-04-08 17:18] tonyreina commented on #26759
Just circling back on this.  Is there a way to use INT8 or BFLOAT16 with the Keras HDF5 format? If not, will this be implemented? Thanks.

[2019-04-08 17:22] jdduke commented on #27303
If you don't mind, feel free to forward me your converted ..tflite model (and/or the source model), and I'd be happy to troubleshoot further.

[2019-04-08 17:31] caffeinatedMike commented on #20517
@jerrychong25 I see they marked the latest release as compatible with Python 3.7, but when I attempt to install using `pip install tensorflow==1.13.1` I get the dreaded distribution error
[code]

I see in @michael-k Pull Request #25718 that they supposedly pushed the 3.7-compatible version to PyPl, but the latest release is still listed as `Last released: Feb 26, 2019`. Also, when looking at the 2

[2019-04-08 17:33] miaout17 opened #27646 "Training on device with TensorFlow Lite"
This ticket tracks supporting on-device training with TensorFlow Lite.

A few high-level milestones:

- [ ] Functional prototype for basic training (e.g. convolution / dense network)
- [ ] Functional prototype for training with control flow (e.g. RNN / LSTM networks)
- [ ] Productionize / optimize basic training
- [ ] Productionize / optimize training with control flow

See also #17328

[2019-04-08 17:36] llan-ml commented on #27565
@captain-pool  The above code works well in eager mode. It only fails when we use `@tf.function` decoration. So, the tape only cannot see the variable with AutoGraph?

[2019-04-08 17:38] skyArony commented on #22794
### For TensorFlow 1.31.1

tensorflow/configure.py
[code]

**so the curren CUDA version is 10.0，but the NVIDIA give 10.1**，install  CUDA10.0 and cudnn10.0 then restart cmd，is will work

for older version https://developer.nvidia.com/cuda-toolkit-archive

detail: https://blog.kenorizon.cn/note/tensorflow-installation.html

[2019-04-08 17:41] mihaimaruseac commented on #26532
@mandroid6 any new PRs for the rest of the issues?

[2019-04-08 17:43] #27485 closed

[2019-04-08 17:43] ymodak commented on #27485
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-08 17:43] jpangburn commented on #27303
Oh, sorry, I see now.  That build you pointed me to has support for "select tensorflow ops" which the build I was using probably doesn't.

Regarding the tflite model, you can generate it yourself from the code I provided which just requires a python environment with numpy and tensorflow:

    import tensorflow as tf
    import numpy as np
    target_path = "/tmp/log_mel_spectrogram.tflite"
    wit

[2019-04-08 17:43] ymodak commented on #27453
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-04-08 17:44] jvishnuvardhan commented on #27244
@yongtang Could you please take a look at this issue? Thanks!

[2019-04-08 17:55] ppwwyyxx commented on #20517
https://pypi.org/project/tensorflow/#files There are cp37 releases for tensorflow==1.13.1. There may be something wrong in your environment.

[2019-04-08 18:01] captain-pool commented on #27565
Well, that is exactly what's happening. For Autograph it works only with watch(). I'm still looking through the codebase to find the reason.

[2019-04-08 18:04] caffeinatedMike commented on #20517
How should I diagnose any issues? Do you want to see any outputs?

[2019-04-08 18:05] ChethanUK opened #27647 "Kubernetes Charts for Tensorflow 2.0"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Would be nice to have Kubernetes charts which users can deploy and train or server the tf models.

**Will this change the current API? How?**
NO, but will help users.

**Who will benefit with this feature?**
Those who are using

[2019-04-08 18:17] alextp commented on #27086
@rohan100jain did you have time to take a look?

[2019-04-08 18:21] #27615 closed

[2019-04-08 18:35] ipod825 opened #27649 "strided_slice leads to unknown shape for Input layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):
[code]
- Python version:
3.7.1
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
not relevent
- GPU model and memory:
n

[2019-04-08 18:38] jvishnuvardhan commented on #27255
I can confirm that error trace with TF2.0.0-alpha0. When I ran with tf-nightly, the error is as follows.
TypeError                                 Traceback (most recent call last)
<ipython-input-2-f79db8f201dc> in <module>()
     84
     85 if __name__ == '__main__':
---> 86     main()

<ipython-input-2-f79db8f201dc> in main()
     80         loss = train_one_step(params, data)
     81         ep

[2019-04-08 18:49] soupytwist commented on #26486
The fstring failures should be fixed as of pasta `0.1.5` ([pasta#59](https://github.com/google/pasta/issues/59) + [pasta#61](https://github.com/google/pasta/issues/61)).

[2019-04-08 18:51] jvishnuvardhan commented on #27266
@saugatkandel the link in your post (flops_registry_custom.py) throws 404 error. Thanks!

[2019-04-08 18:52] jvishnuvardhan commented on #27268
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-04-08 18:52] #27268 closed

[2019-04-08 18:57] jvishnuvardhan commented on #26759
@tonyreina Could you describe a use case for this feature? Thanks!

[2019-04-08 18:57] guptapriya commented on #27195
There are couple of things mentioned here, let me clarify:
1. Performance without tf.function when using distribution strategy is terrible - this is known issue and we do not recommend doing this right now, and it is not something we are prioritizing yet either. The recommended approach is to wrap experimental_run inside a tf.function. Fixing this requires a significant amount of work inside Mirro

[2019-04-08 19:10] sil3nthill commented on #27649
hello i would like to work on this and make a PR for it

[2019-04-08 19:17] wookayin commented on #27016
I also think using simpler functional-style (like `dense()`) makes a sense (actually I like that as well as OOP styles) when it's more handy. My point was that the keras layers should work well being compatible with variable_scope. Please refer to the discussion in #20842 as well.

And please be respectful, logical, but not aggressive. Nobody will listen to you if you say like this.

[2019-04-08 19:30] farzaa opened #27651 "Starting a TF session (and nothing else) uses over 350MB of GPU memory"
On TF `1.13.1`, the code below:
[code]

Am I missing something or is this normal? Shouldn't GPU usage be 0MiB at this point? If not, why?

[2019-04-08 19:48] jing-dong commented on #23733
@ygoncharov, I am able to reproduce the problem as you described. Thanks for the detailed instructions. One strange thing I noted that the memory leak problem does not happen if I use tensorflow-gpu (1.13.1) installed on the host directly without using the nivida docker image for both python2 and python3. Can you please confirm that is the case? If so, the problem probably comes from how Nvidia bu

[2019-04-08 19:52] dellelce commented on #20517
I am using 3.7.2 and I have the same issue, the version/tags reported by 1.31.1 is the following:

[code]

while my 3.7.2 supports the following:

[code]

(from pep425tags.get_supported())

so I believe the issue is just that it should be ```linux``` not ```manylinux1``` in the wheel name.

I have a clean python build from source with almost default parameters.

[2019-04-08 20:00] tonyreina commented on #26759
Sure.

So hardware is moving toward using BFLOAT16 and INT8 operations. For example, Intel Xeon supports DL Boost which is an INT8 precision.  We have pre-trained Keras models in FP32 which we've converted to TensorFlow protobuf models to take advantage of INT8, but that's going to require users to convert every model from a Keras HDF5 saved file to TensorFlow protobuf. And, it means we can't use

[2019-04-08 20:03] meyerjo commented on #27195
@guptapriya Regarding 1.), this is rather confusing to me. My main problem causing this issue was my dependance on eager execution during the forward/backward pass.
However, wrapping my experimental_run with tf.function straps me from the eager execution. The new TF policy should not be eager-execution is the default except you want to use multiple GPUs for training, should it?

[2019-04-08 20:03] danielegrattarola commented on #24364
+1

[2019-04-08 20:04] alextp commented on #27255
I just ran this in a colab with version 2.0.0-dev20190405 and it runs without an error, so I think this has been fixed.

[2019-04-08 20:04] #27255 closed

[2019-04-08 20:14] alextp commented on #27195
@meyerjo Ideally eager execution is available and performant for all use cases on day 1, but we have limited resources and have to prioritize what gets done first and then what gets fast first. I agree with @guptapriya's priorities outlined above as being the best to move the existing ecosystem forward, and I'm sure that once performance is good for the tf.function use cases we'll start to improve

[2019-04-08 20:21] chwang85 commented on #27016
`variable_scope` used to be your basic mechanism, and now you are depreciating it.
`tf.layers.xxx` used to be your major selling point, and now you are depreciating it.
Just tell me: is there anything that you will not depreciate?
And:
When will you deprecate keras? (it is only a third-party package)
When will you deprecate Tensorflow?
When will you deprecate Google?

I am very respectful, logical

[2019-04-08 20:26] ppwwyyxx commented on #20517
@dellelce  you may be using a very old version of pip?

[2019-04-08 20:26] skulhare commented on #27278
Hi,
I am facing the same issue with the retrained model ssd_resnet_50_fpn.
You can replicate the issue by using the model file (frozen_inference_graph.pb) file here: http://download.tensorflow.org/models/object_detection/ssd_resnet50_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03.tar.gz
Although, with this model I am getting a new error :
Check failed: other_op->type == OperatorType::k

[2019-04-08 20:28] jsimsa commented on #27128
If your experiment runs out of memory when using `tf.data.Dataset.cache()` it means that your data does not fit into computers memory. This is not an indication of a memory leak but the intended behavior of your workload. The API is not intended to be using for caching only a subset of your dataset in memory.

[2019-04-08 20:28] #27128 closed

[2019-04-08 20:33] jvishnuvardhan commented on #27409
@liyunfei1994 Thanks for posting solution also.

[2019-04-08 20:36] kerinin commented on #21461
Is there a solution to this that doesn't involve building TF from source?

[2019-04-08 20:47] penpornk commented on #27266
@saugatkandel Thank you for reporting the issue! If you have already fixed this in your branch, please consider opening a PR so we can merge it in.

[2019-04-08 21:03] 8bitmp3 opened #27652 "[TF 2.0 API Docs] tf.keras.activations.elu"
**System information**
- TensorFlow version: 2.0 alpha
- Doc Link:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/activations/elu
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/activations.py

**- Links**
Links exist. Should format the link to the original paper (delete "-"). Also, should add authors and year of publishing

E.g.
[code]

**- Definiti

[2019-04-08 21:22] captain-pool opened #27653 "Support for Other Types of Tensors in tf.data (For example RaggedTensors / Sparse Tensors)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-04-08 21:24] captain-pool commented on #27653
I'ld like to work on this issue / Collaborate.
@jsimsa

[2019-04-08 21:28] dellelce commented on #20517
I just checked and the problem is with the alpine build, my build (dellelce/py-base) and official docker alpine image (python:alpine) have the issue while an image built on debian (python:latest)  works fine.
It must be related to the libc library used (musl vs glibc) ? So other dists that do not used glibc may have the issue...

All have latest pip and  3.7.3 or 3.7.2...

[2019-04-08 21:28] ymodak commented on #27060
Closing this issue since it was resolved. Feel free to reopen if have any additional questions. Thanks!

[2019-04-08 21:28] #27060 closed

[2019-04-08 21:30] ymodak commented on #27079
Closing this issue since it is resolved. Feel free to reopen if have additional problems. Thanks!

[2019-04-08 21:30] #27079 closed

[2019-04-08 21:30] mihaimaruseac commented on #27016
Personally, I consider it very aggressive to keep repeating the same questions and spamming over several issues. Please understand that all APIs evolve and change. There was a time to discuss these API changes but it has been many months ago. Now the ship has sailed and these will stay deprecated unless valid reasoning asks for their reintroduction.

Closing, as https://github.com/tensorflow/tenso

[2019-04-08 21:30] #27016 closed

[2019-04-08 21:33] apocalypse2012 commented on #24931
Please reopen this bug. I am getting this error on Python 3.7.3, TensorFlow 1.13.1, MacOS Mojave 10.14.4. On import TensorFlow immediately explodes.

Using TensorFlow backend.
Traceback (most recent call last):
  File "/Users/raymond/Depot/ai-worker/duplicate_ai/test.py", line 1, in <module>
    from model import SiameseDream
  File "/Users/raymond/Depot/ai-worker/duplicate_ai/model.py", line 1, i