[2019-11-05 12:16] rmothukuru commented on #33060
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-05 12:16] #33060 closed

[2019-11-05 12:16] githubzjm commented on #34003
Sure, here is the total error log, thanks a lot

[2019-11-05 12:17] #33506 closed

[2019-11-05 12:28] AIRLegend commented on #33986
The only solution I got to work was using the TF 1.0 api for creating each model in a separate graph. However, I think this is a little bit dirty, but I don't get it to work with the TF 2.0 API. @josephcappadona, in your first example, would be something like:

[code]

How would it be the best approximation for instantiating several models, like agents for a game (only using them for inference)?.

[2019-11-05 12:33] tensorflowbutler commented on #6541
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-11-05 12:33] tensorflowbutler commented on #30602
It has been 32 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-05 12:33] tensorflowbutler commented on #32539
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-05 12:33] tensorflowbutler commented on #33576
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-05 12:33] tensorflowbutler commented on #33060
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-05 12:33] tensorflowbutler commented on #31419
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-05 12:36] raulmt commented on #32265
Ok, thanks! Closing then…

[2019-11-05 12:36] #32265 closed

[2019-11-05 12:43] DarshanDeshpande commented on #33938
https://github.com/DarshanDeshpande/Seq2Seq-Model
This is the link to the project along with the files used. I did some reading and found out a similar issue to this. The person fixed it by downgrading their Nvidia drivers. I tried that too but that doesn't seem to work either

[2019-11-05 12:46] stefan-falk commented on #33467
@oanush Sorry for responding so late.I am stuck with 1.12 - I am sure it works with later versions but the example above was run with 1.12. Looking forward for 1.12.4 :P

[2019-11-05 12:51] jiyongjung0 commented on #33807
Oops, I've accidentally closed this issue. (Don't know why exactly yet...) Sorry for the inconvenience.

[2019-11-05 12:55] Stick-To opened #34009 "BatchNormalization"
If I want to freeze gamma, beta, moving_average_mean, moving_average_var in BatchNormalization
could tf.keras.layers.BatchNormalization(trainable=False)  be OK?
or only could freeze gamma, beta ?

[2019-11-05 12:57] dare0021 commented on #7652
I got this to work
tf.get_logger().setLevel(3)

But this still doesnt suppress the one warning message I want suppressed
W tensorflow/core/grappler/utils/graph_view.cc:830] No registered 'MultiDeviceIteratorGetNextFromShard' OpKernel for GPU devices compatible with node {{node MultiDeviceIteratorGetNextFromShard}}
        .  Registered:  device='CPU'

I get multiple of these each epoch :(

[2019-11-05 13:00] MarkDaoust commented on #33807
Strange! I meant to auto close it with  tensorflow/docs@89c6bbf56262. I'm not sure why github only noticed the copy in your fork... I do think this is fixed now.

[2019-11-05 13:00] #33807 closed

[2019-11-05 13:04] guydavid opened #34010 "TFLite 5D Tensors with the OpenCL Back-End"
I am planning to gradually add support for 5D tensors in TFLite in the OpenCL GPU back-end, which was not yet available in r2.0.
My main concern with the OpenGL API was the limit on the number of dimensions that work groups have, but that's no longer the issue with OpenCL as it seems to allow N-dimensional work groups.

What is the status of the OpenCL back-end? What about 5D tensors? (this is a m

[2019-11-05 13:07] jbissantz commented on #33206
I found some to time to recreate the issue with "virtualenv":

[code]

Running the last command simply results in an error message: "Illegal instruction:4"
Even installing it in my default python3 directory results in the same issue. Therefore this must be an issue on the tensorflow side and this issue should be reopened!

[2019-11-05 13:15] Flamefire commented on #33975
This patch does indeed work for us. It is up to the maintainers to decide whether this is a Bazel or a Tensorflow bug, I opened an issue there too. It seems the core issue is that `g++ -E -v -` returns resolved paths but the dependency checker does use plain/unresolved paths and Bazel does not try to resolve them there.

[2019-11-05 13:25] lxz1104 opened #34011 "crop_and_resize_v2() got an unexpected keyword argument 'box_ind'，how to understand the 'box_ind' when the num_boxes equal to 1, batch_size equal to 32?"
I am using the ROI_pooling layer for feature extraction. The dimension of the feature map is 32 * 12 * 12 * 64, and the output clipping dimension is 7 * 7. Only one clipping is needed. How do I use the function tf.image.crop_and_ resize?

[2019-11-05 13:47] BeWe11 commented on #33515
Hey @haozha111,

In https://github.com/tensorflow/tensorflow/issues/30754#issuecomment-549471852 you have described how to use the experimental new optimizer to save RNNs in tf.lite format. Will this optimizer work for the operators missing for the ctc loss?

Thanks!

[2019-11-05 13:49] #32548 closed

[2019-11-05 14:15] jacksonloper opened #34012 "tf.function accept namedtuples"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-11-05 14:15] #34012 closed

[2019-11-05 14:24] klorinczi commented on #25710
I have similar problem described here:
https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/GEV7Z76Cws4

Using Debian 10 Buster, Python v2.7.
I try to build specific tensorflow v1.14.0 without avx2 support, because I get following error:
Nov  4 17:12:32 moodle37 kernel: [9773297.574293] traps: python2.7[4570] trap invalid opcode ip:7fb9b74bca59 sp:7ffdb7605e10 error:0 in libtensorfl

[2019-11-05 14:28] terryheo commented on #30674
Fix was merged.

[2019-11-05 14:28] #30674 closed

[2019-11-05 14:30] levicki commented on #33026
Can one of the tensorflow project maintainers please finally answer a simple question which seems to pop up repeatedly on this very issue tracker:

Question: **When will prebuilt tensorflow packages for CUDA 10.1 be available?**

Alternative version of the question: **When will building against CUDA 10.1 be supported?**

Valid answers, in order of preference:

 - a specific date or release version

[2019-11-05 14:37] Gus-Ghedim opened #34013 "Error message in Hello_world example - ML for micro"
I am having the following error message when I am trying to run the hello_world example for microcontrollers:

`C:\Users\arge10\tensorflow>make -f tensorflow/lite/experimental/micro/tools/make/Makefile TARGET=mbed TAGS="CMSIS disco_f746ng" generate_hello_world_mbed_project
process_begin: CreateProcess(NULL, uname -m, ...) failed.
-m was unexpected at this time.
tensorflow/lite/experimental/micro/t

[2019-11-05 15:12] episodeyang commented on #27686
This is definitely needed. In RL, my batch data from replicator looks like
[code]

and I have two sets of decoys, need to shuffle one by the time dimension, and another by the batch.

So i want to do
[code]

[2019-11-05 15:37] Smsmadly commented on #18538
If tf.Session() is deprecated, Please use **tf.compat.v1.Session()** instead

[2019-11-05 15:46] netw0rkf10w commented on #33962
Hi @oanush. Unfortunately this code has a custom TF op in C++ that needs to be compiled. I'm not sure it's possible to do that in Colab. Let me know if sharing a zip file of source code is ok.

[2019-11-05 15:49] racinmat commented on #33978
Is there some additional response needed? Or why the tag?

[2019-11-05 15:57] netw0rkf10w commented on #34008
@ywpkwon I also observed a significant overhead in the communication between GPUs when using GradientTape (the overhead is negligible when using Keras' `.fit()`). However, if you compute the loss correctly, then you should observe that multi-GPUs converges faster because it processes more images than single GPU training in the same number of steps.

[2019-11-05 16:24] alextp commented on #33849
Could you somehow have two TF runtimes linked into the same process
competing against each other to use the GPU?

I don't really know how to debug this; can you try to make a minimal
example (like, maybe a graph which just has a 5gb-sized tf.zeros in it,
plus the C# code to load it that OOMs)?

On Tue, Nov 5, 2019 at 3:43 AM quintakFR <notifications@github.com> wrote:

--
 - Alex

[2019-11-05 16:38] sh1ng commented on #24816
Faced it when use `concat` as `repeat_elements`

[2019-11-05 16:44] haozha111 commented on #33515
Unfortunately it won't. Since CTC loss requires more ops like 'Empty' and 'InplaceAdd'.

[2019-11-05 16:52] jsimsa commented on #33414
Sounds good. Once you have a working PR, please add me as a reviewer.

[2019-11-05 17:27] Augustlongpeaceful commented on #27935
super amazing, this is the most valuable posts I ever saw, directly solve my problem!! THX
one more small question, which environment would be better to install? why not install all packages in the base or root environment?

[2019-11-05 17:59] josephcappadona commented on #33986
I was not able to get it working with the `tf.distribute.Strategy` API. It is not the training that is the issue, it is simply the instantiation of the models that throws the errors.

The example that I included above is the best example I can get, it throws an error fairly consistently. The bug is stochastic in nature, so I'm having trouble reproducing it consistently. The best I was able to do i

[2019-11-05 18:13] AIRLegend commented on #33986
Hope someone can shed some light on this... I solved my issue with the approximation I posted, but I would like to know if there is a cleaner way.

[2019-11-05 18:15] Safiullahmarwat commented on #33958
@ravikyram brother I updated the post, but i think its not allowing any update. I am giving you the details here. Please let me know should you need more details. Thank you.
My Python version 3.7 and TF version 1.4 (installed via 'pip install') on Windows.
further, for example I have the following code
[code]
and I want to resize any of these variable, such that its shape become like 'shape=(11, 1

[2019-11-05 18:33] theoallard opened #34015 "Identity initializer not working as expected in Layer class add_weight method"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-11-05 18:38] kierenj commented on #33960
A quick note, when I use `tensorflow/tensorflow:latest-py3`, I do not experience the bug. Let me know if there's somewhere else I should raise this (it's `gcr.io/deeplearning-platform-release/tf-cpu.1-14`, GCP's purpose-built-for-GCP image, which doesn't work).

[2019-11-05 18:54] josephcappadona commented on #33986
After more testing, it seems this has solved my issue, but yes, a canonical way to solve this with TF 2.0 would be ideal.

[2019-11-05 18:59] eZii-jester-data commented on #1204
Hey, what's the status of this "feature"?

[2019-11-05 19:10] jvishnuvardhan commented on #32539
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-11-05 19:10] #32539 closed

[2019-11-05 19:36] maziyarpanahi commented on #27999
@karllessard Sorry for the delay.

Yes, we have this function which after each prediction (whether one sentence or multiple sentences) will clear the tensors:

[code]
The prediction, session and clearing tensors happen here:
https://github.com/JohnSnowLabs/spark-nlp/blob/master/src/main/scala/com/johnsnowlabs/ml/tensorflow/TensorflowBert.scala#L27

We have the same strategy for other TF graphs (NL

[2019-11-05 19:45] bgswaroop commented on #33030
I am using `tensorflow-gpu==2.0.0`
I spent 1 full day in checking my code for memory leaks and eventually I spotted the leak with -
`tf.model.predict(...)`

By the way, I used [memory_profiler](https://pypi.org/project/memory-profiler/) for profiling my code.
Thank God ! I am not alone with this issue.

[2019-11-05 19:56] vinayakumarr commented on #17867
Is there any option to download the nearest Nneighbors as csv file.

[2019-11-05 19:58] aviramha commented on #252
Any news regarding this matter?
 @classner @standy66 do you mind sharing instructions how you reached that point?

[2019-11-05 20:02] uday60 commented on #34002
Don't forget how painful it is to train on multiple gpus. f u Google !

[2019-11-05 20:03] uday60 commented on #33848
@tombburnell Dude just move to Pytorch ! Tensorflow is the biggest crap i have seen in my life.

[2019-11-05 20:07] netw0rkf10w opened #34016 "Keras' load_weights() bug: ValueError: You are trying to load a weight file containing 1 layers into a model with 0 layers."
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Colab
- TensorFlow version: 2.0.0

**Describe the current behavior**

Using `model.save_weights()` and then `model.load_weights()` caused this error:
`ValueError: You are trying to load a weight file containing 1 layers into a model with 0 layers.`

**Code to reproduce the issue**
See [this Colab notebook](htt

[2019-11-05 20:09] uday60 opened #34017 "Rename this repo to Big Migraine !!"
I don;t know which version to use for which purpose ... huge compatibility disaster !
Training on multiple gpu even bill gates cannot do...
AVX instructions are missing for pip install...
Tensorflow lite, Tensorflow TFX, Tensorflow serving.... crap after crap.
whether to use keras or tensorflow
There are no performance matrix comparing and converting your models...
Even the book publishers and art

[2019-11-05 20:23] Namburger commented on #32743
@krishna-nag ahh, I see, most likely the usb device isn't detected in your VM. Possibly this will help: https://dev.to/kojikanao/coral-edgetpu-usb-with-virtualbox-57e1

[2019-11-05 20:42] samuel500 commented on #33986
Not sure if this applies, but you could maybe do `w = model.get_weights()`, send the list of numpy arrays to the Queue, and then `model.set_weights(w)` on the other side. It's a bit ugly, but should allow you to effectively send a model in a Queue.

[2019-11-05 20:48] grewe opened #34019 "LSTM model can not save via SavedModel"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-05 20:51] ywpkwon commented on #34008
@netw0rkf10w Thanks for your response. It's good to know that it isn't only my experience. (Because I did a test with an official(?) MNIST example with `.fit()` method and the parallelism worked well, I was planning to check `.fit()` with this example.)

Then, what makes the `.fit()` method special? Simply saying, isn't just a nicer wrapper of the training loop, but still based on the `GradientTap

[2019-11-05 20:55] val9299 commented on #31948
Does GPU-nightly support other ops than GPU-experimental? Because with GPU-experimental the demo APP works perfectly: https://github.com/tensorflow/tensorflow/issues/31949

I'm not working on it anymore and the group decided on experimental, so nightly is not needed anymore. But thanks for the response!

[2019-11-05 21:17] netw0rkf10w commented on #34008
@ywpkwon Keras `.fit()` is highly optimized. I spent a lot of time over the last weeks optimizing my custom training loop but I was never able to reach `.fit()` performance (mine was about 1.2-1.3 times slower). And this is only for multi-GPU training because for single-GPU I observed similar performance between the two. I guess the issue has to do with `tf.distribute.Strategy.experimental_run_v2(

[2019-11-05 21:22] jdduke commented on #28105
The tentative plan is for us to package the C++/C headers in the Android .aars that we host on Maven, alongside the prebuilt libs. It should then be straightforward to develop agains the native APIs using gradle (we'll have a sample). For iOS, we have the TensorFlowLiteC CocoaPod, but haven't finalized how we want to distribute the C++ APIs.

[2019-11-05 21:37] ymodak commented on #33915
```val_loss``` is the default value for monitor.
See https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/EarlyStopping#__init__

[2019-11-05 21:42] mikhailnikolaev commented on #32460
It seems that I've found a solution. Try this:
[code]
It has helped me

[2019-11-05 21:47] arunumd commented on #33255
@gowthamkpr That suggestion sounds irrelevant to the problem. As per the description, the stated Tensorflow version is 1.x. So technically there is no necessity to upgrade code to TF 2.x when the installed Tensorflow version is 1.x

[2019-11-05 21:51] kaisuke opened #34020 "Checkpoint.restore doesn't restore Dataset iterator state when Dataset contains shuffle()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-11-05 21:54] gowthamkpr commented on #33117
@Atharex you can try following the steps from this [tutorial](https://medium.com/@moshe.livne/training-tensorflow-for-free-pet-object-detection-api-sample-trained-on-google-collab-c2e65f4a9949) and just test it on 1.15rc3 and let me know if its still an issue. Thanks!

[2019-11-05 22:07] tmartin293 opened #34021 "Unable to save TensorFlow Keras LSTM model to SavedModel format"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-05 22:22] ipsec commented on #33030
Welcome!

[2019-11-05 22:22] Dabuk commented on #30636
what's the fix ? want to use it in 1.14

[2019-11-05 22:24] fsiraj opened #34022 "List index out of range for FashionMNIST tutorial."
I've just started learning a bit about Tensorflow, and I tried out the Fashion MNIST tutorial. However, I keep getting a list index out of range error. I've copied the code from the official tutorial and also tried using tf.reset_default_graph() as suggested in some other posts, but neither have worked.

Here is the notebook with the error:
https://github.com/fsiraj/Tensorflow-Tutorials/blob/maste

[2019-11-05 23:01] alextp commented on #33917
This is working as intended.

tf.math.exp is a great example, where it's not at all obvious that you'd want it to apply to just the nonzero elements of the sparse tensor, as exp(0) = 1.

Instead if you want to apply an elementwise operation just to the nonzeros you can apply it to sp.values and then build another sparse tensor out of it.

[2019-11-05 23:01] #33917 closed

[2019-11-05 23:10] JiatianWu commented on #33558
@mattroos I met the same issue when I tried to do post-training quantization:

`Traceback (most recent call last):
  File "convert_tf.py", line 183, in <module>
    convert_pb_lite_quant()
  File "convert_tf.py", line 80, in convert_pb_lite_quant
    tflite_quant_model = converter.convert()
  File "/home/jiatian/.local/lib/python3.6/site-packages/tensorflow_core/lite/python/lite.py", line 994, in

[2019-11-05 23:39] mattroos commented on #33558
@JiatianWu, I think I had been using one of the nightly versions of tf1.15. After switching to tf1.15.0, that error went away.
[code]
I still get an error similar that of the original poster, however,
[code]
when I build and run a model in which the input tensor is "too large", even with small models and an input tensor that isn't particularly large (e.g., (256, 256, 3) input into a model with one

[2019-11-05 23:59] bahaelaila7 opened #34024 "Group Convolution not working in TF 2.0.0"
The merged PR #25818 enables group convolution by allowing the input's depth to be multiples of the filter's in_depth parameter rather than exactly equal.

However, as you can see below, whenever I attempt to perform a group convolution, it results in an ambiguous error "No Algorithm Found". Same issue if I make the filter's in_depth = 1.
Making the convolution filter in_depth parameter equal to t

[2019-11-06 00:12] copperwiring commented on #34002
Thank you for your feedback for tensor-flow version compatibility. TF is a growing community and efforts are being made to address this issue. If you have a specific concern w.r.t. t a certain problem, please don't forget to put the code snippets with the version issues for other to look at it.

TF accepts constructive criticism.

[2019-11-06 00:17] farhan333 commented on #34010
This would be greatly appreciated and is in great need of the hour. Thank You.

[2019-11-06 00:28] ymodak commented on #33989
Closing this issue since its resolved. Thanks!

[2019-11-06 00:28] #33989 closed

[2019-11-06 00:29] ymodak commented on #33961
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2019-11-06 00:29] #33961 closed

[2019-11-06 00:31] copperwiring commented on #34005
@nikochiko Do you want to work on improving this section? I could not understand from the opened issue if you have only reported an issue or also proposed to work with it? In later case, I can join you in re-formatting the doc for this topic.

[2019-11-06 00:45] jvishnuvardhan commented on #33988
@netw0rkf10w Can you please provide simple standalone code to reproduce the issue. It is really faster  to resolve with simple standalone codes. Thanks!

[2019-11-06 00:45] ywpkwon opened #34025 "Understanding warning "5 out of the last 5 calls to <function XXX> triggered tf.function retracing""
**System information**
- Have I written custom code: Yes, below.
- Linux Ubuntu 16.04
- TensorFlow 2.1.0-dev20191103, binary install.
- Python 3.6
- CUDA 10.0 / cnDNN 7.6.4
- 4 * NVIDIA TITAN X (12GB)

I defined a very simple training script with a custom loss function and `.fit()` as below. The `loss_fn`  is very simple and I think every time it takes tensors **of the same shape and type**. But I

[2019-11-06 01:27] #33922 closed

[2019-11-06 01:33] RituYadav92 commented on #33400
Hi @chris-opendata
I am facing similar problem but I want to send an extra list along with batch(containing ground truth and image data) while training. when parsing graph it takes unknown shape and I can't even extract values from it.
I can't use another session for eval. Since eager execution is false I can't use numpy() as well.
Could you please share your workaround or can help me in resolving

[2019-11-06 01:37] jvishnuvardhan commented on #33948
@TheBlackPlague I think it is difficult to find the source without a standalone code. Other than the size mismatch, number of weights of different layers is different between GCP model and the local model. Can you please take any simple model (if your model is private) from TF website and create a standalone code? Can you please mention what steps(defined model architecture, compiled, trained the

[2019-11-06 01:56] gyc521zsc opened #34026 "UnboundLocalError: local variable 'weights_normed' referenced before assignment"
This is my code, it can be trained normally, but when he tests, he gives an error.
![image](https://user-images.githubusercontent.com/50411057/68261608-9f313100-007b-11ea-93e8-54c497055e91.png)

[2019-11-06 02:22] ymodak commented on #33940
The most common practice is to use dropout layer after fully connected layer (Dense).
See [Dropout: A Simple Way to Prevent Neural Networks from Overfitting](http://jmlr.org/papers/v15/srivastava14a.html)
 However you may try using dropout between flatten and dense layer and study the effects.

[2019-11-06 03:04] grewe opened #34028 "tensorflow keras SavedModel for LSTM fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-06 03:10] AmericanEnglish commented on #33975
I would to confirm that this patch works and thank @boegel for the link to the patch. I wrote a small python script to make changes to the highlighted file in my automatic installer for tensorflow 2.0 .

Here's hoping to a more official fix from the maintainers of either bazel or tensorflow.

I still run into an issue where bazel is linking against the system libraries instead of the ones that com

[2019-11-06 03:13] SeanLee97 commented on #33649
I have encountered a similar problem when I use Keras custom metrics.

info：
- tensorflow 2.0.0
- running on cpu
- warning log
[code]
- custom code
[code]

[2019-11-06 03:45] deaputri opened #34029 "error on saving RNN layer with recurrent_dropout parameter as saved_model"
[code]

save this model as saved_model on `tf-nightly 2.1.0-dev20191104` raise bug as :

[code]

after trying to change some parameter, i got the conclusion that this issue happens because of `recurrent_dropout` parameter. Any suggestion?

[2019-11-06 04:08] gadagashwini commented on #33705
@Idzhan94, Were you able to solve this issue? Thanks!

[2019-11-06 04:34] oanush commented on #34022
@fsiraj ,
Hi, in the section
[code]
model.fit is expecting `train_labels`
please use `model.fit(train_images,train_labels, epochs=10)` you will be able to execute the tutorial without any issues.
Thanks!

[2019-11-06 04:37] gadagashwini commented on #33576
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-06 04:37] #33576 closed

[2019-11-06 04:39] alefemacedo commented on #32945
I have the same issue.

Python: 3.6.9
tensorflow: 2.0.0
tensorflow-gpu: 2.0.0
OS: Windows 10

Error message:

InvalidArgumentError: {{function_node __inference_Dataset_map_parse_image_77925}} slice index -1 of dimension 0 out of bounds.
	 [[{{node strided_slice}}]] [Op:IteratorGetNextSync]

[2019-11-06 04:42] gadagashwini commented on #33206
@jbissantz, Does your CPU supports AVX instruction set or not.

[2019-11-06 04:46] abdou31 commented on #33940
Already, I have trying using between the flatten and dense layer.
+ No change in results and graph of the loss.

I will try using the dropout layer after the dense layer ( dense 1 ) and I will tell you what is changed.

[2019-11-06 05:05] liupengkd opened #34030 "how to assign a different gpu to each session in a process ."
tensorflow c API：I want to create multiple sessions for different models in a process, how to assign a different gpu to each session.

[2019-11-06 05:21] shauryad15 opened #34031 "How to add android_sdk_repository rule into workspace.bzl?"
I build tensorflow without android. Now i want to add android_sdk_repository and android_ndk rule into workspace.bzl so that i can build the apk.

I've tried adding :
android_sdk_repository(
name = "androidsdk",
// Set the path to the directory the Android SDK was unzipped into.
path = "/home/shaurya/Android/Sdk",
// Set the API level of the installed SDK Platform.
api_level = 28,
// Set the versi

[2019-11-06 05:34] nikochiko commented on #34030
Wrap your sessions in `with` commands like this:
[code]

[2019-11-06 05:54] wuhy08 commented on #33893
Hi @xadrianzetx

Have you tried tf-nightly? This bug was fixed a few days ago. But that is not in 2.0.0 release.

[2019-11-06 05:55] fsiraj commented on #34022
@oanush
Thanks for the quick reply, silly mistake on my behalf. Fixing the issue I ran into another error which I've gotten with another tutorial as well. It says "InternalError:  Blas GEMM launch failed".

Having just started I'm not sure what to make of this. I've updated the notebook so you can get a look at the new error.

[2019-11-06 06:20] gadagashwini commented on #33994
Please provide the information
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code

[2019-11-06 06:23] horo2016 opened #34032 "build tensorflow com_google_protobuf//:protobuf_lite' failed"
^
tensorflow/python/framework/python_op_gen_internal.cc:565:48: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
   for (int i = 0; i < params_with_default.size(); ++i) {
                                                ^
ERROR: /home/lid/.cache/bazel/_bazel_root/61773a13f73ad6653303d056b5da0c0b/external/com_google_protobuf/BUILD:106:1: C++ compilation of rule '@

[2019-11-06 06:25] gadagashwini commented on #33995
@marcojulioarg, Please provide the complete code to reproduce the reported issue. Thanks!

[2019-11-06 06:26] ravikyram commented on #34021
@tmartin293

Request you to share the supporting files and code with proper indentation to reproduce the issue in our environment. Thanks!

[2019-11-06 06:29] yxleung commented on #33491
yes,I can run my code in tensorflow==2.0.0b1, but when I update tensorflow to 2.0.0; I got an error; Is it tensorflow2.0.0 bug?

[2019-11-06 06:33] oanush commented on #34022
@fsiraj ,
Try doing a fresh run from the beginning always by restarting the kernal when any changes are made in the code, no error will be faced, please find the [gist](https://colab.sandbox.google.com/gist/oanush/3c3415a29ca3c051fe924b891a579701/34022.ipynb) of colab for your reference . Thanks!

[2019-11-06 06:39] JackGuoFranklin commented on #33977
my code is the tutorial code ,i use the pychrom

tf.version
2.0.0-beta0
tf.keras.version
2.2.4-tf

@dubesar,
your solvtion  ,it not work.
@ymodak
my code and  the tutorial code is " keras= tf.keras"
 it not work.please help me . i try many times ,it not work

[2019-11-06 06:41] gadagashwini commented on #33997
I am able to reproduce the issue with Tf 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/c63657b9aa1f9133b430742a689e58fd/untitled236.ipynb). Thanks!

[2019-11-06 06:43] ravikyram commented on #34015
I have tried on colab with TF version 1.15 and i am not seeing any error message. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/75eadc7e4d604f1462811cf67e109b1c/untitled332.ipynb). Thanks!

[2019-11-06 06:48] JackGuoFranklin commented on #33977
google colab. is  ok，why pychrom is not work。@ymodak

[2019-11-06 06:50] gadagashwini commented on #33998
@Sawatdatta, Please provide the complete standalone code to reproduce the reported issue. Thanks!

[2019-11-06 06:52] #32775 closed

[2019-11-06 06:55] WestbrookZero opened #34033 "how to use tensorflow lite gpu delegate in android object detection ?"
private Interpreter tfLite;
public static Classifier create(
      final AssetManager assetManager,
      final String modelFilename,
      final String labelFilename,
      final int inputSize,
      final boolean isQuantized)
      throws IOException
{
        -------------------------
      try {
          GpuDelegate delegate = new GpuDelegate();
          Interpreter.Options options = (new In

[2019-11-06 07:03] TheBlackPlague commented on #33948
Of course. This is very similar to what I was doing and I think this may be a good replication.

https://github.com/tensorflow/examples/blob/master/community/en/transformer_chatbot.ipynb

Hope this helps and you can reproduce.
@jvishnuvardhan

[2019-11-06 07:07] ravikyram commented on #34003
@githubzjm
I have tried on colab with TF version 2.0  and i am not seeing any error message. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/5c1e097d5bb95ca5bc887e279e789e5e/untitled333.ipynb). Thanks!

[2019-11-06 07:10] gadagashwini commented on #34013
@Gus-Ghedim, Please provide details about what platform you are using (operating system, architecture).
Make sure you also include the exact command if possible to produce the output included in your test case.
Thanks!

[2019-11-06 07:44] AIRLegend commented on #33986
The problem for us is in the model/graph declaration part. It seems that all the 100 threads create 100 models on the same graph, so some node names conflict. My idea was that each thread had it's separate session so this don't occur. However, I still have the question for someone on the TF community: What is the best way (with TF 2.0) to make a model on each thread (not having the name collisions

[2019-11-06 07:46] tmartin293 commented on #34021
Project code based on previous LSTM project for activity recognition using UCF101 dataset:
https://github.com/PacktPublishing/Hands-On-Computer-Vision-with-TensorFlow-2/blob/master/Chapter08/ch8_nb1_action_recognition.ipynb

Dataset: https://www.crcv.ucf.edu/data/UCF101.php

Code:

[code]

[2019-11-06 08:08] VanNamMan opened #34034 "TensorFlow Lite currently doesn't support control flow ops: Merge, Switch."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):1.15.0

**Provide the text output from tflite_convert**

2019-11-06 14:51:12.818885: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow bina

[2019-11-06 08:16] zheng-xing commented on #15880
Hi @dtegunov thanks for your suggesting. Can you expand more on "Make sure to destroy any TF objects that rely on GPU memory prior to doing this"? How to destroy TF objects? Thanks in advance.

[2019-11-06 08:27] dav1d-wright opened #34035 "Issues converting recurrent ML-Agents model to TFLite (Tensorflow 1.15)"
Hi

I have been tryingt to convert a frozen graph def created by [ML-Agents](https://github.com/Unity-Technologies/ml-agents) to TFLite. However, there is an input variable to the model, which is defined by:

[code]

which seems to cause problems in the conversion.

If I convert without passing shapes the following happens:

[code]

[code]
I added some debut messages to `lite.py` and found that th

[2019-11-06 08:28] quintakFR commented on #33849
I'm not sure to totally understand your question. I only use one Session created with TF.NET and I run it once so I'm assuming I only have one TF runtime.

I will create this little example in the next days. How will I share it to you when it is done? (model file is around 112 MB)

[2019-11-06 08:38] Sawatdatta commented on #33998
Here it is
[code]

[2019-11-06 08:55] freedomtan commented on #33774
@xenogew You are trying to use a classification model in an object detection example. As stated explained in the [Android example project of Object Detection](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/README.md) page you referred to, you should start from a quantized [MobileNet SSD](https://github.com/tensorflow/models/tree/master/research/object_det

[2019-11-06 09:02] freedomtan commented on #34031
Please write configurations into **WORKSPACE** or **.bazelrc**, check the [Android quickstart
](https://www.tensorflow.org/lite/guide/android#build_tensorflow_lite_locally) for more details.

[2019-11-06 09:11] freedomtan commented on #33980
Building a shared library with `--config=monolithic`, which means to build things static mostly, looks weird. Please remove it and try again.

[2019-11-06 09:28] ravikyram commented on #34002
@yang-yk,
Thank you for reporting the issue.
In order to expedite the trouble-shooting process, please provide a code snippets along with versions you are facing the issue. Thanks!

[2019-11-06 09:31] netw0rkf10w opened #34036 "Please let load_weights load only weights as its name describes"
**System information**
- TensorFlow version (you are using): 2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current confusing/bad behavior/state.**

Look at the end of [this tutorial](https://www.tensorflow.org/guide/keras/save_and_serialize):

[code]

Look more closely:

[code]

I'm sorry, but, are you serious? Why on earth do you think it's a good idea to

[2019-11-06 09:31] gadagashwini commented on #34019
@grewe, In order to expedite the trouble-shooting process, please provide a complete code snippet to reproduce the issue reported here. Thanks!

[2019-11-06 09:34] bhavitvyamalik commented on #27880
You can either upload your model file at https://lutzroeder.github.io/netron/ and visualise the architecture of your model or you can simply do ```model_name.layers[0].input.name.split(':')[0]] ``` to get input layer and ```model_name.layers[-1].output.name.split(':')[0]] ``` to get output layer. If you have multiple output layers then you can get their names by changing -1 to -2 and so on dependi

[2019-11-06 09:34] ravikyram commented on #33996
@liupengkd
Can you go through the [link](https://www.tensorflow.org/guide/gpu#using_multiple_gpus) and see if it helps you?.Thanks!

[2019-11-06 09:44] netw0rkf10w commented on #33988
@jvishnuvardhan To show that the results of `.fit()` are incorrect, I had to add GradientTape for comparison. Here's [a notebook without custom training loop](https://colab.research.google.com/drive/1eNAFiOY8fDWMF4ydx7-RIoc8Fi7gRia_), but then you'll have to figure out why the results are not correct.
Thanks.

[2019-11-06 09:54] jbissantz commented on #33206
Apparently yes, because every time I run a tf application in python (conda installed pkg) or C++ (build from source with no FLAGS) I get the following line printed to my console:
![image](https://user-images.githubusercontent.com/56394934/68287854-b2e09580-0083-11ea-8cf8-66d80ec1c117.png)

[2019-11-06 09:55] Officium opened #34037 "Support key mapping in TFRecord"
**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
For multiple features situation like recommendation, names of features will take a lot of spaces in tfrecord files. A simple solution is replacing name by feature's index. Do this compression automatically needs change tfrecord

[2019-11-06 09:57] SumNeuron opened #34038 "TF 2.0 distribution strategy throws invalid argument error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): somewhat
- OS

[2019-11-06 09:57] SumNeuron commented on #33452
@angerson no idea what it was, I am now using `FROM tensorflow/tensorflow:2.0.0-gpu-py3-jupyter` with no issues

[2019-11-06 09:58] #33452 closed

[2019-11-06 09:59] yang-yk commented on #34002
Thanks for your reply and sorry for my rudeness. It’s about the tf estimator using multi-gpus. When I try to use the mirroredstrategy as what the official code teaches, there are always errors. Although I have tried tf version from 1.4 to 1.15, I still can't make it work. The errors are always different under different versions. I am so tired to solve the problem becasue it has taken me all day.

[2019-11-06 10:00] oanush commented on #34006
@superhg2012 ,
Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-11-06 10:00] ravikyram commented on #33958
@Safiullahmarwat

Can you please confirm TF version you are using it is 1.4 or 1.14?

[2019-11-06 10:03] gadagashwini commented on #34024
Could reproduce the issue with TF 2.0 on colab.
Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/3ea3118c557f04b1f6deda7665b636fd/untitled238.ipynb). Thanks!

[2019-11-06 10:16] theoallard commented on #34015
@ravikyram, sorry just realized the example to reproduce had `ones` initializer instead of `identity`. Just edited the description and tested on your colab notebook. As shown in [the gist](https://colab.research.google.com/gist/theoallard/251081388e066f5babd4d59de134eeb6/untitled332.ipynb), I confirm this fails:
[code]

[2019-11-06 10:29] Safiullahmarwat commented on #33958
@ravikyram Sir,I am soo sory, my TF version is 1.14.0

[2019-11-06 10:35] xadrianzetx commented on #33893
Hi @wuhy08

Just tried [latest nightly](https://pypi.org/project/tf-nightly/2.1.0.dev20191106/) and indeed RESIZE_NEAREST_NEIGHBOR is now supported. This solved my issue. Thanks!

[2019-11-06 10:48] oanush commented on #34020
Issue replicating for TF-2.0, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/571af19a2605e0b63938207f55803361/untitled26.ipynb) of colab.Thanks!

[2019-11-06 11:02] oanush commented on #33347
@zo7 ,
I will close the issue for now, once the new information is available kindly reopen the issue. Thanks!

[2019-11-06 11:02] oanush commented on #33476
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-06 11:02] #33476 closed

[2019-11-06 11:06] gadagashwini commented on #33539
@sonfiree, Is this still issue!

[2019-11-06 11:07] gadagashwini commented on #33600
@esakkirajask, Is this still issue!

[2019-11-06 11:11] ravikyram commented on #33919
I have tried on colab with TF version 2.1.0-dev20191103 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1cf3040cd25084f0414ff1385820fe58/untitled325.ipynb). Thanks!

[2019-11-06 11:14] gadagashwini commented on #33613
@Vooblin, Can you please let us know if you are happy to close if no issue persists. Thanks!

[2019-11-06 11:18] vmarkovtsev opened #34039 "tf.data.Dataset fixed size batching with subsequent map() under tf.distribute.MirroredStrategy leads to a crash"
**System information**
The same environment as in https://github.com/tensorflow/tensorflow/issues/33531

**Code to reproduce the issue**

It took me a few **weeks** of debugging to reproduce! **IMPORTANT: I DO NOT THINK IT WILL REPRODUCE IN COLAB, YOU NEED AT LEAST 2 GPUS.**

[code]

As you see, I am feeding a `tf.data.Dataset` pipeline to a Keras model under `tf.distribute.MirroredStrategy`. In m

[2019-11-06 11:23] HuzuniV2 commented on #33030
Also experiencing this issue.
It seems some tensors are being kept in GPU memory.
Following.

[2019-11-06 11:25] esakkirajask commented on #33600
No it closed.

On Wed, 6 Nov 2019, 4:44 pm gadagashwini, <notifications@github.com> wrote:

[2019-11-06 11:37] gadagashwini commented on #33957
Changed the code accordingly and tried to replicate the issue but got a different error. Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5379f634a5c37b1eb9ef48aa81e38e0c/untitled239.ipynb). Thanks!

[2019-11-06 11:42] nikochiko commented on #34005
@copperwiring Sure, I would like to work on it. But I will have to look into its technical details before that. If you have any resources, it would be great if you share them. I'll try to learn something about it from code in the meanwhile.

[2019-11-06 11:43] nikochiko commented on #34005
@oanush Please assign this to me and @copperwiring . Will open a PR soon.

[2019-11-06 11:44] gadagashwini commented on #33967
I could reproduce the issue on colab with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/ee2bfba3b871578892def0b1742308ac/untitled240.ipynb). Thanks!

[2019-11-06 11:49] JosPolfliet opened #34040 "tf.keras.model_to_estimator() fails with custom loss/custom metrics"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.4
- TensorFlow installed from (source or binary): binary
[code]
**Describe the current behavior**
I am using a custom loss function that requires extra input (the number of words in the sentence). When co

[2019-11-06 11:49] shauryad15 commented on #34031
ok, but as you see, while i'm trying to write these configurations, i'm getting the above mentioned error. Can you please let me know the exact format so that I can add it into workspace.bzl?

[2019-11-06 11:52] nikochiko commented on #34003
@githubzjm , Do similar errors occur for other values of `epochs` ?

[2019-11-06 11:55] yyoon commented on #32072
I believe this was fixed by 53afd4e200942a4b05b8f4d2982cb5e7c8c0a44d. Feel free to re-open or file a new bug if this is still an issue.

[2019-11-06 11:55] #32072 closed

[2019-11-06 12:04] yyoon commented on #32523
Is this still an issue for you? We have recently published both v2.0.0 and v1.15.0 of the TensorFlowLiteC framework via CocoaPods. Let me know if there's anything I can help with.

[2019-11-06 12:06] superhg2012 commented on #34006
@oanush Hi, I am using  _tf.train.experimental.enable_mixed_precision_graph_rewrite_ [api](https://docs.nvidia.com/deeplearning/frameworks/tensorflow-user-guide/index.html#tfamp) to do auto mix precision training for my seq2seq model(Tacotron).   if validation is removed, this issue can not be reporduced.

[2019-11-06 12:12] yyoon commented on #26924
Seems to be fixed by https://github.com/tensorflow/tensorflow/pull/31506. Closing.

[2019-11-06 12:12] #26924 closed

[2019-11-06 12:14] EgorLakomkin commented on #33776
I tried to build each cell, but the names are still duplicated

[2019-11-06 12:17] fatyArrammah commented on #20444
Yes like me

[2019-11-06 12:32] MikeOfZen opened #34041 "Training with TPU model.fit error, while GPU works well"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):No
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):Using Colab
- TensorFlow version (use command below):v2.0.0-rc2-26-g64c3d38

[2019-11-06 12:52] zychen2016 commented on #33851
Thank you！On xiaomi 8 SE，Gpu delate ~60ms!

[2019-11-06 13:04] githubzjm commented on #34003
Yes, I change the value of epochs to 6 and the error is the same：
**ValueError: Attempt to convert a value (5) with an unsupported type (<class 'numpy.uint8'>) to a Tensor.**

[2019-11-06 13:13] liupengkd commented on #33996
@ravikyram Thank you for your answer。I know how to set it in python，however， I want to set it in C

[2019-11-06 13:15] issanospam opened #34042 "Error building 1.13"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (

[2019-11-06 13:55] chrism0dwk opened #34043 "Unsupported numpy type: NPY_LONGLONG"
**System information**
Linux Mint 19
Dell XPS 7590 laptop
Python 3.7.4 Anaconda
Tensorflow version: v2.0.0-rc2-26-g64c3d38 2.0.0 (pip tensorflow-gpu with GPU disabled)
Numpy version: 1.17.3

**Describe the current behavior**
Tensorflow 2.0 raises a ValueError if a Numpy array of type np.longlong is converted to a tf.Tensor.

**Describe the expected behavior**
A np.array(dtype=np.longlong) should a

[2019-11-06 14:04] kiflowb777 commented on #33785
I also checked on TF 1,15, but the problem also exists.

[2019-11-06 14:11] JackGuoFranklin commented on #33977
it is work ,just update TF and keras @ymodak @dubesar

[2019-11-06 14:11] #33977 closed

[2019-11-06 14:14] TimPepsiCo commented on #33917
@alextp I'm not sure the default behavior should be to raise an Exception, do you think that is better than returning either 1. the exponentiated dense Tensor or 2. the exponentiated Sparse Tensor (even though it is dense) to preserve the type of Tensor?

[2019-11-06 14:35] sonfiree commented on #33539
Yes

[2019-11-06 14:54] fredo838 opened #34045 "`==` fails where `tf.equal` works when using tf.data.Dataset.from_generator + @tf.function (TF 2.0)"
"==" works in my `augment` function (with `@tf.function` decorator) , but `tf.equal` works.

tensorflow version : 2.0.0-beta1
python version : python3.6

**Minimal reproducable example**
Just chuck this in a `ŧest.py` file and run `python3.6 test.py`:
[code]

[2019-11-06 15:30] stefanondisponibile commented on #32912
I can confirm that `fit_generator` works around the issue, but I experienced it **wihout** making the dataset `from_generator`. I was actually working with with a `tf.data.TFRecordDataset`, but the following code reproduces the issue with `fom_tensor_slices`:

[code]

[2019-11-06 15:33] jpambrun commented on #32912
Adding the following after batching allowed me to work around this issue:
[code]

[2019-11-06 15:35] soldierofhell commented on #33277
I'm also interested. To reproduce in colab one has to install TensorRT 5.1.5
`!apt-get install -y --no-install-recommends libnvinfer5=5.1.5-1+cuda10.0 libnvinfer-dev=5.1.5-1+cuda10.0`

[2019-11-06 15:35] egealpay commented on #32693
Even with the tf-nightly package, I am getting the same error

[2019-11-06 15:41] stefanondisponibile commented on #32912
This works for me too.

[2019-11-06 16:02] vmarkovtsev opened #34046 "No IteratorGetNextSync in profile results under MirroredStrategy"
**System information**
The same as in https://github.com/tensorflow/tensorflow/issues/33531

**Describe the current behavior**
I follow https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras but additionally wrap into a `tf.distribute.MirroredStrategy` scope. I don't see any `/job/...` items in the PROFILE section of TensorBoard. I see the following that is really non-informative:

![i

[2019-11-06 16:02] johan-andersson01 commented on #33916
@oanush My laptop only has one GPU, so does that apply?

[2019-11-06 16:20] mattbernardini commented on #33484
Right, that works for float32, but does not work for float16 which was the original issue.

[2019-11-06 16:25] mihaimaruseac commented on #33539
Can you try building from master? In a separate clone of the repository? Please attach the full compilation log.

[2019-11-06 16:25] TobiasNorlund opened #34047 "ResourceApplyGradientDescent happens on CPU?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0.

[2019-11-06 16:27] mihaimaruseac commented on #32945
Please post **code** not images. Make sure the code you post is complete and minimal. Make sure you use markdown formatting so it is easy to understand.

Try to post code from outside a notebook as notebooks can have cells run in different order and that would cause more headaches while trying to debug.

[2019-11-06 16:29] flaviussn commented on #26268
How can I add `dynamic=True` or compile in eager mode `keras.Sequential`?

[2019-11-06 16:46] alextp commented on #33849
You can upload to google drive? Or come up with a smaller/simpler model
which also exhibits the bug?

On Wed, Nov 6, 2019 at 12:35 AM quintakFR <notifications@github.com> wrote:

--
 - Alex

[2019-11-06 16:50] alextp commented on #33917
I don't think either of these two options is obviously correct (making a
very sparse tensor silently dense will wreak havoc on someone's performance
and memory usage, and preserving sparsity will wreak havoc on someone
else's math) so we need to leave the decision up to the call site.

On Wed, Nov 6, 2019 at 6:21 AM TimPepsiCo <notifications@github.com> wrote:

--
 - Alex

[2019-11-06 16:53] rockyrhodes commented on #33551
This header file, fixedpoint.h, should have been downloaded by the make command to the tensorflow/lite/experimental/micro/tools/make/downloads/gemmlowp/fixedpoint/ directory.  Could you check if this gemmlowp directory has been successfully downloaded?  Possibly there was some issue with this download that scrolled by in your error log?

Also, the make command you executed is trying to build the t

[2019-11-06 16:56] rockyrhodes commented on #33606
I believe this change has been merged.  Could you retry your model @antofara ?

[2019-11-06 17:09] fernand commented on #33959
I have the exact same issue: Running `bazel build -c opt --config android_arm64 //tensorflow/lite:libtensorflowlite.so` on the latest commit `965f4b71f0c719f5466fe0f25f326593ae9e220a` yields a 5.7K `libtensorflowlite.so` (no build errors), while the randomly picked commit `1cf6cb79156d488fd97504ecc6744cd0ab2d31fa` from ~2 weeks ago properly yields 2.3 MB binary .so file.
Using the recommended Baze

[2019-11-06 17:15] alextp commented on #33899
There isn't a roadmap, and we'll happily take pull requests.

[2019-11-06 17:49] rockyrhodes commented on #33778
Sorry you're having trouble reproducing our results.  @dansitu can help with the details of the exact configuration we used in our tutorial.  I've also downloaded the model file you supplied and will see if I get any better results.  Maybe @dansitu can also comment on the accuracy that should be expected when running this code on a sparkfun board with our demo code.  The accuracy number quoted is

[2019-11-06 17:49] j-o-d-o commented on #33646
Here is a workaround for the meantime:
[code]

[2019-11-06 17:55] rockyrhodes commented on #33797
The micro project is still under development and ops are still being added.  The MUL op hasn't been added yet, but it is on the todo list.  Maybe @MeghnaNatraj can offer some advice with respect to SSD models.

[2019-11-06 18:09] sonfiree commented on #33539
Nothing has changed. Everything is like in the first post

[2019-11-06 18:11] antofara commented on #33606
@rockyrhodes
In all_ops_resolver both BuiltinOperator_DEPTHWISE_CONV_2D and BuiltinOperator_CONV_2D are still registered as version 1, thus MicroMutableOpResolver::FindOp still returns, as expected, nullptr.
If I enforce it by modifying all_ops_resolver, registering version 3 of both operators, the program executes until
`TfLiteStatus invoke_status = registration->invoke(&context_, &node);`
(micro

[2019-11-06 18:14] impjdi commented on #33851
Hm, I was not directly involved in creating that model file, so the correct answer would be "I don't know".  There are two possibilities:
* Either the Python script was modified to match the dimensions,
* Or the TOCO was invoked with the new input dimensions.
I don't think the person who prepared the TFLite file re-trained things with the 1st option.  I am guessing the 2nd option.

[2019-11-06 18:40] mihaimaruseac commented on #33539
I wanted to see full logs of compilation process, including output of running configure.py to identify if error stems from another source.

[2019-11-06 18:41] rockyrhodes commented on #33606
Sorry, you're right.  The change to all_ops_resolver is still stuck here at Google in code review.  I'll work with @njeffrie to get it submitted.

[2019-11-06 18:43] lamberta commented on #33974
Thanks for the report! Can you make a PR? That file is here: https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/ops/check_ops.py#L1697-L1747 (link at top of page on tf.org)

[2019-11-06 18:54] gowthamkpr commented on #34020
@kaisuke Checkpoint.save and Checkpoint.restore write and read object-based checkpoints, in contrast to TensorFlow 1.x's tf.compat.v1.train.Saver which writes and reads variable.name based checkpoints. Object-based checkpointing saves a graph of dependencies between Python objects (Layers, Optimizers, Variables, etc.) with named edges, and this graph is used to match variables when restoring a che

[2019-11-06 19:42] netw0rkf10w commented on #6720
Hello,

Could anybody please tell me if it's totally safe to use `tf.image.resize` in TF 2.0 now?

Thank you very much in advance!

[2019-11-06 19:44] ziruizhuang commented on #33855
@captain-pool Thanks for the suggestion. I tried to cast it to float32 but I got another error and it seems that it is related to the shape of the tensors.
[code]
[code]

[2019-11-06 19:47] Craigacp commented on #33899
Ok. Is there any programmatic way to figure out what ops have a C++ gradient and what ones don't? Or some grep based magic I could run on the source tree? I'd prefer to fix a bunch of them at once rather than run into them piecemeal as we expand our usage of the TF Java API.

[2019-11-06 19:56] johnpjf commented on #6720
Yes, tf_v2.image.resize works correctly.

[2019-11-06 20:08] netw0rkf10w commented on #6720
@johnpjf Perfect. Thanks a lot!

[2019-11-06 20:13] alextp commented on #33899
I believe you want the REGISTER_OP_GRADIENT macro

On Wed, Nov 6, 2019 at 11:54 AM Adam Pocock <notifications@github.com>
wrote:

--
 - Alex

[2019-11-06 20:15] marireeves commented on #32908
You're right, the dummy code runs with the following output. I'll take another look at that tutorial code:

Is it Backslash? True
tf.Tensor([b'C:' b'some' b'dummmy' b'path' b'parent_folder' b'file.txt'], shape=(6,), dtype=string)
tf.Tensor(b'file.txt', shape=(), dtype=string)
tf.Tensor(b'parent_folder', shape=(), dtype=string)

[2019-11-06 20:39] grewe commented on #34019
Here is the complete code base attached
[pythonLSTMCode.txt](https://github.com/tensorflow/tensorflow/files/3816613/pythonLSTMCode.txt)

[2019-11-06 20:40] vmullig commented on #6268
What is the current status of gradients in the C API now?  Is it possible to compute gradients using that API, or is it necessary to use the C++ API?

[2019-11-06 21:04] hamBan commented on #27935
Thanks a lot for these instructions. I could not find them anywhere else.

[2019-11-06 21:11] kaploink commented on #34035
Hi

I'm exploring the same rabbit hole (ml-agents -> tflite); currently at about the same point.

Here are a few learnings that may help:
- try the python api instead of command line util (it's recommended): https://www.tensorflow.org/lite/convert/python_api
- if you happen to be on windows, the windows distrib of tensorflow seems to be missing lite or just the converter, but seems to work fine ru

[2019-11-06 21:14] kaploink commented on #34035
Ha, just found your post in ml-agents repo!

[2019-11-06 21:23] lamberta commented on #33966
Hello.

Usually we generate the API reference Markdown in the tensorflow/docs repo. It should all be readable by browsing GitHub, just select the branch: https://github.com/tensorflow/docs/tree/r1.14/site/en/api_docs
But we're a bit behind for this last release. @MarkDaoust, can you generate the latest-greatest, please? (b/142128205)

The rest of the site docs are in the tensorflow/docs [site/en d

[2019-11-06 21:26] kaploink commented on #34035
Note https://www.tensorflow.org/lite/convert/rnn#not_currently_supported which mentions RNN usage of `sequence_length` is not supported, but will be by end of 2019...

Maybe it is supported in previous version of converter.

My case isn't an RNN btw, so sounds like your rabbit hole might be a bit longer.

[2019-11-06 21:27] wolffg commented on #25682
Could we get more detail on this?

* Browser and version?
* How are you invoking autoscroll?
* Which pages are causing issues?

[2019-11-06 21:30] gowthamkpr commented on #33973
@moberweger I tried reproducing your issue using Tensorflow 1.15 but was not able to reproduce it. Please find my gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/c7d13ee8fb33c915980d9a1845d0d3d5/untitled217.ipynb).

[2019-11-06 21:32] marireeves commented on #32908
It works both ways if you don't leave out the import os statement... thanks!

[2019-11-06 21:33] wolffg commented on #25209
This error doesn't appear in 2.0 under https://www.tensorflow.org/tutorials/structured_data/feature_columns, and we've upgraded our testing since then.  I'm closing this as fixed; thank you for bug report!

[2019-11-06 21:33] #25209 closed

[2019-11-06 21:46] #34017 closed

[2019-11-06 21:47] martinwicke commented on #34017
The issue tracker is for bug reports, or feature requests.

[2019-11-06 21:49] gowthamkpr commented on #33967
@ouakif
`embeddings_layer_names` is not supported in TensorFlow 2.0. Instead, all Embedding layers will be visualized.

For more info you can take a look at the source code [here](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/callbacks.py#L1475)

Thanks!

[2019-11-06 21:51] martinwicke commented on #34002
@yang-yk the issue tracker is for feature requests or bug reports. Your complaint is not constructive in form or content.

TensorFlow conforms to semver for backwards compatibility. If we violated [our promises](tensorflow.org/guide/versions), that would be a bug we can fix.

[2019-11-06 21:51] #34002 closed

[2019-11-06 21:52] angerson commented on #33861
Thanks for the report. As mentioned, TF 1.14.0 only officially supports GCC 4.8. If you'd like to use those newer options, please build at master, which supports GCC 7.3.1. Thanks!

[2019-11-06 21:52] #33861 closed

[2019-11-06 21:54] gowthamkpr commented on #33962
@netw0rkf10w Please share the zip file of source code. Thanks!

[2019-11-06 21:57] gowthamkpr commented on #33960
@kierenj What file are you using i.e., 'raw_data' in your code?

[2019-11-06 22:02] ouakif commented on #33967
Thank you for your answer.
However, here I am trying to set `embeddings_metadata` which should be supported (see [here](https://github.com/tensorflow/tensorflow/blob/1cf0898dd4331baf93fe77205550f2c2e6c90ee5/tensorflow/python/keras/callbacks.py#L1406))
In fact, one of the issues is that `_configure_embeddings` trying to check if the layer.name is in `embedding.metadata_path` while this variable is

[2019-11-06 22:19] wangpengmit commented on #33297
Hi @ageron, there is a discussion about RNG migration plan: https://groups.google.com/a/tensorflow.org/d/topic/developers/WLBbnQMB2Rw/discussion . We welcome your comments!

[2019-11-06 22:22] fsiraj commented on #34022
@oanush
I've tried that but I always run into this error. I'm running the notebook in a conda environment with only tensorflow and other required modules and dependencies. Is this an issue with my system?

[2019-11-06 22:36] germanjke commented on #30887
got some problem on Windows. is it a limitation and we can't do anything with this?

[2019-11-06 22:57] zo7 commented on #33347
Sorry, I will reopen if I am able to reproduce.

However I will leave one last nugget: Upgrading from v1.14 -> v1.15 makes it even *worse*. Our model goes from ~10 steps/sec (v1.12) -> ~6 steps/sec (v1.14) -> ~3 steps/sec (v1.15)

<img width="1073" alt="Screen Shot 2019-11-06 at 2 49 31 PM" src="https://user-images.githubusercontent.com/3229244/68345010-35c61800-00a5-11ea-89a7-618e7ca41f05.png">

[2019-11-06 23:08] benderama3 opened #34053 "How to use hub.KerasLayer without the Sequential API"
I don't know if its a bug.
I'm following this tutorial https://www.tensorflow.org/tutorials/keras/text_classification_with_hub which is working fine.
I'm trying to replace the sequential model:
[code]
by:

[code]
Which is throwing:
[code]
I didn't change anything else.
If this a bug or I'm doing something wrong ? The second model should act exactly like the first one.

[2019-11-06 23:10] sickWill commented on #30794
Does anybody knows why this pop ups?

ERROR: Could not find a version that satisfies the requirement 1.14 (from versions: none)

I was trying to do de uninstall install earlier version of tensorflow but it seems it's deprecated right now.
I hope somebody see this.

[2019-11-06 23:46] wrd90 commented on #34035
Wow, thanks @kaploink! I will look into those suggestions and keep you up to date! Could you tell me what your set up and objective is, just for information?

[2019-11-06 23:57] JiatianWu commented on #31053
Similar issue

[2019-11-07 00:34] keithchugg opened #34055 "model.reset_states() does not work for bidirectional-RNNs in tf.keras."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS 10.14.6**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **2.0.0**
- Python version: **3.7.4**
- GPU model and memory: **none (MacBook Pro, Core i5,

[2019-11-07 01:09] dynamicwebpaige commented on #9645
Adding @martinwicke (RE: C++ API needs for TensorFlow). It looks like strided slice and slice are supported by the merged PRs above; is gather still lacking?

[2019-11-07 01:15] lsgrep commented on #33414
OK, I am on it.

[2019-11-07 02:06] tuxxi commented on #33207
I was having the same issue. The crux of my problem was that the error message says the configuration was looking for `NvInferVersion.h`, which I couldn't find anywhere (using `locate NvInferVersion.h`). I looked into the configuration and it seems it tries to find `NvInferVersion.h` *after failing to find* `NvInfer.h`.
[code]

Thus, all I needed to do was pass the correct path to `NvInfer,h`, whi

[2019-11-07 02:14] driedler opened #34056 "TFLite Micro allocator, need to set quantized_dimension"
In the latest master,

tensorflow/lite/experimental/micro/micro_allocator.cc

In `InitializeRuntimeTensor()` near line 365, need to add:

[code]

[2019-11-07 02:31] netw0rkf10w commented on #34008
What I said above, "for single-GPU I observed similar performance", **is not true**!!

I've just tested my code on a different dataset (Coco segmentation, previous was Oxford Pet), and **even for single-GPU training, GradientTape is 1.7-1.8 times slower than .fit()**.

Keras .fit() is [unusable with custom loss functions](https://github.com/tensorflow/tensorflow/issues/33988), while GradientTape i

[2019-11-07 02:40] YoungANDJ commented on #33983
I have the same question at 'flatbuffer' and 'enum'. Please make sure that U **use the latest FLATTERBUFFER** so that _flatbuffers/flatbuffers.h has type 'FlatBuffersVTableOffset'._ I solve the problem with it. U can try it. Good Luck.

[2019-11-07 02:59] ageron commented on #33297
Thanks @wangpengmit ,
It looks good to me. I added a note about making it possible to preserve the old behavior if possible, but I understand if that's hard to do.

[2019-11-07 03:00] sonfiree commented on #33539
[code]

[2019-11-07 03:02] driedler opened #34057 "TFLite Micro, bugfix for MicroAllocator::AllocateTensors()"
Latest master:
tensorflow/lite/experimental/micro/micro_allocator.cc

`MicroAllocator::AllocateTensors()`

[code]

The operations list is iterated in reverse so need to change:
```(current->first_created > i)```
 to
```(current->first_created < i)```

[2019-11-07 03:14] sonfiree commented on #33539
[code]

[2019-11-07 03:14] sonfiree commented on #33539
`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`

[2019-11-07 03:25] oanush commented on #34032
@horo2016 ,
Can you please let us know steps followed before facing the issue ?Thanks!

[2019-11-07 03:27] oanush commented on #34029
@deaputri ,
Looks like the code provided is in complete,Can you share a simple and standalone code to reproduce the issue?Thanks!

[2019-11-07 03:40] lxl910915 opened #34058 "CheckNumerics takes long time"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-07 03:41] #34058 closed

[2019-11-07 03:51] jdduke commented on #33959
Thanks for flagging the issue, this does look like a recent regression, likely due to our use of the TF build rule for generating a binary. We'll try to get a fix out quickly, but in the meantime you can sync to a slightly earlier build.

[2019-11-07 03:53] murdockhou commented on #33957
@gadagashwini , its my fault, I forget to set names for output layer, please  use the following `smallModel` instead of the previous one.
[code]

And please remember that when save_weights we set parameter `training = True` but will be False when load_weights.

[2019-11-07 04:15] bhavitvyamalik commented on #33607
I was able to run InceptionV3 model on EdgeTPU. The issue was not with size of the model but with the quantization process. Here is the code on how to quantize and convert the code to TFLite:
[code]
Tensorflow version used was 1.15.0. If you use TF2.0 and use from_saved_model instead, it will give the same error.

[2019-11-07 04:15] #33607 closed

[2019-11-07 04:48] JeffreyWardman commented on #26289
In addition to what @sytelus said, the exact statement is:
`conda install pytorch torchvision cudatoolkit=10.0 python==X -c pytorch`
where X is your current python version if you don't want to upgrade it.

[2019-11-07 05:10] aarac opened #34059 "Using Cuda 10 and getting ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory"
I am running an instance of tensorflow and am having the issue of ImportError: libcublas.so.8.0: cannot open shared object file: No such file or directory

Is this because I am using CUDA version 10.1. Not quite sure how to proceed

**Code: sudo python2 train.py --hypes hypes/overfeat_rezoom.json --logdir output/ --gpu 0**

Traceback (most recent call last):
  File "train.py", line 4, in <module>

[2019-11-07 05:23] ravikyram commented on #34045
@fredo838

Can you please try with latest TF 2.0 version  `!pip install tensorflow==2.0.0` . I am not seeing any error message with` tf.print(tf.where(y == 0)` with latest TF 2.0 version. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/8b88e7ed4b5b54488df459fe05d667ed/untitled336.ipynb). Thanks!

[2019-11-07 05:24] oanush commented on #34042
@issanospam ,
 Please take a look at the Tensorflow [tested build configuration](https://www.tensorflow.org/install/source#tested_build_configurations).Tensorflow 1.14.0 supports GCC 4.8. Thanks!

[2019-11-07 05:31] ravikyram commented on #34041
@MikeOfZen

Thanks for reporting the issue.
Can you please provide us the correct Colab gist link to reproduce the issue.Thanks!

[2019-11-07 05:38] yaolove opened #34060 "undefined reference to `absl::M"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-07 05:41] ravikyram commented on #34037
@Officium
Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature. Thanks!

[2019-11-07 05:47] ravikyram commented on #34033
@WestbrookZero
Can you please go through the [link ](https://www.tensorflow.org/lite/performance/gpu)and see if it helps you. Thanks!

[2019-11-07 05:55] smaerdlatigid commented on #33513
I have a similar issue. When I change the .so to a .dll and try to load it in unity after compiling with bazel I get an error

`
Failed to load 'Assets/TensorFlowLite/SDK/Plugins/libtensorflowlite_c.dll', expected x64 architecture, but was Unknown architecture. You must recompile your plugin for x64 architecture.`

[2019-11-07 05:59] ravikyram commented on #34030
@liupengkd

Looks like this issue is duplicate of # 33996 ?. Please, confirm.Thanks!

[2019-11-07 06:02] multiverse-tf commented on #33959
FYI, this is caused by commit f58c9f835c32e02895bdd629c7660567ae011001. So, another alternative is to comment out "build --incompatible_remove_legacy_whole_archive" in tensorflow/.bazelrc.

[2019-11-07 06:06] gadagashwini commented on #34040
I could reproduce the issue with Tf 2.0.
PTAL at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/d1bd904336b76d7beb9683f44a57a8e8/untitled241.ipynb). Thanks!

[2019-11-07 06:10] benoitkoenig commented on #31419
Hi!

Sorry for not getting back here, I'm having issues installing tensorflow 1.15 on my machine, I will get back to you as soon as this is done

So you know, the test simply consists in running the following code:
import numpy as np
import tensorflow as tf
[code]
And making sure no memory leakage is observed (it does with tensorflow1.14)

Benoît

[2019-11-07 06:12] fernand commented on #33959
Thank you!

[2019-11-07 06:12] Verete commented on #30427
try

pip3 [pip] install tf-nightly

the nightly build of tensorflow seems to have that problem sorted out, best of luck

[2019-11-07 06:15] developer22-university commented on #34030
@liupengkd

@ravikyram
i have solved please check my file

[2019-11-07 06:19] moberweger commented on #33973
Thanks @gowthamkpr Interestingly, the gist worked also for me when executed for the first time, but still I could reproduce the error it in your colab after running a few times with TF 1.14 and 1.15. I also checked TF 2.0 through the `compat` interface, and could trigger the same error, see my gist [here](https://colab.research.google.com/gist/moberweger/2553560a5deeb2eaa5e3cfc23516ef34/untitled21

[2019-11-07 06:23] gadagashwini commented on #34043
@chrism0dwk, Thanks for reporting this issue.
Issue is replicating on colab with Tf 2.0 and it is working as expected in Tf 1.15.
Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/c645c20cf82e371fbfd71690808dc9b8/untitled242.ipynb). Thanks!

[2019-11-07 06:28] ozzcet commented on #33952
Hi again,

I have tried again and again and nothing change. Last time what I have done with 600x800 labeled images data set.

(windows 10 operations)
Firstly, I have downloaded http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_coco_2018_03_29.tar.gz

And get https://github.com/tensorflow/models/tree/master/research/object_detection from githuband train it  with
that code:
 "p

[2019-11-07 06:35] #33996 closed

[2019-11-07 06:43] jnd77 opened #34062 "BatchNorm generates NaN moving_variance on GPU with fused set to True for some inputs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-07 06:49] Officium commented on #34037
@ravikyram In CTR prediction task, one may use statistics of history over several dimensions to construct features. For example, a user's features contains the average click count on advertises with same category of users with same gender in past 7 days. A middle size advertise system may use thousands of such features. For system implementation, the feature consistence between online and offline

[2019-11-07 06:56] Officium commented on #34037
@ravikyram This feature will support a time-space tradeoff. In real system, TBs of data will be used for distributional training.  It saves disk space and network transmission time but increases loading time. Basically, it provides improvement.

[2019-11-07 06:56] AngledLuffa commented on #26289
Unfortunately, the issue I'm currently running into is that cuda 10.0
doesn't even exist for centos 8.  Perhaps centos / redhat was not the most
convenient linux distro to choose, but switching to a different distro
would be even more inconvenient at this point.

On Wed, Nov 6, 2019 at 8:57 PM Jeffrey Wardman <notifications@github.com>
wrote:

[2019-11-07 06:59] dubesar commented on #34062
Hi !!
The common reason for NaN can be the following :

1. Gradient Blow up
2. Bad learning rate policy and params
3. Faulty Loss function
4. stride larger than kernel size in "Pooling" layer

If possible check for the above problems.

[2019-11-07 07:22] jnd77 commented on #34062
Hi. Thanks for the advice.
As you can see in the gist, I'm not running any model or training. It happens only for certain shapes of inputs (width and height equal to 1, but maybe for some others), so I guess there is a bug in the fused op on GPU for this corner case ...

[2019-11-07 07:37] zychen2016 commented on #33851
OK，Thank you very much!

[2019-11-07 07:37] #33851 closed

[2019-11-07 07:50] Lumosis opened #34064 "Work group size selection in OpenGL"
**System information**
- TensorFlow version (you are using): v2.0.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Hi, I am running tensorflow lite v2.0.0 on my Mali-G72 and Adreno 630 GPUs. I have read some of the tf lite source codes in order to see how you make use of OpenGL.

In /tensorflow/tensorflow/lite/delegates/gpu/gl/workgroups/

[2019-11-07 07:54] gadagashwini commented on #34047
@TobiasNorlund, Please refer this [link](https://www.tensorflow.org/guide/gpu). The document describes the GPU utilization. Thanks!

[2019-11-07 08:03] ravikyram commented on #34028
@grewe

Can you please share all the supporting files (`UCF-101, .txt files`) for reproducing the issue. Thanks!

[2019-11-07 08:18] mp-airwallex commented on #34035
@wrd90
I'm making a low cost quadruped robot running on arduino or raspberry pi (tbd), and using unity's ml-agents to teach it to walk.

I've got the physical prototype robot and the corresponding trained ml-agents model, now at the pointy end of trying to put them together...

Currently at the conversion to tflite stage.

How did you find out what the input arrays/shape should be...?

[2019-11-07 08:27] chsigg commented on #26289
We are working on updating TF builds to CUDA 10.1.

[2019-11-07 08:36] georgealexandruvlad commented on #33684
@bfontain I've been trying your solution past couple of days but I couldn't figure out why I can't make it work.

I created a VM instance in google cloud and after that a TPU instance. Both are on the same zone and have the same name. For the TPU computing instance I've specified the tensorflow version by setting the --tf-version flag to "nightly-2.x". They were both created and I connected to the

[2019-11-07 08:38] psitronic opened #34066 "TF2.0 distributed training fails after adding an embedding layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): somewhat
- OS

[2019-11-07 08:41] issanospam commented on #34042
Got a similar error when building Tensorflow 1.14 with GCC 4.8. Everything else seems to match the tested build configuration.

`ERROR: /home/issa/Downloads/tensorflow/tensorflow/BUILD:745:1: Executing genrule //tensorflow:tf_python_api_gen_v1 failed (Exit 1)
Traceback (most recent call last):
  File "/home/issa/.cache/bazel/_bazel_root/ee4098cabb6d80cd53ff67b126befee0/execroot/org_tensorflow/baze

[2019-11-07 08:47] fredo838 commented on #34045
I got a `distribution not found`, that's why I wasn't on the latest version. After upgrading `pip`, installing `python3 -m pip install tensorflow==2.0.0`, Issue was resolved.

[2019-11-07 08:47] #34045 closed

[2019-11-07 08:48] 3fen commented on #33966
Sure, it helps. Thanks.

[2019-11-07 08:48] #33966 closed

[2019-11-07 08:49] gadagashwini commented on #33998
@Sawatdatta, Looks like code is incomplete. Provide us the full code snippet. It will indeed help us to move faster. Thanks!

[2019-11-07 08:51] ynorz commented on #31368
I had the same error using the MobileNet v2 model in Keras with the tiny-imagenet-200 dataset. The TPU compiler version was 2.0.267685300. The quantized tflite file was produced successfully, but it cannot be compiled.

[2019-11-07 08:52] chpohl commented on #10375
I just install tf-nightly-gpu and cannot find a tf.linalg.experimental module. Do you mean the functionality under tensorflow.python.ops.linalg.sparse ? When I read it correctly, the matmul there supports both sparse inputs.

[2019-11-07 08:53] MarkDaoust commented on #33966
Yes.

You can convert them with `jupyter nbconvert` but if you have jupyter installed you can just use the notebook interface.

[2019-11-07 08:56] gadagashwini commented on #33957
Issue is replicating with TF 2.0.0 on colab. Please take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/13c417c65cbf1a5753d75af39377059b/untitled239.ipynb). Thanks!

[2019-11-07 09:00] TobiasNorlund commented on #34047
Even if I explicitly pin the GPU to the op applying gradients, there is still no change. It is still performed on the CPU according to trace.
[code]

Is this to be expected?

[2019-11-07 09:08] truongsinh commented on #32523
@yyoon looking at https://github.com/tensorflow/tensorflow/blob/v1.15.0/tensorflow/lite/experimental/ios/TensorFlowLiteC.podspec, it's still pointing to `1.14.0`. So does https://github.com/tensorflow/tensorflow/blob/v2.0.0/tensorflow/lite/experimental/ios/TensorFlowLiteC.podspec

[2019-11-07 09:14] bfontain commented on #33684
If you have the chance, can you try setting tpu_addr to just the name of the cloud tpu you allocated rather than the grpc://+ip address? TPUClusterResolver should be able to figure everything out from just that information, so long as the GCE instance is in the same zone/project as the TPU.

[2019-11-07 09:16] Sawatdatta commented on #33998
Complete code is here, I didn't upload it earlier because it uses ImageDataGenerator.

[code]

[2019-11-07 09:21] wrd90 commented on #34035
That sounds cool @mp-airwallex!

I found the shapes by visualizing `frozen_graph_def.pb` using tensorboard

[2019-11-07 09:28] kaploink commented on #34035
err, oops, wrong account!  kaploink == mp-airwallex

ah, awesome, thanks

[2019-11-07 09:29] quintakFR commented on #33849
Perfect I will upload it to google drive.
Thank you @alextp !

[2019-11-07 09:29] wangyunxiaa commented on #32458
I have tried `export TF_ENABLE_AUTO_MIXED_PRECISION=1`
and `os.environ['TF_ENABLE_AUTO_MIXED_PRECISION'] = '1'`
they are all no use

[2019-11-07 09:38] wangyunxiaa commented on #32458
@ymodak
I am sorry for the latter reply,
Another question fused me ,
when I use tf.contrib.rnn.LSTMBlockFusedCell, It is about 2× times cost by tensorflow serving ( build from source 1.14 (GPU-2080TI cuda=10.1 version 1.13))than tensorflow(installed by pip install tensorflow-gpu==1.13.1)
I am confused that whether I have not add some build options or the blockfused op just speed up in python api n

[2019-11-07 09:39] georgealexandruvlad commented on #33684
Already tried this. I've checked again to be sure and it has the following output:

[code]

As you said, based on the name it figures out the IP address and port to the TPU but unfortunately it hangs again.

[2019-11-07 09:43] gadagashwini commented on #34019
@grewe, Thanks for the code. Please provide the all the supporting files to reproduce the reported issue. Thanks!

[2019-11-07 09:46] jdduke commented on #33513
@smaerdlatigid can you share the exact build command that you used? And what version of Visual Studio is being used for compilation?

[2019-11-07 09:48] jdduke commented on #34031
Rather than modifying it manually, have you tried instead running the `configure` script in the root checkout directory, and explicitly pointing the script to your Android SDK/NDK when prompted?

[2019-11-07 09:51] DocDriven commented on #33980
@freedomtan
Without the flag, the library cannot be built anymore. Seems this is mandatory if compiling the extended lite runtime.

[2019-11-07 09:52] oanush commented on #34026
@gyc521zsc ,
Can you please assemble a minimal reproducible code snippet to reflect this issue? Also include your TensorFlow version.Thanks!

[2019-11-07 09:59] Vooblin commented on #33613
@gadagashwini Sorry, I missed your last comment and forgot about this issue. Associated PR fixed only code in tensorflow/models. I think that this issue related to problem with tflite converter and PR didn't fix it. So I think that problem wasn't solved but if you think that it's not so important and it doesn't need to be fixed then I won't mind closing this issue.

[2019-11-07 10:02] jdduke commented on #33980
Right, monolithic is expected here, this looks like https://github.com/tensorflow/tensorflow/issues/33959.  To confirm, would you mind commenting out `build --incompatible_remove_legacy_whole_archive` in `tensorflow/.bazelrc` and see if that makes a difference?

[2019-11-07 10:04] m4tts opened #34067 "TF.distribute.MirroredStrategy() crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Progress Linux 5+ (engywuck-backports) (Linux Debian Buster)
- TensorFlow installed from (source or binary): binary (problem happens from source aswell)
- TensorFlow version (use command below): v1.12.1-16854-g677866

[2019-11-07 10:09] Vooblin commented on #33718
Now I can only demonstrate sequence of operation of one einsum in tflite model gotten by tflite_benchmark. I'll send the same information about model before conversion only on the next week:
[code]

[2019-11-07 10:16] xenogew commented on #33774
@freedomtan OK, in the case you mentioned, I tried once with create new project on Azure Custom Vision in Object Detection type - trained - download `.tflite` file and replace in the Android example code. But it still crashed with exception.
[code]
Do you have suggestion about this issue?

And what you mentioned about "Quantized MobileNet SSD", how can I recognize it, cause it's not appear about i

[2019-11-07 10:24] gadagashwini commented on #34059
@aarac, Tensorflow version 1.4 supports CUDA 8. Please take a look at [tested build configuration](https://www.tensorflow.org/install/source#tested_build_configurations). Either downgrade the CUDA version to 8 or install Tensorflow version greater than 1.13.0. Let us know how it progresses. Thanks!

[2019-11-07 10:36] pandrey-fr commented on #30794
@sickWill Could you please share the line you executed that triggered this error?

`pip install tensorflow==1.14` or `pip install tensorflow-gpu==1.14` should work (or you could target the recently-released 1.15 version ; `pip install tensorflow==1.15` which works both with and without GPU usage)

[2019-11-07 10:48] bhavitvyamalik commented on #31368
@ynorz can you show me the code you used for converting and quantizing your model?

[2019-11-07 10:54] ravikyram commented on #34003
@githubzjm

Do you have multiple versions of numpy installed in your system?
Please check using `pip show numpy`
Can you uninstall all numpy versions and later install numpy==1.16.4?
`pip uninstall numpy` (till you uninstall all versions) then you install `pip install numpy==1.16.4` and check whether the issue still persists?. Thanks!

[2019-11-07 10:55] gyc521zsc commented on #34026
Thank you for your reply.    tensorflow-gpu==1.1.0
![image](https://user-images.githubusercontent.com/50411057/68382740-49e64400-018f-11ea-8536-f47c5164400e.png)

I have a problem: LossTensor is inf or nan : Tensor had NaN values
![image](https://user-images.githubusercontent.com/50411057/68382860-874ad180-018f-11ea-92c1-bc00f64d259a.png)

I added a few lines of code, but it's still wrong.
![image

[2019-11-07 11:00] gadagashwini commented on #32945
@GaranceRichard and @ouy160
Similar issue [#33363](https://github.com/tensorflow/tensorflow/issues/33363).

[2019-11-07 11:10] ravikyram commented on #33804
@huangshaoguang

Can you please let us know any update on this issue. Thanks!

[2019-11-07 11:11] ravikyram commented on #33805
@593618638
Please, let us know any update on this issue. Thanks!

[2019-11-07 11:13] ravikyram commented on #33819
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-07 11:13] #33819 closed

[2019-11-07 11:16] ravikyram commented on #33737
@JiaxiangBU
Any update on this issue please. Thanks!

[2019-11-07 11:24] #33799 closed

[2019-11-07 11:25] ravikyram commented on #33664
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-07 11:25] #33664 closed

[2019-11-07 11:26] ravikyram commented on #33668
@walty19950301

Any update please. Thanks!

[2019-11-07 11:31] freedomtan commented on #33774
That looks like tensor size mismatch. I am not familiar with Azure related stuff, are you sure that models generated by the service is compatible with the app? My suggestion is to start from something like the [TFLite object detection doc](https://www.tensorflow.org/lite/models/object_detection/overview) and read [quantization](https://www.tensorflow.org/lite/performance/model_optimization) relate

[2019-11-07 11:36] ravikyram commented on #33668
I have tried on colab with TF version 1.13, 1.15 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/d49c453983908cdf90bd771bb4d4724a/untitled338.ipynb) Thanks!

[2019-11-07 11:36] yyoon commented on #32523
I see how that could confuse you, but the actual process we take for releasing TensorFlowLiteC is:
 - Build the TensorFlowLiteC binary by checking out the release branch
 - Publish the binary to a publicly downloadable place
 - Update the podspec to bump up the version and point to the new binary, and publish the new podspec to CocoaPods *after the fact*.

So, it's somewhat irrelevant to what the

[2019-11-07 11:37] freedomtan commented on #34031
@shauryad15 As suggested by @jdduke, there are some options
1. try `configure`
2. read the article I mentioned and write configurations to `.tf_configure.bazelrc` manually
3. write your configurations into `WORKSPACE`, see this [bazel doc](https://docs.bazel.build/versions/master/be/android.html) for what/how to write.

[2019-11-07 11:38] gadagashwini commented on #33447
@DontGiveUpEasily, Please refer this [link](https://www.tensorflow.org/guide/gpu#manual_device_placement) for manual device placement. The doc describes, TensorFlow runtime will choose one based on the operation and available devices and automatically copy tensors between devices if required. Thanks!

[2019-11-07 11:38] gadagashwini commented on #33447
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-07 11:38] #33447 closed

[2019-11-07 11:40] ravikyram commented on #33594
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-07 11:40] #33594 closed

[2019-11-07 11:42] gadagashwini commented on #33622
@estelll, Please provide the minimal code to replicate the issue. Thanks!

[2019-11-07 11:43] gadagashwini commented on #33669
@zhangyi02, Any update code snippet.

[2019-11-07 11:53] horo2016 commented on #34032
build_tensorflow.sh
`#!/bin/bash

# build_tensorflow -*- shell-script -*-
#
# The MIT License (MIT)
#
# Copyright (c) 2017 Leonardo Lontra
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modif

[2019-11-07 12:00] durandg12 opened #34068 "TF2 keras.models.load_model fails with custom metrics (both h5 and tf format)"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- TensorFlow installed from (source or binary): pip install tensorflow==2.0.0-beta1
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: v3.6.7:6ec5cf24b7, Oct 20 2018, 03:02:14

**Descr

[2019-11-07 12:04] tessy1234 commented on #33266
can you provide a unit test for the DLL "_pywrap_tensorflow_internal.pyd"; the fact is that it can't be loaded into tensorflow runtime 2.0 cpu on windows 10; I have no idea why it is not loading properly.

[2019-11-07 12:15] wrd90 commented on #34035
I have tried to use the drop-in replacements suggested in your link but it looks like that doesn't work with the version used by ml-agents...

[code]

[2019-11-07 12:21] wrd90 commented on #34035
@kaploink I almost figured ;)

I tried to replace the `LSTMCell` with the drop-in replacements suggested in your link, but there seems to be a problem which sounds much like the initial error message in the initial conversion:

[code]

[2019-11-07 12:27] mickaeltardy commented on #30635
Switching to 1.15.0 didn't help a lot. Having the same issue and the same error message (... Reason: image not found... ) on macOS 10.14.5.
The suggested workaround still works though.

[2019-11-07 12:29] githubzjm commented on #34003
Thanks, I have solved it! But it seems not the various versions of numpy caused the problem, but the old version 1.15.4 somehow doesn't work well for Tensorflow2.0. Do not need to uninstall all numpy versions, just use `conda update numpy` to update.

Besides, `pip show numpy` only shows me one version of numpy at first(now it can't find any file after I run `conda remove numpy`), but `conda searc

[2019-11-07 12:34] tensorflowbutler commented on #27679
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-07 12:34] germanjke opened #34069 "InternalError: Blas GEMM launch failed"
**System information**
- Uusing a stock example script provided in TensorFlow (first guide with mnist dataset), so code is 100% right. And this problem haunts me in every model :(
- OS Platform: Windows 10
- TensorFlow installed from (source or binary): pip3 install tensorflow-gpu . And i have a quustion here: shouild i install keras? I think its already in tf 2.0
- TensorFlow version (use command

[2019-11-07 12:34] tensorflowbutler commented on #33597
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-07 12:36] KichangKim commented on #33412
Related issue with reproducible code : #31871

[2019-11-07 12:36] maziyarpanahi commented on #30635
@mickaeltardy Are you sure? The reason I am asking is to be sure the cache is cleared and you are using only the `1.15.0` and nothing from the previous installation.
I haven't tested myself since we need to figure out where to find some `.so` files we need in `cntorib` but I saw some projects moved to `1.15.0` so I assumed it was fixed.

[2019-11-07 12:37] RedemptionOfRoad commented on #32790
I think the Tensorflow 2.0.0 can't support to import tensorflow.examples.tutorials. Beacause I found the packages of tensorflow-core/examples had no the module named by turorials under my environment of anaconda installation. Finally, I changed the Tensorflow version to 1.14.0 and it did work! I'm very confused.

[2019-11-07 12:52] shauryad15 commented on #34031
@jdduke Ok, so you're suggesting me to rebuild tensorflow?
@freedomtan can you please provide me the link?

[2019-11-07 12:55] karolbadowski commented on #22146
Thank you @ANSHUMAN87
Do you know if the change is already merged with release version of TensorFlow (if so, since which one)?

[2019-11-07 12:58] SumNeuron commented on #27107
Status?

[2019-11-07 13:04] louisjc opened #34070 "Keras named inputs lost with SavedModel format"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Google Colab, TF 2.0**

**Describe the current behavior**
If I define a Keras model with named inputs (`Input(name="x_embedding")`), I can use a Dict as input with the original model or after saving to h5, but not with the new SavedModel format: The name of my input layer is change

[2019-11-07 13:05] redmapleleaf commented on #33968
I got the same error building tensorflow lite micro:
./tensorflow/lite/experimental/micro/kernels/activation_utils.h: In function ‘float tflite::ops::micro::ActivationValFloat(TfLiteFusedActivation, float)’:
./tensorflow/lite/experimental/micro/kernels/activation_utils.h:43:23: error: ‘signbit’ was not declared in this scope
       return signbit(a);
                       ^
./tensorflow/lite/expe

[2019-11-07 13:38] mickaeltardy commented on #30635
Thank you for pointing out for me. Properly cleaning dependencies made it work as a charm. Downvoting my previous comment.

[2019-11-07 13:59] VoVAllen opened #34071 "[Bug] Wrong device placement for tf.constant with int32"
Colab example: https://colab.research.google.com/drive/1iCyTZhKzco4CjxY17g37jKG9GS35-NGb
Remember to use GPU instance

When dtype is int32, tf.constant didn't place tensor on gpu but cpu.

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile d

[2019-11-07 14:22] yourntjamdotexe opened #34072 "AttributeError: 'Module' object has no attribute 'app'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-11-07 15:17] MikeOfZen commented on #34041
Sorry, took the wrong link format.
https://gist.github.com/MikeOfZen/abadf58b9c68acd1b33c6e39af7b3f7a

[2019-11-07 15:33] OriAlpha commented on #34034
Hi, even I am facing these issues while converting the model to Tflite versions. Any solutions for this

[2019-11-07 15:34] mihaimaruseac commented on #33539
`fatal error C1189: #error:  LLVM requires at least MSVC 2017.` is a totally different error than the one posted at the beginning. And this one is actionable.

[2019-11-07 15:35] quintakFR commented on #33849
@alextp I shared with you the program and the model on Google Drive (with you gmail address)
The variable "DevicePredict" in class Constants can be used to run the model on CPU or GPU:
* If you set the variable to "CPU", the model will run normally
* If you set the variable to "GPU", the error will appear. I use "watch -n 0.5 nvidia-smi" in PowerShell to observe the usage of GPU memory

For inform

[2019-11-07 15:50] DocDriven commented on #33980
@jdduke: thanks for the hint. After some testing, I got varying results depending on the docker image used:

Using the `devel-gpu-py3` image (even on a non-GPU system) works if you add the current path of the `.so` to `LD_LIBRARY_PATH` via `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/custom/path/to/so`. This causes a lot of warning to appear during the execution of the app (missing cuda and libcudnn)

[2019-11-07 15:51] KimRasak commented on #33218
Thanks man, that really worked for me.

[2019-11-07 15:54] jpviguerasguillen opened #34073 "Problem with fit_generator when using a generator for training and a fixed set for validation."
**System information**
- I have written custom code. Code is available here as a Google Colab notebook: https://drive.google.com/open?id=1xp5LES0HiEEPWozrD4HR5DPPa-dce1mH
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): The code was run in Google Colab, with the version of all packages defined by Google Colab at this date (07 Nov 2019).
- TensorFlow version: 2.0.0
- Python version: 3.6.7

[2019-11-07 15:57] grewe commented on #34019
The data is a UCF101 data set.  I have added a zip below AND it contains results from running the part of the code that performs CNN feature extraction on the video data that can take hours to do on a normal laptop.  So each .avi file has a corresponding .npy file containing the CNN feature extraction output.  So, I would block out the part of the code that contains the feature extraction....if yo

[2019-11-07 16:02] grewe commented on #34028
The data is a UCF101 data set.  I have added a zip below AND it contains results from running the part of the code that performs CNN feature extraction on the video data that can take hours to do on a normal laptop.  So each .avi file has a corresponding .npy file containing the CNN feature extraction output.  So, I would block out the part of the code that contains the feature extraction....if yo

[2019-11-07 16:03] YujieLu opened #34074 "build failed from source on windows 10"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

- TensorFlow version:
1.14
- Python version:
3.5.4
- Bazel version (if compiling from source):
0.24.1

- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
CUDA10.0 & cuDNN7
- GPU model and memory:
GeForce GTX1050Ti
CPU:
i7-7700HQ

- Command
I've tried
[code]
and
[code]
none of them wo

[2019-11-07 16:12] ruthvik92 commented on #33002
`/usr/local/cuda/extras/CUPTI/lib64 to LD_LIBRARY_PATH` and login or logout on `Ubuntu 16.04` works. `source ~/.bashrc` didn't help.

[2019-11-07 16:15] riccardobrue commented on #33797
Thank you for your reply.

[2019-11-07 16:24] ShaharATterrain opened #34075 "Building TensorFlow 2 with bazel fails"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Windows 10):
- TensorFlow installed from (source):
- Tens

[2019-11-07 16:27] dubesar commented on #33974
@lamberta  I have opened a pull request making the relevant changes to the documentation folder.

[2019-11-07 16:42] xychenunc commented on #32870
Have you solved this issue? I also have this problem. Thanks

[2019-11-07 16:58] dubesar commented on #33099
@MarkDaoust this issue seems to be solved.

[2019-11-07 17:06] MarkDaoust commented on #33099
Thanks.

[2019-11-07 17:06] #33099 closed

[2019-11-07 17:06] smaerdlatigid commented on #33513
The build command I am using: `bazel build -c opt --cxxopt=--std=c++11 \
  //tensorflow/lite/experimental/c:libtensorflowlite_c.so`

With visual studio v14.0

I can compile the file into a `.so` file but I'm not sure how to compile it to a `.dll`

[2019-11-07 17:17] yongtang commented on #34043
I tried with tf-nightly (`tf-nightly-2.1.0.dev20191106`) and it looks to be fine. Think this issue has been resolved.

[2019-11-07 17:20] bfontain commented on #33684
OK, I just tried this with a new gce instance with 2.1.0-dev20191106 installed and a freshly created v3-8 TPU (running in europe-west4-a) with nightly-2.x and your code worked for me. In my case I created the GCE instance and TPU by hand in the cloud console and the only non-default settings I had to use for the GCE instance other than the name//region was to 'Allow full access to all Cloud APIs'.

[2019-11-07 17:35] Seterplus commented on #33024
I've also encountered this performance issue:

|      |    fit    |   fit_generator  |
| --- | ----- |  ------------ |
| tf1 |     25s    |       13s       |
| tf2 |     4s       |       28s      |

After using `tf.compat.v1.disable_eager_execution()`, the training time of fit_generator in tf2 reduces to 14s. It's comparable to tf1 but **still 3x slower** than fit in tf2.
`model.fit(x=sequence, ..

[2019-11-07 17:36] N0ciple commented on #33375
Hello @DawyD
I currently have the same problem as you did. There are several versions of CUDA installed on our GPU server, and since I am not sudo, I had to install CUDA in a custom directory. I guess you did the same.

I tried to create a symbolic link as you said, however tensorflow keeps ignoring the correct version of ptxas. Even physically copying the ptxas binary in a `bin` folder doesn't wo

[2019-11-07 17:37] jsimsa commented on #34020
@aaudiber could you please take a look? thanks

[2019-11-07 17:58] robieta commented on #33024
I had a commit that aliased fit_generator to fit, but I had to roll it back as it broke some use cases. I'm rolling it forward today now that those issues are resolved. Part of that fix includes better handling of sequences (make sure you use the Sequence class in `tf.keras`, not `keras-team/keras`) which will not pull all of the data into memory when shuffling.

[2019-11-07 18:03] sapphiresinha commented on #8380
I am to able to import and use it import when I am using the updated version 1.13.0-rc2 and do the following:
import tensorflow as tf
tf.python_io.control_flow_ops = tf    instead of tensorflow.python.control_flow_ops = tf

# Using TensorFlow 1.0.0; use tf.python_io in later versions

[2019-11-07 18:14] bodin-e commented on #33974
Thanks @dubesar, then its sorted.

[2019-11-07 18:36] karmel commented on #34016
In 2.0, the default saving format is the TensorFlow checkpoint format. Can you try using the TF checkpoint format and see if the colab works? (Just remove the .h5 extension in the save filename, and it will save out to TF checkpoint format.)

[2019-11-07 18:46] karmel commented on #33939
We should minimally be able to improve the error message here. @yhliang2018 will take a look, but if you are interested in contributing a fix, please let us know.

[2019-11-07 18:55] karmel commented on #33412
In 2.0, we have extended the loading and saving functionality to cover a number of use cases and to use a different format, so this is not entirely surprising. Can you clarify how the model is being saved in each case? Is the saved file the same size in each case?

[2019-11-07 18:57] Vinschni commented on #30272
Same issue here
[model.h5.zip](https://github.com/tensorflow/tensorflow/files/3821243/model.h5.zip)

[2019-11-07 19:23] yuqcraft opened #34078 "Example custom training loop failed when using tf.train.MomentumOptimizer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): None
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): On google codelab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): On google codelab
- TensorFlow version (use comman

[2019-11-07 19:31] georgealexandruvlad commented on #33684
Yes, they were created in the same project otherwise the VM wouldn't have set the environment variable TPU_NAME, as I understood. After connecting to the VM I've checked for this. I deleted and created more than 10 VMs and TPUs past few days but I will give it a try again. It's important that you succeeded and now I know the problem is on my side. Thanks for that!

[2019-11-07 19:36] ParadoxShmaradox commented on #30483
I just hit this issue while trying to compile tensorflow 1.14 from source.
I tried to download the file manually from the http://mirror.tensorflow.org site and I got a checkpoint warning of a malicious file and the download was blocked. It's likely a false positive as the checksum of the file from the mirror and the same file from the open-mpi.org site are the same and checkpoint AV doesn't alert

[2019-11-07 19:49] ozzcet commented on #33952
Thank you so much... I have already solved that issue you can close it.

Best Regards.

[2019-11-07 19:49] #33952 closed

[2019-11-07 19:56] yuri-stripe commented on #33030
Any progress, temporary fix?

[2019-11-07 19:57] ychervonyi commented on #33030
Hi guys! Any progress? Maybe a temporary fix?

[2019-11-07 20:28] kkimdev commented on #33030
Hi, there were a couple of recent fixes related to this https://github.com/tensorflow/tensorflow/commit/082415b2ff49bfb8890f7d5361585bac04749add https://github.com/tensorflow/tensorflow/commit/c2fc448fe253bc59d3f0417d7d08e16d53f2a856

[2019-11-07 20:29] keithchugg commented on #34055
Note: this is an issue with tf.keras vs. keras (not TF 1.x vs TF 2.0)

[2019-11-07 20:57] edlabbe commented on #7072
Following as @gussmith23 suggested, a simple reboot did the trick for me.

[2019-11-07 21:04] ychervonyi commented on #33030
@kkimdev Great! I think my problem is probably due to a leak in `Dataset.map` because it does not leak when I use Keras Sequence generators.

[2019-11-07 21:07] NightWinkle opened #34080 "Can't apply map on Dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro
- TensorFlow installed from (source or binary): pip repository, binary
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.7.4
- CUDA/cuDNN version: N/A (CPU)
- GPU mode

[2019-11-07 21:38] deven-amd opened #34082 "--config=rocm build works with bazel `0.26.1` but has link errors with `0.29.1`"
We are trying to figure out why the `--config=rocm` TF build breaks (link errors) with bazel version `0.29.1`, but works fine with `0.26.1`.

How do we get a better understanding of what changed on the bazel side, to introduce the build errors, and how to fix them?

thanks

-------------------

/cc @whchung @parallelo @sunway513

[2019-11-07 21:47] wady101 opened #34083 "Can't find tensorflow.examples.tutorial"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): None
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below)

[2019-11-07 21:53] Kbhredsox opened #34084 "[Codelab] Update digit classifier Android app to target API level 29"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Android Studio version: 3.5

**Describe the problem**
The Android app package available

[2019-11-07 22:08] bfontain commented on #33684
Thanks for being patient with this. I talked with one of my colleagues who is more familiar with Cloud TPU issues. Is there anyway that the TPU and GCE instance are on different networks? In my GCE instance has network 'default' under 'Network interfaces' and the TPU has network 'default' under its 'Network endpoints'.

If the network matches, is there any chance that you have custom firewall rule

[2019-11-07 22:11] coffeeshop13 commented on #32381
Same for the TF 1.14?

[2019-11-07 22:12] jvishnuvardhan commented on #26250
@AkbarAlam Did you try @pavithrasv suggestion? If this was not resolved, can you please share a standalone code to reproduce the issue? Thanks!

[2019-11-07 22:15] qlzh727 commented on #33690
Sorry for the late reply.

I will take a look for the issue you referred.

For the variational dropout, the default value is False in DropoutWrapper. However, I would expect most of the user to use True value. The reason to have False by default is being defensive and not changing user's code when adding new flags. You can check the paper for that, and see the performance/accuracy comparison there

[2019-11-07 22:24] mbch commented on #33183
Just wanted to let you know that it's working now :)
I did a complete reinstall of macos Catalina (including erasing the disks), did an
xcode-select --install
downloaded python3, upgraded pip and setuptools
installed jupyter
created a virtual environment ... and magic ...

(venv) $ python
Python 3.7.5 (v3.7.5:5c02a39a0b, Oct 14 2019, 18:49:57)
[Clang 6.0 (clang-600.0.57)] on darwin

To be honest -

[2019-11-07 22:37] AkbarAlam commented on #26250
I am so sorry guys for late response. The project was over long ago and the use case was changed. Right now I can't reproduce it anymore

[2019-11-07 22:37] #26250 closed

[2019-11-07 22:41] germanjke commented on #25138
[code]

have this error on your solution. can you explain me what is Virtual devices and why i can't modify them?

have same problem with memory growth and i don't know what to do with TF2

[2019-11-07 22:43] aaudiber commented on #34020
I was able to reproduce the issue. It appears that some state is not properly reset when restoring an active shuffle iterator from a checkpoint. I have a fix in-flight.

[2019-11-07 22:53] jvishnuvardhan commented on #33946
@fightthepower There are some differences between subclass model and other models (Sequential and Functional).

Functional and Sequential models are static graphs of layers, so you can infer the shapes while building the model. Whereas Subclass model is a piece of Python code (a call method), there is no static graph of layers. So it is difficult to know how layers are connected to each other  (be

[2019-11-07 22:53] #33946 closed

[2019-11-07 23:00] ymodak commented on #34001
Can you please try setting same version of TF in the android app as well?.
Update the android build dependencies to tensorflow-android:1.14.0

[2019-11-07 23:07] za13 commented on #33918
how do I do that?

[2019-11-07 23:10] jaingaurav commented on #25138
germanjke@ what are you executing prior to this call? If you've executed any ops its too late for us to reconfigure the virtual device. The virtual device is simply a way of slicing up a physical device in separate devices with a fixed memory limit.

[2019-11-07 23:14] qlzh727 commented on #33991
So the story is bit complicated.

If you debug the bad cell call with debugger, you will see the the bad_cell.call() is invoked twice. This means the second time when its invoked, its using the cached dropout mask created in the second trace.

To walkaround this issue, you can update your code as below. This is mimic what a normal cell will behave to process the inputs 10 times. The LSTM/RNN layer

[2019-11-07 23:16] #33991 closed

[2019-11-07 23:17] AmericanEnglish opened #34085 "Tensorflow fails to build due to " no such package '@keras_applications_archive// BUILD file not found in directory ''""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g.

[2019-11-07 23:22] yunxing commented on #33517
Missed the notification. This should be fixed in nightly releases, do you have access to those ? I remember we also have 1.x nightly release which should also include the fix. cc @rxsang who is more familiar with this than me.

[2019-11-07 23:22] #33517 closed

[2019-11-07 23:24] qlzh727 commented on #33886
Usually you don't need the TensorShape, just the raw value is good enough. So:

[code]

[2019-11-07 23:26] gunan commented on #34082
@dslomov @scentini @lazslocsomor
Who helped us move to bazel 1.0
Is there a changelog for bazel we can point people to?
I think there are some github issue labels bazel uses, but not sure how to find them.

[2019-11-07 23:28] jvishnuvardhan commented on #32801
@fsx950223 I could reproduce the issue with `TF1.15.0`. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/371cabae8a54797e13b887103170f6c6/untitled629.ipynb) with `TF1.15.0`.

However, your code works without an issue using `TF2.0`. Please take a look at the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/701fd556c91f231b7cc2316fe53d62d4/untitled628.ipynb).

I thi

[2019-11-07 23:30] gunan commented on #33935
not just h5py, grpcio is also another dependency that still does not have python 3.8.
Moreover, h5py now has python 3.8 support on windows. not sure about linux.

[2019-11-07 23:32] #33935 closed

[2019-11-07 23:34] bfontain commented on #33684
My colleague took a closer look at your issue and suggested that you file a bug here https://issuetracker.google.com/issues/new?component=508028 so they can help you directly.

[2019-11-07 23:37] #33915 closed

[2019-11-07 23:38] qlzh727 commented on #33884
Thanks for reporting the issue. We also found a similar issue internally, it is caused by the graph rewrite between cpu kernel and gpu kernel.

For now, if you want to walk around the issue with some performance loss, you can add "gru.could_use_cudnn = False" to disable the cudnn path, which will allow the model to run, but just not use the fused cudnn GRU kernel.

We will fix the graph rewrite in

[2019-11-07 23:39] qlzh727 commented on #33884
@reedwm

[2019-11-07 23:54] ynorz commented on #31368
Here is my code for quantizing and conversion:

`def get_label(file_path):
  # convert the path to a list of path components
  parts = tf.strings.split(file_path, '/')
  # The second to last is the class-directory
  return parts[-3] == CLASS_NAMES

def decode_img(img):
  # convert the compressed string to a 3D uint8 tensor
  img = tf.image.decode_jpeg(img, channels=3)
  # Use `convert_image_dtype`

[2019-11-07 23:57] ynorz commented on #31368
Here is my code for conversion and quantizing:

[code]

[2019-11-07 23:58] ynorz commented on #31368
[code]

[2019-11-08 00:02] ynorz commented on #31368
@bhavitvyamalik
The tflite model I got from this code could run on CPU but compiling it would trigger the compiler error.

[2019-11-08 00:14] ek9852 commented on #33983
It had nothing   related to flatbuffer from the log , also the flatbuffer is downloaded by download_dependencies.sh, not  using system one.

[2019-11-08 01:05] xenogew commented on #33774
@freedomtan Yes, sure, I downloaded from the 'Export' option which provide a lot of type of model compatible and Tensorflow is the one of them, it also provide choices of Tensorflow, Tensorflow Lite, Tensorflow.js.

So, the version compatible will be related to this issue? For example: "Android example use the 'Model' created by Tensorflow 2.0" but "Azure thing is created from Tensorflow 1.7" (I d

[2019-11-08 01:27] vicpara commented on #32333
@jvishnuvardhan To reproduce you need to comment out the line where you add the LSTM to the model `tf.keras.layers.LSTM(1, activation="tanh"),` .

[2019-11-08 01:28] #34020 closed

[2019-11-08 01:35] fsx950223 commented on #32801
Yes

[2019-11-08 01:35] #32801 closed

[2019-11-08 02:02] zhangyi02 commented on #33669
[code]
while using the old keras, as `print(keras)` returns `<module 'keras' from '~/.local/lib/python3.6/site-packages/keras/__init__.py'>`, the logs looks like:

100/100 [==============================] - 0s 3ms/step - loss: 0.2649 - val_loss: 0.2828
Epoch 2/10
100/100 [==============================] - 0s 3ms/step - loss: 0.2648 - val_loss: 0.2820
Epoch 3/10
100/100 [===========================

[2019-11-08 02:02] lijinze9456yy000 opened #34086 "tf.distriubte.strategy() doesn't support multiple input, multiple input will report an error:TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'"
Hi,I find a bug.I have found that the workaround those not work if the model has multiple inputs. The following code fails:

import numpy as np
import tensorflow as tf
#strategy = tf.distribute.MirroredStrategy()
strategy = tf.distribute.experimental.MultiWorkerMirroredStrategy()

def generator():
    while True:
        yield [np.ones([10, 10], np.float32), np.ones([10, 10], np.float32)], np.ones

[2019-11-08 02:05] darcula1993 commented on #28782
try catche first then map?

[2019-11-08 02:40] walty19950301 commented on #33668
There is the key of the issue.  Every `rnn.Conv2DLSTMCell` will call same one `vs.get_variable`. (`Conv2DLSTMCell `call `call`, `call `call `_conv`, `_conv `call `vs.get_variable`)
[code]
I use twice `rnn.Conv2DLSTMCell`. The first cell is right without error, but the second is error. The reason is that name of `vs.get_variable` is a constent. The first cell gets the 'kernel' variable, and the sec

[2019-11-08 02:43] sonfiree commented on #33539
updated the branch from the master and this happened.

[2019-11-08 02:53] AmericanEnglish commented on #34085
After an hour or two of fiddling I stumbled across this issue #1985 which was similar to my own. It turns out that after building tensorflow yesterday it seems that bazel did not remove anything.
My temp dir was:
/home/user/.tmp/

My successful build from yesterday was:
/home/user/fullDownload/
My failed build was in:
/home/user/moduleBased/

The leftovers in the shared tmp folder led to Bazel's i

[2019-11-08 02:53] #34085 closed

[2019-11-08 02:58] n-gao opened #34087 "[TF 2.0] Add batched gradient function to GradientTape"
**System information**
- TensorFlow version (you are using): 2.0.0

**Describe the feature and the current behavior/state.**
There should be a feature for batched gradient computation in GradientTape similar to batched_jacobian.

**Will this change the current api? How?**
`GradientTape.batched_gradient` would exist.

**Who will benefit with this feature?**
If someone wants to compute the second de

[2019-11-08 02:59] canesqui opened #34088 "metrics = ['accuracy'] and metrics = [tf.metrics.Accuracy()] produces different results"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (us

[2019-11-08 03:16] rmothukuru commented on #33941
@abdou31,
Can you please check [this link](https://towardsdatascience.com/first-contact-with-tensorflow-estimator-69a5e072998d) where the Model is built using Estimators and Accuracy is Visualized in Tensorboard.
Thanks!

[2019-11-08 03:19] deaputri commented on #34029
[code]

[2019-11-08 03:51] superhg2012 commented on #33435
Hi,  I got these log infos after start training my model on T4 GPU card

`2019-11-07 16:51:44.992350: I tensorflow/core/grappler/optimizers/auto_mixed_precision.cc:1767] Running auto_mixed_precision graph optimizer
2019-11-07 16:51:44.997218: I tensorflow/core/grappler/optimizers/auto_mixed_precision.cc:1241] No whitelist ops found, nothing to do
2019-11-07 16:51:50.326678: I tensorflow/core/grapp

[2019-11-08 03:54] ppham27 commented on #33835
@gtg162y I agree that this behavior is not ideal. You avoid that codepath in the eager runtime by using `tf.function`. It's a bit hacky but maybe this workaround is acceptable.

[code]

https://colab.research.google.com/drive/1HhNCQs5UureoQ5Iql3VvhzUMgnkzCwRR

[2019-11-08 04:04] abdou31 commented on #33941
I have tried what is mentionned in the link but , I go this error:

That was what I have added :

[code]

[2019-11-08 04:08] emailweixu opened #34090 "ResourceScatterNdUpdate bug in graph mode and tape.gradient()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-11-08 04:52] bhavitvyamalik commented on #31368
There can be 2 possibilities why your model is giving internal compiler error.

1) Most basic of all is you have not done your modeling right and some operators are not supported by Edge TPU while you are compiling it. I remember my custom model giving the same error when it had only basic operators which are supported by Edge TPU. So make sure your model is supported which you are converting. If

[2019-11-08 04:52] nikochiko commented on #34083
Yes. You should refer to this [table](https://www.tensorflow.org/install/source_windows#gpu) and create wheel package with tested configuration.

[2019-11-08 04:56] nikochiko commented on #34075
According to the documentation, building `TensorFlow 2.0` wheel has only been tested with `Bazel 0.26.1`. Refer to this [table](https://www.tensorflow.org/install/source_windows#gpu).

[2019-11-08 05:06] ravikyram commented on #34003
@githubzjm

I am closing the issue, since the query is been resolved. Thanks!

[2019-11-08 05:06] #34003 closed

[2019-11-08 05:53] ravikyram commented on #34080
I have tried on colab with TF version 2.0,2.1.0-dev20191107 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/28816e71acab1a419fce416cec340b14/untitled339.ipynb). Thanks!

[2019-11-08 06:06] Leslie-Fang opened #34091 "Failed to run the unit test of bonus_tests"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-11-08 06:09] Leslie-Fang commented on #34091
If I change this line:https://github.com/tensorflow/tensorflow/blob/bfce5bae88e01c080c8cc9224b439c4dd26c506b/tensorflow/core/kernels/BUILD#L3163-L3193
tf_cc_tests to tf_cc_test
It can find the unit test case and show pass result.

[2019-11-08 06:10] ravikyram commented on #34074
@YujieLu
 Can you please attach a complete log of `./configure` . Thanks!

[2019-11-08 06:37] TheBlackPlague commented on #33948
Any update on this? @jvishnuvardhan

[2019-11-08 06:41] minhduc0711 commented on #32982
Do we need to change the __init__.py in tensorflow_core as well?

[2019-11-08 06:44] minhduc0711 commented on #32982
This is not working for me on Ubuntu 18.04

[2019-11-08 06:56] GoSz opened #34093 "[TF2.0] GradientTape.gradient raise SystemError when calling embedding_column layer multiple times with tf.function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip install tf-nightly-gpu-2.0-preview
- Tensor

[2019-11-08 06:56] rmothukuru commented on #33474
@ydcjeff,
Sorry for the delayed response. The issue is in the line, `model.save('model', save_format='tf')`.

As per this [Save_Format_Doc_String](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/engine/network.py#L952-L954), `save_format='tf'` is currently disabled.

Working code is shown below:

[code]
 or

[code]
Here is the [Gist](https://colab.sandbox.google.com/gist

[2019-11-08 06:59] ravikyram commented on #34071
I have tried on colab with TF version 2.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3dffedfdab275f96a166afa5963db220/untitled340.ipynb).Thanks!

[2019-11-08 07:10] wady101 commented on #34083
@nikochiko, I tried bezel 0.26.1 before this. It was stuck stuck at the same issue.

[2019-11-08 07:46] TerryBryant commented on #20639
The "tf.assign_add" function has a parameter "use_locking", set it to true and you will get fixed result each time. I think this  can make thread safety.

[2019-11-08 07:53] qo4on commented on #24412
Almost a year has passed. Is there any update about running `TF 2.x` on `TPU`?

[2019-11-08 08:01] shazhongcheng opened #34094 "When i try run the `tf.keras.layers.Bidirectional` on my windows system, it turns out CancelledError!"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    * no
- OS

[2019-11-08 08:06] xungeer29 commented on #15517
Have you solved the problem? How to solve it?

[2019-11-08 08:12] shazhongcheng commented on #33924
aha, i meet the same error too! It will run error on my windows! But it can run fluently on Google colab! I think it maybe the multiprocessing or multithread difference between windows and linux！
this is my test code:
[code]
and this is my error information:
[code]

[2019-11-08 08:14] gadagashwini commented on #34055
I could replicate issue on colab with Tf 2.0.
Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/0d4771e1d00b215c8f06577915bf7fef/untitled246.ipynb). Thanks!

[2019-11-08 08:26] jvit commented on #33884
Thanks for the workaround.

Question:
Considering the fact that it does work on multiple gpu, does it mean that the cuDNN path is not used  when more than one gpu is used?

[2019-11-08 08:26] georgealexandruvlad commented on #33684
I checked the firewall rules and everything is on default. I've tried to make the instances directly from the console as you did and I left everything on default less the zone, the tf version for TPU (going for nightly-2.x) and the name which I made sure it's the same for both. I also checked the 'Allow full access to all Cloud APIs'. box. So I get a Debian VM and a TPU (I tried with v2-8 and v3-8

[2019-11-08 08:36] ravikyram commented on #34062
I have tried on colab with TF version 1.15 on GPU with  `fused=True`,`fused=False`  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/40cbe108f064e2d38bbda7b215f4e69a/untitled0.ipynb).However i am not seeing the issue with CPU. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ae83c64e7650839fbfb1c8e86c7eda2c

[2019-11-08 08:41] chrism0dwk commented on #34043
Glad to know it's in the pipeline for the next release.  Thanks all.

[2019-11-08 08:43] SURFZJY commented on #15517
have not tried the method, because i gave up the project laterly.

[2019-11-08 09:05] gadagashwini commented on #34075
@ShaharATterrain,
Please include the full error log.
Tensorflow 2.0 supports bazel 0.26.1. Downgrade the bazel version and run configure.py, follow the steps mentioned [here](https://www.tensorflow.org/install/source_windows#build_the_pip_package). Thanks!

[2019-11-08 09:08] gadagashwini commented on #34078
@yuqcraft, Please provide the google colab link to expedite the trouble-shooting process. Thanks!

[2019-11-08 09:11] bilalsoomro commented on #32101
Hi. Is there any update on this issue?

I am also facing failures on TFLite CPU when trying to infer from a F16 MobileNetV2 model using GPU delegate.

[code]

[2019-11-08 09:15] chenicel opened #34095 "An op called "int" appears in Tensorflow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
The dependency "@com_google_ortools//ortools/constraint_solver:cp" was introduced in the tensorflow/compiler/xla/service/cpu:cpu_compiler deps
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- T

[2019-11-08 09:16] ravikyram commented on #34068
@durandg12
I tried reproducing the code in colab using TF 2.0 beta1, TF 2.0 and i am seeing different error messages. Kindly , provide minimal stand alone reproducible code,it  helps us in localizing the issue faster.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/1780a9fe7e8d0e39cf52ba6e973d22e6/untitled342.ipynb) Thanks!

[2019-11-08 09:23] oanush commented on #34073
Issue replicating for the given code in TF-2.0.Thanks!

[2019-11-08 09:23] olesalscheider commented on #34071
I think this is intentional, see for example this comment: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/eager/pywrap_tensor.cc#L352-L379

[2019-11-08 09:27] netw0rkf10w commented on #34016
Hi @karmel,
Saving to TF format should work. However, one cannot later load the weights with `by_name=True, skip_mismatch=True`, which I need for doing transfer learning. I tried this on TF 2.1.0.dev20191103 but obtained `Error: shapes incompatible` (the pretrained weights were trained from a different dataset having a different number of classes).

[2019-11-08 09:27] gadagashwini commented on #34053
Issue is replicating with Tf 2.0.
Please see the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5ece921ce20ee180da6a24cca64d4bcc/text_classification_with_hub.ipynb). Thanks!

[2019-11-08 09:28] oanush commented on #34069
@germanjke ,
Can you please refer links of these similar issue's and solutions present in them and see if it solves the issue, [1 ](https://github.com/tensorflow/tensorflow/issues/11812)[2](https://stackoverflow.com/questions/37337728/tensorflow-internalerror-blas-sgemm-launch-failed) and [3](https://stackoverflow.com/questions/43990046/tensorflow-blas-gemm-launch-failed?rq=1).

[2019-11-08 09:30] EdwarDDay opened #34096 "Cannot load saved model fitted via csv dataset"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0
- P

[2019-11-08 09:31] netw0rkf10w commented on #33988
FYI when using a different custom loss function, derived directly from `tf.keras.losses.Loss`, then Keras `.fit()`'s results are consistent with GradientTape's:

[code]

The loss function defined in the above Colab notebook (i.e. the one that caused the issue) is derived from `tf.keras.losses.SparseCategoricalCrossentropy`:

[code]

[2019-11-08 09:34] gadagashwini commented on #32927
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-08 09:34] #32927 closed

[2019-11-08 09:38] gadagashwini commented on #33473
Please follow the instructions mentioned in this [link](https://www.tensorflow.org/install/source).
Closing the issue due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-11-08 09:38] #33473 closed

[2019-11-08 09:41] oanush commented on #34083
Issue replicating for TF2.0 version.Kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/4a0e6b790a2eeddfbb0578f00ddb44a3/34083.ipynb) of colab.Thanks!

[2019-11-08 09:42] gadagashwini commented on #33600
Closing this issue since its resolved. Thanks!

[2019-11-08 09:42] #33600 closed

[2019-11-08 09:43] gadagashwini commented on #33949
@ori-6over6, Were you able to resolve this issue. Thanks!

[2019-11-08 09:44] #34006 closed

[2019-11-08 09:45] Flamefire commented on #32982
Did you adjust your path to tensorflow in the `ln` command? This is not a C&P solution but needs to be adapted

[2019-11-08 09:52] oanush commented on #34060
@yaolove ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-11-08 09:54] brandonschabell commented on #32500
@LuisSaybe Thank you for the repro case- I added some memory tracking to it and found a pretty clear linear increase in memory utilization of the model object you've defined. It does seem to be fixed in TF 2.1.0, so I guess I'll be waiting until that's released to move off of 1.14.
![memoryleak](https://user-images.githubusercontent.com/16674595/68467202-65773c00-01db-11ea-907d-d15d133654b7.png)
!

[2019-11-08 10:01] VoVAllen commented on #34071
I didn't find any documentation about this and it makes no sense to me (although it's intentional). You can add op like `constant_cpu` to force allocating tensor on cpu, but should not break the consistence without any documentation.

[2019-11-08 10:03] himanshurobo commented on #27646
@miaout17 : Waiting for good news?

[2019-11-08 10:03] laszlocsomor commented on #34082
@gunan: See @scentini's list: https://github.com/tensorflow/tensorflow/pull/33415#issuecomment-551175252

[2019-11-08 10:04] VoVAllen commented on #34071
At least it should have some logs telling user it's allocated on cpu

[2019-11-08 10:17] Elbek1997 commented on #28924
Is there any update on this issue with Tensorflow v2.0?

[2019-11-08 10:24] DoumanAsh commented on #32101
@bilalsoomro Unsupported ops should not result in failure.
Not sure about Java bindings, but when using C++ bindings it successfully executes model, despite unsupported ops (which should run without troubles on CPU as log states)

On side note, I noticed that 1.15 doesn't yield this error for me, last time I checked.

[2019-11-08 10:28] raoxing commented on #29640
hi @LogX2， i   meet the same problem, can you show your optimized code，thank you very much

[2019-11-08 10:51] germanjke commented on #11812
this is happening to me on my windovs while i'm usuing tf
so problem is really multi kernels with Jupyter
shutdown all of your JupyterNotebooks and restart the kernell

[2019-11-08 10:53] germanjke commented on #34069
@oanush
I got the decision on the first link. The problem was that I had discovered too many JupyterNotebooks. When I closed them, launched one and rebooted kernel everything works. Thank you very much!

[2019-11-08 10:54] germanjke commented on #25138
@jaingaurav
The problem was that I had discovered too many JupyterNotebooks. When I closed them, launched one and rebooted kernel everything works. Thank you very much!

[2019-11-08 11:01] gadagashwini commented on #33998
Issue is replicating with Tf 2.0.
Please take a look at [gist](https://colab.sandbox.google.com/gist/gadagashwini/7dda04695bf85c7e26fcce0cd8d7b037/untitled247.ipynb). Thanks!

[2019-11-08 11:04] netw0rkf10w commented on #34088
The meaning of `'accuracy'` depends on the loss function. The one that corresponds to `sparse_categorical_crossentropy` is `tf.keras.metrics.SparseCategoricalAccuracy()`, not `tf.metrics.Accuracy()`.

[2019-11-08 11:04] weiweitoo commented on #24412
Same question. Was thinking to run TF2.0 on Colab TPU.

[2019-11-08 11:10] oanush commented on #34069
Thank you,closing since issue is resolved.

[2019-11-08 11:10] #34069 closed

[2019-11-08 11:13] #33347 closed

[2019-11-08 11:14] gadagashwini commented on #33918
@za13, While running `./configure`, specify the CUDA installed path. Thanks!

[2019-11-08 11:15] oanush commented on #33721
Closing as per @AniTho comment. Thank you

[2019-11-08 11:15] #33721 closed

[2019-11-08 11:16] gadagashwini commented on #33918
@za13, Please follow the instructions mentioned [here](https://www.tensorflow.org/install/source). Thanks!

[2019-11-08 11:17] Devrim-Celik commented on #33886
Initializing the self_state like so, results in the following error:
[code]
I started off like this, but the problem is that the second element is not interpreted as the shape of a matrix, but instead as a tuple of vector shapes.

[2019-11-08 11:22] oanush commented on #34022
@fsiraj ,
Issue might be due to opening too many Jupyter Notebooks. Please check this [comment](https://github.com/tensorflow/tensorflow/issues/34069#issuecomment-551573104) of similar issue.
Also find links of these similar issue's and solutions present in them and see if it solves the issue [1](https://github.com/tensorflow/tensorflow/issues/11812),[2](https://stackoverflow.com/questions/3733772

[2019-11-08 11:23] didier-devel commented on #25323
With this workaround, you can compile tensorflow with gcc 6.3

In external/eigen_archive/unsupported/Eigen/CXX11/src/Tensor/TensorReduction.h:801
(you can find the file in a subdirectory of ~/.cache/bazel )

replace

values[i] = internal::InnerMostDimReducer<Self, Op>::reduce(*this, firstIndex + i * num_values_to_reduce,
                                                                    num_value

[2019-11-08 11:25] gadagashwini commented on #34019
@grewe, I am unable to open the zip file that you have shared. Please help us to replicate the issue with more information. Thanks!

[2019-11-08 11:26] oanush commented on #34026
@gyc521zsc ,
Can you please provide the minimal reproducible code in colab gist or .ipynb file format so that we can try replicate the issue from our end. Thanks!

[2019-11-08 11:54] RomanSteinberg commented on #26951
The same problem for TF 2.0.

[2019-11-08 12:02] scentini commented on #34082
I think the `--config=rocm` issues come from a different incompatible change:
[`--incompatible_do_not_split_linking_cmdline`](https://github.com/bazelbuild/bazel/issues/7687)
I believe @meteorcloudy is working on fixing this.

[2019-11-08 12:27] dgrahn commented on #33178
I can verify that @arnemoos 's workaround prevents the OOM for me.

[2019-11-08 12:35] tensorflowbutler commented on #31245
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-08 12:35] tensorflowbutler commented on #31945
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-08 12:45] Davidvdrm commented on #32774
@jaingaurav Is there a timeframe on this fix? I am currently looking at a fix myself and wonder if it is worth it.

[2019-11-08 12:52] ThinerDAS opened #34097 "python/keras/engine/network.py:layers took great deal of prediction time on deep networks when using methods like predict_on_batch"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary, docker
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d38 2.0.0

**Describe the current behavior**

When I am using keras and profilin

[2019-11-08 12:56] mcourteaux opened #34098 "Seemingly unavailable datatypes for Ops."
In [`training_ops.cc:640`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/training_ops.cc#L640) I see many registrations for Ops, which have datatypes only supported for non-Windows.

For example:
[code]
Seeing this, we quickly switched and ran our code on a Linux build, hoping the Op would be available for complex128, but it turns out also on Linux, it's not, as indi

[2019-11-08 13:02] ozzcet commented on #21839
please add coma between output layer members.

[2019-11-08 13:30] martinwicke commented on #24412
We're targeting this for 2.1.

[2019-11-08 13:34] kaploink commented on #34035
@wrd90
Ah okay, well looks like the tf pros have been adding some labels so sounds like they might have some answers for you soon.

The tflite conversion worked fine for me (non-RNN) using a slightly adjusted version of your command (`tflite_convert --output_file=model.tflite --graph_def_file=./frozen_graph_def.pb --input_arrays=vector_observation,epsilon --output_arrays=action`), so thanks heaps

[2019-11-08 13:50] ThinerDAS opened #34099 "Warning when using fit_generator"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/api

[2019-11-08 14:01] mdanatg commented on #33767
Hi, this issue should go away if you downgrade gast to 0.2.2 (`pip install gast==0.2.2`).

The dependencies in TF 2.0 pull the latest version of gast, which breaks compatibility at 0.3. This should be fixed in 2.1 which pins to this older version.

Please reopen the issue if downgrading didn't work.

[2019-11-08 14:01] #33767 closed

[2019-11-08 14:09] aronatkins opened #34100 "many proto files lack go_package"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15.0
- Python version: N/A
- Installed using virtualenv? pip? conda?: release .tar.gz
- Bazel version (if compiling from source): N/A
- GCC/Compile

[2019-11-08 14:16] dreamibor commented on #33572
Any updates?

[2019-11-08 14:36] dahliau commented on #32870
It look like it works on google colab (tf 1.14).
I guess it depends on the tf version. I still haven't solve it in my work (tf 1.12).

You can check the stand alone code I've uploaded, it works on tf 1.14.

[2019-11-08 14:43] ThinerDAS opened #34101 "batch_gather_nd op <del>Size Op</del> missing for Tensorflow Lite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow installed from (source or binary): binary docker latest
- TensorFlow version (or github SHA if from source):v2.0.0-rc2-26-g64c3d38 2.0.0

Any model using `batch_gather_nd` (`gather_nd` when `batch!=0` and input tensor has indefinite batch dimension) will rely on `Size` op (`batch_gather_nd`-

[2019-11-08 14:45] xychenunc commented on #32870
Thanks

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: dahliau <notifications@github.com>
Sent: Friday, November 8, 2019 9:43:15 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Chen, Xiaoyang <xychen@email.unc.edu>; Comment <comment@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] No gradient defined for operation 'ExtractVolumePatches' (

[2019-11-08 15:10] jaingaurav commented on #32774
@Davidvdrm: The fix is already committed and available in the nightly pip package. It will also be included in the upcoming 2.1 release.

[2019-11-08 15:20] minhduc0711 commented on #32982
I only followed your steps. What else need to be adjust?

[2019-11-08 15:48] likwifi opened #34102 "Download link for PoseNet tflite doesn't work"
Pose Net download link from https://www.tensorflow.org/lite/models/pose_estimation/overview
doesn't work.

https://storage.googleapis.com/download.tensorflow.org/models/tflite/posenet_mobilenet_v1_100_257x257_multi_kpt_stripped.tflite

[2019-11-08 15:49] Davidvdrm commented on #32774
I built the nightly package and still get a NotFoundError concerning the needed ApplyGradient ops for Adam, SGD and AdaDelta. This is the same issue as before the upgrade to the nightly build and I created a new issue [https://github.com/tensorflow/tensorflow/issues/34098](https://github.com/tensorflow/tensorflow/issues/34098) concerning this problem. Should the change fix this issue or are they u

[2019-11-08 15:52] likwifi commented on #34102
I was able to download it Firefox but same link doesn't work on chrome.

[2019-11-08 16:09] jaingaurav commented on #34098
@Davidvdrm: Unfortunately compiler support for many complex operations was suboptimal. We need to provide the necessary complex overrides in order to provide wider support. Did you try compiling with nvcc of the clang CUDA compiler? Clang should give you access to those kernels.

[2019-11-08 16:20] Davidvdrm commented on #34098
I have not yet, but i will try ASAP. The issue is clear now. Thank you for the clarification.

[2019-11-08 16:34] jvishnuvardhan commented on #26714
@imarkiew Is this still an issue? If it not, please close the issue. Thanks!

[2019-11-08 16:34] Violainewei commented on #32278
You can do the following:
1. download it from https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz
2. rename it as cifar-10-batches-py.tar.gz
3. copy it to ～./keras/datasets/

[2019-11-08 16:36] yhliang2018 commented on #32500
This issue has been fixed recently. Could you try tf-nightly to verify it? Thanks!

[2019-11-08 16:41] mihaimaruseac commented on #33539
Both of the errors posted so far are not TF errors but errors on your environment.

[2019-11-08 16:44] jvishnuvardhan commented on #32286
@Peque This has been resolved recently in 'tf-nightly` which is `2.1.0-dev20191108` that will be released in the future. I am closing this issue. Please check the gist [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/5ead8e4a4613f9bf58996093154d1290/untitled634.ipynb).

Please feel free to open the issue if it persists again. Thanks!

[2019-11-08 16:44] #32286 closed

[2019-11-08 16:45] impjdi commented on #32101
The actual failure is coming from tensor dimensions not matching, and not
from unsupported ops.

On Fri, Nov 8, 2019 at 02:31 Douman <notifications@github.com> wrote:

[2019-11-08 16:46] impjdi commented on #32101
I meant

filter->type != kTfLiteFloat32

On Fri, Nov 8, 2019 at 08:45 Juhyun Lee <impjdi@google.com> wrote:

[2019-11-08 16:50] gunan commented on #33543
I was able to successfully build TF on windows with python 3.8.
However, grpcio still did not publish their python 3.8 package.
Therefore, we are blocked on their release for our python 3.8 release

[2019-11-08 16:50] gunan commented on #33374
I was able to successfully build TF on windows with python 3.8.
However, grpcio still did not publish their python 3.8 package.
Therefore, we are blocked on their release for our python 3.8 release

[2019-11-08 16:50] gunan commented on #33561
I was able to successfully build TF on windows with python 3.8.
However, grpcio still did not publish their python 3.8 package.
Therefore, we are blocked on their release for our python 3.8 release

[2019-11-08 16:52] gunan commented on #33544
Hi,
The questions you posed are bazel on windows questions.
@meteorcloudy @laszlocsomor

[2019-11-08 16:55] gunan commented on #32637
Closing the issue, because after the updates I see that original issue was resolved.
Will let the new issue be handled in the linked github issue.

[2019-11-08 16:55] #32637 closed

[2019-11-08 16:56] gunan commented on #29666
This looks like a request for support on a new platform. We are not planning to support this platform first party, but we will accept any pull requests to add support for mips64

[2019-11-08 16:56] gunan commented on #30034
I think this upgrade is complete, I forgot to update this issue when we fixed the problem. Closing.

[2019-11-08 16:56] #30034 closed

[2019-11-08 16:58] gunan commented on #29053
As far as I can see, this is a purely bazel issue, where bazel has a problem autodetecting the toolchain on the system.
However, I have no direct solution for it.
Please try reaching out to bazel team, or the sommunity on stackoverflow may have some ideas.

[2019-11-08 17:03] gunan commented on #30599
You can now use more recent bazel versions with TF, therefore, this issue is resolved.

[2019-11-08 17:03] #30599 closed

[2019-11-08 17:05] gunan commented on #28553
ping!
any updates here?
Is this still a problem with newer bazel versions?

[2019-11-08 17:06] #28765 closed

[2019-11-08 17:26] yuqcraft commented on #34078
Hey @gadagashwini, thanks for the reply. Here's the link:

https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/r1/tutorials/distribute/training_loops.ipynb

[2019-11-08 17:31] ouakif commented on #33967
Here are the changes that I would suggest. Not yet tested with the nightly version https://github.com/tensorflow/tensorflow/compare/master...ouakif:correct_embeddings_metadata?expand=1

[2019-11-08 17:37] chaaland opened #34103 "Repeating numbers in uniform random Tensor created on GPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Plat

[2019-11-08 17:53] gunan commented on #26728
I think you can use these options of bazel to direct it to use different toolchains.
Before trying each environment change, you may need to run `bazel clean --expunge`
https://docs.bazel.build/versions/master/be/make-variables.html#custom_variables

[2019-11-08 17:53] #26728 closed

[2019-11-08 17:56] gowthamkpr commented on #33125
I am closing this issue for now. If there are any updates, will keep you posted. Thanks!

[2019-11-08 17:56] #33125 closed

[2019-11-08 17:59] gowthamkpr commented on #33143
Was able to reproduce it. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/f0f721735d1855b103d171de87643f7f/untitled210.ipynb).

[2019-11-08 18:02] gunan commented on #26595
@perfinion may have an idea.
According to this, `-mno-avx2` should disable avx2, but I did not go through all flags.
https://gcc.gnu.org/onlinedocs/gcc-8.3.0/gcc/x86-Options.html#x86-Options

So it is possible, within so many flags one of the enabled things is using avx2, and gcc is not handling all flag combinations correctly (which is not unheard of).

[2019-11-08 18:14] gowthamkpr commented on #33574
@abdou31 Please post this question in stack overflow as it not related to bug/performance, build/installation or feature request. Thanks!

[2019-11-08 18:14] #33574 closed

[2019-11-08 18:21] impjdi commented on #34064
@Lumosis

Hi there, thanks for digging deeper into the code and noticing this detail :)

You are very welcome to experiment with the workgroup sizes.  What we have observed in the past is that Adreno is more susceptible to workgroup changes, and can get up to 30% faster if you choose a good workgroup size or also 30% slower if you choose a bad one.  Now, with Mali devices, we strangely only saw a

[2019-11-08 18:21] jermainewang commented on #24453
Hello everyone, some great news. @VoVAllen and I just prototyped a solution for this feature. It is zero-copy and can be used quite easily as a standalone python package. Many solutions are inspired from this discussion thread. Thanks everyone! Here is the RFC (https://github.com/VoVAllen/tf-dlpack/issues/3). Feel free to leave any feedback. We will try to push the release soon.

[2019-11-08 18:25] yhliang2018 commented on #28788
Close the issue for now as the fix has been submitted.

[2019-11-08 18:25] #28788 closed

[2019-11-08 18:25] impjdi commented on #33676
@DoumanAsh

Sorry for the late reply; I've been out on a conference.

Hm, I'm not sure what that flag does, and re: your question of:

The people owning TFLite and who delivers the TFLite GPU are different set of people with the latter (I belong here) being more agnostic of what the proper way is :p

Please feel free to send a PR to me and @jdduke

[2019-11-08 18:26] gunan commented on #26198
I was simply recommending running wget from your terminal with the links that are failing to download. I do not think you can run "bazel with wget", or vice versa.

Closing the issue, as the remaining problem is a network issue on user side, and we cannot do anything from our end, as all of our servers and mirrors are live and green from our end. Maybe check your firewall, or contact your network

[2019-11-08 18:26] #26198 closed

[2019-11-08 18:26] jvishnuvardhan commented on #34016
@netw0rkf10w As mentioned by @karmel I changed your code to save weights in *.tf format and everything works as expected. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/1404f0bfd5a429b585f1de847600ae5a/tf_checkpoint.ipynb) is the gist for your reference.

I am closing this issue as it was resolved. Please feel free to open if the issue persists with any other models. Thanks!

[2019-11-08 18:26] impjdi commented on #31526
@LK

Sorry, but @NikolayChirkov switched teams and is no more working on this.  We currently don't have an owner.  This may take some time until we get a backfill =/

[2019-11-08 18:28] impjdi commented on #31468
@LK

Sorry, but @NikolayChirkov switched teams and is no more working on this. We currently don't have an owner. This may take some time until we get a backfill =/

[2019-11-08 18:28] gunan commented on #26045
Ideally it should be consistent, but most packages are expected to be compatible between patch release versions.
Unless this is causing a breakage for you, this is not a problem.

[2019-11-08 18:28] #26045 closed

[2019-11-08 18:29] #25312 closed

[2019-11-08 18:30] gunan commented on #25312
Closing as it is reported that the issue is fixed in the newer versions.

[2019-11-08 18:31] impjdi commented on #30758
@hvalev

My sincere apologies for the super late reply; for some reason, this completely dropped off the radar.

We have received multiple requests for these two operations and will be prioritized.  Not so sure about `MAXIMUM` but `RESIZE_NEAREST_NEIGHBOR` should come for sure.  Don't have an ETA yet; we're quite short staffed at the moment.

[2019-11-08 18:54] qo4on commented on #24412
Are you going to update your tutorials `https://cloud.google.com/tpu/docs/colabs` with `2.1` release?

[2019-11-08 18:56] jdduke commented on #33676
Hi @DoumanAsh, thanks for flagging, we should absolutely be consistent. If you want to propose a PR, feel free to, otherwise I can take a look.

[2019-11-08 19:01] abdou31 commented on #33574
I have solved the problem
Thanks.

[2019-11-08 19:01] ymodak commented on #34083
I believe there's a typo in your import.
Can you try with;
```import tensorflow.examples.tutorials```

[2019-11-08 19:04] jessica-santos opened #34107 "huge amount of memory usage in load_model (tf 2.0)"
Hi, I retrained a Inception + DenseLayer(512) using keras in tf 2.0.

When I load this model with tf 1.14, it uses something around 4G of GPU memory. But, when I'm doing the same with tf 2.0 it uses more than 25Gb of memory!!
This is correctly? That is some other config to load the model now?

I'm using an ec2 with a tesla v100 and cuda 10.1

**System information**
- Have I written custom code (as

[2019-11-08 19:07] gunan commented on #23065
Closing as duplicate of https://github.com/tensorflow/tensorflow/issues/19584

[2019-11-08 19:08] gunan commented on #25935
I am sorry for dropping this issue.
I saw that Yun has done many of these changes.

[2019-11-08 19:09] #23065 closed

[2019-11-08 19:19] DoumanAsh commented on #33676
Looking over at the delegate API, I see only C API (which is marked visible in code).
So I think the simplest approach would be is to by default build with `hidden` visibility.
Which doesn't require any extra linking script (which is what we do internally when we build delegate)

So I'd suggest it as PR for now as all vital APIs are marked with `TFL_CAPI_EXPORT` which resolves to corresponding att

[2019-11-08 19:19] gowthamkpr commented on #33255
I was referring this comment @arunumd as there is no concept of palce holders in TF2.0

[2019-11-08 19:20] gunan commented on #22411
Sorry for not following up here in a timely way.
We do not support any other build system other than bazel at the moment. So I do not have any experience with any other build systems.

For the main issue, I have no idea. I do not think I have ever seen stack smashing errors.
Maybe flag mismatches between TF compilation and your c++ code?

[2019-11-08 19:26] wady101 commented on #34083
Thanks @ymodak . Didn't see that :<

[2019-11-08 19:34] montoyama commented on #27935
Excelent, clever guy ..

[2019-11-08 19:36] arunumd commented on #33255
@gadagashwini suggested I try running the same code with TF2.0. So I tried. It didn't work neither. I am not sure if @gadagashwini also expected me to refactor the whole code ? I do not want to refactor anything.. I am interested in knowing whether or TF1.x is capable of running this code without the tmalloc error ? Why is this error being caused ? I think we have to focus on the root problem..

[2019-11-08 19:36] DoumanAsh commented on #33676
As a side question.
I noticed that 1.15 brought a new GPU Delegate.
Are there any plans for which is going to be a final one?

[2019-11-08 19:46] impjdi commented on #33676
The new GPU delegate you are referring to probably has the logic of "try to use OpenCL if available,  fallback to OpenGL otherwise".  I'm not 100% certain whether we will kill off the "old" OpenGL delegate, but chances are high.

[2019-11-08 19:47] jdduke commented on #33676
Hi @DoumanAsh, the V2 delegate is going to be the default going forward. The pre-compiled GPU delegate (on JCenter/Maven) has already been updated to use this variant, as has our benchmark tooling. We're preparing a blog post, and will likely deprecate the "V1" API at some point.

[2019-11-08 19:57] MeghnaNatraj commented on #33797
The [TensorFlow Object detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md) has many pre-trained models and is the best resource to get started with SSD models. Most users pick a pre-trained model and use transfer learning to customize it (similar to your use-case). Unfortunately, even the smallest ones (mobilenet V1/V2/V3 mo

[2019-11-08 19:58] DoumanAsh commented on #33676
Good to know, I will be shifting our code base to use it then

[2019-11-08 20:16] #33539 closed

[2019-11-08 20:39] grewe commented on #34019
Here are the URLs again for the 2 resources

MODEL
[](url)http://borg.csueastbay.edu/~grewe/CS663/Mat/LSTM/data/Good17EpochModel/my_model.h5

Training data - BOTH videos and .npy files with feature vectors from each video to feed into
[](url) http://borg.csueastbay.edu/~grewe/CS663/Mat/LSTM/data/UCF-101_WithTraininData_InceptionV3CNN_trainedOnImageNet_Sampled_40_per_video.zip

[2019-11-08 20:39] grewe commented on #34028
Here are the URLs again for the 2 resources

MODEL
[](url)http://borg.csueastbay.edu/~grewe/CS663/Mat/LSTM/data/Good17EpochModel/my_model.h5

Training data - BOTH videos and .npy files with feature vectors from each video to feed into
[](url) http://borg.csueastbay.edu/~grewe/CS663/Mat/LSTM/data/UCF-101_WithTraininData_InceptionV3CNN_trainedOnImageNet_Sampled_40_per_video.zip

[2019-11-08 20:55] ricardo-0x07 commented on #31224
@wugh  I'm having this same issues, where you able to resolve it

[2019-11-08 21:05] ebrevdo commented on #28553
I believe someone sent a PR to guard.

On Fri, Nov 8, 2019, 7:06 AM Gunhan Gulsoy <notifications@github.com> wrote:

[2019-11-08 21:17] DEKHTIARJonathan commented on #24582
As you said it's a nice workaround, but this operation has a non negligible cost.
Would it be just possible to make sure SparseTensors are supported by the identity operation ?

[2019-11-08 21:17] preethivenkatesh commented on #33627
Could you please try export OMP_NUM_THREADS=1 to restrict the MKL threadpool to 1

[2019-11-08 21:38] jvishnuvardhan commented on #26951
@RomanSteinberg @frantracer As your issue is related to `TF2.0`, Please create a new issue with details and a standalone code to reproduce the issue. Thanks!

[2019-11-08 22:25] gowthamkpr commented on #34102
Was able to download it on chrome. Try uninstalling and reinstalling your browser
![image](https://user-images.githubusercontent.com/47574994/68514763-83708b00-0233-11ea-981f-5eaf521602a4.png). Thanks!

[2019-11-08 22:25] #34102 closed

[2019-11-08 22:26] sp-ananth commented on #15644
Hello, is there still no support for tf unique with multi-dimensional arrays?

[2019-11-08 22:31] XingyuChen01 commented on #25970
This bug seems to be still present in TF2.0, when I implement my own loss function:

`
def dice_loss(smooth=1e-6):
    # y_true: B * H * W * C
    # y_pred: B * H * W * C
    def dice(y_true, y_pred):
        tp = tf.reduce_sum(y_true * y_pred, axis=[1, 2]) # B * C
        fn = tf.reduce_sum(y_true * (1-y_pred), axis=[1, 2]) # B * C
        fp = tf.reduce_sum((1-y_true) * y_pred, axis=[1, 2]) # B

[2019-11-08 22:50] abdou31 opened #34111 "How can I visualize the `learning_rate` metrics on Tensorboard?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.13.1
- Pyt

[2019-11-08 22:51] gowthamkpr commented on #34091
As you can see [here](https://github.com/tensorflow/tensorflow/blob/7a07f274d65bed12b91b6c6dbe4987a6e1649429/tensorflow/tensorflow.bzl#L1169) tf_cc_tests perform tf_cc_test form multiple ops(components)

**Source**
[code]

**Example**
[code]

Let me know if the above explanation helps. Thanks!

[2019-11-08 23:11] gunan commented on #28553
OK, then closing the issue.
Please reopen if this is still not resolved.

[2019-11-08 23:11] #28553 closed

[2019-11-08 23:15] gunan commented on #23674
The original reported problem seems to be solved.
@jesen8, the error you are seeing looks different. And I cannot see the actual cause of the issue because you do not have the full log. Please file a new issue, this time including all the information.

[2019-11-08 23:15] #23674 closed

[2019-11-08 23:17] #23402 closed

[2019-11-08 23:18] gunan commented on #23296
Cmake has not been supported for quite a while (even when this issue was reported).
It is possible they were simply broken.
Now that they are fully deleted. I will close this issue.

[2019-11-08 23:18] #23296 closed

[2019-11-08 23:20] gunan commented on #25499
Now that we have the manylinux 2010 packages, they should work out of the box with centos 6 or later.
Anything older may not work.

[2019-11-08 23:20] #25499 closed

[2019-11-08 23:24] gunan commented on #23803
Completely missed this issue under the mountain of emails.
Looks like initial issue was due to bazel not being able to auto detect the toolchain.

For the latter problem. I remember other reports of the same issue.
I think they were resolved, but I may be mistaken. if not, @mihaimaruseac is working to move all cloud filesystem support out of the main package, which should help with this.

@mihaima

[2019-11-08 23:25] gunan commented on #23200
TF's build uses python based on which python version you use during configure.py run.

[2019-11-08 23:25] #23951 closed

[2019-11-08 23:31] gunan commented on #23104
One potential issue is the maximum path length check.
You can try disabling path length limit by following here:
https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/

[2019-11-08 23:32] gunan commented on #24262
Unassigned to trigger retriage.

[2019-11-08 23:45] yuanzhedong commented on #28788
Hi @yhliang2018 , thank you for helping with this. We have a question about how to install the tf-nightly you mentioned above. We tried both `pip install tf-nightly-gpu-2.0-preview` and `pip install tf-nightly` but still get that error.

We dig a little bit about why we can't it fails and found that this function [tf.space_to_batch_nd](https://www.tensorflow.org/api_docs/python/tf/space_to_batch_n

[2019-11-08 23:47] mwalmsley opened #34112 "DatasetVariantWrapper "No unary variant device copy function found""
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes (but runni

[2019-11-08 23:49] RunOrVeith commented on #34024
I've implemented a GroupConv2D as a tf.keras.layers.Layer by taking inspiration from [the sources of Conv2D](https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/convolutional.py#L391-L498).
This seems to work well for me using tensorflow 2.0.0 (however, only on GPU. On CPU it crashes if groups != 1, because there is no implementation for the group convolutions).

[cod

[2019-11-08 23:52] mwalmsley commented on #34112
I should perhaps add that I have successfully trained models on the same GCloud machine (with the same CUDA install) on TF 1.14.

[2019-11-08 23:53] ymodak commented on #34096
in TF 2.X save format is TensorFlow Model format (tf) by default.
Can you please try using setting ```save_format='h5' ``` argument in ```tf.keras.models.save_model``` and try again?

[2019-11-09 00:01] ymodak commented on #33947
Closing this issue since its resolved. Feel free to reopen if necessary. Thanks!

[2019-11-09 00:01] #33947 closed

[2019-11-09 00:05] jvishnuvardhan commented on #34080
@NightWinkle Can you please explain what you want to accomplish?  Are you trying to expand dim of tensor or dataset? Instead of `ds.apply`, i used map function as follows to expand dim. Please take a look at the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/5c03552749e1cdd40365ed7301a8c1b3/untitled339.ipynb).  Thanks!

[code]

Please close the issue if it was resolved for you. T

[2019-11-09 00:08] gowthamkpr commented on #33973
@moberweger I can run it with TF1.15-gpu without any issues but with TF 2.0 I can see the issue is persisting. I am closing this issue but Please create a new issue specifying Tensorflow 2.0 and we can deal with it separately. Thanks!

[2019-11-09 00:08] #33973 closed

[2019-11-09 00:16] yhliang2018 commented on #28788
Hi @yuanzhedong Yes, you are right. What you descripted was indeed the root cause, and [our fix](https://github.com/tensorflow/tensorflow/blob/7a07f274d65bed12b91b6c6dbe4987a6e1649429/tensorflow/python/keras/layers/convolutional.py#L196) to recreate conv_op when a different input is provided is to resolve this issue. I have verified the code example @xiaohu2015 provided works correctly with tf-nig

[2019-11-09 00:18] ymodak commented on #33937
May be you have multiple computations executing simultaneously. Can you kill all python sessions and try again?

[2019-11-09 00:27] aaroey commented on #32281
@double344931987 @superhg2012 could you provide a detailed repro? E.g. which model you're using and how you deploy/run the model with TF serving?

Thanks.

[2019-11-09 00:43] gowthamkpr commented on #33793
Makes sense @pandrey-fr. Thanks for detailed explanation.

[2019-11-09 00:43] LucasSloan opened #34113 "Decoding JPEGs much slower on Windows"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.15.0 GPU
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0/7.6.5
- GPU model and memory: 2080 Ti

My inpu

[2019-11-09 01:50] huyng opened #34114 "Named dictionary inputs and outputs for tf.keras.Model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-11-09 02:15] rand-byte commented on #29113
I have a similar problem where one of the features is a tf.sparse.SparseTensor. As the it is said above, self._add_inputs does not exist. In the snippet

[code]

What is the best way to make the code work considering that self._add_inputs does not exist?

[2019-11-09 02:55] Leslie-Fang commented on #34091
@gowthamkpr Thanks for the explanation. I understand the definition of tf_cc_tests.
The question is why I run：
`
bazel --output_user_root=$build_dir test //tensorflow/core/kernels:bonus_tests
`
which throws the error:
_ERROR: no such target '//tensorflow/core/kernels:bonus_tests': target 'bonus_tests' not declared in package 'tensorflow/core/kernels' (did you mean 'loss_test'?) defined by /home/le

[2019-11-09 03:16] chris881 opened #34115 "Run Time series forecasting Tutorials , the warning raised. W tensorflow/core/grappler/optimizers/implementation_selector.cc:310] Skipping optimization due to error while loading function libraries"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
I try to run T

[2019-11-09 03:35] bahaelaila7 commented on #34024
@RunOrVeith Thanks for verifying that it works for GPU.
I realized my mistake, my bad!!
The filter output should also be a multiple of the groups G,  (since any operation will produce G output featuremaps). Therefore,
[code]
while
[code]

I think whenever the keras Conv2D gets to support this, there should be checks for the filter output as well (divides by G evenly). Ie, both input's depth and ou

[2019-11-09 03:35] #34024 closed

[2019-11-09 04:36] sc20ka opened #34116 "ImportError: DLL load failed TF 1.13"
**System information**
- win 10 x64  18362 (1903):
- pc:
- VS community tensorflow-gpu 1.13.1:
- tensorflow-gpu 1.13.1:
- Python 3.7:
- pip in VS community:
- all version 9.0 10.1/cudnn-10.1-windows10-x64-v7.6.5.32:
- 1060 6gb:
[code]

[code]

[2019-11-09 04:54] dbonner opened #34117 "Build failure: undefined reference to protobuf symbols"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3
- Python

[2019-11-09 04:58] saintthor commented on #33412
I saved the model by tf.keras.Model.save method.

I loaded the same model file in the two envs for the above testing.  thanks.

[2019-11-09 05:27] ychervonyi commented on #33024
I see the same performance. My question: is there a way to set buffer size and not load all data when calling `.fit()` on Sequence?

[2019-11-09 05:58] YujieLu commented on #34074
[code]

[2019-11-09 06:27] shazhongcheng commented on #33924
I tried this code on jupyter ，and it runs error, I suspect the Ipython. So i tried this code on  PyCharm, and run as i python file, it also run error!
My computer Version is Win10 1903, and with tensorflow2.0.
I think this error turns out because this multiprocessing on windows >_<! it will run fluently in the first epoch in the little batchsize, but will turn out error in the first epoch every ti

[2019-11-09 07:26] shazhongcheng opened #34118 "An strange error about `tf.estimator.BoostedTreesClassifier`"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    * no
- OS

[2019-11-09 07:47] yoshina621 commented on #33030
can i get the tensorflow whici is fixed the memory leak from conda?

[2019-11-09 07:53] moberweger opened #34119 "TF2.0 Calling set_session before fit_generator causes training to freeze when using multiprocessing"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device if the issue happens on mobile device: N/A
- TensorFlow installed from: binary
- TensorFlow version: v2.0.0-rc2-26-g64c3d38 2.0.0
- Python version: 3.6
- Bazel version: N/A
- GCC/Compiler version: N/A
- CUDA/cuDNN version: 10.0 / 7
- GPU model and memory: GTX 1080Ti

**Describ

[2019-11-09 08:05] robieta commented on #33024
@ychervonyi Are you using the latest tf-nightly? https://github.com/tensorflow/tensorflow/commit/ac20030c96d37e980333b604402ef6dba48ef5e2 is the relevant change, and should be in `tf-nightly==2.1.0.dev20191109` Feel free to post a repro colab if you're seeing Sequence shuffling handled inefficiently.

[2019-11-09 08:05] sanjay235 commented on #7253
[code]

is giving error as,

[code]

[2019-11-09 08:59] elazdins commented on #19293
Hi all,

Just wanted to check if any progress has been made here since August? Just tried locally converting a Mask RCNN network to TFLite format and unfortunately, no luck.

Thank you,

Edgars

[2019-11-09 09:13] galeone commented on #29481
I guess this issue should be re-opened, I'm facing again the same issue

[2019-11-09 09:50] wady101 commented on #34083
@ymodak I apologize. It still doesn't work. Strangely, it was working in the colab link yesterday, but not today.  Can you give this a try? I tried it on the local build (mentioned in the issue) I was using today, and it still gives me the same error.
I have updated the issue.

[2019-11-09 09:54] chenquan opened #34120 "The latest version(2.0.0) of TensorFlow import protobuf error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-11-09 11:31] 72ohit commented on #21742
"parser = argparse.ArgumentParser(description='Code for Changing the contrast and brightness of an image! tutorial.')
parser.add_argument('--input', help='Path to input image.', default='id1.jpg')
args = parser.parse_args()"    remove this part and replace this code (image = cv.imread(cv.samples.findFile(args.input))) to image = cv.imread("your_image_path")

[2019-11-09 13:14] netw0rkf10w commented on #29383
@k-w-w Still does not work in the latest build `v1.12.1-17734-g3dffd6ed 2.1.0-dev20191109`. Please check [this Colab notebook](https://colab.research.google.com/drive/1M0PDxTsXfL0lvFcsEhNTvNG-titdARYo).

[2019-11-09 13:24] netw0rkf10w commented on #34016
@jvishnuvardhan You are basically saying that the `.h5` format is not officially supported? In that case please remove it from your documentation then.

[2019-11-09 14:07] amitbd1508 commented on #33183
downgrade the python to 3.6 . python 3.7 is not supported Tensorflow
https://www.pyimagesearch.com/2019/01/30/macos-mojave-install-tensorflow-and-keras-for-deep-learning/

[2019-11-09 14:16] NightWinkle commented on #34080
Indeed, it felt to me like it should have been a Dataset operation, but `expand_dims` takes only tensors as input.

[2019-11-09 14:16] #34080 closed

[2019-11-09 15:30] nlbutts opened #34122 "Build failed on matrix_square_root_op using GCC 7.4.0 and Ubuntu 18.04"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
`
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.3 LTS"
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPO

[2019-11-09 15:32] imarkiew commented on #26714
@jvishnuvardhan I tested this for `2.0.0b1` version and it still seems that the problem exists (but with another error). Unfortunately, due to some problems I wasn't able to test `tf-nightly`.

[code]

[2019-11-09 16:03] abdou31 opened #34123 "How can I know that the accuracy is good or not using RMSE for regression tasks?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.13.1
- Pyth

[2019-11-09 16:07] bharatnishant commented on #26270
@tsbertalan @dynamicwebpaige Has the issue been resolved?
If not I would like to improve it

[2019-11-09 16:07] VoVAllen opened #34124 "[Docs] Doc example of DeviceSpec doesn't work with tf 2.0"
Doc link: https://www.tensorflow.org/api_docs/python/tf/DeviceSpec
[code]
Got error:
[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed fr

[2019-11-09 17:19] Seterplus commented on #33024
I'm still using tensorflow-gpu, whose latest version is 2.0.0. When I use `model.fit(x=generator, shuffle=False, workers=8, ...)`, it seems that there is still only one worker whether I set `miltiprocessing=True` or not. Could you please verify this behavior?

[2019-11-09 18:15] #33893 closed

[2019-11-09 18:50] nikochiko commented on #34124
Syntax works fine on TensorFlow 1.15.0 (all 1.x): [gist](https://colab.research.google.com/gist/nikochiko/7cefa862d487ff9d6d31c9c2034a3cb8/34124.ipynb#scrollTo=6jMLFtVeeJpX)
Throws error in TensorFlow 2.x: [gist](https://colab.research.google.com/drive/1nkoSsW4hINcp03EPwLC0NFQhpuJURUbW#scrollTo=tB54LogAgL1D)

[2019-11-09 18:53] nikochiko commented on #34122
Please refer to this [table](https://www.tensorflow.org/install/source.md#linux) for tested build configurations. Bazel 0.29.1 is not supported, use Bazel 0.26.1 instead.

[2019-11-09 19:23] vidyakabadi commented on #14736
AMD radeon R 5 GPU is that ok if i install tensorflow on my laptop?? will it support or will it be compatible? I am new in this field pardon if my question didn't make any sense!!

[2019-11-09 19:44] netw0rkf10w commented on #29481
Same issue for me!

It only occurs if I use `tf.keras.callbacks.ModelCheckpoint`, no problem otherwise...

[2019-11-09 20:04] netw0rkf10w opened #34127 "Impossible to use tf.keras.callbacks.ModelCheckpoint in distributed training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version (use command below): 2.0.0

**Describe the current behavior**
It is not possible to use `tf.keras.callbacks.ModelCheckpoint` in distributed training:
`RuntimeError: `add_update` was

[2019-11-09 20:05] ymodak commented on #34116
You need to install cuda 10.0 and add cuda, cupti, cudnn path to the environment variable.
Please take a look at [gpu setup for windows guide](https://www.tensorflow.org/install/gpu#windows_setup) to know more.

[2019-11-09 20:13] netw0rkf10w commented on #34127
Note: no error if we use `.h5` instead of TF checkpoint format. However, just a few hours ago, @karmel and @jvishnuvardhan [recommended me to use TF format](https://github.com/tensorflow/tensorflow/issues/34016) (because `.h5` can cause issues, okay fine). So, which one should I use finally? None is working? I am lost...

[2019-11-09 21:29] dalekube commented on #24828
I previously installed tf-nightly-gpu as the super user. I fixed the 'failed to get convolution algorithm' problem by re-installing tf-nightly-gpu with my normal user.

tf-nightly-gpu-2.1.0
libcudnn7 (7.6.4.38)
cuda 10.0
Ubuntu 19.10
python3.7

[2019-11-09 21:33] PN12 opened #34128 "Exponential decay - missing argument step()"
I am facing the below error while using the exponential decay in Adam optimizer -

**Code**

`lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate = 0.0001,
    decay_steps=100000,
    decay_rate=0.96,
    staircase=True)

model = sm.Unet(
    'resnet50',
    classes=4,
    input_shape=(320, 480, 3),
    activation='sigmoid'
)
model.compile(optimizer = Adam(lr =

[2019-11-09 22:58] yuanzhedong commented on #28788
Thank you for sharing the colab! I find `pip install tf-nightly` installed an older version on my own laptop. Retried on ec2 instance and it correctly installs the same version as yours. The code shared by @xiaohu2015 works now!!

But when I run my training code (which was working with tf version `2.0.0` if I pad all the inputs to the same length) now fails after two epochs with another error pops

[2019-11-09 23:02] officer47p opened #34129 "Looking for a simple gray scale and threshold function in tflite with flutter"
Hey everybody,
I know it's a wrong place to ask this question but I couldn't anywhere else active like GitHub, so here it goes.
I'm creating a flutter app that needs to get the stream of the frames from the camera and do some image processing on it, actually, just turning it into grayscale and do a threshold operation.
I couldn't find any library that can do that in Flutter.
I used to do these ope

[2019-11-10 00:23] netw0rkf10w commented on #33649
Hi @ymodak. Any updates on this please? Thanks.

[2019-11-10 00:33] netw0rkf10w commented on #25938
Same issue on the stable 2.0.0 release :(

[2019-11-10 00:39] ricardo-0x07 commented on #31224
@raziel Can we expect anything to be done about this
note for me only have this issue with the quantized version of the model

[2019-11-10 03:34] Santosh-Gupta opened #34131 "Negative sampling / candidate sampling with Keras API"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0
- Are you willing to contribute it (Yes/No): Yes

**De

[2019-11-10 03:48] dbonner commented on #34122
When you run ./configure with bazel 0.26.1 you are told that you must install a higher version of bazel.

[2019-11-10 04:33] guptapriya commented on #29481
@omalleyt12 - are you looking into this?
@rchao could this one of the issues you've fixed recently with checkpointing?

[2019-11-10 06:53] FancyVin opened #34132 "BatchNorm doesn't work in custom Model or Layer."
**System information**
-Windows10
- TensorFlow: 2.0.0
- Python version: 3.7

**Describe the current behavior**

`InaccessibleTensorError: The tensor 'Tensor("batch_normalization/batch_normalization_trainable:0", dtype=bool)' cannot be accessed here: it is defined in another function or code block. Use return values, explicit Python locals or TensorFlow collections to access it. Defined in: FuncGra

[2019-11-10 06:57] nikochiko commented on #34122
Can you send a more detailed error log? Also your GCC version.

[2019-11-10 07:00] BhavinSuthar25 opened #34133 "logits and labels must have the same first dimension"
**System information**
- MAC OS 10.14.6
- Tensorflow 1.14

**Working model**
[code]

**Trying to create same model with tf-lite layers of bi-directional LSTM**

[code]

**Inputs are token sequence and output should be NER tags which i get from keras model but not from above model**
[code]

**Output logs**
[code]

[2019-11-10 07:01] ethanyxu commented on #23824
Now that `tf.contrib` no longer exist, there is no way of evaluating an estimator from a SavedModel easily.

`estimator.evaluate()` only takes a `checkpoint_path` argument. However, Estimator does not provide a way to manually save checkpoints.

[2019-11-10 07:30] shazhongcheng commented on #34118
If i change the param like following:
[code]

It will run fluently, so strange!

[2019-11-10 07:51] sjtuherisson commented on #33767
Thanks a lot ！

[2019-11-10 07:55] bsddemon opened #34135 "Failed to load delegate from libedgetpu.so.1.0"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Raspbian
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
Raspberry Pi
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version:
- Python version:
3.5
- Installed using virtualenv? pip? conda?:
pip
- Bazel version (if compiling from source):
- GCC/Comp

[2019-11-10 08:52] arielbenitah opened #34136 "TensorRT Segmentation Fault During Conversion"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow):**
  Yes, the

[2019-11-10 08:57] peacelovingng commented on #23683
I was able to resolve this by:

1. Downloading Miniconda from https://docs.conda.io/en/latest/miniconda.html

2. Installing Miniconda - Make sure you tick 'Add to Path'

3. Open Anaconda command prompt or power shell and type 'conda' to ensure it is properly installed

4. Type 'conda activate base' to activate the base environment - you should see the (base) in front of your directory

5. Type 'co

[2019-11-10 09:08] ShaharATterrain commented on #34075
@nikochiko
@gadagashwini ,
- I have downgraded to bazel 0.26.1, yet the problem remains.
- The link provided explains how to build the **python** API, and i need the **C++** API. Besides that, I was following these instructions to begin with.
- This is the log, from the first ERROR message:
[code]

If it's better that i extract the error log in any other format, please tell me which.
Thanks.
![Cap

[2019-11-10 09:52] netw0rkf10w commented on #29481
@guptapriya Thanks for reopening this.
For your information, this issue does not seems to occur for the `.h5` format, only the TF format is is affected, as pointed out in [my recent issue](https://github.com/tensorflow/tensorflow/issues/34127) (which is a duplicate of this one, sorry):

[2019-11-10 10:12] sahiltyagi4 commented on #30121
I'm facing exactly the same issue. Any hints/answers?

[2019-11-10 11:34] nikochiko commented on #34124
Update: found out the problem lies in using this command with eager execution.
Find [gist](https://colab.research.google.com/gist/nikochiko/0de00bb23b936f1ce714bf969aae5f1b/34124_fix.ipynb) here. Must be called with `spec_name.to_string()` function in eager execution.
Will update the docs. Issue can be assigned to me. Will put a PR soon.

[2019-11-10 11:47] nikochiko commented on #34124
Thank you @VoVAllen for bringing this issue to attention.

[2019-11-10 12:21] tensorflowbutler commented on #33130
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-11-10 12:36] ValYouW commented on #33634
@jdduke Can you please elaborate on the required change? when I add what @twkx mentioned in `tensorflow/lite/BUILD` I get the error:
[code]
What am I doing wrong?
Thx.

[2019-11-10 13:37] yang-yk commented on #34002
So disappointed! Both the framework and the reply.

[2019-11-10 13:43] netw0rkf10w opened #34139 "Only one GPU is used during .fit() validation phase"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow version (use command below): 2.0.0

**Describe the current behavior**

During validation phase of Keras' `.fit()`, only one GPU is used (while all GPUs are used during the training pha

[2019-11-10 13:57] feature-engineer commented on #32142
@lminer Is this a good solution for you?:

[code]

[2019-11-10 14:29] saintthor opened #34140 "[tf2.0] Can not load keras saved model with customized loss function"
I run tensorflow.keras on colab.research.google.com.

In tf2.0, I trained a model with a customized loss function named Loss, then saved it by keras.Model.save().
When I try loading it by
`keras.models.load_model( 'filename', custom_objects = { 'Loss': Loss } )`
It raises:

Even to set Loss.__name__ = 'xxx' before calling load_model does not help.

If set the 'compile' param to True for load_model

[2019-11-10 15:04] DarkGeekMS commented on #34128
Not sure which TF version you are using, but I think the problem is with the "lr" parameter in Adam optimizer.
The lr parameter is only there for backward compatibility and it doesn't support learning rate schedule.

You should use learning_rate parameter instead as follows:

`model.compile(optimizer = Adam(learning_rate = lr_schedule) , loss = bce_dice_loss, metrics = [dice_coef])`

Hope this wor

[2019-11-10 16:26] aixi commented on #19304
the config proto magic number is wrong, using this way to get the correct one in Python
list(map(hex, serialized))
the output is ['0x38', '0x1']

[2019-11-10 16:57] chahld opened #34141 "input_shape to build method is None when calling compute_output_shape on layer with overridden build method"
**System information**
custom code to reproduce is included below.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04.3

- TensorFlow installed from (source or binary):
pip install tensorflow-gpu

- TensorFlow version (use command below):
v2.0.0-rc2-26-g64c3d38 2.0.0

- Python version:
3.6.8

**Describe the current behavior**
build method called with input_shape = None

**Des

[2019-11-10 17:24] chahld commented on #34141
Alternate bug fix:

move the _maybe_build call after the placeholders have been created:

[code]

[2019-11-10 19:19] Anjaaaa opened #34142 "Combining packages from different channels"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- TensorFlow installed from (source or binary):
conda (using conda-forge)
- TensorFlow version:
1.13.2
- Python version:
2.7.15
- Installed using virtualenv? pip? conda?:
conda
- GCC/Compiler version (if compiling from source):
4.8.3

**Describe the problem**
I am trying to get a running tensorflow 1.13.

[2019-11-10 20:21] fsiraj commented on #34022
I tested this and it seems if I have more than one notebook open it always fails. This solves the issue so thank you!

I was still wondering why this happens it's not very convenient at all.

[2019-11-10 20:21] #34022 closed

[2019-11-10 20:34] Keyrainn commented on #23613
Unable to run Option2. theres an error.

[code]

[2019-11-10 20:58] Keyrainn opened #34143 "Unable to convert .pb to .tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- TensorFlow installed from (source or binary): python -m pip install tensorflow==1.15
- TensorFlow version (or github SHA if from source): 1.15

I am currently trying to convert .pb file from export_tflite_ssd_graph.py into a .tflite file and encountered these error:

Fatal Python error: Aborted

This is w

[2019-11-10 21:13] LatinAmericanProgramer commented on #33671
Thank you @EdjeElectronics, I had exactly the same issue and this solution also worked for me.

[2019-11-10 21:14] grewe commented on #34028
Any ideas on this issue?

[2019-11-10 21:14] grewe commented on #34019
Any ideas on this issue?

[2019-11-10 21:15] Zielasko commented on #32041
Thank you for writing a fix @zhoupeng .
I tried to write a workaround in an older version of this repository that let me compile the hello world example and a few examples i have written myself, but they didn't behave correctly.
Using your version lets me compile and successfully run the hello world example on a risc-v simulator with the expected output.
(Using `make -f tensorflow/lite/experimenta

[2019-11-10 21:17] aryachiranjeev commented on #27127
Issue while importing sugartensor --- tensorflow has no attribute core

[2019-11-10 21:20] aryachiranjeev commented on #27127
Installing right Python version (3.5) and tensorflow version (1.12.0)

Issue while importing sugartensor --- tensorflow has no attribute core

[2019-11-10 21:20] aryachiranjeev commented on #27127
Python version (3.5) and tensorflow version (1.12.0)

Issue while importing sugartensor --- tensorflow has no attribute core

[2019-11-10 21:21] guptapriya commented on #34067
Hi - if the code works with 1 GPU but not 2, perhaps the issue is with how we are handling the gradient all reduce across the 2 GPUs in absence of NVLINK. To test this hypothesis, can you re-run your code with the following change:

[code]

This should force it to do the communication through the CPU.

[2019-11-10 21:21] guptapriya commented on #34067
cc @dubey @yuefengz

[2019-11-10 21:22] aryachiranjeev commented on #27127
@sravan938  how did you solve this issue. please help me with this

[2019-11-10 21:33] dtegunov commented on #15880
TensorFlow's C API has a method called TF_DeleteTensor if I remember correctly, and probably similar methods for other object types that can consume GPU memory. If you don't destroy the objects, they will still have pointers to memory that has been freed through ~ProcessState(), and will fail the next time they try to access that memory.