[2020-02-25 19:49] sirius0503 commented on #29086
@impjdi :

Can somebody else explain why this is happening ? I can't say whether I set the TF graph wrong. If someone can give me an example of such a wrong graph, I can better understand where I'm making mistakes.

Also, I used the command line `tflite_convert` and not **TOCO** or the `python api` can it make a difference?

[2020-02-25 19:51] hohl commented on #31509
The bug still seems to be in Tensorflow 2.1.0.

(I am now working on a different machine than the one I mentioned above. So it doesn't even seem to be specific to some setup. Different GPU, CPU, OS-Version, etc.)

*Operating System:* Ubuntu 19.10
*Python:* 3.7.5
*Tensorflow Package:* tensorflow@2.1.0
*CUDA Lib:* 10.1
*GPU Model and Memory:* RTX 2080 Super, 8GB

[2020-02-25 20:12] sanjoy commented on #36459
Are you sure this ~2GB number is not misleading?  I believe that a page loaded in memory will be accounted in the RSS count for all processes that have that page in their page table.  So the sum of RSS footprints for all running processes can exceed the total amount of RAM in the system.

[2020-02-25 20:17] Thesane commented on #33303
providing the output_arrays (and input_arrays if needed) will solve the problem as you can guarantee the order by doing so
[https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter#from_keras_model_file](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter#from_keras_model_file)

[2020-02-25 20:24] sanjoy commented on #35115
Note: TensorFlow needs needs bazel 2.0 since daec6e0af0dfe39aada697275a76570da7f04608.

I have a general question for the folks on this issue: are you using [docker images](https://www.tensorflow.org/install/source#docker_linux_builds) to build TensorFlow?  If not, why not?

[2020-02-25 20:27] jvishnuvardhan commented on #36991
@janosh Would you like to update docs through PR? Thanks!

[2020-02-25 20:46] jiapei100 commented on #35115
Alright everybody... I had Tensorflow 2.1.0 successfully built with bazel 2.0.0 ....

Now, I'm closing this issue.

[2020-02-25 20:46] #35115 closed

[2020-02-25 20:49] impjdi commented on #29086
@sirius0503

You froze the graph, right?

[2020-02-25 20:50] srjoglekar246 commented on #36804
The fix for this should be in by now. We were handling Convolution with an activation (RELU6) incorrectly, hence the issue with SSD MobileNet.

About the outputs from the `inference_diff` tool & your own scripting:
I see diffs for MobileNetV2 & the int vector of SSD still, but when I checked with our [classification & object detection tooling](https://github.com/tensorflow/tensorflow/tree/master/t

[2020-02-25 20:50] #36804 closed

[2020-02-25 20:53] eugeneswalker commented on #35115
I am using docker image, yes. What is the deal with Bazel min version then? I thought we were supposed to be using bazel between 0.27.1 and 0.29.1 for v2.1.0 as specified by bazel MIN and MAX version? What is up with that?

[2020-02-25 21:07] NitinJSanket commented on #27640
Got the same thing working on Ubuntu 18.04 when compiled from source. It doesn't work on 16.04 compiled from source though.

[2020-02-25 21:11] ziofil commented on #31709
bump

[2020-02-25 21:11] ziofil commented on #30468
bump

[2020-02-25 21:15] NicMaq opened #37065 "Slice of a tensor is created on CPU not GPU when dtype=tf.int16"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Google Colab
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: NA
- **TensorFlow installed from (source or binary)**: NA
- **TensorFlow version (use command be

[2020-02-25 21:15] jaingaurav commented on #30468
ziofil@: This is definitely something we want to address as it is a usability issue. We're still trying to allocate time to work on this. In the meantime, contributions are welcome.

[2020-02-25 21:18] johngrabner opened #37066 "Model class API / predict / gradient update"
## URL(s) with the issue:
https://keras.io/models/model/
and
https://www.tensorflow.org/api_docs/python/tf/keras/Model#predict

## Description of issue (what needs changing):
Documentation for model predict says "batch_size: Integer or None. Number of samples per gradient update.", but unless I'm missing something, there are no gradient updates while predicting.

[2020-02-25 21:20] Riccorl commented on #36831
I wrote a [gist](https://colab.research.google.com/drive/1OLGnpj7gzbjaI-G0eOzmURhFxHESiIwH) on Colab but, there, I cannot reproduce the error anymore (neither with tensorflow 2.0 nor tensorflow 2.1).

The code here is essentially the same as the one provided in the OP (and identical to the original one at the time I had this error). Strange thing is that the same problem appeared on 3 different PC

[2020-02-25 21:21] miladtoutounchian commented on #36998
I did pip install tensorflow==2.1, OS is Mac

[2020-02-25 21:41] DrChrisLevy commented on #34607
Same problem here. Running docker-compose with a flask app. Using tensorflow 2.1 and when the container(s) are building I get the error

`File "/usr/local/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.6/site-packages/gunicorn/reloader.py", line 44, in run
    for filename in self.get_files():
  File "/usr/local/lib/python3.6/site-packages/

[2020-02-25 21:45] Syirrus commented on #32743
Can you explain how you did that?
How you set (assuming raspberry pi 4) to USB3.0 compatibility mode/option?

[2020-02-25 21:52] cliffwoolley commented on #34094
Thanks for the detailed information!  It would be helpful to also see what exact cuDNN API call leads to the error.  The built-in API logging in cuDNN (https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#api-logging ) can help here.

Basically you can just set a few environment variables like the following before running your python script:
[code]
We should then be able to lo

[2020-02-25 21:54] Namburger commented on #32743
@Syirrus are you still having the same issue?
this all fixed now if you upgrade to tflite_runtime-2.1.0.post1 instead of 1.14.
I don't think USB2.0 or USB3.0 matter because it works consistently on my RPI3 b+ (2.0).
Anyways, to answer your question, the pi4 has 2 USB2.0 ports and 2 USB3.0 ports,  just switch it to the correct port.

[2020-02-25 22:02] Syirrus commented on #32743
I installed the tflite_runtime-2.1.0 (tflite_runtime-2.1.0.post1-cp37-cp37m-linux_armv7l.whl).  I still get the same behavior on a RPI4.  However, if I plug the coral USB stick in to a USB 2.0 port, instead of the USB3.0 port it works.  When I switch to the native 3.0 USB port on the RPI4 I get the same error as above.

In fact, after I run the classification script and they run a lsusb, the Coral

[2020-02-25 22:03] Syirrus commented on #32743
Does that make sense?

[2020-02-25 22:04] yhliang2018 commented on #30993
Close this issue as it's fixed in TF 2.1.

[2020-02-25 22:04] #30993 closed

[2020-02-25 22:06] Namburger commented on #32743
@Syirrus Ahh, I see.
So it's working in USB 2.0 but not 3.0? That's annoying, because with 2.0, data transferring speed is going to be a bottle neck. But this looks like a rpi4 issue, check [here](https://www.raspberrypi.org/documentation/hardware/raspberrypi/usb/README.md).
For my pi3 b+, this isn't even an option since it only has 2.0 :/, good luck with yours

[2020-02-25 22:09] Syirrus commented on #32743
Exactly, it is working on USB 2.0, but NOT USB 3.0 which is a bottleneck :(. I will check out the link to RPI4 issues.  Thank you so much!

[2020-02-25 22:10] Namburger commented on #32743
No problems!

[2020-02-25 22:39] gowthamkpr commented on #37039
Was able to reproduce this issue with Tensorflow 2.0. Heres the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/ac206fc5c714a86002377c7eb180a4fd/untitled1.ipynb).

[2020-02-25 22:45] alexdwu13 opened #37067 "Usage Documentation Needed for tf.image.yuv_to_rgb"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/image/yuv_to_rgb

## Description of issue (what needs changing):

The tf.image.yuv_to_rgb method specifies a YUV input of shape (H,W,3) and an RGB output of the same shape. It also notes:

However YUV is natively encoded in HxWx1.5 Bytes, with values ranging from 0-255. Considering that multiple YUV-RGB conversion standards e

[2020-02-25 22:53] uchua opened #37068 "Can't load Keras model with multiple MetaGraphs, can't pass tags"
- Have I written custom code: Yes
- OS Platform and Distribution: Amazon Linux AMI 2018.03
- TensorFlow installed from: Preinstalled by Amazon
- TensorFlow version: 1.15.0
- Python version: 3.6
- CUDA/cuDNN version:
- GPU model and memory: Nvidia Tesla V100

**Describe the current behavior**
When trying to load a saved model using `keras.models.load_model`, an error occurs stating that `tf.saved_m

[2020-02-25 23:18] abdulwahabqurashi commented on #36601
Issue fixed after uninstall and install an older version. Thanks for your help

[2020-02-25 23:21] karimnosseir commented on #36972
Hi Richard,

If you're building from bazel then you can try master branch now, it should be available.

Please try it and let me know if it works or not or if you have any issues.

Thanks

[2020-02-25 23:21] #36972 closed

[2020-02-25 23:30] gowthamkpr commented on #36919
Was able to reproduce the issue on colab. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/3fddb14893a157806d399f7cb146a9f7/untitled19.ipynb). Thanks!

[2020-02-25 23:45] rz-dev commented on #36972
Hi Karim,

just verified it's working now, will do more testing next.
thanks again.

-richard

[2020-02-26 00:07] jvishnuvardhan commented on #36621
@mindis The following code works for me with tf.shape(). Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/8138234984669dfe28f92e760633e8c9/36621.ipynb).
[code]

[2020-02-26 00:14] jvishnuvardhan commented on #29096
@cheadevit Can you please create a new issue with more details on the commands you used? Thanks!

[2020-02-26 00:17] gowthamkpr commented on #36808
@Lay4U Please go through this [tutorial](https://www.tensorflow.org/tutorials/structured_data/time_series). Closing this issue as it has been resolved. If you have any more questions and are related to bug/performance, build/install, docs or feature request related issues please create a new issue. If they are not related, please post them in stackoverflow. Thanks!

[2020-02-26 00:17] #36808 closed

[2020-02-26 00:19] tomerk commented on #36912
Hi @chiapas, could you try this with nightly and see if you're still running into an issue where the two get different accuracy results?

[2020-02-26 00:51] TCBocean commented on #37043
In addition, I saved the model in SaveModel format and I got the following error:
[code]
So is it not supported to save nested custom keras models?

[2020-02-26 01:01] mihaimaruseac commented on #37011
Thank you for the issue. I'm going to work on this asap

[2020-02-26 01:05] sanjoy commented on #37029
This hangs inside `ParallelMapIterator::~ParallelMapIterator`.  Assigning to @jsimsa for further triaging.

[2020-02-26 01:06] rangsaritv commented on #36275
@terryheo Thank you very much for your help. :)

[2020-02-26 01:09] MattConley commented on #36675
Thanks for your help with this bug!
Unfortunately, I was still able to reproduce the issue as of commit 5a037e9954a9e9c883acc504a20ecb4a10c131d9

Also, adding in additional `gc.collect()` calls around each test did not seem to solve this problem; maybe this issue is on a different level than the python garbage collection?

[2020-02-26 01:54] YekaiLiu commented on #30636
try:
  %tensorflow_version 1.x # enable TF 1.x in Colab
except Exception:
  pass

print(tf.__version__)

#just try to not to use TF 2.x

[2020-02-26 01:56] DEKHTIARJonathan commented on #36740
Hi sorry,
I'm not able to look into this one currently

[2020-02-26 02:10] sreeni5493 opened #37072 "Custom object detection API for tensorflow 2.0 not working"
The current Object detection API still has graphs and many code structures which are working only until version 1.15

Everywhere including colab it says support will only be for 2.0

Is there a timeline for the object detection API to be useful for tensorflow 2.0 for us to do custom object detection on our own datasets?

[2020-02-26 02:27] rayeh5 commented on #36872
Any suggestion for this problem?
I try to train the speech_command model (tensorflow/examples/speech_commands), and got the same error message. The followings are the python scripts:
python train.py \
 --model_architecture conv --window_size_ms 40 --window_stride_ms 20 \
 --learning_rate 0.0005,0.0001,0.00002 --how_many_training_steps 10000,10000,10000 \
 --summaries_dir work/retrain_logs --train_

[2020-02-26 02:32] 372046933 commented on #35694
Can `strategy.experimental_distribute_dataset(dataset)` also be used to fix the stuck?

[2020-02-26 02:42] rodyt commented on #31173
Would really like this for debugging. Is this going to be included in TF2.2?

[2020-02-26 02:45] phemmer commented on #36216
I made the changes to implement the proposal, and they can be found here: https://github.com/tensorflow/tensorflow/compare/master...phemmer:keras-singular-output-loss

I have not created a pull request as I cannot get the tests working. Even the dockerized tests fail (unrelated to my change, some sort of bazel toolchain issue). The change is pretty small, so if someone else wants to take this and

[2020-02-26 02:52] TCBocean commented on #37043
I seem to find the problem, the main problem is reflected in the BN layer. I deleted the BN layer and was able to save the model correctly.
[code]

In addition, I also found that the keras_learning_phase variable also seems to come from the BN layer. As long as I set tf.keras.backend.set_learning_phase (True) or set it to False can avoid this error. But then another error occurred.
[code]
[code]
T

[2020-02-26 03:04] lcycoding commented on #24986
@sirius0503
The reason why CONV2D is not supported is because it has more than 1 input tensor.
Other tensors are simply not supported yet.

[2020-02-26 03:19] TCBocean commented on #37043
I tried to convert the model to SaveModel format, and then converted to tflite format also had the same error.

[2020-02-26 03:37] ayushmankumar7 opened #37075 "Documentation needs to upgrade to Python3"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://github.com/tensorflow/t

[2020-02-26 03:59] eugeneswalker opened #37076 "v2.1.0 build fails with TensorRT 6 and 7"
**System information**
- Inside Docker container, base image `ubuntu:bionic`
- Ubuntu 18.04, x86_64
- TensorFlow from-source build, checked out @ tag `v2.1.0`
- Python 3.7.5
- Bazel 0.29.1
- GCC 7.4.0
- CUDA 10.1.243, CuDNN 7
- TensorRT-6.0.1.5
- Quadro GV100 32gb

Trying to build TensorFlow 2.1.0 in the above environment is failing consistently. I have tried TensorRT 6 and 7, CUDA 10.1.243 and 10

[2020-02-26 04:48] enzoliao commented on #36963
I have similar problems when adding signatures function for an existing model. But if I remove the `preserve_aspect_ratio=True`, everything works well.

[2020-02-26 04:48] sanjoy commented on #35115
CC @gunan

Looks like you're building TF 2.1, but we don't publish docker images capable of building TF 2.1 (we only publish docker images that can build TF @ head).

I'll try to see if we can change this and also release docker images that can be used to build various releases of TF from source.  That way you don't have to figure out the right build environment to build TF (say) 2.1.  @gunan WDYT

[2020-02-26 04:50] t-niroc opened #37077 "Tensorflow Workspace not configured for android build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-02-26 04:54] littlebeandog commented on #36266
This trick will fix the issue:

[code]

I think this issue may cause by tensor shape computation, although i dont have time to dig deeper.

[2020-02-26 05:06] wookayin opened #37078 "Documentation issue about tf.math.xlog1py (nightly-only APIs)"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/math/xlog1py

## Description of issue (what needs changing):

This documentation describes `tf.math.xlog1py`, shown as a part of "stable" version of TF 2.1 but I believe this API has not been released yet. `tf.math.xlog1py` is only available on nightly at this point, added in https://github.com/tensorflow/tensorflow/commit/19

[2020-02-26 05:21] xuchengggg commented on #35927
@karimnosseir Hi, thank you for your answer. There is a problem, if the error is just in concat op, it should print error after model.build rather than converter. And this code works fine in prediction. So i wonder if there are any differences of concat op between tensorflow and tensorflow Lite?

[2020-02-26 05:46] nsssss opened #37079 "Cannot use tape.gradient to calculate two networks with one loss simultaneously"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-02-26 05:58] jaketae commented on #29841
Not sure if this is directly relevant to this thread, but is `keras.backend.conv3d_transpose` still a relevant function worth keeping? It seems like `keras.layers.Conv3DTranspose` calls on `nn_ops` directly instead of routing to `keras.backend`. This contrasts with similar layers like `keras.layers.Conv2DTranspose`, which calls on `keras.backend.conv2d_transpose` internally (which then eventually

[2020-02-26 06:02] Saduf2019 commented on #36863
@mshmsh1234
please update on the above comment.

[2020-02-26 06:03] rodrigoruiz commented on #33924
@houtoms No, I haven't, only Windows.

[2020-02-26 06:03] Saduf2019 commented on #36884
@RAHUL9545416
please update on the above comment

[2020-02-26 06:11] ravikyram commented on #37079
@nsssss

Will it be possible to share the colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-26 06:23] nsssss commented on #37079
[code]

[2020-02-26 06:24] nsssss commented on #37079
[code]

[2020-02-26 06:25] 372046933 commented on #36153
I logged `batch_size` on every iteration, and found that the stopped position have smaller batch_size than `FLAGS.batch_size` @Flamefire , Do you think this is a duplicate issue

[2020-02-26 06:26] ravikyram commented on #37076
@eugeneswalker

Can you try with bazel with 0.27.1 and let us know how it progresses. Please, see [Tested build configurations](https://www.tensorflow.org/install/source#gpu).Also, please refer [link](https://github.com/tensorflow/tensorflow/issues/35584#issuecomment-570920203) and see if it helps you. Thanks!

[2020-02-26 06:29] gadagashwini commented on #37059
@rajkpammi,Thanks for reporting this issue.
Can you try with this command to know Tensorflow-GPU availability
`tf.config.list_physical_devices('GPU')`. Thanks

[2020-02-26 06:29] nsssss commented on #37079
I attatched my code. It can be run but the results are not as expected. I'm not sure if `sources= pModel.trainable_variables+gModel.trainable_variables` is correct.

[2020-02-26 06:42] Saduf2019 commented on #37077
@t-niroc
We see that the link shared by you has the option to [interactively configure](https://www.tensorflow.org/lite/guide/android#configure_workspace_and_bazelrc) android work space.
please refer to this comment where it confirms the [option to interactively configure](https://github.com/tensorflow/tensorflow/issues/35377#issuecomment-569890899) work-space is present

please share the tensor f

[2020-02-26 06:44] jayantsahewal commented on #36266
Thanks @valsworthen and @littlebeandog I will try out these solutions.

[2020-02-26 06:47] vihari1729 commented on #36890
@erksch     I am getting this error in logcat while running tflite model in android studio

 java.lang.RuntimeException: Unable to start activity ComponentInfo{com.google.tflite.speechrecognition/com.google.tflite.speechrecognition.MainActivity}: java.lang.IllegalStateException: Internal error: Unexpected failure when preparing tensor allocations: Encountered unresolved custom op: AddV2.
    Node

[2020-02-26 06:54] ravikyram commented on #37068
@uchua

This issue is more suitable for TensorFlow Hub repo. Please post it on hub repo from [here.](https://github.com/tensorflow/hub/issues) Thanks!

[2020-02-26 07:06] t-niroc commented on #37077
Also, how do I check the tensor flow version?
@Saduf2019 According to link, there should be an option for configuring workspace for android. But when I run the ./configure script, I do not get that option if you see log shared below.

`C:\Users\t-niroc\tensorflow>.\configure

WARNING: Running Bazel server needs to be killed, because the startup options are different.

WARNING: --batch mode is depr

[2020-02-26 07:25] Mauhing commented on #36919
I want to make a kindly reminder that the colab code does not seem to print out the memory leak in each epoch. But the memory does not get free in each epoch.  Thanks

[2020-02-26 07:53] gadagashwini commented on #36601
@abdulwahabqurashi, Glad that its working now. Thanks

[2020-02-26 07:53] #36601 closed

[2020-02-26 07:59] tessy1234 commented on #36860
May you leave your opinion on my thought?

[2020-02-26 08:03] gunan commented on #36860
At the moment, pypi or pip doed not have a mechanism to deliver different packages based on CPU instruction sets.
One potential option is to create a package that has all three, and TF python code picks whichever it can use.
However, we are well over pypi package size limit, and we are not allowed to upload anything larger at the moment.

Therefore, it is infeasible for us to deliver what you reco

[2020-02-26 08:11] ulf1 opened #37084 "Reintroduced Typo in tf.keras.layers.Attention docs example"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/Attention

## Description of issue (what needs changing):
Typo was reintroduced in v2.1
See https://github.com/tensorflow/tensorflow/issues/34809

must be

[code]

@rabitt

[2020-02-26 08:20] Lotte1990 commented on #37050
Update: I also exported the .tflite file with `converter.experimental_new_converter = True` but `interpreter->AllocateTensors()` still fails. Problem persists with the new converter. Link to minimal example with both .tflite exports: https://drive.google.com/open?id=13xqynDb8cEJCv45x73m0nUUmY_Vc06lP

[2020-02-26 08:35] gadagashwini commented on #36936
@milongo, Does the @pandrey-fr's comment help in resolving your issue?

[2020-02-26 08:36] Flamefire commented on #36153
Your issue is different as I wrote in https://github.com/tensorflow/tensorflow/issues/36153#issuecomment-590736823 because you use a custom training loop. Please open another issue after reading that comment again and verifying that you are NOT using your loop inside MultiWorkerMirroredStrategy scope which is documented not to work if the last batch is smaller than the others. In case of doubt ope

[2020-02-26 08:37] gadagashwini commented on #36954
@hu26hase, Closing this issue since its resolved. Please feel free to comment or open if you still face issue.Thanks

[2020-02-26 08:37] sacbaf commented on #36986
Have you managed to get this issue resolved? What steps you took to make it work?

[2020-02-26 08:38] higautam commented on #35935
What is a workaround here other than registry key change?
@migliorinie you mentioned, you are checking with smaller filename. Does that change come in the next version release of tensorflow?
Can I install some older tensorflow version as a workaround?

[2020-02-26 08:49] Saduf2019 commented on #37077
@t-niroc
to check tensorflow version:
import tensorflow as tf
tf.__version__

[2020-02-26 08:50] gadagashwini commented on #36988
@open-v, Can you provide the instructions to execute the code. Thanks!

[2020-02-26 08:52] gadagashwini commented on #37026
@sam-ulrich1, Could you post the sample standalone code to replicate the reported issue. Thanks!

[2020-02-26 08:55] vdevaram commented on #36724
@tfeher : thank you. working with segment size 3.
When I am converting the MASKRCNN to INT8 using trt, I am getting out of memory. is there a workaround for it?

**2020-02-26 08:46:18.974573: I tensorflow/stream_executor/cuda/cuda_driver.cc:801] failed to allocate 4.51G (4839756032 bytes) from device: CUDA_ERROR_OUT_OF_MEMORY: out of memory
2020-02-26 08:46:19.138149: W tensorflow/compiler/tf2tens

[2020-02-26 09:10] t-niroc commented on #37077
I have not been able to build tensor flow and so I am unable to see the version. I cloned its repository from the master branch

[2020-02-26 09:22] ujjwal-ai commented on #36831
I am having the same issue. The gradients are continuously None. This kind of problem was reported in another issue ( I do not remember the issue nunber !! ) where the OP pointed out that the problem appears primarily due to a mixing of `tf.keras...` and `tf.math` operations. So, this further reinforces the belief that there is some gross compatibility issues in there.

[2020-02-26 09:23] Seliotna opened #37085 "Everything's OK... but still can't import"
I'm trying to use TF for some data processing.
So I installed tensorflow with pip.py
and then CUDA and cuDNN.

Windows : 7
Python : 3.6.8
Pip version : 20.0.2
Setuptools version : 45.2.0
Tensorflow : 2.1.0 I think
CUDA : 10.2
cuDNN : 6.0 (I also tried with 7.6.4.38)
Visual Studio : Visual Studio Community, Microsoft Visual C++ Redistributable 14.24, Build Tools

I formerly used the script tensorfl

[2020-02-26 09:25] gadagashwini commented on #37053
@henry-prior, I tried replicating the reported issue but getting different error, can help us to reproduce the issue. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/abd23e0998d1b89c6e880e6f94ca78b6/untitled406.ipynb). Thanks!

[2020-02-26 09:26] gadagashwini commented on #37056
@hartikainen, Can we close this, since the issue is resolved. Thanks!

[2020-02-26 09:29] chuanqi129 commented on #36123
Hi @djstrong, we have released intel-tensorflow 2.0.1 to fix the multiple .dist-info dirs in wheels, please have a try on it. Thanks.

[2020-02-26 09:31] ravikyram commented on #37052
@Kiranendra

Can you go through the [link](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter) and see if it helps you in converting the model into TF lite .Thanks!

[2020-02-26 09:36] Saduf2019 commented on #36998
@miladtoutounchian
I have run the code shared by you on tf 2.1 with and with out @tf.function and did not face any issues,please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/cf754f626032f37f7edc73d2ea079e39/36998.ipynb) for the [same](https://colab.sandbox.google.com/gist/Saduf2019/809a5453c7b7dbbcc1e231a486865744/36998.ipynb). the same code runs without any issues on nightly as

[2020-02-26 09:39] Kiranendra commented on #37052
Yes, I've already tried those methods. The model successfully saves. But, it doesn't convert to ".pb" or ".pbtxt" (no matter which way I try - python API or command line). I can't convert my model either with saving or without saving (not even into ".pb" or ".pbtxt").

Thank you.

[2020-02-26 09:42] mindis commented on #36621
Hi @jvishnuvardhan, thanks for looking into this!

Unfortunately `.numpy()` doesn't work with **dynamic** shapes. See error below.

[code]

Error:
` AttributeError: 'NoneType' object has no attribute 'numpy'`

[2020-02-26 09:46] ashutosh1919 commented on #37084
@ulf1 , It is exactly same as you are telling. See the nightly version of the doc [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Attention?version=nightly)

[2020-02-26 09:46] sirius0503 commented on #32101
@impjdi : Can you explain this, I thought it was due to  `bias->type != input_type (10 != 1)` i.e something related to `10 !=1`, or is it just because of _type mismatch_, also what is kTfLiteFloat32?

[2020-02-26 09:47] TCBocean commented on #37043
I tried to write a simple BN layer by myself without any parameters such as renorm, virtual_batch_size. My BN layer only uses fused, and changed tf_utils.smart_cond to if ... else. It can be converted to tflite format normally, so I guess tflite and tf.keras.layers.BatchNormalization are not compatible.

The following is the BN layer code I wrote. I have only briefly tested that its output is norm

[2020-02-26 09:50] ravikyram commented on #37049
I have tried on colab with TF version 2.0 ,2.2.0-dev20200218 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/212bd1d7e2bdd3bf0a5fdee0ba5af463/untitled676.ipynb). Thanks!

[2020-02-26 09:56] ravikyram commented on #37058
@rajkpammi
Can you try with this command to know Tensorflow-GPU availability
tf.config.list_physical_devices('GPU').Looks like duplicate of #37059. Thanks!

[2020-02-26 10:07] LuuHu commented on #37085
isn't CUDA10.1 should be use and cudnn for right version?

[2020-02-26 10:09] #37056 closed

[2020-02-26 10:10] yetanotheryeti commented on #36459
I am quite sure. We had multiple OOMs, leading to process kills by the OOM killer or even system crashes. Also, according to (h)top the total system memory consumption is rising per process as well:

Four python instances with tensorflow loaded. Each instance has its own GPU assigned via 'set_visible_devices':
<img src="https://user-images.githubusercontent.com/5852533/75334278-d4aa9600-5887-11ea-

[2020-02-26 10:11] hartikainen commented on #37056
@gadagashwini yeah, I'm closing it. I wonder what the difference between `tf.keras.Sequential.from_config` and `tf.keras.Model.from_config` is? Why does the latter one fail in this case? I'd imagine that `Sequential` models could be safely deserialized through `tf.keras.Model.from_config`? I might be wrong though.

[2020-02-26 10:11] ravikyram commented on #37052
@Kiranendra

Can you please let us know what are the steps you followed for converting the model into TFLite.
Thanks!

[2020-02-26 10:14] OmerLiberman commented on #36332
@ravikyram
take this code : https://github.com/OmerLiberman/tf_2.0.1

run the file '''resnet50.py''' with '''--data=PATH"
where PATH is a path to a local directory with with images splitted to single class in each sub-directory.

[2020-02-26 10:25] erksch commented on #36890
Hmm okay, I checked my models and they have indeed no AddV2 nodes.
Actually it might be that that's because you are using tensorflow 2.1.0.
Maybe something was changed in that release regarding tflite conversion which breaks the compatibility with the android application. What version of tensorflow lite are you including in your build.gradle on app level? For me it's:

[code]

[2020-02-26 10:34] PRDrum5 opened #37086 "Misleading convert error when no concrete functions are given"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from source:
- TensorFlow version 2.1.0:

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[code]

**Failure details**
When attempting to convert a

[2020-02-26 10:40] janosh commented on #36991
@jvishnuvardhan PR submitted. Suggestions for improvement welcome.

[2020-02-26 10:42] Ehtasha commented on #26347
@aravindchaluvadi
I'm also facing this issue while running custom model with the app.

Have you resolve this ?

[2020-02-26 10:45] ravikyram commented on #37035
@songs18

Request you to share colab link or simple standalone code with proper indentation to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-26 10:45] mr-goldhands opened #37088 "network_tester test failed with NN with 28x28 px input image but succeded with NN with 14x14 px input"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 16.04
- TensorFlow installed from (source or binary):  source
- Tensorflow version (commit SHA if source): 1881d32ef8e998e6f1a403856dd44acbba2aad7c
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32, x86

**Describe the problem**
I am implementing the Fashion MNIST class

[2020-02-26 10:48] Saduf2019 commented on #35975
@NagabhushanSN95
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-02-26 10:52] amahendrakar commented on #37048
@Justobe,
I am facing an error stating `ValueError: Unknown activation function:no_activation` while loading the given h5 file. Please find the Gist of it [here](https://colab.research.google.com/gist/amahendrakar/f3c6871c8d8a1bbc9e7b27321ab600eb/37048.ipynb).

I am facing the same error while running it on the local environment too. Thanks!

[2020-02-26 11:00] Saduf2019 commented on #37085
@Seliotna
could you please use CUDA : 10.1
Llet us know if it helps resolve your issue

[2020-02-26 11:02] Ehtasha commented on #22106
@HaFred
I'm also same problem while running segmentation model.

I don't have .txt file for this. Model is running good on IoS app but in android it gives exception
`java.lang.ArrayIndexOutOfBoundsException: length=66049; index=66049`

Any suggestion how I resolve this problem ?

[2020-02-26 11:08] huanyingjun opened #37089 "Tensorflow Lite Hexagon delegate support for QCOM SDM765G"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-02-26 11:20] Kiranendra commented on #37052
@ravikyram

I followed the steps that were said to be followed, in the link:
https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter

As I am using "RNN" layers I also tried these steps, in the link:
https://www.tensorflow.org/lite/convert/rnn
I tried changing the layer (GRU) to the layers that were recommended by "TensorFlow" in the link above. Honestly, I am new to neur

[2020-02-26 11:26] HaFred commented on #22106
Seems like it is not the same issue we encountered here. The answer I quoted above is to solve `shape does not match` problem.

[2020-02-26 11:31] amahendrakar commented on #37054
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/86e9cfb03c7eba411b5b88b4011218f8/37054.ipynb). Thanks!

[2020-02-26 11:36] hallibay commented on #35935
Hi @vishwas1234567 , Please i am encountering the same error while installing tensorflow on anaconda, how were you able to solve it? thanks.

[2020-02-26 11:41] gadagashwini commented on #37056
@jvishnuvardhan, Can you PTAL. Thanks

[2020-02-26 12:11] Ehtasha commented on #22106
Right but in other github issue someone suggested that Step 6 solve the problem statement `java.lang.ArrayIndexOutOfBoundsException: length=66049; index=66049`

And make sense because Step 6 solving in indexing problem which link with the label file. But in my case I don't have label file.
Code is working fine with other models and these models also have only .tflite file not .txt label file.
And

[2020-02-26 12:14] HaFred commented on #22106
I have not played with iOS development so there is nothing I could help on this. Maybe you could try doing the tensorflow lite Android flow from scartch

Frederick
________________________________
From: Ehtasha <notifications@github.com>
Sent: Wednesday, February 26, 2020 8:11:29 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Frederick HONG <haurunis@outlook.com>; Mention <mentio

[2020-02-26 12:15] Ehtasha commented on #22106
Okey

[2020-02-26 12:21] bjtho08 commented on #31813
Why not add the trainable version of Swish as well as the non-trainable version? keras-contrib has the code for the trainable version right here: [keras-contrib.layers.avanced_activations.swish.Swish](https://github.com/keras-team/keras-contrib/blob/master/keras_contrib/layers/advanced_activations/swish.py). Adding the trainable version also gives access to the beta scaling factor, which makes Swi

[2020-02-26 12:30] pandrey-fr commented on #36715
Great, thank you for your the clarification!

[2020-02-26 12:51] HendrikLaux opened #37091 "LookupError when calculating gradient of gradient with RNN on GPU"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or
binary): binary (Anaconda/PIP)
 - TensorFlow version (use command below):
GIT_VERSION v1.12.1-25080-gca585e7
VERSION  2.2.0-dev20200218
- Python version: 3.6.

[2020-02-26 12:57] amahendrakar commented on #37061
@hartikainen,
I was able to run the given code without any issues with the latest nightly for Linux i.e. 2.2.0-dev20200218. Please find the Gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/8579739947b58db0869cb2b759ae77ea/37061.ipynb). Thanks!

[2020-02-26 12:58] OmerLiberman commented on #36332
I am trying to debug it.
It is in the method:
[code]

which is in :
[code]

[2020-02-26 13:05] hartikainen commented on #37061
@amahendrakar yeah, as mentioned above, mine works too for `tf-nightly-2.2.0.dev20200219`, so something between that and `dev20200225`.

[2020-02-26 13:13] nouiz commented on #36675
Small note, you could need to call multiple time gc.collect() to be sure all is collected from Python. I normally call it 3 times and up to now it was always enough to recover all the object.

[2020-02-26 13:21] howl-anderson commented on #36259
I found this bug too and fixed in #37018

[2020-02-26 13:21] OmerLiberman commented on #36332
check the methods:

[code]

in ```tensorflow.python.keras.callbacks.py```

[2020-02-26 13:22] m4tts commented on #36510
@supasitk thanks for your tipp. It solves my problem.

@crccw for me this sounds more like a workaround to a problem than a good solution? but i won't reopen the issue at this point. I can live with that.

[2020-02-26 13:25] vihari1729 commented on #36890
@erksch First of all Thank you very much, Finally it is working.
But now i did training for 22 variables (12+ zero to nine numbers in the dataset) and freeze it and converted to tflite model.But now when i am running it in android studio, I am getting error like this:

2020-02-26 18:42:46.015 32272-32335/com.google.tflite.speechrecognition E/AndroidRuntime: FATAL EXCEPTION: Thread-3
    Process: c

[2020-02-26 13:41] m4tts commented on #36845
@YINWIZHANG I experienced a similar problem. At first the loss exploded, after some day the loss stalled and at some point, everything just started crashing. In the end is was a defective GPU.
It doesn't mean you have the same problem, but maybe those tipps will help you narrow it down :

- Does every GPU work fine? Did you try using `tf.device('device:GPU:1'):` or 2,3. ?

- Test with [gpu-burn](h

[2020-02-26 13:44] erksch commented on #36890
There should be a file containing your labels. I think it is namend labels.txt or something in the assets folder of your android studio project. Make sure to add the labels you are using there. And maybe just search for the number 12 if its hard coded somewhere and replace it with 22.

[2020-02-26 13:46] matthewp14 opened #37092 "Entity could not be transformed error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code - YES
- OS Platform and Distribution - Mac OS 10.15.2 Catalina
- TensorFlow install

[2020-02-26 13:47] mimxrt opened #37093 "Reading TFRecord through tf.data extremely slow in comparison to Pandas (MWE)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): binary pip
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: Python 3.7.6
- CUDA/cuDNN version: 7.6.4.38-1
- G

[2020-02-26 14:02] FB43 opened #37094 "I have to install TF 1.8!"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows (10 or 8.1)
- Mobile d

[2020-02-26 14:04] OmerLiberman commented on #36332
check:

In:  ```tensorflow_core/python/keras/engine/training_generator.py```
row num 293: ```batch_logs = cbks.make_logs(model, batch_logs, batch_outs, mode)```

It happens in the last epoch

[2020-02-26 14:08] sam-ulrich1 commented on #37026
[code]

With this example, the memory increase is less pronounced but still plainly apparent. The memory allocation on my system starts at ~1.8GB at epoch 1 and increases to ~2.15GB by epoch 10. If you watch the child processes being spawned you can see that each epoch 6 more processes are spawned and the pre-existing processes remain alive.

If you set `should_recreate_iterator` to return False f

[2020-02-26 14:28] tzachar commented on #33755
Same here

[2020-02-26 14:52] Justobe commented on #37048
@amahendrakar  Thank you very much for your reply. I'm so sorry that I missed the definition of the no_activation function in custom_objects. I have updated the code of the custom_objects function in the issue and re-uploaded the attachment.  ^_^

[2020-02-26 15:03] Syirrus commented on #34135
For me I tried this also on a RPI4 - 4GB and I still get this error when I connect the TPU to a USB3.0 port. If I use a USB2.0 port it works.

[2020-02-26 15:16] jvishnuvardhan commented on #37067
@alexdwu13 Thanks for creating the issue. Would you like to create a PR to update the doc? Thanks!

[2020-02-26 15:22] back-p commented on #30191
Thank you man, this worked for me!

[2020-02-26 15:28] henry-prior commented on #37053
@gadagashwini I got the same error when running the code in a notebook, but when I ran it as a `.py` script (using a fresh venv) I got the error I posted in the issue. From briefly checking the tf code I believe the error in the gist is caused by the underlying problem from the error in the script. Let me know if you're able to reproduce this.

[2020-02-26 15:30] ShreyasRP commented on #26813
Try removing the prefix "tensorflow".
Eg: from keras import layers

[2020-02-26 15:59] milongo commented on #36936
@gadagashwini , @pandrey-fr's comments do answer my questions, but I still feel the documentation for `tf.keras.Sequential` should include the `training` flag somewhere in the arguments i.e.
https://www.tensorflow.org/api_docs/python/tf/keras/Sequential#arguments_21 and make it explicit that the flag is passed to subsequent layers and made use of *if* those layers have it defined in their behavior

[2020-02-26 16:05] 2696120622 commented on #37003
@Saduf2019 Could you access my Google drive by above link and replicate my issue?

[2020-02-26 16:12] ulf1 commented on #37084
@ashutosh1919 Ok.

[2020-02-26 16:12] #37084 closed

[2020-02-26 16:27] pandrey-fr commented on #36936
@milongo To be clear, the flag is passed _by default_ as part of `tf.keras.Model.fit`, `tf.keras.Model.evaluate` and `tf.keras.Model.predict`. The fact that a model's call may accept a `training` argument is documented [here](https://www.tensorflow.org/api_docs/python/tf/keras/Model) :

The fact that `Layer` instances may accept it (and will receive it if so) is part of their API, as indicated [he

[2020-02-26 16:48] oracle3001 commented on #30839
I have just retried with the very latest code from Github and no it all builds successfully but the _pywrap_tensorflow_internal.lib isn't built.

[2020-02-26 16:52] mihaimaruseac commented on #37011
This should be fixed now.

[2020-02-26 16:52] #37011 closed

[2020-02-26 17:44] eugeneswalker commented on #37076
@ravikyram I tried using 0.27.1 just now, and it failed with the following message:
[code]

[2020-02-26 17:48] eugeneswalker commented on #37076
Why is it trying to build a python 2 target when I am using python 3? Is this normal?

[2020-02-26 18:03] prokotg commented on #36804
@srjoglekar246 so where the bug was exactly and what should I update? Cheers!

[2020-02-26 18:08] HadiSDev opened #37098 "model.fit fails when using generator of keras sequence"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-02-26 18:13] houtoms commented on #33924
@rodrigoruiz Then, could you please try this
[code]
suggested here https://github.com/tensorflow/tensorflow/issues/34094#issuecomment-591088834

[2020-02-26 18:24] srjoglekar246 commented on #36804
The bug was in the TensorFlow code, so you just need to use the latest nightly/master version. If you are using Android, the [nightly AAR](https://www.tensorflow.org/lite/performance/hexagon_delegate#step_1_edit_appbuildgradle_to_use_the_nightly_hexagon_delegate_aar_2) should work. Or if you are using the benchmark tool, BUILD from master :-)

[2020-02-26 18:26] prokotg commented on #36804
@srjoglekar246 Thank you :))

[2020-02-26 18:37] stev3 opened #37099 "RuntimeError: Inputs and outputs not all float|uint8|int16 types.Node number 2 (ADD) failed to invoke."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 1.15

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocatio

[2020-02-26 18:56] YINWIZHANG commented on #36845
Thanks for your comments! It turns out that I have all my GPUs working fine. A really strange thing is that, even when I use above multiGPU code in a machine with single GPU, the loss value explodes.

[2020-02-26 18:59] jdduke commented on #37038
Odd, I haven't been able to repro. Can you try [clearing your gradle cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache) and rebulding? Also, what device are you using to test?

I successfully built and deployed using:
[code]

[2020-02-26 19:02] jvishnuvardhan commented on #37054
@muhammetfaik `model` creation needs to be inside the `scope`. Please follow [the tutorial](https://www.tensorflow.org/guide/tpu) on `distribution strategy` and update your code. I have updated some parts but still some coding needs to be updated.
Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/b1b7e6f717f7b52fb1f86f829eee7c70/37054.ipynb). Thanks!

Please post su

[2020-02-26 19:04] jdduke commented on #37038
Also note that the GPU and base TFLite dependencies must have matching versions, i.e.,
[code]
or
[code]

[2020-02-26 19:15] jvishnuvardhan commented on #37078
@wookayin Agree. This is not part of `TF2.1`. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/6aa619234a38c34150e4b447d4037c66/untitled834.ipynb) is the gist for our reference. With `tf-nightly` it works as expected. But with the `TF2.1`, it throws the following error.

[code]

[2020-02-26 19:25] bixia1 commented on #36675
tfeher@ is going to work on it.

[2020-02-26 19:41] burgerkingeater opened #37100 "why is variable not partitioned by default in PS-based distributed training?"
Hello,
We found out when multiple PSes are used, there's always only one PS serving by default, and we need to explicitly set variable partitioning strategy(fix sized partitioner) to make use of every PS. Do we know why this is not the default behavior when PS is used?

[2020-02-26 19:58] gowthamkpr commented on #37066
Thanks for the report @johngrabner .

[2020-02-26 20:39] jsilter commented on #32672
I have a similar problem. I'm not using tf.tile, I have a custom layer which uses tf.concat, tf.map_fn, and tf.cast. The latest nightly (tf-nightly-2.2.0.dev20200226) seems to crash on my machine so I'm not able to test it fully.

The error message is the same (I found this issue by googling it).

[2020-02-26 20:39] Richard-Yang-Bose opened #37102 "MUL doesn't work on gpu delegate with error: Dimension can not be reduced to linear"
**System information**

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.6
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone XR, iPhone Xs
TensorFlow installed from (source or binary): installed from source.
TensorFlow version (

[2020-02-26 20:45] Uiuran commented on #37002
" I found a way, or perhaps a way to be tried. I will try it in the eager mode of tf 2.0. "

It worked in eager mode, i only plugged the old code and deleted all tf.functions that builds the comp graph and exec in non eager mode.

But the part:
" Autograph still cant build 2 graphs in the same scope, and then rewire them coherently (that is, bearing in mind that the output to be rewired to the nod

[2020-02-26 20:53] MeghnaNatraj opened #37103 "Add support for more keras.metrics.* to accept from_logits argument."
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux
- CUDA/cuDNN version: CUDA Version: 10.1
- GPU model and memory: GeForce GTX 1080

**Describe the current behavior**
Currently, in [keras.metrics](https://www.tensorflow.org/api_docs/python/tf/keras/metrics/), all the metrics for binary classification only accept values in the range [0, 1]. This is an is

[2020-02-26 20:53] jsimsa commented on #37029
@aaudiber could you please take a look?

[2020-02-26 21:09] milongo commented on #36936
@pandrey-fr what is the behavior if the model is called in a custom training loop? Such as the following:

[code]
You can see that I do not bother to pass the `training` flag anywhere.
Here, `mlp` is a custom class subclassed from `tf.keras.Model`, whose's `call` function is as follows:

[code]
You can see that I do not bother to pass the `training` flag anywhere.

(For clarity, `mlp` has two sets

[2020-02-26 21:29] jvishnuvardhan commented on #32737
Closing this issue as it was resolved already. Thanks!

[2020-02-26 21:29] #32737 closed

[2020-02-26 21:37] gowthamkpr commented on #37065
@NicMaq Slicing operation on gpu does not supported int16  and this is the reason why the operation is not created on GPU.

[2020-02-26 21:37] aniketbote opened #37104 "Using Precison metric in compile method raises shape mismatch error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Windows 10 Home
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No mobile device
- **TensorFlow installed from (source or binary)**: Installed using Pip com

[2020-02-26 21:46] NicMaq commented on #37065
Thank you for your reply.

Maybe, I would suggest modifying the documentation of tf.slice as it indicates: input: A tensor.

Thank you.

[2020-02-26 21:46] #37065 closed

[2020-02-26 21:48] uchua commented on #37068
@ravikyram outside of the model (which I don't believe the TensorFlow Hub team would have any control of), the issue doesn't involve TensorFlow Hub. Any model with multiple MetaGraphs (where `tf.saved_model.load` requires the `tags=` argument), won't be able to be load correctly.

[2020-02-26 22:03] yhliang2018 commented on #37066
Thanks! This is already updated in the [nightly version](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#predict).

[2020-02-26 22:03] #37066 closed

[2020-02-26 22:03] jvishnuvardhan commented on #33328
@ucasiggcas Based on @yhliang2018 suggestion, I updated one line in the code and the error is gone. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/30231da16b6ca9455e6cecf2737b4c31/untitled837.ipynb). I have used `TF1.15`. Thanks!

The line I change from `return tf.layers.dense(inputs,units=513,activation='relu')` to `return tf.keras.layers.Dense(units=513,activat

[2020-02-26 22:03] #33328 closed

[2020-02-26 22:12] gowthamkpr commented on #37049
@stefanondisponibile I am able to pass  tf.RaggedTensor as a tf.function input signature. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/69074ae99fbe5ca41513a4cb2416001b/untitled21.ipynb).

[2020-02-26 22:12] bulutmf commented on #37051
Anyway, I created my own in here: https://github.com/bulutmf/tf-jupyter-https-2.0.1

[2020-02-26 22:12] #37051 closed

[2020-02-26 22:15] gowthamkpr commented on #36810
I think you have to register this op as mentioned [here](https://stackoverflow.com/questions/51777535/gradient-registry-has-no-entry-for-a-tensorflow-custom-op) @Prasandhmcw

[2020-02-26 22:20] jvishnuvardhan commented on #32672
@jsilter Can you please create  new issue with a standalone code to reproduce the issue? Thanks!

[2020-02-26 22:21] MarkDaoust commented on #37078
Hi, This is an artifact of how the nightly diff are generated.

Like here:

https://www.tensorflow.org/api_docs/python/tf/math/?version=nightly#for_example

This page has no left-nav, because it's only generated in nightly.
We should make the whole thing green, or add a a sort of [NEW] banner so it's clear what the status is.

[2020-02-26 22:21] jaketae commented on #25609
Bumping this issue. I'm wondering how the type check in line 2370 of nn_ops.py plays into this. From what I see, a tuple is casted to a list.

https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/ops/nn_ops.py#L2208-L2276

[2020-02-26 22:23] pavanky commented on #36717
@preethivenkatesh please let me know if I can do anything to help

[2020-02-26 22:37] ymodak commented on #34734
This is fixed with tf-nightly version '2.2.0-dev20200218' .Thanks!

[2020-02-26 22:37] #34734 closed

[2020-02-26 22:42] jaketae commented on #20866
I'm wondering if this issue should be closed given that `tf.losses` is deprecated in TensorFlow 2.X, replaced instead by `tf.keras.losses` as pointed out [here](https://github.com/tensorflow/tensorflow/pull/21996#issuecomment-486023491).

[2020-02-26 22:49] gowthamkpr commented on #36801
@nbro As mentioned in the issue [here](https://stackoverflow.com/questions/53082708/typeerror-object-of-type-float32-is-not-json-serializable) converting the optimizer value to string will not result in any error. Heres the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/eef2fcd8bc3bda8c3eb46304a0404c42/untitled22.ipynb).

[2020-02-26 22:52] nbro commented on #36801
@gowthamkpr Yes, I had also tried that. However, I don't want to save a string, but a dictionary! If I do what you're suggesting, I will have a file whose contents have quotes.

[2020-02-26 22:52] jccastrom opened #37105 "Tensorflow 2.0 uncompatible with guinicorn"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code
- OS Platform and Distribution (e.g.,Linux Ubuntu 18.04):
- TensorFlow installed fr

[2020-02-26 23:18] pavithrasv commented on #35848
`RecallAtPrecision` has been added.

[2020-02-26 23:18] #35848 closed

[2020-02-26 23:23] rodrigoruiz commented on #33924
@houtoms `export` is not a recognized command in Windows, but I tried adding this:

To the beginning of my jupyter notebook cell.

[2020-02-26 23:23] gowthamkpr commented on #36750
@harshithdwivedi What version of tensorflow are you using?

[2020-02-26 23:25] houtoms commented on #33924
@rodrigoruiz Was any log file generated in `/tmp`?

[2020-02-26 23:26] allenlavoie commented on #36750
In 1.x we have import_graph_def: https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/graph_util/import_graph_def

That doesn't work with variables, since we don't put variable values in protobufs. (Although you could load the variables yourself.)

In 2.x I'd just keep the SavedModel on an in-memory filesystem and use the file-based APIs.

[2020-02-26 23:28] rodrigoruiz commented on #33924
Btw, if you'd like, we can setup a call to try figuring this out.

And excuse my ignorance (I'm terrible when it comes to that low level stuff and infrastructure), but where would that be?
Should I just type `/tmp` in explorer? Or `cd /tmp` on a terminal window?

[2020-02-26 23:30] vigliensoni commented on #19200
I am experiencing the same issue using Magenta 1.2.2 on TF 1.15.2: when using GPU, the loss doesn't decrease and the model doesn't learn. Running the same code on the same machine with CPU starts learning immediately. I have tried learning rates of different orders of magnitude and there is no difference.

This behavior was also reported [here](https://groups.google.com/a/tensorflow.org/forum/#!to

[2020-02-26 23:31] samikama commented on #34071
I believe this is intentional as can be seen in #28051.

[2020-02-26 23:32] alexdwu13 commented on #37067
@jvishnuvardhan I'd be happy to create a PR -- but I myself am not clear about the usage. I've tried munging YUV images to the input format expected by `tf.image.yuv_to_rgb` but have so far not been successful https://stackoverflow.com/questions/60067415/what-is-the-correct-usage-of-tf-image-yuv-to-rgb-output-is-distorted.
Would you be able to grab ahold of the original authors of this method?

[2020-02-26 23:33] houtoms commented on #33924
Basically, the first env variable is to tell the cuDNN to generate the call logs and the second env variable specify where the logs should go.

In your case, maybe you don't have access to `/tmp`. So please try a local one that you do have access to.

[2020-02-26 23:34] shuzhang1989 commented on #37100
I wonder why you are not trying out all-reducer architecture?

[2020-02-26 23:35] gowthamkpr commented on #36714
@eubergene Its not a bug in tensorflow serving. Its the way you are reshaping the data the data to serving is causing the problem. Please take a look at the example [here](https://colab.sandbox.google.com/gist/gowthamkpr/e5b8e6d489ecf6db1921ce35e2e88fc1/final_flowers_serving.ipynb) which should help you in resolving the issue.

If you have more questions please post them in stack overflow. Thanks!

[2020-02-26 23:35] #36714 closed

[2020-02-26 23:41] tangbyron commented on #35848
thank you!

[2020-02-26 23:46] arde171 opened #37108 "TF 2.0 MultiWorkerMirror strategy hangs for MNIST Keras model training"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Plat

[2020-02-26 23:47] jvishnuvardhan commented on #34390
@csachs Looks like this was resolved. I couldn't reproduce the issue. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/1f50643112231016fa21d70942febf93/untitled838.ipynb) is the gist.

I am closing this issue as it was resolved. Please feel free to open if I am mistaken. Thanks!

[2020-02-26 23:47] #34390 closed

[2020-02-26 23:50] gowthamkpr commented on #36710
Yes this looks like it is being related to dill. Thanks for reporting.

[2020-02-26 23:51] BaoshengHeTR commented on #19200
a guess is that this might not be the problem of tf but a glitch in CUDA.

[2020-02-26 23:58] ding-c3 commented on #32912
Running into the same issue. `fit_generator` is not an option for us due to need for DistributionStrategy.

[2020-02-27 00:13] lzmax888 commented on #31636
Yes, it is fixed in 2.1, while the issue still persists in 2.0.1.

And if I upgrade to 2.1, the model cannot predict since 'Error when checking model input'.

The issue can be reproduced by
https://colab.research.google.com/drive/1hMLd5-r82FrnFnBub-B-fVW78Px4KPX1

Anyone can fix it?

Thanks

[2020-02-27 00:14] kylechang523 commented on #35953
@vladdders
Hi I'm facing the same problem while converting the Attention-based OCR model into tflite, and have almost same unsupported op such as TensorArrayV3. How do you solve this?

Thank you so much for helping!

[2020-02-27 00:19] vigliensoni commented on #19200
I have tried the code with same results on Google Colab w/CUDA 10.0 and a P100 on a HPC cluster with CUDA 10.1.

@BaoshengHeTR do you have any suggestions?

[2020-02-27 00:38] angerson commented on #36841
Thanks for the report. I can see why this is confusing, although (unless I'm mistaken) there are no actual errors, just warnings. It would be nice to use `tensorflow-cpu` instead, since it would improve the image size slightly, but I'm afraid I don't have the time to work on the cleanup right now because it's not a breakage.

You're welcome to update our Dockerfiles, however, and I'd be happy to r

[2020-02-27 00:48] miladtoutounchian commented on #36998
I am not reporting that we get error, I am saying the model is not trained which means the accuracy performance is very low and is not getting better if do not use  @tf.function decorator. After 5 epoch, here is the model very poor performance:
Epoch: 5
Avg loss: 0
accuracy: 0.2763499915599823

Add tf.function decorator then the model is being trained.

[2020-02-27 00:49] qlzh727 commented on #33785
Ping @kiflowb777 for updates.

[2020-02-27 00:51] gms2009 opened #37109 "Build from source(python2.7 ubuntu 16.04) has error: AttributeError: attribute '__doc__' of 'type' objects is not writable"
**System information**
Linux Ubuntu 16.04):

- TensorFlow installed from (source or
binary): - TensorFlow version 1.13.2
- Python version: 2.7.12
- Bazel version 0.22.0
- GCC  5.4.0
- CUDA/cuDNN version: - 10.0/7.6.4
cuda-repo-ubuntu1604-10-0-local-10.0.130-410.48_1.0-1_amd64.deb
cuda-repo-ubuntu1604-10-0-local-nvjpeg-update-1_1.0-1_amd64.deb

libcudnn7_7.6.4.38-1+cuda10.0_amd64.deb
libcudnn7-dev_

[2020-02-27 00:56] mdev111 commented on #23780
For me making the second parameter of Embedding layer in LSTM worked.

[2020-02-27 01:02] tensorflowbutler commented on #27880
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-02-27 01:02] tensorflowbutler commented on #36548
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-02-27 01:02] tensorflowbutler commented on #36554
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-02-27 01:19] #36525 closed

[2020-02-27 01:22] #36554 closed

[2020-02-27 01:34] angerson commented on #35492
@settle thanks for reporting that; you saved me some time when investigating https://github.com/tensorflow/tensorflow/issues/36974. Since this current issue is resolved (containers are now available), I'll close it in favor of the other issue to track the CUDA problem. Thanks!

[2020-02-27 01:34] #35492 closed

[2020-02-27 01:36] angerson commented on #35733
These images were uploaded some time ago, so this issue can be closed. Thanks for your understanding! Our old Docker maintainer left and we're still hard-pressed to keep up-to-date.

[2020-02-27 01:36] #35733 closed

[2020-02-27 01:37] jdaaph commented on #29361
Could you provide a file name or commit hash that points to the issue and the fix? I'm experiencing the same issue and as porting tf version may be hard I'm wondering if it's easier to apply the same patch. Thank you!

[2020-02-27 01:56] brycearden commented on #33000
yes

[2020-02-27 02:12] Artaches opened #37110 "Tflite build error on Android."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18
- Mobile device (e.g. iPhon

[2020-02-27 02:29] tigert1998 opened #37111 "representative_data_gen input order?"
In tflite post integer quantization, `converter.representative_dataset` is necessary.

However, the documentation never specifies the order of the fed inputs. Are they ordered by lexicographic order of the names, size of shapes or even random order? When multiple inputs are present, it is totally a guessing game.

[2020-02-27 02:34] lzmax888 commented on #36116
I also have this issue when I call 'predict' of a model with multiple outputs.

Reproduction:
The following code works perfectly in **2.0**, while it gets the error 'ValueError: Error when checking model....' with tf **2.1**.
https://colab.research.google.com/drive/1hMLd5-r82FrnFnBub-B-fVW78Px4KPX1

Anyone can fix it?
Thanks.

[2020-02-27 02:34] 372046933 opened #37112 "Custom training loop, iteration over Dataset hangs under MultiWorkerMirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): TensorFlow 2.0.1 GPU official docker image
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): - TensorFlow version (use co

[2020-02-27 02:36] 372046933 commented on #36153
@Flamefire I have just opened an issue https://github.com/tensorflow/tensorflow/issues/37112 . Thanks for your help.

[2020-02-27 03:13] wookayin commented on #37078
Thanks -- I see. Yes, I agree that for the pages that should be only available in nightly more clear status needs to be displayed. (Please feel free to change the issue title to a more general one if you think appropriate)

What actually confused me is the header:

which sounds like it is a part of TF 2.1.0. FYI, I directly got to the page from google search results so wasn't aware of "See Stable"

[2020-02-27 04:37] RAHUL9545416 commented on #36884
window10 64.8gb ram  grapic card 2bg pyton3.8

[2020-02-27 04:37] yashk2810 commented on #37078
This should get fixed tomorrow. There will be a note at the top of the page saying that the API is only available in nightly.

[2020-02-27 05:00] Saduf2019 commented on #37105
@jccastrom
please share a simple stand alone code with all dependencies for us to replicate the issue faced.
Also please refer to this [link](https://stackoverflow.com/questions/58018009/attributeerror-gevent-local-local-object-has-no-attribute-value) for reference

[2020-02-27 05:04] ravikyram commented on #37112
@372046933

Request you to share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-27 05:09] ayushmankumar7 opened #37113 "AttributeError: module 'tensorboard.summary._tf.summary' has no attribute 'FileWriter'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-02-27 05:09] ravikyram commented on #36548
@veronicatorcolacci

Any update on this issue please. Thanks!

[2020-02-27 05:13] Arpan2798 commented on #33348
When I upgrade protobuf from version 3.6.0 to any higher versions, its showing
"ImportError: DLL load failed: The specified procedure could not be found". Earlier I was using 3.11 but that was giving me the above error but someone suggested to downgrade the version to 3.6. After downgrading its now showing this same attribute error.

[2020-02-27 05:22] ayushmankumar7 commented on #37113
@Saduf2019  Please check the changes i made.

[2020-02-27 05:33] rodrigoruiz commented on #33924
@houtoms
I tried:
[code]
And still no file.

[2020-02-27 05:36] Saduf2019 commented on #37098
@HadiSDev
please share the csv file and all dependencies for us to replicate your issue in our local.

[2020-02-27 05:37] ravikyram commented on #37079
@nsssss

I have tried on colab with TF version 2.1.0 Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/c18418d5ce9f3654157ae874ed63b0b5/untitled678.ipynb). Is this the expected behavior?Thanks!

[2020-02-27 05:48] Saduf2019 commented on #37113
@ayushmankumar7
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

Could you try "changing tf.summary.FileWriter() to tf.train.SummaryWriter()"
Also you may check #412 [link](https://github.com/eriklindernoren/PyTorch-YOLOv3/issues/327)

[2020-02-27 06:02] vihari1729 commented on #36890
@erksch I am using Kotlin code in android studio instead of java.I have given the labels.txt which has 22 labels in assets folder and. What i understood is i need to change the labels path both in speechInterpreter and MainActivity. But now the app is running and giving the same 10 labels font [page.](https://imgur.com/a/fNRcn9d), Though i trained with 22 labels.

PS : When i freeze the graph and

[2020-02-27 06:11] pranathibl opened #37116 "How to build Tflite-gpu to use GPU delegate, NNAPI delegate for devices like Hikey (AARCH64)"
I was trying to use label_image.cpp example in Tflite. I was unable to make use of delegate options in the example after setting gl_backend, useNNAPI , accel and old accel , hexagon etc.. delegate flags to true.

Is GPU delegate only restricted to Android and Ios devices ?

If not how to build TFlite with gpu on other devices like host pc for simulation, Hikey(AArch64) and Raspberry Pi(armv7,rpi)

[2020-02-27 06:12] alanchiao commented on #27880
An update since my last comment:

We did a launch review and one of the suggestions (to the benefit of most users) is to get people to dogfood the tool. This is currently in the process and we have a number of teams actively testing it. As developers, we will also be training on additional models ourselves (while expanding model coverage) to improve upon things.

Given this and the work I previous

[2020-02-27 06:14] houtoms commented on #33924
@rodrigoruiz , I am not familiar with colab, but I just played with it and I can get the log with, for example: https://colab.research.google.com/drive/1ERNMTEAboXG4EE2nx2L-8BTXgyOq_pHm

[2020-02-27 06:17] alanchiao commented on #27880
For expectations on what is available at launch, see what we have for [pruning](https://www.tensorflow.org/model_optimization/guide/pruning) on the API Compatibility Matrix as a reference point. Notably in contrast to pruning, we would only be supporting TF 2.X to start at launch and tf.distribute integration may not quite be there yet.

Post launch, we'd work on tf.distribute and increased model

[2020-02-27 06:20] ravikyram commented on #37068
I have tried on colab with TF version 1.15 , 2.2.0-dev20200226 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/bb6967034ebefb8752f33de0378484f0/untitled680.ipynb). Thanks!

[2020-02-27 06:34] Saduf2019 commented on #36864
@akanyaani
 please update on the above comment

[2020-02-27 06:35] ravikyram commented on #37086
@PRDrum5

Can you please share the simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-27 06:44] Saduf2019 commented on #36998
@miladtoutounchian
I believe the difference in performance accuracy is because, "@tf.function decorator."  will be compiled into a graph, which means you get the benefits of faster execution, running on GPU or TPU, or exporting to SavedModel.
This [link](https://www.tensorflow.org/guide/function) confirms the same.please le tme now if that answers your query.

[2020-02-27 06:46] luozhouyang commented on #36875
@fchollet @pavithrasv thanks, I will have a try.

[2020-02-27 06:46] #36875 closed

[2020-02-27 06:47] amahendrakar commented on #37093
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/983e36d410aa52fedaab9dc19135019c/37093.ipynb). Thanks!

[2020-02-27 06:48] ravikyram commented on #37109
@gms2009

Provide the exact sequence of commands / steps that you executed before running into the problem. Also, looks like Tensorflow not installed properly.please try with [tested build configurations](https://www.tensorflow.org/install/source#gpu) for installing tensorflow.Thanks!

[2020-02-27 06:50] rodrigoruiz commented on #33924
@houtoms I don't use colab either, I'm using jupyter notebook.
Using those two lines I was able to generate the log file.

[cudnn_api_log.txt](https://github.com/tensorflow/tensorflow/files/4259905/cudnn_api_log.txt)

[2020-02-27 06:53] thesrisri opened #37117 "module 'tensorflow.python.framework.op_def_registry' has no attribute 'register_op_list'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**
[code]

**Standalone code to reproduce the issue**

import argparse
import logging
import sys
import time
import os

from tf_pose import common
import cv2
import numpy

[2020-02-27 06:53] ayushmankumar7 commented on #37113
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/api/tests/module_test.py
This is the link to the code snippet to reproduce the issue.

[2020-02-27 06:53] ravikyram commented on #37104
@aniketbote

Can you please help us with the colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-02-27 06:55] ayushmankumar7 commented on #37113
@Saduf2019
Changing tf.summar.FileWrite() to tf.train.SummaryWriter() gives the following error:

Traceback (most recent call last):
  File "module_test.py", line 79, in testSummaryMerged
    tf.train.SummaryWriter()
AttributeError: module 'tensorflow_core._api.v2.train' has no attribute 'SummaryWriter'

[2020-02-27 06:56] luozhouyang opened #37118 "How to save model by training steps using tf.keras.callbacks.ModelCheckpoint"
My training data is very large, which means it have many training steps each epoch. I want to use `tf.keras.callbacks.ModelCheckpoint` to save a model every `100,000` steps, and save all these models in disk, not rewrite the model files when saving a new one. But I have no idea how to do this after i read the documentation. It seems that this callback is designed to save a model by epoch.

So, do

[2020-02-27 07:00] VoVAllen commented on #34071
@samikama I would say although it's intentional it's also necessary to mention it somewhere in docs, since this is super counter intuitive. I'm not sure that whether all the output of int32 will on the cpu, so I'm afraid I may not be able to help on the documentation.

[2020-02-27 07:11] howl-anderson opened #37119 "Feature Request: [Keras] Add _keras_history to tensor in Eager Mode"
For some losses such as CRF loss, it's computation does not only rely on `y_true` and `y_pred`, it must access the layer's internal variable.

 In such a situation, `_keras_history` will be greate helpful.  The loss function can use `_keras_history` of `y_pred` to get the layer instance then get the variables.

But in eager mode, the output tensor does not have `_keras_history`, which makes such l

[2020-02-27 07:35] luozhouyang commented on #37103
:up:

[2020-02-27 07:38] PANKAJ1802 commented on #22794
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\Pankaj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-28-ac88d38a0633>", line 1, in <module>
    flair_data, ot_data =load_dat

[2020-02-27 08:02] Flamefire commented on #37112
This is just a documentation issue. The doc currently states (https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras)

But this isn't mentioned in the docu of `MultiWorkerMirroredStrategy`.

Of course it would be better to not have that limitation

[2020-02-27 08:08] pandrey-fr commented on #36936
As far as I know, if you do not pass `training=True` explicitly, your model should run without dropout. This may not be prejudicial to training, but if you meant to make use of it it would probably be worth it to pass the flag within your custom training loop.

[2020-02-27 08:11] ravikyram commented on #37094
@FB43

Can you go through the[ link ](https://www.deciphertechnic.com/install-tensorflow-gpu-18-on-windows/)and see if it helps you.Also, see tested builded configuration from [here](https://www.tensorflow.org/install/source_windows#gpu).Thanks!

[2020-02-27 08:11] pandrey-fr commented on #36998
@Saduf2019 Decorating with `@tf.function` may indeed have benefits as to execution runtime, however it should not have any effect on the accuracy reached, unless there is either a tensorflow bug, or some error-inducing side effects within @miladtoutounchian's code.

[2020-02-27 08:20] amahendrakar commented on #37061
Was able to reproduce the issue with TF 2.2.0-dev20200226. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/a28410e3b9567b97835b01cbc9827c81/37061.ipynb). Thanks!

[2020-02-27 08:25] ravikyram commented on #37091
I have tried on colab with TF version 2.2.0-dev20200226 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d4f32851c12e3bb4329030a0dd0d297b/untitled681.ipynb). Thanks!

[2020-02-27 08:38] Saduf2019 commented on #37102
@Richard-Yang-Bose
please note i am unable to access the file shared by you, please share a simple stand alone code so i could replicate the issue faced by you in my local.

[2020-02-27 08:41] veronicatorcolacci commented on #36548
Not anymore... You can close it

Il gio 27 feb 2020, 02:02 Alfred Sorten Wolf <notifications@github.com> ha
scritto:

[2020-02-27 08:47] Saduf2019 commented on #37088
@mr-goldhands

[2020-02-27 08:47] Saduf2019 commented on #37088
@mr-goldhands

[2020-02-27 08:51] ravikyram commented on #37117
@thesrisri

Can you help us with the colab link or simple standalone code with proper indentation and supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version? Please fill the [issue template](https://github.com/tensorflow/te

[2020-02-27 08:54] Saduf2019 commented on #37088
@mr-goldhands
In order to expedite the trouble-shooting process, please provide a simple stand alone code with correct indentation and supporting documents to reproduce the issue reported here. Thanks!

Also please share the error logs of the issue faced.

[2020-02-27 08:56] #28028 closed

[2020-02-27 09:06] vihari1729 commented on #36500
i dont know ,but the new tflite model which u got will work in android studio

[2020-02-27 09:15] gangmuk opened #37122 "What is "FrameState" and "IterationState" for in tensorflow source code?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-02-27 09:19] PRDrum5 commented on #37086
Sure

Here I've made a simple model but not defined the input_signature for the tf.function for the `__call__` of the model. In doing so there is **no**  concrete functions at all. But the error message which is returned implies that there are multiple and that this is the issue.

My suggestion is that the error thrown should be clear that in this scinario the user has not defined any concrete fun

[2020-02-27 09:21] FB43 commented on #37094
@ravikyram thanks, but in the link, there is: "pip install --ignore-installed --upgrade tensorflow-gpupip install --ignore-installed --upgrade tensorflow-gpu". And, of course, it will install the last tensoflow version, not the 1.8 which seems not to be available on the repository. That's my problem! If I can find the 1.8 package (source or build), it will be fine but it seems to have disappeared!

[2020-02-27 09:21] erksch commented on #36890
Great that you have it running!
Yeah now you have to start coding and developing your app :D I have no app ready for you that has a frontpage that is dynamic to the labels. Just try to understand how everthing works and make more fields for the rest of your labels.

[2020-02-27 09:22] damnedOperator commented on #25133
Same Problem here for me. Ensured that data types in the target column are int64. Still getting an `tensorflow.python.framework.errors_impl.InternalError: Unsupported object type float
`

[2020-02-27 09:33] ravikyram commented on #36548
Closing the issue since its resolved. Thanks!

[2020-02-27 09:33] #36548 closed

[2020-02-27 09:36] Saduf2019 commented on #37092
@matthewp14
I do not find any gist, as mentioned by you.
Can you please try installing gast ( pip install gast==0.2.2), refer to [link](https://github.com/tensorflow/tensorflow/issues/32859) where the workaround is avaiable.
let us know if that helps.

[2020-02-27 09:39] stefanondisponibile commented on #37049
@gowthamkpr  yeah, you're right, but the problem is (if I'm not missing something here), that once exported and loaded into `Tensorflow Serving`, you won't be able to pass a `RaggedTensor` directly: you can see this also in your example by adding a cell doing this:

[code]

As you can see, the ragged input will be split into two different dense ones: `ragged` and `ragged_1`, respectively represent

[2020-02-27 09:41] vinorth05 commented on #33925
I feel like I tried everything for post training quantization and nothing worked..

So, can you explain me how you performed quantization aware training?

[2020-02-27 09:41] 372046933 commented on #37112
@Flamefire Sorry, my company forbid copy any data out. Only data in. Otherwise I have uploaded all the code.

[2020-02-27 09:51] damnedOperator opened #37123 "Unsupported object type float"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below): 2.1.0

[2020-02-27 10:03] harshithdwivedi commented on #36750
Hi @allenlavoie , that sounds like a good idea.
Can you point me towards any docs or code examples that let load the an in-memory model in 2.x?

Thanks again!

[2020-02-27 10:15] amahendrakar commented on #37099
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/df7024e8e3f3204c171a586a1c671dab/37099.ipynb). Thanks!

[2020-02-27 10:36] Syirrus commented on #32743
After spending many hours on and off thinking about this problem and combing the net, I finally solved this problem with this "Failed to load delegate from libedgetpu.so.1.0 error". Essentially, the cable that Google provided with my Coral USB TPU stinks.  I broke down and purchased a USB 3.1 (10Gbps) (NOT 5Gbps) cable and everything worked perfectly on the USB 3.0 port for the Raspberry Pi 4b (4G

[2020-02-27 10:50] durandg12 commented on #36827
Thank you @pavithrasv.

To give you more context about my request, this is my real use case: the main output of my model is the element-wise multiplication of two sub-outputs. To enforce more constraints on my model, I train it with one loss on each of the two sub-outputs. Nevertheless, to evaluate the quality of the model, I still need to compute metrics on the main output, without giving it a lo

[2020-02-27 10:53] amahendrakar commented on #37103
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/e1bc35457bf6ffc7c991d9a518a74a04/37103.ipynb). Thanks!

[2020-02-27 11:38] srinivas146 opened #37126 "Can i use embedding projector as a stand alone application in my personal/commercial applications ?"

[2020-02-27 11:45] damnedOperator commented on #37123
Had broken values in the dataframe. Checking the dataframe with `np.unique(df[column]` and `df[df.isnan()]` helped solving the issue.

[2020-02-27 11:45] #37123 closed

[2020-02-27 11:48] auwal84 commented on #34391
having same problem, any idea about the solution?

[2020-02-27 11:59] IanRDavies commented on #36034
I'm having a similar issue for some Reinforcement Learning code where the issue is more pronounced. If I set a seed and then train an agent which samples actions randomly at each time step the memory leak becomes very pronounced.

ystem information

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
    OS Platform and Distribution (e.g., Linux U

[2020-02-27 12:09] GateraGael commented on #29259
Instructions that I followed

Without CUDA: https://www.pugetsystems.com/labs/hpc/How-to-Install-TensorFlow-with-GPU-Support-on-Windows-10-Without-Installing-CUDA-UPDATED-1419/

With CUDA: https://towardsdatascience.com/installing-tensorflow-with-cuda-cudnn-and-gpu-support-on-windows-10-60693e46e781

Also useful for future reference: https://medium.com/@mainakdutta76/gpu-configuration-for-deep-lea

[2020-02-27 12:12] MokkeMeguru commented on #27141
This problem may cause with tensorflow's docker (2.1.0-gpu-py3) in the below host

- OS: 5.5.2-1-MANJARO
- Cuda: 10.1
- cuddn: 7.6.5

Tensorflow is affected by HOST OS?

[2020-02-27 12:16] MokkeMeguru opened #37127 "Tensorflow 2.1.0 failed to get convolution algorithm in docker"
ref. https://github.com/tensorflow/tensorflow/issues/27141#issuecomment-591939338

[2020-02-27 12:19] Saduf2019 commented on #37118
@luozhouyang
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-02-27 12:29] mr-goldhands commented on #37088
@Saduf2019
Hi!

**Before investigating this bug**, I recommend being familiar with the original [network_tester](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/network_tester) example from TensorFlow repository because of my test sample is based on it and utilize a similar approach.

All source code and logs I have attached in [network_tester.zip](https://githu

[2020-02-27 12:45] amahendrakar commented on #36895
@jashshah,
I am facing an error stating `NameError: name 'squeezenet' is not defined` while running the above code. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/72371de010687ddcac69328260f707e3/36895.ipynb).

Also, I see that you are using `.csv` and `.ckpt` files in your code. Cloud you please provide all the supporting files to run the code. Thanks!

[2020-02-27 12:59] Seliotna commented on #37085
I uninstalled CUDA 10.2 and installed CUDA 10.1 and the output is still the same.
But before tensorflow_self_check.py said that I  needed the file "cudart64_80.dll", and I solved this by downloading just this file and copying it in the right directory. Should I have installed CUDA 8.0 ?

[2020-02-27 13:02] Billy1900 opened #37128 "AttributeError: module 'tensorflow' has no attribute 'app' in tensorflow 2.1.0"
**System information**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below): V2.1.0
- Python version: 3.7.6
- CUDA/cuDNN version: 10.1/7.6
- GPU model and memory: GTX 1050, 8G

**Describe the current behavior**
I write `FLAGS = tf.compat.v1.flags.FLAGS` in my file, but there is still an

[2020-02-27 13:08] amahendrakar commented on #36853
@johan-andersson01,
Could you please provide the exact sequence of commands that you executed before running into this issue? Thanks!

[2020-02-27 14:18] gdudziuk commented on #33030
I have just run a test with TF 2.1.0 and some simple test model. I have generated some random synthetic data as Numpy arrays, then wrapped those data into generators, then wrapped those generators into tf.data.Datasets and then run a training with the use of Model.fit for 100 epochs. In the run of training, I have observed no significant increase in the memory usage associated with the test script

[2020-02-27 14:19] FB43 commented on #37094
@ravikyram hello, I'm going on but I'm stuck there, any idea to continue?
Thanks, François
PS C:\windows\system32\tensorflow> ./bazel build --config=v1 //tensorflow/tools/pip_package:build_pip_package
Extracting Bazel installation...
.............
WARNING: Config values are not defined in any .rc file: v1
ERROR: in target '//external:cc_toolchain': no such package '@local_config_cc//': Traceback (

[2020-02-27 14:29] gms2009 commented on #37109
tensorflow with python3(build from source in the same machine) has been installed.  that might be the problem?

[2020-02-27 15:08] acmilannesta opened #37130 "Half precision training very slow and returning nan loss"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**

- OS Platform and Distribution : Win10
- TensorFlow version (us

[2020-02-27 15:08] bioothod opened #37131 "TensorRT 6/7 converter crash with tf 2.1.0"
Test code and steps to reproduce: https://github.com/bioothod/trt_crash_efficientnet
Happens both with `nvcr.io/nvidia/tensorflow:20.02-tf2-py3` and `tensorflow/tensorflow:2.1.0-gpu-py3`.

Stack trace:
[code]

[2020-02-27 15:09] pandrey-fr commented on #36936
You are welcome; I am glad this was helpful. Regarding documentation, perhaps @gadagashwini could assign the arbitration to a tensorflower; otherwise, maybe you could submit a PR to the tensorflow-docs repository?

[2020-02-27 15:09] pandrey-fr commented on #36936
You are welcome; I am glad this was helpful. Regarding documentation, perhaps @gadagashwini could assign the arbitration to a tensorflower; otherwise, maybe you could submit a PR to the tensorflow-docs repository?

[2020-02-27 15:13] bioothod commented on #37131
Full trace when running `test.py`:
[code]

At this point python converter code crashes

[2020-02-27 15:25] mathemakitten opened #37132 ""Could not append to the internal temporary file" when writing checkpoints to GCP during TPU training"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-02-27 15:28] BaoshengHeTR commented on #19200
two possible suggestions is to tweak your shuffle before each epoch and try to change your batchsize, and change your weight initilization. One guess is: probably training a model from scratch could have some problem because some digit precision issue, but fine-tuning work should not be affected.

Please share your following attempts.

[2020-02-27 15:28] bioothod commented on #37131
When running under gdb, here is a null pointer dereference of `tensorflow::Node`:

[code]

[2020-02-27 15:32] BaoshengHeTR commented on #19200
two possible suggestions is to tweak your shuffle before each epoch and try to change your batchsize, and change your weight initilization. One guess is: probably training a model from scratch could have some problem because some digit precision issue, but fine-tuning work should not be affected.

Please share your following attempts.

[2020-02-27 15:38] milongo commented on #36936
Ahh I think you are correct. Passing the flag explicitly drastically affected training.
Thank you!
I could close this now, but what about the documentation issues I mentioned?

[2020-02-27 15:48] ParikhKadam opened #37133 "How to access intermediate tensors that are used during the application (tf.app) lifecycle"
Basically, I am running the evaluation script, provided by Tf's Object Detection API, using:

[code]

Now, this script outputs the bounding boxes on image along with prediction scores. But what I need is, the metrics calculated.

When I looked into the eval.py, I found that, it returns nothing. It run the evaluation, calculates the metrics but doesn't return it. So, I just changed the code to retu

[2020-02-27 15:55] prokotg commented on #36927
Fixed by #36804 . Thank you @srjoglekar246  !

[2020-02-27 15:55] #36927 closed

[2020-02-27 16:05] Richard-Yang-Bose commented on #37102
Thanks for the reply, here's the code for generating the dummy model, after the tflite dummy model is generated, I try to run it with the TFLite ios benchmark app, with the param: `"use_gpu" : "1",
    "gpu_wait_type" : "aggressive",`
[code]

[2020-02-27 16:06] xuexuanyu opened #37134 "list of operators for which you will need custom implementations: StatelessWhile, TensorListFromTensor, TensorListReserve, TensorListStack, While."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):16.04
- TensorFlow installed from (source or binary):pip3 install
- TensorFlow version (or github SHA if from source):2.1.0

I  want to convert an RNN model to tflite. The code I used is :
` converter = tf.lite.TFLiteConverter.from_saved_model(fd_path)
    converter.target_spec.supported_ops = [tf.lite.OpsSet.SELECT_T

[2020-02-27 16:15] stefan-falk commented on #21444
@yuefengz I am getting this error:

[code]

After running

[code]

Where `MyEvalhook` is just:

[code]

I am on Tensorflow 2.1.0

[2020-02-27 16:16] AlturRang opened #37135 "Save and load model neural network"
Hi,
I am a beginner in neural network, I follow a tutorial (https://www.datacamp.com/community/tutorials/cnn-tensorflow-python) for create it.
[tuto.py.tar.gz](https://github.com/tensorflow/tensorflow/files/4262620/tuto.py.tar.gz)
-> It is my soft.

I add some lines to save a model of my network. I have ".meta" file.
My problem is, how I can use this model on an other soft for predict if I have sh

[2020-02-27 16:18] AlturRang commented on #37135
Sorry, I forget something. I want to do load with low level tensorflow API.
Because with keras I know how to do that

[2020-02-27 16:29] tgaddair commented on #36398
Hey @reedwm @omalleyt12 just following up on this.  Is the new API ready to try out yet?

[2020-02-27 16:43] majidsh97 commented on #36141
@SirPhemmiey Ty yes if you print tf.sin(2.2) for example it shows you 0 but if you load a simple model it works fine :)

[2020-02-27 16:54] FB43 commented on #37094
@ravikyram VC++ seems OK. Now, it's Python and I Don't know why!!!
PYTHON_BIN_PATH is configured and the path variable too.
Thanks for your help.
PS C:\WINDOWS\system32\tensorflow> bazel build --config=v1 //tensorflow/tools/pip_package:build_pip_package
.
WARNING: Config values are not defined in any .rc file: v1
WARNING: C:/users/fbour/appdata/local/temp/_bazel_fbour/nseddbsr/external/protobuf_ar

[2020-02-27 17:10] rehanmahmood opened #37137 "NameError: name 'LSTM' is not defined"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  **MAC OS CATALINA**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): **I'm pretty sure it is binary**
- TensorFlow version: **2.1.0**
- Python version: **3.7.6**
- Installed using virtualenv? pip? conda?: **pip3**
- Ba

[2020-02-27 17:13] ziofil commented on #3348
I need to implement a function f: C --> C with a `tf.custom_gradient` decorator, so I'm trying to understand TensorFlow's behaviour with **non-holomorphic** functions.

The total differential of f is:

df = (J_z)dz + (J_z*)dz* (eq. 3.7 in the [technical report](https://mediatum.ub.tum.de/doc/631019/631019.pdf))

where J_z = partial f/partial z and J_z* = partial f/partial z*. How does this reduce

[2020-02-27 17:20] amitDaMan commented on #36763
The fix is given...

[2020-02-27 17:24] FB43 commented on #37094
@ravikyram I'm trying other thing in the link you sent me:
bazel build --config=opt --config=cuda --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package
Maybe that's better but it doesn't works too I've checked, the file cudnn.h is really there!
Thanks for your help,
François
PS C:\WINDOWS\system32\tensorflow> bazel build --config=opt --config=cuda --define=no_tensorf

[2020-02-27 17:26] karimnosseir commented on #35927
I was checking some other issue and i think it might be related. Reopening and checking.

[2020-02-27 17:34] allenlavoie commented on #36750
I think `/run/shm/` is in-memory on most Linux systems. This works on my machine:

[code]

But on any operating system you should be able to configure one somehow, and once you do that you can just feed the path to TensorFlow.

[2020-02-27 17:36] harshithdwivedi commented on #36750
This is great, thanks!
I'll try it out and let you know.
cc: @aayusharora

[2020-02-27 17:49] ayushmankumar7 commented on #37137
It should be from tensorflow.keras.layers import LSTM

[2020-02-27 17:51] deliahu commented on #36841
@angerson thanks for your response.

Since it it seems to me like it would make sense to not include the GPU dependencies (since there is a `-gpu` set of images and also since that was the behavior prior to v2.1), do you think it would make sense to update [this line](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dockerfiles/dockerfiles/cpu.Dockerfile#L55) to `ARG TF_PACKAG

[2020-02-27 17:51] ayushmankumar7 commented on #37137
After solving for LSTM, you'll  get the same error for Dense.
Do something, use  layers.LSTM and layers.Dense instead of LSTM and DENSE directly cuz you have already imported "layers"

[2020-02-27 17:56] shahansha-c opened #37138 "Analysis of target '//tensorflow/tools/pip_package:build_pip_package' failed; build aborted: no such package '@png_archive//': Traceback (most recent call last):"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- TensorFlow install

[2020-02-27 17:58] ayushmankumar7 commented on #37128
![Screenshot from 2020-02-27 23-25-58](https://user-images.githubusercontent.com/41910134/75471693-9365d380-59b8-11ea-8a1b-e90078a4ed5a.png)

I am using the same version.This Shouldn't happen.

Tensorflow didn't have any attribute 'app' ever, i guess.

[2020-02-27 18:01] srjoglekar246 commented on #37050
`AllocateTensors` is succeeding fine, as far as I can tell.

`kTfLiteOk`, the returned value from `interpreter->AllocateTensors();` has the enum value of 0, because of which `!allocationStatus` returns True.

[2020-02-27 18:01] #37050 closed

[2020-02-27 18:24] wangzhizhengduke opened #37139 "Conda install Tensorflow 2.1 with mkl (avx/avx2 support) not working"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-02-27 18:27] ymodak commented on #37052
@Kiranendra Can you please try with tf-nightly and use experimental flag for converter?
See https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter

[2020-02-27 18:31] MiLeG opened #37140 "Micro_speech example with a different microphone bitrate"
@tensorflow/micro

**System information**
- Windows 10
- TensorFlow installed from Arduino library
- 1.15.0-ALPHA precompiled
- ESP32, Arduino

Following the micro_speech example in the Arduino_TensorFlowLite library, I tried to modify the code so that it could run with my 32 bits per sample I2S microphone.
However, this proved to be a challenge since the audio_provider files require a certain num

[2020-02-27 18:32] jvishnuvardhan commented on #37111
@tigert1998 Are you interested in raising a PR to update the docs? Thanks!

[2020-02-27 18:33] rxsang commented on #34391
The original issue should have been resolved in TF2.1 and nightly. Now users don't need to manage the device scope themselves.

The issue @puneetjindal reported is actually because CTCLoss is not supported in TPU, but other than that, your job should have been initialized and run, it just encounters a compilation error.

@srinjay-paul, @EthanPhan, @auwal84, can you post more details on your error?

[2020-02-27 18:57] karmel commented on #35107
In general, if you want to maintain v1 behavior, it's best to use the v1 apis as well:
[code]
In this case, the behavior of the trainable arg of BatchNorm is slightly different in v1 versus v2, so it may be that the trainable arg or learning phase is not set correctly above. The docstring for BatchNorm details some of the differences further: https://www.tensorflow.org/api_docs/python/tf/keras/lay

[2020-02-27 18:58] aaudiber commented on #37029
From the stack traces, it looks like the program hangs while waiting for the Python generator function to complete. It isn't clear whether the Python function is hanging, or if it crashes but we fail to notify RunWithBorrowedArgs that it has finished.

#6  0x00007fff462e9cd4 in tensorflow::condition_variable::wait
#7  0x00007fff4114079c in tensorflow::data::InstantiatedCapturedFunction::RunWithBor

[2020-02-27 18:58] karmel commented on #30161
@georgesterpu -- a lot has changed since this issue was first posted. Is this still an issue in TF v2? Can you try with tf-nightly or the most recent release of tensorflow?

[2020-02-27 18:59] karmel commented on #34062
@jnd77 -- a lot has changed since this issue was first posted. Is this still an issue in TF v2? Can you try with tf-nightly or the most recent release of tensorflow?

[2020-02-27 19:10] matthewp14 commented on #37092
@Saduf2019 thank you that did help with the initial warnings but I am still having the following problem. In this [gist](https://gist.github.com/matthewp14/dd77eea3464d39d49c618f4398723ce5) I can train the first model fine. However, when I add the two lambda layers in the second model it breaks and I am not sure why. I intended for there to be no trainable weights in the lambda layers but I dont u

[2020-02-27 19:20] clickfrank commented on #15736
Had the same problem. None of the solutions above worked for me. Could not import tensorflow.keras.. or any variation of it, such as tensorflow.python.keras.  Frustrating.  Tested with Conda environment and python 3.7+ virtual env. Decided to pip install keras and import direct from that while tensorflow was conda install..ed. I am assuming that the conda install yields c based binaries for all la

[2020-02-27 19:29] houtoms commented on #33924
@rodrigoruiz Thanks. By the way, was this log for the failed training on your machine?

[2020-02-27 19:32] rodrigoruiz commented on #33924
Yes, but I'm not sure it contains the error information.

[2020-02-27 19:36] reedwm commented on #36398
Almost, sorry about the delay. Should be ready in a few days.

[2020-02-27 19:40] studywolf commented on #36781
i am also experiencing the same error and the linked solutions did not resolve the issue

[2020-02-27 19:50] dnjake commented on #15736
Are you using tensorflow 2?  I have not tried it.  But, the talks I have heard over the web indicated that changes to tensorflow 2 make it possible to reference all of the module variables and functions.  In tensorflow 1, the __init__.py files for packages have been extensively manipulated to limit references to those specified in the api.  It is possible to go into the source code and modify the

[2020-02-27 20:11] JCL823 opened #37141 "ValueError: No gradients provided for any variable in Tensorflow 2.0, WAE"
I am a tensorflow2.0 learner who is trying to reproduce the code of Wasserstein AutoEncoder or Adversarial AutoEncoder and do something interesting based on that on my own. My code below is based on[ timsainb/tensorflow2-generative-models](https://github.com/timsainb/tensorflow2-generative-models) with some of modifications.

[code]

However, I always get a ``No gradients provided'' error. Please

[2020-02-27 20:12] gromovadarya90 opened #37142 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:12] maxiwelian commented on #36255
Any word on how to deal with this? Seems like the intermediate vars are untracked is there an easy workaround?

[2020-02-27 20:14] harshad16 commented on #36909
hey i m trying to build the master in the same scenario, there is problem bazel 2.0.0 seems to have issue on centos6. i will let you lknow about the result soon.

[2020-02-27 20:28] aaudiber commented on #37029
@gadagashwini I haven't been able to reproduce the hang. Can you share your repro methodology?

[2020-02-27 20:41] nsssss commented on #37079
Thanks! The format looks right but the values are not expected. I guess the problem was on `sources= pModel.trainable_variables+gModel.trainable_variables`. I'm not sure if I can simply add ("+") two list of trainable variables in two models when calculate and apply gradients . Do you think it is correct?

[2020-02-27 20:47] Tylersuard opened #37143 "Can I use asymmetrical images as input?"
For instance, an image of 500x3000 pixels.

[2020-02-27 21:05] nsssss opened #37144 "WARNING:tensorflow:AutoGraph could not transform and will run it as-is. Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output."
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): Anaconda
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7.4

**Describe the current behavior**
I'm using anaconda tensorflow, Spyder. When run my custom layers, it shows warning as below:
[code]
**Describe the method I tried**
I h

[2020-02-27 21:13] robosmith commented on #24496
Did you insert:

[code]
at the top of your entry code?

[2020-02-27 21:20] qlzh727 commented on #33787
Note that tf.zeros and tf.keras.backend.zeros are different.

tf.zeros is expected to return a constant tensor, whereas tf.keras.backend.zeros is expected to return a **variable** that filled with zeros. The keras one is more like a shortcut to create variable with a zero initializer.

Closing this bug since the expectation of those two API are different.

[2020-02-27 21:27] reedwm commented on #37130
Can you provide a full example, which creates and runs the efficient net model? I'm not sure how to run efficient net

[2020-02-27 21:47] mihaimaruseac commented on #36522
This is so hard to read.

Please use ` ``` ` on a single line **before** and **after** your code blocks. Please make sure you use proper markdown format, so devs can understand what is happening and can fix the issue faster.

[2020-02-27 21:49] hgaiser commented on #33787
@qlzh727 I understand that `tensorflow.zeros` creates a constant tensor and `tf.keras.backend.zeros` creates a variable, but shouldn't they both be useable in a while loop?

Currently, `tf.keras.backend.zeros` **can't** be used in while loops, while if you created a `tf.variable` containing zeros you **can** use it in while loops. Surely that's a bug right?

[2020-02-27 22:13] yifeif commented on #36710
Thanks for reporting the issue @chrishmorris. Do you see the same issue with newer version of TF?

[2020-02-27 22:18] qlzh727 commented on #33787
Thanks for bring this up. I agree that forcing init_scope under the hood is not ideal, and its not clearly documented in the API docstring.

I think the issue that @rjpower trying to walkaround is for the optimizer, which use backend.zeros to create varibles. I think we should remove the init_scope in backend.zeros, and add init_scope explicitly to the optimizer.

[2020-02-27 22:31] NagabhushanSN95 commented on #35975
No. I'm asking for a feature request.
Is it possible to provide a flag or parameter to make ResNet model use the weights from original ResNet model?

[2020-02-27 22:35] fitrialif commented on #22794
please uninstall the latest Microsoft Visual C++ Redistributable for Visual Studio version if you install 2019 and before that

download  Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 depending on your system either x64 or x86 on this website

https://support.microsoft.com/en-my/help/2977003/the-latest-supported-visual-c-downloads

[2020-02-27 22:42] arde171 commented on #37108
network issue. It works for me now.

[2020-02-27 22:42] #37108 closed

[2020-02-27 22:56] omalleyt12 commented on #37119
@howl-anderson Thanks for the issue!

This isn't something we can support in eager mode. KerasHistory is only set on a Tensor during the Functional API construction phase.

For losses that require variables, you can use `add_loss` inside a custom `Layer`:

[code]

[2020-02-27 22:56] #37119 closed

[2020-02-27 23:18] jvishnuvardhan commented on #37099
@stev3 Looks like some op (ADD) at node #2 is of different dtype than what is accepted. Can you please check what is the dtype supplied at node #2? Thanks!

[2020-02-27 23:24] lgeiger commented on #36431
This was discussed in https://github.com/keras-team/governance/pull/16.

I made a PR #36773 to implement this a few weeks ago.
@tanzhenyu @ymodak it would be really cool to get a review on it.

[2020-02-27 23:31] terryheo commented on #37116
Currently GPU delegate only works on Android and iOS.
And NNAPI is only available on Android.
https://developer.android.com/ndk/guides/neuralnetworks

[2020-02-27 23:31] #37116 closed

[2020-02-27 23:33] acmilannesta commented on #37130
Sure, I made a colab file.
https://colab.research.google.com/drive/1tQbhe_gGhIFoMuHu-HqazHzlP0Z83kwj

[2020-02-27 23:48] qlzh727 commented on #33787
Checked with @fchollet offline for this issue. He think it is fine to create variables with zeros/ones under init scope, and we will keep this behavior. If you need non-variable zeros under while loop, you can use tf.zeros, otherwise, you can use tf.Variable(), but the initiali value of it need to be under init_scope as well.

[2020-02-27 23:48] #33787 closed

[2020-02-27 23:56] jdduke commented on #36879
@renjie-liu could you take a look?

[2020-02-27 23:58] rthadur commented on #36950
As mentioned in Note  [here](https://www.tensorflow.org/install/lang_java) : : There is no libtensorflow support for TensorFlow 2 yet. It is expected in a future release. tf2 is not supported yet

[2020-02-28 00:00] pavithrasv commented on #35349
Thank you for the request @OverLordGoldDragon. We do not plan to add this to the built in loops. You can implement this in a custom evaluate loop by keeping track of the batch prediction values.

[2020-02-28 00:00] #35349 closed

[2020-02-28 00:04] k-w-w commented on #34463
You should use `tf.keras.models.load_model` to use the Keras APIs (`predict`, `fit`, etc.) on the loaded model.

[2020-02-28 00:04] #34463 closed

[2020-02-28 00:06] gowthamkpr commented on #37122
Inorder to understand this, you have to understand few things:
**Pendingcounts**: PendingCounts is an internal helper class to keep track of pending and dead counts for nodes, for use in the ExecutorState module.

**Frames**:
Please go through this [paper](https://arxiv.org/pdf/1805.01772.pdf) the dynamic control flow thats being using in Tensorflow. Just to make sure you understand what a frame i

[2020-02-28 00:06] #37122 closed

[2020-02-28 00:14] qlzh727 commented on #33459
I think tf.keras.application is exporting the latest implementation of resnet50, while keras.application is exporting the old version of implementation. They are structured differently (eg the layer may appear in different order), but functionality wise, they are the same.

I think the root cause is for keras.application not exporting the latest version is in https://github.com/keras-team/keras-ap

[2020-02-28 00:21] qlzh727 commented on #36237
Please check https://github.com/keras-team/keras-applications/pull/173

[2020-02-28 00:23] fedyfausto opened #37147 "Error on ESP32"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution Windows 10):
- TensorFlow installed from (2.x on gogole collab):
- Tensorflow version (same as before):
- Target platform (ESP32):

Hello gentlemen, i'm trying to deploy a simple model (trained with kera tf 2.x on collab) and converted with this:
[code]

My idea is to pass as input three values (float) of RGB to recogniz

[2020-02-28 00:33] joshz123 commented on #29558
Is this issue still open? If so I would like to help, otherwise it should be closed

[2020-02-28 00:34] joshz123 commented on #32702
Is this issue still open?

[2020-02-28 00:44] jsimsa commented on #29558
@joshz123 I believe that this issue is fixed in TF 2.

[2020-02-28 00:44] #29558 closed

[2020-02-28 00:46] qlzh727 commented on #33148
@houtoms, I assume this should be fixed already with the latest CuDNN kernel?

[2020-02-28 00:53] fedyfausto commented on #37147
UPDATE i re-trained my model without using any optimization options and now seems that works but the output seem to be broken:

If i will print input->dims->size (and output) it will says that the dim is 2 (but in training i passed a tuple of 3 floats) same for the outpu (i need the three classes output rgb percentage right?)

[2020-02-28 00:55] karimnosseir commented on #37089
Hi,

Can you share more details about this SoC, which version it is using V65/66/something else ?
Do you know the soc id ? (you can run "adb shell cat /sys/devices/soc0/soc_id")

regarding the version, stay tuned on it's way :)
BTW, is there something you need that is specifically in the new version ?

Thanks

[2020-02-28 01:00] tensorflowbutler commented on #36370
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-02-28 01:10] Billy1900 commented on #37128
yeah, if I type the same command in my prompt, it shows me the same results.
<code>

'2.1.0'

<tensorflow.python.platform.flags._FlagValuesWrapper object at 0x000001CC872DFF48>
</code>

but it did occur when I compile my file,  all the information is as following:
<code>
I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
Traceback (

[2020-02-28 01:22] gowthamkpr commented on #37068
You can load the module as a Keras layer to use it. Heres the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/b20285706b9fb5152adf2050016268aa/untitled25.ipynb).

I was also able to lad the model using `tf.saved_model.load()` which has tags argument. Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/eaceca0db447e1ed7025d0bd07c68d8a/untitled26.ipynb).

`keras.mode

[2020-02-28 01:24] jvishnuvardhan commented on #36735
@ding-c3 As mentioned by @k-w-w This issue was fixed recently. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/7533cdc5cc01b747424f7397af8db775/36735.ipynb). Thanks!

As it was resolved, I am closing this issue. Please feel free to reopen if I am mistaken. Thanks!

[2020-02-28 01:24] #36735 closed

[2020-02-28 01:26] jvishnuvardhan commented on #36579
@maxima120 Any progress from your side? Thanks!

[2020-02-28 01:29] gowthamkpr commented on #37049
@stefanondisponibile This issue title and the initial description was misleading. Please create a new issue pointing to the issue that you are facinga and we can have a chat. Thanks!

[2020-02-28 01:29] #37049 closed

[2020-02-28 01:36] rehanmahmood opened #37149 "Structure type Errors in TensorFlow"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  **YES**
- OS

[2020-02-28 01:44] luozhouyang commented on #37118
ok

[2020-02-28 01:44] #37118 closed

[2020-02-28 01:47] calmisential commented on #36431
Thanks for your PR.

[2020-02-28 01:50] gowthamkpr commented on #36940
Now I get it, you are using Tensorflow 1.14 for this tutorial. Please use tensorflow 2.0 as this tutorial is supposed to run in Tensorflow 2.0.

To check your tensorflow version, please use
[code]
Closing this issue as it has been resolved.

[2020-02-28 01:50] #36940 closed

[2020-02-28 01:52] gms2009 commented on #37109
bazel version is 0.20.0
build configure is   cuda yes   tensorrt yes      all others default
error is around 19xxx
fresh install ubuntu 16.04.06
following is .bash_history unmodified, so has some trash

sudo apt update
sudo apt upgrade
sudo mount /dev/sda5 /mnt/
sudo dpkg -i /mnt/extra/cuda-repo-ubuntu1604-10-0-local-10.0.130-410.48_1.0-1_amd64.deb
sudo apt-key add /var/cuda-repo-10-0-local-10.0.1

[2020-02-28 01:56] gangmuk commented on #37122
Thank you for quick reply. I will go and take a look the paper you refer!

[2020-02-28 02:00] terryheo commented on #37110
Did you run lite/tools/make/download_dependencies.sh to download proper ABSL library?

[2020-02-28 02:01] renjie-liu commented on #36879
{'name': 'input', 'index': 0, 'shape': array([ 1, 28, 28], dtype=int32), 'shape_signature': array([-1, 28, 28], dtype=int32),

looks like it is because the recent change that we no longer hard code the batch size to be 1.

Hi Nupur, do you have any workaround for Keras model?

Thanks!

[2020-02-28 02:03] gowthamkpr commented on #36801
I have serialized the optimizer using `tf.keras.optimizers.serialize()`
Please find the gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/639b68e7b04130b81a98cb18fa4b0ece/untitled22.ipynb)

[2020-02-28 02:04] gms2009 commented on #37109
unable to open tested build configurations, hope you can put some info here, like version for cuda cudnn tensorrt tensorflow bazel, for python2 not 3

[2020-02-28 02:11] reedwm commented on #37130
On the line `out = keras.layers.BatchNormalization()(x)`, I'm getting the error "name 'x' is not defined". There are other undefined values as well, such as `BATCH_SIZE`.

[2020-02-28 02:12] tsgouros commented on #36940
Thank you, that does appear to be the problem. Fixed now.

[2020-02-28 02:13] huanyingjun commented on #37089
hello,
I am not sure the hexagon version of this SoC,  it is Hexagon 696 DSP Processor, I think it is V66.
and the SoC id is 400
[code]
you can find more info at https://www.qualcomm.com/media/documents/files/qualcomm-snapdragon-765-5g-mobile-platform-product-brief.pdf

about the libhexagon_nn_skel.so version question, I see that:
tensorflow/lite/experimental/delegates/hexagon/builders/concat_buil

[2020-02-28 02:20] #36462 closed

[2020-02-28 02:22] xuchengggg commented on #35927
Hey, I found that if i use map_fn in subclass of keras.layers.Layer which would print same error as above. As shown in code
`import tensorflow as tf
from tensorflow import keras
import numpy as np
import config

# tf.compat.v1.disable_eager_execution()

physical_devices = tf.config.experimental.list_physical_devices('GPU')
assert len(physical_devices) > 0, "Not enough GPU handware devices availabl

[2020-02-28 02:29] acmilannesta commented on #37130
Sorry, I just changed the code.

There are two data files needed "train.csv" and "train_origin2.zip".
All could be downloaded from https://drive.google.com/drive/folders/1abgTg2uuWBmo2TTvipqiXVhxkBuLmNwb?usp=sharing

[2020-02-28 02:37] zenglian commented on #34431
Use abseil instead: See https://abseil.io/docs/python/quickstart

[2020-02-28 02:44] karimnosseir commented on #37089
Thanks.
Will enable it - hopefully in the next couple of days will be available.

For the Requantize, no it is not related to the version. We still need the Requantize anyway.
Basically, we want to make sure that the data is quantized with the same scale as in the tflite output tensor of the concat op.
HTH

[2020-02-28 02:49] MeghnaNatraj commented on #34463
Thank you!

[2020-02-28 02:56] VCBE123 commented on #24306
version_info.cc

[code]

[2020-02-28 03:03] Jbiloki commented on #23269
@bstriner Are there any plans to expand the support of masked inputs or variable length sequences? Looking at your linked github, we can modify existing GRU code and build locally is this correct?

[2020-02-28 03:18] jnd77 commented on #34062
@karmel --  still here. Updated the [gist](https://colab.research.google.com/gist/jnd77/9a9a60621f9382b99e2dcb63eeae8af5/untitled0.ipynb) with TF 2.1.

[2020-02-28 03:21] pingsutw opened #37151 "Run distributed training mnist failed"
My dependencies
[code]
Here is my code
https://gist.github.com/pingsutw/bd4e1b1b2d4055d4e807abcdd2f0d6f4

I use both `ParameterServerStrategy` and `MultiWorkerMirroredStrategy` all failed.

I can successfully run this tutorial locally.
And I follow this [link](https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras) to run distributed training, but always fails.
Instead of run mult

[2020-02-28 03:36] Ryandry1st commented on #36136
Any chance we can get an update on this? It seems like a pretty fundamental problem for using TPUs, and support was introduced a while ago suggesting it should work in simple cases at the least. Just to know that some progress is being made, or someone is working on this, would be great.

[2020-02-28 03:37] CNOCycle commented on #35107
@karmel , thanks your reply.

After applying your suggestion, all things run correctly.

The following result is produced in docker image `tensorflow/tensorflow:2.1.0-gpu-py3`
[code]

[2020-02-28 03:55] mdanatg commented on #36462
I'm not sure if the PR fixed it, but we can check with the next nightly.

[2020-02-28 03:56] Kiranendra commented on #37052
@ymodak
Yes. I've tried them.
1. If I use ".from_keras_model()" then, I am getting the error (when using **.convert()** ):
_"NotImplementedError: numpy() is only available when eager execution is enabled."_

If I enabled the eager execution then I will get the error at line no. 273 (in model.compile method) in the notebook, stating that _" with eager execution enabled target_tensors is not...."_
I

[2020-02-28 04:30] jkpower opened #37152 "apply_transform not in preprocessing.image"
I have to run this code which import
`from tensorflow.python.keras.preprocessing.image import apply_transform`
 but I got issue **"ImportError: cannot import name 'apply_transform'"**
In this link https://stackoverflow.com/questions/51311062/cant-import-apply-transform-from-keras-preprocessing-image They told use apply_affine_tensorflow.

I want to scaling image with this code
[code]

From : https

[2020-02-28 04:38] sailordiary commented on #36136
Hi @Ryandry1st ,
Took a quick look at your code and this seems to be the same problem as Issue #36996 .
I changed your code to
`x = np.random.rand(10000, 5, 2).astype(np.float32)
y = np.random.rand(10000, 1).astype(np.float32)`
and everything works as expected:

Also there's a small typo, it should be `metrics=['mse']`.

Hope that helps!

[2020-02-28 04:48] Artaches commented on #37110
I've ran `./tensorflow/lite/tools/make/download_dependencies.sh` and it seemed to have completed downloading everything with no errors. However, after re-building the .so (using command `bazel build --cxxopt='-std=c++11' -c opt --config=android_arm64 //tensorflow/lite:libtensorflowlite.so`) I still get the same error when trying to build the Android project.

[2020-02-28 04:48] amahendrakar commented on #37137
@rehanmahmood,
Could you please add these two import statements in your code
[code]
Please take a look at [this](https://colab.sandbox.google.com/gist/amahendrakar/0b12b11b100e169afc1bfd1a61cdcb78/37137.ipynb) gist as a reference. Thanks!

[2020-02-28 04:56] rehanmahmood commented on #37137
Yessir thank you.  However I am returning a completely different error now.  Could you please see this issue.

https://github.com/tensorflow/tensorflow/issues/37149

[2020-02-28 05:01] Ryandry1st commented on #36136
Yes, it appears that issue is in reference to the same problem. It is interesting that the issue seems to be solvable by simply casting the data to float32.

Also trying to cast the data into other types causes it to break in different ways as well:
- float64 leads to the same socket closing error
- float16 produces a warning about missing an Identity for the OpKernel for TPU for DT_HALF, although

[2020-02-28 05:44] SivamPillai commented on #37149
It seems like your x_test is not of the size you expect it to be. Are you able to provide the following values:
`test_data.shape, x_test.shape, scaled_data.shape, training_data_len`

Note that `.shape` does not work on lists. So obtain the values after conversion to numpy.

[2020-02-28 05:48] SlowMonk opened #37153 "InvalidArgumentError: Size 1 must be non-negative, not -21"
https://www.kaggle.com/super13579/u-net-base-on-resnet34-transfer-learning-keras

[code]

[2020-02-28 06:02] Saduf2019 commented on #36370
@LeonTodoran
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-28 06:02] #36370 closed

[2020-02-28 06:04] ravikyram commented on #37112
@372046933

Will it be possible to share the sample data so i can test it on the Tesnsorflow tutorials to reproduce the issue.Thanks!

[2020-02-28 06:21] Saduf2019 commented on #37092
@matthewp14
Could you please confirm which tensor flow version should i replicate this issue.

[2020-02-28 06:22] ravikyram commented on #37109
@gms2009
![image](https://user-images.githubusercontent.com/51902062/75515712-bb891d00-5a20-11ea-857c-8c9941b9947a.png)

[2020-02-28 06:23] pranathibl opened #37154 "Issues in usage of hexagon delegate in raspi(armv7) and hikey(aarch64)."
I was running label_image.cpp tflite example. I was modifying some of the default parameters and trying to make use of them. I am also trying to make use of hexagon delegate API in raspi, Hikey boards.

I have few queries in the example.
1. In documentation, it is mentioned the Hexagon Delegate API works in Qualcomm specific processors such as snapdragon 660,835 etc.. If I have development board h

[2020-02-28 06:34] gadagashwini commented on #37053
I could replicate the issue on local system as a `.py`  with Tf 2.1. Thanks!

[2020-02-28 06:45] Saduf2019 commented on #36884
@RAHUL9545416
Could you please downgrade your python version and let us know of it helps, please refer to this [link](https://www.tensorflow.org/install/pip) as Tensorflow is only supported till python 3.7 as of now.
Also as request please share the steps before you faced an error and error logs for us to help you resolve the issue.

[2020-02-28 06:51] rehanmahmood commented on #37149
training_data_len = 50 . This also prints 311 sometimes
test_data.shape = (20, 1)
scaled_data.shape = (311, 1)
x_test.shape = (0,)

Sometimes the model tests with a sample of 30 and sometimes with a sample of 291

[2020-02-28 06:53] zkx741481546 commented on #25349
Have you finished KFAC yet? I cloned your KFAC.py and got an error
AttributeError: 'KfacOptimizer' object has no attribute '_update_stats_op'

[2020-02-28 07:08] SivamPillai commented on #37149
Here, what do you mean by **sometimes**?

When training_data_len = 311, test_data.shape will be (20,1). If this happens x_test will end up being empty (shape=(0,)), based on your code.

In that case, the error you have is expected.
[code]

**Now the issue is how you compute training_data_len.**

[2020-02-28 07:16] rehanmahmood commented on #37149
This is how I compute training data len:

Regarding the sometimes,  when I printed( training_data_len) the only modification i made to the code was to add `print(training_data_len)` When I ran the program the length was 291.
I went back to the code and added `print(scaled_data.shape)` the sample size was 30.

[code]

[2020-02-28 07:28] 372046933 commented on #37112
@ravikyram Sorry, can't either. In only, no out :(. The data is actually ImageNet in TFRecord format.  So I think you can build sample data with fixed size image.

[2020-02-28 07:42] SivamPillai commented on #37149
I think there is a problem with your for loop where you are trying to generate a sequence data of window size 20 for the test data. Assuming the training_data_len is 311, Can you run your code by updating, the range of for loop:

[code]
Otherwise, `len(test_data) = 20 `and the for loop will not happen.

[2020-02-28 07:43] TechnikEmpire commented on #31668
This is happening in TF 2.x when using hub to transfer learn. I can't clear these layers when freezing either so I can't take the model outside of TF to say Open CV DNN.

[2020-02-28 07:47] 372046933 commented on #36953
I changed the collective OP for `MultiWorkerMirroredStrategy` from `tf.distribute.experimental.CollectiveCommunication.AUTO` to `tf.distribute.experimental.CollectiveCommunication.NCCL`. The problem exists. Before hangs, there is a WARN log from NCCL.
[code]

[2020-02-28 07:49] jaingaurav commented on #33168
As per the commits referenced above, I believe this issue has already been fixed.

[2020-02-28 07:49] #33168 closed

[2020-02-28 07:49] 372046933 commented on #36953
This is different from https://github.com/tensorflow/tensorflow/issues/37112, which is caused by partial batch size.

[2020-02-28 07:54] rehanmahmood commented on #37149
Okay Thank you,  I ran the code with the update and this error returned.

[code]
Any ideas?

[2020-02-28 08:03] ravikyram commented on #37086
I have tried on colab with TF version 2.1.0,2.2.0-dev20200227  and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/39a05cacd98c1c561c6c2b94f986db69/untitled683.ipynb). Thanks!

[2020-02-28 08:04] gadagashwini commented on #37135
@AlturRang, Please find the [Tensorflow doc](https://www.tensorflow.org/api_docs/python/tf/saved_model/load) for loading the saved model. Use tf.saved_mdel.load() function as
`imported = tf.saved_model.load(path)` to load saved model .
Thanks!

[2020-02-28 08:09] ReneWu1117 commented on #35749
Thanks! It works for me!

[2020-02-28 08:19] jaketae commented on #37137
I think it would be a good idea to close this issue given that you have opened a new issue that is being discussed in a separate thread!

[2020-02-28 08:23] ravikyram commented on #37153
@SlowMonk

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Request you to share a colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Please, fill issue template (https://github.com/tensorflow/tensorflow/issues/new/choose). Thanks!

[2020-02-28 08:24] #37137 closed

[2020-02-28 08:26] gadagashwini commented on #37139
@wangzhizhengduke, Can you provide the standalone complete code to analyze the issue. Thanks!

[2020-02-28 08:31] llan-ml commented on #33168
Hi @jaingaurav It seems that this issue still exists. Please refer to this [notebook](https://colab.research.google.com/drive/1DiSO-TWlph6lHteWnPrOfoGytfCHs0IS).

[2020-02-28 08:45] gadagashwini commented on #37029
@aaudiber, I could replicate the issue with Tf-gpu 2.1 on colab.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/b74f86d43ac19829827b59b3a149f876/untitled410.ipynb). At the end session stopped by saying `Your session crashed after using all available RAM`. Thanks!

[2020-02-28 08:48] jaingaurav commented on #33168
@llan-ml: Please try testing with the nightly by running `!pip install tf-nightly-gpu` first. Most of the memory is gone (though I still saw 10 MB on my end).

[2020-02-28 08:51] NEGU93 commented on #3348
I wrote the equation of Tensorflow in [here](https://stackoverflow.com/questions/57108959/how-does-tf-gradients-manages-non-holomorphic-functions) but based again in @charmasaur findings (THANKS!).

Basically the equation for you function will be:

![tf-grad-def](https://chart.googleapis.com/chart?cht=tx&chl=%5Cnabla_z%20f%20%3D%20%5Cleft(%20%5Cfrac%7B%5Cpartial%20f%7D%7B%5Cpartial%20z%7D%20%2B%20

[2020-02-28 09:03] amahendrakar commented on #36522
@ucesfpa,
Please take a look at @mihaimaruseac's comment.

Also, there line `train(config, params)` in your code seems to raise an error. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/95f19dc1d8a54c1c843ec4301b7af1f0/36522.ipynb).

Could you please provide a minimal code sample to reproduce the error? You can also try [Google colab](https://colab.sandbox.goog

[2020-02-28 09:04] SivamPillai commented on #37149
As the error reports... your test data is of size 20, so it cannot be reshaped to size 1. I believe, you should be using the reshape as in the original code you shared:

`
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))`

[2020-02-28 09:05] #36851 closed

[2020-02-28 09:06] abhinabasaha opened #37156 "Tensorflow 2 installation problem in windows 10"
(base) C:\Windows\system32>pip install tensorflow
Collecting tensorflow
  Using cached tensorflow-2.1.0-cp37-cp37m-win_amd64.whl (355.8 MB)
Requirement already satisfied: absl-py>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow) (0.8.1)
Requirement already satisfied: tensorflow-estimator<2.2.0,>=2.1.0rc0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow) (2.1.0)
R

[2020-02-28 09:06] hgaiser commented on #33787
I respectfully disagree with you @qlzh727 . What is the motivation for @fchollet to say it is fine? I can't think of any reason for a function as basic as a `zeros` or `ones` to not work in a different scope (like a loop). Specially since it used to work before https://github.com/tensorflow/tensorflow/commit/1d91f3532ee4df36749dda1a39b8a2a78232dd74 .

I don't know what the motivation is for `zeros

[2020-02-28 09:07] ravikyram commented on #37144
@nsssss

I have tried in colab with TF 2.1.0 and i am not seeing any issue. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/5acb8f3e34b93bd1a7d237e2f1d64fe9/untitled685.ipynb).I have made few assumptions in code while executing. If you feel there is an issue please do update in attached colab and help me to reproduce the issue. It helps me in localizing the issue faste

[2020-02-28 09:10] amahendrakar commented on #37156
@abhinabasaha,

Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment on a similar issue and let us know if it works? Thanks!

[2020-02-28 09:14] anferico opened #37157 "Problem with Himax HM01B0 camera on the Sparkfun Edge board"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Cloned from source, but not installed
- TensorFlow version (commit SHA if source): 642708d2121976c8dbc0e8d0ae73fcf1cf027bd8
- Target platform: Sparkfun Edge

I'm trying to run an image classification model on a Sparkfun Edge, starting from the [person_de

[2020-02-28 09:14] soyers opened #37158 "Saving and loading nested models fails"
**EDIT:** I adjusted the bug description the bug appears in a different place than I thought before.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- Tens

[2020-02-28 09:23] gadagashwini commented on #37128
@Billy1900, Please take a look at similar issue [#34431(comment)](https://github.com/tensorflow/tensorflow/issues/34431#issuecomment-555836995) help you to resolve this issue. Thanks!

[2020-02-28 09:24] Saduf2019 commented on #37085
@Seliotna
PLease set the CUDA %PATH% environmental variable as guided in this [link](https://www.tensorflow.org/install/gpu#windows_setup)

[2020-02-28 09:29] abhinabasaha commented on #37156
@amahendrakar thanks for your suggestion, and I have gone through those points earlier, but I have the MSVC 2019 redistributable installed, and my CPU/Python is on 64 bits, but I am not sure about "Your CPU does not support AVX2 instructions", and "There is a library that is in a different location/not installed on your system that cannot be loaded."

previuosly I tried to install tensorflow and k

[2020-02-28 09:31] rehanmahmood opened #37159 "Plotting Data Using model.predict"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **YES**
- OS P

[2020-02-28 09:34] rehanmahmood commented on #37149
Yes Thank you sir, that fixed the error, however it did present me with a new error.

https://github.com/tensorflow/tensorflow/issues/37159

[2020-02-28 09:34] #37149 closed

[2020-02-28 09:38] Danliran commented on #18457
is there any progress about using BLAS on Tensorflow? @ruthmd

[2020-02-28 09:49] sowo opened #37160 "Thread leakage in TF2.1"
**System information**
Red Hat Enterprise Linux Server release 7.7 (Maipo)

- TensorFlow in docker container (nvcr.io/nvidia/tensorflow:20.01-tf2-py3 and tensorflow/tensorflow:2.1.0-gpu-py3-jupyter): - TensorFlow version: 2.1.0

- Python version: 3.6.9

- CUDA/cuDNN version: - GPU model and memory: CUDA 10.2, libcudnn.so.7, DGX-1 server with 8xTesla V100-SXM2 (32GB)

**Describe the current behavio

[2020-02-28 10:07] TCBocean commented on #37043
I added my custom BN layer to MobileNetV3 and trained with ImageNet. I found that my custom BN layer did not seem to affect the convergence performance of the model.
However, the original bug has not been resolved, so I do not intend to close this issue.

[2020-02-28 10:07] Seliotna commented on #37085
Thanks, but still no difference...

[2020-02-28 10:18] ziofil commented on #3348
I also work with neural networks with a real loss function, but I also have components in the middle that have complex inputs and complex outputs.

The definition that you wrote, which apparently TF is using, matches (I think) the following:
<img width="802" alt="Capture d’écran 2020-02-28 à 11 15 47" src="https://user-images.githubusercontent.com/8944955/75540094-afe72780-5a1b-11ea-8925-4b85bcf

[2020-02-28 10:27] matthewp14 commented on #37092
@Saduf2019 i am using Tensorflow 2.0.0 installed using conda

[2020-02-28 10:28] amahendrakar commented on #37159
@rehanmahmood,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-28 10:36] ravikyram commented on #37141
I have tried on colab with TF version 2.1.0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1b66029ea4fa213685d03bbd323878eb/untitled689.ipynb). Thanks!

[2020-02-28 10:41] amahendrakar commented on #37152
@jkpower,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-02-28 10:41] shahansha-c commented on #37138
there is no reply :(

[2020-02-28 10:42] charmasaur commented on #3348
@ziofil at first glance that custom grad looks reasonable to me, at least in terms of the conjugates and derivatives being taken. Could you give an example of where it doesn't work?

[2020-02-28 10:53] tigert1998 commented on #37111
No, since I don't know either.

[2020-02-28 10:58] Saduf2019 commented on #37092
@matthewp14
I ran the code shared by you and face a different error, please refer to this [link](https://colab.sandbox.google.com/gist/Saduf2019/2e75f9009b71f100a5e48179c590f813/37092.ipynb) for the same.

[2020-02-28 10:59] ravikyram commented on #37138
Just to verify did you follow the instuctions from [Tensorflow website](https://www.tensorflow.org/install/gpu#windows_setup) and followed the [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu)..Make sure you update environment path for cuda. Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-02-28 11:01] AthenaChara commented on #25789
Hello, Tensorflow 1.14 worked for me! wouldn't suggest to use release canditate (rc) version.

[2020-02-28 11:09] shahansha-c commented on #37138
followed the instruction from [Build from source on Windows](https://www.tensorflow.org/install/source_windows)

[2020-02-28 11:11] oluwayetty commented on #24828
This problem is still an issue for me. I have to strictly work with TF2.0 to make it work, none of the solution works with tf1.14 or tf1.15 which I need to use because my professor doesn't want us using tf1 for any of her assignment.

[2020-02-28 11:13] shahansha-c commented on #37138
i am trying to build the tensorflow from source to just convert my custom trained object detection ssd model to to tensorflow lite. is there any way to do that without building tensorflow from source?
i have already installed tensorflow by pip

[2020-02-28 11:13] FloP93 commented on #35705
Thanks for the hint, i will try that as soon as i have time to work on that project again!

[2020-02-28 11:14] dodiak commented on #36135
Great, thanks a lot. I can confirm that with:
tf-nightly             2.2.0.dev20200218
tf-nightly-gpu         2.2.0.dev20200227
the simple example works. Give me a few more days please to test with a full version.

[2020-02-28 11:14] jkpower commented on #37152
tensorflow version 1.15

Complete Code
[code]

[2020-02-28 11:14] ravikyram commented on #37134
@xuexuanyu

Can you try with the below code and see if it helps you. If you still face the issue please share simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster.Thanks!
[code]

[2020-02-28 11:20] amahendrakar commented on #37133
@ParikhKadam,
Looks like this issue is related to tensorflow/models repo. This is a duplicate of an earlier issue you have mentioned [#8209](https://github.com/tensorflow/models/issues/8209).
Can we track that issue and close this one. It will help us to follow easily. Please let us know. Thanks!

[2020-02-28 11:21] Saduf2019 commented on #37085
@Seliotna
Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/18503#issuecomment-485803790) and let us know if it helps.

[2020-02-28 11:25] cjtang commented on #33397
Hi @wuhy08

After adding Leaky_Relu into operator property, I can generate the INT8 model which include Leaky_Relu . But the int8 implementation of Leaky_Relu is still missing, right? When I called invoked() tflite model, it will return fail. Did you meet the same problem?

Error detail:
ValueError: Didn't find op for builtin opcode 'LEAKY_RELU' version '2'
Registration failed.

Thanks
Chunjue

[2020-02-28 11:27] gadagashwini commented on #37008
@yuanlida, You may try converting your model using Select TensorFlow Ops
Please take a look at similar [#35605(comment)](https://github.com/tensorflow/tensorflow/issues/35605#issuecomment-571737987) issue comment. Thanks!

[2020-02-28 11:28] ravikyram commented on #37127
@MokkeMeguru
Provide the exact sequence of commands / steps that you executed before running into the problem.Thanks!

[2020-02-28 11:31] gadagashwini commented on #36816
@Ljl-Jdsk, Did you get a chance to look at the above given link. Thanks!

[2020-02-28 11:33] gadagashwini commented on #36703
@acvander, Any update on reproducible code snippet. Thanks

[2020-02-28 11:37] ravikyram commented on #37160
@sowo

Will it be possible to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-02-28 11:40] ziofil commented on #3348
Not without copypasting a ton of code+math... which makes me suspect that the way I'm computing `J_z` and `J_zc` might be buggy.
At least, as you endorse the custom grad, I can concentrate on tracking down the bug in the math or in its implementation. Thank you both! (I'll get back here if I find out the custom grad was wrong)

[2020-02-28 11:43] bilalsoomro opened #37161 "Latest GPUDelegate from 'org.tensorflow:tensorflow-lite-gpu:0.0.0-nightly' crashes"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: All devices
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below):  'org.tenso

[2020-02-28 11:45] matthewp14 commented on #37092
@Saduf2019 thats because you are not importing those modules. If you look at the gist that I linked in the previous comment, everything except for "binary_test.py" is a module and should be loaded as such. The only file to be executed is binary_test

[2020-02-28 11:46] ravikyram commented on #35933
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-28 11:46] #35933 closed

[2020-02-28 11:53] ravikyram commented on #36346
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-28 11:53] #36346 closed

[2020-02-28 11:56] ravikyram commented on #36819
@castilho25

Any update on this issue please. Thanks!

[2020-02-28 11:56] eboily commented on #36787
I confirm @SivamPillai 's  solution above. Replace the "`_`" with a "`.`".
[code]

[2020-02-28 12:03] DavidInWuhanChina opened #37162 "using tensorflow-hub model elmo ensorflow.python.framework.errors_impl.ResourceExhaustedError"
Python 3.6.10
tensorflow 1.12.0 gpu_py36he68c306_0
tensorflow-base 1.12.0 gpu_py36h8e0ae2d_0
tensorflow-gpu 1.12.0 h0d30ee6_0
tensorflow-hub 0.5.0 pypi_0 pypi cudatoolkit 9.0 h13b8566_0
cudnn 7.6.5  cuda9.0_0

NVIDIA-SMI 418.87.01 Driver Version: 418.87.01 CUDA Version: 10.1
0 Tesla V100-SXM2... Off | 00000000:18:00.0 Off | 0 | | N/A 37C P0 43W / 300W | 11MiB / 32480MiB | 0% Default | +-----------

[2020-02-28 12:09] amahendrakar commented on #37143
@Tylersuard,
If you are pre-processing the images to resize all of them to fixed size then yes, you can use asymmetrical images as inputs while training.

For more information, you can check [this](https://www.tensorflow.org/tutorials/load_data/images#load_using_tfdata) example from Tensorflow, which uses images of different sizes for training.

[2020-02-28 12:13] Saduf2019 commented on #36787
As the solution above helps, moving this issue to closed status.

[2020-02-28 12:13] #36787 closed

[2020-02-28 12:30] castilho25 commented on #36819
The problem was resolved.

I imported Sequence from
``from tensorflow_core.python.keras.utils.data_utils import Sequence`

and the Sequence class should be imported from
''from tensorflow.keras.utils import Sequence'

[2020-02-28 12:30] #36819 closed

[2020-02-28 12:35] wu-yy commented on #21518
when you install the [Keras-Preprocessing ](https://pypi.org/project/Keras-Preprocessing), This error is not resolved, you can check if you have multi versions of python. and it not been installed in your compile python version.

[2020-02-28 12:47] georgeparry12 commented on #36864
I have the same issue, in that TensorFlow recognises my GPU, but does not utilise it when I run scripts. I have been stuck on this for days, any help would be greatly appreciated.

[2020-02-28 12:48] PirateSama commented on #31567
I solved the problem.  The windows package is complete. You have just to specify the path in the include like this
#include<tensorflow/c/c_api.h>
And do not include the complete path in your project properties just stop your path in the include folder.
Like this : $(SolutionDir)/tensorflow/include/

[2020-02-28 12:53] rehanmahmood commented on #37159
Yess for sure here it is:
[code]

[2020-02-28 12:58] georgeparry12 commented on #36776
I have a similar issue. Tensorflow can see my GPU however when I run scrips it does not use it? I have been stuck on this for days, any help would be massively appreciated.

[2020-02-28 13:10] georgeparry12 opened #37164 "TensorFlow 2.1.0 Not utilising GPU even though it can see it."
TensorFlow does not utilise the GPU despite being able to see it. When I run a script, task manager does not show any activity on the GPU...

**Recently I have tried:**

Updated NVIDIA driver.

Uninstalled Tensorflow, python 3.7, cuDNN, CUDA, Visual Studio.

Installed Visual Studio.

Installed CUDA 10.1 [cuda_10.1.243_426.00_win10].

Installed cuDNN (and moved the .dll, .h, .lib files) [cudnn-10.1

[2020-02-28 13:30] Seliotna commented on #37085
The fact is that on this computer I cannot use the conda file because whatever I try to install with itn the output is
![07](https://user-images.githubusercontent.com/61496017/75552578-e0888a80-5a36-11ea-970b-e1c7fbbad2a9.png)

[2020-02-28 13:31] Seliotna commented on #37085
And it's the same with pip.py from Anaconda Scripts

[2020-02-28 13:37] sailorbj commented on #27303
Hi @antonyharfield , to save Yamnet as tflite, did you mean to use rdft to replace stft and abs? Can you share that part of code?

[2020-02-28 13:42] Saduf2019 commented on #37085
@Seliotna
In that case please refer to this [link](https://github.com/conda/conda/issues/6064#issuecomment-463219171)

[2020-02-28 13:44] xuexuanyu commented on #37134
HI！@ravikyram
thank you for your reply！

I have try the code you provide , but I stll got error info:
`Skipping registering GPU devices...
2020-02-28 20:06:40.803980: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1102] Device interconnect StreamExecutor with strength 1 edge matrix:
2020-02-28 20:06:40.803994: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1108]      0
2020-02-28 20:06:40.

[2020-02-28 13:52] AlturRang commented on #37135
@gadagashwini, Thanks for your quick answer. I try to use the function that you say. But I have a problem with:
path ='/home/cassip01/tuto_tensorflow/fashion_mnist'
loaded = tf.saved_model.load(path, None)
When I execute the soft I have this error:
Traceback (most recent call last):
  File "load.py", line 9, in <module>
    loaded = tf.saved_model.load(path, None)
  File "/home/cassip01/.local/lib

[2020-02-28 14:04] SebastienKeroack opened #37167 "[TF 2.1] BUG: set_seed with categorical in a conditional branch in graph mode."
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):  From source and

[2020-02-28 14:07] jl0x61 commented on #35376
Hello, I have met the similary problem, the error message is :
[code]
And I download and install cudnn with version 7.6.4:
[code]
And I replaced `/usr/local/cuda/lib64/cudnn.h` with the installed `/usr/include/x86_64-linux-gnu/cudnn_v7.h` and set $LD_LIBRARY_PATH to `/usr/local/cuda/lib64/` but the error message didn't change.
Did I do something wrong?

[2020-02-28 14:47] Seliotna commented on #37085
The link to the patch doesn't seem to be available anymore. And with the database of the second link, I downloaded the file conda-4.8.2-py38_0.tar.bz2, and now it puts me
![08](https://user-images.githubusercontent.com/61496017/75558096-8ccf6e80-5a41-11ea-80e8-f02b8d9cbda4.png)
and I tried 4 or 5 times it changes nothing

[2020-02-28 14:52] FB43 commented on #37094
@ravikyram hello, I think the 1.8 tensorflow-gpu is correctly buid and installed with Python 2.7.
as you can see:
Name: tensorflow-gpu
Version: 1.8.0
Summary: TensorFlow helps the tensors flow
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: opensource@google.com
License: Apache 2.0
Location: c:\python27\lib\site-packages
Requires: astor, tensorboard, numpy, termcolor, six,

[2020-02-28 15:18] ParikhKadam commented on #37133
@amahendrakar  Maybe you should close that issue then. Because, I think this as a flaw in tf.app rather than of models repo. `tf.app` doesn't provide a way to access tensors directly (maybe).

[2020-02-28 15:43] xam-ps commented on #24828
@oluwayetty
Did you try to call
[code]
?
This was working for me for TF 2.0

[2020-02-28 15:52] mathemakitten commented on #33969
Hi, are there any updates on this? Seeing this issue on `tf-nightly==2.2.0.dev20200119` also using model checkpoints saved via `checkpoint.save`. Checking `optimizer.iterations` after reinstantiation, it is always reset to be 0.

[2020-02-28 15:56] vijayphoenix opened #37168 "`encode_png` function should be exported from `tf.io` module"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/image/encode_png

## Description of the issue (what needs changing):

Currently, all Image decoding and encoding functions are a part of the `tf.io` module but `encode_png` function is still a part of the `tf.image` module.

## Changes required

Change `tf.image.encode_png`  to `tf.io.encode_png`

### Submit a pull request?
I

[2020-02-28 16:05] Marietto2008 commented on #24828
@xam-ps  : excusme,I'm a newbie. I'm trying to do like you suggest,but for me it does not work. Where should I write the commands that u suggest ? I did that after having enabled tensorflow (that I have upgraded to 2.1),but this is what happened :

(tensorflow) λ config = tf.compat.v1.ConfigProto()
"config" is not recognized as an interal or external command.

[2020-02-28 16:16] sowo commented on #37160
@ravikyram: I cannot share the data publicly. Is there any way how I can share the colab link without posting it here?

[2020-02-28 16:18] ccrusius commented on #34071
A fix went in for this and other problems with `tf.constant` in 97cdd4d16a81a349696f10451b7d564bfa99664f, which will make it create CPU tensors irrespective of device settings. This fixes other bugs, including one often requested one for "always placing string tensors on the CPU." The documentation was updated to be explicit about this.

There were a few solution alternatives, but the "always CPU

[2020-02-28 16:28] mathemakitten commented on #37132
The stack trace leads back here, a temp file on the TPU host, which does seem to suggest that we are exhausting storage on the host.

https://github.com/tensorflow/tensorflow/blob/e2e13ee6901301082b9e8e91c687c4ba930dd5de/tensorflow/core/platform/cloud/gcs_file_system.cc#L491

[2020-02-28 16:32] Hessam70 commented on #25524
hi
AttributeError: 'TensorBoard' object has no attribute '_log_write_dir'
How to fix it??

[2020-02-28 16:39] smatzek commented on #37029
@aaudiber The stack after the memory region dump mentions FusedBatchNorm.

[code]

[2020-02-28 16:43] stev3 commented on #37099
This may be the issue:

[code]

Is it possible to edit the graph and cast the type to numpy.int32?

[2020-02-28 16:45] aimanjavid opened #37169 "tensorflow has no attribute "assign_add""
i am using tensorflow-GPU 2.0.0 version . I caught a error that tensorflow has no attribute "assign_add". could anyone please help me please

[2020-02-28 16:59] Artistic18 commented on #37168
I want to work on this. Can you please guide me?

[2020-02-28 17:00] georgesterpu commented on #30161
@karmel thanks for the follow up.
Yes, this feature is not yet supported in tf-nightly, and I guess it is still an issue for anyone using the batch normalisation op on zero-padded sequences.

[2020-02-28 17:03] tgaddair commented on #33168
Hey @jaingaurav, thanks for the fix!  To clarify, this feature will be available in TensorFlow 2.2?

Also, to disable GPU usage is, as suggested:

[code]

Is that right?

[2020-02-28 17:10] aniketbote commented on #37104
[https://colab.research.google.com/drive/1zBAVrau6tmShvA7yo75XgV9DmblDi4GP](url)

This is the colaboratory link that can recreate the error.

[2020-02-28 17:10] bzhong2 opened #37170 "Why tensorflow creates gru/while in graph?"
I am trying to compute the flop of a GRU model for one step. I understand all results but not the gru/while. Why TensorFlow need to create gru/while in the graph doubling the computations? I also asked this question in StackOverflow (https://stackoverflow.com/questions/60453735/what-tensorflow-keras-will-create-gru-while-in-graph) but have not got any answer yet.

[2020-02-28 17:11] Gabriv93 commented on #36141
So there's no way to find the wheels file of tensorflow >1.14 for arm6l? I have a RaspberryPI 2, I have the same problem of asking me libhdfs when I try to import tensor flow 1.14 and I don't know what to do...

[2020-02-28 17:26] nsssss commented on #37144
Thanks. there's no problem with colab. But there's always a warning when using spyder in anaconda tensorflow. It seems there's no influence on the results, but I'm not sure if it will influence the speed.

[2020-02-28 17:46] mohlondon opened #37172 "module 'tensorflow._api.v1.nn' has no attribute 'seq2seq'"
when i execute this command
python tensorflow/models/rnn/translate/translate.py

i get

Preparing WMT data in /home/baba055h_s/
2020-02-28 17:45:29.997997: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-02-28 17:45:30.002826: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequenc

[2020-02-28 17:46] mihaimaruseac commented on #36141
rpi builds are community driven effort at the moment, so unfortunately this means that someone from the community has to build and release the pips.

[2020-02-28 17:53] omalleyt12 commented on #34732
@hoangcuong2011 Thanks for the issue!

Tested this and it is fixed in the latest tf-nightly

```pip install -U tf-nightly```

[2020-02-28 17:53] #34732 closed

[2020-02-28 17:57] StanleyGan commented on #17397
I have the same error when trying to calculate tf.gradients() using tf.scan(). Is this problem solved in TF1.15?

[2020-02-28 17:58] omalleyt12 commented on #36829
@hgaiser Thanks for the issue!

This is fixed in the latest tf-nightly: `pip install -U tf-nightly`

[2020-02-28 17:58] #36829 closed

[2020-02-28 18:08] omalleyt12 commented on #35823
@pj1989 the issue is with these lines:

[code]

it should be:

[code]

[2020-02-28 18:08] #35823 closed

[2020-02-28 18:13] #37047 closed

[2020-02-28 18:17] VoVAllen commented on #34071
That makes more sense if the gpu copy is cached. I discovered this problem when debugging with tf code's performance. Let's say if I had an op `gather_row(index, tensor)` and `index` is tf.int32. And it executes on gpu and requires both index and tensor on gpu. So the index here would be copied only once for multiple execution, right?

[2020-02-28 18:19] VoVAllen commented on #34071
So all tensors created with `tf.constant` are now on host memory irrelevant to the device context now? No matter what its type is?

[2020-02-28 18:25] omalleyt12 commented on #29161
@mwin76 Thanks for the issue!

This looks like it is fixed in the latest tf-nightly, please give it a try: `pip install -U tf-nightly`

[2020-02-28 18:25] #29161 closed

[2020-02-28 18:32] omalleyt12 commented on #32058
@bionicles Thanks for the issue!

Yes, this is supported, the issue is indeed the `tf.function` wrapping the Layer.call. You can remove this, as `Model.fit` runs inside a `tf.function` anyway, and for custom training loops it's more performant to wrap your whole training step or training loop in a `tf.function`

We're in the process of updating documentation, this is one "gotcha" we should documen

[2020-02-28 18:32] #32058 closed

[2020-02-28 18:39] omalleyt12 commented on #32328
@kristofgiber Thanks for the issue!

We've been working on enabling this very use case. In the latest `tf-nightly`, you can do things like this:

[code]

This allow users to provide custom training logic in only a few lines of code, while still supporting all data formats, distribution strategies, Callbacks, etc that Model.fit supports

We'll have detailed guides on how to use these new features s

[2020-02-28 18:39] #32328 closed

[2020-02-28 18:40] jaingaurav commented on #34071
@VoVAllen: You are absolutely correct about the caching and as part of this placement policy we have added the functionality such that the GPU copy is indeed cached.

[2020-02-28 18:44] SirPhemmiey commented on #36141
@Gabriv93 after it shows the error, what else did it say? I don't know about RPi 2 but it works fine in higher models (RPi 3 and 4) even after showing this error message.

[2020-02-28 18:47] omalleyt12 commented on #33503
@trendelkampschroer Thanks for the issue!

This is fixed in the latest tf-nightly: `pip install tf-nightly`

[2020-02-28 18:47] #33503 closed

[2020-02-28 18:48] omalleyt12 commented on #33550
@mmilosav Thanks for the issue!

This has been fixed in the latest tf-nightly: `pip install -U tf-nightly`

[2020-02-28 18:48] #33550 closed

[2020-02-28 18:50] jaingaurav commented on #33168
@tgaddair: Yes that is correct, we'll be cutting 2.2 in the next few days. And yes again, the tf.config API is the the way to go. Note that as of 2.1 the API is no longer experimental so you should be able to do:
[code]

[2020-02-28 18:51] omalleyt12 commented on #32772
@stefanpantic Thanks for the issue!

This is fixed in the latest tf-nightly: `pip install -U tf-nightly`

[2020-02-28 18:51] #32772 closed

[2020-02-28 18:55] tgaddair commented on #33168
Thanks for clarifying @jaingaurav, that sounds good.

[2020-02-28 18:56] jaingaurav commented on #34071
Closing the issue since I believe this issue is now resolved. However, please feel free to continue discussion or ask questions.

[2020-02-28 18:56] #34071 closed

[2020-02-28 18:59] omalleyt12 commented on #30951
@Binpord Thanks for the issue!

There seem to be some errors with how the Model was constructed, this worked for me though:

[code]

Closing as I think the issue was in the model construction

[2020-02-28 18:59] #30951 closed

[2020-02-28 19:05] omalleyt12 commented on #33095
@Nephalen Thanks for the issue!

This looks fixed in the latest tf-nightly (w/ eager execution enabled). This code works for me:

[code]

[2020-02-28 19:05] #33095 closed

[2020-02-28 19:06] mainouraldeen opened #37173 "Null pointer to a converted model using Tensorflow Lite in Android Studio. "Byte buffer is not a valid flatbuffer model." Exception"
i made a model containing layers of type: Conv3D, MaxPool3D, Flatten, Dense and Batch normalization and converted it to tflite model as follows..

[code]

The problem is when i load this converted model in Android Studio it always gives me illegal argument exception saying  **"Byte buffer is not a valid flatbuffer model"** & a null pointer to it

i also, specified this dependency in my build.gradl

[2020-02-28 19:09] omalleyt12 commented on #33770
@ZxMYS Future work in data handling is happening in `tf.data` and `tf.io`

You can decode a gif using this method: https://www.tensorflow.org/api_docs/python/tf/io/decode_gif

[2020-02-28 19:09] #33770 closed

[2020-02-28 19:14] mdanatg commented on #36462
I checked the repro colab with the new tf-nightly, and it appears that the fix worked.

[2020-02-28 19:19] omalleyt12 commented on #33143
@racinmat Thanks for the issue!

This is fixed in the latest tf-nightly: `pip install -U tf-nightly`

[2020-02-28 19:19] #33143 closed

[2020-02-28 19:27] omalleyt12 commented on #33245
Thanks for the issue all! This is now fixed in the latest tf-nightlym you can use any arbitrary nested structure of data with subclassed Models.

Code below works (note I had to add a call to `dataset.batch`, this is needed to create batches of data when using `from_tensor_slices`):

[code]

[2020-02-28 19:27] #33245 closed

[2020-02-28 19:36] ymodak commented on #35190
This is fixed latest tf-nightly version '2.2.0-dev20200228' . Thanks!

[2020-02-28 19:36] #35190 closed

[2020-02-28 19:36] omalleyt12 commented on #34199
Thanks for the issue! Support for arbitrary nested structures (including dicts) is available in the latest tf-nightly: `pip install -U tf-nightly`.

I think there are some issues in the code provided regarding the loss used (I don't think the Model is outputting the shape of data that SparseCategoricalAccuracy expects), but confirmed that prediction is working as expected.

Also see this bug: http

[2020-02-28 19:36] #34199 closed

[2020-02-28 19:38] omalleyt12 commented on #34619
@andmax Thanks for the issue! This is fixed in the latest nightly, unfortunately we can't backport changes like this to older version.

Please try it out with `pip install -U tf-nightly`

[2020-02-28 19:38] #34619 closed

[2020-02-28 19:41] omalleyt12 commented on #34521
@7Z0nE Thanks for the issue!

Placeholders are removed in TF2, instead you can write the code like this:

[code]

Unfortunately we are not able to backport fixes like this to earlier version.

Please try with the latest tf-nightly `pip install -U tf-nightly`

[2020-02-28 19:41] #34521 closed

[2020-02-28 19:56] eugeneswalker commented on #35115
@sanjoy

I've been able to build TensorFlow 2.1 for both x86_64 and ppc64le using CUDA 10.1 and CuDNN 7 inside my own development Docker images. The problem is only when I try to include TensorRT. I've tried both TensorRT 6 and 7 and either way, TF 2.1 fails to build on BOTH x86_64 AND ppc64le, even in the presence of all the requisite libraries. Having the ability to build TF for ppc64le is a pri

[2020-02-28 20:23] omalleyt12 commented on #33913
@RomanSteinberg Thanks for the issue!

This is fixed in the latest nightly: `pip install -U tf-nightly`

[2020-02-28 20:23] #33913 closed

[2020-02-28 20:27] omalleyt12 commented on #36668
@kurka Thanks for the issue!

This is fixed in the latest tf-nightly: `pip install -U tf-nightly`

Unfortunately we are not able to backport fixes like this to earlier versions

[2020-02-28 20:27] #36668 closed

[2020-02-28 20:27] TristanTTran commented on #22794
Hi fitrialif,
I did install that Micrsoft Visual C++. But the same error persists. After installing that, is there anything else I should do (moving files around,etc?)

[2020-02-28 20:36] omalleyt12 commented on #36126
Thanks for the issue! This is fixed in the latest tf-nightly. Unfortunately, we can't backport fixes of this nature to earlier versions

[2020-02-28 20:36] #36126 closed

[2020-02-28 21:17] #37027 closed

[2020-02-28 21:17] wuhy08 commented on #37027
Thank you!

[2020-02-28 21:20] aaudiber commented on #37029
@gadagashwini That's the behavior I get as well. In this case crashing after using all available RAM is the expected behavior, the issue is about hanging instead of crashing.

I spent some time trying to reproduce on my local GPU with both tf-nightly and tensorflow-2.1-gpu, but I've never been able to get a hang - the process always exits with an OOM error.

If the reported stack traces are to be

[2020-02-28 21:20] wuhy08 commented on #33397
Hi @cjtang

There was a PR about Leaky_RELU_INT8 a while ago (https://github.com/tensorflow/tensorflow/pull/27061). I believe that part of code was never touched since nobody successfully quantized a Leaky_RELU op. Let me investigate a little.

[2020-02-28 21:28] gowthamkpr commented on #37141
@JCL823 I think tients are performed outside the tape context and this is the reason why the gradients are not available.
For more information, please take a look at this [issue](https://stackoverflow.com/questions/58947679/no-gradients-provided-for-any-variable-in-tensorflow2-0)

[2020-02-28 21:32] smatzek commented on #37029
I gutted the random_image_generator and it does **NOT** hang for me.

Code:
[code]

[2020-02-28 21:35] aaudiber commented on #37029
One idea is to add print statements to `random_image_generator` to see whether the function hangs.

[2020-02-28 21:36] gowthamkpr commented on #37126
Yes you can use embedding projector as a standalone application.
Please refer to the following [link](https://github.com/tensorflow/embedding-projector-standalone).

I am closing this issue, if you have any more questions please post them on stackoverflow as there is a wider community to respond. Thanks!

[2020-02-28 21:36] #37126 closed

[2020-02-28 21:48] vigliensoni commented on #19200
Hi @BaoshengHeTR,

I tried your suggestions:

- the tensors are shuffled when loaded for training.
- I tried different batch sizes and the learning wasn't affected, the loss remained constant.
- Since training w/CPU actually decreases the loss, I used CPU training-based checkpoints as starting point to GPU training. The loss started at the same point left by the CPU, but then, instead of diminish,

[2020-02-28 21:49] #34722 closed

[2020-02-28 21:52] sixChar commented on #37169
Try tf.compat.v1.assign_add

[2020-02-28 21:55] wookayin commented on #37078
I see this is now fixed. Thank you for the support!

![image](https://user-images.githubusercontent.com/1009873/75590304-e760ce80-5a31-11ea-8f33-b16930ffff81.png)

[2020-02-28 21:57] yashk2810 commented on #37078
The space between `in` and `tf-nightly` should get fixed by tomorrow.

[2020-02-28 21:57] #37078 closed

[2020-02-28 22:05] gowthamkpr commented on #36680
Please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/35100) and let me know if it helps. Thanks!

[2020-02-28 22:09] JCL823 commented on #37141
@gowthamkpr Oh! Thank you so much!!! You provided me a huge hint!!!
I just simply remove the negative sign for `latent_loss` to be:
`        self.disc_gradients = disc_gradients = disc_tape.gradient( latent_loss, self.disc.trainable_variables )
  `
then it works!!

[2020-02-28 22:10] #37141 closed

[2020-02-28 22:15] BaoshengHeTR commented on #19200
Very strange. Is that possible to share your repo so we can repeat your test? I am working on some Bert projects, and haven't done much test, but will give my updates.

[2020-02-28 22:29] qlzh727 commented on #33459
Checked with @fchollet offline for this issue. I think the keras-team/keras-application was exporting the old model. The PR should fix the issue, but since the keras-application is not going to make any new release, I would suggest you to use the version in tf.keras.application, which should be latest and correct.

Btw, the keras-team/keras-application is still correct, it is just structured diffe

[2020-02-28 22:29] #33459 closed

[2020-02-28 22:32] qlzh727 commented on #36237
See https://github.com/tensorflow/tensorflow/issues/33459#issuecomment-592758846.

In short, keras-team/keras-application was exporting an old version of implementation, and TF is exporting a new version. Both of them should behave correctly, but the implementation detail is little bit different. You should rely on tf.keras.applications for the latest implementation.

[2020-02-28 23:43] jalilasadi commented on #33148
@qlzh727 I still get the same error with CuDNN 7.6.5. did you mean this version of CuDNN? because it is the last version of it.  this is my code

` def BGRU_BGRU(self,metrics_file_path):
        self.metrics_file_path = metrics_file_path
        # tf.compat.v1.disable_eager_execution()

        model=tf.keras.Sequential()
        # embeding_layer=layers.Embedding(self.vocab_size,self.word_vector_d

[2020-02-28 23:48] wuhy08 commented on #33397
It looks the error comes from this line:

https://github.com/tensorflow/tensorflow/blob/3a8c575c4efe57560f36670ddc028f6fc889060a/tensorflow/lite/core/api/op_resolver.cc#L41

Will continue to investigate.

[2020-02-28 23:59] SlowMonk opened #37177 "NotImplementedError: Cannot convert a symbolic Tensor (up_sampling2d_5_target_2:0) to a numpy array."
[code]

[2020-02-29 00:01] Jamesswiz opened #37178 ".prefetch() and .cache() not speeding up tf.data.Dataset pipeline"
I have a very big dataset so I am training over small chunks using keras.fit.
For loading chunks in memory I have a generator function which generates a tuple of tensors of variable size which I pass to tf.data.Dataset to create a data pipeline.

[code]

My training with keras fit works fine but I see no speed up using .cache() or .prefetch()
Can anyone help me understand if I am using them correc

[2020-02-29 01:12] damro commented on #13460
Any update on this? I would also extend the feature request to support unsorted_segment_argmax, segment_argmax, unsorted_segment_argmin, and segment_argmin.

[2020-02-29 01:28] eugeneswalker commented on #35770
I opened a more generic issue for this https://github.com/tensorflow/tensorflow/issues/37076
@barisdemiray @EricSites @jggithub2017

[2020-02-29 01:29] eugeneswalker commented on #35115
Since the author closed this issue, but since it is not resolved in my case, I have opened a standalone issue for this. https://github.com/tensorflow/tensorflow/issues/37076

[2020-02-29 02:13] jpatts opened #37179 "Wrong "name" parameter default for Nadam optimizer"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Nadam

## Description of issue (what needs changing):
Optional name attribute is said to default as "Adamax" rather than "Nadam"

### Clear description

name: Optional name for the operations created when applying gradients. Defaults to "Adamax".

### Correct links

https://github.com/tensorflow/tensorflow/blo

[2020-02-29 02:35] ManasRMohanty commented on #36776
@georgeparry12 I realized that pytorch, cuda and tensorflow all need to be compatible with each other for the above to work.

Install pytorch using this - conda install pytorch torchvision cudatoolkit=10.1 -c pytorch, If your cuda toolkit is 10.1. Try restarting the system once and check.

[2020-02-29 02:52] mrinalsardar commented on #35932
The  `pyspellchecker` library is not installed in Colab/Kaggle `docker` image.

You just have to do a `python -m pip install pyspellchecker` and that's it.

[2020-02-29 02:56] DuaneNielsen commented on #35968
2 hours into troubleshooting this error.  What the hell is TensorRT and why do we even need it?  Seems like more trouble than it's worth to me.

[2020-02-29 03:22] alanpurple commented on #35977
I've reinstalled whole anaconda environment, but still same error.

simple 'import numpy' with python works fine, but emit error only with tensorflow build

[2020-02-29 03:41] DuaneNielsen commented on #35968
Ok, figured mine out.  Here's an outline of what i did.  I was running multiple TF versions, so I wanted to go the manual route.  I've had bad experiences with NVIDIA and Ubuntu nixing each others packages.

Checked https://www.tensorflow.org/install/source#tested_build_configurations for the versions required.

Downloaded local version of CUDA 10.1 from NVIDIA and ran the installer.  Carefully na

[2020-02-29 03:55] alanpurple commented on #35977
solved.

uninstall conda numpy and install numpy with pip fixed this issue

tensorflow build has some problem with conda environment recently ( branch 2.1 was fine )

[2020-02-29 03:59] whatdhack opened #37180 "tf.keras.callbacks.TensorBoard type profiling support for straight Tensorflow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.15
- Are you willing to contribute it (Yes/No):
No sure.

[2020-02-29 05:13] amahendrakar commented on #36438
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-29 05:13] #36438 closed

[2020-02-29 05:15] amahendrakar commented on #36566
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-29 05:15] #36566 closed

[2020-02-29 05:17] amahendrakar commented on #36656
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-29 05:17] #36656 closed

[2020-02-29 06:18] amahendrakar commented on #36844
Any updates regarding this issue? Thanks!

[2020-02-29 06:26] mangalbhaskar commented on #26769
I faced the same issue and it disappeared after upgrading from TF-gpu from `1.13.1` to `1.14.0`: `pip install -U tensorflow-gpu==1.14.0` as mentioned by @LucienZhang here in this issues [issues/1264](https://github.com/matterport/Mask_RCNN/issues/1264#issuecomment-568875440)

[2020-02-29 07:03] amahendrakar commented on #36867
@konradqweleg,
Could you please send a link of the project or share the notebook of your python code? Thanks!

[2020-02-29 07:15] amahendrakar commented on #36877
@akanyaani,
Any updates regarding the reproducible code? Also, could you please check @plooney's comment and check if it works. Thanks!

[2020-02-29 08:02] nnnnwang opened #37181 "tf2.0 when use large input dims in tf.keras.layers.Embedding layer under eager mode, it turns to be very slow"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
exampl

[2020-02-29 09:45] amahendrakar commented on #36937
@sjurajpuchky,
I was unable to reproduce the issue due to the missing .hdf5 file. You can take a look at the gist [here](https://colab.sandbox.google.com/gist/amahendrakar/0fe49e16e5bbd1de283b7cd98cb9cf3c/36937.ipynb). Could you please provide all the supporting files needed to run your code.

Also, please add ``` before and after your code to preserve the indentation of the code. Thanks!

[2020-02-29 09:48] amahendrakar commented on #36975
@aeddung,
Any updates regarding this issue? Thanks!

[2020-02-29 09:51] amahendrakar commented on #36999
No worries @davisyoshida, happy to help.

Closing this issue as it resolved.

[2020-02-29 09:51] #36999 closed

[2020-02-29 09:55] paolopiano1997 commented on #26696
Same error

[2020-02-29 10:13] konradqweleg commented on #36867
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/speech_commands

[2020-02-29 10:26] kimchicanh opened #37182 "Could not find any TF GPUs when I use trt_convert"
I use:
OS: 16.04
cuda: 10.2
cudnn: 7
python:3.6
tensorflow-gpu:2.1
GPU: Titan V - 12GB
I convert model tensorflow to tensorRT:
`from tensorflow.python.compiler.tensorrt import trt_convert as trt`
`input_saved_model_dir = "./model_tensor/"`
`output_saved_model_dir = "./model_tensor_rt/"`
`converter = trt.TrtGraphConverterV2(input_saved_model_dir=input_saved_model_dir)`
`converter.convert()`
`conver

[2020-02-29 10:37] georgeparry12 commented on #36776
@ManasRMohanty thank you for this. I tried what you suggested but task manager still shows no activation on the GPU when I run the script? There are more details of the problem on this post-https://github.com/tensorflow/tensorflow/issues/37164 .

I wonder if you have any more suggestions?

[2020-02-29 10:48] gabrieldemarmiesse commented on #36462
I confirm! thanks it's awesome!

[2020-02-29 11:00] Gabriv93 commented on #36141
@SirPhemmiey actually it's true, after the error message it takes some seconds to actually import the package but then it seems to work normally... I will see if there will be issues with some scripts, thanks

[2020-02-29 11:50] CleanPegasus opened #37183 "Remote monitoring of DL models"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-02-29 11:51] CleanPegasus commented on #37183
I would like to work on it as a G-SOC project.

[2020-02-29 12:20] ArnoSchaepe opened #37184 "Serialization fails for nested models (models containing another model)"
Looks like a duplicate of #37158

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Custom code, Auto-encoder sample, based on a tutorial:
https://www.pyimagesearch.com/2020/02/17/autoencoders-with-keras-tensorflow-and-deep-learning/

- OS Platform and Distribution
Windows 10
- TensorFlow installed from (source orbinary):
pip

[2020-02-29 13:10] HadiSDev commented on #37098
Sorry zip file is quite big, but here you go:
http://www.mediafire.com/file/yp6exg4auwjbywu/drive-download-20200229T130542Z-001.zip/file

csv file is in the actions directory and images in the images directory

[2020-02-29 13:18] HadiSDev opened #37185 "Tensorflow 2.1.0 causing all RAM to be consumed on model.fit"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-02-29 13:23] shehanmunasinghe opened #37186 "tensorflow/stream_executor/lib/statusor.cc:34] Attempting to fetch value instead of handling error Internal: failed to get device attribute 13 for device 0: CUDA_ERROR_UNKNOWN: unknown error"
**System information**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Windows 10
- TensorFlow installed from (source or
binary): Tried with both pip and conda
- TensorFlow version (use command below): 2.10
- Python version: 3.6
- CUDA/cuDNN version:  CUDA 10.1 , cuDNN 7.6.5
- GPU model and memory: NVIDIA MX250 , 2GB

**Describe the current behavior**
TensorFlow 2.10 gets installed. It

[2020-02-29 13:31] HadiSDev commented on #37185
Actually even when I use tensorflow-cpu, memory consumption is still very high:
![image](https://user-images.githubusercontent.com/10367624/75608492-252c2880-5b00-11ea-913a-fd0ac85dcdff.png)

[2020-02-29 13:32] ce88888 commented on #33183
Thanks - I ended up getting it resolved somehow.

On Sun, Feb 23, 2020 at 5:38 PM Luan Grillo <notifications@github.com>
wrote:

[2020-02-29 13:47] ngc92 opened #37187 "guarantees for the logs argument in keras Callbacks"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback
https://www.tensorflow.org/guide/keras/custom_callback

## Description of issue (what needs changing):
The documentation for the keras `Callback` base class contains the following generic statement about the `logs` parameter passed to its methods:
[code]
and
[code]
on the Keras custom callbacks page.

[2020-02-29 14:03] vigliensoni commented on #19200
Hi @BaoshengHeTR,

Here is a Colab repository with a minimal working example so that you can repeat my test. The code downloads and installs Magenta from the TensorFlow Github organization, and a small dataset for testing the training.

https://colab.research.google.com/drive/1ZVMYB-UPJIu7ooNYboEKotC6qatHWgBy

You will see that training with GPU lead to s stagnant loss (no learning at all), but us

[2020-02-29 14:20] Tylersuard opened #37189 "Can you guys work on making Tensorflow easier to install?"
Hi.  I spent 2 weeks trying to get Tensorflow up and running on my GPU.  It worked... for that one particular repo.  Now I'm trying another project, and apparently that particular version of Tensorflow gives me the error "Tensorflow has no attribute 'dimension'".

So I tried to open a new environment, re-install tensorflow-gpu, and I'm getting a "core-dump" error.

With other packages, I can just

[2020-02-29 14:28] lyj1998 opened #37191 "Something is wrong with positional encoding,sin and cos should be concatenated."
def positional_encoding(position, d_model):
  angle_rads = get_angles(np.arange(position)[:, np.newaxis],
                          np.arange(d_model)[np.newaxis, :],
                          d_model)

  # 将 sin 应用于数组中的偶数索引（indices）；2i
  angle_rads[:, 0::2] = np.sin(angle_rads[:, 0::2])

  # 将 cos 应用于数组中的奇数索引；2i+1
  angle_rads[:, 1::2] = np.cos(angle_rads[:, 1::2])
  angle_rads = np.concatenate([

[2020-02-29 14:28] MikhailMashukov opened #37193 ""Cannot take the length of shape with unknown rank" error"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04.3
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command below): tensorflow-addons==0.8.2
tensorflow-estimator==2.1.0
tensorflow-gpu==2.1.0
tensorflow-probability==0.9.0
-

[2020-02-29 14:30] ashutosh1919 commented on #37111
@tigert1998 and @jvishnuvardhan , I have added line in doc corresponding to the necessity of `converter.representative_dataset`. You have also mentioned something about order of inputs. I don't understand that. Can you please elaborate so that I will also make changes corresponding to that in the doc if needed.

[2020-02-29 14:49] Tylersuard commented on #37143
Thank you for your help!

[2020-02-29 14:49] #37143 closed

[2020-02-29 15:36] alexrobomind commented on #36656
After encountering the same problem today, I dug around a bit in the internals. Tensorboard has an endpoint that decodes the run metadata section of the protocol buffer containing the event logs. When running this on the logs of the above notebook, once with 2.1.0 and 2.0.0, I get different outputs:

[run_metadata_v200.txt](https://github.com/tensorflow/tensorflow/files/4270483/run_metadata_v200.t

[2020-02-29 16:14] alexrobomind commented on #36656
After digging deeper into the C++ code, it appears that between 2.0.0 and 2.1.0 the recording of this information was removed [in this commit](https://github.com/tensorflow/tensorflow/commit/0c9c859a7332c4d700ca131dd77944751d2feedc), so I don't think there is a "quick fix" for this.

[2020-02-29 16:36] foxik commented on #28143
Note that the situation got even worse in TF 2.1, where `supports_masking` is not respected even for `GlobalMaxPool1D`, see #33260 :-(

[2020-02-29 16:39] phemmer commented on #33247
Does anyone have the commit ID which resolved this issue? I don't want to run a nightly release, and need to backport the fix into a stable version.

[2020-02-29 16:47] av8ramit commented on #37189
Hi @Tylersuard can you please fill out the form that goes along with the issues so that we may better assist you? What OS and version of TF are you trying to install?

[2020-02-29 17:31] TOPMANZA opened #37194 "Cant run exe file from convert tensorflow to exe"
i have problem for run exe file it been after i deploy script to exe i got application file and run it i got this message in command  i try many things try with command try with auto-py-to-exe it dont solve

![75507237-1b78c700-5a13-11ea-8705-92635f011c90](https://user-images.githubusercontent.com/49858640/75612200-f2ac1b00-5b53-11ea-981e-27aebdbddd33.png)

this time die T-T
Please help me
i use:

[2020-02-29 17:54] anthonyatp opened #37195 "ValueError: Dimension 0 in both shapes must be equal"
**System information**
- OS Platform and Distribution: Google AI Platform
- TensorFlow version: v2.0
- Python version: v3.*
- Machine type: 16 vCPUs, 30 GB RAM
- GPU: 1x NVIDIA Tesla K80

I am training a model to caption images and have mostly used this tutorial: https://www.tensorflow.org/tutorials/text/image_captioning#download_and_prepare_the_ms-coco_dataset

The only thing that is different fr

[2020-02-29 18:08] Yashgh7076 commented on #31850
@ghunkins Thanks a lot! Your suggestion works. Any intuition behind what is actually going on? This issue only seems to affect saved models. That is a model which is created and tested immediately after training does not have this issue.

[2020-02-29 18:41] jaketae commented on #37195
Just from the looks of your error message, I’m wondering if setting the batch size to 10 would solve the issue. I know this isn’t a fundamental fix or an answer to your question, but can you give it a try?

[2020-02-29 18:43] LucaCappelletti94 commented on #31253
@TKassis do you have a link to the other issues? I am not fining them. Thank you!

[2020-02-29 18:45] omalleyt12 commented on #31253
@talipini Thanks for the issue!

Can you please try this again with the latest nightly (`pip install -U tf-nightly`) an report back? I believe this issue should be fixed in the latest nightly

[2020-02-29 18:56] MiWeiss commented on #36237
This may explain the related issue of broken weights. However, it seems no to resolve this issue (which is a documentation issue).

We still have the situation that the Resnet from `tf.keras` has to be handled differently than previous keras versions. There does not seem to be any documentation explaining how to migrate, which I think many will want to do when switching from tf1 to tf2.

Do you ag

[2020-02-29 19:13] anthonyatp commented on #37195
yes, I tried that too. But still got the error:

`ValueError: Dimension 0 in both shapes must be equal, but are 4 and 10. Shapes are [4,1] and [10,1]`

I haven't tried batch size 4 but I assume there is a deeper issue here

[2020-02-29 19:35] lutzroeder opened #37196 "Keras saves invalid JSON files containing NaN"
**Describe the current behavior**

JSON saved by Keras contains `NaN` which is invalid according to [RFC 7159](https://tools.ietf.org/html/rfc7159):

**Describe the expected behavior**

Keras saves correct JSON format.

**Standalone code to reproduce the issue**

[code]

[code]

[repro.zip](https://github.com/tensorflow/tensorflow/files/4270871/repro.zip)

lutzroeder/netron#435

[2020-02-29 21:01] vadimen opened #37198 "Docker Tensorflow GPU 5x times slower than TF CPU"
I installed "tensorflow/tensorflow:nightly-gpu-py3" (at this moment 9 days old) docker image on my Ubuntu 18.04 with nvidia-driver-435, 8gb RAM, i5-8265U and mx110 video card.

I executed the following code https://github.com/vadimen/algorithms/blob/master/code2.py . It's running mobileNet SSD from tensorflow examples. It's processing a video.

The code is writing in console the time(FPS) it need

[2020-02-29 21:22] nbro commented on #36801
@gowthamkpr I still get the initial error with my actual code and not your gist or the example above.

[2020-02-29 21:28] nsssss commented on #37079
Does anyone know the answer?

[2020-02-29 21:41] sjurajpuchky commented on #36937
You have to install which contains all required files
I do not have hdf5 file I train network from text file
also have to mention that my version of tensorflow is 2.1.0-rc2 builded from source on centos 7.1
what i suggest is common problem

see attached WHL file which is my build

[](https://www.baba.bj/tensorflow-2.1.0rc2-cp36-cp36m-linux_x86_64.whl)

`#!/usr/bin/python3

from textgenrnn import t

[2020-02-29 22:22] Daniel451 commented on #27298
@jvishnuvardhan @zzh8829 any updates? @rchao does not seem to be active in this issue.

[2020-02-29 22:35] mchikyt3 commented on #27120
@ldm314 It would be better to run the wrapper function only when necessary.

[code]

[2020-03-01 00:19] wilomgfx commented on #34607
Same here! Also giving more ram to Docker made my flask app start, otherwise the workers would just restart indefinitely

[2020-03-01 01:06] zaccharieramzi opened #37199 "Default type for complex sparse tensor is complex128"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): pip

**Describe the current behavior**
When I instantiate a complex sparse tensor, the default type is comp

[2020-03-01 02:03] SlowMonk opened #37200 "NotImplementedError: Cannot convert a symbolic Tensor (up_sampling2d_5_target:0) to a numpy array"
[code]

Here the np.max(y_true) bring the problem.

[2020-03-01 02:45] #14013 closed

[2020-03-01 02:52] freedomtan commented on #37161
This should be addressed by https://github.com/tensorflow/tensorflow/pull/37033.

[2020-03-01 02:56] tigert1998 commented on #37111
@ashutosh1919
For instance, suppose that I generate a `saved_model` model with the following code:
[code]

However, the fed inputs in `representative_data_gen` are not necessarily in the order of `input_0`, `input_1`, etc.

[2020-03-01 03:22] freedomtan commented on #37154
1. Nope, Hexagon is Qualcomm's DSP shipped with its SoCs. Neither Raspberry Pi nor HiKey boards use Qualcomm SoCs. If you run `label_image --hexagon_delegate 1 ...`, you are supposed to get something like `Hexagon acceleration is unsupported on this platform.invoked` and TFLite interpreter will be used to run your model.

2. Usually models are trained with normalized/preprocessed images, those ste

[2020-03-01 03:36] freedomtan commented on #37102
@Richard-Yang-Bose in the log you pasted, there is `2020-02-26 15:16:14.932800-0500 TFLiteBenchmark[444:628154] tensorflow/lite/kernels/mul.cc:74 input1->type != input2->type (1 != 10)`, the type mismatch is between `kTfLiteFloat32 = 1` and `TfLiteFloat16 = 10`

[2020-03-01 03:42] freedomtan commented on #37038
I guess this is the same as issue https://github.com/tensorflow/tensorflow/issues/37161. And it's addressed by PR https://github.com/tensorflow/tensorflow/pull/37033.

[2020-03-01 05:16] shehanmunasinghe commented on #37186
Updating the NVIDIA driver from version 430.90 to the latest version (441.37) solved the problem

[2020-03-01 06:43] 372046933 commented on #36953
Probably, this a NCCL issue. PyTorch has the same issue as TF. See https://github.com/pytorch/pytorch/issues/17703. But the issue is closed on NCCL https://github.com/NVIDIA/nccl/issues/193

[2020-03-01 07:55] ccu1tn opened #37202 "Print out the user number in Tensorflow"
Dear everyone;

when users increase. I want to print out that user number and how to value the performance of Tensorflow?

Please give me some of your idea!
Many thank!

[2020-03-01 08:03] WallbangJocrod opened #37203 "Cannot import tensorflow 1.15"
**System information**
- OS Platform and Distribution (Windows 10 pro):
-Lenovo ideapad 520-15iKB
- TensorFlow installed from ("pip install tensorflow==1.15"):
- TensorFlow version: 1.15 (cpu-only)
- Python version: 3.6.0
- Installed using pip
- GPU model and memory: GeForce 940MX 4GB

**Describe the problem**

i installed tensoflow == 1.15 and i can't import

`Python 3.6.0 (v3.6.0:41df79263a11, D

[2020-03-01 08:15] Tylersuard commented on #37189
https://www.reddit.com/r/tensorflow/comments/czo5x7/why_is_tensorflow_so_hard_to_install/
https://www.quora.com/Why-is-TensorFlow-so-hard-to-install

It's not the OS or the version of my particular machine.  It's that Tensorflow is incompatible with EVERYTHING, unless I do a huge amount of error solving to get it to work.  The first link above is from a person who says that in their 6 years of exp

[2020-03-01 09:32] SivamPillai commented on #37189
In my experience, the ease of installation of TensorFlow has gotten better with every new release. The current versions are just as easy as pip install TensorFlow (Which defaults to GPU enabled option). I believe the challenge you face is the interdependency between the platform, graphics drivers, CUDA, CuDNN, and Tensorflow. In that case, I also agree the overall pipeline of TF installation has n