[2020-04-15 08:52] #35805 closed

[2020-04-15 08:59] zaccharieramzi commented on #38561
@gurushantj yes you are right. I don't know why I thought this was in 2.1, it's actually in 2.0 that the problem is gone.

Still, the documentation regarding the re-tracing is about the same.

@ngc92 I tried your workaround but got the following error:
[code]

[2020-04-15 09:01] amahendrakar commented on #38546
@dirknbr,
I have tried different browsers and did not observe any difference in the page. Could you please point out what needs to be corrected? Thanks!

[2020-04-15 09:32] AdrienCorenflos commented on #38453
In the meantime I have found a workaround for the above by going a bit lower level and implementing the while_loop myself. I am posting it here in case it helps tf maintainers to figure out what the bug is related to.

[code]

[2020-04-15 09:32] nkoerb commented on #37505
@DanyelJei how do you clear the backend, because I also used clear_session() and garbage collector? And what exactly do you mean with 'training iteration': full training, epoch or single iteration on a batch?

[2020-04-15 10:20] gadagashwini commented on #38556
Was able to reproduce the issue with Tf1.15.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/481a920d74fafb5e1ed971e1dfd34231/untitled510.ipynb#scrollTo=0NrsY94pUuqc). Thanks

[2020-04-15 10:26] Saduf2019 commented on #38534
@Sicongzai
please share simple stand alone code for us to replicate the issue faced.

[2020-04-15 10:27] BinchaoPeng commented on #33468
how to deal with the probelm？thx

[2020-04-15 10:32] patriciacs1994 commented on #38545
Perfect. So, to solve this issue in my machine, how should I proceed? I installed tf through NVIDIA containers (https://ngc.nvidia.com/catalog/containers/nvidia:tensorflow/tags). Is this change applied automatically? Thank you.

[2020-04-15 10:34] renatomello commented on #27519
Thanks for the detailed explanation.

However, this issue is not solved in the stable 2.1.0 version. It was pointed out to me in the #38038 that it is solved in the tf-nightly 2.2.0 version.

[2020-04-15 10:48] gurushantj commented on #38561
Could you please validate following and let me know :

You may disable eager execution setting
[code]
and pass ```steps=1 ``` in model.predict and validate

[2020-04-15 10:51] sethnabarro commented on #37577
Hi @saxenasaurabh, thanks for your response. Ok, I understand the issue. I will also have a think about possible solutions.

[2020-04-15 10:54] ChenHaoHere opened #38568 "Error occurs when bazel building the example"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Windows 10
- TensorFlow install

[2020-04-15 11:06] Saduf2019 commented on #38500
i am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/d6d16410402cc86f97b1c380dcbdd726/38500.ipynb)

[2020-04-15 11:09] Ashwini-prkt opened #38569 "Not coverting pb to tflite for using with microinterpreter for x86_64 platform"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (using pip):
- TensorFlow version (1.14.0):

**1) when I convert my model to pb using export_inference_graph.py using following command:

**2) convert the above generated pb to tflite using tflite converter by below command:**

**
If possible, please share a link to Colab/Jupyter/any noteb

[2020-04-15 11:17] atztao opened #38570 "Add new hyperparameter k in tf.compat.v1.train.polynomial_decay and other decay fuction"
Hey, according to [this paper](https://arxiv.org/abs/2004.05909) should be adding new hyperparameter k in the API of tf.compat.v1.train.polynomial_decay and other decay functions to simply improve performance. Thank you very much.

[2020-04-15 11:17] chenghuige commented on #38538
@Saduf2019  I tried to use lates tf in kaggle kernel, following [https://www.kaggle.com/kivlichangoogle/jigsaw-multilingual-getting-started](jigsaw-multilingual-getting-started) but with lates tf, tpu setup will fail, I have modified the colab file you provide.

[2020-04-15 11:33] mmalekzadeh commented on #33566
The use case explained here is mostly useful in other kinds of time series (such as mobile and wearable sensor data) or when time series are processed in a sliding window manner.

In such a situation, the label is the majority across all the labels in the current window, not the last one.

BTW, maybe it is much better to have a class extended from this for that purpose.

[2020-04-15 11:51] raniaCht commented on #37399
I'm sorry, I didn't see your comments, and for the example I gave it
up,thank you very much for your help

Le lun. 16 mars 2020 à 10:05, Saduf2019 <notifications@github.com> a écrit :

[2020-04-15 12:00] saikumarchalla commented on #38414
@rodrigoruiz Could you please share the data as it helps us to reproduce the issue.

[2020-04-15 12:08] Samjith888 opened #38571 "Failed precondition: Error while reading resource variable block3a_se_expand/bias from Container: localhost. This could mean that the variable was uninitialized. Not found: Resource localhost/block3a_se_expand/bias/N10tensorflow3VarE does not exist. [[{{node block3a_se_expand/BiasAdd/ReadVariableOp}}]] [[dense_1/Softmax/_1903]]"
I have three trained models which is using in one script . First model (.h5) is loaded using following piece of code

[code]
The first model loaded and predicted successfully. After first model operation,  second model (.hdf5) loaded using following code block

[code]
Second model loaded successfully and but while prediction , getting the following error.

`2020-04-15 12:01:36.207346: W tensorflow

[2020-04-15 12:16] rishabhsahrawat commented on #38540
@17patelumang thanks for your suggestion. But how to get the vocab file ?

[2020-04-15 12:17] vizaiapp commented on #33009
Still getting this error with tf-nightly

[2020-04-15 12:22] dirknbr commented on #38546
as per the screenshot, the \abs bit is in red and not rendered correctly

[2020-04-15 12:47] Sicongzai commented on #38534
Hi, thank you for your response.

For aware-quantization training, I convert and quantize the model following with command line:
export CONFIG_FILE=/home/sicong/Documents/datasets/udacity/ssd_mobilenet_v2_300x300_udacity.config
export CHECKPOINT_PATH=/home/sicong/Documents/model_zoo/ssd_mobilenet_v2_coco_2018_03_29/Udacity/Udacity_300_315109_001/model.ckpt-27404
export OUTPUT_DIR=/home/sicong/Docu

[2020-04-15 12:49] amahendrakar commented on #38561
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/bacd69c72e28f03ebfc6221d8d8fe1fc/38561.ipynb), [TF v2.2.0rc3](https://colab.research.google.com/gist/amahendrakar/cda0a10a833f90ebffe9f5f42e2220aa/38561-2-2.ipynb), [TF-nightly](https://colab.research.google.com/gist/amahendrakar/bac1fe12525a0a1511adc75c308695d7/38561-tf-nightly.ipynb#scrollTo=gx2su0

[2020-04-15 12:53] amahendrakar commented on #38561
@zaccharieramzi,
Could you please check [this comment](https://github.com/tensorflow/tensorflow/issues/34907#issuecomment-564312261) from a similar issue and let us know if it works? Thanks!

[2020-04-15 12:53] bhack opened #38572 "[TFLITE] Modelmaker and code generator for boundingRect/Cuboid + keypoints"
**System information**
- TensorFlow version (you are using):
Tensorflow-nightly
- Are you willing to contribute it (Yes/No):
No

**Describe the feature and the current behavior/state.**
In Tensorflow Hub at https://github.com/tensorflow/hub/issues/424 I've proposed to introduce one of the many single stage anchor-free models that adapt quite easily to keypoints tasks (face detection+ladmarks, peop

[2020-04-15 12:56] Lambik commented on #36111
I have the same issue as @daniahl . Anaconda has put the `cudart64_101.dll` into my-env\Library\bin, but tensorflow does not find it there. Or does not look there.

I don't want to install a global CUDA setup, what if my games fail, or it gets updated by geforce experience, or my tf 1.14 conda starts failing. It should work with the dll that is just *right there*.

[2020-04-15 13:01] xunkai55 commented on #38370
That's one. Also the `TensorImage.load` methods, and the conversion code in `ImageConversions.java`.

It's not really difficult to modify to get it running, but design consistent interfaces might take longer.

For your usage, I'm curious about how you store a gray image in Android - or saying how you expect to convert the Bitmap to values. Are you just interested in one particular channel? Or you

[2020-04-15 13:12] ManishAradwad commented on #38564
I'll start working on this, Thanks!

[2020-04-15 13:26] mihaimaruseac commented on #38515
We will definitely fix this by the final release

[2020-04-15 13:33] fcole90 commented on #33374
Yes, of course I meant with the shipped python. I installed myself a 3.7 in a virtualenv as well. BTW, great to hear that you're going to release that version soon 😃

[2020-04-15 13:33] zaccharieramzi commented on #38561
@amahendrakar I am not sure what I am supposed to see in that comment. The issue you linked suggests that this should be dealt with.

[2020-04-15 13:35] zaccharieramzi commented on #38561
@ngc92 still got an error: `AttributeError: 'Tensor' object has no attribute '_numpy'`.

[2020-04-15 13:40] jontignis commented on #33374
Confirmed that I could "import tensorflow" with MacOS 10.14.6 and Python 3.8.2

[code]

[2020-04-15 13:54] Saduf2019 commented on #37715
@Thomas-Galtier
please let us know if this is still an issue

[2020-04-15 14:24] paulhigazi opened #38574 "Custom keras/tensorflow layer, output-shape error"
I wrote my own keras/tensorflow layer. Passing images into it works fine, but using it in combination with other layers, givesan error. Somehow the output shape of my custom layer should be wrong, or some kind of "Nonetype".

I posted my question on Stackoverflow, to reduce redundance,  just follow the underlying link to the code.

https://stackoverflow.com/questions/61231081/custom-keras-tensorfl

[2020-04-15 14:43] korabelnikov commented on #35987
mee too

[2020-04-15 14:44] 17patelumang commented on #38540
@amahendrakar is there any way i can be assigned few tickets ?

[2020-04-15 14:59] rishabhsahrawat commented on #38540
@17patelumang thanks for suggestion. On your provided link they are also using a for loop to read each line of the data.
[code]
and the approach mentioned in my question is following:

[code]

In my understanding they both will take the same time. Since my dataset has a lot of lines so it is very time taking and I want a solution that is faster.

Maybe @amahendrakar , you can help.

Thanks:)

[2020-04-15 15:00] #35151 closed

[2020-04-15 15:02] rishabhsahrawat commented on #38540
@17patelumang or do you think `set()` and `Counter()` can make speed differences between the two approaches?

[2020-04-15 15:03] lintian06 commented on #37681
Hi Amit, can you try a smaller Conv2D kernel? (Maybe, from size 9x9 to 3x3, which is more commonly used)

Maybe, because of the size is too large, it runs out of GPU memory.

[2020-04-15 15:04] lintian06 commented on #38451
Did you run it from the real device (like Android phones) or the emulator on laptop?

[2020-04-15 15:12] lgeiger commented on #36240
@byronyi @yhliang2018 Any updates on this?

[2020-04-15 15:25] beniroquai commented on #36555
Is this already available in prebuilt nightlys for Android?
Could I use nightlys in the ```build.gradle```-file:

```    implementation 'org.tensorflow:tensorflow-lite:+' ````

[2020-04-15 15:28] rishabhsahrawat commented on #38540
Okay, so I tested both set() and Counter() and in my tests, set() is already faster than Counter().
So, my original question is still valid. @17patelumang @amahendrakar

[2020-04-15 15:28] yongtang commented on #38545
@patriciacs1994 After the PR is approved and merged, it will show up in tf-nightly automatically (and will show up in the next version of the release, likely TF 2.3.0+ as TF 2.2.0 release is already imminent).

[2020-04-15 15:29] jvishnuvardhan commented on #38548
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2020-04-15 15:29] #38548 closed

[2020-04-15 15:33] cboulay commented on #35337
In case this helps someone, I was getting the same error because I removed a no-longer-required positional argument (integer) from my custom model's `__init__` signature without updating the code that instantiated the model. In practice, the integer was getting passed to the only remaining argument: the `name=` kwarg.

I think it's not the same problem OP is experiencing but probably related. I no

[2020-04-15 15:34] jvishnuvardhan commented on #38558
@Ringhu Can you please share a standalone code to reproduce the issue? Thanks!

[2020-04-15 15:39] xserraalza commented on #31115
Could you please elaborate on how to do that? I have the exact same issue, but I am not sure where to put the transpose and how to modify the GraphDef. Thank you very much!

[2020-04-15 15:44] lintian06 commented on #38402
Hi Amit,

Let me take a look at this and come back to you.

In general, if you just want to use gradle to build the app, you may download prebuilt AAR and forget about bazel (it is a [optional step](https://github.com/tensorflow/examples/blob/master/lite/examples/smart_reply/android/how-to-build.md#optional-how-to-build-aar-package-from-source-code)). That is done by gradle.

[2020-04-15 15:52] beniroquai commented on #36555
Seems ```implementation  'org.tensorflow:tensorflow-lite:0.0.0-nightly'/```did the trick :)

[2020-04-15 15:52] srjoglekar246 commented on #34845
@limsijie93 Can you [enable control flow V2](https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2)? TFLite doesn't support control flow V1, since the ops (Enter/Merge, etc etc) are very difficult to pattern-match.

[2020-04-15 15:56] Namburger commented on #38395
@terryheo sorry, I didn't stated my full intention. The problem is that I'm trying to build tflite natively on different platform, without needing to first cross compile the `lib-tensorflowlite.a` first. The problem with this approach is that `bazel` doesn't support arm platform. So I'm working with cmake instead and I'm using your [makefile](https://github.com/tensorflow/tensorflow/blob/master/te

[2020-04-15 16:09] byronyi commented on #36240
It seems to be fixed by #37877, which is included in 2.2.0-rc3. Would you mind to try again?

[2020-04-15 16:09] jvishnuvardhan commented on #38506
@rakshanda22 Can you please share a standalone code to reproduce the error? I tried to make a [gist](https://colab.research.google.com/gist/jvishnuvardhan/d7a982e1fc59ca597b9c74ce8a0e5378/untitled88.ipynb), but it is throwing errors. Thanks!

[2020-04-15 16:12] yongtang commented on #34363
PR #38544 has been merged. However, the issue is not fixed yet. Will re-submit the PR  of PR #34399 to eventually fix this issue.

[2020-04-15 16:21] jdduke commented on #38536
@nkreeger who is working on this.

[2020-04-15 16:34] crccw commented on #38506
Could you try tf 2.2rc or tf nightly? There's a refactor model.fit() so it's somewhat hard to debug a 2.1 issue

[2020-04-15 17:04] lamberta commented on #38523
Thanks, for the report.
On page, search for "For more details, see tag_constants.py and related TensorFlow API documentation."

[2020-04-15 17:05] goldiegadde commented on #33374
@jontignis thanks for verifying.

[2020-04-15 17:07] goldiegadde commented on #32982
@redeaglekiller were you able to test with 2.2.0-rc3 and see if your issue is resolved ?

[2020-04-15 17:09] srjoglekar246 commented on #38432
SSD models don't convert directly to TFLite. You need an intermediate step to export a graph that uses our custom NMS op to speed up post-processing. Please take a look at [these instructions](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md).

[2020-04-15 17:09] #38432 closed

[2020-04-15 17:19] lgeiger commented on #36240
I was testing this earlier today with rc3 and without repeating the dataset as mentioned in https://github.com/tensorflow/tensorflow/issues/36240#issuecomment-588180783 and it ran out of memory for larger batch sizes. This is already better that 2.1 which crashed irrespective of the batch size, but there is still something going wrong compared to TensorFlow 2.0.0. I'll properly test it later today

[2020-04-15 17:26] shidaide2019 commented on #37726
My reply is about the warning you've mentioned :
WARNING:tensorflow:Gradients do not exist for variables ['sequential_4/custom_embedding_4/e1:0', 'sequential_4/custom_embedding_4/e2:0'] when minimizing the loss.
WARNING:tensorflow:Gradients do not exist for variables ['sequential_4/custom_embedding_4/e1:0', 'sequential_4/custom_embedding_4/e2:0'] when minimizing the loss.

WARNING:tensorflow:Gradi

[2020-04-15 17:28] shidaide2019 commented on #37726
tf.concat() doesn't make sense in the warning Gradients do not exist for variables, so if this warning happens, check the layer whether it is connected to the output.

[2020-04-15 17:40] dupree opened #38576 "[TFLITE] Modelmaker for (multi-class) custom text classification."
**System information**
- TensorFlow version (you are using):
Nightly version of TensorFlow (2.2.0-dev20200415)
- Are you willing to contribute it (Yes/No):
Yes

**Describe the feature and the current behavior/state.**
Ability to use custom train data for text classification.
Currently on providing custom data instead of **aclImdb** [http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz](u

[2020-04-15 17:42] rodrigoruiz commented on #38414
@saikumarchalla unfortunately I can’t since it’s  another company’s data, but I imagine the same problem will occur with any set of imagens of the same size.

[2020-04-15 17:49] jdduke commented on #38525
I think there may be something wrong in your config? Did you run `/.configure` from the root checkout directory and feed it the path to your Android SDK/NDK?

In particular, `-DWIN32_LEAN_AND_MEAN` should not be present in the build command when building with `--config=android_arm`. It's possible this is an issue with the flatbuffer build config, but let's confirm that your configuration is correc

[2020-04-15 17:57] dfalbel commented on #38512
Thanks @omalleyt12, your suggestions were very helpful.

[2020-04-15 17:57] #38512 closed

[2020-04-15 18:07] Abhipray commented on #37659
As a temporary workaround, I use `tf.compat.v1.lite.TFLiteConverter.from_sess()` after disabling eager execution and using the streaming layers in https://github.com/google-research/google-research/tree/master/kws_streaming.

[2020-04-15 18:11] khaledxdelahkk commented on #36601
@gadagashwini  which version you install ?

[2020-04-15 19:00] domindominik opened #38578 "Could not load dynamic library 'libcudart.so.10.1'; dlerror: libcudart.so.10.1: cannot open shared object file: No such file or directory"
Debian 10.3
Python 3.8.2
Cuda 10.2
Quadro K5200d drivers 440.82
Tensorflow 2.2.0-rc2

import tensorflow as tf
tf.config.list_physical_devices('GPU')
2020-04-15 20:58:07.177217: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2020-04-15 20:58:07.205025: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1561] Found device 0 with prope

[2020-04-15 19:06] kuku1999 commented on #33535
Hey Thanks a lot. Your notebook did a great help to me!!

[2020-04-15 19:07] ngc92 commented on #38561
Is this what you want to do?
[code]

Note that you are no longer using any features of the `model.predict` function, but since you seem to be looping over examples by hand that might be OK.

Also, in tf 2.2 there is support for custom `model.predict_function`, i.e. you might be able to do something like
[code]
i.e. just wrapping the default provided function in something that relaxes shapes.
I hav

[2020-04-15 19:44] konopik commented on #37726
Please, look at the code. I use a sequential model. The variable is indeed connected to the output. Exactly the same code, but without `tf.contact()`, issues no warning and works all right.

[2020-04-15 20:34] lingjiekong commented on #38370
Regarding `TensorImage.load`, I am loading a bitmap image. From what I see, https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/experimental/support/java/src/java/org/tensorflow/lite/support/image/TensorImage.java#L119, it should be fine. However, I see what you are saying that if I am going to load a int or float pixel array, I have to make an modification. https://github.com/ten

[2020-04-15 20:39] mihaimaruseac commented on #19297
Regarding 1: preferably not because then the plugin and the core of TensorFlow will still be entwined to the same compiler version and compile flags, breaking any guarantee that we want to achieve with the modularization. Instead, we should identify what are the common things and expose those to an interface, _if_ there are multiple users.

Regarding 2: We would prefer to not initialize static glo

[2020-04-15 20:46] jvishnuvardhan commented on #33089
@WildTangles I agree that there are only 256 unique values after conversion. However, there is not much information lost during conversion. [Here](https://colab.research.google.com/gist/jvishnuvardhan/4f8fb11eb5979db06468b1d277e9e439/untitled89.ipynb) is a gist for y/our reference. Thanks!

[2020-04-15 20:47] #38516 closed

[2020-04-15 20:48] DOCgould commented on #38513
Hey Guys,

after doing some poking into the repo

Here is my approach

1. Make a Cuda Compiled Interpreter of the ops supported by NNAPI
2. Create a Hook into the GPU Delegate
3. Deploy as Optional in GPU Delegate

Nothing to pull yet( and probably not for a little while either), but Ill keep you posted on my progress!!

[2020-04-15 20:51] cjluo-nuro commented on #38302
Hi, Karim, I use clang-8 with ubuntu arm environment (GCC 7.3) to build the delegate. ubuntu arm does not have android libraries. For example, the available libraries the delegate binary linked to are:

 0x0000000000000001 (NEEDED)             Shared library: [libpthread.so.0]
 0x0000000000000001 (NEEDED)             Shared library: [libm.so.6]
 0x0000000000000001 (NEEDED)             Shared libra

[2020-04-15 20:58] paulbauriegel commented on #31115
@xsankar Have a look at the python script I linked in that comment, did it work for you?

[2020-04-15 21:06] xsankar commented on #31115
@paulbauriegel probably you meant @xserraalza

[2020-04-15 21:13] ludakas opened #38581 "Memory leak when validation generator is used"
**System information**
Tested in 2 environments:

1. my computer with Linux Ubuntu 18.04.3 LTS,
tensorflow GIT_VERSION and VERSION: v1.12.1-27410-g0f2c6e4a99 2.2.0-dev20200317,
CUDA release 10.1, V10.1.243, GeForce GTX 1060 6GB

2. colaboratory
tensorflow GIT_VERSION and VERSION: v2.2.0-rc2-0-ge6e5d6df2a 2.2.0-rc2

**Describe the current behavior**
When the validation generator is passed to the mo

[2020-04-15 22:09] dvbuntu commented on #38396
@k-w-w I think `m2._distribution_strategy` *doesn't* get set correctly is the problem.  It's set fine in the initial model creation.  If you check after loading, however, it's `None`.

But you gave me an idea for a workaround that I think resolves this:

[code]

A quick test with this showed multiple GPUs being used.  This is fine for my purposes.

The underlying issue, I suspect, is the Keras des

[2020-04-15 22:14] enragedginger commented on #34431
For anyone reading this who doesn't want to ditch Tensorflow 2, the Effective Tensorflow 2 API changes are listed [here](https://www.tensorflow.org/guide/effective_tf2).

That page has this sentence:

and links you to [this project](https://github.com/abseil/abseil-py)

which says you can install with this `pip install absl-py`.

The README for absl-py also links to [an example application](https:

[2020-04-15 22:19] k-w-w commented on #38396
Hmm, this might be a bug with an earlier version of Tensorflow. I tried running it in colab (which is currently on version 2.2.0-rc3), and the `_distribution_strategy` attribute is set correctly. Can you try updating and checking again?

[2020-04-15 22:22] leigh-johnson commented on #37103
👋 I was able to reproduce the original issue in both 2.2.0-dev20200325 and 2.2.0.dev20200415 nightly builds. I'm especially interested in the conversation around `keras.metrics.AUC` accepting logits.

https://colab.research.google.com/drive/133fqw4-USGEvQXkI1uIm8cN-jBOMUmeh#scrollTo=864VzT-b44pw

[2020-04-15 22:30] dvbuntu commented on #38396
Unfortunately I don't have administrative privileges where I run TF, so I'm unable to try this with a different version.  Are you saying this is already fixed in 2.2.0?

[2020-04-15 22:37] PINTO0309 commented on #23320
I close this issue due to the emergence of high performance models such as Deeplab v3 and Deeplab-slim.

[2020-04-15 22:37] #23320 closed

[2020-04-15 22:46] k-w-w commented on #38396
I'm not able to test the GPU utilization but I believe it should be.

[2020-04-15 22:51] byronyi commented on #36240
One of my colleagues reported similar issues that the memory consumption increases after each epoch, and it might be due to creating a new validation dataset for each evaluation.

I never tested caching validation data before. Would you mind not to cache the validation dataset and see if you could reproduce the issue?

[2020-04-15 22:59] sebastiaanvbb commented on #16768
I had this same issue on Google Colab. Wiredly enough, when I took a few layers out of my network the number of parameters went up (since a few max poolings were gone). This solved the problem however... So the comment regarding parameter number is incorrect. If I'm missing something, let me know!

regards

[2020-04-15 23:37] lgeiger commented on #36240
@byronyi Thanks for the fast response. I am debugging as we speek, and indeed I can observe that the memory usage increases every epoch. It is not as severe as it was in 2.1, but still very noticable. I am testing this currently without repeating the dataset. Even when caching both training and validation datasets the memory usage increases during validation and drops sharply once the next epoch s

[2020-04-15 23:42] holokai-ai commented on #37376
Thanks again for the tip that the QCOM DSP Delegate now supports post-training quantization.

I recompiled benchmark_model from HEAD, and now the post-training quantized EfficientNet Lite0 model runs on DSP!

[code]

[2020-04-16 00:08] snailrowen1337 opened #38583 "Tf.function raises TypeError"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3
- CUDA/cuDNN version: - GPU model and memory: Tesla v1

[2020-04-16 00:09] zzj0402 commented on #38483
[code]

Would it work on any kind of tf.dataset? I think that tutorial is very poorly organized. It's separated from the dataset doc and majority of that doc is talking about making a tf.dataset.

[2020-04-16 00:25] lgeiger commented on #36240
It seems the original issue has been fixed, but unfortunately I am now running out of GPU memory when using larger batch sizes which for some reason doesn't only happens when using `steps_per_epoch`.

[2020-04-16 00:28] HotEncoded commented on #36111
I had the same error after installing with “the award winning new approach” condos create —name tf_gpu tensorflow-gpu.
I downgraded cudatookit using

Conda install cudatoolkit==10.0.130

in anaconda prompt. No path adjustments needed. Cudart dll loads fine as well.

[2020-04-16 00:48] yhliang2018 commented on #36240
Thanks for reporting this. @tomerk is looking into the memory issue, and may help on this.

[2020-04-16 00:51] vnvo2409 commented on #19297
I think we need something to keep a single instance of variable of type `S3Client` to use when s3 plugins is loaeded because allocating a new `S3Client` each time we need would be a waste of resource.

[2020-04-16 01:01] lgeiger commented on #36240
@byronyi I can reproduce this issue when caching is enabled for the validation dataset. It looks like this is an issue with the [thread pool dataset](https://github.com/tensorflow/tensorflow/blob/8e0eecc8e396f8c1859b1b3954a89a41da8b5b45/tensorflow/python/data/ops/dataset_ops.py#L360-L362).
TensorFlow Datasets sets [`experimental_threading.private_threadpool_size = 16` by default](https://github.co

[2020-04-16 01:04] tensorflowbutler commented on #33608
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-16 01:06] yhliang2018 commented on #36240
Hi @lgeiger, do you mind to open a new issue with the thread pool dataset? So tf.data team can take a closer look at it. If you can provide a minimal repro example and some detailed summaries you already have, that will be very helpful to us!

At the same time, can we close this issue as it's already fixed? Thanks!

[2020-04-16 01:22] lgeiger commented on #36240
Thanks for the help!

I still have some issues with the datasets, but it is likely that they are not related to the original description of the issue anymore. I will run a few more tests and will try to provide a structured description in a new issue tomorrow. I hope we can get this fixed soon.

[2020-04-16 01:22] #36240 closed

[2020-04-16 01:29] mihaimaruseac commented on #19297
Agree. But the plugin is only loaded a single time, it cannot be unloaded

[2020-04-16 01:46] sayakpaul commented on #33535
Glad you liked it. Here's a presentation that accompanies that code: bit.ly/MLWeekend19.

[2020-04-16 01:57] karimnosseir commented on #37376
@nutsiepully Can you check the crash from the QAT.

@holokai-ai Glad it is working, BTW reshape is added now, if you retried you should have 1 hexagon graph, and should be slight faster.
We are working on optimizing few parts too, so stay tuned :)

Thanks

[2020-04-16 02:00] vnvo2409 commented on #19297
So I suggest using a `std::weak_ptr`
Something like
[code]
The global static will be reference by a `weak_ptr<Aws::S3::S3Client>`. If something need to use it, we could return a `shared_ptr<Aws::S3::S3Client>`. When it is no longer use anymore, It will be destructible right at that moment, and we don't have to keep it throughout the program as the plugin can not be unloaded.

[2020-04-16 02:03] Ringhu commented on #38558
Of course. @jvishnuvardhan
with the command line mode, I used:
'''
 tflite_convert --saved_model_dir=/path/to/automl/efficientdet/ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03/saved_model/ --output_file=/path/to/automl/efficientdet/ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03/
'''
with the python API code, the code is:
'''
converter = tf.lite.

[2020-04-16 02:33] AroMorin commented on #33131
PyTorch supports this, and TF needs it.

[2020-04-16 02:50] yanghzcc commented on #38537
thanks
https://stackoverflow.com/questions/56930685/pywrap-tensorflow-checkpoint-reader-fails-for-ftrl-states-of-partitioned-variabl
the same question

[2020-04-16 03:11] wujiexiaowugui commented on #38189
if you use the "eusr_x2.pb" , the input_arrays=['sr_input']  and  output_arrays=['sr_output']

[2020-04-16 03:24] ravikyram commented on #38583
I have tried on colab with TF version 2.1.0, 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/50779adee64cd9c063166054e4ef2476/untitled775.ipynb). Thanks!

[2020-04-16 03:37] psych0man commented on #36358
Weird if(log.get('acc') > ACCURACY_THRESHOLD) worked for me too

[2020-04-16 04:02] ashwinmurthy commented on #38312
Please see this colab:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb

[2020-04-16 04:08] jvishnuvardhan commented on #36643
I am closing this as this was resolved. Feel free to reopen the issue if this was not resolved for you. Thanks!

[2020-04-16 04:08] #36643 closed

[2020-04-16 04:24] 17patelumang opened #38588 "TF API Feature transformation to saved model from checkpoint file"
OS Platform and Distribution : macOS Catalina 10.15.3

TensorFlow installed from : binary

TensorFlow version : 1.15.0

Python version: 3.7.3

**Describe the current behavior**

I have general question , i have checkpoint file which was converted to  .pb file  using https://stackoverflow.com/questions/56766639/how-to-convert-ckpt-to-pb , however is there any way in the code in this link we can por

[2020-04-16 04:26] gadagashwini commented on #38565
@MoranReznik, Please provide the details about cuDNN version and also add the CUDA, CUPTI, and cuDNN installation directories to the %PATH% environmental variable.Please refer this [doc](https://www.tensorflow.org/install/gpu#windows_setup). Thanks

[2020-04-16 04:26] xunkai55 commented on #38370
Thanks for the info. We're considering the best way to support single channel images, so understanding usages are essential. That's really helpful.

What do you mean by "patching a gradle file"? If you're talking about adding a new class or modifying existing class in a gradle dependency, I googled a bit and seems there are several different ways to do that. You may need to take a look and choose

[2020-04-16 04:46] AStupidBear commented on #33138
@Leslie-Fang @jojivk73 @penpornk Why dosen't tensorflow directly call MKL-DNN's LSTM primitives? That's the fastest approach.

[2020-04-16 04:58] rgc183 commented on #38557
@jvishnuvardhan @sanjoy Could you please update on this. Thanks.!

[2020-04-16 04:59] zzj0402 commented on #38483
I find this doc relevant: https://www.tensorflow.org/api_docs/python/tf/data/experimental/TFRecordWriter

[2020-04-16 05:03] gadagashwini commented on #38571
@Samjith888, Can you share complete standalone code and Tensorflow version. Thanks

[2020-04-16 05:10] ravikyram commented on #38574
@paulhigazi

Can you please let us know which Tensorflow version you are using?.Request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).

Request you to share colab link or simple standalone code with proper indentation to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-16 05:15] ophiry commented on #33608
it works now (using 2.2.0rc3)

[2020-04-16 05:15] #33608 closed

[2020-04-16 05:23] jvishnuvardhan commented on #32895
@payne4handsome In a subclassed model, decorating call method with a tf.function is fine if you are using model.fit method. I tried a subclass model with mnist data as you had used, but used model.fit and decorated call method with tf.function and didn't notice any drop in performance. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/2aafc0386bd723d8b3f3e417198d92

[2020-04-16 05:49] payne4handsome commented on #32895
@jvishnuvardhan  I know exactly how to solve this problem. I mean this is a bug.

[2020-04-16 05:51] payne4handsome commented on #38303
@sanjoy  please help me

[2020-04-16 05:54] mgalgs commented on #38558
Same issue here, one more example program and stack trace for reference:

<details>
<summary>
convert_to_tflite.py
</summary>

[code]
</details>

<details>
<summary>output</summary>

[code]
</details>

<details>
<summary>nvidia-smi</summary>

[code]
</details>

(guessing the gpu isn't used for the conversion, but there ya go)

<details>
<summary>pip show tensorflow</summary>

[code]
</details>

[2020-04-16 06:01] viswanath27 opened #38589 "AttributeError: module 'tensorflow.python.framework.ops' has no attribute '_TensorLike'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2020-04-16 06:01] zpxp opened #38590 "TextVectorization inside TimeDistributed throws reshape error"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): docker tensorflow/tensorflow:nightly-gpu-py3 on linux
- Enviroment Capture script
<details>
  <summary>Click to expand!</summary>

== check python ===================================================
python version: 3

[2020-04-16 06:19] marimomo00 commented on #38525
I did run the /.configure, but it didn't ask for path to android SDK/NDK.
There is the .tf_configure.bazelrc file.

[tf_configure.bazelrc.txt](https://github.com/tensorflow/tensorflow/files/4485225/tf_configure.bazelrc.txt)

[2020-04-16 06:43] gadagashwini commented on #33576
@ryanmaxwell96, Please open new issue and provide all the information asked in the template. Thanks

[2020-04-16 06:47] hgffly commented on #38559
I have replaced parse_single_example with parse_example, but it raised another error

    import tensorflow as tf

    data = tf.data.TFRecordDataset(['images.tfrecord'])

    image_feature_description = {
        'height': tf.io.FixedLenFeature([], tf.int64),
        'width': tf.io.FixedLenFeature([], tf.int64),
        'depth': tf.io.FixedLenFeature([], tf.int64),
        'bboxes': tf.io.VarLenF

[2020-04-16 07:06] gadagashwini commented on #38550
Was able to replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/f90b3abd21f828db1212f4dab2a1c5d7/untitled512.ipynb). Thanks!

[2020-04-16 07:16] amahendrakar commented on #38213
Thank you for the update @zhuzilin. Marking this issue as closed.

[2020-04-16 07:16] #38213 closed

[2020-04-16 07:17] makecent opened #38591 "Make "history" return by fit store the initial losses"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, the returned `history `class by `fit` store the losses start from loss after first epoch training. Hence it doesn't contain the initial loss before training start, which is very important for investigating the influe

[2020-04-16 07:24] ManishAradwad commented on #38546
This error is due to mistake in parentheses, it should be `abs(z_{i})` instead of `abs{z_{i}}`. I'd like to fix this but I can't get that file version correctly since it's on different tag. Could you plz tell how can I get the correct file version in my local repository.

[2020-04-16 07:25] amahendrakar commented on #30315
@karimnosseir,
Works without any issues with the latest TF-nightly i.e. v2.2.0-dev20200415. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/67ba5ecd35433f7e61e5102f8d74611a/30315-tf-nightly.ipynb#scrollTo=ieAW-NK5iqpf). Thanks!

[2020-04-16 07:26] linux-cj commented on #37950
i hava same problem,i start object_dection\utils\config_util.py:
when i start this command : python train.py --logtostderr --train_dir=train_dir/ --pipeline_config_path=ssd_mobilenet_v1_coco.config
error:
Traceback (most recent call last):
  File "train.py", line 163, in <module>
    tf.app.run()
  File "E:\anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\platform\app.py", line 40, i

[2020-04-16 07:26] adfayed commented on #38432
@srjoglekar246 Apologies formatting typo in my original comment caused a step of my process to not show. I have updated it, but I am restating it here for your convenience *(following executed in TF 1.15.2 GPU).*
**I do run:**
[code]
And then I use the generated `tflite_graph.pb` as an input graph_def_file to TFLite converter following the Coral retrain object detection [tutorial](https://coral.ai

[2020-04-16 07:27] adfayed commented on #38432
By the way, while following the [link](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md) you shared, running this command *(in TF 1.12.0rc2 GPU docker image):*
[code]
Weirdly gives me this error:
[code]
Which is strange since tflite_converter is working on the same docker image. I believe tflite_convert uses toco in the backend do

[2020-04-16 07:28] museum-future commented on #35573
I got the same error using tensorboard with conda and tf 1.15, have to downgrade protobuf to 3.8

[2020-04-16 07:30] 17patelumang opened #38593 "Create serving graph separately from training"
OS Platform and Distribution : macOS Catalina 10.15.3

TensorFlow installed from : binary

TensorFlow version : 1.15.0

Python version: 3.7.3

Can we get example of this - https://cloud.google.com/ai-platform/prediction/docs/exporting-savedmodel-for-prediction#create_serving_graph_separately_from_training  , its not very clear from docs

I basically have checkpoint file and what to convert that in

[2020-04-16 07:37] xserraalza commented on #31115
Thanks for the quick response! I hadn't noticed the link (it points to the wrong url!), I have now tried it, and it gives me an error on the first node processed:

`
(1, 224, 112, 16)
(1, 16, 112, 112)
(1, 16, 224, 112)
Traceback (most recent call last):\
  File "quantize_tf_model.py", line 42, in <module>\
    assert out_trans.shape == sess.graph.get_tensor_by_name(n_org.name+':0').shape\
Asserti

[2020-04-16 07:45] freddan80 commented on #38563
Hello,

Thanks for reporting this issue! It should be fixed by this PR: https://github.com/tensorflow/tensorflow/pull/38123 (got merged just recently). Remember to clean the downloads folder by typing:

`make -f tensorflow/lite/micro/tools/make/Makefile TAGS=cmsis-nn TARGET=sparkfun_edge clean_downloads`

Cheers!

[2020-04-16 07:47] anishchopra commented on #28007
Also having the same issue using TF 2.1. Works fine on a machine with just a CPU, but fails on a machine with a GPU, even when using `with tf.device('/cpu:0')`. Would appreciate an update this asap.

[2020-04-16 08:03] gadagashwini commented on #36601
@khaledxdelahkk , can you share your error log and system information. Thanks

[2020-04-16 08:08] cciprianmihai commented on #35754
@cossio I am trying to install `tf 2.x` via `conda`, but I am receiving a different error for both versions: `tf 2.0.0` and `tf 2.1.0`.

I saw that there is another possible way of solving this, by installing `tf 2.1.0` using `pip` as:
[code]

Is this a proper way of doing it?

Thank you!

[2020-04-16 08:09] gadagashwini commented on #38578
@domindominik,
As the error says Could not load dynamic library 'libcudart.so.10.1, you may have to install CUDA 10.1.
Similar issue [#34759](https://github.com/tensorflow/tensorflow/issues/34759).

[2020-04-16 08:17] riestiyazain opened #38594 "C++ compilation of rule '//tensorflow/core/kernels:sparse_redu ce_op' failed (Exit 1)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9 (stretch),

[2020-04-16 08:20] gadagashwini commented on #38589
@viswanath27,
Provide the exact sequence of commands / standalone code to reproduce the issue.Thanks

[2020-04-16 08:23] wuliytTaotao commented on #35754
@cciprianmihai Use `conda install` instead of `pip install`, and you should set the version of TF, like `conda install tensorflow-gpu=2.1` for TF 2.1 GPU version.

[2020-04-16 08:28] gnehsuy opened #38595 "网络爬虫核心技术教程，点此获取☞"
![c5896b844e918f67269114e6c3174ad](https://user-images.githubusercontent.com/13401581/79433137-594fa000-7fff-11ea-8fcd-24c4514acf7c.png)

[2020-04-16 08:30] wileeam commented on #38305
This error also shows up with the TensorFlow version `2.2.0rc3`

[2020-04-16 08:34] bentyeh opened #38596 "Keras fails to account for smaller last batch in loss metric calculation"
## System information
- OS Platform and Distribution: Google Colab Notebook
- TensorFlow version (use command below): 2.2.0-rc2
- Python version: 3.6

## Describe the current behavior

In `tf.keras` models, the `model.test_step()` method (which is called by `model.fit()` and `model.evaluate()`) incorrectly computes the mean loss over all batches in an epoch when the dataset size is not evenly divi

[2020-04-16 08:39] viswanath27 commented on #38589
Hi Ashwini,
Please find the below code snippet for the error shown above.

from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential

TRAIN = 'data/train'
TEST = 'data/test'
JSON_FILE = './model/model.json'
HDF5_FILE = './model/model.h5'
EPOCHS = 15
BATCH_SIZE = 32
STEPS_PER_EPOCH = 130
VALIDATION_STEP

[2020-04-16 08:41] bentyeh commented on #35533
Please take a look at issue #38596, linked above. I believe this is the underlying issue for why the Keras `model.fit()` method computes the wrong epoch loss.

[2020-04-16 08:42] drezap commented on #31945
Was this bug ever fixed?

I'm happy to do a PR if someone can tell me what unit test needs to be written.

I'm having exact the same issue with custom gradients: my loss requires instantiation of a temp variable. The workaround above didn't work for me.

Wasn't able to fix locally and try it out because I can't do a local build due to some bazel issue similar to here, even though I've just downgra

[2020-04-16 08:43] bentyeh commented on #38165
Please take a look at issue #38596, linked above. I believe this is the underlying issue for why the Keras `model.evaluate()` and `model.fit()` methods produce different values for different `batch_size` argument values.

[2020-04-16 08:43] bentyeh commented on #35585
Please take a look at issue #38596, linked above. I believe this is the underlying issue for why the Keras `model.fit()` method computes the wrong epoch loss.

[2020-04-16 08:44] bentyeh commented on #38004
Please take a look at issue #38596, linked above. I believe this is the underlying issue for why the Keras `model.evaluate()` method computes the wrong loss.

[2020-04-16 08:45] #38574 closed

[2020-04-16 08:47] karansaxena opened #38597 "NotFoundError: Op type not registered 'SentencepieceOp' in binary"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.2 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.6.10
- CUDA/cuDNN version: CUDA 10.2
- GPU model and memory: Tesla V100-SXM2-32GB

**Describe the current behavior**
NotFoundError: Op type not registered 'SentencepieceOp' in binary running on 42c9348a7

[2020-04-16 08:51] StephanIFX commented on #38563
allready fixed indeed.

Thanks for pointing out.

[2020-04-16 08:51] #38563 closed

[2020-04-16 08:53] chrisyeh96 commented on #38596
Experiencing the same bug here. Can confirm and reproduce using the code shared above.

[2020-04-16 08:55] Dobiasd opened #38598 "Memory-leak-like behavior on subsequent predictions (since TF 2.1.0)"
The following minimal example produces (and logs) continuous memory growth:

[code]

[Output](https://gist.githubusercontent.com/Dobiasd/09c63fbbf6ec11e2aa631f6f4b8adf2f/raw/ce410998c82bcc514a516617a69975208a9f26c0/gistfile1.txt):

[code]

The situation can also be created using Docker by running `docker build -t deleteme .` with the following `Dockerfile`:

[code]

The problem persists even when

[2020-04-16 09:04] ravikyram commented on #38448
@Victor-Almeida

I have tried on colab with TF version 2.2.0-rc2 and i am seeing different error message (`AttributeError: 'list' object has no attribute 'shape'`).Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/06c8135bfdd56551f130dd2607b55f52/untitled777.ipynb). Thanks!

[2020-04-16 09:04] didi789 opened #38599 "Image segmentation model"
I'm trying to implement the image segmentation model in my android application, using tflite -

https://github.com/tensorflow/examples/tree/master/lite/examples/image_segmentation/android
https://www.tensorflow.org/lite/models/segmentation/overview

And I wonder if there is any other model that I can use instead of the deeplabv3_257_mv_gpu.tflite model, [I saw this project on GitHub ](https://gith

[2020-04-16 09:10] zaccharieramzi commented on #38561
@ngc92 yes this is a fair workaround. However there are cases where you would want to use `predict` for the callbacks or the batch size.

The second option you provided didn't work straight out of the box, but you can try things in tf 2.2 in colab: https://colab.research.google.com/drive/1MfRPQyRhjrF7he7fymoIEG7k64YCd0Da

You will notice that in the case of `evaluate` and I guess `train` if you fe

[2020-04-16 09:17] paulbauriegel commented on #31115
@xserraalza I'm happy to help, but open an issue here: https://github.com/paulbauriegel/tensorflow-tools/issues I don't think here is the perfect place to discuss why the script fails.

[2020-04-16 09:25] lintian06 commented on #38402
Hi Amit,

The problem is from bazel, the build tool. The latest bazel remove this attributes "aapt_version". I guess you must be using bazel >= 2.0.

As TensorFlow has a minimum version requirement of 0.19, it is [this](https://github.com/tensorflow/tensorflow/commit/c5dce1fd008d7e13ea8b735b80281867a38c9aef) causing the breaking change with the bazel, while our dependency didn't update it.

**A qu

[2020-04-16 09:29] fxtentacle commented on #38230
http://colab.research.google.com/gist/fxtentacle/0c19dc1ce013f4f98ff57b1261d4b644/tf_hang.ipynb

Expected result: It prints "................................done".

Actual result: It freezes. Repeatedly clicking the Stop button produces "The executing code is not responding to interrupts."

FYI, the tf.py_function is necessary because tf.image.extract_patches cannot handle Tensor inputs for sizes.

[2020-04-16 09:31] NLP-ZY commented on #38596
I agree the loss should weight by batch size, but I don't think the big gaps loss between model.fit with GradientTape is cause by this. you can try with my code [https://github.com/tensorflow/tensorflow/issues/35585#issuecomment-575504201](url), I discover, if you want to get same metrics between GradientTape with model.fit , you should set GradientTape's epochs bigger than model.fit, like the epo

[2020-04-16 09:41] fxtentacle commented on #38230
Actually, I believe I might be seeing two different bugs being triggered randomly, because while this example surely freezes the runtime, my stack trace caught it freezing inside a Conv2D Op, while the Python example here does not include any Conv2D ops.

[2020-04-16 09:41] Saduf2019 commented on #38597
@karansaxena
This issue is more suitable for TensorFlow Hub repo. Please post it on [TF Hub repo from here](https://github.com/tensorflow/hub/issues). Thanks!

[2020-04-16 09:43] amahendrakar commented on #38595
@gnehsuy,
Is this issue related to TensorFlow?

If it is, could you please edit the details and fill in the issue template? Thanks!

[2020-04-16 09:45] Saduf2019 commented on #38593
@17patelumang
this issue is a duplicate of #38588, hence moving this to closed status as it would be traced in #38588

[2020-04-16 09:45] #38593 closed

[2020-04-16 09:45] zjw-swun commented on #38595
if you want qia fan ,please get out

[2020-04-16 09:47] fxtentacle commented on #38230
The above example freezes on:
- TF 2.0 recompiled with CUDA 10.1 on my machine
- '2.1.0' PyPI package on my machine
- '2.2.0-rc2' on Colab
- '2.2.0-dev20200415' on Colab

[2020-04-16 09:48] zpxp commented on #38590
Using the same `TextVectorization` layer configuration plus a `Flatten` without the `TimeDistributed` works properly so im pretty sure its configured properly

[code]

[2020-04-16 09:50] Saduf2019 commented on #38576
@dupree
can you please share a simple standalone code for us to replicate the error faced.

[2020-04-16 09:51] BrettDong commented on #38595
This is a spam

[2020-04-16 09:52] Saduf2019 commented on #38169
@ijalalfrz
please update as per above comment

[2020-04-16 09:53] Saduf2019 commented on #38219
@Mahati04
please update if this is still an issue

[2020-04-16 10:08] olesalscheider commented on #32895
I tried it locally and I can also observe a difference in accuracy. I wonder where it comes from.

Regarding the performance of tf.function: Are you talking about additional compile time in the beginning or about training performance? If training performance suffers that would be good to know... Even in tf-addons there are some functions that are decorated with tf.function (see also the discussion

[2020-04-16 10:09] mylesshie commented on #38595
bitch

[2020-04-16 10:15] ArefAz commented on #26375
I have the same problem here.

My laptop has a 960m gpu but it runs tensorflow object detection model training faster than google colab. Am I missing something or is it just normal of free google colab?

[2020-04-16 10:32] MihailMihaylov97 commented on #35925
I also have the same issue.
Is there a solution to integrating the tf.data API and the tf.Dataset (with tfrecords) with fit function of tf.keras.Model ?

[2020-04-16 10:44] al0ne commented on #38595
bitch

[2020-04-16 10:56] fesun commented on #14232
In case someone else is also confused by this, TF has the ability to propagates cluster spec automatically. For example the ps servers can boot without knowing any worker devices.
See #38519

[2020-04-16 11:18] ravikyram commented on #37620
I have tried on colab with TF version 2.1.0, 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ae978fd07b63367d1af63d53a4a5a03a/untitled779.ipynb). Thanks!

[2020-04-16 11:26] gadagashwini commented on #37824
Closing this issue since its not related to Tensorflow. Please post this issue in TFJS repo.
Thanks

[2020-04-16 11:26] #37824 closed

[2020-04-16 11:27] gadagashwini commented on #37869
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 11:27] #37869 closed

[2020-04-16 11:36] gadagashwini commented on #37957
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 11:36] #37957 closed

[2020-04-16 11:42] yeliex commented on #38595
@amahendrakar this is an ad, please close it

[2020-04-16 11:44] gadagashwini commented on #38044
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 11:44] #38044 closed

[2020-04-16 11:53] ravikyram commented on #38591
@MakeCent

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-04-16 11:58] ranitomeya opened #38601 "Symbol not found: ____chkstk_darwin"
Hi!

I am trying to install TensorFlow on an older desktop Mac (no GPU or anything other fancy stuff). It's the first time I am doing that, so maybe I'm just being dense, but installation completed without error yet TensorFlow cannot be loaded (see below). I have no idea what may be wrong and would appreciate any type of help.

Frank

**System information**

- OS Platform and Distribution (e.g., L

[2020-04-16 12:06] wangweitong commented on #37945
git@github.com:wangweitong/recommend_system.git

Thanks but it's not working,maybe I use that with wrong way,the code in the repository,you can
run it with tensorflow 2.1 ,the py's code name DeepFM_TensorFlow.py, data and code  are ready for
debugging,you can try it.

[2020-04-16 12:07] wangweitong commented on #37945
git@github.com:wangweitong/recommend_system.git

Thanks but it's not working,maybe I use that with wrong way,the code in the repository,you can
run it with tensorflow 2.1 ,the py's code name DeepFM_TensorFlow.py, data and code are ready for
debugging,you can try it.

[2020-04-16 12:12] ravikyram commented on #38596
I have tried on colab with TF version 2.2.0-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ae42f851c0f6ee95183e5998ede1c390/untitled780.ipynb). Thanks!

[2020-04-16 12:13] MerenguesGeek commented on #33183
It's works for me, thanks.

[2020-04-16 12:15] amahendrakar commented on #31298
@nguerinjr,
Two of the code samples which you have provided work without any issues with the latest TF-nightly i.e. TF v2.2.0-dev20200416.

For the first two samples, I'm facing an error stating `IndexError: list index out of range`.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/34a61b44d8345cfa53d720e268bf9b2e/31298-tf-nightly.ipynb#scrollTo=hDtMnuD42hsu).

[2020-04-16 12:17] dupree commented on #38576
@Saduf2019  Thanks for the response. I am following the example shared here :
[tf_example_url](https://github.com/tensorflow/examples/blob/master/tensorflow_examples/lite/model_maker/demo/text_classification.ipynb)

The only change I am doing is in the block of data parsing, as following :
[code]

I am following the precise folder structure as followed by aclIMDB dataset.
`class_labels=['accept',

[2020-04-16 12:23] amahendrakar commented on #38581
@ludakas,
I tried to reproduce the issue, but I did not observe much difference between the two. Here are the logs
 - Using tf.keras
[3365956, 3592952, 3592952, 3592952, 3592952]

- When Keras is imported directly
[3597388, 3722468, 3722468, 3722468, 3722468, 3722468, 3722468, 3722468, 3722468, 3722468, 3722468, 3723300, 3723300, 3723300, 3723816, 3723816, 3723816, 3723816, 3723816, 3723816, 37238

[2020-04-16 12:31] domindominik commented on #38578
@gadagashwini how to fix it without install oldest Cuda version? When Tensorflow will start supporting Cuda 10.2?

[2020-04-16 12:48] amahendrakar commented on #38590
@zpxp,
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/fa10f2eb79edb9c194a16aba4d98b2e7/38590.ipynb), [TF v2.2.0rc3](https://colab.research.google.com/gist/amahendrakar/9ccc8464d42d29b368b92d164a584c63/38590.ipynb#scrollTo=l-CsInZN9wUg) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/4478a3642fab1d4aed69d8777eaf612a/tf-nightly

[2020-04-16 12:49] czczup commented on #38397
I solved this problem using other framework.

[2020-04-16 12:49] #38397 closed

[2020-04-16 12:52] amahendrakar commented on #38595
Not a TensorFlow issue, hence marking it as closed.

[2020-04-16 12:52] #38595 closed

[2020-04-16 12:53] FabHub commented on #35925
@F-29 @MihailMihaylov97, I only used @jguhlins solution. I created simple data generator function that iterates over dataset, yields tuple (x, y) and created dataset like this: tf.data.Dataset.from_generator(generator_function ...). Unfortunately in my case, I had to create data that are in uniform shape and store them on a disk prior to train process, couldn't cut the samples in my case on-the-fl

[2020-04-16 12:55] jeantil88 opened #38602 "compilation error"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7 Professional
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): SHA
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): STM32F746 discovery kit

**Describe the problem**
Error during compilation
**Please provide the exact seque

[2020-04-16 12:57] Sahel-Eskandar commented on #37748
Can you help me with this issue? I am new in this territory and need more explanation.
I run:
bazel build //tensorflow/tools/pip_package:build_pip_package
and I get these errors:

INFO: Call stack for the definition of repository 'local_config_cuda' which is a cuda_configure (rule definition at C:/users/asus/tensorflow/third_party/gpus/cuda_configure.bzl:1243:18):
 - <builtin>
 - C:/users/asus/ten

[2020-04-16 12:57] DipakDA opened #38603 "tensorflow.python.framework.ops"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-04-16 13:11] julian-urban commented on #36705
@shariq-audiofocus Thanks for the workaround, I'll try it out. I guess you can train your network as desired and then embed the learned weights into layers of varying size. It's a shame though that such a simple model requires this amount of hacking to get it to run. I'm not a particular fan of the documentation either, the available information is really sparse and scattered. I suppose the Edge T

[2020-04-16 13:20] liaow commented on #38595
YELVERTON

[2020-04-16 13:37] ravikyram commented on #38532
@SMatusik

I tried reproducing the issue and i am seeing the below error message `(ImportError: cannot import name 'string_int_label_map_pb2'`).Request you to help me with the reproducible code which helps me in localizing the issue. Thanks!

[2020-04-16 13:43] jvishnuvardhan commented on #26375
@ArefAz Can you please create an issue with `colab` repository [here](https://github.com/googlecolab/colabtools/issues). thanks!

[2020-04-16 13:48] khaled-besrour commented on #37748
Please open I new issue.

Anyway, I think that the problem come from the global environment, have you add the MVSC_tool to your path?

and if so check if you have the cl.exe file inside it

[2020-04-16 13:49] abhilash1910 commented on #38459
Hi @siavash-khodadadeh , @ymodak ,@khimraj ,@amahendrakar in the latest nightly release- tf-nightly 2.2.0.dev20200416 the issue is present. I found that according to this commit :https://github.com/tensorflow/tensorflow/commit/84f2ec1d60b5bb14a59ccef8f8fa7eb5a1096e8f#diff-ef8609a43751227afcaacc838670a96f    on  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_impl.py

[2020-04-16 13:50] jvishnuvardhan commented on #38432
@adfayed Are you using `2.2.0.dev20200401` or `TF1.12`?. There is no `contrib` in `TF2.x`. mixing `TF1.x` and `TF2.x` will throw errors as there is a compatibility issue. Thanks!

[2020-04-16 13:52] northtree commented on #34707
At this moment, GCF supports latest version of pip, which is `20.0.2`.

You could verify via this GCF.

[code]

Deploy and test. `gcloud functions deploy pip_version --runtime python37 --trigger-http`

Moreover, your statement about TF2 is also not true. From [GCP blog](https://cloud.google.com/blog/products/ai-machine-learning/how-to-serve-deep-learning-models-using-tensorflow-2-0-with-cloud-func

[2020-04-16 14:12] siavash-khodadadeh commented on #38459
@abhilash1910
I wanted to ask a question. When we set the momentum to zero during training=True, we expect the moving mean and moving variance to be updated based on just the latest batch the model sees. Is that correct?

[2020-04-16 14:37] jvishnuvardhan commented on #32895
@mdanatg Can you please take a look at this issue? Any insights on the root-cause of the issue. Thanks!

[2020-04-16 14:46] 17patelumang commented on #38588
@Saduf2019 thank you for reply , any update on this ticket since other one was closed ?

[2020-04-16 14:50] sayakpaul commented on #38232
So, this problem is going to persist?

[2020-04-16 14:52] plaffitte commented on #18394
Does anyone know if this has been taken care of in tf 2 ?

[2020-04-16 14:52] amitDaMan commented on #38402
Okay, I will try again with an old version of bazel.

I have edited the C++ code so I can pass in which device to use (nnapi, gpu, cpu, number of threads, etc), and I have added a few instrumented tests. So, that would require me to rebuild the AAR.

I have some related questions.

In android studio the default build tool for jni/native apps is CMAKE, and android studio has tooling such that, I ca

[2020-04-16 15:03] alextp commented on #31945
Can you file a separate issue with instructions to reproduce your problem?

On Thu, Apr 16, 2020 at 1:42 AM Andre Zapico <notifications@github.com>
wrote:

--
 - Alex

[2020-04-16 15:08] guatavita opened #38605 "Adam optimizer behavior between W10/Dell and Ubuntu/DGX"
Hello,

I am working on semantic segmentation of 2D/3D images for medical applications and I have a Dell workstation with a Quadro GV100 32Go for development and DGX servers (workstation and server) with 4 and 8 Tesla V100 DGXS (32Go) for model deployment, training, parameters optimization, ...

The Dell and the DGX's use Tensorflow 1.15.x with the only differences being that the Dell run Windows

[2020-04-16 15:12] siavash-khodadadeh commented on #38459
Thank you for your response, @abhilash1910. Just wanted to make sure that I understood it accurately.

[2020-04-16 15:13] amalroy2016 commented on #35533
@gadagashwini @ NLP-ZY I could solve my issue by using tf.gradients instead of using GradientTape inside a function decorated with tf.function.

[2020-04-16 15:13] dynamicwebpaige commented on #34961
Linking a [community-built implementation of EfficientDet in TF 2.x](https://github.com/Guillem96/efficientdet-tf) in the interim. Thanks, @Guillem96!

[2020-04-16 15:20] mathemakitten opened #38606 "Inconsistent behaviour when passing arguments to experimental_run_v2 (strategy.run) between TPU and CPU"
**System information**

Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Debian GNU/Linux 9.11
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
TensorFlow installed from (source or
binary): binary
TensorFlow version (use command below): 2.2.0.

[2020-04-16 15:23] cmichelenstrofer commented on #36227
@agarwal-ashish The requirement is for non-scalar output and no batches. Very high-dimensional input and output spaces. And I need the Jacobian of all outputs w.r.t. all inputs (no batch Jacobian). I was under the impression that the full Jacobian needed to be computed as an intermediate step even when using a scalar output (a scalar output is after all one extra step in the forward model). This s

[2020-04-16 15:24] Guillem96 commented on #34961
@dynamicwebpaige I am still working with it. My intention is to override `train_step` method of my EfficientDet class, [just as tf 2.2.0 style](https://twitter.com/fchollet/status/1250622989541838848?s=19) , and get the `.fit` method extra features (TPUDistribute strategy, logging, callbacks,...) for free.

Thanks for linking my implementation here 😃

[2020-04-16 15:37] joaocaldeira opened #38607 "Gradients do not exist for variables manually added to wrapper layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): binary
- TensorFlow version: v2.1.0-rc2-17-ge5b

[2020-04-16 15:46] adfayed commented on #38432
@jvishnuvardhan No no, I am using TF 1.15.2 GPU for all of this (retraining, generating frozen graph, and attempting conversion to TFLite). I tried the latest TF nightly for the new experimental TF Lite converter added functionality for RCNNs but with no luck.

Can you please reply to my previous comment before that? That is the important one :)
Running tflite_convert as per the detect tutorial on

[2020-04-16 16:02] mihaimaruseac commented on #37950
Please fill in issue template

[2020-04-16 16:02] joaocaldeira commented on #38607
Operations were being carried out "outside of the gradient tape". Hat tip to Tom Charnock for the explanation. Working version in:
https://colab.research.google.com/drive/19Q3rERNHQMrV9nM_BNp61byyH0_VE0YP

[2020-04-16 16:02] #38607 closed

[2020-04-16 16:20] jvishnuvardhan commented on #33250
@KLzC As the error shows, some of the ops are outside of the session graph. So I arranged ops under same same and everything works as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/382ab1f45023244d3e21230e79861948/untitled94.ipynb). Thanks!

Please close the issue if this was resolved for you. Thanks!

[2020-04-16 16:23] martinwicke commented on #18394
@plaffitte what are you referring to? I don't think there are open issues (at least not from this thread).

[2020-04-16 16:25] mihaimaruseac commented on #19297
This looks like something that should be done in the function passed to [`init`](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/c/experimental/filesystem/filesystem_interface.h;l=286-289;drc=12d516b9cd7a7954fa79cccfe645564837cc4d23).

In the plugin, you can have a private struct that keeps these pointers (naked pointer should be ok, I don't see a reason to have them be `std

[2020-04-16 16:32] jvishnuvardhan commented on #33210
@agchitu This was also resolved in `TF1.15.2`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/9e5b51ae2ce340597321dedb4e8913e0/untitled95.ipynb).

Please verify once and close the issue. Thanks!

[2020-04-16 16:34] srjoglekar246 commented on #38432
It doesn't seem to me that the model is quantized. This might be why the convertor is complaining about min/max data etc.

For float models, the params should look something like this:

[code]

[2020-04-16 16:38] plaffitte commented on #18394
@martinwicke Sorry for not being clear, as far as I am aware the only option out there to achieve early stopping in tf2 is by using `tf.estimator.experimental.stop_if_no_decrease_hook` but I was wondering if this is stable and working and if there was another solution to this.

[2020-04-16 16:49] mihaimaruseac commented on #38557
We no longer support versions of TF below 1.15. As such, we no longer patch those versions.

You could try compiling from source, but we won't be able to provide guidance in case of compile errors either.

TF 2.2 which will be released this week/early next week (RC releases are already out) is performance focused and should have significant performance gains.

[2020-04-16 16:52] mihaimaruseac commented on #38552
Just to verify, did you use TensorFlow 1.5.0? That is very old and not supported

Do you need to use that version? Or is switching to 1.15 or later possible?

[2020-04-16 16:54] mihaimaruseac commented on #38494
Recommend switching to 1.15 or later. If you need to use 1.12, please make sure you use the latest patch available, since we have fixed several security vulnerabilities that could produce core dumps.

[2020-04-16 16:54] dreamer-sakshi commented on #17101
https://www.youtube.com/watch?v=O8yye2AHCOk

[2020-04-16 16:55] mihaimaruseac commented on #38517
It seems that mkl-dnn redid their release and have different hash now than the one we mirrored. Unfortunately, the mirror is read-only by design, so all you can do is locally change the hash

[2020-04-16 16:56] mihaimaruseac commented on #38460
Can you try 1.15 or later? 1.14 has been released in a bad state and should be skipped if possible.

[2020-04-16 16:58] mihaimaruseac commented on #38477
You will have to also build the shared object for the filesystem and then load it in the binary via `load_library`.

[2020-04-16 16:58] WhiteAzzan opened #38608 "After quantifying the model, the speed of model inference slows down"
Today, I learned how to use tensorflow Lite to quantify the model. I ran the code in the example. I found that the model inference speed after quantification is 0.3 seconds slower than the original model. Is this normal? I firstly do it and who can answer, thank you~~~

[2020-04-16 16:58] mihaimaruseac commented on #38468
Closing as the issue is that %PATH% is not updated to contain the needed libraries, thus not a TF issue

[2020-04-16 16:58] #38468 closed

[2020-04-16 17:00] mihaimaruseac commented on #38306
Our build scripts are [in the repo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/ci_build/release).

By default, compiling the pip package should build the manylinux pip.

[2020-04-16 17:03] amahendrakar commented on #33419
Was able to reproduce the issue with TF v2.2.0-rc3. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/34b87b5dae09d70149d9c7cec162e230/33419.ipynb). Thanks!

[2020-04-16 17:06] martinwicke commented on #18394
@karmel to keep me honest.

It should work and it is stable in a sense that we're not planning to
remove it or change it. You can also always write your own hook with custom
behavior.

On Thu, Apr 16, 2020 at 9:38 AM Pierre Laffitte <notifications@github.com>
wrote:

[2020-04-16 17:07] vpirogov commented on #38517
This is unintended result of repository migration from intel/mkl-dn to oneapi-src/oneDNN. The source code blob includes metadata that include repo name.

[2020-04-16 17:10] WhiteAzzan commented on #38608
i use tensorflow-gpu-1.14 and quantify to int8 and float16

[2020-04-16 17:18] WhiteAzzan commented on #38608
I just got promoted. I found that their speed was almost the same. Is this because of the version? But there was no significant increase in speed.

[2020-04-16 17:18] wangtz commented on #38496
+1 for what Fredrik mentioned. This operator is not yet supported. Let's wait for The PR above to land.

[2020-04-16 17:18] WhiteAzzan commented on #38608
I just got promoted to tensorflow-gpu-1.15. I found that their speed was almost the same. Is this because of the version? But there was no significant increase in speed.

[2020-04-16 17:20] Sarvagya2009 commented on #38552
@mihaimaruseac
I changed it to a later version but still same thing and on trying to build from source and installing bazel, I got the aforementioned error.

[2020-04-16 17:21] amahendrakar commented on #37892
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 17:21] #37892 closed

[2020-04-16 17:22] Sarvagya2009 commented on #38552
On trying on a different machine with x86_64, tensor-flow was installed successfully. So I think this problem was because of i686 architecture.

[2020-04-16 17:22] amahendrakar commented on #38075
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 17:22] #38075 closed

[2020-04-16 17:24] wangtz commented on #38039
Ah that's an interesting point. If the shape is not known in advance (nullptr in the flatbuffer), TFLM interpreter won't be able to pre-calculate the memory usage for allocation. TFLite workaround this limitation by running prepare method to re-calculate the output shape for each layer, which is not support in TFLM.    I would suggest to investigate why the shape is undermined in the model.

[2020-04-16 17:25] amahendrakar commented on #38097
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 17:25] #38097 closed

[2020-04-16 17:27] amahendrakar commented on #38117
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 17:27] #38117 closed

[2020-04-16 17:29] amahendrakar commented on #38126
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-16 17:29] #38126 closed

[2020-04-16 17:31] amahendrakar commented on #38167
Any updates regarding this? Thanks!

[2020-04-16 17:32] amahendrakar commented on #38222
Any updates regarding this issue? Thanks!

[2020-04-16 17:34] amahendrakar commented on #38257
Any updates regarding this issue? Thanks!

[2020-04-16 17:34] Samjith888 commented on #38571
Here i have three .py files.

[code]
[code]

[code]

I'm getting the error in `'probabilities =second_model.predict([x])'` in second_predict.py file

**Environment**
Python = 3.7
Tensorflow = 1.14.0
keras =2.3.1

Note : This error is not on the trained models, i have already tested successfully by executing these models individually.

[2020-04-16 17:34] amahendrakar commented on #38359
Any updates regarding this issue? Thanks!

[2020-04-16 17:35] amahendrakar commented on #38365
Any updates regarding this issue? Thanks!

[2020-04-16 17:35] amahendrakar commented on #38383
Any updates regarding this issue? Thanks!

[2020-04-16 17:43] aluamine commented on #23198
Hello!

I stumbled on this post, and I know that it has been closed for more than a year now. However, I got the same problem when using 3D CNN with Keras on my machine.
The weird thing is that when checking the memory allocation on my machine it does not even get close to saturation before this OOM error appears.
I have 64 GB of RAM, 2 GPUs (NVIDIA Quadro P5000). The GPUs have a dedicated memory

[2020-04-16 17:48] lingjiekong commented on #38370
Sorry about the confusion and I was talking about modifying gradle dependency. I was initially wondering that whether I can directly apply a patch during the build to modify the necessary files. However, it looks like the easiest way is to add as an external library and the modify.
https://stackoverflow.com/questions/16588064/how-do-i-add-a-library-project-to-android-studio/16639227#16639227
https

[2020-04-16 17:48] #38370 closed

[2020-04-16 17:50] PeterBrummer commented on #38064
@Tuxius and others which stuck until this bug is fixed:
I had the same issue  and I found that my validation data set had less samples as the batch_size.  Because I'm working with TFRecords-data-sets which have no meta data about how many records, i.e. samples, are in the data set I check now upfront whether the data set  contains at least batch_size records (samples).

For that I use the followin

[2020-04-16 17:55] qlzh727 commented on #38211
Thanks for reporting the issue, it seems to be a bug in layer weight tracking logic. There are a few walkaround at the moment when we fix the issue:

1. Change the base class to tf.keras.Model, which currently track the weights correclty.
2. Use layer.add_weights() and append the result into your list, which also will do the correct thing.

[2020-04-16 17:57] ludakas commented on #38581
Thank you @amahendrakar. It seems to me that you did not run the cells in order. The list with memory usage should be logged every 10 epochs (`if epoch % 10 == 0:`) in the tf.keras (upper) part, but in your logs it is being logged every 50 epochs as it is in the bottom part (functioning when keras is imported directly).

When I run the first 4 cells of your gist without any changes, I get the foll

[2020-04-16 17:59] Victor-Almeida commented on #38448
That error happened because I edited the notebook after sending the link and tried to print the shape of a list, but lists don't have shape.

I solved the problem by setting the shape of the tensor manually using ``tf.ensure_shape``, but it should be investigated why the sparse tensor outputted by ``ctc_loss`` has shape ``(None, None)`` when converted to a dense tensor.

[2020-04-16 18:00] boscoj2008 commented on #15604
I found that my runtime on colab was not using GPU that's how come I got my error

[2020-04-16 18:10] YingzhouLi commented on #38211
Thank you. It is good to know that the issue is not caused by some unknown nature of python. The workaround works for me and look forward to the update.

[2020-04-16 18:13] mdanatg commented on #32895
@omalleyt12 and I spoke and we believe the difference is owed to the final Softmax layer.

In general, softmax with cross-entropy loss is prone to numerical instabilities, and the usual practice is to omit the softmax activation and use `tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)`. Normally, Keras will replace that automatically for you, but when you wrap the code with `tf.fun

[2020-04-16 18:24] DeivydasLipskis opened #38609 "Docker ERROR: Could not find a version that satisfies the requirement tensorflow-cpu"
I am trying to build a docker image and when the docker build reaches the tensorflow-cpu requirement, I get the following error:

[code]
Here is my Dockerfile:

[code]

May I ask what should I run to install tensorflow? My application must run on Python 3.6. I am new to Docker, this is my first build. Also, I have tried commenting out tensorflow, but I am receiving the same error with numpy.

I ha

[2020-04-16 18:30] amahendrakar commented on #38609
@DeivydasLipskis,
Could you please check [this comment](https://github.com/tensorflow/tensorflow/issues/37316#issuecomment-595389330) from a similar issue and let us know if it helps? Thanks!

[2020-04-16 18:33] karimnosseir commented on #38113
1) If you're converting the model with SELECT ops, you will need to use the tensorflow-lite-select which has the TF ops
See https://www.tensorflow.org/lite/guide/ops_select#running_the_model

2) Regarding the conversion issue, FusedBatchNormV3 should be supported. Can you share details about the params to the FusedBatchNormV3 op in the model. Also, which version are you using, it doesn't look from

[2020-04-16 18:39] karimnosseir commented on #38348
When you enable SELECT_TF_OPS the converter adds to the model the op as an a custom op to be consumed by TF(Select) delegate.
You will need to use the AAR that supports SELECT and it should work.
See instructions
https://www.tensorflow.org/lite/guide/ops_select
For running the converted model see this section https://www.tensorflow.org/lite/guide/ops_select#running_the_model

If you want to write

[2020-04-16 18:42] anantvir opened #38610 "How to right pad data in Tensorflow Transform to feed into a LSTM ?"
I am building a data pipeline using Tensorflow Transform using Apache Beam. Inside the preprocessing function I am generating vocabulary which is converting my input sentences to list of integers.
My data has 3 features:
Column 1 = Context (dtype = String) (Sentences of varying Length)
Column 2 = Utterance (dtype = String) (Sentences of varying Length)
Column 3 = Label (0/1)
I want to right pad my

[2020-04-16 18:43] DeivydasLipskis commented on #38609
I have added the line to my dockerfile:

`RUN python3.6 -m pip install --upgrade pip`

But the error is still the same:
[code]
Unfortunately, it did not help.

[2020-04-16 18:43] MeghnaNatraj commented on #38232
@sayakpaul Could you link your github issue here? Or post more details as a comment? Ideally, this should not occur for any stable version of TensorFlow.

[2020-04-16 18:54] shariq-audiofocus commented on #27880
Thanks for the update @alanchiao ! Which version of TF are the changes in the video in?  I didn't see the changes mentioned in these release notes: https://github.com/tensorflow/tensorflow/releases

[2020-04-16 18:54] sayakpaul commented on #38232
I just replied via the Google Group discussion.

Sayak Paul | sayak.dev

On Fri, 17 Apr 2020, 00:13 Meghna Natraj, <notifications@github.com> wrote:

[2020-04-16 18:59] alanchiao commented on #27880
For general documentation, refer to the TFMOT documentation and Github since the tool is installed via the TFMOT pip package, not TensorFlow.

See the [overview page](https://www.tensorflow.org/model_optimization/guide/quantization/training#api_compatibility) for what versions of TF can be used. This is also mentioned in the [release notes for TFMOT](https://github.com/tensorflow/model-optimizatio

[2020-04-16 19:03] alanchiao commented on #27880
In general for documentation, if you think certain aspects could be more visible/easier to find, we welcome feedback. You'll see from the documentation that there are different types of users, and we tried to make the documentation accommodate all of them.

[2020-04-16 19:04] Saduf2019 commented on #15845
@shradhab
please update as per above comment,

[2020-04-16 19:05] almois opened #38611 "transformers.modeling_tf_utils - loading weights file from cache at None (!)"
Hi, desperately need your help!
We are trying to run TF and transformers (bert-multilingual-base-uncased) in our docker environment. Starting the training, we are getting the following error:

`INFO     transformers.modeling_tf_utils  - loading weights file https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-multilingual-uncased-tf_model.h5 from cache at None`

This happens, however, onl

[2020-04-16 19:06] Saduf2019 commented on #17823
@voegtlel
please let us know if this is still an issue

[2020-04-16 19:08] karimnosseir commented on #30315
Thanks for confirming. I am closing the issue. Please feel free to reopen/create a new one if you have any problems.

Thanks

[2020-04-16 19:08] #30315 closed

[2020-04-16 19:11] voegtlel commented on #17823
@Saduf2019 Well, the issue was fixed some time ago, so this can be closed I guess.

[2020-04-16 19:11] #17823 closed

[2020-04-16 19:16] lravano commented on #27880
Hi @alanchiao,
i built an NN with BatchNormalization layer  and i have tried to quantize the whole model for EdgeTPU application. But it doesn't work. I'm using tfmot 0.3.0 and tensorflow 2.1.

This is the error

[code]
and the code

model = create_model()
latest = tf.train.latest_checkpoint(checkpoint_dir)
#model.load_weights(latest)

[code]

[2020-04-16 19:20] alanchiao commented on #27880
@lravano and others.

Please reference the [overview page](https://www.tensorflow.org/model_optimization/guide/quantization/training#api_compatibility) to see what is supported currently.

Then if something is supported but you're facing an issue, file a bug request. If it's not supported, file a feature request, ideally with the motivation (e.g. what model you are trying to apply quantization to,

[2020-04-16 19:29] agarwal-ashish commented on #36227
Gradient functions are implemented as vector-jacobian products, and they often use tricks for more efficient computation which avoids creating jacobian matrices.
GradientTape.Jacobian still builds upon those tricks, but effectively it is now running many of the vector-jacobian computations, which it vectorizes for 5-10x speedups.

[2020-04-16 19:29] #36227 closed

[2020-04-16 19:51] amitDaMan commented on #38402
Fresh projects with no code changes:

I used bazel 1.2.1 on windows, and I get some error related to com_google_protobuf.
Is this project supported on windows?

On ubuntu I had 3.0.0 installed, I then used "sudo apt-get --purge remove bazel" to uninstall.
Then followed:
https://docs.bazel.build/versions/master/install-ubuntu.html
to install bazel-1.0.0, and then I renamed it to bazel in usr/bin/
a

[2020-04-16 19:52] mihaimaruseac commented on #35381
Estimator 2.2.0 has been released and it also has the gpu counterpart. When TF 2.2.0 gets released (very soon now, probably by Monday), this should be fixed.

[2020-04-16 20:04] csmcallister commented on #35630
Chiming in because I am receiving this same `OutOfRangeError` on Windows 10 with:

[code]

The offending file is `tensorflow_datasets\downloads\images.cocodataset.org_zips_train2017aai7WOpfj5nSSHXyFBbeLp3tMXjpA_H3YD4oO54G2Sk.zip`.

I can provide the full traceback if you'd like, but it's the same as the one above and I'd rather not spam the issue.

[2020-04-16 20:11] matheushent commented on #38518
Facing the same issue when trying to define a tf variable.

`learning_rate = tf.Variable(initial_value=0.0001, trainable=False, dtype=tf.float32)`

[2020-04-16 20:24] reedwm commented on #38357
In practice, I have never seen losses or intermediate gradients so large that they overflow in float16 when the loss scale is 1. The max float16 value is 65504, which be an enormous gradient. The reason the loss scale cannot go below 1 is that conceptually the purpose of a loss scale is to avoid underflow.

@nluehr, @benbarsdell, any thoughts on having a loss scale below 1? I don't think this woul

[2020-04-16 20:47] lintian06 commented on #38402
Hi Amit,

For your Ubuntu case, I also find this too: libs/cc/testdata/BUILD is mistakenly removed. Here is the content:
[code]

(Requires [step 1](https://github.com/tensorflow/examples/blob/master/lite/examples/smart_reply/android/how-to-build.md#step-1-download-pre-built-aar-package-containing-custom-ops) to download smartreply.tflite to that testdata folder)

It fixes the problem from my side.

[2020-04-16 20:51] MihailMihaylov97 commented on #35925
@FabHub thank you for the reply. I switched to tensorflow estimators, and it works just fine.

[2020-04-16 20:58] mortalrahu opened #38612 "No Upsampling2D layer in Tensorflow C++"
I am Rahul, an M.Sc. in Digital Engineering student at University of Magdeburg, Germany. I am currently pursuing my master thesis and it involves developing a U-Net (a neural network designed for biomedical image segmentation, you can read more about it here : https://arxiv.org/pdf/1505.04597.pdf). And deploying/loading it in a C++ Application. The U-Net has a couple of layers namely Concatenate,

[2020-04-16 21:09] amitDaMan commented on #38402
Okay, I will add the missing project files... and see if that works...

Any further comments on my previous questions would be appreciated.

[2020-04-16 21:20] domindominik opened #38613 "in train_validation_split raise ValueError( ValueError: `validation_split` is only supported for Tensors or NumPy arrays, found: (array([[[[0.24705882]"
**PyCharm
Debian 10.3
Python 3.8.2
Cuda 10.2
cuDNN 7.6
Quadro K5200d drivers 440.82
Tensorflow 2.2.0-rc2**

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D
import pickle

pickle_in = open('X.pickle', 'rb')
X = pickle.load(pickle_in)
pickle_in = open('y.pickle', 'rb')
y = pickle.load(pickle_in)
X = X/255.0

[2020-04-16 21:32] jvishnuvardhan commented on #32895
With the modifications suggested by @mdanatg results are much better and are similar to the other approach (without @tf.function). I am getting accuracy around 97% in 15 epochs. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d801056670534d90b75a899c56ec11f2/untitled92.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-04-16 21:34] ckkuang commented on #35942
@CalebEverett For saving and loading across different strategies, can you try it in tf 2.2? It might haven been fixed. BTW when using load_weights / checkpoint.restore, if the model that you are restoring into was created in a scope (potentially different than the save scope) then you need to call restore within that scope.

[2020-04-16 21:35] ckkuang commented on #35942
@murdav can you post the colab link that leads to this error?

[2020-04-16 21:37] yonghenghuanmie commented on #33267
Same problem on tensorflow 2.1.
Can't understand why ......

[2020-04-16 21:48] MaximusFred opened #38615 "Not able to import tensorflow"
**System information**
- OS Platform: Windows10
- TensorFlow installed from (source or binary): Installed tensorflow with Python's pip package manager
- TensorFlow version: tensorflow 2
- Python version: Python 3.7.4
- Installed using virtualenv? pip? conda?: pip 20.0.2
- Bazel version (if compiling from source): No
- GCC/Compiler version (if compiling from source): No
- CUDA/cuDNN version: No
- G

[2020-04-16 21:52] nagisa commented on #38460
The SIGSEGV is still present when running 1.15. This is fairly apparent by just reviewing code but I ran the test case "just in case" and it still reproduces:

[code]

[2020-04-16 22:03] rodrigoruiz commented on #38414
@saikumarchalla Also, I don't think it's a performance issue, since it works for a few epochs, I think it's more like a memory leak.

[2020-04-16 22:09] bayesian-mind commented on #26833
What happened with this, did anyone find the solution? I am encountering the same issue while converting the .pb model to .tflite using `TFLiteConverter.from_frozen_graph`.

[2020-04-16 22:30] holokai-ai commented on #37376
@karimnosseir Sure enough, after I recompiled from ac271534, RESHAPE is folded in and there's only one DSP Delegate graph now.

Will post-training quantization support for Hexagon Delegate be part of TF 2.2.0 ?   Right now I don't see the relevant commits in r2.2.   The last commit in the Hexagon Delegate for r2.2 is from Feb 27.

Thanks!

[code]

[2020-04-16 22:37] shradhab commented on #15845
Support available

[2020-04-16 22:37] #15845 closed

[2020-04-16 22:39] smreichling commented on #36111
I had this exact issue. On Windows 10, installed CUDA 10.1, python 3.7, tensorflow 2.1, PATH variable set correctly, but was still seeing this error.

The problem turned out to be that the version of python I had installed was the one from the Microsoft Store and _not_ the one from python.org. As it turns out, apps installed from the Microsoft Store are sandboxed. Windows restricts where they can

[2020-04-16 22:41] gunan commented on #36111
@smreichling I was not aware of this. Thank you very much for the detailed analysis!
We should definitely document this in our installation documentation.
@lamberta where does this information best fit in our documents?

[2020-04-16 22:46] #38448 closed

[2020-04-16 23:10] zzj0402 commented on #38483
## Save/Load functions
[code]

## Dataset
[code]

## Reproduction Code
[code]

## Error
[code]

[2020-04-16 23:26] guptapriya commented on #36846
@ianferreira in your pasted code, you have `BATCH_SIZE=10000`. is that intentional? MNIST only has 60k examples, which is probably why it is running out of data when you try to run a few steps. The tutorial shows BATCH_SIZE=64.

[2020-04-16 23:26] #36846 closed

[2020-04-16 23:29] lgeiger opened #38617 "[2.2rc3] Distibuted training with Keras and ThreadPoolDataset runs out of memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0rc3 and tf-nightly
- Python version: 3.7
- CUDA/cuDNN version: 10.1 / 7.6.5.32
- GPU model and memory

[2020-04-16 23:30] lgeiger commented on #36240
For reference I opened a new issue at #38617 explaining the behaviour.

[2020-04-17 00:21] dfalbel opened #38618 "Keras ProgbarLogger: OverflowError: cannot convert float infinity to integer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab

**Describe the current behavior**

It seems that if, at some time accuracy is equal 0 this code will error and stop training.

With TF 2.2-rc3 the following piece of code returns an error:

[code]

**Describe

[2020-04-17 00:26] ethanyanjiali commented on #36505
Having a same issue here, except that I'm load a big SavedModel and it's extremely slow. Downloading the same model with gsutil is much faster so it rules out the problem of the network.

[2020-04-17 00:28] ymodak commented on #38569
Can you try using [export_tflite_ssd_graph](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_ssd_graph.py) instead to convert your model in to `.pb` and try converting to tflite?

[2020-04-17 00:40] aman2930 commented on #37637
It's the `gym` package which is causing the issue. Seems that it's latest version is not compatible with tensor2tensor.
Try installing `pip install --user --upgrade gym==0.14.0` onto VM with TF1.15. And it should be working.

[2020-04-17 01:05] tensorflowbutler commented on #27875
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-17 01:05] tensorflowbutler commented on #38129
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-17 01:05] tensorflowbutler commented on #37706
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-17 01:13] ymodak commented on #38556
You have to use `tf.Variable` function instead of `tf.get_Variable`. I made a toy example to show `tf.control_dependecies` behavior.
[code]
output:
[code]

[2020-04-17 01:18] ymodak commented on #38540
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-04-17 01:18] #38540 closed

[2020-04-17 01:24] Conchylicultor commented on #38617
Yes, I think those arguments are obsolete and should be removed. Thank you for your PR

[2020-04-17 01:28] ymodak commented on #38482
Yes you can use TF 2.1 with cuda 10.0 as well. I will add TF 1.15 cuda info on the website.
You have to build TF from source for supporting cuda version other than the ones we already support.
This procedure is time consuming and often stressful for users. So we recommend installing tf using pip packages (pre built tf binaries). The only caveat here is that users have fix their environment as per

[2020-04-17 01:33] terryheo commented on #38510
Is this what you're looking for?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/minimal/BUILD

[2020-04-17 01:43] zhao1157 commented on #38556
@ymodak Thanks, it solved my problem. I know there are some differences between `tf.get_variable()` and `tf.Variable()` about variable sharing, but should control dependencies be one of them?

[2020-04-17 01:43] vnvo2409 commented on #19297
Thank you. I have misunderstood the usage of `const TF_Filesystem* filesystem`

[2020-04-17 01:53] SungmanHong commented on #28287
In TF 2.x, there is no session(). how to I fix it? same problem is happen in my TF 2.x code.

[2020-04-17 01:59] NLP-ZY commented on #35533
@amalroy2016 Thanks, can you give some example?

[2020-04-17 02:20] zhao1157 commented on #38556
@ymodak I just found another problem with `control_flow_ops.with_dependencies`.

    import tensorflow as tf
    from tensorflow.python.ops import control_flow_ops
    tf.reset_default_graph()
    a = tf.constant([2,3], dtype = tf.float32)
    b = tf.constant([4,5], dtype = tf.float32)
    c = tf.multiply(2., a)
    d = tf.multiply(3., b)

    f = tf.subtract(a, b)
    control_flow_ops.with_depend

[2020-04-17 02:26] libphy commented on #35876
Perhaps now the requested features are available: https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/keras/wrappers/scikit_learn.py#L225

[2020-04-17 02:44] sumanthratna commented on #27120
I know there's been a workaround suggested, but it didn't work, so does anyone have ideas for my situation?

My issue is that I need to create three different instances of the same class (I'm not using Keras) for a single training run. I tried to use a wrapper function like the following:
[code]
This didn't solve the problem—now the error is occurring at `return tf.Variable(tf.random.uniform((K, N

[2020-04-17 03:17] alex283h commented on #27880
Hello!
For example, I made this command:

model = create_model()
quant_aware_model =tfmot.quantization.keras.quantize_model(model)
quant_aware_model.summary()

But how will I able to convert this model with uint8 format?
This look as float format:
converter = tf.lite.TFLiteConverter.from_keras_model(quant_aware_model)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
quantized_tflite_model = co

[2020-04-17 03:24] Leslie-Fang commented on #38612
@mortalrahu There is a workaround I used to use which combines the API of
[code]
you can take a try

[2020-04-17 03:30] jvishnuvardhan commented on #38134
@yskale Can you please check the GPU compatibility [here](https://www.tensorflow.org/install/source#gpu). Did you build tensorflow from source or binary?

tensorflow-2.1.0 | 2.7, 3.5-3.7 | GCC 7.3.1 | Bazel 0.27.1 | 7.6 | 10.1
-- | -- | -- | -- | -- | --

In this issue, you mentioned `CUDA/cuDNN version: 10.5` but nvidia-smi showed `NVIDIA-SMI 440.33.01 Driver Version: 440.33.01 CUDA Version: 10.2

[2020-04-17 03:32] SangamSwadiK opened #38619 "InvalidArgumentError: 2 root error(s) found. (0) Invalid argument: indices[39,107] = 85525 is not in [0, 85525) [[node model_5/embedding_8/embedding_lookup (defined at <ipython-input-203-ee38e6490bb7>:2) ]] [[model_5/embedding_8/embedding_lookup/_14]] (1) Invalid argument: indices[39,107] = 85525 is not in [0, 85525) in Colab ."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-04-17 03:38] gadagashwini commented on #38603
@DipakDA, Please fill the issue Template. Thanks

[2020-04-17 03:39] khimraj commented on #38615
@MaximusFred, one solution is downloading and installing visual studio 2015-2019 x86 and x64 from here:[https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
Other solution is downgrading tensorflow to 2.0:
`pip install tensorflow==2.0`

[2020-04-17 03:39] jz1998 commented on #38482
I have rolled back to cuda 10.0, TF-GPU 1.15 can work with gpu well, but TF 2.1 can't, like the bug like i put forwoard first in TF 1.5 once. i think i can solve this by downgrading to TF 2.0, is it right? but you said can use TF 2.1 with cuda 2.1, there must be something i did wrong in this process.

Building TF from source means i should do as [https://www.tensorflow.org/install/source_windows?]

[2020-04-17 03:45] khimraj commented on #38610
@anantvir, you can right pad a sequence using following code.
[code]

[2020-04-17 04:12] jvishnuvardhan commented on #37988
@jwlawson Can you please check @omalleyt12 comments and let us know whether it was resolved for you or not. Please close the issue if this was resolved for you. Thanks!

[2020-04-17 04:19] gadagashwini commented on #38357
I could replicate the issue with Tf 2.2rc2.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/d0a5487ee6374076d6c7d6d3a6f20098/untitled509.ipynb). Thanks

[2020-04-17 04:21] TBAALi commented on #37988
I

[2020-04-17 04:22] saikumarchalla commented on #32902
@ophiry I think the issue is resolved and closing this as of now. Please feel free to reopen the issue if you still have a concern.Thanks!

[2020-04-17 04:22] #32902 closed

[2020-04-17 04:23] ravikyram commented on #38552
@Sarvagya2009

Glad to know it worked.Please close this thread if it solves your question. Thanks!

[2020-04-17 04:37] Navya-reddy-r commented on #374
it still didn't work for me

[2020-04-17 04:39] anantvir commented on #38610
That was my question. To use pad_sequences, the sequences argument should be a list of sequences
example
[
  [83, 91, 1, 645, 1253, 927],
  [73, 8, 3215, 55, 927],
  [71, 1331, 4231]
]
In my case I do not have this list. What I have is a tensor. Because it is inside the preprocessing_fn in Apache Beam pipeline. Please see the code screenshot attached.

[2020-04-17 04:41] Saduf2019 commented on #38518
@matheushent
please share standalone code for us to replicate the issue faced

[2020-04-17 04:41] anantvir commented on #38610
This is my dataset. I want to feed both "Context" and "Utterance" column into a LSTM.

![image](https://user-images.githubusercontent.com/27782859/79532773-24b20780-8044-11ea-8a28-e113ca9183cd.png)

[2020-04-17 04:47] ravikyram commented on #38129
@tianhuat

Any update on this issue please. Thanks!

[2020-04-17 04:48] Saduf2019 commented on #38611
@almois
issue reported does not seem related tensorflow, please share steps executed/code before this error was faced.

[2020-04-17 04:54] Saduf2019 commented on #38617
@lgeiger
as there is a pr monitoring the issue, please let us know if we can move this to closed status

[2020-04-17 05:05] ravikyram commented on #38615
@MaximusFred

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download [the latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, please

[2020-04-17 05:07] peakji opened #38620 "Mask missing in restored Keras SavedModel"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **macOS 10.15.4** and **Linux Ubuntu 18.04**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **v2.1.0-rc2-17-ge5bf8de410 2.1.0** and **v2.2.0-rc3**
- Python ve

[2020-04-17 05:33] gadagashwini commented on #38618
Was able to reproduce the issue with Tf2.2.rc3.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/616b04d15c11f18a139348b142c17414/untitled513.ipynb). Thanks!

[2020-04-17 05:39] sataliulan commented on #36083
hi, bro. I've got the same issue today, my original tensorboard verion is 2.1.0, but my tensorflow version is 1.15. I downgraded the tensorboard verion as 2.0.0, got an error like " ERROR: tensorflow-gpu 1.15.0 has requirement tensorboard<1.16.0,>=1.15.0, but you'll have tensorboard 2.0.0 which is incompatible." ,so I install a new version tensorboard  fowllowing the cmd: pip install tensorboard==

[2020-04-17 05:57] terryheo commented on #38397
That list of supported ops is bit outdated. You can find the actual list from https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/common/model_builder.cc#L2447

I've tested the model_instance_norm and it works well with GPU delegate.
In Pixel 4, GPU takes 15ms while CPU takes 263ms.
It might be worth to try it with recent TFLite versions.

[2020-04-17 06:03] ravikyram commented on #38620
I have tried on colab with TF version 2.1.0 , 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/2bfd3ff096ee1f5a05413a4544152ca2/untitled781.ipynb). Thanks!

[2020-04-17 06:08] czczup commented on #38397
Which version do you use?

[2020-04-17 06:09] ravikyram commented on #38210
@roymiles
This issue was resolved in  TF version 2.2.rc1 .Please verify once and close the issue. Thanks!

[2020-04-17 06:18] terryheo commented on #38397
I used master branch.

[2020-04-17 06:18] xserraalza commented on #31115
I managed to make it work changing the order of the strides. Thank you for your work :)

[2020-04-17 06:21] ravikyram commented on #38054
@nihil0
Is this still an issue?.
Please close this thread if the issue was resolved. Thanks!

[2020-04-17 06:24] guptapriya commented on #36224
@rodyt we are unable to reproduce this problem with the code snippet you provided. Is it possible that there is a driver/hardware issue with one of the GPUs?

@VyBui please file a separate ticket for your issues - there could be many different reasons for getting a NaN. If you file a separate ticket with your code to repro, setup etc, that can help us look into that issue.

[2020-04-17 06:27] zoomself commented on #38619
try this   tf.keras.layers.Embedding(input_dim = vocab+1,...)

input_dim: int > 0. Size of the vocabulary,
      i.e. maximum integer index + 1.

[2020-04-17 06:42] guptapriya commented on #35705
Hi - we believe this should be fixed in the TF nightly (or you can also try with https://pypi.org/project/tensorflow/2.2.0rc3/) . Please re-open if not fixed.

[2020-04-17 06:42] #35705 closed

[2020-04-17 06:43] ravikyram commented on #35493
Issue replicating when tried replicating for code given in the gist of colab for TF 2.2.0-rc3.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/6baee6feddff579b09550fef5cb6bb4a/untitled782.ipynb). Thanks!

[2020-04-17 06:54] JonathanDZiegler commented on #38348
Thank you for your reply. Sadly, the python implementation is still under active development. Hoping something will be available soon. Otherwise I will try the C++ implementation. If possible, I would leave this thread open and report back, as soon as any progress has been made?

[2020-04-17 07:01] fsx950223 opened #38621 "TopKV2 comp"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-04-17 07:08] drezap opened #38622 "tf.custom_gradient expects an additional output when declaring temp Variable()"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-04-17 07:14] Piyush008 opened #38623 "Tensor eats up all my memory in gpu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-17 07:31] RoshanBaghwar commented on #32147
pip install tensorflow==2.0.0a0

[2020-04-17 07:33] RoshanBaghwar commented on #32147
Python 3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\rosha\.conda\envs\MachineLEarning\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal im

[2020-04-17 07:35] jetou opened #38624 "tf.keras h5 file to pb xx is not in graph"
my tensorflow version is 2.1, i want from tf.keras .h5 model transform to pb file. but i get follow  issues.

[code]

[code]
AssertionError                            Traceback (most recent call last)
<ipython-input-10-ec0ab52adbd4> in <module>
      3
      4 frozen_graph = freeze_session(tf.compat.v1.keras.backend.get_session(),
----> 5                               output_names=[out.op.name for

[2020-04-17 07:35] Lannister-Xiaolin commented on #28007
### I have the same error, but error raised when I use tensorflow serving（GPU VERSION）
my model incude function below:
[code]

It's ok to delopy with serving cpu, but got error with gpu like below:

`'{ "error": "2 root error(s) found.\\n  (0) Invalid argument: 2 root error(s) found.\\n  (0) Invalid argument: During Variant Host->Device Copy: non-DMA-copy attempted of tensor type: string\\n  (1) I

[2020-04-17 07:35] danbricedatascience commented on #35934
@ymodak I have the same issue, it's easy to reproduce because it's happened when I have old models created and saved with Keras (with TF 1.14 as backend) I try to import in TF 2.1 with tf.keras.

The tf.keras import works with TF 2.0.

To reproduce, train and save anything with Keras (not tf.keras) with TF 1.14 as backend, and try to import with tf.keras under TF 2.1

[2020-04-17 07:37] RoshanBaghwar commented on #21977
This worked for me;

Python 3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\rosha\.conda\envs\MachineLEarning\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_t

[2020-04-17 07:37] bentyeh commented on #33009
@rchao @MProx Still getting this error with TensorFlow version 2.2.0-rc3 on Google Colab. See this [gist](https://colab.research.google.com/gist/bentyeh/5a624a95f8614a7d140592e62b7967fa/tf_keras_issue33009.ipynb).

[2020-04-17 07:42] meteorcloudy commented on #38507
Yeah, the problem is we never have the debug build running on CI, so it could easily be broken.
But it's definitely possible to fix the source code to make it work.

[2020-04-17 07:53] beeb opened #38625 "ImageDataGenerator complains about lack of stratification but I'm doing regression"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `yes` but it's basic
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `macOS 10.15.4`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): `binary`
- TensorFlow version (use

[2020-04-17 07:53] WenguoLi opened #38626 "Add Post-training integer quantization converter for depth_to_space"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.15.2 / 2.1

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter i

[2020-04-17 08:03] Leslie-Fang opened #38627 "feature_column._is_v2_column always return true"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.1
- Python version: 3.6.8

[2020-04-17 08:03] dimitree54 commented on #28007
I am also facing this issue on GPU (no error on CPU) when using to map_fn for string tensor (with float tensor all right):
[code]
I do not know why, but for me manually placing map_fn on cpu AND making mock return from tf.function helped:
[code]

[2020-04-17 08:05] meowcat opened #38628 "Autograph unrolling for loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows, Linux on cluster
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7
- CUDA/cuDNN version: reproducible on C

[2020-04-17 08:07] MaximusFred commented on #38615
Hi,

Thanks for your help.
I did have Visual C++ x64 installed but not x86.
After installation of Visual C++ x86, I could import tensorflow.

Big thank you!
Fredrik

Den fre 17 apr. 2020 kl 05:39 skrev Khimraj <notifications@github.com>:

[2020-04-17 08:07] Leslie-Fang commented on #38627
Check the code in https://github.com/tensorflow/estimator/blob/7ec4e5d9160c8a924d50c062b38c5153c4c86f29/tensorflow_estimator/python/estimator/canned/linear.py#L418-L445

feature_column_lib.is_feature_column_v2(feature_columns) seems always return true in the
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/feature_column/feature_column_v2.py

[2020-04-17 08:11] ravikyram commented on #38624
@jetou

Looks like code is incomplete. Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-04-17 08:14] MaximusFred commented on #38615
Thank's for your help.
It was solved by installing both x64 and x86 of Visual C++. Earlier I had only x64.
//Fredrik

[2020-04-17 08:26] jetou commented on #38624
https://drive.google.com/open?id=1F5qT5y_rG8sIyYOJNDpz-QsgRNACgPtf

[2020-04-17 08:29] OswinGuai commented on #24761
@majiali1995 Have you solved that problem? I met this in the unit test.

[2020-04-17 08:32] beeb commented on #38625
Looks like a problem in `keras-preprocessing` which is already reported here https://github.com/keras-team/keras-preprocessing/issues/214

[2020-04-17 08:32] #38625 closed

[2020-04-17 08:33] yanghzcc opened #38629 "Does not have sufficient slices for partitioned tensor"
https://stackoverflow.com/questions/56930685/pywrap-tensorflow-checkpoint-reader-fails-for-ftrl-states-of-partitioned-variabl
i meet the same problem, can anyone solve it? thanks

[2020-04-17 08:50] stefan-falk commented on #27949
@alextp any chance you can take a look a my example?

I just don't see the problem here. I made two simple examples. One simple XOR and one simple LSTM for a word-completion task. The XOR works as it should but the word-completion keeps throwing this error on me.

## Not working: Word Completion

The exception I am getting:

[code]

<details>
  <summary>Click to show code</summary>

[code]
</detai

[2020-04-17 08:54] QuarTerll commented on #26769
the same issue, but in my case, it trained and predict successfully.

However, I think this problem may affect the speed of detection.

Wait for updates

[2020-04-17 08:56] lgeiger commented on #38617
@Saduf2019 @Conchylicultor is refering to the PR on the [TensorFlow Datasets repo](https://github.com/tensorflow/datasets/pull/1893). This doesn't solve the underlying issue in TensorFlow though, so this issue is not resolved.

[2020-04-17 08:57] Saduf2019 commented on #38629
@yanghzcc
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Also include your TensorFlow version.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-04-17 09:11] A12-RUI commented on #38526
TensorFlow version is gpu-1.10.0 ,and the python version is 3.6 .I runed a SSD-MobileNet modle several days ago ,and found many errors ,including ModuleNotFoundError: No module named 'tensorflow.python._pywrap_tfe'.

[2020-04-17 09:14] stefan-falk opened #38631 "ValueError: No gradients provided for any variable"
I just don't see the problem here, so I created two simple examples. One simple Feed Forwad network to solve XOR and one simple LSTM for a word-completion task. The XOR works as it should but the word-completion keeps throwing the `ValueError` and it's not clear _why_.

**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from

[2020-04-17 09:22] A12-RUI commented on #38526
My tensorflow version is gpu-1.10.0 and the python version is 3.6 . The error is :ModuleNotFoundError: No module named 'tensorflow.python._pywrap_tfe', I have tried to solve this problem ,but I can not find this file from your github and I can not find someone have the solution.

[2020-04-17 09:26] gdhy9064 opened #38632 "Some bugs of CategoricalCrossentropy and SparseCategoricalCrossentropy in tf.keras.losses"
It seems that there are some bugs of CategoricalCrossentropy and SparseCategoricalCrossentropy. The codes below will go wrong in tensorflow with version 2.2.0rc2.
1. Error of no gradients provided with categorical crossentropy .
[code]
and the same with the code below
[code]
2. Showing error that 'Sparse ops are not supported with functional models with built-in layer wrapping...' with sparse cate

[2020-04-17 09:26] rishabhsahrawat commented on #38540
My question was about the alternative ways mentioned in the TF documenatation, but OK. 👍

[2020-04-17 09:36] Shiwank19 commented on #34607
Decreasing the tensorflow version to version 1.14.0 by command pip install tensorflow == 1.14.0 solved the issue for me

[2020-04-17 09:40] SangamSwadiK commented on #38619
@zoomself  Thanks for replying !!! I tried it , but still getting the error, Strangely the error disappears if I run it in tensorflow 2.1,
And I also went through similar issues,
1) [https://github.com/tensorflow/tensorflow/issues/23698](url)
2) [https://stackoverflow.com/questions/59867929/invalidargumenterror-2-root-errors-found-incompatible-shapes-in-tensorflow-t](url)

[2020-04-17 09:42] ai-jit opened #38633 "How does the "tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td" file generated?"
How does the "tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td" file generated?

[2020-04-17 09:44] lvzlmaster commented on #38596
I've met the same situation, and In my code, the loss by model.fit is much bigger than using GradientTape.

[2020-04-17 09:57] ai-jit commented on #38633
@jpienaar Hi, is there any script in TF to generate the contents in "tensorflow/compiler/mlir/tensorflow/ir/tf_generated_ops.td" ?

[2020-04-17 09:57] #37815 closed

[2020-04-17 10:09] AlexanderJLiu opened #38635 "How to Save Model with TF2.x Keras Multiworker Distributed Training?"
**Description:**

I've created a  `Keras` model, and trained it with `multiworker distributed strategy`.

Every worker uses the same python scripts for training. I uses `model.save` function for model saving with the same `hdfs path`.

After training, every worker would try to save model to the `path`, and it will cause race condition, because all of them want to handle the same `variables files`.

[2020-04-17 10:12] AlexandreK38 commented on #37110
@Artaches did you just add `adsl` headers or code/library too? I added the headers to the includes as you but my Android project fails when running on `tflite::InterpreterBuilder(*model, resolver)(&interpreter);`

[2020-04-17 10:15] DominikManiak opened #38636 "ImportError: DLL load failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-04-17 10:18] Lannister-Xiaolin commented on #28007
is this valid in tensorflow serving gpu?

[2020-04-17 10:21] ravikyram commented on #38628
@meowcat

I tried to reproduce the issue in colab with TF 2.1.0.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/686c5a13c62ef638a6f7004d2781ac8b/untitled784.ipynb). Is this the expected behavior?.Thanks!

[2020-04-17 10:22] #38210 closed

[2020-04-17 10:24] dimitree54 commented on #28007
@Lannister-Xiaolin, I have not tried. I run program locally, without wrapping map_fn in keras.layer (as in your example).

[2020-04-17 10:24] #38621 closed

[2020-04-17 10:30] fsx950223 opened #38637 "Why there are serveral topkv2 ops"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-04-17 10:36] takakihagen commented on #36423
Hello, I got a similar error with Pytorch.
I am new to TensorFlow but have experience with Pytorch.

I have...
- Windows 10
- NVIDIA GTX 1050 4G and CUDA v10.1
- PyCharm as IDE
- TensorFlow 2.1.0

In my cases, I could solve those errors by simply generating a small tensor on the GPU.
In this TensorFlow case, I run the following python code on the terminal
[code]

Unfortunately, I cannot explain wh

[2020-04-17 10:50] alexNgari commented on #32868
Facing a similar issue here. In tf1.15 on calling fit, the training step runs smoothly in the first epoch then breaks at the validation step. fit without validation runs smoothly all the way.
In tf2.2, the error pops up in fit method, with or without validation.

[2020-04-17 10:51] amahendrakar commented on #38613
@domindominik,
In order to reproduce the error, could you please share both the pickle files you are using in the code? Thanks!

[2020-04-17 10:59] razvancraciun commented on #28840
I am having the same issue, trying to use tf.make_ndarray in tf.Dataset.map call

[2020-04-17 11:02] gadagashwini commented on #38578
@domindominik, To use CUDA 10.2 with Tensorflow 2.2. Please build the Tensorflow from source.
Follow the instructions mentioned [here](https://www.tensorflow.org/install/source). And also take a look at this [comment.](https://github.com/tensorflow/tensorflow/issues/38194#issuecomment-609922803)Thanks

[2020-04-17 11:07] meowcat commented on #38628
Hi,

yes, your gist reproduces the bug correctly. Specifically, the first iteration of the `decode_beam_forloop` takes 14 seconds, and it produces an `events.out.tfevents.....v2` with 3.5MB file size.

[2020-04-17 11:10] ravikyram commented on #38624
I have tried on colab with TF version 2.1.0, 2.2.0-rc3 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/884adce46883d11342c8c4e14b887cbb/untitled785.ipynb). Thanks!

[2020-04-17 11:16] ravikyram commented on #38633
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-04-17 11:26] ai-jit commented on #38633
OK. Thanks anyway.

[2020-04-17 11:26] #38633 closed

[2020-04-17 11:27] hyungui commented on #27880
@alex283h
[code]
When I tried this example code with `tf2.1`, it returns all weights with float32.
If I tried this with `tf-nightly`, all the weights are converted to int8 except input and output layers.

By the way, I still wonder there is an option to convert the input/output layers to `uint8`.
Also for me, the below code doesn't work.

[code]

[2020-04-17 11:36] amahendrakar commented on #38619
@SangamSwadiK,
I was able to run the example given on Keras without any issues. However, while running the sample code you have provided I'm facing an error stating `NameError: name 'vocab' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a23b2ad04bb953e42c9534c68d8b22eb/38619.ipynb#scrollTo=n_cot3240tQl&line=4&uniqifier=1).

In order to expedi

[2020-04-17 11:37] domindominik commented on #38613
import numpy as np
import matplotlib.pyplot as plt
import os
import cv2
import random
import pickle
from tqdm import tqdm

DATADIR = '/home/dominik/PetImages'
CATEGORIES = ['Dog', 'Cat']

for category in CATEGORIES:
    path = os.path.join(DATADIR, category)
    for img in os.listdir(path):
        img_array = cv2.imread(os.path.join(path, img), cv2.IMREAD_GRAYSCALE)
        plt.imshow(img_array,

[2020-04-17 11:44] ravikyram commented on #37614
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-17 11:44] #37614 closed

[2020-04-17 11:47] A12-RUI commented on #38526
Yes , I need to run a modle using this version of tensorflow .And code is:

# Copyright 2019 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable

[2020-04-17 11:48] amahendrakar commented on #38623
@Piyush008,
Could you please check [this TensorFlow guide](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) to limit the GPU memory growth and let us know if it helps? Thanks!

[2020-04-17 11:49] ravikyram commented on #37805
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-17 11:49] #37805 closed

[2020-04-17 11:51] ravikyram commented on #37750
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-17 11:51] #37750 closed

[2020-04-17 11:54] ravikyram commented on #37854
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-17 11:54] #37854 closed

[2020-04-17 11:56] ravikyram commented on #38073
@vk1z

Any update on this issue please. Thanks!

[2020-04-17 11:59] #27875 closed

[2020-04-17 12:00] bigcola317 opened #38638 "Dilated convolution pass not working on standard TCN model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (or github SHA if from source): 17dfa4e121c080a547e9cf6443b8fe2ae9ed45ed

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

[2020-04-17 12:00] ravikyram commented on #38174
@eScribMac

Any update on this issue please. Thanks!

[2020-04-17 12:08] vk1z commented on #38073
Will do on the weeend. Apologies.

[2020-04-17 12:40] kureta commented on #34371
This issue still persists. Am I missing something? Is recursive globbing support dropped or something like that? Thanks.

[2020-04-17 12:59] shiningrain opened #38640 "K.cast_to_floatx() will convert "None" to "Nan" and lead the ReLU to Nan output."
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Linux Ubuntu 18.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  1.14.0-cpu
- Python version:  3.6.9
- CUDA/cuDNN version:  -
- GPU model and memory:  -

**Describe the current behavior**

I found that if I used `ReLU(threshold = N

[2020-04-17 13:12] khimraj commented on #38636
@DominikManiak, one solution is downloading and installing visual studio 2015-2019 x86 and x64 from here:[https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
Other solution is downgrading tensorflow to 2.0:
`pip install tensorflow==2.0`

[2020-04-17 13:38] dimtass commented on #30953
Hi @freddan80, I've run another round of benchmarks after I've ported the current stable 2.1.0 version. I've updated the repo [here](https://github.com/dimtass/stm32f746-tflite-micro-mnist). Before list the performance results, these are some comments regarding the new version:

- More kernels are supported for cmsis-nn, which is great
- I don't get any errors now when I load the optimized model,

[2020-04-17 13:38] cs-mac commented on #35930
I also have this issue, anyone know a solution yet?

[2020-04-17 13:48] Leslie-Fang commented on #38627
The issue is fixed in TF2.2.0rc3 with tf-estimator-2.2

[2020-04-17 13:48] #38627 closed

[2020-04-17 13:49] lintian06 commented on #38402
Bazel is the open source build tool by Google, which supports cross platforms and language compilation. The BUILD of Bazel resolves external dependencies from other libraries. TensorFlow uses this, so if your changes need to depends on deep changes or customization related, it is recommended. (FYI, we are planning to provide more examples with other build system, in particular for those example ap

[2020-04-17 13:58] plaffitte commented on #18394
@martinwicke Ok I understand, the reason I was asking is because it doesn't to be doing anything in my case and since it's in the experimental module I was wondering if it was working at all.
Also, in general, I find it very weird that tensorflow does not have a built-in early stopping mechanism, or something more accessible as a class in the main package.

[2020-04-17 14:05] bj1123 commented on #35930
@cs-mac
'''

def load_weights(model,save_path):
    hf = h5py.File(save_path, 'r')
    for i in model.trainable_weights:
        res = hf.get(i.name)
        res = tf.convert_to_tensor(np.array(res))
        if res.shape == i.shape:
            i.assign(res)
'''

[2020-04-17 14:17] amahendrakar commented on #38632
The CategoricalCrossentropy sample code works with TF v2.1 but fails with TF v2.2.0-rc3 and TF-nightly. Whereas code for SparseCategoricalCrossentropy fails with all three versions. Please find the attached gist below
- TF v2.1
https://colab.research.google.com/gist/amahendrakar/9593cd3693f10da12f4c8eea9cecc735/38632-2-1.ipynb

- TF v2.2.0-rc3
https://colab.research.google.com/gist/amahendrakar/70

[2020-04-17 14:23] ckyleda commented on #36596
I have a similar issue trying to compute gradients with tf.gradients of the loss wrt the inputs. Just returns None in all cases.

Interestingly this works perfectly in older versions of tensorflow (< 2.0) - so they've broken something. This is an extremely annoying issue if trying to work within tf.keras's train functions, but from reading above it seems that even if you were to write your own thi

[2020-04-17 15:01] dimtass commented on #30953
I didn't want to edit the above post and remove information, so I'm writing this one here with an update.

I've managed to make the optimized model load and it seems that from the `tensorflow/lite/core/api/flatbuffer_conversions.cc` I get that the tensor types inside the model are of type `kTfLiteFloat16` and `TensorType_INT8`, therefore the conversion seems to be working and also the model infere

[2020-04-17 15:06] bhack commented on #18394
As [much of the efforts](https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/-kdC7VVkyco) are put over Keras as the highlevel API you can alternatively use https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/keras/callbacks/EarlyStopping

[2020-04-17 15:07] zijiaozeng commented on #38494
Thank you very much.

[2020-04-17 15:11] cs-mac commented on #35930
@bj1123
Thank you for your reply!
I managed to fix the mistake, embarrassingly enough it was a user error on my part.
I remade the whole trained model to access some layer I needed. Then I used this newly created model, which of course was not trained yet, instead of the trained model. Therefore, all attention weights seemed random.

[2020-04-17 15:14] hzitoun commented on #35896
Having the same issue in anaconda env. What worked it to
1 `conda uninstall tensorflow`
2 `conda install tensorflow-gpu==2.1.0`

[2020-04-17 15:15] Saduf2019 commented on #38640
@shiningrain
i ran the code shared and face [this error](https://colab.sandbox.google.com/gist/Saduf2019/673d2c21fcf02091f8243c5ac51f72a9/38640.ipynb)

[2020-04-17 15:18] jvishnuvardhan commented on #38620
@peakji Agree with you. I think this is more related to saving and loading of mask in subclass model. I tried your approach (predict, *.save, *.load_model, predict) on a subclassed model without a mask, everything works as expected. [Here](https://colab.research.google.com/gist/jvishnuvardhan/e8e2105ec638271848e4bdf6e76fd3d3/38620.ipynb) is a gist for our reference. Thanks!

[2020-04-17 15:25] aa12356jm commented on #38285
expecting

[2020-04-17 15:27] jvishnuvardhan commented on #38605
@guatavita Can you please provide a standalone code with a public dataset? Issue resolution can be faster with a standalone code. Thanks!

[2020-04-17 15:30] alextp commented on #27949
Please file a new bug for your issue.

[2020-04-17 15:32] shiningrain commented on #38640
Hello! Thanks for your reply!
The "root path" in my code is "./ Your Path", this means that you can set any path you want to save the following model... You can also delete it and just save the model in the current dir. You can also use this code:
[code]
As the following picture shown, the `nanresult` is True, which means there is nan in `output`

![image](https://user-images.githubusercontent.com

[2020-04-17 15:40] tz301 commented on #38517
Understood. I have done it locally.
But I just find that the master branch also has this issue, hope it can be fixed in master branch.

[2020-04-17 15:42] DominikManiak commented on #38636
Thank you khimraj!

But... as i described i did both solutions and it did help me! :( Any other ideas?

[2020-04-17 15:44] mihaimaruseac commented on #38517
We cannot fix until there is a new release for mkl-dnn. The things stored at `mirror.tensorflow` are read-only, we cannot rewrite them. So we have to use that hash always.

When mkl-dnn makes a new release we can mirror from the new repo and then both links will have the same hash.

[2020-04-17 15:47] mihaimaruseac commented on #38494
If switching has solved the issue, can we close this?

If it didn't, can't you post the new error log? Maybe even some code you're running so we can attempt to reproduce and fix?

[2020-04-17 15:55] jvishnuvardhan commented on #38119
@devpunjabi Can you please check this [stackoverflow answer](https://stackoverflow.com/a/45963039/9936228) for defining custom loss function. Can you please share a standalone code to reproduce the issue faster? Thanks!

[2020-04-17 15:56] mihaimaruseac commented on #34371
Unfortunately we didn't yet get to this issue. Apologies for the delay

[2020-04-17 15:58] mihaimaruseac commented on #34607
Recommend upgrading to 2.2 where this issue is also fixed (rc3 is available for testing now, final release will be early next week). This is because 1.14 release has a large number of bugs and inconsistencies and is already outside the support window. Sure, switching to 2.2 means upgrading to use TF2.0 APIs but this is also something we recommend.

[2020-04-17 15:59] ivelin opened #38642 "Roadmap for publishing TFLite runtime on PyPi?"
First off, congrats to the team for all the great progress made towards publishing tflite runtime 2.x binaries for a matrix of architectures and python versions.

I know the topic of publishing tflite-runtime on pypi has been discussed, but I cannot find an issue or thread to follow. Could you please point me to it if there is one?

Thank you!

[2020-04-17 16:00] mihaimaruseac commented on #32147
Locking to prevent further notifications with similar errors that already have solution included in the thread

[2020-04-17 16:00] nluehr commented on #38357
In the example above, the INF is generated in the forward pass. Running in FP32, I see an initial loss of 279232.1875, which exceeds the representable range of fp16. Loss scaling gets applied after the loss is computed, so no value of loss scale will help in this case.

[2020-04-17 16:02] 63617020626164 opened #38643 "Resize Second Derivatives"
**System information**
- TensorFlow version (you are using): 2.2.0.dev20200416
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

`tf.image.resize` can calculate derivatives but there exists no gradient for the gradient of it.

**Will this change the current api? How?**

No (the API will not change, but the higher-order derivative will be cal

[2020-04-17 16:05] mihaimaruseac commented on #38552
Yes, we only build for 64 bits architectures. Our code is too complex and building also for 32 bits will require at least 2-3 years of work (since we have so many numerics code assuming 64bits architectures which will result in a lot of security issues due to overflows if not handled properly). Since most of the processors in use are now on 64 bits, we are not prioritizing the work to support 32 b

[2020-04-17 16:06] alanchiao commented on #27880
Please now look at https://github.com/tensorflow/tensorflow/issues/27880#issuecomment-611079359. I'll now stop commenting on this thread and only commenting on other support channels.

@alex283h, @hyungui: Thanks Hyungui for helping Alex. Officially, TF 2.1 is not supported, only tf-nightly. See our docs [here](https://www.tensorflow.org/model_optimization/guide/quantization/training#api_compatibi

[2020-04-17 16:06] allenlavoie commented on #37793
See https://www.tensorflow.org/guide/checkpoint#loading_mechanics (example of only loading a bias variable from a larger checkpoint, but the same pattern works for "only" loading a whole model/layer)

[2020-04-17 16:06] #37793 closed

[2020-04-17 16:13] TBAALi-ros commented on #38642
I'm not TBAALi 邮箱：jiaxx903@tom.com 签名由 网易邮箱大师 定制 On 04/18/2020 00:06, Ivelin Ivanov wrote: First off, congrats to the team for all the great progress made towards publishing tflite runtime 2.x binaries for a matrix of architectures and python versions. I know the topic of publishing tflite-runtime on pypi has been discussed, but I cannot find an issue or thread to follow. Could you please point me

[2020-04-17 16:14] TBAALi-ros commented on #34607
I'm not TBAALi 邮箱：jiaxx903@tom.com 签名由 网易邮箱大师 定制 On 04/18/2020 00:06, Mihai Maruseac wrote: Recommend upgrading to 2.2 where this issue is also fixed (rc3 is available for testing now, final release will be early next week). This is because 1.14 release has a large number of bugs and inconsistencies and is already outside the support window. Sure, switching to 2.2 means upgrading to use TF2.0 APIs

[2020-04-17 16:15] zijiaozeng commented on #38494
Okay, I will try it in the next few days,  If it doesn't work, I'll post detail information include code snippet when located the specific scene where the problem occurs.  No exceptions thrown when the program crash.

[2020-04-17 16:16] zijiaozeng commented on #38494
Okay, I will try it in the next few days,  if it doesn't work, I'll post detail information include code snippet when located the specific scene where the problem occurs.  No exceptions thrown when the program crash.

[2020-04-17 16:16] mihaimaruseac commented on #19297
Regarding the pointers, yes, if the API already uses wrapped ones then we should incorporate them too. I was not checking the AWS API.

Regarding the second point: that's great, I like the lazy loading approach you suggested.

[2020-04-17 16:18] mihaimaruseac commented on #38460
Thanks for confirming. I will investigate more.

[2020-04-17 16:20] nagisa commented on #38460
Note, that I linked the relevant code in the original description. Re-producing the links here:

https://github.com/tensorflow/tensorflow/blob/00fad90125b18b80fe054de1055770cfb8fe4ba3/tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc#L4917
https://github.com/tensorflow/tensorflow/blob/20a26f65d08ed37232a5adb19d9762bf65b6d761/tensorflow/compiler/tf2tensorrt/convert/convert_nodes.cc#L1204

[2020-04-17 16:23] shiningrain opened #38644 "The output of BatchNormalization may contain Nan under certain parameters"
**System information**
- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):   Linux Ubuntu 18.04
- TensorFlow backend (yes / no):  yes
- TensorFlow version:  2.1.0-CPU
- Python version:  3.6.9
- CUDA/cuDNN version:  -
- GPU model and memory:  -

**Describe the current behavior**
I found that the output of  `BatchNormalizat

[2020-04-17 16:23] deepwilson commented on #35708
Why is the issue closed?

I too face this issue.

[2020-04-17 16:35] mihaimaruseac commented on #38174
You should be able to symlink CUDA 10.2 libs to CUDA 10.1 and TF would pick them up.

Alternatively, you will have to build from source.

[2020-04-17 16:38] mihaimaruseac commented on #38615
You need MSVC 2019 redistributable, not the 2015 one.

[2020-04-17 16:38] eScribMac commented on #38174
@ravikyram thank you for the help and apologies for the delay, I've been busy with other projects. I will give that a shot this weekend.

@mihaimaruseac what would that entail exactly? just symlinking each dll individually?

[2020-04-17 16:38] adfayed commented on #38432
@srjoglekar246 Yes! If I run tflite_convert with the above command (i.e inference_type FLOAT instead of QUANTIZED_INT8) it will convert, but then the EdgeTPU Compiler errs as such:
[code]
I am trying to make a quantized model to run on the Coral. Isn't quantized *re*-training done by adding this snippet to the pipeline.config file?
[code]
My pipeline.config looks like this:
[code]

[2020-04-17 16:42] mihaimaruseac commented on #38174
Yes. It has been reported in other issues that this works

[2020-04-17 16:45] mihaimaruseac commented on #38460
I missed those. Thank you. I'm on it as of now and will have a fix by end of day and then backport it over the next weeks. Apologies for the delay this process entails

[2020-04-17 16:48] khimraj commented on #38636
@DominikManiak, refer issue [#38636](https://github.com/tensorflow/tensorflow/issues/38636).

[2020-04-17 16:49] khimraj commented on #38636
@ refer issue [#38636](https://github.com/tensorflow/tensorflow/issues/38636).

[2020-04-17 16:52] vpirogov commented on #38517
[oneDNN v1.4](https://github.com/oneapi-src/oneDNN/releases/tag/v1.4) is released.

[2020-04-17 17:05] kureta commented on #34371
@mihaimaruseac thank you very much for the response. no worries.

[2020-04-17 17:08] ReDeiPirati commented on #38054
Same problem here. Both these API calls (`tf.io.gfile.stat` or `file_io.stat`) fail with `NotFoundError: Object s3://
<bucket_name>/<path/to/file> does not exist`. But if I use `boto3` I can download the files without any issue.

[code]

[2020-04-17 17:23] jdduke commented on #37706
We're still working on this, hoping to have a fix for the next TF release (2.3). Will post here when a fix makes it into the nightlies.

[2020-04-17 17:31] MaximusFred commented on #38615
Thanks Mihai!

Yes, I also realized when installing MSVC 2019 also recommended and linked
earlier in this thread then it worked to import tensorflow.

Have a nice weekend!
Fredrik

Den fre 17 apr. 2020 kl 18:38 skrev Mihai Maruseac <notifications@github.com

[2020-04-17 17:36] mihaimaruseac commented on #38615
Awesome. Closing the issue as it has been resolved.

Also, thanks for the additional data point: we need to tell people to also make sure they install both x64 and x86 versions of Visual C++

[2020-04-17 17:36] #38615 closed

[2020-04-17 17:41] #38190 closed

[2020-04-17 17:42] jostheim opened #38645 "Issue with Tensorshape and Datasets"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes

- OS Pla

[2020-04-17 17:53] MaximusFred commented on #38615
Hi, Yes this solved the problem with importing tensorflow.

Thanks
Fredrik

Den fre 17 apr. 2020 kl 19:51 skrev Mihai Maruseac <notifications@github.com

[2020-04-17 17:55] sshrdp commented on #32081
If you're providing your own container, you need to use set your job's trainingInput.useChiefInTfConfig to true.
See this for more details: https://cloud.google.com/ai-platform/training/docs/distributed-training-details#chief-versus-master

[2020-04-17 17:55] #32081 closed

[2020-04-17 17:56] rxsang commented on #32868
What's the error popping up? I guess that may be a different issue than the previous comment, I'd like to know more details. Thanks!

[2020-04-17 18:08] Ankit-DA opened #38646 "Facing issue with installation of witwidget (google what-if too) on Windows in Anaconda"
I am facing issue with installation of What-If tool.

Step 1 : pip install tensorflow (This completed successfully)

Step 2 : pip install witwidget (this completed successfully)

Step 3 : jupyter nbextension install --py --symlink --sys-prefix witwidget (this failed and the error log is given below)

Environment : Windows 10 Python version : 3.7.0

(base) C:\Users\ankitagarwal5>jupyter nbextension

[2020-04-17 18:18] jvishnuvardhan commented on #37833
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-17 18:18] #37833 closed

[2020-04-17 18:31] ckkuang commented on #30056
This issue should have been fixed in tf 2.2. You can just call the "scatter_*" method on the variable. tf.compat.v1.scatter_sub wouldn't work though.

[2020-04-17 18:31] #30056 closed

[2020-04-17 18:34] eliadl commented on #28287
@SungmanHong instead of `tf.Session` try to use [`tf.compat.v1.Session`](https://www.tensorflow.org/api_docs/python/tf/compat/v1/Session).

[2020-04-17 18:43] #38498 closed

[2020-04-17 18:55] acegilz opened #38648 "save_best_only does not work"
**System information**
Windows 7
Python 3.8
Tensorflow 2.1

**Describe the current behavior**

[code]

[code]

I train the model with  _save_best_only_  enabled. It saves **all** the models in the directory, even when the val_accuracy reduces. I tried also switching to val_loss mode='min' but same behavior occurs.

**Describe the expected behavior**

I was expecting it to save only the models that

[2020-04-17 19:01] guptapriya commented on #38617
@lgeiger you mentioned with 1 GPU memory was stable. Was that without using any distribution strategy? or with MirroredStrategy + 1 GPU? Also, what batch size was used for the 1 GPU case?

Also, does the issue go away if there is no validation dataset at all?

[2020-04-17 19:01] ymodak commented on #37865
See basic decoder and encoder [example](https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq) usages for TF1 and TF2
Also see [tfa.seq2seq](https://www.tensorflow.org/addons/api_docs/python/tfa/seq2seq) module.
You may also try this question on [tensorflow/addons](https://github.com/tensorflow/addons/issues) repo.  Thanks!

[2020-04-17 19:04] jvishnuvardhan commented on #35585
@NLP-ZY I can reproduce your error. Gist is [here](https://colab.research.google.com/gist/jvishnuvardhan/b14f74161a6d3236b90e092114709543/untitled99.ipynb). The reason behind the discrepancy is mentioned [here](https://github.com/tensorflow/tensorflow/issues/32895#issuecomment-614813600).

In short,
1) due to numerical instability issues, we need to remove `softmax` from the final layer of the mod

[2020-04-17 19:08] jvishnuvardhan commented on #35585
@amjass12 Can you please follow the steps mentioned above and verify whether it resolved the issue for you. If your issue was not resolved, can you please post a complete standalone code to reproduce your issue.

If the issue was resolved, then please close the issue. Thanks!

[2020-04-17 19:08] lgeiger commented on #38617
This was without using any distribution strategy.

Both `MirroredStrategy` and single GPU used batch size 1024.

If I recall correctly this only happens with a validation set, but I will explicitely test this later today again just to make sure.

[2020-04-17 19:16] jvishnuvardhan commented on #35533
@NLP-ZY What is `src` in
`from src.preprocessing.sequence import create_dataset`. Can you check the solution I provided for your code in other issue [here](https://github.com/tensorflow/tensorflow/issues/35585#issuecomment-615413203).

Please change this line from
`        self.dense2_layer = tfk.layers.Dense(len(self.LABEL_IDX_DICT), activation=tfk.activations.softmax)
`
to
`        self.dense2_l

[2020-04-17 19:28] matheushent commented on #38518
@Saduf2019  standalone code available on the [gist](https://gist.github.com/matheushent/e5ac809c96bb1ab276514e7ed46517bb).

After instantiating ConvDiscriminator class the same error raises.

[2020-04-17 19:47] ymodak commented on #37872
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-04-17 19:47] #37872 closed

[2020-04-17 19:49] Bstrum36 commented on #38141
Thanks,
This still does not answer my basic question which is: are there any sample tests avaible for review?

[2020-04-17 19:54] ben-arnao opened #38650 "LossScaleOptimizer compatible with DecoupledWeightDecayExtension"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-04-17 20:11] brethvoice opened #38651 "Cross-posting from Keras Memory leaks hang on GPU; no PID to kill (not sudo user so cannot install nvtop)"
https://github.com/keras-team/keras/issues/13975

[2020-04-17 20:19] ymodak commented on #38637
Can you please provide a reproducible code to validate the issue reported?
Thanks!

[2020-04-17 20:22] lgeiger commented on #38617
@guptapriya I just double checked and memory usage is completely flat when there is on validation dataset.

[2020-04-17 20:26] kkimdev commented on #38628
Hi, please use tf.range() instead of range() https://www.tensorflow.org/api_docs/python/tf/range

[2020-04-17 20:26] #38628 closed

[2020-04-17 21:09] hahadashi commented on #5029
@darren-qiu @asimshankar @ry @jmhodges @eggie5
hi, when i bazel build tensorflow, there are some wrong like"no such package '@gif_archive//':". and  i try your advice，in the file(tensorflow/workspace.bzl, `tf_http_archive(
 266         name = "gif_archive",
 267         build_file = clean_dep("//third_party:gif.BUILD"),
 268         sha256 = "34a7377ba834397db019e8eb122e551a49c98f49df75ec3fcc92b9a

[2020-04-17 21:18] yakovkeselman commented on #37938
The following command really helped. My conda version is 4.8.3 and my TF version is 2.1.0, installed prior to the below command (probably via pip). Thanks @theadityasam!

`conda install tensorflow-gpu`

[2020-04-17 21:18] lgeiger opened #38655 "[2.2rc3] Keras validation data doesn't respect cache in MirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0rc3
- Python version: 3.7
- CUDA/cuDNN version: 10.1 / 7.6.5.32
- GPU model and memory: 4 x NVIDIA V1

[2020-04-17 21:20] amitDaMan commented on #38402
Fresh Build:

On Ubuntu: works
On Windows: com_google_protobuf related error

full error:
C:\workspace\SmartReplyRebuild\CleanSmartReply\examples\lite\examples\smart_reply\android\app>bazel build libs/cc:smartreply_runtime_aar
INFO: Call stack for the definition of repository 'com_google_protobuf' which is a tf_http_archive (rule definition at C:/users/amsha/_bazel_amsha/sqsdm6y6/external/org_tens

[2020-04-17 21:20] lgeiger commented on #38617
@goldiegadde @guptapriya @ymodak After writing down this issue yesterday I discovered another related broken behaviour in the latest RC. I wrote down my findings in #38655

[2020-04-17 21:24] guptapriya commented on #38617
Thanks a lot for filing this issue @lgeiger. Your analysis has helped us narrow down on a possible root cause which we will investigate further and fix. For now this does look like a regression in 2.2rc3.
We still don't understand why removing experimental_threading.private_threadpool_size helps though.

[2020-04-17 21:46] guptapriya commented on #38617
@lgeiger to help us confirm that this is a regression, would you mind running your check against TF 2.1? both for the OOM issue, and the network usage.

[2020-04-17 21:52] ymodak commented on #38601
TensorFlow Python 3.8 is not supported on macOS.
See [TF release note](https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0-rc2)s known caveats section. Thanks!

[2020-04-17 22:04] bm777 commented on #38601
You can downgrade python version or use python version to 3.6.
---

Le ven. 17 avr. 2020 à 22:59, Yasir Modak <notifications@github.com> a
écrit :

[2020-04-17 22:08] amitDaMan commented on #38402
In the readme, it should be noted that it doesn't work on windows, and that an old version of bazel is needed, presently.

Also, yes I have done the bazel tutorial on the getting started page... and I understand the concept of tests. Thanks for the advice...

And, I guess I will just have to read the codebase to figure out the rich C++ feature set...

[2020-04-17 22:16] leeyeetonn opened #38658 "clip_by_value handles python float and numpy float differently"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-04-17 22:20] jostheim commented on #24520
I have to agree with @dominthomas here compared to using a Sequence with multiprocessing on all 24 cores, this is way, way way slower (20 hours versus 4 using multiprocessing for an epoch for me).  I get no parallelism using TF.dataset I assume b/c I am using a pyfunc, b/c I couldn't figure out how to put all my work into TF.  My Sequence functions involve using a pandas index file, and reading ou

[2020-04-17 22:39] jvishnuvardhan commented on #37807
@abhinavsp0730 I see this issue of broken link was corrected already. Can you verify once and close the issue? thanks!

[2020-04-17 22:54] jostheim commented on #38645
Still not sure why this doesn't work, but I worked around it.

[2020-04-17 22:54] #38645 closed

[2020-04-17 23:09] jvishnuvardhan commented on #33189
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-17 23:09] #33189 closed

[2020-04-17 23:26] lukas-a-olson commented on #30847
Unfortunately in TF 2.1, bsaund's workaround does not work for me nor does this appear to have anything to do with the string data type:
[code]
[code]

[2020-04-17 23:34] jsimsa commented on #36274
Re-assigning to @rohan100jain for triage.

[2020-04-17 23:50] guozhaochen commented on #30635
Same issue with 1.15.0 on Ubuntu 16.04 and macOS 10.15.3
This only happens when using a fat Jar. Works fine with gradle,

The problem is in https://github.com/tensorflow/tensorflow/blob/590d6eef7e91a6a7392c8ffffb7b58f2e0c8bc6b/tensorflow/java/src/main/java/org/tensorflow/NativeLibrary.java#L176 when getting the version. The implementation version is read from `META-INF/MANIFEST.MF` in the fatJar w

[2020-04-18 00:06] pengshichang opened #38659 "tf2+yolov3 Convert to tflite quession"
o use: AVX2
Model: "yolov3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input (InputLayer)              [(None, None, None,  0
_________________________________________

[2020-04-18 00:20] jsimsa commented on #36360
The tf.data team has a plan for making it possible to read and write sharded TFRecord files in parallel. The first step in that direction is the tf.data snapshot proposal https://github.com/tensorflow/community/pull/193/files, which does this under the hoods when generating the snapshot. This is expected to be available in TF 2.3. As a follow up, we plan to expose API to `save` and `load` the snap

[2020-04-18 00:20] reedwm commented on #38357
True, in this case it wouldn't help, but what about in general? Do you think it's likely the backwards pass could overflow without the forwards pass overflowing? Even if it's unlikely, should we allow the loss scale to go below 1?

[2020-04-18 00:44] fsx950223 commented on #38637
https://colab.research.google.com/drive/1duD_fPzP0cEVK-EmJEEDtagNnX3XjgJP

[2020-04-18 00:59] AndreyM0 opened #38660 "Build from sources: An error occurred during the fetch of repository 'local_config_cuda'"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: source
- TensorFlow version: 3.0.0
- Python version: 3.6.9
- Bazel version (if compiling from source): 2.1.0
- GCC/Compiler version (if compiling from source):7.5.0
- CUDA/cuDNN version: 10.2
- GPU model and memory: NVIDIA QUADRO K600

**Problem**
UnicodeDecodeError: 'ascii' codec can't decode by

[2020-04-18 01:07] tensorflowbutler commented on #36600
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-18 01:07] tensorflowbutler commented on #37572
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-18 01:32] #37572 closed

[2020-04-18 01:51] sumanthratna opened #38661 "Using variable value in tf.name_scope raises ValueError in graph mode"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: macOS 10.15.5 Beta
- Mobile device: n/a
- TensorFlow installed from binary (`pip`)
- TensorFlow version:
    - `tf.version.GIT_VERSION`: v2.1.0-rc2-17-ge5bf8de410
    - `tf.version.VERSION`: 2.1.0
- Python version: 3.6.8
- Bazel version (if compiling from source): n/a
- GCC/Compiler version (if compiling from

[2020-04-18 02:05] abhinavsp0730 commented on #37807
Hey, @jvishnuvardhan I've linked a PR with this issue, Even though it's merged successfully but don't know why this issue hasn't been closed automatically. Would please give me some insight in this.
Nevertheless closing this issue.

[2020-04-18 02:05] #37807 closed

[2020-04-18 02:13] jianlijianli commented on #38521
Unassign myself as I am not the expert on this.

[2020-04-18 02:30] HauserA opened #38662 "TFLiteConverter ConverterError with tf.float16 layers"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- TensorFlow installed from (source or binary): colab
- TensorFlow version (or github SHA if from source): 2.2.0-rc3

**Command used to run the converter or code if you’re using the Python API**

Colab:
https://colab.research.google.com/drive/1yLEzIz2O1opjQDHUTaZJGRSgg8DKHfeW

To get Error1:
[code]

To get Erro

[2020-04-18 02:37] chychen commented on #38357
@nluehr  in many cases, we should cast loss to fp32 before scale!! if you like, I could make another example for you.
@reedwm agree with you, I don't understand why not?

[2020-04-18 03:07] yongtang commented on #34643
I can verify the error with TF 2.2.0rc3. Created a PR  #38663 for the fix.

[2020-04-18 03:20] guptapriya commented on #38655
Thank you for filing, it seems like this is known issue and the team is looking into it.  I can suggest a workaround with tf-nightly if this is blocking you.

[2020-04-18 03:38] NLP-ZY commented on #35585
@jvishnuvardhan Thanks for your reply. I have try to use `tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True) ` replace `tf.keras.losses.SparseCategoricalCrossentropy()`;
the loss of GradientTape is decrease slower than Model.fit too, this can't solve my problem.
I want to figure out how can I use GradientTape get the same loss & acc with model.fit on the same epochs, because there are

[2020-04-18 03:41] tonytallman commented on #37841
I have confirmed that the solution is to create an Objective-C++ wrapper class with a header file that contains no c++, and code file that imports ios_image_load.h. Put the wrapper class' header file in the bridging header file. Now you can call the wrapper class from Swift.

WrapperClass.h:
----------------
@interface WrapperClass : NSObject
- (void)loadImage;
@end

WrapperClass.mm:
-------------

[2020-04-18 03:41] #37841 closed

[2020-04-18 04:01] uranusx86 commented on #26289
I have made a script for install tf 1.12 with CUDA 10.1 in Ubuntu.
check my repo https://github.com/uranusx86/Tensorflow1.12-CUDA10.1-Build

[2020-04-18 04:23] Student-HXJ commented on #35860
I got the same problem as yours, have you found an ideal way?

[2020-04-18 04:56] Takonan commented on #12071
@macarena1807, I believe you can apply `tf.expand_dims(dy, -1)` in order to make the `dy` shape match with the normalized `x` vector, so that the output of `grad(dy)` has the same shape as `x`:

[code]

[2020-04-18 05:13] richardwth commented on #33967
Has this issue been solved?

I tried running the Keras example mentioned by @ouakif on Colab using TensorFlow version 2.2.0-rc3. It did not work. The following error is given:

    ValueError: Unrecognized `Embedding` layer names passed to `keras.callbacks.TensorBoard` `embeddings_metadata` argument: dict_keys(['features'])

[2020-04-18 05:56] NLP-ZY commented on #35585
@jvishnuvardhan I try to set epoch=100 for GradientTape and set epoch=5 for mode.fit. I get loss: 0.0030 - acc;: 1.0000 on epoch 5(model.fit), get loss: 1.4832 - acc: 0.9774 on epoch 100 (GradientTape). you can see my result on the [gist](https://colab.research.google.com/gist/NLP-ZY/dba4ddafeef5c08f245a062bb6758602/untitled99.ipynb). Please help us figure out why GradientTape can't work as Model.

[2020-04-18 06:03] meowcat commented on #38628
Hi,
thanks, that works, but isn't the point of Autograph / tf.function that I shouldn't have to do this?

[2020-04-18 06:07] #38552 closed

[2020-04-18 06:09] tongtong1990 commented on #27557
For those who is trying to find the solution for the same issue: This is a bug on TF 1.13 and 1.14, which gets resolved on 1.15.

Example code can be found here with 1.15:

https://github.com/tensorflow/tensorflow/issues/31819

[2020-04-18 06:23] nazmulasha opened #38664 "WARNING: 3 cannot be handled by this delegate. Only the first 0 ops will run on the GPU, and the remaining 17 on the CPU."
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:Iphone XR
    TensorFlow installed from (source or binary):binary
    TensorFlow version: 1.14 (gpu)
    Python version:3.6
    Installed using virtualenv? pip? conda?:pip
    Bazel version (if compiling from source):
    GCC/Compiler v

[2020-04-18 06:24] amalroy2016 commented on #35585
Does using tf.gradients instead GradientTape make a difference in your cases??

[2020-04-18 06:41] kkimdev commented on #38628
We wanted to give users an option to create a graph with an unroll loop, and this is how users can control it.  Though yes, I agree that it's not too apparent and can be confusing.  We are discussing improving this but no decision at this point.

[2020-04-18 06:47] NLP-ZY commented on #35585
@amalroy2016 Thanks, I have a try, but it doesn't work.

[2020-04-18 06:55] NLP-ZY commented on #35533
@jvishnuvardhan Thanks, I have make a change, but it doesn't work.

[2020-04-18 07:07] murdav commented on #35942
@ckkuang sorry for later reply. It was my fault. Basically I'm using https://github.com/qubvel/efficientnet and I have to import the `load_model` like:

[code]

Otherwise and logically I have `ValueError: Unknown layer: FixedDropout`.

Davide

[2020-04-18 07:35] drezap commented on #31945
@alextp Thanks, I've opened an issue with a minimal working example.

[2020-04-18 07:35] guptapriya commented on #30847
Apologies for the delay here, fixing this took a while, but this has been fixed as of end of Feb. It should not happen in tf-nightly or the TF 2.2 rcs. Please re-open if you still see it there.

[2020-04-18 07:35] #30847 closed

[2020-04-18 07:36] amalroy2016 commented on #35533
The train_op would be like
[code]

[2020-04-18 07:38] ranitomeya commented on #38601
Oh, thank you, I missed that. Sorry for the bother!

[2020-04-18 07:38] #38601 closed

[2020-04-18 07:38] NLP-ZY commented on #35533
@amalroy2016 Thanks, it doesn't work for my problem.

[2020-04-18 07:53] shiningrain commented on #38640
Hello, @Saduf2019  I can also reproduce this issue in Tensorflow 2.1.0-cpu version, shown in the following figure. You can use the code in my reply to reproduce it.
![image](https://user-images.githubusercontent.com/46860123/79631518-6ea60500-818c-11ea-9493-221ccd343132.png)

[2020-04-18 08:33] zaccharieramzi commented on #35860
@Student-HXJ unfortunately no, I was just running my script or jupyter notebook with sudo.

[2020-04-18 09:02] Tobias-Thomas opened #38665 "deviceMemoryBandwidth: -1B/s with tensorflow-rocm"
**Describe the problem**
I have a fresh install of Ubuntu (18.04.4) and just followed  [this instruction](https://www.videogames.ai/Install-ROCM-Machine-Learning-AMD-GPU) to install rocm and tensorflow. After importing tensorflow and executing "tf.config.list_physical_devices('GPU')", I get this output:
[code]
The problem is that the deviceMemoryBandwidth seems to not be found and set to -1B/s. Th

[2020-04-18 09:17] alex283h commented on #27880
**@hyungui**, thank you for explain! I get the same results:

In fact it would be greate to have some way to get uint8 for the next converting in edge_tpu model.

**@alanchiao** Thank you. I will study your links, maybe I will found the solution about uint8 there. If somebody know how to do it after learning model with quantization.keras.quantize_mode I will ve much appresiate.

[2020-04-18 09:40] jackyesf commented on #38217
I found this bug fixed on tensorflow2.2.0rc3

[2020-04-18 09:40] #38217 closed

[2020-04-18 09:53] mkpisk commented on #38503
# -*- coding: utf-8 -*-
"""Lab2.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1sDg-5lDnUKYLQUbSkBiZsYK4ZBof3ZQZ
"""

USE_G_COLAB = False
if USE_G_COLAB:
    from google.colab import drive
    drive.mount('/content/drive')

if USE_G_COLAB:
    root_dir = "/content/drive/My Drive/CNN/"
    root_dir_to_test = "/content/drive/M

[2020-04-18 10:32] mausham1224 commented on #36423
thanks alot .

[2020-04-18 10:50] 63617020626164 commented on #38643
You can get around this by using `tf.nn.avg_pool2d`, which has a second derivative, though it means you can't use other resize methods.

[2020-04-18 11:41] hihell commented on #38248
@MarkDaoust
hi, this there any update?

[2020-04-18 12:03] plaffitte commented on #18394
@bhack Yes I understand that Keras is now the preferred high-level API, but I am getting acquainted with Kubeflow and going over the tutorial which all use the Estimator API, which is why I need to stick with it for the moment

[2020-04-18 12:22] bhack commented on #18394
@plaffitte Yes I know but stuffs are getting in sync:
https://github.com/kubeflow/examples/issues/774
https://github.com/kubeflow/examples/issues/773

[2020-04-18 12:24] MakeCent commented on #38591
@ravikyram ANYBODY can benifit from this acturally. It make the epoch indexes rensonable and give a complete view of training process. I will try to write codes to see if I can handle this and then, if done, I will submist a PR. Thanks!

[2020-04-18 12:25] ashutosh1919 opened #38668 "In ModelCheckpoint, filepath is not accepting batch as formatting parameter."
In `ModelCheckpoint` callback, there is a parameter given named `save_freq` to save model. If `save_freq` is set to `epoch`, it will save model at the end of every epoch. (This works perfectly fine). But when `save_freq` is set to an integer let's say `N`, then the callback should save the model after `N` batches in every epoch. But the problem here is the callback doesn't accept the filepath as `

[2020-04-18 12:47] Jeetu0110 commented on #31350
Try with
**import tensorflow.keras as keras**

[2020-04-18 13:20] SangamSwadiK commented on #38619
Closing this as I resolved the issue, The solution was to define a function
my_func (shape , dtype = None):
   Line 1 ------
   Line 2 ------

   return embedding_matrix

Embedding layer changes to

embedd = tf.keras.layers.Embedding( input_dim = vocab , output_dim = 300 , embedding_initalizers = my_func , input_length = maxlength ) (input_tensor)

However, **tf.keras.initializers.Constant(embeddi

[2020-04-18 13:20] #38619 closed

[2020-04-18 13:21] HyuPete commented on #27120
The ``return`` statement the error occurs at will create a new ``tf.Variable``, and this is disallowed in a function decorated with ``tf.function`` in eager mode. You can read more about it [here](https://www.tensorflow.org/tutorials/customization/performance#variables). I don't think your function needs to be decorated with ``tf.function`` because it's not a too heavy computing operation to be co

[2020-04-18 14:10] lgeiger commented on #38617
@guptapriya This is a regression introduced between 2.1 and 2.2. I re-ran the checks with TF 2.1 and both issues are not present there (i.e. memory a network usage are completely stable).

Note that with TF 2.1 I am running into #36126 instead so I am seeing a lot of unnecessary error messages each epoch, but I don't think this is related.

[2020-04-18 14:15] sumanthratna commented on #38661
Here's a smaller reproducible example:
[code]

[2020-04-18 14:15] Trapti04 commented on #25227
I am also facing major issues trying to work around getting tf.contrib.slim dependent code to work for my project. I started by downloading tf 1.4 version [ downgrade] but that does not help. I am considering re-writing the model layers in pure tensorflow instead to workaround this issue. Any guidance on how layer functionality from slim packages map to the more tensorflow 2  libraries?

[2020-04-18 14:33] renjie-liu commented on #38220
Hi, Can you upgrade to 2.2 and try again?

Thanks a lot!

[2020-04-18 15:07] kevin5k commented on #35663
I confirm tflite 2.1.0 is working on venv. Tested on an RPI4.

[2020-04-18 15:32] nectario opened #38670 "Make it simpler to write custom metrics!"
Why is it so complicated to write a simple custom metric? I do not want to deal with tensors, just numpy arrays. Please make it simpler and ability to use only numpy arrays. This request is for Keras.

<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, fe

[2020-04-18 15:50] plaffitte commented on #18394
@bhack Ah awesome thank you!

[2020-04-18 15:57] anantvir commented on #38610
can someone please update me on this issue ?  @ravikyram @khimraj ?

[2020-04-18 16:14] khimraj commented on #38610
@anantvir, You need to first use Tokenizer to convert text into sequences. For more detail refer [this](https://towardsdatascience.com/multi-class-text-classification-with-lstm-using-tensorflow-2-0-d88627c10a35) tutorial.

[2020-04-18 16:35] msalvaris commented on #37376
@karimnosseir I am unable to do quantization aware training for EfficientNet. If I tried  using the recent Keras API but it doesn't work as there is only support for Sequential and Functional models not custom it seems.
If I try to use tf.contrib.quantize it seems to skip quantizing quite a few ops.

Please advise as to what would be the best way to carry out quantization aware training of Efficie

[2020-04-18 16:39] anantvir commented on #38610
@khimraj  Are you familiar with Tensorflow Transform ? I am sking this because as I explained above, I want to make all sentences of equal length inside the preprocessing_fn in the apache beam pipeline. We cannot use Tokenizer as it also requires a list of sequences. That is WHAT I DONT HAVE. I want to pad tensors not sequences.

Please refer to:
https://github.com/tensorflow/transform/blob/599691

[2020-04-18 16:43] khimraj commented on #38610
@anantvir, Sorry for misunderstanding your query. I will try to solve problem after reading your references.

[2020-04-18 17:21] paulter commented on #36981
@davisyoshida does this work with keras? if so, can you provide a small example of how to use it with keras?

[2020-04-18 17:48] AlbertoEsc commented on #35194
Thanks a lot @Bewe11 and @BigBerny. The originally posted code (+ converter.optimizations = [tf.lite.Optimize.DEFAULT]) seems to be also working for me (tf_nightly-2.2.0.dev20200418-cp37-cp37m-manylinux2010_x86_64.whl).
However, I get an exception when I add a representative dataset (converter.representative_dataset = representative_dataset_gen), which is necessary to actually enable integer opera

[2020-04-18 18:50] Lu1352 commented on #37441
I have the same problem. I've been confused for a long time···

[2020-04-18 19:03] pidajay commented on #36981
@paulter  I have a version working with Keras but sequential models only.
I have create a pull request as part of TF addons github repo - https://github.com/tensorflow/addons/pull/1600.
You can find an example notebook here - https://github.com/pidajay/addons/blob/grad_checkpointing_eager/docs/tutorials/training_gradient_checkpointing.ipynb

[2020-04-18 19:04] Ceceu opened #38672 "How properly apply a tokenizer map function to a Tensorflow batched dataset?"
Considering the following `batched_dataset`:

[code]
and a map function to tokenize this `batched_dataset`:

[code]
I could tokenize the entire batched_dataset using a for-loop:

[code]

However, when using [`tf.data.Dataset.map`][1] the following error arises:
[code]

Then, how properly apply a tokenizer map function to a batched dataset?

**Note**: I published a working example on [`Google Colab

[2020-04-18 19:39] anantvir commented on #34793
This thread was useful but seems incomplete. Can someone please help me out here.

I also have text data(sentences of varying length). Can I use to_tensor to pad each sentence to a max length of 200 words ?

[2020-04-18 19:44] vinayak-pathak commented on #34405
Extremely sorry for late reply. Use !wget for best performance

[2020-04-18 19:55] guptapriya commented on #38617
Thanks @lgeiger for confirming, appreciate it! We know the root cause of the memory issue, and have a fix in the works. I am surprised the network usage is also stable though, because we thought the root cause for the network issue is something else.. maybe there is some interaction still between the 2 issues that we do not understand.

[2020-04-18 20:12] rchouhan170590 commented on #36358
if(logs.get('accuracy') > ACCURACY_THRESHOLD) work for me

[2020-04-18 20:12] Shiro-LK commented on #34321
@algoromeo  Sorry for the late response.
I have still the issue, as @ofpppppppdbfjs  said, we need to reduce the amount of data to feed your model. I have no idea why this issue occurs though.

[2020-04-18 20:47] Rubix982 opened #38673 "Unable To Find Relevant Documentation For Quantization from python/tf/dtype/DType"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/dtypes/DType

## Description of issue (what needs changing):

The dtypes, such as, `tf.qint8`, `tf.quint8`, `tf.qint16`, `tf.quint16`, `tf.qint32`, are a bit unclear. What is `Quantized` suppose to mean? Where should a reader go to learn more about it? Clicking on the hyperlink of any of the dtypes of the above leads to [tf](

[2020-04-18 21:18] q-55555 commented on #36363
@gerwin3

Does the commit 40218a7 "Set static shape information for reshape layer." fix the bug ?
Because on my side, I still have the same problem you described after having integrated the fix.

[2020-04-18 21:36] milongo opened #38674 "Model with multiple outputs throws error about shape of output"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-04-18 22:21] lgeiger opened #38675 "[2.2] XLA requires 2x GPU memory with sparse_categorical_crossentropy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0, 2.2.0rc3 and tf-nightly
- Python version: 3.7
- CUDA/cuDNN version: 10.1 / 7.6.5.32
- GPU model and

[2020-04-18 22:25] mkaze commented on #38349
@mdanatg Thanks for your reply. However, I would like to mention that this behavior also happens when the generated value in the inactive branch **is not finite** (i.e. `inf` or `-inf`). Here is a minimal reproducible example:

[code]

And also if we reverse the condition such that the branch with infinite value is selected, the gradient would be infinite (which is a bit surprising that it does no

[2020-04-18 22:27] lgeiger commented on #38617
@guptapriya Thanks for investigating! In my journey of upgrading from 2.0 to 2.2 I discovered my hopefully last GPU memory related problem. I wrote down the findings in #38675.

[2020-04-18 23:17] gowthamkpr commented on #35932
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-04-18 23:17] #35932 closed

[2020-04-18 23:21] gowthamkpr commented on #36600
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-04-18 23:21] #36600 closed

[2020-04-18 23:23] gowthamkpr commented on #38072
Closing this issue as it has been inactive for 2 weeks. Please add additional comments for us to open this issue again.

[2020-04-18 23:23] #38072 closed

[2020-04-18 23:46] evgps commented on #32809
I implemented small lib to calculate FLOPs/MACs: [https://github.com/evgps/flopco-keras](https://github.com/evgps/flopco-keras)

[2020-04-19 00:18] gowthamkpr commented on #38047
@lolpa1n Please provide us the colab notebook(gist) for us to reproduce this issue. I am not able to reproduce it.

[2020-04-19 00:28] holokai-ai commented on #37376
@nutsiepully @msalvaris  I'm guilty of starting the TF2 QAT question here, but perhaps we should move it to the TFMOT project?   Someone just posted a similar question here:

https://github.com/tensorflow/model-optimization/issues/363

[2020-04-19 00:41] tensorflowbutler commented on #9489
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-19 00:41] tensorflowbutler commented on #37662
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-19 00:43] gowthamkpr commented on #38538
@chenghuige I would recommend you to post this in [Kaggle/kaggle-api](https://github.com/Kaggle/kaggle-api/issues) as this platform is only for tensorflow issues. Thanks!

[2020-04-19 01:02] gowthamkpr commented on #38465
@rlav440 This is similar to the issue [here](https://github.com/tensorflow/graphics/issues/227).  As mentioned in the issue, Removing the graph convolution layers allows the model to save.

Please take a look at it.

[2020-04-19 01:24] mdanatg commented on #38561
We're investigating - it seems that a newly-added warning about function retracing seems to fire more than expected.

[2020-04-19 01:41] geet2019 opened #38676 "import tensorflow as tfimport tensorflow.contrib.layers as layers File "<ipython-input-23-4e7964698c5b>", line 1 import tensorflow as tfimport tensorflow.contrib.layers as layer SyntaxError: invalid syntax"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-04-19 01:45] geet2019 commented on #38676
import tensorflow as tfimport tensorflow.contrib.layers as layers
  File "<ipython-input-23-4e7964698c5b>", line 1
    import tensorflow as tfimport tensorflow.contrib.layers as layers
                                           ^
SyntaxError: invalid syntax

Occurred while trying to execute https://github.com/aqlaboratory/rgn/blob/master/model/protling.py

[2020-04-19 01:54] edloper commented on #34793
@anantvir If you have a 2D ragged tensor `sentences` with shape `[num_sentences, tokens_per_sentence]`, and you want to pad it exactly 200 tokens in each row, you can just use `sentences.to_tokens(shape=[None, 200])`.  E.g.:

[code]

If you want to pad it to have at most 200 tokens in each row (but less if all sentences are shorter than 200 tokens), then you could use `sentences[:, :200].to_tensor

[2020-04-19 01:54] #34793 closed

[2020-04-19 02:05] geet2019 commented on #38676
Occurred while trying to execute https://github.com/aqlaboratory/rgn/blob/master/model/protling.py
[ I am new to python . please help to resolve probelms ]
class ZoneoutWrapper(RNNCell):
  File "<ipython-input-7-10a3c41e0928>", line 1
    class ZoneoutWrapper(RNNCell):
                                  ^
SyntaxError: unexpected EOF while parsing

def __init__(self, cell, memory_cell_keep_prob=1.0,

[2020-04-19 02:27] mdanatg commented on #38349
@mkaze that's true - nan, inf and any other special FP value will disrupt the gradient calculation.

What happens internally is that the gradients are aggregated in this fashion: `1 * <grad of branch taken> + 0 * <grad of branch not taken>`. In the former case, you have `0 * inf = nan`. In the latter case, you have `1 * inf = inf`. I agree it's very confusing, unfortunately a naive fix would add s

[2020-04-19 02:39] ymodak commented on #38463
@w19787 This is fixed with latest tf-nightly version ''2.2.0-dev20200418' as well TF 2.2.0-rc3. Thanks!

[2020-04-19 03:40] gkcalat commented on #35029
Had the same issue. Resolved by reinstalling GPU Drivers and CUDA as was suggested in [https://www.tensorflow.org/install/gpu](https://www.tensorflow.org/install/gpu)

1. Add repos:
[code]

2. Install drivers:
`sudo apt-get install --no-install-recommends nvidia-driver-430`

3. Reboot. Check that GPUs are visible using the command: nvidia-smi

4. Install cuda and cudnn:

[code]

Hope it helps some

[2020-04-19 03:45] wadewangpower commented on #38451
Afterward, I knew that although Android 5.1 does not fully support camera2, it is still usable, so  i commented out `useCamera2API =
            (facing == CameraCharacteristics.LENS_FACING_EXTERNAL)
                || isHardwareLevelSupported(
                    characteristics, CameraCharacteristics.INFO_SUPPORTED_HARDWARE_LEVEL_FULL);` and I forced set `useCamera2API = true;` , the app's detec

[2020-04-19 03:52] ymodak commented on #38646
This issue is more suitable on [Anaconda repo ](https://github.com/ContinuumIO/anaconda-issues/issues)since its related to TF installation with Anaconda

[2020-04-19 03:54] #38646 closed

[2020-04-19 04:14] ymodak commented on #38556
`control_flow_ops.with_dependencies` is deprecated long time ago. We recommend using  [`tf.control_dependencies`](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/Graph#control_dependencies) with the `with` keyword which does the same things. Thanks!

[2020-04-19 04:14] #38556 closed

[2020-04-19 04:19] ymodak commented on #38227
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-19 04:19] #38227 closed

[2020-04-19 04:39] Wolverinne opened #38677 "Failed to load the native TensorFlow runtime."
hi, installed tensorflow version 2.1 using pip command anaconda with windows 10 64 bit python 3.6 and getting this issue ,cant find any solution  to this anywhere  ,any help would be appreciated .
i am installing it for cpu not gpu .
![Screenshot (17)](https://user-images.githubusercontent.com/49184195/79679691-bcbb1700-8225-11ea-8ebe-9aadaeb24d61.png)

Traceback (most recent call last):
  File "C

[2020-04-19 04:44] navid-a commented on #27303
Has anyone verified if one of the alternative TFLite compatible approaches produce the same results as the tf.signal.stft approach? I tried the code by @padoremu (which seems to be based on magneta) and while that code works and I get some reasonable log_mel_spectrograms, they are not exactly the same as the ones from tf.signal.

[2020-04-19 04:47] Wolverinne commented on #38677
in response to the automated reply , my cpu does support avx instruction set  as i use intel i7 6th gen
attaching the details
![Screenshot (19)](https://user-images.githubusercontent.com/49184195/79679841-048e6e00-8227-11ea-95da-bb4523fe9c4c.png)

[2020-04-19 05:10] Tylersuard opened #38678 "Could we have more helpful error messages?"
## Description of issue (what needs changing):
Tensorflow gives many errors, and most of them aren't very helpful.  Something like "module tensorflow has no attribute reset_graph."  Can we change the error messages so they are more constructive?  In this situation, the issue was partially solved by downgrading to tensorflow 1.12.  It would be helpful if instead of the "reset_graph" error message,

[2020-04-19 05:42] rlav440 commented on #38465
Hi @gowthamkpr That is the issue that I mentioned posting. Upon looking at the first post, I believe I could have been clearer so have edited the first post to reflect the current nature of the issue

[2020-04-19 05:50] clkruse commented on #37196
Does this same issue apply to `tf.keras.layers.BatchNormalization()`?
I'm using the Pix2Pix example code and having a similar problem with NaN values in my one set of weights and in my model.json when created with tfjs.

[2020-04-19 05:59] dglent commented on #17807
Same error
Windows 7 64bits
tensorrflow 2.1.0
`ImportError: Traceback (most recent call last):
  File "C:\User\User95\Python-3.7.3-64bits\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\User\User95\Python-3.7.3-64bits\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py"

[2020-04-19 06:53] gowthamkpr commented on #38624
@jetou The freeze graph APIs - freeze_graph.py and converter_variables_to_constants - will not be supported in TensorFlow 2.0.
For more information you can refer to the following [question](https://stackoverflow.com/questions/55562078/tensorflow-2-0-frozen-graph-support)

[2020-04-19 07:07] guptapriya commented on #38617
Thanks @lgeiger, I ll ask some folks in XLA to take a look at that one.

[2020-04-19 07:18] mobassir94 opened #38680 "Why my modelcheckpoint is not saving weights based on best val_accuracy?"
the code i tried in kaggle kernel for saving weights is this :

`model_path = '/kaggle/working/jigsawMultilingual.h5'
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, LearningRateScheduler

checkpoint = ModelCheckpoint(model_path, monitor='val_accuracy', mode='max', save_best_only=True)
es = EarlyStopping(monitor='val_accuracy', mode='max', patience=2,
                   rest

[2020-04-19 07:20] marimomo00 commented on #38525
Yes, now the configure ask me for path of android NDK.
Now, the error is

[code]

[2020-04-19 07:45] howl-anderson commented on #37196
Hi @clkruse, If your arguments contain None which not supposed to be. It's likely to be the same issue.

[2020-04-19 08:09] impjdi commented on #38188
I think this is a duplicate of https://github.com/tensorflow/tensorflow/issues/26297

[2020-04-19 08:09] #38188 closed

[2020-04-19 09:08] pigubaoza commented on #27880
is tf.quantization.fake_quant_with_min_max_vars still useful now that quantization aware training is out?

Is quantization aware training solely for getting TFLite models? and we would still have to fake_quant_with_min_max_vars to get the best INT8 TensorRT models? Or is there something I am missing out?

[2020-04-19 09:16] gerwin3 commented on #36363
The issue persists. I tested on `tf-nightly 2.2.0.dev20200418`.

[2020-04-19 09:20] ms-ims opened #38681 "Can I use other Microcontrollers other than which are specified by tensorflow?"
Can other Microcontrollers can be used other than these mentioned below for tensorflow modules-
Arduino Nano 33 BLE Sense
SparkFun Edge
STM32F746 Discovery kit
Adafruit EdgeBadge
Adafruit TensorFlow Lite for Microcontrollers Kit
Adafruit Circuit Playground Bluefruit
Espressif ESP32-DevKitC
Espressif ESP-EYE
If yes can. Is there any documentation to follow?

[2020-04-19 09:27] bmdy opened #38682 "New train_op for estimator in tensorflow"
I would like to write a novel train_op to test a new training algorithm without using any gradient or loss, which is a little bit like a UCB algorithm in bandit. How can I define such a train_op to add it in my custom estimator?

Thank you very much!

[2020-04-19 09:58] mobassir94 opened #38683 "NotImplementedError:"
i am using the code below :

[code]

and i am getting NotImplementedError after 1st epoch,here is the notebook : https://www.kaggle.com/mobassir/understanding-cross-lingual-models?scriptVersionId=32280074

i am unable to save checkpoint, for me  monitor='val_loss' throwing me NotImplementedError
i tried monitor='val_acc'  and monitor='val_accuracy'  and none of them saving weights for me,where am

[2020-04-19 10:00] rajaniyadav opened #38684 "Train simple audio recognition model"
@petewarden
I trained this model in colab and it is working in arduino for "yes" and "no" command but when I tried for "on" and "off" I am not getting output in my arduino board( I have done the necessary changes in tensorflow example code "micro_speech" ).
 Can you please suggest how to get model working for "on" and "off".

[2020-04-19 10:17] q-55555 commented on #36363
@gerwin3 ok, so it confirms the problem.

@tensorflow-copybara, @qlzh727, is the commit 40218a7 "Set static shape information for reshape layer." supposed to fix the issue ?

[2020-04-19 10:19] nistrup commented on #37980
Sadly this is still an issue

[2020-04-19 11:14] Arktius opened #38685 "libcuda.so.1 is missing with conda env tf-gpu"
I get the following errors:

[code]
when I execute
[code]
Tensorflow cannot find the file libcuda.so.1.

I get this error in a Docker Container which uses miniconda and the tensorflow-gpu environment.
[code]
I don't get the error on my local machine with the same code.

As far as I understood, conda should automatically install cuda and its libraries.

When I search for the missing file I get an e

[2020-04-19 11:51] brookman commented on #33634
@Lotte1990 How exactly did you use CMAKE to create an .sln file?

[2020-04-19 11:58] bosssaurav opened #38686 "Feed 1 frame to 2 models in tensorflow"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubnutu 16.04
- TensorFlow version (use command below): tensorflow-gpu
- Python version: 35
- CUDA/cuDNN version: 9
- GPU model and memory: Titan

Tf version " tensorflow-gpu=1.12)

I have two tensorflow models (A.pb

[2020-04-19 12:03] g2721 commented on #32333
@super-pirata Getting the same Error even without callbacks

[2020-04-19 12:23] tejashshrestha commented on #33183
Thanks, this worked for me as a charm.
Changed to tensor flow 1.15 and just updated the linecache.py

[2020-04-19 12:58] DeivydasLipskis commented on #38609
So the issue was that in order to install tensorflow-cpu, I need to use
`FROM tensorflow/tensorflow:2.1.0-py3`
or `FROM nvidia/cuda:10.1-cudnn7-runtime-ubuntu18.04`
But using one of these, the size of the image gets really big. May I ask what FROM I need to use to make the size as small as possible? I only need to use tensorflow-cpu.

[2020-04-19 13:02] wadewangpower commented on #38451
One issue fixed, another one comes up, that is rgbFrameBitmap is left and right are reverse, below image is the part of the screenshot, we can see the text is symmetry reverse, so how to flip horizontally the rgbFrameBitmap ?

[2020-04-19 13:47] aslankims opened #38688 "I've got an error for "Build a handwritten digit classifier app with TensorFlow Lite""
I have done all the same way, shown in the official website.

But, I have got an error message as below.

**_Only safe (?.) or non-null asserted (!!.) calls are allowed on a nullable receiver of type Tensor?_**

I could not find any solution through web surfing in github and others.

Could you help me, please?

Regards,

[2020-04-19 13:50] lucaro commented on #30635
I just successfully tested this workaround on Debian buster.

[2020-04-19 13:55] Lotte1990 commented on #33634
I used CMake to create an .sln file for my own project that uses TensorFlow Lite, not for TensorFlow Lite itself. For TensorFlow Lite, unfortunately, you still need to use Bazel.

[2020-04-19 14:11] Saduf2019 commented on #38686
@bosssaurav
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-04-19 14:14] enkhee0906 commented on #36954
@gadagashwini I also got the same error in Tensorflow 2.1. Error occurs when I call `tf.keras.layers.Conv2D` layer with `dilation_rate` greater than 1, after saving the model using `model.save`. Following is the standalone code producing the error. FYI, it gives no error in Tensorflow 2.0.

[code]

Error message I got:
[code]
Thank you for your time!

[2020-04-19 14:14] Saduf2019 commented on #38682
@bmdy
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-04-19 14:15] Mohit-Ak commented on #33788
Here is how the import statements should look. Notice that it is not straight forwards "Find&Replace" as a number of paths have changed.

import tensorflow as tf
from tensorflow.keras.models import Sequential, save_model
from tensorflow.keras.layers import Dense, Dropout, Flatten
from tensorflow.keras.layers import Conv2D, MaxPooling2D