[2019-06-26 07:17] abdou31 commented on #29957
Did you mean upload datasets or just you want print their names?

[2019-06-26 07:22] #30088 closed

[2019-06-26 07:26] Nitinsiwach commented on #29535
Any update on this?

[2019-06-26 07:32] Arritmic commented on #22634
Hi,
CMake is an open-source, cross-platform family of tools designed to build, test and package software. That means if you are working on Windows, you can compile tensorflow for Windows, and it will be something like libtensorflow_cc.dll (dynamic lib) or libtensorflow_cc.lib (static lib). Then, you will be able to link it in your cmake project, qt project or whatever other build system.

Also, if

[2019-06-26 07:35] facaiy commented on #21873
@bionicles bion, can you file a new issue for it?

[2019-06-26 07:46] klemen-forstneric commented on #29736
@achandraa, I was refering to this [model_main.py](https://github.com/tensorflow/models/blob/master/research/object_detection/model_main.py). I wasn't using anything than that model_main.py and the above config with the pretrained [ResNet 50](http://download.tensorflow.org/models/object_detection/faster_rcnn_resnet50_lowproposals_coco_2018_01_28.tar.gz).

@derekjchow, Okay I see. Is this something

[2019-06-26 07:59] Arritmic commented on #30116
`tensorflow.python.framework.errors_impl.InvalidArgumentError: image_size must contain 3 elements[4]`

I think you should review your train CSV files CSV files to see if there are any entries with Width and Height as 0 or missing some value.

[2019-06-26 08:01] movinghoon opened #30165 "TF 2.0 - Put Tensor into some Numpy functions continuously increases memory usage"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): pip package tensorflow==2.0.0-beta1
- TensorFlow version (use command below): v2.0.0-beta0-17-g8e423e3 2.0.0-beta1
- Python version: 3.7.3
- CUDA/cuD

[2019-06-26 08:05] #26178 closed

[2019-06-26 08:05] zzj0402 opened #30166 "How does Tensorflow convert to TensorflowJS?"
I am working on a conversion of a Java machine learning platform. I am curious on how did TensorFlow manage to transcompile. If so, which toolsets are used?

[2019-06-26 08:14] adr-arroyo commented on #27880
Hello @suharshs

Have you fixed/submitted the correction already?

Thanks!

[2019-06-26 08:24] yann-yy commented on #25923
I think this issue could be closed as is not active for a long time.

[2019-06-26 08:26] tacolovejudy commented on #28326
RTX2060 and Win10 + Anaconda + CUDA 10.0 + Cudnn 7.4.1 ---- it's OK!

Because anaconda doesn't have cudnn 7.4.1.
I tried to install tf by pip instead of conda, it's work!

[2019-06-26 08:35] sbsky commented on #29571
Any updates on this?  Please let me know if there's any more debug info required.

[2019-06-26 08:36] wangtz commented on #30060
Hi Saptech,

Could you provide a list of steps int order to reproduce this issue? It looks like the download didn't compete. Could you delete tensorflow/lite/experimental/micro/tools/make/downloads folder and try again?

Thanks,

[2019-06-26 08:38] wangtz commented on #30007
Pete's recent commit should have solved this problem. https://github.com/tensorflow/tensorflow/commit/97123eff9496776d31cac2131ad65f07e9614f95

[2019-06-26 08:42] ellonde opened #30167 "Variable sized input doesn't work with dilated convolutional layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 18.10**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below): **v2.0.0-beta0-16-g1d91213fe7** -  **2.0.0-beta1**
- Python version: **3.6**
- CUDA/cuDNN

[2019-06-26 09:04] wbadry commented on #17022
**tensorflow-gpu** works well on **Python 3.7.2**
**OS :** Windows 10 x64
**Python** : 3.7.2
**CUDA** : 10
**CUDNN** : 7.5

![2019-06-26_11-00-44](https://user-images.githubusercontent.com/5664750/60166651-d9eba880-9801-11e9-82b4-d67e92416209.png)

[2019-06-26 09:25] achandraa commented on #30156
Will it be possible to provide a full code snippet that can replicate the issue.It will indeed help us to move faster. Thanks!

[2019-06-26 09:29] ravikyram commented on #30149
I have reproduced the issue in Colab using TF VERSION=2.0.0-dev20190625.Thanks!

[2019-06-26 09:51] Augnine opened #30169 "TFLite GPU works slower than CPU"
I run tflite in Qualcomm 660, for a test，there is just a con2d. But when i run it,
cpu costs 30ms  while  cpu costs 130ms.
I don't know why

[2019-06-26 09:52] zchfaq commented on #30169
![test](https://user-images.githubusercontent.com/8298991/60170483-18518980-983b-11e9-9a80-cce3d1aa3518.JPG)

[2019-06-26 10:01] ravikyram commented on #30143
I have tried on colab with TF version 2.0 beta0 and was able to reproduce the issue.Thanks!

[2019-06-26 10:13] ravikyram commented on #30134
Just to verify you have converted .pb to Lite model .Thanks!

[2019-06-26 10:17] achandraa commented on #30144
Did you get chance to have a look on this [document](https://www.tensorflow.org/lite/guide/ops_select). Also try @WeiyiLi's solution and please let us know if that helps. Thanks!

[2019-06-26 10:21] ravikyram commented on #30122
Please provide us complete code to reproduce the issue.Thanks

[2019-06-26 10:28] rsethur commented on #29762
Hello @alextp , @robieta ,
I faced the same issue - i have replicated in a simpler scenario of model.fit() - not event GradientTape.
I have created a [colab notebook](https://colab.research.google.com/drive/1PR3u4BaVnwBCoBoGSgK0kRNX_pMxzSep) to showcase this

[2019-06-26 10:31] gadagashwini commented on #30148
@captain-pool I am unable to reproduce the issue on colab with Tensorflow 2.0.0.beta0. Please help us to reproduce the issue. When i ran it throws ```
FATAL Flags parsing error: Unknown command line flag 'f'
Pass --helpshort or --helpfull to see help on flags.
An exception has occurred, use %tb to see the full traceback.

SystemExit: 1
[code]

[2019-06-26 10:48] PathToLife commented on #17022
Seems like it's been added. NVM.https://pypi.org/project/tensorflow/

[2019-06-26 10:48] achandraa commented on #30120
I have tried the code snippet in Colab with TF GPU version 2.0beta1 and it executed without error.  Please help us to reproduce the issue. Thanks!

[2019-06-26 10:55] gadagashwini commented on #30109
@LukeBolly I am able to reproduce the issue on colab with Tensorflow-gpu 1.13.1 by executing multiple times.

[2019-06-26 10:57] mcoolsce commented on #29911
Thanks for the reply and the suggestions. I will experiment with them in the following days.

[2019-06-26 11:02] el1995 commented on #30111
I have created a docker image exactly reproducing my issue. Please pull as follows:
[code]
The tensorflow directory can be found under:
[code]
Please notice that it contains the original WORKSPACE file. The tensorflow directory was directly cloned from github.

Specifications:
CentOS Linux release 7.6.1810 (Core)
git version 2.16.5
Open MPI: 3.1.3
bazel: 0.26.0- (@non-git) from Vincent Batts (Fedo

[2019-06-26 11:04] captain-pool commented on #30148
Hey @gadagashwini There's no `f` flag defined anywhere in the code I gave. Try copy/pasting this and try out.
[code]
I'm not sure about colab, I've been trying this on gcloud. So, it would be better if you can try out on a VM instance.

[2019-06-26 11:04] gadagashwini commented on #30064
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-06-26 11:09] veonua commented on #27519
@Mainak431
module 'tensorflow' has no attribute 'eagerly'
module 'tensorflow.compat.v1' has no attribute 'eagerly'

[2019-06-26 11:12] achandraa commented on #30114
I have tried on Colab with TF CPU version 2.0beta1 and was able to execute it successfully. Can you please help us to reproduce the issue if we are missing out something. Thanks!

[2019-06-26 11:14] ravikyram commented on #30116
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).

Can you please provide full code snippet to reprod

[2019-06-26 11:23] byronyi commented on #30114
@Elmit2015 what's the output of `cat /proc/cpuinfo`?

[2019-06-26 11:33] abdou31 commented on #30064
Ok, but can you tell me where I can post this issue?

[2019-06-26 11:35] ramrahu commented on #26174
Hello,
Did you find a solution to this problem? I tried the same solution but the error remained.

[2019-06-26 11:48] Elmit2015 commented on #30114
[code]

[2019-06-26 11:53] vinodrajendran001 commented on #30017
OS: Ubuntu 18
Tensorflow CPU version
I installed Tensorflow via pip

The above provided code snippet is complete, I have just ignored only the pandas dataframe which is passed in the function.

[2019-06-26 11:55] gadagashwini commented on #30064
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). Thanks!

[2019-06-26 11:58] stratomaster31 commented on #29162
It feel is not a bug, its an unexpected error because:

* Train method works well
[code]
* whereas Evaluate one not
[code]

[2019-06-26 11:58] ravikyram commented on #29957
Please upload the datasets for reproducing the issue. Thanks!

[2019-06-26 12:00] gadagashwini commented on #30064
@abdou31 Have look on [tensorflow lite guide](https://www.tensorflow.org/lite/guide/android) for android app. Thanks!

[2019-06-26 12:04] achandraa commented on #30105
I have tried to reproduce with below code snippet in Colab with TF CPU version 2.0beta1 and was not able to reproduce the error.

[code]
Please let us know if we are missing out something. Thanks!

[2019-06-26 12:06] Oktai15 commented on #30124
@srihari-humbarwadi thank you!

[2019-06-26 12:06] #30124 closed

[2019-06-26 12:07] abdou31 commented on #30064
Actually, I ask this question in StackOverflow but I didn't get any answer.
I don't know why but I think that the community didn't give any importance to questions related to IA (Deep learning  and Machine learning).

[2019-06-26 12:08] colonder opened #30171 "undefined symbol: _ZN10tensorflow7strings6StrCatERKNS0_8AlphaNumES3_ error while importing tensorflow_text"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-06-26 12:10] mohapatras opened #30172 "How to write the .bmp images from tensors to disk after resizing ?"
I am trying to read bmp images, resize them and write the image to disk using tensorflow. I have succeeded in reading it but unable to find a way write it to disk. Any idea how to do it ?

Here is the code below:

[code]
The problem is I can't find a "encode_bmp" or any bmp related function that can be used to encode the image and save the resized image to disk.

[2019-06-26 12:13] abdou31 commented on #29957
Actually, I used many different datasets and their size is big (including whole images).
But I will give you examples of image:
![001_03](https://user-images.githubusercontent.com/19480228/60178668-60ad7f00-981c-11e9-9941-b83052b0b369.jpg)
![image_0010](https://user-images.githubusercontent.com/19480228/60178714-6d31d780-981c-11e9-8ff9-5112e2a7edf9.jpg)

[2019-06-26 12:14] FlorentF9 commented on #5777
Same issue for me (Linux Mint 18.3, Nvidia Quadro M1200, driver version 384.130, Cuda 9.0 and Keras/TF).

This does not work for me, I get stuck at `sudo rmmod nvidia_drm`:
[code]
It prevents other modules (nvidia_modeset and nvidia) from being stopped.

[2019-06-26 12:22] YaroslavSchubert opened #30173 "Keras model doesn't compile for Edge-tpu if Dense layer contains [16, 32, 64, ...] neurons"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow version (use command below): 1.15.0-dev20190626, 2.0-beta1
- Python version: 3

**Describe the current behavior**
Couldn't convert keras model for Edge-tpu when Dense layer consists of [16, 3

[2019-06-26 12:37] RSteendam commented on #11341
When I set dtype to float16 for a model with Conv3D layers, I get the following errors
_ValueError: Tensor conversion requested dtype float32 for Tensor with dtype float16: 'Tensor("spatial_stream_Conv3d_1a_7x7_conv/kernel/read:0", shape=(7, 7, 7, 3, 64), dtype=float16)'
TypeError: Input 'filter' of 'Conv3D' Op has type float16 that does not match type float32 of argument 'input'._

So it seems li

[2019-06-26 12:39] tensorflowbutler commented on #29041
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-06-26 12:50] essalahsouad opened #30174 "using deeplab with TensorFlow Lite GPU delegate on ios"
hi, did anyone know how I can use deeplab on ios application with tflite GPU delegate??, because I've searched everywhere but I didn't find anything.

[2019-06-26 12:53] colonder commented on #30174
This question is better suited for Stack Overflow as it's not a bug.

[2019-06-26 12:53] #30174 closed

[2019-06-26 13:30] abdou31 commented on #30134
I have converted the file to tflite

[2019-06-26 13:30] mihaimaruseac commented on #29905
This is an error in your python environment, not TensorFlow.

You could `pip install cloudpickle==1.1.1` and see if that works.

[2019-06-26 13:31] wdirons commented on #30110
This question on the install of pyyaml is better asked in stackoverflow then here.

[2019-06-26 13:33] mdorier opened #30175 "Add link libtensorflow_framework.so => libtensorflow_framework.so.1"
**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Starting from TensorFlow 1.14.0, the pip packages come with a libtensorflow_framework.so.1 instead of a libtensorflow_framework.so. This breaks the build process of codes that extend tensorflow. Adding a symbolic link libtens

[2019-06-26 13:39] wdirons commented on #30057
On this page: https://hub.docker.com/r/tensorflow/tensorflow/ it states:

Python 3.6 is the default for Ubuntu 18.04, so while the web page doesn't clearly state it. Starting from TF 1.14 the `-py3` docker containers will have python 3.6 as the default.

[code]

[2019-06-26 13:40] ravikyram commented on #30089
I have reproduced the issue in colab with TF version 1.12.0.Thanks

[2019-06-26 13:42] aminbenarieb opened #30176 "Getting `bad_alloc` in allocateTensors"
**What I've done:**
I've picked up [one of iOS Tensorflow examples]([https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/ios]) and tried to use my `.tflite` model

**What I expected**:
Loaded model just like in the example.

**What I've got**:
`uncaught exception of type std::bad_alloc` and here are the logs with it:
[code]

Is there any known workaround or help from

[2019-06-26 13:43] wangtz commented on #29028
@zh794390558 Hi Hui, what kind of DSP are you looking into? If the TFL micro interpreter can be compiled by the DSP compiler and ran on the DSP, then hypothetically the DSP should be able to run TFL micro models.

[2019-06-26 13:44] byronyi commented on #30114
That's expected. Your CPU does not support the AVX instruction set, which is enabled by default since 1.6. To use TF on your laptop, either downgrade to TF 1.5, or build TF from source.

[2019-06-26 13:45] wangtz commented on #28555
Hi Jens,

This is because we accidentally leaked profiling code to the TF Lite part and broke TFL micro. It should have been solved by now. Could you try again?

Thanks,

[2019-06-26 13:46] yashk2810 commented on #29762
Do you get the same difference with TF2 beta1? (pip install tensorflow==2.0.0-beta1)

[2019-06-26 13:52] wangtz commented on #27804
Yeah. It sounds very likely to be a problem of the incomplete download. fixedpoint/fixedpoint.h is a file in gemmlowp which we downloaded the first time you run build.

[2019-06-26 13:52] fnand commented on #30122
The following is sufficient to reproduce the issue:

[code]

This runs with 2.0.0-alpha0, but fails with 2.0.0-beta1

[2019-06-26 13:55] wangtz commented on #27156
Could this be a problem where the allocator is too small for the model to fit?

[2019-06-26 13:57] wangtz commented on #26933
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/micro/examples/micro_vision might the closest example code for now. It's still image classification not yet detection though.

[2019-06-26 13:59] wangtz commented on #28271
Hi Robot,

Is this still an issue? In my recent test, I don't seem to be able to reproduce it.

[2019-06-26 14:01] alexforever86 commented on #24496
@synapse8 You are absolutely right about tensorflow-gpu and cuDNN version. I'm also very much confused by my comment now, and I don't remember the details anymore. Anyways, given below are the current versions in my system.

`pip show tensorflow-gpu`
Name: tensorflow-gpu
Version: 1.13.1

`nvidia-smi`
NVIDIA-SMI 430.26       Driver Version: 430.26       CUDA Version: 10.2

`sudo apt search cudnn |

[2019-06-26 14:07] kmader commented on #27156
@wangtz could be, how can I increase it?

[2019-06-26 14:13] mihaimaruseac commented on #30175
Unfortunately a wheel file is just a fancy zip archive so a symbolic link gets translated into a new copy of the file. So the file gets included twice, bloating the size of the pip package.

We will slowly evolve into a state where we can have the symlink in place, but it will take some time, unfortunately.

[2019-06-26 14:18] wangtz commented on #26447
Thanks for the pointer. I don't think that we have enough bandwidth to cover this board. Since Adafruit already their work open sourced. Are you interested in contributing this work to TF? Thanks,

[2019-06-26 14:20] robzor92 commented on #24496
@alexforever86 with the configuration you mentioned now do you still see this problem? (I assume it works for you)

[2019-06-26 14:20] rsethur commented on #29762
@yashk2810 Yes my test was on beta1

[2019-06-26 14:21] jenselofsson commented on #28555
Hi!

It compiles fine now, although the tests themselves fails with the message included in logs.txt.

[logs.txt](https://github.com/tensorflow/tensorflow/files/3330454/logs.txt)

[2019-06-26 14:33] byronyi commented on #30175
The recommended approach for extending TF is to use tf.sysconfig.get_link_flags() instead of relying on manually specifying shared object path.

[2019-06-26 14:34] mdorier commented on #30175
Thanks for the quick reply. In the mean time, do you have any solution for a distutils-based package that has the following:
[code]
Because of the .1 suffix, the linker is not finding libtensorflow_framework. Putting the full name (libtensorflow_framework.so.1) doesn't work either. I had to either revert to Tensorflow 1.13.2 or add the symlink manually.

[2019-06-26 14:36] timudk commented on #26100
I finally got TFP's BFGS optimizer working for a supervised problem. Would adding an example to https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples be desirable?

[2019-06-26 14:39] yashk2810 commented on #29762
I saw two things in your code.

1. You were not passing the training flag to the dropout layer in the model.
2. You don't need .repeat() and steps_per_epoch anymore. (Though using it should be fine).

I tried it out and I am getting consistent results (https://colab.sandbox.google.com/drive/1rzDpHynUY7geq1ivb8wvlki6SeLbqioP#scrollTo=CH_9oxXER3iC).

FYI: You don;t need the tf.function decorator on

[2019-06-26 14:57] francoisruty commented on #27519
I'm using the package tensorflow-gpu==2.0.0-alpha0
.numpy() on one of my tensors yield 'Tensor' object has no attribute 'numpy'

tf.eagerly() gives module 'tensorflow' has no attribute 'eagerly'

[2019-06-26 14:58] ladyada commented on #30007
Thanks @petewarden! I'll try this out and add to our Arduino-ready library https://github.com/adafruit/Adafruit_TFLite_Micro_Speech - we got it [working really nicely on a Cortex M4](https://blog.adafruit.com/2019/06/24/tiny-machine-learning-on-the-edge-with-tensorflow-lite-running-on-samd51-arduino-tensorflow-tinyml-tensorflow/)

Here's a video of it in action :)
 [![Tiny Machine Learning on the

[2019-06-26 14:58] MarkDaoust commented on #26662
I fixed this in all the examples I could find:

[code]

[2019-06-26 15:00] wdirons commented on #30047
Also see this comment:

from: https://www.tensorflow.org/install/source

[2019-06-26 15:03] harahu commented on #16933
@shivaniag We've never hear back from the tensorflow team on this issue. Could you give us an update on whether this is recognized as a problem or not?

[2019-06-26 15:04] kassemyu opened #30178 "conv2d_transpose param tensor shapes after loading the model differ (NCHW format)"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 16.04
- Mobile device: Not tested
- TensorFlow installed from: binary
- TensorFlow version: 1.13.1
- Python version: 3.7.3
- Bazel version:
- GCC/Compiler version:
- CUDA/cuDNN version: 10.0/7.3.1
- GPU model and memory: Nvidia, driver 418.56, 11178MiB

**Describe the current behavior**
When training a

[2019-06-26 15:05] jenselofsson commented on #30007
That seems to have fixed it, thanks!

[2019-06-26 15:06] Mouradost commented on #25552
I also have the same error with rtx 2070
windows 10 home
tensorflow 1.13
cuda 10.1
cudnn 7.5
bazel 0.21.0

[2019-06-26 15:07] iranroman commented on #29751
Do we have a solution for this? I'm trying to reload the .meta file for a model that I downloaded from  this colab notebook https://colab.research.google.com/github/tensorflow/tensor2tensor/blob/master/tensor2tensor/notebooks/asr_transformer.ipynb#scrollTo=Qz5u2O5LvShm. The following code
[code]

throws this error
[code]

[2019-06-26 15:16] #30007 closed

[2019-06-26 15:20] bugzhu opened #30179 "How to add value range constraints for 1-norm of vector?"
In my problem, I want to train some specific vectors which meet several unusual constraints. However, the usual norm constraints in tensorflow cannot be directly used in my problems. The 1-norm of vector I want to train must meet the minimum and maximum values constraints, i.e.
<img src="http://chart.googleapis.com/chart?cht=tx&chl= 0 \leq \||\mathbf{x}\||^1_1 \leq 2" style="border:none;">.
As for

[2019-06-26 15:21] rsethur commented on #29762
@yashk2810 Awesome! Many thanks! Much grateful.
Both (1) and (2) above works perfectly.
Can you explain a bit on your statement on why tf.function is not needed? Anything to do with subclassed model?  When would t.function be needed then?
Any pointers to documentation on this?

[2019-06-26 15:24] byronyi commented on #30175
Ping @seanmorgan

[2019-06-26 15:36] mdorier commented on #30175
Inspired by @byronyi 's comment, I tried what `tf.sysconfig.get_link_flags()` returns, i.e. I put `libraries=[':libtensorflow_framework.so.1']` and it works. I should probably find a way to just pass what `tf.sysconfig.get_link_flags()` to distutils, though.

[2019-06-26 15:50] YaroslavSchubert commented on #20886
Fixed `tensorflow.python.framework.errors_impl.FailedPreconditionError: Attempting to use uninitialized value Output/weights_quant/min` error by adding `tf.global_variables_initializer()` after `create_eval_graph`

[2019-06-26 16:03] tanzhenyu commented on #30021
The way masking works is that we categorize all layers into three categories:
1) producer, that has compute_mask
2) consumer, that takes `mask` inside call()
3) some kind of passenger, that simply pass through the masking.

for 3), masking is "silently" supported by self.support_masking=True and you don't have to pass `mask` into call(), because we treat batch norm as passing through the mask, not

[2019-06-26 16:03] #30021 closed

[2019-06-26 16:03] shivaniag commented on #16933
@jsimsa do you have an update on this.

[2019-06-26 16:05] reuben commented on #26174
Yes, that patch is the solution :)

[2019-06-26 16:05] Oktai15 opened #30180 "How to specify shape of input for TFLite model after receiving SavedModel format?"
I use TF 2.0. Let's suppose I have a model that I successfully converted to SavedModel format. I used following code to convert my model in Imperative API (subclassed tf.keras.Model) to SavedModel:

[code]

Now I want to convert my model to TFLite, but I have a problem, because I need to specify all dims except for batch. It's okay, but I want to do it after saving my model in SavedModel format. F

[2019-06-26 16:06] reuben commented on #26174
We've been using it in our packages ever since I ran into this issue without problems.

[2019-06-26 16:08] tanzhenyu commented on #29535
This is fixed in 1.14, can you update the version and try it again?

[2019-06-26 16:09] tanzhenyu commented on #29108
@chenchc My major comment is that I don't see where in this paper describing it should use global clip instead of local clip.

[2019-06-26 16:27] covertg opened #30181 "Can't cross-compile TFLite "Minimal" for Raspberry Pi Zero (armv6 target)"
**System information**
- OS Platform and Distribution: Linux Debian 10
- TensorFlow installed from: source
- TensorFlow version: master branch @ a6989c95e336eb9f73ac7dd2920bee76d7e7e49e
- GCC/Compiler version: 8.3.0 (Debian 8.3.0-2)
- Python, Installed using ..., Bazel, CUDA, GPU: n/a

**Background**
Hi,
I've been trying to build a Tensorflow Lite C++ project for the Raspberry Pi Zero. For a simpl

[2019-06-26 16:38] ramrahu commented on #26174
I tried that patch. Replaced the 1 with 0. It didn't seem to work. Am I missing something?

[2019-06-26 16:49] vidyabhandary commented on #29905
I do not install cloudpickle separately. It is installed as part of tensorflow. And I am using a clean virtual environment every time. Even colab gives similar error when installing from scratch.

[2019-06-26 16:56] gargn commented on #30180
There is no option to specify `input_shape` in 2.0. You can reload your SavedModel yourself, set the input shape, and then call `from_concrete_functions`. Something similar to the following code (which hasn't been tested):

[code]

[2019-06-26 17:05] sjain-stanford commented on #29951
+1
Custom ops compile and run fine on TF1.13.1, but end with a seg-fault on TF1.14. Unable to move production workflow to TF1.14. Please take a look.

[2019-06-26 17:08] Masterchef365 commented on #29951
@sjain-stanford I had the same issue; @mttbx discovered that compiling with g++-4.8 does do the trick for whatever reason. g++-4.8 is the same version used in the custom op docker container too.

[2019-06-26 17:16] mayyapillai commented on #30092
I found a way to get past this issue.

ef _parse_function(example_proto):
	feature_description = {
		'height': tf.io.FixedLenFeature([], tf.int64),
		'width':  tf.io.FixedLenFeature([], tf.int64),
		'depth':  tf.io.FixedLenFeature([], tf.int64),
		'label_raw':  tf.io.FixedLenFeature([], tf.string),
		'image_raw':  tf.io.FixedLenFeature([], tf.string),
	}
	parsed_features = tf.io.parse_single_examp

[2019-06-26 17:18] alokprasad commented on #27671
how to register math_ops in libtensorflow-core.a

[2019-06-26 17:21] alokprasad commented on #27671
@SefaZeng  where you able to integrate the operation in math_ops.cc in libtensorflow-core.a

[2019-06-26 17:23] NicholaiStaalung commented on #25415
@noah003 did u find a solution?

[2019-06-26 17:27] NicholaiStaalung commented on #19293
@mali30 did u solve it. I tried freezing the graph and converting to .pb to convert into .tflite. Didnt work. Im also trying to deploy on edge tpu.

[2019-06-26 17:28] sjain-stanford commented on #29951
@Masterchef365 thanks, g++-4.8 did the trick. Still unclear why the previous builds using g++-5.4 against TF <=1.13.1 didn't result in seg-fault.

[2019-06-26 17:30] aaag97 commented on #29806
Thank you! @T-Troll it finally works for me :)

[2019-06-26 17:38] martinwicke commented on #29951
The problem with these compiler incompatibilities is they're basically a
game of russian roulette. You never know when they hit you.

[2019-06-26 17:51] avroshk commented on #26174
Tensorflow Lite is compiled code. Hope you are rebuilding Tensorflow from source (https://www.tensorflow.org/install/source) after making the code change.

[2019-06-26 17:54] marsupialtail commented on #21800
Would anybody happen to know how to do this for the python interface of adding a custom op?

[2019-06-26 17:59] petewarden commented on #28516
The averaging is used to try to balance the sensitivity and robustness of the speech detection. If no averaging is used (or the average window is very short), then it's more likely to detect spoken words, but also more likely to make mistakes. It will depend a lot on your application whether you care more about false positives or false negatives.

We are also aware of the broader issue that the ov

[2019-06-26 18:31] ymodak commented on #30169
I believe there's a slight typo here. However can you please confirm the performance of gpu over cpu. Thanks!

[2019-06-26 18:51] synapse8 commented on #24496
@robzor92 I've been using tensorflow-gpu 1.13, and out of curiosity, I just installed 1.14 to test if this resolved the issue (for me). I'm still getting the error, and still have to do the 'allow growth' workaround (again, not that big a deal).

What video card are you using?

[2019-06-26 18:56] #30171 closed

[2019-06-26 18:58] colonder commented on #30171
Moved to https://github.com/tensorflow/text

[2019-06-26 19:06] robzor92 commented on #24496
@synapse8 Tried it with a GTX 1070.

[2019-06-26 19:10] jvishnuvardhan commented on #29905
@vidyabhandary Can you share a gist from colab? Thanks!

[2019-06-26 19:19] robzor92 commented on #24496
@synapse8 I also tried the sample code provided by this thread creator just now, it worked without a problem.

[2019-06-26 19:26] tgpsantos commented on #24986
I tried to apply it to my own model following  I did try it by following the [tutorial provided by tensorflow](https://www.tensorflow.org/install/gpu) and I've got the following error.

`java.lang.IllegalArgumentException: Internal error: Failed to run on the given Interpreter: TfLiteGpuDelegate Invoke: Delegate should run on the same thread where it was initialized.Node number 237 (TfLiteGpuDeleg

[2019-06-26 19:40] mali30 commented on #19293
no I could not get it to work. I am sorry my friend @NicholaiStaalung

[2019-06-26 19:41] mdanatg commented on #30149
This is related to a limitation in Python's `inspect.getsource`, which can't always get the source code of lambda functions. Specifically, getsource returns the entire source code line, which isn't always well-formed Python code, as you could see from this example.

The workaround is to declare the lambda function on a single line, as the OP indicates.

Normally, the error message should describe

[2019-06-26 19:55] jvishnuvardhan commented on #29535
@Nitinsiwach Please check a gist with 1.14 [here](https://colab.sandbox.google.com/gist/jvishnuvardhan/936cbc0184d3ae96bdc682f34a32d9a2/tf29535_model_tranables.ipynb). Thanks!

[2019-06-26 19:56] jvishnuvardhan commented on #29806
Automatically closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-06-26 20:02] NicholaiStaalung commented on #19293
@mali30 ok, thx for letting me know! Good luck

[2019-06-26 20:13] shoyer opened #30182 "autograph should handle "for" loops over "range" in a manner that is compatible with XLA compilation"
**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

Consider the following Python code:
[code]

`bad_loop` is the intuitive way to write this loop. However, it fails to compile with xla:
[code]

In contrast, `good_loop` calculates the correct result:
[code]

Autograph seems to a

[2019-06-26 20:27] mckinziebrandon commented on #29189
Sure, starting from the new one, I made the following incremental changes. Reporting my results for each change. In summary, I end up getting basically the same error as before.

## Trying to Run the Tutorial with CNN

First, I went through the updated tutorial linked to by @karmel and ran into more issues than before with the tutorial code itself when making certain minor changes. Again, below ar

[2019-06-26 20:28] sragini24 opened #30183 "build using cmake failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-06-26 20:31] #28248 closed

[2019-06-26 20:37] ymodak commented on #29826
TensorFlow release binaries version 1.6 and higher are prebuilt with AVX instruction sets. This means on any CPU that do not have these instruction sets either CPU or GPU version of TF will fail to load. I suspect that your CPU model does not support AVX instruction set. Can you please confirm?. Thanks!

[2019-06-26 21:00] littleaich commented on #28248
This issue still exists in tf-2 version beta-1.

[2019-06-26 21:13] MPROXX commented on #24885
Alright, I renamed libtensorflow_cc.so.if.lib to tensorflow_cc.lib
I tried making a project in Visual Studio,
I added **...\source\bazel-source\external** and  **...\bin\tensorflow\include** to Additional Include Directories
and also ...\bin\tensorflow\lib to Additional Library Directories

then I created a quick main.cpp:
`#include "main.h"
#include <tensorflow/cc/ops/standard_ops.h>
//#include <

[2019-06-26 21:21] patricksnape commented on #22145
I've also just run across this - it's a bit frustrating as this is a shared function and sometimes it does indeed run on the GPU. So guarding it with the `tf.device('/cpu:0')` isn't very scalable given that sometimes I do want it to run on the GPU (in other function calls - large shared code base)

[2019-06-26 21:22] covertg commented on #29806
@jvishnuvardhan this issue is still in the codebase. I'm not knowledgeable enough about the TF codebase to know whether this solution is a hacky workaround or a clean solution — but I don't think the issue should be closed. Think we need a PR.

[2019-06-26 21:24] MPROXX commented on #24885
@guikarist
I renamed libtensorflow_cc.so.if.lib to tensorflow_cc.lib
I've made a project in Visual Studio
I added **...\source\bazel-source\external** and **...\bin\tensorflow\include** to Additional Include Directories
I added **...\bin\tensorflow\lib** to Additional Library Directories

I made a quick main.cpp:
`#include "main.h"
#include <tensorflow/cc/ops/standard_ops.h>
//#include <tensorflow

[2019-06-26 21:33] guyko81 commented on #30120
Thanks for the reply, I have re-installed the tensorflow 2.0beta1, and now the problem is not present anymore.
Don't know the reasons why, sorry.

[2019-06-26 21:33] #30120 closed

[2019-06-26 21:45] smbox commented on #29826
Yes, I think you nailed the problem. My CPU is an Intel Core i7, but it's the first generation, from around 2011. I was hoping to use my GPU because of that. So I guess it won't work?

[2019-06-26 21:53] alextp commented on #29971
I cannot reproduce this using nightly.

Can you find a smaller reproducing example? Say, just the shape of the input to top_k, a call to top_k, and a call to gradients?

[2019-06-26 22:05] jdduke commented on #24607
We've landed several fixes, but they've been rolled back due to downstream clients depending on the current (somewhat broken) behavior in our converter. We're hoping to resolve this properly in Q3, and might expose an experimental flag in the converter to generate graphs that always preserve rank/shape operators.

[2019-06-26 22:22] #30029 closed

[2019-06-26 22:28] ymodak commented on #29826
You have couple of options;
1) The easiest way to use TF will be to switch to [google colab](https://colab.sandbox.google.com/notebooks/welcome.ipynb#recent=true). You get pre-installed stable TF version on it (currently running TF 1.14). Also you can use pip install to install any other preferred TF version if required.
It has added advantage since you can you easily switch to different hardware

[2019-06-26 22:43] ymodak commented on #30127
Unable to locate the broken link in the markdown file referenced in the issue. Can you please try to elaborate? Thanks!

[2019-06-26 22:52] jvishnuvardhan commented on #29806
@covertg I am opening it. Are you or anyone interested in creating a PR? Thanks!

[2019-06-26 23:01] #29826 closed

[2019-06-26 23:01] sylee957 opened #30184 "tensorflow.__dict__ and __doc__ had changed after update to 1.14"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-06-26 23:02] ymodak commented on #29826
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-06-26 23:08] maochen commented on #17022
I am not sure either sth is wrong on my side or the 3.7 wheel. here is the details.
`C:\>python --version
Python 3.7.3

C:\>pip --version
pip 19.1.1 from c:\users\maguan\appdata\local\programs\python\python37-32\lib\site-packages\pip (python 3.7)

C:\>pip install tensorflow_gpu-1.14.0-cp37-cp37m-win_amd64.whl
ERROR: tensorflow_gpu-1.14.0-cp37-cp37m-win_amd64.whl is not a supported wheel on this pl

[2019-06-26 23:17] arjunVVDN opened #30185 "Issue facing while converting frozen.pb to xyz.tflite"
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with

[2019-06-26 23:26] jvishnuvardhan commented on #29041
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-26 23:26] #29041 closed

[2019-06-26 23:39] jvishnuvardhan commented on #29932
@abdou31 You could copy paste your code into [google colab](https://colab.sandbox.google.com/notebooks/welcome.ipynb). Run the colab file and the create a gist (under dropdown  `File`). Thanks!

[2019-06-26 23:45] badcab commented on #27794
I was having this issue, I eventually downloaded the whl file with wget

`wget https://www.piwheels.org/simple/tensorflow/tensorflow-1.13.1-cp35-none-linux_armv7l.whl`

 I kept getting errors in the download, example shown below

`Read error at byte 88145920/92452292 (A TLS packet with unexpected length was received.). Retrying.`

Eventually the file finished after throwing the above error a few t

[2019-06-26 23:48] thomas-coldwell opened #30187 "Internal error has occurred when executing Firebase ML tasks fails on tensor allocation"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-06-26 23:59] byshiue commented on #29772
class NetworkPruningHook(tf.train.SessionRunHook):
     def __init__(self):
        super(NetworkPruningHook, self).__init__()
        self.sparsity = 0
        self.total_step = 0
        self.step = 0
        self.hasInitialize = False

    def initialize(self, sparsity, total_step):
      self.step = 0
      self.total_step = (int)(total_step)
      self.sparsity = sparsity
      self.hasInitia

[2019-06-27 00:13] Roffild commented on #29770
I checked on Ubuntu 18, TF 1.14
The numbers are different, but the error is the same.

I tried to use the TF API, but the error repeated.

[code]

[2019-06-27 00:18] LukeBolly commented on #30021
In the case of Convolutional layers, that's not true.

[code]
*TypeError: Layer conv2d does not support masking, but was passed an input_mask: Tensor("masking/Any_1:0", shape=(?, ?, ?), dtype=bool)*

I'd argue that BatchNorm (and probably Dense layers too if they have bias nodes) also don't support masking because they don't work as expected with it. Conv2d could pass the mask through too, but ins

[2019-06-27 00:18] martinwicke commented on #16646
@SumNeuron, I think your code saves the graph, but not the variables. I do not think your graph needs saving, you are not modifying it. But the checkpoint must be saved -- it is what contains the variable values.

In fact, you shouldn't have to load the graph at all -- you only need the checkpoint, and you only need to write back the updated checkpoint.

[2019-06-27 00:22] sogoogos opened #30188 "Different results with the same initial guess"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow version: v1.14.0-rc1-22-gaf24dc91b5 1.14.0
- Python version: Python 3.6.8

I got different results with a same initial guess. I do not know if this is a bug or how it should be, but let me explain what I saw here since I did not get any answers from [my stack overflow post](https://stackoverflow.com/questions/56

[2019-06-27 00:52] cnndabbler commented on #27880
you might want to check into this

https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

[2019-06-27 01:20] zchfaq commented on #30169
@ymodak  I am sorry ,i made a mistake in writing. gpu costs 130ms, much slower than cpu

[2019-06-27 01:47] SefaZeng commented on #27671
I change the tensorflow version to 1.13 and the problem is solved... I dont know why, but it work for me, although my tensorflow-py version is 1.10.

[2019-06-27 01:56] devstein commented on #30105
@achandraa Thanks for looking into this! Did you iterate over the dataset? I'm still able to reproduce with your code by adding the following:

[code]

If this still doesn't work, the only other difference is the `filenames_dataset` I'm using has multiple files.

[2019-06-27 01:57] zh794390558 commented on #29951
@martinwicke  So when to release the fixed docker image for tf1.14?

[2019-06-27 01:57] #30179 closed

[2019-06-27 02:02] mihaimaruseac commented on #30042
Seems there was a bug in the release process pipeline.

We'll (try to) solve this issue this week, sorry about this.

[2019-06-27 02:04] devstein commented on #30156
@achandraa  Thanks for looking into this! Does this code snippet suffice? If not, let me know what other details you need.

[code]

[2019-06-27 02:08] mihaimaruseac commented on #29905
Somehow there are 2 packages in your `requirements.py` requiring two different version of `cloudpickle`

Will debug this week.

[2019-06-27 02:09] sailormoon2016 opened #30190 "TF 2.0: tf.GradientTape().gradient() returns None"
I designed my own loss function for my graduate research, it calculates the distance between the histogram of each loss in a batch and normal distribution. I am implementing this loss function in the setting of Tensorflow 2.0 [tutorial](https://www.tensorflow.org/beta/tutorials/eager/custom_training_walkthrough) about Iris flower classification.

I checked my loss value and type, they are same as

[2019-06-27 02:09] martinwicke commented on #29951
@angersson have we released docker containers for 1.14?

The custom op setup should work though, which container are you using?

[2019-06-27 02:14] tolry418 commented on #26665
@alextp @
I have similar issue. I attached my problem below.
**I replace tf.compat.v1.keras with tf.keras, but can't solve my problem.**

________________________________________________________________
In tf2_util.py
def conv2d( . . .  ~):
   . . . . . . . ~ skip
 with tf.compat.v1.variable_scope(scope) as sc:
    . . . . . . .  ~
      kernel = **_variable_with_weight_decay**('weights',

[2019-06-27 02:21] reuben commented on #27576
I'm running into this problem on r1.14 + CUDA 10.0, with tensorflow/core/kernels/tile_functor_gpu_int64.cu.cc

Wondering how TensorFlow didn't run into that for their Windows builds...

Will try the 10.1 nvcc workaround.

[2019-06-27 02:30] sailormoon2016 commented on #25333
Hi @alextp, I had similar problem, can you have a look at my code [issues #30190](https://github.com/tensorflow/tensorflow/issues/30190)? My tensors are all included inside the tape, I also used `tape.watch()`. Thanks!

[2019-06-27 02:30] zsdonghao commented on #29963
fixed by changing to `keepdims` , the online docs of TF need to be updated!!!

[2019-06-27 02:30] #29963 closed

[2019-06-27 02:36] sailormoon2016 commented on #29942
Hi @fps7806, I had similar problem, can you have a look at my code [issues #30190](https://github.com/tensorflow/tensorflow/issues/30190)? I added `tape.watch()`, checked my indentation and had my tensors included under the tape. Thanks!

[2019-06-27 02:48] weiminson commented on #29111
Thanks dude, will try.

[2019-06-27 02:58] #29856 closed

[2019-06-27 02:58] harmindergit commented on #30127
the link to the image (Line 16)

![RNN model structure](../../images/quickdraw_model.png) is not correct.

it is below this paragraph
"In this tutorial we'll show how to build an RNN-based recognizer for this problem. The model will use a combination of convolutional layers, LSTM layers, and a softmax output layer to classify the drawings:"

[2019-06-27 03:10] hillin commented on #18861
@nikkymen  @jlzhann  @sorny92
In C++ you can set device for a graph when loading it with  [`TF_ImportGraphDefOptionsSetDefaultDevice`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api.h#L722) (or its C++ equivalent, I'm not on the TF C++ stack, just casually P/Invoking the API in C#).

[2019-06-27 03:17] Elmit2015 commented on #30114
Thanks for your help.
How do I uninstall 2.0 and install 1.5 instead?
I am not going to compile on that mini notebook from source.

[2019-06-27 03:22] tydlwav commented on #24496
@robzor92 I doubt the 1050Ti's problem is with the small VRAM size. The RTX cards would encounter this on the basic CNN MNIST models. I doubt it's NVIDIA's tweaking of VRAM allocation on RTX cards somehow messed things up.

[2019-06-27 03:39] lcycoding commented on #24986
@tgpsantos
Even with this whole package of demo app, it still run into this error?
If the project below does not show error, try to implement it in your way.
To work on threads, that's kind like java issue, not tensorflow-related.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo

[2019-06-27 03:51] Elmit2015 opened #30191 "ERROR: Cannot uninstall 'wrapt'. during upgrade"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 19.04 on Sony notebook):
- TensorFlow version:
[code]

**Describe the problem**
I try to upgrade to beta1 with:
` install tensorflow==2.0.0-beta1
`
at the end I get:
[code]
How to fix it?

[2019-06-27 04:05] byronyi commented on #30114
Just do pip install tensorflow-gpu==1.5.0

[2019-06-27 04:15] Elmit2015 commented on #30191
I fixed it by:
[code]

[2019-06-27 04:15] #30191 closed

[2019-06-27 04:39] q463746583 opened #30194 "Word2vec only one GPU work (multiple gpu-based)"
**I have done a multiple-gpu version word2vec, and I apply `log_device_placement` in the code  which displays some ops has been applied to multiple-gpu:**
[code]
____________________________________________________________________
**But the `nvidia-smi` just shows only one gpu work at that time:**
[code]
**I attach my source code here:**
[code]

[2019-06-27 04:40] kasanadu commented on #30074
hi ..gm..i did send  ipynb file in the above zip file.. pls use it ...

[2019-06-27 04:45] ramrahu commented on #26174
I guess that's what I was missing. So I have to start from "Build the pip package" onwards?

[2019-06-27 05:12] #30086 closed

[2019-06-27 05:27] gadagashwini commented on #29984
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-27 05:27] #29984 closed

[2019-06-27 05:30] gadagashwini commented on #29992
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-27 05:30] #29992 closed

[2019-06-27 06:11] ravikyram commented on #30119
Just to verify whether you are able to restore previously saved checkpoint variables .Deprecation warning gives information about the function which will not be available in future version and it makes the user aware of this information.

[2019-06-27 06:20] gadagashwini commented on #30178
@kassemyu In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-06-27 06:28] ChuangLee commented on #30052
get the same issue, without specifying a ModelCheckpoint callback

`
Traceback (most recent call last):
  File "/home/deeplearning/.vscode/extensions/ms-python.python-2019.6.22090/pythonFiles/ptvsd_launcher.py", line 43, in <module>
    main(ptvsdArgs)
  File "/home/deeplearning/.vscode/extensions/ms-python.python-2019.6.22090/pythonFiles/lib/python/ptvsd/__main__.py", line 434, in main
    run()

[2019-06-27 06:33] sagarsahu27 commented on #28926
Hi All,

I am still facing issue with eigen URL, even I use http or https
wget https://mirror.tensorflow.org/bitbucket.org/eigen/eigen/get/a0d250e79c79.tar.gz --no-check-certificate
--2019-06-27 11:47:15--  https://mirror.tensorflow.org/bitbucket.org/eigen/eigen/get/a0d250e79c79.tar.gz
Resolving mirror.tensorflow.org (mirror.tensorflow.org)... 172.217.163.176, 2404:6800:4007:80f::2010
Connecting t

[2019-06-27 06:34] abdullahselek commented on #30119
Sadly I can't restore my previously saved checkpoints.

[2019-06-27 06:38] adr-arroyo commented on #27880
Hello,

actually, I did everything that is explaining there. I get to the point of converting the tflite model. However, when I try to use the edgetpu compiler I receive an error in compilation time. As good as it is, the error does not give any information appart from a path and a number (google does not say anything about it).

Have you encountered a similar problem?

[2019-06-27 06:38] ravikyram commented on #30047
@srinivirt Can we close this issue since the query is been answered. But please let me know if I'm mistaken.Thanks!

[2019-06-27 06:40] ramrahu commented on #26174
I changed 1 to 0 and rebuilt it. It didn't work. Where do I make the following change??
--- a/tensorflow/lite/kernels/mfcc.cc
+++ b/tensorflow/lite/kernels/mfcc.cc
I don't find this line in the code. Maybe this is the reason why the error still exists?

[2019-06-27 06:48] vidyabhandary commented on #29905
@mihaimaruseac  - Thanks for the clue. It looks like scikit-image and tfp-nightly both have dependency on cloudpickle.  The other dependency for tb-nightly version still shows an error though.

ERROR: tf-nightly-gpu-2-0-preview 2.0.0.dev20190626 has requirement tb-nightly<1.15.0a0,>=1.14.0a0, but you'll have tb-nightly 1.15.0a20190624 which is incompatible.

@jvishnuvardhan - I have created a GitH

[2019-06-27 06:50] 1n1n1t3 commented on #27880
Hi,

I have encountered the same problem trying to convert an EfficientNet model and deploy it t Coral Dev Board. I wrote email to Coral team and I was simply replied that "We don't support converting EfficientNet to EdgeTPU yet. Check the site regularly for updates"... I guess this is the cost of being an early adopter. I think they are having some problems with the compiler compiling more comple

[2019-06-27 07:01] adr-arroyo commented on #27880
Hi,

the model I use is actually a stack of Dense Keras layers and I am getting that error. The problem is that we do not know, from the compiler, what is the trouble coming from. Is it the model? Is it the tflite compilation? Is it another thing?

[2019-06-27 07:05] Adnan-annan commented on #3308
How to solve this error in visual studio 2015 ?

[2019-06-27 07:08] Adnan-annan commented on #3308
@scm-ns  @theSparta   how to solve this error while linking tensorflow 1.8.0 cmake build to visual studio ?? I am having trouble solving this error :(

[2019-06-27 07:09] Adnan-annan commented on #3308
i am using windows 10 :( not linux

[2019-06-27 07:11] ed-alertedh commented on #27880
@1n1n1t3 to be honest, I ended up using the Intel Neural Compute Stick 2 just because I needed to get something working soon and the software stack is more mature. I still like the Coral and Google has been very upfront that it is still in beta, so no complaints there.

The NCS 2 is a very different product as it does everything in FP16 and the architecture at a high level sounds closer to a deskt

[2019-06-27 07:27] achandraa commented on #29949
As of now, we are providing these warnings just to make user aware of things which are going to happen in the future version and give them time to adapt. You can suppress them using the APIs provided. Hope this answered your query. Thanks!

[2019-06-27 07:32] achandraa commented on #30120
Great to know the issue is resolved. Thanks!

[2019-06-27 07:34] mttbx opened #30195 "make tf.image ops support tf.float16 in tensorflow 2.0"
make tf.image ops like tf.image.extract_patches/tf.image.resize to support tf.float16, or at least make them to do implicit cast.

[2019-06-27 07:35] achandraa commented on #30114
@Elmit2015 : Let us know if you are still stuck. Thanks!

[2019-06-27 07:41] SumNeuron commented on #16646
@martinwicke I am a bit confused by that response?

Not savlng the variables would explain why it appears upon making a new `tf.estimator.Estimator` instance (with `warm_start`), the weights appear to be random / just initialized (except in the case where I assign the weights to their current value).

From your own [answer](https://stackoverflow.com/a/43531616/5623899) on StackOverflow (`SavedMode

[2019-06-27 07:47] 1n1n1t3 commented on #27880
I think you are doing something wrong then, because I managed to get other models to compile and run on the EdgeTPU. Did you convert the input/outputs in uint8 setting converter.inference_input_type and converter.inference_output_type to tf.uint8 ?

@ed-alertedh Yes, but if we compare NCS 2 with EdgeTPU we get a game changing performance gain which is essential for ML devices on the edge. The loss

[2019-06-27 07:47] gadagashwini commented on #30163
@fardindadashi Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the reproducible code snippet. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflo

[2019-06-27 07:48] Mubashshira commented on #16264
I am trying from folder in which i used ./configure but same error

[2019-06-27 07:52] gadagashwini commented on #30160
@Mouradost Just to verify, did you follow the steps mentioned in the [Tensorflow build](https://www.tensorflow.org/install/source_windows) official website. If not please follow the steps. Let us know how it progresses. Thanks!

[2019-06-27 07:52] mttbx commented on #27780
I met the same problem, it's much slow compared to float32 precision.

[2019-06-27 07:52] Mubashshira commented on #18856
@drpngx i m doing in same folder but still giving error

mubashshira_farooqui2000@tensorflow-2-vm:~/tensorflow_build/tensorflow$ python
Python 2.7.13 (default, Sep 26 2018, 18:42:22)
[GCC 6.3.0 20170516] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "tensorflow/__init__.py", line 24,

[2019-06-27 07:53] mttbx commented on #5592
Met the same problem, fp16 is much slower than fp32

[2019-06-27 07:58] zh794390558 commented on #29951
@martinwicke docker image for 1.14 has released, which tag is `latest-py3` and `latest-devel-py3`. And I using these docker image for testing, and deployment.

Another issue, when compile ops with g++-4.8 under 1.14 docker image:
when I using root account to install g++-4.8 and compile ops, all pass. But after install g++-4.8 as root,  I add another user account, then compile error, log as below:

[2019-06-27 07:58] AaronFan1992 commented on #30052
I get the same issue when I use the "callback" parameter:
[code]

Get error when start training 2 epoch.
[code]

[2019-06-27 08:02] achandraa commented on #29952
Please provide details about what platform you are using (operating system, architecture).  Also, did you compile from source or install a binary?

Make sure you also include the exact code snippet to reproduce the issue included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https://github.com/tensorflow/tensorflow/issues/

[2019-06-27 08:05] fardindadashi commented on #30163
I'm just saying the tutorials in https://www.tensorflow.org/tutorials/load_data/images the  keras_ds or feature_map_batch have not been used in model.fit function. Is that OK?

[2019-06-27 08:10] sleighsoft commented on #28248
You have to use nightly builds

[2019-06-27 08:19] halbaqshi commented on #29974
also I tried to use tf.scatter_spdate and find other issue, for details:

code:

    import tensorflow as tf
    def create_SNN_conv_model(fingerprint_input,first_weights, is_training):
        input_frequency_size =40
        input_time_size = 98
        if is_training:dropout_prob = tf.placeholder(tf.float32, name='dropout_prob')
        fingerprint_4d = tf.reshape(fingerprint_input,[-1, input_t

[2019-06-27 08:21] halbaqshi commented on #29974
I want to solve at least one of these code

[2019-06-27 08:33] mrcpj1998 opened #30196 "Signature Issue in Docker image"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-06-27 08:34] ravikyram commented on #30122
I am able to reproduce the issue in Colab ,works with  TF 2.0.0-alpha0, and fails with 2.0.0-beta1.Thanks!

[2019-06-27 08:41] abdou31 opened #30197 "Resnet model Tensorflow facial landmarks (Detect in real time)"
Hello,
I worked on a project (CNN facial landmarks [github project](https://github.com/yinguobing/cnn-facial-landmark).
I set my own dataset and I trained to detect just the eye region.
My question is:
Did can this project ( Resnet Model ) support detection in real time?
If yes, How Tensorflow works to detect in real time?
Thanks

[2019-06-27 08:51] TomorrowIsAnOtherDay commented on #29729
any progress here?
Again.

[2019-06-27 08:53] LukeBolly commented on #30161
For what it's worth, I have modified a version of the 1.13.1 BatchNormalization layer to take a mask in `call` which appears to be working. The change wasn't very big, though I haven't done anything to support renorm/fused/virtual/adjustment configurations. Would this be something worth creating a PR for?

[2019-06-27 08:56] aaronlyt commented on #29679
I still have this error

[2019-06-27 08:58] halbaqshi commented on #29974
I want to run any one of the previous code

[2019-06-27 08:59] SumNeuron commented on #16646
@kopas it seems your approach using `get_checkpoint_state` does not allow one to specify which checkpoint to use in the checkpoint directory (see [TensorFlow v1.10+: get_checkpoint_state what is the expected value for latest_filename for Estimator API to specify a particular checkpoint](https://stackoverflow.com/questions/56786829/tensorflow-v1-10-get-checkpoint-state-what-is-the-expected-value-fo

[2019-06-27 09:17] leonzgtee opened #30198 "freeze_graph freeze pb error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-06-27 09:20] SumNeuron commented on #16646
@martinwicke just for a "sanity" check, I copy-pasted @kopas 's solution from [above](https://github.com/tensorflow/tensorflow/issues/16646#issuecomment-384935839) (updating weights according to my previous [comments](https://github.com/tensorflow/tensorflow/issues/16646#issuecomment-504092705)) and it appears that the same issue persists

namely:
- if I set a weight matrix to the same value it or

[2019-06-27 09:26] leonzgtee commented on #30198
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu16.04
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):pip
TensorFlow version (use command below):1.12.0
Python version:3.6
Bazel version (if compiling

[2019-06-27 09:41] achandraa commented on #30162
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-06-27 09:45] om777 commented on #26289
The same story here. Ubuntu 18.04, Cuda 10.1.

[2019-06-27 09:46] achandraa commented on #30159
Thanks for your contribution to the community. This feature looks like related to serving a model. Can you please raise the issue in [TensorFlow Serving](https://github.com/tensorflow/serving/issues) repository for better and faster help. Thanks!

[2019-06-27 09:55] harahu commented on #16933
Just want to say that my team suffers from the same issue @mbrio mentions. Using `tf.train.Feature` and `tf.train.Example` to generate serialized examples is convenient, but prohibitively slow.

[2019-06-27 09:56] gadagashwini commented on #30183
@sragini24 We don't provide support for the CMake build anymore. Please use bazel instead to build.Thanks!

[2019-06-27 09:59] achandraa commented on #22266
@EdwardVincentMa : Apologies for late response. Looks like not a bug/performance/feature request therefore question can be better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) for better and faster response. If resolved already, we shall close the issue. Thanks!

[2019-06-27 10:01] ricosr commented on #27503
I have the same trouble as you, have you solved it?

[2019-06-27 10:02] ricosr commented on #27503
@ShaneTian I have the same trouble as you, have you solved it?

[2019-06-27 10:06] toniz commented on #24524
because the tensorflow-plot version is higher. so
 pip install tensorflow-plot==0.3.0
will ok!

[2019-06-27 10:10] yongtang commented on #16933
@harahu Are you looking for reading numpy files (on disk) into tf.data, or converting numpy array (in memory managed by python process) into tf.data (in memory and managed by tf process)?

The former might be easier to implement than the latter. The underlying tensorflow (including tf.data) is implemented in C++ and interacting with python's memory is not very straightforward (hence the not so con

[2019-06-27 10:13] tonylibing commented on #26289
not working too, Ubuntu 16.04 cuda10.1 tensorflow-gpu-2.0-beta

[2019-06-27 10:21] yprajakta12 commented on #15060
Can u please share the solution to the problem?? we would be glad to you @tusharag171
please!!

[2019-06-27 10:37] dibet commented on #25120
About
https://github.com/tensorflow/tensorflow/issues/25120#issue-402094367

I fix it as follow

in the file: ./tensorflow/lite/tools/make/targets/linux_makefile.inc

append LIBS += -lrt

[2019-06-27 10:37] ravikyram commented on #30167
I have reproduced the issue in Colab using TF 2.0.0-beta1. Thanks!

[2019-06-27 10:43] kbhute-ibm commented on #16540
This test passes in version 1.13.1. We may close this issue. Thanks for the support.

[2019-06-27 10:46] Elmit2015 commented on #30114
I tried:
[code]

[2019-06-27 11:03] mrsabhar commented on #25213
Build is now working with mkldnn. We needed hotfix and cc_import to fix the issue.

[2019-06-27 11:04] reuben commented on #26174
This patch does not affect training, it only changes the TFLite interpreter, so whatever you're using to load a trained .tflite file, that's what you need to modify and recompile. If you're using the Python interpreter API, then yeah, you need to rebuild and reinstall the pip file.

[2019-06-27 11:09] calledbymountains commented on #30050
Anything on this one ?

[2019-06-27 11:13] egolearner commented on #26466
hi @asimshankar please have a look

[2019-06-27 11:15] ramrahu commented on #26174
I'm trying to use an pretrained tflite just to see how the app works well. I did the rebuilding but to no effect. The model doesn't load but keeps giving the same error

[2019-06-27 11:15] Jarboui opened #30199 "Gradient returns "Nan" values when using triplet loss with similar batches"
Hi,

I am using tf 1.12.0.
My issue is related to this [one](https://github.com/tensorflow/tensorflow/issues/783).
It seems that it was closed judging it the benefit are marginal with respect to the effort.
I stumbled on this problem as I was working on my use case. I am not sure how common this is, but I think it deserves a second look.

I am working on sequence representation learning, and when

[2019-06-27 11:43] Mouradost commented on #30160
yes, I did.

- I have installed Microsoft Visual C++ 2015 Redistributable, Build Tools 2015 update 3 and MSY2
- Setup my environment variables

I also did try with Tensorflow 1.14 and Bazel 0.24.1 but I always face the same message error that this link.exe  is causing problems

[2019-06-27 11:43] mohapatras commented on #30172
@gadagashwini I tried reading, preprocessing images with tensorflow APIs. e.g. JPEG, PNG etc. I see a encode function for each formats but not the same for "BMP". Having that option to encode it back will help.

[2019-06-27 11:49] byronyi commented on #30114
That probably because your Python version is too high. Python 3.7 support was added not long time ago. Could you try using Python 2?

[2019-06-27 11:52] mohapatras commented on #6720
@ppwwyyxx I cant find anti alias option as it is implemented in the fix above. Can you please explain how to use it ? can't find the new option in the documentation [link below].(https://www.tensorflow.org/api_docs/python/tf/image/resize_images)

[2019-06-27 12:13] achandraa commented on #29931
@CJMenart : Did you get the chance to have a look on @rachellim's response. Please let us know if that resolves the issue. Thanks!

[2019-06-27 12:22] achandraa commented on #30165
I have tried on Colab with TF GPU version 2.0beta1 and was able to reproduce the issue. The code snippet caused crashed in Colab after using all available RAM.

[2019-06-27 12:26] thomas-coldwell commented on #30187
Issue fixed now - I had set the wrong input size of the model (should have been 299 *299) but was receiving 224 * 224 - could a better exception thrown to check that they are indeed the same corresponding size rather than just it being an internal error at the allocation stage?

[2019-06-27 12:39] adr-arroyo commented on #27880
Hello @1n1n1t3,

I am using this piece of code to convert my model to tflite, I indeed use inference_types as tf.uint8.

[code]

Actually, in the code I found they were using different pieces of code for the first two lines, but this did not work for me. Those original lines were:

[code]

I save my keras models with a simple: `model.save(filename + '.h5')` and my model looks like:

[code]

Do you

[2019-06-27 12:45] sragini24 commented on #30183
Could you provide me a link to the procedures to use bazel  to generate c++ code for use with Visual Studio 2015?
Thanks

[2019-06-27 12:49] achandraa commented on #28626
Thank you all. Looks like many users are having the issue on TF GPU 2.0-beta1. Can we open a new issue and try to triage from that. It will be good for us to track for better and faster resolution.

[2019-06-27 12:54] ravikyram commented on #30056
I have reproduced the issue in Colab using TF-GPU 2.0.0-beta1.Thanks!

[2019-06-27 12:55] rpmcruz commented on #28281
Here is a more concise reproduction of the bug:

[code]

The problem happens when using a `Sequential` without an `input_shape`. TensorFlow allows such models to be used inside other models. Unfortunately, `load_model()` has not been implemented to work in such a scenario. (It seems to enter into an infinite loop.)

[2019-06-27 12:59] rpmcruz commented on #28281
I don't know how to add labels, but this is still a problem in `2.0.0-beta1`.

[2019-06-27 13:16] gadagashwini commented on #30172
@mohapatras Thanks for finding this.

[2019-06-27 13:17] capilano commented on #30197
Resnet 18 can give you real time performance(or at least near real-time) on a mobile GPU and probably even on a good CPU if you adjust the channels carefully. Just go with a conventional CNN model is my suggestion. I built one a while back(using squeeze net like structures) with fairly good performance.(less than 10ms on a desktop CPU for a single image)

[2019-06-27 13:21] essalahsouad commented on #28175
@ajinkya933 did you solved the issue ??

[2019-06-27 13:33] abdou31 commented on #30197
I have tested a script that tested the frozen model produced after training,
Actually, for the video, I get false prediction and I can see landmarks drawn on the video stream.
But when I open the webcam I didn't get any landmarks drawn and the video is too slow.

            face_img = cv2.resize(face_img, (INPUT_SIZE, INPUT_SIZE))
            face_img = cv2.cvtColor(face_img, cv2.COLOR_BGR2RGB)

[2019-06-27 13:38] areeh opened #30200 "sys.version_info conditional for enum34 breaks poetry (and contaminates requires in general)"
To prevent enum34 issues such as #15136 a `sys.version_info` conditional was added, as can be seen in the TF source [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py#L101)

As per [PEP508](https://www.python.org/dev/peps/pep-0508/#environment-markers) the recommended way is using environment markers.

Using the old `sys.version_info` method breaks to

[2019-06-27 13:42] capilano commented on #30162
I have just added a few lines to illustrate the issue. I have a very big workflow, so I cannot add the whole code here. The issue is that when model.fit is called in a loop(as shown above), the training slows down considerably.

[2019-06-27 13:50] kung-foo commented on #30200
PyPi responds with this list of dependencies for tensorflow:
[code]

compare this to llvmlite which explicitly includes a version marker:

[code]

[2019-06-27 14:03] capilano commented on #30197
Why are you asking this question on the tensorflow github issues page?
I do not get what you are trying to do. Why are you trying to reshape a(1,128,128,3) array into a (32,128,128,3) array? You have to do it like this if this is what you really wanted to do
img_list = []
for i in range(32):
      img = np.array(face_img)  ## do not reshape into (1,128,128,3)
      img_list.append(img)
img_list =

[2019-06-27 14:06] shoutOutYangJie opened #30201 "Why not support LeakyRelu op for C++ Api?"
I try to import my pb file which use LeakyRelu as activation function in VS2015. I find I can't use "sess->Create(&gdef)" to import my pb. Error shows :

[2019-06-27 14:07] halbaqshi commented on #29974
any help??
@gadagashwini
@Leslie-Fang
@tensorflowbutler
@jvishnuvardhan

[2019-06-27 14:37] wdirons commented on #30196
I just tried this and did not get an error. Could it be an environment issue?

Ping @angersson for this thoughts

[code]

[2019-06-27 14:39] jodejega commented on #28621
pt.numpy()
en.numpy()
they don't have attribute numpy()
somebody can help is the same transformer example of SunYan

[2019-06-27 14:50] mrcpj1998 commented on #30196
@wdirons Haven gotten home from work i tried it on a local desktop. No issues there. I guess i'll have to look into the environment tomorrow.

Any idea what can cause these kinds of glitches?

[2019-06-27 15:01] mihaimaruseac commented on #29905
Assigning to @nfelt for tensorboard versioning changes.

[2019-06-27 15:02] harahu commented on #16933
@yongtang I am looking to serialize data in order to write to tfrecord files. The origin of my data is numpy arrays, but the solution doesn't need to be a direct mapping from numpy arrays to serialized strings, as I don't mind turning said arrays into tensors before serialization. We have `tf.serialize_tensor` already, which is efficient, but it is very limited in what it can serialize (one tensor

[2019-06-27 15:03] mihaimaruseac commented on #29905
Actually, @vidyabhandary can you try using `tb_nightly==1.14.0a20190614` in `requirements.py` instead of just `tb-nightly`? Version changed recently as TF 1.14 was launched but the 2.0 branch was not updated (most likely won't be until mid July)

[2019-06-27 15:05] mihaimaruseac commented on #29906
Closing as there is a lack of response and the question seems more fitted for StackOverflow.

[2019-06-27 15:05] #29906 closed

[2019-06-27 15:07] mihaimaruseac commented on #30196
Could be an issue upstream, on `apt` side.

[2019-06-27 15:15] Burton2000 commented on #29144
Still an issue for me using the beta release of tf2.

Using pycharm 2019.

[2019-06-27 15:16] Burton2000 commented on #26502
Seems like this is now the issue https://github.com/tensorflow/tensorflow/issues/29144

[2019-06-27 15:39] harahu opened #30203 "Multiple output files for tf.data.experimental.TFRecordWriter"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-06-27 15:41] johnpjf commented on #6720
@mohapatras antialias is only available in the 2.0 versions, which you can use by

import tensorflow.compat.v2 as tf_v2
...
tf_v2.image.resize(..., antialias=True, ...)

[2019-06-27 15:44] CreeperLava opened #30204 "keras.utils.vis_utils.plot_model() raises TypeError: 'InputLayer' object is not iterable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 19.3
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0b1
- Python version: 3.6
- CUDA/cuDNN version: /
- GPU model and memory: GTX 940MX, 430.26

**Desc

[2019-06-27 15:45] mihaimaruseac commented on #29949
This has been fixed in master, there probably was a bug in 1.13-rc0.

[code]

[2019-06-27 15:45] #29949 closed

[2019-06-27 15:48] mihaimaruseac commented on #30184
Related to #30028 but this has a larger scope

[2019-06-27 15:51] aaroey commented on #29840
@bionicles does setting [per_process_gpu_memory_fraction](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/config.proto#L25) to be >1.0 work for you?

Also @jaingaurav

[2019-06-27 15:54] maxima120 commented on #29839
you are awaiting for a flower? do you want me to send you a bunch of roses? ;)

[2019-06-27 15:55] xfsm1912 opened #30205 "installation fails "FAILED: Build did NOT complete successfully""
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.5
- Mobile

[2019-06-27 16:19] angersson commented on #29951
@zh794390558, can you try using `devel-py3` instead? `latest-devel-py3` is actually very old (our `devel` are just called `devel`; I'll update the docs to reflect this).

[2019-06-27 16:22] hamatake commented on #29165
TF requires hermetic builds, so the ICU conversion data is embedded in the binary as a byte-array. It currently uses little-endian layout. The TF team doesn't have bandwidth to add big-endian support currently, but a PR would be welcome. The data embedding takes place here: https://github.com/tensorflow/tensorflow/blob/master/third_party/icu/data/BUILD.bazel.

Byte ordering has come up as an issue

[2019-06-27 16:24] angersson commented on #29951
@martinwicke Yep, they've been released. I'm not totally sure about this use case though, because our versioned containers just pre-install the libraries needed to run TF. `latest-devel` was superceded by `devel` some time ago (I guess I'll need to delete that tag, because it's confusing) and it looks like the `custom-op` images are mixed ages (with `nightly-custom-op` the youngest).

[2019-06-27 16:36] alexmil2019 commented on #30037
I added definition for strategy.

[2019-06-27 16:42] micw523 opened #30206 "API link for r1.13 directs to r1.12 instead"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://www.tensorflow.org/vers

[2019-06-27 16:46] jsimsa commented on #28912
@jvishnuvardhan please assign this to someone familiar with Keras, thank you

[2019-06-27 16:52] ymodak commented on #30151
I was able to load the link successfully using safari browser on macbook pro. Please make sure you have strong internet connection and try again. Thanks!

[2019-06-27 16:52] #30151 closed

[2019-06-27 16:56] jsimsa commented on #16933
@rohan100jain and @frankchn are working on a mechanism for persisting the outputs of (a prefix of) an input pipeline which needs to solve the same problem (efficiently serializing elements of a tf.data.Dataset).

I believe that their solution could be extended to provide "save" and "load" functionality, but I also expect that it might take some time to settle on a format for which backwards compat

[2019-06-27 16:59] jianlijianli commented on #29829
Hi hvico, the representative_data_gen part is reasonable and I suspect the error is from some mismatch between the data and the model. Is it possible for you to share the model? Thanks.

[2019-06-27 17:16] leimao opened #30207 "Cannot Run Official TF2.0 Example in Official TF2.0 Docker Container"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-06-27 17:29] jsimsa commented on #29751
The solution for this is to update the serialized checkpoint, replacing occurrences of `ParallelInterleaveDataset` with `ExperimentalParallelInterleaveDataset`.

[2019-06-27 17:30] jiafatom opened #30208 "tf keras base layer issue for input_tensors/output_tensors in 1.14.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.17763
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): 1.14.0
- Python version: 3.6.8

**Describe the current behavior**
In tensorflow keras, the `input_t

[2019-06-27 17:56] alextp commented on #26665
Can you file a separate issue?

[2019-06-27 17:57] 9162726598 commented on #4114
could tensorflow 2.0 support sparse input training and prediction now?

[2019-06-27 17:59] sailormoon2016 commented on #30190
it's solved

[2019-06-27 17:59] #30190 closed

[2019-06-27 18:03] angersson commented on #30196
@mrcpj1998 It's also possible that an old local version of `latest-gpu-py3` could be causing this. Does anything change if you run `docker pull tensorflow/tensorflow:latest-gpu-py3` first?

I also couldn't replicate the issue on my machine.

[2019-06-27 18:08] lamberta commented on #30206
Thanks. Fix is now on prod

[2019-06-27 18:08] #30206 closed

[2019-06-27 18:12] iranroman commented on #29751
@jsimsa Thank you for your reply! What about `ParallelInterleaveDatasetV2` instances? Leaving them unchanged causes the same error. Changing them to `ExperimentalParallelInterleaveDatasetV2` cases `DecodeError: Error parsing message`

[2019-06-27 18:16] flobotics commented on #29542
how/where can i see your merge request to know when it gets merged and a nightly is usable?

[2019-06-27 18:22] angersson commented on #30042
Added @av8ramit too. I wonder if there's a desync between our upload scripts.

[2019-06-27 18:22] jsimsa commented on #29751
All experimental tf.data ops renamed as part of https://github.com/tensorflow/tensorflow/commit/bf70c447d68070e81c1dbc2ebf0b6b0d8ae2c597 need to be updated accordingly.

[2019-06-27 18:24] jsimsa commented on #29751
Notably, `ParallelInterleaveDatasetV2` should not be renamed. I suspect that when you replaced `ParallelInterleaveDataset` to `ExperimentalParallelInterleaveDataset` you also accidentally renamed `ParallelInterleaveDatasetV2` to `ExperimentalParallelInterleaveDatasetV2`.

[2019-06-27 18:29] mihaimaruseac commented on #30117
Makefile build is no longer supported, it's povided on a best-effort basis.

I currently don't have access to a Mac machine to try and fix this, unfortunately

[2019-06-27 18:37] lamberta commented on #30164
Fixed in https://github.com/tensorflow/tensorflow/issues/30206

[2019-06-27 18:37] #30164 closed

[2019-06-27 18:39] av8ramit commented on #30042
Taking a look now.

[2019-06-27 18:44] angersson commented on #30057
Thanks @wdirons! I've updated the page.

@zh794390558, @wdirons is correct -- recently built `py3` images (1.14+ and `nightly` images) include Python 3.6 thanks to Ubuntu 18.

[2019-06-27 18:44] #30057 closed

[2019-06-27 18:52] jvishnuvardhan commented on #30118
@EternalSaga Can you try recent TF 1.14.0 version and let us know how it progresses. Also, please fill the issue template [here](https://github.com/tensorflow/tensorflow/issues/new/choose). thanks!

[2019-06-27 19:03] jvishnuvardhan commented on #30100
I could reproduce the issue with `tensorflow-gpu==1.14.0rc1` and `tensorflow-gpu==1.13.1`. Thanks!

[2019-06-27 19:08] siavash-khodadadeh commented on #28766
https://www.tensorflow.org/beta/tutorials/text/text_classification_rnn

The same thing is true about the same tutorial for TF 2.0 and it is very confusing.

[2019-06-27 19:08] CJMenart commented on #29931
@achandraa It worked as soon as tchinen recommended I try it. I was able to complete the tasks I was working on.

But we're not just going to leave this behavior here, right? The fact that such an awkward workaround is required if you want to tf.map the same function twice seems like a bug to me.

[2019-06-27 19:21] abdou31 commented on #30197
The reshape into 32 gives an error that I have posted in the previous comment

[2019-06-27 19:27] arkajyotiMukherjee commented on #20619
This worked. Thanks!

[2019-06-27 19:38] lamberta commented on #28173
Hi @Whisht, can you try this again? Testing thinks you have a Chrome extension installed that is blocking Google web fonts.

[2019-06-27 19:53] angersson commented on #29738
Also, @zh794390558, you'll need to use `devel` instead of `latest-devel` -- `latest-devel` is much older (I'm working on getting them synced up, but `devel` is the canonical image).

[2019-06-27 20:29] #20619 closed

[2019-06-27 20:29] av8ramit commented on #30042
It appears the 1.14 build upload was not completed. Can you try again now please?

[2019-06-27 20:33] timokau commented on #30042
Yes, the downloads work now! The [documentation](https://www.tensorflow.org/install/pip) still points to 1.13 though.

[2019-06-27 20:38] mihaimaruseac commented on #30042
I think @lamberta can fix the documentation link, assigning to him

[2019-06-27 20:43] jacobsn commented on #20619
I don't think solves the original problem, which was about using tf.train.AdamOptimizer. Last I checked, tf.train optimizers were necessary to get TPU training to really work.

Unless the problem of using ReduceLR w/ tf.train optimizers has been fixed or the issue w/ TPU training using Keras optimizers has been fixed, I would still consider this an open issue.

[2019-06-27 20:46] jvishnuvardhan commented on #29995
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-06-27 20:48] annarev commented on #30028
Sorry for the breakage! This is caused by adding a module wrapper that prints deprecation messages. I will send a change to fix it.

[2019-06-27 20:58] tanzhenyu commented on #20619
What do you mean Keras optimizer not working with TPU?

[2019-06-27 21:07] rankyung-hong commented on #28697
@ANSHUMAN87 I have a follow-up question about this issue. I had a same issue. What should I do to get "Conv2D" layer instead of "DepthwiseConv2D"?

First Conv2D layer is converted to "DepthwiseConv2D", but second Conv2D layer is converted to "Conv2D". I should have get every conv2d layers converted to conv2d due to post-processing steps.

model = keras.models.Sequential([
    keras.layers.Conv2D(f

[2019-06-27 21:08] jlebar commented on #29886
@jvishnuvardhan hey, I'm leaving the TensorFlow/XLA teams.  I've updated go/tf-who-do-i-notify to point to a different point of contact.  Ideally we'd have some sort of XLA group you could use instead, I don't know if that's possible to set up?

[2019-06-27 21:09] #30061 closed

[2019-06-27 21:19] jacobsn commented on #20619
I spent quite a bit of time trying to get TPU optimization working with the Keras optimizers about a month ago and it didn't seem to work correctly. I could use tf.train.Adam and the loss would go down (but I couldn't decay the learning rate).  With the Keras optimizer the loss would not go down (I tried various multiples of the learning rate, in case there was a batch sizing issue, but it didn't

[2019-06-27 21:21] sanjoy commented on #29886
Hi Matt,

Thanks for the report.  Are you willing to make a PR to fix this?  Your suggestion to use `if_nccl` sounds quite reasonable, although you'll also have to update `NcclAllReduceThunk::NcclIsEnabled` to do the right thing.

[2019-06-27 21:21] jvishnuvardhan commented on #30190
@sailormoon2016 If possible post how you resolved so that it will help the community. Thanks!

[2019-06-27 21:28] gargn commented on #30026
Please add the flag `--allow_custom_ops`.

[2019-06-27 21:28] lamberta commented on #30042
Site updated: https://www.tensorflow.org/install/pip#package-location

[2019-06-27 21:28] #30042 closed

[2019-06-27 21:43] timokau commented on #30042
Thank you!

[2019-06-27 21:58] ymodak commented on #30065
Were you able to solve this issue?

[2019-06-27 22:01] ymodak commented on #30134
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-06-27 22:01] #30134 closed

[2019-06-27 22:07] MattConley commented on #29886
Sure, I'll link the PR here as soon as I submit it.

Thanks,
Matt Conley

[2019-06-27 22:11] abdou31 commented on #30065
I did not continue with this command line,
I followed other instruction to generate tflite file model

[2019-06-27 22:20] leimao commented on #27614
I doubt if TensorFlow 2.0 has officially supported frozen graph.

[2019-06-27 22:20] jmsteinw commented on #27696
For anyone facing this issue, you can simply change the optimizer to be from tf.train instead. This will be a compatible optimizer with tf.keras code (worked for me on 1.13).

[2019-06-27 22:46] alextp commented on #30069
I think now that we have compositetensor and typespec it should be straightforward to implement sparsetensor support in py_function by treating all composites generically.

I don't have the bandwidth to do this now, so leaving as contributions welcome.

[2019-06-27 22:47] alextp commented on #30100
@dubey can you take a look?

[2019-06-27 22:50] alextp commented on #30165
@superbobry is this related to the recent __array_interface__ changes?

[2019-06-27 23:15] sailormoon2016 commented on #30190
I figured my self defined loss function may not be differentiable, so I modified my loss function to make sure the calculation is differentiable, then the results come out as expected. My customized loss function did give a better accuracy compared to the default cross-entropy. you can find my code [here](https://github.com/sailormoon2016/Transportation/blob/master/ErrorShaping/tf2_flower.ipynb) i

[2019-06-27 23:17] #30187 closed

[2019-06-27 23:19] ymodak commented on #30092
@keurcien Perhaps you can use ```python tf.keras.optimizers.Ftrl``` instead
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/optimizers/Ftrl
[code]

[2019-06-27 23:22] #30092 closed

[2019-06-27 23:23] jvishnuvardhan commented on #27882
@ngelotte Is this issue resolved by following @ANSHUMAN87 suggestion? Thanks!

[2019-06-27 23:26] jvishnuvardhan commented on #29735
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-27 23:26] #29735 closed

[2019-06-27 23:27] ymodak commented on #30092
@keurcien Thanks for catching this. Sent a PR to address this issue.

[2019-06-27 23:33] henrysky commented on #27543
@jvishnuvardhan and @k-w-w:

Is there any ETA for a fix or any direction so I can contribute for a fix?? Thanks!

[2019-06-27 23:34] leimao commented on #26844
TensorFlow is giving up a lot of its unique features. As a TensorFlow user since 2015, I feel very sorry about that. Keras should never take the place of TensorFlow.

[2019-06-27 23:58] wangtz commented on #28555
Eh... WaitUntilLine

Sounds like you need to type enter on you console?

[2019-06-28 00:03] wangtz commented on #29954
Apart from [[ which sounds strange to me. [[ is a way in bash to express control flows.

There is another error on curl:

tensorflow/lite/experimental/micro/tools/make/download_and_extract.sh: line 84: curl: command not found

Could you install curl and try again?

[2019-06-28 00:06] wangtz commented on #29779
This makes a lot of sense. Do you want to kindly provide a PR?

Thanks,

[2019-06-28 00:07] wangtz commented on #29524
I believe that this issue has been fixed. Please try again.

[2019-06-28 00:08] wangtz commented on #27156
Try make this larger and try again.

[2019-06-28 00:09] wangtz commented on #27156
oop. forgot the link: https://github.com/kmader/tflite_micro/blob/278c2899f05cc721133829d75f9e88ed87a3d33f/simple_app/demo.cc#L53

[2019-06-28 00:16] tolry418 commented on #26665
Downloads/3D/pointnet2/tf2_train.py:94 train_one_epoch *
train_one_step(train_data, train_label, model, optimizer)
anaconda3/envs/tf_2/lib/python3.6/site-packages/tensorflow/python/eager/def_function.py:416 call
self._initialize(args, kwds, add_initializers_to=initializer_map)
Downloads/3D/pointnet2/tf2_train.py:67 train_one_step *
pred = model.get_model(data, True, None)
Downloads/3D/pointnet2/mo

[2019-06-28 00:21] jvishnuvardhan commented on #30190
@sailormoon2016 Thanks for the information and code. It will help others in the community. Greatly appreciated. Thanks!

[2019-06-28 00:22] lamberta commented on #30127
Thanks. Fixed markdown for github

[2019-06-28 00:22] #30127 closed

[2019-06-28 00:23] jvishnuvardhan commented on #27543
@henrysky As you are interested to contribute, You can raise a PR. Thanks!

[2019-06-28 00:38] jvishnuvardhan commented on #28694
@alenaschnurr I changed shape in one function as follows. I don't see any error for both mode=1 or 2. Please let me know what you think? Thanks!

[code]

[2019-06-28 00:43] frankchn commented on #29839
@maxima120 I've reassigned it to folks more familiar with the code, but with TensorFlow 1.14, can you try distribution strategy instead? That is a more complete implementation: https://www.tensorflow.org/guide/distribute_strategy#using_tfdistributestrategy_with_keras

[2019-06-28 01:15] freedomtan commented on #30172
@mohamedadaly I started and contributed the bmp decoder so that I can test TensorFlow in command line programs on Android (Android image decoding APIs are Java APIs. Not easy to use them in command line C++ programs). So, yes, if nobody contributed a decoder for bmp, maybe you can start one :-)

[2019-06-28 01:43] ShaneTian commented on #27503
Don't use 'expanddims' in Keras model, it's not compatible @ricosr

[2019-06-28 02:35] bionicles commented on #28626
what is the "21" type? this happens to us even on 1.14...

[2019-06-28 02:47] mohapatras commented on #30172
@freedomtan I think "decoder for bmp" should be encoder.

[2019-06-28 02:59] ricosr commented on #27503
@ShaneTian Thank you so much! Actually my problem is a little different from yours, I used tf.reshape in my model, but both of them are similar compatible troubles. Now I change tf.reshape by tf.keras.layers.Reshape, which can work well.

[2019-06-28 03:08] loadwiki opened #30211 "core dump occurred when run boosted tree classifier demo in official tutorial"
Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz
CentOS Linux release 7.2.1511 (Core)
install from pip
CPU-version
tensorflow                               1.14.0rc1
tensorflow-estimator             1.14.0

Run boosted tree model from [official demo code ](https://www.tensorflow.org/tutorials/estimators/boosted_trees)
`est.train(train_input_fn, max_steps=100)`
If 'max_steps ' set to 100 , core dump occur

[2019-06-28 03:34] rambo-12 commented on #6168
I am trying a simple linear regression using tensorFlow. The first time when I run the program (after kernel starts), it works fine. But when I run it again it gives similar error.

[2019-06-28 03:42] freedomtan commented on #30172
@mohapatras yes, updated :-)

[2019-06-28 05:05] ravikyram commented on #30074
I have tried executing the code & i got the following result.Please, let us know is this is the expected output?.
![mynodel](https://user-images.githubusercontent.com/51902062/60318287-10efc480-9990-11e9-950d-61fe5ca80879.png)

[2019-06-28 05:09] ravikyram commented on #30110
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-06-28 05:13] Eloring commented on #26525
I got the same issue, how to solve it?

@aaroey
What should be done after importing tftrt module?

[2019-06-28 05:23] vidyabhandary commented on #29905
With that change I no longer this error -

ERROR: tf-nightly-gpu-2-0-preview 2.0.0.dev20190626 has requirement tb-nightly<1.15.0a0,>=1.14.0a0, but you'll have tb-nightly 1.15.0a20190624 which is incompatible.

Thanks !!

[2019-06-28 05:23] kbhute-ibm commented on #29165
@hamatake Thanks for the pointers that gave us direction for further debugging.

[2019-06-28 05:26] ngelotte commented on #27882
I was not able to try it as I did not have a good local environment to run it in. As the goal of this conversion was to be able to use it on a EdgeTPU device I am able to follow the steps here https://github.com/tensorflow/tensorflow/issues/27880 to do the conversion. This area is still in active development it seems but I think it is the better route. Thanks for the help.

[2019-06-28 05:37] AlexYoung757 commented on #29788
@ymodak . thanks , i have solved this problem. After modify the AVX instruction sets ,all the question has done.

[2019-06-28 05:37] #29788 closed

[2019-06-28 05:38] capilano commented on #30197
You can only reshape arrays that have equal sizes.  128*128*3*1, is not equal to 32*128*128*3, so you can not reshape like that.

[2019-06-28 05:38] mihaimaruseac commented on #29905
Thank you for confirming fix. I'm going to close the issue now but feel free to reopen if there's something else to solve here and I missed it

[2019-06-28 05:38] #29905 closed

[2019-06-28 05:43] capilano commented on #30197
You cannot reshape arrays like that. They have to have the same size, before and after reshape.For example, you can reshape an array of shape (64,2) into an array of shape(128,1) etc where the sizes of the flattened arrays are the same

[2019-06-28 05:48] kasanadu commented on #30074
Hi Ravi
![SaveLoadv1](https://user-images.githubusercontent.com/5951312/60320097-4a2b3300-9996-11e9-8a3c-4245d00b9ce4.png)

    model is used to training time  and store weights  in model (file)
    model1 is used to load weights from file

      issue is during load..

[2019-06-28 05:51] ziyigogogo commented on #30197
Stackoverflow is a better place for question like this.

[2019-06-28 06:09] ravikyram commented on #30113
I am able to reproduce the issue with eager execution using TF 1.12 &TF 1.9 but in session i am getting the below error.
RuntimeError: The Session graph is empty. Add operations to the graph before calling run().

But in TF1.14 i am able to reproduce the issue with session mode but i am getting below error with eager execution.
ValueError: tf.enable_eager_execution must be called at program startu

[2019-06-28 06:18] mayadav1 opened #30212 "error C2280: 'tensorflow::FunctionLibraryDefinition &tensorflow::FunctionLibraryDefinition::operator =(const tensorflow::FunctionLibraryDefinition &)': attempting to reference a deleted function"
**System information**
- OS Platform :   Windows 10 Pro
- TensorFlow version: 2.99
- Python version: Python 3.6.8 :: Anaconda, Inc.
- Installed using virtualenv: conda
- Bazel version :  0.24.1
- MSVC17
- NO CUDA

configuration :
Please specify the location of python. [Default is C:\Users\zen2_microsoft\Anaconda3\envs\tensorflow-1.13.1-without-mkl\python.exe]:
Found possible Python library paths:

[2019-06-28 06:25] ravikyram commented on #29621
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-28 06:25] #29621 closed

[2019-06-28 06:28] ravikyram commented on #29696
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-28 06:28] #29696 closed

[2019-06-28 06:30] ravikyram commented on #29684
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-28 06:30] #29684 closed

[2019-06-28 06:34] ravikyram commented on #29678
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-28 06:34] #29678 closed

[2019-06-28 06:37] AkshaykumarA commented on #24190
Try to set the QUANT as FALSE and give a try & Instead of using byte[][] use the Float[][] in your Classifier class. I had a similar issue and its fixed now.
i.e;
    private static final boolean QUANT = false;
                                   &
    float[][] result = new float[1][labelList.size()];
    interpreter.run(byteBuffer, result);
    return getSortedResultFloat(result);

[2019-06-28 06:39] T-Troll commented on #29806
The only discussible hack here is adding utils.cpp, the rest is just support for .cpp file handling.
I can't push it directly, let me check about request.

[2019-06-28 06:46] ravikyram commented on #29761
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-06-28 06:46] #29761 closed

[2019-06-28 06:56] themightyoarfish commented on #30117
I think I have the fix ready, I can hopefully submit a PR.

[2019-06-28 07:16] ravikyram commented on #29772
I tried reproducing the issue. But i am not able to get saved checkpoints.Please,help us to give  more information to reproduce the issue.Thanks!

[2019-06-28 07:26] zicofish opened #30215 "Unexpected `tf.cast` behavior between signed and unsigned integers"
It is tested on Google's own platform `https://colab.research.google.com`:
**System information**
- OS Platform and Distribution: Linux version 4.14.79+ (chrome-bot@swarm-cros-634)
- TensorFlow installed from (source or binary): The platform is provided by Google
- TensorFlow version: 1.14.0-rc1  (also tested on my own machine with TF 1.13.1)
- Python version: 3.6.8

**Describe the current behavio

[2019-06-28 07:36] byshiue commented on #29772
I use the code of https://github.com/google-research/bert directly, I think the estimator will save checkpoints every some steps and when the training is end

[2019-06-28 08:25] ravikyram commented on #30161
I have tried on colab with TF  1.13.1, 1.14 and 2.0b and was able to reproduce the issue.Thanks!

[2019-06-28 08:36] abdou31 commented on #30197
@capilano Thanks, I will try the code that you posted and I will show what I get

[2019-06-28 08:39] abdou31 commented on #30197
@ziyigogogo StackOverflow no longer give any attention to such questions.

[2019-06-28 08:41] gadagashwini commented on #30163
@fardindadashi In the mentioned tutorial, the model.fit uses the dataset of image_paths and image_labels that is ds. Thanks!

[2019-06-28 08:49] gadagashwini commented on #30208
@jiafatom Looks like code snippet is incomplete since some entities are not defined like bias_value. Please provide the complete code to reproduce the issue. Thanks!

[2019-06-28 08:58] gadagashwini commented on #30205
@xfsm1912 Downgrade the bazel version to 0.26.0 and check the build. Let us know if you stuck. Thanks!

[2019-06-28 09:03] WangYongzhao commented on #30159
sure, moved to TensorFlow Serving.

[2019-06-28 09:21] gadagashwini commented on #30207
@leimao Just to verify, your CUDA version is 10.0 and cuDNN version is 7. Thanks!

[2019-06-28 09:25] Hrespect commented on #22843
Hoping someone to solve this problem!

[2019-06-28 09:35] 183amir commented on #29576
Hello, is there any feedback available on this issue?

[2019-06-28 09:48] fabge commented on #23840
@bennuttall I think this is more than a warning, right?

If you look at @jingw222 's log, it says:
`pi@raspberrypi:~ $ python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"
/home/pi/.pyenv/versions/3.6.8/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.4 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtim

[2019-06-28 10:00] gadagashwini commented on #30204
@CreeperLava I tried to reproduce the issue on colab with Tensorflow 2.0.0.beta1 but i received following error message `NameError: name 'plot_model' is not defined` .Thanks!

[2019-06-28 10:02] gadagashwini commented on #30201
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-06-28 10:04] ravikyram commented on #30182
I have tried on colab with TF version 1.14 and was able to reproduce the issue.Thanks!

[2019-06-28 10:09] gadagashwini commented on #30199
@Jarboui Will it be possible to provide us the ipynb file. It will indeed help us to move faster. Thanks!

[2019-06-28 10:19] bennuttall commented on #23840
[code]

You can turn warnings off: `python -W ignore -c "import tensorflow"`

That's not output, that's the stack trace.

If Tensorflow isn't working for you. I'd suggest showing code examples.

[2019-06-28 10:19] CreeperLava commented on #30204
Right, I forgot an import. Add `from keras.utils.vis_utils import plot_model`

[2019-06-28 10:28] gadagashwini commented on #30198
@leonzgtee Have look on official website of [Tensorflow lite](https://www.tensorflow.org/lite/convert/python_api#exporting_a_graphdef_from_file_) conversion. Thanks!

[2019-06-28 10:30] gadagashwini commented on #30195
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-06-28 10:40] oceanlq commented on #28846
Same here.

[2019-06-28 10:41] gadagashwini commented on #29937
@rb-determined-ai  I tried executing the above with Tf 1.13.1 but it throws error as `mnist-train.tfrecord-00000-of-00010; No such file or directory`. Please help us to reproduce the issue. Thanks!

[2019-06-28 10:43] arkajyotiMukherjee commented on #20619
It is true what you are saying. The solution worked for my particular use case but I would still consider that as a hack rather than a solution. Tensorflow provides so many versions of the same optimizer with slightly different parameter names that choosing one over the other causes certain problems in particular use cases. The issue should remain open. Please do correct me if I'm wrong, though.

[2019-06-28 10:46] gadagashwini commented on #30204
Now I am able reproduce the issue with Tensorflow 2.0.0.beta1 and got the same error.

[2019-06-28 10:53] sayakpaul opened #30218 "Substitute to keras.backend.get_session()"
Hi.

Currently, I am exploring the Movidius Neural Compute Stick by Intel along with OpenVINO. For this, I am using `tensorflow` 1.13.1 since it still has `tensorflow.keras.back.get_session()`. Now why `get_session()`. This is because using this function I can easily extract the session from my `tensorflow.keras` model and use that session to generate `.pb` file. This `.pb` file is then supplied t

[2019-06-28 11:01] gadagashwini commented on #30160
@Mouradost Which protobuf version are you using?

[2019-06-28 11:04] gadagashwini commented on #30166
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-06-28 11:10] gadagashwini commented on #30175
@mdorier Can you please let us know if you are happy to close if no issue persists

[2019-06-28 11:15] gadagashwini commented on #30183
@sragini24  Have a look at this issue [#24885](https://github.com/tensorflow/tensorflow/issues/24885). Thanks

[2019-06-28 11:36] #30175 closed

[2019-06-28 11:43] ravikyram commented on #30074
Looks like weights have been saved in the model and loading it from model 1. from the above screenshot. Since the weights has not saved to the model1 ,Please try saving the weights to model1 .Please,check. and let me know if my understanding is correct.Thanks!

[2019-06-28 11:50] ravikyram commented on #29772
Will it be possible to send me the full minimal code snippet to reproduce the issue for faster resolution.Thanks!

[2019-06-28 11:56] kasanadu commented on #30074
good.. model1 also same class ..  it is another new variable of MyModel.
Loading time, there should be provision to load new variable ( which is model1) of same class MyModel
//jk

[2019-06-28 12:11] hahnjiang commented on #29130
The version of this API is tensorflow 1.14, how about tensorflow 1.13.1 ?

[2019-06-28 12:12] ravikyram commented on #29957
I tried reproducing the issue with the above image placed in testiriss.record folder but i am getting the below error.Thanks!

FailedPreconditionError (see above for traceback): testiriss.record; Is a directory [[node IteratorGetNext (defined at <ipython-input-4-ecad13bca4e7>:249) ]]

[2019-06-28 12:24] ravikyram commented on #30017
i tried to execute train.py with TF 1.13.1 i am getting below error.
ValueError: Variable X_hidden1/kernel already exists, disallowed. Did you mean to set reuse=True or reuse=tf.AUTO_REUSE in VarScope? Originally defined at:
Please, help us to reproduce the issue for faster resolution.Thanks!

[2019-06-28 12:25] gadagashwini commented on #30070
@Jie-Yuan Were you able to resolve this issue?

[2019-06-28 12:29] Oktai15 opened #30222 "SelectV2 and Reciprocal in TFLite"
**System information**
- OS Platform and Distribution: Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): TF 2.0-beta1

**Provide the text output from tflite_convert**

[code]

**Any other info / logs**

At the beginning, I tried to convert without this "magic" line:
[code]

And I got almost the same error log, BUT it was additional o

[2019-06-28 12:31] mdanatg commented on #29734
@munemasa https://github.com/tensorflow/tensorflow/commit/8125a69d70b5e7a36a62c58656dfe03c01518d1e should fix this at head. Please reopen this bug if that didn't work.

[2019-06-28 12:31] #29734 closed

[2019-06-28 12:33] vinodrajendran001 commented on #30017
Found an alternative approach.

[2019-06-28 12:35] ravikyram commented on #30074
Yes you are right model1 is also same object class as model. But When we save weights explicitly to model, model1 will not have provision to load of the weights of model. Thanks!

[2019-06-28 12:54] mudassirej opened #30223 "training code utilize more cpu memory than gpu memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-06-28 13:27] mdanatg commented on #29996
I did a few tests. In short, this seems to be related to `Dataset.reduce` (which is what is generated in this case).

The leak reproduces even without `autograph.to_code`, if we run the code that would be effectively generated:

[code]

The leak only seems to happen for datasets - if we replace `p_data` with reshaped version of `data` (in effect causing the for loop to run as a `tf.while_loop`), t

[2019-06-28 13:28] mdanatg commented on #29996
@jsimsa any insight into this?

[2019-06-28 13:29] abdou31 commented on #29957
What command you execute?

[2019-06-28 13:47] harahu commented on #16933
@jsimsa I also assume that some serialization happens when you cache a dataset to file:
[code]
But I don know if or how this might be usable in solving the issues mentioned here.

[2019-06-28 13:50] superbobry commented on #30165
I couldn't reproduce the issue using the nightly when running on CPU. Will be able to try on GPU on Monday.

[2019-06-28 13:56] EternalSaga commented on #30118
Thank you for your reply. I compiled the TF 1.13.1 successfully. However, I cannot organize the header files successfully. In fact, the header files for TF 1.9 and 1.10 come from this repository [tensorflow-windows-wheel](https://github.com/fo40225/tensorflow-windows-wheel). This repo does not provide the orgnized headers for TF which versions after 1.10. Aditionally, I cannot find any official gu

[2019-06-28 14:02] marcusmueller commented on #26150
@elachkarcharbel can confirm these are linked against CUDA 10.0, not 10.1.

[2019-06-28 14:26] ageron commented on #30149
Yes, I can confirm that the message `If this is a lambda function, the error may be avoided by creating the lambda in a standalone statement.` was part of the (very long) error message. But it's neither at the beginning nor at the end, so it's easily overlooked. I would recommend shortening the error message (except when AUTOGRAPH_VERBOSITY=10), to something like this:

[code]

[2019-06-28 14:30] Oktai15 commented on #30180
@gargn oh, thanks, great workaround :)

[2019-06-28 14:31] Oktai15 commented on #30180
We can leave this issue to be opened if you plan to add this ability to converter directly.

[2019-06-28 14:36] areeh commented on #16933
@jsimsa This sounds very promising, but just want to mention that one use-case for efficient serialization   if tf.data is handling a dataset that is too large to fit in memory. If there is only a simple "save" and "load" command that attempts to load everything into memory that use is not covered. For me, the ideal solution would be something that can save/load batch by batch or similar so that I

[2019-06-28 14:37] ileniTudor commented on #28942
Dear @samhodge ,
I have the same issue with Missing Op DenseToDenseSetOperation when loading a network started from matterport MaskRCNN. I followed your response:

but the error is still there. More specifically, I just added the file tensorflow/core/set_ops.cc at the end  tf_op_files.txt and recompiled using basel, by running build_all_ios.sh . Am I missing something?
Thank you!

[2019-06-28 14:38] tanzhenyu commented on #20619
Using Keras with tensorflow optimizers wasn't the best experience. Instead we merged tensorflow optimizers and keras optimizers, and they're all under keras optimizers now. So by doing model.compile(optimizer='adam') it is by default using the new keras optimizers. This is the right way to do it, not a hack. If you want to specify your own hyperparameters, you can create one by doing tf.keras.opti

[2019-06-28 14:38] swun90 opened #30224 "May need more packages in Anaconda 2019.3 in win 10 1903"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10 64-bit 1903**
- M

[2019-06-28 14:46] flamxi opened #30226 "tensorflow:libtensorflow_cc.so fails to build for --cpu=armeabi-v7a"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.3
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: current mas

[2019-06-28 14:49] mihaimaruseac commented on #30117
That would be awesome. Please assign me as reviewer to PR

[2019-06-28 15:04] czgdp1807 commented on #26844
I was just working on https://github.com/sympy/sympy/pull/17103 and was curious to find why deprecation has been done. I googled and reached this issue.
So, well many of my doubts are clear, but using, `tf.compat.v1.Session` instead of `tf.Session` is not clear(Is this related to namespace?), I will investigate more on this, though if any one can provide an answer on this, then it will be really h

[2019-06-28 15:08] gargn commented on #30180
We don't plan to add this functionality to the converter since the workaround is relatively simple. We will be investigating how to improve support for dynamic shapes in TFLite which should eliminate the need for this parameter: https://github.com/tensorflow/tensorflow/issues/24607.

[2019-06-28 15:08] #30180 closed

[2019-06-28 15:12] alextp commented on #26665
I meant a separate issue with full instructions to reproduce. This looks
like it's coming from mixing tf v1 layers with tf v2 initializers.

On Thu, Jun 27, 2019 at 5:23 PM tolry418 <notifications@github.com> wrote:

--
 - Alex

[2019-06-28 15:13] czgdp1807 commented on #26844
I was just working on adapting to some deprecation warnings and was curious to find why deprecation has been done. I googled and reached this issue.
So, well many of my doubts are clear, but using, `tf.compat.v1.Session` instead of `tf.Session` is not clear(Is this related to namespace?), I will investigate more on this, though if any one can provide an answer on this, then it will be really helpf

[2019-06-28 15:16] mdanatg commented on #30149
I agree - will simplify the error message.

Yes, we do attempt to parse the line, but in this case is it not well-formed Python code - in our example, it's a for loop without a body. One could imagine a partial parser which attempts to parse as much as possible of the code that is well-formed, but the Python parser doesn't know how to do that, and even then there may still be situations of ambigui

[2019-06-28 15:25] mihaimaruseac commented on #26844
Regarding `tf.Session`: TF 2.0 is eager by default, in that world `Session` is useless. It is being moved to `compat.v1` to have some backward compatibility: instead of requiring you to rewrite your entire script immediately you can just change an import (or use a script to rename `tf.Session` into `tf.compat.v1.Session`) and then rewrite at your convenience (though, at one point you should rewrit

[2019-06-28 15:25] leimao commented on #30207
Note that I was using your official container. My local environment is CUDA 10.1 and I did not install cuDNN.

[2019-06-28 15:26] pandrey-fr commented on #29525
I am having a similar issue, also on tensorflow 2.0 beta with GPU enabled.

Interestingly, hiding the GPU away from Tensorflow (using `export CUDA_VISIBLE_DEVICES=1` before running the script) enables the code to run (but still prints out the error message this Issue is about, and feels slower than it should), while using the GPU results in a memory leakage that end up with the system crashing due

[2019-06-28 15:31] laurentiupiciu opened #30227 "tf.keras.layers.RNN calls the cell using the first timestep of the timeseries twice"
Trying to develop an internal attention module for Lummetry.AI deep learning team, I experienced a possible bug in working with tf.keras.layers.RNN. The problem comes from calling the first timestep of the given timeseries twice. I'm using as a RNN cell, for debugging scopes, the class defined in the example given at https://www.tensorflow.org/api_docs/python/tf/keras/layers/RNN

[code]

Can someo

[2019-06-28 15:38] aaudiber commented on #30141
The fix is merged to master in https://github.com/tensorflow/tensorflow/commit/3398e887f5daa1e22c59eaa1c6f5ca731698ad2f

[2019-06-28 15:40] #30141 closed

[2019-06-28 15:42] czgdp1807 commented on #26844
@mihaimaruseac Thank you for the clarification. In fact, I read [this proposal](https://github.com/tensorflow/community/blob/b1d83bf2ee3fc72650140b89656e29932db36226/rfcs/20180918-functions-not-sessions-20.md), many of my doubts are clear. I would say, it's a very good idea to migrate from `Sessions` -> `Functions`. Though I am not familiar with the terminology but examples in the proposal made th

[2019-06-28 15:50] #30227 closed

[2019-06-28 15:51] laurentiupiciu commented on #30227
Searching deeply, I found that the first timestep is used to determine the cell output shape and its dtype.

[2019-06-28 16:03] dubey commented on #30100
Adding @chsigg who is more familiar with nccl_ops.  Christian, do you have any idea why this is happening?

[2019-06-28 16:08] leimao commented on #26844
What is the future of frozen graph? Currently there is no way to freeze a graph in TF2.0. Will it be supported in the near future?

[2019-06-28 16:23] jsimsa commented on #16933
@harahu The `cache(filename=...)` transformation could indeed by used as a stop gap solution for serializing and deserializing data.

@areeh the prospective "save" and "load" functionality would work similar to the rest of tf.data transformations (in that it would support streaming of elements). In other words, it would not require that all of the data can fit into memory.

[2019-06-28 16:41] areeh commented on #16933
Functionality similar to the rest of tf.data was exactly what I was hoping for, thank you

[2019-06-28 16:42] harahu commented on #16933
@jsimsa It could, in a way, but to be able to read from the cached file you would need a dataset instance configured exactly like the one that was used to write the cache. This seems fairly restrictive. My thinking was more that you, or rather @rohan100jain and/or @frankchn, could maybe gain some inspiration (in a very broad sense) from the cache implementation. I don't know the details of it, but

[2019-06-28 16:46] Jarboui commented on #30199
@gadagashwini I can't upload the ipynb in the comment section.
I will past the code bellow for your convenience :)

import tensorflow as tf
from keras.layers import *
from keras.models import Model
import numpy as np

# I define the representation model
inp_dim = 5
outp_dim = 5
inp = Input(shape=( inp_dim,), name="input")
outp = Dense(outp_dim, activation='tanh', name="simple_layer")(inp)
model =

[2019-06-28 16:49] mihaimaruseac commented on #26844
@czgdp1807 Yes, at one point (probably nearing TF 3.0 but don't quote me on that as I might be wrong w.r.t timeline) `compat.v1` will be removed

The migration guide is really useful and recommended

@leimao I suggest opening a new issue to discuss that, I have no idea to be honest and if there's a new issue an owner of that part of the code can respond. Thanks

[2019-06-28 16:50] Oktai15 opened #30229 "ReorderAxes in TFLite"
**System information**
- OS Platform and Distribution: Ubuntu
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): TF 2.0-beta1

**Provide the text output from tflite_convert**

[code]

[2019-06-28 16:52] Oktai15 commented on #30222
Current workaround:

[code]

[2019-06-28 16:56] #25439 closed

[2019-06-28 17:01] czgdp1807 commented on #26844
@mihaimaruseac I expect that release of tf 3.0 is not very near, right? I expect it at least after 1 year and I hope that no concrete alternative is in the pipeline for `compat.v1`, if there is, then please let me know, so that I can make updates to my sympy PR to keep that part of the code base stable for a longterm.

[2019-06-28 17:04] nluehr commented on #26150
TensorFlow 1.14.0 builds against CUDA 10.1 pretty easily. I just needed to `export TF_CUDA_PATHS=/usr,/usr/local/cuda` (were the latter is the cuda 10.1 install location) before running configure.

[2019-06-28 17:06] gowtham-kp commented on #29620
@kalyc. Can you please create an issue in the [TesorBoard section](https://github.com/tensorflow/tensorboard/issues). Thanks!

[2019-06-28 17:06] #29620 closed

[2019-06-28 17:14] Oktai15 commented on #30229
Current workaround -- use `tf.lite.OpsSet.SELECT_TF_OPS` for `converter.target_spec.supported_ops` like from [this](https://www.tensorflow.org/lite/guide/ops_select) page.

[2019-06-28 17:21] eduardofv commented on #30215
This is really odd... @acs6610987, can you explain why are you assigning to `d` but never actually using it?
I've run your example and get the same results:
[code]
Yields:
[code]
But if I comment that single line I get the correct results!
[code]
Yields:
[code]
Running on a docker container with TF 1.13, Python 3.5.2 and
[code]

[2019-06-28 17:22] bhateharsh commented on #5592
Could you please provide us with a timeline of when the issue is expected to be resolved? I've faced the same problem on Jetson Nano as well as Laptop running CUDA 10, GTX 1050Ti.

[2019-06-28 17:25] eduardofv commented on #30215
A similar code running on TF2.0 (eager) seems to be correct:
[code]
Gives
[code]

[2019-06-28 17:33] jvishnuvardhan commented on #30085
@alinaselega This is more related to `tfp` repo. Please post it in tfp repo [here](https://github.com/tensorflow/probability/issues) and close this issue. Thanks!

[2019-06-28 17:36] mihaimaruseac commented on #26844
Yes, TF 3.0 is going to be far in the future. There are no plans for it at the moment (we still have to actually make a release for TF 2.0, we are currently in beta)

[2019-06-28 17:47] jvishnuvardhan commented on #29903
@srijithrajeev Can you provide simplified standalone code to reproduce the issue? Thanks!

[2019-06-28 17:52] 00krishna commented on #29566
@adammichaelwood Thanks for checking into this. Yeah, this issue bring up one of the most confusing and problematic aspects of all the tensorflow tutorials. Having tutorials is really helpful, but each tutorial shows a completely different way of doing the exact same thing. Like no two tutorials match, haha. It would be like if I was trying to show you how to drive to from my house to my office, a

[2019-06-28 17:52] dukecyto opened #30232 "Tensorflow Lite conversion misshapes bias vector of FullyConnected"
**System information**
- Have I written custom code: tflite converter code is straight from an example script
- OS Platform and Distribution: Mac OS 10.14.5
- TensorFlow installed from: `pip install tf-nightly` and `pip install tensorflow`
- TensorFlow version:
tested on  `v1.12.1-5178-gbafa0371c8 1.15.0-dev20190628` and `v1.13.0-rc2-5-g6612da8951 1.13.1`
- Python version: 3.6.5

**Describe the cu

[2019-06-28 17:54] ymodak commented on #29788
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2019-06-28 18:07] reedwm commented on #29130
Unfortunately, no LossScaleOptimizer can be used in tf.keras with 1.13.1.

[2019-06-28 18:09] alinaselega commented on #30085
OK, thanks!

[2019-06-28 18:09] #30085 closed

[2019-06-28 18:10] Oktai15 commented on #30229
I don't know why, but my problem with `ReorderAxes` disappeared. It happened when I had fixed my problems from [this](https://github.com/tensorflow/tensorflow/issues/30222) issue.

[2019-06-28 18:11] capilano opened #30233 "Make saver.restore work with tf.keras.layers when using tf.estimator to save model checkpoints"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.14
- Are you willing to contribute it (Yes/No):

**Descri

[2019-06-28 18:11] jvishnuvardhan commented on #29916
@fps7806 I could reproduce the issue with TF1.13.1 but I don't see any error with TF.1.14.0. I created a [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/bc4e6c61ebbe156c20fab10a9de3e51c/tf_29916.ipynb). Please check it. thanks!

[2019-06-28 18:16] capilano commented on #30233
The tf.keras layers do not follow the same naming convention used in the estimator model checkpoint files. So, it becomes a mess to restore models. I am not sure if this is a legitimate issue or if I missing something while restoring

[2019-06-28 18:20] adammichaelwood commented on #29566
One thing that isn't clear, which maybe we should/could make more clear is that often the tutorials include, by necessity, things that aren't *the point* of the tutorial. So, for example, this tutorial is really just supposed to focus on loading CSV data in to TF datasets. It isn't really about pre-processing. This happens in other places, too, and we end up with the "secondary" content of a tutor

[2019-06-28 18:24] jiafatom commented on #30208
Updated in the original post, The same issue for either `use_bias=True` or `use_bias=False`. Thanks.

[2019-06-28 18:27] ymodak commented on #30185
Adding ```Enter, Exit, Merge, Switch.``` is a work in progress.
https://github.com/tensorflow/community/pull/83
https://github.com/tensorflow/community/pull/83/files#diff-bce60557324879642d73cc9862647ea3R50
Closing this issue since we have other thread discussing the same feature. Feel free to reopen if have any questions. Thanks!

[2019-06-28 18:27] #30185 closed

[2019-06-28 18:30] tanzhenyu commented on #27499
Closing this since there is no intermediate plan for improving this. In general I think it's fine because we mostly use neg log prob so it is actually minimizing objective function

[2019-06-28 18:30] #27499 closed

[2019-06-28 18:32] jsimsa commented on #30035
Could you please provide an example that illustrates the use case that you would like to support? Thanks.

[2019-06-28 18:35] tanzhenyu commented on #26571
According to the above comment seems it's fixed.

[2019-06-28 18:35] #26571 closed

[2019-06-28 18:36] siavash-khodadadeh opened #30234 "How to calculate gradients for meta learning loop?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-06-28 18:36] k-w-w commented on #29542
Here's the commit: https://github.com/tensorflow/tensorflow/commit/0b4c19a3c1d1d3e7c016760aeea099fecb5fa544

[2019-06-28 18:38] tanzhenyu commented on #26804
Is this still happening in 1.14? Lots have changed.

[2019-06-28 18:39] tanzhenyu commented on #27924
which tf version is this? Can you try 1.14?

[2019-06-28 18:54] harahu commented on #29842
Similar problem here, @gadagashwini. Just importing tensorflow intrusively adds a logging handler to the root logger:
[code]
vs
[code]

This is due to absl adding its own handler to the root logger when importing tensorflow.

[2019-06-28 18:57] harahu commented on #28147
Posten this in the issue you mentioned @jre21, but posting it here as well, as it is relevant:

Just importing tensorflow intrusively adds a logging handler to the root logger:
[code]
vs
[code]

This is due to absl adding its own handler to the root logger when importing tensorflow.

[2019-06-28 19:07] tarrade commented on #26804
I saw the issue/feature with Tensorfow 2.0 alpha. I didn't check again with TF 2.0 beta or the latest nightly. I will look at it and come back to you @tanzh

[2019-06-28 19:12] karimnosseir commented on #26075
Issue is stale. Closing.

[2019-06-28 19:12] #26075 closed

[2019-06-28 19:16] harahu commented on #29842
Having dug a bit more, I have found the reason for this issue. Compare the difference between `tf.app` in 1.13 and 1.14:
https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/python/platform/app.py
https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/platform/app.py

I have traced the unwanted addition of an `ABSLHandler` down to this import in 1.14:
https://github.com/te

[2019-06-28 19:20] harahu commented on #28147
As for tf 1.14, the problem seems to stem for how absl is used in tf 2.0:
https://github.com/tensorflow/tensorflow/blob/8e423e3d56390671f0d954c90f4fd163ab02a9c1/tensorflow/python/platform/app.py#L23
This results in an undesirable `ABSLHandler` being installed on the root logger.

[2019-06-28 19:21] edloper commented on #30045
* We are planning to add RaggedTensor support to ParseSequenceExample.  In the mean-time, you may be able to use the following:

[code]

* We are actively working on adding support for RaggedTensor to Keras.

[2019-06-28 19:28] mdanatg opened #30235 "`xla.compile` + `tf.function` lose information about compile-time constants"
**System information**
- TensorFlow version (use command below): 1.14

**Describe the current behavior**

In Eager mode, when a function is compiled with `xla.compile`, any constant arguments are auto-cast to Tensors, but these Tensors don't appear to reflect the fact that they are constant. Certain ops, like `tf.range` are sensitive to constant inputs due to the need for static shapes.

In effect

[2019-06-28 19:32] mdanatg commented on #30182
Looks like a few bugs are being compound here; I'll list them along with recommendations and plans to address -

1. I think you are correct, in this case there is no way but to detect the use of `tf.range`; at first, I thought this would be a mere performance optimization, but it seems to be required for XLA. It wasn't already enabled because the detection of `tf.range` op is not terribly robust,

[2019-06-28 19:34] dukecyto commented on #30232
[fc_op.zip](https://github.com/tensorflow/tensorflow/files/3340595/fc_op.zip)
OK here is the bare minimal case. It's just MatMul then Add, which TFLite converts to FullyConnected with an incorrect bias shape.

[2019-06-28 19:50] jvishnuvardhan commented on #29974
@halbaqshi The error [here](https://github.com/tensorflow/tensorflow/issues/29974#issuecomment-504722486) is as expected. As `cc` is a tensor object, it doesn't allow item assignment. You need to create a list for that purpose. Thanks!

[2019-06-28 20:03] jvishnuvardhan commented on #28841
@EmielBoss Could you share the data as the link expired. Also, try to check it with Latest TF1.14.0. Thanks!

[2019-06-28 20:04] rb-determined-ai commented on #29937
Ah, I had a comment explaining where the file was from, but it wasn't quite correct.  First, make sure you have the `tensorflow_datasets` package.  (`tensorflow_datasets` is only required to download a TFRecord file)

    pip3 install tensorflow_datasets

You can get the file by running the following command from the command line:

    python -c "import tensorflow_datasets as tfds; tfds.image.MNIS

[2019-06-28 20:08] mckinziebrandon commented on #29189
UPDATE: something that might be useful to know is that if I replace `tf.keras.LSTM` with `tf.keras.RNN(cell=tf.compat.v1.nn.rnn_cell.LSTMCell(...))`, everything works as expected. The issue is definitely within tf.keras.LSTM itself.

[2019-06-28 20:25] 00krishna commented on #29566
@adammichaelwood Thanks so much for your very thoughtful comments. Yes, I always intend to be constructive and not negative. This was just a pain point for me when I first started using Tensorflow, so I guess some of that still colors my views.

You are totally correct that that there is more than one way to do things. I guess I can give you my own experiences and hopefully that helps you to under

[2019-06-28 20:32] arkajyotiMukherjee commented on #20619
@tanzhenyu
Thank you for the clarification. This helped a lot. So will the other legacy versions of Tensorflow optimizers be deprecated in future and keras optimizers be used or does Tensorflow 1.x API still uses it?

[2019-06-28 21:09] av8ramit commented on #28628
So git_version is behaving unexpectedly for tf_nightly packages. Unfortunately the hash logic is complicated and pulls from GitHub. Unfortunately, we may have to rely on the date for a window for the hash. We are not offering much support for nightly packages.

[2019-06-28 21:09] #28628 closed

[2019-06-28 21:14] av8ramit commented on #21096
Hey @angersson I'm assigning this over to you. It's possible you may make our build scripts opensource in your work this quarter. Unfortunately, I never got around to this.

We did make the [pip_new.sh](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/builds/pip_new.sh) the standard for building packages so maybe these are some temporary answers.

[2019-06-28 21:21] bhavints commented on #22994
Same issue here too!

[2019-06-28 21:23] ymodak commented on #27924
The previous version was TF 1.13.1
With TF 1.14 we get similar performance.
![image](https://user-images.githubusercontent.com/42785357/60372074-35f42f80-99b0-11e9-9714-1f525ccb7a97.png)

[2019-06-28 21:41] devstein commented on #30141
@aaudiber Thanks!

[2019-06-28 21:53] frankchn commented on #16933
The current `cache` implementation uses TFRecords, which are not great (performance-wise) for data reading and writing (and also doesn't support other things like indexing into a specific record, etc...). We are still thinking through a better file format internally and will provide updates when we think we have a better solution.

[2019-06-28 22:05] ymodak commented on #30204
You may use ```tf.keras.utils.plot_model``` instead of ```from keras.utils.vis_utils import plot_model```
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/utils/plot_model
This will keep your consistent with TF framework.
Thus your last line of code snippet will be as below;
[code]
![image](https://user-images.githubusercontent.com/42785357/60373695-ef093880-99b5-11e9-928d-97c3760

[2019-06-28 22:05] #30204 closed

[2019-06-28 22:18] ymodak commented on #29562
Apologies for the delay in response. Its difficult to debug extensive models like these, We will greatly appreciate if you can make a minimal concise code snippet which can reproduce the bug reported rather than whole model. Thanks!

[2019-06-28 22:19] zihaozhihao commented on #30052
Hi @mahzoon, I got the same error as yours. But it only happens when I set `save_weights_only=False` in the checkpoint callback. If and only if I set `save_weights_only=True`, it will work as usual.

Also, I'm confused by this warning "W tensorflow/python/util/util.cc:280] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them." It didn't sh

[2019-06-28 22:23] #29695 closed

[2019-06-28 22:36] Ryandry1st commented on #30035
Sure, I am looking at some image preprocessing techniques, ideally getting the advantage of preprocessing rather than using the ImageDataGenerator option. In order to do this many libraries would require the numpy array data rather than a tensor. A similar desire, although in a purely TF implementation, was mentioned in this thread: https://twitter.com/pmdanton/status/1144388777235947520.

[2019-06-28 22:49] jsimsa commented on #30035
IIUC, [numpy_function](https://www.tensorflow.org/api_docs/python/tf/numpy_function) used within `tf.data.Dataset.map` should address your use case.

[2019-06-28 22:52] tanzhenyu commented on #27924
I see you have put two different experiments:
1) experiment between keras model and estimator converted from it.
2) experiment between keras model using keras optimizer and tf optimizer.

For 1), can you try to reproduce it with 1.14?
For 2), this is expected, keras adadelta learning rate is 1.0, tf adadelta learning rate is 0.001. So latter learns much slower. You might want to adjust learning ra

[2019-06-28 22:57] TeoZosa commented on #28313
Any ideas on where to go next?

[2019-06-28 23:37] ymodak commented on #29917
The code snippet works in TF 1.14 .  However fails with TF 2.0 nightly (2.0.0-dev20190628)

[2019-06-28 23:45] ymodak commented on #29783
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-06-28 23:45] #29783 closed

[2019-06-28 23:49] ymodak commented on #30065
Closing this issue since you were able to get a workaround. Feel free to reopen if have further questions. Thanks!

[2019-06-28 23:53] alextp commented on #29694
I think you can already achieve this using [tf.vectorized_map](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/vectorized_map) and `tf.gradients`.

[2019-06-28 23:53] #29694 closed

[2019-06-29 00:00] abdou31 commented on #30065
Why you closed this issue?
You did not give me any solution to my problem.

[2019-06-29 01:31] byronyi commented on #28628
@av8ramit does this mean I better not rely on GIT_VERSION strong in the nightly package?

[2019-06-29 01:58] #23700 closed

[2019-06-29 02:43] XuChunqiao commented on #29481
I met same question recently，does this have been resolved yet？

[2019-06-29 02:54] wangyexiang commented on #15831
Similar issue. How to solve this issue？@rubiagatra

[2019-06-29 03:04] ericsungtwn opened #30242 "tensorflow"
File "<string>", line 1, in <module>
  File "/Users/ericsung/anaconda3/envs/cs231n/lib/python3.7/site-packages/tensorflow/__init__.py", line 28, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import
  File "/Users/ericsung/anaconda3/envs/cs231n/lib/python3.7/site-packages/tensorflow/python/__init__.py", line 49, in <module>
    from tensorflow.python impo

[2019-06-29 04:05] lllidan-yuandian commented on #29806
Thanks, it works

[2019-06-29 04:25] n-yoda commented on #26422
I'm not sure this is related, but when I installed tensorflow lite using https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package
I needed to add the following files to Extension(sources=[...]):
[code]
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/pip_package/setup.py#L125

[2019-06-29 05:22] mikylucky commented on #22994
I resolved, there was actually a version mismatch between the training system and the prediction system

[2019-06-29 05:33] anj-s commented on #30037
@alexmil2019 You don't need to use multi_gpu_model since you are also using MirroredStrategy. Can you try using MirroredStrategy with native Keras APIs to train your model synchronously on multiple GPUs?
Here is a tutorial that demonstrates how you can use tf.distribute APIs: https://www.tensorflow.org/beta/tutorials/distribute/keras

Would this work for your use case?

[2019-06-29 05:34] Whisht commented on #28173
Hello, @lamberta .Sorry for not follwing up this issue.
Here is my latest testing result.
I test the display result throug 3 browsers. MS egde, Firefox as well as Chrome. There still exists the same problem.

-  The common display error of top bar.

![Snipaste_2019-06-29_13-16-06](https://user-images.githubusercontent.com/16497652/60380061-4cae8b00-9a71-11e9-85f3-878138fb185a.png)
- Edge without a

[2019-06-29 06:13] acs6610987 commented on #30215
@eduardofv , about the `d`, I actually meant to use it for `y`, so I meant to post the following code:
[code]
This would also give the wrong result. I made a typo for using `c` but not `d` in the issue description, but this did not change the observed weird behavior...:( There must be something wrong in the TF runtime.

[2019-06-29 06:28] Siddhartha-Bura commented on #26289
It is searching for cudart64_100.dll and says install cuda10.0 so that it can find it. Why not tensorflow release a new build for cuda10.1 ?

[2019-06-29 07:12] wangyexiang commented on #15831
@budach @facaiy @hhao89

[2019-06-29 07:56] dvlee1024 commented on #17191
@SofaPotatos  Thx. Your code works for me.

[2019-06-29 08:16] flobotics commented on #29542
thanks

[2019-06-29 09:30] HedgehogCode commented on #29997
Hi,
it seems like the cudnn library is not on your library path. You can start your application with the environment variable `LD_LIBRARY_PATH=/path/to/cuda/lib64/:/path/to/cudnn/lib64` or you could add the path to your global library path like described [here](https://www.cyberciti.biz/faq/linux-setting-changing-library-path/).

[2019-06-29 13:01] kekxv commented on #29945
@meteorcloudy
Thanks for your reply, using cmake has been unsuccessful. I compiled it successfully after using bazel. Now I have a new problem. I need x86_32 dll. I don't know how to make it.
（感谢你的回复，使用 cmake 一直不成功，我使用bazel之后编译成功，现在有个新的问题，我需要x86_32 的dll，我不知道如何制作。）

[2019-06-29 13:21] EternalSaga opened #30246 "The shared library of C++ API lacks of operation symbols on windows."
**System information**
- Windows 10 1809:
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 1.14.0
- Python version: 3.7.3
- Bazel version (if compiling from source):  0.25.2
- GCC/Compiler version (if compiling from source): visual studio 2017

**Describe the problem**
I tried to build the [label image c++ demo](https://github.com/tensorflow/tensorflow/blob/master/tenso

[2019-06-29 13:44] SatyamThakur30 commented on #17101
Always check the cuda version in this case you have to install cuda version 9.0 this will create the cudart64_90.dll file in C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin folder.

This will surely work.

[2019-06-29 14:44] prat96 commented on #30242
Hi, please edit/format your issue after reading the following issue template guide:

https://github.com/tensorflow/tensorflow/blob/master/ISSUE_TEMPLATE.md

It becomes really difficult to solve anything without describing the problem properly.

[2019-06-29 15:10] junghau opened #30248 "tf.io.write_file not working in tf.function decorated function"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 and Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-beta1
- Python version: 3.7

**Describe the current behavior**
`tf.io.write_file` creates file in eager execution but produces no output file when decorated with `@tf.function`.

**Desc

[2019-06-29 15:52] prat96 opened #30249 ".tflite converted model (from .h5 file) not working as expected"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, custom model to count fingers, but the TFLite converter code is same as example scripts provided in API docs.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile

[2019-06-29 16:08] tanzhenyu commented on #28313
@jvishnuvardhan I don't have expertise on this thus unassigning myself.

[2019-06-29 16:31] UpCoder opened #30250 "How to maintain the FIFOQueue when training"
Hi, I want to use FIFOQueue to keep K elements in training process.
[code]
the loss value can be see as the sum of all elements in Queue and the feed_dict is the element in the Queue..
I found when I use the code sess.run(model.enqueue_op, feed_dict=feed_dict), I think the loss value should be double. But the result is not. The result of with or without this line are same.

So can you help me expl

[2019-06-29 16:56] Oktai15 opened #30251 "tf.keras.experimental.export_saved_model in multi-gpu mode doesn't work"
I use TF 2.0. Currently, `tf.keras.experimental.export_saved_model` doesn't work in multi-gpu mode, i.e when model is declarated in `strategy.scope()`. I got the following error:

[code]

I tried the next code:

[code]

[2019-06-29 17:10] saberkun commented on #30251
There is a new standard api to use keras.model.save() to export TF savedmodel. That worked for my case. Could you check if that api is in this release? If so, try it out. The export_saved_model api should be replaced by that.

[2019-06-29 17:11] aidangomez opened #30252 "TPU Outfeed Dequeue Many"
I have an application that is bottlenecked by waiting for elements to be dequeued from the TPU. Is there any way to dequeue many from the outfeed in a single operation?

Right now my program runs two threads in parallel:
  1. a computation followed by an outfeed_enqueue
  2. a outfeed_dequeue that collects elements from the outfeed and acts on them

for Thread 1. I can execute the op ~30 times for

[2019-06-29 17:29] Oktai15 commented on #30251
@saberkun you mean `tf.keras.models.save_model`? Please, specify method that you mentioned more precisely.

Also, I'd like to say that I need `serving_only` and `input_signature`.

[2019-06-29 17:34] Oktai15 commented on #30251
Just `model.save()` is not enough in my case, because I need to specify `serving_only` and `input_signature`

[2019-06-29 17:59] Oktai15 commented on #22208
@GPrathap how did you fix it?

[2019-06-29 18:45] oracle3001 opened #30253 "Problem Passing Tensor Attr to Custom Op in Eager Execution Mode"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Windows 10:
- TensorFlow installed from binary:
- TensorFlow version 1.14:
- Python version 3.7:
- CUDA/cuDNN

[2019-06-29 19:56] ariannacvf commented on #29049
i have same problem. tf.keras is 4 times slower than keras itself. Did you solve anything?

[2019-06-29 21:05] saberkun commented on #30251
@seemuch and @k-w-w
This is also the confusion I had. Can keras team clarify with some HowTo for the serving only case?
If my model has dropout, what could be expected?

@Oktai15
One workaround should work is: (1) save model with model.save_weights() (2) create a model without ds scope and load_weights(). Then, export_saved_model. (Like the version before this commit: https://github.com/tensorflow

[2019-06-29 21:42] yagyajoshi15 commented on #26211
Suppose you want to start from your home and drive around your neighborhood and get
back to exactly where you started (your home) and you want this ride to exactly take 10
minutes. Assume that all roads are laid out in a perfect grid. Suppose there is an app that
gives users random paths to drive throughout the city. Every time you press the button, it
gives you a random set of one-letter strings

[2019-06-30 00:21] kaz94 opened #30254 "could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED"
Hello,
For a long time now, I've been trying to resolve problem from the header:
could not create cudnn handle: CUDNN_STATUS_NOT_INITIALIZED
I went through all of the similar issues but none of the solutions worked for me.

this log: possibly insufficient driver version: 387.26.0
seems to indicate that I have a bad driver version but for CUDA 9.0 documentation (https://docs.nvidia.com/deploy/cuda-

[2019-06-30 00:22] Leslie-Fang commented on #30111
@el1995
Please try below commands, I have **built tf in your docker**.
[code]
[code]
As for the TF multinode MPI support question,  please refer to this issue:
https://github.com/tensorflow/tensorflow/issues/26610

[2019-06-30 01:15] leimao commented on #25160
I am using TF container and this also happened. Before this error, I was able to train, and it was successfully worked, but when to start the second time training then this error happens. What is the problem here?

[2019-06-30 02:23] bionicles commented on #30045
Thank you @edloper! I was also thinking windows might help

[2019-06-30 02:25] bionicles commented on #29840
Thank you for the advice, we will test these ideas and report back

[2019-06-30 02:30] eduardofv commented on #30215
You are right @acs6610987. I've done several tests and can confirm your findings. This is very odd and, unless there's something I don't understand from the execution model, this must be a bug.

In [this colab notebook](https://colab.research.google.com/drive/1FRH7p31Nl2qEo3WCm9dHw_4yZzmyOIzw) I can reproduce your results.

In [this one](https://colab.research.google.com/drive/1duKokwg4fMuz_1shg2G

[2019-06-30 02:33] wangyexiang commented on #15026
Dear @fchollet , I got a similar issue by using your method(tensorFlow 1.14.0, keras 2.2.4).  Here is my code.

### **Source code(pure keras import)**：
`import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K
`
### **Source code(tf.keras import)**:

[2019-06-30 02:58] LittleFatHero commented on #18652
I have the exact same problem. It take around 5 minutes at:
Adding visible gpu devices: 0

My environment is Win10,  tensorflow-gpu-2.0-beta1， CUDA 10.0, cuDNN 7.6, python 3.6 and with GTX 850M

When the problem will be fixed？

[2019-06-30 03:07] EternalSaga commented on #30246
I tried tu use dumpbin tools in msvc commandline tools in powershell:
dumpbin.exe /headers .\tensorflow_cc.dll.if.lib | Select-String "ResizeBilinear"
dumpbin.exe /headers .\tensorflow_cc.dll.if.lib | Select-String "Squeeze"
dumpbin.exe /headers .\tensorflow_cc.dll.if.lib | Select-String "DecodeGif"
dumpbin.exe /headers .\tensorflow_cc.dll.if.lib | Select-String "ExpandDims"
Unfortunately, nothing

[2019-06-30 03:39] bsed commented on #26209
2019-06-30 11:29:50.377478: I tensorflow/stream_executor/platform/default/dso_loader.cc:42] Successfully opened dynamic library libcuda.so.1
2019-06-30 11:29:50.627371: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:1005] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero
2019-06-30 11:29:50.627688: I tensorfl

[2019-06-30 05:37] gunan commented on #26289
Unassigning myself, as there is nothing more I can do here.
TF can build with cuda 10.1 now, and our builds will stay with 10.1 until they move forward.

[2019-06-30 09:05] whaozl commented on #29997
Thank you, In fact, this path is configured.
Finally, I did a lot of experiments and proved that this is ok.
[code]

[2019-06-30 09:05] #29997 closed

[2019-06-30 09:42] yongtang commented on #30200
Added a PR #30255 for the fix.

[2019-06-30 10:19] LittleFatHero opened #30256 "Tensorflow need a long startup time"
when I run the example on https://www.tensorflow.org/tutorials/
It take around 5 minutes at:
Adding visible gpu devices: 0
before the tensorflow begins to compute. As far as I know a lot of people have this problem since a years age, but there seems to be no effective way to sove the problem.
the only way I know is to compile from source, that is not a good way for a beginner.

My environment is W

[2019-06-30 10:49] yongtang commented on #29264
Added a PR #29264 for the fix.

[2019-06-30 10:50] yongtang commented on #30122
Added a PR #30258 for the fix.

[2019-06-30 11:03] EthanZBY commented on #25073
Similar issue with tensorflow.keras.model.fit memory leak (tf_nightly 1.15.0-dev20190628):
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/keras/overfit_and_underfit.ipynb

Memory leak crash with following code:

baseline_history = baseline_model.fit(train_data,
                                      train_labels,
                                      epochs=2

[2019-06-30 11:54] feature-engineer commented on #25429
https://pypi.org/project/tf-nightly-gpu-2.0-preview/#files has packages for linux only for python 2.7, 3.3, 3.4, 3.5 and 3.7 - and windows only for python 3.6 - so, Linux doesn't have a package for python 3.6 (which is the version in Ubuntu LTS repos), and windows only has a package for python 3.6...

[2019-06-30 13:26] hasansaikat opened #30259 "including human ethics inside tensorflow as tf.ethics"
wouldn't it be great to integrate ethics inside tensorflow.like when a baby is born,they get in touch with social norms.as they start to grow up their brain based on social norms/ethics start to react.based on previous norms new norms start to kick off inside brain.

by the way human ethics has an evolution timeline like the biological evolution.it is changing.

[2019-06-30 13:36] kaz94 commented on #17048
For me Ctrl+Shift + C kills the python process and frees the gpus

[2019-06-30 13:58] prat96 commented on #30249
Solved the issue, closing it.

[2019-06-30 13:58] #30249 closed

[2019-06-30 18:09] qin-yu commented on #29694
Thanks! I'll look into that~

[2019-06-30 18:46] DeepManuPy commented on #26211
please review.
@dynamicwebpaige

[2019-06-30 19:03] iboates opened #30261 "Colab notebook crashes due to RAM overuse on "Explore overfitting and underfitting" tutorial"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/keras/overfit_and_underfit.ipynb#scrollTo=LqG3MXF5xSjR

## Description of issue (what needs changing):

Notebook crashes on the code block training the baseline model, reporting that all RAM has been consumed.

### Clear de

[2019-06-30 19:28] DEKHTIARJonathan opened #30262 "Get the number of GPUs used in Tensorflow Distributed in a multi node approach"
I am currently trying to compare Horovod and Tensorflow Distributed API.

When using using Horovod, I am able to access the total number of GPUs currently used as follows:

[code]

A similar concept is available when using PyTorch Distributed API:
[code]

-----------

I would like to perform the same operation and obtain the number of GPUs currently in use for multi GPUs/nodes with TF Distributed

[2019-06-30 19:28] impjdi commented on #29739
@weinixuehao

Sorry for the late response.  I've been out of town.

I need a little bit of clarification.  This bug started with linking error "undefined symbol of DelegateGpuDelegate" but now, you're experiencing a crash that is not related to the GPU delegate, right?

[2019-06-30 20:44] jaingaurav commented on #29840
@aaroey: We haven't exposed the unified_memory option in the tf.config API namespace yet. Seems like this is needed for 2.0?

[2019-06-30 21:35] Slacker-WY opened #30263 "[TF2.0]: Skipping optimization due to error while loading function"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-06-30 23:02] eduardofv commented on #30215
After some [other](https://colab.research.google.com/drive/13WotBr941mpvUgZjNAMiItRAOt6a_Wr7) [tests](https://colab.research.google.com/drive/1dJ9-iiCKGsjtIiwoEfcB4W6uERPqL5Da), it seems that the error occurs when casting from ints or floats to uint32 or uint64. uint8 and unit16 seems to be OK. I wonder if it may have to do something with this LSBZeroSetter at [cast_op.cc](https://github.com/tenso

[2019-06-30 23:23] gds101054108 commented on #29590
if use a fixed length(max width),the run time will be too long for small width

[2019-07-01 00:11] torinaki commented on #27769
@k-w-w I was tried to apply your fix and now getting following error:
[code]

[2019-07-01 00:14] impjdi commented on #30169
@zchfaq

Wow, that's a pretty weird tensor dims that I haven't seen in the past.  I'm pretty sure our shaders are not optimized for that use case.  How did you get to a tensor size of 1x1x32000x1 and then apply conv of 256x1x20x1?  Can you elaborate a bit?

[2019-07-01 00:23] torinaki commented on #27769
@k-w-w I have tested your fix and it works for me 😃 Thank you a lot!

[2019-07-01 01:00] wangyexiang commented on #30256
Same issue. It take around 2 minutes.@LittleFatHero

[2019-07-01 01:33] faruba commented on #28007
sorry about my poor English.  I have the same problem.But I found a solution.
I'm using Nvidia 2080Ti , tf-nightly-gpu-2.0-preview. python3.7.3 ,ubuntu 19.04
When I used tf.summary.image("gen", generated_images, max_outputs=25, step=0), I got error :During Variant Host->Device Copy: non-DMA-copy attempted of tensor type: string.
If I wrote like this:
with tf.device("cpu:0"): <<-- add this line

[2019-07-01 02:48] maoxin7676 commented on #30169
Thank you for your prompt attention to this matter. Our task is audio processing，the 1*1*32000*1 tensor is original input （sample rate 8000Hz， time 4s）,apply conv of 256*1*20*1 for encoding.

[2019-07-01 02:49] maoxin7676 commented on #30169
Thank you for your prompt attention to this matter. Our task is audio processing，the1x1x32000x1 tensor is original input （sample rate 8000Hz， time 4s）,apply conv of 256x1x20x1 for encoding.

[2019-07-01 03:16] wwwxxx2016 commented on #28281
I have the same problem, when I set the 'input_shape' then the load_model is OK.

[2019-07-01 03:30] gitrdonator opened #30265 "`tf.contrib.layers.recompute_grad` values on recompute different"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-07-01 04:10] ravikyram commented on #29957
I have tried executing the code(landmark.py) given by you by placing the image in testiriss.record folder.Thanks!

[2019-07-01 04:15] gadagashwini commented on #30199
I could reproduce the issue on colab with Tensorflow 1.12.0.

[2019-07-01 04:18] ravikyram commented on #30059
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-01 04:18] #30059 closed

[2019-07-01 04:27] ravikyram commented on #30017
Are you able to get resolution for this issue? Thanks!

[2019-07-01 04:29] ravikyram commented on #29753
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-01 04:29] #29753 closed

[2019-07-01 04:36] ramrahu commented on #26174
May I know what command did you execute for compilation after making that change. I don't seem to be getting the solution.

[2019-07-01 04:42] gadagashwini commented on #30023
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-07-01 04:42] #30023 closed

[2019-07-01 05:01] gadagashwini commented on #30207
Looks like similar issue [#29632](https://github.com/tensorflow/tensorflow/issues/29632). Thanks

[2019-07-01 05:14] gadagashwini commented on #29937
@rb-determined-ai I executed the above code on my system by downloading tensorflow_datasets I got the following result. Is this expected result? Thanks!
![Screenshot from 2019-07-01 10-41-00](https://user-images.githubusercontent.com/48476109/60412018-39c0c580-9bed-11e9-8402-9777ab97dcdf.png)

[2019-07-01 05:16] guptapriya commented on #29975
Hi, what type of distributed training are you using? You should be able to use a different batch size in each worker. all reduce is usually on the gradient which doesn't really get affected by the batch dimension. what are you trying to use the all reduce for?

[2019-07-01 05:33] themightyoarfish commented on #30117
See https://github.com/tensorflow/tensorflow/pull/30214

[2019-07-01 05:49] sofienbouaziz commented on #24410
I am closing this issue as the Euclidean Distance Transform op was merged. If updates are needed let's reopen one with the necessary details.
@Squadrick Thanks for this very useful op.

[2019-07-01 05:49] #24410 closed

[2019-07-01 05:57] gadagashwini commented on #30256
@LittleFatHero Can you elaborate more about the issue and context. And also provide the tutorial link where the issue is pointing. Thanks!

[2019-07-01 06:01] ravikyram commented on #30188
I have tried on colab with TF version  1.14 and was able to reproduce the issue.Thanks!

[2019-07-01 06:13] NUV13102001 opened #30266 "Unable to import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 x64 Up to date
- Mo

[2019-07-01 06:15] gadagashwini commented on #30250
@UpCoder Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

In order to expedite the trouble-shooting process, please provide a full code snippet to reproduce the issue reported here. If you are unclear what to include see the issue template displayed in [the Github

[2019-07-01 06:22] ahatamiz commented on #24410
Thanks you @Squadrick  and @sofienbouaziz .

Is it also possible to provide GPU support for this op ?

[2019-07-01 06:25] gadagashwini commented on #30229
@Oktai15 Looks like issue resolved. Can you please let us know if you are happy to close if no issue persists.

[2019-07-01 06:53] AaronStuart opened #30267 "How should i use tf.image.draw_bounding_box() when each batch have different bbox_num ?"
The documents show that bboxes' shape is [batch, num_bounding_boxes, 4]. This means every batch have same number of bbox.
But in detect, each image may have different number of bboxes. Who can tell me how should i do, thanks !
BTW, I use tf.gather_nd() to get bboxes, is there any method to get dimension-aligned bboxes?

**System information**
- TensorFlow version (you are using): Tensorflow 1.13

[2019-07-01 06:58] KristianHolsheimer commented on #29842
Just a quick ping to say that my work is also affected by this.

[2019-07-01 07:06] vinodrajendran001 commented on #30017
Nope

[2019-07-01 07:16] yw411 commented on #24357
@mmuppidi , I want to ask whether you solve this problem.

[2019-07-01 07:17] NUV13102001 commented on #30266
I have resolved that error simply by installing CUDA 10.0 alongside 10.1, this solves both the requirements of Tensorflow. Now I am unable to test tensorflow with "import tensorflow as tf. Following is the result of my endeavour.

 C:\Users\aanan>python
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for

[2019-07-01 07:43] pandrey-fr commented on #29525
Hi,

I did some additional  testing based on my previous bug-yielding example and would like to report on it, in hope that it may help track down, and ultimately fix, the issue at stake.

**Setting and consequences**

What I did was _getting rid of sequences masking for the BiLSTM layers_, thus using a less-general model expecting batches of same-length sequences. In this case, I _no longer encoun

[2019-07-01 07:44] gadagashwini commented on #30259
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-07-01 07:46] pandrey-fr commented on #29525
Note: this issue is quite similar to the newly-opened #30263

[2019-07-01 07:52] cj741 commented on #30015
Hello Achandrra and Ymodak,
Any suggestion on it?
Thanks~

[2019-07-01 07:53] ravikyram commented on #30215
I have tried on colab with TF version 1.14 & 1.13.1 with and without commenting d and was able to reproduce the  issue.Also, i replaced with d, which actually meant to use it for y (by mistake used c) and checked,still i am able to reproduce the issue.Thanks!

[2019-07-01 07:56] ainArindom commented on #13436
Use tf.reset_default_graph() on the header file section and re-run the code. Hope it will help.
Every time clear all variables and run . if u are using spyder.

[2019-07-01 07:59] alsrgv commented on #24570
I can still reproduce this issue in TF 1.14.0.

[2019-07-01 08:00] NUV13102001 commented on #30266
Double quotes solved the problem. LOL

[2019-07-01 08:00] #30266 closed

[2019-07-01 08:04] ellonde commented on #30167
Awesome, hope you can help :)

[2019-07-01 08:06] Squadrick commented on #24410
@ahatamiz GPU support for TensorFlow Addons is currently WIP. Ref [#294](https://github.com/tensorflow/addons/pull/294). Once this is merged, I'll add GPU support.

[2019-07-01 08:08] impjdi commented on #30169
@maoxin7676

Thanks for clarification.  I was able to check that it's even worse on my Pixel 2 XL than what you reported.

[conv_2d.tflite.zip](https://github.com/tensorflow/tensorflow/files/3344500/conv_2d.tflite.zip)

This is an artificial TFLite file I have generated.  I'll check tomorrow why it's doing so bad.

[2019-07-01 08:22] andresusanopinto commented on #25362
Status update: tensorflow-hub 0.5 was released and together with tensorflow release 2.0.0b1 many old modules are now loadable with `hub.load()` and usable in eager mode.

[2019-07-01 08:29] essalahsouad opened #30268 "Optimizing the Frozen Graph"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):macOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:Nan
- TensorFlow installed from (source or binary):binary
- TensorFlow version:1.13.0-rc2
- Python version:3.7.2
- Installed using virtualenv? pip? conda?:pip
- Bazel version (if compiling from source):0.27.0
- GCC/Com

[2019-07-01 08:38] ravikyram commented on #30248
I have tried on colab with TF version 2.0 beta1 and was able to reproduce the issue.Thanks!

[2019-07-01 08:42] ravikyram commented on #30242
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the Github new issue template.

We ask for this in the issue submission temp

[2019-07-01 08:55] gadagashwini commented on #30223
@mudassirej Will it be possible us to provide the minimal code snippet which reproduces the reported issue here. Thanks!

[2019-07-01 09:05] gadagashwini commented on #30211
@loadwiki I tried executing the official demo code on colab and i set 'max_steps' to 10 and 100, but i did not see an issue. Can you check once and let us know is this still an issue. Thanks!

[2019-07-01 09:09] gupta-vivek opened #30270 "Tensorboard Graph is different when using File Writer as opposed to Tensorboard callback"
The graph generated using tensorboard callback and the graph generated using FileWriter are different. Also, I am not able to retrieve scalar values when using FileWriter. Why is the behaviour different when using FileWriter? What changes should be done in FileWriter to get the graph and results similar to as when tensorboard callbacks are used? I have added the code as well as the tensorboard ima

[2019-07-01 09:10] superbobry commented on #30165
I've reproduced the leak on GPU, fix is on the way.

[2019-07-01 09:10] ravikyram commented on #30263
I am able to execute the code provided by you  without any errors in TF 2.0-beta1 version.Can you check once and let me know is this still an issue?.Thanks!

[2019-07-01 09:19] aakhundov commented on #28761
@qlzh727 Same problem in the `Bidirectional` code leads to a different issue in tf 1.14 (graph mode):

**Code to reproduce the issue**

[code]

**Other info / logs**

[code]

Do you think this can be solved in tf 1.x, too, at some point?

Thanks!

[2019-07-01 09:39] chsigg commented on #30100
Hi Vishnuvardhan, could you try to wrap the output tensor `c` with `array_ops.identity()`?

[2019-07-01 09:40] abdo-robotic opened #30271 "Failed to load nodelet [/zed/zed_wrapper_node] of type [zed_wrapper/ZEDWrapperNodelet]"
hello i have worked with zed camera for long time when i run my zed camera this morning i got this error

ROS_MASTER_URI=http://localhost:11311

process[zed/zed_wrapper_node-1]: started with pid [2349]
process[zed/zed_state_publisher-2]: started with pid [2350]
[ INFO] [1561980098.631115078]: Initializing nodelet with 4 worker threads.
[ERROR] [1561980100.164477981]: Failed to load nodelet [/zed/z

[2019-07-01 09:46] mudassirej commented on #30223
@gadagashwini thank you for your consideration. Here is the snippet
from __future__ import print_function
from GazeboWorld import GazeboWorld

import tensorflow as tf
import random
import numpy as np
import time
import rospy

from collections import deque

GAME = 'GazeboWorld'
ACTIONS = 7 # number of valid actions
SPEED = 2 # DoF of speed
GAMMA = 0.99 # decay rate of past observations
OBSERVE = 10

[2019-07-01 09:49] iLeW commented on #29253
I'll try to comment here about this post:

Well, I need to use freeze_graph to have a saved model compatible with opencv cv::dnn::readNetFromTensorflow in C++. Have you have ever considered this situation? What are your plans to continue supporting this?

Thank you.

[2019-07-01 10:05] gadagashwini commented on #29952
I am able to reproduce the issue on colab with tensorflow 1.14.0. Thanks!

[2019-07-01 10:15] gadagashwini commented on #30105
@devstein I am not able to reproduce the issue with above code and where to add these two lines
[code]

[2019-07-01 10:19] gadagashwini commented on #30114
@Elmit2015 Is this still an issue? Thanks!

[2019-07-01 10:21] rkuo2000 opened #30272 "tflite_convert .h5 to .tflite Init node Conv1/kernel/Assign do esn't exist in graph"
**System information**
- OS Platform and Distribution : Windows 7
- TensorFlow version: tensorflow_gpu-1.14.0
- Python version: 3.7.3
- CUDA/cuDNN version: 10.1 / 7.6.1
- GPU model and memory: GTX1080Ti / 11GB

**Describe the current behavior**
after transfer learning on tensorflow.keras mobilenet v2 and saved .h5,
*`tflite_convert --keras_model_file=tl_mobilenetv2.h5 --output_file=tl_mobilenetv2.

[2019-07-01 10:24] gadagashwini commented on #30156
@devstein I have tried to reproduce the issue with the above code but Looks like some of the entities like data_glob, map_file_to_xy_dataset are not defined. Can you help us to reproduce the issue. Thanks!

[2019-07-01 10:29] oysz2016 commented on #29992
I meet the same mistake,When I execute ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03/pipeline.config and the relevant model

[2019-07-01 10:39] pandrey-fr commented on #30263
@ravikyram, I tried running the code and I have the exact same warning/error print outs at each and every iteration:
[code]

* OS Platform: Linux Mint 19.1
* Python version: 3.6.8
* TensorFlow version: 2.0-beta1 (installed from pip, with gpu support)
* GPU enabled (Nvidia Quadro P1000, with CUDA 10.0, properly detected and used by TensorFlow)

[2019-07-01 10:41] pandrey-fr commented on #30263
Additionally, the loss and accuracy do not seem to change significantly as training goes - it therefore seems that back-propagation is actually not performed as it should.

[2019-07-01 10:49] tangjie77wd opened #30273 "Invalid argument: Expects arg[1] to be bool but float is provided"
**Tensorflow version:1.12 .I want to translate my python code to c++ version and here is my python code below:**
`
import tensorflow as tf
import  numpy as np
from skimage import io, transform
import cv2
#import infer
sess = tf.Session()
new_saver = tf.train.import_meta_graph(r'D:\CNN_test_result_sizhuangzao_model\v2_101_ziji_9\model\model.meta')
new_saver.restore(sess,tf.train.latest_checkpoint(r

[2019-07-01 10:54] pandrey-fr commented on #30263
Finally, if I disable the use of the GPU, the `E tensorflow/core/grappler/optimizers/meta_optimizer.cc:502] constant folding failed: Invalid argument: Unsupported type: 21` error also shows up at each iteration.

So, there definitely is an issue here.

[2019-07-01 10:58] Elmit2015 commented on #30114
I give up to install tenderloin on that lite notebook. I will use colab instead if needed. I have successfully installed Tensor flow 2.0.0beta1 on a bigger notebook.

[2019-07-01 10:58] #30114 closed

[2019-07-01 11:03] joyalbin opened #30274 "TFSlim trained 'mobilenetv2' model is giving poor accuracy with is_training='False' (When save and restore the checkpoints)"
## The steps I have followed
### 1. I have trained the `MobilenetV2` model using `slim` framework with cifar10 dataset.
#### Run training.
python train_image_classifier.py \
  --train_dir=${TRAIN_DIR} \
  --dataset_name=cifar10 \
  --dataset_split_name=train \
  --dataset_dir=${DATASET_DIR} \
  --model_name=mobilenet_v2 \
  --preprocessing_name=mobilenet_v2 \
  --max_number_of_steps=100000 \
  --b

[2019-07-01 11:06] gadagashwini commented on #30162
@capilano It is difficult to reproduce the issue. Will it be possible to provide us the minimal code snippet to reproduce the issue. So that we can reproduce the issue on our environment for faster resolution. Thanks!

[2019-07-01 11:16] SmartWaddles commented on #27312
Hello, everyone. Just checked - kivy with  tensorflow==1.13.0rc0 works fine.
If I'm trying to use it with tensorflow-1.14.0, I'm getting the following error:
Hundreds of messages WARNING: Logging before flag parsing goes to stderr.
and recursion limit exceeding error after that.
Both packages are installed via PIP in Anaconda environment. I hope it will help someone.

[2019-07-01 11:29] abdou31 commented on #29957
You should followed some instructions before executing landmark.py

[2019-07-01 11:31] rabintang commented on #21615
I have tried 1.13.1 version, and encounter the same error.

[2019-07-01 11:34] gadagashwini commented on #30252
@aidangomez Please have look at [TPU parallel execution](https://www.tensorflow.org/api_docs/python/tf/tpu/shard). Please let us know if that helps. Thanks!

[2019-07-01 11:37] SumNeuron commented on #16646
@martinwicke I really don't know how to precede on debugging this myself. I already went through the docs and source code as well as a series of trials / errors. So I would continue to appreciate your guidance, especially as the previously listed approach by @kopas does not seem to work any more, or at least in this context

[2019-07-01 11:43] gadagashwini commented on #30246
@EternalSaga looks like similar issue [#24885](https://github.com/tensorflow/tensorflow/issues/24885). Please let us know if that helps you. Thanks!

[2019-07-01 11:48] gadagashwini commented on #30234
I am able to reproduce the issue on Colab with Tensorflow 2.0.0-dev20190628. Thanks!

[2019-07-01 11:56] ravikyram commented on #30194
Please, have a look at [GPU memory growth](https://www.tensorflow.org/guide/using_gpu#allowing_gpu_memory_growth) and please, let us know it it helps.Thanks!

[2019-07-01 12:08] Oktai15 commented on #30251
@saberkun I use `tf.keras.experimental.export_saved_model`, because it's the only one function in which I can specify `input_shape` for my model that I defined due to Imperative API (subclassed tf.keras.Model). It would be very sad, if you had remove it without alternative.

[2019-07-01 12:08] ravikyram commented on #30254
Please, let us know which version of cuDNN you installed?If not please install cuDNN 7 and let us know if the issue still persists.Thanks!

[2019-07-01 12:11] JoelTsui opened #30275 "why official tensorflow lite android demo faster than building library by myself"
I use the official android demo [here](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android),and run the model I created by myself under device rk3288, the inference cost is about 200ms, but when I build `libtensorflowlite.so` by myself using the command below, it cost almost 500ms, I can't understand the gap. **Does any one know how to build tensorflow-lite c+

[2019-07-01 12:19] pandrey-fr commented on #29525
Additional test/results (sorry for the multiplication of messages - I really want to provide as much info as possible, hoping it can help solve the issue):

* Changing my code to feed the model with a numpy array containing the batched sequences' lengths (_then_ converting it to a sequence mask Tensor using `tf.sequence_mask` _within_ the model) partly fixes the issue.

* `E tensorflow/core/grappl

[2019-07-01 12:30] acifonelli commented on #28865
Reopening the issue just because I faced the same problem on Windows.

**System Information**
- *OS Platform*: Windows 10
- *TensorFlow installed from (source or binary)*: Source
- *TensorFlow version*: master at 2fd2eff6cb
- *Python version*: 3.6.8
- *Bazel version (if compiling from source)*: 0.26.1
- *GCC/Compiler version (if compiling from source)*: MSVC Tools 19.20 (cl v.)
- *CUDA/cuDNN versi

[2019-07-01 12:33] jenishah opened #30276 "Need better documentation for BestExporter"
In the documentation for [BestExporter](https://www.tensorflow.org/api_docs/python/tf/estimator/BestExporter), the example mentioned does not specify how to write a _compare_fn_ .
By default, it takes the _loss_.
How to use it if we were to use custom metrics, that are evaluated in the _model_fn_ .

[2019-07-01 12:34] ravikyram commented on #30233
Can you please elaborate about the issue & the context.Will it be possible to provide related code.Thanks!

[2019-07-01 12:44] ravikyram commented on #30224
Can you please help us with error log for faster resolution.Thanks!

[2019-07-01 12:46] pandrey-fr commented on #30218
Hi,
I have no experience with `.pb` files, but if you have a keras Model instance, you probably can just use `my_model.save('some_folder')`, which creates multiple outputs in the pointed folder, including a `.pb` file.
I hope this helps.

[2019-07-01 13:04] ravikyram commented on #30212
Just to verify did you get chance to follow instructions from [Tensorflow Website](https://www.tensorflow.org/install/source_windows).Thanks!

[2019-07-01 13:38] prateethvnayak commented on #29751
Any updates on this keyerror ?

There is also another KeyError called `FixedLengthDatasetV2`.

[2019-07-01 13:50] capilano commented on #30162
`## Define your model ###
def network():
    base_model =ResNet50(weights=None, include_top=False)
    x = base_model.output
    x = GlobalAveragePooling2D()(x)
    x = Dense(1024, activation='relu')(x)
    predictions = Dense(10, activation='softmax')(x)
    model = Model(inputs=base_model.input, outputs=predictions)
   return model

### Initialize TPU system with TPU_WORKER as the TPU address ##

[2019-07-01 13:51] jsimsa commented on #29751
Do you mean `FixedLengthRecordDatasetV2`? That operation has not been renamed, so I suspect that is a different issue. Please create a separate issue with details on how to reproduce the error.

[2019-07-01 13:53] mayadav1 commented on #30212
@ravikyram
Yes I have followed below instructions:
1) conda create -n tensorflow-1.13.1-without-mkl python=3.6 anaconda
2)conda activate tensorflow-1.13.1-without-mkl
3)Install MSYS2
 set environmental variable, under PATH -> C:\msys64\usr\bin
4)Install JDK12 and set environmental variable : JAVA_HOME = C:\Program Files\Java\jdk-12
5)pacman -Syu zip unzip
6)pacman -Syuu --noconfirm patch
7)set BAZ

[2019-07-01 14:00] #30252 closed

[2019-07-01 14:04] iranroman commented on #29751
Hello @jsimsa. Thanks a lot for your help. What's the best way to update the serialized checkpoint? I tried replacing occurrences (as you suggested) using vim, but now I have a corrupted checkpoint file. Also, do I have to update `ParallelInterleaveDataset` to `ExperimentalParallelInterleaveDataset` in Tensorflow files such as `dataset_ops.py`, `gen_dataset_ops.py`, `interleave_ops.py`, and `reade

[2019-07-01 14:06] el1995 commented on #30111
Hi @Leslie-Fang,

that solved the issue right away, thank you so much! The built versions worked on the CentOS cluster, I did not run into further errors with OpenMPI!

Thanks for the support!

[2019-07-01 14:06] #30111 closed

[2019-07-01 14:15] capilano commented on #30233
Have updated the form

[2019-07-01 14:18] marcojulioarg opened #30280 "Is there any way to flush GPU memory in TF 2.0?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

`
BATCH_SIZE

[2019-07-01 14:34] gauravkoradiya commented on #1940
me too :)

[2019-07-01 14:36] dynamicwebpaige commented on #26303
TF-GAN is now compatible with TensorFlow 2.0, and can be found [here](https://github.com/tensorflow/gan). Let us know what you think! 😄

[2019-07-01 14:36] #26303 closed

[2019-07-01 14:37] tbrodbeck commented on #8852
Would still be nice to have an optional overwrite flag though. (Sorry for warming up this old pizza with my 5 cents, btw)

[2019-07-01 14:41] dynamicwebpaige commented on #25355
You can use now use Sonnet with TensorFlow 2.0 (code available on [this branch](https://github.com/deepmind/sonnet/tree/v2)). A package will be placed on PyPI within the next few months, and this comment will be updated with a link.

Try it out and let us know what you think! 😄

[2019-07-01 14:41] #25355 closed

[2019-07-01 15:10] devstein commented on #30105
@gadagashwini Did you try using a `tf.data.Dataset.list_files("*.csv")` where there are multiples CSV files in the file path? This is the only difference between my code and the example

[2019-07-01 15:13] mmuppidi commented on #24357
@yw411 we had to increase the s3 request timeout to get this to work.

[code]
Ref: https://github.com/tensorflow/tensorflow/issues/15868

[2019-07-01 15:14] schoettner opened #30281 "tf.read_file memory leak on python3.7"
Hi,
i noticed a memory leak in python3.7. When I used the dataset.map() function to load images, the process died after a few seconds with an OOM exception. After some testing, I could identify tf.read_file() as the source of this issue. Memory was never released, so all files accumulated to multiple GB of memory in seconds and the process crashes.
[code]
Going back to python3.6, there was no memo

[2019-07-01 15:16] julj commented on #29964
You're right, the metrics monitored are computed before the weight update.
I wrote a custom monitoring callback to find out:

[code]
Output:

[code]

[2019-07-01 15:17] #29964 closed

[2019-07-01 15:21] sayakpaul commented on #30218
@pandrey-fr

I have no experience with .pb files, but if you have a keras Model instance, you probably can just use my_model.save('some_folder'), which creates multiple outputs in the pointed folder, including a .pb file.
I hope this helps.

Will surely try. I did know about `model.save()` but I did not that it creates `.pb` file. Thank you :)

[2019-07-01 15:28] eduardofv commented on #29964
Great!

[2019-07-01 15:36] wdirons commented on #28628
I did find a way to map from TensorFlow's GIT_VERSION to a commit hash (I just was unable to find this issue to update it)

Here is an example:
[code]

[2019-07-01 15:38] devstein commented on #30156
@gadagashwini Here is a more detailed example:

[code]

[2019-07-01 15:47] recrusader commented on #27285
I have the same problem. FP16 separable_conv2D is super slow.

[2019-07-01 15:52] devimonica opened #30282 "ERROR: no such package 'tensorflow/lite/toco': Unable to determine the local repository for directory /home/devim/tensorflow/tensorflow/lite/toco"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary):
- TensorFlow version: 1.12.0
- Python version: 2.7.15
- Installed using virtualenv? pip? conda?: python-pip
- Bazel version (if compiling from source): 0.26.0
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: Using CPU
- GPU model and memor

[2019-07-01 15:57] pandrey-fr commented on #30218
You're welcome! It used not to, but from the docs it seems that this is becoming the default behavior in TF 2.0.

[2019-07-01 15:59] jdduke commented on #30065
I'm not able to repro the problem using the BUILD rule @ https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/android/BUILD#L61. It's possible there are issues with building on a Windows host, though I don't see an immediate reason why. In any case, TensorFlow Mobile (which contrib/android supports) has been deprecated in favor of TensorFlow Lite. We'll be sure to update the doc

[2019-07-01 15:59] #30065 closed

[2019-07-01 16:15] abdou31 commented on #30065
I have used python tflite converter and I get tflite model. So for now I want to know how can I use tflite model and how can I extract features from this file?

[2019-07-01 16:18] adammichaelwood commented on #29566
Thank you for all of your feedback here.
Sometimes people are too nice to say this stuff, and sometimes people don't say it until they are too angry to say anything actually helpful. So I really appreciate your thoughtful, and kind, criticism.

If you have more thoughts and ideas about how we can improve TensorFlow docs, please share them. You might know all this already, but for anyone else readi

[2019-07-01 16:26] jsimsa commented on #29751
I think the best way would be to write a simple program that reads the checkpoint file, parses the proto the file contains (I believe this would be [metagraph](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/meta_graph.proto), then walks the data structure to update all occurrences of the renamed transformations, and saves the updated proto to a new file.

If you do n

[2019-07-01 16:26] #25414 closed

[2019-07-01 16:27] jdduke commented on #30065
For general TensorFlow Lite usage please see the guide @ https://www.tensorflow.org/lite/guide. There are complete steps for using inference after you've successfully converted your model.

[2019-07-01 16:29] qlzh727 commented on #29189
Hi @mckinziebrandon, we also got bug report from internal and we are trying to address it.

For now, i think you can work around the issue by using tf.keras.RNN(cell=tf.keras.LSTMCell(...)), which should give the same math result.

[2019-07-01 16:38] MoritzTaylor commented on #25349
@tanzhenyu I will start on ACKTR, if no one works already on this.

[2019-07-01 16:42] abdou31 commented on #30065
this documentation didn't have instruction how it works the extraction of features from the output nodes!

[2019-07-01 16:46] prateethvnayak commented on #29751
@jsimsa That would be great. I really couldn't find a way to manipulate metagraph to remove those nodes and replace with a simple placeholder.
TF suggests to use `graph_transform` tools for which you need to bazel build it.

How can I share the meta+ckpt files with you ?

[2019-07-01 16:47] jsimsa commented on #30203
@harahu it is possible to achieve what you want using existing transformations:

[code]

The above will create two files `/tmp/test.0` and `/tmp.test.1` which contain "a", "c" and "b", "d" respectively, printing the names of the files.

[2019-07-01 16:47] #30203 closed

[2019-07-01 16:57] av8ramit commented on #28628
@byronyi yes unfortunately I would advise against it.

[2019-07-01 17:01] jdduke commented on #30065
Extracting output features is model-dependent. The output tensors are simply typed buffers. Here is some [additional guidance](https://www.tensorflow.org/lite/guide/faq#how_do_i_determine_the_inputsoutputs_for_graphdef_protocol_buffer) for better understanding model outputs.

[2019-07-01 17:09] jsimsa commented on #29751
How big is it? Could you using Google Drive or Dropbox and share a link to it?

[2019-07-01 17:10] feihugis commented on #16933
@frankchn Will [HDF5](https://support.hdfgroup.org/about/hdf_technologies.html) be a potential format? It supports various data types, index, chunking, compression and efficient I/O.

[2019-07-01 17:10] abdou31 commented on #30065
Thanks, I will seet it

[2019-07-01 17:15] GPrathap commented on #22208
Nope, I haven't fixed it, I changed the loss function

[2019-07-01 17:17] qlzh727 commented on #29622
@5M7k0R5tTe, the tf lstm cell has two weights: kernel, bias. and keras cell has 3 weights: kernel, recurrent_kernel, bias. The tf kernel should be the concat of keras kernel and recurrent kernel.

Format wise, tf lstm cell was using IFCO (input, forget, carry, output) gate order, and Keras cell was using ICFO (input, carry, forget, output). So to convert the weights, assume each gates has size U,

[2019-07-01 17:17] #29622 closed

[2019-07-01 17:18] prateethvnayak commented on #29751
The link is in the issue description.

[2019-07-01 17:21] 8bitmp3 opened #30283 "[TF 2.0] Minor changes to the 'Load images with tf.data' tutorial + fix image links"
_URL(s) with the issue:_
https://www.tensorflow.org/beta/tutorials/load_data/images

_Description of main issue:_
Pls take a look at JPG/JPEG links in the 'Load images with tf.data' tutorial in the 'Inspect the images' section. When you inspect the site elements they appear to be missing a letter 'g' as in `jpeg` or `jpg`
[code]

_Other minor suggestions:_
Rearrangement of words, fixing some gramm

[2019-07-01 17:28] mrudulaathi commented on #29472
Hi, I see the same error when trying to convert a RNN model to tflite but not when converting a fully connected or CNN model? Does anyone know if tf.keras.layers.LSTM and tf.keras.layers.GRU ops have issues with conversion to TFLite models?

[2019-07-01 17:31] mrudulaathi commented on #29674
I have tried using TensorFlow 2.0.0-beta1 and see the same issue. But I get the error only when trying to convert tf.keras.layers.GRU or tf.keras.layers.LSTM layers to TFLite. Is this an issue with tf.lite.TFLiteConverter.from_saved_model ?

[2019-07-01 17:33] wudixiaotie opened #30284 "CollectiveGatherOpKernel::ComputeAsync always crash when using MultiWorkerMirroredStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
None
- OS Plat

[2019-07-01 17:35] 8bitmp3 commented on #25349
Go for it @MoritzTaylor - handing the ownership over to you - you may be a lot quicker 👍

[2019-07-01 17:36] lamberta commented on #30283
Thank you. We recently hit this filename issue ... something about nb_convert and mime types. @yashk2810 is looking in to it.

[2019-07-01 17:36] wudixiaotie commented on #30284
@achandraa

[2019-07-01 17:36] yashk2810 commented on #30283
@MarkDaoust has a fix on the way. This should be fixed soon.

[2019-07-01 17:43] tanzhenyu commented on #25349
@MoritzTaylor Sounds good. Have fun and let me know how I could help!

[2019-07-01 17:52] lamberta commented on #30261
Confirmed.

Log:
[code]

[2019-07-01 17:55] lamberta commented on #30261
cc: @craigcitro

[2019-07-01 17:56] HanGuo97 commented on #30263
Experiencing the same issue, any solution?

[2019-07-01 18:01] lamberta commented on #28173
Thank you, @Whisht, for the follow up.

[2019-07-01 18:11] Oktai15 commented on #22208
@GPrathap can you provide the loss function that you did? I want to implement WGAN-GP loss and I have the same problem

[2019-07-01 18:11] hamatake commented on #26084
This should be fixed by https://github.com/tensorflow/tensorflow/commit/025aa34d77b0ba1c9035cfa7b3c7f98bcccb1435#diff-76ffb659afb259c45a6303f170a6613a

[2019-07-01 18:16] devstein commented on #30156
@gadagashwini After more experimenting, I don't think `tf.Tensor.getitem` is the root of the issue. This [issue](https://github.com/tensorflow/tensorflow/issues/29697) describes the same behavior but is only caching.

Also, this issue is only persistent during the first epoch. Does `tf.data.Dataset.cache` cache to memory before it writes to disk?

[2019-07-01 18:20] #30149 closed

[2019-07-01 18:29] recrusader commented on #27780
@rootkitchao  did you try "tf.train.experimental.enable_mixed_precision_graph_rewrite"? Does it work?
Thanks!

[2019-07-01 18:46] lao8n commented on #29842
I have the same problem

[2019-07-01 18:54] alik3954 opened #30286 "[TF 2.0] tf.keras.preprocessing.image"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-beta1
- Are you willing to contribute it (Yes/No): N

[2019-07-01 19:05] calledbymountains commented on #30050
The issue is not a bug. For details please see [this](https://stackoverflow.com/questions/56717031/composition-of-lambda-functions-in-tensorflow-2-0/56837574#56837574)

[2019-07-01 19:05] #30050 closed

[2019-07-01 19:05] jerryyin opened #30287 "third_party/repo.bzl file silently failed to apply patch"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04:
- ~Mobile device (e.g. iPhone 8, Pixe

[2019-07-01 19:06] Ryandry1st commented on #30035
That solves the problem for me, thank you!

[2019-07-01 19:06] #30035 closed

[2019-07-01 19:25] caisq commented on #29842
@revan has better context about this issue than I do. I'm assigning the bug to him.

[2019-07-01 19:33] GPrathap commented on #22208
You may find it here, I am not sure which will help you or not.

https://github.com/GPrathap/monodepth/blob/master/monodepth_main_new_loss.py#L222
https://github.com/GPrathap/monodepth/blob/master/monodepth_model_gan.py#L381

Just have a look :)

[2019-07-01 19:38] craigcitro commented on #30261
+cc @colaboratory-team for visibility

The logs in https://github.com/tensorflow/tensorflow/issues/30261#issuecomment-507362714 do seem to confirm that the notebook is requesting more RAM than the VM has available; I don't think there's anything we can do from the colab side unless it doesn't use that much RAM outside of colab.

[2019-07-01 20:04] fonspa commented on #24816
Any update on this issue ? I got the same problem here with Tensorflow 2.0.0alpha0 and beta1-gpu or cpu on Ubuntu 18.04 LTS and Windows 10.
Tried to reduce batch size, to move activations out of loops or to reduce number of layers / units to no avail.
My model / dataset works _fine_ with TF 1.9.0-gpu without this warning, and the time per step is even lower by more than 33% when compared to an exe