[2017-08-24 21:35] bhack commented on #7951
@mrry Have you tested this [section of the documentation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/programmers_guide/datasets.md#applying-arbitrary-python-logic-with-tfpy_func) with python3?

[2017-08-24 21:39] lcnature opened #12570 "No gradient for `cdf`, `sample` and other functions for several distributions in `tf.distributions`"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary (pip)
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.5.2
- **Bazel version

[2017-08-24 22:04] dchaws commented on #6620
@robotnc Could you elaborate more on your workaround? Thanks!

[2017-08-24 22:04] zhangyaobit commented on #12419
The reason might be related to the reduction dimension in reduce_mean: reducing along the second dimension might be slower than along the last dimension because of the memory access pattern. You can run Timeline or tf prof (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/profiler) to find out more.

[2017-08-24 22:04] #12419 closed

[2017-08-24 22:40] aziabari commented on #12528
Thanks!

[2017-08-24 22:46] aziabari opened #12571 "tf.subtract doesn't work for uint8 and uint16 images (such as PNG)"
It seems that tf.subtract doesn't support uint8 and unit16 image.
Could someone please add a PR to enable the uint16 and int16 support for subtraction.

Thanks,

[2017-08-24 23:18] andydavis1 commented on #12569
Can you describe more about how you were misusing the method? (adding @ebrevdo ...)

[2017-08-24 23:20] andydavis1 commented on #12567
@jart can you comment on this?

[2017-08-24 23:29] andydavis1 commented on #12557
@000drax Can you take a look and maybe review the PR?

[2017-08-24 23:36] pk11 commented on #12022
We ran into this issue as well. I don't think your problem is related to `default_output_alternative_key` being `None` rather, it looks like `TensorForestEstimator` currently only populates `model_ops.predictions` only if a `keys_column` is provided[1]. Without model_ops.predictions populated `default_outputs` in `saved_model_export` is not populated[2] with a generic key. In return, this will mak

[2017-08-24 23:37] pk11 commented on #12022
Should also mention that the fix (populating `key_column`) only worked with `tensorflow 1.3`.

[2017-08-24 23:39] andydavis1 commented on #12555
@petewarden, @andrewharp can you comment on this?

[2017-08-24 23:41] Omarkaab commented on #12416
I had the same problem.
Is there a way to go around the issue?

[2017-08-24 23:46] andydavis1 commented on #12553
@derekjchow can you comment on this one?

[2017-08-24 23:47] andydavis1 commented on #12543
Closing as dup

[2017-08-24 23:47] #12543 closed

[2017-08-24 23:57] andydavis1 commented on #12541
If you build TF with MKL support, the MKL library will detect your CPU architecture (at runtime) and use the appropriate instruction set for that CPU (so you'll get optimizations that work for that particular CPU). Is this what you mean by dynamic dispatch?

[2017-08-24 23:59] yongtang commented on #12571
Added PR #12574 for the support.

[2017-08-25 00:05] andydavis1 commented on #12539
@gunan @petewarden Can you comment on this one?

[2017-08-25 00:09] andydavis1 commented on #12525
@jhseu Can you close this when PR #12562 is merged?

[2017-08-25 00:09] vade commented on #12541
Hi @andydavis1 - yes, apologies if my terminology was incorrect or misleading - I was following OpenCVs terminology which I presumed was standard.

I didn't realize MKL supports this. Thats great news. I am happy to give that a shot. Does Master have working MKL compilation out of the box for Mac OS X? Happy to mark this issue closed and move commentary to #10685 if you feel that is appropriate.

[2017-08-25 00:10] vade commented on #12541
Interesting about the MKL on OS X performance though. Its never straightforward is it !?

[2017-08-25 00:12] vrv commented on #12537
The prefix comes from LOG(INFO) inside the logging_ops kernel.  The fix needs to be made at the C++ level, though I don't have a good recommendation as to how.

[2017-08-25 00:17] 000drax commented on #12557
PR looks good! I approved it, but I don't think I'm on the list of allowed
approvers.

On Thu, Aug 24, 2017 at 4:32 PM, andydavis1 <notifications@github.com>
wrote:

[2017-08-25 00:39] kinsumliu commented on #12556
[This ](https://github.com/tensorflow/tensorflow/issues/11367) could be useful.

If you provide your full code, the community can provide more help.

[2017-08-25 00:42] kinsumliu commented on #12538
How about implement an ops of Tensorflow using FPGA?

https://www.tensorflow.org/extend/adding_an_op

[2017-08-25 00:57] Christ1992 opened #12575 "Usage of bit_casted_tensor() function with C++ api?(implementation on IOS)"
### Any tutorial on this bit_casted_tensor function?
I am building an app on IOS based on ios-tensorflow model. The model generated a tensor with type float. However, for my model, a unit8 format is required. So I want to transfer the tensor's format.

I found this, `bit_casted_tensor()`, maybe useful for directly transformation. But I when tried to use it in the code like the following,
`   tenso

[2017-08-25 01:01] Christ1992 commented on #12560
I abandoned all the thing related to Pods and add all the files needed from source. Now this problem is solved.

But, is the Pods package manager problematic as it seems not synchronize after I changed the static library? Is this some kinds of bug or it is just me?

[2017-08-25 01:06] atishsawant commented on #6055
having the same issue as what was described above, but I've installed and uninstalled python, created the environment via conda and downloaded the visual studo 2015 .dll files and it still doesn't work. my cuda and cudnn files are also good. not sure what is going on?

(tensorflow) C:\WINDOWS\system32>python
Python 3.5.4 |Continuum Analytics, Inc.| (default, Aug 14 2017, 13:41:13) [MSC v.1900 64 b

[2017-08-25 01:22] atishsawant commented on #6055
Here are my paths:

(tensorflow) C:\WINDOWS\system32>path
PATH=C:\ProgramData\Anaconda3\envs\tensorflow;C:\ProgramData\Anaconda3\envs\tensorflow\Library\mingw-w64\bin;C:\ProgramData\Anaconda3\envs\tensorflow\Library\usr\bin;C:\ProgramData\Anaconda3\envs\tensorflow\Library\bin;C:\ProgramData\Anaconda3\envs\tensorflow\Scripts;C:\ProgramData\Anaconda3;C:\ProgramData\Anaconda3\Library\mingw-w64\bin;C:

[2017-08-25 02:31] jakajacky commented on #12319
@Christ1992 i saw your new issue #12560, but my issue "No OpKernel was registered to support Op 'RandomUniform' " have been resolved by remove 'dropout' only be used to train model, then i met "No OpKernel was registered to support Op 'Mul'" when run official tensorflow-ios camera demo, finaly i tried freezing the graph, and it worked. In view of #12560, the only difference between you and me is t

[2017-08-25 02:31] ppwwyyxx commented on #10857
I'll send a PR on this.

[2017-08-25 02:32] ruanlele opened #12579 "[building tensorflow with bazel ] Error:C++ compilation of rule '@boringssl//:crypto' failed."
**Environment:
    GCC 4.9.1
    glibc :2.11.3
    bazel:0.4.0/0.4.5/0.5.3(these versions have been tried)
    OS: SUSE
 It seems that boringssl can't work with command `bazel build --copt=-march=native -c opt //tensorflow/tools/pip_package:build_pip_package`. Here is the  log:**

  WARNING: /hdata/users/rll/tensorflow/tensorflow/tensorflow/tensorflow/contrib/learn/BUILD:15:1: in py_library rule /

[2017-08-25 02:40] kevinw commented on #11784
Ran into this today installing tensorflow-gpu and even worse: the NVIDIA cudnn archive page doesn't have version 6 anymore: https://developer.nvidia.com/rdp/cudnn-archive

[2017-08-25 03:15] WangChengLongWilliam commented on #11784
i am very sorry about hear that,my cudnn is shared from baiducloud,so,Do U have a baidu account.
this is my share url: https://pan.baidu.com/s/1o8zCUz4 密码: 3k7y

At 2017-08-25 10:43:18, "Kevin Watters" <notifications@github.com> wrote:

Ran into this today installing tensorflow-gpu and even worse: the NVIDIA cudnn archive page doesn't have version 6 anymore: https://developer.nvidia.com/rdp/cudnn-

[2017-08-25 03:21] WangChengLongWilliam commented on #12319
sorry i can't understand your meaning,i guess this question is not about my project

At 2017-08-25 10:33:41, "X-Roach" <notifications@github.com> wrote:

@Christ1992 i saw your new issue #12560, but my issue "No OpKernel was registered to support Op 'RandomUniform' " have been resolved by remove 'dropout' only be used to train model, then i met "No OpKernel was registered to support Op 'Mul'" when

[2017-08-25 03:42] thangbui commented on #834
@amohant4 have you got a solution for the case above?

I want to get gradients w.r.t. a subset of a variable, like tf.gradients([loss], [variable[i]] but the returns None as slicing returns a new tensor. This is closely related to this [stackoverflow question](https://stackoverflow.com/questions/41889531/slice-of-a-variable-returns-gradient-none).

[2017-08-25 03:57] kevinw commented on #11784
@WangChengLongWilliam I get "Oh oh, the page you are visiting does not exist" at that link.

[2017-08-25 03:58] ybdx opened #12581 "rnn.MultiRNNCell problems and solution"
ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.GRUCell object at 0x11d32cbd0> with a different variable scope than its first use.  First use of cell was with scope 'rnn/multi_rnn_cell/cell_0/gru_cell', this attempt is with scope 'rnn/multi_rnn_cell/cell_1/gru_cell'.  Please create a new instance of the cell if you would like it to use a different set of

[2017-08-25 03:59] luvwinnie commented on #12556
here is my full source:
info:
4 Nodes PC with Ubuntu 16.04LTS
1 parameter server and 3 worker
Parameter server specs:
2 GPUs
workers specs:
1: 1GPU,   2: 2 GPUs, 3: 1 GPU
The reason i use the 2Gpus for parameters server is because it has faster CPU for my code to process the queue input pipeline faster.
<pre>
`'''
192.168.1.7$ python example.py --job-name="ps" --task_index=0
192.168.1.2$ python ex

[2017-08-25 04:01] ybdx commented on #8191
ValueError: Attempt to reuse RNNCell <tensorflow.contrib.rnn.python.ops.core_rnn_cell_impl.GRUCell object at 0x11d32cbd0> with a different variable scope than its first use. First use of cell was with scope 'rnn/multi_rnn_cell/cell_0/gru_cell', this attempt is with scope 'rnn/multi_rnn_cell/cell_1/gru_cell'. Please create a new instance of the cell if you would like it to use a different set of we

[2017-08-25 04:05] WangChengLongWilliam commented on #11784
ok ,i try to send the file to you email

At 2017-08-25 11:59:25, "Kevin Watters" <notifications@github.com> wrote:

@WangChengLongWilliam I get "Oh oh, the page you are visiting does not exist" at that link.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-25 04:08] #12581 closed

[2017-08-25 04:14] gunan commented on #11784
@kwvinw Not sure what that page is, but AFAIK cudnn is distributed through here, with a few terms and conditions.
https://developer.nvidia.com/cudnn
I cannot log in and check, but can anyone see if this site includes cudnn v6 after logging in?
Our installation instructions still should point to this site.

[2017-08-25 04:18] gunan commented on #12539
@asimshankar Looks like we are having problems with libtensorflow_cc
I am not sure what is going on.

[2017-08-25 04:21] coreyhahn commented on #12416
I have cuDNN v6.0 and still have this problem.  Is there another fix?

[2017-08-25 04:35] sumitbinnani commented on #12416
@coreyhahn: Check if the symlink for the `libcudnn.so.6` is at appropriate location (usually `usr/local/cuda/lib64/` and `usr/local/cuda/include`). Also, ensure that the `LD_LIBRARY_PATH` is set.

[2017-08-25 04:53] luchensk commented on #12123
Is there some update? Looking forward to the response, thanks.

[2017-08-25 04:56] kinsumliu commented on #12556
I don't have a definite answer yet. I suspect that there is some problem with the data feeding mechanism in your code which will cause this error. You mention that it runs fine if you disable them. Have you checked that the data really goes in and some meaningful training is done?

Here is my suggestion:

1. MonitoredTrainingSession should create a Coordinator which start the queue runners. tf.tra

[2017-08-25 05:00] KeithYin commented on #12545
@caisq Thanks for responding, I found a bug in my `train_n_iteration` code, i use the `tf.get_default_sesstion()` instead within `train_n_iteration`, that is why the *run end CLI* didn't show up.

Thanks again.

[2017-08-25 05:00] #12545 closed

[2017-08-25 05:01] VladimirBelov92 commented on #8898
@Kevinpsk
hi, it's strange, but even after upgrading to v6 I still get the same error. In cuda/lib64  I have libcudnn.so, libcudnn.so.6 and libcudnn.so.6.0.21 yet same error appears. Is there something which also needs to be changed?

[2017-08-25 05:14] facaiy opened #12583 "BUG: indices[0] = [0,-1] is out of bounds for _OneHotColumn"
### Describe the problem

For `sparse_column_with_keys`, out-of-vocabulary feature values is -1 by default. However, -1 is invalid index when sparse_tensor is converted to tensor in `one_hot_column`.

### Source code / logs

code:

[code]

logs:

[code]

[2017-08-25 05:22] DeckerCHAN opened #12585 "Tensorflow estimator with shared network"
I am building a tensorflow model with new [estimator]( https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator) high level api. My model looks like ![this]( https://i.stack.imgur.com/gxxo0.png).

In fact, the model is more complex than that due to the model is used to simulate game operation. Classification is responsible for decide whether it is good time for action. Then the regression

[2017-08-25 05:31] kinsumliu commented on #12556
[code]
Can you try my code in your environment?

1. Create two csv `file0.csv`, `file1.csv`. Each entry is just 5 ints separated by ",". (Example is 1,2,3,4,5)
2. Run the code with `tf.train.start_queue_runners(sess=sess)` commented out and not commented out.
3. Check whether `events.out.tfevents.XXXXXX` is created in the same directory.

[2017-08-25 06:27] luvwinnie commented on #12556
I'm actually trying to create 2 queues, one for training another one for testing after the test_timing for the file.

How does the string_input_producer really work when two files is given?
What I'm trying to do is :
[Queue 1(Train)  from csv file 1 ]   ,    [Queue 2(Test)   from csv file 2]
using these two Queue for training and testing within a program.

I tried your code with below
<pre>
`'''
p

[2017-08-25 06:35] luvwinnie commented on #12556
@kinsumliu btw the code just work fine with and without `tf.train.start_queue_runners(sess=sess)`

3 workers run and events.out.tfevents.XXXXXX is created in same directory.....

[2017-08-25 06:40] kinsumliu commented on #12556
`tf.one_hot` return a tensor which is not a scalar.  `tf.summary.tensor_summary` this should work

[2017-08-25 07:02] kinsumliu commented on #12556
For the training and testing, you can run your program twice. First time training + checkpoint the model. Second time load up the checkpoint and do the inference on the testing data to get accuracy.

I believe the issues you faced is not related to the bug inside tensorflow. So stackoverflow should be a better place for your problem.

[2017-08-25 07:07] luvwinnie commented on #12556
However with the graph I build for training.

<pre>with tf.device(tf.train.replica_device_setter(worker_device="/job:worker/task:%d" %FLAGS.task_index,cluster=cluster)):
        is_chief = (FLAGS.task_index == 0)
        global_step = tf.get_variable('global_step',[],initializer=tf.constant_initializer(0),dtype=tf.int32)
        x = tf.placeholder(tf.float32,shape=[None,num_input],name="mfcc_input

[2017-08-25 07:07] berryjwang opened #12587 "[building tensorflow with bazel]Error:Constants.h:429:2: error: #error The preprocessor symbol 'Success' is defined"
- Environment information:

Ubuntu version: 14.04
bazel version: 0.5.1
tensorflow version:  r 1.1
cuda version: 8.0.44
cudnn version: 5.1.5
command: bazel build tensorflow/examples/PreProcess_modify

- Describe the problem:

tensorflow/examples/PreProcess_modify/BUILD:10:1: C++ compilation of rule '//tensorflow/examples/PreProcess_modify:chartest' failed: gcc failed: error executing command /usr/b

[2017-08-25 07:31] Vonisoa opened #12588 "Error with tf.losses.sparse_softmax_cross_entropy: weights?"
I use the function tf.losses.sparse_softmax_cross_entropy for my unbalanced dataset but i get error when using it. My question is if my labels in one batch have shape (8,4096) , my prediction or logits have shape (8,4096,14) and I have 14 classes. What should the shape of my weights?

Another question: should i have one specific weight for each class or a specific weight for each sample?
Thanks

[2017-08-25 08:13] GPhilo commented on #7705
I happened to avoid the problem because I was lucky enough to read [the 1.3.0 changelog](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md#release-130) where they mention that binaries are now build against cuDNN 6.0. Time to update the install guides (there's already people on StackOverflow scratching their heads)

[2017-08-25 08:18] #12418 closed

[2017-08-25 08:23] jiqiujia commented on #3628
same problem encountered...

[2017-08-25 08:29] Kevinpsk commented on #8898
That's strange. There should not be this problem again. Have you tried
create a virtual environment using conda and reinstall python and
tensorflow? Normally this will sort it out.

On 25 August 2017 at 06:03, VladimirBelov92 <notifications@github.com>
wrote:

[2017-08-25 08:47] AMairesse commented on #7951
@bhack I haven't been able to make it work with more than one parameter in return from the function given to py_func. I'm using python3 and didn't tried with python2.
Is your problem similar ?

[2017-08-25 08:50] srowen commented on #12498
The HTTPS cert is expired. Chrome says:

This server could not prove that it is tensorflow.org; its security certificate expired 57 days ago. This may be caused by a misconfiguration or an attacker intercepting your connection. Your computer's clock is currently set to Friday, August 25, 2017. Does that look right? If not, you should correct your system's clock and then refresh this page.

[2017-08-25 08:53] albertz commented on #6620
@dchaws: When you create the variable, use the static size `params_size` like @alquraishi describes. That's all.

[2017-08-25 08:53] bhack commented on #7951
@AMairesse The first problem was solved with https://github.com/tensorflow/tensorflow/commit/2139e7d8b10764f2245f34548f6fbfc25d29bff8

[2017-08-25 08:55] mlrobsmt commented on #8652
any ideas? I only get when I LOAD a model on Py27 Keras 2.0.4 TF 1.1

[2017-08-25 09:01] luvwinnie commented on #12556
I build up my code step by step. While the code to the `xent` calculation it still works fine.
But when I added the definition of the train_op as below:
<pre>
grad_op = tf.train.AdamOptimizer(learning_rate=learning_rate)
rep_op = tf.train.SyncReplicasOptimizer(grad_op,
                                                replicas_to_aggregate=3,
                                                total_num

[2017-08-25 09:17] feiyin01 commented on #12498
My system clock setting is right as I double-confirmed.

I thought there should be a warning dialogue for me but there isn't, it simply says the secure connection cannot be established :(

And, in my Safari the problem is valid for both www.tensorflow.org and tensorflow.org...

[2017-08-25 09:21] NatLun091238 commented on #10370
I got the same problem with import tensorflow.contrib.keras as K resulting in identical error message as being reported here.
System and related details:
Linux Mint 18.2; TF r1.2; Python 3.6

And indeed changing the decimal separator made everything work as it supposed.
1/ edit locale file located /usr/share/i18n/locales/
[code]
2/ sudo locale-gen
3/ reboot computer and check:
`locale -k LC_NUMERI

[2017-08-25 09:46] jiqiujia opened #12589 "ValueError: graph_def is invalid at node u'a/Assign': Input tensor 'a:0' Cannot convert a tensor of type string to an input of type string_ref."
I want to change the input directory for validation using `input_map` in tf.train.import_meta_graph. Here is the demo code

For training:
[code]
For testing:
[code]
However, I encounter the following errors:

I use tensorflow 1.2. It seems to be a bug.

[2017-08-25 09:49] eaigner opened #12590 "Cannot build TF 1.3/1.2 for iOS"
I've built TF 1.1 before without problems as follows

    git clone --branch r1.1 https://github.com/tensorflow/tensorflow.git
    ./<makefile_dir>/build_all_ios.sh

If I change the branch to `r1.3` it stops with a segmentation fault. Also seems to happen with `r1.2`.

[code]

System MacOS Sierra 10.12.6 (16G29)

It also seems to fail with other error messages in different compile runs (on differe

[2017-08-25 09:53] dlaj commented on #12291
Updating to the new NVidia driver (384.59) resolves the issue.

If you have the same problem, do not use the driver included in the Cuda8 package.

[2017-08-25 09:53] #12291 closed

[2017-08-25 10:03] luckynote opened #12591 "Error: tensorflow.python.framework.errors_impl.InternalError: Unable to get element from the feed as bytes."
I have met this error:

  File "demo_pb.py", line 25, in <module>
    result_dict = news_demo.newsAggreg({image_path})
  File "/home/rszj/liutao/news_aggreg/news_demo_pb.py", line 32, in newsAggreg
    predict = news_predict.run(images_path)
  File "/home/rszj/liutao/news_aggreg/news_predict_pb.py", line 201, in run
    predict = sess.run(pred, feed_dict={x: imgs, is_train:False})
  File "/home/rs

[2017-08-25 10:03] sj6077 opened #12592 "Tensorflow internally creates operators"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, I made custom distributed inception code
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 14.04
TensorFlow installed from (source or binary): Unmodified source with RDMA Verbs enabled
TensorFlow version (use command below): 1.3.0-rc1
Python version: 2.7.12
Bazel v

[2017-08-25 10:04] rsd-raul opened #12593 "Android Demo - Bug - Exception in TF Detect activity"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
At build.gradle (Module: android)
def nativeBuildSystem = 'none'
At CameraActivity.java:
useCamera2API = true;
Suggested by @andrewharp at #12431
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows version: 10 Pro
Android version: 6.0.1
Demo version: commi

[2017-08-25 11:19] malsulaimi commented on #12569
I did not know that this would return a AttenionWrapperState , I though that this would return a normal initial state  , and thus I was using it as the below :
[code]

[2017-08-25 11:32] keithhans commented on #12123
I don't have problem with the way @lissahyacinth provided.

Please take a look at this error:
Stderr: patch: **** malformed patch at line 88: #"//conditions:default": ["-DOPENSSL_NO_ASM"],
Looks like your patch file is not correct.

[2017-08-25 11:40] githubharald commented on #12215
Hi Victor, thanks for your answer.

The warning always appears on those samples on which the condition (see first post) holds. Even after training.
In the test program, the input is a random input, but even when repeating the code for multiple random inputs, the warning always occurs.
The only way to toggle the warning is by changing the target labelling ... so it appears to me that it has somethi

[2017-08-25 13:00] micklexqg opened #12595 "[Slim]No cross validation in inception?"
I run the code for fine tune inception in slim. but I find that only train split is used when training. so is there no  cross validation in inception?  how should I stop training(just at the max_steps)? what's validation split for? (evaluate the trained model?)

[2017-08-25 13:00] dguerra opened #12596 "Feature request: QueueRunner for C++ API that initializes from queues and ops and start with ClientSession"
Right now there is an implementation of QueueRunner in "tensorflow/cc/training/queue_runner.h". It's created from a QueueRunnerDef that is initialized with string names rather than queues and ops objects. QueueRunner's current implementation is also started by using the "Session" low level class rather than the newer "ClientSession" class.

[2017-08-25 13:06] qiushi223 opened #12597 "TF-Slim can't exclude variables when import data from checkpoint files"
I exclude variables that don't exist in the checkpoint file by using the he func

          variables_to_restore = slim.get_variables_to_restore(exclude=exclude_set)

these variables come from slim.train.MomentumOptimizer() which include  '../momentum:0' in name.But the program seems to still try to find them in the checkpoint.This really confusing me. Anyone can help me?

The link of stackoverflo

[2017-08-25 13:14] pesser opened #12598 "data dependent variable initialization in tf 1.3.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ArchLinux
- **TensorFlow installed from (source or binary)**: `pip install tensorflow-gpu`
- **TensorFlow version (use command below)**: `v1.3.0-rc2-20-g0787eee 1.3.0`
- **Python version**: `Python 3.6.2`
- *

[2017-08-25 13:45] kevinw commented on #11784
false alarm: looks like they brought back the 6.0 link. I had emailed them about it.

[2017-08-25 13:51] aritrabasu104 commented on #8623
Getting the same error as @Geekly.. When I try
`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.3.0-cp35-cp35m-win_amd64.whl`
however, when i try
` pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.3.0-**cp36-cp36m**-win_amd64.whl`

everything excep tensorflow gets installed succes

[2017-08-25 13:53] basitjawaidgranjur commented on #12362
@reedwm @gunan cocos2d-x is a cross-platform gaming engine based on C++, for Android we have to build cocos2d-x library source and c++ classes with NDK, and to add prebuilt libraries we simply put in a directory and let android.mk know about it.
the problem arises when we try to build app with NDK it successfully able to detect the prebuilt library, and compile classes (contains tensor.h), but thr

[2017-08-25 14:00] tfboyd commented on #11784
https://developer.nvidia.com/rdp/cudnn-download      has cuDNN 6 it is not on the archive page. kevinw already said this above but adding the link so people are not on the archive page wondering where it is.

[2017-08-25 14:05] atishsawant commented on #6055
Fixed the issue, I had installed the cuDNN 7.0 from nVidia.

[2017-08-25 14:08] andrewharp commented on #12362
Sorry, but we can't support Android.mk based builds of TF. Bazel, Makefile, and to some extent cmake are the supported options for Android. You may be able to find the assistance you need over at StackOverflow.

That said, might be worth checking out #4680 to see if any of the workarounds apply at all.

[2017-08-25 14:08] #12362 closed

[2017-08-25 15:42] mariellebp opened #12599 "accept"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-25 15:42] #12585 closed

[2017-08-25 16:06] av8ramit commented on #7705
We are in the process of updating the website right now. Thank you for your patience and sorry for any inconvenience.

[2017-08-25 16:07] RedTong commented on #7552
Dear all, it seems that some nightly builds can not be accessed, e.g., r1.1.

https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-linux-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-1.1.0-cp27-none-linux_x86_64.whl

Are there any special reasons?

[2017-08-25 16:18] rightaditya opened #12601 "Produce mask when padding batches"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.04
- **TensorFlow installed from (source or binary)**: binary via pip
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: 3.5.3
- **Bazel version (if comp

[2017-08-25 16:25] martin-gorner commented on #11674
I confirm this is annoying.
The previous contract was clear. Whatever the serving_input_fn function returns as "features" is the same thing that model"fn will accept as "features". Now there is this additional constraint for the features to be a dictionary. This is unexpected, undocumented and will make a lot of people stumble.

It is also unnecessary. Yes, you need to name your things properly in

[2017-08-25 16:32] RenatoUtsch commented on #12266
@gunan This seems to be a bug with newer Bazel releases. My non-tensorflow-related Bazel project started throwing these warnings since I updated Bazel.

[2017-08-25 16:37] RenatoUtsch commented on #12266
@gunan This seems to be a bug with newer Bazel releases. I started having this with all my C++ projects that use Bazel.

It looks like it adds these two flags when compiling with clang (I'm on Linux), even though it shouldn't.

[2017-08-25 16:44] nazywamsiepawel commented on #11085
+1

[2017-08-25 16:53] RenatoUtsch commented on #12123
This seems to be a bug with newer Bazel releases. I started having this with all my C++ projects that use Bazel. They all show these two warnings when compiling C++ files.

It looks like it adds these two flags when compiling with clang (I'm on Linux), even though it shouldn't.

@gunan marking you as you pointed these warnings on the duplicate bug.

[2017-08-25 17:00] 3rd3 commented on #12420
It seems the problem was that I defined several losses within the loop body of a while loop and added them to `tf.GraphKeys.LOSSES` collection. I did not realize at that point that `tf.add_to_collection` is not a dynamic graph operation. It is not even a graph operation after all.

[2017-08-25 17:02] alanhdu commented on #12500
I've always run `tfdbg` with a maximized window, but even then this doesn't happen all the time.

Changing the screen width doesn't seem to do anything (in general, `tfdbg` doesn't really resize when I resize my window).

[2017-08-25 17:08] #11856 closed

[2017-08-25 17:24] carlthome commented on #12420
Aha! Yeah, changing the graph during execution should be avoided, I believe. Good thing you solved it. :+1:

Don't forget to close the issue.

[2017-08-25 17:25] gunan commented on #8623
You should just try running
[code]
Pip will pick the correct version for you based on your OS, python version, etc.

[2017-08-25 17:25] #12599 closed

[2017-08-25 17:26] andrewharp commented on #12593
I suspect you're missing the `#define TF_CALL_bool(m)  m(bool)` addition from https://github.com/tensorflow/tensorflow/commit/53aabd5cb0ffcc1fd33cbd00eb468dd8d8353df2. Are you using an older version of the TF native libs?

[2017-08-25 17:44] gibiansky commented on #4638
Is there any plan to implement this in TensorFlow?

[2017-08-25 17:51] mrry commented on #7552
@RedTong I suspect we don't make nightly builds for (old) release branches. You should be able to download the released binary from PIP:

https://pypi.python.org/pypi/tensorflow/1.1.0

[2017-08-25 17:57] gunan commented on #7552
Yes, nightly builds are only built from master, thus they are closest to the latest release only.

[2017-08-25 18:00] andrewharp commented on #12431
Unfortunately the detector requires a newer version of the native libs than the current latest published ones in the TF AAR on bintray. This is due to a native code change in https://github.com/tensorflow/tensorflow/commit/53aabd5cb0ffcc1fd33cbd00eb468dd8d8353df2 which added the SSD detector model.

You can work around this most easily by downloading the nightly build of the tensorflow.aar [here](

[2017-08-25 18:03] zenna opened #12604 "`export_meta_graph` fails if graph has no variables"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-25 18:07] andydavis1 commented on #12597
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-25 18:07] #12597 closed

[2017-08-25 18:11] andydavis1 commented on #12595
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-25 18:11] #12595 closed

[2017-08-25 18:13] andydavis1 commented on #12591
Please fill out the template, and send a reproducible test case.

[2017-08-25 18:14] andydavis1 commented on #12541
Yes, please move commentary to #10685, I'll close this out.

[2017-08-25 18:14] #12541 closed

[2017-08-25 18:17] #12525 closed

[2017-08-25 18:17] #10838 closed

[2017-08-25 18:17] #12557 closed

[2017-08-25 18:26] andrewharp commented on #12431
@ArtsiomCh What is the cmake error you're experiencing?

[2017-08-25 18:44] kinsumliu commented on #12556
There are a few wrong things in your code, especially for your data feeding mechanism. So your first session run will fetch the data but `xent` cannot be computed so `tf.summary.scalar("x-entropy",xent)` causes problem.

Check out my code below. It should work. Note that I use `train_op = tf.train.GradientDescentOptimizer(1.0).minimize(xent, global_step=global_step)` because I am doing it on a sin

[2017-08-25 18:47] mrry commented on #12601
One possible workaround is to build the mask yourself using a `map()`:

[code]

[2017-08-25 18:52] yaroslavvb commented on #12541
IMHO it would be great to remove the need for instruction-specific builds. It seems technically hard to implement and possibly not priority for Google since it has small number of CPU configurations and an easy way to build separate binaries for them. MKL integration introduces dispatch for ops with MKL implementations (ie, subset of 500+ ops in TensorFlow), hopefully that covers all ops that matt

[2017-08-25 19:06] malsulaimi commented on #12569
Thats great . Thanks

[2017-08-25 19:31] andydavis1 commented on #12587
@benoitsteiner @rmlarsen Can either of you comment this? Thanks...

[2017-08-25 19:32] alextp commented on #12589
Which line is failing? Is it the last one, where you call session.run with a feed_dict? Is `newa` supposed to be a variable? You cannot feed variables in tensorflow.

[2017-08-25 19:35] dimaxano opened #12605 "Impossible to change variable inside checkpoint"
I have a checkpoint file and I want to change (increase) shapes of some Variables from this checkpoint.
It seems to be impossible using tf.assign
Tried to use `tf.assign()`:

    `for var in tf.global_variables():
         if var.name == "22-convolutional/biases:0":
             assign = tf.assign(var, a, validate_shape=False)
             sess.run(assign)`

And then, when I am trying to execute

[2017-08-25 19:36] andydavis1 commented on #12583
@jhseu please close this once #12584 and #12558 are merged...

[2017-08-25 19:40] andydavis1 commented on #12579
@jart Have you seen this build issue?

[2017-08-25 19:43] andydavis1 commented on #12523
@petewarden Can you comment on this?

[2017-08-25 19:46] andydavis1 commented on #12575
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-25 19:46] #12575 closed

[2017-08-25 19:49] andydavis1 commented on #12519
@skye Skye can you close this out once the PR is merged? Thanks..

[2017-08-25 19:51] andydavis1 commented on #12501
@asimshankar Can you take a look of assign to another person? Thanks...

[2017-08-25 19:52] andydavis1 commented on #12605
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-25 19:52] #12605 closed

[2017-08-25 19:56] dimaxano commented on #12605
I did it [here](https://stackoverflow.com/questions/45885504/cannot-assign-values-with-different-shapes-in-tensorflow)

[2017-08-25 20:00] tanmayb123 commented on #12474
I'm seeing a bit of a different result. With CUDA 8 & cuDNN 6, training a simple but deep Keras model took me 225 seconds, but with CUDA 9 & cuDNN 7, it took 243 seconds (on a P100).

[2017-08-25 20:02] andydavis1 commented on #12605
I see a response on your stackoverflow question.

[2017-08-25 21:47] #12420 closed

[2017-08-25 22:26] tfboyd commented on #12474
My test was CUDA 8 + cuDNN 7 and CUDA 8 + cuDNN 6.  For CUDA 9RC + cuDNN 7, testing not apples to apples as I was using a slightly different versions of TF than I did for CUDA 8 + cuDNN 7 but I think likely perform the same, compared to CUDA 8 + cuDNN 7 Resnet-50 was about the same and I saw a regression with VGG16  at 8xP100 SMX running replicated nccl.  With 1 GPU I saw some differences but not

[2017-08-25 23:01] luvwinnie commented on #12556
@kinsumliu Thanks you for taking time to solve the problem! It works with your code in single local PC! It seems like it is the problem with placeholder and feeding data. I will try to ask in [StackOverflow](https://stackoverflow.com/) and try not using the feed_dict. Thank you for help!

Since it is not a bug of tensorflow , closing this issue.

[2017-08-25 23:01] #12556 closed

[2017-08-25 23:46] facaiy commented on #12123
@quaeler Could you paste your the version of bazel which works well on mac #12266? As reported by @RenatoUtsch on bazelbuild/bazel#3622 , the warning seems to be brought by new version of bazel.

[2017-08-25 23:49] kinsumliu commented on #12556
@luvwinnie Good to know. If you have further problems related to this code, you can @ my username (LKS) in stackoverflow.

[2017-08-26 00:19] Timeroot opened #12608 "gather_nd bounds checking not working"
When using `gather_nd`, sometimes out-of-bounds `indices` lead to errors (bounds checking -- the expected behavior) and sometimes it seems to just read zeros. I expect it reading just other memory from the GPU, but I've never observed anything _other_ than zeros so I'm not sure. When I run on the CPU the bounds seem to be appropriately checked i.e. I get the errors desired. Here's some example cod

[2017-08-26 01:03] quaeler commented on #12123
Yep:
[code]

[2017-08-26 01:19] RenatoUtsch commented on #12123
Interesting, Bazel does not add these flags on my Mac OS, while it adds them to the exact same rule in Linux. Maybe this is related to something else, and not only Bazel's version.

[2017-08-26 01:38] RenatoUtsch commented on #12123
Okay, upon digging a but more this does not seem to be related to bazel's version, but still seems to be a bazel bug. Follow bazelbuild/bazel#3622 if interested

[2017-08-26 02:07] dblandan commented on #12474
Is there a patch for CUDA 8 + cuDNN 7 as well?  I was planning on holding off on 9 for a while, but I'm very interested in cuDNN 7 support.

[2017-08-26 02:18] terrylewis60 commented on #12474
Stop sending shit all of you junkets I'm not interested

On Aug 25, 2017 7:09 PM, "dblandan" <notifications@github.com> wrote:

[2017-08-26 02:18] DeckerCHAN opened #12610 "tf.estimator.inputs.numpy_input_fn does not accept dict as labels."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win10 x64
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: r1.3
- **Python version**:  3.5 amd 64
- **Bazel version (if compiling from source)**: Used binary
- **CUDA/cuDNN version**: CUDA 8.0 + CuDNN 6.0
- **GPU model and memory**:  GeForce GTX 1070 8.

[2017-08-26 02:28] terrylewis60 commented on #12610
Stop sending me shit cracker the shit all y'all send me is shit and not
what I request cracker all you do is fill up my memory now stop patty
packerwood and forward the message to the other crackers

On Aug 25, 2017 7:23 PM, "Derek.CHAN" <notifications@github.com> wrote:

[2017-08-26 02:39] micklexqg opened #12611 "tf.gfile.FastGFile can't read french path"
tf.gfile.FastGFile(r'F:\train\Rubus_pedatifolius_Genév\4000.jpg', 'rb').read() failed,
but, tf.gfile.FastGFile(r'C:\Users\d\Desktop\4000.jpg', 'rb').read() successed!
so, is it  a bug or  tf.gfile.FastGFile can't read french path?

[2017-08-26 02:51] liuny05 commented on #11139
Solved my problem. Note that the cudnn version depends on you tensorflow version. In tensorflow1.3.0 on windows the version of cudnn should be v6.0 or v6.1.

[2017-08-26 03:10] tfboyd commented on #12474
@terrylewis60 It looks like you are subscribed to the issue.  If you unsubscribe you will not get notifications.  I would also greatly appreciate it if you removed the profanity and childish name calling.  You are free to express yourself, although you are likely outside the community guidelines.  It just seems rather silly to complain about something you subscribed to.  Thank you.

[2017-08-26 03:10] DucVuMinh commented on #329
@while2  can you explain how to share the same name between two scalars. And can you give me an example?

[2017-08-26 03:22] FKNoble commented on #12524
Replicated this with Bazel 0.5.3 on Windows 10. Couldn't get 0.5.4 to work, otherwise I'd try with that too.

[2017-08-26 03:29] justinshapiro commented on #12022
So I updated to 1.3. Do you mean populate `keys_name`? I do not see any option for `keys_column`, but if I populate `keys_name`, I get the error:

[code]

[2017-08-26 04:22] jiqiujia commented on #12589
It fails on line
[code]
Here gives you the whole traceback
T

[2017-08-26 04:28] manashmndl commented on #9469
@chriswbarrett  Thanks so much!
[code]

Working!

[2017-08-26 04:40] yongtang commented on #12611
PR #11562 fixed the issue of non-ASCII character in Windows path. That PR was merged in several weeks ago. Maybe it is not part of your local TensorFlow installment yet?

[2017-08-26 04:41] yongtang commented on #9481
I think this issue is fixed through PR #11562.

[2017-08-26 04:58] eaplatanios opened #12612 "Eager execution with string tensors."
@alextp String tensors seem to cause lots of errors for me, when using the eager execution API, that do not occur when using normal ops and executing them using a session.

The way I'm creating string tensors is by allocating a `TF_Tensor` with the right data type, shape, and size (where I use `TF_StringEncodedSize` to get the byte sizes of each element). Then, I encode the strings using `TF_Strin

[2017-08-26 04:58] justinshapiro commented on #12022
It looks like upgrading to TensorFlow 1.3 fixed the issue.

[2017-08-26 05:00] flavioschuindt commented on #12099
Yes, I ran this command. The `whl` package was properly built, but when tried to run it in vagrant I received the error that I mentioned previously.

[2017-08-26 05:06] tangyanlin commented on #3628
I have sovled the problem, just remove some node used when training but not used when inference.

It worked for me!

[2017-08-26 05:14] vinayakumarr opened #12613 "tensorflow installation error"
I have installed tensorflow and keras. I have used virtualenviroment given in tensorflow website. It is showing the below error when I try to import keras with tensorflow as backend

 CPU_COUNT = psutil.cpu_count()
AttributeError: 'module' object has no attribute 'cpu_count'

tensorflow version = Version: 1.3.0

keras = Version: 2.0.7

dask = Version: 0.15.0

pandas = Version: 0.20.3

For detailed

[2017-08-26 06:11] eaplatanios commented on #12612
I also got the following error (again while using string tensors):

[code]

And at some point I also got a "check failed: IsAligned()" from `tensor.cc`. All these errors only occurred while I was using string tensors.

[2017-08-26 06:19] micklexqg commented on #12611
@yongtang , there are many other normal paths(non french) under the directory and they are OK. but only those french paths failed.

[2017-08-26 06:46] theflofly commented on #12519
@andydavis1 I'll do it if necessary.

[2017-08-26 06:51] facaiy commented on #12610
Hi, @DeckerCHAN . [numpy_input_fn](https://www.tensorflow.org/api_docs/python/tf/estimator/inputs/numpy_input_fn) API: `y: numpy array object. None if absent.`. It confirms that `y` cannot be a dictionary.

So if I understand correctly, the issue is a feature request, right? I can work on it, however, I don't know whether tensorflower approve it.

By the way, perhaps `pandas_input_fn` needs handle

[2017-08-26 07:08] Timeroot commented on #12613
First try running
`sudo pip install --upgrade psutil`
to make sure you have the latest version of psutil, as `cpu_count` was added in version 2.0. Beyond that, this issue seems to be a duplicate of https://github.com/tensorflow/tensorflow/issues/6513 .

[2017-08-26 07:15] vinayakumarr commented on #12613
This worked..

[2017-08-26 07:15] #12613 closed

[2017-08-26 07:41] facaiy commented on #12568
Thanks, @jcomfort4 . It seems that the method is forget to expose.

[2017-08-26 07:59] AMairesse commented on #7951
@bhack Thanks, will try that soon, I was using a workaround which I'm not proud of :-)
The fix in the documentation is one month old and prior to v1.3 release, the tensorflow.org website is not updated when there is a new release ? [Official doc does not have the fix](https://www.tensorflow.org/programmers_guide/datasets#applying_arbitrary_python_logic_with_tfpy_func)

[2017-08-26 08:02] facaiy commented on #12508
Hi, @mvsusp . Could you give a minimal reproducible test case?  Something seems wrong with your `serving_input_fn`.

[2017-08-26 08:32] DeckerCHAN commented on #12610
@facaiy Thank you for the reply!

Yes, this is about a feature. I am working on a model seems like:
![this](https://i.stack.imgur.com/gxxo0.png)

In fact, the model is more complex than that due to the model is used to simulate game operation. Classification is responsible for decide whether it is good time for action. Then the regression will give the details about the action. It contains a combi

[2017-08-26 08:38] ppwwyyxx commented on #12608
Related: #12405

[2017-08-26 08:43] domschl commented on #12474
Any updates on this? While the patch works with the specific tf-commit (also with Python3), the tf version says __version__ is 1.2.1-rc1, so rather old (that version was incompatible with current bazel 0.5.3, so bazel needs to be downgraded in order to build the tf-patch version.) The cudnn 7 changes so far are not included in HEAD. Any possibility for a branch that supports the most recent releas

[2017-08-26 08:47] RedTong commented on #7552
Thanks， I got it.

[2017-08-26 08:52] facaiy commented on #12610
Sounds reasonable! I'll open a PR next week. However, you have to wait for next release even though the PR is accepted.

[2017-08-26 09:01] bhack commented on #7951
@AMairesse I suggest you to notify this in https://github.com/tensorflow/tensorflow/issues/11786

[2017-08-26 09:31] facaiy commented on #12610
@DeckerCHAN Don't close the issue until it's resolved or rejected by tensorflower. So, reopen it please.

[2017-08-26 11:11] njflabs opened #12618 "Android Demo - SpeechActivity - Fatal Exception"
Samsung Galaxy J1 - Android ver. 5.1.1

08-26 11:56:55.226: I/TensorFlowInferenceInterface(14094): Model load took 41ms, TensorFlow version: 1.3.0
08-26 11:56:55.226: I/TensorFlowInferenceInterface(14094): Successfully loaded model from 'file:///android_asset/conv_actions_frozen.pb'
08-26 11:56:55.231: D/AndroidRuntime(14094): Shutting down VM
08-26 11:56:55.231: E/AndroidRuntime(14094): **FATAL E

[2017-08-26 11:16] andrewrech commented on #11085
@BilboSwagginz Yes, but I would also love Nvidia eGPU support, but I think I am a small use case here.

[2017-08-26 11:38] fffupeng opened #12619 "batch normalization"
These days i have meet some problem about BN layers, code is here, i want run my net on mnist
dataset, it worked when i am training, how when i verify on valiation data or test date,  when i change the state 'is_training'. what is wrong when i am verifing and how can i save mean and val in training state?

``import tensorflow as tf

from tensorflow.examples.tutorials.mnist import input_data
mnist

[2017-08-26 11:45] collawolley commented on #8828
@gunan @cancan101 @perone HI, I upgraded to tensorflow1.3 and now tensorflow couldn't find my GPU. I reckon it's due to CuDNN5.1. is this assumption true?
How can I upgrade CUDNN5 to CuDNN6 or 7? is it gonna work fine for tensorflow r1.3?
I was only able to download deb file for CuDNN6 and I'm wondering if I have to use the DEB or Pow DEB file. Also, can anybody guide in how to do this upgrade fro

[2017-08-26 12:05] yatendragoel commented on #11280
I am also facing the same issue:

System information:

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10

TensorFlow installed from (source or binary):
`pip3 install tensorflow`

TensorFlow version (use command below):
`1.3.0`

Python version:
`3.5.2`

Exact command to reproduce:
`

[2017-08-26 13:23] tfboyd commented on #12474
The commit point is Aug 1st, which is partially post 1.3. The patch works
with the 1.3 branch/tag as well.  The PRs are in progress from NVIDIA.
The eigen PR for CUDA 9RC is in review by the external eigen team.

On Aug 26, 2017 1:45 AM, "Dominik Schlösser" <notifications@github.com>
wrote:

[2017-08-26 13:26] tfboyd commented on #12474
Bazel 5.3 had issues which as silly as it sounds were beyond our control
and immediate knowledge.  Our build servers do not run latest bazel.  I
also like to stay a step behind.  I think I was the first to hit the issue
having accidentally upgraded 1 hour after the release.  I wasted half a
day, which meant making up that time into the night.  I understand the
frustration.

On Aug 26, 2017 6:22 AM

[2017-08-26 13:41] tfboyd commented on #8828
@collawolley CUDA and cuDNN are installs that are fairly simple compared to the driver.  The way I do my installed from scratch are as follows and I have a document [here](https://github.com/tfboyd/tf-tools/blob/master/install/aws_ubuntu16_04.md).  The versions of the tools change but the steps are the same.

**GPU Drivers**
I install these with apt-get nvidia-xxx because it is just easier and the

[2017-08-26 13:48] tfboyd commented on #8828
Dilated Convolutions support is in progress.  The link below is for me:
b/38417408

Add dilation rate support in Conv2D, Conv3D, and their grad operators.  Here are some of the early numbers for the change.  My guess is this is on a local Titan but possibly something else.  I have a goal to get share information faster and that means data dumps with minimal explanation.  As far as timeline the cha

[2017-08-26 14:08] domschl commented on #12474
The patch almost works with r1.3:  it fails on tensorflow/workspace.bzl:
`error: patch failed: tensorflow/workspace.bzl:664`
`error: tensorflow/workspace.bzl: patch does not apply`
[cmake anyone?  ;-) ]

[2017-08-26 14:13] mikkokotila commented on #8573
Following these instructions exactly, yields the same problem i.e. there is no file by the name of build_pip_package

[2017-08-26 14:21] tfboyd commented on #12474
I tested the patch on the 1.3 TAG v1.3.0-rc2 because I was doing
performance tests with the various versions.  With the env from the
original post.  The 1.3 final is not that different, you can look at the
log but I am fairly sure it was a few small cherry picks.  I am a bit
surprised it did not apply.  You can always apply to the TAG and then
merge.  If the merging does not get too messy you coul

[2017-08-26 14:36] mvsusp commented on #12508
Hi, @facaiy. Here is a minimal reproducible test case:

[code]

The error is:
[code]

[2017-08-26 15:18] thefill commented on #37
@vincentvanhoucke it's not even about node.js in the title. Talking about "deeplearn.js" and "Tensorflow API for Javascript" is like talking about apples & pears.

First one is a library that only mirrors to some extent "the style of TensorFlow API" and operates purely in the browser and the other would be a direct API to whole Tensorflow goodness. deeplearn.js is not even remotely close be called

[2017-08-26 15:41] eaplatanios commented on #12612
I think I've traced it down to the eager API not using the `TF_TensorToTensor` function to convert from the `TF_Tensor` representation for string tensors, to that used internally. I guess my question is, why are the two formats different? And, if I want to avoid the copying done by `TF_TensorToTensor`, what is the underlying format being used so I replicate it?

In either case, not using `TF_Tenso

[2017-08-26 16:14] bhack commented on #8787
Will be also an interoperability also with `tf.contrib.data.Dataset`?

[2017-08-26 16:18] domschl commented on #12474
For now I patched the patch so that it works with release r1.3:
[0002-TF-1.3-CUDA-9.0-and-cuDNN-7.0-support.patch.txt](https://github.com/tensorflow/tensorflow/files/1253794/0002-TF-1.3-CUDA-9.0-and-cuDNN-7.0-support.patch.txt)

(note: the attached patch-file needs to be renamed, the extension `.txt` needs to be removed.)

This patch will only work with r1.3.  (workspace.bzl changes almost on a da

[2017-08-26 16:33] eaplatanios commented on #12612
In particular I found out that `tensorflow::Tensor` uses [this function](https://github.com/tensorflow/tensorflow/blob/752dcb61ef7a8fd6555909dc37c1f2a2e5792227/tensorflow/core/platform/tensor_coding.cc#L30) for encoding string tensors, whereas the C API `TF_StringEncode` does not use the same format. And `TFE_NewTensorHandle` does not convert the representation but rather shares the buffer and re-

[2017-08-26 16:39] tfboyd commented on #12474
Big thank you.

On Aug 26, 2017 9:20 AM, "Dominik Schlösser" <notifications@github.com>
wrote:

[2017-08-26 16:49] fchollet commented on #8787
Yes, you can use the Dataset API to train Keras models. The standard
tf.keras workflow would likely involve managing data via the Dataset API,
building your model via the Keras API, and training it via the Estimator
API.

On 26 August 2017 at 09:17, bhack <notifications@github.com> wrote:

[2017-08-26 17:18] mrry commented on #12611
To help you, we'll need the information that is requested in the issue template.

In particular, are you using the released build of TensorFlow 1.3 or a more recent version (e.g. a nightly build)?

[2017-08-26 19:38] vivek531 opened #12621 "Calculating marginals in CRF"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-26 21:21] gissemari commented on #12252
@jmlipman you might want to use another loss function like mean_squared_error for the optimization. Apart from that you can use mean_absolute_error to measure the "accuracy".

[2017-08-26 21:46] ngetahun commented on #12515
Hi! I want to make this my first contribution to tensorflow. Has anyone started working on this?

[2017-08-26 22:28] facaiy commented on #12508
Thanks for your test case, @mvsusp . It's really concise.

 If I understand correctly, [learn.DNNClassifier](https://www.tensorflow.org/versions/r1.2/api_docs/python/tf/contrib/learn/DNNClassifier#export_savedmodel) expects an `InputFnOps`, not `ServingInputReceiver`.  Hence, perhaps you'd better to try build `InputFnOps` by youself or use `tf.contrib.learn.build_parsing_serving_input_fn` for tf.E

[2017-08-26 23:06] mvsusp commented on #12508
@facaiy thanks so much for your explanation. It was very educational!

One final question: is there any documentation that explain which modules are compatible (or not compatible) if others?

Have a nice weekend

[2017-08-26 23:14] ArtsiomCh commented on #12431
@andrewharp  It was not a cmake error. I got a similar error as @rsd-raul above:
`..java.lang.IllegalArgumentException: No OpKernel was registered to support Op 'Switch' with these attrs...`
Will check if your solution helps. Thank you for explanations.

[2017-08-26 23:24] aseemraj commented on #12515
Hey @ngetahun, I just started working on this. I can look for another starter issue if you want to pick this up. Saw your comment after I forked. Let me know. Doing a `grep -rn . -e 'BackProp'` lists some more places other than those mentioned above that we might want to rename from BackProp to Backprop.

[2017-08-26 23:59] facaiy commented on #12508
Unfortunately, I don't know yet. Perhaps API is the most reliable source, except source code itself.

Thanks, happy weekend, @mvsusp .

[2017-08-27 00:01] mvsusp commented on #12508
@facaiy following your suggestion I got stuck if another issue: I got a ```Classification input must be a single string Tensor; got {'x': <tf.Tensor 'Placeholder:0' shape=(4,) dtype=float32>}```

It seems that I cannot feed a float tensor for classification using tf serving?

My code:
[code]

[2017-08-27 00:05] facaiy commented on #12508
How about using [build_raw_serving_input_receiver_fn](https://www.tensorflow.org/api_docs/python/tf/estimator/export/build_raw_serving_input_receiver_fn) ?

[2017-08-27 00:29] mvsusp commented on #12508
It does not work as well. I will study tf.estimator.export better. Thanks
for your help.
On Sat, Aug 26, 2017 at 17:07 Yan Facai (颜发才) <notifications@github.com>
wrote:

[2017-08-27 00:39] facaiy commented on #12508
I guess that [test_features_labels_mode](https://github.com/tensorflow/tensorflow/blob/752dcb61ef7a8fd6555909dc37c1f2a2e5792227/tensorflow/python/estimator/estimator_test.py#L1660) is what you need. However, I prefer to use tf.Example.

[2017-08-27 01:18] micklexqg commented on #12611
@mrry ，TensorFlow 1.1 + Python3.5 + Windows7

[2017-08-27 01:32] yongtang commented on #12611
@micklexqg I believe TensorFlow 1.1 was unable to process non-ASCII characters in Windows. The French char `é` is non-ASCII so the issue you encountered is expected in 1.1.

PR #11562 fixed the issue of non-ASCII character in Windows several weeks ago though it seems like the PR is not included in TensorFlow 1.3.

I think you may give the nightly build a try or building TensorFlow from the source

[2017-08-27 04:21] DeckerCHAN opened #12628 "tf.layers.conv2d does not accept higher dimension tensor"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win10 x64
- **TensorFlow installed from (source or binary)**: pip install
- **TensorFlow version (use command below)**: r1.3
- **Python version**:  3.5 amd 64
- **Bazel version (if compiling from source)**: Used binary
- **CUDA/cuDNN version**: CUDA 8.0 + CuDNN 6.0
- **GPU model and memory**:  GeForce GTX 1070 8.

[2017-08-27 06:24] khushhallchandra commented on #9549
Restarting the system helped in my case.

[2017-08-27 07:33] ericyue opened #12630 "It seems that tf.gfile.Copy can not support larget hdfs file"
It seems that when using ``tf.gfile.Copy("hdfs://default/some_hdfs_file","./test")``, if `some_hdfs_file` are large file such as 11GB in my case, it will report Exception.  Change to a 3GB file works fine.

I'm using the latest version of tensorflow.

[code]

[2017-08-27 07:46] anglil commented on #8898
I was using tensor2tensor 1.1.9 on top of tensorflow 1.3.0rc1, and then I upgraded tensor2tensor to 1.2.0 because of a new change I wanted to adopt. However tensor2tensor 1.2.0 installation uninstalled the existing tensorflow and upgraded it to 1.3.0 also. Now tensorflow can't run with the error message

while I have libcudnn.so.5.1.10 only. Does upgrading cudnn fix the problem? Or should I create

[2017-08-27 08:37] futurely commented on #11182
https://github.com/tensorflow/tensorflow/commit/bdb2967a298236e24011405907cd19737386934e

[2017-08-27 09:16] keotic commented on #6786
@jiqiujia Should be OK if you are using latest versions of TF

[2017-08-27 11:11] Murali81 commented on #12526
You can find cuDNN v6 here 👍
https://developer.nvidia.com/rdp/cudnn-download
P.S: You need to signup for the download to start.

[2017-08-27 11:34] yanivbl6 commented on #11825
Do you want me to get in on this?
I was thinking of duplicating the waiter table into the Tensor-Buffer, instead of the rendezvous.
So the reaction to RDMA_MESSAGE_BUFFER_RESPONSE would be similar to SendNextItem() but would replace RecvLocalAsync with a lookup in it's local table.
I think a seperate queue for items is also required for this to work.

[2017-08-27 11:57] shamoya commented on #11825
@yanivbl6 @junshi15
Since we are now buffer and the tensor (to be sent), need to think how to tell the device (in which the tensor reside) not to free the it (device->context->Ref() ) or we can already allocate the local buffer and copy it to there already ?

[2017-08-27 13:15] junshi15 commented on #11825
@yanivbl6 Feel free to contribute. You may want to coordinate with @shamoya who has spent a lot time on this. I have been occupied by projects at work and won't have much time on this in the near future.
@shamoya I think the waiter should handle reference counting. The original reference counting was wrong, as you pointed out. We need to fix this in the new patch.

[2017-08-27 13:17] #12591 closed

[2017-08-27 14:56] MattKovtun commented on #10104
I had the same issue, so the problem was that I had folders named not in English, so just changing folder names to English helped.

[2017-08-27 15:05] aritrabasu104 commented on #12526
followed the [official](https://www.tensorflow.org/install/install_windows) instuctions..the pip command shows successfully installed tensorflow gpu... But still getting error when i use import tensorflow as tf.

Using Anaconda

[2017-08-27 15:57] quaeler commented on #12630
Seems incredibly unlikely since it looks like you're on a unix-variant, but just to cover all bases: `"./test"` in this example wouldn't be on a FAT32 volume, would it?

[2017-08-27 16:00] ericyue commented on #12630
@quaeler  it's not fat32 volume.  I can download the file using "hadoop fs -get " but can not using tf.gfile.Copy.  I'm not sure if the limitation is 4GB, I will test it later by using a 4GB file.

[2017-08-27 16:47] quaeler commented on #12630
Could you monitor the memory consumption of the python process when attempting to do this; i might be looking at the wrong thing or looking at the right thing wrongly, because this will sound cuckoo-banana, but the code path looks like it is doing this copy in memory:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/platform/gfile.py#L22
->
https://github.com/tensorflow/tenso

[2017-08-27 18:24] gongbudaizhe opened #12632 "tf.image.resize_images differs from PIL/scipy.misc.imresize"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
YES
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux localhost.localdomain 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
VERSION="7 (Core)"
VERSION_ID="7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUC

[2017-08-27 19:24] daj commented on #11519
Thanks to @easyhangul, that was the problem!  I followed [the instructions to upgrade my TensorFlow](https://www.tensorflow.org/install/install_mac) installation, and then  `import_pb_to_tensorboard.py` ran without errors.

Enhancement suggestion: it would be great if the Python tools could check that the local installation of TensorFlow is at the required minimum version.  The error returned here

[2017-08-27 21:12] shahinkl opened #12635 "Training doesn't start when using batch_normalization,"
I am following the article.
https://www.tensorflow.org/api_docs/python/tf/layers/batch_normalization

When I use the below code, the training doesn't start.

`update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
  with tf.control_dependencies(update_ops):
    train_op = optimizer.minimize(loss)`

Any help will be greatly appreciated.

[2017-08-27 21:19] gocreating commented on #2123
Any progress?

[2017-08-28 00:50] arekaykay commented on #8898
Upgrade cudnn to version 6

[2017-08-28 01:48] micklexqg commented on #12611
@yongtang ， thanks，keep attention.

[2017-08-28 02:02] mrry commented on #12611
As @yongtang mentioned, this has been fixed at HEAD but not included in a release. It will be included in the TF 1.4 release, but you can try a nightly build in the mean time.

[2017-08-28 02:02] #12611 closed

[2017-08-28 02:20] facaiy commented on #12583
Hi, the out-of-bounds bug in `tf.contrib.layers.feature_column` is fixed in #12584, and `tf.feature_columns` is fixed in #12638. Please close this once they are both accepted and merged. Thanks.

[2017-08-28 02:22] xiaoerlaigeid opened #12639 "There are sudden change in validation line"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **Os platform version**: Win10
- **install From conda:
- **tensorflow version** :tensorflow 1.1
- **Python version**: 3.5
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**: 8.0 5.0
- **GPU model and memory**: GTX1080ti

###

[2017-08-28 02:57] ali01 commented on #10640
Community resolved.

[2017-08-28 02:57] #10640 closed

[2017-08-28 02:58] ali01 commented on #11086
A link to the full log would still be helpful.

[2017-08-28 03:05] ali01 commented on #11138
@ispirmustafa are you able to take a look or reassign to someone who can?

[2017-08-28 03:09] ali01 commented on #11398
@poxvoculi, are you able to take a look?

[2017-08-28 03:14] ali01 commented on #11438
I'm unable to reproduce this problem.

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displaye

[2017-08-28 03:16] ali01 commented on #11882
@zheng-xq, are you able to answer @jnjaby's questions above? Thanks!

[2017-08-28 03:23] ali01 commented on #11976
Closing this issue. Feel free to reopen with follow up questions.

[2017-08-28 03:23] #11976 closed

[2017-08-28 03:24] ali01 commented on #11984
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 03:24] #11984 closed

[2017-08-28 03:25] guruprasaad123 commented on #10104
# Am Getting this Error

I have one dir in tf_files/finger

[2017-08-28 03:27] ppwwyyxx commented on #12632
https://github.com/tensorflow/tensorflow/issues/6720#issuecomment-298112231

[2017-08-28 03:28] luchensk commented on #12123
Thanks @RenatoUtsch . I have put my env info on [bazelbuild/bazel#3622](https://github.com/bazelbuild/bazel/issues/3622).

[2017-08-28 03:30] ali01 commented on #12002
Thank you @bdenoun, for reaching out!

@ebrevdo, are you able to take a look?

[2017-08-28 03:31] mvsusp commented on #12508
Hi @facaiy

The issue was solved using tf.estimator.export.build_parsing_serving_input_receiver_fn.

Thank you!

[2017-08-28 03:32] #12508 closed

[2017-08-28 03:34] ali01 commented on #12022
@caisq, are you able to take a look?

[2017-08-28 03:35] ali01 commented on #12040
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-28 03:38] ali01 commented on #12084
Please follow the [new issue template](https://github.com/tensorflow/tensorflow/issues/new). We need more information in order to be able to help.

[2017-08-28 03:39] #12086 closed

[2017-08-28 03:42] ali01 commented on #12134
@suharshs ping?

[2017-08-28 03:43] ali01 commented on #12136
Could you please provide more information about what exactly you are running? What steps should we follow to reproduce?

[2017-08-28 03:46] ali01 commented on #12090
@ispirmustafa , are you able to take a look? Perhaps recommend a move to MonitoredSession?

[2017-08-28 03:48] #12298 closed

[2017-08-28 03:50] #12358 closed

[2017-08-28 03:53] #12384 closed

[2017-08-28 03:55] ali01 commented on #12588
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 03:55] #12588 closed

[2017-08-28 03:55] ali01 commented on #12590
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 03:55] #12590 closed

[2017-08-28 03:59] #12546 closed

[2017-08-28 04:00] ali01 commented on #12530
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:00] #12530 closed

[2017-08-28 04:01] ali01 commented on #12524
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-28 04:03] ali01 commented on #12498
This appears to be fixed now. Please reopen if it is still a problem.

[2017-08-28 04:05] qiushi223 opened #12640 "Is there any class similar to tf.contrib.learn.monitors.ValidationMonitor in TF-Slim for evalution in logging?"
I want to evaluate my model using validation data when training and show the evalution result in logging,which is similar to tf.contrib.learn.monitors.ValidationMonitor,and i can customize my metrics to evaluate.Is there any one in TF-Slim?

[2017-08-28 04:06] ali01 commented on #12498
This is a duplicate of issue [12496](https://github.com/tensorflow/tensorflow/issues/12496). Closing here.

[2017-08-28 04:06] #12498 closed

[2017-08-28 04:08] ali01 commented on #12496
@martinwicke, we should fix this. Could you please reassign appropriately? Thanks!

[2017-08-28 04:11] ali01 commented on #12492
Indeed, using TensorFlow's native control flow operations like tf.while is the best way to enable parallelism.

[2017-08-28 04:11] #12492 closed

[2017-08-28 04:12] ali01 commented on #12486
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-08-28 04:12] ali01 commented on #12472
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-08-28 04:12] ali01 commented on #12478
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-28 04:15] ali01 commented on #12388
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:15] #12388 closed

[2017-08-28 04:18] ali01 commented on #12434
Thank you, Yaroslav. Closing for now.

[2017-08-28 04:18] #12434 closed

[2017-08-28 04:20] ali01 commented on #12440
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:20] #12440 closed

[2017-08-28 04:21] ali01 commented on #12450
Are you able to provide code, an example image, and steps for us to reproduce this problem?

[2017-08-28 04:24] ali01 commented on #12456
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:24] #12456 closed

[2017-08-28 04:27] ali01 commented on #12532
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:27] #12532 closed

[2017-08-28 04:27] ali01 commented on #12592
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:27] #12592 closed

[2017-08-28 04:28] ali01 commented on #12608
@langmore, are you able to take a look?

[2017-08-28 04:31] ali01 commented on #12618
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-28 04:31] micklexqg commented on #12611
glad to hear that, @mrry

[2017-08-28 04:31] ali01 commented on #12630
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-28 04:36] martinwicke commented on #12496
@wolffg I suppose we were wrong about that cert being unused. Are we ready to move or should we renew what we have?

[2017-08-28 04:38] arita37 commented on #12456
This is a bug : since TF 1.3 cannot be installed by pip on linux Ubuntu.

[2017-08-28 04:40] ali01 commented on #12436
@benoitsteiner, could you please update this issue upon concluding review of #12459? Thanks

[2017-08-28 04:41] ali01 commented on #12512
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:41] #12512 closed

[2017-08-28 04:42] ElNandes commented on #12478
I had tried to run the label_image.py in terminal but the issue was solved after I updated to Tensorflow 1.3

[2017-08-28 04:42] ali01 commented on #12518
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 04:42] #12518 closed

[2017-08-28 04:43] ali01 commented on #12570
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2017-08-28 04:45] ali01 commented on #12410
@mrry, could you take a look? Feel free to redirect to stack overflow.

[2017-08-28 04:47] ali01 commented on #12632
This seems to be a duplicate of #6720. Closing here.

[2017-08-28 04:47] #12632 closed

[2017-08-28 04:58] quaeler opened #12641 "Improve all-in-memory file copy architecture (Python at least)"
Current file copy (at least via Python `tf.gfile.Copy` ([gfile.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/platform/gfile.py#L22)→ [file_io.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/io/file_io.py#L371) → [file_io.i](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/lib/io/file_io.i#L113))) involves copying the

[2017-08-28 06:31] jakiechris commented on #11774
i run into the same issue last week , and it has been solved .
any question about cross compile tensor to mobile can contact me, i'm willing to help others cause google members and other guys always helps me.
here's my way for solving this issue:

target:
 i'm using c++ interface and cross compile to ios \ android \ linux \ ...  , and let the app call the interface. android is using jni to call c+

[2017-08-28 06:33] eaigner commented on #12590
How is this not a bug if TF stops building at a certain revision?

[2017-08-28 06:37] jakiechris commented on #10483
@jubjamie you are right, final app increased in smaller size.

and i compeleted the reduce work several months before, only cut tf_op_files.txt is enough.

here's my reduce for android:
[tf_op_files.txt](https://github.com/tensorflow/tensorflow/files/1255296/tf_op_files.txt)

[2017-08-28 06:40] jakiechris commented on #11605
@reedwm yes it's solved.

android:
[tf_op_files.txt](https://github.com/tensorflow/tensorflow/files/1255300/tf_op_files.txt)

ios:
[tf_op_files.txt](https://github.com/tensorflow/tensorflow/files/1255302/tf_op_files.txt)

centos:
[tf_op_files.txt](https://github.com/tensorflow/tensorflow/files/1255303/tf_op_files.txt)

[2017-08-28 06:46] guotong1988 commented on #1668
same problem

[2017-08-28 06:47] carlthome commented on #12456
TensorFlow 1.3 can be pip installed on Ubuntu. Try `pip install --upgrade pip` and then `pip install tensorflow`.

[2017-08-28 06:48] dguerra commented on #12418
Hi @bpiel , do you expect to add PR to the other ops you already have in your code?

[2017-08-28 06:55] samithaj commented on #12508
@mvsusp Can you please post the fixed code for your example ,I'm trying tho export and serve a DNNLinearCombinedRegressor model , and i cant find any working example

[2017-08-28 06:59] kyo055 opened #12644 "compile tensorlfow c++ object class as /clr project to make the dll fail !!"
------------------------

### System information
- **windows10**:
- **install tensorflow**: from source by vs2015
- **TensorFlow version**: r1.2
-**CMake**:  3.8.2 build

### Error List
1.

2.

3.

4.

[2017-08-28 07:04] tikamsingh commented on #12555
My Mistake, Fixed Issue.

[2017-08-28 07:04] #12555 closed

[2017-08-28 07:08] shamoya commented on #11825
Thanks @junshi15 , me and @yanivbl6 are working together.
BTW, I found what did the missing UnRef() we had in the tolerate_dup_recv - [Here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/rendezvous.cc#L268)
At the end of the step, someone is pulling all the remaining items in the table and deleting them.

[2017-08-28 07:10] luchensk commented on #12123
@keithhans thanks for the point.
But, I didn't change the line 88(should be 87 in original add_boringssl_s390x.patch) of `#"//conditions:default": ["-DOPENSSL_NO_ASM"]`.

[2017-08-28 07:19] meteorcloudy commented on #12524
@FKNoble This issue has been fixed from nsync repo by d3bc53d38bee13bf66354ca61694956c92ffe879

We also have a [PR](https://github.com/tensorflow/tensorflow/pull/12603#issuecomment-325004977) to update nsync in TensorFlow.

[2017-08-28 07:38] srowen commented on #12388
@DNXie @skyoung @mykalu I had the same problem, but then found that I had `tensorflow-tensorboard` 0.1.4 installed which depends on `tensorflow`. That seemed to be the source of the erroneous dependency, and updating it to 0.1.5 made it all work for me because `tensorflow` wasn't installed anymore.

[2017-08-28 07:38] qiushi223 commented on #5987
Doesn't  TFSlim update anymore? It's really boring. Convenient setting for validation while trainning is really in need.

[2017-08-28 08:18] gazzterran commented on #7108
@liamnaks I've tried the "inter_op_parallelism_threads" method and it works in most of time ( but it still occurs during testing, in a very small probability, like 1/100)

From @cancan101 said, is there some bugs in code?

[2017-08-28 08:51] srvoin opened #12646 "building tensorflow from source / general issue"
Dear Tensorflow team,

I was facing a problem described here:
https://stackoverflow.com/questions/45859371/error-building-tensorflow-on-centos-7

In short words: In the documentation there is no any single word about bazel version need for specific version of Tensorflow. In particular, I could not build a Python package with the newest version of Bazel. Experimentally I found out that that the mas

[2017-08-28 08:59] luchensk commented on #12123
I find the reason why it didn't take effect by "replacing" `-Werror` with `-Wno-excessive-errors` since I wrongly added `#` to try to comment `-Werror` instead of replacing. Now it works and thanks.

[2017-08-28 09:14] snnn commented on #12123
Where does "-Wunused-but-set-parameter" come from? What's your bazel version? If it is not 0.5.4, could you do an upgrade?
Bazel shouldn't add this arg to a compiler that doesn't support it.

[2017-08-28 09:39] JackGan999 opened #12647 "tensorflow1.3 bazel-bin/tensorflow/examples/label_image/label_image failed to run."
step 1:python tensorflow/examples/image_retraining/retrain.py    --architecture=inception_v3    --output_graph=inception_v3.pb  ....
step2: bazel build tensorflow/examples/label_image
step3: bazel-bin/tensorflow/examples/label_image/label_image
then get the following error:
tensorflow/examples/label_image/main.cc:349] Running model failed: Not found: FeedInputs: unable to find feed output input.
A

[2017-08-28 09:56] previ commented on #5729
@petewarden I installed tf from the official pip wheel on a RPi 3.
It actually works much faster than in my previous tests: I achieved about 8 fps using a retrained mobilenet model (0.25, 128, quantified) from python apis, which is very good.
I noticed that the first couple of runs of the model are quite slow (about 10 times slower) but after that, tf optimizes the run and achieves very good perfo

[2017-08-28 10:14] biolee opened #12648 "Variable in Dataset map function is not stably initialized"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:macos
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:1.3
- **Python version**: 3.6
- **Bazel version (if compiling from source)**:0.5.3-homebrew
- **CUDA/c

[2017-08-28 10:17] bpiel commented on #12418
@dguerra Yeah, I had been waiting for my other PR to go through, but I didn't expect it to take so long. There's been test infrastructure failures.
https://github.com/tensorflow/tensorflow/pull/12391

I'll give up on that and just get the rest out. Should be in the next 24 hours.
FYI, I have:
Conv2D
MaxPool
Mean
Sum

[2017-08-28 10:39] biolee commented on #7951
need more operator for image process, like [map_coordinates](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.ndimage.interpolation.map_coordinates.html), so We can build image augmentation pipe line only use tensorflow

And Dataset do not stably init variable defined in the map function as https://github.com/tensorflow/tensorflow/issues/12648

[2017-08-28 10:43] Vonisoa commented on #12588
For those who will need it later, weight must have the same shape as the batch_size so (8,4096). Those weights represent weight for each sample.

[2017-08-28 10:53] dguerra commented on #12418
That'd be great :)

[2017-08-28 11:15] JankiMehta commented on #11157
[code]

Error Msg:
[code]

[2017-08-28 11:27] RenatoUtsch commented on #12123
Yeah, removing -Werror is just a hack and doesn't solve the real problem.

I could definitely reproduce bazel adding those two flags wrongly to clang
on 0.5.3. In a few hours I can update and try it again with 0.5.4.

On Mon, Aug 28, 2017, 06:17 Changming Sun <notifications@github.com> wrote:

[2017-08-28 11:35] njflabs commented on #12618
this error occurs from installed apk both from github and jeeves repositories. i would guess its the same apk, latest version of apk.
It will give the above error when trying to load. actually all 4 activities throw dofferent fatal errors and do not load. i copied the error output from android monitor tool in sdk.

[2017-08-28 11:47] admirestator commented on #12579
Met the same error.
Environment:
GCC 5.3.1
glibc :2.22
bazel:0.5.3
OS: openSUSE Leap 42.3

[2017-08-28 11:48] njflabs commented on #12618
it is running on:
Samsung Galaxy J1 - Android ver. 5.1.1
when clicking on the TF Speech launch icon, it does not load and android pops a dialog "Unfortunately,  Tensor Flow demo has stopped."

[2017-08-28 11:49] sdschulze commented on #12040
As stated above,  I am running tensorflow-gpu 1.2.1, installed via pip on Ubuntu 16.04.2 x64 (following https://www.tensorflow.org/install/install_linux), with Python version 2.7.12. CUDA is 8.0.61-1 from the nVidia repo, and cuDNN is 5.1.10. My GPU is an nVidia GTX 1080 Ti with 11172 MiB of memory.

The exact command I entered is:
`CUDA_VISIBLE_DEVICES=1 python mintrans.py`

[2017-08-28 11:57] ydp commented on #11549
I met the same problem, can anyone solve this except _unsafe_unfinalize()?

[2017-08-28 12:29] npanpaliya commented on #12474
Could somebody specify the required bazel version for this patch to work on r1.3?

[2017-08-28 12:37] domschl commented on #12474
I've built with tf r1.3, 0002-patch and bazel 0.5.3 (latest bazel release). The original 0001-patch (first post) did not build with bazel 0.5.3, but required a downgrade to 0.5.2.

[2017-08-28 12:52] npanpaliya commented on #12474
Thank you @domschl !

[2017-08-28 12:55] samwhitlock commented on #4535
@ppwwyyxx as far as I can tell it's not feedable. I constructed [this example](https://gist.github.com/samwhitlock/bfafc793c6b7589d12514e741c06eea1) and [modified it](https://gist.github.com/samwhitlock/251aaa04a1c64a929f20657b53662e2b) to try rerunning the initializer with a different feed value and it caused an error. However, the `tf.Errors.OutOfRangeError` was thrown on all `sess.run()` calls

[2017-08-28 13:15] LinJM commented on #12356
maybe, you have to write a custom op ~

[2017-08-28 13:36] eaplatanios commented on #12118
@iganichev That's great to hear! Do you have any updates on when that functionality might be available publicly?

[2017-08-28 13:38] kwotsin opened #12649 "Android buffer overflow exception when running only a certain model above a certain image resolution?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Android Lollipop
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.2
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 4.5
-

[2017-08-28 13:45] vvekic commented on #7951
I'd like to re-raise an earlier performance-related question by @kratzert.
The performance gain of using the new Dataset API is negligible.

@ppwwyyxx stated that queues and StagingArea can still be used with the Dataset API, but I still haven't seen a working example of this. Do we have one?

What purpose does the new API serve if one must still include queues, data_flow_ops or StagingArea comple

[2017-08-28 13:56] eaigner opened #12650 "TF build fails for simulator architectures on master"
When building TF for iOS from `master` with

    ./build_all_ios.sh

The build fails with

[code]

For device architectures the build uses `iPhoneOS10.3.sdk`, which is there and correct, but not for the sim architecture (see missing SDK). If I manually symlink the current `iPhoneSimulator.sdk` as `iPhoneSimulator10.0.sdk` I get another error

[code]

MacOS Sierra 10.12.6 (16G29)
Xcode Version 8.3.

[2017-08-28 14:05] alanhdu commented on #12512
@ali01 I'm happy to create a question on StackOverflow too, but:

I'm using built-in layers from Tensorflow `tf.layers.dense` and `tf.contrib.rnn.LayerNormBasicLSTMCell` on perfectly normal data and am getting garbage output (all `NaN`s). How is that not a bug? If there's a numerical stability problem here, it almost certainly exists inside the Tensorflow codebase.

[2017-08-28 14:36] alextp commented on #12589
Right. The problem is your usage of input_map. It has the same behavior as
feeding, and it is not valid in tensorflow to remap a variable in the
metagraph's input_map.

On Sat, Aug 26, 2017 at 12:26 AM, jiqiujia <notifications@github.com> wrote:

--
 - Alex

[2017-08-28 14:38] alextp commented on #12612
Asim, this seems suspicious. Can you take a look?

Anthony, can we get reproducing code we can run? Happy to do so offline if you're still not comfortable sharing your in-progress implementation of the scala bindings.

[2017-08-28 15:10] ruppeshnalwaya1993 commented on #9661
@petecoup @lissyx In which file do we need to make changes, tfcompile.bzl or tfcompile_main.cc

I see the line ` " --target_triple=" + target_llvm_triple() +` in tfcompile.bzl     and      `flags.target_triple = "x86_64-pc-linux";` in tfcompile_main.cc

I want to compile for both android and ios

For ios I tried first tried, just replacing in tfcompile_main.cc  with `flags.target_triple = "arm64-a

[2017-08-28 15:17] lissyx commented on #9661
@ruppeshnalwaya1993 This is what I have in our code, inside the `tf_library()` section:
[code]

[2017-08-28 15:54] ispirmustafa commented on #12090
We're using MonitoredSession instead of Supervisor. Could you please give it a shot? it may provide you a better error message.

[2017-08-28 15:55] eaplatanios opened #12653 "Device string in eager API differs from main ops API"
In the Python API device strings are normalized such that `/cpu:0` becomes `/device:CPU:0`. This happens in the `device.py` and more specifically, [here](https://github.com/tensorflow/tensorflow/blob/668db64a5d612d5f96b5d87772ce6ff6531fc035/tensorflow/python/framework/device.py#L192). However, the eager execution API throws an error if provided `/device:CPU:0` for the device. It only works if I se

[2017-08-28 16:00] alextp commented on #12653
Please continue tagging us on eager-related issues as that makes the triage
person's life easier :-)

On Mon, Aug 28, 2017 at 8:58 AM, Anthony Platanios <notifications@github.com

--
 - Alex

[2017-08-28 16:04] eaplatanios commented on #12653
Sounds good! :)

[2017-08-28 16:47] mykalu commented on #12388
@srowen Nice catch, that worked for me. Thanks!

[2017-08-28 17:09] michaelisard commented on #12524
Adding contributions welcome tag while PR is in flight.

[2017-08-28 17:10] michaelisard commented on #12560
@petewarden can you comment on Pods?

[2017-08-28 17:17] AbhisheKundalia commented on #6383
Hey can you please share the version which worked for you? as I am getting the same error

[2017-08-28 17:18] michaelisard commented on #12628
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:18] #12628 closed

[2017-08-28 17:18] michaelisard commented on #12640
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-28 17:18] #12640 closed

[2017-08-28 17:24] petewarden commented on #12618
This may be a problem with old versions of Android, since we're only testing on more recent OS's. We should have better version checking, but it's unlikely to be something we get to in the near term, so closing for now unless somebody external wants to take this on?

[2017-08-28 17:24] #12618 closed

[2017-08-28 17:25] langmore commented on #12608
Any array bounds checking issues would involve digging into the C++, or maybe even the GPU kernel.  That's beyond what I can do.

[2017-08-28 17:28] michaelisard commented on #12478
Good to hear the issue is resolved. I'll close for now.

[2017-08-28 17:28] #12478 closed

[2017-08-28 17:30] mrry commented on #12644
The TensorFlow codebase is not compatible with the `/clr` flag when building with Visual C++. The MSDN documentation outlines [some of the restrictions](https://msdn.microsoft.com/en-us/library/ffkc918h(v=vs.90).aspx) when you compile using that flag.

If there is a compelling reason to build TensorFlow with this flag, and the code changes to make this possible are not too invasive, we might consi

[2017-08-28 17:39] mvsusp commented on #12508
Hello @samithaj

Canned estimator don't have a lot of documentation yet. Here it go my code:

[code]

Hope it helps you!

[2017-08-28 17:44] mrry commented on #12648
Using `tf.Variable` in a TensorFlow function is not supported. To make this work, you'll need to use `tf.get_variable(..., use_resource=True)` *before* defining the `mapf()` function to declare the variable in the outer scope, then simply capture the variable in your `mapf()` function. Since you're defining a stateful input pipeline, you'll also need to use an *initializable* iterator rather than

[2017-08-28 17:44] #12648 closed

[2017-08-28 17:51] martinwicke commented on #12646
gunan@ is our bazel version check not working again?

@srvoin If the check is working properly, it should tell you something like "you need at least bazel X.X.X".

I think otherwise this is an unfortunate one-off, since the 0.5.3 bazel release was broken.

Leaving open only to check whether our check works.

[2017-08-28 18:06] zheng-xq commented on #11882
There are some known differences between CPU and GPU convolutions. Yang is working with Benoit to resolve them.

[2017-08-28 18:10] iganichev commented on #12118
@eaplatanios Sorry for the delay. The interface and impl had to be significantly changed. I am going through some final stages of reviews. If we don't find major issues, it should be in this week. Internal changes get synced to github at least weekly, sometimes more often. So, the core functionality should hit github at most within two weeks.

[2017-08-28 18:14] gunan commented on #12646
@yifeif are you aware of any issues with bazel version check?

[2017-08-28 18:16] poxvoculi commented on #11398
I think there are two problems being reported, correct me if I misunderstand.

1. The warning reported above by @alderasus and @thiel.  I see that a change was submitted to cuda_driver.cc on Aug 7 that changed this warning, claiming that the old one included false positive warnings.

https://github.com/tensorflow/tensorflow/commit/c67e2c911c9a76942c25a76d37f0568a755010e6

Perhaps you could retry w

[2017-08-28 18:35] poxvoculi commented on #5929
@jowettcz I don't understand what "same problems" is.  This issue was closed a while ago as a quirk of centos handling // in pathnames differently.

[2017-08-28 18:44] kesinger commented on #5929
@poxvoculi I'm not running centos (ubuntu 16.04) and I ran into this.

(Also I don't know how I un-assigned @concretevitamin ?)

[2017-08-28 18:45] yifeif commented on #12646
configure checks bazel against a minimum version of 0.4.5.

afaik Bazel 0.5.3 issue was resolved with #11871. I haven't seen the swig error mentioned in the SO link.

[2017-08-28 19:39] keven425 commented on #11965
I am experiencing the same issue. My validation accuracy on CIFAR 10 is lower with batchnorm than without. I have added `tf.GraphKeys.UPDATE_OPS` to the optimizer, and set `is_training=False` during validation.

Why is a decay rate required for batch_norm to work? Is there a bug with the batch_norm implementation?

[2017-08-28 19:39] Bazman76 opened #12656 "DNN Classifier producing Blue Screen of Death every time"
Hi,

When running inputs 9 10 and 11 from the below notebook, I get a blue screen of death every time?

https://github.com/ageron/handson-ml/blob/master/10_introduction_to_artificial_neural_networks.ipynb

I'm using:

Python ver 3.5.3
Tensorflow 1.2.1
Running on a windows 7 pro machine

Any tips on how to resolve this?

[2017-08-28 19:42] poxvoculi commented on #5929
@kesinger I think @concretevitamin is no longer working at Google, but maybe he's still responding to issues on GitHub.  Can you confirm whether, like @ericyue, you are passing a pathname with an unusual construction, like //, that can be avoided?

I see that a significant change to get_matching_files in file_io.py was submitted in May 2017.  Are you using a TF version that has it?

[2017-08-28 20:33] ydzhang12345 opened #12657 "Undefined op in speech_commands example"
I am using tensorflow 1.3.0 built from source.

I run the newly released speech_commands example (its in tensorflow/examples/speech_commands), following all the stuffs and all good. However, after I used the freeze.py script and generated the pb graph, I am unable to load it back. The code I used to load pb graph is:

[code]

Error:
File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/fr

[2017-08-28 20:35] RylanSchaeffer commented on #11438
@ali01 , previously I was using TensorFlow v1.2.0-5-g435cdfc 1.2.1 on macOS Sierra version 10.12.6. I used pip to install.

I'll try to create a simplified example that recreates the problem, but I had to abandon that code because it wasn't working and I needed to make progress on my internship project, so I don't know if/when I'll get to it.

[2017-08-28 20:40] asimshankar commented on #12653
There is no reason for this inconsistency to exist. However, I'm having trouble reproducing the problem. Could you provide a short Python snippet that reproduces the problem?

[2017-08-28 20:40] yongtang commented on #12641
Created a PR #12658 for that.

[2017-08-28 20:51] meijun opened #12659 "tf.maximum does not return nan when inputs contain nan"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7.13
- **Bazel version (if compiling from source)**:
- **C

[2017-08-28 21:09] aselle commented on #12099
I think you are right, you are not emulating the right cpu in virtualbox. Try building w/o the --copt=-mmmx --copt=-msse --copt=-msse2 and make sure that works.

[2017-08-28 21:10] aselle commented on #11144
Could you take a look at this @ebrevdo, please.

[2017-08-28 21:10] aselle commented on #11308
@dobbysock1002 , please close the issue if it is resolved (as it seems to be). Thanks!

[2017-08-28 21:25] thiell commented on #11398
@poxvoculi Thanks for looking at these issues. Both GPUs were used but SM usage% was about half lower than with a single GPU, making the whole thing slower I guess. Scaling across multiple GPUs is VERY important these days. I will give it a try if again I can find some time.

[2017-08-28 21:34] eaplatanios commented on #12653
@asimshankar You could try replacing [lines 172-173 in c_api_test.cc](https://github.com/tensorflow/tensorflow/blob/1a0a160cb9993b30abe1d1451dcaeb5d277a11f4/tensorflow/c/eager/c_api_test.cc#L172) with:
[code]
This should give you an error that says:
[code]

[2017-08-28 21:42] Timeroot commented on #12608
It looks like relevant bounds-checking code for the CPU is in https://github.com/tensorflow/tensorflow/blob/dff1062bbf53cd8890d8d43ea815c90ba4555ba4/tensorflow/core/kernels/gather_nd_op_cpu_impl.h#L57 The 'out_of_bounds' variable gets stored in 'error_loc' and then passed out as 'bad_i' in https://github.com/tensorflow/tensorflow/blob/e073322452e41e76754314aa75d543d071003fc5/tensorflow/core/kernel

[2017-08-28 22:25] suharshs commented on #12134
@petewarden is the QuantizeV2 behavior supposed to correspond to the FakeQuantizeWithMinMaxVars functionality? If not, is this something we would want to add to QuantizeV2?

[2017-08-28 22:36] quaeler commented on #12647
What were the exact command line arguments you performed?

The [label_image code expects](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc#L281) the graph model to be named specifically `inception_v3_2016_08_28_frozen.pb` and [the labels file to be named](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/label_image/main.cc#L283) `

[2017-08-28 22:48] mrry commented on #12410
The source of the error is a `ReaderReadV2` op, which suggests that something is failing in your input pipeline. (Perhaps a file cannot be found? Perhaps some of the workers have no work to do?)

I suspect this is unrelated to the use of distributed TensorFlow or the huge parameter matrix. Try to reproduce this when running on a single machine... it should be easier to see what the problem is in t

[2017-08-28 23:08] mrry commented on #4535
Hi folks! You might be interested in my [answer](https://stackoverflow.com/a/45928467/3574081) to @albertz's question on Stack Overflow. In short, there have been a couple of developments since the 1.3 release that might be useful to people on this thread, and I'd encourage you to try them out:

* [`Dataset.from_generator()`](https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/da

[2017-08-28 23:09] Mistobaan opened #12663 "Improve documentation of tf.gfile.GFile vs tf.gfile.FastGFile"
is not clear from the docs what is the difference between the two.
I assumed that one has thread locking (.GFile) and the other does not, but both say the same thing in the docs:
- [https://www.tensorflow.org/api_docs/python/tf/gfile/GFile](https://www.tensorflow.org/api_docs/python/tf/gfile/GFile)
- [https://www.tensorflow.org/api_docs/python/tf/gfile/FastGFile](https://www.tensorflow.org/api_doc

[2017-08-28 23:29] asimshankar commented on #12653
Ah, hmm...I believe the C API currently expects only fully qualified names (`/job:J/worker:W/...`), so even `"/cpu:0"` will not work. Python converts strings to fully qualified names before calling `TFE_TensorHandleCopyToDevice`.

See https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/eager/context.py#L218
and https://github.com/tensorflow/tensorflow/blob/master/tensorflow/pyth

[2017-08-28 23:35] eaplatanios commented on #12653
Hmm that's interesting because in the case of constructing a graph and building symbolic ops (i.e., not eager), the output of [this function](https://github.com/tensorflow/tensorflow/blob/668db64a5d612d5f96b5d87772ce6ff6531fc035/tensorflow/python/framework/device.py#L192) works just fine, without needing to be fully qualified (e.g., with `self.job` being set to `None`).

[2017-08-28 23:55] nealwu commented on #11398
Hi @thiell, I'd recommend taking a look at the [cifar10_estimator](https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10_estimator) example instead. The cifar10_multi_gpu_train.py example is out of date, and based on what I've heard from others, it may not work correctly.

[2017-08-29 00:07] pavanky commented on #9861
@asimshankar

Any idea when this might happen ?

[2017-08-29 00:16] xinrongliu commented on #12482
Hi David,

Could you describe how to resolve the problem? I encounter the same one. Thanks.

[2017-08-29 00:17] wdhorton commented on #11791
@reedwm @zheng-xq I'd like to work on this, if it's still open/worthwhile

[2017-08-29 00:20] allenlavoie commented on #9861
@pavanky relatively soon! The code is written and tested, it just needs review and the ironing out of some final details. Mid September if things go according to schedule.

[2017-08-29 00:32] Pierian-Data commented on #7372
Were you able to solve this issue? I'm getting the same behavior.

[2017-08-29 01:21] kinsumliu commented on #12410
**The quick update: if I increase `num_epochs` to 1000 from 1, it seems to solve the problem (I don't understand why). I can run it more to see if this solves it completely.**

The input pipeline is also my initial suspect. I tried and checked the followings when the `num_epochs`=1:

1. filenames to `string_input_producer` is not empty and they are valid hdfs paths for every worker (each worker wi

[2017-08-29 01:48] biolee commented on #12648
@mrry tks for help, it bother me for a week, may be we should add this to the doc

[2017-08-29 02:32] lsy643 opened #12667 "Distributed Training Randomly Stops During the Training Process"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow version (use command below)**: v1.3.0-rc2-20-g0787eee 1.3.0
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: 6.0
- **GPU model and memory**:  Tesla K80, 12G

### Describe the

[2017-08-29 03:05] wei-yuan commented on #12416
Check this out
[After building TensorFlow from source, seeing libcudart.so and libcudnn errors
](https://stackoverflow.com/a/45787225/1115215)

[2017-08-29 04:16] facaiy commented on #12508
Cool, @mvsusp .

By the way, if `tf.feature_column` is used, `feature_spec` can be generated automatically, like:

[code]

[2017-08-29 05:06] Zumbalamambo opened #12671 "Bundling tensorflow app to desktop"
I have got a tensorflow based app which recognizes the objects state. I use opencv and tensorflow to get this done. The final application has to be a desktop app. How do I bundle all dependencies and export it for desktop?

[2017-08-29 05:28] fancyerii opened #12673 "Java load python trained mode by SavedModelBundle predict wrong result"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
14.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.3/1.2.1
- **Python version**:
2.7
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN

[2017-08-29 05:32] pnt1614 commented on #1695
I am also at this step and I have a similar problem. When I entered "bazel build -c opt //tensorflow/examples/android:tensorflow_demo", I got an error message: "ERROR: Analysis of target '//tensorflow/examples/android:tensorflow_demo' failed; build aborted."

My WORKSPACE is:

# Uncomment and update the paths in these entries to build the Android demo.
android_sdk_repository(
    name = "androidsd

[2017-08-29 06:12] avanish commented on #2412
Followed the steps provided by @lababidi, but I keep getting a bunch of similar errors when I try to compile, and ends with: `fatal error: too many errors emitted, stopping now [-ferror-limit=]
20 errors generated.`

`In file included from loader.cc:1:
In file included from /usr/local/include/tf/tensorflow/core/public/session.h:22:
/usr/local/include/tf/tensorflow/core/framework/device_attributes.

[2017-08-29 06:29] Tosync commented on #7094
@drpngx @aselle any updates on adding a tensorflow version of the sklearn MultiLabelBinarizer?.

[2017-08-29 06:31] jinxin0924 commented on #12472
Hi @ali01,
I need some suggestions. Since the local variables and global variables are always not same, do you think it is important or not to know the global training loss/accuracy related to global variables?

[2017-08-29 06:31] dhernandd opened #12674 "Same code, runs fine in one machine, ValueError in another."
I am running a modified version of the LFADS code available at

https://github.com/tensorflow/models/tree/master/lfads

I run the exact same code in two machines, in one it works fine, in another it throws a ValueError. Here are the two tf_env.txt

## MY MACHINE (CODE WORKS)
== cat /etc/issue ===============================================
Darwin Daniels-MacBook-Pro-2.local 16.7.0 Darwin Kernel Ve

[2017-08-29 06:49] carlthome commented on #12314
@learyg, any thoughts on having `tf.fft` (and its siblings) in XLA?

[2017-08-29 07:27] aritrabasu104 commented on #6548
I am having the same issue.. @tristanbrown were u able to solve ur issue?

[2017-08-29 07:38] DNXie commented on #12388
@srowen
That's true. I have tensorboard on that version too. Thank you!

[2017-08-29 07:38] alc1218 commented on #12482
Hi David,

I got the same mistake. How did you solve the issue? Thanks in advance.

[2017-08-29 07:45] mzur commented on #5773
Can confirm that this issue still exists.

**Environment info**

System 1: Ubuntu 16.04.3, CUDA 8.0.61, cuDNN 4.0.7, TF v1.1.0
System 2: `tensorflow/tensorflow:latest-gpu` Docker container (with TF v1.3.0)
System 3: Ubuntu 16.04.3, TF v1.2.0 on CPU

**Minimal reproducible example**

[code]

Output:

![output](https://user-images.githubusercontent.com/2457311/29810001-811d25aa-8c9e-11e7-9afd-9a4403

[2017-08-29 07:50] anandcu3 commented on #12450
@ali01  I have added more details and code [here](https://stackoverflow.com/questions/45796759/freezing-model-drops-output-accuracy)..

[2017-08-29 07:52] eaigner commented on #12650
Seems `PhoneSimulator10.0.sdk` is hardcoded in `compile_nsync.sh`

[2017-08-29 08:03] eaigner commented on #12650
Would be nice if there was a CI that runs mobile builds. Those seem to break quite frequently.

[2017-08-29 08:05] VarIr commented on #12579
The same here on
GCC: 7.1.1
glibc: 2.25
bazel: 0.5.3
OS: Fedora 26

The problem seems to be solved by adding `--copt=-O` to the bazel build.
cf. [https://stackoverflow.com/a/40374431/6555620](https://stackoverflow.com/a/40374431/6555620)

[2017-08-29 08:21] srvoin commented on #12646
@martinwicke as @yifeif said it were checking against a minimum version and nothing about maximum. In my case it didn't work with any version higher than 0.5.1
It looks like there are some differences in environment settings within bazel scope... could be this a problem:
[code]
I can't reproduce test with version 0.5.2 at the moment, but 0.5.3 and 0.5.4 don't work for python package generation.

[2017-08-29 08:25] weizier commented on #6883
If you have a directory including the model trained before, you could try to remove it, then re-run.

[2017-08-29 08:29] jubjamie commented on #10104
You need multiple classes/directories to train inception as the error message states? What is the issue exactly?

[2017-08-29 08:31] jubjamie commented on #11784
@gunan This looks like it has mostly been resolved apart from the inclusion of Python 3.6 but that's not as bad of an issue as people being unable to run the binaries. Thanks for sorting it, i'm sure it will help lots of people in the long run. Closing.

[2017-08-29 08:31] #11784 closed

[2017-08-29 08:36] jubjamie commented on #12521
@frehoy I believe this got fixed alongside #11784

[2017-08-29 08:37] pnt1614 opened #12676 "Tensorflow building error"
I am trying to build tensorflow with this statement "bazel build -c opt //tensorflow/examples/android:tensorflow_demo"

the WORKSPACE is
`android_sdk_repository(
    name = "androidsdk",
    api_level = 23,
    #build_tools_version = "25.0.2",
	build_tools_version = "26.0.1",
    path = "C:/Users/ST/AppData/Local/Android/Sdk",
)

android_ndk_repository(
    name="androidndk",
    path="C:/Users/ST

[2017-08-29 08:55] avanish commented on #12482
Same issue for me as well. Any solution?

[2017-08-29 09:18] asimshankar commented on #12673
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

(Though, from the gist of your Python code, I can see one problem - you're invoking `tf.global_variables_initializer().run()` inside the `save_model` function, which means that you're

[2017-08-29 09:18] #12673 closed

[2017-08-29 09:24] asimshankar commented on #12671
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-29 09:24] #12671 closed

[2017-08-29 09:28] yuebin1009 opened #12679 "object_detection eval"
When evaluating the model? tensorboard values is NaN why?

[2017-08-29 11:46] rcasero opened #12681 "Feature request: dilated pooling"
Hi,

I posted initially in keras-users, but @fchollet suggested that this would need to be implemented first at TensorFlow level

https://groups.google.com/forum/#!topic/keras-users/ZVtI8Ef6508

Similarly to dilated convolution, dilated pooling uses a dilated kernel. For example, dilated kernel with pool_size=(3,2), dilation_rate=(2,4) (* = non-zero elements: this is where values are sampled to co

[2017-08-29 12:56] hzhangxyz opened #12683 "XLA leads to core dump"
### System information

[output of tf_env_collect.sh](http://paste.ubuntu.com/25424565/)

#### Tensorflow

Tensorflow compiled from the source v1.3.0(9e76bf3)

with cuda, with xla, without mpi, without mkl

#### OS
CentOS 7

out put of `uname -a`:

Linux zhanghao 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

#### python
Python 2.7.13 |Intel Corporati

[2017-08-29 14:52] vaibhavsood commented on #11603
Hi @drpngx , all

Investigating this further, the relu function from gen_nn_ops calls cwiseMax(..) in eigen here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/relu_op_functor.h#L35

Tried to go down further from here, cwiseMax goes to the eigen source code, under eigen found a issue as below:

**There is a bug filed under Eigen which switches the parameters to pmax

[2017-08-29 15:02] drpngx commented on #11603
Thanks for figuring this out!

@benoitsteiner and @rmlarsen are the experts.

[2017-08-29 15:11] dloyer commented on #9506
I also ran into this problem.

My use case is similar.  I am attempting to preload training data into the GPU.  Very odd bug

[2017-08-29 15:20] GPhilo commented on #7951
@vvekic, I experimented a bit with queues and the Dataset API after realising in horror that of the 0.8s/step in my inference loop, 0.2s is data fetching (with GPU at 0% utilization), raising to almost 2 seconds if the HDD is being used by something else at the same time.
My pipeline looks as follows:

[code]
I still have to run this on a big dataset and check if there's any performance improvemen

[2017-08-29 15:39] drpngx commented on #7094
Is that `reduce_max(one_hot)`?

[2017-08-29 15:57] michaelisard commented on #12656
Would you please fill out the issue template including details of GPU and CUDA drivers, etc.?

[2017-08-29 15:59] michaelisard commented on #12674
Can you give any more details of the modifications you made to the original?

[2017-08-29 16:01] bpiel opened #12686 "Feature Request: C++ gradient for SoftmaxCrossEntropyWithLogits"
Implement the gradient for SoftmaxCrossEntropyWithLogits in c++ so that it is available for TF_AddGradients.

This is the python code that I believe would need to be ported:
https://github.com/tensorflow/tensorflow/blob/4b2fb49fd7578afe7e289936f347af581b5bdab1/tensorflow/python/ops/nn_grad.py#L409

[2017-08-29 16:03] martinwicke commented on #12676
@petewarden will the android demo build work on Windows?

[2017-08-29 16:05] martinwicke commented on #12646
Maybe we should fix the bazel version for releases, since it's breaking relatively quickly.

This should be fixed at head though. @srvoin can you verify that building head with the latest bazel works for you?

[2017-08-29 16:09] alc1218 commented on #12482
Hi,
I came up with a solution. Taking into account that I was able to compile everything from source on different machines, I just changed the file mutex.h for the following code:

[code]

[2017-08-29 16:09] Thenerdstation commented on #12570
I can work on this. It looks like you just need to add the gradient calculations here. https://github.com/tensorflow/tensorflow/blob/084d29e67a72e369958c18ae6abfe2752fcddcbf/tensorflow/python/ops/math_grad.py#L536

I assume the issue is similar the reset of the distributions calculations. There's actually a todo in the code for this.

[2017-08-29 16:15] skye commented on #12686
@bpiel you're working on this right?

@suharshs FYI

[2017-08-29 16:20] bpiel commented on #12686
@skye Not currently. If I start, I will post here. If someone else starts first, hopefully they'll post here.

[2017-08-29 16:23] lcnature commented on #12570
@Thenerdstation Thanks a lot for help! I am not too familiar with the internal tensorflow code. A few other distributions seem to be marked TODO for their gradients as well.

[2017-08-29 16:28] Thenerdstation commented on #12570
Yeah I see that. I might have to make a few PRs to fix them all.

[2017-08-29 16:30] gunan commented on #11784
@jubjamie Good catch! @av8ramit can we also add python 3.6 support in windows docs?

[2017-08-29 16:30] ispirmustafa commented on #9861
For crossed_column, you can switch to core versions of feature_columns. tf.feature_column.*
such as tf.feature_column.crossed_column. Exporting and loading should work if you use these ones. Also please use core version of estimator too such as tf.estimator.DNNLinearCombinedClassifier.

[2017-08-29 16:57] poxvoculi commented on #12003
I believe this should be fixed now, or in the very next push.

[2017-08-29 16:57] #12003 closed

[2017-08-29 17:12] av8ramit commented on #11784
Done. https://github.com/tensorflow/tensorflow/pull/12687

[2017-08-29 17:15] yifeif commented on #12646
@srvoin we added a check to switch to --python_path for bazel >=0.5.3 at head, but it was not in 1.3 branch.
https://github.com/tensorflow/tensorflow/commit/6252d296040e8a2ff0c6c8668db55abe3e6f1416#diff-ade1d3e4b7c35655f854151d899df62b

Not sure if the python_path change is the cause of the issue you are seeing, but might be good to try the configure from master.

[2017-08-29 17:38] quaeler commented on #12646
I am able to build clean the pip wheel target from head of master (as of 9.30a (pacific) today) via `bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package` - no non-default values in the build configuration setup.

I'm using 0.5.3 Bazel:
[code]

[2017-08-29 17:39] xinrongliu commented on #12482
Hi @alc1218,

Your file works. Thank you very much!

[2017-08-29 17:47] zhangyaobit commented on #11676
Thanks taehoonlee@ for the fix!

[2017-08-29 17:47] #11676 closed

[2017-08-29 18:11] TianwenWei opened #12689 "multi-GPU training too slow when L2 regularizer enabled"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 home edition
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.3.0
- **Python version**:
3.5.3
- **Bazel version (if compiling from source)*

[2017-08-29 18:22] Bazman76 commented on #12656
Windows 7 Pro 64 bit (6.1, build 7601)
Tensorflow installed via anaconda
Tensorflow version 1.2.1
Python version 3.5.3
As for Cuda etc this PC was set up some time ago there is a GPU installed is that sufficient or should I install CUDA/cuDNN separately? I don't think I'm currently using the GPU.
GPU: AMD radeon 6900 series 4095MB

The problem arises when the last line of block 11 is run,

https:/

[2017-08-29 18:24] dr4b commented on #12521
Yeah, this is definitely fixed and you can even see it in the docs_src directory here on Github:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/install/install_linux.md

But it sometimes takes a while for these things to propagate to the root directory on tensorflow.org as we usually only update that with version releases.

[2017-08-29 18:24] #12521 closed

[2017-08-29 18:56] subashp commented on #12482
This file has changed in the latest code base. May be updating will help? Essentially thats what is done by alc1218 above - replace old file with new one.

[2017-08-29 19:10] riklopfer commented on #11948
Sample log output fwiw,

[code]

[2017-08-29 19:16] martinwicke commented on #12646
Thanks @quaeler. I will close this issue, since it will be resolved in 1.4 then.

[2017-08-29 19:16] #12646 closed

[2017-08-29 19:38] regimantas opened #12690 "Try compile for raspbery pi and got graph.pb.h missing"
tensorflow/core/framework/graph.pb.h: No such file or directory
 #include "tensorflow/core/framework/graph.pb.h

[2017-08-29 20:18] RockfordWei commented on #19
[https://github.com/PerfectlySoft/Perfect-TensorFlow](https://github.com/PerfectlySoft/Perfect-TensorFlow.git) has upgraded to 1.3.0!!!

New Features:
1. Fixing QInt16 size issue
2. Gradient has new namespaces (`graph.addGradients()` has been activated since 1.2.1)
3. Adding Devices to Session for distributive computation.
4. Adding Matrix Tensor with auto shape/auto flat functionality.
5. Fixing

[2017-08-29 20:18] reedwm commented on #11791
This issue is still open. I am not sure how worthwhile it is. This op should probably be added to contrib first, then if it is shown to be worthwhile it can be moved to core.

/CC @mjanusz @fchollet, do you know how worthwhile this is?

[2017-08-29 20:26] fchollet commented on #11868
This has been fixed some time ago.

[2017-08-29 20:26] #11868 closed

[2017-08-29 20:33] ruppeshnalwaya1993 commented on #9661
@lissyx Thanks for your reply! I want to build for iOS and not raspberry pie. Nevertheless, to make sure I understand the process correctly, I tried to build using the changes that you suggested. One thing I am not sure of is given
[code]
how do specify in the bazel build command in terminal to build for //tensorflow:rpi3 and not //conditions:default or anything else?

Since I was unsure how to sp

[2017-08-29 20:37] maximedb commented on #7669
@agniszczotka Thanks for your help. When I implement your suggestion, I get the following error:
`AttributeError: 'RunConfig' object has no attribute 'environment'`
Any idea on how to get around it?

[2017-08-29 21:02] jiagengliu commented on #11186
I also wonder if we could presumably apply tf.copy to tf.Variable, tf.placeholder and so on.
I am referring to the situation described here: https://stackoverflow.com/questions/45947973/how-to-create-copies-of-variables-constants-placeholders-in-tensorflow

[2017-08-29 21:09] phi-dbq commented on #10959
Would you please update the documentation https://www.tensorflow.org/get_started/summaries_and_tensorboard
to reflect this change?
It still states that we can use `python -m tensorflow.tensorboard --logdir=$MODEL_DIR` to launch TensorBoard.

[2017-08-29 21:15] lissyx commented on #9661
I'm not sure about your error. What does `file bazel-out/local-opt/genfiles/test_graph_build/test_graph_tfmatmul.o` says? It should be some ARM64/iOS stuff I guess. However, the "'+neon-fp-armv8' is not a recognized feature for this target (ignoring feature)" would indicate that you might be trying to issue some ARMv6.

According to `tensorflow/tensorflow.bzl`, the `//tensorflow:ios` should the th

[2017-08-29 22:48] terrytangyuan commented on #7669
@maximedb I fixed that in https://github.com/tensorflow/tensorflow/pull/11385. It would be great if someone could take a look at that one.

[2017-08-29 22:57] michaelisard commented on #12656
@mrry can you comment on the most helpful additional debugging information to collect to make progress on this?

[2017-08-29 22:58] michaelisard commented on #12690
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-08-29 23:00] Thenerdstation commented on #12570
Well I see now why this gradient was put as a TODO.
https://www.wolframalpha.com/input/?i=derivative+with+respect+to++a+of+beta(x,+a,+b)

[2017-08-29 23:06] RyanRamchandar opened #12692 "Speech Commands Example URL broken"
Found here:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/speech_commands#speech-commands-example

http://tensorflow.org/tutorials/audio_recognition is broken

[2017-08-29 23:17] DedongZhang opened #12693 "TensorBoard executed stuck"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro 1703
- **TensorFlow installed from (source or binary)**: install binary with GPU version by pip based on Python 3.5.2
- **TensorFlow version (use command below)**:('1.3.0')
- **Python version**:

[2017-08-29 23:17] dhernandd commented on #12674
Hi, Michael, thanks for the response.

In fact, I just tried the unmodified LFADS code and got the same problem (working on my machine, nyet on the cluster). I am using the dataset below that I generated, only modifying the DATA_FILENAME_STEM global in the run_lfads.py file to

DATA_FILENAME_STEM = 'dataset'

and the globals indicating paths in my computer.

[dataset_poissondata001.zip](https://gi

[2017-08-29 23:41] mrry commented on #12656
I don't think TensorFlow does anything that could cause a BSOD. Are you using the CPU version of TensorFlow? (I'd assume so because you don't have a CUDA-capable GPU.)

[2017-08-29 23:44] facaiy commented on #12686
Hi, I'm really interested in the work because it is a little challenge for me. #12391 of @bpiel seems like a perfect example, right? I could be more confident if more detailed guide are given or someone would like shepherd it.

[2017-08-30 00:10] yongtang commented on #12692
The audio recognition tutorial has only been added recently:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/tutorials/audio_recognition.md

I think the link will show up once `http://tensorflow.org` has been updated (from rebuilding `docs_src`).

[2017-08-30 00:28] learyg commented on #12530
I posted some information on this here: https://stackoverflow.com/a/45518731

[2017-08-30 00:31] suharshs commented on #12686
@facaiy Happy to review your PR. :)
@kbsriram may also be interested in reviewing/guiding.

[2017-08-30 00:42] sunziping2016 opened #12694 "queue skips first few elements under multiple enqueue threads"
### Possible problems
I want to use `tf.slice_input_producer` to produce a list of filenames, and then use multiple threads to load data and feed it to a `tf.FIFOQueue`. It seems first few elements have been skipped unexpectedly.

It only happens when there exist multiple enqueue threads.

I have searched the web, and only find one similar question on `stackoverflow.com` with zero answer.
https://

[2017-08-30 00:56] fastlater commented on #12693
@DedongZhang any update? Did you figure out why the tensorboard stucks? I have the same problem. Windows 7, TF 1.3.

[2017-08-30 01:24] ruanlele commented on #12579
@VarIr  I tried it ,but the same error has been still there by adding `--copt=-O` .

[2017-08-30 01:45] DedongZhang commented on #12693
@fastlater not yet, I try to use another pc, and the same thing happens.

[2017-08-30 01:50] Zumbalamambo commented on #12671
@asimshankar I have asked the same question in stackoverflow but it has been put on hold since they think that it is too broad

[2017-08-30 01:51] Zumbalamambo opened #12695 "Bundling tensorflow app to desktop"
I have got a tensorflow based app which recognizes the objects state. I use opencv and tensorflow to get this done. The final application has to be a desktop app. How do I bundle all dependencies and export it for desktop?

**PS:** I have asked the same question in stackoverflow with no response for my question hence Im asking this here hoping for a positive reply

[2017-08-30 01:52] humanlost opened #12696 "Training model on Android"
I want to training my model on the Android mobile phones by using Tensorflow. How to train the model and save the model on Android mobile phone? I can not find corresponding functions on Java API of TensorFlow.

Is it possible to find a way to implement such functions on android mobile phone? maybe tensorflow on Android with Python bindings? Or other Deep learning framework？

[2017-08-30 01:52] sdlmw opened #12697 "During handling of the above exception. Another exception occured"
![qq 20170829141338](https://user-images.githubusercontent.com/13164077/29851834-e8c4b112-8d68-11e7-971e-f29455d764d5.png)
![qq 20170829141241](https://user-images.githubusercontent.com/13164077/29851833-e8c00a36-8d68-11e7-913b-82aafd793e75.png)
Does anyone know what is the cause of this?
My system environment：Ubuntu_16.04_X86_64; nvidia dirver version:v384.66 nvcc_version:v8.0 cuDNN:6.0 .
I dont

[2017-08-30 02:01] RyanRamchandar commented on #12692
That makes sense. Thanks @yongtang.

[2017-08-30 02:01] #12692 closed

[2017-08-30 02:07] axtscz opened #12698 "Issue loading label file on Android example"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Android 8.0
- **TensorFlow installed from (source or binary)**:
Android Binary
- **TensorFlow version (use command below)**:
- **Python version**:
NA
- **Bazel version (if compiling from source)**:
NA
- **CUDA

[2017-08-30 02:13] haotianteng commented on #9550
Also encounter this problem as well.
And test with this data set:
Logits: [ [[200.0,1.0]] , [[-100.0,200.0]] , [[200.0,1.0]] ]
Which should give 'AA',
The greedy decoder is correct, but the beam search decoder only give 'A'

And the beam search deocder work on this dataset:
[ [[log(0.4),log(0.6)]] , [[log(0.4),log(0.6)]]  ]
Greedy decoder gives an empty output, where the beam search decoder gives

[2017-08-30 02:25] avanish commented on #12482
@alc1218's solution seems to work. Anyways, here are the details of my machine.

Machine: macOS Sierra 10.12.6
Bazel: 0.5.3 with Homebrew
Tensorflow: 1.3 from source using
`git clone --recursive https://github.com/tensorflow/tensorflow`

[2017-08-30 02:37] #12698 closed

[2017-08-30 02:42] DedongZhang commented on #12693
@fastlater it is working now. I try to open by type http://admin-pc:6006/ but never try localhost:6006. I guess my cmd some how just not show result message. I could open it by localhost:6006 now.Thank you very much!

[2017-08-30 03:13] afzalmushtaque commented on #7072
@shingte 's solution worked for me

[2017-08-30 03:15] lcnature commented on #12570
Wow, that is much more complex than I thought

[2017-08-30 03:46] facaiy commented on #12686
Thanks, @suharshs .

I have read the code in python side,
[code]

If I understand correctly, the arguments `grad_loss` and `grad_grad` in python side will be packed in `grad_inputs` in C++ side, right?

Namely, the outline of code in C++ should like:
[code]

Please correct me if I'm wrong.

[2017-08-30 05:49] snnn commented on #12695
You may give a try on "libtensorflow", it has no extra dependency.

[2017-08-30 06:44] tocab commented on #7951
I don't know if I'm right here, but I have a question about the dataset API. My dataset contains one column with sequences and one with sequence length which i want treat different, because i want to pad the sequences. Is it possible to address a single column in the dataset so that it is treated different from the other column? E.g.:

`
two_column_dataset = ... # This contains the column sequence

[2017-08-30 07:09] eaigner opened #12699 "libtensorflow-core.a contains duplicate symbol CreateGPUTracerEv"
Running `build_all_ios.sh` produces a `libtensorflow-core.a` that contains a symbol twice. When linking on iOS the error is

[code]

I checked with `nm` just to be sure

[code]

Branch `master`
MacOS Sierra 10.12.6 (16G29)
Xcode Version 8.3.3 (8E3004b)

[2017-08-30 07:49] kyo055 commented on #12644
I have build an console exe with tensorflow and opencv libraries for detecting and recognizing human. However, my team built a C# GUI system. They hope me to build the /clr project to make a DLL for their C# project to import and finish human face recognition. But we even don't know tensorflow can't compile with /clr flag. So this is really frustrating.
I right now don't have some ideas about comp

[2017-08-30 08:12] snnn commented on #11784
Hi,

From version 1.4,  TF will depend on scipy, then the user should either have a FORTRAN compiler or get it from a third-party python distribution (e.g. Anaconda).  We need document this.

[2017-08-30 08:13] eaigner commented on #12699
Removing line `513` from `Makefile`

    TF_CC_SRCS += tensorflow/core/platform/default/gpu_tracer.cc

resolves this issue.

[2017-08-30 08:32] Zumbalamambo commented on #12695
@snnn can you please share the github url for the same

[2017-08-30 09:03] GPhilo opened #12701 "Feature Request: callback argument for tf.contrib.data.Dataset.ignore_errors() to enable error logging"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: -
- **CUDA/cu

[2017-08-30 09:07] Bazman76 commented on #12656
Yes it is the CPU version. All I can say is that the BSOD are produced in the same place every time it does seem to be a bit of a coincidence? I guess it could be hardware overheating but I don't think these practive problems are that challenging?

[2017-08-30 09:11] snnn commented on #12695
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/lib_package

[2017-08-30 09:58] koelscha opened #12704 "Memory leak when reusing variables with slim"
### System information:
- Windows 7 x64
- Python 3.5.2 |Anaconda 4.2.0 (64-bit)
- Tensorflow 1.3.0 installed via pip

### Problem
I want to use TF-Slim models to classify images in a server. For this, I would like to load the network only once and reuse the variables. I adjusted the tutorial given here: https://github.com/tensorflow/models/blob/master/slim/slim_walkthrough.ipynb

### Code to repro

[2017-08-30 10:42] sdlmw commented on #12521
@frehoy  hello, i have a question. thank help me fix it.
![qq 20170830183806](https://user-images.githubusercontent.com/13164077/29868736-b82eafae-8db2-11e7-976f-2e6247b351b6.png)
 i have installed  cuDNN v6.0. CUDA Version:8.0, Nvidia driver is newest.
thank you before

[2017-08-30 11:17] poppingtonic commented on #394
In Ubuntu 17.04, `nvidia-cuda-mps-server` doesn't work, it doesn't even output anything when I run the command. I've installed `sudo apt-get install nvidia-384` and CUDA using `sudo apt-get install nvidia-cuda-toolkit`, and a simple test from [this link](https://medium.com/@at15/install-nvidia-cuda-on-ubuntu-17-04-823300ab7bcc) compiles successfully, printing the resulting array. I can run `optiru

[2017-08-30 12:10] Zumbalamambo commented on #12695
it again requires bazel for installation. How can it be bundled with the bazel dependency? Any working example will help a lot

[2017-08-30 12:18] poppingtonic commented on #7653
I've experienced a similar problem with Ubuntu 17.04:

https://github.com/tensorflow/tensorflow/issues/394#issuecomment-325960549

[2017-08-30 12:23] manzajohn opened #12706 "ERROR:tensorflow:Only one valid folder of images found at tf_files2/images - multiple classes are needed for classification."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-08-30 12:25] manzajohn commented on #12706
Can anyone tell what all are the conditions for validity of images in the subfolders? is there any size , format etc , we need to check?

[2017-08-30 12:26] ruppeshnalwaya1993 commented on #9661
@lissyx I resolved the error by building tfcompile separately using command `bazel build tensorflow/compiler/aot:tfcompile` and then using tfcompile tool directly in terminal like this
[code]

The above command generated  `test_graph_tfmatmul.h` and `test_graph_tfmatmul.o` for ios arm64 which I link to the in [simple ios example project ](https://github.com/tensorflow/tensorflow/tree/r1.2/tensorfl

[2017-08-30 13:09] lissyx commented on #9661
@ruppeshnalwaya1993 Ah, I hit the same kind of stuff, I just chose for now to build the related libs, link my binary against and share them. I am not convinced it is the proper way, I would have preferred they get statically linked by Bazel, but for now it's good enough for me. Targets are: `//tensorflow/compiler/aot:runtime //tensorflow/compiler/xla/service/cpu:runtime_matmul //tensorflow/compile

[2017-08-30 13:11] TianwenWei commented on #12689
I think I have found the problem. To make sure that the Variables are stored in CPU, we need to use
`with slim.arg_scope([slim.model_variable, slim.variable], device='/cpu:0'):`
instead of
`with slim.arg_scope([slim.variable], device='/cpu:0'):`
As a matter of fact, although `slim.model_variable` eventually calls `slim.variable` and variables in collection `sim.get_model_variables` is a subset of

[2017-08-30 13:11] #12689 closed

[2017-08-30 13:28] samithaj commented on #12508
thanks @mvsusp
Check here anyone looking for complete example: https://github.com/MtDersvan/tf_playground

[2017-08-30 14:28] Bowiemb commented on #9868
@al626 What if you want the metadata for all run calls?

[2017-08-30 14:41] adrinjalali opened #12707 "Input function tutorial doesn't deliver reported performance."
Running the example explained [here](https://www.tensorflow.org/get_started/input_fn), results in a reported loss 100 times bigger than what's reported in the tutotrial. It also doesn't converge, and it seems to be going up and down.

The expected performance is:

[code]

Whereas, here is what I get when I run it:

[code]

Environment:

== cat /etc/issue ===========================================

[2017-08-30 14:42] mrry commented on #12656
I suspect that this is a problem with your hardware or operating system, and perhaps TensorFlow is aggravating it by allocating a large amount of memory. Since Windows 7 is now end-of-life, it's possible that there's a bug in the OS that won't be patched. I'd suggest upgrading to a new operating system to see if that helps the problem.

Unfortunately that is not something we're able to diagnose, a

[2017-08-30 14:42] #12656 closed

[2017-08-30 15:07] lijiansong commented on #12530
@learyg ok, thanks

[2017-08-30 15:14] kbsriram commented on #12686
@facaiy the outline of the code looks fine, one change would be to use
[code]
rather than `null` to indicate gradients should not be propagated.

One thing you may run into is that that python has various utilities (e.g. [tensor_util.constant_value()](https://github.com/tensorflow/tensorflow/tree/77b5f6a956c61e6ada9d4a6c61892f9bd2464fdb/tensorflow/python/framework/tensor_util.py#L695)) that don't

[2017-08-30 15:35] skye commented on #12686
re: @kbsriram's point about missing Python utilities, for SoftmaxCrossEntropyWithLogitsGrad, you can skip the tensor_util.constant_value() call and leave a TODO to implement it in C++. This is OK in this case since the IsZero() check is an optimization anyway (I think...).

[2017-08-30 15:53] mrry commented on #12644
I'd suggest building your console exe as a native DLL instead, and using P/Invoke to call into the DLL from the C# GUI.

[2017-08-30 16:04] riklopfer commented on #11948
I've added valgrind output to the test repository: https://github.com/riklopfer/TensorflowJavaGpuMemoryTest/blob/master/valgrind.out

[2017-08-30 16:35] Bazman76 commented on #12656
Re OS would you recommend switching to Linux?

[2017-08-30 16:45] asimshankar commented on #11948
@riklopfer : Thanks very much for getting that information across. Unfortunately not a lot struck out to me.

I did see 32 bytes of leaks from graph construction, which I will fix, but that happens once - not in a loop so won't explain the increasing usage over time.

[2017-08-30 16:47] cuter9 commented on #8660
when I used summary.merge(loss) to generate a summary string, it raise the type error 'Tensor' object is not iterable. ' It seems while loop and any iterator are not supported by the merge method? is there any solutions, or alternatives?

[2017-08-30 17:12] ppwwyyxx commented on #8660
@cuter9 The [document](https://www.tensorflow.org/api_docs/python/tf/summary/merge) says: inputs: A list of __string Tensor__ objects containing serialized __Summary protocol buffers__.

[2017-08-30 17:31] quaeler commented on #12695
I think he is suggesting you build `libtensorflow.so` (which you can build via `bazel build --config=opt //tensorflow:libtensorflow.so`)  and then link that to your desktop application.

Once you've built the library, you no longer need involve bazel if you don't want to use it with your desktop application.)

[2017-08-30 17:40] nietras commented on #12541
I was also surprised to learn that TensorFlow does not do automatic CPU dispatch. MKL as such is fine but why not support it out of the box? Using an auto-vectorizing compiler like MSVC++ could do this for some algorithms.

[2017-08-30 17:46] Zumbalamambo commented on #12695
so after building tensorflow:libtensorflow.so, I have to write wrapper around it if I have to interface it with other languages?

[2017-08-30 17:49] cuter9 commented on #8660
The following is my scrips of a function which is called iteratively thru for loop, still don't work, and raise type error " 'Tensor' object is not iterable", and the dubuger points to the problem raising from tf.summary.merge(x_summary) statement.

def summary_4_graph(data_x):
    x_summary = tf.summary.scalar(data_x.name, data_x)
    tf.summary.merge(x_summary)

[2017-08-30 17:52] quaeler commented on #12697
The first exception describes itself as the process having run out of memory - this would be your root problem. Often everything else being dealt with after running out of memory is just trying to land a plane that is on fire.

[2017-08-30 17:58] ppwwyyxx commented on #8660
A __list__ of string Tensor objects containing serialized Summary protocol buffers.

[2017-08-30 17:58] quaeler commented on #12695
Yes, for example if you were writing an application in Scala, you'd need to write the native interface layer yourself for the wrapper around that. What language are you using?

[2017-08-30 18:00] Zumbalamambo commented on #12695
Im using python... i want them to install it without downloading tensorflow with pip...  im creating a standalone desktop app written in python

[2017-08-30 18:02] Zumbalamambo commented on #12695
if you can provide a sample code from github, it will be a great help for me.

[2017-08-30 18:02] AroMorin commented on #2134
Is this bug fixed yet? Also, is there a way to have pad with ZEROS instead of random noise??

[2017-08-30 18:19] cuter9 commented on #8660
done! thanks!

[2017-08-30 18:46] DanielTizon commented on #11127
@fchollet can you give any feedback about it? plz, I have the same problem.

[2017-08-30 18:57] hfutxrg commented on #12474
Hi @tfboyd, how does the following command work?
``cd -P bazel-out/../../../external/eigen_archive``

Because there is no "external/eigen_archive" folder in tensorflow repo. There is only "third_party/eigen3/Eigen", so this command and your next patch command does not work.

[2017-08-30 19:12] quaeler commented on #12695
Hmm... you don't want to install tensorflow via pip at all? (In other words, not from a public repository and not using a locally built `.whl` archive?)

I cannot think of a "clean" way to deploy a desktop app written in Python in this situation that does not involve a package manager.

I would believe that there is a way - like building the `//tensorflow/tools/pip_package:build_pip_package` targe

[2017-08-30 19:13] domschl commented on #12474
You need to try to build tf once. That pulls the external dependencies like eigen3.

[2017-08-30 19:15] fchollet commented on #11127
Keras can open HDF5 files accessible on local filesystem / network. It cannot open HDF5 files on GFS, because GFS does not support HDF5. We have been talking to the HDF group about possibly making that happen in the future.

To open HDFS files that aren't on a locally-accessible filesystem, first copy them locally.

[2017-08-30 19:19] tfboyd commented on #12474
The real PRs are very close and I think some people have used those to get
things working as well.  Just an FYI. When they are all approved I will
update and close this issue.  Dominik is correct you have to build (then
fail) then do the Eigen step then build again.

On Wed, Aug 30, 2017 at 12:16 PM, Dominik Schlösser <
notifications@github.com> wrote:

[2017-08-30 19:30] Kaiwen-Zhong commented on #6548
Same issue here and not yet able to solve it. Is it because you have multiple python distribution?

[2017-08-30 19:45] mrry commented on #7951
This issue thread is becoming a bit unwieldy and it's getting hard to keep track of the individual discussions, so I'm going to lock it after responding to a few of the recent comments. Please feel free to open a new issue about any specific topics of feature requests related to `tf.contrib.data` and we can continue the discussion there.

In response to a few recent questions:

* @GPhilo ([link](h

[2017-08-30 19:45] #7951 closed

[2017-08-30 19:53] jart commented on #12707
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 19:53] #12707 closed

[2017-08-30 19:54] jart commented on #12704
@sguada Could you take a look at this potential slim memory leak?

[2017-08-30 19:55] jart commented on #12701
@mrry Feature request for tf.contrib.data.

[2017-08-30 19:58] jart commented on #12699
@petewarden It seems duplicate symbols are being linked into a static library, when using build_all_ios.sh.

[2017-08-30 19:59] jart commented on #12706
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 19:59] #12706 closed

[2017-08-30 20:02] jart commented on #12697
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 20:02] #12697 closed

[2017-08-30 20:04] jart commented on #12695
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 20:04] #12695 closed

[2017-08-30 20:04] mrry commented on #12701
It's certainly possible to add richer error handling, though it might end up not being ideal to add a callback to `Dataset.ignore_errors()` because at that point in the input pipeline you only have an error message (or the successfully transformed data), and it's not necessarily obvious what input element caused the error.

Can you sketch out in more detail your ideal interface for a method like t

[2017-08-30 20:10] jart commented on #12693
From what I understand, TensorBoard isn't showing logs output, but if you go to the web address, it still shows the GUI.

We recently made some changes to the logging code, that has special cases for Windows.

Is there any chance you could try locally modifying this piece of code right here: https://github.com/tensorflow/tensorboard/blob/master/tensorboard/util.py#L282 where it says `os.name != 'n

[2017-08-30 20:36] ppwwyyxx commented on #12704
I think creating ops in loops is the problem.

[2017-08-30 20:39] jart commented on #12683
@learyg Could you take a look at this XLA assertion failure coredump?

[2017-08-30 20:42] jart commented on #12681
@fchollet From what I understand, you're already in contact with our friend who submitted this feature request. How do you think this issue should be triaged?

[2017-08-30 20:42] jart commented on #12679
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 20:42] #12679 closed

[2017-08-30 20:45] jart commented on #12667
Is there any chance you could have it generate a Python stack trace, or attach a GDB debugger to the process to get a backtrace of all the threads, so we can have a better idea of where the code is getting stuck at?

[2017-08-30 20:48] jart commented on #12663
@ericdnielsen Do you know what the difference is between these two classes?

[2017-08-30 20:50] memo opened #12712 "sharing variables but matrices are transposed even though src & dst tensors appear to have same shape"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
binary (pip install tensorflow-gpu==1.2.1)

- **TensorFlow version (use command below)**:
v1.2.0-5-g435cdfc, 1.2.1

- **Python version**:
Pyt

[2017-08-30 20:52] fchollet commented on #12681
@jart we should not merge any implementation built on top of atomic TF ops, because its performance would be really bad. We would need to implement the change at the level of the pooling ops in C++/CUDA. I think this *could* be a worthwhile change, if we find someone who is interested in working on it, although there is little data to confirm this.

[2017-08-30 20:59] rahuljha commented on #2732
The link from benjrossi doesn't work anymore, here is an updated link to the same page: https://www.twosigma.com/insights/a-workaround-for-non-determinism-in-tensorflow.

[2017-08-30 21:12] jart commented on #12659
Well that's concerning. What's odd is that if you don't use `feed_dict`, then it actually does return `nan`:

[code]

What do you think about this @mrry?

[2017-08-30 21:14] jart commented on #12657
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-08-30 21:15] jart commented on #12647
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 21:15] #12647 closed

[2017-08-30 21:23] ydzhang12345 commented on #12657
-  I haven't written customized code
- **OS Platform and Distribution: Linux Ubuntu 14.04
- **TensorFlow installed from source
- **TensorFlow version 1.3.0
- **Python version: 2.7
- **Bazel version (if compiling from source)**: 0.5.3
- **CUDA:8.0 cuDNN:6.0**:
- **GPU: GTX1080**:
- **Exact command to reproduce**:

1. built tensorflow from source

2. run the tensorflow/examples/speech_commands with

[2017-08-30 21:25] jart commented on #12641
Slurping the whole file into memory and writing it back out isn't exactly optimal. Streaming would be great. What would be even better is the [`sendfile`](http://man7.org/linux/man-pages/man2/sendfile.2.html) system call, which does it entirely in kernel space. If would be terrific if @rohan100jain was able to implement that when src and dst are Unix FS, and do streaming otherwise.

[2017-08-30 21:32] mrry commented on #12659
When I run @meijun's code on my CPU-only workstation, I get the expected result (`nan`). Also, I think @jart's version (which passes `np.nan` as a constant) will end up running on the CPU as part of a constant folding pass.

I suspect the problem might be in the GPU implementation of `tf.maximum()`. This looks like code that hasn't changed for a long time, and is basically a call into Eigen. Perha

[2017-08-30 21:46] jart commented on #12619
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-08-30 21:46] #12619 closed

[2017-08-30 21:51] quaeler commented on #8531
Thanks @ebrevdo - any reason not make this into a PR for tensorflow master?

[2017-08-30 22:10] abrahamrhoffman commented on #4272
Thanks! This was helpful :)

[2017-08-30 22:15] thangduong commented on #1604
+1.  I am also interested in this!

[2017-08-30 22:45] kbsriram opened #12715 "C++ gradients: reduce_min, reduce_max"
Anyone already working on adding these two operators to the C++ gradients? Otherwise, I'll sign up for it.

/cc @bpiel @suharshs

[2017-08-30 22:59] bpiel commented on #12715
@kbsriram Not me. Thanks for asking.

[2017-08-30 23:12] riklopfer commented on #11948
@asimshankar thanks for the fixes. Were you able to reproduce the issue of ever-increasing memory consumption? Any idea what the next steps might be?

[2017-08-30 23:12] xcyan commented on #10059
I think this problem has not been solved in tf v1.3.

[2017-08-30 23:22] yongtang commented on #7391
Added a PR #12716 for the fix.

[2017-08-31 00:14] ebrevdo commented on #8531
Please ignore my commit; this was written by @asimshankar and will show up on master soon.

[2017-08-31 00:36] harishkashyap opened #12717 "The installation instructions not updated for latest Mac OS X."
Please update instructions; ML engineers dont have time to waste spending on configurations.

[2017-08-31 02:02] facaiy commented on #12686
@kbsriram @skye Thanks for your enlightening and detailed guide. I agree that it's better to start with easier task at first. Hence, I'd like to work on `LGamma` and `Erf` as suggested.

If someone else is interested in `SoftmaxCrossEntropyWithLogitsGrad` as well, please let us know, and just go head and take over it.

[2017-08-31 02:05] BeginnerTensorflow opened #12718 "how to find distance from camera to object?"
hello.
i am a beginner.
how to find distance(Meter) from camera to object with tensorflow?
Thanks.

[2017-08-31 02:56] #8531 closed

[2017-08-31 02:56] #12385 closed

[2017-08-31 03:06] suiyuan2009 commented on #4651
@passerbydj, still meet hang problem using the latest tf version?

[2017-08-31 03:31] yongtang commented on #12641
The implementation of CopyFile in PR #12658 has been updated with calling `sendfile` in Linux for posix file systems. Please take a look.

[2017-08-31 03:59] yongtang commented on #10124
Added PR #12719 to support uint16 for tf.decode_raw.

[2017-08-31 04:37] g10guang commented on #7778
@Carmezim  If I compute with GPU, will I got this warning?
And how to know if tensorflow run with GPU or CPU?
Thanks.

[2017-08-31 05:41] prashantmaheshwari94 commented on #3628
@tangyanlin Can you tell me how you made it work? How you identified unused node and removed it?

[2017-08-31 05:42] TomorrowIsAnOtherDay opened #12721 "dataset with tf.pyfunc error"
The new IO API is awesome, but I found this error in my project.
![image](https://user-images.githubusercontent.com/25046619/29908076-feb68952-8e51-11e7-8bd2-feed44d143cb.png)
 I tried to get some index from dataset, then make a batch index,
given the batch index, I got the features from memory which used tf.py_func API, but I found this error.
Invalid argument: Shapes of all inputs must match: va

[2017-08-31 06:06] ggaemo commented on #10815
@ebrevdo
hello, I noticed something strange about your comment on ScheduledOutputTrainingHelper. Shouldn't the sampling_probability be 1 during the inference phase? The API documentation says that the sampling_probability is the probability of sampling from the outputs instead of reading directly from the inputs.

[2017-08-31 06:06] d4l3k commented on #8641
Is there any plan to fix this? Seems that Tensorflow should definitely support the latest NDK version,

[2017-08-31 06:11] sdlmw commented on #12697
@quaeler @jart  ok，thank you. But I'm running with 8G of RAM maximum use 2G.And then it ends. I processed the file 15M。Whether the TensorFlow itself causes an exception to be thrown

[2017-08-31 06:19] vitutc commented on #12084
Hi I am having a similar issue in which prediction on GCP ML-ENGINE gives an error related to the "data_format" attr using mobilenet_v1 from the tutorials:

Tried asking in StackOverflow but nothing so far
https://stackoverflow.com/questions/45953344/getting-error-on-ml-engine-predict-but-local-predict-works-fine

[2017-08-31 06:26] krishnadn opened #12722 "from tensorflow.python.ops.gen_audio_ops import *"
I am trying to follow the steps as per the readme file.
I get an import error.
After i inspected the repo i found that "gen_audio_ops" is missing under tensorflow/python/ops package.

Following is an image which shows the import
![image](https://user-images.githubusercontent.com/17523473/29909246-9f1e1b0e-8e42-11e7-8f89-d601281d38c0.png)

Can you please help to get me the said package.

[2017-08-31 06:27] leemgs commented on #12162
In case of Caffe2, I have merged(https://github.com/caffe2/caffe2/pull/877) a build script to run Caffe2 library on the Tizen software platform previously.

Anyone who tried to do related works to support the Tizen platform in case of Tensorflow? Any comments and experiences will be helpful to us.

[2017-08-31 07:11] prachm commented on #8623
I can confirm that `pip install tensorflow` works. My configuration - Windows 7, 64 bit. I upgraded to Anaconda 4.4 and python 3.6.2. I had a previous installation of TensorFlow 1.2 installed using the following command `pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.3.0rc2-cp35-cp35m-win_amd64.whl `

All I had to do was `pip uninstall t

[2017-08-31 07:42] molyswu opened #12723 "uploads tensorflow as follow error:"
uploads tensorflow as follow error:

ImportError: numpy.core.multiarray failed to import   Failed to load the native TensorFlow runtime.  See https://www.tensorflow.org/install/install_sources#common_installation_problems

Thank you for your help!

[2017-08-31 08:31] sdvillal commented on #12683
For what it is worth, I think I'm observing the same problem with our models. The bug seems to be present in both tensorflow 1.2.1 and 1.3.0, no matter how they were compiled - I have tested with a couple of variants. CUDA 8, CuDNN 6 and 1080Ti.

If useful I can upload a frozen version of one of these models.

[2017-08-31 08:43] rahasayantan commented on #9445
I am using Ubuntu 14 (Trusty) as I had mentioned earlier. Anyway, I will be eagerly waiting for TF to roll out support for AMD. Guess it was anyway a bad decision to buy AMD..

[2017-08-31 08:46] #12712 closed

[2017-08-31 08:48] memo commented on #12712
Sorry, issue was a scope naming issue (skipping the encoder meant that the auto numbering of dense layers changed. Giving them all explicit names addressed the issue. So not a bug, user error).

[2017-08-31 08:51] hewei1990102 commented on #2397
Use tensorflow 1.3 version still got the same issue. It seems not the hardware problem.

[2017-08-31 09:08] winne42 commented on #8286
@albertz The official TensorFlow documentation states that NCHW is (typically, not always!) faster on GPUs: https://www.tensorflow.org/performance/performance_guide#use_nchw_imag

[2017-08-31 09:20] namp opened #12724 "Flatten all gradients in an MLP to a tensor of rank 1 (i.e. 1D array)"
Suppose the following Keras model:

[code]
Obviously we can calculate the gradients by:

`grads = K.gradients(loss, params)
`

which just calls:

`tf.gradients(loss, variables, colocate_gradients_with_ops=True)
`

This returns a list of tensors containing:

1) a tensor with 512x784 elements (input to hidden connections)
2) a tensor with the biases of the 512 units in the hidden layer
3) a tensor w

[2017-08-31 09:26] chococig commented on #10815
@ebrevdo
hello, I also have a question about ScheduledOutputTrainingHelper. I'm currently doing regression using ScheduledOutputTrainingHelper. But, in the inference stage, is it right to set the sampling probability to 1 and use an arbitrary input? For the classification case, GreedyEmbeddingHelper can be used, but for regression there is no Greedy'Output'Helper.

* sampling_probability: the prob

[2017-08-31 09:45] eyaler opened #12725 "error bazel building quantize_graph with cuda"
this is for tf 1.3 and bazel 0.53 with cuda 8 and cudnn 6 on windows 10 64 and python 3.6

$ bazel build tensorflow/tools/quantization:quantize_graph  --verbose_failures
____Loading complete.  Analyzing...
____Found 1 target...
____Building...
____[0 / 10] Linking tensorflow/python/gen_state_ops_py_wrappers_cc.exe [for host]
____From Linking tensorflow/python/gen_state_ops_py_wrappers_cc.exe [for

[2017-08-31 09:48] willyycn opened #12726 "AssertionError: Cannot find .runfiles directory for bazel-bin/tensorflow/python/tools/freeze_graph"
After I install the tensorflow from source, i'm trying to use freeze_graph tool, and it appear this error.
My OS is MacOS 10.12.5

[2017-08-31 09:53] manzajohn commented on #10104
@jubjamie Am also facing the same issue,
INFO:tensorflow:Looking for images in 'female'
WARNING:tensorflow:No files found
INFO:tensorflow:Looking for images in 'male'
INFO:tensorflow:Looking for images in 'shoes'
WARNING:tensorflow:No files found
ERROR:tensorflow:Only one valid folder of images found at tf_files2/images - multiple classes are needed for classification.

Two folders images are not

[2017-08-31 09:57] ruppeshnalwaya1993 commented on #9661
@lissyx What will the bazel build command to build say `//tensorflow/compiler/aot:runtime` for iOS or android target? Just running `bazel build tensorflow/compiler/aot:runtime` builds default `libruntime.a` which is neither for target android or iOS.

[2017-08-31 10:01] TomorrowIsAnOtherDay commented on #12721
I solved the Problem: convert the results' type into tuple instead use of list.The official Guide document should update.

[2017-08-31 10:52] vaibhavsood commented on #11603
Hi @benoitsteiner , @rmlarsen ,

Wanted to check if can get any inputs on this issue.. thanks!

[2017-08-31 11:04] lissyx commented on #9661
I don't know, I'm just documenting how I got things to work in my case.

[2017-08-31 11:05] didw opened #12727 "Is tf.one_hot() w/ GPU not working under windows10?"
I'm trying to run tensorflow in Windows10 environment.
When I use `tf.one_hot` function with GPU then it occur error.
Below is test code, and it's working find in Ubuntu.

### Test code
[code]

### Error
[code]

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

[2017-08-31 11:25] ashishagni5 opened #12728 "Run Retrained inception model"
I have trained tensorflow inception v3 model with new data sets. (on ubuntu)
I got output_graph.pb and output_labels.txt files in tmp folder.
When I tried to run as below

python label_image.py --image /home/ubuntu/140924_HDR3DSC_0092_ISO00050_SS1250.JPG --graph /tmp/output_graph.pb --labels /tmp/output_labels.txt

I got below errors

  File "label_image.py", line 121, in <module>
    input_operat

[2017-08-31 11:45] anandcu3 commented on #9958
@kwotsin @petewarden  @andrewharp Were you able to solve this issue? I've hit the same error..

[2017-08-31 12:14] zzznaveen opened #12729 "NO documentation for Linux SUSE SLES 12"
Hello Team,

I struggled to get the clear documentation for Linux SUSE SLES12. Now a days one single rpm usually contains the entire install able binaries.

Could you please add this as new feature?

Regards,
Naveen

[2017-08-31 12:36] louishenrifranc commented on #12003
Great thanks!

[2017-08-31 12:47] kwotsin commented on #9958
@anandcu3 Did you try removing `quantize_nodes` from your transformation?

[2017-08-31 12:51] anandcu3 commented on #9958
@kwotsin But isn't `quantize_nodes ` necessary for improving performance ?

[2017-08-31 13:08] kwotsin commented on #9958
YMMV but the last time I tried it, this gave me worse results instead. I think it shouldn't take too long for you
to verify whether it gives better accuracy or not - perhaps you can try it and see if your results does improve.

[2017-08-31 13:13] anandcu3 commented on #9958
@kwotsin  I tried it and you are right the ` Fatal signal 11 (SIGSEGV), code 1` error is resolved, but overall there is no change in either accuracy or performance. The output is the same

[2017-08-31 13:19] ruppeshnalwaya1993 commented on #9661
@lissyx Ok, np. Thanks for your help. :)
@cancan101 Any update on cross-compilation documentation? Any comment from you will be very helpful.

[2017-08-31 13:28] tadas-subonis opened #12730 "Op type not registered 'CudnnRNNParamsSize' in binary"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: example
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Win10 64bit
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 3.6
- **CUDA/cuDNN version**: Cude - 8.0, cuDNN - 6.0
- **G

[2017-08-31 13:41] BeginnerTensorflow commented on #12718
please cove me.
nobody to answer my question?
Nobody knows the answer?
pls.

[2017-08-31 14:14] quaeler commented on #12697
@sdlmw This user also ran into your same issue: https://github.com/tensorflow/tensorflow/issues/10826

Perhaps reach out to them for assistance?

[2017-08-31 14:33] hhxxttxsh opened #12731 "Reproducing results in tensorflow"
Hi All,

I set the graph-level seed and op-level seed to be 0, and run the same script for 10 times. However, for a different run, 5 out of 10 times, the results are exactly the same (weights in the model and the training loss). For the other 5 times, the results are completely different for each run apart from the initialization steps.

Anyone has any idea of what is going on here?

Thanks!

[2017-08-31 15:10] axelv commented on #11613
Try implementing a custom key generator. If you use the option `make_keys_unique=True` Tensorflow uses a random key generator with a 100 mil possibilities:
[sequence_queueing_state_saver.py](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/contrib/training/python/training/sequence_queueing_state_saver.py)
[code]
A counting key generator fixed it for me:
[code]
[code]
However, I don't

[2017-08-31 16:24] tianzhou commented on #9503
The initial sql op support is committed: https://github.com/tensorflow/tensorflow/commit/8dac0eb067662ba69a7eb72e640d8ff8d146e5c9

It's currently a bare minimum supporting sqlite with TEXT type only, but it should be able to serve as a starting point to support other sql engine.

[2017-08-31 16:30] Sunflower4711 opened #12732 "Has anyone tried to visualize this program with tensorboard?"
I was trying to visualize the vectors with thensorboard, but it did not work, it was loading for over 30 minutes, what is wrong?

[2017-08-31 16:31] raoconn commented on #11613
The counting key generator did not solve the problem for me, nor did combining the counting key with `make_keys_unique=True`.  I did learn that the error is happening (when I run with LSTM cells, 2 layers, and `num_epochs=1`, anyway) on the 111th item, but I don't think that's relevant.

I continue to find it odd that changing parameters that have no effect on the arguments passed to `batch_sequen

[2017-08-31 16:31] kwotsin commented on #9958
@anandcu3 To verify with you, 'no change in either accuracy or performance' - does it mean the accuracy is retained as your original model, or is the poor performance retained? I think `quantize_nodes` is still largely experimental now, but so far I've seen quite good results with just `quantize_weights` alone.

[2017-08-31 16:35] quaeler commented on #12730
I can confirm that the Op exists in the `build_pip_package.runfiles/org_tensorflow/tensorflow/contrib/cudnn_rnn/python/ops/_cudnn_rnn_ops.so` built from the head of master (yesterday), so perhaps this is an issue that has been fixed and will be in the 1.4 release.

[2017-08-31 17:22] shoeffner commented on #7068
@stevendavis We managed to run some models on the SGE, but it's tricky because you always run into walltimes and have to somehow handle them properly. Additionally the creation of the ClusterSpecs is not really trivial, as you submit to queues and not to hosts. But by making some tweaks you can actually do it.

I didn't have too much time to make some proper write up, but you can skim [https://git

[2017-08-31 17:26] ohernpaul commented on #6509
I can confirm that upgrading to higher than 0.12 resolved this issue.

[...gpu_event_mgr.cc:198] Unexpected Event status: 1 lead me to this thread

My machine has 2 1080s running tf 0.12.0rc1 and using tf.onehot, causing my gpu driver to crash, as well as python.

Upgraded to tf 1.0.0 and updated some concat and SparseTensor calls, and my program worked.

[2017-08-31 17:48] RylanSchaeffer opened #12733 "Incompatible Shapes during Validation for TensorFlow's seq2seq module"
I'm using TensorFlow's seq2seq module. During validation, my decoder will occasionally produce output sequences with different lengths than the target sequences; this causes the following error when calculating the loss using `tf.nn.sigmoid_cross_entropy_with_logits` (batch major, not time major):

`InvalidArgumentError (see above for traceback): Incompatible shapes: [128,22,4] vs. [128,26,4]`

Wh

[2017-08-31 18:15] julienbelan commented on #2373
Is there anyway to mask the padding 0s then, I use to do it before embedding but it made my autoencoder lazy (obviously). I've heard that embedding twice with the second time with idx set to some 0 mask worked. Anybody heard of that?

[2017-08-31 18:40] #12082 closed

[2017-08-31 18:43] Zumbalamambo commented on #12695
@jart if I ask this question in stackoverflow, people are redirecting me to github repo. if i ask this in github, people are redirecting me to stackoverflow. I have asked it [already](https://stackoverflow.com/questions/45931097/bundle-tensorflow-for-desktop) in stackoverflow but no answers so far

[2017-08-31 18:44] Zumbalamambo commented on #12695
@quaeler let me try that

[2017-08-31 19:01] riklopfer commented on #11948
Updating CUDA and Nvidia drivers seems to have greatly mitigated the problem for me. I added [updated valgrind output](https://github.com/riklopfer/TensorflowJavaGpuMemoryTest/blob/master/updated-valgrind.out) to the test repo.

[2017-08-31 19:26] jart commented on #12729
Our main OS support matrix is: Ubuntu Linux 14 LTE to 16. Mac OS X El Capitan. CentOS 7 and above. We have very little familiarity with SUSE. If we wrote a guide, it wouldn't be nearly as good as what experts in the community are able to produce. Consider reaching out on Stack Overflow for community support.

[2017-08-31 19:26] #12729 closed

[2017-08-31 20:08] marcwants2lrn commented on #10756
Hello, I've encountered this issue. I tried pip install tensorflow-tensorboard but it didn't work. This is screenshot of the files in the logdir. I'm not sure if its an issue or i'm doing something wrong but the same code worked (showed embedding no metadata) then nothing.
![image](https://user-images.githubusercontent.com/31519736/29943079-6af1b6c0-8e6e-11e7-8932-6b1fc72f28ed.png)

Here is the te

[2017-08-31 21:05] hhxxttxsh commented on #12731
In this link: https://stackoverflow.com/questions/45865665/getting-reproducible-results-using-tensorflow-gpu?newreg=4a6ec43834884576a175961e7f2188db

They mentioned that the tf.reduce_sum function has been fixed in a certain commit to solve the tensorfow-gpu non-determistic problem.

Has anyone tried the nightly build version in GPU mode? can it resolve the non-deterministic problem?

[2017-08-31 21:42] ppwwyyxx commented on #3649
Looks like this is the commit? d93a55b8
Somehow it wasn't merged to master.

[2017-08-31 21:43] dpressel commented on #6110
I think the details of the original issue are out of date, but it still doesnt seem possible to use sparse tensors as part of a signature.  Is this intended behavior?

From this doc:

https://github.com/tensorflow/serving/blob/master/tensorflow_serving/g3doc/signature_defs.md

"Note that TensorInfo itself requires specification of name, dtype and tensor shape. While tensor information is already p

[2017-08-31 22:55] ydzhang12345 commented on #12722
I ran into similar issue. But if you built from source you will see that. Look like it will be generated during building.

[2017-08-31 22:59] quaeler commented on #12722
Ya - all files prefaced by `gen_` are files that are **gen**erated during the build process (for example ops in Python because they are built by a processor that examines the actual C code containing the operations.)

[2017-08-31 23:15] sguada commented on #12704
As @ppwwyyxx mentioned you are creating a bigger and bigger graph each time.

Try to create the graph once and use it multiple times, for example

[code]

[2017-08-31 23:33] ekelsen commented on #3649
It had to be rolled back, will be going in again shortly.

[2017-08-31 23:46] MtDersvan commented on #7094
@drpngx Almost, it must handle a tensor rank and shape properly, to work with multi-dimensional tensors as well as with one-dimensional, and not to mix up when its a multi-label vs single-label*batch_size.
E.g. `tf.reduce_max(tf.one_hot(labels, num_classes), proper_axis)` where `labels` can have different shapes and batch_sizes:
[code]

[2017-08-31 23:48] victortxa commented on #12101
It has happened to me too and the `bazel build`(`bazel build -c opt --copt=-mavx --copt=-mfpmath=both --copt=-msse4.2 -k //tensorflow/tools/pip_package:build_pip_package`) failed. However, after I did `bazel clean` the build was successful, but some warnings still appeared (showed below). Also, there were a huge amount of `INFO` messages (I was not able to copy all and paste here). I was with the

[2017-09-01 00:02] Mistobaan commented on #11859
this problem still exist in bazel 5.3 and 5.4. If you build for the 1.2.1 branch. Going back to 5.2 fixed the problem.

[2017-09-01 00:27] cgarciae commented on #7590
@aribornstein Link is broken.

[2017-09-01 00:46] nectario commented on #10708
@tcmxx I finally got back from vacation and tried out your file! It actually worked! Nice. Thank you. Although I got the following message in the output. Seems that my Cuda capability is 3.5. Time for a new graphics card upgrade??

**OUTPUT:**
[code]

[2017-09-01 00:51] ahundt commented on #754
I also seem to encounter this:

[code]

[2017-09-01 00:54] Mistobaan opened #12735 "Magic name directories prevent to embed the mkl library"
For some reasons the build_pip_package script sues the magic directory `solib_k8`.
That directory does not exists if you compile mkl on a vm machine, where the libraries are added under `_solib_local`.

[code]

[2017-09-01 01:41] strategist922 opened #12736 "Tensorflow 1.3 with Python 3.6.2 under Windows 10 64 Bit OS has issue when run tensorflow/tensorflow/examples/image_retraining/label_image.py"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-01 02:39] kishorenayar opened #12739 "TF 1.3 keras TimeDistributed wrapper issue - rnn() got an unexpected keyword argument 'input_length'"
When I use TimeDistributed  wrapper from keras I'm getting unexpected keyword argument 'input_length'

# **System Info:**

**Windows 10**
**TF 1.3.0**
**Python 3.5**

**Code :**

[code]

**Exception:**
Traceback (most recent call last):
  File "D:/PlayGround/Git/Coding2Fun/Blog/DeepLearning/Quora-NLP/model.py", line 103, in <module>
    nn.train(input_fn=train_input_fn, steps=100)
  File "D:\Progr

[2017-09-01 02:39] CaffGeek commented on #12728
I'm getting the same thing

[2017-09-01 02:40] ydzhang12345 opened #12740 "[Feature Request]: fold batch norm into convolution weights of graph transform tool"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.3.0
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0.5.1

[2017-09-01 02:46] ioannisnousias commented on #8033
@skye with your help I have an 'almost' working program using the C API libtensorflow.so.

I run into the following problem. I get this error message:
W tensorflow/core/common_runtime/device_mgr.cc:94] Unknown device: /job:localhost/replica:0/task:0/cpu:0 all devices:
/job:localhost/replica:0/task:0/cpu:0 unknown device.

I've compiled the library like so:
bazel build -c opt //tensorflow/tools/lib

[2017-09-01 03:09] Ben-Park commented on #9071
The problem above is not related to "export" because he already have .375.38 but TF asked another version. In my case, i have 375.66 but TF asked 375.74. In my case, i solved @royshan 's advice. it seems worked.

[2017-09-01 04:00] yaroslavvb commented on #8286
ah yes, I got h's and c's backwards, edited

[2017-09-01 04:01] sdlmw commented on #12697
Finally I found out that the graphics card memory is low. thanks @quaeler @jart

[2017-09-01 04:43] astewartau commented on #12728
I am having this issue as well.

[2017-09-01 04:45] astewartau commented on #12736
I am having this issue as well. I am using WinPython rather than Anaconda. My Tensorflow version is also 1.3 and Python 3.6.2.

[2017-09-01 05:16] rshin opened #12743 "Gradients with TensorArray fail after scatter of 0 size"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.3.0')
- **Python version**: 2.7.12
- **Bazel version (

[2017-09-01 05:23] anandcu3 commented on #9958
@kwotsin Accuracy is retained and the performance is also the same as original model..

[2017-09-01 06:14] MMMzq opened #12744 "a"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-09-01 07:07] nolanliou opened #12745 "Distributed tensorflow - Stuck at "CreateSession still waiting for response from worker""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.0 && 1.3
- **Python version**:
2.7
- **CUDA/cuDNN version**:
no

### Describe the

[2017-09-01 07:32] iAInNet commented on #3834
I think it's a proxy problem. You can export PAC file from some proxy tools such as SwitchyOmega. Then overwrite PAC file of shadowsocks.

[2017-09-01 07:46] AakashKumarNain opened #12746 "Feature Request: Loading weights for layers defined in tf.layers api"
Let's say I define a layer using the `tf.layers` API as shown below:

[code]

Now I can build a whole network defining such layers. Can you please introduce another functionality for the `tf.layers` api so that for each layer we can set the weights in a single line like this:

`conv1.set_weights(weights)` or something like this `conv1.set_params(param_values)`

This would be very very useful.

[2017-09-01 07:46] idofr commented on #3332
There are 3 threads on this topic, all are closed without any proper conclusion. Is there any intention there?

[2017-09-01 08:43] mixml opened #12747 "How to build a full C++ API libtensorflow_cc.so for Android?"
### Describe the problem
When I use
[code]
to compile the full C++ API libtensorflow_cc.so for Android, but It can not work.

### Source code / logs
[code]

[2017-09-01 09:01] eyongbin opened #12748 "ImportError: DLL load failed @ VS2012 / PTVS 2.1.1 / Windows 7"
## System information
-OS Platform: Windows 7
-TensorFlow version: tensorflow-gpu==1.3.0
-CUDA/cuDNN version: 8.0/6.0
-GPU model and memory: GeForce GTX 750
-IDE: Visual Studio 2012/PTVS 2.1.1/virtualenv==15.1.0

## Problem
I installed tensorflow-gpu in "virtualenv".
Under the following environment, it works well.
    @Command prompt: activate "virtualenv" > start python > import tensorflow :
Howe

[2017-09-01 09:35] manishvatsa opened #12749 "Android- Tensorflow model loading issue"
I have saved model using tf.train.Saver.save() and then freeze the graph bu using below method:
def freezeModel(modelName):
    input_graph_path = modelName + '.pb'
    checkpoint_path = './' + modelName + '.ckpt'
    input_saver_def_path = ""
    input_binary = True
    output_node_names = "x_indices,x_values,x_dense_shape,unary_scores,transition_params,train_op"
    restore_op_name = "save/resto

[2017-09-01 09:36] #12422 closed

[2017-09-01 09:38] nolanliou commented on #12745
@mrry Could you help to take a look? thanks.

[2017-09-01 10:00] manishvatsa commented on #8275
I am facing the same issue while creating SparseTensor() with indices dtype int32.
SparseTensor with int64 data graph is not loading in Android.
Error:
Caused by: java.io.IOException: Not a valid TensorFlow Graph serialization: Value for attr 'T' of int64 is not in the list of allowed values: float, int32
; NodeDef: Less_1 = Less[T=DT_INT64](ToInt64_2, ToInt64_3); Op<name=Less; signature=x:T, y:T

[2017-09-01 10:12] manishvatsa opened #12750 "Android-Tensorflow model loading issue with SavedModelBundle.load()"
Loading the model in Android give below error:

FATAL EXCEPTION: main
                  Process: tensorflow.lgsi.com.posapplication, PID: 516
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{tensorflow.lgsi.com.posapplication/tensorflow.lgsi.com.posapplication.MainActivity}: java.lang.U**nsupportedOperationException**: **Loading a SavedModel is not supported in

[2017-09-01 10:21] AndyLin0128 commented on #7725
@nmehandru Hi,how to slove the problem,thanks.

[2017-09-01 10:22] AndyLin0128 opened #12751 "bazel build tensorflow/python/tools:optimize_for_inference failed"
$ bazel build tensorflow/python/tools:optimize_for_inference
ERROR: /Users/andylin/Desktop/gitwork/tensorflow/tensorflow/core/BUILD:1416:1: no such target '//tensorflow/tools/git:gen/spec.json': target 'gen/spec.json' not declared in package 'tensorflow/tools/git' defined by /Users/andylin/Desktop/gitwork/tensorflow/tensorflow/tools/git/BUILD and referenced by '//tensorflow/core:version_info_gen'.

[2017-09-01 10:24] sahildua2305 commented on #5834
I came here stuck at the same issue and the comment by @hughperkins solves it for me. Good catch! Thanks 😄

[2017-09-01 10:42] CharlesMei commented on #11974
X.get_shape().as_list()[-1]

[2017-09-01 11:03] TomorrowIsAnOtherDay commented on #5252
I have the same problem when trying to implement a multigpu version model with embedding layer.

What is officially recommended way of dealing with this "multigpu IndexedSlices" case? (could not find any; people keep asking)

[2017-09-01 11:21] Carmezim commented on #7725
@AndyLin0128 Hi Andy, have you tried installing Bazel following [these instructions](https://docs.bazel.build/versions/master/windows.html)?

[2017-09-01 12:31] avostryakov commented on #10685
@gunan Any progress to making MKL work on Mac OS?

[2017-09-01 12:48] lsy643 commented on #12667
@jart
Thanks for you time.
I ran my codes again, and when the distributed programs hung, I use gdb to extract the stack trace of the parameter server and workers, which are stored in specific attached files.

[ps0.log.txt](https://github.com/tensorflow/tensorflow/files/1270219/ps0.log.txt)
[worker0.log.txt](https://github.com/tensorflow/tensorflow/files/1270221/worker0.log.txt)
[worker1.log.txt](h

[2017-09-01 12:53] #12726 closed

[2017-09-01 13:37] emsansone commented on #9091
@JonathanRaiman I'm facing the same problem and I also suspect that it is due to the copying of numpy arrays in `feed_dict`

[2017-09-01 14:30] adityaatluri commented on #10703
Hi,
I started fresh as the plan is not to use AMD compiler (HCC). Here it is:

Code:
https://github.com/ROCmSoftwarePlatform/tensorflow/tree/rocm-v1

The build instructions are here:
https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/ROCM.md

I am getting the following error:
[code]

`build_defs.bzl.tpl` is present here: https://github.com/ROCmSoftwarePlatform/tensorflow/blob/rocm-v1/

[2017-09-01 14:43] MariMax commented on #2412
@avanish Solution for the last issue can be found [here](https://github.com/tensorflow/tensorflow/issues/12482#issuecomment-325713891)

[2017-09-01 14:48] gunan commented on #10685
While by locally downloading MKL and setting `LD_LIBRARY_PATH` to point to mkl dylib files you can make it work, we are blocked on https://github.com/bazelbuild/bazel/issues/407 to enable MKL fully on macos.

[2017-09-01 14:49] robert197 commented on #37
+1

[2017-09-01 15:02] RenatoUtsch commented on #12123
This is fixed with Bazel 0.5.4.

Just upgrade and these warnings won't happen anymore. No need for the `-Werror` hack too.

[2017-09-01 15:46] ankitkv opened #12753 "tf.image.resize_bilinear has nearest neighbor gradients when downscaling"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
binary

- **TensorFlow version (use command below)**:
v1.2.0-5-g435cdfc 1.2.1

- **Python version**:
3.5.2

### Describe the problem
Wh

[2017-09-01 15:53] LingjiaDeng commented on #7696
I saved the model using V2 format, which gives me three files:

- model-10000.data-00000-of-00001
- model-10000.index
- model-10000.meta

As @tangyanlin metioned, using the prefix. My input parameter is `--input_checkpoint checkpoints/model-10000` (NOT including the period) which works.

[2017-09-01 16:16] mrry commented on #12748
We build the TensorFlow release with Visual Studio 2015. It's possible that your 2012-based setup lacks MSVCP140.dll. See [this Stack Overflow answer](https://stackoverflow.com/a/44296533) for more details.

[2017-09-01 17:06] asimshankar commented on #11948
Thanks for the update @riklopfer
Sampling the latest output, I'm not sure if there are false positives or actual leaks (e.g., many leaks are reported in `CreateJavaVM`, which IIUC has nothing to do with TensorFlow, it's just JVM initialization.

When you say "greatly mitigated", are you still seeing a monotonic increase in memory usage over time, or does it stabilize?

[2017-09-01 18:06] michaelisard commented on #12696
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-01 18:06] #12696 closed

[2017-09-01 18:06] michaelisard commented on #12718
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-01 18:06] #12718 closed

[2017-09-01 18:11] michaelisard commented on #12724
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-01 18:11] #12724 closed

[2017-09-01 18:23] michaelisard commented on #12730
It looks as if that tutorial was not present in 1.3 so it is possible it won't work unless you use a more recent version. Can you try that?

[2017-09-01 18:23] michaelisard commented on #12732
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-09-01 18:23] #12732 closed

[2017-09-01 18:26] michaelisard commented on #12728
This looks like the same as #12736 which has a workaround in the comments.

[2017-09-01 18:36] namp commented on #12724
Yes you are right - sorry about that. I was just hoping to reach more tensorflow experts here

[2017-09-01 18:46] suissemaxx commented on #11045
Same problems here. Did anyone find a solution to this?

[2017-09-01 18:53] 3rd3 opened #12754 "Issue with tf.py_func, tf.Tensor.set_shape and tf.Queues"
This works fine:
[code]

But simply setting the shape with `tf.Tensor.set_shape` instead of reshaping does not work:

[code]

Even though this works fine:

[code]

[2017-09-01 19:57] yongtang commented on #8101
I tried with the latest master and it seems the issue has been fixed:
[code]

[2017-09-01 20:04] drpngx commented on #8101
Thank you for reporting back!

[2017-09-01 20:04] #8101 closed

[2017-09-01 20:16] mrry commented on #12745
Does the problem consistently affect workers 12 and 17, and not other workers? If so, is there anything unusual about those workers' network configurations?

[2017-09-01 20:29] zacharynevin commented on #8465
+1

[2017-09-01 20:39] slacy opened #12755 "build_default_serving_input_fn() uses a name that is not a valid variable scope."
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 14.04 LTS
- **TensorFlow installed from (source or binary)**: SOURCE (pip install tensorflow)
- **TensorFlow version (use command below)**: ('v1.3.0-rc2-20-g0787eee', '1.

[2017-09-01 20:49] jhseu commented on #12046
We had to revert the fix. A minimal reproducible breakage is here:
[code]

[2017-09-01 20:53] nicaogr opened #12757 "[Feature Request]: Resize netwoks on the fly"
Hi,

Do you plan to change the present paradigm about tensorflow neural network that make the networks size to be static after using run ?

Is it plan to be able to resize on the fly the network shape (number of kernels, type of activation function, type of down sampling) during the training for instance.

Thanks.

[2017-09-01 20:57] nicaogr opened #12758 "[Feature request]: Hyper Parameters optimizer"
Hi,

Do you plan to add a code in order to optimize automatically the hyper-parameters of deep learning algorithm ? (number of hidden layers, value of the learning rate, type of down-sampling etc).

Best,

[2017-09-01 21:49] j2kun commented on #1965
I needed to add a `-U` to the command to get it to work: `sudo easy_install3 -U six`

[2017-09-01 22:11] michaelisard commented on #12754
I think set_shape is just a hint to the shape inference code to fill in unknown shapes, and doesn't reshape the underlying Tensor. You should just use reshape here (which you report works). Closing for now, but please reopen if I misunderstood the issue.

[2017-09-01 22:11] #12754 closed

[2017-09-01 22:32] nolanliou commented on #12745
@mrry, thanks for your reply.

Yes, it's consistent between worker 12 and 17, they wait for each other and other workers wait for them. But other workers could connect each other, so it's confused.

All workers use the same configuration. use k8s to schedule the network.

[2017-09-01 23:24] #12744 closed

[2017-09-01 23:30] yongtang commented on #12755
I think the issue could be fixed by using tensor's op name (`t.op.name`) instead. Created a PR #12759 for the fix.

[2017-09-02 00:39] DeliciousHair opened #12760 "typo in config.py (line 688)"
Currently is:

[code]

should be:

[code]

(note the extra space in the current version)

[2017-09-02 00:40] Mistobaan opened #12761 "Allow to build tensorflow as a bazel external dependency."
It would be nice to be able to just add a @org_tensorflow in bazel and be able to build it as a dependency.

At the best of my knowledge the syntaxnet dockerfile is the best example on having tensorflow as a submodule.
https://github.com/tensorflow/models/blob/c259259299db3b486ccdfd6cdec44b884623053a/syntaxnet/Dockerfile#L63

But still building it is not straightforward and probably does not work

[2017-09-02 00:58] rnunziata commented on #7378
I have the same issue seg fault in in tensorflow cv3 is imported (python) got around this by using pygame and sci-image..

[2017-09-02 03:35] printdhruv commented on #12760
Opened issue at [Request](https://github.com/tensorflow/tensorflow/pull/12762)

[2017-09-02 04:22] nolanliou commented on #12046
I'm confused where the attribute type will become the ref-type.

[2017-09-02 05:28] aritrabasu104 commented on #8623
@gunan /@prachm i had to use` conda install `otherwise was getting the previous error

[2017-09-02 05:52] eyongbin commented on #12748
After running your script "https://gist.github.com/ee5dbcfdd045fa48a27d56664411d41c.git",
I can use "tensorflow-gpu" successfully. I appreciate your quick reply.

[2017-09-02 07:29] sarah-zaheer commented on #12722
I faced the same issue. I built tensorflow from source,but still getting the same issue. What else do I have to build from source to get this file? very confused :/

[2017-09-02 07:58] eaigner commented on #12699
Can you assign @petewarden ?

[2017-09-02 08:07] HaNgocLong commented on #9701
Just move directly to the summary files' directory and then type
`python -m tensorflow.tensorboard --logdir={yours directory}`

It works

[2017-09-02 12:12] lijhong opened #12764 "the side &deep model is not good compare with deep model and wide model"
these days ,I'm learning the wide & deep model ,and run the  wide_n_deep_tutorial.py, so the anwser looks like this:

XXT@apptruexxnet:~$ python wide_n_deep_tutorial.py  --model_type=deep
Training data is downloaded to /tmp/tmpFB4dsd
Test data is downloaded to /tmp/tmpomj5Pi
2017-09-02 20:03:15.713609: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to us

[2017-09-02 12:20] subzerofun commented on #11761
@rafaelsimonmaia Thanks for the links! Unfortunately there is only a python 3 install in the Compute 6.1 folder. Do you maybe have build a .whl file for python 2.7 too? I have two cards with Compute Abilities: **3.5** (gtx 780) and **6.1** (gtx 1080 ti). So unfortunately i can't use your python 2.7 file (it's for Compute 5.2).

Do you maybe also have a working .whl file for TF 1.3 (and some instru

[2017-09-02 14:01] gauss-clb opened #12765 "Three questions about ChiefSessionCreator?"
* There are two parameters of [ChiefSessionCreator][1]: `checkpoint_dir` and `checkpoint_filename_with_path`,
what difference between them?

* And ChiefSessionCreator has a parameter [scaffold][2] which has a parameter `saver`, does it mean ChiefSessionCreator uses scaffold.saver to save and restore variables?

* And scaffold also has a parameter `init_fn`, and it can be used like
init_fn=[assign_

[2017-09-02 15:16] quaeler commented on #12722
@sarah-zaheer It would be most straight forward if you built the pip builder:
[code]

After that completes, you could either build a wheel archive to install with pip by doing
[code]
or if your interested in this specific generated file, it should be at
[code]

[2017-09-02 15:22] hushanxue commented on #3309
Excuse me, how to resolve this  problem?  Not found  tensorflow/core/framework/device_attributes.pb_text.h when using vs 2015 to compile tensorflow, window 10.

[2017-09-02 16:18] sarah-zaheer commented on #12722
@quaeler  Thank you very much :) Do I move this file to 'tensorflow/python/ops/' now?
OR would it be better if I changed the path and pointed it to 'bazel-genfiles/tensorflow/python/ops/'?

[2017-09-02 16:24] carlthome opened #12767 "tf_library syntax error: '+' operator applied to incompatible types (select of string, list)"
Forgive me if I'm missing something obvious here (new to Bazel) but the tf_library Bazel rule seems to assume that `tfcompile_flags` is a string, while similar rules allow lists (cc_binary's copts for example). This is a gotcha that probably could be fixed easily.

# Example
[code]
will crash upon build with `'+' operator applied to incompatible types (select of string, list)`

The solution is to

[2017-09-02 16:30] carlthome commented on #12764
This is not a bug?

[2017-09-02 16:58] quaeler commented on #12722
@sarah-zaheer Were it me, i'd build the wheel and pip install into a virtualenv or a conda env. If you don't want to go that route, you could change the path, but try pointing it at
[code]
to pick up everything (adjusting that path for the name of your build architecture as necessary.)