[2020-03-25 12:29] MaximusMutschler commented on #36899
@jvishnuvardhan  It works. Thanks a lot!

[2020-03-25 12:31] #36899 closed

[2020-03-25 12:42] summelon commented on #37830
Update: It seems that "Identify" type ops(e.g. "resnet_v1_50/block1/unit_1/bottleneck_v1/conv1/weights/read" in tf-slim) and ReadVariableOp type ops(e.g.  "res4f_branch2a/kernel/Read/ReadVariableOp" in Keras) have similar characteristic when I check their type or shape.

I tried to detect "ReadVariableOp" instead of "Identify" Ops. However now another problem occured.

In TF-Slim, outputs of "*/we

[2020-03-25 12:47] bela127 commented on #34025
I think we had the same idea, exactly as I stated here #33649

[2020-03-25 12:47] Kaju-Bubanja commented on #28924
I am still getting this error and I am not using control_dependencies

[2020-03-25 12:51] aikho opened #37896 "tf.keras.losses.cosine_similarity() is not a negative quantity"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/keras/losses/cosine_similarity

## Description of issue (what needs changing):
Documentation states that tf.keras.losses.cosine_similarity() "is a negative quantity between -1 and 0, where 0 indicates orthogonality and values closer to -1 indicate greater similarity."
But it is actually not true. tf.keras.losses.cosine_similar

[2020-03-25 13:01] AshiakerWang opened #37897 "ERROR: An error occurred during the fetch of repository 'com_google_protobuf'"
**The following is my configuration:**

**System information** : Windows 10 Professional
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10 Professional
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed fro

[2020-03-25 13:41] PratsBhatt commented on #37219
You need tensorflow version 2.2.0 to make the code work.
Since 2.2.0, the padded_shapes argument is not mandatory.

You can see a start marked note here https://tensorflow.google.cn/tutorials/text/text_classification_rnn

[2020-03-25 14:10] ghost opened #37898 "TensorFlow Lite vs TensorFlow-TRT vs TesnorRT"
Hello

I am doing a benchmark between the Jetson Family (TensorRT, TensorFlow-TRT) and Coral (TensorFlow Lite).

1.	Can TensorFlow Lite work with any type of GPU? Or ONLY with GPUs of mobile and embedded devices?
For example, the NVIDIA Tesla T4 has a precision of INT8 like the Coral TPU.

2.	How does TensorFlow Lite optimize? Does it work like Tensorflow-TRT?
https://medium.com/tensorflow/high-pe

[2020-03-25 14:12] Lotte1990 opened #37899 "tflite | Build using Intel C++ compiler (Windows)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Source
- TensorFlow version: 2.2.0-rc1

Is it possible to build the TensorFlow Lite DLL for Windows 10 using the Intel C++ compiler? Would I need to create a new crosstool? Most info I found online is about Linux or building the pip wheel.

Linux: https://gro

[2020-03-25 14:16] kriskorrel-cw opened #37900 "Copying tensors to GPU fails non-deterministically"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-174-generic x86_64)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No
- TensorFlow installed from (source or
binary): `pip install

[2020-03-25 15:03] ysyyork commented on #35100
I'm using keras Sequence and saw this issue too. However it's weird if I only use one worker, it works well. I didn't use multiprocessing tho. 2 worker thread will leave the training hang and data show this error

[2020-03-25 15:33] Namburger commented on #37401
@haozha111 do you have any updates on this issue?

[2020-03-25 15:39] etsangsplk commented on #37811
yes please

[2020-03-25 15:39] #37811 closed

[2020-03-25 15:41] mrh335 commented on #37618
I am having the same issue. Using a Gcloud compute instance. The complete code to reproduce the issue is below. I have 4 x T4 GPUs on the machine.

import tensorflow as tf
strategy = tf.distribute.MirroredStrategy()

results in the following message
WARNING:tensorflow:There are non-GPU devices in `tf.distribute.Strategy`, not using nccl allreduce.
INFO:tensorflow:Using MirroredStrategy with device

[2020-03-25 15:47] CNOCycle commented on #35107
@raghavab1992 suggested that replace `tensorflow.python.keras.layers` with `tensorflow.keras.layers`.

This suggestion is mention by @liuxingbaoyu, too .

Unfortunately, this method did not work.

I also force ask BN layer to use V1 instead of V2. But the loss is still `nan` if users run low level API.

[2020-03-25 15:55] jsimsa commented on #35100
There was a bug for Keras sequence multi-processing implementation that was fixed in https://github.com/tensorflow/tensorflow/commit/e918c6e6fab5d0005fcde83d57e92b70343d3553. This will be available in TF 2.2 and should be already available in TF nightly.

[2020-03-25 16:17] CaedmonSwanson opened #37902 "Cannot get TensorFlow to work on Mac"
Hello everybody. I have done some programming in the past in C++, HTML, CSS and PHP but I wanted to get into AI. I had done a bit of python in the past (not very much though) and I thought that TensorFlow would be a good place to start. I am on a Mac (something I plan to change in the summer) and I was trying to follow this tutorial to get set up: https://www.youtube.com/watch?v=gWfVwnOyG78

To su

[2020-03-25 16:21] ramawidrap commented on #37542
hey thankyou i solved this issuee using3d array and i can run on the CPU. but when i ran on the GPU it become error. my mmodel was LSTM Bidirectional trained using keras

[2020-03-25 16:30] haozha111 commented on #37401
Have you ever tried the new MLIR based TF Lite converter?

It's already enabled by default in TF 2.2 or TF nightly.

[2020-03-25 16:30] mihaimaruseac commented on #19297
Interesting. But, afaik, the two rules should generate two different files in two different paths.

I need to set-up a Windows environment and check

[2020-03-25 16:32] mihaimaruseac commented on #32383
Can you reopen a new issue and fill in template, please? This issue has been closed and won't get updated anymore, since there are so many opened issue

[2020-03-25 16:32] gunan commented on #19297
That is a known issue.
Due to path length restrictions, bazel has these name clashes on windows
when running bazel test.
You need to add "--dynamic_mode=off" flag to your bazel test commands on
windows to be able to tests

On Wed, Mar 25, 2020 at 9:30 AM Mihai Maruseac <notifications@github.com>
wrote:

[2020-03-25 16:34] mihaimaruseac commented on #36235
No. Solution is at

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

If neither of those apply, please open a new issue,fill in template and mention that these steps don't work and why

[2020-03-25 16:35] mihaimaruseac commented on #36505
Sorry, but unfortunately due to COVID my work schedule became more chaotic. So it will still take some time. Apologies for this

[2020-03-25 16:46] pushkalkatara commented on #37401
@haozha111 Yes I tried with tf-nightly with MLIR enabled in TF Lite converter. Still facing this issue.

were you able to run this successfully?

[2020-03-25 16:55] samkleeman1 commented on #30818
I have the same problem as above, any updates?

[2020-03-25 16:58] mihaimaruseac commented on #37888
Did you run `./configure`? Can you try `bazel clean --expunge`, followed by `python configure.py` and then the build command?

[2020-03-25 16:59] mihaimaruseac commented on #37888
Also, see #37802 in case these have the same root cause

[2020-03-25 17:00] redeaglekiller commented on #32982
hi I think i solved the problem on my pc.

So it'll sound wired but..I think Windows defender was the problem.

I downloaded pycharm because I could not solve this problem, and I am intellisense addicted (lazy).
So the first time I started pycharm the program warns me that Windows defender could be a performance issue, and It asks to add the pycharm folders to the exclusion list. So I added the fo

[2020-03-25 17:06] ManishAradwad commented on #37896
I'll start working on this.

[2020-03-25 17:09] mihaimaruseac commented on #37896
Please tag me in PR fixing this

[2020-03-25 17:15] loicsacre commented on #36459
I have experienced the same observation and have been wondering why the rss is higher when using tensorflow working with the GPU vs CPU only. For a same running program, I have observed these rss percentages:

- CPU only : 6.7%
- GPU : 13,7%
- GPU (and allow_growth set to True) : 11.6%

[2020-03-25 17:15] mihaimaruseac commented on #37902
There is no `session.run` in TF 2.0 and later

[2020-03-25 17:20] bela127 opened #37904 "**debug feature** for debugging numeric instability, like nan or infinity"
**System information**
- TensorFlow version (you are using): nightly
- Are you willing to contribute it (Yes/No): cant do it alone, but willing to help

**Describe the feature and the current behaviour/state.**
I propose a **debug feature** for debugging numeric instability. The functionality should be similar to `tf.debugging.enable_check_numerics()` but more granular, but still more high level t

[2020-03-25 17:21] mihaimaruseac commented on #37891
What is the error you are getting? It's not visible in the screenshot. Please post the error (using ` ``` ` proper markdown around it) instead of a screenshot

[2020-03-25 17:22] nantha42 commented on #37902
You should use  parentheses for print()

[2020-03-25 17:23] mihaimaruseac commented on #37863
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-25 17:23] #37863 closed

[2020-03-25 17:24] mihaimaruseac commented on #37715
Is your python 64 bits? Does your CPU support AVX?

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-25 17:26] mihaimaruseac commented on #37715
Sorry, closed by mistake. I see you already installed the latest MSVC.

So questions left to triage are: are you using a 64 bits Python? Does your CPU support AVX?

[2020-03-25 17:27] mihaimaruseac commented on #23683
Please open a new issue if the indications at https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156 don't help. If you open a new issue, please fill in issue template.

Locking conversation as we already have some solution

[2020-03-25 17:27] mihaimaruseac commented on #37854
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-25 17:28] mihaimaruseac commented on #37854
Sorry, different issue. Please fill in issue template

[2020-03-25 17:29] mihaimaruseac commented on #37869
That message is just an information log, not an error, does not have any effect.

[2020-03-25 17:45] CaedmonSwanson commented on #37902
Wow. Thanks guys. I didn't think I actually setup the project correctly. You were right about the code, it was for an older version. I tested some code for TF 2.0 and it worked! Thank you so much.

[2020-03-25 17:45] #37902 closed

[2020-03-25 17:47] jdduke commented on #37623
Hi @lackhole, the issue you're hitting with the GPU delegate is unrelated to use of native APIs. If you can share your model we can diagnose what slice behavior is needed in the GPU delegate, but otherwise you'll have to use CPU inference for now. It's probably worth filing a separate bug for the GPU issue.

[2020-03-25 17:48] redeaglekiller commented on #32982
Nevermind....I installed the nightly version of tensorflow and It solved...

pip3 install tf-nightly

[2020-03-25 18:00] alanpurple commented on #37888
@mihaimaruseac

I've built tensorflow image more than 100 times, clean bazel and configure are very basic

and #37802 seems not to be relaeted

2.2.0rc1 was built successfully.

I'm not sure but  Nvidia updated their drivers recently(2 times), that's the only difference since my last successful build

[2020-03-25 18:14] #37888 closed

[2020-03-25 18:29] Thomas-Galtier commented on #37715
Yes its a python 64 bits. How do I know is my CPU support AVX?

[2020-03-25 18:50] dubey commented on #37693
Hi, can you clarify whether you can run nccl tests (no TF dependency) across nodes?  Can you also run with `NCCL_DEBUG` environment variable set to `INFO` and paste the logs?  Thanks.

[2020-03-25 19:23] gcovillo opened #37906 "No module named '_pywrap_tensorflow_internal'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

_**System information**_
**- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):** Windows 10
**- Mobile de

[2020-03-25 19:49] goldiegadde commented on #37900
@kriskorrel-cw Can you please add minimum code snippet preferrably in colab ?

[2020-03-25 20:06] maxkaustav commented on #37874
OK I WILL LOOK FOR THAT

[2020-03-25 20:08] maxkaustav commented on #37793
if your problem is solved please reply or close this issue

[2020-03-25 20:12] okdzhimiev opened #37909 "Direct feeding from GPU memory for Java"
**System information**
- TensorFlow version: 1.15.2
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Such feature is currently available in C++ API. It is mentioned as experimental but seems to be working. See [#5902](https://github.com/tensorflow/tensorflow/issues/5902) and particularly [direct session test](https://github.com/tensorflow/t

[2020-03-25 20:15] srjoglekar246 commented on #37401
@pushkalkatara @Namburger Take a look at the comments on [this issue](https://github.com/tensorflow/tensorflow/issues/34845#issuecomment-573156336).

There is a way to convert these MaskRCNN models from the TF object detection repository, but with static shapes & without the segmentation outputs. The simple reason is that these models are too large for mobile inference, so they usually cause memor

[2020-03-25 20:35] john5216c commented on #37401
What about Resnet 50 or 101 from the Object Detection framework (Model Zoo) to find bounding boxes (not segmentation) ? It uses FasterRCNN architecture.

Also can you provide the steps to do the pipeline.config mod to export the model with TFLite ? The specific work around for this error ?

Thanks!

[2020-03-25 20:41] preethivenkatesh commented on #31797
@thomasZen It looks like we have had perf regression on a few models,  and the commit has been reverted. While we try to resolve this w/o impacting our other critical accelerations, are you okay to use this as a patch for your build?
#35619

[2020-03-25 20:49] isaacgerg commented on #37393
@mihaimaruseac  I think I narrowed the problem down.  It appears to be coming from a sanity check on the vector.  I think if this can be cleaned up for tensorflow 2.x, everything should work.

[2020-03-25 20:57] reedwm commented on #37765
This is not closed until bcfc1ba6798ced6889f579644c2c79515832d098 is cherrypicked into 2.2

[2020-03-25 21:03] Jeff-Zhu opened #37910 "MicroInterpreter error: Seg Fault, *** stack smashing detected *** inside MicroInterpreter::Invoke() method"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 64-bit,
- TensorFlow installed from (source or binary): Source
- Tensorflow version (commit SHA if source): 0c487d64172c64d60a93bc98cf5ea07f1a8e95ba
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Ubuntu 18.04.4 64-bit, Linux raspberrypi 4.19.97-v7
- Compiler: g++ (U

[2020-03-25 21:03] DEKHTIARJonathan commented on #37765
Thanks @reedwm for your quick help. **Much** appreciated ;)

[2020-03-25 21:19] lminer commented on #37839
@ravikyram @pandrey-fr it's updated.

[2020-03-25 21:31] #37649 closed

[2020-03-25 22:18] tonytallman commented on #37841
@gadagashwini
The tensorflow repository has example iOS apps at tensorflow/examples/ios. If you add a Swift file to any of the example apps then the example app won't build. This demonstrates a general problem with mixing tensorflow c++ and Swift. Using one of tensorflow's example apps just makes it easier to demonstrate the problem.

1. Download or clone tensorflow repository.
2. Follow the instr

[2020-03-25 22:23] srjoglekar246 commented on #37401
The models should convert with the same changes as mentioned in that issue. You might have to change a couple of commands based on input size etc, which will be given in pipeline.config. Not sure about coral dev board.

TBH, the new SSD MobileNet v3 (large) gives as good a COCO mAP as some of the FasterRCNN architectures, so you could see if that works for your use-case.

[2020-03-25 23:23] bela127 opened #37912 "@tf.Module.with_name_scope AttributeError: __enter__"
**System information**
Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Mint 19.3 (ubuntu)
TensorFlow installed from (source or
binary): binary
TensorFlow version (use command below): tf-nightly
Python version: 3.8 and 3.6

**Describe the current behavior**
Exeption is raised, when @tf.

[2020-03-25 23:33] bela127 commented on #37912
inspected the source code from tf.keras.layers.Layer.
it inherits from tf.Module but does not call supper().__init__ in __init__ so the needed code in Module is not executed:
[code]
so i guess calling supper().__init__ can fix it.

[2020-03-26 00:09] jdcast commented on #29751
Is the proposed find/replace solution above still recommended?
I'm running into this problem when attempting to write the imported meta graph from this object detection api model: http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03.tar.gz

[code]

My tf version is 1.14.0

[2020-03-26 00:13] jaeyoo commented on #37546
@Saduf2019  To run the example, `python setup.py install` is prerequisite, then your python can recognize tfltransfer.
@PawelFaron, I've tried to run it on my side, but it worked. You mention that you used Android Emulator. Could you specify more details about AVD setup? I could run it on both my Pixel 3a XL and its emulator,

[2020-03-26 00:17] HebaGamalElDin commented on #22512
HI,
Please For my Case::
**windows 10 , CPU only , python 3.7 .**
i have read all the issue and the another issue was puplished with this one off TF site, i have tried many things but having same error.
i have installed **Microsoft Visual C++ 2019** too.
What Else, any help?

[2020-03-26 00:18] yaoyaowd opened #37913 "Performance of Tensorflow distributed training parameter server strategy is much slower for multi gpu multi worker environment"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below): 1.14
- Pyt

[2020-03-26 00:37] pavithrasv commented on #37548
@drasmuss We are going to be updating the code to remove metadata from all nested layers going forward. 'inbound_nodes' property on layers has been deprecated as it is an internal implementation detail.

[2020-03-26 00:49] hope-yao commented on #27101
similar error here with tensorflow 2.1

[2020-03-26 00:51] jsimsa commented on #29751
Yes, the best know solution is to update the serialized checkpoint, replacing occurrences of ParallelInterleaveDataset with ExperimentalParallelInterleaveDataset.

[2020-03-26 00:54] aruno14 commented on #37626
Thank you to all to look at my problem.
I would like to know if it is a tensorflow bug, or if I have to change my code.
If it is a tensorflow bug, I can only wait for a new version, right ?

Thanks.

[2020-03-26 01:05] mihaimaruseac commented on #37758
Reopening to close once the fix lands on `r2.2` branch (and then will be picked up by the next RC).

See #37915

[2020-03-26 01:08] vnvo2409 commented on #19297
I run the test and not a single test pass. However, there is a good news that the registry_ only linked one times and the `s3://` works. I think we have to edit the path to make it works on windows
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/17511625/77599885-d9bb3d80-6f38-11ea-8b4c-58961202626d.png">

[2020-03-26 01:16] 2696120622 commented on #27101
@hope-yao Can you resolve this error?

[2020-03-26 01:17] Conchylicultor commented on #37758
@mihaimaruseac Thank you for the fix.
I'll update here when [our tests](https://storage.googleapis.com/tfds-kokoro-public/kokoro-build.html) are back to green.

[2020-03-26 01:21] lackhole commented on #37623
@jdduke Thank you. I'll make a new issue about using GPU. Thank you again!

[2020-03-26 01:21] #37623 closed

[2020-03-26 01:25] drasmuss commented on #37548
@pavithrasv Is there an alternate way to determine, given a tensor, what the internal layer was that generated that tensor? I.e., given the code example from above
[code]
when given `out`, I need to be able to retrieve `relu_layer`. The only way I was able to do this previously was by traversing through the metadata, but if that is being removed then I'll need another method.

[2020-03-26 02:09] jvishnuvardhan commented on #37613
@RomitGandhi07 I tried your files in object_detection tflite_model. I am getting different error when I used `quantization = True` by using this command `TF_OD_API_IS_QUANTIZED = true;`. The following is the error trace.

[code]

As I am not sure about your model whether it is quantized or not, so I changed the option to `quantization = false`. Then I got much smaller error trace as follows.

[cod

[2020-03-26 02:15] jvishnuvardhan commented on #37569
Closing due to lack of recent activity. Please feel free to reopen when you have requested information. Thanks!

[2020-03-26 02:15] #37569 closed

[2020-03-26 03:06] jdcast commented on #29751
@jsimsa Thanks for the information.  Do you know of a resource explaining how to do this?  I noticed earlier in this thread, that some were having trouble doing the replacement.

[2020-03-26 03:07] qlzh727 commented on #37840
I guess this is training issue rather than a LSTM issue, the training logic has been updated recently. Adding @omalleyt12.

[2020-03-26 03:09] buracagyang commented on #24428
It worked user with train.But when i use with evaluate and predict,like this:
[code]

raise ValueError
ValueError: The provided tag was already used for this event type

[2020-03-26 03:20] ravikyram commented on #37912
I have tried on colab with TF version 2.2.0-rc1 ,Nightly and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/c06880409d0adbe4ef6424357a64ab7d/untitled747.ipynb) Thanks!

[2020-03-26 03:26] sdu2011 commented on #35987
same issue

[code]
core dump in tflite::ops::builtin::sparse_to_dense::SparseToDenseImp

[2020-03-26 03:31] TMaysGGS opened #37920 "Cannot import ImageDataGenerator from tensorflow.keras GPU version"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04.6 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command belo

[2020-03-26 03:35] ybagdasa commented on #35100
@jsimsa thanks for the heads up! I updated to tf-nightly-gpu and the error:
`W tensorflow/core/kernels/data/generator_dataset_op.cc:103] Error occurred when finalizing GeneratorDataset iterator: Cancelled: Operation was cancelled` went away.

[2020-03-26 03:36] ybagdasa commented on #37515
@geetachavan1 Thanks!

[2020-03-26 03:38] ageron commented on #34025
Hi @bela127 and @ckkuang ,
In my code example, I'm not using any GPU at all. Just calling an RNN with input sequences of varying lengths.

[2020-03-26 03:53] thoangnguyen1308 commented on #12210
usage: extract_embeddings.py [-h] -i DATASET/XUAN/ -e OUTPUT/EMBEDDINGS.PICKLE
                             -d FACE_DETECTION_MODEL -m
                             OPENFACE_NN4.SMALL2.V1.T7 [-c CONFIDENCE]
extract_embeddings.py: error: the following arguments are required: -i/--dataset/Xuan/, -e/--output/embeddings.pickle, -d/--face_detection_model, -m/--openface_nn4.small2.v1.t7
An exception has

[2020-03-26 04:05] RomitGandhi07 commented on #37613
Yes, I copied tflite model and label.txt in the asset folder and I quantized the model by converting to model to tflite model.

I'm sending you the zip file which contains .lite file and .txt file, it also has .pb file. So can you try this?

[Tensorflow Lite Retrained Model.zip](https://github.com/tensorflow/tensorflow/files/4384949/Tensorflow.Lite.Retrained.Model.zip)

[2020-03-26 04:09] saumya0303 opened #37922 "Create a Sequential model in tensorflow"
Hi All,
         I have two models say M1, M2, I want to combine these models in such a way that the output of M1 is given as input to M2 and the gradient should be backpropagated till M1's input.

[2020-03-26 04:17] khimraj commented on #37922
@saumya0303, you can do this by following code.
[code]

[2020-03-26 04:19] goldiegadde commented on #37635
@hgaiser  this is similiar to #36700, a fix is underway and should be available in the next rc candidate of TF 2.2.0

[2020-03-26 04:21] coolioxlr commented on #37317
@mihaimaruseac file does not exist.  Got the following error.
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exist.</Message>
<Details>
No such object: tensorflow-nightly/prod/tensorflow/release/ubuntu_16/gpu_py36_full/nightly_release/3/20190729-010338/github/tensorflow/pip_pkg/tf_nightly_gpu-1.15.0.dev20190729-cp36-cp36m-manylinux2010_x86_64.whl
</Details>
</Error>

[2020-03-26 04:29] jvishnuvardhan commented on #37613
@RomitGandhi07 Did you disabling the model downloading part from build.gradle by commenting `apply from:'download_model.gradle` as `// apply from:'download_model.gradle`. I will also point you to good instructions [here](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md). Try to follow and update your codes so that there is no `Fil

[2020-03-26 04:39] khimraj commented on #37920
@TMaysGGS, I have tried to reproduce the issue in google colab but i found no error. For your reference link of gist is [here](https://colab.research.google.com/gist/khimraj/b08fb5e8cc4e06e254742bb335aab8c2/cuda.ipynb)

[2020-03-26 04:51] nantha42 commented on #37922
What is reason for M1.trainable=False?

[2020-03-26 04:57] RomitGandhi07 commented on #37613
Ok, I am trying it.

[2020-03-26 05:01] Saduf2019 commented on #37906
@gcovillo
please refer to these existing [issues](https://github.com/tensorflow/tensorflow/issues/37863) on the same error faced

#36167 (comment)

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-26 05:02] arwen-x commented on #33491
Same problem...

[2020-03-26 05:02] khimraj commented on #37922
@nantha42, My mistake as I misunderstood the query as i assumed backpropagation till M1's output instead of M1's input. I have corrected it.

[2020-03-26 05:06] sree941 opened #37923 "How to get a flowchart for fireworks cnn optimization algorithm."
def fire_incept(x, fire=16, intercept=64):
    x = Conv2D(fire, (5,5), strides=(2,2))(x)
    x = LeakyReLU(alpha=0.15)(x)

    left = Conv2D(intercept, (3,3), padding='same')(x)
    left = LeakyReLU(alpha=0.15)(left)

    right = Conv2D(intercept, (5,5), padding='same')(x)
    right = LeakyReLU(alpha=0.15)(right)

    x = concatenate([left, right], axis=3)
    return x

def fire_squeeze(x, fire=16

[2020-03-26 05:10] RomitGandhi07 commented on #37613
Can you please tell me which example are you working on because in my example in build.gradle I haven't found to apply from:'download_model.gradle.
Can you please share the link from where you download the example?
Thanks in advance.

[2020-03-26 05:12] hope-yao commented on #27101
@2696120622  check this out: https://github.com/onnx/onnx-tensorflow/issues/449#issuecomment-603563801

some operations are not implemented yet

[2020-03-26 05:14] RomitGandhi07 commented on #37613
Ok Found it, I'm trying now whether its working or not

[2020-03-26 05:14] yoyojacky commented on #36141
@lclibardi Thanks a lot, my environment has been reset , I am going to try version 2.x.x as well .

[2020-03-26 05:17] gadagashwini commented on #37059
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-26 05:17] #37059 closed

[2020-03-26 05:18] saumya0303 commented on #37922
is it necessary that both M1 and M2 should be present in Keras library??

[2020-03-26 05:18] jvishnuvardhan commented on #37613
@RomitGandhi07 You need to clone this [repo](git clone https://github.com/tensorflow/examples). Complete instructions are [here](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android). Thanks!

[2020-03-26 05:19] Syaryoh opened #37924 "_pywrap_file_io.BufferedInputStream raises UnicodeDecodeError"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platfo

[2020-03-26 05:20] gadagashwini commented on #37812
@ranavjk, Associated PR has been merged can you close this issue. Thanks!

[2020-03-26 05:21] Jaskaranbir commented on #32982
In meantime, [Kite](https://kite.com/integrations/vs-code/) extension has been working quite well for me (its an AI-autocomplete extension, but the one that actually works and isnt 80% backspacing).

![image](https://user-images.githubusercontent.com/12961957/77613014-07d05b80-6f00-11ea-8022-ba0bab0fedc5.png)

Still get errors on actual imports, of course.

[2020-03-26 05:30] khimraj commented on #37923
@sree941, please share full code or link of google colab to reproduce issue.

[2020-03-26 05:32] Saduf2019 commented on #37889
@Gogotis
Tensorflow 1.14 supports CUDA 10.0 and cuDNN 7.4.
Please take a look at [tested build configuration.](https://www.tensorflow.org/install/source#gpu)

Also refer to similar issues #33108  #8709 #8790 #32350  #22372 as per error faced

[2020-03-26 05:33] khimraj commented on #37922
@saumya0303, It is not necessary. It will work with M1 and M2 models created by you also.

[2020-03-26 05:33] sree941 commented on #37923
Actually there is no issue with this code. I want a flowchart that describes this code. So I'm asking whether there is a code in python that produces the algorithm for this particular model. Or else can you just explain me this code please.

[2020-03-26 05:34] TMaysGGS commented on #37920
Hi, @khimraj ,

Thank you for you reply. I tried it in Colab too and no error occured. Could it be a problem by me wrongly installing the denpendencies or the order I installed all the necessary packages?

And it is also weird that I can import tensorflow.keras in TensorFlow 2.0.0 CPU ver, but I have to import tensorflow.python.keras in TensorFlow 2.1.0 GPU ver. Since for now I do not have a third

[2020-03-26 05:36] ravikyram commented on #37923
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-03-26 05:42] khimraj commented on #37923
@sree941, You can try with `tf.keras.utils.plot_model`.

[2020-03-26 05:43] saumya0303 commented on #37922
I am facing issue in adding a M1 model to a pre-trained DeepSpeech model as I am not able to backproagate till M1's input.

[2020-03-26 05:44] Saduf2019 commented on #37913
@yaoyaowd
could you please share a simple stand alone code for us to replicate this issue on our local.
For performance issue please provide with xprof traces using [link.](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras#profiler_service)

[2020-03-26 05:46] khimraj commented on #37922
@saumya0303, Can you share full code so that i can look at issue.

[2020-03-26 05:47] sree941 commented on #37923
I tried and is getting an error like this:
AttributeError: module 'tensorflow.python.keras.api._v1.keras.utils' has no attribute 'plot_model_new'

[2020-03-26 05:51] khimraj commented on #37923
@sree941, you need to pass model name in `plot_model` method.
`tf.keras.utils.plot_model( model_new, to_file='model.png')`

[2020-03-26 05:59] vnvo2409 commented on #19297
Another question, could anyone show me how to set up a build trigger process ? I see that `tensorflow` using cloud build API by GCP but I am not sure how to set up for my own

[2020-03-26 06:12] bela127 opened #37926 "ValueError: Unknown floatx type: bfloat16 tf.keras.backend.set_floatx('bfloat16')"
**System information**
Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Mint 19.3 (ubuntu)
TensorFlow installed from (source or
binary): binary
TensorFlow version (use command below): tf-nightly
Python version: 3.8 and 3.6

**Describe the current behavior**
when using layers with bfloat

[2020-03-26 06:27] HH95 commented on #37323
How about a static variable in the function class?

[2020-03-26 06:27] sree941 commented on #37923
yeah it's working thank you

[2020-03-26 06:43] armansamimi commented on #33478
hey guys

If i want to get the output of a intermediate layer in my NN, What should i do? which function can give me the output of the specific layer? and can i define a new loss function at that layer? for example for parallel learning : parent classification and subclass classification.

[2020-03-26 06:50] Abhipray commented on #37659
Any updates on this bug or clues on how to fix it, even if temporarily?

[2020-03-26 06:51] hgaiser commented on #37635
Yes seems identical, I will close this issue then. Thanks !

[2020-03-26 06:51] #37635 closed

[2020-03-26 06:58] lackhole opened #37928 "Building TensorFlow Lite NNAPI with C/C++ for Android: runtime link error libnnapi_delegate.so not found"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy Fold, Samsung Galaxy S10, Oppo ... etc Android Devices
- TensorFlow installed from (source or binary): source
- TensorFlow version: latest (cloned 3 days ago)
- Python version: 2.7
- Installed

[2020-03-26 07:06] saumya0303 commented on #37922
@khimraj **https://github.com/mozilla/DeepSpeech/blob/master/DeepSpeech.py** this links correspond to the deepspeech code before giving audio as input I want to add a layer.

[2020-03-26 07:12] Saduf2019 commented on #37546
@@PawelFaron,
could you please update as per above comment

[2020-03-26 07:15] Saduf2019 commented on #37542
@ramawidrap
please confirm if we may proceed to move this issue to closed status as it is resolved

[2020-03-26 07:16] RomitGandhi07 commented on #37613
So, simply I have to disable apply line from build.gradle and put my own .lite model and label file in the asset folder.
and please can you tell me in which java file in this example I have to change the file name of model and label ?

[2020-03-26 07:17] kriskorrel-cw commented on #37900
As I have written (a lot of) custom code, I currently cannot reproduce the issue with a small code snippet.
I have tried with one of the tensorflow tutorials, in which case the problem has not occurred (yet).

[2020-03-26 07:27] Zer0-dev115 commented on #37172
I am facing the same issue. Did you get any solution?

[2020-03-26 07:32] Saduf2019 commented on #37924
@Syaryoh
please refer to this [issue](https://stackoverflow.com/questions/22216076/unicodedecodeerror-utf8-codec-cant-decode-byte-0xa5-in-position-0-invalid-s)

[link1](https://www.edureka.co/community/51644/python-unicodedecodeerror-codec-decode-position-invalid) [link2](https://github.com/facebookresearch/VMZ/issues/62)  with similar error

[2020-03-26 07:43] gadagashwini commented on #36954
@gavinlive , Can you provide the code snippet to analyze the issue. Thanks!

[2020-03-26 07:44] gadagashwini commented on #36988
@open-v, Can you update for the above comment. Thanks!

[2020-03-26 07:48] gadagashwini commented on #37177
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-26 07:48] #37177 closed

[2020-03-26 07:51] gadagashwini commented on #37204
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-26 07:51] #37204 closed

[2020-03-26 08:01] gadagashwini commented on #37211
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-26 08:01] #37211 closed

[2020-03-26 08:02] taoja12 commented on #37099
How can I get all the tensor names in the tflite model?

[2020-03-26 08:03] gadagashwini commented on #37246
@sharmaninaad, Closing this issue since its resolved. Please feel free to reopen if issue still persists. Thanks!

[2020-03-26 08:03] #37246 closed

[2020-03-26 08:04] taoja12 opened #37931 "How can I get all tensor names in tflite model? Not only input_details and output_details"

[2020-03-26 08:06] gadagashwini commented on #37253
Since the title of the issue is resolved.Closing this issue. Thanks

[2020-03-26 08:06] #37253 closed

[2020-03-26 08:09] Syaryoh commented on #37924
Thanks to reply.
I'm sorry to my misunderstanding.

This problem occurs when the target file do not exist.
In my reproduce code, I have made empty file 'test' and the error has disappeared.

It would be appreciated if you could add error message for us to recognize the file not exist.

[2020-03-26 08:13] nistrup opened #37932 "CUDNN_STATUS_INTERNAL_ERROR after hours of HyperParameter optimization."
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **I'm using completely standard Tensorflow / Keras implementations, see code below.**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): **tensorflow==2.1.0**
- Pytho

[2020-03-26 08:14] gadagashwini commented on #37261
@cappittall, Please confirm if issue is resolved we can move to closure. Thanks!

[2020-03-26 08:19] ellaJin opened #37933 "TypeError: 'tensorflow.python.framework.ops.EagerTensor' object is not callable"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Windows 8.1
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):  Tensorflow 2.0
- Python version: - Bazel
version (if compiling from source): Python 3.5

**Describe the current

[2020-03-26 08:20] amahendrakar commented on #37830
@summelon,
Could you please provide a sample code to reproduce the issue you are facing? Thanks!

[2020-03-26 08:21] gadagashwini commented on #37450
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-26 08:21] #37450 closed

[2020-03-26 08:22] tanzhenyu commented on #37777
Closing this since it has been fixed [here](https://github.com/tensorflow/tensorflow/commit/1e102f63964365d82d7f22402b7ba21e0e0e64fe).

[2020-03-26 08:24] gadagashwini commented on #37645
@sumannelli,
Fill the issue template to reproduce the issue. Thanks!

[2020-03-26 08:24] sdu2011 commented on #37099
same issue
my tensorflow version is 2.2.0-dev20200325

i convert .pb to .tflite as:
[code]

**i can do inference on .pb file successfully.**

when i do infrence on .tflite
[code]
i outputs:
[code]

when i do above things on tensorflow1.14,when do inference on .tflite,it crash in tflite::ops::builtin::sparse_to_dense::SparseToDenseImp
[https://github.com/tensorflow/tensorflow/issues/35987#issuecomm

[2020-03-26 08:26] gadagashwini commented on #37752
@tianhongbao, Did you try @mihaimaruseac's workaround.

[2020-03-26 08:32] stringcode86 commented on #37026
Could you please tell how / where are you setting `should_recreate_iterator ` ? Im having the same issue. Thank you

[2020-03-26 08:35] jliebers commented on #37840
Hi @qlzh727 ,

thank you and thank you all for your consideration. 🙂 👍

I just would quickly like to clarify, that the main reason for me to open this issue is, that the raised Exception in tf-2.1.0 contains a string which includes the whole training `x` (262 MB of text data), thus leading to crashes and such. The tf-nightly issue is of course also a problem but from my perspective way less severe

[2020-03-26 08:41] np000 opened #37934 "roadmap link broken"
in [tensorflow.org](https://www.tensorflow.org/community) website the below roadmap link is  not working

[2020-03-26 08:42] np000 commented on #37934
https://www.tensorflow.org/community/roadmap

[2020-03-26 08:45] theadityasam commented on #37931
Hey @taoja12
Please provide necessary details like the TF version, environment etc. for your issue.
As for what I gather from your query, you use **tf.lite.Interpreter** to parse the **tflite** model
[code]
Do refer to the docs - https://www.tensorflow.org/api_docs/python/tf/lite/Interpreter

[2020-03-26 08:45] np000 commented on #37462
can anyone please check my gist file and share me a feedback.
Thanks

[2020-03-26 08:46] georgescortaru opened #37935 "Compile error on Windows"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from source
- TensorFlow version 2.1
- Python version: 3.7.1
- Bazel version (if compiling from source): 0.26.1
- GCC/Compiler version (if compiling from source): Visual Studio 2019
- CUDA/cuDNN version: CUDA 10.1, cuDNN 7.6.5
- GPU model and memory: NVidia GForce GTX 1060 3GB

**Describe the current behavior*

[2020-03-26 08:47] ArthurYdalgo commented on #31249
this solved for me :)

[2020-03-26 08:49] #37931 closed

[2020-03-26 08:57] Saduf2019 commented on #37924
@Syaryoh
Can you please share simple sample code for us to replicate the issue faced by you,

[2020-03-26 08:58] uroosehar1 commented on #32790
but because of this it doesnot act like a dataset. Now it act like a module

[2020-03-26 09:00] 0unstoppable commented on #37891
![Screenshot (23)](https://user-images.githubusercontent.com/62600923/77628595-44d33700-6f6e-11ea-98c5-ddbc19d59fe9.png)
there is a bash error while executing ..

[2020-03-26 09:03] Saduf2019 commented on #37885
@nitbix
i ran the code shared by you and do not face any error, please find [gist here](https://colab.sandbox.google.com/gist/Saduf2019/17744bd21409ca2f71ee262f36cb5a6b/37885.ipynb)

[2020-03-26 09:03] shiningrain commented on #37777
Thank you for your reply!
I wonder if you are using a wrong [link](https://github.com/tensorflow/tensorflow/commit/1e102f63964365d82d7f22402b7ba21e0e0e64fe)in your reply, because this link is the same as the one in my comments and it is related to the conv layer, not the Embedding.

[2020-03-26 09:11] Syaryoh commented on #37924
In this python code:
from tensorflow.python import _pywrap_file_io
_read_buf=_pywrap_file_io.BufferedInputStream('test', 1024*512)

If a file named 'test' do not exist, it raises UnicodeDecodeError.

or this reproduces too:
Open the tutorial of TF Models(research/object_detection/object_detection_tutorial.ipynb) with Jupyter Notebook
and change value of PATH_TO_LABELS to 'test'(not exist file). Th

[2020-03-26 09:12] tanzhenyu commented on #37777
Oh sorry, I meant to close another issue

[2020-03-26 09:14] ravikyram commented on #37884
@LAWSSSS

Please try including the code before tflite=converter.convert()

[code]
For more information refer #35590
If the issue is still not resolved please provide us the complete code snippet used  along with supported files.Thanks!

[2020-03-26 09:16] ravikyram commented on #37410
@suraj-maniyar

Any update on this issue please. Thanks!

[2020-03-26 09:17] zhuzilin commented on #37666
I encounter the same issue with keras and all tf.compat.v1.train optimizers in tf2.0. One walk around is to use the counterpart in tf.keras.optmizers.

[2020-03-26 09:17] amahendrakar commented on #37866
@0unstoppable,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-26 09:30] ujjwal-ai commented on #37365
Then what is the exact difference between V1 and V2? Maybe I am wrong here. So any help would be appreciated

[2020-03-26 09:31] ravikyram commented on #37867
@tianhongbao

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-03-26 09:33] pandrey-fr commented on #37839
Okay, actually it turns out that `_is_graph_network` is _not_ about `Eager` execution, but about the distinction between the functional and subclass APIs.

In functional API, you would define your example network as:
[code]
Which would have the computation graph built at instantiation, notably through the clear definition of inputs' (and thus, all nodes') specification.

In the subclass API howeve

[2020-03-26 09:33] Saduf2019 commented on #37924
@Syaryoh
can you please share that test file, so we can replicate the issue

[2020-03-26 09:33] LAWSSSS commented on #37884
@ravikyram Thanks for the kind response. I added the code before `tflite=converter.convert()`. However, the same error still exists. Here is my complete code snippet:
[code]
And here is my model file if you need to check out: [frozen_model_file](https://github.com/LAWSSSS/Frozen_Pb/blob/master/frozen_inference_graph-SteelRoll.pb)
Thanks for your help in advance.

[2020-03-26 09:33] TomorrowIsAnOtherDay commented on #34891
This is an ugly solution. I just want to write the code in a pythonic way, but the solution rolls me back into tf1.0.

[2020-03-26 09:47] byronyi commented on #23847
@ezhulenev Any updates on this?

[2020-03-26 09:56] DucLong06 commented on #37860
Hi @Saduf2019
I think I have to downgrade tensorflow version ?
So can you tell me which version is appropriate ?

[2020-03-26 09:58] leocd91 opened #37938 "Anconda Tensorflow-GPU 2.1.0 cudart64_101.dll not found"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Conda
- TensorFlow version: 2.1.0
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: Conda
- Bazel version (if compiling from source):
- GCC/

[2020-03-26 09:58] nohheamin commented on #14008
In tensorflow 2.1.0
from tensorflow.keras import utils

[2020-03-26 10:09] summelon commented on #37830
@amahendrakar I'm sorry, the code is not open source.
Instead, let me clarify and simplify my question.

In TF-1.13.1, there are differences between "VariableV2" and "VarHandleOp" indeed.
This is the part which you can reproduce.
After created a ResNet_v1_50 by TF-Slim and Keras, you can get the weight variable, "*/weights"(...V2) and "*/kernel"(...Op) respectively.
Then, applying tf.compat.v1.ass

[2020-03-26 10:20] #37261 closed

[2020-03-26 10:20] gadagashwini commented on #37933
@ellaJin, Did you follow the instructions mentioned in the [Tensorflow doc](https://www.tensorflow.org/guide/migrate). Provide the standalone code to reproduce the issue. Thanks!

[2020-03-26 10:21] gadagashwini commented on #37926
@bela127, Please provide the standalone code to reproduce the issue. Thanks

[2020-03-26 10:25] awav commented on #34908
hello @k-w-w, @alextp! any updates?

[2020-03-26 10:25] uroosehar1 commented on #32790
For this perticular problem of not getting ModuleNotFoundError: No module named 'tensorflow.examples.tutorials, i followed the following way to solve this issue.. and it solved in my case.
URL for Solution: https://www.youtube.com/watch?v=CH8uW3abI9A&feature=youtu.be

[2020-03-26 10:36] Saduf2019 commented on #37938
@leocd91

please refer to these issues with similar error:#36111 #33319 #31018
and these [comments](https://github.com/tensorflow/tensorflow/issues/35872#issuecomment-581681377) [for reference](https://github.com/tensorflow/tensorflow/issues/29831#issuecomment-504496546)

[2020-03-26 10:39] uroosehar1 commented on #32790
For this perticular problem of not getting ModuleNotFoundError: No module named 'tensorflow.examples.tutorials, i followed the following way to solve this issue.. and it solved in my case.
URL for Solution: https://www.youtube.com/watch?v=CH8uW3abI9A&feature=youtu.be

[2020-03-26 10:54] tailsu commented on #37110
Manually adding `tensorflow/lite/tools/make/downloads/absl` to the downstream project's include path fixes this error.

[2020-03-26 10:55] amahendrakar commented on #37876
@srogatch,
The `verbose` argument lets you control what output you see on each epoch. For more information please check this [StackOverflow](https://stackoverflow.com/a/47905435) comment.

Regarding the warning logs, could you please try changing the logging level and check if it works?
[code]
 Thanks!

[2020-03-26 10:55] nitinmnsn opened #37941 "Update vocabulary and add a new embeddings for the new token as you see them in training time"
I am aware i can use `x = tf.feature_column.categorical_column_with_vocabulary_list(cat_col_name,cat_col_unique_values)`. Where `cat_col_name` is the categorical column that i need to convert to consumable format by a dense layer `cat_col_unique_values` are the unique values present in this column. Then i use something like `feature_column.embedding_column(x, dimension=4)` to map each unique value

[2020-03-26 10:56] Saduf2019 commented on #37932
@nistrup
please refer to these issues as per the error faced  ##29632 #33848 #28254 and [comments](https://github.com/tensorflow/tensorflow/issues/24496)
let us know if it [helps](https://github.com/tensorflow/tensorflow/issues/34695)

[2020-03-26 10:57] Alf0nso commented on #33374
@amrithadevadiga
Iterating on what was already said, it's still not available, it will be!
As an advice, always try to catch/read the thread before posting...

[2020-03-26 11:01] chris-clem commented on #37575
Is there any update on this?

[2020-03-26 11:04] ellaJin commented on #37933
import tensorflow as tf
import numpy as np
import re

inputshape = 512

class SOM2(object):
    trianed = False

    def __init__(self, m, n, dim, n_iterations=100, alpha=None, sigma=None, features=None):

        self.m = m
        self.n = n
        self.dim = dim

        if alpha is None:
            self.alpha = 0.3
        else:
            self.alpha = float(alpha)
        if sigma is None:

[2020-03-26 11:05] amahendrakar commented on #37883
@KoykL,
In order to expedite the trouble-shooting process, could you please provide a minimal code sample to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-03-26 11:21] amahendrakar commented on #37887
@Hongtao-Niro,
I was able to reproduce the error with TF 2.1. However, the issue seems to be fixed in TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/bba34c53fef4e0fd34ab0210cf5bd87a/37887-tf-nightly.ipynb). Thanks!

[2020-03-26 11:25] zhaolulul commented on #23986
hi,could give me your optimizer?? i have same question,thank you

[2020-03-26 11:33] zhaolulul commented on #23986
hi,i have same question,could you give me your optimizer.py ？？ Thanks you

[2020-03-26 11:33] Nestak2 commented on #15604
@jabalazs Instead of `conda install cudatoolkit==9.0` I tried `pip install cudatoolkit==9.0` but this didn't work, do you know why?
@kirk86 you wrote, "If I check for cuda 9, I get the following". On my machine there are also multiple cuda versions installed, so can you give me the exact command to show them like you did?

[2020-03-26 11:50] amahendrakar commented on #37892
@taoja12,
Could you please share the `vgg_freeze_model.pb` file you are using in the code? Thanks!

[2020-03-26 11:53] gadagashwini commented on #37891
@0unstoppable,
Looks like issue is not related to Tenosrflow installation. To confirm Tensorflow installation, try
[code]
For bash error please refer this
https://stackoverflow.com/questions/37335201/jupyter-notebook-couldnt-find-program-bash .Thanks

[2020-03-26 12:01] jliebers opened #37942 "GPU-accelerated LSTMs crash randomly with: [ InternalError: [_Derived_] Failed to call ThenRnnBackward with model config ]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro N, Build 17763
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Pypi
- TensorFlow version (use command

[2020-03-26 12:18] Saduf2019 commented on #37860
@DucLong06
please update tensorflow version and simple stand alone code for us to replicate the issue faced.

[2020-03-26 12:46] Kiranendra opened #37943 "when using tensorflow inside flask server, I am getting localhost container not found error."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15.0
- Python version: 3.7.6
- Installed using virtualenv? pip? conda?: pip in a virtual environment

**Describe the problem**

I am trying to make a flask server and deploy my model there and connect that server to my android ap

[2020-03-26 12:46] sam-ulrich1 commented on #37026
@stringcode86 In the KerasSequenceAdapter class there is a function named `should_recreate_iterator` that simply returns `True`. Change the return value to `False`

You can find the function here in the current master: https://github.com/tensorflow/tensorflow/blob/56f4edbb5a78ae9d29d797f39e107a28c9bcf6e5/tensorflow/python/keras/engine/data_adapter.py#L954

[2020-03-26 12:48] deepthiMBapat commented on #37720
Tried executing the steps given in this comment. But, facing the same issue.

------------------------------------------------------
Using /usr/local/lib/python3.6/dist-packages
Finished processing dependencies for object-detection==0.1
env: PYTHONPATH=/content/models/research:/content/models/research/slim
Traceback (most recent call last):
  File "object_detection/builders/model_builder_test.py",

[2020-03-26 12:59] Saduf2019 commented on #37720
@synergy178
I ran the gist shared by you on 1.14 and do not face any tf.contrib error as faced by you on the second cell on your gist, please ensure to use 1.14 or lower versions and share all dependencies in case you still face any issues. please find the gist of the same [here](https://colab.sandbox.google.com/gist/Saduf2019/e026f68290d1041226f5a71ac21acd78/contrib.ipynb)

[2020-03-26 13:16] gcovillo commented on #37906
@Saduf2019 Thank you. I thought I had checked most of these but found that I was running 32 bit instead of 64. This has led to an error about DLLS but I have downloaded Microsoft visual studio 2015 already.

Traceback (most recent call last):
  File "darkflowEx.py", line 2, in <module>
    from darkflow.net.build import TFNet
  File "C:\Users\gcovillo\darkflow-master\darkflow\net\build.py", line 1

[2020-03-26 13:21] wangweitong opened #37945 "tensorflow v2 save and load model"
I got a problem for saving model with tensorflow 2.0 ,it's awful,I can not know how to save model with
that way,it wants me have a signatures for saving my model ,but I can not save my model like :

class Model(tf.keras.Model):

  @tf.function
  def call(self, x):
    ...

m = Model()
tf.saved_model.save(
    m, '/tmp/saved_model/',
    signatures=m.call.get_concrete_function(
        tf.TensorSpe

[2020-03-26 13:23] tanzhenyu commented on #33751
The gradient for this op is registered, [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/image_grad.py)

I think the issue is that in discriminator_step, you should use tape.gradient, not tf.gradients. Though the error message is pretty confusing.

[2020-03-26 13:24] tanzhenyu commented on #33751
BTW since you're using gradient twice, you should probably do tf.GradientTape(persistant=True)

[2020-03-26 13:30] tanzhenyu commented on #37365
@ujjwal-ai we should probably remove and upload a new checkpoint. But I'm not sure how this is blocking you from using keras applications model?

[2020-03-26 13:31] jvishnuvardhan commented on #37613
@RomitGandhi07 `DetectorActivity.java` is the file name where you need to change. Instructions are there in the doc I shared. Thanks!

[2020-03-26 13:36] tanzhenyu commented on #37738
Yep, we should probably support it. This will probably need some work and api approval. Do you have a more concrete use case?

[2020-03-26 13:37] tanzhenyu commented on #37738
(Actually on second thought, we can easily achieve this by return tf.SparseTensor(indices=input.indices, values=bucketize(input.values), dense_shape=input.dense_shape, so not much work). Understanding use cases are pretty helpful though :-)

[2020-03-26 13:42] gcovillo commented on #37906
Traceback (most recent call last):
  File "darkflowEx.py", line 2, in <module>
    from darkflow.net.build import TFNet
  File "C:\Users\gcovillo\darkflow-master\darkflow\net\build.py", line 1, in <module>
    import tensorflow as tf
  File "C:\Users\gcovillo\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\__init__.py", line 101, in <module>
    from tensorflow_core import *

[2020-03-26 13:45] akanyaani commented on #36877
Hi, @amahendrakar I was out of town, now I have updated the issue please reopen it.

[2020-03-26 14:02] ujjwal-ai commented on #37365
This is not stopping me. I can use it by restricting the variables to be updated. The moot point is that for a new person already unaware of this issue, it can be dangerously confusing if he/she is not careful.

[2020-03-26 14:23] nistrup commented on #37932
@Saduf2019 Thank you!

I seem to get a different error now after training several modes successfully I get this:

`InternalError:  [_Derived_]  Failed to call ThenRnnBackward with model config: [rnn_mode, rnn_input_mode, rnn_direction_mode]: 2, 0, 0 , [num_layers, input_size, num_units, dir_count, max_seq_length, batch_size, cell_num_units]: [1, 8, 128, 1, 90, 64, 128]
	 [[{{node gradients/CudnnRN

[2020-03-26 14:27] nistrup commented on #37942
@jliebers This seems highly related to my issue posted earlier today as well: https://github.com/tensorflow/tensorflow/issues/37932 would love to get some feedback as well.

[2020-03-26 14:50] aima9115 commented on #36681
Hello everyone, I post this here because I tried the same and I think it might be good to have another precedent.

I have implemented tflite natively with c (no java) on an android service. The target platform is a Snapdragon 625 (Qualcomm Technologies, Inc MSM8953). Using the Hexagon delegate as mentioned in [https://www.tensorflow.org/lite/performance/hexagon_delegate](https://www.tensorflow.org

[2020-03-26 14:53] gcovillo commented on #37906
C:\Users\gcovillo\darkflow-master>python darkflowEx.py
2020-03-26 10:50:43.178108: W tensorflow/stream_executor/platform/default/dso_loader.cc:55] Could not load dynamic library 'cudart64_101.dll'; dlerror: cudart64_101.dll not found
2020-03-26 10:50:43.185108: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
Tracebac

[2020-03-26 15:08] gcovillo commented on #37906
File "darkflowEx.py", line 2, in <module>
    from darkflow.net.build import TFNet
  File "C:\Users\gcovillo\darkflow-master\darkflow\net\build.py", line 7, in <module>
    from .framework import create_framework
  File "C:\Users\gcovillo\darkflow-master\darkflow\net\framework.py", line 1, in <module>
    from . import yolo
  File "C:\Users\gcovillo\darkflow-master\darkflow\net\yolo\__init__.py",

[2020-03-26 15:13] javierlg1986 commented on #36423
Same problem.
I know it sounds weird, but if you use a 2nd monitor, try unplugging it to get free memory on the geforce. It works for me.

Or try:
gpu_options = tf.GPUOptions(allow_growth=True)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

Ortry:
gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction = 0.5)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options))

[2020-03-26 15:17] constructor-igor commented on #36486
**solution**:
download and install **Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019** package from
https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads

Windows 10 x64 requires **vc_redist.x64.exe**.

[2020-03-26 15:18] gcovillo commented on #37906
WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

WARNING:tensorfl

[2020-03-26 15:35] srogatch commented on #37876
@amahendrakar , thanks for your suggestions about suppressing the logs. However, the point missed in this approach is that excessive output from Tensorflow seems to indicate a bug in it. As you can see in the diagram I attached, it looks like a lot of time is spent on a side activity.

[2020-03-26 15:36] gunan commented on #37935
We never test with `/DEBUG` option, because binaries become too big for bazel to handle. That may be an issue in your case, too.

To me, this looks like some code meant for host ended up on a compilation unit for the device. @chsigg @sanjoy may have a better idea why would this happen.

[2020-03-26 15:38] jsimsa commented on #35100
Good to know. Note that the warning and the memory leak are unrelated.

[2020-03-26 15:40] Crisescode commented on #35017
thanks for you comment. Please allow me to ask whether the above PR is merged by the current master branch? Should i use the master branch code to verify my issue?

[2020-03-26 15:41] bela127 commented on #34025
yes i see @ageron,
had the same problem with Keras functional api, it seams the functional keras api has problems with variable length inputs, different than the batchdim

a workaround is using the layer class api and subclass Keras Layer.
here you can update the call method with tf.function annotation with "relax_shape:

`@tf.function( experimental_relax_shapes=True)`

or explicit:

`self.call =

[2020-03-26 16:00] bela127 commented on #37926
oh i see, the standalone code is given ;)
its just that small

just run:

`tf.keras.backend.set_floatx('bfloat16')`

[2020-03-26 16:02] feranick commented on #32998
Using MacOS 10.15.4, Xcode 11.4. I have been able to successfully compile (with optimization flags), TF v.2.1.0. I think XCode 11.4 now fixes the issues with the previous 11.3.

[2020-03-26 16:03] TMaysGGS commented on #37920
The problem seems to be partially solved. The "No module named 'keras_preprocessing" error is because when I install TensorFlow 2.1.0 a new version of Keras-Preprocessing package is installed also, and then after I use "pip uninstall keras-preprocessing=1.xx" to remove the old version, the new version of Keras-Preprocessing package is somehow damaged or deleted partially, which causes the module n

[2020-03-26 16:03] #37920 closed

[2020-03-26 16:04] gcovillo commented on #37906
Took this issue to this:

https://github.com/thtrieu/darkflow/issues/1155

[2020-03-26 16:04] #37906 closed

[2020-03-26 16:08] stefan-falk commented on #37288
@Saduf2019 This is weird. I have this issue again. This time I cannot even reproduce it in a separate project. I must have to do something with the way I am importing Tensorflow components. I can't see what's causing this. Last time, I remember, I uninstalled Tensorflow via pip and reinstalled everything.

But this time I am certain this comes from importing something I shouldn't ..

[2020-03-26 16:11] lminer commented on #37839
Is it necessary to use that approach anymore? In tensorflow 2.2.0-rc1 I can save a subclassed model in the SavedModel format and restore it without a problem. Maybe this check is now obsolete.

[2020-03-26 16:25] stefan-falk commented on #37288
@Saduf2019 Okay, it took me a while but I finally was able to track the error down by commenting out line by line and made a recursive search through my entire code and found the problem where I wasn't even thinking about.

I don't know if this is something that's intended.

For writing data shards, I have this helper function:

[code]

Apparently it's not possible to import `from tensorflow_core.

[2020-03-26 16:31] freddan80 commented on #37361
https://github.com/tensorflow/tensorflow/pull/37936

[2020-03-26 16:50] sanjoy commented on #37909
CC @gunan @sjamesr

I've CC'ed folks who own the TF Java backend, but I suspect they don't have spare cycles to pre-review changes.  So I would suggest just creating a PR once you have something working.

[2020-03-26 16:53] EnricoBeltramo commented on #30490
Same issue with tf 1.15

[2020-03-26 17:01] csachs commented on #33759
I second that request. This issue needs discussion and maybe special addressing on the ` coverage.py` side. In particular for TF2, all `tf.function` decorated functions are not observed by `coverage.py` (as a work-around, in some cases they can be dynamically un-decorated for unittesting)

[2020-03-26 17:16] nedbat commented on #33759
Does anyone want to take on writing a coverage.py plugin? I can help with the coverage.py side of things.

[2020-03-26 17:23] n2cholas commented on #36484
You can see the problem more clearly when you visualize the graph on TensorBoard, here's a [gist](https://colab.research.google.com/gist/n2cholas/5dbeaafc9c4d2bbce4e4185bccfe70f4/36484.ipynb). Specifically expand the `ext_model` node. In the `big_model.layers[1].output` case, the `predictions` and `layer` are in two different branches of the graph, so there is no gradient of `prediction` with resp

[2020-03-26 17:25] pavithrasv commented on #37770
@w4nderlust MSE loss expects inputs with the shape `[batch_size, d0, .. dN]`. The inputs must be atleast 2D. The function computes a mean along all except the batch axis, so the result you get will be one loss value per sample.

https://www.tensorflow.org/api_docs/python/tf/keras/losses/MSE?version=nightly

[2020-03-26 17:25] #37770 closed

[2020-03-26 17:26] av8ramit commented on #37317
Does [this link](https://storage.googleapis.com/tensorflow-nightly/prod/tensorflow/release/ubuntu_16/gpu_py36_full/nightly_release/5/20190729-010352/github/tensorflow/pip_pkg/tf_nightly_gpu-1.15.0.dev20190729-cp36-cp36m-manylinux2010_x86_64.whl) work?

[2020-03-26 17:28] crccw commented on #37561
Could you try tf.experimental.output_all_intermediates(True)?

It would be also easier if you can provide a smaller reproduction.

[2020-03-26 17:36] TheBlackPlague commented on #33948
Yeah this issue was fixed with the latest updates.

[2020-03-26 17:36] mihaimaruseac commented on #37317
Apologies, should have checked the link before posting after just a lexical replacement. The link @av8ramit posted seems to work here (i.e., I can download it)

[2020-03-26 17:37] mihaimaruseac commented on #32998
In this case, can we close this?

[2020-03-26 17:38] feranick commented on #32998
I think it can be closed, previous checking if the documentation/release notes needs to be changed to reflect this.

[2020-03-26 17:38] bela127 opened #37949 "tensorflow Docker behaves different to host (produces nan)"
**System information**
Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Mint 19.3 (ubuntu)
TensorFlow installed from (source or
binary): binary
TensorFlow version (use command below): tf-nightly
Python version: 3.8 and 3.6

two systems:
Host: NVIDIA-SMI 435.21       Driver Version: 435

[2020-03-26 17:40] feranick commented on #32998
In particular, [this patch ](https://github.com/bazelbuild/continuous-integration/pull/878/commits/6786208c5e6a6448f7e3b47cd490b10663c9507d) should be reversed as it seems to no longer apply.

[2020-03-26 17:40] mihaimaruseac commented on #37891
Issue not related to TensorFlow, closing.

[2020-03-26 17:40] #37891 closed

[2020-03-26 17:42] mihaimaruseac commented on #31249
Locking as issue has been already solved. If there are new instances of issue and no solution here helps, please open a new issue, filling in issue template and documenting why these steps don't work.

[2020-03-26 17:45] goldiegadde commented on #36700
this issue was fixed in this [commit](https://github.com/tensorflow/tensorflow/commit/410852dbd24899e22f0020f9fdc9757f527dda55)

and the fix has been cherrypicked into r2.2 branch.

[2020-03-26 17:45] #36700 closed

[2020-03-26 17:48] mihaimaruseac commented on #32998
In our build scripts it has been reverted (see mention commits attached to the issue). If there are other places, we could accept pull requests but only against `master` branch. The release branches will only be updated when we do a new patch release.

Closing as resolved.

[2020-03-26 17:48] #32998 closed

[2020-03-26 17:49] karmel commented on #37673
There were some changes in the way trainable behaves between 1.x and 2.x; please take a look at the BatchNorm docs [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/BatchNormalization) under "About setting layer.trainable = False on a BatchNormalization layer", as this may be causing the discrepancy.

[2020-03-26 17:51] goldiegadde commented on #37758
the cherrypick has been merged into the r2.2 branch

[2020-03-26 17:52] karmel commented on #36499
It looks like you have mistyped the `X` as uppercase in the call to tf.shape?

[code]

Should be:

[code]

[2020-03-26 17:54] pushkalkatara commented on #37401
@srjoglekar246 I think there would be a good difference in accuracy due to number of deep layers in the models - mobilenet-v3 vs resnet101.
Currently, FasterRCNN with Resnet101 is generally used for high accuracy and SSD-Mobilenet is used for higher inference speeds. But SSD conversion is supported by TFLite but not FasterRCNN (post says but the error above comes). What are the chances of optimiza

[2020-03-26 17:57] okdzhimiev commented on #37909
It's working. What's the workflow for creating and running unit tests for TF Java? Are tests required for a PR?

[2020-03-26 18:00] karmel commented on #31192
Contrib layers have been deprecated and removed from 2.x. Please take a look at the builtin Conv2D layers: https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D

[2020-03-26 18:01] srjoglekar246 commented on #37401
That could be a good idea. (though you will need to start training from scratch).
SSD's post-processing & proposal generation is weaker than FasterRCNN, but having more layers in the back-bone should definitely improve accuracy.

[2020-03-26 18:01] mihaimaruseac commented on #32982
In this case, can we close the issue as it has been solved?

[2020-03-26 18:01] mihaimaruseac commented on #36141
In this case, can we close the issue as it has been solved?

[2020-03-26 18:02] tonytallman commented on #37841
@jvishnuvardhan
I'm pretty sure that the answer is to create an Objective-C wrapper around ios_image_load.h and put that wrapper into the bridging header. If you give me a couple of days I can provide a more detailed answer and maybe even submit a pull-request with a Swift sample using tensorflow c++ code.

[2020-03-26 18:03] goldiegadde commented on #37747
@mgmverburg this [commit](https://github.com/tensorflow/tensorflow/commit/bfc51b2d2384a6945ce7023aa08f6c629766ebdf) should fix this issue.
the fix has also been cherrypicked into r2.2 branch.

[2020-03-26 18:04] mihaimaruseac commented on #37861
Sorry for the accidental locking

[2020-03-26 18:22] georgescortaru commented on #37935
Thanks for looking into this.

I tried without /DEBUG option. It stopped with the same error. I will try to downgrade Tensorflow to version to 2.0.

[2020-03-26 18:25] Azmisov commented on #31192
@karmel The main issue is that the code is assuming output depth at self.kernel[-1] when it is actually [-2] for Conv2DTranspose. So fanout kernel initializer is being computed incorrectly for Conv2DTranspose specifically.

I was just mentioning that the Wrapper objects also have the bug, but since those are deprecated, no need to worry about that. But the bug persists in the builtin Conv2DTranspo

[2020-03-26 18:26] #37777 closed

[2020-03-26 18:29] baqwas commented on #36141
I have no objection to closing the issue owing to any concern that I raised
previously.

Kind regards.

On Thu, Mar 26, 2020, 13:02 Mihai Maruseac <notifications@github.com> wrote:

[2020-03-26 18:38] jvishnuvardhan commented on #33948
@TheBlackPlague Thanks for the confirmation. I will close the issue. Thanks!

[2020-03-26 18:38] #33948 closed

[2020-03-26 18:38] FrancescaAlf commented on #37256
yes, thanks :)

[2020-03-26 18:38] #37256 closed

[2020-03-26 18:41] RomitGandhi07 commented on #37613
I had done the same steps, now I neither getting any error nor object is detected. Can you help me to find out why it's happened?

I'm attaching zip file which contains .lite model file, label file and .pb file.

[assets.zip](https://github.com/tensorflow/tensorflow/files/4389199/assets.zip)

[2020-03-26 18:41] csachs commented on #26069
@yongtang is there some definitive list what is to be supported, or what shouldn't?
e.g. I just stumbled over the fact that for dtype `tf.uint16` operator == is not implemented … something I would file as a bug, however if it is `wontfix`, then this should be documented somewhere …

I just took a look at more combinations:
[code]
[code]

So `qint16`, `quint16`, `uint16`, `uint32`, `uint64` don't e

[2020-03-26 18:45] xav12358 opened #37950 "UnicodeDecodeError: "utf-8" codec can't decode byte in position : invalid start byte"
**System information**

- OS Platform and Distribution : ubuntu 18.04
the issue happens on mobile device:
- TensorFlowinstalled with pip3  : v1.14.0

I generate my own dataset .tfrecord with that modify code:

[code]

I use that command to train my model:
[code]

After few iterations I get that error:

[code]

My tfrecord seems to be corrupted.

[2020-03-26 18:48] #36141 closed

[2020-03-26 18:50] yhliang2018 commented on #32192
As the PR has been merged, close the bug for now. Feel free to reopen it if needed.

[2020-03-26 18:50] #32192 closed

[2020-03-26 18:51] jvishnuvardhan commented on #37613
@RomitGandhi07 Can you please post the complete log you are noticing in the android studio? Is this model crashing in monile? Thanks!

[2020-03-26 19:12] ezhulenev commented on #23847
I'm working on a new layout optimizer in MLIR framework, and this problem is solved there, however I'm not sure when it will be on by default, should have some certainty in a few weeks.

[2020-03-26 19:18] jdduke commented on #37626
Looping in @miaout17 for troubleshooting.

[2020-03-26 19:19] bela127 commented on #37949
UPDATE:
OK i found the problem, this is a similar issue to  #511 and  #1244

it had nothing to do with docker, but with gpu and cpu inferenz.
On the host the cuda lib could not be loaded and so it ran on cpu and worked, after fixing cuda, it stopt working on gpu on the host to.

[2020-03-26 19:19] #37949 closed

[2020-03-26 19:30] w4nderlust commented on #37770
It's a silent error, terrible to debug. The mismatch of dimensions should be cought and reported to the user.

[2020-03-26 19:38] zmjjmz commented on #12908
For anyone like me who has found themselves in this dark corner of the internet, I ended up having do to in the subclassed `__init__` before any super `__init__`:

`self.__class__._assert_members_are_not_overridden = lambda self: None`

[2020-03-26 19:46] sanjoy commented on #37909
I'm not sure personally, but have you looked into the existing unit tests to see how they work?

Yes.

[2020-03-26 20:03] jaketae commented on #37365
@tanzhenyu Do you think the default export setting for ResNet should be changed so that `use_bias` is set to `False`?

[2020-03-26 20:11] venky-intel commented on #37474
Hi, I have tried this above suggestion of upgrading to Bazel 2.0. I don't see the `ERROR: Unrecognized option: --experimental_repo_remote_exec` anymore  but upgrading to Bazel 2.0 is resulting in a different error with the Bazel build itself, please see this and the comments for this commit: https://github.com/tensorflow/serving/commit/162f72949c6ecbe9e610182c923dec0aa5924cf2

[2020-03-26 20:25] Sicongzai opened #37951 "AttributeError: 'ObjectDetectionResult' object has no attribute 'image_id'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15.2
- Python version: 3.6.2
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source

[2020-03-26 20:26] okdzhimiev commented on #37909
Ok.

Yes, I saw where the tests are. Was just wondering how to run them but it turned out to be straightforward:
```bazel test //tensorflow/java:ZerosTest```

Thanks for replies.

[2020-03-26 20:31] irum commented on #36915
@ymodak , please can you use any other custom dataset for Resnet50. It may work well for cats and dogs dataset.

[2020-03-26 20:57] pushkalkatara commented on #37401
Training a model like resnet101 from scratch is far out of scope. :sweat_smile: . It is better to wait TFLite with FasterRCNN implementation i think.

[2020-03-26 21:12] adamjstewart commented on #34878
For the record, this bug seems to be present in 2.0.0 and 2.0.1, and seems to have been fixed by the following commit:
[code]

[2020-03-26 21:30] zaccharieramzi commented on #33491
I had a similar problem involving `tf.map_fn` and I solved it by indicating the `dtype`, as advised [here](https://stackoverflow.com/questions/42776980/valueerror-the-two-structures-dont-have-the-same-number-of-elements). I see that `map_fn` is not involved here, but maybe something similar is happening where a `dtype` is not specified where it should be. For `map_fn`, it is actually indicated in

[2020-03-26 22:20] theadityasam commented on #37938
Hey @leocd91
I believe you have installed cuDNN after CUDA?
The typical flow for installing tf-gpu would be something like this-
- Download and install CUDA toolkit.
- Download cuDNN, extract contents to CUDA toolkit path(replace if asked).
- Check if CUDA_HOME is present.
- Create an environment in python and do "pip install tensorflow-gpu"
If you've followed the above steps and are still getting

[2020-03-26 22:26] reedwm commented on #37666
@sjtusmartboy, can you give a smaller example to reproduce? Alternatively, it looks like you branched off from the official models, so can you point me to a fork of the official models on GitHub that reproduces the issue? I am hesitant to run a lot of code in a zip file without looking through all the code first.

[2020-03-26 22:48] ngc92 commented on #37357
I have submitted a PR that adds pathlib support for the keras functions mentioned above. It introduces a generic helper function that converts a pathlib.Path to str and is a no-op for python versions that do not support pathlib.

The same approach would also work for all other tensorflow functions that do not take Tensors as arguments. I can submit a PR for that, but I am unsure of where to place

[2020-03-26 22:48] theadityasam commented on #37897
Hey @AshiakerWang
Do you have protoc installed?
If not, try installing one of their precompiled binaries for your system-[link](https://github.com/protocolbuffers/protobuf/releases/)
Else, you can build it with vcpkg
[code]
Then try running your bazel script.

[2020-03-26 23:24] theadityasam commented on #37899
Refer https://docs.bazel.build/versions/master/windows.html#using-bazel-on-windows-1
I guess a possible approach would be to set `BAZEL_VC` or `BAZEL_VS` environment variables to the location of the `icc` installation.

[2020-03-26 23:29] mihaimaruseac commented on #37357
I think we should mostly do the conversion just before calling the filesystem layer (e.g., in `tf.io.gfile....` methods).

For the cases where those methods are not used and developers used the natural Python functions, I think we should first attempt a conversion to the wrapped ones. Only if this conversion does not make sense should we try to convert path-like objects to string in the other case

[2020-03-26 23:42] TheProgrammerIncarnate opened #37956 "Severe performance drop after updating"
**System information**
- Fairly basic Keras/python script
- OS: Manjaro, up to date (as of 3/26)
- Device: Running on CPU (Intel 8th gen)
- TensorFlow (opt-cuda) installed from PacMan
-TF version: 2.1.0-4
- Python version: 3.8.2-1

**Explanation of issue**
I updated my system earlier today. A few minutes ago I started training a small feed-forward network using a python/Keras script. I had run thi

[2020-03-26 23:43] mdanatg commented on #36792
In general, you can't mix NumPy and TF ops. But the error messages should be more informative, and we need to fix that.

[2020-03-26 23:58] mberneti commented on #28846
@ymodak The issue is `OverflowError: Python int too large to convert to C long` error after running this line of [feature_columns.ipynb](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/structured_data/feature_columns.ipynb) codes on the windows OS.
`demo(feature_column.indicator_column(crossed_feature))`

[2020-03-27 00:57] AshiakerWang commented on #37897
@theadityasam Thank for your reply !
The output of  `pip show protobuf` is
`Name: protobuf
Version: 3.11.3
Summary: Protocol Buffers
Home-page: https://developers.google.com/protocol-buffers/
Author: protobuf@googlegroups.com
Author-email: protobuf@googlegroups.com
License: 3-Clause BSD License
Location: d:\conda\envs\tensorflow\lib\site-packages
Requires: setuptools, six
Required-by: tensorflow,

[2020-03-27 01:18] tiantaohuawei opened #37957 "segmentation fault"
/home/tf_mtrl# python tf_train.py
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.

[2020-03-27 01:18] tensorflowbutler commented on #9489
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-27 01:18] tensorflowbutler commented on #37504
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-27 01:30] jvishnuvardhan commented on #34154
@jackd I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-03-27 01:30] #34154 closed

[2020-03-27 01:34] jvishnuvardhan commented on #34595
@muxgt I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-03-27 01:34] #34595 closed

[2020-03-27 01:41] gowthamkpr commented on #37737
@herberteuler Are you running into the same error with Tensorflow 1.15 and Tensorflow 2.x? Thanks!

[2020-03-27 01:44] tiantaohuawei commented on #37957
I get callstack as below.
Fatal Python error: Segmentation fault

Thread 0x0000ffffbb0d8b20 (most recent call first):
  File "/usr/local/lib/python3.7/site-packages/tensorflow_core/python/client/session.py", line 1443 in _call_tf_sessionrun
  File "/usr/local/lib/python3.7/site-packages/tensorflow_core/python/client/session.py", line 1350 in _run_fn
  File "/usr/local/lib/python3.7/site-packages/t

[2020-03-27 01:46] muhongqiang commented on #34595
TD

在 2020-03-27 09:45:13，"Vishnuvardhan Janapati" <notifications@github.com> 写道：

Closed #34595.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-27 01:47] muhongqiang commented on #34595
unsubscribe

At 2020-03-27 09:43:11, "Vishnuvardhan Janapati" <notifications@github.com> wrote:

@muxgt I am closing this issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-27 01:51] FLming commented on #37561
The code is available in [CRNN.tf2](https://github.com/FLming/CRNN.tf2), To reproduce this error, clone it, add MirroredStrategy, then run it with example data by:
[code]
The error after add tf.compat.v1.experimental.output_all_intermediates(True):
[code]
Is batch normalization not available in distributed training?

[2020-03-27 01:58] DucLong06 commented on #37860
I tried versions> 1.1 <1.8 and encountered the same error

[2020-03-27 02:21] yhliang2018 commented on #32948
@tiru1930  `tf.keras.layers.ReLU` should be used as Keras layers rather than an activation function in other layers. For activation, you may use either the string `relu` or [`tf.keras.activations.relu`](//www.tensorflow.org/api_docs/python/tf/keras/activations/relu).

[2020-03-27 02:21] #32948 closed

[2020-03-27 02:28] leocd91 commented on #37938
Hi, I already all those steps too, and any other suggestion #36111 #33319 #31018 with no results.
okay, thanks @theadityasam for the suggestion, I'll try to uninstall the cuda then just use the one from anaconda.
I'll inform you guys quickly.

[2020-03-27 02:32] gowthamkpr commented on #37897
@AshiakerWang Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/35414#issuecomment-601652629) and let me know if it helps.

[2020-03-27 02:35] Gogotis commented on #37889
@Saduf2019

Thank you for reply!! I will try with that version ;-)

And Can i ask one more??

As i mentioned, i want to use TensorRT for TF-TRT.

Is there any TensorRT version compatibility with that version (CUDA 10.0 cuDNN7.4 Tensorflow 1.14)??
I saw some build error issue because of TensorRT version.

[2020-03-27 02:37] gowthamkpr commented on #37882
@Ceceu Please take a look at the answers of this issue [here](https://www.researchgate.net/post/Loss_Functions_for_unsupervised_image_segmentation).

Also as this issue is not related to bug/performance, build/install, docs or related issues, can you please post this question in stackoverflow as there is a wider community to respond and close this issue. Thanks!

[2020-03-27 02:38] yhliang2018 commented on #33939
@MikeOfZen This issue should have been fixed. Can you verify it with tf-nightly? If the error is gone, feel free to close the issue.

[2020-03-27 02:52] gangmuk opened #37958 "Can I get a output shape( or size) of each node from NodeDef ?"
TF version: 1.13.1 (so I am using not eager execution for my project.)

I want to know the output tensor shape or size of each node before actually executing graph.
(meaning, Graph building part in tensorflow before going into executor part.)

I guess I can do it by extracting proper information from NodeDef protobuf. There is "attr" and I guess it possibly contains the output tensor shape informa

[2020-03-27 03:01] gangmuk commented on #37958
this is a part of SummarizeAttr(node_def).

node name: MatMul,           Attr: T=DT_FLOAT, transpose_a=false, transpose_b=false, _device="/job:localhost/replica:0/task:0/device:GPU:0"

no output shape info...

[2020-03-27 03:03] ymodak commented on #37103
This is fixed with tf-nightly version '2.2.0-dev20200325'. Thanks!

[2020-03-27 03:05] ymodak commented on #37103
This is fixed with tf-nightly version '2.2.0-dev20200325'. Thanks!

[2020-03-27 03:17] ymodak commented on #35783
This is fixed with latest tf-nightly '2.2.0-dev20200325'. Thanks!

[2020-03-27 03:22] Sanqiang opened #37959 "ImportError: cannot import name 'load_from_saved_model'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): na
- OS Platfo

[2020-03-27 03:24] jvishnuvardhan commented on #33238
@mahmoodn @jakemdaly Sorry for the delay in my response. Can you please use recent profiler which has more details about bottlenecks in your code. Please check the guide [here](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras) and also check [this resource](https://www.tensorflow.org/guide/profiler) on how to optimize tensorflow performance. Thanks!

[2020-03-27 03:26] Sanqiang commented on #37959
BTW, this is the colab link: https://colab.research.google.com/drive/1Jr0j_I_npKQxcQ1ggJQFHTqoJHmt9Bqk

[2020-03-27 03:39] gchawla3 commented on #30490
You can follow given link  to resolve issue-
https://www.youtube.com/watch?v=3TLxQIRj3yg&t=1s

[2020-03-27 03:42] drnitinjolly commented on #30490
You can follow my given link to resolve this issue-

https://www.youtube.com/watch?v=3TLxQIRj3yg&t=1s

[2020-03-27 03:53] 17patelumang opened #37960 "TF 1.15.2 Memory Leak"
**System information**

- OS Platform and Distribution : macOS Catalina 10.15.3

- TensorFlow installed from : binary

- TensorFlow version : 1.15.2
- Python version: 3.7.3

**Describe the current behavior**

I am running simple tensorflow  sess.run as below -

`from tensorflow.python.framework import ops`
`import gc`
`import psutil`
`process = psutil.Process(os.getpid())`

`N_REPS = 10000`
`sess

[2020-03-27 03:59] zhaozheng09 opened #37961 "I meet a problem with HDFSWritableFile::Append"
**System information**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux centos 7
- TensorFlow installed from (source or
binary): - find in tf_1.10, and recurrent in master.
- Python version: find in python2.7, recurrent in python3.6.5
- Bazel version :find in 0.15.2, recurrent:2.0.0,
- GCC/Compiler version find in 4.8.5, recurrent:7.3.0

I meet a problem with HDFSWritableFile::Appe

[2020-03-27 04:09] nitbix commented on #37885
@Saduf2019 thanks for checking. I tried tensorflow-gpu in colab and that seems to work as well.

I dug a bit more and narrowed it down a bit. This only happens with later versions of pyyaml - with 5.3.1 it fails on all environments I tested, with both tensorflow and tensorflow-gpu. Seems to be a change from 5.1 (ok) to 5.2 (not ok).

At this point I don't know if it's a bug in pyyaml or its behavi

[2020-03-27 04:09] danielsabinasz commented on #30490
This has nothing to do with TensorFlow lite, but is just advertisement for a project called Tensorlite (https://github.com/justdvnsh/tensorlite), which features code stolen from my TensorSlow project (https://github.com/danielsabinasz/TensorSlow)

[2020-03-27 04:26] amahendrakar commented on #36853
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-27 04:26] #36853 closed

[2020-03-27 04:27] amahendrakar commented on #36867
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-27 04:27] #36867 closed

[2020-03-27 04:38] tanzhenyu commented on #33751
Closing it for now. Let us know if you run into any other issues.

[2020-03-27 04:46] Saduf2019 commented on #37720
@synergy178
the error faced is not with tf.contrib please create this issue on stackoverflow.
please confirm if we may move this to closed status

This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-03-27 05:03] Saduf2019 commented on #37956
@TheProgrammerIncarnate
Could you please share the code run by you along with complete error logs for us to analyse

[2020-03-27 05:04] hardianlawi opened #37963 "tf dataset cache behave differently with filter for TF 1.x"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Plat

[2020-03-27 05:08] Saduf2019 commented on #37746
@SestoAle
please update on above comment

[2020-03-27 05:25] Vaspra opened #37964 "Warning caused by local-scope dataset.map() function"
Just a quick observation (**tf = 2.1.0**)

Using `tf.data.Dataset.from_tensor_slices((filenames, labels)).map(FUNC)` when FUNC is in a local scope causes the warning:

**No warning:**

[code]

**Warning:**

[code]

[code]

[2020-03-27 05:32] Vaspra commented on #37964
Actually I'm gonna pin this down to something else. Just tried reproducing it and it wasn't always predictable. Please disregard.

[2020-03-27 05:32] #37964 closed

[2020-03-27 05:44] Saduf2019 commented on #37889
@Gogotis
i found few links for the compatibility [link-1](https://docs.nvidia.com/deeplearning/sdk/tensorrt-support-matrix/index.html) [link-2](https://www.tensorflow.org/install/gpu) [link-3](https://stackoverflow.com/questions/50622525/which-tensorflow-and-cuda-version-combinations-are-compatible), please let us know if this helps resolve the issue

[2020-03-27 06:27] #37752 closed

[2020-03-27 06:46] 17patelumang commented on #36155
any update on this ?

[2020-03-27 06:54] kriskorrel-cw commented on #37900
Alright, here are my not-so-scientific findings:
1. The problem appears to be code-specific, which is demonstrated by the fact that running some tensorflow tutorial code seemed to work fine so far.
2. The problem is very non-deterministic. Yesterday I have tried to run the exact same training script multiple times, each time making sure the the program is fully killed and the GPU is freed before I

[2020-03-27 06:57] chsigg commented on #37935
Could you try qualifying the `conj` in cwise_op_gpu_conj.cu.cc with `::tensorflow::functor::`?

[2020-03-27 06:58] Saduf2019 commented on #37860
@DucLong06
please confirm if you faced the error with 1.15, if you haven tried please try and let us know

[2020-03-27 07:03] Saduf2019 commented on #37864
@Flamefire
can you please let us know what OS are you facing this issue in

[2020-03-27 07:08] Saduf2019 commented on #37885
@nitbix
Can you please share the gist of google colab you have reproduced the error.

[2020-03-27 07:09] vnvo2409 commented on #19297
Good news, S3 has passed all unit test except `HasAtomicMove` which does not compile because `NeedTempsLocation` is not belong to `s3fs`. I have to set up my own bucket on S3 sever to test. Is there a way to mock test it ?
Anyway, the only thing left to do is solving the exceptions 🚀
<img width="809" alt="image" src="https://user-images.githubusercontent.com/17511625/77730733-f6886b80-7033-11ea-94

[2020-03-27 07:13] anj-s commented on #37834
@w19787 As the error message suggests we currently disallow aggregating a MirroredVariable in replica context since we aggregate the values before assigning (this is to ensure that the MirroredVariables remain in sync).

Would it be possible to work around this by updating the variable in cross replica context like the error message suggests?

[2020-03-27 07:28] Flamefire commented on #37864
Linux Mint 19.1, but this is a Bazel (code) issue, not dependent on the system. The error is

The code mentioned is:
https://github.com/tensorflow/tensorflow/blob/6609461732729e9e60567b13d5345bc19fead5d1/third_party/systemlibs/protobuf.bzl#L112-L119

No mention of a "tools" parameter, only "inputs". Upstream code has "tools": https://github.com/protocolbuffers/protobuf/blob/dec4939439d9ca2adf2bb14

[2020-03-27 07:34] MeghnaNatraj commented on #37103
Thank you!

[2020-03-27 07:34] #37103 closed

[2020-03-27 07:36] gadagashwini commented on #37900
@kriskorrel-cw, Can we close since the problem is disappeared in tf-nightly.

[2020-03-27 07:37] kriskorrel-cw commented on #37900
Would be fine by me

[2020-03-27 07:38] littlepai commented on #15547
asked on StackOverflow is better

[2020-03-27 07:40] ravikyram commented on #37504
@jonyvp

Any update on this issue please. Thanks!

[2020-03-27 07:41] gadagashwini commented on #37941
@nitinmnsn, Could you provide the standalone code and the Tensorflow version. Thanks

[2020-03-27 07:44] gadagashwini commented on #37957
@tiantaohuawei, Please provide the complete standalone code and Tensorflow version. Thanks!

[2020-03-27 08:11] xav12358 commented on #37950
I modidy /models/research/object_detection/data_decoders/tf_example_decoder.py and put in constructor dct_method='INTEGER_FAST' ensure TF version 1.6 compatibility

[2020-03-27 08:29] tiantaohuawei commented on #37957
standalone is not available. the environment is a bit complicated。tht tf version is 1.15

[2020-03-27 08:32] vikramambrose commented on #37626
I'm seeing this error too with an NMT model I converted from Keras.

[code]

Here is the Keras model creation code; https://github.com/prateekjoshi565/machine_translation/blob/master/german_to_english.ipynb

Here is the tflie conversion script;
[code]

**Host config**
Keras 2.3.1
Keras-Applications 1.0.8
Keras-Preprocessing 1.1.0
tensorflow 2.1.0
python 3.7.4

**Target config**
implementation 'org

[2020-03-27 08:50] np000 commented on #37462
@ayushmankumar7 I have tried tf.compat.v1, this worked. My goal is to make a custom tf.module or tf.keras model and train using autograd or model.fit

[2020-03-27 09:24] pandrey-fr commented on #37839
I have to admit I don't quite get why it works in 2.2 and not in previous versions, but great! If I understand well, some specifications are inferred / set within the `fit` call, which explains why I was initially able to replicate the issue by attempting to use `model.save` _before_ `model.fit`.

Normally this should not be an issue. The checkpoints should allow you to resume training with an ins

[2020-03-27 09:46] garethjscoleman commented on #32055
I have the same issue when cross comipling for raspberry pi zero on version, however if I change the armv6 compiler  options in

tensorflow/lite/tools/make/targets/rpi_makefile.inc

to the following

ifeq ($(TARGET_ARCH), armv6)
    CXXFLAGS += \
      -marm \
      -mfpu=vfp \
      -mlong-calls \
      -mthumb-interwork \
      -mfloat-abi=hard

    CCFLAGS += \
      -marm \
      -mfpu=vfp \

[2020-03-27 09:48] Saduf2019 commented on #37945
@wangweitong
with reference to your question on"get_concrete_function", please refer to these [link](https://www.tensorflow.org/guide/concrete_function#using_get_concrete_function), [link-2](https://stackoverflow.com/questions/57542301/is-it-possible-to-train-a-concrete-function)

Can you share the problem faced and sample code for us to replicate the issue.

[2020-03-27 09:54] Saduf2019 commented on #37932
@nistrup
with reference to the error shared please find these example issues, let us know if it helps:

#35950 #33536 #33924

[2020-03-27 10:05] phiwei commented on #33030
@emuccino could you elaborate on your solution/provide example code?

[2020-03-27 10:11] tanzhenyu commented on #32786
Re-assigning to Yanhui

[2020-03-27 10:40] amahendrakar commented on #37963
Was able to reproduce the issue with TF 1.15.2. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/7714f97c7adc37db9f361bdc40fe9f5a/37963.ipynb). Thanks!

[2020-03-27 10:45] ph0123 opened #37966 "Guide for Distributed TF with c++"
I see the core here https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/distributed_runtime

But there is no instruction about how to run TF with distributed system (C++ language).
Please share with us some documents about distributed TF c++.

Thanks,

[2020-03-27 10:49] amahendrakar commented on #37942
@jliebers,
I was able to run the above code without any issues for 500 epochs. However I'm facing an error stating
```IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices``` on running the `model.evaluate()` cell. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/413e6d7a250b276a91b72c0166aa4

[2020-03-27 10:50] seemakumar8 opened #37967 "Using experimental_new_converter generates opcode that is not found in kernel"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): tf-nightly on colab
- Tensorflow version (commit SHA if source): Version 2.2
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ARM Mbed OS (Cortex M K64F)

**Describe the problem**
I am trying the hello_world (https://github.com/t

[2020-03-27 10:53] ujjwal-ai commented on #37365
@jaketae sorry for jumping here but yes I think that 'use_bias=False' is the right thing to do.

[2020-03-27 10:55] herberteuler commented on #37737
The code in question is not changed for these versions, so I only checked with TensorFlow 2.1.

Well in TF2.1, the `tf.layers` APIs are gone, so the expected behavior cannot be demonstrated anymore. But with a little change to the code, the same behavior can be observed from TF2.1.

The changed code can be found [here](https://gist.github.com/herberteuler/8c4350db197bd02892aaec9e5bbf3338).

[2020-03-27 11:00] lamba92 opened #37968 "tf.keras.models.Model.fit strange behaviour after upgrading from 2.1 to 2.2-rc1"
I was experimenting with `tf.keras.applications.inception_v3.InceptionV3` for classifying skin cancer lesions. It was going smooth since when Colaboratory decided to upgrade its VM's TF version from 2.1 to 2.2-rc1.

Now when loading the model from disk it says:
[code]
But most importantly the `Model.fit` is not able anymore to properly process a `keras.utils.Sequence`! Indeed during training the s

[2020-03-27 11:13] Saduf2019 commented on #37881
@fwatty-1218
i have run the code shared in your gist on same version and tpu but face a different error,please find the gist [here](https://colab.sandbox.google.com/gist/Saduf2019/6f9a9a21af272bb3974dcb44a9592a0b/37881.ipynb)

[2020-03-27 11:13] jliebers commented on #37942
@amahendrakar

Hi, I am sorry, the very last cell (line 198 to 206) contained a bug and should have been:

[code]

I corrected and re-ran your notebook.

Also, maybe a solution was found for my problem (kudos to @DietmarKracht). Let me quickly verify it. Will update this issue asap. 🙂

[2020-03-27 11:13] akanyaani opened #37969 "Memory leak in TensorFlow 2.0 DataSet when using group_by_window."
**System information**
- OS Platform: - Google Cloud Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0
- Python version: 3.7
- CUDA/cuDNN version: 10.01
- GPU model and memory: Tesla P100, 16GB
- Running on GRAPH MODE:- YES

This is creating memory leak.
[code]

This works fine
[code]
***
I am training a pairwise ranking model, where I have 100k

[2020-03-27 11:18] groud commented on #36495
Hi, I have the same problem when I go through the installation process. I first had this error message: `cannot find package "github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto"`.

So I followed the steps to builds things from source instead and had the error about the bazel version (I had bazel 2.2.0 instead of the request 2.0.0), but removing the .bazelversion files solved

[2020-03-27 11:23] ClementWalter commented on #34968
Is there any update on this topic ? Or any possibility (hack) to update the method_name afterwards?

[2020-03-27 11:26] ravikyram commented on #37923
Closing the issue since its resolved. Thanks!

[2020-03-27 11:26] #37923 closed

[2020-03-27 11:28] ravikyram commented on #37951
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2020-03-27 11:35] fwatty-1218 commented on #37881
Looking at the gist, the process leading up to the error is the same, so the cause of the error may be due to the assigned TPU device?

[2020-03-27 11:36] ravikyram commented on #37969
@akanyaani

Looks like code is incomplete. Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-27 11:47] ClementWalter commented on #34968
This is definitely a bug because from the documentation of `tf.saved_model.save` one has:

but:

1. tf2.1 does not have such module available but rather I was able to import with `from tensorflow.python.saved_model import signature_constants`
1. setting the name of the signature as indicated in the documentation does not solve the problem (clear reason why when reading the source code though), as

[2020-03-27 11:47] Pyrestone commented on #23050
In general, can we make the behaviour of this option a bit more forgiving for uneven bactch sizes?
Maybe the following behaviour is more in accordance with the user's expectations:

In  **training** mode:
- If the batch size is a multiple of virtual_batch_size -> use virtual batch size.
- If the batch size is not a multiple -> use the whole batch size and raise a warning the first time this occurs

[2020-03-27 11:48] nistrup commented on #37932
I'm afraid none of this has worked. I'll spend some time trying to do a completely clean install and maybe try to downgrade my GPU drivers as well. So far nothing has worked. The models train completely fine using CPU only and breaks seemingly at random when using GPU, like in https://github.com/tensorflow/tensorflow/issues/37942

[2020-03-27 12:26] theadityasam opened #37971 "Broken link for tf.debugging.assert_same_float_dtype"
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/index.md

## Description of issue (what needs changing):
The link for `tf.debugging.assert_same_float_dtype` is dead

### Clear description

The previous link leads to: https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/tf/

[2020-03-27 12:27] akanyaani commented on #37969
Hi @ravikyram

I am facing some issues in the Colab notebook, so I am posting a sample code here.

[code]
But I am unable to replicate the issue when creating dataset using random vectors. Still, you can replicate the issue if you read data from huge numbers of TF records.

**In my case, I have 100k TF records and every file contains training data for one query id.
I am still facing the issue when

[2020-03-27 12:41] gthb commented on #37541
Sure, but that's missing the point. Deserialization doesn't just fail to restore the trainable attribute, it fails _completely_, if the trainable attribute has been changed. This is because the ordering of weights _depends on_ the trainable attribute, and the serialization/deserialization _assumes_ that the ordering is unchanged.

Sure, I can do that for my own use case, but the point remains that

[2020-03-27 12:45] jliebers commented on #37942
Hi,

so the following **workaround** has been found thanks to @DietmarKracht. Now I am able to train LSTMs on my GPU without the error from the first post in this issue. 🎉 🎉 🎉

To train the LSTM-model on a GPU on my plattform (Windows 10, tf 2.1.0), the parameter `batch_input_shape` **must** be specified during the model creation in the very first layer and the parameter `input_shape` _must_ be om

[2020-03-27 12:45] jliebers commented on #37932
Hi @nistrup ,

please check my issue #37942. I might have found a solution for your problem as well. 🙂

[2020-03-27 12:48] gadagashwini commented on #37926
@bela127, tf.keras.backend.set_floatx(value), here value should be `float16` or `float32` or `float64`. For more read the [Tensorflow doc](https://www.tensorflow.org/api_docs/python/tf/keras/backend/set_floatx?version=nightly). Thanks

[2020-03-27 12:54] aashay96 commented on #23238
Hey, Facing the same issue. inference is 3-4x slower. Is there any update or any solution?

[2020-03-27 13:35] tanzhenyu commented on #35336
I think this is the right approach, i.e., using keras-application preprocess_input to get meaningful results, regardless of convert_image_dtype. This should have already been tested.

[2020-03-27 13:36] rakeshmothukuru1 opened #37972 "Tensorflow 2.x version is used in 1.x Tutorials"
## URL(s) with the issue: https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/keras/save_and_restore_models.ipynb

## Description of issue (what needs changing): The Tutorials corresponding to 1.x Version in Github has the version 2.x used inside it, thus leaving no Tutorials corresponding to 1.x (at least for Save and Restore)

### Clear description: Please find the screenshot in

[2020-03-27 13:45] georgescortaru commented on #37935
I modified the cwise_op_gpu_conj.cu.cc:

#if GOOGLE_CUDA || TENSORFLOW_USE_ROCM

#include "tensorflow/core/kernels/cwise_ops_gpu_common.cu.h"

namespace tensorflow {
namespace functor {
DEFINE_UNARY1(::tensorflow::functor::conj, complex64);
DEFINE_UNARY1(::tensorflow::functor::conj, complex128);
}  // namespace functor
}  // namespace tensorflow

#endif  // GOOGLE_CUDA || TENSORFLOW_USE_ROCM

Now

[2020-03-27 13:57] nitbix commented on #37885
@Saduf2019 https://colab.research.google.com/gist/nitbix/b9db4179a0d72b1797f83909c89e69ae/37885.ipynb

the only difference from yours is the pyyaml version

[2020-03-27 14:00] mehdirezaie commented on #24548
I was able to install TF with anaconda on an old Linux system
[code]

[code]

[2020-03-27 14:00] hepbc opened #37973 "Keras loading a saved model - ValueError: Could not find matching function to call loaded from the SavedModel"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have written custom code: Yes
- OS Platform and Distribution:

[2020-03-27 14:03] Andreas5739738 commented on #32058
Trying to briefly summarize this issue, which I also ran into:
- Layer.add_loss(...) does not work in eager mode
- it works in graph mode, but _not_ if Layer.call is decorated with tf.function

Should we consider this a satisfying state of things? Having code that runs in graph mode but fails in eager mode is problematic for a number of reasons. E.g., it makes debugging and testing complicated  (y

[2020-03-27 14:20] tongvantruong opened #37974 "Graph Transform Tool remove_nodes is unable to remove Switch nodes but Identity nodes"
I can remove all the Identity nodes from my .pb model with the commands:

[code]

However, I cannot do the same things if change Identity to Switch. It means the below command does not remove any nodes.

[code]

This is how I check the model nodes:

[code]

**The result as below:**

Found 2 possible inputs: (name=phase_train, type=bool(10), shape=<unknown>) (name=batch_size, type=int32(3), shape=<

[2020-03-27 14:21] Leslie-Fang opened #37975 "Binary add op BF16 has lower performance than FP32"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Centos 7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):  binary pip insta

[2020-03-27 14:40] andrewxcav opened #37977 "Micro -- Crash in ErrorReporter::Report"
**System information**
TensorFlow Lite for Microcontrollers
running greedy_memory_planner_test from master
building with a Clang based compiler where va_list has the type void*

**Describe the current behavior**
Test crashes on
`TF_LITE_REPORT_ERROR(error_reporter, "%s", line);`
Most likely because the string arg matches two prototypes in this configuration of Clang, and its picking the wrong one.

[2020-03-27 14:51] johannabar commented on #24591
I believe this is still not working with the latest version of tensorflow 2.1.0. The error becomes: `self.handle_op = var.op.inputs[0]
IndexError: tuple index out of range`
@ymodak Any updates on this?

The full stack error is:
[code]

[2020-03-27 15:08] Flamefire commented on #37693
I used the code from https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/examples.html "Example 2: One Device per Process or Thread" and sucessfully run it. Compiled with `nvcc example2.c -lnccl -lmpi`. I also used the "Example 3" with 3 devices/process (changed the nDev line). Both show Success.

I run TF with `NCCL_DEBUG=INFO`. For the GeForce GTX 1080 Ti (hang) the output is:
[co

[2020-03-27 15:10] gthb commented on #37541
A possible workaround (for someone who knows about this gotcha) is to set the `.trainable` attribute of all layers back to `True` before serializing. (Untested, but should work.)

[2020-03-27 15:11] amahendrakar commented on #37950
@xav12358,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/11312#issuecomment-313444730) comment form a similar issue and let us know if it helps? Thanks!

[2020-03-27 15:14] bela127 commented on #37926
then the warning is very misleading, it explicitly tells to use` tf.keras.backend.set_floatx('bfloat16')` and with this restriction it is not practical to build models with `bfloat16`. which in fact is necessary for training without numeric instability.

I think the message should be fixed , and/or
should i file a feature request?

[2020-03-27 15:16] amahendrakar commented on #37172
@mohlondon,

Any updates on this issue?

@Zer0-dev115,
I am still facing the same issue, no solution as of now.

Thanks!

[2020-03-27 15:18] amahendrakar commented on #37194
@TOPMANZA,
Any updates regarding this issue? Thanks!

[2020-03-27 15:18] amahendrakar commented on #37413
@mohlondon,
Any updates regarding this issue? Thanks!

[2020-03-27 15:23] amahendrakar commented on #37457
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-27 15:23] #37457 closed

[2020-03-27 15:26] amahendrakar commented on #37474
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-27 15:26] #37474 closed

[2020-03-27 15:28] danny1718 commented on #27935
--------------------------------------------------------------------------------------------------------------

Hi Dipen,

The libs installed in the default environment would not work in the 'tf' environment because they are two separate environments. And also, tensorflow was installed in the 'tf' environment so it can't be found in the default one.

To solve this issue, you can install all the li

[2020-03-27 15:33] 17patelumang commented on #37960
any updates ?

[2020-03-27 15:45] garethjscoleman commented on #32055
In  attempting to reproduce my results I note that I also needed  to edit the following file which appears to hard code the TARGET_ARCH parameter

./tensorflow/lite/tools/make/build_rpi_lib.sh

TARGET_ARCH=armv6

I now have the following as the final line of that file (whcih hard codes it for armv6 instead of armv7

CC_PREFIX=arm-linux-gnueabihf- make -j 3 -f tensorflow/lite/tools/make/Makefile TA

[2020-03-27 15:59] ljafari opened #37978 "cudaGetDevice() failed. Status: CUDA driver version is insufficient for CUDA runtime version"
I installed Anaconda 2020(64 bit) after uninstalling every installation and files related to python before that and then used these instructions:
conda install tensorflow
conda install tensorflow-gpu
now I have
cudatoolkit               10.0.130                      0
cudnn                     7.6.5                cuda10.0_0
 and NVIDIA Graphics Driver 388.73

Then I run these instructions in spyd

[2020-03-27 16:02] nitinmnsn commented on #37941
tnesorflow version : 2.1.0
standalone code for what? This is a feature request

[2020-03-27 16:12] Axelsalamartin opened #37979 "Error when tf2 model is ask to output gradients with prediction"
-------------------------------------
System information

Tensorflow==2.1.0 in a conda env

-------------------------------------
Test Goal
The goal was to get the gradients as an output of the model to get it during inference

------------------------------------
Test Code

import tensorflow as tf
import numpy as np

tf.config.experimental_run_functions_eagerly(True)

def get_model():

    input_

[2020-03-27 16:16] lminer commented on #37839
Should we perhaps alter that check to only apply for h5 format?

[2020-03-27 16:23] nistrup commented on #37932
Thanks! It seems to have fixed one of my issues at least! Now I'm faced with this instead:

[code]

And the Jupyter Kernel crashes. Any ideas? :)

[2020-03-27 16:24] jliebers commented on #37932
What is your batch_size as part of `batch_input_shape=(batch_size, n_timesteps, n_features)`?

[2020-03-27 16:25] nistrup commented on #37942
After following the solutions suggested like:

- Allowing GPU Memory Growth
- Using `batch_input_shape` instead of `input_shape`
- Using `drop_remainder=True` when creating batches

I'm faced with the following after the first successfully trained model:

[code]

[2020-03-27 16:25] mihaimaruseac commented on #19297
That's great.

We would prefer to not mock the filesystem tests because that could result in divergent behavior between actual use and the mock.

Regarding the missing method, that might be because when it was added recently no one also ran the S3 tests.

[2020-03-27 16:27] nistrup commented on #37932
Currently 256, I'm using a setup where each HyperParameter permutation model is trained 3 times to give me an average score, the first model completes all 3 runs but then the kernel seems to die when starting the first run of the 2nd model.

[2020-03-27 16:28] vnvo2409 commented on #19297
Ok. I am working on the exception and I will update when I find something ?
Do you have any suggetion where to dig in for me ? @mihaimaruseac

[2020-03-27 16:29] jliebers commented on #37932
I had also issues with such a high batch_size. 197 for me, for instance, did not work out and it lead to crashes. Currently I use some value between 60 and 160 and it works. Remember that it needs to be a divisor of len(X). 😄

[2020-03-27 16:31] jliebers commented on #37942
Yes, allowing GPU memory growth is also necessary, i.e.
[code]

And I agree with the bullet points you posted. They are required to make it work on my setup.

[2020-03-27 16:32] BgMuhendis commented on #22314
@high242
did you solve the problem?

[2020-03-27 16:33] nistrup commented on #37932
I just tried with BATCH_SIZE = 64 and the exact same thing happens, i.e. kernel crashes with `Check failed: work_element_count > 0 (0 vs. 0)`

Regarding the fact that it needs to be a divisor of len(x_train), I think this should fix "itself" when constructing training data using the `.batch(BATCH_SIZE, drop_remainder=True)`

[2020-03-27 16:37] jliebers commented on #37932
Concerning `drop_remainder` I would think so too.

I just checked and found that my error was slightly different:

[code]

So my advice maybe (lowering the batch_size) was not right.

I fear, that you have gotten off the path that we shared, as your setup starts beginning to be different than mine. I really am not so happy about the current state of GPU-accelerated in Tensorflow/Keras, it is reall

[2020-03-27 16:40] amahendrakar commented on #37584
Any updates regarding this issue? Thanks!

[2020-03-27 16:42] nistrup commented on #37932
I also think our paths have diverged slightly at this point! :)

Thanks a bunch for trying to help me out though, thoroughly appreciated!

[2020-03-27 16:43] amahendrakar commented on #37608
Any updates regarding this issue? Thanks!

[2020-03-27 16:46] armenabnousi commented on #37575
I think this problem occurs only if class weight is input is a dictionary. If it's input as list it runs.

[2020-03-27 16:46] amahendrakar commented on #37618
Any updates regarding the reproducible code?

@mrh335,
Could you please submit a new issue using [this](https://github.com/tensorflow/tensorflow/issues/new/choose) link so that we can track it there.

 Thanks!

[2020-03-27 16:54] nistrup commented on #37932
I think I will close this issue and create a new one related to my current issue instead since this seems to be unrelated at this point. Thanks! :)

[2020-03-27 16:54] #37932 closed

[2020-03-27 16:54] nistrup opened #37980 "Kernel crashes with 'Check failed: work_element_count > 0 (0 vs. 0)' after first model has finished training."
**System information**
- Have I written custom code (as opposed to using example directory):  No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10
- TensorFlow backend (yes / no):  Yes
- TensorFlow version:  2.1
- Keras version:  2.2.4-tf
- Python version:  3.7.6
- CUDA/cuDNN version:  CUDA 10.1, cuDNN: 7.5.6
- GPU model and memory:  Nvidia GTX1070, 8GB

**Describe the current

[2020-03-27 16:58] BgMuhendis opened #37981 "I get cultural errors when I import the Tensorflow library. Can you help me?"
Traceback (most recent call last):
  File "C:\Users\Muhammet\AppData\Local\Programs\Python\Python36-32\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    fp, pathname, description = imp.find_module('_pywrap_tensorflow_internal', [dirname(__file__)])
  File "C:\Users\Muhammet\AppData\Local\Programs\Python\Python36-32\lib\imp.py", line 297, in find

[2020-03-27 17:03] simonsays1980 commented on #36980
Same problem for me. Did anyone succeed in solving this issue? Shutting off eager mode?

[2020-03-27 17:17] Conchylicultor commented on #37705
Our tests are back to green. Thank you: https://source.cloud.google.com/results/invocations/1f44cdab-ab19-4b5d-8cc7-1793fb51864a/targets/tensorflow_datasets%2Fgh_testing%2Fcontinuous/log

[2020-03-27 17:46] bela127 opened #37982 "Large Model Support"
**System information**
- TensorFlow version (you are using): 2.2 nightly
- Are you willing to contribute it (Yes/No): Code exists

code is here:
https://github.com/IBM/tensorflow-large-model-support

**Describe the feature and the current behavior/state.**
TensorFlow Large Model Support (TFLMS) is a feature in the TensorFlow provided by IBM Watson Machine Learning Community Edition (WML CE) that a

[2020-03-27 17:49] amahendrakar commented on #36877
@akanyaani,
Could you please provide the complete code to reproduce the issue reported here? Thanks!

[2020-03-27 17:56] akanyaani commented on #36877
Hi @amahendrakar ,

I have created a new issue, link is:-https://github.com/tensorflow/tensorflow/issues/37969

[2020-03-27 17:58] amahendrakar commented on #36877
Hello @akanyaani,
Since the issue is being tracked there, can we mark this as a duplicate and close this issue? Thanks!

[2020-03-27 18:01] gussmith commented on #36552
@xcwanAndy I have the same issue, how did you solve it finally? You closed it, but you did not specify how it was finally solved. Thanks for your help.

[2020-03-27 18:02] hannesdm opened #37983 "Calling next with a default value on an exhausted Dataset iterator raises an OutOfRangeError in graph mode"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution:  Windows 10
- TensorFlow installed from binary: 2.1.0

**Describe the current behavior**
`next(iterator, default)` is supposed to give the next element in the iterator or the value given as _default_ if the iterator is at the end.
However, when using the above construction in a function with @tf.function, the

[2020-03-27 18:08] melwazir commented on #37968
I had the exact same problem this morning but now it seems to be gone.

[2020-03-27 18:09] jvishnuvardhan commented on #37626
@vikramambrose Can you please open a new issue so that it will be easy for the users to follow. You can tag me in the new issue. Thanks!

[2020-03-27 18:12] TheProgrammerIncarnate commented on #37956
My script is about 350 LoC total, so I condensed it down into only the training-related sections. I'll get back to you shortly with any error logs

[code]

[2020-03-27 18:12] jvishnuvardhan commented on #37626
@vikramambrose One suggestion for you is to import keras from tensorflow. If we mix different components with different versions, then we might face compatibility issue. Thanks!

[2020-03-27 18:16] #36792 closed

[2020-03-27 18:25] TheProgrammerIncarnate commented on #37956
Here's the terminal output from running it (up to a few epochs)

`==Top of log==
Using TensorFlow backend.
2020-03-27 13:08:53.606732: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE3 SSE4.1 SSE4.2 AVX AVX2 FMA
2020-03-27 13:08:53.612068: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Freque

[2020-03-27 18:33] pavithrasv commented on #37548
@drasmuss What is the use case for this? We do not currently have a method as this is internal implementation detail of functional model construction.

[2020-03-27 18:33] amahendrakar commented on #29624
@marwan116,
I was able to reproduce the issue with TF v2.1. However, it seems to be fixed with the latest nightly TF v2.2.0-dev20200327. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2fceed384fd9cfb8966ba9b507b8fcde/tf-nightly.ipynb). Thanks!

[2020-03-27 18:38] angerson commented on #37598
We don't provide official support for cross-compiling like this, sorry. If you can replicate this on master without cross-compiling, please file a new issue.

[2020-03-27 18:38] #37598 closed

[2020-03-27 18:47] akanyaani commented on #36877
Hi @amahendrakar, Yes you can mark it as duplicate.

[2020-03-27 18:47] #36877 closed

[2020-03-27 18:52] mhmedeng opened #37984 "no detection on custom trained model"
I have made a custom trained model using yolov2 and after 1500 iteration i tried to test it but no detection boxes the output image as the input any help please

[2020-03-27 18:53] amahendrakar commented on #31205
@sbsky,
On running the code with [TF v2.0](https://colab.research.google.com/gist/amahendrakar/39d3391def95ea2eee7d5b2912218a77/tf2-0-template.ipynb), I got different outputs for `reallocate_tensors = False` and `reallocate_tensors = True`.

However, with the latest [TF-nightly](https://colab.research.google.com/gist/amahendrakar/23d6fb76ed3cdd02d1b4b0efa021ce37/tf-nightly.ipynb), both the outputs

[2020-03-27 18:56] goldiegadde commented on #37900
Hi @kriskorrel-cw , thanks for reporting the issue, and also verifying with tf-nightly. At this point without a code snippet it is hard to pinpoint the issue.
Please feel free to reopen if the issue reappears or if you have a reproable code snippet.

[2020-03-27 18:56] drasmuss commented on #37548
I need to be able to determine the graph structure of a functional Keras model (i.e. the full graph of which layers are connected to which other layers).

[2020-03-27 19:02] istvan1000 commented on #9829
I started a second Mac with exactly the same set-up, the same environment, which had nothing else then Anaconda and all its libraries and the code. Running it gave me the "Kernel Restarting The kernel appears to have died. It will restart automatically " msg immediately with the first "import Numpy as np" command. I reinstalled, updated, changed the order, renamed the Macs, rebooted 1000 times, tr

[2020-03-27 19:11] settle opened #37985 "Unable to successfully build a devel-cpu.Dockerfile for arm32v7/arm64v8"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 and 19.10
-

[2020-03-27 19:12] VoVAllen opened #37986 "[Bug] DLPack tensor seg faults when calling `tensor.device`"
After https://github.com/tensorflow/tensorflow/pull/37944, the bug below happens. As I tested, if remove the added `TFE_DeleteContext(ctx);`, the codes below work fine. Do you have any idea what's the proper way to use TFE_Context here? @sanjoy @alextp

[code]

**System information**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04
- TF Version: latest nightly build or insta

[2020-03-27 19:13] mdanatg commented on #36792
This PR resolves the autograph warning.

There will be a subsequent PR to improve the error message a bit.

[2020-03-27 19:17] settle commented on #37985
FYI, in a way creating a working devel-cpu Dockerfile is a prerequisite of [#36672](https://github.com/tensorflow/tensorflow/issues/36672).

[2020-03-27 19:17] amahendrakar commented on #31830
@dsmic,
I ran the above code with TF v2.1 and got the same outputs with `workers=0` commented and uncommented. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/9ff532a0d1690d0aefd1a2fb69d9f2a9/2-1-template.ipynb).

Could you please confirm if the issue is resolved? Thanks!

[2020-03-27 19:42] alextp commented on #37986
Oh I completely misread the PR code. The code is broken.

Wh are we creating a new TFE_Context? We should pass the one from python in (so tf.experimental.dlpack.to_dlpack should capture context.context()._handle and pass it to the C++ function)

[2020-03-27 19:43] amahendrakar commented on #31638
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/19fd10326257085b09f137049681b6be/2-1-template.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/bbd1ef55fd48d1851f0b984a5513429c/tf-nightly.ipynb#scrollTo=ieAW-NK5iqpf) i.e. v2.2.0-dev20200327. Please find the attached gist. Thanks!

[2020-03-27 19:57] amahendrakar commented on #29661
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/60c13c6f2c1cc4948add81e210f150c1/2-1-template.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/cf4dab2373adf64de686a77e94cad76c/tf-nightly.ipynb) i.e. 2.2.0-dev20200327. Please find the attached gist. Thanks!

[2020-03-27 20:03] amahendrakar commented on #31998
@David-Mao,
I was able to reproduce the error with TF v2.0. However, the issue seems to be fixed with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/7033da4af6575764dcda2cf9b10ac6ed/2-1-template.ipynb). Please find the attached gist. Thanks!

[2020-03-27 20:04] VoVAllen commented on #37986
Got it. I'm not familiar with tf codebases but just follows the code in unit tests when writing those functions. 😂

[2020-03-27 20:09] mihaimaruseac commented on #37833
Please fill in issue template and don't just paste error message with no formatting.

TF 1.13 is no longer supported. Can you try 1.15 or 2.1 or master instead?

[2020-03-27 20:14] amahendrakar commented on #26608
@meyerjo,
I was able to reprocude the error with TF v2.0. However, the issue seems to be fixed with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/55ed1dfb50678c98c263f9a0c5d2e098/2-1-template.ipynb). Please find the attached gist. Thanks!

[2020-03-27 20:20] amahendrakar commented on #30315
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/5216cdcb0582cc62e6a6518ea5334e2e/2-1-template.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/14ab31228c0693ab78b78ed73f0145d0/tf-nightly.ipynb#scrollTo=ieAW-NK5iqpf) i.e. v2.2.0-dev20200327. Please find the attached gist. Thanks!

[2020-03-27 20:25] goldiegadde commented on #37895
the issue is not seen with 2.2.0-rc1, @Lillypucien can you try that version please

[2020-03-27 20:38] amahendrakar commented on #31429
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/855918e07fcb96fe091964a7b0c543be/2-1-template.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/343256a8d0c24e08a95b050b90bc5942/tf-nightly.ipynb#scrollTo=ieAW-NK5iqpf) i.e. v2.2.0-dev20200327. Session crashes in both the cases. Please find the attached gist. Thanks!

[2020-03-27 20:41] LatinAmericanProgramer commented on #26814
I am having a similar issue. I recently installed anaconda 2020.02 on my Windows 10 laptop which comes with Spyder 4.0.1. .... then installed Tensorflow 2.1.0

`import tensorflow as tf
trained_model = tf.saved_model.load(export_dir='model_CNN_Dataset_pitch_tempo_envs1024xbatch_20xepochs_4')
trained_model.summary()
trained_model.layers`

it fails with:

Any suggestions please?

[2020-03-27 20:54] amahendrakar commented on #33790
@jramirezpr,
Could you please try updating TensorFlow to the latest stable version i.e. v2.1 and the check if it works?

I was able to reproduce the issue with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/3cd7a001755622118f9da0d180e24dcb/tf-nightly.ipynb). But did not face any issues while running the code with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/e040d

[2020-03-27 21:04] jvishnuvardhan commented on #37895
I can reproduce the issue with `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/ae6240266965ecb4803c920e67b64347/untitled40.ipynb) is the colab gist for y/our reference. Thanks

[2020-03-27 21:46] 07rafix commented on #32997
Here is simple solution, I don't get it, it hangs for 2 weeks or more https://github.com/tensorflow/tensorflow/issues/23542, you can easily get rebuild import library .LIB with all missing symbols in a few seconds.

[2020-03-27 21:50] suhel-jaber commented on #33340
@tanzhenyu @robieta Could you please clarify what the difference between model.predict_on_batch(x) and model(x) is?
The call stack and execution times (as captured by statistical profiler pyinstrument) are extremely different.

Here are the details for `model.predict_on_batch(x)`:
[code]

And here are the details for the much slower `model(x)`:
[code]

Out of the two suggestions you guys provided

[2020-03-27 21:50] ymodak commented on #36835
You have to [build graph transform tool](https://github.com/tensorflow/tensorflow/issues/33352#issuecomment-556245567) for TF 2.X
See https://github.com/tensorflow/tensorflow/issues/33352#issuecomment-556245567 to know more

[2020-03-27 21:52] 07rafix commented on #30647
All you want to have on Windows, I mean - fast way to rebuild TF's import library with all missing symbols is here https://github.com/tensorflow/tensorflow/issues/23542.

[2020-03-27 22:11] abattery commented on #37844
- EMBEDDING_LOOKUP is already supported via TensorFlow Lite builtin ops. And the experimental hashtable op kernels are existing under the following directory:  https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/experimental/kernels.
In order to enable them in Python, here is the example code.

[code]

The AddHashtableOps Python module exists in here: https://github.com/tensorflow

[2020-03-27 22:11] corporate-fun commented on #35386
@ymodak @freedomtan I wonder if I can hijack this issue to ask a question...

Are there any benefits that I would get from using the iOS Swift library and the Android Java library that I wouldn't get from using the cross-platform c++ library?

For example, in the documentation for tflite there is a section about "GPU Acceleration and Delegates" (https://www.tensorflow.org/lite/guide/get_started#gp

[2020-03-27 22:30] ymodak commented on #37536
From https://arxiv.org/pdf/1412.6980.pdf beta1, beta2 are exponential decay rates for the moment estimates.
(default values are set as β1 = 0.9, β2 = 0.999)
https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/keras/optimizer_v2/adam.py#L48

[2020-03-27 22:53] dubey commented on #37693
Thanks, looking at the logs above it seems like you are running on 2 hosts each with 1 GPU, right?

Since you are able to run the NCCL tests, this could be a bug in TF.  Can I bother you to run with some more logging enabled?  `TF_CPP_VMODULE=collective_ops=2,nccl_manager=2` should help.

[2020-03-27 22:53] houtoms commented on #37765
@reedwm It seems we still get ```Exception: `apply_gradients()` was called without a call to `get_gradients()` or `_aggregate_gradients`. If you're using TensorFlow 2.0, please specify `experimental_run_tf_function=False` in `compile()`.``` error.

Don't we need
[code]
in class LossScaleOptimizer to pass the gradients aggregation to the wrapped optimizer? After I add these two lines, the problem i

[2020-03-27 22:57] jwlawson opened #37988 "AttributeError with TF2.2.0-rc1 using `keras.model.train_on_batch` inside `tf.function`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab (both CPU and GPU runtime
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): From default Colab TF2.x version
- T

[2020-03-27 23:36] marwan116 commented on #29624
@amahendrakar thanks for taking the time to check this. Ok cool so this looks like it is working now - what about TF1 (1.15 ..)?

[2020-03-28 00:17] yongtang commented on #19297
@vnvo2409 In tensorflow-io we use [localstack](https://github.com/localstack/localstack), which is a AWS stack emulator, to test AWS related ops. It has been quite useful to us. This might be suitable for tensorflow as tensorflow's code base and test running time is already quite long. But once s3 is migrated to tensorflow-io we could reuse localstack to setup the test for s3.

[2020-03-28 00:22] sclavel opened #37989 "TFLite slower than Tensorflow on Desktop?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Unbutu 18.04, Windows 10
- TensorFlow installed from (source or binary): binary (tf-nightly)
- TensorFlow version (use command below): v1.12.1-28195-g6609461732 2.2.0-dev20200327
- Python version: 3.6.9

**Describe t

[2020-03-28 00:31] briannemsick opened #37990 "[tf.keras] Model.metrics_names bug in TensorFlow 2.2.0"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Y
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Mac OS
- TensorFlow version (use command below): 2.2.0rc0
- Python version: 3.7

**Describe the current behavior**

Model.metrics_names returns an empty list (see below example) for a compiled model. This is new unexp

[2020-03-28 01:10] tensorflowbutler commented on #29112
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-28 01:10] tensorflowbutler commented on #36814
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-28 01:10] tensorflowbutler commented on #37407
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-28 01:15] nmatare opened #37991 "[tf.estimator] - `tf.estimator.Head` do not work with TPUs"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Google Collab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: Nont issue
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): Google

[2020-03-28 01:35] reedwm commented on #37765
Good point, we need to define `_aggregate_gradients` if the LossScaleOptimizer wraps the DistributedOptimizer, as is done in the example. If the LossScaleOptimizer wraps the DistributedOptimizer, everything should work fine.

I'll try to cherry-pick the fix in, but 2.2rc2 is already released so there's a good chance I won't be able to. Also try testing with that fix in and let me know if there are

[2020-03-28 02:12] minjac commented on #37536
Thanks for reply, beta_2 seems to be the same as beta1 which in my question.

[2020-03-28 02:20] mihaimaruseac commented on #37702
TF 2.2.0-rc2 has been released and release notes now correctly mention that Bazel needs to be 2.0.0

[2020-03-28 02:20] #37702 closed

[2020-03-28 02:20] mihaimaruseac commented on #33374
TF 2.2.0-rc2 has been released and Python 3.8 wheels are available to install. https://pypi.org/project/tensorflow/2.2.0rc2/#files

[2020-03-28 02:22] mihaimaruseac commented on #37758
TF 2.2.0-rc2 has been released and this issue should be fixed now.

[2020-03-28 02:22] #37758 closed

[2020-03-28 02:31] petewarden commented on #22336
This bug is a couple of years old and the assignee is no longer working in this area, so closing this since we're unlikely to get to it. Please reopen if you are still hitting this problem.

[2020-03-28 02:31] #22336 closed

[2020-03-28 02:32] petewarden commented on #24323
Since the related #21574 has been closed, closing this one as well. Please reopen if you're still hitting this problem.

[2020-03-28 02:32] #24323 closed

[2020-03-28 02:33] Sicongzai commented on #37951
Thank you for responses.
I didn't  change any code and use the python binary as follows:
bazel run //tensorflow/lite/tools/evaluation/tasks/coco_object_detection:preprocess_coco_minival --
--images_folder=/home/sicong/Documents/datasets/COCO/for_tflite_evaluation/val2014
--instances_file=/home/sicong/Documents/datasets/COCO/annotations_trainval2017/annotations/instances_val2017.json
--whitelist_fi

[2020-03-28 02:34] petewarden commented on #25214
We weren't able to get to this fix in the last year, so closing the issue since we're unlikely to be able to work on it. Please reopen if you think this is a mistake.

[2020-03-28 02:34] #25214 closed

[2020-03-28 02:36] petewarden commented on #34334
I think this is now fixed and checked in, so closing! Let me know if I'm wrong and I'll reopen, thanks for your work on this.

[2020-03-28 02:36] #34334 closed

[2020-03-28 02:38] jvishnuvardhan commented on #37894
@hgffly I have used the custom model available in TF website demonstrate the idea. Using subclassed models is little different from Keras Sequential and functional model. I have used Subclassed model to demo the idea as follows. [Here](https://colab.research.google.com/gist/jvishnuvardhan/0af2d51513b5e17b7abd4431b0d7ddf7/loading_weights.ipynb is a colab gist for your reference.

[code]

There are

[2020-03-28 03:13] abpalaciot opened #37993 "can't install tensorflow-gpu==2.0.0b1 in Google Colaboratory"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Google Colaboratory

**Describe the problem**

ImportError

[2020-03-28 03:56] tanzhenyu commented on #37738
@brightcoder01 gentle ping, do you have any concrete example? I intend to include it in the commit description.

[2020-03-28 04:03] super-pirata commented on #32333
I'm facing the same error message but only when I add callbacks.
Adding anyone of them separately or together would trigger the issue but without them the code runs smoothly.
[code]
Error Message:
[code]

[2020-03-28 04:27] super-pirata commented on #33148
Do you have an estimate time for that?

[2020-03-28 04:28] suphoff commented on #37157
While the sensor is 320x320 the selected output mode seems to be 320*240.
Additionally kStrideShift (used in hm01b0_blocking_read_oneframe_scaled) reduced the actually used pixels to 160/120 and causes underflow in offset_x and offset_y calculations.
Try setting kStrideShift to 0 and limit w to 320 and h to 240.

[2020-03-28 05:26] khimraj commented on #37990
@briannemsick, In TF 2.2 , you need call `fit` or `train_on_batch` before you call  `net.metrics_names`.

[2020-03-28 05:33] briannemsick commented on #37990
That seems like a design regression. The eventual names are known at compile time.

Knowing the metrics names before called model.fit can prevent issues that would normally occur before the end of the epoch.

[2020-03-28 05:43] Conchylicultor commented on #37758
I confirm this fixed our tests. Thank you very much!

[2020-03-28 05:44] khimraj commented on #37988
@jwlawson ,  `tf.function` is not executed eagerly for performance purposes. So you need to remove the `@tf.function` decorator  for `.numpy()` to work. For your reference link of gist is [here](https://gist.github.com/khimraj/465004a32f5a64dbf4a78a2e441c4ac2).

[2020-03-28 06:17] khimraj commented on #37984
@mhmedeng, One of reason may be that your model is not learned significantly in 1500 iteration. You can try decreasing threshold value for probability predictions and see the output image to check for any box.

[2020-03-28 06:26] khimraj commented on #37981
@BgMuhendis, This looks like a similiar of [#11571](https://github.com/tensorflow/tensorflow/issues/11571).

[2020-03-28 06:55] ManishAradwad commented on #37972
I'd like to work on this issue. But is this really a doc related issue?? Cause I think the changes involve migrating the code to tf-1.x from 2.x.

[2020-03-28 07:20] ZhuLingfeng1993 commented on #30649
I fix this bug when training mobilenetv2_ssd in tensorflow object detection API with TF1.15, by add `inplace_batchnorm_update: true` in pipeline.config. I hope this can help anyone else.

[2020-03-28 07:22] ZhuLingfeng1993 commented on #30947
@guptapriya  Thank you for reply. I fix this bug when training mobilenetv2_ssd in tensorflow object detection API with TF1.15, by add `inplace_batchnorm_update: true` in pipeline.config.

[2020-03-28 07:37] rachit2608 commented on #34345
@Angtrim, Hi, I am trying to follow the same approach and able to infer the pb file as well. Because to infer pb file we specify size in feeddict.. But, while converting to tflite it doesnt know the value of size. Hence, it cant make resizebilinear layer. And I am not able to convert to tflite successfully. How did you tackle this issue? Can u share code snippet if possible for tflite conversion?

[2020-03-28 07:38] kuriringohankamehameha opened #37995 "Bazel is not able to detect CUDA 10.2 header files when building from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-03-28 08:18] mgmverburg commented on #37747
As far as I can tell, it is fixed! Thank you!

[2020-03-28 08:30] workingloong commented on #37738
The use case is that we want to discretize the numeric values with the missing value to integer ids and feed the ids into embedding.

Example, there are missing values of features in the dataset like:
|  age | height | income | price | label|
| ---- | ------ | --------| ----- | -----|
| 32   | 156     | 7800     | 100   |  0    |
| 56 | 172     |      | 130   |  1    |
| 47 |     |   6700   |    |

[2020-03-28 08:32] rakeshmothukuru1 opened #37996 "Documentation corresponding to Arguments for Pre-Trained Models inside <tf.keras.applications> is missing"
## URL(s) with the issue: The information related to Arguments corresponding to the Pre-Trained Models defined under  https://www.tensorflow.org/api_docs/python/tf/keras/applications is missing.

Some examples links are shown below:

https://www.tensorflow.org/api_docs/python/tf/keras/applications/MobileNet

https://www.tensorflow.org/api_docs/python/tf/keras/applications/InceptionV3

https://www.

[2020-03-28 08:35] bmwiedemann opened #37997 "1.15.2: _pywrap_tensorflow_internal.so differs between builds"
**System information**
- OS Platform and Distribution: openSUSE-Tumbleweed-20200324
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.15.2
- Python version: 3.8
- Installed using virtualenv? pip? conda?: built with rpm [spec](https://github.com/bmwiedemann/openSUSE/blob/master/packages/t/tensorflow/tensorflow.spec#L449)
- Bazel version (if compiling from source): 0.24

[2020-03-28 08:38] tarrade opened #37998 "[tf.data.experimental.cardinality] not working on FlatMapDataset ? [2.2.0-rc1]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.2.0-r

[2020-03-28 08:49] bmwiedemann commented on #37997
extra info: our openSUSE tensorflow2-2.1.0 package is also not affected

[2020-03-28 08:50] Byambaa0325 commented on #37996
Hello, I would like to work on this. Add docs and examples for the models, starting from the mobilenet.

[2020-03-28 09:19] noraizbabar commented on #35736
i got an error converting Model to Tensorflow lite.

Please guide me how get from error

converter = tf.lite.TFLiteConverter.from_keras_model_file(keras_file)
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,
                                       tf.lite.OpsSet.SELECT_TF_OPS]
tflite_model = converter.convert()
open("brainmodel.tflite","wb").write(tflite_model)

INFO:tensorflo

[2020-03-28 09:45] maxkaustav commented on #37996
You can click on see nightly on the website to look at the arguments.

[2020-03-28 09:50] rakeshmothukuru1 commented on #37996
@maxkaustav,
Thank you for your suggestion. But shouldn't the arguments visible in Stable Version as well, because,

1. Many people refer the documentation of Stable Version (it will be open by default)
2. Documentation of Nightly Version will not be very neat, with Stricken Off lines, etc..

[2020-03-28 09:56] maxkaustav commented on #37959
try `tf.saved_model.load` or`tf.keras.models.load_model`

[2020-03-28 10:03] s4sarath commented on #37615
Any update on this ?

[2020-03-28 10:07] Byambaa0325 commented on #37996
@rakeshmothukuru1,
Hi, I think the stricken off lines reflect the changes to the stable version, meaning it was deleted and will not be in the stable version when deployed. However, the documentation could still use some examples I believe

[2020-03-28 10:20] mohlondon commented on #374
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/kali/.conda/envs/chatbot/lib/python3.6/site-packages/tensorflow/__init__.py", line 101, in <module>
    from tensorflow_core import *
  File "/home/kali/.conda/envs/chatbot/lib/python3.6/site-packages/tensorflow_core/__init__.py", line 40, in <module>
    from tensorflow.python.tools import module_util as _modul

[2020-03-28 10:39] hgffly commented on #37894
Thanks for help, but the codes should be modified as following:
layer.set_weights(layer_dict[layer_name].get_weights())

[2020-03-28 10:39] #37894 closed

[2020-03-28 10:50] mdanatg commented on #29112
Closing due to inactivity. Please re-open if anything new comes up.

[2020-03-28 10:50] #29112 closed

[2020-03-28 11:57] khimraj commented on #37973
@hepbc, please can you share full code or link of colab file to reproduce and analyse issue as above given code is not sufficient to reproduce issue.

[2020-03-28 11:59] Rubix982 commented on #37972
I cannot open the screenshot link. Can you upload the image on imgur instead? t is leading me to a Google Sign Page, and no matter how many times I open my account, it keeps looping back.

[2020-03-28 12:05] khimraj commented on #37983
@hannesdm, I have tried after removing `@tf.function` decorator and got expected output.

[2020-03-28 12:15] khimraj commented on #37979
@Axelsalamartin, I have tried after disabling eager execution with `tf.compat.v1.disable_eager_execution()` and got no error. For your reference link of gist is [here](https://gist.github.com/khimraj/b4b2f08fbd2e7d430704fe5ba24adb24).

[2020-03-28 12:27] Rubix982 commented on #37971
Hi, @theadityasam , I just checked https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/index.md , let's call that [index](https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/index.md), and none of the links work. It's not only for `assert_same_float_dtype`, they do however work when I append `'.md` at the end. I guess this means a complete modification of the cont

[2020-03-28 12:27] Rubix982 commented on #37971
Is it okay if I look into this instead? Should be pretty easy for me.

[2020-03-28 13:19] hepbc commented on #37973
Reproducing complete code here as I am not familiar with Google Colab:

[code]
**Output:**
[code]

joint_model.summary()

**Output:**
[code]

[code]
**Output - as expected:**
[code]

Works fine till here.
**Loading and Saving:**
[code]

**Output: - same as saved model**
[code]
**Testing code:**
[code]

**Output:**
[code]

[2020-03-28 13:27] mhmedeng commented on #37984
Thank you for your reply and now my trained model raised to 3200 iterations, I tested it and decreased threshold to 0.01 but nothing happened.

[2020-03-28 13:28] hannesdm commented on #37983
Yes, everything works as it should without `@tf.function`, the bug only occurs in graph mode i.e. **with** `@tf.function`.

[2020-03-28 13:31] Rubix982 commented on #37934
Some information will be needed to solve this issue:

1): Where should it even point to, the `Product Roadmap` button?
2): Where is the code for the website where we can edit the href tag to a correct location?
3): Is this even the right place to make the issue?

Help from moderators I think will be more accurate.
Will it be a good idea to tag them here?

[2020-03-28 13:31] tanzhenyu commented on #37278
What do you mean by sharing weights?
Do you intend to:
1) initialize weights of cnn_2 from weights of cnn_1, or
2) let both cnn_1 and cnn_2 use the same set of weights during both forward and backward path? How do you want to update the weights from gradients?

[2020-03-28 13:39] khimraj commented on #37973
@hepbc, I have not required csv file for data. Although I suggest you to do not use `model.save()` for custom subclass keras model and use `save_weights()` and `load_weights()` instead.

[2020-03-28 13:47] wangweitong commented on #37945
ok ,I will share the code tomorrow ,thank you for your help !!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Saduf2019"<notifications@github.com&gt;;
发送时间:&nbsp;2020年3月27日(星期五) 下午5:49
收件人:&nbsp;"tensorflow/tensorflow"<tensorflow@noreply.github.com&gt;;
抄送:&nbsp;"2400"<1097828409@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [tensorflow/tensorflow] tensorflow

[2020-03-28 13:57] tanzhenyu commented on #37738
Fixed here.
https://github.com/tensorflow/tensorflow/commit/4a441b23646965e615800872bfe72aa478e7e8d3

[2020-03-28 13:57] #37738 closed

[2020-03-28 14:06] np000 commented on #37934
https://www.tensorflow.org/community , this page has the roadmap button

[2020-03-28 14:16] Jaskaran170599 commented on #34965
shall i make a PR? correcting "val_accuracy/accuracy" terms in doc?

[2020-03-28 14:16] tanzhenyu commented on #37024
This should have been fixed. Closing it for now. Let us know if any other issues come up

[2020-03-28 14:16] #37024 closed

[2020-03-28 14:28] vnvo2409 commented on #19297
![image](https://user-images.githubusercontent.com/17511625/77824815-ec4f9580-7137-11ea-80b9-0268f34c7227.png)
I see that the `registry_` used by `Env::GetFileSystemForFile` is the fifth, not the very last one as I thought ( I've already tried many times )
@mihaimaruseac I think that I need help now because it seems very werid to me as I think that the next `registry_` should override the last one

[2020-03-28 14:29] cranedroesch opened #38002 "Is retracing inevitable when working with variously-sized inputs?"
I'm beginning to develop some models for token classification with varying-length documents, and it's looking like using variable-length inputs with one-document batches is likely going to give better-results than padding, given the extreme heterogeneity in document lengths.

Here's a simplified version of my model:

[code]

The inputs vary in size from `(100,input_dims)` to `(8000,input_dims)`, h

[2020-03-28 14:32] rahulsdhar commented on #34722
I had the same issue but soon resolved it.
I have realized that the problem existed because I have a file named imp.py in the same directory where I have my main.py (where I have imported keras module).
I have renamed my imp.py to impxyz.py and the problem disappeared.

[2020-03-28 14:35] anuragrs commented on #37130
@reedwm Could you post the root cause for slowness on TF 2.1 please? Thanks.

[2020-03-28 15:22] w19787 commented on #37834
i am unable to work around this issue in cross replica context with merge fn and extended.update. it can work on one gpu but still failed on multiple gpu.

when we create keras layer, i.e Conv2d, there is no argument to specify the aggregation parameter of weights, i think it should be the reason for this issue. I want to confirm whether the above understanding is correct, if so, why we design so?

[2020-03-28 15:28] shanethomas1029 opened #38003 "AttributeError: module 'tensorflow' has no attribute 'layers'"
model = tf.layers.Sequential([
        tf.keras.layers.Conv2D(64, (10, 10), activation = 'relu', input_shape = input_shape, kernel_initializer = initialize_weights(), kernel_regularizer = tf.keras.regularizers.l2(2e-4)),
        tf.keras.layers.MaxPool2D(),
        tf.keras.layers.Conv2D(128, (7, 7), activation='relu', kernel_initializer = initialize_weights(), bias_initializer = initialize_bias()

[2020-03-28 15:33] ErvisTusha commented on #37968
I have same issue

[2020-03-28 15:39] wadewangpower commented on #28254
But if i met this issue in command line, how to add these codes ?

[2020-03-28 15:40] wadewangpower commented on #24496
But if i met this issue in command line, how to add these codes ?

[2020-03-28 16:31] FirefoxMetzger commented on #34689
I ran into the same issue; however, upon reflection, it makes sense to only support the `Sequential` model. It is always possible to wrap a functional graph into a custom Keras layer and add that to a sequential model; I've done this a while ago with residual layers, see [link](https://sebastianwallkoetter.wordpress.com/2018/04/08/layered-layers-residual-blocks-in-the-sequential-keras-api/) for an

[2020-03-28 16:31] Rubix982 commented on #37972
Should we create a new folder specifically for archives and examples for Tensorflow 2.x as well? Like we have docs/site/en/r1/ for TensorFlow 1.x?

I'm willing to open up a new issue for it.

[2020-03-28 16:53] Rubix982 commented on #37972
@ManishAradwad I guess yes because that file which is mentioned is in [/docs/site/en/r1](https://github.com/tensorflow/docs/tree/master/site/en/r1) which basically has a README which says:

[code]

[2020-03-28 16:55] khimraj commented on #38003
@shanethomas1029, Use `tf.keras.Sequential` instead of `tf.layers.Sequential`.

[2020-03-28 17:01] saahiluppal commented on #37607
As major migration occurs from one version to another. Lots of links get broken. They soon will be deleted or replaced ones documentation gets updated.

[2020-03-28 17:01] Rubix982 commented on #37934
No, I mean, should the `Roadmap` button at https://www.tensorflow.org/community even go to https://www.tensorflow.org/community/roadmap ?
If yes, then the contents of https://www.tensorflow.org/community/roadmap should be updated.
If no, where else should it go? Is the 404 currently on purpose, a mistake, or a bug, or just a broken link?
I don't have any experience with how the website is built or

[2020-03-28 17:03] kuriringohankamehameha commented on #37995
It seems that the I only have the Linux `patch` command as a subset of the WSL `bash`, and not from a separate Linux Environment. At first, I thought that the issue could be resolved by converting the Unix style paths back into Windows, but then I realised that Bazel needs Unix pathnames anyway.

So the solution was to install `patch` from a separate Linux environment. One of the recommendations f

[2020-03-28 17:03] #37995 closed

[2020-03-28 17:12] Rubix982 commented on #37993
Hi @abpalaciot !

I copied `!pip install tensorflow-gpu==2.0.0-beta1` as you said to install the required version for TF's GPU builds in your `exac sequence of commands`, and it works perfectly fine for me.

![image](https://user-images.githubusercontent.com/41635766/77828967-a945f000-7140-11ea-990e-95ff9b77336f.png)

Is it possible that you can share your code or the steps that you took to reprod

[2020-03-28 17:16] mihaimaruseac commented on #19297
In theory it should be just one global variable. But because it is used across multiple shared objects, there is a possibility that one shared object gets a `registry_` initialized at a different address. The keyword here is ODR violation (one definition rule). We need to debug the build and find out which DLLs provide the alternate definition

[2020-03-28 17:20] mihaimaruseac commented on #31429
@amahendrakar there is no attached gist

[2020-03-28 17:27] abhinavsp0730 commented on #37607
Hey, @MarkDaoust any updates on this?

[2020-03-28 17:33] amahendrakar commented on #31429
@mihaimaruseac,
TF 2.1 - https://colab.research.google.com/gist/amahendrakar/855918e07fcb96fe091964a7b0c543be/2-1-template.ipynb

TF-nightly - https://colab.research.google.com/gist/amahendrakar/343256a8d0c24e08a95b050b90bc5942/tf-nightly.ipynb#scrollTo=ieAW-NK5iqpf

Here are the direct links. Could you please check if these work? Thanks!

[2020-03-28 17:43] Rubix982 commented on #38003
As per the documentation at https://www.tensorflow.org/api_docs/python/tf/keras/Sequential,

![image](https://user-images.githubusercontent.com/41635766/77829675-64708800-7145-11ea-8f35-6a14aee0c72d.png)

It is `tf.keras.Sequential`.
Please close this issue.

[2020-03-28 17:48] jvishnuvardhan commented on #36363
@gerwin3 I think shape information is missing. As a result shape inference is not working and throwing this error. A workaround is to simply use `set_shape` as shown below.

[code]

[2020-03-28 17:51] jvishnuvardhan commented on #37747
Closing this as this was resolved. Thanks!

[2020-03-28 17:51] #37747 closed

[2020-03-28 17:53] Jeff-Zhu commented on #37910
The problem was first on Ubuntu 18.04 x86_64 platform.
Later I set up a Raspberry Pi 3 with 32-bit Raspbian, tests show the same "stack smashing" problem.

[2020-03-28 17:59] abhinavsp0730 commented on #37782
Hey,  [#1520](https://github.com/tensorflow/docs/pull/1520) kindly see this PR.

[2020-03-28 18:01] mr-haseeb commented on #34415
# Tensorflow 2.0 :headphones: :1st_place_medal:
[code]

[2020-03-28 18:05] Rubix982 commented on #37973
Hello, @hepbc !
I'm trying to recreate your code in a jupyter notebook on Google Colab - the link to that is [here](https://colab.research.google.com/drive/1oxL0S446ctgkY6UPOKZGt9U5siSYs0G3) .
Your code failed for me because it was importing a CSV file from your local computer's storage, and I don't have that.
Can you provide any dummy data so that it will be easier to understand and help you? Tha

[2020-03-28 18:16] ronykroy commented on #36136
I am facing a similar issue, for a different script, I am beginning to think that when I use TPU's through google colab, the underlying engine that manages TPU instances just cuts out one of the TPU workers, in an attempt to manage loads, I am not a premium colab user, and colab preimum isnt available in my location yet... and as wild guess this issue would not appear for colab preium users, since

[2020-03-28 18:31] FirefoxMetzger opened #38004 "KerasClassifier.score is ... broken!?"
I am using the scikit_learn wrapper to wrap a keras model and train / evaluate it in scikit learn. Calling `KerasClassifer.score` should return the accuracy of the classifier; however, no matter what I do, it just doesn't.

Looking at the source the code does two things:

1. In case of sparse labels it converts them to a OneHot matrix (lines 296 - 300)
2. It calles `Sequential.evaluate` and then h

[2020-03-28 18:56] Hyeokreal commented on #19220
I cannot believe that tensorflow doesn't have the upsampling or resize function for 3d data.

[2020-03-28 19:01] flydragon2018 commented on #35100
I updated today. I confirm that.

[2020-03-28 19:04] flydragon2018 commented on #35100
but the training result   seems not stable.   train/val  loss/accuracy up and downs too much.

[2020-03-28 19:06] abdou31 commented on #37847
I know that the problem with the version, but I solved the problem by changing some lines using the version 1.13.1.

[2020-03-28 20:05] kamran-arabesque commented on #33283
Doesn't fix the issue, but a potential workaround.
Use keras version 2.3.1 and tensorflow 2.X, and use keras rather than tf.keras and the pickling works:
[code]

[2020-03-28 20:14] jvishnuvardhan commented on #31419
@benoitkoenig Is this still an issue? I suspect there are no more updates to TF1.x unless there is any security related issues. Can you please try TF2.x and let us know how it progresses.

I used recent `tf-nightly` and I cannot reproduce the issue. Please check it with `tf-nightly` and let us know whether you have any issues. Thanks!

Please close the issue If this was already resolved for you. T

[2020-03-28 20:15] SuperKam91 commented on #33283
Doesn't fix the issue, but a potential workaround.
Use keras version 2.3.1 and tensorflow 2.X, and use keras rather than tf.keras and the pickling works:

[code]

[2020-03-28 20:19] abhinavsp0730 opened #38005 "Cleaning up old codes in colab notebooks."
## Cleaning up the codes in the colab notebooks.
From taking the reference from this [commit](https://github.com/tensorflow/examples/commit/5351bd4e1d4067e2a007b410495200c4bcf3fe61). I've see that there is celaning of codes going on.
* from __future__ import absolute_import, division, print_function, unicode_literals these lines are unnecessary.
*   ```
         % try tensorflow 2.x
             e

[2020-03-28 20:21] abhinavsp0730 commented on #38005
Hey, @MarkDaoust/ @lamberta  / @mihaimaruseac what are your thoughts in this?

[2020-03-28 20:53] abpalaciot commented on #37993
Hi @Rubix982 !

![image](https://user-images.githubusercontent.com/54606640/77833528-d680a700-711c-11ea-9d01-32e71567b165.png)

The error produces when I make the import. Thankfully I was able to solve it by previously uninstalling tf.

[2020-03-28 20:57] abpalaciot commented on #37993
Also when I start training produces this error/warning:

WARNING:tensorflow:Entity <function train_step at 0x7f0725bfd730> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <function train_step at 0x7f0725bfd730>: Attrib

[2020-03-28 21:36] mlexpert opened #38007 "TF 2 ignores one of 2 GPUs"
Dear community,

I have a problem regarding tensorflow calculation on 2 GPUs connected via SLI technology: only one of them is working and second one is not, although both GPUs are recognized by TF.

Setup:
- Ubuntu 18.04
- Python 3
- Tensorflow 2.1
- Cuda 10.1
- Nvidia drivers (officials) 440.64
- AMD Ryzen 2700
- Asus x470 prime
- Two GPUs of GTX 1070 connected via SLI techno.

I have already te

[2020-03-28 22:18] sam-cannon commented on #16614
I'm having the same issue here

[2020-03-28 22:22] mihaimaruseac commented on #37968
Can you test whether rc2 still has the same issue? We have done a few more cherry-picks and want to check if these also fix this

[2020-03-28 23:07] sundowatch opened #38008 "How to use Google AutoML Tensorflow Container export in Python?"
I've trained a model on Google AutoML and exported it as Container. It gave me a `.pb` file. I want to use it offline with Python. Here is I use in this code:
[code]
I've put the `.pb` file to inference_graph folder with `frozen_inference_graph.pb` name. I've setted the .pbtxt file on my own. But it gives this error:

[code]

[2020-03-28 23:32] MarkDaoust commented on #38005
I handled everything except `community/` in 036117caae91ede4783cb0797273128d203e56aa.

If you want to do that to `community/` too that would be great.

[2020-03-28 23:38] MarkDaoust commented on #38005
You're talking about [this directory](https://github.com/tensorflow/examples/tree/master/community/en) right?

[2020-03-28 23:43] DBraun commented on #23542
Anyone try this again recently with the latest TensorFlow? I think we have to use Bazel 2.0.0  https://github.com/tensorflow/tensorflow/blob/95be0349fb11e735efc122fa4c54816e27279684/configure.py#L53 but now I'm having trouble with `bazel build --config=cuda tensorflow:tensorflow.dll`
This is one of my environment variables.
`BAZEL_VS`: `C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTool

[2020-03-28 23:53] ybagdasa commented on #35100
For me the results aren't reproducible from run to run either, even with
tf.random.set_seed(), but I suspect it has to do with multiple workers for
my image augmentation generator.
On Sat, Mar 28, 2020, 12:04 PM flydragon2018 <notifications@github.com>
wrote:

[2020-03-28 23:56] nekapoor opened #38009 "Keras conversion works in python, but gives strange results in Anroid"
**System information**
- Platform (where I'm experiencing issues)
   android

**Command used to run the converter or code if you’re using the Python API**
```tflite_convert --keras_model_file=best-model-03-0.00.h5 --output_file=new_model.tflite```

**The output from the converter invocation**
[code]
Here is the .h5 file: https://drive.google.com/file/d/1Zaj02NDmxG4A7_Mkl81W0puMXAekEEmR/view?usp=sh

[2020-03-29 00:47] tensorflowbutler commented on #30686
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-29 00:47] tensorflowbutler commented on #36332
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-29 00:47] tensorflowbutler commented on #37513
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-29 00:47] tensorflowbutler commented on #37283
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-29 00:47] tensorflowbutler commented on #37200
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-29 00:47] tensorflowbutler commented on #35932
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-29 02:16] james20141606 commented on #37793
Hey, thanks for your answer! I am not sure if I understand you correctly, so in your answer I should load the submodules in my decoder one by one, is it right? So should I write some code like:
[code]
or maybe this it not enough, I should write something like:
[code]
If I should write like the second one, it means I should write a lot of codes to make sure I loaded everything in my decoder. I wond

[2020-03-29 02:28] sharmaannapurna commented on #37057
This behavior happens for single machine as well. I ran my code which initially(for first two epochs) takes about 3 GB memory and afterwards takes up more and shows up OOM after epoch 15. I ran the code with both tf2.0 and tf2.1 on ubuntu18.04. The same code works well in windows10.

[2020-03-29 03:05] hepbc commented on #37973
@khimraj Your solution works, many thanks!

@Rubix982 Thanks for all the help Saif. I changed the way I was saving and loading the model as suggested by Khimraj. Instead of model.save(), I saved the weights and then loaded the model as per guidelines in Part II-Approach 1 here: https://www.tensorflow.org/guide/keras/save_and_serialize. Seems to be working now.

[2020-03-29 03:37] jvishnuvardhan commented on #37922
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2020-03-29 03:43] saumya0303 commented on #37922
Thanks for the update.

[2020-03-29 04:37] Rubix982 commented on #37973
Fantastic!
I haven't touched those guide before, so I didn't exactly know where the error could come. good to see it's resolved now.

[2020-03-29 04:41] Rubix982 commented on #37993
Are you referring to https://www.tensorflow.org/tutorials/text/image_captioning this by "Image Captioning Tutorial"?

[2020-03-29 04:51] hepbc commented on #35932
Hi @mrinalsardar
I was facing a similar issue. What worked for me was changing the way I was saving and loading the model as suggested by another user. Instead of model.save(), I saved the weights and then loaded the model as per guidelines in Part II-Approach 1 here: https://www.tensorflow.org/guide/keras/save_and_serialize.
Seems to be working now.

[2020-03-29 05:31] abhinavsp0730 opened #38011 "Notebook problem while contributing"
# issue
I'm contributing to Tensorflow/lucid notebooks. But while changing anything in the notebook I'm getting message in github " The diff is too large to display". And when I clicked to see the differences in the branch I'm seeing there are a lot of things is changed in the notebook automatically
# Problem
It's very hard for the reviewer to see what changes I've made.
* I've tried into vs code

[2020-03-29 05:32] abhinavsp0730 commented on #38011
Hey, @MarkDaoust  / @lamberta / @ravikyram / @mihaimaruseac . How you guys enconter this problem?

[2020-03-29 05:40] abhinavsp0730 commented on #38011
I'm working in this issue https://github.com/tensorflow/lucid/issues/236

[2020-03-29 05:49] abhinavsp0730 commented on #38005
sorry, my bad i'm taking to tensorflow/example .

[2020-03-29 05:52] richardwth commented on #36650
May I ask the rationale behind allowing repeated names for variables in TF 2.X?

[2020-03-29 05:57] ManishAradwad commented on #38011
@abhinavsp0730 You can try making changes in Google colab. I personally use "Open in Colab" chrome extension to open any notebook in colab from github. Make sure you're opening the notebook from your fork(not from upstream repo). After you're done with changes use "Save a copy in Github" option in File menu.

[2020-03-29 06:07] abhinavsp0730 commented on #38011
@ManishAradwad    thank you for your reply. I just only want to clear one thing after doing the changes, does it only reflects the changes I made in the notebook and solve my problem?

[2020-03-29 06:15] ManishAradwad commented on #37996
I will also begin with the documentation for VGG16. But what files should I edit?? Can someone plz help?

[2020-03-29 06:19] flydragon2018 opened #38012 "module 'tensorflow.python.keras.utils.generic_utils' has no attribute 'populate_dict_with_module_objects'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),

the function populate_dict_with_module_objects() is missed in the 2.2.0rc2

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):
- Mobile d

[2020-03-29 06:22] ManishAradwad commented on #38011
Yes, you can try it once. You'll see the difference.

[2020-03-29 06:25] abhinavsp0730 commented on #38011
What it does it deleted the original file and created a file with the same name. Not updating the original file.

[2020-03-29 06:29] abhinavsp0730 commented on #38011
@ManishAradwad please see https://github.com/tensorflow/lucid/pull/238 this pull request is it correct?

[2020-03-29 06:40] weinixuehao commented on #26297
@impjdi @jmhodges @gnsmrky
My model input pixel value is float with range 0.0 - 1.0(1.0/255) can use ssbo?

[2020-03-29 07:05] sathwikreddy56 opened #38013 "ImportError: DLL load failed: The specified module could not be found."
Traceback (most recent call last):

  File "C:\Users\sathw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *

  File "C:\Users\sathw\AppData\Roaming\Python\Python36\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorflow_intern

[2020-03-29 07:12] sathwikreddy56 opened #38014 "ImportError: DLL load failed: The specified module could not be found. Failed to load the native TensorFlow runtime."
- windows 10 home
- TensorFlow installed from source :
- TensorFlow version: 2.0.0
- Python version: 3.6.2
- Installed using  conda:
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: cuda9.0/cudnn-9.0
- GPU model and memory: Nvidea 1050 ti

**Describe the problem**
cant import tensorflow after its installation
import tensorflow as tf
and give the following error

**Any other

[2020-03-29 07:19] Saduf2019 commented on #38012
@flydragon2018
please update the template for us to help you resolve the issue, we will not be able to help with out the version, simple stand alone code before which the error was faced.

[2020-03-29 07:23] Saduf2019 commented on #38012
on basis of error shared, please refer to [this link](https://github.com/tensorflow/probability/issues/255) and let us know if it helps

[2020-03-29 07:26] ljafari commented on #37978
please help

[2020-03-29 07:27] ljafari commented on #37978
please help

[2020-03-29 07:27] Saduf2019 commented on #38002
@cranedroesch
could you please share the tensor flow version on which the error is faced, along with a simple standalone code for us to replicate the issue

[2020-03-29 07:29] Saduf2019 commented on #37984
@mhmedeng,
please share tensorflow version and simple standalone code for us to replicate the issue

[2020-03-29 07:29] abhinavsp0730 opened #38015 "Adding correct version of tensorflow in udacity deep learning course"
# issue
This https://github.com/tensorflow/examples/tree/master/courses/udacity_deep_learning repo
contains Udacity deep learning course having codes of tensorflow 1.x  . But now colab is having tensorflow 2.x by default.
# Pull Request
Hey, @MarkDaoust will you please tell me the right tensorflow version so that I'll update all the notebooks.

[2020-03-29 07:31] Saduf2019 commented on #21881
@Coderx7
could you please update on the above comment

[2020-03-29 07:32] Saduf2019 commented on #30229
@Oktai15
please update as per the above comment

[2020-03-29 07:32] Saduf2019 commented on #31842
@akanyaani ,
Could you please update on the above comment

[2020-03-29 07:39] SOLARleisu commented on #33431
the same problem

[2020-03-29 08:11] abhinavsp0730 commented on #38005
Yah I'd love to do that in `community/` but I'm not getting what this means 036117caae91ede4783cb0797273128d203e56aa

[2020-03-29 08:14] rayporten commented on #34964
we could change option or have discussion to find the answer.not my answer should be best.

[2020-03-29 08:29] lamba92 commented on #37968
Just tried `2.2.0-rc2`, error stays the same.

[2020-03-29 08:33] armiro commented on #22512
Simply running the command-prompt/anaconda-prompt as administrator should solve the problem of the downgrade permission.

[2020-03-29 09:15] Jona2jef commented on #374
I too got several errors after installing TensorFlow-GPU. There wasn't any other way but to reinstall tensorflow and tensorflow-gpu:
pip3 install --user --upgrade --force-reinstall tensorflow tensorflow-gpu (--user flag not required when using a conda or virtualenv virtual environment)

[2020-03-29 10:03] tanzhenyu commented on #37181
@nnnnwang There has been quite some updates in 2.2 for eager performance, would you mind re-trying on the latest version and see if the issue goes away?

[2020-03-29 10:33] sathwikreddy56 commented on #38014
not rectified its already done

[2020-03-29 10:56] abhinavsp0730 opened #38017 "Broken colab button in nn_from_scratch.ipnyb"
# issue
The colab button in https://github.com/tensorflow/examples/blob/master/community/en/nn_from_scratch.ipynb is Broken.
# Pull Request
I've sent the PR regarding this issue.

[2020-03-29 11:37] Davidray053 commented on #24409
do you have the solution now???

[2020-03-29 11:56] MaUt89 opened #38018 "tf.estimator.add_metrics ends in Shapes (None, 12) and (None,) are incompatible"
**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64-bit
TensorFlow installed from (source or binary): PyCharm
TensorFlow version (use command below): 2.0.0
Python version: 3.7.6

**Describe the current behavior**
I am using a DNNClassifier as my estimator and

[2020-03-29 12:08] flydragon2018 commented on #38012
the code is simply not there compared with the code on github.

[2020-03-29 12:16] theadityasam commented on #37971
Hey @Rubix982
Sure, work on the issue. I saw your PR, from what I gather, the index.md is generated by some script and I guess it's not as simple as adding .md to the url's(not really sure about that, need to ask the code owners once). Also, I believe the API docs were moved to the TF website and were deprecated in the previous versions.

[2020-03-29 12:35] HazelSCUT commented on #24828
exm :
cuda10.1
cuDNN7.6
tensorflow1.13
it seems that all codes following doesn't work for me:
![image](https://user-images.githubusercontent.com/61641190/77849210-86791180-71fc-11ea-9624-bdcd9f9c8f1e.png)
![CA(LZD%L$C ~IQI3R4V_M4F](https://user-images.githubusercontent.com/61641190/77849226-aa3c5780-71fc-11ea-9e0a-bc2a98b0999a.png)
could u please give me a "debug" answer,thx

[2020-03-29 12:41] Jaskaran170599 commented on #26372
I would like to contribute on this.

[2020-03-29 12:56] ManishAradwad commented on #38011
@abhinavsp0730 Something doesn't seem right. Can you tell me what steps are you actually doing to make a PR. See this [PR](https://github.com/tensorflow/examples/pull/141). Also make sure you're checking the changes in ReviewNB.

[2020-03-29 14:18] abhinavsp0730 commented on #38011
Hey, @ManishAradwad here are my steps:
My steps that you've suggested:
1. I open the notebook in the colab from my forked repo.
2. I have done the changes and clicked on the option save a copy in github .
3. Then I've selected my forked repo directory where the .ipnyb file is present and clicked on save button.
4. But what has happened is the file was replaced with the new one having the same name

[2020-03-29 14:22] AshiakerWang commented on #37897
@gowthamkpr Sorry for the late response and thank you for your reply. I have read the [comment](https://github.com/tensorflow/tensorflow/issues/35414#issuecomment-601652629) you provided with me, but unfortunately it seems that I have never installed  the 'Windows Subsystem for Linux' accord to [this](https://superuser.com/questions/1065569/how-to-remove-reset-windows-subsystem-for-linux-on-window

[2020-03-29 14:22] abhinavsp0730 commented on #38011
@ManishAradwad I've checked the PR also and find that you just changed the window size to 20 to 30.
But when I saw the changes in the file there are a lot of things has changed. Making the reviwer hard to find what exactly I've changed .
![Screenshot (94)](https://user-images.githubusercontent.com/43638955/77851440-d359e980-71f6-11ea-9976-bce28e5bef9c.png)
![Screenshot (95)](https://user-images.gi

[2020-03-29 14:42] ManishAradwad commented on #38011
Check them on the review notebook app(see the comment in your PR). It is used to make it easy for reviewers to see the changes. Also I'm not sure why it is creating a new file in your PR rather than showing changes in original one. I think you should wait till others reply.

[2020-03-29 14:46] #37812 closed

[2020-03-29 14:54] Byambaa0325 commented on #37996
To whom it may concern, @gadagashwini (tagging because of the assignee label)

To prevent duplicated efforts, just notifying that I am working on adding examples and listing the raises for the models. I expect to finish within 48 hours for all the pretrained models. I'm adding to the docs in nightly.

I'll also notify if I won't be able to complete it within the timeframe :)

[2020-03-29 15:03] oktemer commented on #20271
At first you should download cuda driver from the link https://developer.nvidia.com/rdp/cudnn-download. After you extracted tar file  you will have cuda directory , In this directory copy the contents of the include/cudnn.h to /usr/local/cuda-9.0/include/  and
lib64/libcudnn* files to /usr/local/cuda-9.0/lib64 .
After that , to make tensorflow to recognize these libraries you should edit path vari

[2020-03-29 15:20] paolorota commented on #37862
and how would I do that? The documentation is pretty empty:
https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/schedules/LearningRateSchedule

[2020-03-29 15:53] #30686 closed

[2020-03-29 16:50] mhmedeng commented on #37984
thank you i solved the problem

[2020-03-29 17:33] Sadam1195 commented on #28254
Glad my solution helped you.

You could add these lines at the top of your main script file and run your python file in the command line too with `python filename.py`

or you could bash script these lines in your bash rc file. You can search it on google, how to add and run script in the bash file. But I wouldn't recommend that as it might unnecessarily acquire your GPU resource.
@wadewangpower

[2020-03-29 17:38] #30605 closed

[2020-03-29 17:38] #30887 closed

[2020-03-29 17:39] #31588 closed

[2020-03-29 17:40] #33587 closed

[2020-03-29 18:23] mhmedeng opened #38021 "Problem with can bus interface on TM4C123GH6PM"
I tried to make an interface for can bus on TM4C123GH6PM, i used loop back test, i sent data and make a test on these data using loop back test mode to make sure that data is sent successfully by turning on a led connected on PORT F but nothing happened, I enabled interrupts and created a function called ( CAN0_Handler ) this is my ISR, when i received data an interrupt occurred and the program go

[2020-03-29 18:45] SwagJ opened #38022 "Failed to get convolution algorithm. (Checked existing solution, but not working)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No, using this

[2020-03-29 19:11] ghost opened #38023 "tf.sparse.reorder() produces fully-unknown shaped outputs from partially-unknown shaped placeholder inputs"
When reordering placeholder `SparseTensor`s with partially unknown shapes, the output shape is fully unknown. This prevents usage of the `tf.sparse.reorder()` function in keras models because an unknown batch size at model compile time prevents downstream layers from knowing their expected input shape.

**System information**

- Have I written custom code (as opposed to using a stock
example scrip

[2020-03-29 19:26] dmanning23 opened #38024 "Unable to build micro_speech for Sparkfun Edge"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- TensorFlow installed from (source or binary): source
- Tensorflow version (commit SHA if source): 44400dfcde6e39aca68c4bc103c2e4e15b5379c5
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Sparkfun Edge

**Describe the problem**

I'm trying to build the micro_speech example

[2020-03-29 19:31] pavlexander commented on #36508
this resolved the issue in my case.. Using:

- CUDA 12.2
- tf.__version__ is 2.1.0
- tf.keras.__version__ is: 2.2.4-tf
- Python 3.7.4

[2020-03-29 20:10] thran commented on #37301
@timzatko any luck with converting the model?

[2020-03-29 20:49] jonathanjosh31 commented on #13715
SAme issue!

[2020-03-29 21:05] svensevenslow commented on #34607
I stopped getting ModuleNotFoundError: No module named 'tensorflow_core.keras' in Flask when I used

[code]
i.e didn't use `export FLASK_ENV=development`

[2020-03-29 21:06] kari-554 commented on #37990
Firstly we need to make proper layer in say sequential neural network as if before training the model if done the layering for doing the particular job we can easily use `metrics_names` as after the fit function or transform function can be used

[2020-03-29 21:50] codeislife99 commented on #37099
This is the code that works for me on `tensorflow 2.1.0 ` CPU Version, with onnx-tf built from master branch.
[code]

[2020-03-29 21:50] syyam commented on #36358
I am still getting this error "TypeError: '>' not supported between instances of 'NoneType' and 'float'"

[2020-03-29 21:51] codeislife99 commented on #37099
Can you share the pytorch, onnx, and the .pb file so that I can try to convert it using my environment setup and see if it works ?

[2020-03-29 21:54] syyam commented on #36358
Never mind, using 'acc' worked for me. Maybe I am using an older version

[2020-03-29 21:56] DanielMorton commented on #37968
Am having exactly the same issue. I tried changing from h5 to tf file storage, but that only succeeded in removing the warning message. The optimizer still can't be loaded, but now fails silently.

Running `model.optimizer.get_weights()` after reloading the model gives me `[]`. I should get something more like `[643, array([[[[-5.82830864e-04,  5.68370800e-04, -2.78998603e-04,
            1.338918

[2020-03-29 22:01] particlebbq opened #38025 "segfault in FlexDelegate on android"
I'm hoping to run a custom tensorflow/tflite model (one that uses tflite's select ops) on-device in an android app.  My understanding is that I need to configure the tflite interpreter with a FlexDelegate, but when I try to do this (on the android-studio emulator), the app segfaults, apparently in the FlexDelegate constructor. I've managed to reproduce the crash in a minimal code, which I link to

[2020-03-29 23:30] rao208 commented on #20041
This answer from @trisolaran from https://github.com/tensorflow/tensorflow/issues/35860 helped me to solve many issues:

Try it...

[2020-03-30 01:44] suyali opened #38026 "How to run .pb model with tensorflow( or tensorflowLite) using DSP in android"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-03-30 01:46] MarkDaoust commented on #37972
Hi,  this is somewhat intentional. These run in tensorflow2's compatibility-mode.

I'll add a note to all of them explaining.

[2020-03-30 02:20] ausk commented on #37899
There is a script "lite\tools\make\build_lib.sh" to build on linux. I run it and redict the log into a file. Then analysis and write the dependencies of `libtensorflow-lite.a` into `CMakeLists.txt`， build using CMake。

[2020-03-30 02:29] tanzhenyu commented on #29841
Fixed here: https://github.com/tensorflow/tensorflow/commit/46c79db67db33d7a14e124fc0b5cf23e0910d039

[2020-03-30 02:30] #29841 closed

[2020-03-30 02:37] Coderx7 commented on #21881
@Saduf2019 : sorry for replying late.
I gave up on TF after oct 24 2018 as I couldnt get this to work.

[2020-03-30 02:45] Hongtao-Niro commented on #37887
Thanks!

[2020-03-30 02:45] #37887 closed

[2020-03-30 02:55] ppwwyyxx commented on #21881
In fact the issue that "Tensorflow nearly 2 times slower than Pytorch in training" never exists in this thread, to some extent. As shown by comments above https://github.com/tensorflow/tensorflow/issues/21881#issuecomment-417670550, the reported model can train in TensorFlow as fast as pytorch, if implemented in a better way.

The problem was actually about a bad implementation in tensorflow/model

[2020-03-30 02:57] ausk opened #38028 "[tflite] Build tflite using ./build_lib.sh failed!"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux16.04
- TensorFlow insta

[2020-03-30 03:01] tanzhenyu commented on #37477
@RobinBaumann We're planning to get rid of keras-preprocessing dependency as well. If you want to contribute, that'd be great as well :-)

[2020-03-30 03:04] ausk commented on #38028
And I add a pull: https://github.com/tensorflow/tensorflow/pull/38029

[2020-03-30 03:13] tanzhenyu commented on #37477
@RobinBaumann On another note, I would think it's probably not the best place to do the shuffle and rotate here. IMHO, it's better to separate the logic of 'load things from files' from 'preprocess those things', i.e.,:
step 1: load the image:
img = dataset_from_dataframe(...)
seg = dataset_from_dataframe(...)

step 2: preprocess it.
def map_fn(x):
  return tf.image.rotate(x, seed)  # Or something

[2020-03-30 03:18] tanzhenyu commented on #37044
We probably needs more context than this, for example, do you have existing example (written in TF), or the problems to solve?

[2020-03-30 03:24] CherryCheek commented on #37942
Really helps a lot! Thanks.

[2020-03-30 03:36] tanzhenyu commented on #33755
IIUC this is a problem in both tf v1 optimizer and tf v2 keras optimizer?

[2020-03-30 03:45] leocd91 commented on #37938
all suggestions done, .dll still not found.
now trying to remove all type of 10.1 cuda in windows and conda, and reinstall anaconda and then the tensorflow-gpu.

[2020-03-30 04:05] yoshihikoueno opened #38030 "Wrong usage of ```tf.keras.layers.Layer._maybe_build```"
The function [```tf.keras.layers.Layer._maybe_build```](https://github.com/tensorflow/tensorflow/blob/1f98a556eb4a8981241a9ebd4257d8e95060462c/tensorflow/python/keras/engine/base_layer.py#L2357-L2394) is used inappropriately in some functions inside tensorflow implementation.

For example, [```tf.keras.layers.Layer.compute_output_shape```](https://github.com/tensorflow/tensorflow/blob/1f98a556eb4a

[2020-03-30 04:22] #38017 closed

[2020-03-30 04:28] amahendrakar commented on #38014
@sathwikreddy56,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment from a similar issue and let us know if it works? Thanks!

[2020-03-30 04:45] Saduf2019 commented on #38028
@ausk
As there is already a PR can we please move this issue to closed as #38029 this would be sufficient to monitor the issue

[2020-03-30 04:48] Saduf2019 commented on #38023
@reesehyde-dst
please share a simple standalone code for us to replicate the issue.

[2020-03-30 05:02] ashutosh1919 commented on #37780
@Egorand and @jvishnuvardhan , Please close this issue since My PR [#178](https://github.com/tensorflow/examples/pull/178) is merged and the codelab will be updated soon.

[2020-03-30 05:03] #38028 closed

[2020-03-30 05:15] gadagashwini commented on #37981
@BgMuhendis, Can you fill the issue template by providing Tensorflow version, python version and other stuff to understand the root cause of this issue. Thanks!

[2020-03-30 05:16] Saduf2019 commented on #37989
@sclavel
please share exact sequence of steps before you encounter the issue

[2020-03-30 05:22] ravikyram commented on #38026
@suyali

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Make sure you also include the code snippet to reproduce the issue.Please, fill the issue template.

Also, refer [link1](https://codelabs.developers.google.com/codelabs/recognize-flowers-with-tensorflow-on-android/#1) and [link2](https://www.tensorflow.org/lite

[2020-03-30 05:23] Rajeshwari210 commented on #37824
$ tsc --skipLibCheck faceRecognition.ts
 node faceRecognition.js
am running these two commands and i'm uploading 1hr video as input which creates the frame(through ffmpeg extract frames) and compares with face-api module and print the confidence score. after 750 frames am getting **OMM** (out of memory) issue.