[2016-06-05 11:40] MaeThird opened #2668 "Error: unexpected EOF from Bazel server"
==> tensorflow : r0.9   bazel : 0.2.3  gcc:6.1.1  python: 3.5
When i try to compile tensorflow from source on my archlinux(kernel : 4.5.4-1) ,errror occured. Something like " Linking tensorflow/cc/ops/data_flow_ops_gen_cc [for host]
Error: nexpected EOF from Bazel server."

[2016-06-05 11:49] MaeThird commented on #2668
And when i tried again ,i got the same error but in compile file "tensorflow/core/common_runtime/simple_graph_execution_state.cc" . Maybe there is a bug in GCC-6.1.1 ?? How can I change the default compiler ? Thanks

[2016-06-05 12:16] kuza55 opened #2669 "image_retraining example is extremely slow when cropping/rotating"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN: CUDA 7.5, cuDNN 4
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

$ ls -l /usr/local/cuda/lib64/
total 987720
-rw-r--r-- 1 root root  28585480 Aug 15  2015 libcublas_device.a
lrwxrwxrwx 1 root root        16 Aug 15  2015 libcublas.so -> libcublas.so.7.5
lrwxrwxrwx 1 root root        19 Aug 1

[2016-06-05 15:27] danijar commented on #206
Will the version @aselle is working on support slicing by start/end tensors? This would be very useful for handling batches of variable-length sequences.

[code]

[2016-06-05 15:49] wookayin commented on #1065
Just a related question --- If test is not run under GPU (CUDA) configuration, how can we convince ourselves that CUDA kernels for several TF operations do work correctly?

[2016-06-05 16:24] wookayin commented on #2061
I am a little bit curious on that decision, and therefore opened a thread in the discussion group: https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!topic/discuss/u8eIulwX_OY

[2016-06-05 16:58] #2300 closed

[2016-06-05 17:59] kuza55 opened #2671 "image_retraining example creates inconsistently named nodes when run multiple times"
I don't know if this is a thing you want to support, but I've been running the image_retraining example from Jupyter like so:

FLAGS._parse_flags()
FLAGS.image_dir = '/data/corpus'
FLAGS.output_graph = '/data/output_graph4.pb'
FLAGS.output_labels = '/data/output_labels4.txt'
FLAGS.bottleneck_dir = '/data/bottleneck/'
FLAGS.model_dir = '/data/imagenet/'

main('')

Unlike the example, I end up runni

[2016-06-05 18:05] rdipietro commented on #208
You can see [here](https://github.com/rdipietro/miccai-2016-surgical-activity-rec/blob/master/train_and_eval.ipynb) for a more complex example, with a batch size > 1. But you'll need to either a) write not-so-clean code that's efficient (as they do in TensorFlow officially) or b) write clean code that is less efficient (this is what I do; I just wrap shorter sequences in time until all sequences a

[2016-06-05 18:33] KnHuq commented on #208
@rdipietro Thanks a lot. I will go through the your example!

[2016-06-05 19:00] rajarsheem commented on #208
@rdipietro can you verify my graph, whether it is set up right ? (it is a very very simple [example](https://github.com/rajarsheem/playing-with-rnns/blob/master/rnn.ipynb))

[2016-06-05 19:19] penguin42 commented on #479
I hit the same missing symbol building on Fedora 24; I'd configured with python3 so I'm wondering if something is trying to use a different version at some stage.
This is from the end of:
bazel build -c opt //tensorflow/tools/pip_package:build_pip_package

ERROR: /discs/more/git/tensorflow/tensorflow/contrib/session_bundle/example/BUILD:38:1: Executing genrule //tensorflow/contrib/session_bundle/e

[2016-06-05 19:42] shampool commented on #206
When will the negative indices be supported? like a[:,-1]

[2016-06-05 20:24] girving commented on #206
@danijar, @shampool: Yes on both counts.

[2016-06-05 20:34] ebrevdo commented on #1968
+1 for having it return reduce_prod(sparse_tensor.shape)

On Sat, Jun 4, 2016 at 11:16 PM, Zongheng Yang <notifications@github.com>
wrote:

[2016-06-05 21:15] prayalankar2 opened #2677 "Import error"
I am trying to import tensorflow (I have installed on 14.04 LTS and tensorflow 0.8) but it shows atributeError: module 'imp' has no attribute 'find_module'

Traceback (most recent call last): File "", line 1, in File "/home/prayalankar/anaconda3/envs/tensorflow/lib/python3.5/site-packages/tensorflow/init.py", line 23, in from tensorflow.python import * File "/home/prayalankar/anaconda3/envs/tensor

[2016-06-05 22:56] danijar commented on #206
@girving Okay, cool. I hate to spam the thread but is there a way to get the behavior from my example without the new syntax?

[2016-06-05 23:04] hrajanie commented on #1452
@davidzchen Using Bezel 0.2.0 seems to have solved the problem I reported, although I'm still having problems building the Pip package. I may just try again using [these scripts](https://github.com/RealScout/deep-learning-images) instead. Thanks for your help!

[2016-06-05 23:31] ilblackdragon commented on #2063
With the fix of @2487 I'll add a property to the `ValidationMonitor` to get best value. Currently you need to rerun `evaluate` again to get the value.

[2016-06-05 23:32] ilblackdragon commented on #2487
FYI, got a fix, but after adding some more tests to check that `ValidationMonitor` actually works correctly got a problem with flaky test (result change slightly every time I run) - trying to debug what is happening there.

We will cherry pick that fix into the 0.9 release though.

[2016-06-06 00:24] kadrach commented on #2014
Have a similar issue with a recent build of tensorflow - the .runfiles paths are not correct, e.g. tensorboard is looking for ```/home/ubuntu/tensorflow-py2.7/bazel-bin/tensorflow/tensorboard/tensorboard.runfiles/org_tensorflow/external/paper_item/paper-item.html```,
which is actually located in ```/home/ubuntu/tensorflow-py2.7/bazel-bin/tensorflow/tensorboard/tensorboard.runfiles/paper_item/paper

[2016-06-06 03:01] TianweiXing commented on #1269
@syed-ahmed Hi, what have you done to solve the " Invalid argument: No OpKernel was registered to support Op 'BatchNormWithGlobalNormalization' with these attrs ..." problem?

I also encounter a similar problem when using a self-trained face-recognition model to make inference on android platform. The error says something like this:
[code]

Could you give me some advice?
Thanks a lot!

The structu

[2016-06-06 03:05] fancyerii commented on #2033
I have the same problem.

[2016-06-06 03:07] FangxiangFeng commented on #2584
@girving. Yes, your code takes about 100ms to process 1000 images.

[2016-06-06 03:08] TianweiXing opened #2680 "Loading model in Android and No OpKernel was registered to support Op error"
I encountered a problem when using a self-trained face-recognition model to make inference on android platform (using c++ api, just like the android demo). The error says something like this:

[code]

It is similar to the issue #1269

I don't understand why it causes an error?
All the other layers ( from incept3a  to incept5a) have almost the same structures, but there's no error....

Could anyone

[2016-06-06 03:17] fancyerii commented on #2653
CUDA_VISIBLE_DEVICES is working but tensorflow still say "/gpu0".
see https://github.com/tensorflow/tensorflow/issues/2033
it works if I build tensorflow from source

[2016-06-06 03:28] #2653 closed

[2016-06-06 03:46] syed-ahmed commented on #1269
@TianweiXing Hi, the " Invalid argument: No OpKernel was registered to support Op 'BatchNormWithGlobalNormalization' with these attrs ..." was caused by not having batch_norm_op.cc in the android build process - tensorflow/tensorflow/core/kernels/BUILD . There was another similar error which was caused by not having check_numerics_op.cc. So these errors were fixed by adding a line ("batch_norm_op.

[2016-06-06 04:08] siddharth-agrawal commented on #1968
@ebrevdo New PR for tf.size(). Would like your comments on it.

[2016-06-06 04:10] girving commented on #206
@danijar: Let's keep this thread focused on the new feature.  Please ask side questions on StackOverflow.

[2016-06-06 04:45] prayalankar2 commented on #2677
I got tensorflow  working but by installing on Python 2.7 on my conda platform without any error. Above problem is still there i checked it and i think Python has changed the find_module to reload() in 3.x so it might be the problem but i do not know how to fix this .
Still looking for solution (solid) for 3.x

[2016-06-06 05:46] mgharbi commented on #2054
Any idea where the bug could come from? I ran into the same issue.

[2016-06-06 06:18] Shaikjalal commented on #2570
@kuza55 kuza55,

Mate, I too have the same issue "No OpKernel was registered to support Op 'DecodeJpeg'" I changed the input in Jni file to DecodeJpeg:0 and also tried to strip the graph of unused nodes, still same issue.
help.

[2016-06-06 06:35] buaahsh commented on #559
Thanks a lot.
It works when i deleted the old version of numpy.

[2016-06-06 08:18] rajarsheem opened #2682 "hessian free optimizer needed"
Hessian free optimizers are successfully applied on neural networks  (especially RNNs). Currently need one in TF!

[2016-06-06 08:24] damienmg commented on #2040
ping @kchodorow: @kadrach issue happens with latest Bazel. Maybe we should extends the coverage of what we test of Tensorflow on ci.bazel.io

[2016-06-06 09:09] alrojo commented on #2150
Any news @ebrevdo?

[2016-06-06 09:21] flow-ryan commented on #1203
unfortunately downgrading using 7.0 with 4.0.7 did not work and I tried it with the drivers 352.39 and 346.46

[2016-06-06 10:38] wuyang1992 commented on #622
@osdf
thanks for your solution!
it works
pip install --upgrade -I setuptools

[2016-06-06 10:40] jendap commented on #2559
#2614 is merged on master. We will cherry pick it for 0.9 tomorrow and build the artifacts...

[2016-06-06 10:43] jendap commented on #2631
For the generated file location see bazel-out...

For example [pywrap_tensorflow.cc](http://ci.tensorflow.org/job/tensorflow-master-cpu/ws/bazel-out/local_linux-opt/bin/tensorflow/python//pywrap_tensorflow.cc) on [ci.tensorflow.org](http://ci.tensorflow.org/job/tensorflow-master-cpu/ws/bazel-out/local_linux-opt/bin/tensorflow/python/).

[2016-06-06 10:49] mattpoggi commented on #1269
Hello,
I followed the steps listed above, but I'm facing this issue:

06-06 12:41:59.923 24534 24552 E native  : tensorflow_jni.cc:303 Error during inference: Invalid argument: No OpKernel was registered to support Op 'DecodeJpeg' with these attrs
06-06 12:41:59.923 24534 24552 E native  : 	 [[Node: DecodeJpeg = DecodeJpeg[acceptable_fraction=1, channels=3, fancy_upscaling=true, ratio=1, try_recov

[2016-06-06 11:04] abhishekbagati commented on #92
++ for java! It would be really helpful if someone can do that!

[2016-06-06 12:02] EdwardHux commented on #2105
I have the same problem too! Have you solved this problem?

[2016-06-06 14:16] 333caowei opened #2685 "ImportError when I use "from tensorflow.models.rnn import rnn, rnn_cell""
I install tensorflow on a new cluster and try to run program on it.
But I get this error:
```ImportError("This module is deprecated.  Use tf.nn.rnn_* instead.")```,

from this line:
```from tensorflow.models.rnn import rnn, rnn_cell```.

It seems the new version of TF has changed the way to import rnn, but I don't know how to fix it. (version of TF is 0.9)

[2016-06-06 14:48] samfux84 opened #2687 "Cannot build tensorflow from source (Python 3 library not found)"
Dear TensorFlow developers,

I am trying to install TensorFlow and could already solve a number of problems but I got stuck with the following error message:

[code]

### Environment info
Operating System:
CentOS 6.7 (Final), Kernel: 2.6.32-504.1.3

Installed version of CUDA and cuDNN:
I am trying an installation from source (Commit: ea9e00a630f91a459dd5858cb22e8cd1a666ba4e)

Python 3.3 is install

[2016-06-06 15:24] abdal62 commented on #1269
Hi Mateo, if you check the BUILD at tensorflow/tensorflow/core/kernels/BUILD, you'll see the decode_jpeg_op.cc is excluded from the android filegroup for the following reason documented in the file:

# Ops which we are currently excluding because they are likely

# not used on Android. Those ops also do not compile if included,

# unless we add the additional deps they need.

So as suggested from

[2016-06-06 15:28] syed-ahmed commented on #1269
Hi Mateo, if you check the BUILD at tensorflow/tensorflow/core/kernels/BUILD, you'll see the decode_jpeg_op.cc is excluded from the android filegroup for the following reason documented in the file:

"# Ops which we are currently excluding because they are likely"

"# not used on Android. Those ops also do not compile if included,"

"# unless we add the additional deps they need."

So as suggested

[2016-06-06 15:41] SunAriesCN opened #2688 "My Changing on Tensorflow is not work"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-06 15:59] mrry commented on #2665
`FLAGS.worker_hosts` is the string (type `str`) value of the `--worker_hosts` flag. It doesn't define a `__call__()` method, hence the error you are seeing.

I think instead you want to have:

[code]

[2016-06-06 15:59] #2665 closed

[2016-06-06 16:14] rahulmonotype opened #2689 "Issue while importing tensorflow"
Facing issue while importing tensorflow.
OS: Windows 8
Python version 2.7
Installation method anaconda.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Anaconda2\envs\tensorflow_env\lib\site-packages\tensorflow\__init__.py", line 23, in <module>
    from tensorflow.python import *
  File "C:\Anaconda2\envs\tensorflow_env\lib\site-packages\tensorflow\python\__in

[2016-06-06 16:48] girving commented on #2689
Unfortunately, TensorFlow is not yet supported on Windows.

[2016-06-06 16:48] #2689 closed

[2016-06-06 16:51] girving commented on #2688
Unfortunately this is too little information, and I am having trouble parsing your sentences.  It sounds like you added a print statement or similar and it didn't show up when run.  This is probably a simple shell error, not an issue with TensorFlow itself.

[2016-06-06 16:54] girving commented on #2687
@samfux84: Did you point `./configure` to the right place?  Having `Python` in `$PATH` may be problematic for bazel, but I believe this should be solved by passing the absolute path to `configure`.

[2016-06-06 16:58] girving commented on #2685
Try `tf.nn.rnn_cell` and similar.

[2016-06-06 16:58] #2685 closed

[2016-06-06 17:01] girving commented on #2105
@liumilan: It does sound like you'll need to install from source.  I'm going to close this bug for now: if you still have issues please reopen a separate bug about the problems installing from source.

[2016-06-06 17:01] #2105 closed

[2016-06-06 17:21] girving commented on #211
@vrv: Does the person working on it have a Github username?

[2016-06-06 17:23] girving commented on #202
Switching to @prb12: Should we mark this as contributions welcome or is something more elaborate than an error message change warranted?

[2016-06-06 17:25] girving commented on #213
@vrv: Did this ever happen?

[2016-06-06 17:28] girving commented on #216
This issue appears to be covered by the more specific #1062.  @vladfi1: Does #1062 do what you want, or does `tf.batch_matmul` work now?  We can reopen if not, but we should try to make the issue more specific if so.

[2016-06-06 17:30] girving commented on #217
@martinwicke: Do we have a plan in terms of linting and/or pep8 compliance?  Should this be closed?

[2016-06-06 17:31] RyanCarey commented on #1300
Thanks for this - looking forward to MaxPool, (not yet present on last night's .whl).

[2016-06-06 17:34] vrv commented on #211
I don't know, @rryan do you know?

[2016-06-06 17:38] mrry commented on #2648
That's strange, because I think `grpc::DeserializeProto()` (`#1` on the stack trace) no longer exists in the 0.14 release of gRPC, which we're now using.

#2649 is now merged, so can you try this again with either the latest nightly or the 0.9 release candidate?

[2016-06-06 17:38] martinwicke commented on #297
We're working on backend changes, this will eventually be resolved by that work. Hang tight.

[2016-06-06 17:41] rryan commented on #211
Once Stream Executor support is finished I was planning to work on it -- so you can assign me if you'd like :).

[2016-06-06 17:47] vrv commented on #213
I doubt it -- assigning to Lukasz

[2016-06-06 17:53] lasergoat commented on #500
@erwincoumans and anyone else getting the error about:

    "RuntimeError: module compiled against API version 0xa but this version of numpy is 0x9"

Simple answer:
---

run `sudo easy_install numpy` to update to the correct numpy location.

Long answer:
---

I found some good [info here](http://stackoverflow.com/questions/28517937/how-can-i-upgrade-numpy)

This error occurs when there are two ver

[2016-06-06 17:56] yaroslavvb opened #2690 "Shape inference for Reverse doesn't support unknown shape"
This crashes

[code]

Stack trace
[code]

[2016-06-06 18:00] siddharth-agrawal commented on #1246
@vrv Could you comment on this? (since you are already a participant on the issue)

[2016-06-06 18:03] mrry commented on #2690
Fix incoming shortly....

[2016-06-06 18:13] martinwicke commented on #217
Plans, yes, time to do it, no. I would like to make much more of the pylint
we're already running, and ideally add cpplint as well.

On Mon, Jun 6, 2016 at 10:30 AM Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-06 18:17] girving commented on #217
@martinwicke: I'll leave it assigned to you for now, and you can reassign to other testing folk as appropriate.

[2016-06-06 18:19] girving commented on #389
@ebrevdo: Do you have any thoughts here?  Reassigning to you since Sherry is out.

[2016-06-06 18:24] girving commented on #403
@ludimagister, @ebrevdo: What's the status of bidirectional RNNs?

[2016-06-06 18:25] girving commented on #418
Closing as a duplicate of part of #206.

[2016-06-06 18:25] #418 closed

[2016-06-06 18:26] girving commented on #421
@cwhipkey: What's the recent status of this?  Are we still in large whitelist stage?

[2016-06-06 18:27] girving commented on #211
@rryan: Assigned, thanks!

[2016-06-06 18:28] girving commented on #605
This was fixed a while ago.  Woot.

[2016-06-06 18:28] #605 closed

[2016-06-06 18:29] girving commented on #611
@jskDr: Closing for now due to lack of response, but please open if you still have a contribution!

[2016-06-06 18:29] #611 closed

[2016-06-06 18:30] cwhipkey commented on #421
Yes, still in the large whitelist stage for the modules that have __all__ added.  There are also some modules that don't have __all__ added, like 'flags'.

[2016-06-06 18:31] girving commented on #627
@martinwicke: Should @xmbrst be assigned for this kind of doc bug?

[2016-06-06 18:33] girving commented on #601
@martinwicke, @aselle: Who's the best person for Docker issues?  This issue seems to have fallen through the cracks.

[2016-06-06 18:35] girving commented on #586
@mrry: Should this be contributions welcome, or do we still have plans to do our own refactoring of `.shape` vs. `.get_shape`?

[2016-06-06 18:37] girving commented on #566
@vrv, @rekhajoshm: What's the status of this after #619?

[2016-06-06 18:40] girving commented on #565
@ludimagister, @wchan: From the discussion above it seems like this was a resolved question, especially since #2093 is closed.  Please let me know if we should reopen!

[2016-06-06 18:40] #565 closed

[2016-06-06 18:42] girving commented on #527
@martinwicke: Any progress on this?

[2016-06-06 18:43] girving commented on #526
@zheng-xq: Should we contact the Stream Executor folk offline?  It looks like they might not have Github notifications turned on.

[2016-06-06 18:45] girving commented on #524
@martinwicke, @vrv: Martin's suggested fix seems reasonable.  Should we assign this to someone or give some more details are and mark it contributions welcome?

[2016-06-06 18:46] girving commented on #512
@lukaszkaiser: Can this issue be closed?

[2016-06-06 18:48] girving commented on #511
@ebrevdo: Is this resolved?

[2016-06-06 18:50] girving commented on #508
@mrry: Are you still planning to work on this?

[2016-06-06 18:51] girving commented on #504
@petewarden: This thread seems to have deviated quite a bit from the original request.  Should we mark it resolved and reopen other issues as required?

[2016-06-06 18:51] girving commented on #502
Closing due to lack of response.

[2016-06-06 18:51] #502 closed

[2016-06-06 18:52] girving commented on #473
Closing due to lack of response.

[2016-06-06 18:52] #473 closed

[2016-06-06 18:53] girving commented on #464
I'm going to mark this contributions welcome, since I don't know of anyone working on it.

[2016-06-06 18:54] girving commented on #462
Closing since I think this is covered by #527.  It would be better to fix compilation on Centos rather than ship static versions.

[2016-06-06 18:54] #462 closed

[2016-06-06 18:55] girving commented on #459
Dan fixed this a while ago.  Thanks Dan!

[2016-06-06 18:55] #459 closed

[2016-06-06 18:56] girving commented on #452
@davidzchen: What's the status of this?

[2016-06-06 18:59] girving commented on #916
@zheng-xq: Can you take a look at this?  Seems like it fell through the cracks.

[2016-06-06 19:00] girving commented on #929
@dvyukov, @rmlarsen: Did the recent thread pool changes resolve this?

[2016-06-06 19:01] girving commented on #932
@dvyukov, @rmlarsen: Did the recent thread pool changes resolve this?

[2016-06-06 19:01] girving commented on #932
@rmlarsen: Assigning you since @dvyukov isn't part of the Github org.  Should we add him?

[2016-06-06 19:02] girving commented on #933
@dvyukov, @rmlarsen: Is this resolved?

[2016-06-06 19:03] girving commented on #1065
@vrv, @zffchen78: Is this still an issue?

[2016-06-06 19:04] girving commented on #1060
@vrv: What's the status of this?

[2016-06-06 19:05] vrv commented on #524
I believe we have fixed the error message to be much more helpful, but someone would have to verify ;)

[2016-06-06 19:05] girving commented on #1037
@ebrevdo: Do we have dynamic RNNs yet?

[2016-06-06 19:12] ahumesky commented on #1593
Not sure of the root cause. If ndk r11 was being used before bazel supported it, it could have been detecting the wrong bit-ness of the ndk.

[2016-06-06 19:23] andrewharp commented on #2680
Hi, do you still experience this error after syncing past https://github.com/tensorflow/tensorflow/commit/7ee839a3ecb68ea0eedb1193638c05c53f06e56d? It adds the "Inv" operation that was previously not in the Android kernel filegroups.

[2016-06-06 19:24] kbrems commented on #916
We are not using theano or caffe, but are running into this issue in our unit test framework which uses tensorflow operators as well as cuda runtime calls. Are there any plans to fix this?

[2016-06-06 19:24] alexatknit commented on #2648
yep, I'll updated the cluster and try again

[2016-06-06 19:53] martinwicke commented on #504
+1

On Mon, Jun 6, 2016 at 11:51 AM Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-06 20:01] #504 closed

[2016-06-06 20:02] girving commented on #504
Resolving for now, please open more specific issues if problems persist, or ask on StackOverflow if  you have questions.

[2016-06-06 20:04] mrry commented on #586
We can't&mdash;or, at least, *really* shouldn't&mdash;accept a contribution on this until the internal refactoring is done. However, the internal refactoring is P3, so it might be some time before it rises to the top of the pile.

[2016-06-06 20:05] mrry commented on #508
Not urgently, so perhaps "contributions welcome" is more appropriate.

[2016-06-06 20:08] girving commented on #524
It doesn't look like we fixed it: https://github.com/tensorflow/tensorflow/blob/e9953ee70d45bfba8083eaa7ac902714f1a0b0a5/tensorflow/core/common_runtime/simple_placer.cc#L514

[2016-06-06 20:24] vrv commented on #524
That codepath only gets hit if there are no kernels at all that support that op.  There is no placement specified, and no kernels registered.  I think the situation @sguada has been fixed, you're pointing at a different error path.

[2016-06-06 20:24] #524 closed

[2016-06-06 20:24] zheng-xq commented on #916
Using TensorFlow with other frameworks is a bit tricky, since there are many places assuming it has exclusive access to the GPU. So disables GPU functionalities in one of them sounds reasonable.

@kbrems, with your use case, it is not recommended to use TensorFlow operators in the same thread as other Cuda runtime calls. TensorFlow uses stream-executor a faster Cuda runtime alternative. If standar

[2016-06-06 20:28] vrv commented on #1246
@theaverageguy said he was working on it, but no movement in a while, so go ahead.  As always, good documentation and tests are going to be needed!

[2016-06-06 20:33] mrry commented on #1947
Sorry - I missed this issue. I don't have a good idea of why this might be happening, so I'm reassigning to @zheng-xq as our best GPU expert.

[2016-06-06 20:34] lukaszkaiser commented on #512
Yes - let's close this and leave the seq2seq attention model as is (many people are using it successfully). We might implement another attention model with more features at some point, but that's a different issue.

[2016-06-06 20:34] #512 closed

[2016-06-06 20:37] girving commented on #524
@vrv: Assigning to you since you seem to be the C++ runtime czar.  Feel free to reassign.

[2016-06-06 20:38] girving commented on #524
Oops, sorry, missed your comment.  Never mind.

[2016-06-06 20:40] TimZaman commented on #1965
I had a similar error:
`AttributeError: type object 'NewBase' has no attribute 'is_abstract'`
This fixed my issue:
`sudo pip install six --upgrade --target="/usr/lib/python2.7/dist-packages"`
Shouldn't TF test for a particular six version, or at least help the user on his way.

[2016-06-06 20:42] girving commented on #916
Closing for now since making TensorFlow share the GPU seems out of reach.

[2016-06-06 20:42] #916 closed

[2016-06-06 20:44] lukaszkaiser commented on #2492
Indeed, I can confirm that variables are stored in the graph which is not reset with session. So this is behaving as intended. If you want to create a graph twice, separately, do it like this:

  with tf.Graph().as_default():
    train()  # or anything else...
  with tf.Graph().as_default():
    decode()  # or anything else...

[2016-06-06 20:44] #2492 closed

[2016-06-06 20:48] #1310 closed

[2016-06-06 20:49] vrv commented on #1310
(The root bug was fixed a few weeks ago by placing the entire graph on first run, not just the pruned ones).

[2016-06-06 20:49] girving commented on #508
If anyone takes this on, it should go in the doc string at the top of `math_ops.py`.

[2016-06-06 20:50] girving commented on #586
Sounds good, let's leave it as is.

[2016-06-06 20:50] girving commented on #1015
Closing for now due to lack of response.  Please reopen if it's still an issue!

[2016-06-06 20:50] #1015 closed

[2016-06-06 20:51] vrv commented on #1748
@mrry I assume this is fixed now, in that we don't do improper placement, but I'm not sure all sparse optimizers are supported on GPU, which is perhaps another bug which I believe we already have an issue for.

[2016-06-06 20:51] #1748 closed

[2016-06-06 20:52] vrv commented on #2457
You probably need to install the zlib development libraries, I guess.

[2016-06-06 20:52] #2457 closed

[2016-06-06 20:53] girving commented on #971
@martinwicke: Would you prefer contributions welcome or assigned to you?

[2016-06-06 20:55] girving commented on #970
@craigcitro, @jendap: If nvidia-docker is not ideal, should we close this issue?

[2016-06-06 20:58] girving commented on #945
@josh11b: Should I reassign?

[2016-06-06 20:59] girving commented on #878
@martinwicke: Looks like this fell through the cracks.

[2016-06-06 21:00] girving commented on #867
Pull requests welcome if anyone wants to fix this!  @lesniewski: Would you interested in wrapping your fixes up as a PR?

[2016-06-06 21:04] flx42 commented on #970
@girving actually, it's the recommend method now for GPU containers:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker#running-the-container

[2016-06-06 21:06] girving commented on #970
@flx42: Even better!  Does that mean this bug is fixed?

[2016-06-06 21:06] mrry commented on #945
I think this is fixed since acac487ac4ebaa6edb3e3f866d41cbd12546a107.

[2016-06-06 21:07] #945 closed

[2016-06-06 21:08] lesniewski commented on #867
Sure! It was only 8 lines. Might take a little while before I get around to it though.

[2016-06-06 21:12] flx42 commented on #970
Looks like, but that's not my call :)

[2016-06-06 21:13] #970 closed

[2016-06-06 21:16] girving commented on #837
@ebrevdo: Could you take a look since it's queue related?

[2016-06-06 21:19] keveman commented on #2054
Thanks to @prb12 for debugging this with me.
The TensorFlow runtime optimizes the graph before it runs it the first time. One particular optimization of interest here is constant folding, that replaces a node whose input is a constant, with the output of the node after executing it. The 'execution' of the node during constant folding always happens on the CPU. Note that this is functionally correc

[2016-06-06 21:19] #2054 closed

[2016-06-06 21:19] girving commented on #830
@martinwicke: Was this fixed?

[2016-06-06 21:23] girving commented on #823
@martinwicke, @aselle: I think we may need backup czars, since Sherry is out at the moment.

[2016-06-06 21:23] girving commented on #808
@zheng-xq, @ebrevdo: What's the status of this?

[2016-06-06 21:26] girving commented on #778
@digitalsword: It sounds like this is a bazel issue rather than a TensorFlow issue if you can't get bazel to compile using the right gcc.  Sorry to redirect, but I don't think we'll be able to fix it on our end.

[2016-06-06 21:26] #778 closed

[2016-06-06 21:26] bogdanteleaga opened #2695 "RNN's state_is_tuple doesn't work with initial_state"
Assuming I want to batch series of inputs and propagate the cell state from one session run towards another for an epoch:

[code]

Since using state_is_tuple in the cells makes the state be a tuple on return:

- using .eval() doesn't work for an initial state
- subsequent states are returned as tuples and cannot be fed back into the session as tuples

[2016-06-06 21:28] girving commented on #1359
It sounds like this issue is caused by system irregularities which I'm not sure we'll be able to work around on our end, so closing for now.

[2016-06-06 21:28] #1359 closed

[2016-06-06 21:29] girving commented on #1333
Closing since it looks like the problem is not having installed zlib.

[2016-06-06 21:29] #1333 closed

[2016-06-06 21:35] girving commented on #1326
@ebrevdo: Are you still working on this, or should I mark it contributions welcome?

[2016-06-06 21:35] #1328 closed

[2016-06-06 21:36] girving commented on #1325
@lukaszkaiser: Are you planning to make the documentation fix, or should I mark this contributions welcome or close?

[2016-06-06 21:36] girving commented on #1323
@lukaszkaiser: Closing for now since the original issue is not fixable given broadcasting.

[2016-06-06 21:36] #1323 closed

[2016-06-06 21:39] girving commented on #1319
@ebrevdo: Could you take a look or reassign?  I'm not sure if there's a problem we can fix here or not.

[2016-06-06 21:45] girving commented on #1307
@mrry: Is there any easy to get `DGPR_BACKWARDS_COMPATIBILITY_MODE` into our grpc build in a suitable version dependent way?

[2016-06-06 21:45] girving commented on #1306
@ebrevdo: Assigning to you if something is in the works.

[2016-06-06 21:47] girving commented on #1299
Closing for now.  @cesarsalgado: Please reopen if the issue persists with cuDNN R4.

[2016-06-06 21:47] #1299 closed

[2016-06-06 21:47] SunAriesCN commented on #2688
Not only for print I had ever tried to remove some code, could cause program crash  i.e. def ...., from cifar10_input.py. And When I run cifar10_train.py, it can work well.

[2016-06-06 21:48] girving commented on #1286
@lukaszkaiser: @ebrevdo says this will happen automatically as a consequence of other work you're already doing.  Is that right?

[2016-06-06 21:48] girving commented on #1285
Closing.  The issue is that "you should not try to import tensorflow from its source directory", as the error message states.

[2016-06-06 21:48] #1285 closed

[2016-06-06 21:49] girving commented on #1283
@caisq: Assigning to you; feel free to reassign.  What's the status currently?

[2016-06-06 21:50] girving commented on #1280
We'd love to have it in the models repo if anyone writes it: https://github.com/tensorflow/models!

[2016-06-06 21:54] girving commented on #2688
Unfortunately I still don't understand your issue, but I suspect it is closer to a StackOverflow question than a problem with TensorFlow.  You could try posting your code changes, or you could try posting them on StackOverflow with the `tensorflow` tag.

[2016-06-06 21:57] girving commented on #1268
Oh no!  I appear to have missed a notification here.  Fortunately since this bug was filed we've added `tf.gather` for GPUs, so part (1) is fixed.

@zheng-xq: Do you want to comment on the multiple GPU bit?

[2016-06-06 22:01] girving commented on #1235
Closing since the original issue is fixed.

[2016-06-06 22:01] #1235 closed

[2016-06-06 22:02] girving commented on #1203
@vrv: Should we close, or is a fix possible on our end?

[2016-06-06 22:03] girving commented on #1197
Closing for now.  For better or worse, TensorFlow assumes it owns the whole GPU, so other libraries trying to use the GPU at the same time will cause issues.

[2016-06-06 22:03] #1197 closed

[2016-06-06 22:06] josh11b commented on #1277
Does the CIFAR example set an epoch limit?  Looks like this might be
poor handling of running to the end in the CIFAR code?  That is the
normal end-of-input exception.

[2016-06-06 22:06] girving commented on #1606
Fixed by #1999.

[2016-06-06 22:06] #1606 closed

[2016-06-06 22:07] mrry commented on #1307
@girving: Turns out it's quite easy: #2697.

[2016-06-06 22:08] girving commented on #1618
@fayeshine: Since we have a confusion matrix op as of #1999, is this obsolete?

[2016-06-06 22:10] girving commented on #1277
It has `FLAGS.max_steps`, so looks like yes.

[2016-06-06 22:11] mrry commented on #2604
Closing this, as there's no bug. Feel free to ask on Stack Overflow if you have questions about how to build input pipelines, however.

[2016-06-06 22:11] #2604 closed

[2016-06-06 22:11] lukaszkaiser commented on #1325
I think there is a true bug here, not a documentation problem. Variables loaded with saver should be imported to with with get_variable. It is being addressed in tf.learn (and also in the context to make partitioned variables work ok). I think Illia was working on that, but I'm not sure how far it got.

[2016-06-06 22:12] mrry commented on #2362
Closing due to lack of response. Feel free to reopen if you're still having problems (although note that OS X 10.8 or earlier support is probably out of scope...).

[2016-06-06 22:12] #2362 closed

[2016-06-06 22:13] girving commented on #1325
@ilblackdragon: Reassigning to you; feel free to adjust if that's wrong.

[2016-06-06 22:14] mrry commented on #2461
Closing due to inactivity. Feel free to reopen if you still have concerns.

[2016-06-06 22:14] #2461 closed

[2016-06-06 22:14] lukaszkaiser commented on #1286
Eugene is right that it'll happen when we replace linear with layers, which should happen (as part of the general move to layer/tf.learn, right?). I'm not working on it right now though.

[2016-06-06 22:15] girving commented on #1577
@danmane: Do you have enough information to look at this?

[2016-06-06 22:17] girving commented on #1570
@zheng-xq: Any chance this is fixed?  If not, I'm going to mark this as contributions welcome in case someone else gets to it before we do.  PRs welcome!

[2016-06-06 22:18] girving commented on #1568
@prb12: Did you get a chance to look at this?

[2016-06-06 22:20] girving commented on #1558
Closing, since @cg31 seems to have found the fix.  Thanks!

[2016-06-06 22:20] #1558 closed

[2016-06-06 22:21] girving commented on #1553
@martinwicke: Have you seen this one?  @YonatanSimson: Do you know if this is still an issue?  Apologies for letting it fall through the cracks.

[2016-06-06 22:24] andrewharp commented on #1593
Seems likely, we can reinvestigate if it ever happens again.

[2016-06-06 22:24] #1593 closed

[2016-06-06 22:25] zheng-xq commented on #1545
@brantbzhang, could you try the latest TensorFlow, which enables auto-tune on conv and see if that is faster?

[2016-06-06 22:32] girving commented on #1503
Adding contributions welcome in case someone feels like contributing a graph model to tensorflow/models.

[2016-06-06 22:32] TianweiXing commented on #2680
@andrewharp , thanks a lot for your help!
I use the new version(actually, I add the inverse to Android kernel filegroups ), and this error disappears.

However, I meet some other errors:
[code]
It needs a op called Switch", do you know what that is?
Thanks.

[2016-06-06 22:38] #1480 closed

[2016-06-06 22:38] girving commented on #1458
@stefan-w: Pull requests welcome!

[2016-06-06 22:42] benoitsteiner commented on #1498
Eigen only supports compute 3.0 and above. Old GPUs tend to run slower than a decent CPU these days, so there is little incentive to remove this restriction at the moment.

@rajarsheem @marcdumon: What are your use cases for GPUs that only support compute capabilities 2.1 ?

[2016-06-06 22:46] girving commented on #1446
Closing since the pip packages are built against specific CUDA versions.  @vrv: We can reopen if we have plans to make pip packages that work everywhere, but I'm not sure if that's practical.

[2016-06-06 22:46] #1446 closed

[2016-06-06 22:48] girving commented on #1444
Closing this as intended behavior.  @toma5692 and others: If you want to keep graphs small, use `tf.Variable` instead of `tf.constant`.

[2016-06-06 22:48] #1444 closed

[2016-06-06 22:52] #1440 closed

[2016-06-06 23:02] alexatknit commented on #1300
Also looking forward to seeing elu added.

[2016-06-06 23:03] mrry commented on #2677
In your Python 3.x shell, can you please run the following:

[code]

...and let us know what it prints. The `find_module()` function [should be available](https://docs.python.org/3/library/imp.html#imp.find_module) in Python 3.5, which you appear to be using, so I'm not sure why this would happen. (One possibility is that there's a file called `imp.py` in your PYTHONPATH, and that's causing it to

[2016-06-06 23:08] vrv commented on #1203
I have a way to reproduce or debug, so we either need a fix from the community, or a repro

[2016-06-06 23:08] vrv commented on #1203
*I don't

[2016-06-06 23:11] xksteven opened #2699 "tf.train.Example?"
In the file

https://github.com/tensorflow/tensorflow/blob/r0.9/tensorflow/examples/how_tos/reading_data/convert_to_records.py#L64

What does  tf.train.Example()  do?  I couldn't find it anywhere in the documentation.

[2016-06-06 23:17] andrewharp commented on #2680
There is a "Switch" op in control_flow_ops.cc which is also included by android_extended_ops_group1. Can you confirm that this file/filegroup are being used by your build?

[2016-06-06 23:25] girving commented on #1432
I believe this was fixed by #1436.

[2016-06-06 23:25] #1432 closed

[2016-06-06 23:25] martinwicke commented on #1441
Can you try with the 0.9 wheel? I have no idea what the problem can be and the message is useless, but maybe we get lucky.

[2016-06-06 23:27] mrry commented on #2699
It's a protocol buffer that is commonly used as the data format for training and evaluation examples in TensorFlow. The format is defined here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/example/example.proto

The `tf.train.Example()` call instantiates a new protocol buffer, and fills in some of its fields.

[2016-06-06 23:27] #2699 closed

[2016-06-06 23:28] SunAriesCN commented on #2688
Actually, I think I just want to know how to correctly install my tensorflow with some code changed by myself. And I guess the reason why my change is unavailable, is that my tensorflow library is old, the before code without my change. So I think what I really need, just a correct method to develop and install tensorflow with python

[2016-06-06 23:28] girving commented on #1426
I'm going to close this since it appears to be a bazel issue.  Please reopen if you think there's a fix on the TensorFlow side.

[2016-06-06 23:28] #1426 closed

[2016-06-06 23:30] girving commented on #2688
Okay, I'll close for now.  Let us know if you have further issues, but we'll probably need more details for those too if so.

[2016-06-06 23:30] #2688 closed

[2016-06-06 23:30] prb12 commented on #1568
Could you please clarify what you mean by
"Just run translate.py with 10M pairs training data." ?
Are you saying that you're trying to run with a batch_size argument of 10 million?

Could you please provide the exact command line you used, along with any changes to translate.py, and it would also be helpful to know what GPU configuration you have (e.g. the output of nvidia-smi)

[2016-06-06 23:31] #1307 closed

[2016-06-06 23:32] girving commented on #1779
@ebrevdo: Should I leave this one assigned to you?

[2016-06-06 23:37] girving commented on #1941
The dictionary thing sounds like a good plan.  I don't think we need to add support for all possible types.  Dict support would have prevented a crazy workaround in my current code.

@Styrke: I'd welcome a PR if you're still interested (I'll mark this as contributions welcome).

[2016-06-06 23:40] girving commented on #1940
I'm going to close, since I don't think this is feasible in TensorFlow in a performant manner.  Everything down to cuDNN assumes rectangular tensors, and uses this assumption to arrange for high arithmetic intensity.  Fancy approaches which do manual tiling of irregularly sizes images are possible, but those would be a layer on top of tensorflow (or possibly something in `tf.contrib`).

[2016-06-06 23:40] #1940 closed

[2016-06-06 23:44] girving commented on #1935
@keveman: Did you get a chance to look at this?

[2016-06-06 23:47] TianweiXing commented on #2680
Thanks, @andrewharp .
Yes, I found the "control_flow_ops.cc" in my BUILD file. I think the file I use includse this op.
Is it possible that the error is cause by a wrong tensor definition?

I create the tensor using c++,
[code]
It should be a bool tensor, in python model , it looks like this:
`phase_train_placeholder = tf.placeholder(tf.bool, name='phase_train')`

Is there anything improper here?

[2016-06-06 23:47] girving commented on #1882
@petewarden: Assigning you since it's about retraining.

[2016-06-06 23:54] SunAriesCN commented on #2688
-.-! But I have no idea about how to develop and install my own code....cloud you give me some method with detail?

[2016-06-06 23:58] girving commented on #2688
@SunAriesCN: Questions about how to write new code on top of TensorFlow belong better on StackOverflow.

[2016-06-06 23:59] girving commented on #1830
@ebrevdo: Should we mark this contributions welcome, or are you working on it?

[2016-06-07 00:19] girving commented on #1824
@concretevitamin: A how-to for TensorFlow profiling is probably a good idea.  If you wrote the timeline, would you want to write a tutorial highlighting it?

[2016-06-07 00:21] girving commented on #1817
Unfortunately it looks like this fell through the cracks.  @Yunlong-He: Do you know if it's still an issue?  @martinwicke: Is this a known problem?

[2016-06-07 00:22] girving commented on #1813
@dominichamon, @ebrevdo: What was the result of the offline discussion?

[2016-06-07 00:23] girving commented on #1810
@josh11b: Did you get a chance to look at this?  @cuiguoxin: Could you try running valgrind on TensorFlow to see where the problem begins?

[2016-06-07 00:28] girving commented on #1803
@mrry, @zheng-xq: This whole "hand off" thing doesn't seem to work very well. :)

@anuragkr90: Is your issue different from @avati's?

[2016-06-07 00:30] girving commented on #1799
Fixed, so closing.

[2016-06-07 00:30] #1799 closed

[2016-06-07 00:32] girving commented on #1798
@meereeum: Closing for now since it seems like it might have been caused by a malformed use of `import_meta_graph`.  I'm happy to reopen if it's a persistent issue.

[2016-06-07 00:32] #1798 closed

[2016-06-07 00:35] girving commented on #1797
@ebrevdo: @meereeum's example with `y.name == 'foo_1/Variable:0'` looks like a bug.  Could you take a look?

[2016-06-07 00:36] andrewharp commented on #2680
I think your problem node results from the following python:
[code]

The node summary from the error:
`Switch[T=DT_BOOL](phase_train, phase_train)]`
implies it's looking to instantiate a SwitchOp node taking phase_train as both inputs 1 and 2.

However looking at the actual SwitchOp definition, it seems the second input must be a scalar, not a tensor as phase_train is defined to be.

I may be misi

[2016-06-07 00:37] girving commented on #1796
Closing since this seems to be a (hopefully answered?) question rather than an issue that needs fixing.  Please ask to reopen if you think a doc-fix is warranted, or if there's a real bug here.

[2016-06-07 00:37] #1796 closed

[2016-06-07 00:39] keveman commented on #1935
@shiuan5566 What platform are you trying this on?

[2016-06-07 00:41] keveman commented on #1932
@forfish Do you still have problems compiling example_trainer?

[2016-06-07 00:44] girving commented on #1793
@mwalton: `some_other_arg` should be called `unused_argmax_grad`, but otherwise that's basically it.  Would you be interesting it submitting your change as a PR?  We'd have to add tests if so (mirroring those for the gradient of the normal max_pool.

[2016-06-07 00:45] keveman commented on #1870
@kmuriki What location did you enter for python while running `./configure`?

[2016-06-07 00:51] girving commented on #1791
@martinwicke: Is there a way we can fix this kind of thing on our end, or is it just a bazel issue?

[2016-06-07 00:52] girving commented on #1786
@vrv: Assigning to you for now.

[2016-06-07 01:04] girving commented on #2134
@benoitsteiner: Eigen's ExtractGlimpse code does seem broken: it builds its own internal RNG without any seed input from outside.

[2016-06-07 01:07] TianweiXing commented on #2680
I don't quite understand:...
1, In python code, there are 2 input(I think both of them are tensors):
[code]
and they are feed together to the session:
[code]
what I 'm doing in C++ api is the same:
[code]
I kind of don't understand why it works in python, but not in c++?

2, I looked at the c++ api again, it seems that the input of " tensorflow::Session::Run()"  has to be pair< string, Tensor > fo

[2016-06-07 01:11] martinwicke commented on #1791
@damienmg is there a solution to this that does not involve compiling bazel from source? Otherwise, that sounds like the right thing to do.

[2016-06-07 01:17] andrewharp commented on #2680
@petewarden Do you know how the cc code here could be formulated to satisfy the Switch op? Alternatively, is this a situation [strip_unused.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/strip_unused.py) could be used to simplify and simply remove it?

[2016-06-07 01:37] girving commented on #2128
@ziky90: Does @callicles's fix solve your issue?

[2016-06-07 01:39] girving commented on #2125
@yuanbyu: Could you take a look?

[2016-06-07 01:44] girving commented on #2121
@zheng-xq: Any ideas here, including ideas for further experiments to get more information?

[2016-06-07 01:53] jstaker7 commented on #2559
Ran into an error very near the end of the build:

ERROR: /Users/Peace/Projects/external/tensorflow/tensorflow/contrib/session_bundle/example/BUILD:38:1: Executing genrule //tensorflow/contrib/session_bundle/example:half_plus_two failed: bash failed: error executing command
  (cd /private/var/tmp/_bazel_Peace/25fdd91e698016ec32416f69e3fa9b23/execroot/tensorflow && \
  exec env - \
    PATH=/Librar

[2016-06-07 01:57] petewarden commented on #2680
The first thing I would double-check is that the Switch kernel is actually being registered. I normally do this by adding a `LOG(INFO) << op_name;` call to the KernelDefBuilder constructor:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/kernel_def_builder.cc#L22

Once we know for sure the kernel is being linked in, then we can look at exactly what permutations are l

[2016-06-07 02:01] jihunchoi commented on #2695
When you use `state_is_tuple`, it literally means that the type of state is tuple.
However, the first parameter should be a list of tensors and the second should be a dictionary whose key is of tensor type.
As far as I know, you have to separate the state tuple.
So your code should be like in the below form: (I haven't tested)
[code]
Note that it is applicable only for simple RNNs without stacked

[2016-06-07 02:11] martinwicke commented on #1817
If the connectivity to github is patchy, these things happen. Those are
usually transient issues though, sadly, bazel does not retry anything.

On Mon, Jun 6, 2016 at 5:21 PM Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-07 02:29] martinwicke commented on #830
Yes. For posterity: Upgrade to swig >=3.0.8.

[2016-06-07 02:29] #830 closed

[2016-06-07 02:44] josh11b commented on #1810
Could this be related to #2646 ?

[2016-06-07 02:55] #2472 closed

[2016-06-07 03:19] #1817 closed

[2016-06-07 03:25] ebrevdo commented on #1830
This requires advanced slicing.  I started work on extending `gather_nd` to support this type of usecase this week.  No ETA, but expect 1-2 weeks at the absolute minimum.

[2016-06-07 03:28] girving commented on #1830
@ebrevdo: Thanks!  It'd be good to coordinate further slicing work with @aselle to make sure there's no duplication.

[2016-06-07 03:30] TianweiXing commented on #2680
@petewarden
Could you please advise me how to get the "op_name" more specifically?  I 'm new to tensorflow and don't really understand which function should I call?
Thanks!

[2016-06-07 03:53] andrewharp commented on #2680
Try editing the constructor Pete linked to in kernel_def_builder.cc to this:

#include "tensorflow/core/platform/logging.h"
...
KernelDefBuilder::KernelDefBuilder(const char* op_name) {
  kernel_def_ = new KernelDef;
  kernel_def_->set_op(op_name);
  LOG(INFO) << op_name;
}

[2016-06-07 04:10] shiuan5566 commented on #1935
@keveman  I use Kubuntu 15.10

[2016-06-07 04:21] #2690 closed

[2016-06-07 04:37] girving commented on #2117
@hamidb: Building from source is fine.  Unfortunately, it sounds like this will be impossible to debug since it can't be reproduced, so I'll close for now.  Please reopen if reproduction becomes possible!

[2016-06-07 04:37] #2117 closed

[2016-06-07 04:39] girving commented on #2099
There's no reason to restrict variables to have nonzero size.  I'll fix.

[2016-06-07 04:41] girving commented on #2098
@zheng-xq, @poxvoculi: Is a fix really in progress?  It's only 10 or so lines of code, and @mwalton already wrote most of it here: https://github.com/tensorflow/tensorflow/issues/1793

[2016-06-07 04:43] girving commented on #2034
For anyone who finds this thread: TensorFlow 0.9 has the workaround.

[2016-06-07 04:43] girving commented on #2077
@ebrevdo, @yuanbyu: What's the status of this?

[2016-06-07 04:52] girving commented on #2075
I think it'd be better to handle this the way numpy does it, with `np.unravel_index`: https://bytes.com/topic/python/answers/509074-numpy-argmin-multidimensional-arrays.  Making `tf.argmin` do this directly would either require a new op or an unpleasant boolean flag that indexes over everything, and it still wouldn't be what you want since most of time you want to minimize over some but not all of

[2016-06-07 04:53] prayalankar2 commented on #2677
I am getting following output. I think there is no **find_module()**

['Example', 'Flask', 'SQLAlchemy', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'app', 'db']

/home/prayalankar/imp.py

[2016-06-07 04:55] girving commented on #2046
@martinwicke: Is there any way we can shield people against these torments, or at least generate nicer errors?

[2016-06-07 04:56] girving commented on #2039
@jendap: Do you know if this is still an issue?

[2016-06-07 05:02] yuanbyu commented on #2077
We have a bug in gradient support for unpack and split of dynamic TensorArray. I have a pending CL fixing this problem.

[2016-06-07 05:03] girving commented on #2037
@ernest-tg: Does this problem persist, or did you manage to get any further information?

[2016-06-07 05:05] zheng-xq commented on #2098
@girving, a PR is welcome.

[2016-06-07 05:06] girving commented on #2015
@prb12, @benoitsteiner: Any updates?

[2016-06-07 05:07] girving commented on #2014
@kadrach: I'm going to close since the original problem seems to have been fixed, but please open a separate issue if you have a different extant problem.

[2016-06-07 05:07] #2014 closed

[2016-06-07 05:08] girving commented on #2098
Closing as duplicate of #1793.

[2016-06-07 05:08] #2098 closed

[2016-06-07 05:09] staranjeet commented on #217
I can work on this.

[2016-06-07 05:13] girving commented on #217
@staranjeet: I think we may need to figure out a policy of just how pep8 compliant we want to be first.  For example, I'd hate to give up our 2 space indent paradise.

[2016-06-07 05:16] girving commented on #2247
Closing due to lack of activity.

[2016-06-07 05:16] #2247 closed

[2016-06-07 05:16] martinwicke commented on #217
Definitely not while we still maintain a 80-character hard limit.

On Mon, Jun 6, 2016 at 10:13 PM Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-07 05:19] girving commented on #2242
@mxrguspxrt: Exploding to nans is standard with high learning rate is standard behavior for neural networks.  If you're seeing a rapidly exploding network with a very small network, there might be an issue, but as in I'm going to close this as (unfortunately) intended behavior.  Please comment if you think it should be reopened.

[2016-06-07 05:19] #2242 closed

[2016-06-07 05:20] girving commented on #2240
Closing for now due to insufficient information.  @liumilan: I am happy to reopen if there are more details.

[2016-06-07 05:20] #2240 closed

[2016-06-07 05:22] martinwicke commented on #2046
@aselle is there a way to find a mismatch at runtime? Maybe by comparing the size of an unordered_map returned from a function in each version of the library? If we can identify the problem we could at least die with informative last words.

[2016-06-07 05:22] girving commented on #2253
Unfortunately we don't officially support CentOS. We'll do our best to support installation on unsupported platforms, but in this case, it's unclear what we can do. If it turns out there is a problem that can be fixed with changes to TensorFlow, we're happy to accept a PR.

[2016-06-07 05:22] #2253 closed

[2016-06-07 05:23] mrry commented on #2677
The problem is that there's a file called `imp.py` in your PYTHONPATH. In particular, it looks like it's in `/home/prayalankar/imp.py`.

There are two options for fixing this:

1. Rename `/home/prayalankar/imp.py` to something else, so that it doesn't clash with the name of a built-in Python module, or
2. Change your PYTHONPATH so that it no longer includes `/home/prayalankar`.

[2016-06-07 05:23] #2677 closed

[2016-06-07 05:29] girving commented on #2239
@martinwicke: It looks like our docker instructions are out of sync.  One of these says to use nvidia-docker; the other does not.

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker#running-the-container
https://www.tensorflow.org/versions/master/get_started/os_setup.html#docker-installation

Should they be synchronized?

[2016-06-07 05:32] girving commented on #2237
@yuanbyu: Do you have any suggestions?  I'll mark this contributions welcome for now.  If it's added, we should make sure it supports efficient batching.

[2016-06-07 05:34] girving commented on #2236
@a-dai can confirm, but I don't think anyone is working on this at the moment.  PRs are welcome, though!

[2016-06-07 05:35] girving commented on #2236
However, since this is about tensorflow/models, not tensorflow/tensorflow, it should be refiled at the right repo.

[2016-06-07 05:35] #2236 closed

[2016-06-07 05:38] girving commented on #2234
Contributions welcome to fix this to be consistent!

[2016-06-07 05:40] girving commented on #2231
Closing since the conversation is happening over in #739.

[2016-06-07 05:40] #2231 closed

[2016-06-07 05:41] jendap commented on #970
yeah, it is recommended only in that one file, because I was just updating that file a few days back. We should update all the places. I'm thinking about doing it tomorrow - so that it makes it into 0.9.

[2016-06-07 05:42] girving commented on #2228
Closing as duplicate of #1029.

[2016-06-07 05:42] #2228 closed

[2016-06-07 05:44] YonatanSimson commented on #1553
Hi Martin,

Thanks for the response.

I typed in
[code]

Both installation and import of tensorflow in python were successful. I am working on ubuntu 14.04 LTS in a virtual machine.

[2016-06-07 05:54] girving commented on #1553
Thanks @YonatanSimson!  Closing for now since it seems fixed.

[2016-06-07 05:54] #1553 closed

[2016-06-07 05:56] girving commented on #2226
@zheng-xq: Any thoughts?  @alexlee-gk: If not, we may have to close this as expected behavior, unfortunately.  It sounds like your 97.7% vs. 9.8% difference occurs for a model where different CPU systems can also produce 10%, and thus that you may have found an impressively unreliable set of hyperparameters.  If using a smaller learning rate helps, it may just mean that the GPU version blows up sl

[2016-06-07 05:57] girving commented on #2223
@lukaszkaiser: Can you comment?  Should we mark this contributions welcome?

[2016-06-07 05:58] samfux84 commented on #2687
Hi Geoffrey Irving,
thank you for your reply. I was not sure if I had set ./configure to the correct place. Therefore I repeated the installation, set ./configure and I still get the same error, even though configure already takes the correct path as default:

[code]
Best regards

Sam

[2016-06-07 05:59] girving commented on #2217
@c0g: Thanks, we look forward to PRs!  @rmlarsen: Do you have any comments?

[2016-06-07 06:00] girving commented on #2215
The network expects a batch of images, so add `tf.expand_dims(image, -1)`.

[2016-06-07 06:00] #2215 closed

[2016-06-07 06:02] mrry commented on #2667
I posted an [answer](http://stackoverflow.com/a/37671613/3574081) on Stack Overflow. Feel free to continue the discussion over there!

[2016-06-07 06:02] #2667 closed

[2016-06-07 06:03] girving commented on #2211
@yuanbyu: Should I mark this contributions welcome?  It seems like it would be nice if `tf.add_check_numerics_ops` just did the right thing in this case.

[2016-06-07 06:03] jendap commented on #808
If you have a problem try the [nvidia-docker](https://github.com/NVIDIA/nvidia-docker). It is in much better shape than i used to be half a year ago.

I believe we can close this. I'm going to update the documentation to use nvidia-docker.

[2016-06-07 06:05] girving commented on #2687
@martinwicke: Do you know if this is on our end of Bazel's?

[2016-06-07 06:24] yuanbyu commented on #2211
Yes, sounds like a good idea.

[2016-06-07 06:29] fayeshine commented on #1618
@girving thanks for adding confusion matrix, however we may still need groupByKey or reduceByKey for data preprocessing

[2016-06-07 06:49] edhlee opened #2702 "API doc typo for tf.nn.avg_pool3d and tf.nn.max_pool3d"
In the tensorflow API doc: https://www.tensorflow.org/versions/master/api_docs/python/nn.html#max_pool3d, it states:

ksize: A list of ints that has length >= 5. 1-D tensor of length 5. The size of the window for each dimension of the input tensor. Must have ksize[0] = ksize[1] = 1.

ksize[0] = ksize[1] = 1 must be ksize[0] = ksize[4] = 1 for both average and max pooling 3d layers as detailed here

[2016-06-07 06:49] martinwicke commented on #2687
It may be a recent thing. Can you cherry-pick edf3f943068445ab58ca7d14a3d3103cafc618d0, or build from r0.9 and see if that helps? This will disable the exporter, which uses a genrule using python.

You can also try adding `--host_force_python=py3` to your bazel commands (and not disable the exporter).

[2016-06-07 07:08] TianweiXing commented on #2680
@andrewharp  Thanks!
I edit the kernel_def_builder.cc and rebuild the program again, it still shows same error. (I didn't see the log for op_name output...)
Is it necessary to call some function?

Beside, I build this android program using "libandroid_tensorflow_kernels.lo" (which is built in "bazel-out" when using bazel to build the android demo). Does this influence the use of  Switch kernel ?

[2016-06-07 07:22] ziky90 commented on #2128
@girving
I've switched to anaconda and I get back to this issue right now.
And I'm not able to reproduce the issue in virtualenv, so I consider it as solved.

[2016-06-07 07:22] #2128 closed

[2016-06-07 07:42] martinwicke commented on #2239
caisq@, which one are the "correct" ones? There should definitely only be one version.

[2016-06-07 07:44] samfux84 commented on #2687
--host_force_python=py3 is already set in my bazel.rc

Please see below my bazel.rc:
[code]
Thank you for your suggestion. I will try to checkout the newest commit from the TensorFlow repository and try to build it again.

[2016-06-07 07:46] flow-ryan commented on #1203
I did write down all steps while setting up a g2 aws instance where I encountered that problem. Maybe I forgot some apt-get or cd but the majority should be here.

The os was ubuntu server 14.04 - ami-fce3c696.

[code]

[2016-06-07 07:49] martinwicke commented on #217
@staranjeet We'd like to ignore some thing (in particular, the 4 space indent), but otherwise, proper linting would be great. We already run pylint as part of the build, but we disabled all but the most terrible errors (syntax errors, unknown names) in order to make it blocking without damaging productivity.

It would be nice to have a stricter pylintrc that we can use for informational purposes.

[2016-06-07 07:51] martinwicke commented on #2687
It's only set for test, not for build. You need the line

[code]

On Tue, Jun 7, 2016 at 12:44 AM samfux84 <notifications@github.com> wrote:

[2016-06-07 07:54] dvyukov commented on #929
Yes, it's fixed with the contraction changes.

[2016-06-07 07:56] dvyukov commented on #932
Yes, it's fixed. New thread pool waits for completion of all work.

[2016-06-07 07:56] #932 closed

[2016-06-07 07:56] #929 closed

[2016-06-07 07:57] dvyukov commented on #933
Yes, it's fixed. New thread pool waits for completion of all work.

[2016-06-07 07:57] #933 closed

[2016-06-07 07:58] jplu opened #2703 ""ERROR: Cannot find './util/python/python_lib'""
Hello,

I have the following error when I try to compile the pip package from the source code.

### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]
If installed from sources, provide the commit hash: ea9e00a630f91a459dd5858cb22e8cd1a666ba4e

### Steps to reproduce
1. git clone https://git

[2016-06-07 08:09] samfux84 commented on #2687
Hi, I tried it with "build --host_force_python=py3" but I still got the same error:

[code]

[2016-06-07 09:36] damienmg commented on #1791
This is just a Bazel issue, this bug should be reopened on our issue tracker IMO.

Recompiling Bazel from source should be the correct solution.

[2016-06-07 09:39] TianweiXing commented on #1758
@mrry Hi, I have a model for image recognition, it needs 2 tensors input (one is the input image tensor, and the other is a binary FLAG to determine whether to perform training/testing)
However, when implemented in C++, these 2 tensor input caused me a lot of troubles!
So I 'm wondering if there are any methods that can help me modify the input(I only need the image input tensor, and the FLAG can

[2016-06-07 10:23] lizzyAtkinson1989 commented on #2640
Thank you, this solved my issue.

[2016-06-07 10:35] mrjel commented on #2619
As a workaround, the values can be fixed by swapping the bytes via integer-operations
[code]
This is obviously a dirty hack and would break correct values on systems where the decode function works correctly

[2016-06-07 13:24] #2640 closed

[2016-06-07 13:30] dsmilkov commented on #2144
Hi,

Thanks for filing and apologies for the delay in response. This was fixed with f12b843d78b0119b3f8d0ffc99a9e417d9232e7c. You should be able to see correct edge shapes (not only the first output shape) in the 0.9 release, or if you don't want to wait, we just published its release candidate https://github.com/tensorflow/tensorflow/releases/tag/v0.9.0rc0

[2016-06-07 13:30] #2144 closed

[2016-06-07 14:00] suiyuan2009 commented on #594
ApplyNesterovMomentumOp's computation of grad is differ from other optimization op, we should overide some functions in optimizer.py

[2016-06-07 14:29] girving commented on #1791
Thanks @damienmg!  I'll close the issue on this end.

[2016-06-07 14:29] #1791 closed

[2016-06-07 14:33] girving commented on #2239
Cc @jendap who said he was planning to synchronize the two places.

[2016-06-07 14:42] HanyuGuo opened #2706 "While loop gradient descent error"
### Environment info
Operating System: Centos 7

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
CPU version

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from python -c "import tensorflow; print(tensorflow.__version__)".

0.8.0

### Steps to reproduce
Example 1 for Tensorflow 0.8
[code]
Exam

[2016-06-07 14:43] girving commented on #1618
@fayeshine: Note that `confusion_matrix` was implemented on top of existing TensorFlow ops.  Does that mechanism suffices for your use cases?  If not, can you propose a specific semantics of what you want?

[2016-06-07 14:47] girving commented on #2210
Adding @zheng-xq.  As noted in https://github.com/tensorflow/tensorflow/issues/916, sharing a GPU between TensorFlow and other code is not generally supported.  However, you mentioned that you modified your other code to use stream executor, which seems like it has a chance.  Are you saying you got the same error after switching to stream executor, or did the error change?

[2016-06-07 14:57] girving commented on #1203
@flow-ryan: Thank you for the instructions, but unfortunately this sounds like a bug below the level of TensorFlow, either in Linux or the GPU driver.  Since it's already fixed in more recent Ubuntu, I'm going to close.  We'll happily accept a PR if you find a reasonable workaround for the problem, though.

[2016-06-07 14:57] #1203 closed

[2016-06-07 15:00] chanhkim commented on #2618
Hi, I have almost same problem, although some environments are different. Is threre any way to fix it ?

My environments are as follows...

- OS : Centos 6.7
- gcc : 4.8.2 (devtollset-2-gcc package)
- bazel : 0.2.3
- CUDA : 7.5.18
- cuDNN : 5
- TensorFlow : r0.9

CPU version compiling succeeded after some modification, but GPU version compiling fails with same error messages above. (Actual error m

[2016-06-07 15:00] girving commented on #2201
Closing since the issue seems to be resolved by using a more recent cuDNN.  Please comment if that's inaccurate and I'll reopen.

[2016-06-07 15:00] #2201 closed

[2016-06-07 15:04] yuanbyu commented on #2706
Thanks for reporting this.  Would it be possible to create a simpler example to reproduce the problem?

[2016-06-07 15:13] girving commented on #2190
@zheng-xq: Any thoughts as to how to better diagnose?

@agupta83: What platform are you on?  I'd like to know if it's Ubuntu version specific, since @waTeim says it goes away at a later version.

[2016-06-07 15:15] girving commented on #2180
@concretevitamin: Are you planning to work on this?  If not, we should mark it as contributions welcome.

@mrry: `tf.reverse` is a better way to reverse a Tensor that extracting each component and manually reassembling them in the opposite order.

[2016-06-07 15:18] girving commented on #2186
@danmane says he's still working on the fix.

[2016-06-07 15:20] martinwicke commented on #2197
@keveman, do you know what could be going on?

[2016-06-07 15:23] agupta83 commented on #2190
I have Ubuntu 14.04 LTS (3.16.0-71-generic kernel) on my system.

[2016-06-07 15:39] petewarden commented on #2680
Thanks for trying that. Do you see any op names listed in the output?

[2016-06-07 15:40] mwalton commented on #1793
@girving  Sure! Should I go ahead and put in the PR; or implement the tests first?

[2016-06-07 15:43] girving commented on #1793
@mwalton: The tests should go in the same PR.

[2016-06-07 15:44] danmane commented on #1577
I'm planning to replace the histograms with entirely separate code soon(tm), so considering this obsolete/won't fix.

[2016-06-07 15:44] #1577 closed

[2016-06-07 15:44] andrewharp commented on #2570
@Shaikjalal Are you sure it's getting stripped out? You should be passing bypassing the DecodeJpeg node completely on Android.

@kuza55 Agreed that the code seems to imply we support jpeg on Android, which is inconsistent with the fact that we don't. I'll take a look at providing a better error message in the invalid configurations.

[2016-06-07 15:53] girving commented on #2444
The threading issue is suspicious.  @rmlarsen, @benoitsteiner: Any thoughts as to why turning off threading would make Eigen 10x faster?

[2016-06-07 15:58] girving commented on #2441
If you `tf.add_n` the losses together, you fuse the two different backward passes into a single backward pass which can no longer be parallelized across multiple GPUs (TensorFlow currently does not split single ops across multiple GPUs).  Thus, one of the GPUs is likely running idle during the backward pass.

[2016-06-07 15:59] HanyuGuo commented on #2706
Thanks for such quick reply. Just shrink our example, but couldn't do much and I add #!!! at the end some lines that might be important.

[2016-06-07 16:02] girving commented on #2431
This is mostly questions and requests for help rather than an issue, so I'm going to close to keep the issue tracker focused.

[2016-06-07 16:04] girving commented on #2420
Thanks @alrojo for the upcoming fix!

[2016-06-07 16:04] danmane commented on #2439
Thanks for the report. Because there's an easy workaround, and it seems to come up pretty rarely, I'm not going to prioritize this right now.

[2016-06-07 16:09] keveman commented on #2197
Hard to say, but I am guessing the binary protobuf package needs updating.

[2016-06-07 16:10] orome commented on #2431
@girving: More of a feature request. What's the home for those?

[2016-06-07 16:11] girving commented on #2407
This kind of question should be asked on StackOverflow, since it is a question about how to use TensorFlow rather than a bug in TensorFlow itself.

[2016-06-07 16:11] #2407 closed

[2016-06-07 16:13] girving commented on #2387
This type of question is better asked on StackOverflow, since it isn't about an improvement or bug fix to TensorFlow itself.

[2016-06-07 16:13] #2387 closed

[2016-06-07 16:14] girving commented on #2431
@orome: Unfortunately I think the feature request to have TensorFlow automatically shard ops is too broad to leave as a Github issue.

[2016-06-07 16:16] girving commented on #2190
Since the bug is fixed by upgrading Ubuntu and thus is likely to be a bug outside TensorFlow, I'm going to close this issue.  If upgrading is not an option and more information is available we can reopen, and of course we're happy to accept PRs fixing TensorFlow for older systems.

[2016-06-07 16:16] #2190 closed

[2016-06-07 16:19] girving commented on #2384
@mrry: Any suggestions for further debugging?  I don't think we have enough information to diagnose just yet.  If it's an actual memory leak valgrind could help, but that would be difficult to set up.

@mmuneebs: The summaries should be written to disk soon after they are generated, so I don't think that's the issue.  The allocator warnings are likely a symptom, not a cause.

[2016-06-07 16:19] orome commented on #2431
@girving: Not saying it should be here; but wondering where the home for general discussion of features requests is (where they can evolve to more specific issues).

[2016-06-07 16:20] fcole90 commented on #2197
Is there any workaround available until this gets fixed? :smiley:

[2016-06-07 16:21] girving commented on #2382
@mrry: How does one set a variable without creating a `tf.constant`?

[2016-06-07 16:23] TianweiXing commented on #2680
@petewarden No....the output are the same...
Is it possible that I didn't called the right function? Is KernelDefBuilder constructor called automotively during the inference process?

[code]

[2016-06-07 16:26] mrry commented on #2382
@girving: You can initialize it from a `tf.placeholder()` and feed a value when you run the variable's initializer op. There's no sugar for it, but something like the following should work:

[code]

[2016-06-07 16:28] girving commented on #2416
The original `MemoryError` is probably caused by trying to allocate more memory than the machine has available.  In order to debug the segfaults, we'd have to get more information, such as stack traces or information from an attached debugger.

[2016-06-07 16:30] girving commented on #2382
@mrry: Alas, that's a bit horrendous, but it would certainly work.  If you have a good idea for sugar we should file a more specific bug, but I'm going to close this one for now.

[2016-06-07 16:30] #2382 closed

[2016-06-07 16:32] girving commented on #2381
@wb14123: A Python loop doesn't support automatic gradient computation, which is the typical reason to use the fancier control flow ops.  I'm going to close this for now, since questions about how to use TensorFlow are better suited to StackOverflow (use the `tensorflow` tag).

[2016-06-07 16:32] #2381 closed

[2016-06-07 16:32] girving commented on #2377
@zheng-xq: Should I leave this assigned to you, or is it already done?

[2016-06-07 16:37] girving commented on #2373
I think the sample code doesn't consider the issue because it doesn't affect neural network performance.  If you're seeing significant differences between zero padding an new-token padding, I would use a mask as @LittleYUYU suggests.  `embedding_lookup` doesn't handle this by itself since we try to keep the semantics of each op simple and focused.

[2016-06-07 16:37] #2373 closed

[2016-06-07 16:40] girving commented on #2364
@333caowei: Where is your `zlib.h`?

[2016-06-07 16:41] mrry commented on #2648
Thanks for persisting with this. I've been trying to reproduce this, but haven't managed to get the exact same failure.

One potential issue is that protobuf doesn't handle messages larger than 2GB. We haven't optimized this because we haven't seen any realistic models where it is necessary to transfer this much in a single step, but it obviously shouldn't crash like this. If I set up two servers,

[2016-06-07 16:41] girving commented on #2363
@ilblackdragon: Is this a duplicate of #2167?  If so please close as such.

[2016-06-07 16:42] girving commented on #2167
@ilblackdragon: If this is fixed at master, can you close it?

[2016-06-07 16:42] orome opened #2708 "TensorBoard shows no histograms or events"
Running TensorBoard r0.9 results in graph visualizations as expected but all events and histograms that successfully displayed in r0.8 [are not](http://stackoverflow.com/q/37684739/656912).

Has r0.9 introduced a change to the command line that should be used to launch TensorBoard, or to the code needed to generate events and histograms for TensorBoard to display?

Note that neither new summaries

[2016-06-07 16:43] girving commented on #2361
This kind of question is better suited to StackOverflow or an email to discuss@tensorflow.org.  It is not an issue with the TensorFlow code.

[2016-06-07 16:43] #2361 closed

[2016-06-07 16:50] girving commented on #2354
Use `tf.shuffle_batch`.

[2016-06-07 16:51] caisq commented on #2708
PTAL, @danmane

[2016-06-07 16:52] girving commented on #2335
@yaroslavvb: What was the problem with the new setuptools?  Is it something we could work around, and is it possible to upgrade rather than downgrade to fix the problem?

[2016-06-07 16:54] RafaelCosman opened #2709 "Unable to infer shape of placeholder"
[code]
[code]

One shouldn't have to feed a value for the placeholder because the shape is already determined.

[2016-06-07 16:54] girving commented on #2334
The new pull request is https://github.com/tensorflow/tensorflow/pull/2595.  I've pinged @yuanbyu for comment.

[2016-06-07 16:56] orome commented on #2708
Here's the "events" page source:

[code]

[2016-06-07 16:58] orome commented on #2708
I also get an

in the final line of

    data:text/javascript;charset=utf-8,%0A…%0A:81

below:

[code]

[2016-06-07 17:00] girving commented on #2331
Can you be more specific about the feature you're looking for?  Do you want an op that checks whether a file exists?

[2016-06-07 17:02] girving commented on #2330
I'll close for now since this isn't enough information to reproduce without some example code or perhaps the details of the error.  Please comment and we can reopen if there is more information available.

[2016-06-07 17:02] #2330 closed

[2016-06-07 17:08] girving commented on #2598
We don't support taking gradients of nonscalars, so I wouldn't expect this to work.  However, this particular error message is pretty confusing.  @yuanbyu: Is there a way we could improve this error message if someone tries for a Hessian in the naive way and control flow is involved?

[2016-06-07 17:16] girving commented on #2594
@markpwoodward: If you do soft placement, it will put anything it can on the GPU and use the CPU for the rest, which is exactly what you want here (since assert is CPU only).

[2016-06-07 17:20] girving commented on #2560
@ebrevdo: Feel free to reassign or mark this contributions welcome if that's best.

[2016-06-07 17:23] girving commented on #2554
Closing for now, but please comment if more information is available and I'm happy to reopen.

[2016-06-07 17:23] #2554 closed

[2016-06-07 17:24] girving commented on #2553
Closing as infeasible as @jendap discussed.  @Mistobaan: Please let us know if there are particular things we should fire off automatically.

[2016-06-07 17:24] #2553 closed

[2016-06-07 17:25] ebrevdo commented on #2594
`dynamic_rnn` runs some dynamic assertions on the input, making sure things are within bounds, etc.  the error you're seeing is the static assertion message (a string) trying to get allocated on the GPU.  Since we don't mix strings with GPUs, we lack a const string op mapped to the GPU.  That's the error you're seeing.  I think it's fine for error checking and error strings to sit on the CPU, but

[2016-06-07 17:27] girving commented on #2586
@yuanbyu has a CL fixing in this in the works.

[2016-06-07 17:27] girving commented on #2546
@yaroslavvb: Does @rayglover-ibm's tweak fix your problem?

[2016-06-07 17:31] girving commented on #2594
@ebrevdo: We should avoid adding more lies about which things are on the CPU vs. GPU (too many of these related to int32 already).  In any case, the actual problem here is that `tf.assert` itself is CPU only.  Maybe the ideal fix is to add a GPU version of `tf.assert`, specifying HostMemory for the string argument?

[2016-06-07 17:34] girving commented on #2364
Closing as duplicate of #2536, which was filed later but seems to have a more useful thread.

[2016-06-07 17:34] #2364 closed

[2016-06-07 17:35] girving commented on #2535
Closing, since @lukaszkaiser seems to have explained the problem.  We don't support mixing models defined in the tensorflow repo with a different version of tensorflow.

[2016-06-07 17:35] #2535 closed

[2016-06-07 17:40] girving commented on #2516
The real gradient of a complex analytic version is the conjugate of the complex derivative.  Derivation left as an exercise for the reader. :)

[2016-06-07 17:40] #2516 closed

[2016-06-07 17:42] girving commented on #2510
@danmane: Unless you're planning to work on this soon, let's mark as contributions welcome.

[2016-06-07 17:46] KendallWeihe commented on #2685
I'm having the same issue. I'm confused, where should `tf.nn.rnn_cell` be placed?

[2016-06-07 17:46] keveman commented on #2197
@fcole90 Do you mind trying this wheel package for protobuf?
https://storage.googleapis.com/tensorflow/linux/cpu/protobuf-3.0.0b3-cp34-cp34m-linux_x86_64.whl

(Here is the one for Python 2 : https://storage.googleapis.com/tensorflow/linux/cpu/protobuf-3.0.0b3-cp27-none-linux_x86_64.whl)

[2016-06-07 17:47] girving commented on #2502
The fact that word2vec is bound to CPU is historical: `tf.gather` works fine on GPU now.  I believe `LogUniformCandidateSampler` is still CPU-only, though.

Unfortunately making the docs not depend on kernel registrations helps significantly, and we'd lose those advantages if we presented this information in the docs.  However, a runtime feature for checking which ops have which kernels would be g

[2016-06-07 17:52] chrhansen commented on #50
I'll also be willing to work on a Ruby-wrapper for Tensorflow!

[2016-06-07 17:52] girving commented on #2709
@mrry has an optimization that decouples this dependency, but maybe it has to be turned on manually?

[2016-06-07 17:55] cgel commented on #2441
That is not convincing. Of course the gradient of ```tf.add_n()``` runs as a single op, but the backpropagation should continue independently throughout the nodes in each separate GPU.
This is evidenced by the fact that all GPUs run at the same level -- 30% or so.

[2016-06-07 17:55] girving commented on #2703
Did you run configure?

[2016-06-07 17:56] girving commented on #2702
Duplicate of #2573.

[2016-06-07 17:56] #2702 closed

[2016-06-07 17:58] girving commented on #2682
PRs welcome!

[2016-06-07 17:58] yaroslavvb commented on #2335
I searched for "is not in list" and "setuptools" and found other people having this problem in other packages. Here's on description: https://lab.nexedi.cn/nexedi/wendelin.core/commit/2ce96a76421f942e8416ceeebf5088352b5fa1c7

Do you guys have a Mac CB setup yet?

[2016-06-07 17:59] alexatknit commented on #2648
The weird thing is that the model is only about 10M on disk

[2016-06-07 17:59] girving commented on #2441
@cgel: Apologies, for the brief hallucination: what I said above is of course wrong.

[2016-06-07 18:00] girving commented on #2441
@vrv: Do you have any guesses as to the problem?

[2016-06-07 18:03] girving commented on #2335
@yaroslavvb: What does "Mac CB" mean?

[2016-06-07 18:04] yaroslavvb commented on #2335
Mac continuous build/test

On Tue, Jun 7, 2016 at 11:03 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-07 18:05] girving commented on #2431
discuss@tensorflow.org is one option, but on second thought leaving this as an issue is fine.

[2016-06-07 18:08] girving commented on #2671
This is expected behavior.  TensorFlow ensures that names are unique within the same graph, so if you generate the same ops twice without changing graphs you'll get different names.

[2016-06-07 18:08] #2671 closed

[2016-06-07 18:09] orome commented on #2431
@girving: It's certainly within the scope of what's spelled out in the issue submission template.

[2016-06-07 18:11] vrv commented on #2441
No guesses, it would be useful to use the timeline.py and chrome trace viewer to see where there may be gaps in execution.

[2016-06-07 18:12] girving commented on #2335
@yaroslavvb: Yes we do, but it doesn't cover all versions of setuptools.   @martinwicke: Yaroslav's linked fix seems like something we could do.

[2016-06-07 18:14] markpwoodward commented on #2594
Thank you. This makes sense. I do understand the distinction between hard placement and soft placement.

Seeing that something in dynamic_rnn did not have a GPU implementation (requiring soft placement) made me hope that, if only there were a GPU implementation for that operation, then I would get a huge speedup. :) Of course, those operations might not have any impact on performance.

I should pr

[2016-06-07 18:15] alexatknit commented on #2648
Also, like I said before, it doesn't happen for all of my models, but it is deterministic. If the weights are loaded on the parameter server, why would the segfault happen on the chief worker? Wouldn't the worker receive the loaded parameters be send to the worker in the same way that it updates its parameters during async sgd?

[2016-06-07 18:17] girving commented on #2594
@markpwoodward: No worries, thank you for the report!  We might close, but we might also rename it to "add tf.assert for gpu" in order to fix the other underlying issue.

[2016-06-07 18:18] girving commented on #2669
@petewarden: Can you take a look at this?

[2016-06-07 18:20] girving commented on #2668
This seems like a bazel issue, unfortunately.  @damienmg: Do you have any ideas?

[2016-06-07 18:21] girving commented on #2662
Can we see the full error message?

[2016-06-07 18:21] jinghuangzhu commented on #2354
However, tf.train.shuffle_batch does not offer padding zero to variable-length sequences, which is needed to deal with these kind of data for RNN training.

[2016-06-07 18:24] girving commented on #2660
@vrv: Can you take a look?  At best, the error message isn't very explanatory.

[2016-06-07 18:27] mrry commented on #2709
Why not just use the static shape, `myPlaceholder.get_shape()`?

There is a prototype optimization (@cwhipkey is working on it now) that uses inferred shapes in constant folding, but I'm not sure that it will make your use case work. I'm inclined to say that you must _always_ feed a placeholder if you want to fetch a tensor whose value is a function of that placeholder, because making the semantic

[2016-06-07 18:30] zheng-xq commented on #2210
@sjperkins is correct. If you want to share the same GPU between TensorFlow and other Cuda library, you have to be very careful. No Cuda Runtime API is safe. Either you call stream-executor, or call Cuda Driver API, and manage the context yourself. Every time when you are done with your Cuda work, restore the context back to the previous state, because that is what stream-executor implicitly expec

[2016-06-07 18:32] #2487 closed

[2016-06-07 18:45] v0dro commented on #50
Get in touch with @Arafatk

[2016-06-07 18:57] benoitsteiner commented on #1300
I have added support for pooling on fp16 in https://github.com/tensorflow/tensorflow/commit/b7c416926e4d31f7d7a924bfdc97580bf7d44c04. I have also added a --use_fp16 option the convolutional mnist model at tensorflow/models/image/mnist/convolutional.py to make it train using fp16 instead of fp32.

[2016-06-07 19:10] thematrixduo opened #2712 "Tensorflow with Pyinstaller"
It seems that Tensorflow does not work with Pyinstaller. I was trying to build a Tensorflow script into a executable file using Pyinstaller on Ubuntu. However the following error is reported:

tensorflow.python.framework.errors.NotFoundError: tensorflow/contrib/layers/python/ops/_bucketization_op.so: cannot open shared object file: No such file or directory

### Environment info
Operating System:

[2016-06-07 19:11] karlTUM opened #2713 "how to assign values in Tensor according to the indices?"
I want to assign values in a tensor according to the indices.

For example, According to the pooling values and the corresponding indices output of `tf.nn.max_pool_with_argmax`, I want to put these pooling values back into the original unpooling Tensor given the indices.

According to the trick in [Adjust Single Value within Tensor — TensorFlow](http://stackoverflow.com/questions/34685947/adjust-s

[2016-06-07 19:15] zhengwy888 opened #2714 "Support for histogram_summary in either rnn() or dynamic_rnn()"
Hello,
I am trying to add tf.historgram_summary() in my LSTM cells in order to visualize  the output. But currently
neither rnn() or dynamic_rnn() supports writing out summaries.
For rnn(), The log indicates the summary tensor are invalid, which seems to due to the dynamic unrolling of the rnn loop.

[code]

I am currently constructing rnn() like this

[code]

For dynamic_rnn(), it just hangs when

[2016-06-07 19:24] yuanbyu commented on #2598
Yes, the error message should be better. Let me see what I can do.

[2016-06-07 19:55] vrv commented on #2660
I talked to @zheng-xq: NCHW is supported only for GPU (because we call cudnn), we do not have an implementation for CPU.

I'm not sure how to correct the documentation though -- the data_format strings indicate the potentially supported formats, not the actually supported ones :(.

To reiterate:

MaxPool on GPU supports NCHW and NHWC
MaxPool on CPU only supports NHWC.

If you have a concrete sugge

[2016-06-07 20:06] girving commented on #2654
@domluna: Assuming the meta file is a MetaGraphDef, can you check whether it's the `GraphDef` part that's growing?  One possibility is that you are adding new ops to the graph each step, causing the graph to grow linearly.

[2016-06-07 20:10] girving commented on #2652
Unfortunately, the reduction ops on GPU using asynchronous atomic adds, and are therefore fundamentally nondeterministic for floating point.  Making them deterministic would require either tree-structured reductions or integer math, both significantly slower.

I can leave this open with contributions welcome if you'd like (with an adjusted title), but it'll be a lot of work if someone tries to tak

[2016-06-07 20:12] girving commented on #2646
@aselle: To pull an offline comment into the thread, is there a way we could detect the size mismatch (possibly at runtime) and bail with an explanatory error?

[2016-06-07 20:16] girving commented on #2660
@vrv: Maybe just add "(on device %s)" to the error message so that we know which device it isn't supported on?

[2016-06-07 20:17] memo opened #2715 "error looking for libcudart.so.7.0 instead of 7.5 when building from sources (r0.9) even though configured to use cuda 7.5"
### Summary
I've configured everything to use cuda 7.5 / cudnn 5.0.5. After building from source cc example is working fine with libcudart.so.7.5. However when I import tensorflow in python the import fails saying it's unable to load libcudart.so.7.0 - which doesn't and shouldn't exist on my system. I'm not sure why it's looking for that.

### Environment info
Operating System: Linux 3.19.0-59-gen

[2016-06-07 20:24] zplizzi commented on #2660
Yep I think that would help a lot - the error message seemed to imply that NCHW wasn't supported at all, vs only not being supported on CPU.

[2016-06-07 20:24] petewarden commented on #2531
I don't have an update on this yet. From the node names, it sounds like there's something that's expecting to update a variable, and it's getting a constant?

[2016-06-07 20:25] girving commented on #2709
@RafaelCosman: I think the conclusion is that we don't want to support the independence you want to rely on, but we also don't want to guarantee that the exception will be thrown.  Thus, what you want to do might happen to start working at some point in the future.

[2016-06-07 20:25] #2709 closed

[2016-06-07 20:26] petewarden commented on #2513
@wolffg has a solution for this upcoming I believe.

[2016-06-07 20:26] girving commented on #2354
@ebrevdo: Is there a way to get both bits of functionality in the same routine currently?  If not, what would be the best way to support it?

[2016-06-07 20:31] girving commented on #2641
Adding contributions welcome, but note that it'll have to wait until after #2711.

[2016-06-07 20:32] girving commented on #2636
@zjhzxhz: Can you check if doing `import numpy` before `import tensorflow` fixes the problem, as per #2034.  Alternatively, you could try upgrading to 0.9, which shouldn't have this problem.

[2016-06-07 20:45] memo commented on #2715
I just found and fixed the problem, and I'll post it here for other people. Problem is difference between 'sudo pip install' vs 'pip install' and in my case, the fact that I'm using anaconda.

'sudo pip install' installs in system path (/usr/lib/python2.7/dist-packages or similar)
'pip install' installs in a user path (~/anaconda2/lib/python2.7/site-packages or similar. will be different if not us

[2016-06-07 20:45] #2715 closed

[2016-06-07 20:49] girving commented on #2715
@vrv: Any ideas?

[2016-06-07 20:51] girving commented on #2714
@ebrevdo: Do summaries work inside control flow?

[2016-06-07 20:52] girving commented on #2712
@martinwicke: Do we support Pyinstaller?  I've never heard of it.

@thematrixduo: Where did you get `tensorflow_script.py`?

[2016-06-07 20:55] TianweiXing commented on #2531
@petewarden
Yes, I save the graphdef using freez_graph. However, when making inference using the graphdef, it requires float_ref. The freez_graph seems just store the variables to variables, not really "freeze" the graph and change the variable values to constant...

So, I just use tf.train.write_graph to save a graphdef file.
[code]
Is this a good way to store graph for using in c++?

Thanks

[2016-06-07 20:58] girving commented on #2494
@sherrym's out, so reassigning to @josh11b for now.

[2016-06-07 21:03] prb12 commented on #2037
So far, I have been unable to reproduce the NaN behavior building source from the current head, or using the binary distros.

[2016-06-07 21:12] djan92 commented on #22
Could someone provide estimates for when Tensorflow might be able to run with OpenCL (AMD GPUs)? And what the curve of performance/usability looks like over time? It's difficult to parse all the past information into actionable hardware buying information. :)

Thanks in advance!

[2016-06-07 21:19] naibaf7 commented on #22
@djan92
I'd say give it a year until it's usable, unfortunately. It looks like it's going to be built on quite cutting-edge libraries and technologies, most of them not quite ready yet.

[2016-06-07 21:22] petewarden commented on #2669
Unfortunately this is expected behavior. All of the images are being transformed, the percentage values are for the amount of cropping, etc, not how many images are being affected. This means the original images can't be cached at the bottleneck stage as they are without transformations applied, so running each training step is a lot more expensive. I recommend switching to GPUs once you have heav

[2016-06-07 21:22] #2669 closed

[2016-06-07 21:28] StephenOman opened #2716 "Add a lite version of libtensorflow-core to Makefile"
The tensorflow iOS libraries created by the makefile have a very large footprint ( > 90 MB ).

To help reduce the size of apps, there should also be a lite version of the libraries, possibly based on the Bazel android_tensorflow_lib_lite target.

Note that Apple prevents apps larger than 100 MB from being downloaded over the air.

[2016-06-07 21:28] robertwgh commented on #22
Why not implement a CL version first while waiting for the SYCL port to be
ready? I assume there are quite a few folks here willing to help out. One
year just sounds too long.
On Jun 7, 2016 2:21 PM, "Fabian Tschopp" <notifications@github.com> wrote:

[2016-06-07 21:34] martinwicke commented on #2712
I don't know what pyinstaller is, and consequently I'm certain that we don't support it.

[2016-06-07 21:34] #2712 closed

[2016-06-07 21:36] martinwicke commented on #2712
(It is likely that whatever dependency resolution pyinstaller uses to determine which extensions to include in its package does not pick up the correct files. That would be an issue with pyinstaller. You can look at the build_pip_package target to find out what needs to be included for all of TensorFlow.)

[2016-06-07 22:51] martinwicke commented on #2335
So basically people hack around a problem in setuptools? This cannot be intended behavior?

[2016-06-07 22:53] mrry commented on #2654
FYI, if you aren't intending to use the `MetaGraphDef`, you can call `saver.save(..., write_meta_graph=False)` to avoid writing it with each checkpoint.

[2016-06-07 22:54] ebrevdo commented on #2714
I need to see the code where you add the summaries.

[2016-06-07 22:55] ebrevdo commented on #2594
Thanks!

[2016-06-07 22:56] ebrevdo commented on #2594
@girving can you assign to appropriate folks?

[2016-06-07 22:57] ebrevdo commented on #2560
This is being worked on internally.  I'll see if we have an external github account for the contributor.

[2016-06-07 22:58] zhengwy888 commented on #2714
in the __call__ function of LSTMCell

[code]

[2016-06-07 23:34] dementrock commented on #2598
@girving Here theta is just a scalar value though. What would be the work around here?

[2016-06-07 23:52] jramapuram commented on #1136
Fractional striding on 1d convolutions would be helpful to downsample 1d signals. Currently there is no way to do this with 2d convolutions as mentioned by @alphaf52 .

[2016-06-08 00:07] #2573 closed

[2016-06-08 00:07] #2660 closed

[2016-06-08 00:10] girving commented on #2598
@dementrock: That's true in this case, but we don't want to do extra work on the control flow ops if all it provides is higher order derivatives w.r.t. scalars.  What is your intended use case?

[2016-06-08 00:33] yuanbyu commented on #2706
There are at least two loops involved.  Would it be possible to reduce it to contain only one?

[2016-06-08 00:40] girving commented on #2594
I'll leave it as contributions welcome for now.  Happy to accept PRs if someone wants to make a GPU version of `tf.assert`!

[2016-06-08 00:48] girving commented on #2286
I'm going to merge this thread into the extremely related #1029.  We'd be happy to accept PRs for either one.

[2016-06-08 00:48] #2286 closed

[2016-06-08 00:49] girving commented on #1029
As noted in #2286, `resize_image_with_crop_or_pad` has the same problem.  It should be fixed in the same way.

[2016-06-08 00:50] girving commented on #2291
@martinwicke: Do you know of a reason we can't add `-lm` in all cases?  Would it bloat the binary?

[2016-06-08 00:53] girving commented on #2296
@oweingrod: What's the status of this?  It seems to have fallen through the cracks.  Cc @petewarden.

[2016-06-08 00:53] girving commented on #2301
TensorFlow is an Apache licensed open source project, so there is no need for a specific permission grant (nor do we provide such).

[2016-06-08 00:53] #2301 closed

[2016-06-08 00:54] lukaszkaiser commented on #2223
Yes!

[2016-06-08 00:55] girving commented on #2310
@mrry: Feel free to close if you still think fixing it is infeasible.

[2016-06-08 01:01] HanyuGuo commented on #2706
Sorry, I don't quite understand. I'm using only while loop. Regarding to two loops, do you mean by
[code]
and

[code]
?

[2016-06-08 01:03] girving commented on #2314
Apologies, this seems to have fallen through the cracks (@mrry).  We'd be very interested in GPU versions of these ops, but it's unfortunate if we have to sacrifice CPU performance to get them.

@vrv: Can you think of a clean way to use a fused C++ op on CPU but a combination of separate ops on GPU?  I'd be tempted to just accept the fix, but people will probably yell at me if I let a performance

[2016-06-08 01:04] girving commented on #2318
We'd be happy to accept a PR for `__array__` support.

[2016-06-08 01:07] girving commented on #2327
As stated in the documentation, we require a valid probability distribution.  Unfortunately, for speed reasons, we don't check this precondition.  Therefore, this is expected behavior.  Implementing your own loss in terms of other ops is the right fix.

[2016-06-08 01:07] #2327 closed

[2016-06-08 01:08] yuanbyu commented on #2706
rnn.dynamic_rnn() is implemented using a while_loop, and you also have an explicit while_loop in your code. It would be simpler to debug if the problem could be reproduced with only one of them.

[2016-06-08 01:14] vrv commented on #2314
IIRC, the reason for implementing all of these as C++ ops is due to race conditions between read/compute/update.  If you implement these as separate ops, the time between computing the various compositions of the update rule is much higher than if it is implemented in a single op.  We found this caused problems for multi-replica models due to racy updates, which is why I think most of these ops ar

[2016-06-08 01:48] hunkim opened #2719 "RNN related API documents"
Do you have any plan to release the RNN related API documents? I still cannot find them in TensorFlow R0.9 API doc: https://www.tensorflow.org/versions/r0.9/api_docs/python/index.html.

This was also asked in StackOverflow: http://stackoverflow.com/questions/37159372/.

[2016-06-08 02:11] #2598 closed

[2016-06-08 02:16] stephenroller commented on #2314
Yeah I didn't think about race conditions on multiple machines; that would be a problem. I also spent a few days trying to implement the operator in C++, but my C++ is relatively weak, I don't know CUDA at all. So that wasn't fruitful.

A week later I was talking to a colleague about this and I noticed that my patch probably also computes updates incorrectly if the same embedding is updated multip

[2016-06-08 02:19] HanyuGuo commented on #2706
Thank you. Replaced rnn.dynamic_rnn() with rnn.rnn() in example and same issue still.

[2016-06-08 04:10] Arafatk commented on #50
@chrhansen That's nice. Please email me at arafat.da.khan@gmail.com and then we could discuss further.

[2016-06-08 05:01] domluna commented on #2654
Assuming I've done this right, using https://gist.github.com/domluna/f06921196b539a397a6a24ae7f571276 to check the ByteSize. I get the following step/size outputs:

20000, 30376060
30000, 35425130
40000, 40474200
50000, 45523270
60000, 50572340

So `GraphDef` is growing, just not sure why ...

[2016-06-08 05:26] MarvinTeichmann commented on #2327
@girving no, the documentation reads: `labels: Each row labels[i] must be a valid probability distribution or all zeros.` My data does forfill this condition. (i.e. in cases where a valid probability distribution is not given, all are zero). However, changing the documentation to `labels: Each row labels[i] must be a valid probability distribution.` might be a solution.

[2016-06-08 05:47] ebrevdo commented on #1797
Have you tried saving the scope object and reopening it later?

with tf.variable_scope(...) as vs:
  ...

Later:

with tf.variable_scope(vs):
  ...

[2016-06-08 05:50] ebrevdo commented on #1813
No concrete plans to merge code, but backward compatible commits are welcome.

[2016-06-08 05:52] martinwicke commented on #2291
@petewarden would be most sensitive to bloat. I'm always in favor of -lm.

On Tue, Jun 7, 2016 at 5:51 PM Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-08 05:53] metap commented on #2652
I can understand if that's the case. Thanks for the response.

[2016-06-08 05:53] #2652 closed

[2016-06-08 05:57] ebrevdo commented on #1779
Sure, I'll review the PR.

[2016-06-08 05:58] ebrevdo commented on #1286
We need an ETA on the move of contrib.layers to core.

[2016-06-08 06:00] ebrevdo commented on #1306
alquraishi: can you provide a list of things still broken at head of master branch?

[2016-06-08 06:03] ebrevdo commented on #1319
Sounds like a bad download. We can auto retry the download, or catch the error and ask the user to delete the gzipped files before rerunning. Not sure who wrote the original mnist fetching code.

[2016-06-08 06:04] u4lr451 opened #2721 "tensorflow performance of model evaluation using C++ is very lower than using python. The model was trained by python ,and freezed to loaded by c++."
tensorflow evaluation using c++  has very lower performance, 100 times lower than using python.
1.The  model was trained using python,  freezed(using freeze_graph.py tool),  and then loaded by c++.
2.The evaluation speed :  1K+/s using python ,VS 10/s using C++.

[2016-06-08 06:08] ebrevdo commented on #1965
Seems like the issue is fixed by updating six correctly. Closing.

[2016-06-08 06:08] #1965 closed

[2016-06-08 06:11] ebrevdo commented on #1037
Do you need the final state?  The forward or backward?  How would you combine them?

[2016-06-08 06:12] ebrevdo commented on #1037
And yes, tf.nn.dynamic_rnn.

[2016-06-08 06:13] ebrevdo commented on #511
Yes, using either functions.Defun or dynamic_rnn.

[2016-06-08 06:13] #511 closed

[2016-06-08 06:29] capers commented on #1817
FWIW I'm getting the same error, and doesn't seem to be intermittent. I can repeatedly clone https://github.com/google/boringssl.git but always get the error:
[code]
when running
`bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package`

[2016-06-08 06:33] JianKangtum commented on #2713
Has anyone came across the same problem?

[2016-06-08 06:35] JianKangtum commented on #2713
@vrv @mrry @girving
Thank you very much.

[2016-06-08 07:11] tobegit3hub commented on #2665
Thank @mrry for helping. But actually I have used `worker_hosts = FLAGS.worker_hosts.split(",")`, just like what the official document said.

Here's the complete code.

[code]

[2016-06-08 07:46] jplu commented on #2703
Hello,

Yes I did run, configure as it is written in the "Steps to reproduce" section of my previous post :-)

[2016-06-08 08:30] damienmg commented on #2668
Copy-paste of my answer on bazel-discuss to another similar issue:
"This means that something has killed Bazel during its run. I saw this behavior on some system where the memory of the OS was reaching the limit and the OOM killer was always choosing Bazel because it was the most memory consuming process."

[2016-06-08 08:42] forfish commented on #1932
3Q for your attention，I updated to 0.8 and it work. Can you tell me how can I make a app with the example in tensorflow?

[2016-06-08 08:43] forfish commented on #1932
3Q for your attention，I updated to 0.8 and it work.

[2016-06-08 08:47] forfish commented on #1932
@keveman 3Q for your attention，I updated to 0.8 and it work.

[2016-06-08 09:07] hellf opened #2726 "Modifying MNIST example to distributed version: could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR"
Operating System: 2 servers(each have 4 GPUs, Titan-x), ubuntu14.04
CUDA 7.5, cuDNN 4.0.7
Tensorflow has been installed with source file with bazel.

MNIST example works well on each single server.
~/tensorflow/tensorflow/models/image/mnist$ python convolutional.py

To make MNIST example as distributed version, I modified convolutional.py as follows.
I refer "Putting it all together: example train

[2016-06-08 09:23] ischlag commented on #2726
Yes, you need cudNN v4. v5 is not supported yet afaik. See:
https://github.com/tensorflow/tensorflow/issues/1969

Here is a fix:
http://stackoverflow.com/a/36978616

[2016-06-08 09:41] fayeshine opened #2727 "tf learn bugs when running DNNClassifier examples"
from sklearn import datasets, metrics

iris = datasets.load_iris()
classifier = learn.DNNClassifier(hidden_units=[10, 20, 10], n_classes=3)
classifier.fit(iris.data, iris.target)
score = metrics.accuracy_score(iris.target, classifier.predict(iris.data))
print("Accuracy: %f" % score)

[code]

[2016-06-08 09:57] hellf commented on #2726
I also have tried cuDNN 4.0.7 and got the same messages.

[2016-06-08 10:40] stream1984 commented on #3
+1 for Java

[2016-06-08 11:15] karlTUM commented on #2713
I also post my question in stackoverflow:
http://stackoverflow.com/questions/37679697/in-tensorflow-how-to-assign-values-in-tensor-according-to-the-indices

[2016-06-08 11:20] ChuyuHsu commented on #1570
I bumped into this problem as well

[2016-06-08 11:40] alquraishi commented on #1306
@ebrevdo sorry I didn't see that this was still open. I'm using dynamic_rnn with no problems. I will close.

[2016-06-08 11:40] #1306 closed

[2016-06-08 12:47] osdf opened #2728 "Memory leak (on cpu) in 0.9rc (vs. 0.7.1rc)"
Hi,
using the provided wheel vor 0.9rc (also reproduced with a fresh install from source) I'm seeing a lot of memory consumption (on the cpu) during training a model (on a gpu (TITAN X) which gets its data from a ```tf.FIFOQueue``` pinned with ```tf.device()``` to a cpu). I tested two different dataset sizes and these lead to 600MB and 1.2GB leaked memory respectively accumulated during the traini

[2016-06-08 13:39] kuza55 opened #2729 "TensorBoard inception v3 visualization is horizontal and almost unusable"
### Environment info
Operating System: Linux x64 GPU

Installed version of CUDA and cuDNN: CUDA 7.5, cuDNN v4

If installed from binary pip package, provide: 0.8.0

I've been trying to retrain the inception v3 network using the image_retraining example, and then the inception v3 model in the models repo.

The image_retraining model[1] seems to visualize vertically and it relatively straight forwar

[2016-06-08 13:42] kuza55 opened #2730 "TensorBoard feature request: Search for Node"
I have been trying to retrain the inception v3 network and TensorBoard has been the only real way to introspect the network and it's implementation so far.

It would be very useful to be able to find nodes in the graph, by name or other properties. E.g. in my case I am interested in seeing the total_loss node that is being defined here: https://github.com/tensorflow/models/blob/master/inception/in

[2016-06-08 13:43] kunal-bajpai commented on #1300
Great @benoitsteiner ! We can start working with this.

Can you tell me if these operations are present in a 0.9rc or when you will be adding it to a stable version?

[2016-06-08 13:46] #1932 closed

[2016-06-08 13:53] raddy opened #2731 "Feature Request: Exporting Model to Eigen Only Environments"
This would be insanely useful. I understand that some operations don't map cleanly to Eigen operations.

[https://github.com/riga/tfdeploy](https://github.com/riga/tfdeploy) addresses a similar goal and has a reasonable approach to handle custom ops.

An API where the eigen only computational graph is generated and the ability to "plug in" missing ops?

[2016-06-08 14:29] mrry commented on #2665
It looks like the error is still present in the code snippet you posted:

![worker_hosts = FLAGS.worker_hosts(",")](http://i.imgur.com/7eH14HE.png)

[2016-06-08 14:38] shiviser opened #2732 "Mention that GPU reductions are nondeterministic in docs"
# The problem

I am trying out the [MNIST for experts tutorial](https://www.tensorflow.org/versions/r0.7/tutorials/mnist/pros/index.html#deep-mnist-for-experts) and I have inconsistent results on the GPU.
### What do I mean by inconsistent?

With the exactly same network parameters (and randomness removed: read below in the post) every time I run the complete train-then-test process the accuracy i

[2016-06-08 15:07] lukeiwanski commented on #22
@djan92
Yes, you are right, #22 is almost 8 months old and has over 100 posts! The information can get swamped!
Could someone provide estimates for when Tensorflow might be able to run with OpenCL (AMD GPUs)?
TensorFlow uses the Eigen library for tensor computation (in the Tensor module). We have committed a partial implementation for OpenCL 1.2 using SYCL (https://bitbucket.org/benoitsteiner/open

[2016-06-08 15:10] lukeiwanski commented on #22
@djan92 Yes, you are right, #22 is almost 8 months old and has over 100 posts! The information can get swamped!

TensorFlow uses the Eigen library for tensor computation (in the Tensor module). We have committed a partial implementation for OpenCL 1.2 using SYCL (https://bitbucket.org/benoitsteiner/opencl branch Codeplay). The reason we used SYCL for this work is that this section of TensorFlow us

[2016-06-08 15:11] lukeiwanski commented on #22
@naibaf7

The basic operations should be here very soon. We are putting the basic infrastructure in place within the code to support open standards-based acceleration. We believe that with community support, an accelerated and usable version will be ready in much less than a year.

ComputeCpp will be available publicly, for free, in 2016. The open-source triSYCL support should follow behind. Open-

[2016-06-08 15:11] lukeiwanski commented on #22
@robertwgh The C++ tensor code in Eigen would not easily be portable to OpenCL C without SYCL, but there are other features that would work well on OpenCL C. Have a look at this spreadsheet: https://docs.google.com/spreadsheets/d/1YbHn7dAFPPG_PgTtgCJlWhMGorUPYsF681TsZ4Y4LP0/edit#gid=0 and fill free put your name down on the features that should use normal OpenCL C (such as BLAS and convolutions).

[2016-06-08 15:40] girving commented on #2713
Thank you for posting the question as StackOverflow!  See also #2075.

[2016-06-08 15:40] #2713 closed

[2016-06-08 15:41] girving commented on #2668
Thanks @damienmg!  Closing since it is not a TensorFlow issue.

[2016-06-08 15:41] #2668 closed

[2016-06-08 15:47] girving commented on #2703
@jplu: I saw that, but one can never be too careful when triaging hundreds of issues. :)

Can you add a `pwd` line to `python_config.sh` to see what directory it's in?  I'm not sure how Bazel genrules work, so it's possible that the BUILD file should declare some dependencies.

[2016-06-08 15:49] yaroslavvb commented on #2732
Do you get deterministic results if you run this on CPU? Results of optimized GPU computations for NN ops are usually a little bit non-deterministic, I think it's a nature of how modern GPUs work, @zheng-xq may have more understanding of this

[2016-06-08 15:50] girving commented on #1319
@ebrevdo: I don't think we should do too much work if the issue is a server outside of our control.  PRs welcome if someone wants to make this more robust: if so please comment and I can reopen the issue.

[2016-06-08 15:50] #1319 closed

[2016-06-08 15:54] girving commented on #2291
@edi-bice: Let us know if you want to send us a PR with `-lm`!

[2016-06-08 15:56] girving commented on #2654
@domluna: Try printing out the node names in the graph each step.  If you see it growing over time, it probably means your adding new nodes to the graph over time.

[2016-06-08 15:59] girving commented on #2314
@stephenroller: Cool, I'll leave this open as contributions welcome, but based on Vijay's comments it would have to be a unified op to reduce races.  The GPU scatter and gather kernels are reasonably clean, so it wouldn't be too hard to mimic them.

[2016-06-08 16:06] benoitsteiner commented on #1300
I don't think the pooling operations made the 0.9 cut, but they'll be available in the release that comes after 0.9. In the meantime, you can always [install from source].(https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#installing-from-sources)

[2016-06-08 16:07] keveman commented on #2455
The error seems to indicate that you have the `HostMemory` attribute set for an output arg , and a label called `Sergey` in your kernel specification. However, the code you provided doesn't seem to contain those. Can you please provide the exact code for your custom op?

[2016-06-08 16:07] mrry commented on #2326
Looking at the `QueueBase` docs, they leave a lot to be desired. I've sent out a change internally, and it should appear soon....

[2016-06-08 16:10] girving commented on #2453
@jendap: Want to comment?

[2016-06-08 16:12] yaroslavvb commented on #2654
You can do "tf.get_default_graph().finalize()" after you've done modifying
your graph, that'll throw an error on any new modifications

On Wed, Jun 8, 2016 at 8:56 AM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-08 16:12] girving commented on #2454
@danmane: Can you comment on this?  It seems like a reasonable thing to mark "contributions welcome", but we should get your input first on how best to express it if so.

[2016-06-08 16:13] keveman commented on #2413
@damienmg Damien, are you suggesting I add `/home/.slash_usr/lib/gcc/` to the `CROSSTOOL`? Or is this something that should be done via the `configure` script by querying the `gcc` installed on the system?

[2016-06-08 16:14] jiaboli007 commented on #2732
I have the same observation on both GPU and CPU. I think whenever parallel computing is use (either multiple core CPU or GPU), the results will not be deterministic. This is due to the randomness of the order of collecting the partial results from all threads, and this can lead to very small difference within machine accuracy at the beginning and then this tiny tiny difference gets amplified durin

[2016-06-08 16:14] shiviser commented on #2732
Yes I do get deterministic results on the CPU.

To problem is, in a bigger network I have designed for another dataset the inconsistencies are quite large (up to +/-25%).

[2016-06-08 16:15] girving commented on #2458
@Mazecreator: The way to express this in TensorFlow is to make two different pieces of graph that share variables (either explicitly or using variable scopes).  You then run one part of the graph for training and one part for testing.

[2016-06-08 16:15] #2458 closed

[2016-06-08 16:15] girving commented on #2463
@ebrevdo: Is this fixed?

[2016-06-08 16:16] mrry commented on #2648
Ah, if the model is only 10M, then my hypothesis about protobuf overflow is almost certainly wrong. (There were certainly segfault- and `SIGTERM`-causing bugs in that path, which should be fixed now, or at least in the next push from the internal branch.)

I see two potential options for fixing this, but I'm afraid I'm going to need your help.

1. Can you package up a minimum failing example, whic

[2016-06-08 16:16] keveman commented on #1935
I am not the best person to debug this. Throwing it over to @martinwicke so he can find someone with access to different platforms.

[2016-06-08 16:19] #1755 closed

[2016-06-08 16:19] keveman commented on #1755
Closed due to inactivity.

[2016-06-08 16:19] shiviser commented on #2732
@jiaboli007 I have seen that it is possible to have parallel computations and yet have deterministic behaviour (e.g.: Matlab simulink can optimize models for parallel computations yet assuring deterministic behaviour).

[2016-06-08 16:22] girving commented on #2471
@zffchen78: Could you take a look at this since Sherry is out?

[2016-06-08 16:23] ischlag commented on #2726
Well, your script is working on my machines. What do you get if you execute the following command:
[code]

I ran your script on 1 paramater server without gpu and 3 workers with each one GTX 960 GPU.

Parameter Server:
[code]

Worker 1:
[code]

Worker 2:
[code]

Worker 3:
[code]

I'm actually very happy I found this. I currently learning how to use tensorflow in a distributed setting. So thanks fo

[2016-06-08 16:27] girving commented on #1950
@Remper: What would the implementation look like?  I'm having trouble seeing how to make this not terrifyingly slow.  I suppose you could do binary search to find the matching sparse indices?

[2016-06-08 16:30] girving commented on #1968
Drive by comment to say thank you @siddharth-agrawal for all the PRs!

[2016-06-08 16:38] girving commented on #2050
@danmane: Any chance this is obviated by improvements since then?

[2016-06-08 16:41] dzhyeon commented on #1541
I'm also having same issue and it looks like this is happening only when loading jpg image.

[2016-06-08 16:42] girving commented on #2109
@vrv, @akors: Should we split the conclusions of this up into separate bugs, appropriately distributed between TensorFlow and Bazel?  At least one of the issues is fixed by #2504, and it's hard from this thread to know what's left.

[2016-06-08 16:43] girving commented on #2131
This fits better as a question on StackOverflow, since it doesn't seem to be about a fixable issue in TensorFlow.

[2016-06-08 16:43] #2131 closed

[2016-06-08 16:45] girving commented on #2153
Closing for now due to lack of response to @damienmg's question.  @Dapid: Please comment if you have more information and I'm happy to reopen.

[2016-06-08 16:45] #2153 closed

[2016-06-08 16:45] mrry commented on #1541
Which version of TensorFlow are you running? The 0.9 release candidate should have the fix.

[2016-06-08 16:47] llchan commented on #2646
Hiding inlines might solve one class of problems, but non-inlined functions could also be clobbered.  We really need to either make the two libraries hidden from each other (i.e. remove/restrict RTLD_GLOBAL-ness), or share the same libprotobuf.so.

By far the best solution would be to dynamically link to an existing protobuf library and sprinkle in one or two version checks to make sure the right

[2016-06-08 16:53] llchan commented on #2646
@girving a size check would be a good first line of defense, and would certainly be a good addition until this is ironed out, but the struct could also have different members/layout with the same size so it should only be a temporary solution.

[2016-06-08 16:53] girving commented on #2158
@giancds: Sorry for the delay; Rafal just left Google.  @ludimagister: Could you answer @giancds's question?

[2016-06-08 16:54] mrgreen7 opened #2734 "RNN: tensorflow.python.framework.errors.InvalidArgumentError: indices[15,0] = 10535 is not in [0, 10000)"
Hey. I adapted the example file (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/models/rnn/ptb/ptb_word_lm.py) to work on my training data. Unfortunately as soon as the training data exceeds a certain size I'm getting an error: http://pastebin.com/JkV7MCQk What could be the issue? How can I debug this?

Might it be an issue with the training data? (http://s000.tinyupload.com/index

[2016-06-08 16:55] girving commented on #2174
@vrv: Presumably more information is required, but I'm not sure what to ask for.

[2016-06-08 16:56] girving commented on #2262
Closing, since this is a question not an issue.

[2016-06-08 16:56] #2262 closed

[2016-06-08 16:57] girving commented on #2271
@rmlarsen: Any guesses as to what's going on?

[2016-06-08 17:01] alexatknit commented on #2648
1 is going to be a problem, but I can do 2

[2016-06-08 17:05] girving commented on #2280
@mrry: Looks like this fell through the cracks.  Do you know what's wrong?

@myme5261314: I'd guess that the reason `[b, c]` is slower than just `c` is that all you're timing is the overhead of converting things back to numpy.  I don't think it's related to your original motivating problem.

[2016-06-08 17:05] alexatknit commented on #2648
Does the whole cluster need to be in debug, or just the master worker? (I've temporarily repurposed those machines)

[2016-06-08 17:06] girving commented on #2283
Closing for now.  @smartcat2010: Please comment if you have more information and I'll reopen.

[2016-06-08 17:07] Mistobaan commented on #2174
I think I saw on another issues that Ubuntu 14.04 has problems with Cuda 7.5

[2016-06-08 17:07] girving commented on #2284
Closing for now, since slice does seem to be a good solution.  @ziky90: Please comment if slice doesn't fit your use case.

[2016-06-08 17:07] #2284 closed

[2016-06-08 17:07] mrry commented on #2648
Thanks! Only the process that you expect to crash needs to be in debug - it should be able to communicate with other workers that are running release binaries.

[2016-06-08 17:12] zheng-xq commented on #2732
On GPU, small amount of non-deterministic results is expected. TensorFlow uses the Eigen library, which uses Cuda atomics to implement reduction operations, such as tf.reduce_sum etc. Those operations are non-determnistical. Each operation can introduce a small difference. If your model is not stable, it could accumulate into large errors, after many steps.

If you see a large difference, after on

[2016-06-08 17:14] zheng-xq commented on #2174
@taylorhughmorgan, could you try the latest TensorFlow again, and see if you still have this problem? Thanks.

[2016-06-08 17:27] zheng-xq commented on #1570
@alexeygrigorev, @ChuyuHsu, are you running the following example?

https://github.com/tensorflow/tensorflow/blob/r0.9/tensorflow/examples/tutorials/word2vec/word2vec_basic.py

It seems that it was using GradientDescentOptimizer, not AdaGradOptimizer.

[2016-06-08 17:32] alexeygrigorev commented on #1570
As I wrote earlier, using gradient decent solves the issue

[2016-06-08 17:34] zheng-xq commented on #2226
@alexlee-gk, the problem could be attributed to small differences introduced in the non-deterministic behavior on GPU. Or some numerical instability due to the precision difference between CPU and GPU.

The best way to tell whether this is actually a bug is to narrow them into a small script that shows a big difference in one or two steps. If that is not possible, then the model might be unstable,

[2016-06-08 17:38] Remper commented on #1950
@girving ideally I would expect an explicit (via the separate op) or an implicit (when the SparseTensor is populated with data at runtime) way to build an index across the first dimension (or any given dimension). Then ```tf.gather``` would be just a search on that index.

Going back to my original use case: originally I've needed to represent a dictionary that contained arrays of elements of vary

[2016-06-08 17:42] naibaf7 commented on #22
@lukeiwanski Great, thanks for the update. I hope you are right about getting it done fully-featured in less than a year.

[2016-06-08 17:44] llchan commented on #2646
I think this may impact the other libraries that are embedded in tensorflow.  Suppose I do this:

1. Import tensorflow, it loads _pywrap_tensorflow.so with RTLD_GLOBAL, libpng symbols are loaded with global visibility
2. Import matplotlib.pyplot, it loads _png.so, which depends on libpng15.so, but when it's linked some of the symbols it needs are globally visible via _pywrap_tensorflow.so so it us

[2016-06-08 17:51] kunal-bajpai commented on #1300
@benoitsteiner we will be building from source but were just looking for some clarity on when a stable release might include these operations. Any ETA for the next release?

[2016-06-08 17:54] danmane commented on #2050
This is still a valid request. I changed the issue name to better reflect where the conversation went, though.

[2016-06-08 18:02] karlTUM commented on #2075
where is tf.unravel_index in the document? I cannot find it.
Thank you.

[2016-06-08 18:02] siddharth-agrawal commented on #1968
@girving My pleasure! It is fun working with the TF team!

[2016-06-08 18:03] zheng-xq commented on #2416
@erickrf, one possibility is that with a shared server, some other processes are using that GPU. Could you run nvidia-smi and make sure no other is using that GPU?

A few experiments to try:

1. Allocate the server to yourself, if only temporarily, and see if the problem goes away.
2. Add stack trace or printf near here and see what is causing the GPU construction to fail.
https://github.com/tenso

[2016-06-08 18:06] anuragkr90 commented on #1803
@girving Yes, it is different from @avati's. I am not getting the CUDA devices error.

[2016-06-08 18:07] danmane commented on #2454
This is on my roadmap, actually. I want to make a new field in the event.proto that will let you record arbitrary info about the run, including key value pairs like "code version", "vx.x.x", hyperparameters, etc.
I'd like to get this in in-time for the next release, no promises.

It's probably not a great candidate for contributions welcome because I already have a plan to do it, and it requires s

[2016-06-08 18:22] alexatknit commented on #2648
I don't see any obvious debug logging, where can I expect to find the stack trace?

[2016-06-08 18:30] alexlee-gk commented on #2226
I think it is reasonable to attribute the problem as an expected behavior, which is caused due to numerical instability.

That being said, I just want to point out that this behavior is not limited to GPU builds. There were sets of hyperparameters in which I would get high accuracy in Mac OSX (CPU) and Ubuntu 14.04 (CPU), but a lower accuracy in Ubuntu 14.04 running on AWS (CPU).

[2016-06-08 18:40] zheng-xq commented on #2226
@alexlee-gk, thanks for bringing this issue to our attention.

Closing as expected behavior. Feel free to reopen if you can reproduce with large difference within one or two steps.

[2016-06-08 18:40] #2226 closed

[2016-06-08 18:47] maniteja123 opened #2736 "Installation error on Ubuntu 16.04 64bit machine - $(PYTHON_BIN_PATH) not defined."
For bugs or installation issues, please provide the following information.
The more information you provide, the more easily we will be able to offer
help and advice.

### Environment info
Operating System:
[code]

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
CUDA not installed

If installed from sources, provide the commit hash:
https://git

[2016-06-08 18:53] yaroslavvb commented on #2226
At some point I was debugging tests failing when running with -copt=avx2 instead of avx. We couldn't get rid of the numeric difference and ended up just raising tolerances on tests. What happens is that there's some atomic operation that produces small difference in the range of ulp or two and then it blows up. In particular, I noticed forward pass during MNIST training to be relatively stable, bu

[2016-06-08 18:56] danmane commented on #2708
You're using Safari, right? This is a duplicate of https://github.com/tensorflow/tensorflow/issues/2607. It's fixed in source code but not in the distributed tf-tensorboard bundle; an update for the bundle is coming today.

[2016-06-08 18:56] #2708 closed

[2016-06-08 18:57] danmane commented on #1377
This is fixed now.

[2016-06-08 18:57] #1377 closed

[2016-06-08 19:11] orome commented on #2708
@danmane: Yes Safari. Thanks!

[2016-06-08 19:16] neggert commented on #2728
I think I'm seeing something similar. Haven't been able to confirm that it's a memory leak, but progress grinds to a halt (`session.run` never returns) after a few iterations of training and memory usage is quite high. I'm also making use of queues, and my setup is almost identical to the one above.

[2016-06-08 19:29] rinnadom commented on #1470
Was this the correct answer? I am having the same problem

[2016-06-08 19:30] keveman commented on #2646
@llchan With respect to libpng and other libraries embedded in `_pywrap_tensorflow.so`, look [here](https://github.com/tensorflow/tensorflow/blob/9078909131d5e91e8bd1878eac54136885656043/tensorflow/tensorflow.bzl#L651). The linker scripts strictly control the symbols exported by `_pywrap_tensorflow.so`. Even though the library is loaded with `RTLD_GLOBAL`, only tensorflow related symbols are avail

[2016-06-08 19:49] llchan commented on #2646
Ah my bad, I was building TF 0.8 so I had the r0.8 branch checked out.  Should have checked out master, looks like the exported symbols list was added after r0.8.  I'll try a r0.9 build.

[2016-06-08 19:49] #2326 closed

[2016-06-08 20:14] HanyuGuo commented on #2706
I have tried TensorFlow 0.9 today. It seems that the first example works, so I make another example, which is able to reproduce first error log.  Also, I am still wondering why example 1 works. Thanks.

[2016-06-08 20:27] mrry commented on #2648
The easiest way to get it is probably to run under `gdb` (otherwise you could turn on core file recording and load one of those in gdb).

[2016-06-08 20:33] aselle commented on #2646
Sorry for the late reply. It's difficult to do this in general, because you'd need to put something in a translation unit for every project that might have possibly been compiled differently that you can query later. I.e. something already has to be compiled that remembers the size or that it is c++11. I don't really know enough about the toolchain to know if the compiler dumps something we could

[2016-06-08 20:54] girving commented on #1803
@anuragkr90: A floating point exception typically means integer division by zero.  Could you recompile the code in debug (pass `-c dbg` to Bazel) and rerun gdb to see where it's dividing by zero?  Otherwise we'll probably need a minimized test case for reproduction purposes.

[2016-06-08 20:56] girving commented on #2075
Not sure which document you mean, but `tf.unravel_index` doesn't exist yet.  `np.unravel_index` is described in that thread I linked to.

[2016-06-08 21:00] llchan commented on #2646
@keveman 0.9 is much, much better about symbol visibility, the libpng symbols I saw before in 0.8 are no longer global, and poking around in gdb, I now see symbols coming from the right place.  Thanks, for pointing me to the right place to look!

@aselle Yeah, youre right, it sounds like it'd be a pain to check c++11 vs c++0x for every dependency, and it's unclear if theres enough information as-i

[2016-06-08 21:00] ethereon commented on #2037
I can reproduce this on the current head (592675b2b8d1cabbf923638942ea6f200abe353a)

Environment: Ubuntu 14.04.4, CUDA 7.0, cuDNN 4.0

[2016-06-08 21:01] girving commented on #368
@lukaszkaiser, @gouwsmeister: Stephan said he doesn't have active plans to work on `tf.choice`, so we're happy to accept PRs if anyone else wants to add it.

[2016-06-08 21:05] girving commented on #1950
@ysuematsu This seems hashtable related.  Can we do this with existing int -> int hashtable ops?

[2016-06-08 21:09] dementrock commented on #2598
I was doing some hessian vector product computations and had the same error, but the code snippet above highlights the issue.

So is there no way to get higher order derivatives w.r.t. scan right now?

[2016-06-08 21:09] edi-bice commented on #2291
the overhead is high with that one - you guys go ahead if you don't mind

[2016-06-08 21:10] girving commented on #2598
@dementrock: We don't support higher order gradients even ignoring control flow.

[2016-06-08 21:10] netankit commented on #1947
I can reproduce the same issue with convolution.py MNIST example running on g2.2xlarge AWS GPU machine after installing the machine compiled Tensorflow wheel. The instance freezes after Initialization is printed right after the tf.Session() is created and all the variables are initialized.
[code]

[2016-06-08 21:18] kbrems commented on #2054
We need to use the standard unittest.TestCase framework, not your TensorFlowTestCase framework, so self.test_session does not exist. Is there any way to disable this optimization in a regular tensorflow session - ie. with tf.Session()?

[2016-06-08 21:20] vrv commented on #2054
Yes, test_session is just a thin wrapper around creating a normal TF session, so you can see how the code disables this optimization here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/test_util.py#L246

[2016-06-08 21:23] mrgreen7 commented on #2734
Hey. Just saw that the vocabulary size is a parameter you have to define manually? Seems not very intuitive for me as it can be computed automatically.

[2016-06-08 21:23] #2734 closed

[2016-06-08 21:30] alexatknit commented on #2648
[code]

[2016-06-08 21:33] girving commented on #2726
@vrv: Any suggestions here?

[2016-06-08 21:37] vrv commented on #2726
What version of tensorflow and cudnn are you using?  Please fill out the issues template instead of erasing it, particularly when it comes to issues with GPUs.

[2016-06-08 21:39] vrv commented on #2726
Actually, I'm not sure what's going on, even if you told me the version of TF you were using.  In one case you are running outof GPU memory, in the other case we're getting an error from cudnn that tells me nothing about what happened (INTERNAL ERROR).  I wish error messages were more informative :(

[2016-06-08 21:40] andrewharp commented on #2570
@kuza55 jpeg.h and png.h have been updated to explicitly exclude mobile builds so that it's clear we don't support them there.

[2016-06-08 21:46] vrv commented on #2109
Yes, it would be good to file separate bugs for the individual issues, since catch all bugs like these tend to get filled with lots of hard to parse info.

[2016-06-08 21:47] girving commented on #2730
Does `tf.Graph.get_operations` or `tf.Graph.get_operation_by_name` work for you?

[2016-06-08 21:47] girving commented on #2732
This is expected behavior: see #2652 for more discussion.

[2016-06-08 21:48] andrewharp commented on #2597
Native error conditions have been changed to LOG(FATAL) messages  in https://github.com/tensorflow/tensorflow/commit/c32ef5a6b7bbcacfe39f20bc7bea9514a505c74f, so that errors can be caught as soon as they happen now.

I decided against adding 565 support for now because it's a little bit application specific how the resulting values are handled. Probably best for now just to transform to RGBA8888 b

[2016-06-08 21:48] #2597 closed

[2016-06-08 21:55] girving commented on #2736
Did you run `configure`?

[2016-06-08 21:58] ppwwyyxx opened #2740 "ExponentialMovingAverage.average duplicates the current scope name"
Using tensorflow nightly.

[code]

[2016-06-08 21:58] girving commented on #1415
@vrv: What's the status of this?

[2016-06-08 22:00] girving commented on #1443
@vrv: This is fixed by #1220, right?

[2016-06-08 22:02] vrv commented on #1443
Yes.

[2016-06-08 22:02] #1443 closed

[2016-06-08 22:02] vrv commented on #1415
I think we fixed this in 0.8 and it hasn't regressed.

[2016-06-08 22:02] #1415 closed

[2016-06-08 22:03] girving commented on #1450
@zffchen78: Can you take a look?  Is there any relationship between this and  #2471?

[2016-06-08 22:07] girving commented on #1634
This isn't enough information.  From what you've written so far, maybe you typed ^C to kill a process?

[2016-06-08 22:08] girving commented on #1642
@andrewharp @petewarden What's the status of this?

[2016-06-08 22:10] nrahul opened #2741 "Does max_pooling3d support strides that are not same along height, width and depth?"
I am using tensorflow to train a network that has 3D convolutions and 3D max-pooling layers. Some of the 3D max-pooling layers use a stride of 1 along the depth and strides of 2 along height and depth. This seems to be causing issues.

For example: The following script should print a tensor with values of '82' but somehow some of the values turn out to be -3.40282347e+38

**import tensorflow as tf

[2016-06-08 22:13] kingtaurus opened #2742 "Ubuntu 16.04 Makefile build"
I was attempting to use the Makefile to test build the library on my Ubuntu system (bazel builds to completion).
[code]

### Environment info
Operating System:
[code]
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
[code]

If installed from sources, provide the commit hash:
[code]

### Steps to reproduce
1.)  `bash tensorflow/contrib/makefile/d

[2016-06-08 22:17] girving commented on #1742
@ebrevdo @raindeer What's the status of this issue?

[2016-06-08 22:21] kuza55 commented on #2730
This is for the TensorBoard GUI, rather than the tensorflow API.

[2016-06-08 22:22] kbrems commented on #2054
I tried your suggestion and that works. Thanks.

[2016-06-08 22:25] girving commented on #2730
@danmane Care to comment?  Should we mark this contributions welcome?

[2016-06-08 22:25] girving commented on #1825
@rmlarsen What's left to do in this issue?

[2016-06-08 22:29] girving commented on #1772
Unfortunately, I don't think we have enough information to diagnose this issue, so I'm going to close.  Please comment if better information appears, or file a separate issue.

[2016-06-08 22:29] #1772 closed

[2016-06-08 22:30] girving commented on #1370
@ebrevdo Is this still an issue?

[2016-06-08 22:31] girving commented on #1391
Closing due to lack of information.  I'm happy to reopen if more information arises.

[2016-06-08 22:31] #1391 closed

[2016-06-08 22:31] andrewharp commented on #1642
The standalone benchmark target tensorflow/tools/benchmark:benchmark_model has been added which will allow users to repeat their own experiments.

We're still evaluating compilation flags to get the best performance out of mobile builds. As far as the 5x in particular, I think we have viable explanations for the performance difference (asymmetric cores, etc) but no simple solution to improve it ri

[2016-06-08 22:33] girving commented on #1396
Closing since questions about how nan works are better suited to StackOverflow.  Generally, nans occur when either a specific singularity is hit (division by zero) or an iterative process explodes to infinity.

[2016-06-08 22:33] #1396 closed

[2016-06-08 22:35] girving commented on #1397
Closing since the discussion indicates it may not be a TensorFlow specific issue.  Please comment if more information appears or file a separate issue.

[2016-06-08 22:35] #1397 closed

[2016-06-08 22:37] girving commented on #1642
@andrewharp Should I leave it assigned to you or Pete, or mark it contributions welcome if there is something specific we could ask others to contribute?  We're trying to avoid leaving nonspecific bugs open.

[2016-06-08 22:40] girving commented on #2742
It looks like Eigen doesn't exist.  Might that be the problem?

[2016-06-08 22:42] girving commented on #804
We'd be happy to accept PRs if anyone wants to generalize batch normalization to arbitrary rank.

[2016-06-08 22:43] girving commented on #955
@jendap Was this ever fixed?

[2016-06-08 22:44] girving commented on #1066
Is this still an issue?

[2016-06-08 22:44] girving commented on #1067
Closing due to lack of response.  I'm happy to reopen if more details are available.

[2016-06-08 22:45] #1067 closed

[2016-06-08 22:48] girving commented on #1095
I don't think `py_func` should have any special functionality here.  You can already do this with a combination of `RegisterGradient` and `Graph.gradient_override_map`.  It's ugly, but if we want to make it less ugly we should clean up gradient overriding for all ops, not just `py_func`.

[2016-06-08 22:48] #1095 closed

[2016-06-08 22:48] kingtaurus commented on #2742
I have `libeigen3-dev` installed through `apt`:

[code]

However it appears that the download dependencies uses a different `eigen` hash. Below is from:
`tensorflow/contrib/makefile/download_dependencies.sh` (truncated output):
[code]

[2016-06-08 22:49] girving commented on #1136
@jramapuram Fractional striding is hard to implement efficiently using anything like direct convolution; normally I'd just write it using FFTs (which already works).

[2016-06-08 22:50] girving commented on #2560
@kosklain Here you go!

[2016-06-08 22:52] andrewharp commented on #1642
I don't think we have any specific plans at the moment to improve 5X (relative) performance, so this should probably be closed. Happy to test out any contributions, though.

[2016-06-08 22:52] #1642 closed

[2016-06-08 22:59] vincentvanhoucke commented on #804
This is obsolete. `nn.batch_norm_with_global_normalization` has been replaced by `nn.batch_normalization` which accepts arbitrary geometries.

[2016-06-08 22:59] #804 closed

[2016-06-08 23:08] kosklain commented on #2560
@arita297 Hey, the changes are now in (more concretely, [this commit](https://github.com/tensorflow/tensorflow/commit/b5ad739fe9939e953416636ae8e188a5feacbcdf)). As you can see in the docs, you can do what you want by specifying objects that inherit from RNNCell (just like your Grid LSTM would), and then the `output_size` and `state_size` properties can specify multi-dimensional sizes by using ten

[2016-06-08 23:13] jiapei100 commented on #1937
Got exactly the same issue as yours. Can you please be more specific?  What is your proxy issue?

[2016-06-08 23:13] ebrevdo commented on #1725
Anyone with pending questions - please open new issues for your individual questions - the initial question was answered.

[2016-06-08 23:13] #1725 closed

[2016-06-08 23:15] keveman commented on #1704
These set of commands work for me :

    mkdir tensorflow
    export TF_INSTALL_DIR=/tmp/tensorflow
    pip install --prefix=$TF_INSTALL_DIR https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0rc0-cp27-none-linux_x86_64.whl
    Collecting tensorflow==0.9.0rc0 from https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.9.0rc0-cp27-none-linux_x86_64.whl
    Using cached htt

[2016-06-08 23:16] yaroslavvb commented on #2630
A side-effect of this is that if you make a mistake during "./configure" step, you must start over in a new directory. IE, running configure to change capability to "3.0" after setting it to default at first, doesn't have the desired effect, and "bazel clean" doesn't work because of this error

[2016-06-08 23:24] girving commented on #2560
@kosklain Should we close the issue, or is there more to do?

[2016-06-08 23:25] girving commented on #2742
That hash looks different than from your message above, which says 0c0b79ecd74c.

[2016-06-08 23:28] girving commented on #1143
@vrv Is this still an issue?

[2016-06-08 23:30] yaroslavvb commented on #955
I see 3-4 GUARDED_BY warnings in today's head --
http://pastebin.com/AbSxRzKJ
That doesn't seem like a "ton" since there are >600 warnings not related to
guarded_by

On Wed, Jun 8, 2016 at 3:43 PM, Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-08 23:30] girving commented on #1157
@martinwicke You could do further triage on this?  Taking advantage of @damienmg's new feature seems worth doing if it reduces further bug reports.

[2016-06-08 23:30] kingtaurus commented on #2742
Yup. So it looks like the `Makefile` build rules are finding the wrong header file to include while building.

[2016-06-08 23:31] girving commented on #1168
Closing since we'd need more information to debug.  Please comment or open a new issue if more information arises.

[2016-06-08 23:31] #1168 closed

[2016-06-08 23:33] girving commented on #1178
@josh11b: Opinions?  This might only matter in the future when the C++ API stabilizes.

[2016-06-08 23:34] kosklain commented on #2560
@girving this can now be closed, with that commit the feature should be currently fully supported by all rnn modules that exist in `ops/rnn.py`.

[2016-06-08 23:36] girving commented on #2742
@martinwicke Do we support the Makefile build actively, or is this contributions welcome?

[2016-06-08 23:37] girving commented on #618
Closing for now since this isn't specific enough as a Github issue.  We're still happy accept PRs improving the documentation, and please file more specific documentation issues as separate bugs.

[2016-06-08 23:37] #618 closed

[2016-06-08 23:38] girving commented on #955
Closing since "tons" no longer applies. :)

[2016-06-08 23:38] #955 closed

[2016-06-08 23:38] danmane commented on #2730
I'm assigning nikhil and daniel to take a look, since it's a graph explorer question. But I also pre-emptively marked it contributions welcome...

[2016-06-08 23:38] #2560 closed

[2016-06-08 23:41] girving commented on #640
@lukaszkaiser @ebrevdo Can you one of you modify the title, close, mark as contributions welcome, or similar?  "Attention modifications" isn't very informative as a title.

[2016-06-08 23:43] girving commented on #665
Closing due to lack of information.  I'm happy to reopen if more information arises.

[2016-06-08 23:43] #665 closed

[2016-06-08 23:44] girving commented on #666
Closing since this issue seems to have been diagnosed.  Please direct further questions about sharding variables to StackOverflow.

[2016-06-08 23:44] #666 closed

[2016-06-08 23:45] #680 closed

[2016-06-08 23:46] girving commented on #699
Closing since changing the name is too little benefit for the large amount of required work.

[2016-06-08 23:46] #699 closed

[2016-06-08 23:50] MInner commented on #206
hi, I attempted to write a temporary workaround (that someone might possibly find useful)
https://gist.github.com/MInner/8b0c0a0e528303b132bf02e277199996

it's more or less clear (at least in simplest case) how to do
`A[:, b, :] # => (10, 50, 30)` - transpose, gather, transpose back
or
`A[a, b, c] # => (50, )` - pack, gather_nd
, but it's not clear to me how could one do `A[a, b, :] # => (50, 30)`

[2016-06-08 23:59] girving commented on #10
@dave-andersen What's the status of this?

[2016-06-09 00:01] martinwicke commented on #2742
FYI @petewarden

It's contributions welcome. Definitely since we cannot guarantee that a
different version of eigen will work at all. In fact it's quite likely it
will not (or work slowly).
On Wed, Jun 8, 2016 at 16:36 Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-09 00:12] petewarden commented on #2742
Sorry about the problem! I have a pending PR at https://github.com/tensorflow/tensorflow/pull/2743 that fixes this particular issue. Longer-term, I want to automatically grab the checked-in Eigen version, maybe just by grepping the Bazel workspace file that holds the hash.

[2016-06-09 00:22] ebrevdo commented on #206
I'm working on a gather_nd extension to support inner slicing.. Note that
gather_nd still has no gradient.
On Jun 8, 2016 4:51 PM, "Ben Usman" <notifications@github.com> wrote:

[2016-06-09 00:35] kingtaurus commented on #2742
@petewarden I created a quick pull request that should fix this issue by grabbing the information from eigen.BUILD;

[2016-06-09 00:49] jbohart opened #2745 "running digits.py"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-09 00:53] ss32 opened #2746 "Missing pywrap_tensorflow"
### Environment info
Operating System: Linux Mint 17 (Ubuntu 14.04)

Installed version of CUDA and cuDNN:
N/A - running CPU mode only

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

[code]

If installed from sources, provide the commit hash:
[code]

### Steps to reproduce
1. In

[2016-06-09 00:59] jiapei100 commented on #2040
I'm using bazel 0.2.3 as well, Ubuntu 16.04 + GCC 5.3.1, Cuda 7.5 + cudnn 5.0.5 .
I strictly followed https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#installation-for-linux, but run into the same error
"$ bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
Wed Jun 8 17:48:44 PDT 2016 : === Using tmpdir: /tmp/tmp.67PiK9GeAe
rsync: change_dir "/home/jiapei

[2016-06-09 01:23] yaroslavvb commented on #2746
I've seen this happen when the build failed for some reason. Do you have
any errors when you do "bazel build"?

Also you could try a sample test to see if anything works at all, ie:
bazel test -c opt //tensorflow/python:graph_util_test

On Wed, Jun 8, 2016 at 5:53 PM, ss32 <notifications@github.com> wrote:

[2016-06-09 01:31] josh11b commented on #1178
I've been at Google too long to know what the rest of the world expects, but I could imagine the regexp that would do this if we decide it is a good idea.  Would this just be for examples, or inside the core library?  Manjunath would probably be a better person to ask.

[2016-06-09 02:36] jihunchoi commented on #2728
I am experiencing the same issue. In python interpreter, `session.run` hangs and it even cannot be stopped until I press Ctrl+\ and terminate the entire process.

[2016-06-09 02:52] yaroslavvb commented on #2334
New pull request is https://github.com/tensorflow/tensorflow/pull/2747

[2016-06-09 03:17] yuanbyu commented on #2706
FYI: I have a fix in the work. If my understanding is correct, the problem is that we don't support broadcasting for AddN, which is used to accumulate partial gradients.

[2016-06-09 03:24] vrv commented on #1143
I mean I suspect it's always going to be an issue due to bazel, and all the information available is here, so we'll close this.

[2016-06-09 03:24] #1143 closed

[2016-06-09 03:26] maniteja123 commented on #2736
Sorry my mistake. Thanks a lot. I didn't run ``configure`` this time though have been doing that when trying to install on 32 bit machine. Now it is building. Apologies for the noise.

[2016-06-09 03:26] #2736 closed

[2016-06-09 04:23] yangmch opened #2748 "Skflow monitor bug?"
I tried to use the monitor functionality from the [latest build of tensorflow](http://ci.tensorflow.org/view/Nightly/job/nightly-matrix-cpu/TF_BUILD_CONTAINER_TYPE=CPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=cpu-slave/lastStableBuild/), in order to keep track of validation loss. Here is my code:

`classifier = learn.TensorFlowRNNClassifier(rnn_size=EMBEDDING_S

[2016-06-09 04:27] liaohaofu commented on #1066
@girving Yes, this problem still exits on Ubuntu 15.10 with Cuda 7.5. But @chrisburr's solution works for me and `D__STRICT_ANSI__` is actually not required.

[2016-06-09 04:36] sdemyanov commented on #781
It would be reasonable to allow to specify the size of rotated image, extracted from the original one, and throw an error if the some parts of it lie outside the original image. Additionally a user can specify the default pixel value to fill in the outside areas. In this case an error is not thrown. I had [an implementation](https://github.com/sdemyanov/ConvNet/blob/master/c%2B%2B/cuda/sources/cud

[2016-06-09 05:13] cgarciae opened #2750 "Host a TensorBuilder patch for TensorFlow"
Hi,

TensorBuilder hosts a patch for `tensorflow`, using this patch you can rewrite the code like this

[code]
as this
[code]
or even like this using a stronger patch
[code]
The patch for the `tensorflow` library currently has full support for branching, see this example with the strong patch
[code]
TensorBuilder even has a DSL that you get for free, so you could rewrite the previous as
[code]
###

[2016-06-09 05:14] amineHorseman commented on #2034
Actually, I have the same issue in Tensorflow 0.9 :-1:

[2016-06-09 05:27] MartinThoma commented on #2034
@amineHorseman Are you sure you have the latest version (`print(tensorflow.__version__)`)?
For me, it works. I can now import tf without importing np before.

[2016-06-09 05:33] janislejins commented on #1807
How'd you fix it?

[2016-06-09 05:51] gaohuazuo commented on #521
Here is a monkey patching module based on PR https://github.com/tensorflow/tensorflow/pull/2737

[resize_image_patch.py](https://gist.github.com/gaohuazuo/4093eee2aee4d5b8746bff698506ee57#file-resize_image_patch-py)

**Note**
* Remember to pass argument `dynamic_shape=True`
* Input image must have static rank of 3. This can be done by `tf.Tensor.set_shape([None, None, None])`

[2016-06-09 06:11] jiapei100 opened #2751 "Fail to build tensorflow pip - "...external" failed: No such file or directory"
I'm using bazel 0.2.3 as well, Ubuntu 16.04 + GCC 5.3.1, Cuda 7.5 + cudnn 5.0.5 .
I strictly followed https://www.tensorflow.org/versions/r0.9/get_started/os_setup.html#installation-for-linux, but run into the same error

I noticed that I do **NOT** have the subfolder **external**, but only a folder **org_tensorflow**. In addition, I do **NOT** have a folder __main__ .

Can anybody help please?

C

[2016-06-09 06:28] martinwicke commented on #1423
We never merged the PR -- some test was still failing. So this issue is still not fixed.

[2016-06-09 06:37] martinwicke commented on #2687
Ok, now I'm all out of ideas. Can you try building r0.9 to see if that works for you? It won't have some exporter functionality, but you can replace that with a separately built tensorflow/serving.

[2016-06-09 06:38] karlTUM commented on #2075
Yeah. I know np.unravel_index. but can np.unravel_index be used to build the graph?
I write a simple example. How to achieve that using Tensorflow?
Thank you.
[code]

[2016-06-09 06:43] martinwicke commented on #1157
Do I understand correcly that this issue will be resolved once current bazel head lands in a release?

[2016-06-09 07:08] arita297 commented on #2560
@kosklain : Sure, sounds good.
Shall we update from the master branch ?
   -it b.gcr.io/tensorflow/tensorflow

[2016-06-09 07:30] amineHorseman commented on #2034
@MartinThoma yes, I'm sure about the version.
I installed tensorflow-0.9.0rc0 from source in conda environment and uninstalled the older version. The current configuration is: python 2.7.11, cuda 7.5, cudnn 5, OS X 11.10.5.

[2016-06-09 07:38] tobegit3hub commented on #2665
Sorry for such a bother. It works after fixing this and I think we can fix the document in the TensorFlow site because we always copy-and-paste its code snippet.

Thank @mrry  again.

[2016-06-09 07:38] jplu commented on #2703
@girving: No worries I understand :)

I put a ```pwd``` command right after the licence header and run once again

```bazel build -c opt //tensorflow/tools/pip_package:build_pip_package --verbose_failures```

But nothing is displayed:

[code]

[2016-06-09 07:42] martinwicke commented on #1935
I don't know what spyder is, and the fact that it runs ok in plain python makes me think this is not actually our error.

These types of errors are caused by the flag initialization code such as flags.DEFINE_string('batch_size', ...) running twice, or two different parts of the program defining flags with the same name (for self_test that would be a pretty likely candidate, batch_size not so much.

[2016-06-09 07:49] martinwicke commented on #527
Is this still an issue? If it isn't we'll close it here. There may be a bazel issue which should be tracked elsewhere.

[2016-06-09 07:55] martinwicke commented on #2433
There are a bunch. The best (and maybe only) way to find out is to grep for `getenv`. I know this is a sad answer.

[2016-06-09 08:45] akors commented on #2454
@danmane Thanks, that's great to hear.

By the way, #2510 seems like a duplicate of this one.

[2016-06-09 08:54] osdf commented on #2728
Updated the original with a bit of more info (training on GPU, GPU memory consumption stays constant). ```session.run``` does not hang for me, training works fine. Though this might be due to the fact that the training set itself is rather small in this case. One minibatch is of size 128x19 (float32).

[2016-06-09 08:54] samfux84 commented on #2687
I tried building r0.9 and for some reason it worked, or at least it did not terminate with an error message (I have no idea why it worked this time, and I am not sure if the build is reproducible).

[code]

In the instructions provided on the tensorflow webpage, it is stated that the files to create the pip wheel are stored in /tmp/tensorflow_pkg:

[code]

But in my case, there is no directory ten

[2016-06-09 09:18] damienmg commented on #1157
Sorry I made myself unclear. Bazel @HEAD (since 0.2.2) as made C++ auto-configuration the default. I am proposing to adapt the script we use for CUDA configuration. Which is what @davidzchen has started to do IIUC. I also sent a PR for doing the same for python.

Doing that would:
  1. Remove issues with CUDA configuration.
  2. Remove needs for ./configure (which can be kept for user interface),

[2016-06-09 09:19] damienmg commented on #2413
Yes should be done at configuration step, see my comment on #1157

[2016-06-09 09:30] jihunchoi commented on #2294
Is anybody working on this?
Or is there a workaround to do this feature, in case that tensors of different types?
I've been stuck implementing Viterbi-like decoding algorithm due to the fact that I can't simultaneously save argmax and max value...

[2016-06-09 09:32] ibab commented on #1095
Ah, I didn't know about `Graph.gradient_override_map`.
It could be used to implement the API @zffchen78 suggested like this:
[code]
But having to generate a unique name is quite ugly.
Maybe a possible future gradient overriding method won't have that requirement.
It would be simple if `gradient_override_map` used a function directly like this:
[code]

[2016-06-09 09:50] kosklain commented on #2560
@arita297 I believe docker will only get you at most the 0.8 release. To get the bleeding-edge master branch you should download the sources and compile.

[2016-06-09 10:10] ibab commented on #2502
A tool that could produce an HTML table with an overview of
 - which ops exist
 - which dtypes are supported
 - which backends are supported

would be pretty amazing when starting out with tensorflow, and would also be useful for making sure that things are defined in a consistent way.
The table could then also be included in the documentation.
(Or should this rather be a feature of TensorBoard?)

[2016-06-09 10:33] M1ch13l opened #2753 "C++ compilation of rule '@highwayhash//:sip_hash' failed (Tensorflow serving on Android)"
Operating System: Ubuntu 16 64bit

Installed:
Android NDK (r10e / r11c),
Android SDK (Latest),
Tensorflow (Latest),
Tensorflow serving (Latest),
Bazel (0.2.1 / 0.2.3)

I can build android projects (SDK and NDK) with bazel, build Tensorflow with bazel and build android jni projects with bazel.

This is the Error I get when trying to build an android project which uses tensorflow serving: ($ bazel b

[2016-06-09 11:17] ss32 commented on #2746
It failed, which is odd because the eigenvalue test worked without any issues.  When I installed via pip I was getting the same error message at first, and then reinstalled via pip and got the error message from my first post

`cat /home/user/.cache/bazel/_bazel_user/f1b63f8b8ef5ddbd718e9d3afcdbe12a/tensorflow/bazel-out/local-opt/testlogs/tensorflow/python/graph_util_test/test.log
exec ${PAGER:-/u

[2016-06-09 11:20] maelp opened #2754 "iOS example running bug"
### Environment info
Operating System: iOS

### Steps to reproduce
1. Follow the contrib/makefile/README to install the tensorflow iOS core lib
2. Download the graph .pb files and copy them in the .xcodeproj
3. Run the example, an error is logged

### Logs or other output that would be helpful

[code]

Is there a modification to do to the building of the lib to include jpeg ops?

Other notes:

 -

[2016-06-09 11:59] maelp commented on #2754
Might be related to bug <https://github.com/tensorflow/tensorflow/issues/2570>

[2016-06-09 12:17] tomrunia opened #2756 "Dataset in GPU memory: updating specific elements in existing tf.Variable"
My machine has a Titan X card so I would like to use the memory as efficient as possible to avoid expensive data transfer between the CPU and GPU. Therefore, I want to have as many images as possible (let's say 5 GB) on the GPU memory inside a `tf.Variable` or `tf.constant`. However, I also want to update these data tensors after a number of iterations (*e.g.* a replay memory). For training, I the

[2016-06-09 12:35] maelp commented on #2754
I'm trying the following:

 - removing the `decode_jpeg` kernel from excluded list in Android (if for some reason we use the same kernels when building on iOS)
 - adding `tensorflow/core/kernels/decode_jpeg_op.cc` to `tf_cc_files.txt`

[2016-06-09 12:52] StephenOman commented on #2754
Can you try the model located here:
[https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip](url)

This is the one that is referenced in the Android example documentation and is working for me on iOS.

Re: Eigen. The hash was updated a few days ago. Are you running from the latest version?

[2016-06-09 12:54] maelp commented on #2754
The new file contains the proper model (although your link seems to be formatted weirdly, the `href` is not the same as the text of the link)

I still can't build the lib with the DecodeJPEG op for some reason, did you change something to the build file when you built it ?

Thanks for Eigen -- so I should update the hash in the Makefile, can you tell which one you are using?

[2016-06-09 13:04] maelp commented on #2570
@andrewharp the jpeg decoding libraries seem to be indeed excluded from build, but they are used in the ios example code, is there something to do to add them?

[2016-06-09 13:09] StephenOman commented on #2754
I've fixed my comment so the URL to the model is correct. Thanks for flagging that.

I didn't have to change either the Eigen hash or the build file. I simply checked out the code (master branch) two days ago and ran the build scripts, before opening the xcode project.

[2016-06-09 13:09] maelp commented on #2754
Also jpeg files seem to be explicitly removed in `gen_file_lists`

<https://github.com/tensorflow/tensorflow/blob/3c5233d54d3dc431bdee2a5756cc2f1f9b270503/tensorflow/contrib/makefile/gen_file_lists.sh#L22>

[2016-06-09 13:10] maelp commented on #2754
@StephenOman did you manage to run and test the model? The app builds fine, but then it crashes at runtime

[2016-06-09 13:10] StephenOman commented on #2754
Yes, have it running and working on my iPhone.

[2016-06-09 13:12] StephenOman commented on #2754
Did you try deploying on a device with the newer model?

[2016-06-09 13:15] maelp commented on #2754
Not yet, I'm rebuilding the lib, but I will test it with the new model

[2016-06-09 13:19] mostafachatillon opened #2758 "cuDNN DSO loaded in command line, but not by apache"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-09 13:39] bogdanteleaga commented on #2695
Thank you for the example, it did work and it is indeed faster :)
It does seem to be quite a struggle to get it exactly right, perhaps being able to pass tuples into the feed dict would help.

[2016-06-09 15:00] abezuglov commented on #2728
Same issue here. Using two Tesla K20c GPU's for training/evaluation. Each training session takes up to a GB of CPU memory which is never returned to the system.

[2016-06-09 15:03] keveman commented on #1178
@elfring Can you please clarify a few things? What ARE the "consequences" of the wording that you point to? i.e., can you give an example of what could go wrong if TensorFlow continues to use double quotes for header inclusion? Also, what do you mean by "duplicated file search"?

[2016-06-09 15:08] girving commented on #2034
@amineHorseman If importing numpy doesn't fit it, please file a different issue.  It is probably unrelated, unless you have reason to believe otherwise.

[2016-06-09 15:10] girving commented on #1423
@martinwicke I'm not sure I understand.  You suggested that it might be as simple as `force_gpu=tf.test.is_built_with_cuda`, which already exists.  What is missing?

[2016-06-09 15:12] girving commented on #2075
Someone who'd have to write a TensorFlow version of `np.unravel_index`, which could be called `tf.unravel_index`.  We might not do that soon, so PRs adding it would be welcome.  `tf.unravel_index` could either be a new C++ op or something written in Python.

[2016-06-09 15:13] martinwicke commented on #1423
Do we have a function telling you (easily) whether there is a GPU?
On Thu, Jun 9, 2016 at 08:11 Geoffrey Irving <notifications@github.com>
wrote:

[2016-06-09 15:20] girving commented on #1423
Ah, right.  Apologies for poor reading comprehension.  That other function doesn't exist as far as I know.

[2016-06-09 15:29] girving commented on #1066
I'm worried that either or both of `_FORCE_INLINE` and `_MWAITXINTRIN_H_INCLUDED` could cause strange regressions on other platforms.  What do they do?

[2016-06-09 15:31] girving commented on #2703
@jplu You might need a flag to bazel to get it to not suppress stdout.  Not which that that is, though; `bazel help build` doesn't make it obvious.  The high tech option is `pwd > ~/blah`.

[2016-06-09 15:35] shiviser commented on #2732
@zheng-xq I have already tried dropout, it didn't help. After a bit of research over the internet, I have come to know that torch had a similar [non-deterministic behaviour](https://github.com/torch/cunn/issues/84) with their SpatialMaxPooling operation but it has been fixed now. Perhaps something along the lines?

@girving Having said the above, and that this "non-deterministic behaviour" is not

[2016-06-09 15:40] girving commented on #2732
Reopened: We'd be happy to accept a PR adding a note to this effect.

[2016-06-09 15:46] shiviser commented on #2732
@girving Thank you for re-opening the issue but I believe tensorflow could do better than just documenting this, what seems to be an unintended non-deterministic behaviour. Also, I would have loved to work on the PR but will be too much digression from my work at the moment.

P.S.: Don't know if you saw my last edit - on the [same post](https://github.com/torch/cunn/issues/84) one can read that Ca

[2016-06-09 15:49] girving commented on #1095
Agreed, `gradient_override_map` is pretty ugly.  Separate issue from py_func, but so far I don't think we have either an internal or external bug tracking that ugliness. :)

[2016-06-09 15:50] shiviser commented on #2732
@girving Also we are not yet sure if it is actually the GPU reductions and not something else which is causing the non-deterministic behaviour - this need verification before allowing entry into the docs.

[2016-06-09 15:53] girving commented on #1423
Wrapping that up as `tf.test.is_gpu_available` would be great.

[2016-06-09 15:54] girving commented on #1450
@vrv: Reassigning to you per @zffchen78's request.

[2016-06-09 15:57] girving commented on #2732
@shiviser Let us know what you find out!

[2016-06-09 15:59] vrv commented on #1450
Pretty sure this is going to be hard for us to debug without being able to reproduce this.

I would suggest:
1) Upgrading your nvidia drivers
2a) Updating cuda to 7.5 and cudnn v4 and installing TensorFlow r0.9 or
2b) Updating cuda to 8.0 and cudnn v5 and installing TensorFlow from sources

and then try again.

[2016-06-09 16:04] girving commented on #2758
W'hat is the output of `python -c "import tensorflow; print(tensorflow.__version__)"`?

[2016-06-09 16:06] girving commented on #2294
@jihunchoi I don't know that anyone is working on currently.

[2016-06-09 16:07] #2754 closed

[2016-06-09 16:07] girving commented on #2745
What error message are you seeing?

[2016-06-09 16:09] girving commented on #2746
@ss32 Did I read that right that your build failed?  What was the error?

[2016-06-09 16:10] girving commented on #2750
@cgarciae That sounds like a great contribution.  What do you mean by hosting a patch?  It seems like it would be best as a separate repository.

[2016-06-09 16:12] vincentvanhoucke commented on #1122
There is now a `batch_norm` layer:
https://github.com/tensorflow/tensorflow/blob/b826b79718e3e93148c3545e7aa3f90891744cc0/tensorflow/contrib/layers/python/layers/layers.py#L100

[2016-06-09 16:13] vincentvanhoucke commented on #1074
Any updates, or should we close this?

[2016-06-09 16:14] #1171 closed

[2016-06-09 16:15] vincentvanhoucke commented on #776
I'm going to close this. Please reopen if the problem persists and more diagnostic information is available.

[2016-06-09 16:15] #776 closed

[2016-06-09 16:16] girving commented on #2756
Some of this is covered #206.  For single variables and unordered sets of elements `tf.scatter_update` is the right thing, and #206 proposes `tf.assign_slice_*` which cover what you want.  Our hope is to make most of these available with something like `x[i].assign(...)`, but there are a few steps before we get there.

If your satisfied with #206 I'll close as duplicate, but let me know if not!

[2016-06-09 16:18] vincentvanhoucke commented on #1342
I don't think we have any plans to do this. In the absence of much interest, I'm going to close this.

[2016-06-09 16:18] #1342 closed

[2016-06-09 16:19] yaroslavvb commented on #2546
His solution seems like it would address the issue. At the same time, all the tests pass, so it's not clear TensorFlow actually uses curand for anything.

Simplest way to reproduce the warning:
`bazel test -c opt --config=cuda --test_output=streamed tensorflow/contrib/distributions:chi2_test`

[2016-06-09 16:21] zheng-xq commented on #2732
@shiviser, that particular kernel was fixed to be determnistics. I believe TensorFlow picked up the same fix. However, other Cudnn conv algorithms are still non-deterministic, since they use atomics inherently. Most frameworks may encounter them depending on the input and kernel shapes.

That being said, if your investigation reveals something else that is causing the problem, a PR to address the

[2016-06-09 16:22] vincentvanhoucke commented on #1192
Assuming issue has been addressed. Please reopen if not.

[2016-06-09 16:22] #1192 closed

[2016-06-09 16:24] yaroslavvb commented on #2546
I'll close it since it doesn't seem to affect anyone. The person who adds some cuRAND-using-op will discover this anyway since their bazel tests will fail

[2016-06-09 16:24] #2546 closed

[2016-06-09 16:24] elfring commented on #1178
There are different opinions about the handling of the involved implementation-defined behaviour.
* Will header files be also searched outside the specified include directories if double quotes are used for the discussed preprocessor statement?
* Is there a speed difference measurable if a file is not found there and the search will be retried with "the angle brackets inclusion method"?

[2016-06-09 16:26] girving commented on #2751
@martinwicke This seems like a Bazel issue.  Have you seen it before?

[2016-06-09 16:27] vincentvanhoucke commented on #1692
Pretty old unattended bug. Was the issue resolved?

[2016-06-09 16:28] vincentvanhoucke commented on #1967
Closing. Feel free to reopen if this is a feature request worth tracking.

[2016-06-09 16:28] #1967 closed

[2016-06-09 16:29] mrry commented on #2758
The problem is possibly caused by Apache or Flask not providing the necessary value of `LD_LIBRARY_PATH` to your Flask app. There are a couple of suggestions in [this Stack Overflow answer](http://stackoverflow.com/a/37731516/3574081).

[2016-06-09 16:29] vincentvanhoucke commented on #1956
Closing assuming there is no real action item here.

[2016-06-09 16:29] #1956 closed

[2016-06-09 16:30] vincentvanhoucke commented on #1398
There isn't going to be any updates to the course from the instructors beyond fixes at this point.

[2016-06-09 16:30] #1398 closed

[2016-06-09 16:49] petewarden opened #2760 "Provide variable scoping documentation"
This is to track a documentation request from an external user:

The section on variable scopes is pretty helpful and we have been using it to make more complicated nets more manageable. I think some information (could be informal, like a blog post) on best practices that perhaps Googlers are encouraged to follow in structuring their tensorflow code (e.g. for the purposes of speed, variable re-use

[2016-06-09 16:58] cgarciae commented on #2750
@girving The proposal is to eventually move the module `tensorbuilder.patches.tensorflow` out of TensorBuilder to a repo managed by the TensorFlow team, that way TensorBuilder can concentrate in being a wrapper that gives nice syntax to Tensor-based libraries.

[2016-06-09 16:59] nrahul commented on #2741
It seems to be fixed in the latest release 0.9.0

[2016-06-09 16:59] #2741 closed

[2016-06-09 17:00] keveman commented on #1178
@elfring Thanks a lot for bringing this to our notice. Those two issues are not high priority for us now, and unlikely to be the case in the foreseeable future. I am closing this issue for now. If we do see a real bug due to the double quotes inclusion in the future, we will definitely re-visit this, and of course we know whom to consult :)

[2016-06-09 17:00] #1178 closed

[2016-06-09 17:03] keveman commented on #2646
@llchan Thanks for your comments. I am closing this issue as there seems to be no outstanding action items. Feel free to open the issue if you feel that it has not been sufficiently addressed.

[2016-06-09 17:03] #2646 closed

[2016-06-09 17:04] cgarciae commented on #2750
Here is the code that patches all the functions in the `tf.nn` as methods of the `Builder` class, just so you have a taste of the kind of code involved
[code]

[2016-06-09 17:05] keveman commented on #2455
Closing the issue as there seems to be no outstanding action items. @StrivingMax feel free to open again if you feel that this has not been addressed sufficiently.

[2016-06-09 17:05] #2455 closed

[2016-06-09 17:07] girving commented on #2750
@cgarciae We wouldn't be able to support it, but it's possible it could go in `tf.contrib`.  @martinwicke What do you think?

[2016-06-09 17:07] keveman commented on #1810
@cuiguoxin Closing this due to inactivity and it seems to most likely be the same issue as #2646. Feel free to open it again if you can indeed reproduce with a recent version of TensorFlow.

[2016-06-09 17:07] #1810 closed

[2016-06-09 17:08] ss32 commented on #2746
I never got an error when building, but that test failed, yes.  The eigenvalue test worked, though.

[2016-06-09 17:11] keveman commented on #1535
@jlebar Can you please close this if you think that this has been addressed sufficiently in the latest TensorFlow?

[2016-06-09 17:21] kingtaurus commented on #2742
Closing the issue; should work properly now (provided you have a more recent version of `protoc`.

[2016-06-09 17:21] #2742 closed

[2016-06-09 17:22] yaroslavvb commented on #2746
@ss32 Your traceback is missing the bottom part with the actual error.

Possibly related -- `pip install` interacts with `bazel test`. In particular, if you do "pip install" to setup TensorFlow for development in _python_build, then `bazel test` will look inside _python_build for dependencies. You can recover the proper behavior by moving _python_build to _python_build.disabled

[2016-06-09 17:35] martinwicke commented on #2750
Since we cannot support it (and we would like to avoid confusion about that), it should not go into contrib. For now, keeping it in your repo makes the most sense. This is somewhat similar to PrettyTensor, but the DSL aspect is certainly nice -- it's been requested a lot.

[2016-06-09 17:39] ss32 commented on #2746
Full output of

`bazel test -c opt `//tensorflow/python:graph_util_test`

[code]

[2016-06-09 17:45] yaroslavvb commented on #2746
Sorry, the command should be
bazel test -c opt//tensorflow/python:graph_util_test --test_output=streamed

For reference, I just did installation from head, and it worked, here's the
full sequence of commands I used

# start new GPU TensorFlow build
mkdir /Users/yaroslavvb/tfimmediate_macbook
cd /Users/yaroslavvb/tfimmediate_macbook
git clone https://github.com/tensorflow/tensorflow.git
cd tensorfl

[2016-06-09 17:46] yaroslavvb commented on #2746
@ss32 what version of Python are you using? `is_abstract` seems like something that Python should provide

[2016-06-09 17:47] zheng-xq commented on #1692
I can confirm this is no longer an issue, so closing this issue.

@elanmart, feel free to reopen if you still see the problem with the latest TensorFlow, Cuda SDK and Cudnn library.

[2016-06-09 17:47] #1692 closed

[2016-06-09 17:50] alexatknit commented on #781
Throwing an error is not acceptable for my workflow.

[2016-06-09 17:57] cgarciae commented on #2750
1. I'll maintain it for the moment but leave the invitation open.
2. @martinwicke Yeah, its actually inspired by PrettyTensor (initially) but with some changes, the original README had this comment

A lot of problems I found with PrettyTensor is that its API was mutable, where as Tensor operations are immutable. So TensorBuilder is immutable, this makes creating an arbitrary number of branches tri

[2016-06-09 18:13] prb12 commented on #2037
I have the exact same software versions here, but don't get the NaNs.  Perhaps this is a hardware related issue, e.g. placement of ops on multiple GPUs?
@zheng-xq Are there any known multi-gpu issues with TF0.9/Cuda7.0/cuDNN4  ?

@weiliu620, @ethereon   Are you also running a multi-gpu config?

@ernest-tg  Could you please try running this with the environment variable CUDA_VISIBLE_DEVICES=0

Does

[2016-06-09 18:41] mrry commented on #2310
Closing as infeasible.

[2016-06-09 18:41] #2310 closed

[2016-06-09 18:44] HanyuGuo commented on #2706
Thanks. Do you have any suggestion on how to modify my code so as to place me on to the right track?

[2016-06-09 18:57] martinwicke commented on #2750
It is very cool. I have to look at the code more, we have always had issues
with special casing ops that don't work well with chaining (first arg not
what you expect, etc).
On Thu, Jun 9, 2016 at 10:57 cgarciae <notifications@github.com> wrote:

[2016-06-09 19:17] KnHuq commented on #208
Finally I have figured out how to use scan with batch. So I have written some simple code [RNN](http://knhuq.github.io/RNN.html) and [GRU](http://knhuq.github.io/GRU.html). Have conducted a little hack as Tensorflow was raising low level error.  The github repo is [here](https://github.com/KnHuq/Dynamic_RNN_Tensorflow)

[2016-06-09 19:32] dementrock commented on #2598
@girving No support as in no official support or it won't work at all? Seems like the following code at least compiles:

[code]

Any plan to support it in the future?

[2016-06-09 19:38] siddharth-agrawal commented on #1828
@concretevitamin @ebrevdo Added PR for `tf.log()`, let me know whether I'm on the right track.

[2016-06-09 19:53] hellf commented on #2726
Sorry for late answer.
Tensorflow version is 0.8.0.
I find similar OUT OF MEMORY issue here #72
Maybe It's because of assigning 2 workers on 1 GPU.
I'll update if it is solved.

[2016-06-09 20:01] davidzchen commented on #1157
I have started working on the CUDA autoconf. With this and Python detection, I think the only thing left that the configure script manages is whether to build with GCP support.

[2016-06-09 20:20] ss32 commented on #2746
@yaroslavvb 2.7.3.  There is something broken in my installation for sure.  I spun up a virtual machine and installed tensorflow via pip and it worked on the first try.  I'll have to go through and try to clean up what I've done and see if I can start fresh on my machine.

[2016-06-09 20:42] vladfi1 opened #2764 "Run train op multiple times"
I have some fairly large batch sizes on which I'd like to take multiple gradient steps. While I could easily do this with a python for loop, I imagine that there might be a more efficient method that doesn't involve transferring the data to gpu on each iteration.

@yaroslavvb has confirmed that putting the train op in the fetch list multiple times doesn't work, and suggested that I could save my i

[2016-06-09 20:48] ss32 commented on #2746
Solved with

[code]
From: https://github.com/tensorflow/tensorflow/issues/2016#issuecomment-215675850

[2016-06-09 20:48] #2746 closed

[2016-06-09 20:59] PhABC opened #2765 "Initializing all weight matrices for RNN"
It is currently impossible to initialize the input -> hidden connectivity matrix, and the hidden->hidden connectivity matrix in RNNCells. Indeed, these are generated automatically in tf.python.ops.rnn_cell._linear, which constricts the connectivity architecture. As an example, I would like to have an identity connectivity matrix for input->hidden (H), an all-to-all for H->H and another identity fo

[2016-06-09 21:00] jonchenn commented on #37
+10000

[2016-06-09 21:08] abidmalik1967 opened #2766 "Dataflow execution model for tensorflow"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-06-09 21:12] abidmalik1967 commented on #2766
I am thinking of  porting the tensorflow computation model to data-flow execution, e.g. codelet execution model or tasking execution model.

[2016-06-09 21:34] yaroslavvb commented on #2764
Updated [SO discussion](http://stackoverflow.com/questions/37644984/run-train-op-multiple-times-in-tensorflow/37645647?noredirect=1#comment62941927_37645647) with another suggestion

[2016-06-09 21:51] MInner commented on #2292
I want to notice, that after doing `tf.ConfigProto(allow_soft_placement=True, log_device_placement=True)` it does actually choose the device you specify (`gpu_n`) without "no supported kernel for GPU devices is available" error.

[2016-06-09 21:57] kingtaurus commented on #842
Quick workaround;
I believe some of visualization features of this tool can be handled directly within tensorflow (and combined with tensorboard) with a bit of effort.

Issues:
1. the layout is not ideal (and there are issues with layout of images in general);
2. extra code means an increased chance for mistakes;
3. it seems to make the processing much slower :);
4. it doesn't take into account ma

[2016-06-09 22:33] jbohart commented on #2745
This is error message:
TypeError                                 Traceback (most recent call last)
<ipython-input-66-aa3e49af45b1> in <module>()
     49
     50 if __name__ == '__main__':
---> 51   tf.app.run()

/Users/joe/anaconda/lib/python2.7/site-packages/tensorflow/python/platform/app.pyc in run(main)
     28   f._parse_flags()
     29   main = main or sys.modules['__main__'].main
---> 30   s

[2016-06-09 22:36] mschonwe opened #2768 "Checkpoint Restore blocked by changed default bias variable name"
### Environment info
Operating System: Ubuntu 14.04
Built from source (016da8c9b9f171235a528e3361b8068c693c5529)

Has there been a recent change that modified the default name of the bias variable from "bias" to "biases" (in the nn_ops.conv2d)?

When loading from a checkpoint there is an error:
tensorflow.python.framework.errors.NotFoundError: Tensor name "model/attention_decoder/Attention_0/fully

[2016-06-09 22:59] martinwicke commented on #2687
Have you run `bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg`? That's what creates `/tmp/tensorflow_pkg`.

As for other build systems: there are both contrib/cmake and contrib/makefile directories, but they're far from complete (only building the C++ parts or partial python), and we do not have the resources to maintain two build systems. If someone were to volunteer

[2016-06-09 23:05] dave-andersen commented on #10
Closed by #1771.

[2016-06-09 23:07] nikitakit opened #2769 "Bad example in docs for tf.multinomial"
I think this comment in the docstring for tf.multinomial is wrong:

[code]
Logits of [1, -1, -1] do not assign zero probability to class 1 and 2.  Additionally, multinomial op has no kernel for `logits` of integer type, which is what's happening here. (Note usage of 1, not 1.0)

Since I can't figure out what purpose this example serves, my suggestion would be to remove it entirely.

I'm using tens

[2016-06-09 23:12] psnegi opened #2770 "LookupError: No gradient defined for operation 'ScatterUpdate_675' (op type: ScatterUpdate)"
### Environment info
Operating System:  Ubuntu 14.04 TLS

Installed version of CUDA and cuDNN:
-rw-r--r-- 1 root root 189170 May 10 10:51 /usr/local/cuda/lib/libcudadevrt.a
lrwxrwxrwx 1 root root     16 May 10 10:51 /usr/local/cuda/lib/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root     19 May 10 10:51 /usr/local/cuda/lib/libcudart.so.7.5 -> libcudart.so.7.5.18
-rwxr-xr-x 1 root root 31159

[2016-06-09 23:14] tmc commented on #10
#1771 appears to be in the 'go' branch but not master -- what's the plan to merge that in?

[2016-06-09 23:17] andreesteva commented on #781
Was this ever implemented?

[2016-06-09 23:17] martinwicke commented on #1157
@davidzchen @damienmg that is exciting.

[2016-06-09 23:22] dave-andersen commented on #10
Realistically, TBD.  I've maybe found someone @ google who might be interested in taking ownership of the bigger picture of TF + go.  I think we're of a mind that the current state isn't what we need yet -- it's not integrated with the normal tests, nor is it go-buildable in the normal way.  Those are the major blockers to getting it into the main branch, but I think there's a further concern that

[2016-06-09 23:23] girving commented on #2745
@jbohart Could you give me the unmangled traceback?  Somehow you've managed to strip away all the file information showing what code is involved.

[2016-06-09 23:25] tmc commented on #10
Fair enough. I personally just wanted a way to execute graphs vs have python-level support.

[2016-06-09 23:25] girving commented on #10
Let's leave this bug open then, to go along with the bunch of other open language bugs that are much less far along.

[2016-06-09 23:41] girving commented on #675
Note for anyone who comes across this thread: `tf.map_fn` is an unrelated thing involving control flow, not something related to mapping over extra rank tensors.

[2016-06-09 23:44] girving commented on #2598
@dementrock The problem is that the registered gradient routines would get significantly more complicated if both sides were nonscalar, and we don't want to support that kind of complexity.  As discussed in #675, it's possible one could implement registered gradients with some sort of automatic machinery to map scalar gradient routines to nonscalar gradient routines, but this is a lot of work and

[2016-06-10 00:27] ismymajia opened #2771 "output ImportError libcudart.so.7.5. in window 7 pycharm"
### Environment info
Operating System:

     tensorflow in Ubuntu 14.04
     pycharm in window 7

Installed version of CUDA and cuDNN:

     cuda 7.5 and cudnn v4.0

If installed from binary pip package, provide:

1. Which pip package you installed.

     tensorflow-0.8-GPU-whl
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

     0.8

### Steps to reproduce
1. s

[2016-06-10 00:33] mrry commented on #2768
The easiest way to work around this is to specify a list of explicit variable names when creating your `tf.train.Saver()`. Creating a `tf.train.Saver` with no arguments is equivalent to doing:

[code]

The dictionary keys correspond to the names in the checkpoint file that will be read/written by the saver. You can customize the dictionary so that it matches your old checkpoint. For example:

[cod

[2016-06-10 00:33] #2768 closed

[2016-06-10 01:19] jeanharb opened #2772 "Please consider adding flatten"
Please consider adding [flatten](http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.ndarray.flatten.html) to `tensorflow`.

[2016-06-10 01:21] #2772 closed

[2016-06-10 01:33] amineHorseman opened #2773 "Segmentation fault on tensorflow 0.9.0"
Hello,
I installed tensorflow 0.9.0 from source in conda environment, It seems that the last comit didn't solve completely the problem, because I'm getting a segmentation fault while importing tensorflow (even if I import or not numpy and scipy before).

Note: this error occur only in tf 0.9, when trying tf 0.8, everything works well (but no GPU support for iOS in 0.8 version)

### Environment inf

[2016-06-10 01:52] vladfi1 commented on #2764
Your second answer solved my problem. Thanks for the help!

[2016-06-10 01:52] #2764 closed

[2016-06-10 02:41] yaroslavvb commented on #2764
For future reference, the solution was to use @yuanbyu 's persistent tensors to persist the input tensors between run calls

[2016-06-10 02:59] jmugan commented on #2342
I'm getting this same issue. What stuff did you try? I don't think that my variable names are too long.

[2016-06-10 03:01] jbohart commented on #2745
not sure best way to do this. i've attached the code i'm running to get the error.
Tried various combinations of: python -m trace --trace test.py and using import traceback with print_tb to no avail.
[test.py.txt](https://github.com/tensorflow/tensorflow/files/308247/test.py.txt)

[2016-06-10 03:11] nikitakit opened #2774 "Poor numerics in CPU tf.multinomial"
The CPU implementation of tf.multinomial seems to have numerical underflow/overflow when logits are outside of a certain narrow range. The usable logit range on my system is about -88 to 88, which is unacceptably small for my use case (where the logits come from an automatically-trained hidden layer).

For example:
[code]

Note that the index 5 is out of range (which is the _undocumented_ behavior

[2016-06-10 03:19] andrewharp commented on #2753
Are you trying to run a Tensorflow server on Android? Currently we only support the named Android libraries such as //tensorflow/core:android_tensorflow_lib -- it's not expected that others will compile for Android.

Also, as a note, Bazel 0.2.3 and below do not support Android NDK11. The next release of Bazel should, though.

[2016-06-10 04:29] jvmvik opened #2775 "Bazel fail to resolve submodule tensorflow"
It does not seem possible to build an Android application where TensorFlow r0.9 is a submodule.

The trick should have been to set the correct path prefix and give a repository name, but it does not work:

`tf_workspace(
  path_prefix = tensorflow_path,
  tf_repo_name = "@caloric_lab"
 )
`
Bazel: 0.2.1-homebrew
OSX El Capitan

WORKSPACE file:

[code]

BUILD file:

[code]

Thanks for your attention

[2016-06-10 04:34] nikitakit commented on #368
If I understand correctly, `tf.multinomial` is general enough such that a `tf.choice` is not necessary to implement sampled decoding.

Here is a snippet of code from my current project, which I believe corresponds to "sampled decoding", as requested here.

[code]

[2016-06-10 05:00] elfring commented on #1178
Can you imagine use cases where you would like to exclude the search in "local" directories?

[2016-06-10 05:33] suraj1990 opened #2776 "TensorFlow : Machine Translation example Segmentation fault (Core dumped)"
![cuda](https://cloud.githubusercontent.com/assets/5551707/15954993/e761dda4-2efa-11e6-8d70-a36a8ad02239.png)
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out o

[2016-06-10 05:43] suraj1990 commented on #600
I have tried with different batch sizes but it still crashes. I am running it on an AWS x2-large GPU instance which has 15 GB RAM. it fails in the read_data part of translate.py script. when I do htop, I see that the memory usage keeps increasing. Can you please tell me how can I run the machine translation example on smaller data? currently its running on training-giga-fren.tar

[2016-06-10 05:53] samfux84 commented on #2687
Thank you very much for your feedback.

I could now successfully reproduce the first building steps. I did a change in the CROSSBUILD file of bazel, such that it uses GCC 4.8.2 (I thought that bazel would take the compiler that is specified in the variable CC, CXX etc, but for some reason it ignored these variables and used GCC 4.4.7 instead). Further more I have changed the bazel.rc file accordin

[2016-06-10 06:04] lukaszkaiser commented on #600
Hi! Can you try using this option: --max_train_data_size=500000 ? It should reduce the training data size, and currently the whole data-set is loaded into memory. You can also modify the data-loading function to load it batch-by-batch instead of loading it all into memory at once.

[2016-06-10 06:12] vrv commented on #2751
also pinging @damienmg and @kchodorow  (did something change in bazel 0.2.3?)

[2016-06-10 06:12] vrv commented on #2687
Probably related to https://github.com/tensorflow/tensorflow/issues/2751 at this point -- let's de-dupe with that thread now.

[2016-06-10 06:12] #2687 closed

[2016-06-10 06:25] suraj1990 commented on #600
@lukaszkaiser thanks for your inputs. I do have one more query. Iets say I have stopped training  at perplexity 15. Now I will run some tests and if I am not satisfied with the results ad want to see how the results will be for perplexity of "8", I will keep for retrain. The training starts from checkpoint 50, that is at a higher perplexity (1700), whereas I expect it to start at perplexity "15" t

[2016-06-10 06:40] RahulKulhari opened #2777 "tensorflow - KeyError in nearest"
when i am running this code on small corpus i am getting key error because that key is not in dict and corpus vocab is also not that huge.

[code]
My output are like this:

[code]

vocab_length  = 1155
batch_size = 16
embedding_size = 128
skip_window = 5
num_skips = 4

valid_size = 16
valid_window = 100
valid_examples = np.random.choice(valid_window, valid_size, replace=False)
num_sampled =64

Can

[2016-06-10 07:37] tomrunia commented on #2756
Hi Geoffrey, thanks for your reply. I am satisfied with the conversation and proposed solutions in https://github.com/tensorflow/tensorflow/issues/206. You can close this one. Hopefully the assign operations will arrive soon!

[2016-06-10 07:41] jplu commented on #2703
The redirect command did the thing, I had to think about this solution before...

Anyway, here the path:

```/homes/plu/.cache/bazel/_bazel_plu/5fecb6612d2e95475ff53a54e377c3f7/tensorflow```

[2016-06-10 07:44] damienmg commented on #2751
It should have an external folder. This is not 0.2.3, what does `bazel version` says? By the way this should be fixed @HEAD also (an in 0.3.0rc2)

[2016-06-10 07:48] peterbraden commented on #1074
Please go ahead and close, I found a workaround. Thanks!

[2016-06-10 07:49] jiapei100 commented on #2751
@damienmg

I installed a bazel-0.2.3 release, and then rebuild bazel-git, and overwrite the installed bazel with my output/bazel.

[code]

So, do you mean, if I checkout 0.3.0rc2 now, bazel will successfully build through tensorflow?

cheers

[2016-06-10 08:08] damienmg commented on #2751
Yes either check out 0.2.3 tag or pull the new head (or the 0.3.0-release branch).

We rolled back a change that introduced since 0.2.3 for 0.3.0 because of those kind of symptoms.

[2016-06-10 08:11] jiapei100 commented on #2751
@damienmg
What if the current bazel-git? Will that work as well???
You don't have a 0.3.0 release here yet ~ [https://github.com/bazelbuild/bazel/releases]

[2016-06-10 08:16] damienmg commented on #2751
Yes it will work as well, we did the rollback yesterday.

Our release candidates are on GCS:  https://storage.googleapis.com/bazel/0.3.0/rc2/index.html

[2016-06-10 08:26] jiapei100 commented on #2751
@damienmg

I just have bazel-git built, and it seems only one single file is produced:
`Build successful! Binary is here: ... /bazel/output/bazel`

However, if I install bazel from the release [https://github.com/bazelbuild/bazel/releases](url)
I will get three files under  /usr/local/lib/bazel/bin
[code]

So, I guess bazel-complete.bash and bazel-real don't matter at all ?? I can just copy the bu

[2016-06-10 08:41] damienmg commented on #2751
output/bazel to /usr/local/lib/bazel/bin/bazel-real (you can replace bazel too won't matter much, but the actual binary is bazel-real).

[2016-06-10 09:17] jiapei100 commented on #2751
@damienmg
Great... It builds... Thank you ...

[2016-06-10 09:22] damienmg commented on #2751
@girving: is there a bazel test we could run to test those regression on ci.bazel.io?

I am adding building the build_pip_package script but that might not be enough since it failed at run time.

[2016-06-10 09:23] jiapei100 opened #2778 "Isn't current tensorflow-git r0.9?"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
cuda 7.5
cudnn 5.0.5

Build from source, tensorflow-git-master

Just use bazel to build tensorflow, which built out a version 0.8.0, instead of 0.9.0 ....

Shouldn't current git master build out 0.9.0, instead of 0.8.0?

Cheers
Pei