[2022-03-21 10:42] rick8pandey commented on #29524
I am sorry, I couldnt follow. Can you elaborate please?

[2022-03-21 10:42] chunduriv commented on #55270
@youssefelnaggar,

Could you please confirm if this issue is resolved for you? Thanks!

[2022-03-21 10:43] chunduriv commented on #55014
@snoreis,

Could you please confirm if this issue is resolved for you? Thanks!

[2022-03-21 10:47] gadagashwini commented on #54687
@SohaK,
When i tried to save the [Fine_tune_bert model](https://www.tensorflow.org/text/tutorials/fine_tune_bert) with same configuration as you mentioned, it has only one .pb file saved_model.pb. Size of the model ~3.3MB.
If you are customising the model and training it again. Make sure you have the same size data set. Thanks!

[2022-03-21 10:53] mohantym commented on #55305
Hi @chunduriv ! Could you please look at this issue? It is replicating[ 2.7](https://colab.sandbox.google.com/gist/mohantym/250cc06f9006f7f406e88a64a3d97988/unexpected-crash-on-unsorted_segment_join-due-to-invalid-value-of-num_segments.ipynb#scrollTo=fwNys377gUGZ), [2.8 ](https://colab.sandbox.google.com/gist/mohantym/d226528fd7dca6e208a7c9b3ebbc18c4/unexpected-crash-on-unsorted_segment_join-due-t

[2022-03-21 10:59] #49832 closed

[2022-03-21 11:04] ZeroExistence opened #55307 "[TPU] TPUClusterResolver Can't Resolve TPU Metadata When Using Regional GKE Cluster"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2022-03-21 11:09] youssefelnaggar commented on #55270
Yes. Thank you !

On Mon, Mar 21, 2022 at 4:42 AM chunduriv ***@***.***> wrote:

[2022-03-21 11:14] chunduriv commented on #55270
@youssefelnaggar,

Please feel free to close the issue. Thanks!

[2022-03-21 12:04] caligoig opened #55308 "I am getting the same errors with version 2.8.0 and python 3.9."
I am getting the same errors with version 2.8.0 and python 3.9.
I need to use class_weight cause of my data is heavily imbalanced.
If I run without the class_weight, no errors.
Is there solutions or workarounds for this issue?
Thanks

When using a list for class_weight, I got:
[code]
When using a dictionary for class_weight, I got:
[code]
These errors occur even when I give all classes a weight 1.

[2022-03-21 12:05] caligoig commented on #40070
I am getting the same errors with version 2.8.0 and python 3.9.
I need to use class_weight cause of my data is heavily imbalanced.
If I run without the class_weight, no errors.
Is there solutions or workarounds for this issue?
Thanks

[2022-03-21 12:06] #55308 closed

[2022-03-21 12:42] chunduriv commented on #55293
@roniesha1994,

We see that the issue [template]( https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyze the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced]. Thanks!

[2022-03-21 12:42] tilakrayal commented on #55303
@API92 ,
 In order to expedite the trouble-shooting process, could you please provide  code dependencies you are using as I was facing error to provide `input for the checkpoints`.Thanks!

[2022-03-21 12:43] mdanatg commented on #55278
Yes. When evaluating `a < b < c` Python calls something in the lines of `(a < b).__bool__()`, which only works in eager mode.

[2022-03-21 12:52] mazurick commented on #29524
I took the EDX micro purse on TinyML and it flushed out any problems I was having.

On Mar 21, 2022, at 6:42 AM, RickForRescue ***@***.***> wrote:

﻿

I am sorry, I couldnt follow. Can you elaborate please?

—
Reply to this email directly, view it on GitHub<https://github.com/tensorflow/tensorflow/issues/29524#issuecomment-1073741408>, or unsubscribe<https://github.com/notifications/unsubscribe-au

[2022-03-21 12:56] chunduriv commented on #55299
@mahmoodn,

We see that you are using old version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to 2.8.0 and let us know if the issue still persists in newer versions .Thanks!

Can you take a look at this [link1](https://github.com/Nuitka/Nuitka/issues/659#issuecomment-632275406), [link2](https://github.com/aleju/imgaug/issues/537#issuecomment-1064647150) which

[2022-03-21 12:59] mdanatg commented on #55278
Yep, Python has uses a bit of magic in this case. I find is easiest to explain by crafting a class with overloaded operators and running it:

[code]

BTW, the `max` case could be a feature requerst for autograph to replace `tf.maximum` - we do that for a few builtins like `len`, and it's a fairly straightforward change: http://google3/third_party/tensorflow/python/autograph/operators/py_builtins.p

[2022-03-21 13:05] bhack commented on #55278
It is still hard for an avg developer to understand that we probably want to collect this case as a new `Autograph` ticket.
Do you think that we could improve the string:
`OperatorNotAllowedInGraphError: using a `tf.Tensor` as a Python `bool` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.`

Sorry, I don't have access to the in

[2022-03-21 13:10] bhack commented on #55278
P.s. I would like to make a PR for both the cases but I will go for sure to abuse the CI with a blackbox impl as I've described in https://github.com/tensorflow/tensorflow/pull/55192#issue-1165231429.
And in this case it will require for sure  more CI cycles so this will go to slowdown the PR too much without locally executing tests.

[2022-03-21 13:10] mdanatg commented on #55278
Oops, edited.

Yes, improving the error message makes sense too; one challenge is that it comes from outside of autograph, and can be triggered from other places as well.

[2022-03-21 13:16] mohantym commented on #45218
@yangcheng ! Shall we move this feature request to closed status ?

[2022-03-21 13:16] tilakrayal commented on #55262
@DagonArises ,
I do not have access to the link you have provided. Could you please provide the required permissions to view the files.

[2022-03-21 13:26] bhack commented on #55278
@mdanatg Let me know how I could help you. If required I could spent/invest again many computing hours to rebuild TF with a fresh commit. I still think it will be faster for you with your build infra but if you don't have free slots give me some pointers I would try to rebuild "again" TF.

I see 3 activities here:
- Default enable `tf.autograph.experimental.Feature.EQUALITY_OPERATORS`
- Extend bui

[2022-03-21 13:35] expeon07 commented on #36219
Hi, anybody else experiencing the same problem? I have the following error when trying to run my TFLite micro model on an ESP32
`Only 1 subgraph is currently supported.
AllocateTensors() failed`
My model is a 3-layer LSTM.

[2022-03-21 13:37] feranick commented on #16587
Closing.

[2022-03-21 13:37] #16587 closed

[2022-03-21 13:40] mdanatg commented on #55278
It's definitely easier for me to test, though I'm not sure when I'll have the bandwidth. For very simple changes, I think it'd be ok to rely on the CI instead of building locally. BTW, I think basic building is a bit more practical on linux nowadays - especially if you use the [docker container](https://www.tensorflow.org/install/source#cpu-only); you don't need to build the whole pip package, jus

[2022-03-21 13:47] AB5247 commented on #54481
@sushreebarsa @jvishnuvardhan @karimnosseir Can anyone provide an update on the status of this issue or if someone will be able to take a look at it soon? Thank you.

[2022-03-21 13:56] caliari-italo opened #55309 "Node: 'model/conv1d/Conv1D' DNN library is not found."
**System information**
- OS: Linux Ubuntu 20.04:
- TensorFlow installed from pip
- TensorFlow version: v2.8.0-rc1-32-g3f878cff5b6 2.8.0
- Python version: Python 3.8.10
- CUDA/cuDNN version: NVIDIA-SMI 510.47.03    Driver Version: 510.47.03    CUDA Version: 11.6
- GPU model : [GeForce GTX 1650]

Hello, everyone.
I'm trying to run a  convolutional neural network on tensorflow but I'm receiving the c

[2022-03-21 14:01] ttdd11 commented on #55228
@gadagashwini it's a duplicate for sure. I opened a new ticket after basically no update for months. Will this get escalated in any way?

[2022-03-21 14:38] bhack commented on #55278
As we are not going to care/solve these build topics quite soon I need to invest many hours to rebuild again TF.

 For the fist point do you have a specific pointer for the tests I need to run/pass? Is `bazel test tensorflow/python/autograph/operator` enough?

As just `bazel test tensorflow/python/autograph/operator` already requires  more then 27k targets if the bazel estimation is correct:

`INF

[2022-03-21 14:44] aflah02 commented on #55259
Hey
I no longer have that code and i used a different process from scratch. I guess it's best to close the issue as your point is correct but I don't have the code as i overwrote it

[2022-03-21 14:52] mdanatg commented on #55278
I admit it's frustrating :( Most PRs rely on the internal build system, making it hard to get traction to improve the external one.

I'd say, just `tensorflow/python/autograph/operators:py_builtins_test` and `tensorflow/python/autograph/converterd:logical_expressions_test` (especially if you add a test in there). The main idea is to test that the code builds and runs, and let the CI catch any othe

[2022-03-21 14:59] #55030 closed

[2022-03-21 15:09] mohantym commented on #55309
Hi @caliari-italo ! Could you switch to Cuda 11.2 and CuDNN 8.1 and let us know the results ? Thanks. Attaching [tested configuration](https://www.tensorflow.org/install/source#gpu) for reference. Thanks!

[2022-03-21 15:15] bhack commented on #55278
It Is one of the "chicken or the egg" problem for community growing.

I will ping you when the compilation is done.

[2022-03-21 15:21] liumilan opened #55311 "can it possible improve the tf serving performance"
Now I train a recommend nn model offline ,and then predict it by tf serving on cpu online machine. There are 8 cores i just applied, and found it cost slow when predict it. More than 0.4% it costs 100ms when predict. The batch size request is 50. There are 167 one hot features and 3 full-connected layers.And the usage of cpu is also slow, it is only 20% usage.
How can i analyze the bottleneck of s

[2022-03-21 16:26] paolodavid opened #55312 "DeeplabV3 custom dataset, inference problem black images"
Good morning,

I want to train a custom dataset using deeplabV3.

I'm following this tutorial (https://sanjayparajuli27.medium.com/how-to-train-deeplab-on-custom-dataset-a40c41c4c6a3) for this dataset (https://www.kaggle.com/datasets/dansbecker/cityscapes-image-pairs) that I found on Kaggle, based on cityscapes.

There are images of 256x256 pixel in RGB colors, divided in 2975 imgs for training an

[2022-03-21 16:29] sachinprasadhs commented on #55178
@ranvirdesai , If your issue is resolved, could you please close this issue. Thanks!

[2022-03-21 16:34] bhack commented on #55194
See also https://github.com/keras-team/keras/issues/16219#issuecomment-1071827074

[2022-03-21 16:59] MadhuriPatil1694 commented on #55284
tensorflow model and the converted tflite model is at path https://drive.google.com/drive/folders/1BAGSERjLu5Qgrp47rXGJF8ByfLv9K33v?usp=sharing

[2022-03-21 17:00] AB5247 commented on #54481
@jvishnuvardhan Sorry, but this is not related to anything reported before and answered by @karimnosseir. TFlite with the Hexagon delegate is simply giving completely wrong results for the model I am working with, someone from your team will have to look at it and tell me what is going on. https://github.com/tensorflow/tensorflow/issues/36804 was a similar problem  and it was a bug that you eventu

[2022-03-21 17:04] karimnosseir commented on #54481
Sorry for the late reply as i was out of office and came back today. Will check it and update the issue.

Thanks

[2022-03-21 17:15] API92 commented on #55303
You should enter path to your bucket in Google Cloud Storage, because tensorflow doesn't support storing checkpoints locally on TPU. For example, I used this gs://dc795ab9-90a2-4cb9-b1dd-badcf556350b/init_scope_replica_id , but it deleted now. There is no other code dependencies for notebooks.

[2022-03-21 17:25] markub3327 opened #55313 "Redundant `create_padding_mask(inp)` masks"
Hello,

  in your tutorial about Transormer I think there are redundant `create_padding_mask(inp)` masks. The same mask is created for Encoder and Decoder too. Please look here:

[code]

It's the same padding mask created from `inp`. It's memory inefficient.

Link: https://www.tensorflow.org/text/tutorials/transformer#create_the_transformer

Thanks.
Have a nice day.

[2022-03-21 18:23] CloudyOverhead commented on #42146
I have sucessfully removed this warning on TensorFlow 2.5.2 by dynamically replacing the default autosharding policy, in case anyone is interested.

[code]

[2022-03-21 18:26] sachinprasadhs commented on #45931
Since subclassed model can not be serialized into JSON compatible config.
You can try serializing the bytecode like via pickle else if you want more secure way, you can consider overwriting the `get_config` and `from_config` methods and register the custom object to make Keras aware of it.

[2022-03-21 18:48] mohamedniyaz1996 commented on #42931
Wont it be a performance issue, if we were to load model for each processes rather than loading only once?

[2022-03-21 20:33] lauraht commented on #55308
Hello!
I saw this issue was closed; is there a solution or workaround for this issue?
If so, could you please also share the solution or workaround here? I would greatly appreciate it!
Thank you so much!

[2022-03-21 20:51] #55270 closed

[2022-03-21 20:55] Learningchipmunk opened #55315 "tfds.load Movie Lens Failed to establish a new connection"
I am executing the code on colab using the CPU configuration. Then, I execute this sequence of `pip install`:

[code]

**The Code That Caused the error:**

[code]

This is the error message:

[code]

[2022-03-21 20:59] #54822 closed

[2022-03-21 21:04] rohan100jain commented on #54506
Does tf.experimental.numpy.argmax work?

[2022-03-21 21:05] Learningchipmunk commented on #55315
Okay, I reported it directly to the tensorflow dataset github repository.

[2022-03-21 21:05] #55315 closed

[2022-03-21 21:28] BenBE commented on #55291
Hi @mohantym.

I'm looking at the TFLite C++ API right now for the project I'm working on. So let's look for example at [the TFLite C++ API](https://www.tensorflow.org/lite/api_docs/cc): When looking at the various symbols/types/functions there is a rough description of what things are doing. If I then follow up to look e.g. at the `tflite::InterpreterBuilder` at [here](https://www.tensorflow.org/

[2022-03-21 21:28] caligoig commented on #55308
Sorry, I posted by mistake as new issue, thats why I closed it.
It is related to issues/40070 and added there as comment.

[2022-03-21 21:40] mihaimaruseac commented on #55183
Hi.

These targets build internally with additional configs. We have integrated them in OSSFuzz in the past, see https://github.com/google/oss-fuzz/pull/1937 for the additional things we've done to make it buildable in OSS.

We are in the process of migrating these to something that can be properly built.

[2022-03-21 21:54] mihaimaruseac commented on #55132
I was OOO for the entire period this issue existed

Seems there was a typo when the GH advisories were created

[2022-03-21 22:35] bill-connelly commented on #40070
How I got it going in the end:

[code]

The real bug here is that the documentation on this very important feature is terrible.

[2022-03-21 23:11] chrisbutner commented on #45994
This repro, importing tensorflow in embedded python, seems fixed (via https://github.com/tensorflow/tensorflow/commit/c8cb67f4c27ec312d228a344ed124bb34cbee74b, @scdub). Thanks!

[2022-03-22 01:20] wangpengmit commented on #54361
No. `seed` determines the random-number *sequence* you'll get from an initializer. Two initializers sharing the same seed will give you the same sequence. (And different seeds lead to different sequences.)

[2022-03-22 01:46] MCMcCallum commented on #51825
I'm also experiencing this issue. I am unable to get a model trained using grouped convolutions and loaded via `tf.keras.models.load_model(...)`, to perform inference on the CPU. No issues with the GPU.

The error is: "Fused conv implementation does not support grouped convolutions for now."

I have tried enabling XLA, and I still experience this issue on the CPU.

[2022-03-22 02:03] gadagashwini commented on #55228
@ttdd11,
Closing this as its duplicate of #53844. Thanks!

[2022-03-22 02:41] #55178 closed

[2022-03-22 02:59] #54986 closed

[2022-03-22 03:02] mohantym commented on #55313
Hi @markub3327 ! Could you please post this [text](https://github.com/tensorflow/text/issues) repository?

[2022-03-22 03:32] mohantym commented on #47048
@Lucianod28 ! It is still replicating in [2.8](https://colab.sandbox.google.com/gist/mohantym/313d5ffc85b215b1d23d927bb23f92d0/github_47048.ipynb#scrollTo=5Ds8QUcrZ56q) version. Could you please post this on Keras repo and close the feature request here?

[2022-03-22 04:19] douzaikongcheng commented on #55123
@[chunduriv](https://github.com/chunduriv)
I didn't encounter this error when trying to deploy my model using pytorch mobile, but I encountered it when using tflite. I think it may be a memory problem. My model is not trained and does not need training. I just test whether it can run.Can you check it for me again? The model doesn't need to output the correct super-resolution image, as long as it c

[2022-03-22 04:20] douzaikongcheng commented on #55123
@[chunduriv](https://github.com/chunduriv)
I have uploaded my model and the whole code to GitHub. The link is as follows, https://github.com/douzaikongcheng/test_tflite.

[2022-03-22 04:55] mohantym commented on #55309
Ok. Please use 2.8.0 stable version with Cuda 11.2 and CudNN 8.1 . Are you loading Pytorch and Tensorflow simultaneously as this[ thread ](https://forums.developer.nvidia.com/t/loaded-runtime-cudnn-incompatible-with-version-used-to-compile-source/180462)suggests? Could you provide a simple stand alone code to reproduce this issue too?

[2022-03-22 05:06] markub3327 commented on #55313
Yes, I can create PR in tensorflow/text.

Thanks.

[2022-03-22 05:09] markub3327 commented on #55313
https://github.com/tensorflow/text/issues/863

[2022-03-22 05:47] tilakrayal commented on #55307
@ZeroExistence ,
Please move this issue to closed status, as commented above it has been resolved.Thanks!

[2022-03-22 05:50] tilakrayal commented on #55311
@liumilan ,
This issue is more suitable for TensorFlow tfx repo. Please post it on Tensorflow/tfx repo from [here](https://github.com/tensorflow/tfx/issues). Thanks!

[2022-03-22 05:55] tilakrayal commented on #55307
@ZeroExistence ,
Can you please take a look at this issue [link](https://github.com/tensorflow/tensorflow/issues/30869) with the similar error.It helps.

[2022-03-22 05:55] tilakrayal commented on #55307
Also please move this issue to closed status as it has been resolved.Thanks!

[2022-03-22 06:06] mohantym commented on #55313
Hi @gadagashwini ! Could you look at this issue?

[2022-03-22 06:08] chunduriv commented on #54763
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-22 06:15] chunduriv commented on #55147
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-22 06:21] gadagashwini commented on #55295
@slai-nick,
[This post](https://blog.tensorflow.org/2021/06/pluggabledevice-device-plugins-for-TensorFlow.html), introduces the [PluggableDevice](https://github.com/tensorflow/community/blob/master/rfcs/20200624-pluggable-device-for-tensorflow.md) architecture which offers a plugin mechanism for registering devices with TensorFlow without the need to make changes in TensorFlow code. Thanks!

[2022-03-22 07:00] alexlang74 commented on #55132
As these two advisories only affect the rc0 / rc1 version - do you think they should be removed, as no "production version" of TF is affected?

[2022-03-22 07:48] #54476 closed

[2022-03-22 08:37] shishaochen commented on #54361
@wangpengmit You saied "Calling the same initializer the second time will give different results". However, my code snippet created 2 independent initializers with the same seed instead of 1 initializer called twice.

[2022-03-22 08:38] MatchaCookies commented on #26546
same situation. I can only use tensorflow==1.4
did you solve it?

[2022-03-22 08:39] Roc-J commented on #26546
你的来信已收到，谢谢！

[2022-03-22 08:41] kobrineli commented on #55183
@mihaimaruseac
Hi. We have already found this patch and we succeeded to build these targets. We added `cc_test` like you did in this patch and added `linkopts = ["-fsanitize=fuzzer,address"]` into it. Also we used `-config=monilithic`, `-dynamic_mode=off` and added `libclang_rt.asan_cxx-x86_64.a` and `libclang_rt.asan-x86_64.a` to link options and succeeded to build targets only with `bazel build`

[2022-03-22 09:02] #45218 closed

[2022-03-22 09:10] mohantym commented on #43275
Hi @goodwilj ! This issue is getting resolved in the [2.8](https://colab.sandbox.google.com/gist/mohantym/5579c86990354a36bc2a52547dbc5ff6/untitled67.ipynb) version . Can we move this issue to closed status now?

[2022-03-22 09:39] mohantym commented on #14507
Hi @linearhit ! 1.x version are not supported any more . Can you please provide a simple standalone code  in the 2.8 version to replicate the issue?

[2022-03-22 10:07] mohantym commented on #18058
Hi @mbarnes1 ! 1.x are not supported any more. Can we move this issue to closed status as it is not replicating in [2.8 version](https://github.com/tensorflow/tensorflow/issues/18058)?

[2022-03-22 10:24] st3inum opened #55321 "distributed training with tensorflow on 'x' gpu makes loss 1/x"
I was trying to run a model on multiple gpu with `mirror strategy` of tensorflow.

I used a custom loss function like this:
[code]

with mirror strategy I train the model like this:
[code]

But if I run this on 4 GPU, my loss value becomes 1/4 times than the loss I get when run on single GPU. Does it fail to sum up the different losses from the different GPUs?

[2022-03-22 11:04] BILLXZY1215 opened #55322 "[TFLite] Failed to build iOS framework: thread-local storage is not supported for the current target"
Hi I use the [official guide](https://tensorflow.google.cn/lite/guide/build_ios) to build a framework for iOS, however, when I run this command:
[code]
I'm getting this error:

[code]

My System Info:

+ tensorflow: from master branch, the latest code
+ bazel: 5.0.0

I think a similar issue is #18356, however the solution didn't work for me, perhaps it works for tensorflow version below 2.0.

[2022-03-22 11:16] peter-jp commented on #54747
yes sure

[2022-03-22 11:18] chunduriv commented on #15910
@rwolst,

Please check [SparseMatrixSparseCholesky](https://www.tensorflow.org/jvm/api_docs/java/org/tensorflow/op/linalg/sparse/SparseMatrixSparseCholesky). Thanks!

[2022-03-22 11:22] NatanBagrov opened #55323 "`tf.image.non_max_suppression_padded` pads indices with a valid index value (0)"
`tf.image.non_max_suppression` returns a vector of surviving indices of dynamic shape.
To hold static shapes, you use `tf.image.non_max_suppression_padded` which returns a vector of surviving indices (and a scalar indicates the amount).

This vector however, is padded with zeros, to match the input shape (dimension 0).
Since [0] is a valid index in the input, I find it weird and confusing -- does

[2022-03-22 11:37] mohantym commented on #18849
Hi @xldrx !1.x versions are not supported anymore. You can follow [migration](https://www.tensorflow.org/guide/migrate) documentation to use features from the 1.x version in the 2.8 version. Please create a new issue if it is still replicating in the 2.8 version. Thanks!

[2022-03-22 11:46] gbaulard opened #55324 "Auto comment generation project - model training loop crash"
Trying to train a model in an automatic comment generation project, the training loop throws an exception.
This error has occured with 3 combinations of python/tensorflow versions, which I note below as (1), (2) and (3), as well as on both a conda env in Powershell and in the WSL Ubuntu command line.
It also happens on 2 different machines, both with the official (https://github.com/tech-srl/code2

[2022-03-22 11:47] dannybarash7 opened #55325 "AttributeError: 'arguments' object has no attribute 'posonlyargs'"
summary: while running locally the efficient net tutorial, the logs showed and error and asked to report to the tf team.
"AttributeError: 'arguments' object has no attribute 'posonlyargs'
WARNING:tensorflow:AutoGraph could not transform <function _create_pre_batch_dataset_fn.<locals>.get_dataset.<locals>.<lambda> at 0x7ff6443d2e60> and will run it as-is.
Please report this to the TensorFlow team.

[2022-03-22 11:55] sushreebarsa commented on #55321
@st3inum
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2022-03-22 11:59] #9968 closed

[2022-03-22 12:05] sushreebarsa commented on #55220
@gadagashwini I was able to replicate the issue on colab using TF v2.8.0 and tf-nightly ,please find the gist[ here](https://colab.research.google.com/gist/sushreebarsa/320fde521ea662be6a31e0c9d98ebc5b/gist55220.ipynb) for reference.Thanks!

[2022-03-22 12:09] sushreebarsa commented on #55234
@chunduriv I was able to replicate the issue on colab using TF v2.8.0 and tf-nightly, please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/1698f2822d4c658961418a0dd5b52f2d/55234.ipynb)  for reference.Thanks!

[2022-03-22 13:48] qmller opened #55326 "[Accuracy] round issue on tf.nn.conv2d, it does not return the same results for a kernel depth size < 8 vs kernel depth size > 16"
**System information**
- OS Platform and Distribution: Ubuntu 18.04 ($uname -a)
`Linux *** 5.0.0-37-generic #40~18.04.1-Ubuntu SMP Thu Nov 14 12:06:39 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

- TensorFlow installed from : pypi.org
- TensorFlow version: tested on 2.4.1, 2.6.0, 2.6.2, 2.8.0
  - tf.version.VERSION: "2.6.2"
  - tf.version.GIT_VERSION: 'v2.6.1-9-gc2363d6d025'
  - tf.version.COMPILER_V

[2022-03-22 13:49] AndryCU commented on #35211
Why when i traid to use TransformToGrayscaleOp i see a: **Unresolved reference: TransformToGrayscaleOp** error?

[2022-03-22 14:18] liming-developer-python commented on #31231
my skype gmail is lming2094@gmail.com

[2022-03-22 14:31] f90 opened #55328 "tf.nn.ctc_loss behaviour changes depending on whether dense or sparse labels are provided"
The [tf.nn.ctc_loss](https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss) changes its behaviour unexpectedly based on whether the labels provided are sparse or dense.

In particular, it accepts empty target label sequences in the dense version, and maximises (as one would expect) the log probability of the blank token at each time frame in the `logits` prediction matrix. It does not output a

[2022-03-22 14:36] gopalkalpande commented on #51736
[This link helped me](https://github.com/jasmcaus/opencv-course/pull/26#issuecomment-981225561)

1. reinstall scipy
2. shutdown and reopen jupyter server.

It worked for me. Thank you

[2022-03-22 14:51] snarb commented on #55216
@sushreebarsa  Hi. I have checked. The mentioned problem exists on 2.6 and 2.7, but not on 2.8. Thank you!

[2022-03-22 15:10] sushreebarsa commented on #55216
@snarb Thank you for the update!
Could you please move this issue to closed status as it is resolved for you?
Thanks!

[2022-03-22 15:20] snarb commented on #55216
@sushreebarsa  yes.  Resolved for me. Thanks

[2022-03-22 15:22] sushreebarsa commented on #55216
@snarb Closing this issue as it is fixed in latest version of TensorFlow.  Thanks!

[2022-03-22 15:22] #55216 closed

[2022-03-22 16:54] richhx opened #55331 "XNNPack delegate subgraph creation in TensorFlow Lite non-deterministically crashes when initializing tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.6.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone 13
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command b

[2022-03-22 17:17] caliari-italo commented on #55309
I ended up using the TensorFlow Docker image and it worked just fine.

[2022-03-22 17:19] ttdd11 commented on #53844
@gadagashwini do you need anything from us in order to escalate this?

[2022-03-22 17:27] wd846 commented on #54578
i run: bazel build  tensorflow/tools/graph_transforms:summarize_graph ,the same error.
bazel:6.0
cpu model,no GPU.
msvc 2017.

[2022-03-22 17:41] mihaimaruseac commented on #55183
Awesome.

We're planning to move these to rules that are better suited for OSS development, but it would take some time

[2022-03-22 17:42] mihaimaruseac commented on #55132
We also release nightlies and there are users that depend on them. A while ago we were asked to issue CVEs for fixes before a release too.

[2022-03-22 18:01] lu-wang-g commented on #35211
@AndryCU have you pulled in the lastest tflite support library, "org.tensorflow:tensorflow-lite-support:0.3.0"?

[2022-03-22 18:01] sachinprasadhs commented on #54747
Thanks for opening this issue. Development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-03-22 18:04] piEsposito opened #55334 "Cannot predict or serialize model that performs tf.image.resize after decoding image bytearray."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 (Google Colab)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.7.12

**Describe the current behavior**
When creating a mod

[2022-03-22 18:20] mihaimaruseac commented on #55208
spam

[2022-03-22 18:20] #55208 closed

[2022-03-22 18:22] mihaimaruseac commented on #55218
We are using bazelisk in our CI, symlinked to bazel as per instructions.

[2022-03-22 18:23] mihaimaruseac commented on #55240
This 404 is just a warning which can be ignored. We have multiple mirrors from which build deps are downloaded, this just says that one of them does not have the sought for target.

[2022-03-22 18:29] mihaimaruseac commented on #16139
@mohantym did you reproduce using TF v2 APIs?

[2022-03-22 18:31] #55321 closed

[2022-03-22 18:48] mtamburrano opened #55336 "undefined references on tflite x86_64 cross compiled with NDK Android toolchain"
**System information**
- OS Platform and Distribution: Linux Ubuntu 21.04
- TensorFlow version: 2.8.0
- GCC/Compiler version: Clang 9.0.8, from Android NDK 21.3.6528147

**Describe the problem**

I'm able to build `libtensorflow-lite.a` for Android x86_64, but when I try to link the library I get
[code]
If I build the lib without XNN delegate support, I got an error on NNAPI. If also disable NNAPI

[2022-03-22 19:23] AndryCU commented on #35211
@lu-wang-g SOLVED. I don't know why android studio don't said me that was avaible a newer version, anyway...thanks...

[2022-03-22 19:55] piEsposito commented on #55334
**EDIT 1: workaround**

Colab link: https://colab.research.google.com/drive/1_VF5TWbehTECy-33TjdzqQyoOvSOF0bZ?usp=sharing

It seems that a workaround is to save the model with the resize operation but receiving the tensor (not a tf.string tensor with the bytearray), then load it, wrap it into a model that receives the bytearray then save it again.

When the operation is already serialized and load

[2022-03-22 20:29] Gelesh commented on #55218
Bazelisk symlinked to bazel  , is a work around. @mihaimaruseac , could we have it somehow fixed,

[2022-03-22 20:32] Thijsvandepoll commented on #39906
Hi all,

I recently came across a similar problem where I had 2 models. One text encoder, and one classification head. I needed to implement some custom logic inside the `train_step`. The subclassed model looked as follows:

[code]

When calling `model.save()` on the instance, it cannot save the model because of the `ValueError` described above. One can only save the model if you have made a forwa

[2022-03-22 20:37] alexlang74 commented on #55132
Ok, so what do you suggest? It appears to me that the CVE database is not able to correctly track CVEs that occur in RC versions. Flagging unaffected releases like 2.7.1 affects security-conscious TF users who can't easily upgrade to the 2.8 line...

[2022-03-22 20:38] lu-wang-g commented on #35211
You're welcome!

[2022-03-22 20:46] lu-wang-g commented on #55123
@khanhlvg could you please help take a look at this issue?

[2022-03-22 20:55] mihaimaruseac commented on #55132
Can you add a local exemption for these CVEs?

[2022-03-22 21:04] andrei-micuda opened #55338 "Tensorflow installation in venv results in RuntimeError when importing the library"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile de

[2022-03-22 21:07] mihaimaruseac commented on #43661
This should be fixed by a989426ee1346693cc015792f11d715f6944f2b8

[2022-03-22 21:07] #43661 closed

[2022-03-22 21:15] andrei-micuda commented on #55338
Finally got a solution.
Not sure what I did different, but here are the steps that worked:
1. `python3 -m venv --system-site-packages ./venv`
2. `source ./venv/bin/activate`
3. `pip install --upgrade pip`
4. `pip install --upgrade tensorflow`

After that, the previous import step worked.

[2022-03-22 21:15] #55338 closed

[2022-03-22 21:23] mikekaylor98 commented on #23728
"Please, learn how to properly import libraries and functions"

So, why when I do it your way I get even more errors?

[2022-03-22 21:24] mikekaylor98 commented on #23728
So why do I get more errors when I do it your way?

[2022-03-22 21:46] bhack opened #55340 "Autovectorization fail with tf.vectorized_map and range"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2022-03-22 21:56] bhack commented on #55340
Just to expose a few reformulations it seems that we have some side effect with `tf.vectorized_map` in an autovectorizzation region.

This is working correctly instead:
[code]

This is failing
[code]

[code]

This is failing:

[code]
[code]

Moving Autovectorizzation to execlute `tf.vectorized_map`:

This is working
[code]

This is working:
[code]

This is working:

[code]

/cc @mdanatg

[2022-03-22 21:59] bhack commented on #55340
P.s. just a note the `tf.vectorized_map` example was derived from official example in docstring:

https://www.tensorflow.org/api_docs/python/tf/vectorized_map#examples

[2022-03-22 22:09] nnigania commented on #45940
For runs on single-host (single or multi-GPU using mirrored-strategy) we now support XLA around optimizer.apply_gradients . So now for even better performance we can do:

[code]
+@cheshire

[2022-03-22 22:12] AndryCU opened #55341 "Error Cannot copy to a TensorFlowLite tensor"
When i traid to process my model  got this error:
`java.lang.IllegalArgumentException: Cannot copy to a TensorFlowLite tensor (serving_default_conv2d_input:0) with 90000 bytes from a Java Buffer with 22500 bytes.`

Here are the libraries i'm using:
`implementation 'org.tensorflow:tensorflow-lite:2.8.0'`
   ` implementation 'org.tensorflow:tensorflow-lite-support:0.3.1'`
    `implementation 'org.te

[2022-03-22 22:13] caandewiel commented on #45940
@nnigania That’s great news! I was wondering what commit is responsible for achieving this behavior as I’m currently using an alternative backend and would like to replicate this behavior.

[2022-03-22 22:43] khanhlvg commented on #55123
@windmaple Could you take a look? Thanks!

[2022-03-22 22:51] wangpengmit commented on #54361
You mean the failure of the `assert np.allclose(w2_val, w4_val), 'W2 == W4?'` assertion? Ah sorry I missed that part. It hits the same problem as https://github.com/keras-team/keras/issues/15586#issuecomment-966577975 . Basically a recent change of V2 initializers in TF2.7 to use `tf.random.uniform` etc caused a reproducibility regression (because `tf.random.uniform`'s weird kernel-reused behavior

[2022-03-23 00:08] nnigania commented on #45940
TF2.7 we added this support to enable XLA around entire training step for models using mirrored strategy. Only gotchas were tf.summary statements and tf metrics which do reductions as XLA is still working to add support for them.

Also in the most recent TF2.8 release, support was added to enable XLA for model using the Keras compile/fit API as well which leads to significant performance benefits.

[2022-03-23 00:51] sseung0703 commented on #45940
@nnigania I was outdated so far. Now, I can remove a bunch of pseudo distributed things and make my code much clear!
Thank you for informing us 😚

[2022-03-23 00:57] karimnosseir commented on #55269
I am wondering if this is related to open sourcing the hexagon interface code, where some refactoring caused an issue here.

Few suggestions / questions:

1) Do you get the same issue when you run evaluation tool, benchmark tool using adb ?
2) Do you face same issue when running on older versions ?
3) Do you face same issue when using the precompiled aar ?

Thanks

[2022-03-23 01:40] windmaple commented on #55123
@douzaikongcheng are you using the [ESRGAN model](https://tfhub.dev/captain-pool/lite-model/esrgan-tf2/1) from TF Hub? That model can only take [50,50] input image because the model author fixed the dimensions when he did the conversion. If you want to use another dimension (or dynamic shape), you are going to have to retrain and re-convert the model (it's non-trivial work). The source code link i

[2022-03-23 02:06] xuwei1111 commented on #26600
I uninstall tensorflow-cpu==1.15.2 and tensorflow-gpu==1.15.2 completely, and then reinstall tensorflow-gpu==1.15.2 only. It works!

[2022-03-23 02:22] gadagashwini commented on #51573
@oracle3001

This error is more related to Microsoft C Compiler. Make sure MSVC 2019 PATH is properly set where the python is installed, so that cl.exe can be found. Thanks!

[2022-03-23 02:44] gadagashwini commented on #50744
@MisRight,

This issue is related to Python and Numpy version compatibility issue.
Tensorflow v2.4.1 source incompatible with Numpy version >=1.20.1. Tensorflow 2.4 support numpy ~= 1.19.5.

`pip install numpy==1.19.5`

[2022-03-23 02:45] ravikiranrao commented on #41802
@SlowMonk Are you able to figure out the above error? I too am getting a similar error when training tensorflow models.

[2022-03-23 03:19] tilakrayal commented on #55323
@NatanBagrov ,
 In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

[2022-03-23 03:27] mohantym commented on #55309
@caliari-italo ! Shall we move this issue to closed status then?

[2022-03-23 04:20] Cheril311 commented on #54506
@rohan100jain tf.experimental.numpy.argmax works

[2022-03-23 05:18] mohantym commented on #16139
Hi @mihaimaruseac ! I replicated using the migration document in compat.v1 mode . have not tried v2 APIs yet.

[2022-03-23 05:32] shishaochen commented on #54361
Got it!

[2022-03-23 05:32] #54361 closed

[2022-03-23 05:33] fig666 commented on #53844
device and focus isnt being registered properly due to disruptive intergrating users on the ios operating system

[2022-03-23 05:34] peter-jp commented on #54747
@mohantym I tried with 30 as batch size for 400 epochs but it also resulted in segmentation fault at 130th epoch.

Following is the result of enabling fault handler

Current thread 0x0000200000044cd0 (most recent call first):
  File "/home/peter/.conda/envs/peter_env/lib/python3.6/site-packages/h5py/_hl/files.py", line 443 in close
  File "/home/peter/.conda/envs/peter_env/lib/python3.6/site-packa

[2022-03-23 06:04] tilakrayal commented on #55326
@qmller ,
Can you please take a look at this SO link [1](https://stackoverflow.com/questions/40205497/why-conv2d-in-tensorflow-gives-an-output-has-the-same-shape-as-input), [2](https://stackoverflow.com/questions/34619177/what-does-tf-nn-conv2d-do-in-tensorflow) and the [link](https://www.tensorflow.org/api_docs/python/tf/nn/conv2d) which delivers the required information.It helps.Thanks!

[2022-03-23 06:35] mohantym commented on #55331
Ok @richhx ! This issue will be closed once PR #55330 is merged . Thanks!

[2022-03-23 06:59] #16751 closed

[2022-03-23 07:01] gadagashwini commented on #55313
@markub3327,
`dec_padding_mask` is expected. This padding mask is used to mask the encoder outputs.
dec_padding_mask is for input and target language
`dec_padding_mask = self.create_masks(inp, tar)`

[2022-03-23 07:08] ZeroExistence commented on #55307
Thank you @tilakrayal for checking! Moving this issue to close.

[2022-03-23 07:08] #55307 closed

[2022-03-23 07:09] jayagami opened #55343 "Normalization and BatchNormalization layer does not rescale or normalize inputs, am I missing anything?"
**System information**

colab with tf-2.8
[old-tf_env.txt](https://github.com/tensorflow/tensorflow/files/8330439/old-tf_env.txt)

---

**Describe the current behavior**

Normalization and Batch Normalization layer does not rescale or normalize inputs as excepted, the inputs barely not changing.

---

**Standalone code to reproduce the issue**

## Tensorflow:

###  Normalization layer
[code]

avg:

[2022-03-23 07:27] alexlang74 commented on #55132
Unfortunately, not. Our customers run 3rd party security scanners, like twistlock and aquascan. We can't make these tools add exemptions, and customers are typically wary of discussing "you know, this issue is not really an issue". I'd really hope we can address this in the CVE itself, by changing the affected versions to the correct value...

[2022-03-23 08:02] markub3327 commented on #55313
@gadagashwini
Now the snippet look like here:

[code]

The same thing with lower memory consumption and better way is:

[code]

[2022-03-23 08:19] qmller commented on #55326
Hi,
I took a look at the links you shared me. However, it does not answer to my request.
Link SO 1 is talking about : why the output dimension does not change if I change the depth of my kernel filter in a conv2d.
Link SO 2 is talking about :  conv2d implementation explanation

And nothing in the help documentation explains why the results are very similar (but different) for 2 x conv2d-concatenat

[2022-03-23 08:21] tilakrayal commented on #55250
@ranvirdesai ,
Can you please confirm whether this issue is duplicate of #55178?.Thanks!

[2022-03-23 08:30] sushreebarsa commented on #55296
@sachinprasadhs  I was able to reproduce the issues on colab using TF v[2.8.0](https://colab.research.google.com/gist/sushreebarsa/b2b115903e074e955da48c03125a59a1/copyfor-github-of-call_model_as_function_of_weights.ipynb#scrollTo=lM94qa2YPzKO) and [tf-nightly](https://colab.research.google.com/gist/sushreebarsa/9a0a49e29822bedc9fd467d7d0fde224/copyfor-github-of-call_model_as_function_of_weights.i

[2022-03-23 08:36] tilakrayal commented on #55292
@chunduriv ,
I have tried in colab with tf v2.8, v2.7, nightly and noticed that session is being crashed. Please, find the gist [here](https://colab.research.google.com/gist/tilakrayal/a0505cddfd9e7663e5c56e945b74b912/55292.ipynb). Thanks!

[2022-03-23 08:40] NatanBagrov commented on #55323
Hi @tilakrayal and @fig666, please see the following example code, together with output.
[code]

We expect boxes [1] and [0] to survive, because both with `score>0.5` and there is no overlap between them. When looking at the output, we see this:
[code]
It is not possible to understand from `indices` whether box [0] survived or it is just a padding. Only when looking at `num_survivors` you see that

[2022-03-23 08:45] reuvenperetz commented on #49832
Thanks!
I see I still have to use the MLIR converter flag of optimizations:
converter.optimizations = [tf.lite.Optimize.DEFAULT]

Otherwise, I get the same error.... is is possible to convert 16bits fake-quant layer without using the converter optimizations?

Thanks again.

[2022-03-23 08:59] #43663 closed

[2022-03-23 09:24] fig666 commented on #49832
converter optimisation isn't faulty by comparison. its the lack of proper devices and components that need adjustments and updating to better produce fast and reliable results without lagging or booting data.

[2022-03-23 09:29] mohantym commented on #55341
Hi @AndryCU ! Can you let us know after changing the resize factor to (300,300) instead of (150,150) in this line .

`.add(ResizeOp(150, 150, ResizeOp.ResizeMethod.NEAREST_NEIGHBOR))`

Attaching relevant thread for reference. R [1](https://github.com/ultralytics/yolov5/issues/6912) ,[2 ](https://stackoverflow.com/questions/66958808/fatal-exception-inference-cannot-copy-to-a-tensorflowlite-tensor-f

[2022-03-23 09:30] fig666 commented on #49832
Currently in the process of being in the conversion of getting help with better components and malware protection software for the issues currently being produced towards my keyboard system

[2022-03-23 09:50] fig666 commented on #55250
The model isn't duplicated or rescripted in any form but could be a test modification plugin. Are you having any complications with running it?

[2022-03-23 09:54] fig666 commented on #55250
Are you trying to mass script or group the code plugin for a infinite loop or machine learning module?

[2022-03-23 10:02] ranvirdesai commented on #55250
I was using a small dataset and it was giving problems, but when I used bigger dataset it worked.
Also changed python 3.8 to 3.7

[2022-03-23 10:02] #55250 closed

[2022-03-23 10:15] fig666 commented on #55250
for the time being i am satisfied with the resolution outlook of python.

[2022-03-23 10:39] LiranPo commented on #31173
Any updates on this? Still a very useful feature, and TF2.8 still doesn't have it :(
@omalleyt12

[2022-03-23 10:40] #55202 closed

[2022-03-23 10:47] tilakrayal commented on #55325
@dannybarash7 ,
Can you please take a look at this link [1](https://github.com/tensorflow/tensorflow/issues/53879) and [2](https://github.com/tensorflow/tensorflow/issues/48239) with the similar error.It helps.Thanks!

[2022-03-23 11:08] DanijelDomazet opened #55344 "Can't link with TF Lite C API static lib - undefined reference to `tflite::DefaultErrorReporter()'"
I've built the TensorFlow Lite **static** library, the **C API** version. Cloned [the sources][1] and called CMake while turning OFF the shared build flag (`DTFLITE_C_BUILD_SHARED_LIBS:BOOL=OFF`):
[code]
This built the `libtensorflowlite_c.a`.

I also linked all other `.a` sub-dependencies from the `_dep` directory into a single `libtensorflowdep.a` library (this includes `absl`, `clog` and all ot

[2022-03-23 11:14] #55309 closed

[2022-03-23 11:26] Ironbrotherstyle opened #55345 "How to convert Keras LSTM model into tf.nn.rnn_cell.LSTMCell model"
I have trained a LSTM model on pytorch, and converted it into Keras lstm model with `set_weights` method. The performance looks almost the same. However, I need to convert the model into lstm model with older tensorflow version (V1.xx), by using `tf.nn.rnn_cell.LSTMCell` method. What confused me was that I did not find any method that can load lstm weights from numpy like arrays. The only method I

[2022-03-23 11:37] DanijelDomazet commented on #55344
@sushreebarsa Any idea? Thanks.

[2022-03-23 12:09] caliari-italo opened #55346 "Opening GUIs on host machine using the TensorFlow docker image"
Hello everyone

I'm using TensorFlow gpu docker image and it is working just fine on my python scripts.
My issue is trying to open some GUI applications like spyder-ide.

The _Dockerfile_ used to build the image is:
[code]

and the docker arguments used to start the image are
[code]

But I'm getting the following error...

[code]

Any ideas how could I open GUIs on the host machine using the Tenso

[2022-03-23 12:42] liumilan commented on #55311
ok,link as below
https://github.com/tensorflow/tfx/issues/4759

[2022-03-23 12:44] FannySimoes opened #55347 "MirroredStrategy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-03-23 12:56] fig666 commented on #55311
give tf time adjusting to language input for the module response duration and input a specific time with notifications to alert tf who is working on malware prevention issues.

[2022-03-23 13:01] fig666 opened #55348 "unauthorized use of collsummarization of continued flow of indication."
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2022-03-23 13:03] #55348 closed

[2022-03-23 13:16] tilakrayal commented on #55311
@liumilan ,
Can you please close this issue, since it is already being tracked there? Thanks!

[2022-03-23 13:21] mohantym commented on #40268
Hi @hegman12 ! I used a representative dataset and changed signature type to uint8 to resolve the issue. Attaching[ gist](https://colab.sandbox.google.com/gist/mohantym/1323c3e138ab62713a4b05d1e5827255/untitled82.ipynb#scrollTo=yjiYrreF5Kt6) for [reference](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization).

[2022-03-23 13:58] AndryCU commented on #55341
@mohantym it's works  but, why change that value if my model was trained with images of 150x150 in greyscale with pixels values between 0 and 1???? Can you explain me??? Also who can i set each pixel value from 0 to1?? I will really apreciet it

[2022-03-23 14:02] AndryCU commented on #55341
@mohantym it's works but, why change that value if my model was trained with images of 150x150 in greyscale with pixels values between 0 and 1???? Can you explain me??? Also who can i set each pixel value from 0 to1?? I will really apreciet it

[2022-03-23 14:09] chunduriv commented on #55128
@deeplearner2022,

As suggested please refer this [link](https://github.com/tensorflow/tensorflow/issues/55128#issuecomment-1062547263) and also this is not a feature or bug for Tensorflow. Please feel free to close this issue. Thanks!

[2022-03-23 14:38] snyuryev commented on #47400
@yyoon
Tried you suggestion and got this error:
[code]

Any updates on this issue? What is the way to compile for arm64 simulator?

[2022-03-23 15:20] bwalsh1191 commented on #47554
I had this issue today as well and when I saved the model using `lstmModel.save("trainedLSTM.h5")` it did not give me this error and I am able to load the model in again for predictions

[2022-03-23 15:26] sachinprasadhs commented on #41553
The code which you are referring to is no longer exists in Master brach, update the details with the recent version and post the issue in keras-team/keras repo.

To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-03-23 15:47] sachinprasadhs commented on #47977
Thanks for opening this issue. Development of keras moved to separate repository https://github.com/keras-team/keras/issues

Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2022-03-23 15:59] #55137 closed

[2022-03-23 16:21] sushreebarsa commented on #55347
@FannySimoes
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-03-23 16:25] #55347 closed

[2022-03-23 16:28] sushreebarsa commented on #55304
@chunduriv I was able to replicate the issue on colab using TF v2.8.0 and tf-nightly , please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/c35a6c318840c96bfbf530f6b795a6cb/55304.ipynb).Thanks!

[2022-03-23 16:41] sachinprasadhs commented on #46255
This could be due to the different dtype in both the cases, `float32` vs `uint8`

[2022-03-23 18:45] mohantym commented on #55341
@AndryCU ! The tensor buffer size is determined by datasize (float32: 4bytes) * flat size of the tensor shape (1 * height * width * 1). (4x22500 = 90000 bytes) . Can you allocate a buffer size of 90000 bytes in above method and let us know?

`val imgData = ByteBuffer.allocateDirect(4 * 150 * 150 * 1 * 1);
`

[2022-03-23 19:05] awaisbajwaml commented on #55211
@Gelesh  this is training loss, not a validation one.

[2022-03-23 19:34] DanBmh opened #55349 "TF-lite conversion of complex abs layer not working with integer quantization with fallbacks"
I'm trying to optimize a speech-to-text Conformer model for tflite usage. Quantization of the model is working for _default_ optimization mode, but not when a _representative dataset_ is used. In this case it fails in inference with: `type != kTfLiteFloat32 (INT8 != FLOAT32) Node number 46 (COMPLEX_ABS) failed to prepare`

Shouldn't the model use the _float32_ fallback in this case, since I'm not

[2022-03-23 19:46] DanBmh commented on #55349
Fails as well when I'm replacing the `abs` with `spectrogram = tf.math.real(stfts) ** 2 + tf.math.imag(stfts) ** 2`:

 `RuntimeError: /workspace/tensorflow/lite/kernels/complex_support.cc:43 output->type != kTfLiteFloat32 (INT8 != FLOAT32)Node number 46 (IMAG) failed to prepare.`

[2022-03-23 21:03] Gelesh commented on #55211
, To my understanding, Early stopping is supposed to configured to monitor the loss function on validation , and called from CallBacks.  Please refer my earlier comments.

" _Early stopping is required when, validation loss is increasing to answer 'what is the time Early stopping is required to prevent overfitting ? '. Im sorry I dont understand the bug/issue being raised over here_."

@awaisbajwa

[2022-03-23 21:27] AndryCU commented on #55341
@mohantym sorry, can you explain better, i don't know what to do sorry

[2022-03-23 23:15] flippy1313 commented on #40125
I would like to take this issue and try to fix it.

[2022-03-23 23:59] yyoon commented on #47400
@yishuangP Could you take a look when you get a chance? Thanks.

[2022-03-24 01:55] tilakrayal commented on #55343
@jayagami ,
Can you please elaborate about your issue here.Also please confirm which output you are mentioning as the right one in both? It helps to debug the issue.Thanks!

[2022-03-24 01:59] yusenzhan opened #55355 "TF.data.dataset.cache(path) still uses memory despite the cache file path is given in tf2.8"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platfo

[2022-03-24 02:00] yusenzhan commented on #55355
If need any details, please let me know. Thanks

[2022-03-24 02:11] gadagashwini commented on #55065
@MTawfik93,
Use tflite_runtime 2.6 or higher. There shouldn't be any additional step to run the the delegate. Take a look at the guide to use Select TF ops is in https://www.tensorflow.org/lite/guide/ops_select#run_inference. Similar issue [#40157](https://github.com/tensorflow/tensorflow/issues/40157#issuecomment-956002355). Thanks!

[2022-03-24 02:59] #47467 closed

[2022-03-24 03:09] mohantym commented on #55336
Hi @mtamburrano ! Sorry for the late response. Could you rebuild the the your Cmake project with below changes and let us know the difference.

[code]

[2022-03-24 03:30] jayagami commented on #55343
Thanks for replying.

Well,  both Normalization and BatchNormalization layer in tf are not working.

according to BatchNormalization definition:

![image](https://user-images.githubusercontent.com/40586590/159834449-b71459b6-b513-4fec-bf9e-fa34742744dc.png)

In the outputs, the mean should be close to 0, and the variance should be close to 1. (ignore the gamma, beta……)
However, as you can see, the

[2022-03-24 03:31] jayagami commented on #55343
Also, I tried to set mean and variance

mean=0, variance=1.0

[code]
the output is

array([[1.],
       [2.],
       [3.]], dtype=float32)>

and
mean=100
variance = 1

[code]

output:

array([[-99.],
       [-98.],
       [-97.]], dtype=float32)>

besides, this output is different with examples in

[code]

outputs:

I am really confused.

[2022-03-24 03:37] mohantym commented on #55341
@AndryCU ! Sorry ,I was proposing these changes to have a buffer size of 90000 bytes automatically.

[code]

[2022-03-24 03:45] mcmanussean opened #55357 "@tensorflow/tfjs: Unable to load model"
Using Webpack to build a node app with @tensorflow/tfjs included, when using tf.loadLayersModel() the following error is received:

[code]

When looking into the node_module, it does appear that this is a bug in the tensorflowjs core code. This happens when trying to load a model via an http request or a direct file (since this is a node application)

[2022-03-24 05:16] HimGautam commented on #55190
Ok got it, I think when I will update to higher versions of tensorflow then these warning will go away automatically. Thanks for the assist.

[2022-03-24 05:16] #55190 closed

[2022-03-24 05:25] mohantym commented on #37134
Hi @xuexuanyu !
We are checking to see whether you still need help with this issue . Have you checked the above [comment](https://github.com/tensorflow/tensorflow/issues/37134#issuecomment-673887624) yet ?

[2022-03-24 05:27] douzaikongcheng commented on #55123
@[windmaple](https://github.com/windmaple)
Thanks

[2022-03-24 05:46] mohantym commented on #55344
Hi @DanijelDomazet !  Attaching relevant threads for reference. [1](https://github.com/tensorflow/tensorflow/issues/36661#issuecomment-631975005) , [2](https://github.com/tensorflow/tensorflow/issues/36661#issuecomment-585054685) . Can you also switch to g++ instead of gcc and let us know the results? . Thank you!

[2022-03-24 06:33] alexlang74 commented on #55132
Would it be possible to flag something like "TensorFlow 2.7.9" as affected release for these CVEs, if you still want to keep them around? It doesn't feel right either, but it would at least ensure that TF 2.7.1 users are no longer affected.

[2022-03-24 06:59] #48129 closed

[2022-03-24 07:08] gadagashwini commented on #55279
@amehrish,

Build Tensorflow C++ from source using

`bazel build -c dbg --config=opt //tensorflow:tensorflow_cc.dll`

[2022-03-24 07:21] gadagashwini commented on #52077
@bsarden,
[This post](https://blog.tensorflow.org/2021/06/pluggabledevice-device-plugins-for-TensorFlow.html), introduces the [PluggableDevice](https://github.com/tensorflow/community/blob/master/rfcs/20200624-pluggable-device-for-tensorflow.md) architecture which offers a plugin mechanism for registering devices with TensorFlow without the need to make changes in TensorFlow code. Thanks!

[2022-03-24 07:22] sushreebarsa commented on #55357
@mcmanussean Could you please post this issue in [tensorflow/tfjs](https://github.com/tensorflow/tfjs/issues) repo to get the right help there?
Thanks!

[2022-03-24 07:29] sushreebarsa commented on #55312
@paolodavid
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2022-03-24 07:43] #55311 closed

[2022-03-24 07:45] sushreebarsa commented on #55251
@elfringham Could you please let us know if we can close this issue as the PR is merged?
Thanks!

[2022-03-24 07:46] sushreebarsa commented on #55324
@gbaulard
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-24 07:46] mohantym commented on #7422
Hi @cancan101 ! Does [weighted_moments](https://www.tensorflow.org/api_docs/python/tf/nn/weighted_moments) api address this feature request?

[2022-03-24 07:54] sushreebarsa commented on #55355
@yusenzhan
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2022-03-24 07:59] #55023 closed

[2022-03-24 08:07] jiayugedede commented on #54325
I have the same problems, I have checked the driver(ok), cuda(ok), cudnn(ok), nccl(ok), all of these were normal operation. However, the distribution training was broken and frozen. It is so disappointing.

[2022-03-24 08:13] tilakrayal commented on #55346
@caliari-italo ,
Can you please take a look at this link [1](https://github.com/google/mediapipe/issues/1373), [2](https://github.com/google/mediapipe/issues/1373) and [3](https://github.com/tensorflow/tensorflow/issues/16658) with the similar error.It helps.Thanks!

[2022-03-24 08:47] jiayugedede opened #55358 "MirroredStrategy was not working."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `Yes`
- OS Pla

[2022-03-24 08:56] yanmxiang opened #55359 "tf2.0 dataset disable_eager_execution"
tf is 2.4.0
import tensorflow as tf
tf.compat.v1.disable_eager_execution()
with tf.device('/cpu'):
    dataset = tf.data.Dataset.from_tensor_slices([1,3,4,5,6,7,8])

@tf.function(autograph=False)
def iter_funs(ds):
    iterator = iter(dataset)
    return iterator.get_next()

with tf.compat.v1.InteractiveSession().as_default():
    with tf.device('/cpu'):
        xx = iter_funs(dataset)
        pri

[2022-03-24 08:59] nviswanathan15 commented on #40070
I used focal loss to handle imbalance as I was not able to use class_weight..

this link helped me:
https://www.dlology.com/blog/multi-class-classification-with-focal-loss-for-imbalanced-datasets/

[2022-03-24 09:08] elfringham commented on #55251
Yes, all good, can close.

[2022-03-24 09:08] #55251 closed

[2022-03-24 09:12] paolodavid commented on #55312
1.

[2022-03-24 09:14] paolodavid opened #55360 "DeeplabV3 custom dataset, inference problem black images"
Good morning,

I want to train a custom dataset using deeplabV3.

I'm following this tutorial (https://sanjayparajuli27.medium.com/how-to-train-deeplab-on-custom-dataset-a40c41c4c6a3) for this dataset (https://www.kaggle.com/datasets/dansbecker/cityscapes-image-pairs) that I found on Kaggle, based on cityscapes.

There are images of 256x256 pixel in RGB colors, divided in 2975 imgs for training an

[2022-03-24 09:14] #55312 closed

[2022-03-24 09:22] ddelange commented on #52973
From the GPU perspective:

- It looks like TensorRT won't work on ARM ([missing](https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64/) `libnvinfer` deb) ref https://github.com/tensorflow/tensorrt/issues/142#issuecomment-1077394968
- The rest of the [CUDA math libraries](https://developer.nvidia.com/gpu-accelerated-libraries) and `cuDNN` should be fine, they're al

[2022-03-24 09:31] gadagashwini commented on #46191
@willbattel,
Latest Tensorflow v2.8, [tf.keras.layers.experimental.preprocessing.Resizing](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Resizing) has `crop_to_aspect_ratio`

[code]

[2022-03-24 09:33] xjlupeter opened #55361 "About how does buffer size from Dataset.shuffle() influence Dataset.cache()"
Hi,
I find when I set `train_ds = train_ds.cache(filename='...')`
`train_ds = train_ds.shuffle(buffer_size=int(training_size/10)).batch(batch_size).prefetch(buffer_size=AUTOTUNE)`
During the first epoch of model fitting, what happened looks strange.

`Epoch 1/10
2022-03-24 16:54:22.982546: I tensorflow/stream_executor/cuda/cuda_dnn.cc:366] Loaded cuDNN version 8101
245/274 [=======================

[2022-03-24 09:55] PatriceVignola commented on #55226
@penpornk Another PR to add to the list: https://github.com/tensorflow/tensorflow/pull/55362

[2022-03-24 09:58] jayagami commented on #55343
I checked the code, could be a keras problem.

The call method is quite simple, seems it did not calculate mean and variance from input data.

https://github.com/keras-team/keras/blob/v2.8.0/keras/layers/preprocessing/normalization.py#L300-L306

[code]

and the mean is initialized as 0, variance is initialized as 1, unless you manually set it.

https://github.com/keras-team/keras/blob/v2.8.0/keras

[2022-03-24 09:59] #48068 closed

[2022-03-24 10:23] chunduriv commented on #51421
@hongye007,

TensorFlow Lite supports `depth_to_space`. For more details please refer [here](https://www.tensorflow.org/mlir/tfl_ops#tfldepth_to_space_mlirtfldepthtospaceop).

[2022-03-24 10:25] mohantym commented on #55349
Hi @DanBmh ! Can you please share the model along with code containing representative dataset to replicate the issue? I was going to propose these changes for [integer quantization.](https://www.tensorflow.org/lite/performance/post_training_integer_quant)  Thanks!

[code]

[2022-03-24 10:35] mohantym commented on #20867
Hi @raninbowlalala ! 1.x versions are not supported any more. It seems that it has been resolved in 1.15.3 from the above [comment ](https://github.com/tensorflow/tensorflow/issues/20867#issuecomment-716664588)though. Can we move this issue to closed status now?

[2022-03-24 11:16] tilakrayal commented on #55323
@sachinprasadhs ,
I was able to reproduce the issue in tf v2.8, 2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9e6dd3f8456e63e0245292ec3ad11c8b/55323.ipynb).

[2022-03-24 11:17] mohantym commented on #22838
I could replicate this issue in [2.8 version](https://colab.sandbox.google.com/gist/mohantym/7f529af5b3f5ad51a578856e84d8b434/gtihub_42694.ipynb) too .

[2022-03-24 11:22] tilakrayal commented on #55303
@API92 ,
Unfortunately we can reproduce the issue only in colab. Can you please provide the required checkpoints which are required for avoiding the above mentioned error.It helps to debug the issue.Thanks!

[2022-03-24 11:30] mohantym commented on #22459
Hi @pauldelmusica ! The above example on wave_to_spectrogram has depreciated now.  Can we close this issue now? Attaching [audio recognition ](https://www.tensorflow.org/tutorials/audio/simple_audio)documentation from the 2.8 version for reference. Thanks!

[2022-03-24 11:36] mohantym commented on #22838
Hi @rychnal ! The above example on wave_to_spectrogram (is there till 1.15) has been removed from the 2.x version now . Attaching [audio recognition ](https://www.tensorflow.org/tutorials/audio/simple_audio)documentation from the 2.8 version for reference.  Some lite examples on sound classification and speech recognition can be found from [here](https://github.com/tensorflow/examples/tree/master/

[2022-03-24 11:38] bjourne commented on #48129
Looks like it has been fixed in tf 2.9.

[2022-03-24 11:44] kevinsuedmersen commented on #37729
For me, it takes about 25 seconds to import tensorflow. Here is the output of `conda env export --no-builds`:
[code]

[2022-03-24 11:59] #26839 closed

[2022-03-24 11:59] #29626 closed

[2022-03-24 12:30] API92 commented on #55303
[model.zip](https://github.com/tensorflow/tensorflow/files/8341334/model.zip)
This checkpoints generated by notebooks itself in first call `train(strategy, False)` and used in second call `train(strategy, True)`. There is no need to use external checkpoints. But here is those checkpoints in attached model.zip.\
Don't forget to give "Storage Admin" role to "allUsers" in permissions of your bucket t

[2022-03-24 12:59] #27646 closed

[2022-03-24 12:59] #54343 closed

[2022-03-24 13:05] SJ-L commented on #53144
Same issue here.

[2022-03-24 13:39] ambarion commented on #47819
Same problem on tf 2.8. Exactly from deserialize part. What is really Frustrating is that the tf.compat.v1.disable_eager_execution() have to be required when you want to get some gradient information on **Keras model.** Because **you do not** give the GradientTape support on keras.

[2022-03-24 14:04] chunduriv commented on #55284
i was able to replicate the issue using TF2.8. Please find the gist [here](https://colab.sandbox.google.com/gist/mohantym/c9888d6e3d0a1a45e8390d72d6236464/github_55284.ipynb) for reference.

[2022-03-24 14:56] qmller commented on #55326
ping @tilakrayal

[2022-03-24 15:09] coreyjadams commented on #55230
Hi there, any thoughts on this?  Anything I can do to help?

[2022-03-24 15:18] gbaulard commented on #55324
Here's a link the minimal amount of files to launch the training : https://we.tl/t-lrwIEVS9Dw
Run this in a terminal at the root with python 3.6+, tensorflow 2.1+ installed.
`python -u code2seq.py --data data/java-small/java-small --test data/java-small/java-small.val.c2s --save_path models/java-small-model/model`

[2022-03-24 15:40] uzi0espil commented on #8369
I think this is a needed feature, stacking and transposing makes the code ugly and hard to read, where you can just say `concat(axis=1)`.

[2022-03-24 15:59] tonysung opened #55364 "benchmark_model: Could not create Hexagon delegate: platform may not support delegate or required libraries are missing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android 11
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung S21
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): n

[2022-03-24 16:07] chunduriv commented on #55276
@timatim,

Thanks for reporting. Created CL to fix above issue.

[2022-03-24 16:38] jurahul commented on #54325
Do you have any logs that I can look into?

[2022-03-24 16:43] sushreebarsa commented on #48119
@valkenburg Estimators are deprecated.Could you please refer to this [link ](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesEstimator)  and try to follow the [migration](https://www.tensorflow.org/guide/migrate) document for more details ?Thanks!

[2022-03-24 16:43] sushreebarsa commented on #48120
@valkenburg Estimators are not recommended for new code .Could you please refer to this [link ](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesEstimator)  and try to follow the [migration](https://www.tensorflow.org/guide/migrate) document for more details?Thanks!

[2022-03-24 16:57] swapnilsayansaha commented on #54868
No it still does not work. I am surprised so many tools exist to disable logging, yet TF cannot interface with these tools properly.

[2022-03-24 16:58] #54868 closed

[2022-03-24 17:50] dhruvgoel99 commented on #34962
Hi, I got the same error, i tried some solution to resolve them:
just comment out line 2163 & 2164
i.e.,
self.keras_model._losses = []
self.keras_model._per_input_losses = {}

[2022-03-24 18:30] cantonios commented on #54279
Is it just the gradient that's slow, or the entire convolution?

IIRC we simply extend the filter (filled with zeros) to match the dilation, so a large dilation would lead to large filters/gradients.  How "large" are we talking about?

[2022-03-24 19:48] SeeForTwo commented on #55138
Do you have any interest in contributing a PR for this?

I can add something to the documentation and add an example without clipping.

Changing the default (which would change behavior for existing users) is unlikely to be accepted.

[2022-03-24 20:01] DanBmh commented on #55349
The actual model is quite complicated, but I could implement a shorter example:

[code]

[2022-03-24 21:39] PatriceVignola commented on #55226
@penpornk How can pluggable devices implement the `Assign` op which uses the legacy variables? `TF_AssignVariable` already exists to implement `AssignVariableOp` which uses resources, but there doesn't seem to be an equivalent for the legacy variables. Should we add a `TF_AssignRefVariable` function?

[2022-03-24 21:40] yishuangP commented on #55268
Hi, looks like this is a python location issue. When you ran [configure.py](https://github.com/tensorflow/tensorflow/blob/master/configure.py), did you specify the location of python? You should specify it, otherwise the default one is used.

One possible scenario is that python 3 is used, but it is finding `/usr/bin/python` folder. Find your python3 path with `whereis python3` and maybe create a

[2022-03-24 21:59] #38761 closed

[2022-03-24 22:06] tylerjereddy opened #55366 "DOC: explain the meaning of model.fit() history tracking in a distributed scenario"
## URL(s) with the issue:

Perhaps most closely related to some of these docs pages:
  - https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit
  - https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#overview

## Description of issue (what needs changing):

There are fairly substantial docs about distributed training with tensorflow, including docs related to the `MultiW

[2022-03-24 22:38] wangpengmit commented on #55260
The solution should be similar to https://github.com/tensorflow/tensorflow/issues/14798#issuecomment-1047796247, an auto-gen tool that dumps `tf.vectorized_map`'s internal registration table to a markdown file.

[2022-03-24 22:43] wangpengmit commented on #55237
Thanks for identifying the problem! This is a reasonable feature request. Unfortunately I'm not sure we'll have bandwidth for it in the near term.

[2022-03-24 22:50] bhack commented on #55260
Yes but we also need to find an internal orchestration owner cause orchestration It is not opensoruce/visibile to the community

[2022-03-24 22:58] tylerjereddy commented on #55366
To make it a bit clearer why this can be confusing, the **exact** same code on a single MPI rank/node produces what looks to me like fairly sensible ML progress curvess--sure the overfitting is extreme because it is one GPU for a few minutes and a microscopic sub-sample of `imagenet2012`, but nothing nearly as wild as the multi-node/multi-GPU case.

![bench_epoch_rank_0_hostname_cn660](https://use

[2022-03-24 23:04] ttdd11 commented on #53844
@fig666 @gadagashwini I'm not sure if I follow the last point.

My questions:
1.  Anything I can do to help here?
2. Are there any other solutions to this that would allow us to load optimizer and model weights via a different mechanism so we can tune some models?
3. Is something that is being investigated in general?

[2022-03-24 23:05] tylerjereddy commented on #55366
I also almost wonder if an accuracy > 100 % warrants a warning message with suggestions for improvements/likely fixes, but maybe there are custom/debugging ML scenarios where that is valid.

[2022-03-24 23:59] #54264 closed

[2022-03-25 00:49] shps951023 opened #55368 "TensorFlow android throw java.lang.OutOfMemoryError when building project, but there's free 20GB memory."
![image](https://user-images.githubusercontent.com/12729184/160032113-66a91d3c-81cf-4ac0-a5e7-f4046f5da39c.png)

My process:
- Clone project from https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/android/test
- Click build button (My PC memory : 11.7/31.9 GB (37%))
- When building the memory only use 2GB, then it throwed error :
[code]
- My PC has hyper-v

Did I miss some key s

[2022-03-25 00:54] bhack commented on #55334
@piEsposito This is a very well old know issue and `decode_image`, `decode_jpg` and `decode_gif` are "unfied" you need to use `expand_animations = False`.
As you can see, the thread is active since 2017 https://github.com/tensorflow/tensorflow/issues/9356#issuecomment-298469582

[2022-03-25 00:57] AndryCU commented on #55341
It's work perfectly. Thanks, i only have to said that you wrote some lines in java, but, android studio detects it and convert to kotlin automatically.

[2022-03-25 00:57] #55341 closed

[2022-03-25 02:13] gadagashwini commented on #55313
@markub3327,
Would you like to contribute to this issue?
Or any suggestion or workaround to fix this issue.Thanks!

[2022-03-25 02:41] mohantym commented on #55349
Ok @DanBmh ! I used tf.lite.interpreter from version 2.8 instead of tflite.interpreter from tflite_runtime. Attaching resolved [gist](https://colab.sandbox.google.com/gist/mohantym/3a378726bd039b780f5691bb631906e1/untitled328.ipynb) for reference. Thanks!

[2022-03-25 03:12] jayagami commented on #55343
I re-checked the documentation and found it right in front of me, surprised I hadn't noticed this paragraph before.
I understand the need for this design, which is very different from torch. I should have paid more attention to these details.

[2022-03-25 03:12] #55343 closed

[2022-03-25 03:20] lnshi opened #55369 "Failed to build libtensorflow (v2.8.0 + bazel 4.2.1) from source on Apple M1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
`Apple M1`

- Mobile device (e

[2022-03-25 04:09] Muhammad-Ullah commented on #34374
But can you please share that how to get the labels.txt file in while converting the keras model to tflite?

[2022-03-25 04:41] froody opened #55370 "mlflow.start_run() cases internal XLA error on TPU v2-8 with TF 2.8.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): pre-installed on GCP TPU instance
- TensorFlow version

[2022-03-25 04:43] froody commented on #55370
issue in mlflow: https://github.com/mlflow/mlflow/issues/5528

[2022-03-25 04:59] #54916 closed

[2022-03-25 04:59] #55182 closed

[2022-03-25 04:59] #45935 closed

[2022-03-25 05:05] Havelet commented on #19760
Is there a clear way to solve this problem?

[2022-03-25 05:07] tilakrayal commented on #55358
@jiayugedede ,
Can you please provide the error log which you are facing issue.It helps to analyse the issue.Thanks!

[2022-03-25 05:26] jmmarschke opened #55371 "Feature request: Add left_side flag and functionality to tf.linalg.triangular_solve"
**System information**
- TensorFlow version (you are using): 2.8.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Add `left_side` flag and functionality to `tf.linalg.triangular_solve` as described in documentation for XLA TriangularSolve:
https://www.tensorflow.org/xla/operation_semantics?hl=sl&skip_cache=true#triangularsolve

**Will this

[2022-03-25 05:37] tilakrayal commented on #55361
@xjlupeter ,
Can you please take a look at this SO [link](https://stackoverflow.com/questions/64372390/what-does-buffer-size-do-in-tensorflow-dataset-shuffling) and [link](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#shuffle) which delivers the required information.It helps.Thanks!

[2022-03-25 05:58] markub3327 commented on #55313
@gadagashwini

Yes I can create PR.

[2022-03-25 06:36] raziel2k commented on #55268
Hi yishuangP,
thank you for your response. I have already tried to specify the location of python (trying different paths) but I don't think that's the problem since many python scripts are correctly executed before that problem occurs.

I have also already tried to create the symbolic link but it didn't help.

I tried to run the command `exec env - bazel-out/host/bin/external/build_bazel_rules_ap

[2022-03-25 06:45] gadagashwini commented on #55359
@yanmxiang,
When we call function `iter_funs()`, it returns always first element in the list. When we print iterator.get_next() inside the function it shows values of the datalist.

[code]
**Output**
[code]
Print the 3rd element
[code]
**Output**
[code]

[2022-03-25 06:49] Japottatweet311 commented on #22926
This is still open

[2022-03-25 06:59] #41535 closed

[2022-03-25 07:15] lauraht commented on #40070
Thanks @bill-connelly for sharing your code!

Using your code, I tested it out by giving all classes an equal weight 1.0 (I have 10 classes), as the following:
[code]
The created `class_weights_dict`, which is assigned to `class_weight` in `model.fit()`, is the following:
[code]
And I also verified that my true labels array `train_true_labels` contains only integers 0-9, as the following:
[code]
H

[2022-03-25 07:43] rickstaa commented on #41535
@google-ml-butler This is still an issue. @gustavo-dev can you please reopen.

[2022-03-25 07:58] yanmxiang commented on #55359
thank you very much answer my question.
another question is where to place the training process.
placed in&nbsp;&nbsp;iter_funs is error
placed outside of  iter_funs couldn't iterator
import tensorflow as tf tf.compat.v1.disable_eager_execution() dataset = tf.data.Dataset.from_tensor_slices([1,3,4,5,6,7,8]) @tf.function def iter_funs(dataset):   iterator = iter(dataset)   print(iterator.get_next()

[2022-03-25 08:34] mohantym commented on #41535
Hi @rickstaa ! This issue replicated in[ 2.3](https://github.com/tensorflow/tensorflow/issues/41535#issuecomment-682250730) even after saving the loading of the model. The same pattern was not observed in 2.8.

Anyway , I **removed the self.save_after_training condition from below snippet** in the train block and added a print line to show the model path name too. I was able to run without error t

[2022-03-25 08:55] ornob39 commented on #6541
Is there any workaround for GPU? Most of my computational cost is just going to compute FFT. PyTorch's implementation is also very fast.

[2022-03-25 09:15] sushreebarsa commented on #55360
@paolodavid Could you please post this issue in the tensorflow/models [repo](https://github.com/tensorflow/models/issues?q=is%3Aissue+is%3Aopen) to get the right help there?
Thanks!

[2022-03-25 10:06] gadagashwini commented on #55359
@yanmxiang, Glad that it answered your question. Will close this issue.
Could you open new issue by filling the template , Since the title of the issue is resolved. Thanks!

[2022-03-25 10:07] sushreebarsa commented on #53243
@kretes This issue is not replicating in TF v2.8.0 on colab ,could you please refer to the gist [here](https://colab.research.google.com/gist/sushreebarsa/e78dc37a7b63b9947c6d4b601d5eed17/tf27_debugging_cuda_error_illegal_address.ipynb) and confirm the same?
Thanks!

[2022-03-25 10:17] tilakrayal commented on #55366
@tylerjereddy ,
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2022-03-25 10:18] sushreebarsa commented on #52905
@MedAbdelkaderAbba This issue is not replicating in the latest TF versions, could you please refer to the attached [gist](https://colab.research.google.com/gist/sushreebarsa/84a9115a22ef18b875a277f558b9c1cd/52905.ipynb) and confirm the same?
Thanks!

[2022-03-25 10:36] DanBmh commented on #55349
Thanks, it is working for me with `tf.lite` instead of `tflite_runtime` and `v=2.8` as well. (I kept float32 input and output)
Do you know when `tflite_runtime=2.8` will be released?
My target is a RaspberryPi and using the full tensorflow installation isn't really feasible.

[2022-03-25 10:41] DanBmh commented on #55349
I also tried the export with the full model, which is working too, but the outputs are now incorrect.
Instead of predicting some text the model now only predicts _blank_ labels (normally the most common label), so it returns an empty text...
There was no problem with the default quantization approach without the representative dataset.
Do you have an idea about this?
Is it common that _int8_ quant

[2022-03-25 10:58] tonysung commented on #50940
[This problem](https://github.com/tensorflow/tensorflow/issues/50940#issuecomment-908498923) is still unfixed:

https://github.com/tensorflow/tensorflow/issues/51751

[2022-03-25 10:59] nicolasperezdeo commented on #53144
I am also having the same issue. After updating the `__init__.py` however, Pycharm does not pick up the changes... I am using `tensorflow-macos==2.8.0` in M1.

[2022-03-25 10:59] #43080 closed

[2022-03-25 11:27] mohantym commented on #55349
@DanBmh ! Regarding the Raspberry pi deployment and tflite_run_time 2.8 .You can check this [repo](https://github.com/PINTO0309/TensorflowLite-bin).

[2022-03-25 11:27] chunduriv commented on #55345
@Ironbrotherstyle,

This is not a bug or feature request, for any queries you may open this issue in tf discussion [forum](https://discuss.tensorflow.org/) as there is a larger community there. Thanks!

[2022-03-25 11:27] tilakrayal commented on #55368
@shps951023 ,
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel vers

[2022-03-25 11:47] anidh commented on #45658
Hi @sergorl,
I've been facing a similar kind of issue which happens randomly, I was wondering whether you were able to fix the problem?

Thanks,
Anidh Singh

[2022-03-25 12:04] #55276 closed

[2022-03-25 12:10] tilakrayal commented on #55371
@jmmarschke ,
Can you please elaborate about your Feature. Also, please specify the Use Cases for this feature. Thanks!

[2022-03-25 12:19] piEsposito commented on #55334
@bhack thanks, that worked!

[2022-03-25 12:45] shijy16 opened #55372 "Wrong definition of arg fixed_length in api_docs/python/tf/raw_ops/DecodePaddedRaw"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/api

[2022-03-25 12:47] chunduriv commented on #20219
@x10000year, Sorry for the late response.

`tf.scatter_nd ` supports half type. For more details please refer to this commit 5e28f0c5c83afc3ede7758b2b541777e719cb146. Thanks!

[2022-03-25 12:54] dandelin opened #55373 "Failed to call tf.convert_to_tensor for a tf.RaggedTensor with a PlaceHolder value"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2022-03-25 13:18] innat opened #55374 "Factor limit of `tf.image.adjust_contrast` and `tf.image.adjust_saturation`?"
- [tf.image.adjust_saturation(image, saturation_factor, name=None)](https://www.tensorflow.org/api_docs/python/tf/image/adjust_saturation)
- [tf.image.adjust_contrast(images, contrast_factor)](https://www.tensorflow.org/api_docs/python/tf/image/adjust_contrast)

Could you please help understand what is the **expected range** or **limit** of the `saturation_factor` and `contrast_factor` in the abov

[2022-03-25 13:33] chunduriv commented on #26839
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-25 13:43] #55359 closed

[2022-03-25 13:47] nirnayroy commented on #55374
I think contrast goes from -127 to 127 and saturation from 0 to 256, but need to confirm. Once confirmed, I can raise a PR that fixes the documentation.

[2022-03-25 13:52] mohantym commented on #55364
Hi @tonysung ! I see you have pushed **multiple versions of libhexagon_nn_skel.so** . Can you let us know the results with only one libhexagon_nn_skel.so ? Thanks!

[2022-03-25 13:59] #9916 closed

[2022-03-25 14:07] jinzzasol commented on #55067
@gadagashwini Can you look at this issue? or can assign someone else?

[2022-03-25 14:07] vanakema commented on #53144
You'll probably need to invalidate caches and restart. Your indexes are likely still from before the change. PyCharm index cache invalidations works differently with native interpreters it seems

[2022-03-25 15:03] karimnosseir commented on #55242
Hi @chao-camect

The issue is that TFLite converter uses saved model underneath, saved model doesn't guarantee order/names of tensors when loading the model, and that causes the issue.
Actually if you searched github you will even find other issues on older TF releases.

How to fix it ?
Because of this ordering / naming issue, TFLite now supports signature concept so you don't need to care about t

[2022-03-25 15:28] nicolasperezdeo commented on #53144
@vanakema I already did that but no luck... Any other idea?

<img width="567" alt="image" src="https://user-images.githubusercontent.com/32769401/160150987-a6edd25e-7450-4927-89cc-d8b2e3941be8.png">

[2022-03-25 15:30] vanakema commented on #53144
Oh I thought I saw someone else say that for whatever reason that style import doesn't work with the fix. Do you get autocompletes when you write something like `tf.keras.layers` in your actual code?

[2022-03-25 15:39] nicolasperezdeo commented on #53144
Yes, the autocompletes work.

[2022-03-25 15:40] nirnayr opened #55375 "tf.load_op_library doesn't load .so file and throws file not found error although the file exists"
[code]
**Describe the current behavior**

When the code below is executed
[code]
The first line prints `True` which means that the file exists. But the second line throws the following error.

`
 File "/home/ubuntu/venvpipe1v1/lib/python3.7/site-packages/tensorflow/python/framework/load_library.py", line 54, in load_op_library
    lib_handle = py_tf.TF_LoadLibrary(library_filename)
tensorflow.pyth

[2022-03-25 15:44] tonysung commented on #55364
Tried keeping only each one of `libhexagon_nn_skel.so`, `libhexagon_nn_skel_v65.so`, `libhexagon_nn_skel_v66.so`, both with their names unchanged, and with them all renamed to `libhexagon_nn_skel.so` (total 6 combinations). Same result:

[code]

[2022-03-25 15:46] schmiph2 commented on #55267
Unfortunately, these links didn't help me. The problem is really just with the [16x8 quantization](https://www.tensorflow.org/lite/performance/post_training_integer_quant_16x8) of the GRU layer. If I remove the GRU layer, I can use the 16x8 quantization. Furthermore, when I switch to 8x8 quantization, everything works fine (including the GRU layer).

If you want to test it yourself without the GRU

[2022-03-25 15:52] alexlang74 commented on #55132
Thank you, @mihaimaruseac ! Hope you'll be able to find the "propagation block"...

[2022-03-25 15:52] mihaimaruseac commented on #16139
We no longer support v1 APIs.

[2022-03-25 16:16] innat commented on #55374
cc. @qlzh727

[2022-03-25 16:19] sachinprasadhs commented on #54449
Variable store is nothing but the thread local store for the current variable scope and scope counts.
variable store will be maintained on a thread level so that it will not create any problem during multithread environments.

In your code when you change the `reuse=None`( which is equivalent to reuse = False) instead of `reuse=tf.AUTO_REUSE`, you will get the expected error outcome, if you want y

[2022-03-25 17:18] mattpotma opened #55376 "'Activation' object has no attribute 'kernel' applying regularization to MobileNetV3"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2022-03-25 17:44] jvishnuvardhan commented on #53834
@sachinkmohan Looks like one of the graph was set as a default graph and the code is using that graph (instead of second graph). If the two graphs are not intended to be interacting with each other then you can create them under two different scope as perform the tasks. Please check [this SO](https://stackoverflow.com/questions/46617667/how-to-run-multiple-graphs-in-a-session-tensorflow-api#:~:tex

[2022-03-25 18:21] mihaimaruseac commented on #55057
Can you reproduce the same failure with the latest tf-nightly? @nitins17 and @angerson and @perfinion have worked to switch TF to manylinux2014 / `dt8` (also tagging them in case they have some guidance here)

[2022-03-25 18:28] klorinczi opened #55377 "RuntimeError: module compiled against API version 0xe but this version of numpy is 0xd"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g

[2022-03-25 18:45] qlzh727 commented on #55374
@LukeWood as well.

[2022-03-25 18:49] jmmarschke commented on #55371
**Current functionality**
`output = tf.linalg.triangular_solve(matrix, rhs, lower=True, adjoint=False, name=None)`

With `matrix` either upper or lower triangular, solves equations of the form:

`matrix*output = rhs`

**Proposed feature**
`output = tf.linalg.triangular_solve(matrix, rhs, lower=True, adjoint=False, name=None, left_side=True)`

With `matrix` either upper or lower triangular,
solves:

[2022-03-25 18:50] grebaza commented on #45446
Sure thing. I will also upload changes into tensorflow-io's repo (as tensorflow requires io during its installation).

[2022-03-25 20:21] gmernov commented on #54714
I think it's not possible to upgrade CUDA version, because of i'm using latest Jetson JetPack. And it has it's certain version in. But i tried to build TF 2.7.3 using bazel =<3.99.0. The situation changed. Now it doesn't wait to the end to start linking process, but it does it on the run. Compiling,linking,compiling,linking. But it "hangs" somewhere in the middle of as well as TF 2.8.0 does.
So, s

[2022-03-25 20:58] caliari-italo commented on #55346
The problem was solved following https://github.com/spyder-ide/spyder/issues/17542#issuecomment-1077946055

[2022-03-25 20:58] #55346 closed

[2022-03-25 22:27] penpornk commented on #55226
@PatriceVignola

Looping in @wangpengmit for more info on variables.

[2022-03-25 22:47] wangpengmit commented on #55226
Resource and ref vars are very different, so my first thought is that `TF_AssignRefVariable` is probably needed.

[2022-03-25 22:54] PatriceVignola commented on #55226
I have a working prototype in a fork that I put in the kernels_experimental header. I can submit a PR if that's ok with everyone.

Also, my understanding is that ref vars are deprecated in TF2 and are replaced by resources at the python API level. Is that correct? But even though they are deprecated, some popular benchmarks like AI-Benchmark use a frozen TF1 model when running on TF2, which yield

[2022-03-25 23:03] bli00 commented on #36510
Experiencing similar errors on ai platform with A100s. Has this not been resolved or am I nuts?

<img width="755" alt="Screen Shot 2022-03-25 at 4 02 38 PM" src="https://user-images.githubusercontent.com/42384776/160212811-e36a6874-86dc-4b62-bc4e-5683286f8341.png">

[2022-03-25 23:23] wangpengmit commented on #55226
Yes, ref vars are deprecated at the Python level. Existing TF1 models may still be using them, so TF2 internals still support them.

[2022-03-25 23:35] penpornk commented on #55226
@PatriceVignola Oh, that's great! Please submit the PR and we can continue the discussion there (e.g., whether this needs to be an RFC, etc). Thank you very much! :)

[2022-03-26 00:16] bli00 commented on #36510
Can confirm that `MultiWorkerMirroredStrategy` works but `MirroredStrategy` don't.

[2022-03-26 00:19] sureshbhusare commented on #36510
I recently successfully used MultiWorkerMirroredStrategy
on an EC2 instance with multiple gpus and it worked. I used tensor-flow
version 2.8.0

 On Fri, Mar 25, 2022 at 8:17 PM Ben Li ***@***.***> wrote:

[2022-03-26 01:38] DESUP2 commented on #44023
If we don't use Interpreter.setNumThreads() as deprecated already then Interpreter.Options automatically collects data ? or new alternative method arrived.

[2022-03-26 01:59] #44266 closed

[2022-03-26 01:59] #48309 closed

[2022-03-26 01:59] #19478 closed

[2022-03-26 01:59] #19368 closed

[2022-03-26 02:33] PatriceVignola commented on #55226
@penpork I submitted a PR here: https://github.com/tensorflow/tensorflow/pull/55379

[2022-03-26 02:59] dfdavii commented on #23747
Hello guys, I am exporting model using the export_model.py file on the deeplab code on github. On netron, my model output is [1, 256, 256] as [ValYouW](https://github.com/ValYouW) got. I need to get [1,256,256,1]. How do I add expand my output in the export_file.py? Thank you

[2022-03-26 04:35] sadmankiba commented on #33129
Can anyone tell me why we are using x here?

[2022-03-26 04:41] jzhangc commented on #53093
I have the same problem: Adam optimizer would not work. Although SGD works, it does not actually optimize anything, i.e. loss does not improve over epochs.
Intel iMac 27 (2020, AMD Radeon Pro 5500 XT)
`[MPSGraph adamUpdateWithLearningRateTensor:beta1Tensor:beta2Tensor:epsilonTensor:beta1PowerTensor:beta2PowerTensor:valuesTensor:momentumTensor:velocityTensor:gradientTensor:name:]: unrecognized sele

[2022-03-26 05:50] mahmoodn commented on #55299
OK. Based on the solution proposed in link2, `np.random.bit_generator.BitGenerator` fixed the error. Thanks.

[2022-03-26 05:50] #55299 closed

[2022-03-26 06:34] PatriceVignola commented on #55226
New PR to add to the list: https://github.com/tensorflow/tensorflow/pull/55381

[2022-03-26 10:26] innat commented on #55374
@qlzh727 @LukeWood Could you please confirm the @nirnayroy 's reply?

[2022-03-26 10:54] chunduriv commented on #27646
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-26 11:06] #47618 closed

[2022-03-26 12:08] AdityaKane2001 commented on #53631
@

[2022-03-26 12:08] #53631 closed

[2022-03-26 13:22] edumotya commented on #40225
@godweiyang the short answer is that this is not supported. Please see #36621. I think the documentation is wrong since it states that sizes and strides are 1D tensors. I am not sure anyway, let see if someone else can confirm it.

[2022-03-26 16:03] emila2021 opened #55388 "module 'tensorflow_federated.python.learning' has no attribute 'reconstruction'"
Hello, I tried running this piece of code from the tutorial "Federated Reconstruction with Matrix Factorization" and an error arises.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-18-c29214822d98> in <module>
     23 def get_matrix_factorization_model(
     24     num_items: in

[2022-03-26 16:49] Cortlandd commented on #52989
I'm running into this same issue. Attempting to convert model to onnx.

` AttributeError: '_UserObject' object has no attribute 'add_slot'`

[2022-03-26 21:06] tushar-31093 commented on #53611
Yes this issue persists. Some of the devices it is not working at all.

[2022-03-27 01:24] gmernov commented on #54714
Can i ask you to help me to compile python3.8 module for aarch64 architechture with GPU CUDA support, if you can help me with ?

[2022-03-27 01:58] mohantym commented on #48089
Hi @jxtps ! PR #55254 which addressed this issue has been merged now. Shall we move this issue to closed status now?

[2022-03-27 03:01] luckysmg opened #55389 "TensorflowLite Undefined symbol: _TfLiteTensorCopy"
**System information**
Xcode13.3, complie app for arm64 iPhone

The step I following is here:
https://www.tensorflow.org/lite/guide/ops_select#ios

Demo code is here:
[iOSDemo 2.zip](https://github.com/tensorflow/tensorflow/files/8356734/iOSDemo.2.zip)

**Step to reproduce issue**
1. Download the zip,and `cd` to the project root folder
2. Run `pod update`
3. Compile project.
4. Get the error and c

[2022-03-27 04:50] mohantym commented on #50340
Hi @notooth1 ! Did you check  with [--define=no_tensorflow_py_deps=true](https://www.tensorflow.org/install/source_windows#bazel_build_options)  command too?

[2022-03-27 05:34] mohantym commented on #25415
Hi @noah003 ! Can you check these threads for MRCNN to tflite conversion.  [1](https://github.com/matterport/Mask_RCNN/issues/563#issuecomment-832002326),[ 2](https://github.com/matterport/Mask_RCNN/issues/563#issuecomment-571236568) . Thanks!

[2022-03-27 06:19] Srikeshram commented on #55376
I would like to work on this issue. Can you please assign it to me?

[2022-03-27 06:24] Srikeshram commented on #55371
I would like to work on this feature. Can you please assign it to me?

[2022-03-27 06:28] zhaozheng09 opened #55390 "tanh(float(7~8)) = 1.0000001 in XLA"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2022-03-27 09:58] PatriceVignola commented on #55226
3 new PRs:

https://github.com/tensorflow/tensorflow/pull/55392
https://github.com/tensorflow/tensorflow/pull/55393
https://github.com/tensorflow/tensorflow/pull/55395

[2022-03-27 15:09] tilakrayal commented on #55326
@chunduriv ,
I was able to reproduce the issue in tf v2.8, v2.7 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/c50b65c12977f1eabb7dd48ef387954a/55326.ipynb).

[2022-03-27 16:59] #55027 closed

[2022-03-27 17:25] ttdd11 commented on #55228
@gadagashwini This is why a new ticket was opened. If you look at the communication in the other ticket there isn't a single response from the assignee and it's just labelled awaiting tensorflower.

[2022-03-28 00:02] bill-connelly commented on #40070
@lauraht Sorry, I'm honestly still kinda confused as to how my one worked [and it really did, I've got the confusion matrix to prove it]. I don't understand how this dictionary of "labels" got mapped to the actually training dataset, as it's a one-hot encoded vector. i.e. how does the model know that the key [1] in the class_weights_dict is related training dataset of [0 1 0 0 0 0 0]?

[2022-03-28 01:24] maghsk opened #55398 "Calling `model.compile()` multiple times leads to memory leak"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2022-03-28 02:26] gadagashwini commented on #50737
@SianoP,

Given Function is in the doc and source code is same.

[code]
`<tf.Tensor: shape=(3,), dtype=float32, numpy=array([-0.99845153,  0.        ,  1.0015485 ], dtype=float32)>`

[2022-03-28 02:26] #50737 closed

[2022-03-28 02:53] gadagashwini commented on #52222
@mrnucleation, This issue can be due to several reasons,
1. out of memory: Limit the GPU memory growth
2. configuration Mismatch with CUDA/cuDNN
3. remove the cache folder ~/.nv/

[2022-03-28 02:57] gadagashwini commented on #55322
@BILLXZY1215,
Eigen bugs get reported here: https://gitlab.com/libeigen/eigen/issues

[2022-03-28 03:59] #55198 closed

[2022-03-28 04:57] tilakrayal commented on #55375
@nirnayr ,
Can you please take a look at this [issue1](https://github.com/tensorflow/tensorflow/issues/30488), [2](https://github.com/tensorflow/tensorflow/issues/45930) and also TensorFlow release is compatible with a certain version, for more information please take a look at the tested build [configurations](https://www.tensorflow.org/install/source#gpu).

[2022-03-28 04:59] Jobenjie commented on #41990
Hi, I have the same problem as you, did you solve your problem?

[2022-03-28 05:23] Jobenjie commented on #42428
你好，我也出现了和你一样的问题，请问你的问题解决了吗？

[2022-03-28 05:28] Jobenjie commented on #42428
Status: device kernel image is invalid

[2022-03-28 05:28] Jobenjie commented on #42428
Hi, I had the same problem as you, did you solve it please?

[2022-03-28 05:36] ZikeiWong opened #55399 "TFLite Failed to Allocate Tensor"
### 2. Code
I have an exported Frozen Graph .pb file, and converted it to tflite using
[code]
And I could not restore my model with
[code]

However, I can successfully reload my .pb file frozen graph by using
[code]
and also successfully generated result by

[code]

I've checked the node 11 of the .tflite file in Netron, but everything seemed fine.
![node 11](https://user-images.githubusercontent.

[2022-03-28 05:42] mohantym commented on #25939
Hi @2020testuser !  Python 3.7 is the minimum supported version now for the 2.x version images. Can we close this issue now?

[2022-03-28 05:44] utibeng opened #55400 "!saved_model_cli run command does not allow placeholder for --dir"
On Google Colab, I can run **!saved_model_cli show --dir {serving_location}**  having specified serving_location as a variable and the command yields the expected result.

However, when I try running **!saved_model_cli run --dir {serving_location}**, I receive the error
OSError: SavedModel file does not exist at: {serving_location}.

I can successfully run the command by replacing the {serving_loc

[2022-03-28 06:10] chunduriv commented on #55282
@LukasS91,

Thanks for reporting. Created [PR](https://github.com/tensorflow/tfx/pull/4773) to fix this issue. Thanks!

[2022-03-28 06:59] #55186 closed

[2022-03-28 07:00] chunduriv commented on #54856
@ArrowIntoTheSky,

This is an intended behavior and the same can also be seen in all cases mentioned below

Using `math` module

[code]

output:

[code]

Using Python

`print('Floor value for 0/0:',0//0)
`
Output:
[code]

Using `tf.math.floordiv`

[code]
Output:
[code]

[2022-03-28 07:25] tilakrayal commented on #55373
@chunduriv ,
I was able to reproduce the issue in tf v2.8, v2.7 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/ec9f4feafa9e373daf725ba6cbbbca74/55373-2-8.ipynb).

[2022-03-28 07:26] mohantym commented on #55399
Hi @ZikeiWong ! Could you check this [migration document](https://tensorflow.google.cn/guide/migrate/tflite) on converting frozen graphs to Tflite ?

[2022-03-28 07:43] ZikeiWong commented on #55399
Hi @mohantym! Thank you so much for your reply.

Yeah, I am sorry that I forgot to put my coverting code up there, and I've updated it.

I've tried to convert from frozen graph to tflite with:
[code]

I've also tried to convert my frozen graph to SavedModel first using
[code]
and then convert the SavedModel to tflite with
[code]
but ```interpreter.allocate_tensors()``` still gives me the same debu

[2022-03-28 07:56] tilakrayal commented on #55388
@emila2021 ,
In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2022-03-28 07:59] #55212 closed

[2022-03-28 08:10] chunduriv commented on #55299
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-28 08:22] gadagashwini commented on #55369
@lnshi,
Make sure you have installed Xcode app correctly from app store.

Try workaround mention on similar issue thread [#13514](https://github.com/bazelbuild/bazel/issues/13514#issuecomment-847917936)

[2022-03-28 08:28] lnshi commented on #55369
@gadagashwini thanks for the prompt reply.

Actually what is the difference between the below two commands:
[code]

and
[code]

The first one all is ok, but the latter one i run into this reported issue.

[2022-03-28 08:41] gadagashwini commented on #55377
@klorinczi,

This looks like numpy version 1.19.5 and TensorFlow 2.4 not playing well together.

Use `numpy ~= 1.19.2`

[2022-03-28 08:44] mohantym commented on #55389
Hi @luckysmg ! Have you force loaded the Select TF ops to your app after the "pod install" step?

[2022-03-28 08:45] luckysmg commented on #55389
Yes

[2022-03-28 08:47] luckysmg commented on #55389
emm，When I change it to the lastest version
[code]
It raise these error..
<img width="1105" alt="QQ20220328-164724@2x" src="https://user-images.githubusercontent.com/49340347/160361317-939261b8-df0e-47a7-9e42-b3cff5d49c04.png">
.

[2022-03-28 09:12] sushreebarsa commented on #48129
@bjourne Thank you for the confirmation!
Glad it is working fine for you.
Thanks!

[2022-03-28 09:22] sushreebarsa commented on #55324
@gbaulard
Could you please  open this issue in TF discussion [forum](https://discuss.tensorflow.org/) as there is a larger community  to get you the right help.
Thanks!

[2022-03-28 09:33] klorinczi commented on #55377
It seems, the problem was with sudo.
I have different module versions installed with sudo and with user install.

With sudo:
[code]

With user installed (without sudo):
[code]

Because I compiled with sudo:
`date && sudo bazel build --disk_cache ./cache //tensorflow/tools/pip_package:build_pip_package && date`

I compile again without sudo and works fine:
`date && bazel build --disk_cache ./cache

[2022-03-28 09:34] tilakrayal commented on #55346
@caliari-italo ,
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel v

[2022-03-28 09:48] sushreebarsa commented on #55376
@mattpotma
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2022-03-28 09:59] #36127 closed

[2022-03-28 10:48] mohantym commented on #55399
Hi Sachin! Could you please look at this issue? It is replicating in [2.7](https://colab.sandbox.google.com/gist/mohantym/b6d40ef800f27a5853c515fbf9104629/github_55399.ipynb#scrollTo=HBHgb24w3V3l) ,[ 2.8](https://colab.sandbox.google.com/gist/mohantym/69634a06b55281b56cb5f105e6152ab8/github_55399.ipynb#scrollTo=-DZ4o0WaCDIZ) and[ nightly](https://colab.sandbox.google.com/gist/mohantym/48c3236fb6c4

[2022-03-28 11:31] harshayelchuri opened #55403 "ValueError: Python inputs incompatible with input_signature"
I'm working with this On-Device Training with TensorFlow Lite
https://www.tensorflow.org/lite/examples/on_device_training/overview#setup

However, I customized the model. But, after customization, the following error is coming
ValueError: Python inputs incompatible with input_signature:
  inputs: (
    tf.Tensor(
[[ 9.       17.229916]
 [15.       10.601508]
 [15.       10.517618]
 [ 7.       26.8

[2022-03-28 12:06] gadagashwini commented on #55369
@lnshi,
`bazel build --jobs=10 --compilation_mode=opt --copt=-march=native //tensorflow/tools/lib_package:libtensorflow`

`--copt `or `--compilation_mode opt` is for passing args to to the compiler. This flag is for Bazel to build with optimization settings enabled with no debug information.

`bazel build --jobs 10 --config opt --cpu=darwin_arm64 --host_cpu=darwin_arm64 //tensorflow/tools/lib_pack

[2022-03-28 12:12] gadagashwini commented on #55377
@klorinczi,
Glad that its resolved.
Seems like this is not related to sudo. Its regarding the numpy version configured with sudo and pip3 binary package.
Closing as issue is resolved. Please feel free to reopen if still faces an error. Thanks!

[2022-03-28 12:12] #55377 closed

[2022-03-28 12:21] f90 commented on #55328
Yes, can confirm, I get
[code]
for box 4 (with sparse, non-empty labels)

Everything else runs fine. However, you didn't include the run with sparse and empty labels that I talked about above
[code]

[2022-03-28 12:45] f90 opened #55405 "tf.nn.ctc_loss is more numerically unstable when providing sparse instead of dense labels"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS BigSur
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.8
- Python version: 3.7

**Describe the current behavior**

`tf.nn.ctc_loss` can return `Inf` value for

[2022-03-28 12:47] f90 commented on #55405
To add on to this, this is a serious issue because the sparse label version currently runs 50x faster on GPU than the dense label version, but due to the above issue, cannot be used

[2022-03-28 12:57] sushreebarsa commented on #55372
@shijy16
Could you please mention the exact changes that are needed for the documentation and please specify some use cases ?Thanks!

[2022-03-28 12:59] tilakrayal commented on #55398
@maghsk .
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2022-03-28 12:59] #15613 closed

[2022-03-28 13:13] sushreebarsa commented on #55328
@f90 Thank you for the quick update!
I have included  the run with sparse and empty labels ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/ac978a66eecb697559954d57e8f7fa86/untitled293.ipynb#scrollTo=Rhxh24bipb4M).
Thanks!

[2022-03-28 13:36] f90 commented on #55328
No problem. I actually still see only the dense empty [labels](https://colab.research.google.com/gist/sushreebarsa/ac978a66eecb697559954d57e8f7fa86/untitled293.ipynb#scrollTo=F2JjoYpQF8RS&line=4&uniqifier=1) in the notebook. Do you want to link to the cell that you mean?

[2022-03-28 13:48] mtamburrano commented on #55336
hi @mohantym
I'm sorry but I'm not sure what are you trying to suggest. My project is an Android app, that uses some JNI cpp modules that I build through CMake, but I don't see the point to add `-DTFLITE_ENABLE_XNNPACK=ON` there because of course that CMakeList is not aware on that flag.
Instead, if you wanted to make me to build tflite for `arm64-v8a` arch instead than for `x86_64` like I was doi

[2022-03-28 14:12] mohantym commented on #35451
Hi @veonua ! I did not have access to tfrecords in above [comment ](https://github.com/tensorflow/tensorflow/issues/35451#issuecomment-570073048). But I did not find any issue in saving the encoder model from the image captioning example. Attaching [gist ](https://colab.sandbox.google.com/gist/mohantym/0e222185efa5771c740cf24041466e05/image_captioning.ipynb#scrollTo=Vrdtlh_-tdv-)for reference. Tha

[2022-03-28 15:20] sushreebarsa commented on #53243
@kretes Please refer to the TF [release](https://github.com/tensorflow/tensorflow/releases) note.
Thanks!

[2022-03-28 15:59] tilakrayal commented on #55400
@utibeng ,
Can you please take a look at this link [1](https://github.com/tensorflow/tensorflow/issues/22480), [2](https://github.com/tensorflow/serving/issues/491) and [3](https://www.tensorflow.org/guide/saved_model) which delivers the information.It helps.Thanks!

[2022-03-28 16:31] de-gozaru opened #55407 "TensorBoard Dev doesn't update upon delete operation"
Hi,

I'm using TensorBoard dev to log my training metrics. My TensorBoard version is `2.8.0`.

I log my data using the command
[code]

However, I noticed that once a version is created, and is apparent on TensorBoard dev, even if I delete it locally, it still exist on the online version. This behavior doesn't happen with local TensorBoard.

Is this behavior expected? is there a way to correct this

[2022-03-28 16:43] utibeng commented on #55400
Yes I have looked at them, but the issues are kind of different. In my case, I can replace the placeholder with the actual string and it works. So I am pointing at the right folder

[2022-03-28 17:41] mattpotma commented on #55376
Sorry I missed that. Cross posted to https://github.com/keras-team/keras/issues/16316. Closing this now.

[2022-03-28 19:38] PatriceVignola commented on #55226
@penpornk A simple PR that was opened a month ago. I think it flew under the radar.

https://github.com/tensorflow/tensorflow/pull/54746

[2022-03-28 20:02] jubjamie commented on #8854
May I suggest you put a pull request in to out this into the project and
update please? I'm not active on TF any more so won't be updating it. Cheers

On Mon, 28 Mar 2022, 20:32 Dennis Scheiba, ***@***.***> wrote:

[2022-03-28 23:18] jsmeredith opened #55414 "Known issues with new RUN_EAGER_OP_AS_FUNCTION feature"
This refers to the unified eager op/tf.function execution mode available for optional use in 2.9.

Tracking known issues here:

1. With CUDA enabled, unnecessary data transfers to/from the GPU causing additional slowdowns. (already under investigation)

[2022-03-29 00:42] pranavladkat opened #55417 "How to update tf.Variable inplace using custom op?"
Hi,

I want to write a custom op which updates the contents of `tf.Variable` inplace on a GPU (cuda) device. I haven't found any relevant documentation to achieve this, hence creating this issue. It'll be great if you can point me out to any relevant doc/code implementation for this.  I can do the same with assign op, but that requires creation of extra tensor and will prefer to update it inplace.

[2022-03-29 00:57] shijy16 commented on #55372
@sushreebarsa
The  argument `fixed_length`  is defined as a Tensor in the doc:
[code]
According to the execute result  of following code, `fixed_length` should be a positive int:

[code]
Execute Result:
[code]
Obviously, the argument `fixed_length` should be a scalar instead of a Tensor. After some research on the source code of DecodePaddedRawOp, I think it should be defined as:
[code]

[2022-03-29 01:27] Annoa-Fan commented on #24828
Thanx!!!

[2022-03-29 01:28] Annoa-Fan commented on #24828
Thanx!!!

[2022-03-29 01:44] wangpengmit commented on #49463
Guide updated.

[2022-03-29 01:44] #49463 closed

[2022-03-29 02:52] whoisltd opened #55419 "RuntimeError: Encountered unresolved custom op: StridedSlice."
### 1. System information

- OS Platform and Distribution: Linux Ubuntu 21.10
- TensorFlow installation: pip
- TensorFlow library: 2.8.0

### 2. Code
        original = img
        height = self.input_details[0]['shape'][1]
        width = self.input_details[0]['shape'][2]
        img = cv2.resize(img, (width, height), interpolation=cv2.INTER_AREA)
        img = np.expand_dims(img, axis=0)

[2022-03-29 02:55] gadagashwini commented on #55220
@algoteam5,
Seems like issue is with custom loss function.
Since evaluate method takes x_test and y_test
`results = a.evaluate([x_test_1, x_test_2], labels_test)`
Change this to
`results = a.evaluate([x_test_1,x_test_2])`

[2022-03-29 03:07] mohantym commented on #55419
Hi @whoisltd ! Can you add the below line before converter.convert() to allow custom ops in Tflite conversion and let us know the result? Attaching relevant thread for reference . [1](https://github.com/tensorflow/tensorflow/issues/45321#issuecomment-737049073) , [2](https://stackoverflow.com/a/59801545/11530462). Thanks!
[code]

[2022-03-29 03:45] dobromyslova commented on #44750
Okay, I can confirm that latest build of TensorFlow is now working without an issues on RTX 3090 (8.6 compute capability)!

Thank you for the hard work!

Here is also some profile data from my runs:
### With tf-nightly-gpu
Install TF:
[code]

Results of run:
[code]

### With tensorflow-gpu
Install TF:
[code]

Results of run:
[code]

[2022-03-29 03:45] #44750 closed

[2022-03-29 03:47] whoisltd commented on #55419
what do you mean?

[2022-03-29 03:52] sanatmpa1 commented on #53112
@T-Almeida,

As the PR that you have submitted is merged, Can you confirm if we are good to close this issue? Thanks!

[2022-03-29 05:10] chunduriv commented on #54406
@ToonTalk,

This issue is fixed now. Please refer to the updated [blog post](https://blog.tensorflow.org/2022/02/boost-your-models-accuracy.html). Thanks!

[2022-03-29 05:23] mohantym commented on #55419
@whoisltd ! The conversion process looks fine to me.I was skeptical about the inference part actually  and needed either a sample model or the lite model for investigation. Below line in the stack trace is curious to me.

`  double free or corruption (!prev)`

Attaching relevant thread for reference. [1](https://stackoverflow.com/questions/50342405/error-in-python-double-free-or-corruption-prev-0x

[2022-03-29 05:30] harshayelchuri commented on #50511
I'm facing a similar problem, did your error got resolved?
 See https://github.com/tensorflow/tensorflow/issues/55403 for more details.

[2022-03-29 05:50] 1148330040 commented on #50511
Solved

Change it to the following form（One more '()'）:

![1648532978(1)](https://user-images.githubusercontent.com/34124260/160542276-7819e7af-39db-4005-8b81-43bf8d973dd7.png)

[2022-03-29 05:54] harshayelchuri commented on #50511
@1148330040 can you see https://github.com/tensorflow/tensorflow/issues/55403 and find out what exactly is causing the problem?

[2022-03-29 06:05] 1148330040 commented on #50511
sorry, i cant open your code, i use tf2.2, My mistake is missing a bracket. You can try it

[2022-03-29 06:09] harshayelchuri commented on #50511
@1148330040 I tried adding a bracket, but it's still not working

[2022-03-29 06:20] 1148330040 commented on #50511
show me your model code，not web，I can't open it

---Original---
From: "Yelchuri venkata sai ***@***.***&gt;
Date: Tue, Mar 29, 2022 14:10 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [tensorflow/tensorflow] ValueError: Python inputs incompatible with input_signature: (#50511)

@1148330040 I tried adding a bracket, but it's still not working

—
Reply to this email directly,

[2022-03-29 06:22] harshayelchuri commented on #50511
This is model code:
def __init__(self):
    self.model = tf.keras.Sequential([
        tf.keras.layers.Dense(24,input_shape=(2,), activation='relu'),
        tf.keras.layers.Dense(12,activation='relu'),
        tf.keras.layers.Dense(1,activation='sigmoid')])

This is error:
ValueError: Python inputs incompatible with input_signature:
  inputs: (
    tf.Tensor(
[[ 9.       17.229916]
 [15.       10

[2022-03-29 06:24] harshayelchuri commented on #50511
This is the class code:

class Model(tf.Module):

  def __init__(self):
    self.model = tf.keras.Sequential([
        tf.keras.layers.Dense(24,input_shape=(2,), activation='relu'),
        tf.keras.layers.Dense(12,activation='relu'),
        tf.keras.layers.Dense(1,activation='sigmoid')])
    self.loss_object = tf.keras.losses.BinaryCrossentropy(from_logits=False)
    self.optimizer = tf.keras.op

[2022-03-29 06:53] mohantym commented on #16139
Hi @cericson ! 1.x versions are not supported any more . Can you please create a new issue with the 2.x code base?

[2022-03-29 06:58] 1148330040 commented on #50511
# you can try this one:
# ==============================
max_len = 12
class MyModel(tf.keras.Model):
    def init(self, output_dim):
        super(MyModel, self).__init__(output_dim)
        self.dense1 = tf.keras.layers.Dense(24,input_shape=(2,), activation='relu')
        self.dense2 = tf.keras.layers.Dense(12,activation='relu')
        self.dense3 = tf.keras.layers.Dense(1,activation='sigmoid')

[2022-03-29 06:59] #55223 closed

[2022-03-29 07:00] 1148330040 commented on #50511
TF. No suggestion first keras.Sequential () and self built inherit from TF.Moudle is used in combination. I don't understand. Is this the code in the tensorflow tutorial?

This is very different. As for the reason, you can find it yourself. It's a process of progress for you.

Next @ tf.function (input_signature=() is to specify the format of input data of the model

It won't be with TF.keras.Sequ

[2022-03-29 07:02] lauraht commented on #40070
Thank you @bill-connelly!
I guess probably there may be a bug that only occurs under certain circumstances......

[2022-03-29 07:08] whoisltd commented on #55419
@mohantym
I was fix `double free or corruption (!prev)` follow [this](https://github.com/tensorflow/tensorflow/issues/6968#issuecomment-380319691) comment.
But i still have runtime error:
[code]

[2022-03-29 07:15] harshayelchuri commented on #50511
Thanks for the suggestions, but hen I changed the input signature from (None,1) to (None)  the program started working

[2022-03-29 07:30] 1148330040 commented on #50511
congratulations！~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "tensorflow/tensorflow"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年3月29日(星期二) 下午3:16
***@***.***&gt;;
***@***.******@***.***&gt;;
主

[2022-03-29 07:42] mohantym commented on #55403
Hi @harshayelchuri ! I think you have already resolved the issue by changing these lines.
`TensorSpec(shape=(10, 2), dtype=tf.float32, name=None) ,TensorSpec(shape=(10, 1), dtype=tf.float32, name=None)`
to
`TensorSpec(shape=(None, 2), dtype=tf.float32, name=None), TensorSpec(shape=(None, 1), dtype=tf.float32, name=None)`

[2022-03-29 07:54] gadagashwini commented on #55207
@whatdhack,
On colab i dont see any XLA related logs if I make `jit_compile=False `.
Take a look at [gist](https://colab.research.google.com/drive/1OpxbEb9csWAIlzNCFX8HG-xCt7CqFu8e?usp=sharing). Thanks!

[2022-03-29 08:23] freedomtan commented on #55364
as you can see from the [hexagon delegate page](https://www.tensorflow.org/lite/performance/hexagon_delegate), Samsung S21 (supposedly Snapdragon 888, which has Hexagon 780) is not supported.

[2022-03-29 09:00] harshayelchuri commented on #55403
Yes I resolved the issue, But the final code is this:
 @tf.function(input_signature=[tf.TensorSpec([None, 2], tf.float64),tf.TensorSpec([None], tf.float64)])

[2022-03-29 09:00] #55403 closed

[2022-03-29 09:00] nrailgun opened #55421 "How can I take CPU variable as input of a custom GPU operation?"
I want to hold embedding in DRAM and make a HBM cache for it.
So I registered a GPU only operation, and I want to it take a CPU resource variable as input.

[code]

[code]

But I got exception complaining no CPU OpKernel available.

[code]

How can I take CPU variable as input of a custom GPU operation?

[2022-03-29 09:00] harshayelchuri commented on #50511
Thank you!!

[2022-03-29 09:17] mohantym commented on #55419
@sachinprasadhs ! Could you please look at this issue? It is replicating in [2.7](https://colab.sandbox.google.com/gist/mohantym/2d5f401614bd971ef46d86f55cfcdecd/github_55419.ipynb#scrollTo=uHGXHgtNsGPN) ,[2.8](https://colab.sandbox.google.com/gist/mohantym/77e671c5950af663a844cda4cbf697b5/github_55419.ipynb#scrollTo=Kl6t5SPZpXXS) and [nightly](https://colab.sandbox.google.com/gist/mohantym/2d5dbe

[2022-03-29 09:32] aligirayhanozbay commented on #53275
@sachinprasadhs This issue still exists in Tensorflow 2.8, as seen in [the gist from my previous post](https://colab.research.google.com/gist/aligirayhanozbay/7ab0fcde7435f3de40cd74ba9b5b3688/53275.ipynb). Do you know if it may be fixed any time soon? Here's the stack trace from Colab:

[code]

[2022-03-29 09:42] gadagashwini commented on #54714
@gmernov,
You can use binary package with GPU support
`pip install tensorflow-aarch64`

[2022-03-29 09:46] tilakrayal commented on #8773
Can you please check this SO [link](https://stackoverflow.com/questions/33620794/how-to-build-and-use-google-tensorflow-c-api) with the similar issue.Thanks

[2022-03-29 09:49] tilakrayal commented on #27643
@neterium ,
Can you please check this [comment](https://github.com/tensorflow/tensorflow/issues/27643#issuecomment-519159209) and let us know if it helps.Thanks!

[2022-03-29 09:55] gadagashwini commented on #55369
@lnshi, Seems like issue is with Bazel.
Build Tensorflow with Bazel version 4.2.2 or 5.0.0.

[2022-03-29 09:59] #39605 closed

[2022-03-29 10:16] hadikoub commented on #42428
Hi,
As it turns out, TF2 GPU is not supported on older GPUs (I had Nvidia GTX 960m ). It only supports Cuda compute capability >=3.5
Refer: https://github.com/tensorflow/tensorflow/issues/41990#issuecomment-670626077

[2022-03-29 10:23] MonteChristo46 commented on #53144
Same issue her - I'm using Tensorflow 2.8.  The Workaround described above worked for me but in addition I needed to do the following in PyCharm:  _File->Invalidate Chaches -> Invalidate and Restart_. Takes a little while tough...

[2022-03-29 10:27] tilakrayal commented on #55398
@maghsk ,
please feel free to move this issue to closed status, so that we can track the issue there. Thanks!

[2022-03-29 10:50] AtilanoBurgos commented on #19216
buen día tengo el siguiente error, su ayuda sería de mucha ayuda.
ImportError                               Traceback (most recent call last)
<ipython-input-3-29f498619f5c> in <module>
      4 import keras
      5 import matplotlib.pyplot as plt
----> 6 import tensorflow as tf
      7 from keras import applications
      8 from keras.utils import to_categorical

~\anaconda3\lib\site-packages\tenso

[2022-03-29 10:53] v3551G opened #55422 "Parameter init_epoch can not be identified when calling model.train()"
Hi,
    I am trying to implement incremental training (when the model trained is stopped due to other reasons, I can retrain the model from the latest checkpoint). There, I used the parameter 'init_epoch' when calling model.train(). However, parameter 'init_epoch' can not be identified in Tensorflow2.4.0.
   I want to know which version of Tensorflow support parameter 'init_epoch'?

![scr](https:/

[2022-03-29 10:59] mohantym commented on #37975
Hi @Leslie-Fang ! This issue is getting resolved in the  2.8 version. Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/a78fe100d2ced4df36c31dbf7d2c03dc/untitled160.ipynb#scrollTo=oggjNRN6vJcQ) for reference. Thanks!

[2022-03-29 10:59] #55038 closed

[2022-03-29 11:49] #45931 closed

[2022-03-29 11:59] #50414 closed

[2022-03-29 12:03] fedlucchetti opened #55423 "Customize TF tensor multiplication"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Is there a way o customize/modify the tensor/matrix multiplication operation used through out tensorflow? Let's say whenever I am executing a forward pass on a given input, involving a sequence of tensor multiplications define

[2022-03-29 12:27] sushreebarsa commented on #51126
@FdyCN Is this still an issue?
Please refer to the [comment](https://github.com/tensorflow/tensorflow/issues/51126#issuecomment-896324362) above.
Thanks!

[2022-03-29 12:49] ldb1026 opened #55424 "TFLite allocate tensors fails: (CONCATENATION) failed to prepare"
### 1. System information

There is a problem in the pytorch model -> tflite quantization process, the model is a multi-input multi-output structure

The model inference process is shown in the code

`    def forward(self, input_x: torch.Tensor, tdnn_s0, tdnn_s1, tdnn_s1_2):
         model_in = input_x

        conv1_inputs = torch.cat([tdnn_s0, model_in], 2)

        conv1 = self.norm[0](self.rel

[2022-03-29 12:53] bhack opened #55425 "`pfor`/`tf.vectorize_map`: Improve feedback/hints messages when it `fallback_to_while_loop`"
**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):
Probably if I can talk with a codeowner of this namepace

**Describe the feature and the current behavior/state.**
As we are adding [a root cause message](https://github.com/tensorflow/tensorflow/pull/55192) on the cause we are going internally to rely on `fallback_to_while_loop`  it would be

[2022-03-29 12:58] DanijelDomazet commented on #54337
I still have this issue with `v2.8.0`.

[2022-03-29 13:23] GosuPaper opened #55426 "Bazel build error. Warning on retrieving an archive which is not found and then fails."
Hi fellow developers,

I am trying to build Tensorflow from source on Windows using the tutorial on the website (https://www.tensorflow.org/install/source_windows) but I have an issue when i get to the bazel build of tensorflow
I am using this command to build since I have cuda and cudnn installed on my computer. (When i did the ./configure it found them and I could specify the compute capability

[2022-03-29 13:50] GosuPaper commented on #55426
Problem solved here :
https://discuss.tensorflow.org/t/error-building-tensorflow-2-8-in-windows-10/7984/3

[2022-03-29 13:57] sushreebarsa commented on #55407
@de-gozaru Could you please post this issue on Tensorboard [repo](https://github.com/tensorflow/tensorboard/issues) to get the right help there?
Thanks!

[2022-03-29 14:07] mohantym commented on #16523
Hi @nikhilk ! tf.print does not print logs anymore. To get logs printed , you can use [tf.compat.v1.loggin_set_verbosity](https://www.tensorflow.org/api_docs/python/tf/compat/v1/logging/set_verbosity) . Thank you!

[2022-03-29 14:29] sushreebarsa commented on #55407
@de-gozaru Thank you for the quick response!
Please move this issue to closed status if you have posted this issue in that repo?
Thanks!

[2022-03-29 14:36] mohantym commented on #55336
@mtamburrano ! you can add a static library using [add_library (..)](https://www.youtube.com/watch?v=abuCXC3t6eQ)and use STATIC keywords along with desired libraries in it. Attaching relevant thread for reference. [1](https://stackoverflow.com/a/41495207/11530462), [2](https://www.youtube.com/watch?v=abuCXC3t6eQ) . Thanks!

[2022-03-29 15:10] edwardyehuang commented on #54279
Slow graident only

[2022-03-29 15:35] #55407 closed

[2022-03-29 15:35] tilakrayal commented on #55426
@GosuPaper ,
Please refer this link [1](https://github.com/tensorflow/tensorflow/issues/54407) and [2](https://github.com/tensorflow/tensorflow/issues/53614) with the similar error.It helps.Thanks!

[2022-03-29 15:58] sushreebarsa commented on #27952
@sxsxsx Is this still an issue?
We see that you are using an older version of TF(1.x) which is not actively supported.We recommend you to kindly upgrade to TF v2.4 or later and let us know the outcome? Please refer to this [thread ](https://stackoverflow.com/questions/63681168/batch-normalization-quantize-tensorflow-1-x-does-not-have-minmax-information) and let us know if it helps?
Thanks!

[2022-03-29 16:46] sachinprasadhs commented on #55364
Could you please follow the steps mentioned [here](https://github.com/tensorflow/tensorflow/issues/45014#issuecomment-731474874) and let us know if this helps to solve your problem. Thanks!

[2022-03-29 17:15] Yashashree304 commented on #55372
@shijy16 in the code you sent above you tried to pass a list for fixed_length however the documentation mentions to pass a tensor of type int32. The following code works.

`import tensorflow as tf

input_bytes = ['123', '1234', '12345']
fixed_length = tf.constant(3)
out_type = tf.int8
print(tf.raw_ops.DecodePaddedRaw(input_bytes=input_bytes, fixed_length=fixed_length, `out_type=out_type))`

[2022-03-29 17:18] yishuangP commented on #55268
This is weird. I wonder if this is because you have two versions of python installed. And I think this is a bazel build issue. How about `python3 bazel-out/host/bin/external/build_bazel_rules_apple/tools/bundletool/bundletool`? Does it execute? `exec env -` clears the environment variables before executing. Can you try removing the old version?

[2022-03-29 17:53] whatdhack commented on #55207
@gadagashwini , thanks for following up.  I made a slight change to your code as follows.

[code]
Run the above code as follows and you will see many calls to tf2xla and xla.

TF_CPP_MAX_VLOG_LEVEL=3 python ./xla_gist.py

[2022-03-29 18:33] cericson commented on #16139
So I refactored the original code a bit (see below) to run it in tensorflow 2.8.0 with no issue. The bug may have been resolved already, or at least it doesn't resurface with the way I'm using the v2 API.
[code]

[2022-03-29 18:50] goodwilj commented on #43275
@mohantym Sounds good! Thank you for the update. We can move this to closed status.

[2022-03-29 18:50] #43275 closed

[2022-03-29 20:01] mihaimaruseac commented on #55067
WSL is slow in reading files. There are a lot of files that need to be loaded when `import tensorflow as tf` gets executed.

This is likely not a TF issue.

[2022-03-29 20:02] mihaimaruseac commented on #55218
#55272 should fix this?

[2022-03-29 20:25] jinzzasol commented on #55067
You don't get the point. `import tensorflow as tf ` works okay and fast in WSL too. It only takes less than 0.1s.

[2022-03-29 21:08] mihaimaruseac commented on #55067
Same point applies for loading mnist data which is a bunch of image files, afaik

[2022-03-29 21:15] DEKHTIARJonathan commented on #43688
@av8ramit @reedwm any update ?

[2022-03-29 22:25] veonua commented on #35451
Hi @mohantym. Yes it seems like it works in tf 2.8

[2022-03-29 22:33] PhillipMaire opened #55432 "MobileNetV3 reloading weights from version 2.8 gives error but not 2.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.7 and 2.8
- Python

[2022-03-29 22:34] essandess opened #55433 "tensorflow-macos version 2.8.0 cannot import keras"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
macOS 12.3
`x86_64` and `arm64` versions
tensorflow-macos 2.8.0 installed via pypi
* https://pypi.org/project/te

[2022-03-30 01:00] Gelesh commented on #55218
https://github.com/tensorflow/tensorflow/pull/55272 should fix this !!

[2022-03-30 01:00] #55218 closed

[2022-03-30 01:18] shijy16 commented on #55372
@Yashashree304  You are right, thank you.
I thought a tensor was meant to be a multi-dimensional arrays. After reading the definition of tensor, I just realize it can be a scalar. And in the definition of `DecaodePaddedRaw`, it is a scalar obviously.
Sorry for bothering. XD

[2022-03-30 01:32] jinzzasol commented on #55067
@mihaimaruseac Well. I tested tensorflow without using mnist data and it still very slow. I don't think the data loading takes that long. I think you still don't understand the point. When I run the code line by line, loading tensorflow and mnist data doesn't take long as you said.

[2022-03-30 02:24] sushreebarsa commented on #55372
@Yashashree304 Thank you for your response!
@shijy16  The description in the [documentation](https://www.tensorflow.org/api_docs/python/tf/raw_ops/DecodePaddedRaw) for `fixed_length` is correct as it says to pass a tensor of type int32 and the example you have shared is passing a list for fixed_length.
Could you please move this issue to closed status if it is resolved for you?
Thanks!

[2022-03-30 02:33] tonysung commented on #55364
Hi @sachinprasadhs If this has anything to do with the `nativeLibraryDir` as mentioned [here](https://github.com/tensorflow/tensorflow/issues/45014#issuecomment-731474874), then I'm afraid it is a bug in `benchmark_model`, because it should load the library NOT from `nativeLibraryDir` but from the path specified in `--hexagon_lib_path`:

[code]

And here's the original command when this bug is rep

[2022-03-30 02:45] shijy16 commented on #55372
OK, I'll close this issue.
Thank you all!

[2022-03-30 02:45] #55372 closed

[2022-03-30 03:02] mohantym commented on #35451
@veonua ! Thanks for confirmation. Can we move this closed status then?

[2022-03-30 03:21] nrailgun commented on #55421
@tilakrayal hello, could you please give me some advice? thank u.

[2022-03-30 03:43] mohantym commented on #55424
Hi @ldb1026 ! You should use ONNX to convert Pytorch models to TF model/TF lite models . Attaching relevant threads [1](https://stackoverflow.com/questions/61679908/pytorch-convert-2d-cnn-model-to-tflite), [2](https://community.arm.com/arm-community-blogs/b/ai-and-ml-blog/posts/pytorch-to-tensorflow-lite-for-deploying-on-arm-ethos-u55-and-u65) for reference . Please revert back with a Colab gist f

[2022-03-30 03:50] mohantym commented on #47085
Hi @dvelaren ! Is this issue still valid in 2.8 version?

[2022-03-30 04:05] tilakrayal commented on #55421
@nrailgun ,
In order to expedite the trouble-shooting process, could you please provide a complete code you are using.

[2022-03-30 04:48] deepakagrawal commented on #47853
I have a list of 2d numpy arrays `(m,n)` where `m` is variable (order of 1000) and `n` is fixed (say 1000). I have around 10000 such arrays. The final ragged tensor should be of shape `(10000, None, 1000)`. `RaggedTensor.stack` is fast however it results into a ragged tensor of `ragged_rank=2`, shape=`(10000, None, None)`. How can I convert this into a tensor which has a ragged rank of 1. `RaggedT

[2022-03-30 05:00] freedomtan commented on #55364
Please check https://github.com/tensorflow/tensorflow/issues/47246.

[2022-03-30 05:17] mohantym commented on #55267
Hi @sachinprasadhs ! Could you please look at this issue? It is replicating in  [2.8](https://colab.sandbox.google.com/gist/mohantym/0dc1a1da6c14d21d7106845e79ad3b00/gru_post_training_integer_quant_16x8.ipynb#scrollTo=BzYaZhHk8ZAR) but throwing different error in [2.7](https://colab.sandbox.google.com/gist/mohantym/fe9acca2be0a5de06d1ebcf63f3f148b/gru_post_training_integer_quant_16x8.ipynb#scrollT

[2022-03-30 05:36] GosuPaper commented on #55426
Here is the answer to my problem @tilakrayal . Sorry for the incovenience and thanks for your help

[2022-03-30 06:29] NeighborhoodCoding commented on #41990
[code]

[2022-03-30 07:08] mohantym commented on #55135
Hi @fengyuentau ! Could you please share the model file too? I was suggesting to use a representative dataset and use supported_ops as mentioned in this [link ](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization)on post integer quantization. Thanks!

[2022-03-30 07:10] raziel2k commented on #55268
Yes, that command executes without `exec env -`.

Anyhow, the problem is not related to the fact that I have python 2 installed because there was also before I installed it (actually, I installed python 2 to try to solve it).

I think, maybe, the problem is related to the fact that I have a fresh installation of macOS Mojave (that does not come with python pre-installed anymore) and I installed py

[2022-03-30 07:48] markub3327 commented on #55313
@gadagashwini

I create PR at https://github.com/tensorflow/text/pull/869, is it OK?

Thanks.

[2022-03-30 08:06] fengyuentau commented on #55135
@mohantym Link to the model: http://download.tensorflow.org/models/official/20181001_resnet/savedmodels/resnet_v1_fp32_savedmodel_NHWC.tar.gz, which is the same hyper link in the description.

[2022-03-30 08:22] ldb1026 commented on #55424
I have successfully converted the model to a pb model, it's just that I get an error during quantization

The problem I encountered is that when I use the code to convert the pb to tflite model
if I quantify the configuration, like this

[code]

there will be corresponding problems， that is to  paper

but if it is not quantized, the conversion will be successful.

Is this problem caused by the fac

[2022-03-30 08:34] tilakrayal commented on #55388
@emila2021 ,
I have tried to execute the tutorial `"Federated Reconstruction with Matrix Factorization"` with stable v2.8 and noticed that code has been executed without any issues. Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/ce5a2943ecf5eb9c28ccd44231bfa7dd/federated_reconstruction_for_matrix_factorization.ipynb). Thanks!

[2022-03-30 09:08] chunduriv commented on #55276
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-30 09:10] ldb1026 commented on #55424
The problem is solved, the reason is that the pb model is a multi-input model, and the data returned by the function onverter.representative_dataset is not in the correct order

[2022-03-30 09:14] chunduriv commented on #9916
Are you satisfied with the resolution of your issue?
[Yes](https://goo.gl/forms/Oe0tEvODFRoI2gJF3)
[No](https://goo.gl/forms/fUjzOfrtkFbrOT8d2)

[2022-03-30 09:14] mohantym commented on #55424
@ldb1026 ! I suspected the same in the representative dataset aside suggesting to remove the .numpy() operation. Did  it get resolved after rearranging the inputs in order?

[2022-03-30 09:24] ldb1026 commented on #55424
The problem is solved, it can be closed, thank you

[2022-03-30 09:29] mohantym commented on #42934
@fjp ! Beside TFRecord , I also found an article on [kafka](https://github.com/tensorflow/tensorflow/issues/42934#issuecomment-803314776) for streaming data.

[2022-03-30 09:40] alexlang74 commented on #55132
Hi @mihaimaruseac , were you able to push this forward?

[2022-03-30 09:50] mohantym commented on #55424
@ldb1026 ! Thanks for confirmation. Moving to closed status as it was marked resolved from this[ comment](https://github.com/tensorflow/tensorflow/issues/55424#issuecomment-1082821296).

[2022-03-30 09:50] #55424 closed

[2022-03-30 10:06] sarusso commented on #43387
Tensorflow 1.9.0 was the last version to be supported on OSX El Capitan.

[2022-03-30 10:25] tilakrayal commented on #55426
@GosuPaper ,
Glad the issue is resolved for you, please feel free to move this to closed status.

[2022-03-30 10:36] sushreebarsa commented on #55390
@chunduriv  I was able to reproduce this issue on colab using TF v2.8.0 and tf-nightly,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/917d52c54aec646ed8c22a90bd8c4ac3/55390.ipynb).Thanks!

[2022-03-30 10:44] #55426 closed

[2022-03-30 10:53] mohantym commented on #16139
@cericson ! This issue is getting resolved with input shape (1, 41, 96, 128, 1)  or (1, 41, 400, 800, 1) as you pointed out earlier but it is  replicating with a shape (1, 41, 960, 1280, 1). Attaching [gist](https://colab.sandbox.google.com/gist/mohantym/f2201df9a33c41ac62ddf3bca8be4549/github_16139_2-8.ipynb#scrollTo=Fq_5wbxlch_m) for reference.

[2022-03-30 10:58] AB5247 commented on #54481
@karimnosseir Any updates on this? Thanks.

[2022-03-30 11:22] potula-chandra commented on #53164
@jvishnuvardhan I used the following command to build Tensorflow 2.7.0 :

`GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=True bazel --host_jvm_args="-Xms8g" --host_jvm_args="-Xmx8g" build --define=tensorflow_mkldnn_contraction_kernel=0 --copt=-Wno-maybe-uninitialized --copt=-mzvector --copt=-funroll-loops --copt=-march=z14 --color=yes --curses=yes -s --config=noaws --config=nogcp --config=nohdfs --config=noncc

[2022-03-30 11:25] potula-chandra commented on #53164
@jvishnuvardhan Similar to code change proposal made here : https://github.com/tensorflow/tensorflow/pull/48525

[2022-03-30 11:26] thariq-nugrohotomo commented on #47853
Hi @deepakagrawal,
Try using factory class-methods such as:

- [tf.RaggedTensor.from_value_rowids](https://www.tensorflow.org/api_docs/python/tf/RaggedTensor#from_value_rowids),
- [tf.RaggedTensor.from_row_lengths](https://www.tensorflow.org/api_docs/python/tf/RaggedTensor#from_row_lengths), and
- [tf.RaggedTensor.from_row_splits](https://www.tensorflow.org/api_docs/python/tf/RaggedTensor#from_row

[2022-03-30 12:45] raminmohammadi commented on #54155
@MeghnaNatraj Any updates on this ticket?

[2022-03-30 12:46] tilakrayal commented on #55432
@chunduriv ,
I was able to reproduce the issue in tf v2.8 and [nightly](https://colab.research.google.com/gist/tilakrayal/cb4fb69f9096a4a2260acae5fd5fb9e7/nigtlytf_issues_fails_to_load_mobilenet_weights_in_2_8_but_not_2_7.ipynb), whereas in [v2.7](https://colab.research.google.com/gist/tilakrayal/182544e20eeb1d103f8d2cea85bdd781/tf_issues_fails_to_load_mobilenet_weights_in_2_8_but_not_2_7.ipynb) i

[2022-03-30 13:51] sushreebarsa commented on #48167
@JHvdM1959 Is this still an issue?
Could you please refer  this [link](https://www.tensorflow.org/probability/api_docs/python/tfp/optimizer/lbfgs_minimize) and let us know if it helps?
Thanks!

[2022-03-30 14:14] PhillipMaire commented on #55432
I'm a little confused, are you just confirming my results? Because I get the same results.

[2022-03-30 14:52] szleb opened #55435 "Loss names are not equal to the outputs dictionary keys of a model"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10.0.18363
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.8.10
- CUDA/cuDNN version: none
- GPU model and memory: none

**Current behavior**

The names for the single losses of a multi output model co

[2022-03-30 14:59] ironcadiz commented on #25939
@mohantym  It seems that images for 2.5 and below still have python 3.6.
Is the fix you mention only for 2.6 and above?

[2022-03-30 14:59] edloper commented on #47853
@deepakagrawal: +1 to using the `RaggedTensor` factory methods.  In your example, you could convert the numpy arrays into a RaggedTensor using `RaggedTensor.from_row_lengths` as follows:

[code]

[2022-03-30 15:24] EdoardoCarlesi commented on #28840
Did anyone manage to solve this one?
It's unbelievable the amount of hassle you need to go through to perform such a simple operation.
Really unbelievable.

[2022-03-30 16:00] javidcf commented on #28840
This issue keeps popping up in my inbox and I don't even know why as there really is no bug to solve here. I already explained this [above](https://github.com/tensorflow/tensorflow/issues/28840#issuecomment-521626336), but let's go through it again for TensorFlow 2.

[`tf.make_ndarray`](https://www.tensorflow.org/api_docs/python/tf/make_ndarray) is NOT a general function to convert tensors to NumP

[2022-03-30 16:16] EdoardoCarlesi commented on #28840
My issue is that the code is running in eager mode (`tf.executing_eagerly()` returns True) but if I do `.numpy()` on my tensors I still get _AttributeError: 'Tensor' object has no attribute 'numpy'_ . So I cannot just do `.numpy()` on my EagerTensor, it always returns an error.

I am using TF 2.8.0 and NumPy 1.22.3

[2022-03-30 16:22] javidcf commented on #28840
@EdoardoCarlesi That is an unusual error. In eager mode, all your tensors should have the type `tf.EagerTensor`, but your error suggests that your object is actually a `tf.Tensor`, not a `tf.EagerTensor` (see "**'Tensor'** object has no attribute 'numpy'"). It may be that the tensor object you are trying to evaluate comes from a previous graph context, even if you are currently in eager mode. I'd

[2022-03-30 16:23] jvishnuvardhan commented on #44266
Please note that I moved this issue to keras-team/keras repo where keras team focussed to resolved important bugs. Thanks

[2022-03-30 17:19] cleebp commented on #35935
Our enterprise machines that can't edit registry keys continuously run into this max path issue, in our win-64 conda `tensorflow=2.7` builds we have to build from `c:\c` as even `c:\conda` will exceed the max path length while building tf.

Additionally we have to remove the entire `_virtual_includes` directory or anyone who installs the package on a windows machine that can't edit registry keys w

[2022-03-30 17:22] MeghnaNatraj commented on #54155
@raminmohammadi could you update the gist and fix the errors on cell 8, 9 and 10?

**Cell 8**

[code]

[code]

**Cell 9**
[code]
[code]

**Cell 10**
[code]
[code]

[2022-03-30 17:22] elevenfive opened #55436 "TF 2.8.0 NNApi createInterpreter fails on Android API 32 devices"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes (sample project linked below)

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Android API 32 - Pixel 6

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
Any device running Android API 32 (such as Pixel 6)

- TensorFl

[2022-03-30 17:37] elfringham opened #55437 "runpath not including //tensorflow/python for _dtensor_device.so"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2022-03-30 17:38] elfringham commented on #55437
@cfRod @nSircombe

[2022-03-30 17:38] bhack commented on #25939
It is fixed on the release after https://github.com/tensorflow/tensorflow/pull/51914

[2022-03-30 17:40] raminmohammadi commented on #54155
@MeghnaNatraj its updated now.

[2022-03-30 17:51] darrahts opened #55438 "model is loaded as Loader._recreate_base_user_object.<locals>._UserObject"
python == 3.8
tensorflow (gpu) == 'v2.8.0-rc1-32-g3f878cff5b6'
keras == 2.8
windows 10

I am saving the model as both an h5 and keras format with

[code]
[code]

Then, I am loading the model with

[code]

```<class 'tensorflow.python.saved_model.load.Loader._recreate_base_user_object.<locals>._UserObject'>```

There is something up with the loading process that results in the following error when

[2022-03-30 19:18] DanBmh commented on #55349
I think I could solve my problem with the full model. For mel-spectrogram and feature-normalization I'm adding very small values to the tensors to prevent _log_ and _div_ with zero, but with the _int8-quantization_ those "zero-guards" are just set to zero themselves, so I'm getting _nan_ values inbetween...

Do you know the smallest value I can use? Currently I'm using `2**-5`, and `2**-6` was to

[2022-03-30 19:26] gmernov commented on #54714
Yes, but the linking doesn't want to end. It produces no load. I don't think that it's gonna end while it does no load... I'm using 32 cores, and 40GB or RAM

[2022-03-30 19:27] gmernov commented on #54714
This build has a very dated version. I need something like 2.4-2.8 version for aarch64 with GPU CUDA support

[2022-03-30 20:04] aldyhelnawan opened #55440 "Tensorflow 2.8.0 | Error Message: ImportError: SystemError. | Tensorflow package error?"
Greetings Tensorflow Support Team.
Hi, I got this error recently on my anaconda environment on my Windows 10 Machine.
### Error Message:

### System Information

### I got this error when upgrade it to Tensorflow 2.8.0 (Installed using pip)
`pip install tensorflow`

Error Log:
[code]
### But when I'm downgrade it to 2.7.0, it runs normal. (Installed using pip)
`pip install tensorflow==2.7.0`
[code

[2022-03-30 20:04] bhack commented on #55435
Give a name to the output layers:
https://stackoverflow.com/questions/53504813/is-there-a-way-of-renaming-the-metrics-and-losses-of-a-keras-model

[2022-03-30 20:17] edloper commented on #55209
Thanks for reporting this!  Fixed in abc6f6ec7869d846b33b3d8e5e33284aac1600dc.

[2022-03-30 20:17] #55209 closed

[2022-03-30 20:27] seednov commented on #42409
same on tf1.15

[2022-03-30 21:09] topinfrassi01 commented on #31173
Still no updates...

[2022-03-30 21:29] DEKHTIARJonathan opened #55441 "[Saved Model] Loading Saved Model & GraphDef mostly doesn't respect device placement"
In the context of TF-TRT, we need to be able to load and assign SavedModel and GraphDef to a specific `tf.device`. And as shown in this reproducer, virtually all calls lead to a loss/disrespect of the device information, and defaults back on `GPU:0` when actually executed.

Problem: TF-TRT needs internally to access graphdef, and manipulate it. Unfortunately for now, we can't find a way to assign

[2022-03-30 21:32] DEKHTIARJonathan commented on #55441
CC: @meena-at-work @bixia1 @tfeher

[2022-03-30 22:08] wjlgatech commented on #42182
@lucasdavid can you explicitly write out what `...`mean under each class? an example will be helpful. Thanks

[2022-03-30 22:33] bhack opened #55442 "Pylint phantom checks"
Some check that we have enabled in `.pylintrc` are silently not executed anymore.

https://github.com/tensorflow/tensorflow/blob/fa6895a1564f14f488c5019039e3f0addef49f32/tensorflow/tools/ci_build/pylintrc#L48
`python -m pylint --list-msgs | egrep "indexing-exception|old-raise-syntax|W0311|W0312|C0330|C0301|C0326|W0611|W0622"`

We have only 4/9 explicitly enabled checks that are still valid:
[code]

[2022-03-30 22:57] reedwm commented on #55441
It looks like creating a new graph and enter its scope clears the device placement. Adding the `tf.device` placement after creating the new graph fixes it. Replacing the last four lines of your sample with the following causes GPU:1 to be used

[code]

Does this solve the issue? If not I can delegate to someone else, since I'm not familiar with SavedModel.

[2022-03-30 23:47] av8ramit commented on #43688
@DEKHTIARJonathan I no longer work on this project, unfortunately. Good luck!

[2022-03-31 00:10] deepakagrawal commented on #47853
Thanks, This worked perfectly

[2022-03-31 00:18] mohantym commented on #55349
@DanBmh ! Glad you sorted out the issue .  Check with "1.001e-5" as the minimum value to avoid zero division error.  You can batch the data in the representative dataset if you are worried about performance. Please move this to closed status if it worked. Thanks!

[2022-03-31 01:18] mohantym commented on #25939
Thanks @bhack @ironcadiz for confirmation. Moving this issue to closed status then.

[2022-03-31 01:18] #25939 closed

[2022-03-31 01:44] algoteam5 commented on #55220
Without the `labels_test`, your code could fix the error but there were no loss and accuracy values.
[code]

[2022-03-31 02:10] zhaozheng09 commented on #55390
Please add TF_XLA_FLAGS="--tf_xla_auto_jit=2 --tf_xla_cpu_global_jit --tf_xla_min_cluster_size=0", because there is only 1 node in my example xla cluster, 1 node does not meet the tf_xla_min_cluster_size(default:4) condition
![image](https://user-images.githubusercontent.com/33950866/160961857-bcf84532-eb56-4bbc-9f30-37e449a52af5.png)

[2022-03-31 03:15] mohantym commented on #55389
@luckysmg ! Good to hear that.  Can you let us know the results with the[ same approach ](https://github.com/tensorflow/tensorflow/issues/55389#issuecomment-1080367899)with a new app ?

[2022-03-31 03:26] luckysmg commented on #55389
Here is demo code.
[iOSDemo 2.zip](https://github.com/tensorflow/tensorflow/files/8356734/iOSDemo.2.zip)

[2022-03-31 03:39] DEKHTIARJonathan commented on #55441
Oh that's interesting.
@reedwm is there a way to "query what's the current device scope" ? Because obviously the device scope is usually set by the user, we don't have visibility on that

[2022-03-31 03:40] daeing opened #55444 "what is the order when I call tf.keras.Layers.BatchNormation.get_weights() ? my tensorflow version is 2.2.0?"
<em>Please make sure that this is an issue related to keras.
tag:keras_template</em>

**Important Notice**

Please note that `tf.keras` code was moved entirely to
[keras-team/keras](https://github.com/keras-team/keras) repository

You can open any code/doc bugs, performance issues, and feature requests
 in [keras-team/keras](https://github.com/keras-team/keras/issues) repository

`tf.keras` relate

[2022-03-31 03:49] reedwm commented on #55441
A somewhat hacky way to get the device is to create an empty tensor and immediately query its device:

[code]

@rohan100jain do you know of a better way?

I don't think the fact opening a graph scope clears the device scope is a bug, since each graph has a different device scope, although I admit this behavior is unintuitive. In any case, since this only affects the TF1 API (graphs), I doubt this

[2022-03-31 03:52] daeing commented on #55444
sorry, I mean BatchNormalization. Does different version of tensorflow get different result?

[2022-03-31 04:02] daeing commented on #55444
I got this from this link(https://github.com/tensorflow/models/blob/master/official/vision/beta/projects/yolo/modeling/layers/nn_blocks.py#:~:text=gamma%2C%20beta%2C%20moving_mean%2C%20moving_variance%20%3D%20self.bn.get_weights()) but I have no idea if the version can cause the different result.

[2022-03-31 04:54] MTawfik93 commented on #55065
I did try doing this but unfortunately still having the same error. I did solve it by upgrading the hardware to arch64 and installing a tensorflow 2.7 for Arm and using ```tf.lite.Interpreter``` function, but never succeeded in running the ```tflite_runtime``` using the LSTM tflite model, always running into the same error that I mentioned earlier.

[2022-03-31 05:07] MiracleMiranda07 opened #55445 "RuntimeError: Encountered unresolved custom op: PyFunc.Node number 559 (PyFunc) failed to prepare."
System information

Windows
TF 2.5.0

Command used to run the converter or code if you’re using the Python API
Converter:

**keras_model = model.keras_model
converter = tf.lite.TFLiteConverter.from_keras_model(keras_model)
converter.allow_custom_ops = True
converter.experimental_new_converter = True
converter.target_spec.supported_ops = [
    tf.lite.OpsSet.TFLITE_BUILTINS, # enable TensorFlow Lit

[2022-03-31 05:21] gadagashwini commented on #42221
@Char-Aznable,
Issue is not reproducible on my system.
Could you please try workaround mention on similar issue [#48064](https://github.com/tensorflow/tensorflow/issues/48064#issuecomment-811554566)

[2022-03-31 05:24] FengYue95 commented on #50487
I use python3.8 and tf 2.8, this problem happens too. So I try to close pools, but it doesn't work.

my code:
[code]

if I use `atexit.register(dist_strategy._extended._collective_ops._pool.close)` ,it doesn't work;
if I use `atexit.register(dist_strategy._extended._cross_device_ops._pool.close)`, it raises error:`'AllReduceCrossDeviceOps' object has no attribute '_pool'`

what else can I do...

[2022-03-31 05:27] gadagashwini commented on #55313
@markub3327, Thanks for the PR.

[2022-03-31 05:30] tilakrayal commented on #55400
@utibeng ,
 In order to expedite the trouble-shooting process, could you please provide a complete code you are using.

[2022-03-31 05:59] chunduriv commented on #55123
@douzaikongcheng,

Could you please confirm if this issue is resolved for you? Thanks!

[2022-03-31 06:37] tilakrayal commented on #55438
@darrahts ,
Model.save() will save  keras type model. tf.keras.models.load_model will load it back as keras model.

tf.saved_model.save will save  generic model. tf.saved_model.load will load it back either type, as generic _UserObject model.
Also can you please look at this [comment](https://github.com/tensorflow/models/issues/8990#issuecomment-1069733488) from the issue with the similar error.Th

[2022-03-31 06:52] nirnayroy commented on #55375
Tried linking libtensorflow_framework.so and libtensorflow_framework.so.2 using ln as suggested by [https://stackoverflow.com/questions/56888781/tensorflow-notfounderror-libtensorflow-framework-so-cannot-open-shared-file-or?noredirect=1&lq=1](https://www.stackoverflow.com/)

I have tried appending LD_LIBRARY_PATH with the libtensorflow_framework.so file as suggested by this thread [https://github.

[2022-03-31 07:03] nirnayr commented on #55375
Tried linking libtensorflow_framework.so and libtensorflow_framework.so.2 using ln as suggested by [https://stackoverflow.com/questions/56888781/tensorflow-notfounderror-libtensorflow-framework-so-cannot-open-shared-file-or?noredirect=1&lq=1](https://www.stackoverflow.com/)

I have tried appending LD_LIBRARY_PATH with the libtensorflow_framework.so file as suggested by this thread [https://github.

[2022-03-31 07:24] canbakiskan opened #55446 "Checkpoint variable names are assigned "variables/0/..." etc if keras model has more than two nested layers/models"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2022-03-31 07:40] EdoardoCarlesi commented on #28840
I know this should not happen. Unfortunately the code is quite long and complex, my workaround was to pre-process the data with numpy before feeding it to tensorflow, so I couldn't really solve this issue.

On other forums I found solutions which involved changing NumPy version and/or TF version.

All in all it's very frustrating that such a simple operation required so much time and effort, on Py

[2022-03-31 07:46] tilakrayal commented on #55440
@aldyhelnawan ,
Can you please try to upgrade the python and confirm if you are facing same issue.
`python3 -m venv --system-site-packages ./venv`
Also please check this [issue1](https://github.com/tensorflow/tensorflow/issues/55338#issuecomment-1075646598) and [issue2](https://github.com/tensorflow/tensorflow/issues/55377) with similar error.Thanks!

[2022-03-31 08:00] #42759 closed

[2022-03-31 08:14] elfringham commented on #55437
$ auditwheel repair -w ../wheels/ tensorflow-pkg/tensorflow_aarch64-2.9.0-cp38-cp38-linux_aarch64.whl
INFO:auditwheel.main_repair:Repairing tensorflow_aarch64-2.9.0-cp38-cp38-linux_aarch64.whl
Traceback (most recent call last):
  File "/usr/local/bin/auditwheel", line 8, in <module>
    sys.exit(main())
  File "/opt/_internal/pipx/venvs/auditwheel/lib/python3.9/site-packages/auditwheel/main.py", l

[2022-03-31 08:19] elfringham commented on #55437
Running auditwheel with --verbose gives a lot more detail, in particular this section about _dtensor_device shows that tensorflow/python is missing from runpath and so gets a null path for _pywrap_tensorflow_internal.so

    "tensorflow/dtensor/python/_dtensor_device.so": {
        "interp": null,
        "path": "tensorflow/dtensor/python/_dtensor_device.so",
        "realpath": "tensorflow/dtens

[2022-03-31 08:22] elfringham commented on #55437
Compare the above with the entry for _pywrap_mlir.so which gets a path for _pywrap_tensorflow_internal.so

    "tensorflow/python/_pywrap_mlir.so": {
        "interp": null,
        "path": "tensorflow/python/_pywrap_mlir.so",
        "realpath": "tensorflow/python/_pywrap_mlir.so",
        "needed": [
            "libtensorflow_framework.so.2",
            "_pywrap_tensorflow_internal.so",

[2022-03-31 08:44] mohantym commented on #31829
Hi @ghost!  Have you checked the recently introduced On-Device training document from the [2.8 version](https://www.tensorflow.org/lite/examples/on_device_training/overview)?

[2022-03-31 09:11] jeongukjae opened #55447 "How about exporting `Tensor::FromProto` to Python API?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.8
- Are you willing to contribute it (Yes/No):

**Descri

[2022-03-31 09:19] kruglov-dmitry opened #55448 "X86_64 - TFLite different inference results depending on whether it was compiled with XNNpack delegate or not"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **_Yes_**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **_4.19.0-18-amd64 1 SMP Debian 4.19.208-1 (2021-09-29) x86_64 GNU/Linux_**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (so

[2022-03-31 09:45] sushreebarsa commented on #55417
@pranavladkat TensorFlow variable is the recommended way to represent a shared, persistent state your program manipulates.For more details could you please have a look at this [link](https://www.tensorflow.org/api_docs/python/tf/Variable) and refer this [thread](https://stackoverflow.com/questions/63878497/how-to-update-trainable-variables-on-my-custom-optimizer-using-tensorflow-2)? Please let us

[2022-03-31 10:07] KristalAlfred opened #55449 "Notebooks deleted when following beginner tutorial"
Hi!

This issue is related to a notebook which is a part of the beginner tutorial focusing on text classification.

Links:
https://www.tensorflow.org/tutorials/keras/text_classification
https://github.com/tensorflow/docs/blob/master/site/en/tutorials/keras/text_classification.ipynb

I'm a beginner so I might be doing something wrong or something that is discouraged, but I figured that a warning ma

[2022-03-31 10:19] elfringham commented on #55437
It looks like the runpath is composed of the location of the target shared object and all its parents to the tensorflow root. However _dtensor_device.so has a dependency on _pywrap_tensorflow_internal.so which is located in tensorflow/python. But _dtensor_device.so is located in tensorflow/dtensor/python so its runpath does not include tensorflow/python as it is not a parent and hence the failure

[2022-03-31 10:25] virajsabhaya23 opened #55450 "Python Import error for tensorflow, tflearn and nltk libraries!"
[code]
---

- I have even changed the path and tried setting up the envn paths to anaconda and python3 but it still shows this error.
- If I comment the imports of the libraries mentioned I don't get any errors.

[2022-03-31 11:16] chunduriv commented on #55432
@PhillipMaire,

Yes

If you can force it to `weights_mobilenet_v3_large_224_1.0_float_no_top.h5`, it is working. Thanks!

[2022-03-31 11:17] Jianbing-D opened #55451 "CustomGraphOptimizer doesn't work"
I implemented a `CustomGraphOptimizer`, and registered it through `CustomGraphOptimizerRegistrar`, but that optimizer seems not to work? Am I doing anything wrong?

Here is my cc codes about `CustomGraphOptimizer`:
[code]

And here is my python testing codes:
[code]

[2022-03-31 11:18] Jianbing-D commented on #55451
And the following is the running log for previous python codes:
[code]

[2022-03-31 11:22] mohantym commented on #55436
Hi @elevenfive ! Sorry for the late response. The above app is running fine in an emulator with Pixel 5 and API 32 with latest android studio version.  Can you confirm your android studio version too?                                                    ![AndroidStudioAPI32](https://user-images.githubusercontent.com/86464649/161043609-728d4e00-7831-4003-a667-651a9640e870.png)

[2022-03-31 11:26] darrahts commented on #55438
@tilakrayal,

Thanks for the comment. The point of this is, why is `keras.models.load_model` not returning the model? It is returning the same thing as `tf.saved_model.load`.

[2022-03-31 11:48] tilakrayal commented on #55444
@daeing ,
When we call tf.keras.Layers.BatchNormation.get_weights() the order of the list is `[gamma, beta, mean, variance]`.

Also trainable weights does not change. Batchnormalization  maintains non-trainable weights, which are updated via layer updates (i.e. not through backprop): the mean and variance vectors.

If we want to disable weight updates we simply call the layer with the argument tra

[2022-03-31 11:49] tilakrayal commented on #55444
Also please test your code in latest stable version 2.8 and let us know if you are facing same issue.Thanks!

[2022-03-31 11:59] #23017 closed

[2022-03-31 12:39] AlexM4 opened #55452 "TensorRT conversion fails with 5D input data"
Hi, I'm having an issue with tensorrt conversion of model which uses 3D convolutions and processes 5D input.

Code to reproduce error (I cut the model to minimal example):
[code]

The output:
[code]

Other observations:
- Removing activation layer or swapping it with BatchNorm makes script to execute without errors, but doesn't produce valid trt engine. It writes the following warning: "TF-TRT War

[2022-03-31 12:57] gmernov commented on #54714
Trying to build TF 2.4.1 using bazel 3.1.0(built from sources as well). The same crap. hangs on linking... But now, i've enabled debug messages by --subcommands.

![image](https://user-images.githubusercontent.com/4686690/161059874-ace48eb3-1abb-4923-bb28-1f741215b43c.png)

That's the system monitor, to see the "load" on the system:

![image](https://user-images.githubusercontent.com/4686690/16105

[2022-03-31 13:44] Jianbing-D commented on #55451
Never mind, I solved it.

[2022-03-31 13:44] #55451 closed

[2022-03-31 13:59] #22145 closed

[2022-03-31 13:59] #16864 closed

[2022-03-31 14:02] sushreebarsa commented on #55435
@szleb Could you please refer to the [comment](https://github.com/tensorflow/tensorflow/issues/55435#issuecomment-1083572061) above and let us know if it helps?
Thanks!

[2022-03-31 14:16] stevetracvc commented on #32322
Thanks @mohantym that saved me. I was wondering why mine wasn't working either, and that fixed it for me. I agree, this is a crappy fix though. I'm running TF 2.6.0 installed via Conda and it's an issue there, but I can't check a newer version

[2022-03-31 14:31] t-kalinowski commented on #55237
Thanks for responding. This would be a great quality-of-life improvement for R users, and I'd be willing to help how I can implement it. Would you be open to accepting a PR for this?

[2022-03-31 14:42] Saxingh commented on #35769
Hi,
I'm having a very similar issue with not being able to import the ResNet50 module with the module not being found.
I have tried both:
`import tensorflow.python.keras.applications.ResNet50
from keras.applications.resnet50 import ResNet50`
as well as, from the original code (it's not mine)
`from keras.applications.resnet50 import ResNet50`
I've tried combinations of others but cant seem to get a

[2022-03-31 14:48] VihGrimm opened #55454 "Keras cant load model with tf.where when dtype is float64"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.8

[2022-03-31 15:04] lululxvi commented on #48167
@sushreebarsa Yes, it is still an issue. L-BFGS in tfp helps, but it is not convenient to use, and we have to add an interface, as I discussed above https://github.com/tensorflow/tensorflow/issues/48167#issuecomment-941741493

Ideally, a direct support would be better, something like L-BFGS in PyTorch https://pytorch.org/docs/stable/generated/torch.optim.LBFGS.html

[2022-03-31 15:06] mohantym commented on #55445
Hi @MiracleMiranda07 ! Can you please share a link to the model file too?

[2022-03-31 15:49] sachinprasadhs commented on #54747
Hi, Could you please refer this comment and post the issue in Keras repo for faster resolution. Thanks!

[2022-03-31 15:52] chunduriv commented on #55224
@anth2o,

Can you please close this issue, since it is tracked [there](https://github.com/tensorflow/tensorboard/issues/5639). Thanks!

[2022-03-31 15:55] aldyhelnawan commented on #55440
@tilakrayal. Hi, thank you to response my issue.

For the issue, yes. issue1 and issue2 are similar to my issue.
For the suggestions you provide, **upgrade the python version** on my **anaconda venv** is **work** for me.

I'm update the python version using:
`conda update python`
And the python version updated to version 3.7.13
[code]

Then I upgrade the tensorflow back to version 2.8.0 using:
`pi

[2022-03-31 15:58] tilakrayal commented on #55440
@aldyhelnawan ,
Glad the suggestion worked for you to resolve the issue, please feel free to move this to closed status.

[2022-03-31 15:59] #55440 closed

[2022-03-31 16:09] bhack commented on #48167
Probably we could a TF counterpart like:

https://pytorch.org/docs/stable/_modules/torch/optim/lbfgs.html#LBFGS

But I think it Is better to open a new ticket in Keras directly.

You could ask to reopen this or open a new one:

https://github.com/keras-team/keras/issues/5085

[2022-03-31 16:50] pranavladkat commented on #55417
Hi,

Thanks for the response. However it does not answer my question of how to update `tf.Variable` inplace using custom C++ op. If I were to use `var.assign()` op, I will need to return a tf.Tensor from the op and then use that to update variable. That consumes more memory of my use case and training fails with out of memory errors.

Thanks

[2022-03-31 17:25] szleb commented on #55435
Here is another code example closer to my use case. I hope that makes things a bit clearer

    import numpy as np
    from tensorflow.keras.layers import Dense, Input, concatenate, multiply, subtract
    from tensorflow.keras.models import Model

    first_input = Input(1, name="first_input")
    x = Dense(100)(first_input)
    x = Dense(1, name="model_1_output")(x)

    model_1 = Model(

[2022-03-31 17:57] PhillipMaire commented on #55432
ok great! I am not sure how to force it to use the original no top weights file though. how would I go about doing this? will this be in a new release? I am trying to collect data for a publication so I'm in a bit of a hurry :sweat: thank you

[2022-03-31 18:31] wangpengmit commented on #46833
Hi @miguelusque, you've hit a long-running issue internally known as "the int32 problem". Basically TF carves out int32 as "the shape dtype", to workaround some design problems of the device-placement system. We're designing potential alternatives but it's hard to fix. At the moment just don't use int32 for your normal computation.

[2022-03-31 19:10] wangpengmit commented on #55237
Yeah I'm happy to accept a PR for this. Your contribution will be appreciated!

[2022-03-31 19:10] mcourteaux commented on #41632
Tensorflow issue handling is a freaking joke. Nobody takes anything serious. All issues get closed by some stupid bot just because nobody takes time to look at them.

[2022-03-31 19:13] rainwoodman commented on #54458
Hi @albertz,

I noticed you recently enabled
`tf.compat.v1.experimental.output_all_intermediates(True)` in your application. Be aware that the flag may increase the memory usage.

Another workaround to try, is to move all calls to `session.run` after mutations of the graph, e.g., (in your colab),

[code]
Depending on your application's structure, this change may be infeasible. (Also refer to the K

[2022-03-31 19:41] David-Mao opened #55455 "GRU performance severely degraded inside tf.function with Apple m1 chip"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS Monterey 12.3, Metal device set to: Apple M1 Pro
- TensorFlow installed from (source or binary):
binary
- TensorFlow version:
tensorflow-deps           2.7.0
tensorflow-macos          2.8.0
tensorflow-metal

[2022-03-31 21:10] chuanwen commented on #38725
A simple way:

[code]

[2022-03-31 23:17] tomytsai1 commented on #48732
Tried to reproduce this and saw that @tf.function is not marked correctly:
Because @tf.function's first execution is expensive (which is used to do [function tracing](https://www.tensorflow.org/guide/intro_to_graphs#when_is_a_function_tracing)), marking the custom loop function as a @tf.function will cause the whole training process to be under tracing, which is slow and uses extra mem, eventually

[2022-03-31 23:17] #48732 closed

[2022-04-01 00:03] Agono0 commented on #55298
I face the same error and i figure out the problem.
Actually the problem is `SupportPreconditions.java` is in `/org/tensorflow/lite/support/common/internal/SupportPreconditions.java` not in `/org/tensorflow/lite/support/common/SupportPreconditions.java`
With lastest version of `tensorflow-lite-support:0.3.1`
And this cause a problem with `implementation 'org.tensorflow:tensorflow-lite-task-audio:0

[2022-04-01 02:50] tilakrayal commented on #55450
@virajsabhaya23 ,

In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel

[2022-04-01 02:57] tilakrayal commented on #55449
@KristalAlfred ,
I have followed the mentioned steps and executed the code in latest tf v2.8.I haven't faced any issues/errors during the execution.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/07fa03d9763d37653938fc4cf50e204a/text_classification.ipynb).

Also this issue in more related to jupyter-lab, i request you to refer this [link](https://stackoverflow.com/que

[2022-04-01 03:12] gadagashwini commented on #55375
@nirnayr,
`tf.sysconfig.get_link_flags()`. returns ```
['-L/usr/local/lib/python3.7/dist-packages/tensorflow',
 '-l:libtensorflow_framework.so.2'] ```

 Here, `library directory` is  `-L` and `library` is `-l`. Now replace the `-L` and `-l`  with `library_dirs` and `libraries `arguments to your Extension object in `setup.py`.

Finally, set your `LD_LIBRARY_PATH` environment variable to point to th

[2022-04-01 03:58] potula-chandra commented on #53164
@sushreebarsa @jvishnuvardhan will you be able to update on the comment https://github.com/tensorflow/tensorflow/issues/53164#issuecomment-1083006737 ? Thanks

[2022-04-01 05:06] tilakrayal commented on #55454
@VihGrimm ,
`tf.keras.backend.set_floatx` supports only for Keras and it doesn't have any effect on Tensorflow. Also I request you to take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/26033) where a similar feature has been proposed and it is still open and [comment](https://github.com/tensorflow/tensorflow/issues/35141#issuecomment-902165565) from the google developer.

[2022-04-01 05:11] tilakrayal commented on #55450
Also i request you to follow the steps mentioned [here](https://www.tensorflow.org/install) for installing the tensorflow with the compatible tested build [configurations](https://www.tensorflow.org/install/source#linux).Thanks!

[2022-04-01 05:51] sushreebarsa commented on #54832
@rameshkunasi Could you please move this issue to close status as we are tracking the other ticket in keras-team/keras repo?
Thanks!

[2022-04-01 06:20] ZikeiWong commented on #55399
Hi, thank you for your responses. I wonder if anyone could help me with the issuse?

[2022-04-01 06:50] mohantym commented on #55436
@elevenfive! I could run the instrumental test after commenting out **options.setUseNnapiCpu(true)** in Pixel XL with API 32 in Android  studio BumbleBee  without any exception. I would like to hear from @sachinprasadhs too. Thanks!

[2022-04-01 07:00] KristalAlfred commented on #55449
@tilakrayal,
Alright! The SO-question you linked wasn't quite what I was describing, but you're right. This is probably more of a jupyter-lab issue. I'll raise the issue over there instead. Thanks for checking!

[2022-04-01 07:14] IoanaKitsune commented on #55298
Oh, I see, thank you so much. I temporarily downgraded and it worked, but I
think your solution helps a lot!

On Fri, Apr 1, 2022, 03:03 Agono0 ***@***.***> wrote:

[2022-04-01 07:19] Aida-yy commented on #52370
I have same problem, in TF2.6. But, I fix it just need append
`from tensorflow.keras import Model`

hope it's useful for you.

[2022-04-01 07:20] Aida-yy commented on #51098
I have same problem, in TF2.6. But, I fix it just need append
from tensorflow.keras import Model

hope it's useful for you.

[2022-04-01 07:36] daeing commented on #55444
I test my code on tensorflow2.2, the order is [gamma, beta, mean, variance] as you methoned. I know the gamma beta are trainable params, mean and variance are no-trainable params. Because I want bn layer to set_weights() correctly, so I ask this question. Many thanks!!!

[2022-04-01 07:52] tilakrayal commented on #55444
@daeing ,
Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status

[2022-04-01 08:00] tilakrayal commented on #55298
@IoanaKitsune ,
Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status

[2022-04-01 08:02] VihGrimm commented on #55454
@tilakrayal

`tf.constant([values], dtype='float64')` and `tf.constant([values], dtype=tf.float64)` seem to yield to the same result.
In particular the described behaviour does not change when setting dtype to `tf.float64` as opposed to `'float64'`.

Thank you for pointing out that issue and especially the comment.
The ongoing feature request to set tensorflow dtypes globally would probably solve

[2022-04-01 08:03] #55298 closed

[2022-04-01 08:04] tilakrayal commented on #55454
@VihGrimm ,
Could you please confirm if the issue is resolved. if yes, please feel free to move this issue to closed status.Thanks!

[2022-04-01 08:04] Agono0 commented on #55298
Properly not solved for me any help.
I describe the issue . But I didn't solve it

[2022-04-01 08:08] Agono0 commented on #55298
I must modify the library files or what?
Then if yes.
how l can move `SupportPreconditions.java` then?

[2022-04-01 08:16] VihGrimm commented on #55454
@tilakrayal
For me, the problem is solved with the workaround.
However, it feels unsatisfactory to call the whole thing resolved, since the error still exists when loading models that use `tf.where`. And I would describe it as unexpected behavior.
Since a fix is not foreseeable for now: maybe it would be good to point out this behavior in the docs so that others don`t face the same problem?

[2022-04-01 08:18] elfringham commented on #55437
This seems to have been resolved by https://github.com/tensorflow/tensorflow/commit/95754274f34169fc7e59ba292a7970dfc9adc772

[2022-04-01 08:18] #55437 closed

[2022-04-01 08:33] tilakrayal commented on #55438
@darrahts ,
In order to reproduce the issue reported here, could you please provide the complete code you are using. Thanks!

[2022-04-01 08:52] enaskopelja opened #55461 "Possibly platform related tflite conversion issue"
### 1. System information

#### (1) With issues in:
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `macOS Monterey 12.2.1 (m1)`
- TensorFlow installation (pip package or built from source):  following https://developer.apple.com/metal/tensorflow-plugin/
- TensorFlow library (version, if pip package or github SHA, if built from source):
[code]

#### (2) Without issues in:
- OS Platform

[2022-04-01 09:06] #55292 closed

[2022-04-01 09:06] gadagashwini commented on #55328
@f90,
I could able to reproduce the issue.Could you please confirm.

**Sparse Tensors**
[code]
**Output**
[code]
**Sparse tensor with cast int32**
[code]
**Output**
`<tf.Tensor: shape=(4,), dtype=float32, numpy=array([324.07513, 324.07513, 324.07513, 324.07513], dtype=float32)>`

**Sparse tensor with empty labels**
[code]
**Output**
`<tf.Tensor: shape=(4,), dtype=float32, numpy=array([458.2139, 45

[2022-04-01 09:07] shixinlishixinli commented on #37729
i also meet the same problem.  import tensorflow needs 1second.
is there any solution to fix this  problem?

best
Lisa Shi

[2022-04-01 09:54] KaleabTessera commented on #44160
If you data that is not 1d, i.e. image data, then this works:
[code]

[2022-04-01 09:55] #54832 closed

[2022-04-01 10:25] sushreebarsa commented on #55422
@v3551G In order to expedite the trouble-shooting process,could you please provide the code and share the error in  text format  instead of the screenshot which will help  us to analyze the issue?Thanks!

[2022-04-01 10:28] v3551G commented on #55422
Thank you. The parameter is misspelled, and the correct parameter should be 'initial_epoch'

[2022-04-01 10:42] sushreebarsa commented on #55433
@essandess To use keras ,could you please make sure that you have installed tensorflow packages successfully in your system, please check the [Build from source](https://www.tensorflow.org/install/source#macos) for macOS and refer to the tested build configurations.
Thanks!

[2022-04-01 11:06] essandess commented on #55433
@sushreebarsa `tensorflow-macos` is provided as a pre-built `.whl` by Tensorflow on pypi: https://pypi.org/project/tensorflow-macos/#files. It is installed correctly.

Also please note that the previous version 2.7.0 works correctly: https://pypi.org/project/tensorflow-macos/2.7.0/

cc: @kulinseth (`tensorflow-macos` maintainer on pypi)

[2022-04-01 11:21] fabiocarrara commented on #46255
It could be, but it seems there is no way to choose the dtype when using `image_dataset_from_directory()` or `load_img()`. Could the two outputs be aligned somehow?

[2022-04-01 11:46] waseem-arshad94 opened #55463 "I am using AD9361z7035 breakout board. using ubuntu version linaro 12.06 I want to install tensorflow lite on it."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-04-01 11:49] itamarst commented on #48213
As far as I know this bug is still real.

[2022-04-01 11:54] waseem-arshad94 commented on #55463
I am using ADRV9361Z7035 breakout board. Ubuntu version linaro 12.06 I want  to install tensorflow lite on it.

I have **python3 version 3.4.0 and pip3 version 1.5.4**

root@analog:~# pip3 install tensorflow
Downloading/unpacking tensorflow
Cannot fetch index base URL https://pypi.python.org/simple/
Could not find any downloads that satisfy the requirement tensorflow
Cleaning up...
No distribution

[2022-04-01 12:41] mohantym commented on #55463
Hi @waseem-arshad94 !
Here is the process of using lite models in microcontrollers .

1. convert your model to tflite and evaluate it in colab or local system.
2. Convert lite model from step 1 to .h file using xxd converter  .
3. include the header file in your program and start inferencing.

Attaching relevant thread for reference.[ 1](https://www.digikey.in/en/maker/projects/tinyml-getting-star

[2022-04-01 12:53] #55463 closed

[2022-04-01 13:27] rthadur commented on #49852
Related PR has been merged , closing this issue. Thank you

[2022-04-01 13:27] #49852 closed

[2022-04-01 14:05] chunduriv commented on #51145
I was able to reproduce the issue in `TF2.8` and `tf-nightly(2.9.0-dev20220401)`. Please find the gist [here](https://colab.research.google.com/gist/chunduriv/089435bb89b30c4dbef646e47a604958/51145.ipynb#scrollTo=Zn9YOhi7aIdE) for reference. Thanks!

[2022-04-01 16:25] popkristina commented on #53579
Unfortunately not. Apparently the way I tried to use my ELMO model with hub.load(..) is not supported in TF2. So instead I adapted my solution to TF1 where I can use hub.Module(..). The answer I got is here:  (https://github.com/tensorflow/hub/issues/838).

Hope this helps. Good luck!

[2022-04-01 17:14] otdtds commented on #36814
I also have this problem.How do you solve this problem in last?

[2022-04-01 17:58] jonas-eschle commented on #26033
@reedwm what is the status of this? Any progress, anything we can help with?

[2022-04-01 19:18] pranavladkat opened #55466 "undefined symbol when linking tf code with custom op"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): AmazonLinux2
- Mobile device (

[2022-04-01 20:26] japie1235813 commented on #55224
So for TB we need to have a global write created for summary api to work. I think somewhere in keras it trigged the api but since the write is not created, it cause errors.

Could you try add the two lines before calling keras?
[code]

As for why the version works in 2.5 but not in 2.8, I think it goes back to see how tf.keras is implemented and use summary api v2 under the hood.

[2022-04-01 23:28] bluetail14 opened #55468 "UnimplementedError DNN library is not found when running a Conv1D layer"
Windows 10
cudnn 8.1.1.33, CUDA 11.2.2_461.33
Nvidia driver 11.2.109
tensorflow 2.8.0
Python 3.9.12
Anaconda environment
Nvidia GeForece GPU RTX 3060,  16GB RAM, 512GB SSD

**UnimplementedError  Node: 'sequential/conv1d/Conv1D'
DNN library is not found.**

[code]

Model: "sequential"
[code]
[code]

Epoch 1/10
---------------------------------------------------------------------------
Unimplemented

[2022-04-01 23:33] sdeoras commented on #54353
hi folks, i was able to build c-lib using bazel. we can close this bug if needed. thanks.

[2022-04-02 00:59] #47309 closed

[2022-04-02 00:59] #12843 closed

[2022-04-02 00:59] #12473 closed

[2022-04-02 00:59] #46818 closed

[2022-04-02 02:48] E471r commented on #30659
All the tools are already there imo:
Same as subtracting two vectors with shapes (n,1) - (1,m) is an (n,m) matrix,
subtracting two matrices X,Y with shapes (m,k,1)-(1,k,n), gives sqeuclidean (m,n) distance matrix by doing:
tf.reduce_sum((X  - tf.einsum('ijk->kji', Y))**2, axis=1)

[2022-04-02 02:59] #23747 closed

[2022-04-02 06:25] #55444 closed

[2022-04-02 07:02] liupeiqiHN commented on #55344
@mohantym but how to fix this error on MSVC?

[2022-04-02 07:07] mohantym commented on #55461
Hi @sachinprasadhs ! Could you look at this issue? I modified the original code run in colab environment  . The issue is surfacing in 2nd inference (not in 1st inference). Attaching gist in [2.7](https://colab.sandbox.google.com/gist/mohantym/9a726f539a17b8b28d20d1377422f13e/git_55461.ipynb#scrollTo=Zxg4aODy_cjj), [2.8](https://colab.sandbox.google.com/gist/mohantym/301325009d7dce8b62dd6de966ecce7

[2022-04-02 10:11] gmernov commented on #54714
Maybe it's not related exactly  for Tensorflow, but for linker. IDK. But i suffer this for multiple versions of tensorflow code.

[2022-04-02 10:58] BigCatGit commented on #35133
is work

[2022-04-02 11:13] er778899789 commented on #49826
@Minxiangliu @yangzhenze1998
Do you get any error in log?
ex. Some dll file not found……
Or can you guys tell me which tensorflow version you used?

By the way, I remember I add this command in my training code like below. You guys can try it.

[2022-04-02 12:28] zhazl opened #55471 "difference Between the output of conv1d with same input and weights for tf2.3 and tf2.6"
Hello, I had met a problem just like the title. The inputs and weights  are same, use difference tf's version 2.3 and 2.6, I got difference outputs. Is this caused by precision
![clipboard_image_1648902447965](https://user-images.githubusercontent.com/20295041/161383301-524ba7bc-e9ef-4ac3-a5aa-a69566420557.png)
![clipboard_image_1648902397799](https://user-images.githubusercontent.com/20295041/161

[2022-04-02 15:08] justanotheranonymoususer commented on #50955
I had the same problem, this guide helped me:
https://winbindex.m417z.com/?file=msvcp140_1.dll

[2022-04-02 15:08] justanotheranonymoususer commented on #53305
I had the same problem, this guide helped me:
https://winbindex.m417z.com/?file=msvcp140_1.dll

[2022-04-02 15:11] justanotheranonymoususer commented on #18116
I had the same problem, this guide helped me:
https://winbindex.m417z.com/?file=msvcp140.dll

[2022-04-02 18:54] utibeng commented on #55400
I have a folder containing a trained keras model and the assets. Pretty much identical to the standard keras saved model. The folder's location is /home/aa/bb/. The folder contains;
 - folder assets
 - folder variables
 - saved_model.pb
 - keras_metadata.pb

then i run the following commands and get the outputs

**serving_location = ' /home/aa/bb/'
!saved_model_cli show --dir {serving_location} --

[2022-04-02 20:24] alarm109 commented on #44265
Had the same issue:
[code]
[code]
Maybe this issue is related with arm64 mac's and 2.7.0 version?