[2016-08-19 18:06] patfla commented on #3929
And now, a short while later, mysteriously - it works.

Close issue.

[2016-08-19 18:06] #3929 closed

[2016-08-19 18:13] kbrems commented on #3682
As a potential alternative, we have implemented a python-only framework for adding custom operators to tensorflow, the Operator Vectorization Library:
https://github.com/opveclib/opveclib. Multi-threaded C++ and CUDA code is automatically generated from the python operators, which can be used in a Tensorflow application with only a binary install of tensorflow. We have implemented the log1p and ex

[2016-08-19 18:16] kbrems commented on #813
As a potential alternative, we have implemented a python-only framework for adding custom operators to tensorflow, the Operator Vectorization Library:
https://github.com/opveclib/opveclib. Multi-threaded C++ and CUDA code is automatically generated from the python operators, which can be used in a Tensorflow application with only a binary install of tensorflow. We have implemented cumsum and cumpr

[2016-08-19 18:23] yaroslavvb commented on #3912
One way to get "random data" is an uninitialized memory read. However, such bugs are quickly fixed and the thing to ask is what you are doing that is unusual so that it wouldn't get caught in the gazillion hours of training on Google computers. Some ideas to isolate:

1. If this happens with CPU training, does it also reoccur in GPU training? And vica versa
2. If you make your data order determini

[2016-08-19 18:27] matthew-pickett commented on #47
Our team has recently released a library for python-native TensorFlow operator definition and optimization: [opveclib](https://github.com/opveclib/opveclib). It is not part of the numba ecosystem, but I believe could be an alternative solution to  @datnamer 's desired functionality.

[2016-08-19 18:29] zhengwy888 commented on #2714
if I removed the sequence_length, rnn() works, dynamic_rnn doesn't work. maybe just give empty values to histogram when the part of graph wasn't executed can fix this problem.

[2016-08-19 18:29] girving commented on #3682
@kbrems Interesting!

[2016-08-19 18:34] raingo opened #3930 "missing API documentation to write user ops"
For example, how to fill a tensor with all zeros. Is it built in with `context -> allocate_output` or we can get the internal memory and do `memset`?

[2016-08-19 18:38] rafaljozefowicz commented on #3603
https://github.com/tensorflow/tensorflow/blob/r0.10/tensorflow/core/kernels/cwise_ops.h the fix doesn't seem to be in 0.10 branch.

[2016-08-19 19:14] haibarasiao opened #3931 "tensorflow protobuf problem about:A protocolmessage was rejected because it was too big (more than 67108864 bytes)"
I got this problem when trying to run a chief worker of distribute tensorflow. The tensorflow was installed by pip,not from source. Then I uninstalled protobuf by pip and then download the source and changed 256 << 20 in coded_stream.h .
And I installed protobuf as Readme said.But the same problem occurred, It seems that tensorflow did not use the new compiled libprotobuf.  How could I fixed this

[2016-08-19 19:33] ibab commented on #813
opveclib is very cool!
Note that both the CPU and GPU implementation that I've added to Eigen are extremely naive.
I've been planning to add optimized implementations, but haven't managed to get around to it yet.
It would be interesting to test the performance again with the optimized implementations.

[2016-08-19 19:55] yaroslavvb commented on #3917
Sounds like integer division by 0 somewhere, there was same error message when doing tf.div(1, 0), but @girving added some checks in the div/mod kernels

[2016-08-19 19:59] yaroslavvb commented on #3921
There were some memory problems that are fixed by running with tcmalloc -- http://goog-perftools.sourceforge.net/doc/tcmalloc.html Also, with tcmalloc you can turn on [heap profiler](http://goog-perftools.sourceforge.net/doc/heap_profiler.html) and get a more detailed statistic of where the memory is going

[2016-08-19 20:00] yaroslavvb commented on #3923
Sounds like a protobuf version mismatch, do you get the same problem if you do a fresh install in virtualenv using the [official instructions](https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html)?

[2016-08-19 20:02] yaroslavvb commented on #2416
If you build tensorflow with `-c dbg --config=cuda` and run it under GDB, it will show which line in `StreamExecutor::DeviceMemoryUsage` causes the SEGSERV

[2016-08-19 20:06] yaroslavvb commented on #175
einsum would subsume tensordot which is tracked in https://github.com/tensorflow/tensorflow/issues/216

[2016-08-19 20:08] aselle commented on #3839
You can also set DYLD_PRINT_ENV and DYLD_PRINT_LIBRARIES env variables (see man dyld).  One thing to note is that on El Capitan DYLD_LIBRARY_PATH is not inherited for protected binaries. See e.g.
http://apple.stackexchange.com/questions/215030/el-capitan-make-check-dyld-library-path
So if you are in protected mode that might be causing it to be ignored.

[2016-08-19 20:12] yaroslavvb commented on #3926
Perhaps due to difference in models? (ie, is_training=True vs is_training=False)

[2016-08-19 20:17] girving commented on #3917
@yaroslavvb Do floating point exceptions occur if you cast 1e100 to `int32`?

[2016-08-19 20:21] kalle commented on #3926
No, same thing when setting is_training=True on the restored net.

And BTW, isn't the purpose of the `is_training` argument to batch normalization to "integrate" the learned mean and std into the layer during interference?

[2016-08-19 20:23] yaroslavvb commented on #3917
Shouldn't....tf.cast(1e100, tf.int32) gives MAXINT on GPU and MININT on CPU

[2016-08-19 20:26] girving commented on #3917
Not sure what the problem is, then.  @czp1019 Can you compile in debug mode and investigate what exactly is causing the exception?

[2016-08-19 20:29] rafaljozefowicz opened #3932 "l2_normalize broken in master"
`tf.nn.l2_normalize(tf.constant(np.ones([2, 2, 2, 2])), [0, 1, 2])` crashes with the following error:
`ValueError: Shape (1, 3) must have rank at most 1`

The problem is that l2_normalize function converts the dimension list into `[[0, 1, 2]]` (double brackets) and it stopped being supported recently. It works fine in 0.10 branch as far as I can tell.

Shorter repro to get the same error:
`tf.redu

[2016-08-19 20:30] b0noI commented on #278
I would like to help with this one.

[2016-08-19 20:38] mfernezir opened #3933 "configure script crashing in virtuealenv due to issues with site.getsitepackages()"
In the current master, the line https://github.com/tensorflow/tensorflow/blob/master/util/python/python_config.sh#L63

causes a crash stating

 if running confgure inside virtualenv Python environment.

The underlying issue is that virtualenv uses an older site package that doesn't have getsitepackages. It is still an open bug in virtualenv after 4 years (!): https://github.com/pypa/virtualenv/iss

[2016-08-19 21:03] msevrens commented on #3738
@ebrevdo
The original paper is not using truncated back propagation through time. The final outputs from the forward and backward passes of the inner LSTM on each token are concatenated to a word embedding and fed into the higher level LSTM. There is no loss at every step as the loss comes from the higher level LSTM.

We also discussed bucketing above and that will not work either as the mini batc

[2016-08-19 21:22] zplizzi commented on #739
@ck196 That's great! I've not yet implemented the bounding box regression part of the network - that's one of the things on my to-do list for this project.

[2016-08-19 22:19] shrutisharmavsco commented on #3480
@piso try running this from the root of your tensorflow repo:
[code]
Then change the name of the graph being loaded in `CameraExampleViewController.mm`
Specifically, change this line:
[code]
to
[code]

[2016-08-20 01:05] thjashin commented on #3924
Thanks, so that's the difficulty. But as far I know, there seems no way to raise an error on max() outside the __lt__ operators.

[2016-08-20 02:06] vrv commented on #3932
Thanks, the bug is in l2_normalize.

tf.reduce_sum is working correctly, the dims argument must be a scalar or a vector.  I'll work on a fix + test

[2016-08-20 04:21] suiyuan2009 commented on #3913
I can't reproduce. I removed bazel cache directory in ~/.cache/bazel/, and run bazel clean, then to rebuild tensorflow, everything is ok, I use the latest tensorflow and bazel 0.3.1(also the latest) on ubuntu16.04.

[2016-08-20 04:37] ebrevdo commented on #2714
It does indicate that histogram creation inside contexts, including cond
and while, is unsupported.  We can add it to rnn() but dynamic_rnn will be
difficult without help from Yuan.

On Aug 19, 2016 11:29 AM, "eDz" <notifications@github.com> wrote:

[2016-08-20 04:44] ebrevdo commented on #3738
One way to handle this might be to combine multiple shorter examples into a
single long example, with state reset indicators in between, and minibatch
these longer examples. This kind of bookkeeping is not impossible in a Tf
graph, but it's also not easy. I've never seen it done.

On Aug 19, 2016 2:03 PM, "Matt Sevrens" <notifications@github.com> wrote:

[2016-08-20 04:46] ebrevdo commented on #3420
Great! For any orthogonal questions we can open a different, more focused, issue.

[2016-08-20 04:46] #3420 closed

[2016-08-20 06:19] inderpreetsganda commented on #3897
This isn't an issue, there was problem with my architecture. Thanks @yaroslavvb and @suiyuan2009

[2016-08-20 06:19] #3897 closed

[2016-08-20 06:33] act65 opened #3936 "Video summary"
Hey,
Just wondering if there are any plans to add video summaries to tensorboard??
Alex

[2016-08-20 07:31] czp1019 commented on #3917
I'll try compile in debug mode these days, but I'm not sure if this issue is caused by the version of Cudnn or Cuda. @girving

[2016-08-20 07:33] czp1019 commented on #3917
I think so and I will check it, thanks! @yaroslavvb

[2016-08-20 08:35] thjashin opened #3937 "tf.add_check_numerics_ops() causes numeric errors for gradients of tf.pow"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN: None
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1. Which pip package you installed.
[`https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl`](https://storage.googleapis.com/tensorflow/linux/cpu

[2016-08-20 08:35] haibarasiao commented on #3923
@yaroslavvb sure I do ,but it didn't work too. I also tried to upgrade the > 64 version limited as said in " https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#protobuf-library-related-issues"
,but after I upgraded , I can't import tensorflow , reason is segment fault. My tensorflow is installed by pip,
not from source.Could some one can give me a  > 64 limited protobuf version th

[2016-08-20 08:36] astromme commented on #2568
Thanks!
On Sat, Aug 20, 2016 at 2:00 AM Andrew Selle <notifications@github.com>
wrote:

[2016-08-20 08:52] haibarasiao commented on #582
@kevineger Could you show me what you did after you changed 256 << 20 in coded_stream.h? I have done the same thing which did seem not work. Did you reinstall protobuf and tensorflow after you did the 256 changes by bagel?

[2016-08-20 10:12] haibarasiao opened #3938 "After upgrade protobuf for the 64Mb limited , segment fault occurred"
After doing "pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/protobuf-3.0.0b2.post2-cp27-none-linux_x86_64.whl" as said in "https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#protobuf-library-related-issues"
, my tensorflow did not work and got a segment fault after import tensorflow.
Could some one give me a right pip install version of >64MB limited pro

[2016-08-20 10:18] haibarasiao commented on #2046
@doubler If I changed 256<<20 in coded_stream.h in protobuf source and reinstall protobuf but not reinstalled tensorflow, can I fix the 64MB limited problem? I only reinstalled protobuf seems not work..

[2016-08-20 10:29] haibarasiao opened #3939 "when I try to install tensorflow from source by bazel, I got this problem:"
the commond is : bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
ERROR is:
undeclared inclusion(s) in rule '@zlib_archive//:zlib':
this rule is missing dependency declarations for the following files included by 'external/zlib_archive/zlib-1.2.8/uncompr.c':
  '/usr/local/lib/gcc/x86_64-pc-linux-gnu/6.1.0/include-fixed/limits.h'
  '/usr/local/lib/gcc/x86_64-pc-linu

[2016-08-20 11:31] eduOS opened #3940 "one more import error(new)"
Here is the error messages:

[code]

Please help. According to the related no module alike errors I have updated the mock module and six(now 1.10.0), but the same error appears. Thanks very much.

I thought it is mock that cause the problem since importing mock can reproduce the error.

[2016-08-20 11:55] #3940 closed

[2016-08-20 11:55] eduOS commented on #3940
I thought it is mock that causes the problem since importing mock can reproduce the error.

[2016-08-20 11:58] kalle commented on #3926
@yaroslavvb I was too quick when I said it was the same result (I must have forgotten to save the file of something). When I set `is_training=True` I get the same result when doing the inference with the restored net.

But I still don't understand the purpose of the `is_training` parameter since setting it to `False` essentially throws away the learned mean and variance, replace them with 0.0 and

[2016-08-20 12:01] eduOS commented on #3940
Yeah, I tackled the problem by removing and reinstalling the mock module.

[2016-08-20 14:53] perhapszzy opened #3941 "cifar10_train can't use all CPUs"
### Environment info
Operating System: Linux 14.04

Installed version of CUDA and cuDNN:  No

If installed from binary pip package, provide:
1. Which pip package you installed.

https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

0.10.0rc

### Steps to reproduce
1. c

[2016-08-20 15:53] chenghuige opened #3942 "tf.app.flags issue for multiple file AttributeError(name)"
python train.py
messi
Traceback (most recent call last):
  File "train.py", line 24, in <module>
    import model
  File "/home/gezi/mine/tensorflow-exp/tests/flags/model.py", line 23, in <module>
    print(FLAGS.batch_size)
  File "/usr/lib/python2.7/site-packages/tensorflow/python/platform/flags.py", line 43, in __getattr__
    raise AttributeError(name)
AttributeError: batch_size
gezi:~/mine/te

[2016-08-20 16:38] fansgit opened #3943 "Link to "iris_monitor.py" broken"
The link to [iris_monitor.py](https://www.tensorflow.org/versions/examples/tutorials/monitors/iris_monitors.py) returns `not found` on Tensorflow tutorial [logging-and-monitoring-basics](https://www.tensorflow.org/versions/r0.10/tutorials/monitors/index.html#logging-and-monitoring-basics-with-tf-contrib-learn). Should it be redirected to Github [there](https://github.com/tensorflow/tensorflow/raw/

[2016-08-20 18:14] girving commented on #3738
@ebrevdo That's a wonderful idea!  It would reduce the slowdown to at most a factor of 2 (or maybe 3?).  If some tricky bookkeeping is required, maybe an organizational C++ op is worth it?

[2016-08-20 18:27] yaroslavvb commented on #3926
During training there are two sources of mean and variable -- statistics over mini-batch, and global statistics computed  using geometric averaging. The idea is that while training you use mini-batch statistics to normalize, and just save global statistics for later. During inference you may not have mini-batches, so you global statistics instead. The name `is_training` is also used for dropout la

[2016-08-20 18:50] parilo opened #3944 "Not found: Op type not registered 'SigmoidGrad'"
### Environment info
Operating System:
Mac OS X 10.11.6 (15G31)

Installed version of CUDA and cuDNN:
no cuda

Installed from sources,
git clone https://github.com/tensorflow/tensorflow.git --branch v0.10.0rc0 --single-branch Tensorflow

1. The commit hash (`git rev-parse HEAD`)
3cb39956e622b322e43547cf2b6e337020643f21

2. The output of `bazel version`
........
Build label: 0.2.1-homebrew
Build ta

[2016-08-20 19:02] yaroslavvb commented on #3944
What if you use `:libtensorflow_cc.so` instead?

[2016-08-20 19:15] hhexiy commented on #3663
Update: the newest version fixed this issue. However, if parallel_iterations > 1, I got the following error:
W tensorflow/core/framework/op_kernel.cc:968] Invalid argument: TensorArray map/while/map/TensorArray_2_6@gradients: Could not read index 1 twice because it was cleared after a previous read (perhaps try setting clear_after_read = false?).
W tensorflow/core/framework/op_kernel.cc:968] Inval

[2016-08-20 19:22] yaroslavvb commented on #3937
That's normal functionality of check_gradient -- you run it on a code which
shouldn't have any NaN or inf values, and it fails with
IllegalArgumentError on the first inf/nan it finds.

However, having NaN or Inf in your computation isn't necessarily a problem.
You can divide by inf to get 0, or you can add extra logic to replace it
with regular value.

Below is implementation of Pow grad
(tensorfl

[2016-08-20 20:26] chenxi116 commented on #2190
It seems that this problem still exists for Tensorflow 0.9 and 0.10. @agupta83  Have you solved the problem without upgrading Ubuntu system?

[2016-08-20 20:32] parilo commented on #3944
:libtensorflow_cc.so solves the problem

[2016-08-20 20:32] #3944 closed

[2016-08-20 22:08] sarahedkins commented on #3688
What was the solution to this? I'm facing the same issue.

[2016-08-20 23:19] ebrevdo commented on #3663
Can you give a short code snippet that allows us to replicate the problem?

On Aug 20, 2016 12:17 PM, "hhexiy" <notifications@github.com> wrote:

[2016-08-20 23:48] hhexiy commented on #3663
The same snippet---I just changed parallel_iterations to 10.

[code]

[2016-08-21 00:52] po0ya commented on #3933
I'm facing the same issue

[2016-08-21 01:32] thjashin commented on #3937
Thanks for explanation. Yep. But this makes it hard for someone who uses tf.pow in their code but still want to find out other NaNs, right? And it also feels a little uncomfortable to have different behaviors between tf.pow (y=2) and tf.square when using check_op.

[2016-08-21 01:51] lucasdavid commented on #3848
I'm not sure, but maybe when the training was initiated, but interrupted for some reason; and now you want to restart from the point you left instead of going back to epoch 1..?

[2016-08-21 02:06] reesepathak commented on #3939
Also having this issue.

[2016-08-21 02:42] NeilGirdhar opened #3945 "Feature request: extend tf.select to broadcast a scalar condition"
Consider allowing tensorflow.select to accept scalar conditions.  I.e., `tf.select(condition, t, e, name=None)` with `condition` a scalar, and `t`, `e` having the same shape.

[2016-08-21 03:51] kgocheva commented on #22
Hi everyone!
Very happy to hear Tensorflow support is being extended outside Nvidia Cuda. I wonder if you also consider making it work on APUs like this: http://www.amd.com/en-us/products/processors/laptop-processors#sectionOne ?

[2016-08-21 04:55] vrv commented on #3945
I think that is perhaps better accomplished via tf.cond?  https://www.tensorflow.org/versions/r0.10/api_docs/python/control_flow_ops.html#cond

(The reason it is "better" is that, if implemented carefully, tf.cond doesn't evaluate both branches, whereas tf.select with this feature would always evaluate both branches).  Please comment if you disagree!

[2016-08-21 05:07] NeilGirdhar commented on #3945
Isn't `cond` done on the CPU?  I mean, even if the condition is a placeholder, cond has to copy the result of `pred` back to the CPU and then call either `fn1` or `fn2` — all on the CPU.  `select` seems better if everything is already on the GPU and needs to stay on the GPU.

[2016-08-21 05:09] josefinb commented on #3688
You need to run it in the terminal!

[2016-08-21 06:27] vrv commented on #3945
That's a good point, and select does do some amount of broadcasting already (it can broadcast row-wise when it is a vector), so it seems reasonable to extend that all the way to the scalar case.

This probably isn't super high priority though, but would be a welcome improvement if someone in the community wanted to implement this, so marking this as contributions welcome.  In the mean time, you co

[2016-08-21 06:28] NeilGirdhar commented on #3945
Thanks for reopening the issule, could you point me to where select is defined in the source?  My search for "def select" didn't find it.

[2016-08-21 06:33] vrv commented on #3945
You'd have to implement the change in math_ops.py _SelectShape to allow the new shape signature, math_ops.cc's ShapeFn to do the same, and then you'd have to edit cwise_op_select.cc and cwise_op_gpu_select.cu.cc to implement the new feature, and then probably cwise_ops_test.py to validate the change.

[2016-08-21 06:36] NeilGirdhar commented on #3945
Okay, thanks.  I may work around this for now using `expand_dims` on my condition.

[2016-08-21 08:00] xsz commented on #2726
@hellf I believe it is because you assign the ps and one worker on one node. If you split the ps on one node and the workers on the others,  the out-of-memory bug will disappear

[2016-08-21 08:23] o20021106 commented on #42
hi everyone

after  I type the follwoing in cmd
docker run -p 8888:8888 -it b.gcr.io/tensorflow/tensorflow

the terminal returned:
Could not read CA certificate.....the system cannot find the path specified.

is there anyway to fix this?

[2016-08-21 10:23] bbrumpom commented on #42
@rajmiglani thx for previous help, did you by any chance figure out how to set python 3 on jupyter?

[2016-08-21 10:44] lunzueta commented on #42
Dear all. I just wanted to make you aware that it is now possible to install and run TensorFlow in the Linux bash shell available in Windows 10 after its "Anniversary Update", at least the CPU-only version.

[2016-08-21 10:55] off99555 commented on #42
@lunzueta How exactly?

[2016-08-21 11:53] suiyuan2009 commented on #3373
this line `data = tf.Variable(tf.zeros(_data.shape), trainable=False, collections=[])` will create two variables and an assign op, and `scatter_update_op` has no special treatment for memory usage.

[2016-08-21 12:27] yiqun-liu opened #3947 "Slicing a Sparse Tensor?"
Currently, sparse tensors don't support indexing, and the tf.sparse_split() operation can't split a sparse tensor according to a given proportion. If I want to select a portion of the training set (which is a sparse tensor) as the validation set, is it possible?

[2016-08-21 13:03] lunzueta commented on #42
@off99555 First, you need to install the Linux bash shell like this: http://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/
Then, just follow the instructions explained here to install TensorFlow in Linux: https://github.com/tensorflow/tensorflow
I've tested the CPU-only version for Python 2.7 with the mnist example of the tutorial, because I couldn't install CU

[2016-08-21 13:04] kalle commented on #3926
Yaroslav , thank your for taking the time to answer my questions on a weekend! :-)

OK, I have made another [test program](https://github.com/tensorflow/tensorflow/files/428839/bug_report2.zip) that only uses a batch normalizer and I train beta and gamma to give the the distribution I want.

I send in noise with distribution Norm(m=2,v=10) and then learn the parameters beta and gamma so the output

[2016-08-21 15:33] naibaf7 commented on #22
@kgocheva
APUs do support OpenCL for both the CPU and GPU part.
This should work pretty much out of the box when the OpenCL support is ready.
Meanwhile, if you already have an APU and want to try out another ML framework, BVLC OpenCL Caffe already works.

[2016-08-21 15:51] ganggangsouth opened #3948 "how solve : ImportError: cannot import name nest"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-21 15:59] kgocheva commented on #22
@naibaf7 Thanks for the clarification.  I'm looking at cost effective hardware/software combinations to locally run Tensorflow and will definitely follow the OpenCL development progress.

[2016-08-21 17:42] Adnino commented on #42
one solution is install Bash for windows and run the installation steps as if you are installing it on linux.
Notes:
 1 - bash for windows requires the 64 bit version of windows 10 with the anniversary update installed
 2 - For the moment, this installation only support CPU installation of tensorflow.

[2016-08-21 19:17] yaroslavvb commented on #3926
So you are saying that moving_mean and moving_variance don't get updated when training? You can see the code in [layers.py](https://github.com/tensorflow/tensorflow/blob/008bcaea38815f46804fc3f56492f4dd93837a56/tensorflow/contrib/layers/python/layers/layers.py#L229). There's a node there "update_moving_mean" and as far as I can see, it should be triggered whenever you read output of batchnorm. You

[2016-08-21 19:17] pronobis opened #3949 "Standard input pipeline logs errors"
The following code:

[code]

Finishes without an exception, but generates two log messages marked as errors.

[code]

Shouldn't these be warnings or simply hidden?
### Environment info

Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
8.0.27 and 5.0.5

Installed from source:
Commit hash: 3cb39956e622b322e43547cf2b6e337020643f21 (v0.10.0rc0)

Bazel:
Build label: 0.3.0
Build targ

[2016-08-21 21:04] tuba commented on #2037
I can reproduce it always on GPU, on CPU all works fine. If you need the code or ssh to check it - notify me.

[2016-08-21 21:07] tuba commented on #2037
Ubuntu 16.04, nVidia driver 367.35, GTX 1080

[2016-08-21 21:16] yaroslavvb commented on #2037
GTX 1080 doesn't work correctly with CUDA 7.5
You need CUDA 8.0, but there's no stable release of CUDA 8.0 yet
However, I tried the release candidate and it worked for me

[2016-08-22 01:30] 1051824353 commented on #3843
c_api_test.cc src:
#include "./c_api.h"
#include<stdio.h>
#include<string.h>

int main(int argc, char *argv[]){
  printf("---- -------start");
  TF_Status* s = TF_NewStatus();
  TF_SessionOptions* opt = TF_NewSessionOptions();
  TF_Session* session = TF_NewSession(opt, s);
  TF_DeleteSessionOptions(opt);
  TF_CloseSession(session,s);
  TF_DeleteStatus(s);

  printf("---- -------end");
  return 1;

[2016-08-22 01:31] 1051824353 commented on #3843
#include "./c_api.h"
#include<stdio.h>
#include<string.h>

[2016-08-22 01:33] 1051824353 commented on #3843
stdio.h
string.h

[2016-08-22 03:43] coderXiangLi commented on #3870
@suiyuan2009 I think if not specify `worker_device` in `device_setter.replica_device_setter`, ops executes on worker1 except `input op `

[2016-08-22 03:48] JohnTian commented on #42
All you need may be a link. [How to install and run TensorFlow on a Windows PC](http://www.netinstructions.com/how-to-install-and-run-tensorflow-on-a-windows-pc/)

[2016-08-22 05:04] yuye2133 commented on #2413
bazel build -c opt //tensorflow/cc:tutorials_example_trainer --crosstool_top=@bazel_tools//tools/cpp:default-toolchain

I have used the command to build tensorflow , but how to install tensorflow?
and I want to know It can be used for gpu?

[2016-08-22 06:18] kalle commented on #3926
Yes, I guess that is was I'm saying.

I added the print outs and nothing got printed out. But when I changed this lines in `optimizer.Optimizer.apply_gradients()`

[code]

to

[code]

the batch normalizer did learn the distribution of its input (and got correctly restored)! I don't know if this is the correct place to fetch the `UPDATE_OPS` or if there needs to be more checks or whatever.

[2016-08-22 07:47] off99555 commented on #42
After I followed the link, restarted the system after turning on Linux features. There is still no bash available. Opening cmd and type bash yields "'bash' is not recognized as an internal or external command".
My Win 10 Build: 14393.51

[2016-08-22 07:57] kalle commented on #3848
@lucasdavid Thanks for chiming in. But if you want to continue the training you wouldn't run `initialize_all_variables()` either?  :-)

I think TensorFlow should have three functions:

* `initialize_all_variables()` that really took care of *all* variables.
* `initialize_global_variables()` and `initialize_local_variables()` that did the more specific initializations.

If you are doing something c

[2016-08-22 08:13] stilda commented on #3663
@hhexiy, could you please tell the commit / branch where you found it working?

[2016-08-22 09:37] haibarasiao commented on #3939
@reesepathak
#2109 will help you, and I fixed it by adding '/usr/local/lib/gcc/x86_64-pc-linux-gnu/6.1.0/include' and '/usr/local/lib/gcc/x86_64-pc-linux-gnu/6.1.0/include-fixed' in tensorflow/third_party/gpus/crosstool/CROSSTOOL file,I think this will be work for you.

[2016-08-22 09:37] #3939 closed

[2016-08-22 09:52] JohnTian commented on #42
@off99555 I heard that Win10 could use ubuntu bash.
* [Bash on Ubuntu on Windows | MSDN](https://msdn.microsoft.com/en-us/commandline/wsl/about)
* [How to Install and Use the Linux Bash Shell on Windows 10](http://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10/)

I followed the link [How to install and run TensorFlow on a Windows PC](http://www.netinstructions.c

[2016-08-22 10:11] haibarasiao opened #3951 "when I try to install tensorflow from source by bazel, I got this new problem:"
/home/scw4150/Documents/tensorflow/tensorflow/tensorflow/stream_executor/BUILD:5:1: C++ compilation of rule '//tensorflow/stream_executor:stream_executor' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -fPIE -Wall -Wunused-but-set-parameter

[2016-08-22 11:01] hholst80 commented on #3951
Which version of cuDNN and Cuda toolkit are you using? Gcc version? OS version?

[2016-08-22 12:02] fheide commented on #3917
This seems to be a Cuda/Driver Issue. I tracked this down on my system and it fails in /external/eigen_archive/unsupported/Eigen/CXX11/src/Tensor/TensorExecutor.h at line 250:

const int max_blocks = device.getNumCudaMultiProcessors() *
                           device.maxCudaThreadsPerMultiProcessor() / block_size;

In some cases a block_size of 0 is returned from device.maxCudaThreadsPerBlock()

[2016-08-22 13:03] damienmg commented on #3569
@martinwicke this is an issue with the environment being stripped, @aehlig is working on a principle solution to it.

[2016-08-22 13:06] damienmg commented on #3699
Sorry, just back from holidays. I don't see any current issues in Bazel, we did had some change in Bazel structure that caused some error on the cache and could have corrupted his cache.

The recommended clean solution is `bazel clean --expunge` to wipe out everything.

[2016-08-22 13:08] damienmg commented on #3589
I guess the EOF is because the Bazel server get killed. Generally happens when you have a OOM killer that decide that bazel is using too much memory.

[2016-08-22 13:10] jparinita commented on #3527
@girving

Since TensorFlow v0.9.0 was released, I have built v0.9.0 on big endian platform and currently executing tests.
`sparse_split_op_test` is failing on v0.9.0 as well.  Additionally, there are few more test failures seen such as
[code]
I am debugging the code to find the root cause but no luck yet.
Above mentioned tests seem to be related to ops functionality (`op_def_library.apply_op()`).

[2016-08-22 13:20] npanpaliya commented on #3545
Hello,

Could you please let me know if I can go ahead with hwloc library for retrieving physical core size?

[2016-08-22 13:46] lms-bv opened #3952 "Poor results with tensorflow DNNClassifier and cross_val_score"
I am using python 3.5, tensorflow 0.10 and its DNNClassifier. If I perform a single training and testing stage, as below, the test result is decent: accuracy = 0.9333

import tensorflow as tf
from tensorflow.contrib import learn
from sklearn.cross_validation import cross_val_score, ShuffleSplit, train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.metrics imp

[2016-08-22 14:34] lucasdavid commented on #3848
Okay, maybe my example wasn't really a good. I agree that a function called `initialize_all_variables` which does not initialize all variables seems counter intuitive, but there's probably a reason for that.

Also, following your organization (in which `all_variables` means all variables), you could easily achieve any initialization without the "global_variables" collection:
[code]

[2016-08-22 14:39] girving commented on #3917
@zheng-xq Do you know what might be happening?

[2016-08-22 14:40] girving commented on #3699
Thanks @damienmg.  Closing for now.

[2016-08-22 14:40] #3699 closed

[2016-08-22 14:41] girving commented on #3527
@jparinita I'd still suggest preparing a pull request of your changes so far.  It's hard for me to help without some idea what kind of changes need to be made.

[2016-08-22 15:17] erickrf opened #3953 "error loading package 'tensorflow/core': Encountered error while reading extension file 'protobuf.bzl': no such package '@protobuf//'"
Operating System: Scientific Linux release 7.2 (Nitrogen)
CUDA 7.5

I'm trying to install tensorflow from source (with debug options in order to solve another issue), from GItHub branch r0.10 .

Using bazel 0.3.1-2016-08-22

Apparently related to #3437

After configuring tensorflow, I ran `bazel build -c dbg --config=cuda //tensorflow/cc:tutorials_example_trainer` and got the following errors:

[c

[2016-08-22 15:56] sergulaydore commented on #2207
I am having trouble calling this function. I saved the new version as
linalg_ops_new. I am attaching the error I got. Can you please tell me what
I am doing wrong? What is the best way to call new ops in tensorflow?

Thanks,
Sergul

On Mon, Aug 15, 2016 at 7:49 PM, Rasmus Munk Larsen <
notifications@github.com> wrote:

[2016-08-22 16:09] Roboball opened #3954 "Linux Shell does not appear when installing Tensorflow in Dockers (Win7)"
Following these instructions:
http://www.netinstructions.com/how-to-install-and-run-tensorflow-on-a-windows-pc/`

executing the last command in cmd shell (Win7):
`docker run -it -p 8888:8888 gcr.io/tensorflow/tensorflow`

cmd is downloading, pulling, then Jupyiter notebook services gets started..., but then I get warnings and the linux shell does not appear:

`C:\Users\user>docker` run -it b.gcr.i

[2016-08-22 16:10] cwhipkey commented on #3545
I think it's okay to include that library for this purpose.

I am still uncertain why it would have so much impact on a benchmark that
uses GPUs for the core computation - the main CPU work would be just the
scheduling of GPU kernels.

Note that this recent commit would affect any GPU benchmark as well:
https://github.com/tensorflow/tensorflow/commit/f1acb3bd828a73b15670fc8019f06a5cd51bd564
.  It'

[2016-08-22 16:13] agupta83 commented on #2190
@chenxi116 Nope. I couldn't figure out the issue.

[2016-08-22 16:14] prb12 commented on #3776
This looks to me like the code it trying to restore a saved checkpoint.  Did you perhaps run with one configuration, long enough to save a checkpoint, and then start with different parameters (but without deleting the old checkpoints?)

[2016-08-22 16:20] prb12 commented on #3777
@xmbrst Could you please take a look at this?

[2016-08-22 16:24] prb12 commented on #3788
Please can you follow the template for reporting an issue.  It is impossible to triage if you do not provide software versions and adequate information to reproduce.

[2016-08-22 16:30] Mazecreator commented on #3788
This appears to be a duplicate of other reports.  I had this issue and it was resolved a few days ago at the HEAD.

[2016-08-22 16:36] vrv commented on #3788
Yes, I believe it was fixed already.

[2016-08-22 16:36] #3788 closed

[2016-08-22 16:48] prb12 commented on #3845
Appears not to be a TF issue.  Please reopen if this is not the case.

[2016-08-22 16:48] #3845 closed

[2016-08-22 16:51] prb12 commented on #3867
@ebrevdo Do you know why this might be?

[2016-08-22 16:53] prb12 commented on #3869
This looks like a simple Unix permissions issue, and not a TensorFlow bug.  Please reopen if this is not the case.

[2016-08-22 16:53] #3869 closed

[2016-08-22 16:54] xmbrst opened #3956 "wide_n_deep_tutorial.py won't work on Python 3"
@tiagonj notes that wide_n_deep_tutorial.py will not work on Python 3 because it calls urllib.urlretrieve directly, and suggests using the maybe_download function from tensorflow.contrib.learn.python.learn.datasets.base.

[2016-08-22 16:55] bsautermeister opened #3957 "Optimizer + tf.reduce_prod() + GPU = Cannot assign a device to node 'gradients/Prod_grad/ListDiff'"
### Environment info
Operating System: _Ubuntu 14.4.5 LTS_

Installed version of CUDA and cuDNN:
_CUDA 7.5.18_ and _cuDNN 4.0.7_
[code]

If installed from binary pip package, provide:

1. Which pip package you installed:
pip package version 0.10 for Python 2.7 with GPU support:
_https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl_

2. The output from

[2016-08-22 16:55] prb12 commented on #3860
@jarmstrong2 Please can you provide all of the information requested in the TensorFlow issues template - i.e. version information of all packages and full reproduction information.  It is very hard to triage issues if you do not provide these details.

[2016-08-22 16:56] jmugan opened #3958 "tensorboard: graph visualization failed, undefined"
In Chrome it says: "Graph visualization failed: TypeError: Connot read property 'length' of undefined.

In Firefox it says: "Graph visualization failed: TypeError: rawNodes is undefined"

I have attached the events file (appended '.txt' so it Github would accept it.)
[events.out.tfevents.1471882692.JMugan.local.txt](https://github.com/tensorflow/tensorflow/files/430670/events.out.tfevents.14718826

[2016-08-22 16:56] xmbrst commented on #3777
Both the Linear Model and the Wide and Deep tutorials use wide_n_deep_tutorial.py. You use flags, like " --model_type=wide", to switch between the two types of models. I'll take a look at the regularization issue.

I've a filed a separate issue, #3956, about the Python 3 problem.

[2016-08-22 17:03] yuanbyu commented on #3663
Yes, this is probably a known bug. We are working on a fix.  In the meantime, for now could you please set `parallel_partitions` to 1 for the outer loop/map?

[2016-08-22 17:03] hhexiy commented on #3663
commit 647fb04b233f0476d46ce449125c7cc4087c8b81
Author: Tijmen Tieleman <tijmentieleman@gmail.com>
Date:   Thu Aug 18 14:27:05 2016 -0700

On Mon, Aug 22, 2016 at 1:14 AM, Alexander Korostilyov <
notifications@github.com> wrote:

[2016-08-22 17:20] prb12 commented on #3879
I do not believe this is a bug.  As @yaroslavvb says, this is just a racy program which allows arbitrary interleavings of two variable reads and writes.

If you examine the graphdef this should be more clear.

Since this is not a TensorFlow bug, please direct any followup questions to StackOverflow.

[2016-08-22 17:20] #3879 closed

[2016-08-22 17:32] rryan commented on #386
I'm now working on a cuFFT-based rfft.

[2016-08-22 17:34] rryan commented on #386
@jacksonloper CPU-based FFT is still in limbo unfortunately. I'll ping an internal thread about it.

[2016-08-22 17:41] el3ment commented on #386
@rryan you are my hero.

[2016-08-22 17:50] aselle commented on #3933
@danmane, you merged this change I believe, but it was originally authored by @itsmeolivia. Could @itsmeolivia look at fixing this so it can work with the older site interface so that virtualenv doesn't break. Thanks!

[2016-08-22 18:07] prb12 commented on #3886
I believe this code is actually non-deterministic.  (at least I see **both** values if I run repeatedly)

If you look at the GraphDef using this code:
[code]
The Variable read of x is cached using an Identity op called `Variable/read`.  There is no control dependency between the cached read and the assign.  There **is** a control dependency on the Const input to the Add op. (@yuanbyu is the expert

[2016-08-22 18:18] prb12 commented on #3895
Please can you provide full details of Tnesorflow version and steps to reproduce, as requested in the issues reporting template we provided.

[2016-08-22 18:29] prb12 commented on #3891
If you are getting out of memory errors when using GPU then clearly something is wrong and it is unlikely to train properly.
Please can you clarify what card you're using.  The log messages imply you only have 1.69GB in use - I'm assuming this is quite a small GPU?
Also, as @suiyuan2009 states, you should probably check what the memory requirements of your model are.

This seems unlikely to be a T

[2016-08-22 18:29] aselle commented on #3936
@danmane can comment further, but there is work to make tensorboard more extensible so that people could add additional summaries on their own.

[2016-08-22 18:32] jeffxtang opened #3962 "strip_unused on TensorFlow 0.10.0rc0 outputs ImportError: No module named tools"
### Environment info

Operating System: Mac OS X El Capitan

Installed version of CUDA and cuDNN: N/A

Installed from binary pip package, TensorFlow version is 0.10.0rc0.

Python 2.7.11
### Steps to reproduce
1. `git clone https://github.com/tensorflow/tensorflow.git`
2. `cd tensorflow`
3. `bazel build tensorflow/python/tools:strip_unused`
4. I got the same error as in step 3 (shown in Logs below)

[2016-08-22 18:47] kbrems opened #3963 "add threadpool.h to the files exported to the sysconfig.get_include() directory with a binary install"
### Environment info

Operating System: ubuntu 14.04

Installed version of CUDA and cuDNN: 7.5, v4
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rw-r--r-- 1 root root   322936 Aug 15  2015 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Aug 15  2015 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.7.5
lrwxrwxrwx 1 root root       19 Aug 15  2015 /usr/loca

[2016-08-22 18:51] aselle commented on #3948
Please provide information requested in the template (you just ignored it). You provide no context, we unfortunately cannot provide help.

[2016-08-22 18:55] aselle commented on #3930
We likely will not document information on how to implement internals. Fortunately there is many examples to learn from.

Go see definition of ones for example
https://github.com/tensorflow/tensorflow/blob/8de7608075c6dd6fcaf8f5c3d921f3611f8e7611/tensorflow/python/ops/array_ops.py#L1205

It uses the constant op
https://github.com/tensorflow/tensorflow/blob/5df4c71c86b28c2a4dd746bd67f00fc0281bd24f/

[2016-08-22 18:56] aselle commented on #3709
Have you had a chance to do any more experiments, to try to isolate the problem?

[2016-08-22 18:57] aselle commented on #3921
@aimeida, please let us know if tcmalloc helps.

[2016-08-22 19:00] aselle commented on #3954
You can connect to the jupiter notebook by doing http://localhost:888
To get to the shell you need to find the process # of the running docker container

(this will give a list of running docker instances. Get the sha code (first column) and use it when running

That should give you a bash shell.
(this is not a tensorflow specific answer)

[2016-08-22 19:17] andrewharp commented on #3685
@cardshuffle Have you managed to solve the issue? If not, http://stackoverflow.com/questions/35990995/com-android-dx-command-main-unsupported-major-minor-version-52-0 looks related. Maybe try updating your sdk settings as suggested there?

[2016-08-22 19:25] danmane commented on #3936
We're sure to do this eventually, although it's not on the immediate roadmap. As andrew said, we are currently working on a plugin system for TensorBoard.

If any other contributors are interested in working on this, we could get this launched a lot sooner with some help. I'm marking it contributions welcome.

[2016-08-22 19:59] msevrens commented on #3738
@girving @ebrevdo @yuanbyu

I've put together a much shorter and simpler code sample that replicates the bug. Hopefully this will be helpful in debugging:

[code]

[2016-08-22 20:02] msevrens commented on #3738
@ebrevdo

That's a pretty good idea. I'll take a shot at it.

In the meantime can you take a look at the code I posted at https://github.com/tensorflow/tensorflow/issues/3738#issuecomment-241531134 and let me know if can see any issue with this looping approach?

I'm really interested in debugging this error, but at this point the TensorFlow internals are still a bit confusing to me.

[2016-08-22 20:06] jeffxtang commented on #3480
@Tugees @shrutisharmavsco and @Piso

1. Are you able to run bazel-bin/tensorflow/python/tools/strip_unused on TensorFlow 0.10.0rc? (I just created an issue https://github.com/tensorflow/tensorflow/issues/3962)

2. Are you able to run the stripped Inception V3 model on iOS device without crashing?

Thanks,
Jeff

[2016-08-22 20:25] aimeida commented on #3921
thanks a lot for the response ! The "sad" truth is that there is NO bug, the program simply runs out of memory :-) I didn't realize that EC2 instance doesn't have swap -- that's why it works on Mac.
Very sorry for the inconvenience :-(

[2016-08-22 20:25] #3921 closed

[2016-08-22 20:41] Mistobaan commented on #3945
Taking a look at this. The additional case when the condition is just a scalar it will return either the full tensor from `t` or `e` based on the single value of `cond`, right?

[2016-08-22 20:56] wagamamaz commented on #3926
an alternative way to save and restore network is save the parameters into npz file.
example code here: http://tensorlayer.readthedocs.io/en/latest/modules/files.html#load-and-save-network

hope it help

[2016-08-22 21:00] wagamamaz commented on #3925
it is a strange problem, could you try the code from wrapper first? then you will know whether it is caused by cuda or something else.

this is a code you don't need to install the wrapper package.

descirption
http://tensorlayer.readthedocs.io/en/latest/user/tutorial.html#understand-the-mnist-example
code:
https://github.com/zsdonghao/tensorlayer/blob/master/tutorial_mnist.py

hope it help

[2016-08-22 21:01] wagamamaz commented on #3941
I don't think it is right to use cpu to training CNN ...

[2016-08-22 21:03] wagamamaz commented on #3920
it seem that the seq2seq folder have different classes, but i haven't try.
let me know when you solve the problem xD

[2016-08-22 21:07] vrv commented on #3945
Yup!

[2016-08-22 21:13] shrutisharmavsco commented on #3480
@jeffxtang
1. I haven't tried to run strip_unused script on TensorFlow 0.10.0rc
2. I was able to run stripped Inception V3 model on iOS without crashing but I didn't try it in the camera example, only in the simple example where it tags only an image at a time

[2016-08-22 21:15] skolouri opened #3965 "Conv2d issue with GPU"
I have extracted the activations of a neural net at a certain layer with size [1,28,28,128] and I have a corresponding kernel that I want to convolve with these activations. The kernel shape is [3,3,128,256].
I am using:

   * 2 GTX-1080 GPUs
   * Cuda-8.0 (The problem persists with Cuda-7.5 as well)
   * Graphics Driver: NVIDIA-367
   * Python 2.7

When I perform 2D convolution using the CPU I ge

[2016-08-22 21:16] #3932 closed

[2016-08-22 21:16] prb12 commented on #3918
This is a general question best suited to StackOverflow.  Can you please re-ask it there.

[2016-08-22 21:16] #3918 closed

[2016-08-22 21:17] prb12 commented on #3919
Please can you provide the information requested in the TensorFLow issues template.- namely installation method, OS/ packages versions and full repro instructions.

[2016-08-22 21:19] prb12 commented on #3916
This is a general question best suited to StackOverflow.  Can you please re-ask it there.

[2016-08-22 21:19] #3916 closed

[2016-08-22 21:19] prb12 commented on #3920
This does not appear to be a bug report, but rather a general question.  Please can you reask on StackOVerflow.

[2016-08-22 21:19] #3920 closed

[2016-08-22 21:21] prb12 commented on #3923
Duplicate of #3938

[2016-08-22 21:21] #3923 closed

[2016-08-22 21:26] poulson-google commented on #3875
This is not related to the numerics themselves and the bug disappears for me when ``--num_concurrent_sessions=1`` is passed in. The different sessions are apparently writing to the same memory locations. Stay tuned for a fix.

[2016-08-22 21:27] itsmeolivia commented on #3933
I ran it and it doesn't crash because of the AttributeError.  It crashes because it expects user input for the python library path and defaults to providing nothing if the python library path cannot be found nor provided by the user.  Right now it is working as intended but the installation can always be made a little smoother.

Here's a quick workaround to find your path manually while I change t

[2016-08-22 21:27] prb12 commented on #3937
It's always possible to manually insert individual check_numerics ops - and probably more sensible to insert them in strategic places when debugging rather than everywhere.  I think it is unlikely that this behavior is going to be changed.

[2016-08-22 21:27] #3937 closed

[2016-08-22 21:29] prb12 commented on #3941
This is a general discussion more suited to StackOverflow.  Please can you re-ask your question there.

[2016-08-22 21:29] #3941 closed

[2016-08-22 21:31] #2873 closed

[2016-08-22 21:40] prb12 commented on #3931
Duplicate of #3938

Please see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#protobuf-library-related-issues

[2016-08-22 21:40] #3931 closed

[2016-08-22 21:44] prb12 commented on #3938
Please can you provide the OS and software version information and exact command lines you used, as requested in the TensorFlow issues template.

[2016-08-22 21:59] Roboball commented on #3954
thank you. just one final question. Can I use some comfortable editor like spyder from anaconda?? or do I have to stick to bash in cmd prompt?

finally this code line worked for me:
`docker` run -it b.gcr.io/tensorflow/tensorflow:latest-devel``
for reference:
http://stackoverflow.com/questions/35582875/unable-to-start-tensorflow-within-docker-on-windows

[2016-08-22 21:59] Mazecreator commented on #3965
Hi,

I posted a reply at: https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/discuss/FTcjjGhZOkA/BHH1j9mWAgAJ

There is a little more detail in this message.  You need to use the cuDNN 5.0 that works with CUDA 8.0, that is certain.  I am not sure if you need to run Ubuntu 16.04 for the GTX1080 driver, but keep that in mind if you have trouble after the cuDNN

[2016-08-22 22:03] #3954 closed

[2016-08-22 22:05] skolouri commented on #3965
Thanks Greg! CudNN-5.0 solved the issue.

[2016-08-22 22:07] jeffxtang commented on #3480
Thanks @shrutisharmavsco - I used the same command you posted (actually I tried both `--output_node_names=softmax` and `--output_node_names=pool_3` and then used the stripped model in the tf_ios simple example (with changes to `std::string input_layer` and `std::string output_layer` as well as changes to `const int wanted_width` etc as specified by @petewarden on https://github.com/tensorflow/tens

[2016-08-22 22:09] Mazecreator commented on #3965
Great, so it looks like 14.0X is okay, but need the CUDA 8.0 and cuDNN 5.0.

[2016-08-22 22:54] will001 commented on #3725
Thanks tangruiming@ for pointing out, the comments 2) in get_training_ops.py is not accurate, which should be:
linear += grad - (accum_new^(-lr_power) - accum^(-lr_power)) / lr * var.
I will fix this very soon.

For the missing parameter 'beta' in the implementation, which actually comes from the initial_accumulator_value for the 'accum', where accum = initial_accumulator_value + sigma{g(i)^2}. So

[2016-08-22 23:04] aselle commented on #3921
Thanks for letting us know, glad you figured out the issue.

[2016-08-22 23:09] petewarden commented on #3619
I'm still working on a proper fix for this one, but a hacky workaround for now is to add tensorflow/contrib/quantization/{ops,kernels}/*.cc to tf_op_files.txt and recompile. I hope to have more documentation and a script fix for this soon.

[2016-08-22 23:19] prb12 commented on #3943
Looks like something got lost in translation between the internal and external code repositories.

[2016-08-22 23:20] prb12 commented on #3947
This is a general question better suited to StackOverflow.  Could you please re-ask there.

[2016-08-22 23:20] #3947 closed

[2016-08-22 23:25] malmaud opened #3967 "Document checkpoint file format"
Hi,
As far I can find, the internal structure of checkpoint files is not documented on tensorflow.org. I'm trying to write bindings to TensorFlow which can load checkpoints without making use of the Python API, so I was wondering if that information is available somewhere.

[2016-08-22 23:36] prb12 commented on #3957
@ibab @girving Possibly related to #3351 ?

[2016-08-22 23:37] prb12 commented on #3958
Please can you provide the information requested in the TensorFlow issues reporting template.

[2016-08-22 23:38] prb12 commented on #3965
Looks to be fixed. Closing this issue.

[2016-08-22 23:38] #3965 closed

[2016-08-22 23:40] girving commented on #3957
@vrv We were discussing a similar thing recently.  Is the right solution here just to tell people to leave the optimizer out of a location?  That seems heavy handed, but I don't think we can guarantee that gradients use no CPU-only ops.

[2016-08-22 23:40] ispirmustafa commented on #3870
Worker1 has more responsibilities than other workers. It saves/restores the graph, calculates/dumps summaries. I recommend to put more resources to the first worker.

[2016-08-22 23:41] prb12 commented on #3952
This is a general usage question more suitable for StackOverflow. Please can you re-ask it there.

[2016-08-22 23:41] #3952 closed

[2016-08-22 23:43] vrv commented on #3957
Well, the answer that I personally don't like is to tell people to use soft_placement in the config options.  A better solution would be to implement the GPU versions of these ops when possible, and if not, to take the ops that are not implemented and wrap them in a with device(cpu:0) block.

[2016-08-22 23:43] vrv commented on #3957
(the latter approach is an implementation detail of the gradient that we can change).

[2016-08-22 23:46] sandersk commented on #3943
Apologies for the error @fansgit. The correct link is:

https://www.tensorflow.org/code/tensorflow/examples/tutorials/monitors/iris_monitors.py

I actually already fixed this on 8/19 in 4a510c177. It just needs to be folded into the r0.10 branch and published out to the website. I'll make a PR for that.

[2016-08-23 00:02] prb12 commented on #3953
I'm sorry, but this is not a supported configuration.  You might try posting this question on StackOverflow.

[2016-08-23 00:02] #3953 closed

[2016-08-23 00:36] aselle commented on #3913
Try cleaning out your caches and trying a fresh rebuild (start from scratch in a new directory). Transient failures of git fetches have been known to happen if ssl certificates temporarily get out of whack. Let us know if that doesn't fix it. (can't find the issue where I saw this before at the moment)

[2016-08-23 01:04] lukaszkaiser commented on #3800
This is a documentation problem being worked on in #3802 -- please look there, closing this issue.

[2016-08-23 01:04] #3800 closed

[2016-08-23 01:10] aselle commented on #3954
You can install stuff from the shell using apt-get install (including
editors). If you want this to be done more persistently you can derive your
own sub dockerfile that is derived from the tensorflow one (in fact
tensorflow is derived from the ubuntu image one).

-A

On Mon, Aug 22, 2016 at 2:59 PM Roboball <notifications@github.com> wrote:

[2016-08-23 01:46] haibarasiao commented on #3938
@prb12
CentOS Linux release 7.2.1511 (Core)
tensorflow 0.8.0
python 2.7
protobuf-3.0.0-beta-2
used commond:
1
pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl
2
pip uninstall protobuf
3
sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/protobuf-3.0.0b2.post2-cp27-none-linux_x86_64.whl

After doing thi

[2016-08-23 01:47] vivounicorn commented on #3891
@prb12 @suiyuan2009 thank you for your reply , my GPU is shared by 3 persons, so sometimes there has insufficient memory, but the low accuracy result is got when on exclusive resources.
so my point is why a low accuracy  result in the mnist dataset is got when running on a GPU. the following message is from **mnist_cnn.py** (a cnn example from tensorflow)
@vrv @vincentvanhoucke

(tensorflow)liyira

[2016-08-23 01:48] haibarasiao commented on #3938
@prb12
CentOS Linux release 7.2.1511 (Core)
tensorflow 0.8.0
python 2.7
protobuf-3.0.0-beta-2
used commond:
pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl
pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/protobuf-3.0.0b2.post2-cp27-none-linux_x86_64.whl

After doing this , I got the segment fault when i

[2016-08-23 01:52] jmugan commented on #3958
Operating System: Mac OS, Ubuntu
Installed version of CUDA and cuDNN: CPU

1. Which pip package you installed.
https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.10.0rc0-py2-none-any.whl

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
0.10.0rc0

### Steps to reproduce
1. start tensorboard
2. go to "graphs" tab.

### What have you tried?
1. Other grag

[2016-08-23 01:59] haibarasiao commented on #3951
@hholst80
cuDNN v4
Cuda toolkit 7.0
gcc version 6.1.0
CentOS Linux release 7.2.1511 (Core)

[2016-08-23 02:04] vrv commented on #3951
I would double check your cuda and cudnn install, I think you have older versions, despite what you think.  Maybe remove the existing cuda and cudnn versions and install them from scratch.

I would also recommend using:
- cudnn v4, unless you have GTX1080, in which case use cudnn v5
- cuda toolkit 7.5, unless you have GTX1080, in which case use cuda 8.0 RC

[2016-08-23 02:05] vrv commented on #3891
Try using CUDA 8.0 RC, I don't think TF works with 1070 or 1080 series GPUs unless you compile from source with CUDA 8.0.

[2016-08-23 02:06] vrv commented on #3891
(Closing because I think this is a duplicate of a lot of existing issues that are solved by upgrading cuda)

[2016-08-23 02:06] #3891 closed

[2016-08-23 02:11] Mazecreator commented on #3891
cuDNN needs to be 5.0 and CUDA needs to be 8.0 with latest Video driver 367.35.0

[2016-08-23 02:11] tangruiming commented on #3725
Hi, will001@:

Thank you very much for your clarification.

I found another place in the comments in the get_training_ops.py  that may be wrong:
`quadratic = 1.0 / (accum_new^(lr_power) * lr) + 2 * l2              ------ (3)`
I think it should be
`quadratic = 1.0 / (accum_new^(lr_power) * lr) + l2              ------ (3)`
Am I right?

Secondly, I want to confirm sth about "beta":
I can have the si

[2016-08-23 02:14] haibarasiao commented on #3951
thanks,I will try to update cuda and cudnn version.

[2016-08-23 02:16] vrv commented on #3951
(I should clarify, you can use cudnn v5 regardless of what GPU you have).

I'm going to close this since I suspect this is a cuda problem, not a TF one (yet).

[2016-08-23 02:16] #3951 closed

[2016-08-23 02:42] xinyuwuhenZZ commented on #3895
Thanks for your help in advance.

Tensorflow version is v0.9,  the running code as follows:

[code]

The problem happens when I set  state_is_tuple=True.

[2016-08-23 02:48] vivounicorn commented on #3891
@vrv @Mazecreator thank you very much!

[2016-08-23 02:52] xinyuwuhenZZ opened #3971 "tf.contrib.metrics.streaming_auc evaluation exception"
I used `tf.contrib.metrics.streaming_auc` to evaluate DNN rank model,

[code]

`logits` are my predicted results, `labels` are true labels, they have format:

[code]

Errors as following:
[code]

Thanks in advance.

[2016-08-23 03:28] raingo commented on #3930
Thanks for this information.

[2016-08-23 03:28] #3930 closed

[2016-08-23 03:43] vrv commented on #3967
At the moment the checkpoint format isn't public for a good reason: it's changing to a more efficient format and remains an internal implementation detail of the Saver class in python.  But as part of this improvement, we'll likely make the checkpoint format public through some C++ helper classes, and a C-API to go with it.

@concretevitamin can offer more insight.

[2016-08-23 03:46] vrv commented on #3963
https://github.com/tensorflow/tensorflow/blob/c99b9bef4cdce8f1724095c77a9620ccf76045be/tensorflow/core/BUILD#L997 probably need to add the file to the list there (we probably need to do this for a bunch more headers that are public too).

@kbrems do you want to send us a change that adds this and any other headers that might be missing for you?

[2016-08-23 03:47] cjf00000 opened #3972 "tf.gradients returns None in tf.map_fn"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-23 04:07] ebrevdo commented on #3895
Try Tf 0.10 or newer. Do you still get the error?

[2016-08-23 04:21] musiclicn opened #3973 "cifar10 train runs 50% slower than r0.9 in r0.10rc0"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-23 04:21] #3973 closed

[2016-08-23 04:34] cancan101 opened #3974 "Regression in Performance between r0.9.0 and r0.10.0rc0."
### Environment info
Operating System:
[code]
### Observations

I am testing on a Tesla K80 (details below) using the following lines:
* `nvidia-docker run --rm -it -v /tmp/cifar10_data:/tmp/cifar10_data tensorflow/tensorflow:0.9.0-devel-gpu  bash -c 'ln -s /usr/local/nvidia/lib64/libcuda.so.1 /usr/lib/x86_64-linux-gnu/libcuda.so && python /usr/local/lib/python2.7/dist-packages/tensorflow/models/i

[2016-08-23 04:35] lms-bv commented on #3952
Thanks for suggestion, done.

[2016-08-23 04:37] jeffxtang commented on #3619
@petewarden I added all the *.cc files in tensorflow/contrib/quantization/ops and tensorflow/contrib/quantization/kernels to tf_op_files.txt and then run `tensorflow/contrib/makefile/build_all_ios.sh` but got the following error:
[code]

I then changed the Makefile by adding the path to gemmlowp to HOST_INCLUDES:
[code]
but I got the same compile error. I do have all the files of gemmlowp download

[2016-08-23 05:44] gaohuazuo commented on #3709
A system reboot seems to fix the problem, for a few days. I will make more investigation the next time I have a chance.

[2016-08-23 05:45] jmchen-g commented on #3851
This is not a bug but intended behavior. In decode_csv, the input is expected to be a tensor of string/record, each element string is expected to be a record. Inside the record, it is already supported that you can have '\n' in a string field. It is expected that some pre-processing is done to satisfy this requirement.

If we don't have such constraint, the example below will have a problem to dec

[2016-08-23 05:45] #3709 closed

[2016-08-23 05:47] isabel-schwende commented on #739
@zplizzi thanks for sharing your code here. In your preliminary demo for fast-RCNN you used Selective Search for ROI extraction. I've been searching for an implementation of EdgeBoxes in python but couldn't find anything available without the requirement of a MATLAB license. I'm assuming that you also couldn't find an implementation. Or did you have another reason for taking Selective Search?

[2016-08-23 05:50] ttomato opened #3977 "Installation failed on Mac OS X"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-23 05:53] vrv commented on #3977
This means you have an older version of protobuf (version 2) installed.  See https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#mac-os-x-typeerror-init-got-an-unexpected-keyword-argument-syntax

[2016-08-23 05:53] #3977 closed

[2016-08-23 05:54] vrv commented on #3974
(Can you try the nightly pip at HEAD?  it's probably related to an eigen regression that we're in the process of cherry-picking into 0.10.0)

[2016-08-23 05:59] cancan101 commented on #3974
It looks like tf nightly images are not getting built for `nightly-devel-gpu`: https://hub.docker.com/r/tensorflow/tensorflow/tags/

[2016-08-23 06:02] vrv commented on #3974
Indeed.  Can you try a non-docker version here: https://ci.tensorflow.org/view/Nightly/job/nigntly-matrix-linux-gpu/TF_BUILD_CONTAINER_TYPE=GPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/ ?

cc @jendap and @gunan since I don't know how our dockers are built or pushed

[2016-08-23 06:15] sygi opened #3978 "Tensorflow hangs when enqueueing with session timeout specified"
I am creating a simple `FIFOQueue` and enqueueing elements to it. Everything works fine when the session timeout is not specified (code as below, with timeout commented out):

    $ time python ex.py
    enqueue
    enqueue
    enqueue
    enqueue
    enqueue
    1.56user 0.24system 0:01.70elapsed 105%CPU

Everything finishes correctly. But when I run the same code with timeout specified (to 60 se

[2016-08-23 06:28] xinyuwuhenZZ commented on #3895
Error solved!

Thanks for your response.

[2016-08-23 06:28] #3895 closed

[2016-08-23 07:22] gibiansky commented on #1888
I would like to implement this, as it's important for some things besides just convenience; for example, you cannot use `CUDA_VISIBLE_DEVICES` with CUDA IPC, so Tensorflow cannot be used with anything that needs access to the GPU memory in other processes (without copying it to CPU first).

Is there a particular API that would make sense for this?

Some options:

1. Another environment variable, b

[2016-08-23 07:57] iamsile commented on #3918
OK, thanks

[2016-08-23 09:19] akors commented on #3925
You have a GTX 1080 card, but you use CUDA 7.5.

For GTX 1080 to work, you need CUDA 8.0, see these Issues:
#3507
#3068

[2016-08-23 09:39] kalle opened #3979 "Quantization ops missing from benchmark program"
### Environment info
Operating System: Mac OS X 10.11.4
CUDA: No
TF installed from source
`git rev-parse HEAD`: `6d04d601e9e8758ec4642fa9d548b7321d804d63`
[code]

### Problem
I want to run inference on mobile and thought quantization would be a good idea. I also want to use the [benchmark program](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/benchmark) to see speed and mem

[2016-08-23 09:45] davidzchen opened #3980 "CUDA autoconf improvements"
Some improvements to the new CUDA autoconf mechanism from the discussion in #3269 and #3966:
- Autodetect `nvcc` version and:
  - Set `CUDA_TOOLKIT_PATH` based on detected version
  - Set `--expt-relaxed-constexpr` iff detected version is >= 7.5.
- Set `cxx_builtin_include_directory` for CUDA headers based on detected include directories, similar to [`_get_cxx_inc_directories`](https://github.com/

[2016-08-23 09:47] shartoo commented on #3834
add this to the hosts file,can fixe this.

[code]

[2016-08-23 10:18] lukeiwanski opened #3981 "Clang host compiler support?"
Hi all,

I couldn't help but notice that currently TensorFlow is tightly coupled with GCC. Is there a plan to make it more flexible with the choice for host compiler? like clang?
Is there any effort or plans for that?

Thanks,
Luke

[2016-08-23 10:42] stephanobryan commented on #890
On El Capitan 10.11.6 and within Virtualenv environment, I've got:
ImportError: No module named protobuf
So I did:
(tensorflow) $ sudo -H pip install protobuf
(tensorflow) $ sudo easy_install -U six
Then,
(tensorflow) $ python

Hello, TensorFlow!

42
So, it worked :)

[2016-08-23 12:06] erickrf commented on #2416
@yaroslavvb Well, it seems I cannot build tensorflow in this server, since it doesn't have internet access (and the other machines I can use which have internet don't have GPUs).

[2016-08-23 13:09] npanpaliya commented on #3545
Thank you @cwhipkey . We'll test with this commit and let you know the status of whether we need to address core size problem using hwloc library.

[2016-08-23 13:54] lcwyylcwyy opened #3982 "Can not configure by new commit"
the new version 6d04d601e9e8758ec4642fa9d548b7321d804d63
./configure  on Mac platform

cuda_configure.bzl:409:18: function 'repository_rule' does not exist.

[2016-08-23 14:35] ttomato opened #3983 "Installation failed on Mac OS X with protobuf 3.0.0b2"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-23 14:46] HITalexwang opened #3984 "ERROR: no such package '@local_config_cuda//crosstool': BUILD file not found on package path."
I am trying to build tensorflow from source
When building the pip package with bazel, I got this error:   invalid command 'bdist_wheel'

But I have python 2.7.5 and wheel 0.29.0 in my linux, could you help me out？

1. The commit hash (`git rev-parse HEAD`):6d04d601e9e8758ec4642fa9d548b7321d804d63
2. The output of `bazel version`:0.3.1

### Logs:

[yxwang@gpu02 tensorflow]$ wheel version
wheel 0.29

[2016-08-23 14:50] cardshuffle commented on #3685
I tried out the suggested solution, but I wasn't able to find the Build Tools Version setting mentioned, and since the demo doesn't use Gradle, there isn't a Gradle settings file to change the version in.

[2016-08-23 14:51] Mazecreator opened #3985 "Refactored GPU installation from source issue (Ubuntu 16.04)"
It looks like the GPU installation from source got refactored and is failing to compile on my Ubuntu 16.04, CUDA 8.0, cuDNN 5.0, with GTX 1080 GPU.

I had the GTX 1080 working with the build from a few days ago, but just pulled from the head and now cannot compile so I am not sure if this is the auto_configure for the GPU or not I saw going though.

$ git rev-parse HEAD
6d04d601e9e8758ec4642fa9d54

[2016-08-23 14:51] cardshuffle opened #3986 "Freeze graph: node is not in graph (even though it's been named)"
### Environment info

Operating System: Ubuntu 14.04 LTS 64-bit

Installed version of CUDA and cuDNN: none

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`): fc9162975e52978d3af38549b570cc3cc5f0ab66
2. The output of `bazel version`

[code]
### Steps to reproduce
1. Copy the IPython Notebook for Assignment 6 of Udacity's deep learning course ([here](https://github.com/ten

[2016-08-23 15:21] KendallWeihe commented on #3492
Any word on the progress of this? I'm looking for 3D support

[2016-08-23 15:36] LinJM opened #3987 "About tf.contrib.slim data prepare documentation"
I have spend much time to understand how to prepare my data to feed into Slim Net.
But I still can't quiet understand how to prepare my training data.
Is there a more detailed method for processing the training data, like Caffe ImageNet tutorial:http://caffe.berkeleyvision.org/gathered/examples/imagenet.html

[2016-08-23 16:21] vrv commented on #3942
I think if you have multiple files like this, tf.app.flags must be used with 'tf.app.run()'.

tf.app.run() is where the flags you have declared are parsed, so if run code that inspects FLAGS before tf.app.run(), it won't work.

My suggestion would be to set it up so that:

model.py and util.py define functions but don't inspect FLAGS on import
And then your 'train.py' would define its code in a ma

[2016-08-23 16:23] prb12 commented on #3949
@davidsoergel Looks like input handling ops return an error status on EOF which causes session.run to abort graph execution and log an error?

I don't see that this would be easy to change?

[2016-08-23 16:32] prb12 commented on #3974
Probably related to #3603 ?

[2016-08-23 16:34] vrv commented on #3603
It should be now.

[2016-08-23 16:34] #3603 closed

[2016-08-23 16:38] aselle commented on #3709
Thanks for the update, let us know if you find anything else.

[2016-08-23 16:39] prb12 commented on #3981
This is a general question best suited to StackOverflow.  Please can you re-ask there.

[2016-08-23 16:39] #3981 closed

[2016-08-23 16:40] keveman commented on #3814
@LaurentMazare I just started a jenkins test for PR #3830. I will merge that once tests are green.

[2016-08-23 16:41] yaroslavvb commented on #2416
@erickrf You don't need to have GPU to build for GPU support, `--config=cuda` should work regardless

[2016-08-23 16:42] prb12 commented on #3983
Please see https://www.tensorflow.org/versions/r0.10/get_started/os_setup.html#protobuf-library-related-issues

If these instructions do not solve your problem, then please re-open, providing the **exact** sequence of commands you typed.

[2016-08-23 16:42] #3983 closed

[2016-08-23 16:43] aselle commented on #3851
@jmchen-g, That reasoning  makes sense from a simplicity of implementation stand point, but then we are technically not adhering to the RFC.
https://tools.ietf.org/html/rfc4180
Section 2  item 6 specifically mentions this case. If we aren't going to change it, I suggest we just add this deviation from the standard in the documentation to make it easier for users to know to do the preprocessing. It

[2016-08-23 16:44] prb12 commented on #3982
Please can you provide the information requested in the TensorFlow issues template.  (software and OS versions, the exact sequence of command lines required to reproduce the problem)

[2016-08-23 16:45] prb12 commented on #3984
Please can you provide the information requested in the TensorFlow issues template.

[2016-08-23 16:55] vrv commented on #3982
You probably need to update bazel to 0.3.0.

[2016-08-23 16:58] vrv commented on #3983
(You almost certainly have a stale copy of python protobuf 2.0 installed somewhere, because that's what the error message indicates).

[2016-08-23 17:06] girving commented on #3957
@bsautermeister Does this commit fix your problem?  https://github.com/girving/tensorflow/commit/957fe73546f25c7f88232ed560ed285c1c97067d

[2016-08-23 17:15] vrv commented on #3981
Actually this question is probably not suited to StackOverflow as written...

However, ./configure does allow you to specify the choice of the host compiler, and on Macs it uses clang anyway, so I suspect it already works.

[2016-08-23 17:49] jeffxtang commented on #2927
@mat-peterson have you tried Pete's suggestion and does it work? I'm still having problem using the quantized model (same as https://github.com/tensorflow/tensorflow/issues/3619).

@petewarden i'm trying to understand why the Inception v1 can work with the iOS simple project on actual device (and Run Model many times) but a retrained and stripped model based on it simply crashes on device when Run

[2016-08-23 17:52] yaroslavvb commented on #3978
PS, I tried .10rc0 (build with --cuda) on mac and ubuntu, and that code snippet always finishes in a couple of seconds

[2016-08-23 17:59] gunan commented on #3974
@caisq has recently set up nightly-docker-* jobs to build and push nightly docker images for all our builds.
However, that job seems to be failing for a while now.
We will look into the docker failure.

I also cherrypicked Benoit's fix yesterday into r0.10.
Once we fix the jobs that build docker images, I will ping this issue to try again.
I am assigning this to myself for now.

[2016-08-23 18:00] cancan101 opened #3989 "Error Building Docker Image"
Using `Dockerfile.devel-gpu` branched from 459c2fed498530b794c4871892fd68d1e6834ac6.

[code]

[2016-08-23 18:02] cancan101 commented on #3974
This might be related to the nightlies failing: https://github.com/tensorflow/tensorflow/issues/3989.

I think the issue is cudnn 5.1 but am investigating.

[2016-08-23 18:06] gunan commented on #3989
Please feel free to reach out to me if you need any help with this.

[2016-08-23 18:07] cancan101 commented on #3989
@gunan Inside nvidia/cuda:7.5-cudnn5-devel, it looks like the `so` moved:
[code]

[2016-08-23 18:14] gunan commented on #3989
looking at our nightly build failures, this looks different.
I will try to look into both today.

[2016-08-23 18:30] ky-xt opened #3990 "TypeError: evaluate() got an unexpected keyword argument 'batch_size'"
ok，When I run this code as follow, I have some error.
**Code:**
This code is from https://github.com/mouradmourafiq/tensorflow-lstm-regression ,
I found  the error may be result from some code:
_validation_monitor = learn.monitors.ValidationMonitor(X['val'], y['val'],
                                                      every_n_steps=PRINT_STEPS,

[2016-08-23 19:24] davidzchen commented on #3985
@Mazecreator - how did you configure your build using the `configure` script? Can you paste the output with the values you entered for CUDA version, etc.?

Also, what are the contents of the directory `bazel-tensorflow/external/local_config_cuda/crosstool`, including all directories?

[2016-08-23 19:44] Mazecreator commented on #3985
Sure, still had this on my system up:

greg@tensor:~/tensorflow$ ./configure
Please specify the location of python. [Default is /usr/bin/python]:
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N]
No Google Cloud Platform support will be enabled for TensorFlow
Found possible Python library paths:
  /usr/local/lib/python2.7/dist-packages
  /usr/lib/python2.7/dist-packages
Ple

[2016-08-23 19:51] andycui97 commented on #2037
Same issue, Ubuntu 16.04, nVidia driver 367.35, GTX 1070, CUDA 8

[2016-08-23 19:53] kristianmandrup opened #3991 "import tensorflow: Library not loaded: libcudart 7.5 (Mac OSX)"
### Environment info
Operating System: Mac OSX El Capitan

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

What is CUDA and cuDNN? I didn't notice any mention of these!?

`Optional: Install CUDA (GPUs on Linux)` but I'm on a Mac!!

[code]

If installed from binary pip package, provide:

1. Which pip package you installed.
2. The output from `p

[2016-08-23 19:54] will001 commented on #3725
To tangruiming@, you are right. Thanks for pointing it out.

[2016-08-23 19:55] kristianmandrup commented on #3991
Seems the trouble is this: http://stackoverflow.com/questions/38710339/library-not-loaded-rpath-libcudart-7-5-dylib-tensorflow-error-on-mac

[2016-08-23 19:55] #3991 closed

[2016-08-23 19:58] iportillo opened #3992 "Add support for pyx_library in the open-source build."
I have a model that has a lot of big constant Tensors (2048x2048), and building the graph is extremely slow. After profiling my code, I see that the bottlenecks are the functions `SlowAppend<TYPE>ArrayToTensorProto`  defined in `tensorflow/python/framework/tensor_util.py` which take 98% of the time.

Reviewing the source code I see the following lines:
[code]
So I was wondering if it is planned to

[2016-08-23 20:12] lightcatcher opened #3994 "Cannot use Variables as gradients in apply_gradients"
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/optimizer.py#L287 prevents the user from using a variable as a gradient when calling apply_gradients.

I'd like to do this to accumulate gradients over multiple minibatches, and then do a single gradient update.

The current code I have is

[code]

that I'd like to run with logic like
[code]

Is there any reason variab

[2016-08-23 20:34] cr145 commented on #3917
I am getting the same error as well, although it only occurs about of the third of the time. The rest of the time the program exits normally, but shows nan for many of the output values.

**gdb - on failure**
[code]

**last 20 lines from running outside gdb**
[code]

**Environment**
Ubuntu 16.04
GTX 1080
CUDA 8.0 RC + Patch
cudnn 5.1
bazel 0.3.1
gcc 5.4.0

[2016-08-23 20:35] davidzchen commented on #3985
Understood, thanks.

Does the directory `bazel-tensorflow/external/local_config_cuda/crosstool` exist in your workspace?

[2016-08-23 20:43] Mazecreator commented on #3985
Sorta, looks like this is a symbolic link at that location but the file/directory doesn't exist.

greg@tensor:~/tensorflow/bazel-tensorflow/external/local_config_cuda$ ll
total 16
drwxrwxr-x  2 greg greg 4096 Aug 23 10:32 ./
drwxrwxr-x 74 greg greg 4096 Aug 23 10:32 ../
lrwxrwxrwx  1 greg greg  105 Aug 23 10:32 crosstool -> /home/greg/.cache/bazel/_bazel_greg/f51b04b6e5afee33e06cbb5163e8cd54/exter

[2016-08-23 20:57] flx42 commented on #3989
@davidzchen asked us this question: https://github.com/NVIDIA/nvidia-docker/issues/172
I think it's solved now? https://github.com/tensorflow/tensorflow/pull/3269

[2016-08-23 21:00] shrutisharmavsco commented on #3480
@jeffxtang that all sounds like the right steps to me. I don't think I did anything differently. I was running it on an iPhone 5C. I do get memory warnings generated but the app does not crash - it still generates the tags. I haven't quantized the model yet, though.

[2016-08-23 21:01] cancan101 commented on #3989
I am seeing this issue on https://github.com/tensorflow/tensorflow/commit/459c2fed498530b794c4871892fd68d1e6834ac6 which I think includes the linked PR.

[2016-08-23 21:16] mrry commented on #3978
Thanks for reporting - I was able to reproduce with the nightly version, and should have a fix soon.

[2016-08-23 21:23] jeffxtang commented on #3619
Update: `-I$(MAKEFILE_DIR)/downloads/gemmlowp \` should be added to INCLUDES (around line 130) instead of HOST_INCLUDES. Also the path to gtest also needs to be added to INCLUDES:
[code]

That fixed my compiler error. Now I'm having some linker error..

[2016-08-23 21:25] flx42 commented on #3974
@cancan101 This seems to be fixed in the nightly actually. This is the performance I got on a Titan X:
tensorflow/tensorflow:0.9.0-devel-gpu:
1497.08

tensorflow/tensorflow:0.10.0rc0-devel-gpu:
600.573

tensorflow/tensorflow:nightly-devel-gpu:
1934.54

[2016-08-23 21:27] Mazecreator commented on #2037
Make sure you have cuDNN 5.0 for the GTX10x0 NVIDIA cards.

[2016-08-23 21:27] jeffxtang commented on #3480
Thanks @shrutisharmavsco for the info. When you have the chance can you try quantizing the model and see if the memory warnings will disappear running on your iPhone 5C or if you'll hit problem similar to https://github.com/tensorflow/tensorflow/issues/3619?

[2016-08-23 21:35] cancan101 commented on #3974
Are you able to get the Dockerfile on master to build?

[2016-08-23 21:48] davidzchen commented on #3985
Interesting. I'll attempt to reproduce this.

In the meantime, if you set your CUDA version explicitly when running the `configure` script, do you still get the same problem?

[2016-08-23 22:00] Mistobaan commented on #3840
I think adding the `[[ noreturn ]]` attribute is better than providing compiler specific directives. Should the attribute be wrapped in a MACRO like `TF_ATTRIBUTE_NOTRETURN` like `TF_FUNC_NORETURN(FuncName) (args)` ?

[2016-08-23 22:11] mschonwe commented on #3431
Just updated to current version cc3153a7a0a23533d14ead34db37e4ccd7892079 (v0.10.0rc0-785-gcc3153a) and got the usual missing dependency error.

HOWEVER, the new build doesn't create a CROSSTOOL file - so the usual fix doesn't work...  I tried copying in the CROSSTOOL from an older revision (with the cxx_builtin_include_directory: "/usr/local/cuda-8.0/include" change) - but I'm still getting the mi

[2016-08-23 22:17] iportillo commented on #3624
@ibab , @sbrodeur , thank you so much for working on this. I think it would really speed up one of my projects. Is there any new progress? Are you planning to include this on the next release of TensorFlow? What about basic math functions such as `tf.exp()`, `tf.complex_abs()`?

Thanks again!

[2016-08-23 22:18] davidzchen opened #3996 "Fix CMake build due to cuda_configure changes"
The new changes from #3269 broke the CMake build due to the header include path changes and the new `cuda_config.h` file generated by `cuda_configure`.

[2016-08-23 22:19] davidzchen commented on #3980
We'll also need to keep the alternative builds, such as the CMake build, in sync with any changes we make here (see #3996 for example).

[2016-08-23 22:25] flx42 commented on #3974
@cancan101 nope, I'm getting the same error as you.

[2016-08-23 22:45] flx42 commented on #3989
Just modify this line:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/Dockerfile.devel-gpu#L90

It was properly changed in the CI Dockerfile:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/ci_build/Dockerfile.gpu#L25

[2016-08-23 22:49] flx42 commented on #3974
Well actually the fix was easy, see #3989

[2016-08-23 22:51] gunan commented on #3989
@davidzchen to also get his input.

[2016-08-23 23:13] lightcatcher commented on #3994
I found the ``Variable.value()`` method that seems like a nicer workaround than the ``assign`` (no-)op.
From reading the docs, it seems like like a good fix would be for ``apply_gradients`` to call ``convert_to_tensor``.

[2016-08-23 23:20] kbrems commented on #3963
threadpool.h is the only file we are missing. Maybe others are missing some more?

I can create a PR, but it may take a while to get the CLA through our corporate legal dept.

[2016-08-23 23:22] vrv commented on #3963
I believe you work at HP Labs and I see an "HP Inc." that's already signed the Google Corporate CLA, so assuming your email is part of your company's CLA list, it should already work. :)  Let me know if you'd rather me do it though -- I'd rather give you credit for finding this :)

[2016-08-23 23:28] martinwicke commented on #217
E501 should be 80 characters. I encourage you to do this, I'm not terribly concerned about git blame per se, it's the nature of things.

[2016-08-23 23:31] kbrems commented on #3963
HP split into 2 companies last year: HP Inc. and Hewlett Packard Enterprise - I'm at Hewlett Packard Enterprise Labs, so we need our own CLA. I've sent the CLA to legal - let me see if I can get a response within a week. Otherwise maybe you will need to do it.

[2016-08-23 23:39] vrv commented on #3963
(see my edit above, is Enterprise labs separate from Enterprise?)

[2016-08-23 23:43] flx42 commented on #3788
@vrv is the fix going to be cherry-picked in the r0.10 branch?

[2016-08-23 23:45] vrv commented on #3788
Hm, it should be.

https://github.com/tensorflow/tensorflow/commit/2ddc543401efe02a521f6ce9c3a41753faa8c774 is the one, right?

[2016-08-23 23:50] vrv commented on #3788
https://github.com/tensorflow/tensorflow/commit/5d3492df515b059c7b5ccfb72d3a3f3088594f52 I just cherry-picked it -- can you let me know if it works now?

[2016-08-23 23:53] Mazecreator commented on #3985
I tried setting CUDA to 8.0 and it compiled with no problems.  I used the default version for cuDNN.

I don't know if this still required the manual edit of adding the "cxx_builtin_include_directory" to the  CROSSTOOL.tpl file.  If you think that may have been resolved with your update, I can try from scratch to see if that issue is also resolved.  Adding the 8.0 for CUDA in configure did fix the

[2016-08-24 00:00] davidzchen commented on #3989
Yes, from the discussion in NVIDIA/nvidia-docker#172 and #3269, the line:

[code]

seems to be incorrect since in the Docker image, `libcudnn.so` is installed under `/usr/lib/x86_64-linux-gnu` and not `/usr/local/cuda/lib64`. The line should be changed to:

[code]

as we have done so in `tensorflow/tools/ci_build/Dockerfile.gpu`.

[2016-08-24 00:05] davidzchen commented on #3985
Understood. Thanks!

I was able to reproduce this issue and will work on root causing the problem. I have a hunch that it may be related to an issue I mentioned in [https://github.com/tensorflow/tensorflow/issues/1157#issuecomment-235426495](this comment) but I'll verify to be sure.

[2016-08-24 00:15] jeffxtang commented on #3619
More Update: I found a "hacky workaround" to bypass the linker error by removing all the tensorflow/contrib/quantization/kernels/*_test.cc files from tf_op_files.txt and now build_all_ios.sh finally completes successfully with the added quantization files in tf_op_files.txt:
[code]

But after I linked the newly built libtensorflow-core.a file in the iOS simple project and started the app, tap on R

[2016-08-24 00:19] tangruiming commented on #3725
To will001, thank you very much. My doubts are clear.

[2016-08-24 00:40] Mistobaan commented on #3985
one thing that I noticed is that you have to run `./configure` again if you do `bazel clean`

[2016-08-24 00:56] lcwyylcwyy commented on #3982
OK I  git pull  the tensorflow on Mac book. The System is OS X EI Capitan. With Nvidia GTX750
Cuda is 7.5 and Cudnn is 5
the repo commit is 6d04d60
I run the ./configure.  After the cuda setting,  there is an error that cuda_configure.bzl:409:18: function 'repository_rule' does not exist.

Then I delete the all repo and git clone a new one. The error also exist. The branch is on master.

[2016-08-24 00:56] davidzchen commented on #3985
@Mistobaan Yes, you need to run `./configure` again if you run `bazel clean` since running `clean` will also delete the `@local_config_cuda` repository generated by `cuda_configure`, though in general, you should need to run `bazel clean` due to Bazel's incremental rebuilds. If you find an issue that is causing your workspace to become inconsistent, feel free to bring it to our attention. As menti

[2016-08-24 00:58] vrv commented on #3982
What bazel version do you have?

[2016-08-24 01:04] Mazecreator commented on #3985
Thanks,

Let me  know if there is something you want me to try/test.

[2016-08-24 01:08] davidzchen opened #3998 "Enable building tensorflow as a submodule in cuda_configure"
Add support for path_prefix and tf_repo_name so that projects importing tf as a submodule can build with the new CUDA autoconf.

[2016-08-24 01:09] lcwyylcwyy commented on #3982
I brew the bazel on Mac. so the version is 2.0
The configuration is before compilation. And I have clone a new repo. The issue is also exist.

[2016-08-24 01:10] vrv commented on #3982
The repo now needs bazel 0.3.0.  @davidzchen do you know who is in charge of bazel homebrew?

[2016-08-24 01:10] #3982 closed

[2016-08-24 01:14] JohnnyY8 opened #3999 "The problem about data flow graph?"
Hi everyone:
     I am a beginner for tensorflow, and do not understand something about the demo in tutorial files, like following:
![image](https://cloud.githubusercontent.com/assets/12611573/17914869/688d864a-69d8-11e6-8692-4c3e41e695bf.png)
     During testing, how can accuracy call the trained model for mnist.test.images and mnist.test.labels.
     Does the trained model flow to the accuracy?

[2016-08-24 01:14] lcwyylcwyy commented on #3982
Ok I will update it. The bazel version is 3.0 on homebrew. And thank you very much!

[2016-08-24 01:14] vrv commented on #3982
https://github.com/Homebrew/homebrew-core/blob/8f35a6b808a98f5bfaee546644f80564bd95ae40/Formula/bazel.rb#L4 it looks like homebrew is already at 0.3.1, so you can upgrade.

[2016-08-24 01:38] flx42 commented on #3989
I expect that users might have cuDNN at any of those two locations since we offer deb and tarball downloads. Ideally those two locations should be checked automatically and `CUDNN_INSTALL_PATH` could be reserved for unusual cuDNN install paths.

[2016-08-24 02:18] lcwyylcwyy commented on #3979
you can see this issue https://github.com/tensorflow/tensorflow/issues/3619
but it just solve the issue partly.

[2016-08-24 02:27] zplizzi commented on #739
@isabel-schwende I used Selective Search since, if I remember correctly, it's what was used in the original RCNN and Fast-RCNN papers. Not knowing much of anything about region proposal algorithms, I figured that was probably a good endorsement and haven't tried anything else. I'm not sure that the Python implementation is very good or fast, but I'd personally probably lean towards working on gett

[2016-08-24 02:41] cancan101 commented on #3989
Should not be relevant for the Docker image where the install location is controlled.

[2016-08-24 02:59] flx42 commented on #3989
True, but it's a maintenance burden, if you want to experiment with the image you have to remember to modify this value.
For instance, if you switch to `nvidia/cuda:8.0-cudnn5-devel`, cuDNN is in `/usr/local/cuda` again since we don't have public deb packages for cuDNN 5 on CUDA 8.0 yet.

[2016-08-24 03:02] flx42 commented on #3788
@vrv it works fine now, thanks a lot for your prompt answer!

[2016-08-24 03:12] lcwyylcwyy opened #4001 "iOS ld error"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-24 03:23] vrv commented on #4001
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/tf_op_files.txt#L14
if you add tile_ops_cpu_impl_6.cc to that list, does it work?

[2016-08-24 03:40] cancan101 opened #4002 "Ignoring gpu device with Cuda compute capability 3.0. The minimum required Cuda capability is 3.5."
I build TF with:
[code]
which used to work but within the last few days I now get:
[code]

I wonder if this got broken with: https://github.com/tensorflow/tensorflow/commit/353235e0b2b35f3df43f42ef84ca00ccda7a3a6d

[2016-08-24 03:46] yuanbyu commented on #3726
A possible fix should be available in the next push.

[2016-08-24 03:47] yuanbyu commented on #593
A possible fix should be available in the next push.

[2016-08-24 03:48] cancan101 commented on #4002
Perhaps I now need `CUDA_COMPUTE_CAPABILITIES=3.0` ?

[2016-08-24 03:51] msevrens commented on #593
👍

[2016-08-24 03:54] yuanbyu commented on #3972
It is a known issue that tf.gradients() can't be called inside map_fn, due to some tricky problems with TensorArray.  However you can call tf.gradients() inside tf.while_loop so try to use tf.while_loop directly.

[2016-08-24 04:00] yuanbyu commented on #3663
A possible fix should be available in the next push.

[2016-08-24 04:05] yuanbyu commented on #3663
By the way, thank you so much for the simple test case!

[2016-08-24 04:06] yuanbyu commented on #3459
This should have fixed at HEAD.  Please verify.

[2016-08-24 04:08] cancan101 opened #4003 "Print Version of cuDNN Being Used"
Right now what you get is device info for example:

[code]

Theano prints:

[code]

giving you device info but also info on the version of cuDNN.

[2016-08-24 04:09] yuanbyu commented on #3359
Expect a fix to show up in a week. However the fix requires the user to provide a shape invariant for a loop variable if its shape is changed by the loop body.

[2016-08-24 04:11] #3287 closed

[2016-08-24 04:40] mrry commented on #3886
This is intended behavior: variable reads are cached by default, and the implicitly created caching operator (a `tf.identity()`) is not ordered (by any control or data dependency) with the assignment operator. As a result, the caching operator can cache the value `0.` or `1.` depending on whether it runs before or after the `tf.assign()` operator.

There are several ways to avoid this:

1. As you

[2016-08-24 04:40] #3886 closed

[2016-08-24 04:42] lcwyylcwyy commented on #4001
It's long time to compile the ios lib
It works! Thank you again.
And I think there is no need to compile x86 and x86-64 on ios platform.
In the compile_ios_tensorflow.sh, there are

make -f tensorflow/contrib/makefile/Makefile \
TARGET=IOS IOS_ARCH=I386 LIB_NAME=${LIB_PREFIX}-i386.a OPTFLAGS="$1" $2 $3
if [ $? -ne 0 ]
then
  echo "i386 compilation failed."
  exit 1
fi

make -f tensorflow/contrib/m

[2016-08-24 05:24] yuanbyu commented on #2926
See the doc.

[2016-08-24 05:28] varad2512 opened #4005 "Can we have a feature for max out activation function?"
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-24 05:29] yuanbyu commented on #675
We don't support higher-order gradients for while_loop/map_fn/scan/fold. You should see an informative error message if you try to do that.

[2016-08-24 05:29] #2926 closed

[2016-08-24 05:41] yuanbyu commented on #3208
The original issue posted by liusiqi43@ should already be fixed at HEAD.

[2016-08-24 06:08] coderXiangLi commented on #3870
@ispirmustafa I agree with you about putting more resources to the first worker. But this issue, most of calculates except summaries and checkpoints are on worker1. Worker1 costs 1000% of cpu and other workers cost 30%~50%. When I set `worker_device='/job:worker/task:%d' % self._config.task `. Every worker cost 300%~500% of cpu.

[2016-08-24 06:15] jinhou opened #4006 "Possible bug in tensorboard "EVENT" display?"
Hi, I wanted to display the training accuracy of my model. However, I found that it could't display when I updated with tensorflow 0.10 rc version.

I checked two different situations:
Firstly, it do have values when I download the csv file, as show in below figure.
![tensorboard_v0 10](https://cloud.githubusercontent.com/assets/7037235/17919903/803c2bf4-6a03-11e6-969e-d23358c40387.PNG)

Secondly,

[2016-08-24 06:16] ck196 commented on #739
@zplizzi I have a question about rois processing. input_rois  are original (from xml) rois/ scale_factor(16), aren't they ?
Do we need to resize rois? Because in network we resize image such as "original image -> input image (224x224 - vgg) ...).

[2016-08-24 06:49] lcwyylcwyy commented on #3619
You can quantize the pb with --output_node_names="output".

[2016-08-24 06:53] HITalexwang commented on #3984
GitHub issues are for bugs / installation problems / feature requests.
For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installation issues, please provide

[2016-08-24 06:59] lcwyylcwyy commented on #3619
for FetchOutputs issue
I think you must quantize you pb file with --output_node_names="output"
like this:
bazel-bin/tensorflow/contrib/quantization/tools/quantize_graph --input=tensorflow_inception_graph.pb --output_node_names="output" --print_nodes=true --output=tensorflow/contrib/ios_examples/camera/data/quantized_tensorflow_inception_graph.pb --mode=eightbit --logtostderr

but @petewarden
I run

[2016-08-24 07:10] sun9700 opened #4007 "Request for TF example "DeepMind : Teaching Machines to Read and Comprehend""
Deepmind's paper:Teaching Machines to Read and Comprehend
[http://arxiv.org/pdf/1506.03340v3.pdf](url)
 will be a good example for RNN with **attention**.
However, an unofficial Tensorflow implementation has been suspended over 7 months.
[https://github.com/carpedm20/attentive-reader-tensorflow](url)

Other theano implementations do not demonstrate how to visualize the attention weight:
[https://g

[2016-08-24 07:31] HITalexwang commented on #3984
I have met a new problem, at step 2：
bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package
I added the --config=cuda option, but there is an error: no such package '@local_config_cuda//crosstool': BUILD file not found on package path.

here is the log:
[code]

[2016-08-24 07:36] zplizzi commented on #739
If you guys don't mind, let's try to move discussion specifically about my implementation of Fast RCNN / ROI pooling off of this issue, to avoid bothering the nice TensorFlow folks. Feel free to open an issue on my repository, even if it's just to ask a question about something that doesn't quite make sense.

@ck196, I'm going to copy your question to a new issue on my repo and I'll answer it ther

[2016-08-24 08:09] untom commented on #3459
I can confirm that the behavior seems fixed with the current nightlies

[2016-08-24 08:09] #3459 closed

[2016-08-24 08:26] untom opened #4009 "tf.image.decode_image would be nice (handling both png and jpeg)"
`tf.image.decode_jpeg` crashes on a seemingly valid input image with an  `InvalidArgumentError: Invalid JPEG data, size 107746`. I've used both the current nightly from tonight, as well as TF 0.9.0, using Python 3.5.2 on CentOS 7 on two different machines.

The image  can be opened/displayed without problems in Firefox, GIMP and other image viewers, as well as with the `PIL` image library within P

[2016-08-24 08:32] suiyuan2009 commented on #3999
this question is more suitable for stackoverflow.

[2016-08-24 08:46] classicsong opened #4011 "Is there anyway to run a tensorflow graph (.pb or .meta) generated by single node tf.sess on a distributed environments with multiple ps nodes and worker nodes?"
Will future versions of tensorflow provide a way to run the tensorflow graph generated by single node tf.sess on a distributed environments with multiple ps nodes and worker nodes through python interfaces?
Or is it supported right now?

I am trying to build my tf.graph on my notebook (single node) and save then graph into a binary file,
and then loading the binary graph into a distributed environ

[2016-08-24 08:52] #3999 closed

[2016-08-24 08:56] grovina opened #4012 "Add favicon to TensorBoard"
Adding `favicon.ico` (TensorFlow's, I imagine) would avoid the following warning on launch and beautify TensorBoard. ;)

`WARNING:tensorflow:IOError [Errno 2] No such file or directory: '.../tensorflow/tensorboard/favicon.ico' on path .../tensorflow/tensorboard/favicon.ico`

[2016-08-24 09:04] suiyuan2009 commented on #3999
@JohnnyY8 `accuracy` is just a node of the graph, a bfs can traversal the whole graph.

[2016-08-24 10:06] fayeshine opened #4013 "different types of GPUs"
I have 4 GPUS, which are
gpu0, GTX 1080
gpu1, old TITAN X
gpu2, old TITAN X
gpu3, GTX 1080
when I run a CNN, it shows the information below, what does `cannot enable peer access from device ordinal 0 to device ordinal 1` mean?
Does it mean that I cannot use multiple GPUs since they are not identical(I noticed that I only have one gpu running during the training)?
What is the consequence of this in

[2016-08-24 12:19] lhlmgr commented on #3467
Is there an update on this issue? (using the gcr.io - image)

[2016-08-24 12:39] ivankreso opened #4016 "Initialize layers.convolution2d from numpy array"
I can't find a way to pass a numpy tensor to layers.convolution2d weights/bias initialization arguments.
I added support for this by modifying convolution2d, code is below. I need this feature in order  If you like this solution I can add this feature to other ops also and create a pull request.

First I tried this:
[code]
but get_variable method doesn't allow redundant shape argument when initial

[2016-08-24 12:40] JohnnyY8 commented on #3999
@suiyuan2009 Thank you.

[2016-08-24 14:20] fcahoon opened #4018 "GPU build configuration doesn't work with Debian-packaged cuda/cudnn packages"
I'm on a Debian 'sid' linux computer and I am attempting to build a GPU-enabled version of TensorFlow using the Debian-packaged versions of the Nvidia libraries.

The CUDA packages are from Debian's non-free repository, e.g. https://packages.debian.org/sid/nvidia-cuda-toolkit and cuDNN I installed from using the .deb packages available from Nvidia's site (libcudnn5_5.1.3-1+cuda7.5_amd64.deb  and l

[2016-08-24 14:31] sbrodeur commented on #3624
@iportillo - I will give it another try today. It would also significantly accelerate my experiments, since everything could run on the GPU. I'll try to see if it would be easy to use CUDABlas directly (rather than Eigen) for the basic math functions on complex numbers.

tf.complex_abs is easy to implement on GPU right now:
[code]

By tf.exp(), do you mean converting from the Cartesian to the comp

[2016-08-24 15:12] ibab commented on #3624
@benoitsteiner: We're having some problems with implementing the product and div ops for `std::complex` using the Eigen Tensor library.
Do you see why we would get an error like the following when enabling them in TensorFlow?
[code]
[code]
Maybe we would need to switch to something like `thrust::complex` as @sbrodeur suggested?

[2016-08-24 16:11] Dapid opened #4019 "./configure cannot find Python libraries"
I can't get the configure step to work:

[code]
The repo is clean, at this exact commt:
[code]

The system is Fedora Linux with Python 3.5 installed in a virtualenv. Giving it
`/home/david/.virtualenvs/py35/lib64/python3.5` seems to work, but I can't be sure (it is stuck trying to download http://pilotfiber.dl.sourceforge.net/project/boost/boost/1.61.0/boost_1_61_0.tar.gz, but with Firefox I can g

[2016-08-24 16:28] prb12 commented on #3987
This is a general question best suited to StackOverflow.   Please can you re-ask your question there.

[2016-08-24 16:28] #3987 closed

[2016-08-24 16:30] prb12 commented on #3979
Closing as duplicate of #3619

[2016-08-24 16:30] #3979 closed

[2016-08-24 16:32] prb12 commented on #3990
This code is not part of the tensorflow project.  Please consider asking the author of that code, or post your request for assistance on StackOveflow.

[2016-08-24 16:32] #3990 closed

[2016-08-24 16:33] kalle commented on #3979
@lcwyylcwyy Thanks, that did the trick!

[2016-08-24 16:36] prb12 commented on #3992
We are unable to comment on timeframes for specific feature requests.

This is a general TensorFlow usage question best suited for StackOverflow.  Please can you re-ask there.
(In general, you would be better off avoiding adding large constants to your program.  Consider reading them as input, or computing them once at runtime.)

[2016-08-24 16:36] #3992 closed

[2016-08-24 16:44] prb12 commented on #4003
There should also be a log message with the cuDDN shared library version from [here] ?(https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/dso_loader.cc#L108)

[2016-08-24 16:48] prb12 commented on #3994
This is a general usage question best suited to StackOverflow.  Could you please re-ask there.

[2016-08-24 16:48] cancan101 commented on #4003
No version though:
[code]

[2016-08-24 16:50] prb12 commented on #4007
This is a general usage question best suited for StackOverflow.  Please re-ask your question there.

[2016-08-24 16:50] #4007 closed

[2016-08-24 16:57] prb12 commented on #4011
This is a general usage question best suited to StackOverflow.  Please can you re-ask it there.

[2016-08-24 16:57] #4011 closed

[2016-08-24 16:59] prb12 commented on #4013
This usually happens when the GPUs are on different PCI buses.  The connectivity matrix looks a little strange in this case.

[2016-08-24 17:00] danmane commented on #4006
What browser/OS are you on? Can you open the JS console and tell us if there are any visible errors?

[2016-08-24 17:02] vrv commented on #4013
I think this is working as intended.  The DMA matrix shows which GPUs can talk as 'peers' to each other (e.g., via direct GPU to GPU copies using DMA, rather than going through CPU).

Because you are using two generations of cards, they can't talk to each other, it seems.  The only implication is that the bandwidth between all the GPUs is not uniform, but you can still use all 4 GPUs in the same m

[2016-08-24 17:02] #4013 closed

[2016-08-24 17:03] jeffxtang commented on #3619
@lcwyylcwyy Thanks for the info. Very helpful! The only thing I had to change is "mode=weights" instead of "mode=eightbit", then I can run the simple app with the quantized Inception v1 model on my iPhone 6 device without crash. And I don't see any performance issue. Maybe you can try the simple project to compare? I'll try the camera one later too.

[2016-08-24 17:09] prb12 commented on #4019
This is not an officially supported configuration.  Please could you direct your question to StackOverflow.

[2016-08-24 17:09] #4019 closed

[2016-08-24 17:11] erickrf commented on #2536
I am having a similar problem. After making the suggested changes in the configuration files, I got past the first zlib error, but I'm still getting the second one:

[code]

By the way, the current tensorflow version I'm working with is r0.10, and the CROSSTOOL file has a .tpl extension. Line 62 points to a comment in my version, so it evidently has changed a bit.

[2016-08-24 17:14] lightcatcher commented on #3994
Unless there is a technical reason variables cannot be used, I think this is a bug (or at least unintuitive behavior) in ``apply_gradients`` that should be fixed.

[2016-08-24 17:20] mrry commented on #3924
I'm going to close this issue as "not feasible at present". We might revisit it when all the Python shape functions move to C++, as the rationale for tri-state `__lt__()` (etc.) will have been eliminated by then.

[2016-08-24 17:20] #3924 closed

[2016-08-24 17:20] Dapid commented on #4019
Sorry, what exactly is not supported? The documentation recommends using a virtualenv and Python > 3.3.

[2016-08-24 17:27] jeffxtang commented on #2927
Oh I just realized one probably big difference: the inception v1 model is about 50+MB and my retrained model, which is based on inception v3, is close to 90MB. Maybe that's why.

See my updates in https://github.com/tensorflow/tensorflow/issues/3619 on how to resolve the memory issue using the quantized v1 model running on actual device.

[2016-08-24 17:34] prb12 commented on #4019
We only officially support the following:
Operating systems: Ubuntu Linux 14 LTE to 16. Mac OS X El Capitan. CentOS 7 and above
CUDA: 7.0 - 7.5  (soon 8.0)

From the error messages like
```ln: failed to create symbolic link 'util/python/python_lib' -> '': No such file or directory```
it looks like python_config.sh doesn't understand your system.

This is possibly related to #3933 ?

[2016-08-24 17:35] mrry commented on #3994
It's an inconsistency that doesn't bite many of our users, and it should be an easy fix. I'm going to mark this as "contributions welcome", since it should be an easy pull request to prepare and review.

[2016-08-24 17:37] vrv commented on #3994
Thanks Derek!  Eric, please feel free to send us the fix with a test, if you can!

[2016-08-24 17:41] cancan101 commented on #4003
When there is a mismatch, might also be cool to print what compute capabilities TF was built with next to the compute capabilities of the device.

[2016-08-24 17:44] lightcatcher commented on #3994
Will do this evening!

[2016-08-24 17:57] sguada commented on #4016
Try passing a lambda function instead.

[code]

The solution would be to change [variables.variable](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/framework/python/ops/variables.py#L197)  to use shape to validate the initial_value instead of passing it to get_variable()

[2016-08-24 18:10] prb12 commented on #4003
OK - I'm pretty sure I see versions on the .so files when I run internally.
I agree that having the fill path would be useful to triage library version issues.

[2016-08-24 18:12] prb12 commented on #4003
@zheng-xq  These sort of diagnostics might be useful - is there an obvious place to add some extra log info?

[2016-08-24 18:14] prb12 commented on #3925
Yes- it seems likely this is a GTX10x0 related problem.  Please reopen if this does not fix the problem.

[2016-08-24 18:14] #3925 closed

[2016-08-24 18:15] zheng-xq commented on #4003
Stream-executor has both the build time and compile time information of Cudnn. Adding Jason, the owner of stream-executor here.

[2016-08-24 18:23] vrv commented on #4003
Yes, it's just embedded in cuda_dnn.cc.  Might be worth somehow surfacing that when we load the DSO.   People already don't like the fact that we log this to output though, so I'm worried about adding a separate LOG statement :)

[2016-08-24 18:32] kocabey opened #4021 "Improving Google Indexing for the Documentation"
Whenever I run a Google search on a TensorFlow functionality, say, `tf.reshape`, it gives me the entire documentation, not the specific documentation related to that functionality.

Currently the way I use is  to run a search with `ctrl` + `f` to find specific documentation related to what I search for.

Numpy has that property, i.e. when you run a Google search on `np.reshape`, you get the specif

[2016-08-24 18:58] alexbeloi opened #4022 "train.batch with dynamic_pad=True and input as list of tensors not working as expected"
### Environment info
Operating System:
Ubuntu 14.04.4 LTS (running in Virtual Box 5.0.22 r108108)

Installed version of CUDA and cuDNN:
None

If installed from binary pip package, provide:
1. Which pip package you installed.
pip 8.1.2
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
0.10.0rc0

### Preface
This issue arose from attempting to expand on an example us

[2016-08-24 19:02] #3933 closed

[2016-08-24 19:06] jiq-321421 opened #4023 "Problems when running compile_ios_tensorflow.sh"
On running compile_ios_tensorflow.sh, I am the following problems:

Undefined symbols for architecture armv7:
  "tensorflow::functor::ReduceAndReshape<Eigen::ThreadPoolDevice, int, 6, 1>::operator()(Eigen::ThreadPoolDevice const&, Eigen::TensorMap<Eigen::Tensor<int, 6, 1, int>, 16>, Eigen::TensorMap<Eigen::Tensor<int const, 6, 1, int>, 16>, Eigen::DSizes<int, 1> const&, Eigen::DSizes<int, 6> const

[2016-08-24 19:15] olegaulov commented on #446
Hi @joshburkart and @weiliu620, would you mid elaborating a bit further on how to use a BFGS optimizer? I'm a bit too novice to fill in the missing pieces from Josh's example. I have a basic running net that uses the following:

`loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(trn_logits, tf_train_labels))
optimizer = tf.train.AdamOptimizer(0.05).minimize(loss)
`
I'm a bit confused a

[2016-08-24 19:20] ChristopherJoonMiller commented on #2412
@cgao3 working on this myself... check these docs:

https://medium.com/jim-fleming/loading-a-tensorflow-graph-with-the-c-api-4caaff88463f#.4zblcgk1z
https://medium.com/jim-fleming/loading-tensorflow-graphs-via-host-languages-be10fd81876f#.3dka1t307
https://github.com/tensorflow/tensorflow/pull/695
http://tldp.org/HOWTO/Program-Library-HOWTO/dl-libraries.html

[2016-08-24 20:58] sergulaydore commented on #2207
I am comparing this with PCA implementation from scikit learn and the results don't seem to be consistent. Here is the results and code for a toy example. Can you please comment why the results might be different?

`# USING TENSORFLOW
import tensorflow as tf
sess = tf.InteractiveSession()
x_tf = tf.Variable([[0.0, 1.0, 0.0, 7.0, 0.0], [2.0, 0.0, 3.0, 4.0, 5.0], [4.0, 0.0, 0.0, 6.0, 7.0]])
x_tf.ini

[2016-08-24 21:00] martinwicke commented on #3460
I think if you simply add the moving averages to the graph and explicitly
add their output to the VARIABLES collection they will be saved and you can
use them in the inference graph.

This is assuming you use the Estimator class. There should be no need to
override anything.
On Mon, Aug 15, 2016 at 16:37 Daniel W Mane <notifications@github.com>
wrote:

[2016-08-24 21:04] fbordignon commented on #1426
I've compiled from source python 3.5 glibc 2.14 and gcc 6.2. Installed the glibc and gcc in my home directory with ./configure --prefix=~/libs. For python I did an altinstall, so now I have python 2.6 for centos to use and python 3.5 at the same time with different binaries i.e. python and python3.5 commands.
Now I have a script that puts my glibc and libstdc++ in the LD_LIBRARY_PATH before runing

[2016-08-24 21:08] martinwicke commented on #3771
contrib/layers and contrib/learn are APIs at different levels of
abstraction. They will be moved to TensorFlow core and will be part of
TensorFlow and hence supported indefinitely. If you're worried about
support and alignment with TensorFlow, this is your best bet.

contrib/slim as well as PrettyTensor are actively maintained by
teams/people at Google. Both will likely not disappear.

I cannot sp

[2016-08-24 21:30] antoine-dbr opened #4024 "How to link the TensorFlow static library for Android using the Gradle Experimental Plugin"
Hi all,

Context: we want to link TensorFlow against our C++ platform-independent code and load a model to run some classification relevant for our application. We use SWIG to generate the Java bindings and in the end it builds an Android .aar file that we push to a private maven repository that our other packages (Android apps, we also have an Android SDK) can consume downstream. Moving our proje

[2016-08-24 21:40] craymichael opened #4025 "TensorForest Fails in Modified wide_n_deep SKFlow Tutorial"
### Environment info

Operating System: Ubuntu

Package: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl
Version: 0.10.0rc0

Edit: See update at bottom for stuff I found wrong

I cannot get TensorForest to work using the input_fn parameter as input. It failed in my code, so I tried using it in the wide_n_deep tutorial which failed for the same re

[2016-08-24 21:41] ramnath-k commented on #3851
hi @aselle and @jmchen-g , I think I understand that if some preprocessing is done to extract records from the file and feed it to decode_csv.
Currently there is no CSVReader which can read a single csv record for decode_csv. I think all that is required is to wrap TextLineReader, and read till a \n, determine if we are within a quoted field. Will counting number of double quotes and seeing if it

[2016-08-24 21:41] sbrodeur commented on #3624
I made some progress! I can make multiplication and division ops work for complex numbers if I specialized the templates in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/cwise_ops.h#L432

[code]

Not sure what is wrong with nvcc using scalar_product_op in Eigen for complex numbers:
https://github.com/RLovelett/eigen/blob/master/Eigen/src/Core/functors/BinaryFunctors.

[2016-08-24 21:47] jiq-321421 commented on #4023
Have solved this problem by going back using commit d80f22

[2016-08-24 21:47] #4023 closed

[2016-08-24 21:52] craymichael opened #4026 "TensorFlow SKFlow Estimators Fail when Using read_batch_examples"
### Environment info

Operating System: Ubuntu

Package: https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl
Version: 0.10.0rc0

I'm currently trying to use `tf.contrib.learn.read_batch_examples` working while using a TensorFlow (SKFlow/tf.contrib) Estimator, specifically the `LinearClassifier`. I create a `read_batch_examples` op feeding in a CSV fi

[2016-08-24 21:56] mrry commented on #4021
@wolffg Is this something that might be addressed by the upcoming changes to documentation?

[2016-08-24 21:58] jrajagopal commented on #3797
Hi @vrv, @suiyuan2009 - a quick hello! I am still facing this problem implementing a GRU with word embedding and RMSProp. As originally noted by @kuza55, other optimizers - Adam, Adagrad, FTRL in my case - work. With RMSProp, I get the same issue. I am running TF on AWS g2.2xlarge with Python 3.4.3.

After seeing this thread today, I upgraded TensorFlow but that didn't fix the problem. Has the fix

[2016-08-24 22:01] aselle commented on #3797
what version did you upgrade to? a nighlty build? or did you build from source?

[2016-08-24 22:09] jrajagopal commented on #3797
I am guessing its the nightly build as I didn't build from source. I did a sudo pip3 install -- upgrade

[2016-08-24 22:14] aselle commented on #3797
try running `python -c "import tensorflow; print(tensorflow.__version__)"`.

[2016-08-24 22:20] jrajagopal commented on #3797
Its 0.10.0rc0

[2016-08-24 22:24] vrv commented on #3797
install --upgrade doesn't fetch the nightlies, you should get the nightly
link off the main github page.

On Wed, Aug 24, 2016 at 3:20 PM, Jagannath Rajagopal <
notifications@github.com> wrote:

[2016-08-24 22:32] jrajagopal commented on #3797
Ok thanks - I'll give it a try

[2016-08-24 22:48] jrajagopal commented on #3797
Right - that worked - thanks a lot :-)!

[2016-08-24 23:00] alexatknit commented on #2788
I just ran v0.10 on the machine and it seems to be working fine now.

[2016-08-24 23:00] #2788 closed

[2016-08-24 23:05] lightcatcher commented on #3009
Is there any progress on improving Numpy -> GPU throughput with Tensorflow?

I have a similar benchmark to @tomrunia of passing a O(100MB) tensor from Numpy to GPU and returning a small slice of the tensor. This would ideally be bottlenecked by PCI-e bandwidth, but runs at ~1/10th of that rate. Additionally, I see very poor scaling when attempting to run this tasks over multiple GPUs (on a single

[2016-08-24 23:17] aolsux opened #4027 "[cmake] Build error in dependency re2"
Somehow the re2 dependency does not get build correctly.
I think its because of `re2_INCLUDE_DIR` in re.cmake holding two directories. Then `COMMAND ${CMAKE_COMMAND} -E make_directory ${re2_INCLUDE_DIR}` fails since `cmake -E make_directory` only takes one arg. I'm just comiping and might add a PR if it works.

[2016-08-24 23:26] sbrodeur commented on #3624
I can confirm that with the above trick, I can make work a lot of very useful functions for complex numbers on GPU (e.g. square, neg, div, mul, abs) This brings support for complex gradient computation on GPU:
[code]

Should I make a PR or should we investigate further the handling of std::complex by nvcc?

[2016-08-24 23:28] iportillo commented on #3992
@prb12 Sorry to open this topic again and thanks for the suggestion of using placeholders / computing them on runtime.

However, I have a follow up question related to the implementation of the`SlowAppend<TYPE>ArrayToTensorProto` functions. Seems that most of these functions follow the pattern:

[code]

I was wondering if there is an special reason for not using the `tolist()` method from numpy, a

[2016-08-24 23:30] gibiansky commented on #1888
@zffchen78 If I were to implement this, what strategy would be most likely to get accepted as a patch to tensorflow?

The least invasive strategy is one which uses an environment variable, because GPUs are allocated  statically; In `gpu_init.cc` `InitModule()` is called, which eventually calls `ExecutorForDevice`, which allocates the GPUs. The GPUs aren't stored in the `Session`, and are not freed

[2016-08-25 00:58] cirocavani commented on #110
@kskp I created a Dockerfile that compiles TensorFlow 0.9 CPU for CentOS 6, I tested in CentOS 6 and RedHat EL 6.5. You can use a standalone machine to generate the TensorFlow Package and test in you site. (your standalone machine will need to have Docker, I tested in linux and macOS with Docker for Mac installed)

https://github.com/cirocavani/tensorflow-poc/tree/master/tensorflow_centos6

(main.

[2016-08-25 01:06] msevrens commented on #3738
@yuanbyu

I got the most recent version of tensorFlow with your fix to a related nested looping issue here: https://github.com/tensorflow/tensorflow/commit/096069687c52e16eaa18c1db6e7bbf2737639257  however the GradLoopState issue persists. Any thoughts?

[2016-08-25 01:09] nryant opened #4029 "ptb language modeling example broken with --use_fp16 and dropout other than 0"
### Environment info
Operating System: Ubuntu 16.04 LTS
GPU: GTX 1080
Nvidia driver: 370.23
CUDA: 8.0
cuDNN: 5
bazel:

    Build label: 0.3.1- (@non-git)
    Build target: bazel-out/local- fastbuild/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
    Build time: Wed Aug 24 00:13:09 2016 (1471997589)
    Build timestamp: 1471997589
    Build timestamp as int: 1471997589

[2016-08-25 01:24] Mistobaan commented on #4003
Also notice that Description has already a `ToMap()` that could be consumed to output all the key/values.  I agree that is unexpected to see all dump of information and at the beginning looks like the library is not working.
Maybe add a verbosity env parameter to control when to output the device description ?

[2016-08-25 01:45] prajankya commented on #37
+

[2016-08-25 01:46] vrv commented on #4003
The problem is that, most of the time, this information shows up in logs that people use to report to us and is actually useful.  It would make our life harder to help people if we turned that off by default. :(   Maybe one day when GPUs are just easier to use, we could turn it off by default.

[2016-08-25 02:10] vrv commented on #1888
@gibiansky, independently for another reason I essentially implemented option 2 in your first post earlier this week.  I haven't submitted it yet, but maybe it might work for you.  Concretely, what I did was:

GPUOptions has a field called 'visible_gpu_devices', which is a comma-separated string.  It maps from "visible" devices to "logical" devices.  As an example, let's say the TensorFlow process

[2016-08-25 02:11] vrv commented on #1888
@rdipietro in addition, I believe now the device_count approach should maybe work for your case, since we now only allocate memory lazily on first memory allocation on GPU, so if you never ran an op on GPUs, it shouldn't allocate any memory on it either.

[2016-08-25 02:19] gibiansky commented on #1888
@vrv Yes! This would be perfect! (In fact, I started implementing *literally* the same thing today, in the same manner.)

Minor questions:
- Shouldn't that be part of ConfigProto not GPUOptions? (GPUOptions seems like it is settings that affect a single GPU, while ConfigProto has settings related to many GPUs, for example device_count)
- Why pass `visible_gpu_devices` as a string, rather than as a

[2016-08-25 02:27] vrv commented on #1888
* Yeah, we can put it in something other than GPUOptions (I'm loathe to put it top level, I'd rather scope it appropriately).

* Because that's how CUDA_VISIBLE_DEVICES works, and I kind of wanted it to be 'familiar' to people :).  I could make it repeated too.

* Yes, exactly.

* Unfortunately I think some part of the GPU initialization is still global (held by process_state), so destroying the s

[2016-08-25 02:29] gibiansky commented on #1888
Great, SGTM. No strong opinions here wrt GPUOptions vs other locations; if it's in GPUOptions it may make sense to change the comment in the ConfigProto GPUOptions field to reflect that GPUOptions are not only per-GPU settings.

Thanks! Please ping me / close this issue when this is merged. It will be very helpful for the work I am doing right now.

[2016-08-25 02:32] vrv commented on #1888
(I just checked, the comment on GPUOptions in ConfigProto explicitly mentions 'options that applies to all GPUs -- maybe we'll add a repeated PerGPUOptions field in the future...)

[2016-08-25 02:33] gibiansky commented on #1888
Perfect, I just misinterpreted it then when I read it, for some reason I assumed that meant it was "single-GPU options that are applied to every single GPU uniformly". You're right though that my interpretation doesn't make sense given the comment. Oops, sorry!

[2016-08-25 02:40] vrv commented on #1888
Well, some of those options could apply individually with different settings for each GPU, so your interpretation is also reasonable -- we just haven't implemented it that way (yet).

[2016-08-25 03:01] DjangoPeng commented on #3767
@girving Have you fixed the bug? I can directly run the program and get right outpus

[2016-08-25 03:50] elvinpoon opened #4030 "cuda8.0 cudnn5 binary release?"
I've encountered lots of build errors and none of the solutions I found online can solve my problems. I'm just wondering when can you offer binary release for cuda 8.0 and cuDNN5? I think it's very important for those who don't want to get their hands dirty on building issues.

[2016-08-25 03:50] lcwyylcwyy commented on #4002
you can use cudnn 4.0,

[2016-08-25 04:00] lcwyylcwyy commented on #3619
@jeffxtang Ok, I will try.
I knows why! I measured the inference procedure, because the quantized network have more layer,so every inference slower than origin network.

[2016-08-25 04:09] cancan101 commented on #4002
The issue is that the env flag changed.

[2016-08-25 04:10] coderXiangLi opened #4031 "SupervisedSession cannot run dict fetchs."
### Installed from source, 0.10.0rc0.

### `supervised_session.SupervisedSession`  under  `contrib.learn` cannot run dict fetchs:

 1.Document says that it's same as `tf.Session.run()` and confused.

    	def run(self, fetches, feed_dict=None, options=None, run_metadata=None):
        """Run ops in the supervised session.
        	This method is completely compatible with the `tf.Session.run()` me

[2016-08-25 05:02] chenghuige opened #4032 "To be able to epoch num info from tf.train.string_input_producer"
In cifar10 example, we want learning rate decay base on epoch num, the code there use NUM_INSTANCES/batch_size to get steps per epoch, but I wonder if we can directly use epoch num during training ?
It is usefull when you have big train data you do not know it's size pre, like on hdfs.
I've posted one quesion on stack overflow

[(http://stackoverflow.com/questions/39101150/how-to-get-epoch-num-inf

[2016-08-25 05:33] abhijayghildyal opened #4033 "tensorflow.python.framework.errors.InvalidArgumentError: WhereOp: Race condition between counting the number of true elements and writing them"
I am running `distributed tensorflow` version of `deep mnist` [(link)](https://www.tensorflow.org/versions/r0.10/tutorials/mnist/pros/index.html) (`asynchronous` data parallelism on different machines with gpu). The batch_size I have taken for one epoch is 1000 images and I am running 1000 epochs. My architecture has one `ps` on machine 1 and two workers, with `worker task_index=0` as `chief` on m

[2016-08-25 05:55] chenghuige commented on #3942
@vrv  Got the point now, it works, thanks!

[2016-08-25 06:07] vrv commented on #3942
If someone wants to change flags.py to use https://docs.python.org/3/library/argparse.html#argparse.ArgumentDefaultsHelpFormatter when calling argparser so that it shows defaults, that would be great.  Closing the bug as is though.

[2016-08-25 06:07] #3942 closed

[2016-08-25 06:26] davidzchen commented on #4002
From the discussion in #3269, it appears that the `bazel fetch` command ran by the `configure` script used the correct CUDA compute capabilities but the values are somehow changed when running `bazel build`.

[2016-08-25 06:45] joshburkart commented on #446
@olegaulov There are some examples in the [docstring](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/opt/python/training/external_optimizer.py#L246) :)

[2016-08-25 06:50] davidzchen commented on #2536
@erickrf - The main difference is that the `cuda_configure` rule generates a CROSSTOOL file from the CROSSTOOL.tpl, filling in values auto-detected from the system and the user input from the `configure` script, such as CUDA version. You should be able to still add a `cxx_builtin_include_directory` entry to the CROSSTOOL file for now until we add autoconfiguration for libraries such as zlib.

[2016-08-25 06:51] davidzchen commented on #2109
@alextp The cuda autoconf change has been merged. Can you try building with the latest tensorflow HEAD and see if you still run into any issues?

[2016-08-25 06:54] glori0us commented on #3703
I also across this problem. Could anyone tell me how to solve this ?

[2016-08-25 08:43] akors commented on #2109
@davidzchen
I still get the undeclared inclusions with the latest HEAD. Glossing over your PR, it seems that only the CUDA headers are made configurable, but there are no changes to the "cxx_builtin_include_directory" of the host compiler. Namely, I get errors for the directories:

    /opt/gcc-5.3/include/c++/5.3.0
    /opt/gcc-5.3/lib/gcc/x86_64-unknown-linux-gnu/5.3.0/include
    ...

Where `/o

[2016-08-25 08:48] Hvass-Labs commented on #3771
Thanks for the clarification.

Will there be a change in how contrib/layers and contrib/learn will be imported and used once they're moved to TensorFlow core? If so, when do you expect to move them to core, so I can wait doing my tutorials until then?

[2016-08-25 08:55] akors commented on #4018
For starters, you should show which error messages you run into.

[2016-08-25 08:56] argman opened #4035 "build tensorflow from source"
this is not a bug, but really puzzle me. When everytime I try to build tf from source, bazel keep cloning grpc, protobuf and download something else, as my network is too slow....so this takes really a long time, is there a better way to do this?

[2016-08-25 09:00] akors commented on #3980
As mentioned in another Issue, `cxx_builtin_include_directory` needs to be set not only to the CUDA headers, but also to the include dirs of the users host compiler of choice.

Currently, dirs like `/usr/include` and `/usr/local/include` are hardcoded, but that is not good enough for self-built compilers in custom locations. This is not exotic and the setup should be supported because CUDA require

[2016-08-25 09:07] akors commented on #4030
While a binary release with the updated libraries is certainly desirable, I might be able to help you with build instructions (or even prebuilt pip-packages for Ubuntu).

If you want, you can create a new StackOverflow question with the `tensorflow` tag, and post the link here so I can have a look.
Please include the following info:
 - Operating System
 - CUDA version
 - cuDNN version
 - How you i

[2016-08-25 09:10] Anmol6 commented on #2793
anyone working on this? If not, I'll be glad to work on it.

[2016-08-25 09:40] DogNick commented on #654
@pbhatia243 Hi
I have read your code [https://github.com/pbhatia243/Neural_Conversation_Models/blob/master/my_seq2seq.py#L729](url) for beam_search, and I got several questions maybe you can shed some light on that
1)line 119
`    emb_prev  = tf.reshape(emb_prev,[beam_size,embedding_size])`, it seams that `emb_prev` has a shape of [batch_size * beam_size, embedding_size] before reshape, which i th

[2016-08-25 10:03] argman commented on #4035
Found a solution, we can modify WORKSPACE to change the url to a local path, by using local_repository
[](http://bazel.io/docs/be/workspace.html#new_git_repository)

[2016-08-25 10:04] #4035 closed

[2016-08-25 10:21] erickrf commented on #2536
So, I did add that line. the CROSSTOOL file has the following `cxx_builtin_include_directory` entries:

[code]

But there they are:
[code]

[2016-08-25 11:03] ivankreso commented on #4016
With lambda function initializing_from_value flag will stay false in _get_single_variable():
[code]

I did what you suggested. variables.variable() is a better place for a fix. Below is the code which works for me. Is that ok, should I create a pull request for this?
[code]

[2016-08-25 11:22] lebinhe opened #4036 "distributed tensorflow “socket error, connection refused”"
When I run the following  distributed tensorflow code.  It always show the error:  "socket error: connection refused."

import tensorflow as tf
import input_data

def weight_variable(shape):
  initial = tf.truncated_normal(shape, stddev=0.1)
  return tf.Variable(initial)

def bias_variable(shape):
  initial = tf.constant(0.1, shape=shape)
  return tf.Variable(initial)

tf.app.flags.DEFINE_string("

[2016-08-25 12:13] DogNick commented on #654
the problem are soluved, the batch_size is 1, so all the reshape works well, all clear

[2016-08-25 12:51] elvinpoon commented on #4030
I'm using ubuntu 16.04 LTS & GTX1080, with CUDA-8.0 and cuDNN-5.105 installed, I've downgrade gcc to gcc-5.3.0. I also have installed gcc-4.9 as backup choice.
The first time I got this error.
![image](https://cloud.githubusercontent.com/assets/19640630/17969359/4b950658-6b04-11e6-8845-66510656fbec.png)
However,  It returns '/usr/as' when I type 'which as' in command line. I'm tried symlinks which

[2016-08-25 13:51] martinwicke commented on #3771
We will maintain stubs in contrib for a while so importing from the old
location should continue to work. However until the code is moved to core
it is not subject to stability guarantees so it's very possible that the
interfaces change (although I believe the largest changes are behind us).
On Thu, Aug 25, 2016 at 01:49 Hvass-Labs <notifications@github.com> wrote:

[2016-08-25 14:46] #4002 closed

[2016-08-25 15:43] prb12 commented on #4027
Please can you provide the information requested in the TensorFlow issues reporting template.

[2016-08-25 15:55] prb12 commented on #4033
Yes, this does look like a bug, but we tried writing a simple test case and couldn't reproduce the error.

Could you please provide the info requested in the TensorFlow issues reporting template (especially OS and software versions, installaton method)

It would also be useful to have a copy of the exact python your are running and the command lines required to reproduce the error.

[2016-08-25 15:59] sguada commented on #4016
For small variables initializing them from a value makes sense, however you should know that those values becomes constants in the graph and make the graph bigger, specially if the variables are big.

You can also look at [assign_from_values_fn](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/framework/python/ops/variables.py#L467) which allows you assign values to variable

[2016-08-25 16:07] girving commented on #3767
@DjangoPeng: @chemelnucfin got part of the way through https://github.com/tensorflow/tensorflow/pull/3807 but then got pulled away.  You're welcome to take over if you want!

[2016-08-25 16:09] girving commented on #4009
That is a PNG.

[2016-08-25 16:11] girving commented on #4009
Actually, I'll leave this open in case and renamed in case someone wants to finally make `decode_image` which handles both.  It's almost possible to do it in Python, or it could be done in C++ with a bunch of code sharing with `decode_png` and `decode_jpeg`.

[2016-08-25 16:16] girving commented on #4009
Cc @dave-andersen to trigger painful memories. :)

[2016-08-25 16:18] flx42 commented on #4002
@davidzchen @vrv Great! Can we get it cherry-picked into r0.10?
Thanks!

[2016-08-25 16:23] girving commented on #4009
Also, anyone is welcome to make the error message for `decode_png` or `decode_jpeg` include a suitably escaped version of the first few bytes, which generally give it away.

[2016-08-25 16:31] vrv commented on #4002
Yeah, there are a few things I need to cherry-pick into r0.10 today, so I'll try to get to it.

[2016-08-25 18:16] andrewharp commented on #3685
@cardshuffle I have a build.gradle file incoming that may help with this -- it will automate calling out to Bazel to build the native libs and then copy them into the appropriate directory. You can try editing the buildToolsVersion there once I get it checked in.

[2016-08-25 18:19] Mistobaan commented on #3840
I started taking a shot at cleaning up the Warnings, the no returns and the unsigned/signed comparisons alerts. https://github.com/tensorflow/tensorflow/compare/master...Mistobaan:feature/cleanup_warnings-3840
early feedback is welcome.

[2016-08-25 18:36] kbrems commented on #3963
@vrv Yes, HPE Labs is part of HPE. Awaiting legal approval to get added to the contributor list for tensorflow...

[2016-08-25 19:16] cardshuffle opened #4044 "tf.import_graph_def: graph_def is invalid at node"
I've been trying to import a frozen graph into a new program, and do a simple forward pass, but `tf.import_graph_def` has been throwing a ValueError that I really can't make sense of.
### Environment info

Operating System: Ubuntu 14.04 LTS 64-bit

Installed version of CUDA and cuDNN: none

If installed from source, provide
1. The commit hash (`git rev-parse HEAD`): fc9162975e52978d3af38549b570cc3

[2016-08-25 20:03] prb12 commented on #3971
This looks like you failed to initialize some of the variables in your model?

It seems like the uninitialized variable is a LOCAL_VARIABLE created [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/metrics/python/ops/metric_ops.py#L708)

I think this requires you to call tf.initialize_all_variables() and tf.initialize_local_variables()   (see #1045)

[2016-08-25 20:18] syyuan1993 commented on #2854
Is there a way to change some variable into "untrainable" while training?

[2016-08-25 20:26] perhapszzy opened #4047 "GPU usage is extremely unstable in distributed setup on aws"
### Environment info
Operating System: Ubuntu 14.04

Installed version of CUDA and cuDNN:  CUDA 7.5, cuDNN 4.0

If installed from binary pip package, provide:
Installed from the following pip package: (0.10.0rc)
https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl

### Steps to reproduce
I'm running distributed tf with GPU on 3 machines (the ps machin

[2016-08-25 21:09] tetmin opened #4048 "Compute Capability 3.0 not working with latest docker builds"
Using the most recent docker image 'tensorflow/tensorflow:nightly-devel-gpu' doesn't work on AWS EC2 anymore, it results in the below error:

Ignoring gpu device (device: 0, name: GRID K520, pci bus id: 0000:00:03.0) with Cuda compute capability 3.0. The minimum required Cuda capability is 3.5.

[2016-08-25 21:34] davidzchen commented on #4002
@cancan101 @flx42 - To confirm, did this patch fix this issue for you?

[2016-08-25 21:36] vrv commented on #4002
I assumed you already verified before merging :(.

[2016-08-25 21:50] msevrens commented on #4048
Building from scratch yesterday had no issues on AWS. If this is the plan moving forward though thats ridiculous. Tf needs to be able to run on AWS.

[2016-08-25 22:03] flx42 commented on #4002
Looks fine for me.

[2016-08-25 22:12] tetmin commented on #4048
Thanks, building Dockerfile.gpu from scratch now, will report back.

[2016-08-25 22:24] gibiansky commented on #1888
@vrv BTW: By implementing a very hacky version of this patch, I have confirmed that with this fix will allow you to use Tensorflow with CUDA IPC. (My hacky version just edited cuda_platform.cc to always select just one GPU based on an environment variable, and to return 1 for VisibleDeviceCount()). So definitely looking forward to this patch landing in Tensorflow master – do you know a rough ETA f

[2016-08-25 22:30] vrv commented on #1888
It'll probably in master tonight or tomorrow

On Thu, Aug 25, 2016 at 3:24 PM, Andrew Gibiansky <notifications@github.com>
wrote:

[2016-08-25 23:40] tetmin commented on #4048
I got further this time but now have the following error:

Loaded runtime CuDNN library: 5103 (compatibility version 5100) but source was compiled with 4007 (compatibility version 4000).  If using a binary install, upgrade your CuDNN library to match.  If building from sources, make sure the library loaded at runtime matches a compatible version specified during compile configuration.

[2016-08-26 02:15] elvinpoon commented on #4030
Now I have

ERROR: /home/pcy/.cache/bazel/_bazel_pcy/cca4539ff6237551fb9a5b20d456f78c/external/farmhash_archive/BUILD:5:1: Executing genrule @farmhash_archive//:configure failed: bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped): com.google.devtools.build.lib.shell.AbnormalTerminationException: Process terminated by signal 15.
/home/pcy/.cache/bazel/_bazel_pcy

[2016-08-26 04:32] olegaulov commented on #446
Thanks @joshburkart ! Just what I was looking for.

[2016-08-26 06:51] brando90 commented on #3632
Is there anything I can do to help get this resolved? Thanks! :)

[2016-08-26 07:06] zplizzi opened #4050 "Possible improvement in documentation"
I'm following the documentation [here](https://www.tensorflow.org/versions/r0.10/how_tos/adding_an_op/index.html#compiling_the_kernel_for_the_gpu_device). Specifically, I find that running the second command in the code block of the section "Compiling the kernel for the GPU device" returns a linker error complaining about the lack of the `lcudart` library. I have solved this issue by adding the op

[2016-08-26 07:38] abhijayghildyal commented on #4033
Apologies, I skipped the template format while raising the issue.

### Environment info
Operating System: Ubuntu 14.04 on both machines (Machine 1 and 2)

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

Machine 1 (for my experiment) with worker task_index=0 :

    -rwxrwxrwx 1 root root   322936 Aug 15  2015 /home/username/../../usr/local/cuda

[2016-08-26 08:02] srp1970 commented on #2413
With latest tensorflow, I have CROSSTOOL.tlp. Should we copy this as CROSSTOOL and make modifications to this (adding cxx_builtin_include_directory)?

[2016-08-26 08:39] chraibi opened #4052 "Can not compile on Mac OS X Yosemite"
### Environment info
Operating System: Mac OS X Yosemite

### Steps to reproduce
1. `git clone https://github.com/grpc/grpc.git`
2. `git checkout 0e43d67602096a5c4aeab4632579bc56cf692553`
3. `cd grpc`
4. `git submodule update --init --recursive`
5. `make`

### Make linking errors related to protobuf (first errors)

[code]

[2016-08-26 08:41] #4052 closed

[2016-08-26 08:52] arita37 commented on #2560
Hello,

@kosklain : Ok, Sure

Does 0.10c release now contains this ?

https://www.tensorflow.org/versions/r0.10

Thanks

[2016-08-26 09:40] u4lr451 opened #4053 "encounter error when session run in c++:Invalid argument: No OpKernel was registered to support Op 'Sub' with these attrs"
tensorflow version :0.8.0

1) use python to train model
2) use freeze_graph.py to freeze the mode and graph def as freeze.pb
3) load the  freeze.pb  is ok . but when  run session get this error

'''CreateGlobalVariables ...
pn predict fail:Invalid argument: No OpKernel was registered to support Op 'Sub' with these attrs
         [[Node: train_correct/dp_11/random_uniform/sub = Sub[T=DT_FLOAT](trai

[2016-08-26 10:10] spdd commented on #3546
Any ideas?

[2016-08-26 12:19] ivankreso commented on #4016
Ok thanks a lot. I did not know that TF keeps a copy of the init values as a constant in the graph and I was not aware of assign_from_values as it is not in the docs yet. From now on I will use assign_from_values and save some memory.

[2016-08-26 12:19] #4016 closed

[2016-08-26 12:51] inderpreetsganda opened #4056 "Adding more layers decreases model accuracy."
Here are two different reproducible codes, one has two conv layers and other has 10 conv layers. Model with two conv layers reaches the result in few iterations whereas model with 10 conv layers reaches the result in more iterations, and moreover they both produce same result 62.5 % accuracy. Model with 10 conv layers should provide better accuracy(because it has more layers) but it gives same acc

[2016-08-26 13:42] davidzchen commented on #4002
@vrv This patch works on my end, and was a needed cleanup change in any case. I wanted to be sure in case there were any issues involving Bazel re-fetching, which I recall running into at one point.

[2016-08-26 14:14] davidzchen opened #4058 "Use header include directories auto-detected from host compiler"
As mentioned by @akors in #2109 and #3980, we should generate `cxx_builtin_include_directory` entries for the header include directories used by the user's host compiler of choice rather than hard-coding them as we are currently doing.

[2016-08-26 14:15] davidzchen commented on #2109
@akors - I have opened #4058 for the host compiler include directories issue.

[2016-08-26 14:15] davidzchen commented on #3980
@akors - Agreed. I have opened #4058 for the host compiler include directories issue.

[2016-08-26 14:17] timosadchiy opened #4059 "Building for iOs fails with "ld: 44 duplicate symbols for architecture armv7" error"
Hi all,

Trying to build Tensorflow for [iOs.](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#ios) The step `tensorflow/contrib/makefile/build_all_ios.sh` after around 20 minutes of building returns errors including `duplicate symbols for architecture armv7`. Please find the details bellow.

### Environment info
Operating System: Mac OS X 10.11.6 (15G31)
Xcode 7.3

[2016-08-26 14:26] neggert opened #4060 "Nightly binary links in README are broken."
Following the links in the README. CPU-only builds work, but both Mac and Linux GPU builds return 404.

[2016-08-26 14:56] neggert commented on #4060
Seems to be back now.

[2016-08-26 14:56] #4060 closed

[2016-08-26 15:20] inderpreetsganda commented on #4056
Someone is also having this issue - http://stackoverflow.com/questions/35268167/low-accuracy-with-change-to-tensorflow-cifar10-example

[2016-08-26 15:22] prb12 commented on #3978
@sygi   This should be fixed now in the nightly builds.  (thanks @mrry!)
Please can you reopen if the problem persists.

[2016-08-26 15:22] #3978 closed

[2016-08-26 15:25] poindextrose opened #4062 "Tensorboard icons invisible when building from source"
The refresh, configure, and plot buttons (expand, log/linear) are not visible when building tensorboard from source. However, they are clickable.
<img width="1438" alt="screen shot 2016-08-26 at 8 10 32 am" src="https://cloud.githubusercontent.com/assets/1794423/18010495/9a428d32-6b65-11e6-8f7f-23a490ae05fb.png">

### Environment info
Build/execute operating System: Ubuntu 16.04
Viewing operating

[2016-08-26 15:28] prb12 commented on #4056
This is a general machine learning question, not a specific bug/issue, and therefore more suitable for StackOverflow.  Please can you re-ask there.

[2016-08-26 15:28] #4056 closed

[2016-08-26 15:30] prb12 commented on #4053
Could you possibly try to reproduce this on a newer version of TensorFlow?

[2016-08-26 15:38] prb12 commented on #4050
@zplizzi  Could you please let me know what the value was of `$TF_INC` as per the following step in the instructions:
[code]
@keveman  Should there also be an equivalent `$TF_LIB` path?

[2016-08-26 15:47] prb12 commented on #4036
@lebinhe Please could you provide at least the following information:

- All the software versions (as requested in the TensorFlow issues template)
- The exact command lines you are running
- The configuration of your cluster machines -  i.e. are they running firewalls etc

Also, could you please expand on your comment:

From the log messages, it seems that the workers are unable to talk to each o

[2016-08-26 16:09] prb12 commented on #4047
@perhapszzy  I presume you're following the tutorial code from [here](https://www.tensorflow.org/versions/r0.10/how_tos/distributed/index.html)?

It looks like you have mistyped several of the command lines, especially the `worker_hosts` and `ps_hosts` args:
```--worker_hosts='machine2:2222,machine2:2222'```

- It's unclear what machine the PS is running on (is there a `machine0` or `machine3`?)
-

[2016-08-26 16:15] perhapszzy commented on #4047
Ops, I mistyped the machines.
Shouldn't have problem setting the cluster up. And I tried no matter how many workers are used, the speed slowed down after ～10K iteration.

I tried 2 workers and 1 worker. They slowed down at ~10k iteration (for 2 workers, each worker finished ~5k iteration, for 1 worker, it slowed down after 10k iteration).

[2016-08-26 16:20] mrry commented on #4047
Can you try with the nightly build? The release candidate 0.10.0rc0 has a memory leak in the distributed code that could be causing the slowdown.

[2016-08-26 16:21] perhapszzy commented on #4047
Thanks for the advice. I'll try it today.

[2016-08-26 16:25] jpiabrantes commented on #1122
@sguada I am not understanding the right way of using `batch_norm` specially concerning the flag `updates_collections`. If I understood correctly if the flag is `None` the network is not efficient, so I should let `updates_collections=tf.GraphKeys.UPDATE_OPS` and then I should collect all the batch_norm updates and run them together.

You collect the batch_norms updates by doing: `update_ops = tf.

[2016-08-26 16:38] prb12 commented on #4033
@abhijayghildyal We could do with more precise information for 'steps to reproduce`.

In particular, the link you provide is to a deep mnist tutorial which isn't distributed.
Are you modifying this according to the [distributed tensorflow tutorial](https://www.tensorflow.org/versions/r0.10/how_tos/distributed/index.html)

The distributed TF turorial uses a 4 machine configuration, but you describe

[2016-08-26 16:40] keveman commented on #4050
We do have `tf.sysconfig.get_lib()` that gives you the path to use for the `-L` option. However that's for the TensorFlow libraries. These instructions assume that cuda libraries are available in `/usr/local/lib64` which is typical if you install cuda with the default options. In that case, you wouldn't need to pass the extra `-L` to point to the location of cuda libraries. But @zplizzi does have

[2016-08-26 17:10] aselle commented on #3816
These do not necessarily look wrong to me. You are asking for contrast. The contrast formula outputs for each channel c at each pixel i,j
mean =sum(x(i,j,c),i,j)/(N*M)
x(i,j,c) = contrast * (x(i,j,c)-mean) + mean
This formula can produce values that are greater than 1.  This contrast formula is more general histogram equalization than what a paint program does. A paint program turns contrast into

[2016-08-26 17:11] aselle commented on #3849
Automatically closing due to lack of recent activity. Please open a new issue that follows the template if your problem persists.

[2016-08-26 17:11] #3849 closed

[2016-08-26 17:12] prb12 commented on #4026
@ilblackdragon  Could you please take a look at this?

[2016-08-26 17:33] aselle commented on #3798
Automatically closing due to lack of recent activity. Please reopen when additional information becomes available.

[2016-08-26 17:33] #3798 closed

[2016-08-26 17:34] aselle commented on #3810
Marking this as contributions welcome as we'd be happy to accept contrib scripts that would streamline this, but it is not something we're likely to get to soon. Thanks!

[2016-08-26 17:35] aselle commented on #3766
@mrry can you take another look?

[2016-08-26 17:40] prb12 commented on #4022
@mmy - This seems to go wrong in autopacking code - which is happening before the dynamic_pad logic of batch gets to fix up the ragged input data.  Is this a problem with tf.train.batch arg validation?

[2016-08-26 18:07] abhijayghildyal commented on #4033
I made a simple experiment with deepMNIST for bench marking results. I made minimum changes to the codes mentioned in the TensorFlow documentation (deepMNIST and distributed tensorflow). I used two machines for running three tasks, machine 1 had ps task_index=0 and worker task_index=1, and machine 2 had worker task_index=0.

    from tensorflow.examples.tutorials.mnist import input_data
    import

[2016-08-26 18:14] prb12 commented on #3938
Not sure what to suggest.
Have you tried using a more recent version of TensorFlow?  (e.g. 0.9 or 0.10rc ?)
Does the output of `pip show protobuf` look like this:
[code]
You're definitely running your tensorflow program with python 2.7 not accidentally using python 3 ?  (in which case you'd need to **pip3** install the protobuf package)

@martinwicke Any ideas?

[2016-08-26 18:25] msevrens commented on #4048
Yeah, you do need to update CuDNN.

https://developer.nvidia.com/compute/machine-learning/cudnn/secure/v5.1/prod/7.5/cudnn-7.5-linux-x64-v5.1-tgz

[2016-08-26 18:27] gilberthendry commented on #4025
Sorry for all the troubles.  Long story short, TensorForestEstimator doesn't support such a heterogenous set of inputs as the wide_n_deep tutorial, partly because the TensorForest internal interfaces predate the estimator interface and a more general translation between the two was never put in place because we haven't had a driver for that yet.   What does work is:
1. All continuous numerical inp

[2016-08-26 18:30] craymichael commented on #4025
Another update:
I was able to get all metrics I tried to work (confusion matrix, precision, recall etc.) by changing `_get_eval_ops` in `tensorflow/contrib/learn/python/learn/estimators/random_forest.py` as follows:

     def _get_eval_ops(self, features, targets, metrics):
      ...
      if metrics is None:
        metrics = {self.accuracy_metric:
                   eval_metrics.get_metric(self.

[2016-08-26 18:30] prb12 commented on #3992
@keveman  I realize the functions are named `SlowAppend` ... but looks like they could be slightly less slow?

[2016-08-26 18:36] vrv commented on #4048
I think the cuda auto configuration change had a bug that didn't properly propagate the cuda capabilities env variable, but we cherry-picked that into r0.10 in https://github.com/tensorflow/tensorflow/commit/761e6de4357786bee049e63e227b03d57f18bab0

so hopefully the latest nightly build has that in and it should work.

[2016-08-26 18:41] prb12 commented on #4033
Thanks for the info.  Could you also supply the command lines you used in the configuration where the error happens?

[2016-08-26 18:44] prb12 commented on #3627
Closing due to lack of activity.  Please feel free to reopen if you have further information.

[2016-08-26 18:44] #3627 closed

[2016-08-26 18:45] yaroslavvb commented on #3632
@brando90 I've added some suggestions on the stackoverflow thread (remove queues, add session timeouts, use cpu-only binary, try to match env to reproduce locally, isolate exactly which line gets stuck). From the description it's not clear that there's anything wrong with tensorflow

[2016-08-26 18:47] danmane commented on #4062
Known issue. Will be fixed today at r0.10 and master.

[2016-08-26 18:48] craymichael commented on #4025
Thanks for the response! Please see my last comment with regards to 7. Would it be reasonable to expect the TensorForest to be implemented in such a way as the other Estimators are? The way I'm working  handles things generically for different model types, so it would be nice if the expected input for all Estimators was the same. Possibly even with features columns?
With regards to 3, none of the

[2016-08-26 18:48] vrv commented on #3632
It's possible there's a bug with the nvidia driver -- I've seen reports of people updating their driver and solving some issues like these.  In particular, TF shouldn't be doing anything with your GPUs after trying to initialize them if you never use them.  I'm going to close this for now unless there's more evidence that there's something in TF we're doing wrong (we can't really reproduce this, s

[2016-08-26 18:48] #3632 closed

[2016-08-26 18:58] prb12 commented on #3902
@keveman - this seems to be tf.layers loading a custom bucketization_op via `load_op_library` for the second time.
The dynamic loader presumably returns a status indicating the shared library is already loaded - but this causes TF to fail rather then use the existing version.

[2016-08-26 19:00] gilberthendry commented on #4026
You have to call read_batch_examples from somewhere inside input_fn so that the tensors it creates are in the graph that Estimator creates in fit().

[2016-08-26 19:01] prb12 commented on #4032
Stack overflow is the correct venue for questions like this.

[2016-08-26 19:01] #4032 closed

[2016-08-26 19:14] gilberthendry commented on #4025
I will certainly look into improving the interface and making it more compatible with other Estimators, though I can't promise a timeline right now.

The two-forest method would work.  Another thing that might work is translating the categorical features into dense Tensors (if they're strings, try to hash and reinterpret the bits as floats.  If they're already numbers and the index space is large

[2016-08-26 19:19] mrry commented on #3766
Without the crash dump from worker0, or some way to reproduce the bug, there's not much we can do. With `gdb` were you able to get a stack trace at least?

[2016-08-26 19:35] craymichael commented on #4026
Oh I feel like an idiot! I've been creating the op outside of the graph scope. It works now, can't believe I didn't think to try that. Thanks a lot! This is a non-issue and has been resolved.

[2016-08-26 19:35] #4026 closed

[2016-08-26 19:49] davidj-github opened #4066 "retrying_file_system does not use exponential backoff"
In tensorflow-0.10.0rc0/tensorflow/core/platform/cloud/retrying_file_system.cc,
the retry logic does not insert a delay between successive attempts.

Status CallWithRetries(const std::function<Status()>& f) {
  int attempts = 0;
  while (true) {
    attempts++;
    auto status = f();
    if (!IsRetriable(status) || attempts >= kMaxAttempts) {
      return status;
    }
    LOG(ERROR) << "The opera

[2016-08-26 19:50] craymichael commented on #4025
Thanks a lot! I really appreciate it. I think I'll try the two-forest method first and compare to the categorical to dense approach. I would like to clarify what you mean by index and value space; if I have a feature with 10 different unique values and 100 examples, the value space is 10 and the index is 100?

[2016-08-26 20:05] prb12 commented on #3821
This looks to me like all of your paths are confused:

In your new training code, you have:
```        train_dir = "/Users/Zanhuang/Desktop/NNP/model.ckpt" ```
You're writing checkpoints to here:
 ```       checkpoint_path = os.path.join(FLAGS.data_dir, 'model.ckpt') ```

Where `FLAGS.data_dir` is unspecified... do you provide this on the command line?  If not, what is the default value?

When doi

[2016-08-26 20:05] #3821 closed

[2016-08-26 20:10] gilberthendry commented on #4025
So I've seen SparseTensors used to represent different kinds of data.  Such as:

1. The "typical" meaning of sparse, where each example has a few columns out of many that are present and rest are assumed zero or "".  If the sparse_tensor.values are only ever 0 or 1, I consider this a small value space and possibly large feature space.

2. A convenient way to represent a variable length list of val

[2016-08-26 20:12] prb12 commented on #4066
Yes-  this retry logic does look pretty basic.
@davidj-github  Could you please explain a bit more about the problem you are having.
@rinugun  Is there another backoff mechanism at a lower level (e.g. in an RPC layer?) or does this just retry 4 times without sleeping?

[2016-08-26 20:15] craymichael commented on #4025
Ok thanks for that clarification! I won't be getting to the two-forest until next Monday but I'll share my findings! Forest hasn't performed bad at all on only categorical or continuous inputs. I'll probably start by averaging the prediction probabilities from each forest and compare that to some over methods. Thanks again!

[2016-08-26 20:33] prb12 commented on #3749
This issue looks like it is now solved?  Please reopen if the problem is still present.

[2016-08-26 20:33] #3749 closed

[2016-08-26 20:35] gibiansky commented on #1888
@rmlarsen @vrv This change got rolled back automatically; please re-open this issue!

[2016-08-26 20:36] prb12 commented on #436
@girving This doesn't appear to be assigned to anybody on GitHub.  Any update here?

[2016-08-26 20:36] vrv commented on #1888
It got rolled forward again with a fix.

[2016-08-26 20:37] gibiansky commented on #1888
In which commit was it rolled forward? I just cloned master and do not see the change.

[2016-08-26 20:38] vrv commented on #1888
Oh, it hasn't been pushed to master yet (so, on the next push).  Sorry about the wait...

[2016-08-26 20:39] gibiansky commented on #1888
Ah, got it. How do pushes to master work? Do you do one every few hours?

[2016-08-26 20:42] prb12 commented on #3762
@DjangoPeng Hopefully your original issue is fixed by #4008.
I'm going to close this issue - please reopen the original issue is still presetn.

Please can you report unrelated issues in a separate thread.

[2016-08-26 20:42] #3762 closed

[2016-08-26 20:44] vrv commented on #1888
It's a manual process, usually once a day.  Until then, you could sync at the commit that closed this feature (the bug was related to when you run on a machine that doesn't have GPUs, but you compiled with GPU support).

[2016-08-26 20:46] girving commented on #436
@prb12 @aselle I was expecting this to be triaged during the bug scrub, but I guess that didn't happen.  I'll close for now, but if someone wants to fix it I can reopen and mark contributions welcome.

[2016-08-26 21:00] perhapszzy commented on #4047
I tried the following methods, none of them helped:

1. tried to run the code using docker image tensorflow/tensorflow:nightly-gpu, the behavior is almost the same. Slowed down after ~10k iteration

2. tried to use 0.9.0, with pip package at
[code]
This slows down even faster. More over, the GPU usage is only ~30% at beginning and ~10% after slowed down. However, the speed is ~0.160-0.250 sec/batc

[2016-08-26 21:18] vrv commented on #4047
What is your memory usage like?  I have a totally random guess that this is caused by memory fragmentation and swapping.

Try:
- Enabling TCMalloc in your binary
- Turning off swap so it hard fails when you run out of memory

[2016-08-26 21:20] chihuahua commented on #1291
I lack a solution ATM since the graph visualizer basically defers to dagre-d3 for graph layout. dagre-d3 treats graph layout as an optimization problem that trades off speed vs a quality layout. See https://github.com/cpettitt/dagre/wiki#recommended-reading for specifics.

In this case, it is odd how the arrow from y-input to the overall scope node is curved (and not a beeline for the node). Maybe

[2016-08-26 21:23] davidj-github commented on #4066
I was reviewing the code and noticed that it does not conform to Google's recommendation to insert a delay between retries.

[2016-08-26 21:25] perhapszzy opened #4067 "GPU usage level and training speed is very different for different tensorflow version"
### Environment info
Operating System: Ubuntu 14.04, AWS g2.2xlarge

Installed version of CUDA and cuDNN:  CUDA 7.5, cuDNN 4

Tried 3 different version using pip package:
0.8.0:
sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl

0.9.0:
sudo pip install --upgrade https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0

[2016-08-26 21:43] prb12 commented on #4067
There are some known performance regressions in the 0.10 release candidate.
Closing as duplicate of #3974

[2016-08-26 21:43] #4067 closed

[2016-08-26 21:47] perhapszzy commented on #4047
@mrry If I install from the master branch, the code hang at prepare_or_wait_for_session.

[2016-08-26 21:49] prb12 commented on #4066
@davidj-github I agree this is not usually very desirable behavior.  If it's not causing you an immediate problem, then I assume there's no great urgency here?  I'll let the authors of this module comment further.

[2016-08-26 22:01] perhapszzy commented on #4047
@vrv will try this and report later.

[2016-08-26 22:13] Anmol6 commented on #3101
@RobRomijnders stupid question, but where can I find the softmax function? I wanna work on this, but don't seem to be able to find the file..

[2016-08-26 22:31] jmchen-g commented on #3851
@aselle We already allow section 2 item 6 case in the current implementation. The only issue here is that the current op expect a tensor of records, each of which is a record.

You will need to either preprocess the csv to generate the tensor of records or have a new op that takes the whole file and process on the fly. It is better to just convert it directly instead of composing tensor of records

[2016-08-26 22:33] perhapszzy commented on #4047
@vrv There's the memory status:

KiB Mem:  15400928 total, 11319472 used,  4081456 free,   456428 buffers
KiB Swap:        0 total,        0 used,        0 free.  7998028 cached Mem

[2016-08-26 23:27] alexryan opened #4070 "How to install tensorflow on the NVIDIA Jetson TK1 developer kit?"
We are trying to install tensorflow on the [NVIDIA Jetson TK1 developer kit](http://www.nvidia.com/object/jetson-tk1-embedded-dev-kit.html).

The platform has ..

a GPU
[Tegra-K1](http://www.nvidia.com/object/tegra-k1-processor.html)

a 64-bit ARM CPU
[NVIDIA 4-Plus-1™ Quad-Core ARM® Cortex™-A15 CPU](http://www.nvidia.com/docs/io/116757/nvidia_quad_a15_whitepaper_finalv2.pdf)

ubuntu 14
(Note: It

[2016-08-26 23:30] vrv commented on #4070
You might have better luck trying to use the Makefile approach in contrib/makefile, rather than bazel.  We know it works for arm devices, and it currently doesn't link in any grpc code.

[2016-08-26 23:30] vrv commented on #4070
Closing since this is really a better question for StackOverflow -- it's a request for help from the community, not a bug or explicit feature request.

[2016-08-26 23:30] #4070 closed

[2016-08-26 23:31] alexryan commented on #4070
could we make it a feature request to support arm 64?

[2016-08-26 23:33] perhapszzy commented on #4047
if I turn off swap using ```sudo swapoff -a ``` it's still running

[2016-08-26 23:35] vrv commented on #4070
You should check out contrib/makefile first, and then file a concrete bug about what is not supported.

[2016-08-26 23:38] vrv commented on #4047
Hm, did you try tcmalloc?

[2016-08-26 23:39] #3678 closed

[2016-08-26 23:43] perhapszzy commented on #4047
Still trying to learn how to use it.

[2016-08-27 00:07] gibiansky commented on #1888
I just tested this patch. It does not work. Please re-open this bug!

You can verify as follows:
[code]

The output you will see will look like this on a 2-GPU system:

[code]

Specifically, note how there are *two* contexts opened, not just one! That means that no other process can access _either_ GPU.

The reason this is happening is because `platform->ExecutorForDevice(device)` is being called

[2016-08-27 00:11] vrv commented on #1888
Ah, I didn't realize the StreamExecutor was establishing contexts too.  We don't maintain StreamExecutor ourselves, so I'll have to talk with the owners to figure out how to get this working as intended.

[2016-08-27 00:11] perhapszzy commented on #4047
Still have trouble installing the gperftools ... But I found if I don't run cifar10_eval with the training, the slow down became less severe. It only slows down from time to time
[code]

[2016-08-27 00:16] gibiansky commented on #1888
Thank you! Yes, sadly if you look at the code behind `ExecutorForDevice`, it eventually calls [`GetUncachedExecutor`](https://github.com/tensorflow/tensorflow/blob/d42facc3cc9611f0c9722c81551a7404a0bd3f6b/tensorflow/stream_executor/cuda/cuda_platform.cc#L149); this creates a new `CUDAExecutor` and calls `Init`; in turn, that calls `CUDADriver::GetDevice`, which then calls `cuDeviceGet`, which is t

[2016-08-27 00:16] gibiansky commented on #1888
FYI, if the environment variable-based approach I described above is acceptable, I am happy to make a patch and submit it as a PR.

[2016-08-27 00:22] vrv commented on #1888
So we can't put TF specific code in stream executor because StreamExecutor is being opensourced separately from TensorFlow, so whatever solution we choose has to work more generally.  If they are happy with the environment variable approach, we could add it.

StreamExecutor was never really designed to co-exist well with other processes, unfortunately.

[2016-08-27 00:40] gibiansky commented on #1888
Ah, I understand. You are correct -- `cuda_platform.cc` is part of StreamExecutor, not Tensorflow.

I cannot think of a way of doing this without modifying StreamExecutor or duplicating part of its functionality. At the very least `GetPeerAccessMap` and `EnablePeerAccess` are broken in their current implementations.

Thank you for continuing to push on this; this is really important for being able

[2016-08-27 00:43] perhapszzy commented on #4047
After start cifar10_eval, the speed slowed down dramatically even is cifar10_eval is not active for most of time.

[code]

[2016-08-27 00:46] vrv commented on #4047
Are the two processes sharing the same GPU?

[2016-08-27 00:47] jhollowayj commented on #1686
I've spent some time reading up on slurm and it's allocation stuff.  What I have so far is [here](https://github.com/jhollowayj/tensorflow_slurm_manager/blob/master/slurm_manager.py) (still a work in progress).

I've been trying to figure out how to best support all possible slurm clusters (slurm adds environment variables, but not everyone runs the same version of slurm) as well as possible run c

[2016-08-27 01:01] perhapszzy commented on #4047
The machine only has 1 GPU, but for the cifar10_eval, I just run it using CPU by specifying ``` tf.device("/cpu:0")```

[2016-08-27 01:09] tijmentieleman opened #4071 ""Default session has been garbage collected""
The following three lines give an error: "RuntimeError: Default session has been garbage collected." One line above the line that raises the RuntimeError, there's a comment saying "This should never happen with the current session implementations." Clearly, it did happen. The situation doesn't bother me greatly, and I'm only mentioning this because clearly something unintended happened here.

impo

[2016-08-27 01:23] klueska commented on #1996
Has anyone gotten this to work properly on Mesos? I am the one who built the GPU support into Mesos and very interested in learning what limitations (if any) there are with running a distributed tensorflow with GPUs on Mesos.

[2016-08-27 01:31] jhseu commented on #1996
@klueska want to chat about it over VC next week? jhseu@google.com

[2016-08-27 01:51] klueska commented on #1996
Sure. Sounds good. We can coordinate over email.

On Friday, August 26, 2016, Jonathan Hseu <notifications@github.com> wrote:

--
~Kevin

[2016-08-27 02:33] fayeshine opened #4072 "relatively slower performance on FCN"
according to the paper http://arxiv.org/abs/1608.07249,
TensorFlow is good at CNN and RNN, however relatively slower on FCN, is this because of using python loop to feed data each mini-batch? Can we solve this since FCN is always important in general use of Deep Learning like competitions in kaggle.

![image](https://cloud.githubusercontent.com/assets/11470826/18024624/9230e594-6c41-11e6-989e-f5a7

[2016-08-27 02:38] lerynth commented on #1334
I followed @kbrems. But still:
bazel-bin/tensorflow/tools/pip_package/build_pip_package /tmp/tensorflow_pkg
Sab Agu 27 09:35:48 WIB 2016 : === Using tmpdir: /tmp/tmp.Jw7t8AZ5um
/tmp/tmp.Jw7t8AZ5um /srv/Python-DL/tensorflow
Sab Agu 27 09:35:48 WIB 2016 : === Building wheel
error: can't copy 'tensorflow/contrib/linear_optimizer/ops/gen_sdca_ops.py': doesn't exist or not a regular file

[2016-08-27 02:52] KevinAyuque opened #4073 "Trouble running Tensorflow on Xcode 8 beta 5"
I get the following message, I don't know if this will be fixed in an upcoming version or if I need to add more configuration (it's running fine on the latest Xcode 7 though):

[code]

[2016-08-27 03:17] vrv commented on #4047
So maybe it's only slowing down when the two are doing computation at the same time?

[2016-08-27 03:21] suiyuan2009 commented on #2234
one eigen's core dev pushed [some update](https://bitbucket.org/eigen/eigen/pull-requests/215/fix_tanh_inconsistent_for_tensorflow/diff) to tanh.

[2016-08-27 03:43] perhapszzy commented on #4047
No, even the eval is sleeping, the train process is slowed down.

[2016-08-27 03:46] vrv commented on #4047
Weird, I'm not really sure then -- you'll probably have to do some performance debugging to figure out what's going on.  The fact that it seems to run okay with just one process suggests inter-process interference.

[2016-08-27 04:13] liamb315 opened #4074 "Gradients Not Being Computed Correctly While Using tf.contrib.distributions.Categorical"
Hello, there appears to be an issue with how TensorFlow gradients are being computed while using Categorical in the graph.  In particular, let's say we were computing the gradient through a single logit of a vector, we would expect only the corresponding column of the weight matrix affecting that logit value to update with gradients. This is indeed the case when I keep this index fixed, say `tf.co

[2016-08-27 04:22] vrv commented on #1888
I played around with some approaches only touching code in gpu_init.cc and gpu_device.cc and got it so that it didn't establish a context on a device that wasn't in gpu_device_list.  The only implication is that once established, I don't think we could de-establish it.  That is, if you started with gpu_device_list="0,1" but then closed that session and reopened it with "1", I'm pretty sure 0 would

[2016-08-27 04:53] hashbangCoder commented on #1390
@shiyemin @lukaszkaiser
Hi,
I have the same issue but with GRUCell using dynamic_rnn. I'm using them in a slightly modified seq-seq model. To be sure you're solution was something like this ? :
[code]
Its not working for me :/

Relevant error stack -
[code]

[2016-08-27 07:03] rinugun commented on #4066
That's correct, there is no backoff, it simply retries 3 times, so that there is at most 4 attempts including the original one.

The underlying layers do not attempt any retries.

The reason for the lack of a backoff was that the actual Google Cloud Storage errors don't require it -- very infrequently GCS can return an internal error for a read or write operation and an immediate retry typically s

[2016-08-27 07:20] AlperenAydin opened #4075 "Error while using makefile"
Hello. I  tried to us TF using the method described [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile)  on Linux.

After installin protobuf ( as instructed),  I get these two errors after using the last command ( make -f tensorflow/contrib/makefile/Makefile)

           if (!stream.ReadVarint64(&n)) return false;
and

           if (!stream.ReadVarint64(&n)) r

[2016-08-27 08:54] gibiansky commented on #1888
Ultimately yes if it's possible to start a Tensorflow session without defining CUDA_VISIBLE_DEVICES and use `nvidia-smi` to verify that only a single context is active... then I am happy :)

Obviously this isn't the best in the long-term but for the short term (and for my requirements) it's definitely enough!

[2016-08-27 09:31] abhijayghildyal commented on #4033
Apologies, I did not get what you mean by 'configuration where the error happens'.
If you mean the commands I used to run the code, then:
On machine 1:

    python dist_trainer_deepMnist.py --ps_hosts=machine1:2223 --worker_hosts=machine2:2222,machine1:2222 --folder_no=1 --job_name=ps --weights_name=weights_1 --epochs=1000 --task_index=0
    python dist_trainer_deepMnist.py --ps_hosts=machine1:222

[2016-08-27 13:20] akors commented on #2806
@davidzchen

It seems that you have taken to fixing TF builds with a custom compiler? If so, than you might also be interested in this oddity. Thanks for your work!

[2016-08-27 13:29] akors commented on #4030
@elvinpoon I answered to your question on StackOverflow, on the missing "as" issue.

The last error, the "no such package" thing seems to be a new thing that has been introduced recently: you can only build *once* after configuring. If you run into errors, you have to actually repeat the configure step. I don't quite know why.

In case you don't want to go through the trouble, here's my last TF bu

[2016-08-27 13:37] niuchenglei commented on #2655
@martinwicke hi guy, how does the HDFS support going on? very looking forward to this feature.

[2016-08-27 13:42] bhack commented on #1996
Can you send then a public update?

[2016-08-27 14:19] perhapszzy commented on #4047
I tried to start to workers on different machine, only 1 machine run the eval job, but the speed of another machine also slowed down. I suspected the problem might be caused by ps server, but the cpu & mem usage for the ps server were very low, so it's unlikely that the problem is caused by ps server

[2016-08-27 14:21] liorfritz opened #4076 "Gradients error when using while_loop: "ValueError: None values not supported""
Working on Tensorflow version 0.10, I am getting the following error when using `tf.gradients`:
[code]

The error occurs due to the use of the function `tf.while_loop` . When I turn off its use, the gradients are calculated with no error.

A similar issue was related to in https://github.com/tensorflow/tensorflow/issues/783, but I can't fix the error using the suggested solutions.

[2016-08-27 20:18] MahdiNazemi opened #4078 "Installation Issue: Couldn't open CUDA library libcuda.so.1."
In the step where I have to run
`bazel-bin/tensorflow/cc/tutorials_example_trainer --use_gpu`
I get the following messages:
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so.7.0 locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened C

[2016-08-27 21:02] davidzchen commented on #3985
An update on this: I opened bazelbuild/bazel#1685 to add a `realpath` method for getting the canonical path of a symlink in Skylark repositories I have a patch that is currently in review internally, which I tested with the repro scenario for this bug.

Once the patch for bazelbuild/bazel#1685 is in, I'll open a PR for the fix for this bug, but we may have to wait for a new Bazel release before we

[2016-08-27 21:29] poindextrose commented on #4062
It is fixed in master now. Thanks.

[2016-08-27 21:29] #4062 closed

[2016-08-27 22:07] martinwicke commented on #3938
keveman@, do we have to upgrade the pre-built protobuf to 3.0.0 now that we're on 3.0.0 (no beta) for our repo and the binaries are built with it?

[2016-08-27 22:10] martinwicke commented on #3984
Are you sure that wheel is installed in the same python version you're using? This looks like #348.

[2016-08-27 22:13] martinwicke commented on #3926
I don't think there's a bug here, expect for possibly a documentation issue. I'd be happy about PRs to improve that.

[2016-08-27 22:13] #3926 closed

[2016-08-27 22:16] martinwicke commented on #3971
@prb12 is correct, you have to call tf.initialize_local_variables(), since local variables are not part of all variables. Yes, we know how silly that sounds, and we're working on it.

If you use an Estimator, the initialization should be taken care of for you.

[2016-08-27 22:16] #3971 closed

[2016-08-27 22:19] martinwicke commented on #4031
@ispirmustafa this does look like a bug in the docstring (or a bug in MonitordSession), or are we misunderstanding this?

[2016-08-27 22:25] martinwicke commented on #3906
@satok16 can you take a look?

[2016-08-28 02:09] jinhou commented on #4006
Hi danmane,

I used Google Chrome and a modified version of redhat 7. And here is the JS console error info:
![error_tf0 10](https://cloud.githubusercontent.com/assets/7037235/18031181/106cebcc-6d07-11e6-8505-298623baeffd.PNG)
BTW, I used remote access tensorboard method in my local machine. The data is located in a remote server.

Thanks
Jinlong

[2016-08-28 02:10] bixiongxu commented on #3766
@mrry I think there is no dump, because it is not a crash of process.
**in tensorflow/core/distributed_runtime/rpc/grpc_session.cc line 186:
TF_RETURN_IF_ERROR(RunProto(&call_options, &req, &resp));**
The process failed on this point and raise a Unavailable Error then exit.

If you want to investigate the potential problem of the grpc, I can give you the code package, which can 100% re-raise the p

[2016-08-28 02:59] joeling2001 commented on #4059
Hi,

I'm having the exact same error message.

OS: OS X 10.11.6
Xcode 7.3.1

Many thanks,

Joe

[2016-08-28 03:50] chasep255 opened #4079 "LeakyReLU uses up too much memory."
Right now I am implementing leaky relus like this tf.maximum(0.1 * x, x).  This works fine except when it comes to memory usage.  Networks which will fit on my GPU when using tf.nn.relu or tf.nn.elu fail when I am using my leaky relu implementation.  I think this is because it needs to store both the intermediate 0.1 * x and x values of the activations to compute the gradients which essentially do

[2016-08-28 04:43] hashbangCoder commented on #1390
Nevermind. I figured it out. I was running the init op before starting queue runner threads

[2016-08-28 04:50] eecrazy commented on #3834
great, thanks to @shartoo

[2016-08-28 05:37] #4058 closed

[2016-08-28 05:49] martinwicke commented on #3856
Have you tested with `protobuf-3.0.0b2.post2-cp3-none-any.whl`? If that works, I'd be happy to rename the file and adjust the docs.

[2016-08-28 05:51] #3855 closed

[2016-08-28 05:53] martinwicke commented on #3826
@yifeif can you adjust the docs to maek clear that the mac builds already build against cuDNN 5?

[2016-08-28 05:56] martinwicke commented on #3813
Large datasets should not be put as constants into the graph. Use queues. You can check on the tutorials page, or on StackOverflow on how to use it.

[2016-08-28 05:56] #3813 closed

[2016-08-28 05:56] #3771 closed

[2016-08-28 05:59] martinwicke commented on #3748
@lukaszkaiser could you look at this? Is this a scope issue or something wrong with how we use the scopes in layers?

[2016-08-28 06:02] martinwicke commented on #3730
If someone wants to reinstate #1288, I'd be very excited.

[2016-08-28 06:19] davidzchen commented on #3998
This was fixed by @damienmg in #4055. The corresponding fix for Tensorflow Serving is tensorflow/serving#166.

[2016-08-28 06:19] #3998 closed

[2016-08-28 08:30] satok16 commented on #3906
Sure, let me take a look

[2016-08-28 09:21] lukaszkaiser commented on #3748
I'm not sure if It is the expected behaviour, but it might be. Are you printing variable names or just tensor names? Variable names are by design not affected by name_scope, only variable_scope. But is it this? Or is something else wrong? Could you clarify what you're printing and what you'd expect and why? Thanks!

[2016-08-28 10:20] flor385 commented on #3748
@lukaszkaiser, I am looking at tensor names, not variable names.

Refering to the example above. Two tensors are created with the `train` name_scope and added to the ACTIVATIONS collection. When looking at the contents of that collection it can be seen that the `Flatten` tensor's `NamedOutput.name` becomes `train/Flatten`. This obeys name scoping and matches the name attribute of the tensor itself

[2016-08-28 13:24] tamimcsedu19 opened #4081 "Error while running CIFAR-10 example from the site."
When I run the CIFAR-10 code from [https://www.tensorflow.org/versions/r0.10/tutorials/deep_cnn/index.html#convolutional-neural-networks](here) I get the error
 `argparse.ArgumentError: argument --batch_size: conflicting option string: --batch_size`

I didn't modify anything in the code. Just ran the code with `python cifar10.py`  after cloning the tensorflow repo. Python version is 3.5 , and tens

[2016-08-28 13:35] RobRomijnders commented on #3101
It's under the neural networks module, so tensorflow.nn.softmax().

Another engineer of the Google Brain team also contacted me. I think he's working on it too

[2016-08-28 15:42] cropmad1548 opened #4082 "Feature request: one-class classification"
Hello everyone.
I searched on the tutorials, examples and documentation, and I could not find anything related to this.
I am not sure if Tensorflow support this feature or not, but if it does, this issue is just about adding examples or documentation about this.

I tried to adapt the tutorial [Deep MNIST for Experts](https://www.tensorflow.org/versions/r0.10/tutorials/mnist/pros/index.html) to det

[2016-08-28 18:38] rwightman commented on #2973
I was going to create a separate issue for this but seems like my issue could be addressed by a fix for this one. I'm having the same issue as @jared-mess. I'm currently training a network on one machine, and want to run validation on another with the train folder mapped over network. Unfortunately the mappings on the machines result in different absolute paths so checkpoint restore fails as in ja

[2016-08-28 19:00] Mistobaan commented on #3730
@martinwicke seems the rint operator was merged and then unmerged? you want a rebased PR of that PR?

[2016-08-28 19:18] vellum opened #4083 "ar"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-08-28 19:20] martinwicke commented on #3730
That would be great. Last time we had to revert because it failed some
postsubmits and I never got around to fixing it. The root cause was
someplace else and fixed I believe so this should work now.
On Sun, Aug 28, 2016 at 12:01 Fabrizio Milo <notifications@github.com>
wrote:

[2016-08-28 20:51] #4083 closed

[2016-08-28 20:58] LaurentMazare opened #4084 "Process hanging when using TF_SessionRun with multiple times the same input"
It seems that if the same input appears multiple times in the inputs argument of TF_SessionRun (from c_api.h) then the TF_SessionRun call never returns.
This issue can be reproduced by modifying c_api_test.cc and replacing the line:
   csession.SetInputs({{feed, Int32Tensor(3)}});
With:
   csession.SetInputs({{feed, Int32Tensor(3)}, {feed, Int32Tensor(3)}});
According to gdb, the process is waitin

[2016-08-28 21:58] Anmol6 commented on #3101
@RobRomijnders Sorry, but I still can't find it... Could you please give me a link?

Also, should I still work on it then? Perhaps, I can collaborate with the engineer? Not sure.

[2016-08-28 21:58] vrv commented on #3101
Indeed, assigned to the person who is almost done with it, although I believe what is being done here is softmax over a single but specific dimension (with the thought being that if you need to softmax over multiple contiguous dimensions, you can just reshape the adjacent dims).

[2016-08-28 22:19] Anmol6 commented on #3101
@vrv ah, okay. For future reference, could you provide a link to where the softmax function is?

[2016-08-28 22:24] vrv commented on #3101
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/kernels (softmax_*) for implementations -- the python code is automatically generated from the Op specification here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/nn_ops.cc#L1261, because there's no extra logic needed in python.

[2016-08-28 23:46] ispirmustafa commented on #4031
supervised_session.SupervisedSession had that restriction. SuperviseSession was removed and replaced with a MonitoredSession. MonitoredSession don't have this restriction.

FYI, we don't export Supervised or Monitored session via __init__ since we're still working on it's interface/implementation. It will be exported via __init__ when we think it's ready for a global use.

[2016-08-28 23:57] wpm commented on #2838
Is there example code for the `my_parser` function in the example in the [documentation](https://github.com/tensorflow/tensorflow/blob/4d579354034497d7fb58d01263dea72fc0014edd/tensorflow/g3doc/api_docs/python/functions_and_classes/shard4/tf.contrib.training.batch_sequences_with_states.md) for `batch_sequences_with_states`?

I'm trying to figure it out from the documentation but am still having que

[2016-08-29 01:10] bfluo opened #4085 "Building Issue: Is it possible to download everything before building from source?"
I am trying to build Tensorflow from source on Ubuntu 16.04 with CUDA 8.0 and CUDNN 5.

However, since I am blocked by the firewall, I encountered a bunch of network issues after running `./configure`, for example:

`ERROR: /home/icstpie/lbf/tensorflow/tensorflow/tensorboard/bower/BUILD:5:1: no such package '@iron_form_element_behavior//': Error cloning repository: https://github.com/polymerelemen

[2016-08-29 01:24] elvinpoon commented on #4030
Hi I'm working on what you've suggested. Btw, do you have TF build for python2.7?

[2016-08-29 02:09] lebinhe commented on #4036
### Environment info
Operating System: CentOS 3.10

[2016-08-29 02:32] lebinhe commented on #4036
### Environment info
Operating System:CentOS 3.10

1. TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl
2. tensorflow.__version__: 0.10.0rc0
3. command line: python mlp_mnist_dist.py --ps_hosts=10.51.145.204:30125,10.51.147.155:30145,10.51.147.206:30133,10.51.81.205:30109,10.51.145.207:30131,10.51.148.205:30132,10.50.85.231:30133,10.5

[2016-08-29 03:54] kinddevil opened #4086 "Exception when restore DNN model"
I am using skflow of tensorflow(0.10.0rc0), I create a TensorFlowDNNRegressor model and saved to local, when I try to restore it gives me exception:
new_regressor = skflow.TensorFlowEstimator.restore('/Users/yichen.wei/Desktop/xiaoxiang_ml/model') File "/Users/yichen.wei/project/vscienv/lib/python3.5/site-packages/tensorflow/contrib/learn/python/learn/estimators/base.py", line 326, in restore rais

[2016-08-29 04:11] andycui97 commented on #2037
Yup I made sure, still didn't work.

[2016-08-29 04:20] mrry commented on #4022
According to the documentation (and the implementation) the `tf.train.batch()` function expects either a list of tensors or a "dictionary of tensors" (i.e. a dictionary in which the values are tensors) as the `tensors` argument. If you pass a **list of lists** of tensors, it will try to interpret the inner list of tensors as a tensor, using the implicit packing code, and that fails here because th

[2016-08-29 04:55] Mistobaan commented on #2037
did you tried the latest version of tensorflow ? 0.10 ? does the problem still persist?

[2016-08-29 05:16] andycui97 commented on #2037
I'm building it from source, so I should be on the latest version right?

[2016-08-29 06:49] jokisa commented on #3846
hi,

sorry for my late response . I was in a vacation.
I have just try the image that you have suggested  .

things work fine now.

thank you for your help

2016-08-17 2:43 GMT+02:00 caisq <notifications@github.com>:

[2016-08-29 06:58] akors commented on #4030
Am 29. August 2016 03:26:01 MESZ, schrieb elvinpoon <notifications@github.com>:

Nope, I only use Python 3

[2016-08-29 06:58] #3846 closed

[2016-08-29 07:54] shkr commented on #3495
I can work on this

[2016-08-29 08:19] npanpaliya commented on #3545
@cwhipkey , we tested the recent commit referred by you. With macro change from __linux to __linux__, that recent commit worked well. We see better performance with this commit which is equally comparable with what we got using physical core size. Hence, for power, what we need is

1. Changing __linux to __linux__ in port.cc where we call get_schedaffinity so that the function is called even on po

[2016-08-29 08:38] manjunaths commented on #4078
Did you check on your system if libcuda.so.* does exist ? On my system it is in /usr/local/nvidia/lib64 and another of my system it is in /usr/lib/.

If it does exist, then set the LD_LIBRARY_PATH env variable to point to the correct path. If it doesn't you might've to install it on your system.

Cuda should not recognize the AMD device as a valid cuda target, so you should run on the right GPU.

[2016-08-29 08:45] akors opened #4089 "Bake TF git commit hash into TensorFlow build"
Hi, is it possible to record the Git commit hash, when building from source and making it available as a variable?

Currently, there is only

`tensorflow.__version__`

which is nice, but with a fast-moving codebase is not quite granular enough. Something like

`tensorflow.__commit__` would make each build uniquely identifiable which is important for me to produce reproducible runs.

[2016-08-29 08:48] akors opened #4090 "Make CUDA library version numbers available from python"
Hi!

Is it possible to make the versions of the CUDA libraries available as a python variable? Currently, after importing, there is the following output:

[code]

So apparently the versioning information is loaded, I just couldn't find an API to access it.

I would like to record the CUDA as meta-information along with my checkpoint and event files, to be able to 100% reproduce any runs.

[2016-08-29 08:48] IvanUkhov opened #4091 "Add TF_AllocateTensor to version 0.10"
Recently there was [added](https://github.com/tensorflow/tensorflow/commit/ae7b1310c5b2bbb333191d0def7985202dee382a) a very useful function to the C API—namely, `TF_AllocateTensor`. Currently the commit is not present on branch `r0.10`. I’m wondering if it’s possible to cherry-pick the commit to `r0.10` so that the function is available already in version 0.10. Thank you.

Regards,
Ivan

[2016-08-29 08:58] tttwwy opened #4092 "the learning_rate became nan in seq2seq model"
I use the seq2seq provided by tensorflow, a very curious problem is that the learning_rate will become nan only when the length of the bucket is more than 40 with 4 layers.
The learning_rate should be decaied and more and more smaller, why it will became nan?
The init learning_rate is 0.01 and the learning_rate_decay_factor is 0.5
The training data is nist
The training is in a centos with four K40

[2016-08-29 09:14] jiriker commented on #3654
@hotomski : Can you please provide more thorough description of where you copied the code? I am fighting with this issue for a while and cannot make it work.

[2016-08-29 09:31] hotomski commented on #3654
@jiriker : You should place the code in the models/syntaxnet/tensorflow/tensorflow/workspace.bzl
Find the section and just replace it with the new url to gmock-1.7.0.zip or copy paste the whole section as I did.

[2016-08-29 09:56] Hvass-Labs commented on #3816
Thanks for the comments.

I suppose there are two issues when the pixel values overflow beyond the [0, 1] range.

(1) Whether the classification performance of the network is affected. I think this might be the case because this was how I initially discovered the overflow, because my neural network performed worse. Although it's been several weeks now, so I can't remember the details.

(2) Plottin

[2016-08-29 09:56] akors commented on #3489
My requirement for an accumulated timeline has dropped (libtcmalloc magic has fixed my slowdown problem), and people seem rather uninterested in the feature, so I would suggest to close the issue.

[2016-08-29 13:29] ye commented on #3856
@martinwicke no I have not tried it yet. Can you tell me where to get it? (I've google'd, nothing came up relevant for `protobuf-3.0.0b2.post2-cp3-none-any.whl`)