[2021-12-13 08:09] tilakrayal commented on #37675
@guoshimin ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-13 08:12] tilakrayal commented on #37472
@WeiHao97 ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-13 08:17] tilakrayal commented on #36821
@plooney ,
I was able to run the code without any issues on TF v2.7.Please find the gist of it [here](
https://colab.research.google.com/gist/tilakrayal/d240e98d5ebe0e45101921d4b42df3ac/untitled142.ipynb).

[2021-12-13 08:36] ghylander commented on #53280
find gist [here](https://gist.github.com/ghylander/71e55a5d676dcc468fc2911a7f9af77d)

[2021-12-13 08:37] tilakrayal commented on #35995
@nbro ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/35515#issuecomment-571266052) and let us know if it helps.Thanks

[2021-12-13 08:42] tilakrayal commented on #36034
@feidieufo ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/36034#issuecomment-576930993) and try in latest stable version v2.7 and let us know if the issue still persists.Thanks

[2021-12-13 09:05] yuqj1991 commented on #53227
hi， my question is not about the tf error in the using stage. So Please allow me to simplify this issue!

As you know, in the Compiler/mlir module,  there are many tests in the tensorflow/compiler/mlir/hlo/tests
![image](https://user-images.githubusercontent.com/38523749/145782770-a8c0895a-1421-47e7-b622-6b092d325e34.png)

but in the BUILD file, there is not any test command about the test files
!

[2021-12-13 09:25] mohantym commented on #53401
Hi @csdf-ssm ! Could you elaborate the exact issue in above template? Thanks!

[2021-12-13 09:31] #53221 closed

[2021-12-13 09:35] asifpatankar commented on #30321
As of December 2021, upgrading from tensorflow version 1.13.1 to tensorflow 2.0.0 and with reference from above mentioned solution, the following snippet change worked well.

# Before

[code]

# After

[code]

[2021-12-13 09:50] tilakrayal commented on #34991
@gswebspace ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-13 09:53] tilakrayal commented on #35010
@workingloong ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-13 09:58] tilakrayal commented on #34642
@hgaiser ,
Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/34642#issuecomment-852346805) and try in latest stable version2.7 and let us know if the issue still persists.Thanks!

[2021-12-13 10:11] tilakrayal commented on #53377
@gaurxvreddy ,
Can you please take a look at this [doc](https://www.tensorflow.org/lite/guide/build_arm) for the installation.It helps.Thanks!

[2021-12-13 10:20] mohantym commented on #53398
Hi @Saduf2019! Could you please look at this feature request?

[2021-12-13 10:31] #53218 closed

[2021-12-13 11:01] kumariko commented on #25434
@dynamicwebpaige Look like you are looking for the following feature [link1](https://www.tensorflow.org/versions/r2.7/api_docs/python/tf/keras/applications) , [link2](https://www.tensorflow.org/versions/r2.7/api_docs/python/tf/keras/applications/mobilenet/MobileNet) , [link3](https://www.tensorflow.org/versions/r2.7/api_docs/python/tf/keras/applications/xception) , [link4](https://www.tensorflow.o

[2021-12-13 11:17] exx8 opened #53403 "New dtype: bcomplex32"
**System information**
- TensorFlow version (you are using): 2.7
- Are you willing to contribute it (Yes/No): Probably yes

**Describe the feature and the current behavior/state.**
Add bcomplex32 dtype.
Currently only a real (like in Math, real field) version is supported (bfloat16)

**Will this change the current api? How?**
Each function that supports the dtype paramter, should also support the

[2021-12-13 11:46] kumariko commented on #26408
@nfelt We are checking to see if you still need help on this issue . could you please check with latest released `TF2.7` and let us know if the issue still persists in newer versions. Thanks!

[2021-12-13 11:52] kumariko commented on #26409
@nfelt We are checking to see if you still need help on this issue . could you please check with latest released `TF2.7` and let us know if the issue still persists in newer versions. Thanks!

[2021-12-13 12:00] kumariko commented on #26998
@dynamicwebpaige Look like you are looking for the following feature [link1]([url](url)) , [link2](https://keras.io/api/applications/mobilenet/)

If you think the above is not the feature you are looking, please feel free to open a PR in [keras-team/keras](https://github.com/keras-team/keras/issues) repository.
Please note that Keras development moved to [keras-team/keras](https://github.com/keras

[2021-12-13 12:11] IchiruTake commented on #53397
The codebase is relatively large. Attempt basic work on Colab did not represent the behaviour. I am trying to search where does the bug came from and notice you if found.

[2021-12-13 12:20] Niuxiaotong opened #53404 "ERROR: Node number 27 (AVERAGE_POOL_2D) failed to invoke"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Android10
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):github tensorflow-r.2.3.1

All the way,
the sample label_image and the sample model  test on Ubuntu18.04 is OK ,and On Android use NNAPI is OK .
but **use tflite to  test on Android10 is wrong**  .

**Pr

[2021-12-13 12:21] kumariko commented on #30947
Was able to reproduce this issue in TF v2.7 , please find the gist [here](https://colab.research.google.com/gist/kumariko/d96c1a3d6f042f049a73d962008401bc/untitled16.ipynb#scrollTo=zPU3hV5j2fJ5)..Thanks !

[2021-12-13 12:23] shipoyewu opened #53405 "throw exception :TypeError: Input 'y' of 'Mul' Op has type float32 that does not match type float64 of argument 'x'."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-12-13 12:29] kumariko commented on #30896
@SamuelMarks If you have already posted this issue in [TensorFlow Forum](https://discuss.tensorflow.org/t/standard-way-of-sharing-architectures-e-g-to-pypi-org/6390/3) please move this to close status ? Thanks

[2021-12-13 12:31] shipoyewu opened #53406 "throw exception :TypeError: Input 'y' of 'Mul' Op has type float32 that does not match type float64 of argument 'x'. when tf.keras.backend.set_floatx("float64")"
**my code**
[code]
the tf version is `v2.6.1-9-gc2363d6d025 2.6.2`
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `model.fit`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Ubuntu 16.04`
- TensorFlow installed from (source or binary): `docker`
- TensorFlow version (use command below): `2.6.2`
- Python version: 3

[2021-12-13 12:59] kumariko commented on #29847
@Wil2129 We are checking to see if you still need help on this issue. Could you please have a look on the [link1](https://github.com/tensorflow/tensorflow/blob/v2.7.0/tensorflow/python/framework/errors_impl.py#L367-L379) , [link2](https://www.tensorflow.org/versions/r2.7/api_docs/python/tf/errors/ResourceExhaustedError) and let us know if it helps?

[2021-12-13 12:59] lenkei-mark opened #53407 "Bazel Tensorflow installation with TensorRT from source throws error although there is output file"
I want to build Tensorflow with TensorRT support with Bazel from source.

System specifications:

Tensorflow 2.7
Python 3.8.0
CUDA 11.5
Ubuntu 18.04
Geforce RTX 2060
I tried the following bazel versions: 3.7.2, 4.2.1, 4.2.2 and all threw the same error.

It starts the building process but then throws the following 2 errors regarding the BUILD file:

[code]
Here is the BUILD file from which the err

[2021-12-13 13:06] kumariko commented on #29529
@Zoltrix We are checking to see if you still need help on this issue. please check with the latest stable version of TF which  is`TF2.7` and also check https://github.com/tensorflow/tensorflow/issues/29529#issuecomment-635916245

[2021-12-13 13:11] patchmeifyoucan commented on #53245
Hello, unfortunately this does not seem to solve the problem in a straightforward manner. Let me introduce an example.

`
array = [0, 1, 2, 3, 0, 1, 2, 3]
idx = tf.unique(array).idx
`

`idx` then equals `array` since the values of the first 4 elements match the array index. I could not come up with a solution using tf.sequence_mask. From the example above, the desired output should be a boolean eq

[2021-12-13 13:13] kumariko commented on #29402
@Emanuz We are checking to see if you still need help on this issue. Could you please have a look on the [link1](https://www.tensorflow.org/api_docs/python/tf/io/decode_base64) , [link2](https://stackoverflow.com/questions/48910253/why-would-tensorflow-decode-base64-fail-due-to-invalid-character-but-base64-b64?rq=1) and let us know if it helps? Thanks

[2021-12-13 13:25] joooeey commented on #48939
@thoughtfuldata I'm happy with this workaround but you're right, Poetry should be able to handle this on its own.

[2021-12-13 13:27] kumariko commented on #29115
@shkarupa-alex We are checking to see if you still need help on this issue. Could you please check with latest stable version of TF which is `TF2.7` ? please check [link](https://www.tensorflow.org/guide/ragged_tensor) .Thanks!

[2021-12-13 13:31] #53225 closed

[2021-12-13 13:36] kumariko commented on #28498
@framsc We are checking to see if you still need help on this issue. Could you please check with latest stable version of TF which is `TF2.7` ? Thanks

[2021-12-13 13:39] kumariko commented on #27665
@Gurpreetsingh9465 We see that [PR #27075](https://github.com/tensorflow/tensorflow/pull/27075) is merged , please let us know if we can close this issue ?

[2021-12-13 13:59] kumariko commented on #33092
@jtavrisov We are checking to see if you still need help on this issue. Could you please check with latest stable version of TF which is `TF2.7` ? please check document [link](https://www.tensorflow.org/install/lang_c) and https://github.com/tensorflow/tensorflow/issues/33092#issuecomment-613804129 . Thanks

[2021-12-13 14:05] tilakrayal commented on #53399
@abhmul ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/45569#issuecomment-744527190) from the issue with similar error.It helps.Thanks!

[2021-12-13 14:06] tilakrayal commented on #53402
@csdf-ssm ,
We see that you are using tf version 1.13, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.

[2021-12-13 14:12] kumariko commented on #32457
@David-Mao We could see you are using TF v2.0.0 which is not actively supported ,please refer this [comment](https://github.com/tensorflow/tensorflow/issues/52915#issuecomment-961288304). Could you please try to upgrade TF version to latest TF v2.7.0 and let us know ? Thanks!

[2021-12-13 14:13] LemonCANDY42 commented on #35380
me too..

[2021-12-13 14:51] Saduf2019 commented on #53398
@khatrishubham88
Please feel free to submit a PR for the requested change.

[2021-12-13 15:06] Saduf2019 commented on #53404
@Niuxiaotong
Please refer to similar issues and let us know:#38285,#31739

[2021-12-13 15:19] sushreebarsa commented on #42057
@Lif3line Could you please try using latest TF v2.7.0 and let us know if it helps?Thanks!

[2021-12-13 15:20] abhmul commented on #53399
@tilakrayal Thanks for linking. That comment has a good workaround as well. It looks like the issue was fixed on tf-nightly so I'll go ahead and close.

[2021-12-13 15:20] #53399 closed

[2021-12-13 15:21] jonas-eschle commented on #28498
Yes, simply speaking, they are DAGs (as also pointed [out here](https://stackoverflow.com/questions/37571518/tensorflow-graphs-are-tensorflow-graphs-dag-what-happens-in-assignadd-operati)). There is still the possibility to have while loops and similar, that's probably the best bet.

[2021-12-13 15:22] sushreebarsa commented on #41940
@battuzz
It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version 2.7.0 and let us know if the issue still persists? Thanks!

[2021-12-13 15:22] khatrishubham88 commented on #53398
@Saduf2019 can you point me to the right module to start?

[2021-12-13 15:31] #53226 closed

[2021-12-13 15:31] #37818 closed

[2021-12-13 15:44] 00krishna commented on #34848
@mohantym thanks so much for your help with this. I appreciate the assistance.

[2021-12-13 15:45] #34848 closed

[2021-12-13 15:45] sushreebarsa commented on #42572
@TheNewSound
It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.7.0) and let us know if the issue still persists? Thanks!

[2021-12-13 16:23] sushreebarsa commented on #41021
@louisgriffin
It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.7.0) and let us know if the issue still persists? Thanks!

[2021-12-13 16:43] sushreebarsa commented on #40748
@carusyte Could you please try on the latest stable TensorFlow version 2.7.0 and let us know if it helps?Thanks!

[2021-12-13 16:45] sushreebarsa commented on #40708
@amitport Could you please try on the latest stable TensorFlow Version 2.7.0 and let us know if it helps?Thanks!

[2021-12-13 16:46] sachinprasadhs commented on #53293
If your issue is resolved could you please move this to closed. Thanks!

[2021-12-13 16:51] sushreebarsa commented on #39811
@EgorLakomkin Could you please try on the latest TF version 2.7.0 and let us know if it helps?Thanks!

[2021-12-13 16:51] aetherwind commented on #53293
It is not resolved. The core issue still remains:  The uint8 quantisation is not working in cpp for me and i cannot figure out at which point it goes wrong.

[2021-12-13 17:04] sushreebarsa commented on #40004
@dgel
It looks like you are using an older Version of Tensorflow. Many bugs have been fixed in the latest version. Can you please try using Latest Version 2.7.0 and let us know if it helps? Thanks!

[2021-12-13 17:12] sachinprasadhs commented on #53396
Did you try with `Tensorrt` version 7.2.2, also check the compatibility and limitations of Tensorrt 7.2.2 [here](https://docs.nvidia.com/deeplearning/tensorrt/release-notes/tensorrt-7.html#rel_7-2-2).

[2021-12-13 17:16] sushreebarsa commented on #41325
@farotem Can you please try with the latest TF v2.7.0 and let us know if it helps?Thanks!

[2021-12-13 17:34] sachinprasadhs commented on #53358
Have you looked at the solution provided [here](https://stackoverflow.com/questions/29688627/) for the similar issue.

[2021-12-13 17:35] SnakeyCodes commented on #47554
Well guess what. I got it too but it doesn't seem to affect my code...

[2021-12-13 17:40] sushreebarsa commented on #40617
@tobiasmaier I tried to reproduce the issue on colab using TF v2.7.0 and faced different error .Please find the gist[ here](https://colab.research.google.com/gist/sushreebarsa/75bfd103e7cff4317dd6a21c44d6d93f/untitled200.ipynb#scrollTo=Sd_v1TUCA_0m) for reference.Thanks!

[2021-12-13 17:46] jvishnuvardhan commented on #30896
@SamuelMarks We will track the progress in keras-team/keras repo. I am closing this issue here.Thanks

[2021-12-13 17:46] #30896 closed

[2021-12-13 17:51] sushreebarsa commented on #41022
@LumaRay
Is this still an issue ? It looks like you are using an older Version of Tensorflow . Can you please try to  use Latest Version 2.7.0 and let us know if it helps? Thanks!

[2021-12-13 18:17] jvishnuvardhan commented on #47906
@jason9075 This got resolved in `TF2.7`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/9fc435f9586f4141814ad5e580fef69c/untitled.ipynb).

I updated your code by adding one line to the callback.
[code]

Please verify once and close the issue if this was resolved for you. Thanks!

[2021-12-13 18:29] KirannBhavaraju commented on #47554
I am writing my masters thesis and have built and saved around 20 models.. each containing close to 150,000 trainable params. These models contain multiple LSTM and CNN layers and all of those complain about this same warning.
I am yet to observe a performance drop or de-serialization problem while loading the models.

Some people complained about the compile warning when loading the model and spe

[2021-12-13 18:37] #53401 closed

[2021-12-13 18:40] mihaimaruseac commented on #11085
tensorflow-macos != tensorflow

[2021-12-13 18:41] #53387 closed

[2021-12-13 19:08] amitport commented on #40708
@sushreebarsa. this is still an issue with 2.7, you can just run the Gists from the previous comment (https://github.com/tensorflow/tensorflow/issues/40708#issuecomment-853726914)

[2021-12-13 19:31] #42366 closed

[2021-12-13 19:49] mdanatg commented on #28498
It is possible to build cyclic TF graphs, but only using low-level (and undocumented) APIs, not via the Python API which is limited to tracing (hence cannot build cyclic graphs).

The nodes in a cycle cannot all be from the same frame (to understand what frames are, have a look at http://download.tensorflow.org/paper/white_paper_tf_control_flow_implementation_2017_11_1.pdf). In other words, at the

[2021-12-13 20:08] davidsc-unity3d commented on #33755
I just ran into this - vote for a fix - the workaround

[code]

probably solves must use cases, but it is essentially a constraint on the activity - the constraint is applied after the embeddings are looked up. The constraint one passes to the keras Embedding, per the documentation, is on the full matrix (like the embeddings_regularizer).

[2021-12-13 20:11] DocGarbanzo commented on #53396
@sachinprasadhs - I didn't check w/t 7.2.2, but if you look at the code above, you see that the function `trt_utils.versionTupleToString` is only being called if the runtime version is different than the linked version. The problem is, that this function doesn't exist, adding it to `utils.py` will solve the issue. The code says, it should be working with the same major version and any equal or lar

[2021-12-13 20:25] nfelt commented on #26408
@kumariko this is more of a feature request than a bug, so yes it will persist in all versions unless it's implemented.

[2021-12-13 20:26] nfelt commented on #26409
This is pretty much all still relevant in current TF, yes.

[2021-12-13 20:28] nfelt commented on #26405
We can consider this closed.

[2021-12-13 20:28] #26405 closed

[2021-12-13 20:31] #53186 closed

[2021-12-13 20:47] lauriebyrum commented on #38746
Thanks, @impjdi . To make sure I understand your comment: do third party apps need to somehow watch out for gpu driver updates or not? If they only occur during OS updates, we don't, but if there's some way they can happen outside of that, we do and I don't understand how to do that. Thanks!

[2021-12-13 21:39] dillon3344 commented on #53278
@sachinprasadhs any update?

[2021-12-13 21:59] saddamhijazi commented on #45539
The problem is still there, I got this error

AttributeError: 'int' object has no attribute 'is_compatible_with'

[2021-12-13 22:14] JosephCatrambone commented on #53272
Just throwing my voice into the fray, I'm encountering a similar issue with Tensorboard, but from the PyTorch side.

Seems to run fine for a random number of epochs but crash eventually.

[code]

I thought it might have had something to do with...
- an out-of-disk-space issue, but as it turns out I've got plenty of storage.
- a simultaneous read from TensorBoard at the same time as a write, but it

[2021-12-13 22:49] dansbecker opened #53408 "Tuner tutorial rebuilds model rather than saving it"
## URL(s) with the issue:
https://www.tensorflow.org/tutorials/keras/keras_tuner

## Description of issue (what needs changing):
The bottom of this tutorial says `Re-instantiate the hypermodel and train it with the optimal number of epochs from above.` But there's no reason to train the model twice when you could use the callback to save the model at the best epoch. I and others have speculated [h

[2021-12-13 23:27] karimnosseir commented on #53380
Can you make sure that you're using the latest nightlies - may be clear the gradle cash ?

I just cloned tensorflow examples and updated image classification example to include hexagon. I followed the [guide](https://www.tensorflow.org/lite/performance/hexagon_delegate#hexagon_delegate_java_api)

by adding the gradle dep in build.gradle
[code]

and created directory jniLibs/arm64-v8a and included

[2021-12-14 00:19] sachinprasadhs commented on #53278
Can you try with the post training quantization by referring [this](https://www.tensorflow.org/lite/performance/post_training_quantization) documentation, also quantization is subjected to loss of accuracy, you can check if the difference in accuracy is in acceptable range [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/evaluation/tasks).

[2021-12-14 00:35] UsherWang opened #53410 "tf2 stops working under gpu mode with 3rd order derivative included in loss function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
-

[2021-12-14 00:36] Lif3line commented on #42057
Looks fixed as of most recent `tensorflow/tensorflow:devel` image! Thanks for checking in^^

Minimal example [here](https://gitlab.com/Lif3line/tensorflow_static_build_test).

[2021-12-14 00:36] #42057 closed

[2021-12-14 00:42] sachinprasadhs commented on #53216
I'm able to run this in colab, I don't see any issue with the source link problem, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/9d6b135d60baa67b6e58d2c50738dfb0/53216.ipynb) for reference.
On your windows machine, could you please try the same steps by creating the virtual environment and fresh install Tensorflow 2.7, if you find the issue again try installing

[2021-12-14 00:57] xsacha commented on #53278
I've had this issue on all models. Even Resnet 50.
Is there a version where this quantization works?

[2021-12-14 01:01] IAL32 opened #53411 "[r2.6][PR] Cannot find real source of dependency `No such file or directory` error when building from scratch"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.6
- Python version: 3.9.5
- Installed using virtualenv? pip? conda?: `miniconda`
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 7.5.0

**Describe the problem**

I am curre

[2021-12-14 01:11] KieronQuinn commented on #53380
I cleared the cache and made sure it's using the nightly, it is.

The JNI folder (app\src\main\jniLibs\arm64-v8a) looks like this:

![image](https://user-images.githubusercontent.com/3430869/145914145-1c5e2a57-b07d-4639-9aca-973a4a039e5c.png)

And the log is in the issue but here it is again:

[code]

[2021-12-14 01:12] PointCloudYC commented on #48069
I have similar system settings, following this [install tf1.15 for Nvidia 3090](https://www.pugetsystems.com/labs/hpc/How-To-Install-TensorFlow-1-15-for-NVIDIA-RTX30-GPUs-without-docker-or-CUDA-install-2005/#UPDATE!QuickSetup--Wed15Sep2021) blog, we can successfully run the tf1.x code normally.

![image](https://user-images.githubusercontent.com/50506397/145914353-2dfa6707-1103-4b3d-9fb3-6dc3b56cb

[2021-12-14 01:17] sachinprasadhs commented on #53315
Right now Conv3D with data_format="channel_first" operations are not in a listed TFLite operations for conversion. As you have specified data_format = = "channel_last" is working and you can use the same.

[2021-12-14 01:22] chh7411898 commented on #49150
did you solve if?

[2021-12-14 01:22] karimnosseir commented on #53380
Can you provide all the information about the ndk and api version you are using and android version too.

Thanks

[2021-12-14 01:45] #53263 closed

[2021-12-14 02:00] Qucy commented on #46685
I'm also facing the same issue, code is from Tensorflow offical guideline (https://www.tensorflow.org/tutorials/generative/pix2pix#build_an_input_pipeline_with_tfdata).
I'm using tf-gpu 2.6 and below code will pop up an error in map function due to it will get a Tensor 'Tensor("args_0:0", shape=(), dtype=string)' instead of a Tensor contains a file path.

`train_dataset = tf.data.Dataset.list_file

[2021-12-14 02:19] feranick commented on #49150
Yes, this is indeed fixed as of TF version 2.7.0On Dec 13, 2021 8:22 PM, hang_code ***@***.***> wrote:

ilds in NVidia repos are only version 8. I was able to test version 7 by manually getting the Ubuntu 18.04 debs and installing them manually on 20.04, which is far less than ideal.
So it seems there may be issues with TF compatibility with tensorRT 8, and NVidia is quite forcing an upgrade that

[2021-12-14 02:49] IchiruTake commented on #53397
Unfortunately, I cannot reproduce the issue: Not by the code but reloading  model after stop and reset the kernel
Link: https://colab.research.google.com/drive/1aUs3j4aMto9deH6AJBCifhTBFV9gOMS5#scrollTo=RxO3-QcfBmo7

The funny thing that until we reset all kernels and repeat loading the process and retrain model, this issue occured. I have found several issues related and some reported this issue

[2021-12-14 04:31] #43627 closed

[2021-12-14 04:31] #53237 closed

[2021-12-14 04:46] ozavalistyi opened #53413 "TF_SessionRun() from C API crashes when not enough RAM"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Microsoft Windows 10 Enterprise, version: 10.0.18363 N/A Build 18363
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No.
- TensorFlow installed from (source or binary

[2021-12-14 04:48] tilakrayal commented on #53405
@shipoyewu ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/49460#issuecomment-845923088) from the issue and [SO link](https://stackoverflow.com/questions/36210887/how-to-fix-matmul-op-has-type-float64-that-does-not-match-type-float32-typeerror) with the similar error.It helps.Thanks!

[2021-12-14 04:49] shipoyewu commented on #53405
您好，您的邮件我已收到!祝：工作商祺!

[2021-12-14 04:52] mohantym commented on #39708
Ok @hohl! Is this issue good to close then?

[2021-12-14 05:26] mohantym commented on #39811
I was getting different error in TF 2.7 . Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/0782670ce2dbad63233510b4e8e7a9d0/xla_oom.ipynb#scrollTo=kpu9ge8Oand_) for reference. Thanks!

[2021-12-14 05:27] csdf-ssm commented on #53402
I had download  tensorflow.git and use demo in /tensorflow/tensorflow/lite/examples/ios/camera  directory ,run pod and it pod.lock
PODS:
  - TensorFlowLite (1.13.1)

DEPENDENCIES:
  - TensorFlowLite (= 1.13.1)

SPEC REPOS:
  trunk:
    - TensorFlowLite

SPEC CHECKSUMS:
  TensorFlowLite: 8b9dc4eb32eac0f8cb660c66bca7604da56dcc5a

PODFILE CHECKSUM: 1f44a2ab814725d3675508d4a66a5efdb4140d58

COCOAPODS:

[2021-12-14 05:27] csdf-ssm commented on #53402
to  reply  =========================

I had download tensorflow.git and use demo in /tensorflow/tensorflow/lite/examples/ios/camera directory ,run pod and it pod.lock
PODS:

TensorFlowLite (1.13.1)
DEPENDENCIES:

TensorFlowLite (= 1.13.1)
SPEC REPOS:
trunk:
- TensorFlowLite

SPEC CHECKSUMS:
TensorFlowLite: 8b9dc4eb32eac0f8cb660c66bca7604da56dcc5a

PODFILE CHECKSUM: 1f44a2ab814725d3675508d4a66a5efd

[2021-12-14 05:28] mohantym commented on #53407
Hi @sanatmpa1! Could you please look in this issue?

[2021-12-14 05:28] csdf-ssm commented on #53402
@tilakrayal

[2021-12-14 05:30] csdf-ssm commented on #53402
@tilakrayal
I had download tensorflow.git and use demo in /tensorflow/tensorflow/lite/examples/ios/camera directory ,run pod and it pod.lock
PODS:

TensorFlowLite (1.13.1)
DEPENDENCIES:

TensorFlowLite (= 1.13.1)
SPEC REPOS:
trunk:
- TensorFlowLite

SPEC CHECKSUMS:
TensorFlowLite: 8b9dc4eb32eac0f8cb660c66bca7604da56dcc5a

PODFILE CHECKSUM: 1f44a2ab814725d3675508d4a66a5efdb4140d58

COCOAPODS: 1.11.

[2021-12-14 05:31] #43645 closed

[2021-12-14 05:33] csdf-ssm commented on #53402
@tilakrayal  and I also download tensorflowSwift demo  ImageClassification run success  but

[2021-12-14 05:46] m-ahmadi commented on #53216
<details>
<a href="https://github.com/tensorflow/tensorflow/files/7708994/2.7.txt">log</a>
<img src="https://user-images.githubusercontent.com/16363767/145939594-ba2e774b-9687-4438-992c-5dd051debac4.png" />
</details>

<details>
<a href="https://github.com/tensorflow/tensorflow/files/7709002/nightly.txt">log</a>
<img src="https://user-images.githubusercontent.com/16363767/145940079-7b678499-d810-4

[2021-12-14 05:47] mohantym commented on #53411
Hi @Saduf2019! Could you please look at this issue?

[2021-12-14 05:57] chh7411898 commented on #49150
thanks  i just modify cmakelist   ,from tensorrt7 to tensorrt 8   fix the problem!

[2021-12-14 06:06] sushreebarsa commented on #33585
@kazimuth I tried to reproduce the issue on Colab using TF v2.7.0 and didn't see the error reported .Could you please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/60aa323a9986e8f947cb0e25d1850342/gist33585.ipynb) for reference ?Thanks!

[2021-12-14 06:06] tilakrayal commented on #53408
@dansbecker ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-12-14 06:22] Niuxiaotong commented on #53404
@Saduf2019 according to the link:
https://github.com/tensorflow/tensorflow/issues/38285#issuecomment-789096556
it means that now tensorflow lite only support input/output uint8,
if the middle layer such as AVG_POOL which is uint8 can't be supported?

[2021-12-14 06:43] breadbread1984 commented on #52231
https://github.com/breadbread1984/resnet18-34  I finished coding and pretraining resnet18. you may try it.

[2021-12-14 07:02] f0uriest commented on #27292
I wanted to reopen this, because it now seems that its impossible to build the cell based on the shape of any constants, since the cells build method is only ever called with the timestep input shape. We can pass constants into the cells call method, but without having some sort of weights to go along with it there's not much functionality

[2021-12-14 07:18] mohantym commented on #53227
Hi @sanatmpa1! Could you please look at this issue?

[2021-12-14 07:23] #39708 closed

[2021-12-14 07:33] hyuk-dev commented on #52214
same issue here..

[2021-12-14 07:42] no-define commented on #4680
hi, this answer helps  [Issues including Eigen for simple C++ TensorFlow Lite test program](https://stackoverflow.com/questions/54779775/issues-including-eigen-for-simple-c-tensorflow-lite-test-program)

`find . -name "eigen*" -type d `

[2021-12-14 07:49] no-define commented on #53381
`tensorflow/third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1:42: error: #include nested too deeply #include "unsupported/Eigen/CXX11/Tensor"`

way to solve this problem :   https://stackoverflow.com/questions/54779775/issues-including-eigen-for-simple-c-tensorflow-lite-test-program

`find . -name "eigen*" -type d `

then edit your CMakeList.txt  :
` include_directories(
        ${CMAKE_CURRENT_

[2021-12-14 08:22] sushreebarsa commented on #53406
@shipoyewu
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-14 08:34] Luux commented on #47554
@KirannBhavaraju Some people complained about issues after loading such models again. It might indeed be the case that these issues are unrelated to this problem and this is merely a coincidence. However, it would be nice to get some statement from the devs which kind of implications this warning has...

[2021-12-14 08:51] michaelnguyen11 opened #53417 "TFLite GPU failed to delegate with ssd_mobilenet_v2_fpnlite_320 model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-12-14 08:58] icoric4 commented on #53358
Not sure if you asked me, but if the CSR matrix formatting was in fact broken, I would presume that the error would happen for smaller batch sizes also.

[2021-12-14 09:43] mohantym commented on #40202
Hi @DoxasticFox !
We are checking to see whether you still need help in this issue . Have you tried above [suggestion](https://github.com/tensorflow/tensorflow/issues/40202#issuecomment-663435110) yet? Thanks!

[2021-12-14 09:50] mohantym commented on #40199
Hi @MatteoArm ! This issue is not replicating in Latest version (TF 2.7) now. Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/d4d87d7c6172789be22fd0b19a977918/untitled325.ipynb#scrollTo=effYrDkvO4qA) for reference .Thanks!

[2021-12-14 10:30] mohantym commented on #39992
Hi @eriikj !
We are checking to see whether you still need help in this issue. Have you checked above [suggestion](https://github.com/tensorflow/tensorflow/issues/39992#issuecomment-642797494) yet?

[2021-12-14 10:51] Saduf2019 commented on #36021
@hartikainen
Please refer to above comment and confirm if this is still an issue or can we move this to closed status.

[2021-12-14 10:54] Saduf2019 commented on #36115
@user06039
Please refer to below links for reference:
[link](https://www.examplefiles.net/cs/1104466)
[link](https://pretagteam.com/question/sampled-softmax-in-tensorflow-keras)

Please post this issue on keras-team/keras repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-12-14 10:59] mohantym commented on #39869
Hi @raharth ! I think you were intending to use the above code by[ this way](https://colab.sandbox.google.com/gist/mohantym/a3b8188b9df3d5a94c6a4c1be457443a/untitled198.ipynb#scrollTo=qXWYKxBJrsh6).Attaching relevant threads for reference.[ link1](https://stackoverflow.com/questions/28036812/indexerror-too-many-indices-for-array),[link2](https://stackoverflow.com/questions/47733704/numpy-array-ind

[2021-12-14 11:15] sushreebarsa commented on #29198
@llan-ml This issue is not replicating in TF v2.7.0 on colab . Could you please have a look at the [gist](https://colab.research.google.com/gist/sushreebarsa/c44b219aafee43af566a6ccaf9b17061/gist29198.ipynb) and let us know if it helps? Thank you!

[2021-12-14 11:20] sushreebarsa commented on #27120
@ericpts Could you please have a look at this [gist](https://colab.research.google.com/gist/sushreebarsa/a0703e4f1b96b7b9ba2daf30f464ed4e/gist27120.ipynb#scrollTo=_dt8VD5u87fL)  for reference and let us know if it helps  ?Thanks!

[2021-12-14 11:31] #44505 closed

[2021-12-14 11:59] dansbecker commented on #53408
Thanks @tilakrayal . I've submitted [the issue there](https://github.com/keras-team/keras/issues/15789). I'll leave it to you to decide if this issue should be closed.

[2021-12-14 12:07] tilakrayal commented on #53408
@dansbecker ,
Please feel free to move this issue to closed status as it has been tracking in Keras repo.Thanks!

[2021-12-14 12:12] #53408 closed

[2021-12-14 12:31] #53135 closed

[2021-12-14 14:44] farotem commented on #41325
Hi,
I checked on tf 2.7 and the issue is still happening

tf version = 2.7.0
graph tracing
[29,990 samples] running time (msec): 1567.1  128.6  125.4  127.3  125.2
[29,991 samples] running time (msec): 1377.4  125.5  125.9  124.9  124.5
[29,992 samples] running time (msec): 1365.7  128.6  125.1  125.3  125.3
[29,993 samples] running time (msec): 1377.8  125.7  126.0  124.9  124.3
[29,994 samples]

[2021-12-14 15:44] sushreebarsa commented on #40515
@Lothiraldan This issue is still replicating in  TF v2.7.0. Please find the  [gist](https://colab.research.google.com/gist/sushreebarsa/cdb73d0c2ce1138dcf0970aae9b6c338/untitled84.ipynb) for reference .Thanks!

[2021-12-14 15:57] mohantym commented on #12132
Hi @BKZero!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you checked this [document](https://www.tensorflow.org/api_docs/python/tf/nn/separable_conv2d) from latest version TF 2.7 yet? Thanks!

[2021-12-14 16:24] lauriebyrum commented on #38746
A colleague did some research and found https://www.gizmochina.com/2020/03/25/gpu-driver-update-tool-play-store/ and https://www.androidauthority.com/gpu-driver-updates-phones-1096423/ . So it sounds like we app developers really do need to worry about gpu driver updates separate from OS updates. Does Google have guidance on handling this? We are hoping to ship with this in January, so we don't ha

[2021-12-14 16:31] #45180 closed

[2021-12-14 16:42] battuzz commented on #41940
@sushreebarsa  Thank you for your reply, I'll have a look as soon as possible!

[2021-12-14 17:30] sschaetz commented on #53101
I am seeing the same problem in my own code with 2.7.0 but it works fine with the tensorflow-nightly build for me.

[2021-12-14 17:31] #53239 closed

[2021-12-14 17:39] yakovdan opened #53423 "Hexagon delegate fails on a known good model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Snapdragon 855
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below

[2021-12-14 18:02] sanatmpa1 commented on #53407
@lenkei-mark,

I noticed that you're using CUDA 11.5, whereas the tested build configuration supports CUDA 11.2 for TF 2.7.0. Can you take a look at this [tested build configurations](https://www.tensorflow.org/install/source#gpu) and modify your enivronment accordingly. Let us know if the same issue still persists? Thanks!

[2021-12-14 18:12] sanatmpa1 commented on #53345
@frgfm

I modified dtype in model_output to tf.float32 and I can see that no error is thrown. Please find the [gist here](https://colab.sandbox.google.com/gist/sanatmpa1/3b6fb0a9a1ea76f324661dee6238fde3/53345.ipynb). Thanks!

[2021-12-14 19:22] fridex commented on #53159
We have created a set of labels that would help us to consume issues:

- `env:runtime` - issues that araise on runtime
- `env:buildtime` - issues that arise on buildtime
- `env:hardware` - issues that are caused by hardware and hardware configuration
- `env:python-lib` - issues specific to Python packages that TensorFlow depends on (ex. numpy specific issues)
- `env:native-lib` - issues specific t

[2021-12-14 20:55] kratsg opened #53424 "Enabling tf.debugging.set_log_device_placement(True) does not print output"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-12-14 21:09] KieronQuinn commented on #53380
I'm not using the NDK in this project as I'm using the prebuilts - if that's incorrect please let me know as the guide does not mention the NDK.

API wise I'm targeting 31, and the phone is running Android 11 (30)

[2021-12-14 22:31] #47370 closed

[2021-12-14 22:31] #53199 closed

[2021-12-14 22:43] bitsofbits commented on #50487
I found that running `gc.collect()` before program exit fixed this for me.

[2021-12-14 23:10] tensorflowbutler commented on #37876
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #35982
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #36463
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #36650
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #36985
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #37652
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38004
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38211
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38644
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38767
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38832
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38891
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39679
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39730
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39708
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39878
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39995
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40110
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40457
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40547
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40617
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40823
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40267
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39715
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #36962
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #37365
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #37449
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #37479
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38698
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #38831
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39456
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39540
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39583
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39592
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39596
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40345
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40342
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40515
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40942
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #28072
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #35724
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #35732
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #37656
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39146
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39434
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39888
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #39900
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:11] tensorflowbutler commented on #40076
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #40743
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #42133
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #29804
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #35820
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #35906
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #36757
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #37187
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #37673
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39064
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39332
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39411
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39774
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39942
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #40085
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #40911
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39811
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:12] tensorflowbutler commented on #39469
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:18] albertz commented on #40267
The same problem is still there in TF 2.7.

[2021-12-14 23:23] sachinprasadhs commented on #53242
It is normally suggested not to use `cache` for large dataset since it occupies your RAM usage, you can still proceed without using `cache` and then use shuffle which can be performed since your RAM usage will be less.
If you are concerned about the speed, you can do it in other ways, either you can shuffle the dataset at source(OS level) and then create tf.data and cache or to shuffle in other wa

[2021-12-14 23:24] tensorflowbutler commented on #33751
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #32764
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #33358
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #33571
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #33967
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #34827
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #35102
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:24] tensorflowbutler commented on #34488
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:25] tensorflowbutler commented on #34408
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:25] tensorflowbutler commented on #34335
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:25] tensorflowbutler commented on #33260
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:25] tensorflowbutler commented on #33182
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:25] tensorflowbutler commented on #30983
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:25] tensorflowbutler commented on #32761
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:26] tensorflowbutler commented on #35007
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:26] tensorflowbutler commented on #33988
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:27] tensorflowbutler commented on #35451
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:27] tensorflowbutler commented on #34332
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:27] tensorflowbutler commented on #30712
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:27] tensorflowbutler commented on #32799
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:27] tensorflowbutler commented on #32322
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:27] tensorflowbutler commented on #33755
Hi There,

 This is a stale issue. As you are using an older version of tensorflow, we are checking to see if you still need help on this issue. Please test the issue with the latest TensorFlow (TF2.7 and tf-nightly). If the issue still persists with the newer versions of TF, please feel free to open it in [keras-team/keras](https://github.com/keras-team/keras/issues) repository by providing detai

[2021-12-14 23:28] nectario commented on #35007
Issue can be closed. Don't experience this now.

[2021-12-14 23:28] #35007 closed

[2021-12-14 23:36] andrewemendez commented on #34335
Still an issue with TF 2.7. Gist [here](https://colab.research.google.com/gist/kumariko/c5cd669d9e978f5cd929d169c65b29c9/untitled246.ipynb#scrollTo=mnFk1ZuTu7ak)

[2021-12-14 23:48] stromal opened #53426 "M1 Pro After installing TF based on Official apple guide gives ERROR for even importing TF"
SYSTEM:
- MacBook Pro 14 (M1 Apple Silicon)
- MacOS 12.0.1

DONE:
- https://developer.apple.com/metal/tensorflow-plugin/
- I have followed this for ARM M1 apple silicon for my 14"
- (I had anaconda installed before, that may causing the error but I DO NOT want to delete my anaconda all together)

CODE
[code]

ERROR
[code]

[2021-12-15 00:12] DoxasticFox commented on #40202
@mohantym I just gave up.

[2021-12-15 00:12] #40202 closed

[2021-12-15 01:09] Strateus commented on #40085
Omg just fix it, it still persists in 2.7

[2021-12-15 01:31] #36298 closed

[2021-12-15 01:37] guizili0 opened #53427 "Is it possible to report warning when plugin device cannot load instead of error?"
Hi,
I found TF would crash when load plugin device fail, Is it possible to change it with warning instead of crash and do not enable plugin device? Just like the GPU device behavior.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/api_template.__init__.py#L150

[2021-12-15 01:50] terrycmchan commented on #53268
Hi @mohantym Would you mind to update the progress?

[2021-12-15 02:00] jason9075 commented on #47906
@jvishnuvardhan It works!
Thanks!

[2021-12-15 02:00] #47906 closed

[2021-12-15 03:26] dongtaishanybc commented on #31224
tf information: tf.2.4.0
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.representative_dataset = representative_dataset_gen
#converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]
tflite_model = converter.convert()
open(output_model_filepath, "wb").write(tflite_model)

and

interpreter = tf.lite.Interpreter(model_path=model_path)

 _interpreter_wrapper.CreateWr

[2021-12-15 04:15] mohantym commented on #53427
Hi @guizili0 !
Could you please update the other details in this [template ](https://github.com/tensorflow/tensorflow/issues/new/choose)too as it helps us analyse the issue .Thanks!

[2021-12-15 04:32] mohantym commented on #53251
Ok @Tessil! Sorry for the late response.
Please post this feature request on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thank

[2021-12-15 05:19] dillon3344 commented on #53278
@sachinprasadhs i have applied post training quantization. Is there a way to compare the outputs of each layer with the known good model to find where the problem is?

[2021-12-15 05:29] guizili0 commented on #53427
@mohantym my issue is belong to others issue, in others issue, I found this

Do I need submit a topic here? https://discuss.tensorflow.org/

Basically I want to plugin device load fail with warning instead of error.
the python code for the plugin device is here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/api_template.__init__.py#L150
and the error raise is here: https://github

[2021-12-15 06:31] #53169 closed

[2021-12-15 06:31] #53258 closed

[2021-12-15 06:37] mohantym commented on #53423
Hi @sachinprasadhs ! Could you please look at this issue?

[2021-12-15 06:55] mohantym commented on #53427
Hi @Saduf2019! Could you please look at this issue?

[2021-12-15 07:19] beiluo97 opened #53430 "Segmentation fault and no log information available, add some tips about segmentation fault"
**System information**
- TensorFlow version (you are using): tensorflow 1.12.0, python 3.6.13
- Are you willing to contribute it (Yes/No): Yes.

**Describe the feature and the current behavior/state.**
I have trouble retraining my colleague's code from a year ago. I notice that when I try to load my model in the former code base on *libtensorflow-cpu-linux-x86_64-1.12.0* it reports a `Segmentation

[2021-12-15 07:26] Saduf2019 commented on #53411
@IAL32
With respect to the error "" can you refer to this [link](https://stackoverflow.com/questions/57881232/why-does-configure-error-zstd-library-not-found-appear-when-i-configure-gree), also please downgrade your python and let us know if this is still an issue.
Please refer to similar error issues:[Link](https://github.com/bazelbuild/bazel/issues/591),[link1](https://github.com/tensorflow/serv

[2021-12-15 07:33] hgaiser commented on #34642
I'm not working on this project anymore so I am unlikely to test this out. I'll close it, assuming the previous comment is correct.

[2021-12-15 07:33] #34642 closed

[2021-12-15 07:37] #52255 closed

[2021-12-15 07:39] IAL32 commented on #53411
Hi @Saduf2019 , thanks for the answer! Although, none of the links you have provided really answer my issue, or have much to do with it.

The "header missing" error does not come from the lack of the library, which is correctly provided and installed in `third_party/zstd.BUILD` (and of course is __not__ supposed to be installed on the local machine).

What I am having issues with is not the proced

[2021-12-15 07:48] eli-osherovich commented on #32322
I would suggest that Keras team will add a unit test to cover this issue (and endless number of other issues). Passing down to the users the task of testing issues in every new release with a hope that the issue is somehow fixed does not look like a good strategy.....

[2021-12-15 08:13] MohamedAliRashad commented on #33131
We are going into 2022 and this is not addressed until now.

[2021-12-15 08:30] Victoria-1 opened #53431 "Could not load library cudnn_cnn_infer64_8.dll. Error code 126"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  windows 10
- Mobile device (e

[2021-12-15 08:36] veonua commented on #35451
it’s not stale, just nobody give any attention to fix it.

[2021-12-15 09:20] mainguyenanhvu opened #53432 "Tf Keras Dense layer output nan with kernel_initializer='random_normal' before fitting"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): v2.7.0-r

[2021-12-15 09:31] #41904 closed

[2021-12-15 09:59] tilakrayal commented on #53424
@sanatmpa1 ,
I was able to reproduce the issue in tf v2.7, v2.5 and tf-nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/f446baf19b99009b7c150c30b9a02af2/53424.ipynb).

[2021-12-15 10:01] aritraMandal02 commented on #53391
I used keras issue template.

[2021-12-15 10:48] rayoluo commented on #33871
thanks! figure it out finally...

[2021-12-15 11:05] sushreebarsa commented on #53391
@aritraMandal02
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-15 11:27] sushreebarsa commented on #53426
@stromal Could you please let us know the TF version you are using ?Thanks!

[2021-12-15 11:31] #21935 closed

[2021-12-15 12:11] ebraraktas commented on #52105
Ping @ethkim . This is a blocker for me, because tensorflow `2.3` is getting older. Some operations do not have lite kernels in tensorflow `2.3`, but I need to use TF `2.3` to convert a model having `Conv` layer. I have tested the gist above with TF `2.7` and the issue still exists, unfortunately.

[2021-12-15 12:15] mattiasmar commented on #39331
@rohan100jain In my use case I want to learn an embedding for a DNN workload by applying a GNN on the actual DNN. In this scenario it is too important for me to extract a graph representation of the actual TF workload. Any ideas or pointers for how I could achieve this goal?

[2021-12-15 13:04] hamlatzis commented on #21526
Failed porting `TensorListFromTensor` as a custom op. Is it going to be added? I know I can use it through select ops, which will create a Flex version with the new experimental converter. But the `.aar` file created for Android gets too large

[2021-12-15 13:07] isaacgerg commented on #52348
I'm still here but its approaching the holidays in the USA.

[2021-12-15 13:08] isaacgerg commented on #52348
@sachinprasadhs Sort of.  Is the gradient of a model broken up into sections?  I presume it must otherwise, clip_by_global_norm will never take in a list.

[2021-12-15 13:31] #25356 closed

[2021-12-15 13:31] #25357 closed

[2021-12-15 13:44] drasmuss commented on #33182
The issue still persists in TF 2.7, I created a new issue in the Keras repo here https://github.com/keras-team/keras/issues/15792

[2021-12-15 13:50] drasmuss commented on #39456
The issue still persists in TF 2.7, I created a new issue in the Keras repo here [keras-team/keras#15792](https://github.com/keras-team/keras/issues/15793).

[2021-12-15 14:25] tilakrayal commented on #53430
@beiluo97 ,
Can you please share a reproducible code that supports your statement so that the issue can be easily understood? Thanks!

[2021-12-15 14:26] tilakrayal commented on #53430
Also we see that you are using tf version 1.12, 1.x is not actively supported, please update to v2.7 and let us know if you are using same issue.

[2021-12-15 15:18] jvishnuvardhan commented on #45476
@edloper Can you please take a look at this issue. I can reproduce the issue with `TF2.7`. Thanks!

[2021-12-15 15:19] IAL32 opened #53434 "Documentation for unit testing is not clear"
## URL(s) with the issue:

Official TF tests documentation page: https://www.tensorflow.org/community/contribute/tests

## Description of issue (what needs changing):

It is not at all clear how one should run unit tests. In fact, some unit tests are _very_ hard to execute singularly.

For example, I have been working on a PR that requires some testing on `//tensorflow/core/lib/io` libraries, and

[2021-12-15 15:30] stromal commented on #53426
Problem resolved by
- not installing TF to the base environment
- uninstall numpy
- reinstall numpy

[2021-12-15 15:30] #53426 closed

[2021-12-15 15:33] AdrianFuchsData opened #53435 "Memory leak in saving and loading a keras model containing CategoricalEncoding and Lookup layers"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: Yes
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: CentOS Linux release 7.9.2009 (Core)
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: not applicable
-   **TensorFlow installed from (source

[2021-12-15 15:52] gswebspace commented on #34991
@tilakrayal I don't have access to the odroid hardware anymore, so can't really do much here. That also means that this issue is not longer relevant (for me at least) and can be closed.

I will close this issue for now. If anybody feels this issue is relevant to them, please feel free to open again. Thank you !

[2021-12-15 15:52] #34991 closed

[2021-12-15 16:21] IchiruTake commented on #53397
After cleaning and rebuild all the environments (same TensorFlow, Keras version), I have resolved this issue. Thus, it should be noticed that this issue should be closed. Thank you for your help, I am so appreciated.

[2021-12-15 16:21] #53397 closed

[2021-12-15 16:22] battuzz commented on #41940
@sushreebarsa Here I am with some results!
I ran some tests with Tensorflow 2.7.0 and here are the results divided by the problems I've found:

1) The CPU implementation of `triangular_solve` is still very very slow. For my tests I used a matrix 2048x2048 and I measured the following inference times:

- Naive implementation in pure C (I used the code above, single thread):    **~1ms**
- `tf.linalg

[2021-12-15 16:31] #35970 closed

[2021-12-15 16:31] #48292 closed

[2021-12-15 16:31] #31149 closed

[2021-12-15 16:32] sushreebarsa commented on #53435
@AdrianFuchsData
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-15 17:45] jvishnuvardhan commented on #52793
@naveen-marthala This is a feature request for Keras.

Please note that Keras development moved to another repository to focus entirely on only keras. Could you please repost this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues). Thanks!

[2021-12-15 17:58] srjoglekar246 commented on #53335
The model personalization example currently does not support delegates :-). We are working on it, but there are multiple performance bottlenecks in on-device training (for eg usage of dynamically-shaped TF ops in TFLite) that hamper usage of backends like NNAPI. For now, CPU is the only path unfortunately.

[2021-12-15 17:58] #53335 closed

[2021-12-15 18:31] #53246 closed

[2021-12-15 18:31] #50455 closed

[2021-12-15 19:06] henrysky opened #53438 "RNN predict() raised error if shape is not the same as training set for the first time"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 21H2 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): 2.7.0 source
- TensorFlow version (use command be

[2021-12-15 19:19] MarkDaoust commented on #53313
https://github.com/tensorflow/docs/pull/1989

[2021-12-15 19:31] #33675 closed

[2021-12-15 20:05] sachinprasadhs commented on #53216
In the `--output_dir` instead of `/tmp/out` create a folder in the same level and give the absolute path and check it.

[2021-12-15 20:14] zndr27 commented on #43706
I am also interested in a vectorized version of tf.io.parse_tensor

[2021-12-15 20:31] #33658 closed

[2021-12-15 21:05] aviaisr commented on #53247
Update - I tried to train my model with the large (4.5M) images and checked the results ~20 epochs - and the CPU DSP results were completely different as well with **TF version 2.7**. So updating the version didn't solve the problem. What should I do?
![image](https://user-images.githubusercontent.com/39811082/146264788-9a40782f-542b-42fe-90c0-75edc925663f.png)

[2021-12-15 22:28] spaced commented on #45155
as a workaround, i extracted the aar package to grab the jars, build the jni binary by executing
[code]
and put this jni lib with `-Djava.library.path=yourPathOfLib`
but yes. this could be provided all in one dependency (see also various javacpp project for opencv/ffpmeg..)

my use case: Running inference on a x64 barebone with a coral tpu. You need `tflite` for, but cpu and memory must be more po

[2021-12-15 22:53] MichaelXCChen opened #53441 "Tensorflow-metal error when running .fit()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- P

[2021-12-16 00:31] #38591 closed

[2021-12-16 00:31] #39755 closed

[2021-12-16 00:31] #36376 closed

[2021-12-16 00:31] #39402 closed

[2021-12-16 00:39] yunjiangster opened #53443 "Support partial parameter warm-start from pretrained checkpoints in tensorflow v2 (non-estimator mode)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow 2.x
- Are you willing to contribute it (Yes/No)

[2021-12-16 01:31] #39084 closed

[2021-12-16 01:31] #39036 closed

[2021-12-16 01:48] jxy commented on #53192
Does leaving random comments count as activity?

[2021-12-16 02:01] Pik1229 opened #53444 "for i"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-12-16 02:09] Pik1229 opened #53445 "Can not run the first test"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-12-16 02:50] cheshire commented on #53192
@jxy I'm not sure to be honest. Filing a new bug about improved error message would be probably better, what would you like to see? Just a better stack trace presentation, or TF somehow pattern-matching the error message into "ah you are using int32 weights inside a compiled function run on GPU, why not make them int64"? Or would you prefer TF to automatically copy the weights? (CC @smit-hinsu )

[2021-12-16 03:31] #38037 closed

[2021-12-16 04:00] m-ahmadi commented on #53216
[log](https://github.com/tensorflow/tensorflow/files/7724436/abs.txt)

note: did not `pull` in `tensorflow` (it still is at 6b13ceba780)

[2021-12-16 04:00] mohantym commented on #53444
@Pik1229 ! Closing this issue as it is not related to Tensorflow. Thanks!

[2021-12-16 04:00] #53444 closed

[2021-12-16 04:42] PatriceVignola opened #53446 "[PluggableDevice] Cross-device copies support"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): v1.12.1-69032-gfb972503145 2.8.0-dev20211220
- Python version: 3.9
- Bazel version (if compiling fro

[2021-12-16 04:48] naveen-marthala commented on #52793
ok @jvishnuvardhan

[2021-12-16 05:06] mainguyenanhvu commented on #53432
I tried with other kernel_initializer strategies such as Ones() and Zeros() but bug is still here.

[2021-12-16 06:12] tilakrayal commented on #53402
@csdf-ssm ,
As commented tf v1.x is not supported  actively, please update to 2.x and let us know if you are using same issue.Thanks

[2021-12-16 06:31] #53270 closed

[2021-12-16 06:35] ptdtrinh commented on #30321
@asifpatankar: thanks much men! I solved my problem in Tensorflow v2.0....

[2021-12-16 06:53] terryheo commented on #53185
We're running several automated tests with Sanitizers. ​https://github.com/google/sanitizers

But we don't have a known issue on this yet. If you think it's a bug of TFLite, please let us know with reproduction steps.

[2021-12-16 06:54] Saduf2019 commented on #53432
@mainguyenanhvu
Please post this issue on keras-team/keras repo.
To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thanks!

[2021-12-16 07:03] Honry opened #53447 "[TFLite] Support building external delegate with CMake"
TensorFlow Lite supports external delegate but not supported in CMake build, do we have plan to support it?

[2021-12-16 07:11] Honry commented on #53447
Sorry, looks like https://github.com/tensorflow/tensorflow/pull/52962 is addressing this request.

[2021-12-16 07:14] sushreebarsa commented on #53410
@sanatmpa1 Was able to reproduce the issue on colab using TF v[2.7.0](https://colab.research.google.com/gist/sushreebarsa/8bf39cf99a00e6f6cf58ee1ad64659d1/gist53410.ipynb#scrollTo=nb4xo25E9dXW) and [tf-nightly](https://colab.research.google.com/gist/sushreebarsa/9b14d6bea9c8868534937f7ee4cb00d6/gist53410-cpu.ipynb#scrollTo=G8rgmVrVDI82)(2.8.0.dev20211215),please find the attached gists for referen

[2021-12-16 07:22] Niuxiaotong commented on #53404
@Saduf2019 according to the link:
#38285 (comment)
it means that now tensorflow lite only support input/output uint8 in inference tflite model,
the middle layer such as AVG_POOL which is uint8 can't be supported?

and others question ,tensorflow quantization model such as mobilenet_v1_1.0_224_quant.tflite which be quantized int8 but input and output is uint8,right?

[2021-12-16 07:30] mainguyenanhvu commented on #53432
I posted [here](https://github.com/keras-team/keras/issues/15798).

[2021-12-16 08:31] DUPASYoann commented on #53242
Yeah, I agree, and that what I do with `tf.data.Dataset.cache(filename=filepath)`. In this way, i can use perfect `shuffle` with `reshuffle_each_iteration=True` since cache is no longer on RAM. But perfect `shuffle` can be only ensure if you can store all your dataset in RAM since you have to set the shuffle buffer to len(dataset).

For me it's not an ideal solution, because when you use `cache` o

[2021-12-16 08:31] #53217 closed

[2021-12-16 08:56] Evgeny-IT opened #53451 "Tensor shape mismatches the associate numpy array shape"
The following code demonstrates a simple TF graph with transpose, pad and another transpose that gives the output data with shape that mismatches tensor shape.

[code]

Gives the assertion error:
[code]

The transposition was not applied by the TF and tensor shape now mismatches the data shape.

Interestingly if the padding values are not zeros, that is if the line
[code]
is changed to
[code]
the

[2021-12-16 09:01] Saduf2019 commented on #53432
@mainguyenanhvu
Please move this to closed status as it is tracked in keras repo.

[2021-12-16 09:30] mohantym commented on #53447
@Honry! Thank for the feature request. This issue will be closed once above [PR](https://github.com/tensorflow/tensorflow/pull/52962) is merged.  Thanks!

[2021-12-16 09:32] gabrielpeixoto-cvai commented on #50400
I have the same issue. I followed @MahmoudAshraf97 and trained using MSE for couple epochs then started a new training from MSe checkpoints with MS-SSIM, which went well for one epoch, before falling back to NaN on the second epoch. I am using tensorflow version 2.4.1.

[2021-12-16 10:13] tilakrayal commented on #53441
@MichaelXCChen ,
I was able to run the code without any issues on TF v2.7. Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/7d2e8ac14efb016f0552e904c1a749f7/3d_image_classification.ipynb).Could you please create a virtual environment and test your code again. It helps. Thanks!

[2021-12-16 10:23] raoshenglong opened #53453 "Description error of 'non_max_suppression_with_scores'"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2021-12-16 10:30] caowencai opened #53454 "ERROR: gen_sparse_csr_matrix_ops not exists in tensorflow.python.ops.linalg.sparse"
https://github.com/tensorflow/tensorflow/blob/1e3cc64881fc65226f98b7fc1c8ac6f5debac7df/tensorflow/python/ops/linalg/sparse/sparse_csr_matrix_ops.py#L32

from tensorflow.python.ops.linalg.sparse import gen_sparse_csr_matrix_ops always returns error

[2021-12-16 10:31] #53231 closed

[2021-12-16 10:40] #53454 closed

[2021-12-16 10:41] caowencai commented on #53454
BUILD needed

[2021-12-16 11:12] MichaelXCChen commented on #53441
@tilakrayal
Just wondering, did you use an conda environment using `conda create` or a python env `python3 -m venv`? I first installed Miniforge from [here](https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-MacOSX-arm64.sh), created a conda env, then installed:
`conda install -c apple tensorflow-deps==2.7.0`
`python3 -m pip install tensorflow-macos`
`python3 -m pip insta

[2021-12-16 11:19] csdf-ssm opened #53455 "When I use ObjectDetection Demo,it tips Invalid tensor index 1, max index is 0.How can I do?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports) 11.6 (20G165)
- TensorFlow installed from (source or binary):TensorFlowLiteSwift','2.6.0'
- TensorFlow version (or github SHA if from source):TensorFlowLiteSwift','2.6.0'

question:
When I use ObjectDetection Demo,it tips Invalid tensor index 1, max index is 0,How c

[2021-12-16 11:48] tilakrayal commented on #53280
@ghylander ,
I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/0660e2f442c47c8b2b1615bae854501b/untitled146.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-12-16 11:52] ghylander commented on #53280
Hi,
updated the gist [here](https://colab.research.google.com/gist/ghylander/e64c0274e0c4d08e11c817272f57a519/untitled146.ipynb)

[2021-12-16 12:04] tilakrayal commented on #53280
@Saduf2019 ,
I was able to reproduce the issue tf v2.7, v2.5 and tf-nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/d8e8255540c8f87e88f50a98ec304513/53280.ipynb).

[2021-12-16 12:16] MahmoudAshraf97 commented on #50400
@gabrielpeixoto-cvai
It's totally dependent on the model and the learning rate but in general the ms-ssim requires a good initial state or else it will fail to NaN regardless of the epoch when the output and the target have a very low ms-ssim score

[2021-12-16 12:31] #53254 closed

[2021-12-16 12:38] snehalstomar opened #53456 "Writing Tensor objects to Numpy arrays in Tensorflow 1.12"
I am building a model which is supposed to be a composition of different models. I need the output of one model to be fed as input to another. To do so, I followed the standard approach of extending tf.keras.Model and modifying the call() function suitably. However, that didn’t work out since Model2 expects an input of the type np.ndarray whereas Model1 returns an output of the type tf.tensor henc

[2021-12-16 13:16] lbiemans commented on #43193
What fixed it for us:

import os
os.add_dll_directory("C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v11.2/bin") # (Where v11.2 is your version)

[2021-12-16 13:22] Saduf2019 commented on #53445
@Pik1229
Could you please run this in colab and share a gist as the code shared is not indented.

[2021-12-16 13:23] sushreebarsa commented on #53431
@Victoria-1 Could you please have a look at the[ build from source](https://www.tensorflow.org/install/source_windows#gpu) and let us know if it helps?Thanks!

[2021-12-16 13:25] Saduf2019 commented on #52867
@Ashvith
Please refer to the page for the update and move the issue to closed status.

[2021-12-16 13:29] Ashvith commented on #52867
@Saduf2019 thanks for the improvement, I'll be closing this issue.

[2021-12-16 13:29] #52867 closed

[2021-12-16 13:30] sushreebarsa commented on #53456
@snehalstomar We see that you are using `TF v1.12` which is not actively supported. Could you please try to upgrade to `TF` `v2.7.0` and please refer to the [migration guide](https://www.tensorflow.org/guide/migrate) for more information?Thank you!

[2021-12-16 13:39] yangli1715977 commented on #30794
Because your python version is too high, if you want to install tensorflow 1.14, you should use python 3.5 - 3.7

[2021-12-16 13:57] donno2048 opened #53458 "Deprecate non-tuple nd-indices"
This is deprecated in NumPy (numpy/numpy#9686) and in Jax already removed (google/jax#4867) but TensorFlow still uses this feature as can be seen by using NumPy arrays and Jax arrays:
[code]
For now, I opened an issue on Jax (google/jax#8980) and asked to revert this change, but anyway I think TensorFlow really should accept the deprecation.

[2021-12-16 14:31] #53281 closed

[2021-12-16 14:57] snehalstomar commented on #53456
Hi!

I am actually trying to build upon a base model written in Tensorflow 1.12 for my research. I would highly appreciate it if you could kindly give me insights to make it work in TF v1.12

[2021-12-16 15:11] saddamhijazi opened #53459 "UnimplementedError: Fusion is not implemented: [BiasAdd,Tanh] (only when tanh activation functions are used)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: Linux Ubuntu 18.04.6 LTS)
- TensorFlow version (use command below): 2.4.1
- Python version: Python 3.8.5

I am trying to build a keras model to solve a problem in which I define a custom loss function, the model has tanh activation functions a

[2021-12-16 15:23] anhappdev opened #53461 "[TFLite] iOS app crashes with EXC_RESOURCE when building with XCode 13"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: iOS 15
- Mobile device if the issue happens on mobile device: iPhone
- TensorFlow installed from: source
- TensorFlow version: 2.6.0
- Python version: Python 3.9.7
- Bazel version: 4.2.1-homebrew
- GCC/Compiler version: Apple clang version 13.0.0 (clang-1300.0.29.3)
- CUDA/cuDNN version: n.a.
- GPU model and m

[2021-12-16 15:31] brsolomon-deloitte opened #53462 "tensorflow-cpu install from conda-forge fails with 'requires grpc-cpp >=1.39.1,<1.40.0a0, but none of the providers can be installed'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 20.04.3 LTS
- TensorFlow installed from (source or binary): binary, `tensorflow-cpu` latest as of 12 Dec 2021
- TensorFlow version: latest (should install 2.6.2, installs 2.6.0 due to existing packages)
- Python version: 3.9.7
- Installed using virtualenv? pip? conda?: `mamba` `/ conda`
- GPU model and memory: none,

[2021-12-16 16:09] mohantym commented on #53438
Hi @henrysky ! It seems you have raised this in Keras repo too. Could you please this close issue here as it will be tracked down there in Keras repo.

[2021-12-16 16:14] #53438 closed

[2021-12-16 17:32] donno2048 commented on #53458
https://github.com/google/jax/issues/8980#issuecomment-996026127

[2021-12-16 17:32] #53458 closed

[2021-12-16 18:31] walex opened #53463 "Cannot create hexagon delegate on my tablet"
Hello I'm trying to create a dsp/hexagon delegate on my android tablet, but for some reason ioctrl fails as reported on device log
Any help!
Regards,
Walter

Relevant C++ code:

//TfLiteHexagonInit(); // also desnt works
TfLiteHexagonInitWithPath("dsp;/data/dsp;/system/vendor/lib/rfsa/adsp");
TfLiteHexagonDelegateOptions hexagon_opts = {0};
TfLiteDelegate* hexagonDelegate = TfLiteHexagonDelegateCr

[2021-12-16 18:47] baqwas opened #53464 "TensorFlow Lite Model Maker has version conflict during install on RPi02W"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/lite

[2021-12-16 19:39] yarri-oss commented on #46062
@angerson perhaps we can bring this issue up in SIG Build, but with the new nightly Docker images would it make sense to support options for CUDA vs other GPUs as well as a CPU-only image?

[2021-12-16 19:58] #53021 closed

[2021-12-16 20:33] #53067 closed

[2021-12-16 20:41] #53034 closed

[2021-12-16 21:49] abhmul opened #53466 "tf.debugging.assert_type throws error when checking type of RaggedTensor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS P

[2021-12-16 21:51] abhmul commented on #53466
Is there a larger issue capturing methods that have not been updated to support ragged tensors?

[2021-12-16 21:55] ChasedByDeath commented on #45200
Can you please explain elaborately what exactly you did? Thank you!

[2021-12-16 22:10] ChasedByDeath commented on #45200
**Thank you so much**. This seem to have fixed the problem for me.
My setup details -
Operating System: Ubuntu 20.04.3 LTS
Kernel: Linux 5.11.0-43-generic
Architecture: x86-64

Nvidia driver: 470.86
Cuda toolkit: 11.2, V11.2.67
Tensorflow: 2.5.2

[2021-12-16 22:15] sachinprasadhs commented on #53251
There is exact same issue created by you here #53315, you can change it to feature request and track it there. Closing this as duplicate.

[2021-12-16 22:21] Tessil commented on #53251
@sachinprasadhs Sorry I'm a bit confused as both issues are quite different, one is for channel first support conversion in 3D operators and this one is for depth-wise 3D convolution support. Would it be possible to keep this issue open? Thanks!

[2021-12-16 22:33] zhenbangbb commented on #41244
Reopening the PR. Still see the same error with 2.7...

[2021-12-16 22:40] sachinprasadhs commented on #53195
Closing this issue as per the comment here https://github.com/keras-team/keras/issues/15704#issuecomment-984897075

[2021-12-16 22:40] #53195 closed

[2021-12-16 22:44] sachinprasadhs commented on #49459
Would you like to move this issue to keras.

To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2021-12-16 23:02] sachinprasadhs commented on #47537
Tensorflow has [documented](https://www.tensorflow.org/api_docs/python/tf/keras/backend) only those backend functions listed at https://keras.io/api/utils/backend_utils/, rest all are undocumented.
However, you see see all the hidden functionalities with the code in the github [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/backend.py).
Closing this issue, feel

[2021-12-16 23:02] #47537 closed

[2021-12-16 23:06] spagliarini commented on #53026
The apple forum where they discuss the problem is this: https://developer.apple.com/forums/thread/683780?login=true&page=1#698656022

But it looks like the problem hasn't been solved yet.

[2021-12-16 23:32] sachinprasadhs commented on #45197
This issue still exists in Tensorflow [2.7](https://colab.research.google.com/gist/sachinprasadhs/2f321a7e1cbf83b54e84b9a0a228f8a3/untitled471.ipynb), could you please open this issue in keras-team/keras repo.

To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2021-12-17 01:03] sachinprasadhs commented on #53296
Since you are using TPU VM it is suggested to use 'local' so that it will consume the TPU which is directly connected to the VM.
Also, you can leave the `tpu` field blank so that it will automatically resolve the TPU adress on Cloud TPUs.
If you have the TPU worker gRPC address you can pass the same.

[2021-12-17 01:31] #38391 closed

[2021-12-17 01:32] sachinprasadhs commented on #53278
You can compare the model with the final outputs using details mentioned [here](https://www.tensorflow.org/lite/guide/faq#how_do_i_test_that_a_tensorflow_lite_model_behaves_the_same_as_the_original_tensorflow_model), not at the layer level though.

[2021-12-17 01:36] xsacha commented on #53278
I used the quantize debugger to get the op-by-op accuracy you see above. It takes a bit longer. There's tutorials for how to set it up.

[2021-12-17 02:03] w3sip opened #53467 "MacOS: Problem getting numpy include path."
<em>Please make sure that this is a bug. As per our
**Describe the current behavior**
I am able to build on my development Mac. However, running on the CI Mac node, we get an error that looks like this:

[code]

The only difference is, CI node uses Homebrew python 3.8, while the dev system is using system python.
I've tried using venv on both machines, which doesn't change the outcome.
I've also a

[2021-12-17 02:12] tilakrayal commented on #53451
@Saduf2019 ,
I was able to reproduce the issue in tf v2.7, v2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/f6426f728b851140c5a515b19921be4a/53451.ipynb).

[2021-12-17 02:31] #38711 closed

[2021-12-17 02:31] #24005 closed

[2021-12-17 02:31] #22646 closed

[2021-12-17 02:32] #23679 closed

[2021-12-17 03:28] #52676 closed

[2021-12-17 04:21] mohantym commented on #53466
Hi @abhmul ! According to this [document](https://www.tensorflow.org/api_docs/python/tf/debugging/assert_type#args), Supported tensor types are -A Tensor, SparseTensor or tf.Variable . Attaching resolved [gist](https://colab.sandbox.google.com/gist/mohantym/08e1b9b15481d5281ccd5004f8ec1338/github_53466.ipynb#scrollTo=l4DULmprhfKW) for reference. Thanks!

[2021-12-17 04:25] mohantym commented on #53462
Hi @Saduf2019! Could you please look at this issue?

[2021-12-17 04:56] JustinWickMS commented on #50458
@mihaimaruseac: Is there something concerned parties can do to help you get permission/bandwidth to work this issue, or give to another? This is a pretty egregious error.

[2021-12-17 05:10] tilakrayal commented on #53455
@csdf-ssm ,
In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.

[2021-12-17 05:11] tilakrayal commented on #53455
Also please take a look at this issue [1](https://github.com/tensorflow/tensorflow/issues/33976) and [2](https://github.com/tensorflow/tensorflow/issues/39803) with the similar error.It helps.Thanks!

[2021-12-17 06:16] tilakrayal commented on #53459
@saddamhijazi ,
I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/6b3c40e17ad26a4b74c8c98a2a60cc16/untitled1488.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-12-17 06:16] tilakrayal commented on #53459
Also please try to test your code in latest tf v2.7 and let us know if the issue still persists.Thanks!

[2021-12-17 06:48] Victoria-1 commented on #53431
Thanks for your replying. I thought I mixed the environment. For I tried to install tensorflow and pytorch the same time, but the newest version of pytorch just supports cuda11.3.  That means I have both cuda11.5 in system and 11.3  in virtual environment.
I uninstalled the all the packages and created a conda environment, reinstalled cuda11.0.2 toolkit and cudnn8.0.5 which support both tensorflow

[2021-12-17 06:49] Victoria-1 commented on #53431
Thanks for your replying. I thought I mixed the environment. For I tried to install tensorflow and pytorch the same time, but the newest version of pytorch just supports cuda11.3.  That means I have both cuda11.5 in system and 11.3  in virtual environment.
I uninstalled the all the packages and created a conda environment, reinstalled cuda11.0.2 toolkit and cudnn8.0.5 which support both tensorflow

[2021-12-17 06:50] #53431 closed

[2021-12-17 07:48] tchaye59 commented on #39542
I had similar issue and this trick works for me

[code]

[2021-12-17 07:59] ghylander commented on #53280
let me also add:
ultimately, what i'm trying to achieve is to get the filenames of the elements in the dataset.

When first creating the tf.data.Dataset object with `tf.keras.preprocessing.image_dataset_from_directory()`, the oject has the `file_paths` attribute, which returns a list of the full file path including file name.

The `file_paths` attribute however is lost when a method is applied

[2021-12-17 08:06] mohantym commented on #41340
Hi @esdrascosta ! I was able to load the model by putting full path of checkpoints folder. Attaching [gist ](https://colab.sandbox.google.com/gist/mohantym/b7826839a1ab6c95f81f8ddcee58b83e/untitled133.ipynb#scrollTo=h65EkFu9RByu)in 2.7 for reference. Thanks!

[2021-12-17 08:27] gcuder opened #53470 "EinsumDense layer ignores `global_dtype_policy` when imported in a certain way"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 11.5.1
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): `2.6.2`
- Python version: `3.8`

**Describe the current behavior**

I tried using the `EinsumDense` layer

[2021-12-17 08:38] sushreebarsa commented on #53456
@snehalstomar You can only convert tensors to numpy arrays during Eager execution. Since you're using a version older than 2.0 this is not enabled by default.
In any case, you can call this after importing tensorflow;
`tf.compat.v1.enable_eager_execution()`

Depending on your framework and usecase, you might also have to run tf.config.run_functions_eagerly (if you have tf.function defined anywhere

[2021-12-17 08:47] zhjunqin commented on #31349
try link cuda headers to tensorflow path, for example:

[code]

[2021-12-17 08:48] sushreebarsa commented on #53470
@gcuder
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-17 09:07] usuku-hideki commented on #35506
@karimnosseir
I built the Heagon SDK version 3.5.4 and created libhexagon_nn_skel.so.
I built the tensorflow library with bazel and created libhexagon_interface.so.

None of the files have been changed.
I guess I should change some settings in the dependency files, but I don't know where to change to get the libhexagon_interface.so that uses Hexagon SDK 3.5.4.
If you know, please let me know.

[2021-12-17 09:25] sushreebarsa commented on #53446
@PatriceVignola
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-17 09:40] sushreebarsa commented on #53400
@wangwei-cmd In the above [comment](https://github.com/tensorflow/tensorflow/issues/53400#issuecomment-992187042) could you please check  code [script URL](https://github.com/tensorflow/tensorflow/issues/url) and provide the correct one?Thanks!

[2021-12-17 09:48] AdrianFuchsData commented on #53435
Alright, let's discuss the issue here: https://github.com/keras-team/keras/issues/15807

[2021-12-17 09:48] #53435 closed

[2021-12-17 10:01] tbikash62 commented on #32809
Hello

How can we do this for .pb files.

The solution available doesn't work for TF2.5 and above

[2021-12-17 10:23] Saduf2019 commented on #53395
@jocampo2
Please refer to [the gist](https://colab.research.google.com/gist/Saduf2019/78cdd298fd13ee3e3d8518b087acb202/untitled652.ipynb) attached for tf 2.7

[2021-12-17 10:34] DanBmh commented on #53284
I found the error. The problem is that I'm using an optimizer with CosineDecaying learning rate schedule. To match the decay steps to the epoch number the steps per epoch are required which I calculated with:
 `steps_per_epoch = tf.data.experimental.cardinality(dataset_train).numpy()`

This works when the dataset is created with `from_tensor_slices`, but when `from_generator` is used instead, a ne

[2021-12-17 10:52] tilakrayal commented on #53463
@walex ,
 In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.

[2021-12-17 10:53] tilakrayal commented on #53463
Also please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/39024) with the similar error.It helps.Thanks

[2021-12-17 11:20] ThanasisGiak commented on #53370
After, studying carefully  Tensorflow's github repository I found kernel_util.cc file and [CalculateActivationRangeUint8](https://github.com/tensorflow/tensorflow/blob/4952f981be07b8bf508f8226f83c10cdafa3f0c4/tensorflow/contrib/lite/kernels/kernel_util.cc#L41) function. So using this function, I managed to understand why quantized fused ReLu6 Conv2D layer's output tensor is not clipped between [0,

[2021-12-17 11:20] #53370 closed

[2021-12-17 11:31] #53289 closed

[2021-12-17 12:01] sushreebarsa commented on #53372
@adjhawar
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-12-17 12:32] tilakrayal commented on #53467
@w3sip ,
Can you please take a look at this SO link [1](https://stackoverflow.com/questions/60453261/how-to-default-python3-8-on-my-mac-using-homebrew),[2](https://stackoverflow.com/questions/60435566/python-official-newest-version-homebrew-version-and-installed-version-differ-on) and [issue](https://github.com/tensorflow/tensorflow/issues/51352) with the similar error.It helps.Thanks

[2021-12-17 12:38] fmoessbauer commented on #50147
I'm currently trying to package TF 2.5.1 for Debian as well, but this one is a showstopper.

[2021-12-17 12:56] brsolomon-deloitte commented on #53462
I believe the root of this is that `grpc-cpp` 1.42 gets installed by those previous requirements from reqs.txt, and is unable to downgrade to >=1.39.1,<1.40.0a0.

Suffice it to say, we have had a miserable time trying to install any version at all of `tensorflow-cpu` alongside this list of scientific computing packages.

[2021-12-17 13:05] brsolomon-deloitte commented on #53462
FYI I have opened a separate issue at https://github.com/mamba-org/mamba/issues/1354. This install also fails using `conda`, and takes quite literally over an hour to fail to solve.

[2021-12-17 13:32] anth2o opened #53471 "Can't install packages within docker image 2.7.0-gpu on Mac OS"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 12.0.1
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): docker (Docker version 20.10.10)
- TensorFlow version: 2.7.0
- Python version: from docker
- Installed using virtualenv? pip? conda?: docker
- Bazel version (if

[2021-12-17 14:18] Saduf2019 commented on #53280
@ghylander
On making a few changes I do not see the error, please find the gist [here](https://colab.research.google.com/gist/Saduf2019/86455b19d976848a414ce8a0719f65d9/untitled650.ipynb), you may also try:
for i in win_train_dataset:
  for np.j in i:
    print(j)

Please create an issue at discussion forum for any further queries as this is not a bug or feature request.

[2021-12-17 14:31] tilakrayal commented on #53441
@MichaelXCChen ,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.As mentioned I was able to run the code without any issues on TF v2.7.Could you please create a virtual environment and test your code again. It helps. Thanks!

[2021-12-17 14:57] NamanDubey03 opened #53472 "error in running application and this error is showing"
Traceback (most recent call last):
  File "E:\New folder\face_mask\facemask1\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found.

During handling of the above exception, another exception occur

[2021-12-17 15:21] khatrishubham88 commented on #53398
@Saduf2019 :bump:

[2021-12-17 16:09] mohantym commented on #15134
Hi @fedden !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. We recommend you try updating your code base to[ 2.7](https://www.tensorflow.org/api_docs/python/tf/signal/stft) and check whether issue exists or not?   Thanks!

[2021-12-17 16:14] mohantym commented on #18297
Hi @TwoRice !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Have you tried [latest version](https://www.tensorflow.org/install/gpu)(2.7) yet? Thanks!

[2021-12-17 16:22] mohantym commented on #18491
Hi @SimpleJian !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Could you try again after changing your code base to [2.7](https://www.tensorflow.org/addons/api_docs/python/tfa) with addons? Thanks!

[2021-12-17 16:31] #53191 closed

[2021-12-17 16:51] tilakrayal commented on #53472
@NamanDubey03 ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from the issue with similar error.It helps.Also in order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy)

[2021-12-17 18:25] frgfm commented on #53345
Hi @sanatmpa1, thanks for the reply!

However, I'm not sure I follow here: the reason why I create the model output in `tf.float16` is because that's what comes out of keras model in this dtype_policy (at least in my short experience with mixed precision in TF). So are you suggesting to cast the model output to float32 before sending it to the loss?

If so, shouldn't users be able to use this poli

[2021-12-17 19:34] MichaelXCChen commented on #53441
@tilakrayal
Thank you for the response. What version of tensorflow-metal are you running the code on? Is it 0.3.0?

[2021-12-17 19:43] searlmc1 opened #53475 "Remove references to HCC"
https://github.com/tensorflow/tensorflow/blob/b56e6db5e7cccfffa824bbc1b5e018c6cc413c21/tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc#L739

HCC was removed from ROCm in Summer 2020; references to it are likely cruft / removable.

Mark

[2021-12-17 20:27] sachinprasadhs commented on #41780
I have tried to limit the GPU memory to 4096 and run the `Xception` model and I did not get any `ResourceExhaustedErrror` please find the Tensorflow 2.7 gist [here](https://colab.research.google.com/gist/sachinprasadhs/2bbf5d1bdf2a5d7b2fbae9e5a78ad921/untitled309.ipynb). Thanks!

[2021-12-17 20:32] wenscarl opened #53476 "Performance regression for FP16 Relu kernel from TF2.6 to TF2.7"
**Current behavior**
Migrating from TF2.6 to TF2.7 FP16 Relu kernel has changed from EigenMetaKernel to MLIR.
Tested on Volta and Ampere, the memory throughput gets halved and compute throughput is also reduced. Collected by nsight compute.
| Throughput %                    | compute | memory |
|---------------------------------|---------|--------|
| EigenMetaKernel                 | 35.79   | 84.

[2021-12-17 20:34] sachinprasadhs commented on #41587
Could you please confirm if the reported issue is still exists.
If you still face the issue please open this issue on keras-team/keras repo.

To know more see;
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thank you!

[2021-12-17 20:40] sachinprasadhs commented on #43200
This is working fine without breaking in `Tensorflow 2.7` and `Tensorflow Addons 0.15.0 `version, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/720d071e3b6950bb79d6d8a97effb7aa/43200.ipynb) for reference.
Feel free to  reopen the issue if you still face an issue. Thanks!

[2021-12-17 20:40] #43200 closed

[2021-12-17 20:46] sachinprasadhs commented on #42664
The Colab link which you have provided is expired, could you please share the code again to reproduce the reported behavior and there is a possibility of improvement in performance in the latest Tensorflow version. Thanks!

[2021-12-17 21:31] #50326 closed

[2021-12-17 22:27] sachinprasadhs commented on #45209
I'm able to see less memory consumption in `Xception` model than the `InceptionResNetV2`, please find the gist reference for [Xception](https://colab.research.google.com/gist/sachinprasadhs/27cbf439a4d8c603f4372e612b689b4e/xception.ipynb) and [InceptionResNetV2](https://colab.research.google.com/gist/sachinprasadhs/64c8fdbd966e46a9ea18a662b817bde4/inception.ipynb)

[2021-12-17 22:41] sachinprasadhs commented on #43195
I'm able to run your code in Tensorflow 2.7 and the latest transformers version without any error.
[Here](https://colab.research.google.com/gist/sachinprasadhs/8c76f9e7d7293dcf6657d6627c984ee6/untitled413.ipynb) is the gist for reference.
Feel free to reopen the issue if you still face an error. Thanks!

[2021-12-17 22:41] #43195 closed

[2021-12-17 23:20] jimfcarroll commented on #38303
Did you ever get an answer to this?

[2021-12-18 00:14] sachinprasadhs commented on #46401
It is used in [ImageDataGenerator's](https://github.com/keras-team/keras/blob/v2.7.0/keras/preprocessing/image.py#L597-L1137) [flow_from_directory](https://github.com/keras-team/keras/blob/v2.7.0/keras/preprocessing/image.py#L898) where it [returns](https://github.com/keras-team/keras/blob/v2.7.0/keras/preprocessing/image.py#L976) `DirectoryIterator`.
It is not directly exposed with export but int

[2021-12-18 00:35] sachinprasadhs commented on #46436
Hi, Now it produces accuracy for both `metrics=['accuracy'] `and `metrics=['Accuracy']`, please find the gist [here](https://colab.research.google.com/gist/sachinprasadhs/7e1091663e53f045096817b81461eab1/untitled619.ipynb#scrollTo=DkmS3e3uZOuc) and conform the same. Thanks!

[2021-12-18 00:41] suyash-narain opened #53478 "how to change model from default efficientnet_lit0 in tflite model maker image_classifier.create()"
Hi,

I wanted to know in tflite model maker, if i want to use a custom model and not the default model to train and quantize with custom data, how do i do that? image.classifier.create() seems to be using efficientnet_lite0 as default and i cannot seem to change it to any other model, say mobilenet_v2.

thanks

[2021-12-18 01:32] #45874 closed

[2021-12-18 02:31] #51811 closed

[2021-12-18 04:07] hasinonpc opened #53482 "ImportError: DLL load failed while importing trace: The specified module could not be found."
OS Name	Microsoft Windows 10 Pro
Version	10.0.19044 Build 19044
Other OS Description 	Not Available
OS Manufacturer	Microsoft Corporation
System Name	DESKTOP-045H3MF
System Manufacturer	LENOVO
System Model	80XL
System Type	x64-based PC
System SKU	LENOVO_MT_80XL_BU_idea_FM_ideapad 320-15IKB
Processor	Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz, 2712 Mhz, 2 Core(s), 4 Logical Processor(s)
BIOS Version/

[2021-12-18 10:08] llan-ml commented on #29198
@sushreebarsa The issue still persists. You should use `tf.function(foo)(x)` instead of `tf.function(foo(x))`.

[2021-12-18 11:22] ice-tong commented on #48204
Hello, is there any update about this issue.

[2021-12-18 12:11] xuChenSJTU commented on #35631
@yongzhuo Hi, I also met this problem. I tried  'tf.reduce_mean', but it does not work

[2021-12-18 12:12] xuChenSJTU commented on #35631
@yongzhuo Do you have other advice? Thanks~

[2021-12-18 13:08] tekumara commented on #50487
I think this happens because MirroredStrategy [creates a multiprocessing ThreadPool](https://github.com/tensorflow/tensorflow/blob/9eb5fdf99053625f6e870e895a7cce6d1d3ed752/tensorflow/python/distribute/cross_device_ops.py#L1104), but doesn't close it before your program ends, so its resources aren't properly cleaned up and it errors on shutdown.

You can explicitly close the pool on exit using:
[co

[2021-12-18 13:36] naveen-marthala commented on #52793
@jvishnuvardhan, opened it [here in keras repo](https://github.com/keras-team/keras/issues/15808).

[2021-12-18 13:36] #52793 closed

[2021-12-18 15:18] nitolpalak commented on #53382
Hello @sushreebarsa I have checked the above issues and comment as you have mentioned.
According to [issue1](https://github.com/tensorflow/tensorflow/issues/53054), The problem seems to be in CUDA installation, But in my case I am trying to install the CPU-only version.
According to [issue2](https://github.com/tensorflow/tensorflow/issues/51841), the problem was solved after enabling Long Path of

[2021-12-18 15:43] nitolpalak commented on #53382
According to the [comment](https://github.com/tensorflow/tensorflow/issues/53007#issuecomment-965028450)-
My Processor is `Intel(R) Core(TM) i7-9700 CPU @ 3.00 GHz`
I have installed MSVC++ Redistributable from [this link](https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170)
My Python info: `Python 3.8.0 (tags/v3.8.0:fa919fd, Oct 14 2019, 19:37:50) [MSC v.1916 64 b

[2021-12-18 16:35] tilakrayal commented on #33967
@ouakif ,
As commented above please feel free to close this issue here and post in Keras repo.Thanks

[2021-12-18 16:49] tilakrayal commented on #32903
@FLming ,
Related PR was merged.Can you please let us confirm if the issue has resolved with the merged PR.

[2021-12-18 17:04] tilakrayal commented on #29874
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-18 17:50] dbolshak commented on #52672
I've tried TensorFlow 2.6.0 and 2.7.0 on python versions 3.8 and 3.9. Unfortunately none above solves `Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.`

[2021-12-18 23:04] rnett commented on #38303
You'll have more luck making Java issues on [tensorflow/java](https://github.com/tensorflow/java) directly.  What you're looking for are the [`Session`](https://www.tensorflow.org/jvm/api_docs/java/org/tensorflow/Session#Session(org.tensorflow.Graph,%20org.tensorflow.proto.framework.ConfigProto)) and [`EagerSession`](https://www.tensorflow.org/jvm/api_docs/java/org/tensorflow/EagerSession#options(

[2021-12-19 00:19] tekumara commented on #50487
This happens in TF 2. 7 too with python 3.9

I think it's because MirroredStrategy [creates a multiprocessing ThreadPool](https://github.com/tensorflow/tensorflow/blob/9eb5fdf99053625f6e870e895a7cce6d1d3ed752/tensorflow/python/distribute/cross_device_ops.py#L1104), but doesn't close it before the program ends, so its resources aren't properly cleaned up and it errors on shutdown.

You can explicit

[2021-12-19 07:03] svpino commented on #46401
If the class was exported, we could extend it to change its default behavior. For example, `DirectoryIterator`, `NumpyArrayIterator`, `ImageDataGenerator`, etc. are all exported.

Can we also export `DataFrameIterator`?

[2021-12-19 07:32] don-tpanic commented on #45962
Having the exact same issue. Set `workers=1` seems to suppress this behaviour.

@jvishnuvardhan Any updates? Thank you!

[2021-12-19 07:44] sushreebarsa commented on #53482
@hasinonpc
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-19 07:44] sushreebarsa commented on #53475
@searlmc1
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-19 08:43] aliencaocao opened #53485 "Saved model evaluate and validation always giving 0.50 accuracy despite reaching 96% on exact same data during training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 21h2
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):  binary
- TensorFlow version (use command below):  v2.7.

[2021-12-19 11:23] ablanch5 opened #53486 "No way to unstack ragged tensors"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: NO
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: COLAB
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue
    happens on a mobile device**: N/A
-   **TensorFlow installed from (source or binary)**: N/A
-   **TensorFlow version

[2021-12-19 12:23] Suzan009 opened #53487 "F2 Score and mAP metric for object detection model."
I didn't find a metric regarding the object detection task in keras.

How to implement the above two metrics in keras and use them? In this competition, https://www.kaggle.com/c/tensorflow-great-barrier-reef/overview/evaluation uses the F2 score for its object detection task but I don't know how to evaluate my model locally with this score?

[2021-12-19 15:24] yakovdan commented on #53423
Hi, are there any updates on this issue?

[2021-12-19 15:30] Chaudry24 opened #53488 "Tensorflow.fit method is using 3 times more memory than it should"
Hi!

I am running two near-identical scripts. The code is provided in the following links:
script1.py: https://pastebin.com/66i8kEnK
script2.py: https://pastebin.com/AWfQUguq

The code for the helper-function which is in some_file_1.py:
helper.py: https://pastebin.com/fXgWcuz5

script1.py is using a 3 times more memory than script2.py. The only main difference between the two is that, in script1,

[2021-12-19 17:22] anthonymobile commented on #52672
deadend here, as well after following both the [Apple](https://developer.apple.com/metal/tensorflow-plugin/) and [MakeOptim](https://makeoptim.com/en/deep-learning/tensorflow-metal) instructions on a new MBA M1

[code]

here is my mambaforge environment
[code]

[2021-12-19 20:19] 1860yk commented on #40942
Hey, did 2.7 fix this issue?

[2021-12-19 21:19] edmondja commented on #47597
I almost had the same problem and I solved it this way :
conv1.non_trainable_weights.append(conv1.trainable_weights.pop(0)).

It was useful for me in order to prevent depthwise weights to train in a SeparableConv1D.

[2021-12-19 21:22] abhmul opened #53489 "Off by one discrepancy for tf.nn.conv1d between cpu and gpu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information (CPU Tensorflow code)**
- Have I written custom code (as opposed to using a stock example script provided in Tenso

[2021-12-19 21:32] saddamhijazi commented on #53459
Sorry for the error, I forgot to include this line

`pi = tf.constant(m.pi)`

Now the code runs in a normal way without error, I don't know if the problem is caused by the tensorflow version on my laptop. May I ask you if it is possible to install the latest version using anaconda ?

In the following repository the latest available version is 2.6 not 2.7

https://repo.anaconda.com/pkgs/main/linux-

[2021-12-19 22:53] eyildiz-ugoe commented on #26268
This isn't solved.  I was able to reproduce the error even after passing the suggested line after the compile() function is called.

[2021-12-20 00:21] Nizarazo commented on #53202
Hi @sachinprasadhs

Can you explain what do you mean by "awaiting tensorflower" status? and is there a real person with user name "learning-to-play" or it is a bot?

Thanks

[2021-12-20 02:22] IEPiXI commented on #44462
Are there any new findings/solutions to this problem yet? I'm encountering the same issue and could need some help.

[2021-12-20 02:30] abhmul commented on #53466
Could we make this a feature reqeust? I don't see the option for me to change the labels.

[2021-12-20 05:05] #53294 closed

[2021-12-20 05:39] mohantym commented on #53471
Hi @Saduf2019 ! Could you please look at this issue?

[2021-12-20 05:44] mohantym commented on #53476
Hi @wenscarl ! Could you please provide a minimal stand alone code to reproduce this issue?

[2021-12-20 05:59] adjhawar commented on #53372
@sushreebarsa
model = tf.saved_model.load("attached model")
print(model.signatures("serving_default").variables)
print(model.variables)

Print statement ----->
{}
error

[2021-12-20 06:23] raoshenglong commented on #53453
@sushreebarsa should i submit a PR ？ or someone will fix docs bug together?

[2021-12-20 06:39] mohantym commented on #53466
@chunduriv ! Could you please look at this feature request?

[2021-12-20 07:13] chunduriv commented on #53352
@jaeyung1001, Sorry for late response.

Can you please confirm that you have followed steps mentioned below?

#Set Up Anaconda Environments
`conda create --name tf_gpu python=3.8
`
#Activate the new Environment
`source activate tf_gpu
`
#Install CUDA and cuDNN
`tf_gpu$conda install -c anaconda cudatoolkit=11.2 cudnn=8.1
`
#Install Tensorflow
`tf_gpu$ pip install tensorflow-gpu==2.6`

[2021-12-20 07:50] aetherwind commented on #53293
When running the original Hello World after changing input and output quantization from int8 to uint8 I get the following error when making the Cpp (running with int8 quantization works):

[code]

Is uint8 currently really an implemented quantization?

[2021-12-20 07:57] woojinn8 opened #53491 "Error occur: undefined reference when trying to ndk-build to run tflite example"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 14.04
- Mobile device (

[2021-12-20 08:04] tilakrayal commented on #53478
@suyash-narain ,
We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced] or if possible share a colab gist with the issue reported.

[2021-12-20 08:05] #25341 closed

[2021-12-20 08:53] mohantym commented on #53485
Hi @aliencaocao !
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-12-20 08:59] aliencaocao commented on #53485
Ok i have transferred it. Will close this now, thanks!

[2021-12-20 08:59] #53485 closed

[2021-12-20 09:05] #53222 closed

[2021-12-20 10:48] RafalSkolasinski commented on #35995
Couldn't summary method just take an extra argument to provide more verbose info optionally?

[2021-12-20 11:16] Saduf2019 commented on #12853
@Randl
Please move this to closed status as it is not an issue anymore.

[2021-12-20 11:28] Saduf2019 commented on #25433
@dynamicwebpaige
As per this [link](https://github.com/tensorflow/models/blob/master/official/transformer/v2/transformer_main.py), can you please move this to closed status.

[2021-12-20 11:41] aviaisr commented on #53247
Hi,
I continued debugging and tried training different versions and I suspect that the problem is different. I get matching results CPU and DSP when the maps contains low values, and none matching results when the maps contain high values. Hence, I suspect it is an overflow issue and that the values are being clamped.

[2021-12-20 12:05] #53314 closed

[2021-12-20 12:05] #53309 closed

[2021-12-20 12:09] mohantym commented on #53488
Hi @Chaudry24 ! Could you please provide the above code as Colab gist as its hard to replicate to this issue because of missing .py and .npy files.

[2021-12-20 12:15] Paulito-7 commented on #53471
Just built the Dockerfile you provided @anth2o, it seems that this issue didn't occur on my side.
For information I am using Mac OS 10.14.6.

[2021-12-20 12:41] apcode commented on #39056
@tilakrayal your "commented" link links to this thread, not the tensorflow documentation. I presume you mean the serialize_tensor page:  https://www.tensorflow.org/api_docs/python/tf/io/serialize_tensor

[2021-12-20 12:49] tilakrayal commented on #53489
@abhmul ,
I was able to run the code without any issues on TF v2.7. Please find the gist [1](https://colab.research.google.com/gist/tilakrayal/fb0f066ca7955cdc7a8f88b1cb2eee5f/53489-cpu.ipynb) and [2](https://colab.research.google.com/gist/tilakrayal/a83c1ac1f61891dad6545c11f9a963fa/53489-gpu.ipynb) of it here.

[2021-12-20 12:51] apcode commented on #39056
Looking at this comment in https://www.tensorflow.org/api_docs/python/tf/io/serialize_tensor

[code]

It calls serialized_nonscalar.numpy().  So this takes it out of the graph IIUC.

My original problem was I was processing 100Ms of examples and it was extremely slow to keep jumping out of the graph to store a tf.train.Example. E.g. using tf.io.write_file(serialized_tensor) to save results inside

[2021-12-20 13:05] #41610 closed

[2021-12-20 13:05] #26997 closed

[2021-12-20 13:09] raduslmn commented on #53101
We are having the same issue tf 2.7.0 when converting to tflite
`TensorListFromTensor, TensorListGetItem, TensorListReserve, TensorListSetItem, TensorListStack`
We try avoiding selected ops as well as the code runs with tflite alone on the inference machine.

[2021-12-20 13:24] tilakrayal commented on #53441
@MichaelXCChen ,
Since its not a bug from TF end and you also mentioned that the issue is with M1, Can you try posting your question in this tf-metal [developer forum of Apple](https://developer.apple.com/forums/tags/tensorflow-metal)? Thanks!

[2021-12-20 13:27] Saduf2019 commented on #53471
@anth2o
Could you please verify if you have followed all steps, if possible please try on tf 2.6 and let us know.

[2021-12-20 13:28] Saduf2019 commented on #53462
@brsolomon-deloitte
Could you please try a version below and let us know.

[2021-12-20 13:30] brsolomon-deloitte commented on #53462
What is "a version below"? This install fails with both tensorflow-cpu==2.6.0 and tensorflow-cpu==2.6.2.

[2021-12-20 13:30] DanBmh commented on #53284
You can still find it at: https://gitlab.com/DANBER/Pingoora
I now have deleted most extra parts, except the datasets and training related scripts.

[2021-12-20 13:34] walex commented on #53463
Hello, this is the complete code: (Its a big system so I remove some no needed parts)

// C++

 jlong JNICALL Java_com_dsense_PersonScannerWrapper_nativeInit(JNIEnv* env, jobject thiz , jstring modelPath, jboolean forceDSPProcessing) {

	const char* pModelPath = env->GetStringUTFChars(modelPath, 0);

	// load model
	TfLiteModel* model = TfLiteModelCreateFromFile(modelPath.c_str());

	// create int

[2021-12-20 13:53] jonas-eschle commented on #35010
I can confirm that it still exists (tested with nightlies), I've updated the snippet

[2021-12-20 14:08] vlawhern commented on #30161
I know this is a pretty old thread but just wanted to add some more info for this for those who may still be interested...

I tested the PR from @LukeBolly that implements the masking in BatchNormalization (https://github.com/tensorflow/tensorflow/pull/30298) in TF 2.4 and it works when the input is 1D; however when it's a 2D input you have to pass in ```fused=False``` when defining the ```BatchNo

[2021-12-20 14:23] vlawhern commented on #45746
Just circling back to this...

I successfully compiled a newer version of TF (TF 2.5.2, CUDA 11, cuDNN 8) without problems and without having to do the fixes I described above. So I believe this is no longer an issue (and the problems I had with Eigen were resolved in https://github.com/tensorflow/tensorflow/issues/44626).

[2021-12-20 14:23] #45746 closed

[2021-12-20 15:05] #46770 closed

[2021-12-20 15:57] altruistcoder commented on #53190
Hello @tilakrayal, I have tried asking this on the Tensorflow's forum as well but I haven't got any reply there as well. You can find the topic I created here:
[https://discuss.tensorflow.org/t/importing-models-directly-into-python-variables-from-model-files-stored-in-s3-bucket/6538](https://discuss.tensorflow.org/t/importing-models-directly-into-python-variables-from-model-files-stored-in-s3-buck

[2021-12-20 15:57] anth2o commented on #53471
@Saduf2019 I tried reproducing the issue after cleaning all my docker cache (`docker system prune -a`), and it didn't happen again. Maybe the `tensorflow/tensorflow:2.7.0-gpu` image I downloaded at first was corrupted, but I find it strange that docker didn't catch it.
Thanks for the answer

[2021-12-20 15:57] #53471 closed

[2021-12-20 16:05] #48829 closed

[2021-12-20 16:25] tilakrayal commented on #53459
@saddamhijazi ,
Installation issues within the Anaconda environment are tracked in the Anaconda repo.Thanks!

[2021-12-20 16:50] sachinprasadhs commented on #53293
You can refer [this](https://www.tensorflow.org/lite/performance/quantization_spec) document for details.

[2021-12-20 16:54] mihaimaruseac commented on #47691
I think this is now resolved

[2021-12-20 16:54] #47691 closed

[2021-12-20 17:38] sachinprasadhs commented on #53321
e-7 or higher floating point precision error is expected and are negligible which does not impact much on the overall precision/accuracy.

[2021-12-20 18:11] jvishnuvardhan commented on #45078
@zaccharieramzi Looks like this was resolved in `TF2.7`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/0607382ea383bad03880633fc8118bbe/model_direct_weights_not_saved.ipynb) is a gist for reference.

`model.b`
<tf.Variable 'bias:0' shape=() dtype=float32, numpy=1.9999998>

`other_model.b`
<tf.Variable 'bias:0' shape=() dtype=float32, numpy=1.9999998>

Can you please verify once and

[2021-12-20 18:20] jfbrennan commented on #39729
A comparison table would be very helpful for folks new to TF

[2021-12-20 18:35] lamberta commented on #49389
404 page WAI, as far as I can tell.

[2021-12-20 18:35] #49389 closed

[2021-12-20 18:38] jvishnuvardhan commented on #46361
@robinvanschaik Is this still an issue for you?
You are trying to load a Tensorflow model as a keas model. When you load the model as a TF model, everything works as expected. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/badf69e20d2a6a4f3f01d805efc83738/untitled418.ipynb).

[code]

[2021-12-20 18:41] lamberta commented on #42168
Closing this issue since work was done and there's no specific action item left. Thanks

[2021-12-20 18:41] #42168 closed

[2021-12-20 19:04] robinvanschaik commented on #46361
Hi @jvishnuvardhan,

Thanks for coming back to me. Unfortunately, I cannot verify whether this would have solved my issue.

I have switched companies and do not tackle my use case with TFX.

[2021-12-20 19:47] davidsc-unity3d commented on #33755
I added an alternative workaround to https://stackoverflow.com/a/70427151/2280020, @umbra-scientia

[2021-12-20 20:57] ipcamit opened #53494 "Tensorflow `tf.function` fails if function is called with two identical arguments"
In my TF model, my call functions calls an external energy function which is dependent on a function where single parameter is passed twice (see simplified version below):
[code]

Here if gamma is passed only once, or if I do not use `tf.function` decorator. But with `tf.function` and passing same variable twice, I get the following error:
[code]

Is this expected behaviour?

**System information*

[2021-12-20 21:05] Fer020707 commented on #53281
Hello, in my case I am importing the following libraries while I run the example that comes as basic text classification in the official documentation of the tensorflow page (https://www.tensorflow.org/tutorials/keras/text_classification?hl=es-419). But I get the same error. My version of tensorflow is 2.7.0

`import matplotlib.pyplot as plt
import os
import re
import shutil
import string
import t

[2021-12-20 21:42] sachinprasadhs commented on #52348
Note that gradient of NN is a list of Tensors, not scalars and in the code it internally calls `tf.clip_by_global_norm` check [here](https://github.com/keras-team/keras/blob/v2.7.0/keras/optimizer_v2/optimizer_v2.py#L428-L439) and [here](https://github.com/keras-team/keras/blob/2c48a3b38b6b6139be2da501982fd2f61d7d48fe/keras/optimizer_v2/utils.py#L106).
In future with the new release of keras optim

[2021-12-20 21:43] isaacgerg commented on #52348
@ sachinprasadhs  This sounds great!  Thank you for your efforts!

[2021-12-20 21:43] #52348 closed

[2021-12-20 21:55] karimnosseir commented on #53380
I just tried our image classification [example](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android) and added code to use hexagon delegate.

To make sure we have similar setup, can you share your project, or try from the example as i mentioned earlier.

If you don't want to share here, you can send it to me on email - same name as here at google dot com

[2021-12-21 00:03] wolffg commented on #53216
@markmcd might also look at this.

[2021-12-21 00:05] #47685 closed

[2021-12-21 01:05] #29359 closed

[2021-12-21 01:05] #39830 closed

[2021-12-21 01:54] Niuxiaotong commented on #53404
@jvishnuvardhan what about this question?

[2021-12-21 04:35] mohantym commented on #53494
Hi @Saduf2019 ! Could you please look at this issue? It's replicating in [2.6](https://colab.sandbox.google.com/gist/mohantym/ae7eb60bf54e07d6fe210b1ebeb0a065/github_53494.ipynb#scrollTo=D8-xWSqcM3pT) and [2.7](https://colab.sandbox.google.com/gist/mohantym/2c2af612a69e31ba45f0e42788c445ae/github_53494.ipynb#scrollTo=D8-xWSqcM3pT) . Thanks!

[2021-12-21 04:46] sushreebarsa commented on #53453
@raoshenglong Sorry for the late response!
Please let me know if I should raise a PR on your behalf to fix this issue ?Thanks!

[2021-12-21 04:51] sushreebarsa commented on #53487
@Suzan009
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thanks!

[2021-12-21 05:05] #38043 closed

[2021-12-21 05:09] raoshenglong commented on #53453
@sushreebarsa OK，you can raise a PR to fix it and then close this issue.

[2021-12-21 06:05] #37147 closed

[2021-12-21 06:59] Rahn80643 opened #53497 "Range of parameters while converting to TFLite models"
Hi,

We are trying to apply an INT8 TFLite model to Arm NPU; however, there are some requirements in the operations. For example, convolution must satisfy the (requirements below)[https://github.com/ARM-software/ethos-n-driver-stack/blob/master/SUPPORTED.md#convolution-2d]:
[code]

As a result, is it possible to set the values of input, weight, and output quantization scales in convolution and dep

[2021-12-21 07:03] jimjam-slam commented on #53464
I've been getting the same error trying to install on an M1 Mac for a few months. I've tried to install:

* In a Miniforge3 environment;
* In a Python Docker image;
* In a Miniconda3 x86 environment, using a version of Terminal running through Rosetta.

I was, however, able to install it using a Miniconda environment or a Python Docker image on Windows via WSL2.

[2021-12-21 07:10] aetherwind commented on #53293
Hello sachinprasadhs,
This information is really helpful. Thank you very much!! :)

I did not really find this information, especially, there was no need looking for it, as [https://www.tensorflow.org/lite/performance/post_training_integer_quant](url) (which is the same website) talks about uint8 as it would be the thing to do, e.g. this code example:
[code]
But seems the feature was removed again

[2021-12-21 07:10] #53293 closed

[2021-12-21 07:23] Jackwin commented on #52887
Hi folks, any update about this issue? Thanks

[2021-12-21 08:08] #53432 closed

[2021-12-21 08:23] henghamao opened #53498 "SparseTensor generator for tensorflow keras model training"
We had large data to fit for the model training. And in the model construction, we used tf.keras.experimental.SequenceFeatures, which required the input should be SpareTensor. I tired using generaotr, but did not work for SparsTensor.
Here is the sample code:
[code]

gen() function used to work for normal numpy array generator, but did not work for SparseTensor input. Any advices to the issue?

[2021-12-21 08:26] sushreebarsa commented on #53498
@henghamao
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-12-21 08:30] kaimo455 opened #53499 "Doc Improvement"
https://github.com/tensorflow/tensorflow/blob/c256c071bb26e1e13b4666d1b3e229e110bc914a/tensorflow/python/eager/backprop.py#L812

dz_dy = tape.gradient(z, w)
The Variable `dz_dy` could be more intuitive by renaming to `dz_dw`.

[2021-12-21 08:35] henghamao commented on #53498
Ok, posted to keras-team.
https://github.com/keras-team/keras/issues/15823

[2021-12-21 08:39] sushreebarsa commented on #53498
@henghamao Thank you for the update!
Could you please move this issue to closed status as we will track the other ticket  in keras-team/keras ? Thanks!

keras-team/keras#15823

[2021-12-21 08:44] sushreebarsa commented on #53461
@anhappdev This issue will be closed once the [PR](https://github.com/tensorflow/tensorflow/pull/53468) is merged.Thanks!

[2021-12-21 08:50] csdf-ssm commented on #53455
@tilakrayal  I use yolov5 to train model  and output only 1 data ,so the demo is  not suit me,thanks

[2021-12-21 08:50] #53455 closed

[2021-12-21 09:14] Saduf2019 commented on #53471
@anth2o
Thanks you for your update, glad the issue is resolved.

[2021-12-21 10:05] #53303 closed

[2021-12-21 10:27] kusumlata123 opened #53500 "The TensorFlow contrib module will not be included in TensorFlow 2.0."
WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md
  * https://github.com/tensorflow/addons
  * https://github.com/tensorflow/io (for I/O related ops)
If you depend on functionality not listed there, please file an issue.

W1221 15:55:51.6

[2021-12-21 10:41] mansnils opened #53501 "Batches handled differently in the int reference fully connected kernel"
**System information**
-- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): SHA1: 403b4b19f9d143b4868d8a822c325acb6fdd8704

**Describe the current behavior**
Almost all fully connected kernels handle batches differently than the int8 reference fully connected kernel. Is this really intentional or a bug?

We have seen models (with keep_num_dims=True for fully_c

[2021-12-21 10:52] sushreebarsa commented on #53491
@woojinn8 Could you please have a look at the similar [issue1](https://github.com/tensorflow/tensorflow/issues/39118) , [issue2 ](https://stackoverflow.com/questions/64805224/undefined-references-when-trying-to-use-tensorflow-lite-c-api-built-for-arm64-w)and let us know if it helps?Thanks!

[2021-12-21 10:54] chunduriv commented on #53388
@orlando9427,

Could you please refer similar issues [#36576](https://github.com/tensorflow/tensorflow/issues/36576) and let us know if it helps.Thanks

[2021-12-21 11:05] #36616 closed

[2021-12-21 11:47] elfringham opened #53503 "Build broken by recent commit updating llvm-raw"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 8.5
- Mobile device (e.g.

[2021-12-21 11:51] elfringham commented on #53503
@cfRod @nSircombe

[2021-12-21 11:53] elfringham commented on #53503
Build gets past the failure point at the commit just prior to the one mentioned above.
git checkout 8ae9fff651a617ed102fe51fbea2cdb81e51e1bd

[2021-12-21 12:07] Ghostvv commented on #53321
I have attention intent model and I noticed that the same sentence has different intent prediction depending on the position in the batch. My guess would be that this error got accumulated given many layers

[2021-12-21 12:35] tilakrayal commented on #53497
@Rahn80643 ,
Please take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/48879) and the [link](https://www.tensorflow.org/lite/performance/quantization_spec) for more information on quantization scales.It helps.Thanks!

[2021-12-21 12:42] tilakrayal commented on #53500
@kusumlata123 ,
Please take a look at this issue [link](https://github.com/tensorflow/tensorflow/issues/47204) and the doc [link](https://www.tensorflow.org/guide/migrate) which has more info on tf.contrib.It helps.Thanks!

[2021-12-21 13:01] ricvo commented on #43800
@mdanatg Thanks for the explanations, when you suggest to rebuild tf, how one would go to pass `precompilation` to the `transform_function`, is the `tf.function` decorator somehow calling `transform_function` under the hood or is  this another decorator to call additionally, similarly to `cached_autograph` that you suggest above?

A clarification: AFAIK when (for example) a different numpy array o

[2021-12-21 13:46] riyadfebrian commented on #25866
i ran this error on windows 10 and GTX 1050
- Restarting PC doesnt work
- Kill GPU, flush memory didnt work
- Windows + Ctrl + Shift + B . doesnt work
-  I've make sure nothing change in the code... before this error comes, i've run training for several times w/o error
- make sure adding this snippet code, before any tensorflow calculation
 `physical_devices = tf.config.list_physical_devices('GPU'

[2021-12-21 15:43] mohantym commented on #53499
Hi @chunduriv ! Could you please look at this issue?

[2021-12-21 16:03] sachinprasadhs commented on #53398
@khatrishubham88 , You can refer [this](https://github.com/tensorflow/tensorflow/blob/v2.7.0/tensorflow/python/ops/math_ops.py#L938-L1007) code to start with  `tf.cast`.

[2021-12-21 16:26] ipcamit commented on #53494
Got some hints on StackOverflow, but exact cause and source is not clear: https://stackoverflow.com/questions/70426458/tensorflow-tf-function-fails-if-function-is-called-with-two-identical-argument

[2021-12-21 16:33] ker2x opened #53505 "tf.random is broken on macOS Monterey 12.1"
On a Mac M1 with Tensorflow-metal 0.3.0 and Tensorflow-2.7.0

this code used to generate different sequences but now generate the same sequence :
[code]

It works on CPU, it works on collab, it works on cuda, it used to works on MacOS 12.0.

I tried many workaround like using a generator, but generator can't be used on M1 GPU, eg  :
[code]

[code]

other people reported other problems with various

[2021-12-21 17:09] sushreebarsa commented on #53322
@elfringham This issue will be closed once the [PR](https://github.com/tensorflow/tensorflow/pull/53323) is merged. Thanks!

[2021-12-21 17:10] sushreebarsa commented on #53357
@dnlmlr This issue will be closed once the [PR](https://github.com/tensorflow/docs/pull/1986) is merged.Thanks!

[2021-12-21 17:12] sushreebarsa commented on #53453
@raoshenglong This issue will be closed once the [PR](https://github.com/tensorflow/tensorflow/pull/53496) is merged.Thanks!

[2021-12-21 17:38] #46361 closed

[2021-12-21 18:11] ricvo opened #53506 "Specify what is ag__ in the output of tf.autograph.to_code"
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/autograph/to_code

## Description of issue (what needs changing):
I tried to look everywhere but I could not find what is `ag__`, how could I use the output of `tf.autograph.to_code` with the python interpreter.
I thought the name `ag__` was `tf.autograph` but this module does not have `FunctionScope` for example.
tf.compat.v1

[2021-12-21 18:41] mdanatg commented on #43800
Yes, tf.function calls autograph, from [here](https://github.com/tensorflow/tensorflow/blob/369f2a0ac43cae2f6a486555d870600a5ad8004f/tensorflow/python/framework/func_graph.py#L1136), and autograph eventually calls `transform_function`.

It's true, autograph is called once for each retrace. However, it only really needs to run once, because the transformed code is reused for all future traces. Ther

[2021-12-21 19:05] #36799 closed

[2021-12-21 19:10] ricvo commented on #43800
Thanks a lot for the very clear answers,
I would like to attempt what you suggest, how would you proceed to implement the following steps:
   ` <save nodes and ctx to cache file>` and `nodes, ctx = <import from persistent file>`
are there already some utils to save those that I could use ?

I was also trying an alternative route, of using `tf.autograph.to_code` to output source code interpretable

[2021-12-21 20:21] Fer020707 opened #53510 "AttributeError: module 'tensorflow.compat.v2.__internal__.distribute' has no attribute 'strategy_supports_no_merge_call'"
Hello.
I am importing the following libraries while running the example that comes as the [basic text classification ](https://www.tensorflow.org/tutorials/keras/text_classification?hl=es-419) in the official Tensorflow documentation. But I get an error message. My version of tensorflow is 2.7.0

Running code for which the error occurred:
[code]

Libraries loads:
[code]
Error message:
[code]
Thank

[2021-12-21 21:05] #53207 closed

[2021-12-21 22:39] wenscarl commented on #53476
[code]
The above is a repo code. On TF2.7, I collected nsight-compute profile by
`ncu -k Relu_GPU_DT_HALF_DT_HALF_kernel --target-processes all -f -o repo_TF27  python repo.py`
On TF2.6, kernel Relu_GPU_DT_HALF_DT_HALF_kernel  just doesn't exist, so just  `ncu -k EigenMetaKernel ...`.  For this repo code, no such big difference in memory throughput is observed.  The big difference in last comment

[2021-12-21 22:59] perestoronin opened #53512 "TF2.7 failed build for rocm 4.5"
**System information**
- OS Platform and Distribution : Gentoo OS
- TensorFlow installed from: source
- TensorFlow version: 2.7.0
- Python version: 3.9.9
- Installed using : portage
- Bazel version: 4.2.2
- GCC/Compiler version: 11.2.0
- GPU model and memory: AMD Vega Frontier

**Describe the problem**
[code]
**Provide the exact sequence of commands / steps that you executed before running into th

[2021-12-21 23:05] #52978 closed

[2021-12-22 03:01] zpcalan commented on #51778
Sorry for the late feedback.
I added `tf.debugging.set_log_device_placement(True)` and the output is below:
[code]
The reason I want to see the communication ops is that I'm tring to understand the inner implementation of send/recv ops in parameter server startegy.

Is there a way to visualize it? Because if only computation ops are displayed and no optimizer ops, it may confuse users.

[2021-12-22 03:03] zpcalan commented on #51778
@mohantym Maybe this issue could be reopened. : )

[2021-12-22 03:24] Randl commented on #12853
Not sure why this is non-issue?
Close or equal eigenvalues are currently resulting in (very large) invalid value which is non-infinite just to prevent nans from appearing. This is worse than returning valid (sub-)gradient.

[2021-12-22 03:40] shiyalun commented on #53212
Can anyone help me  analysis it? Thanks

[2021-12-22 04:05] #53316 closed

[2021-12-22 04:31] PatriceVignola commented on #53446
@sushreebarsa Thank you, I updated the issue with the template.

[2021-12-22 05:21] yunruili commented on #39906
no

[2021-12-22 05:39] upwindflys opened #53517 "Can All_gather of collective_ops be used in deep learning model building and reverse optimization of the model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux CentOS 7.6.1810
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.15.

[2021-12-22 06:08] tilakrayal commented on #53505
@ker2x ,
We don't see any issue while running the given code in colab.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/28dd551b99618132c68dc3f85dfde981/untitled149.ipynb). Since its not a bug from TF end and you also mentioned that the issue is with M1, Can you try posting your question in this [tf-metal ](https://developer.apple.com/forums/tags/tensorflow-metal)develo

[2021-12-22 06:17] sushreebarsa commented on #53446
@PatriceVignola Thank you for the update!
We see that you are using `TF v1.12` which is not actively supported ,could you please upgrade to `TF v2.4. or later`(FYI Latest stable TF v2.7.0 )?
This` tf.compat.v1.Session` API was designed for TensorFlow v1. Please check this [details](https://www.tensorflow.org/api_docs/python/tf/compat/v1/Session) on how to migrate from this API to a native TensorFl

[2021-12-22 06:53] leondgarse commented on #40044
I made a work around in my repo [Github leondgarse/keras_cv_attention_models](https://github.com/leondgarse/keras_cv_attention_models), that replacing `Conv2D groups != 1` with `split -> conv -> concat` like
![](https://user-images.githubusercontent.com/5744524/146923045-c817edd2-a74a-42a1-bb17-82481cd0464f.png)
- Basic test:
[code]
We have a discussion here [Freezing a trained keras CV attention

[2021-12-22 07:28] PatriceVignola commented on #53446
I'm not using 1.12, I'm using 2.8.0-dev20211220 (I was also using 2.7.0 and having the same problem). This is a PluggableDevice specific issue, which is a TF 2 feature.

[2021-12-22 07:41] mohantym commented on #53510
Hi @Fer020707 ! I was able to run above [example ](https://www.tensorflow.org/tutorials/keras/text_classification?hl=es-419) in Colab with 2.7 version too. Could you please share a minimal standalone code along other details through [template](https://github.com/tensorflow/tensorflow/issues/new/choose) to reproduce this issue ?Attaching relevant [thread](https://github.com/tensorflow/tensorflow/is

[2021-12-22 07:56] Nikhil-Mudgal commented on #48699
Hey @mdanatg, I am new to open source but want to start contributing to the Tensorflow repo. I am unsure how to start and work on it, Can you please provide me with some resources to start from? I will be highly obliged. Thanks in advance.

[2021-12-22 08:05] #47852 closed

[2021-12-22 09:05] #50223 closed

[2021-12-22 09:05] #46455 closed

[2021-12-22 09:07] chunduriv commented on #53499
@kaimo455,

The issue will move to closed status once the [PR](https://github.com/tensorflow/tensorflow/pull/53518) is merged. Thanks!

[2021-12-22 09:29] michelkok commented on #47691
For me, I could not upgrade to numpy>1.20 with TF 2.6.2 (i.e. the latest). However, after upgrading to TF 2.7.0 it does.

[2021-12-22 09:47] perestoronin commented on #53512
May be issue in theese lines ?
- https://github.com/tensorflow/tensorflow/blob/9cba88624b952cc9f3d382929e4346b752f6ba06/third_party/gpus/rocm_configure.bzl#L711
- https://github.com/tensorflow/tensorflow/blob/b56e6db5e7cccfffa824bbc1b5e018c6cc413c21/tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc#L739
- https://github.com/tensorflow/tensorflow/issues/53475

[2021-12-22 09:48] sushreebarsa commented on #53506
@ricvo
In order to expedite the trouble-shooting process here,Could you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose),
Thanks!

[2021-12-22 09:54] Saduf2019 commented on #53486
@ablanch5
Ragged tensor do not have "len" defined for them because of their dynamic shape capabilities, hence tf.unstack  does not work with ragged tensors.
Kindly open this in discussion forum in case of further queries, and move this to closed status.

[2021-12-22 09:58] tilakrayal commented on #53517
@upwindflys ,
We see that you are using tf version 1.15, 1.x is not actively supported, please update to v2.7 and let us know if you are using same issue.

[2021-12-22 10:44] Rahn80643 commented on #53497
Hi,
The [issue](https://github.com/tensorflow/tensorflow/issues/48879) mentions how to modify the weight values in tflite models, and the [link](https://www.tensorflow.org/lite/performance/quantization_spec) is about the specification of the scales of operations.

The following steps are how we convert pb files to tflite files:
1. load the pb file and set the input and output node name as a tflite

[2021-12-22 10:44] Doev opened #53519 "Tensorflow ist not using full gpu memory"
Systeminformation:

ubuntu-server 20.04
gpu: rtx3060ti
tensor-flow: 2.7.0
driver version: 495.44
cuda: 11.2
cudnn: 8.1.0

I expect that tensorflow would use nearly the full gpu memory not only 6435MiB from 8GB.

test code (jupyter notebook):

[code]

Output:

[code]

[2021-12-22 10:51] ricvo commented on #53506
I am not sure.. you mean the following?

## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/autograph/to_code

Please provide a link to the documentation entry, for example:
https://www.tensorflow.org/api_docs/python/tf/autograph/to_code

## Description of issue (what needs changing):
I tried to look everywhere but I could not find what is ag__, how could I use the output of t

[2021-12-22 11:29] Doev commented on #53519
Wenn I run the code a second time in a new notebook, I get this output:

[code]

[2021-12-22 11:58] tilakrayal commented on #53190
@altruistcoder ,
As it is not a bug or feature request from tensorflow side, we suggest to follow the raise tensorflow forum discussion.Thanks!

[2021-12-22 12:08] ricvo commented on #43800
@mdanatg some further precisations regarding my previous message. I noticed that:

1. `nodes` is a `gast.gast.FunctionDef` object, as you mentioned above it can be transformed to source code with `parser.unparse(nodes)`. In the specific case of the tanh_loop function aboveit leads to the same code that `tf.autograph.to_code` produced, with the only difference being in the fuction name (`tanh_loop`

[2021-12-22 12:11] tilakrayal commented on #46910
I ran the code shared on tf 2.7 and nightly(2.8.0-dev20211222), colab crashes. please find the gist [here](https://colab.research.google.com/gist/tilakrayal/6cfc9f05bf1302fb9993301693e79e90/untitled150.ipynb)

[2021-12-22 12:16] tilakrayal commented on #44641
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error.Thanks!

[2021-12-22 12:35] chunduriv commented on #53464
@baqwas,

Could you let us know what is the version of `tflite-model-maker` and `tensorflow` installed?

Please refer [requirements.txt](https://github.com/tensorflow/examples/blob/master/tensorflow_examples/lite/model_maker/requirements.txt) for dependent libraries and let us know if it helps you? Thanks!

[2021-12-22 12:41] Doev commented on #53519
I have to add that after the training is started, more gpu memory is used. When I increase the batch size until I get an oom-error gpu memory usage is 7351MiB /  7972MiB.

[2021-12-22 12:51] GuoGuiRong opened #53520 "[TF:TRT]How to write my input_fn when I conver my tf model to trt?"
use nvcr.io/nvidia/tensorflow:19.12-tf2-py3 in docker
my model is

max_batch_size: 512
input [{
	name: "dense_input"
	data_type: TYPE_FP32
	format: FORMAT_NONE
	dims: [-1]
	is_shape_tensor: false
	allow_ragged_batch: false
}, {
	name: "sparse_ids_input"
	data_type: TYPE_INT32
	format: FORMAT_NONE
	dims: [-1]
	is_shape_tensor: false
	allow_ragged_batch: false
}, {
	name: "seq_input"
	data_type: TYP

[2021-12-22 13:05] #40814 closed

[2021-12-22 13:45] WillemD61 opened #53522 "line 123 of build_pip_package_with_cmake.sh to be adapted"
**System information**
- Linux Ubuntu 20.04 on WSL2
- Cmake 3.16
- Host system with i5-10210u processor, 4 cores

Line 123 of the script as shown on
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/pip_package/build_pip_package_with_cmake.sh#L123
causes the script to crash as result of not limiting number of processors.
Error message: ERRO[0169] error waiting for containe

[2021-12-22 14:24] tilakrayal commented on #39486
@kmfrick ,
Is this still an issue?
Could you please update TensorFlow to the latest stable version v.2.7 and let us know if you are facing the same error. Thanks!

[2021-12-22 14:53] baqwas commented on #53464
Hello @chunduriv,

Sorry, I couldn't locate any _applicable_ `requirements.txt` file (related to TFL) except for Pete Warden's famous _Magic Wand_ example. My installation steps are:

[code]

I don't have the knowledge to loosen the version requirements. I tried the `-Wno-error=class-memaccess` option but that did not eliminate that specific error. The Flatbuffers team claim to have fixed the issu

[2021-12-22 15:35] karimnosseir commented on #53423
That looks like related to the new effort to enable Xnnpack by default.

@multiverse-tf Can you check it please.

[2021-12-22 16:05] #53353 closed

[2021-12-22 16:30] ablanch5 commented on #53486
Hey thanks for the reply! I realize the reason for the error but i was making a feature request. You're saying I should make features requests in discussion forum? Or that this is just not possible to be implemented?

[2021-12-22 17:05] #38452 closed

[2021-12-22 18:08] ker2x commented on #53505
Yes, as mentioned in the bug report, I already posted it on tf-metal dev forum. I wasn't sure if it had its place here, couldn't find any GitHub for Tensorflow-metal. Feel free to close this request if it's off topic.

Thank you for your answer.

[2021-12-22 18:09] Fer020707 commented on #53510
Of course. This would be the minimum code to reproduce the error. Will it be an installation aspect?

Imported libraries:
[code]
Data upload
[code]
Data work
[code]

[2021-12-22 18:46] rchao commented on #51778
From the log you can see that PS is indeed executing some ops related to the variables.

I'm not aware of a way with eager execution; if you can re-build TF library, you can make sure all the logs in `execute.cc` or `placer.cc` in `common_runtime` directory are logged regardless, which should give you a more detailed view.

[2021-12-22 18:47] rchao commented on #51778
As well as `process_function_library_runtime.cc`

[2021-12-22 19:04] stefan-falk commented on #38581
I am having a similar issue in 2.6.2 which I describe in detail on stackoverflow: https://stackoverflow.com/questions/70438025/training-runs-out-of-memory-as-ram-consumption-keeps-growing

In short, it appears that after every validation the memory consumption jumps and does not recover:

![image](https://user-images.githubusercontent.com/43335432/147142431-cf2ca5c2-6d40-4954-90a6-d9d1ce33ba5a.png

[2021-12-22 19:05] #53295 closed

[2021-12-22 19:36] KieronQuinn commented on #53380
I've uploaded and shared with your email on Google Drive my project setup, as well as a precompiled APK. I'll have a look at the example too, see if I can reproduce it on that also, thanks.

[2021-12-22 20:05] #53306 closed

[2021-12-22 20:21] #53166 closed

[2021-12-22 20:34] pkarimib opened #53525 "Type 'INT8' is not supported by tile.Node number 92 (TILE) failed to invoke"
### 1. System information

- OS Platform and Distribution: MacOS 10.15.7
- TensorFlow installation (pip package or built from source): pip3
- TensorFlow library (version): 2.7.0

### 2. Code

Code to run the inference on the int8 model (change `np.int8` to `np.float32` in you want to try float16 model):

[code]

#### 3. Failure after conversion
I have converted a `.pb` model to `.tflite` with floa

[2021-12-22 20:39] palatos commented on #44462
Just to give an update.
I wasn't able to successfully fix the problem with the get_output_at method in this case, but if someone manages to do it please share the solution.

I have a paliative solution for this issue but it's not very elegant and it requires a lot of manual changes for each specific nested model situation. I've uploaded the solution to this notebook:

https://github.com/palatos/my

[2021-12-22 20:45] KieronQuinn commented on #53380
Update on the above, by using the example, adding the hexagon gradle dependency and the libs and changing the code using

[code]

at line 225 of Classifier.java, the same exception happens with my config. Could I possibly be missing a step somewhere?

[2021-12-22 21:38] karimnosseir commented on #53380
Thanks. Can you share the example project you updated  - it will be easier to look into it.

Thanks

[2021-12-22 22:09] KieronQuinn commented on #53380
Absolutely, here you go: https://drive.google.com/file/d/1vs3ghix6SzL9CG6EtbERY5VKZSzSHdbC/view?usp=sharing

[2021-12-22 23:05] #53291 closed

[2021-12-23 01:20] zpcalan commented on #51778
@rchao Thanks for your reply.
Is there a way to open the detailed log you said in `common_runtime` directory without compiling TF?
Set environment variables or call some TF APIs?

[2021-12-23 02:06] BorisPolonsky opened #53529 "TRT Converter not working in 2.7.0 version of official Image"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-12-23 02:32] kydonian commented on #39755
This feature should be reopened IMO, it would be a useful feature.

[2021-12-23 02:45] tilakrayal commented on #53505
@ker2x ,
Can you please feel free to move this issue to closed status.Thanks!

[2021-12-23 03:05] #44961 closed

[2021-12-23 03:07] geometrikal commented on #53124
This should be reopened if not fixed!

[2021-12-23 03:27] rchao commented on #51778
Sounds good! Let me know if you find anything.

[2021-12-23 03:31] geometrikal opened #53530 "First tensorflow operation on numpy or list data takes long time after tf.GradientTape"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.7.0
- Python version: 3.8.10
- CUDA/cuDNN version: 11.2 | 8.2.4.15-1+cuda11.4
- GPU model and memory: RT

[2021-12-23 04:05] markmcd commented on #53216
Looks like a recent change wasn't including templates when `pip install`ing on Windows. I've got a PR out to fix that, though this should get us back to the original issue, which I'll check out next.

[2021-12-23 04:14] markmcd commented on #53216
It looks like the generated links are in Windows path format:

e.g. `tf/summary/audio.md`:
[code]

Smells like `os.path.join` is being used for URLs somewhere.

[2021-12-23 04:25] mohantym commented on #53510
Ok @Fer020707 !  it might be related to environment/installation perspective. Could not replicate this in Colab again. Attaching [Gist](https://colab.sandbox.google.com/gist/mohantym/c033344bb53aa4929a4c6060a134dd9b/github_53510.ipynb) and relevant [thread](https://stackoverflow.com/questions/67696519/module-tensorflow-compat-v2-internal-has-no-attribute-tf2/67708260#67708260) for reference.

Plea

[2021-12-23 04:28] mohantym commented on #53476
Hi @Saduf2019 ! Could you please look at this issue?

[2021-12-23 05:15] jaeyung1001 commented on #53352
hi @chunduriv , there is no same version of cudatoolkit and cudnn
![image](https://user-images.githubusercontent.com/11284021/147191464-f2315c95-f6e6-4c28-8de9-e7f72865922c.png)
![image](https://user-images.githubusercontent.com/11284021/147191489-d6aca22d-59c9-497a-a1cf-19cda899a6b8.png)

[2021-12-23 05:41] upwindflys commented on #53517
@tilakrayal Thank you for your reply.But there is no avaliable 2.7.x tf version, so I tried tf version 2.6,the same error occured.

[code]
[code]

[2021-12-23 06:05] #28762 closed

[2021-12-23 06:19] gcuder commented on #53510
@Fer020707 I was able to find the source of this issue. When installing `tensorflow 2.7.0`, `keras 2.8.0` was installed. I solved this issue by pinning `keras` to `2.7.0` in my `pyproject.toml`

[2021-12-23 06:37] CLoweW commented on #34681
I met the same problem as you in version 2.0.0, is there any solution other than upgrading the version?

[2021-12-23 06:37] CLoweW commented on #30263
I met the same problem as you in version 2.0.0, is there any solution other than upgrading the version?

[2021-12-23 06:48] upwindflys commented on #53517
@tilakrayal
I tried the tf version 2.7.0 by using docker image tensorflow/tensorflow:2.7.0-gpu. But the same error occured.

[code]

[2021-12-23 06:58] sushreebarsa commented on #53372
@adjhawar
In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thanks!

[2021-12-23 06:59] PatriceVignola opened #53531 "[PluggableDevice] TF_RESOURCE is not deserializable since 2.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.8.0
- Python version: 3.9

**Describe the current behavior**
When calling `TF_TensorData` in `TF >

[2021-12-23 07:05] #29212 closed

[2021-12-23 07:37] bchander commented on #26007
Instead of writing complete path........ tf.keras.metrics.SparseCategoricalAccuracy() try writing soemthing like
loss = 'sparse_categorical_crossentropy',
metrics=['accuracy']
for a categorical problem. It should work

[2021-12-23 07:54] multiverse-tf commented on #53423
I could also verify that disabling XNNPACK resolved the issue. There are two ways to disable the XNNPACK-by-default feature, and you could choose either of them to achieve:
1. Build the Tensorflow Lite library to disable this feature. If using Bazel, you could add "--define=tflite_with_xnnpack=false" flag.
2. If you could change your code, use [BuiltinOpResolverWithoutDefaultDelegates](https://git

[2021-12-23 08:11] jaeyung1001 commented on #53352
I think something go wrong with my system problem. So I used **docker image file** to resolved it. thank you.

https://hub.docker.com/layers/tensorflow/serving/2.6.0-devel-gpu/images/sha256-f935ceb90139a7b12d61e1a13bc5e1cc0332728f7c223f469cb9b39b7a67b1d2?context=explore

[2021-12-23 08:11] #53352 closed

[2021-12-23 08:21] mohantym commented on #53510
Ok @Fer020707 ! Thanks for pointing out the solution . we will let the team know about it. Thank you!

[2021-12-23 08:56] ker2x commented on #53505
okay closing :)

[2021-12-23 08:56] #53505 closed

[2021-12-23 09:11] tilakrayal commented on #53284
@DanBmh ,
Without the reproducible code, it would be difficult for us to debug the issue.There are multiple files of code available in the link mentioned.So we request you to post `only reproducible code` which you are facing issue.It helps to analyse the issue.If you are unable to provide exact code which you are facing the issue please feel free to post in tf discussion forum.Thanks!

[2021-12-23 09:36] tilakrayal commented on #38658
Was able to reproduce the issue in tf v2.7.Please find the gist [here](https://colab.sandbox.google.com/gist/tilakrayal/0971cc14430b1f9ca5acf52833fe29ba/untitled155.ipynb).

[2021-12-23 09:40] tilakrayal commented on #38539
Was able to reproduce your issue in tf v2.7, please find the gist [here](https://colab.sandbox.google.com/gist/tilakrayal/849a93f687cf8c98d9e624b345f5bfb1/untitled156.ipynb). Thanks!

[2021-12-23 09:42] tilakrayal commented on #38453
Was able to reproduce your issue in Tf v2.7 please find the gist [here](https://colab.sandbox.google.com/gist/tilakrayal/92a721fc3289d9b9aa6c704c593cb717/untitled157.ipynb). Thanks!

[2021-12-23 09:50] tilakrayal commented on #38409
Was able to reproduce your issue in Tf v2.7 and Nightly 2.9.0-dev20211223, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/288353aace5456f285877bf18f175061/untitled158.ipynb). Thanks!

[2021-12-23 09:58] tilakrayal commented on #38280
Was able to reproduce the issue in tf v2.7.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/97873d4db143ac0cc3fe2d58a0f7d787/untitled159.ipynb).

[2021-12-23 10:14] tilakrayal commented on #37975
Was able to reproduce the issue in tf v2.7.Please find the gist [here](https://colab.sandbox.google.com/gist/tilakrayal/78b6611062cc3d87c24a382af2902456/untitled160.ipynb).

[2021-12-23 10:16] mohantym commented on #16593
Hi @nxphi47 !It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more.  Please visit this thread to upgrade your codebase .[link1](https://www.tensorflow.org/addons) . Thanks!

[2021-12-23 10:20] mohantym commented on #17043
Hi @bioothod !It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Attaching relevant threads for reference. [link](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u). Thanks!

[2021-12-23 10:25] mohantym commented on #17832
Hi @jprosevear !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Attaching relevant threads for reference. Ref [1](https://www.tensorflow.org/addons), [2](https://www.tensorflow.org/install). Thanks!

[2021-12-23 10:27] mohantym commented on #17746
Hi @riklopfer!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please visit [addons](https://www.tensorflow.org/addons) page to upgrade your codebase to latest version. Thanks!

[2021-12-23 10:31] mohantym commented on #23525
Hi @KDMueller!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please visit these links to upgrade your codebase to latest versions.Ref [1](https://www.tensorflow.org/addons),[2](https://www.tensorflow.org/guide/migrate). Thanks!

[2021-12-23 10:33] mohantym commented on #23565
Hi @MorganR !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please visit these links to upgrade your codebase to latest versions.Ref [1](https://www.tensorflow.org/addons),[2](https://www.tensorflow.org/guide/migrate). Thanks!

[2021-12-23 10:37] mohantym commented on #23834
Hi @SumNeuron !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please visit these links to upgrade your codebase to [latest versions](https://www.tensorflow.org/guide/gpu#manual_device_placement).Ref [1](https://www.tensorflow.org/addons),[2](https://www.tensorflow.org/guide/migrate). Thanks!

[2021-12-23 10:44] mohantym commented on #22763
Hi @benleetownsend !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more.  Attaching relevant threads for Reference. Ref [1](https://www.tensorflow.org/addons/api_docs/python/tfa/optimizers/AdamW), [2](https://www.tensorflow.org/api_docs/python/tf/compat/v1/train/exponential_decay) . Thank you!

[2021-12-23 10:46] mohantym commented on #22889
Hi @honeytidy!
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please visit these links to upgrade your codebase to latest versions(2.7).Ref [1](https://www.tensorflow.org/addons),[2](https://www.tensorflow.org/guide/migrate). Thanks!

[2021-12-23 10:48] mohantym commented on #22524
Hi @David-Mao !
It seems you are using older versions(1.x versions) of Tensorflow which is not supported any more. Please visit these links to upgrade your codebase to latest versions(2.7).Ref [1](https://www.tensorflow.org/addons),[2](https://www.tensorflow.org/guide/migrate). Thanks!

[2021-12-23 11:06] mohantym commented on #53529
Hi @BorisPolonsky ! Have you checked these threads yet for TensorRT installation in your environment yet? . Ref [1](https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html) ,[2 ](https://github.com/prratadiya/tensorrt-installation-colab),[ 3](https://www.code-helper.com/answers/install-tensorrt-on-colab) . Thank you!

[2021-12-23 11:28] Tessil commented on #52854
It seems the problem was resolved by https://github.com/tensorflow/tensorflow/commit/99bc50cb35133301f0fb1700b7308d4bdea1d546. The ticket can be closed, thanks.