[2020-06-04 18:30] jsimsa commented on #37013
TLDR: Your expectation that shape of the output data should not affect the performance is not grounded is reality. tf.data is a streaming API and the time it takes for "batch" transformations such as `window` and `batch` to produce an output is proportional to the "batch" dimension.

Both `window` and `batch` end up increasing the number of input elements needed to produce an output by a constant

[2020-06-04 18:30] lilly-chen commented on #38589
Hi I am getting the same error

[code]

i try to modify the ops.py as Korrakas suggested:
I checked in lib/python3.7/site-packages/tensorflow/python/framework/ops.py it is as follow

[code]

i try to update it to

[code]
but it still give me the same error.

Any suggestion to fix this! Appreciated it!!

[2020-06-04 18:36] jdduke commented on #39301
Apologies for the delay, can you try conversion again but remove or comment out the following line:
[code]
If conversion fails, please attach the error. Thanks.

[2020-06-04 18:44] jun66534 commented on #39938
@leocorne  Hi, I upload the example in zip library. But it does't work.
I only delete two sparkfun_edge_* files. And I didn't train. Only  used example

[2020-06-04 18:50] jsimsa commented on #38748
@tomerk could you please take a look (or triage to someone on the Keras team)? Thank you.

[2020-06-04 18:51] abhishekgupte94 commented on #34188
@Icaro-Lima , were you finally able to get the output? I get these warnings but it doesnt process after
`...
# Run inference
  output_dict = model(input_tensor)
...`

[2020-06-04 18:57] ymodak commented on #40015
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-04 18:57] #40015 closed

[2020-06-04 19:03] sr99622 commented on #40148
This is the same issue as #39829 and the same path has been followed.  The bug is in the code as described above.  The second instance of #include <unistd.h> is not excluded from the windows build as the first one is, and this will manifest when using the GPU section.  The problem can be temporarily fixed by commenting out the second instance of the include.

I would surmise from reading the previ

[2020-06-04 19:03] gowthamkpr commented on #37263
@najibghadri I think this is because most int32 kernels are placed on host memory. You can refer to the comment [here](https://github.com/tensorflow/tensorflow/issues/33835#issuecomment-548661718).

[2020-06-04 19:07] amahendrakar commented on #33277
@ay27,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-06-04 19:08] gowthamkpr commented on #37462
@np000 Is your issue resolved or are you still facing the same issue? Thanks!

[2020-06-04 19:15] gowthamkpr commented on #37501
@talhaanwarch Please post your issue [here](https://github.com/google-research/bert/issues). Is this happening only on TPUs ? or is it happening on GPUs too?

[2020-06-04 19:16] amahendrakar commented on #34491
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/9690ce05dde0b89479d59f4cc5c5356b/34491.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/b46ba960d996e63f5919cc533bb46e41/34491-tf-nightly.ipynb). Please find the linked gist. Thanks!

[2020-06-04 19:25] gowthamkpr commented on #37743
@ravikairam I am closing this issue as it has been resolved.

[2020-06-04 19:25] #37743 closed

[2020-06-04 19:34] #39418 closed

[2020-06-04 19:36] Cillinc commented on #40160
thanks i have upgraded pip to version 20.1.1 and used it to do a `pip install tf-nightly`  it completed correctly (had got an error ob the lower version of pip and i am still getting the same results - errors.
from tensorflow.keras.preprocessing.image import image_dataset_from_directory
Traceback (most recent call last):

  File "<ipython-input-3-7fae7ea40691>", line 1, in <module>
    from tensor

[2020-06-04 19:37] jdduke commented on #40146
Yes, thanks for flagging! We're actively working on this and hope to have it available around the time of the upcoming TF 2.3 release. We'll use this issue for external tracking.

[2020-06-04 19:40] nouiz commented on #38205
I always forget about that tag. I guess it can be related to clang vs gcc, not about remote execution with the error. Maybe one of the compiler optimize the code differently and so do not handle nan exactly the same.

Sadly, if I'm right, it can mean that nan aren't well handle if not compiled with clang...

[2020-06-04 19:42] gowthamkpr commented on #37794
@mcbe1985 Is it still an issue or did you resolve it. Thanks!

[2020-06-04 19:44] gowthamkpr commented on #37960
@mitsuix @17patelumang Without reproducing the issue, its hard to find the root cause. I would recommend you guys to please share a colab notebook that reproduces the problem. Thanks!

[2020-06-04 19:50] Cillinc commented on #40160
think i found the solution on one of your github postings - well concealed...

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import preprocessing
from tensorflow.keras.preprocessing import image_dataset_from_directory

looks like the text on keras.io where i got the script might need a slight adjustment

[2020-06-04 19:50] #40160 closed

[2020-06-04 20:02] rayleichen opened #40165 "AttributeError: 'PerReplica' object has no attribute 'begin'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-06-04 20:12] leosampaio commented on #37834
A workaround for this is making a new variable creator and using `tf.variable_creator_scope`:
[code]
Calling `build` inside your creator's scope will make the variables inside get the `aggregation` parameter. I chose `tf.VariableAggregation.ONLY_FIRST_REPLICA` but you may chose the `tf.VariableAggregation` that fits your use case better

[2020-06-04 20:17] gowthamkpr commented on #38458
@korr4k I was able to reproduce your issue.
![image](https://user-images.githubusercontent.com/47574994/83806002-aa762a80-a665-11ea-9a3e-7585fc6c1e49.png)

[2020-06-04 20:22] aaudiber commented on #40049
@cdavoudian the issue should be fixed now. Can you confirm whether it's working on your end?

[2020-06-04 20:27] cdavoudian commented on #40049
I should be able to get back to you soon, the build is still running on my end.

[2020-06-04 20:47] mcbe1985 commented on #37794
Fixed it during my research, was a mistake in the annotations which made it do weird stuff.

[2020-06-04 20:47] #37794 closed

[2020-06-04 20:54] artem-s-shevchenko opened #40166 "Make possible loading model with custom gradient"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tf2.1
- Are you willing to contribute it (Yes/No): No

**D

[2020-06-04 21:06] jgasperlin commented on #39407
@heyufei2008 most IDS if you click + ctrl on class it show you file that contains it or follow your includes or use docs https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/placeholder.
=> tensorflow\cc\ops\array_ops.h

[2020-06-04 21:10] jgasperlin commented on #39905
make sure before you rebuild anything with Bazel do
`bazel clean --expunge` this will clean up everything
i used lates cuDNN 7.6.something
do you have set cuda path ? when you configure with
`python configure.py`
does it pick Cuda v10.1 and cuDNN 7.6 ?
My problem was resolved with using correct bazel to build (2.0.0)

[2020-06-04 21:19] gowthamkpr commented on #38475
@forhonourlx Were you able to resolve this issue or are you still facing it?

[2020-06-04 21:26] DEE1985UK commented on #40162
Just realised it is likely not able to run on raspberry pi (ARM) so will close.

[2020-06-04 21:26] #40162 closed

[2020-06-04 21:28] tomerk commented on #38748
Hi @Flamefire,

A few things here:
1. Why are you trying to use a custom training loop *and* disabling eager execution?  Generally speaking if you're using a custom training loop (as opposed to using tf1 session-based code) then disabling eager execution probably isn't the right way to achieve whatever you're trying to achieve. If you're trying to get graph performance using tf.function will do th

[2020-06-04 21:33] amitDaMan opened #40167 "GPU delegate not as accurate as NNAPI reference on 16float models on Style Transfer example. tensorflow-lite"
I was comparing the output of the transfer style app (while using the floating point models).

And found the following results

I/Style: Difference on average between CPU and  CPU: 8.049963811796872E-7
I/Style: Difference on average between CPU and  GPU: 0.00804935239782874
I/Style: Difference on average between CPU and  NNAPIREFERENCE: 8.941092843719466E-7
I/Style: Difference on average between C

[2020-06-04 21:35] gowthamkpr commented on #38486
@justinmulli This is not a bug, its intended behaviour. I would recommend you to post this in stackoverflow as there is a wider community to answer. Thanks!

[2020-06-04 21:37] rayleichen commented on #40165
I replace DistributedStrategy from
[code]
to
[code]
I no longer see the error: "Device is available but not used by distribute strategy: /device:CPU:0", but I still have "AttributeError: 'PerReplica' object has no attribute 'begin'"

[2020-06-04 21:48] alextp commented on #36236
Can you send a PR changing the line and adding a test?

[2020-06-04 21:55] abhishekgupte94 commented on #40156
Never mind , I figured it out. All i had to do was update the version of CUDA to 10.1, tensorflow-gpu to tensorflow-gpu-2.2 and keep the CudNN as is. Installing. Installing Microsoft Visual Studio Redistributable helped tensorflow-gpu 2.2 to get the required .dll's which are required after upgrading to tensorflow-gpu >2.0. I'm closing the issue now.

[2020-06-04 21:55] #40156 closed

[2020-06-04 22:04] jdduke commented on #39601
I believe we have a kernel that supports this, so we may need to look into the conversion. @suharshs can assist.

[2020-06-04 22:14] jdduke commented on #33332
This is not currently possible, at least not easily. You'll need the source graph to properly fine tune the model.

[2020-06-04 22:14] #33332 closed

[2020-06-04 22:27] snsvis opened #40168 "linking error while building TensorFlow Lite C++ image classification demo for Android"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04

bazel build -c o

[2020-06-04 22:33] #40041 closed

[2020-06-04 22:33] jdduke commented on #38036
Hey @sirius0503 , apologies for the delay.

Sure! The short answer is that, when you use GPU delegation (or NNAPI delegation), there is a preparation stage where the graph is effectively recompiled into a different format, based on the current tensor shapes in the graph. For the GPU, this means creating and compiling a sequences of GPU shaders. For NNAPi, this means creating an NNAPI model, undern

[2020-06-04 22:34] #39739 closed

[2020-06-04 23:04] pavithrasv commented on #39329
This has been fixed in https://github.com/tensorflow/tensorflow/commit/5f1ee72e97e09da9171b2c226d4f10f05e89a38a. Thank you!

[2020-06-04 23:04] #39329 closed

[2020-06-04 23:06] karimnosseir commented on #39907
@yakovdan either email me directly (email same as username here) or send the question on tflite@tensorflow.org and i will reply and we can follow privately.

Thanks

[2020-06-04 23:23] cheers00 opened #40170 "build failed on CentOS-7 @flatbuffers//:flatc' #1660"
## Bug Report
Getting the following error while building.

[code]

Re: #1563
this bug also reported the same issue but with building docker. Here, I am not building any docker.

### System information
- **OS Platform and Distribution (e.g., CentOS Linux 7)**:
- **TensorFlow repo (source v2.2.0)**:

### Describe the problem
Getting the above build error
### Exact Steps to Reproduce
clone and checko

[2020-06-04 23:24] Ekta246 commented on #30861
Hi, could you please share that how did you get the quantized graph?
Looking forward to it!

[2020-06-04 23:27] samhodge commented on #39439
@sanjoy  @gunan

Good morning from a bright blue sky morning in Adelaide.

I have looked into the following docs:
https://docs.bazel.build/versions/master/tutorial/cpp.html
https://docs.bazel.build/versions/master/cpp-use-cases.html
https://docs.bazel.build/versions/master/rules.html
https://docs.bazel.build/versions/master/bazel-and-cpp.html
https://docs.bazel.build/versions/master/command-line-r

[2020-06-04 23:31] MeghnaNatraj commented on #38285
@dreamPoet Could you create a separate github issue describing your problem and assign it to me? I'd be glad to provide more information on the new issue.

[2020-06-04 23:50] idfah opened #40171 "Memory leak when repeatedly loading and deleting keras models"
If a Keras model is saved using `tf.saved_model.save` and then repeatedly loaded with `tf.saved_model.load` and deleted with `del` it becomes apparent that there is a slow memory leak.  `keras.backend.clear_session` does not resolve this issue.  See attached gist for an example that reproduces this issue in TensorFlow 2.2 on Google Colab.

**System information**
- Have I written custom code (as op

[2020-06-05 00:15] terryheo commented on #40126
Could you try this?

[code]

[2020-06-05 00:20] terryheo commented on #39957
I think you might be able to get updated Yocto release. In the meantime, I'll check if it's feasible to support libc-2.22.
BTW, if you can share where did you get your Yocto image, it'll be helpful for us to understand user's development environment.

[2020-06-05 00:21] gunan opened #40172 "ROCm build broken"
TensorFlow cannot build AMD GPUs using ROCm at head right now. The compilation error is:

[code]

The problem seems to be in our code, our templates need gpuAtomicMin for also signed types, but they are not available for signed types in AMD code.

@chsigg FYI
@whchung could you take a look

[2020-06-05 00:34] samhodge commented on #39439
My latest failure

Using CUDA 10.2 and CUDNN 7.6.5.32

with

`$ENV:TF_CUDA_COMPUTE_CAPABILITIES="3.5,3.7,5.0,5.2,6.0,6.1"`

I will try again without this statement and see if it compiles.

[code]

[2020-06-05 00:36] gowthamkpr commented on #38672
@Ceceu Please take a look at similar issue [here](https://github.com/tensorflow/tensorflow/issues/36979) and [here](https://github.com/tensorflow/tensorflow/issues/30035) and let me know if it helps. Thanks!

[2020-06-05 00:43] samhodge commented on #39439
Now it is set to CUDA compute 3.5,7.0 only I will see if this compiles.

[2020-06-05 01:01] samhodge commented on #39439
MSVC 15 (2017) and CUDA Toolkit 9.2.1.148 gives you up to compute capability 7.0 and down to 3.5 While giving C++ language support.

[2020-06-05 01:17] samhodge commented on #39439
7a7207f3b6 gives me

[code]

From

1. git clone tensorflow URL
2. cd tensorflow
3. cp ..\*.ps1
4. . .\buildenv.ps1
5. . .\build-tf.ps1

Where I am on a  2019 t4 server with 48 cores

With Anaconda Python, MSYS2 for patch and perl and bash, CUDA 10.2 CUDNN 7.6.5.32

`buildenv.ps1` is

[code]

`build-tf.ps1` is

[code]

Is this expected behaviour?

[2020-06-05 01:19] samhodge commented on #39439
I will repeat with r2.2.

[2020-06-05 01:22] leeyeetonn opened #40175 "tf.summary.flush segfaults when writer is not a valid tf.summary.SummaryWriter object"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2020-06-05 01:43] Justobe commented on #37048
@jvishnuvardhan Thanks for your reply! I re-run the scripts on tensorflow 1.15.3, and I found that the difference between tensorflow 1.15.3 and theano and cntk is still very large. I provided a new model and a new input to reproduce: [onedrive](https://1drv.ms/u/s!Aj6dGBsJFcs0jnjZ2WpjS42a-4cF?e=DWxP2y)

This is the picture in the cifar10 test set (No.119, starting from 0)
![cifar10-119](https://us

[2020-06-05 01:47] brucechou1983 commented on #27613
@impjdi I'm super curious about this suspicious root cause. I found some MALI gpu phones run much faster with delegate v2, which uses opencl delegate as the default backend. I tried to tune the work groups setting of conv2d and depthwise conv2d for opengl compute shader, but just like your team I don't see any obvious improvement. It's completely counterintuitive.

You mentioned about "a more syst

[2020-06-05 01:47] ymodak commented on #36144
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-05 01:47] #36144 closed

[2020-06-05 01:53] zhuzilin commented on #40107
@aaudiber
Thank you for your anwser! Could you give me an example of how we can produce OutOfRange error in tf1, the only api I found is `tf.errors.OutOfRangeError` and it doesn't seem like the right one... Also, should we return the cardinality as "unknown" when `preserve_cardinality` is false?

[2020-06-05 01:55] samhodge commented on #39439
2b96f3662b completed.

[2020-06-05 01:59] marko-radojcic commented on #27613
I would say that connection is like rendering system for gui order of
complexity.

On Fri, Jun 5, 2020, 3:53 AM Bruce Chou <notifications@github.com> wrote:

[2020-06-05 01:59] ymodak commented on #36081
Sorry for the delay. Since you want to train on multiple machines then you should look at [`MultiWorkerMirroredStrategy`](https://www.tensorflow.org/guide/distributed_training#multiworkermirroredstrategy) or [`ParameterServerStrategy`](https://www.tensorflow.org/guide/distributed_training#parameterserverstrategy).
Thanks!

[2020-06-05 02:05] ymodak commented on #36057
TensorFlow 2.2 pip packages now support Python 3.8
See https://pypi.org/project/tensorflow/2.2.0/#files
Thanks!

[2020-06-05 02:05] #36057 closed

[2020-06-05 02:14] aaudiber commented on #40107
Here's an example:

[code]
https://colab.research.google.com/drive/1Uv12BpCohpWseutii3hs31z4iQPBxp3x?usp=sharing

[2020-06-05 02:15] aaudiber commented on #40107
@zhuzilin You're right, the cardinality should be "unknown" - I think it's a bug. Would you be interested in submitting a fix?

[2020-06-05 02:16] samhodge commented on #39439
Attached is the `tensorflow\BUILD` file from r2.2

[BUILD.zip](https://github.com/tensorflow/tensorflow/files/4733539/BUILD.zip)

Which is being built as

1. `. .\buildenv.ps1`
2. `. .\build-tfstatic.ps1`

`buildenv.ps1`
[code]

`build-tf-static.ps1`

[code]

the edit to `tensorflow\BUILD` is

adding five lines

[code]
[code]

[2020-06-05 02:19] freedomtan commented on #40168
@snsvis this is not a label_image problem. I can reproduce the problem. It also happens when building benchmark with `bazel build --config android_arm64 //tensorflow/lite/tools/benchmark:benchmark_model`. A quick workaround is
[code]
+@karimnosseir who made the changes.

@karimnosseir FYI. Someting weird happened. I don't know why, but the two class variables `Arguments::kArgsPrefix` and `OpBuilde

[2020-06-05 02:26] ymodak commented on #35524
Is this still an issue with latest version of tensorflow (2.2)?

[2020-06-05 02:28] gunan commented on #39439
I had cuda 10.1 on my machine, so tried with that. So it may be caused by the difference in cuda versions.
I see that some of your comments mention cuda 9.2, and some mention 10.2.
I am guessing the build with 10.2 succeeded?

[2020-06-05 02:31] jxfruit opened #40176 "tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[1] does not have value with aarch64"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-05 02:32] zhuzilin commented on #40107
@aaudiber I'd love to. :smile:

[2020-06-05 02:44] samhodge commented on #39439
Yeah this just makes a file that was already there

[code]

It is only 39M whereas the `tensorflow_cc.dll` file is 320Mb

What is need is a static version of tensorflow_cc.lib where it has all the symbols to do inference or training or whatever `tensorflow_cc.dll` has to offer

I think there was an error in communication, as the symbols for protobuf are not exposed, I need to be able to statically

[2020-06-05 02:45] samhodge commented on #39439
Yes it did suceed.

[2020-06-05 02:47] renjie-liu commented on #39301
Hi, the error is because the batch size is not fixed.

can you try to follow the  colab to set the input size? thanks!

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb

[2020-06-05 02:47] renjie-liu commented on #40083
Great!

[2020-06-05 02:56] samhodge commented on #39439
Trying again with

[code]

[2020-06-05 03:00] ChungNPH commented on #40137
My code:

batch_size = 16

data = ImageDataGenerator(rotation_range=20, zoom_range=0.15, width_shift_range=0.2, height_shift_range=0.2,
                          shear_range=0.15, horizontal_flip=True, fill_mode="nearest", validation_split=0.2)
traindata = data.flow_from_directory(directory="../image-docs-similarity/visual-image-search/data/",target_size=(380,380), batch_size=batch_size, subset='t

[2020-06-05 03:02] karimnosseir commented on #40168
Fix on the way. Sorry for the trouble

[2020-06-05 03:21] limjq45 commented on #39301
Hi @jdduke , it still does not work with the latest nightly build

the error I got:
[code]

[2020-06-05 03:28] samhodge commented on #39439
And we are going in circles here: @meteorcloudy

https://github.com/bazelbuild/bazel/issues/1920

[2020-06-05 03:31] samhodge commented on #39439
Here are the results of bulding `//tensorflow:tensorflow_cc_static.lib`

[code]

[code]

How do we get the the inputs into `tensorflow_cc.dll` as captured by the file group above to be put into an archive?

[2020-06-05 03:50] samhodge commented on #39439
I am sneaking up on this

[code]

I think I might run into the transitive linking problem.

[2020-06-05 03:50] #40168 closed

[2020-06-05 03:52] aybuketurker commented on #34968
@ClementWalter I am trying to understand the difference between the default method, Predict versus Classify. For your particular use case what is it that not possible to do with Predict so you need Classify. Thank you so much in advance.

[2020-06-05 03:53] limjq45 commented on #39301
Hi, I modified your code to attempt to fit mine, there is some progress on the Android device. Now I get some error stating that some of the operations are not supported

[code]

[2020-06-05 03:56] tulasiram58827 commented on #33494
@haozha111 any update on this?

[2020-06-05 03:58] #33711 closed

[2020-06-05 03:58] thaink commented on #40157
Using flex delegate in python is not yet supported https://www.tensorflow.org/lite/guide/ops_select#python_pip_package
However, the feature will be landed really soon, might be sometimes next week, so please wait a little bit.

[2020-06-05 04:00] renjie-liu commented on #39301
that's right, those ops are not supported by gpu right now

[2020-06-05 04:06] bondhugula commented on #39895
@joker-eph @MaheshRavishankar Need your input here - please see comment history above as well as the PR. https://github.com/tensorflow/tensorflow/pull/40120 Thanks!

[2020-06-05 04:19] limjq45 commented on #39301
Hi @renjie-liu ,

I am not sure if I am doing it the correct way but I managed to make it work!

My model.inputs[0].dtype is:
[code]

I convert it by modifying the following code:
[code]
to
[code]

[2020-06-05 04:19] jvishnuvardhan commented on #40135
@winterwindwang Can you please provide a standalone code to reproduce issue. Thanks!

[2020-06-05 04:22] ravikyram commented on #40147
@xueyuan1990

Looks like code is incomplete.Request you provide colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-05 04:23] whchung commented on #40172
@deven-amd Would you mind take this ticket?

@gunan I'm mostly spending my time on MLIR code generation now and I'd like @deven-amd to help look into this. It seems I couldn't assign the ticket to him though.

[2020-06-05 04:27] SamFigueroa commented on #40108
I completely uninstalled tf and CUDA 10.1, and then reinstalled both, but this did not help.  On a hunch that the key clue was that I had to copy .dll files to C:\Windows\System32 in order for tf to find any of them at all, I decided to try the version of Python that came with MS Visual Studio, which is 3.7.4.  I reinstalled tf with this version of Python.  Now I get:

C:\Program Files\NVIDIA GPU

[2020-06-05 04:49] dd1923 commented on #19731
Same issue. Seems crazy that a framework like Tensorflow does not even have a one simple way to release the memory.

[2020-06-05 05:07] Saduf2019 commented on #38907
@Tborth
Moving this issue to closed status due to lack of activity.

[2020-06-05 05:07] #38907 closed

[2020-06-05 05:09] Saduf2019 commented on #30929
@OutSorcerer
As the Pr is merged, please confirm if we may move this issue to closed status.

[2020-06-05 05:10] Saduf2019 commented on #38889
@KurtSunxx
Please confirm if we may move this issue to closed status

[2020-06-05 05:16] Saduf2019 commented on #39049
@LINYOUWEI0804
I ran the code shared and it says invalid syntax, please share indented complete stand alone code or if possible share colab gist with the error for us to analyse.

[2020-06-05 05:18] Saduf2019 commented on #38712
@fcunilim
Please confirm if this is still an issue or we may move this to closed status.

[2020-06-05 05:19] Saduf2019 commented on #39037
@jackyvr
Please update as per above comment

[2020-06-05 05:21] Saduf2019 commented on #39154
@npanpaliya
Is this still an issue

[2020-06-05 05:22] Thomas-K-John commented on #39745
Any updates on this?

[2020-06-05 05:22] Saduf2019 commented on #39139
@samra-irshad
Is this still an issue

[2020-06-05 05:24] Saduf2019 commented on #39066
@raghavgurbaxani
Is this still an issue

[2020-06-05 05:25] lizhen2017 commented on #40136
- My key modification follows below. And the test script is
[code]

1. tensorflow/lite/schema/schema.fbs
[code]
[code]
2. generated tensorflow/lite/schema/schema_generated.h和tensorflow/lite/builtin_ops.h
[code]
3. tensorflow/lite/core/api/flatbuffer_conversions.cc
TfLiteStatus ParseOpData(const Operator* op, BuiltinOperator op_type,
                         ErrorReporter* error_reporter,

[2020-06-05 05:25] Saduf2019 commented on #39196
@youyuge34
As the issue is resolved please confirm if we may move this to closed status

[2020-06-05 05:26] Saduf2019 commented on #39240
@Qcatbot
Please update as per above comment

[2020-06-05 05:27] Saduf2019 commented on #39224
@liupengkd
Please update as per above comment

[2020-06-05 05:27] richaolas commented on #39407
Although I compile the .dll and .lib success with the TF_EXPORT declaration, and have linked them without any error, but when I run the program which I just build, it crashed. Can you test it whether this method can work ok?
Thanks a lot.

[2020-06-05 05:28] Saduf2019 commented on #39115
@lvjunsetup
Please update as per above comment

[2020-06-05 05:29] Saduf2019 commented on #39112
@HardworkingPig
As informed earlier there is no such conversion from 2.x to 1.x as requested for., please confirm if we may move this to closed status.

[2020-06-05 05:30] Saduf2019 commented on #39248
@alanpurple
Is this still an issue

[2020-06-05 05:32] Saduf2019 commented on #39262
@TomHeaven

Please confirm if we may move this issue to closed status as there is a pr to monitor it

[2020-06-05 05:33] Saduf2019 commented on #39456
@drasmuss
Please move this issue to closed status as associated pr is in merged status.

[2020-06-05 05:34] Saduf2019 commented on #39232
@tarmath
Is this still an issue

[2020-06-05 05:34] #38827 closed

[2020-06-05 05:34] Saduf2019 commented on #32914
@ArtemisZGL
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-05 05:34] #32914 closed

[2020-06-05 05:35] Saduf2019 commented on #39521
@conjam
Is this still an issue

[2020-06-05 05:39] Saduf2019 commented on #39316
@anavanab99
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-05 05:39] #39316 closed

[2020-06-05 05:42] MaheshRavishankar commented on #39895
I dont really work on the HLO -> LHLO conversion parts, but I agree with what @bondhugula  is saying here. Unless you can gaurantee that the input is going to always have `xla_hlo.const` instead of `std.constant` you need a way to convert `std.constant` to `xla_lhlo.const` (similar to how `xla_hlo.const` is converted to `xla_lhlo.const`). I think @pifon2a  is not opposed to adding such a pattern.

[2020-06-05 05:43] Saduf2019 commented on #39661
@petewarden
Please update as per above comment

[2020-06-05 05:44] Saduf2019 commented on #39680
@SchJens,
Please update as per above comment

[2020-06-05 05:46] Saduf2019 commented on #38903
@Leslie-Fang
Please confirm if we may move this to closed status.

[2020-06-05 05:47] Saduf2019 commented on #39593
@nitinmnsn
please update as per above comment

[2020-06-05 05:47] ravikyram commented on #40150
I have tried in colab with TF version 2.2 ,nightly version(`2.3.0-dev20200604`) and was able to reproduce the issue.Please,find the gist [here](https://colab.research.google.com/gist/ravikyram/7ec03b405f875dce2d345b2f22e5aec5/untitled50.ipynb).Thanks!

[2020-06-05 05:48] Saduf2019 commented on #39496
Fixed in 2.x, masking this as closed

[2020-06-05 05:48] #39496 closed

[2020-06-05 05:50] bondhugula commented on #39895
std.const -> hlo.const would be weird since you are going from a higher-level domain-specific dialect to a base one with both having tensor value semantics. :) OTOH, since lhlo has memory/buffer semantics, std.const -> lhlo.const is seen as a lowering (values to memory) that can live in hlo->lhlo. That's the reason I didn't do a std.const -> hlo.const - I don't think we have any conversion in such

[2020-06-05 05:51] Leslie-Fang commented on #38903
@Saduf2019  Thanks, Close and wait the PR got merged.

[2020-06-05 05:51] #38903 closed

[2020-06-05 05:51] Saduf2019 commented on #39148
@orangesomethingorange
Is this still an issue, please confirm if we may move this to closed status

[2020-06-05 06:03] ravikyram commented on #40161
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Can you please elaborate about the issue & the context.Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-05 06:04] liupengkd commented on #39224
@Saduf2019 I have changed another training method，not tf.keras.

[2020-06-05 06:05] #39224 closed

[2020-06-05 06:06] jnd77 commented on #37039
@tanzhenyu @gadagashwini Possible to add the flag TF 2.2 so this ticket does not get forgotten ? Thanks a lot. :)

[2020-06-05 06:07] ivs-pychen commented on #40140
[frozen_inference_graph.zip](https://github.com/tensorflow/tensorflow/files/4734220/frozen_inference_graph.zip)

[2020-06-05 06:08] foxik commented on #36236
@alextp I can easily do it, but I am not sure it is a correct solution. Looking at the current master:
https://github.com/tensorflow/tensorflow/blob/9221044560b9ed34d60a4b07dc0895552d2540c5/tensorflow/python/eager/function.py#L1873-L1906
I assume it would make sense to test specifically for IndexedSlices only, and perform the same shape check as in the case of tf.Tensor? Hm, I think the best solut

[2020-06-05 06:11] ravikyram commented on #40061
@alecgunny

Please grant me the access for the gist provided. Thanks!

[2020-06-05 06:11] fzyai opened #40178 "Always exceeds 10% of free system memory."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
ubuntu 16.04 LTS
- TensorFlow installed from (source or binary):
conda 4.8.3
- TensorFlow version (use command below):
tensorflow-gpu v2.2.0
- Python version:
python 3.7.7
- GCC/Compiler version (if compiling from so

[2020-06-05 06:14] samhodge commented on #39439
The above is a no go

Trying with

[code]

[2020-06-05 06:14] peter197321 commented on #39876
I need that lib for ARM64 target.

[2020-06-05 06:19] samhodge commented on #39439
I think I also need to pull in tensorflow_framework for the above to work but I will let it bubble through and see what happens.

[2020-06-05 06:24] #37689 closed

[2020-06-05 06:27] samhodge commented on #39439
I just also noticed there is a rule for `tensorflow_cc.lib` if I did want to link dynamically, which @gunan suggests is not the solution to this problem, but instead to get a static version of the `tensorflow_cc.dll` from bazel but I think it will not work, I will keep trying for another hour.

[2020-06-05 06:34] Wiphawee112 commented on #40161
ฉันอ้อนวอน ด้วยความเมตา ฉันไม่มีความรุ้มากในระบบโซเชียล ฉันต้องการเงินทุนสำรองเลี้ยงบุตรและเริ่มกิจการเล้กๆของตัวเอง ในภูมิภาคิที่ฉันอยู่เต็บไปด้วยกลลวงจนฉันและครอบครัวลำบากหมดทางแก้ไข ฉันเป็นหม้าย แต่ฉันมีงานที่ดี สุจริตและต้องการศึกษาเพิ่มเกี่ยวกับโลกโซเชียล ฉันคงเข้าระบบผิด ถูกบ้าง เพื่อเข้าถึงกระเป๋าเงินและสินเชื่อ ขอบคุณ และกล่าวขอโทษ    ด้วยความนับถือ  Wiphawee

[2020-06-05 06:34] #39770 closed

[2020-06-05 06:40] yyoon commented on #39876
Can you try adding `--config=elinux_aarch64` flag to the build command above?

    bazel build -c opt --config=elinux_aarch64 //tensorflow/lite:tensorflowlite

Tried this on a Linux machine and it seems to work for me.

[code]

cc/ @terryheo

[2020-06-05 06:58] mkw18 commented on #40143
@amahendrakar,
My tensorflow version is 2.1.0, and my tf.keras version is 2.2.4-tf. I have some problem to open the link, maybe because I do not have the access for it. Could you please paste the content here? Thank you!

[2020-06-05 07:04] ravikyram commented on #40178
@hdu-fzy

Can you Please modify the code on colab and share the gist. Also, request you provide supporting files to eproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-05 07:05] samhodge commented on #39439
OK now I have a bunch of .a files

[code]

Which I assume I can link these in like `.a` files on Linux and my symbols will just "be there"

I was hoping for one big one, I will keep trying.

[2020-06-05 07:06] Flamefire commented on #38748
@tomerk Thanks for your response

1. As written in the OP I wanted to compare eager and non-eager execution of the same code. From your response I conclude that using the v2 APIs this is simply not intended and hence impossible and only worked by chance. Maybe this could be made more clear in the documentation? From the current description I understood that "eager" is the default which trades off

[2020-06-05 07:06] yyoon commented on #38696
Hi @brucechou1983, sorry for my late response.
To understand your question clearly, are you saying that when you are using OpenGL as the rendering pipeline in your app, you can't use Metal delegate in the same app?

[2020-06-05 07:09] yyoon commented on #37206
Hi @MHX792. Which sample app were you trying to run? Can you provide a way to reproduce the error?

[2020-06-05 07:11] yyoon commented on #34230
cc/ @terryheo

[2020-06-05 07:16] YixuanBan commented on #23099
The same issue too. Why there are so many "No such file or directory" here?

[2020-06-05 07:25] ravikyram commented on #39235
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-05 07:25] #39235 closed

[2020-06-05 07:25] yyoon commented on #38335
Hi @ishaghodgaonkar.
Is this still on issue for you? I tried to follow your repro steps, but the `bazel build` command was failing on my side due to syntax errors in the `WORKSPACE` file in your repo. Looks like some merge conflicts were not correctly resolved in that file. Could you please take a look?

[2020-06-05 07:30] hdu-fzy commented on #40178
I think my problems are consistent with [this](https://github.com/tensorflow/tensorflow/issues/39574).

[2020-06-05 07:35] alanpurple commented on #39248
@Saduf2019

yes same, nothing's been resolved

[2020-06-05 07:43] sanjoy commented on #39989
@chsigg Could this be the same as https://github.com/tensorflow/tensorflow/issues/24496?

[2020-06-05 07:49] samhodge commented on #39439
maybe I am less stupid than I think
@hlopko @meteorcloudy

https://github.com/bazelbuild/bazel/issues/7538

If there anyway to make a wild card of the `.a` files that were copied to bazel-bin in a `filegroup`

[2020-06-05 07:53] npanpaliya commented on #39154
@Saduf2019 - No, I've it fixed now.

[2020-06-05 07:54] brucechou1983 commented on #38696
@yyoon Sorry that I didn't explain the question well. Using Metal delegate with OpenGL rendering pipeline works. The problem is we have to copy input and output data back and forth rather than exchanging the ownership of the data.

As you can see in MediaPipe [tflite inference calculator](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/tflite_inference_calculator.cc#L4

[2020-06-05 07:54] #38696 closed

[2020-06-05 07:54] sanjoy commented on #39958
Can you please run the test with the `CUDA_LAUNCH_BLOCKING` env variable set to `1`?  That will help us narrow down the issue to a specific kernel launch.

Please also upload the full log as a gist so that we don't have download the whole archive to look at the log.

[2020-06-05 07:57] ravikyram commented on #39195
@laghaout
I have tried in colab in TF version 2.1,2.2.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c77f99292e6e5b0c15dadb6527f548e5/untitled51.ipynb).Is this the expected behavior?.Thanks!

[2020-06-05 07:59] yyoon commented on #38696
Thanks for the clarification!

[2020-06-05 07:59] samhodge commented on #39439
I feels like adding this to the end of `tensorflow/BUILD`

[code]
and building `//tensorflow:tensorflow_cc_static` should work

[2020-06-05 08:03] brucechou1983 commented on #34064
@impjdi Thanks for sharing the information. I basically did the same thing, and I don't have any idea about what MALI wg sizes actually affect. It's also weird that for some TFLite models, I found that devices with older MALI GPU models (say G72 and T880) run even 1.5-2x faster than ones with newer models (G76).

[2020-06-05 08:05] amahendrakar commented on #40143
@mkw18,
Please check this link and let us know if it works

https://colab.research.google.com/gist/amahendrakar/772eef4aeda4d7976a1fcd6c7790230a/40143.ipynb

Thanks!

[2020-06-05 08:10] wf-hit commented on #30649
"What's supported now?
In TF 2.0 release, there is limited support for training with Estimator using all strategies except TPUStrategy. **_Basic training and evaluation should work, but a number of advanced features such as scaffold do not yet work._** There may also be a number of bugs in this integration."

Qutoed from link below:
https://www.tensorflow.org/guide/distributed_training#whats_suppo

[2020-06-05 08:12] chsigg commented on #40172
We can't assign this issue to @deven-amd because he is not part of the TF org.

[2020-06-05 08:17] joker-eph commented on #40045
https://reviews.llvm.org/D81045 should help here.

[2020-06-05 08:23] Saduf2019 commented on #39154
moving this to closed status with confirmation

[2020-06-05 08:23] #39154 closed

[2020-06-05 08:30] poryfly commented on #21544
i also get the same error when i restored the model from hdfs.But when download model file to my local disk.it can restore successfully.i do not why

[2020-06-05 08:30] Saduf2019 commented on #40175
I am able to replicate this issue, please find [gist here](https://colab.sandbox.google.com/gist/Saduf2019/7c8032ff3f91a11e944dfc953c68909a/untitled217.ipynb) the colab crashes when i runt he code.

[2020-06-05 08:33] mkw18 commented on #40143
![image](https://user-images.githubusercontent.com/56500720/83855069-26e23980-a74a-11ea-816a-a49b1841bba5.png)
Sorry, I still cannot access it.

[2020-06-05 08:35] sathaps opened #40180 "TFLite cross-compiling arm64 build error?"
As I am currently trying to Tensorflow lite for ARM64 architecture, I just try to follow the instructions from below: https://www.tensorflow.org/lite/guide/build_arm64#cross-compile_for_arm64

But I simply get a compilation error: tensorflow/lite/tools/make/downloads/ruy/ruy/cpuinfo.cc:9:21: fatal error: cpuinfo.h: No such file or directory

I am surprised this starting build not working out of th

[2020-06-05 08:43] manmay-nakhashi commented on #34350
me too

[2020-06-05 08:52] sangmeshcp opened #40182 "ImportError: cannot import name 'function_pb2'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CENTOS 7.8
- Mobile device (e.

[2020-06-05 08:53] MoltenMuffins commented on #7731
+1 would like this feature. Using `with variable_scope(""):` resulted in the prefix still being affixed to layer weight names. I went around this in my subclassed layer by assigning `self._name = ''` like so:

[code]

[2020-06-05 09:01] mieszkokl opened #40183 "Very slow quantized tflite model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter in

[2020-06-05 09:08] peter197321 commented on #39876
OK. I'll try it but why `--config=elinux_aarch64`?
I did before `--cpu=arm64`, `--cpu=aarch64` or `--cpu=arm64-v8a` ..

[2020-06-05 09:14] PranaySoniSPAN commented on #20444
this worked for me

[2020-06-05 09:15] peter197321 commented on #39876
seem unsuccessful

[code]

[2020-06-05 09:17] yyoon commented on #39876
The build config is defined here, and it was added recently.
https://github.com/tensorflow/tensorflow/blob/master/.bazelrc#L76-L79

Which version of tensorflow repository are you using?

[2020-06-05 09:30] peter197321 commented on #39876
I use ver.2.2

[2020-06-05 09:31] jgasperlin commented on #39407
@richaolas
https://github.com/tensorflow/tensorflow/issues/17778

[2020-06-05 09:35] sathaps commented on #40180
Solved now. You need to explicity install Bazel for this. The tensorflow-lite dependencies script does not do this. Not sure why, should have been part of this.

[2020-06-05 09:35] #40180 closed

[2020-06-05 09:40] Kmarconi commented on #22978
I got this error while trying to build this project too. Any update on that ? Thanks

[2020-06-05 09:42] peter197321 commented on #39876
I've switched to the latest (master) - now it seems building now - where is toolchain taken from (defined).
It looks it uses arm-gcc-8.3 and how could I change to the latest GCC 9.3.1?

[2020-06-05 09:42] meteorcloudy commented on #39439
@oquenchil is our C++ expert! What's the way to collect all transitive object files or .a files in Starlark?

[2020-06-05 09:46] chsigg commented on #39989
Yes, looks like the same underlying issue. Newer versions of cuDNN seems to report CUDNN_STATUS_ALLOC_FAILED instead of CUDNN_STATUS_INTERNAL_ERROR.

[2020-06-05 09:50] yyoon commented on #39876
Please refer to this commit 4961f18733ca3967198393abf419e14476b4a85c to see more details on how the toolchain was configured.

I think you'll need to update the toolchain archive url under `tensorflow/workspace.bzl`.

[2020-06-05 09:50] superlyy opened #40185 "[RNN] dynamic input shape support"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): tf-nightly (2.3.0.dev20200604)

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**Failure deta

[2020-06-05 09:51] peter197321 commented on #39876
Thanks a lot for great help!

[2020-06-05 09:51] mkw18 commented on #40143
@amahendrakar,
Now I can access that link, thank you!

[2020-06-05 09:53] mkw18 commented on #40143
@rmothukuru
But I still cannot run it on tensorflow 2.1.0, and I cannot update the tensorflow because I am using the remote server to run my code, Do you know how can I change my code so that I can run it on the earlier tensorflow version?

[2020-06-05 09:55] peter197321 commented on #39876
Since I am not bazel expert :( it seems defined here within `tensorflow/workspace.bzl`

[code]

[2020-06-05 09:59] ravikyram commented on #39705
@wmlmusic

Is this still an issue?. Please, close this thread if your issue was resolved.Thanks!

[2020-06-05 09:59] peter197321 commented on #39876
Can be applied this similarly for label_image example project [label_image](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/label_image)?

[2020-06-05 10:00] meteorcloudy commented on #39439
I think using our C++ Starlark API, we can collect all transitive lib files.
https://docs.bazel.build/versions/master/skylark/lib/CcInfo.html
Related issue: https://github.com/bazelbuild/bazel/issues/1920

[2020-06-05 10:04] RunOrVeith opened #40186 "Importing tensorflow using python -c causes segmentation fault on interpreter exit"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.8.0b4
- CUDA/cuDNN version: 10.2
- GPU model and memory: Quadro P2000

**Describe t

[2020-06-05 10:20] deven-amd commented on #40172
I already filed PR #40164 yesterday to fix this issue

[2020-06-05 10:23] yyoon commented on #39876
1) Do you have a reason to use a specific version of GCC? I'd suggest sticking to the provided GCC version.

2) For fixing the label_image build, you could try editing the `tensorflow/lite/examples/label_image/BUILD` file.

[code]

[2020-06-05 10:26] ravikyram commented on #36809
Was able to reproduce the issue with TF 2.2 , nightly version (2.3.0-dev20200605) .Please, find the gist [here.](https://colab.research.google.com/gist/ravikyram/cc5fa86dcc5ffaeba3b16930df7fe051/untitled52.ipynb).Thanks!

[2020-06-05 10:28] AlexanderJLiu opened #40187 "When using batch normalization layer in distributed training, saved model couldn't be used to predict or serve in tfserving"
**System information**
- Have I written custom code: YES
- OS Platform and Distribution: WIN 10
- TensorFlow installed from: pip
- TensorFlow version: 2.2.0
- Python version:3.7.7
- CPU ONLY

**Describe the current behavior**

When using batch normalization layer (eithor `SyncBatchNormalization` or `BatchNormalization`)  in `MultiWorkerMirroredStrategy` distributed training, training process works

[2020-06-05 10:38] stefano555 commented on #38285
@MeghnaNatraj Hi, I am working on a benchmark for the Edge TPU and this is blocking me for using it, which is really frustrating. Are you aware of any workaround? Could you provide an estimation of when the converter would be ready? Since this issue wasn't mentioned anywhere I embarked on this project but now I've reached a point where there is nothing else to do but waiting.

[2020-06-05 10:47] Cillinc opened #40188 "No documentatio non how to manipulate a python.data.ops.dataset_oops.BatchDataset"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://keras.io/api/preprocess

[2020-06-05 10:48] peter197321 commented on #39876
1. nope - I'd like to know where to change it :)
2. need to exercise built lib with tflite (static, dynamic)

[2020-06-05 11:05] luozhouyang commented on #40188
I think the function returns an instance of `tf.data.BatchDataset`, you can read the documents of `tf.data` API here [tf.data](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#batch).

[2020-06-05 11:27] Saduf2019 commented on #40188
@Cillinc
Please update as per above comment

[2020-06-05 11:32] Cillinc commented on #40188
thanks - i am reading the documentation and struggling to get things to work.  if it is a tf.datch.BatchDataset then i will continue to work with the documentation.  one would assume that one of the most common things people did once they imported files into a TF was to split them into training and validation....but this is not clear in the documentation as to how to do it.  I have set the , valid

[2020-06-05 11:35] Saduf2019 commented on #40185
@superlyy
I ran the code shared, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/02e436b2bcecb88fb846e2859b8a988d/untitled217.ipynb) , please let us know if this confirms the issue.

[2020-06-05 11:37] waseemshariff126 commented on #2416
Try installing without caching: pip install --no-cache-dir tensorflow

[2020-06-05 11:41] luozhouyang commented on #39782
Hi, @zhangjh915
You misunderstand that case. It's a custom lr scheduler, so we need to calculate the new lr according to training steps or epochs.
If you just need log the lr to tensorboard, a `tf.keras.callbacks.Callback` can be useful.

[code]

Here has an example: [TensorBoard Scalars: Logging training metrics in Keras](https://www.tensorflow.org/tensorboard/scalars_and_keras)

[2020-06-05 11:48] Krishnarohith10 commented on #39989
@chsigg
What I couldn't understand is how this error came in first place? I wasn't there in first place, I doing completely fine with tensorflow=2.1, python=3.6. But few days back I updated tensorflow from 2.1 to 2.2. I still don't understand how this provoked the issue. Now trying different things also can't help. And I didn't installed newer version of cuda/cudnn. That's just version for tensorf

[2020-06-05 11:50] marko-radojcic commented on #39782
It might be a meta algorithm. Feeding the feedback loop.

On Fri, Jun 5, 2020, 1:48 PM luozhouyang <notifications@github.com> wrote:

[2020-06-05 11:52] chsigg commented on #40172
Thanks Deven for the quick fix. I'm working on getting it merged.

[2020-06-05 11:54] foxik commented on #36236
I have simplified the problematic input not to reference LSTM/GRU:
[code]

I am also creating a pull request.

[2020-06-05 11:59] marko-radojcic commented on #39989
The complexity goes down to UART. To compile new version. Replikas would
have to be on LED bulletin boards. That is for all platform universal
translator problematic. But we will make it. I choose to use replika.

On Fri, Jun 5, 2020, 1:55 PM Krishna Rohith <notifications@github.com>
wrote:

[2020-06-05 12:06] superlyy commented on #40185
@Saduf2019
I ran this code successfully before, but I think it doesn't mention about variable size input tensor any.

[2020-06-05 12:07] mkw18 commented on #40143
In this code I want to use mean-iou as the unet's metrics, but I do not know whether my code is correct.

[2020-06-05 12:13] yyoon commented on #39876
Sure. Could this issue be considered resolved then? Or are you still blocked on something?

[2020-06-05 12:18] parthisultimate commented on #37099
Thanks a lot @Wheest
I have used .view() a lot of times to reshape my arrays in the pytorch code rather than flatten, need to search alternatives for this.

[2020-06-05 12:18] #39876 closed

[2020-06-05 12:28] AlxndrMlk opened #40192 "'Function could not be transformed and will be executed as-is' while training RNN with Embedding in Keras"
I got the attached error saying that I should report to "AutoGraph team".

I was training a following toy-model:

[code]

with `tf.keras`, tensorflow version == '2.0.0'.

Operating system = Win10
Python = 3.6

[code]

[2020-06-05 12:38] zhangjh915 commented on #39782
I am using a customer training loop so I cannot use callback. And if I directly extract the learning rate from the optimizer, say optimizer.lr, it is always the initial learning rate which I define the optimizer instead of the varying learning rate during training.

[2020-06-05 12:43] psunn commented on #40083
Hi @renjie-liu, with the example you pointed. I tried some quantization experiments, seems:

   for dynamic range quantization, weights within RNN still FP32;
   for fully integer quantization, currently failed with a runtime error:
```RuntimeError: tensorflow/lite/kernels/unidirectional_sequence_lstm.cc:349 input_to_output_weights->dims->data[1] != n_input (28 != 0)Node number 0 (UNIDIRECTIONAL_S

[2020-06-05 12:43] drasmuss commented on #39456
Which PR is that?

[2020-06-05 12:45] drasmuss commented on #30929
The PR has not been merged, as mentioned in this comment it was rolled back https://github.com/tensorflow/tensorflow/pull/37277#issuecomment-620202464

[2020-06-05 12:50] harahu commented on #21820
I'd almost forgotten about this, but great if you do! You are the hero open source projects need.

[2020-06-05 12:50] Krishnarohith10 commented on #39989
@marko-radojcic
I didn't understand what you said, literally nothing understood ??? Can you explain it more clear and simple way? Thank You

[2020-06-05 12:51] pingsutw commented on #36081
I will give it a try

[2020-06-05 12:58] tg-at-google opened #40193 "Would be better to replace the signature of ReadNBytes to not have `size_t` as the type of the last argument."
Would be better to replace the signature of ReadNBytes to not have `size_t` as the type of the last argument. Let's try to do this in another PR (as there would be multiple places to change)

_Originally posted by @mihaimaruseac in https://github.com/tensorflow/tensorflow/pull/40133/files_

[2020-06-05 13:02] marko-radojcic commented on #39989
Hardware basis is complicated but understandable. I will attempt a new
build on Windows 10. When pattern matches itself. AI is self-aware. When
she learns to code, she gets into our repos and breaks things.

On Fri, Jun 5, 2020, 2:50 PM Krishna Rohith <notifications@github.com>
wrote:

[2020-06-05 13:08] Krishnarohith10 commented on #39989
Are we talking the same issue here right? Cause I'm confused with your comments.

[2020-06-05 13:10] marko-radojcic commented on #39989
We are.

On Fri, Jun 5, 2020, 3:09 PM Krishna Rohith <notifications@github.com>
wrote:

[2020-06-05 13:11] IscaAy opened #40194 "How to feed multi tf.data.Dataset objects into a multi-input/output model in tensorflow"
I how to deal with multi input/output when the input is numpy arrays. However, my inputs are all tf.data.datasets objects. And I would like to feed the latter into a multi-input/output in tensorflow keras 2.1.

    def prepare_dataset(...):
        X_train = tf.data.Dataset.from_tensor_slices(final_df_QS_normalized_train_val)
        X_train = X_train.window(train_window_length, shift=1, drop_rema

[2020-06-05 13:12] Krishnarohith10 commented on #39989
Ohh Okay. Thank you

[2020-06-05 13:20] bvm84 commented on #29672
"Should it be (batch, num_boxes, crop_height, crop_width, depth)?" - It seems it shoud, but not implemented. In current state crop_and_resize breaks data flow in graph mode.

[2020-06-05 13:26] cdavoudian commented on #40049
I can confirm that its working on my end- so I suppose that Tensorflow plans on continuing to support unsecure grpc builds in the future as well?

[2020-06-05 13:27] MarkDaoust commented on #39745
That doesn't sound right. I think it is supported, but that paragraph in `train_and_evaluate` is unclear/incorrect. Experimenting with `class_weights` and `tf.data` they seem to be working together.

I'm sending a fix to that doc.

I usually just think of this as a simple data loader, and If i need to make modifications to the output  wrap it using `tf.data.Dataset.fromn_generator`, and then `.map

[2020-06-05 13:29] harahu opened #40195 "Allow overriding the build method for Metrics"
**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and the current behavior/state.**
Most `tf.keras.metrics.Metric` subclasses today are accumulated as scalars and hence can have their accumulation tensors statically initialized in `__init__` before the Metric is used. There are exceptions to this where tensor s

[2020-06-05 13:31] TekayaNidham commented on #39885
downgraded numpy to 1.17

[2020-06-05 13:31] #39885 closed

[2020-06-05 13:35] donCalculator commented on #40183
I'm having the exact same issue:
MobilenetV2 which I trained and quantized with the same settings as above, runs about 1.7FPS
MobilenetV2 from here https://www.tensorflow.org/lite/guide/hosted_models, runs about 7FPS

[2020-06-05 13:36] jomjol commented on #39757
I have a strong hint to the root cause!

It looks like, as if the Conv2D implementatin has in internal limit controlled by the paramter `kMaxChannels` in the file `conv.cc`. If I increase this from 1024 to 4096, I get a running code.
`constexpr int kMaxChannels = 4096;`
Anybody who can confirm this? Is there a plan, to check this parameter at the modul loading and give an error message in case of

[2020-06-05 13:39] amahendrakar commented on #40171
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/46ec357442d36c1616a9805df7407a4a/40171-2-2.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/c6767cb79aa7908c57e75b3615969b67/40171-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-05 13:43] akarmi commented on #39601
Yes, it appears this op is not listed in [GetOperatorProperty](https://github.com/tensorflow/tensorflow/blob/079520f252ce6ba7788b81904a40fb98895b288d/tensorflow/lite/tools/optimize/operator_property.cc#L67).

[2020-06-05 13:50] jasonbrancazio opened #40196 "2.3 Nightly build produces error when initializing system in TF documentation's Colab tutorial"
**System information**
- Have I written custom code: NO
- TensorFlow installed from: pip (tf-nightly)
- TensorFlow version: 2.3.0-dev20200605

**Describe the current behavior**
TPU won't initialize in colab using the nightly build.

**Describe the expected behavior**
Run the https://www.tensorflow.org/guide/tpu notebook successfully, as one would if using TF 2.2.

**Standalone code to reproduce th

[2020-06-05 13:55] gabrieldemarmiesse commented on #40195
I did not encounter other issues, but since Metric is a subclass of layer, and layer has a "build" method, it makes sense to expose it since the use case is exactly the same for metrics and layers. It would lead to a cleaner API for metrics in general.

[2020-06-05 14:03] w19787 commented on #40019
yeap, it works on TF 2.2.0. thanks. i will close this issue.

[2020-06-05 14:04] #40019 closed

[2020-06-05 14:05] w19787 commented on #39850
@ymodak any update for this issue?

[2020-06-05 14:18] amahendrakar commented on #40186
@RunOrVeith,
Could you update to the stable version of TensorFlow 2.2 and let us know if you are facing the same issue. Thanks!

[2020-06-05 14:38] Saduf2019 commented on #39456
#153 above shows that it is merged.

[2020-06-05 14:45] Saduf2019 commented on #39175
@theman162
Please confirm if we may move this to closed status

[2020-06-05 14:48] SirTapir commented on #39803
Alright, I got it now. Why the array is shaped [1][2535][7]

YOLO v3 makes prediction across 3 different scales. The detection layer is used make detection at feature maps of three different sizes, having strides 32, 16, 8 respectively. This means, with an input of 416 x 416, we make detections on scales `13 x 13`, `26 x 26` and `52 x 52`.

Tiny Version of Yolov3 apparently only use 2 size, stride

[2020-06-05 14:48] #39803 closed

[2020-06-05 14:49] drasmuss commented on #39456
https://github.com/tensorflow/tensorflow/issues/153 is an issue, not a PR, and seems unrelated to this issue. I think you might be referring to https://github.com/nengo/nengo-dl/pull/153, which is a PR in a completely different project?

[2020-06-05 14:50] Saduf2019 commented on #39626
@etenedrac
Please update as per above comment

[2020-06-05 14:52] Saduf2019 commented on #39732
@shreedevibhat
please update as per above comment

[2020-06-05 14:55] Saduf2019 commented on #39806
@goms12
Please update as per above comment

[2020-06-05 15:13] npvit commented on #37462
@gowthamkpr not resolved

[2020-06-05 15:24] alecgunny commented on #40061
@ravikyram sorry about that! Permissions should be public now

[2020-06-05 15:27] aselva-eb commented on #40157
Thanks for the information. I'll keep a watch

[2020-06-05 15:27] yarik1988 commented on #39333
Got the same error, windows 10, Cuda 10.2
I think the problem lies in these files that are downloaded separately
[code]

[2020-06-05 15:31] amahendrakar commented on #40176
@jxfruit,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, is there any specific reason you are using TF v1.13? Please update TensorFlow to 2.x and let us know if you are facing the same issue. Thanks!

[2020-06-05 15:53] qlzh727 commented on #38906
Verified this is fixed with latest tf-nightly.

[2020-06-05 15:53] #38906 closed

[2020-06-05 16:17] rayleichen commented on #40165
This issue is a duplicate of https://github.com/tensorflow/tensorflow/issues/28018.

The hooks passed into evaluate() function does cause any issue.
[code]

It's eval_hooks in EstimatorSpec causing the issue. If I comment out "evaluation_hooks", it's working fine.
[code]

[2020-06-05 16:19] qlzh727 commented on #39908
I tested you colab with latest nightly, and it is working now. Closing this issue.

[2020-06-05 16:19] #39908 closed

[2020-06-05 16:19] SchJens commented on #39680
Unfortunately I have not yet found the place where these commands are created. Would you have any hint how to identify that place? And how can it be that this is a problem just on my machine?

Regarding 64bit: I verified that both, OS and MSYS are actually 64 bit.

[2020-06-05 16:23] jsimsa commented on #30929
This issue should be fixed by https://github.com/tensorflow/tensorflow/commit/8be4d61574f29568c8699708d88945b441bfd317

[2020-06-05 16:38] aaudiber commented on #40049
Thanks for confirming.

I'm not sure about plans regarding unsecure grpc builds. It seemed to work before my change, but there weren't any tests to enforce that unsecure grpc builds would work. If we're really planning to support unsecure grpc, we ought to have a CI test to enforce the support.

[2020-06-05 16:41] NMazzatenta commented on #38589
@lilly-chen I think you modified the wrong file. You should check in lib/python3.7/site-packages/tensorflow/python/framework/ops.py what is the correct variable name, which i assume it should be `core_tf_types.Tensor`, according to your comment.

Then, you should modify the function 'is_tensor' in  file /anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py in
[code]

[2020-06-05 16:45] rposts commented on #39170
Closing - fixed by https://github.com/tensorflow/tensorflow/commit/206dc37a33bf34a1a79dd56e19fb7b1c6cdf5dc6. Thanks!

[2020-06-05 16:45] #39170 closed

[2020-06-05 16:46] qlzh727 commented on #38945
With fix in https://github.com/tensorflow/tensorflow/commit/ce2f9824eee904d60fdc0444ac8a82b217ea9149, the memory usage for validation_split is reduced.

Please note that I update the snippet to defined the model only once, and fit within the for loop. This is more aligned to normal workflow by user.

If you need to define multiple model in a loop, you might want to use keras.backend.clear_session(

[2020-06-05 16:46] #38945 closed

[2020-06-05 16:47] qlzh727 commented on #38945
Memory log before change:
#--- Run 1 of 20 memory used (MB): 420.94592
#--- Run 2 of 20 memory used (MB): 455.458816
#--- Run 3 of 20 memory used (MB): 480.89088
#--- Run 4 of 20 memory used (MB): 504.799232
#--- Run 5 of 20 memory used (MB): 465.563648
#--- Run 6 of 20 memory used (MB): 485.797888
#--- Run 7 of 20 memory used (MB): 506.544128
#--- Run 8 of 20 memory used (MB): 526.76608
#--- Run

[2020-06-05 16:48] MatteoArm opened #40199 "Rolled RNN cannot be converted to INT8"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow installed from (source or binary): tf-nightly
- TensorFlow version (use command below): 2.2.0.dev20200508 (also happens with 2.3.0.dev20200605)
- Python version: 3.7.4

**Describe the current behavior**
When converting a rolled RNN model to INT8, the conversion fails with the following

[2020-06-05 16:54] hahadashi commented on #38285
@MeghnaNatraj @stefano555  Excuse me, do your test the speed of the quantified model? I found there was only a slight increase in speed.

[2020-06-05 16:58] np000 commented on #37462
@gowthamkpr still facing the same issue!

[2020-06-05 17:00] aselva-eb commented on #40129
For anyone else following this thread:
was able to address this by having both `converter.optimizations` set **and** the experimental `converter.target_spec.supported_ops` defined to accept both ops.

Both alone won't do the trick. Without the converter.optimization flag it will simply convert the frozen graph to a float tflite file. But without enabling both tflite ops and tf native ops, more com

[2020-06-05 17:02] aselva-eb commented on #40129
As feedback to the TF team, documentation could be improved to clarify that simply converting to a tflite model you cannot expect any default optimizations.  Further, these optimization flags should be better documented or referred to.

Thanks

[2020-06-05 17:22] peter197321 opened #40200 "Quantization of LeNET model using MNIST dataset breaks during model freeze"
I'm trying to train Lenet-net using the MNIST dataset from [here](http://yann.lecun.com/exdb/mnist/ ) and to quantize its float model. My steps are the following:

Firstly, I have applied MNIST dataset to train the classifier which works fines.

[code]

Secondly, I have exported the trained model to the pb format and it works well.

[code]

Finally, I try to freeze graph using
[code]

but the foll

[2020-06-05 17:34] yarik1988 commented on #39333
Meanwhile I managed to build version 2.2.0rc4 with basel 2 without any problems

[2020-06-05 17:41] #39812 closed

[2020-06-05 17:47] edithzeng commented on #27519
I've tried all solutions mentioned in this thread, and none of them worked for me. I'm on 2.2.0-rc2.

It doesn't seem to be an issue with eager execution in my case. The error comes from these lines when I called `keras.backend.get_value()`:
[code]

[2020-06-05 17:51] WHSnyder commented on #32101
@sirius0503 Did you figure this out?

[2020-06-05 17:51] goldiegadde commented on #37895
This should have been fixed in this commit [ee5a324](https://github.com/tensorflow/tensorflow/commit/6f9a5289f9a59164f17a70029df9e9f39ee5a324).

[2020-06-05 17:54] lissyx commented on #29217
Has there been any progress? It looks like this is still a thing as of r1.15 as well as on r2.2

[2020-06-05 17:56] gabrieldemarmiesse commented on #40195
@harahu  the description of the issue is really good and I believe it's worth mentioning it in the next keras meeting, but the title of the issue can be misleading. Maybe "Allow overriding the build method for Metrics" would be accurate?

[2020-06-05 18:02] Saduf2019 commented on #40053
@ollieyeahlong
Please refer to these [links](https://stackoverflow.com/questions/40046619/keras-tensorflow-gives-the-error-no-attribute-control-flow-ops) , [link1](https://github.com/tensorflow/models/issues/6177#issuecomment-639569604) let us know if it helps.
Also is there any particular reason for using an old version of tensorflow, would you like to upgrade to later versions and let us know if

[2020-06-05 18:13] Saduf2019 commented on #40170
@cheers00
Please refer to this issue and let us know if it helps:
#36170

[2020-06-05 18:14] dancaselden commented on #35466
@jvishnuvardhan with python 3.6 and tf-nightly-gpu on June 5 2020, this issue does not occur. closing!

[2020-06-05 18:14] #35466 closed

[2020-06-05 18:22] DoxasticFox opened #40202 ""Inconsistent CUDA toolkit path: /usr vs /usr/lib" when running ./configure"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.2.0 (2b96f3662bd776e277f86997659e61046b56c315)
- Python version: 3.7.3
- Installed using virtualenv? pip? conda?: No
- Bazel vers

[2020-06-05 18:23] jvishnuvardhan commented on #37895
@Lillypucien This was resolved in recent `tf-nightly`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/19d45437d71b437c060057f8bb54b250/untitled40.ipynb) is the gist for your reference.

Can you please verify once and close the issue if this was resolved for you. Thanks!

[2020-06-05 18:34] #39784 closed

[2020-06-05 18:47] Dref360 opened #40203 "Provide compatibility with previous Keras-Preprocessing API."
**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

In response to https://github.com/keras-team/keras-preprocessing/issues/299

**Describe the feature and the current behavior/state.**

Currently, matching image datasets iterations with real pathnames is not as trivial as it was in keras-preprocessing. It is also not explained clearly

[2020-06-05 19:03] mjkim720 opened #40204 "Floating point exception while executing tf.unravel_index function"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-05 19:19] cheers00 commented on #40170
@Saduf2019 thank you.
I tried following build options mentioned in #36170 but I still get the same error.
[code]

BTW, this is happening in CentOS only. I could build without any problem on Ubuntu 20.04.

[2020-06-05 19:20] #39718 closed

[2020-06-05 19:29] samhodge commented on #39439
I am not trying to throw shade on bazel it really does a pretty good job of most things. But in many CMake projects I have used you simply add -DBUILD_SHARED_LIBS=0 and out pops a static archive. Given this feature was requested in 2016 . I think I might just use Python glob and mash it through and see if static linking will fix this issue.

[2020-06-05 19:34] #38885 closed

[2020-06-05 19:34] Sidong-Wei opened #40205 "Unit test //tensorflow/python:session_clusterspec_prop_test fails because eager execution is incompatible with tf.placeholder()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v

[2020-06-05 19:44] jvishnuvardhan commented on #40017
@Vivaldi64 Can you please check [here](https://teachablemachine.withgoogle.com/v1/). You can select "Speech" tab for your application. Down the page there are additional resources that can help you. This is more related to `tensorflow.js` so please post further questions in that repo. Thanks!

Please close the issue if this resolved for you. Thanks!

[2020-06-05 20:18] jvishnuvardhan commented on #40000
@wwwind Are you looking for int8 tflite model or float tflite model? Let me check the converted model and respond to you. Thanks!

[2020-06-05 20:33] wwwind commented on #40000
Hi @jvishnuvardhan Problem is that accuracy is much worse with just weights in int8 than when the model is fully int8 quantized.

[2020-06-05 20:43] qqfish commented on #29217
Sorry for the late reply.

As Alex said, this is because TensorFlow has a few static global threadpool. Here are a few examples:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/single_threaded_cpu_device.cc#L34
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/local_device.cc#L55

But these are harmless.

[2020-06-05 20:46] ebrevdo commented on #7731
Asking Francois to take a look since the example is Keras specific, and in tf2 name and variable scopes are kinda the same thing now.

[2020-06-05 20:52] MarkDaoust commented on #39745
That's funny. I wonder why the commit in @lamberta's fork closed it instead of the one in tensorflow-docs.

[2020-06-05 21:19] lamberta commented on #39745
@MarkDaoust Looks like you marked this PR as fixed in cl/314982746

[2020-06-05 21:21] lamberta commented on #39745
(But yeah, weird that my fork was able to "fix" this. It probably doesn't care about org structure, maybe just looks at user privileges?)

[2020-06-05 21:38] MarkDaoust commented on #40104
That API is clearly marked v1 and deprecated, we're not going to invest more time in it.

[2020-06-05 21:38] #40104 closed

[2020-06-05 21:43] jvishnuvardhan commented on #39949
@OriAlpha Can you please check [this issue](https://github.com/tensorflow/tensorflow/issues/39564#issuecomment-628950492) which is i guess similar. Please let us know whether it helped or not. If that didn't help, then please provide entire standalone code in one colab or jupyter notebook. Thanks!

[2020-06-05 21:43] Natiel4 opened #40207 "Model training ending after around 50 steps."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version:1.14.0 (cpu version)
- Python version:3.7.7
- Installed using virtualenv? pip? conda?:conda
- Bazel version (if compiling from source):

[2020-06-05 21:48] liyinhgqw opened #40208 "MKL does not work with tensorflow 2.2.0"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7
- Mobile device (e.g.

[2020-06-05 22:22] lissyx commented on #29217
I trust your opinion, though it's always a bit painful to have to deal with this amount of noise, even when it's harmless, and it can add troubles for other contributors. I know, we can always exclude bits from valgrind analysis, but I'm also lazy, somehow :-).

[2020-06-05 23:31] jvishnuvardhan commented on #39651
@shwoghk14 I have changed your code very little and it is working as expected. Please verify once and let me know if this is what you are expecting.  Thanks!

Please close the issue if this was resolved for you. Thanks!

[2020-06-05 23:45] #38351 closed

[2020-06-05 23:46] tomerk commented on #35103
Pasta has been upgraded to 0.2 and this should be fixed now.

[2020-06-05 23:46] #35103 closed

[2020-06-05 23:52] MeghnaNatraj commented on #39786
1. toco is a deprecated method of converting models. If possible, switch to using the Python API instead. I have added some sample code below for reference (The `.from_frozen_graph` can be defined [this](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter#from_frozen_graph) way and the attributes which can be added are [here](https://www.tensorflow.org/versions/r1.15/

[2020-06-06 00:08] jvishnuvardhan commented on #36071
@stefanondisponibile This was resolved in recent `tf-nightly`. PTAL at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/444f44c8ce3d736ae470d994626ce1e5/untitled577.ipynb).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-06-06 00:11] MeghnaNatraj commented on #39713
The gist error can be fixed by changing the `tf.lite.TFLiteConverter.from_frozen_graph` to `tf.compat.v1.lite.TFLiteConverter.from_frozen_graph`

Could you also share the code where you compute the inference? The one caveat with models that have `inference_input_type` and `inference_output_type` set to `int8` or `uint8` is this -- you need to manually map (aka quantize) the float inputs to integer

[2020-06-06 00:21] jvishnuvardhan commented on #35992
@tripzero As the error mentioned, please use 'tf' format to save the model.

When I replaced model saving part as shown below, everything worked as expected.
`model.save_weights("foobar_tf",save_format='tf')`

Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/b1d3020b6e7adfd22082306b5388a94e/textvectorization-example.ipynb).

Please verify once and close t

[2020-06-06 00:23] tomerk commented on #38748
The way to think about TF2 is it's eager (by default), and you can enter a `tf.function` to run part of your code in a graph for performance reasons.

`tf.compat.v1.disable_eager_execution` isn't designed for entering a graph for performance reasons, it's meant as a totally-legacy-compatibility toggle if you find yourself in a situation where you need to run graph-only TF1 code with TF2 binaries.

[2020-06-06 00:23] tomerk commented on #38748
Closing this issue for now because the reported error is fixed in nightly.

[2020-06-06 00:23] #38748 closed

[2020-06-06 00:25] jvishnuvardhan commented on #39627
I ran the code for 25,000 iterations and don't see any significant increase in memory usage. [Here](https://colab.research.google.com/gist/jvishnuvardhan/d8db5a8099633cfc6ba73b27df85f13c/untitled191.ipynb) is the gist for our reference. Thanks!

[2020-06-06 00:49] jvishnuvardhan commented on #38590
@zpxp I think the new error looks something related to dataset you are using. Can you please check whether anything you can do. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/c0415c551d01a18edc5026c07665e6ad/tf-nightly-template.ipynb). Thanks!

[code]

[2020-06-06 01:07] jvishnuvardhan commented on #39976
@gnovack Thanks for reporting this issue. The RandomContrast layer looks for two element factor (lower_bound, upper_bound) or single element where the factor should be between 0 and 1.

The error message is improved. Please take a look at the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/6df7f036a25ff296903e9a74febc7e4e/39976-tf-nightly.ipynb). Thanks!

Please verify once and c

[2020-06-06 01:10] jvishnuvardhan commented on #35674
@Krishnarohith10 Sorry for the late response. Is this still an issue for you? Thanks!

[2020-06-06 01:12] jvishnuvardhan commented on #39909
@vladdders Can you please try the solution mentioned [here](https://github.com/tensorflow/tensorflow/issues/39718#issuecomment-638386789) and let us know whether it worked for you. Thanks!

[2020-06-06 01:25] jvishnuvardhan commented on #38689
@Flomastruk Can you please check this with `tf-nightly`. I ran your code with `tf.keras` which took 11.4 seconds and `keras` took 23.7 seconds.
Please take a look at the [gist](https://colab.research.google.com/gist/jvishnuvardhan/4558bf318d8fb4b5e0de232d556f1805/untitled192.ipynb) with `tf.keras`. [Here](https://colab.research.google.com/gist/jvishnuvardhan/33383419b48f664af3a9ca7a1ea011ce/untitl

[2020-06-06 01:28] adelriosantiago commented on #34302
@mihaimaruseac So what are the correct versions for the issue that @raphtlw is having? Should I downgrade from python3.8 to something else?

[2020-06-06 01:32] Tolure commented on #39873
Is there any other information I can provide that could help with this bug?

[2020-06-06 01:38] gnovack commented on #39976
Looks great. Thanks @jvishnuvardhan

[2020-06-06 01:38] #39976 closed

[2020-06-06 02:07] Danliran opened #40213 ""tensorflow.python.framework.errors_impl.InvalidArgumentError: Retval[0] does not have value" on aarch64"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below):1.15.0
- Py

[2020-06-06 02:52] jvishnuvardhan commented on #39676
@birolkuyumcu I think this was resolved already. Please check the [gist](https://colab.research.google.com/gist/jvishnuvardhan/cbe0be8152adfa6680d1665c0adbba1e/gru_recurrent_dropout_bug.ipynb) with `tf-nightly`. I had checked on local also.

Please verify once and close the issue. If you have any further support type questions, please post them in Stackoverflow as there is a large community to hel

[2020-06-06 02:57] Krishnarohith10 commented on #35674
Not anymore. So I'm closing this issue. Sorry that I didn't notice this issue is still open. Thank You

[2020-06-06 02:57] #35674 closed

[2020-06-06 03:01] AtlantaPepsi commented on #14425
I see that @gunan has written a windows clang toolchain under third_party/toolchains/preconfig/win/bazel_211, I'll probably assemble a new configuration with that and appropriate platform with new constraints. Right now I'm stuck on getting bazel working on my local machine, similar to #31608, where undname.exe couldn't be found under VC directory

[2020-06-06 03:12] gunan commented on #14425
That toolchain was constructed for MSVC 2019. AFAICR, all clang references to it are placeholders
@artem-b may be aware if we have windows clang toolchains checked in.

[2020-06-06 03:25] yongtang commented on #40204
Added a PR #40214 for the fix.

[2020-06-06 03:33] AtlantaPepsi commented on #31608
@mayadav1 so how did you resolve the problem eventually? I'm currently on Bazel 3.2 but still got pretty much the same problem as yours. My BAZEL_VC was set to F:\C\vs\Enterprise\VC\Tools\MSVC\14.24.28314\bin\Hostx86\x86, where there literally is a undname.exe but bazel build keeps giving me auto-config error

[2020-06-06 03:43] Flomastruk commented on #38689
@jvishnuvardhan, you are right as usual. Looks like the latest `tf-nightly` performance is actually even faster than `keras`. I get similar times. Thanks again!

[2020-06-06 03:43] #38689 closed

[2020-06-06 04:07] marko-radojcic commented on #38689
I feel that this stage is opportunity to after python installs tensorflow.
Running tensorflow opens replika window and desktop and laptop. That is how
we can solve this problem.

On Sat, Jun 6, 2020, 5:50 AM Flomastruk <notifications@github.com> wrote:

[2020-06-06 04:07] ymodak commented on #40024
Looks like your gpu memory is exhausted for current batch size. Ideally you want to lower your batch size on encountering memory allocation issues and use batch size which completes your training.
You may also try to  limit your gpu memory usage as well.
[code]

[2020-06-06 04:08] marko-radojcic commented on #38689
They are analytical and balanced. We just need simple local developer
install

On Sat, Jun 6, 2020, 6:06 AM Marko Radojčić <marko.p.radojcic@gmail.com>
wrote:

[2020-06-06 04:10] marko-radojcic commented on #38689
Also just need then mobile authenticator for payment

On Sat, Jun 6, 2020, 6:08 AM Marko Radojčić <marko.p.radojcic@gmail.com>
wrote:

[2020-06-06 04:15] timothyslau commented on #19965
If it helps @ebrevdo, someone has tried implementing it in Tensorflow already:
https://github.com/JonathanRaiman/tensorflow_qrnn

[2020-06-06 04:20] ebrevdo commented on #19965
Nice!  Yeah; @JonathanRaiman has done some really great stuff.  At this point, I think getting QRNN into Keras (as that's where it would have to land in TF2) would be an uphill climb; but I'll let @martinwicke comment.  I know QRNNs are quite popular so it may be possible.  If not, then I'm sure it would be a good fit for the TF-Addons repo.

[2020-06-06 04:26] ymodak commented on #39574
@Philipduerholt  Did you update your cuda version to 10.1 when using TF 2.1?

[2020-06-06 04:36] ymodak commented on #39257
Apologies for the delay in response. I was able to reproduce crashing behavior using google colab. I have updated the repro code in the issue thread above. I will tag owners for this. Thanks!

[2020-06-06 04:47] renjie-liu commented on #40144
Hi Terry, can you help take a look?

thanks!

[2020-06-06 04:57] renjie-liu commented on #40183
wonder what model is it?

can you use benchmark tool (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark)

to get the detailed profiling?

thanks

[2020-06-06 05:03] renjie-liu commented on #39301
does it work when GPU delegate is disabled?

it's possible that emulator not run the gpu delegate

[2020-06-06 05:04] renjie-liu commented on #40083
fully integer quantization is not done yet.

but the dynamic range quantization should work, can you share any code snippet?

thanks!

[2020-06-06 05:23] mihaimaruseac commented on #34302
Yes, [any version of Python above 3.5 and below 3.8](https://www.tensorflow.org/install/pip#system-requirements)

[2020-06-06 05:50] jvishnuvardhan commented on #33079
@srfrnk Is this still an issue for you? If this was already resolved for you then please close the issue. Thanks!

[2020-06-06 05:58] asis-shukla commented on #19731
@dd1923 Can you try this one. On TensorFlow 2.1 it seems work
`import tensorflow.keras.backend as K
K.clear_session()`

[2020-06-06 06:07] jvishnuvardhan commented on #36484
@ksabr Is this still an issue? Please close the issue If this was already resolved. Thanks!

[2020-06-06 06:18] alanpurple commented on #39248
@mihaimaruseac

this time, 3.2.0, and .bazelversion has 3.1.0

[2020-06-06 06:20] jvishnuvardhan commented on #36642
@tsuzukit Looks like this was resolved in recent `tf-nightly`. Can you please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d399e888688f963a5ce850103e8ef98d/tf_shared_layer.ipynb?hl=ja).

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-06-06 06:50] zacwellmer opened #40215 "keras layers LSTM uses inconsistent dropout approach"
**System information**
- TensorFlow version (use command below): 2.2

**Describe the current behavior**
The input dropout mask is the same for the respective input, forget, update, and output computation.

from the call method in the LSTM class in [recurrent_v2.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/layers/recurrent_v2.py)
[code]

However, the recurrent dr

[2020-06-06 07:29] dtrodrigues commented on #39478
I did a fresh checkout and build against master and it looks good now. Thanks!

[2020-06-06 07:29] #39478 closed

[2020-06-06 07:30] jvishnuvardhan commented on #39789
@neel04 I am seeing different error when I ran with `tf-nightly`.  Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/d8e56e50e614a4ae2d13a60cc9fbb2ca/untitled204.ipynb). Thanks!

[code]

[2020-06-06 07:40] jvishnuvardhan commented on #39817
@Harvey13 Looks like this was resolved. I am not able to reproduce the issue. Can you please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/eb63a5055c5c04903f0c672fae789dec/untitled43.ipynb). Thanks!

Please verify once and close the issue if this was resolved for you. Thanks!

[2020-06-06 08:01] stefanondisponibile commented on #36071
Looks good to me!

[2020-06-06 08:03] #36071 closed

[2020-06-06 08:25] petoor commented on #28788
@yhliang2018 in tf 2.2 the error is still there.
This is the output i get when calling a conv2d with dilation=16. Where the input is in parentheses
[code]

[2020-06-06 08:34] petoor commented on #28788
@yhliang2018 in tf 2.2 the error is still there.
This is the output i get when calling a conv2d with dilation=16. Where the input is in parentheses
[code]

[2020-06-06 08:40] mieszkokl commented on #40183
It's semenatic segmentation FPN with ResNet101 backbone (trained using https://github.com/qubvel/segmentation_models).
Output from the benchmark tool:
[code]

[2020-06-06 09:49] CRosero opened #40217 "MobileNetV3"
**System information**
- TensorFlow version (you are using): tf-nightly 2.2.0.dev20200508
- Are you willing to contribute it (Yes/No): Would be willing to but I've never contributed code to an open sourced project.

**Describe the feature and the current behavior/state.**
I want to do transfer learning using MobileNetV3. I see on [here](https://github.com/keras-team/keras-applications/blob/master/

[2020-06-06 09:58] Randl commented on #9260
Is there an open issue in TFP for that?

[2020-06-06 10:13] purva98 commented on #25044
Hey! When will DepthToSpace be added?

[2020-06-06 10:55] lyfpeter opened #40218 "tensorflow/core/public/session.h Reset is not work?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-06-06 11:08] sousandrei commented on #36508
Ok I managed to make it work after fighting with CUDA 10.1 and 10.2 (10.2 works nice with 2.3 nightly) for a while, environments, OS and everything.

Narrowed it to a seeming harmless line

I was running `tf.test.gpu_device_name()` to check there was a GPU and print its name. That command when run at any time makes the model fail on train with the mentioned error: `Unknown: Fail to find the dnn im

[2020-06-06 11:25] ravikyram commented on #40196
@jasonbrancazio

I have tried in  colab with TF nightly version (`2.3.0-dev20200605`) .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0dcb9b852c34d150ef74573641eeef22/untitled54.ipynb).Is this expected behavior?.Thanks!

[2020-06-06 11:33] Sahil2712 opened #40219 "Import util issue"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-06-06 11:52] ravikyram commented on #40213
@Danliran

Request you share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-06 12:00] ravikyram commented on #40218
@lyfpeter

Request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).
Please, share colab ink or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-06 12:20] SIPFernandes opened #40220 "Windows Python 3.7, Pycharm and tensorflow problem on import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Windows 10):
- TensorFlow installed from (source or binar

[2020-06-06 12:41] ElPapi42 opened #40221 "Can not convert tf.map_fn during TFLite Conversion (With Minimum Example)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Ubuntu 2004 over WSL2
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): 2.2 Stable

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The outpu

[2020-06-06 12:53] Danliran commented on #40213
@ravikyram thanks for response. tf_cnn_benchmarks.py
 https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py
here is command to training resnet50 from tensorflow/benchmarks guideline.
python tf_cnn_benchmarks.py --device=cpu --data_format=NHWC --optimizer=sgd --distortions=false --variable_update=replicated --data_dir=/opt/imagenet/tf_train --data_name=

[2020-06-06 13:24] mihaimaruseac commented on #39248
Sorry, please post the exact output.

[2020-06-06 13:32] jerryOkafor commented on #9829
This worked for me

[2020-06-06 13:34] ElPapi42 commented on #40221
here is a minimum example:
[code]

[2020-06-06 13:38] yasingh2007 opened #40222 "remove training nodes from freeze_graph failure using TransformGraph."
Getting TensorRT conversion failure due to ops not supported in TensorRT. Till now I have come to conclusion to optimize/prune the original tensorflow flow graph so that freeze graph should have only supported ops as per TensorRT and that should then convert easily to uff.

To do this, i want to remove training nodes (map/*) using TransformGraph. Option i used are below, other then Input shape cha

[2020-06-06 13:45] eduard-s commented on #36642
Hi, I've got this error with this nightly build
`  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py", line 108, in _method_wrapper
    return method(self, *args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py", line 1094, in fit
    epoch_logs = copy.copy(logs)
UnboundLocalError: local variable 'logs' refer

[2020-06-06 13:58] Philipduerholt commented on #39574
@ymodak No, the CUDA version is 10.0.130

[2020-06-06 14:19] #40102 closed

[2020-06-06 14:20] shwoghk14 commented on #39651
@jvishnuvardhan Where can I see the code which was eidted?
Thanks.

[2020-06-06 14:30] ElPapi42 commented on #38871
Hello there, i found a solution, i don't test it yet, but seems legit:

Tensorflow Serving has a parameter for load tflite flat buffers instead .pb SavedModels: https://github.com/tensorflow/serving/blob/master/tensorflow_serving/model_servers/main.cc#L191

Check the parameter there, it is experimental, but you can try it. Just modify your Dockerfile to include that flag.

[2020-06-06 14:30] #38871 closed

[2020-06-06 14:33] stefano555 commented on #38285
I would test it, if tf lite allowed me to do that :-) since I cannot get the fully quantized model, I cannot do the benchmark

[2020-06-06 14:43] invencode commented on #40102
It was an issue from tfa.text.crf_decode.

[2020-06-06 14:53] dd1923 commented on #19731
@asis-shukla Tried it. Does not work. Still leaves all gpus full unfortunately.

[2020-06-06 15:29] Satist commented on #39981
I can fix this, can i work on the issue?

[2020-06-06 15:53] Artem-B commented on #14425
I don't think you need one. I've been using the default one provided by bazel.
I've basically followed these instructions:
https://docs.bazel.build/versions/master/windows.html#build-c-with-clang

[2020-06-06 15:55] spurani commented on #38690
Thank you @gowthamkpr  for those references those might come handy but they are pretty hard to understand if you come across any tutorial where is model is trained on multiple categories and huge amount of dataset can you please forward it? As the images in MS COCO dataset does not have same size do I need to resize before training change the image_resizer function in faster_rcnn_inception_v2_coco

[2020-06-06 15:56] p98-ai commented on #38189
Hey! Is the DepthToSpace support added now?

[2020-06-06 16:30] bjourne commented on #33929
Short of reducing the learning rate is there any way to workaround this issue?

[2020-06-06 16:31] s4sarath commented on #29911
This is still not working even in TF-2.2.0 and 2.3 nightlly gpu versions. Any thoughts on this?

[2020-06-06 16:35] limjq45 commented on #39301
yes, it works with when there's no GPU delegate.

Also, on the physical Android device, it is pretty odd that it throws the OPS not supported error when I try to convert with BATCH_SIZE>1

on the other hand, I not sure if you encountered any accuracy loss with this conversion method (but should open a new issue for this).

I shall close this issue as your solution works for me on Android device. T

[2020-06-06 16:35] #39301 closed

[2020-06-06 16:42] sandeepjana opened #40224 "'fused' argument of BatchNormalization is not saved in the model"
Batch normalization layer's `fused` argument is not part of the saved model h5/json.

Tested with TF version: 2.1.0 (CPU), Python 3.7.7

[code]
Output: `False`.
Expected output is `True`.

I found this issue when trying to get equal predictions in different versions of tensorflow.

I made a model with batch normalization layers. I tested the model in TF 1.12 and TF 2.1.0 (both are CPU versions, if

[2020-06-06 16:51] godweiyang opened #40225 "how could tf.image.extract_patches with dynamic kernel size?"
The `sizes` parameter in `tf.image.extract_patches` can only be integers. However, I want to let the `kernel_size = sentence_length` which is variable. The `sentence_length` comes from `tf.shape(input)[1]`, in which `input` is `tf.keras.Input()` of size `[None, None, embedding_size]`.

[2020-06-06 16:53] dtrodrigues opened #40226 "Eigen download can fail due to Gitlab captcha"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.8.2003

[2020-06-06 16:57] godweiyang commented on #36621
I have the same question. How to deal with the dynamic kernel size?

[2020-06-06 16:58] ElPapi42 commented on #40185
Hello @superlyy i dont know your use case, i was having this same issue with images, but later i realize that i will not work with image tensor but with byte strings tensor, maybe you can update your approach to work that way. i have an implementation here https://github.com/ElPapi42/deep-deblurring-model/blob/tflite/deblurrer/model/wrapper.py, check the decorator, maybe can be helpful for you.

[2020-06-06 17:01] k-sashank commented on #37117
@thesrisri Did your issue get resolved?
If so, please help me out as well.

[2020-06-06 17:10] jasonbrancazio commented on #40196
@ravikyram Yes, the InvalidArgumentError is the same error I experienced.

[2020-06-06 17:44] cosmo86 commented on #27451
One thing worked for me is to turn off the firewall on your PC. Mine was called 360 Fire Wall. After I turned it off, everything worked well

[2020-06-06 17:46] guptapriya commented on #29911
@s4sarath please provide code to repro your issue (either here or in a new bug).

[2020-06-06 18:05] cgebe commented on #35949
Is there a solution to this issue?

Same problem here in tensorflow 2.2.0. I'm not able to print the values of a tensor in my loss function used within a keras model.

[2020-06-06 18:11] Almeria243379 commented on #23747
Buenas he intentado entrenar mi propio modelo y lo he convertido a TFLITE pero todas mis pruebas Dan error, alguien podría ayudarme con mi aplicación quiero poder entrenar y compilar mi modelo Deeplab en TFLITE con éxito

[2020-06-06 18:37] tarmath commented on #39232
Yes, this work is as close as can be to being inevitable.

As pointed out in previous comments, there seems to be no blocker for this to occur.

As I understand there may be competing priorities, it would be great to minimally have a sense on when this could potentially happen, if nothing else.

Appreciate you taking time for this! 🙏

[2020-06-06 18:38] jvishnuvardhan commented on #39651
@shwoghk14 Sorry, forgot to attach. [Here](https://colab.research.google.com/gist/jvishnuvardhan/a650c2493304930e9e3d5d43496ccdaa/39651.ipynb) is the gist. Thanks!

[2020-06-06 18:39] vinhdiesal opened #40227 "CUDA Toolkit 11.0 RC"
NVIDIA released their `CUDA 11.0 RC Toolkit`, and was wondering if there is an existing tensorflow-nightly build that can pull it or do I have to build from source which takes around 7 hours?

[2020-06-06 19:44] Zethson commented on #38197
@duncanriach
Thank you very much for your amazing in depth answer!
Learning a lot!

Yes, I was aware. Hence, I restricted my Docker container on my multi-GPU machine to only make a single of those 2 GPUs available. Both do of course show up when running `nvidia-smi`.

I will now ensure that any of my pipelines will output the CPU and GPU architecture and will advocate this whenever appropriate.

A

[2020-06-06 21:19] harahu commented on #40195
Was trying to focus more on the use case rather than the implementation, but considering this is the most likely approach to solving this, your suggestion works as a title. Done. I really appreciate if this is brought up for discussion.

[2020-06-06 21:33] gabrieldemarmiesse commented on #40195
This was discussed in the last keras meeting, and we also talked about allowing `dynamic=True` for metrics. @fchollet agrees that both are good ideas and should be implemented. We're just lacking someone to implement it at this point. But a least it's just a question of time before we get `build` and `dynamic` in metrics :)

[2020-06-06 21:42] penpornk commented on #39851
@TensorFlow-MKL Could you please help look into this? Thank you very much!

[2020-06-06 21:56] ymodak commented on #37900
@kriskorrel-cw The example works with TF 2.2 [gist](https://colab.research.google.com/gist/ymodak/8f56b5df2f4cf1f018a711ad3d3b832a/untitled21.ipynb#scrollTo=SK9SMbuWmrRs)
Please update the issue when you get a chance and error is reproduced.
Thank you.

@AroMorin  If you can share your example code to reproduce this behavior we can take a look?
Thanks!

[2020-06-06 22:30] albertz opened #40228 "Tensor had Inf values (maybe from TensorArray)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): `pip3.7 install --user tensorflow-gpu`
- TensorFlow ver

[2020-06-06 22:54] Zumbalamambo opened #40229 "tf.function-decorated Value error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-06-06 23:55] fengyang0317 commented on #39269
Another question is the order of the all_gather and strategy.run output. Typically, the order is 0,1,2,3,6,7,4,5 according to device id.

Is this order designed deliberately? Why not use the order 0,1,2,3,4,5,6,7?

[2020-06-07 00:28] BoyuanJackChen commented on #33030
Thank you so much! That totally solved my problem in tf 2.2.0!

[2020-06-07 01:47] #40107 closed

[2020-06-07 02:12] Lay4U opened #40230 "the result of each execution is very different."
https://colab.research.google.com/drive/1_YW_Afi0yZS5wJQxJbHXddezIppZFUL_

As you can see in colab, the result of each execution is very different.

I understand that the results of the run change because the weights change, but the difference is too great.

Reduced to reduce loss. Why does this happen and how can I reduce the difference in execution results to increase the accuracy and reliabilit

[2020-06-07 03:37] s4sarath commented on #29911
Hi @guptapriya . Thanks for the quick response.  I have tested this both on TF 2.2.0 GPU and TF 2.3 nightly build also . On colab.

**a.) Using MirroredStrategy experimental distribute ( TF 2.2.0 )**

[code]

TypeError                                 Traceback (most recent call last)
<ipython-input-45-da85827572ff> in <module>()
----> 1 train_no_tracing(ds)

12 frames
/usr/local/lib/python3.6/dist

[2020-06-07 03:37] leeyeetonn opened #40231 "tf.linalg.expm enters infinite loop when input may cause reduce_sum to have inf"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-06-07 03:39] s4sarath commented on #29911
To give some idea about dataset, it is having same batch_size, but different inupt length in each batch. ( dynamic input , to avoid unnecessary padding ) . Thats what tracing is precisely using for I guess .

[2020-06-07 05:01] shwoghk14 commented on #39651
@jvishnuvardhan I ran my computer but it occur a error.
[code]

It is why I instead use \\ but / in  checkpoint_path.
Anyway I ran your code on gist and on my local computer(use \\ in path) not changed behaviors.
It makes folders not files.

[code]

[2020-06-07 05:04] DoxasticFox commented on #40202
For whoever might have had the same problem: I was able to compile TensorFlow by uninstalling the `nvidia-cuda-toolkit` package in my package manager and installing CUDA using Nvidia's .run file installer. It may have also been possible to use their .deb package, but it required me to downgrade my graphics card driver. AFAIK, there's no practical reason for Nvidia's package to require a downgrade;

[2020-06-07 05:40] purva98 commented on #29590
hey @james34602  @jvishnuvardhan
Hey! did it work for None Type?
I see that your input shape is [1, 32, width, 1],
Is it going to work for something like [None,None,None,4]
I tried it for [None,None,None,4], it did not work, any suggestions?

[2020-06-07 05:47] purva98 opened #40232 "Request to include tf.depth_to_space"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source): 1.14

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
import tensorflow as tf
graph_def_file = "frozen_model.pb"
input_arrays = ["Placeholder"]
output_arr

[2020-06-07 07:04] oyyarko commented on #16768
I am using Google Colab. and i used TPU and it worked.

[2020-06-07 07:18] marko-radojcic commented on #16768
Well done.

On Sun, Jun 7, 2020, 9:10 AM Arvina Kori <notifications@github.com> wrote:

[2020-06-07 07:31] willbattel opened #40233 "Encountered fatal Python error with TFLite Experimental Converter"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-07 07:43] Mahno9 commented on #39680
Sadly, I have no hint about the solution. I faced the same one and couldn't find the right place to fix it. Now I'm trying to build the library on Linux OS. There are no such problem, at least on master branch.

[2020-06-07 08:07] harahu commented on #40195
Glad to hear that! Let me know if I can be of assistance.

[2020-06-07 08:19] james34602 commented on #29590
@purva98
tfnightly solve many problems, give it a shot.
[1, 32, width, 1] is [1, 32,None, 1]
width is not predetermined.

[2020-06-07 08:34] marko-radojcic commented on #29590
Good morning

On Sun, Jun 7, 2020, 10:26 AM James Fung <notifications@github.com> wrote:

[2020-06-07 08:46] zhufeijuanjuan commented on #23898
i used keras.layers.CuDNNLSTM (tensorflow version:1.14) to avoid this issue

[2020-06-07 08:49] zpxp commented on #38590
remove the extra slashes from the string on this line
[code]

to this
[code]

[2020-06-07 09:12] Ahmed-fub opened #40234 "error with tf.strings.to_number()"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-06-07 09:14] Ahmed-fub commented on #40234
when I use tf.strings.to_number(keys) it gives me error
InvalidArgumentError: StringToNumberOp could not correctly convert string: 00000000000000000000000100000000000000100010000000000000010000000100000000010100100101010000000111101101011101110100011011110111110011111110101111111011111111110111110 [Op:StringToNumber]

[2020-06-07 10:13] Saduf2019 commented on #40232
@purva98
Is there any particular reason to be using an older version of tensorflow ,can you please try on later versions, also we are unable to preview the drive shared. if possible please share a colab gist for us to analyse the error.
Please refer to these links and let us know if it helps:
[link](https://github.com/google-coral/tflite/issues/2) [link1](https://github.com/nnstreamer/nnstreamer/i

[2020-06-07 10:18] p98-ai commented on #40232
I tlhave tried with the latest tf version also. Yes, I ll refer to the links and update you. Thanks

[2020-06-07 10:24] Saduf2019 commented on #40229
@Zumbalamambo
I ran the code shared by you on tf_nightly and tf 2.2 but do not face any error, please have a look at the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/66417df2cb20cbc9d33fc21806d23951/untitled217.ipynb)

[2020-06-07 10:40] Saduf2019 commented on #40226
@dtrodrigues
Please update the system information, for us to analyse the issue faced.

[2020-06-07 10:44] Saduf2019 commented on #40222
@yasingh2007
Please share the tensorflow version on which the error is faced.

[2020-06-07 10:54] Saduf2019 commented on #40219
@Sahil2712

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.  please provide a code snippet to reproduce the issue reported here.
We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

Please refer to below issues related with util errors.
#39175  #39

[2020-06-07 10:57] purva98 commented on #40232
I used tf 1.14 because , when I try with tf 2.2.0

converter = tf.lite.TFLiteConverter.from_saved_model('saved_model')
tflite_model = converter.convert()

I get this error :
"This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."

Thanks for the links, I will try them and update you.

[2020-06-07 10:57] Saduf2019 commented on #40215
@zacwellmer
Please share a simple stand alone code such that we can replicate the issue faced, or is possible share a colab gist for us to analyse the error faced.

[2020-06-07 11:02] Saduf2019 commented on #40207
@Natiel4
Please share simple standalone code for us to replicate this issue faced, or if possible share a colab gist with the error to analyse.

[2020-06-07 11:24] ryankuang0618 opened #40236 "ModuleNotFoundError: No module named 'tensorflow.contrib'"
I want to train from tensorflow, but I always get error on this bug.
from tensorflow.contrib import data as tf_data
ModuleNotFoundError: No module named 'tensorflow.contrib'
I have try install lower version of tensorflow, but still didn't work.
environment:macos python3.7 tensorflow2.2.0

[2020-06-07 11:40] orangesomethingorange commented on #39118
These are great news :)
Non-bazel toolchains integration would be excellent.
Also - I couldn't get Bazel to build TFL for arm64-v8a either, I was only able to build a static (.a) library for x86_64.

Regarding your question:
`native-lib.cpp` and `native-lib.h` are the C++ source file and header file, respectively, that I wrote to execute my program. They're compiled by Android Studio's build syste

[2020-06-07 11:56] orangesomethingorange commented on #39118
Just for reference:

1. What I'm trying to do is to run a Tensorflow-Lite inference, from Android Studio's NDK.
2. The reason I was trying to build the `tensorflow-lite` library myself, was because it failed to be compiled from a static / shared library (for `arm64-v8a`)
3. Before trying to build and compile the code with gradle, I also tried using Android Studio's Bazel plugin to build the TFL li

[2020-06-07 12:06] dtrodrigues commented on #40226
I've updated the system information but this looks to be a platform-agnostic issue. It's not currently happening but as shown in the log above, there are cases where Gitlab requests a captcha when downloading and the `download_dependencies.sh` script fails and only shows that the there was a download mismatch instead of something more indicative of the issue or attempting to use the other mirror.

[2020-06-07 12:09] orangesomethingorange commented on #39148
Hey @Saduf2019, I can't say that I got an answer for this issue.
Also, I'm still working on investigating this, and I understand from @jdduke that this might be solved in the near future, since work is currently (or very soon will be) in progress.

I would like to keep the status as open for now, if that's OK with you :)

[2020-06-07 12:17] yanglei-github opened #40237 "Machine translation using Seq2Seq with attention by using LSTM instead of GRU"
Hello,
I am using the template in tutorial 'Machine translation using Seq2Seq with attention'. However, seq2seq is built on GRU.(The link is https://www.tensorflow.org/tutorials/text/nmt_with_attention)

Could you please provide a template that Machine translation using Seq2Seq with attention using LSTM instead of GRU?

[2020-06-07 12:42] programandoconro opened #40238 "Unhandled Rejection (Error): No backend found in registry in a React App"
Hi,

 System Specifications:
- Fedora 32
- React JS
- npm
- Tensorflow-mobilenet

Behavior:

This basic React App using mobilenet from @tensorflow-models was working fine a few months ago. Now I am getting Unhandled Rejection error.

[code]
This basic example should make a prediction on the uploaded image.

I made a post here https://programandoconro.wordpress.com/2019/12/30/react-app-para-clasifi

[2020-06-07 12:42] Zumbalamambo commented on #40229
with the nightly build, I'm getting the following error, :(

`RuntimeError: The layer has never been called and thus has no defined output shape.
`

[2020-06-07 13:08] sasansharifipour opened #40239 "Tensorflow Lite Converter Raise Issue"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2.0

**Failure details**
I try to convert TF model to TFlite but converter raise ERROR
 Here is my code :

model = tf.keras.models.load_model(load_path, custom_objects={'loss_dice_coefficient_error

[2020-06-07 13:30] neomatrix369 commented on #37144
Hi I got this as well, and as the message says I set the env variable and recorded the stack trace:

[code]

I was running `tensorflow` in a Kaggle kernel.

[2020-06-07 14:13] KaticaR commented on #37144
When we downgraded the versions of keras and tensorflow to match, then the error disappointed.

[2020-06-07 14:26] Saduf2019 commented on #40199
@MatteoArm
Please refer to these links and let us know if it helps.
[link]((https://github.com/NVIDIA/TensorRT/issues/308))
[link1](https://github.com/traveller59/torch2trt/issues/1#issuecomment-492603147)

[2020-06-07 14:34] Saduf2019 commented on #40194
@IscaAy
I ran the code shared, please find the gist of the same [here](https://colab.sandbox.google.com/gist/Saduf2019/f13d15dca62cf3cceee53485bc3c61d7/untitled208.ipynb). please provide complete stand alone code such that we can replicate the issue faced or if possible share a colab gist.

[2020-06-07 14:40] Saduf2019 commented on #40236
@ryankuang0618

tensorflow.contrib does not exist in TF 2.x. You'll have to use TF 1.x to use tensorflow.contrib
For Python version compatibility. Please check the tested build configurations [here](https://www.tensorflow.org/install/source#linux).

Thanks!

[2020-06-07 14:44] yasingh2007 commented on #40222
(base) ubuntu@usva-asd-ml-ear1:~$ pip list | grep tensor
tensorboard                        1.15.0
tensorflow                         1.15.2
tensorflow-datasets                3.1.0
tensorflow-estimator               1.15.1
tensorflow-gpu                     1.15.2
tensorflow-metadata                0.22.0
tensorrt                           7.0.0.11

[2020-06-07 14:49] Saduf2019 commented on #40232
@purva98
Please refer to these links for the mentioned error:
#34350  #35031

[2020-06-07 14:50] Saduf2019 commented on #40222
@yasingh2007
Is there any particular reason for using an older version of tensorflow can you please use later version and let us know if you are facing any issues.

[2020-06-07 14:57] anferico commented on #37157
@suphoff Thanks, it worked! However, what do you mean that the selected output mode is 320*240? Is there anything I could do to change that to 320*320?

[2020-06-07 14:57] Saduf2019 commented on #40185
@superlyy
Please update as per above comment.

[2020-06-07 14:57] Harvey13 commented on #39817
@jvishnuvardhan The gist works fine, even with original custom__error function.
Unfortunatly my own project, no more works, even without numpy() call inside backend function : it's a new bug because it was working fine former the nightlty installed

I tried differents old projects they all have the same error with tf-nightly :
[code]

[2020-06-07 15:01] Zumbalamambo opened #40242 "Tensorflow 2.x and tf.compat issues"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-07 15:08] Abhishek2028 commented on #31171
Tensorflow updated this dataset to tfds nightly. "pip install -q -U tfds-nightly"
Use this command. Now you're free to use

[2020-06-07 15:19] rlrahulkanojia commented on #29685
Waiting for a response as soon as possible.

[2020-06-07 15:26] renjie-liu commented on #40183
Hi Chao, can you help verify if there's regression?

thanks

[2020-06-07 15:30] zhuzilin commented on #26797
Since the above commit was closed, here are some information for those who may have interest in fixing this bug.

The bug is mainly caused by the static shape inference in constant folding pass of grappler. You can close this pass instead of the whole meta optimizer to avoid it. Also, it is weird that changing `data_format` to `"channels_last"` or set `use_bias=False` will both make the bug disapp

[2020-06-07 15:51] arnabd2002 commented on #24828
This solution worked for me!! Thanks a lot!

[2020-06-07 15:52] yasingh2007 commented on #40222
Yes, We are developing whole project since last year when TF 1.15 was released and Porting to TF2.0 has not been successful due to API differences.  But training nodes should be removed in TF1.5 version also. Can you please check the notebook I am using to strip the training nodes from freezed graph?

All the map nodes below are training nodes, these are not coded in architecture layers but introd

[2020-06-07 15:56] ngc92 commented on #38564
sorry, but I have to disagree on this being resolved and the documentation being fine. The documentation shows an example which uses the `tf.diag_part` function, but is supposed to document usage of the `tf.tensor_diag_part` function (which is not an alias but another function). The choice of example seems also unfortunate in the sense that, in this particular case, both functions would give the s

[2020-06-07 16:18] alexrogozea opened #40244 "TF2.2: MultiWorkerMirroredStrategy doesn't assign workers correctly and training doesn't start"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary via PIP
- TensorFlow version (use command below

[2020-06-07 17:17] khatrishubham88 opened #40245 "Tensorflow v2.2 build fails with cuda 10.2 TensorRT 7.0.0.11-1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile de

[2020-06-07 17:42] saket424 commented on #38194
I had to install libnvinfer-plugin-dev also

[2020-06-07 18:05] finknj commented on #33163
Was able to save an h5 file to the designated drive folder while monitoring val_accuracy using the following:

model_checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(filepath = checkpointPath + 'best.h5', monitor = 'val_accuracy', mode = 'max', save_best_only = True)

history = model.fit( x = x_train, y = y_train, validation_data = ( x_val, y_val ),
                    batch_size = BATCH_S

[2020-06-07 18:14] gowthamkpr commented on #39306
Closing this issue as it has been inactive for 2 weeks. Please add additional comments for us to open this issue again. Thanks! this issuea

[2020-06-07 18:14] #39306 closed

[2020-06-07 18:14] #39800 closed

[2020-06-07 19:17] satish1901 commented on #38800
Hi
I am using python 3.6
cuda : 10.1
tensorflow-gpu==2.2.0

i am getting this error :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'tensorflow.compat.v1'

Can anyone please suggest some work around or solution?

[2020-06-07 19:22] songololo commented on #32127
Is this possibly related to : https://github.com/tensorflow/tensorflow/issues/32058

[2020-06-07 19:38] superlyy commented on #40185
Hey guys, @ElPapi42, thanks for the suggestions again. I try with a [subclassed Model](https://colab.research.google.com/drive/11OeYjwm4CUfL9wSnbAtQaMSyXqQOGlNK?usp=sharing), but it still doesn't work well with LSTM. Btw, the model is actually made for MIR-related task, the inputs are time-series of preprocessed features.

[2020-06-07 19:42] tonytu123 commented on #24828
Did anyone use tensorflow 1.   success ？
I use this code
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)
But it doesn’t work.

[2020-06-07 19:44] bsrc opened #40246 "(Embedding python into c) ImportError: numpy.core.multiarray failed to import"
I am working on a project which is related to object detection and ocr.  I am using Ubuntu 18.04 and python 2.7, yolov3 for object detection and tesseract 5.0.0-alpha-692-g62ea for ocr. I have to embed python code that is for ocr into the c code which is for object detection. I wrote this C code and compile at the terminal by "  sudo gcc code.c -lpython2.7  "

#include </usr/include/python2.7/Pyth

[2020-06-07 19:50] ElPapi42 commented on #40185
Hello again! i don't have a solution, but I noticed you don't initialize the model weights before saving to disk, can you try to forward pass a batch of sample data through the architecture before doing ```tf.saved_model.save()```?

[2020-06-07 20:06] sarthak-chakraborty opened #40247 "Functional Keras API not getting converted using TFLiteTransferConverter in Model Personalization"
**Working on Colab**
- TensorFlow version: 2.2.0

## Error
While reading about PR **RFC: On-Device Training with TensorFlow**([https://github.com/tensorflow/community/pull/124](https://github.com/tensorflow/community/pull/124)), and trying to include 'train' option in convert(I know tflite currently does not support on-device training, but was curious to check how operations would look like), I am

[2020-06-07 20:15] nikitamaia commented on #36081
Scaling vertically might lead to better results compared to using multiple machines if you don't have GPUs. The overhead of synchronizing the gradients across your machines with CPUs could explain why scaling to four machines is not reducing your training time.

[2020-06-07 20:47] Zumbalamambo opened #40248 "Error while reading resource variable _AnonymousVar117 from Container while training with colab"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2020-06-07 20:58] OdysseeT commented on #40182
got the same here after a successful build on:

`import tensorflow as tf`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/begood/Documents/tensorflow/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import
  File "/home/begood/Documents/tensorflow/tensorflow/python/__init__.py", line

[2020-06-07 21:10] GerritMaarten commented on #40188
Try making two sets one for training and one for validation. (I include my setup in COLAB).

By the way do you have any idea how to extract class_names and labels that are derived from the sub-directories? I need that to decode the outcome when I test an image. I have no idea how to get that working, yet.

 I am new in CNN so I cannot explain most of the issues. Got this together by trial and erro

[2020-06-07 21:33] DarrenRuan opened #40249 "The parameters for BatchNormalization are not updated"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-07 21:37] zacwellmer commented on #40215
I don't think stand alone code would help to describe this issue since the issue is heavily embedded into the LSTM implementation. I'll write the equations which are being performed and what I expect to occur.

# Current Behavior
for each sequence the masks $\mathbf{m}\_{x}$, $\mathbf{m}\_{hi}$, $\mathbf{m}\_{hf}$, $\mathbf{m}\_{ha}$, and $\mathbf{m}\_{ho}$ are sampled then used in the following L

[2020-06-07 21:38] DarrenRuan commented on #40249
My further question would be like: is it safe that we could simply reply `tf.layers` with `tf.keras.layers`? If it not safe, how should we deal with the codes written in tf1.x (I do know that there is a guide about migrations)?

[2020-06-07 21:41] BoHui-arch commented on #38672
I think [tf.numpy_function](https://www.tensorflow.org/api_docs/python/tf/numpy_function?version=nightly) works for you.

[2020-06-07 21:50] fengyang0317 opened #40250 "tf.raw_ops.CollectivePermute bug caused by strange device numbering"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6

**Describe the current behavior**
The 8 cores are numbered as 0,1,2,3,6,7,4,5 by Co

[2020-06-07 21:52] suphoff commented on #37157
@anferico : I believe you need to change the sHM01B0InitScript to get the desired resolution (link to camera manual with i2c register description should be on the sparkfun site)  and then adjust HM01B0_PIXEL_Y_NUM to the new Y resolution. Hope this helps - I did not like the camera SW/HW interface (no DMA) and never order it.

[2020-06-07 21:54] Zumbalamambo opened #40251 "`AttributeError due to '_TensorLike'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-07 22:07] nikitamaia commented on #36574
@arjun-majumdar have you seen this related issue #27120 ?

[This comment](https://github.com/tensorflow/tensorflow/issues/27120#issuecomment-540071844) might help you. Try creating a wrapper function for your train_one_step() function and then call separately when you train your different models.

[2020-06-07 22:10] keith opened #40252 "Support including tensorflow directly in bazel WORKSPACEs"
We recently started including tensorflow in our bazel based iOS builds. Because of the currently required `./configure` step we cannot include it directly in our WORKSPACE and depend on targets as you can with some bazel dependencies, instead we have to pre-compile the targets we're interested in, and vendor them somehow into our build.

It would be great if the tensorflow build system provided a

[2020-06-07 22:10] swapniel99 opened #40253 "Difference of 0.5 factor compared to Research Paper in Soft NMS implementation"
Hi,

I believe the below lines are for Gaussian implementation of Soft-NMS, since the variable 'scale' is used in:
https://github.com/tensorflow/tensorflow/blob/7474d3c8345d663cea3f9132c47cd1bd342b0cec/tensorflow/core/kernels/non_max_suppression_op.cc#L189
https://github.com/tensorflow/tensorflow/blob/7474d3c8345d663cea3f9132c47cd1bd342b0cec/tensorflow/core/kernels/non_max_suppression_op.cc#L194

[2020-06-07 22:47] ajay-sreeram commented on #38800
Try with python 3.7 Satish, it might work.

[2020-06-07 22:51] nikitamaia commented on #40229
@Zumbalamambo please share the minimal amount relevant code so we can reproduce the RuntimeError you are seeing. With just the function you have provided, I am unable to reproduce either the ValueError or the RuntimeError.

However, on first glance, the issue you are facing is likely from the creation of the variables within your tf.function. I recommend checking out the Variables section of the [

[2020-06-07 22:53] Srini511 commented on #39935
@penpornk As mentioned in the description previously, #39877 has been replaced by two smaller PR's.
https://github.com/tensorflow/tensorflow/pull/40128
https://github.com/tensorflow/tensorflow/pull/40254

[2020-06-07 22:58] penpornk commented on #39935
@Srini511 Thank you for the heads up. I've updated the first post.

[2020-06-07 22:59] OmarJay1 commented on #33634
Thanks ValYouW, I watched your video and I was doing something really dumb.  I wasn't running python configure.py.

[2020-06-07 23:46] omertortumlu commented on #40024
Thank you for your interest, I use this function to empty the GPU before starting each train operation.
[code]

[2020-06-08 00:09] terryheo commented on #40144
@ArtanBerisha1 could you sync the repo and try again?
I've updated the sample code to use TFLite 2.2.0
Mine shows around 40ms on average.

[2020-06-08 00:28] alanpurple commented on #39248
@mihaimaruseac

[code]

[2020-06-08 00:54] tsuzukit commented on #36642
Hi @jvishnuvardhan

Thanks for letting me know.

I have tested [same code](https://colab.research.google.com/drive/1Ie1HgUz5jxsK5Nfbq8hU9YGykqWnRFN4?hl=ja#scrollTo=apd3gVJzyail) with `v2.2.0-0-g2b96f3662b 2.2.0` build.

 It worked just fine!

[2020-06-08 00:54] #36642 closed

[2020-06-08 00:58] terryheo commented on #40149
If you're using Android, you'd better build it with dbg.
[code]
Then you can use ndk-stack to find where it crashed with Android crash dump on logcat.
https://developer.android.com/ndk/guides/ndk-stack

[2020-06-08 01:03] terryheo commented on #40124
You can build label_image with Makefile.
Please check 56cea6e30cdec9a12832def2ad97634101d8c784
[code]

[2020-06-08 01:13] hajuho commented on #31877
@hwenjun18 Could you add 'fold_constants(ignore_errors=ture)' to the transforms list as fold_constants is prerequisite of fold_batch_norms?
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/graph_transforms#fold_batch_norms

[2020-06-08 01:31] MeghnaNatraj commented on #38285
**Update**
We now support TensorFlow Lite Full-Integer models in TF 2.0, i.e, with integer (`tf.int8` and `tf.uint8` types) input and output.
*Exception: Support for [quantize-aware trained models](https://www.tensorflow.org/lite/performance/model_optimization) is still in progress*

**TFLite Conversion: Convert TF Models to TFLite Full-Integer models**
You can refer to the code [here](https://www

[2020-06-08 01:42] zhuzilin commented on #39850
@w19787
The reason for this is the first invocation will do lots of graph optimization and will add overhead. If you run the function multiple times, you could see the performance is actually better. For example ,if you execute the function 5 times:
[code]
with `tf.function` will have:
[code]
without will be:
[code]
My test environment is a macbook pro 2019.

[2020-06-08 01:46] zhuzilin commented on #39850
@mdanatg
Is it possible for `tf.function` to add config like `RewriterConfig` to control the grappler?

[2020-06-08 02:20] zhuzilin opened #40255 "Collect runtime information when using tf.function"
**System information**
- TensorFlow version (you are using): TF2.2
- Are you willing to contribute it (Yes/No):
Yes

**Describe the feature and the current behavior/state.**
In tf1.x, it is possible to use `RunOptions` and `RunMetadata` to get the runtime information for a single run. I wonder if it is possible to achieve the same functionality in tf2.x `tf.function`? I understand we have the beau

[2020-06-08 02:22] FerretCode commented on #13746
Could you provide a solution? I'm having this error.

[2020-06-08 02:25] AbhilashMathews opened #40256 "Can TensorFlow models be saved and restored with multiple optimizers using tf.train.Checkpoint?"
As per the [documentation](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/train/Checkpoint), the recommendation for object-based checkpoints is to use `tf.train.Checkpoint` and one can simply use it as:

`    checkpoint = tf.train.Checkpoint(optimizer=optimizer, model=model)`

But if there are multiple optimizers involved in the overall training process, how does one save and restore

[2020-06-08 02:28] Ujustwaite opened #40257 "Code for univariate_data() preprocessing function in LSTM Timeseries documentation example incorrect"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://www.tensorflow.org/tut

[2020-06-08 02:47] marko-radojcic commented on #40257
Tensorflow/Tensorflow is dynamic being. You can not steal her soul and keep
it static.
Cure your programming addiction by taking vacation.

On Mon, Jun 8, 2020, 4:36 AM Brian Waite <notifications@github.com> wrote:

[2020-06-08 02:58] kalaluthien opened #40258 "TFLiteConverter: failed to convert `tf.cast` (from `uint8` to `float32`)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (https://gist.github.com/kalaluthien/1cb86948d8f8e58260a1ee81ca6f8482)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or bina

[2020-06-08 02:59] wangwenchao-job opened #40259 "How to convert tensorflow::tensorproto to tensorflow::tensor in C++"
My question is just like the title.

When using tfserving, you need to get the following：
[code]
The model needs to be predicted after loading：
[code]
However, one input requirement of the run function is tensorflow::tensor type, and my a priori data is of tensorflow::tensorproto type, how do I convert it? In addition, where is the interface documentation for C++?

[2020-06-08 03:00] RunFMe commented on #38072
I think that I also have the issue. I am training a DeepSpeech model from original paper. If tf.nn.ctc_loss calculation is replaced by logits.sum() then GPU RAM consumption stays at 4Gb for a batch of 10. When I actually use tf.nn.ctc_loss I get OOM error on 1080Ti with 12Gb RAM for batch of one example which has logits of length ~1500 and labels of length ~300.
I can provide minimal code for repr

[2020-06-08 03:10] abattery commented on #40258
Could you try the conversion with tf-nightly?

[2020-06-08 03:17] ymodak commented on #40007
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-06-08 03:17] #40007 closed

[2020-06-08 03:20] L-Eriksson commented on #40203
Thank you @Dref360. I think my intention has been included in your submission clearly and precisely, so nothing to add. I personally would vote for the solution just proposed instead of the example above.

[2020-06-08 03:31] ymodak commented on #39983
@Shafaq-S https://github.com/bostondiditeam/MV3D can be good a platform to raise this issue since you are trying to execute make file from that project. Please post this question on that platform for better support. Thanks!

[2020-06-08 03:31] #39983 closed

[2020-06-08 03:39] YixuanBan commented on #31196
Same issue here. I build tensorflow r1.15.3 on CentOS7 with local protobuf (to work with the existing working environment), so I used the command line

on the bazel and change the repo.bzl like @aakbar5 . But the patch doesn't work. When I change the protobuf/BUILD file to ZLIB_DEPS = ["@zlib_archive//:zlib"], it doesnt work neither. (the ZLIB_DEPS in .cache has changed to ["@zlib_archive//:zlib"]

[2020-06-08 03:41] ravikyram commented on #40225
@godweiyang

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-06-08 03:53] kalaluthien commented on #40258
@abattery Thanks for your advice! The conversion has succeed.
I need to use (Customized TFLite Interpreter Wrapper) which based on tensorflow 2.1.0. But TFLite does not guarantee forward compatibility (as I know), so I need to check the tf2.2-converted_model can be used as-is for my specific case.

[2020-06-08 03:56] multiverse-tf commented on #40183
On what HW architecture was this benchmarking performed? Coral board? And what's the compiling option did you use to compile the binary?

[2020-06-08 04:12] ymodak commented on #39620
Closing this issue for now. If this is still an issue, Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-08 04:12] #39620 closed

[2020-06-08 04:18] gunan commented on #40202
@chsigg FYI

[2020-06-08 04:23] ymodak commented on #39574
The example code crashes on google colab with TF version 1.14 as well as 2.2 on cpu/gpu runtime.

[2020-06-08 04:24] yyoon commented on #40026
@Maratyszcza I think this started to happen with a04c8be3e7086d9e14ba37c3c0945a3ea98414ce.

Could you please check what's going on? Looks like it's trying to use NEON v8 operator for armv7 target.

You could easily reproduce this with iOS armv7 build with the following command, after enabling iOS build with `./configure` script.

[code]

[2020-06-08 04:29] TomHeaven opened #40260 "Failed to build TF on macOS with CUDA 10.1 due to cusparse_10_1.inc"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: macOS 10.13.6
- TensorFlow installed from (source or bina

[2020-06-08 04:32] ymodak commented on #39221
This is fixed with TensorFlow 2.2
Thanks!

[2020-06-08 04:32] amahendrakar commented on #40192
@AlxndrMlk,
While running the code I'm facing an error stating `NameError: name 'vocab_size' is not defined`.
Could you please provide the complete code to reproduce the issue reported here.

Also, as per [#38691](https://github.com/tensorflow/tensorflow/issues/38691), the issue seems to be fixed in  TF-nightly. Could you please upgrade to the latest TF-nightly and let us know if it works. Thanks!

[2020-06-08 04:35] abattery commented on #40239
I submitted a fix. Could you try the conversion with the next day of tf-nightly ?

[2020-06-08 04:39] yaoshiang commented on #37067
I left a comment on the PR 37565. I think the documentation has been incorrect on the [-0.5, 0.5] range for the UV channels. And there are bigger issues with the function itself.

1. Prior to this issue, the documentation specified that the U and V channels need to be in the range [-0.5, 0.5]. That is incorrect. The kernels in the source show that the correct ranges are

u: -0.43601035 to + 0.4360

[2020-06-08 04:41] lihanchen opened #40261 "model.predict is much slower on TF 2.1+"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): WIndows 10 and Ubuntu 18.04
- TensorFlow installed from (source or binary): Binary with pip3
- TensorFlow version (use command below): 2.1+ vs. 2.0
- Python version: 3.7
- CUDA/cuDNN version: Used with CPU
- CPU model: Intel i7 5930

**Describe the current behavior**
Starting from tensorflow-cpu 2.1, my program spend

[2020-06-08 04:43] ymodak commented on #39503
Object detection api for TF2 is a work in progress.
Refer this GitHub [thread](https://github.com/tensorflow/models/issues/6423) to know more.
Closing this issue for now. Thanks!

[2020-06-08 04:43] #39503 closed

[2020-06-08 04:47] superlyy commented on #40185
Absolutely. Before saving model, I forward a random data to model by using fit() [in here](https://colab.research.google.com/drive/11OeYjwm4CUfL9wSnbAtQaMSyXqQOGlNK#scrollTo=-FJBTa9cN88y). But it shows another error in convert.convert():
`None is only supported in the 1st dimension. Tensor 'args_0' has invalid shape '[None, None, 256]'.`
I'm wondering if TF Lite can not only support the dynamic sh

[2020-06-08 04:47] Saduf2019 commented on #40251
@Zumbalamambo
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-06-08 04:49] Saduf2019 commented on #40248
@Zumbalamambo
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2020-06-08 04:52] ymodak commented on #39215
Your `my_model` function returns `None` which is passed to `compile` method.
This looks like more of an error model building instance. Thanks!

[2020-06-08 05:00] Udityanshu opened #40262 "Use the trained k-NN classifier model to classify new, previously unseen objects"
I am trying to run below following lines in Jupiter notebook using necessary libraries and packages but yet its not running for me:

fruit_prediction = knn.predict([[20, 4.3, 5.5]])
lookup_fruit_name[fruit_prediction[0]]

Moreover below is the following error I am getting:
ValueError                                Traceback (most recent call last)
<ipython-input-12-1d28f9746e24> in <module>
---->

[2020-06-08 05:01] ymodak commented on #38950
You are right. My bad.

[2020-06-08 05:14] ymodak commented on #38569
Perhaps you can raise a new issue thread for unsupported tflite micro operations. We want to keep each issue thread specific to discuss initial problem.
Thanks!

[2020-06-08 05:16] ymodak commented on #38750
Closing this issue now. Thanks!

[2020-06-08 05:16] #38750 closed

[2020-06-08 05:17] amahendrakar commented on #40200
@peter197321,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-08 05:20] sasansharifipour commented on #40239
Dear @abattery
I update tf-nightly to version 2.3.0.dev20200607 and it was fixed.

Thank you so much

[2020-06-08 05:20] #40239 closed

[2020-06-08 05:39] AlxndrMlk commented on #40192
Sure, @amahendrakar, pasting the full code below.

[code]

[2020-06-08 06:04] AlxndrMlk commented on #40192
When it comes to installing the latest nightly, I'll be able to do this later this week.

[2020-06-08 06:10] ravikyram commented on #40231
I have tried in colab with TF version 2.1, 2.2, nightly version (`2.3.0-dev20200605`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/24db9e4fa3b191408143bea8243a0ce2/untitled961.ipynb).Thanks!

[2020-06-08 06:15] ravikyram commented on #40234
@Ahmed-fub

Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also include your TensorFlow version.

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-08 06:18] ravikyram commented on #39998
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-08 06:18] #39998 closed

[2020-06-08 06:23] chsigg commented on #40202
Hi Christian, thanks for reporting this issue.

There is a TODO on line [third_party/gpus/find_cuda_config.py:286](https://github.com/tensorflow/tensorflow/blob/255f590ab64e637f49288883013d35efa0633b35/third_party/gpus/find_cuda_config.py#L286) that this needs some work.

We now do pass in both `cuda_binary_dir` and `nvvm_library_dir` directories, so I think what would need to happen is to replace

[2020-06-08 06:26] yomcoding commented on #36916
I get the same problem while i try to write a configurable UNet through parameters.
So my up-sample is a list refer to the config file.

just simply change list to dictionary like:

`
self.rect_list = [
      tf.keras.layers.Conv2D(
        filters = self.feature_model.outputs[i].shape[-1],
        kernel_size=(1, 1),
        activation=tf.nn.relu,
        name="{}_to_{}_1x1_conv".format(i+1,i),

[2020-06-08 06:38] amahendrakar commented on #40220
@SIPFernandes,
Is there any specific reason you are trying to install TensorFlow 1.12?
TensorFlow 1.x is not actively supported, instead could you please install the latest version of TensorFlow i.e. v2.2 and let us know if you are facing the same issue. Thanks!

[2020-06-08 06:41] Lotte1990 commented on #39490
@Saduf2019 @TensorFlow-MKL Any updates on this?

[2020-06-08 06:42] Colanim commented on #32176
+1, how can we achieve gradient accumulation in `tf.keras` (with `fit()` method) ?

[2020-06-08 06:44] guptapriya commented on #36153
This is a known issue that we are working on - MultiWorkerMirroredStrategy doesn't handle last partial batch correctly. To remedy the error, please pass steps_per_epoch argument (and use repeat in your dataset accordingly for multiple epochs). We've updated the tutorial with these details.

https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#train_the_model_with_multiworkermirr

[2020-06-08 06:56] guptapriya commented on #40027
@AlexWang1900 we have tested that tutorial, as have many other users, on multiple GPU systems.

As you said, likely the problem you're facing is due to NCCL on your system. I would recommend the following:

1. Run nccl_tests (https://github.com/NVIDIA/nccl-tests) to verify NCCL runs fine in your system
2. Try `strategy = tf.distribute.MirroredStrategy(cross_device_ops=tf.distribute.ReductionToOneD

[2020-06-08 06:59] ymodak commented on #33729
TF 2.2 final version has released and this works successfully. Please give it a try. Thanks!

[2020-06-08 06:59] #33729 closed

[2020-06-08 07:00] kalaluthien commented on #40258
It works. Thanks!

[2020-06-08 07:00] #40258 closed

[2020-06-08 07:02] guptapriya commented on #28018
This has been fixed (https://github.com/tensorflow/estimator/commit/131f54a62ae9ded9057aeb0eb1243d9516373b14). Please test with TF nightly.

[2020-06-08 07:02] #28018 closed

[2020-06-08 07:02] guptapriya commented on #40165
This has been fixed (https://github.com/tensorflow/estimator/commit/131f54a62ae9ded9057aeb0eb1243d9516373b14). Please test with TF nightly.

[2020-06-08 07:02] #40165 closed

[2020-06-08 07:05] ymodak commented on #35155
@Hujun Can you please test with latest version TensorFlow 2.2?

[2020-06-08 07:12] ravikyram commented on #40250
I have tried in colab with TF version 2.2 and was able to reproduce the issue.But in NIghtly version(`2.3.0-dev20200605`) i am seeing the below error message.(InvalidArgumentError: NodeDef expected inputs 'string' do not match 0 inputs specified; Op<name=_Send; signature=tensor:T -> ; attr=T:type; attr=tensor_name:string; attr=send_device:string; attr=send_device_incarnation:int; attr=recv_device:

[2020-06-08 07:18] mieszkokl commented on #40183
On the PC with i7-8650U CPU. All options default.

[2020-06-08 07:21] leeyeetonn opened #40263 "learned_unigram_candidate_sampler may enter infinite loop when range_max is a very large number"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-08 07:24] guptapriya commented on #39753
If you want to run with graph mode in TF2, please try the following and let us know if the issue is still there:

[code]

[2020-06-08 07:27] ArtanBerisha1 commented on #40144
@terryheo Thanks for the response,
I updated TFLite implementation to 2.2.0 in gradle file, and the 'org.tensorflow:tensorflow-lite-gpu:2.0.0' is the same, I have sync the repo and tried again but the speed is 300ms on average with  Qualcomm 835 processor and its the same when I dont have the GpuDelegate as Interpreter Option.
The only thing that PoseNet performed better is when I set setNumThread

[2020-06-08 07:28] abattery commented on #40247
Currently, TFLite do not support on-device training officially. And also does not support natively mutable variable use cases.

[2020-06-08 07:34] sarthak-chakraborty commented on #40247
I think that error is because of the `AssignVariableOp` that is not supported by `convert()` function. Looking at the Traceback error, it shows that `convert()` function by default freezes the parameters.

Though I am yet to explore in detail, [https://github.com/tensorflow/examples/blob/master/lite/examples/model_personalization/README.md](https://github.com/tensorflow/examples/blob/master/lite/e

[2020-06-08 07:35] amahendrakar commented on #40224
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/097019fc33cd11a9261eb368b0db4377/40224.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/5ff8e0e7695d09abc816b7d2b4b812e1/40224-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-08 07:40] abattery commented on #40247
@sarthak-chakraborty you're right. We have limited supported mutable variable support via flex delegate and AssignVariableOp is an typical example of that.

@jaeyoo could you answer the model personalization questions?

[2020-06-08 07:46] albertz commented on #40228
No. You have some `ipykernel_launcher` error in there, which is related to Colab. You would need to adapt the script for Colab.
I just tested it: You can just change `arg_parser.parse_args()` to `arg_parser.parse_args(["--reset_after_nsteps", "100"])`. Then it works in Colab.

And it reproduces the error:
[code]

[2020-06-08 07:49] amahendrakar commented on #40230
@Lay4U,
I do not have permission to view the Colab gist you have linked.

Could you please save the Gist using the following method. 'File' -> 'Save a copy as Github Gist', and share the link of the new window. Thanks!

[2020-06-08 07:50] Ringhu commented on #39495
Hi @lintian06 , thank you for ur response first. I checked the input and ouput details:
[code]
I modified the `TFLiteObjectDetectionAPIModel.java` file, but still got the crash problem.

Besides, the demo file supports 80 classes in COCO, since the latest version of COCO contains 91 classes, I suggest update the demo repo if it's possible.

[2020-06-08 07:50] ravikyram commented on #40257
@Ujustwaite

Can you provide the colab link to show where exactly you are facing the problem.Thanks!

[2020-06-08 07:51] guptapriya commented on #39625
This API is only intended for GPUs and CPUs. If you want to do an allgather for TPUs, you can use this function: https://github.com/tensorflow/tensorflow/blob/4e7ce793d996dfed173bd46e90f489df9464a540/tensorflow/python/tpu/ops/tpu_ops.py#L45

We are planning to provide an API for allgather in the Strategy class so you don't need to use non exported functionality.

[2020-06-08 07:51] #39625 closed

[2020-06-08 07:58] fredo838 opened #40265 "`from tensorflow import keras` errors if it's in a file named `code.py`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu:18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2.2.0-r

[2020-06-08 07:59] multiverse-tf commented on #40183
I see. I added T.J who could give more insights here. He is much more familiar with the x86_64 optimization in the underlying math library RUY fo quant models in TFLite.

Btw, if you are ok w/ float models on x86, then you could try the new xnnpack delegate (i.e. see https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/xnnpack#enable-xnnpack-via-bazel-build-flags-recommen

[2020-06-08 08:04] syamsruthin opened #40266 "Unexpected rise in inference time after quantization"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-06-08 08:26] gowthamkpr commented on #38690
@spurani I will do that and also As mentioned in the above comment, please post this issue in tensorflow/models or  stackoverflow as there is a wider community to respond. Thanks!

[2020-06-08 08:26] #38690 closed

[2020-06-08 08:26] Danliran commented on #40213
@ravikyram strace log about training, hope it can help you.

fstat(3, {st_mode=S_IFREG|0644, st_size=2476, ...}) = 0
read(3, "# Copyright 2017 The TensorFlow "..., 4096) = 2476
write(2, "    ", 4    )                     = 4
write(2, "app.run(main)  # Raises error on"..., 68app.run(main)  # Raises error on invalid flags, unlike tf.app.run()
) = 68
close(3)                                = 0
write(

[2020-06-08 08:31] RunOrVeith commented on #40186
I assume you meant "upgrade to a stable version of python", and it does ondeed only seem to be a problem in python 3.8.0b4.
I get the expected output using python 3.8.3, so maybe this is also a big that has since been fixed inside the python interpreter.

[2020-06-08 08:31] terryheo commented on #40144
I used Pixel 4 and Galaxy S10e.
Did you modify source to use GPU?

https://github.com/tensorflow/examples/blob/master/lite/examples/posenet/android/posenet/src/main/java/org/tensorflow/lite/examples/posenet/lib/Posenet.kt#L76
It should be changed to
[code]

[2020-06-08 08:34] #39845 closed

[2020-06-08 08:38] RKAtrishee commented on #13844
#Training the model
print(f'Beginning Training!')
current_time = datetime.now()
estimator.train(input_fn=train_input_fn, max_steps=num_train_steps)
print("Training took time ", datetime.now() - current_time)

Beginning Training!
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Saver not created because there are no variables in the graph to restore
INFO:tensorflo

[2020-06-08 08:40] RKAtrishee commented on #13844
I am running the above script on sagemaker and getting the error. Please help me out.

[2020-06-08 08:41] mimxrt commented on #37013
Thank you for your response. I think or rather hope there is a misunderstanding. What I did to compensate the difference in dimensionality and the resulting difference in total size is multiplicate the result time by the missing factor:

First, I stated the average size of the dimension 1 (number of time steps)

and consequently used it for the timing calculations.

The first value of 546.9 second

[2020-06-08 08:54] amahendrakar commented on #40233
@willbattel,
In order to expedite the trouble-shooting process, could you please provide the complete code or the `model` file you are using in the code. Thanks!

[2020-06-08 08:57] gowthamkpr commented on #38559
@hgffly I am sorry to hear this. But the issue here is that you have to convert `data['image_raw']` from  rank 1 to rank 0 i.e., scalar as `tf.io.decode_jpeg()` only expects scalar as input. So you can use this to reshape it into a scalar
`img = tf.io.decode_jpeg(tf.reshape(data['image_raw'],[]))` and everything should work as normal.

Anyways, I am closing this issue now. If you face anymore issu

[2020-06-08 08:57] #38559 closed

[2020-06-08 08:58] donCalculator commented on #40183
Here is a detailed report of my case, please note that I'm benchmarking the cpu-tflite models, the edge compiler output is only added for additional information.

CPU: Threadripper 1920x

###My Mobilenetv2:
base_model = tf.keras.applications.MobileNetV2(input_shape=IMG_SHAPE,
                                              include_top=False,
                                              weights='ima

[2020-06-08 08:58] albertz opened #40267 "Keras layer on TPU, Cannot assign a device for operation RandomUniform"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.2.0, v2.2.0-rc

[2020-06-08 09:02] #36416 closed

[2020-06-08 09:12] hegman12 opened #40268 "AutoGraph saved model with uint8 input will not convert to tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Both Windows and Linux
- TensorFlow installed from (source or binary):
From binary with pip and preinstalled on colab

- TensorFlow version (or github SHA if from source):
'2.2.0'

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebo

[2020-06-08 09:14] AlexWang1900 commented on #40027
THX very much! I will do the test asap!

[2020-06-08 09:29] albertz commented on #40265
This is not TensorFlow related. In your stack trace, you see:
[code]
I.e. the official Python `pdb` package does `import code`, i.e. it loads the [official `code` module](https://docs.python.org/3/library/code.html).

When you start some Python script, it will add the current path to `sys.path` at the very first position. Because of that, you can also not name your script `sys.py`, `os.py`, or the

[2020-06-08 09:32] AngelBerihuete commented on #39417
Dear @Flamefire

Maybe you can help to reproduce the @brianwa84 's [example](https://colab.research.google.com/github/tensorflow/probability/blob/master/discussion/examples/cross_gpu_logprob.ipynb) on Slurm machines (below the code). The main idea is to execute log probability calculations in MCMC algorithm across GPUs.

I've tested lots of combinations (as you can see in the commented code below)

[2020-06-08 09:32] zhuzilin commented on #37958
The `NodeDef` is a protobuf message defined in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/node_def.proto

It does not contain output of the node and the inner implementation largely depends on this...

[2020-06-08 09:33] lizhen2017 opened #40270 "TfLite Sign Op Support"
How long will the sign op be surpported? Or would you please provide some suggestions for implementing a tflite custom op using eigen lib as tf sign op.

[2020-06-08 09:34] gowthamkpr commented on #39459
@nikita1andreev Tried to run this issue on colab and session is crashing

[2020-06-08 09:34] #39814 closed

[2020-06-08 09:39] madamalarevanth commented on #38349
Hey i would like to work on it. can also help please

[2020-06-08 09:53] DoxasticFox commented on #40202
@chsigg Thanks for getting back to me. What you said makes sense. Unfortunately I don't have time to raise a PR right now. I hope that I can in a few weekends from now, unless someone else would like to work on it sooner.

[2020-06-08 09:56] ravikyram commented on #40263
I have tried in colab with TF version 2.1, 2.2, nightly version(`2.3.0-dev20200605`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/8a6f0588ce2197d525ef1eed0715d6c6/untitled964.ipynb).Thanks!

[2020-06-08 10:01] sherhut commented on #39895
I think the underlying problem here is that std does not have the concept of constants on memrefs. That is an omission as every user of std will run into this when lowering tensors to memrefs. Transforming std.const to lhlo.const is just hiding this omission by escaping to LHLO.

I would also argue that the TF legalization should produce an HLO constant so that its output is closed in HLO. This sh

[2020-06-08 10:06] shilan commented on #6024
I downloaded the zip file from github, extracted and added those files I needed to the directory tensorflow was expecting them to be. In my case c:/users/my_username/Anaconda
3/Lib/

[2020-06-08 10:13] amahendrakar commented on #40242
@Zumbalamambo,
Could you please share the code you're trying to run, so that we can look into it and fix the issue. Thanks!

[2020-06-08 10:16] sogartar opened #40272 "Bazel build option "--config=v1" does not build Tensorflow 1.x"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Linux Ubuntu 18.04:
- TensorFlow installed from (source or binary): source
- TensorFlow

[2020-06-08 10:17] peter197321 commented on #40200
**Tools version:**
Python= 3.7.7, TensorFlow=1.15.3, Numpy=1.16.4, contextlib2=0.6.0, pillow=7.1.2

**Sources:**
**```
https://github.com/tensorflow/models/blob/master/research/slim/train_image_classifier.py
https://github.com/tensorflow/models/blob/master/research/slim/export_inference_graph.py
[code]

[2020-06-08 10:18] gowthamkpr commented on #39906
@menon92 Yes this bug exists in 2.1.0 but has been fixed in tensorflow 2.2.0.
![image](https://user-images.githubusercontent.com/47574994/84019847-b6e4d680-a936-11ea-9a8e-e7946635f967.png)

[2020-06-08 10:18] #39906 closed

[2020-06-08 10:19] ravikyram commented on #40267
I have tried in colab with TFversion 2.2, nightly version(`2.3.0-dev20200605`) .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/5f37166e7ea2ee16949175caab8ae467/untitled965.ipynb).Is this the expected behavior?.Thanks!

[2020-06-08 10:26] albertz commented on #40267
What do you mean by expected? I expect that my code runs without error. But you have reproduced exactly the error I was reporting (for TF 2.2.0).
For nightly TF 2.3, you get another error. Which also looks strange and wrong. But this might be a different problem or bug? Or the same? Or related? I don't know.

[2020-06-08 10:31] pengyuan-zhou commented on #27646
might be too greedy, but have you found any opensource code from them or similar ones?
Thanks:)

[2020-06-08 10:38] gowthamkpr commented on #40096
@miohana Did you deactivate and activate the environment after installing pillow?

[2020-06-08 10:47] godweiyang commented on #40225
here is a demo that will cause this error:

[code]

[2020-06-08 10:53] Cillinc commented on #40188
thanks in my case I was not worried about what values were given to the class names - just that there was 3 classes which the model could work with.  SO i used each of the subdirectories as their own classes and it is working for me.

now my only problem is that the image files are all B&W and the distinguishing attributes to tell one class from another is not enough for the model i have.  So migh

[2020-06-08 11:02] torki-hossein commented on #15352
Hi, Yes The problem persist till now.
when i try to execute bellow line in python 3.5, and my feature vector is 450x512, the error occured.
Error: "segmentation fault (core dumped)"
sim_mat = np.matmul(query_feats, np.transpose(gallery_feats))
any idea?

[2020-06-08 11:04] amahendrakar commented on #40246
@bsrc,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/ask) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-06-08 11:06] nashid commented on #29957
@ymodak thanks - but what this log means?

[2020-06-08 11:10] gowthamkpr commented on #40213
@Danliran Please post this issue in [tensorflow/benchmarks](https://github.com/tensorflow/benchmarks/issues) as the issue is related to benchmarks. Thanks!

[2020-06-08 11:12] nashid opened #40273 "Shuffle buffer filled"
I am getting the following logging:

[code]

What does it mean?

[2020-06-08 11:18] heyufei2008 commented on #39407
Hi Gens
I use the Cast class like this:
auto uint8Caster = Cast(root.WithOpName("uint8_Cast"), outTensor, tensorflow::DT_UINT8);

But Cast class is defined in math_ops.h, which is "// This file is MACHINE GENERATED! Do not edit."

How to add TF_EXPORT to class Cast ?

Thanks

[2020-06-08 11:21] power-art commented on #40262
I want to fix this issue.

[2020-06-08 11:22] Saduf2019 commented on #40273
@nashid
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templat

[2020-06-08 11:22] alanpurple commented on #39333
@yarik1988

2.2.0 branch has no problem, this issue is about master branch

[2020-06-08 11:28] YongJieYongJie commented on #36310
In case anyone else stumbling into the `GpuLaunchKernel(...) status: Internal: invalid configuration argumnent` error, please this may also occur if the batch sizes you use is such that there will be an odd batch with a single record, in my case, the error occurred with the following numbers, when distributed across 4 GPUs:

[code]

To fix the issue, change your batch size such that there won't be

[2020-06-08 11:30] Saduf2019 commented on #40188
@Cillinc
As you have a solution, should we move this issue to closed status

[2020-06-08 11:37] w19787 commented on #39850
thanks. it is very reasonable explanation.

[2020-06-08 11:38] Samgithub1997 opened #40275 "Import error : dll load failed Tensorflow 2.0 version"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-06-08 11:42] amahendrakar commented on #40249
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/636025752e44225cf3773dd6fb7bf5ed/40249.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/f78949f716361e77a039a6095c4161ae/40249-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-08 11:46] Saduf2019 commented on #40265
@fredo838
Please refer to above comment and confirm if we may close this issue

[2020-06-08 11:47] amahendrakar commented on #40275
@Samgithub1997,
Please fill in the issue template along with the complete error log and the TensorFlow version you are using.

Also, please take a look at [this similar issue](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) and let us know if it helps. Thanks!

[2020-06-08 11:50] #40188 closed

[2020-06-08 11:50] Cillinc commented on #40188
thanks for thew suport!!!!!

[2020-06-08 12:00] Saduf2019 commented on #40268
I am able to replicate this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/f11a683353239f85a7b33e98b8d9a7ee/untitled216.ipynb)

[2020-06-08 12:16] ArtanBerisha1 commented on #40144
As I have written before in the question I have the code a little different, but I think it does the same thing:
private var interpreter: Interpreter? = null
init {
    val gpuDelegate = GpuDelegate()
    val options = Interpreter.Options()
    options.setNumThreads(4)
    options.addDelegate(gpuDelegate)
    interpreter = Interpreter(loadModelFile ( "posenet.tflite" , contex), options )
}
I creat

[2020-06-08 12:34] #39837 closed

[2020-06-08 12:47] miohana commented on #40096
Hi @ltung-cit!

Unfortunatelly, I've tried to change to Pillow but the error continues.
![image](https://user-images.githubusercontent.com/17110848/84031995-06de9000-a96d-11ea-8b33-3628e1055573.png)

Thanks for the reply! 😄

@gowthamkpr since we are using Custom Prediction Routine, the environment should deactivate and activate again everytime I create a new version, right?

[2020-06-08 12:56] jvishnuvardhan commented on #39651
I will check on my windows laptop and let you know the solution. Thanks!

[2020-06-08 12:58] MilimaBwana opened #40276 "TensorArray concat() throws _FallbackException"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-08 13:01] Saduf2019 commented on #40245
@khatrishubham88
Can you refer tot here links and let us know if it helps:

#35917 #38194 #34759

[2020-06-08 13:09] Saduf2019 commented on #40229
@Zumbalamambo
Please update as per above comment.

[2020-06-08 13:20] LearnKen opened #40277 "tf2.0 Multi-worker training with Keras only utilizing one GPU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
[code]
**Describe the current behavior**
I use  Multi-worker training with Keras but it only use one Gpu
Error:

[2020-06-08 13:23] Saduf2019 commented on #40261
@
I ran the code shared by you on [tensorflow 2.0](https://colab.sandbox.google.com/gist/Saduf2019/490e7394f67121bc4997845b4491c610/untitled216.ipynb), [tf 2.1](https://colab.sandbox.google.com/gist/Saduf2019/54e2392e40ed2afd588ede7cd298a7ca/untitled208.ipynb) and [tf 2.2 ](https://colab.sandbox.google.com/gist/Saduf2019/47f16b6ecdd34f22e019f8ab50ad61ac/untitled216.ipynb) and do not see much of a

[2020-06-08 13:24] peter197321 commented on #40200
I guess I encounter an error in script [export_inference_graph.py](https://github.com/tensorflow/models/blob/57e075203f8fba8d85e6b74f17f63d0a07da233a/research/slim/export_inference_graph.py#L133) where image-grayscale and model are needed so I've changed hard-coded the number of channels to `1 ` for my case.

On another hand, I used to add explicit control switch `--use_grayscale` for a newer vers

[2020-06-08 13:24] #40200 closed

[2020-06-08 13:27] mdanatg commented on #39850
Yes, it's possible with `tf.config.optimizer.set_experimental_options`, but it's tricky to tweak these settings to get an apples-to-apples comparison.

Note that if you only want to benchmark the performance of slice operations, you should simplify the code as much as possible. There are a few caveats:

 * in eager mode, you should add a `.numpy()` call at the end of the computation, to make sure

[2020-06-08 13:36] mdanatg commented on #39742
The warning is due to a known limitation of the Python runtime. See [this article](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/limitations.md#source-code-of-lambda-functions).

The known workaround is to write the code like this:

[code]

[2020-06-08 13:36] #39742 closed

[2020-06-08 13:44] brianwa84 commented on #9260
I'm not aware of any issue open for this in TFP. Feel free to open one and
send a PR. This could perhaps sit alongside tfp.math.random_rademacher, or
maybe we would want to make a new 'random' pkg in TFP. Team would need to
discuss.

[2020-06-08 13:44] byronyi commented on #38351
@angerson It seems that building tf-nightly now requires `opt_einsum` in host environment:

[code]

which seems to [break tf-nightly on Linux](https://pypi.org/project/tf-nightly/2.3.0.dev20200606/#files) since your CL landed; not sure if it's going to be fixed in TF or the build environment.

[2020-06-08 13:45] amahendrakar commented on #40262
@Udityanshu,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/ask) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-06-08 13:53] Udityanshu commented on #40262
Sounds good

[2020-06-08 14:06] khatrishubham88 commented on #40245
@Saduf2019
#38194 is closest to my problem but as you can see in my case the problem isn't that the configure cannot find the CUDA 10.2 but it is with the compilation of couple of kernels in the tf. Unfortunately, I am building this on remote machine which does not have CUDA 10.1 which is why I have to build it using 10.2 only.
Since I am new to CUDA, I am quite unsure about the cause of this.
I h

[2020-06-08 14:06] bondhugula commented on #39895
As you know, memrefs aren't necessarily contiguous and can have arbitrary affine layouts, striding, padding, and so an op that stores a constant to a memref just cannot live in the std dialect! If it did, its valid lowering for codegen would have to again pass through loops, which are themselves not in the std dialect. So, I don't see the argument that the underlying problem is that of a memref co

[2020-06-08 14:13] dhiegomaga opened #40278 "Documentation instructions on installing tensorflow with CUDA support doesn't work"
OS: Ubuntu 18.04
Graphics card: Nvidia 1050Ti

**Problem**
Following the instructions under https://www.tensorflow.org/install/gpu#install_cuda_with_apt gives the following error:

[code]
after executing this step
[code]

**Additional Info**
The complete message after running the above command is

[code]

[2020-06-08 14:16] #40262 closed

[2020-06-08 14:28] moulicm111 commented on #29027
Thank you @Ain-Crad . tf-function decorator is main culprit for increase of ram .Have to check for constants.
while adding two losses loss_1 + lambda* loss_2
Does lambda needs to be a tf.constant here.

[2020-06-08 14:29] dhiegomaga commented on #35968
I think this thread summarizes very well what it's like working with cuda/tensorflow

[2020-06-08 14:30] eriikj commented on #39992
We are currently using the Keras Sequence API and trying to migrate to the tf.data API.

We are limited by our data pipeline, prefetch does not do anything for us, since all elements are consumed almost immediately.

I have provided some code that should illustrate the problem with setting num_parallel_calls to the same as the number of threads in the pool, but I will try to explain the problem as

[2020-06-08 14:34] #39796 closed

[2020-06-08 14:54] edmondja commented on #12001
+1

[2020-06-08 15:05] AndreasMadsen opened #40280 "simple tf.vectorized_map raises error UnrecognizedFlagError: Unknown command line flag 'f'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): Default Colab
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.9
- CUDA/cuDNN version: N/A tested on CPU
- GPU model and memory: N/A t

[2020-06-08 15:07] AlexWang1900 commented on #40027
@guptapriya
1, I ran all nccl_tests, it seems NCCL is working. But when each test running(about 30 min for each test), the system freezes, I can't switch to browser or doing anything, I can only move the mouse, but the system doesn't respond to mouse-clicking or keyboard input.

#  ./all_reduce_perf -b 8 -e 128M -f 2 -g 2
# nThread 1 nGpus 2 minBytes 8 maxBytes 134217728 step: 2(factor) warmup ite

[2020-06-08 15:13] bsrc commented on #40246
@amahendrakar you are right actually, but I have asked on StackOverflow, too. Thank you for your recommendation.

[2020-06-08 15:17] arjun-majumdar commented on #36574
@nikitamaia Let me have a look and get back to you. Thanks!

[2020-06-08 15:22] ElPapi42 commented on #40185
I decide to write another bare minimum example, and I can confirm this only happens with LSTM layer, when changed to GRU everything works:
[code]
Dont know the reason for this error, but surely must be inspected @Saduf2019

[2020-06-08 15:36] mihaimaruseac commented on #39248
This seems to be caused by a logic error in `configure.py`. Will try to send a fix soon.

[2020-06-08 15:39] ElPapi42 commented on #40221
@jvishnuvardhan any updates on this? i truly need the support, thanks!

[2020-06-08 15:41] amahendrakar commented on #40266
@syamsruthin,
On running the code, I'm facing an error stating `KeyError: "The name 'sequential/Identity' refers to an Operation not in the graph."`.

Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/1bb99d7b7ec2c1c95254da120f170afd/40266-1-15.ipynb). Thanks!

[2020-06-08 15:49] markomernick commented on #39504
Hi @shkarupa-alex, this should be fixed in the nightly. Also, you might be interested in the StringLookup layer (also exported in nightly) which will do string->integer mapping directly without normalization or other overhead and should work on input of any dimensionality. Try it out and let me know what you think!

[2020-06-08 15:52] syamsruthin commented on #40266
@amahendrakar
- This is because of enabling eager execution during model creation and training. Can you please comment this "tf.enable_eager_execution()" and run the model training again before converting it to onnx.
- tf.enable_eager_execution() is required when we are creating and during inference of static quantized tflite model. (When giving representation data set to create static quantized t

[2020-06-08 16:03] gunan commented on #38351
That is an unrelated problem. Could you open a new issue?

[2020-06-08 16:12] pavanky commented on #40208
@ashahab @preethivenkatesh @penpornk The fix from https://github.com/tensorflow/tensorflow/issues/36717#issuecomment-602733323 doesnt seem to work and we are still facing the same issue as 1.15

Would you be able to provide some help ?

[2020-06-08 16:13] y12uc231 opened #40283 "Annoying Documentation for Tensorflow 2.2.0"
I saw the implementations of tf.reduce_mean, tf.reduce_sum but its not there in the documentation for tf 2.2.0. It is really annoying as it created a giant confusion in our code. Please keep documentation and implmentation in sync.

[2020-06-08 16:20] sherhut commented on #39895
Having a `std.const` on memrefs in the standard dialect would not imply any specific lowering. You could even have a version that allocates the buffer if you wanted. In either case, the lowering of such a memref constant is independent of the semantics. You could decide to implement `std.const` by lowering via linalg or going to `hlo.cost`.

I would also disagree with that choice (using standard o

[2020-06-08 16:31] penpornk commented on #40208
Sorry to hear that! I've assigned this issue to the @TensorFlow-MKL team (@ashahba is from the team).

[2020-06-08 16:40] qlzh727 commented on #40217
It seems that the code was added to keras-team/keras, but hasn't been port to tf/keras yet. We will fix it and make the pre-trained weight available.

[2020-06-08 17:07] omalleyt12 commented on #39706
@Lay4U Thanks for the issue!

This just seems like a Model quality issue. Here is a simple example showing that `predict` is working correctly:

[code]

[2020-06-08 17:07] #39706 closed

[2020-06-08 17:17] fostiropoulos opened #40285 "Support for .next() on tf.data.Dataset"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): **Yes** (If approved)

**Describe the feature and the current behavior/state.**
Currently when working with https://www.tensorflow.org/api_docs/python/tf/data/Dataset
You can iterate a Dataset with a loop e.g.
[code]

However if you want to get a single batch, the only option would be:

[2020-06-08 17:18] grienayj opened #40286 "List tf.function methods in tf.Module"
Hi all!

I use the dir(cls) build-in method to list member of a tf.Module but tf.function methods do not appear there. Is there a method that allow listing of tf.function in tf.Module?

Thanks

[2020-06-08 17:26] anj-s commented on #39251
@StarDust1980 Have you tried using a [custom training loop(CTL)](https://www.tensorflow.org/tutorials/distribute/custom_training) instead of the native tf.keras `compile` and `fit`? Since you are explicitly placing variables and calling it on specific devices I would suggest using a CTL to give you more extensibility.
If you place any variable creation under MirroredStrategy scope then it is repli

[2020-06-08 17:36] ctahok commented on #20444
Just install 3.6.6.
sudo apt-get install python3.6

[2020-06-08 17:38] lgeiger commented on #40285
I think you should be able to call `next(iter(train))` similar to normal Python 3 `next(iter(range(3)))`.

[2020-06-08 17:39] Elizaaaaa commented on #39326
hey, sorry for the late reply. the result of pip list is:
~/estimator$ pip list
Package                            Version
---------------------------------- --------------
absl-py                            0.9.0
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.7
anaconda-project                   0.8.3
appdirs

[2020-06-08 17:43] mjkim720 opened #40287 "Floating point exception occurred in tf.nn.fractional_max_pool"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-06-08 17:46] ymodak commented on #31617
Is this still an issue? Can you test with a latest version of TensorFlow (2.2) and check? Thanks!

[2020-06-08 18:02] ymodak commented on #40113
Duplicate of #40141
Probably we can follow it on that thread.

[2020-06-08 18:06] nashid commented on #40273
Please find details:

[code]

[2020-06-08 18:08] ymodak commented on #40049
Closing this issue now since it's fixed. Feel free to reopen if required. Thanks!

[2020-06-08 18:08] #40049 closed

[2020-06-08 18:18] lamberta commented on #39729
You saw the SavedModel guide: https://www.tensorflow.org/guide/saved_model ?

Graph optimization guide also useful: https://www.tensorflow.org/guide/graph_optimization

[2020-06-08 18:21] ymodak commented on #40024
I would recommend to use lower batch size for your computation.
Also you want to put gpu memory limitation code on the top of your script.
[code]
Thanks!

For further support please try [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow)

[2020-06-08 18:21] #40024 closed

[2020-06-08 18:29] sumeshpandit commented on #31015
Hey Can you pls send me the tflite model with 4 output. I am unable to convert it. Thank you.
amansharma8458@gmail.com

[2020-06-08 18:38] ymodak commented on #31195
Is this still an issue? Thanks!

[2020-06-08 18:41] nikitamaia commented on #40277
@LearnKen are you trying to train with multiple GPUs on one machine, or train across multiple machines?

[2020-06-08 18:43] Kottarashky opened #40288 "metaclass conflict, ops.py, tensorflow.backend.py"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

Hello people, firstly...im new the last beginner and maybe the mess is big so...
Some days ago i trained YOLOv3 (TrainYourOwnYOLO) ever

[2020-06-08 18:44] tanzhenyu commented on #40016
#40101

[2020-06-08 18:45] #38459 closed

[2020-06-08 18:46] crccw commented on #39417
Which Tensorflow version are you using? Could you upgrade to 2.2?

[2020-06-08 18:49] haoyuz commented on #40205
Thanks for reporting!

As documented [here](https://www.tensorflow.org/api_docs/python/tf/compat/v1/placeholder) the placeholder is not compatible with eager execution so this test is not enabled in the TF2 release. We do not test it with explicitly disabling eager in TF2, but will keep having this case covered in the TF1 testing.

[2020-06-08 18:49] #40205 closed

[2020-06-08 18:50] khatrishubham88 commented on #40245
I made a second attempt with the same configuration and adding mkl option in the build just to try out and see if it could highlight some problem but I still got a similar issue. Below is the log maybe you can identify better what is the issue.

* Configuration: Same as earlier

* build command: ``` bazel build --verbose_failures --config=opt //tensorflow/tools/pip_package:build_pip_package  ```

[2020-06-08 18:57] fostiropoulos commented on #40285
@lgeiger Thanks! I was not aware of that, however maybe it is tedious? in the use case of custom iteration over the data, wouldn't it make more sense for the iterator to be part of the dataset class/object. Such that the state of the iteration is saved and compatible with other methods such as take, rather than creating a new iterator every time?

[2020-06-08 19:05] nikitamaia commented on #40283
Hi @y12uc231
[tf.reduce_mean](https://www.tensorflow.org/api_docs/python/tf/math/reduce_mean) and [tf.reduce_sum ](https://www.tensorflow.org/api_docs/python/tf/math/reduce_sum)are both included in the documentation. Can you please link to the implementations you are referring to, and provide more information on the discrepancy you are seeing between documentation and implementation? Thank you.

[2020-06-08 19:07] scottamain commented on #38285
FYI, you can try this TF2 API for full-integer post-training quantization here:
https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb

[2020-06-08 19:08] guptapriya commented on #29911
thanks @s4sarath. @anj-s could you take a look at the attached colabs? This looks like a bug to me - it could likely be due to how we handle `fn` passed to `run` that are annotated with tf.functions.

@s4sarath one thing you could try right now is to put the call to `run` inside a tf.function and add the input signature to that. See this unit test here:
https://github.com/tensorflow/tensorflow/blo

[2020-06-08 19:08] karimnosseir commented on #39790
This is working as intended.
The model has Addv2 which accepts type int64. Tensorflow lite doesn't support Addv2 with int64 input/output.
Since, you used SELECT_TF_OPS that means all non supported ops will be exported as TF ops and run in TF.
To run the generated tflite file, you need to use Interpreter which supports SELECT.
Please follow the guide on creating interpreter
https://www.tensorflow.o

[2020-06-08 19:08] #39790 closed

[2020-06-08 19:09] jpienaar commented on #40145
Mmm, this works for me. Let me try a different variant. What compiler version do you have on your system?

[2020-06-08 19:09] y12uc231 commented on #40283
Hi @nikitamaia  : If you check the links you posted, they are tf.math.reduce_mean not tf.reduce_mean.

[2020-06-08 19:10] impjdi commented on #27613
@brucechou1983 no, it's something else.  for example, loop unrolling & tiling are not handled efficiently in many of the mali drivers, so we may want to do the unrolling manually.  however, doing that makes the shader code quite unreadable and difficult to debug.  so we're making things to make that sort of task easy.

[2020-06-08 19:12] bondhugula commented on #40145
It was built with clang 9.0.1.

[code]

[2020-06-08 19:12] Sidong-Wei commented on #40205
Good to know that, thank you for confirming this, I will neglect this failure in the test results for 2.x version.

[2020-06-08 19:17] bondhugula commented on #40145
I've been able to reproduce this on multiple different systems (Fedora, RHEL) that have Clang 9.0.1.

[2020-06-08 19:19] bondhugula commented on #40145
valgrind shows the following:

[code]

[2020-06-08 19:31] NiBurhe commented on #39307
@JacobSMoller Thanks for the hint. I tried it, but failed with
Step 23/38 : COPY go.sum /app/go.sum
COPY failed: stat /var/lib/docker/tmp/docker-builder720470318/go.sum: no such file or directory

where do you get the go.sum and go.mod files from?

[2020-06-08 19:37] karimnosseir commented on #40119
TFLite doesn't support 'RandomStandardNormal' op. The reason the conversion didn't fail is because you set 'allow_custom_ops' to True, which will export unknown operations as custom ops.
See 'allow_custom_ops' attribute in the docs
https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter

Closing as this is expected and explained it above.

Thanks

[2020-06-08 19:37] #40119 closed

[2020-06-08 19:41] karimnosseir commented on #40119
One more note, you can still be able to convert and run the model using SELECT but it has an impact on binary size.
See
https://www.tensorflow.org/lite/guide/ops_select

[2020-06-08 19:44] MarkDaoust commented on #37462
Hi @np000,

I think you just need to practice reading your error messages. When I copy-paste your code into colab it says you're passing an unexpected argument to the constructor. "Training" is an argument for when you run a layer or model not when you build it. Keep working at it, I think these are errors you can handle yourself.

[code]

[2020-06-08 19:44] #37462 closed

[2020-06-08 20:16] willbattel commented on #40233
Sure, I'll try to bring that code over. I need to clean it up first.

[2020-06-08 20:20] Zumbalamambo commented on #40229
this is my tf function @Saduf2019 @nikitamaia

[code]

[2020-06-08 20:20] stefano555 commented on #38285
@scottamain @MeghnaNatraj Hi,
I've trained a resnet50v2 model. TensorFlow nightly 2.3.0-dev20200608. The model works fine and I tried some optimization such as "simple" tf lite, tf lite dynamic range, tf lite 16float, and they all work fine.
I have updated today tf to use full-integer post-training quantization with uint8. I converted my model from SavedModel format with:

num_calibration_steps=10

[2020-06-08 20:25] richieakka commented on #39265
(venv) C:\>pip install tensorflow==2.2.0
ERROR: Could not find a version that satisfies the requirement tensorflow==2.2.0 (from versions: none)
ERROR: No matching distribution found for tensorflow==2.2.0

still getting error.

(venv) C:\>python --version
Python 3.8.0

(venv) C:\>pip --version
pip 20.1.1 from c:\venv\lib\site-packages\pip (python 3.8)

[2020-06-08 20:28] pavithrasv commented on #37548
Can you use `model.layers` to navigate and find the graph of layers in the inner model?

[2020-06-08 20:34] scottamain commented on #38285
Hey @stefano555
You said your input tensors are uint8, and that was my first concern. So I don't know what else it might be. But to be sure, can you verify that your results are accurate when you use float input/output (remove the inference_input_type/inference_output_type lines)?

[2020-06-08 21:07] drasmuss commented on #37548
No, because `model.layers` just tells you which layer objects are in the model, not how they are connected to each other. For example, consider a model like this
[code]
`model.layers` just shows one Input layer and one Dense layer. If you want to recreate the structure of that model, you have to look at the Keras connectivity metadata of `my_layer`.

[2020-06-08 21:17] QColeman97 commented on #39892
I was able to resolve this by:
1) Converting my lambda layers into custom layers.
2) Converting my method from making a tricky nested loss function (I think it's now deprecated) and assigning it to each output in model.compile(), into creating a single loss tensor and passing it into model.add_loss().

It seems that this error appeared when either of these things were as they were before my fix. I

[2020-06-08 21:17] #39892 closed

[2020-06-08 21:18] miaowang14 commented on #39923
The issue has been found in NNAPI delegate and the fix has been submitted internally.

You should be able to sync later today and verify the fix.

Thanks for reporting the issue!

[2020-06-08 21:18] #39923 closed

[2020-06-08 21:20] pavithrasv commented on #37548
We do not have any public properties or methods for this today. We have `tensor._keras_history` which will provide that information, but since this is a private property we do not recommend relying on it (similar as `_inbound_nodes`).

[2020-06-08 21:33] tamjazad commented on #9829
This also worked for me

[2020-06-08 21:42] karimnosseir commented on #38932
@galah92 Sorry for the delay.
No immediate plans.

[2020-06-08 22:01] nikitamaia commented on #40283
If you click on the "View aliases" button at the top of the docs, you will see that tf.reduce_sum is an alias for tf.math.reduce_sum, so you can use either.

[2020-06-08 22:07] AngelBerihuete commented on #39417
I use TF 2.2.0 and TFP 0.9.0

[2020-06-08 22:13] haozha111 commented on #33494
Hi!

InterpreterWithCustomOps seems not the correct recommendation here, since it's currently not exposed as the public API. Looping in @jdduke to take a look. Hi Jared, do you know the recommended interpreter API to use when the model contains customs ops such as ctc beam search decoder? AFAIK the model can convert but it encounters a kernel registration issue during runtime.

[2020-06-08 22:14] gowthamkpr commented on #40238
@programandoconro Please post this issue in [tensorflow/tfjs](https://github.com/tensorflow/tfjs/issues) as this issue is apt to that repo. Thanks!

[2020-06-08 22:15] crccw commented on #39417
Sorry the fix was not in 2.2. Could you try use nightly? If it's not possible, please wrap strategy.run() in a tf.function **and** pass a **non** tf.function to strategy.run

[2020-06-08 22:15] lihanchen commented on #40261
Hi, I just tried with another machine with i7-6700 and Linux Mint 19. I can repro it.
Did you run it on CPU only? Also, since tf 2.1 has a difference package name (tensorflow-cpu vs tensorflow), you need to uninstall the other one or use virtualenv.

[code]
I also zipped the entire directory of testing code and 2 venvs.
https://drive.google.com/file/d/1G4GqDAi0z2jscEc7WSVcMxHr-dyr5QZc/view?usp=sha