[2018-01-06 18:55] tensorflowbutler commented on #14884
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:55] tensorflowbutler commented on #14918
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:55] tensorflowbutler commented on #14993
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:55] tensorflowbutler commented on #15136
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:55] tensorflowbutler commented on #15360
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:55] tensorflowbutler commented on #15463
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:55] tensorflowbutler commented on #15503
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:55] tensorflowbutler commented on #15530
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:55] tensorflowbutler commented on #15572
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:55] tensorflowbutler commented on #15576
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:55] tensorflowbutler commented on #15580
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:56] tensorflowbutler commented on #15583
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:56] tensorflowbutler commented on #15584
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:56] tensorflowbutler commented on #15585
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:56] tensorflowbutler commented on #8517
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #2126
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #2146
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-06 18:56] tensorflowbutler commented on #3233
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #3628
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #5772
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #6996
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #7808
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #7848
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-06 18:56] tensorflowbutler commented on #8182
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #310
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #8535
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-06 18:57] tensorflowbutler commented on #9142
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #9370
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-06 18:57] tensorflowbutler commented on #9831
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #9870
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #10066
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #10083
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 18:57] tensorflowbutler commented on #10250
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-06 18:57] tensorflowbutler commented on #10685
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-06 19:07] xavigonzalvo commented on #7848
Have you considered giving it a go and add this yourself?

[2018-01-06 19:18] #3233 closed

[2018-01-06 19:29] kikushah commented on #15583
Yes please. Really need a solution.

[2018-01-06 19:36] KillPinguin commented on #15585
Yes it's still an issue

[2018-01-06 19:37] yongtang commented on #15905
Added PR #15917 to address the documentation.

[2018-01-06 19:49] #8182 closed

[2018-01-06 19:50] #310 closed

[2018-01-06 19:50] protoget commented on #9370
This class is deprecated. The new CudnnRNN layers manages vars and saveables for users.

[2018-01-06 19:50] #9370 closed

[2018-01-06 19:53] #14884 closed

[2018-01-06 20:01] #6996 closed

[2018-01-06 20:11] #15583 closed

[2018-01-06 21:15] cbockman commented on #15530
@tensorflowbutler I would like to see this better addressed.  TF GCS read/write acting entirely differently than GCS read/write works with the baseline Google-built GCS library doesn't seem healthy.  Further, the failure mode here is very subtle, as what is "failing" (at least against what I would argue is reasonable expectation, given how the Google product works everywhere else) is very subtle t

[2018-01-06 22:20] yaroslavvb commented on #9901
This should be deprecated if TF is switching to C++ gradients

[2018-01-06 22:38] nbro commented on #15905
@yongtang IMHO, you can give a clearer explanation than the one you added in the commit of the PR. Maybe just copy my explanation above with the code?

[2018-01-06 23:00] mrry commented on #10066
I'm closing this due to lack of recent activity. Since TensorFlow 1.5.0rc0 with CUDA 9 support is now available, I expect much has changed since TensorFlow 0.12.1, which is over a year old now. If the problem reproduces with the latest version of TensorFlow, please feel free to reopen the issue.

[2018-01-06 23:00] #10066 closed

[2018-01-06 23:03] x10000year opened #15919 "A bug of tf.layers.batch_normalization when training is not a constant"
I encountered a bug of tf.layers.batch_normalization when the training argument is not a constant. Usually, when the training argument evaluates to False, the moving mean and variance should not be updated. However, in certain cases, the moving mean and variance may become NaN.

The bug occurs in the following code in python/layers/normalization.py:

[code]

When training is not a constant but eva

[2018-01-06 23:03] Independent-Scientist commented on #15866
Stumbled upon the same error.

**System information**

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
    TensorFlow installed from (source or binary): Source
    TensorFlow version (use command below): r1.4.1
    Python version: 2.7.14 Anaconda
    Bazel version (if co

[2018-01-06 23:12] Smoothstep opened #15920 "cmake CUDA include-path whitespaces not supported"
I'm not sure if this is intentional, but I just had some trouble with compiling tf_core_gpu_kernels due to a invalid include-dir path as command line argument given to nvcc (caused by a whitespace in the path).

In windows I was able to solve this by adding double quotes at line 277 in CMakeLists.txt:
`set(CUDA_NVCC_FLAGS ${CUDA_NVCC_FLAGS};--include-path \"${PROJECT_BINARY_DIR}/$\{build_configura

[2018-01-06 23:33] joshsuihn commented on #9080
Stream callbacks are not supported on pre-Volta MPS clients. MPS with Tensorflow may need to be tried on volta using cuda9 later.

[2018-01-06 23:43] gunan commented on #7848
Looks like we are open to contributions on this one?

[2018-01-07 01:02] tensorflowbutler commented on #15911
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 01:02] tensorflowbutler commented on #15914
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 01:02] tensorflowbutler commented on #15916
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 01:05] #15914 closed

[2018-01-07 02:55] anton6 opened #15921 "iOS: Op type not registered 'DecodeWav'"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: I am trying to run graph model from Simple Audio Recognition example on iOS.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.13
- **TensorFlow installed from (source or binary)**: Branch r1.4
- **TensorFlow version (use command below)**: 1.4
- **Py

[2018-01-07 03:28] wqh17101 commented on #15580
I have tried ,but it did not work. My os is windows10 .So i hope i can solve this problem by update the tensorflow. But It does not right work .

[2018-01-07 05:09] ailias commented on #15414
Have you solved this problem yet ? I met same error now,  I modified model.h, schema.fbs, BUILD, register.cc and operator.cc similar with Cast op, but I got the error after running ios example:
Didn't find custom op for name 'xxx'
Registration failed.

[2018-01-07 05:35] yongtang commented on #15905
@nbro The PR has been updated.

[2018-01-07 06:35] Aryal007 commented on #15730
For tensorflow 1.4.1, check this out: http://www.python36.com/install-tensorflow141-gpu/

[2018-01-07 06:54] tensorflowbutler commented on #15919
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 06:54] tensorflowbutler commented on #15920
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 08:22] jyr1v commented on #15505
I have the same issue. Any help would be appreciated.

Linux ubuntu 16.04 (x86_64)
TensorFlow version '1.4.1' and it was installed with 'pip3 install tensorflow-gpu'
CUDA V8.0.61
cuDNN 6
GPU: NVIDIA Corporation GK104 [GeForce GTX 770]

[2018-01-07 08:24] marcj commented on #15911
They are filled out.

[2018-01-07 08:45] Randl commented on #13851
@drpngx Well yeah, `libcudart` is still in `/usr/lib/x86_64-linux-gnu/` and Tensorflow still wants `/lib64/libcudart.so`, which isn't generic enough IMHO

[2018-01-07 10:02] MauryaRitesh opened #15924 "Tensorflow Optimize for Inference KeyError."
I got the following error when optimizing the graph for inference:
Traceback (most recent call last):
  File "C:\Python35\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Python35\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Python35\lib\site-packages\tensorflow\python\tools\optimize_for_
inference.py", line 146, in <module>
    ap

[2018-01-07 11:33] vldbnc commented on #12000
Hi @vksbhandary. I see the same problem on master branch as you do. This issue seems to be different than reported one. Did you find a way how to solve this? Thanks.
`algorithm(2417): error C2678: binary '*': no operator found w
hich takes a left-hand operand of type 'const tensorflow::boosted_trees::utils::`anonymous-namespace'::IndicesRowIterator'`

[2018-01-07 11:46] imransalam commented on #6035
@saeed68gm , would it be possible if you could give the link to PR or write down the steps for the fix ?
Thanks.

[2018-01-07 12:22] vldbnc opened #15925 "cmake compile error C2678: binary '*': no operator found sparse_column_iterable.cc"
`cmake .. -A x64 -DCMAKE_BUILD_TYPE=Release -DSWIG_EXECUTABLE=C:/ProgramData/chocolatey/bin/swig.exe -DPYTHON_EXECUTABLE=C:/Python36/python.exe -DPYTHON_LIBRARIES=C:/Python36/libs/python36.lib -Dtensorflow_WIN_CPU_SIMD_OPTIONS=/arch:AVX2 `

[code]
Windows 8.1 x64
cmake 3.10.1
swig 3.0.9
Visual Studio 2017 Community

the same problem asked
https://stackoverflow.com/questions/48058113/compiling-tens

[2018-01-07 12:23] chg0901 commented on #15907
I am sorry for I didn't add that template.

[2018-01-07 12:24] chg0901 commented on #15907
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 12:26] chg0901 commented on #15907
I am sorry for that.

And I have got the answer from
[ **Stackoverflow**](https://stackoverflow.com/questions/48125424/nightly-installed-tf-is-the-new-1-5-tf )

[2018-01-07 12:43] sekhar989 commented on #15818
Details updated above

[2018-01-07 14:33] mxdbld commented on #8858
I replaced the PSU to a more powerfull one to correct a similar problem.

[2018-01-07 14:57] #15905 closed

[2018-01-07 15:42] toranome commented on #15908
@mokii I was looking for this too. Eventually I found the answer [here](https://stackoverflow.com/questions/41147734/looking-for-source-code-of-from-gen-nn-ops-in-tensorflow).

[2018-01-07 16:23] VolodymyrPavliukevych commented on #19
Just released new version of [swift API for TensorFlow](https://github.com/Octadero/TensorFlow):
* Added SaveModel class, now you can store and restore your state;
* Added Summary class to visualize your graph and training progress;
You are welcome to try!

[2018-01-07 17:15] VolodymyrPavliukevych opened #15929 "C API, SIGABRT abort, Non-OK-status: RegisterAlreadyLocked, Invalid name."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Working with public C API.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS 10.13.2 (17C88)
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
- libtensorflow 1.4.1 (from brew package)
- **Python versi

[2018-01-07 17:54] nrocketmann commented on #6683
Glad I found this issue. Having the same problem. Will definitely use python2.7 for LSTM now. Really hope you can fix this! Thanks!

[2018-01-07 18:17] ppfaff opened #15930 "Discontinuity at halfway point in graph output"
- **I have written custom code (as opposed to using a stock example script provided in TensorFlow)**:
to reproduce the error:
1) convert HnH_gate.txt to HnH_gate.py
2) Edit mypath in out() method at end of file for your system.  Save
3) in python: run HnH_gate.py
4) run out() to create csv files for the good and bad output
            i) out("101", new_probka_good)
            ii) out("102", new_p

[2018-01-07 18:23] jgefele commented on #15882
Dear @tensorflowbutler, it's "Bazel version: N/A".

[2018-01-07 18:54] tensorflowbutler commented on #15924
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-07 18:54] tensorflowbutler commented on #11157
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-07 18:54] tensorflowbutler commented on #12156
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-07 18:54] tensorflowbutler commented on #14946
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-07 18:54] tensorflowbutler commented on #15237
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-07 18:54] tensorflowbutler commented on #15376
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-07 18:54] tensorflowbutler commented on #15492
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-07 18:55] tensorflowbutler commented on #15588
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-07 19:21] adamcrume commented on #15492
I just ran into this yesterday, so yes, it's still an issue.

[2018-01-07 20:32] Independent-Scientist commented on #15866
Managed to build r1.5 successfully with openmpi-3.0 and bazel 0.5.4!

[2018-01-07 21:02] vaniakosmos commented on #10816
I also had this problem and solved it by specifying random seeds:
[code]
<img width="691" alt="screen shot 2018-01-07 at 22 57 55" src="https://user-images.githubusercontent.com/16745500/34654027-567b3a2c-f3fe-11e7-8b10-ec1b7feae479.png">

2000/3000/3500 iterations are new sessions from restored model. On 3000 I set up seed and on 3500 I kept it and problem gone.

[2018-01-07 21:24] Mazecreator opened #15932 "General change in batch size Performance Question"
I have opened a question on StackOverflow.  I suspect only a developer can answer the question.  The link to the question is here:
https://stackoverflow.com/questions/48099754/change-is-batch-size-impact-performance

The question is around Reinforcement Learning and if there will be a speed improvement if the batch size of the graph is not changed.  RL usually has a training batch and a "next_acti

[2018-01-07 21:27] Gemesys opened #15933 "Tensorflow 1.4.1 on Linux (CentOS-7.4) and Tensorflow 1.4.1 on MacOSX producing *very* different results in image creation simulation."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux CentOS-7.4 and MacOSx 10.10.5

- **TensorFlow installed from (source or binary)**: Both; Installed from binary, then, built and installed from source. Same behaviour on each install.

- **TensorFlow ve

[2018-01-07 21:56] tharuniitk commented on #394
Interestingly none of these worked for me. Adding following to .bashrc worked like charm!!

export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda-8.0/lib64:/usr/local/cuda-8.0/extras/CUPTI/lib64:/usr/local/cuda-8.0/targets/x86_64-linux/lib/"

[2018-01-07 21:57] tharuniitk commented on #7653
Adding following lines to .bashrc worked for me!!

export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda-8.0/lib64:/usr/local/cuda-8.0/extras/CUPTI/lib64:/usr/local/cuda-8.0/targets/x86_64-linux/lib/"

[2018-01-07 22:22] yongtang commented on #9284
I was trying to add the implementation but noticed that there are some incompatibilities between the current behavior of `tf.where` and the `broadcast` used by other ops in TensorFlow.

The current behavior of `tf.where` is to `broadcast` of vector starts with the beginning of the dimension. But the broadcast for other ops is from the end of the dimension.

For example, `[16]` and `[16, 2, 8]` is

[2018-01-07 22:22] yongtang commented on #9284
@drpngx Any suggestions on how to resolve this issue?

[2018-01-07 22:26] NProkoptsev commented on #15237
Yes, this methods still haven't got implementation in tensorflow

[2018-01-07 22:55] drpngx commented on #9284
Ah, that's unfortunate. We should use a `@compatibility(numpy)` tag to indicate where behavior is different, then implement the feature in a way that's consistent with the current, tensorflow behavior.

[2018-01-07 23:54] celebisait commented on #7372
I also have the same problem.

[2018-01-08 00:58] tensorflowbutler commented on #15925
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 02:17] ychong commented on #6683
thanks! There seems to be a new update for tensorflow. Is the new update
fixed for python3?

On Mon, Jan 8, 2018 at 1:56 AM, nrocketmann <notifications@github.com>
wrote:

[2018-01-08 02:44] javantiger720 opened #15935 "android CameraActivity: Exception!"
tensorflow: CameraActivity: Exception!
java.lang.RuntimeException: Error initializing box priors from file:///android_asset/multibox_location_priors.txt
                                                                     at org.tensorflow.demo.TensorFlowMultiBoxDetector.create(TensorFlowMultiBoxDetector.java:121)
                                                                     at org.tensorfl

[2018-01-08 02:59] XiaXuehai commented on #15889
@tensorflowbutler have updated

[2018-01-08 03:24] xiaoshenxian commented on #15755
Yeah, I agree that there are two many races in that code. However, do you really think that it is normal that the entire work flow failed to process a single simple request in at least 5 seconds (the minimum sleep time after each `queue.put()`)? I don't think this is reasonable. Thus the log must be printed in a deterministic order as long as the entire work flow can finish to process a single req

[2018-01-08 03:53] hkxIron commented on #7936
I encountered the same problem for cpu.Thanks a lot

[2018-01-08 05:09] MauryaRitesh commented on #15924
Ok I got the error and now it is working.
It was due to wrong argument given while optimizing the model!

[2018-01-08 05:09] #15924 closed

[2018-01-08 05:22] blandman commented on #6495
Is the reason for why this cannot be supported known? Now that eGPU works on macOS, this seems like a very good fit for Deep Learning.

[2018-01-08 06:54] tensorflowbutler commented on #15930
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 06:54] tensorflowbutler commented on #15932
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 07:41] #15837 closed

[2018-01-08 07:50] zyxcambridge opened #15936 "bazel ubuntu 16.04 bazel build tensorflow/python/tools:optimize_for_inference"
./tensorflow/core/platform/macros.h:78:30: note: in definition of macro 'TF_PREDICT_FALSE'
 #define TF_PREDICT_FALSE(x) (x)
                              ^
./tensorflow/core/util/tensor_format.h:340:3: note: in expansion of macro 'CHECK'
   CHECK(index >= 0 && index < dimension_attributes.size())
   ^
./tensorflow/core/util/tensor_format.h: In instantiation of 'T tensorflow::GetFilterDim(tensorflo

[2018-01-08 08:05] zyxcambridge opened #15937 "tensorflow/contrib/lite/toco/dump_graphviz.cc: In function 'void toco::DumpGraphviz(const toco::Model&, std::__cxx11::string*)': tensorflow/contrib/lite/toco/dump_graphviz.cc:329:35: warning: comparison between signed and unsigned integer expressions [-Wsign-compare] for (int op_index = 0; op_index < ops_to_dump.size(); op_index++) { ^ Target //tensorflow/contrib/lite/toco:toco failed to build"
tensorflow/contrib/lite/toco/dump_graphviz.cc: In function 'void toco::DumpGraphviz(const toco::Model&, std::__cxx11::string*)':
tensorflow/contrib/lite/toco/dump_graphviz.cc:329:35: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
   for (int op_index = 0; op_index < ops_to_dump.size(); op_index++) {
                                   ^
Target //tensorflow/cont

[2018-01-08 08:14] zyxcambridge commented on #15937
export FILE_ZYX1=/home/zyx/Desktop/code/tensorflow-for-poets-2-master
export FILE_ZYX2=/home/zyx/Desktop/code/tensorflow-master

cd $FILE_ZYX1
IMAGE_SIZE=224
ARCHITECTURE="mobilenet_0.50_${IMAGE_SIZE}"
sudo python -m scripts.retrain -h
python -m scripts.retrain \
  --bottleneck_dir=tf_files/bottlenecks \
  --how_many_training_steps=5000 \
  --model_dir=tf_files/models/ \
  --summaries_dir=tf_files

[2018-01-08 08:14] #15937 closed

[2018-01-08 08:14] zyxcambridge commented on #15936
export FILE_ZYX1=/home/zyx/Desktop/code/tensorflow-for-poets-2-master
export FILE_ZYX2=/home/zyx/Desktop/code/tensorflow-master

cd $FILE_ZYX1
IMAGE_SIZE=224
ARCHITECTURE="mobilenet_0.50_${IMAGE_SIZE}"
sudo python -m scripts.retrain -h
python -m scripts.retrain \
  --bottleneck_dir=tf_files/bottlenecks \
  --how_many_training_steps=5000 \
  --model_dir=tf_files/models/ \
  --summaries_dir=tf_files

[2018-01-08 08:15] #15936 closed

[2018-01-08 08:17] Vimos commented on #15140
Using Plan(C) on r1.4 as svenstaro suggested, the compiling still complains:
[code]

[2018-01-08 08:33] Zxiaoma opened #15938 "An easy problem about tensorflow tf.reduce_mean op"
I know... there might not be a suitable palce to ask this question, but I really hope someone cloud help me.

i want to use the "tf.reduce_mean" to obtain the mean of an array (ignore the zeros element)
eg:
    data = [[1,2,3],[4,5,6],[0,0,0]]
    i want to obtain mean= [2.5, 3.5, 4.5]
    but  tf.reduce_mean op gets the mean=[1.6, 2.3, 3]

Thank you very much!

[2018-01-08 08:35] Vimos commented on #15140
Using Plan(C) ,
[code]

the compiling complains:
[code]

[2018-01-08 08:39] snjagadale commented on #15153
we see this issue right now as well, We are debugging it on power and will verify on x86 as well.

[2018-01-08 09:30] kakpple opened #15939 "Slim VGG losses increase gradually with default training configuration"
Hi, when I try to train imagenet with slim vgg network with default configuration,
The loss increases gradually from ~0.1 to over 10000.
I am not even able to debug this issue because, all tensors losses are encapsulated inside slim.
Is there any way to debug this issue?

[2018-01-08 09:42] KillPinguin commented on #5592
I'm the author of #15585 and would like to comment on this / state a short version of my findings. Please see my issue for more.

@quaeler
You're right, this could be a similar issue.

@AlvinChen13 could you try to profile your cifar example using nvprof? Like I stated in my issue, it seems that Tensorflow is using slower CUDA functions (*maxwell_fp16_segmemm_fp16_128x128_nn* for FP16 which is wor

[2018-01-08 09:51] inkritillc commented on #3636
Thanks for tfboyd.
Can you please suggest or guide me any link which will support the multi-gpu for Tensorflow for poets retraining.

Part of my code :

_**with tf.device('/device:GPU:0'):**
      **with tf.Session(graph=graph,config=tf.ConfigProto(log_device_placement=True)) as sess:**
        jpeg_data_tensor, decoded_image_tensor = add_jpeg_decoding(
            model_info['input_width'], model

[2018-01-08 09:57] KillPinguin commented on #15643
@alirezadavoudi
I'm not experienced with Jetson, but would it be possible to profile your application with nvprof? In #15585 I described some limiting behavior with FP16, maybe this is an issue for you, too?

Would love to hear your thoughts on this, since it seems that we have similar performance issues.

[2018-01-08 10:46] arnavk2319 opened #15941 "Import Error: No module named '_pywrap_tensorflow'"
On running the following command: import tensorflow I get an error:

`C:\Users\Neerav>python
Python 3.5.0 (v3.5.0:374f501f4567, Sep 13 2015, 02:27:37) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\Neerav\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap

[2018-01-08 10:47] arnavk2319 commented on #15941
need urgent help

[2018-01-08 10:48] xingliejin opened #15942 "build_all_ios.sh: x86_64 compilation failed."
when i compile build_all_ios.sh:

****tensorflow 1.1 :**   is OK.... build success....**

when i load "xxxx.pb" model,  error:

Invalid argument: No OpKernel was registered to support Op 'Mul' with these attrs.  Registered devices: [CPU], Registered kernels:
  device='CPU'; T in [DT_FLOAT]
	 [[Node: UpSample2D_2/mul = Mul[T=DT_INT32](UpSample2D_2/mul/x, UpSample2D_2/Const)]]

How to solver ?

**te

[2018-01-08 11:10] elenisg opened #15943 "add_n: issue with IndexedSlices"
inside function add_n, line 2117, shouldn't
"if not all(isinstance(x, ops.Tensor) for x in inputs):" check also whether x is IndexedSlices instead of merely Tensor? i.e. replace the statement with:

if not ( (all(isinstance(x, ops.Tensor) for x in inputs)) | (all(isinstance(x, ops.IndexedSlices) for x in inputs)) ):

Thanks!

[2018-01-08 11:17] mpeniak commented on #15633
Great, I have asked similar question here: https://github.com/tensorflow/tensorflow/issues/14731

How long do you reckon until you guys add support from ssd-mobilenet?

Thanks,
Martin Peniak

[2018-01-08 12:36] PatWie commented on #15002
Parts can be resolved by adding some additional include-paths

Some updates on this issue:
- adding `include_directories("/opt/path/to/cuda/toolkit_current/")`
resolves the missing `cuda.h` file-error, but gives `fatal error: nsync_cv.h: No such file or directory` which is related to issue #14620, #12482
- adding `include_directories("$HOME/.local/lib/python2.7/site-packages/tensorflow/include/ext

[2018-01-08 12:57] tensorflowbutler commented on #15935
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 13:44] John1231983 commented on #8390
Great @boluoweifenda: I have same problem as you. Did you solve it?

[2018-01-08 14:10] rongjiecomputer commented on #10521
From https://blogs.msdn.microsoft.com/vcblog/2018/01/04/visual-studio-2017-throughput-improvements-and-advice/

Good to know that at least Visual C++ team is aware of this issue.

[2018-01-08 14:31] ahmed-shariff opened #15945 "DataLossError when loading saved model from r1.4 (Unable to read file ... failed to seek to header entry)"
I have a few saved models stored, these were built using _version 1.2.0-rc1_
When I try to load any of these saved models using _version 1.4.1_, I get the following error:
[code]
I was able to load the same models in _version 1.2.0-rc1_.
I tried building a new saved model using _version 1.4.1_ , that I was able to load in both versions without any problems.

The versions I tested were both built,

[2018-01-08 14:40] Pelups commented on #12468
I just updated to master now, and this issue is still present.

[2018-01-08 15:08] JiamingSuen commented on #11956
Just FYI: There are also two implementations of correlation layer on Github:
1. https://github.com/sampepose/flownet2-tf/tree/master/src/ops/correlation
2. https://github.com/jgorgenucsd/corr_tf

[2018-01-08 15:23] OluwoleOyetoke opened #15948 "Error converting to .tflite Using Toco"
### System information
- **Have I written custom code**: Yes. See network definition code [here](https://gist.github.com/OluwoleOyetoke/30f2cac788042c495f1ae34a6b742a1d). For complete project, see [here](https://github.com/OluwoleOyetoke/Computer_Vision_Using_TensorFlowLite)
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Yes
- **TensorFlo

[2018-01-08 15:28] carlthome commented on #15044
Status?

I did something like this via `tf.contrib.signal` for flat_map but it would be nice to have sliding windows builtin in `tf.data`:
[code]

[2018-01-08 15:32] EricHallahan opened #15949 "Building TensorFlow on Windows: patch and rm"
### System information
- **Have I written custom code**: Yes, provided below.
- **OS Platform and Distribution**: Windows 10 1709, Build 16299.192
- **TensorFlow installed from (source or binary)**: Binary, Attempting source build of master
- **TensorFlow version**: 1.4.0
- **Python version**: 3.6
- **Bazel version**:  0.9.0
- **GCC/Compiler version**:  MSYS2 Shell, GCC unknown.
- **CUDA/cuDNN ver

[2018-01-08 15:39] skye commented on #12598
@benoitsteiner can you take a look or redirect? Thanks!

[2018-01-08 15:39] saeed68gm commented on #6035
@mmpinso here is the patch for TF version 1.4. It is very hacky but it should help you load up your model into tensoflow. May I ask which model you are trying to integrate into the phone? For me I had to add a workout for another operation as well.

@imransalam The steps are basically what @shadySource shared above in the tensorflow documentation for adding your own op.

if anybody actually implem

[2018-01-08 15:42] #15788 closed

[2018-01-08 15:45] skye commented on #15810
@ebrevdo can you comment? Thanks.

[2018-01-08 15:45] #15834 closed

[2018-01-08 15:46] skye commented on #15850
@yifeif @gunan any ideas?

[2018-01-08 15:47] skye commented on #15866
@gunan looks like we don't build with the latest version of bazel? (@Independent-Scientist correct me if I've misunderstood)

[2018-01-08 15:49] skye commented on #15868
@quaeler I'm marking "contributions welcome" because I can't assign non-TF org members, but please consider yourself assigned. Thanks for your contribution!

[2018-01-08 15:51] skye commented on #15876
@tatatodd can you comment?

[2018-01-08 15:52] skye commented on #15900
@ispirmustafa FYI

[2018-01-08 15:52] #15908 closed

[2018-01-08 15:53] skye commented on #15910
@rmlarsen can you comment or redirect? Thanks!

[2018-01-08 15:55] skye commented on #15938
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-08 15:55] #15938 closed

[2018-01-08 15:58] Independent-Scientist commented on #15866
@skye It seems so. I followed the chart on tested builds at the "Installing TensorFlow from Sources" page. Although there is no r1.5 hint the latest versions use bazel 0.5.4.

[2018-01-08 16:07] vksbhandary commented on #15925
@vldbnc I encountered same error while trying to build arch:AVX pip file. I couldn't say for sure but re-installing Visual Studio 2017 might help.

I was able to build arch:AVX version of pip file only after cleaning all [Visual studio](https://github.com/Microsoft/VisualStudioUninstaller) components and reinstalling [MSVC 2015 update 3](https://www.tensorflow.org/install/install_sources). MSVC 20

[2018-01-08 16:54] MarkSonn commented on #15492
Same here...can someone please add an "awaiting tensorflower" tag?

[2018-01-08 16:54] jlebar commented on #9141
Just to be clear, what I saw was that on our models, using cudnn batchnorm was roughly the same speed as our XLA implementation.  However, our lowering of these particular XLA ops to PTX is not very good at the moment -- I think it could be made significantly faster, at which point we would beat cudnn.

I don't see why batch re-normalization would be different, although someone would have to bench

[2018-01-08 16:57] jlebar commented on #14507
Unassigning myself, although if anyone wants to try their hand at fixing this, please be in touch.

[2018-01-08 17:04] Carmezim opened #15951 "[Build] Source build at HEAD generating XLA erros on Mac OS"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS High Sierra
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: HEAD@a770968
- **Python version**: 3.6
- **Bazel version (if compiling from source)**

[2018-01-08 17:05] idavydov opened #15952 "LSTM in eager is 15 slower than in tensorflow on CPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.3.0-rc1-6744-gf99275a 1.6.0-dev20180105
- **Python version**: 3.5.2
- **Bazel ver

[2018-01-08 17:07] jlebar commented on #11564
If this still reproduces, this is quite bad.  @hpucha, do you have cycles to take a look?

[2018-01-08 17:12] shakedel opened #15953 "tf.Print() re/direction"
## Feature Request

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: latest (1.5.0-rc0)
- **Python version**:  N/A
- **Bazel version (if compiling from

[2018-01-08 17:22] ebrevdo commented on #15810
DropoutWrapper does not have variables because it does not itself store any.  It wraps a cell that may have variables; but it's not clear what the semantics should be if you access the `DropoutWrapper.variables`.  For example, all keras layers only report back the variables that they **own**; and so only one layer ever **owns** any variable.  That said, this should probably return `[]`, and the re

[2018-01-08 17:32] allenlavoie commented on #15945
Could you try in 1.5RC0? Header compression was accidentally disabled in 1.4.

[2018-01-08 17:37] ahmed-shariff commented on #15945
I have to build it. Yes, i'll try it and let you know.

[2018-01-08 17:58] ispirmustafa commented on #14942
Thanks @WenmuZhou
Could you also point us an example data set in format expected by your program?

[2018-01-08 18:02] mmpinso commented on #6035
Thanks a lot @saeed68gm , I'm trying to run [ENet](https://github.com/kwotsin/TensorFlow-ENet) on Android. What was the other op you had to add?
To get the mobile working version of this workaround should do as following or am I missing something?

1. [Apply](https://www.tensorflow.org/extend/adding_an_op) the changes to my local tensorflow source code
2. [Compile](https://github.com/tensorflow/te

[2018-01-08 18:03] langmore commented on #7956
I'll bring this up to the team.  I think the way to think of this is that we would offer a version of `Dirichlet` (and others) that has been "pre-transformed" (in a stable manner) to unconstrained space using some `Bijector`.  E.g. `DiricheletUnconstrained` would be a stable equivalent to

[code]

[2018-01-08 18:06] makoeppel commented on #7868
For one of my projects I created a gridsearch similar to the one from  scikit-learn (http://scikit-learn.org/stable/modules/grid_search.html).

You can have a look at https://github.com/makoeppel/hyperParameterSearchTF/tree/master
--> Please take in mind that for now the classes are not filled with a specific model now and the repo is still under contraction. I tested everything with my own models

[2018-01-08 18:06] reedwm commented on #15376
Closing since the pre-built binaries no longer support Ubuntu 14.04.

[2018-01-08 18:06] #15376 closed

[2018-01-08 18:10] Nassimmd opened #15954 "TypeError: Input 'split_dim' of 'Split' Op has type float32"
Hi,

I use Tensorflow 1.5.0rc0  on windows (Python 3.5.2 )and I have this issue:
TypeError: Input 'split_dim' of 'Split' Op has type float32 that does not match expected type of int32. I have seen some answers for older versions of tensor flow but is there any fix for the new version?

[2018-01-08 18:24] shivaniag commented on #4359
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-08 18:24] #4359 closed

[2018-01-08 18:34] saeed68gm commented on #6035
@mmpinso awesome. That is correct. Just make sure you include that in your lib files in android and you are all set. For me I had to add MaxPoolGradWithArgmax to CPU as well, but I couldn't get it working so it is a blank op. MaxPoolGradWithArgmax was only used for training so I need the op to load the model and freeze it, after freezing it I did not need that op anymore.

[2018-01-08 18:45] leandroBorgesFerreira opened #15956 "Tensorflow-lite breaks Android module."
Inserting Tensorflow lite inside an android module/library like this:

[code]

Results in this error when including the module and trying to running for Android API 19:

The module I am trying to include contains no classes, files  or other dependencies. All it has I a dependency of Tensorflow-lite. If I insert tensorflow lite directly inside the app, the problem goes away.

The problem doesn't ha

[2018-01-08 18:52] idavydov commented on #15952
I've got a helpful [feedback](https://www.reddit.com/r/MachineLearning/comments/7p057n/d_are_lstms_in_pytorch_3_times_slower_than_in/) on reddit. It seems that this LSTM size is unusually small (only seven inputs).

If `input_dim` is set to 300, and config is not used (eager does seem to respect `intra_op_parallelism_threads` and `inter_op_parallelism_threads`), CPU time is comparable.

[2018-01-08 18:52] #15952 closed

[2018-01-08 18:53] tatatodd commented on #15876
@sanjoy knows better than me.

[2018-01-08 18:55] gunan commented on #15850
I think there was a change in bazel that made our bazel files break.
If you need 1.4 release, you may need to roll back your bazel version to 0.5.4 or something close.
Otherwise, please try with 1.5 release.

Could you try one of the above ant let me know if it solves your problem?

[2018-01-08 18:59] gunan commented on #12468
@Pelups could you confirm the commit you are synced to in TF repository?
Could you provide detailed information about your setup, bazel version, operating system, compiler version? If you can, please provide all the information in the issue template, including the command you are running.

[2018-01-08 19:01] gunan commented on #15866
@av8ramit Could you check?
Also we should add the setup we use for all new releases to the tables in install from sources page during each release.

[2018-01-08 19:02] tensorflowbutler commented on #15939
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 19:02] tensorflowbutler commented on #15942
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 19:02] tensorflowbutler commented on #15943
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-08 19:03] tensorflowbutler commented on #8804
Nagging Assigneee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-08 19:03] tensorflowbutler commented on #15341
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-08 19:03] tensorflowbutler commented on #15501
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-08 19:03] tensorflowbutler commented on #15537
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-08 19:03] tensorflowbutler commented on #15541
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-08 19:03] tensorflowbutler commented on #15568
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-08 19:09] jeffxtang commented on #14777
@offbye is the complete command you used with rounded_weights the following?
[code]
I used  the transforms values above on ssd_mobilenet_v1_coco_2017_11_17's frozen_inference_graph.pb (size 29112121) but the transformed graph's size is still about 25MB.

Thanks!

[2018-01-08 19:10] gunan commented on #15002
CC @martinwicke for overall issues with building custom ops.
We are adding cherrypicks to 1.5 release to include cuda_config.h in our released pip packages. CC @av8ramit for that.
for nsync header files, I think we should have an easier way, or at least instructions to include the include direcotory? CC @m3bm3b  for that.
For cuda, I think we should add that to instructions that including CUDA pat

[2018-01-08 19:12] dustinvtran commented on #7956
I like your solution @langmore to use transformed distribution. Among other things, a canned implementation could be useful for Dirichlet priors on Categorical/Multinomial logits.

How do you propose handling the fact that the desired function doesn't normalize? If I understand the discussion correctly, `dist_uc.log_prob` does _not_ return the same as "`log_prob_pre_softmax`"?

This is actually a

[2018-01-08 19:15] yifeif commented on #14779
setup.py has been fixed at head. Closing this issue.

[2018-01-08 19:15] #14779 closed

[2018-01-08 19:17] yifeif commented on #12805
PR has been merged a while back. Closing this. Thanks @ashwhall!

[2018-01-08 19:17] #12805 closed

[2018-01-08 19:24] gunan commented on #10521
Thanks to a lot of help from @guschmue we were able to debug this to use of `__forceinline` in eigen.
Unfortunately, removing `__forceinline` brings performance hits in the built binary, which is unacceptable for TF. Therefore, in our presubmits we remove forceinline, and our releases we do use forceinline.

Since this is a VS-eigen issue that unfortunately hits TF in a bad way, I will close this

[2018-01-08 19:24] #10521 closed

[2018-01-08 20:48] songgc commented on #14942
I have a similar issue with v1.4.x. However, it goes away with v1.5rc0.

[2018-01-08 20:59] songgc commented on #14107
Some updates. I also had a similar issue like #14942, in which there were just data pipelines reading proto data and preprocessing rather than any training ops in the graph. I saw throughput reduction with v1.4.x.

After I moved to v1.5rc0 with CUDA 9, CUDNN 7, all problems go away, and both data pipelines and training process go back to normal and even slightly faster by (2%-3%). I also noticed R

[2018-01-08 21:07] yongtang opened #15957 "Switching branch and run ./configure does not regenerate spec.json"
When building from source with TensorFlow and switch to another branch, error returned even if I rerun `./configure`:

[code]

I think the issue is that `spec.json` is not updated when running `./configure`

[code]

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distributi

[2018-01-08 21:08] eyaler commented on #14107
@songgc question is if you should not expect better performance, i.e. there may be still a problem but perhaps it is negated by cuda 9 etc

[2018-01-08 21:28] gbolcer opened #15958 "Undefined Symbol gen_parsing_ops_py_wrappers_cc when building pip package"
### System information

greg@salt:~/code/tensorflow$ more tf_env.txt

== cat /etc/issue ===============================================
Linux salt 4.13.0-21-generic #24-Ubuntu SMP Mon Dec 18 17:29:16 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="17.10 (Artful Aardvark)"
VERSION_ID="17.10"
VERSION_CODENAME=artful

== are we in docker =============================================
No

== compiler

[2018-01-08 21:55] av8ramit commented on #15866
@gunan yes, I think that might not have been updated properly. I'll investigate and fix this for current and future releases.

[2018-01-08 21:57] ppfaff commented on #15930
I have edited the file to show the info requested upfront.  The problem has also been seen reproduced on Tensorflow 1.4 on MacOS Sierra.

[2018-01-08 22:22] CarltonSemple commented on #15925
I'm running into the same issue.
Windows 10 x64, using the 64-bit MSBuild (not the default for some reason)
cmake 3.9.2
swig 3.0.12
Visual Studio 2017 community.

I'll try @vksbhandary 's suggestion and update

[2018-01-08 22:33] renatocesargarcia commented on #13203
The TensorFlow GPU worked after I uninstalled the Tensowflow CPU

![image](https://user-images.githubusercontent.com/22581263/34695760-35c0e736-f4b3-11e7-89b2-d4d813cbe06d.png)

[2018-01-08 22:36] renatocesargarcia commented on #13675
The TensorFlow GPU worked after uninstalling Tensowflow CPU
![image](https://user-images.githubusercontent.com/22581263/34695875-a83ed278-f4b3-11e7-9f7d-fb784126a6a8.png)

[2018-01-08 22:47] shivaniag commented on #15026
@fchollet Do you have any update on this?

[2018-01-08 22:59] fchollet commented on #15026
No. Can anybody reproduce, with the same code/model, but with a different dataset?

[2018-01-08 23:00] shivaniag commented on #15913
@rmlarsen Do you have any comments on this?

[2018-01-08 23:12] #15930 closed

[2018-01-08 23:12] ppfaff commented on #15930
resolved as a tiling artifact.

[2018-01-08 23:12] #14805 closed

[2018-01-08 23:21] songgc commented on #14107
@eyaler I tried two cases. One was the whole training process, and another was data reading and preprocessing only. I agree that the first one might be affected by different CUDA versions . However, the second one used CPU only and had nothing to do with GPUs, in which I saw a better throughput with v1.5.

[2018-01-08 23:24] cy89 commented on #15948
@aselle @andrehentz @petewarden any suggestions?

[2018-01-08 23:25] cy89 commented on #15954
Can you please tell us how to reproduce your problem? What did you run, and what does the entire error output look like?

Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in

[2018-01-08 23:27] cy89 commented on #15956
@aselle @andrehentz @petewarden have you seen things like this?

[2018-01-08 23:29] cy89 commented on #15958
@martinwicke @javiribera @jart PTAL.

[2018-01-08 23:34] cy89 commented on #15628
@poxvoculi this seems close to things you work on; can you offer any guidance?
@mrry I think this fits the rubric of distributed training; might we want to expose this kind of functionality?

Or alternatively, is this relatively open, and should I mark "contributions welcome"?

[2018-01-08 23:37] cy89 commented on #15776
@Aakashjagwani pardon my confusion, but I'm not seeing why your problem is the same as what's described in this bug. Can you please draw the connections? If not, would it be better to open a separate bug to track independently?

[2018-01-08 23:37] cy89 commented on #15776
@mrry any perspectives to offer on Bazel v. Cmake on Windows?

[2018-01-08 23:44] sanjoy commented on #15876
How about statically linking tensorflow/compiler/xla/service/cpu:runtime_matmul etc. with the .o generated from tfcompile?  That seems a bit cleaner to me.

I'm also curious about how you're using tfcompile -- typically I've seen folks either use the XLA JIT with TF, or use tfcompile to build a small graph that gets linked into the binary that does not otherwise use TF directly.

[2018-01-08 23:55] asimshankar commented on #9142
Marking this as "Contributions Welcome" in case someone wants to pick this up (and any API changes can be reviewed in the pull request). Thanks.

[2018-01-09 00:15] hpucha commented on #11564
Will take a look.

[2018-01-09 00:44] acbellini commented on #15717
I did a bit more research on this.

If you substitute

`s.run((_const_a, _mul_const_a, _random_a, _mul_random_a))`

with

`s.run((_mul_const_a.op))
 s.run((_mul_random_a.op))
`

The overhead disappears and constant multiplication is much faster. However, if you run:

`s.run((_mul_const_a.op, _mul_random_a.op))`

then again constant multiplication exhibits the overhead.

It seems that, while the tw

[2018-01-09 01:00] gbolcer commented on #15958
Apologies, this was a false alarm.  After posting, I noticed the /opt/tensorlibs which was an old directory where I used static libraries to get around a previous syntaxnet gcc linking error.  I also had tensorflow 1.5 and tensorflow-gpu 1.4.1 both installed.  I removed that /opt/tensorlibs directori, did a pip3 uninstall for both tensorflow and tensorflow-gup,  and did a bazel clean.  That solved

[2018-01-09 01:00] #15958 closed

[2018-01-09 01:04] tensorflowbutler commented on #15953
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 01:04] mrry commented on #15776
I don't believe XLA is supported on Windows using either build system.

[2018-01-09 01:10] allenlavoie commented on #15752
@traveller59 thank you for the report! Should be fixed now.

We ended up adding a shape cache for the scratch space in the kernel itself (so the same kernel will be re-used every call, but it will allocate space for whichever shapes it sees).

[2018-01-09 01:23] denismakogon commented on #15628
@cy89 I do really look for help here. It does seem like changing the whole transport thing is not that simple, so any help is appreciated.

[2018-01-09 01:33] m3bm3b commented on #15002
For the nsync header files:

Looking at
    https://github.com/cgtuebingen/tf_custom_op/blame/master/matrix_add/CMakeLists.txt
it looks like that CMakeLists.txt has already been changed (a few hours ago) to do
    include_directories("${TF_INC}/external/nsync/public/")
which helps, but only for uses of cgtuebingen/tf_custom_op

We could certainly add a sentence to the documentation for people
usin

[2018-01-09 01:39] poxvoculi commented on #15628
@denismakogon I'd like to have a better understanding of what you'd like to be able to do.

Currently TF's runtime execution component is pretty much entirely coded in C++.  Communication between distributed instances generally occurs at this level.  The TF level communication protocol is documented in protocol buffer declarations, e.g.:
https://github.com/tensorflow/tensorflow/blob/master/tensorf

[2018-01-09 02:35] karthik-hegde opened #15962 "Model diverges with NaN if the class label exceeds the expected number of classes"
Tried in Tensorflow v1.4

Have I written custom code - Yes
OS Platform and Distribution - CentOS Linux release 7.4.1708
TensorFlow installed from - Not from source
TensorFlow version - v1.4.1
GPU model and memory - Tesla P100 16GB

If the class label exceeds the expected number of classes (dimensions of losses and given label won't match), TensorFlow simply errors out with `loss diverged with a Na

[2018-01-09 02:49] leandroBorgesFerreira commented on #15948
Maybe it could work using tf 1.5

[2018-01-09 02:57] zhugejun commented on #15604
@Timonzimm  I am facing the same issue. Have you figured it out?

[2018-01-09 03:28] yogurfrul opened #15963 "how to disable do_constant_folding of OptimizerOptions for my custom ops"
I write two ops named own_send and own_recv in c++
own_send write data to an buffer while wait the buffer flag is 0 ,then set the buffer flag to 1
own_recv read the buffer while wait the buffer flag is 1 and set the flag to 0
but when I run my model I got the error own_recv is waiting the buffer flag is 1 but the flag is 0 when own_send is done rightly.
I finally found the GraphOptimizer class wou

[2018-01-09 03:37] lonieHu opened #15964 "DownloadfileTask Failed"
try projrct as https://www.tensorflow.org/mobile/android_build#android_sample_apps,but downloadtask failed,  then solve it ,may be you shoule change the

[2018-01-09 03:39] leandro-gracia-gil commented on #13016
I've just tried again the source above in a recent TF build (from the 1.5.0rc0 branch) and I'm getting the following error when trying to run the foo task:

I ignore if this might be related or not. I'll try with a 1.4.1 build just in case and report back.

[2018-01-09 03:45] drpngx commented on #13851
OK, so maybe send a PR to @gunan and CC @nluehr?

[2018-01-09 03:47] MissLikeWind opened #15965 "unsupported operand type(s) for /: 'Tensor' and 'float"
Tensorflow version is :  tensorflow-gpu (1.4.1)
Python version is:    Python 3.5.4 :: Anaconda custom (64-bit)

[2018-01-09 03:58] facaiy commented on #13649
@hanyh @xiaoyunwu Hi, we found that user can call `tf.nn.dropout` on their inputs directly (see discussion with @ebrevdo in #15843), . Does the workaround solve your problem?

[2018-01-09 04:00] sandipmgiri commented on #15266
@drpngx any comments ?

[2018-01-09 04:23] SergioChevtchenko commented on #9870
Same problem here with a small CNN, although using Keras with tensorflow. Batches larger than 65535 only seem to return correct results when using CPU. System info: Ubuntu 16.04, GTX 1080ti, tensorflow 1.3.0 and CUDA Version 8.0.61

[2018-01-09 05:04] Nayana-ibm commented on #14039
@gunan  Could resolve the issue `Unknown target CPU`  by using command provided by you in previous comment.

Build
`bazel build -c opt //tensorflow/tools/pip_package:build_pip_package`

bazel test command.
[code]

[2018-01-09 05:18] YouYueHuang commented on #10959
I use python -m `tensorflow.tensorboard --logdir=output` and it works.
But `tensorboard --logdir=output` showed ModuleNotFound error

[2018-01-09 05:24] quaeler commented on #15933
Installing from binary ( https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.4.1-cp27-none-linux_x86_64.whl ) on Ubuntu 17.10, Python 2.7.14, i also see the moire-style pattern evolution.
![screen shot 2018-01-08 at 9 22 33 pm](https://user-images.githubusercontent.com/22581048/34706141-5072c606-f4ba-11e7-80f9-83b909d8466d.png)

[2018-01-09 05:43] John1231983 commented on #7439
Hello, I am training the BatchNorm layer in multiple GPUs using `tf.contrib.layers.batch_norm` function. In the training phase, we have to collect moving_mean and moving_variance using the function

    update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)

However, I found that utilization of the function has some ways

1.**Inside a loop function** [cifar10_main][1]

    with tf.device('/cpu:0'

[2018-01-09 05:51] chofchof opened #15968 "Imperfect implementation of tf.losses.mean_pairwise_squared_error"
### System information
- **TensorFlow version**: 1.4.0, 1.4.1, and 1.5.0-rc0 (checked)
- **Have I written custom code**: N/A
- **OS Platform and Distribution**: N/A
- **TensorFlow installed from**: N/A
- **Bazel version**: N/A
- **CUDA/cuDNN version**: N/A
- **GPU model and memory**: N/A
- **Exact command to reproduce**: N/A

### Describe the problem
The implementation of `tf.losses.mean_pairwise_

[2018-01-09 06:09] Randl commented on #13851
@drpngx I don't have a clean fix, which probably should be allowing user to give full pathes to everything. However, I'm not familiar enough with the bills

[2018-01-09 06:10] studentSam0000 commented on #7469
@soloice @cancan101 Could you please explain why usibg `train_step = tf.train.GradientDescentOptimizer(0.5).minimize(cross_entropy)` with a model defined with `tf.slim` is wrong?

[2018-01-09 06:20] gunan commented on #14039
Great!
So this issue is resolved?

[2018-01-09 06:51] godrxz commented on #13061
I'm working on the same thing, any updates? @dmacvicar

[2018-01-09 07:19] leandro-gracia-gil commented on #13016
The error I mentioned immediately above does not happen with 1.4.1. It seems I accidentally caused it while testing when I used different versions of Tensorflow (1.5.0rc0 and 1.4.0) on different machines. This wasn't the case when I reported the bug, so please ignore that last comment.

Back to the original problem, I'm still able to reproduce it in some configurations.
- Fails when running foo in

[2018-01-09 07:30] AtomicSpider commented on #15751
I'm having the same issue.

In "Camera2BasicFragment.java -> classifyFrame()"

    if (classifier == null || getActivity() == null || cameraDevice == null) {
        showToast("Uninitialized Classifier or invalid context.");
        return;
    }

this function throws the error. I checked to see exactly what was wrong and apparently, classifier was null.

[2018-01-09 07:51] vanpersie32 commented on #7624
@Response777 Hi, can you please tell me what was your problem with fully_connected layer. I encounter a performance drop when I convert a torch version model to a tensorflow version model.

[2018-01-09 07:52] guillaume-michel commented on #13100
Eigen version has been updated and it fixes the problem.

[2018-01-09 07:52] #13100 closed

[2018-01-09 07:54] Pelups commented on #12468
Yes I'm synced with the repository.

- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): master
- Python version: 2.7
- Bazel version (if compiling from source): 0.5.4
- GCC/Co

[2018-01-09 08:21] sharpstill commented on #7511
@ppwwyyxx also want GPU version of NMS? Does there any progress here?

[2018-01-09 08:26] asimshankar commented on #15929
I'm not at all well versed enough with Swift and how libraries are loaded/managed in it. However, just looking at the error message, it seems to be coming from the call to `RegisterAlreadyLocked` [here](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorflow/core/framework/op.cc#L165), which in turn is returning an error from [here](https://github.com/tensorflow/tensorflow/blob/r1.4/tensorfl

[2018-01-09 08:33] MaskVulcan commented on #7511
@ppwwyyxx when I use nms. I set the profile and find mns is in CPU.Is there any way to use NMS on GPU?

[2018-01-09 08:35] VolodymyrPavliukevych commented on #15929
Hello, thanks for response,
 That is clear enough that crash at  MustCallDeferred func. But how to fix that not clear.
As you can see `name` is kind of "memory trash".

No,

Yes you are right, but I am calling `TF_NewGraph()` and all memory management encapsulated in c_api.cc.

[2018-01-09 08:41] asimshankar commented on #15929
Is there a way you can reproduce the crash using a simple C program? That might make it easier to debug (without having to dig through Swift code, which I'm not familiar with)

[2018-01-09 08:45] VolodymyrPavliukevych commented on #15929
Ok, I will try.

[2018-01-09 09:01] Nassimmd commented on #15954
some information:
- **Windows 7**:
- **TensorFlow 1.4 installed with pip and then upgraded to 1.5.0-rc0 **:
- **TensorFlow version 1.5.0-rc0**:
- **Python version 3.5.2**:

I am using the code for social LSTM (long short-term memory) which you can find here: https://github.com/vvanirudh/social-lstm-tf

when I want to train my model, no matter whether it is a normal or social LSTM I get an error. H

[2018-01-09 09:06] Nayana-ibm commented on #14039
I could see `28 tests fail to build` in the results. But I guess it's not related to boringssl.
For now, I am closing this issue.
@gunan Thanks for your help on this.

[2018-01-09 09:06] #14039 closed

[2018-01-09 09:14] MarkSonn commented on #14523
Why did you close this issue immediately? I'm wondering the same, what did you discover?

[2018-01-09 09:22] xav12358 commented on #15850
I get the same error :

`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package
........
ERROR: /home/xavier/.cache/bazel/_bazel_xavier/ef54af8645dec4f38c438d8e1c779747/external/com_googlesource_code_re2/BUILD:96:1: First argument of 'load' must be a label and start with either '//', ':', or '@'. Use --incompatible_load_argument_is_label=false to temporarily disable this check.

[2018-01-09 09:24] makoeppel commented on #7868
I used the mnist.py example from https://www.tensorflow.org/get_started/mnist/beginners and put that into my code now (https://github.com/makoeppel/hyperParameterSearchTF/tree/master).

[2018-01-09 09:44] karankaw opened #15972 "Maven Version of tensorflow Java API jar wrongly updated in Documentation"
### System information
Have I written custom code : N/A
OS Platform and Distribution : N/A
TensorFlow installed from : N/A
TensorFlow version : N/A
Bazel version : N/A
CUDA/cuDNN version : N/A
GPU model and memory : N/A
Exact command to reproduce : N/A

### Describe the problem
https://www.tensorflow.org/install/install_java shows maven version as 1.4.1

[code]
However, this version is not availab

[2018-01-09 09:45] mfp305629415 commented on #9412
Have you solved it, please?

[2018-01-09 09:55] xingliejin commented on #15942
Have I written custom code : No
OS Platform and Distribution:  python:3.6.3 mac OS: 10.12.6
TensorFlow installed from:  use "pip install tensorflow"
TensorFlow version: 1.4.0
Bazel version: no Bazel
CUDA/cuDNN version: no cuda ,i'm in mac
GPU model and memory: no

[2018-01-09 09:56] vldbnc commented on #15925
@vksbhandary I'm using @aluo-x whl file and it's working.
Missing support of AVX2 instruction set in MSCV2015 and some compiling error made me install MSCV2017 based on discussion [10199](https://github.com/tensorflow/tensorflow/issues/10199) but I ran into this issue. Thanks for suggestion, I will try to re-install and build again with VS2017 15.4 toolset.

[2018-01-09 10:04] thefiddler commented on #13500
@carlthome MartinZZZ and lijiansong are asking which one has better runtime performance: XLA-JIT or XLA-AOT?

The documentation seems to imply that XLA-AOT is meant for space-constrained situations (e.g. mobile) but does not mention anything regarding runtime performance of XLA-AOT vs XLA-JIT. Any clarification on that point would be welcome.

[2018-01-09 10:05] elenisg commented on #15943
Have I written custom code: no
TensorFlow installed from CPU
TensorFlow version 1.4.1
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

[2018-01-09 10:13] carlthome commented on #13500
AOT and JIT provides the same performance benefits (e.g. op fusion, constant folding, common subexpression elimination).

The downside to AOT is that you have to specify static tensor shapes, while JIT would do that for you.

The downside to JIT is that compilation happens in the runtime (which takes extra time).

[2018-01-09 10:14] #11589 closed

[2018-01-09 10:34] xingliejin commented on #15942
**How to solver the first question ?**
  when i load "xxxx.pb" model, error:
Invalid argument: No OpKernel was registered to support Op 'Mul' with these attrs. Registered devices: [CPU], Registered kernels:
device='CPU'; T in [DT_FLOAT]
[[Node: UpSample2D_2/mul = Mul[T=DT_INT32](UpSample2D_2/mul/x, UpSample2D_2/Const)]]

**if the tf code simple. the "xxxx.pb" can  load....
when i use  "tf.nn.conv2

[2018-01-09 10:46] sumeetguha opened #15973 "How to change the model, without any change into android APK file"
Hello,

I want to make an android app in this way, like we can change model file anytime in future, and it will not require any change into application code, means no need to generate new APK file of application, on any change into model.
In short I want to know, is there anyway to place model file other then assets folder. So that I can refer updated model file anytime from app.

Thanks,
Sumeet G

[2018-01-09 10:51] lissyx commented on #15876
Thanks! @sanjoy About linking statically, I was not so sure this would be the best approach, this felt more hacky to me, but I'll give it another try if you recommend so.

Regarding how we use `tfcompile`, that might be hacky to you but basically we have `deepspeech` binary, and `libdeepspeech.so`, and `libdeepspeech_model.so`. The last one is generated by `tfcompile` through `tf_library()`. We th

[2018-01-09 11:07] XiaXuehai commented on #15889
Solved!
https://devtalk.nvidia.com/default/topic/845363/libcublas-so-7-0-cannot-open-shared-object-file/

[2018-01-09 11:07] XiaXuehai commented on #15889
Solved!
https://devtalk.nvidia.com/default/topic/845363/libcublas-so-7-0-cannot-open-shared-object-file/

[2018-01-09 11:07] #15889 closed

[2018-01-09 11:16] maxhgerlach commented on #12980
Is this issue resolved with v1.5.0-rc0?

[2018-01-09 12:27] PatWie commented on #15002
For the sake of completeness, the following Makefile works under
for the latest commit 4cb0c13c7779da536cac6c682180c5757611b384

[code]

[2018-01-09 12:54] Michael-4 commented on #15925
The problem is that in Visual Studio 2017 the std::lower_bound() function internally creates a const object of the iterator for which it then calls operator*(). However, IndicesRowIterator does not define this for const objects, which results in the error the compiler is giving you.
You could fix this by adding const to

`reference operator*() { return iter_->ix()(row_idx_, 0); }, `

i.e.

`refere

[2018-01-09 12:56] andreas-eberle opened #15974 "Estimator.predict always loads model checkpoint preventing partially loading checkpoints"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
pip
- **TensorFlow version (use command below)**:
1.4
- **Python version**:
3.5

### Describe the problem
When using Tensorflow's Estimator to do predictions, the Estimator always loads the checkpoint in the model_dir. As this is done after the model_

[2018-01-09 12:59] kuonb commented on #14580
I got the same error trying to freeze a graph.
I thought the problem is that I'm not saving correctly my variables and model, but I tried different models and I was not successful at freezing any graph.

I copied this very simple code from stackoverflow and added the line to generate the .pb file.
[code]

It generates the .pb file and it generates the checkpoints. After this, I try to freeze the g

[2018-01-09 12:59] tensorflowbutler commented on #15962
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 12:59] tensorflowbutler commented on #15963
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 12:59] tensorflowbutler commented on #15964
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 12:59] tensorflowbutler commented on #15965
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 13:00] tensorflowbutler commented on #15968
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 13:20] PatWie commented on #15002
FYI everything works now fine using a [Makefile](https://github.com/cgtuebingen/tf_custom_op/blob/5072c836eae8e1cda5a0a1a4c64310c6b9386f8f/Backup/Makefile) or [CMake](https://github.com/cgtuebingen/tf_custom_op/blob/5072c836eae8e1cda5a0a1a4c64310c6b9386f8f/matrix_add/CMakeLists.txt) on the master branch at commit https://github.com/tensorflow/tensorflow/commit/4cb0c13c7779da536cac6c682180c5757611b

[2018-01-09 13:22] PatWie commented on #12860
@Queequeg92 I have it working under v1.5rc0 now, see https://github.com/cgtuebingen/tf_custom_op which requires installing from source or copying the `cuda_config.h` from #15002.

[2018-01-09 13:47] AlphasCodes commented on #22
The Tensorflow AMD OpenCL performance is very slow according to my tests. So i did some basic tests with PlaidML (a Deep Learning framework like Tensorflow). You will find my PlaidML setup [here](https://github.com/AlphasCodes/DeepLearning/blob/master/PlaidML_Setup.md) and the related benchmarks [here](https://github.com/AlphasCodes/DeepLearning/blob/master/PlaidML_Benchmarks.md).

Please note Pla

[2018-01-09 13:49] denismakogon commented on #15628
@poxvoculi thanks for the reply.

So, here's what i would like to get from distributed mode:

1. Make transport truly pluggable. gRPC is the good thing, but i would like to have HTTP as well. So, i do see the need to give to developers a choice of transports as well as the way to implement transports without recompiling TensorFlow from the source (think of Python interface for transport).

2. Prov

[2018-01-09 14:03] zzw922cn commented on #8804
@ebrevdo

[2018-01-09 14:12] JinScientist commented on #9906
Hi zhangyaobit, I have tried with the ptb example with update collection utility,   I still get this error under version 1.4.1
`Traceback (most recent call last):
  File "ppmodel.py", line 558, in <module>
    tf.app.run()
  File "/home/ubuntu/tensorflow/local/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  Fi

[2018-01-09 15:08] uyenho90 commented on #6331
@AdaZhangLi

Thank you! That did it for me!

[2018-01-09 15:17] rlehman221 opened #15976 "iOS Camera Example not able to fit to iphone 6 screen"
### System information
- **OS Platform and Distribution macOS High Sierra **:
- **TensorFlow installed from source**:
- **TensorFlow version 1.4**:

### Describe the problem
When I run the tensorflow camera example on xcode it runs fine but only in dimensions that fit an iphone 4. I changed the build settings, have turned on autolayout, and even tried messing around with the constraints. It seems

[2018-01-09 16:06] VolodymyrPavliukevych commented on #15929
It was Swift memory management issue related to C module.
Thanks.

[2018-01-09 16:06] #15929 closed

[2018-01-09 16:17] tomrunia opened #15977 "Improve video input pipeline (using TFRecord files)"
I am building a video input pipeline for DeepMind's [Kinetics dataset](https://deepmind.com/research/open-source/open-source-datasets/kinetics/) using TFRecord files. Since the dataset is large (200k videos) my TFRecord files store the frames as compressed JPG images; otherwise it would require too much space on disk. Each `tf.train.Example` has the following structure:

[code]

Where all the fram

[2018-01-09 16:24] emkessler commented on #10375
+1 on this request

[2018-01-09 16:26] DrPingy commented on #12000
Hi @vldbnc. I see the same problem and is quite different from this issue: binary '<': no operator found.

It got following:
1>sparse_column_iterable.cc
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.12.25827\include\algorithm(2417): error C2678: binary '*': no operator found which takes a left-hand operand of type 'const tensorflow::boosted_trees::utils::`anonym

[2018-01-09 16:34] nbro opened #15978 "No documentation for ConfigProto"
### System information

Not necessary in this case.

### Describe the problem

No documentation for the `ConfigProto` class in the TF website. Specifically, in neither of the following pages

- https://www.tensorflow.org/api_docs/python/tf/ConfigProto
- https://www.tensorflow.org/versions/r1.5/api_docs/python/tf/ConfigProto
- https://www.tensorflow.org/versions/master/api_docs/python/tf/ConfigProt

[2018-01-09 16:46] cy89 commented on #15954
Any chance that this update, in the 1.5.0 release notes, affected your code:

tf.split now takes arguments in a reversed order and with different
keywords. In particular, we now match NumPy order as
tf.split(value, num_or_size_splits, axis).

[2018-01-09 17:09] andrehentz commented on #15537
@guoxiaolu Would you be able to provide your .pb file?

[2018-01-09 17:17] #15484 closed

[2018-01-09 17:34] mrry commented on #15628
The `protocol` argument that you provide when creating a `tf.train.Server` and/or in the prefix of the `target` argument to `tf.Session()` provides a way to switch to a different transport protocol. As @poxvoculi notes, we currently support `"grpc"` in the core, but folks have contributed `"grpc+verbs"` and `"grpc+mpi"` implementations of these. It's conceivable that you could use the same extensi

[2018-01-09 17:43] poxvoculi commented on #15628
I don't understand what you mean by making transport pluggable.  Communication between TF distributed processes is designed to take place only via methods on the Master and Worker interfaces.  These methods need to be implemented as RPCs.  gRPC is the default RPC implementation but others are possible.  (Inside Google we use an additional two RPC systems, selected among by startup configuration op

[2018-01-09 17:43] michaelkhan3 commented on #15810
I have come up with a workaround while we wait for the permanent fix.
Instead of calling `one_kernel, one_bias = one_lstm_cell.variables` we can use `one_kernel, one_bias = one_lstm_cell._cell.variables`. This calls variables on the original RNNCell passed in. I know it's generally not a good idea to call protected properties but it works.

[2018-01-09 17:47] andrehentz commented on #15636
@llyyun Can you verify that your converteds_model.tflite is not empty?

[2018-01-09 17:51] andrehentz commented on #15948
TF Lite doesn't completely support argmax at the moment. Does it work if yo uset the output to softmax_tensor instead?

[2018-01-09 17:54] ebrevdo commented on #15810
It may make sense to add a @property "cell" or "wrapped_cell" to
DropoutWrapper, specifically for use cases like this.  Would you like to
send a PR?

On Tue, Jan 9, 2018 at 9:43 AM, michaelkhan3 <notifications@github.com>
wrote:

[2018-01-09 17:57] sanjoy commented on #15876
Now that I think of it, I'm wondering if you'll run into issues with the Eigen thread pool -- for instance, if you create a Eigen thread pool device using one version of the thread pool and pass it into a `__xla_cpu_runtime_EigenMatMulF32` statically linked to another version of the thread pool.  If you start running into issues like this, I'd say adding `TF_EXPORT` instead is fine.

[2018-01-09 18:19] zheng-xq commented on #13622
@protoget, could you take a look at this? Thanks!

[2018-01-09 18:20] zheng-xq commented on #12284
@protoget, could you take a look at this? Thanks!

[2018-01-09 18:21] denismakogon commented on #15628
Exactly, I want to make both master and worker use different protocols (anything else different from gRPC). I want to control every send/receive computation request along with being able to serialize/deserialize computation task object (similar to `cloudpickle` but in terms of TF).

gRPC or any other RPC is not the case for me because I don't want to build an additional layer in-between service I

[2018-01-09 18:28] shivaniag commented on #9141
With @jlebar's comment, I am closing this issue. If there is any further discussion on this feel free to reopen the issue..

[2018-01-09 18:28] #9141 closed

[2018-01-09 19:01] tensorflowbutler commented on #15972
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 19:01] tensorflowbutler commented on #15973
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-09 19:01] tensorflowbutler commented on #14250
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-09 19:41] shivaniag commented on #15777
@gunan I'll assign this to you to determine how to handle this issue from here.

[2018-01-09 19:41] michaelkhan3 commented on #15810
@ebrevdo Sure.  I'll send one soon

[2018-01-09 19:53] nikita68 commented on #15851
Reposting due to lack of response.

[2018-01-09 19:53] #15851 closed

[2018-01-09 19:58] nikita68 opened #15980 "While loop randomly doesn't evaluate tensors"
Hello!
I believe to have found a bug in Tensorflow when running the code below. I am currently trying to build a neural transducer, and have stumbled across TF sometimes not returning any values for a tensor. I have not had the chance yet to test this out on another machine (no GPU, TF 1.4.1, Ubuntu 17.10). The code is redacted a bit to highlight only the parts that fail. [I've also posted to Stac

[2018-01-09 20:04] blake-varden opened #15981 "tf.Estimator creates loss and loss_1 for eval/train"
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.12
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.4
- **Python version**:
2.7

### Describe the problem

When using the tf.Estimator, the summary files save out summaries for the loss variable evaluated every checkpoint.  The summary for the training, is saved as 'lo

[2018-01-09 20:22] shivaniag commented on #15747
@ zheng-xq do you have any comments?

[2018-01-09 20:22] choongng commented on #22
@AlphasCodes @znmeb I know the TF team prefer to keep the thread TF-only, we're happy to host the PlaidML-specific conversation over on the PlaidML project. That said, we do hope to eventually support TensorFlow itself as well as non-OpenCL platforms (e.g. Apple's Metal for iOS which currently exists in prototype form).

https://github.com/plaidml/plaidml

[2018-01-09 20:47] Gemesys commented on #15933
Thank you, quaeler, for posting your results.   This is really useful.  I was starting to think that there must be a problem in my Linux installation, because the MacOS version basically blows up to almost a white screen by interation 3000.  I've been investigating various examples of 32-bit overflow bugs and problems in various Python packages, looking at anywhere TensorFlow or Python is producin

[2018-01-09 20:51] cy89 commented on #15976
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-09 20:51] #15976 closed

[2018-01-09 20:54] cy89 commented on #15978
@josh11b it looks like you originally wrote those lines of the tutorial. Can you take a look or assign someone more appropriate, please?

[2018-01-09 21:06] cy89 commented on #15835
@mrry, I'm hestitating to just refer to Stack Overflow because this seems pretty specific. Do you have any advice to offer?

[2018-01-09 21:09] cy89 commented on #15974
@martinwicke @ispirmustafa is there a way for @andreas-eberle to do what they want, or is this a feature request?

[2018-01-09 21:16] cy89 commented on #15847
@Hackempluf this feels like a feature request to me, rather than a bug. OK to label it as such, or is there a particular buggy behavior that you want addressed?

[2018-01-09 21:27] cy89 commented on #15871
@aselle @andrehentz @petewarden any suggestions? That's a lot of "unsupported op" messages.

[2018-01-09 21:37] weiranzhao commented on #14985
@balconychy
This should have been fixed. I checked this with nightly build at tf-nightly 1.6.0.dev20180109.

[2018-01-09 22:06] yongtang commented on #9284
@drpngx Added a PR #15982 that adds `broadcast=True|False` to switch to bumpy behavior. Not sure this is the best way but please take a look.

[2018-01-09 22:25] shivaniag commented on #15897
@reedwm do you have any comments on this?

[2018-01-09 22:28] shivaniag commented on #15909
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-09 22:28] #15909 closed

[2018-01-09 22:35] drpngx commented on #9284
Thanks!

[2018-01-09 22:43] shivaniag commented on #15915
@ramanmohan Did you try the steps suggested by @cliffwoolley from the thread #14363.
Also adding @juliebernauer for any updates.

[2018-01-09 22:43] shivaniag commented on #14363
Update seems to fix the issue, closing this.

[2018-01-09 22:43] #14363 closed

[2018-01-09 22:43] mrry commented on #15835
There's nothing obviously wrong in the code, but there a lot of unbound values. We'd need a self-contained reproduction to be able to investigate further.

[2018-01-09 22:49] doktorneergaard opened #15983 "Feature request: Reduce learning rate on plateau"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2018-01-09 22:50] drpngx commented on #15266
Sorry, are you saying that the test is wrong?

[2018-01-09 22:54] NMRobert commented on #15783
I'm experiencing the exact same issue under almost identical circumstances: sparse variational gaussian processes in GPflow.

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow installed from (source or binary): Binary (pip)
TensorFlow version (use command below): 1.4.0
Python version: 3.6.3
CUDA/cuDNN version: Cuda: 8.0.61.2; cuDNN: 6.1
GPU model and memory: GeForce GT

[2018-01-09 23:13] shivaniag commented on #15773
@ispirmustafa any comments on this?

[2018-01-09 23:19] selcouthlyBlue opened #15985 "Feature Request: Dense to Sparse and Dense to Sparse Tensor Ops"
I think it would be helpful if there is a dense_to_sparse op in Tensorflow for ops like `ctc_loss` that requires sparse labels. I'm not really sure where else it can be used aside from that but in case only `ctc_loss` uses it, I think it would help if dense labels can be passed into `ctc_loss` and do the conversion within.

[2018-01-09 23:23] #14652 closed

[2018-01-09 23:25] shivaniag commented on #14743
Closing it for the lack of any response.

[2018-01-09 23:25] #14743 closed

[2018-01-09 23:25] shivaniag commented on #14815
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-01-09 23:25] #14815 closed

[2018-01-09 23:28] nbro opened #15987 "Documentation for placeholder does not explain when shape is (), [] or [None]"
### System information

Not necessary.

### Describe the problem

The documentation for `placeholder` does not explain the case when its shape is `()`, `[]` or `[None]`.

### Possible solution

Add the explanations in [this SO  answer](https://stackoverflow.com/a/46941087/3924118) to the documentation of `placeholder`, including the example !!

[2018-01-09 23:38] ispirmustafa commented on #14776
Hi @shivaniag,
Estimator sends the given session_config directly to the Session constructor. Could you please assign somebody who is more familiar with tf.Session and it's handling of GPU settings?

[2018-01-09 23:39] ispirmustafa commented on #14776
FYI, I've checked the keras.model_to_estimator. It's sending the config properly to tf.estimator.Estimator.
tf.estimator.Estimator sends that config to tf.train.SessionManager calls which uses it as a constructor argument to tf.Session.

[2018-01-09 23:42] eddie-zhou commented on #14713
Sorry for the long delay -- yes, there will be support for that as well.

[2018-01-09 23:48] ispirmustafa commented on #15773
for train op:
`EstimatorSpec(train_op = tf.group(yaw_train_op, pitch_train_op, roll_train_op), ...)`

for loss:
to see each of them separately on Tensorboard use:
[code]

[2018-01-09 23:48] #15773 closed

[2018-01-10 00:04] droidicus commented on #14776
Just as an FYI, while this is still a problem in TFv1.5rc0 we were able to do the following as a workaround for now, by setting the default session manually the memory fraction is respected:
[code]

[2018-01-10 00:07] facaiy commented on #15981
So you think ˋlossˋ and ˋloss_1ˋ are not good name? What name do you prefer?

[2018-01-10 00:08] ispirmustafa commented on #13179
Closing by assuming that previous answer solved the issue. Please open if again if that's not the case.

[2018-01-10 00:08] #13179 closed

[2018-01-10 00:12] blake-varden commented on #15981
loss is a fine name,  I think they should both be 'loss' so that they appear on the same plot and are able to see how training loss compares to test loss.   I found a fix for the ciphar code by adding a name-scope thats based on the training mode.  the loss_1 name was coming in due to the 'loss' op already existing.

[2018-01-10 00:14] ispirmustafa commented on #14776
@yifeif, @fchollet  is there any place within underlying Keras code that uses default session while building the graph, train_op, ...?

[2018-01-10 00:17] juliebernauer commented on #15915
@ramanmohan Please follow steps described in #14363 indeed. On our side it is fixed but happy to have a look into this if it fails in the NGC container. Thanks @shivaniag.

[2018-01-10 00:17] anitha-v commented on #14787
arixlin, can you please clarify where the link is not right ?

Is the link to the input file not specified in this toco command ?
bazel-bin/tensorflow/contrib/lite/toco/toco --input_file=/tmp/frozen_mobilenet_v1_224.pb -

[2018-01-10 00:20] shivaniag commented on #15941
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-10 00:21] ispirmustafa commented on #15974
Hi @andreas-eberle
You can create your graph partially based on params. something like:
[code]
Having said that, making your prediction graph different then the graph you trained looks error prone to me.

[2018-01-10 00:21] #15974 closed

[2018-01-10 00:39] reedwm commented on #15897
@yzhwang can you look into using cudnnGetConvolutionForwardAlgorithm_v7 or cudnnFindConvolutionForwardAlgorithmEx, and see why we don't get a 4x performance improvement on ResNet 50?

Also /CC @nluehr, can you comment?

[2018-01-10 00:42] studentSam0000 commented on #7469
@soloice @cancan101 @tasx0823 .... Thank you for the lead. Using `create_train_op` is giving something very close to the validation performance I was expecting. :)

Btw this is also explained in the documentation :

However, I still have two blocks as `resnet_v1_50` and  `resnet_v1_50_1` in my TensorBoard visualization. Is this due to the distinct operators in the `BatchNorm` layer at train and va

[2018-01-10 00:44] cy89 commented on #15897
@zheng-xq @poxvoculi is this request easy or near what you're doing already?

[2018-01-10 00:48] zheng-xq commented on #15897
The TensorFlow head is already including TensorCore support on Volta.

[2018-01-10 00:52] cy89 commented on #15933
@Gemesys a simple reproduction case would be very useful. Please let us know what you find.

[2018-01-10 00:56] shivaniag commented on #15985
@mrry does this seems to you something we would want to add?

[2018-01-10 01:01] shivaniag commented on #15987
IMO this is well documented in Tensor rank, Shapes and Types. Closing this.

[2018-01-10 01:01] #15987 closed

[2018-01-10 01:14] mrry commented on #15985
Perhaps, or perhaps it would make more sense for `tf.nn.ctc_loss()` to accept dense labels and do the conversion internally? I think @ebrevdo created that part of the code, so he'll know best.

[2018-01-10 01:16] quaeler commented on #15933
Unfortunately, to add a problem to this problem, running this with Python 2.7.10 on macOS 10.12.6 produces the Linux-esque behavior.

![screen shot 2018-01-09 at 5 13 53 pm](https://user-images.githubusercontent.com/22581048/34751302-aa2e180c-f560-11e7-8381-daa4121d8b6d.png)

[2018-01-10 01:16] #15941 closed

[2018-01-10 01:21] shivaniag commented on #15921
@petewarden can you take a look?

[2018-01-10 01:31] xiejw commented on #14502
@martinwicke for priority.

[2018-01-10 01:37] Queequeg92 commented on #12860
@PatWie Thank you! I'll have a try.

[2018-01-10 01:48] MarkDaoust commented on #6438
It looks like I made a mistake verifying this earlier. I was using `tf.Print` (which is still not `jupyter` compatible).

`tf.logging` is currently working well with `jupyter` already.

I hope I didn't waste too much of anyone's time.

[2018-01-10 01:48] #6438 closed

[2018-01-10 01:50] rongjiecomputer opened #15990 "[Tracking bug] Building Tensorflow with Clang on Windows"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.4.0
- **Python version**: Python 3.6
- **Bazel version (if compiling from source)**: 0.

[2018-01-10 01:55] tremblerz commented on #14622
Does supporting CUDA 9 also means removing support for CUDA 8? I am getting this error with the latest build
[code]

[2018-01-10 01:55] yaroslavvb commented on #6438
tf.Print still works in Jupyter with the FDRedirector trick from above

[2018-01-10 02:04] studentSam0000 commented on #6189
Hi @ebrevdo @ppwwyyxx @michaelisard , I think I am facing the similar problem but not sure about it. My TensorFlow version is 1.2.1.

I am trying to finetune [resnet_50](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/slim/python/slim/nets/resnet_v1.py) from `tensorflow.slim` package on my own data.

To have the training and validation cycles together I use,

[code]

Note,

[2018-01-10 02:20] nbro commented on #15987
@shivaniag Can you please link me to a place where it is documented?

[2018-01-10 02:23] guoxiaolu commented on #15537
https://pan.baidu.com/s/1jJDgfJK
This is my pb file

[2018-01-10 02:32] mfp305629415 opened #15992 "android demo ,How to switch the horizontal screen?"
tensorflow 1.4
TF-OD-API model

[code]

I have some problems now, and I want to ask how to do the rotation.

[2018-01-10 02:33] selcouthlyBlue commented on #15985
One reason I would like this feature to exist is to be able to use Tensorflow’s Estimator.fit without having to covert the labels to a SparseTensor outside the fit function.

[2018-01-10 02:43] weidong8405347 commented on #15835
@mrry  these proble bother me long time, so please help me to solve it

[2018-01-10 02:47] arixlin commented on #14787
@anitha-v (https://storage.googleapis.com/download.tensorflow.org/models/mobilenet_v1_1.0_224_frozen.tgz)  is right pb link，（https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md）has more info about pb file

[2018-01-10 02:52] leandro-gracia-gil commented on #13016
Just out of curiosity, is there anything that GRPC uses in its communication that is left to the OS to decide how to represent? Like string encoding format (UTF-8 vs UTF-16), byte ordering (although in this particular case all machines are little endian), or similar.

[2018-01-10 02:55] ebrevdo commented on #15985
+1 for having denaified versions of the CTC loss and decoders. You'll need
to pass an additional Sequence lengths for the labels.  PRs to
tf.contrib.layers welcome.

On Tue, Jan 9, 2018, 6:34 PM Jerome <notifications@github.com> wrote:

[2018-01-10 03:08] #15280 closed

[2018-01-10 03:08] erickrf opened #15994 "Feature request: (documentation) operation complexity / performance chart"
It would be interesting to have a complexity/performance chart for different operations. For example, to know that `tf.reshape` is computationally cheaper than `tf.transpose`.

I did see the [Performance Guide](https://www.tensorflow.org/performance/performance_guide), but that's not what I mean.

[2018-01-10 03:41] huatangzhi opened #15995 "/home/hp/.cache/bazel/_bazel_hp/a7dace51e7355e610cd60a2c24b75c6d/external/astor_archive/BUILD:8:1: Converting to Python 3: external/astor_archive/astor/source_repr.py failed (Exit 1)."
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:source
- **TensorFlow version (use command below)**:clone from git
- **Python version**: 3.6.3
- **Bazel version (

[2018-01-10 03:53] liangxiao05 commented on #6035
@saeed68gm，thanks,I will follow your instructions next.
@mmpinso ,same with you,I'm doing work with ENet on Android. So how's the latency you run it on your mobile ?

[2018-01-10 04:29] ramanmohan commented on #15915
I tried everything mentioned in the thread [#14363](https://github.com/tensorflow/tensorflow/issues/14363). I have TensorFlow 1.4.1 installed on my Ubuntu 16.04 along with CUDA 9.1 and cuDNN 7.0.5. I am using a Nvidia GeForce GT 750M.

It is still throwing the same error. @shivaniag  @juliebernauer

[2018-01-10 04:31] langmore commented on #7956
Note that I'm not suggesting we use transformed distribution (since what I wrote above would be no more stable than `Dirichlet`.  I'm suggesting we pre-bake an equivalent distribution.

I don't understand the normalization issue.  Perhaps tell me what the args are above to `log_prob` and `log_prob_pre_softmax`?

[2018-01-10 04:35] karankaw commented on #15972
Modified Post as per template, although it was not applicable.

[2018-01-10 04:49] selcouthlyBlue commented on #15985
I’ll see if what I can do. I plan on basing this on the sparse_to_dense op.

[2018-01-10 05:09] Multihuntr commented on #14699
I was unable to reproduce this bug given the information provided. The following script runs as expected.

[code]

As does changing the `tf.less(count, 2)` to `tf.less(1,2)`.
As does using `a` directly in the `tf.layers.dense`, but still calling `my_op(a, 'somewhere')` elsewhere.

So there's another piece to this puzzle; there's something else going on to cause the issue.

[2018-01-10 05:24] yzhwang commented on #15897
Hi @egborbe , as @zheng-xq said, we have already included TensorCore support on Volta in TensorFlow. Here I will explain more the difference between all the cudnn APIs to find/get internal convolution algorithms:
 - Any algorithm starts with cudnnGet will use heuristics given a specific input shape as well as the scratch memory limitation to provide an internal algorithm that performs the best. Th

[2018-01-10 05:24] #15897 closed

[2018-01-10 05:44] godrxz opened #15996 "CMake building fail on Linux Centos 7"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4
- **Python version**:  2.7.5
- **Bazel version (if compiling from source)**: NA
- **GCC/Com

[2018-01-10 05:51] tadeegan opened #15997 "Allow tensorflow/tensorflow/workspace.bzl to customize dependencies"
When including tensorflow as a dependency of a Bazel project, it requires you to take all the declared dependencies in  `tensorflow/tensorflow/workspace.bzl` or none of them. Some projects, like the closure_rules allow you to customize the dependencies:
https://github.com/bazelbuild/rules_closure/blob/master/closure/repositories.bzl#L21

This allows you to use whatever versions you want for specif

[2018-01-10 05:53] GT123 opened #15998 "tensorflow input/output tensor reshape c++"
currently , I am working on loading and testing a tensorflow model on android using c++, and the trained model is a full convolutional model, so the input need to be dynamically reshaped according to input image size.

I can make this done easily using python. but when turn to c++ , I can hardly find much examples and experience on this.

the trained model is converted to *.pb file , and the input

[2018-01-10 06:03] sumeetguha commented on #15973
Hello,

Please find the required details as below:

Have I written custom code : N/A
OS Platform and Distribution : Android 5.0 and above
TensorFlow installed from: Used TensorFlow for Android library
TensorFlow version : N/A
Bazel version : N/A
CUDA/cuDNN version : N/A
GPU model and memory : N/A
Exact command to reproduce : N/A

Thanks,
Sumeet Guha.

[2018-01-10 06:45] dustinvtran commented on #7956
Oh I see. I'm only for a canned distribution over logits space;  so I still agree :)

I don't understand the normalization issue either. The above conversation is rather involved—something about `log_prob_with_logits(x)` in the latex formula not defining a proper density? Maybe you can summarize how that relates to your "implement a canned distribution" proposal?

[2018-01-10 07:03] niffler92 opened #15999 "[Feature Request] Request for weighted sampling in tf.data.Dataset"
Are there any methods that we can sample with weights without pre-weighting the dataset as the input in Dataset API?

[2018-01-10 07:23] Multihuntr commented on #14699
I figured out the missing ingredient to reproduce the bug: you need to put your `opt.minimize` inside a `with tf.control_dependencies(tf.get_collection(tf.GraphKeys.UPDATE_OPS))`

Turns out this is a rather dangerous bug: Adding an operation to a collection inside a function used in a `tf.cond` **silently** prevents any operations that use that collection as a control dependency, regardless of whe

[2018-01-10 07:36] gunan commented on #14622
For prebuilt binaries, yes. The latest prebuilt binaries only support cuda
9.0. If you need to use with cuda 8.0, you either need to use an old
version or build from source.

On Jan 9, 2018 5:56 PM, "abhishek singh" <notifications@github.com> wrote:

[2018-01-10 07:40] karthikpitchaimani opened #16000 "TensorFlow Installation Error on SLES 11 SP Linux"
I have been trying to install tensorflow (1.3.0/1.4/1.4.1) on SLES 11 Linux, I was getting GLIBC_2.14 not found an exception, currently, we have the **GLIBC_2.11.3 version in SLES 11 SP3T**.

Please help me to install any of **tensorflow > 0.8** versions on SLES 11 Linux and let me know the tensorflow compatible version for SLES 11. OR SLES 11 SP3 Linux is not compatible with TensorFlow any of the

[2018-01-10 07:43] huanyingjun opened #16001 "fail to convert resnet_v1_50 to tflite"
I downloaded resnet_v1_50 model from https://github.com/tensorflow/models/tree/master/research/slim

when I tried to convert this model to tflite, I got below error:
2018-01-10 14:54:19.491608: F tensorflow/contrib/lite/toco/tflite/export.cc:303] Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If you have a custom implementation for them you can disabl

[2018-01-10 07:45] Nassimmd commented on #15954
Thank you, that was it!

[2018-01-10 07:47] tensorflowbutler commented on #15977
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 08:11] selcouthlyBlue commented on #15985
How is the sequence_lengths required by ctc_loss right now different from that of the to-be-implenented-densified_ctc_loss?

[2018-01-10 08:36] egborbe commented on #15897
Hi ,

thank you for your attention.
I now understand the way TF handles Cuda cores
I did some further measurements and it turned out that NCHW - NHWC conversion is now consuming as much time as the convolution itself on Volta.
I tried with NCHW and the performance gain against Pascal GPU shot up immediatelly to 250% from 200%. However this is still far from what Nvidia reported with NVCaffe (370%

[2018-01-10 08:39] egborbe commented on #15897
Correction
Even when I use NCHW order for convolution I realized there were nhwc kernel calls as seen from nvprof.

[2018-01-10 08:47] egborbe commented on #15897
this is the nvprof output
            Type  Time(%)      Time     Calls       Avg       Min       Max  Name
 GPU activities:   34.28%  797.43ms       301  2.6493ms  2.6269ms  2.6636ms  volta_fp16_s884cudnn_fp16_256x64_ldg8_relu_f2f_exp_small_nhwc2nchw_tn_v1
                   30.73%  714.84ms       301  2.3749ms  2.3708ms  2.3818ms  volta_fp16_s884cudnn_fp16_128x128_ldg8_relu_f2f_exp_small_nhwc2nc

[2018-01-10 08:54] GustavZ commented on #8854
hey @MikulasZelinka how to use this function?

can you post an example how to call it with an example model and log dir?
For me somehow it does not work

Thank you!

[2018-01-10 09:05] facaiy commented on #15981
So you request to plot `loss` and `loss_1` in the same figure, right?

[2018-01-10 09:27] zffchen78 commented on #13160
The forementioned mechanism should be working. The test here illustrates w/ vs. w/o marking the forward function as noinline=True.

https://github.com/tensorflow/tensorflow/blob/25d275280dfb163674f81c7681c2c1d34545a155/tensorflow/python/framework/function_test.py#L1435

To measure the runtime's peak memory usage, one can use ops demonstrated by this test:
https://github.com/tensorflow/tensorflow/b

[2018-01-10 09:28] lcerman commented on #15492
Hit the same problem yesterday (building r1.4), after adding `--incompatible_load_argument_is_label=false` the compilation finished successfully.

[2018-01-10 09:32] zffchen78 commented on #14017
TensorFlow was largely motivated by our previous gen DL framework and applications at that time. Then, double was frowned upon by DL community for its slowness and the extra precision was not needed by those models. int64 & float64 on GPUs were also very slow and virtually nobody cared. So, int32 & float32 were more defacto data types.

[2018-01-10 09:34] nikita68 commented on #15980
I've just tested it on a different machine (Ubuntu, GPU enabled, TF 1.4.1) and I also get the same errors.

[2018-01-10 09:49] KyleTheNewbie commented on #14273
how about for RHEL7?

[2018-01-10 09:52] OluwoleOyetoke commented on #15948
I have tried using 'softmax_tensor' as output, and it worked properly

[2018-01-10 10:09] shahar-scopio commented on #11965
Make sure that you collect with tf.GraphKeys.UPDATE_OPS with the right name scope:
update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS,name_scope)

[2018-01-10 10:09] shahar-scopio commented on #11965
Make sure you are collecting the OPs from the correct name scope.
update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS,name_scope)

[2018-01-10 10:39] jaekyeom commented on #2732
@ekelsen Could you please elaborate on how it went?

[2018-01-10 10:49] zyxcambridge commented on #16001
maybe op cannot support , we can chat by qq 1208091722 ,or zyx_Cambridge@163.com

[2018-01-10 10:49] zyxcambridge opened #16004 "cudnn"
INFO:tensorflow:Starting Queues.
2018-01-10 18:45:29.789178: E tensorflow/stream_executor/cuda/cuda_blas.cc:366] failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED
2018-01-10 18:45:29.843774: E tensorflow/stream_executor/cuda/cuda_blas.cc:366] failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED
INFO:tensorflow:global_step/sec: 0
2018-01-10 18:45:33.552377: E tensorflow/stream_

[2018-01-10 11:06] hcchengithub commented on #14054
Amazing, [tooth's solution](https://github.com/tensorflow/tensorflow/commit/d34c1d2978ec43f6600fc2f59d24055a972e09c6) has really fixed the problem happening on tensorflow 1.4.

I suffered the problem when trying to play the demo
"Integrating Keras & TensorFlow - The Keras workflow, expanded (TensorFlow Dev Summit 2017)"
YouTube ID: UeheTiBJ0Io

Error message :
%USERPROFILE%\appdata\local\programs\

[2018-01-10 12:21] Hackempluf commented on #15847
Yes, this would be a feature request, although I'm not sure how useful/needed it really is.

In the mean-time I switched to ```tf.train.SingularMonitoredSession``` instead, as it allows me to access the raw session object to reinitialise the iterator and evaluate the model every n epochs without any hooks beeing called. Since I don't have a distributed setting this solves my problem.

If there is

[2018-01-10 12:46] kaspermarstal commented on #15996
Is this related to #15002? I saw this exact error message. I am preparing a PR.

[2018-01-10 13:00] makoeppel commented on #7868
I now created this tuner class (https://github.com/makoeppel/tuner_object_for_learn_runner) and pass it to the `learn_runner.tune(experiment_fn=experiment_fn,` `tuner=tuner)` function. I used an example from https://gist.github.com/peterroelants/9956ec93a07ca4e9ba5bc415b014bcca.

The tuner class can be called with `default_param, hparams, model_dir.` When you call `next_trial()` it set everything

[2018-01-10 13:16] tensorflowbutler commented on #15992
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 13:17] tensorflowbutler commented on #15994
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 13:17] tensorflowbutler commented on #15997
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 13:17] tensorflowbutler commented on #15998
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 13:45] lissyx commented on #15876
@sanjoy Right, I tried in the past the static link, and I've just re-tried. The reason I stopped was because of:
[code]

[2018-01-10 14:06] anonym24 opened #16008 "Java/JNI , Object Detection: Not big Difference with GPU or CPU? (Insignificant difference) ~300ms with and without GPU"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:

**binary** by instructions https://www.tensorflow.org/versions/master/install/install_java

- **TensorFlow version (use command below)**: 1.4.

[2018-01-10 14:10] PatWie opened #16009 "bazel build ask for ANDROID_NDK_HOME, ANDROID_SDK_HOME -- no way to disable it"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
('v1.5.0-rc0-1-g793280a', '1.5.0-rc0')
- **Python version**:
2.7
- **Bazel version (i

[2018-01-10 14:21] anonym24 commented on #16008
actually it seems it uses GPU (allocated all available memory) nvidia-smi, but I didn't notice any speed-up, it works I guess the as on CPU

[code]

[2018-01-10 14:23] OluwoleOyetoke commented on #16001
I had a similar error today too:

    2018-01-10 13:57:31.820886: F tensorflow/contrib/lite/toco/tflite/export.cc:303] Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If you have a custom implementation for them you can disable this error with --allow_custom_ops. Here is a list of operators for which you will need custom implementations: Dequantize, Qu

[2018-01-10 14:33] anonym24 commented on #16008
I running Object Detection https://github.com/tensorflow/models/tree/master/research/object_detection

on **ssd_inception_v2_coco** model  https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

And it's insignificant difference when using GPU or only CPU

[2018-01-10 14:47] chrert opened #16010 "lib_package does not bundle MKL-DNN"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0.

[2018-01-10 15:04] Furane commented on #15029
Hello,

I have exactly the same problem, but I didn't get how you solved it. Can you give me more details, please? I tried to export the path to libcudnn.so, with export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/lib64 , but it didn't work.

[2018-01-10 15:07] andrehentz commented on #15956
No solution yet, but one workaround is to revert to gradle 2.3.3.

[2018-01-10 15:23] andrehentz commented on #15871
Models that were quantized using transform_graph are not supported by TF Lite. We will eventually support those when 'quantize_weights' is used by itself, but 'quantize_nodes' will probably not be supported. We are working on a different set of instructions that involved quantized training to assure proper accuracy.

[2018-01-10 15:26] andrehentz commented on #16001
@OluwoleOyetoke see https://github.com/tensorflow/tensorflow/issues/15871#issuecomment-356419505

@huanyingjun Mean and Squeese are only supported if they can be completely removed during the conversion process (usually because they can be folded into constant nodes). We are working on better supporting other models, including resnet.

[2018-01-10 15:52] mrry commented on #15999
The only sampling-specific method in the API is [`tf.contrib.data.rejection_resample()`](https://www.tensorflow.org/api_docs/python/tf/contrib/data/rejection_resample). If that doesn't work for your application, can you specify what sampling operation you'd like? Like `rejection_resample()` it may be possible to build it out of existing parts, like `Dataset.filter()` and `tf.contrib.data.scan()`.

[2018-01-10 16:29] DEKHTIARJonathan opened #16011 "Tensorboard issue with the official docker image - 1.5.0-rc0-gpu-py3"
Hello everyone,

I have the exact same issue as stated here: https://github.com/tensorflow/tensorflow/issues/14855
And on the official tensorboard repository: https://github.com/tensorflow/tensorboard/issues/812

The fact that I am using the official Docker Image and I didn't build anything from scratch.

`tensorflow/tensorflow   1.5.0-rc0-gpu-py3   9e770d59b136        6 days ago          2.85GB`

[2018-01-10 16:38] cassianokc commented on #11905
I'm not that familiar with implementing XLA OpKernels, how difficult would it be to have Nearest Neighboor resizing on it?

[2018-01-10 17:51] shivaniag commented on #16011
Please redirect your issue to https://github.com/tensorflow/tensorboard/issues.

[2018-01-10 17:53] skye commented on #14699
@Multihuntr thank you for digging into this! I have a large backlog of issues to diagnose so I can't look into a potential fix for this right now, so for now it's probably best to avoid adding to collections inside a cond.

[2018-01-10 18:03] AlphasCodes commented on #22
@choongng Thanks for the information i edited my message accordingly.

@znmeb The AMD A12-9800E iGPU should be GCN v3.

The main and only reason for me to do the benchmarks/tests is to find an answer on my question "Stay with AMD or switch to Nvidia for my Deep Learning adventure".

And the answer is. I really like the opensource approach of AMD but i will likely switch to Nvidia due to 2 factors.

[2018-01-10 18:25] filipetrocadoferreira commented on #6766
I'm facing same problem even checking if tensor is empty or not:
[code]

[2018-01-10 18:39] gunan commented on #15777
Just to clarify, we are not dropping support. but rather our prebuilt binaries will be built on ubuntu 16.
I know it is inconvenient for many ubuntu 14 users, and I know there a great deal of ubuntu 14 users out there, but building the code on ubuntu 14 will still work.

As we use pypi as out primary distribution method for python packages, that also limits our options. For linux, we can only put

[2018-01-10 18:43] marcocannici commented on #6766
@filipetrocadoferreira Have you tried to wrap the conditional branches into lambda functions?
[code]
This should allow a lazy execution of the branches. (see [tf.cond](https://www.tensorflow.org/api_docs/python/tf/cond))

[2018-01-10 18:43] nbro commented on #4865
@itsmeolivia Why did you close this issue?

[2018-01-10 18:56] tensorflowbutler commented on #16000
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 18:56] tensorflowbutler commented on #16004
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-10 18:56] tensorflowbutler commented on #14826
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-10 18:56] tensorflowbutler commented on #15425
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-10 19:06] navneethc opened #16014 "Error While Importing Tensorflow 1.5 RC0 with CUDA 9.1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64-bit
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5 RC0
- **Python version**: 3.6.3 (via Anaconda)
- **Bazel version (if compiling fro

[2018-01-10 19:08] shivaniag commented on #15949
@mrry could you take a look into this or redirect?

[2018-01-10 19:21] yzhwang commented on #15897
Thanks for the investigation. I will do some benchmark and give updates.

[2018-01-10 19:45] PiotrCzapla commented on #15630
@asimshankar  I'd like to second @facaiy here, I would love to see explanation in the docs, it would save me quite some time today.

[2018-01-10 20:04] mrry commented on #15949
@meteorcloudy Is this a known issue with the Bazel/Windows build?

[2018-01-10 20:04] Gemesys commented on #15933
Thank-you so much for this, quaeler!  This is really helpful.  The behaviour on your 10.12.6 macos matches *exactly* what I am seeing on my Linux box, which seems to be very stable, and does not show any evidence of any other issue anywhere, so far.  I'm running Firefox 52.2 ESR, and a bunch of Tcl/Tk stuff, including an editor, some encryption stuff, and such.    It all works, and I have confiden

[2018-01-10 20:07] rajatmonga commented on #6683
@ebrevdo do we have a reproducible example for this problem? Thanks!

[2018-01-10 20:22] zheng-xq commented on #15897
Volta GPU actually has a format conversion by itself. It's from Cudnn, not TensorFlow. For certain shapes, it is actually faster to be in NHWC.

[2018-01-10 20:33] aalexsmithh commented on #16014
You likely have `cudart64_91.dll` instead of `cudart64_90.dll`. It seems as though tf doesn't yet have support for CUDA 9.1.

[2018-01-10 20:33] jart commented on #15777
I'm pretty sure at this point it's impossible to build TF binaries on Ubuntu 16 that work on Ubuntu 14. The [dual ABI](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html) macro is able to remove a lot of the newer __cxx11 symbols, but no matter what I try, dependencies on new libc and libc++ interfaces just keep sneaking in.

Probably the only way it'd be possible to maintain Ubun

[2018-01-10 20:40] gunan commented on #15777
No, what I meant was for ubuntu 14, binaries can be built on ubuntu 14 for ubuntu 14.
We still have CI systems that have ubuntu 14 installed, and TF passes all tests ubuntu 14, too.

In the future, when some of our plans land this will be averted because we will have distribution systems that will check host OS and hardware, but at the moment pip does not offer much.

[2018-01-10 20:42] navneethc commented on #16014
Yes, that's true, I can see the dll for 9.1. 9.1 is the default download option at the CUDA website. Since the 1.5.0 rc page* didn't specify anything about minor versions, I assumed 9.1 was okay.

* https://github.com/tensorflow/tensorflow/releases/tag/v1.5.0-rc0

[2018-01-10 20:42] gunan commented on #15850
@xav12358 Please see my comment right above your question

[2018-01-10 20:43] #15850 closed

[2018-01-10 20:50] droidicus opened #16019 "tf-nightly and master - cannot import tensorflow"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: tf-nightly-gpu-1.6.0.dev20180110
- **Python version**: 2.7
- **Bazel version (if compiling from s

[2018-01-10 21:10] brianwa84 commented on #15951
Hopefully resolved by CL 181506335, which adds "#include <array>" to the runtime_fft_impl.h file. LMK if that doesn't work.

[2018-01-10 21:10] #15951 closed

[2018-01-10 21:13] Mazecreator commented on #15932
@tensorflowbutler Updated

[2018-01-10 21:27] Carmezim commented on #15951
@brianwa84 Cool, thanks!

[2018-01-10 21:28] neilpanchal commented on #14244
Windows 10 wheels please! Eagerly waiting for windows Cuda 9 support.

[2018-01-10 21:48] thaynewalker commented on #10073
FWIW I tried option #1 from @KashiErez  - Installing cuda on non-gpu machines as well. It turns out that while I can in fact install cuda on a machine with no GPUs, nvidia-docker dies with "unknown error". My guess is that cuda relies on an actual GPU being present in order to work correctly. Looks like virtualenv is the way to go.

[2018-01-10 21:49] shivaniag commented on #16009
@gunan could you see if this is something we would want to have.

[2018-01-10 22:05] samuelBB commented on #15656
@jonghyunc @gunan Can confirm that building TF 1.5 from source with CUDA 9.1 and cuDNN 7.0.5 works fine on Ubuntu 16.04. Works fine for both python 2.7.12 and 3.5.2. Just built today from TF master (latest). A few weird warnings here and there during building and when I run a program, but runs fine. Haven't done any benchmarking yet.

[2018-01-10 22:29] aalexsmithh commented on #16014
The `tf-nightly` build might might have support for 9.1, although I havent looked into that. Also be sure to close this issue!

[2018-01-10 22:46] #14620 closed

[2018-01-10 22:48] ebrevdo commented on #6683
@rajatmonga I believe the code in https://github.com/pickou/multiplicative-lstm should reproduce the problem.  I tried running it the other day but the training phase didn't end, and i wasn't sure what parameters to tweak to ensure it finished quickly enough that i could try loading a corrupt checkpoing.  @pickou does training need to run for as long as it does?

[2018-01-10 22:57] gunan commented on #15656
I have not built myself but @reedwm or @tfboyd may be able to confirm.
Since 9.1 is a minor release, I would expect anything that works with 9.0 to work with 9.1.

[2018-01-10 23:05] jonghyunc commented on #15656
@samuelBB I've successfully built TF 1.5 from source (branch r1.5, a week ago, before they release the 1.5 in the master branch) with CUDA 9.1 and cuDNN 7.0.5 on Ubuntu 16.04; can train a network and performs inference. Tested on Titan V, Titan Xp, and Titan X and had no problem.

[2018-01-10 23:06] samuelBB commented on #15656
@gunan @jonghyunc Ah, I think I was unclear in my comment. I meant to say that *I can confirm...* as in I was able to successfully do the things described in my comment. I edited my above comment.

[2018-01-10 23:10] gunan commented on #16009
This is because you built with `--config=opt`,  it will try to build with whatever your machine arch seems to return. So I recommend trying with omitting `--config=opt`. Please note that `-c opt` and `--config=opt` are different.

For skipping android settings, cc @angersson

[2018-01-10 23:11] zhangjinhong17 opened #16023 "can't feed the multi-channel to contrib_audio.audio_spectrogram"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-1.4.0-cp35-cp35m-linux_x86_64.whl
- **TensorFlow version (use command below)**: 1

[2018-01-10 23:22] angersson commented on #15581
I've submitted an internal change that adds --fat_apk_cpu=... when using --config=android_arm{,64}. Once it gets synced, we shouldn't see this particular problem much any more.

[2018-01-11 00:22] shivaniag commented on #15995
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-11 00:22] #15995 closed

[2018-01-11 00:23] CarltonSemple commented on #14691
@gunan with cuda 9.0 & cudnn 7, I'm still seeing the error as of commit https://github.com/tensorflow/tensorflow/commit/25d275280dfb163674f81c7681c2c1d34545a155 .

I used
[code]

Additionally, I found the original error earlier in the logs. It's
[code]

I'm using MSBuild 15.5.180.51428, the one with Visual Studio 2017

[2018-01-11 00:25] nbro opened #16025 "Checkpoints continue to grow after the first restore"
### System information
- No

- **OS Platform and Distribution**: Mac OS X, v 10.13.2
- **TensorFlow installed from**: binary
- **TensorFlow version**: v1.3.0-rc1-5211-gab0fcac 1.5.0-dev20171126
- **Python version**: Python 3.5.0
- **Bazel version**: N/A
- **GCC/Compiler version**: N/A
- **CUDA/cuDNN version**: N/A
- **GPU model and memory**: Intel Iris Pro 1536 MB
- **Exact command to reproduce**:

[2018-01-11 00:48] shivaniag commented on #15983
@martinwicke does it seems likes a feature we would want to have or there is any workaround for it?

[2018-01-11 01:17] godrxz commented on #15996
@kaspermarstal Thanks for replying, I solve the problem what I submitted, simply add -fPIC flag on the corresponding dependency folder's CMakeCache.txt should be OK, beside zlib, png has the same problem.

so now the question is how to modify the CMakeLists to avoid the error.

[2018-01-11 01:17] laoreja commented on #15082
Meet same problem when running https://www.tensorflow.org/versions/master/tutorials/recurrent_quickdraw#defining_the_model

[2018-01-11 01:18] godrxz commented on #15996
Now the new problem is:

fatal error: cuda/extras/CUPTI/include/cupti.h: No such file or directory
 #include "cuda/extras/CUPTI/include/cupti.h"
                                             ^
compilation terminated.

[2018-01-11 01:22] cy89 commented on #11962
It looks like we should have removed the "awaiting tensorflower" label back in August, after @gunan commented. I'll close; @meteorcloudy please reopen if you've got an answer for @gunan's question and want to pursue.

[2018-01-11 01:22] #11962 closed

[2018-01-11 01:24] shivaniag commented on #15981
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-01-11 01:24] #15981 closed

[2018-01-11 01:26] JenkinsY94 commented on #5847
I encountered the same issue. And if I change this line `embd_in = tf.placeholder(tf.float32,[10,3])`  to `embd_in = tf.placeholder(tf.int32,10,3])` and run the above code, I got InvalidArgumentError as expected.
Cannot figure out why is this related to dtype?
Also, the `tf.gather()` behaves the same as `tf.embedding_lookup()`

[2018-01-11 01:29] ebrevdo commented on #5847
Have you tried placing everything on CPU?  Do you now consistently get the
error?

Problem is probably caused by us not being able to efficiently perform
error checking on GPU kernels.

On Wed, Jan 10, 2018 at 5:27 PM, jkyu <notifications@github.com> wrote:

[2018-01-11 01:30] cy89 commented on #15980
@ebrevdo do you have any suggestions?

[2018-01-11 01:31] cy89 commented on #15990
Marking as "awaiting response" because of the [tracking bug] in the title.

[2018-01-11 01:37] cy89 commented on #16010
@chrert do any of the flags/instructions at the Intel website help: https://software.intel.com/en-us/articles/build-and-install-tensorflow-on-intel-architecture

In particular, they use --copt="-DEIGEN_USE_VML" for building a pip package.

[2018-01-11 01:38] #16014 closed

[2018-01-11 01:39] shivaniag commented on #15957
@jart could you take a look at this?

[2018-01-11 01:41] wangsen1312 commented on #14244
@neilpanchal   The newest 1.5 support the CUDA 9 and CUDNN 7

[2018-01-11 01:44] pvaneck commented on #16019
Double check and make sure you aren't starting jupyter-notebook or the python interpreter from the tensorflow source directory. That seems to be a common cause for this particular error.

[2018-01-11 01:45] CarltonSemple commented on #14691
@gunan https://github.com/tensorflow/tensorflow/commit/25d275280dfb163674f81c7681c2c1d34545a155 was from master as of yesterday

[2018-01-11 02:22] GT123 commented on #15998
I have not figured it out, but instead I find a way around.
the problem lies on the code how to generate the .pb file .   since , here my requirement is to make the input size flexible, I need to add two more input layer for width and height. after generation of .pb file, the model will support variable input sizes

[2018-01-11 02:22] #15998 closed

[2018-01-11 02:25] pickou commented on #6683
@ebrevdo set the epoch to small value, 2 or 1. set hidden units to small value, maybe 64 or 128。set lr to 0.01 or higher.

[2018-01-11 02:27] jart commented on #15957
@case540 This is a bug with git autoconf. I've reproduced it.

The quick fix would probably be to say `export TF_CONFIG_TIME="$(date)"` in configure.py and add it to the `environ` list in git_configure.bzl.

The best fix might be to not call `repository_ctx.execute()` inside `git_configure`. Instead, consider having it only create symlinks (e.g. branch_ref, head) and then generate a BUILD file wit

[2018-01-11 02:28] joel-shor commented on #15821
Apologies for the delay!

I do have plans to make TFGAN TF-Eager compatible. I'll discuss with @iganichev and update this thread ASAP.

[2018-01-11 02:48] davinnovation commented on #6698
In my case, I was running torch on a background and have the same problem.
I think... CUDNN_STATUS_INTERNAL_ERROR can happen when other program using cudnn

[2018-01-11 02:52] joel-shor commented on #15271
Sorry for the delay.

I'm open to threading `transform_grads_fn` through the GANEstimator. Would you like to send a PR with that?

You should be able to use normal debugging techniques to check that your pretraining `get_hooks_fn` is correct

[2018-01-11 02:52] #15271 closed

[2018-01-11 02:54] joel-shor commented on #15278
This seems to be fixed by the above PR.

[2018-01-11 02:59] thzhao opened #16026 "can't use mpi_allreduce op when tensors run on gpus"
I compiled and installed new mpi_collective feature with openmpi3.0 on tensorflow 1.5.  When I use allreduce function to aggregate loss, I got segmentation fault errors. However, When I force code to run on CPU device, it's fine.

**## here is my runtime environment.**
== cat /etc/issue ===============================================
Linux user-ubuntu 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri J

[2018-01-11 03:02] ebrevdo commented on #15980
@nikita68 this is a very involved example.  can you provide a much smaller, minimal, failure case?

[2018-01-11 03:03] ebrevdo commented on #15980
at least try running your while_loops with `parallel_iterations=1` since it looks like you're assigning values inside your body and this is going to happen concurrently and mess everything up :-p

[2018-01-11 03:23] Multihuntr commented on #14699
I've played around with it a little more, and it turns out that this issue only occurs when the operation is actually created inside the cond. So this will work fine:

[code]

But this will break everything:

[code]

This is because the operations defined outside the `myfunc` are always executed, regardless of the result of the condition. So, you CAN use batch norm with conditionals, you just have

[2018-01-11 03:42] Multihuntr commented on #14699
A better solution for using batch norm inside a conditional: [`tf.contrib.layers.batch_normalization`](https://www.tensorflow.org/api_docs/python/tf/contrib/layers/batch_norm) allows you to set `updates_collections=None` to force the updates to happen before you get the batch norms output (and thus not adding them to UPDATE_OPS).

However [`tf.layers.batch_normalization`](https://www.tensorflow.or

[2018-01-11 03:47] Multihuntr commented on #14699
Ah, that's actually a fairly general workaround. Instead of adding ops to the UPDATE_OPS, you enforce that it must be completed before getting the output of your branch in the `tf.cond`.

So the solution to the OPs problem is to rewrite their `myfunc2` as follows:

[code]

[2018-01-11 04:41] ppwwyyxx commented on #14809
I'm not sure why this was closed without answers. An option to update the moving averages internally is a totally valid feature request.

Besides the ease of use, #14699 has mentioned another valid reason for this feature, i.e. to use within `tf.cond`, the update ops should be evaluated depending on the condition.

`tf.contrib.layers.batch_norm` already supports this feature, btw.

[2018-01-11 04:47] olegserov opened #16028 "Optimzer: Better handling of gradients for min/max ops."
Please don't kick me too hard for this. If this ticket should not be here, please direct me to the proper place. It's not a help or support request, just a very naive idea/request/improvement.

Image a model has this op in the graph: `y = tf.maximum(a, b)`. If `y` is contributing error to the loss (higher `y` higher is loss), then you are interested in minimizing both `a` and `b`. Otherwise, your

[2018-01-11 04:59] jart commented on #7324
Closing due to inactivity. If this is still an issue, let me know and I'll reopen.

[2018-01-11 04:59] #7324 closed

[2018-01-11 05:01] jart commented on #14154
Closing due to inactivity. But anyone is still welcome to send us a PR improving these docs.

[2018-01-11 05:01] #14154 closed

[2018-01-11 05:04] jart commented on #13952
Closing due to inactivity. If it's still a problem let us know and I'll reopen. Might also be worth checking StackOverflow.

[2018-01-11 05:04] #13952 closed

[2018-01-11 05:07] jart commented on #11736
Closing due to inactivity. If it's still a problem let us know and I'll reopen.

[2018-01-11 05:07] #11736 closed

[2018-01-11 05:08] AlexanderYukhanov commented on #13952
But nobody even tried to answer -)

[2018-01-11 05:13] jart commented on #13952
[StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) is the best place to get TensorFlow support. There's a larger community there and better searchability.

[2018-01-11 05:18] cayman1021 commented on #8251
I tried Python 3.6.x and 3.7.x (64-bits). Only Python 3.5.x works for "tensorflow-gpu". FYI.

[2018-01-11 05:44] fengyukun opened #16031 "tf.data.Dataset.padded_batch() doesn't work with dataset.map using tf.py_func"
------------------------

### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: CentOS Linux release 7.2.1511
- **TensorFlow installed from**: pip
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 2.7.5

### Describe the problem
It's quite common for NLP tasks to read variable-length sentences from text files, to map them and to pa

[2018-01-11 06:11] asimshankar commented on #16008
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

If you post to StackOverflow, you might want to share more information on how you're measuring time. A couple of things to think about:

- If you're measuring the time for the very fi

[2018-01-11 06:11] #16008 closed

[2018-01-11 06:15] asimshankar commented on #16010
Note that the tarball built by the `//tensorflow/tools/lib_package:libtensorflow` bazel rule includes only files (two `.so`s and one `.h`) specific to TensorFlow. It does not package other binary dependencies (like `libc`, or CUDA libraries if building for GPUs etc.). So, in this case, it isn't packaging the MKL libraries either.

So you'd want the MKL libraries to be installed on the machine when

[2018-01-11 06:22] sj6077 commented on #13329
Is there anyone to give me an answer?

[2018-01-11 06:34] kxhit commented on #14826
I rebuild libtensorflow_cc.so using command bazel build --config=monolithic :libtensorflow_cc.so , and can read any images successfully.
see  #14267[](https://github.com/tensorflow/tensorflow/issues/14267#issuecomment-351914635)

[2018-01-11 06:53] jppgks commented on #15821
That’s good to hear! Let me know if I can help with anything.

[2018-01-11 06:56] benshi001 commented on #15581
Thank you so much!

[2018-01-11 07:16] gunan commented on #14691
http://ci.tensorflow.org/job/tf-master-win-gpu-cmake/
Looks like our continuous build is healthy. But our build uses VS 2015,  and we do not set SIMD options.
So these may be the cause of the failure you are seeing.

The error message above is helpful, but still does not capture what compiler emits for that build target. Is it possible for you to file a new issue, and maybe share the full build ou

[2018-01-11 07:24] gunan commented on #12468
@petewarden @andrewharp have you seen this issue on android before?
I think this may be a separate issue than the initial report that we may want to investigate further.

@Pelups I still cannot see the commit you are synced to. Could you share the output of this command:
[code]

[2018-01-11 07:32] chrert commented on #16010
@cy89 Thanks for the resource, but I guess it's not directly related.

@asimshankar I see your point, but I thought it would be consistent to include all libraries that were built during tensorflow compilation. After all, the build routine downloads and builds MKL-DNN by itself. Anyway, thanks for your clarification!

[2018-01-11 07:33] Pelups commented on #12468
@gunan
This is the output :
`v1.4.0-8-gd70a2c2`

[2018-01-11 07:44] gunan commented on #12468
From what I can see from your commit, you are NOT synced to github tensorflow/tensorflow repository master. Your tags say you are 8 commits ahead of 1.4 tag, which is at this point more than two months old.

Please try cloning `tensorflow/tensorflow` repository again, and building from head. If you want to use your own client, please see git documentation on how to fetch/pull the latest version of

[2018-01-11 07:44] #12468 closed

[2018-01-11 07:53] abhijitghosh2 commented on #14248
According to your Python or Anaconda version ....install perfect version of tensorflow and keras otherwise it will give error.

[2018-01-11 07:53] nasica88 commented on #12579
Met the same error

gcc   4.8.5 20150623 (Red Hat 4.8.5-16)
glibc  2.17-196.
bazel  0.8.1- (@non-git)
OS  Red Hat Enterprise Linux Server release 7.4 (Maipo)

[2018-01-11 07:55] #16001 closed

[2018-01-11 08:05] chriszeng87 commented on #15360
Yes, I got the same problem on Mac, CPU version

[2018-01-11 08:23] kaspermarstal commented on #15996
Updated my previous comment with the correct issue number. PR is here: #16007. Don't know about the second issue though :)

[2018-01-11 08:31] godrxz commented on #15996
@kaspermarstal Thanks, I think your PR is related to my previous problem, I will check the CMakeLists file. My second issue is due to the contrib/nccl/ project has two wrong include path, already fixed.
Now struggle with the final link step... let's make the cmake build more friendly for linux.

[2018-01-11 08:34] navneethc commented on #16014
Could someone tell me when 9.1 is likely to be supported? And for future reference: where can I find the exact versions of the dependencies? Thanks.

[2018-01-11 08:54] selcouthlyBlue commented on #15985
I'm not sure if this is how it's done but I got so far: https://stackoverflow.com/questions/39838234/sparse-matrix-from-a-dense-one-tensorflow

[code]

I've tried the following:

1. If shape = labels.get_shape(), I get `ValueError: Cannot convert a partially known TensorShape to a Tensor: (?, 33)`
2. If shape = (1, 33) or tf.shape(labels, out_type=tf.int64), I get `ValueError: Shape must be rank 1

[2018-01-11 09:19] tomrunia commented on #15977
Done, although quite irrelevant.

[2018-01-11 09:19] filipetrocadoferreira commented on #6766
wow, this seems to work. Can you link to an explanation?

[2018-01-11 09:36] deep150 commented on #15082
update your tensorflow and issue will be resolved as tf.estimator was added in tensorflow 1.3

[2018-01-11 09:36] #15082 closed

[2018-01-11 10:23] kangshan0910 opened #16032 "When will those operations such as "BuiltinOperator_L2_NORMALIZATION" be delegated to NNAPI?"
System information
Have I written custom code: yes
OS Platform and Distribution: Ubuntu 14.04
TensorFlow installed from: pip
TensorFlow version (use command below): 1.4.1
Python version: 2.7.5

My problem:
      My android application wants to load the "facenet" model through TF lite with NNAPI enabled to do face recognition. But it always crashed. After I debugged,  I found it was caused by that

[2018-01-11 10:35] benshi001 opened #16033 "NNAPI/libneuralnetwors.so does not work for other models than default mobilenet_quant_v1_224.tflite"
I have made changes to tensorflowlite to force it use nnapi on my android 8.1 phone, and the nnapi only worked normally for the default default mobilenet_quant_v1_224.tflite.

The nnapi/libneuralnetworks.so did not work for the tensorflow_inception_graph.tflite inside the attached asserts.zip, which was built by toco, from tensorflow_inception_graph.pb of https://github.com/tensorflow/tensorflow/t

[2018-01-11 10:37] Pelups commented on #12468
I don't know how the above command works, but after cloning the Tensorflow repository, using it on the master branch gives me:
`v1.1.0-rc2-1971-gab2c63a`

And I still have the same issue.

[2018-01-11 10:45] lipond commented on #14784
not yet

[2018-01-11 11:03] Faur opened #16034 "Feature request: tf.nn.dropout noise_shape should support unspecified dimensions"
It would be nice if the noise_shape in [tf.nn.dropout](https://www.tensorflow.org/api_docs/python/tf/nn/dropout) would support unspecified dimensions, and just use the shape of the input tensor, e.g. `-1` or `None`. This way it could be specified as `noise_shape = [-1, 1, 1, -1]` instead of `noise_shape = [k, 1, 1, n]`.

[2018-01-11 11:04] chiru83 opened #16035 "FasterRCNN error"
Hi friends.
While  i am trying to execute tensor flow based faster RCNN, i got the following error.
please help me how to solve this.

tensorflow.python.framework.errors_impl.InternalError: WhereOp: Could not launch cub::DeviceReduce::Sum to count number of true indices.  temp_storage_bytes: 2815, status: invalid device function

[2018-01-11 11:06] chiru83 commented on #16035
This is the complete error

018-01-11 06:05:49.066479: W tensorflow/core/framework/op_kernel.cc:1192] Internal: WhereOp: Could not launch cub::DeviceReduce::Sum to count number of true indices.  temp_storage_bytes: 2815, status: invalid device function
2018-01-11 06:05:49.066923: W tensorflow/core/framework/op_kernel.cc:1192] Internal: WhereOp: Could not launch cub::DeviceReduce::Sum to count numb

[2018-01-11 11:08] chiru83 commented on #16035
018-01-11 06:05:49.066479: W tensorflow/core/framework/op_kernel.cc:1192] Internal: WhereOp: Could not launch cub::DeviceReduce::Sum to count number of true indices.  temp_storage_bytes: 2815, status: invalid device function
2018-01-11 06:05:49.066923: W tensorflow/core/framework/op_kernel.cc:1192] Internal: WhereOp: Could not launch cub::DeviceReduce::Sum to count number of true indices.  temp_st

[2018-01-11 11:09] chiru83 commented on #16035
This is the complete error while , executing faster RCNN. please help me to resolve it. Thanks in advance.

018-01-11 06:05:49.066479: W tensorflow/core/framework/op_kernel.cc:1192] Internal: WhereOp: Could not launch cub::DeviceReduce::Sum to count number of true indices. temp_storage_bytes: 2815, status: invalid device function
2018-01-11 06:05:49.066923: W tensorflow/core/framework/op_kernel.cc

[2018-01-11 11:14] prabhundps opened #16036 "raise PiCameraMMALError(status, prefix) picamera.exc.PiCameraMMALError: Failed to enable connection: Out of resources"

[2018-01-11 11:36] DenisN03 commented on #6035
@mmpinso, @liangxiao05 why do you run enet instead of segnet? Did you run enet on cpu?

[2018-01-11 11:38] godrxz commented on #15996
If close grpc OFF, the build can not pass. noted

[2018-01-11 12:37] elenisg commented on #15943
Could you please help me concerning the proposed replacement?

Thank you

[2018-01-11 12:54] unsalatasoy opened #16038 "Link gives 404"
https://github.com/tensorflow/models/tree/master/syntaxnet#installation gives   404

[2018-01-11 12:57] tensorflowbutler commented on #16025
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code

[2018-01-11 12:57] tensorflowbutler commented on #16026
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-11 12:57] tensorflowbutler commented on #16028
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-11 12:57] tensorflowbutler commented on #16031
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-11 13:12] wzywzy opened #16039 "How TF-Detect draw a rectangular?"
How TF-Detect draw a rectangular?
I can't find the corresponding code?
Is it calling OpenGL to draw a rectangular?

[2018-01-11 14:01] nikita68 commented on #15980
@ebrevdo I completely forgot about that parameter! Unfortunately, the error still persists. I'm trying to make a really small example showing where the code fails, but in the meantime here is a minimum version of the code above (the error is in the run_full_transducer.body function):
[code]

[2018-01-11 14:02] eddy-ilg opened #16040 "Bug in boolean input tensors for ops"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes.

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
pip3 install --user tensorflow-gpu

- **TensorFlow version (use command below)**:
1.4.1

- **Python version**:
3.5.2

- **Bazel version (if

[2018-01-11 14:02] leandroBorgesFerreira commented on #15956
Hi @andrehentz, thanks for the response! This workaround doesn't work due to this issue: [https://github.com/tensorflow/tensorflow/issues/15699](https://github.com/tensorflow/tensorflow/issues/15699)

I believe this happens because TensorFlow lite is built using Java 8.

[2018-01-11 14:05] nbro commented on #16025
@tensorflowbutler Ok, I have added it.

[2018-01-11 14:13] eddy-ilg commented on #16040
I think I found the problem: in the compute function there was this line of code:

const_cast<float*>(context->input(1).flat<float>().data())

If I change float to bool there it works. However, the execution of the program before never even got to this statement so it seems to be something that is set during compile time! (which I cannot read from this code)

[2018-01-11 14:13] #16040 closed

[2018-01-11 14:25] timmolter opened #16041 "Code documentation for `confusion_matrix.py` misleading"
### Describe the problem

The documentation for `confusion_matrix.py` says:

[code]

, however I found that those two arguments are simply python arrays and not Tensors. The following trial test code demonstrates this. As a TF/Python newbie, I'm wondering if this is actually a real issue, and if so I'll create a PR to correct it to prevent confusion to future programmers.

### Source code / logs

[2018-01-11 14:37] meteorcloudy commented on #15949
This happens because `C:\msys64\usr\bin` is not in your PATH environment variable. So all Bash commands  (eg. rm, ls, cat ...) couldn't be found.

There are two workarounds for this:
- `set PATH=%PATH%;c:\msys64\usr\bin`, then run `bazel shutdown` to make bazel pick up the new PATH value
- Run Bazel in MSYS terminal so that necessary directories are already added into PATH.

Ideally, we should rep

[2018-01-11 14:37] gustavopinto commented on #2361
Reponse from the mailing list: http://bit.ly/2qU65Vw

[2018-01-11 14:48] standy66 opened #16042 "tf.contrib.cudnn_rnn.CudnnGRU does not work with input_mode='skip_input' in TF1.5"
### System information
- **OS Platform and Distribution**: Linux Ubuntu 16.04
- **TensorFlow installed from**: `pip install tensorflow-gpu==1.5.0rc0`
- **TensorFlow version**: v1.3.0-rc1-6090-g622487f 1.5.0-rc0
- **Python version**:  3.5
- **CUDA/cuDNN version**: CUDA 9.0, CuDNN 7.0.5
- **GPU model and memory**: GTX 1080 8GB

### Describe the problem
We are running tf.contrib.cudnn_rnn.CudnnGRU in

[2018-01-11 15:59] andrehentz commented on #16033
Could you inspect the output of 'adb logcat' for errors from the demo app?

[2018-01-11 16:00] olegserov commented on #16028
**Mandatory questions:**
Have I written custom code: N/A? Yes? I have no idea.
OS Platform and Distribution - Any N/A
TensorFlow installed from - pypi
TensorFlow version - '1.4.1'
Bazel version - N/A
CUDA/cuDNN version - N/A
GPU model and memory - N/A
Exact command to reproduce.

**Slow optimizer:**
[code]
Outputs:
[code]

As you can see it is pooling `a` down, then `b`, and then again. It will re

[2018-01-11 16:12] squall-1002 opened #16044 "Feature Request: tf.multi_one_hot that is one-hot encoding multiple columns of a Tensor"
Hi there,

I just wrote a function that creates multiple one-hot-encodings for a tensor and concatenates them. I was curious whether this might serve some others and contribute this feature.

[code]
I am happy for your feedback. Tell me if you think others might profit and I would enjoy to create a pull request ;)

[2018-01-11 16:12] takotab commented on #10815
Thank you this seems to solve the problem. Is there some example code that I could use to use this? Because I can not just use it as a helper function, can I?

[2018-01-11 16:23] cgarciae commented on #13161
This is definitely confusing and was a headache to solve since I was getting an `Incompatible Shape` error consistently near step 1000 of training. Its worst since there is few documentation.

I would suggest adding a kwarg like `drop_remainder = False` to the `batch` method that implements the solution suggested by @mrry.

[2018-01-11 16:49] BrazilForever11 commented on #6971
I experienced the same issue. Reducing vector size solved the problem, alternatively one can try machine with more RAM.

[2018-01-11 16:59] Gemesys commented on #15933
Given what quaeler reported, I uninstalled my built-from-source version of Tensorflow-1.4.1 on the Macbook, and installed the binary version of Tensorflow that quaeler used to get the correct simulation results he shows for Sierra macos.  Then, I edited my .bash_profile to revert to the previous, binary installed Python (2.7.14), which has ucs2 encoding for unicode characters. (Thats the one issue

[2018-01-11 17:12] anonym24 commented on #16008
@asimshankar  Thanks for the answer. I'll later upload sample java project on my github page which is used for tensorflow object detection with video (I ported some Android Sample Tensorflow Code https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java to work it on Ubuntu/Windows Java PC). I'll ask question on Stackoverflow wit

[2018-01-11 17:16] andrehentz commented on #15537
This looks like a bug that is triggered by specifying a nonexistent tensor as input. Perhaps you meant to specify "input_1" as your input array, instead of simply "input"?

[2018-01-11 17:33] #15619 closed

[2018-01-11 17:51] martinwicke commented on #15983
The answer depends on how you are using TensorFlow.

If you are writing plain low-level TensorFlow code and your own training loop (e.g., using MonitoredTrainingSessions interleaved with validation, this is very straightforward. The learning rate is a parameter to the optimizers, which is a Tensor. The Tensor could be computed any way you like to, including any sort of plateau detection (presubmab

[2018-01-11 17:51] #15983 closed

[2018-01-11 17:55] joeyearsley opened #16045 "XLA: Won't converge and doesn't respect visible devices."
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes (writing a copy I can share)
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Nvidia Optimized Container 17.12
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.1
- **Pytho

[2018-01-11 17:56] mrry commented on #16031
The structure of the element and the padding specification doesn't match. Replace these lines:

[code]

with either:

[code]

...or:

[code]

[2018-01-11 17:56] #16031 closed

[2018-01-11 18:13] yaroslavvb opened #16046 "Feature Request: clarify supported environments for official binaries."
As it stands now, binary release of TensorFlow 1.5 is set to drop compatibility with Ubuntu 14.04 ( https://github.com/tensorflow/tensorflow/issues/15777), and compatibility with Debian Linux distros, such as Amazon Linux AMI (`ImportError: /lib64/libm.so.6: version `GLIBC_2.23' not found`).

To avoid surprise, TensorFlow should either:
1. Follow other open-source projects like Ray/PyTorch and pro

[2018-01-11 18:20] karankg1997 commented on #8037
I C:\tf_jenkins\home\workspace\rel-win\M\windows\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX AVX2

As You can see the warning is with my system also but In that, I am not able to understand 'I' in the starting of the Warning so someone can help me in that case

[2018-01-11 18:23] asimshankar commented on #16008
Sorry, those questions are beyond the scope of my expertise - or really beyond the scope of a TensorFlow bug/feature request :)

Though, aren't you comparing different models? TensorFlow Object Detection is using mobilenet or inceptionv2 or something, while you're comparing against a different Yolo model?

@jch1 @tombstone @derekjchow @jesu9 @dreamdragon may have some comments on the mAP numbers a

[2018-01-11 18:24] saeed68gm commented on #6035
@mmpinso Sure, I can share it in a bit. Did you make sure you are on tensorflow version 1.4? the patch should apply seamlessly. Just change the extension to .patch and apply using the command git apply max_pool_1.4.patch

[2018-01-11 18:25] martinwicke commented on #16046
@gunan at the very least we must update the support matrix, which is public.

However, there is a valid question as to whether we can continue to have our binaries work on 14.04 simply by building against an older GLIBC.

[2018-01-11 18:27] Gemesys commented on #15933
In case anyone is following this, here is the protocol for switching back to your custom-built TF version, from a binary one.  Just go to the directory where you built TF, and run ./configure to make sure you are pointing to your local python (I have a binary version installed in the ..frameworks area, and a local built one in /usr/local/bin with the site packages in /usr/local/lib/python2.7/site-

[2018-01-11 18:36] ryanpeach commented on #6724
I recommend, especially if it is easy, that we make a function to optimize it and automatically do the transformation for the user. This is simple to conserve the pattern in Keras that every compatible 2d function has a 1d equivalent (and maybe even a 3d).

[2018-01-11 18:37] #15954 closed

[2018-01-11 18:45] ryanpeach commented on #6724
Something like this:

[code]

[2018-01-11 18:49] #16010 closed

[2018-01-11 18:50] ragnarok22 commented on #14295
Hi, I wish more examples in Java but also tutorials too to learn the tensorflow workflow in Java. Thanks

[2018-01-11 18:58] yongtang commented on #16046
@yaroslavvb Debian stretch uses `glibc 2.24`. This is new than Ubuntu 16.04's `glibc 2.23`. I think Debian stretch might still work (haven't tried yet).

[2018-01-11 19:00] gunan commented on #8037
"I" there just is a shorthand for "INFO". The other letters you can see there are E for error, or F for fatal.

[2018-01-11 19:01] tensorflowbutler commented on #16034
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-11 19:01] tensorflowbutler commented on #16036
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-11 19:01] tensorflowbutler commented on #1122
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-11 19:01] tensorflowbutler commented on #10155
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-11 19:01] tensorflowbutler commented on #10240
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-11 19:01] tensorflowbutler commented on #10679
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-01-11 19:01] tensorflowbutler commented on #11138
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-01-11 19:01] tensorflowbutler commented on #11665
Nagging Awaiting TensorFlower: It has been 14 days with no activityand the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-01-11 19:01] tensorflowbutler commented on #14857
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-01-11 19:10] cy89 commented on #16032
@andrehentz @aselle @petewarden

[2018-01-11 19:13] gunan commented on #12468
Can you share your full terminal output using pastebin?
The reason I am asking so many questions is, the issue reported here was definitively solved at head.
So I just want to check if yours is a similar problem.

[2018-01-11 19:14] yaroslavvb commented on #16046
PS: Amazon Linux uses glibc 2.18

[2018-01-11 19:18] qaavi commented on #15505
Use the same configurations to freeze the graph as you used during training, like you may have changed --model_architecture,  --window_stride_ms, --sample_rate, etc

[2018-01-11 19:18] cy89 commented on #16038
@unsalatasoy where does the link come from?

[2018-01-11 19:19] cy89 commented on #16038
@unsalatasoy it looks like it's back up again. I'll close, please reopen if you're still having problems.

[2018-01-11 19:19] #16038 closed

[2018-01-11 19:21] DrPingy opened #16048 "Cannot compile with Visual Studio 15"
If I build a version of the current tensorflow version 1.5.0RC on Windows with CMAKE and Visual Studio 15 following error is occurred:

1>sparse_column_iterable.cc
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.12.25827\include\algorithm(2417): error C2678: binary '*': no operator found which takes a left-hand operand of type 'const tensorflow::boosted_trees::uti

[2018-01-11 19:48] mas-dse-greina commented on #11549
I am running into the same problem. I'm running the ps on one machine and have workers running on  4 other machines.

Checkpoints seem to be saved without a problem, but if I try to use SavedModelBuilder at the end, then I get errors.  Also, I am worried about using the `sess.graph._unsafe_unfinalize()` trick because it says "unsafe" in the method name and looks like it is a private method.

Is th

[2018-01-11 19:56] sleighsoft commented on #9545
Same issue here

[2018-01-11 19:59] frank-wei opened #16050 "Eigen assertion when running on GPU with debug enabled"
I used r1.5 release version to compile in debug mode. The build command is
[code]
I tested the `tutorial/mnist/mnist_deep.py` and it got assertion below. I searched the forum and it seems that there is no clear answer for it. Thanks.

===========================
Answer the questions below:
Have I written custom code:No
OS Platform and Distribution:ubuntu 16.04
TensorFlow installed from: official
T

[2018-01-11 20:24] droidicus commented on #16019
Interesting, that was indeed the issue. Interestingly, when importing under Python 2.7 it gives the error: ```ImportError: No module named platform```

While under python 3.5 it gives the error: ```ImportError: Could not import tensorflow. Do not import tensorflow from its source directory; change directory to outside the TensorFlow source tree, and relaunch your Python interpreter from there.```

[2018-01-11 20:30] unsalatasoy commented on #16038
https://github.com/tensorflow/models/tree/master/syntaxnet#installation
this link still gives 404. I got this link from the following link.
https://www.tensorflow.org/versions/r0.12/tutorials/syntaxnet/

I think the right link must be following. Could you please confirm me
https://github.com/tensorflow/models/tree/master/research/syntaxnet

[2018-01-11 21:24] sid-kap commented on #5773
@mzur isn't this expected behavior with padding type "SAME"? As I understand it, if you want no zeroed-out cells, you should set padding = "VALID".

[2018-01-11 21:24] yongtang commented on #6766
Added PR #16051 for a fix.

[2018-01-11 21:31] tengyifei commented on #9509
Similar problem with Tensorflow 1.5.0-rc0 with XLA support. Model trains just fine with XLA turned off but hangs with XLA on.

[2018-01-11 21:31] mmpinso commented on #6035
@saeed68gm that was it, I was on the main/default branch. Changed to cuda 8 & cudnn 6 also and recompiling tensorflow now; thanks !!

[2018-01-11 21:43] zizhaozhang commented on #15367
This issue also happens to me. I have tried many different ways to resolve this issue.
Either K.set_learning_phase(0) or K.learning_phase(): 0 gives random results when loading back from a checkpoint @fchollet

[2018-01-11 21:52] ankitvgupta opened #16052 "Feature Request: Setting the shape of a tf.data.Dataset if it cannot be inferred"
Hello, I have really liked the new `tf.data.Dataset` api, and had a feature request.
I need to often make data transformations that require third-party libraries, and use `Dataset.map` along with a `tf.py_func` command as shown in the Importing Data tutorial. In the process of doing this, Tensorflow is not able to infer the shape of the numpy arrays that are returned by the py_func-based functions

[2018-01-11 21:54] shivaniag commented on #15891
@ebrevdo Do you have any thoughts on this or know who would know it best?

[2018-01-11 21:57] DeepakSridhar opened #16053 "java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0, TensorFlow on Android"
Hello,

Updated the following info:
Have I written custom code No its modification of the code from here https://github.com/MindorksOpenSource/AndroidTensorFlowMachineLearningExample
OS Platform and Distribution: Windows 10
TensorFlow installed from: anaconda
TensorFlow version: 1.2.0
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

I created  m

[2018-01-11 22:02] rajha-korithrien opened #16054 "Lack of Complex64 support for Java API"
This issue is not about a bug, but I will fill in the form anyhow ;-)
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Mac 10.13.2
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
master branch at comm

[2018-01-11 22:03] ebrevdo commented on #15891
Can you write a much smaller minimal failing test?

[2018-01-11 22:04] ebrevdo commented on #15891
oh wait; i see you did!

[2018-01-11 22:05] ebrevdo commented on #15891
Try passing `parallel_iterations=1` to your `while_loop` call.

[2018-01-11 22:16] fchollet commented on #15367
I think it's a bug, I'm looking at it.

[2018-01-11 22:16] dtrebbien commented on #15891
I just now tried adding `parallel_iterations=1` to my adapted #6087 test case, but this didn't fix the problem.

As for the first test case, you can take Parts I and III separately to reproduce the issue:

[code]

`computed_s` is the vector of singular values of B, whereas I am expecting that it will be the singular values of A.

[2018-01-11 22:18] martinwicke commented on #14826
That means that most likely the cause is a version mismatch of some dependent library (most likely libjpg): TF builds against the version pointed to by its bazel workspace, but links dynamically against what's installed. If those don't match, bad things happen. If you build --config=monolithic, you link statically and everything is fine.

The other fix for this is to change the bazel workspace dep

[2018-01-11 22:18] #14826 closed

[2018-01-11 22:19] fchollet commented on #15367
I believe it's a tricky import issues. Things are working internally, but break when doing

[code]

[2018-01-11 22:22] yzhwang commented on #9870
I could reproduce this with CUDA 8 with cudnn 6 and I've verified that with CUDA9 + cudnn7, the issue is gone. I think this is a cudnn bug, please refer to: https://github.com/tensorflow/tensorflow/issues/13869#issuecomment-338433690

Current OSS build from source as well as pip package for nightly (and 1.5 once it comes out) is CUDA9 + cudnn7, so expect this issue to be gone in these versions. Fo

[2018-01-11 22:31] fchollet commented on #15367
It's actually a user error. The problem is the following:

- You are using `tf.keras`, in particular the tf.keras BN layer (part of Xception model)
- You are setting the learning phase via `K` which is imported from `keras` (not tf.keras)

Therefore setting the learning phase does nothing to your model: it's acting on a different python module altogether...

The solution is this:

[code]

[2018-01-11 22:31] #15367 closed

[2018-01-11 22:42] marcocannici commented on #6766
@filipetrocadoferreira I can’t find any link with an extensive explanation (I tought it was explained in tf.cond ’s documentation but actually it is not). In short, if you don’t define the branches as functions, they will be both executed regardless of the condition. This explains why you still had the problem despite checking the tensor’s size.

[2018-01-11 22:49] zizhaozhang commented on #15367
@fchollet  In my case I do not have this module bug. My environment is tf 1.3. I am sure I use modules all from the same package.
So I tried 1) using tf.contrib.keras and 2) uses keras (2.12). Both cause random results when evaluation. My code was correct in early tensorflow+keras version (probably 8 months ago). But this time it is not working, I  believe there is some bugs of K.learning_phase()

[2018-01-11 22:55] fchollet commented on #15367
Then please open a new issue (since this one is not related) and provide a code standalone snippet to reproduce the problem.

[2018-01-11 23:00] rmlarsen commented on #15521
@KillPinguin thank for bringing this to our attention.
@jart The code doesn't compile with fp16. We would welcome a PR adding support. In the meantime, I'll change the code just skip the optimization without spamming the error log. It is at worst a missed optimization, but certainly not an error.

[2018-01-11 23:03] #15521 closed

[2018-01-11 23:34] issa-s-ayoub commented on #634
To solve this problem, you need to simply pass a list of variables to restore to the Saver object. I had this problem before, and after experimenting, I have posted my finding on saving and restoring variables along with the code on a stack overflow post. Here is the link:

https://stackoverflow.com/questions/48161147/error-restoring-model-in-tensorflow-after-changing-the-optimizer-paramter/482125

[2018-01-11 23:51] rmlarsen commented on #15521
The change was submitted internally and should be visible on github within a day or so.

[2018-01-12 00:22] slevental opened #16058 "How to initialize embeddings layer within Estimator API?"
I'm trying to use existing embeddings within tensorflow model, the size of embedding is greater than 2Gb and this makes my original try of doing this unsuccessful:

[code]
Which gave me this error:

` Cannot create a tensor proto whose content is larger than 2GB.`

I'm using AWS SageMaker, which based on the Estimator API, and the actual running of the graph in session happens behind the scene, so

[2018-01-12 00:49] nbro commented on #16025
I've just noticed that the file `checkpoint`, which keeps track of the names of the last checkpoints, only contains the last `max_to_keep` filenames.

[2018-01-12 01:03] tensorflowbutler commented on #16039
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-12 01:03] tensorflowbutler commented on #16041
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-12 01:09] zhang-yf commented on #15656
Hi noob here, how would I build from source? is there a guide? I don't quite understand what it means to built from source and I've just spent entire day finding this post as I'm stuck on this specific issue. ... thanks 😄

[2018-01-12 01:18] AlienSmith opened #16061 "OSError: [Errno 12] Cannot allocate memory on deep Q learning model"
I was having fun with the Deep Q learning model, which came from https://github.com/dennybritz/reinforcement-learning/blob/master/DQN. Then after 750 episodes this error popped up.
![1](https://user-images.githubusercontent.com/20869223/34855218-6ae8778a-f779-11e7-9a7f-bbe7670f47b0.png)
![2](https://user-images.githubusercontent.com/20869223/34855219-6b1bc496-f779-11e7-9183-24306a413c01.png)
![3](

[2018-01-12 01:24] samuelBB commented on #15656
I found this to be a very good guide when I was building from source: http://www.python36.com/install-tensorflow141-gpu/
The guide is for TF1.4 and CUDA9.1 but equally applies with TF1.5 or other combinations; just make sure to specify the correct files and version numbers. Cheers.

[2018-01-12 01:36] CangHaiQingYue opened #16062 "Which CUDA/cuDNN version should I chose for tf-1.50"
![eo hqbj __vt _49a35ztc](https://user-images.githubusercontent.com/30284428/34855697-10dd4c5e-f77c-11e7-8174-3d1925170698.png)

[2018-01-12 01:37] JGuillaumin opened #16063 "`tools/ci_builds/pi/build_raspberry_pi.sh`: '__PTHREAD_SPINS' was not declared in this scope"
Hi,
I'm trying to build TensorFlow for RasperryPi from my computer (Ubuntu 16:04)
When I'm running `tensorflow/tools/ci_builds/pi/build_raspberry_pi.sh`
from the docker container build from `tensorflow/tools/ci_builds/Dockerfile.pi-python3`, some compilation commands from `bazel build` failed !

My goal is to use TensorFlow on my RaspberryPi (with a PiCamera) with the C++ API (compiled with bazel

[2018-01-12 01:37] av8ramit commented on #15656
@zhang-yf maybe [this](https://www.tensorflow.org/install/install_sources) will also help?

[2018-01-12 01:43] #15949 closed

[2018-01-12 01:50] godrxz commented on #15996
still can not pass:
Building CXX object tensorflow/tensorflow/tools/graph_transforms/fold_batch_norms.cc.o

grpc/src/grpc/libgrpc_unsecure.a(grpc_ares_wrapper.cc.o): In function `grpc_dns_lookup_ares_impl(char const*, char const*, char const*, grpc_pollset_set*, grpc_closure*, grpc_lb_addresses**, bool, char**)':
grpc_ares_wrapper.cc:(.text+0x34f): undefined reference to `ares_set_servers_ports'
g

[2018-01-12 01:51] shivaniag commented on #16045
@jlebar do you know about these problems with XLA?

[2018-01-12 02:04] shivaniag commented on #16041
IIUC, labels and predictions can accept `Tensor` objects, numpy arrays, Python lists, and Python scalars. @mrry do you know if there is any reason behind this or this is something which we need to fix.

[2018-01-12 02:08] guoxiaolu commented on #15537
It works, Thank you very much~

[2018-01-12 02:08] #15537 closed

[2018-01-12 02:09] selcouthlyBlue commented on #15985
Turns out, the conversion from dense to sparse is successful with this code:

[code]

Now the only concern here is the ValueError thrown by ctc_loss:

`ValueError: Shape must be rank 1 but is rank 0 for 'CTCLoss' (op: 'CTCLoss') with input shapes: [?,?,80], [?,2], [?], [].`

[2018-01-12 02:11] mrry commented on #16041
This is covered in the documentation [here](https://www.tensorflow.org/programmers_guide/graphs#tensor-like_objects). @shivaniag is correct to say that other "tensor-like" types are accepted (including in this case Python lists and 1-D NumPy arrays) because they are implicitly convertible to `tf.Tensor` objects. I'd only consider this misleading if `tf.confusion_matrix()` **didn't** accept `tf.Ten

[2018-01-12 02:11] #16041 closed

[2018-01-12 02:18] jlebar commented on #16045
(For future reference, it's a lot better to file two separate issues if you have two problems.  Otherwise when the bug becomes long, it's hard to track the problems.)

I use CUDA_VISIBLE_DEVICES with XLA all the time and it works fine.  I'm pretty surprised to hear that it's not working for you, because it takes effect in an nvidia library that's much lower-level than TF or XLA.  That is, because

[2018-01-12 02:29] ozabluda commented on #2825
`zero_debias=True` mitigates this issue after a couple of hundred iterations, but has almost no effect after few iterations.

[2018-01-12 02:46] #15737 closed

[2018-01-12 02:48] benshi001 commented on #16033
The log

01-12 02:45:42.465  7030  7030 D TfLiteCameraDemo: Created a Tensorflow Lite Image Classifier.
01-12 02:45:42.763  7030  7047 D TfLiteCameraDemo: Timecost to put values into ByteBuffer: 20
01-12 02:45:42.764  7030  7047 I TfLiteCameraDemo: load function ANeuralNetworksModel_create successfully
01-12 02:45:42.765  7030  7047 I TfLiteCameraDemo: load function ANeuralNetworksModel_addOperand

[2018-01-12 02:49] benshi001 commented on #16033
I saw the reason, because BuiltinOperator_LOCAL_RESPONSE_NORMALIZATION can not be delegated to NNAPI.

Thank you.

[2018-01-12 02:50] #16033 closed

[2018-01-12 02:51] arunmandal53 commented on #16062
If installing using pip then cuda 9.0 and cudnn 7.0.

[2018-01-12 02:55] CangHaiQingYue commented on #16062
Did that means both cudnn 7.0.4 and 7.0.5 are ok?

[2018-01-12 03:04] selcouthlyBlue commented on #15985
I tried using this to function to create a sparse matrix from a dense one:

[code]

When I placed the indices, values, and shape to create a `SparseTensor`:

[code]

And compared it to a `SparseTensor` created from a `Tensor`:

[code]

I got these respectively:

[code]

I guess this is the case of ctc_loss not being able to handle dynamic shapes for indices, values, and dense_shape.

[2018-01-12 03:09] Holded commented on #15985
+1 for having densified versions of the ctc_loss and decoders.

[2018-01-12 03:12] monkey-jsun commented on #15871
@andrehentz, if TF Lite does not support quantization through transform_graph, do you know the current quantized mobilenet model in the demo is obtained?  Further if we want to run quantized inception, how we should go about doing it?

Many thanks!

[2018-01-12 03:19] arunmandal53 commented on #16062
I have not used pip package but, i think both option should work.

[2018-01-12 03:24] fengyukun commented on #16031
@mrry Many thanks for your support! That works

[2018-01-12 04:04] quaeler commented on #15868
@winstonaws the PR has passed review - please be aware that the environment variable names in the next release of TF will have `_MSEC` appended to them - https://github.com/tensorflow/tensorflow/pull/15899/files

[2018-01-12 04:05] ashimb9 commented on #12472
Could this issue please be closed since the relevant changes appear to have been merged? Thanks!

[2018-01-12 04:16] #12472 closed

[2018-01-12 04:24] kuntoro-adi commented on #11812
Hi,
I experienced the same error when executing the code in tutorial [tf.estimator](https://www.tensorflow.org/get_started/get_started)

Here's the error message

`
$ python tfestimator.py
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\<username>\AppData\Local\Temp\tmpdlwf3cjk
Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\tensorflow\python\client

[2018-01-12 04:37] nasica88 commented on #13587
@tjingrant, I have the same boringssl error on ppc64le Redhat 7.4 (AC922) with python3.  Can you pls let me know how this issue was addressed ?   IBM's technical preview edition for TF1.4 is for python2 only, so it does not help much.

[2018-01-12 04:38] DenisN03 commented on #6035
@saeed68gm, @mmpinso I tried to apply the command "git apply max_pool_1.4.patch" but got the error "fatal: the patch is corrupted on line 143"

[2018-01-12 05:08] taehyunkim1527 commented on #15019
Hi, I'm who opened this question formerly.
And i finally found what was the problem.
if we give arg 'clear_devices' as True for the function 'export_scoped_meta_graph()' of `python\framework\meta_graph.py`
It starts to make empty graph_def and copy previous node_defs newly.
In this process, this code do not consider about graph_def.library.
But the information about 'map_function' resides in graph

[2018-01-12 05:24] WenmuZhou commented on #14942
@songgc v1.5rc0 is slower than 1.3 in my test

[2018-01-12 05:47] arunmandal53 commented on #16048
For me  Visual Studio 2015 Update 3 is working. I am currently testing for Visual Studio 2017. Will update you on how it goes.

[2018-01-12 06:01] wzywzy commented on #16039
Leave them as N/A

Can anybody give me some tips?

[2018-01-12 06:05] DrPingy commented on #16048
I'm very confused with the versions numbers of Visual Studio. I use 15.5.3: that is Visual Studio 2017!!

[2018-01-12 06:23] protoget commented on #16042
Hi standy66@, thanks for reporting the issue. Yes only linear_input input_mode is handled for the saveable. The reason is we intend to make sure cudnn-trained checkpoint can be used by regular TF RNNs. Skipping the input isn't what regular TF RNNs do.

I wonder if it would be a problem if we remove the input_mode option from the cudnn_rnn layers API? If one uses cudnn_rnn_ops, they will still be f

[2018-01-12 06:26] mmpinso commented on #6035
@DenisN03 , @saeed68gm I had this same error so I ended applying it manually. It compiled, but I'm afraid I might introduced some kind of fault. It would help a lot to have the full .cc file

[2018-01-12 06:47] CangHaiQingYue commented on #16062
OK！THANKS！

[2018-01-12 06:47] #16062 closed

[2018-01-12 06:55] #16036 closed

[2018-01-12 06:56] prabhundps commented on #16036
Solved the issue, sir, thanks for your reply.

[2018-01-12 06:59] tensorflowbutler commented on #16050
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-12 06:59] tensorflowbutler commented on #16053
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-12 07:58] godrxz commented on #15996
@kaspermarstal Hi, I build success and got the libtensorflow.so, Thanks for your help, I have one more question,  for the Bazel building, libtensorflow.so is for C and libtensorflow_cc.so is for C++, so the question is, the CMake building libtensorflow is for C or C++?

[2018-01-12 07:58] standy66 commented on #16042
Hello, @protoget, thanks for quick reply.

First, let me introduce a strong case where skip_input is useful. We are following [DeepSpeech 2](https://arxiv.org/pdf/1512.02595.pdf) paper from Baidu Research. They are using batch normalization for recurrent neural networks similarly to [Laurent et al., 2015](https://arxiv.org/pdf/1510.01378.pdf). Here is an excerpt from the paper:

![](http://oi66.ti

[2018-01-12 08:38] Pelups commented on #12468
Here is the output of the command
`bazel build -c opt //tensorflow/examples/android:tensorflow_demo`
executed on the master branch of the repo.

[output.txt](https://github.com/tensorflow/tensorflow/files/1625394/output.txt)

Thank you for your help

[2018-01-12 09:13] joe32140 commented on #6341
pip install google doesn't work for me
I just
pip install google-cloud
and it works

[2018-01-12 09:41] selcouthlyBlue commented on #15985
I'm stuck right now D:

[2018-01-12 09:57] mzur commented on #5773
@sid-kap `SAME` padding may cause zeros at the borders (as described [here](https://stackoverflow.com/a/39371113/1796523)). But this issue is about zeroing out, i.e. the image is not "finished".

Let me illustrate this with a [large picture](https://commons.wikimedia.org/wiki/File:101_Raven.jpg) (scaled down to 4876x7000 pixels). I run this code, which reads the picture, splits it into patches, th

[2018-01-12 10:00] arunmandal53 commented on #16048
You are right and not seem to be confused. I have build tensorflow using cmake and Visual Studio 2015 update 3 release with version 14.x.x. I think you can try to build it using Visual Studio 2015 Update 3 Community Edition.

[2018-01-12 10:10] timmolter commented on #97
Using the Estimator API, I figured out how to extract the predictions and create a confusion matrix. Maybe it will help someone else out.

https://github.com/knowm/HelloTensorFlow/blob/master/src/iris_DNN_classifier.py

[code]

[2018-01-12 10:31] karthikpitchaimani commented on #16000
Thanks for your quick response.
**Kindly find the below details.**
Have I written custom code - **Haven't written any custom code.**
OS Platform and Distribution - **SUSE Linux and CDH 5.11.0**
TensorFlow installed from: **pip install tensorflow-1.4.0-cp36-cp36m-manylinux1_x86_64.whl**
TensorFlow version: **Tried 1.3.0, 1.4.0 and 1.4.1**
Bazel version: Haven't Installed.
CUDA/cuDNN version: Haven'

[2018-01-12 11:11] GustavZ opened #16068 "Empty tensorflow/python/tools directory after build tf 1.5 from source"
I rebuild Tensorflow-GPU Version 1.5.0rc0 from source with Bazel Version 0.9.0 with CUDA 9 and cuDNN 7 to see changes from my previous version 1.4 also build from source with same prerequesites.

But now the tensorflow/python/tools directory is empty? Has anybody experienced the same?
Or Did these scripts get moved to another directory?

[2018-01-12 11:30] vhagier opened #16069 "Key generator/encoder_8/conv/filter not found in checkpoint"
I'm using python 3.6.3 win 10 64bit and tensorflow 1.2.1 and now I'm working on https://github.com/datitran/face2face-demo project and **part 4.export model** I'm taking this error:NotFoundError (see above for traceback): Key generator/encoder_8/conv/filter not found in checkpoint

how can I solve this problem ?

what I run
`C:\Users\hajum>python C:\Users\hajum\Desktop\face2face-demo-master\reduce

[2018-01-12 11:38] cyy25121 commented on #6698
In my case, I can run the cudnn in ipython environment, however, I got the same error messages when I tried to run the code in jupyter notebook

[2018-01-12 11:44] Overdrivr commented on #15412
Any plans to fix the build for this ?

[2018-01-12 11:51] navneethc commented on #15656
Could someone tell how to find the exact version of the dependencies used in the binaries? I assumed 9.1 was fine for 1.5 RC0, but it didn't work (in Windows; cf. #16014 ), so I had to spend a while un- and re-installing stuff.

[2018-01-12 12:08] facaiy commented on #15044
I have written a C++ prototype, and I'd like to open a pull request for discussion next week.

[2018-01-12 12:35] netheril96 commented on #15364
@zheng-xq `cudnn` supports both `NCHW` and `NHWC`, doesn't it? Why the need for a layout optimizer for better performance of `NHWC` on GPU?

[2018-01-12 12:40] arunmandal53 commented on #15886
Successfully built tensorflow 1.5-rc0 using bazel on windows 10 but it does not include most of package from contrib. Also built using cmake on windows 10 and seems like it has most of package included but not tested yet.

[2018-01-12 12:57] tensorflowbutler commented on #16061
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-12 12:57] tensorflowbutler commented on #16063
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-01-12 13:15] zhang-yf commented on #15656
Thanks @samuelBB  and @av8ramit, I see now I just needed to specify the Cuda sdk version to be 9.1 while building from source. That seems straightforward. I was wondering would it be possible to write a script so that while installing through  pip it will just grab the 9.x version since it makes no difference the minor release version in this case. Also @navneethc  you have the same problem which

[2018-01-12 13:17] ktdiedrich commented on #7434
I had a similar error even though my images appear to be valid JPEG images. Like the previous error my Tensorflow error was:
InvalidArgumentError (see above for traceback): Invalid JPEG data, size 4096
         [[Node: DecodeJpeg = DecodeJpeg[acceptable_fraction=1, channels=3, dct_method="", fancy_upscaling=true, ratio=1, try_recover_truncated=false, _device="/job:localhost/replica:0/task:0/cpu:0"

[2018-01-12 13:20] SHFRGRP commented on #15416
Already changed my issue!

[2018-01-12 13:33] qmick commented on #15412
@Overdrivr As far as I know, the answer is no. @shivaniag Maybe we can mark it as contribution welcome?

[2018-01-12 13:57] joeyearsley commented on #16045
Having debugged _1_ a bit more, it seems that Tensorflow (or underlying libraries) does not totally respect the `config.gpu_options.visible_device_list`.
This results in a minor `10Mb` being taken when not using XLA and `500Mb` when using XLA on GPUs which are not in use in that process. I.e. Having an 8 Card system and wanting to run 4 jobs results in memory issues.

[2018-01-12 14:12] iron9light commented on #15237
@qianyizhang @NProkoptsev SGDR was added as `tf.train.cosine_decay` and `tf.train.cosine_decay_restarts`
See https://github.com/tensorflow/tensorflow/blob/9bdb72e124e50e1b12b3286b38cbb1c971552741/tensorflow/python/training/learning_rate_decay.py#L487

[2018-01-12 14:23] yqm0nk3y commented on #15140
Just wondering if anyone managed to build CUDA9.1 with tensorflow on windows 10 ? Thanks

[2018-01-12 14:57] Overdrivr commented on #14171
I'm currently trying to run your code on a Windows 10 machine, with 2 NVidia GeForce GTX 1070.
The [memory_stats](https://github.com/tensorflow/tensorflow/issues/15412) op is not yet available on windows, so I used the following strategy to get an estimate of used VRAM, could you please comment if this approach is correct ?

I have removed the mem_stats op, and allowed growth of GPU memory allocat

[2018-01-12 15:10] iron9light commented on #15237
@qianyizhang @NProkoptsev For SGDW and AdamW, just check the code. https://github.com/tensorflow/tensorflow/blob/9bdb72e124e50e1b12b3286b38cbb1c971552741/tensorflow/core/kernels/training_ops.cc#L284 It seems they do not apply weight decay for Adam and Momentum.
I just checked the Apply Gradient part, and I think they won't apply weight decay when calculate gradient.
So I think nothing to FIX.
If y

[2018-01-12 15:21] arunmandal53 commented on #15140
Yes. I have built it. just testing it. Tensorflow gpu with cuda 9.1 and cudnn 7.0.5. I have built it with bazel and cmake. But using cmake is recommended by contributers.

[2018-01-12 15:36] andrehentz commented on #15871
quantized mobilenet is created by carefully modifying the training graph. The TensorFlow team is preparing a document with details, including software support for training other model similarly.

Unfortunately, there's no way to use quantized inception at the moment. We are working on supporting 'quantized_weights' as soon as possible.

[2018-01-12 15:39] andrehentz commented on #15845
@shradhab Thanks! Support for gather and pad will come soon, with split and possibly slice following right after. We do have op for LSTMs and RNNs in the interpreter, but the conversion step still needs some careful work.

[2018-01-12 15:41] navneethc commented on #15656
Yes, thankfully I’m past all that and running TF (that’s where the the uninstalls and reinstalls happened:) ). I’m now requesting a reference for the future. :D

[2018-01-12 15:50] MikeTheWatchGuy commented on #14980
I had this problem too:
https://github.com/tensorflow/tensorboard/issues/588

I got around it by following these instructions:
If you broke the pip installation, you can fix it by downloading the whl file of html5lib from https://pypi.python.org/pypi/html5lib and then running pip install <path-to-whl-file>