[2019-01-30 20:07] hadaev8 commented on #20619
@tanzhenyu
1.13 need cuda 10, right? I have no idea how to update cuda on colab.

[2019-01-30 20:11] awaizman1 commented on #25213
Compiling v1.10 with cmake was smooth - I didn’t face any issue thus no workaround applied.

Thanks.

[2019-01-30 20:48] ramtin2080 commented on #25131
@impjdi

Thank you for the response.  The models are attached.
[tf_files.zip](https://github.com/tensorflow/tensorflow/files/2814332/tf_files.zip)

[2019-01-30 21:02] #25259 closed

[2019-01-30 21:14] lenaevans commented on #24871
The biggest issue I found for both iOS and android is building for all architectures, which puts multiple copies of tensorflow in the app and thus inflates your size. If you build for specific architectures, you will probably see more reasonable app sizes. (See e.g. [this](https://proandroiddev.com/reducing-apk-size-by-using-abi-filters-and-apk-split-74a68a885f4e) for how to do that).

[2019-01-30 21:15] EWouters commented on #25329
I'm experiencing a similar issue, on 1.13.0rc0. I compiled TensorFlow with [this](https://pastebin.com/csWDkhvU) script on Ubuntu 18.04.

[code]

[2019-01-30 21:22] impjdi commented on #25131
@ramtin2080

Perfect.  I'll check these and get back to you by EOD

[2019-01-30 21:51] dmcbeing commented on #25282
Thanks for the link, i will try it tomorow (the virtualenv trick seems it might help things, as i am on a shared server, so i dont have full controll over the installed packages)

Will do, thank you for the assistance.

[2019-01-30 22:09] ymodak commented on #25331
As the output suggests you need to add custom operators since the operations are not supported by TF Lite. Please refer this document to know more about [adding custom operators](https://www.tensorflow.org/lite/custom_operators). Thanks!

[2019-01-30 22:19] ymodak commented on #25305
@jlebar

[2019-01-30 22:32] jlebar commented on #25305
Would you be willing to help me understand how I can make this error more clear?

[2019-01-30 22:49] aselle commented on #25131
@impjdi, implicit size is not really supported by toco. However, tflite interpreter will not have right shape until a user calls AllocateTensors () (and it will use the input tensors shapes to propagate the shapes downstream), at least for a model with all non-dynamic shapes.

[2019-01-30 22:51] sharvil commented on #8137
@martinwicke, could you please help shepherd this issue towards resolution? It would be nice to have a consistent set of strings for `data_format` across all of TF.

[2019-01-30 22:52] Crispy13 commented on #11812
It worked for me. Thank you!

[2019-01-30 22:58] impjdi commented on #25131
@aselle Thanks! 👍

@ramtin2080

The GPU delegate currently does not support dynamic tensor sizes.  Is it possible for you to explicitly specify the tensor dimensions of module_apply_default/hub_input/Mul/y and module_apply_default/hub_input/Sub/y in your TF graph, so that all tensor dimensions are known in advance?

[2019-01-30 22:59] #25247 closed

[2019-01-30 23:14] realEthanZou opened #25337 "CUDA_ERROR_OUT_OF_MEMORY: out of memory with RTX 2070"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 1809
- Mobile device (e

[2019-01-30 23:20] #25337 closed

[2019-01-30 23:32] ramtin2080 commented on #25131
@impjdi

Unfortunately I don't know how to do this. Is there any tutorial for it?
I'm kinda new to TensorFlow.

[2019-01-30 23:36] nmoran commented on #25107
@jvishnuvardhan thanks for looking into this further. However you are installing a prebuilt version and not building from source which is where this issue occurs.

[2019-01-31 00:15] jvishnuvardhan commented on #25308
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-01-31 00:34] mayou36 opened #25339 "[BUG] gradients of `tf.cond` with float64 breaks with ResourceVariable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): 3 tried: binary and head (w & w/o xla)
- TensorFlow version

[2019-01-31 00:35] ymodak commented on #24488
Apologies for the delay in response. Is this still an issue?
Can you please provide following information?
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualen

[2019-01-31 00:37] rjpower commented on #24999
TPUEstimator uses in-graph replication with a single coordinator.

All hooks are executed on the coordinator node (your VM), so there's no distinction between chief hooks and non-chief hooks.

Feel free to re-open if there's a subtlety I missed here.

[2019-01-31 00:37] #24999 closed

[2019-01-31 00:45] scm-ns commented on #25000
I solved it by removing the resampler from the BUILD file. That fixed the issue. Seems to be an issue in a BUILD file present in the resampler lib.

[2019-01-31 00:47] ymodak commented on #24804
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-01-31 00:47] #24804 closed

[2019-01-31 00:58] ymodak commented on #24811
Is this still an issue?
I see you cannot import tensorflow successfully. Therefore the first step would be to do fresh installation of TensorFlow.
You can try using pre compiled binaries to install TF(easier way)

[2019-01-31 00:59] dynamicwebpaige opened #25340 "2.0 Reference Models: ResNet V1.5 (1 GPU and 8 GPU with dist-strat and Keras)"
Deep residual networks, or ResNets for short, proposed the breakthrough idea of identity mappings in order to enable training of very deep convolutional neural networks. This issue will track the creation of 1 GPU and 8 GPU TF 2.0-compatible implementations of ResNet for the ImageNet dataset.

See the following papers for more background:

[1] [Deep Residual Learning for Image Recognition](https:/

[2019-01-31 01:01] ymodak commented on #24806
TF 1.13rc0 is officially released and it comes with pre compiled binaries to support CUDA 10.
Can you please give it a try?. Thanks!

[2019-01-31 01:06] I-Hong commented on #19420
Is anyone working on this? If no, I'd like to add description about it.

[2019-01-31 01:08] holyhao commented on #24871
@lenaevans  sorry ，i did not make it clear. I mean the size of binary size of tflite library. The size of file  libtensorflowLite.so.

[2019-01-31 01:16] jvishnuvardhan commented on #25299
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. Thanks!

[2019-01-31 01:16] skye commented on #25339
Can you try setting the environment variable TF_ENABLE_CONTROL_FLOW_V2=1 and seeing if you still get an error? (If setting the env var in code, make sure to do it before importing tf).

[2019-01-31 01:24] dynamicwebpaige opened #25341 "2.0 Reference Models: Keras Application Set (1 GPU)"
Keras Applications is the `applications` module of the Keras deep learning library. It provides model definitions and pre-trained weights for a number of popular architectures, such as VGG16, ResNet50, Xception, MobileNet, and more.

The purpose of this issue is to migrate models into the TF 2.0 Keras API. Each migrated model must be eager and distribution compatible, with tests, and all associate

[2019-01-31 01:32] dynamicwebpaige opened #25342 "2.0 Reference Models: Transformer (1 GPU, 8 GPU with dist strat and Keras)"
**Transformer** is a neural network architecture that solves sequence to sequence problems using attention mechanisms. Unlike traditional neural seq2seq models, Transformer does not involve recurrent connections. The attention mechanism learns dependencies between tokens in two sequences. Since attention weights apply to all tokens in the sequences, the Transformer model is able to easily capture

[2019-01-31 01:34] lenaevans commented on #24871
Ohh hm, sorry can't really help there :(. I haven't tried to compile from source for android, the package in the package manager worked fine for me.

[2019-01-31 01:37] ymodak commented on #25329
@gunan Can you  PLTAL? The cuda compute capability 3.5 or higher for TF-GPu support right? Thanks

[2019-01-31 01:42] Wangchangjen commented on #24162
Win 10 has always this problem, so we have changed to use the linux system. The problem is solved in the linux system. Thanks.

[2019-01-31 01:47] dynamicwebpaige opened #25343 "2.0 Reference Models: NMT Model (1 GPU, 8 GPU with dist strat and Keras)"
**Sequence-to-sequence** (seq2seq) models ([Sutskever et al., 2014](https://papers.nips.cc/paper/5346-sequence-to-sequence-learning-with-neural-networks.pdf), [Cho et al., 2014](http://emnlp2014.org/papers/pdf/EMNLP2014179.pdf)) have enjoyed great success in a variety of tasks such as machine translation, speech recognition, and text summarization.

This model will give TF 2.0 end users a full und

[2019-01-31 01:48] ymodak commented on #24385
@gandhipratik203 Is this still an issue for you?

[2019-01-31 01:52] dynamicwebpaige opened #25344 "2.0 Reference Models: NCF Model (1 GPU, 8 GPU with dist strat and Keras)"
This is an implementation of the **Neural Collaborative Filtering** (NCF) framework with Neural Matrix Factorization (NeuMF) model as described in the [Neural Collaborative Filtering](https://arxiv.org/abs/1708.05031) paper. Current implementation is based on the code from the authors' [NCF code](https://github.com/hexiangnan/neural_collaborative_filtering) and the Stanford implementation in the [

[2019-01-31 01:55] GoodJoey commented on #9080
@ulto777 did you get any performance gain with mps on 1080ti?

[2019-01-31 01:58] dynamicwebpaige opened #25346 "2.0 Reference Models: NCF Model (TPU with Keras)"
This is an implementation of the **Neural Collaborative Filtering** (NCF) framework with Neural Matrix Factorization (NeuMF) model as described in the [Neural Collaborative Filtering](https://arxiv.org/abs/1708.05031) paper. Current implementation is based on the code from the authors' [NCF code](https://github.com/hexiangnan/neural_collaborative_filtering) and the Stanford implementation in the [

[2019-01-31 01:59] zsk423200 commented on #25305
@jlebar
RELEASE.md:
[code]
is a known bug, but it is not the main reason i think, because i run xla with distribute strategy in benchmark with the same environment, and also run with tensorpack example:
[https://github.com/tensorpack/tensorpack/tree/master/examples/ResNet](url)
and they have the same warning, but work fine.

[2019-01-31 02:05] dynamicwebpaige opened #25348 "Library Conversion: TensorRT"
`tf.contrib` will be deprecated in TF 2.0, which means that TensorRT must migrate to a new home! The purpose of this ticket will be to migrate NVIDIA's TF-TRT library to the TF 2.0 API.

- Convert TF-TRT library.
- Run unit tests.
- Ensure processes are well understood.

TensorFlow integration with TensorRT (TF-TRT) optimizes and executes compatible subgraphs, allowing TensorFlow to execute the re

[2019-01-31 02:13] jlebar commented on #25305
Hi, how am I supposed to help you debug this problem when the possibility exists that you're hitting a deep compiler bug?

[2019-01-31 02:18] dynamicwebpaige opened #25349 "Library Conversion: Open AI Baselines"
**[OpenAI Baselines](https://github.com/openai/baselines)** is a set of high-quality implementations of reinforcement learning algorithms. These algorithms make it easier for the research community to replicate, refine, and identify new ideas, and creates solid baselines to build research on top of.

The purpose of this ticket will be to migrate the OpenAI Baselines library to the TF 2.0 API.

- C

[2019-01-31 02:21] dynamicwebpaige opened #25350 "Library Conversion: TF Probability"
**[TensorFlow Probability](https://www.tensorflow.org/probability/)** (TFP) is a Python library built on TensorFlow that makes it easy to combine probabilistic models and deep learning on modern hardware (TPU, GPU). It's for data scientists, statisticians, ML researchers, and practitioners who want to encode domain knowledge to understand data and make predictions. TFP includes:

- A wide selectio

[2019-01-31 02:26] dynamicwebpaige opened #25352 "Library Conversion: Tensor2Tensor"
**Tensor2Tensor**, or [T2T](https://github.com/tensorflow/tensor2tensor) for short, is a library of deep learning models and datasets designed to make deep learning more accessible and [accelerate ML research](https://research.googleblog.com/2017/06/accelerating-deep-learning-research.html). T2T is actively used and maintained by researchers and engineers within the [Google Brain team](https://res

[2019-01-31 02:30] dynamicwebpaige opened #25353 "Library Conversion: OpenSeq2Seq"
**[OpenSeq2Seq](https://github.com/NVIDIA/OpenSeq2Seq)** is a toolkit for distributed and mixed-precision training of sequence-to-sequence (seq2seq) models, created by the researchers at NVIDIA.

OpenSeq2Seq is built using TensorFlow and provides all the necessary building blocks for training encoder-decoder models for neural machine translation, automatic speech recognition, speech synthesis, and

[2019-01-31 02:39] Rasterer commented on #25087
Well, in the case I described above, `SaturatingRoundingDoublingHighMul` will perform **31** bits right shift, and `RoundingDivideByPOT` will perform **9** bits right shift, I mean if we only do one **(31+9)** bits right shift instead, then this issue can be avoided.

I understand that being bit-match might be very difficult, but this issue will result in quite large relative error(sometimes >20%)

[2019-01-31 02:57] dynamicwebpaige opened #25355 "Library Conversion: Sonnet"
**[Sonnet](https://github.com/deepmind/sonnet/tree/master/docs)** is an open-source library built on top of TensorFlow, created by researchers at **[DeepMind](https://deepmind.com/)**. The main purpose of Sonnet is to first construct Python objects which represent some part of a neural network, and then separately connect these objects into the TensorFlow computation graph.

For more information a

[2019-01-31 03:05] dynamicwebpaige opened #25356 "Feature: TensorBoard compatibility with TF 2.0."
**Overview**
The `tf.summary` module from TF 1.x will be replaced by a new API that differs as follows:

1. The **data-format-specific parts** will be defined in `tensorboard.summary`.
2. The **generated summary events** will use a more extensible "wire format".
3. The **write-side code** will use the V2 summary-writing API (today's `tf.contrib.summary`).

**Background**
Today three sets of summar

[2019-01-31 03:10] dynamicwebpaige opened #25357 "Feature: Unify argument names (~70)."

[2019-01-31 03:18] hopstone opened #25358 "Error occurs when training Mask R-CNN on dataset coco 2017, failed to run optimizer, stage RemoveStackStridedSliceSameAxis"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-01-31 03:25] dynamicwebpaige opened #25359 "Feature: Support for FP16 training in Keras."

[2019-01-31 03:30] dynamicwebpaige opened #25360 "Feature: TensorFlow.js compatibility with TF 2.0."
- Function inlining issue.
- [SavedModel breaks in TensorFlow.js](https://github.com/tensorflow/tfjs/issues/1123).

[2019-01-31 03:33] dynamicwebpaige opened #25361 "Feature: TensorFlow Lite compatibility with TF 2.0."
**Problem**
TensorFlow 2.0 introduces features that are not supported by the conversion process used to convert TensorFlow models to TensorFlow Lite models. This issue will track the changes that must be made in order to support the conversion process in TensorFlow 2.0.

**Goals:**

- Add support for converting TensorFlow models generated in TensorFlow 2.0.
- Continue to support conversion for Sav

[2019-01-31 03:39] dynamicwebpaige opened #25362 "Feature: TF Hub compatibility with TF 2.0."
**[TensorFlow Hub](https://www.tensorflow.org/hub/)** is a library for the publication, discovery, and consumption of reusable parts of machine learning models. A module is a self-contained piece of a TensorFlow graph, along with its weights and assets, that can be reused across different tasks in a process known as transfer learning.

Transfer learning can:
- Train a model with a smaller dataset,

[2019-01-31 03:42] dynamicwebpaige opened #25363 "Feature: TF Serving compatibility with TF 2.0."
**[TensorFlow Serving](https://www.tensorflow.org/serving/)** is a flexible, high-performance serving system for machine learning models, designed for production environments. Serving makes it easy to deploy new algorithms and experiments, while keeping the same server architecture and APIs. TensorFlow Serving provides out-of-the-box integration with TensorFlow models, but can be easily extended t

[2019-01-31 03:46] dynamicwebpaige opened #25364 "Documentation: Updating tutorials to use TensorFlow Datasets (TFDS)."
**[TensorFlow Datasets (TFDS)](https://www.tensorflow.org/datasets/api_docs/python/tfds)** is a collection of datasets ready-to-use with TensorFlow. Each dataset is defined as a `tfds.core.DatasetBuilder`, which encapsulates the logic to download the dataset and construct an input pipeline, as well as contains the dataset documentation (version, splits, number of examples, etc.).

The purpose of t

[2019-01-31 03:51] dynamicwebpaige opened #25365 "Feature: Google Colab compatibility with TF 2.0."
**[Colaboratory](https://colab.research.google.com/)** is a free research tool for machine learning education and research. It’s a Jupyter notebook environment that requires no setup to use. Colab works with most major browsers, and is most thoroughly tested with desktop versions of Chrome and Firefox.

The purpose of this issue will be to track TF 2.0 compatibility with Colab.

[2019-01-31 03:53] poppintiger commented on #25303
@jvishnuvardhan OK, thank you so much!

[2019-01-31 03:55] dynamicwebpaige opened #25366 "Documentation: TF 2.0 docs and tutorials."
Documentation and tutorials are a critical piece of every open-source project, and a developer's first impression of the product. The purpose of this issue will be to track the creation, migration, and translations for TensorFlow 2.0 docs.

For more information, check out the example notebooks we have available [here](https://github.com/tensorflow/docs/tree/master/site/en/r2), as well as the [TF 2

[2019-01-31 03:57] dynamicwebpaige opened #25367 "Testing: TF 2.0 with TensorFlow Datasets (TFDS)."
TFDS is now ready for testing, sans the LMDB dataset!

https://github.com/tensorflow/datasets/issues/34

[2019-01-31 04:06] dynamicwebpaige opened #25369 "Feature: End-to-end TensorFlow Extended (TFX) example for TF 2.0."
**[TensorFlow Extended (TFX)](https://www.tensorflow.org/tfx/)** is an end-to-end, TensorFlow-based, general-purpose machine learning platform implemented at Google. We've already open sourced some TFX libraries with the rest of the system to come. For an overview of TFX, read our [KDD’2017 paper](https://dl.acm.org/citation.cfm?id=3098021) and watch the [Dev Summit talk](https://www.youtube.com/w

[2019-01-31 04:09] nickovs commented on #24496
@ymodak Can you please reference the PR that fixed this bug?

[2019-01-31 04:15] dynamicwebpaige opened #25370 "TF 2.0: Create nightly CI builds for the TF 2.0 target."

[2019-01-31 04:16] dynamicwebpaige opened #25371 "TF 2.0: Create conversion tool from TensorFlow 1.x."

[2019-01-31 04:17] ysojdehei opened #25372 "ImportError: DLL load failed: The specified procedure could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-01-31 04:57] dynamicwebpaige opened #25373 "TF 2.0: Move TensorFlow Lite out of tf.contrib."
**[TensorFlow Lite](https://www.tensorflow.org/lite/)** is the official solution for running machine learning models on mobile and embedded devices. It enables on‑device machine learning inference with low latency and a small binary size on Android, iOS, and other operating systems.

In TensorFlow 1.x, TF Lite was housed in `tf.contrib`, a somewhat volatile location. With TF 2.0, we intend to migr

[2019-01-31 05:05] legatoo commented on #24997
@yuefengz Thanks for your reply. I am confused about the stop condition also, please correct me.

In my case(data splited among workers), I noticed chief and workers are printing steps while training. In chief node,  it printed as global_step, in worker node, it printed as step.

1. Are these steps referring to the same thing? I mean, do these steps all get from param server, or just local step ma

[2019-01-31 05:05] dynamicwebpaige opened #25374 "TF 2.0: Remove QueueRunners in favor of tf.data.Dataset."
**[`tf.train.QueueRunner`](https://www.tensorflow.org/api_docs/python/tf/train/QueueRunner)** is not compatible with eager execution, and will be deprecated in TF 2.0.

As an alternative, **[`tf.data.Dataset`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset)** can be used to represent an input pipeline as a collection of elements (nested structures of tensors) and a "logical plan" of tr

[2019-01-31 05:07] dynamicwebpaige opened #25375 "TF 2.0: API symbol renames design review."
TensorFlow 1.x has over 2000 endpoints total including over 500 endpoints in the root namespace. As number of symbols grows, it is important to maintain a clear structure to aid discoverability.

Certain API symbol placements could be improved:

- Some namespaces were created recently and might not contain all the corresponding symbols. For e.g. `tf.math` namespace was added recently. Symbols such

[2019-01-31 05:40] rsepassi commented on #25367
TFDS will begin testing against the TF 2.0 preview in the next week or two. And the TF tutorials that use TFDS will also be tested. Tomer Kaftan (does he have a github handle?) was looking into adding tests for them.

[2019-01-31 06:07] rankeey opened #25378 "how to export tensorrt int8 model with savedmodel format after calibration？"
Is it possible to export a savedModel int8 model after calibration?
If it is possible, is there any demo could be offered？
If it is impossible，when will it maybe possible？

[2019-01-31 06:20] Arsey commented on #16466
The comments above show us the real face of Google + open source.

[2019-01-31 07:06] guotong1988 commented on #24828
maybe same problem..

[2019-01-31 07:07] shadowdsp commented on #22407
chief is necessary in CollectiveAll Stategy? What is the difference between chief and worker?

[2019-01-31 07:21] divye1995 commented on #24371
any update on this i m facing the same issue
Below is my code followed with the error log
[code]
Log
[code]

[2019-01-31 07:33] #25257 closed

[2019-01-31 07:44] salvador-blanco commented on #22725
I have the same issue:

In [1]: import tensorflow as tf
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-41389fad42b5> in <module>()
----> 1 import tensorflow as tf

/home/chava/.pyenv/versions/anaconda3-5.0.1/lib/python3.6/site-packages/tensorflow/__init__.py in <module>()

[2019-01-31 07:49] salvador-blanco commented on #20499
I was having a similar problem, but only when running with ipython, the solution was to reinstall ipython
( I leave this comment just in case someone has the same issue)

[2019-01-31 08:01] 777ki commented on #24826
but, this function is called after :
    estimator_spec = self._call_model_fn(
that  _call_model_fn is  up on  _train_with_estimator_spec fucntion:
https://github.com/tensorflow/estimator/blob/781389ebd8dc87c71711f432e2eae135917429bd/tensorflow_estimator/python/estimator/estimator.py#L1154

so, every estimator.train will call both _call_model_fn and _train_with_estimator_spec at per training step

[2019-01-31 08:07] 777ki commented on #24826
so, i suggest that : move _call_model_fn to initialize function to build graph, if it still in train function yet, that way  may be  like "copy on write " or "init on first start", but, may be someone like me , we think that train function it can be called in dynamic（dynamic means i can change my input function in every train step， i will call train function for several times)

[2019-01-31 09:03] ktaebum opened #25382 "TF 2.0: eager.function.defun (or tf.function) Cancelled Op Error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Mojave 10.14.2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): '2.0.0-dev20190126'
- Python version: 3.6.8

**Describe the current behavior**

Assume that there

[2019-01-31 09:09] noah003 commented on #19293
@achowdhery I'm use the output_node_names form research/object_detection/exporter.py, but still cannot work...

[2019-01-31 09:45] #25317 closed

[2019-01-31 09:53] jrabary opened #25385 "TF 2.0: Summaries are not written to the disk"
**Describe the current behavior**

The example from [tf2_overview](https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/beginner/tf2_overview.ipynb) doesn't write the summaries onto the disk and nothing happen in the tensorboard.

Tensorflow installed with `pip install tf-nightly-2.0-preview`. Same thing happened with the GPU version.

Below is the code we use to reproduce this beha

[2019-01-31 10:03] SkBlaz commented on #23107
I encountered the very same issue working with large tensors.

[2019-01-31 10:16] rafiqhasan commented on #20812
Doesn't give any error on TF 1.10+ , see below working code for your reference:

`
estimator = tf.estimator.DNNClassifier(feature_columns=create_feature_cols(),
                                          n_classes=NCLASSES,
                                          hidden_units=[256,128,32],
                                          model_dir=output_dir,
                                           d

[2019-01-31 11:09] jvmncs opened #25386 "Add integer data types to IsTrainable for use with custom gradients"
**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently, there are a limited number of DTypes usable with autograd (see `IsTrainable` and `_IsBackpropagatable` below) https://github.com/tensorflow/tensorflow/blob/6631cd5e0e43e672d2de3cf1f0e29da17b57824e/tensorflow/python

[2019-01-31 11:34] jrabary opened #25387 "TF 2.0 Documents how BatchNormalization update is handle in TF 2.0"
When training model that need specific update such as batch norm mean and variance, it is not clear
from the current version of documentations how we can handle this.

This docs https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/Model suggests that we have to call `model.updates`

While here https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/generative/dcgan.ipynb t

[2019-01-31 12:34] a6802739 commented on #25353
@dynamicwebpaige, could I have a see on this for my first contribution?

[2019-01-31 12:41] rankeey commented on #18994
@elvys-zhang
Have you known how to export a savedModel for tf-serving?
I have the same question.

[2019-01-31 12:46] Migdalin commented on #24371
I still haven't heard of any fix for this one.

On Thu, Jan 31, 2019 at 2:28 AM divye1995 <notifications@github.com> wrote:

[2019-01-31 12:49] ageron commented on #24639
I just submitted a new PR because it seems that my previous PR was insufficient to fix this issue, I also needed to add a `@keras_export` decorator to the `model_to_dot` and `print_summary` function definitions.

[2019-01-31 12:55] dmcbeing commented on #25282
So turns out that with a clean environment (virtualenv) i can build install and then import tensorflow successfully.
Unfortunately i can not diagnose why it would not build successfully without virtualenv and what library causes the issue.
Thanks again.

ps:I wont close the issue as others seem to experience the same with the release

[2019-01-31 13:17] mayou36 commented on #25339
@skye I still get the error, yes (both with 1.12 and head)

[2019-01-31 13:18] delock commented on #23179
Hi @jsimsa , PR 25384 is opened following your suggestion.  Can you review this PR?  Thanks!
https://github.com/tensorflow/tensorflow/pull/25384

[2019-01-31 13:19] rickyzhang82 opened #25390 "Failed in v1.13.0-rc0 docker file build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
Just used the tensorflow/tensorflow/tools/dockerfiles/dockerfiles/devel-gpu.Dockerfile in

[2019-01-31 15:19] darthdeus opened #25391 "tf.linalg.solve segfaults on invalid matrix dimensions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6 (17G4015)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command bel

[2019-01-31 15:22] liangliannie commented on #1501
In pycharm, I tried to revise the path variable in run configuration. And it works.

[2019-01-31 15:31] qlzh727 commented on #25353
Thanks @dynamicwebpaige for filing this issue. Since the conversion work will be a collaboration between me and Boris on Nvidia side, I will cc him once I got his github user name. Also the code will be committed to Nvidia's repo instead of tensorflow.

[2019-01-31 16:03] #25226 closed

[2019-01-31 16:06] peome commented on #25000
Same issue with bazel 0.21 and 0.22

[2019-01-31 16:19] HanGuo97 opened #25393 ""reuse" argument in tf.layers.Dense documentation should be renamed to "_reuse""
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link: https://www.tensorflow.org/api_docs/python/tf/layers/Dens

[2019-01-31 16:44] #25303 closed

[2019-01-31 16:52] kesinger opened #25395 "TF debug crashes when nan in loss"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, beyond the

[2019-01-31 16:58] alextp commented on #25333
I'm confused. Did you mean to write `g.gradient([x1, x2]).numpy()`? I'd have assumed you meant `g.gradient(y, [x1, x2]).numpy()`?

[2019-01-31 16:59] alextp commented on #25355
@tomhennigan is working on this AFAIK

[2019-01-31 17:16] tomhennigan commented on #25355
WIP!

[2019-01-31 17:23] peidaqi commented on #25333
Your are right. That was a typo.

[2019-01-31 17:24] alextp commented on #25324
Yes, keras optimizers are known not to work with eager execution. This has been fixed in nightly by @tanzhenyu and will make it to 1.14 (I don't think it'll make it to 1.13 as that was cut way too long ago).

[2019-01-31 17:24] #25324 closed

[2019-01-31 17:34] alextp commented on #25333
Then I cannot reproduce. When I run the code as you wrote it I get the error about the missing sources argument. When I run with the version I wrote it complains (as it should) that you're calling .numpy() on a list. If I don't do that I get the result which is working as intended, [None, 1.0]. The gradient wrt x1 is None because you defined x1 outside the tape; if you want a non-None gradient do

[2019-01-31 17:34] #25333 closed

[2019-01-31 17:58] jvishnuvardhan commented on #25316
@abhajaswal Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be gre

[2019-01-31 18:20] angersson commented on #25373
This was completed at the end of October. Here's a copy of the relevant email on [tflite@tensorflow.org](https://groups.google.com/a/tensorflow.org/forum/#!searchin/tflite/moving%7Csort:date/tflite/iIIXOTOFvwQ/EwfiRFtvAQAJ):
* * *
TL;DR TensorFlow Lite will move from tensorflow/contrib/lite to tensorflow/lite on Wednesday, Oct. 31. This should be a no-op for Python package users (but please update

[2019-01-31 18:20] #25373 closed

[2019-01-31 18:57] tensorflowbutler commented on #24808
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-01-31 19:07] skye commented on #21185
This is tricky. I'm wary about propagating new shapes from the input_map nodes, because this might overwrite any shapes from explicit Tensor.set_shape() calls.

Here's an idea I haven't thought all the way through that I think would yield the desired behavior, but would be a lot of work: we only serialize the shapes of tensors that have been explicitly set via set_shape(). When we load the seriali

[2019-01-31 19:15] cgarciae commented on #24671
Any updates? These functions are super useful.

[2019-01-31 19:34] rahulunair opened #25397 "[Docs] Minor nit in the performance overview page"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12.0
- Doc Link: https://www.tensorflow.org/guide/performance/overview

[2019-01-31 19:56] ymodak commented on #25372
I apologize, but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new/choose). Please provide all the information it asks. Thank you.

[2019-01-31 19:56] #25372 closed

[2019-01-31 20:00] Migdalin commented on #13348
Was a new issue opened for this?  I'm receiving the same error following a call to Flatten().  If I run just the flatten through a session, I get a "result.shape" of (2, 4656).  No "none" is present.  But when I try to feed that same result into a Dense layer, I get the error ("the last dimension of the inputs to `Dense` should be defined. Found `None`).

[2019-01-31 20:23] walidk commented on #24140
I took a look at the attached colab.
Here is an attempt at writing a minimal working example that will run different WALS models with the multiprocessing library. This works for me, I am not seeing the issue described in the bug.

Please give it a try and let me know if this didn't work for you.

[code]
An important comment here: for the column solves, you need to feed the transposed matrix, and u

[2019-01-31 20:36] ymodak commented on #25397
Thanks for the report. Can you please send a PR for this?

[2019-01-31 20:40] HossamAmer12 commented on #25112
Any updates on this topic?
@ymodak or anyone?

[2019-01-31 20:44] girving commented on #23561
@gunan Any activity on this?  It's been blocking me from running some of my unit tests for over a month.

[2019-01-31 20:45] kesinger commented on #25395
I'm attaching a tgz file with a set of ten images that will trigger this crash.  They're originally from the kitti dataset.   The "train.txt" that corresponds to this looks something like:

/opt/bigdata/kitti_processed/2011_09_30_drive_0018_sync_03 0000001706
/opt/bigdata/kitti_processed/2011_09_30_drive_0018_sync_03 0000000312
/opt/bigdata/kitti_processed/2011_09_30_drive_0018_sync_02 0000002585

[2019-01-31 20:58] aurashn commented on #22564
We are running into the exact same issue. @pkulzc we are not able to use the export_tflite_ssd_graph.py since we only have the frozen inference graph. With our frozen .pb file knowing the input and output arrays based on tensorboard, we are attempting to use toco and convert to tflite file.

This is our error:

ValueError: None is only supported in the 1st dimension. Tensor 'image_tensor' has inva

[2019-01-31 21:06] hhqweasd commented on #16768
maybe, kill -9 PID and run again works?

[2019-01-31 21:06] achowdhery commented on #22564
Are you trying to use a float model or quantized model?

[2019-01-31 21:35] devmessias opened #25398 "Feature Request: tf.diag with a parameter to choose the diagonal"
**System information**
- TensorFlow version (you are using):'1.12.0'
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
In the current version tf.diag only allow creating a tensor with the main diagonal filled.
[code]
Numpy has an extra parameter, k. The default value of k is zero. When k=0  np.diag has the same behavior than tf.diag. However

[2019-01-31 21:58] ymodak commented on #25112
@nealwu Can you PTAL? Thanks!

[2019-01-31 22:16] ymodak commented on #25326
This can be a good [document](https://www.tensorflow.org/tutorials/keras/basic_text_classification) to start binary text classification problems.

[2019-01-31 22:18] aaa-manuelhe commented on #20444
I thought Python was done with these breaking changes. But come on Google async as a variable name?

[2019-01-31 22:18] aurashn commented on #22564
This is our input type.
dtype
{"type":"DT_UINT8"}

[2019-01-31 22:20] ymodak commented on #25039
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-31 22:20] #25039 closed

[2019-01-31 22:21] #25098 closed

[2019-01-31 22:21] ymodak commented on #25176
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-31 22:21] #25176 closed

[2019-01-31 22:21] ymodak commented on #25208
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-01-31 22:21] #25208 closed

[2019-01-31 22:36] aurashn commented on #22564
I am familiar with this blog post, yet this post assumes that we have access to the ckpt and pipeline.config files to generate a .pb file that is compatible with tflite. Basically, I would like to ask if it is possible to skip this step and use a .pb file that has been given to me. As shown above, I have changed the input and output array parameters as my frozen graph is not the same as the one us

[2019-01-31 22:39] aurashn commented on #22564
In the documentation for toco it gives the following example:

[code]
We also used tensorboard to determine our input and output, yet we are running into the issue I mentioned above. I appreciate your help.

[2019-01-31 22:43] achowdhery commented on #22564
Then you probably need to use input_arrays=Preprocessor/sub and output_arrays= concat, concat_1, Please add visualization of the frozen graph (say from a tool such as [this](https://github.com/lutzroeder/netron)). Your model will convert as long as all ops are supported between the input and the output nodes.

[2019-01-31 22:56] aurashn commented on #22564
[Here is a link to my frozen graph from tensorboard.](https://drive.google.com/file/d/1XvCyiO7Fr-lc70KUPDMQf1OTxsXVxrPr/view?usp=sharing)

I tried your changes and got the following output:

/usr/local/lib/python2.7/dist-packages/requests/__init__.py:83: RequestsDependencyWarning: Old version of cryptography ([1, 2, 3]) may cause slowdown.
  warnings.warn(warning, RequestsDependencyWarning)
2019-0

[2019-01-31 22:57] achowdhery commented on #22564
You are running a MobileNet model or MobileNet SSD model. Those are different and input/output will change.

[2019-01-31 22:58] krassowski commented on #20444
I just wanted to highlight that posting +1 or loosely connected remarks will spam mailboxes of about 65 people watching this thread (I bet many hope that the next notification will say that we got a release for Python 3.7).

To subscribe to notifications without writing a comment one can click "subscribe" button on the top-right of the page. I think that the numer of subsribers will be as good ind

[2019-01-31 22:59] aurashn commented on #22564
mobilenet SSD

[2019-01-31 23:04] achowdhery commented on #22564
Did you try using input_arrays=Preprocessor/sub and output_arrays= concat, concat_1, Please add visualization of the frozen graph (say from a tool such as this). Your model will convert as long as all ops are supported in Tensorflow Lite between the input and the output nodes.

[2019-01-31 23:06] aurashn commented on #22564
yes, please refer to my message above.

[2019-01-31 23:07] aurashn commented on #22564
https://github.com/tensorflow/tensorflow/issues/22564#issuecomment-459538809

[2019-01-31 23:12] RoboEvangelist commented on #23466
The sample is presented above. I think that is enough. The rest is private because if part of my company

[2019-01-31 23:16] allenlavoie commented on #25076
Can you use [`Estimator.export_saved_model`](https://www.tensorflow.org/api_docs/python/tf/estimator/Estimator#export_saved_model)? That will also export the Estimator's graph, but the SavedModel includes a training checkpoint. You could also peek inside the Estimator's model_fn, where there should be a training checkpoint just sitting around (assuming `train` was already called).

I think this wo

[2019-01-31 23:19] ymodak commented on #25193
Also refer [TensorFlow Lite GPU Delegate Tutorial](https://www.tensorflow.org/lite/performance/gpu)

[2019-01-31 23:38] ymodak commented on #25103
It's an environment variable issue. Please refer related stackoverflow links to resolve it.
https://stackoverflow.com/questions/13596505/python-not-working-in-command-prompt
https://github.com/spywhere/Terminality/issues/19
You can reach out to stackoverflow if the problems still persists.

[2019-01-31 23:38] #25103 closed

[2019-01-31 23:47] lc0 commented on #25385
Interesting enough, that I use model subclassing, that allows pretty similar flexibility and there tensorboard shows data.

In this example I've got similar result as OP
[code]

[2019-02-01 00:03] dwyatte opened #25400 "Support SavedModel in WarmStartSettings initialization"
Any reason not to support SavedModel in WarmStartSettings initialization? Currently only checkpoints are supported.

Estimator's `warm_start_from` argument accepts a SavedModel, so it would be great to have parity with that for cases where a user needs finer-grained control via WarmStartSettings (e.g., only initializing a subset of variables for transfer learning/fine tuning).

[2019-02-01 00:03] lc0 commented on #25367
I was not aware of this ticket wanted to just experiment, and seems like there are still dependencies on contrib like https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/__init__.py#L90

[2019-02-01 00:04] ymodak commented on #24828
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-01 00:04] #24828 closed

[2019-02-01 00:40] dynamicwebpaige commented on #25374
Implemented! See _[What's coming in TensorFlow 2.0](https://medium.com/tensorflow/whats-coming-in-tensorflow-2-0-d3663832e9b8)_ for additional details.

[2019-02-01 00:40] #25374 closed

[2019-02-01 00:42] trevor-m opened #25402 "Flatten is not constant folded properly by constfold grappler."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master (1/31/19)
- Python version: 3.5.2
- Bazel version (if compiling from source): 0.19.2
- GCC/Compil

[2019-02-01 00:55] jkyl commented on #2169
A differentiable and GPU-safe `avg_unpool2d` implementation is as follows:
[code]

[2019-02-01 01:01] trevor-m commented on #25378
You can save the frozen graph that convert_after_calib returns and use it like a normal frozen graph. Not sure about how SavedModel works.

[2019-02-01 01:06] emailweixu opened #25403 "Eager Execution error: Blas GEMM launch failed"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: no
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from

[2019-02-01 01:13] lamberta commented on #24818
Hi Yutong,

That docstring is here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/linalg_ops.py#L337

Would you be able to make the contribution, please?

[2019-02-01 01:19] gunan commented on #23561
I just reproduced the problem, after shaving a few yaks and fixing a few more issues on macos.

Now I will try to see what happens if I build TF "--copt=-std=c++1z"

[2019-02-01 01:19] zsk423200 commented on #25305
@jlebar Hi, can you explain why run benchmark is ok, it also has the warning, but has no error.

[2019-02-01 01:31] rsepassi commented on #25367
Yup, will update here when TFDS is 2.0-ready.

[2019-02-01 01:37] jlebar commented on #25305
If literally anything about the GPU environment changes, then XLA may generate different PTX and trigger the bug, or the memory buffers in question may have different addresses and trigger the bug.

[2019-02-01 01:54] freedomtan commented on #25296
FYR. I didn't try Python 3.6, but I guess it works. I use the following to build tensorflow pip wheel with clang on RPI 3 B+.
[code]

[2019-02-01 01:58] gunan commented on #23561
I see that the build fails with this when I set `--cxxopt=-std=c++1z`
[code]

I think the ABI incompatibility is due to the difference in build flags. I think the workaround, until we have a C API is, we need to make TF build with `--cxxopt=-std=c++1z`

[2019-02-01 02:49] jlebar commented on #25052
I've landed my fix for `erf(f16)`; it should show up in OSS within an hour or so and it should show up in bug like the commits above when it does.

According to the exhaustive tests I've set up, we're getting what I'd describe as pretty tight precision bounds (for f16, anyway): All results are within an absolute error of 0.001 or a relative error of 0.0001.

Upcasting to f32 should no longer be ne

[2019-02-01 03:21] 7oud opened #25405 "FP16 profermance on GTX1080"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows10
- TensorFlow installed from (source or binary):
Binary(PIP install)
- TensorFlow version (use command below):
1.12.0
- Python version:
3.6.2
- CUDA/cuDNN version:
CUDA 9.0 / cuDNN 7.3.1
- GPU model and memor

[2019-02-01 03:28] PuZhang-github opened #25406 "error on tf.estimator.train_and_evaluate"
I used  tf.estimator.train_and_evaluate and I try to train my model in a amazon linux machine with multi-gpu, I try batch_size of evulating with 64,256 and 512 , in all cases,  I get the following error:
Caused by op 'split_inputs/split_1', defined at:
  File "esmm_test_multi_gpu_256eval.py", line 342, in <module>
    tf.app.run(main=main)
  File "/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/p

[2019-02-01 03:45] a6802739 commented on #21019
@tensorflowbutler, Could I have a try for my first contribution? Thanks.

[2019-02-01 04:31] hsgkim opened #25408 "[Feature Request] complex64 and complex128 support for tf.decode_raw"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Latest (master branch)
- Are you willing to contribute it

[2019-02-01 04:40] ANSHUMAN87 commented on #25228
@dpinthinker : Using TF Hub to retrain Inception V3 for mnist images  --> for this can u plz share the url@tf-hub which module u used. And what was the test accuracy while retraining.

Also one question, did u check post retraining about the same image prediction before quantization and post quantization. We cant judge a model, by just one image prediction, it has to be some bunch of images, and m

[2019-02-01 05:16] ANSHUMAN87 commented on #25278
libtensorflowLite.so memory size significantly contributed by the Kernels for various operators, the simplest way to reduce the size is to remove unnecessary ops kernels from compiling into the lib, which are not required for your model. So you can just compile libtensorflowLite.so with the required OPs for your model only.

Also suggest if it is not mandatory, try to use latest tensorflow version

[2019-02-01 05:54] g4usat opened #25411 "Tensorflow: ImportError: DLL load failed: The specified procedure could not be found."
Hello,
Am a newbie and just started learning about deep learning and in the process,
I've installed Tensorflow on my Windows 10 laptop(cpu only no gpu) using Anaconda3 64bit and I have python3.6.2 installed on it. I verified the installation of Tensorflow at the command prompt by typing in for c:\'activate tensorflow' and typed python at (tensorflow) C:\python to get to python shell with >>> promp

[2019-02-01 05:58] anishchopra commented on #9988
+1 , would love to see this added

[2019-02-01 06:00] ArriFerrari opened #25412 "Tensorflow Lite Multiple Choice Test example app"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-02-01 06:01] abhajaswal commented on #25316
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 18.04.1 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No , Its on Linux PC
- TensorFlow installed from (source or binary): Installed from source 1.13.rc0
- TensorFlow version: 1.13.rc0
- Python version: Python 3.6.5 :: Anaconda, Inc
- Installed using virtualenv? pip? conda

[2019-02-01 06:10] augustkx commented on #1501
That's true. Thank you. I should also update earlier here. Sorry.

[2019-02-01 06:32] jlebar commented on #25052
I'm going to optimistically close this, although there's more work to be done to get all of the functions up to par.  @thorjohnsen &co, please do not hesitate to re-open.

[2019-02-01 06:32] #25052 closed

[2019-02-01 06:38] kelvict opened #25413 "How can I do some process like segment_sum to a batch data in parrelel"
For example..
I got an embedding matrix as follow:
embed_matrix = [
[0,0,0,0],
[1,1,1,1],
[2,2,2,2],
]

I have another input which decides which embedding should I use for summation to get a new embedding.
ids = [
[0,1,],
[1,2,],
[0,1,2]
]

And I want a function f as folow.
f(embed_matrix, ids)
= [
 [0, 0, 0] + [1, 1, 1],
 [1, 1, 1] + [2, 2, 2],
 [0, 0, 0] + [1, 1, 1] + [2, 2, 2],
]
= [
[1,1,1],
[

[2019-02-01 06:42] aie2 commented on #21745
I have a similar problem , when I use TPUEstimator.
In running "TPUEstimator.train",  I stop TPU instance, and it happens.

[2019-02-01 07:38] holyhao commented on #25278
@ANSHUMAN87 Tanks for reply. I just want keep all the ops as a platform . May the configuration and compile setting can help reduce the size.? I think 3.7M is too big even with all the ops. Do you have some ideas. Looking forward to your reply.

[2019-02-01 08:01] pulak09 commented on #808
import os

os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"]="0"

[2019-02-01 08:18] EmanueleGhelfi opened #25414 "Tensorflow 2.0 Preview - tf.function and tensorflow_dataset incompatibility"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tf-nightly-2.0-preview
- Python version: 3.6
- CUDA/cuDNN version: 10
- GPU model and memory: GTX 1080Ti

**Des

[2019-02-01 08:20] EmanueleGhelfi commented on #25367
I've tested tf2.0 and TFDS in #25414

[2019-02-01 08:49] SumNeuron commented on #24140
@walidk  seems to work, I'll try putting it in my app's use case and see if that solves the problem

[2019-02-01 09:18] sundayxcn commented on #25275
@freedomtan , Hi, thanks for your quick reply. I have adopted your suggestions and built the .so library successfully a moment ago. However, while I am trying calling the **compare** method mentioned, see above **step 2.1** in before attached script. The Android Studio gives the error traceback like following:
[code]
I believe this is caused by the lack of **ceilf** method in my .so library.  But

[2019-02-01 09:46] jackwish commented on #8286
Maybe they are benefiting from `NCHW[x]c` layout (check *Blocked layout* section of this [mkl-dnn doc](https://intel.github.io/mkl-dnn/understanding_memory_formats.html) rather than NCHW.

[2019-02-01 09:56] goodtogood commented on #18652
The same problem GeForce RTX 2080, Tensorflow 1.13.0 RC, CUDA 10.0, CUDNN 7, Windows 8.1.

[2019-02-01 09:59] parvjainmetal commented on #22121
--------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorflow_internal import __version__

[2019-02-01 10:12] noah003 opened #25415 "There are some error when convert Mask RCNN model to .tflite"
### System information
- **What is the top-level directory of the model you are using**:
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: 1.12
- **Bazel version (if c

[2019-02-01 10:27] KUASWoodyLIN opened #25416 "tf.keras.utils.multi does not work with WGAN-GP Model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.5
- Bazel version (if compiling from source): n/a
- GCC/Compiler version (if co

[2019-02-01 11:07] agniszczotka commented on #25076
Hi @allenlavoie. Yes, I could use Estimator.export_saved_model. I prefer to relay on checkpointing, to avoid additional performance bottleneck related to exporting the model.
I implemented a toy example how to use checkpointing with ray.tune and the tf.Estimator [here], which relays on saving checkpoint in the end of tf.Estimator.train()(https://github.com/agniszczotka/PBT-TF.Estimator-with-Ray.Tu

[2019-02-01 11:12] agniszczotka commented on #21737
Please find a toy [example](https://github.com/agniszczotka/PBT-TF.Estimator-with-Ray.Tune/blob/master/trainable_estimator_with_pbt.py) showing how to use tf.Estimator with [Ray.Tune implementation of PBT](https://ray.readthedocs.io/en/latest/tune-schedulers.html#population-based-training-pbt).

[2019-02-01 11:43] rankeey opened #25417 "TensorRT loses defined shapes"
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
Bazel version: N/A
GPU model and memory: P4 8G
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
TensorFlow installed from (source or binary): docker
TensorFlow version (use command below): 1.12
Python version: 3.5
CUDA/cuDNN version: 10/7.4.1
Describe th

[2019-02-01 11:58] ramtin2080 commented on #25131
@impjdi

The code can't increase the accuracy like the model normalization ops :(
Is it possible for you guys to add dynamic tensor sizes support for the GPU delegate in the future? or any way so I can simulate the very two first ops in java.
It seems the ops use [this](https://arxiv.org/abs/1502.03167) article for normalizing images.

[2019-02-01 11:58] darthdeus opened #25418 "`tf.contrib.framework.is_tensor` is not available/exported in 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-

[2019-02-01 13:10] michalkowalski94 opened #25419 "tf-nightly-gpu-2.0 import ptoblem"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
- Mobile device (e.g.

[2019-02-01 13:12] darthdeus commented on #25419
Based on what you've written in the report, you have CUDA/cuDNN version: 9.0, but tf-nightly-gpu-2.0 requires CUDA 10, as you can see from the error

[code]

[2019-02-01 13:19] michalkowalski94 commented on #25419
then I've got huge problem due to cluster apps
` plgrid/apps/cuda/5.5    plgrid/apps/cuda/7.0 (D)    plgrid/apps/cuda/8.0    plgrid/apps/cuda/9.1
   plgrid/apps/cuda/6.5    plgrid/apps/cuda/7.5        plgrid/apps/cuda/9.0`

[2019-02-01 13:37] michalkowalski94 commented on #25419
No, I'm just pointing out that I have much bigger problem with cluster apps
due to availability of CUDA 10

Pt., 1 lut 2019, 14:28: Jakub Arnold <notifications@github.com> napisał(a):

[2019-02-01 14:40] Migdalin opened #25421 "Passing flattened tensor into RNN results in an error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes

- OS Plat

[2019-02-01 14:45] MihailSalnikov opened #25423 "BeamSearchDecoder.step bug with lengths_to_add OHE dtype"
Hello,
I have problem with calling .step on BeamSearchDecoder obect:

[code]
I started this code with Eager Execution. I think, this problem depended with bad on_value, off_value type.

**System information**
- Tensorflow 1.12:
- Ubuntu 18.04:
- TensorFlow installed from https://pypi.org/project/tensorflow-gpu/
- Python version: 3.6
- CUDA version: 9.0
- GPU model and memory: GTX 1080, 8gb

**Code

[2019-02-01 15:02] #24603 closed

[2019-02-01 15:20] Richard549 commented on #17220
Hi @jlebar, apologies for the lack of response. The solution looks good, thanks for putting it out there!

[2019-02-01 15:32] defaultUser3214 commented on #25171
Thanks, the bazel build command in that article solved my problem. Do you know a method how to get the output dimensions of the mobile_ssd_v2_coco file ( found under  https://storage.googleapis.com/download.tensorflow.org/models/tflite/gpu/mobile_ssd_v2_float_coco.tflite) that is referred at the tutorial https://www.tensorflow.org/lite/performance/gpu#supported_models_and_ops? I would like to know

[2019-02-01 15:42] peidaqi commented on #25333
I guess by "defined x1 outside the tape" you mean the operation w.r.t. x1 rather than the x1 variable itself?

I double checked the document and indeed it says:

[2019-02-01 15:47] darthdeus commented on #25419
If you need the nightly build with 9.0 you can try compiling it yourself on 9.0. Though I'm not sure if it uses 10.0 because it is backwards incompatible with 9.0 or just because it was more convenient to move to the current version.

[2019-02-01 16:13] peidaqi opened #25425 "tf.contrib.distribute performance issue with asymmetrical multi GPU setup"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04, Kernel 4.13.16
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): tensorflow-gpu binary from pip
- Tensor

[2019-02-01 16:55] alextp commented on #25333
I meant that x2 was defined before you created the tape, so the tape did
not know how x1 and x2 were related.

On Fri, Feb 1, 2019 at 7:45 AM peidaqi <notifications@github.com> wrote:

--
 - Alex

[2019-02-01 17:00] annemariet opened #25426 "Segmentation Fault with tf.io.decode_csv , numpy record_defaults and tensor input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 16.04.4 LTS on Windows Linux SubSystem
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
n/a
- TensorFlow installed from (source or binary):
binary
- TensorFlow ver

[2019-02-01 17:10] martinwicke commented on #25316
Please attach long logs in future, as requested in the template.

[2019-02-01 17:19] girving commented on #23561
Thank you @gunan!  I'm happy to use that flag workaround for now.  Will wait until those fixes are merged and then try it out.

[2019-02-01 17:20] martinwicke commented on #25281
This should be open.

@alexbw we should support type annotations. With Py3 these will be increasingly pervasive and not supporting them will cause trouble.

[2019-02-01 17:21] martinwicke commented on #25281
@mr-ubik we should at least say clearly that type annotations are not supported in autograph. Better, throw a meaningful error.

A real fix may take longer.

[2019-02-01 17:24] impjdi commented on #25131
@ramtin2080

Hm, that's weird.  Maybe we got the parameters wrong, because it should have the same output.

Yes, we will eventually add it, but it comes with bigger API plumbing, and won't be available even if we open source this in near future.  Dynamic tensors may be supported at best in the 2nd half of 2019, and even that would depend on demand... =/

Batch normalization is something different.

[2019-02-01 17:33] Somayeh12 commented on #7550
Any solution to this problem? I am having the same problem. tensorflow 1.13, python 3.6.
I replaced tf.pack with tf.stack, but the output of tf.stack is different than tf.pack.
Any solution?

[2019-02-01 17:37] trevor-m commented on #25378
Yup, it is a normal frozen model. The only difference is that some of the nodes will be TRTEngineOp.

[2019-02-01 17:37] alexbw commented on #25281
I agree that type annotations should not blow us up. Noted.

Also, actually *using* type information will be important in the future, as it will help us catch "easy" cases when type information has been user-provided. We have avoided that strategy so far because we can't unambiguously determine type in all cases for Python, so focused on the purely runtime-type-discovery strategy. Adding even a li

[2019-02-01 17:50] gunan commented on #23561
Ok, both changes are merged, so you should be able to build with `--cxxopt=-std=c++1z` flag now.

Maybe we should also create a `--config=c++1z` or `--config=c++17`?

[2019-02-01 17:58] impjdi commented on #25131
@ramtin2080

I just noticed:

Let me try to take a look at these constants.  Maybe we can apply that in the Java layer directly.  Stay tuned.

[2019-02-01 17:59] trevor-m commented on #25402
@rmlarsen

[2019-02-01 18:02] mdanatg commented on #25281
Thank you for the detailed investigation!

Thankfully, this is a simpler bug in autograph and only incidentally caused by annotations (could have been any other field). We have a change in progress that will land over the next few days, and that should fix this particular error.

We didn't run extensive tests with type-annotated code, which is why this bug slipped though (so there may be more), bu

[2019-02-01 18:34] smit-hinsu commented on #20157
PR from Trevor to support conv2d_transpose is merged. Thanks, Trevor!
https://github.com/tensorflow/tensorflow/commit/ca2a1cb4cad2dba0d7c4bde662f36de592f5668f

Closing this issue.

[2019-02-01 18:34] #20157 closed

[2019-02-01 18:34] walidk commented on #24140
Thanks for the update. Closing this now.
Feel free to reopen if you run issues with the solution.

[2019-02-01 18:34] #24140 closed

[2019-02-01 18:39] gunan commented on #18652
Let me take another look at this, if all the issues are resolved, hopefully with a single change we can include all necessary compute capabilities.

[2019-02-01 18:40] jdduke commented on #25316
This is a function of the way the TensorFlow Lite converter is wired into the Python API. At the moment, the converter runs in a separate process, and we capture the stdout/stderr output only at the end of the execution. Looks like we just need to log the output in the successful case (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/convert.py#L196)

[2019-02-01 18:40] suphoff commented on #25254
As a quick workaround the validation dataset could be trimmed to  validation_steps * batch_size using .take() before .repeat().

[2019-02-01 18:42] jdduke commented on #25316
@gargn should we output the TOCO output even in the successful conversion case?

[2019-02-01 18:46] gunan commented on #25329
I think our windows package has this problem. This is a duplicate of #18652
@EWouters unfortunately in your case your GPU is too old. for 3.0, you will need to rebuild TF.

[2019-02-01 18:47] AbhilashChalla opened #25428 "Trained model makes random predictions when loaded"
I have trained a model to perform abstractive text summarization using the following github code. https://github.com/Currie32/Text-Summarization-with-Amazon-Reviews/blob/master/summarize_reviews.ipynb. The model made some good predictions when I tested it immediately after training was finished. But when I loaded the model after opening the notebook next day, it makes some random meaningless predi

[2019-02-01 18:52] #25428 closed

[2019-02-01 18:55] #23871 closed

[2019-02-01 18:57] tensorflowbutler commented on #21332
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-01 18:58] tensorflowbutler commented on #23871
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-01 18:59] dynamicwebpaige opened #25429 "TF 2.0: Release binaries for Python 3.5 and 3.7."

[2019-02-01 19:10] 0x0L commented on #25178
@omalleyt12
Hi, thanks for testing this. I wasn't able to try tf-nightly since I'm using python 3.7.
I guess we should close this issue ?

[2019-02-01 19:13] drasmuss commented on #25329
I think this is a different issue.  If I'm understanding 18652 correctly, the problem there is that compute capabilities > 6.0 were not supported, which caused a performance issue (dating back to TF 1.7).  The problem here is that GPUs with compute capability < 6.0 are no longer supported (can't use the GPU at all).  And this is a new issue introduced in TF 1.13.

[2019-02-01 19:18] #25178 closed

[2019-02-01 19:20] annarev commented on #25429
+@dynamicwebpaige is this issue for TF 2.0 preview?

[2019-02-01 19:26] EWouters opened #25430 "bazel tests r1.13rc0"
**System information**
- OS Platform and Distribution: Linux Ubuntu (4.15.0-44-generic)
- TensorFlow installed from: Source
- TensorFlow version: r1.13 (e7f2979fc7bbbd491a5c1db2268d4ee67cc46f88)
- Python version: 3.5
- Installed using virtualenv? pip? conda?: Conda
- Bazel version (if compiling from source): 0.21.0
- GCC/Compiler version (if compiling from source) : gcc-7 (Ubuntu 7.3.0-27ubuntu1~1

[2019-02-01 19:52] #24578 closed

[2019-02-01 19:54] skye commented on #25386
This is a cool use case, but unfortunately I think is too large a project to take on at this time. I think this would be a difficult feature to fully implement, because we'd have to make sure that every integer operation has a proper gradient function defined. Gradient functions are currently written with the assumption that we don't need to handle integers (e.g. we always return None for the indi

[2019-02-01 19:54] dynamicwebpaige opened #25432 "2.0 Reference Models: NMT Model (TPU with dist strat and Keras)"
**Sequence-to-sequence** (seq2seq) models ([Sutskever et al., 2014](https://papers.nips.cc/paper/5346-sequence-to-sequence-learning-with-neural-networks.pdf), [Cho et al., 2014](http://emnlp2014.org/papers/pdf/EMNLP2014179.pdf)) have enjoyed great success in a variety of tasks such as machine translation, speech recognition, and text summarization.

This model will give TF 2.0 end users a full und

[2019-02-01 19:55] dynamicwebpaige opened #25433 "2.0 Reference Models: Transformer (TPU with dist strat and Keras)"
**Transformer** is a neural network architecture that solves sequence to sequence problems using attention mechanisms. Unlike traditional neural seq2seq models, Transformer does not involve recurrent connections. The attention mechanism learns dependencies between tokens in two sequences. Since attention weights apply to all tokens in the sequences, the Transformer model is able to easily capture

[2019-02-01 19:56] vielmetti commented on #21332
@alanchiao - are there any resource blockers for this work? I have server-class machines at @packethost from @worksonarm that can be had (by anyone involved here) for additional testing and CI.

[2019-02-01 19:57] dynamicwebpaige opened #25434 "2.0 Reference Models: Keras Application Set (TPU)"
Keras Applications is the `applications` module of the Keras deep learning library. It provides model definitions and pre-trained weights for a number of popular architectures, such as VGG16, ResNet50, Xception, MobileNet, and more.

The purpose of this issue is to migrate models into the TF 2.0 Keras API. Each migrated model must be eager and distribution compatible, with tests, and all associate

[2019-02-01 19:57] dynamicwebpaige opened #25435 "2.0 Reference Models: ResNet V1.5 (TPU with Keras)"
Deep residual networks, or ResNets for short, proposed the breakthrough idea of identity mappings in order to enable training of very deep convolutional neural networks. This issue will track the creation of 1 GPU and 8 GPU TF 2.0-compatible implementations of ResNet for the ImageNet dataset.

See the following papers for more background:

[1] [Deep Residual Learning for Image Recognition](https:/

[2019-02-01 20:07] alextp commented on #25386
I agree with @skye . It might be easier for you to bypass TF's gradient code entirely if you want to go this route, since our ops have gradients which don't behave well at all with integers.

[2019-02-01 20:09] ageron commented on #25426
I can confirm that I could reproduce this issue on MacOSX 10.13.6, python 3.6.8, TF version `2.0.0-dev20190126`, git version `b'v1.12.0-6726-g5522d670af'`, installed using `pip3 install -U tf-nightly-2.0-preview`.

The `decode_csv()` function expects the `record_defaults` to be an array of tensors, so replacing `np.zeros(5)` with `[tf.constant(0.)]*5` (or even with `[0.]*5`) solves the problem, bu

[2019-02-01 20:17] alextp commented on #25414
@jsimsa I think this is the same function registration issue we've discussed before, right?

[2019-02-01 21:16] TimZaman commented on #19375
I am on a Titan Volta with Ubuntu 18.04, cuda10, nvidia driver 410. Installing cudnn (7.4) fixed it for me.

[2019-02-01 21:20] gunan commented on #25329
What happened is, looks like our builders are only building for the GPU they have.
They used to have K80s, so anything never than K80 was slow to startup waiting for JIT compiler.
But we switched our builders to P100s a while ago. Anything newer than P100 still waits for JIT compilation, but older ones are cannot do this so they fail.

either way, the solution is for us to fix the CUDA capabilitie

[2019-02-01 21:31] brilee commented on #20956
Sorry for the delayed response. We were combing through our old bugs and noticed that this one should already be fixed. Please reopen this bug if you are still seeing issues.

[2019-02-01 21:31] #20956 closed

[2019-02-01 21:43] #25397 closed

[2019-02-01 21:55] girving commented on #23561
I tried it out.  It seems to fix my `custom-op-bug` repo but doesn't fix the unminimized case that I care about.  Will need to investigate more to figure out why.

[2019-02-01 22:12] freedomtan commented on #25171
`summary_graph` is for TensorFlow's .pb files. It doesn't handle TFLite FlatBuffer file. One line python script like this, let's call it `foo.py`, could print output nodes
[code]
Run it,
[code]

It seems the model doesn't come with post-processing nodes.

[2019-02-01 22:38] nfelt commented on #25385
For now, can you try adding `always_record_summaries()` as in:

[code]

This shouldn't be necessary once the TF 2.0 summary API is slightly further along.

[2019-02-01 22:46] impjdi commented on #25131
@ramtin2080

Aite.  I looked into the constants, and it looks like it's doing 2.0 * X - 1.0 which is remapping the values from 0.0~1.0 to -1.0~1.0.  So let's do that.

Again, that's the code in `ImageClassifierFloatMobileNet.java`.

[2019-02-01 23:12] jpatts opened #25439 "np.array(x), where x is a tuple or list of tensor(s), is unusable (eager execution)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
No
- TensorFlow installed from (source or binary):
Source
- TensorFlow version (use command below):
b'v1.12.

[2019-02-01 23:12] lc0 commented on #25365
I wonder what would be the transition period. Since for some time people would still have models with TF1 and just upgrading over night could be pretty radical.

I mean potentially colab can introduce another param for  runtime or `Notebook settings`, something like different cuda drivers

[2019-02-01 23:17] jpatts commented on #25439
FYI my numpy version is 1.16.0

[2019-02-01 23:20] ramtin2080 commented on #25131
@impjdi

Thank you so much! Now the accuracy is same as the original MobileNetV2 model =D
Since the problem has been resolved, I'm closing this issue for now.

[2019-02-01 23:20] #25131 closed

[2019-02-01 23:26] anilknayak opened #25440 "Feeding Batch of Images to session.Run() in Golang"
I have tried all the methods but did not succeed to make a batch processing of images in Go Tensorflow.

I have been following this test case for the inception model. I tried many things but did not work.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/example_inception_inference_test.go#L199

Could anyone help me? I really appreciate any help.

Error:
[code]

[2019-02-01 23:27] anilknayak opened #25441 "Feed batch of images to Tensorflow model in Golang"
I have tried all the methods but did not succeed to make a batch processing of images in Go Tensorflow.

I have been following this test case for the inception model. I tried many things but did not work.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/example_inception_inference_test.go#L199

Could anyone help me? I really appreciate any help.

[2019-02-01 23:33] ramtin2080 commented on #24940
The problem is solved using @impjdi solution in #25131

[2019-02-01 23:33] #24940 closed

[2019-02-01 23:52] xudong2019 opened #25442 "dynamic_decode reports error under eager_execution ? “ValueError: The inequality of unknown TensorShapes is undefined.""
- TensorFlow version (use command below): 1.2

I have encountered a weird problem when transforming a usual seq2seq code into eager execution mode. After changing the placeholder input to numpy array,  by calling `tf.contrib.seq2seq.dynamic_decode(training_decoder,impute_finished=True,maximum_iterations=max_target_sequence_length)`
gives error “ValueError: The inequality of unknown TensorShapes is

[2019-02-01 23:53] mdfaijul commented on #24855
@Vooblin Thanks for your error reporting. We appreciate your time trying out Intel CPU quantization works. However, the quantization work is still in progress. You could build with adding `--copt="-DINTEL_MKL_QUANTIZED"` to bazel build option in order to get it work.

You are getting the error [`tensorflow.python.framework.errors_impl.InternalError: Missing 0-th output from node QuantizedConv2D (d

[2019-02-02 00:11] mahmoud-abuzaina opened #25443 "Bug in embedding_ops.py Leads to Crash when importing Frozen Wide and Deep model/graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): 1.12, 1.13 an

[2019-02-02 00:11] deercoder commented on #23627
I have the same error, when I use `Transfrom Graph` tool to get a quantized.pb file, I use the following command to convert to tf-lite, but it failed with the error "Batch normalization resolution requires that mean, multiplier and offset arrays be constant."
[code]

Any ideas or suggestions would be greatly appreciated. .Thanks.

[2019-02-02 00:15] wosiu commented on #24940
@ramtin2080 Could you explain shortly what operation caused the issue in your case and how you fixed it?
I read the #25131, however I don't use any normalization (despite BatchNorm) and still get an issue.

[2019-02-02 00:22] dpinthinker commented on #25228
@ANSHUMAN87
# Retraining Model with TFHub
Using default retrain.py's default model, as following
python3.6 [retrain.py](https://github.com/tensorflow/hub/raw/master/examples/image_retraining/retrain.py
) --image_dir mnist_imgs/

It should be `https://tfhub.dev/google/imagenet/inception_v3/feature_vector/1`

# Retrained model works fine

[code]

# Converting to float TFLite model and deploy
It work

[2019-02-02 00:32] Jbiloki opened #25444 "Implementation of WARP Loss or pairwise ranking losses"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-02-02 00:46] ramtin2080 commented on #24940
@wosiu In this case the problem was from module_apply_default/hub_input/Mul/y and module_apply_default/hub_input/Sub/y , which are for normalizing the image. these ops have an empty dimension and NNAPI & GPU delegate currently do not support support dynamic tensor sizes. So in my case, we chop off these ops which cause the failure and do the normalization with Java inside the Android app.
I think

[2019-02-02 00:56] threeleafzerg commented on #24887
@byronyi BTW, do you have any public design doc about distribute strategy or public future plan about distribute strategy which can be shared with us? Thanks!

[2019-02-02 01:12] skye commented on #21185
I think the following script should remove the _output_shapes attributes from the saved model:
[code]

In your example above, you should pass `./foo.meta` as the argument (this is the serialized MetaGraphDef proto).

[2019-02-02 01:15] hckiang commented on #23050
@ccurro Just run into the same problem and I completely agree with you that virtual_batch_size should only be respected in train mode. By now have you found any solutions to this yet?

[2019-02-02 01:16] dynamicwebpaige opened #25445 "Library Conversion: TF Ranking"
[**TensorFlow Ranking**](https://github.com/tensorflow/ranking) is a library for Learning-to-Rank (LTR) techniques on the TensorFlow platform. It contains the following components:

*   Commonly used loss functions including pointwise, pairwise, and listwise losses.
*   Commonly used ranking metrics like Mean Reciprocal Rank (MRR) and Normalized Discounted Cumulative Gain (NDCG).
*   [Multi-item (

[2019-02-02 01:16] samsamoa opened #25446 "tf.ConfigProto usage on TF 2.0"
On TensorFlow 1.X, there are various important parameters set by passing `tf.ConfigProto` to `tf.Session(config=...)` or `tf.enable_eager_execution(config=...)`.  For example, to use `NCCL`, it is useful to set the visible GPUs for a session with `config.gpu_options.visible_device_list`.

My understanding is that TensorFlow 2.0 no longer has a way to set this configuration — both `tf.Session` and

[2019-02-02 01:37] ymodak commented on #25417
@trevor-m Can you PLTAL? Thanks!

[2019-02-02 01:43] ccurro commented on #23050
No solutions found

[2019-02-02 01:55] rankeey commented on #25378
@trevor-m
I do conversion with the script from [stackflow](https://stackoverflow.com/questions/44329185/convert-a-graph-proto-pb-pbtxt-to-a-savedmodel-for-use-in-tensorflow-serving-o/44329200#44329200).
I found that the `logits` tensor lose shape info. And the export model could run neither in TFTIS nor in tf-serving.

the detail info you can reference to [#issue 25417](https://github.com/tensorfl

[2019-02-02 02:37] dynamicwebpaige opened #25448 "Feature: modify the TF 2.0 upgrade script to convert .ipynb files."
Currently, the [TensorFlow 2.0 upgrade script](https://github.com/tensorflow/docs/blob/master/site/en/r2/guide/upgrade.md) only supports Python (`.py`) files, not Jupyter notebooks (`.ipynb`). This can make converting documentation frustrating and time consuming.

The purpose of this issue is to **modify the upgrade script to accept a Jupyter notebook, convert it from TensorFlow 1.x to TF 2.0, and

[2019-02-02 02:53] sundayxcn commented on #25275
@freedomtan  According to your advice, i change the cc_binary,
[code]

There are different error:
[code]
but my android project  configuration files still unchanged,only change the libmy_library.so .
I tested it several times. if i remove linkopts=["-lm"],
errmsg:
[code]
if i restore linkopts=["-lm"],
errmsg:
[code]
so I'm sure there's still a problem about so. Please check it for me. thank you...

[2019-02-02 05:34] threeleafzerg commented on #24887
@byronyi  Thanks!

[2019-02-02 07:35] dynamicwebpaige commented on #25341
@Worthy7 You should still be able to use Keras in the nightly GPU preview of TF 2.0; full API reference docs are listed [here](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf).

Which version is listed when you try `tf.__version__`?

[2019-02-02 07:36] dynamicwebpaige commented on #25429
@annarev - I don't think this is a blocker for the preview; just intended to be an issue to track. Thanks for working on it! :)

(cc: @martinwicke to keep me honest)

[2019-02-02 07:44] shoyer commented on #21491
Now I think this is probably a good idea after all. Users who care about maximum performance will need to think hard and do manual type casting — there’s no way around it. But the truth is that most users don’t need max performance in every single operation. At most, they need it only in the slowest part of their code. If his level APIs like Keras issued a performance warning when the optimization

[2019-02-02 07:49] perfinion commented on #25429
This should also list all the other projects that are required and in what order. eg: I've been looking through tensorflow/estimator and it looks like it will be required for TF2.0 (but not 1.13?).

So far it looks like:
first install: keras_applications, keras_preprocessing
build and install tensorflow/tensorflow
then tensorflow/estimator, tensorboard etc

[2019-02-02 07:51] dynamicwebpaige commented on #25446
Potentially related: #25138.

[2019-02-02 08:19] liumilan opened #25450 "some issues about estimator distribute"
Now i'd like to do some distribute training using estimator api.I have some questions about chief,worker,and ps host .
  In code,
[code]
And I found ,chief host or ps host can be missed if task_type is chief or ps. And worker host must be specified if task_type is worker.Is is reasonable that if chief host missed?
`the command is python main.py  --job_name="chief" --task_id=0 ,
`
and then the log

[2019-02-02 08:34] deeply opened #25451 "Incorrect Hann window calculation in spectrogram kernel"
**System information**
- Have I written custom code: No
- OS Platform and Distribution:  N/A
- Mobile device:  N/A
- TensorFlow installed from:  N/A
- TensorFlow version : master
- Python version:  N/A
- Bazel version:  N/A
- GCC/Compiler version:  N/A
- CUDA/cuDNN version:  N/A
- GPU model and memory:  N/A

**Describe the current behavior**
In [tensorflow/core/kernel/spectrogram.cc](https://githu

[2019-02-02 08:36] REFunction opened #25452 "Memory detected less than real value"
I used tf-1.13-python. But when I ran 'tf.Session()', I found it had only 8.99GB free memory instead of 11GB, which was confirmed with 'nvidia-smi', task manager and GPU-Z.

CUDA:10.0
CUDNN:7.4.1
System:win 10

2019-02-02 16:02:17.833936: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that thi
s TensorFlow binary was not compiled to use: AVX2
2019-02-02 16:02:1

[2019-02-02 09:23] AlphardHilbert opened #25453 "Custom gradients at layer level instead of at function level"
I am implementing a customized layer in tensorflow. However, I failed to figure out a way to customize gradients in layers. I would like to add a function to calculate the gradients to weights and gradients to input by myself. Is there any way to do so?

The code should look like this
[code]

[2019-02-02 09:45] thebeancounter opened #25454 "multi gpu model error when trying to create model"
Please see also SO question about [this](https://stackoverflow.com/questions/54440168/tf-python-keras-utils-multi-gpu-model-error-on-initializing)

I am using python 3 with tensorflow and multiple gpu configuration, I try to use the [following example][1] to init the multi gpu model, I create a model, It's fine, compiling, running and training, but When I try to add this before the model compilati

[2019-02-02 09:51] EmanueleGhelfi commented on #25414
@alextp @jsimsa If I create the dataset inside the tf.function the code works as expected. I think this should be at least documented. For me it is not clear how to use correctly tf.function, the things that are allowed and the things not allowed. If I need to use tf.function in every function I call I think it would be nicer to use a global setting.

[2019-02-02 09:59] Worthy7 commented on #25341
![image](https://user-images.githubusercontent.com/4762399/52162808-85457500-271c-11e9-822b-500df7b9c4a8.png)

Do I need to ALSO have tf-nightly normal installed too? I thought CPU and GPU were standalone packages?

![image](https://user-images.githubusercontent.com/4762399/52162817-a5753400-271c-11e9-90a0-1fa17997ba71.png)

[2019-02-02 11:07] oplatek commented on #25324
@tanzhenyu can you point me to docs / explain me the process how can I figure out what is supported with eager execution for each release 1.12, 1.13 etc.

Thank you!

[2019-02-02 13:50] facaiy commented on #25279
ScipyOptimizer is moving from contrib to tensorflow/addons in #3 . I'm afraid that it would be a while, at least, before we could look into the issue. cc @seanpmorgan

[2019-02-02 14:12] facaiy commented on #25398
@rmlarsen @ebrevdo What do you think? [numpy.diag](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.diag.html)

[2019-02-02 14:14] facaiy commented on #25393
@HanGuo97 Would you like creating a PR to fix the issue?

[2019-02-02 14:56] prameshbajra commented on #56
I am having this error in `pip 19.0.1 from /usr/local/lib/python2.7/dist-packages/pip-19.0.1-py2.7.egg/pip (python 2.7)
` anybody having some clue in how to solve it?

[2019-02-02 15:45] Tassfighter opened #25458 "TF1.13.0rc0 cuda10: ImportError: libcublas.so.9.0: cannot open shared object file"
### System information
- **OS Platform and Distribution:  Linux Ubuntu 16.04
- **TensorFlow installed from: Docker Tag 1.13.0rc0-gpu-py3
- **Python version**: 3.5
- **CUDA/cuDNN version**: cuda 10.0
- **GPU model and memory**: 2 * RTX 2080 TI and 2 * GTX 1080

### Describe the problem

With version 1.13.0rc0 (for gpu, py3) from dockerhub an error occurs on:

`import tensorflow as tf`

With version

[2019-02-02 16:54] haemaenpaa opened #25459 "Converting a keras Sequential CNN to estimator and training it removes all layers, then crashes for want of layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): ('v1.1

[2019-02-02 17:05] girving commented on #23561
Actually I'd failed to test it correctly.  It works!  Thank you @gunan!

[2019-02-02 17:12] tomzo opened #25460 "usage of Dataset.window causes TypeError when creating iterator"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.5

**Describe the current behavior**

Following code is a snippet from [Dataset.window documentation]

[2019-02-02 18:49] tensorflowbutler commented on #24002
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-02 21:35] dynamicwebpaige opened #25461 "Feature: Update the environment capture script for system information."
The current [**environment capture script for TensorFlow**](https://github.com/tensorflow/tensorflow/tree/master/tools/tf_env_collect.sh) does not provide all of the system information required for filing bug or performance issues:

- **OS Platform and Distribution** (e.g., Linux Ubuntu 16.04)
- **Mobile device** (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device
- Tens

[2019-02-02 23:33] zhang-jian opened #25462 "tflite outputs don't match with tensorflow outputs for conv2d_transpose"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform a

[2019-02-02 23:42] kevinyen-oath commented on #23030
same issue in 1.12.0

[2019-02-03 02:46] rsepassi opened #25463 "TensorFlow GCS access does not work from colab"
**System information**
Using colab.research.google.com

**Describe the current behavior**

Hangs.

[code]

**Describe the expected behavior**

Should not hang.

[2019-02-03 02:47] rsepassi commented on #25463
Linked tensorflow/datasets#36

[2019-02-03 02:54] rsepassi opened #25464 "Unnecessary logging noise for non-authenticated GCS access"
**System information**

* Ubuntu 16.04
* Python 3.6
* TF 1.12

**Describe the current behavior**

Unnecessary access to GCP metadata endpoint, 10 retries, and lots of logging.

**Describe the expected behavior**

Should not be trying to access GCP metadata endpoint.

**Code to reproduce the issue**

[code]

(Linking issue tensorflow/datasets#38)

[2019-02-03 02:55] wookayin commented on #19945
I think this is an **important** bugfix worth mentioning in the [RELEASE NOTE](https://github.com/tensorflow/tensorflow/releases).
Please consider adding it to the changelog.

[2019-02-03 06:16] BilalSaeedLM10 commented on #17022
After everything I tried, I finally decided to switch back on Python 3.6.8  : : Anaconda.
And now tensorflow is working for me!
Here is the command for it!

**conda install tensorflow keras**

[2019-02-03 07:47] rachiteagles opened #25468 "ImportError: DLL load failed with error code -1073741795"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-02-03 08:00] a6802739 commented on #25461
@dynamicwebpaige  is this appropriate for a beginner to try for the first contribution?

I'm interested in this, hope I could get some advice and tackle this issue.

[2019-02-03 09:10] thebeancounter commented on #25454
update: could this be a gpu id issue? when I try to create a multi_gpu_model without specifing the gpus count with the following code:

    model = multi_gpu_model(model)

I get the following error:

I only have 2 gpus, they are connected to pci ports # 1 and 2 (I cant change that, I don't have the proper space on the board needed to connect them to port 0), does it make any sense that when specif

[2019-02-03 09:31] piyush-kgp commented on #25364
I want to contribute.
Is this referring to imports like https://github.com/tensorflow/tensorflow/blob/226398bd70d6369dd97fa9cf4bee94af9a05f1d0/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py#L33 where we would maybe want to import data from Tensorflow Datasets:
[code]

[2019-02-03 10:18] thebeancounter commented on #24671
@cgarciae

I wrote one of my own, looking for some guidance for how to create a PR for it, and maybe someone to give another look at it before that. want to give me a hand?

[2019-02-03 10:21] gsutanto opened #25469 "No converter defined for Switch"
This is a similar issue like https://github.com/tensorflow/tensorflow/issues/23397
[code]

This will result in:
[code]
Would you mind fixing this, similar like https://github.com/tensorflow/tensorflow/issues/23397 ?

P.S.: If the fix made it to nightly build, how to update it on my side? Is it just re-installing (e.g. with pip)? Thanks a lot!

[2019-02-03 10:53] flodorner opened #25470 "Scoping bug with custom layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, see below

[2019-02-03 12:04] defaultUser3214 commented on #25171
@freedomtan the image_tensor error from above only appears in the tfMobile App but in the tfLite demo app it could be resolved by using your link. Is tfMobile only able to use protobuf files and this is the reason for the error?

[2019-02-03 13:17] fzyzcjy commented on #22697
Hi! Is there any fix now?

[2019-02-03 13:17] ZhiqingXiao opened #25472 "tf2.0 - tf.keras.optimizers.Optimizer.get_updates() does not work"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-02-03 14:09] seanpmorgan commented on #25279
@facaiy is correct it will take some time before we're in a position to accept questions for addons ExternalOptimizers. As part of the moving and upgrading code from contrib to addons, we also need to step through the code and make sure we understand exactly how it works.

In the mean time, I'll try to some troubleshooting -- but can not give any concrete time estimates.

[2019-02-03 16:05] xujialiang commented on #9661
can u share something?

[2019-02-03 16:16] bhack commented on #25355
What about deepmind graph_nets? https://github.com/deepmind/graph_nets/

[2019-02-03 18:38] brancoliticus opened #25473 "tf.distribution.Normal memory leak on calls to sample()"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04
- TensorFlow installed from (source or binary):
pip3 installation
- TensorFlow version (use command below):
12.0
- Python version:
3.6.7

**Describe the current behavior**
Type in the code below and watch memory usage increase.

**Describe the expected behavior**
Type in the code below and see no memory

[2019-02-03 18:41] tensorflowbutler commented on #23077
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-03 19:41] KrisKusano commented on #21470
Does this work? https://github.com/tbennun/nccl-windows

[2019-02-03 19:55] cgarciae commented on #24671
@thebeancounter you a repo for this?

[2019-02-03 20:54] MoreYoungGavin commented on #22794
i am also see the same issue

[2019-02-03 23:11] kirk86 opened #25474 "Core dumped bfc allocator"
**System information**
- Have I written custom code (yes):
- OS Platform and Distribution (Linux Ubuntu 18):
- TensorFlow installed from (binary):
- TensorFlow version (1.12.0):
- Python version: 3.6
- CUDA/cuDNN version: cuda9/ cudnn7
- GPU model and memory: 1080Ti 11GB

**Describe the current behavior**
I get the following message during inference on mask rcnn model.
[code]

**Describe the expec

[2019-02-03 23:12] tarfeef101 commented on #15656
Still waiting on actual support because not everyone can build from sources. I, for example, need it in a conda environment which is created in Docker (and therefore can't be activated to build then switched back to the root environment for the rest of the build tasks).

Given the feedback here in this comment chain, it shouldn't be a lot of work to ship a 9.1 compatible version. Hell give me a we

[2019-02-03 23:15] shailensobhee commented on #17022
As of now, tensorflow does not work with Python 3.7.

If you are using Anaconda, do the following:
`conda install python=3.6`
Then
`conda install tensorflow keras`

Done and save yourself the headaches.

[2019-02-03 23:48] edbordin commented on #17048
@calannap due to the way the `multiprocessing` module works you need to make sure that the arguments passed into your wrapped function can be pickled and unpickled. As a workaround try creating the swig objects inside your function (if possible).

[2019-02-03 23:51] dynamicwebpaige commented on #17022
#25429

[2019-02-03 23:53] compris-com commented on #17022
On Windows, this distribution works for me:
https://github.com/fo40225/tensorflow-windows-wheel

[2019-02-03 23:55] mickey740 opened #25475 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed. \n Failed to load the native TensorFlow runtime."
**System information**
- OS Platform and Distribution : Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version: 1.8.0
- Python version: 3.6.8
- Installed using pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

I am trying to run an extractor on my pc. Keep getting error no m

[2019-02-04 00:52] mhamdan91 opened #25476 "Gradient calculation in eager mode"
Hi,
I would like to know what exactly tape.gradient does in eager mode when a batch is passed to it.
Does it aggregate all gradients? and if so, does it sum them up or average them or what?

Thanks

[2019-02-04 00:56] danmackinlay commented on #20444
So I believe we can follow an actual open ticket for this at #25429

[2019-02-04 02:05] gsutanto commented on #25469
So, I came along a simple hack to get around this issue (which sort of works):
[code]

But then I got another issue:
[code]
i.e. the computed Jacobian is always 0 during training phase when using batch normalization layer.
Obviously I also want to optimize parameters in the batch norm layer (my real case is I have a loss which is a function of the Jacobian of a neural net with batch norm layer).
A

[2019-02-04 02:54] yongtang commented on #25460
@tomzo I could reproduce the issue with `tensorflow==1.12.0` but not with `tf-nightly`. Looks like the issue has been fixed in the master branch. Could you try with `tf-nightly`?

[2019-02-04 03:57] perfinion commented on #25283
Yeah, in this case unbundling and using openssl is probably much easier.

`export TF_SYSTEM_LIBS="boringssl"; ./configure`

then do the build like normal and it will swap boringssl out and link to regular libssl on your system.
You can also unbundle and use your system libraries for both grpc and boringssl by doing `export TF_SYSTEM_LIBS="boringssl,grpc"`. I doubt even for distributed training you

[2019-02-04 04:51] tarod13 commented on #21518
I had the same problem during the installation in virtualenv. It worked once I installed

pip install keras_applications==1.0.4 --no-deps
pip install keras_preprocessing==1.0.2 --no-deps
pip install h5py==2.8.0

**outside** of the virtual environment.

[2019-02-04 05:04] dvisztempacct opened #25478 "TF 1.11.0 Updating non-Variables?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes https://gist.github.com/dvisztempacct/43e738e1651ecf61323ae92cae41c94c
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu Bionic Derivative (System76 PopOS)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
n/a
- T

[2019-02-04 05:22] cindy951357 opened #25479 "tensorflow build 1.13 build fails"
I need tensorflow 1.13 (1.12 or below doesn't fit my need.)
But for now I can only build from source.
command:
` bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`
returned:

[this discussion](https://github.com/tensorflow/tensorflow/issues/25151) says that we can wait for **rc2**.
But when will rc2 release?
Or can I use python3.6 to build tensorflow 1.13?

[2019-02-04 06:43] mrsabhar commented on #23420
I also got above error even with workaround.

[2019-02-04 06:53] Ashokcharu opened #25480 "C- How to draw bounding-box using tensorflow c_api"
### In python
I did object detection, Its working fine. Same thing I want to do in C

Here is the code to detect the object object in python

Calling boxes, like following:

[code]
similarly for scores, and classes.

Then just called them in session run.

[code]
Now Drawing the results of the detection

[code]
Now I can able to view the image and detect the object(face).

`cv2.imshow('Object detec

[2019-02-04 07:01] ksekine opened #25481 "Here is a list of operators for which you will need custom implementations: AddN."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.2
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source):
tensorflow==1.12.0
tf-nightly==1.13.0.dev20190126

**Describe the current behavior**
When I convert my custom model to TensorFlow Lite model format, I got the following error message and cannot co

[2019-02-04 07:11] navneethc commented on #15656
If it helps, Anaconda offers its own packaged version of Tensorflow compiled with CUDA 9.2. And supposedly it's faster than pip-installed TF.

https://www.anaconda.com/tensorflow-in-anaconda/

[2019-02-04 07:33] SuperKuooo commented on #13044
For those who are still having trouble, that is because some of the stupid files disguised themselves as jpg but are not actually jpeg. Create a python file and copy this code(modified from above). (Change the directories if you need to.) This program will pick out files that are not actually jpeg. delete them then you are good to go.
"""import imghdr
import cv2
import os
import glob

for folder i

[2019-02-04 07:57] dynamicwebpaige commented on #25364
Hi, @piyush-kgp! Thanks for the offer to help - we appreciate it! 😊

For more information on `tf.data.Datasets`, check [here](https://github.com/tensorflow/datasets).

@rsepassi would be the best contact, and is working with @yashk2810 + several other members of the TensorFlow team to get tutorials ready for TF 2.0. Also make sure to follow progress on these two issues for TFDS support and testing

[2019-02-04 08:04] dynamicwebpaige commented on #25461
@a6802739 - thanks for the offer to upgrade the environment capture script! 😊

Adding information for one or more of the bullet-points above (or even comments describing what the current upgrade script does, line by line!) would be a great first issue, and I'd be happy to chat about next steps. Please feel free to send me an email ([webpaige@google.com](mailto:webpaige@google.com)).

[2019-02-04 08:45] dynamicwebpaige commented on #25355
@bhack - It looks like [**Graph Nets**](https://github.com/deepmind/graph_nets/) has dependencies on both **Sonnet** and **TensorFlow Probability** - which means that those libraries would need to be converted to TF 2.0 before Graph Nets could start migrating. 😊

If you'd like to help test the upgrade process for any of the above, though, or to take a stab at porting TensorFlow 1.x code to 2.0, we

[2019-02-04 09:02] a6802739 commented on #25461
@dynamicwebpaige , Thank you very much, I will try to add one system information for the current `environment capture script` first.
 And I will ask for your help if I met some problems, hope it wouldn't bother you too much.
Thank you again.

[2019-02-04 09:19] impjdi commented on #25193
@ilous12

My understanding is that the model has 21 classes:

https://medium.freecodecamp.org/how-to-use-deeplab-in-tensorflow-for-object-segmentation-using-deep-learning-a5777290ab6b

And given the dimensions, I would *assume* that a pixel at position [1, H, W, C] would indicate the probability of the pixel [H, W] belonging to class C.  Thus, you would want to find out which channel has the max v

[2019-02-04 10:09] tomzo commented on #25460
Tested in docker image `tensorflow/tensorflow:nightly`
[code]
Does not throw errors anymore.

Thanks.

[2019-02-04 10:57] ricvo opened #25484 "initialize variables from other tensor slow in tf1.12.0: comparison tf0.12 vs tf1.12.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 16.04
- TensorFlow version (use command below): 1.12.0 and 0.12
- Python version: 3.5 (for tf1.12.0) and 2.7 (for tf0.12)

**Describe the current behavior**
I am trying to use weight normalization with dat

[2019-02-04 11:35] 4nonymou5 commented on #25171
@defaultUser3214
were you able to find anything for the post-processing of the object detection model used with tflite gpu snippet ?

[2019-02-04 11:45] kirankumarkv commented on #9701
Had the same problem of graphs not populating with
tensorboard --logdir=training:log_dir --host=127.0.0.1
Hence specified just the directory which contains training information
tensorboard --logdir=training --host=127.0.0.1

[2019-02-04 12:42] GustavZ commented on #24239
when will tf 1.13 be released and solve this?

[2019-02-04 14:09] mortendahl commented on #25386
@skye to understand the problem better and out of curiosity, would you mind pointing to a place where the assumption on returning None is used?

[2019-02-04 14:25] Vooblin opened #25486 "[Bug, Quantization, MKL] Rounding error of fake quantization not corresponds to rounding error of real quantization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1

[2019-02-04 14:36] Vooblin commented on #24855
@mdfaijul Thank you very much for your response! It helped me fix this error.

[2019-02-04 14:36] #24855 closed

[2019-02-04 14:46] Worthy7 commented on #22794
I'm trying to get this working on 2.0, are the requirements supposed to be the same?

[2019-02-04 15:06] harahu commented on #16875
@gunan in july you played with the idea of reevaluating the choice of sticking to 3.5. Any news on that process? Did you decide to keep Ubuntu 16.04, or is there movement in that regard?

[2019-02-04 15:47] skye commented on #25386
Here's one I happen to run into recently: http://google3/third_party/tensorflow/python/ops/array_grad.py?l=410
Note that we always return None for the indices grad of [gather](https://www.tensorflow.org/api_docs/python/tf/gather). This is a niche case, but if you were attempting to take the gradient w.r.t. a variable that determines the indices, this grad function would silently return the wrong a

[2019-02-04 15:54] alextp commented on #25414
The reason why this is not documented is that this is a bug we're still
working on a fix for (and documenting broken behavior leads to workarounds
persisting for long after the issue has been fixed).

On Sat, Feb 2, 2019 at 1:54 AM Emanuele Ghelfi <notifications@github.com>
wrote:

--
 - Alex

[2019-02-04 16:08] ThatIndividual commented on #25093
@harishperfect when doing this, brew installing 3.6.5 fails precisely when calling sphinx-build, leading to 3.6.5 not being installed at all

[2019-02-04 16:08] alextp commented on #25418
It's @tomerk who has it

[2019-02-04 16:22] rsepassi commented on #25364
That’s great, thanks @piyush-kgp. TFDS is now TF 2.0-ready and can be used in the tutorials. @yashk2810 and his colleagues can coordinate work on the tutorials.

[2019-02-04 16:25] rsepassi commented on #25367
TFDS now supports TF 2.0. Woohoo!

[2019-02-04 17:02] nagama98 opened #25487 "from utils import visualization_utils as vis_util ImportError: cannot import name 'visualization_utils'"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-02-04 17:12] mluszczyk opened #25488 "import_meta_graph raises KeyError: InfeedEnqueueTuple when importing a graph trained on TPU"
Function `import_meta_graph` fails with `KeyError: InfeedEnqueueTuple` when importing a meta file of a graph trained on TPU (and with `TPUEstimator`). For graphs trained on CPU (also with `TPUEstimator`) it works correctly. Is this expected behaviour? How can I load a graph with parameters trained on TPU for CPU evaluation?

I noticed a similar error also related to TPU in another Github project,

[2019-02-04 17:15] dave-fernandes commented on #2682
Here is an implementation of the Saddle Free method:
https://github.com/dave-fernandes/SaddleFreeOptimizer

[2019-02-04 17:42] aselle commented on #25151
It probably will be for official release..

[2019-02-04 17:46] gunan commented on #16875
After discussing with NVIDIA they agreed to reintroduce support for ubuntu 14.
As Debian stable and Centos 7 compatibility would be lost with newer ubuntu versions, our CI stayed with ubuntu 14.
I think our dockerfiles have been updated to ubuntu 16. Not sure about the python version on them.

[2019-02-04 17:55] ebrevdo commented on #25064
It's somewhat nontrivial for dt.string; but for other data types it's relatively straightforward to implement a hacky version yourself.  Sadly I don't know golang so I can't translate into the language's syntax but basically:

if you have a vector of contiguous memory, the tensor_content is literally just that memory copied through.  So for example if you have a vector of 4 integers, you'd just co

[2019-02-04 17:55] craigcitro commented on #25463
Yes, this one's a known bug: the problem is that it's trying an authenticated request, with some number of timeouts; IIRC, it'll eventually complete after ~10m. (!!!)

Quick workaround: first, do

    from google.colab import auth
    auth.authenticate_user()

and it'll work.

This was intended to be fixed upstream, but it looks like that didn't work (at least, it still hangs for me). I'll take a

[2019-02-04 17:59] vdemario opened #25490 "Compilation fails on protobuf_archive"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: source
- TensorFlow version: 1.12
- Python version: 3.6.7
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 0.22.0
- GCC/Compiler version (if compiling from source): 7.3.0
- CUDA/cuDNN version: N/A, compiling for CPU
- GPU model and memory: N/A, com

[2019-02-04 18:15] gehring commented on #25143
To facilitate debugging this issue, here is a small [notebook](https://gist.github.com/gehring/802ebce4675360f7467b4e90b16ecd69) (~80 lines) which should reproduce the issue (tensorflow 1.13, python 3.6).

Replacing the loop in the gradient function with a fixed graph seems to avoid the issue. The problem seems to be related to the combination of `tf.custom_gradient`, `tf.while_loop`, and `backpro

[2019-02-04 18:35] ymodak commented on #25411
Please refer this [link](http://mathalope.co.uk/2017/05/31/how-to-import-tensorflow-from-python-console-jupyter-console-qtconsole-notebook-and-ipython-notebook/)  for  importing TF in Jupyter.

[2019-02-04 18:41] alextp commented on #25382
I'm a little confused. What's the issue you have here? You see a CancelledError because the function call as a whole is cancelled. Is the issue because you wanted to get an AssertionError?

[2019-02-04 18:43] rsepassi commented on #25463
Thanks @craigcitro. Why is it trying to make an authenticated request? In the particular case I'm running into, it's a publicly accessible GCS bucket, so no auth necessary. Where is the "authenticated request" logic happening? I'm guessing it's a TF thing, not a colab thing, right? Should we update it to first check if credentials exist? (if so, make authenticated request, if not don't)

In my par

[2019-02-04 18:43] ymodak commented on #25358
This issue is more suitable for [Mask_RCNN repo](https://github.com/matterport/Mask_RCNN/issues). Please post it on Mask_RCNN repo since its not a bug or a feature request on TF side. If you think we have mistaken, then please provide a minimal reproducible test case to validate the issue reported here. Thanks!

[2019-02-04 18:43] #25358 closed

[2019-02-04 18:48] ads296 opened #25492 "Executor failed to create kernel. Not found: No registered 'NGraphVariable' OpKernel for GPU devices compatible with node {{node FirstStageFeatureExtractor/InceptionV2/Conv2d_1a_7x7/BatchNorm/beta}} = NGraphVariable[_class=["loc:@Assign"], container="", dtype=DT_FLOAT, just_looking=false, shape=[64], shared_name="", _device="/job:localhost/replica:0/task:0/device:GPU:0"]() . Registered: device='CPU'"
### **Executor failed to create kernel. Not found: No registered 'NGraphVariable' OpKernel for GPU devices compatible with node {{node FirstStageFeatureExtractor/InceptionV2/Conv2d_1a_7x7/BatchNorm/beta}} = NGraphVariable[_class=["loc:@Assign"], container="", dtype=DT_FLOAT, just_looking=false, shape=[64], shared_name="", _device="/job:localhost/replica:0/task:0/device:GPU:0"]()     .  Registered:

[2019-02-04 18:53] preethivenkatesh commented on #23420
we are working to get a fast resolution on this https://github.com/tensorflow/tensorflow/issues/25213#issuecomment-459091124

[2019-02-04 18:53] jlebar commented on #25143
Thank you for the clear STR, @gehring.

@sanjoy can probably speak to this better than me, but it's not clear to me how XLA is supposed to be able to infer shapes here.  I guess we could theoretically examine the loop and notice that, with a particular set of input shapes, the shapes while running the loop are invariant?  That sounds possible but pretty challenging...

I think manually rewriting t

[2019-02-04 18:54] ymodak commented on #25325
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-02-04 18:57] markste-in commented on #25073
Can confirm:
Used a slightly modified version:
[code]
and get the following output:
[code]

[2019-02-04 19:13] gehring commented on #25143
Thanks for getting back to me so fast! @jlebar, I guess I understand XLA's shape inference a little less than I thought. My understanding is that, in this situation, tensorflow can infer the shapes from the graph but XLA cannot?

As for the static graph workaround, in my use case, the condition will likely terminate the loop before the maximum number of iterations. Would the XLA compiler handle ch

[2019-02-04 19:25] yoyolin opened #25495 "Inference speed slows down after using graph transform tool"
**System information**
- Have I written custom code: No, I used tensorflow's object detection api's officially released model `ssd-mobilenet-v1-fpn`.
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): built from source, with xla and mkl support, use nvcc as compiler.
- TensorFlow version (use command below): r1.12.0
- Python version: Python 3.6.4 |An

[2019-02-04 19:34] eyildiz-ugoe commented on #23683
This is still an existing issue on 64 bit Windows 10 with Tensorflow 1.7 and cuda 9.0.

`ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed.`

[2019-02-04 19:39] ymodak commented on #25474
@jlebar

[2019-02-04 19:42] ymodak commented on #25441
duplicate #25440

[2019-02-04 19:42] #25441 closed

[2019-02-04 19:48] ymodak commented on #25440
@asimshankar  @yongtang  Can you PTAL? Thanks!

[2019-02-04 19:50] vdemario commented on #25490
Related: after this I checked out the master branch (as of 62eec96637f0d7c4cf3493a676fada4a2b903821) and successfully built TensorFlow. The only thing I changed was I ran `./configure` again with a virtualenv activated. I'll try rebuilding the v1.12 tag.

I'm kinda surprised that I failed with a release and succeeded with a random commit on the master branch, but this might be relevant information

[2019-02-04 19:50] #25326 closed

[2019-02-04 19:55] MKorablyov commented on #7127
You must have implicitly or explicitly called tf.something after tf.get_default_graph().finalize(). Check out your error line

[2019-02-04 20:03] brancoliticus commented on #25473
I thought it was a good repro for a problem in a 300 lines of code program, but seems like I'll just have to search for another way to give a reasonable reproduction.

[2019-02-04 20:34] ltrottier commented on #25110
Any updates?

[2019-02-04 21:03] jvishnuvardhan commented on #25479
@cindy951357 Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be gr

[2019-02-04 21:04] jdduke commented on #25278
Hi @holyhao, I'm landing a change which adds a proper C++ shared library target for TensorFlow Lite (tensorflow/lite:libtensorflowlite.so). The (Android) binary size for arm should be ~1MB, and arm64 ~1.5MB (this includes the full set of builtin ops). You likely won't be able to get much smaller than that unless you use selective op registration as noted by @ANSHUMAN87.

[2019-02-04 21:06] jdduke commented on #25278
The main reason you're seeing a much larger binary size is that the suggested build target you referenced includes *all* symbols in the shared library, not just the symbols that are part of the public C/C++ API. Please follow issue #20905 for further updates.

[2019-02-04 21:07] jdduke commented on #25278
Duplicate of #20905

[2019-02-04 21:07] #25278 closed

[2019-02-04 21:10] danaugrs commented on #24705
@jvishnuvardhan Thanks! The Windows path length limit was the issue. I edited the Windows Registry following the instructions on [this page](https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/) to remove the limit.

[2019-02-04 21:48] jvishnuvardhan commented on #25475
@mickey740 Did you follow the instructions listed on [TensorFlow website](https://www.tensorflow.org/install/source_windows). Please also check [tested build configurations](https://www.tensorflow.org/install/source_windows#tested_build_configurations). Did you try creating Virtual Machine and installing all the required modules? Please also provide any other details to find root-cause of the issu

[2019-02-04 21:56] jvishnuvardhan commented on #24705
@sscardapane Can you follow solution provided by @danaugrs. Please let me know how it progresses or close the issue if you already resolved. Thanks @danaugrs.

[2019-02-04 21:57] jvishnuvardhan commented on #25476
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-04 21:58] ymodak commented on #25459
I was able to reproduce your error message in TF 1.12.0
However using TF 1.13.rc0 gave more clear error message as below:
```ERROR:tensorflow:Model diverged with loss = NaN.```
By solving this error message I was able to use ```train``` to train the model.

[2019-02-04 22:07] mrry commented on #25295
We'd welcome contributions for this feature!

[2019-02-04 22:13] jvishnuvardhan commented on #25480
Thank you for your post. We noticed you have not filled out the fields in the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Thanks!

[2019-02-04 22:22] xilenteyex commented on #24587
Hi @alextp ,
Thanks a lot for looking into this.  I am not sure how to add control dependencies among low-level graph operations when created using high-level (contrib level) APIs. For example, I am working with [neural network for language model using PTB dataset](https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py) In this code, at [line 180](https://github.com/tens

[2019-02-04 22:31] ymodak commented on #25331
Automatically closing this issue due to lack of activity. Feel free to reopen when additional information is available. Thanks!

[2019-02-04 22:31] #25331 closed

[2019-02-04 22:32] #25246 closed

[2019-02-04 22:33] jw447 opened #25499 "Build tensorflow from source[centos]"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos
- Mobile device (e.g. i

[2019-02-04 22:34] jvishnuvardhan commented on #25490
@vdemario Could you follow the instructions [here](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) and let us know how it works. I recently used those steps and successfully installed tensorflow-gpu. Specifically, I followed instructions till git clean -xdf. After that I ran the following commands
sudo pip3 install numpy
sudo pip3 install --upgrade tensorflow-gpu

It worked for me.

[2019-02-04 22:38] GuidoBorrelli commented on #24371
Me too

[2019-02-04 22:39] ymodak commented on #25177
Yes I changed the notebook settings to GPU accelerator and was ble to execute it successfully.

[2019-02-04 22:40] skye commented on #25484
cc @alextp @akshaym @martinwicke

[2019-02-04 22:41] #25177 closed

[2019-02-04 22:46] ymodak commented on #25001
@ebrevdo Can you PTAL? Thanks

[2019-02-04 22:55] ymodak commented on #24882
Please refer this [link](https://kb.froglogic.com/display/KB/Article+-+Errors+with+%28third+party%29+Python+modules) which helps you to resolve the issue. Other than that, I suspect your CPU doesnot support AVX instructions set. Please refer following issues to know more,
#17386 , #19584

[2019-02-04 22:57] laminarinteractive commented on #17353
I may have stumbled across the same issue.  I got the error when I trained the model on the GPU and then tested the model on the CPU.

When I both test and train using the GPU, my model works without issue.

[2019-02-04 23:00] sanjoy commented on #25143
One off-topic observation first: IIUC `InvertPermutation` should not need its input to be a compile time constant since it is essentially a scatter.  I'll fix this, though I don't expect fixing this specific issue to resolve the matter since something else will likely force the output of `InvertPermutation` to be constant (probably a `Transpose`).

As a starting point I'd recommend trying out Just

[2019-02-04 23:05] ymodak commented on #24470
Apologies for the delay in response. Is this still an issue for you? Can you please the minimal code snippet to reproduce the error message? Thanks!

[2019-02-04 23:08] jlebar commented on #25143
That's one way of thinking about it, I suppose.  Another way of thinking about it is:

In order to run an operation in TensorFlow *or XLA*, TF/XLA needs to know what are the concrete shapes of the input/output and any intermediate results.  In TF "an operation" is the degenerate case of one TF op, where it's trivial to know the output shapes given the input shapes.  In XLA, however "an operation"

[2019-02-04 23:10] christk1 commented on #14857
@mrry can you give me a link that explains how to do the first step about shards?
what i did was just splitting my database into non-shuffled small databases and then followed step 2 but it didnt help because i miss step one...

[2019-02-04 23:12] ymodak commented on #24400
Apologies for the delay in response.

[2019-02-04 23:18] cindy951357 commented on #25479
Thank you for your response. I am not quite understanding what you mean by **update them if they are relevant in your case, or leave them as N/A**.
For your information, from my experience( after some testing), tensorflow 1.13 can be installed with python 3.6.5 but **NOT** python 3.7.

[2019-02-04 23:19] alextp commented on #24587
You can always do

with tf.control_dependencies(...):
  seq2seq.some_call_gere()

On Mon, Feb 4, 2019 at 2:29 PM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-04 23:31] jvishnuvardhan commented on #25479
@cindy951357 We want the system information in order to provide faster resolution. For example, if you don't have GPU, then you will write N/A for "GPU model and memory:". Regarding TF 1.13, python 3.7 was not listed on the download [page](https://pypi.org/project/tf-nightly/). Please try Python 3.6.5. Thanks!

[2019-02-04 23:42] jlebar commented on #25474
@tatatodd does bfcallocator fall under your team's purview now?

[2019-02-05 00:12] ymodak commented on #23099
@benoitsteiner Can you PTAL?

[2019-02-05 00:34] alextp commented on #23515
The issue here is that, in Estimator, when creating a Dataset in the input_fn, you need to create the entire Dataset in the input_fn, not just the iterator. So if you replace

[code]

with

[code]
your code just works.

[2019-02-05 00:34] #23515 closed

[2019-02-05 00:36] alextp commented on #25484
I believe these are just cosmetic differences because tf.layers changed its implementation of name scopes.

[2019-02-05 00:37] gunan commented on #25144
The one I ran into is more around this one:
http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1647
This is I think fixed with  patch releases to GCC.

Not sure about the compiler error reported on this issue.

[2019-02-05 00:42] dynamicwebpaige commented on #25448
![image](https://user-images.githubusercontent.com/3712347/52246764-d16af380-289b-11e9-9019-eb74134f4a86.png)

[2019-02-05 00:46] martinwicke commented on #25430
John, seems to be a problem with bazel 0.21, 0.22. I assume we're simply not ready for that yet?

[2019-02-05 00:49] martinwicke commented on #25484
That explains the visualization, but not the runtime though

[2019-02-05 00:49] frankchn commented on #25488
Hello @mluszczyk!

Thanks for your bug report, but this is known and not really considered a bug right now.

During training, TensorFlow doesn't guarantee that the TensorFlow graph stored with the checkpoints can be used elsewhere. Your scenario would also not work if you trained with multi-GPUs using GPU specific ops like NCCL AllReduce.

If you want to export a model that can be imported by othe

[2019-02-05 00:49] #25488 closed

[2019-02-05 00:50] martinwicke commented on #25446
Gaurav is working on a proper replacement, it's not ready yet, for now please use compat.v1.

[2019-02-05 00:51] martinwicke commented on #25458
@aselle this shouldn't try to load CUDA 9, right?

[2019-02-05 00:55] martinwicke commented on #25479
Alex, Mark -- I believe you are users of astor in TF. The message above indicates that astor is not compatible with Py 3.7 (use or reserved word). This means that we must replace astor, or fix it.

Can it be fixed?

[2019-02-05 00:57] martinwicke commented on #25479
@aselle @goldiegadde this would prevent 3.7 binaries for 1.13, right?

[2019-02-05 00:58] aselle commented on #25479
@gunan @av8ramit

[2019-02-05 01:16] MarkDaoust commented on #25479
This looks like it's fixed in the latest `astor` release:

https://github.com/berkerpeksag/astor/blob/0.7.1/astor/code_gen.py#L312

And it looks like tensorflow is using 0.71.

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/workspace.bzl#L287

@cindy951357 what version of astor do you have installed. It looks like 0.6.* or before is broken.

I don't see how it would make a differe

[2019-02-05 01:21] jvishnuvardhan commented on #25454
@thebeancounter Can you check the detailed description and an example on keras website [here](https://keras.io/utils/). Please let me know how it progresses. I will try to run it tomorrow on my desktop with GPU. Thanks

[2019-02-05 01:31] ymodak commented on #25232
@asimshankar Can you PTAL? Thanks

[2019-02-05 01:34] av8ramit commented on #25479
@martinwicke yes unfortunately I'm running into this issue on the r1.13 branch. It seems to be fixed in master. I think we need to cherrypick https://github.com/tensorflow/tensorflow/commit/868a11a8de788134caeadc895625583e8b44b660

[2019-02-05 01:34] alexbw commented on #25479
@mdanatg

[2019-02-05 01:38] av8ramit commented on #25479
PR is out: https://github.com/tensorflow/tensorflow/pull/25503

[2019-02-05 01:39] lorenzoriano commented on #20874
I've replaced `tf.contrib.layers.batch_norm(net)` with `tf.keras.layers.BatchNormalization()(net)` but I'm seeing the same problem

[2019-02-05 02:52] girving commented on #25446
We don't know how to use `compat.v1` to do this.  If there is a way, would it be possible to answer the Stackoverflow question so that it would be possible for us to try TF 2?  The implication from @allenlavoie was that no workaround existed.

[2019-02-05 03:01] ymodak commented on #25492
This issue is more on suitable on TensorFlow/models repo. Since its not a bug or feature request on TF side,Please post on tf models from [here](https://github.com/tensorflow/models/issues). If you think we have misinterpreted the bug please provide a minimal code snippet to reproduce the issue reported here. Thanks!

[2019-02-05 03:01] #25492 closed

[2019-02-05 03:35] bareblackfoot opened #25504 "tf.gather produces Invalid argument error while the code is working on GPU"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-02-05 04:03] ebrevdo commented on #25001
If you call `tf.nn.{dynamic_,}rnn` with `sequence_length` vector provided and use padded inputs, it will behave the same as if you used pytorch's pack_padded_sequence.  Specifically, the final state will properly contain the state of the final step for each batch, and the output values in a batch row `b` corresponding to time points after `sequence_length[b]` will be zeroed out.

[2019-02-05 04:03] #25001 closed

[2019-02-05 04:07] martinwicke commented on #25446
(and you should be able to use tf.compat.v1.ConfigProto to create the
config parameter)

[2019-02-05 04:27] shuuchen opened #25507 "Cannot import tensorflow-gpu in jupyter notebook."
Hi,

I am using the following conda environment and jupyter notebook.

python==3.5
tensorflow-gpu==1.4.0
cuda==8.0
cudnn==6.0

While I can correctly import tensorflow in the cmd line:
[code]
 I can' t import it in the jupyter notebook:
[code]

The jupyter seems cannot find cuda path. The other similar issues don' t work either.

Any help please ?

[2019-02-05 05:19] martinwicke commented on #25446
No. We will split ConfigProto and replace it with a number of function
configuring different parts of the runtime. You can wait for that if you
want: what will definitely be true is that any future solution here will
require only a local change.

[2019-02-05 06:02] feihugis opened #25509 "[tf.data] non-used attributes in some tf.data operation definitions"
Some attributes in [tf.data operation definition](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/dataset_ops.cc) (e.g. `RangeDataset`, `TensorDataset`, `TensorSliceDataset`) do not seem to be used in other places.

Taken [RangeDataset](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/dataset_ops.cc#L339-L340) as an example, the `output_types` and `

[2019-02-05 06:03] shkarupa-alex commented on #18858
I think that issue is deeper inside Estimator architecture.
In my case i see all required validation metrics, but non of them for training phase.

This is because EstimatorSpec returned in training stage did not contain eval_metric_ops (look at any estimator _Head).
Estimator's internal methods that use EstimatorSpec in train phase (as i think) don't use at eval_metric_ops too.

If we look at [cus

[2019-02-05 06:57] trijiro commented on #24369
@zubairahmed-ai
I had same problem.
I downloaded mobilenet_v2_1.4_224 from https://github.com/tensorflow/models/tree/master/research/slim/nets/mobilenet, and checked mobilenet_v2_1.4_224_info.txt.
`Model: mobilenet_v2_1.4_224`
`Input: input`
`Output: MobilenetV2/Predictions/Reshape_1`

However, `AssertionError: MobilenetV2/Predictions/Reshape_1 is not in graph` is occured.
Then, I inserted  below

[2019-02-05 07:52] SubigyaPanta commented on #24828
I'm also facing this issue also. Is any workaround except downgrading ?

[2019-02-05 08:09] efagerho opened #25512 "Cannot access layer losses attribute under MirroredStrategy"
### System information
- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Linux Ubuntu 18.04
- **TensorFlow installed from**: Binary
- **TensorFlow version**: 1.12.0
- **Python version**: 2.7.15
- **GPU model and memory**: 2 x TITAN V 12GB

### Describe the problem

I tried to run some of our code with multiple GPUs using MirroredStrategy instead of Horovod and noticed that

[2019-02-05 08:13] REFunction commented on #25452
**Note** that the same problem occuerred after I installed tensorflow 1.12 compiled by someone based on CUDA 10.0. So I think this problem may **not only belongs to tf-1.13rc0, but many versions on Windows platforms**. I guess perhaps Windows 10 (or more Windows versions, may be drivers) has some features to avoid that a graphics card uses too much GPU memory. As we know, there are often some prog

[2019-02-05 08:41] #24705 closed

[2019-02-05 08:41] sscardapane commented on #24705
Thanks, that was the issue.

[2019-02-05 09:00] agnz opened #25513 "Custom Reader Op results in undefined symbol: _ZTIN10tensorflow8OpKernelE on library load"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Docker container, also tried source
- TensorFlow version: 1.12.0
- Python version: 2.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if c

[2019-02-05 09:06] asimshankar commented on #25440
@anilknayak : Having all the details asked for in the issue template (in particular, the steps to reproduce the problem) would be a good idea to add. That said, going off of just the error message, it seems that you're trying to feed the same placeholder node multiple times.

Note that a "batch" is generally just a higher dimensional tensor where elements of the batch are stacked. The model in the

[2019-02-05 09:09] gauravgola96 commented on #22396
@mckeown12 did you find the solution?

[2019-02-05 09:19] shuuchen commented on #25507
solved by specifying
[code]

[2019-02-05 09:19] #25507 closed

[2019-02-05 09:50] ricvo commented on #25484
I believe it is not only a cosmetic difference. There are two methods in the code that I uploaded:
1. variable initialization and weight sharing,
2. initialization from custom initializers (custom tensors data-dependent).
I am not sure what is the difference in the low-level implementation of these two but the times are very different for them.

Also: the graph of tf1.12.0 seems to have much more

[2019-02-05 10:24] mvoelk opened #25516 "Defining metrics within loss functions was possible in Keras!"
**System information**
- TensorFlow version: 1.12.0
- Are you willing to contribute it: (Yes/No)

In Keras, it was possible to define metrics inside loss functions using closures. This means that something like the following

[code]

works perfectly fine in normal Keras but does not work in TensorFlow Keras.

I assume that there is no clear specification when the loss functions are evaluated and i

[2019-02-05 10:26] nd7141 opened #25517 "AttributeError: module 'tensorflow.python.ops.losses.losses_impl' has no attribute 'ReductionV2'"
Installing tensorflow 1.12.0 with `pip install tensorflow` results in the following error:

[code]

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow version: 1.12.0
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip

[2019-02-05 10:27] hendaboudegga opened #25518 "prediction of image segmentation after training the network tensorflow"
hello everyone,
i am working for vessel segmentation from retinal image. i am using an autoencoder network with softmax activation function for the final layer. this is my following code for training and prediction:

** training code
//loss function
losses =tf.nn.softmax_cross_entropy_with_logits(labels=net_output, logits=network)

cost = tf.reduce_mean(losses)
tf.summary.scalar("cross_entropy", c

[2019-02-05 10:41] nebgru commented on #25430
More info... Tests do not work, build does though, it completes in entirety with no problems. Bazel versioning is a problem. I modified configure file to accept 0.22.0 and it built fine with it, so you can probably remove the upper boundary.

[2019-02-05 10:50] pannous opened #25519 "Please offer binary without SSE4.1 instructions"
Some machines don't have SSE4.1 CPU instructions, resulting in this error:
https://github.com/tensorflow/tensorflow/issues/7138

Instead of forcing users to manually compile their version of tensorflow you should offer a compiled binary (on pip) with SSE4.1 instructions disabled.

[2019-02-05 10:53] Gonzalo933 opened #25520 "Normal.log_cdf raises exception when called with float64"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-02-05 11:07] Worthy7 commented on #25329
Seeing this error in 2.0-preview '2.0.0-dev20190130' too, "The minimum required Cuda capability is 6.0." - my GPU is 5.2, but that's definitely faster than my CPU.

[2019-02-05 11:23] Walkoss commented on #25458
I'm facing this same issue with the `latest-gpu-py3` tag on dockerhub.
@Tassfighter which tag did you pulled to get a working version (which refers to `1.13.0-dev20181228`) ?

[2019-02-05 12:56] zgxsin commented on #6968
I am at Ubuntu16.04 machine. After following the above steps, it still gave the same error.

[2019-02-05 13:03] ElderOrb commented on #22643
I'm getting the following errors:

error: undefined reference to 'tflite::InterpreterBuilder::operator()(std::unique_ptr<tflite::Interpreter, std::default_delete<tflite::Interpreter> >*)'
..\app\tensorflowlite/tensorflow/contrib/lite/error_reporter.h:36: error: undefined reference to 'vtable for tflite::ErrorReporter'

what I'm missing?

[2019-02-05 13:07] ElderOrb commented on #22643
Also tried r1.12, doesnt compile at all:

bazel --output_user_root=./build build -c opt --cxxopt=--std=c++11 --config=android_arm //tensorflow/lite/experimental/c:libtensorflowlite_c.so --verbose_failures
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
/mnt/d/ai/tensorflow-wus-r1.12/tools/bazel.rc
INFO

[2019-02-05 13:08] vdemario commented on #25490
@jvishnuvardhan this is going to be very useful on another environment where I'm trying to build tensorflow-gpu and failing but in this scenario I'm actually building for cpu, not gpu. Do you recommend I try starting from the _install bazel 0.8.0_ part and skip everything before that?

[2019-02-05 13:53] iLeW opened #25524 "Tensorboard Keras fit callback error with TensorFlow 2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Tensorflow installed from (source or binary): pip
- Tensorflow version (use command below): tf-nightly-gpu-2.0-preview | 2.0.0.dev20190204 |
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0, V10.0.130

[2019-02-05 14:40] meyerjo commented on #13463
This is really gold to find the corrupted files. Thanks

[2019-02-05 14:56] sistemas3-mv commented on #25062
Same problem here, did you solve it?

[2019-02-05 15:13] dankal444 commented on #23253
I have the same issue as well

[2019-02-05 15:44] dynamicwebpaige commented on #25524
Potentially of interest: #24632

[2019-02-05 15:49] dynamicwebpaige commented on #25356
#25524, #24632

[2019-02-05 15:53] nwestlake opened #25525 "tf.layers.batch_normalization deprecation is a regression"
**System information**
- TensorFlow version (use command below):
('v1.12.0-7360-g5076adf64a', '1.13.0-dev20190204')

**Describe the behaviour**
[tensorflow/tensorflow/python/layers/normalization.py](https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/python/layers/base.py) has a deprecation warning: (Use keras.layers.batch_normalization instead.')

However, the BatchNormalization class

[2019-02-05 16:11] mika-fischer commented on #16184
@yifeif Could you point to the commit/pull request where this was changed? Does it happen by default or do we have to alter the build process somehow? I guess this will not be in 1.13?

[2019-02-05 16:13] herbakamil opened #25526 "ModuleNotFoundError: No module named 'tensorflow_estimator' in bazel tests"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Ga

[2019-02-05 16:22] Tassfighter commented on #25458
@Walkoss I've pulled version 1.13.0-dev20181228 some days ago from a nightly build. So I assume it's not there anymore, sorry :(

[2019-02-05 16:32] Dekken opened #25527 "ROCm build doesn't detect GPU"
**System information**
- OS Platform and Distribution  Ubuntu 18.10
- TensorFlow installed from source
- TensorFlow version tensorflow-1.13.0rc0-cp36-cp36m-linux_x86_64.whl
- Python version: 3.6
- Installed using pip with wheel built from source:
- Bazel version 0.21:
- GCC/Compiler version 8.2:
- CUDA/cuDNN version N/A:
- GPU model and memory: AMD Vega RX 64

**Describe the problem**

Selecting R

[2019-02-05 16:36] drscotthawley commented on #19464
@jiakai0419

This had no effect.  Error persists on Mac.

"Warning: c-ares 1.15.0 is already installed and up-to-date"

[2019-02-05 16:39] uyplayer opened #25528 "where is tensor_forest ? i cannot find it from API ?"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:
- Doc Link:

**Describe the documentation issue**

**We welcome contributi

[2019-02-05 16:43] anilknayak commented on #25440
@asimshankar
ExpandDims is not for batch size, this says which dimension it will expand the tensor.
[code]

[code]
however I have prepared a Map of ```map[tf.Output]*tf.Tensor{input: tensor}``` with a different scope of input placeholder still did not work and throws me an error
```Endpoint "Placeholder:0" fed more than once.```

I have tried lot of possibility, but I don't know the perfect settin

[2019-02-05 16:47] #25528 closed

[2019-02-05 16:47] sathyamoorthyrr commented on #615
any recent(improved) methods to train models in Python and make predictions with C++? as now, what is the best method to achieve this? @martinwicke @HamedMP

[2019-02-05 16:50] alextp commented on #24587
To do so you need to refactor your code in seq2seq to expose the building
of the operations whose dependencies you want to control.

On Tue, Feb 5, 2019 at 8:34 AM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-05 16:51] drscotthawley commented on #24568
@PigApple Which bazel version did you use?

[2019-02-05 16:56] xilenteyex commented on #24587
Can I also do this by modifying the TensorFlow scheduler ? I ask this because there are a lot of contrib level calls that I am using and in this way, I have to modify all of those. But, If I can control this by modifying the scheduler that will work for my case as well and I don't need to modify any of the contrib code.

[2019-02-05 16:57] allenlavoie commented on #25400
Sounds reasonable to me. Although it should already be possible to point warm start to the `variables/` directory of the SavedModel, no? That's just a regular training checkpoint.

[2019-02-05 16:58] drscotthawley commented on #25490
I am getting a similar "builtin variable 'REPOSITORY_NAME' is referenced before assignment." error, only on Mac, and not for tensorflow-gpu, but regular tensorflow.

$ bazel version
WARNING: The following rc files are no longer being read, please transfer their contents or import their path into one of the standard rc files:
/Users/shawley/github/Incubator1/3rdParty/tensorflow/tools/bazel.rc
INFO:

[2019-02-05 17:05] alextp commented on #24587
The scheduler should be generic, not specific.

On Tue, Feb 5, 2019 at 9:00 AM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-05 17:09] alextp commented on #25444
I think this belongs better in a downstream project. Specifcally, have you looked at tf ranking https://github.com/tensorflow/ranking ?

[2019-02-05 17:09] #25444 closed

[2019-02-05 17:13] xilenteyex commented on #24587
Can I do something like I give an input to the scheduler specific to the current model and if no input is given, it will just do simple topological sorting and execute the graph ? If you think its doable, can you guide me how can I get started on this ?
Thanks!

[2019-02-05 17:16] pkit commented on #16184
@mika-fischer https://github.com/tensorflow/tensorflow/commit/e0d156b3bfef7388b31b35793a2add7b0a5fab6d

[2019-02-05 17:36] ricardobnjunior commented on #6586
@danbergeland did you solve the problem ?

[2019-02-05 17:49] gunan commented on #25329
We just checked in a change to update our windows build bots to include more cuda compute capabilities.
If you upgrade to a dev version 20190205, it should be resolved.
This both applies to 2.0 preview and tf-nightly.

1.13.0rc1 will also have more compute capabilities.

[2019-02-05 17:50] gunan commented on #16184
This won't be in 1.13.

[2019-02-05 17:54] gehring commented on #25143
Thanks, I'll look into that!

I'm still confused as to why tensorflow can statically infer all the shapes but XLA cannot but, if this is in fact expected behavior, I don't want to take any more of you time than I already have. If it isn't too inconvenient, would you be able to point out what causes the shape to become dynamic/ambiguous and why it would be hard to avoid it? Maybe I can think of an

[2019-02-05 17:55] jvishnuvardhan commented on #25490
@vdemario Actually sudo pip3 install --upgrade tensorflow worked for me for CPU version of TF. You might try
sudo apt-get update && sudo apt-get upgrade
sudo ubuntu-drivers autoinstall
sudo reboot
sudo apt-get install python3-dev python3-pip
sudo pip3 install numpy
sudo pip3 install --upgrade tensorflow
sudo pip3 install pandas keras

Please let me know how it goes. Thanks!

[2019-02-05 17:58] jrabary commented on #17851
Thanks @guptapriya. Is it the same API for TF 2.0 ?

[2019-02-05 18:19] dvisztempacct commented on #25478
Hi @alex-petrenko I did try `tf.constant`:

[code]

The output:

[code]

The only thing that did work for me was a `tf.Variable` with `trainable=False`. Which leads me to wonder: what is the difference between a `tf.constant` and `tf.Variable` with `trainable=False`?

Thanks!

[2019-02-05 18:35] vdemario commented on #25490
It's not a matter of installing the prebuilt binary, that won't work for my old CPU.

See this issue: https://github.com/tensorflow/tensorflow/issues/19584. The title of the issue explains my situation perfectly:

On that same issue the official recommendation is:

That's what I'm trying to do.

I'm building on a system with a Xeon E5540. According to _/proc/cpuinfo_ these are the flags available:

[2019-02-05 18:38] martinwicke commented on #25443
I believe this is a bug in freeze_graph (or possibly our loading code) as freeze_graph doesn't seem to properly handle ResourceVariables. The fix in #25501 presents a regression when dealing with ResourceVariables.

@petewarden @aselle is my hunch about freeze_graph correct?

[2019-02-05 18:42] alextp commented on #25478
tf.constant takes a numpy array as an argument, not a tensor

On Tue, Feb 5, 2019 at 10:25 AM Don Viszneki <notifications@github.com>
wrote:

--
 - Alex

[2019-02-05 18:47] av8ramit commented on #25479
It has been merged. @cindy951357 is this still an issue?

[2019-02-05 18:48] xilenteyex commented on #24587
Can you point me to the code-files that I should look into to understand scheduler implementation and see for myself if I can modify it to my use-case ? I found [another GitHub issue](https://github.com/tensorflow/tensorflow/issues/13763) very similar to what I am trying to achieve

[2019-02-05 18:53] jlebar commented on #25143
Maybe another way of putting it, if it helps, is that TF runs one operation at a time.  So it needs to infer the shape only of the next operation, after it knows the shapes of each of its inputs.  Whereas XLA needs to infer the shapes many steps into the future.

https://medium.com/tensorflow/pushing-the-limits-of-gpu-performance-with-xla-53559db8e473 might help, it has some examples of TF code th

[2019-02-05 19:00] alextp commented on #24587
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/executor.cc

On Tue, Feb 5, 2019 at 10:54 AM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-05 19:03] tumusudheer commented on #25220
Hi @azaks2 ,

Can you please let me know if I'm doing something wrong here ? Or how can I resolve this issue to efficiently use both of my GPUs at inference time in two separate sessions ?

Thank you

[2019-02-05 19:09] #20346 closed

[2019-02-05 19:09] #20674 closed

[2019-02-05 19:09] tensorflowbutler commented on #20346
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-05 19:09] tensorflowbutler commented on #20674
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-05 19:09] tensorflowbutler commented on #23096
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-05 19:17] dwyatte commented on #25400
Digging in, Estimators support SavedModels using the logic @allenlavoie mentions, so it is possible to just point WarmStartSettings at `[saved_model_dir]/variables/variables` (note the extra `variables`) (https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/estimator.py#L2285).

WarmStartSettings makes an explicit call to checkpoint_utils.init_from_checkpoint (

[2019-02-05 19:22] mckeown12 commented on #22396
That depends... does using PyTorch count as a solution?

[2019-02-05 19:24] DanBergelandPillar commented on #6586
@ricardobnjunior  I believe it was resolved with release version 1.0.  I no longer have this setup to verify, as this was 2 years ago.

[2019-02-05 20:28] someshbhalsing opened #25530 "ImportError: cannot import name 'toco_flags_pb2'"
**System information**
- OS Platform : Windows 10 Home x64 version 1809
- TensorFlow installed from : pip
- TensorFlow version 1.12.0

**text output from tflite_convert**

[code]

[2019-02-05 20:47] gunan commented on #25490
I think this is a problem of having a "too new" version of bazel.
You can try 1.13 branch with bazel 0.22, or downgrade bazel to the version we tested here:
https://www.tensorflow.org/install/source#tested_build_configurations

[2019-02-05 20:52] haemaenpaa commented on #25459
How does one solve that error? I tried changing the loss function to `tf.losses.mean_squared_error`, but that didn't change the result on 1.12.0.

[2019-02-05 20:57] jvishnuvardhan commented on #25530
@someshbhalsing Could you mention more details about the context and steps leading to this error? It is better if you can provide any code to reproduce the error. Thanks!

[2019-02-05 21:39] sfanetti commented on #18652
I am having the same issue with long start time - though I don't know if this has hung -- or if it has started and is just taking forever.  I guess I will give it some time.  There is no load spike on the CPU or GPU.  Nothing seems to be happening - but the process hangs.

The same problem GeForce GTX1080TI, Tensorflow 1.12.0 RC, CUDA 10.0, CUDNN 7, Windows 10

[2019-02-05 21:40] ymodak commented on #25459
The error arises due to the assignment of ```x``` ```y```` args to ```tf.estimator.inputs.numpy_input_fn``` . If you rerun the code snippet as is multiple times it should pass at next try. I see that currently it is random assignment to x, y which leads to model diverging in some runs.

[2019-02-05 21:47] gunan commented on #18652
Could you try with the latest nightly?
https://files.pythonhosted.org/packages/67/c0/e68a4f0400340b54c887703baa8eee188042c3d65a0cf535dda71abffbc2/tf_nightly_gpu-1.13.0.dev20190205-cp37-cp37m-win_amd64.whl

[2019-02-05 21:54] we-taper commented on #21901
Why is this issue closed? I encountered the same problem and really hope someone could implemented this!

[2019-02-05 21:57] gunan commented on #25519
Marking as duplicate of https://github.com/tensorflow/tensorflow/issues/19584
I understand your pain, and we are working on a system to enable custom build and delivery of binaries to users. But that is still a few months away.

[2019-02-05 21:57] #25519 closed

[2019-02-05 21:58] alextp commented on #21901
Because it's been fixed at HEAD

On Tue, Feb 5, 2019 at 1:57 PM Hongxiang Chen <notifications@github.com>
wrote:

--
 - Alex

[2019-02-05 22:05] peterroelants commented on #24496
I have a [similar issue](https://github.com/tensorflow/benchmarks/issues/300) with `tf-nightly-gpu-2.0-preview` on the RTX 2080

[2019-02-05 22:09] ramtin2080 commented on #25132
I belive the problem is from OpenGL ES unsupported version. I just noticed that the Nexus 10 OpenGL ES version is 3.0 and TensorFlow Lite delegate requires OpenGL ES 3.1 or higher.
https://www.notebookcheck.net/ARM-Mali-T604-MP4.116274.0.html
It will be great if the support for older versions is added in the future.

[2019-02-05 22:09] #25132 closed

[2019-02-05 22:09] levlafayette commented on #24385
Tensorflow doesn't release Bazel. Bazel is a build tool, like Make, Cmake etc.

https://docs.bazel.build/versions/master/bazel-overview.html

As adamcrume points out, a better approach is for Tensorflow to test against the latest version of Bazel.

[2019-02-05 22:45] feihugis commented on #25509
@allenlavoie Thanks for your explanation. It makes sense if these attributes were used in shape inference.

@rachellim If you confirm it, I will close this issue.

[2019-02-05 22:48] angersson commented on #25390
Looks like you're right. Thanks! I've prepared an internal change that will resolve this, so I'm closing the issue.

However, in future bug reports, please do not be so rude.

[2019-02-05 22:48] #25390 closed

[2019-02-05 22:49] rachellim commented on #25509
These attrs are not used for shape inference. It is possible that these attrs were used before, but the internal implementation of datasets has since changed such that the attrs aren't used in the kernels. Because of TF compatibility guarantees, the OpDefs can't be changed to remove them, and we have no plans to remove the unused attrs. Furthermore, these attrs are actually referenced in some opti

[2019-02-05 22:49] #25509 closed

[2019-02-05 22:54] feihugis commented on #25509
Got it. Thanks, @rachellim.

[2019-02-05 22:58] powderluv commented on #24385
Understood. But Tensorflow stuffs Bazel down our throat.  If CMake was a first class citizen a lot of us wouldn't touch bazel with a 10foot pole :)

Agreed. But the problem arises when top of master TF is ok but the latest stable branch doesn't work with the latest bazel that is pushed onto all Ubuntu systems which installed via the ppa.

[2019-02-05 23:04] Worthy7 commented on #25329
Thanks! yep that's working!

On Wed, 6 Feb 2019 at 02:54, Gunhan Gulsoy <notifications@github.com> wrote:

[2019-02-05 23:46] jvishnuvardhan commented on #24367
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-05 23:46] #24367 closed

[2019-02-05 23:50] jvishnuvardhan commented on #24541
Closing this support issue as GitHub is not a place for support. Thanks!

[2019-02-05 23:50] #24541 closed

[2019-02-05 23:52] jvishnuvardhan commented on #24596
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-05 23:52] #24596 closed

[2019-02-05 23:55] jvishnuvardhan commented on #24808
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-05 23:55] #24808 closed

[2019-02-05 23:56] scouvreur commented on #25461
Hi @a6802739 - can I give you some help on this issue ?

[2019-02-05 23:59] jvishnuvardhan commented on #24833
@thebeancounter Thanks for the workaround and also for working on the solution. I will close this issue. Please feel free to open If you see the issue again. Thanks!

[2019-02-05 23:59] #24833 closed

[2019-02-06 00:05] ebrevdo commented on #25520
(probably you want loc=np.float64(0.0), scale=np.float(1.0)) to make the Normal distribution's dtype float64.

[2019-02-06 00:06] #25520 closed

[2019-02-06 00:11] jvishnuvardhan commented on #24890
@gittyhub2018 Please let me know if the issue was resolved or not. If there was no response, I will assume it was resolved. Thanks!

[2019-02-06 00:13] ymodak commented on #25419
@gunan Can you PTAL? Thanks!

[2019-02-06 00:14] ymodak commented on #24806
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 00:14] #24806 closed

[2019-02-06 00:14] ymodak commented on #24488
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 00:14] #24488 closed

[2019-02-06 00:19] ymodak commented on #24716
Is this still an issue for you? Can you please share the error message?

[2019-02-06 00:36] ymodak commented on #25081
@yashk2810 Can you PTAL? Thanks

[2019-02-06 00:40] TravisWhitaker commented on #24976
I just hit this with the `libtegra_tensorflow.so` that Nvidia provides on their Xavier board's rootfs. Is building from scratch really the only workaround?

[2019-02-06 00:43] #25210 closed

[2019-02-06 01:32] KtK99 commented on #22706
Hi @tfboyd , I have the same question as @tydlwav , any updates on the 1.13 release? I am coding in R using Keras and using the RTX 2080. Really looking forward to this release.

[2019-02-06 01:41] Worthy7 commented on #25341
It seems my notebook was in some kind of corrupt state with me installing/removing packages.
In the end I think this issue was ultimately caused by a combination of me not having Cuda 10 properly set up, and other versions of tf being held in python memory/not uninstalled properly.

[2019-02-06 02:16] damienpontifex commented on #18852
Closing this following after [guidance](https://github.com/tensorflow/tensorflow/pull/21649#issuecomment-448351480) to move this to [tensorflow_io](https://github.com/tensorflow/io)

[2019-02-06 02:16] #18852 closed

[2019-02-06 02:40] mdanatg commented on #24874
Note that TF 2.0 includes an automatic control dependencies mechanism that is better than autograph's explicit `tf.control_dependencies`. So if at all possible we recommend using `tf.function` (`tf.function` also uses autograph) which ensures the stateful ops in the graph are sequenced in the order in which they were created (that is, program order). We'll update autograph to use this new system s

[2019-02-06 02:41] Summa2802 opened #25536 "I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2"
I have installed tensorflow in my CPU based system using command:
pip install tensorflow

Installation completed without any error and as part of some initial verification I am able to see the tensorflow version installed:

 '1.5.0'
Operating system used : Ubuntu 16.04

Now, when I tried running a python file having code to deal with a tensorflow model, I am getting the following error and the fil

[2019-02-06 03:38] ymodak commented on #25504
I created a simple example to check ```tf.gather``` function's result. It is working as expected, The following code snippet produces ```0``` in GPU
[code]
and throws following error in CPU
[code]

[2019-02-06 03:54] gauravgola96 commented on #22396
@mckeown12 Yes, please share whatever you have done it might be useful

[2019-02-06 03:55] apepkuss commented on #25490
Similar error happens: "builtin variable 'REPOSITORY_NAME' is referenced before assignment". I am working on MacOS Majove 10.14.2 with bazel of 0.22.0 and Tensorflow r1.9. The compiling command I used is "bazel build -c dbg //tensorflow/tools/pip_package:build_pip_package", and the error messages are detailed below:

ERROR: /private/var/tmp/_bazel_sam/870243a2e9f6c8f6d71c0be6efaf0c54/external/prot

[2019-02-06 05:32] Worthy7 commented on #24869
@LuckyPigeon Should it matter?
I just had this problem too.
Is there something missing from the requirements within the `tf-nightly-2.0-gpu-preview` package?

[2019-02-06 05:53] dynamicwebpaige commented on #25341
@Worthy7 - Glad to hear it, and sorry for the frustration! Is everything working as expected now?

[2019-02-06 06:00] ksekine opened #25537 "TFLite model performance on Android is worse than the one on TFLite Model Benchmark Tool"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.2
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 1.13.0.dev20190126
- Android Studio version: 3.3
- TensorFlow Lite version on Android: 0.0.0-gpu-experimental

**Descrive the current behavior**
I tried running my custom classify model on Android

[2019-02-06 06:01] Worthy7 commented on #25341
Actually no, I tried to install this on a different machine, and I can't
even get the package because it seems to perhaps be lacking some
dependencies? AFAIK, tf-nightly-2-gpu-preview only needs the estimator 2.0
package right?
Because I get this error:

`Could not install packages due to an EnvironmentError: [Errno 2] No such
file or directory:
'C:\\Users\\Ian\\AppData\\Local\\Temp\\pip-install-5

[2019-02-06 06:01] Worthy7 commented on #25341
Actually no, I tried to install this on a different machine, and I can't
even get the package because it seems to perhaps be lacking some
dependencies? AFAIK, tf-nightly-2-gpu-preview only needs the estimator 2.0
package right?
Because I get this error:

`Could not install packages due to an EnvironmentError: [Errno 2] No such
file or directory:
'C:\\Users\\Ian\\AppData\\Local\\Temp\\pip-install-5

[2019-02-06 06:08] dynamicwebpaige commented on #25341
@Worthy7 - Could you try this [solution](https://github.com/tensorflow/tensorflow/issues/24886) that worked for another user and let us know? Sometimes there are path length limits on Windows.

[2019-02-06 06:08] Wade129 commented on #25062
@sistemas3-mv I have solved it. You can try to replace a new location to run the code.
At first, I run the code at /home/firefly/models/research/object_detection/models. When I run the code, it went errors importing tensorflow. So I run it at /home or other place, and the errors was gone.
Though I have solved the problem, but I didn't realize what the real problem is.
By the way, remember to move

[2019-02-06 06:09] #25062 closed

[2019-02-06 06:11] craigcitro commented on #25081
@yashk2810 Actually, as it happens, CUDA 10 landed in Colab today. 😀

[2019-02-06 06:37] gunan commented on #25490
Again, you are using a too new version of bazel on an old branch.
Please see here:
https://www.tensorflow.org/install/source#tested_build_configurations

[2019-02-06 06:38] Worthy7 commented on #25341
That fixed it! Thanks @dynamicwebpaige.
Now.. I did actually get the same issue again as I had originally. It seems that just the Tensorflow namespace exists (so it imports) but there are no functions (so I couldn't even run __version__).

I reinstalled the packages after removing anything else related to tf, and it seems to be working again.

[2019-02-06 06:42] dynamicwebpaige commented on #25365
Looks like [CUDA 10 support has landed for Google Colab](https://github.com/tensorflow/tensorflow/issues/25081#issuecomment-460912076)!

[2019-02-06 07:03] dynamicwebpaige commented on #25341
@Worthy7 Excellent! Feel free to reach out by email if you run into any other snags. 😄

[2019-02-06 07:11] gitman88 commented on #24491
How did you do this? I created a new conda environment and installed with pip the tf-nightly CPU, but the error is the same: "Check failed: status.ok() Unexpected value for attribute 'data_format'. Expected 'NHWC'
Fatal Python error: Aborted". Did you call tflite_convert in some other way?

[2019-02-06 08:13] BiswaranaPratap commented on #18503
same here i guess the problem is with CPU
#confused

[2019-02-06 08:48] #24491 closed

[2019-02-06 08:53] muayyad-alsadi commented on #13463
the DataLossError happens when on GPU (ex. colab)
if you download the samefile and run the below it would work fine

[code]

[2019-02-06 08:58] ktaebum commented on #25382
yes I thought that it should raise AssertionError if sampled x is less than 0.5 or return just x if x is greater than 0.5 whether previous function call raised AssertionError or not. Is it that I am misunderstanding?

[2019-02-06 09:02] guillaumekln commented on #13463
The recently introduced [`tf.data.experimental.ignore_errors`](https://www.tensorflow.org/api_docs/python/tf/data/experimental/ignore_errors) transformation could be a solution for the rare corruption that happens during the training.

[2019-02-06 09:02] Kwander opened #25539 "Tensorflow AOT compiled graph does not use GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12.0 (tensorflow-gpu, tensorflow-base)
- Python version: 3.6.8
- Bazel version (if compiling from s

[2019-02-06 09:23] YakirYehuda commented on #25231
I wanted to add and it might help,
Out work is based on this project:
https://github.com/IBM/tensorflow-hangul-recognition

[2019-02-06 10:02] Sudeepam97 commented on #25393
@HanGuo97 and @facaiy is anyone of you working on this issue? I am trying to start contributing to Tensorflow and this looks like a good starting point. I can work on this if it has not been assigned yet.

[2019-02-06 10:04] dchatterjee172 opened #25540 "tensorflow.python.framework.errors_impl.AlreadyExistsError while importing freezed graph"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):Binary
- TensorFlow version (use command below):1.12.0
- Python version:3.5.2

**De

[2019-02-06 10:19] KandariAnkita opened #25541 "install tensoflow in python 3.6 but after that my code given an error no module name tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2019-02-06 10:24] chouex commented on #11812
I got "Blas GEMM launch failed" while the virtualbox(genymotion) vm is running.

[2019-02-06 10:36] ShakaHua commented on #21748
I used tf 1.8.0 and python2. It seems that max_steps determines the total steps, not by the epoch numbers in TrainSpec.

[2019-02-06 10:52] patzm commented on #24999
yes, I guess you are right. The reason behind this issue was the following:
I wanted to create a `CheckpointSaverHook` which uses a custom `Saver`. The `Estimator` API would check if a `CheckpointSaverHook` has already been created and supplied, and only create a default `CheckpointSaverHook` if no one was found. In the `TPUEstimator` API, the `CheckpointSaverHook` is created always.

But eventual

[2019-02-06 11:19] chandanchinta opened #25542 "Issues when training with keras.callbacks.tensorboard"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-02-06 11:19] chris12766 opened #25543 "tf.train.ExponentialMovingAverage scope issue"
I copied the tower_loss method from https://github.com/tensorflow/tensorflow/blob/r0.7/tensorflow/models/image/cifar10/cifar10_multi_gpu_train.py and I have a problem with the scope of the `loss_averages` variable. What is wrong and how can I fix it??
[code]

Trace:
[code]

[2019-02-06 11:39] gabrieldemarmiesse opened #25546 "local_conv1d and local_conv2d are missing from the tensorflow.keras.backend namespace."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): No

**De

[2019-02-06 11:51] hadaev8 commented on #20619
Problem still here on tf 1.13

[2019-02-06 11:57] Kwander opened #25548 "Tensorflow AOT compilation error: No registered 'DecodeJpeg' OpKernel for XLA_CPU_JIT"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12.0 (tensorflow-gpu, tensorflow-base)
- Python version: 3.6.8
- Bazel version (if compiling from s

[2019-02-06 12:06] FBerendsen commented on #23344
For reference, #22145 discussed the very same problem. The proposed workaround I tested and worked for me: adding `with tf.device('/cpu:0'):` to the `densify` function.

[2019-02-06 12:18] muayyad-alsadi commented on #13463
does the `.repeat()` understand that?

```  dataset = dataset.repeat()```

[2019-02-06 12:34] GustavZ opened #25549 "input_shapes error converting model to tflite"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS High Sierra
- TensorFlow installed from (source or binary): over pip
- TensorFlow version (use command below): 1.12
- Python version: 3.6.5
- Bazel version (if compiling from source): 0.22.0

I get an error whe

[2019-02-06 13:40] agniszczotka commented on #11621
I experinced the same warring when using :
`dataset = tf.data.Dataset().from_generator(_get_generator, output_types=(tf.float32),
                                                   output_shapes=(tf.TensorShape([None, None, None, None, 1])),
                                                   ).repeat(1)`

`iterator = dataset.make_one_shot_iterator()`

`t = iterator.get_next()`

[2019-02-06 13:52] yashk2810 commented on #25081
That's awesome. Then you should be able to train your models on a GPU with TF 2.0.

[2019-02-06 14:04] evgal commented on #23740
I cannot reopen the issue, but the issue persist, the file is still missing in the pip package.

Could you please reintroduce the library _pywrap_tensorflow_internal.lib in the pip pickage ?

[2019-02-06 14:07] evgal opened #25551 "No TF import library to link custom operators on Windows"
I cannot reopen the issue here: https://github.com/tensorflow/tensorflow/issues/23740

But the issue persists, the file is still missing in the pip package as of today in TensorFlow 1.12.

Could you please reintroduce the library _pywrap_tensorflow_internal.lib in the pip pickage ? It is required to build custom ops on Windows platform.

Thanks,

[2019-02-06 14:27] Worthy7 commented on #22794
Hi guys, I've seen this problem a few times now and can comment on a few things.
First of which seems to be that Jupyter notebooks can sort of "hold on" to a bad tensorflow configuration (even after resetting the kernel) a full stop and start of the Jupyter solved this for me at least once.

The other things are all related to CUDA. I HIGHLY recommend that you just uninstall all version of CUDA, t

[2019-02-06 14:39] MoreYoungGavin commented on #22794
if you see the issue , you cloud try install tf-nightly.this way can solve you issue

[2019-02-06 15:29] facaiy commented on #25393
Welcome, feel free to take a try, @Sudeepam97 . Ping me if you need any help later :-)

[2019-02-06 15:35] timyee90 opened #25552 "RTX 2070 8GB tensorflow 1.13 build from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-02-06 15:40] facaiy commented on #24874
Perhaps the document is also useful for understanding:
https://github.com/tensorflow/community/pull/20/files#diff-d5334516fd698a57cc5641aed4068e7fR166

[2019-02-06 15:44] vidursatija commented on #25541
What command did you use to install?

[2019-02-06 16:04] sbmaruf commented on #20309
I was having a lot of issue with `conv1D` taking too much memory and slowing down the training. For immediate solution I move to `tf1.5`.

[2019-02-06 16:12] HanGuo97 commented on #25393
My bad for the delayed response, was offline for the last couple of days due to the lunar new year, I’ll make a PR sometime today.

[2019-02-06 16:16] #24874 closed

[2019-02-06 16:26] MindMusic commented on #23302
Sorry for the delayed response.  This seems to have been an issue with one particular laptop.  I've been unable to replicate it anywhere else.  I just gave up and used a different laptop.  Thanks!

[2019-02-06 16:37] gehring commented on #25143
Thank you for those examples. However, I still am unclear how/where dynamism is introduced in my example. With all shapes constantly defined a priori and the assumption that the body of `tf.while_loop` remains constant, shouldn't shape inference be straightforward?

Additionally, I'm also confused by the fact that the code which led me to this issue compiles fine for a cloud TPU using `tf.contrib.

[2019-02-06 16:49] alextp commented on #25382
Right, but it's currently raising cancellederror if x is less than 0.5 and
returning x otherwise, right? So the only issue is which exception we raise?

On Wed, Feb 6, 2019 at 1:02 AM KIM TAE BUM <notifications@github.com> wrote:

--
 - Alex

[2019-02-06 16:55] CatEek commented on #23030
@berendo I can confirm, it's working

[2019-02-06 17:17] jvishnuvardhan commented on #24984
I think it was resolved. I am closing the issue. Please open new ticket if you see similar issue again. Thanks!

[2019-02-06 17:17] #24984 closed

[2019-02-06 17:18] anilknayak opened #25554 "Raspberry PI - Golang - Tensorflow - std::bad_alloc Issue"
@poxvoculi @penpornk @nhasabni @reedwm @shashishekhar @claynerobison @andydavis1
Hi guys, I have checked some previous issues on ```bad_allocation``` and checked all the discussions and I could not reach to a conclusion how to resolve my ```bad_allocation``` issue. Below is my details for my issue with log. If I could get some insights, it will be very helpful.
**System information**
- Have I writ

[2019-02-06 17:18] jvishnuvardhan commented on #24926
I am closing the issue due to lack of recent activity. Please open new ticket if you see similar issue again. Thanks!

[2019-02-06 17:18] #24926 closed

[2019-02-06 17:19] jvishnuvardhan commented on #24807
I think it might have been resolved. I am closing the issue. Please open new ticket if you see similar issue again. Thanks!

[2019-02-06 17:19] #24807 closed

[2019-02-06 17:41] aziabari commented on #23410
@msmsajjadi Would you please let me know where do you perform the proposed changes? It's not clear to me where we are calling the `tf.placeholder_with_default`  in the first place and how we can change it to `tf.placeholder`. Thanks!

[2019-02-06 17:47] xilenteyex commented on #24587
Hi @alextp , thanks for the link.  I looked through https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/executor.cc I and am kind of stuck at issues similar to reported in https://github.com/tensorflow/tensorflow/issues/13763#issuecomment-337113301. It will be great if you can have a look and advise how should I proceed.
Thanks!

[2019-02-06 17:52] gunan commented on #22706
rc0 is already out:
https://github.com/tensorflow/tensorflow/releases/tag/v1.13.0-rc0

All our nightlies also have cuda 10 support for a while now.

[2019-02-06 17:52] #22706 closed

[2019-02-06 17:53] gunan commented on #25513
We also need to see what commands you used to build your custom op.

@yifeif could you link our official custom op guide?

[2019-02-06 17:58] alextp commented on #24587
As I told you, I believe what you want to do is infeasible.

On Wed, Feb 6, 2019 at 9:53 AM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-06 18:03] gunan commented on #24732
@petewarden may know

[2019-02-06 18:13] jvishnuvardhan commented on #25517
@nd7141 Did you follow the instructions on [tensorflow website](https://www.tensorflow.org/install/source). While installing from source, please also note that [tested build configuration](https://www.tensorflow.org/install/source#linux) for Linux system. Please let me know how it progresses. Thanks!

[2019-02-06 18:17] ymodak commented on #21726
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 18:17] #21726 closed

[2019-02-06 18:19] jvishnuvardhan commented on #25518
@hendaboudegga Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-06 18:22] yongtang commented on #25546
@gabrieldemarmiesse Added a PR #25556 to export `local_conv1d` and `local_conv2d` in `tf.keras.backend`.

[2019-02-06 18:31] jw447 opened #25557 "Bazel test failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2019-02-06 18:36] yoyolin commented on #25195
Came across the same issue when running the test `bazel test -c opt -- //tensorflow/... -//tensorflow/compiler/... -//tensorflow/lite/...`. Searched online everywhere but couldn't solve it. I had to ignore the test and went on to build the package using `bazel build --config=opt --config=cuda --config=mkl //tensorflow/tools/pip_package:build_pip_package`. To my surprise the build was successful an

[2019-02-06 18:40] fx-practic opened #25558 "ImportError: No module named 'tensorflow' in official Docker image"
**System information**
- Windows 10 x64:
- Official tensorflow-jupiter Docker container (without GPU support), latest 06 Feb 2019
- TensorFlow version: unable to know
- Python version: sys.version_info(major=3, minor=5, micro=2, releaselevel='final', serial=0)

**Describe the problem**
`import tensorflow as tf ` command causing this error:

[2019-02-06 18:44] gunan commented on #25526
could you try running `pip install tensorflow-estimator --pre` before running tests?

[2019-02-06 18:46] xilenteyex commented on #24587
Oh okay. Then I am thinking of doing something like add control_flow dependencies after creating the graph. Save this new graph in a file. Reload the new graph into another TF session and execute this new graph with desired control-flow dependencies. Do you think this will work ? Or the control flow dependencies added after node creation will again be ignored in this case as well ?

[2019-02-06 18:52] jdduke commented on #24311
I think the only way I can debug this further is with the original graph def that you used to create the .tflite model, as well as the commands you used during conversion.

[2019-02-06 18:54] vdemario commented on #25490
I downgraded bazel to 0.15 and the 1.12.0 compilation worked. Thanks @gunan!

I think this should be made more clear on https://www.tensorflow.org/install/source but that's another discussion and I'll open an issue on https://github.com/tensorflow/docs for that.

For those having similar issues, I can share the wheel if you'd like, let me know.

[2019-02-06 18:54] #25490 closed

[2019-02-06 18:59] alextp commented on #24587
They won't be ignored, but you do risk generating invalid graphs.

On Wed, Feb 6, 2019 at 10:50 AM xilenteyex <notifications@github.com> wrote:

--
 - Alex

[2019-02-06 19:00] tensorflowbutler commented on #24704
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-06 19:31] wendli01 commented on #19567
I have the same problem with MaxPooling directly after input (`tf.reshape`). This happens only with CUDA 10, but multiple versions of tensorflow (1.13 nightly, 1.10 stable).

Any updates @simon-moloco ?

[2019-02-06 19:32] anilknayak commented on #25554
[code]

[2019-02-06 19:46] jvishnuvardhan commented on #25490
@vdemario Great. If possible post here the steps you followed to resolve this issue so that community get benefited. Thanks!

[2019-02-06 19:55] rohith14 opened #25559 "TensorRT version in TensorFlow 1.13.0-rc0 ?"
What version of TensorRT does TensorFlow 1.13.0-rc0 support?  I don't see any mention about TensorRT in the release notes [link](https://github.com/tensorflow/tensorflow/releases/tag/v1.13.0-rc0)

Thanks

[2019-02-06 20:08] agnz commented on #25513
[code]

[2019-02-06 20:36] skye commented on #24605
I think this would basically be implementing [first-class functions](https://en.wikipedia.org/wiki/First-class_function) in TF, i.e. we'd need to represent functions as tensors, so you could use TF's operations with them. This would be pretty cool but unfortunately we don't have the bandwidth to tackle this kind of project right now. I recommend using [tf.case](https://www.tensorflow.org/api_docs/

[2019-02-06 20:43] jvishnuvardhan commented on #25020
I think it was resolved. I am closing the issue. Please open new ticket if you see similar issue again. Thanks!

[2019-02-06 20:43] #25020 closed

[2019-02-06 20:48] jvishnuvardhan commented on #25041
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. Github is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-06 20:48] #25041 closed

[2019-02-06 20:49] narin-anongchai commented on #20832
![image](https://user-images.githubusercontent.com/13518093/52372699-6718a580-2a8b-11e9-94b2-a7c907be2b21.png)

[2019-02-06 20:51] jvishnuvardhan commented on #25050
Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. When you post this issue in Stackoverflow, please provide more details on the issue so that community will support you faster. Thanks!

[2019-02-06 21:02] ppwwyyxx commented on #25050
This is a feature request for the second order gradients of `tf.image.crop_and_resize`

[2019-02-06 21:11] av8ramit commented on #20517
We now have a [CPU package](https://files.pythonhosted.org/packages/47/a7/913eabde0a8c8ea1f1cc7e3a274cf9d2b91b89b654df0c9a9556c770fd15/tf_nightly-1.13.0.dev20190206-cp37-cp37m-macosx_10_9_x86_64.whl) for Mac. Will try and have that for rc2 as well.

[2019-02-06 21:20] jvishnuvardhan commented on #25050
@ppwwyyxx Could you provide more details on the context and issue. Please fill the [template](https://github.com/tensorflow/tensorflow/issues/new?template=30-feature-request.md). More details help us to faster solution. Thanks!

[2019-02-06 21:24] jvishnuvardhan commented on #25058
@andreapavan Could you try pip install tensorflow==1.10.1 or any other new version (update last few digits).

[2019-02-06 21:28] jvishnuvardhan commented on #25063
I think it was resolved. I am closing the issue. Please open new ticket if you see similar issue again. Thanks!

[2019-02-06 21:28] #25063 closed

[2019-02-06 21:28] #25082 closed

[2019-02-06 21:36] gunan commented on #25490
Thanks for verifying @vdemario
In latest versions, we are adding a maximum bazel version check to avoid such issues.
Sorry for the inconvenience, and thank you very much for your patience.

[2019-02-06 21:37] ppwwyyxx commented on #25050
I was only pointing out the nature of this issue and do not actually intend to request this feature myself as it is not useful to me. In fact I think this feature may be only useful to a few people in the world trying out very new ideas (who may just implement it by themselves with a new op).

[2019-02-06 21:38] raviilango commented on #24311
Hi Jared

I have attached the files/scripts necessary to create the .tflite model.
Once you unzip the sample.zip, use the following commands to create the .pb and .tflite models

cd sample
python sample_create_pb.py

regards,
ravi
[sample.zip](https://github.com/tensorflow/tensorflow/files/2838362/sample.zip)

[2019-02-06 21:39] raviilango commented on #24311
Thanks for the followup.  Looking forward to finding a resolution for this issue.

[2019-02-06 21:50] tjakob commented on #14934
https://github.com/tensorflow/tensorflow/pull/24180 just merged. This should provide a place to start for other non-x86 docker images.

[2019-02-06 21:56] raviilango commented on #24311
Hi Jared,

I have sent the scripts to create the .pb and .tflite files directly to you.

thanks,
ravi

[2019-02-06 22:03] qmeeus commented on #18652
Any release for Linux? Or even better, a docker build? I've tried the latest version of `tensorflow/tensorflow:nightly-devel-gpu-py3` but the problem remains...

[2019-02-06 22:34] harrismirza commented on #25536
This is not an error, but Tensorflow may run with reduced performance due to this. It seems the precompiled binary available from Pip for this version was not compiled with SSE. Try updating Tensorflow to the latest stable (1.12).

The recommended way to install Tensorflow is through Anaconda rather than PIP, as it is usually better optimised.

[2019-02-06 22:59] jayfurmanek commented on #14934
Thanks @tjakob  and @angersson !

[2019-02-06 22:59] #25167 closed

[2019-02-06 23:02] #25242 closed

[2019-02-06 23:03] ymodak commented on #25541
Please provide all the information asked by the template above. Thanks!

[2019-02-06 23:04] jvishnuvardhan commented on #25270
I am closing this issue as the issue was not due to TF. Thanks!

[2019-02-06 23:04] #25270 closed

[2019-02-06 23:06] jvishnuvardhan commented on #25271
Closing the issue as it is not related to Bug/Performance or Build/Installation. Thanks!

[2019-02-06 23:06] #25271 closed

[2019-02-06 23:07] fx-practic commented on #25558
UPD: 6 Feb 2019 11:06 PM GMT docker image updated, but it not helps.

[2019-02-06 23:11] smohan10 commented on #6954
I am trying to use a pretrained nasnet from the tf slim and I see only model.ckpt.data-00000-of-00001 and model.ckpt.index. I am unsure if I can do anything with just these 2 files without the meta. Any way to convert it to .pb ? Also wondering why would tensorflow not release a .meta file!

[2019-02-06 23:19] #25200 closed

[2019-02-06 23:23] jvishnuvardhan commented on #24890
I am closing this issue. Please open a new ticket when new information is available. Thanks!

[2019-02-06 23:23] #24890 closed

[2019-02-06 23:24] jvishnuvardhan commented on #25272
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 23:24] #25272 closed

[2019-02-06 23:27] jvishnuvardhan commented on #25274
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-06 23:27] #25274 closed

[2019-02-06 23:34] jvishnuvardhan commented on #25308
I am closing this as it is not related to Build/Installation or Bug/Performance. Thanks!

[2019-02-06 23:34] #25308 closed

[2019-02-06 23:48] bkanaki opened #25563 "Can LSTM be fully quantized for inference?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): 1.13.0-rc0

**Problem Summary and Errors Encountered**

I am trying to have the LSTM version from TFLite ([here](https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/lite/experimental/examp

[2019-02-06 23:54] ymodak commented on #25551
@meteorcloudy Can you PTAL? Thanks!

[2019-02-07 00:00] penpornk commented on #23380
Just saw this. Posting just in case it's still relevant.
Commit https://github.com/tensorflow/tensorflow/commit/a74a3217f7ff2dbee2fb618aa658cf666861545c fixed the build issue. If you use TF older than this commit, you can fix the issue yourself by calling `mv tools/bazel.rc .bazelrc` in your tensorflow folder.

[2019-02-07 00:10] jvishnuvardhan commented on #25552
@timyee90 Please check [tested build configurations](https://www.tensorflow.org/install/source_windows#gpu). Also, there is a common issue with WIndows10 where long paths are creating an issue due to default limit on length of a path. Check the solutions provided [here](https://github.com/tensorflow/tensorflow/issues/24705) and [here](https://github.com/tensorflow/tensorflow/issues/24886). Please

[2019-02-07 00:14] mdfaijul commented on #25486
@Vooblin: MKL quantization related works only support `'SCALED'` mode which means `fp32 zero` maps to `int8 zero`. Current mkl version of `quantized_conv2d`, only supports `uint8` input and `int8` filter. So you need to make sure that original (fp32) input to the convolution is indeed non-negative, which is a typical scenario in popular CNNs, due to `Relu`. As a practical workflow, while convertin

[2019-02-07 00:15] ktaebum commented on #25382
Yes it's currently raising `CancelledError` and I think that's the issue.
In the logic of `defun`, it calls ` _maybe_define_function` in class `Function`.
It returns callable GraphFunction, `ConcreteFunction` class.
Inside of `_ maybe_define_function` it tries to retrieve graph function via cache key, made from function args and kwargs.
Thus in above case, after first `prob_assert()` function call

[2019-02-07 00:48] jvishnuvardhan commented on #25536
@Summa2802 Please try @harrismirza suggestion and let us know if the error persists. Here is a resource to install TF through [conda](https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc). Please keep in mind about tested build [configurations](https://www.tensorflow.org/install/source#linux). Thanks!

[2019-02-07 00:59] jvishnuvardhan commented on #25557
@jw447 [Here](https://www.tensorflow.org/install/source#linux) is the link to tested build configuration for Ubuntu and TF 1.12. Currently supporting GCC 4.8 | Bazel 0.15.0. try downgrading bazel to 0.15.0 and check whether you get the error. Here is another [resource](https://github.com/rnreich/ubuntu-tensorflow-gpu-all-versions) that might help you partially. Please let me know how it progresses