[2017-04-24 15:35] bkovalev opened #9417 "Faild to build a pip package for TensorFlow with GPU"
TF master - 24/2/2017

When I build a pip package for TensorFlow with GPU support by invoke the following command:
$ bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

I see following error;

ERROR: /root/tensorflow/tensorflow/contrib/verbs/BUILD:61:1: C++ compilation of rule '//tensorflow/contrib/verbs:grpc_verbs_service' failed: crosstool_wrapper_driver_is_n

[2017-04-24 15:39] ZacheryGuan commented on #7705
@vburca Yes, I got that 😞

[2017-04-24 15:46] drpngx commented on #9406
Thanks for reporting!

Would you be willing to send a PR which adds your test case?

@yifeif @av8ramit in case we want to cherry-pick.

[2017-04-24 15:59] drpngx commented on #9400
just checking: did you use `list_devices` before?
(See https://github.com/tensorflow/tensorflow/issues/8021)

[2017-04-24 16:01] ruiann opened #9419 "1080P image by SRGAN automatically killed"
When I use a small image for SRGAN training, it runs well, but when I use a 1080P image for generation, the process killed without any related log. The batch is 8 so I don't think it will run out all my GPU memory, also there's no fully connection layer in my SRGAN

gpu device: GTX 1060 6G
tf version: 1.0.0
python version: 2.7

if my code is required, pleasure to provide it

[2017-04-24 16:02] drpngx commented on #9401
@ebrevdo do you know anything about that maybe?

[2017-04-24 16:03] #9402 closed

[2017-04-24 16:03] ahmedezzateasa commented on #6385
I used the prebuilt libraries (copied the folder `libs `from the prebuilt APK as is in the root of the project) and modified the script as follows (I commented unnecessary tasks) and it is now building OK.
[code]

[2017-04-24 16:05] mebersole commented on #9372
I can set you up an instance if you tell me when you’re ready to work on it.

From: drpngx [mailto:notifications@github.com]
Sent: Saturday, April 22, 2017 11:20 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: Mark Ebersole <mebersole@nvidia.com>; Author <author@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] TensorBoard does not load in Internet Explorer 11 (#9372)

Than

[2017-04-24 16:07] drpngx commented on #9410
I think it's because `nvcc` from CuDNN 7.5 is too old.

@yifeif is 7.5 still supported?

[2017-04-24 16:08] ruiann commented on #9419
pdb info:

[code]

[2017-04-24 16:11] vijpandaturtle commented on #9400
No i don't think so

[2017-04-24 16:13] drpngx commented on #9417
Could you give us more information about gcc versions etc?

/CC @poxvoculi @junshi15 @caisq

[2017-04-24 16:15] drpngx commented on #9407
You need to use `tf.cast(.., dtype=tf.float32)` for `filter`.

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-24 16:15] #9407 closed

[2017-04-24 16:16] drpngx commented on #9419
Are you running out of memory?

Use `dmesg` to find out if you have been "sacrificed".

[2017-04-24 16:17] drpngx commented on #9400
It might be another problem with initialization. Could you try to remove all preamble to see what makes it fail?

[2017-04-24 16:20] drpngx commented on #9414
It looks like you *have to* build from source.

[code]

@yifeif maybe we an document this?

[2017-04-24 16:21] drpngx commented on #9416
Maybe @andrewharp knows something about this

[2017-04-24 16:21] girving commented on #9416
@drpngx You beat me by about 10 seconds. :)

[2017-04-24 16:24] drpngx commented on #9405
The definition is here: https://github.com/tensorflow/tensorflow/blob/2098b9abcf20d2c9694055bbfd6997bc00b73578/tensorflow/core/kernels/pooling_ops_common.h#L258

[2017-04-24 16:25] vijpandaturtle commented on #9400
Ah yes!! I'll post a snippet of a part of the code that kept throwing the error as i changed it
So basically the errors kept popping up the minute i change the stride of my convolutional layer from (2,2)
to (1,1)
I'm also posting a snippet of my network

    # The first three convolutional + maxpooling layers
    neural_net = conv2d_maxpool(x, 32, (5,5), (1,1), (2,2), (1,1))
    neural_net = conv2

[2017-04-24 16:26] girving commented on #9398
It's leaky relus, so zero gradients are unlikely.  However, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is likely not a bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-24 16:26] #9398 closed

[2017-04-24 16:27] drpngx commented on #9415
I know we're actively working on XLA/resnet, @tatatodd might be able to add some color on this.

[2017-04-24 16:28] girving commented on #9394
This looks like it should work via Derek's auto-stack machinery.  I'll briefly try to reproduce...

[2017-04-24 16:29] drpngx commented on #9416
WFH, with fast internet :-) but I have some meeting now, will leave the rest to you :-)

[2017-04-24 16:29] aselle commented on #7869
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-24 16:30] aselle commented on #7869
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-24 16:32] andrewharp commented on #9416
@jubjamie To clarify, is the demo broken on your Pixel C even when compiling with no edits?

[2017-04-24 16:33] girving commented on #9394
Ah, correct: `tf.nn.max_pool` does not support dynamic size.  `ksize` is an attr, therefore must be a constant.  This would be reasonable to fix, but would require a `MaxPoolV2` op kernel similar to `TopKV2`.  I'll leave it open as contributions welcome.

[2017-04-24 16:36] jubjamie commented on #9416
Yes. With no edits it had the rotation value as 3. So I went in to try and force it to be the correct value (which in portrait was 90).
In landscape I encountered the centring problem and had to set it to 360.  No problem on my 6P. Not sure if you guys have another Pixel C lying around to confirm it's not my hardware being funny?

[2017-04-24 16:36] girving commented on #9328
@DjangoPeng Let us know if you figure out additional information.  My only wild guess is something to do with incompatible versions of Python.

[2017-04-24 16:47] aselle commented on #9417
Also, please specify what platform (and linux distribution)

[2017-04-24 16:48] girving commented on #9357
Running Python inside a debugger should give you information on where the freeze happens.  I'm not sure if multiple processes are involved; if so you may need to make sure the debugger follows forks.

[2017-04-24 16:50] girving commented on #9399
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-24 16:50] #9399 closed

[2017-04-24 16:50] aselle commented on #9411
I've added this to our docs fixit event list. Thanks for reporting this.

[2017-04-24 16:51] ybsave commented on #1045
@jiqiujia, I previously have the same problem. Later, I found that the local variables need to be initialized before calling "tf.train.start_queue_runners()"; then it will work well. Otherwise, there will be the same error as in your post. Hope it may help.

[2017-04-24 16:51] girving commented on #9413
@andrewharp can comment further, but unfortunately mobile TensorFlow is stripped down for code size reasons.  The easiest solution is to use NHWC ordering.

[2017-04-24 16:54] caisq commented on #9417
The date "24/2/2017" in @bkovalev 's description looks like a typo? contrib/verbs wasn't added until very recently.

[2017-04-24 17:00] anonym24 commented on #9412
I tried this:

[code]

So debug preview looks fine now

So now it's only main view.
I'm not sure where to look, but I guess it mb here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowYoloDetector.java#L205

[2017-04-24 17:04] jubjamie commented on #9412
Yes that is the way to force the rotation. I also found problems with the rotation. I guess this is kind of linked with #9416 that @andrewharp has been assisting with.

Regarding the boxes on the main view, it is on my todo list to try and figure out but will be a few weeks away if anyone else has any ideas?

[2017-04-24 17:06] girving commented on #6054
Duplicate of https://github.com/tensorflow/tensorflow/issues/4746.

[2017-04-24 17:06] #6054 closed

[2017-04-24 17:06] girving commented on #9394
Duplicate of https://github.com/tensorflow/tensorflow/issues/4746.

[2017-04-24 17:06] #9394 closed

[2017-04-24 17:06] yifeif commented on #9410
My understanding is that you will need cuda 8 for compute_60. @Vargnatt could you try upgrading your cuda?

[2017-04-24 17:09] girving commented on #4746
It may be too late for @guoguo12's assistant, but if anyone else wants to jump on this I'm happy to answer questions.  The solution is to make a `MaxPoolV2` C++ op similar to `TopKV2`, and do the same for all the other convolutional ops.  We'd then deprecate the old op with `.Deprecated` and make the Python routines use the new version.  Here's `TopK` and `TopKV2` for comparison:

https://github.c

[2017-04-24 17:10] Carmezim commented on #7705
@vburca @ZacheryGuan
please see http://stackoverflow.com/questions/43335531/how-to-use-sse4-1-instructions-without-install-tensorflow-from-source/43335630#43335630

[2017-04-24 17:13] yifeif commented on #9414
Our binary was built with cuDNN v5.1 according to the [installation instruction](https://www.tensorflow.org/install/install_mac). @nazandr could you reinstall cuDNN5.1, or build from source as @drpngx suggested?

[2017-04-24 17:17] satok16 commented on #9354
Cool!  Feel free to create a new ticket if you meet further problems.

[2017-04-24 17:17] #9354 closed

[2017-04-24 17:17] girving commented on #4009
Fixed long ago by db490561b3d093a4eac952be8d4607234b6ef9f1.

[2017-04-24 17:17] #4009 closed

[2017-04-24 17:18] mvpel commented on #7257
Here's a LWN article on the FMV capabilities provided for C++ in GCC 4.8 and up, and for C in GCC 6:

https://lwn.net/Articles/691932/

[2017-04-24 17:20] satok16 commented on #8268
Unfortunately, you can't run any hexagon binary with a test signature on a production phone even if it's rooted.  You should get a development kit like https://www.intrinsyc.com/snapdragon-embedded-development-kits/snapdragon-820-development-kit/ to develop it.

[2017-04-24 17:26] ZacheryGuan commented on #7705
@Carmezim Thanks very much. Just like that I got used to using `gcc -w`. 😆

[2017-04-24 17:34] andrewharp commented on #9416
So `characteristics.get(CameraCharacteristics.SENSOR_ORIENTATION)` returns 3? That really shouldn't be happening... I suppose it'd be ok to assume 90 in general if the value returned % 90 != 0.

Regarding landscape support, this is something that would be nice to have but hasn't been high priority enough to work through all the transformations to ensure correctness. Contributions definitely welcom

[2017-04-24 17:38] mdymczyk opened #9420 "[Java] Distributed mode support"
### Describe the problem

Is there any plan to add distributed mode to the Java API? I checked the code and it seems to be doable (unless I missed something) so I was wondering if anyone is already working on it? I went through the issue tracker and PRs but couldn't find anything related.

[2017-04-24 17:55] girving commented on #9420
The Java API is focused on inference, where distributed mode is usually not relevant.  Do you have an application?

[2017-04-24 18:35] bhairavmehta95 commented on #9202
@theflofly thanks for the response. I guess I will assign myself informally to the Python implementation, and move on from there!

[2017-04-24 18:49] eaplatanios commented on #9150
I was working on porting the control_flow_ops module from the Python API because the TF_NewWhile/TF_FinishWhile methods are described as experimental and subject to change. Is there any specific reason that I should avoid porting the Python API approach, other than the implementation overhead? Thanks!

[2017-04-24 18:51] mtanjir commented on #37
+1

[2017-04-24 18:58] bkovalev commented on #9417
I installed two day ago same server without any problem.
I am running on Ubuntu 16.04 with gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609, Cuda compilation tools, release 8.0, V8.0.61, TF Master,nVidia Version: 375.51, Bazel 0.4.5.

Thanks

[2017-04-24 18:59] WorksWellWithOthers commented on #9383
Thank you for this. I've been having issues trying to get cudnn64_6.dll to work.

I'll try cudnn64_5.dll

[2017-04-24 19:03] civilman628 commented on #4766
just modify the https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py

this retrain.py is for inception v3. pb.

modify the code as below to for inception v1.pb.

DATA_URL = 'https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip'
BOTTLENECK_TENSOR_NAME = 'avgpool0/reshape:0'
BOTTLENECK_TENSOR_SIZE = 1024
MODEL_INPUT_WIDTH = 224

[2017-04-24 19:05] civilman628 commented on #4790
see my solution on #4766 for retrain V1 model.

[2017-04-24 19:13] bkovalev commented on #9417
I fixed the CROSSTOOL file ( know issue) by edit the text file tensorflow/third_party/gpus/crosstool/CROSSTOOL.
$ vim ~/tensorflow/third_party/gpus/crosstool/CROSSTOOL.tpl
b.	Add cxx_builtin_include_directory: "%{cuda_include_path}" (line 125) as below.
cxx_builtin_include_directory: "/usr/lib/gcc/"
cxx_builtin_include_directory: "/usr/local/include"
cxx_builtin_include_directory: "/usr/include"
c

[2017-04-24 19:19] yamen94 opened #9421 "import tensorflow in python script using php"
I try to execute a python script using php , the python script requires importing tensorflow , when i run the php script this error occur :

Training....string(1374) "Traceback (most recent call last): File "/opt/lampp/htdocs/gp/test.py", line 1, in import tensorflow File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24, in from tensorflow.python import * File "/usr/local/l

[2017-04-24 19:41] aselle commented on #9417
@jart, do you have any idea if anything we added recently could have caused this?

[2017-04-24 19:44] aselle commented on #9421
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-24 19:46] mdymczyk commented on #9420
@girving I wanted to create and train the model using the Java API instead of having to train in Python, save the graph file and then load it using the Java API. Would make the whole workflow much easier if I could do it from the same tech stack.

I can have a look at how hard it's to implement and make a PR (if it's doable), but my question is would such a PR have any chance of being accepted or

[2017-04-24 19:54] fredtony commented on #7774
@caisq Has this problem been resolved?

I'm having a similar problem when using tfdbg. My network is returning nan after 1 optimization step, so I'm trying to resolve what's going on. My problem is same as above: "when I type 'run' and push enter, it jump out of the debugger and the terminal reshows, then the terminal screen stuck at below." There are no errors or warnings of any kind. Also, if I

[2017-04-24 20:23] girving commented on #9420
@asimshankar and @mrry: Can you comment?  My naive hunch is that distributed support is fairly straightforward; just a matter of adding another parameter to the `Session` constructor.  Except, of course, that one has to arrange for all the processes to exist and connect.  However, I'm not sure how useful it will be given the Java API's lack of graph construction support.

[2017-04-24 20:34] caisq commented on #7774
There have been a few bug fixes for tfdbg related to while loops in the past several weeks. @fredtony , can you please let me know what version of TensorFlow you are using?

[2017-04-24 20:35] mrry commented on #9420
Yes, it looks like the [bindings in `Session.java`](https://github.com/tensorflow/tensorflow/blob/28091dce41045570b7d92eb912eddce0079c0234/tensorflow/java/src/main/java/org/tensorflow/Session.java#L51) are missing the equivalent of a `target` argument. For a pure-Java solution, we'd also want some bindings for the equivalent of Python's `tf.train.Server`, which should be fairly easy to add&mdash;b

[2017-04-24 20:40] mrry commented on #7328
I think the fix has since landed, courtesy of a change by @frankchn: https://github.com/tensorflow/tensorflow/commit/ef9a552282e24bcbc5dd2d590d986c09d9eef9b1.

I'm closing this for now, but feel free to reopen if there are other cases that could be validated.

[2017-04-24 20:40] #7328 closed

[2017-04-24 20:40] #9314 closed

[2017-04-24 20:44] skye commented on #9150
You won't be able to create the cyclic back edge in the while loop using the TF_Operation methods (since you can't add or change the inputs to an operation after constructing it, unlike in Python), so you'll have to use the while loop methods instead. (While loops are the only graph structure that may contain a cycle, thus the API limitation.) Those methods shouldn't be marked experimental though,

[2017-04-24 20:47] drpngx commented on #9417
For context, RDMA was introduced here: https://github.com/tensorflow/tensorflow/pull/8943
so it's pretty recent. It worked on Jenkins, and it looks from @bkovalev 's comment that it should have also worked.

It looks like it's a simple include missing that we used to get from transitive includes.

[2017-04-24 20:49] drpngx commented on #9417
You should include `tensorflow/core/lib/core/refcount.h`.

@bkovalev do you mind sending a PR for that?

[2017-04-24 20:53] eaplatanios commented on #9150
I see. I hadn't gotten to that part yet. And yes, you're right; the experimental flag has been removed or I simply remembered wrong. In that case, my question is whether I can add gradient computation code on top of the TF_NewWhile/TF_FinishWhile methods. I was planning to replicate the way in which gradients are computed in Python, but is that possible or does that also require adding inputs to o

[2017-04-24 20:56] eaplatanios commented on #9150
Also, what about the CondContext? Because I see that it also uses the "op._update_input" method in the Python code.

[2017-04-24 20:56] alextp commented on #9150
I believe the gradients for loops in python add loop variables and stacks
and other complicated things to the forward pass so I doubt you will be
able to replicate the same code.

On Mon, Apr 24, 2017 at 1:55 PM, Anthony Platanios <notifications@github.com

--
 - Alex

[2017-04-24 20:57] drpngx commented on #1045
@jiqiujia could you start the queue runners as suggested?

It does say `input_producer`.

[2017-04-24 21:00] drpngx commented on #9400
So, to be clear, if you use `(1, 1)` instead of `(2, 2)` in the code above, then it works?

[2017-04-24 21:01] eaplatanios commented on #9150
I was able to implement support for stacks and other things used in the Python code, but I'm not sure what to do about the "op._update_input" method that's used quite a lot apparently  for control flow ops. I wonder how difficult it would be to support that method in the C API given that constructed ops are supposed to be immutable. I imagine it shouldn't be too hard, but I don't know if you're wi

[2017-04-24 21:01] alextp commented on #9150
It is possible to implement cond without rewiring (though the python
implementation uses rewiring to capture inputs).

On Mon, Apr 24, 2017 at 1:58 PM, Alexandre Passos <notifications@github.com>
wrote:

--
 - Alex

[2017-04-24 21:02] loaiibnka3b6 commented on #6999
please AlexisTM , i have a problem. i have successfully processed the 3 first line after i wrote
pip install tensorflow
# or
# pip install tensorflow-gpu

i received the following error failed to create process.

please help

[2017-04-24 21:06] alextp commented on #9150
It is not hard to expose the functionality right now (since it exists) but
it will be very easy to misuse, which is why we do not really want to
support it.

It might make sense to special-case your scala API though since you're
already doing the work. It's not my decision to make, though.

On Mon, Apr 24, 2017 at 2:02 PM, Anthony Platanios <notifications@github.com

--
 - Alex

[2017-04-24 21:06] PhilJd commented on #9400
As far as I understood it, it works when he uses strides (2, 2), which makes more sense to me, as using strides of (1,1) doubles the memory necessary to store the activations compared to strides of 2.

[2017-04-24 21:11] mdymczyk commented on #9420
Cool, thanks @girving and @mrry  - I was mostly worried that some parts of the distributed impl were only done in Python and I missed them. I'll put something together since I need it for myself and PR, then you can decide if you want it or not.

[2017-04-24 21:15] girving commented on #9420
If you might submit a PR, I'll reopen this and mark it contributions welcome.  It's good to have a place to track feature requests.

[2017-04-24 21:15] jart commented on #9417
Would it work if you used GCC 4.x? It comes with Ubuntu. I've seen a lot of problems introduced by GCC 5.x here and there.

[2017-04-24 21:16] eaplatanios commented on #9150
Yeah I understand the misuse argument and I agree.

One potential solution might be to expose "dangerous" functionality in the C API using some convention (e.g., naming `Unsafe...`) and to clearly state that such functionality is unsafe, might change in the future, and that it is recommended not to use it.

If there is an alternative way to implement control flow ops and gradients using the curren

[2017-04-24 21:19] eaplatanios commented on #9150
As a side note, my current plan for the Scala API is to port most of the Python API functionality and I'm slowly getting there. I have already added support for variables, op creation contexts (e.g., name scopes, defaults graph, colocation ops, etc.), sharing the underlying memory with TF session, among other things. And I have also developed a nice custom DSL for things like slicing and overridin

[2017-04-24 21:20] dmonopoly commented on #9313
Where are the instructions on how to generate the docs?

I could make this fix here and in multiple other places if I can just generate the docs to check that my changes fix things like this.

[2017-04-24 21:31] elmer-garduno commented on #7311
I can also confirm that using Tensorflow 1.1.0 solved the problem for us.

[2017-04-24 21:37] juntingzh commented on #9387
@sguada Thank you for the great explanation. Another doubt about the ResNet implementation I have is that in the tf slim resnet_v1_50, resnet_v1_101 and resnet_v1_152 etc. implementations, downsampling is performed by block**1**, block**2**, and block**3**; while in the original ResNet paper, downsampling is performed by conv3_1(block**2** in your notation), conv4_1(block**3**), and conv5_1(block*

[2017-04-24 21:45] skye commented on #9150
I'm in favor of temporarily exposing an experimental _update_input C method until we get the full while loop functionality working. @asimshankar and I discussed doing this as a similar stopgap to porting the Python API to use the C API

My original vision was for it to go in a separate header, maybe [c_api_internal.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api_internal

[2017-04-24 21:48] eaplatanios commented on #9150
I like the idea of putting it in [c_api_internal.h](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api_internal.h). I was thinking of it after my last comment.

[2017-04-24 21:55] loliverhennigh commented on #7311
Same here :D

On Apr 24, 2017 4:33 PM, "Elmer Garduno" <notifications@github.com> wrote:

[2017-04-24 21:58] alquraishi opened #9422 "Enable use of cuDNN RNNs with optimizers other than GradientDescentOptimizer"
Currently cuDNN-based RNNs in TF are limited to GradientDescentOptimizer ([#6620](https://github.com/tensorflow/tensorflow/issues/6620)). This is a serious limitation given the widespread use of other optimizers. The claim that this cannot be supported in TF because cuDNN RNN don't have known shapes at static time seems overly pessimistic. Just like RNNParamsSaver provides a mechanism to convert b

[2017-04-24 22:00] martinwicke commented on #7311
Thank you for checking back. I will close this issue as resolved in 1.1.

[2017-04-24 22:00] #7311 closed

[2017-04-24 22:09] martinwicke commented on #7091
This would be a good feature to add to the existing batch_norm (in contrib).

[2017-04-24 22:29] girving commented on #9422
@ebrevdo Can you comment?

[2017-04-24 22:29] #9377 closed

[2017-04-24 23:04] guoguo12 commented on #4746
(You mean @guotong1988.)

[2017-04-24 23:13] girving commented on #4746
Whoops, sorry about that.

[2017-04-24 23:27] BTolputt commented on #9383
If you know where to get it and the lib/h files that go with it - I would appreciate it.

[2017-04-24 23:39] WorksWellWithOthers commented on #9383
You have to sign up.
https://developer.nvidia.com/cudnn

Download cuDNN v5.1 (Jan 20, 2017), for CUDA 8.0

[2017-04-24 23:53] AshishBora opened #9423 "Feature Request : Gradients for tf.contrib.image.rotate()"
I wish to propagate gradients through image rotation. This is currently not supported:

[code]

gives

```[None]```

[2017-04-24 23:55] AshishBora commented on #9423
I think the gradient with respect to `images` can be easily implemented by applying reversed rotation on the gradient coming from top. i.e. if `out_grad` is gradient with respect to `out`, then
[code]

Gradient with respect to angles might be trickier. However, I do not need this functionality.

[2017-04-25 01:06] snowluliang commented on #5968
renaming the file **cudnn64_6.dll** -> **cudnn64_5.dll**

[2017-04-25 01:28] yujulucy commented on #9400
@PhilJd The second process need less than 10% of the GPU to run. 10% of the GPU is 600MB.

[2017-04-25 01:31] #9367 closed

[2017-04-25 01:32] liuyipei opened #9424 "[minor bug] tf1.0+ compatibility script doesn't handle old batch_matmul arguments"
tf 1.0 merges `batch_matmul` into `matmul`, but the compatibility script forgot to rename the arguments for `batch_matmul`

what is needed is:
`adj_x` --> `transpose_a`
`adj_y` --> `transpose_b`

I would be happy to write a quick PR.

References:

https://www.tensorflow.org/versions/r0.12/api_docs/python/

https://www.tensorflow.org/api_docs/python/tf/matmul

[2017-04-25 01:45] yujulucy commented on #9400
I have just realized that the first process with the problem prints out **I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GeForce GTX 1060, pci bus id: 0000:01:00.0)** twice. Other processes only prints out once. Does this mean that double the amount of GPU I specified is allocated to this process?

[2017-04-25 01:45] Songweiping commented on #9401
Update:
Actually with TF 1.0.1(built from binary),  in code:
[code]
it's _doesn't reuse_ the RNNCell "cell", the weights and biases have different names as following(just first cell here).
[code]
In this simple case, we can put these two dynamic unrolling in the same variable scope if we wanna reuse RNNCell. Like:
[code]
There will be exactly one set of RNN parameters. But under some more complica

[2017-04-25 01:48] yujulucy commented on #9400
@drpngx Using list_devices() prints out one extra **I tensorflow/core/common_runtime/gpu/gpu_device.cc:975] Creating TensorFlow device (/gpu:0) -> (device: 0, name: GeForce GTX 1060, pci bus id: 0000:01:00.0)**

[2017-04-25 02:01] junshi15 commented on #9417
I can reproduce the issue with gcc 4.8.4.

refcount.h is here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/verbs/grpc_verbs_service.h#L26

It looks like something else is missing. Looking into it...

[2017-04-25 02:13] ebrevdo commented on #9401
as of this week, on master branch and in the nightlies, an rnncell carries
its variables around with it.

https://github.com/tensorflow/tensorflow/commit/e8482ab23bd0fce5c2941f6a190158bca2610a35

On Apr 24, 2017 6:46 PM, "weipingpku" <notifications@github.com> wrote:

[2017-04-25 02:25] drpngx commented on #9417
@bkovalev it needs to be in `grpc_call.h`. That's an error in the code.

[2017-04-25 02:26] Songweiping commented on #9401
@ebrevdo That sounds great. Thanks!

[2017-04-25 02:28] #9401 closed

[2017-04-25 02:44] ruiann commented on #9419
@drpngx

OK I will try it later as that PC is in my home

How can I know the memory required for training process? As the tensors & parameters for my network is stored in GPU memory, I don't think this training causes a big memory usage

[2017-04-25 02:48] llhe commented on #9417
I had the same problem when building RDMA support. Agree with @drpngx .
[code]

[2017-04-25 02:50] SubhashKsr commented on #4766
@civilman628 this dosen't solve the problem. Inception5h file is a .zip and the retrain.py wants a .tgz file. Can you also specify the line number to replace " "jpeg tensor" with 2242243*1 tensor for V1" and should I add INPUT='input:0'? I didn't get that.

The other way, I was able to retrain inceptionV1, generate checkpoints, make a .pb file using freeze tool, optimize it for inference and gener

[2017-04-25 02:52] junshi15 commented on #9417
The code compiled fine at commit dd40e9840da886c2a8b296146c709907c0dd3d85, where PR#8943 was merged. But it does not compile at the top of the branch as of now.

[2017-04-25 02:56] #5928 closed

[2017-04-25 03:03] drpngx commented on #9417
@llhe did that work for you? If so, could you send a PR?

[2017-04-25 03:03] llhe commented on #9417
@junshi15 This issue is not caused by PR#8934, but an error in `grpc_call.h` which should include `refcount.h`. However, `refcount.h` was luckly included before `grpc_call.h` in `grpc_verbs_service` target (and also other targets). And there should a recent change which removed this indirect include which leads to this compile error.

[2017-04-25 03:04] llhe commented on #9417
@drpngx I made the change and I can submit a PR.

[2017-04-25 03:08] drpngx commented on #9417
@llhe that would be nice! If that fixes the problem, please put `Fixes #9417` in the description. Thanks!

[2017-04-25 04:03] wangxiaodong1021 commented on #1470
When I get the gradient of the InceptionV4 model, I get the same problem. The value of None appears in each BatchNorm layer, I'm not sure if this is an bug. Or, the BatchNorm layer would have no gradient.

[2017-04-25 04:05] aselle commented on #9424
Thanks for volunteering to improve TensorFlow. Please submit the PR, and reference it here!

[2017-04-25 04:07] aselle commented on #9419
@ruiann, it is likely the intermediates for training and evaluation are using up your memory (i.e. the temporaries). a 1080P image is quite large 24 MB or so for a 3 channel float image version, and those sizes propagate and snowball quite easily.

[2017-04-25 04:08] vijpandaturtle commented on #9400
@drpngx the network keeps throwing an error if i change the stride from (2,2) to (1,1)
so i'm unable to figure out a way to get my network to improve its accuracy because the (2,2) stride is causing the network to lose lots of information.

[2017-04-25 04:21] drpngx commented on #9400
@vijpandaturtle you might be facing another problem. Could you open another issue?

@yujulucy that's very informative (printing out twice). If you had a python/c++ stack trace for each of the print outs, that would be useful.

[2017-04-25 04:22] #9417 closed

[2017-04-25 04:24] vijpandaturtle commented on #9400
Sure i'll do that

[2017-04-25 04:51] vijpandaturtle opened #9427 "Resource Exhausted and Initialization Errors on gpu"
Hello,
I have been facing a resource exhausted error on my gpu for a couple of days and can't seem to figure out how to fix it.
So, i have been training custom made conv net on a kaggle dataset for facial recognition with the 53% accuracy..it currently has four convolutional + maxpooling layers followed by 2 fully connected layers
My convolutional layers currently have a stride of (2,2) but since

[2017-04-25 05:03] ruiann commented on #9419
@aselle
Thx for your reply. I don't think the eight 1080P image can run out all my GPU memory. I've almost 6G free GPU memory for this training, and the SRGAN network has no fully connection layer, the GPU memory cost of parameters will not change with the image size, only tensors' size will grow, unless tensorflow copies the tensor many times or I don't think the GPU memory can be run out.

I thi

[2017-04-25 05:16] aselle commented on #9427
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Also, try smaller batch size.

[2017-04-25 05:16] #9427 closed

[2017-04-25 05:22] aselle commented on #9423
If you are not up to making a full patch (But please do if you can).. you can just define a gradient for the op ad-hoc in your code using the gradient_override_map... i.e.

[code]

[2017-04-25 05:37] AlexisTM commented on #6999
Try to execute one or the other ;)

[2017-04-25 06:03] AntoineHus commented on #4368
Hello I have the issue with my configuration since I updated cud from 7.5 to 8.0.
Any idea how to solve this issue ?

[2017-04-25 06:31] bkovalev commented on #9417
Thanks a lot!

[2017-04-25 07:16] kzos opened #9428 "libhexagon_controller.so build failed [missing files: GRAPHINIT := /prj/dsp/qdsp6/arch/cnn/setup/inceptionv3_uint8in.c]"
OS: Ubuntu 16.04 64bits
Android Version: 7.1 (Nougat)
NDK Version: android-ndk-r12b
HEXAGON SDK: 3.1
nnlib source: https://source.codeaurora.org/quic/hexagon_nn/nnlib

I have been following the steps provided at below link, for using tensorflow on hexagon.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx

Environment and copying files properly as mentioned in the link is

[2017-04-25 07:22] sandipmgiri commented on #9360
I could able to reproduce this issue in numpy, now I will take this with numpy community.

thanks all for your suggestions!

[2017-04-25 08:09] tbchj commented on #9400
@yujulucy  I  tried before, and I found that if I run standalone training(not distribute training), the code you wrote:
gpu_options = tf.GPUOptions(per_process_gpu_memory_fraction=0.3)
sess = tf.Session(config=tf.ConfigProto(gpu_options=gpu_options, log_device_placement=False))
 works, but if run distribute training, and it didn't work. i also want to know how to solve it.
focus on it.

[2017-04-25 08:13] alanpurple opened #9430 "(v1.1.0, CPU)SSE,SSE2,etc warning messages on Windows 10"
These are awkward messages since TensofFlow doesn't support windows build officially.

![image](https://cloud.githubusercontent.com/assets/4515120/25375011/5e524a40-29da-11e7-96f9-b9f4f17ae3ee.png)

[2017-04-25 08:44] saitarslanboun opened #9431 "Hi,"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-04-25 08:45] #9431 closed

[2017-04-25 08:48] saitarslanboun opened #9433 "scan in theano and tensorflow"
There is a function written with theano:

[code]

I have tried to rewrite it with tensorflow:

[code]

In theano, scan function is called to perform "forward_prep_step" function in a loop:

[code]

There is a scan function in tensorflow as well, but they don't get the same parameters. How could be the transformation of scan function above, into tensorflow scan function?

[2017-04-25 09:08] shamoya commented on #9417
As @llhe said, refcount.h was included before grpc_call.h in #8493

+#include "tensorflow/core/lib/core/refcount.h"
+#include "tensorflow/core/distributed_runtime/rpc/grpc_call.h"

And in #9384

-#include "tensorflow/core/lib/core/refcount.h"
  #include "tensorflow/core/distributed_runtime/rpc/grpc_call.h"
 +#include "tensorflow/core/lib/core/refcount.h"

Not sure I understand why in #9384 the mer

[2017-04-25 09:13] Nayana-ibm commented on #3527
Closing this issue as it was originally opened for test case failure.

Also, we have completed Tensorflow CI for s390x.
@gunan Thank you for your help and support.

[2017-04-25 10:48] rogerpasky commented on #22
According to [TF 1.1 Release Notes](https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md#deprecations) Mac GPU (Nvidia only) support has been deprecated. Let's hope this will help to improve OpenCL approach (not very confident on this).

[2017-04-25 10:53] slavakung opened #9434 "Using replace to evaluate multiple gradients during training in Keras"
I am a researcher in optimization and I am interested in testing algorithms for training DNNs using keras, and am now using tensorflow backend.

In practice, I would like to do something a bit different from the other optimizers, I would like to compute the gradient at a slightly different value of the tensor of parameters than the current one, and the update I will make to the parameters will dep

[2017-04-25 11:19] DjangoPeng commented on #9328
@girving Thanks for your attention. The problem is the incompatible of `malloc`, I think the library of `malloc` in Google is different with us. If I install the `libtcmalloc-minimal4` in Dockerfile everything goes well . I've updated my [Dockerfile](https://gist.github.com/DjangoPeng/ce00add09714f247fe211c1dcff708aa#file-dockerfile-L29) and commented the line 29.

[2017-04-25 11:21] bhack commented on #22
You can follow also the status of the PR https://github.com/tensorflow/tensorflow/pull/9117

[2017-04-25 11:22] jubjamie commented on #9416
Yup. I've seen somewhere else on here where someone's Rotation was 1. I appreciate it's not really important in the grand scheme of things. Just mildly frustrating when this is the only sample code available. Are there any more detailed tutorials or specific documentation planned that could help with getting apps up and running correctly?

[2017-04-25 11:33] Bonkoodle opened #9435 "Tensorflow Error - no such package '@local_config_cuda//cuda'"
So I'm trying to run the image retraining official tensorflow tutorial from this link: https://www.tensorflow.org/tutorials/image_retraining

I need to get it working for my dissertation with my own images in less than a month so it's extremely urgent.
Once I get to the line "bazel build tensorflow/examples/image_retraining:retrain"
I get this output:
"ERROR: error loading package 'tensorflow/exam

[2017-04-25 11:53] logological commented on #7778
@jshin49: Why are you using `--copt=-msse4.1` twice?  Or is the second one a typo, and you meant to write `--copt=-msse4.2`?

[2017-04-25 11:53] halflings opened #9436 "Python Configuration Error: 'PYTHON_BIN_PATH' environment variable is not set"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X Sierra
- **TensorFlow installed from (source or binary)**: N/A (compiling from HEAD)
- **TensorFlow version (use command below)**: N/A (see above)
- **Bazel version (if compiling from source)**: 0.4.

[2017-04-25 11:54] halflings commented on #9436
Also (unrelated), the `tools/tf_env_collect.sh` script does not work::

[code]

[2017-04-25 11:55] jshin49 commented on #7778
@logological: You are right. It is a typo and I meant msse4.2.

Thanks for pointing it out!

[2017-04-25 11:57] Yangqing commented on #7958
@cancan101 small correction per @ajtulloch: Metal is faster for devices that are iPhone 6s and above, and NNPack faster on the rest of devices.

[2017-04-25 12:17] ruiann commented on #9419
@drpngx @aselle

as you say memory run out, dmesg logs for 8 * 1080P images:

[  687.293876] python invoked oom-killer: gfp_mask=0x24280ca, order=0, oom_score_adj=0
[  687.293881] python cpuset=/ mems_allowed=0
[  687.293888] CPU: 0 PID: 3557 Comm: python Tainted: P           OE   4.4.0-72-generic #93-Ubuntu
[  687.293890] Hardware name: Gigabyte Technology Co., Ltd. B85M-D3V/B85M-D3V, BIOS FM 08/

[2017-04-25 12:19] milinddeore commented on #8268
Thanks @satok16!
But what if when someone try to go from development to production? Do we need to add libhexagon_nn_skel.so to the android stock and compile it as [signed-production](https://wiki.lineageos.org/signing_builds.html) build? Would that work on hexagon?

[2017-04-25 12:27] ruiann commented on #9419
for 2 1080P images, still run out the memory

[ 1525.675820] python invoked oom-killer: gfp_mask=0x24280ca, order=0, oom_score_adj=0
[ 1525.675823] python cpuset=/ mems_allowed=0
[ 1525.675827] CPU: 1 PID: 3986 Comm: python Tainted: P           OE   4.4.0-72-generic #93-Ubuntu
[ 1525.675828] Hardware name: Gigabyte Technology Co., Ltd. B85M-D3V/B85M-D3V, BIOS FM 08/13/2015
[ 1525.675829]  00000000

[2017-04-25 12:45] liorshk commented on #4714
+1

[2017-04-25 12:53] ruiann commented on #9419
The same result for 2 720P images

my device info:

I tensorflow/core/common_runtime/gpu/gpu_device.cc:885] Found device 0 with properties:
name: GeForce GTX 1060 6GB
major: 6 minor: 1 memoryClockRate (GHz) 1.7845
pciBusID 0000:01:00.0
Total memory: 5.92GiB
Free memory: 5.46GiB
I tensorflow/core/common_runtime/gpu/gpu_device.cc:906] DMA: 0
I tensorflow/core/common_runtime/gpu/gpu_device.cc:916] 0:

[2017-04-25 12:55] admcrae opened #9437 "Docs generation is broken in Python 3.5"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: Source
- **TensorFlow version**: b6bafadd51a471daa7157f515598e08e8f9f1611
- **Bazel version**: 0.4.5
- **Exact command to reproduce**: `bazel run -- //tensorflow/tools/docs:generate --src_dir=tensorflow/docs_src --output_dir=/tmp/tf_docs`

### Describe the p

[2017-04-25 13:27] vrenkens opened #9439 "small error in DynamicAttentionWrapper"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Not relevant

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Not relevant

- **TensorFlow installed from (source or binary)**:

Not relevant

- **TensorFlow version (use command below)**:

1.1

- **Bazel version (if compiling from source)**:

Not relevant

[2017-04-25 14:05] schmiflo commented on #6503
Would be great to have this functionality.

[2017-04-25 14:31] ruiann commented on #9419
I use 64 images with 96x96 size for training now, 2 720P images require 6 times more memory. This network has 16 layers for generation and 10 layers for discriminator, does each layer duplicates the image batch tensor? So I need to cut some layers or use a better GPU?

[2017-04-25 15:04] Songweiping commented on #9439
The attention wrapper has been rewritten in master branch, there is no dynamic_attention_wrapper.py any more.
Anyway, I think this typo was fixed in commit https://github.com/tensorflow/tensorflow/commit/0557e8f90c1a2f027f4561c70558c6c836138058. You can update your TensorFlow and check it.

[2017-04-25 15:10] fredtony commented on #7774
@caisq I a using 1.1.0-rc2. I have the nightly build (Build #149 (Apr 19, 2017 2:25:00 AM) which is the last stable build). Revision ed6bb758dabc612234e9afd38bdaeb1b84e09955

[2017-04-25 15:16] rjpg opened #9440 "Loading sklearn model in Java. Model created with DNNClassifier in python"
The goal is to open in Java a model created/trained in phyton with tensorflow.contrib.learn.learn.DNNClassifier.

At the moment the main issue is to know the correct name of the "Operation" to give in java on the session runner method.

I have this test code in python :

`from __future__ import division, print_function, absolute_import
import tensorflow as tf
import pandas as pd
import tensorflow.

[2017-04-25 15:16] ajtulloch commented on #7958
Hey @keveman, I wrote the C2 mobile stuff so really interested in the TF approach. How are you thinking of structuring the TF integration? It'd be cool if we can reuse kernel sources and stuff.

Some decisions/hacks/notes I made that I was kind of unsure about, so I wondered how you'd approach them:

- Using textures (MPSImage, MPSTemporaryImage) vs buffers (MTLBuffer) as the tensor representation

[2017-04-25 15:25] caisq commented on #7774
@fredtony Thanks for the info. I was under the impression that this PR (https://github.com/tensorflow/tensorflow/commit/99559a3455d7c3b3663968a55bf56801743201d0) should have resolve a previous problem related to tf.while_loop. This commit is in both the master and r1.1 branches. But there might be other corner cases not covered here.

Can you provide some sample code (and some fake data) to reprod

[2017-04-25 15:30] keveman commented on #7958
@Yangqing That's what I noticed too. Using Metal on iPhone 6s and above was significantly faster.

[2017-04-25 15:38] Netzeband opened #9441 "Non deterministic behaviour of tf.train.batch in case the number of threads is higher than 1."
This is related to the StackOverflow question: http://stackoverflow.com/questions/43612366/tf-train-batch-output-is-not-deterministic/43613376#43613376

The thread owner creates a batch with the following code:
[code]

And he noticed that created batches are not in every run the same. They are quite similar, but sometimes the inputs are mixed or some are missing.
According to the answer on StackOv

[2017-04-25 15:39] girving commented on #9328
@caisq Can we incorporate this fix?

[2017-04-25 15:39] asimshankar commented on #9440
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-25 15:39] #9440 closed

[2017-04-25 15:45] altosaar commented on #4897
Thank you @goodfeli !

It would be very useful to support this in tensorflow for calculating second-order gradients (e.g. fisher information, etc).

Any hope for official support or is this the recommended solution?

cc @datang1992

[2017-04-25 15:47] cancan101 commented on #9201
@jart Any thoughts on the above questions / comments?

[2017-04-25 15:51] caisq commented on #9328
@girving I noticed @DjangoPeng is using ubuntu:14.04, but the official TF Docker images are on ubuntu:16.04 now. So there is no need to incorporate any changes to TF code. Am I understanding it correctly?

[2017-04-25 15:52] petewarden commented on #4766
One way to get the information on the input and output nodes is to run the summarize_graph tool on your frozen file:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/summarize_graph_main.cc

[2017-04-25 15:52] caisq commented on #9328
If we are talking about updating the old release branch (r1.0), that SGTM.

[2017-04-25 15:52] goodfeli commented on #4897
I think this is the recommended solution for now

On Tue, Apr 25, 2017 at 5:47 PM, Jaan Altosaar <notifications@github.com>
wrote:

[2017-04-25 15:58] SubhashKsr commented on #4766
Hi @petewarden, thanks for the reply.
I did that, following is the output
No inputs spotted.
No variables spotted.
Found 1 possible outputs: (name=InceptionV1/Logits/Predictions/Softmax, op=Softmax)
Found 5598451 (5.60M) const parameters, 0 (0) variable parameters, and 114 control_edges
Op types used: 472 Const, 230 Mul, 173 Add, 172 Sub, 116 Identity, 114 Sum, 58 Reshape, 58 Conv2D, 57 Rsqrt, 57

[2017-04-25 15:59] girving commented on #9430
You'll need to compile it yourself if you want to get rid of them.

[2017-04-25 15:59] #9430 closed

[2017-04-25 16:00] eaplatanios commented on #9150
I think we also need access to "op._add_input" and to "op._add_control_inputs" to achieve the control flow functionality. Please correct me if I'm wrong!

[2017-04-25 16:01] rjpg commented on #9440
I have put it there also :

http://stackoverflow.com/questions/43598953/loading-sklearn-model-in-java-model-created-with-dnnclassifier-in-python/43599728#43599728

[2017-04-25 16:02] girving commented on #9436
Did you run `configure`?

[2017-04-25 16:14] aselle commented on #9441
I've added it to our docs fixit event list of documentation items to fix. Thanks for the contribution.

[2017-04-25 16:14] keveman commented on #7958
@ajtulloch Thanks for your detailed comments. It looks like the C2 implementation is further along than what I have, but it would be great to share code if possible. I haven't looked at the C2 implementation in detail yet, but I am thinking about all the points you bring up here. Especially, I am super frustrated by the `texture2d/texture2d_array` issue too. Here are some thoughts I have on some o

[2017-04-25 16:17] aselle commented on #9439
@vrenkens, thanks for submitting this, but it looks like it is already fixed. Closing for now. Let us know if upgrading doesn't resolve your issues.

[2017-04-25 16:17] #9439 closed

[2017-04-25 16:18] aselle commented on #9437
@martinwicke, could you take a look?

[2017-04-25 16:25] aselle commented on #9435
What verison of tensorflow source are you using? i.e. run
[code]
from the root of your tensorflow sources?

Are you able to build a working whl from source in general?
https://www.tensorflow.org/install/install_sources

If that doesn't work, Try to build TensorFlow with only CPU suppport. If that can be made to work then try flowers with the cpu version.

[2017-04-25 16:29] aetilley opened #9442 "No 1-dimensional max pool?"
It seems that there is no 1-dimensional max pool.

I'm using one for my own projects.  Should I submit a pull request?

[2017-04-25 16:29] girving commented on #9434
@purpledog: Can you glance at the last error message about `graph_replace`?  Seems like it might be an easy fix, but I'm unfamiliar with the code.

[2017-04-25 16:29] ly05010419 opened #9443 "Create kernel failed: Not found: No registered '_Arg' OpKernel for CPU devices compatible with node _arg_input_0_0 = _Arg[T=DT_FLOAT, index=0, _device="/job:localhost/replica:0/task:0/cpu:0"]()"
iPhone6 und tensorflow/tensorflow/contrib/ios_examples/simple/
I have this Error! Hife!

<pre>
2017-04-25 18:19:07.181759: I /Users/liyong/Downloads/tensorflow-master/tensorflow/contrib/ios_examples/simple/RunModelViewController.mm:149] Session created.
2017-04-25 18:19:07.181966: I /Users/liyong/Downloads/tensorflow-master/tensorflow/contrib/ios_examples/simple/RunModelViewController.mm:152] Grap

[2017-04-25 16:30] shamoya commented on #2916
We (@bkovalev and me) did some testing on the new verbs code VS the default gRPC over TCP.
Some of the results in - https://docs.google.com/spreadsheets/d/1UIqmp5sKwPnxWpZkJ1rCcGrJz-Iqr4_1NZdZdRqJ7N8/pubhtml.

You can see there up to ~25% improvement with verbs in Inception-V3 (with only 14GPUs K40 in 7 nodes) and good results in VGG-16 case, where TCP can hardly get it running.
The TCP issue is c

[2017-04-25 16:31] martinwicke commented on #9437
Yes, the doc generator does not work in python 3. Because of the many differences in (especially) `inspect`, we did not make the doc generator work for py3. It can be done -- but the issues you hit are not the only ones.

Replacing `codegen` is probably also feasible, but I have not looked into it.

If someone spends the time to make it work for py3, I'd be happy about that. But it's not a priorit

[2017-04-25 16:36] girving commented on #9428
@satok16: Can you comment?

[2017-04-25 16:38] aselle commented on #9433
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-25 16:38] #9433 closed

[2017-04-25 16:38] girving commented on #9442
Yep, a pull request would be welcome.  Please do it in pure Python, though: just a thin `tf.nn.max_pool1d` wrapper calling down to `tf.nn.max_pool`.

[2017-04-25 16:39] aetilley commented on #9442
Will do.

[2017-04-25 16:41] girving commented on #9442
Hmm, there's already a `max_pooling1d` in layers.  If you make a non-layer `max_pool1d`, it might be good to share code with the layer.  That is, you'd pull the layer code out into a separate function, and then make the layer code use the function.

[2017-04-25 16:43] aselle commented on #9443
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-04-25 16:43] #9443 closed

[2017-04-25 16:46] skye commented on #9150
Actually, I think what will be easiest to implement in the C API is a function similar to TF_AddInput that takes the name of a (possibly nonexistent) operation instead of the TF_Operation* itself (AddNamedInput?). You can then create the TF_Operation* with that name later in order to create the cycle. We use something like this in the C API implementation of while loops, so it'll definitely be suf

[2017-04-25 16:48] cancan101 commented on #9285
Ping on this. Looks like filtering is broken in the TF1.1 wheel on Pypi.

[2017-04-25 16:54] aselle commented on #9419
You could reduce the layers or change the number channels in the layers so the intermediates require less memory. Of course this will affect accuracy of the model. I would suggest asking on stackoverflow how best to manage to reduce memory while doing SRGAN, because I think you'll find more people who have experience with it...

You can look at this under implementation I found by googling...
http

[2017-04-25 17:05] yaroslavvb commented on #4897
@altosaar I recently had to compute per-example gradients, and ended up with implementation [here](https://github.com/yaroslavvb/stuff/blob/master/natural_gradient_multilayer.py) . To make things fast I had to drop `tf.gradients` and compute things manually. There's two orders of magnitude speed-up if you use specialized structures, specifically, use "khatri-rao" product which gives you a batch of

[2017-04-25 17:12] andrewharp commented on #9416
We have more walkthroughs planned, but they won't specifically meant to improve upon camera support themselves.

You've already found #9142, and #8736 is meant to add android.hardware.Camera support for devices with wonky Camera2 behavior (like the Pixel C apparently) -- we just have to find the right discriminating features to make misbehaving devices choose the original API.

[2017-04-25 17:14] rogerpasky commented on #22
Thanks! I'm following this issue during last months. I'm not confident about the Apple OpenCL commitment, given they're stuck onto OpenCL 1.2 since 2013 (Apple is not providing SPIR 1.2 support yet).

[2017-04-25 17:15] civilman628 commented on #4766
@SubhashKsr if you want to get the node names of graph file, which is .pb file (not ckpt, there are different), use the following code:

[code]

as you see in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py#L261

classify_image_graph_def.pb is the file for inception v3. you need to download inception5h.zip which contain inception v1 .pb file and

[2017-04-25 17:17] jubjamie commented on #9416
Walkthroughs for anything are very welcome! Fortunately my work doesn't really require too much android development work but I'm sure others will appreciate. I'll try and get back to this issue in a couple of days. Ta.

[2017-04-25 17:26] Bonkoodle commented on #9435
When I run
git describe
I get "fatal: Not a git repository (or any parent up to mount point /home)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set)."

So I must have done something wrong. What exactly do you mean by "from the root of your tensorflow sources"?
Does that simply mean to call "cd /home/bonkoodle/tensorflow" so that I'm in my tensorflow folder before running it

[2017-04-25 17:43] satok16 commented on #8268
Hi @milinddeore,
The hexagon binary should be signed in a different way apart from the Android signature process.  So, if you want to run the hexagon binary on a phone, the hexagon binary should be signed by qualcomm or phone manufactures.

[2017-04-25 17:46] eaplatanios commented on #9150
@skye that sounds reasonable. Actually, I'm a bit confused as to everything involved in creating a "cond" or a "while_loop" in a graph. I get the high-level idea, but the Python code seems overly complicated to me for something like that and I'm wondering why. Would it be too much to ask for a brief summary of what ops get added to the graph for a "cond" and for a "while_loop" and how gradients sh

[2017-04-25 17:49] yaroslavvb commented on #9434
@slavakung rewriting the graph is a bit painful. When I do prototype non-standard optimizations I prefer keeping everything in variables. IE you run following ops
[code]
If you have these things in the loop, modifying the graph (like doing var.assign()) will add 1-10ms delay, so you may have to refactor things to pre-create those ops ahead of time.  @alextp is working on a solution that will make

[2017-04-25 17:52] yaroslavvb commented on #9328
PS, we are observing same error message with PyTorch on Ubuntu 14.04, and LD_PRELOAD=tcmalloc fixes it there too

[2017-04-25 18:09] aetilley commented on #9442
@girving
That's interesting.   I submitted a pull request for the first change.  I wasn't sure if it was a good idea to touch the layers bit, but feel free to edit.

I also noticed this on line 784:

    pooling_ops = {("MAX", 1): max_pool,
                   ("MAX", 2): max_pool,
                   ("MAX", 3): max_pool3d,  # pylint: disable=undefined-variable
                   ("AVG", 1): avg_po

[2017-04-25 18:16] girving commented on #9442
Hmm, actually that looks like it works great.  Note that `expand_dims` and `squeeze` that happen if `num_spatial_dims == 1`.  I don't think your PR will be necessary.

[2017-04-25 18:17] altosaar commented on #4897
Awesome, thank you @goodfeli. @yaroslavvb that implementation is extremely helpful - exactly what we're trying to do 👍 👍 👍

[2017-04-25 18:17] girving commented on #9442
Can you verify that it works for you?

[2017-04-25 18:23] aetilley commented on #9442
@girving

That's fine.  But note that there's also a generic N-dim convolution function, as well as specialized 1,2,3 dim versions.

It's up to you.

[2017-04-25 18:26] girving commented on #9442
The generic form is newer than the specialized versions, and I think it's nicer.

[2017-04-25 18:26] #9442 closed

[2017-04-25 18:32] yaroslavvb commented on #9202
BTW, for symsqrt I've been using function below. No gradients, but will be after SVD gradients are supported as in https://github.com/tensorflow/tensorflow/issues/6503

[code]
If you just want to whiten data, and backprop through it, you can use Cholesky.
Whitening is accomplished by using modified Cholesky Decomposition which is just a couple of arithmetic ops on top of Cholesky, here's a [mini t

[2017-04-25 18:35] rahasayantan opened #9445 "Issue with running Tensorflow with OpenCL - Ubuntu 14.04.3 (Trusty) - AMD R5 Radeon M335 GPU"
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No

OS Platform and Distribution (e.g., Linux Ubuntu 16.04):14.04.3-->Trusty

TensorFlow installed from (source or binary):Source

TensorFlow version (use command below):1.0 (Steps-> Downloaded tensorflow from https://github.com/benoitsteiner/tensorflow-opencl, ./configure - to configure project)

Bazel

[2017-04-25 18:49] drpngx commented on #9445
We are in the middle of a merge (https://github.com/tensorflow/tensorflow/pull/9117). It might be a good idea to patch up your code and start from there.

[2017-04-25 18:50] ebrevdo commented on #9422
This is a duplicate of #6620.  That said, #6620 is a pretty serious issue.
 zheng-xq can probably say more about whether we can add static shape
information to the parameter objects that cudnn-rnn builds.

On Mon, Apr 24, 2017 at 3:29 PM, Geoffrey Irving <notifications@github.com>
wrote:

[2017-04-25 18:52] taion commented on #9285
This is a pretty significant usability problem with TensorBoard. We often run TensorBoard on directories with many runs, and being unable to filter runs by name makes it very difficult to do useful things with TensorBoard.

[2017-04-25 18:52] ebrevdo commented on #6620
Looks like a serious issue; @zheng-xq @zhangyaobit - can we add static shape info to the parameters created by cudnn-rnn?  Perhaps by exposing the cudnn library helper functions via swig?  Is there a document describing how the shape varies as a fn of hardware and version?

Alternatively can we modify the Adam optimizer to not require static shapes?

[2017-04-25 18:54] ebrevdo commented on #6620
Following up: looking at the slot_creator code, looks like we no longer require static shapes.  Can you check to see if the error still exists in the TF nightlies?

[2017-04-25 18:54] ebrevdo commented on #9422
Let's continue discussion in #6620.

[2017-04-25 18:54] #9422 closed

[2017-04-25 18:54] srkunze opened #9446 "dynamic_rnn: session.run with train_step behaves differently than train_step run alone"
### System information
- 4.4.0-72-generic #93-Ubuntu SMP Fri Mar 31 14:07:41 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- via pip
- 1.0.0-65-g4763edf-dirty 1.0.1
- cuda-8.0 + cudnn-5.1.10
- GeForce GTX 760 + 1996MiB

### Describe the problem

Consider the following pieces of code:

#### Variant 1
    loop:
        feed_dict = {c_state: current_state.c, h_state: current_state.h, ...}
        loss_sum,

[2017-04-25 18:58] aetilley commented on #9442
@girving

Got it.  Thanks.

[2017-04-25 18:59] rahasayantan commented on #9445
Thanks, I will wait for the merge to complete and restart from that point.

Regards
Sayantan

[2017-04-25 19:54] rylanchiu commented on #563
I am using tensorflow r-1.0 and I meet the same problem. When the padding size is big, which means there are many PAD_ID in the output sequence, the model would learned to predict almost all PAD_ID in output. Even I have already set the weights to 0. But when the padding_size is small, this problem disappear. So maybe there is really a bug not easy to find?

[2017-04-25 19:58] jart commented on #9201
@zheng-xq Our friend @cancan101 believes it would be less astonishing for our users if `tf.ConfigProto(device_count={'GPU': 0})` also implied `export CUDA_VISIBLE_DEVICES=""`. That doesn't sound unreasonable to me. What are your opinions on this feature request?

[2017-04-25 20:03] jrajagopal opened #9447 "Unable to install v0.11 - missing distribution"
### System information
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Not installed
- **TensorFlow version (use command below)**: 0.11
- **CUDA/cuDNN version**: 5.0
- **GPU model and memory**: Titan X 12 GB
- **Exact command to reproduce**:
root@system76-server:/# export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorfl

[2017-04-25 20:09] skye commented on #9150
Unfortunately I haven't fully figured out the while loop gradients logic myself... I talked to @asimshankar offline about it and we concluded that given the complexity of re-implementing this logic, it'll be better to wait until this functionality lands in the C API instead of re-implementing it in the Scala API (along with the additional downside of introducing the temporary API method). I'm curr

[2017-04-25 20:10] girving commented on #9446
It's quite reasonable that doing more things in parallel would need more memory.  Thus, this question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-25 20:10] #9446 closed

[2017-04-25 20:14] emchristiansen commented on #9202
@yaroslavvb thanks for the mini tutorial; it looks like it should be more efficient than just computing `cholesky(inverse(covariance_matrix))`.

However, for a dataset with dimension > 1 there are infinitely many whitening matrices, because a rotation of white data is still white.
The Cholesky approach produces just one of these possible matrices.
As mentioned in the first post, a matrix square ro

[2017-04-25 20:21] Denisolt commented on #6483
Is there any update on this issue?

[2017-04-25 20:23] srkunze commented on #9446
@girving Thanks for your quick response. I would agree with you when the ResourceExhaustedError would occur on the first loop iteration.

But it is not and so it seems like a session.run accidentally keeps/leaks some memory.

[2017-04-25 20:25] aselle commented on #9447
add a $ to TF_BINARY_URL i.e.
[code]

[2017-04-25 20:26] yaroslavvb commented on #9202
@emchristiansen The`symsqrt` function above will produce whitening matrix of maximum trace

[2017-04-25 20:27] girving commented on #9446
Unfortunately, memory usage is not necessarily deterministic in TensorFlow, since parallel ops execute asynchronously.

[2017-04-25 20:29] sguada commented on #8190
Re-open if needed

[2017-04-25 20:29] #8190 closed

[2017-04-25 20:33] aselle commented on #9435
Your /home/bonkoodle/tensorflow seems to be the root of a virtualenv.
- The root of your TensorFlow sources is where git clone dropped a tensorflow directory.
- Please follow this to build TensorFlow https://www.tensorflow.org/install/install_sources
- I don't think image_retraining even requires creating a whl part. Just follow the previous document up to building the pip package. Then switch to

[2017-04-25 20:36] yaroslavvb commented on #9202
BTW, this [paper](https://arxiv.org/pdf/1512.00809.pdf) talks about constraints enforced by Cholesky whitening which are indeed different from square root whitening. The `symsqrt` version above should be equivalent to matrix square root when the matrix is invertible (it's "ZCA whitening" in the paper)

[2017-04-25 20:37] srkunze commented on #9446
A ResourceExhaustedError after always 15 iterations seems like a pretty deterministic memory increase if you ask me.

[2017-04-25 20:44] serans1 commented on #6698
If it helps anyone, seems there are sometimes zombie processes left which prevent from tf to start again properly and gave me this error. killing them work around the issue.

[2017-04-25 20:47] alquraishi commented on #6620
I just tried it with the latest nightly build and the problem is still there.

Note that what's needed is not really the shape, but the _size_ of the parameter buffer, since what's being passed to CudnnLSTM is just a flat 1D vector anyway. And the size should not vary from HW iteration to another (otherwise there cannot be a 'canonical' version and the whole premise of `RNNParamsSaveable` would be

[2017-04-25 20:48] jrajagopal commented on #9447
Duh! Sorry this should not have been logged here. Its closed now.

[2017-04-25 20:48] #9447 closed

[2017-04-25 20:48] girving commented on #9446
Well, you haven't shown any code, so there's no evidence it's a bug in TensorFlow and no way for us to debug it.  If you have code and evidence, we can reopen.

[2017-04-25 20:57] srkunze commented on #9446
Here you are. It could be possible if there's something wrong with my code but when it's non-obvious from reading the docs (at least not to me).

    from itertools import islice

    from io import BytesIO
    from tensorflow import float32, placeholder, Variable, zeros, matmul, reduce_mean, reduce_sum, train, \
        InteractiveSession, global_variables_initializer, argmax, constant, truncated

[2017-04-25 20:58] johndpope commented on #19
so - I have some base grpc  SERVICE classes in swift 3 using google grpc.
Feel free to grab my script to do mass conversion->
https://github.com/nubbel/swift-tensorflow

https://github.com/nubbel/swift-tensorflow/blob/master/Sources/tensorflow.grpc.server.pb.swift
https://github.com/nubbel/swift-tensorflow/blob/master/Sources/tensorflow.server.pb.swift
https://github.com/nubbel/swift-tensorflow/bl

[2017-04-25 21:06] OktayGardener commented on #7407
Ouch. I'm currently experiencing the same problem with the same parameters to `tf.train.batch()` and with different batch_sizes. Using TensorFlow 1.0.1 and I'm parsing TFRecords.

[2017-04-25 21:15] srkunze commented on #9446
After tweaking the minimal example, I also got the error after 17 and 18 iterations
I noticed the free memory increased from 1.45 MiB (runs with 15 iterations to fail) to 1.63 MiB

    Total memory: 1.95GiB
    Free memory: 1.63GiB

[2017-04-25 21:15] #9185 closed

[2017-04-25 21:24] srkunze commented on #9446
I played around with the num_units parameter:

1.22 GiB + num_units=50 => 72 iterations
1.22 GiB + num_units=25 => 353 iterations

[2017-04-25 22:04] lzamparo commented on #9035
+1, experiencing the same issue

Tensorflow commit d48ef8f6b743c715e8209e7faf4d2c46ace57046
Bazel 0.4.5
CUDA release 8.0, V8.0.26, cuDNN 5105
GPU: NVIDIA GTX 1080

The file in question clearly exists:

-rw-r--r-- 1 zamparol cllab 2.5K Apr 25 15:47 tensorflow/python/pywrap_tensorflow.py

[2017-04-25 22:06] strickon commented on #6698
Here is a bit more info on how I temporarily resolved it.  I believe these issues are all related to GPU memory allocation and have nothing to do with the errors being reported.  There were other errors before this indicating some sort of memory allocation problem but the program continued to progress, eventually giving the cudnn errors that everyone is getting.  The reason I believe it works some

[2017-04-25 22:24] robertofalk opened #9449 "iOS Example error: Create kernel failed"
I'm trying to run the iOS example 'simple' provided. Script build_all_ios.sh runs fine, I'M able to deploy the application, but when I click on the 'Run Model' button, I get the following error:
[code]
The error happens both on the simulator and on the device (iPhone 7).

Please let me know if you need any additional information about this issue from my side.
Thanks and regards,
Roberto Falk

[2017-04-25 22:54] aselle commented on #9449
Check #8914.

[2017-04-25 22:54] aselle commented on #9449
@petewarden, do you have any advice here?

[2017-04-25 23:14] petewarden commented on #9449
I think you might need to add tensorflow/core/kernels/function_ops.cc to tensorflow/contrib/makefile/tf_op_files.txt, since "_Arg" was recently added to some of the model generating code. Let me know if that helps?

[2017-04-26 00:35] mingdachen opened #9450 "Compute gradient inside tf.while_loop using TensorArray"
I was trying to call opt.compute_gradients() inside the while_loop, but it failed with the error message:
[code]
I found a similiar problem in [stackoverflow](http://stackoverflow.com/questions/42313788/how-to-do-opt-compute-gradients-multiple-times-in-single-sess-run)

test code:
[code]
Seems like the problem is in the TensorArray, if I do not read loss from the TensorArray, it will be fine. Besi

[2017-04-26 01:41] appierys commented on #8610
I can confirm that indeed Tensorboard resizes the images to be square.

[2017-04-26 01:59] DjangoPeng commented on #9328
@girving  @caisq I'm not sure if tensorflow/tensorflow:1.0 is based on Ubuntu:14.04. If so, I think it's necessary to fix it, cause 1.0 is the first stable released version.
@yaroslavvb Do you mean add the environment `LD_PRELOAD` in Dockerfile?

[2017-04-26 02:27] ruiann commented on #9419
@aselle thx for your suggestion. I will try to reduce the tensor scale.

[2017-04-26 02:32] choongng commented on #22
If TensorFlow on OpenCL would help you in your work let me know, to the extent I can help advance research and practice of deep learning I'd like to help. My company has built an OpenCL back end for TensorFlow tuned for a variety of GPUs as part of our work in on-device inference. We have tested on the major mobile & desktop GPU families including common configurations on Windows & Mac. If there's

[2017-04-26 03:20] thinxer commented on #2916
@shamoya On what network (IB or RoCE, link speed) are you performing the testing?

[2017-04-26 03:20] anjanakumar commented on #8164
I have the same issue when I try to run my code with tensorflow
AttributeError: module 'tensorflow.python.training.training' has no attribute 'AdagradDAOptimizer'

[2017-04-26 03:49] vade commented on #22
@choongng - all of that sounds incredibly useful and helpful. My personal project https://github.com/Synopsis/ would greatly benefit from OpenCL on OS X, as well as Metal for iOS and Desktop deployment. If its possible for this to be introduced to Tensorflow proper I think it would be a tremendous boon for tons of developers.

Thank you.

[2017-04-26 03:53] leandro-gracia-gil commented on #8310
I have managed to successfully use tfcompile to run a Tensorflow graph in MSVC. The key seems to be using the target triple "x86_64-pc-windows-msvc" from a Linux build of tfcompile to generate a .h/.lib pair. You also need to build tensorflow/compiler/aot/runtime.cc with MSVC (it needs a couple minor fixes) and link it together with everything else. Also, one more trivial fix is required in the ge

[2017-04-26 04:02] tatatodd commented on #8310
@leandro-gracia-gil Yes, patches are definitely welcome!

Some info on legal stuff here:
https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md

Other than that, just send the patch like a regular github pull request (PR).  Some github links on this topic:
https://help.github.com/articles/about-pull-requests/
https://help.github.com/articles/creating-a-pull-request/

Thanks!

[2017-04-26 04:21] #3527 closed

[2017-04-26 04:40] Yoshiharo commented on #7995
This is my code:

#matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
from sklearn.metrics import confusion_matrix

tf.__version__
from tensorflow.examples.tutorials.mnist import input_data
data = input_data.read_data_sets("data/MNIST/", one_hot=True)

print("Size of:")
print("- Training-set:\t\t{}".format(len(data.train.labels)))
print("- Test-set:\t\t{}"

[2017-04-26 05:25] igerard commented on #22
@choongng

If your company publish an OpenCL version, or more interesting a Metal version of TensorFlow, I think that this is going to be a great news for a lot of people, I am in the process to build an eGPU with an NVidia card to get TensorFlow / Keras running on my MBP for my job...

For people interested ... go to eGPU.io community

[2017-04-26 06:02] jcf94 commented on #2916
@shamoya Is that possible that maybe your Test about TCP is actually run over ipoib ?

[2017-04-26 06:13] cathalgarvey commented on #22
@choongng

I would be *very* interested in seeing this, so I'd be very grateful of you could pursue it! Especially if it doesn't require the sketchy closed-source compilers TF have chosen for CL support..

On 26 April 2017 03:33:51 GMT+01:00, Choong Ng <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-04-26 06:50] rohit7033 opened #9453 "Tensorflow in Raspberry Pi -- Create kernel failed: Not found: No registered '_Arg' OpKernel"
### System information
-I have followed steps to install Tensorflow on Raspberry Pi 3 from the page
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile

After installation I tried to run the example from this page
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/pi_examples

### Describe the problem
While executing the command label_image, I got

[2017-04-26 06:55] shamoya commented on #2916
@thinxer @jcf94
TCP results are from 100GE network.
The RDMA test ran on IB (EDR) network.
We are starting soon a new cycle with P100 (PCIe) GPUs and RDMA running on RoCE (same 100GE network as TCP).

[2017-04-26 07:05] Yoshiharo opened #9454 "python tensorflow ImportError"
The following is my code:

#matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
from sklearn.metrics import confusion_matrix

tf.__version__
from tensorflow.examples.tutorials.mnist import input_data
data = input_data.read_data_sets("data/MNIST/", one_hot=True)

print("Size of:")
print("- Training-set:\t\t{}".format(len(data.train.labels)))
print("- Test-se

[2017-04-26 07:06] avader906 commented on #2916
@shamoya one-for-one on the hardware side, RoCE will give back that 25% vs pure IB. what about GPUdirect over RDMA - is that something in the pipeline?

[2017-04-26 07:14] vburca commented on #6698
I am also getting the `CUDNN_STATUS_NOT_INITIALIZED` error. Here is the full error log:
[code]

I am on Windows 10, CUDA 8.0, cuDNN 5.1 . Can anything be done to avoid these? I was able to run earlier some other tensorflow tests and it worked fine (including conv op), but now it doesn't work on this new test...

@serans1 What zombie processes are you referring to?

Please let me know if there is a

[2017-04-26 07:33] nanhuo commented on #9449
Same problem here.  @petewarden 's solution worked. Add the code and rebuild , now it's working.

[2017-04-26 07:33] igerard commented on #22
I think that it would be revolutionary ;)

[2017-04-26 08:22] EdeMeijer opened #9455 "Batch + dynamic_pad + squeeze + one_hot + dynamic_rnn throws shape error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04.1 LTS (Xenial Xerus)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.1.0-rc2-259-g34c738c
- **Bazel version (if compiling from so

[2017-04-26 08:33] shubhamshekhar opened #9456 "TFClassify taking too long to disply result"
I am using tensorflow in android. I installed the apk for TFClassify available. I ran the application and it is running swiftly with inference time of not more than 400ms. However when I replaced the available trained model with my model, it is taking around 2000ms for computational before displaying the result. Why is there such a difference and how can I optimize my retrained_graph.pb? I have co

[2017-04-26 08:43] EdeMeijer commented on #9455
Okay, I figured out that the static shape information was lost at the `squeeze` op because I didn't specify an axis. Adding `axis=2` fixes it. I suppose this isn't so much of a bug but rather lack of understanding from my end. Will close this as the problem is resolved.

[2017-04-26 08:43] #9455 closed

[2017-04-26 08:53] YaroslavSchubert commented on #5036
+1

[2017-04-26 08:58] mrlzla commented on #9379
This is everything that i managed to get:
[code]

[2017-04-26 09:26] yuryskaletskiy commented on #1661
vote for the improvement too

[2017-04-26 09:43] shamoya commented on #2916
Hi @avader906,

RoCE V2 penalty VS IB EDR is around 8%, this is from the same machines I ran the tests:

ib_write_bw -s 8388608 -d mlx5_1 --report_gbits 10.143.119.22
---------------------------------------------------------------------------------------
                    RDMA_Write BW Test
 Dual-port       : OFF          Device         : mlx5_1
 Number of qps   : 1            Transport type : I

[2017-04-26 09:57] avader906 commented on #2916
@shamoya tremendous work! P2P RDMA is more usefull for the majority of users who do not run Tesla. Regarding RoCE vs IB - reoccurring theme in this thread is missing the role of latency. You have calculated the bandwidth comparison based on one connection and MTU. Depending on MTU (which is tuned to NUMA/Affinity) and the number of threads/connections - that bandwidth will change. Because of laten

[2017-04-26 10:30] mrlzla commented on #9379
I solved this problem using tensorflow::thread::ThreadPool instread of std::thread

[2017-04-26 10:53] haiy commented on #9436
@girving I had the same error when I'm build tensorflow-serving.And I've configured the tensorflow alreay.

[2017-04-26 11:03] shamoya commented on #2916
@avader906 - In general I agree with the impact of RoCE added latency and number of connections, but I don't think it matters at all in our specific use case.
We care about large messages (Tensors) so latency ~ throughput,
and number of connections is not in large scale (dozens of nodes at max) so I don't expect any penalties in HW caches, and all of them are established beforehand.
Do you agree o

[2017-04-26 11:21] avader906 commented on #2916
@shamoya it was a general reflection on scalability and the compound effect latencies might have within platform architecture decisions. i agree with you that specific performance is use case dependent.

[2017-04-26 11:45] ajtulloch commented on #7958
- Re. textures - makes sense. When would you use `MPSImage` in that case? In the C2 versoin, all the intermediate states are transient/unobservable, and are only observable via a copy (which is also the synchronization point), so there's no need for textures that persist outside the lifetime of the command buffer (which is what MPSImage would give you?).
- Re. memory management: yes, it seems pret

[2017-04-26 11:57] gabidi commented on #22
@choongng Maybe it would help if you join forces with these guys
https://github.com/benoitsteiner/tensorflow-opencl

[2017-04-26 12:28] loretoparisi commented on #9371
@rjpg see https://github.com/loretoparisi/tensorflow-java, if it can help!

[2017-04-26 12:39] sandipmgiri opened #9458 "How np.array([]) works in numpy"
my sample code :

[code]

Output : ` [ 2.  3.]`

I just wanted to know , how this array is created here.  Basically how np.array works ?  Which constructor/function is invoking to generate this array ?

I tried putting prints in `/numpy/numpy/lib/user_array.py` but that didn't help.

[2017-04-26 12:48] loretoparisi commented on #9419
@ruiann why don't try a different approach starting to reduce the GPU allocated memory like:

[code]

[2017-04-26 13:12] ruiann commented on #9419
@loretoparisi I don't think it can solve my problem.  The problem is that my network needs more than 6G GPU memory to train images with bigger size, but my GPU cannot stand it

[2017-04-26 13:19] loretoparisi commented on #9419
@ruiann having similar issues on `Nvidia Grid K520` on EC2, and one of the trick was that one, since TF was allocating all the memory available on the GPU with no reason.

[2017-04-26 14:06] shamoya commented on #2916
Ok, I see now the bad performance with gRPC TCP on VGG-16 (large Tensors) is explained in #6116 (Thanks for the great analysis @ilhe).
Waiting for #7466 to be merged and and we will re-run the gRPC TCP results again.
This will give us much better indication of the RDMA improvement in large tensors.

[2017-04-26 14:15] girving commented on #9436
@caisq Is `tf_env_collect` supposed to work on Mac?  It appears Linux only since it has an unguarded reference to `/proc`.

[2017-04-26 14:22] mrry commented on #9453
I think I caused that in https://github.com/tensorflow/tensorflow/commit/858e0afcc45c39b6428bf82ab1444323e925cfd8. Just send out PR #9459 with a fix... if you get the change, can you try building with that change and see if it fixes the problem? Thanks!

[2017-04-26 14:24] rjpg commented on #9371
hello,

thanks for the help. I found a solution and you can get the example code there :

http://stackoverflow.com/questions/43598953/loading-sklearn-model-in-java-model-created-with-dnnclassifier-in-python

[2017-04-26 14:24] unnir opened #9460 "a dead link to the TensorBoard: Graph Visualization tutorial in the TensorBoard page"
Hi all,

there is a dead link to the TensorBoard: Graph Visualization tutorial from the TensorBoard Graphs page
[
<img width="668" alt="screen shot 2017-04-26 at 16 17 40" src="https://cloud.githubusercontent.com/assets/1344378/25439486/d78f29e2-2a9c-11e7-87e1-f73e0dbf848c.png">
](url)
now:

https://www.tensorflow.org/versions/master/how_tos/graph_viz/

should be:

https://www.tensorflow.org/get_s

[2017-04-26 14:28] unnir commented on #9458
Hi, did you try to ask this question on stackoverflow.com? If not, I suggest you to do that, because here is the issue tracking for the **TensorFlow** package.

[2017-04-26 14:35] caisq commented on #9436
cc @aselle (author) for whether `tf_env_collect.sh` is supposed to work on Mac.

[2017-04-26 14:35] unnir commented on #9460
it seems I'm using an old version, everything is fine with the link in the repo:

https://github.com/tensorflow/tensorflow/blob/52dcb2590bb9274262656c958c105cb5e5cc1300/tensorflow/tensorboard/components/tf_dashboard_common/tf-no-data-warning.html

[2017-04-26 14:40] harshthaker commented on #9436
I am getting the same error trying to run command 'bazel build --config opt tensorflow/examples/image_retraining:retrain' Error:  'PYTHON_BIN_PATH' environment variable is not set and referenced by '//util/python:python_headers'.

[2017-04-26 14:46] mrry commented on #9458
Closing this as unrelated. As @unnir suggests, this is more appropriate for Stack Overflow, most likely under the [numpy](http://stackoverflow.com/questions/tagged/numpy) tag.

[2017-04-26 14:46] #9458 closed

[2017-04-26 14:55] girving commented on #9456
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-26 14:55] #9456 closed

[2017-04-26 14:56] girving commented on #9460
No worries!

[2017-04-26 14:56] #9460 closed

[2017-04-26 14:57] girving commented on #9454
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-26 15:04] girving commented on #9450
@yuanbyu Do you know what the problem is here?  Is it possible to improve the error messages?

[2017-04-26 15:05] fesun opened #9462 "numpy prod overflow during creating tensor"
I am trying to allocate super large tensor using tensorflow, but failed.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/tensor_util.py#L417
Above code uses numpy.prod to calculate shape size, and for numpy everything is typed, say if the shape is [500000000, 5], then numpy.prod returns -1794967296, it's very easy to reproduce it.
So how about use int64 instead? in

[2017-04-26 15:13] ruiann commented on #9419
@loretoparisi thanks for your suggestion, I've tried 0.5 & 0.8, but doesn't work for my situation, maybe my network do need more memory than this GPU can offer, as you can see this network has 26 layers, the input image tensor's size will be duplicated many times I think. I guess the only way to support such a high-layer network is to create a good gc for each training step.

[2017-04-26 15:16] petrux commented on #2354
I have spent the last week and maybe more dealing with such [issue](http://stackoverflow.com/questions/43367697/batching-and-shuffling-padded-tf-train-sequenceexample). So, help me to uderstand (and save a lot of time): can we state that currently there is _no way_ of shuffling and batching using the official TF input pipeline utilities?

[2017-04-26 15:16] ybsave commented on #7995
@hughlomas Hi, have you tried to use cuDNN 5.1 instead of the newest 6.x? Also, please try to use python 3.5, but not 3.6. These work for me.

[2017-04-26 15:20] rohit7033 commented on #9453
Which Makefile? Are you talking about this - tensorflow/contrib/pi_examples/label_image/Makefile. And where should I add this file?

[2017-04-26 15:22] AlexMazaltov opened #9463 "Drupal8 chatbot integrate with TensorFlow"
Looking for developer who able to integrate tensorflow for answer to users in messenger if it was not recognized by prepared static answers.
https://www.drupal.org/project/chatbot/releases/8.x-1.x-dev
High rate of operating for this job.

[2017-04-26 15:23] AlexMazaltov commented on #9463
Looking for developer who can use tensorflow

[2017-04-26 15:28] #9453 closed

[2017-04-26 15:36] rohit7033 commented on #9453
I added the
tensorflow/core/kernels/function_ops.cc to tensorflow/contrib/makefile/tf_op_files.txt

Do I need to run make again? With just this change when I run "tensorflow/contrib/pi_examples/label_image/gen/bin/label_image", I still get the same error.

[2017-04-26 15:37] shadowfury330 commented on #9436
I think this is a recent problem with the current master's source codes. I tested the compilation of Tensorflow serving both locally and in docker. Both environments gave me the same error "Python Configuration Error: 'PYTHON_BIN_PATH' environment variable is not set". Of course, I set the configure before the build. In fact, I was able to successfully compile Tensorflow under the same environment

[2017-04-26 15:45] tfboyd commented on #7679
Great lesson learned that I already knew.  Managing expectations is not fun.

**Update:**  The draft documents are complete and working through the tech writer process.  While over sharing, I hope to have everything staged late this week and push the "publish" button on Tuesday.  Personally, I am excited to focus on other areas of performance and when TF 1.1 comes out (it is either out now or very

[2017-04-26 15:50] mrry commented on #9453
You would need to run `make` again, because the change adds a file containing the missing kernels to the build.

It looks like the PR was just merged, so can you try pulling from `master` and re-running `make`?

[2017-04-26 15:53] girving commented on #9436
@jart Do you know what the issue might be?

[2017-04-26 16:02] girving commented on #9462
@fesun Are you on a 32 bit machine?  I get

    2500000000

    dtype('int64')

Explicitly setting `dtype=np.int64` does seem like the right solution, but I'd like to understand why it's breaking for you first.

[2017-04-26 16:02] #9463 closed

[2017-04-26 16:03] girving commented on #9463
This is not a  bug or feature request.

[2017-04-26 16:03] lzamparo commented on #9035
Resolved my issue, I'm not sure what the problem is but I was able to build a wheel by doing the following from the root of the repo:

[code]
 Maybe if one of the bazel build steps fails, you need to do `bazel clean --expunge`, and try again?

[2017-04-26 16:04] peci1 commented on #1951
I got it working quite nicely today: http://stackoverflow.com/a/43639305/1076564

[2017-04-26 16:04] peci1 commented on #615
I've written a (hopefully) self-contained example today: http://stackoverflow.com/a/43639305/1076564

[2017-04-26 16:07] loretoparisi commented on #9419
@ruiann in this case I think yes, since you should use the opposite:

[code]

but with a good GC as you suggest.

[2017-04-26 16:12] #8359 closed

[2017-04-26 16:17] jart commented on #9035
Does that solve your issue @CharlesShang?

[2017-04-26 16:24] ronny3050 commented on #8404
@Androbin I have the exact same issue - would you be so kind as to explain how to convert the Switch ops into Identity ops?

Thanks a lot!

[2017-04-26 16:35] ebrevdo commented on #2354
You can easily shuffle and batch using tf.train.shuffle_batch *so long as
you don't have variable-length input tensors*.

On Wed, Apr 26, 2017 at 8:16 AM, Giulio Petrucci <notifications@github.com>
wrote:

[2017-04-26 16:36] peci1 opened #9465 "Misleading error message when running restore op with path to an .index file"
Using V2 checkpoint files, calling `saver.restore()` with path to the `.index` returns the following error:

    Error loading checkpoint from /home/peci1/tradr-git/tradr-ws/src/tradr-simulation/safe_exploration/scripts/ddpg/models/my-model.index: Not found: Tensor name "ActorFullyConnected1/b" not found in checkpoint files /home/peci1/tradr-git/tradr-ws/src/tradr-simulation/safe_exploration/scrip

[2017-04-26 16:37] Androbin commented on #8404
@ronny3050
I will share my Python script here later this day...

[2017-04-26 17:00] johndpope commented on #2916
@shamoya  is there a testbed in tensorflow specifically for gRPC? or even a crude hello world.
I have all the protobufs converted over to swift 3.1 but now just trying to wrap head around dropping down to gRCP https://github.com/nubbel/swift-tensorflow

[2017-04-26 17:02] alquraishi opened #9466 "Improved documentation for TensorArray"
The current documentation for `TensorArray` could use an expanded introduction explaining its utility and main motivation, examples of actual usage, and further explanation of some of its methods. The docs [here](https://www.tensorflow.org/api_docs/python/tf/TensorArray) do not have a single usage example. The overall description of the section is just:

"This class is meant to be used with dynami

[2017-04-26 17:09] mrry commented on #9462
Maybe it's a Windows issue? https://docs.scipy.org/doc/numpy/user/basics.types.html#id3 says that the default integer type is the same as a C `long`, which is 32 bits in MSVC.

[2017-04-26 17:21] aselle commented on #9379
If you have solved it please close it. On the other hand, this problem is difficult to help you solve since you didn't give us the code in B::Task. You also didn't show us the calling code. I'd guess that B was getting destroyed because A was getting destroyed after your main thread died but the thread you started survived and accessed this now deleted memory. It's also unclear why you made b_ptr

[2017-04-26 17:22] aselle commented on #9465
@concretevitamin, could you consider making this message more friendly, or could you direct @peci1 on how to prepare a contribution to that effect--provided @peci1  is willing.

[2017-04-26 17:30] hansonboy commented on #7704
r1.1 also has the problem

[2017-04-26 18:01] petrux commented on #2354
Hi @ebrevdo and thanks for your reply. Actually I came out with this idea:
* feed my parsed protobufs into a `tf.PaddingFIFOQueue`
* feed it into a `tf.RandomShuffleQueue`
and apparently it works fine. So, here follows the code of my test example (which is quite ugly, but no big deal). Hopefully I will set up something more interesting in one of my projects and maybe share the link here. Any comme

[2017-04-26 18:03] girving commented on #9466
Added to the doc fixit.  Assigning to @ebrevdo for now.

[2017-04-26 18:06] mrlzla commented on #9379
Ok. I delete all my code from B::Task(). Now this method doing nothing. And I still have the error.

Calling code something like this:
[code]

[2017-04-26 18:26] kemaswill opened #9467 "Link Error for the deprecated/__init__.py"
It seems that the link "look '[here](https://www.tensorflow.org/code/tensorflow/contrib/deprecated/__init__.py)'" can not point to the right page in the [doc of histogram_summary](https://www.tensorflow.org/api_docs/python/tf/contrib/deprecated/histogram_summary), should we just change it to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/deprecated/__init__.py?

Please go

[2017-04-26 18:51] #4296 closed

[2017-04-26 19:20] ebrevdo commented on #2354
Looks like you are shuffling the *minibatches*, not the individual
minibatch elements, with your shuffle queue (you're calling enqueue and
dequeue, not enqueue_many and dequeue_many).  So if there's heavy
correlation locally between inputs, your minibatches will still have that
correlation and you lose the expected benefits of shuffling.

On Wed, Apr 26, 2017 at 11:02 AM, Giulio Petrucci <notifica

[2017-04-26 20:08] Bonkoodle commented on #9435
I finally got the image retraining file to work by installing from sources, thanks a lot dude.

I'm fairly sure I got this line to work somehow

I think I forgot to set the LD_LIBRARY_PATH variables last time since I wasn't sure how to do it at first. Which I think I did correctly by running the code from section 6.1.1 of:
http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#axzz4f

[2017-04-26 20:10] drpngx commented on #9379
Where does it crash? During deletion of `a` or at program exit?

[2017-04-26 20:12] ronny3050 commented on #8404
@Androbin thanks a ton for this code, it's an excellent starting point. Apologies for further questions:
1. del node.input[2] fails in scenarios where I have `node.input = ['phase_train','phase_train']`. Why is this important?
2. The attached code converts Switch ops to Identity ops and removes the second redundant input. However, I end up with errors such as `Input 0 of node Bottleneck/BatchNorm/

[2017-04-26 20:17] mrlzla commented on #9379
Neither.
It crashes in this line:
[code]

[2017-04-26 20:32] drpngx commented on #9379
BTW, `SetDefaultDevice` won't do anything since the graph is empty when you start.

Did you call
[code]

[2017-04-26 20:34] dpaiton commented on #8430
FYI - the Flickr 100m image dataset (and by extension the multimedia creative commons image dataset) has many EXIF formatted JPG files, which currently break with tf.image.decode_image and tf.image.decode_jpeg. Also I find it surprising that there is not much demand for dealing with images taken on smart phones considering "Tensorflow was designed with mobile and embedded platforms in mind." https

[2017-04-26 20:42] concretevitamin commented on #8430
+ @petewarden who will know more about mobile use cases.

[2017-04-26 21:20] petrux commented on #2354
Hi @ebrevdo and thanks for the reply. I was shuffling minibatches indeed. So, to sum everything up, there is no way to do that? Otherwise, could you/anyone suggest a modification to my code to shuffle element across different minibatches? Thanks!

(by the way, I thought it is quite a common scenario...)

[2017-04-26 21:26] ebrevdo commented on #2354
It is something folks want to do; and it is unfortunate there is no
PaddingShuffleQueue.  There was a PR a while back to add it, but the PR was
withdrawn (perhaps the code is sitting in the original author's git repo
still?).  You can maybe review github issues for "PaddingShuffleQueue" to
see if the code can still be found.

On Wed, Apr 26, 2017 at 2:20 PM, Giulio Petrucci <notifications@github.c

[2017-04-26 21:26] tlbtlbtlb commented on #6834
This just bit me too. It'd be better if the [documentation](https://www.tensorflow.org/api_docs/python/tf/strided_slice) suggested to use Python's array notation instead.

[2017-04-26 21:46] aselle commented on #9467
@wolffg, can we add this to the fix it... I don't know if it is covered by another more general fix approach.

[2017-04-26 21:59] neocortical commented on #9436
I just ran into this issue as well. I am compiling in an Ubuntu 14.04 Docker container (using the standard Dockerfile.devel image).

[2017-04-26 23:09] #3719 closed

[2017-04-26 23:13] keveman commented on #7796
Closing because of inactivity.

[2017-04-26 23:13] #7796 closed

[2017-04-26 23:15] keveman commented on #1419
It looks like this is best handled by PRs that opens up access to portions of TensorFlow core that maybe needed by specific use cases. Closing this one out as there is nothing generic that can be done.

[2017-04-26 23:15] #1419 closed

[2017-04-26 23:16] keveman commented on #1870
Closing because of inactivity.

[2017-04-26 23:16] #1870 closed

[2017-04-26 23:16] keveman commented on #5746
Closing because of inactivity.

[2017-04-26 23:16] #5746 closed

[2017-04-26 23:25] keveman commented on #8241
@cancan101 is this still an issue for you? I am not super inclined to fix this if it's not going to be heavily used.

[2017-04-26 23:29] vrv commented on #8241
@keveman we use VLOG and LOG in OpKernels all the time; shouldn't users be able to do the same?

[2017-04-26 23:49] souravsingh commented on #9467
@aselle I would like to work on the issue. How do I start?

[2017-04-26 23:50] scottwilson312 commented on #4863
I ran into this issue with MULTIPLY. I fixed up the MULTIPLY REGISTER statement and then ran into the same issue with ADD. I was wondering if anyone had a solution other than manually changing each cwise ops file.

[2017-04-26 23:55] souravsingh commented on #7938
I am interested in working on this. How do I start?

[2017-04-27 00:00] cancan101 commented on #4863
@scottwilson312 it looks like a fix 1410510 might have been  committed. See above in the thread.

[2017-04-27 00:11] fesun commented on #9462
@girving I am on 64 bit windows machine, I think @mrry is right, numpy default int type inside windows is 32 bit.

[2017-04-27 00:48] keveman commented on #8150
The one in `tensorflow/user_ops` is demonstrating user defined ops built with `tf_custom_op_library`, i.e., when you build custom operations with TF binary installed, the one in `tensorflow/core/user_ops` is demonstrating how you can build user ops with TF sources.

[2017-04-27 00:48] #8150 closed

[2017-04-27 00:59] keveman commented on #8241
@vrv Perhaps. @yaroslavvb, with TF 1.0, that symbol does seem to be present in `pywrap_tensorflow.so`:

    $ export so=`python -c "import tensorflow as tf; import os.path; print(os.path.dirname(tf.sysconfig.get_include())+'/python/_pywrap_tensorflow.so')"`; nm -g $so | grep MinVLog
    00000000023b9e70 T _ZN10tensorflow8internal10LogMessage12MinVLogLevelEv

@cancan101 This problem [seems](http://

[2017-04-27 01:11] cancan101 commented on #8150
I'm not sure I 100% understand the distinction here. At the very least maybe a Readme file in the respective directories? That being said I would think the same example should appear in both unless there is a reason to use fact in one case and Ackerman in the other?

[2017-04-27 01:28] yuefengz commented on #6590
This is already fixed.

[2017-04-27 01:28] #6590 closed

[2017-04-27 01:33] rohit7033 commented on #9453
The make worked and I was able to run the example with no other error. Thank you for responding and resolving this issue.

[2017-04-27 02:06] quatre008 opened #9469 "ImportError: No module named '_pywrap_tensorflow_internal'"
Hi all,

Using windows 7 and have made tensorflow work in the cpu version. But keep getting this error in the gpu version.

Installed it using pip install tensorflow-gpu. Have cuda 8.0 and cudnn 5.1. Have the dll file and cudnn files copied over. GPU model is K610M.

Thanks in advance for the assistance.

Capture of the screen:
(C:\Users\KiraYamato\Anaconda3) C:\Users\KiraYamato>activate tensorflo

[2017-04-27 02:07] guileryu01 opened #9470 "Cmake build error on windows 10 (fatal error C1001)"
### System information
- **Have I written custom code**: No
- **OS Platform and Distribution**: Windows 10
- **TensorFlow installed from**:source
- **TensorFlow version**:master
- **Bazel version**:NA
- **CUDA/cuDNN version**:8.0/5.1
- **GPU model and memory**:GTX 1080
- **Exact command to reproduce**:MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj

### Describe the problem
I

[2017-04-27 02:39] BrianOn99 commented on #4863
@scottwilson312 That commit is just for my PERSONAL use only in a fork of tensorflow, following the comments above.  It is not a clean fix.  Be sure to understand it before using it.

[2017-04-27 03:35] karandesai-96 commented on #9469
Hi @quatre008,
As the [stack overflow link](http://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example) suggests, have you tried to invoke tensorflow by staying out of the source code directory?

[2017-04-27 03:37] ruiann opened #9471 "Time cost for each training step increases with the training procedure"
When I try to run a SRGAN network by 32 images with 96 * 96 size, each training step the time cost increases. At the beginning, each step cost 35 seconds, but when 160 steps later, the time cost increases to more than 200 seconds. By checking the time log, I can see it do increase with the training step. If I save the model and restart training process, the time cost reduces to about 35 seconds an

[2017-04-27 04:13] ebrevdo commented on #9466
it does need improved documentation. no promises when that documentation will materialize...

[2017-04-27 04:13] ebrevdo commented on #9466
regarding examples, see the unit tests which have a variety of usage examples.

[2017-04-27 04:18] jboeke opened #9472 "a"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-04-27 04:19] #9472 closed

[2017-04-27 04:20] jboeke commented on #9472
Keyboard shortcuts. Wrong tab. Ignore. Thanks!

[2017-04-27 04:21] abemuis95 opened #9473 "ModuleNotFoundError: No module named 'tensorflow'"
### Problem

I have problem running tensorflow, I am quite new in using tensorflow and Python, hence pardon me if this is stupid question to ask. The problem is when I tried running tensorflow in windows command prompt, it worked just fine but then it give me ModuleNotFoundError when I tried running it through .py file. Is there something wrong? Please help me, thank you
------------------------

[2017-04-27 04:23] cancan101 commented on #4863
@BrianOn99 what exactly are the issues with this fix?

[2017-04-27 04:26] Carmezim commented on #9469
Hi @quatre008, sorry you're facing issues, could you please check if your CUDA and cuDNN DLLs are properly set on your `%PATH%`?

[2017-04-27 04:30] ronny3050 commented on #8404
@Androbin just wanted to thank you again for your help. I got it by freezing the graph without phase_train. 👍

[2017-04-27 04:30] Carmezim commented on #9454
@Yoshiharo also, what specifically makes you thing it is a TensorFlow bug? I might be missing something but by the stack trace it seems related to scikit-learn

[2017-04-27 04:33] ronny3050 commented on #6124
I struggled a lot with this until I gave up and ended up freezing the model without is_training.

[2017-04-27 04:48] quatre008 commented on #9469
Hi,

@karandesai-96 I tried many different directories and still the same. Tensorflow worked but not tensorflow gpu.

@Carmezim How do I know if it is properly set? I only found the following:
PATH: C:\Users\KiraYamato\Anaconda3;C:\Users\KiraYamato\Anaconda3\Scripts;C:\Users\KiraYamato\Anaconda3\Library\bin
CUDA_PATH : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0
CUDA_PATH_V8_0: C:\Prog

[2017-04-27 04:56] Carmezim commented on #9469
@quatre008 what happens sometimes is that cuDNN DLLs are installed in a different directory of CUDA so you need to add it also. Make sure you installed cuDNN correctly and if its DLLs are not in those directories already in your `%PATH%` you need to add them.

[2017-04-27 04:57] Yoshiharo commented on #9454
@Adriano yeah previously the error was coming in sklearn module of python which I removed and now it is saying import error something related to dll's.

Thanks & Regards,

RAJAT KUMAR

Technical Trainee

FUJITSU CONSULTING INDIA
 Talwade, Pune
Office: +91-020-2769001

Mobile: + 91 9411292603

Email: Rajat.Kumar@in.fujitsu.com<mailto:Rajat.Kumar@in.fujitsu.com>

Shaping Tomorrow with You

_________

[2017-04-27 04:58] cgorman opened #9474 "Tensorboard text summary ops not on r1.1"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS 10.12.4
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: `v1.1.0-rc0-61-g1ec6ed5 1.1.0`
- **Bazel version (if compiling from source)**: n/a
- **CU

[2017-04-27 05:00] quatre008 commented on #9469
@Carmezim I have copied the files into the same CUDA directory as mentioned. So I am guessing it should be working fine. I have re-downloaded and overwritten to make sure this was the case too.

[2017-04-27 05:01] kwotsin commented on #9301
@andrehentz I have tried building TF from source but with not very much success. The furthest version of TF I've gotten to is the one available here: https://github.com/rwightman/tensorflow/releases/tag/v1.0.0-alpha-tegra-ugly_hack. Would this be a cause of the issue?

However, for the quantization, I run it on my host machine. Regarding the android:libtensorflow_inference file you mentioned to bu

[2017-04-27 05:01] cgorman commented on #9474
Sorry for the formalism, I'm sure it's just a li'l mistake :)

[2017-04-27 05:07] Carmezim commented on #9454
@Yoshiharo the suggestion remains as DLL errors may derive from the possibility I referred to previously, e.g. lack of required dependencies installed can generate this exact error, which is not related to TensorFlow in this case. By the way if you removed sci-kit learn it really shouldn't work.

Also as @girving oriented please provide the full information the Issue template requires, it assists

[2017-04-27 05:09] Carmezim commented on #9469
@quatre008 If you went over CUDA and cuDNN installation again and have everything figured out completely uninstall TensorFlow and install it (only GPU) again. If the problem persists then it's not CUDA/cuDNN related.

[2017-04-27 05:12] aselle commented on #9473
maybe the default .py is associated w/ a different version of python. Just do
[code]
and see if that works.

[2017-04-27 05:13] aselle commented on #9471
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-04-27 05:16] boche opened #9475 "AttributeError: module 'tensorflow.contrib.cudnn_rnn' has no attribute 'CudnnLSTM'"
I am experiencing this when I call tf.contrib.cudnn_rnn.CudnnLSTM:
`AttributeError: module 'tensorflow.contrib.cudnn_rnn' has no attribute 'CudnnLSTM'`

This happens with 1.1.0-rc2, 1.0.1 and probably 1.0.0. Previously, I was using version 0.12.head, and everything is fine. I suspect this is because the model was not exposed in [tensorflow/contrib/cudnn_rnn/\_\_init__.py](https://github.com/tensor

[2017-04-27 05:25] abemuis95 commented on #9473
Thanks @aselle ! That solved the problem. How is that even possible? What caused the problem? I am in the conda environment, hence it should be using the python version of the current env right?

[2017-04-27 05:32] hansonboy opened #9476 "iOS: No OpKernel was registered to support Op 'Less' with these attrs."
hi , all! I have tried to load the model inside iOS that I generated from python.
and right now, I have the following problem:
[code]

Here is the python script generating the model:
[code]
Here is the objective-C++ code loading the model and creating the session:
[code]
the environment as follows:
 - python 3.5 / xcode 8.3.2
 - the iOS based on mac os x 10.12  / the tensorflow version: r1.1
 - th

[2017-04-27 06:23] Yoshiharo commented on #7995
Hello,

        I'm not using GPU instead I'm using CPU installation so there is no need of any cuDNN in it. Please visit the code again and have a review over it.

Thanks & Regards,

RAJAT KUMAR

Technical Trainee

FUJITSU CONSULTING INDIA
 Talwade, Pune
Office: +91-020-2769001

Mobile: + 91 9411292603

Email: Rajat.Kumar@in.fujitsu.com<mailto:Rajat.Kumar@in.fujitsu.com>

Shaping Tomorrow with Yo

[2017-04-27 06:25] VRSManan opened #9479 "No audio for detected object on retrained model"
By following [retraining tutorial](https://www.tensorflow.org/tutorials/image_retraining) and @petewarden's instructions from https://github.com/tensorflow/tensorflow/issues/2883, I am able to run the retrained model without errors. It detects any object from the model I created, but does not pronounce from speaker. It was working for demo model.

[2017-04-27 06:34] pangbochen opened #9480 "Tensorboard 0.0.0.0:6006 cannot work On Win7 but localhost:6006 works"
I use tensorboard on Win7.
Everyting works fine and the cmd shows "Starting TensorBoard b'47' at http://0.0.0.0:6006
"
But when I  input "http://0.0.0.0:6006" into chrome, nothing happens.
I google for it but find limited answer.
Then I input "http://localhost:6006" into chrome, the page comes out.

[2017-04-27 06:59] petrux commented on #2354
Hi @ebrevdo and thanks for the reply. I followed your suggestion and scanned a bit through #5312 and #5147 and [this guy](https://github.com/tensorflow/tensorflow/issues/5147#issuecomment-271086206) made my day.

[2017-04-27 07:00] mrlzla commented on #9379
No, I didn't.
What should I do if I don't want to read params from command line arguments?

[2017-04-27 07:07] VRSManan commented on #9479
Detected object will not be pronunciated if the iPhone is on silent mode.

[2017-04-27 07:07] #9479 closed

[2017-04-27 07:47] quatre008 commented on #9469
Ok I finally managed to resolve the issue.

2 issues at work here. One being my Visual Studio was not installed properly, and the second one (outside of this topic but still interesting) is that my laptop has dual graphics boot-up.

So for the first issue, I managed to resolve it by deleting most folders and restarting the installation, starting from visual studio (the free version of community VS

[2017-04-27 08:12] #9473 closed

[2017-04-27 08:13] abemuis95 commented on #9473
That solved the problem. Thanks

[2017-04-27 08:22] BrianOn99 commented on #4863
@cancan101
As @petewarden mentioned

It is just naively switching position of parameters, in order to switch `int32` to the 5th parameter.  That means which op get registered depends on its position, which is totally nonsense I think.  Just a temporary workaround.  Anyway I am not a dev of tensorflow so it is better to let tensorflowers to make a better fix.

[2017-04-27 08:23] marczellm opened #9481 "Error on Windows when installed in a virtualenv that has a non-ASCII character in the path"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 x64
- **TensorFlow installed from (source or binary)**: binary from PyPI
- **TensorFlow version (use command below)**: 1.1.0
- **Exact command to reproduce**:

      from tensorflow.contrib.rnn.python.ops.gru_ops import *

### Describe the problem
I encountered this when importing keras but it's reprod

[2017-04-27 08:36] morciari commented on #8820
I'm interested in this too. Maybe it would be better to implement an IP in fpga optimized for tensorflow, rather then a generic OpenCL IP.

[2017-04-27 09:14] berthoug commented on #2602
Hi,
I'm also trying to have the tensorboard running behind a proxy and the relative URLs works for most of it except /data/logdir and /data/runs which seems to still have an absolute path. I did my run with the tensorflow-1.1.0rc2-cp27, should I use another version of tensorflow?

[2017-04-27 10:28] shadowfury330 commented on #9436
Just want to make people aware of that you don't need to wait for this to be solved if you don't necessarily need to work with the latest RC version. I have just tested it with Tensorflow serving, and it works with its latest release (tag 0.5.1). You can simply clone that tag by running.
`git clone -b 0.5.1 --recurse-submodules https://github.com/tensorflow/serving`
For anyone who are using Tensor

[2017-04-27 10:38] kmhofmann commented on #7543
Just submitted a pretty simple fix. @dchirikov, can you please check whether this works for you as well?

[2017-04-27 10:51] falcondai commented on #9304
yes, you can display Chinese in tensorboard embedding. Make sure you use UTF-8 encoding in your metadata file.

[2017-04-27 10:51] FrankMiaow commented on #6726
Dear  Carmezim :
I meet this error
Error message is:

Error importing tensorflow. Unless you are using bazel,
you should not try to import tensorflow from its source directory;
please exit the tensorflow source tree, and relaunch your python interpreter
from there.

You said that python gets confused about what to import when running "import tensorflow" (the one in your directory or the system ins

[2017-04-27 11:04] RajeevSharma2015 opened #9484 "ImportError (in import tensorflw-gpu as tf) : Tensorflow windows10, CUDA8.0/cuDNN5.1 and python 3.5.2"
Hi, i am facing an issue if importError on a setup !
1. Windows10, Microsoft visual studio (2017)
2. CUDA 8.0/cuDNN5.1
3. Python 3.5.2
4. PATH for CUDA, cuDNN5.1 Libraries/bin/include set properly !!
5. Setup is created with Docker & tensorflow-gpu environment

While i am trying to verify my installation with "import tensorflow-gpu as tf", encountering with  ImportError: python library specific er

[2017-04-27 11:48] CharlesShang commented on #9035
Unfortunately, It failed again.
The same error mssg was prompted out.
I'm on commit 1ec6ed5.

[2017-04-27 11:54] vaibhavsood commented on #9405
Thanks!

With a little more investigation found that this fails on ppc64le only for the data_format "NCHW", for the other data format ("NHWC") it passes (data_formats as passed as input to tf.nn.avg_pool in test case file ./compiler/tests/pooling_ops_test.py). Investigating this further, if could get any suggestions/pointers to why this may be happening that would be great!

[2017-04-27 12:11] jonasrauber opened #9485 "BernoulliWithSigmoidProbs is obsolete"
I think `tf.contrib.distributions.BernoulliWithSigmoidProbs` can be removed, because `Bernoulli` itself has a `logits` parameter that does the exact same thing, afaik. If you agree, I can make a pull-request if necessary.

[2017-04-27 12:29] gw00207 commented on #4797
i also solved by making all continuous features integer values

[2017-04-27 12:37] guotong1988 opened #9486 "maybe a big bug of save/restore on python3"
tensorflow version:
v1.1.0-rc0-61-g1ec6ed5 1.1.0

python version:
3.6.1

No GPU.

I use
`saver.save(sess, './model/')`
and
`saver.restore(sess, './model/')`
but
`saver.restore` doesn't work.The predict result changes at every time.And at Python2.7 the predict result stay the same.
At first,I think it was the problem of windows.http://stackoverflow.com/questions/43630048/tensorflow-save-restore-a-m

[2017-04-27 13:07] cancan101 commented on #4863
Right, but that is _already_ the status quo with how this builds? This change seems like an improvement over what is in there

[2017-04-27 13:55] sdcubber commented on #8652
Hi, I also have this issue. It pops up from time to time. Keras 2.0.3 and tensorflow 1.1.0.

[2017-04-27 14:02] ruiann commented on #9471
== cat /etc/issue ===============================================
Linux inverse 4.4.0-75-generic #96-Ubuntu SMP Thu Apr 20 09:56:33 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="16.04.2 LTS (Xenial Xerus)"
VERSION_ID="16.04"
VERSION_CODENAME=xenial

== are we in docker =============================================
No

== compiler =====================================================
c++ (Ubuntu

[2017-04-27 14:27] sedghi opened #9487 "terminate called after throwing an instance of 'std::bad_alloc', not out of memory"
Hi, I'm using Keras with tensorflow back-end to train a LSTM network, I was doing a grid search over the learning_rate and dropout factor with the fixed batch size of 64, It ran perfectly but in the middle of it was interrupted by signal 6: SIGABRT with the following error:

    terminate called after throwing an instance of 'std::bad_alloc'  what():  std::bad_alloc

It should not be a memory allo

[2017-04-27 14:47] linxihui opened #9488 "return type of `tf.reduce_any`"
I find that if the input tensor has type `bool`, the output of `tf.reduce_any` has type 'uint8'. My question is, why not `bool`? In the [document](https://www.tensorflow.org/api_docs/python/tf/reduce_any), it says it is equivalent to `np.any`, but the latter return `bool`.

Same applied to  `tf.reduce_all`.

[2017-04-27 15:33] chuchuhao opened #9489 "failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
[code]
- **TensorFlow version (use command below)**:
[code]
- **CUDA/cuDNN version**:  8.0

- **GPU model and memory**:
[code]

### Describe the problem
If I change the order of device usage, it would report error

### Source code / logs
- If I use GPU first then CPU, it would be fine
[code]
- But if I use CPU fi

[2017-04-27 15:40] aselle commented on #9489
Check out #5354, #3600, #4196,
http://stackoverflow.com/questions/38303974/tensorflow-running-error-with-cublas
Let me know if those don't provide solution to your problem.

[2017-04-27 15:41] aselle commented on #9487
Your memory usage may be on the edge. That is exactly the error given when running out of memory. Try running it again and monitor using ps or top the memory usage.

[2017-04-27 15:42] aselle commented on #9485
@ebrevdo, could you comment on this.

[2017-04-27 15:50] alquraishi commented on #9466
Ok I will look forward to the full docs and will peruse the unit tests for now. In the meantime, would it be possible to at least explain what `close` is doing and if there's any benefit to calling it in terms of freeing memory or some such?

[2017-04-27 15:51] aselle commented on #9481
@mrry, it looks like we pass to TF_LoadLibrary C api which takes char*, so maybe if we get it utf-8 in python and then at the very last moment in windows/env.cc  convert it to a `LPWSTR` with `MultiByteToWideChar` and use `LoadLibraryExW` instead of `LoadLibraryEx` it might not be terrible to get this working.

[2017-04-27 15:54] Androbin commented on #9488
Well, the examples provided suggest, that the output type should be `bool`.
Could you please tell, how you tested for type that said was `uint8`?

[2017-04-27 15:54] aselle commented on #9475
@zhangyaobit, could you take a look? I'm not sure if there is any intentional API changes here.

[2017-04-27 15:56] aselle commented on #9469
Glad you got it resolved, and thank you for reporting information to help others in the future. Closing for now.

[2017-04-27 15:56] #9469 closed

[2017-04-27 15:57] aselle commented on #9435
Closing now since the not-working issue is resolved. Please ask this usage question on StackOverflow (and post the link here). You can create a numpy or tensorflow script that resizes image as a separate process and writes them into a new directory.

"And there seems to be around 3000 images for the standard retraining set, so I'm guessing it'd take about 4 times the time (so about 4 hours). Or wi

[2017-04-27 15:57] #9435 closed

[2017-04-27 15:58] mrry commented on #9481
Sounds like a fine idea, but I'm not going to have time to work on it. Opening this up as "Contributions Welcome".

[2017-04-27 15:59] Arsakes commented on #8446
Which tf. version you use 1.0???
Here are details:
http://stackoverflow.com/questions/43007410/tensorflow-unexpected-tf-gather-nd-behaviour-bug
If it is night build or 1.1 It is very likely the issue was solved.

[2017-04-27 16:18] Androbin commented on #8404
@ronny3050 I am sorry. I got confused because of a special case of mine. I have already updated the script.

[2017-04-27 16:21] rjpg commented on #7554
same problem using early stopping ... no output to see the values (accuracy).. and it seams the early stopping does not "activate" and stops as it should.

I have this monitor to test every step (just for debug):

`validation_monitor = tf.contrib.learn.monitors.ValidationMonitor(
    x=test_inputs,
    y=test_output,
    eval_steps=1,  # Try adding this
    every_n_steps=1)`

and this output :
##

[2017-04-27 17:05] thisismohitgupta opened #9494 "graph_transforms tool obfuscate_names won't work"
### System information

- **OS Platform and Distribution : Ubuntu 16.04**
**GIT_VERSION: v1.1.0-rc0-61-g1ec6ed5**
**Tensorflow Version: 1.1.0**

[code]

Bug: Model as follows (Inception V3) -> (LSTM)
I used the graph_transform tool to obfuscate names using the obfuscate_names command for android deployment. model seems to work fine on android but when I try to obfuscate names problems start to sur

[2017-04-27 17:11] drpngx commented on #9405
I would look at the numbers coming in and out of the operators to see where the difference is.

[2017-04-27 17:19] alirzsedghi commented on #9487
I tried my training with batch-size of 128 (instead of 64) but it ran without any error, I'm wondering how it could be out of memory error while it can be run on a bigger batch size

[2017-04-27 17:22] drpngx commented on #9379
Just construct a simple argv which has only one element.

[2017-04-27 17:25] #8051 closed

[2017-04-27 17:52] neocortical commented on #9436
Adding to @shadowfury330's point, if you have TF Serving source checked out at `master` already, you can switch to the latest release by running:
[code]
You should then be able to run bazel successfully.

[2017-04-27 17:56] girving commented on #9462
@fesun Would you be up for a pull request?  Adding `dtype=np.int64` sounds good.

[2017-04-27 17:58] girving commented on #9494
@petewarden Do you know what this error means?

[2017-04-27 18:00] girving commented on #9488
I find that it has type `bool`.  Can you check again?

[2017-04-27 18:02] girving commented on #9486
This is not enough information to debug the problem.  Please wait for answers on that informative stack overflow question.

[2017-04-27 18:02] #9486 closed

[2017-04-27 18:04] girving commented on #9484
@mrry Can you take a look?  Not sure if this is enough information.

[2017-04-27 18:04] girving commented on #9480
Can you give the full output?

[2017-04-27 18:05] gwind55 commented on #9484
Change you CUDA path C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\bin\cudnn64_6.dll filename to cudnn64_5.dll

[2017-04-27 18:07] jinwu07 commented on #6999
I have Anaconda 4.3.1 (64bit) with Python 3.6. I just couldn't find a  workable version of Tensorflow anywhere. I tried some workarounds and unofficial builds I found here, it just didn't work out for me. Frustrated as I was after struggling for a few days, I decided to build one myself. It turned out the building was very smooth, I didn't hit any issue other than taking a few hours. Here is my bu

[2017-04-27 18:07] lipingliulp opened #9495 "Inconsistent results when tf.sqrt() is applied to tensor versus element-wise"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: fedora 24
- **TensorFlow installed from (source or binary)**: pip
- **Exact command to reproduce**:
[code]
Output:
[code]
### Describe the problem
The order of operations gives different behavior in tf.gather. `rind1` and `rind2` tensors should have the same value (0).

cc @altosaar

[2017-04-27 18:08] girving commented on #9476
`Less` is only registered for `float32` on iOS, I believe.  @petewarden Do we have some documentation for this that I can point people to?  Ideally, the error message would say what is going on, but I realize that's hard.

[2017-04-27 18:09] nova77 commented on #9484
@gwind55 OMG, it worked!
I've been trying to fix this issue for the past week and that was it!

Note: my setup is win10 using vanilla python (no anaconda) and tensorflow 1.1 (no RC).

[2017-04-27 18:11] girving commented on #9474
@dandelionmane It does look like `r1.1` has 55dee478b92486b8f3e420950e30998716fadae9 but not 6ef3aaf51a40d0d8a45c8191da13ebf48f1c1671.

[2017-04-27 18:11] petewarden commented on #9494
I think the issue is that the old node names (before the obsfucation) are still being used for colocation attributes. Since collocation not usually needed on mobile devices, you could try also running a graph transform to get rid of the attribute that defines it. Something like

--transforms='remove_attribute(attribute_name=_class)'

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/

[2017-04-27 18:16] girving commented on #9470
Ah, an internal compiler error in the main Eigen statement.  Not sure what can be done here other than using a newer version of Visual Studio.

@mrry: We don't seem to have documentation on which Visual Studio versions work.  I realize none of them are supported, but is there a place I can refer to about unsupported versions?

[2017-04-27 18:18] petewarden commented on #9476
I did talk about this area a bit in my dev summit talk:
https://www.youtube.com/watch?v=0r9w3V923rk
I didn't cover the specific area of restricted types though, and in general the documentation here is lacking. There is a comment here that may be helpful:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/cwise_ops_common.h#L474
The summary is that you should be able to d

[2017-04-27 18:20] #9476 closed

[2017-04-27 18:25] thisismohitgupta commented on #9494
remove_attribute(attribute_name=_class) works automagically. Thanks...

[2017-04-27 18:25] #9494 closed

[2017-04-27 18:26] nova77 commented on #9484
@girving this seems like a bug since that's what the cudnn installer sets up. Do you have a plan to fix it internally?

[2017-04-27 18:30] halflings commented on #9436
@girving : Turns out I forgot to run `configure` on this instance (it was freshly cloned from HEAD), that fixed it for me but I'm leaving this open as some people seem to be having this problem even after running configure.

[2017-04-27 18:34] girving commented on #9484
@mrry I don't understand this well enough to know if we can fix it on our end.  Thoughts?

[2017-04-27 18:39] nova77 commented on #9484
@girving not much. Perhaps @gwind55 can help us understand how he manage to figure this out.

[2017-04-27 18:39] cancan101 commented on #8241
I no longer have issues on a clean check of on master and building just using `bazel build --config opt //tensorflow/core/user_ops:zero_out.so`.

The log statements are correctly sent to stdout.

[2017-04-27 18:42] #8241 closed

[2017-04-27 18:46] mrry commented on #9484
I'm pretty sure that the build hard-codes `64_5` as the CuDNN version here (although I can't see how we use it, because AFAICT the `stream_executor` doesn't use `DSOLoader` anymore):

https://github.com/tensorflow/tensorflow/blob/f44d8632a1f0c31ad2061ae9c25ec21e70112179/tensorflow/contrib/cmake/CMakeLists.txt#L210

Also, the release builds link against `${CUDNN_HOME}/lib/x64/cudnn.lib` on our buil

[2017-04-27 18:46] danielmawhirter opened #9496 "icc Compilation Errors in tf1.0: usage of "typename" on TTypes"
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.0
- **Bazel version (if compiling from source)**: 0.4.5
- **CUDA/cuDNN version**: not configured
- **GPU model and

[2017-04-27 18:50] mrry commented on #9470
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md talks about known-good configurations, but I'm pretty sure we build with VS 2015 Update 3 regularly.

Perhaps the introduction of DT_COMPLEX support in https://github.com/tensorflow/tensorflow/commit/88a6cdeb5ee79765462932a611d4d16dd715007c has broken the GPU build on Windows?

[2017-04-27 19:04] zhangyaobit commented on #9475
1.1 has been released: https://github.com/tensorflow/tensorflow/releases/tag/v1.1.0

Looks like the fix is not in.

[2017-04-27 19:16] FedericoMuciaccia commented on #956
please add other padding modes, as in numpy.pad

https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html

`‘constant’`
Pads with a constant value (different than zero).

`‘mean’`
Pads with the mean value of all or part of the vector along each axis.

`‘wrap’`
Pads with the wrap of the vector along the axis. The first values are used to pad the end and the end values are used to pad the

[2017-04-27 19:32] gongzhitaao opened #9498 "tf.metrics.accuracy maintains a running accuracy?"
I use the `tf.metrics.accuracy`, however it is a bit **counter-intuitive** in that it maintains a **running** accuracy (the [doc](https://www.tensorflow.org/api_docs/python/tf/metrics/accuracy) agrees with this).  The following simple script illustrates the situation

[code]

My concerns are
1. the use of accuracy is bit **surprising**, are we supposed to manually construct the normal accuracy?
2.

[2017-04-27 19:45] boche commented on #9475
okay, but this still needs to be fixed.

[2017-04-27 20:10] aselle commented on #8185
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2017-04-27 20:10] #8185 closed

[2017-04-27 20:13] girving commented on #9470
@guileryu01 Can you disable the complex instantiation and see if it goes through?

[2017-04-27 20:16] guschmue commented on #9484
Yeah, I know about this one. On windows there is no symbolic link like:
/usr/local/cuda/lib64/libcudnn.so -> libcudnn.so.5
/usr/local/cuda/lib64/libcudnn.so.5 -> libcudnn.so.5.1.5
so you need to know the full dll name.
In the master we link against cudnn.lib and cudnn.lib will know the correct dll name but might have the same problem that if you linked with the cudnn.lib for 5.4 it wants to have t

[2017-04-27 20:18] girving commented on #9496
That seems like a bug in icc, given that `ConstTensor` is definitely a type.  However, we'd be happy to accept patches if you know how to fix it.  Removing the typename is not an option since the C++ standard requires it.

[2017-04-27 20:28] eamartin commented on #7951
I often try to use TensorFlow on very large inputs (potentially >1GB minibatch) with relatively light computation on each minibatch. These inputs are in a HDF5 file or a Numpy array either on disk or in memory, so I typically feed with ``feed_dict``, potentially asynchronously into a queue. When running with multiple GPUs, TensorFlow is not able to even saturate the PCI-e bandwidth to the GPUs bec

[2017-04-27 20:37] drcrook1 opened #9499 "No name 'debug' in module 'tensorflow'"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 Pro
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu --upgrade
- **TensorFlow version (use command below)**: 1.0.1
- **Bazel version (if comp

[2017-04-27 20:38] issa-s-ayoub opened #9500 "Tensorflow Video Decoding on a Separate Thread in a Distributed System"
Having a distributed system, I need to enqueue frames on a CPU device, while processing the frames, that is, training the network, has to be on a GPU device. Could this be performed in parallel?

Currently, tensorflow enables Audio coding through FFMPEG(contrib), are there any features for video encoding and decoding which is multi-threaded?

[2017-04-27 20:47] zhangyaobit commented on #9475
Yes, thanks, boche! It turned out release 1.1 was cut just 3 days before the fix.

The fix will be part of the next release, which will be in the next two months or so and rc0 in about one month.

In the meantime, you may consider using the nightly build here: https://github.com/tensorflow/tensorflow

[2017-04-27 20:48] #9475 closed

[2017-04-27 20:56] kemaswill commented on #9467
@aselle @wolffg Just wonder how does https://www.tensorflow.org resolve the url, seems that it can resolve https://www.tensorflow.org/code/tensorflow/contrib/deprecated/summaries_test.py to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/deprecated/summaries_test.py successfully while failed for __init__.py. One possible reason is that the "_" is some kind of special charac

[2017-04-27 21:04] thisismohitgupta opened #9501 "Securing Tensorflow models on Android"
### Describe the problem
I am using android to deploy my Tensorflow model. I am obfuscating names already but that wont stop people stealing and just plugging and playing graph file in their apps. Feature request for accepting encrypted graph files to prevent our graph files from leaking or any pointers on how to implement it.

[2017-04-27 21:13] girving commented on #9500
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-27 21:13] #9500 closed

[2017-04-27 21:18] rkeisler opened #9502 "Internally inconsistent results on GPU, not on CPU"
### System Information
[code]

### Problem
I can define a convnet that returns reasonable results with CPU, but returns a mixture of expected and nonsense results with GPU. The problem with the GPU processing is made clear by passing a set of "all ones" images to the net; the output should be identical for all 16 images, yet the outputs for the last one or two images differ drastically from the re

[2017-04-27 21:22] girving commented on #9499
@caisq: This works for me with 1.0.0 on Mac.  Not sure if this is a Windows issue or a version issue.

[2017-04-27 21:25] girving commented on #9498
@sguada Do you have opinions here?  The current API is designed around an evaluation process that restarts from scratch each time; it does seem hard to use in other contexts.

[2017-04-27 21:26] linxihui commented on #9488
@Androbin @girving
My bad. I actually use it through a wrapper in `keras`, and I thought it simply call `reduce_any` but it turns out that it changes the type of the result.

Thanks for replying.

[2017-04-27 21:26] #9488 closed

[2017-04-27 21:26] girving commented on #9502
@zheng-xq Would you mind commenting on this and https://github.com/tensorflow/tensorflow/issues/8566?  Andy asked a while back but didn't get a reply.

[2017-04-27 21:30] girving commented on #9488
Cc @fchollet: this does seem a bit surprising.

[2017-04-27 21:59] shoyer commented on #9498
For what it's worth, I agree with @gongzhitaao here, though we'll be stuck with these for a while given their use in TF 1.0. I think the metric names prefaced with `streaming` (back when this was `tf.contrib.metrics`) are much more intuitive. I suppose you could also rename the entire module, i.e., `tf.streaming_metrics`.

[2017-04-27 22:16] aodhan-domhnaill opened #9503 "Ops for Reading from Cloud Spanner"
Is there any plan to make F1 public (be it a service in Google Cloud or just open source) and make it possible to store TensorFlow tensors in F1? I ask because as far as I can tell (might be wrong), there isn't a "native" database for TensorFlow (meaning a C++ reader with direct connection to the DB), and F1 supports Protobuf columns which would seem like a natural fit for Tensorflow data.

From [

[2017-04-27 22:51] danielmawhirter commented on #9496
I now agree that the change I attempted is incorrect c++. I was confused by "type name" appearing in the error message.
As far as I can tell, the correct version of this line is `typename TTypes<T, 4>::ConstTensor input_data = input.template tensor<T, 4>();`
That compiles under gcc and icc. The versions of this issue that appear in the codebase are `.tensor<...>()`, `->tensor<...>()`, and `.shaped

[2017-04-27 22:54] girving commented on #9496
If you're planning to submit a patch, let's leave this issue open to track.

[2017-04-28 00:16] caisq commented on #9499
TFDBG is not functional in 1.0.x on Windows. This is a known issue. It should have been fixed in 1.1.0.

[2017-04-28 00:16] #9499 closed

[2017-04-28 00:42] drpngx commented on #9503
We have a bigquery cloud reader in contrib.

CC @jhseu

[2017-04-28 00:47] drpngx commented on #9501
@aselle @petewarden @andrewharp

That's an interesting use case. In general I am not sure that there is no good way to do this as people can always debug your app to find out. You could run part of the network as a service, but that has obvious latency costs.

[2017-04-28 00:55] zheng-xq commented on #8566
Assigning to protoget@

[2017-04-28 00:56] guileryu01 commented on #9470
Thank you. Sure I will give it a try. How do I disable complex instantiation? Is that one of the options when generating solution and project files with cmake?

Below is the command I was using

[code]

[2017-04-28 01:14] kofd commented on #6503
We might be able to create a differentiable op using this, though its not exactly efficient:

[code]

[2017-04-28 02:12] Tshzzz commented on #8191
cells=[]
    for _ in range(15):
        cell = create_lstm_cell(config)
        cells.append(cell)
    lsmt_layers = rnn.MultiRNNCell(cells)
it solved my problem

[2017-04-28 02:20] hansonboy commented on #9476
@petewarden , thanks for your comments.

you mean edit the build_all_ios.sh as the follow?
[code]

I am not sure whether I am correct  to add the define in the correct place, look forward to your reply.

[2017-04-28 02:36] meereeum commented on #6749
The workaround is all well and good

[code]

.... until you want a variable dimension

[code]

[2017-04-28 02:53] fenderrex commented on #2072
so i have about 30 in each folder (not the same number in each). all category look similar. works fine. add to more categorys and i end up here... i fear overriding this if i can photos are hard to find for me...

[2017-04-28 03:50] burness opened #9505 "Check failed: NDIMS == dims() (2 vs. 1) when I build a svm model"
when I build a svm model with tf.learn, it get error like this:
`F tensorflow/core/framework/tensor_shape.cc:36] Check failed: NDIMS == dims() (2 vs. 1)Asking for tensor of 2 dimensions from a tensor of 1 dimensions
`
I have ask a question in stackoverflow, It could be a issue according the reply:
http://stackoverflow.com/questions/43638488/check-failed-ndims-dims-2-vs-1-when-i-build-a-svm-model

[2017-04-28 04:19] RajeevSharma2015 commented on #9484
@mrry thanks. Earlier CuDNN 5.1 files were extracted (include, bin, include) in CUDA desinated path. However, somehow they were not placed properly in designate paths.

Post this discussion thread i recheck lib/files (thoroughly), found they were missing. Now extracted at different location and copied in designated CUDA paths. Problem is resolved.

Thanks all friends for extending their support !!

[2017-04-28 04:21] RajeevSharma2015 commented on #9484
@guschmue @mrry @nova77 @gwind55 @girving

Here is final logs (environment - Docker, GPU environment Geforce 1060, and tensorflow with CUDA/cuDNN):

$ python
Python 3.5.2 |Continuum Analytics, Inc.| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

2017-04-28 09:40:40.028503: W c:\tf_jenkins\home\workspace\

[2017-04-28 04:25] RajeevSharma2015 commented on #9484
@guschmue @mrry @nova77 @gwind55 @girving - Friends, i am willing to explore a few image processing code example (C or python) for Self-Driving Vehicle traffic environment (Lights, objects, potholes, Lane marking or traffic contexts etc....for one of my project).

Can anyone help me by suggesting sampled repositories to try out before go ahead with my own example/coding?

Thanks

[2017-04-28 04:44] aselle commented on #9487
Because it could be memory fragmentation causing your memory usage to go up over run. Why don't you rerun your problem and graph the memory usage and see if that is the case?

[2017-04-28 05:22] jia-kai opened #9506 "No supported kernel for GPU devices is available for assigning a variable of int32 type"
**tensorflow version**  v1.1.0-rc0-61-g1ec6ed5
**code to reproduce**
[code]
**error**
[code]

This should be caused by [TF_CALL_GPU_NUMBER_TYPES](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/register_types.h#L171) only iterating over float types, and it is used to [generate the assign kernels](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ke

[2017-04-28 06:20] zxsimple opened #9507 "AttributeError: 'Tensor' object has no attribute '_displayhook'"
I'm running TensorFlow on Zeppelin with Python 3.5.2, the TensorFlow version is 1.0.1.

It shows up AttributeError: 'Tensor' object has no attribute '_displayhook' error when I was running a Gaussian Distribution.

import tensorflow as tf
import matplotlib.pyplot as plt

n_values = 32
x = tf.linspace(-3.0, 3.0, n_values)

sigma = 1.0
mean = 0.0

a = tf.exp(tf.negative(tf.pow(x - mean, 2.0) / (2.0

[2017-04-28 07:21] dsoiM commented on #8191
Managed to fix this issue by installing older version of Tensorflow:
`pip install -Iv tensorflow=1.0`

[2017-04-28 07:58] umairalipathan opened #9508 "Problem running Tensorflow graph using C++ API"
I have retrained Inception-v3 model using (Tensorflow) Python API, and saved a standalone Graph in .pb form. I have also used a dropout layer before the final layer. I can successfully run inference on the graph in python. The code to generate predictions in python is as follows:
`softmax_tensor = sess.graph.get_tensor_by_name('final_layer/final_result/Softmax:0')
predictions = sess.run(softmax_te

[2017-04-28 08:11] keryell commented on #22
@cathalgarvey what is the open source compiler you propose to use then? It is difficult to find an open source OpenCL-compliant solution to address a lot of devices in the wild...
We need to bootstrap a solution at some point somehow...

[2017-04-28 08:20] cathalgarvey commented on #22
I didn't say it was an easy fix. But, OpenCL isn't the problem, there. After all, CUDA is entirely proprietary, much worse than even the OpenCL option TensorFlow chose.

That all said, there are options for a CL-or-cuda system if you're starting from scratch, including portable middleware runtimes or arrayfire, etc. Tensorflow is too tied to CUDA though.

I find it frustrating that people are will

[2017-04-28 08:25] fesun commented on #9462
@girving sure, thanks.

[2017-04-28 08:57] stmkjp commented on #9501
How about this?

change input/output node names and then your server dynamically sends those values as well as some other parameters for initializing when the app executed?  don't store those values in the app.

One issue left though, people can still extract those data from the graph file when loaded directly from desktop except the graph file is memory mapped graph, and android can't load memory

[2017-04-28 08:57] DjangoPeng commented on #9328
@caisq What can I do for fixing the issue? I'm willing to contribute it to TensorFlow community.

[2017-04-28 09:17] slavakung commented on #9434
I am not sure I fully understand. What is the reason I am getting the error message with graph_replace as done here? Why would it be prohibited from modifying the gradients within a get_updates call?

yaroslav,
Where in my code would/should I use assign instead?
I had heard that possibly I would have create the entire model again to begin with, which would seek computationally excessive.

[2017-04-28 09:26] chasep255 opened #9509 "Tensorflow with XLA hangs with both GPU and CPU at ~0% usage when training."
I am using the newest tensorflow which I built from source as of yesterday in an attempt to fix this issue.  Originally I had a source build of tensorflow 1.1.0.  I am running Ubuntu 16.04 with CUDA 8 and CUDNN 5.  My GPU is a GTX 1080.

The problem I am having is when I try to train my character based translator model using the XLA compiler.  The code makes it all the way through the initialize v

[2017-04-28 09:41] petrux opened #9511 "Cannot import tensorflow in IPython3 (while in normal python3 IDLE works fine) after pip installation"
I have installed tensorflow-gpu via `pip` installation and I am experiencing this issue. I cannot import it in `IPython3` but it works fine with the regular `python3`.

[code]

### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: `pip`
- **TensorFlow version (use command below)**: `('v1.1.0-rc0-

[2017-04-28 10:35] Cooper-Yang opened #9512 "Tensorboard cannot load more than two event file in logdir"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, Custom network structure and data pre-processing for my own task and dataset, modified based on current single GPU CIFAR-10 tutorial (which use the monitored session).

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10 Pro 1703

- **TensorFlow in

[2017-04-28 11:40] caisq commented on #9328
@DjangoPeng Thanks. Can you please send a PR to these files in branch r1.0:
https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/tools/docker/Dockerfile
https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/tools/docker/Dockerfile.devel
https://github.com/tensorflow/tensorflow/blob/r1.0/tensorflow/tools/docker/Dockerfile.devel-gpu
https://github.com/tensorflow/tensorflow/blob/r1.0

[2017-04-28 11:50] caisq commented on #8174
This is fixed. See the last Q&A "What are the platform-specific system requirements of tfdbg CLI in open-source TensorFlow?"  here: https://www.tensorflow.org/programmers_guide/debugger#frequently_asked_questions

[2017-04-28 11:50] #8174 closed

[2017-04-28 13:35] Caesarzhang commented on #7529
@mrry  When you say`%CUDA_HOME%` , do you mean `%CUDA_PATH%` ?
I'm facing with the same problem, and I can only see `%CUDA_PATH%` in my environment variable.

[2017-04-28 13:58] caisq commented on #8753
Update: `LocalCLIDebugWrapperSesion` now has a new keyword argument that allows you to make the debugger CLI active only on selected threads. It is called `thread_name_filter`. For more details, please see doc at:
https://github.com/tensorflow/tensorflow/commit/eb6d9d9685c0a4be542522acf5cb3f6226a7858a#diff-1c3529a3243c362193b85b6689aa24d3

This is not available in 1.1, but will be in 1.2.

[2017-04-28 13:58] #8753 closed

[2017-04-28 14:11] girving commented on #9512
@dandelionmane Any ideas?

[2017-04-28 14:15] girving commented on #9470
@guileryu01 Uncomment these lines in `eduction_ops_gpu.cu.cc`:

    DEFINE_FOR_TYPE_AND_R(complex64, Eigen::internal::SumReducer<complex64>);
    DEFINE_FOR_TYPE_AND_R(complex128, Eigen::internal::SumReducer<complex128>);
    DEFINE_FOR_TYPE_AND_R(complex64, Eigen::internal::MeanReducer<complex64>);
    DEFINE_FOR_TYPE_AND_R(complex128, Eigen::internal::MeanReducer<complex128>);
    DEFINE_FOR_TYP

[2017-04-28 14:16] girving commented on #9508
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-28 14:16] #9508 closed

[2017-04-28 14:24] thornhale commented on #22
What I want to ask in this context is this:

So some deep learning frameworks like Tensorflow are somewhat tepidly exploring the use of opencl as an alternative to CUDA. Of course CUDA is just the "language" that cuDNN was developped on, and that's (if my understanding is correct) is what most deep learning languages are actually using. In this context, I am not sure what the opencl version of cuD

[2017-04-28 14:43] Cooper-Yang commented on #9512
@girving Sure. I choose nightly build because I encountered #7500 (OpKernel "bla bla bla" for unknown op: bla bla bla) while using tensorflow, and it was suggested to use a nightly build version for solving it. So I did.

And then, I met this problem while using Tensorboard.

Update: After some experiment, this problem exist in every version I tried, which include the current release 1.1.0, and ni

[2017-04-28 14:49] alexgkendall opened #9513 "4D and higher dimensional convolutional layers"
Are there any plans to implement 4D or higher convolutional layers?

[2017-04-28 14:51] keryell commented on #22
@cathalgarvey there is a lot of politics behind all these huge software/hardware infrastructures... :-(
Even if we can dream of a clean-slate solution based on pure scientific criteria, I think we have to be pragmatic.
Google does not want to change too much of the TensorFlow architecture. This is why the OpenCL-based architecture has to be very similar, requiring single-source C++ like "CUDA runt

[2017-04-28 15:07] girving commented on #9512
@dandelionmane Any ideas about this TensorBoard+Windows problem?

[2017-04-28 15:13] girving commented on #9506
`int32` is weird on GPU for unfortunate historical reasons.  @yuanbyu Do you know of any plans to clean this up?  I'm surprised we don't already have an open Github issue about it.

[2017-04-28 15:27] bhack commented on #22
@keryell Do you know if also XLA:GPU:OpenCL is planned on SyCL?

[2017-04-28 15:30] dmonopoly commented on #1574
Seems like there's no more gen_docs.sh file. What's the proper way to build documentation?

[2017-04-28 15:34] yongtang commented on #4746
Created a PR #9514 to try to address this issue. Would appreciate any review or comments.

[2017-04-28 15:36] dmonopoly opened #9515 "How do you generate tensorflow docs so you can confirm documentation fixes you make?"
Example: Suppose I see a formatting error in a Tensorflow function's arguments on the web. I then make a change in the "Args: ..." section of the function's python comments.
How can I generate these html docs after making this fix?

[2017-04-28 15:36] aselle commented on #9513
Not that I am aware of.  Conv2d's are clearly used a ton and Conv3ds much less so. What kinds of applications do you have in mind. Do you have any intention to work on them yourself?

[2017-04-28 15:39] aselle commented on #9511
Are you using virtualenv? It seems like ipython may be using a different install of python try
[code]
in all python and ipython

[2017-04-28 15:44] girving commented on #1574
Cc @wolffg.

[2017-04-28 15:46] alexgkendall commented on #9513
The specific research is unpublished but it is for computer vision. They fundamentally require 4-D convolution and it would be great to get them working in TF. I understand cudnn supports this so i thought it might not be too much effort for someone in the bowels of it to implement it.

[2017-04-28 15:52] linxihui commented on #9488
@girving It is resolved in `keras master`. I was using `keras-1.2`, a version before `2.0`.

[2017-04-28 15:58] aselle commented on #9515
Try running this script...
https://github.com/petewarden/tensorflow_makefile/blob/master/tensorflow/tools/docs/gen_docs.sh

[2017-04-28 16:01] harishjmhss opened #9516 "Tensor flow cannot be imported properly in windows"
I have installed CPU version of Tensor flow in my laptop using the command line using pip install.

OS: Windows 8.1 64 bit Python 3.5.1

But, when I tried importing it in the python 3.5.1 it throws the following error message.

 I have tried getting answers in Stackoverflow, but no hope. I have even tried changing the directories but nothing works.
I am new to python. Please help me to solve this

[2017-04-28 16:02] petewarden commented on #9476
The `--define` is Bazel syntax, for the makefile you'll need to use gcc's `-D`. Here's an example that I haven't tried:

[code]

Note that you have to include the `-D` in quotes alongside the `-O3` for it to work.

[2017-04-28 16:04] aidan-plenert-macdonald commented on #9503
Any planned support for Spanner? A quick search doesn't show anything

[2017-04-28 16:06] martinwicke commented on #1574
See here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/community/documentation.md

[2017-04-28 16:06] petewarden commented on #9501
This is a bit out of my domain, but my suggestion would be to use a simple XOR or other obsfucation of the file on disk, and then at runtime load the file into memory, 'decrypt' that memory, and then deserialize the protobuf from RAM. This won't stop a determined malicious actor, but at least complicates the process for them, and at some point there will be an in-memory copy of the graph anyway, w

[2017-04-28 16:14] David-Levinthal commented on #7530
for a bazel build like:
bazel build  --copt="-mavx512f" --copt="-mavx512dq" --copt="-mavx512vl" --copt="-Ofast" -s -c opt //tensorflow/tools/pip_package:build_pip_package
There are errors in PacketMathAVX512 and PacketMathAVX2
avx2 seems to need something like:

typedef struct Packet16q16i {
  __m256i val;
  operator __m256i() const { return val; }
  Packet16q16i();
  Packet16q16i(__m256i val) : v

[2017-04-28 16:25] j2emanue commented on #1769
i've already updated git submodules recursively on my macbook.  But i am getting an error on building with bazel. Here is my workspace file changes:

[code]

for the api_level in the android_ndk_repository closure i tried 23, 14, 21 . im not sure what to put there ?  on my pc i have android api 23 sdk already installed.

here is the build error i get:

`ERROR: /private/var/tmp/_bazel_j2emanue/b009

[2017-04-28 16:37] drpngx commented on #9503
Bigquery supports structs (e.g. json).

[2017-04-28 16:42] aidan-plenert-macdonald commented on #9503
@tornato7 ^^^ and https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax

[2017-04-28 16:45] ybsave commented on #5987
@sguada @nathansilberman. Has there any update on this? Is there a good way to periodically verify accuracy on training & validation set DURING training instead of two separate processes? Thanks.

[2017-04-28 16:45] cancan101 commented on #7962
Seems like with the TF 1.1.0 release there are now warnings about this deprecation but little in the way of instructions:
[code]

[2017-04-28 16:52] caisq commented on #7553
It looks like that this has been fixed in the latest release. See:
https://www.tensorflow.org/install/
https://www.tensorflow.org/install/install_sources

[2017-04-28 16:52] #7553 closed

[2017-04-28 16:53] andrewharp commented on #1769
@j2emanue Bazel isn't able to find your ndk. Check your paths, dirrctory permissions, and perhaps disable sandboxed building?

[2017-04-28 17:00] j2emanue commented on #1769
@andrewharp what api_level should i put in there. im using 12b ndk ? i have api 23 installed on my pc can i use 23 for the ndk api level then ?

[2017-04-28 17:02] GG9 commented on #9516
you can try install tensorflow 1.0.1.

[2017-04-28 17:05] cwhipkey commented on #3441
In random_op.cc, there is an example of a multi-threaded op in the CPUDevice FillPhiloxRandom:
  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/random_op.cc#L164
It uses the Shard function declared in work_sharder.h to split work across multiple threads.

[2017-04-28 17:15] sdrelton commented on #3441
Brilliant thank you very much! That's my weekend sorted :)
________________________________________
From: cwhipkey [notifications@github.com]
Sent: 28 April 2017 18:07
To: tensorflow/tensorflow
Cc: Samuel Relton; Comment
Subject: Re: [tensorflow/tensorflow] Documentation for 'Adding a new op' (#3441)

In random_op.cc, there is an example of a multi-threaded op in the CPUDevice FillPhiloxRandom:
ht

[2017-04-28 17:16] caisq commented on #7443
FYI, we are working on the suggested improvements to CONTRIBUTING.md and possibly the docker files as well.

[2017-04-28 17:25] itsmeolivia commented on #8666
good catch: waiting for the change to propagate through

[2017-04-28 17:29] allenlavoie commented on #6531
Thank you for the report! Looks like the deprecation warning got updated by @alextp. I'm going to close this, since I don't see anything more we can do here given API compatibility.

[2017-04-28 17:31] #6531 closed

[2017-04-28 17:39] jhaux opened #9517 "Placing Variables on the cpu using `tf.contrib.layers` functions"
Dear tensorflow team,

After constructing my model using the functionality provided by `tf.contrib.layers` I now want to extend my model over several GPUs. I learned that it might be beneficary to place Variables on the CPU when doing that, to reduce data transfer overhead. After not seeing an easy way to do this I found a workaround I described on [stackoverflow](http://stackoverflow.com/question

[2017-04-28 17:40] dmonopoly commented on #9515
Script seems out of date / didn't work - just made my terminal force close oddly.

Anyway, I did find https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/community/documentation.md though, which looks to be the more official answer.

[2017-04-28 17:41] andrewharp commented on #1769
@j2emanue The NDK API level doesn't really matter, it just determines which headers are used to build. 14 and higher is fine. Your problem is that Bazel can't even find the compiler.

[2017-04-28 17:42] skye commented on #7940
Looks like this has been addressed, closing. Please reopen if I'm mistaken.

[2017-04-28 17:42] #7940 closed

[2017-04-28 17:44] dmonopoly commented on #1574
Trying the "Generating docs and previewing links" section, I end up with this error:

[code]

Is this still the official answer? Thanks in advance for the help.

[2017-04-28 17:45] dmonopoly commented on #9515
Moving to #1574

[2017-04-28 17:50] aselle commented on #9507
We don't have much experience with Zeppelin so it is tough to support this. Perhaps your problem is your are trying to graph unevaluated Tensors. Try eval or  sess.run() on your tensor before trying to display it, however. i.e. try
[code]

[2017-04-28 17:53] aselle commented on #9505
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-04-28 17:56] drcrook1 commented on #5381
Did this get documented somewhere?  I'm trying to understand the tensorboard outputs in detail; a link at the end of this to where the updated docs are would be great. :D

[2017-04-28 18:04] aselle commented on #9517
@tfboyd, didn't you run into this as well? @martinwicke, do you have any api design thoughts on this?

[2017-04-28 18:04] dmonopoly commented on #9313
Nm found it here via #1574  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/community/documentation.md

[2017-04-28 18:07] skye commented on #7681
https://github.com/tensorflow/tensorflow/commit/f1dd0e32522bd183d422bdac75137ebba2375327

[2017-04-28 18:07] #7681 closed

[2017-04-28 18:12] Carmezim commented on #9264
@4F2E4A2E Hi, did you make any progress? Let us know if you need help with anything else. If you successfully solved this issue can be closed now.

[2017-04-28 18:12] #7392 closed

[2017-04-28 18:13] aselle commented on #9471
Could you monitor memory usage through the steps?
Are you using jemalloc (which is installed by default)?
If you remove all the summary code does it still slow down?
Can you produce a minimal reproducible test case?

[2017-04-28 18:16] alirzsedghi commented on #9487
thanks for the reply, here is my memory usage (free memory available in time)

![image](https://cloud.githubusercontent.com/assets/7490180/25541440/ab076890-2c1c-11e7-932d-bbe868453f35.png)

I noticed those plateaus are when it reaches the last epoch number in the current training and moves to another training with different sets of parameters ( as i said earlier I'm doing a parameter search ), I'

[2017-04-28 18:16] aselle commented on #9495
I don't see how those two computations are supposed to be the same. rind2 is a tf.sqrt(...) and rind1 is a gather. One is going through more (inexact) floating point arithmetic and one is not. So 3.8147e-6 is almost zero and 0.0 is zero. So they seem the same to me.

[2017-04-28 18:18] Carmezim commented on #9516
@harishjmhss thank you for reporting your issue. This error can derive from a couple of reasons and for better help you solve the problem please fill out all the information on the Issue template (OS, Python distribution, the entire log and steps you used to install TensorFlow etc). Without that it's hard to assess and debug what is happening.
Thanks!

[2017-04-28 18:19] guschmue commented on #9484
For the missing cudnn?.dll issue in general (maybe we should open a new issue for this) ...
The important thing first:
If people run into this missing ‘cudnn64_5.dll’ if they installed cudnn6, it is better to ask them to download cudnn5.1 instead of ‘mv cudnn64_6.dll  cudnn64_5.dll’ until we have builds with cudnn6 because there might be some compatibility issues.

Some findings:
After building wi

[2017-04-28 18:23] jhseu commented on #9503
I do think ops for reading from Cloud Spanner would be useful. Feel free to reopen if that's what you want.

[2017-04-28 18:34] lipingliulp commented on #9495
tf.sqrt(...) is an element-wise operation, so when it is applied to an array, it should be as if it is applied element by element. In this sense, the two result should be exactly the same.

I am using tf 1.11

[2017-04-28 18:40] tfboyd commented on #9517
I meant to ask for this.  @martinwicke and I spoke about it but I never formally asked.  This would be a good add to be able to state where you want the variables to go.  Just this type of change should be a 10-12% speedup using the current stock slim models as tested with resnet-50 a couple months ago.  Putting the variables on cpu has been optimal for many models, e.g. inception and resnet, rega

[2017-04-28 18:43] wolffg commented on #6680
This may be an issue with setup; reassigning to @martinwicke .

[2017-04-28 18:43] martinwicke commented on #6680
@damienmg I think the action_env should set the variable, not only make it available, right? So writing the bazel.rc should not let this happen.

Is this still an issue?

[2017-04-28 18:44] johndpope commented on #5061
it appears that there are respective proto files created for syntax net -
although - there doesn't appear to be any service layer grpc created.

<img width="433" alt="screen shot 2017-04-28 at 2 42 37 pm" src="https://cloud.githubusercontent.com/assets/289994/25542529/f61b9dde-2c20-11e7-8c81-044b405ba9d1.png">

[2017-04-28 18:44] lipingliulp commented on #9495
More finding: it might be the problem of tf.cast.

I run the following code,
'''
arr = tf.range(0, 496, dtype=tf.int32)

a32 = tf.sqrt(tf.cast(arr, tf.float32))
a64 = tf.sqrt(tf.cast(arr, tf.float64))

diff = tf.reduce_sum(tf.abs(tf.cast(a32, tf.float64) - a64))

session = tf.Session()
print('The difference is %f ' % session.run(diff))
'''
and get
'''
The difference is 0.000447
'''
The expected re

[2017-04-28 18:46] johndpope commented on #5061
https://github.com/tensorflow/models/tree/master/syntaxnet/syntaxnet

[2017-04-28 18:51] Celelibi opened #9518 "GPU version of self_adjoint_eig"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux RBSylaptop 4.9.0-1-amd64 #1 SMP Debian 4.9.6-3 (2017-01-28) x86_64 GNU/Linux

- **TensorFlow installed from (source or binary)**:
$ pip3 install tensorflow-gpu
- **TensorFlow version (use command below)**:
tf.VERSION = 1.1.0
tf.GIT_VERSION = v1.1.0-rc0-61-g1ec6ed5
tf.COMPILER_VERSION = v1.1.0-rc0-61-g1ec6ed

[2017-04-28 18:57] rightaditya opened #9519 "Runs regex filter doesn't work in tensorboard v1.1"
### System information
- Custom code, worked fine on 1.0
- OS: Linux Ubuntu 16.04
- installed binary via pip3
- TensorFlow version v1.1.0-rc0-61-g1ec6ed5, 1.1.0
- CUDA v8.0, cuDNN v5.1
- GTX 1070, 8GB RAM
- To reproduce: run tensorboard, try to filter runs in web interface, nothing happens

### Problem description
Running tensorboard with v1.1 gives me the following warnings in the console (repeat

[2017-04-28 18:58] fchollet commented on #9488
For a while Keras did not have a bool type and used int instead, for compatibility with Theano. Now Theano has a bool type so we do too.

[2017-04-28 19:00] rightaditya commented on #9519
This warning was also referenced in #9382.

[2017-04-28 19:10] lipingliulp commented on #9495
New finding: I think the problem is in tf.sqrt(...)
Here is the code, taking sqrt of the array versus taking sqrt element by element,
[code]
and the output is,
[code]

I expect the output to be 0.

cc @altosaar

[2017-04-28 19:23] taion commented on #8994
This appears to still happen in TF 1.1.

[2017-04-28 19:32] zixia commented on #37
:+1:

[2017-04-28 19:44] martinwicke commented on #1574
It looks like you are running this in python 3. I have not converted the doc generator to be compatible with python3. Some of these issues would be easy to fix, but that would only lead to you finding more issues. Since inspect is seriously different and codegen is very old, it may be a bit of an endeavor. I'd welcome anyone who wants to take this on, but it's not a priority for us at the moment,

[2017-04-28 20:06] martinwicke commented on #9517
The canonical way to do this is to use a device function.

Or variable_scope, but I think we should encourage device functions.

On Apr 28, 2017 11:42 AM, "Toby Boyd" <notifications@github.com> wrote:

[2017-04-28 20:19] j2emanue commented on #1769
thanks @andrewharp  seem to be working now. i actually had the wrong NDK installed. i was using the linux version instead of darwin for mac. Also when i was setting the path i was using enter key to separate the entries. they should all be on one line.  looks good now.

[2017-04-28 20:32] aselle commented on #9519
@dandelionmane, could you place take a look. Thanks!

[2017-04-28 20:33] aselle commented on #9515
@dmonopoly, ah sorry for the confusion. Thanks for finding the right answer.

[2017-04-28 20:33] #9515 closed

[2017-04-28 20:34] aselle commented on #9513
It probably isn't a ton of effort, but we are not working on it currently, so I'm leaving it as contributions welcome, in case anybody wants to work on it. Thanks for bringing it up. @zheng-xq, confirming that we don't have any effort.

[2017-04-28 20:36] aselle commented on #9495
Are you running this using a GPU or CPU? If GPU then try on the CPU and see if you get the same behavior. Please report more details about your GPU/system/etc.

[2017-04-28 20:37] MarkDaoust commented on #7741
These keys are almost never used.
The only `layer` that uses them is:  "contrib.layers.legacy_fully_connected".

(Then a few things in contrib.layers book-keeping ops read them, they're mentioned in the contrib/layers/README.md)

There is no way to automatically set these, like with trainable variables.

For it to actually work as `tf.contrib.layers.apply_regularization` wants it to, it would need

[2017-04-28 20:37] lipingliulp commented on #9495
The result is obtained from a CPU.

[2017-04-28 20:37] aselle commented on #9487
Are you clearing your tensorflow graph between these trainings?

[2017-04-28 20:39] girving commented on #9518
@rmlarsen Comments?  Both parallel and GPU versions of this code sound tricky.

[2017-04-28 20:55] sstirlin opened #9521 "Documentation for tf.nn.ctc_* `label` argument is unclear"
The documentation for the connectionist temporal classifiers is unclear for `label` argument.  Here is what exists currently:

[code]

The only way I was able to figure it out is from Jerod's comment on this SO:

http://stackoverflow.com/questions/42488070/how-to-design-the-label-for-tensorflows-ctc-loss-layer

[2017-04-28 20:57] skye commented on #7861
Talking to @caisq offline, it sounds like this is an unusual case because docker by default uses all available system memory (@malmaud did you have a default config or something that limited the memory? The commands you provided shouldn't limit the memory AFAIK). I'm gonna close this for now.

[2017-04-28 20:59] David-Levinthal commented on #7530
even updating to r1.1 and updating the compiler to gcc6.2 brings no joy...the problems shown above go away..but there seems to be some wierd issue with code generation and illegal usage of an instruction

bazel build  --copt="-mavx512f" --copt="-mavx512dq" --copt="-mavx512vl" --copt="-Ofast" -s -c opt //tensorflow/tools/pip_package:build_pip_package
ERROR: /home/levinth/tensorflow_1_1/tensorflow/t

[2017-04-28 21:01] malmaud commented on #7861
If you use docker on Windows or OS X, you have to specify the memory the
Linux virtual machine will use in advance and the default (at least at the
time) is too low for tensorflow.
On Fri, Apr 28, 2017 at 4:59 PM Skye Wanderman-Milne <
notifications@github.com> wrote:

[2017-04-28 21:05] girving commented on #6720
I think we'd need to understand better what's going wrong before knowing how to fix this.  In what way is it weird?

[2017-04-28 21:08] skye commented on #7861
Ah, thank you for that clarification! I'll add a note to the README.

[2017-04-28 21:25] ppwwyyxx commented on #6720
The corner alignment mechanism is different between tf.image.resize* and skimage.transform.rescale, no matter align_corners=True or False.

[2017-04-28 21:27] girving commented on #6720
Yes, but how are they different?

[2017-04-28 21:28] terrytangyuan commented on #9505
This seems like a bug to me though. @burness Does a similar setup run successfully for other canned estimators?

[2017-04-28 21:35] ppwwyyxx commented on #6720
In skimage, the "area" of a pixel is taken into account. In tf.image it feels like a pixel is considered as a "point" without area. This leads to a difference in alignment.

E.g. when up-scaling a 2x2 image to a 4x4 image, the alignment is:
skimage: (0, 0) -> (0.5, 0.5), (1, 1) -> (2.5, 2.5)
tf.image.resize_\*(align_corners=True): (0, 0) -> (0, 0), (1, 1) -> (3, 3)
tf.image.resize_\*(align_corners

[2017-04-28 21:40] girving commented on #8633
Closing as too open ended.  Watch the gardener space.

[2017-04-28 21:40] #8633 closed

[2017-04-28 21:42] nealwu commented on #8301
Hi @Vayel, thanks for reporting.

_Are the filters learnt? In that case, you could mention it. Else, how do you choose the types of the filters?_

Not sure I understand your question. These are typical convolution filters where the weights will be learned via gradient descent during training.

_Is not the shape `[batch_size, 28, 28, 32]` instead?_

Yes. Looks like this is already fixed.

_Isn't it

[2017-04-28 21:42] #8301 closed

[2017-04-28 21:45] kofd commented on #6503
[code]

[2017-04-28 21:45] abhaydoke09 commented on #5796
I am also looking for the answer to this question. I am trying to change the var_list provided to the minimize() function after some iterations. I am trying to implement a two step finetuning, where for first 50 iterations, I will be training the last layer and after that finetuning the whole network.

[2017-04-28 21:49] abhaydoke09 opened #9522 "Changing optimizer during the training gives weird results."
I am trying to change the var_list provided to the minimize() function after some iterations. I am trying to implement a two step finetuning, where for first "n" iterations, I am training the last layer of the network and after that finetuning the whole network. So for first "n" iterations i am providing variables of last layer in var_list and after "n" iterations i am providing all variables in t

[2017-04-28 21:55] martinwicke commented on #8263
Since you have understood it, could you add annotations (comments) in a PR?

[2017-04-28 21:58] oldmud0 commented on #6999
Mr. Christoph Gohlke added a Tensorflow wheel a few days ago for Python 3.6:

http://www.lfd.uci.edu/~gohlke/pythonlibs/#tensorflow

[2017-04-28 22:05] CarbonComputed commented on #8263
@martinwicke Sure. I'm not sure where the code for the tutorials lives however. (https://www.tensorflow.org/tutorials/recurrent). Any thoughts?

[2017-04-28 22:07] wolffg commented on #9115
As of now, those links are rewritten to point to github.com/ links, although pre-v1.1 documentation will not  be updated. So, on the scalar_summary page, it now points to:

https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/contrib/deprecated/__init__.py

[2017-04-28 22:07] #9115 closed

[2017-04-28 22:12] allenlavoie commented on #9505
This is definitely a bug, either with one of the FeatureColumn processing ops or with the way the SVM optimizer is using them. I didn't trace it through completely with GDB to figure out what's wrong exactly (probably equivalent effort to fixing the bug), but the fact that this is required is indicative; even if there's something wrong with the usage, we need to do better than a CHECK failure.

[2017-04-28 22:14] martinwicke commented on #8263
The code lives here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/tutorials/recurrent.md

[2017-04-28 22:17] girving commented on #6720
Have you considered using `method=ResizeMethod.AREA` if you want area based resizing?

[2017-04-28 22:18] nealwu commented on #7664
Added a PR to fix the release notes to indicate TF 1.2 rather than TF 1.1.

Looks like the only remaining thing to fix this now is to update the conversion script?

[2017-04-28 22:26] andrehentz commented on #9301
Let's  always use `graph_transform` (because `quantize_graph` is slowly becoming obsolete).

The recent fixes affect both quantization (which you are running on your hose) and inference, which I understand you are running using the tegra-ugly_hack. Apart from updating that to get the fixes, you could try manually replicating the relevant change: https://github.com/tensorflow/tensorflow/commit/2e85

[2017-04-28 22:30] girving commented on #7025
For now, I changed the message to `"Dst tensor is not initialized (are you out of memory?)."`.

[2017-04-28 22:32] ppwwyyxx commented on #6720
The AREA method seems to only affect interpolation but not alignment. At least I get strange results with it:
[code]

[2017-04-28 22:35] girving commented on #6720
What does that produce?  We have a lot of bugs to triage, so it's helpful if people include output a long with code.

[2017-04-28 22:41] ppwwyyxx commented on #6720
@girving Updated.

[2017-04-28 22:41] girving commented on #7025
@vrv may have localized the problem to https://github.com/tensorflow/tensorflow/blob/a4b352bfddd518b540c30e456f3bc0027ba9351f/tensorflow/core/common_runtime/gpu/gpu_device.cc#L467, which doesn't check for errors and thus produces an uninitialized tensor.  @yaroslavvb If you can reproduce the situation, would you mind checking if `Tensor::IsInitialized` at that point detects the problem?

[2017-04-28 22:51] yifeif commented on #7664
FYI now the release note should be updated in 1.0, 1.1 and master branches. Thanks @nealwu!

[2017-04-28 22:55] skye opened #9525 "Statically-linked libraries in TF binary can cause symbol collisions"
TensorFlow currently statically links all dependencies. This sometimes causes hard-to-diagnose crashes (e.g. segfaults) when another version of a dependency is loaded into the process. This can even happen within TensorFlow if separate TensorFlow .so's are loaded into the same Python process.

Possible solutions would be to reduce the visibility of these symbols, dynamically link common libraries,

[2017-04-28 23:02] tomwanzek opened #9526 "[Tutorial Update] Logging and Monitoring Basics"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

**Here's why we have that policy**: TensorFlow developers respond to issues. We want to focus on work that benefits the whole community, e.g., fixing bugs and adding

[2017-04-28 23:03] cwhipkey commented on #8793
StagingArea was added under tf.contrib.staging.StagingArea with this commit 8 days ago:   https://github.com/tensorflow/tensorflow/commit/90733a8024532f6993d11f0a89deaecb2bba59fe

This will allow the documentation to be generated for it.  The new docs should go up this coming weekend.

[2017-04-28 23:03] #8793 closed

[2017-04-28 23:07] girving commented on #7025
@vrv Has a CL that will hopefully fix this.

[2017-04-28 23:11] girving commented on #9522
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request.  Presumably you are running variable initialization a second time, but there is no way to know from the information provided.

[2017-04-28 23:11] #9522 closed

[2017-04-28 23:36] vrv commented on #7951
@eamartin there have been a number of changes since the beginning of March by @alextp to speed up feed_dict; when the memory is aligned with 16 bytes, I think we share buffers with numpy, so nightly releases may be faster for you.

The 16 byte alignment issue comes from Eigen, unfortunately, which requires the beginning of the memory addresses to be aligned with 16 bytes.  I'm not sure why Eigen w

[2017-04-28 23:38] girving commented on #6720
Ug, you're right, that's pretty weird.  @martinwicke Our `tf.image.resize_area` function isn't even reflection equivariant.  It would be lovely to fix this, but I'd be worried about breaking old models.

[2017-04-28 23:40] girving commented on #9526
@martinwicke Seems like a reasonable request.  Assigning to you for learn triage.

[2017-04-28 23:45] vrv commented on #7025
Yeah, verified I have a CL that fixes this, submitting it internally now.

[2017-04-28 23:53] alirzsedghi commented on #9487
I used clear_session() in keras which is supposed to do the same thing. it fails to release the RAM that it was using.

[2017-04-29 00:28] fxsuper opened #9527 "tf.while_loop much slower than static graph?"
I'm running on TF 1.1, and I've used `tf.while_loop` + `TensorArray` to implement dynamic unrolling of a type of recurrence that I previously unrolled statically through python code. The difference in speed is very dramatic, with forward inference being about 200x slower when dynamically unrolled, and backprop about 2x slower. Is this expected? Are there any tricks for optimization that I'm missin

[2017-04-29 01:19] guileryu01 commented on #9470
I didn't try commenting out those lines, however it turns out that after removing
[code]
in the configuration, I managed to compile the project. Many thanks!

[2017-04-29 02:14] yaohuaxin commented on #2153
The warning seems to come out when compile CUDA code. How to pass in NVCC flags?

[2017-04-29 02:58] salemmohammed opened #9528 "TensorFlow processes and core engine documentations"
Hi all,

I am interesting to understand more details about TF core engine. My focus interest on how a process create and launch when session is being created. Also, how the threads work and how python api translate these threads to C++ TF engine. Is there any documentation about that ?

Sincerely

[2017-04-29 03:22] jkjangles commented on #2554
Yes, it is solved. install via conda.

On Tue, Apr 11, 2017 at 7:02 PM, yuanzhong90 <notifications@github.com>
wrote:

[2017-04-29 04:50] BDHU opened #9530 "PyCharm won't correctly import tensorflow"
I get the following error when I try to run a python program:

`ImportError: libcudnn.so.5: cannot open shared object file: No such file or directory`

I understand this is a simple error most people would encounter when they start tensorflow. I did checked the solutions on Stackoverflow and I managed to run the same program in Terminal. What I did is I made an virtualenv and I activated it and wh

[2017-04-29 05:04] Cooper-Yang commented on #9512
update: fresh install ubuntu 16.04 and tensorflow, turns out that tensorboard in ubuntu can load the same logdir without any problem, console output shows the following:

[code]

[2017-04-29 05:29] ZhengyaoJiang commented on #9527
Have you tried the official API of dynamic unrolling `tf.nn.dynamic_rnn` ? Maybe comparing the speed of your implementation and official one can provide the insights.

[2017-04-29 05:48] ZhengyaoJiang opened #9532 "event_accumulator is missing in v1.1"
### System information
* TensorFlow version: v1.1

### Describe the problem
Before v1.1, there is a class called EventAccumulater in `python/summary/event_accumulator.py` which is used to export the data from tensorboard. However, in v1.1 this file is missing and the `README.md` is still the old version, saying "If you wish to load TensorFlow events, you should use an EventAccumulator (to load fro

[2017-04-29 07:23] sebastian-schlecht commented on #9423
I gave this one a shot - as a first time contributor I guess some feedback would be really appreciated. Can put up a PR soon.

[2017-04-29 07:23] sjperkins commented on #7951
Would it be possible for numpy to share buffers with tensorflow variables
when they are returned from a session run?

I realise this will probably raise all sorts of mutability and state
issues, but these should be avoidable by setting the WRITABLE flag on the
returned numpy arrays to false.

On 29 Apr 2017 1:37 am, "Vijay Vasudevan" <notifications@github.com> wrote:

@eamartin <https://github.com

[2017-04-29 07:31] saramelvin commented on #5478
importing tensorflow using python3 instead of python 2.7 worked for me.

[2017-04-29 08:06] EddieOne commented on #37
+2

[2017-04-29 08:54] harishjmhss commented on #9516
I am using Windows 8.1 - 64 bit - Python 3.5.1 distribution downloaded from python.Org

I have installed using the command

I just entered this code and the installation works well without any interruption. But when I am trying to import the tensorflow from the python software, the problem occurs.I have installed Microsoft Visual C++ 2015 Redistribute Update 3 also. But still not working !!

[2017-04-29 09:25] burness commented on #9505
@terrytangyuan  LinearClassifier seems all right, I will try other estimators later

[2017-04-29 10:40] miendinh commented on #9516
Hi
I got the same issue when I try install tensorflow in windows  :
`pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0-cp35-cp35m-win_amd64.whl`

`tensorflow-1.0.0-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.
`
I use windows 7x64 and python 3.6.1

[2017-04-29 11:04] deworrall92 commented on #5987
+1

[2017-04-29 11:45] mig23 opened #9536 "[bug] Distributed FIFOQueue dequeue duplicate data"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Ubuntu 14.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.0.0
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN version**:
8.0 5.1
- *

[2017-04-29 12:15] AihamTaleb commented on #6084
Hi, thanks for your support guys. Is the file mentioned by @petewarden available now?
Would be possible to tell please where I can find the mapping between the old layer/node/tensor names and the new ones? e.g. what's the corresponding tensor for "pool_3/_reshape:0"?

[2017-04-29 12:33] hansonboy commented on #9476
thanks for your again. I tried your example. but not worked. Tired...

[2017-04-29 12:39] jhaux commented on #9517
Could you elaborate on this @martinwicke? Or guide me to the documentation?
I understand how to place variables using context managers, but in this case I would like the Variable nodes to be created by the layer function.

E.g. it would be desirable for me to be able do something like this:
`with tf.device('\gpu:0):
    fc = fully_connected (input, ..., variable_device='\cpu:0')`
Here the variable

[2017-04-29 13:46] fxsuper commented on #9527
The code I'm implementing has nothing to do with RNNs. It's a sequence of geometric transformations.

[2017-04-29 14:36] chenweiqian opened #9539 "load a checkpoint and use it to create a new graph"
**system information:**
I am using the latest Tensorflow code on Ubuntu 16.04

**problem:**
because the tensorflow SSD can't directly output the final bounding box that i want, so i want to use the orginal checkpoint to create my graph. But i failed, i really wish someone could help me!!! Thanks!!

**error:**
i get the error:
[code]

**Source code**
[code]

[2017-04-29 15:23] yongtang commented on #1588
Added a PR #9540 to support slice of sparse tensors. Please take a look.

[2017-04-29 16:20] Carmezim commented on #9516
Could you try upgrading to TensorFlow's latest realease, `1.1`? Do you have a clone of TF repository locally?

[2017-04-29 16:40] cancan101 opened #9542 "PreventGradient Signature Changed in TF 1.1.0 Breaking Forward Compatibility when Loading / Running Graph"
Loading and then attempting to run a graph that was saved by TF 1.1.0 on TF 1.0.1 leads to:
[code]
It seems as if the the NodeDef proto has changed in a manner that breaks older versions. The new field, `message` seems like it should be optional.

System info:
[code]

[2017-04-29 16:46] ruiann commented on #9471
How can I monitor the memory usage? My OS uses the default malloc algorithm of Ubuntu 16.04 LTS, which I think is jemalloc. I will try remove the summary code later. My code only contains the definition of network and loss function, and read dir to get image samples, and use them to train

[2017-04-29 18:01] petrux commented on #9511
No, no virtualenv.
Here is the `sys.path`:

[code]

[2017-04-29 19:32] eamartin commented on #7951
Thanks for the info @vrv (and for the features @alextp ). I did a little looking around, and it looks like https://github.com/tensorflow/tensorflow/commits?author=alextp&since=2017-03-01T06:00:00Z&until=2017-04-01T05:00:00Z are the relevant commits. From my checking, these didn't make it into TF 1.1 but hopefully will be in 1.2.

[2017-04-29 19:33] gpapan commented on #6720
There are two separate issues here:
(1) Alignment of the tensor values at the input and output of the resize function.
(2) Interpolation method.

For (1), @ppwwyyxx comment is exactly right:
When using align_corners=True, we consider the image value as a point sample of a continuous function at the pixel center. When using align_corners=False, we consider the image value as the average of a contin

[2017-04-29 19:49] gpapan commented on #6720
@ppwwyyxx, Regarding your question on "which alignment is better for NN training", multiple approaches are possible as long as you are consistent. Here is my own favorite set of rules that we have followed in our [DeepLab](https://arxiv.org/abs/1606.00915) semantic image segmentation system:

"DeepLab's Four Alignment Rules":
(1) Use of odd-sized kernels in all convolution and pooling ops.
(2) Use

[2017-04-29 21:17] anonym24 commented on #9412
I tried to force rotation in the different part of code.
Rects on the main view looks better now (I guess it shows normal width/height now of every detected car),
but they are still at the wrong position..

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/DetectorActivity.java#L297
[code]

[code]
![screenshot_2017-04-30-00-01-16-782_org tenso

[2017-04-29 21:23] BDHU commented on #9530
I've read this Stackoverflow post [Pycharm environment different than command line](https://stackoverflow.com/questions/19715724/pycharm-environment-different-than-command-line) and it seems that the problem is not related to tensorflow but PrCharm itself. PyCharm won't reserve bash environment unless evoked from command line. So the solution to he problem is to type `charm` from command line and

[2017-04-29 21:23] #9530 closed

[2017-04-29 21:43] ethanluoyc opened #9545 "Duplicate variable shown in Tensorboard expected?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS Sierra 12.12.4
- **TensorFlow installed from (source or binary)**:
pip
- **TensorFlow version (use command below)**:
1.1.0 (CPU)
### Describe the problem
I am trying to implement E2C (available from https:/

[2017-04-29 21:58] scm-ns commented on #2883
petewarden's solutions work for me. There is an additional memory consumption error on iOS devices. I have added a comment here https://github.com/mortenjust/trainer-mac/issues/3 and pete talks about it more here :
https://github.com/tensorflow/tensorflow/issues/4255

[2017-04-29 22:00] scm-ns commented on #2883
@Zulqurnain24 The app is crashing due to apple force closing it due to the tf model taking up a lot of memory. Solution here : https://github.com/tensorflow/tensorflow/issues/4255 and ^ comment.

[2017-04-29 22:11] saria85 commented on #8164
hi,,
I am getting this error :
train_writer = tf.train.summary.FileWriter(summaries_dir + '/train')
AttributeError: module 'tensorflow.python.training.training' has no attribute 'summary'

my code is this
train_writer = tf.train.summary.FileWriter(summaries_dir + '/train')

whats the problem,
It was at first summarywriter but I changed that to summary.filewriter still getting this error

[2017-04-29 22:23] sguada commented on #9498
Yeah when we created them they were streaming_metrics so it was streaming_accuracy.

I think streaming metrics should have a simple way to reset them.

FYI: Implementing non streaming accuracy is simple, ex:
`tf.reduce_mean(tf.to_float32(predictions == labels))`

@martinwicke

[2017-04-29 23:22] m-nagy commented on #9484
Thanks @gwind55 It took me the whole day searching for solution

[2017-04-30 02:24] PKUEcho commented on #663
Just want to ask what's the stage of GPU support for Android platform? I ask this because it's a very important feature for any deep learning framework, and now there are already some related research papers published. If tensorflow supports GPU on Android platform, I guess, there be many more followers :)

[2017-04-30 03:08] teeekay commented on #9470
@girving
I observed the same thing as @guileryu01 and have a similar setup.
[code]
Exact command to reproduce:

[code]
results in:
[code]
after about 3 hours of building.

If I remove the line regarding arch:AVX in the cmake command
[code]
The python wheel builds ok.

I want to help getting the builds with CPU optimizations to work for Windows -
I wasn't exactly clear what you were asking to be do

[2017-04-30 04:26] oleg-trott commented on #7551
This rings a bell... Just a wild guess here -- I haven't checked what TF actually uses, but simple large-stride reductions can be slow because of non-coalesced memory access, and can be made much faster with a different algorithm:

https://github.com/NervanaSystems/neon/issues/188

[2017-04-30 04:34] yuanbyu commented on #8604
It is always a good idea to use `tf.get_variable`. `tf.Variable` doesn't work well with control dependency and control flow (cond and while_loop).  For your example, I would do something like this:

[code]

[2017-04-30 05:02] swsamleo commented on #6999
interesting, I have solved the problem by @oldmud0 suggestions. But as he or she said, the IDE shows the warning as above. It takes more time to compile

[2017-04-30 05:16] ppwwyyxx commented on #6720
Thanks @gpapan ! For (4), is it to ensure equal paddings on both side of image?

[2017-04-30 05:29] lipixun commented on #10
@4d55397500 I believe the go binding of tensorflow is still under heavy developing. See: https://godoc.org/github.com/tensorflow/tensorflow/tensorflow/go

It is not stable enough and lots of features haven't been implemented.

(I've just compiled the latest version and sadly speaking that it can not pass the builtin test on mac os x. A signal `kill` occurred when running tests.)

[2017-04-30 06:07] Agoniii opened #9548 "distributed alexnet error : alexnet_v2/pool1/MaxPool : tensor_in must be 4-dimensional"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: linux Centos 7.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tensorflow (0.11.0)

### Describe the problem
When I try to run distributed alexnet traini

[2017-04-30 06:34] asimshankar commented on #10
@lipixun @4d55397500 : The Go APIs available today are intended to be usable and tests for both Linux and OS X are included in the continuous builds on Jenkins.

@4d55397500 : The APIs are a little low level though. They should be sufficient to build things like networks for MNIST and linear regression models on top of, but at this time there are no plans for writing convenience higher level APIs.

[2017-04-30 06:51] sachinprabhu007 commented on #8946
Tried with Tensoflow Version 1.0

Results in following error as i execute commands in python shell :

Will be waiting for reply.

Thanks
[code]

[2017-04-30 06:52] sachinprabhu007 opened #9549 "Tensorflow Failed to create Session"
Hi

I tried basic program in python shell. It fails to create session. Please assist.

Thanks

[code]

[2017-04-30 07:29] iamgroot42 commented on #4623
@andrewharp there's no strip_unused.py in the repo now. Has it been moved, or is running it no longer required?

[2017-04-30 08:31] MicaelCarvalho commented on #8164
@saria85 the correct name is `tf.summary.FileWriter`. All problems reported in this thread seem to be solvable with a simple google search.

[2017-04-30 08:40] Randolph-zeng commented on #5949
@mrry Sorry to bring this up again, I have the same issue as poster. I have been debugging this for several days but no luck. Any advice will be greatly appreciated!

I did lack all of the api-ms-win-crt-*.dll files and python35.dll specifically(I am running in a virtual env of python3.5 in anaconda). I downloaded all the dll files online and add it back to C:\Windows\SysWOW64 but the problem stil

[2017-04-30 08:42] Randolph-zeng commented on #5949
@Carmezim Plz help, any advice will be greatly appreciated! Thanks a lot!

[2017-04-30 08:56] cro888888 commented on #2033
I have the same problem too, can't someone really answer the question?

[2017-04-30 09:44] Zulqurnain24 commented on #2883
Thanx @scm-ns I have followed these instructions https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/ to reduce the footprint of the graph file and now it is working fine

[2017-04-30 10:22] JuliusKunze opened #9550 "ctc_greedy_decoder inconsistent with ctc_beam_search_decoder"
The following extract from the the `ctc_beam_search_decoder` documentation seems to be misleading:
"The `ctc_greedy_decoder` is a special case of the `ctc_beam_search_decoder` with `top_paths=1` and `beam_width=1` (but that decoder is faster for this special case)."

Instead, the following results can be observed:

| Decoding "AA<ctc_blank>AA" using | `merge_repeated=True` | `merge_repeated=False`

[2017-04-30 11:45] gongzhitaao commented on #9498
@sguada Thanks.  That's what I'm using in my code.

[2017-04-30 11:58] YuriWerewolf commented on #5949
Same issue here, TensorFlow works with CPU but not with GPU (Nvidia) on Windows 10

[2017-04-30 13:47] petrux opened #9552 "Adding a property `trainable` to `tf.Variable`"
Feature request: wouldn't be handy to have a property `trainable` in the class `tf.Variable`?

P.S. sorry in advance for the question but... am I supposed/entitled to sketch an implementation in my TF fork and then issue a pull request?