[2020-06-12 10:14] #34230 closed

[2020-06-12 10:15] grantstephens commented on #36611
Also, just hit the same problem with same config as @cxyanhk - anybody been able to solve it?

[2020-06-12 10:16] jxfruit commented on #40176
@amahendrakar After checking the code, I found  the problem. There were only 33 poems, namely 33 data, because of the following code block:
[code]
Obviously, n_chunk will got 0. After changing batch_size from 64 to 8 will be ok.
And I found the data is not enough, that could not get the error. When my dataset is more than 10Mb, the error can be got. Sadly, I could not upload the whole dataset. Cou

[2020-06-12 10:21] terryheo commented on #40144
If a model is not fully delegated to GPU, some graph will still run on CPU. In such case, setting the thread number makes sense. But this case, the graph is fully delegated to GPU, so the setting thread number is meaningless.
BTW, I've just submitted several changes including the library version change and improving preprocessing. You'll see some performance improvement with the master branch.

I

[2020-06-12 10:21] #40144 closed

[2020-06-12 10:30] ArtanBerisha1 commented on #40144
Thanks for your help @terryheo

[2020-06-12 10:33] ravikyram commented on #34335
I was able to replicate the issue with Tf-nightly==2.3.0-dev20200612.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/585e308194a2d6eb504c272e52b4c804/untitled14.ipynb).Thanks!.

[2020-06-12 10:47] tastelessjolt commented on #38036
Also, does reduce_mean and reduce_sum and similar aggregating operators produce dynamic shapes?
Because I do have a few of them.

[2020-06-12 11:00] ravikyram commented on #34189
I have tried in colab with TF version 2.2, nightly version(2.3.0-dev20200612) .I am seeing the below error message(`ValueError: You are trying to load a weight file containing 3 layers into a model with 0 layers.`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/666a1221a9d12cc80f58ba38be70cd83/untitled15.ipynb).Thanks!

[2020-06-12 11:09] #39948 closed

[2020-06-12 11:09] ravikyram commented on #34040
I have tried in colab with TF version 2.2, nightly version(`2.3.0-dev20200612`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/4c408e7c7c0993b6428102ba38aaa7f4/untitled16.ipynb).Thanks!

[2020-06-12 11:12] foxik commented on #40391
That is just a mistake in the your custom training loop. The problem is that `yhat` has shape `[batch_size, 1]`, while `_y` has shape `[batch_size]`. So subtracting them gives a result of `[batch_size, batch_size]`, which is definitely not what you wanted.

If you for example used
[code]
which converts `yhat` first to vector of shape `[batch_size]`, it would work fine.

Also, the object losses per

[2020-06-12 11:20] imrankhan441 opened #40406 "y shape and y_pred shape not same"
why those two are different

![tfp](https://user-images.githubusercontent.com/26671669/84497611-f3b32380-acd0-11ea-9538-6e1f60f32c19.png)

[2020-06-12 11:23] HBiSoft commented on #34230
@terryheo
I tested the changes and I could barely see any improvement in performance. It is still "laggy".

    Interpreter took 201,77 ms
    Scaling to [-1,1] took 108,88 ms

I'm not sure how much quantization will increase performance.

[2020-06-12 11:24] asmitapoddar opened #40407 "tensorboard --logdir=runs not working: Abort trap: 6"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.2.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: pip3
- CUDA/cuDNN version: -

I am trying to run tensorboard: `tensorboard --logdir=runs`.
I have also tried: `tensorboard --logdir=runs --host=127.0.0.1

[2020-06-12 11:37] avitomar12 commented on #38064
What is the size of the dataset you are using?

[2020-06-12 11:38] mkanakis commented on #34580
Hi,

I am experience the issue as well, any updates?

Running the following command:
[code]

Produces the following output:

[code]

[2020-06-12 11:48] 20tamil20 commented on #38064
512, 512 size and 247 images and masks

[2020-06-12 12:20] bjacob commented on #40183
TFLite has a couple of built-in profilers that are available wherever you can run tflite and look at terminal output. One is enabled by passing `--define=ruy_profiler=true` to `bazel build`, or equivalently in other buildsystems just add `-DRUY_PROFILER` to the compiler flags. If you build the benchmark binary with that, it will dump an ascii "treeview" in the terminal with % time spent in each no

[2020-06-12 12:27] ClementWalter opened #40408 "Calling predict with a keras.Sequence on a keras.saved_model fail if no previous call on numpy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-06-12 12:29] gowthamkpr commented on #40237
@yanglei-github If its a document feature request can you create a new issue to track this. Thank you!

[2020-06-12 12:32] amahendrakar commented on #40406
@imrankhan441,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-12 12:33] busssard opened #40409 "Tensorflow not working after installing tensorflow-gpu"
### System information

-   i used a stock example
-   OS Platform and Distribution: Windows 8, with JetBrains Pycharm
-   **TensorFlow installed from (source or binary)**: pip
-   **TensorFlow version: 2.0 upgraded to 2.2
-   **Python version**: 3.6
-   **CUDA/cuDNN version**: 11
-   **GPU model and memory**: NVIDIA Geforce 970
-   **Exact command to reproduce**:
[code]

### Describe the problem

[2020-06-12 12:37] gowthamkpr commented on #40213
@Danliran Sorry for pointing you out to multiple repos. But as mentioned in [comment](https://github.com/tensorflow/benchmarks/issues/479#issuecomment-640967838) please try to post it [here](https://github.com/tensorflow/models/issues) as well as they would be able to help you. I will keep this issue open here. Thanks!

[2020-06-12 12:40] terryheo commented on #34230
@HBiSoft Please check if you build & install correctly.
I have a low end device which took 350ms in scaling. Now it only takes 50ms.

[2020-06-12 12:48] alexantoinefortin commented on #40278
If it helps people undoing their cuda install, I found 2 useful commands by browsing stackoverflow:

`dpkg --configure -a`: this command (ran with `sudo`) identified errors with a select few of my pacakges. Namely:
[code]

After that, I ran this command to purge the packages:
`apt purge cuda cuda-demo-suite-11-0 cuda-11-0 cuda-runtime-11-0 cuda-drivers nvidia-driver-450 cuda-drivers-450 libnvidia-

[2020-06-12 12:55] kevinyamauchi commented on #39601
I would also like use `reduce_max` in an 8 bit quantized model. Is it planned to be added in the near future?

@kmonachopoulos were you able to find a workaround?

[2020-06-12 12:58] HBiSoft commented on #34230
@terryheo

I downloaded [tensorflow examples](https://github.com/tensorflow/examples) then opened the [posenet for android example app](https://github.com/tensorflow/examples/tree/master/lite/examples/posenet/android). After that, I made the changes you mentioned above - tensorflow/examples@f614661 and tensorflow/examples@a50d453 - Then ran the app on my device.

Am I missing something?

[2020-06-12 12:58] amahendrakar commented on #40409
@busssard,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from a similar issue and let us know if it helps. Thanks!

[2020-06-12 13:05] gowthamkpr commented on #40115
@duyao-art tf.contrib module has been depricated in tensorflow 2.x. So, you cannot use it.
Also can you provide the full stacktrace of your error when running with tensorflow 1.14. Thanks!

[2020-06-12 13:12] krzysztofrusek commented on #40391
Yes, indeed, now it works as expected.
Thank you!

[2020-06-12 13:12] #40391 closed

[2020-06-12 13:13] gowthamkpr commented on #37263
Closing this issue as it has been inactive for a long time. Please add additional comments for us to open this issue again. Thanks!

[2020-06-12 13:14] #37263 closed

[2020-06-12 13:29] yanglei-github commented on #40237
OK! Sure!

[2020-06-12 13:30] gowthamkpr commented on #37960
Closing this issue as it is not reproducible. Please add additional comments for us to open this issue again. Thanks!

[2020-06-12 13:30] #37960 closed

[2020-06-12 13:31] gowthamkpr commented on #38475
Closing this issue as it has been inactive for a long time. Please add additional comments for us to open this issue again. Thanks!

[2020-06-12 13:31] #38475 closed

[2020-06-12 13:32] terryheo commented on #34230
You don't need to apply changes manually. Plz just use master branch that contains everything you need.

[code]
If you have these already, how about changing log "Scaling to [-1,1] took xxx ms" to a different string to verify if you're running correct version?

[2020-06-12 13:33] gowthamkpr commented on #38486
Closing this issue as it has been inactive for a long time. Please add additional comments or open a new issue. Thanks!

[2020-06-12 13:33] #38486 closed

[2020-06-12 13:34] gowthamkpr commented on #38672
@Ceceu Can you please respond to the above comment to take this discussion further. Thanks!

[2020-06-12 13:35] runfengxu commented on #39948
similar problem.
I already got tensorflow installed using conda install.

[2020-06-12 13:36] yanglei-github opened #40411 "Seq2Seq using copy mechanism(such as pointer-generator network)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):tf 2.1
- Are you willing to contribute it (Yes/No):Yes

**D

[2020-06-12 13:42] mitramir55 commented on #31315
@mihaimaruseac I'm working in colab and  changed `tf.gfile.GFile` to `tf.io.gfile.GFile` but still get this error
`AttributeError: module 'tensorflow' has no attribute 'gfile'
`

[2020-06-12 13:48] matheushent commented on #35341
Why this issue is closed? I can't see the solution here and the error's raising.

[2020-06-12 13:55] gringet opened #40412 "tensorflow.keras slower than keras for repetitive calls to Model.predict()"
**System information**
- google colab notebook: [https://colab.research.google.com/drive/17PCkA9z5i8Yj9qd4QREYOSoaz8JFjk0C?usp=sharing](https://colab.research.google.com/drive/17PCkA9z5i8Yj9qd4QREYOSoaz8JFjk0C?usp=sharing)

**Describe the current behavior**
tensorflow.keras is significantly slower than keras when using repetitive calls to Model.predict().

**Describe the expected behavior**
Should

[2020-06-12 14:07] cfabio commented on #40385
I have the exact same issue, Tensorflow 2.2.0 compiled from source following the official documentation.

[2020-06-12 14:08] dcouwenh commented on #6720
@johnpjf Thanks for your reply.  I edited my code to call the scale_and_translate op directly as you suggested, but I am not able to reproduce the results from the v1 resize_bilinear op.  I am not trying to align the centers of the corner pixels, I am trying to align the corners of the corner pixels (like the v1 code did with align_corners=True).

I tried to play with the scale and translate param

[2020-06-12 14:09] #39968 closed

[2020-06-12 14:09] #30635 closed

[2020-06-12 14:14] Saduf2019 commented on #40408
@ClementWalter
I ran the code shared by you and face this error, please refer to the [gist here](https://colab.research.google.com/gist/Saduf2019/87d1cb1e22902f78346944ad9df181c1/untitled.ipynb)

[2020-06-12 14:15] imrankhan441 commented on #40406
`from tensorflow.distribute import get_strategy
from tensorflow.distribute.experimental import TPUStrategy
from tensorflow.config import experimental_connect_to_cluster
from tensorflow.tpu.experimental import initialize_tpu_system
from tensorflow.distribute.cluster_resolver import TPUClusterResolver

from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow

[2020-06-12 14:22] BramVanroy commented on #20271
Here is what worked for me:

- Install CuDNN manually from https://developer.nvidia.com/rdp/cudnn-download. It will be installed in `/usr/lib/x86_64-linux-gnu`
- Create symlinks from your CUDA installation to that initial location:

[code]

[2020-06-12 14:23] HBiSoft commented on #34230
@terryheo
Thank you for your reply. I ran the master branch and I get the following:

    Interpreter took 204,42 ms
    Scaling to [-1,1] took 26,47 ms

The scaling is faster, but the preview is still not as it should be. I guess quantization is the only option to improve this, It looks kinda complicated though. I will have a look into it.

[2020-06-12 14:28] Saduf2019 commented on #40412
I am able to replicate the issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e3fcf08b38ac343e851b48aa6e51646a/untitled229.ipynb)

[2020-06-12 14:32] JCruk commented on #40400
Here are the errors I received with a tested build configuration (master, Python3.8, GCC-7, cuDNN 7.6.5.32, CUDA 10.1):

[code]

[2020-06-12 14:42] Saduf2019 commented on #40401
@jforjay1
Is this still an issue

[2020-06-12 14:44] #40401 closed

[2020-06-12 14:49] Saduf2019 commented on #40392
@kinos9
Can you please refer to these issues with similar error:
[link](https://github.com/tensorflow/tensorflow/issues/33870#issuecomment-576925084)
[link1](https://stackoverflow.com/questions/60979586/how-do-i-convert-a-tensorflow-model-into-a-tensorrt-optimized-model-using-trt-tr)
[link2](https://github.com/tensorflow/tensorflow/issues/26814#issuecomment-610067468)
Please share simple standalon

[2020-06-12 14:50] Saduf2019 commented on #40397
@xlnwel
Please share simple stand alone code to replicate the issue faced or if possible share a colab gist for us to analyse the issue

[2020-06-12 14:56] Saduf2019 commented on #40387
@sbuser
Please share simple stand alone code for us to replicate the issue faced or is possible share a colab gist for us to analyse the issue.

[2020-06-12 14:56] Frank-Dz opened #40413 "GPU sudden explosion during training."
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.1
- Python version: 3.7
- CUDA/cuDNN version: 10.0
- GPU model and memory: Nvidia 2080 8G

When I train the network,  for the first 25 samples of training, usage of memory and GPU were unchanged:
![image](https://user-images.

[2020-06-12 15:05] v-sivak opened #40414 "Bug in tf.linalg.matmul on complex matrices"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **No**
- TensorFlow installed from (source or binary): **binary x64**
- TensorFlow version (use comman

[2020-06-12 15:08] Saduf2019 commented on #40369
@CalebEverett
Please update the tensorflow version used. IN case you are using an old version can you please try on later version and update.

[2020-06-12 15:09] #39732 closed

[2020-06-12 15:09] #39960 closed

[2020-06-12 15:09] #39970 closed

[2020-06-12 15:09] #39974 closed

[2020-06-12 15:18] AlecBG opened #40415 "AbstractRNNCell documentation"
# Documentation for state in AbstractRNNCell could be more clear.

In the documentation for the `AbstractRNNCell` it does not make it clear that the state is a tuple. https://www.tensorflow.org/api_docs/python/tf/keras/layers/AbstractRNNCell

This was a gotcha for me when I defined a custom RNN cell that had a single state. It kept adding an axis to that state whenever I performed an operation on

[2020-06-12 15:28] Frank-Dz commented on #40413
And when I switch to tf1.15.2, the GPU memory **suddenly** explode at the 68th sample.
[code]

[2020-06-12 15:38] nluehr commented on #40278
The users appear to be doing the correct things. There may be a bug in nvidia's driver packaging. I'm checking with the driver team.

[2020-06-12 15:51] mihaimaruseac commented on #31315
@mitramir55 please open a new issue, fill in issue template and provide minimal code to reproduce. It's likely you have some dependency issue / some wrong version of TF installed. `pip list` should also help in identifying the issue

[2020-06-12 15:55] Serhiy-Shekhovtsov commented on #35100
Had the same problem. Memory leak and crash after some number of epochs. Looks like the `ModelCheckpoint` callback is a culprit. Removing it solved the issue.

[2020-06-12 15:59] penpornk commented on #40208
@agramesh1 @NeoZhangJianyu Thank you very much!

[2020-06-12 16:19] AlexWang1900 commented on #40027
Hi~~~ Thanks everyone,
I think I found a walk around to this problem, by changing some NCCL code.
I need to test it on TF , how can I override TF's 2.5.7 nccl ??? or specify TF to use another NCCL?

[2020-06-12 16:26] aselva-eb commented on #40157
Is there an approximate ETA on Python support for flex delegate?

[2020-06-12 16:29] mihaimaruseac commented on #40350
Recommend trying to build from one of the supported versions (1.15, 2.0, 2.1, 2.2, master) as we don't have enough workforce to cover old releases

[2020-06-12 16:38] UcefMountacer opened #40416 "TFLite model not working with png images"
Hello,

I have trained a semantic segmentation model using VGG16 and unet. The model displayed good results before (irrelevant of image type).

When I converted the model to tflite, I noticed that it does not work with png files. Here is an example :

![image](https://user-images.githubusercontent.com/47783157/84525079-57424e80-acdb-11ea-9ac1-d1f1c2269b2f.png)

![image](https://user-images.githubu

[2020-06-12 16:51] mihaimaruseac commented on #40065
Can you run the following please?

[code]

And then attach the `log*.txt` files in a reply? You can use multiple paths for the certs and attach multiple logs.

Note that since we only build and test on ubuntu, it might be slow to solve the issue. We don't have enough headcount to solve issues on all operating systems, unfortunately.

[2020-06-12 16:52] mihaimaruseac commented on #39940
Do you have a minimized script that we can use?

[2020-06-12 16:53] lokesharma-dev opened #40417 "ValueError: Unable to fit model on a built graph."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab

**Hello, I am trying to build a model that relies on the concept of virtual adversarial training for text classification. The model involves the functional API of Keras and I have been to build a model graph. However, there is something wrong when I try to fit my training dataset on the model. Please su

[2020-06-12 17:18] lilly-chen commented on #38589
Hi when i go to my lib/python3.7/site-packages/tensorflow/python/framework/ops.py

i find the following import
`from tensorflow.python.types import core as core_tf_types`

and i go ahead and add this line in my /anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py

[code]

but it still not able to load the kera correctly

[code]

Any suggestion is appreciated!

[2020-06-12 17:23] joaquimvila commented on #37496
Is C api for TF2 to be included on next release (2.3)?

[2020-06-12 17:28] shilan opened #40418 "Building Tensorflow from the source for the second time fails"
I am trying to build Tensorflow from the source (master branch) to get **AVX2** problem solved and get training faster, on my
- **windows 10** machine
-  intel(R) cpu Core i78650U 1.90GHz 2.11  which apparently doesn't have GPU support.
- **Python 3.7.4**.
First time I set my mavx2 and mavx flags when running configure.py and then I tried this command:
`bazel build -c opt --copt=-mavx --copt=-mavx

[2020-06-12 17:36] carloshpf commented on #38518
Two or more processes running tensorflow (2.2.0), one of them running a code as simple as `var = tf.Variable([3, 3])` will trigger this error.
Solution: kill the other processes.

[2020-06-12 17:39] matheushent commented on #38518
Honestly, killing other processes is not a solution it self. In my opinion this issue must be open since the problem wasn't solved yet.

[2020-06-12 17:43] av8ramit commented on #37496
Yes we are planning to have libtensorflow releases for the 2.3 release.

[2020-06-12 17:46] joaquimvila commented on #37496
This is very good news. Thanks for the fast response.

[2020-06-12 18:14] carloshpf commented on #38518
Completly agree..  I just wrote "solution" for those googling it..

[2020-06-12 18:16] ElPapi42 commented on #40416
Can you provide a Google Colab gist reproducing the problem? can you try to compare the performance on the same image but with different encoding(.png and .jpg)? also, check out how many channels of the png images are you passing through the model? .jpg have only 3 channels but png by default have 4, maybe you trained your model only on 3-channel images and when the models perceive 4-channels, tha

[2020-06-12 18:18] AasthaNagpal opened #40419 "ValueError: we need atleast 1 value to plot word cloud, got 0"
normal_words = ' '.join([text for text in combi['tidy_tweet'][combi['label'] == 0]]) wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=110).generate(normal_words) plt.figure(figsize=(10, 7)) plt.imshow(wordcloud, interpolation="bilinear") plt.axis('off') plt.show()

ValueError: we need atleast 1 word to plot word cloud, got 0.

[2020-06-12 18:22] #37928 closed

[2020-06-12 18:22] #32145 closed

[2020-06-12 18:30] harsha113 commented on #39053
Are there any ways to fix this problem?

[2020-06-12 18:30] amahendrakar commented on #40121
@rambowding,
Could you please share `train.txt`, `sgns.weibo.word.txt` and any other supporting files you are using in your code. Thanks!

[2020-06-12 18:34] kinos9 commented on #40392
I have already found and tried those solution without success.
This is what I do to get the error:

[code]

`test.py` is the Python script, and this following is the standalone code:

[code]

that give this output:

[code]

that is the mentioned error.

Thx

[2020-06-12 18:38] amahendrakar commented on #40176
@jxfruit,
Even after repeating the data, I did not face any issues while running the code. Please check the attached zip file for the Python notebook. Thanks!

[40176.zip](https://github.com/tensorflow/tensorflow/files/4772659/40176.zip)

[2020-06-12 19:08] hlzl commented on #31053
Any update on this? It's been a year.

[2020-06-12 19:09] #39199 closed

[2020-06-12 19:28] ymodak commented on #39941
Can you please try to build from one of the supported versions (1.15, 2.0, 2.1, 2.2, master)?
TF 1.10.1 is too old for support.

[2020-06-12 19:31] #39953 closed

[2020-06-12 19:32] sanjoy commented on #39846
Hi,

It is difficult to help debug this kind of an issue over github since the problem is likely very problem specific.

As a first step I would suggest using the [TF profiler](https://www.tensorflow.org/guide/profiler) or [nvprof](https://docs.nvidia.com/cuda/profiler-users-guide/index.html) to see if you can spot any obvious differences between the two profiles (crontab and non-crontab execution

[2020-06-12 19:32] suraj-maniyar commented on #40342
@rchao Any updates?

[2020-06-12 19:32] NoelKennedy commented on #33148
That's right mimxrt.  I guess the interesting point here is that the inputs to my LSTM are always masked, but I have to force the non-cudnn implementation using the activation function.  Might be a clue for someone who can fix this.

[2020-06-12 19:33] #39926 closed

[2020-06-12 19:35] ymodak commented on #39807
Closing this issue since it's resolved. Thanks!

[2020-06-12 19:35] #39807 closed

[2020-06-12 19:39] maraujo commented on #38064
I solved my particular issue setting the batch_size very small, in my case batch_size = 1. I confirm that this happens with small datasets.

[2020-06-12 19:42] gigadeplex opened #40420 "'tf.Dilation2D' op is neither a custom op nor a flex op"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): google colab, python 3.6
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
First download this saved model
https://drive.google.com/file/d/136KmfVwBT2htxPDZeYw4-TXmxP

[2020-06-12 19:44] kaczmarj opened #40421 "MirroredStrategy preventing use of cuDNN GRU implementation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab (18.04.3 LTS (Bionic Beaver))
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary (Python wheel)
- Tenso

[2020-06-12 19:45] gigadeplex commented on #35590
Hi @jvishnuvardhan , thank you for your reply! I took your advice and just opened an issue regarding tf.Dilation2D and included a link to a saved model which is derived from pytorch through onnx #40420

[2020-06-12 19:56] ymodak commented on #39644
Closing this issue for now. Feel free to reopen if necessary. Thanks!

[2020-06-12 20:27] #39221 closed

[2020-06-12 20:40] JuliaH22 opened #40422 "AttributeError: module 'tensorflow' has no attribute 'compat'"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-1e914dd8c3aa> in <module>
      1 get_ipython().run_line_magic('matplotlib', 'inline')
      2 import matplotlib.pyplot as plt
----> 3 import tensorflow as tf
      4 import numpy as np
      5 import pandas as pd

~\miniconda3\env

[2020-06-12 20:42] ryanmaxwell96 commented on #40395
Here is the colab file with the issue I was referring to. https://colab.research.google.com/drive/1dD9QKj9-NzdCECBWKkkihS18Iqmlf5-o?usp=sharing

For the prompts it asks for, input the following in this order:
CartPoleBulletEnv-v1
n
1.0

[2020-06-12 20:44] ryanmaxwell96 commented on #40395
Ahh bummer. It gave me the error the first time through, but now is giving me another error I haven't seen before.

[2020-06-12 20:46] JuliaH22 commented on #40422
Hi everyone
after a long attempt to install tensorflow gpu version by following this tutorial:
https://www.youtube.com/watch?v=qrkEYf-YDyI&t=295s
I always find myself facing the above error. Can someone please help me?

[2020-06-12 20:47] #40394 closed

[2020-06-12 20:59] mhsmith commented on #39957
The filename in the original report: is tagged `linux_armv71`. That's the number 1, not the letter L as it should be. How did that happen?

[2020-06-12 21:05] kaixih commented on #39985
FYI. You might want to keep track of status here: https://github.com/tensorflow/tensorflow/pull/40399

[2020-06-12 21:11] ryanmaxwell96 commented on #40395
Ok so I think I may see a problem. I used the model.summary() command to get:

trpo summary
Model: "trpo"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
policy_nn (PolicyNN)         multiple                  4393
_______________________________________

[2020-06-12 21:42] oscarbg opened #40423 "CUDNN8 + CUDA 10.2 build?"
Hi,
similar to issue requesting a CUDA 11 build:
https://github.com/tensorflow/tensorflow/issues/40227
I think the most important of CUDA+CUDNN updates in relation to performance is CUDNN library updates..
seeing that CUDNN 8 ships with a library with CUDA 10.2 support and Tensorflow already supports CUDA 10.x, just asking if should be possible to integrate CUDNN 8 support faster than CUDA 11 and

[2020-06-12 21:47] abattery commented on #40420
@thaink could you help adding tf.Dilation2D op to flex?

[2020-06-12 22:26] leehanchung commented on #40403
Did more testing and fixed the problem.

This problem only shows up with `tf.keras.Bidirectional` wrapped around rnn/lstm/gru.

Fixed the problem by downgrading nvidia driver.

Current software stack that works with `Bidirectional`:
[code]

[2020-06-12 22:26] #40403 closed

[2020-06-12 22:52] dansitu commented on #37505
Also experiencing this issue

[2020-06-12 23:11] TensorFlow-MKL commented on #40122
we are looking at this issue and will respond once we reproduce

[2020-06-12 23:14] TensorFlow-MKL commented on #39851
We are working on this issue. Will keep you posted

[2020-06-12 23:45] MeghnaNatraj commented on #39999
@lkubin  You are right! Sorry I think I misunderstood the problem before. I was able to reproduce the issue. There is no error in 2.2 (and instead the output tensor shape is incorrect after being allocated in the interpreter) but I did successfully get an error in 2.1 and 2.2rc4. I'll update this issue once I figure out the right way to resolve this problem
.

[2020-06-12 23:46] rongtianyue commented on #39463
any updates?

[2020-06-13 00:52] av8ramit commented on #35405
Unfortunately I'm not too familiar with Windows def files either. I think you need to copy the def file target we have currently given to libtensorflow_cc and then create a new one with the cc_library target that contains the `uint8Caster`.

I'm not sure about the static library, but if that bypasses the limited export issue, it could work.

[2020-06-13 01:25] UcefMountacer commented on #40416
No I did print the dimensions every time. Both are the same. Here is a code part:

![image](https://user-images.githubusercontent.com/47783157/84556792-5cc48680-ad25-11ea-93fa-30cd19e20196.png)
![image](https://user-images.githubusercontent.com/47783157/84556799-6cdc6600-ad25-11ea-9b2d-1fbd4422fad2.png)
![image](https://user-images.githubusercontent.com/47783157/84556807-78c82800-ad25-11ea-94c3-cf

[2020-06-13 01:42] pavithrasv commented on #37548
I have fixed the original issue. ie. you can use `_keras_history` or `inbound_nodes` to get the information. There are no plans at this time to add properties describing the Keras graph structure.

[2020-06-13 01:47] guptapriya commented on #39268
Whole batch dependent metrics are possible to implement if you create a custom metric: https://www.tensorflow.org/guide/keras/train_and_evaluate#custom_metrics.

This is how the standard metrics are implemented as well. In this you can define how each replica accumulates the results independently on their local batch, and how those values should be combined to give the final result. However, I thi

[2020-06-13 02:26] haolujun opened #40424 "How to bind the tensor data for some node?"
HI :
    I use some other distributed-train-framework got a model include meta_graph.pb and param data separate， and the checkpoint format is different  from tensorflow,  In order to speed the online predict service, avoid build some tensor frequently, I want to bind some param data in some tensor-node, like bias and layer. Could you show me how to do this?

[2020-06-13 02:28] TanihiraDev commented on #5514
@EricBuist if u are using tensorflow version 2.x u can try this:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

[2020-06-13 04:13] johnpjf commented on #6720
You can figure out what  the params should be writing the  equations out, so for your example you want the pixel at position 0.5 to stay at 0.5, and the  one at 1.5  to transform to 8.5,
so:
[code]
Solving gives:
[code]
so:
[code]
Matches the tf1  behavior.

[2020-06-13 04:15] ymodak commented on #40422
What is the TF version you are trying to install? Also what steps did you follow?

[2020-06-13 04:46] OOF-dura opened #40425 "How to create data generator that outputs a dict?"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu16.04
- TensorFlow version (use command below): tensorflow1.15.2 eager mode
- Python version: 3.7
- CUDA/cuDNN version: 10.0
- GPU model and memory: 8G

How to create a tensorflow data generator that outputs a dict? This generator fetches data from disk (since my data can NOT be loaded to Memory once a time) and send it to my NN. (I

[2020-06-13 05:04] sanjoy commented on #40384
That would be great, please upload the code and post a link here if it isn't too much trouble.

[2020-06-13 05:08] vital1312 commented on #31755
My CPU does not support TF 2.x,  but I need this decorator. Is there any proper solution?

[2020-06-13 05:21] OOF-dura commented on #27598
Hi @edloper ~
Do you have any ideas about how to write a data generator outputting dict?
https://github.com/tensorflow/tensorflow/issues/40425

Thanks!

[2020-06-13 05:45] mingxingtan commented on #40253
Hi @jch1 @ymodak  this looks more like a bug.

Jonathan, I saw you implemented this code (thanks for the great implementation). I wonder is there any specific reason to use 0.5 instead of 1 (as the paper)?
Should we either change it to 1 or update the document (https://www.tensorflow.org/api_docs/python/tf/image/non_max_suppression_with_scores) to mention this?

Thanks!

[2020-06-13 06:08] jackz314 commented on #4467
On Windows it seems like the protobuf is still the old version. I'm getting extremely slow speeds writing TFRecords even with multiprocessing, at this point I'd be better off using something like Keras sequence.

[2020-06-13 06:22] swapniel99 commented on #40253
@mingxingtan To me it looked like following a convention since in Gaussian Exponent, denominator is always 2*sigma. But still it is better to follow what the paper suggests.

[2020-06-13 06:58] Svdvoort commented on #39985
Thanks for the info. I assumed setting the data format explicitly would force TF to use it with cuDNN. I'll await the pull request then.

[2020-06-13 07:09] #31235 closed

[2020-06-13 07:18] add-more-tabasco opened #40426 "Codelab: Recognize Flowers with TensorFlow Lite on Android - emulator crashes"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

https://codelabs.developers.go

[2020-06-13 07:21] 20tamil20 commented on #38064
yes  sir, i have also reduced batchsize as 1, but i dont know the reason why the same error arise.

[2020-06-13 07:22] ChipsSpectre commented on #40423
Hey,
I just built Tensorflow 2.2 (default options build options from https://www.tensorflow.org/install/source, except of enabled GPU support).
On my system (RTX 2070, CUDA 10.2, CUDNN 8) the built library is correctly loaded and the results of an MNIST example training look reasonable.
[code]
How could I add a nightly build for these CUDA/CUDNN versions to tensorflow?

[2020-06-13 08:15] hellozmz opened #40427 "when support tflite op: SparseFillEmptyRows"
why not support SparseFillEmptyRows in tflite, and when support?

[2020-06-13 08:28] bjourne opened #40428 "Wrong batch size reported when using TPUStrategy"
In the summary, batch size is reported as 4 but I specified it as 32:
[code]
I suppose it is dividing the batch size I gave with the number of replicas available. But shouldn't that be transparent to the user? I want the code I write to work the same no matter what hw I have available (CPU, GPU or TPU).

[2020-06-13 09:04] AlexanderJLiu opened #40429 "Can't load subclassed model 's architecture from keras.layers.serialize(model)"
According to the [guide](https://www.tensorflow.org/guide/keras/save_and_serialize#custom_objects), I defined a subclass model with get_config method:

[code]

After serialized the model, I tried to load it but failed with errors:

[code]

So I want to know how to safely load a subclassed model's architecture? Thanks~

[2020-06-13 09:31] preethivenkatesh commented on #40208
@pavanky I can reproduce and verified your docker build instructions to display the same number of mkl symbols. however, regarding the warning message not displaying Intel MKLDNN support, we have found this issue in tf2.1(now appearing in tf2.2 as well), which appeared to be cosmetic and didn't impact the performance. We are already started investigating this issue last week and will try to provid

[2020-06-13 09:48] zhaojc001 opened #40430 "the document description of tensorflow java api is not detailed enough."
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-06-13 09:55] zaccharieramzi commented on #39268
Thanks for this info ! Can you point me to a specific metric which handles the distribution strategy, I didn't find one right away?

Regarding the custom metric, I am not sure how the whole state thing works in the evaluation mode. I guess when fitting it just resets at every epoch, but what about when evaluating? Does it reset at every batch?

Indeed I need something which can handle the max and

[2020-06-13 09:59] andreydung commented on #40318
@jdduke Problem resolved, it's exactly due to memcpy and I set the wrong number of elements.

[2020-06-13 09:59] #40318 closed

[2020-06-13 10:25] jonashaag commented on #39719
Note: This is partly fixed in 20200611 in that creating the `Dataset` instance works, and also turning it into a generator. However if you replace the last line in the Gist with

[code]

it is still broken in the same way.

[2020-06-13 11:23] stefano555 commented on #38285
Hi @MeghnaNatraj and @scottamain I have tested today DenseNet-169 and I got the identical issue with Full-Integer TensorFlow Lite.

[2020-06-13 11:27] laghaout commented on #39195
@ravikyram What you're getting is indeed the expected behaviour, but what I get is a 10-by-10 matrix of all zeros.

[2020-06-13 11:37] AnimeshMaheshwari22 commented on #40422
You can try uninstalling and re-installing TensorFlow. If that does not work, check this link https://www.tensorflow.org/guide/migrate

[2020-06-13 11:54] mkw18 commented on #40143
@amahendrakar，
Thank you! I will try TF v2.2 to run it.

[2020-06-13 12:06] albertz commented on #40228
I just figured out that you can use `tf.debugging.enable_check_numerics()` and  just disable it check numerics when the energy mask it applied. I.e. like this:
[code]
Note that there will be a check numerics on the output of the `softmax` here, and that looks fine.

But then check numerics (V2 now) again catches something related to `TensorArray`:
[code]
I'm not sure I fully understand this output

[2020-06-13 12:12] MokkeMeguru opened #40431 "Please Remove Keyword check by append **kwargs in the tf.keras.Model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): over 2.0
- Are you willing to contribute it (Yes/No): Tes

[2020-06-13 12:14] MinghaoCheng commented on #40384
@sanjoy
Thanks for your reply,
here is the link to the repo:
https://github.com/MinghaoCheng/tensorflowCC_infer_aync

[2020-06-13 12:46] xlnwel commented on #40397
Hi, @Saduf2019 . Here's a colab file I create. Please check it
https://colab.research.google.com/drive/1nBuYrmmH5kM0jbtIZdsuiG6uJbU6mpA7?usp=sharing

[2020-06-13 13:05] albertz commented on #40228
I think this whole test case actually only triggers the problem that the flow of a TensorArray is uninitialized and can be inf or nan in some cases, and `check_numerics` catches that.
`check_numerics_callback.IGNORE_OP_OUTPUTS` should probably be extended by `(b"TensorArrayV3", 1)` and maybe other entries.
Unfortunately this does not explain my original problem then... (which is inf/nan or just un

[2020-06-13 13:13] sayakpaul opened #40432 "Slow computation when no gradients exist w.r.t a layer"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 2.2.0
- Python version:

[2020-06-13 13:17] albertz commented on #40228
Note that with the same test case, without the `check_numerics` test, I also have seen strange hickups of the loss (going up and down) with TF 1.15. This probably points at another problem, and this might be more related to the original problem I described.
Unfortunately I don't see the same behavior in Colab. The loss always seems to go down there. Maybe this needs some other GPU or other environ

[2020-06-13 13:22] LeeJongAnn opened #40433 "Please somebody help me......"
I tried MUNIT-Tensorflow and I have this problem

somebody help me please,

environment = python 3.7
tensorflow version = 1.4

WARNING:tensorflow:From main.py:91: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From main.py:94: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

2020-06-13 21:57:38.695873: I tensorflo

[2020-06-13 14:29] Faiza-K commented on #39367
I have the same issue

[2020-06-13 14:37] busssard commented on #40409
@amahendrakar i know that my CPU does not support AVX2
something python mentioned to me every time i let it run.
But as it was still running on my CPU i did not even consider that it would not be possible to use my GPU..
Is there a workaround? Or is my PC only able to use the CPU :(
Should i deinstall the tensorflow-gpu package and give up?

[2020-06-13 14:39] antonyharfield commented on #27303
@sailorbj I have put my YAMNet code in a repo and also written up the steps if you are still interested: [Converting YAMNet audio detection model for TFLite](https://medium.com/@antonyharfield/converting-the-yamnet-audio-detection-model-for-tensorflow-lite-inference-43d049bd357c)

[2020-06-13 14:49] JuliaH22 commented on #40422
At first I uninstalled anaconda and all the NVIDIA programs I had before, to start over from scratch.
Then I followed every step of this tutorial in detail:
https://www.youtube.com/watch?v=qrkEYf-YDyI
Step 1: I have NVIDIA Geforce GTX 1050 Ti, I installed the GTX 1650 driver
Step 2: I downloaded the updated Setup Script provided in https://github.com/jeffheaton/t81_558_deep_learning
To search for

[2020-06-13 14:51] JuliaH22 commented on #40422
I'm still getting the same error, even with the reinstallation of tensorflow using pip.

[2020-06-13 14:51] 2er0 commented on #40227
I tried to build the `master` branch but got and patch issue.

Setup:
* Fedora 32
* Nvidia GTX 1080 Ti
* Cuda 11 + Cudnn 8
* Bazelisk + gcc 10.1.1

[code]

Main issue for building TensorFlow manually is that I'm unable to install any of those Cuda versions 10.1/10.2. [forums.developer.nvidia.com](https://forums.developer.nvidia.com/t/cuda-10-1-243-10-1-update-2-ppc64le-run-file-installation-issue/

[2020-06-13 15:28] AnimeshMaheshwari22 commented on #40422
You can follow the steps mentioned in the article below and check if it works.
https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc

If it does not work, try pip install tensorflow==2.1. Found this here: https://github.com/tensorflow/tensorflow/issues/37525.

[2020-06-13 15:35] biswajit310 opened #40434 "zsdonghao / u-net-brain-tumor"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-06-13 15:38] biswajit310 commented on #40434
I need to implement this code. Please help. I am getting error on train.py module.
TypeError: zoom_multi() got an unexpected keyword argument 'is_random'

[2020-06-13 15:42] penpornk commented on #40208
The issue is because `-DINTEL_MKL` did not get passed to `cpu_feature_guard.cc`. (To pass `-DINTEL_MKL` configuration, the BUILD file needs to add `copts = tf_copts()` for the target `//tensorflow/core/platform:cpu_feature_guard`.)

Since both vanilla TF and TF-MKL uses MKL-DNN at the time, I removed the `INTEL_MKL` guard and made both display the same message (saying MKL-DNN is used) in:  https:/

[2020-06-13 16:29] jazlielee opened #40435 "neural structured learning for NLP text classification"
I like the idea of neural structured learning, would like to use the adversarial concept on NLP. I'm using bidirection LSTM model to classify a text input and sequence of the words is important. I want it to be able to identify similarity of the sequence of text

can I used neural structured learning so that it can generate 'textual perturbation' for training purpose for the given sentence to incr

[2020-06-13 16:49] jerry73204 opened #40436 "On the endianness of TensorProto::tensor_content"
This is a re-post from [tensorflow forums](https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!topic/discuss/6ZaRNUF_--g).

I looked into the implementation of conversion from/to the protobuf type TensorProto, and feel confused on the endianness of the underlying storage.

In my understanding of the decoding process, it checks if TensorProto::tensor_content is emp

[2020-06-13 16:50] nammbash commented on #40208
@penpornk @preethivenkatesh Let me do this change to the PR associated with the cpu_feature_gaurd here https://github.com/tensorflow/tensorflow/pull/40330#discussion_r439675263

[2020-06-13 16:51] JCruk commented on #40400
I was able to build successfully by using the bazel-2.0.0 binary, rather than letting bazelisk select the version.

Perhaps coding the required version facilitate successful builds with bazelisk.

[2020-06-13 16:51] #40400 closed

[2020-06-13 17:12] Saduf2019 commented on #40430
@zhaojc001
Please provide with details on why are you claiming there is an issue with the documentation

[2020-06-13 17:13] Saduf2019 commented on #40427
@hellozmz
Please provide details on the mentioned requirement.

[2020-06-13 17:14] penpornk commented on #40208
@nammbash Sounds great! (Although it sounds like we could use one string for both again. See [here](https://github.com/tensorflow/tensorflow/pull/40330#discussion_r439659273).)

[2020-06-13 18:02] JuliaH22 commented on #40422
Same problem even with pip install tensorflow==2.1  ! Sorry, i already saw that issue

[2020-06-13 18:07] JuliaH22 commented on #40422
Thank you for this article. I will follow these steps

[2020-06-13 18:48] luang008 commented on #34313
I solved a similar issue following [this guide](https://www.tensorflow.org/lite/guide/ops_select#android_aar).

Particularly adding this into **build.gradle**:

`
android {
    defaultConfig {
        ndk {
            abiFilters 'armeabi-v7a', 'arm64-v8a'
        }
    }
}
`

to filter unnecessary ABI dependencies.

[2020-06-13 18:57] TheNewSound commented on #40435
This is not a question for the Tensorflow source code repository? More something for stackoverflow?

[2020-06-13 19:07] viva2202 commented on #33255
same here.
torch==1.4.0
in colab

[2020-06-13 19:20] arunumd commented on #33255
I am interested in seeing a long term solution for this issue which seems to be quite common for many people who are using Tensorflow 1.x. For what it is worth based on the face value of it, it seems like an API issue which cannot be fixed by users. This issue is not resolved until it is proven that there is a permanent fix to this problem.

[2020-06-13 19:30] ethanyanjiali commented on #39918
Seeing a same error, i doubt it's about type mismatch because when I load the SavedModel into TFServing, it worked well. So it should be something specific to TFLiteConverter

[2020-06-13 19:32] ethanyanjiali commented on #39918
@jvishnuvardhan i think @uidchet has already provided a SaveModel for you, most likely you just need to run the converter over it.

[2020-06-13 20:15] OriAlpha commented on #39949
the page is giving errors as below
Sorry, the file you have requested does not exist.

[2020-06-13 20:16] ethanyanjiali commented on #40221
Seeing a same error

[2020-06-13 20:17] dhiegomaga commented on #35030
Having the exact problem. Also, it appears to me that each epoch the RAM usage increases more and more, to the point it crashes.

[2020-06-13 20:18] dhiegomaga commented on #35030
Btw, if you want to prevent Linux from freezing everytime it uses all the RAM, and just crash the malfunctioning program (i.e., tensorflow), I recommend using:

[code]

[2020-06-13 21:02] pavanky commented on #40208
@preethivenkatesh we dont have a wheel ready with MKL right now, just the java jar file. Is there a way to test it from Java ?

[2020-06-13 21:10] ankitgupta04 commented on #36358
if(logs.get('acc') or if(logs.get('accuracy')
depend on what you stored     return history.epoch, history.history['acc'][-1]

[2020-06-13 21:27] gowthamkpr commented on #40373
@huonw This is a duplicate of the issue #38465

[2020-06-13 21:35] albertz commented on #40228
I'm able to reproduce getting *nan* now. This only seems to occur on TF 1.15.
The full version of the modified test case can be found [here](https://github.com/albertz/playground/blob/21d081ef01a4b8a97b99ce12c99d7e72e4d5685b/tf-test-tensorarray-bug.py). This includes a copy of `LSTMBlockCell` as this was removed in TF 2.2.0, but the raw op is still there, so I copied in the cell class.
`LSTMBlockC

[2020-06-13 22:00] ZiZizou opened #40437 "Issue with tensorflow not being able to use my gpu after installing cuda and cuDNN"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): used sudo pip3 install tensorflow-gpu and sudo pip3 install tensorflow to install both versions.
- TensorFlow version (use command below): 2.2.0
- Python version: 3.8.2
- CUDA: release 10.1
- cuDNN version: 7.6.5
- GPU model and memory: Geoforce GTX - 1050

[2020-06-13 22:02] jvishnuvardhan commented on #39949
Can you please check this https://github.com/tensorflow/tensorflow/issues/39564. Thanks!

[2020-06-13 22:13] grudloff commented on #40437
hey, I resently installed cuda an cudnn in my machine (ubuntu 18.04) so maybe I can help you. Clearly there is some issue with your cudnn install. How did you install it?

[2020-06-13 22:15] ebraraktas opened #40438 "Building TF Lite C++ shared library for macOS, linux, iOS and Android"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave (10.14)
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.2
- Python version: 3.7
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 3.1.0
- GCC/Compiler version (if compiling from source): Apple clang version 11.0.0 (clang-1100.0.33.1

[2020-06-13 22:18] grudloff commented on #37505
Hey, same issue here on Windows machine. Seems to be related to multiple model fits over generators, it clearly seems like a memory leak from tensorflow side, deleting all variables and calling garbage collector won't fix the issue. Managed to evade the problem by setting `workers = 1`.

[2020-06-13 22:20] aminou014 commented on #39130
verify that you have python 64bits , it solved my problem , i'm using python3.8 win10 64bits

[2020-06-13 22:39] robcaulk commented on #36036
Any chance we can reopen this request considering TF32 is only supported by Ampere, where as the `CUDNN_TENSOR_OP_MATH_ALLOW_CONVERSION` is supported by Volta and Turing?

[2020-06-13 22:50] ethanyanjiali commented on #24607
Seems like the issue is only resolved for non-quantized version of `tf.lite.TFLiteConverter.from_keras_model`, but not `tf.lite.TFLiteConverter.from_concrete_functions` or `tf.lite.TFLiteConverter. from_saved_model`

[2020-06-13 22:57] alex-wey opened #40439 "tensorflow-gpu==1.13.1"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow version: 1.13.1
- Python version: 3.6.9
- Installed using: Miniconda3, pip3
- GPU model and memory: Google Colab

**Description of the problem**
 In order to run this python script, TensorFlow-GPU and TensorBoard both version 1.13.1 are required. According to the log, the second code block does run successfully

[2020-06-13 23:08] ZiZizou commented on #40437
Installed cuda toolkit with the following command -
`sudo apt install nvidia-cuda-toolkit`
Then I followed the steps on the nvidia website for cuDNN to install cuDNN 7.6.5 for cuda 10.1 from a tar file from the following link -
https://docs.nvidia.com/deeplearning/sdk/cudnn-install/index.html

[2020-06-13 23:33] grudloff commented on #40437
what does your terminal display if you run `nvidia-smi` ?

[2020-06-13 23:35] ZiZizou commented on #40437
nvidia - smi shows:
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.64       Driver Version: 440.64       CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU

[2020-06-13 23:38] grudloff commented on #40437
if you go to `/usr/local/` what `cuda-x.x` folder(s) do you see? ( you can do this with `cd /usr/local` and then 'ls')

[2020-06-13 23:41] ZiZizou commented on #40437
I don't have a /usr/local/cuda directory.
Rather I have a /usr/lib/cuda directory
does this mean something is wrong ?

[2020-06-13 23:43] grudloff commented on #40437
I don't think so, but you moved the cudnn files to `/usr/lib/cuda` then?

[2020-06-13 23:43] ZiZizou commented on #40437
yes

[2020-06-13 23:49] grudloff commented on #40437
Then you did that just fine, not really sure what the issue could be. The discrepancy between `nvidia-smi` and `nvcc --version` is odd though, but from what I read what `nvidia-smi` displays isn't necesarily true.

Maybe you can try the deb alternativo of cudnn installation, don't forget to erase the previous files you moved to cuda. Also as a sanity check, that this is no tensorflow issue but rat

[2020-06-13 23:52] ZiZizou commented on #40437
I think the debian files are only for the ubuntu 18.04 and below. I do not want to risk ruining something on this version of ubuntu 20.04, but I will look at other methods. Thank you for your quick responses!

[2020-06-13 23:55] jazlielee commented on #40435
I'm not sure where to get support for 'how to' or feature question.

On Sat, Jun 13, 2020, 11:57 AM TheNewSound <notifications@github.com> wrote:

[2020-06-13 23:57] sumeshpandit commented on #33851
Hey, can you share that float model which you modified.

[2020-06-13 23:59] grudloff commented on #40437
No problem, good luck! I recommend you try to install cuda toolkit from some official nvidia source as `nvidia-cuda-toolkit` isn't made by nvidia and maybe it's incompatible with that cudnn installation method.

[2020-06-14 00:05] ethanyanjiali commented on #24607
i think this issue might be related: https://github.com/tensorflow/tensorflow/issues/40268
try use float32 instead of uint8 for input

[2020-06-14 00:11] ethanyanjiali commented on #40268
Seeing same error, with tf-nightly 2.3.0.dev20200613, it says:
[code]

[2020-06-14 00:29] TylerTheHumanCompiler commented on #40081
Doublepost to notify dev team about my mistake (see Update in previous comment) so they may not waste any time trying to recreate my error in tf 2.1.0. This comment can be deleted.

[2020-06-14 01:09] BryanBo-Cao commented on #25160
@roebel https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-630420518
@kabylan https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-641978924

I think it's related to GPU memory as well, I was trying to run https://keras.io/examples/rl/deep_q_network_breakout/ in the following environment:

GPU: RTX 2060 Super
| OS/Driver/Lib  | Version |
| ------------- | ------------

[2020-06-14 01:09] vkyprmr commented on #24828
I was facing the same issue recently. I have an RTX 2060 and CUDA 10.2, OS: Ubuntu.

I installed tf-gpu 2.2 using conda. See image for cudnn and Cuda version.
![nvidia-cuda-cudnn](https://user-images.githubusercontent.com/65457337/84581611-68768280-ade3-11ea-83c2-51e99e82a6d9.png)

For me, this worked:
gpus = tf.config.experimental.list_physical_devices('GPU')
    #The variable GB is the memory si

[2020-06-14 01:10] BryanBo-Cao commented on #24496
I had similar issue before. limiting memory helped. https://github.com/tensorflow/tensorflow/issues/25160#issuecomment-643703167

[2020-06-14 01:26] guptapriya commented on #39268
All the inbuilt metrics handle distribution strategy be defining update_state and result methods. There are wrappers for those in [metric_utils](https://github.com/tensorflow/tensorflow/blob/5d49dc5526324443931a33cc84d66c8bcae9cea2/tensorflow/python/keras/utils/metrics_utils.py#L63) which get used and handle the logic to make those methods work in distribution strategy context.

But all of them re

[2020-06-14 01:35] guptapriya commented on #39753
You don't need the graph context, I think make a separate graph is probably causing the problem you saw earlier. So running without that is the right thing to do.

Regarding that warning: when using model.fit with MultiWorkerMirroredStrategy, we try to shard your data across workers by sharding the files across them. but when the dataset doesn't read from files like in this case, we cannot do that

[2020-06-14 03:11] MedAbdelkaderAbba commented on #29663
I have the same problem with set_weights, when using tensorflow_probability.

[2020-06-14 03:32] HoangTienDuc opened #40440 "add None 0-dimension to output tensor (tf2)"
to get dynamic batch, i need to add None to below ouput tensor.
[code]
Can someone guide me?

[2020-06-14 03:40] ThisIsIsaac commented on #36036
If it can help the performance on non-Ampere GPUs, it seems worth awhile. Would love to contribute!

[2020-06-14 03:59] ThiagoMateo opened #40441 "0-th dimension of output tensor is None. Why not support batch?"
my out tensor has shape = [None, 16]. Why doesn't support batch?
[code]

[2020-06-14 04:00] sanjoy commented on #36036
If we do this, we should unify the API with the TF32 API (or have a good reason for not unifying) https://github.com/tensorflow/community/pull/247.

[2020-06-14 06:09] #39794 closed

[2020-06-14 06:35] Jamesweng opened #40442 "image normalization preprocess in Tensorflow Lite iOS object detection examples"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-06-14 08:00] alansplaza opened #40443 "**stop_if_no_decrease_hook** did not work during training?"
[code]

Using the code, as the params define, the evaluation should be processed every 13 training steps and the training process should be ended if the loss did not decrease.

But it keep training and did not do evaluation every 13 training steps.

[2020-06-14 08:53] Verythai commented on #36508
Yes, simply works! Thank you.

[2020-06-14 09:27] AasthaNagpal opened #40444 "Create a function to compute positive negative and neutral tweets."
# Create a function to compute negative (-1), neutral (0) and positive (+1) analysis
def getAnalysis(score):
if score < 0:
  return 'Negative'
elif score == 0:
  return 'Neutral'
else:
  return 'Positive'
df['Analysis'] = df['Polarity'].apply(getAnalysis)
# Show the dataframe
df

This program doesn't creates analysis column.

[2020-06-14 10:09] #40008 closed

[2020-06-14 10:09] #39664 closed

[2020-06-14 10:21] LeonidBeynenson commented on #31231
@etsygankov

Thank you for this comment. It helped me very much when I had a similar issue.

[2020-06-14 11:34] fengyang0317 commented on #30818
@jhseu Is there any updates? I tried to use tf.py_function inside dataset.map and still gets an error on TPU.

[2020-06-14 11:35] cuge1995 opened #40445 "Keras Reshae layer doesn't support in tf 2.2 ?"

[2020-06-14 11:35] farhadinima75 commented on #34346
I still have the same issue with PyFunc in collab with TPU and Tensorflow 2.2

Any suggest?

[2020-06-14 11:36] cuge1995 commented on #40445
Reshape layer

[2020-06-14 12:10] Sahil2712 commented on #40219
Saduf,
I'm sorry.
I was busy due to exams. I'm using windows 10,i5 processor and in jupyter
notebook,tenserflow 2.0 version.
If I run it in tf 1.9 I'm getting output but not in 2.0.
Thanks,
Sahil Naik

On Sun, Jun 14, 2020, 4:39 PM tensorflow-butler[bot] <
notifications@github.com wrote:

[2020-06-14 12:15] pndiaye opened #40446 "_load(spec) ImportError: DLL load failed while importing _pywrap_tensorflow_internal"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): calling HMR
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): https:/

[2020-06-14 12:16] syamsruthin commented on #40266
@amahendrakar  any update on this?  were you able to reproduce this issue?

[2020-06-14 13:09] #39993 closed

[2020-06-14 13:26] dhiegomaga opened #40447 "[Using tf.function()] ValueError: Input 0 of layer dense is incompatible with the layer"
**Set up:** Using tensorflow 2.2.0 on python 3.7.

**Background**: I'm just trying to get the **concrete function** of a simple `tf.keras.Model` to save it using SavedModel and use it later, yet there is no example of doing so in the documentation. Trying to perform this _simple task_ following the documentation gives the following problem:

**Issue (possibly bug)**
I'm trying to run a very simple

[2020-06-14 14:00] syamsruthin commented on #40266
@amahendrakar  Modified the notebook that you shared. I'm able to reproduce the error. You can find the results there in the notebook.
https://colab.research.google.com/gist/syamsruthin/c64279c9e348b39d558b0ceba2697baa/40266-1-15.ipynb

[2020-06-14 14:30] bondhugula opened #40448 "tf_ops.cc takes 79s to compile / 4300+ lines long"
This is with TensorFlow at commit 80768cb23a3a4314c52af0b48a6bcf23ca541e19. The file
tensorflow/compiler/mlir/tensorflow/ir/tf_ops.cc is about 4300 lines long and takes nearly 79s by itself to compile on a fast workstation (Intel Skylake-based Core i7 8700K 3.70GHz) with a typical bazel config below. It'll be great to split this file into two.
[code]

[code]

To reproduce, please change tf_ops.cc

[2020-06-14 15:05] robcaulk commented on #36036
Do you have a fork/branch where you have tested this? If so, I'd like to compile it and test I on VGG19 inference.

Question: do you know if the use of this enum value `CUDNN_TENSOR_OP_MATH_ALLOW_CONVERSION` is any different from the environment variable `TF_ENABLE_CUDNN_TENSOR_OP_MATH_FP32` that was experimentally added by nvidia in their [v18.09 package release](https://docs.nvidia.com/deeplearn

[2020-06-14 15:08] bjourne commented on #39341
You can workaround it by changing the metrics argument to `metrics = ['sparse_categorical_accuracy']`.

[2020-06-14 16:18] milinddeore commented on #24581
With exactly same build environment got exactly same error.
Added information, i tried with tensorflow v1.8.0 and v1.12.0 tags.
Is there a fix for this?

[2020-06-14 16:49] pushkarkishore opened #40452 "Error popping up"
Pl. pin-point the line in the code from which the error is coming?

class ReconstructingRegressor(keras.models.Model):
    def __init__(self, output_dim, **kwargs):
        super().__init__(**kwargs)
        self.flatten1 = keras.layers.Flatten(input_shape=[109,109])
        self.hidden = [keras.layers.Dense(30, activation="relu",
                                          kernel_initializer="lecun

[2020-06-14 16:57] OriAlpha commented on #31008
is there any way around to do this

[2020-06-14 17:04] bjourne opened #40453 "model.fit() is 10% slower over custom training loops when using TPUs"
I've created two training loops for training models on TPUs. One using the model.fit() method and one using a custom training loop based on information I've found in various notebooks.

The custom training loop consistently beats model.fit() by 10-15%.

Some overhead for using model.fit() over custom code is of course acceptable but 10-15% seem excessive. Maybe there's a bug somewhere?

Here are t

[2020-06-14 17:34] harsh306 commented on #31927
I also have the same issue. I tired with Tf-nightly. And also tried switching to function API. Both do not seem to work.

[2020-06-14 17:47] minesh1291 opened #40454 "predict method of tf.estimator is very slow"
May be this is already known thing for others and this can be a duplicate issue. But could not find relevant information about this. Please let me know if there is way to deal with this.

Thanks.

<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs,

[2020-06-14 18:03] amahendrakar commented on #40446
@pndiaye,
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from a similar issue and let us know if it helps. Thanks!

[2020-06-14 18:28] pndiaye commented on #40446
Hi @amahendrakar I have indeed insalled vc_redist and can find msvc140_1.dll and my cpu does support AVX. my version of python 3.7 is 64 bits too.
I have looked in the "C:\Users\dell\AppData\Local\Programs\Python\Python37\Lib\site-packages\tensorflow\python" directory and found "_pywrap_tensorflow_internal.lib" from the error it seems a "dll" is expected?!
thanks for your help

[2020-06-14 18:33] pndiaye commented on #40446
ps: I can reproduce this issue with tensorflow cpu 1.13.1  and 2.1.0

[2020-06-14 18:56] natario1 commented on #26297
@impjdi any suggestions on how to fix this error? It seems to be an issue with the BHWC > BHWC4 conversion, but I have no clue at how to address it.

[code]

I create the object def and tensor object as follows:

[code]

Then pass both to the delegate before `ModifyGraphWithDelegate`. They are correctly passed to the inference runner and the runner builder, however I get that converter error.

TF

[2020-06-14 19:07] amahendrakar commented on #40266
@syamsruthin,
Sorry for the delayed response. I am still unable to reproduce the issue.

On running the code, I am facing an error stating `ValueError: Invalid tensors 'input_1' were found.` Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/878b611c6dfe8bf617634647d7a8d329/40266-1-15.ipynb#scrollTo=rIs794paf4Ql). Thanks!

[2020-06-14 19:45] getsanjeev commented on #20980
@DoritoDog I see that codelab example (flower classification) shows moblenetv2 training with 0-1 based pre-processing, but in android after tflite conversion in floating point model, they use -1, 1 based preprocessing.
Could you please help by justifying or confirming that its wrong there.

[2020-06-14 19:47] ymodak commented on #40028
Did you install Jupyter in the TensorFlow environment?

[2020-06-14 19:50] ymodak commented on #40182
@sangmeshcp Is this still an issue? If yes, does the suggestion posted by @youngtf work for your case?

[2020-06-14 19:53] #38569 closed

[2020-06-14 19:55] #39178 closed

[2020-06-14 19:55] #39215 closed

[2020-06-14 19:56] ymodak commented on #39699
Closing this issue for now. Feel free to reopen if necessary. Thanks!

[2020-06-14 19:56] #39699 closed

[2020-06-14 19:58] #40348 closed

[2020-06-14 20:03] margaritageleta opened #40456 "Model trained and saved on GPU fails at model open on CPU"
Hi, this does not seem right. I have been training some models on TS-877 Ryzen-based NAS with 8 cores and 16 threads, and a GeForce GTX 1060 6GB graphics card, in a gpu-docker container Tensorflow:2.1.1-gpu-notebook (with CUDA version V10.1.243); then I have saved them as usual with `model.save()`. When I open them inside the container, everything works fine:

[code]

**Describe the current behavi

[2020-06-14 20:04] spate141 opened #40457 "TF 2.2.0: Error with model.fit; class_weight is only supported for Models with a single output."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Using custom loss function
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1, 7.6
- GPU model and memor

[2020-06-14 20:07] Lucysmith8 opened #40458 "Deploy an application with tensorflow"
**System information**
- windows 10:
- load_model and image
- TensorFlow 2.2
- Python 3.7
- Installed using pip

**Describe the problem**

I am trying to deploy an application on my local server using tensorflow. But I have a problem. In fact, I create an executable of my application by including tensorlfow, but impossible to include tensorflow since it tries to get modules in python \ lib \ sites

[2020-06-14 21:28] Fennecai opened #40459 "ImportError: No module named '_pywrap_tensorflow_internal'"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): i don't know which one; I'm fairly new to this. i installed via the command `pip install --user --upgrade tensorflow` iirc
- TensorFlow version: I am not sure; but its the version that pip currently installs i guess.
- Python version: 3.8.3
- Installed using virtualenv? pip? conda?: pi

[2020-06-14 21:36] natario1 commented on #26297
After many hours, I think I hit a bug that is still present in 2.2.0, but was fixed in master by these commits: https://github.com/tensorflow/tensorflow/commit/4000a5c75cdbe49d77bcac93a7f21070a31c4cce https://github.com/tensorflow/tensorflow/commit/dffe6a0e810f4c3d9968ddb56fd58c8f405eb846

For those who are interested, in short, the fact that I'm using BHWC with 1 color channel (instead of 4), req

[2020-06-14 21:37] kathy-lee opened #40460 "Can tf.keras.utils.normalize be verified by tf.norm?"
I tried using `tf.keras.utils.normalize` to normalize the MNIST image dataset and then checking the normalized result with `tf.norm` on an arbitrary image (e.g. the 11th in the following sample) with:

[code]

but it gave me the following result:

[code]

I thought after normalization the max value of an arbitrary image should be `1` which is actually `0.88178858555868`. On the other hand, the nor

[2020-06-14 21:57] saharatech opened #40461 "Tensorflow 2.2.0 import error - DLL load failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Pro [Version 10.0.1

[2020-06-14 22:31] anferico commented on #38285
Is it possible to manually quantize/dequantize the inputs/outputs using the TFLite for Microcontrollers C++ library? Here you're just showing how to do that using the Python library..

[2020-06-14 23:35] samhodge commented on #39439
Please see the `config.pb.h` and `config.pb.cc` resulting from `config.proto` in

https://github.com/tensorflow/tensorflow/commit/a94839d7910dc5dfa4b6cde20445b1d5a2fa53b8

ie

https://github.com/tensorflow/tensorflow/blob/r2.2/tensorflow/core/protobuf/config.proto

[protobuf.zip](https://github.com/tensorflow/tensorflow/files/4777388/protobuf.zip)

I will paste the relevant piece of code:

[code]

[2020-06-15 00:08] huonw commented on #38465
I filed #40373 separately and was referred to this as a duplicate. It seems like there's not a standalone reproducer listed here yet. Here's the one using `SparseTensor` from that issue:

[code]

Colab link: https://colab.research.google.com/gist/Saduf2019/56d0bb4e22fe010dbd150c6a8def9a54/untitled.ipynb

As I mentioned on the issue above, a helpful improvement here (potentially easier than fixing

[2020-06-15 00:09] huonw commented on #40373
It does look similar. I added a comment with my reproducer (and the gist) to that issue.

[2020-06-15 00:17] kinos9 commented on #40392
If you run `print(loaded1.tensorflow_version)` it prints 1.14.0.
May .pb version is incompatible with 2.2.0 one?

[2020-06-15 00:22] ethanyanjiali commented on #34326
@jdduke is ellipsis_mask supported in TF2.2 now? Seems like it's still not working.

[2020-06-15 00:41] CalebEverett commented on #40369
I have version 2.2 installed. Which version should I upgrade to?

[2020-06-15 00:52] ethanyanjiali commented on #36517
@srjoglekar246 @jianlijianli

While using latest tf-nightly build (tf-nightly-2.3.0.dev20200613), i noticed that it can convert a SavedModel generated by TF 2.2.0 to TFLite flatbuffer successfully. This verified the fix for ResizeNearestNeighbor with MLIR.

However, if I generate a SavedModel using this tf-nightly build, and convert again, it will fail and prompt something like `'tf.All' op is nei

[2020-06-15 00:53] katengames commented on #30864
asdfsadf

[2020-06-15 00:55] Wasiiiii commented on #15412
I use custom dateset while using code of stylegan. when it building tensorflow graph the following error will come: ValueError: Op type not registered 'MaxBytesInUse' in binary running on DESKTOP. Make sure the Op and Kernel are registered in the binary running in this process. Note that if you are loading a saved graph which used ops from tf.contrib, accessing (e.g.) tf.contrib.resampler should b

[2020-06-15 00:56] Wasiiiii commented on #15412
i also use differernt version of tensorflow but same result
Anyone here who fix this issue

[2020-06-15 01:07] ChenFengYe commented on #40278
To help someone new come, I find this problem may be related to the conflict between cuda and GPU Driver. In my case, I have no right to reinstall GPU driver. At first, I try to install cuda 11, but failed. Finally, I reinstall cuda 10.2 (this version can be correctly installed before), but it get broken again.

Some logs:
Results for `nvidia-smi`

| NVIDIA-SMI 418.43       Driver Version: 418.43

[2020-06-15 01:17] zhaojc001 commented on #40430
Tensorflow's Java API does not specify how to use GPU acceleration. The following content is configured in maven, but it has no effect:
<dependency>
  <groupId>org.tensorflow</groupId>
  <artifactId>tensorflow</artifactId>
  <version>1.8.0</version>
</dependency>
<dependency>
  <groupId>org.tensorflow</groupId>
  <artifactId>libtensorflow</artifactId>
  <version>1.8.0</version>
</dependency>
<depe

[2020-06-15 01:20] zhaojc001 commented on #40430
Please tell me how maven is configured, how to set GPU in the code, and how to specify GPU number.

[2020-06-15 01:53] mulka opened #40462 "passing labels=None to image_dataset_from_directory doesn't work"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS
- TensorFlow installed from (source or binary): tf-nightly
- TensorFlow version (use command below): v1.12.1-34068-g9a70ab8813 2.3.0-dev20200614
- Python version: 3.7.7

**Describe the current behavior**
Gives

[2020-06-15 02:09] #40020 closed

[2020-06-15 02:10] zhaojc001 commented on #40430
Please give an example of Java tensorflow API using GPU acceleration, including Maven and code parts, such as image classification.

[2020-06-15 02:11] ac1991 commented on #40350
I was able to compile TensorFlow version 2.2, but it is compatible with Android 4.4. So which version of TensorFlow compilation can support Android 4.4?

[2020-06-15 02:14] thaink commented on #40157
The PR got all required approval. I think it won't take too long.

[2020-06-15 02:14] ac1991 commented on #40350
I was able to compile TensorFlow version 2.2, but it is not compatible with Android 4.4. So which version of TensorFlow compilation can support Android 4.4?

[2020-06-15 02:16] thaink commented on #40420
Sure. let me make a PR.

[2020-06-15 02:17] jxfruit commented on #40176
@amahendrakar hi，could I  know your experiment environment ? Mine is based HUAWEI KUNPENG920. Is this causing the problem?

[2020-06-15 02:23] XinyingZheng commented on #8090
I find that file, in nn_impi.py min epsilon originally is 1e-5,but i still have this error,
InternalError (see above for traceback): cuDNN launch failure : input shape ([4,4,4,4])
so, how to fix

[2020-06-15 03:08] bzhaoopenstack opened #40463 "Add arm64 third-party CI"
**System information**
- TensorFlow version (you are using): 2.0+ and master branch
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently, Tensorflow only has the official build CI on X86 and third-party build CIs on x86 and ppc64. There is no CI for arm64. Adding a arm64 CI can help community to discover arm64 problems easily.

OpenLa

[2020-06-15 03:19] Hacky-DH commented on #39753
I had another question: is keras model run in eager mode without graph context in MultiWorkerMirroredStrategy scope? if not, is it run in tf.function?
Do I need pass run_eagerly=False to model.compile function?

[2020-06-15 03:20] samhodge commented on #39439
I am spending a little time on this today

but there are two work arounds

see this comment https://github.com/tensorflow/tensorflow/issues/23542#issuecomment-464730964

And on this thread the TF_EXPORT macro while it exposes symbols, this is not through a layer of `.proto` to `.pb.cc` and `.pb.h` compilation.

So we need a mechanism to expose symbols that are compiled through protobuf

[2020-06-15 03:22] terryheo commented on #40358
Please remove "--config=opt" option.

[code]

[2020-06-15 03:22] #40358 closed

[2020-06-15 03:46] Danliran commented on #40213
@gowthamkpr That`s all right, If this issue reproduce  in [TensorFlow Official Models ](https://github.com/tensorflow/models/tree/master/official), I will post it to tensorflow/models.

[2020-06-15 03:55] abattery commented on #38220
@beniroquai could you convert your model to tflite again with the nightly TFLite version? Your model needs to use flex version of slice op and the newer version of convert is able to handle the flex op fallback.

[2020-06-15 04:19] samhodge commented on #39439
OK I did get some progress

from this program

C++ driver as reccomended by @gunan

[code]

Output from MSVC 2019

[code]

The include directories are as follows:

[code]

it was linked to

[code]

Where these are artifacts created from

[code]

where script contains

`buildenv.ps1`

[code]

`build-tf.ps1`

[code]

Additionally
this C++ Driver

[code]

Produces

[code]

[2020-06-15 04:27] samhodge commented on #39439
So @sanjoy @gunan @meteorcloudy you now how reproduction steps using `r2.2` CUDA 10.2 MSVC 2019 and the CUDNN versions listed above.

here is my `git diff`

[code]

[2020-06-15 05:08] ravikyram commented on #40411
@yanglei-github

Do you have any use case that requires the feature you are interested in? Please feel free to submit a PR if you have use cases that supports that feature.Thanks!

[2020-06-15 05:10] amahendrakar commented on #40413
@Frank-Dz,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, please take a look at [this similar](https://stackoverflow.com/a/46067469) StackOverflow issue and let us know if it helps. Thanks!

[2020-06-15 05:13] Saduf2019 commented on #40439
@alex-wey
Is there any specific reason you are trying to install TensorFlow 1.12?
TensorFlow 1.x is not actively supported, instead could you please install the latest version of TensorFlow i.e. v2.2 and let us know if you are facing the same issue.

Please refer to this [comment](https://github.com/tensorflow/tensorflow/issues/39937#issuecomment-635397756) and let us know if it helps.
For more in

[2020-06-15 05:16] Saduf2019 commented on #40442
@Jamesweng
Please share simple stand alone code so we can replicate the accuracy for both and analyse the issue. or if possible share a colab gist with the issue faced.

[2020-06-15 05:17] Saduf2019 commented on #40445
@cuge1995
Please share simple stand alone code where issue is faced while using the reshape layer for us to analyse the issue faced.

[2020-06-15 05:20] Saduf2019 commented on #40454
@minesh1291
Please share simple stand alone code and version of tf where issue is faced for us to replicate it in pout environment.

[2020-06-15 05:21] Saduf2019 commented on #40219
@Sahil2712
Please refer to the issues shared with similar error.

[2020-06-15 05:23] Saduf2019 commented on #40448
@bondhugula
Please share platform details on which this issue is faced.

[2020-06-15 05:27] ravikyram commented on #40414
@v-sivak

I have tried in colab with TF-GPU version, 2.2.0, nightly version(`2.3.0-dev20200614`) and i am not seeing any issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d3ec007333a543a8dcc5bf6c6221315d/untitled17.ipynb).Thanks!

[2020-06-15 05:28] amahendrakar commented on #40416
@UcefMountacer,
In order to expedite the trouble-shooting process, could you please provide the `.py` file or the Python Notebook you are running along with all the supporting files. Thanks!

[2020-06-15 05:29] amahendrakar commented on #40416
Also, please mention the TensorFlow version you are using. Thanks!

[2020-06-15 05:34] ravikyram commented on #40417
@lokesharma-dev

Request you to share TF version you are using?.Please, share colab link or simple standalone code with proper indentation and supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-15 05:35] bondhugula commented on #40448
Done - added to the original post.

[2020-06-15 05:35] rxsang commented on #34346
Sorry unfortunately we haven't supported running PyFunc on TPUs externally, there are some technique challenges due to Cloud TPUs cannot connect to the client. We are still discussing and figuring out a plan for it, but currently it is not supported.

[2020-06-15 05:40] Saduf2019 commented on #40433
@LeeJongAnn
Please refer to issues with similar error:
#36456 #30748 #31102 [link](https://stackoverflow.com/questions/56820327/the-name-tf-session-is-deprecated-please-use-tf-compat-v1-session-instead)  [link1](https://github.com/ipazc/mtcnn/issues/40) [Link2](https://github.com/tensorflow/tensorflow/issues/35550)
Can you please upgrade to later version of tensor flow and let us know if you are f

[2020-06-15 05:43] ravikyram commented on #40395
@ryanmaxwell96

Request you to grant me the access for the colab link you have shared. Thanks!

[2020-06-15 05:44] amahendrakar commented on #40419
@AasthaNagpal,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-15 05:46] tastelessjolt commented on #38036
@karimnosseir Can you please reply to some of my doubts above? I'm tagging you as I forgot to tag you in the previous comments.

Thank you

[2020-06-15 05:46] Saduf2019 commented on #40418
@shilan
Please refer to this [link](https://stackoverflow.com/questions/47068709/your-cpu-supports-instructions-that-this-tensorflow-binary-was-not-compiled-to-u) and let us know if it helps.
#37876 #35052 #35056

[2020-06-15 05:53] ravikyram commented on #37667
@adamw96

Can you please try with TF nightly versions and see if the problem still persists.Thanks!

[2020-06-15 06:06] ravikyram commented on #40429
I have tried in colab with TF version 2.2, nightly versions(`2.3.0-dev20200614`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0f40a7e00bf059c154086323eee7ef94/untitled19.ipynb).Thanks!

[2020-06-15 06:18] ravikyram commented on #39195
@laghaout

This is not a bug in Tensorflow as we see the results as expected in the colab. Can you try again in virtual environment and see if the problem is still persists.Thanks!

[2020-06-15 06:20] Zumbalamambo commented on #40248
+1

[2020-06-15 06:22] beniroquai commented on #38220
Dear @abattery thanks for your quick reply; I've tested it on the nightly and get an error you can also find on [Stackoverflow](https://stackoverflow.com/questions/61362953/keras-convlstm2d-valueerror-when-saving-model):

[code]

I'm working on google colab and execute this code:

[code]

Any idea? Thanks!

[2020-06-15 06:22] zchrissirhcz commented on #25996
@iperov I've tried your pasted solution but still got annoying warnings.

[2020-06-15 06:24] amahendrakar commented on #40425
@OOF-dura,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the dataset you are using. Thanks!

[2020-06-15 06:31] guptapriya commented on #39753
In TF2, keras model.fit uses tf.function under the hood automatically. So you don't need to pass run_eagerly=False, it is False by default. run_eagerly is only needed if you actually need op by op execution.
High level question: why are you trying to use TF1 / legacy graph mode instead of just TF2 default?

[2020-06-15 06:31] Dominic23331 commented on #36423
My issue is same as you, and I don`t kown how to sove it.

[2020-06-15 06:41] abattery commented on #38220
I suspect that the some keras layer does not name. Could you make sure that every keras layer has name to be serialized?

[2020-06-15 06:42] AlexanderJLiu commented on #39008
It's seemed that problem still exists according to [colab here](https://colab.research.google.com/drive/12sUyrURdybadYmi-jjayB52LLhWTDcvv?usp=sharing) with tf-nightly-2.3.0-dev20200614.

Any reply will be greatly appreciated. Thanks~

[2020-06-15 06:42] cfabio commented on #40385
@vonadz I found something rather interesting, with the Tensorflow binary I compiled myself (version 2.2.0) I am able to use Tensorflow Probability (both self compile or installed from PIP) version 0.7, anything newer than that gives the same error:
[code]

[2020-06-15 06:42] MitskiP commented on #38971
@ymodak I wonder about the status "awaiting response from author" - as far as I understand, this issue should be fixed if the build target includes some lower capability versions. I can, of course, recompile TF by myself as @cova-fe did, but as the [minimum requirements for TF](https://www.tensorflow.org/install/gpu) states Compute Capability 3.5 or higher as requirement, I think this should be fi

[2020-06-15 06:57] ravikyram commented on #40432
I have tried in colab with TF version 2.2 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/38cf90d8d3cbe7257fc9843047922038/untitled21.ipynb).Thanks!

[2020-06-15 07:02] beniroquai commented on #38220
Just to clarify the term "name". You mean the name for a given layer, right? I double checked it and checked the output of model.print:

[code]

Each layer should have a name, but the error stays the same. The training ran on TF2.2.0, converting in colab on TF-nightly. Could this be an issue?

[2020-06-15 07:03] mouryareddy commented on #25044
If depth_to_space isn’t supported even now, Can you tell me an alternative to depth_to_space which I can convert to tflite.

[2020-06-15 07:10] ravikyram commented on #40435
@jazlielee

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-06-15 07:14] ravikyram commented on #40441
@ThiagoMateo

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Request you to share colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-15 07:15] beniroquai commented on #38220
I tested training, saving and exporting on TF-nightly, but it gave the same error.

[2020-06-15 07:20] abattery commented on #38220
@k-w-w could you help us to avoid the above error?

[2020-06-15 07:20] ravikyram commented on #40444
@AasthaNagpal

This issue is not related to Tensorflow.

This question is better asked on StackOverflow since it is not a bug or feature request related to Tensorflow. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-06-15 07:24] lokesharma-dev commented on #40417
@ravikyram
Tensorflow 2.2.0
Colab link: [https://colab.research.google.com/drive/1sdv-sGE80HwdPKkl_p3gakhkxgKO-zRv?usp=sharing](url)

The files required are attached. In case anything is not accessible. Kindly notify.
Thanks for your time.

[npy_files.zip](https://github.com/tensorflow/tensorflow/files/4778628/npy_files.zip)

[2020-06-15 07:29] iperov commented on #25996
@zchrissirhcz

[code]
I don't have any warnings. Tested in DeepFaceLab.

[2020-06-15 07:29] AngelBerihuete commented on #39417
Many thanks @brianwa84 !

For me this is frustrating. I've spent three weeks trying to run your [notebook](https://colab.research.google.com/github/tensorflow/probability/blob/master/discussion/examples/cross_gpu_logprob.ipynb) using multiple GPUs, and I get no advance. I'm afraid I'm not asking myself the right questions.

I'll ask to slurm-discuss forum.

[2020-06-15 07:29] samhodge commented on #39439
Looking at this:

https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/arenastring.h#L249

[code]

Would this cause the allocator type and the visible gpu list to be on the same string.

[2020-06-15 07:30] terryheo commented on #40357
You can use benchmark tool with "--enable_op_profiling=true" to check how it's executed.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark
It seems that there is a regression on nightly. (I didn't see it when I tested)

What you said optimized model should be integer quantization.
https://www.tensorflow.org/lite/performance/post_training_quantization
Integer quan

[2020-06-15 07:32] LeeJongAnn commented on #40433
Thank you , Originally version 2.0 was used , but It doesn't work.. ㅠㅠ

[2020-06-15 07:32] evrial commented on #25996
`tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)`
is the only one and correct method. Works on any version too.

[2020-06-15 07:32] Jamesweng commented on #40442
Thanks for your reply Saduf, we finally verified that it's the wrong preprocess parameter in iOS causes the accuracy loss, when we change the iOS object detection example code

From

https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/ios/ObjectDetection/ModelDataHandler/ModelDataHandler.swift#L319

for i in 0..<bytes.count {
  floats.append(Float(bytes[i]) / 255.0)
}

[2020-06-15 07:33] LeeJongAnn commented on #40433
Thank you , Originally version 2.0 was used , but It doesn't work.. ㅠㅠ

[2020-06-15 07:36] ravikyram commented on #40447
I have tried in colab with TF 2.2 and was able to reproduce the issue. But with TF nightly version(`2.3.0-dev20200614`) i am seeing  different error `RuntimeError`.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ab008de764138bbcb0a038c92f7d5f05/untitled22.ipynb).Thanks!

[2020-06-15 07:41] dipendra009 commented on #38787
I am having the same issue but I am using Tensorflow 2.1.0 with Bazel 3.1.0. Do we have to add the tf-lite.aar file? I did build the TFLite using `bazel build -c opt --config=android_arm64 //tensorflow/lite:libtensorflowlite.so`. Could you please help me resolve it soon?

[2020-06-15 07:44] ravikyram commented on #40453
@bjourne

Can you please share colab link or complete code snippet to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-15 07:49] ravikyram commented on #40457
@spate141

Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-15 07:51] zchrissirhcz commented on #25996
@evrial No, what you paste is still not working. Actually what I'm using in the very begging of my imports is:
[code]

And after re-directing the stdout of my program to a file, the console still gives warning output, e.g.
[code]

[2020-06-15 07:52] zchrissirhcz commented on #25996
You don't have any warning doesn't mean other people don't get any warnings.

[2020-06-15 07:53] Saduf2019 commented on #40461
@saharatech
Please go through [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) and [this issue](#33348) and let us know if it helps.
[Link](https://github.com/tensorflow/tensorflow/issues/39423#issuecomment-628957625)

[2020-06-15 07:59] iperov commented on #25996
seriously you don't see what is wrong with your code?

[2020-06-15 08:01] ClementWalter commented on #40408
Hi, I have just rerun exactly your notebook and found the expected error, see this [gist](https://colab.research.google.com/gist/ClementWalter/581e1bf23cfdf591ec7b4b77732fa5e0/untitled.ipynb)

[2020-06-15 08:06] zchrissirhcz commented on #25996
@iperov Please preciously describe what you mean "wrong". There's no error in my code, only stdout and warnings, and warnings are from TensorFlow inside. I don't thinks this is wrong, and I think people who reach here are all in situations like me: dislike the warnings throwed by TensorFlow and would like to turn off them. What you pasted **does** eliminate some common warnings, **However it is st

[2020-06-15 08:08] iperov commented on #25996
look at my code again. If you don't see the differences, wash your eyes and look again.

[2020-06-15 08:17] zchrissirhcz commented on #25996
@iperov If you mean what I should attention is:
[code]

instead of mine:
[code]

Then, I think you don't understant what this switch mean. 3 standards for fatal message, while 2 standands for error. This different won't affect the warning output.

[2020-06-15 08:18] iperov commented on #25996
![sdf](https://user-images.githubusercontent.com/8076202/84634057-517a8200-af02-11ea-87f9-6992e32339ad.jpg)

[2020-06-15 08:19] zchrissirhcz commented on #25996
@iperov  Actually I just tried remove my previous imports, and replace with you pasted, i.e.

[code]

But it is still warning. I think you just mis-understanding me.

[2020-06-15 08:23] zchrissirhcz commented on #25996
@iperov Actually I don't know DeepFaceLab until you mentioned it. It's not persuasive to prove what you paste is definitely correct for other people's program. You'd better say "it would most possibly remove other people's warnings but not 100% sure".

[2020-06-15 08:24] busssard commented on #40409
the answer:

- deinstall all of tensorflow
- instsll tensorflow-gpu 2.0 (2.2 doesnt work maybe a windows 8 bug?)
- install cuda 10 (cuda 11 has no support yet)
- install CuDNN 7.6 (CuDNN 8 has no support yet)
- Set environment variable CUDA_PATH to path of the v10 folder of the CUDA installation
- restart the computer
- magic

[2020-06-15 08:24] #40409 closed

[2020-06-15 08:27] terryheo commented on #38787
@dipendra009 The ovic_benchmarker_binary should be built with bazel. You don't need to care of the library dependency since bazel handles it.

[2020-06-15 08:27] Hacky-DH commented on #39753
Thank you very much!

I heard that it is much slower in eager mode than graph mode in TF2. So I put model.compile and dataset construction forcely in graph context.

As you said I will try remove the graph context in TF2.

[2020-06-15 08:27] #39753 closed

[2020-06-15 08:32] bjourne commented on #40453
Sure! Here is my code: https://github.com/bjourne/python3-libs/blob/master/programs/char_lm_tf.py

[2020-06-15 08:56] wss020 commented on #25938
Hi, I change to use
model.compile(optimizer='adam', loss="sparse_categorical_crossentropy",metrics=['accuracy'])
, but the accuracy is keeping to be 0.58 and not change. When I use loss = tf.losses.SparseCategoricalCrossentropy(), the accuracy is keeping changing and looks normal. Do you have this problem?

[2020-06-15 08:56] rambowding commented on #40121
I hope that my data files are not public on github or web，could I send the file's download url to you via email?

[2020-06-15 08:59] hbeybutyan opened #40465 "Tensorflow Java API reliability/stability guaranties"
Hello everyone

I want to use the TensorFlow Java API ( https://www.tensorflow.org/install/lang_java )

On the official page provided above it is stated that "Caution: The TensorFlow Java API is not covered by the TensorFlow API stability guarantees."

I have read the "TensorFlow API stability guarantees", googled little and still have the following questions:

1. If I will load the trained model

[2020-06-15 09:25] amahendrakar commented on #40428
Was able to reproduce the issue with TF v2.2. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/cdb487d23951c4590be18bf54c77d1fb/40428.ipynb#scrollTo=sxxO4Lyy5dp-). Thanks!

[2020-06-15 09:30] MikhailStartsev commented on #39905
Ooookay, finally an update! @gunan @Artem-B @av8ramit @bmzhao, in case you are interested, the issue that I was experiencing before was connected to the fact that bazel **clears the environment** at some point or other during its build ahead of some operations. Turned out that my system had a special env variable set up, which led to the error I saw being produced by a script that is executed when

[2020-06-15 09:41] NeoZhangJianyu commented on #39824
@oracle3001 We will check as soon!

[2020-06-15 09:46] jappoz opened #40466 "LoadSavedModel very slow in loading the net"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3.5.2
- Bazel version (if compiling from source): 2.0.0

[2020-06-15 10:00] amahendrakar commented on #40459
@Fennecai,
The GitHub repo you have linked was tested with TF 1.x. I was able to run the `test.py` file on TF v1.15 without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/612b9aa8e1daeb46b7f99a94f9840ca5/40459.ipynb). Thanks!

[2020-06-15 10:08] byronyi commented on #40130
You could take a look at https://github.com/tensorflow/tensorflow/issues/27495#issuecomment-481101932

[2020-06-15 10:08] basheerghub commented on #40459
A similar problem is raised for me. If you can help it will be greatful
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
~\.anaconda\anaconda1\envs\deeplearning\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal

[2020-06-15 10:09] amahendrakar commented on #40434
@biswajit310,
This question is better asked on [StackOverflow](https://stackoverflow.com/questions/ask) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there. Thanks!

[2020-06-15 10:09] hellozmz commented on #40427
now tf support op:SparseFillEmptyRows, but not support the op in tflite, so I want to know when can you support the op in tflite.

[2020-06-15 10:11] ravikyram commented on #40417
I have tried in colab with TF version 2.2, nightly (`2.3.0-dev20200614`) and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/d94285436c4b8a589cc958d4757482e6/untitled20.ipynb).Thanks!

[2020-06-15 10:40] vineeths96 opened #40468 "Gradient compression"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

**De

[2020-06-15 10:45] Saduf2019 commented on #40433
@LeeJongAnn
Please let us know if you have referred the links shared and was it helpful.

[2020-06-15 10:49] leejaeyeop commented on #29443
Thanks to everyone! I was considering about removing squeeze and excite block from the network as it is too slow. But, after I switched GlobalAveragePoolin2D to tf.nn.avg_pool2d and now it becomes faster 👍

[2020-06-15 10:52] Saduf2019 commented on #40248
@Zumbalamambo
Please update as per above comment

[2020-06-15 10:53] msalvaris opened #40469 "Tensorflow Lite subtraction in TOCO quantized model takes longer than all the convolutions in a MobileNet v3 model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu/ARM
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2
- P

[2020-06-15 11:14] ravikyram commented on #40453
@bjourne

I have tried in colab with TF version 2.2 and  i am seeing the below error message(`ModuleNotFoundError: No module named 'observations'`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/5c0d2e9e5b178e3a8151ea015411afa1/untitled24.ipynb).Thanks!

[2020-06-15 11:30] Zumbalamambo commented on #40242
+1

[2020-06-15 11:41] eeesi opened #40470 "Using own dataset in microspeech project doesn't work"
@tensorflow/micro

**System information**

- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): currently working with Google Colab
- TensorFlow installed from (source or binary):
- Tensorflow version (commit SHA if source): Tensorflow 1.x
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Nano 33 BLE Sense

**Describe the problem**

Hello everyone,

I just started to g

[2020-06-15 11:42] PistaSaki opened #40471 "Equal function forgets static shape in graph-mode in tensorflow 2.1 and 2.2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Microsoft Windows 10 Enterprise
- TensorFlow installed from (source or binary): official pipy wheel
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: 3.7.6

**Describe the cur

[2020-06-15 11:47] LeeJongAnn commented on #40433
Thanks for trying to help ,I am student and It's final exam period (June 18~ 24) so ,
I'll definitely try and let you know

[2020-06-15 11:58] amahendrakar commented on #40437
@ZiZizou,
Please take a look at [this](https://github.com/tensorflow/tensorflow/issues/20271) similar issue and let us know if it helps. Thanks!

[2020-06-15 12:02] amahendrakar commented on #40440
@HoangTienDuc,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-15 12:09] #40014 closed

[2020-06-15 12:12] amahendrakar commented on #40443
@alansplaza,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow version you are using. Thanks!

[2020-06-15 12:24] meteorcloudy commented on #39439
@samhodge

I wrote a [win_cc_static_library](https://github.com/meteorcloudy/my_tests/tree/master/cc_static_library) rule to build a static cc library linked to all given transitive deps on Windows. Please check if it helps.

[2020-06-15 12:26] nikhileshp commented on #38518
I had the same problem when working with PyCharm. Tensorflow was working with all my python files but I couldn't run any Ipynb files from Pycharm. I always got that error when defining and TF model.
My tensorflow version in the Jupyter notebook was 2.3.0b, I uninstalled it and reinstalled Tensorflow 2.2.0 and it became normal.

Another factor that might have affected was that initially, the notebo

[2020-06-15 12:31] aa12356jm commented on #38285
Quantization aware training can not convert to int8 or unint8 ?
this is my code ,thanks.
https://colab.research.google.com/drive/1qPD3Zd5qU5FpMxj_aCwIpjn7y_eR_Wxt?usp=sharing

[2020-06-15 12:40] ddehun commented on #40372
@ravikyram , I'm working with @harrydrippin for this issue. We just made the[ issue regeneration step example on Colab.](https://colab.research.google.com/drive/1rDXQacODUQ-ycJM-HIPMcsn_wVgoBZoK?usp=sharing)

Due to the restriction about file system on Colab environment, **You may need to apply some changes for the appropriate setting to use TPU-based model training and logging.**

By the result o

[2020-06-15 12:42] ravikyram commented on #40471
I have tried in colab with TF version 2.1, 2.2 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/cf487e179e38859d2301e11969b41bbb/untitled25.ipynb).Thanks!

[2020-06-15 12:43] dcouwenh commented on #6720
@johnpjf Excellent -- thank you!  This is exactly what I was looking for.

For completeness, I have edited my code to include your solution for arbitrary input and output shapes.

[code]

And here is the output:
[code]

[2020-06-15 12:57] dhiegomaga commented on #40447
@ravikyram thanks for the collab file.
So, my question is if I'm doing it wrong or is it a bug. I tried following exactly the way it is instructed on the docs, but they are quite confusing.

My goal is just to get the concrete function of the model's `predict` method, so I can save it using `SavedModel` and use it elsewhere.

[2020-06-15 13:05] amahendrakar commented on #40452
@pushkarkishore,
On running the code I am facing an error stating `NameError: name 'avast' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f7e3c20519d747ab1a773f8def3c1206/40452.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and also the TensorFlow ver

[2020-06-15 13:07] dhiegomaga commented on #40447
I see that on nightly the error message is more useful:

[code]

So, when I did:

[code]
It actually worked! For some reason, you can't call `model.predict(x)` inside a `tf.function`, but you can call `model(x)` inside a tf.function (they should be equivalent... oh well)

[2020-06-15 13:10] sdll commented on #31928
Sorry, I do not have enough bandwidth to run the minimum failing example myself to check this out.

[2020-06-15 13:12] Horaln opened #40472 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
Good day,

I am new to TensorFlow and I am trying to install the package (cpu_version) but I am failing to.
**Python version:** _Python 3.7, 64 bit (AMD64)] :: Anaconda, Inc. on win32_.
I have been following the install steps as outlined here - [https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/install.html](url) but when I get to the `import tensorflow as tf` part I am get

[2020-06-15 13:19] MikhailStartsev commented on #39905
Okay, closing the issue, it works now - having initially had a suspicion that it has to do with env variables, just not knowing which ones, I messed with the environement a lot, this seems to have cause some temporary issue. Now building with my "normal" env + setting bazel-specific variables works fine!

Thanks everyone for your responses. Just so that this does not fall through the cracks, repea

[2020-06-15 13:19] #39905 closed

[2020-06-15 13:30] amahendrakar commented on #40459
@basheerghub,
[This](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) solution from a similar issue should fix the `ImportError`.

If you still need further help, please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template, so that we can track the issue there. Thanks!

[2020-06-15 13:40] Horaln commented on #40472
Noted, thank you. So which earlier versions of TensorFlow is compatible with my computer?

[2020-06-15 13:41] kevinyamauchi commented on #39601
Ah bummer. Thanks for letting me know, @kmonachopoulos ! I did see this PR (https://github.com/tensorflow/tensorflow/pull/39946) adding `reduce_max` for TFLite micro. Maybe it can be ported back to TFLite?

[2020-06-15 13:43] saharatech commented on #40461
@Saduf2019
Yes, that helped, thank you very much. My CPU does not support AVX2. I will try building TensorFlow from source. Please feel free to close this issue.

[2020-06-15 14:03] shwoghk14 commented on #39651
@jvishnuvardhan
Is it not done? The tensorflow bot says this issue is closed soon.

[2020-06-15 14:04] nikitamaia commented on #39251
Hope this was helpful, @StarDust1980. Closing this issue now since an example has been provided.

[2020-06-15 14:04] #39251 closed

[2020-06-15 14:13] nikitamaia commented on #40229
Hi @Zumbalamambo, were you able to resolve this issue with the suggestion from @sumanthratna? Essentially you want to make sure your variables are only created the first time your tf.function is executed (ie do not create a new variable with each call), or you'll see the ValueError.

[2020-06-15 14:16] edloper commented on #37397
`tf.ragged.map_flat_values(tf.argmax, foo, -2)` **should** raise an exception, since you're constructing an invalid RaggedTensor.  In particular, this is equivalent to the following, which *does* raise an exception:

[code]

I'll look into adding a shape check that will make map_flat_values fail here.

In general, `map_flat_values` should only be used on operations that operate independently on ro

[2020-06-15 14:30] basheerghub opened #40476 "ImportError: DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found. Failed to load the native TensorFlow runtime."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
Have I written custom code: No
OS Platform and Distribution: Windows 10 Pro updated
Mobil

[2020-06-15 14:42] Saduf2019 commented on #40461
@saharatech
Glad you were able to resolve the issue, hence moving it to closed status.

[2020-06-15 14:42] #40461 closed

[2020-06-15 14:58] Saduf2019 commented on #40472
@Horaln
Please take a look at [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) from a similar issue and let us know if it helps. Thanks!

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to downlo

[2020-06-15 15:07] heyufei2008 commented on #35405
@av8ramit I did some test following your message, but failed to make it work.
I'm doing object detection, "auto uint8Caster = Cast(root.WithOpName("uint8_Cast"), outTensor, tensorflow::DT_UINT8);" is a must to me.

Please give me more help on this.

Thanks.

[2020-06-15 15:10] aaudiber commented on #40386
Thanks for reporting this @jshyatt2.

I expect that the overhead of calling `unbatch` will almost always outweigh the overhead saved by vectorizing the map. It is better to vectorize at the final batch level, so that no `unbatch` is needed.

I'll update https://www.tensorflow.org/guide/data_performance to follow the best practice of vectorizing at the final batch level.

[2020-06-15 15:25] edloper commented on #37000
I think it should be possible to add support for keepdims == True to the ragged versions of reduce_xyz.

[2020-06-15 15:30] amahendrakar commented on #40456
@margaritageleta,
In order to expedite the trouble-shooting process, could you please provide the complete code to generate the model or upload the files to Google Drive and share the link with us. Thanks!

[2020-06-15 15:32] jshyatt2 commented on #40386
Good to know; I was afraid I'd have to worry about case-by-case optimizing. Thanks!

[2020-06-15 15:32] #40386 closed

[2020-06-15 15:36] Saduf2019 commented on #40421
I am able to replicate this issue, please find the [gist here.](https://colab.research.google.com/gist/Saduf2019/b2689006afb295639a07780b739cb345/untitled230.ipynb)

[2020-06-15 15:43] amahendrakar commented on #40476
@basheerghub,
Please take a look at [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment from a similar issue and let us know if it helps. Thanks!

[2020-06-15 15:50] ShiyongL commented on #40154
@srjoglekar246 The errors between CPU and GPU are so large that it deteriorates the evaluation performance, when the inference results are used to determine whether one face image is similar to another.
It would be greatly appreciated if you or other engineers could look into it!

[2020-06-15 15:55] v-sivak commented on #40414
Thanks! I got it to work with tf2.2, but it's not using the GPU. Can you confirm which version of cuda/cudnn is compatible with tf2.2 and 2080ti GPU? Looks like this error is not related to `tf.linalg.matmul` but it's caused by some incompatibility in my installation. I have `cudnn-7.6.5-cuda10.1_0` which worked fine with tf2.1

[2020-06-15 16:03] mihaimaruseac commented on #40350
You need TFLite for that, right?

[2020-06-15 16:10] srjoglekar246 commented on #36517
@ethanyanjiali Looks like there were some changes in the upstream TensorFlow graph-generating code :-/. Could you share the SavedModel (or any other details?). We will need to look at the source ops to see why/how its placing `tf.All` in the source graph.

[2020-06-15 16:13] amahendrakar commented on #40462
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/4bb0f4d2439bbc4efc2e9d53a7ce6e4d/40462.ipynb). Thanks!

[2020-06-15 16:13] anferico opened #40477 "Post-training full integer quantization produces model with float inputs/outputs"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Running from Colab notebook
- TensorFlow installed from (source or binary): Running from Colab notebook
- TensorFlow version (or github SHA if from source): v2.2.0-0-g2b96f3662b

**Command used to run the converter or code if you’re using the Python API**
Colab notebook:
[https://github.com/tensorflow/tensorflow/blob

[2020-06-15 16:26] jomjol commented on #39757
I could confirm my idea. The problem is the variable `kMaxChannels`. This was just too small for my purpouse. I would suggest to put this in to size it on the fly or minimum give an error message in case of "too small"

[2020-06-15 16:26] #39757 closed

[2020-06-15 16:38] preethivenkatesh commented on #40208
unfortunately we don't have the `IsMklEnabled()` support for java due to limited usage. Is it possible to run java jar file on a sample workload? setting mkldnn verbose path variable might be helpful, using `export MKLDNN_VERBOSE=1` before running a sample workload produces verbose MKLDNN logs if mkl is enabled

[2020-06-15 16:40] stephanwlee commented on #39008
@omalleyt12 Alexander here has a Keras subclass model and of course, it returns False for `model._is_graph_network`. Can you remind us in what condition Keras constructs a graph? Does all subclass model have no graph at all?

[2020-06-15 16:46] makn87 commented on #40130
Thanks. I did look at that, and followed it very closely. It's cross-referenced in my original post.

 I had the same issues as that user. I also got desperate and decided to compile with the  -g flag set for all files.  After compiling, the linker was trying to link for hours so I gave up. In addition to the fact that the .so file was > 15G, compiling a full debug build seems unhelpful for me. I

[2020-06-15 17:04] lu-wang-g commented on #39109
Closing this issue for now. Feel free to reopen it if you have another questions. Thanks!

[2020-06-15 17:04] #39109 closed

[2020-06-15 17:08] jaredpb commented on #40470
Hi eeesi, the issue is the Tensorflow Lite library for Arduino is not compatible with the models produced by newly updated Google Collab code. A "fix" is to download the Tensorflow repository and run test_arduino.sh to create an up to date zip library to import into the Arduino IDE. I put fix in parentheses because while it does detect audio the inference runs too slow with the example micro speec

[2020-06-15 17:10] Marvinmw opened #40478 "Predcit function result is different from Training-Val using the same data"
Version:
Tensorflow 2.0.0
Keras 2.3.1
Ubuntu 18

I use predict to check the model performance on val data but it is totally different from the training log file. **Predict and Val in the training use the same dataset.**

The top layers of my model:
`
        model = Sequential()
        model.add(Embedding(input_dim = num_words,
                            output_dim=EMBEDDING_DIM,

[2020-06-15 17:21] dipendra009 commented on #38787
It is really weird, I have the android sdk and ndk installed and WORKSPACE configured, but it gives the same error: Projects/tensorflow/tensorflow/lite/java/ovic/demo/app/BUILD:9:1: no such package '@androidsdk//com.android.support': BUILD file not found in directory 'com.android.support' of external repository @androidsdk. Add a BUILD file to a directory to mark it as a package. and referenced by

[2020-06-15 17:21] yongtang commented on #40471
Added a PR #40480 for the fix.

[2020-06-15 17:23] mihaimaruseac commented on #6351
I recommend opening a new issue instead, filling in the corresponding issue template. Not many developers are looking at closed issues.

[2020-06-15 17:26] #38594 closed

[2020-06-15 17:26] mihaimaruseac commented on #40446
TF 1.13 is not supported anymore

[2020-06-15 17:27] syamsruthin commented on #40266
@amahendrakar  Looks like a day before the library tf2onnx got updated and I guess this issue is because of this.
I tried to recreate this same issue in another way.
Please find the gist of it in this link: [https://colab.research.google.com/gist/syamsruthin/f2b1307bf09542d62ebf3b15d6ae9a85/issue_40266.ipynb](url)
Thanks!

[2020-06-15 17:28] mihaimaruseac commented on #40422
Please properly fill in issue template and use the proper Markdown formatting around errors and code blocks.

[2020-06-15 17:29] syamsruthin commented on #40266
@amahendrakar The Above link to the notebook is not working. Please copy-paste the link in the browser.
Thanks!

[2020-06-15 17:29] mihaimaruseac commented on #40436
You shouldn't care about the endianness of a proto, the library [takes care of it](https://stackoverflow.com/questions/28905274/endianness-of-protocol-buffer-message)

[2020-06-15 17:30] mihaimaruseac commented on #40218
Nothing useful provided in the template.

[2020-06-15 17:30] #40218 closed

[2020-06-15 17:32] mihaimaruseac commented on #39333
Can you do a bisect on master branch to identify a commit where the build stops breaking?

[2020-06-15 17:34] mihaimaruseac commented on #40272
`--config=v1` only enables V1 APIs and behavior, does not change version number constant.

If you want to build TF v1, recommendation is to start from `r1.15` branch

[2020-06-15 17:35] mihaimaruseac commented on #22978
This issue has been resolved. Please open a new one, fill in issue template. Devs are rarely checking on closed issues.

[2020-06-15 17:36] bjourne commented on #40453
It's a dependency. You need to `pip install observations docopt` to be able to run the code.

[2020-06-15 17:37] mihaimaruseac commented on #40175
This should be expected, after all you are calling functionality which does not exist. That is, this is not really a fault of TF.

[2020-06-15 17:40] mihaimaruseac commented on #40234
Please fill in issue template and provide minimal code to reproduce.

[2020-06-15 17:41] mihaimaruseac commented on #40418
`bazel clean --expunge`

[2020-06-15 17:42] pavanky commented on #40208
@preethivenkatesh @penpornk considering this comment, will we notice any difference in TF vs TF-MKL with this environment variable set ?

[2020-06-15 17:42] mihaimaruseac commented on #40439
Please switch to 1.15, 2.0, 2.1 or 2.2 (or nightly) as these are the only versions supported at this time.

[2020-06-15 17:48] santoshreddy254 opened #40481 "How to use sliding_window_batch in TF 2.2.0"
How to use tf.contrib.data.sliding_window_batch in tf 2.2.0

[2020-06-15 17:49] wbeardall opened #40482 "Support for use of tensorflow_probability.distributions.Distribution instances in model.fit(...)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): No (hav

[2020-06-15 18:00] wangpengmit commented on #37167
It's actually intended behavior. When set_seed has been called and f1 is traced, it picks an op seed (an attribute) for the random.categorical op. When f1 is called multiple times in `body` with tf.cond, f1 is inlined and the  random.categorical op is duplicated, all with the same op_seed attribute. So they'll give you the same random number.

In contrast, in Working Sample 2, although f1 is also

[2020-06-15 18:01] Saduf2019 commented on #40424
@haolujun

This question is better asked on [StackOverflow](https://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-06-15 18:02] jvishnuvardhan commented on #39651
@shwoghk14 bot will not close this. I will check it on my windows laptop later today. Thanks!

[2020-06-15 18:06] Marvinmw commented on #40478
I am try using fit function instead of fit_generator.

[2020-06-15 18:09] preethivenkatesh commented on #40208
yes, @pavanky you will still continue to see differences in the speed, the MKL op that is primarily upstreamed into the vanilla TF is for MatMul, but the MKLDNN-TF has a lot more set of ops supported that are not upstreamed yet.

[2020-06-15 18:24] reedwm commented on #36036
@nluehr if we use `CUDNN_TENSOR_OP_MATH_ALLOW_CONVERSION`, users still need to do loss scaling during training, right? I want to confirm that unlike tf32, using tensor cores in this manner can cause overflow due to the lower dynamic range of fp16. If so, I don't think it's worth exposing this functionality, since users still need loss scaling during training and the only further step to use tensor

[2020-06-15 18:26] Saduf2019 commented on #40355
I am able to replicate the issue, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/371fd98344a1f5bc91fbe1f56a0ac709/untitled231.ipynb), for [dataset](https://colab.research.google.com/gist/Saduf2019/38dc956a07304844e5a5dea39555c5c0/untitled231.ipynb)

[2020-06-15 18:28] MichaelJanz commented on #37942
In case it helps anyone. After doing as CherryCheek said, training did work in my case again.
However, when I took a larger part of my dataset, it broke again with the error `'cudnnRNNBackwardData( cudnn.handle(), rnn_desc.handle(), model_dims.max_seq_length, output_desc.handles()`
.Lowering my batch size from 128 to 64 solved that, now it runs well. However, it uses now only 3GB of 8GB available

[2020-06-15 18:28] KubaMichalczyk commented on #24828
I am also facing this issue:

Unfortunetely I have tried both setting memory growth:

and limiting GPU memory allocation:

I'm not really sure if the latter worked at all though, as after hitting the error `nvidia-smi` returns the following processes:

[2020-06-15 18:29] av8ramit commented on #35405
So you created a new def file target applied it to the libtensorflow_cc and tried building a new shared object? What was the issue you saw?

[2020-06-15 18:34] amahendrakar commented on #40176
@jxfruit,
I have used [Google Colab](https://colab.research.google.com/) to run the code.

[2020-06-15 18:37] hlopko commented on #40130
Hi all, I apologize for not investigating deeper (I'm on vacation and in the process of moving to a different city), so I'll only throw some breadcrumbs that might help.

To tell Bazel you want to build in the debug mode use [--compilation_mode dbg](https://docs.bazel.build/versions/master/command-line-reference.html#flag--compilation_mode) or `-c dbg`.

If you only want to include debug symbols f

[2020-06-15 18:39] amahendrakar commented on #40192
@AlxndrMlk,
Any updates regarding this issue? Thanks!

[2020-06-15 18:41] OverlordDen commented on #28326
Thank u very mutch

[2020-06-15 18:44] amahendrakar commented on #40233
@willbattel,
Any updates regarding this? Thanks!

[2020-06-15 18:47] Saduf2019 commented on #40369
@CalebEverett
I ran the code shared on tf 2.2 and do not face any error, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/03077653c3302e897c0cbc00160d443e/untitled232.ipynb)

[2020-06-15 18:49] amahendrakar commented on #40242
@Zumbalamambo,
Could you please share the code you are running to that we can help you with the errors. Thanks!

[2020-06-15 18:52] margaritageleta commented on #40456
Yesterday I had a crazy night trying to figure out what was going on. And I found it. @amahendrakar the versions of tensorflow in the machine were I trained the model and were I tried to retrieve the model were diferent, I switched to an older version (2.1.0) and it worked, yet it was really weird.

[2020-06-15 18:52] #40456 closed

[2020-06-15 18:54] tommywei110 opened #40484 "Bug in tf.strings.split vs tf.compat.v1.string_split"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab
- TensorFlow version (use command below): 2.2.0
- Python version: 3.6.9

**Describe the current behavior**
tf.strings.split doesn't work as expected when th

[2020-06-15 19:00] amahendrakar commented on #40336
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/364f4b37d81a98b445bcae9061526193/40336.ipynb#scrollTo=Fe55PvC_VMGx) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/6762524676176dca9d3204a1e4f87ee1/40336-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-15 19:09] #33084 closed

[2020-06-15 19:09] #33000 closed

[2020-06-15 19:16] paperwhite commented on #40170
I get the same issue on centos 7. My gcc version is 7.3, and I am using the master branch for the build. I added flags for mkl and avx enablement, and --host-linkopt=-lm & --linkopt=-lm option, but that didn't help either.

[2020-06-15 19:23] jerry73204 commented on #40436
I agree. I think it is not the case because the tensor data is serialized *before* protobuf serialization if I understand it correctly.

To be precise, `Tensor::tensor_content` is defined as repeated uint8 in protobuf ([code](https://github.com/tensorflow/tensorflow/blob/a975ef0f5c81d913d7bb1a3a2a2e84fe1f255a71/tensorflow/core/framework/tensor.proto#L38)). By putting the tensor buffer, which is co

[2020-06-15 19:44] yongtang commented on #40484
@tommywei110 Since TF 2.0+, the behavior of `tf.strings.split` has been adjusted to match the behavior of python's native split, i.e.,
[code]

For that the behavior of `tf.strings.split` is expected.

[2020-06-15 19:46] samhodge commented on #39439
If time permits I will attempt that in about 7 hours from now

So it would simply be a matter of having the same dependencies at the //tensorflow:tensorflow_cc.dll target and give it a name and magic will happen and I can link to the .a or .lib file without having to expose any extra symbols?

Is this correct @meteorcloudy ?

[2020-06-15 19:59] AndrewKhans commented on #38518
This issue should probably be re-opened, as it exists with only one GPU, with all other services killed (excluding Windows service processes). The issue is resolved by adding something like
`tf.config.experimental.set_visible_devices([], 'GPU')`
to disable the GPU, but that means that you can't train networks using your GPU.

[2020-06-15 20:00] Lucysmith8 opened #40485 "Is it possible to deploy tkinter with tensorflow with Pyinstaller or Cx freeze?"
I've been trying to develop a Tkinter application with TensorFlow for two weeks now, But I'm having issues converting the application from .py to .exe file with both pyinstaller cx_freeze.
I always get errors. Is it possible to develop a model built with keras without going through TensorFlow? If I move the TensorFlow library, can I then achieve what I am trying?

My app code :

from tensorflow.ke

[2020-06-15 20:02] cjshowalter commented on #56
I was getting the same issue, and it turned out to be the package was missing a setup.py entirely. Not sure if it's the same for everyone else tho. (pip 20.1.1)

[2020-06-15 20:11] peter197321 opened #40486 "tfcompile AOT with quantization"
Does the `tfcompile` have capability of quantization?
Is `tfcompile` able to process on input the quantized models?

[2020-06-15 20:15] jdduke commented on #34326
Can you try with the nightly build? I don't think our ellipsis_mask fix made it into the 2.2 release. Note that you'll have to re-converter your model.

[2020-06-15 20:16] jmwoloso commented on #30850
Same error here too

[2020-06-15 20:19] peter197321 opened #40487 "tfcompile for non-x86-64 CPU"
Are there possibilities to cross-compile with `tfcompile` for other architectures (aarch64, CortexM, etc..)?

[2020-06-15 20:23] makn87 commented on #40130
hlopko,
Thanks for replying, especially since you are on vacation.

I think from you post, I can see what I may have done incorrectly.

Originally I put the '--strip=never' after -c dbg, but got an error because of the ordering.

I thought that by doing
`bazel build --strip=never -c opt --config=opt --per_file_copt=//tensorflow/c/..cc,//tensorflow/cc/./..cc,//tensorflow/core/./.*.cc@-g //tensorflo

[2020-06-15 20:37] #37167 closed

[2020-06-15 20:39] aavishkarmishra commented on #39981
@r-barnes @Saduf2019 Can I work on this issue ??

[2020-06-15 21:13] Santosh-Gupta opened #40491 "Minimum pooling operation."
**System information**
- TensorFlow version (you are using): Latest as of 6/15/20
- Are you willing to contribute it (Yes/No): Yes.

**Describe the feature and the current behavior/state.**

Tensorflow/Keras has max pooling, and average pooling, but there is no minimum pooling. A minimum pooling operation feature would be great to have.

**Will this change the current api? How?**

There could be a

[2020-06-15 21:22] Santosh-Gupta commented on #40491
nevermind, it looks like https://www.tensorflow.org/api_docs/python/tf/math/reduce_min does the job

[2020-06-15 21:22] #40491 closed

[2020-06-15 21:30] duvictor commented on #18829
ihave faced a lot problems to get my model working using tensorflow lite. My thanks to this perfect forum. After read some books and undestand the all the kind process with tensorflow, i finally get my model working in a android envoriment

[2020-06-15 21:46] haozha111 commented on #39918
Assigning to @karimnosseir since this is related with tflite converter.

[2020-06-15 21:49] samhodge commented on #39439
OK I found some time

here is my method:

clone r2.2
add the `win_cc_static.bzl` file to the tensorflow directory

[code]

modify `tensorflow\BUILD` in tensorflow to additionally include

[code]

and

[code]

Then source the following `buildenv.ps1` as `. .\buildenv.ps1`

[code]

Then a source the bazel powershell script

[code]

That seems to be building then I will link against that only and see

[2020-06-15 22:04] bw4sz commented on #36539
I think the high level question I have here is how to write good unit tests with tf.data and keras model fit? It would useful to a way to only iterate through one or two batches (as in tf.dataset.take(2)) to confirm weights are being updated.

[code]

[2020-06-15 22:05] r-barnes commented on #39981
I don't have the authority to assign fix responsibility here.

[2020-06-15 22:16] ymodak commented on #40446
@pndiaye Looks like your cpu make does not support AVX instruction set.
See https://ark.intel.com/content/www/us/en/ark/products/34446/intel-xeon-processor-x5450-12m-cache-3-00-ghz-1333-mhz-fsb.html

Also I recommend step 2. Installing TensorFlow (TF) CPU prebuilt binaries from comments upstream.
Thanks!

[2020-06-15 22:29] aaliddell opened #40492 "Reduce size of published wheel files (_pywrap_tensorflow_internal.so)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.2.0
- Are you willing to contribute it (Yes/No): N/A

**

[2020-06-15 22:35] ratansingh98 commented on #40485
Can you please provide description of your error?

[2020-06-15 23:09] #33446 closed

[2020-06-15 23:24] ymodak commented on #40428
@bjourne In this case you may want to limit the number of replicas to 1.
[code]
By default TF maps all available cores for faster performance.

[2020-06-15 23:33] karmel commented on #40404
TensorFlow v2 has upgraded many of the saving features, and allows for more robust model saving and reloading. See https://www.tensorflow.org/guide/saved_model for more information. You can also take a look at the pruning features available from the Model Optimization Toolkit: https://www.tensorflow.org/model_optimization

If you have feature requests for the TF v2 APIs, please post a new issue, a

[2020-06-15 23:33] #40404 closed

[2020-06-15 23:41] mhsmith commented on #38642
I think the main advantage of releasing tflite-runtime on PyPI is that it would allow third-party Python libraries to declare it as a requirement. That isn't currently possible, as there's no way of declaring a requirement on a set of URLs.  So those libraries have to require the full tensorflow package instead, which, on Linux, increases the size from 2 MB to 420 MB.

[2020-06-15 23:43] willbattel commented on #40233
Not yet. I've been delayed by other work that is higher priority because this issue wasn't blocking for us. Because it works if you disable the experimental converter, I just wanted to submit the issue for your reference. If I find time to submit a reproducible sample, I'll add that in this thread- I can't just drop in what we ran because it is littered with clutter, proprietary code, etc.... In t

[2020-06-15 23:58] Lucysmith8 commented on #40485
Here is the error I get

![error](https://user-images.githubusercontent.com/66785574/84716926-c25a8200-af74-11ea-9706-72d85a87b5ff.jpg)

[2020-06-15 23:58] ifarady commented on #40278
anyone solve this problem?

[2020-06-16 00:06] Lucysmith8 commented on #40485
What I don't understand is that it searches for tensorflow in sites-application while I deposit it in the application folder

[2020-06-16 00:06] #40246 closed

[2020-06-16 00:08] av8ramit commented on #40492
Hey @aaliddell So the migration to pybind11 is not the primary cause of the size increase. It's the [CUDA compute capabilities](https://github.com/tensorflow/tensorflow/blob/692bb1da53493a6cf37dc28a4c1e1a82df32d9fa/tensorflow/tools/ci_build/release/ubuntu_16/gpu_py37_full/pip.sh#L43) that we package with each version. I think we may have packaged less with 2.0.0, but if you look at [1.15](https://

[2020-06-16 00:08] frankchn commented on #40355
These two tests are actually explicitly disabled in open source, hence the `no_oss` tags.

In datasets_test.py, the failing test `testArbitraryReaderFuncFromDatasetGenerator` fails because the Cloud TPU environment does not support generator-based datasets that runs on the TPU workers.

I have not looked into why the tpu_test.py fails, but I assume it would be for a similar reason.

[2020-06-16 00:09] ratansingh98 commented on #40485
Have you used os.path.join in your codebase instead of a file path?

[2020-06-16 00:12] Lucysmith8 commented on #40485
Yes, my code :

from os import path
import sys

if getattr(sys, 'frozen', False):
    MODEL_DIRECTORY = path.join(path.dirname(sys.executable), 'model')
else:
    MODEL_DIRECTORY = path.dirname(__file__)

mymodel = path.join(MODEL_DIRECTORY, 'mymodel.h5')

[2020-06-16 00:14] Lucysmith8 commented on #40485
The problem may be in my setup? Because even without the code I sent, I still have the same problem. The problem can be found in this code?

    PYTHON_DIR = os.path.dirname (os.path.dirname (os .__ file__))
    os.environ ['TCL_LIBRARY'] = os.path.join (PYTHON_DIR, 'tcl', 'tcl8.6')
    os.environ ['TK_LIBRARY'] = os.path.join (PYTHON_DIR, 'tcl', 'tk8.6')
    include_files + = [
        (os.path.j

[2020-06-16 00:17] ecpoppenheimer commented on #40278
If I recall correctly you need to install the 450 nvidia driver.  Which essentially just means replacing the number '430' with '450' in the install instructions.

Unless you broke your package manager, in which case you have to force overwrite the broken library.  As per my comment above, the following command fixed things for me:

sudo apt-get -o Dpkg::Options::="--force-overwrite" install libnvi

[2020-06-16 00:27] ratansingh98 commented on #40485
Yes, if you make an installer of any application it searches in sites-application. You can try **Hidden-import** parameter to explicitly link tensorflow to your build.

[2020-06-16 00:31] Lucysmith8 commented on #40485
How can I do this?

In my setup, I import tensorflow.

    options={
        'build_exe': {
            'packages': ['google', 'scipy', 'tensorflow'],

[2020-06-16 00:32] abattery commented on #38220
@beniroquai could you share very simple steps from scratch, that can reproduce the error?

[2020-06-16 00:49] ratansingh98 commented on #40485
Can you share your approach using Pyinstaller? I have a better understanding of making the installer in it.

[2020-06-16 00:49] ratansingh98 commented on #40485
Can you share your error when you tried using Pyinstaller? I have a better understanding of making the installer in it.

[2020-06-16 00:50] yzcjtr commented on #28326
Thank you @piaobuliao . You saved my day!

[2020-06-16 01:04] MeghnaNatraj commented on #38285
@anferico Unfortunately, it looks like we don't have an example for TFLite Interpreter in C++ which uses the quantize/dequantize scale and zero-point to preprocess the image and process the result. We will be updating the TFLite micro examples, but until then, you can try the following suggestion:

The closest example is [micro/examples/person_detection_experimental](https://source.corp.google.com

[2020-06-16 01:14] david-waterworth commented on #35968
An additional problem I continuously encounter is the repo's mentioned in the installation guide will get updated with the newer version at some point but tensorflow requires a specific version. Hence once you get it working, in order to keep it working you really need to `hold` the installed packages (I'm specifically talking about apt on Linux). Otherwise next time you update packages it'll roll

[2020-06-16 01:16] renjie-liu commented on #34326
Right, you need re-export your model.

We handle the ellipsis_mask in the converter.

thanks!

[2020-06-16 01:34] TomHeaven commented on #40260
It seems to be an environment variable problem. I've solved the problem by passing `action_env` as
[code]
However, this is not a necessary parameter using CUDA 10.0.

[2020-06-16 01:34] #40260 closed

[2020-06-16 01:34] NeoZhangJianyu commented on #39824
@oracle3001 The PR should fix this issue: https://github.com/tensorflow/tensorflow/pull/37785

[2020-06-16 01:51] ratansingh98 commented on #40452
Unfortunately, the methods of a nested class cannot directly access the instance attributes of the outer class. Here you are getting an error because of tf.reduce_mean and tf.square functions are out of scope.

[2020-06-16 02:09] #34791 closed

[2020-06-16 02:30] theonekeyg commented on #39197
It's clear to me now, thanks for the thoughtful explanation :) @jsimsa

[2020-06-16 02:30] #39197 closed

[2020-06-16 02:31] jxfruit commented on #40176
@amahendrakar @gowthamkpr Is your env  based on arm64 cpu? On x86-64 cpu, my codes is fine.

[2020-06-16 02:45] victorromeo commented on #33853
I'm getting an identical issue, however my toolchain is different.

Using a PlatformIO port of TensorFlow micro_speech which I created here [](https://github.com/victorromeo/pio_micro_speech), I'm getting the same Undefined Reference issues appearing.
[code]

It seems this entry level project has undergone significant rework as part of TensorFlow 2.2.0 and as a result, the compatibility of the und

[2020-06-16 02:49] ac1991 commented on #40350
No,I want to compile the Android so library directly with Tensorflow instead of TFLite.Because my leader thought that TFLite would have operator compatibility problems.Our current approach is to call the tensorFlow native API directly, package it together with the TensorFlow library into a SO library, and finally call it by the Java layer, which is about twice as fast as tensorFlow's Java library.

[2020-06-16 02:50] ac1991 commented on #40350
I would like to ask, what kind of configuration can achieve my above requirements, packaging success?

[2020-06-16 02:52] ludwig980 commented on #31300
I also have a similar issue on 2.2 with saving/loading models with stateful GRU layers in TF format.

I think the issue should be reopened.

[2020-06-16 03:05] adrian-dalessandro opened #40494 "tf-nightly build spits out thousands of lines about "whitelisting" during training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.2
- Python version: 3.6.2
- CUDA/cuDNN version: release 10.0, V10.0.130
- GPU model and memory: TITAN X

**Describe the c

[2020-06-16 03:09] #40046 closed

[2020-06-16 03:13] policeme commented on #39846
ok, I will try, thx a lot

[2020-06-16 03:13] #39846 closed

[2020-06-16 03:19] ratansingh98 commented on #40437
To avoid complications, I would recommend you using anaconda.
You need to run this one line and it will create a tensorflow-gpu environment for you,
`conda create --name tf_gpu tensorflow-gpu `

[2020-06-16 03:32] jvishnuvardhan commented on #40429
@AlexanderJLiu If you are looking for serializing a subclass layer, then please follow [this guidie](https://www.tensorflow.org/guide/keras/save_and_serialize#defining_the_config_methods) on TF website. If you want to serialize, a subclassed model then you could you `model.save` and 'tf.keras.models.load_model` to load the model. Another approach is to use `save_weights` and instantiate the model,

[2020-06-16 03:38] ravikyram commented on #40414
@v-sivak

Please, see the tested build configurations from [here](https://www.tensorflow.org/install/source_windows#gpu).Hope this helps.As issue is nor related to bug in tf.linalg.matmul, please confirm whether we can close this issue?.Thanks!

[2020-06-16 03:41] bengxy opened #40495 "[batch AUC vs streaming AUC]: I want an implement a batch AUC method"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.4 and 2.0
- Are you willing to contribute it (Yes/No): Y

[2020-06-16 03:48] #40495 closed

[2020-06-16 03:54] AlexanderJLiu commented on #40429
@jvishnuvardhan Yes, I've read this [guide](https://www.tensorflow.org/guide/keras/save_and_serialize#custom_objects) for several  times,
and subclassed layers could be serialized and deserialized correctly.

The method `model.save` you provide would save the **whole model** including weights and optimizer state etc. And `save/load weights` just use the weights info with reinstantiating the model.

[2020-06-16 04:09] ravikyram commented on #40453
@bjourne

I tried again in colab with your suggestion and i am seeing new error message.(`DocoptLanguageError: "usage:" (case-insensitive) not found.`).Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/7a7a1493ff7ded74db66c9444328b8ee/untitled975.ipynb).Thanks!

[2020-06-16 04:22] ravikyram commented on #40486
@peter197321

Can you please refer this[ link ](https://www.tensorflow.org/xla/tfcompile )and see if it helps you.

This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-06-16 04:37] ethanyanjiali commented on #34326
thanks. i end up converting all my usage like `[..., 0:1]` into something more explicit like `[:, :, :, 0:1]`. but it's good to know that `ellipsis_mask` will be supported in next release.

[2020-06-16 04:42] nitinmnsn commented on #39995
any updates on this?

[2020-06-16 04:43] ethanyanjiali commented on #36517
@srjoglekar246
here's the SavedModel generated by 2.2.0, and 2.3.0-dev20200614 can covert it to TFLite model with no problem. https://drive.google.com/file/d/1eR6Iz-RQA44YONqyUSOMFaRo5JAZBbQ-/view?usp=sharing

and here's the SavedModel generated by 2.3.0-dev20200614. With this, 2.3.0-dev20200614 will fail after a few optimization steps. https://drive.google.com/file/d/1u618HSmT-g6XyLAF9yJ3JSC455CQ

[2020-06-16 04:43] joker-eph commented on #40448
There is b/158483489 already tracking this internally

[2020-06-16 05:46] victorromeo opened #40497 "Undefined references when using TensorFlow Lite in Arduino Nano 33 BLE Sense + Platform IO"
@tensorflow/micro

**System information**
Ubunutu 20.04 on x86_64
TensorFlow from source 2.2.0
Target: Arduino Nano 33 BLE Sense

Hi,

I'm trying to get micro_speech running on a Arduino Nano 33 BLE Sense, using a model I've trained myself on Google Colab.  As Google Colab is currently using TensorFlow 2.2.0, this model is also 2.2.0.  Using the Arduino IDE 1.8.12 sample 'micro_speech', does work,

[2020-06-16 05:50] ravikyram commented on #40090
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-06-16 05:50] #40090 closed

[2020-06-16 05:55] ravikyram commented on #39663
@mengjiexu

Any update on this issue please. Thanks!

[2020-06-16 06:07] sanjoy commented on #37900
Hi @kriskorrel-cw,

Unfortunately, I don't think we'll be able to productively debug a machine dependent issue that we can't reproduce.

[2020-06-16 06:08] sanjoy commented on #37900
Hi @AroMorin,

Were you able to reproduce the issue using tf-nightly?  If yes, do you mind sharing a reproducer?

[2020-06-16 06:08] renjie-liu commented on #34326
Great.
Our converter basically does that "[..., 0:1] => [:, :, :, 0:1]" for you right now.

[2020-06-16 06:14] AlxndrMlk commented on #40192
@amahendrakar - sorry for the delayed response. Not so far, unfortunately.

I was not able to successfully install and run tf > 2.0 on my machine. I need more time to investigate this issue. I'll try to find a while during the weekend to check it.

[2020-06-16 06:30] Saduf2019 commented on #40430
@zhaojc001
Please refer to [this link](https://medium.com/google-cloud/how-to-invoke-a-trained-tensorflow-model-from-java-programs-27ed5f4f502d) and let us know if it helps.
[Link1](https://eicweb.phy.anl.gov/EIC/tensorflow-for-eic/blob/9bd0e0e06874b558a07a7cb5ae87753bd17dd9d5/tensorflow/docs_src/install/install_java.md)
[Link1](https://www.inspirisys.com/objectdetection_in_tensorflowdemo.pdf)

[2020-06-16 06:31] jsgoller1 commented on #40278
Having this issue as well; trying to install Tensorflow with GPU support from [the documentation](https://www.tensorflow.org/install/gpu) on Ubuntu 20.04 LTS, ran into the same issue. I can no longer run `nvidia-smi` after running the `apt-get install` command for `# Install development and runtime libraries (~4GB)`.

[2020-06-16 06:31] peter197321 commented on #40486
I think it does not help since AOT compilation works for for x86-64 CPU only as indicated in [AOT (Ahead-of-time) compilation for CPU with tfcompile](https://www.tensorflow.org/xla#aot_ahead-of-time_compilation_for_cpu_with_tfcompile)

[2020-06-16 06:36] cuge1995 commented on #40445
# input_Transformation_net
input_points = Input(shape=(num_points, 3))
x = Convolution1D(64, 1, activation='relu',
                  input_shape=(num_points, 3))(input_points)
x = BatchNormalization()(x)
x = Convolution1D(128, 1, activation='relu')(x)
x = BatchNormalization()(x)
x = Convolution1D(1024, 1, activation='relu')(x)
x = BatchNormalization()(x)
x = MaxPooling1D(pool_size=num_points)(x)
x

[2020-06-16 06:38] ravikyram commented on #35949
I have tried in colab with TF version 2.2, nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/cf46faed2315a686d2c7aa5789b4626c/untitled26.ipynb).Thanks!

[2020-06-16 06:46] samhodge commented on #39439
![longtime](https://user-images.githubusercontent.com/86946/84740384-73503380-afec-11ea-8051-7dfb5aa100f9.PNG)
After around 6 hours the files

[code]

Were not compiled, so I removed the .obj files and started again thinking it was a glitch in the file system and they would build quickly.

I think I may leave the machine on overnight and see what passes.

[2020-06-16 06:46] ravikyram commented on #35451
@veonua

Is this still an issue. Can you check with TF version 2.2 and see if the issue still persists?. Thanks!

[2020-06-16 06:49] shilan commented on #40418
@Saduf2019 I had seen this stackoverflow ticket and this one [this one](https://stackoverflow.com/questions/41293077/how-to-compile-tensorflow-with-sse4-2-and-avx-instructions?rq=1) too. As a matter of fact I ran the command from their suggestions. Otherwise the one suggested by **Intel** or **tensorflow document** gets stuck somewhere and doesn't continue from there.

@mihaimaruseac thanks for th

[2020-06-16 06:55] ac1991 commented on #40350
At present, I can compile and pass TensorFlow 2.2, but in actual use, an error will be reported in Android 4.4.

`cannot locate symbol "fegetround" referenced by "libtensorflow-lib.so"`

[2020-06-16 07:03] vkyprmr commented on #24828
@KubaMichalczyk Your GPU is already in use i think. Does the training start or it does not start at all? You can also download any of the following two tools to monitor your gpu better:
https://www.linuxuprising.com/2019/06/2-tools-for-monitoring-nvidia-gpus-on.html

It would be good to know if your training started or it returned some error.

[2020-06-16 07:16] omalleyt12 commented on #35949
@tomerk this is likely something `KerasTensor`s fixes

[2020-06-16 07:21] jsgoller1 commented on #40278
I eventually got this worked out for Ubuntu 20.04 LTS with an NVIDIA GTX 1070. This is a hack, and hopefully the packages are fixed correctly. Here's what I did, YMMV.

**Problem**
I ran the documented instructions [on the Tensorflow site](https://www.tensorflow.org/install/gpu) and they left me with a bunch of broken packages and now `nvidia-smi` doesn't work.

**Solution**
Find the path of the p

[2020-06-16 07:23] AlexWang1900 commented on #40027
This issue is located inside NCCL and found a NVML NVIDIA library's bug . so I will close this issue now

I think I have to build TF locally to use customized NCCL to test new NCCL. Thanks guys ~~~~

[2020-06-16 07:23] #40027 closed

[2020-06-16 07:23] veonua commented on #35451
@ravikyram same issue here,
can you please point out the commit that supposes to fix this issue

[2020-06-16 07:24] veonua commented on #35451
@k-w-w

[2020-06-16 07:28] beniroquai commented on #38220
Certainly. I've added a [Google Colab](https://colab.research.google.com/drive/1_GJKcha7S_J_s0JitunMWd4I2dMx4KC4?usp=sharing) which does everything I need but without the training/testing.
Does this work?

[2020-06-16 07:32] naveentnj commented on #22443
No taken code from tech with Tim chatbot video
Os : Windows 10 and distribution anaconda
tensorflow installed from anaconda
tensorflow versions = 1.14.0
.
cuda 10.1
gpu Nvidia gtx 2060 ti
.
.
My error is same

[2020-06-16 07:44] ravikyram commented on #35007
I have tried in colab with TF GPU version 2.2, nightly version and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/c69ad703c9307d2fff4fa05eda9b316b/untitled30.ipynb).Thanks!

[2020-06-16 07:51] Saduf2019 commented on #40397
@xlnwel
I ran the code shared but face a different issue,the code continous to run for ever after mixed precision result.
Please find the [gist here](https://colab.research.google.com/gist/Saduf2019/c1a8afc6efce10617eef66d96cedb962/untitled231.ipynb)

[2020-06-16 07:52] ravikyram commented on #34848
Issue replicating for TF 2.2 and tf-nightly, please find the [gist](https://colab.research.google.com/gist/ravikyram/aede98eece4cafc03f123fda870d768d/untitled28.ipynb) of colab.Thanks!

[2020-06-16 07:55] gringet commented on #40412
This stackoverflow post give a lot of information related to this problem : [https://stackoverflow.com/questions/58441514/why-is-tensorflow-2-much-slower-than-tensorflow-1](https://stackoverflow.com/questions/58441514/why-is-tensorflow-2-much-slower-than-tensorflow-1)

I think it boil down to the fact that tf.keras is in eager mode by default. I disabled it in this [notebook](https://colab.researc

[2020-06-16 07:55] Saduf2019 commented on #40418
@shilan
In that case can we please close this issue and in case you still face an issue after your vacation you can open an issue.

[2020-06-16 07:57] ravikyram commented on #34697
I have tried in colab with TF version 2.2, nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/54b83c2f25a8c8fcbae0865f97c212ef/untitled31.ipynb).Thanks!

[2020-06-16 07:59] Saduf2019 commented on #40484
@tommywei110
Please update as per above comment

[2020-06-16 08:03] Saduf2019 commented on #40494
@adrian-dalessandro
Can you please share a simple stand alone code for us to replicate the issue faced or if possible share a colab gist for us to analyse the issue.

[2020-06-16 08:07] Gaurishankar11 commented on #35889
I am also facing same issue

[2020-06-16 08:11] Saduf2019 commented on #40445
@cuge1995
I ran the code shared above and face a different error, please share all dependencies and executable code for us to replicate.
Please find the [gist here](https://colab.research.google.com/gist/Saduf2019/57204907eb11a520ea77b89b01bdda2a/untitled231.ipynb)

[2020-06-16 08:11] sunzhe09 opened #40498 "tf.GatherV2 is always not support"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04
- TensorFlow installed from (source or binary):pip
- TensorFlow version (or github SHA if from source):
2.2

**Provide the text output from tflite_convert**
tflite_convert   --from_keras_model
[code]

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary t

[2020-06-16 08:16] JacobOfCorns opened #40499 "Tensorflow 2.0 converter.experimental_new_converter = True still giving 'str' object has no attribute 'call'"
**System information**
- OS Platform and Distribution: Windows 10
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): tensorflow 2.2.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

(https://github.com/tensorflow/tensorflow/issues/32693)
I referred to t

[2020-06-16 08:21] abattery commented on #40498
@sunzhe09 could you use conversion with flex?
https://www.tensorflow.org/lite/guide/ops_select

[2020-06-16 08:23] abattery commented on #40499
@JacobOfCorns

Hi, I think you need to use the following converter API since `from_keras_model_file` accepts the keras file while `from_keras_model` accepts the keras model instance.

[code]

[2020-06-16 08:28] JacobOfCorns commented on #40499
It works!! you are amazing thank you so much!

[2020-06-16 08:28] #40499 closed

[2020-06-16 08:33] samhodge commented on #39439
Almost two hours later on the 48 core machine and

[code]

[2020-06-16 08:34] #40494 closed

[2020-06-16 08:51] thaink commented on #40157
The feature is delivered at the HEAD of master. aselva-eb you can try it now.

[2020-06-16 08:58] iBelow opened #40500 "FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'. _np_qint32 = np.dtype([("qint32", np.int32, 1)])"
Hi, how to disable it?
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'  not working

i'm using TS 1.14
keras
and imageai
full warning:
`{ProjectPath}\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([(

[2020-06-16 08:58] cuge1995 commented on #40445
import numpy as np
import os
import tensorflow as tf
from keras import optimizers
from keras.layers import Input
from keras.models import Model
from keras.layers import Dense, Flatten, Reshape, Dropout
from keras.layers import Convolution1D, MaxPooling1D, BatchNormalization
from keras.layers import Lambda
from keras.utils import np_utils
import h5py

def mat_mul(A, B):
    return tf.matmul(A, B)

[2020-06-16 09:01] luchspeter commented on #38503
That solved the issue for me! Thank you.

[2020-06-16 09:11] ravikyram commented on #40500
@iBelow

Request you to fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Can you please elaborate about the issue & the context.Request you to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-16 09:21] vladdders commented on #39909
It seems that there was a `tf.tile` operation in my graph that cannot be quantized and probably was caught by this min/max exception. The correct exception seems to have been fixed in `tf-nightly-gpu==2.3.0.dev20200615`. Thanks for your support though!

[2020-06-16 09:21] #39909 closed

[2020-06-16 09:23] leandro-gracia-gil opened #40501 "SavedModel does not work correctly with signatures that use structured inputs or outputs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): N/A
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-34056-g

[2020-06-16 09:31] mhorlacher opened #40502 "Tensorflow's FixedLengthRecordDataset reads binary file significantly slower than pure Python"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0.0
- Python version: 3.7.6
- Bazel version (if compiling from source

[2020-06-16 09:33] FLming commented on #37561
This problem still exists, I can't find a way to solve it. There are no errors, and the GPU is not calculating, but it takes up GPU memory.

[2020-06-16 09:35] ArtanBerisha1 opened #40503 "Android-PoseNet is not accurate when person is laying down"
I am running PoseNet on mobile and saw that when the person is laying down the model can't detect the legs of the person, does this is something that is happening only to me or is a general problem. If so is there any way I can improve the accuracy of PoseNet ?

- Running on mobile device: Xiaomi MI A2 (the speed was around 100ms, but I also tried on another device with Qualcomm 835 which had bett

[2020-06-16 09:36] liyinhgqw commented on #40208
@preethivenkatesh @penpornk  We have run some workload tests and seen the difference. Thanks.

[2020-06-16 09:36] #40208 closed

[2020-06-16 09:41] amahendrakar commented on #39948
@runfengxu,
Could you please submit a new issue from [this link](https://github.com/tensorflow/tensorflow/issues/new/choose) and fill in the template so that we can track the issue there. Thanks!

[2020-06-16 09:45] manmay-nakhashi opened #40504 "RuntimeError: tensorflow/lite/kernels/range.cc:39 (start > limit && delta < 0) || (start < limit && delta > 0) was not true.Node number 3 (RANGE) failed to invoke. Node number 393 (WHILE) failed to invoke."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Command used to run the converter or code if you’re using the Python API**
[code]

**The output from the converter invocation**

[code]

**Also, please include a link to the saved model or GraphDef**

[code]

**Fai

[2020-06-16 09:49] iBelow commented on #40500
I get this conclusion at the start of the project.
at the moment, everything that happens - only imports are loaded

import list:
[code]

fullstack warnings:
[code]

code:
[code]

Tensorflow official build 1.14
[code]

can i disable this warnings?

[2020-06-16 09:58] shilan commented on #40418
I will be back next week, but closing this might be a false indication that it solved the problem, which it didn't. I ran the commands they had suggested and none worked for me. The only thing I haven't tried though is the downloading the windows compiled wheel that @King has suggested. However that doesn't solve my problem entirely. What if I need to change the tensorflow code and compile it agai

[2020-06-16 10:06] gowthamkpr commented on #40407
As mentioned in this [comment](https://github.com/tensorflow/tensorflow/issues/35573#issuecomment-596863684), try using latest version of protobuf and lt me know if it works. Thanks!

[2020-06-16 10:08] leandro-gracia-gil commented on #40501
Another issue: unlike inputs, nested outputs (not just a named tuple like in the example, but nesting them) are not automatically flattened. You need to manually flatten them to be able to export them.

If you don't, you get a `ValueError` that says:

This is another inconsistency and a problem that could also be avoided with the proposal above, since the entire nested structure would be flattened

[2020-06-16 10:17] meteorcloudy commented on #39439
That looks like https://github.com/tensorflow/tensorflow/issues/10521
Do you have `build --define=override_eigen_strong_inline=true` specified in the `.tf_configure.bazelrc` file?

[2020-06-16 10:20] ratansingh98 opened #40505 "Want to contribute but build takes time"
I am new to TensorFlow's contribution community. I want to add some features and write test some scripts for it, but as it is taking so much time to build. I want to import TensorFlow from the source without re-building every time.
Please let me know if it's possible or if there is another way of doing that.

[2020-06-16 10:39] A-suozhang commented on #38787
* After unbelievable trails and error, I found a weird solution, with sdk and ndk properly installed and added into tensorflow build .bazelrc,  just comment out the com.android.support in ovic apk BUILD, I could successfully build it this way, **However, no related tutorial or post mentions any related operation, so I'm not sure whether its the right way. (To be frank, its rather weird, even Im su

[2020-06-16 10:56] aaliddell commented on #40492
Ok, that's great to hear and I'm glad it's being look at; I see the .so file is now halved in size in the nightly wheel that you've linked. I guess other inputs to that library have been looked at to see if similar gains are available? I don't have much visibility into what now dominates the size of this file.

In terms of this issue: is it worth holding to track actions for reducing the size, or

[2020-06-16 11:09] #39801 closed

[2020-06-16 11:10] kglapiak commented on #39221
Yea, its works. Thanks !

[2020-06-16 11:10] Akanksha521 opened #40506 "from tensorflow.python.framework import versions File "C:\Users\Akanksha\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\framework\versions.py", line 24, in <module>__version__ = pywrap_tensorflow.__version__ AttributeError: module 'tensorflow.python.pywrap_tensorflow' has no attribute '__version__'"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-06-16 11:10] gcuder opened #40507 "Conversion error when trying to convert model using BeamSearchDecoder from tensorflow-addons [RNN]"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MAC OS 10.15.5
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2

**Command used to run the converter or code if you’re using the Python API**

[code]

**The output from the converter invocation**

[code]

**Any other info / logs**

I am trying to convert

[2020-06-16 11:37] ravikyram commented on #40500
@iBelow

Can you please help with colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-16 11:38] asmitapoddar commented on #40407
(This)[https://stackoverflow.com/questions/62342221/tensorboard-logdir-runs-not-working-abort-trap-6] is how I resolved the issue.

[2020-06-16 11:50] amahendrakar commented on #40233
@willbattel,
Thank you for the update. Marking the issue as close, please feel free to reopen if necessary. Thanks!

[2020-06-16 11:50] #40233 closed

[2020-06-16 11:57] ravikyram commented on #40506
@Akanksha521

Request you to fill [issue template.](https://github.com/tensorflow/tensorflow/issues/new/choose).

Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2020-06-16 12:11] Marvinmw commented on #40478
Hi, I use tensorflow.keras instead of keras and upgrade tensorflow to 2.2.0. Then it is fine.

[2020-06-16 12:15] amahendrakar commented on #40176
@jxfruit,

The platform I was running on was bacsed on x86_64 architecture.

[2020-06-16 12:36] iBelow commented on #40500
@ravikyram
https://colab.research.google.com/drive/1_7bAl9x7rx4XGWEchrz8hUiLKi2A_h5n?usp=sharing

[2020-06-16 12:38] suraj-maniyar commented on #40342
@nikitamaia @anj-s @rchao
Are there any updates on this issue?

[2020-06-16 12:40] samhodge commented on #39439
I am not sure but this is the latest

[code]

[2020-06-16 12:40] sunzhe09 commented on #40498
@abattery I want to run on android,the   flexop is not support

[2020-06-16 12:41] kenyukobayashi commented on #27519
Had the same issue. It turns out that by default, eagerly execution is disabled when running the fit function on a model. To counter this, you can run : `model.run_eagerly = True` before runing model.fit.
This worked like a charm for me on Tensorflow 2.2

[2020-06-16 12:45] samhodge commented on #39439
The static library is TOO big, so where to from here?

[2020-06-16 12:47] chsigg commented on #40423
Hi Oscar, it's not really much less work to set up nightly releases for cuDNN 8 with CUDA 10.2 than going straight to CUDA 11. So I would rather do the latter, but it means that TF 2.3 will be released for CUDA 10.1 and cuDNN 7.

That said, the code is ready and you should be able to build TF for any combination of CUDA and cuDNN today. Is that an option for you?

[2020-06-16 12:47] amahendrakar commented on #40481
@santoshreddy254,
`tf.contrib` has been deprecated from TensorFlow 2.x.

Instead, please take a look at the [window method](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#window) from `tf.data.Dataset` and let us know if it works. Thanks!

[2020-06-16 12:53] devspartan opened #40508 "AttributeError: 'Tensor' object has no attribute 'numpy'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):
- TensorFlow version: 2.1.0
- Python version: 3.6
- GPU model and memory: NVIDIA 4GB gmx150

**currently my code giving me the error 'AttributeError: 'Tensor' object has no attribu

[2020-06-16 12:53] abattery commented on #40498
@sunzhe09 Actually you can run with `org.tensorflow:tensorflow-lite-select-tf-ops:0.0.0-nightly` aar. If you have concern about the binary size requirement, @thaink can help you in that area.

[2020-06-16 12:56] abattery commented on #40504
@manmay-nakhashi could you confirm that when you feed the exact same input data to the TF graph, does it generate a correct result?

[2020-06-16 12:59] sunzhe09 commented on #40498
@abattery thx! besides, if I want to post train quant my model ,what should I do? @thaink  can you help me?

[2020-06-16 12:59] abattery commented on #40507
@gcuder could you create a TF model with control flow v2 ops? https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2

[2020-06-16 13:02] v-sivak commented on #40414
Thanks! Yes you can close this.

[2020-06-16 13:04] abattery commented on #40498
For the post-quantization training, you can just use the following option during conversion.
FYI, https://www.tensorflow.org/lite/performance/post_training_quantization#dynamic_range_quantization

[code]

[2020-06-16 13:08] amahendrakar commented on #40502
Was able to reproduce the issue with [TF v2.2](https://colab.research.google.com/gist/amahendrakar/d27936b334109100a63e1f41af3250cc/40502.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/2a3b0437187fd5ee7e79ce3d4c303415/40502-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-06-16 13:10] meteorcloudy commented on #39439
It's weird the total size of the static library will go over the 2GB limit while the DLL is only tens of MB?
Can you check `bazel-out/x64_windows-opt/bin/tensorflow/tensorflow_cc_static.lib.params` to see what libraries it tries to link? Many we can first do some hack to the rule to filter some unwanted dependencies.

[2020-06-16 13:10] sunzhe09 commented on #40498
in fact，my use case  is full quant :
import tensorflow as tf
converter = tf.lite.TFLiteConverter.from_keras_model(keras_model)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
def representative_dataset_gen():
  for _ in range(num_calibration_steps):
    # Get sample input data as a numpy array in a method of your choosing.
    yield [input]
converter.representative_dataset = representative_da

[2020-06-16 13:15] meteorcloudy commented on #39439
It could also be a result of not having `--define=override_eigen_strong_inline=true` as a build option, which could cause the obj file to be very large.
Can you try to rebuild with `--define=override_eigen_strong_inline=true`?

[2020-06-16 13:18] jvishnuvardhan commented on #38220
@beniroquai May be this is not a tflite issue. I tried saving the model in 'tf' format which throws the same error as you mentioned. For some reason, when you save the model in 'h5' format, it is not throwing error but throws the same error during execution of `convert.convert`.

I replaced this line `model.save('test.hdf5')` with `model.save('test',save_format='tf')`.

Error trace is as follows
[

[2020-06-16 13:22] jvishnuvardhan commented on #37561
@FLming Can you please try adding `steps_per_epoch` and `validation_steps` to `model.fit` and then test whether the error persists or not? Thanks!

[2020-06-16 13:43] abattery commented on #40498
As far as I know, the mode will be supported with the flex op. If you have any issues with it, please let us know.

[2020-06-16 13:53] ymodak commented on #40462
Perhaps you can use `label_mode` arg to achieve this.
[code]

[2020-06-16 13:54] Saduf2019 commented on #40478
@Marvinmw
Does that resolve the problem, if it does please move this issue to closed status.

[2020-06-16 14:06] Lay4U commented on #39706
@omalleyt12
There is something I don't understand. you create a MyLayer and multiply it by 2, but I know that the actual lstm doesn't work like this. In other words, I can't find a connection between your answer and my question. Could you please tell me the Full source for my question if you possible?

[2020-06-16 14:08] jappoz commented on #40466
This seems to be related to the GPU.
I have found out that by disabling the GPU the performances improve dramatically (less than 1 second to load the same network)
The code I used to disable the GPU:
[code]
What could be the reason for such slow down in the GPU version?
I understand that the GPU version has to do some stuff for initialization but still this looks too slow to me.

[2020-06-16 14:33] paulgheorghecristian opened #40509 "GatherV2 bug from pb->tflite"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2020-06-16 14:39] ericqu opened #40510 "[RNN] LSTM and Bidir layers can't be converted in a TFLite model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version (or github SHA if from source): 2.2.0

**Command used to run the converter or code if you’re using the Python API**
If absolutely needed I will upload some code on a Colab, please request it.

[code]
output:
[code]
model is q

[2020-06-16 14:41] abattery commented on #40509
@paulgheorghecristian TOCO converter is now deprecated. Could you try conversion with MLIR converter from the recent TF version?

[2020-06-16 14:47] abattery commented on #40504
@manmay-nakhashi I can reproduce your errors. However, the model is kind of complicated one. I think the problematic portion is `TFFastSpeechLengthRegulator`. Could you help creating a small tflite that reproduces the same error with the above keras layer?

[2020-06-16 14:48] sbrl commented on #9487
I'm getting this error (which I assume is from libtensorflow, the C++ binary) when using Tensorflow.js in a Node.js environment:

[code]

I can confirm that it is absolutely _not_ using anywhere close to 10% of my system memory. In `htop` it caps out at well under 1GiB - I have 24GiB to give it, but it keeps crashing as above.

[2020-06-16 14:54] Namburger commented on #26501
Hey all, I've written this repo that have a single cmake file rules that will compile a minimal example of tflite in c++ :)
https://github.com/Namburger/edgetpu-minimal-example

It also has code plugin for using with the [edgeptu](https://coral.ai/products/accelerator) for faster inference but that's optional. Building should be as easy as this on the rpi.
[code]

[2020-06-16 14:54] Hamza5 commented on #38565
I have the exact same problem!

[2020-06-16 15:02] paulgheorghecristian commented on #40509
@abattery Thank you for your response! Are you referring to the tflite_convert tool? If not, do you guys have a tutorial for this MLIR?

[2020-06-16 15:05] mihaimaruseac commented on #39326
Hmm, let's try building while you have installed `tf-nightly`. That is, let's try running the following

[code]

[2020-06-16 15:08] Saduf2019 commented on #40501
@leandro-gracia-gil
I ran the code shared above, please let us know if [this gist](https://colab.research.google.com/gist/Saduf2019/10e7dfe5c9a68ee76391c9dcb266b11f/untitled233.ipynb) confirms your issue.

[2020-06-16 15:09] abattery commented on #40509
The recent version of TF uses MLIR converter by default. You can reuse your conversion code.

[2020-06-16 15:13] Saduf2019 commented on #40445
@
I ran the above code and fixed as many indentation and syntax error as i could but there are way to many to fix, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/f1f7701ca7f4db0ad099d2aae2bb38b8/untitled231.ipynb).
Please provide executable code such that it replicates the issue faced or if possible please share a colab gist for us to analyse.

[2020-06-16 15:14] mihaimaruseac commented on #40350
Unfortunately I don't think we have CI to ensure main TF builds on mobile. Since you are building from source, you can grep for `fegetround` in the source code and find a replacement that is available on mobile.

[2020-06-16 15:16] leandro-gracia-gil commented on #40501
@Saduf2019 Yes it does. However, note that my code contains multiple examples of failing cases for different reasons as indicated in the comments. Each of these will cause an error (with the exception of the `bad_output_pair` result where there is no error but the result is unsafe due to unreliable ordering). The gist is simply failing on the first of such cases.

[2020-06-16 15:18] nikitamaia commented on #40508
Hi @devspartan I suspect this is because you are calling numpy() within model.fit, which uses @tf.function under the hood automatically. If you add the argument run_eagerly=True to your model.compile, you should no longer get the error. However, then your model will train very slowly.

You might want to investigate [adding a callback](https://www.tensorflow.org/guide/keras/custom_callback) for a m

[2020-06-16 15:21] amahendrakar commented on #40485
@Lucysmith8,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the TensorFlow version you are using.

Also, please take a look at [this similar](https://github.com/pyinstaller/pyinstaller/issues/4200) issue and let us know if it works. Thanks!

[2020-06-16 15:25] Meteorix commented on #27285
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/depthwise_conv_op_gpu.h#L1766

It seems to be a bug here. In this case `num_filter_backprop = 3 * 3 * 3, sizeof(fp16) = 2`, so `ThenMemset32` will definitely raise error `0 == size % 4 (0 vs. 2)`.

@jvishnuvardhan could you take a look at this?

[2020-06-16 15:32] paulgheorghecristian commented on #40509
I'm pretty sure you are referring to tflite_convert, I receive a similar error from this tool:
`2020-06-16 18:01:51.768228: F tensorflow/lite/toco/graph_transformations/propagate_fixed_sizes.cc:118] Check failed: dim_x == dim_y (2048 vs. 256)Dimensions must match
`

[2020-06-16 15:33] Marvinmw commented on #40478
yes.solved.

[2020-06-16 15:33] #40478 closed

[2020-06-16 15:34] mihaimaruseac commented on #40505
After the first compile the others should be cached and don't take that much of time. Unless you sync to master again, an action which would likely invalidate the cache again.

Unfortunately, we don't have too much engineering time dedicated to streamlining the build. There is some effort in this line but we can benefit from open source community contributions too.

[2020-06-16 15:34] amahendrakar commented on #40505
@ratansingh98,
If you want to install TensorFlow from pre-built packages, please check this [guide](https://www.tensorflow.org/install/pip).

Or if you have built TensorFlow from source, the `whl` file is stored in the `/tmp/tensorflow_pkg/` directory. You can use this `whl` file to install TensorFlow every time instead of re-building from source.

Please check [this](https://www.tensorflow.org/in

[2020-06-16 15:36] paulgheorghecristian commented on #40509
I'm sorry, I am not sure what you are referring to. If I use tflite_convert, which supposedly uses `    converter = lite.TFLiteConverterV2.from_saved_model(flags.saved_model_dir)
`, I still get an TOCO error:
`2020-06-16 18:01:51.768228: F tensorflow/lite/toco/graph_transformations/propagate_fixed_sizes.cc:118] Check failed: dim_x == dim_y (2048 vs. 256)Dimensions must match
`

[2020-06-16 15:37] mulka commented on #40462
@ymodak I think that's the right way to do it, but would also be nice if labels=None worked, or at least if the error message that comes up tells you the right way to do it. Right now it says "If you wish to get a dataset that only contains images (no labels), pass `labels=None`" which doesn't work.

[2020-06-16 15:37] mihaimaruseac commented on #39981
@paulis-reece @Satist @aavishkarmishra @kandekar007

First one to land the PR fixing the issue wins. There is no one assigning issues to contributors.

[2020-06-16 15:39] Saduf2019 commented on #38712
@fcunilim

Is this still an issue, if not can we please move this to closed status

[2020-06-16 15:41] Saduf2019 commented on #31928
@sdll
an you get the example down to the simplest possible reproducible code so that it is easy for us to pinpoint the issue.

[2020-06-16 15:41] Saduf2019 commented on #39066
@raghavgurbaxani
Please update if this is still an issue.

[2020-06-16 15:48] srjoglekar246 commented on #36517
Argh. This is related to some (known) changes in the upstream TensorFlow, which re-implemented non_max_suppression_with_padding in a way that no longer uses ops fully supported by TFLite. Lemme get back to you with some updates.

[2020-06-16 15:49] manmay-nakhashi commented on #40504
@abattery sure i'll do that and update over here, i am able to load and generate correct result in pb file
but i have to modify a code little bit, if with same code i am trying to convert it to tflite then i am getting this error
[code]
if i am giving fixed length dimensions  while creating model , in signature then i am getting this error
which is from TFFastSpeechEmbeddings layer
[code]
so i com

[2020-06-16 15:50] Saduf2019 commented on #40142
@dimanshu
Please update as per above comment.

[2020-06-16 15:51] manmay-nakhashi commented on #40504
i'll do that

[2020-06-16 15:59] beniroquai commented on #38220
@jvishnuvardhan Maybe I don't quiet understand what you mean, but I also tried to forgo the step of saving and loading the keras model so that the model is getting converted using the tflite converter directly, but the error stays the same.
I've updated the [Colab](https://colab.research.google.com/drive/1_GJKcha7S_J_s0JitunMWd4I2dMx4KC4?usp=sharing) and followed [this advice](https://github.com/t

[2020-06-16 15:59] abhinavsp0730 commented on #39981
But, where to send the PR(repo) ?

On Tue 16 Jun, 2020, 9:08 PM Mihai Maruseac, <notifications@github.com>
wrote:

[2020-06-16 16:05] ratansingh98 commented on #40505
Thanks for the info. As for now, the cache can be very useful for me. If possible, I will look into streamlining the build.

[2020-06-16 16:07] IvanGas commented on #40005
@Saduf2019
I confirm that the issue can be closed.

Thank you and regards,
IG

[2020-06-16 16:15] ratansingh98 commented on #40505
Thanks @amahendrakar , but that's not exactly was my question. I wanted to reduce that build time or a handy way to import TensorFlow. In my case, I wanted to generate a new **whl** file every time I build TensorFlow from my modified source.
As @mihaimaruseac told, the building is not streamlined enough. I have to rely on the cache.
Thanks for your guidance though.

[2020-06-16 16:15] #40505 closed

[2020-06-16 16:21] Saduf2019 commented on #40005
Moving this to closed status with confirmation

[2020-06-16 16:21] #40005 closed

[2020-06-16 16:47] devspartan commented on #40508
Thanks. For sure it did work. But why is the training so slow. Is there any better way to do that??

[2020-06-16 16:47] soleares opened #40513 "Docker images with tags '1.15.3' are missing on Docker Hub"
We would like to update our images to release 1.15.3 for the security fixes it contains. I'm not seeing any 1.15.3 images on dockerhub though.

https://hub.docker.com/r/tensorflow/tensorflow/tags?name=1.15.3

[2020-06-16 16:48] jvishnuvardhan commented on #40466
@jappoz Thanks for reporting this issue. Can you please check with recent `TF2.2`, `tf-nightly` and let us know whether the issue persists? Thanks

[2020-06-16 17:03] MFreidank opened #40514 "TFBertForSequenceClassification: Non-deterministic when training on GPU, even with seeds fixed and TF_DETERMINISTIC_OPS="1""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: -
- TensorFlow installed from (source or binary): used on Google Colab
- TensorFlow version (use comm

[2020-06-16 17:09] mihaimaruseac commented on #39981
This repo.

[2020-06-16 17:14] Lothiraldan opened #40515 "Keras callback stops receiving some params with tensorflow 2.2.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 31
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.2.0-rc4-8-g2b96f3662b 2.2.0
- Python version: Python 3.7.5
- CUDA/cuDNN version: No GPU
- GPU model

[2020-06-16 17:27] mahdiabdollahpour commented on #23698
When I pass class_weight to model.fit() the error comes and when I do not pass it goes? any Idea how to solve it?

`
Tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.
  (0) Invalid argument:  indices[84] = 31 is not in [0, 31)
	 [[{{node GatherV2}}]]
	 [[IteratorGetNext]]
	 [[ReverseSequence_1/_502]]
  (1) Invalid argument:  indices[84] = 31 is not in [0, 31)
	 [

[2020-06-16 17:28] alexcoca commented on #40127
Hi @amahendrakar,

Thank you for getting back. I will request at the link indicated and close this issue!

Alex

[2020-06-16 17:29] #40127 closed

[2020-06-16 17:34] mahdiabdollahpour opened #40516 "Tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found."
**System information**
- Tf 2.2.0
- Windows10
- Python version: 5.7.6
- git version v2.2.0-rc4-8-g2b96f3662b

When I pass class_weight to model.fit() this error comes and when I do not pass it goes? any idea how to solve it?

`
Tensorflow.python.framework.errors_impl.InvalidArgumentError: 2 root error(s) found.
  (0) Invalid argument:  indices[84] = 31 is not in [0, 31)
	 [[{{node GatherV2}}]]
	 [

[2020-06-16 17:35] nikitamaia commented on #40508
The training is slow because you are no longer leveraging @tf.function, and instead training eagerly. You could try using a callback or implementing a custom metric, instead of printing directly within the loss function.

[2020-06-16 17:38] amahendrakar commented on #40266
@syamsruthin,
Thank you for providing the gist. I was able to reproduce the issue with TF v1.15.

Could you please share the `model.h5` file you are using while running the code in TF 2.x. Thanks!

[2020-06-16 17:40] amahendrakar commented on #40306
@purva98,
Any updates regarding this issue? Thanks!

[2020-06-16 17:41] henrysky opened #40517 "for loop in map_fn within tf.function is very slow compared to using while_loop counterpart"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
- OS Platf

[2020-06-16 17:41] zampnrs opened #40518 "Performance difference of TFlite in Android and iOS (model with quantization)"
I've trained a model to detect custom objects to be used in mobile devices (Android and iOS), my code is based in the tensorflow's examples for [iOS](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/ios) and [Android](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android). During my tests in pyshical devices (iPad 6th gen and Xia

[2020-06-16 17:58] aboerzel commented on #36016
Hi @jvishnuvardhan,
I tried your solution and was now able to successfully convert my keras-model into a tflite-model with GPU optimization.

Thank you very much for your help! 👍

Andreas

[2020-06-16 17:58] #36016 closed

[2020-06-16 18:01] amahendrakar commented on #40359
Was able to reproduce the issue, runtime crashes on running the code with TF-nightly. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/89e524b36c99b36ae2157c55fc81aab0/40359-tf-nightly.ipynb). Thanks!

[2020-06-16 18:06] shreymohan commented on #40359
@amahendrakar  Hey! thanks for reaching out! Any suggestions on how to solve this issue?

[2020-06-16 18:09] ruixin-bao commented on #40355
Hi,
@frankchn, thank you for the information.

Wondering if you mind elaborating a bit further? I was building tensorflow from source on both s390x and intel, and is running the entire test suite. Specifically, I was wondering the following:
- seems like tests with `no_oss` tag is not too important? If we build tensorflow from source to run tests and see tests with `no_oss` tag fails, is it safe t

[2020-06-16 18:11] amahendrakar commented on #40385
@vonadz,
Could you please check @cfabio's comment and let us know if it helps. Thanks!

[2020-06-16 18:15] OriAlpha commented on #27543
by this it gives error as

[2020-06-16 18:16] jvishnuvardhan commented on #40345
@buddhapuneeth Can you please share a simple standalone code to reproduce the issue? You could use google colab or Jupyter notebook. Thanks!

[2020-06-16 18:26] dipendra009 commented on #38787
Thank you, A-suozhang. That worked for me.

[2020-06-16 18:26] fragolka commented on #40510
Hi,
I have the same issue trying to qunatize the DeepSpeech2 model:
[code]
the only difference in my script is following parameter:
[code]
I would like to know what is the solution as well. Thanks

[2020-06-16 18:27] nikitamaia commented on #36574
Hi @arjun-majumdar were you able to get your code working by creating a wrapper function?

[2020-06-16 18:27] amahendrakar commented on #40406
Was able to reproduce the issue, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/f06bac5b647b95b26f9e6d6614bbe8dc/40406.ipynb#scrollTo=yxeH6LVBVNvL). Thanks!

[2020-06-16 18:40] noahtren commented on #38762
@oja I'm having the exact same problem so I thought I'd share what I found:
https://github.com/huggingface/transformers/pull/1424/files#diff-5843fc9f06d46f05183ab24e6d139575R39

In this code they're doing tokenization in advance and building a tf.data.Dataset from that. Of course this won't work if your dataset won't fit in memory, and it would still be great to have py_function working with TPUs.

[2020-06-16 18:49] gowthamkpr commented on #40462
@mulka Agreed. As the error message suggests

As the error message suggests, passing `labels=None` as an argument should work but its not in this case.

[2020-06-16 18:52] ElPapi42 commented on #40370
was there a merge for this?

[2020-06-16 18:52] KubaMichalczyk commented on #24828
@vkyprmr So here's the interesting thing: the training starts and crashes just after first batch with tensorflow 2.1, but doesn' seem to start with tensorflow 2.2. I attach full error message from the latter:

[2020-06-16 19:09] #39943 closed

[2020-06-16 19:11] makn87 commented on #40130
OK

This doesn't work.
`bazel build -c dbg --strip=never --per_file_copt=//tensorflow/c/.*\.cc,//tensorflow/cc/saved_model/.*\.cc,//tensorflow/core/framework/.*\.cc,//tensorflow/cc/framework/.*\.cc //tensorflow/tools/pip_package:build_pip_package`

Using the command above for either the target `build_pip_package` or `libtensorflow_cc.so` , results in the following error:

` external/aws-checksums/

[2020-06-16 19:16] CalebEverett commented on #40369
Ok, I was able to run on 2.2. Thank you.

[2020-06-16 19:16] Santosh-Gupta commented on #33491
I get this same error message. when I am trying to load a model with tf.keras.models.load.

[2020-06-16 19:20] syamsruthin commented on #40266
@amahendrakar  Here is the gist for creating .h5 file for tf2.2
https://colab.research.google.com/gist/syamsruthin/3485c5e7cce5961bf45c554f38ba1ac7/issue_40266_tf_2.ipynb
Thanks.

[2020-06-16 19:22] jdduke commented on #40427
Do you have a link to a model that requires this? Are you sure this is the only op that is needed? You can try using the following approach to integrate this op, though it will come at the cost of binary size: https://www.tensorflow.org/lite/guide/ops_select

[2020-06-16 19:23] oja commented on #38762
Hi @noahtren, unfortunately my dataset is too large to do any significant work outside of the tf.data pipeline. I have opened a bug [here](huggingface/transformers#5066)

[2020-06-16 19:27] oja commented on #38672
Hi everyone, see a related issue where this doesn't work on TPU here https://github.com/huggingface/transformers/issues/5066

[2020-06-16 19:28] av8ramit commented on #40492
So we have internal trackers and goals to monitor and reduce the size. Since the particular issue you referenced is not the root cause, and we have significantly decreased the size for now, I'll close this issue and link it internally. Hope that is okay. Thanks for filing the issue and looking into this!

[2020-06-16 19:28] #40492 closed

[2020-06-16 19:46] vkyprmr commented on #24828
@KubaMichalczyk
Did you try reducing the batch size to 32???

Did you install tensorflow with pip or conda?

[2020-06-16 19:49] KubaMichalczyk commented on #24828
@vkyprmr Yes, I have tried with lower batch size as well. The error pops out always after first batch with tensorflow 2.1 and even before first batch with tensorflow 2.2. I installed it with conda.

[2020-06-16 19:52] melhabr opened #40519 "Tensorflow lite v1 converter not correctly quantizing model (tf 2.2.0)"
**System information**
- OS Platform and Distribution: Ubuntu 18.04.4 LTS
- TensorFlow installed using pip, version 2.2.0

**Python Code**

[code]

# Issue:

This code successfully produces a tflite flatbuffer, but the flatbuffer does not appear to be quantized correctly. When I attempt to compile the resulting model using Google's edgetpu_compiler tool, I encounter the following error:

[code]
Th

[2020-06-16 20:00] srjoglekar246 commented on #40154
@ShiyongL , I have asked the GPU folks internally to take a look at this model/issue. Will keep you posted on the details :-).

On that note, did you try any other delegates for this? (for example, XNNPack?)

[2020-06-16 20:02] ryanmaxwell96 commented on #40395
I think I gave it. Do you have access now?

[2020-06-16 20:03] nikitamaia commented on #37571
Hi @Crispy13, yes you can run MirroredStrategy with one GPU in colab and for this scenario I think we should be able to reproduce the error. If you are still facing this issue, please provide a colab notebook so we can help troubleshoot.

[2020-06-16 20:03] tommywei110 commented on #40484
I see how this complies with python's string split.
But on the other hand, I wish there's a clearer indication in the documentation to talk about this upgrade from v1.
And from the usability standpoint, the equivalent of splitting on multiple characters by v1.string_split would be harder for the v2 strings.split to accomplish. In the python equivalent, I would have to use re.split.
Is there any wo

[2020-06-16 20:09] #32720 closed

[2020-06-16 20:09] #33382 closed

[2020-06-16 20:17] nikitamaia commented on #36081
As mentioned by @ymodak, both MultiWorkerMirroredStrategy or ParameterServerStrategy support training across multiple machines. Closing this issue now since it is not a bug, but feel free to create a new issue if you run into performance issues with these strategies in the future.

[2020-06-16 20:17] #36081 closed

[2020-06-16 20:25] jdduke commented on #40313
This isn't yet possible, but we plan on enabling XNNPACK by default in the near future, so you shouldn't need to do anything explicitly on your end.

[2020-06-16 20:27] pingsutw commented on #36081
@nikitamaia Thanks for the reply and help

[2020-06-16 20:29] bjourne commented on #40428
I understand how it works and of course I want to use all replicas. But it is very surprising to me that the strategy would modify the model definition automatically. That is very unexpected.