[2019-02-13 02:32] adppark commented on #25689
Python version : Python 2.7.6
Bazel version : Build label: 0.21.0
gcc (Ubuntu 4.8.4-2ubuntu1~14.04.4) 4.8.4
(Don't use GPU)

This is my environment information.

[2019-02-13 02:35] adppark commented on #25689
I used test example code --> (part of keras) https://www.tensorflow.org/lite/convert/python_api

and occur error like this

WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/python/ops/init_ops.py:1253: calling __init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance

[2019-02-13 02:40] tobegit3hub commented on #24503
Thanks @karmel for the reply. The "model files" means the SavedModel files. We may export the SavedModel multiple times with the same model version and only keep the latest one. Now we get exception if we try to export the SavedModel with the same model path.

[2019-02-13 04:21] xiaodongww commented on #18318
I also meet this problem and it takes hours for me to figure out that CudnnLSTM is time-major according to this [answer](https://stackoverflow.com/questions/49183538/simple-example-of-cudnngru-based-rnn-implementation-in-tensorflow).
For a beginner like me, it is also likely to use CudnnLSTM as a substitution of RNNCell and falsely use it as the input of tf.nn.bidirectional_dynamic_rnn.
Would it b

[2019-02-13 04:27] Musasshi90 commented on #21447
@rohan100jain ,he is referring to TFLite Demo app. In this app, he wants the camera to cover full screen and don't want the blank space at the bottom of the camera.

[2019-02-13 04:39] benknoble opened #25711 "Version/Build supporting python3.7 on macOS 10.11.x?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.11.6
- TensorFlow installed from (source or binary): `pip` (unclear)
- TensorFlow version: 1.9-1.13
- Python version: 3.7
- Installed using virtualenv? pip? conda?: `pip`

**Describe the problem**

I've tried `pip` installing versions 1.9 all the way up to 1.13 on the machine described above. All failed eith

[2019-02-13 04:46] adppark commented on #25689
Welcome to Ubuntu 14.04.5 LTS (GNU/Linux 3.19.0-25-generic x86_64)
Tensorflow build from source

[2019-02-13 06:25] #24308 closed

[2019-02-13 07:33] sreenupadidapu opened #25716 "KeyError in Serve-DualProtoBuf.py"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-02-13 07:34] sreenupadidapu commented on #25716
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-4-da7bde60a553> in <module>()
----> 1 features = encoder_forward_pass(sess, "Images/gen_plane.png")

<ipython-input-2-e5cc47d4db69> in encoder_forward_pass(sess, image_path)
     14
     15 def encoder_forward_pass(sess, image_path):

[2019-02-13 07:34] sreenupadidapu commented on #25716
plz help me

[2019-02-13 08:34] buaadf commented on #21526
Any update on Quantized TransposeConv (#21394) issue?

[2019-02-13 09:01] Algabri commented on #21076
I get the same issue, please help me

[2019-02-13 09:37] awaizman1 commented on #25213
Hi @preethivenkatesh

Any progress with this issue? can I do something that could help.

Thanks!

[2019-02-13 09:48] plooney commented on #25625
Running this on docker produces all 1s

[2019-02-13 10:42] maedoc commented on #25645
Thanks for your reply.  Indeed switching float64 does produce a smaller norm. However, I realized that comparing autograd and TF is not necessary to demonstrate the issue, here is a repro which compares TF's gradient to a finite difference,
[code]
which shows errors too large to be accounted for by machine precision, IMO.

I have noticed the errors in the gradient are consistently smaller when the

[2019-02-13 10:54] KoushikRaghav commented on #9487
Hi I'm using pi camera interfaced in raspberry pi3 b+ model.

Kindly guide to resolve the error

terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc

[2019-02-13 10:56] MihailSalnikov commented on #25442
I have same problem, and I can add that if we use decoder manually: initialize and step, all is ok.

[2019-02-13 11:44] JWSunny commented on #20798
@Elites2017 hello, when i convert the mobilenet-ssd .pb file to tflite file, i get the same error about [None,None,None,3], what can i do to solve the problem? can i ues the export_tflite_ssd_graph to convert? thanks

[2019-02-13 12:13] vinny1575 commented on #16488
I can confirm what @SiegeLordEx is experiencing. I am using tf-nightly and had Numpy 1.16.1 installed. Downgrading to 1.16.0 fixed it.

[2019-02-13 12:21] tbirn commented on #25688
Here you go:

[code]

[2019-02-13 12:25] wbadry commented on #17022
May I get the CUDA/CUDNN versions that was tested with Windows 10 x64 and Python 3.7.x?

[2019-02-13 12:37] bersbersbers commented on #17022
You may check the release notes for at least some info:

https://github.com/tensorflow/tensorflow/releases

And for CUDA 10, there is only CuDNN 7 (namely, 7.3.0, 7.3.1, 7.4.1, 7.4.2) as far as I can see.

[2019-02-13 12:39] kingstarcraft commented on #16291
@Rongnian
in windows, add follow lib file to additional dependencies by follow order to you project can solve this bug.
**tf_protos_cc.lib; libprotobuf.lib; tensorflow.lib;**

**please pay attention to their order.**

[2019-02-13 13:26] pauldadzie commented on #17629
@Emile0205 I agree!
I tried using TF 1.12.0 with cuda 10.0, seemed to work fine. Then I change to TF-gpu 1.12.0 and I get this error. Like why is this still an issue almost a year later from the thread was created?
I read in another thread that this problem has been around since TF 1.5!

[2019-02-13 14:05] dailystudio commented on #25657
@impdji
Great! I am looking forward to these updates. ; )

[2019-02-13 14:34] RuilongMachineLearning opened #25721 "convert_variables_to_constants raise issue of while/ReadVariableOp/Enter while dealing with LSTM and GRU"
<em>Please make sure that this is a bug. As per our [GitHub Policy]

**System information**

- TensorFlow version:1.12
- Python version:3.6
- NO GPU, and with GPU(GTX 1080Ti)

**Describe the current behavior**
convert_variables_to_constants first changes computed variables to constants, then converts ReadVariableOps to Identity node. However, in RNN models such as GRU and LSTM,  some variables are

[2019-02-13 14:37] vzeman commented on #24371
the same problem

My model:
[code]

[2019-02-13 14:42] lhlmgr opened #25722 "[feature request] Alternating Multi-Head for Estimator-API"
Hello everyone,

I really like the Estimator-API! Its clean, works well (for the most models) and it does a lot of work for you.
However, if you want to train custom models with alternating losses, its almost impossible to use the Estimator-API - unfortunate. (With tf-2.0, you definitely could use eager-mode + tfe.defun(), but I like the idea of a static graph for better performance.)

**System in

[2019-02-13 14:55] indramal commented on #22794
### **### The SOLUTION for "ImportError: DLL load failed: The specified procedure could not be found."**

When you import numpy you get this error, right?
`python -c "import numpy"`

So go to the Anaconda folder and go to site-packages folder according to the environment of anaconda.  Then go to numpy\.libs folder. There are *.dll file, right?

Now copy the link to the .libs folder and enter the p

[2019-02-13 15:36] andrehentz commented on #19431
I'm reopening this. Probably @jdduke or @gargn can help out with the issues you are facing. However, please consider opening separate issues, especially if your model is not 'mobilenet_v1_1.0_224'.

[2019-02-13 15:38] corlov commented on #20798
I have read the manual, but it seems there is not enough information about a list of possible values that could be set for input_arrays and output_arrays.
How can I understand what values for input_arrays and output_arrays I need to put there so those can correspond to my config file that was used for NN training?
In the manual, it says there should be names of activation tensors. To be honest  I

[2019-02-13 15:41] ginko3 commented on #19431
Working on the same issue, would you be interested in quickly solving this problem over slack/appear/whatsapp (real time tools) ?
We are trying to push facenet to android as soon as possible.

[2019-02-13 16:09] 447zyg commented on #24828
i also has same problem
try it delete the old cuDNN SDK (i remember it's no for 9.0)
download the cudnn-9.0-windows10-x64-v7.4.1.5
for 9.0   9.0   9.0
it's very important
then it work well

[2019-02-13 16:11] 447zyg commented on #24828
system                 win 10
tensorflow           1.12
CUDA                   9.0
cuDNN SDK         7.4.1.5
GPU                     GTX1060

[2019-02-13 16:24] JesseFarebro commented on #22889
This issue seems to be the most relevant to the problem I'm facing. I tried disabling NCCL P2P which should allow for training (albeit slower training) as per the issues pointed out by @Luonic. This fix doesn't seem to work. I don't have access to disable IOMMU, I was wondering if there is any other troubleshooting steps or workarounds for this issue?

For extra information, I did build from sourc

[2019-02-13 16:37] bioothod commented on #25232
This is because your local libtensorflow.so has been compiled against older tree, which doesn't include commit ec81825aaf7e848d9f8ddffdf1e0d20aebe9172c which introduced this new attribute

[2019-02-13 16:57] nizlas commented on #25601
Removing the parantheses seems to put everything on the CPU (at least my computer became extremely slow and the CPU was working 100%) so I would not recommend that. Not sure what it even means...replacing a function call with a variable?

My mistake was that numpy by default assigned float64 to the input tensor. However the error message is still quite confusing... I would have expected some warni

[2019-02-13 17:03] wirtsi commented on #25670
I would like to add that this seems to be not only wonky for keras.application models but also for regular keras models. I have a functional keras model that trains wonderfully through model.fit but when using estimators, it never converges.

What struck me weird is that also the metrics for the estimator seem totally wrong. I am attaching metrics to the keras model plus some on the EvalSpecs of t

[2019-02-13 17:49] ymodak commented on #25708
From the error message, I take this as a TensorFlow Build/Installation Issue (correct me if wrong)
Can you please provide following information requested by the template?
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- T

[2019-02-13 17:50] omalleyt12 commented on #24371
I'm unable to reproduce the original issue, could you please try with the latest nightly version of TensorFlow?

[2019-02-13 17:51] dynamicwebpaige opened #25723 "TF 2.0: tf.estimator import issue."
The TF 2.0 nightly build cannot import `tf.estimator`.

[code]

[2019-02-13 18:07] ymodak commented on #24232
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-13 18:07] #24232 closed

[2019-02-13 18:07] ymodak commented on #24431
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-13 18:07] #24431 closed

[2019-02-13 18:09] xilenteyex opened #25724 "GPU is idle even when there are operations ready to be executed"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-02-13 18:18] ymodak commented on #24322
Apologies for the delay in response. Is this still an issue for you?
Can you please take a look at duplicate #23628? Thanks!

[2019-02-13 18:34] xilenteyex commented on #24587
After exploring the meta_graph proto buf, I was able to get it to work. Now I can save a graph after modifying the control dependencies and then reload this new graph into another TF session and run it. this way, I am able to add control dependencies after the complete graph is created. For me, this is useful in improving the performance when doing training on multiple GPUs using model parallelism

[2019-02-13 18:37] TropSpirit commented on #25710
any update on this ? I'm running this on RK3399 pine board and getting following error

[2019-02-13 18:53] tensorflowbutler commented on #24875
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-13 18:53] tensorflowbutler commented on #25088
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-13 18:53] tensorflowbutler commented on #25191
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-13 19:05] TropSpirit commented on #25607
Any update on this ?

[2019-02-13 19:07] nhasabni commented on #25674
The PR for fix is out for review.

[2019-02-13 19:53] ymodak commented on #25577
@azaks2 Can you PTAL?

[2019-02-13 19:56] jvishnuvardhan commented on #25689
@adppark Please check tested [build configurations](https://www.tensorflow.org/install/source#linux). I think this error may be due to bazel version 0.21.0. Could you check the version of TF by print(tf.__version__). Thanks!

[2019-02-13 20:01] shahabty commented on #25592
@jpatts Hello,
I set the batch size to 1. But, I still cannot see any image in Tensorboard and the tab is not activated. But, I am able to use tf.contrib.summary.scalar with no difficulties.

[2019-02-13 20:02] ymodak commented on #25577
@HaoboZ Can you please try installing TF 1.13.0-rc0? It supports cuda 10.0
Also are you able to execute your code in Google Colab successfully using GPU?

[2019-02-13 20:14] jvishnuvardhan commented on #25601
@nizlas Thanks! I had to remove parentheses because Spyder was throwing error. But, it is just Spyder issue. In other places like Google colab, I need to use parentheses.
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-02-13 20:14] #25601 closed

[2019-02-13 20:43] jpatts commented on #25592
Hi @shahabty, so you are encountering the same problem then? If its not batch size I don't know what the problem would be.

[2019-02-13 20:52] jpatts commented on #25592
Yea just set the batch size to 1 as well and it did not fix anything. Very strange that train image logging works every time but test won't...

[2019-02-13 21:00] jpatts commented on #25592
Actually changing batch size to 1 fixed the problem for me completely; I tried this over multiple runs. So this supports the argument I made above that a non-constant batch size will break this function, or at least cause it to delete all log information for images.

[2019-02-13 21:13] nathan-greeneltch-intel commented on #24991
Is there any more followup needed on this issue?

[2019-02-13 21:22] superfan123 commented on #21454
'turning off' will means to change the 'graph'. So you may need to manually get the weight and calculate by yourself. I can't figure this out either. I want to calculate the validation error during training

[2019-02-13 21:28] shahabty commented on #25592
@jpatts I have added tf.contrib.summary.image to the code. And the code works properly. The only problem is that the image tab is not activated in Tensorboard. I also tried to only visualize the input image but the same hidden bug happened again.
Do you have any solution for the problem you have mentioned?

[2019-02-13 21:31] Spenhouet opened #25728 "Floating point addition is not commutative - Unexpected behavior - leads to NaN issues"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows and Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): b'v1.12.0-rc2-3-ga6d8ffae09' 1.12.0
- Python version: Python 3.6.5
- CUDA/cuDNN version: v9.0 / 7.2.1

[2019-02-13 21:32] jpatts commented on #25592
From what I understand, if you take a look at tf.summary.image, it details that it does preprocessing to the image before logging it. I assume the tf.contrib.summary.image does the same. It’s obvious that there are problems with this function, so I would try to log some other image data to make sure your input is correct, and make sure the batch sizes are the same for all data.

[2019-02-13 21:35] #25408 closed

[2019-02-13 21:54] jvishnuvardhan commented on #22039
@gulingfengze is this still an issue? Could you load TF 1.12 (stable) or latest version and check whether the issue persists? It is will be good if you can share a simplified code to reproduce the issue. If it was solved by newer version, please close the issue. Thanks!

[2019-02-13 22:05] jvishnuvardhan commented on #22049
@mvoitko is this still an issue? Could you try installing TF 1.12 (stable) or latest version and check whether the issue persists? If it was solved by newer version, please close the issue. Thanks!

[2019-02-13 22:06] #21022 closed

[2019-02-13 22:07] roymiles opened #25729 "TF_SessionRun_wrapper: expected all values in input dict to be ndarray (GPU nightly build)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
       I have used the basic example from: https://github.com/aymericdamien/TensorFlow-Examples/blob/master/examples/1_Introduction/basic_operations.py along with my own code. I have also made a SO question on the matter (https://stackoverflow.com/questions/54678961/tf-sessionru

[2019-02-13 22:14] jvishnuvardhan commented on #22058
@patzm is this still an issue? Could you load TF 1.12 (stable) or latest version and check whether the issue persists? It is be good if you can share a simplified code to reproduce the issue. If it was solved by newer version, please close the issue. Thanks!

[2019-02-13 22:21] wbadry commented on #17022
I tried
CUDA 9.0
CUDNN 7.4.2.24
tf-nightly-gpu
Python 3.7.2

Unfortunately, I received this message:
[code]

Should I install CUDA 10.0 ? and does the nightly build match the release candidate? from `pip list` it is `tf-nightly-gpu       1.13.0.dev20190211`

Your help is appreciated

[2019-02-13 22:29] NicolasVidal commented on #24322
Hi there, I'm trying to convert a Tensorflow 1.12 / Keras model with TFLiteConverter.from_keras_model_file. I've got no issue doing this on Colaboratory (tf 1.12), but when I run my model I encounter the dreaded error :
"Caused by: java.lang.IllegalArgumentException: ByteBuffer is not a valid flatbuffer model" error. with firebase-ml-model-interpreter:16.2.4

The model structure is the following :

[2019-02-13 22:47] jvishnuvardhan commented on #25670
@wirtsi Could you provide any code to reproduce the bug? Thanks!

[2019-02-13 22:54] bennuttall commented on #25296
The Python 3.5 wheel is simply the 3.4 wheel renamed. Have you tried downloading the wheel and renaming it?

[code]

I have a feeling this will work. If you can confirm, I'll add these copies to the piwheels index.

[2019-02-13 22:56] alextp commented on #25443
@gargn for freeze-resource-variables work

[2019-02-13 23:05] dsmilkov commented on #25592
Hi, I unassigned since I'm not the owner of this code. Perhaps someone from the TensorBoard can help?

[2019-02-13 23:13] gowtham-kp commented on #11277
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-02-13 23:18] DecentGradient opened #25731 "AttributeError: 'Tensor' object has no attribute 'numpy' in image_captioning_with_attention.ipynb"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): **2.0**
- Python versi

[2019-02-13 23:41] nickeys opened #25732 "ModuleNotFoundError: No module named 'numpy'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Sams

[2019-02-14 00:12] gunan commented on #25552
not sure what is going on here, CC @meteorcloudy may be able to help.

[2019-02-14 00:21] jvishnuvardhan commented on #25732
@nickeys This looks to be an error in numpy.
Could you check your numpy version?
You may try uninstalling numpy, and installing 1.15.4.
[code]
Please let us know whether it resolved or not. Thanks!

[2019-02-14 00:42] nickeys commented on #25732
@jvishnuvardhan OK~ Thanks. I'm about to initiate the build after change version of 'numpy' to 1.15.4. So, I'm going to tell you the result later because it will cost a lot of time, I suppose :-).

[2019-02-14 00:58] nickeys commented on #25732
Oh... the build failed again! BTW the result seems to be changed a little bit.

[code]

[2019-02-14 01:02] akshaym commented on #25439
Thanks for the report!

Based on reading some code, numpy special cases objects that are already np.arrays when converting sequences to python (code reference: https://github.com/numpy/numpy/blob/dea85807c258ded3f75528cce2a444468de93bc1/numpy/core/src/multiarray/ctors.c#L453) and there doesn't seem much we can do on the TF side to get around this.

Numpy does provide an API to allow this to be sli

[2019-02-14 01:48] adppark commented on #25689
Python 2.7.6 (default, Nov 13 2018, 12:45:42)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

<module 'tensorflow._api.v1.version' from '/usr/local/lib/python2.7/dist-packages/tensorflow/_api/v1/version/__init__.pyc'>

Is this right?

[2019-02-14 02:10] smohan10 commented on #20627
Hi,
I downloaded the tar file of Mobilenet v1.0-224 from the list of hosted quantized TF .pb and .lite model. I am unable to get the same numbers when I run inference for .pb model and .tflite model.

I am feeding image net data resized to (224,224,3). When I run inference and check the argmax of the output vector, the indices of .pb model and .tflite model are different.

I did use image.astype(n

[2019-02-14 02:31] marsupialtail commented on #25703
Say I want to implement a custom tensorflow operation that fuses convolution and batch norm, which I believe from reading source code is not supported rn. I would like to cache the input to the batchnorm so I can compute gradients for this op on the back pass.

[2019-02-14 02:54] freedomtan commented on #25710
FYI, with large enough swap space and patience, I was able to build recent master branch on an arm64 platform running Debian rootfs. What I used

1. my patches, https://github.com/tensorflow/tensorflow/pull/16175
2. bazel 0.22.0
3. gcc version 8.2.0 (Debian 8.2.0-20)
4.
[code]

[2019-02-14 02:59] milinddeore commented on #19431
@andrehentz can you please reopen this issue? Thanks.

[2019-02-14 03:06] elyasmehtabuddin opened #25734 "TPU has XLA compilation issue on TF 1.13rc1"
I am getting an issue with using XLA on the cloud TPU on tensorflow version 1.13 (but not 1.12).

tag:comp:tpus
comp:tpus

**System information**
- Using Google's cloud TPU with Tensorflow 1.12

System info:
[code]

**Describe the current behavior**

When I uninstall tensorflow 1.12 and install tensorflow 1.13 via:
`pip3 uninstall tensorflow`
`pip3 install tensorflow==1.13.0rc1`

Then run my model

[2019-02-14 03:11] nfelt commented on #25592
@jpatts it would be very helpful to have code that at least occasionally reproduces this, even if you can't reproduce it reliably.  It sounds like it was reliable enough that you could be confident a batch size of 1 fixed the problem which suggests that you do have code that reproduces the problem often enough to notice it?

Some questions:
- How are you calling `create_file_writer()`?
- Does the

[2019-02-14 03:25] adppark commented on #25689
when I try to with bazel version 0.15.0
printed like this

release@VDBS1109:~/tensorflow$ ./configure
WARNING: Running Bazel server needs to be killed, because the startup options are different.
WARNING: ignoring http_proxy in environment.
WARNING: --batch mode is deprecated. Please instead explicitly shut down your Bazel server using the command "bazel shutdown".
You have bazel 0.15.0 installed.

[2019-02-14 03:31] freedomtan commented on #25728
I don't think floating point addition is commutative.

[2019-02-14 03:36] freedomtan commented on #25688
@tbirn You may want to check if the compiler was killed because of memory pressure.

[2019-02-14 03:40] milinddeore commented on #23627
@srjoglekar246 This is FaceNet [model](https://drive.google.com/open?id=1EXPBSXwTaqrSC0OhUdXNmKSh9qJUQ55-), the source code is [here](https://github.com/davidsandberg/facenet/tree/master/src), and i modified [train_softmax.py](https://www.dropbox.com/s/o1r0bw3fpu9imgm/train_softmax.py?dl=0) for `.tflite` conversion.

I tried converting to `.tflite` from savedModel and from frozen but no luck. But

[2019-02-14 03:56] raofengyun commented on #23030
I have encountered the same problem.
Both `tf.contrib.layers.l2_regularizer` and `tf.keras.regularizers.l2` not working with `tf.layers.dense` layer, using MirroredStratedy.
tf 1.12 CUDA 9.0

[2019-02-14 04:16] jpatts commented on #25592
Hey, quick question answers:
1. Check code below
2. I have yet to try that
3. Only image
4. Issues occur at every batch size, including 1. However 1 seems to work the most often.

Here is a code example that illustrates the exact problem occurring. Changing batch size of 1 to 3 will also break the logging, as 100 % 3 != 0. However strangely enough Canging size of the images dataset to something li

[2019-02-14 04:32] vashineyu commented on #20338
Hi @David-Mao,

I met the same issue that loop of layers will met "AttributeError: can't set attribute", however, I figure out that it seem "self.layer" is conflict with existing attribute "layer/layers"

[code]
which gives you "AttributeError"

Howver,
[code]
this case will pass.
The only different is "self.layer" -> "self.iamlist"

So... I think the conclusion is you should not define attributes

[2019-02-14 04:49] freedomtan commented on #25314
It seems it's caused by NNAPI stuff not TFLite.

[2019-02-14 05:02] dynamicwebpaige commented on #23951
Thanks for the offer to help, @Sudeepam97! We appreciate it. :smile:

@gunan, @martinwicke - Should the error message shown above be modified to reflect CUDA requirements in TF 2.0 vs TF 1.12?

[2019-02-14 05:11] milinddeore commented on #17328
@rajatmonga Thanks for the inputs!
But, tensorflow still needs to be cross compiled for that device before being used. In case of Android, the libtensroflow_inference.so is just the inference only library, whereas for training we would need the complete library. Is there a ready build to cross compile tensorflow using NDK toolchain for complete library?

[2019-02-14 05:33] martinwicke commented on #23951
No, compute capabilities are independent of the CUDA version. The message is great.

[2019-02-14 05:55] ilous12 opened #25743 "where I get branch or tag for tensorflowlite+gpudelegate?"
dear tensorflow team.
I did not find any branch for tensorflow-lite+gpudelegate.

Can you share me?

[2019-02-14 06:28] saudet commented on #17328
@milinddeore The builds with JavaCPP contain pretty much all that we can get working on Android. It's not the inference-only and/or lite version or anything:
https://github.com/bytedeco/javacpp-presets/tree/master/tensorflow
http://bytedeco.org/builds/
Please let me know if there's anything missing though!

[2019-02-14 06:43] rui1zheng opened #25744 "Error when converting MTCNN(P_Net) pb model to tflite model"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 14.04
- Mobile de

[2019-02-14 06:57] holyhao commented on #21221
@achowdhery  Hi, I use mobilenetv1_ppn, the train and eval is right. I convert it to frozen_inference_graph.pb, it can work well on pc and the results are right. When i convert it to tflite_graph.pb, then convert it to detect.tflite. No warning and errors occur. But when it runs on the mobile, it shows totally wrong results. By the way, before this，I used mobilenetV2_ssd, all thing works fine. Cou

[2019-02-14 07:00] #25723 closed

[2019-02-14 07:10] holyhao opened #25746 "Object detection ppn tflite works wrong on mobile"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):N
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: HUAWEI MATE20
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):1.10
- Python

[2019-02-14 07:31] Abhijit-2592 commented on #23702
@mrry  and @jvishnuvardhan. Thanks! This appears to be **fixed** in

`tf-nightly-1.13.0-dev20190213.`

The following code snippet threw the error I mentioned when running with <=1.12.0 (stable version)
[code]
**This runs as intended in nightly version for both normal and eager mode**.

One more thing which I really liked was, It doesn't look like I need to create a `one_shot_iterator` or `initiali

[2019-02-14 07:35] rui1zheng commented on #25744
I used tensorflow 1.12.0 and fixed this issue.

[2019-02-14 07:35] #25744 closed

[2019-02-14 07:49] noah003 commented on #25743
@ilous12 the source code has not been open sourced

[2019-02-14 07:55] zltgo opened #25747 "failed to "bazel build -c opt //tensorflow:libtensorflow.so""
**System information**
- OS Platform and Distribution (centos 7):
- TensorFlow installed from (source ):
- TensorFlow version: master
- Python-2.7.5-76.el7.x86_64
- swig-2.0.10-5.el7.x86_64
- Bazel version (0.22):
- GPU model and memory:No

I followed "https://github.com/tensorflow/tensorflow/tree/master/tensorflow/go/README.md"
1) install bazel
       bazel version:
            INFO: Invocation I

[2019-02-14 07:59] ageron commented on #24742
Thanks @alextp , I understand your constraints a bit better, in particular the need for uniformity between argument passing and closure capturing.
Regarding the participants (and myself), the surprise came from examining the graphs generated by various functions, and the number of times the functions were traced. Indeed, the outputs were the ones we expected, it's just a matter of performance, and

[2019-02-14 08:35] guptapriya commented on #25512
I just tested your code with the latest TF from master and it seems to work. Could you perhaps try again with a TF nightly build? Lots of improvements have happened since the 1.12 release. Feel free to re-open if this still doesn't work for you.

[2019-02-14 08:35] #25512 closed

[2019-02-14 08:57] werner-rammer commented on #25327
Hi, thanks for the suggestion!
I tried `tf.keras.experimental.export`, and the export itself works fine. However, the same error remains when I try to load the graph after freezing. Here is my code:

[code]

Any more ideas?

[2019-02-14 09:00] meteorcloudy commented on #25552
This might be related to https://github.com/bazelbuild/bazel/issues/7026
Can you try build with `--incompatible_strict_action_env=false`? Or just upgrade Bazel to 0.22.0 in which the  flag flip is reverted.

[2019-02-14 09:20] frederikschubert commented on #23809
This also breaks the [Tensorboard import tool](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/import_pb_to_tensorboard.py) when I try to use it on a model that was trained with [RLlib](https://ray.readthedocs.io/en/latest/rllib.html).

[2019-02-14 09:24] homedawn commented on #8220
I miss the problem:PicklingError: Can't pickle <type 'module'>: attribute lookup __builtin__.module failed @rfeinman @

[2019-02-14 09:53] huan commented on #25618
I ran into this issue today on my Ubuntu 18.04 box.

Fixed by installing the CUDA 10 by the following command:

[code]

### See

- [Install CUDA 10 on Ubuntu 18.04](https://deeptalk.lambdalabs.com/t/docker-error-response-from-daemon-oci-runtime-create-failed-nvidia-container-cli-requirement-error-unsatisfied-condition-cuda-10-0/769)

[2019-02-14 10:20] woso commented on #20972
1.7 / 1.12 meet the same problem, while CudnnLSTM works well

[2019-02-14 10:22] GustavZ opened #25751 "[question][tflite][java] How to allocate mulit dimensional output array to feed in interpreter.run()"
I try to run a version `posenet `on an android app with tflite.
The app is based on the GPU delegate demo:
https://medium.com/tensorflow/tensorflow-lite-now-faster-with-mobile-gpus-developer-preview-e15797e6dee7
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo

Posenet takes an Image as Input and computes as output multiple arrays of the shape:
`1x14x14x17,  1x14x14x3

[2019-02-14 10:58] thevincentadam opened #25752 "Complex zero to the power zero is nan"
This is a simple yet dramatic bug:
0^0 does not return 1 for complex numbers  (left zero complex) !

**System information**

- OS Platform and Distribution : Linux Ubuntu 16.04 LTS
- TensorFlow installed from binary : pip
- TensorFlow version : b'v1.13.0-rc1-0-g54c5616308' 1.13.0-rc1
- Python version: Python 3.5.2

**Describe the current behavior**

`tf.pow(tf.complex(0., 0.), 0)` returns `nan + n

[2019-02-14 11:03] awav commented on #25752
True for TF2.0 preview as well:

[code]

[2019-02-14 11:24] ptzenov commented on #24670
I know the topic is closed, but since I ran into the same problem, I figured I should mention my insights  here. My guess is that the bug is related to the `ConcatGrad` operation, which gives an empty result when computing gradients with respect to a variable which is one of the constituents of the `Concat` operation. This could lead to seg-faults, when propagating your gradient to further nodes.

[2019-02-14 12:21] saikrishnadas opened #25753 "Failed to load native tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- **Windows 7**
- **pip install tensorflow-gpu**
- Python version: **3.6.6**
- Installed

[2019-02-14 12:23] Nayana-ibm commented on #22023
@gunan Thanks for your inputs .
Yes ..the --copt=-DEIGEN_ENABLE_AVX512 flag I used for Intel only.  For s390x, I tried with -march=z14 -mzvector flags.

I am trying to reach Eigen community however they have disabled sign in to new users.  Now waiting for reply for emails that I sent to mentioned id.

Meanwhile I will try to rebuild and investigate further on vectorization for s390x.

[2019-02-14 12:34] ageron opened #25754 "Model.fit() leaves training arg and learning_phase unset (TF2-preview)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mac OS X 10.13.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
N/A
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
VE

[2019-02-14 12:40] ahmed1186 commented on #17807
I actually don't recall using anything else other than uninstalling tensorflow then using `conda install tensorflow-gpu`,
which reinstalled all tensorflow 1.12 dependencies that I already had (CUDA 9.0, Cudnn 3.7.1 and others), the only thing that was updated was "protobuf" and then it worked.

[2019-02-14 12:41] Nayana-ibm commented on #25283
Thanks for comments @gunan @perfinion
I will try building TensorFlow with unbundling and using system openssl libs for s390x.
Right now , due to boringssl we have to skip few modules like core/platform/cloud , contrib/lite , contrib/cloud/ and grpcio `

Will keep you updated on this.

[2019-02-14 13:00] nickeys commented on #25732
At last, I could resolve the problem! Thanks to @jvishnuvardhan . I solved the other problem caused by the wrong reference to numpy package, by copying the numpy package from the original python library path.

[2019-02-14 13:17] MN5930 opened #25757 "tensorflow/stream_executor/cuda/cuda_dnn.cc:82] The primary convolution algorithm failed memory allocation, while a secondary algorithm is not provided"
I am running Keras with TF backend on venv Python 3.7.2.

**System information**
** pip list:
absl-py              0.6.1
astor                0.7.1
backcall             0.1.0
biwrap               0.1.6
bleach               3.0.2
cloudpickle          0.6.1
cycler               0.10.0
dask                 1.0.0
decorator            4.3.0
defusedxml           0.5.0
entrypoints          0.2.3
gast

[2019-02-14 13:29] aniketbote commented on #25597
I tried it on
**cuda 9.0
cudnn 7.05**

The path variables for this installation:
![capture](https://user-images.githubusercontent.com/38111546/52789680-88c8ec80-308a-11e9-990e-73cfc98cb8fa.PNG)

[2019-02-14 13:32] melgor commented on #22016
I have also encounter this problem. `tf.transpose` works but it make the model much more slower. Using trace of MTCNN network, look like 'tf.transpose' take 40% of time. So for me this is still probemalic to use resize operation with NHWC format

[2019-02-14 13:33] pontiusnn opened #25759 "gpudelegate + mobilenet_v1_1.0_224.tflite on a gles 3.1 device that reports MAX_WORK_COMPUTE_GROUP_INVOCATIONS = 256"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
* OS Platform and Distribution: Linux Ubuntu 16.04
* Mobile device:  device running Android P and gpu with OpenG

[2019-02-14 13:47] freedomtan commented on #25751
For models with multiple inputs, or multiple outputs, use: `interpreter.runForMultipleInputsOutputs(inputs, map_of_indices_to_outputs);` rather than `interpreter.run()`. See my dirty benchmark [code](https://github.com/freedomtan/glDelegateBench/blob/master/app/src/main/java/com/mediatek/gldelegatebench/MainActivity.java#L209-L212) for GPU delegate.

[2019-02-14 13:47] doudasek commented on #21787
@jdduke Thanks for the fix, waiting for it. I am on the 'edge' of releasing app and faster inference would be really helpful. But I cannot wait week or more so I need to decide. I just wanted to ask if you have any further information, when the new release will be public? Thank you very much!

[2019-02-14 13:58] iamtodor commented on #22098
subscription to this thread

[2019-02-14 14:02] normandra commented on #20867
Hey I'm having a similar problem. In my case I'm trying to do quantization aware training on the Cityscapes dataset. I tried adding the same line at 315, but I'm getting the following error instead:

Any help would be very appreciated

[code]

[2019-02-14 14:15] Ayshine commented on #25681
Closing this I continued my installation without SYCL.

[2019-02-14 14:15] #25681 closed

[2019-02-14 14:26] wbadry commented on #17022
Hello,
I can confirm now TensorFlow Nightly Build GPU works with

- Windows 10 x64
- NVIDIA CUDA 10.0.130_411.31
- CuDNN 7.4.2.24
- Python 3.7.2
- tf-nightly-gpu 1.13.0.dev20190211

![Testing TensorFlow](https://serving.photos.photobox.com/28518925056f65b4fcac54d46779a679943ad4a159c27b47b4496749186386ed66418b66.jpg)

[2019-02-14 14:38] ageron commented on #25754
Ah, I think I got it: I'm using `@tf.function`, so the `call()` method gets traced, and at that point `K.learning_phase()` gets called and it turns out that it returns `0` as an integer, instead of a symbolic tensor, so this value gets burnt into the graph. This would explain all 3 failing tests above.

Shouldn't `K.learning_phase()` return a symbolic tensor when running in graph mode?

[2019-02-14 14:40] GustavZ commented on #25751
I tried it your way before, but it did not work.
But I will try again and report.

Furthermore, how can you access the computed output of the model?
I need it to feed it the Multi Pose decoding algorithm.

[2019-02-14 15:08] Yuui-Asuka commented on #25552
I tried to use tf1.12 with cuda 10.0 and the same problem happened, and when I build tensorflow1.13rc1 from source with cuda10, the error is also "dll not found", but when I get tf1.13rc1.wheel from pypi, this problem has been solved. When I installed tf1.13rc1.wheel with pip, some other libraries was installed automatically, maybe these libraries is the cause of "dll not found error".

[2019-02-14 15:15] daidong commented on #25552
I tried Bazel 0.22 before. But it complains and says please use Bazel 0.21.0 instead. I got the same configuration and version compiled well on Ubuntu.  I guess it should be just missing libraries in Windows now.

[2019-02-14 15:38] MoonBlvd commented on #25022
I have similar issue when build graph transform. How did you solve yours?

[2019-02-14 15:42] preethivenkatesh commented on #25213
The workaround is supposed to work on a clean machine that has just the Visual studio installs mentioned in the comment. Anyways, we expect the new MKL library with the patch to be available shortly that eliminates the linker issue. We will notify once we have the fix released.

[2019-02-14 16:01] mauriceqch opened #25760 "Sudden drop in conv3d_transpose GPU performance with large input sizes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): _Yes_
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): _Ubuntu 18.10_
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: /
- TensorFlow installed from (source or binary): _Source_
- TensorFlow version (use command below): _'

[2019-02-14 16:04] marsupial-tail commented on #25703
For example, I quote the cudnn documentation for the api cudnnBatchNormalizationForwardTraining: " resultSaveMean, resultSaveInvVariance
Outputs. Optional cache to save intermediate results computed during the forward pass. These buffers can be used to speed up the backward pass when supplied to the cudnnBatchNormalizationBackward() function. The intermediate results stored in resultSaveMean and r

[2019-02-14 16:08] Ploppz commented on #24367
Sorry for the delay. I have a more or less minimal example that should run if you have all the dependencies. It consists of two files:
`experiment.py`:

[code]

and `model_based.py` which contains the agent, using tensorflow:
[code]

The output I get when running `experiment.py`:
[code]

This seems to always happen right after iteration 2.

[2019-02-14 16:31] shashishekhar commented on #25191
Closing due to inactivity, @Vincent630 : please ping back if this is still an issue.

[2019-02-14 16:31] #25191 closed

[2019-02-14 16:43] mdanatg commented on #21972
Now that the stable release reached 1.13, I believe you will find the basic autograph functionality in the stable branch.

[2019-02-14 16:43] #21972 closed

[2019-02-14 17:21] sanjoy opened #25761 "XLA makes incorrect calls into cuBLAS"
XLA GPU will sometimes make what looks like illegal calls into cuBLAS.

[code]

[code]

[code]

[2019-02-14 17:39] QuantumInformation commented on #31
Revisiting this thread, our discord server now has over 350 members and hundreds of messages a week, even in 1 day. Very Very active.

[2019-02-14 17:42] #24897 closed

[2019-02-14 17:48] hawkinsp commented on #25761
And to add a little more context: my current guess is that maybe the `lda` and `ldb` parameters are wrong during autotuning if the output has a `{0, 1}` layout.

[2019-02-14 18:01] aselle commented on #25734
Can you try on master?

[2019-02-14 18:06] aselle commented on #25666
Can you see if this is fixed in master?

[2019-02-14 18:11] av8ramit commented on #25711
Hi @benknoble

1. For most of the python binaries on MacOS we build for pypi, we only support 10.12+ for MacOS. For Python3.7 I believe it's actually 10.13+.

2. You can always try [building from source](https://www.tensorflow.org/install/source#setup_for_linux_and_macos).

Hope this helps!

[2019-02-14 18:22] Alfus opened #25762 "Missing clean_dep call in tf_custom_op_library_additional_deps"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlo

[2019-02-14 18:30] tatatodd commented on #25734
FYI internal tracking b/124448884

[2019-02-14 18:35] elyasmehtabuddin commented on #25734
Alright,

Using a separate machine I use for building, I just built tensorflow from scratch using the latest `master` branch and created the whl file (using `-c opt`). This produced a whl file with the name of `tensorflow-1.12.0-cp35-cp35m-linux_x86_64.whl` which I installed after uninstalling my current tensorflow using pip.

I then ran the `script.py` that reproduces the issue, and the issue *do

[2019-02-14 18:41] jvishnuvardhan commented on #25732
I am closing this as it was resolved. Thanks!

[2019-02-14 18:41] #25732 closed

[2019-02-14 18:52] jvishnuvardhan commented on #25689
@adppark Were you able to install tensorflow? Could you execute
import tensorflow as tf
print tf.__version__

If you have TF1.12, then Bazel 0.15.0 is supported and if you are installing recent versions >TF1.12, then Bazel 0.19.0 or Bazel 0.21.0 works. Thanks!

[2019-02-14 18:54] aselle commented on #25734
I've reproduced this on docker in 1.13.0rc0 and 1.13.0rc1 but it seems to not a problem on nightly or 1.12. So yes it is definitely a problem unique to 1.13 RC as you say. We're taking a look at this and will keep you posted.

[2019-02-14 18:56] karmel commented on #25693
@cgarciae Have you tried to use [model_to_estimator](https://www.tensorflow.org/api_docs/python/tf/keras/estimator/model_to_estimator)? I believe that might work in this case.

[2019-02-14 18:57] duguyue100 opened #25764 "Different behavior between Keras and tensorflow.keras in v1.13.0rc1 on placeholder and variable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
 - TensorFlow installed from (source or binary): Binary I suppose
- TensorFlow version (use command below): 1.13.0rc1
- Python version: 3.6

**Describe the current behavior**

So I'm teaching a course an

[2019-02-14 19:37] sChalvet commented on #25093
Yeah that worked for me

[2019-02-14 19:55] skye commented on #25578
We've reverted the change adding the "Loop execution was cancelled" error in 1.13: https://github.com/tensorflow/tensorflow/commit/7f404e98923a78365aef63e14b8e2bc6f077c3c3

I've verified internally that @anshkumar colab runs successfully again. This should mean there are no regressions in 1.13, although we'll still have the bug that error check was attempting to fix. I'll continue trying to debug

[2019-02-14 20:15] mdanatg commented on #25281
Quick update - The TypeError has now been fixed, but a second fix is needed to make sure the symbols that the type annotations refer to resolve during the conversion process. The fix is largely a refactoring, and should land over the coming weeks - will post an update here.

[2019-02-14 20:23] Sudeepam97 commented on #23951
Hi @dynamicwebpaige and @martinwicke. I have submitted a PR for this issue. You can check it out.

[2019-02-14 20:47] ltrottier opened #25768 "tf.contrib.quantize.create_eval_graph does not add min/max node to bias"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `yes`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux archlinux 4.19.2-arch1-1-ARCH #1 SMP PREEMPT Tue Nov 13 21:16:19 UTC 2018 x86_64 GNU/Linux`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow instal

[2019-02-14 20:51] ltrottier commented on #25768
As a side note, if I do `use_bias=False` in the Conv2d, no quantization node is added. The content of `tf.global_variables()` is simply `[<tf.Variable 'conv2d/kernel:0' shape=(3, 3, 3, 1) dtype=float32>]`.

[2019-02-14 21:16] ymodak commented on #24704
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-14 21:16] #24704 closed

[2019-02-14 21:28] jvishnuvardhan commented on #25754
@ageron Is this resolved? If yes, please close it. Thanks!

[2019-02-14 21:34] musikisomorphie commented on #25295
Hi @mrry, I would like to contribute to this feature. Will it be okay for you?

[2019-02-14 21:34] ymodak commented on #24389
I think triSYCL GitHub platform can be good place to raise this question.(https://github.com/triSYCL/triSYCL/issues)

[2019-02-14 21:40] jvishnuvardhan commented on #25746
@holyhao Could you provide any code to reproduce the bug? or could you provide more detailed steps/commands you followed? Thanks!

[2019-02-14 21:42] ymodak commented on #23722
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-14 21:42] #23722 closed

[2019-02-14 21:42] ymodak commented on #23934
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-14 21:42] #23934 closed

[2019-02-14 21:44] ymodak commented on #24471
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-14 21:44] #24471 closed

[2019-02-14 21:48] ymodak commented on #25731
In order to expedite the trouble-shooting process, please provide a code snippet/weblink of the tutorial to reproduce the issue reported here. Thanks!

[2019-02-14 21:54] DecentGradient commented on #25731
https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/r2/tutorials/generative/image_captioning.ipynb#scrollTo=Dx_fvbVgRPGQ

[2019-02-14 22:01] hsiaoer commented on #25657
+1 to adding some sort of warning or runtime exception that @dailystudio already mentioned. I ran into this today so luckily there was already an issue open for it :) When I hit the issue while trying out gpu delegate, my app just froze and after debugging, saw that it was on ```tflite.run```.

[2019-02-14 22:02] cgarciae commented on #25693
@karmel Tested, it doesn't work.

[2019-02-14 22:29] mrry commented on #25295
Sure, thanks for contributing!

[2019-02-14 22:44] jvishnuvardhan commented on #25764
@duguyue100 For me both are giving same output. Could you provide the code you are using to reproduce the bug? Thanks!

[2019-02-14 22:46] ymodak commented on #25731
Thanks for the link and creating this issue.

[2019-02-14 22:52] DecentGradient commented on #25731
Thanks for dealing with this!

On Thu, Feb 14, 2019, 5:50 PM ymodak <notifications@github.com wrote:

[2019-02-14 23:04] jvishnuvardhan commented on #22059
@Hoeze Is this still an issue? Thanks!

[2019-02-14 23:37] Hoeze commented on #22059
@jvishnuvardhan Yes, the issue is still the same

[2019-02-14 23:37] jvishnuvardhan commented on #25619
I think it was resolved. I am closing the issue. In future, please post this kind of support questions in Stackoverflow. Thanks!

[2019-02-14 23:37] #25619 closed

[2019-02-14 23:59] Han-sok commented on #17127
Yes. I am experiencing exactly the same problem. I can write into the TensorArray while I am trying to write values into it in the tf.while_loop could you check this bug again? Maybe it's realted to CUDA 10.0. It would be grateful if op posts his environments.

[2019-02-15 00:05] jvishnuvardhan commented on #25113
@liamuk Could you provide more details about the error and context? Thanks!

[2019-02-15 00:10] jvishnuvardhan commented on #25078
@p2jindia Please check the [tested build configurations](https://www.tensorflow.org/install/source#linux). For Tensorflow 1.9.0, Bazel 0.11.0 vesion is supported.  Could you downgrade your Bazel version and let us know how it progresses. Thanks!

[2019-02-15 00:10] jvishnuvardhan commented on #25078
@p2jindia Please check the [tested build configurations](https://www.tensorflow.org/install/source#linux). For Tensorflow 1.9.0, Bazel 0.11.0 vesion is supported.  Could you downgrade your Bazel version and let us know how it progresses. Thanks!

[2019-02-15 00:22] ageron commented on #25754
Hi @jvishnuvardhan ,
No, it's not resolved, "I think I got it" just meant I thought I understood the issue, not that it was fixed, I'll be clearer next time. I think what's happening is that when `K.learning_phase()` is run in the context of a `@tf.function`, it returns a symbolic tensor that is not affected by the `fit()` method.

[2019-02-15 00:22] jpatts commented on #25439
Thanks for looking into this! I guess I will avoid this function in the future for this use case.

[2019-02-15 00:23] jvishnuvardhan commented on #25174
@timudk Could you provide a code to reproduce the bug? Thanks!

[2019-02-15 00:27] jvishnuvardhan commented on #25179
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-02-15 00:27] #25179 closed

[2019-02-15 00:43] liamuk commented on #25113
This bug is no longer relevant to me, and I don't have the original code that triggered it.

You should be able to reproduce it, though, if you create a c++ custom op that takes an argument of type `resource` like how `ResourceApplyGradientDescent` in `ops/training_ops.cc` does, and then attempt to use `GetResourceFromContext` defined in `framework/resource_mgr.h` to access it from the op.

The co

[2019-02-15 00:58] jvishnuvardhan commented on #25222
@YuanWenqing  Could you describe more about the issue and context. Is this error during installation?

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If yo

[2019-02-15 00:59] adt123 opened #25772 "Unable to set estimator.model_dir after estimator initialization"
## System information:
Tensorflow version: 1.9.0 (installed from binary)
Python version: 3.6.8

## Problem
Setting the value of `estimator.model_dir` _after_ the estimator has already been created does not work.  I specifically want to set the value of this after initialization, but only see a way to set it _during_ initialization.  Is there a reason that tensorflow does not support setting the `m

[2019-02-15 01:03] jvishnuvardhan commented on #25258
@agniszczotka Could you provide more details about the features you are looking and the context of usage of those features. Thanks!

[2019-02-15 01:05] ymodak commented on #25403
Can you please kill all running notebooks which utilize your GPU. Then restart the kernel and execute the code again?

[2019-02-15 01:10] jvishnuvardhan commented on #25284
@xhyandwyy Could you provide a code to reproduce the bug? Thanks!

[2019-02-15 01:18] jvishnuvardhan commented on #25304
@rickyzhang82 Could you try the latest docker version. There were some issues that were cleared in the recent docker file. Please let us know how it progresses. Thanks!

[2019-02-15 01:22] jvishnuvardhan commented on #25313
@yann-yy were you able to build and install TF? Please provide OS? If the build is failing, please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#linux). Thanks!

[2019-02-15 01:35] holyhao commented on #25746
@jvishnuvardhan hi，thanks for your reply, to reproduce the bug：
1.Download the ppn_mobilnetV1 http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_ppn_shared_box_predictor_300x300_coco14_sync_2018_07_03.tar.gz
2.Conver it to tflite, no errors occur
`CONFIG_PATH=../pipeline.config
CHECKPOINT_PATH=../model.ckpt
OUTPUT_DIR=../results/
python object_detection/export_tflite_ssd_graph

[2019-02-15 01:39] #25674 closed

[2019-02-15 02:08] freedomtan commented on #25751
Multiplication is used to calculate memory size needed for ByteBuffer, e.g., for (1, 23, 17, 17) floating point tensor, we need 1x23x23x17x4 bytes. Why ByteBuffer? It's supposed to be much faster than array of objects (considering object serialization/deserialization overhead).

How to get outputs? After calling `interpreter.runForMultipleInputsOutputs()`, use
[`getOutputTensor()`](https://github.

[2019-02-15 02:18] a00012025 commented on #20867
Hi, I also have the same issue here. I use the [MobileNet v2 Colab Example](https://colab.research.google.com/github/tensorflow/models/blob/master/research/slim/nets/mobilenet/mobilenet_example.ipynb) and try to quantize the model with `create_training_graph`, then I get the same error. Is there any suggestion on this issue? Thanks!

[2019-02-15 02:58] YuanWenqing commented on #25222
@jvishnuvardhan I think this issue is just a compiling error when both `tensorflow/compiler/tf2xla/tf2xla.proto` and `tensorflow/compiler/tf2xla/host_compute_metadata.proto` are put in input files, no matter with operating system or architecture. Try this command:

[code]

Then you'll get:
[code]

Let me explain my situation to make this issue more clear and what happens. Actually what I need is a

[2019-02-15 03:07] PuZhang-github commented on #25406
I tried "tf.contrib.distribute.MirroredStrategy" and it works.

[2019-02-15 03:07] #25406 closed

[2019-02-15 03:46] shaoeChen commented on #14356
hi, dear.
i use your function, but no work for me, no any error message, and no any reponse.
[code]
my environment
[code]
my activate uwsgi command
[code]
while i use flask run to activate my application, it works very well, but not work while use uwsgi.
flask is factory method to activate, while init flask app, i import load_keras_model.
i don't sure where i wrong, because no any error message, h

[2019-02-15 03:52] ymodak commented on #23682
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-15 03:52] #23682 closed

[2019-02-15 03:56] ymodak commented on #25147
Closing this issue since its resolved. Thanks for the workaround.

[2019-02-15 03:56] #25147 closed

[2019-02-15 04:30] adppark commented on #25689
@jvishnuvardhan
I already installed tensorflow.

I tried build with Bazel version 0.19.0, 0.21.0, 0.15.0..
Bur always occur error message same as..

**$ bazel version**
INFO: Invocation ID: 65ccb62c-d398-46bc-8535-f4d2f1c072cb
**Build label: 0.22.0**
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Mon Jan 28 12:58:08 2019 (154

[2019-02-15 04:31] nickeys opened #25773 "Build error during TF build from the source with XLA enabled"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-02-15 05:13] #25564 closed

[2019-02-15 05:34] yongtang commented on #25752
My guess is that, `tf.pow(tf.complex(0., 0.), 0)` is casted to
[code]
,  and C++'s `std::pow` is used, which results in  `nan + nan j`.

The fix may not be straightforward, as it likely may impact the existing APIs.

[2019-02-15 05:40] dmorrill10 commented on #4914
This can cause `NaN`s to pop-up with `tensorflow_probability.layers.DenseLocalReparameterization` since requires passing gradients through a sqrt of a sum of squares. It can't be avoided with `tf.where` in TF 1.13.0-rc1, just like the `selsqrt_grad` examples at the start of this thread.

[2019-02-15 06:05] abhajaswal commented on #21526
Please add instance normalization layer also in tensorflow and lite

[2019-02-15 06:23] Viscent commented on #24047
It seems that there currently no solution for this bug,however there is a simple workaround for this bug:
By leveraging tensoflow's `warm start` support, we can "split" the total epochs we expect to run into serveral 'parts'. For each 'part' we start a subprocess,the real training will be carried in this subprocess ,and these subprocesses will be started one after another. And, with the help of `w

[2019-02-15 06:53] billyceline commented on #24561
Got the same problem!

[2019-02-15 07:44] mluszczyk commented on #25652
Thanks for looking into it, @jvishnuvardhan. I created two public colabs reproducing the behaviour. I believe this is a bug.

The error can be seen here: https://colab.research.google.com/drive/1FEvd47JRZtAJZcwB10gqKDhSCWx_cRCW

Working version is here:
https://colab.research.google.com/drive/1bzpxlevnmDriBUrg3RihxXGOI4pmtYQQ

I've found out that the error occurs with tensorflow 1.12.0 and not wit

[2019-02-15 07:52] GustavZ commented on #25751
@freedomtan alright makes sense.
But If I define as output buffer a BytBuffer, do I get the same object back for getOutputTensor() if I define the output buffer as a generic multi dimensional array?

I ask because I need to apply the multi person decoding algorithm on it, and for my feeling its easier on generic arrays as i am not to familiar with javas tensorflow library.

btw is it possible to c

[2019-02-15 08:03] sipan17 opened #25775 "tf.nn.dropout is not working properly with keep_rate 1."
**System information**
- Linux Ubuntu 18.04
- TensorFlow installed with conda
- TensorFlow version 1.12.0
- Python version 3.6.6
- CUDA/cuDNN version: 9.0/7
- GPU model and memory: GTX 1080 TI 11GB

**Describe the current behavior**
when using ```tf.nn.dropout``` with ```placeholder_with_default(1)``` during forwarding validation data it still makes use of random which changes the state for the ne

[2019-02-15 08:11] dizzam commented on #24172
Thanks for @preethivenkatesh and @jjhelmus . I have solved this issue by your suggestion.

[2019-02-15 08:11] #24172 closed

[2019-02-15 08:25] GustavZ commented on #19982
same problem here

[2019-02-15 08:26] vainaijr opened #25776 "convert yolov3 model to tflite"
not able to convert yolov3 model to tflite format

converted the weights file to pb format

then

./bazel-bin/tensorflow/lite/toco/toco --input_file=yolov3_finale_manga109.pb --output_file=foo.tflite --input_format=TENSORFLOW_GRAPHDEF --output_format=TFLITE --input_arrays=input --input_shapes=1,406,406,3 --output_arrays=output --allow_nonexistent_arrays

got error

2019-02-15 17:23:48.560625: I te

[2019-02-15 08:32] gitman88 commented on #21429
Did you manage to convert a Keras model with custom layers to tflite? If so how?

[2019-02-15 08:37] dMokaMoka opened #25777 "What does a dim tensor have a dimension with 0-size? such as tf.Tensor([], shape=(2, 2, 0), dtype=int32)"
- tensorShapes may have an 0-size dimension, but when are they going to be applied? Could you give me an example? This troubles me a lot...  THANKS A LOT!

for example  `tf.one_hot`
On the implementation side, Tensorflow turns out to be verifying that `depth>= 0`, which are going to generate the tensor with a dimension with 0-size

[2019-02-15 08:56] GustavZ commented on #19380
My Model is not keras but pure tensorflow and still gives this error on android.
But only for the quantized version.

[2019-02-15 09:01] ophiry commented on #21429
More or less. By applying the patch in this thread
There were other issues afterwards that are not keras related (unsupported
operations)

On Fri, Feb 15, 2019, 10:40 gitman88 <notifications@github.com> wrote:

[2019-02-15 09:08] wirtsi commented on #25670
Hah, I got it ... that took me really long to figure out because at first my sample case was working. But I was able to reproduce this! The estimator metrics completely freak out if there is a Keras Embedding in the Graph, it appears as if the model never learns.

My test case is here: https://colab.research.google.com/drive/194Puigi-LdzxZup6LNREk47l9uP0_Dx9

So when training the model with keras

[2019-02-15 09:13] duguyue100 commented on #25764
Hi @jvishnuvardhan, here it is in Colab notebook:

https://colab.research.google.com/drive/1W4KtanniPfgX4OoTTADsO-g_QFvQ1CSM

[2019-02-15 09:15] Aspirinkb commented on #20867
I trained my own  SSD model using `tensorflow/models/research/object_detection/` project and exported the inference graph by its `export_inference_graph.py` script, then I got the model.ckpt files and frozen_inference_graph.pb file.
Now I want to quantize the trained model using quantization-aware training method, but I got the same error! The code  `match.moving_variance_tensor + match.batch_epsi

[2019-02-15 09:19] duguyue100 commented on #25764
Just tested on my local machine which has the specs: Ubuntu 16.04+Python 3.6+TensorFlow 1.12+CUDA 9, it reports the same error as in the Colab notebook:

[code]

[2019-02-15 09:47] GustavZ commented on #22535
i have the same error with a normal trained tensorflow model (so no quantization aware training) and porting it to tflite and running it on android works, but fails for the quantized version.
I tried both:
[code]
and
[code]

[2019-02-15 09:49] gitman88 commented on #21429
Okey! How did you apply the patch? I tried forking the repository and implement the functionality (like you did) and then install that version of tensorflow locally in an anaconda environment. Did not manage to do that however. Is there another approach or should it be doable?

[2019-02-15 10:16] tika64208 commented on #25480
TF_Tensor * imgTensor = TF_NewTensor(TF_UINT8, dims, 4, img->imageData, img->imageSize, &deallocator, NULL);
try "img->imageData"

[2019-02-15 10:39] ophiry commented on #21429
I applied it on the installed package (to avoid recompiling everything)

On Fri, Feb 15, 2019, 11:55 gitman88 <notifications@github.com> wrote:

[2019-02-15 11:49] jutanke opened #25779 "keras and tf.keras behave differently with custom loss function and fit_generator"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.12.0
- Python version: 3.7.1
- Bazel version (if compiling from source): 0.22.0
- GCC/Compiler version (if compiling from source): 7.3.0
- CUDA/cuDNN version: 10.0 / 7.4.2
- GPU model and memory: GTX 1080 ti
- Keras version: 2.2.4

*

[2019-02-15 12:00] xaviergonzalez commented on #21001
@mrezak did you ever figure out what was going on? I am having the same problem

[2019-02-15 12:01] fredo994 opened #25780 "Wrong semantic of Dense layer for tf.python.keras.Dense when input has rank > 2."
**System information**
- OS Platform and Distribution: MacOs High Sierra
- TensorFlow installed from: installed from pip
- TensorFlow version: v1.12.0-0-ga6d8ffae09 1.12.0
- Python version: 3.6

**Problem**
I think that tf.python.keras.Dense layer is not implemented correctly. The documentation states:

My interpretation of this claim is: if we have input tensor with shape `(None, 10, 10)` then de

[2019-02-15 12:30] mikaelhg commented on #25329
Had the same problem with the CUDA 6.0 minimum requirement with the 1.12.0 Java libs from Maven Central.

[2019-02-15 12:48] wangwenjing opened #25781 "How can i build static framework for tf-lite under 300kb for iOS?"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: master
- Doc Link:https://www.tensorflow.org/lite/overview

**Describe the

[2019-02-15 13:01] freedomtan commented on #25751
Surely you can use multi-dimension array instead of ByteBuffer. As far as I can remember, the `Tensor` class doesn't provide public methods to access data, you still have to deal with original data. If you use ByteBuffer, `interpreter.runForMultipleInputsOutputs()` will pass it thru JNI. If you use other kind of array of objects, they will be copied to a ByteBuffer and the result will copied back

[2019-02-15 13:38] brownbro opened #25784 "Image resizing codes of iOS example camera apps might be wrong"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- TensorFlow installed from (source or binary): N/A
- TensorFlow version (use command below): N/A

**Describe the current behavior**

I think `in_x = (y * image_width) / wanted_input_width;` statements (mentioned below) would be `in_x = (x * image_width) / wanted_input_width;

[2019-02-15 14:03] anshkumar commented on #25578
@skye are the changes available in tensorflow 1.13.0-rc1 ?

[2019-02-15 15:10] VolodymyrPavliukevych commented on #23747
Added iOS example, waiting for [pull request 25785 approve](https://github.com/tensorflow/tensorflow/pull/25785).

![real-time](https://github.com/VolodymyrPavliukevych/DeepLabApp/raw/master/real_time.gif)

![static-image](https://github.com/VolodymyrPavliukevych/DeepLabApp/raw/master/static_images.gif)

[2019-02-15 15:57] jgmeyerucsd commented on #17629
I had this problem trying to use tensor flow within a conda environment. tensorflow worked fine with the standard install in my base python 3.6, but not in my conda environment that I use for python.
`import tensorflow as tf`
I got the same error.

Here is what worked for me. I checked that the file did actually exist at /usr/local/cuda-9.0/lib64 and found that I have libcublas.so.9.0
Then I added

[2019-02-15 15:57] mmkamani7 opened #25786 "tf.keras.Model layers list is doubled in newer versions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.14/ Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):

[2019-02-15 16:37] eLvErDe commented on #23127
Why closing... The bug is here for sure and it's probably not that hard to fix....

[2019-02-15 16:46] alextp commented on #25136
The unnecessary ops in the graph, including the redundant read, can be easily pruned at execution time, so they shouldn't cost anything. Also calling strided_slice directly is _really hard_; the correspondence between the subjective python slicing arguments and what the op expects is nontrivial.

For these reasons I don't think we should expose this method.

[2019-02-15 16:46] #25136 closed

[2019-02-15 16:48] BenjaminChoou opened #25787 "Warning or error about incompatible device when I use tf.nn.rnn_cell.DropoutWrapper on multiple GPUs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.11.0 and 1.12.0
- Python version: 3.6.5
- Bazel version (if compiling from source): 0.15.0
- GCC/Compiler ve

[2019-02-15 17:06] pawarrick commented on #5302
@samhodge, could you post some C++ sample code or tips for setting up for the Windows case using tcmalloc?  I am also seeing steady memory creep after cycles of NewSession() ... Session.Close() in a heavy load context.  In my case, it is a CPU-only inference context (almost ready) for production use and this is a clear show stopper. Thanks

[2019-02-15 17:26] dksb commented on #25744
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25744)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25744)

[2019-02-15 17:27] dksb commented on #25732
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25732)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25732)

[2019-02-15 17:42] dksb commented on #25697
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25697)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25697)

[2019-02-15 17:42] dksb commented on #25695
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25695)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25695)

[2019-02-15 17:42] dksb commented on #25692
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25692)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25692)

[2019-02-15 17:42] dksb commented on #25687
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25687)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25687)

[2019-02-15 17:45] dksb commented on #25639
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25639)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25639)

[2019-02-15 17:45] dksb commented on #25632
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25632)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25632)

[2019-02-15 17:45] dksb commented on #25629
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25629)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25629)

[2019-02-15 17:46] dksb commented on #25619
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25619)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25619)

[2019-02-15 17:46] dksb commented on #25618
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25618)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25618)

[2019-02-15 17:47] dksb commented on #25616
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25616)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25616)

[2019-02-15 17:47] dksb commented on #25611
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25611)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25611)

[2019-02-15 17:47] dksb commented on #25601
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25601)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25601)

[2019-02-15 17:48] dksb commented on #25593
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25593)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25593)

[2019-02-15 17:48] dksb commented on #25591
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25591)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25591)

[2019-02-15 17:53] mrry commented on #25198
Unfortunately we don't provide support for the CMake build anymore, so I'm marking this issue as "Community Support". You may have more luck building with Bazel for Windows using `-c dbg`.

[2019-02-15 17:57] ThomasWarnasch commented on #6698
I had the error and I 'fixed' it by closing my multiple instances of Jupyter and closing other applications. I'm new to working with tensorflow in general so it's likely this only fixed my problem.

[2019-02-15 18:17] samhodge commented on #5302
There isn’t much to tell

See this

https://github.com/gperftools/gperftools/tree/master/vsprojects/libtcmalloc_minimal

Compile it as a shared library and link against it

There were a few modifications to make it a shared library after that close and reset actually worked.

[2019-02-15 18:21] samhodge commented on #5302
This should have everything you need

https://github.com/gperftools/gperftools/blob/master/README_windows.txt

[2019-02-15 18:22] samhodge commented on #5302
Oh acttI did the whole archive trick to force all the symbols in there rather than the __tcmalloc thing the guide suggests

[2019-02-15 18:39] chris12766 opened #25788 "image shift and interpolation"
I am trying to shift all images in a batch and have 'NEAREST' interpolation. For some reason, the resulting images are interpolated with black pixels... Is this a bug?

`
 translations = [100,0] * len(img_batch_list)
 img_batch = tf.contrib.image.translate(img_batch,
                                        translations,
                                        interpolation='NEAREST',

[2019-02-15 18:58] pierluigiferrari commented on #19643
@fchollet putting `model.updates` in the fetch list of `sess.run()` breaks if you feed a `tf.data.Dataset` to the model's input tensor instead of using the `feed_dict`. It throws the following error:

`InvalidArgumentError: You must feed a value for placeholder tensor 'input_1' with dtype float and shape [?,224,224,3]`

How do I deal with that?

In my case, I need to train my tf.keras model with a

[2019-02-15 19:00] musikisomorphie commented on #25295
Great, I will let you know if I make some progress.

[2019-02-15 19:13] pawarrick commented on #5302
@samhodge Many thanks.

[2019-02-15 19:22] ymodak commented on #25779
I was able to execute your code snippet using ```fit_generator``` successfully using tf.keras and keras in TF 1.13.0-rc1 and TF 1.12.0
Can you please execute your code using [google.colab.sandbox](https://colab.sandbox.google.com/notebooks/welcome.ipynb#recent=true) and confirm?
Thanks!

[2019-02-15 19:41] Rov67777 opened #25789 "Tensorflow 1.12.0 not working with CUDA 10.0"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): pip install tensorflow-gpu
- TensorFlow version: version 1.12.0
- Python version: 3.5.5
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: CUDA version 10.0
- GPU model and memory: Tesla V100

when I just try to import tensorflow I get this error message:

[co

[2019-02-15 19:47] gabrieldemarmiesse opened #25790 "Incompatibility between keras and tf.keras for layer.build"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-02-15 20:00] samhodge commented on #5302
@parwarrick

Glad to help, please respond if it actually works out for you

[2019-02-15 20:10] musikisomorphie commented on #25295
Hi @pldelisle, I found out that there are three modules of tensorflow related to data/image augmentation, that is,

Only keras' can directly achieve random shear op, which is basically numpy implementation. Is the keras' function the one you want us to update? Or you can show me your data processing pipeline
, so I know which function I should work on.

[2019-02-15 20:20] dksb commented on #25582
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25582)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25582)

[2019-02-15 20:20] dksb commented on #25581
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25581)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25581)

[2019-02-15 20:21] dksb commented on #25564
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25564)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25564)

[2019-02-15 20:21] dksb commented on #25559
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25559)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25559)

[2019-02-15 20:22] dksb commented on #25558
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25558)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25558)

[2019-02-15 20:22] dksb commented on #25551
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25551)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25551)

[2019-02-15 20:23] dksb commented on #25549
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25549)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25549)

[2019-02-15 20:25] dksb commented on #25520
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=25520)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=25520)

[2019-02-15 20:30] wdirons commented on #25789
In order to use TensorFlow 1.12 with CUDA 10 you need to build TensorFlow from source.
https://www.tensorflow.org/install/source

You may also try the 1.13.0rc1 release candidate build which is built with CUDA 10.

`pip install tensorflow-gpu==1.13.0rc1`

[2019-02-15 20:38] rohith14 commented on #25559
Thanks

[2019-02-15 21:19] #25786 closed

[2019-02-15 21:44] dynamicwebpaige commented on #23951
Thank you, @Sudeepam97! :smile_cat: We appreciate it.

[2019-02-15 22:15] ymodak commented on #25423
Closing this issue since it was resolved. Feel free to send PR to fix this. Thanks!

[2019-02-15 22:15] #25423 closed

[2019-02-15 22:20] alextp commented on #22505
Does this error still reproduce at tf nightly?

[2019-02-15 22:24] #24990 closed

[2019-02-15 22:25] jvishnuvardhan commented on #24990
I am closing the issue but please post this kind of support questions at Stackoverflow. Thanks!

[2019-02-15 22:27] jvishnuvardhan commented on #25010
I am closing the issue but please post this kind of support questions at Stackoverflow. Thanks!

[2019-02-15 22:27] #25010 closed

[2019-02-15 22:28] karmel commented on #25693
@cgarciae -- thanks; can you provide the code snippet and error output? Thanks--

[2019-02-15 22:29] jvishnuvardhan commented on #25070
I am closing the issue as it a support question. IN future, please post this kind of support questions at Stackoverflow. Thanks!

[2019-02-15 22:29] #25070 closed

[2019-02-15 22:32] angersson commented on #24430
@jvishnuvardhan, I'm not familiar with the inner workings of this function. Can you find someone more knowledgeable to check it out, please?

[2019-02-15 22:33] jvishnuvardhan commented on #25405
I am closing the issue as it a support question. In future, please post this kind of support questions at Stackoverflow. Thanks!

[2019-02-15 22:33] #25405 closed

[2019-02-15 22:49] mehdi-beng commented on #13530
Having same issue with CSV input function using TextLineDataset (w/ decodeCsv call). Read speeds are extremely low. I am seeing 2MB/s max even on SSD drive

[2019-02-15 22:57] jw447 commented on #110
@owenyoung75 Did you solve this problem? I'm facing similar situation.

[2019-02-15 22:58] chandanjc commented on #13161
Thanks @mrry , I used the `drop_remainder=true` flag and it fixed this issue.

[2019-02-15 23:02] TropSpirit commented on #25710
@freedomtan Still getting the error. with latest tensorflow and bazel 0.22.0

Tensroflow version : Master branch  (with your changes #16175 )
Bazel version : 0.22.0
gcc -v
gcc version 8.2.0 (Ubuntu 8.2.0-1ubuntu2~18.04)

**ERROR: /home/rock64/Documents/tensorflow/tensorflow/core/kernels/BUILD:3012:1: C++ compilation of rule '//tensorflow/core/kernels:matrix_square_root_op' failed (Exit 1)**
gcc: f

[2019-02-15 23:17] #25382 closed

[2019-02-15 23:36] nsthorat commented on #25222
@jvishnuvardhan I’m not sure why I was added to this, I work on TensorFlow.js and have no state here :)

[2019-02-15 23:40] ymodak commented on #25716
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-02-15 23:46] ymodak commented on #24403
Is this still an issue?
I was able to execute your code snippet successfully using Google Colab GPU accelerator using Tf 1.13.rc1 . Can you please confirm? Thanks!

[2019-02-15 23:54] ymodak commented on #24546
The error arises due incorrect versions of cuda and cuDNN installed on your system.
Can you please test against latest version of TensorFlow?
Note: TF 1.12 comes with cuda 9 support and TF 1.13.rc1 supports cuda 10

[2019-02-15 23:58] ymodak commented on #24958
@Bahramudin We appreciate your interest in using TF framework. TF 1.13.rc1 has released and it supports cuda 10. Please give it a try and let us know if you have any problems. Thanks!

[2019-02-16 00:02] jvishnuvardhan commented on #24919
@ucasiggcas -1 refers to expanding dimensions in the end of the tensor. Please take a look at [here](https://www.tensorflow.org/api_docs/python/tf/expand_dims) for more details. If max_outputs is 1, the summary value tag is 'name/image'. please check [here](https://www.tensorflow.org/api_docs/python/tf/summary/image). Thanks!

I am closing the issue but please post this kind of support questions a

[2019-02-16 00:02] #24919 closed

[2019-02-16 00:03] ymodak commented on #25093
@xintrac Is this still an issue for you? Did you get a chance to try the suggestions posted on this thread yet?

[2019-02-16 00:08] ymodak commented on #24954
You are right you need to update to cuda 9.0 since you have switched to TF 1.12

[2019-02-16 00:12] ymodak commented on #25649
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-16 00:12] #25649 closed

[2019-02-16 00:12] jvishnuvardhan commented on #25391
@darthdeus I see the following error in CPU
InvalidArgumentError: All input tensors must have the same rank. [Op:MatrixSolve]

On TF GPU, I see the following error
ValueError: Shape must be at least rank 2 but is rank 1 for 'MatrixSolve_3' (op: 'MatrixSolve') with input shapes: [2,2], [2].

I think in both the cases it is clearly describing that the error is due to shape or Rank. Thanks!

[2019-02-16 00:13] ymodak commented on #25570
Closing this issue since workaround is available. Feel free to reopen if have any follow up questions. Thanks!

[2019-02-16 00:13] #25570 closed

[2019-02-16 00:15] ymodak commented on #25504
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-16 00:15] #25504 closed

[2019-02-16 00:22] jvishnuvardhan commented on #24218
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-16 00:22] #24218 closed

[2019-02-16 00:30] ymodak commented on #25173
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-16 00:30] #25173 closed

[2019-02-16 00:33] ymodak commented on #25111
@gunan Can you PTAL? thanks!

[2019-02-16 00:35] ymodak commented on #25094
Is this still an issue for you?
can you update your keras version, if not the latest? Thanks!

[2019-02-16 00:37] jvishnuvardhan commented on #25069
@jlebar Could you please take a look at this issue? Thanks!

[2019-02-16 00:43] jvishnuvardhan commented on #24844
@lorenzoriano Did you try the solution that was provided by @pangwang in Magenta Repo [here](https://github.com/tensorflow/magenta/issues/1410)

[2019-02-16 00:46] jvishnuvardhan commented on #25761
@jlebar Could you please take a look at this issue? Thanks!

[2019-02-16 00:51] jvishnuvardhan commented on #25776
@vainaijr Please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=10-build-installation-issue.md). Could you update them if they are relevant in your case, or leave them as N/A? Along with the template, please provide as many details as possible to find the root cause of the issue. It would be great if you can provide a small code to reproduce the error. Thank

[2019-02-16 00:57] rd16395p commented on #25111
I actually got a fix. I used NVCC, with Cuda 9.0, CuDNN 7.0, Bazel 2.0, gcc 6, and tf 1.12. If anyone wants a download for CUDA computing 3.0, for python 3.7 on linux, here is the built file. Hope that helps!

https://github.com/rd16395p/tensorflowbuild

[2019-02-16 00:58] #25111 closed

[2019-02-16 00:59] ymodak commented on #23709
Apologies for the delay in response. Can you please build against latest version of TensorFlow and Keras and test again? Thanks!

[2019-02-16 01:00] jvishnuvardhan commented on #25775
@sipan17  It would be great if you can provide a small code to reproduce the error. Thanks!

[2019-02-16 01:00] 1fish2 commented on #559
This may save people a lot of time.

I fixed the problem via:

    pip install --force-reinstall --no-cache-dir package-that-fails-importing-numpy

My hypothesis is a cached pip package with broken linkage to numpy. It might be caused by a bug in pip, and there might be more ways to fix the breakage.

[2019-02-16 01:04] ymodak commented on #23386
@neopostmodern Apologies for the delay in response. Is this still an issue for you? Do you see the same behavior against latest TF?

[2019-02-16 01:13] jvishnuvardhan commented on #25222
@jlebar Could you please take a look at this issue? Thanks!

[2019-02-16 01:23] jvishnuvardhan commented on #25777
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-02-16 01:23] #25777 closed

[2019-02-16 02:03] dynamicwebpaige opened #25794 "[TF 2.0 API Docs] tf.AggregationMethod"
### Existing URLs containing the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/AggregationMethod

### Description of issue (what needs changing):

* **Correct Links**
https://github.com/tensorflow/tensorflow/blob/master/python/ops/gradients_util.py is incorrect. The correct link should be https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/gradients_util

[2019-02-16 02:05] ngimel commented on #25761
ltrace gives
[code]
so transa is 0/`n`, this means that `lda` (parameter 9) should be at least `m`. `m` in this case is 384, and `lda` is 96.

[2019-02-16 02:06] emailweixu commented on #25403
Thanks for finally having someone looking at this issue. I don't have any notebooks running. There are several ubuntu processes using the GPU 0. But even with CUDA_VISIBLE_DEVICES=1, I got the same error. I need to note that non-eager mode training program can run correctly though.

[2019-02-16 04:31] Storyyeller opened #25795 "Can't rename checkpoint directories"
**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Probably, but I'm not sure exactly what needs to be changed and/or what change would be considered acceptable

**Describe the feature and the current behavior/state.**
Currently, if you rename or copy a checkpoint directory, tensorflow will refuse to load checkpoints from it. This is be

[2019-02-16 05:50] jdinkel88 commented on #25120
in the Makefile (~/tensorflow/lite/tools/make/Makefile) for tflite, you should see this:
BUILD_WITH_NNAPI=true

change it to false and then re-run build_rpi_lib.sh

[2019-02-16 07:09] ppwwyyxx commented on #25282
Met the same issue.
With today's `pip install tf-nightly-gpu`, archlinux, python 3.6.

[2019-02-16 07:57] ppwwyyxx commented on #3332
Oh, so this issue has been open for 2.5 years.

The only thing needed to enable group convolution in tensorflow is to remove two lines of code:
[code]

It'll take a lot more to make a PR, with tests, shape checks, flops calculation, etc, and probably handle some more edge cases. I'm not sure I'll have time for that. But in case someone needs it and is OK with building TF from source, here you go.

[2019-02-16 08:14] newtiopon commented on #2373
@ay27 i tried but still get the error under tf1.12.0

[2019-02-16 08:18] gulingfengze commented on #22039
@jvishnuvardhan The latest version still has this problem, and my guess is that the program did some initialization like gpu at the beginning of execution.

[2019-02-16 08:38] jdinkel88 commented on #21574
We got ours to work by updating interpreter.py to include contrib in the path as follows:
_interpreter_wrapper = LazyLoader(
    "_interpreter_wrapper", globals(),
    "tensorflow.**contrib**.lite.python.interpreter_wrapper."
    "tensorflow_wrap_interpreter_wrapper")
# pylint: enable=g-inconsistent-quotes

[2019-02-16 08:50] policeme opened #25797 "can not import libcublas.so.9.0 in centos7 systemctl service"
I try to put a service into systemctl service, so I write a systemctl service command. But when I run this systemctl service, it occur ImportError, my error message is below!
![image](https://user-images.githubusercontent.com/30991932/52897039-72e23580-320a-11e9-836e-af54822007e4.png)

this is my systemctl service command detail.
![image](https://user-images.githubusercontent.com/30991932/52897052

[2019-02-16 08:52] policeme commented on #25797
Can anyone help me. Please!

[2019-02-16 09:33] BenjaminChoou commented on #25797
Have you exported your Cuda path to PATH?

[2019-02-16 09:38] policeme commented on #25797
this is my ~/.bashrc detail. but it still not work.
![image](https://user-images.githubusercontent.com/30991932/52897616-a1174380-3211-11e9-8b9b-4b8eaf2b95d0.png)

[2019-02-16 09:39] policeme commented on #25797
And this is my path detail.
![image](https://user-images.githubusercontent.com/30991932/52897635-c4da8980-3211-11e9-92e1-41fa02285927.png)

[2019-02-16 09:41] freedomtan commented on #21574
for multi-threading stuff, I sent a PR https://github.com/tensorflow/tensorflow/pull/25748

[2019-02-16 09:53] ketil-malde commented on #22900
Possibly related?  I have a system set up using Keras, TensorFlow, CUDA 9.0 on Ubuntu 18.0.  When running on 2080 Ti, I either get a validation score that is constant 5.0, or if I tweak a bit, inf.  Running the exact same code on a different machine with P100 works correctly (but slower, dammit).  The setup on the second machine is different, though, so could be a software version problem.

[2019-02-16 10:49] BenjaminChoou commented on #25797
And what's the output of `ls /usr/local/cuda-9.0/lib64/`? It should include 'libcublas.so.9.0'.

[2019-02-16 10:59] policeme commented on #25797
It's include

from Alimail iPhone
 ------------------Original Mail ------------------
From:BenjaminChou <notifications@github.com>
Date:2019-02-16 18:52:06
Recipient:tensorflow/tensorflow <tensorflow@noreply.github.com>
CC:Cally <mx15025700935@aliyun.com>, Author <author@noreply.github.com>
Subject:Re: [tensorflow/tensorflow] can not import libcublas.so.9.0 in centos7 systemctl service (#25797)
An

[2019-02-16 11:21] BenjaminChoou commented on #25797
It is quite weird. How about try this?
`python -c "import tensorflow as tf; print(tf.GIT_VERSION, tf.VERSION)"`
If this won't work, I believe there's some wrong configuration. But I am not sure without extra info. You could follow the cuda & cudnn installations provided by Nvidia. And try to build the tensorflow from source. Sorry can't help u.

[2019-02-16 11:27] policeme commented on #25797
Not mind. can i keep the question open util i solve the problem?

from Alimail iPhone
 ------------------Original Mail ------------------
From:BenjaminChou <notifications@github.com>
Date:2019-02-16 19:25:04
Recipient:tensorflow/tensorflow <tensorflow@noreply.github.com>
CC:Cally <mx15025700935@aliyun.com>, Author <author@noreply.github.com>
Subject:Re: [tensorflow/tensorflow] can not import libcu

[2019-02-16 11:31] BenjaminChoou commented on #25797
Why not? Wish someone could help u.

[2019-02-16 13:25] onzone opened #25798 "Speed of benchmark code in CPU windows is much slower than ubuntu"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2019-02-16 16:56] ddreset commented on #19673
In my case, capital letter solved it 'import cache' -> 'import Cache'

[2019-02-16 18:01] bkazi opened #25799 "Error importing TensorFlow nightly gpu (docker)"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: Docker
- TensorFlow version: nightly-gpu
- Python version: 2
- CUDA version: Driver Version: 410.79 CUDA Version: 10.0
- GPU model and memory: Nvidia Tesla P100 16280MiB

(similar issue when installed from pip, not in a container with cuDNN v7 not sure if this would affect the Docker container)

**Desc

[2019-02-16 19:28] McWare commented on #23806
Sorry folks it is still not working.. somethings seams to be wrong with the paths to the framework.
![screen shot 2019-02-16 at 20 27 59](https://user-images.githubusercontent.com/16985927/52904227-5e616580-3229-11e9-8ea7-50090afc8d3f.png)

[2019-02-16 19:56] eospi opened #25800 "Cannot install TensorFlowLiteSwift with CocoaPods"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS High Sierra
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.12
- Python version: 3.6.5
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): N/A

[2019-02-16 22:11] Threynaud opened #25801 "TensorBoard logging batch level metrics with tf.keras"
This is something that has been added quite recently in the Keras library, see discussion [there](https://github.com/keras-team/keras/issues/6692):
"It'd be useful if there was some batch-level logging in TensorBoard when using the TensorBoard callback (as defined in keras/callbacks.py). I think this'd be generally useful when trying to keep track of stats between epochs."

Currently using the `Te

[2019-02-17 00:14] PINTO0309 commented on #25120
I succeeded in building and testing.
And, Although it is still informal, I tried to enable multithreading.

**PythonAPI Multi Thread - During review, Proposal for @freedomtan**
**[tensorflow/tensorflow#25748](https://github.com/tensorflow/tensorflow/pull/25748)**
**Avoiding build errors, Proposal for @jdinkel88**
**[tensorflow/tensorflow#25120 (comment)](https://github.com/tensorflow/tensorflow/is

[2019-02-17 01:06] PINTO0309 commented on #21574
Thank you for always doing great work, @freedomtan.
I succeeded in building Tensorflow Lite, incorporating your suggestion.
https://github.com/tensorflow/tensorflow/issues/25120#issuecomment-464401990

[2019-02-17 03:06] e274794140 commented on #8191
I am new to tensorflow.  I got same error with version 1.0.0.  Add reuse doesn't work.
It somehow works through when upgrade tensorflow to 1.2.1

[2019-02-17 03:49] yann-yy commented on #25313
hi, @jvishnuvardhan ,
    Thanks for your reply. This is not a build issue. And I have submit a [pull request](https://github.com/tensorflow/tensorflow/pull/25449) to fix this. This issue could be closed.

[2019-02-17 03:53] dynamicwebpaige opened #25802 "[TF 2.0 API Docs] tf.math.acos"
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/acos

**Describe the documentation issue**

Documentation for `tf.math.acos` is created from a generated file, `python/ops/gen_math_ops.py`. It would be excellent to have a link to the files that are used to generate `gen_math_ops.py` - so a user could make modifications qu

[2019-02-17 04:10] Ryan-Qiyu-Jiang commented on #25609
hi, couldn't find behavior for current nn.conv2d_transpose but it was in nn.atrous_conv2d_transpose. Just added an error for tuple output-shape.
https://github.com/tensorflow/tensorflow/pull/25803
#25803

[2019-02-17 04:14] maat16 opened #25804 "tensorflow/stream_executor/cuda/cuda_dnn.cc:482] Could not create cudnn handle: CUDNN_STATUS_INTERNAL_ERROR"
<em>I have installed TensorFlow from scratch and I ht following problem while running CuDNN</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Uubntu 18.10
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.12
- Python version: 3.67 & 2.7.15
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 0.

[2019-02-17 05:29] jvishnuvardhan commented on #25797
@policeme DId you try the installation instructions at Tensorflow [website](https://www.tensorflow.org/install/source)? or check the solution provided at this [resource](https://github.com/tensorflow/tensorflow/issues/25557). Please let me know how it progresses. Thanks!

[2019-02-17 05:41] jvishnuvardhan commented on #25801
@Threynaud Please fill the system information as requested in template [here](https://github.com/tensorflow/tensorflow/issues/new?template=30-feature-request.md). Thanks!

[2019-02-17 05:47] slacker298 commented on #25282
Running python 3.6.4, tf-nightly-gpu (1.13.0-dev20190214) and CUDA 10.0 on Windows 10
This solution worked for me.

[2019-02-17 06:12] karimnosseir commented on #23806
We are sorry for the breakage.
Will be sending a fix. You can fix it manually by removing the prefix  "third_party/".

Thanks and sorry for the breakage.

[2019-02-17 06:13] apple14755 opened #25805 "About model size in ckpt format or numpy format"
Hello, I got a strange question when I tried to convert model from ckpt format to numpy format.
I have two files for the source model in ckpt format
model.ckpt.index - 53.7KB
model.ckpt.data-00000-of-0001 - 330MB

But when I tried to use get_variable_to_shape_map() to get all variables from the src model and save them into a file with numpy format, I got a npy file with 494MB !!!

I wonder if I us

[2019-02-17 06:19] Sayan-Paul commented on #25772
It is a variable in DNNClassfier's super class Estimator but not DNNClassifier. Hence you cannot access it through DNNClassifier. Moreover, these API's are all deprecated and you might want to consider migrating to the new ones.

[2019-02-17 06:40] mccane commented on #25609
Thanks.

Cheers,

Brendan

[2019-02-17 07:12] clanli commented on #559
I had the same problem and have had similar problem with other modules before. I was running under virtualenv with python3 on Linux Ubuntu 18. First I deactivated my virtualenv for graphos and removed it, created a new and installed the requirements as the example below:

`$ deactivate graphos`
`$ rmvirtualenv graphos`
`$ mkvirtualenv --python=/usr/bin/python3 graphos`
`$ pip install -r requiremen

[2019-02-17 07:19] wangsiyu opened #25806 "About gradient reduction in DistributionStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master
- Python version

[2019-02-17 07:49] srihari-humbarwadi commented on #17150
[code]
i was having problems compiling the model with the default accuracy keras provides, i used this snippet along with the workaround @Hvass-Labs  provided. i can confirm it works on tf 1.12.0

[2019-02-17 07:54] alanpurple opened #25807 "tensorflow/stream_executor/dso_loader.cc couldn't import cupti64_100.dll which exists in path"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-02-17 07:57] alanpurple commented on #25807
![image](https://user-images.githubusercontent.com/4515120/52910032-06803880-32d5-11e9-87f2-a4a7627d0c30.png)

![image](https://user-images.githubusercontent.com/4515120/52910040-1dbf2600-32d5-11e9-9d79-ad55149e04fb.png)

[2019-02-17 08:06] Gitwangshuo commented on #601
I fix it by reboot the os but now it shows agains ,Did anyone knows the root reason ?

[2019-02-17 08:11] howareyoudoing opened #25808 "'tensorflow' has no attribute 'enable_eager_execution'"
**System information**
-Google Colab
-GPU
-Python 3
-Tensorflow tf-nightly-2.0-preview

When I write the code:
  `from __future__ import absolute_import, division, print_function`
  `!pip install tf-nightly-2.0-preview`
  `import tensorflow as tf`
  `tf.enable_eager_execution()`
It gives me the error **AttributeError: 'module' object has no attribute 'enable_eager_execution'**

whereas when I simp

[2019-02-17 09:23] vishwasmehra commented on #10033
Hello I am also facing same issues. For the first time the issue was of py_wrap module missing. I resolved it by installing visual c++ 2015.
Now i am getting a different error "
  File "C:\Users\vishw\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 74, in <module>
    raise ImportError(msg)"

and in the last this is what i got "ImportError: DLL load failed: The specified

[2019-02-17 10:14] alanpurple commented on #25807
same problem in other windows 10 machine, which has geforce mx150 GDDR5 2GB

[2019-02-17 12:03] lorenzesz commented on #23972
Is this still not fixed with 1.13?

**System information**

* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
* TensorFlow installed from (source or binary): source
* TensorFlow version: 1.13.0rc2
* Python version: 3.7.2
* Installed using virtualenv? pip? conda?: pip
* Bazel versio

[2019-02-17 12:05] zealseeker commented on #20445
Hi @isalirezag , I got a similar problem to yours. Did you finally fix it?
I installed the tensorflow in a Dockerfile. In one computer it's OK while in another it output the error after the building of the image as the following:
[code]

[2019-02-17 12:16] bsnipers opened #25810 "report_tensor_allocations_upon_oom and embedding_lookup together lead to memory leak"
**Describe the current behavior**
The RunOptions report_tensor_allocations_upon_oom and embedding_lookup will lead to CPU memory leak.
This will only happen in tf 1.12, tf 1.10 didn't have this problem.

I thought `tf.gather` have almost same functionality, so I test it and it seems no problem at all.

I'm not sure if #21348 is related to this problem. My problem will only occur with runoptions.

[2019-02-17 12:55] biranchi2018 commented on #10779
I see both the urls are same.

[2019-02-17 13:15] alvaroslm commented on #25721
I think I'm running into the same issue, when loading my frozen graph from C++:  session->Create(graph_def) fails with: Invalid argument: Input 0 of node gru/while/ReadVariableOp/Enter was passed float from gru/kernel:0 incompatible with expected resource.
Did you find any solution?

[2019-02-17 13:20] inakaaay opened #25811 "toco: error: argument --output_file is required"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
`IMAGE_SIZE=224
toco \
  --input_file=tf_files/retrained_graph.pb \
  --output_file=tf_files/optimized_graph.tflite \
  --input_format=TENSORFLOW_GRAPHDEF \
  --output_format=TFLITE \
  --input_shape=1,${IMAGE_SIZE},${IMAGE_SIZE},3 \
  --input_array=input \
  --output_array=fina

[2019-02-17 13:50] ExtremeGTX commented on #23554
Able to get successful compilation using the following setup:
Google App Engine n1-standard-4 (4 vCPUs, 15 GB memory)
Ubuntu 18.04.2 LTS
Bazel: 0.18.1
Python: 3.6
tf: r1.12

different python version or bazel version didn't work for me

[2019-02-17 14:16] bzamecnik commented on #23401
Or edit the `.bazel.rc` file in-place with `sed`:

[code]

[2019-02-17 15:16] bzamecnik commented on #18689
Confirming that TF 1.8 CPU build without AVX from @maxhgerlach works on Intel Pentium G4400 (Skylake) without AVX.

[2019-02-17 16:53] McWare commented on #23806
Thx! I found out meanwhile🤗

Von meinem iPhone gesendet

[2019-02-17 17:15] mmkamani7 commented on #23622
Although there is a problem with Windows not allowing to create a folder or file with such a large name, it should be addressed in Tensorflow, since it is nothing that we can do to resolve it.

[2019-02-17 17:18] mmkamani7 commented on #23622
However, I found out someone has a workaround on Windows side [here](https://github.com/tensorflow/tensorflow/issues/18750#issuecomment-435654042). But it is still nice to have a solution on Tensorflow side.

[2019-02-17 17:28] fferroni opened #25812 "Ingesting Tensorflow in larger (Bazel) project"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 16.04
- TensorFlow version: 1.10
- Python version: 3.5
- Installed using virtualenv? pip? conda?: Custom
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version: 9.2/7
- GPU model and memory: compute 6.1

**Describe the problem**
I am trying to use Ten

[2019-02-17 18:15] poel22 commented on #24496
Same issue with an RTX2080, spent two days recompiling and bug hunting until I found this fix.
(the allow_growth=true thing fixed it)

You made my day

[2019-02-17 18:39] tensorflowbutler commented on #24002
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-17 18:43] nardeas commented on #24828
Had same problem with cuda 9.0 and cuDNN 7.0.5.15-1 on Ubuntu 16.04 with Tensorflow 1.12. Updating to cuDNN 7.4.2.24 fixed this for me!

[2019-02-17 18:43] gittyhub2018 commented on #24890
I'm not able to install CUDA 9, because my hardware (RTX 2070) is newer than the supported Version.
I've upload a screenshot from the error of the CUDA 9 installer.
I don't have checked anymore after this error, because it make no sense. Any other idea or i must wait for a newer version?
![error_cuda_9](https://user-images.githubusercontent.com/33618201/52917464-2b33da80-32ec-11e9-9cc4-7fcb221641c

[2019-02-17 18:58] ameyinvent opened #25814 "Batchnorm does not work in Eager mode in TF 1.12: InternalError"
Could not find valid device for node

[2019-02-17 19:41] jvishnuvardhan commented on #25814
@ameyinvent Please provide the details requested in the [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md). Please provide as many details as possible to find rootcause of the bug. Also, check this [resource](https://github.com/tensorflow/tensorflow/issues/25525) that might help you. Thanks!

[2019-02-17 19:42] yongtang commented on #23709
I tried with tf-nightly,  the issue
[code]
is still there. Haven't look deep into where the issue comes from, though.

[2019-02-17 21:40] lorenzesz opened #25817 "ERROR: /home/max/tensorflow/tensorflow/python/eager/BUILD:10:1: undeclared inclusion(s) in rule '//tensorflow/python/eager:pywrap_tfe_lib':"
****System information**

* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
* TensorFlow installed from (source or binary): source
* TensorFlow version: 1.13.0rc2
* Python version: 3.7.2
* Installed using virtualenv? pip? conda?: pip
* Bazel version (if compiling from source): 0.22

[2019-02-17 21:53] yongtang commented on #25801
@Threynaud From the source code it looks like the feature has already been added in tensorflow.keras:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/callbacks.py#L1131-L1136

[2019-02-17 22:01] Threynaud commented on #25801
Indeed, I guess I only had a look at the 1.12 documentation! Thanks for pointing this out @yongtang !

[2019-02-17 22:01] #25801 closed

[2019-02-17 22:51] bzamecnik commented on #22654
In my case (bazel-1.19.1 / tf-1.12) upgrading to bazel-1.19.2 fixed this issue and also #23719.

[2019-02-17 23:31] yongtang commented on #25790
The issue is that `Dimension` only defines a `__div__`, not `__rdiv__` (or `__truediv__`/`__rtruediv__`):
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/tensor_shape.py#L455

I think adding `__rdiv__` will fix the issue of `TypeError: unsupported operand type(s) for /`.

However, in the above code in tensorflow, it also mentioned that `__div__` is deprecated (in f

[2019-02-17 23:36] AndrasEros opened #25819 "logical issue tf.less and tf.logical.end"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes.
- OS Plat

[2019-02-17 23:47] osanseviero opened #25820 "[TF 2.0 API Docs] tf.math.add_n"
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/math/add_n

**Describe the documentation issue**

* **Links**
https://github.com/tensorflow/tensorflow/blob/master/python/ops/math_ops.py
should be
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_ops.py

* **Clear Description**
The description is

[2019-02-18 00:40] yongtang commented on #25790
Created a PR #25821 to print a better error message in case the operation is not supported.

[2019-02-18 01:03] jchia commented on #23789
@shivaniag Is the "new python function implementation" in yet? Will it make it into 1.13?

[2019-02-18 01:28] policeme commented on #25797
@jvishnuvardhan  you want to me installing the bazel?

[2019-02-18 01:41] wookayin commented on #23067
@wt-huang @mrry I would like to revisit this issue it's getting closer towards TF 2.0, where all Queue APIs are going to be removed.

I agree that when it comes to reinforcement learning, queue APIs could be more powerful as I don't find any way to implement the similar behavior using `tf.data`. For example, replay buffers (used in IMPALA, Ape-X, or even in DQN, etc.) cannot be implemented easily

[2019-02-18 01:45] Bahramudin commented on #24958
@ymodak TF 1.13 not released. When I try
`pip install --upgrade tensorflow-gpu`
It is the output:

[2019-02-18 01:47] vrl2 opened #25822 "Illegal instruction: 4 when importing tensorflow"
I've installed tensorflow (Version: 1.12.0) using pip3 on MacOS High Sierra 10.13.6, and it crashes on import with Illegal Instruction: 4. I get the same error using any version of python 3.7 and 3.6.8. Same error even after downgrading to tensorflow 1.5 and numpy 1.13. Identical issue whether I install through homebrew or pip3. Would appreciate any help to get it working.
Thanks.
[code]
 I'm also

[2019-02-18 02:03] CraigMyles opened #25823 "Please delete this"
incredibly easy fix slightly unrelated to tensorflow

[2019-02-18 02:12] kairess commented on #23563
Anyone solve this issue?

[2019-02-18 02:28] clustarycx commented on #23283
@CheukNgai I cannot find the recreating procedure. I think you can just closet this, and we will open a new issue or reopen this one if similar problem is hit again. thanks.

[2019-02-18 02:33] CraigMyles commented on #25823
I have now tried using tensorflow 1.10 and i am getting the following error: (hypergan) C:\Users\Craig\Documents\LLD>hypergan train sample -s 32x32x3 -f png -b 8 --config wgan-gp --sampler static_batch --sample_every 5 --save_samples
Traceback (most recent call last):
  File "C:\Users\Craig\.conda\envs\hypergan\lib\site-packages\tensorflow\python\platform\self_check.py", line 87, in preload_check

[2019-02-18 02:38] liu431 commented on #559
Uninstalling old numpy works for me. Thank you!

[2019-02-18 02:53] CraigMyles commented on #25823
fixed this with getting cudnn cuda stuff from nvidia dev site

[2019-02-18 02:55] #25823 closed

[2019-02-18 03:06] Lyken17 commented on #23253
same problem here, I am using `tf.slim.batch_norm`.

[2019-02-18 03:16] shivaniag commented on #23789
@jchia, The new python function implementation is in and this issue has been fixed with that. It will not make it into 1.13, but it is available with nightly build.

[2019-02-18 03:16] #23789 closed

[2019-02-18 04:03] legatoo commented on #15172
same issue. did you resolve it?

[2019-02-18 04:35] rjurney commented on #20778
This happened to me on Ubuntu Linux.

[2019-02-18 04:54] Raviteja1996 commented on #25686
Hello any updates yet?

[2019-02-18 05:34] quarterpastsix opened #25824 "Bug: ImportError: DLL load failed"
ImportError: DLL load failed
doesnt show the name of the DLL which failed

[2019-02-18 05:46] RylanSchaeffer opened #25825 "tf.data.experimental.make_csv_dataset unable to handle missing data"
I believe this is a bug. I've been unable to get `tf.data.experimental.make_csv_dataset` to work with a CSV that contains missing data. As a toy example, suppose I have a single CSV file `example.csv` with the following contents:

[code]

When I run the following code, I receive the following error: `tensorflow.python.framework.errors_impl.InvalidArgumentError: Field 1 in record is not a valid flo

[2019-02-18 05:50] ved27 commented on #25614
Hi,

I kindly request you to address this issue. It has almost been 9 days.
Thankful if someone can give me a confirmation on the memory limitation of tflite

Regards,

[2019-02-18 05:56] ved27 commented on #25768
I went through the source code of eval graph api,  fake layers don't get added at all the nodes.
fake layer gets added after (conv2d + bias) or (conv2d + relu) combo as act_quant/***

[2019-02-18 06:19] itsliupeng commented on #25747
I met the same problem when building source from master branch using bazel 0.20.0.

[2019-02-18 06:21] rohanmeh opened #25826 "[TF 2.0 API Docs] tf.compat.path_to_str"
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/compat/path_to_str

### Existing URLs containing the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/compat/path_to_str

### Description of issue (what needs changing):
* **Correct Links**
  https://github.com/tensorflow/tensorflow/blob/master/python/util/comp

[2019-02-18 06:43] rohanmeh opened #25827 "[TF 2.0 API Docs] tf.keras.activations.tanh"
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/activations/tanh
* **Correct Links** https://github.com/tensorflow/tensorflow/blob/master/python/keras/activations.py is incorrect. The correct link should be https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/activations.py.
* **Clear Description

[2019-02-18 06:47] rohanmeh opened #25828 "[TF 2.0 API Docs] tf.keras.activations.serialize"
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r1.13/api_docs/python/tf/keras/activations/serialize
* **Correct Links** https://github.com/tensorflow/tensorflow/blob/master/python/keras/activations.py is incorrect. The correct link should be https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/activations.py.
* **Clear Descr

[2019-02-18 06:53] freedomtan commented on #25710
@TropSpirit Do you have large enough swap space? Did you check system issues, such as memory pressure and thermal problem?

[2019-02-18 07:20] ustcyue opened #25829 "how to specify session target when using Estimator API"
Hi, I am trying to run my training graph in a remote server with remote session. I am able to do it by starting two tasks and specify the target of tf.Session as the first server. But seems there is noway to specify the target for tf.Session. Is there any workaround for this?

[2019-02-18 07:41] jutanke commented on #25779
Thank you for your help, the code works fine in the colab.sandbox. I compiled tf myself so that I can use it with Cuda 10 and Python 3.7 so I assume something goes wrong there. I will investigate my setup and report back in case something shows up.

[2019-02-18 08:11] sundayxcn commented on #25275
@jdduke @freedomtan
the dlopen message has no more message. and i change the bazel command :
[code]
show linking error:
[code]
but the tensorflow binary is from resource code compile
[code]

[2019-02-18 08:22] KyotoSunshine commented on #21929
I had the same issue with tf.contrib.layers.layer_norm, getting NaNs during training. Here is how I solved it: change the variance epsilon from 1e-12 to 1e-3. There seems to be some numerical instability during gradient computation when there are many layer norms in a row and the input has zero variance. In that case there will be direct division by epsilon. Unfortunately currently variance epsilo

[2019-02-18 08:30] csakvarimate opened #25830 "CUDNN_STATUS_INTERNAL_ERROR while using tensorflow.keras.applications.VGG16"
I am trying to use a pretrained network from tensorflow.keras.applications with 1.13rc2 and it crashes with a cudnn error.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from source: 1.13.0-rc2
- TensorFlow version (use command below):
- Python version: 3.6.5
- Bazel version: 0.22
- GCC/Compiler version: 7.3
- CUDA/cuDNN version: 10.0 / 7.

[2019-02-18 08:43] gogasca commented on #24828
Did you use NCCL, if so which version?

[2019-02-18 08:45] lxl910915 commented on #24338
same issue on tf-1.12.0

[2019-02-18 08:49] guptapriya commented on #25724
Un-assigning myself as this does not seem related to distribution strategy. Perhaps someone on the GPU team can look into it.

[2019-02-18 08:58] shyhtzonglee commented on #25094
It doesn't matter I install keras or not, it just failed me on "import
tensorflow".
I can run tensorflow and keras on Anaconda, it's got its own vs2015_runtime,
so I don't need to install vc_redist.x64 to run Anaconda.
But it's still a problem for me in the windows python.
Thanks.

ymodak <notifications@github.com> 於 2019年2月16日 週六 上午8:38寫道：

[2019-02-18 09:23] markdryan opened #25831 "The unit test //tensorflow/python/client/session_clusterspec_prop_test is failing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v

[2019-02-18 09:30] markdryan commented on #25831
PR https://github.com/tensorflow/tensorflow/pull/25832 fixes the issue.

[2019-02-18 09:39] Aspirinkb commented on #20867
I have the same issue, but I fix it by using the method `tf.layers.batch_normalization( )` correctly.

This error arises because `match.moving_variance_tensor` variable id `NoneType`, so you can not add it to another float number. But why this variable in graph's batch normalization layer is `NoneType`? I think you are using `tf.layers.batch_normalization( )` or some other batch normalization api

[2019-02-18 09:46] kingstarcraft commented on #23542
@Steroes could you please tell me how to get the tf_exported_symbols_msvc files?
I want to write complete tf_exported_symbols_msvc.lds, but I don't know how to get the name of the those function.

[2019-02-18 09:57] tbirn commented on #25688
@freedomtan That is certainly the case. I tried again on a more powerful machine in the cloud and it compiled w/o error.

Thanks for the help.

[2019-02-18 09:57] #25688 closed

[2019-02-18 10:00] Steroes commented on #23542
The file you can create manually, and put it in `tensorflow\tensorflow\` directory. The content will be like
[code]
This content you can get for your specific project by linking against the tensorflow lib (which will link against the dll). The linker errors that you will get from Visual Studio for example, will have the symbols in it. Look for the signatures like `??0MetaGraphDef@tensorflow@@QEAA@

[2019-02-18 10:06] lorenzesz commented on #23200
****System information**

* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
* Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
* TensorFlow installed from (source or binary): source
* TensorFlow version: 1.13.0rc2
* Python version: 3.7.2
* Installed using virtualenv? pip? conda?: pip
* Bazel version (if compiling from source): 0.22

[2019-02-18 10:14] musikisomorphie commented on #25295
@mrry,  could you help me pin down the function that I need to work on? As I said to @pldelisle,
there are three possible modules of tensorflow related to data/image augmentation,

which one should I extend to high rank data?

[2019-02-18 10:37] GustavZ commented on #25751
Usingf an java multidimensional array does not work in this case as something like the following does not work (do you know another way to create such an array?):
[code]
So when using your `Map<Integer, Object> allocateOutputBuffers(int[] shapes)`  function approach, after running the tflite interpreter with `interpreter.runForMultipleInputsOutputs()` how can i access each (of the four) output ten

[2019-02-18 10:43] patzm commented on #22058
@jvishnuvardhan yes it still is an issue. I just tried it on TF 1.12 and got the same result. I already provided an example code in a repository I linked above. Here is the link again: https://github.com/patzm/tf-estimator-distribute-so
If you point me in the right direction, I am also motivated to contribute :smiley: And thanks for picking this up again!

[2019-02-18 10:44] naatje80 commented on #25312
Thank you both for your reply/additional information.
@gunan My buildscript already executes the bazel clean --expunge step to ensure it starts from scratch. The only source change I'm making is adding the --output_base=${BAZEL_OUTPUT_BASE} option to the bazel command in configure.py:
**sed -i -r "s#\['bazel', '--batch', '--bazelrc=/dev/null', 'version'\]#\['bazel'    ,  '--output_base=${BAZEL_OUT

[2019-02-18 10:49] yeminnhtut opened #25834 "YOLOv3 TFLite GPU and CPU perform at same speed"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Android
- Mobile device: Google Pixel, Google Pixel 2 and Xiaomi 6
- TensorFlow installed from: Binary
  `implementation 'org.tensorflow:tensorflow-lite:0.0.0-gpu-experimental'`
- TensorFlow version: 1.13.0
- Python version: 3.6
- CUDA/cuDNN version: -
- GPU model and memory: -

**Describe the current behavior*

[2019-02-18 11:14] Jojuh commented on #25312
I finally got my build to complete, had to add compiler flags for the crosstool_wrapper_driver_is_not_gcc. Not absolutely sure if I understood correctly, but by passing -MMD instead of -MD to the compiler makes it ignore system headers -> no undeclared dependency errors. Would be happy if someone would ELI5 this to me.

[code]

This led me to the solution: https://stackoverflow.com/questions/35256

[2019-02-18 11:25] RuilongMachineLearning commented on #25721
Not yet. It seems this tf function could not freeze any rnn keras models. If your keras models is a sequential model, you might find some other api. Mine keras model has to be a functional model. Have to wait tensorflow or keras to fix this issue.

[2019-02-18 11:36] stanpcf opened #25835 "keras model's saving format is inconsistent (tf and h5)"
hi, I found the behavior is inconsistent when the keras model's saving format changed.
the keras model have two saving format(h5 and tf)

**Describe the current behavior**
the reproduce code as below:
[code]
the photo below is the behavior in my computer.
![image](https://user-images.githubusercontent.com/13925796/52948264-f2f7cf00-33b3-11e9-9ad1-fff9716911c8.png)

**Describe the expected behavior

[2019-02-18 12:13] dseny opened #25838 "How to send a file path tensor(dtype=string, like: './dataset/coef.txt') to numpy.loadtxt() Function?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-02-18 12:36] cosmir17 opened #25839 "Tensorflow save & restore without using filesystem"
**System information**
- TensorFlow version (you are using): Up to date
- Are you willing to contribute it (Yes/No): Python is not my daily driver language

**Describe the feature and the current behavior/state.**
I would like to retrieve(instead of save) training information and restore it to a tensorflow session when necessary (without using file system). I want to bypass filesystem.

I have loo

[2019-02-18 12:45] naatje80 commented on #25312
@Jojuh Thank you, I will try your suggestion. What I do not understand is how this could be an issue for bazel and not for the compilation step itself. Because, like mentioned before, if I executed the failing step manually, it compiles without any issue. But hopefully the additional information will help to find the issue, because it was not an issue before release 1.12.0.....

[2019-02-18 12:57] GustavZ opened #25841 "[tflite][java] how to deal with result of runForMultipleInputsOutputs()"
I am running posenet on android with tflite.
The model has multiple output arrays with the following dimensions:
`1x14x14x17, 1x14x14x34, 1x14x14x32, 1x14x14x32`

Therefore running the java tfliter interpreter with
[code]

i can access the four output tensors with `tflite.getOutputTensor(i)` or with `outputs.get(i)` (with i el. [0,3]) as `outputs` is a `HashMap` filled with `java.nio.HeapByteBuffe

[2019-02-18 12:58] huan commented on #25433
I'd like to see the **Transformer** to be well integrated with TF2 because it had been proven that it's better than the RNN and CNN for many NLP tasks.

However, instead of `migrate transformer model into the TF 2.0 Keras API`, why don't we just create a new model to work with TF2?

For example, we could create a new python module named `tensorflow_transformer` so that we could:

[code]

In this w

[2019-02-18 13:07] Simpatech-app commented on #22066
I have the same problem in tensorflow version 1.12.0.
Which tf version does not have this problem?

[2019-02-18 13:15] freedomtan commented on #25751
I guess what you want is something like
[code]
Then, no casting is needed. Just a bit slow.

You may want to check [source code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/src/main/java/org/tensorflow/lite/Interpreter.java#L252-L276)  of `interpreter.runForMultipleInputsOutputs()`

[2019-02-18 13:16] corlov commented on #20798
I have read this article (https://heartbeat.fritz.ai/neural-networks-on-mobile-devices-with-tensorflow-lite-a-tutorial-85b41f53230c) and it helped me.

I have reproduced exactly what was written there. It was my first step.
After this, I have tried to take my own dataset of pictures (14 classes of cars of different brands), repeated instructions, and got good results. It was strong impressive resu

[2019-02-18 13:21] zjjott commented on #25282
actually ,tensorflow using absl for this `mock`,
[code]

so using `pip install -U absl-py`,when I install absl-py==0.7.0, there is no error

[2019-02-18 13:26] kingstarcraft commented on #23542
@Steroes  Thanks a lot. but there is till bug when using
 ```sess_options.config.mutable_gpu_options()->set_visible_device_list(gpu_d)```
 to config the session
In version 1.5, I fix the bug with add tf_proto_cc.lib before the tensorflow.lib to the Linker. so i guess some function about sess_options in tensorflow.lib was overried by the function  in tf_proto_cc.lib.
 but in version 1.12, I can't f

[2019-02-18 13:32] freedomtan commented on #25275
apparently, it failed because of this line
[code]
This probably is caused by some link flag which wrote `../../../../src/main/jniLibs/armeabi/libmy_library.so` into your `libmy_library.so`. You may want to check what link flags are used (with `-s` in bazel command) and inspect your `libmy_library.so` (by something like `readelf -a`) before using it. If you don't how to do these, you may want to ch

[2019-02-18 13:35] iperov commented on #22
plaidML is super cool. Works on keras.
Of course I had to transfer some tf code to pure keras in order to work on plaidML backend (for example tf.image.ssim)
But result - my code works on NVIDIA and AMD cards.

Also plaidML is heaven for researchers. It automatically generates gradient for any function you will write on "Tile" language and it will work on your GPU with 80% speed of tensorflow.

So

[2019-02-18 13:35] Steroes commented on #23542
@kingstarcraft What error do you get then?

[2019-02-18 14:10] #23283 closed

[2019-02-18 14:30] pldelisle commented on #25295
Hi all. Sorry I was out for the weekend.

My data processing pipeline is, at the moment, in the following DataProvider class:

[code]

I would like to add data augmentation in it. I already do random crop of it after slicing the image to only non-zero voxels (these are brain MRI scans which has multiple modalities).

Since Contrib is going to be removed with Tensorflow 2.0 (if I remember well), I

[2019-02-18 14:45] ltrottier commented on #25768
Yes, I noticed that. Also, you cannot use standalone "keras" because it does not work. I needed to stick with tf.keras. I could not use batch norm neither (from tf.keras or tf.layers).

As a side note, I was able convert the mobilenet models from [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/models.md#image-classification-quantized-models), but the predictions f

[2019-02-18 14:50] GustavZ commented on #25751
yeah I also came up with this solution.
I guess for my needs there is currently no better way than this, as dealing with tflite.getOutputTensors() and also the HeapByteBuffer does not really work for me.

[2019-02-18 15:07] learnermaxRL commented on #25474
Any updates on this?

[2019-02-18 15:17] GustavZ commented on #25841
Defining the outputs like the following lets you work with native java arrays, which is what i wanted:

    out1 = new float[1][14][14][17];
    out2 = new float[1][14][14][34];
    out3 = new float[1][14][14][32];
    out4 = new float[1][14][14][32];
    Map<Integer, Object> outputs = new HashMap<>();
    outputs.put(0, out1);
    outputs.put(1, out2);
    outputs.put(2, out3);
    outputs.put(3,

[2019-02-18 15:17] #25841 closed

[2019-02-18 15:18] tatianashp commented on #25474
@smit-hinsu will look into this after holidays.

[2019-02-18 15:44] #25757 closed

[2019-02-18 15:50] dankal444 commented on #25120
I followed what @PINTO0309 did (or I think so)
1) `git clone https://github.com/tensorflow/tensorflow.git`
2) Edit of `./tensorflow/lite/tools/make/Makefile` file,
`BUILD_WITH_NNAPI=true`   -->    `BUILD_WITH_NNAPI=false`
3) `./tensorflow/lite/tools/make/download_dependencies.sh`
4) `./tensorflow/lite/tools/make/build_rpi_lib.sh`

It all seems to end succesfully, but when I run:
[code]
I get error

[2019-02-18 15:58] Threynaud opened #25843 "TF 2.0: Can't use tf.keras.layers.LSTM on GPU."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution: Google Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): `tf-nightly-gpu-2.0-preview==2.0.0.dev20190218`
- Python version: 3.6.7
- CUDA/cuDNN version: CUDA 10.0 CuDNN 7.4.2
- GPU model and m

[2019-02-18 16:15] AndrasEros commented on #25819
I found the reason of the error. The issue is not about serving.

[2019-02-18 16:15] #25819 closed

[2019-02-18 16:17] margaretmz opened #25844 "[TF 2.0 API Docs] tf.lite.TFLiteConverter"
**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/lite/TFLiteConverter

**Describe the documentation issue**

- **Links** (Fixed)

Incorrect - https://github.com/tensorflow/tensorflow/blob/master/lite/python/lite.py
Correct - https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/lite.py

- **Description**

[2019-02-18 16:32] logsea opened #25845 "Error while retrain inception-v3"
**System information**
- Have I written custom code: No, it is the sample code to retrain inception-v3 in https://github.com/tensorflow/hub/raw/master/examples/image_retraining/retrain.py
- OS Platform and Distribution: Windows 10 build 17134.590
- Mobile device if the issue happens on mobile device: N/A
- TensorFlow installed from: binary
- TensorFlow version: 1.8.0
- Python version:3.6.4
- Bazel

[2019-02-18 17:09] lhelontra commented on #25323
With tf 1.12.0 works fine, but with tf 1.13.0-rc2 I got same issue in my project [tensorflow-on-arm](https://github.com/lhelontra/tensorflow-on-arm/)

[2019-02-18 17:46] yongtang commented on #25839
@cosmir17 The save and restore of models in tensorflow are done through a `file system` plugin system. It does not mean you have to use a file system, it only means there should be a "file read & write" like API. TF naturally support gcs (with `gs://...`) and s3 (with `s3://...`) which technically not exactly a file systems. Apache Ignite is also supported through `igfs://`.

For Cassandra, an imp

[2019-02-18 18:14] RylanSchaeffer commented on #25825
Someone on SO point out that the error is caused by specifying the `column_defaults` argument, which forces the default to be a float32 dtype only. I have two follow up questions. First, how could I have discovered that interaction? I just reread the documentation and that behavior isn't clear to me at all. Second, if I remove column_defaults, then missing floating values are replaced by 0s, where

[2019-02-18 18:19] cosmir17 commented on #25839
@yongtang, thank you for your clarification. Yes, Tensorflow uses file system as a way of persisting training data (both implicitly and explicitly).
**1. I wanted to know a line of code or method that I can use to extract training data(as an object) and import it to (tf)session when necessary without me handling file path etc **
2. Cassandra, I am using Scala as I noted in the post, there is alrea

[2019-02-18 18:32] josephhaaga opened #25846 "[TF 2.0 API Docs] tf.math.add"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/t

[2019-02-18 18:33] vibss2397 commented on #22505
@alextp wow, no, it does not, why might that be.

[2019-02-18 18:47] abeerM opened #25847 "Error after installing tensorflow dll"
hello
I am facing this error just after installing tensorflow and try to use it
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Abeer\AppData\Roaming\Python\Python36\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import pywrap_tensorflow  # pylint: disable=unused-import
  File "C:\Users\Abeer\AppData\Roaming\Python\P

[2019-02-18 18:47] #23077 closed

[2019-02-18 18:47] tensorflowbutler commented on #23077
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-02-18 18:47] tensorflowbutler commented on #25453
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-18 19:01] tastenachim commented on #23166
I have the same issue when experimenting around with nested while-loops and imported graphs (trying to connect frozen graphs). Esp. I use an imported graph containing a while-loop inside a while body:

Completely standalone example:
in short (pseudocode):
[code]

and in python:
[code]
This throws the mentioned exception. In contrast: Defining the inner loop directly inside the outer_body works fin

[2019-02-18 19:16] asimonov opened #25848 "tf.test.gpu_device_name() allocated all GPU memory"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
no

- TensorFlow installed from (source or binary):
binary

- TensorFlow version (use command below

[2019-02-18 19:23] tastenachim commented on #23166
here is even a short script which -- when inserted in the example above right before the Session -- replaces the bogus-`frame_name` on the fly:

[code]
But **Warning**: it
* completely exports and reimports the whole graph.
* probably does not work well with variables/trained model data.
* has a somewhat handmade bug-recognition
* is only a workaround.

[2019-02-18 19:37] bidakos commented on #25704
@dthomas888 have you managed to do it?

[2019-02-18 19:38] omarcr commented on #22794
Installation:

[code]

Output of some sample code:

[code]

[2019-02-18 20:00] huan commented on #25843
Do you know where can we find `tf.keras.layers.CuDNNLSTM` in TF 2.0 ?

I did a search for my question and find your issue(related) at here.

[2019-02-18 20:22] Threynaud commented on #25843
@huan I believe `tf.keras.layers.CuDNNLSTM` will be deprecated in 2.0 in favor of `tf.keras.layers.UnifiedLSTM`.

[2019-02-18 20:27] musikisomorphie commented on #25295
Ok, @pldelisle, once I make some progress I will let you know.

[2019-02-18 20:41] dorinionescu commented on #22794
Could not find a version that satisfies the requirement tensorflow-gpu==1.10.0 (from versions: 1.13.0rc1, 1.13.0rc2)
No matching distribution found for tensorflow-gpu==1.10.0

[2019-02-18 21:16] oscarlinux commented on #24828
Same issue here. I have an RTX 2070, cuda 10, cudnn 7.4.1 and tensorflow 2.0  running on ubuntu 18.04. Downgraded cudnn to 7.3.0 but still same error. I see it helped for some people downgrading tensorflow but I guess that's not an option for me. Any help is much appreciated.

[2019-02-18 21:38] yongtang commented on #25835
Created a PR #25851 to address the different behavior between tf and h5.

[2019-02-18 21:47] oscarlinux commented on #24496
How do you actually set allow_growth=true? I have tf-nightly-gpu-2.0-preview and tried:

import tensorflow as tf
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
session = tf.Session(config=config, ...)

but get this error:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython

[2019-02-18 22:02] lissyx commented on #24095
Still no activity on that ? @petewarden @mrry

[2019-02-18 22:05] lissyx commented on #24095
Or maybe @hgadig ?

[2019-02-18 22:25] malmaud opened #25852 "reset_states raising 'NoneType' object is not subscriptable"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-02-18 22:45] oscarlinux commented on #24496
ok, made it work in tf-nightly-gpu-2.0-preview and ipython notebook adding this to my code:

from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)

[2019-02-18 22:48] oscarlinux commented on #24828
OK...
Adding this to my code. I'm using tensorflow tf-nightly-gpu-2.0-preview.
from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)

[Here](https://www.tensorflow.org/guide/using_gpu) are some more details

Also, this issue is associated with [24496

[2019-02-18 22:55] beew opened #25854 "cuda10+tensorflow1.12 on linux build failed"
**System information**
- OS Platform and Distribution: Linux Ubuntu 16.04

- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12.0
- Python version: 3.5.2
- Installed using virtualenv? pip? conda?: python3 from system
- Bazel version (if compiling from source): 0.18, 0.17
- GCC/Compiler version (if compiling from source): 5.4.0
- CUDA/cuDNN version: cuda10.0, cuDNN 7.4.

[2019-02-18 23:54] alsrgv commented on #23888
I'm seeing the same issue running TensorFlow benchmarks with `--xla=True --allow_growth=True`.

[2019-02-19 00:11] ajimenezUCLA commented on #25852
I think I can fix this for you and raise the error you want. I believe the issue is you're setting stateful to True, its used the last state in the batches as the initial state for the sample. Could you better describe what it is you're trying to do with the code?

[2019-02-19 00:27] jkulhanek commented on #18353
I am having the same issue.

[2019-02-19 00:28] jtressle opened #25856 "freeze_graph unable to initialize local_variables"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):

Yes, I discov

[2019-02-19 00:35] brennenhuang commented on #23898
@protoget Anything new? I have the same problem

[2019-02-19 00:36] arwengriffioen opened #25857 "Add lower() to string operations"
**System information**
- TensorFlow version (you are using):  1.10 and 1.12
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Add the string `lower()` function to the tf.string class.
Current state has no way to lower case input strings. This requires it to be done at dataset build time which reduces dataset flexibility

**Will this change th

[2019-02-19 01:44] Kublai-Jing opened #25858 "Tensorflow Parameter Server Hangs when doing distributed training with Estimator"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version:1.5, 1.8, 1.12 all the same results
- Doc Link:  https://www.tensorflow.org

[2019-02-19 01:48] yongtang commented on #25857
Added a PR #25859 with `strings.lower()` and `strings.upper()`.

[2019-02-19 02:16] wangwenjing commented on #24871
@lenaevans Hi, i encounter same problem. I got a binary of libtensorflow-lite.a for arm64, it's around 7.5MB. Do you have any idea on how to reduce the size? Thanks in advance.

[2019-02-19 02:18] wronk commented on #22750
Also can confirm that pulling the 1.13.0 tf-nightly-gpu build solved this issue for me

[2019-02-19 02:21] aishwaryap commented on #24828
I'm having the same issue with Cuda 9.0, Cudnn 7.4.2 and 7.0.5. In my case, downgrading to tf 1.8 did not help. Is there any other fix for this?

[2019-02-19 02:33] lenaevans commented on #24871
I got the library from the build_ios_universal_lib.sh script, and then compiled in xcode with optimizations for space in the compiler settings. At first it looked a lot bigger than it actually was for me because I was looking at the size of the universal framework but once I looked at the size increases of the builds for the individual architectures, the size was a little over 1 MB.

[2019-02-19 02:40] freedomtan commented on #25834
For mobile phones, the YOLOv3 model you provided is a big one. It's likely to be IO-bounded.

[2019-02-19 02:44] oscarlinux commented on #24828
Did you try setting up allow_growth = True? That resolved the problem for me.

[2019-02-19 03:00] clhne commented on #24828
Yes, it helps!
Thanks.
@aishwaryap
You can try setting up allow_growth:

config = tf.ConfigProto()
config.gpu_options.allow_growth = True
sess = tf.Session(config=config)

[2019-02-19 03:04] freedomtan commented on #25759
I ran into the same problem on a device with `GL_MAX_COMPUTE_WORKGROUP_INVOCATIONS == 512`. Yes, as @pontiusnn suggested, `GL_MAX_COMPUTE_WORKGROUP_INVOCATIONS` should be checked and respected.
[code]

[2019-02-19 03:24] MattHuntebrinker opened #25862 "Can't detected GPU using pycharm CUDA_ERROR_NO_DEVICE"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow versio

[2019-02-19 03:28] tlalexander commented on #25312
I tried @Jojuh 's solution but it did not solve the problem for me. What did work in my case was to make a symbolic link from the normal cache directory to the folder on another disk I was trying to use for the output directory. Then I could run without the --output_base flag but still use the storage location I wanted. I was also running out of memory, which I fixed by allocating some swap. Not s

[2019-02-19 03:31] huan commented on #25843
Yes, I'm using a UnifiedLSTM, but I still can see the following error message, which suggest me to use the CuDNNLSTM.

Should we get rid of those message about the CuDNNLSTM ?

[code]

BTW I'm using tf.keras.layers.LSTM on GPU with TF 2.0 without any problem in the following environment:

* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
* OS Plat

[2019-02-19 03:55] scutzhe commented on #11859
sure? 0.5.2 has released

[2019-02-19 04:19] masonk opened #25865 "linking libcuda.so.1 in a Docker image at build time"
**System information**
- Host system Ubuntu 18.04
- TensorFlow r1.13 branch
- Installing from `nvidia/cuda:10.0-cudnn7-devel-ubuntu16.04` base docker image
- Bazel 0.21.0
- GCC/Compiler version (if compiling from source):
- Cuda 10.0, cuDNN 7.4
- RTX 2080 Ti

**Describe the problem**
When building `//tensorflow/libtensorflow.so` in a RUN step of my Dockerfile, I get this error:

[code]

This only

[2019-02-19 04:31] JustASquid opened #25866 "CUDA-related crash when training simple network"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, also tested on Ubuntu 18.04 on same machine
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- Tens

[2019-02-19 04:37] ouclbc commented on #15122
converting unsupported operation decodejpeg

[2019-02-19 04:46] masonk commented on #25865
Building this at head succeded, presumably because https://github.com/tensorflow/tensorflow/issues/16184 switched to dynamic loading of libcuda. It sure would be nice to have a working development Docker with the latest stable release but I understand that there are a lot of things that would be nice to have. I can't imagine that this is only broken for me - I'm just not doing anything special.

[2019-02-19 04:57] omsrisagar commented on #18652
Facing the same issue with Cuda 9.0, tensorflow 1.12.0, cuDNN 7.4, windows 10, Two Nvidia RTX 2080 Tis

[2019-02-19 05:05] vinodk333 opened #25870 "Error installing/running Tensorflow-GPU version"
Unable to install/run tensorflow-gpu in my system.  Below error am getting.  I tried with Python 3.7, then downgraded it to py 3.6.8 and then to 3.6.5, but the end result is the same.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): installed using pip3
- TensorFlow version: GPU version 1.12.0
- Python ver

[2019-02-19 05:23] ved27 commented on #25768
Use batch_norm from tf.contrib.layers. This works as it considers fusedbatchnorm by default, which gets folded with the convolution before it when you call quantization apis like create_training_graph() or create_eval_graph().

When you use this batch norm, do not forget to call optimizer under the UPDATE_OPS scope

[2019-02-19 05:30] prashant-bansod commented on #16614
Hi Everyone, I am getting the AttributeError: module 'keras_applications' has no attribute 'set_keras_submodules'.  I am running the code on Ububtu 16.04
Tensroflow:1.12
I would appreciate your help with this. Thanks.
[code]

[2019-02-19 06:03] a6802739 commented on #25461
@dynamicwebpaige, I have submitted a pull request #25833, please have a look at that. Thanks!

[2019-02-19 06:24] naatje80 commented on #25312
The patch supplied by @Jojuh did indeed also not fix the issue for my. I will now also try the suggestion mentioned by @tlalexander. But clearly something must hast changed, because the --output_base option was never an issue before.

[2019-02-19 06:38] chinnusujitha opened #25874 "Passing variable length sentences to Tensorflow LSTM"
I have a tensorflow LSTM model for predicting the sentiment. I build the model with the maximum sequence length 150. (Maximum number of words) While making predictions, i have written the code as below:

    batchSize = 32
    maxSeqLength = 150

    def getSentenceMatrix(sentence):
        arr = np.zeros([batchSize, maxSeqLength])
        sentenceMatrix = np.zeros([batchSize,maxSeqLength], dtype=

[2019-02-19 07:09] NKucza commented on #25607
i have the same issue.. is there a way around?

[2019-02-19 07:24] jlebar commented on #25222
@jvishnuvardhan I'm also not sure why I was added to this -- I work on XLA.

[2019-02-19 07:32] naatje80 commented on #25312
@Jojuh: I was indeed also able to compile the module by creating a symbolic link to temp instead of using the output_base. @gunan hopefully this is helpful in locating the actual issue. But at least we have a workaround for now.

[2019-02-19 07:36] rajatmonga commented on #17328
Adding @aselle and @petewarden who may have more pointers for building TensorFlow for Android for training your model.

[2019-02-19 07:42] MICHAEL-ZENGZF commented on #9412
Just pulled the latest demo, still cannott change to landscape mode by simply changing the screenOrientation in manifest.xml, and change to auto rotate didn`t work for me @prasanna532

Here`s my work around:

In DetectorActivity:
`sensorOrientation = 0 - getScreenOrientation();//here change rotation to 0`

In MultiBoxTracker:

    final boolean rotated = sensorOrientation % 180 != 90;//here change

[2019-02-19 08:09] bitianchi opened #25876 "Does ConditionalAccumulator have any other reduction_type?"
![image](https://user-images.githubusercontent.com/29396595/52999122-ee88f000-345f-11e9-94bf-72550d222b1d.png)

When I use SyncReplicasOptimizer, I want to sum the gradients but not to mean them. The motivation to do this is, I want to train a big model with big batch_size other than mini batch_size. So SyncReplicasOptimizer has any other reduction_types? (For example sum, max...)

[2019-02-19 08:18] wangwenjing commented on #24871
@lenaevans Hi, What did you mean by "compiled in xcode with optimizations for space in the compiler settings", you meant to set some settings in Xcode when compile project which use libtensorflow-lite.a  ?  if so, can you tell me what settings you specified ?  I'm a newbie in this area. Thanks a lot.

[2019-02-19 08:21] YibaYan opened #25877 "AttributeError: 'NoneType' object has no attribute 'get_file'"
<em>Please make sure that this is a bug. As per our [GitHub Policy]
when i run densenet, i got stuck into this bug.
`  File "D:/Documents/GitHub/DenseNet-master/imagenet_inference.py", line 26, in <module>
    print('Predicted:', decode_predictions(preds))
  File "D:\Applications\Anaconda3\envs\keras\lib\site-packages\keras_applications\imagenet_utils.py", line 224, in decode_predictions
    fpath

[2019-02-19 08:30] XiaolongMeng opened #25878 "Invalid argument: No OpKernel was registered to support Op 'ListDiff' with these attrs."

[2019-02-19 08:33] #25878 closed

[2019-02-19 08:48] karloberas opened #25880 "Migration Guide from Tensorflow Android to Tensorflow Lite"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow Android 1.12.0
- Are you willing to contribute

[2019-02-19 08:57] MADONOKOUKI opened #25881 "can't split error"
Traceback (most recent call last):
  File "train.py", line 82, in <module>
    tf.app.run(main)
  File "/home/madono/.local/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 125, in run
    _sys.exit(main(argv))
  File "train.py", line 52, in main
    datasets = mnist.load_data()[:10000]
TypeError: 'ConditionalDataset' object is not subscriptable

[2019-02-19 09:14] serycjon opened #25882 "tf.image.random_jpeg_quality only products images of single jpeg quality"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian 9
- TensorFlow installed from (source or binary): pip install
- TensorFlow version (use command below): v1.12.0-0-ga6d8ffae09
- Python version: 2.7.13
- CUDA/cuDNN version: 9.0 / 7.0.3
- GPU model and mem

[2019-02-19 09:37] BigBigWolf-AI opened #25883 "When the TF 2.0 stable edition releases ？"
I really want to know！ Anyone could tell me？ Thank You！

[2019-02-19 10:03] duguyue100 commented on #25764
any feedback on this? @jvishnuvardhan

[2019-02-19 10:08] hokmund commented on #25747
I faced the same issue when building source from master with bazel 0.22.0 on Windows via cygwin.

[2019-02-19 10:09] keotic opened #25885 "Ability to hook Iterator initialisation while using estimators"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No): Yes

**D

[2019-02-19 10:19] Ashokcharu commented on #25480
@tika64208  It's not working....

[2019-02-19 10:25] itsliupeng commented on #25747
I can build successfully using  bazel 0.19.2

[2019-02-19 10:44] songmeixu opened #25886 "[tf c++ api] Does `GraphExecutionState::OptimizeGraph` take up too much cpu during repeated `session->Run()`?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  3.18.6-2.el7.centos.x86_64
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.9.0
- Python version: 3.6.5
- Bazel version (if compiling from source): bazel-0.10.0
- GCC/Compiler version (if compiling from source): gcc-4.8.5

**Describe the current behavior**
I load tf

[2019-02-19 10:44] Sangarshanan commented on #25846
Hey beginner here, On which branch can I find tf v2.0 ? cause it seems to end with 1.99

[2019-02-19 10:51] hokmund commented on #24596
Compiling TF v1.12.0 from sources with:
bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cpu=armeabi-v7a --verbose_failures

Getting exactly same error.

[2019-02-19 10:53] songmeixu commented on #25886
Here is my thoughts:
I run the program locally, The `session` will be a `DirectSession`. And The `Run()` for a `DirectSession` does have some reuse mechanism https://github.com/tensorflow/tensorflow/blob/5f561241785462a7d866d6c92265f5d7ab63120d/tensorflow/core/common_runtime/direct_session.cc#L751-L753
I wonder why the OptimizeGraph still takes that much cpu circles, and how to avoid it?

[2019-02-19 11:52] L0drik commented on #24823
I would love to see this change implemented as well.

In the meantime, would it be possible to allow backward in time integration for ODEs by simply remove the '_assert_increasing(t)' function in 'tensorflow/tensorflow/contrib/integrate/python/ops/odes.py'? As far as I can tell, this seems to be an unnecessary conditions check (please correct me if I'm wrong).

**Porposal:**
Remove this code block

[2019-02-19 12:19] lebron374 opened #25889 "tensorflow r1.6 use Eigen or intel mkl for matrix operation?"
tensorflow r1.6 use Eigen or intel mkl for matrix operation?
and we user java api of tensorFlow 1.6 and try to optimize the time cost

[2019-02-19 12:28] MadahaCEO commented on #25781
I have the same problem，has been looking for a solution.

[2019-02-19 12:40] Zhiqiang-Ye commented on #24028
Hi, I had this problem when my program could not read data from HDFS. As long as it found any data to read, this problem is gone.
My colleague had this problem using old file queue for input. The mysterious solution is to set training max steps to forever....

[2019-02-19 13:20] fazlekarim commented on #25403
I am having the same issue. Is there a fix to this?

[2019-02-19 13:23] SimplifyAll opened #25895 "keras ConvLSTM2d not working with eager execution"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1

[2019-02-19 13:43] Nicolabo commented on #14834
Was the problem solved somehow? In my case i got AUC 0.82 on tensorflow and 0.90 in `sklearn.metrics.auc_score`.

[2019-02-19 14:43] ParasharaRamesh commented on #25808
hey @howareyoudoing  even i am facing the same error while following this colab tutorial.
Somone has already raised this issue precisely and someone from the tensorflow team has taken up this  issue to resolve so you could probably watch this issue page for now..

https://github.com/tensorflow/tensorflow/issues/25731

[2019-02-19 14:44] sipan17 commented on #25775
Just run the code with use_validation True and False, and you can see that the results differ

[code]

[2019-02-19 14:58] Calimero commented on #21901
[tf.tile](https://www.tensorflow.org/api_docs/python/tf/tile) was a valid differentiable alternative for me.

[2019-02-19 15:35] puneet336 opened #25896 "Issues while compiling tensorflow v1.12.0 with intel 19 compilers"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS Linux release 7.6.1810 (Core)
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: compiling from source (will use pip for .whl)
- Bazel version (if compiling from source): 0.19.1
- GCC/Compiler version (if compil

[2019-02-19 15:49] mrodozov commented on #25323
@lhelontra please see: https://github.com/tensorflow/tensorflow/issues/24318 and also https://docs.bazel.build/versions/master/command-line-reference.html
I'm trying this just now.

[2019-02-19 15:57] mrry commented on #23067
Hi @wookayin! We aren't removing *all* queue APIs in TF 2.0. In particular `FIFOQueue` and `RandomShuffleQueue` will remain in the 2.0 API (as `tf.queue.FIFOQueue` and `tf.queue.RandomShuffleQueue`), so you can continue to build arbitrarily sophisticated queuing networks in your code.

We have removed `tf.train.QueueRunner` from the 2.0 API (although it will continue to be available in `tf.compat.

[2019-02-19 16:00] ltrottier commented on #25768
Is it possible to do this with keras API? I mean, can we add control dependencies when training with `model.fit_generator`?

[2019-02-19 16:16] roymiles commented on #25729
I have since fixed the issue.

[2019-02-19 16:16] #25729 closed

[2019-02-19 16:39] mrsep18th commented on #7072
Finally, this solution worked for me, thanks

[2019-02-19 16:52] mrry commented on #24095
As far as I can tell, it should be fine to build that code on Windows. The version history is fuzzy, but I think @meteorcloudy added the exception originally [in October 2016](https://github.com/tensorflow/tensorflow/commit/c5ab3dd177dc16bb211821e38219f350a613b5e8) when it didn't work on Windows, but support for `WinReadOnlyMemoryRegion` was contributed [shortly afterwards](https://github.com/tens

[2019-02-19 16:55] howareyoudoing commented on #25808
@ParasharaRamesh Thanks for providing the link.

[2019-02-19 16:55] howareyoudoing commented on #25808
Thanks for providing the link.

[2019-02-19 17:39] jvishnuvardhan commented on #25313
@yann-yy Thank you! I am closing this issue. Thanks again!

[2019-02-19 17:39] SamtFish commented on #25747
Me too.

[2019-02-19 17:46] alextp commented on #22066
Currently only nightly.

On Mon, Feb 18, 2019 at 5:11 AM Simpatech-app <notifications@github.com>
wrote:

--
 - Alex

[2019-02-19 17:49] jlebar commented on #22039
@jvishnuvardhan I work on XLA, so this is outside of my area of ownership.

[2019-02-19 17:50] jlebar commented on #22039
Quite possibly.  To address this, when you run configure.py, you need to ensure that you tell TF to build for sm_XY corresponding to your machine's GPU.

[2019-02-19 17:56] jvishnuvardhan commented on #24890
@gittyhub2018 You could try to install new version of TF. Please also check the solution provided [here](https://github.com/tensorflow/tensorflow/issues/25692) to disable the character limit on Windows10. Thanks!

[2019-02-19 18:07] ztoser commented on #25830
Same issue here. It was even present on 1.13.0-rc1. I tried compiling rc2 without XLA, but it did not help.

[2019-02-19 18:11] jvishnuvardhan commented on #25797
@policeme It looks like there is a configuration issue. You could uninstall current TF and build TF from source using the resource i provided to you or any other good resource. Please let me know how it progresses. Thanks!

[2019-02-19 18:16] amitlevy21 commented on #25285
@karmel I'd love to hear your opinion on this. Did i provide enough info to describe the problem?

This might partly be related to #16087 and #18016. But i would like to emphasize that here I'm describing a use case that is need for the training process as well and that i would like to control the "context switch" of datasets with estimator hooks(tf.train.SessionRunHook).

Thank you.

[2019-02-19 18:23] raviilango commented on #24311
Hi Jared,

appreciate any update on this issue.

thanks,
ravi

[2019-02-19 18:34] gunan commented on #25195
Unfortunately, TF tests include a lot of tests that are only valid in very specific cases. Therefore, the test command we have in the build instructions can fail a lot erroneously. @lamberta Maybe we should remove the "bazel test" command from install from source instructions.

[2019-02-19 18:36] dsmilkov commented on #22058
I'm no longer working on TensorBoard. Can you reassign to someone from the TensorBoard team? Thanks!

[2019-02-19 18:36] gunan commented on #25239
Routing to @jdduke as this looks like an android build issue.

[2019-02-19 18:37] gunan commented on #24430
similar, I cannot really comment on this. Please reroute.

[2019-02-19 18:42] lamberta commented on #25195
@gunan While it would be nice to have an easy way to test this, I agree this command seems to change enough that keeping it up to date is a pain. I have a CL out to remove this section.

[2019-02-19 18:46] masonk commented on #25865
Related issue - original incidence of this issue and the originally proposed fix. Will try it tonight.

https://github.com/tensorflow/tensorflow/pull/13399

[2019-02-19 18:47] masonk commented on #25865
Also https://github.com/NVIDIA/nvidia-docker/issues/775

[2019-02-19 18:54] jvishnuvardhan commented on #24596
@hokmund Could you try the solutions provided [here](https://github.com/tensorflow/tensorflow/issues/6356) that worked for someone. Thanks!

[2019-02-19 18:57] Sudeepam97 commented on #25802
Hi @dynamicwebpaige. I searched through the tensorflow repo, and it looks like one needs to edit the .pbtxt files inside `tensorflow/tensorflow/core/api_def/base_api` to modify the documentation. Can you confirm this?

[2019-02-19 19:01] skye commented on #25578
@gunan have we released an RC with 7f404e9?

[2019-02-19 19:12] alextp commented on #25403
This error is a cuda error because the GPU is running out of memory, doesn't have enough compute capacity, or there's a driver issue.

Can you confirm that none of these issues is happening with you here?

[2019-02-19 19:14] gunan commented on #25578
rc2 is released and should have this change.

[2019-02-19 19:17] ymodak commented on #24958
The official TF 1.13 is not released. However you can try,

[2019-02-19 19:23] fazlekarim commented on #25403
I am almost a hundred percent sure the GPU truly running out of memory. It doesn't even run for one epoch.

The same code, same dataset, same everything, runs fine in 1080ti, the GPUs of collab, 1080, 1070.

My feeling tells me something is wrong with CUDA 9.0 on 2080 ti or eager on 2080ti with CUDA 9.0.

[2019-02-19 19:23] gunan commented on #25747
Looks like you may need to install or update git?

[2019-02-19 19:28] tensorflowbutler commented on #25450
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-19 19:28] tensorflowbutler commented on #25454
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-19 19:28] tensorflowbutler commented on #25468
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-19 19:28] tensorflowbutler commented on #25475
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-19 19:28] tensorflowbutler commented on #25476
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-19 19:28] tensorflowbutler commented on #25487
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-02-19 19:52] ymodak commented on #25734
Closing this issue since the PR has been merged. Thanks!

[2019-02-19 19:52] #25734 closed

[2019-02-19 19:55] ymodak commented on #25789
Closing this issue since the wdiron's explanation is correct. Feel free to post a new issue if having problems  in installing TF 1.13.0-rc1/1.13.0-rc2 both are built with CUDA 10. Thanks!

[2019-02-19 19:55] #25789 closed

[2019-02-19 19:55] ymodak commented on #25708
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-19 19:55] #25708 closed

[2019-02-19 19:58] ymodak commented on #25232
@davidgtunity
Is this still an issue for you? Did you try this suggestion?

[2019-02-19 20:01] jvishnuvardhan commented on #25775
@sipan17 I see the following errors with use_validation= True and False. When I run multiple times, the loss values are changing slightly. Do you expect these numbers to be same? Thanks!

True
epoch 10 ended
epoch moving mean loss: 72.33

False
epoch 10 ended
epoch moving mean loss: 72.17

[2019-02-19 20:16] msushkov opened #25899 "BestExporter exporting multiple models."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platf

[2019-02-19 21:01] elyasmehtabuddin commented on #25734
@ymodak No, thank you!

[2019-02-19 21:03] #21838 closed

[2019-02-19 21:32] gzerveas commented on #14746
The biggest problem I see with this, is that typically only a tiny fraction of the overall vocabulary exists in a given batch. Dropping a uniformly random (instead of word frequency-informed) 20% of the vocabulary will most times do nothing. In order to have a non-negligible effect, one would need to increase the dropout to very high values (e.g. 70%), at which point the danger is that some senten

[2019-02-19 21:34] carlfm01 commented on #24095
Thanks @mrry .

[2019-02-19 21:34] #24095 closed

[2019-02-19 21:37] jvishnuvardhan commented on #25476
Closing this support issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2019-02-19 21:37] #25476 closed

[2019-02-19 21:38] jvishnuvardhan commented on #24211
Closing this issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2019-02-19 21:38] #24211 closed

[2019-02-19 21:39] jvishnuvardhan commented on #24216
Closing this support issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2019-02-19 21:39] #24216 closed

[2019-02-19 21:42] jvishnuvardhan commented on #25518
Closing this support issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2019-02-19 21:42] #25518 closed

[2019-02-19 21:42] jvishnuvardhan commented on #25543
Closing this support issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2019-02-19 21:42] #25543 closed

[2019-02-19 21:44] jvishnuvardhan commented on #25667
Closing this support issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). Thanks!

[2019-02-19 21:44] #25667 closed

[2019-02-19 22:08] allenlavoie commented on #25795
Assuming you're using `tf.train.Saver`, this is the `save_relative_paths` argument to `__init__`.

[2019-02-19 22:10] ymodak commented on #25779
You are welcome. I would like to tell you that TensorFlow 1.13.0-rc2 has been released!
It comes with GPU binaries built with CUDA 10 and also supports Python 3.7
You may want to give it a try. I will close this issue since we cannot reproduce it and works fine with colab. Feel free to reopen if have any further problems. Thanks!

[2019-02-19 22:11] #25779 closed

[2019-02-19 22:18] nfelt commented on #22058
There's a related tensorboard issue here: https://github.com/tensorflow/tensorboard/issues/403  I'm not sure if it's the exact same situation with Estimator (chains of conditionals) but the effect of many nodes in a long row that force a too-far-out initial zoom is the same.

As described here though, it would be ideal to fix this on the Estimator side by introducing some scope to contain these, s

[2019-02-19 22:28] bhack commented on #22058
@nfelt So, do you want to close this here and move on https://github.com/tensorflow/estimator if it is in the estimator perimeter?

[2019-02-19 22:32] Jhouny commented on #7653
The same for me after creating virtual environment and installing dependencies

[2019-02-19 22:33] ymodak commented on #25788
Please take a look at [similar issue](https://github.com/tensorflow/tensorflow/issues/25591). Probably this will help.

[2019-02-19 22:48] ebrevdo commented on #25694
It would be helpful if you had a minimal reproducing example.

[2019-02-19 22:53] #24991 closed

[2019-02-19 22:54] alextp commented on #22505
@vibss2397 it's been fixed since. Closing.

[2019-02-19 22:54] #22505 closed

[2019-02-19 22:57] nfelt commented on #22058
Estimator doesn't have its own issue tracker, so this is still the right place for an issue asking for changes to Estimator.

[2019-02-19 22:57] amirmazaheri1990 opened #25901 "Batch Normalization renorm with tensorflow_hub"
Hi,

I have observed an issue in Tensorflow hub and batch normalization. It seems that I cannot have a batch normalization layer with renorm in a module. Consider the following short script:
[code]
which gives me the following error:

  File "..../codes/5/test.py", line 16, in <module>
    g_spec = hub.create_module_spec(myfunc)
  File "/usr/local/lib/python3.5/dist-packages/tensorflow_hub/native_

[2019-02-19 23:05] TropSpirit commented on #25710
Thanks @freedomtan
finally today i was able to build completely. I guess it was swap space or memory going of range. Every time it failed i was rebooting the machine and ran the same command to continue the build from where it failed.

**Target //tensorflow/tools/pip_package:build_pip_package up-to-date:
  bazel-bin/tensorflow/tools/pip_package/build_pip_package
INFO: Elapsed time: 1626.568s, Crit

[2019-02-19 23:05] #25710 closed

[2019-02-19 23:09] jtressle commented on #25856
I wasn't able to include local_variables in my frozen graph, but I did come up with a work around.

The initial problem was that my checkpoint was created from a graph that contained local_variables.  Unfortunately, freezing the graph produced the error:

`Attempting to use uninitialized value...`

What I did to work-around the issue was to change the local variables to untrainable global variable

[2019-02-19 23:15] jvishnuvardhan commented on #25468
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-19 23:15] #25468 closed

[2019-02-19 23:15] jvishnuvardhan commented on #25487
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-19 23:15] #25487 closed

[2019-02-19 23:37] jvishnuvardhan commented on #25454
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-19 23:37] #25454 closed

[2019-02-19 23:38] jvishnuvardhan commented on #25450
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-19 23:38] #25450 closed

[2019-02-19 23:39] jvishnuvardhan commented on #25475
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-02-19 23:39] #25475 closed

[2019-02-19 23:43] jvishnuvardhan commented on #24430
@laurent-george This bug is not related tensorflow. Could you ask it in nvidia community forum? Thanks!
I am closing this as it is better to ask elsewhere and also it is not related to tensorflow. Thanks!

[2019-02-19 23:53] ymodak commented on #25881
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will create fr

[2019-02-20 00:25] theflofly commented on #9837
Thanks for your answer @asimshankar, in the case of a RFC process do you accept being the RFC sponsor?

[2019-02-20 00:29] rahul003 commented on #15190
thunterdb@, sorry for being a blast from the past. Did you not see this issue later? I believe I'm seeing something similar on my end. I am curious if there was anything you had to do to get around it.

[2019-02-20 00:29] paulaksm commented on #25296
It works!
As expected, it outputs a runtime warning regarding a mismatch between compiletime version (3.4) and runtime version (3.6). This warning also appears when running Python 3.5 version.

`python -c "import tensorflow as tf"`

return f(*args, **kwds)
/home/pi/.virtualenvs/keras/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: builtins.type size changed, may indicate binary incompat

[2019-02-20 00:31] ewilderj commented on #9837
cc @karmel

[2019-02-20 00:50] ArriFerrari opened #25903 "Please release the Raspberry Pi Demo"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.12
- Doc Link: https://youtu.be/FAMfy7izB6A?t=930

**Describe the docume

[2019-02-20 00:56] lwu025 opened #25904 "benchmark_model from r1.13.0rc0 perform slower that r1.11.0"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 16.01
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N.A.
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r1.13.0r

[2019-02-20 01:06] Angus1996 commented on #23368
I meet this problem when i was using Tensorflow-gpu 1.10.0；But this problem doesn't appear when I update the tensorflow to 1.11.0.

[2019-02-20 01:17] Bahramudin commented on #24958
@ymodak OK, then I will wait until it officially released. For now, I am using 1.12

[2019-02-20 01:24] yoyolin commented on #25495
Also used graph-transform on `deeplab-xception_65` and below is a comparison using tensorflow's benchmarking tool.

|   | original graph  | optimized graph   |
|---|---|---|
|  Timings (microseconds) |avg=120329   |  avg=112269 |
|  Memory (bytes)   |  avg=3.79e+09  |  curr=3789380632(all same)  |
| nodes observed  |  1559  |  1337 |
|  FLOPs estimate | 337.22B  | 337.22B   |
|  FLOPs/second  | 3.

[2019-02-20 01:38] mrry commented on #25807
Reassigning this to @yifeif, since I think she made the recent switch to dynamically loading CUDA DLLs, and might know of any pitfalls here.

[2019-02-20 01:38] ymodak commented on #24958
Closing this issue for now. Thanks!

[2019-02-20 01:38] #24958 closed

[2019-02-20 01:57] thulorry commented on #20778
When I have not install xlearn on my Ubuntu, my tensorflow is ok.
I think the error is relation to the package xlearn and tensorflow.

[2019-02-20 02:51] aseem-hegshetye commented on #18165
Did you mean eager exec works with placeholders after installing nightly-gpu?

[2019-02-20 02:55] Junan007 commented on #23253
I've solved my problem, my model uses a placeholder to initialize Batchnorm, so my exported diagram contains some Op nodes for training purposes.
After I made the following modifications, the problem was solved after refreezing the diagram.
such as:
is_training = tf.placeholder (tf.bool, name = 'is_training')
sess.run (net, feed_dict= {x: x, is_training: is_training})
=>
is_training = False
sess.r

[2019-02-20 02:59] threeleafzerg commented on #24887
@byronyi Sorry for bothering you again. Do you know any open material about HorovodDistributionStrategy?

[2019-02-20 03:03] Junan007 commented on #23253
I think in the process of converting pb to tflite, everything wrong with batchnorm, that means this graph is not a clean prediction graph, is that right?

[2019-02-20 04:31] asimshankar commented on #9837
@theflofly : I would have loved to have been, but I've since moved to other projects (and am no longer involved with TensorFlow on a daily basis) and am thus not a good person for this at the moment.

@ewilderj / @karmel should be able to find an appropriate sponsor.

[2019-02-20 05:12] sipan17 commented on #25775
Of course, they should be the same as when you forward the validation data with keep rate 1 no changes should be made in the model or in the random seed, so the training accuracy should exactly match

[2019-02-20 06:26] imnotkind commented on #24218
@jvishnuvardhan I'm trying to buikd TensorFlow 1.13.0-rc2, and I still have this issue.

[2019-02-20 06:36] jumpyknight opened #25912 "Freezing a model with Exponential Moving Average gives different probabilities"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 1.9.0
- Python version: 2.7.12
- Bazel version (if compiling from source): 0.15.0
- GCC/Compiler version (if compiling from source)

[2019-02-20 06:37] abcdabcd987 opened #25913 "glog macros are redefined by platform/logging.h, included by refcount.h"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-02-20 07:07] emailweixu commented on #25403
It should’t run out of memory with the sample code I gave. The strange thing is that non-eager mode or pytorch runs without any issue. So it’s likely something wrong with eager

[2019-02-20 07:13] gittyhub2018 commented on #24890
I have install TF 2.0 nightly directly via pip and it works (See the code under these Article). I don't need to compiled it from source. At the beginning i thought with building from source i can use CUDA 10 with my graphic card. But this was my fault. Sry.
Only one information appear: AVX2 support ist not compiled with the nightly. Could this fixed in the final build?

` python -c "import tensorf

[2019-02-20 07:40] policeme commented on #25797
@jvishnuvardhan  sorry it's difficult to uninstall current TF, because the current TF is in product environment, sorry.
this is my steps of install tensorflow-gpu
1. install Anaconda3
   a. yum install -y bzip2
   b.add environment path of anaconda3
   c. install tensorflow-gpu
2. install cuda-9.0
    a. Wget https://developer.nvidia.com/compute/cuda/9.0/Prod/local_installers/cuda_9.0.176_384.81_l

[2019-02-20 07:58] AliceDinh commented on #25282
This solution does not work for me: Window10, Python 3.6.7, tensorflow 1.12

[2019-02-20 08:00] AliceDinh commented on #25282
Thanks, this worked

[2019-02-20 08:30] zg9uagfv opened #25920 "undefined reference to `tensorflow::Tensor::ComputeFlatOuterDims"
ubuntu 18.04

create libtensorflow_cc.so and libtensorflow_framework.so in tensorflow1.12

Code:

`tensorflow::TTypes<float, 3>::Tensor boxes = outputs[0].flat_outer_dims<float,3>(); `

Error:

`In function `tensorflow::TTypes<float, 3ul, long>::Tensor tensorflow::Tensor::flat_outer_dims<float, 3ul>()':(.text._ZN10tensorflow6Tensor15flat_outer_dimsIfLm3EEENS_6TTypesIT_XT0_ElE6TensorEv[_ZN10tensorf

[2019-02-20 08:58] AliceDinh commented on #23319
I have this error on WINDOW 10

[2019-02-20 09:07] xfj81525 commented on #21230
Hi pcub, i encounter the same problem as you mentioned before, Have you solved this problem?
   after generating detect.tflite and installing android apk, bboxes are exceed the image size and
   confidence values are not in range between 0 and 1.

what   I  did is  frozen the retrained  model without post-processing, the output score is incorrect. something looks like :
score: [9.9910223e-01 8.938

[2019-02-20 09:18] AliceDinh opened #25922 "tflite_convert - ValueError: Invalid tensors 'input' were found."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command belo

[2019-02-20 09:21] kevinykuo commented on #18652
One more data point.

- Latest nightly as of 2/19: https://files.pythonhosted.org/packages/b9/e3/fe9dab1ab11ed771cfab733dde9c5b2872b3e237dcdbe30c8da92fc36907/tf_nightly_gpu-1.13.0.dev20190219-cp27-cp27mu-manylinux1_x86_64.wh
- Ubuntu 18.04

Training stuck at
[code]

`nvidia-smi` gives

[code]

[2019-02-20 09:22] Raghava14 commented on #5592
Hi,
If I trained a model on fp16 on a turing gpu and I want to do the inference on cpu is it possible. Would the inference time be faster and does Tensorflow support such senario because as I see PyTorch doesn't support fp16 inference on cpu. Is support on fp16 a limitation of intel cpus or the framework( like Tensorflow , PyTorch etc) .

[2019-02-20 09:48] yann-yy opened #25923 "[performance] CPU is idle even when there are operations ready to be executed"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-02-20 10:00] akuegel commented on #25069
Judging from the warning output, it seems you are running with a old version of tensorflow. There was a bug in the detection logic if you are using an old ptxas which was fixed in https://github.com/tensorflow/tensorflow/commit/83ff640fa5026b8bd3cb9c2ceff9e99e8e03823a
This is how I know you are using an old version.

Can you try to run this with tensorflow at head, or a nightly version?

[2019-02-20 10:21] Raghava14 commented on #24531
Hi,
I am trying to infer a model trained on fp16 on cpu. I don't see any speed ups in inference. Is this an expected behaviour ? or is there a limitation here with inference on CPUs

[2019-02-20 10:24] sundayxcn commented on #25275
@freedomtan  @jdduke please help my check my latest action,thank you !!
the message
[code]
is that mean the aot cant support arm-v7a?

[2019-02-20 10:52] yangchengtest commented on #25922
I have the same problem in window10.

[2019-02-20 11:23] puneet336 commented on #25896
I retried using CC=icpc as -

CC=icpc bazel build -s --config=mkl --jobs=1 --define=grpc_no_ares=true --copt=-xHOST //tensorflow/tools/pip_package:build_pip_package

Breif error message -

`/usr/include/string.h(402): error: linkage specification is incompatible with previous "strnlen" (declared at line 160 of "external/nasm/include/compiler.h")
  extern size_t strnlen (const char *__string, size_