[2017-02-14 16:58] davideb91 opened #7503 "How change the package name of tensorflow android camera demo"
I have built two Android demo with two different custom models. However in order to install both apps on my device I need to change the name of one of these. Is there an easy way to change the name of the apk file?

[2017-02-14 17:04] gpapan commented on #533
I did the gpu implementation for bilinear interpolation. The Cuda kernel can get faster (e.g., have each thread compute multiple channels reusing the indexing arithmetic). However, I find the quoted "(about 2 seconds for resizing 375 x 667 to 1280 x 1280, same as on CPU)" too large. What is the benchmark used? Are we certain that the gpu path is activated? Which gpu? What is the depth of the tenso

[2017-02-14 17:07] jamesmgg commented on #31
I submitted my email [here](https://tensor-flow-talk-invite.herokuapp.com), but never got the invite to the slack group. Is it still active?

[2017-02-14 17:28] andrewharp commented on #7503
You can change the Android package in [AndroidManifest.xml](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/AndroidManifest.xml#L19) to avoid the conflict.

[2017-02-14 17:28] #7503 closed

[2017-02-14 17:29] junshi15 commented on #2916
@byronyi A quick instruction is [here](https://github.com/yahoo/tensorflow/issues/2). Please post specific questions over there so we don't pollute this thread. Thanks.

[2017-02-14 17:48] andrewharp commented on #5111
This issue was rendered obselete by 1a9769dc79fdd27c347633df210ff64f48de8d07, which replaces the native PB loading code with the TF Java API equivalent.

[2017-02-14 17:48] #5111 closed

[2017-02-14 18:02] yaroslavvb commented on #533
cc @strin who gave me these numbers

[2017-02-14 18:17] rmlarsen commented on #7289
@carlorosati FYI: The fix was submitted internally at Google and should appear on Github in a day or two.

[2017-02-14 18:44] gunan commented on #3527
Sorry for the delay, looks like I wrote up the response but forgot to send.
For H/W requirements, completely up to you. Obviously, the beefier the machine is, the quicker code is tested. But I wont block code submissions on this so we can tolerate some delays here.

S/W requirements, you will need all TF dependencies on your machine installed. We usually run all our tests in a docker container, bu

[2017-02-14 18:47] yaroslavvb commented on #7353
@shishaochen
1. Google uses stubby while open-source version uses grpc which still has some obvious performance problems (https://github.com/tensorflow/tensorflow/issues/6116). I've been told that Google plans to transition to gRPC internally, so that may eliminate the gap eventually.

2. When I trained networks in Google and outside I have not seen communication (minus the gRPC issues) being the

[2017-02-14 20:30] mrocklin commented on #3532
Here is a brief experiment launching tensorflow from dask and then using dask.array to feed distributed tensorflow data: http://matthewrocklin.com/blog/work/2017/02/11/dask-tensorflow

[2017-02-14 20:31] mrocklin commented on #3532
From a deep learning perspective, the experiment is hacky at best.  Hopefully the notes around setup and data movement are of use to someone though.

[2017-02-14 20:39] malmaud opened #7508 "import_graph_def's input_map doesn't remap control inputs"
If a graph `g` has a node `y` with a control input like `^x`, I would have thought that `tf.import_graph_def(g, input_map={"x": z}` would result in a graph having a node `y` with a control input`^z`.

Instead I get an error: `ValueError: Attempted to map inputs that were not found in graph_def: [x:0]`.  This is on master.

Complete example:

[code]

[2017-02-14 20:44] Garoe commented on #6479
I've put together a simple file using the native option https://github.com/Garoe/tensorflow/commit/887678ef4ed1da04a13c272e5d5bb8d5fc2ac536
For installation without root access, the file needs to be copied to  `~/.bash_completion.d/tensorboard` and the following line `. ~/.bash_completion.d/tensorboard` has to be added to a `~/.bash_completion` text file.
I'd be happy to add the steps in the insta

[2017-02-14 21:08] yaroslavvb commented on #7415
discussion moved to http://stackoverflow.com/questions/42175033/scale-out-performance-limitations-for-scatter-gather-pattern-in-tensorflow?noredirect=1#comment71548725_42175033

tldr; driving k workers from a single client thread is not efficient

[2017-02-14 21:29] yaroslavvb commented on #7488
Your version of tensorflow is too old, tf.summary.histogram was introduced in 0.12

[2017-02-14 21:29] aselle commented on #4742
fdsa

[2017-02-14 21:30] yaroslavvb commented on #7496
this issue was reported before, please search github for solutions

[2017-02-14 21:34] yaroslavvb commented on #7480
Seems like CHECK macros shouldn't be leaking into core/public headers, @drpngx -- do you know who is in charge of sealing core/public API?

[2017-02-14 21:35] yaroslavvb commented on #7496
Solution: https://github.com/tensorflow/tensorflow/issues/6202#issuecomment-267445372  (found it by searching your issue title on github)

[2017-02-14 21:37] yaroslavvb commented on #7486
Could you isolate the problem a bit better? (ie, is this a bug in TensorFlow, or in gym? )

[2017-02-14 21:55] yaroslavvb commented on #7477
btw, things seem to be moving in the direction of single threaded stuff using "Hooks" ... not sure if there's a future for queue runners ... IE, instead of having multiple threads issuing run calls in parallel (and causing unreproducible memory errors when the scheduling gets unlucky), do everything in a sequence, see https://github.com/tensorflow/tensorflow/blob/4c192f060cf9ff897911d240c140299d6d

[2017-02-14 21:57] yaroslavvb commented on #7477
In particular, it seems "StreamingDataFeeder" is similar to your use case

https://github.com/tensorflow/tensorflow/blob/799e31f3840c21322e380e1ec6e5bacb95d016fa/tensorflow/contrib/learn/python/learn/learn_io/data_feeder.py#L549

[2017-02-14 22:00] normanheckscher commented on #7494
It does work.
Your system must not be configured correctly.

Here is a how to question/answer on stackoverflow where this issue should have been raised:
http://stackoverflow.com/questions/41258391/tensorboard-embedding-example/41262360#41262360

Please close this GitHub issue.

[2017-02-14 22:02] malmaud commented on #7303
Closed now by https://github.com/tensorflow/tensorflow/commit/661058e52460b36417573e2c5a73de9a8b9e5edb?

[2017-02-14 22:04] #7488 closed

[2017-02-14 22:09] act65 commented on #7486
The renderer works, but then I do it again but import tensorflow.contrib and it breaks. It must be tensorflow?!?

[2017-02-14 22:13] skye commented on #7303
Yes, thanks!

[2017-02-14 22:13] #7303 closed

[2017-02-14 22:14] yaroslavvb commented on #7508
Nice reproducible example!

It works if you do `^x` instead of `x`

`    tf.import_graph_def(g1.as_graph_def(), input_map={"^x": z})
`

Looking at the relevant logic, in importer.py, it seems it takes name of node directly from graphdef, so "x" would have two names, "x" and "^x" depending on the role, and you'd need to specify two remapping rules for it. Not ideal, not sure if there's an easy way

[2017-02-14 22:15] yaroslavvb commented on #7489
can you file this issue with maintainers of baidu ctc?

[2017-02-14 22:15] #7489 closed

[2017-02-14 22:19] yaroslavvb commented on #7486
ps, one debugging tip is to do `python -m pdb script.py` and then press C, it'll break you into debugger so you can poke around to see why it's trying to call `decode` on a `None` object

[2017-02-14 22:21] yaroslavvb commented on #7483
hm, is shape getting initialized to `tf.float64` value? You can try initializing with `shape=shape`, and create shape ahead of time as a tf.float32 tensorflow constant tensor

[2017-02-14 22:22] yaroslavvb commented on #7461
cc @fchollet who added that file

[2017-02-14 22:24] yaroslavvb commented on #7444
@petewarden does tfprof maintainer have github username? tensorflow/tensorflow/tools/tfprof/

[2017-02-14 22:26] yaroslavvb commented on #7473
There should be an actual error from tensorflow in your logs somewhere. I would first suspect that it can't find CUPTI library

`export LD_LIBRARY_PATH="/usr/local/cuda/lib64:/usr/local/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH"
`

[2017-02-14 22:27] yaroslavvb commented on #7457
This should've been fixed in https://github.com/tensorflow/tensorflow/pull/7386 , can you see if error persists in latest nightly version?

[2017-02-14 22:29] yaroslavvb commented on #7456
What's your peer-to-peer matrix like (printed when you use tensorflow). I expect that if you use two chips from same card, it would configure it for peer to peer transfer and use DMA to transfer data. So perhaps there's some difference when using DMA that causes the discrepancy

[2017-02-14 22:36] act65 commented on #7486
well here is the full traceback if it helps.

[code]

[2017-02-14 22:40] yaroslavvb commented on #7490
What if you use metagraph to load/save models? I expect `Saver` approach to not work between TensorFlow version changes because node names can change

[2017-02-14 22:42] yaroslavvb commented on #7499
What if you do `conda create -n not_tensorflow python=2.7`? I expect you will get the same error, which proves that this is a not tensorflow issue

[2017-02-14 22:46] yaroslavvb commented on #7463
I suspect the bug is in your code rather than in tensorflow. One debugging tip is to list all of your variables before you run initializer, and make sure that 1) you don't have variable initializers depending on other variables 2) you don't have any unexpected variables in there

[2017-02-14 22:47] yaroslavvb commented on #7486
any idea why `s` is None there?

[2017-02-14 22:50] petewarden commented on #7444
I believe it's @panyx0718, but I'm not certain.

[2017-02-14 22:50] rohan100jain commented on #6669
This should be fixed by now... As long as the file is opened in binary mode it should work.

[2017-02-14 22:50] #6669 closed

[2017-02-14 22:51] #6537 closed

[2017-02-14 22:56] aselle commented on #7378
I believe that this will be difficult to reliably fix to never happen, but we should definitely include this in our documentation somewhere.

[2017-02-14 22:56] aselle commented on #7432
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-14 22:56] #7432 closed

[2017-02-14 22:58] aselle commented on #7439
This question might be better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a clear feature request yet.  However, if we define this as a feature for simple easy to use multi-gpu batch normalization, that would be a great contribution. Marking this as contributions welcome as a result. Thanks!

[2017-02-14 23:03] drpngx commented on #7500
@mrry might have a clue.

[2017-02-14 23:07] mrry commented on #7500
As far as I can tell this is fixed at HEAD, but didn't make it into the release candidate. Fortunately you can ignore this message (unless you want to use `tf.contrib.tensor_forest.*`), but upgrading to the latest nightly should fix it.

[2017-02-14 23:15] liangwang commented on #7483
@yaroslavvb thanks for the suggestion. I finally settled down on avoiding the `shape` parameter in the `sparse_placeholder` as almost all examples I found did not specify the `shape` parameter for the `sparse_placeholder`.

I also traced it into the tensorflow python code, and found that the `shape` is converted to a `int64` array, and the `int64` dtype is hard-coded.

[2017-02-14 23:23] panyx0718 commented on #7444
Let me look into it

[2017-02-14 23:24] drpngx commented on #7480
I see. Our C++ API is probably kind of porous right now. It will probably also include protobufs, `DISALLOW_COPY_AND_ASSIGN`, `RETURN_ON_ERROR`, and the rest of google3 paraphenelia, so this might not be the last of it.

@asimshankar @jhseu @skye for the C++

[2017-02-14 23:26] yaroslavvb commented on #7486
The reason I ask is because it's not clear that it's a tensorflow issue. It could be a bad interaction between TF and Gym that should be fixed on Gym side

[2017-02-14 23:35] jhseu commented on #7480
I assume `#undef` after the tensorflow include is a workaround?

We should write a tool to prefix these with TF_, probably with ClangMR.

[2017-02-14 23:36] skye commented on #7480
Echoing @drpngx, unfortunately our public headers #include many internals at the moment. Our current top priority for the C++ API is to straighten this out so only public symbols (and macros, etc.) are exposed.

[2017-02-14 23:41] fchollet commented on #7461
Both full names and short aliases are valid. E.g. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/pooling.py#L613

Not all of these aliases are currently publicly exposed, but they will soon be.

[2017-02-14 23:43] carlthome commented on #7461
Sweet. :+1:

[2017-02-14 23:43] #7461 closed

[2017-02-14 23:46] act65 commented on #7486
yea, fair point, I see how I might not be an issue with TF. and no, I dont have any idea why `s` is None. thus why I am here...

[2017-02-14 23:47] yaroslavvb commented on #7378
To be precise, the issue to document is that Python client can't use both "tensorflow-gpu" and "someotherlibrary" where someotherlibrary uses OpenCL.

My guess at what's happening is that when you enable GPU, something in tensorflow loads `libnvidia-opencl.so.1`, and when you use `opencv`, it resolves its OpenCL symbols to `libnvidia-opencl.so.1` instead of using correct version of .so (the one it

[2017-02-14 23:48] aselle opened #7510 "Test issue"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-15 00:05] nehardave commented on #7494
Hi Norman,
Thanks for the reply. I understand that the configuration has some problem. I am new to Tensorflow and want to understand the visualisation.
The Blog/github repo seems old and some package names have changed. It does not compile.
https://github.com/normanheckscher/mnist-tensorboard-embeddings/blob/master/mnist_t-sne.py

-Best Regards,
Neha Dave

From: Norman Heckscher <notifications@git

[2017-02-15 00:07] drpngx commented on #7480
CC: @mrry for when we clean the linkage as well (`-fvisibility=hidden`). We'll need these `EXPORT_DLL` macros that set `__attribute__((visibility="default"))`. LMK if you run into trouble with that.

[2017-02-15 00:09] nehardave commented on #7494
Hi Norman,

I get following error:   File "mnist_t.py", line 49, in generate_embeddings

    tf.global_variables_initializer().run()

AttributeError: module 'tensorflow' has no attribute 'global_variables_initializer'

But if I check documents : https://www.tensorflow.org/api_docs/python/ there is tf.global_variables_initializer

-Best Regards,
Neha Dave

From: Norman Heckscher <notifications@gith

[2017-02-15 00:11] aselle commented on #7440
Could you please try importing tensorflow only. You need to make sure that tensorflow is working itself. If that doesn't work, using keras together with tensorflow will certainly not work. Thanks!

[2017-02-15 00:13] normanheckscher commented on #7494
I've been able to run that code of mine with all the latest tensorflow versions.
There have been some breaking API changes and I have refactored my code accordingly.
Have you tried using the latest TensorFlow 1.0 release candidates.

If you are still using TensorFlow 0.12.1 or lower, then try this code:
https://github.com/normanheckscher/mnist-tensorboard-embeddings/archive/64cedc5b021fa5128261f0a

[2017-02-15 00:16] inflation commented on #6669
@rohan100jain Will try, thanks!

[2017-02-15 00:17] aselle commented on #7443
@ahundt, would you be willing to contribute a document to this effect? @gunan, do you have any other suggestions?

[2017-02-15 00:20] nehardave commented on #7494
Hey..
I am using tensorflow (0.11.0)
I will upgrade to 1.0 and try.
Thanks :) !
-Best Regards,
Neha Dave

From: Norman Heckscher <notifications@github.com<mailto:notifications@github.com>>
Reply-To: tensorflow/tensorflow <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, 15 February 2017 at 5:44 AM
To: tensorflow/tensorflow <tensorflow@noreply.github.com<mailto:tensorflow@nor

[2017-02-15 00:20] aselle commented on #7449
@gunan, could you take a look at this please?

[2017-02-15 00:24] aselle commented on #7454
What are you doing to "run the project". After which step of https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/ios_examples
does it fail?

[2017-02-15 00:30] aselle commented on #7455
You need to have a line in your csv that has # of features and # of samples. Go see the source code.
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/datasets/base.py#L48

Arguably that function is not greatly documented. There is also another variant that doesn't expect that header (see the function directly below). That being said, contrib is not officia

[2017-02-15 00:30] #7455 closed

[2017-02-15 00:31] martinwicke commented on #7449
@gunan is out. I'll look.

[2017-02-15 00:33] ouclbc commented on #5808
--ignore-installed

[2017-02-15 00:37] andrei-pokrovsky opened #7511 "non_max_suppression is very slow and doesn't appear to have a cuda or multi-threaded implementation"
It appears that tf.image.non_max_suppression currently takes about 200ms for about 8000 boxes, runs on a single CPU thread and doesn't have a GPU implementation.

### Environment info
Operating System:
Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
8.0, 5.1.5

If installed from binary pip package, provide:

1. A link to the pip p

[2017-02-15 00:45] martinwicke commented on #7449
Maybe you have to use `--cxxopt=-march=native` as well? It's safer to use `--config=opt`, which does that for you.

[2017-02-15 00:54] aselle commented on #7459
I changed your example to actually run
[code]

This worked fine and produced the following output.
[code]

This stackoverflow might be helpful.
http://stackoverflow.com/questions/42156479/can-tensorflow-handle-categorical-features-with-multiple-inputs-within-one-colum/42168658#42168658

Barring a reproducible test case, I will need to close the issue. Thanks!

[2017-02-15 00:55] aselle commented on #7463
Please try what @yaroslavvb suggests. Thanks!

[2017-02-15 00:56] aselle commented on #7462
In general we cannot support other TensorFlow examples written by others. On the other hand, this question should be asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 00:56] #7462 closed

[2017-02-15 00:58] #6860 closed

[2017-02-15 01:01] aselle commented on #7467
@sguadda, @nathansilberman  could you comment? Could this be contributed by external users? Is there a way to do it already?

[2017-02-15 01:03] aselle commented on #7473
Thanks @yaroslavvb; @tfboyd, do you have anything additional?

[2017-02-15 01:05] mishra69 commented on #6094
I have the same issue during build on MAC

`ERROR: no such target '@local_config_cuda//crosstool:toolchain': target 'toolchain' not declared in package 'crosstool' defined by /private/var/tmp/_bazel_admin/f2f2e0ebb105daeebb988f12401380fc/external/local_config_cuda/crosstool/BUILD.`

`./configure` was run with these options
[code]

I noticed your guide for mac+GPU expects different output from conf

[2017-02-15 01:05] aselle commented on #7474
So, for clarity, you just add epsilon to your input to avoid inputting zero? Can you close the issue if it is satisfactorily resolved?

[2017-02-15 01:07] #6762 closed

[2017-02-15 01:11] aselle commented on #7493
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks!

[2017-02-15 01:16] sajjo79 commented on #6184
I got the same problem and doing two changes "dense_shape" to "shape" and "wide_n_deep" to "deep", it worked. However I received a bunch of warnings. Is it due to windows or I need to update my system?

[2017-02-15 01:21] gunan commented on #7443
One quick way to contribute would be to use our devel dockerfiles.
But what is already mentioned sounds good to me.

[2017-02-15 01:23] aselle commented on #7491
@fchollet, could you take a quick look. @zero2hero2020, could you try it with the non-tensorflow backend perhaps?

[2017-02-15 01:29] zero2hero2020 commented on #7491
@aselle I tried Theano backend and it is ok. It only ran into error when using tensorflow backend

[2017-02-15 01:32] aselle commented on #7500
Could you verify that this works @Franck-Dernoncourt and close it if so?

[2017-02-15 01:34] aselle commented on #4742
@AnishShah, do you have any updates?

[2017-02-15 01:37] aselle commented on #7448
I think you have a race condition. If you start /global/scratch/julm/3d_experiments/ before starting any experiments, does it create any errors. What happens otherwise is the first process looks and doesn't see it and then between the time it looked somebody else looked and created it.

[2017-02-15 01:37] anuragrs commented on #7150
I have a similar issue, I think. If I quantize an inception v3 graph on Ubuntu (Intel x86_64) and test on the same platform then I get reasonable results. If I try to use the quantized graph on Linux (ARMv7) then the results are quite bad. Is there something specific to a platform that is done in quantization process? I apologize I have not investigated the quantization code/build settings in grea

[2017-02-15 01:37] jhseu commented on #6968
To narrow down the issue: someone internally noticed that this crash only happens when numpy is installed with OpenBLAS support on Ubuntu 14.04. I haven't tested whether upgrading libopenblas fixes it.

So, if you're on Ubuntu, the workaround is to make sure you don't have libopenblas-dev installed and `pip install --no-binary=:all: numpy`

If someone encounters this bug and has time to test out n

[2017-02-15 01:40] aselle commented on #7498
@petewarden, could you take a quick look?

[2017-02-15 01:42] aselle commented on #7469
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 01:42] #7469 closed

[2017-02-15 01:45] kevinashaw commented on #7470
Thanks.  I'll see if I can find the file tonight.
I'll probably see you at the TF Dev conference tomorrow!  :-)

[2017-02-15 01:48] aselle commented on #7486
Maybe move this below import gym?
`import tensorflow.contrib.slim as slim`
But generally, I agree, it's not clear that this is a tensorflow issue.

[2017-02-15 01:56] aselle commented on #7491
It looks like axis is expecting a tensor, and it is getting a literal 1. Maybe try `axis=np.array(1)`?

[2017-02-15 02:08] AnishShah commented on #4742
I tried, but not able to solve it. Sorry.

On Feb 15, 2017 2:35 PM, "Andrew Selle" <notifications@github.com> wrote:

[2017-02-15 02:27] shishaochen commented on #7353
@yaroslavvb Much thanks for your detailed explanation. As there are many idle machines without GPU, we want to leverage them for distributed training with CPU only.

[2017-02-15 02:45] act65 commented on #7486
yea, I tried below. same issue

[2017-02-15 03:11] soloice commented on #7469
Yes, the problem I met is more like a StackOverflow type question.
Though, I'm wondering if the usage of slim.batch_norm layer could be added into slim readme.md or somewhere else to make it clearer.

[2017-02-15 03:15] zero2hero2020 commented on #7491
@aselle I tried axix=np.array(1) and got the same error message

[2017-02-15 03:29] fchollet commented on #7491
Can you provide a short self-contained script to reproduce your issue?

[2017-02-15 03:32] yaroslavvb commented on #7486
@act65 it may be worth filing an issue under https://github.com/openai/gym/issues since other users of gym may have ran into this issue before

[2017-02-15 03:40] guoying1030 opened #7514 "Tensorflow support rnn with batch normalzition cell? Http://arxiv.org/abs/1510.01378"
Tensorflow support rnn with batch normalzition cell? Http://arxiv.org/abs/1510.01378

[2017-02-15 03:40] ChaoLiangTHU opened #7515 "[feature requests] DecodeCSVOP to parse only the first len(record_defaults) columns of a csv"
Suppose that my data.csv is :
_1,2,3_
_2,4,6_

and for some other purpose we add a new column to a new csv data2.csv
_1,2,3,comment_

the code below fails if the input is data2.csv:
`col1,col2,col3 = tf.decode_csv(line,record_defaults=[[1],[1],[1]]) `

Hope that tf.decode_csv() only decodes the first len(record_defaults) columns only, so that it works for both data1.csv as well as data2.csv.
What'

[2017-02-15 03:56] act65 commented on #7486
ah, I probably should have checked gym's issues... it seems you have already met a similar issue? https://github.com/openai/gym/issues/403

[2017-02-15 03:56] #7486 closed

[2017-02-15 04:02] jamesmgg commented on #31
@sdgandhi ^

[2017-02-15 04:30] yaroslavvb commented on #7486
Ah, yes, indeed, it looks like I solved this exact issue and forgot about it. Good thing that Github never forgets

[2017-02-15 04:49] wei-yuan commented on #7496
Hi @yaroslavvb , my tensorflow version is 0.12

I already checked the file of ops.py

and my code here is

`initializer=tf.ones_initializer()`

So the problem seems not the **initializer()**

That's the reason i call for help  :P

[2017-02-15 05:14] lemmonation commented on #7463
Solved. Thanks a lot! @yaroslavvb

[2017-02-15 05:14] #7463 closed

[2017-02-15 05:38] zero2hero2020 commented on #7491
@fchollet
from keras.models import Sequential
from keras.layers import LSTM, BatchNormalization, Dense

seq = Sequential()
seq.add(LSTM(256,
        input_shape=(30, 512),
        activation='tanh',
        return_sequences=True))

seq.add(BatchNormalization(
    mode=0,
    axis=1))
seq.add(LSTM(32))
seq.add(Dense(1, activation='sigmoid'))

[2017-02-15 05:43] eamartin commented on #4663
@alextp Any progress on the new variables? I see ``Variable.read_value()`` has been introduced in 0.12 (or sometime before)

[2017-02-15 06:04] cancan101 commented on #7476
Looks like it has been implemented in tensorpack: https://github.com/ppwwyyxx/tensorpack/blob/3f238a015b941041e58ed43e63d5306dbae979fc/tensorpack/models/batch_norm.py#L208

[2017-02-15 06:18] fesun commented on #7353
@mrry

Which mechanism do you use for this? (By default, all workers know about all PS tasks and all other worker tasks when you set up the tf.train.ClusterSpec.)

A: only provide all ps servers and itself when starting worker server:
`cluster = tf.train.ClusterSpec({"ps": ps_hosts, "worker": {task_index: worker_hosts[task_index]}})`, also tensorflow provide device_filters when constructing Config

[2017-02-15 06:21] byronyi commented on #2916
It says hybrid protocol is not supported, and I wonder if that is something we could work on. Traces in current TF [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/worker.proto#L225) and [there](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/worker.proto#L247) suggests that hybrid protocol is supported by the original TF in Google,

[2017-02-15 06:32] ebrevdo commented on #7474
We're adding this directly to the gamma random sampler.  Can leave it open
until we push the change.

On Feb 14, 2017 5:05 PM, "Andrew Selle" <notifications@github.com> wrote:

[2017-02-15 06:43] Ymx6567 commented on #7456
Peer to peer matrix, GPU 0 and 1 caused the discrepancy, 1 and 2 worked well.
[code]

[2017-02-15 06:57] zig-kwin-hu opened #7518 "How to build static libraries and link them to a c++ project in linux platform?"
I am working on a text-classification project, which is big and doesn't use bazel as its build tool. I want to integrate tensorflow into my project, but I find it is hard to change my build tool to bazel. So I wish to  build static libraries on tensorflow and link them into my project.
Does anyone know how to build standalone static libraries and link them in the existing c++ project? Thanks a lot

[2017-02-15 07:01] linrio commented on #7412
Thanks! No, I have not upgrated to 1.0. When the packages will supplement?

[2017-02-15 07:02] bazinac commented on #7150
@anuragrs For me it does not work after quantization even on Ubuntu. I even tried to quantize inception V3 graph prior to retraining, and it does not work... It works only when I retrain only on unquantized network (then it works on both platforms).

[2017-02-15 07:29] smartdolphin commented on #7306
The same error occurs in window 7 64bit.

Output:
    mnist = input_data.read_data_sets("./MNIST_DATA", one_hot=True)
  File "C:\Users\LEE\Documents\Visual Studio 2015\Projects\PythonApplication1\deepLearning\input_data.py", line 196, in read_data_sets
    train_images = extract_images(local_file)
  File "C:\Users\LEE\Documents\Visual Studio 2015\Projects\PythonApplication1\deepLearning\input_data

[2017-02-15 08:14] dmitry-xnor commented on #1045
Just got bit by this issue as well. Thank $DEITY for Google search, the error spew is impenetrable.

[2017-02-15 08:27] artzers opened #7519 "Can Tensorflow build complex probablistic graph model ?"
Hello. I am surprised by the optimization ability of tensorflow, and want tensorflow to solve more math models. However, I find few articles about how to build  complex probablistic graph model fast and simple. Are there any ideas about introducing tensorflow into complex general probablistic graph model field?

[2017-02-15 08:30] asimshankar commented on #7518
This question is probably better suited for [stackoverflow](http://stackoverflow.com/questions/tagged/tensorflow) as we try to keep the github issues focused on bugs and feature requests.

[2017-02-15 08:30] #7518 closed

[2017-02-15 08:35] BloodShadow opened #7520 "Can I use tensorflow to implement the red module function of VIDI?"
I not idea to implement  the red module function of VIDI.

it can only use train OK image and inspection NG image.

it base on cnn??or rcnn?

[2017-02-15 08:42] kevinashaw commented on #7470
Great find.  There was indeed an extra copy of the .java file.  I removed it and it compiled perfectly.  Thanks!

[2017-02-15 08:42] #7470 closed

[2017-02-15 09:35] lethienhoa commented on #2050
Dear all,
I run a program on the server (which is much faster because it has GPU supported). I download the summaries down to my local machine and try to visualize the result with Tensorboard. However, I encounter these 2 problems:
1. It shows training's performance but not dev's performance (though I downloaded dev's summaries in the same sub-directory as well)
2. The Tensorboard just show result

[2017-02-15 09:47] fabienbaradel opened #7521 "Tensorflow takes all my CPUs"
I am having issue with CPU usage. I am running my code on a node with 4 GPUs and 12 CPUs.
I am using TFRecords for reading my data and it works well. However when I run my model Tensorflow uses all the CPUs available on my node (_even when I specify that I want to use only one thread_):
<img width="587" alt="capture d ecran 2017-02-15 a 10 26 58" src="https://cloud.githubusercontent.com/assets/115

[2017-02-15 09:51] warchildmd commented on #7514
These are the existing cells: https://www.tensorflow.org/api_docs/python/rnn_cell/rnn_cells_for_use_with_tensorflow_s_core_rnn_methods

You can create custom cells by extending `tf.nn.rnn_cell.RNNCell` and overwriting method `__call__(self, inputs, state, scope=None) `

[2017-02-15 10:08] yuvval commented on #4251
In my case (with TF0.12.1) CuDNNv5 was installed, but was not the default.
setting  `export LD_LIBRARY_PATH="/usr/local/lib/cuda-8.0/lib64:/usr/local/lib/cudann5/lib64/"` solved the issue

[2017-02-15 10:23] brisker opened #7522 "error when import tensorflow:ImportError: libcudnn.so.5: cannot open shared object file: No such file or directory"
jcc@jcc:~$ pip show tensorflow
Name: tensorflow
Version: 1.0.0rc2
Summary: TensorFlow helps the tensors flow
Home-page: http://tensorflow.org/
Author: Google Inc.
Author-email: opensource@google.com
License: Apache 2.0
Location: /home/jcc/anaconda2/lib/python2.7/site-packages
Requires: werkzeug, six, wheel, mock, numpy, protobuf

I think the lines above has shown that I have installed the tensorfl

[2017-02-15 10:24] nehardave commented on #7494
Hi Norman,
Thanks!! It was the version problem. I am able to compile and run your code.
I have a question about the process for Visualization.

1.       I have data in .csv format(some text and some int). How to create the metadata file?

For your code you do it:
     with open(file, 'w') as f:
            for i in range(FLAGS.max_steps):
                c = np.nonzero(mnist.test.labels[::1])[1:][

[2017-02-15 10:35] Bruczzz commented on #7321
Thanks you so much @petewarden for your information and time

[2017-02-15 10:47] DavidNorman commented on #7223
hi - i notice that you have taken my pull request and the problem is solved.  thanks :)

[2017-02-15 10:47] #7223 closed

[2017-02-15 10:48] DavidNorman commented on #5745
merged - thanks :)

[2017-02-15 10:48] #5745 closed

[2017-02-15 10:48] Bruczzz opened #7523 "Tensorflow graph transform quantize_weights Compression method creates corrupted graph."
Hi,

 I have retrained inception v3 model using retrain.py on classes (People, Animal, Plants, Buildings, Birds) and the size is **87.5 MB**. At this stage, the model works fine when I try classification using label_image example.

But, model compressed using quantization methods is producing false or incorrect results. As mentioned below, I have tried two ways of model compression using quantized

[2017-02-15 10:55] DavidNorman commented on #5543
Now that my own device is an XLA device, I am no longer concerned about this.

However this is still a problem as far as I can see.  unless the dead code removal is removing nodes that only have a control output.

[2017-02-15 10:55] #5543 closed

[2017-02-15 11:22] mahatosourav91 opened #7524 "[Bug] TypeError: Input 'points' of 'NearestNeighbors' Op has type float64 that does not match expected type of float32."
Hi, I am trying to implement KMeansClustering using tensorflow.contrib.learn.python.learn.estimators.kmeans

But I am getting the following error while using the code :-
def cluster_data(X, num_clusters) :
    kmeans = KMeansClustering(num_clusters=num_clusters)
    kmeans.fit(X)
    y = kmeans.predict(X)

During handling of the above exception, another exception occurred:
Traceback (most recent c

[2017-02-15 11:55] Prakashvanapalli opened #7525 "OutOfRangeError: RandomShuffleQueue '_22_shuffle_batch_3/random_shuffle_queue' is closed and has insufficient elements (requested 32, current size 0)"
I m trying to read images using tensorflow tf.train function but have been getting the following issue. please help me

    import tensorflow as tf
    import glob
    filelist = glob.glob("../train/*.png")

    def read_my_file_format(filename_queue):
        reader = tf.WholeFileReader()
        key, record_string = reader.read(filename_queue)
        example = tf.image.decode_png(record_string)

[2017-02-15 12:03] mahatosourav91 commented on #7524
If possible please provide a working example of tensorflow.contrib.learn.python.learn.estimators.kmeans.KMeansClustering

[2017-02-15 12:13] blodan commented on #7057
@drpngx the tensorflow PR has been merged now but no one has looked at the protobuf PR yet.

Perhaps you know someone that works with protobuf you could ping?

[2017-02-15 12:13] XuefeiW commented on #1947
I had the same problem before. It turns out that I've installed cuda 7.0 and cuda 8.0, nividia driver 367.57 on ubuntu 14.04. This issue happens when I forget to set the  LD_LIBRARY_PATH to cuda 8.0.

[2017-02-15 12:17] #7522 closed

[2017-02-15 12:21] mahatosourav91 commented on #7524
Hi, if I make the following changes in the my code
def cluster_data(x, num_clusters) :
    kmeans = KMeansClustering(num_clusters)
    kmeans.fit(x.astype('float32'))
Traceback (most recent call last):
  File "C:\Users\#####\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-94-4bb22963e

[2017-02-15 12:27] martin-gorner commented on #5141
Actually, SIP seems to be re-enabled on every reboot of the machine.

[2017-02-15 12:45] ivankreso opened #7526 "Wrong docs for tf.nn.max_pool_with_argmax"
I submitted a PR for a bug in docs and it got closed probably because it lacked test example: https://github.com/tensorflow/tensorflow/pull/7161
Meanwhile I've added test example here: https://github.com/tensorflow/tensorflow/pull/7161#issuecomment-276650432.
@rmlarsen @benoitsteiner can you review this again?

[2017-02-15 13:52] DutchDandy opened #7529 "ImportError: No module named '_pywrap_tensorflow'"
When I try to run a simple test to see if Tensorflow works I get the following error. I already tried to upgrade tensorflow with: `$pip tensorflow -- upgrade` and with: `pip install -- upgrade https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.0.0rc2-cp35m-win-amd64.whl`

But I  keep on getting the response in my Command Line that everything is up to date, yet this is my error:

[2017-02-15 14:06] bazinac commented on #7523
#7150

[2017-02-15 14:45] fenrus75 opened #7530 "AVX512 support is not functional (does not compile etc)"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

there is an existing issue but it's very vague and at the same time too specific

### Environment info
Operating System:

Linux

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
no cuda

Current AVX512 support does not function, for exa

[2017-02-15 14:45] kvrd18 commented on #492
Is anybody still working in this issue? I get this following error out of nowhere when I'm training a network on multiple GPUs akin to the CIFAR-10.

[code]

[2017-02-15 14:49] yaroslavvb commented on #7456
One possibility is that there's something happening with variable sync. IE, if TensorFlow is reading from GPU variable while another op is writing to it at the same time. Normally, in such situation, the variable would be partially updated, but updates do not cross boundaries of individual components. @poxvoculi is there an easy way to rule out GPU variable read reading a scalar in the middle of D

[2017-02-15 14:51] yaroslavvb commented on #5141
Not for me (10.12.2 (16C67)), do you have security update installed every
time you rebooted machine?

On Wed, Feb 15, 2017 at 4:27 AM, martin-gorner <notifications@github.com>
wrote:

[2017-02-15 14:52] yaroslavvb commented on #492
I'm working on it (from outside of TensorFlow team). One piece is a more memory-efficient node scheduling algorithm -- https://github.com/yaroslavvb/stuff/tree/master/linearize

[2017-02-15 14:53] asanakoy commented on #492
Try to set a session config:

[code]

[2017-02-15 14:54] hughperkins commented on #5834
I had exactly the same problem, with a custom estimator, and an `input_fn`, that returns a tensor, and just looping forever.

The fix turned out to be easy in the end, though whether it should really be necessary is an open question.  Instead of eg:

[code]
or:
[code]
... use itertools.islice to only retrieve as many predictions as you inputed input data, ie/eg:
[code]

[2017-02-15 14:55] jiyuan312986471 commented on #6313
I had the same problem with tensorflow 0.12.1. Thanks to @kvothe it now works for me by adding a name before E:\some\path

[2017-02-15 14:59] mawah commented on #7306
@mrry and @rohan100jain, if limited access to a Windows environment prevents you from investigating this, I could set up a low-performance Azure VM with my monthly personal MSDN credits. (Couldn't run it all month, but certainly long enough for you to have a look.) You can reach me at mawah at microsoft if interested.

[2017-02-15 15:21] bfis opened #7531 "Hyperbolic functions"
I'd like to request support for all hyperbolic ops and their inverse:
sinh, cosh, asinh, acosh, atanh

Especially asinh is interesting, as it can be used as an activation function.
This would also allow to address problems with their calculation centrally, e.g.:
`asinh(x) = log(x + sqrt(x² + 1))` will yield -∞/NaN (and break gradients) for small `x`. This is caused by the fact that the `log` argum

[2017-02-15 15:31] junshi15 commented on #2916
@byronyi "Hybrid" means some of the nodes in the cluster are connected with Ethernet and others are with Infiniband. We have not found such a use case. If you think that's something interesting to you, feel free to extend the code.

[2017-02-15 15:33] martarek commented on #5834
Thanks for all the feedback. I will consider the issue as closed for the moment because of all the proposed fixes that I have yet to test. Thanks for the quick support!

[2017-02-15 15:33] #5834 closed

[2017-02-15 15:49] ateixeiramunoz commented on #64
I finally did it like this, when reading [this link](https://github.com/donnemartin/haxor-news/issues/54)

`sudo -H pip install https://storage.googleapis.com/tensorflow/mac/tensorflow-0.5.0-py2-none-any.whl --upgrade --ignore-installed`

[2017-02-15 16:15] byronyi commented on #2916
Rather I believe such deployment is not uncommon, given Ethernet has been the mainstream interconnect for commodity data centers for over a decade, and it takes time and effort for IB to completely replace it, if at all.

Nevertheless, this patch is really interesting to me and I appreciate your help towards the final adoption of RDMA into TF.

A rather personal request: would you mind drop me a l

[2017-02-15 16:22] inflation commented on #7525
This kind of question should be asked on StackOverflow. But you can try to check the filename queue. It seems that `shuffle_batch` can't read anything.

[2017-02-15 16:26] fesun commented on #7353
@mrry
I changed the code in tensorflow/core/distributed_runtime/rpc/grpc_worker_service.cc:Line124 from:
[code]

to

[code]
This change solved the hang issue. Now with total 400 workers, no timeout error occurred and writing checkpoint finished successfully, I verified it by four running.
I don't understand why this could solve this problem, is there any other performance issues when the cluster i

[2017-02-15 16:30] petewarden commented on #7498
Are you compiling with --std=c++11? It looks like strtof was only enabled then.

[2017-02-15 16:36] onceupon commented on #135
@yselivonchyk, finally worked!! thanks!!!!!

[2017-02-15 16:41] jamesmgg opened #7533 "Feature Request: Loading images from a URL"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I couldn't find a solution for this, so I made a stackoverflow answer:
https://stackoverflow.com/questions/42218771/how-do-i-load-images-from-urls-into-tensorflow?noredirect=1#comment71642082_42218771

### Environment info
Operating System:
macOS Sierra 10.12

### If possible, provide a mi

[2017-02-15 16:46] byronyi commented on #4779
Not sure if it's related, but how does the Unified Memory Access feature of CUDA play a role in this? It would be nice if we just return a memory slice to user, with a tag specifying it on device or main memory.

[2017-02-15 17:20] ivan-aksamentov commented on #7521
[How can I run Tensorflow on one single core?](http://stackoverflow.com/questions/38187808/how-can-i-run-tensorflow-on-one-single-core)

[2017-02-15 17:34] alextp commented on #4663
If you want to try using the new variables wrap your code around a
variable_scope(..., use_resource=True) and use tf.get_variable() to create
the variables. Bear in mind that I don't expect it at this point to be
bug-free nor as performant in all use-cases as old variables but I'd
appreciate any bugs you find.

On Tue, Feb 14, 2017 at 9:44 PM, Eric Martin <notifications@github.com>
wrote:

--
 - A

[2017-02-15 17:34] yaroslavvb commented on #492
@kvrd18  BTW, for tracking down out of memory errors, here are two tools to make it easier:

1. https://github.com/yaroslavvb/memory_probe_ops -- it's a tensorflow op you can insert somewhere in the graph and evaluate in `sess.run` to get the amount of memory allocated at that point in time

2. https://github.com/yaroslavvb/memory_util -- this tool lets you see timeline of all tensor allocations a

[2017-02-15 17:41] drpngx commented on #7057
Thanks, let me ping on the thread first.

[2017-02-15 17:42] yaroslavvb commented on #4779
There's no UVM integration into TensorFlow, see https://github.com/tensorflow/tensorflow/issues/3678#issuecomment-238064949 for rationale

[2017-02-15 17:51] poxvoculi commented on #7456
@zheng-xq

I have experienced a similar problem that I have not yet been able to fully diagnose.  Briefly, I've experienced NaNs on k80s and p100s that I suspect are due to simultaneous read/write operations on the same memory area resulting in corrupt values.  But I don't really have proof of this.  In my case, it occurs when using GPUDirect to DMA out of a GPU while the GPU is also doing compute

[2017-02-15 17:59] aselle commented on #7494
@nehardave, it seems your original problem is solved, so I'm closing this issue. The followup question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 17:59] #7494 closed

[2017-02-15 18:05] asanakoy commented on #492
@yaroslavvb, Thanks for great tips!

Thats a bit counterintuitive. How is it controlled? Why does TF discard intermediate values inside the function (despite all intermediate ops will be added to the graph anyhow)?

[2017-02-15 18:09] aselle commented on #7521
@fabienbaradel, @ivan-aksamentov's response seems to answer your question. Could you please close the issue if it is resolved. Thanks and thanks to @ivan-aksamentov for the quick response.

[2017-02-15 18:09] jimfleming commented on #7477
Interesting. I agree that queue runners have their issues, especially wrt reproducibility. I'll look at using run hooks to replicate this without threads.

Something like `StreamingDataFeeder` seems to fit. It's not clear from the tests how it would be used with something like `Estimator`/`Experiment` which does not accept a `feed_dict`, but rather an `input_fn` which returns tensors fed by a queu

[2017-02-15 18:10] aselle commented on #7520
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 18:10] #7520 closed

[2017-02-15 18:10] aselle commented on #7519
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-15 18:10] #7519 closed

[2017-02-15 18:19] yaroslavvb commented on #492
@asanakoy a `function.Defun` node is treated as a single tensorflow node for the purpose of backprop. IE, similar to what happens in a single op launch -- there may be intermediate temporary variables that could've been useful for the backprop kernel, but they get recomputed rather than reused. I haven't checked precisely how it's implemented with `function.Defun`, but I suspect that the backprop

[2017-02-15 18:25] Prakashvanapalli commented on #7525
I have published on stackoverflow but got no answer . @inflation can you please elaborate.

[2017-02-15 18:26] Carmezim commented on #7529
You need `MSVCP140.DLL` in your system. Check if it is in your `PATH` and if it's not install [Visual C++ Redistributable 2015 x64](https://www.microsoft.com/en-us/download/details.aspx?id=53587)

[2017-02-15 18:28] dogukankotan commented on #22
OMG. https://www.youtube.com/watch?v=LqLyrl-agOw

[2017-02-15 18:29] aselle commented on #7530
Could you link to the original issue? If you could contribute helping fix this from your organization that would be most welcome. I'm not aware of anybody working on this right now. @petewarden, do you know of any other efforts?

[2017-02-15 18:29] ryanlangton commented on #37
+1

[2017-02-15 18:30] aselle commented on #7483
@concretevitamin, could you please take a look. it seems we could handle this case better? It's not consistent with shape arguments on dense tensor, I believe.

[2017-02-15 18:37] aselle commented on #7482
I suspect that this is a feature that is not practical to implement since TFRecords are a simple serial file format. Additionally, compressed gzip is not seekable, so the compression would  have to be chunked into some seekable block size. Probably, the best solution is to shard your data into multiple record files. @concretevitamin, could you comment?

[2017-02-15 18:38] panyx0718 commented on #7444
A fix has been submitted. Will be available in next release

[2017-02-15 18:38] panyx0718 commented on #7444
Fixed #7444

[2017-02-15 18:40] aselle commented on #7477
@mrry, could you comment on this issue. I think we can close and move to SO based on discussion, but you should take a look. Thank you!

[2017-02-15 18:49] aselle commented on #7515
Work on csv improvements is limited right now since it is usually only used for simple examples. We'd really appreciate any PR that would improve this. You could argue that this change might not be ideal, since you have a data file that doesn't match the schema you are declaring. I'd say that if you want to add this behavior, it should be optional, since another user might want to know if the sche

[2017-02-15 18:53] samdeeplearning commented on #6345
~/ `export TF_BINARY_URL=export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.0-py3-none-any.whl1`

~/`sudo pip3 install --upgrade $TF_BINARY_URL`

[2017-02-15 19:05] inflation commented on #7525
Let's go there and discuss, leave here for bugs. @Prakashvanapalli

[2017-02-15 19:07] aselle commented on #5742
Please update to TensorFlow 1.0. The initializer API should be consistent for all functions in 1.0.

[2017-02-15 19:07] #5742 closed

[2017-02-15 19:10] #3172 closed

[2017-02-15 19:11] aselle commented on #7497
This looks like a bazel issue rather than a tensorflow issue. Have you seen this issue https://github.com/bazelbuild/bazel/issues/601
If not, I'd suggest filing a bug in the bazel product, because we don't have expertise on proxy settings here. Thanks!

[2017-02-15 19:27] 201power opened #7537 "Feature request: get available GPU memory"
Please add an API to get available memory from the GPU.

When tf.Session() starts, it shows the free memory.
![image](https://cloud.githubusercontent.com/assets/7299296/22991586/a298c2fa-f371-11e6-92a3-c514cb148bf3.png)

[2017-02-15 19:28] aselle commented on #7525
Thanks @inflation for helping out and redirecting to StackoverFlow. Closing for now.

[2017-02-15 19:28] #7525 closed

[2017-02-15 19:31] ymakkapa commented on #4122
Hello everyone,
I executed the code translate.py from sequence to sequence models tutorial of tensorflow 60 hours ago and still waiting for the output.
Can anyone tell me how much more time will it take to display the output
System specifications:
I installed Ubuntu 16.04 on VMware with a disk space of 100
![seqop](https://cloud.githubusercontent.com/assets/20130992/22991763/68078e36-f38b-11e6-84e

[2017-02-15 19:33] aselle commented on #7531
We currently don't have anybody working on this. It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. As a pointer you can take a look at where these are defined [here](https://github.com/tensorflow/tensorflow/blob/5a5a25ea3ebef623e07fb9a46419a9df377a37a5/tensorflow/core/kernels/cwise_ops.h)

 Thanks!

[2017-02-15 19:37] yaroslavvb commented on #7537
I've implemented this as a user-op available here:  https://github.com/yaroslavvb/memory_probe_ops

[2017-02-15 19:39] aselle commented on #7533
I've added a response to your stack overflow question.

[2017-02-15 19:39] #7533 closed

[2017-02-15 20:32] taion commented on #7444
Cool – should we close this issue then, or does that typically wait until the change lands in the public GH repo?

[2017-02-15 20:35] DarshanGowda0 opened #7538 "Small mistake in tensorflow document on the website"
I don't know whether it's right to report documents mistakes in this place,i don't find other place to report mistakes...

On tensorflow's website, in the Custom Model section of Getting started with tensorflow page it's mentioned as -
`tf.contrib.learn.LinearRegressor` is actually a sub-class of `tf.contrib.learn.LinearRegressor`.

Isn't it supposed to be `tf.contrib.learn.LinearRegressor` is act

[2017-02-15 20:59] virl commented on #491
+1 on this. This issue especially important in the light of spreading eGPU support, like on these videos:
https://www.youtube.com/watch?v=jFHjT50M7_Y
https://www.youtube.com/watch?v=vvAB3U5umug
https://www.youtube.com/watch?v=JpR8_cS-168
https://www.youtube.com/watch?v=LN7prQBjRNc
https://www.youtube.com/watch?v=pNd5_kxpPc4

[2017-02-15 21:02] JerryKurata commented on #7500
I just ran into this error on the 1.0 release linked to on the new install guide.  Also, none of my solutions work due to similar errors.

[2017-02-15 21:09] sajjo79 opened #7540 "Installing and running Tensorflow 1.0"
I have just installed tensorflow 1 and when I try to run a program I get following errors.
"C:\Users\CRCV>python a.py
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') for unknown op: BestSplits
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core\framework\op_ker

[2017-02-15 21:26] Carmezim commented on #7540
Was this code made in previous TensorFlow version?

[2017-02-15 21:38] ahundt commented on #7443
@aselle I don't know all the policies at the moment that's why I asked, heh

[2017-02-15 21:42] Carmezim commented on #7540
This is a dupe of #7500. Apparently this issue is fixed at `HEAD` but didn't make it to the release build. Upgrading to latest nightly build could work as answered by @mrry.

[2017-02-15 21:43] paiv commented on #3001
I demoed MNIST on BNNS with TensorFlow model here: https://github.com/paiv/mnist-bnns

BNNS is somewhat limited in features. One should make performance comparison before committing.

[2017-02-15 21:44] codeloverr commented on #7529
I am getting the same error in Ubuntu 16.04 with TF v1.0 rc2. I have installed from sources.

[2017-02-15 21:45] sajjo79 commented on #7540
No, I have made new installation and then was trying to print hello message

On Wed, Feb 15, 2017 at 4:27 PM, Adriano Carmezim <notifications@github.com>
wrote:

--
Sajid Iqbal

[2017-02-15 21:49] pwaller opened #7541 "Fatal messages mixing C libtensorflow with python tensorflow"
I'm trying to write mixed C tensorflow code with python tensorflow code by
embedding the CPython interpreter in my application.

I'm mainly doing this because defining the model is only really possible in
Python at the moment due to the lack of gradients (#6268), and I want to define
new models from the C side at speed without needing to invoke or
communicate to an external python process to get a

[2017-02-15 21:52] Carmezim commented on #7529
@codeloverr please see if [this](http://stackoverflow.com/questions/35953210/error-running-basic-tensorflow-example) helps you.

[2017-02-15 21:55] dchirikov opened #7542 "./configure in interactive mode does not create working config for build"
# Description
Hi,
I encounter following issue. If user runs ./configure script interactively filling blanks it is not possible to build TF with CUDA support. BUT if user exports corresponding env variables before of after ./configure, bazel can happily build binaries.

# Environment
[code]

# Steps to reproduce
[code]
Fill blanks
[code]
Attempt to build:
[code]

# Working method
[code]

Experiment

[2017-02-15 22:01] lemonzi commented on #1594
Is `swig` still a requirement? It's not mentioned in the installation guide (https://www.tensorflow.org/install/install_sources). I got the same error with v1.0.0 and it was fixed installing swig (I have a different one now).

[2017-02-15 22:16] Carmezim commented on #7500
I can confirm [today's build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/) worked. I received SSE warnings though.

[code]

[2017-02-15 22:19] ahundt commented on #7449
Looks like the following is a workaround according to https://github.com/wangyum/Anaconda/issues/15

    bazel build --linkopt='-lrt' -c opt --copt=-mavx --copt=-msse4.2 --copt=-msse4.1 --copt=-msse3 -k //tensorflow/tools/pip_package:build_pip_package

[2017-02-15 22:20] Carmezim commented on #7540
@sajjo79 Please see #7500, the nightly build referred above worked.

[2017-02-15 22:43] sajjo79 commented on #7500
Hi, I am also facing similar type of issue. I am running tensorflow 1.0 on windows 10. When I run the following program
"

**import numpy as np
import tensorflow as tf

#one real values column
features = [tf.contrib.layers.real_valued_column("", dimension=1)]

estimator = tf.contrib.learn.LinearRegressor(feature_columns=features)

dataSet = tf.contrib.learn.datasets.base.Dataset(
												data=

[2017-02-15 22:47] aselle commented on #7540
Thanks @Carmezim, @sajjo79 let us know if this solves the problem.

[2017-02-15 22:49] aselle commented on #7541
@jhseu, do you have any insight on this. I think @pwaller's analysis is correct. There is clearly some singleton that is getting double initialized.

[2017-02-15 22:52] yaroslavvb commented on #6116
@tfboyd

[2017-02-15 22:53] aselle commented on #7538
Yes, that is a mistake. Thanks for reporting it. I'll submit a fix, but it will likely take a bit for it to make its way onto the web page.

[2017-02-15 22:54] #6342 closed

[2017-02-15 22:59] dchirikov opened #7543 "Error on building with non-system GCC: "gcc: error trying to exec 'as': execvp: No such file or directory""
# Description
Hi,

I am trying to compile TensorFlow with non-default GCC. 5.4.0, and get follwing error:
[code]
# Environment
[code]
# Steps to reproduce
[code]

# Investigation
`as` is installed on my system, but wasn't built by gcc-5.4, I am using system-default one:
[code]
Digging into stace output, It seems like builder is trying to find `as` using some incorrect assumptions, and failed:
[cod

[2017-02-15 23:10] aselle commented on #7537
@zheng-xq, do you want to bring this in to being a  first-class op?

[2017-02-15 23:12] aselle commented on #7482
@jhseu, i know you are giving a talk at the dev summit, but since you are talking about TFRecord in it, I thought you might have additional insight.

[2017-02-15 23:14] martinwicke commented on #7449
@ahundt does using just --config=opt work for you?

[2017-02-15 23:16] aselle commented on #7542
@gunan, @yifeif, do we have a solution to this?

[2017-02-15 23:29] zheng-xq commented on #7537
That seems like a good idea. Feel free to send a PR! We can start with tf.contrib, and migrate to tf core later.

[2017-02-15 23:47] maxamante commented on #7500
Seeing the same issue as @sajjo79 using tf 1.0.0 on Windows 10/Python 3.5.2/CUDA 8.0/cuDNN 5.1

Going to try installing the nightly

[2017-02-15 23:53] mhaghighat commented on #3628
I am running TensorFlow 0.12. I tried the solution provided by @barbolo and @sunsided, but it didn't solve the problem. I still get this error:

`
ValueError: graph_def is invalid at node 'InceptionResnetV1/Conv2d_1a_3x3/BatchNorm/cond/AssignMovingAvg/Switch': Input tensor 'InceptionResnetV1/Conv2d_1a_3x3/BatchNorm/moving_mean:0' Cannot convert a tensor of type float32 to an input of type float32_

[2017-02-15 23:57] JerryKurata commented on #7500
@sajjo79 It looks like most of the issues in your post are due to 2 things.  First is the display issues that opkernal.cc is outputting.  The second is deprecated features being used.  For the deprecated features the the warning message shows the code changes you will need to make.  And as @mrry mentions upgrading to nightly should fixed the opkernel issues until the update gets pushed to the main

[2017-02-16 00:04] maxamante commented on #7500
@JerryKurata I agree with you on the possible fixes. This is tutorial code though. It's strange it doesn't "just work"

[2017-02-16 00:18] streamtree commented on #7500
Seeing the exact same issue as @Franck-Dernoncourt with the Windows installation test code using the 1.0 release on Windows 10 Anniversary Edition.

[2017-02-16 00:18] JerryKurata commented on #7500
@maxamante Any time your write a tutorial it is the best your can do at the time.  But, over time things change and there is only so much time to keep up the documentation.

FWIW, does anyone know if the TensorFlow team is looking for help with the documentation, tutorials, etc on tensorflow.org?

[2017-02-16 00:20] maxamante opened #7544 "Mistake in 'a custom model' tutorial code"
The code in [this example](https://www.tensorflow.org/get_started/get_started#a_custom_model) doesn't work as is.

I found changing line 20 from:
[code]
to
[code]
makes it work.

Thanks for the great code!

[2017-02-16 00:21] byronyi commented on #7353
I've been following the discussion and the fix of @fesun is exactly what I guessed when I read this issue from the beginning. Frankly speaking the current gRPC implementation has some serious issues that makes it more like an ad-hoc solution for small number of tasks instead of a design for production-ready large-scale training.

My hunch is that, since all ``Recv`` ops work asynchronously in data

[2017-02-16 00:32] Carmezim commented on #7500
For everybody replying saying they are having this same issue the fix was already given. You just need to download and install the most recent nightly build [0] if you want to get it going right now. Otherwise wait for the nightly build be released.
If you are having a different problem, please open a new issue.

[0] http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/

[2017-02-16 00:43] maxamante commented on #7500
@Carmezim I was commenting on @sajjo79's issue with the tutorial code not executing to completion. Sorry for the derail. Nightly build does solve the OpKernel for me

[2017-02-16 00:43] b-3-n commented on #5350
A simple workaround is to transpose the weight matrix once after training, assign it to a variable and use that so that the transpose is only done once.

[2017-02-16 00:48] Carmezim commented on #7500
@maxamante This got a little confusing here. I think this issue could be closed when @Franck-Dernoncourt gives heads up of his side and folks having other problems could open new issues.

[2017-02-16 00:48] 0x454447415244 commented on #7490
I use the following functions to load and save models:

[code]

Meta files are created already. Should I call `saver.export_meta_graph` and `tf.train.import_meta_graph` explicitly? Thanks.

[2017-02-16 00:50] jhseu commented on #7541
Yeah, I think this happens because we import pywrap_tensorflow with RTLD_GLOBAL. Unfortunately I don't think there's an easy way to make this work at the moment. It's possible we can go the other way and make the C API accessible from `import tensorflow`.

Keeping this open, but it's uncommon and difficult, so we may not work on it anytime soon. A possible workaround is to mangle the symbols (name

[2017-02-16 00:50] yaroslavvb commented on #7490
Don't remember off the top of my head, but there's metagraph howto somewhere

[2017-02-16 00:59] ferrouswheel commented on #7374
I tried `MSBuild /p:Configuration=Release tf_tutorials_example_trainer.vcxproj` and `MSBuild /p:Configuration=Release tf_python_build_pip_package.vcxproj`. So definitely using `Release` configuration

Both result in the same issue. I've tried building master branch, tag v1.0.0, and an older commit. Which suggests this may be our environment somehow.

I've found the build log from the CI, so I'm go

[2017-02-16 01:00] Franck-Dernoncourt commented on #7500
Installing [today's nightly build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/) (CPU version) fixed the issue (no more  `“OpKernel ('op: ”BestSplits“ device_type: ”CPU“') for unknown op: BestSplits”` etc.).

But as @Carmezim remarked there are now some SSE warnings:

[code]

[2017-02-16 01:03] mrry commented on #7374
That's weird! I can confirm that it builds correctly for me, in a fresh checkout. It's possible that the CMake build leaves some droppings behind (sadly, it's not hermetic like the Bazel build) and this could be causing the build to fail. Looking forward to hear what you find out....

[2017-02-16 01:03] monajalal opened #7547 "Unsuccessful TensorSliceReader constructor: Failed to find any matching files for bird-classifier.tfl.ckpt-50912"
I am following this tutorial http://www.bitfusion.io/2016/08/31/training-a-bird-classifier-with-tensorflow-and-tflearn/ I assume that training was done but the system was restarted so I can't verify if the 100 epochs were done. Can you please suggest fixes? Is this a tflearn and tensorflow version mismatch? What can be done?

[code]
Here are the dumped training files I have http://pastebin.com/9RF

[2017-02-16 01:21] natanielruiz commented on #663
I'm here to bump my earlier question.

[2017-02-16 01:26] yaroslavvb commented on #663
Someone from qualcomm just presented at TF dev summit saying 8x speed-up of image recognition on qualcomm chips using TensorFlow with Hexagon library optimization

[2017-02-16 01:38] guoying1030 commented on #7514
@warchildmd
@aselle
When I use the __liner function, do a linear change, how to call batch normalztion, and use clip relu activation function?

[2017-02-16 01:49] kylemcdonald commented on #2940
Same problem after installing Tensorflow today. Version info:

[code]

Problem description:

[code]

After creating a symlink:

[code]

The remaining error was due to protobuf not being installed correctly. I had previously run `brew install protobuf`. Once I unlinked it, Tensorflow works correctly (I'm not sure if this is breaking something else):

[code]

[2017-02-16 02:06] wangyum commented on #7449
@martinwicke @ahundt It works for me.
![tensorflow-7449](https://cloud.githubusercontent.com/assets/5399861/23003869/62184440-f42e-11e6-8f3e-152520186bf2.jpg)

The following options are enabled target specific:
[code]

[2017-02-16 02:39] zetos commented on #37
+1

[2017-02-16 02:43] Prakashvanapalli commented on #7525
ok thank you . Here is the [link](http://stackoverflow.com/questions/42224327/outofrangeerror-see-above-for-traceback-fifoqueue-1-batch-fifo-queue-is-cl?noredirect=1#comment71671935_42224327) to stackoverflow

[2017-02-16 02:46] monajalal commented on #7547
I ran the whole training from scratch. According to the tutorial I should be good, but I get error. Please suggest fixes:
[code]

[2017-02-16 03:06] ferrouswheel commented on #7374
I've tracked this down to a Windows Boost distribution with a bad CMakeLists.txt. It would set `BOOST_ROOT` in the windows environment, and eigen would try and configure against it and then fail.

Sorry for the noise! Please feel free to close this.

[2017-02-16 03:20] dreavjr commented on #5987
Come on guys, the critical use case of training + validating is still — even on r1.0 — completely non-obvious to implement using the slim "lego blocks". We need guidance here, if you please.

[2017-02-16 03:44] taion opened #7549 "tf.layers.batch_normalization does not support fused"
`tf.layers.batch_normalization` does not accept a `fused` argument, and appears to always use `tf.nn.batch_normalization` instead of `tf.nn.fused_batch_norm`. As such, it does not appear to be possible to follow performance best-practices when using `tf.layers.batch_normalization`.

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Searc

[2017-02-16 03:47] chenleo commented on #7498
Yes, sure.
I tried explicitly add c++11 configuration, which lead to the CXXFLAG as the following:

[code]

I also explicitly add the libc.a/libc.so lib into my LIBS, as the following:

[code]

Still does not work, and encounter the link error as the following:

[code]

[2017-02-16 03:50] cdjhz opened #7550 "AttributeError: 'module' object has no attribute 'pack'"
Training images using keras with tf backend.The error shows that tf (version==0.12.head) has no attribute "pack".
[code]

[2017-02-16 04:13] taion opened #7551 "Addition is much slower on non-last axis (non-fused batch norm with NCHW)"
I noticed this from observing my models training many times slower when using non-fused batch norm and the NCHW data format. When looking at the timeline, it's dominated by addition (and multiplication) operations.

I can mostly work around this by using the fused batch norm, but DenseNet models in principle (and in practice when using NHWC here) benefit from splitting up the learned beta/gamma an

[2017-02-16 04:22] nehardave commented on #7494
Thanks I will do so !

From: Andrew Selle <notifications@github.com>
Reply-To: tensorflow/tensorflow <reply@reply.github.com>
Date: Wednesday, 15 February 2017 at 11:30 PM
To: tensorflow/tensorflow <tensorflow@noreply.github.com>
Cc: "Dave, Neha" <Neha.Dave@fmr.com>, Mention <mention@noreply.github.com>
Subject: Re: [tensorflow/tensorflow] TensorBoard Projector does not work on Mac (#7494)

@nehar

[2017-02-16 04:27] GreenKing opened #7552 "tensorflow_gpu-1.0.0-cp35-cp35m-win_x86_64.whl is not a supported wheel on this platform."
I created an environment with following command on Windows:
[code]
and try to install tensorflow 1.0
[code]
but it reported an error as following:
[code]
my machine is 64bit win10, can anyone tell me  what's the problem?

[2017-02-16 04:39] gunan commented on #7542
All these work for me if I use centos nvidia-docker image, without entering anything manually.
It is possible we have a problem in the script to read the command line inputs?

[2017-02-16 04:42] jihunchoi opened #7553 "The updated documentation site does not contain "Setting up TensorFlow for Development""
Recently the TensorFlow web site is updated, and some contents are re-organized.
Since I always forget how to install TF from sources, such as "bazel build ..." then "bazel-bin/...", I frequently refer the official web site.
However, after the update, "Setting up TensorFlow for Development" section has gone away (which were originally located at https://www.tensorflow.org/versions/r0.12/get_starte

[2017-02-16 04:43] drpngx commented on #7500
@gunan fyi

On Feb 15, 2017 5:03 PM, "Franck Dernoncourt" <notifications@github.com>
wrote:

[2017-02-16 04:46] thesuperzapper opened #7554 "TFLearn Estimator Summary Writer Fails."
### Issue:
TFLearn estimator summary writer fails because _write_dict_to_summary() in [/tensorflow/contrib/learn/python/learn/estimators/estimator.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/estimator.py#L324) dose not allow int values, which naturally stops the np.int64 valued 'global_step' parameter from being written, thus causing th

[2017-02-16 04:58] jart commented on #7497
A member of the TensorFlow team wrote Bazel's downloader. So we can continue triaging here for now.

It should absolutely not be doing that.

Can you please edit TensorFlow's WORKSPACE file so rules_closure only has a single URL in the URLs list? Then run bazel fetch again. It should now give you the full NullPointerException stack trace. At least I hope. Once you get that, can you please copy and

[2017-02-16 04:59] alexxucui opened #7556 "issues install on windows conda env"
I have tried to install the tensorflow non-gpu version in the conda env using pip but I got following error:

    "AttributeError: 'NoneType' object has no attribute 'splitlines'"

But when I install the gpu version it seems fine. Any ideas?

[2017-02-16 05:30] Carmezim commented on #7556
What code are you trying to run, could you please share an entire log?
Thank you.

[2017-02-16 05:58] GreenKing commented on #7552
I run the following scripts and get the valid whl package name:
[code]
the platform field should be `win_amd64`, but there is no difference between `win_amd64` and `x86_64`.

So I just wanna to download the `whl` package and rename it.

But the URL is still not available yet ...

It's 2017.2.16

[2017-02-16 06:02] zhaopku commented on #7550
As far as I know, `tf.pack` has been renamed as `tf.stack`.

[2017-02-16 06:03] Carmezim commented on #7552
If you want to download the wheel you can get a [nightly build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/). I tested today's build and it is working flawlessly. Could you try it and follow up if it worked for you?
Thanks.

[2017-02-16 06:33] hengck23 commented on #7476
how can we set the values of rmax and dmax?

[2017-02-16 06:54] rdeepc opened #7558 "tensorflow_gpu-1.0.0-cp35-cp35m-win_x86_64.whl is not a supported wheel on this platform."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-16 06:54] rdeepc commented on #7558
1) pip uninstall tensorflow
2) pip install tensorflow

[2017-02-16 06:55] rdeepc commented on #7552
1) pip uninstall tensorflow
2) pip install tensorflow

[2017-02-16 06:58] cherishlc commented on #7515
one line change in [decode_csv_op.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/decode_csv_op.cc)
works for me:
change line 172:
`      while (static_cast<size_t>(current_idx) < input.size()) {`
to
` while (static_cast<size_t>(current_idx) < input.size() && result->size()<out_type_.size()) {
`

The modified version (DecodeCSVFirstNOp) can be found here:  [DecodeC

[2017-02-16 07:03] Carmezim commented on #7552
@rdeepc there was an issue with the released build earlier #7500 that the nightly has the fix then perhaps is better to download the wheel for now.

[2017-02-16 07:13] soloice commented on #7552
I downloaded [nightly build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/DEVICE=gpu,OS=windows/) to my hard disk and

`pip install --upgrade C:\tensorflow_gpu-1.0.0rc2-cp35-cp35m-win_amd64.whl`
Works for me.

[2017-02-16 07:13] Carmezim commented on #7552
Nice. Thanks for the follow up. This can be closed now.

[2017-02-16 07:14] rajmiglani opened #7559 "TypeError: zeros_initializer() missing 1 required positional argument: 'shape'"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-16 07:15] Bruczzz commented on #7523
I have tried that also @bazinac (changed the order of subfolders in train directory and order of labels in label.txt ).No matter what the input image is, quantized model gives high probability for Animals.
Rarely, say 1 in 100 input images getting classified as other class but that is again incorrect result.
Thanks.

[2017-02-16 07:18] Carmezim commented on #7558
I couldn't properly understand what issue you're having, Did you receive this error when trying to install? If you're having the same problem as #7552 please keep track there as it's a duplicate issue.
Thanks.

[2017-02-16 07:24] soloice commented on #7552
@Carmezim Now the OpKernel Errors are gone. As pointed in [issue 7500](https://github.com/tensorflow/tensorflow/issues/7500), there are SSE warnings. Is there an issue on how to solve SSE warnings?

[2017-02-16 07:46] Carmezim commented on #7552
@soloice I had mistakenly replied thinking you were OP. I am not sure but they will probably give a response on that.

[2017-02-16 07:47] shiyemin commented on #7476
@cancan101 @hengck23 [Here](https://github.com/shiyemin/shuttleNet/blob/master/ops/ops.py#L60-L316) is my implementation. I also provide my code for set the RMAX and DMAX.

Basic usage:
`batch_renorm_decay=0.9
batch_renorm_epsilon=0.001

global_step = tf.train.get_global_step()
RMAX_decay = ops.adjust_max(global_step, 200, 800, 1, 3, name='RMAXDECAY')
DMAX_decay = ops.adjust_max(global_step, 200,

[2017-02-16 08:04] #7559 closed

[2017-02-16 08:08] ammarasmro opened #7560 "tar: Unrecognized archive format error when trying to unpack flower_photos.tgz, TF tutorials on OSX"
This is relating to the
[How to Retrain Inception's Final Layer for New Categories](https://www.tensorflow.org/tutorials/image_retraining) Tutorial

I'm trying to unpack the flower_photos.tgz after curling it using

    curl -O http://download.tensorflow.org/example_../images/flower_photos.tgz
    tar xzf flower_photos.tgz

This is from the image retraining tutorial for TensorFlow

Results from cu

[2017-02-16 08:10] ibudnikov commented on #7260
Can anyone help?

[2017-02-16 08:15] shashankneo opened #7561 "Different buckets give different outputs at first time step during decoding"
Hi,

**Background**
I'm trying to build a chat bot and have a basic understanding of tensorflow Sequence2Sequence API  by reading from here:
https://www.tensorflow.org/tutorials/seq2seq/

I've also read related papers for Neural translation, attention mechanism during encoding/decoding etc.

RNN translate code is taken from here:
https://github.com/tensorflow/models/blob/master/tutorials/rnn/trans

[2017-02-16 08:17] lhausermann opened #7562 "Standalone Tensorflow Projector"
Sorry to double open this issue but did not get any answer from StackExchange forum :
http://stackoverflow.com/questions/41643365/standalone-tensorflow-projector

Tensorflow Projector is a great way to visualize a mutli dimensional dataset and I was wondering if you are planning to open source the version running on the web (ie outside tensorboard), so we would be able to visualize any dataset fro

[2017-02-16 08:17] talk2ap001 commented on #7497
@jart Doing the above gives:

        at com.google.devtools.build.skyframe.ParallelEvaluator$Evaluate.run(ParallelEvaluator.java:438)
        at com.google.devtools.build.lib.concurrent.AbstractQueueVisitor$WrappedRunnable.run(AbstractQueueVisitor.java:501)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
        at java.util.concurrent.ThreadPoolExecutor

[2017-02-16 08:22] talk2ap001 commented on #7497
@jart Doing the above gives:
[stacktrace.txt](https://github.com/tensorflow/tensorflow/files/779430/stacktrace.txt)
java.lang.RuntimeException: Unrecoverable error while evaluating node 'REPOSITORY_DIRECTORY:@io_bazel_rules_closure' (requested by nodes 'REPOSITORY:@io_bazel_rules_closure')
        at com.google.devtools.build.skyframe.ParallelEvaluator$Evaluate.run(ParallelEvaluator.java:438)

[2017-02-16 08:34] r4nt commented on #7543
Can you build with -s and post the relevant output from bazel?

@damienmg, this is possibly the same bug I ran into yesterday while experimenting with my cuda-clang installation - PATH is not handed correctly to some link actions.

[2017-02-16 08:45] r4nt commented on #7542
@gunan - if anything it looks like TF_NEED_CUDA wasn't set correctly, which would be weird.

@dchirikov - can you put
echo $TF_NEED_CUDA
before the call to bazel_clean_and_fetch and post the output?

(for @damienmg, an example user experience problem bazel's configuration needs to solve better)

[2017-02-16 08:56] bazinac commented on #7523
Yeah I got some results.  Have you just retrained the inception  network using tutorial,  or have you added some logic/nodes?

[2017-02-16 08:58] r4nt commented on #7221
@qiyuelu1 - can you post the full link error you get if you build with -s?

[2017-02-16 08:58] zig-kwin-hu opened #7565 "Problems on using static library of tensorflow"
I working on a big c++ project, which is big and doesn't use bazel as its build tool. So I am trying to build a static library on tensorflow. By following the tutorial at [tensorflow/contrib/makefile](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile) , I successfully build libtensorflow-core.a. But when I try to include "tensorflow/core/public/session.h" in my main.

[2017-02-16 09:18] soloice commented on #3317
I want an example, too. In principle I know how it works, but what's the details?

[2017-02-16 09:28] Baschdl commented on #7562
Hi @lhausermann, I published a small script to use the embedding projector only for visualization of your data. [https://gist.github.com/Baschdl/e965ba3499bb6e905f92befa7f77bbf2](https://gist.github.com/Baschdl/e965ba3499bb6e905f92befa7f77bbf2)
You must only load the data and define the input variables accordingly.

[2017-02-16 09:43] luketg8 commented on #18
Along with these solutions, Emgu CV have also added a tensorflow importer to their DNN module https://github.com/emgucv/emgucv

[2017-02-16 09:48] YiMX commented on #7456
I also trained the full imagenet model on the same machine using multiple gpus, but this problem did not occur. The only difference in my view is the processing speeds of MNIST model and inception.

[2017-02-16 09:50] DutchDandy commented on #7529
@Carmezim

Thank you for the suggestions. I checked the path and installed  Visual C++ Redistributable 2015 x64.

`Traceback (most recent call last):
  File "C:\Users\Gebruiker\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper
    return importlib.import_module(mname)
  File "C:\Users\Gebruiker\AppData\Local\Programs\Py

[2017-02-16 09:56] fabienbaradel commented on #7521
Thank @ivan-aksamentov for you quick answer!
However your solution doesn't work doesn't work in my case.. @aselle
I think Tensorflow understands that there is one Cpu on the node which is the "concatenation" of all the CPUs. That is why the I print print(device_lib.list_local_devices()) Tensorflow shows only one CPU.

**Is there a Tensorflow function for checking who many CPUs are available?** (li

[2017-02-16 09:57] Hui-Zhi commented on #7456
@poxvoculi Regarding your working solution, could you be more specific? Did you change the TensorFlow code or just changed some system configure?

[2017-02-16 09:58] pavelbulanov commented on #6999
Surprisingly, I was able to build (compile) latest TensorFlow 1.0.0rc2 from sources on Windows 10 for Python 3.6 (Anaconda 4.3). I used [Visual Studio Build Tools](https://blogs.msdn.microsoft.com/vcblog/2016/11/16/introducing-the-visual-studio-build-tools/), cmake-3.8.0-rc1, and swigwin-3.0.12.
I followed instruction for CMake [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow

[2017-02-16 10:09] soloice commented on #1122
@sguada Sorry for trouble you, but is it possible to make an example on how to use slim.batch_norm when combined with slim.conv2d/slim.fully_connect in readme.md?

I'm using slim.batch_norm, but get good training performance and poor validation/test performance. I think it must be due to improper use of `reuse` or `scope` or some other parameters. Though there are many issues on batch normalizatio

[2017-02-16 10:21] Bruczzz commented on #7523
I just retrained as explained in tutorial... I have not done anything apart from that.

[2017-02-16 10:27] dchirikov commented on #7542
@gunan

That's the issue, actually. If you need to enter it manually interactively in ./configure - it will fail. Something in this command relies on defined environment variables:
[code]
@r4nt

echo $TF_NEED_CUDA

it echoes '1', which is good
but again, those vars are not inherited in `bazel build`

[2017-02-16 10:28] ishaybee commented on #1122
hi,
you need to set different scope for every time you use batch norm and give it the reuse input according to the training/test phase(TRUE when test FALSE when train) that works for me.

[2017-02-16 10:38] codemukul95 opened #7568 "gen_nn_ops not found"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

In tensorflow/python/ops directory the file gen_nn_ops is missing.
Can you tell how it is being imported?

[2017-02-16 10:40] dchirikov commented on #7543
Seems it's not really verbose, PATH and all those vars are looking good, but issues still here

[code]

Attaching full bazel.log just in case
[bazel-log.zip](https://github.com/tensorflow/tensorflow/files/779795/bazel-log.zip)

[2017-02-16 10:43] NiZiL opened #7569 "AttributeError: module 'tensorflow.contrib.rnn' has no attribute 'stack_bidirectional_dynamic_rnn'"
This issue arises both on cpu and gpu version of tensorflow 1.0, installed with pip for python3.
I've tested it with Ubuntu 16.04 (cuda 8.0 and cudnn 5.1) for gpu, and with Archlinux for cpu.

Strangely, the function is present in `/path/to/python/packages/tensorflow/contrib/rnn/python/ops/rnn.py` and seems to be imported in `/path/to/python/packages/tensorflow/contrib/rnn/__init__.py`.

[code]

[2017-02-16 11:05] YiMX commented on #5870
Still open? Can I try it?

[2017-02-16 11:06] navya-xx commented on #6091
this may help..
http://stackoverflow.com/questions/38939081/saving-model-in-tensorflow

[2017-02-16 11:16] r4nt commented on #7542
@dchirikov - the configure script has a line saying "export TF_NEED_CUDA" - I'm really confused why that wouldn't end up in your blaze fetch.
The reliance of the blaze fetch on environment variables is by design.

[2017-02-16 11:27] r4nt commented on #7543
That looks like gcc is not getting the right PATH? Do you have something in your system that prevents subprocesses from inheriting environment variables? (apropos the other bug you posted)

[2017-02-16 11:29] balancap commented on #3945
If I may, should `tf.select / where` not be able to support more general broadcasting?
Ignoring the casting problem, it is completely equivalent to the operation `cond * t  + (1  - cond) * e` which supports much more general input shapes. For instance, I find it quite useful when `t` is a Tensor and `e` a scalar for performing a simple update of some values in the former.

[2017-02-16 11:30] primetang opened #7570 "What can replace tf.RegisterShape in tensorflow 1.0.0?"
[code]

So what can replace `tf.RegisterShape` in tensorflow 1.0.0?

[2017-02-16 11:34] layumi commented on #3401
I meet the same problem when I run /models/tutorials/image/imagenet/classify_image.py.
I delete /tmp/imagenet/inception-2015-12-05.tgz  and re-download the model. The problem was solved.

[2017-02-16 11:43] dchirikov commented on #7543
Why? for it looks good. no?
[code]

So `as` in  `/usr/bin` should be accessible.

[2017-02-16 11:44] Shardz commented on #7552
After creating an env with
`conda create --name tensorflow python=3.5 anaconda`
I got the same error when trying the official link
`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0-cp35-cp35m-win_x86_64.whl `
but by using
`pip install tensorflow`
it downloaded
`tensorflow-1.0.0-cp35-cp35m-win_amd64.whl`
Maybe this works for you too?

[2017-02-16 11:45] AndreiEnache commented on #7552
After creating an env with
`conda create --name tensorflow python=3.5 anaconda`
I got the same error when trying the official link
`pip install --ignore-installed --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.0.0-cp35-cp35m-win_x86_64.whl `
but by using
`pip install tensorflow`
it downloaded
`tensorflow-1.0.0-cp35-cp35m-win_amd64.whl`
Maybe this works for you too?

[2017-02-16 11:47] dchirikov commented on #7542
@r4nt

it is accessible and defined in fetch, but not defined in `bazel build` step.

[2017-02-16 12:15] samfux84 opened #7572 "Bazel version required for TensorFlow 1.0 ?"
Hi all,

Neither the README.md nor https://www.tensorflow.org/install/install_sources mentions the minimal bazel version that is required for building tensorflow 1.0 from source.

I have successfully built versions 0.9 and 0.10 from source using bazel 0.3.0 (first I had installed version 0.2.4, then while compiling tensorflow I got errors, opened an issue on github and was told to update to 0.3.0)

[2017-02-16 12:20] javdrher opened #7573 "Tensorflow freezes during execution of session.run()"
We currently experience an issue with an implementation. During the execution of session.run, the process suddenly freezes. It does not crash but is irresponsive to ctrl+c. It isn't consuming any CPU anymore (and is not progressing either). This occurs on CPU, we haven't tested GPU. The issue seems to be highly related to #2788.

We ran the script on a machine running an up-to-date Ubuntu 16.04 wi

[2017-02-16 12:38] r4nt commented on #7543
@dchirikov - I agree that the paths shown looks good - the question is, why does gcc not search there.

[2017-02-16 12:41] r4nt commented on #7542
@dchirikov - that doesn't matter though - the way bazel works is that the whole bazel-tensorflow/external/ stuff gets configured as part of the fetch step; the environment variables affect what ends up there, but are not needed afterwards when you do bazel build.

[2017-02-16 12:51] dchirikov commented on #7542
@r4nt
If i get it right `./third_party/gpus/cuda_configure.bzl` is being executed during `basel build`, and yes, it expects some vars is user environment is being defined:
[code]

[2017-02-16 13:01] dchirikov commented on #7543
@r4nt  I am not sure it was `gcc` who called `as`

[2017-02-16 13:07] soloice commented on #1122
@ishaybee Thanks for you help. I've found my problem= = It's due to the cold start of moving_mean/moving_variance.

Since I haven't trained enough steps, the estimated moving mean/variance is not that stable. The result turns out to be: the model performs pretty well on training mini-batches (you know at the beginning loss goes down quickly), but validation performance is erratic (because the esti

[2017-02-16 13:21] Carmezim commented on #7529
If you are sure it's not a missing `MSVCP140.DLL`, I am out of ideas for this one then for now, as yourself already pointed out it's not a TensorFlow specific issue.
Maybe @mrry can help.
I would suggest to post it on StackOverflow.

[2017-02-16 13:21] llhe commented on #7572
The interface of Bazel changes too frequently. Actually I'm wondering how big of the difference between Blaze and Bazel.

[2017-02-16 13:22] snnn opened #7576 "GrpcRemoteMaster was chosen instead of LocalMaster"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
none.

### Environment info
Operating System:
Windows 10

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
none

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
 9570f0f2804e857bc5593bed526eda7c1c915ed9
2. Th

[2017-02-16 13:27] soloice commented on #7469
It's my bad. I haven't fully understood the dynamics of batch normalization layer during training.

[This](https://github.com/tensorflow/tensorflow/issues/1122#issuecomment-280325584) is what happened.

I feel very sorry for bothering you with my carelessness.

[2017-02-16 13:29] DutchDandy commented on #7529
@Carmezim, thank you anyway! I uninstalled sklearn and now it functions, but it does not seems to do the trick for TensorFlow.

[2017-02-16 13:44] r4nt commented on #7542
@dchirikov - it shouldn't (it doesn't for me, and I checked with a bazel dev that there should not be a case where it does). What makes you think it does?

[2017-02-16 13:58] soloice opened #7577 "A suggestion for controlled dependency in batch normalization layer"
In documents of `tf.contrib.layers.batch_norm`, it is suggested to bind update op of moving_mean and moving_variance with loss function, as follows:
[code]
Is it better to bind `update_op` with `train_op`? Say, maybe one want to evaluate loss but do not update parameters?

[2017-02-16 14:13] r4nt commented on #7543
From the error message:
gcc: error trying to exec 'as': execvp: No such file or directory

That looks like it's coming from gcc - what am I missing?

[2017-02-16 14:15] Carmezim commented on #7529
@DutchDandy Did you mean you uninstalled then installed sklearn again and it worked but the same process didn't yield the same result with TensorFlow?

[2017-02-16 14:28] DutchDandy commented on #7529
@Carmezim Exactly that.

[2017-02-16 14:34] ygoncharov opened #7578 "cifar10_multi_gpu_train.py is mentioned in the tutorial, but doesn't exist in the source tree"
cifar10_multi_gpu_train.py was removed in the 1.0, but still exists in the docs:
https://www.tensorflow.org/tutorials/deep_cnn

Where can users find examples for multi-GPU/distributed training compatible with v1.0?

[2017-02-16 14:37] dale-cooper opened #7579 "Broken class hierarchy in sample code in getting started tutorial."
The last example in https://www.tensorflow.org/get_started/get_started does not work. When run it gives the following error message:

[code]

This comes from this line:

[code]

There is a ModelFnOps in tf.contrib.learn and when using that the code at least runs. The result, though, seems to differ from what is mentioned in the doc.

tf.VERSION is 1.0.0.

[2017-02-16 15:12] ddavidraj commented on #6136
Setuptools upgrade fixed thanks a lot.

[2017-02-16 15:13] dchirikov commented on #7542
@r4nt
if i add print statement to cuda_configure.bzl it will be printed during build:
[code]
[code]

[2017-02-16 15:20] malmaud commented on #6268
I know timeline forecasts are always tricky, but I was wondering if you could provide a rough ETA for when you think gradient calculation might be exposed in the C API - is it more a matter of weeks, months, years?

[2017-02-16 15:21] snnn commented on #7578
https://github.com/tensorflow/models/tree/master/tutorials/image/cifar10

[2017-02-16 15:38] yaroslavvb opened #7581 "Status of Allocator API"
Making this issue to track status of allocator C API, based on discussion at tfdev conference: cc @josh11b @vrv @skye @keveman @zheng-xq @keveman @yuanbyu

Currently allocator API is not public. This API, in `tensorflow/core/framework/allocator.h`, and more specifically, `bytes_in_use`, is currently the only practical way to implement user ops that

1. Decide what to do based on available memory (

[2017-02-16 15:44] wangyum commented on #7572
0.4.2 is works for me:
https://github.com/wangyum/Anaconda/blob/master/doc/installing-tensorflow-from-sources.md

[2017-02-16 15:45] linrio opened #7582 "Delete some files on Windows10 occured error!"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem? No

### Environment info
Operating System: Win10

Installed version of CUDA and cuDNN: No
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide: Yes

1. A link to the pip package you installed:
2. The output from `python -c "import

[2017-02-16 15:47] r4nt commented on #7542
@dchirikov - this should only happen on invalidation, which is a bazel bug fixed at head.
If you now run configure again, it should work afterwards, as long as you don't sync.

[2017-02-16 15:52] Carmezim commented on #7529
@DutchDandy  Well, that error usually comes from the mentioned missing DLL, if your CUDA and cuDNN are properly installed.
The other alternative is to replace your python distribution for the Anaconda one as this is a Python.org distribution specific problem or wait if other folks can help on this one.

[2017-02-16 15:52] dchirikov commented on #7542
[code]

What I am missing?

[2017-02-16 15:56] ygoncharov commented on #7578
Thanks. Sorry, my bad.

It is another issue, but it seems that is not 100% compatible with 1.0 guidelines though. It uses tf.get_variable_scope().reuse_variables() and the docs say (https://www.tensorflow.org/install/migration):
Constructions like tf.get_variable_scope().reuse_variables() will likely not work.

[2017-02-16 15:56] #7578 closed

[2017-02-16 15:56] Denis035 opened #7583 "installed r1.0 -models directory is missing ."
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-16 15:59] Denis035 commented on #7583
Hi
I have installed r1.0 -pip install , the models directory is missing .
I know this has been an issue already but I cannot find a solution.]
How can I download the models.
I tried git checkout r1.0 but get an error : not a git repository

regards
Denis

[2017-02-16 16:04] qiyuelu1 commented on #7221
@r4nt Thanks for your response. This problem has been bypassed through updating keras+tensorflow to newer versions.
Thanks all for your help. I'm gonna close this session.

[2017-02-16 16:04] #7221 closed

[2017-02-16 16:10] girving commented on #7374
@ferrouswheel That you for tracking it down!

[2017-02-16 16:10] #7374 closed

[2017-02-16 16:14] #7583 closed

[2017-02-16 16:43] jart commented on #7497
Whoa. It looks like Java is having problems interoperating with Windows NT LAN Manager. I'm not sure if there's much Bazel or TensorFlow can do to help you unfortunately. It might be actionable in the sense that we could have done a better job reporting this error. I'll give it some thought and possibly send a patch to Bazel. But aside from that, I hope you don't mind if I close this one out. I'll

[2017-02-16 16:43] #7497 closed

[2017-02-16 16:47] r4nt commented on #7542
Can you do
$ ls $(bazel info output_base)/external/local_config_cuda/crosstool
after ./configure?
If that already shows error_gpu_disabled, your first bazel fetch didn't work (and didn't configure cuda support)

[2017-02-16 16:52] ammarasmro commented on #5214
Can you please provide how you filled the configure file?

[2017-02-16 16:52] kaufManu opened #7585 "Invalid argument error from tf.gather_nd after upgrade to r1.0"
I just upgraded to r1.0 and ran into an issue which I find hard to dissect further. The issue did not occur before when I was using version r0.12. The error message is the following:

[code]

and the stack trace tells me it stems from the last of the following lines:

[code]
This function is called to calculate a cost function which is used during an optimization procedure. See below for a minimum

[2017-02-16 16:58] RudrakshTuwani commented on #6469
Sorry for the bit of self promotion. Here's the link to my modified implementation of the same. I haven't changed it around much besides adding some extra comments and functions for getting predictions from user input.

https://github.com/RudrakshTuwani/Neural_Networks/blob/master/Language%20Model%20-%20Tensorflow%20Port%20(Complete).ipynb

[2017-02-16 16:59] mrry commented on #7374
@ferrouswheel Thanks for looking into this! I took a look at the Eigen CMakeLists, and it looks like we're doing more than we need to in the Eigen build—when in fact all we really need to do is copy some headers to the right location. The build testing is enabled by default, and attempts to pick up Boost. I'm not sure why it breaks, but we can at least avoid the problem in future by avoiding that

[2017-02-16 17:00] dchirikov commented on #7543
Yes, you are right, it's gcc. I checked with strace. Despite expected PATH is reported, it has truncated set of directories:
[code]
So search path is limited to
[code]
and no `/usr/sbin` there

[2017-02-16 17:09] dchirikov commented on #7542
[code]
Not sure I get you point when it where it should start to complain.

[2017-02-16 17:15] JStech commented on #492
@yaroslavvb, I have a question about backprop, based on your comment above. For a given layer, don't we only need to keep the gradients on the outputs long enough to calculate the gradients on the inputs?

[2017-02-16 17:24] yaroslavvb commented on #492
Correct, the gradients (backprop values) can be released quickly and don't affect peak memory much. It's the activations (forward prop values) that have to be kept in memory for a long time, here's a diagram of how things work -- https://github.com/tensorflow/tensorflow/issues/4359#issuecomment-269241038

[2017-02-16 17:40] asanakoy commented on #492
@yaroslavvb, where is `function.Defun` defined? I cannot get how you imported it.

[2017-02-16 17:42] yaroslavvb commented on #492
That example is incomplete, but this information can be easily found on the internet (here's a complete example https://github.com/yaroslavvb/stuff/blob/master/node-merge.ipynb)

[2017-02-16 17:47] aselle commented on #7579
Thank you for reporting this. We apologize for that. We had tested the tutorial on RC2, where that worked, but in the final TensorFlow we need to replace `tf.contrib.learn.estimators.model_fn.ModelFnOps` to be`tf.contrib.learn.ModelFnOps`. Try that and it should work fine (I verified it). I'll update the docs as well.

[2017-02-16 18:02] yaroslavvb commented on #7572
macos version needs no later than 0.4.3 to build because of Bazel bug https://github.com/tensorflow/tensorflow/issues/7227

[2017-02-16 18:04] yaroslavvb commented on #7576
@mrry

[2017-02-16 18:05] yaroslavvb commented on #7568
This should go on stackoverlflow (similar question http://stackoverflow.com/questions/41147734/looking-for-source-code-of-from-gen-nn-ops-in-tensorflow/41149557#41149557)

[2017-02-16 18:07] yaroslavvb commented on #7570
@aselle

[2017-02-16 18:07] poxvoculi commented on #7456
In my case I changed the TensorFlow source code in C++.   I'm working on a part of the internal system that is not (yet) open source, so I can't give you a code snippet to apply, but the basic idea is to copy values into a temporary write-once buffer and use that for the source whenever a Tensor is to be used by an Op on another device..     There is not a system config in TF to do this,  If it tu

[2017-02-16 18:08] yaroslavvb commented on #7524
I think this q is better suited for stackoverflow

[2017-02-16 18:12] yaroslavvb commented on #7456
PS: I had a brief discussion with @zheng-xq about this, and he says that ops typically don't write to GPU directly across GPU boundaries, even with DMA enabled. IE, if you do GPU0 assign to GPU1 variable, it'll first create a temporary tensor on GPU1, use DMA to transfer it over, then copy temporary tensor on GPU1 to variable on GPU1

[2017-02-16 18:14] zhangyaobit commented on #6072
@boche Thanks for reporting the issue. Could you file a separate github issue on this? As the original issue of this thread has been resolved, I'm closing it now. Thanks.

I will double check if bidirectional RNN is currently supported. Looks like not yet. https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cudnn_rnn/python/kernel_tests/cudnn_rnn_ops_test.py#L148

[2017-02-16 18:14] #6072 closed

[2017-02-16 18:15] mrry commented on #7576
The only guaranteed way to get a `LocalMaster` is to pass `server.target` as the session target. Perhaps we could document this better, but I'd prefer to keep the rule for dispatching to the local master as simple as possible.

Is there any reason why you prefer to construct the session target manually?

[2017-02-16 18:31] dchirikov commented on #7543
Found a clue, not sure it will help
[code]
And seems like PATH was overridden there
[code]
So `external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc` runs `/bin/sh -c "PATH=/trinity/shared/apps/cv-ppc64le/gcc/5.4.0/bin external/local_config_cuda/crosstool/clang/bin/../../../cuda/bin/nvcc"`

[2017-02-16 18:46] taion commented on #7551
Clearer description of the issue. My per-epoch timings using the 1.0.0 gpu-devel Docker image on an AWS p2.xlarge, using WRN-16-4 without dropout:

Data format | Fused batch norm | Batch time (ms)
-|-|-
NHWC | No | 340
NHWC | Yes | 320
NCHW | No | **1740**
NCHW | Yes | 270

I believe this is happening because the broadcasting on the unfused batch norm hits an extreme slow path.

This is problemati

[2017-02-16 18:48] codemukul95 commented on #7568
@yaroslavvb thank you :)

[2017-02-16 18:48] #7568 closed

[2017-02-16 18:51] ispirmustafa commented on #6790
I don't see a reason of estimator.predict hanging. Is your input_fn same for all workers?

[2017-02-16 18:52] ispirmustafa commented on #6790
Could you please try your code with the head?

[2017-02-16 18:59] asimshankar commented on #7565
Closing this out as it seems to be more suited for stackoverflow (where it seems [your question has been answered](http://stackoverflow.com/questions/42244666/how-to-build-static-libraries-and-linkthem-to-a-c-project-in-linux-platform/42257312#42257312)).

We try to keep the github issues focused on bugs and feature requests and prefer any "support" questions go to stackoverflow.

Thanks for under

[2017-02-16 18:59] #7565 closed

[2017-02-16 19:04] abhijithchunduru opened #7590 "Tutorials on Estimators, Canned Estimators"
Hi,
I checked out the tensorflow dev-summit yesterday and came to know about Estimators and Canned Estimators. Estimators and Canned Estimators are intended to bring simple model-data wrapping capability to tensorflow, I believe. However, I am not able to find a lot of tutorials/docs on the interface for an estimator or documentation on how to write Canned Estimators/Estimators. tf.contrib.learn h

[2017-02-16 19:09] jhseu commented on #7482
Removing records is pretty infeasible without rewriting. I'm not sure we'd want to design the format with that feature, because we're typically optimizing for sequential reads and writes.

Additionally, certain filesystems (e.g., GCS, HDFS) don't allow in-place modifications, so it wouldn't be generally useful.

[2017-02-16 19:09] #7482 closed

[2017-02-16 19:20] jhseu commented on #7227
Fixed at Bazel head.

[2017-02-16 19:20] #7227 closed

[2017-02-16 19:30] aselle commented on #7469
Don't worry abou tit @soloice, glad you got things working.

[2017-02-16 19:34] aselle commented on #7570
You need to write shape inference routines in C++. This is part of moving more functionality into core c++ so other language bindings are more useful.  You can search the code for `.SetShapeFn` to see a bunch of examples. It is done through named constructor  argument idiom by providing a C++11 lambda function. Post back if you need more help.

[2017-02-16 19:35] vrv commented on #7570
https://www.tensorflow.org/extend/adding_an_op#shape_functions_in_c should help too.

[2017-02-16 19:38] victorv commented on #2940
This is still a common problem on OS X 10.11.5 / 10.11.6 as we have new team members following the instructions at https://www.tensorflow.org/install/install_mac

The solution is to create a link in /usr/local/cuda/lib with 'sudo ln -s /usr/local/cuda/lib/libcuda.dylib /usr/local/cuda/lib/libcuda.1.dylib'

[2017-02-16 19:45] s-lee opened #7591 "Virtualenv setup returns ImportError"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
http://stackoverflow.com/questions/42274018/virtualenv-setup-returns-importerror?noredirect=1#comment71721085_42274018

### Environment info
Operating System: OS X El Capitan 10.11.5

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If

[2017-02-16 19:45] bazinac commented on #7150
Update here, I have found out that quantization does not just corrupts my second output layer, but messes with first one as well. It seems that after quantization, classifing tends to favor just one category no matter what you feed it. Therefore I think something is definititelly wrong with quantize_weights transform (as user @Bruczzz in issue #7523 is hitting exactly same problem). Now when he is

[2017-02-16 19:45] avader906 commented on #2916
S-Caffe state of the art implementation details - including CUDA IPC / NCCL, GPUDirect RDMA  in the context of hybrid MPI + CUDA RDMA aware application using 160 GPU multi-host system.

http://dl.acm.org/citation.cfm?id=3018769

[2017-02-16 19:46] concretevitamin commented on #7483
@liangwang the reason is simply that, the design of `SparseTensor` already hardcodes the associated shape as `tf.int64` [1], so any downstream ops that consume these objects assume likewise as well.

[1] https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/sparse_tensor.py#L59

[2017-02-16 19:53] panyx0718 commented on #7444
I would suggest you wait until the release. It would be great if you can further verify the fix. Thanks!

[2017-02-16 19:59] concretevitamin commented on #7353
@fesun @mrry great findings!  In response to @mrry's previous hunch on the `SaveV2` issue, we recently pushed a patch to the master branch that `OP_REQUIRES_OK` the `writer.Add(Slice)` calls, so hopefully the checkpoint writing path has become more robust (or easier to debug).

[2017-02-16 20:06] mranosa commented on #37
+1 pweeettyyy pwease!!!

[2017-02-16 20:15] dchirikov commented on #7543
Seems like [this is it](
https://github.com/tensorflow/tensorflow/blob/r1.0/third_party/gpus/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc.tpl#L230).

[2017-02-16 20:46] agarwal-ashish commented on #7590
Here are some pointers to get started:

https://www.tensorflow.org/get_started/tflearn
https://www.tensorflow.org/tutorials/wide
https://www.tensorflow.org/tutorials/wide_and_deep
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/learn/python/learn#existing-estimator-implementations

[2017-02-16 20:58] ferrouswheel commented on #7374
@mrry Nice - I'm glad our Boost hiccup will help speed up the tensorflow build :-)

[2017-02-16 21:11] Baschdl commented on #7582
Did you remove files related to tensorflow? Is your code correct?
You maybe wanted to use the method `tf. subtract` instead of `tf.sub`[https://www.tensorflow.org/api_docs/python/tf/subtract]( https://www.tensorflow.org/api_docs/python/tf/subtract)

[2017-02-16 21:13] aselle commented on #7573
Without a minimal reproducible test case, we will be unlikely to be able to help you further. However, the most common cause of this is that your run() call is blocking on queues.

See e.g.
https://github.com/tensorflow/tensorflow/issues/2788

[2017-02-16 21:17] yliu120 commented on #6572
This problem may be caused by the rpc timeout. Bazel has such a problem with some type of Java Runtime. It maps all processes it spawned to a single core of your machine. So all threads will run slow and at some point, the bazel server will experience a RPC timeout and shutdown.

To fix this problem:
1) Use --batch mode instead of server/client mode of Bazel. add --batch --batch_cpu_scheduling as

[2017-02-16 21:19] yaroslavvb commented on #7573
Unresponsive to CTRL+C is suspicious. Is it possible to kill it using `kill`? I've seen unkillable TF training caused by 1) stuck IO (ie, trying to write to NFS when net is down) 2) Nvidia driver (it gets stuck sometimes). Both can be troubleshooted by looking at the stuck call in `/proc/<pid>/stack`.

[2017-02-16 21:22] nknudde commented on #7573
@javdrher and I can kill it, but no CTRL+C response, I'll look into your suggestions, thank you.

[2017-02-16 21:22] dbuendiab commented on #1258
It works with TF v0.12.1
![image](https://cloud.githubusercontent.com/assets/3029862/23041760/52a7a074-f496-11e6-907c-d36a0f73e812.png)

[2017-02-16 21:31] aselle commented on #7558
Closing as this is a dupe of #7552

[2017-02-16 21:31] #7558 closed

[2017-02-16 21:32] aselle commented on #7552
@yifeif, @mrry, @gunan, could you take a look.

[2017-02-16 21:35] bhack commented on #22
What are the difference between the sycl development effort and XLA targetting SPIR-V other than PTX in the middle term vision?

[2017-02-16 22:16] liangwang commented on #7483
@concretevitamin , yes, it is hard-coded. But would this be considered a bug, since it will fail by specifying shapes with immediate numbers (like the first example I listed in the original post)?

[2017-02-16 22:22] TrisDing commented on #7500
I see the same issue using the raw win32 interpreter. However, it's working for me in python IDLE (Shell)

[2017-02-16 22:32] yifeif commented on #7552
@GreenKing please see [this page](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md) for the binary URLs. Does "pip install --upgrade https://storage.googleapis.com/tensorflow/windows/gpu/tensorflow_gpu-1.0.0-cp35-cp35m-win_amd64.whl" or rename work for you?

[2017-02-16 22:52] Carmezim commented on #7500
@TrisDing TensorFlow on Windows is only compatible with 64-bit OS and Python distribution.

[2017-02-16 22:57] shtoshni opened #7595 "Shape inference issues after running dynamic_rnn"
I am trying to use dynamic_rnn in the encoder part of seq2seq library. I am using a placeholder for encoder input with dimensions [None, None] to reflect dynamic batch size and time steps.

The problem is that the output that I get after the dynamic_rnn run has unknown shape along time dimension which causes issues when I try to use it along with attention. I have been able to overcome it by using

[2017-02-16 23:11] MikalaiDrabovich commented on #22
What a great question. Probably - the number of people involved? Would be very interesting to know!

[2017-02-16 23:17] yaroslavvb commented on #7595
cc @ebrevdo who has substantial experience with it (he'll probably ask you to upgrade to TF 1.0 first)

[2017-02-16 23:30] ebrevdo commented on #7595
Sounds like your encoder inputs have unknown batch_size and time_steps,
right?  But you expect dynamic_rnn to "fill in" the unknown time_steps?
Since time_steps are not known at graph build time, you cannot fill it into
the static shape, even if you use reduce_max.  the result of reduce_max is
a Tensor, which you cannot use to set static shape.

It sounds like the attention mechanism wants a stati

[2017-02-16 23:46] shtoshni commented on #7595
Thanks for such a quick response !
You are right that the dynamic_rnn can't fill in the unknown time steps but really it should stop at max of seq_len and can thus, fill in this dimension (am I expecting too much ?).
Yeah the attention mechanism currently requires the size of input to be known. Thanks for the heads up about the new version. But how are you guys planning on handling this. Is it a m

[2017-02-16 23:48] dandelionmane commented on #2050
@lethienhoa
1. Try putting dev's summaries in a different sub-directory.
2. Try launching TensorBoard with --reload_interval=5 or some similar smaller value. Then pushing the refresh button (in top right corner) should get you new data more regularly.

[2017-02-16 23:52] dandelionmane commented on #6479
Hmm, I think the installation should happen in the pip package setup, rather than in Bazel.
I suspect either [this file](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/pip_package/setup.py) or something else in the pip_package directory.

@vrv care to comment?

[2017-02-16 23:54] vrv commented on #6479
Honestly, I'd prefer this live as a nice external repository we point to, which we can link to somewhere.

[2017-02-17 00:01] dandelionmane commented on #6479
If it's in an external repository, would we depend on it and install it by default, or would this be only for people who really really care about bash completion and go through the work of installing it themselves?

[2017-02-17 00:04] dandelionmane commented on #7089
Sorry, you can no longer use the summary ops to put both summaries in the same plot.
If you want to work around this limitation, you can generate the Summary protocol buffers yourself, and then manually add them to the summary.FileWriter. But it's cumbersome.

(Why do you have two sequences which are different nodes, but should be displayed in the same plot? Why not run test and train data through

[2017-02-17 00:04] #7089 closed

[2017-02-17 00:05] dandelionmane commented on #7302
Reassigning to @dsmilkov and @chihuahua for graph visualizer expertise.

@carlthome, please post a full reproduction, including code that generates a bad graph, and the .pbtxt (or event files) that will repro

[2017-02-17 00:06] dandelionmane commented on #6879
I'm going to add support for this back in, hopefully this quarter. Hang tight.

[2017-02-17 00:08] dandelionmane commented on #7274
@KaixiangLin You can find the smoothing logic [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tensorboard/components/vz_line_chart/vz-line-chart.ts#L432)

[2017-02-17 00:09] dandelionmane commented on #7039
@yuvval Try changing the resolution on the display. Or you can submit a pull request that reduces the space needed by the UI on the left :)

[2017-02-17 00:10] dandelionmane commented on #4354
Yeah, this is a regression in the pip package. It still works inside Google.

[2017-02-17 00:11] dandelionmane commented on #4355
@cancan101 Why do you need open in new tab? Why not just use the "true size" and "maximize image" buttons?

[2017-02-17 00:23] ebrevdo commented on #7595
Yup you're expecting too much :)  the dynamic_rnn will stop at the max of
seq_len, but that max can change from one minibatch to the next!  So it's
also not known.

The new attentional mechanism should be able to handle an unknown sequence
length; we'll keep this in mind as we're designing it.

On Thu, Feb 16, 2017 at 3:47 PM, Shubham Toshniwal <notifications@github.com

[2017-02-17 00:35] nroth1 commented on #5289
Hi, sorry for the delayed response. I don't believe the freeze correlated to high memory usage. I have recently upgraded to tensorflow 1.0, so will write back with more details if the problem reproduces itself.

[2017-02-17 00:36] lukeiwanski commented on #22
@bhack That would be a great discussion to be had at yesterday's TensorFlow Dev Summit

Do you ask about the resources available / type of programmers needed to contribute?

If so, in OpenCL/SYCL approach C++ programmers / OpenCL C programmers can quickly be brought up to speed and be able to contribute. XLA approach requires a compiler / llvm experience.

XLA is Google's internal project by exten

[2017-02-17 00:43] aselle commented on #7538
Also #7544

[2017-02-17 00:43] aselle commented on #7538
This is now fixed.

[2017-02-17 00:43] #7538 closed

[2017-02-17 00:43] aselle commented on #7544
This is now fixed. Thanks for reporting it.

[2017-02-17 00:43] #7544 closed

[2017-02-17 00:49] primetang commented on #7570
Here is a temporary solution:

previous version：
[code]

version 1.0.0:
[code]

[2017-02-17 00:51] vrv commented on #7570
Please don't do that -- if https://github.com/smallcorgi/Faster-RCNN_TF/blob/master/lib/roi_pooling_layer/roi_pooling_op_grad.py#L7 is the shape function, it's very easy to implement in C++.

[2017-02-17 00:52] primetang commented on #7570
Thank you very much, I will implement it in C++.

[2017-02-17 00:52] KaixiangLin commented on #7274
Thank you.

[2017-02-17 00:59] vrv commented on #7570
Here is what the function could look like (edited in github, so no idea if it works).

[code]

[2017-02-17 01:05] bhack commented on #22
I think that is correct and partially will depend in which direction the semiconductors producers will be oriented.
"These backends emit the LLVM IR necessary to represent the XLA HLO computation in an efficient manner, and then invoke LLVM to emit native code from this LLVM IR." So [LLVM IR could be converted to SPIR-V](https://github.com/KhronosGroup/SPIRV-LLVM). But Opencl SPIRV dialect it is [

[2017-02-17 01:08] bhack commented on #22
/cc @dneto0

[2017-02-17 01:31] mrry commented on #7547
Can you try changing this line in your code:

[code]

...to the following:

[code]

...and let us know if that works?

[2017-02-17 01:40] yangyu12 commented on #7569
I've encountered the similar problem.
My environment is Ubuntu 14.04.5 LTS, cuda 8.0 and cudnn 5.1. I use python 2. When I run the sample code in tensorflow/tensorflow/examples/tutorials/layers/cnn_mnist.py, the error is as following:

Traceback (most recent call last):
  File "cnn_mnist.py", line 162, in <module>
    tf.app.run()
  File "/net/yangy/anaconda/lib/python2.7/site-packages/tensorflow/

[2017-02-17 01:44] bxshi commented on #4535
Any updates on this? Thanks!

[2017-02-17 01:54] #7576 closed

[2017-02-17 01:55] aselle commented on #7577
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-17 01:55] #7577 closed

[2017-02-17 02:08] adalq opened #7599 "cuda::Diagnostician::FindKernelDriverVersion tries to access /proc/driver/nvidia/version on Windows"
Windows 10 64 bit
CUDA 8.0
cuDNN 5.1
tensorflow_gpu 1.0.0

### problem is here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/cuda/cuda_diagnostics.cc#L345

### the other place which opens the file is disabled on Windows:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/cuda/cuda_diagnostics.cc#L143

### Logs or other output that wou

[2017-02-17 02:10] snnn commented on #7576
Hi @mrry, no particular seasons, my mistake. I copied the code from somewhere that I didn't understand fully. Thanks for your explanation.

[2017-02-17 02:11] llhe opened #7600 "[Discussion] model intellectual property protection"
Usually for mobile devices (or any devices which are publicly accessible) model deployment, there is a requirement for IP protection. Obviously, the current protobuf format is not desirable.

XLA can be a great help which will result in binary/so which is difficult for reverse engineering, but the current emphasis is mostly on performance improvement. For example, XLA does not cover the case when

[2017-02-17 02:20] suharshs commented on #4535
@mrry is working on some input pipeline stuff that should make this obsolete. So assigning to him. For now , continue to use the workaround provided here: http://stackoverflow.com/questions/39204335/can-a-tensorflow-queue-be-reopened-after-it-is-closed

[2017-02-17 02:51] GreenKing commented on #7552
Thank you all, I have fixed this issus using the [nightly build](http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/) wheel.

[2017-02-17 02:53] #7552 closed

[2017-02-17 03:16] hzchenlixin commented on #5827
how to solve the problem?
ValueError: Variable deep_net/blabla/moments_6/moments_1/mean/ExponentialMovingAverage/biased does not exist, or was not created with tf.get_variable(). Did you mean to set reuse=None in VarScope?

[2017-02-17 03:33] aakaashjois opened #7602 "Error importing TensorFlow in Jupyter Notebook"
I am unable to import TensorFlow in Jupyter Notebook. I have attached the error log at the end of the post. I am able to import the CPU Version of the TensorFlow with no issue. I am also able to import TensorFlow in Python Console launched from Terminal. The path to python executable is same in both Console and Jupyter Notebook (`sys.executable` gave the output as `/Users/Aakaash/miniconda3/bin/py

[2017-02-17 03:35] karl596 commented on #5036
Hvass-Labs的教程非常出色。请提供他要求的MetaGraph等。

[2017-02-17 03:36] liuyichaosoftware opened #7604 "the use of MultiRNNCell?"
doc is in https://www.tensorflow.org/tutorials/recurrent

I found the line
stacked_lstm = tf.contrib.rnn.MultiRNNCell([lstm] * number_of_layers,

I need to use MultiRNNCell

but,I write those lines

a = [tf.nn.rnn_cell.BasicLSTMCell(10)]*3

print id(a[0]), id(a[1])

Its output is 4648063696 4648063696

can MultiRNNCell use the same object BasicLSTMCell as a list for parameter?

[2017-02-17 03:38] Caspain commented on #5036
Please support. Give the required files

On Feb 16, 2017 7:36 PM, "karl596" <notifications@github.com> wrote:

[2017-02-17 03:52] tfboyd commented on #7553
Good catch and sorry for the omission.  I will get it added back in a couple of days.

[2017-02-17 03:58] tfboyd commented on #7549
As you noticed fused has not been added to core.  Using the version of `layers.batch_norm` in contrib is the correct approach currently.  The feature will be added to core.  Leaving issue open until it is added.  I am excited that you looked at the guide.  I/We will be adding more "tips" in the near future.  Thank you for the feedback.

[2017-02-17 04:04] tfboyd commented on #7551
Thank you for the high level of detail.  Your table testing the different options is great.  I will come up with some additional wording for the data format section in relation to fused batch norm.  This is very helpful feedback.

[2017-02-17 04:10] yuanbyu commented on #6087
@gongbudaizhe, I think I have long submitted a fix to your problem. Let me know if you still see a problem.

[2017-02-17 04:15] krautt commented on #7358
Anyone know of a version that will compile with both GPU support and work with the current version of TFLearn?

[2017-02-17 04:59] yuanbyu commented on #6087
@ffmpbgrnn, the problem with your program is that slim.batch_norm() is created in the loop body so the update_ops of batch_norm can't be used outside of the loop. (We don't allow a control edge from an op inside the loop body to an op outside the loop.)

Those update ops are completed by the time that `result` is completed. So all the control dependency logic for them is probably not needed.

[2017-02-17 05:03] shiyemin commented on #7582
Release Note of V1.0.0:

tf.mul, tf.sub and tf.neg are deprecated in favor of tf.multiply, tf.subtract and tf.negative.

[2017-02-17 05:06] yuanbyu commented on #6209
I would consider it not a bug. So I will close it for now.

[2017-02-17 05:06] #6209 closed

[2017-02-17 05:09] yuanbyu commented on #7146
I think that this has been fixed in the HEAD. Re-open if it is not the case.

[2017-02-17 05:09] #7146 closed

[2017-02-17 05:09] gongbudaizhe commented on #6087
@yuanbyu  Sorry, I was working on something else after coming across this bug. I just checked the snippet reproducing the bug and now it works smoothly in TensorFlow 1.0.

Thank you!

[2017-02-17 05:09] #6087 closed

[2017-02-17 05:20] dancing80s commented on #6381
I was interested in your idea.
I tried to build  source code of "ipdcode/tensorflow", but I could not build it.
`
Virtual Status AddOnlineWorker(CallOptions* call_options,...
`
It does not seem to be possible to build because there is no implementation of this function.
I wonder if any corrections are not enough...

[2017-02-17 05:31] wangg12 commented on #7569
@yangyu12 The API has been changed to learn.MetricSpec(...) in tf 1.0.0

[2017-02-17 05:57] burness opened #7609 "Maybe a bug: Different eval step between CPU and GPU"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
ubuntu 14.04
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

`-rw-r--r-- 1 root root   322936 Aug 16  2015 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Aug 15  2015 /usr/local/cuda/lib64/li

[2017-02-17 05:58] BhagyeshVikani commented on #842
Hi!
We have done some work on this and implemented the algorithm for convolutional neural networks visualization described in http://www.cs.nyu.edu/~fergus/papers/zeilerECCV2014.pdf and something similar to https://github.com/yosinski/deep-visualization-toolbox but using Tensorflow instead of caffe. However, we are not yet familiar with the TF codebase/ API to integrate it into the ImageSummary ta

[2017-02-17 06:01] jmchen-g commented on #7376
The _replica_id should no longer be in the file though... It is a variable used in the old optimizer...

[2017-02-17 06:05] undertherain opened #7610 "3D convolutions unnaturally slow on CPU"
3D convolutions on CPU seem unnaturally slow.
I can't use GPU due to memory limit, so I'm looking at CPU execution.

2D convolutions in TensorFlow seem to be well-optimized, all CPU cores are used, performance is just few times below GPU.

With 3D convolutions - the difference is orders of magnitude.

Also, I've compared with Theano. Theano 3D convolutions run on single core but still are 10 times

[2017-02-17 06:11] darshanmaiya commented on #7376
This issue no longer exists in version 1 of tensorflow.

[2017-02-17 06:17] siftr opened #7611 "How to associate more than one labels with an image in TFRecord file for training purpose?"

[2017-02-17 06:54] shtoshni commented on #7595
As it turns out, it was just a matter of avoiding certain reshape operations. So I just replaced those by expand_dim operations and things are working fine now.

Using dynamic_rnn in encoder and raw_rnn in decoder, I was able to avoid the bucketing shenanigan. Again, thanks for the help and I will close this issue.

[2017-02-17 06:54] #7595 closed

[2017-02-17 07:03] markhkim opened #7613 "build failed"
Build fails with
[code]
but succeeds with
[code]

I have used the following configurations:
[code]

on the following system:

- **Operating System**: Debian Sid
- **Installed version of CUDA and cuDNN**:
[code]
- **The commit hash (`git rev-parse HEAD`)**: b6f16b8166e3a7761f607be66d46acbd37dfaf43
- **The output of `bazel version`**:

the build command
[code]
fails with the following error message:

[2017-02-17 07:30] r4nt commented on #7542
Ok, so between your ls (which looks correct) and your bazel builds something invalidates the repository configuration.
You can see that the file in your error message:
"external/local_config_cuda/crosstool/error_gpu_disabled.bzl"
does not even exist before.

Does your /local/cvsupport get deleted by your logout / su?
Specifically, can you run the same ls command you posted above right before you d

[2017-02-17 07:32] r4nt commented on #7543
Yep, that looks like the problem then - I believe the wrapper script shouldn't completely cut the old path.

[2017-02-17 07:32] yangyu12 commented on #7569
Thank @wangg12 , it helps to solve my problem.

[2017-02-17 07:34] butu5 commented on #7500
I too faced the same issue. After installing nightly build, error gone. Now getting below warnings:-

C:\WINDOWS\system32>python
Python 3.5.2 (v3.5.2:4def2a2901a5, Jun 25 2016, 22:18:55) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

2017-02-17 13:01:59.790943: W c:\tf_jenkins\home\workspace\nightly-win\device\cpu\os\windows\tensorflow\

[2017-02-17 07:52] xiatian122 commented on #7459
Thanks.

[2017-02-17 07:52] #7459 closed

[2017-02-17 08:03] abred commented on #7089
ok.

Well, I do run test and train data through the same part of the graph. Not sure what you're getting at, maybe I'm on the wrong track here, but I want to calculate the accuracy for training batches and for the test set und plot these, I can't use a single scalar summary for that right? What I want is something like this: http://cs231n.github.io/assets/nn3/accuracies.jpeg

[2017-02-17 08:28] XiaolongMeng opened #7615 "tfdbg Dump root directory does not exist"
I run
python -m tensorflow.python.debug.examples.debug_mnist --debug
on my laptop.which has windows 10 and gtx1070.but after I type first run,it return an exception like this:
Traceback (most recent call last):
  File "d:\Anaconda3\lib\runpy.py", line 184, in _run_module_as_main
    "__main__", mod_spec)
  File "d:\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "

[2017-02-17 08:41] abhijithchunduru commented on #7590
I have checked these. I wanted more of a how-to for writing your own estimator

[2017-02-17 08:54] abhijithchunduru opened #7616 "Change device Placement of existing variable"
How do I change the device placement of a tf.Variable() ?
I tried two methods
[code]
I tried enforcing variable reuse by using tf.get_variable_scope().reuse_variables()
[code]
This time, I get an error saying the variable 'a' did not exist in the gpu.

Any help on changing-device-placement or lazy-device-assignment would be appreciated. Thanks

[2017-02-17 09:20] hustcat commented on #4713
Stop ps server gracefully is a requirement when run distributed training with [kubernetes batch job](https://kubernetes.io/docs/user-guide/jobs/). Anyone can write a detail demo base on [mnist_replica](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/dist_test/python/mnist_replica.py)? @mrry @jart

[2017-02-17 10:01] YiMX commented on #7456
@yaroslavvb Thanks very much! I am not familiar with memory and GPU, could you please be more specific about how to implement it?

[2017-02-17 10:11] bottiger opened #7618 "Windows 7 build problem. "Release" folder is missing from protoc.exe path"
I'm trying to build tensorflow 1.0 on windows 7, using cmake.

I have generated the project, but when I try to build it I get this error:

The output logs says:

What I noticed is that it's looking for protoc.exe at the location: `protobuf\src\protobuf\\protoc.exe` and I can confirm that the real location is: `protobuf\src\protobuf\Release\protoc.exe`

The double \\ makes it seem like the path was

[2017-02-17 10:31] tkngoutham commented on #5043
Hi @aselle  and @asimshankar  I have run the same model yesterday on new 1.0 release of tensor flow . even then its throwing the same error. I did n't use tcmalloc , I will definitely try , but also I would like to mention that I am using legacy_seq2seq instead of new one. So please suggest should I carry on with legacy models or do I need to use new one along with tcmalloc. If I need to use new o

[2017-02-17 10:32] bottiger commented on #7618
Nevermind - I found the issue.

I did not add -DCMAKE_BUILD_TYPE=Release as a cmake argument.

[2017-02-17 10:32] #7618 closed

[2017-02-17 10:52] dchirikov commented on #7542
Seems like something in `bazel build` invalidates the cache:
[code]

[2017-02-17 10:59] AlvinChen13 opened #7619 "Are there any restrictions for TF r1.0 to support C++?"
The previous versions need generate graph by python firstly. For 1.0, based on the doc, we can construct the graph by c++.

Is the C++ supporting totally the same as python now?

[2017-02-17 11:40] charlienash commented on #4638
I'm having a similar error to @Fenugreek:

[code]

gives an error:

[code]

This is using version 1.0.0. Thanks.

[2017-02-17 11:51] carlthome commented on #7604
Yes, you'll get separate trainable weights by repeating the list like you're doing. It's a bit confusing to be honest. You should have asked this [here](https://groups.google.com/forum/#!forum/tensorflow) though.

[2017-02-17 11:58] carlthome commented on #7602
Could you run `env | grep LD_LIBRARY_PATH` in your terminal and share the output?

[2017-02-17 12:00] carlthome commented on #7616
This is not a bug, right? Make a thread on StackOverflow and people will want to answer! :smiley:

[2017-02-17 12:02] carlthome commented on #7611
Ask on StackOverflow with the tag #tensorflow: http://stackoverflow.com/questions/tagged/tensorflow

[2017-02-17 12:26] jameslem commented on #7500
# Validate tf installation

## Windows CMD

C:\Windows\system32>python
Python 3.5.3 (v3.5.3:1880cb95a742, Jan 16 2017, 16:02:32) [MSC v.1900 64 bit (AM
D64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

2017-02-17 20:00:30.151037: W c:\tf_jenkins\home\workspace\nightly-win\device\cp
u\os\windows\tensorflow\core\platform\cpu_feature_guard.cc:45] The TensorFlow li

[2017-02-17 12:28] smar10 opened #7620 "Tensorboard Embedding with t-SNE Crash"
When I run t-SNE on my datasets (on smallest or bigger one) with tensorboard embedding , the app crash all the times (after thereabout 500 iterations). I can't re-run or stop the operation to change the parameters, the iteration number freeze and the other functionalities on embedding part crash also.

Anyone have the same problem ? Other curiosity is if I run on [online tensorboard](http://projec

[2017-02-17 12:47] r4nt commented on #7542
Just talked with @damienmg, and he told me that at your bazel version if you restart the bazel server, you invalidate the repository. If your logout / su commands kill the server, the next bazel build will re-fetch, which would lead to the exact problem you describe. That hopefully will be fixed with the next bazel release.

[2017-02-17 12:56] siftr commented on #7611
Thanks. I got that working. Closing this.

[2017-02-17 12:56] #7611 closed

[2017-02-17 12:59] prabhant opened #7621 "After installation error"
getting error after running

hello = tf.constant('Hello, TensorFlow!')
sess = tf.Session()
print(sess.run(hello))

E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core
\framework\op_kernel.cc:943] OpKernel ('op: "BestSplits" device_type: "CPU"') fo
r unknown op: BestSplits
E c:\tf_jenkins\home\workspace\release-win\device\cpu\os\windows\tensorflow\core
\framework\op_ker

[2017-02-17 13:36] dchirikov commented on #7542
Thank you for the clarification, but origin of the issue is slightly different. Logout came to the picture later.
Initial issue was: run ./configure, fill values and run bazel build. Not sure where 'restart bazel server' is.

[2017-02-17 13:44] pavelbulanov commented on #1122
@soloice , notice, how in about [comment](https://github.com/tensorflow/tensorflow/issues/1122#issuecomment-235928564) the following parameter is used:

Without updates_collections set to None (so mean updates are done in place), I won't expect surrounding layer (e.g. conv2d) to somehow execute tf.GraphKeys.UPDATE_OPS needed for BatchNorm layer to update running mean and therefore be able to do ru

[2017-02-17 13:44] sromano opened #7622 "tf.pad does not support SparseTensor in r1.0"
This works
[code]

But this doesn't work

[code]

The following error is thrown
[code]

My use case is that I'm reading a csv file where each row has a different amount of elements and I want to turn it into a matrix of a fixed length. I use string split in each row and I get a SparseTensor, so then I need a different padding in each row to complete the expected width.

I'm using Python 2.7 and Te

[2017-02-17 13:45] yaroslavvb commented on #7456
@YiMX I think Paul is suggesting to do the following, instead of

[code]
to do this

[code]

The `gpu_0_tensor_moved` is a copy of `gpu_0_tensor` created on `gpu1`, so that now `a+b` works on Tensors on the same device. Do this to enough tensors so that every other operation only works on tensors from the same GPU

[2017-02-17 13:47] yaroslavvb commented on #4713
@hustcat http://stackoverflow.com/questions/39810356/shut-down-server-in-tensorflow/40186129#40186129

[2017-02-17 14:23] kaufManu commented on #7621
Duplicate with https://github.com/tensorflow/tensorflow/issues/7500

[2017-02-17 14:23] r4nt commented on #7542
Ok, but that requires the same debugging step :) Can you do the same set of steps without any logout in between?

[2017-02-17 14:35] abhijithchunduru commented on #7616
here is the link to the stackoverflow question i posted :
https://stackoverflow.com/questions/42300475/change-device-placement-of-an-existing-tensorflow-variable
Thank you

[2017-02-17 14:36] dchirikov commented on #7542
Agree. Just to make sure we are on the same page.

Did as you requested:
[code]

[2017-02-17 14:44] dandarm opened #7623 "Error in pywrap_tensorflow.py after installing succesful tensorflow"
Hello,

trying to install tensorflow in Windows7 without GPU, I follow the guidelines:

I install python 3.5, then:

pip3 install --upgrade tensorflow

import tensorflow as tf

and I obtain the following error:

Traceback (most recent call last):
  File "C:\Users\Utente\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 18, in swig_import_helper

[2017-02-17 14:45] Response777 opened #7624 "tensorflow codes totally different result with PyTorch's"
Hi, I'm new to tensorflow and trying to refactor one of my project originally in (Py)Torch. However, though the two codes has the same network, the same loss function, the same optimizer parameters, the result is totally different. Is any one have any idea about such issue?

Thanks.

[2017-02-17 14:48] kirk86 opened #7625 "tf.train.import_meta_graph should be parallelized"
Hey guys, I've been wondering whether it's possible the `tf.train.import_meta_graph` to be parallelized across multiple cores. When I load a complex model it takes too long and I only see one of my 24 cores being utilized to 100%.

### Environment info
Operating System: CentOS

Installed version of CUDA and cuDNN:
Not applicable

Minimal example:
[code]

Any plans on changing that in the near futu

[2017-02-17 14:58] dchirikov commented on #7543
If I comment out that like it will lead to another issue:
[code]
I think LD_LIBRARY_PATH is being cut somewhere, too.

[2017-02-17 15:02] Nayana-ibm commented on #3527
Thank you for your inputs.
We are setting up machine with all TF dependencies.

I could see Tensorflow supports Ubuntu 14.04 ( Ref: https://www.tensorflow.org/install/install_linux)
however we are planning to build the TensorFlow on RHEL and Ubuntu on s3890x platform.

[2017-02-17 15:20] lethienhoa commented on #2050
Thank you very much for your answer. It worked for the first point ! However, on the second point, though I've tried --reload_interval=1 (minimum int value for this var) but it doesn't speed up too much. I still have to push the refresh button thousands of time...
Do you have any other better ways ?

[2017-02-17 15:23] zhangqianhui commented on #492
@yaroslavvb @asanakoy my program using tensorflow , with the increase of iteration , the consume memory will increase. Can you help me to explain it?

[2017-02-17 15:44] LifeIsStrange commented on #22
http://phoronix.com/scan.php?page=news_item&px=OpenCL-2.0-NVIDIA-Preps
Nvidia should soon support opencl 2.0 on both Linux and Windows, this is YUGE !

[2017-02-17 15:48] acjak commented on #7531
I submitted a PR #7628  with the non-inverse hyperbolic functions added to the header. This is my very first Github contribution, so I am absolutely certain that there are several mistakes.

[2017-02-17 15:49] Iolaum commented on #22
Performance wise it's likely to be slower than CUDA though.

[2017-02-17 15:52] aakaashjois commented on #7602
@carlthome It does not return any output when I run that in the terminal.

[2017-02-17 15:57] bhack commented on #22
Remember also that Noveau guys are working independently on [Opencl with SPIR-V](OpenCL Through SPIR-V) (the status is a little bit outdated but there are fresh commits)

[2017-02-17 16:00] LifeIsStrange commented on #22
Opencl isn't inherently slower than Cuda, it's Just nvidia virtually locking the market by crippling his opencl driver.
But nvidia leading is finally coming to an end and even their ammoral anticompetitives practices will not save them. With the impressive Cuda autotranslator HIP (  https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP)
The upcoming vega apus and dgpus and ARM coming to Windows

[2017-02-17 16:00] mrry commented on #6381
We've discussed this problem within the team, and think we've come up with a design that meets our internal requirements. The basic idea is that we'd move `tf.train.ClusterSpec` from being an argument of `tf.train.Server` to being a configuration option when you create a `tf.Session`. This would let you build clusters on an ad hoc basis, and would remove limitations like requiring all PS tasks to

[2017-02-17 16:03] yaroslavvb commented on #492
@zhangqianhui there are many ways for memory usage to grow without being a bug in TensorFlow, could you please ask it on stackoverflow and email me to link? We are trying to keep this list for problems in TensorFlow itself

[2017-02-17 16:04] mrry commented on #6999
@pavelbulanov Thanks for digging into this. Can you please open a new issue to track this problem? (@petewarden, it looks like there may be a slight issue with your recent change to `cpu_info.cc`.)

[2017-02-17 16:11] yaroslavvb commented on #7625
When I see one core being utilized, my first suspicion is that work is done in Python. Python has chosen to remain in the punch-card age and only use 1 core for its processing, citing GIL issues. So the way to troubleshoot this is:

[code]

This may help you find a bottleneck, possibly something inefficient is being done in Python (I used this technique to speed up session.run from 120 usec to 60

[2017-02-17 16:15] yaroslavvb commented on #7624
This question may be better suited for stackoverflow. In general there's no magic solution short of comparing results line by line -- because there's no standard, neural network primitives have slightly different implementations across frameworks

[2017-02-17 16:20] carlthome commented on #7602
Then TensorFlow is unable to find your CUDA install, most likely. Try adding
[code]
to ~/.bashrc (assuming you're using Ubuntu or Debian), and open a new terminal and try `python -c 'import tensorflow'` and see if it finds CUDA.

Semi-related: https://github.com/tensorflow/tensorflow/issues/2626

[2017-02-17 16:24] kirk86 commented on #7625
@yaroslavvb thanks for the input. I'll definitely have a look into it.

[2017-02-17 16:30] petewarden commented on #6999
Thanks Derek! I'll sync offline about the best way to address this, since our Windows cmake test passed with the original change. I'm guessing there's a slightly different setup here?

[2017-02-17 16:31] yaroslavvb commented on #7625
PS, we also ran into MetaGraph slowness issue, we have to turn it off for reinforcement learning scripts -- https://github.com/openai/universe-starter-agent/blob/master/worker.py#L18

[2017-02-17 16:33] yaroslavvb commented on #7600
cc @tatatodd

[2017-02-17 16:36] aakaashjois commented on #7602
I am using Mac OS and it worked. I had done `export DYLD_LIBRARY_PATH="$DYLD_LIBRARY_PATH:/usr/local/cuda/lib$DYLD_LIBRARY_PATH` following the CuDNN Install Guide provided by Nvidia. I guess that does not work.

Thank you so much for the help!

[2017-02-17 16:40] Carmezim commented on #7500
As the issue is solved it could be closed and a new one opened to track this other problems folks are having.

[2017-02-17 16:41] carlthome commented on #7602
Cool. Have fun building computational graphs! :smile:  Don't forget to close the issue.

[2017-02-17 16:43] aakaashjois commented on #7602
Thank you! Closing the issue now.

[2017-02-17 16:43] #7602 closed

[2017-02-17 16:43] yaroslavvb commented on #7610
cc @daeyun who added conv3d_transpose

(ps: who maintains core/kernels/conv_3d.h  ?)

[2017-02-17 16:45] yaroslavvb commented on #7609
Hi, this list is for bugs in TensorFlow itself, and it's not clear that this is the case here, could you ask on stackoverflow?

[2017-02-17 16:45] vrv commented on #7610
@mjanusz might know, I think he implemented / uses Conv3D, possibly even on CPU.

[2017-02-17 16:54] Carmezim commented on #7623
Please heck the **NOTE** under [Pip Installation on Windows](https://www.tensorflow.org/versions/r0.12/get_started/os_setup#pip_installation_on_windows) and follow up if you still have any doubts. Thanks

[2017-02-17 17:03] #6582 closed

[2017-02-17 17:05] joel-shor commented on #5827
I think this problem should be fixed now. Specifically, in `ExponentialMovingAverage`, `zero_debias=False` by default. If you'd like to experience improved accuracy at the cost of breaking backwards compatibility with old checkpoints, set `zero_bias=True`.

[2017-02-17 17:11] ebrevdo commented on #7595
Got it.  For posterity, can you tell us the original reshape operations and
the new expand_dim versions?  If you can expand_dim and preserve shape,
then presumably the reshape should work too.  This may be a shape inference
bug on our end.

On Thu, Feb 16, 2017 at 10:54 PM, Shubham Toshniwal <
notifications@github.com> wrote:

[2017-02-17 17:19] Response777 commented on #7624
Thanks. However, the result is stable. In fact, I'm training a conditional VAE, and for the  tensorflow model, the category label hardly influence the image generated while the PyTorch's run smoothly. So it is likely that something is going wrong.

Currently, I'm trying to test the model with an older version of tensorflow, and to check is this would only occur in tensorflow 1.0.

[2017-02-17 17:26] aribornstein commented on #7590
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/tutorials/estimators/index.md

[2017-02-17 17:32] yaroslavvb commented on #7624
If you are able to isolate it to a specific operation that does an incorrect result, it would be worth filing an issue with reproduction instructions. I've seen examples of networks not training because of some slight differences in op semantics

[2017-02-17 17:35] soloice commented on #1122
@pavelbulanov It's very kind of you to help me with this! I'll try a smaller value of `decay` to see how this helps.

[2017-02-17 18:07] girving commented on #7358
@krautt Have you tried 1.0?  https://github.com/tensorflow/tensorflow/releases/tag/v1.0.0

[2017-02-17 18:08] shtoshni commented on #7595
I will just describe the parts I modified and the code snippet for that piece.

- attention_states has shape (batch_size, attn_length, attn_size) where attn_length is enc_inp_len
The first 2 dimensions are unknown and that will cause issue with reshaping ops trying to preserve the first 2 dimensions. However, the reshaping operation used in seq2seq below was easily replaceable by the next line.
`h

[2017-02-17 18:22] pavelbulanov commented on #6999
@petewarden, Shall I open a new issue?

This is indeed a different setup, I'm using "new" Visual Studio Build Tools, which are related to Visual Studio 2017. They call it "Build Tools for Visual Studio 2017 RC" in the [download](https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017-rc) section. It's free.

As for the issue, I see [commit](https://github.com/tensorflow/tensorfl

[2017-02-17 18:30] asimshankar commented on #6267
FYI, with TensorFlow 1.0 we've started releasing binary artifacts for the TensorFlow C library in URLs of the form: `https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-${TF_TYPE}-${OS}-${ARCH}-${VERSION}.tar.gz`

For example:
- https://storage.googleapis.com/tensorflow/libtensorflow/libtensorflow-cpu-darwin-x86_64-1.0.0.tar.gz
- https://storage.googleapis.com/tensorflow/libtenso

[2017-02-17 18:32] shtoshni commented on #7595
By the way, since you guys are looking at improving the seq2seq library, there is one mathematical inaccuracy in current implementation.
- The attention mechanism currently considers the whole padded input.
- Even though the padded input won't contribute to context vector due to **0** output vector corresponding to it, it does reduce the probability mass of the actual inputs as it is part of the `

[2017-02-17 18:49] raghakot commented on #5688
I am having the same issue as well

[2017-02-17 19:12] poxvoculi commented on #7456
Actually what I'm suggesting is this:

Instead of
with tf.device("gpu:0"):
    a = Foo()
    with tf.device("gpu:1"):
        b = Bar()
        c = Baz(a, b)

Do
with tf.device("gpu:0"):
    a = Foo()
    a_copy = a + 0.0
    with tf.device("gpu:1"):
        b = Bar()
        c = Baz(a_copy, b)

The idea being to create an immediate one-time-use, read-only copy of any value that's going to be used

[2017-02-17 19:16] nroth1 commented on #5289
I am able to reproduce the issue on version 1.0, and will follow up with more details. Thanks again for all your time!

[2017-02-17 19:19] cancan101 opened #7630 "Poor Constant Propagation"
Running on the 1.0.0 Docker image.

Compare this:
[code]
to:
[code]
It seems to me that constant propagation should happen in the latter. This leads to size information being lost in certain cases such as image upsampling / downsampling where constant size is multiplied and then fed to something like `resize_images`.

[2017-02-17 19:29] cancan101 opened #7631 "FEATURE: Tensorboard Scalars: Simple Way of Setting y axis to start at 0"
I have a number of scalars that I plot in tensorboard that are non negative values (ie accuracy, etc). It would be cool if there was a quick way to have the y axis start at 0 rather than allocating unused space in the negative y direction.
![image](https://cloud.githubusercontent.com/assets/51059/23080071/7b1aa63c-f51d-11e6-8ae0-82bbf299a01f.png)

[2017-02-17 19:51] petewarden commented on #6999
Thanks for the update @pavelbulanov ! It's helpful to know this is broken with the new build tools, and opening a new issue on this would be useful.

[2017-02-17 20:02] weiliu620 opened #7632 "max_pool3d does not support float16(half)"
I'm using version 0.12.1 on Ubuntu 14.04 LTS 64 bit. Here is the minimal example I run to find the error:

[code]

The I got error:

[code]

If I use ```dtype = tf.float32```, there is no error. ```max_pool3d``` python docstring says it supports half precision, but why ```dtype = tf.float16``` does not work?

[2017-02-17 20:22] esemi77 opened #7633 "file not found: -lcublas.8.0"
I am trying to install tensorflow w/ GPU from Source on Mac OS X El Capitan. (CUDA 8.0 & cuDNN 5.1)

After wrestling with LYLD_LIBRARY_PATH [#6729](https://github.com/tensorflow/tensorflow/issues/6729), I ran
`bazel build --config=opt --config=cuda --action_env PATH --action_env LD_LIBRARY_PATH --action_env DYLD_LIBRARY_PATH  //tensorflow/tools/pip_package:build_pip_package`

But, it generates an

[2017-02-17 20:36] krautt commented on #7358
Yes it worked but didn't seem to play well with the tflearn stuff i was doing. I compiled the head of the 0.12 branch and it's working for me.  Thanks.

[2017-02-17 20:48] matteson opened #7634 "Setting import_scope on import_meta_graph causes error for attached metagraph file"
Using the attached meta file:
[code]
results in:
[code]
I'm trying to remap the input so I can do image space optimization with a library that assumes the network input is (width, height, channels). Loading doesn't error if I load without the input_map and import_scope keyword arguments; however, this causes problems for the library I'm interacting with. Setting import_scope alone does cause an er

[2017-02-17 21:10] girving commented on #7358
@krautt In case it's useful: there's a good chance that everything you want is still there, just possibly in a different namespace.  There was a bunch of code movement right before 1.0, since after 1.0 we've promised not to move things for quite a while (unless it's in `tf.contrib`).

[2017-02-17 21:21] ZijiaLewisLu opened #7635 "Inconsistent in r.12 doc"
Hi, in the doc of r.12, the api for tf.split is
`tf.split(split_dim, num_split, value, name='split')`

yet, the real api is changed to
`tf.split(value, num_split, ... )`

[2017-02-17 21:32] mveeneman commented on #4110
I had an old version of bazel as well, because my brew on OSX 10.12.3 needed upgrading:
[code]

[2017-02-17 21:40] #7635 closed

[2017-02-17 21:57] micahstubbs commented on #842
@BhagyeshVikani that sounds cool! wrapping what you have in a Polymer custom element might be a good strategy. Eager to hear an official answer from the TensorBoard team

https://www.polymer-project.org/1.0/

[2017-02-17 21:59] micahstubbs commented on #842
@BhagyeshVikani @dandelionmane did mention a future [TensorBoard plugin format](https://twitter.com/micahstubbs/status/831948453395599360) recently at #TFDevSummit.

when that plugin format is published, I imagine that's the way to go

[2017-02-17 22:10] mrry commented on #7500
Thanks @Carmezim :), and @Franck-Dernoncourt for confirming that this is fixed in the nightlies.

I'm going to close this issue because the original problem has already been solved, and lock it for new discussion. Please open a new issue if you still have problems!

[2017-02-17 22:10] #7500 closed

[2017-02-17 22:13] anirudh2290 opened #7636 "Snap package for tensorflow"
It would be nice to have a snap package for tensorflow. https://snapcraft.io/
The advantage is that it is easy to install and supports multiple distributions.

[2017-02-17 22:22] weiliu620 commented on #734
I have the same error if my input image size is too large for a convnet model. So it might be related to the out of memory issue.

[2017-02-17 22:22] AkioShiba commented on #7560
Hi ammarasmro,

It works perfectly fine for me, I tried the following commands and no errors came out of this.

      curl -O http://download.tensorflow.org/example_../images/flower_photos.tgz
      tar xzf flower_photos.tgz

I don't see where lies the problem.

[2017-02-17 22:36] whitebread commented on #64
Solved it via @ateixeiramunoz 's comment

[2017-02-17 22:39] mrry commented on #7477
I'm not sure what's a possible action is here... or what the utility of a new class hierarchy would be. There's already a way to register serialization and deserialization functions for custom graph-collection objects using [`register_proto_function()`](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/framework/ops.py#L4219), so perhaps you could use that? I don't think there

[2017-02-17 22:43] mrry commented on #7529
Since you're running the GPU version, have you ensured that `%CUDA_HOME%` is set, and the CUDA and cuDNN DLLs are in your `%PATH%`?

[2017-02-17 22:43] chidochipotle opened #7637 "iris_monitors.py broken in release r1.0 due to inacurate MetricSpec namespace"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-17 22:43] aselle commented on #7490
@petewarden or @concretevitamin, could you give a pointer.

[2017-02-17 22:45] aselle commented on #7456
@YiMX , let us know if @poxvoculi's suggestion solves your problem. Thanks!

[2017-02-17 22:45] Franck-Dernoncourt opened #7638 "Links to Android nightly builds on README.md are broken"
Links to Android nightly builds on https://github.com/tensorflow/tensorflow/blob/master/README.md are broken.

![image](https://cloud.githubusercontent.com/assets/15331/23086006/c80cc702-f538-11e6-927d-d44b1f5f80e2.png)

-->
![image](https://cloud.githubusercontent.com/assets/15331/23086019/d91aa082-f538-11e6-9d76-7e56cd879900.png)

[2017-02-17 22:47] aselle commented on #7515
Cool! Could you prepare a pull request and contributing it back to core?

[2017-02-17 22:49] aselle commented on #7521
@mrry, do you have any ideas? You could try using perf top to find out what those threads are actually doing. Perhaps it is something else you are doing rather than tensorflow itself?

[2017-02-17 22:52] aselle commented on #7523
@cwhipkey, could you take a look?

[2017-02-17 22:52] aselle commented on #7524
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-17 22:53] aselle commented on #7514
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-17 22:53] #7514 closed

[2017-02-17 22:55] aselle commented on #7560
try this:
[code]

[2017-02-17 22:58] aselle commented on #7560
This will push to the docs early next week as well. Thanks!

[2017-02-17 22:59] aselle commented on #7526
Closing since the pull request is tracked already. Thanks for the contribution.

[2017-02-17 22:59] #7526 closed

[2017-02-17 23:01] aselle commented on #7600
This is not really a feature request but rather a discussion topic. This is more appropriate for the tensorflow discuss google group. Thanks!

[2017-02-17 23:01] #7600 closed

[2017-02-17 23:01] aselle commented on #7599
Please take a look @mrry. Thanks!

[2017-02-17 23:01] sandeep-krishnamurthy opened #7639 "nnbnrnhnvjb"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-17 23:02] aselle commented on #7609
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-17 23:02] #7609 closed

[2017-02-17 23:02] sandeep-krishnamurthy commented on #7639
Please ignore.

[2017-02-17 23:02] #7639 closed

[2017-02-17 23:03] aselle commented on #7604
@ebrevdo, do you think we should change the docs in some way to make it clearer?

[2017-02-17 23:10] aselle commented on #7591
Maybe try a different directory as your virtualenv dir i.e.
[code]
maybe you have some already existing tensorflow dir that is conflicting.

[2017-02-17 23:11] #7591 closed

[2017-02-17 23:13] aselle commented on #7619
You should be able to author a graph, but you cannot automatically compute gradients which is the major limitation of not using python to construct the model.

[2017-02-17 23:13] #7619 closed

[2017-02-17 23:14] aselle commented on #7621
Thanks for pointing this out as a dup @kaufManu .  I'm closing it since #7500 is resolved in nightlies.

[2017-02-17 23:14] aselle commented on #7621
d

[2017-02-17 23:15] aselle commented on #7622
Did this work for you  previously?

[2017-02-17 23:19] aselle commented on #7613
Do you have g++ installed. What happens if you type `g++` at the prompt?

[2017-02-17 23:25] ebrevdo commented on #7604
This is indeed confusing and hopefully next week we'll have a push (over a
month in the making) that disallows this behavior.  It's a bit out of scope
of this bug to describe why this behavior is the way it is, but it's been
the TF standard for a long time.  But after this change, you'll have to
write:

MultiRNNCell([BasicLSTMCell(10) for _ in range(3)])

otherwise you will get an error when calli

[2017-02-17 23:26] aselle commented on #7616
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-17 23:27] #7616 closed

[2017-02-17 23:27] jurastm commented on #5036
@karl596 tensorflow 刚出了 v.1.0.
最新版应该有metagraph

[2017-02-17 23:30] chidochipotle commented on #7637
Needs many more changes to work, iris_monitors.py seems to be is totally broken with r1.0 I am just too newbie to understand what's wrong ...

After fixing a couple of more inaccurate imports I get lots of warnings when I run it:

[code]

[2017-02-17 23:30] ebrevdo commented on #7595
Thanks!  Forwarded these two notes (one on slicing to andrew; the other to
a collaborator working on attention).

On Fri, Feb 17, 2017 at 10:32 AM, Shubham Toshniwal <
notifications@github.com> wrote:

[2017-02-17 23:31] mrry commented on #7521
It's impossible to say for certain without the user program. One possibility is that you have many Python threads that could be doing a non-trivial amount of work (e.g. copying buffers for feeding/fetching) outside the GIL and hence in parallel. These threads would be created outside the `tf.Session` and so would not be limited by the configuration options. Some operations (e.g. `ReaderRead`) crea

[2017-02-17 23:41] mrry commented on #7599
Yep, that looks like a bug in the error reporting path. Should be a simple fix, so I'm marking it Contributions Welcome.

[2017-02-17 23:47] #7637 closed

[2017-02-18 00:09] jsseely commented on #7448
I also get this race condition. The cluster has Red Hat Enterprise Linux 7 and Slurm job scheduler. Using TF 0.12. Creating the directory before submitting the job fixes the problem. But, handling the race condition within `FileWriter` might be beneficial?

[2017-02-18 00:19] suharshs commented on #6268
@kmalakoff Thank you for your offer to help out with our C++ gradients.

Here are some instructions for anyone who wants to help out:

Gradients are currently being ported from
[python](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/ops)
to C++ (in this directory).

Contributions are welcome and much appreciated; please follow the instructions
below.

1.  Create the op grad

[2017-02-18 00:21] suharshs commented on #6268
@malmaud As you said C++ gradient calculation is not currently exposed via the C api; I will look into adding that in the next few weeks. That being said, many ops do not yet have C++  gradients implemented, so the exposed API may break for some unknown ops. In these cases contributions using the above instructions would be much appreciated :)

[2017-02-18 00:23] ebrevdo commented on #7204
Working on the fix now.  Will push either tonight or by Tuesday.

On Wed, Feb 8, 2017 at 11:08 AM, Matt Wytock <notifications@github.com>
wrote:

[2017-02-18 00:44] asimshankar commented on #7633
I suspect you're using bazel 0.4.4. If that is true, you might have to downgrade to bazel 0.4.3.
See #7227 for details, and it seems like it will be fixed in 0.4.5

Let us know if that helps.

[2017-02-18 00:57] markhkim commented on #7613
`g++ --version` gives me the following:
[code]

[2017-02-18 01:33] greenspand commented on #37
+1

[2017-02-18 01:57] esemi77 commented on #7633
Yes, it helps.

Finally, I could build the tensorflow r.1.0. on my mac !! Thank you so much.

[2017-02-18 01:57] #7633 closed

[2017-02-18 02:25] yaroslavvb commented on #7444
@panyx0718 related issue: http://stackoverflow.com/questions/42309202/profiling-tensorflow-using-tfprof (sorry, I'd  cc you on email but couldn't find it)

[2017-02-18 02:28] zhangqianhui commented on #492
@yaroslavvb The key , my mean is CPU memory . not GPU memory.

[2017-02-18 02:39] haosdent commented on #1996
Thanks a lot to @mckelvin , after we clean the compatible issues. http://issues.apache.org/jira/browse/MESOS-5186 is committed to master just now.

[2017-02-18 02:50] klueska commented on #1996
@windreamer https://reviews.apache.org/r/56238/

[2017-02-18 03:00] jcarloseugenio commented on #5536
Hi everyone,
I am looking for some help regarding the same error message. I haven't found the way to downgrade bazel to the version 0.3.2,  I am doing :
root@tensorflow:~# sudo apt-get install bazel=0.3.2
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Version '0.3.2' for 'bazel' was not found

Below is my system configuration:

Tensorflow version:

'1.0

[2017-02-18 03:05] chenleo commented on #7498
Have not solved yet!

[2017-02-18 03:18] sromano commented on #7622
No. I updated from r0.10 to r1.0 to see if it will get solved. But it did not work in any of the two versions

[2017-02-18 03:28] robbiewu007 opened #7640 "ImportError: No module named 'tensorflow.contrib.distributions.python.ops.bijectors'"
I want to run tensorflow 1.0 RC2 on windows 10, but encounter issues #7540, #7500, then follow the suggestion to install Nightly Build version (http://ci.tensorflow.org/view/Nightly/job/nightly-win/DEVICE=cpu,OS=windows/87/artifact/cmake_build/tf_python/dist/tensorflow-1.0.0-cp35-cp35m-win_amd64.whl),  but still encounter the following issue:
=================================
(tensorflow_py35) C:\

[2017-02-18 04:18] mikigom opened #7641 "'LookupError: No gradient defined for operation '...' (op type: ResizeBicubic)' is raised"
I tried to use [tf.image.resize_images](https://www.tensorflow.org/api_docs/python/tf/image/resize_images) with ```method=ResizeMethod.BICUBIC```.

The shorten version of my code is the following:
[code]

Running the above code will result in the following error:
[code]

Thank you for any help.

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
[code]

If installed from

[2017-02-18 04:27] AntonyM55 opened #7642 "v1.0.0 on Centos 7 complie error whith cuda 8.0"
build with --config=cuda get error
[rnd@localhost tensorflow]$ bazel build -c opt --config=cuda tensorflow/tools/pip_package:build_pip_package --verbose_failures
INFO: $TEST_TMPDIR defined: output root default is '/home/rnd/tmp'.
......
WARNING: Sandboxed execution is not supported on your system and thus hermeticity of actions cannot be guaranteed. See http://bazel.build/docs/bazel-user-manual.ht

[2017-02-18 04:28] ansu1234 commented on #2513
can you tell how did you train for flower data set to generate .pb and .txt file. i tried from here https://github.com/tensorflow/models/tree/master/slim to "fine tune a model from an existing checkpoint", and its generating
1. graph.pbtxt
2. model.ckpt-1197.data-00000-of-00001
3. model.ckpt-1197.index
4. model.ckpt-1197.meta
files. I generated .pb file and not able to generate .txt file.

[2017-02-18 05:31] zeroclyy commented on #6235
Hello，There is no such file named CUPTI in 'C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v8.0\extras',and only have file named visual_studio_integration.

[2017-02-18 05:45] zeroclyy commented on #6235
Here is my problem

I d:\build\tensorflow\tensorflow_gpu-r0.12\tensorflow\stream_executor\dso_loader.cc:119] Couldn't open CUDA library cublas64_80.dll
I d:\build\tensorflow\tensorflow_gpu-r0.12\tensorflow\stream_executor\cuda\cuda_blas.cc:2294] Unable to load cuBLAS DSO.
I d:\build\tensorflow\tensorflow_gpu-r0.12\tensorflow\stream_executor\dso_loader.cc:128] successfully opened CUDA library cudnn

[2017-02-18 06:06] achase90 commented on #7556
I'm seeing the same problem.

Here's my python version:
`Python 3.5.2 |Anaconda 4.3.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
`
Pip version is:
` pip 9.0.1`
and the command I'm trying to run:
`pip install --upgrade https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-0.12.0rc0-cp35-cp35m-win_amd64.whl`

And I get the error:
[code]

[2017-02-18 06:16] alexxucui commented on #7556
@achase90 I tried to use the conda install and seems to be fine:
`conda install -c conda-forge tensorflow=1.0.0`

[2017-02-18 07:17] daniellevy opened #7643 "Interaction between tf.map_fn and tf.gradients"
Hi,

I am using Tensorflow v0.11 and I have tried on Mac OS X and Centos 6

I am running into an error when running the following code:

[code]

I basically want to have the following but without a fixed batch size:
`grads = [tf.gradients(h[t], W)[0] for t in range(batch_size)]`

My error is:

[code]

I have tried the following workaround using `scan` instead of `map_fn` with a zero initializer bu

[2017-02-18 07:38] yuvval opened #7644 "Feature request: Save the logging to a file"
According to [this SO question](http://stackoverflow.com/questions/40559667/how-to-redirect-tensorflow-logging-to-a-file), saving the logger output to a file is not supported.

Would be great if that would be possible.

Thank you

[2017-02-18 08:04] zeroclyy commented on #6235
still not working
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\dso_loader.cc:126] Couldn't open CUDA library cublas64_80.dll
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_executor\cuda\cuda_blas.cc:2294] Unable to load cuBLAS DSO.
I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stream_ex

[2017-02-18 08:17] srikant86panda commented on #1013
After installation of Visual C++ 2015 Redistributable it worked for me

[2017-02-18 09:09] AnSharipov commented on #7419
@davideb91 I heave the same problem. Can you please say - which dependencies you set?

[2017-02-18 09:46] das007 commented on #7579
One more broken link at the example at https://www.tensorflow.org/get_started/get_started#tfcontriblearn .

Following command:
input_fn = tf.contrib.learn.io.numpy_input_fn({"x":x}, y, batch_size=4,
                                              num_epochs=1000)

returns following error:
Traceback (most recent call last):
  File "/usr/lib/python3.5/code.py", line 91, in runcode
    exec(code, self.

[2017-02-18 10:11] bhack opened #7645 "CCI Best Practices"
Google is a member of CCI. What do you think to add [CCI badge](https://bestpractices.coreinfrastructure.org) to TF repository?

[2017-02-18 10:16] bhack commented on #309
@martinwicke Any update on Zoo? :tiger: :elephant:

[2017-02-18 10:18] bhack commented on #7636
And http://flatpak.org

[2017-02-18 11:57] botcs opened #7646 "kernel size in contrib.layers.conv2d"
```conv = tf.contrib.layers.convolution2d(x, num_filters, kernel_size=[height, width])```

Resulting in this error:

[code]

[2017-02-18 12:04] botcs commented on #7646
input tensor shape is `<tf.Tensor 'Reshape_3:0' shape=(?, 10, 128) dtype=float32>`

[2017-02-18 12:38] jsawruk opened #7647 "Error when running image retraining example (retrain.py) with --print_misclassified_test_images flag"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

- http://stackoverflow.com/questions/17322668/typeerror-dict-keys-object-does-not-support-indexing
- http://stackoverflow.com/questions/18552001/accessing-dict-keys-element-by-index-in-python3
- http://stackoverflow.com/questions/26693055/dict-key-object-does-not-support-indexing-python-3

[2017-02-18 13:08] zihaolucky commented on #7562
@Baschdl I guess @lhausermann wants the one like http://projector.tensorflow.org/ but allows you to upload your own data.

[2017-02-18 14:09] zhangqianhui commented on #492
I have found the reason , In my program , every iteration will call the function.
the code

[code]

@yaroslavvb  the function will consume my gpu mempry . Do you know why? And how to sovle it ?

[2017-02-18 14:20] kenqrose commented on #7579
@das007 I've the same problem at first. But it's solved after upgrade. Maybe you can have a try.

[2017-02-18 14:32] hauluk commented on #2734
Hello! How do you get rid of these error? It seems I run into the same problem. Maybe you can share your experience ?

[2017-02-18 15:02] oelmekki opened #7648 "GPU: no known devices, despite cuda's deviceQuery returning a "PASS" result"
Hi guys,

Sorry, I know there's already been tons of GPU related issues, but I could not find any that seems to be related to my problem.

The main symptom: when running tensorflow, my gpu is not detected ([the code being run](https://gist.github.com/oelmekki/cafda411bf5c2ea695d984fa98e0995b), and [its output](https://gist.github.com/oelmekki/77235c6b0dde99b3438f190eb557f40f)).

What differs from

[2017-02-18 15:07] Prakash19921206 opened #7649 "cuDevicePrimaryCtxSetFlags not found"
Hi all,
i tried running [Darkflow ](https://github.com/thtrieu/darkflow)with following argument
`python flow --model cfg/yolo.cfg --load bin/yolo.weights --demo camera --gpu 1.0`

got below output

[code]

i'm using python 3.5, windows 7(64bit), tensorflow (v1.0 installed via pip) with gpu support, cuda v8, cudnn v5
i'm having NVidia GeForce 210 video card, have installed latest graphic driver

no

[2017-02-18 16:14] botcs commented on #4022
what to do then if I have a SequenceExample which is parsed, and evaluates to sequences like:
[1, 2, 3, 5, 6]
[1, 5, 1, 1]
[9, 9, 1, 5, 6, 7, 7, 8, 4]
etc.

[2017-02-18 16:42] nvdanh81 commented on #5949
@mrry 👍 Thanks very much!

[2017-02-18 17:15] leakyrelu commented on #7493
Error was caused by a bug in git, fixed by modifying gen_git_source.py

[2017-02-18 17:15] #7493 closed

[2017-02-18 17:27] sherrysack commented on #6063
maybe I am so also running into some version trouble, tensorflow is 1.0.0, tflearn is 0.2.2, but have trouble running such code
regression = tflearn.regression(linear, optimizer='sgd', loss='mean_square',
                                metric='R2', learning_rate=0.01)
m = tflearn.DNN(regression)

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda2\envs\python35\lib\site-packages\t

[2017-02-18 17:27] yaroslavvb commented on #7443
I've added a couple of things (buildifier, clang-format) to original reply. I'll keep merging in extra things I come across in there until there's a better place

[2017-02-18 18:27] zd3nik opened #7651 "AttributeError: 'module' object has no attribute 'Default' (revisited)"
### Issue

[code]

### Existing issues
Already found issues: #5344 and #5319 but neither provides a solution to the problem - that I could see (perhaps I just missed it somewhere)

### Environment info
Operating System: Linux Mint 17.3 Rosa

### Reproduction details
First I built tensorflow from git source, branch r1.0.

[code]

No apparent problems encountered during the build.  This resulted in

[2017-02-18 18:34] seerdecker opened #7652 "Provide a working way to shut up warnings"
These messages appear whenever I run my program.

W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE3 instructions, but these are available on your machine and could speed up CPU computations.

Now, I don't care that Tensorflow wasn't compiled to use SSE3 instructions, or AVX, or whatever. I don't want to see these messages. I also don't want to r

[2017-02-18 18:39] vrv commented on #7652
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/logging.cc#L117

Try setting the environment variable
[code]
to filter out INFO and WARNING logs.

[2017-02-18 18:39] #7652 closed

[2017-02-18 18:41] yaroslavvb commented on #7652
As a general approach for filtering out uninteresting TensorFlow messages, it may be useful to run TF scripts as

`tf.sh myscript.py`

where `tf.sh` does

[code]

[2017-02-18 18:44] yaroslavvb commented on #7648
As a shot in the dark, maybe try TF 1.0 and look at output of verbose logging

`export TF_CPP_MIN_LOG_LEVEL=1`

There's also `export TF_CPP_MIN_LOG_LEVEL=2` but that can be 100's of MBs of output

[2017-02-18 18:49] seerdecker commented on #7652
Thanks for the help. Yeah, I know I could filter out messages like this, that's what I meant by playing stderr games. But it's a pain.

The environment variable trick works. I'd suggest plugging that directly into tf.logging(), or at least documenting it somewhere, to be user-friendly. I did a search prior to reporting the problem. At least this bug will get indexed so it might help other people.

[2017-02-18 18:55] yaroslavvb commented on #7652
The flip-side of this, is that if people don't see these warning, they may end up filing performance bugs (I get 3x speed-up on large matrix multiply when shutting up the warnings by adjusting TensorFlow build -- https://github.com/tensorflow/tensorflow/issues/7257#issuecomment-277456370)

[2017-02-18 19:02] yaroslavvb commented on #7630
I vaguely remember similar issues being fixed by modifying `constant_value` function. One possibility is that it works for tf.constant(15), but gives up when it sees a tf.mul

[2017-02-18 19:02] seerdecker commented on #7652
I get that, but they already went out of their way by changing tf.logging.set_verbosity(tf.logging.ERROR). I'm fine with warnings by default, but there ought to be documented way to get rid of unwanted messages. Just like compiler warnings. Maybe something like tf.logging.set_perf_reports(0).

[2017-02-18 19:02] vrv commented on #7652
Would https://github.com/tensorflow/tensorflow/compare/master...vrv:master make you happy?

[2017-02-18 19:03] seerdecker commented on #7652
Yep!

[2017-02-18 19:06] vrv commented on #7648
This is a question that should be posted on StackOverflow -- can you post it there and link us?

[2017-02-18 19:06] #7648 closed

[2017-02-18 19:25] Carmezim commented on #7556
It seems a problem with the Anaconda distribution and not TensorFlow build itself.
@achase90 Could you try with `conda install` as @alexxucui pointed?

[2017-02-18 19:42] achase90 commented on #7556
Thanks for the help, yes, it fixed it.

[2017-02-18 19:53] essamgoda opened #7653 "failed call to cuInit: CUDA_ERROR_UNKNOWN"
when i run tensorflow gpu my gpy is gt 620m
linux mint 18.1
[code]

[2017-02-18 19:57] boyuzhangus commented on #7647
I got similar problem. When I was running bazel build tensorflow/examples/image_retraining:retrain
, it said '-bash: bazel: command not found' for my macOS. I actually ran ./configure again but it doesn't work.

[2017-02-18 20:29] #7646 closed

[2017-02-18 21:12] yaroslavvb commented on #7030
@josh11b suggested this op is not a good target for user-op because it would require opening up Allocator API. Made a tracking issue here https://github.com/tensorflow/tensorflow/issues/7581

[2017-02-18 21:14] persiyanov commented on #7403
@girving @alextp Hi guys. I want to contribute something to tensorflow and I think this issue is good starting point for me. Could someone to push me in right direction?

I've followed the tutorial on creating new op in TF, so I have "some" knowlegde about the core of the library.

[2017-02-18 21:19] Carmezim commented on #7556
This can be closed now.

[2017-02-18 21:44] aertoria commented on #5514
For folks that needs a complete answer: user the code below as is:
`sess.run(tf.initialize_all_variables())`

[2017-02-18 21:51] cancan101 opened #7654 "Feature: Tensorboard Starts with all Runs Toggled Off Initially"
Currently the initial load /  full page refresh of tensorboard starts on the scalars tab with all runs toggled on for rendering. If there are a lot of runs in the logdir, the browser hangs for a noticeable period of time while all of the charts for the runs are rendered. I suggest making the initial load have runs off and letting the user opt in / turn on the desired set of runs.

[2017-02-18 21:56] ebrevdo commented on #4022
Csaba, this issue is closed.  Please ask your question on StackOverflow.

Short answer is: you can use the approach here (tf.train.batch with
dynamic_pad=True), or you can use
tf.contrib.training.bucket_by_sequence_length with dynamic_pad=True.

On Sat, Feb 18, 2017 at 8:15 AM, Csaba Botos <notifications@github.com>
wrote:

[2017-02-18 22:00] cancan101 commented on #7630
Should be solvable by adding a case to [`_ConstantValue`](https://github.com/tensorflow/tensorflow/blob/a0d784bdd31b27e013a7eac58a86ba62e86db299/tensorflow/python/framework/tensor_util.py#L577) (this can be used for any binary operator). This is rough solution, might not handle various tensor types quite right:
[code]

[2017-02-18 22:20] aselle commented on #7624
In addition to @yaroslavvb suggesting we need a reproducible test case, please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. We ask for this in the issue submission template, because    it is really difficult to help without that information. Thanks! You could also try with and without GPU.

[2017-02-18 22:22] aselle commented on #7630
I think ideally, XLA and other more general optimization efforts will handle some of this better constant folding. CCing @prb12 for comment. I'd hate to have to put special cases like that in every Tensor, especially since that optimization would only benefit the python bindings and not any other languages.

[2017-02-18 22:23] aselle commented on #7638
@yifeif, @gunan, could you take a look?

[2017-02-18 22:25] aselle commented on #7636
@martinwicke , do we have any plans for package distribution through other than pip means. I know ubuntu/Debian was a non-starter for various reasons. We certainly would be happy to accept contributions by the community in this area as package maintainers.

[2017-02-18 22:29] aselle commented on #7642
We don't officially support CentOS. Some people have managed to get it to work with the cmake build file. Please search existing issues.

[2017-02-18 22:30] aselle commented on #7643
@yuanbyu, do you have any ideas? @daniellevy , could you try 1.0, please and see if this is still a problem.

[2017-02-18 22:30] cancan101 commented on #7630
The issue that I am dealing with _is_ on the Python side, where the shape information gets lost when calling `resize_images` with something like `2x` the current size, etc.

[2017-02-18 22:31] aselle commented on #7644
Could you just use unix style file redirection?
i.e.
[code]

[2017-02-18 22:32] aselle commented on #7645
@martinwicke, have we considered this?

[2017-02-18 22:36] aselle commented on #7641
Not every operation in TensorFlow has a gradient defined. Often this is because these operations are not used during training loops and instead are used for preprocessing. In general, image operations are often done with bilinear for performance reasons, but also because bilinear defines the gradient. We likely will not add this any time soon, but you could easily add it yourself by looking at how

[2017-02-18 22:45] jsawruk commented on #7647
@boyuzhangus: That's a separate issue. It sounds like you either a) don't have bazel installed correctly or b) you have bazel installed correctly but it's not in your path. On my computer, bazel is in $HOME/bin, so I added the following to my .profile:

`export PATH="$PATH:$HOME/bin"`

If you continue to have issues after you have bazel properly installed, please file a separate issue unless you a

[2017-02-18 22:48] aselle commented on #7550
Yes, the keras needs to be updated since this is renamed to stack in tf 1.0.
@fchollet, what's the best way to handle this?

[2017-02-18 22:48] andrewharp commented on #7638
This looks like a bad merge. The nightly-matrix-android link can be deleted, and the correct links to nightly-android are found just below.

[2017-02-18 23:02] standy66 commented on #7166
Currently I am using [extras_require](http://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) in setup.py
[code]
The problem here is that if user does not specify which version of package he/she wants, i.e. like this `my_package[tf_gpu]`, tensorflow won't be required. But I think at least it is better then not specifying tensorflow

[2017-02-18 23:11] hunkim commented on #3810
@haosdent I really like your gitbook. Are you planing to update your gitbook peridcoally? It seems your gitbook is not updated to TF 1.0 documents.

[2017-02-18 23:38] standy66 opened #7656 "tf.sparse_placeholder does not accept fully specified shapes"
When I try to construct `tf.sparse_placeholder` with fully specified shape, like this
[code]
I get

[code]

But when the shape is not fully specified, it is doing OK

[code]

I don't think that's the desired behaviour here. As a workaround for now I dropped the shape altogether in my code, but this way I cannot ensure runtime correctness of values being fed in feed_dict.

### Environment info
Oper

[2017-02-19 00:34] prats226 opened #7657 "is_jpeg function only detects JFIF and not EXIF jpeg images in decode_image()"
I am using tf.image.decode_image() function to dynamically decode jpeg, png or gif on the fly. However inside decode_image(), it checks if passed tensor if jpeg image using this condition:

`is_jpeg = math_ops.equal(substr, b'\xff\xd8\xff\xe0', name='is_jpeg')`

EXIF files have a marker of 0xff*e1*, JFIF files have a marker of 0xff*e0*. So all code that relies on 0xffe0 to detect a JPEG file will

[2017-02-19 00:50] una-dinosauria commented on #7448
Running
[code]
does get rid of the race condition -- or, rather, let's linux handle the race condition, and that fixes my particular problem.

I agree with @aselle that it'd be super nice to have TF handle this internally though.

[2017-02-19 00:50] saman-aghazadeh opened #7658 "Optimizer var_list does not have effect on the excluded variable!"
I have written piece of TensorFlow code which has two optimizers and I would like to exclude specific variables from being updated while calling "run" on any of these optimizers. As suggested by the TensorFlow documentation, I have specifically generated a list of variables to be updated for each optimizer, like below:

[code]

The training functions in the mnist object is defined as:L

def traini

[2017-02-19 01:03] essank opened #7659 "'NoneType' object has no attribute 'keys' in version 1.0"
I was trying to run tensorflow in docker. The command was this:

[code]

I put the error I got in the log

### Environment info
Operating System: OS X

2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.
version 1.0

### Logs or other output that would be helpful
[code]

[2017-02-19 01:06] daniellevy commented on #7643
Yes the problem still occurs with v1.0 with the same error message.

[2017-02-19 01:16] caisq commented on #7615
Thanks for reporting this issue. I can reproduce it in 1.0.0 on Windows. It appears that this is because the core/debug module was not linked for the Windows cmake build (despite the fact that it is built for the Windows bazel build, but cmake is the one used in building the release binary). I'll fix it and the fix will be reflected in nightly builds and the next release. Sorry about the inconveni

[2017-02-19 01:19] sunsided commented on #851
@rwightman May I humbly ask you to provide another wheel for the r1.0 stable version?

[2017-02-19 02:01] girving commented on #7403
@persiyanov You shouldn't need to create any new ops.  Instead, you'll need to write a more functional version of the registered gradient function at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_grad.py#L334

It may help to look at other gradient-of-derivative registrations, such as https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/math_gra

[2017-02-19 03:53] microtony commented on #7659
`Image directory '/tf_files/flower_photos' not found.`
You don't have the flower_photos directory. Therefore images cannot be loaded resulting in a NoneType.
You can download the images from http://download.tensorflow.org/example_images/flower_photos.tgz

[2017-02-19 04:31] codeloverr opened #7660 "Failed to build with optimization flag AVX2"
**OS : Ubuntu 16.041
CPU : Intel i7 6700k**

Which supports avx2.0.

I am trying to install Tensorflow from sources.
What I am doing
`./configure
Please specify the location of python. [Default is /usr/bin/python]:
Please specify optimization flags to use during compilation [Default is -march=native]: AVX2
Do you wish to use jemalloc as the malloc implementation? (Linux only) [Y/n] y
jemalloc enab

[2017-02-19 04:46] aselle commented on #7630
Sorry for the confusion. Yes, it looks like it would be good to propagate these cases into constantvalue, especially if they are happening in common functions. Could you please provide a PR. You might consider it checking for all binary operators that it can be done on in a generic way.

[2017-02-19 04:52] aselle commented on #7448
@una-dinosauria, it's unlikely that this will be done by us in the short term or long term, but feel free to contribute a PR to TensorFlow. Thanks!

[2017-02-19 05:00] aselle commented on #7556
Thanks @Carmzim and @alexxucui.

[2017-02-19 05:00] #7556 closed

[2017-02-19 05:01] aselle commented on #7561
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-19 05:01] #7561 closed

[2017-02-19 05:02] aselle commented on #7562
@dandelionmane, could you comment on the stackoverflow issue please http://stackoverflow.com/questions/41643365/standalone-tensorflow-projector
however, I am going to close the issue here since it is more of a stackoverflow question I think. Thanks everybody.

[2017-02-19 05:05] aselle commented on #7582
Also, if you have code that is failing like this, you can try to upgrade the code using the upgrade script we provide to change calls to the 1.0 versions
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/compatibility
Fix the python traceback first and then see if your other errors remain. Thanks!

[2017-02-19 05:06] aselle commented on #7581
@zheng-xq , making you the owner of this issue.

[2017-02-19 05:08] aselle commented on #7554
@ilblackdragon , @martinwicke, could you please take a look at this issue! Thanks!

[2017-02-19 05:13] aselle commented on #7569
@ebrevdo, could you take a look please?

[2017-02-19 05:20] vrv commented on #7630
If you do this in python, you might also want to implement the same logic in this C++ function: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/common_runtime/shape_refiner.cc#L356 (with tests) -- it's possible in C++ the else clause already handles this case, whereas in python it doesn't, but it would be good to make sure they are consistent.

[2017-02-19 05:31] aselle commented on #7653
Could you google search this error and try to follow some of the advice. For example, this error appears here
https://github.com/tensorflow/tensorflow/issues/2882
1. One thing is you could have no permissions to run on the GPU as a user (you could try sudo)
2. Make sure nvidia-smi works
3. try some of the  cuda demos and make sure they work to narrow it down from being just a GPU install/configure

[2017-02-19 05:33] aselle commented on #7651
Did you try pip install --upgrade protobuf within the virtualenv or outsisde of it. I usually do it inside the virtualenv and that resolves that problem. Thanks

[2017-02-19 05:36] aselle commented on #7649
(not an expert but...) I believe GeForce 210 is a very old graphics card. It only supports (I believe) compute version 1.2. You probably won't have any luck except compute level 3.0 and above. @zheng-xq, could elaborate.

[2017-02-19 05:38] aselle commented on #7647
@jsawruk, that is definitely a python 2 print statement. Sorry about that. Your fix changed it to the print function, which is the right thing to do. Could you please submit a pull request to fix that. Thanks so much!

[2017-02-19 05:41] aselle commented on #7643
It looks like this is a known issue and this issue is probably a duplicate of #3972. There @yuanbyu suggests using tf.while_loop instead of tf.map_fn. Give that a try and let us know if that works. Thanks!

[2017-02-19 05:43] aselle commented on #7640
Are these problems present if you try TensorFlow 1.0 (newer than RC2)?

[2017-02-19 05:50] aselle commented on #7632
@martinwicke , it is confusing the doc generator gives all the possible types of tensors all the time, even when we don't have kernels registered.

@weiliu620 , thanks for reporting this. We should definitely at least update the documentation. If you would like to provide float16 functionality for maxpool3d that would be great. But we are likely not to get to it anytime soon. Thanks!

[2017-02-19 05:54] aselle commented on #7622
Yes, unfortunately, it is difficult to support every operation for sparse tensors, and currently it is only supported by a few special ops. With the current sparse form this is unlikely to be a super efficient operation, since to produce paded values, you'd need random access to access values for a gather based approach to producing padded values. It's definitely possible, but we haven't found a n

[2017-02-19 05:57] aselle commented on #7657
Good catch. Could you submit a PR that replaces the check as
[code]
(that's a little more conservative than your 3 byte check, but it is in the same spirit.) Thanks so much!

[2017-02-19 06:09] aselle commented on #7659
@essank, let us know if @microtony's suggestion worked. Thanks @microtony!

[2017-02-19 06:12] flyfj opened #7661 "any pretrained models for tensorflow 1.0?"
Now that TF has been updated to 1.0 with all the high-level apis, are there any supported pretrained models that are compatible with the new interfaces?

[2017-02-19 06:12] aselle commented on #7620
Not sure you are the right person to ask, @dsmilkov, but could you  please take a look at this?
Thanks so much in advance!

[2017-02-19 06:15] aselle commented on #7613
@jart, do you have any ideas on this?

@markhkim. It seems like you are using unstable debian, so it is not something we officially support.
See these for more information.
https://github.com/tensorflow/tensorflow/issues/3550
http://stackoverflow.com/questions/38017982/gcc-error-trying-to-exec-cc1plus-execvp-no-such-file-or-directory-on-cent

[2017-02-19 06:18] aselle commented on #7590
@aribornstein's answer seems to answer the question completely. If you have a specific implementation question about a specific algorithm, this is best asked on StackOverflow. Unless you think there is a bug in the documentation or the code. Thanks so much!

[2017-02-19 06:18] #7590 closed

[2017-02-19 06:19] Response777 commented on #7624
The code can be viewed at https://github.com/Response777/Tensorflow-VAEs.

The tensorflow code's generated result of conditional VAE is in [Tensorflow-VAEs//misc/condition_generated_imgs/cvae-mlp-mnist/](https://github.com/Response777/Tensorflow-VAEs/tree/master/misc/condition_generated_imgs/cvae-mlp-mnist)

While the PyTorch's is in [Tensorflow-VAEs/PyTorch/CVAE.py/](https://github.com/Response77

[2017-02-19 06:24] Response777 commented on #7624
The PyTorch and Tensorflow network shares the same network structure.
And I use the same loss function, the same Optimizer, the same learning_rate.

And I have checked the weights initializer of tensorflow.contrib.layers.fully_connected and PyTorch's torch.nn.modules.linear.

Now, the tensorflow's layer is using variance_scaling_initializer(factor = 0.3, mode = 'FAN_IN', uniform = True), which is

[2017-02-19 06:26] aselle commented on #7660
AVX2 is not an optimization flag. Use `-mavx2`

[2017-02-19 06:26] aselle commented on #7660
MAVX2 is not an optimization flag. You need to make sure what you are passing there works on your compiler. Try `man gcc` to see valid flags. For MAVX2 you need `-mavx2`. Thanks!

[2017-02-19 06:27] aselle commented on #7661
The previous trained models should actually work. The GraphDefs produced previous to 1.0 should be still loadable by 1.0 since none of the deprecated ops actually have been removed.

[2017-02-19 06:28] yaroslavvb commented on #7624
Can you isolate the difference to a specific op? (Ie it's not clear if this
is caused by a bug, or by difference in op semantics which is not a bug)

On Feb 18, 2017 10:20 PM, "Tianjian Jiang" <notifications@github.com> wrote: