[2018-02-02 18:40] mrry commented on #16629
There's no way to do that right now. The `tf.RunMetadata` interface isn't ideal for capturing this kind of information, because a `Dataset` transformation might contribute to 0, 1, or multiple different runs, and it may happen asynchronously with any of them. The transformations produce events for a tracing interface that captures fine-grained execution information, but this interface is [currentl

[2018-02-02 18:44] drpngx commented on #16684
That's a really old version. I don't think we update the old docs.

@MarkDaoust can confirm.

[2018-02-02 18:50] shmilyhh commented on #15129
@zwergon Can you tell me how you add the "-lrt" field? Thanks.

[2018-02-02 18:52] drpngx commented on #16688
You probably want to use `set_requested_device` that is to implement [`tf.device`](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/c/python_api.cc#L45).

This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-02 18:52] #16688 closed

[2018-02-02 18:54] akhti opened #16703 "tf.contrib.rnn.GLSTMCell is hilariously broken"
In 3f579020bab8f00e4621e9c7c740cbf13136a809 an "if" was added that caches linear transformation weights:
https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/contrib/rnn/python/ops/rnn_cell.py#L2316

The problem is that this _linear is inside a loop. And so the change tied weights of all these linear transformations.

CC @okuchaiev

[2018-02-02 18:55] ewilderj commented on #15886
@ahendry2688 thanks for your hard work! The good news is that we also now have a forum where this would be really appropriate to share, and perhaps you might want to help out with the work of the group. Please check out https://groups.google.com/a/tensorflow.org/forum/#!forum/tf-distribute for more details!

[2018-02-02 19:06] hqm commented on #16684
Is there someplace newer I should be looking for a tutorial on SyntaxNet?

On Fri, Feb 2, 2018 at 1:47 PM, drpngx <notifications@github.com> wrote:

--
Henry Minsky

[2018-02-02 19:07] gunan commented on #16424
@jart FYI, you may want to bump bleach version in tensorboard dependencies.

[2018-02-02 19:11] drpngx commented on #16646
You can use `tf.trainable_variables()` to get all the trainable variables in your graph, assuming that what you want. Then you can use `session.run` to retrieve their value if you want get the actual values.
You probably want to use `tf.variable_scope` to share variables.

[2018-02-02 19:11] drpngx commented on #16646
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-02 19:11] #16646 closed

[2018-02-02 19:14] brainnoise commented on #16620
You can use fit_generator with Python data generators to train data in batches. Search for fit_generator [here](https://keras.io/models/sequential/). You can also refer this Keras [issue](https://github.com/keras-team/keras/issues/107).

[code]

[2018-02-02 19:15] #16620 closed

[2018-02-02 19:19] drpngx commented on #3851
@slothkong please ask this question on stackoverflow.

[2018-02-02 19:23] davidparks21 commented on #16343
I've implemented this process using map functions by splitting large files into filename/index pairs so as to specify a subset of the file to read in each map call. This was not a trivial task. A final sample solution can be found on stack overflow below. I continue to believe that Dataset should be extended to better support this workflow.

https://stackoverflow.com/questions/48471688/using-tenso

[2018-02-02 19:30] eisenjulian commented on #16466
Should I just submit a PR? Or bringing back the plugin code to `contrib.tensorboard`  is not a good idea? @tatianashp

[2018-02-02 19:32] yongtang commented on #14601
@yzhwang @gunan I created a PR #16705 to update the Eigen library to `2355b229ea4c`. Please take a look.

[2018-02-02 19:50] ThomasColthurst commented on #16692
@nataliaponomareva

[2018-02-02 20:04] hackbink commented on #16654
`
# Parse the bazel version string from `native.bazel_version`.
def _parse_bazel_version(bazel_version):
  # Remove commit from version.
  version = bazel_version.split(" ", 1)[0]

  # Split into (release, date) parts and only return the release
  # as a tuple of integers.
  parts = version.split("-", 1)

  # Turn "release" into a tuple of strings
  version_tuple = ()
  for number in parts[0].spli

[2018-02-02 20:05] hackbink commented on #16654
You may want to return tuple of integers from _parse_bazel_version(), instead of tuple of strings.

[2018-02-02 20:21] FlorinAndrei commented on #5729
@petewarden Assume you're new to TensorFlow. Look at the Install page on the main TF website https://www.tensorflow.org/install/ How would you figure out there is actually an officially supported release for RPi?

This issue was created in the hope that the RPi version would gain the same status as the other versions. This is not the case as of now. It seems to me like the definition of "fixed" is

[2018-02-02 20:29] magee256 opened #16707 "Can't initialize an all zero SparseTensor"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Kind of?
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac 10.12.6 (not relevant)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: v1.5.0
- **Python version**: 3.6.3
- **Bazel version (if compiling from

[2018-02-02 20:31] #14601 closed

[2018-02-02 20:51] #16697 closed

[2018-02-02 20:53] shmilyhh commented on #16697
Finally installed the tensorflow:
#15129
#13413
#7268
https://docs.bazel.build/versions/master/output_directories.html

[2018-02-02 21:20] martinwicke commented on #16646
You should use init_from_checkpoint to set directly from the checkpoint. But as @drpngx said, the details are best resolved on StackOverflow.

[2018-02-02 21:29] ringw commented on #781
Thanks Andrew!

Yes, the identity in our representation is [1, 0, 0, 0, 1, 0, 0, 0] which corresponds to the 3x3 identity matrix. Makes sense to add an `identity_projective_transform` helper!

I think we can make `_flat_transforms_to_matrices`, etc, public too. The catch is that the matrix transforms output coordinates to input coordinates, because at each output pixel, we compute the input pixel

[2018-02-02 22:00] Connor323 commented on #15236
Hi all, I had the same issue as @Prajwal1997. My setting is cuda-9.1 with cudnn 7.0. I wonder if there is a way to set TF looking for the right version of cuda, instead of installing cuda 8.0? Thanks!

[2018-02-02 22:13] wujingyue commented on #15412
@drpngx After reading the thread, I guess the right fix is to add something similar to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/tf_python.cmake#L627-L663 for memory_stats. However, I don't have a Windows machine, so I won't be able to verify my fix. Any ideas?

[2018-02-02 22:13] parag2489 commented on #15722
@ahundt Why will you call [tf.image.per_image_standardization()](https://www.tensorflow.org/api_docs/python/tf/image/per_image_standardization) to bring the image from `[0, 255]` to `[0, 1]`? Why shouldn't we just cast the image as `float` first and then divide by `255`? Then subtract 0.5 and multiply by 2. You will get an image that has values lying in `[-1, 1]`. This is followed in Keras Incepti

[2018-02-02 22:16] tatianashp commented on #16424
I updated bleach dependency in the internal version. It should propagate to github in a day or two.

[2018-02-02 22:22] drpngx commented on #15412
Can this be written as a test? If so, it's great because we can check moving forward and also it will run on windows as part of our battery of tests.

[2018-02-02 22:46] sunilnj commented on #8535
Thanks, @reedwm  for very useful info.
I have one follow-up, but may not be specific this issue.  I have following code which works well with single precision (fp32 or fp16). This will not work with mixed precision. Could you pls. provide me some pointers here? I'll step out if I am deviating the flow...
[code]

[2018-02-02 22:47] tatianashp commented on #16466
Let's get the opinion of tensorboard people first. @jart Any thoughts?

[2018-02-02 22:48] aisuni commented on #8535
Thanks, @reedwm  for very useful info.
I have one follow-up, but may not be specific this issue.  I have following code which works well with single precision (fp32 or fp16). This will not work with mixed precision. Could you pls. provide me some pointers here? I'll step out if I am deviating the flow...
[code]

[2018-02-02 23:04] VeLKerr commented on #15236
Hi all,
I have the similar problem. I have CUDA 8.0.61 with CudNN 5.1.10 but Tensorflow is searching CUDA 9:
```ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory```
How I can make Tensorflow understand that I'm using CUDA 8?

[2018-02-02 23:05] drscotthawley commented on #5772
Just found this page. I'm still seeing this error with a fresh nightly tensorflow-gpu on Ubuntu. So, despite the merge, this doesn't look resolved.

[2018-02-02 23:09] reedwm commented on #8535
@aisuni you should cast the regularization losses to fp32 before calling `tf.reduce_sum`. E.g.:

[code]
(Also, you should probably use `tf.add_n()` instead of `tf.reduce_sum()` in this case.)

I recommend reading [this guide](http://docs.nvidia.com/deeplearning/sdk/mixed-precision-training/index.html) for more info, and asking on StackOverflow if you have more questions.

[2018-02-02 23:12] reedwm commented on #16707
/CC @ebrevdo

[2018-02-02 23:14] reedwm commented on #16703
/CC @panyx0718, can you take a look?

[2018-02-02 23:17] reedwm commented on #16629
Assigning to @mrry for implementing the tracing_impl.h interface.

[2018-02-02 23:24] mrry commented on #16629
I doubt I will work on this in the near future.

[2018-02-02 23:25] panyx0718 commented on #16703
Right. this is a bug introduced during a refactoring. Perhaps we should cache one Linear for each group_id.

[2018-02-02 23:25] drpngx commented on #15236
@VeLKerr this is not a configurable setting. You have to use a different version of tensorflow.

[2018-02-02 23:29] reedwm commented on #16703
/CC @asimshankar, can you fix this?

[2018-02-02 23:40] acaprez commented on #15129
I had the same error on CentOS 6.9, but was able to get it to build successfully by adding `-lrt`  to the linking options on lines 267 and 1267 in `tensorflow.bzl`.   A small patch file with the changes is  [here](https://github.com/tensorflow/tensorflow/files/1691141/librt.txt).

[2018-02-02 23:43] tatianashp commented on #5277
It's a custom op with two implementations - OpenMP and Eigen. OpenMP is default.   The code is at https://github.com/ska-sa/montblanc/blob/master/montblanc/impl/rime/tensorflow/rime_ops/phase_op_cpu.h.  Performance gain from using OpenMP is impressive. Thanks for the pointer.

[2018-02-02 23:43] #5277 closed

[2018-02-02 23:50] yazabaza commented on #15604
Seconding bwesons's comment. I have CUDA 8.0 and Tensorflow 1.3. I followed the current install instructions for TF 1.5 (in a virtualenv) and it breaks as described above. Reverting to TF 1.3 until this is resolved.

[2018-02-02 23:55] drpngx commented on #12326
Closing due to inactivity. Hopefully the new version doesn't exhibit that behavior.

[2018-02-02 23:55] #12326 closed

[2018-02-02 23:57] fchollet commented on #16683
This is a simple error: weight loading can't file the cached file for this model.

Your code snippet does work for me, so nothing wrong with the file location in tf.keras. I assume there was an issue when keras downloaded the file locally for you.

Try deleting `~/.keras/models/`. Maybe that will fix it.

[2018-02-02 23:58] drpngx commented on #12824
Is that still happening for you? If so, could you build with ASAN to see if you get more information?

[2018-02-03 00:00] drpngx commented on #12840
Yeah, I think it's a great idea. We'd need to have a good design doc. This also ties in with more ideas that we have internally to make tensorflow have modular packages. CC @gunan @zffchen78

[2018-02-03 00:02] drpngx commented on #12848
We have since released tflite, so closing for now. Let us know if that works for you or if you want us to clarify how it is positioned with respected to RenderScript.

[2018-02-03 00:02] #12848 closed

[2018-02-03 00:02] angersson commented on #16317
Can you provide us with complete error messages and a way to replicate this, e.g. in docker?

[2018-02-03 00:03] VeLKerr commented on #15236
Ok, what version is compatible with CUDA 8.0.61? I'm using the last Tensorflow version (1.5.0).

[2018-02-03 00:04] drpngx commented on #12910
So, essentially, it's working as intended. Variables are not tensors. I know it's confusing.

[2018-02-03 00:04] #12910 closed

[2018-02-03 00:06] angersson commented on #16694
@gunan What should we do to handle this? Wait until 1.6.0?

[2018-02-03 00:07] angersson commented on #14918
@gunan are the ["please run these tests" instructions](https://github.com/tensorflow/tensorflow/blob/master/CONTRIBUTING.md#running-unit-tests) still relevant? Maybe we should get rid of them.

[2018-02-03 00:14] ebrevdo commented on #16707
indices must be a zero-row matrix:

[code]

[2018-02-03 00:14] #16707 closed

[2018-02-03 00:16] ebrevdo commented on #16707
(you can also use `tf.zeros((0,2), tf.int64)`)

[2018-02-03 00:30] drpngx commented on #13160
Nice, closing since there is a solution.

CC @zffchen78

[2018-02-03 00:30] #13160 closed

[2018-02-03 00:40] AustinSong commented on #15604
@aipeteryao This fixed it, thanks!  I ended up uninstalling the latest version and installing 1.4, in my virtualenv.

[code]

The install page for Ubuntu should be updated: https://www.tensorflow.org/install/install_linux
Since TensorFlow 1.5 is expecting Cuda 9.0 ( NOT 9.1 ), as well as cuDNN 7

[2018-02-03 00:54] jart commented on #16424
Yes we'd love to update bleach and html5lib if they're bumped internally, which is easier said than done. Big breaking changes. We ideally need a way to vendor dependencies like these with histories of breakages inside our pip package, cf. `import pip._vendor.…`

[2018-02-03 00:55] jart commented on #16424
See also https://github.com/tensorflow/tensorboard/issues/588

[2018-02-03 00:56] jart commented on #16424
+cc nfelt@ chizeng@

[2018-02-03 00:56] jart commented on #16424
+cc @nfelt  @chihuahua

[2018-02-03 01:03] kprakhya commented on #6956
I am unable to build tensorflow on Ubuntu Linux 16.04. This issue with the nasm website hasn't been fixed yet. Copying and pasting the URL works fine but the build process still says that the site is inaccessible.

[2018-02-03 01:07] raymondxyang opened #16716 "Linker Tools Error encountered when use StepStats"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10.0.16299
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
1.5 release
- **Python version**:
3.5.3
- **Bazel version (if compiling from source)

[2018-02-03 01:11] drpngx commented on #12948
Right, I think we are working on something that might help. Stay tuned.

[2018-02-03 01:14] drpngx commented on #13016
It's hard for us to debug on Windows.

@guschmue does that ring a bell perhaps?

[2018-02-03 01:14] VeLKerr commented on #15236
Ok, I've installed Tensorflow 1.0.1 and it is working correctly!

[2018-02-03 01:16] drpngx commented on #13060
Is that still happening in the latest version? I haven't heard anything recently on that front.

[2018-02-03 01:18] jart commented on #6956
@case540 Last comment raises questions w.r.t. international viability of mirror.bazel.build. Fedora appears to have deleted old NASM source of truth link. We need to find a working failover URL for that tarball that isn't pkgs.fedoraproject.org.

cc: @gunan @martinwicke

[2018-02-03 01:18] drpngx commented on #15236
Woohoo!

[2018-02-03 01:20] drpngx commented on #14306
Could you give us a hint of where this happens? If possible, with the latest source tree, if you could build with ASAN, that would be really nice. I'm assuming that you are seeing this only on GPUs?

[2018-02-03 01:21] drpngx commented on #15735
Same as the other issue, could you try and build with ASAN and give us more information about where it crahes?

CC @protoget Note the related ticket. It could be something to do with the orthogonal initializer.

[2018-02-03 01:23] drpngx commented on #14496
@tatianashp any idea?

[2018-02-03 01:26] drpngx commented on #10862
Working as documented.
https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/rnn_cell_impl.py#L211

[2018-02-03 01:26] #10862 closed

[2018-02-03 01:27] drpngx commented on #11334
Sorry this fell through the cracks. Is that still a problem with the latest versions?

Our current recommended platform for mobile is tflite, maybe that fits your needs better?

[2018-02-03 01:28] drpngx commented on #11336
Closing due to inactivity.

[2018-02-03 01:28] #11336 closed

[2018-02-03 01:29] drpngx commented on #11564
@hpucha any luck?

[2018-02-03 01:30] drpngx commented on #11776
Closing since it's been a while. Please reopen if this still occurs with the latest version.

[2018-02-03 01:30] #11776 closed

[2018-02-03 01:30] asimshankar commented on #16703
Doh! Thanks for pointing this out @akhti - will send out a fix.
(Though, not sure if this will result in an update to the 1.5 release since APIs in `tf.contrib` are experimental and bugs there aren't treated with the same urgency as the stable APIs).

[2018-02-03 01:32] drpngx commented on #11812
To be clear, tensorflow will try (by default) to consume all available GPUs. It cannot be run with other programs also active. Closing. Feel free to reopen if this is actually another problem.

[2018-02-03 01:32] #11812 closed

[2018-02-03 01:33] #11896 closed

[2018-02-03 01:35] drpngx commented on #11948
Closing since the original issue has been fixed. Please file another ticket with a repro if you can. Thanks!

[2018-02-03 01:35] #11948 closed

[2018-02-03 01:36] drpngx commented on #11956
Sounds like a good potential contribution!

[2018-02-03 01:37] drpngx commented on #12134
Closing since it's been a while. Feel free to reopen.

[2018-02-03 01:37] #12134 closed

[2018-02-03 01:39] drpngx commented on #16716
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-03 01:39] #16716 closed

[2018-02-03 01:48] drpngx commented on #9506
Sadly we still have that int32 oddity. Can you use an int64?

[2018-02-03 01:49] drpngx commented on #9518
Is that still an issue?

[2018-02-03 01:52] drpngx commented on #9920
I guess we'd need for `freeze_graph` to load some binary to do that? I'm not sure how this would work.

@rajatvikramsingh if you create a rule that's like `freeze_graph` but links with your binary, possibly loads a DSO if you have created one, would that work for you?

[2018-02-03 01:53] drpngx commented on #10094
Closing since it's been a while, hopefully the refactoring works out for you.

[2018-02-03 01:53] #10094 closed

[2018-02-03 02:00] drpngx commented on #10250
Looks like this is not expected behavior. Are you in a position to send a fix?

[2018-02-03 02:01] sheunaluko commented on #1965
For me, I had the CPU version running on ubuntu 64bit. I had the same error "AttributeError: type object 'NewBase' has no attribute 'is_abstract' "

I fixed it simply by running `easy_install3 -U six` while inside the activated virtualenv. Hope that helps

[2018-02-03 02:02] drpngx commented on #15687
@xumengwei the common cause is either you have the wrong proto, or you're trying to load a binary as text.

[2018-02-03 02:03] drpngx commented on #6774
@yaroslavvb are you in a position to send a fix?

[2018-02-03 02:19] youkaichao opened #16718 "add an interface to check if a variable is initialized"
Currently, if we create an Adam optimizer and minimize some loss, Adam will create some new variables that need to be initialized. Howerver, this is only a part of variables and we donot want to use `tf.global_variables_initializer()`.

If there is an interface to check if a variable is initialized, then we can filter global variables and initialize only what needs to be initialized!

the interfac

[2018-02-03 02:22] cyrilzh commented on #16214
Tensorflow's Linux installation guide is misleading. Try a search and here is the result.

$ sudo apt-cache search cuda-command-line-tool
cuda-command-line-tools-8-0 - CUDA command-line tools
cuda-command-line-tools-9-0 - CUDA command-line tools
cuda-command-line-tools-9-1 - CUDA command-line tools

What you should run is something like "sudo apt install cuda-command-line-tools-9-1"

[2018-02-03 02:23] youkaichao commented on #16718
Oh, I donot know that there is a function named` tf.is_variable_initialized(var)->bool`

sorry to bother!

closed.

[2018-02-03 02:27] ShengleiH commented on #7770
@iamhankai Hello, I am doing the similar operations as you, and meet the same issue. Have you solved it?

[2018-02-03 02:29] anpark commented on #8136
same question for me, thanks

[2018-02-03 02:29] akhti commented on #16703
No worries - the bug was here since October and nobody notices :)
Though it's a very nasty bug - nothing fails, but model quality is suboptimal. Is it possible to add some simple test, like for a number of parameters to avoid this in the future?

[2018-02-03 03:06] ishihiroki opened #16719 "TypeError: 'NoneType' object is not callable"
My environment

python 3.5.2 anaconda (use pyenv)
keras 2.1.3
tensorflow 1.4.1
theano 1.0.1
cntk 2.3

When backend is tensorflow, TypeError occurs just before learning is finished.

TypeError: 'NoneType' object is not callable

Is there a solution?

[2018-02-03 03:43] youthpasses opened #16720 "ImportError: /usr/local/lib/python2.7/dist-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: _Py_FalseStruct"
I update my tensorflow to 1.5, the last version is 1.3.0. But I got a issue about numpy, after lot of attempts, it was solved, numpy can be used.

**But now, I have a new issue when I import tensorflow:**

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/__init__.py", line 24, in <module>
    from tensorflow.python i

[2018-02-03 04:09] stefanjuang commented on #16271
But tensorflow does support complex number, right?
I can even create variable type as this:<tf.Tensor 'Exp:0' shape=() dtype=complex128>
sess.run(y3)
(1.8369701987210297e-16+3j)

I guess my question now is since tensorflow does support complex number, why does it output NaN?
Some operations in tf does support, and some does not? If possible I wish this issue to still be open, so people can work on

[2018-02-03 04:13] hyperh commented on #12388
Having similar problems as @ironfroggy

[2018-02-03 04:30] yzhwang commented on #14601
Thanks @gunan and @yongtang !

[2018-02-03 04:49] MarkDaoust commented on #16684
That is correct, old docs not worth updating.

The tutorial is here:

https://github.com/tensorflow/models/blob/master/research/syntaxnet/g3doc/syntaxnet-tutorial.md

[2018-02-03 04:49] #16684 closed

[2018-02-03 04:54] ha-ha-ha-han commented on #16670
Yes I followed the instruction and didn't update the CUDA when the exception happened.

I upgraded CUDA and cudnn in my laptop (GTX 1050ti) and it worked.
After updating to CUDA 9.0, cudnn 7 and Tensorflow 1.5, some model that I am now working with trains 25% faster than before in my laptop.

Interestingly, The old tensorflow 1.4 still works under CUDA 9.0.

It seems to be safe to upgrade tensorfl

[2018-02-03 04:54] YURIJTJ commented on #16654
@jendrikjoe what does that mean "build TensorFlow from HEAD" ?what's the specific procedure?

[2018-02-03 05:03] YURIJTJ commented on #16662
@jitoledo  just:
git checkout r1.5
is that ok?

[2018-02-03 05:27] gunan commented on #14436
@sandipmgiri has there been any updates?

[2018-02-03 05:40] hqm commented on #16684
Someone should update the live link on the web page ...

On Fri, Feb 2, 2018 at 11:51 PM, Mark Daoust <notifications@github.com>
wrote:

--
Henry Minsky

[2018-02-03 05:40] aipeteryao commented on #15604
In fact, we should view the official document of tensorflow ,it give tensorflow‘s envirment(include python,gcc,cuda,cudnn,an so on).

[2018-02-03 06:09] youkaichao commented on #16718
Currently, I am using following code:

[code]

but I found it extremely slow!

Can you consider maintain a flag to indicate whether a variable is initialized?

[2018-02-03 06:40] YURIJTJ commented on #16662
I just switched to v1.5.0 but it doesn't work .Same bazel mistake as before.

[2018-02-03 06:52] ahundt commented on #15722
@parag2489 good question. I may have it incorrect and that's why I created this issue hoping to clarify things. It seems there are a couple styles of preprocessing:

[code]

As found in https://github.com/tensorflow/models/issues/2217

[2018-02-03 07:45] forest1990 commented on #14380
@argman
Thanks.  It does work by " just change the default gcc path when running configure from /bin/gcc to /usr/bin/gcc"

[2018-02-03 07:54] ymcasky commented on #16620
Thanks for your reply!!
Here is my code:

[code]

[2018-02-03 08:04] sluggishcrow commented on #6279
from the release notes of tensorflow 1.5:

[2018-02-03 08:08] ymcasky opened #16721 "Customized loss in keras"
Dear all,

I can run properly with the following code:
### System Information ####
Have I written custom code : As following
OS Platform and Distribution: Linux Ubuntu16.04
TensorFlow installed from : conda script
TensorFlow version : '1.4.0'
Bazel version : N/A
CUDA/cuDNN version : CUDA8.0, cudnn6.0
GPU model and memory : 1070/8G

[code]

But if I want to write loss function with my own code like

[2018-02-03 08:10] ymcasky commented on #16620
I have one more question in the following link:
https://github.com/tensorflow/tensorflow/issues/16721
I appreciate your help again!

[2018-02-03 08:12] bringtree commented on #15236
i meet the same question
 .libcublas.so.9.0: cannot open shared object file: No such file or directory

i use cuda9.0

[2018-02-03 08:42] jendrikjoe commented on #16654
@YURIJTJ instead of git checkout r1.5 you do git checkout HEAD and tehn follow the rest of the build instructions :)

[2018-02-03 08:52] hgffly commented on #16683
I tried to delete ~/.keras/models and rerun the codes
The process would download the model, but it raises the same error
Not only me but my colleagues have the same issues with Tensorflow 1.5 but it does work with Tensorflow 1.4
fchollet, do you try with Tensorflow 1.5 as well?

Downloading data from https://github.com/fchollet/deep-learning-models/releases/download/v0.6/mobilenet_1_0_224_tf.h5
17

[2018-02-03 09:12] VeLKerr commented on #15236
Looks like you have an incorrect `LD_LIBRARY_PATH`. Try to set the following values:
[code]

[2018-02-03 09:16] chhwang commented on #14573
@gunan Thank you for your suggestion, but my primary report already mentioned that manually linking CUDA library was not the solution. (I was already doing that.) By the way, adding `--action_env=LD_LIBRARY_PATH=/usr/local/cuda/lib64/stubs:${LD_LIBRARY_PATH}` fixes the problem without erasing build targets, so I'm closing this issue now. Further discussions would be in #16694.

[2018-02-03 09:16] #14573 closed

[2018-02-03 09:25] hgffly commented on #16683
Hi fchollet,
I add one line in /usr/local/lib/python3.5/dist-packages/h5py/_hl/files.py to print the name of file the program expect to load

268                 fapl = make_fapl(driver, libver, **kwds)
269                 print(name, 'aaaaaaaaaabbbbbbbbbbccccccccccccc')  # the code I added to show the name
270                 fid = make_fid(name, mode, userblock_size, fapl, swmr=swmr)

I rerun th

[2018-02-03 09:25] SoulFireMage commented on #8251
Is there a windows version that works on python 3.6 onwards? Unable to locate an answer that works this morning that is all.

[2018-02-03 10:22] YanzheL opened #16723 "Bug: Compile Tensorflow 1.5.0 Java from source failed on NVIDIA Jetson TX2 with error "'@bazel_tools//tools/jdk:singlejar' must produce a single file""
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
NO
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04 aarch64
- **TensorFlow installed from (source or binary)**:
source on branch r1.5
- **TensorFlow version (use command below)**:
v1.5.0-1934-g9e7ce91 1.5.0
- **Python version**:
Python 3.5
-

[2018-02-03 10:54] jowagner commented on #6956
Most external mirrors seem to have tar.xz instead of tar.bz2.

Option 1: Download one of these tar.xz mirrors, uncompress it to .tar, compare to a .tar obtained from the currently used .tar.bz2, run sha256 on the tar.xz file and update workspace.bzl to use the tar.xz file from a few suitable mirrors. (This assumes that Bazel knows how to extract a tar.xz archive. The docs only mention gz and bz2.)

[2018-02-03 12:05] bikong2 commented on #7172
@civilman628
followed your solution, it's ok! many thanks

[2018-02-03 12:44] bringtree commented on #16136
@drpngx
[code]
it can be solved .

[2018-02-03 13:04] #11165 closed

[2018-02-03 13:23] iamhankai commented on #7770
Nope

[2018-02-03 14:29] bryant1410 commented on #12848
@drpngx it would be great if you could clarify how it is positioned with respect to RenderScript

[2018-02-03 14:56] QianYuK commented on #16670
I tried tensorflow1.5 with cuda9.1 and cuda8.0, I got the same question. I see the install instruction say cuda8.0 is enough?

[2018-02-03 15:41] machinelearning147 commented on #16515
------------------------
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10 64-bit
- **TensorFlow installed from (source or binary)**: using conda-forge
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6
- **Bazel version

[2018-02-03 16:17] scordata commented on #16670
Having just been through this myself, I found that if you are using TF 1.5 you need Cuda 9.0. The nightly tensorflow ought to support 9.1, but I don't think that update has been pushed to the pip3 repo.

[2018-02-03 17:08] tylerlekang commented on #16670
It might be nice to have CUDA/cuDNN version support information in one location, and have everything else point to that webpage. Then you don't have to remember to update the version numbers in multiple places (and potentially forget a few).

In that case, it might also be nice to mention a few more specifics of the version numbers that a particular tf-gpu release was tested with.

Because there a

[2018-02-03 17:19] santoshchilkunda commented on #16561
bump

[2018-02-03 17:39] #16682 closed

[2018-02-03 19:10] patruff commented on #16670
@dkhusial I was debugging this problem for HOURS! Thanks so much. Reverting solved my issue!!

[2018-02-03 19:32] RakeshChandran commented on #15751
Yes..I am having the same issue. @tensorflowbutler. What is the resolution ?

[2018-02-03 20:05] Jerry2001Qu commented on #15698
Hey, I'm having the same problem and was wondering if you could clarify on your solution. You mention nativeBuildSystem, but my build.gradle file does not mention that anywhere. Do I not understand what you mean, or are we looking at different pieces of code? If it's the latter, can you direct me to where you downloaded your code? I've been following the TensorFlow for Poets 2 codelab and have clo

[2018-02-03 20:56] mholzel commented on #675
Nobody seems to have posted any followup, but the codes proposed by @candidj0 and @jeisses do not work when nested (testing in tensorflow 1.5.0). So computing the hessian by nesting will not work (@tillahoffmann). Let me make this a bit more concrete. I am using the jacobian

[code]

I am using this because it supports dynamic sizes, that is, one of the dimensions can be `None`.

However, this sim

[2018-02-03 21:07] bhack commented on #16609
See https://github.com/tensorflow/tensorflow/issues/14736#issuecomment-349733227

[2018-02-03 22:06] selcouthlyBlue commented on #16510
I tried it for my own project and it's taking long to get to a step with a batch size greater than 1 in training. Any other ideas on how to make the batch size for ndlstm dynamic?

[2018-02-03 22:38] eaplatanios commented on #16481
@mrry Thanks for tracking this down and fixing it! :)

[2018-02-03 22:59] MicrocontrollersAndMore opened #16735 "incorrect logging formatting used in tensorflow / examples / image_retraining / retrain.py, causes error"
In tensorflow -> examples -> image_retraining -> retrain.py, currently lines 347 / 348 look like this:

[code]

This understandably causes an error since this function accepts strings and it is being fed an instance of statinfo.st_size which does not seem to be a string.  On my machine at least (TensorFlow 1.5, Windows 10) this causes the following error in function maybe_download_and_extract:

`T

[2018-02-03 23:40] rdinse opened #16737 "Discrepancies between GPU and CPU in floating-point operations"
[code]

Running this graph on GPU results in positive infinities, whereas on CPU these tensor entries evaluate to ~88.72284. I could not quite figure out which operation is responsible for the difference. In both cases TensorFlow reports `probs` as `float32`. The difference does not occur when replacing `probs` with a `tf.ones` tensor in `float32` format.

[2018-02-03 23:51] yongtang commented on #16735
Added #16738 for the fix.

[2018-02-03 23:52] facaiy commented on #16510
How about using tf.shape to get dynamic shape? I mean to modify _shape function:

s = array_ops.shape(input_)
return s[0], s[1],....

Does it work?

[2018-02-04 00:24] cestas commented on #16609
Bhack, I have seen that thread, that's one of the ones I referred to, it's totally unclear. One guy says not ready, next guy says it works for newer ones. So I askee for mine specifically

[2018-02-04 00:58] 2017develper opened #16740 "error in code"
W_0 = utils.weight_variable([FLAGS.z_dim, 64 * GEN_DIMENSION / 2 * IMAGE_SIZE / 16 * IMAGE_SIZE / 16],
NameError: name 'utils' is not defined
can you help me please

[2018-02-04 00:59] 2017develper commented on #16656
W_0 = utils.weight_variable([FLAGS.z_dim, 64 * GEN_DIMENSION / 2 * IMAGE_SIZE / 16 * IMAGE_SIZE / 16],
NameError: name 'utils' is not defined

[2018-02-04 01:35] powderluv commented on #9661
@ruppeshnalwaya1993 were you able to get pix2pix running on ios ? How did you debug it further ?

[2018-02-04 03:33] mortont opened #16743 "MonitoredSession after_run hook returning empty SessionRunValues results"
### System information
- **Have I written custom code**: yes
- **OS Platform and Distribution**: Arch Linux 4.14.15-1
- **TensorFlow installed from**: source (master)
- **TensorFlow version**: v1.5.0-2123-g66105a6144
- **Python version**: 3.6.4
- **Bazel version (if compiling from source)**: 0.9.0
- **GCC/Compiler version (if compiling from source)**: 7.3.0
- **CUDA/cuDNN version**: 9.1.85/7.0.5
-

[2018-02-04 03:34] jackyko1991 commented on #16515
@machinelearning147 I think you are using windows 10. Open the powershell/ cmd with adminstrative right by search it from start->right click

then run `pip install --upgrade tensorflow`  again, problem will be solved

[2018-02-04 04:57] ruppeshnalwaya1993 commented on #9661
@powderluv yes, I was able to run pix2pix using XLA AOT compilation by I did not finally use it as there were no gains in speed as compared to regular tensorflow.
Anyways, other than the things mentioned above, I remember that I had remove all the code and dependencies of normal tensorflow for xla to work. Seems both of them together can't function properly. I have not checked the recent developme

[2018-02-04 04:59] sguada commented on #13064
Sure let see a PR and evaluate it.

[2018-02-04 05:05] sguada commented on #12704
You are still building parts of the graph when you change the imgs.

What you need to do is use a placeholder that doesn't specify the batch_size dimension or even the HxW dimensions, it would work for any batch_size and image size, as far all the images in the batch has the same HxW.

[code]

[2018-02-04 05:05] #12704 closed

[2018-02-04 05:11] sguada commented on #12268
Having "VALID" for max_pooling with kernel size [2, 2] would change the size of the output, while "SAME" would not.

It seems that changing the polling of all max_poling layers would have different effects depending on the input size, so I guess it would be hard to control all possible cases.

You can build your own version of VGG with the padding that you need, isn't it?

[2018-02-04 05:17] sguada commented on #15156
You also need to pass a seed to all tf.random_normal Tensors you create

[2018-02-04 05:18] #12568 closed

[2018-02-04 05:27] sguada commented on #10389
Not sure why that happens, can you try the following to verify the shape information is propagated.

[code]

If the shape is not well defined the problem then try:

[code]

[2018-02-04 05:29] sguada commented on #11187
You can configure using FLAGS.clone_on_cpu=True
This issue should be under https://github.com/tensorflow/models/issues

[2018-02-04 05:29] #11187 closed

[2018-02-04 05:32] sguada commented on #16254
Not sure what can I do, maybe @mahyaar can explain the solution.

[2018-02-04 05:49] gunan commented on #16670
1.5, 1.6 and nightlies are all built for CUDA 9.0
We discussed with NVIDIA, and after their recommendation we decided to stay with cuda 9.0 rather than 9.1, as 9.1 requires drivers that are not available in all distros.

[2018-02-04 05:53] Lynten commented on #2381
@girving I'm somewhat confused.

In [static_rnn](https://github.com/tensorflow/tensorflow/blob/1752d9c8fac5f6cf85a41e77d92e2743adbfc446/tensorflow/python/ops/rnn.py#L1312), it does use Python loop to compute rnn outputs and final state.
[code]

You said "a Python loop doesn't support automatic gradient computation", then how does the static_rnn work?

[2018-02-04 06:32] AceHack opened #16745 "Consider supporting Microsoft Quantum"
Please consider supporting Microsoft Quantum as a Runtime just like GPUs and TPUs.

Here is the same issue on Microsoft Quantum's repo
https://github.com/Microsoft/Quantum/issues/30

It would be great to have an XLA device/target for Microsoft Quantum

[2018-02-04 06:48] thjashin opened #16747 "No documentation on the order of eigenvalues returned by tf.self_adjoint_eig"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:binary
- **TensorFlow version (use command below)**:('v1.4.0-rc1-11-g130a514', '1.4.0')
- **Python version**: 2.7.14

### Describe the problem
From the documentation of `tf.self_adjoint_eig` I cannot see what the order of eigenvalues is. I tried with

[2018-02-04 07:42] mndar opened #16749 "Cross Compiled For Rpi Successfully on Gentoo. No Scope and Session support."
Hello everyone.
I cross compiled from tensorflow master using armv7a-hardfloat-linux-gnueabi-gcc built using crossdev on Gentoo AMD64

_**make -j9 -f tensorflow/contrib/makefile/Makefile HOST_OS=LINUX TARGET=PI OPTFLAGS="-Os -mfpu=neon-vfpv4 -funsafe-math-optimizations -ftree-vectorize" CXX=armv7a-hardfloat-linux-gnueabi-g++**_

 I am able to execute on Rpi, the sample label_image.cc program by co

[2018-02-04 07:47] JSANJ opened #16750 "ImportError: libcublas.so.9.0: cannot open shared object file: No such file or directory (when trying to run object detection)"
Hello, I am trying to install the object-detection module of tensorflow but when running the following command:
python3 object_detection/builders/model_builder_test.py

I get the following error. I have install CUDA 8.0,9.0,9.1, and cuDNN 6 and 7 but still have the following error. I appreciate your advice, thank you!

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packag

[2018-02-04 07:49] pvaezi opened #16751 "CUDA Fail in Tensorflow Inference on Jetson TX2"
Hi,

I am getting CUDA fail error for model inference on Jetson TX2 aarch64. I have built the TF source (Version 1.3) for python 3.5 from this github repo:
https://github.com/jetsonhacks/installTensorFlowTX2

- Ubuntu 16.04
- Bazel 0.5.2
- CUDA 8
- cuDNN 6.

The relevant discussion on NVIDIA dev forum directed me to post this here:
https://devtalk.nvidia.com/default/topic/1029256/jetson-tx2/cuda-f

[2018-02-04 08:12] gunan commented on #16694
I suspect this will still exist in 1.6
Maybe we can update our bazelrc with `--action_env=LD_LIBRARY_PATH=${LD_LIBRARY_PATH}`

@aselle any idea why we need these libraries when linking toco?

[2018-02-04 08:21] ppwwyyxx commented on #16743
You used hooks it in a wrong way. Please read the docs: https://www.tensorflow.org/versions/master/api_docs/python/tf/train/SessionRunHook.

[2018-02-04 10:01] ymcasky commented on #15367
Dear @fchollet
I think this is a bug,too

Here is my example code

[code]
The output of" Training Batch Accuracy(phase 0) "& "Training Batch Accuracy(phase 1) " is different.
Please help us to use it. Thank you!

[2018-02-04 10:04] ymcasky commented on #16102
Dear all,
I have other example code shows keras's BatchNormalization doesn't work as following.

[code]
Please check this bug. Thanks a lot!!

[2018-02-04 10:05] vinishg opened #16752 "Unable to run custom model (tensorflow) on android using Android studio"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-04 10:08] vinishg commented on #13030
Did you found any solution for crash ?

[2018-02-04 10:20] daisylab commented on #16541
I think I found a workaround.

Although I could not find the exact location where SSE is added, I guessed that if the configure script sets machine architecture correctly, then there must be a point during the build process where SSE check is irrelevantly added, so I did a wild experiment, that is:

1. changed the log level from `FATAL` to `WARNING` in the `cpu_feature_guard.cc`.

https://github.c

[2018-02-04 10:32] vicproon commented on #16670
@ha-ha-ha-han I have similar problem with upgrading to tf-1.5. However, I was unable to use @mrry advice and upgrade to cuda-9.0 due to the fact that U am using Ubuntu-14.04, for which NVIDIA does not provide an installer.
The call to `pip3 install --upgrade tensorflow-gpu` does provide installation for ubuntu 14.04.
Maybe the configuration of ubuntu-14.04 and tf-1.5 can be achieved when building

[2018-02-04 11:11] murtaza1122 commented on #15924
Hi

Which argument was wrong. I am having same error.

[2018-02-04 11:42] namrata-ibm commented on #16540
@drpngx , @ebrevdo, Could you please have a look?

[2018-02-04 12:09] selcouthlyBlue commented on #16510
Applying tf.shape worked although I applied it in only one part of the lstm2d like so:

[code]

With that, `sequence_to_images` was also modified to take in a known dimension (height) of the tensor:

[code]

I already pushed these changes.

[2018-02-04 12:41] byronyi opened #16753 "Virtual GPU config crashes TensorFlow after physical GPU loaded"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 9.3
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: ('v1.5.0-2132-gbdea071e68', '1.5.0')
- **Python version**: 2.7.13
- **Bazel version (if comp

[2018-02-04 12:43] byronyi commented on #16753
Ping @aaroey as appeared to be the author of the virtual GPU feature.

[2018-02-04 13:20] buptzzl commented on #16646
@drpngx  When I used the lower level API for training,  tf.trainable_variables() is work.  But High level API's estimator use system defined Graph info and  tf.trainable_variables() doesn't work!
For example, I have use the tf.estimator.Estimator defined a group of models,  and just test print the  tf.trainable_variables(), It just return empty list. The code is below:
`    clf_ = tf.estimator.Est

[2018-02-04 13:25] buptzzl commented on #16646
@martinwicke  Thanks for you advice. My problem is there are many diffent ckpt files to load for initial the last model's parameters, and what's more,   tf.estimator.Estimator trainable variables can get by hand recently! So, I think you advice doesn't work!  Hope you response! Thanks!

[2018-02-04 14:51] carlthome commented on #16576
I saw [the presentation on Vizier](https://www.youtube.com/watch?v=12OkQrJvyek) and it looks pretty great but it's unfortunate that it's closed source. A canonical open source alternative would be a very welcome addition to TensorFlow Estimator, even just random search.

I find that particularly getting early stopping and [learning rate annealing as in Keras](https://keras.io/callbacks/#reducelron

[2018-02-04 15:22] fat-fighter commented on #394
@prasad3130 Thanks a lot, that worked like a charm. Although it is worth noting that the command should be the following
sudo modprobe --force-modversion nvidia-<nvidia-version>-uvm

[2018-02-04 16:00] Magicfeng007 commented on #12052
I hope it will be finally CUDA 9.1, not 9.0 too.

[2018-02-04 16:36] alc5978 commented on #12052
I 'm sur it will be finally CUDA 9.1, not 9.0 too, isn't it ? :)

[2018-02-04 17:35] shmilyhh commented on #15129
@acaprez Thanks.

[2018-02-04 17:52] majgis commented on #16603
This page mentions the "Userspace Mitigations" separate from the host kernel:
https://wiki.ubuntu.com/SecurityTeam/KnowledgeBase/SpectreAndMeltdown

I can't believe I didn't think of `apt-get update && apt-get upgrade` in the downstream image to address the issue, simple.  Sorry for the noise.

[2018-02-04 18:23] eaplatanios commented on #15323
@ebrevdo I see. That's what I thought. I'm wondering if, in general, the RNN cells API could be redesigned to make such extensions easier. Are you guys considering that at all?

[2018-02-04 18:27] mortont commented on #16743
Thanks for the clarification. After looking at the examples in `basic_session_run_hooks` I see what the proper usage is.

[2018-02-04 18:28] #16743 closed

[2018-02-04 18:34] peggyn7 opened #16755 "Multilayer CNN Softmax Script Error"
Hi, I transferred your script for the Softmax regression and Multilayer CNN from your guide:
https://www.tensorflow.org/versions/r0.12/tutorials/mnist/pros/.

I get the following error whether I am running just the simple Softmax regression model or the full Multilayer CNN. Seems like an issue with the arguments used for the cross_entropy, but I don't know what the issue is...could you please help

[2018-02-04 18:58] mrry commented on #16740
I believe the source of that function is here: https://github.com/shekkizh/TensorflowProjects/blob/7bc5267da1bf4cf4a05cb1bac8bfd8f284728067/TensorflowUtils.py#L63

Since this does not appear to be a bug in or feature request for TensorFlow, I'm going to close this issue. If you continue to have difficulties, I'd recommend asking on Stack Overflow or opening an issue on the repository that contains

[2018-02-04 18:58] #16740 closed

[2018-02-04 19:14] nickpoulos commented on #14273
Any suggestions on what to try with this environment? I can't seem to find a TF build on that link above ^ for an exact match to my system, but upgrading some of this stuff seems fairly complex.

**macOS Sierra**
Apple LLVM version 9.0.0 (clang-900.0.37)
Python 3.6.1 :: Anaconda custom (64-bit)
TensorFlow v1.4.0-rc1-11-g130a514 1.4.0

Thanks for your help.

[2018-02-04 19:16] Androbin commented on #15758
Either we get rid of the dependency or we remove the boilerplate with bazelbuild/bazel/issues/4577.

[2018-02-04 19:39] tvercaut commented on #15465
If that's helpful, I needed the derivative of the matrix exponential some time ago for a non tensor flow-based project and tried a few algorithms (including the one in theano but also some more generic ones). The simple scipy-based test code is available here: https://gist.github.com/tvercaut/61832fd5af87d0278475d01d40860d82

I found the approach of Najfeld to work well for my small scale problem:

[2018-02-04 19:58] aisuni opened #16757 "tf.contrib.layers.optimize_loss() to support mixed precision training"
ISSUE: Referring to [source code](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/contrib/layers/python/layers/optimizers.py),  it is evident that mixed precision gradients is not supported in `tf.contrib.layers.optimize_loss`.
Here is the `snip` of assertion…
[code]
Description:
This was observed during training resnet50 (this involves mixed precision batch_norm). Just curious to kn

[2018-02-04 20:10] habibian commented on #12132
Any updates on this? I have a similar experience

[2018-02-04 20:42] ecahub commented on #15698
Hi @Jerry2001Qu
The "nativeBuildSystem" I am referring to is in file tensorflow/examples/android/build.gradle and you can see it in the Android Studio's Project window as "build.gradle (Module:android)" in the "Gradle Scripts" branch. It is around line 43 in my version.
I solved my problem as explained in point 4 of my previous post, i.e. downloaded the nightly build of tensorflow libraries from t

[2018-02-04 21:06] majgis commented on #16603
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run
[code]

Ok, sorry for the Just-In-Time learning, but I do think I was right in opening this ticket.  Up to you if you wish to support an older version of tensorflow or not, but it would save the team I'm working with from maintaining the 1.3 base image themselves until they are ready to upgrade.

[2018-02-04 21:42] Moldy01 opened #16758 "import(ing) tensorflow fails to load at runtime."
I have written custom code (as opposed to using a stock example script provided in TensorFlow):
using the Keras wrapper.  That works, but system failure and re-installation (new machine) provided the following:
--------------------------------------------------------------------------------------------------------------------------------
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20

[2018-02-04 22:21] nadavb commented on #16622
Where did you install cuda 9.0 from? I only see there the 9.1 version (for ubuntu 16)

[2018-02-04 23:32] kirk86 commented on #5772
Same here I get this error as well on ubuntu tf 1.4.1 not the nightly build.

[2018-02-04 23:40] developius commented on #10179
Hey I've got a problem relating to this. When I run `tensorflow/tensorflow` and invoke `python`, the tensorflow python module appears to not be installed. Am I missing something here?

[code]

[2018-02-05 00:07] kirk86 commented on #2107
This happens with batch_size=1:
<img width="1269" alt="problem" src="https://user-images.githubusercontent.com/2902390/35783938-48f4031e-09d6-11e8-835d-aad366c8396d.png">

[2018-02-05 00:49] selcouthlyBlue opened #16760 "Feature request: Adding data_format argument to lstm2d.separable_lstm"
Since ndlstm is used for 2D data such as images, I think it would be nice to include a `data_format` argument in lstm2d.separable_lstm in case one decides to use the channels first format (NCHW) for their images (i.e. Using CNN having NCHW data format followed by NDLSTM).

[2018-02-05 00:57] ppwwyyxx commented on #5772
@drscotthawley you need to provide more details (logs, small repro code, etc) for people to tell whether it's the same problem (empty tensors into cudnn) or not. The fix above only adds support of empty tensor on certain ops, and very likely there are ops not covered.

[2018-02-05 01:32] Tracy6465 commented on #16622
@nadavb
https://developer.nvidia.com/cuda-90-download-archive

[2018-02-05 01:38] ppwwyyxx commented on #16737
Eigen's SSE implementation of log: https://bitbucket.org/eigen/eigen/src/2355b229ea4c2876f490e726526cdcd8a63c7f54/Eigen/src/Core/arch/SSE/MathFunctions.h?at=default&fileviewer=file-view-default#MathFunctions.h-11:13
It comes from http://gruntthepeon.free.fr/ssemath/ which says log(inf)=88.7284 (i.e., log(inf) = log(max_float).

[2018-02-05 02:00] candou1611 opened #16761 "Core dumped after checking failed"
### System information
== cat /etc/issue ===============================================
Linux 84a2861a8739 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
VERSION="7 (Core)"
VERSION_ID="7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT_VERSION="7"

== are we in docker =============================================
Yes

== compiler ===============

[2018-02-05 02:22] qmick commented on #16719
These information may be not enough to solve this problem. Could you please post the full error log and a minimum reproducible sample code.

[2018-02-05 03:07] wm901115nwpu opened #16762 "build android demo error"
ERROR: missing input file '@local_jdk//:jre/lib/resources.jar'
ERROR: /home/wangmeng/.cache/bazel/_bazel_wangmeng/b0a6578298b02ab8f9d039326e51a46f/external/bazel_tools/tools/android/BUILD:104:1: @bazel_tools//tools/android:gen_java_lang_extras_jar: missing input file '@local_jdk//:jre/lib/resources.jar'
Target //tensorflow/examples/android:tensorflow_demo failed to build
Use --verbose_failures to

[2018-02-05 03:17] jzhongaa commented on #5834
I found that this issue happens in windows but when I run the exact same code in linux server this issue will not persist.

[2018-02-05 03:26] jmlipman opened #16764 "Does it makes sense to use AdamOptimizer with Dropout?"
I was experimenting with Dropout and I tried to check the number of weights updated in every iteration.
My network has an input layer of size 100 and output layer of size 1, and I use dropout with keep_prob of 0.8.  With this configuration, I am expecting to update every time around 80 neurons. I tried to check this, and I got weird results. I asked in stackexchange and someone got the right answe

[2018-02-05 04:01] #16735 closed

[2018-02-05 04:29] qmick commented on #16747
TensorFlow doc doesn't tell much about that. But TensorFlow use `Eigen` to calculate the eigenvalues:
https://github.com/tensorflow/tensorflow/blob/ba032db13627945e7cc772dbd3d85d257aef3ab9/tensorflow/core/kernels/self_adjoint_eig_op.cc#L58-L65

And document of `Eigen` says:

https://eigen.tuxfamily.org/dox/classEigen_1_1SelfAdjointEigenSolver.html#a3df8721abcc71132f7f02bf9dfe78e41

So the order is

[2018-02-05 04:44] xiaoyongzhu commented on #1158
@clockzhong  I suspect you also executed `sudo apt-get upgrade` after `sudo apt-get update` - which will install the latest driver.

[2018-02-05 04:51] MKorablyov opened #16766 "with tf.control_dependencies fails on return"
Hello,
here is an undesired behavior:

fails

works

ps: I should have said fails on copied tensor

[2018-02-05 05:15] JufangShen commented on #11438
i have the save questions. is there any examples to show how to start queue_runners rely on MonitoredSession ? thanks.

[2018-02-05 05:51] inkzk opened #16767 "Is there any way to reduce the model fie size of adam optimizer?"
I find that the model file size is three times bigger after I switch optimizer from `tf.train.GradientDescentOptimizer` to `tf.train.AdamOptimizer`. And here is the reason I found on stackoverflow:

Thus, is there any way to reduce the model fie size of adam optimizer?

THANKS!!

[2018-02-05 06:23] lifefeel commented on #16654
I think it is version representation bug of bazel. (0.10.0-) It should be removed hypen.
[code]
I changed the version checking code of Tensorflow then compiled it successfully.

change this file,
`"/home/nvidia/.cache/bazel/_bazel_nvidia/01c445c7b00bca0241913a79fcd99718/external/io_bazel_rules_closure/closure/repositories.bzl", line 69, in closure_repositories`

[code]
to
[code]

[2018-02-05 06:29] YURIJTJ commented on #16654
I just skip the 'git checkout' skip completely and that works.
Thx~

[2018-02-05 06:30] YURIJTJ commented on #16662
@jitoledo  That works, thx.

[2018-02-05 07:03] clockzhong commented on #1158
@xiaoyongzhu  yes, right! It's my typo. And it's corrected now. Thanks.

[2018-02-05 07:10] unwritten opened #16768 "OOM when allocating tensor with shape"
I'm using tensorflow 1.3, tested on a linux machine with 2 NVIDIA Tesla K80 cards,
however, I keep getting OOM error on GPU, but it does not happen when using cpu for training:

-------------------------------------
---log below
-------------------------------------

Exception happened during training, message: OOM when allocating tensor with shape[1792,4096]
	 [[Node: projectx/trainig_gpu_0/gradi

[2018-02-05 07:13] drpngx commented on #16576
Yeah, any implementation in that direction would be useful, I think.

[2018-02-05 07:15] MattShannon commented on #3638
My idea was that there are two ops. The gather op is changed to be forgiving, i.e.g both GPU and CPU it returns zero whenever an index is out-of-bounds. A separate op (say "check_indices") with only a CPU implementation determines whether the gather is "valid" (i.e. no out-of-bounds lookups, in the same way that the current CPU implementation does (iiuc).

For some applications, forgiving gather i

[2018-02-05 07:17] drpngx commented on #16758
We require cuda9 for the latest version. Did you install that? You may have to adjust your `LD_LIBRARY_PATH`.

[2018-02-05 07:19] drpngx commented on #16768
Well, I think it's because you're running out of memory. Unfortunately there isn't any easy fix. If you provide more detailed information we could take a quick look to see if there's something obvious.

[2018-02-05 07:20] drpngx commented on #16766
What do you mean, fails? It jut hangs? Do you have cycles in your dependency graph?

[2018-02-05 07:23] drpngx commented on #16764
I don't think it's a bug. Optimizers can work differently. Closing this. You should maybe ask a targeted question on stackoverflow.

[2018-02-05 07:23] #16764 closed

[2018-02-05 07:29] gunan commented on #16670
The runfile installer for CUDA 9.0 should work for ubuntu 14, too.
Otherwise, you could also try using docker.

[2018-02-05 07:30] #16670 closed

[2018-02-05 07:39] gunan commented on #14918
We should still describe a way for contributors to test tensorflow locally.
I agree that those instructions may be stale, and we may need to rewrite them.

[2018-02-05 07:53] gunan commented on #16648
I am guessing probably not. I am sure the options for cross compilation on windows are different.
@meteorcloudy @andrewharp to confirm

[2018-02-05 07:54] unwritten commented on #16768
@drpngx  thx for attention;

I tried batch size 64 or 32, both failed, I also tried:
        custom_config=tf.ConfigProto(log_device_placement=True, allow_soft_placement=True)
        custom_config.gpu_options.allocator_type = 'BFC'
        custom_config.gpu_options.per_process_gpu_memory_fraction = 0.90

failed too;

the error happened when computing the gradient,

here're my GPUs:

| GPU  Name

[2018-02-05 08:00] drpngx commented on #16768
Normally I think we would allocate the memory on all detected devices. Could you check the initial message to see if they are detected and used? You can use `with tf.device('/gpu:1)` to manually place.

[2018-02-05 08:22] unwritten commented on #16768
yes, I manually placed the training set, here on my machine n_gpu is 2, tower_encoder_inputs and tower_decoder_inputs is splitted according to n_gpu

        for i in range(n_gpu):
            with tf.variable_scope(variable_scope, reuse=True if i > 0 else reuse):
                with tf.device("/gpu:{}".format(i)):
                    with tf.name_scope("trainig_gpu_{}".format(i)):

[2018-02-05 09:03] meteorcloudy commented on #16648
@aditya478492 Can you provide more information?
Which target did you build? Can you build with `--verbose_failures` so that we can see what command failed exactly.

[2018-02-05 09:20] ecrasy commented on #15122
Here is the example of use float for inference
[https://github.com/googlecodelabs/tensorflow-for-poets-2/blob/master/android/tflite/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java](url)

[2018-02-05 10:04] 14251104246 commented on #1376
@vrv
I upgrade the code to TensorFlow 1.0,and it is successful.
But affter i run `python cifar10_train.py`,it throw error.

**upgrade message**

[code]

**run message**
[code]

[2018-02-05 10:48] byronyi commented on #16753
Ping @lam8da as appeared to be the author of this feature.

[2018-02-05 11:40] #16737 closed

[2018-02-05 11:46] VolodymyrPavliukevych opened #16770 "TensorBoard Projector has been blocked by CORS policy: No 'Access-Control-Allow-Origin'"
**At http://projector.tensorflow.org/ website error.**
### System information
- **Have I written custom code**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
macOS 10.13.3,
Safari: Version 11.0.3 (13604.5.6)
Chrome: Version 63.0.3239.132 (Official Build) (64-bit)
- **TensorFlow installed from (source or binary)**:
no

I am trying to publish my data over official projector.tenso

[2018-02-05 11:53] derluke commented on #15435
Had the same issue here - adding LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64/ to the pycharm environment did the trick

[2018-02-05 12:08] funwarioisii opened #16771 "core dump is occured using reduce_sum"
Core dump is occured when I tried thus code `tf.reduce_sum(tf.constant([1, 2, 3], dtype=tf.uint8))`.
I consider reduction function is not supported tf.uint8, so please `raise TypeError`.
The code I linked looks relevant the problem. (I couldn't send Pull Request and propose good code.)
I snipped a part of the error message.
Please fix.

日本語：
 `tf.reduce_sum(tf.constant([1, 2, 3], dtype=tf.uint8))`

[2018-02-05 12:22] ALEXKIRNAS opened #16772 "XLA with frozen protobuf: Tuples do not have a rank error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes, model inference script.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: 16.04.3 LTS (Xenial Xerus)
- **TensorFlow installed from (source or binary)**: Source **with XLA support**
- **TensorFlow version (use command below)**: 1.4.1
- **Python version**: 3.

[2018-02-05 12:31] ugmurthy commented on #15849
here is the bazel command in expanded form:
`bazel build --verbose_failures -c opt --copt=-march=native --copt=-mssse3 --copt=-mfma --copt=-mcx16 --copt=-msse4.1 --copt=-msse4.2 --copt=-mpopcnt --copt=-mavx -k //tensorflow/tools/pip_package:build_pip_package
`

[2018-02-05 12:50] aditya478492 commented on #16648
ERROR: C:/courses/tensorflow/tensorflow/cc/BUILD:422:1: Linking of rule '//tensorflow/cc:ops/array_ops_gen_cc' failed (Exit 1181): link.exe failed: error executing command
  cd C:/users/aditya/appdata/local/temp/_bazel_aditya/nmddefa1/execroot/org_tensorflow
  SET INCLUDE=C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.10.25017\ATLMFC\include;C:\Program Files (x86)\M

[2018-02-05 13:17] alenaschnurr opened #16773 "TensorBoard: Fit domain to data in 1.5 under Windows cuts off max values"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Using TensorBoard in custom U-Net implementation
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.5
- **Python version**: 3.5
- **Bazel version

[2018-02-05 13:20] Androbin commented on #3638
If this op is forced to be run on CPU, it could slow down the computation due to additional data transfers between CPU and GPU. I can't assess the impact this might have, but this effect should be considered.

[2018-02-05 14:17] aipeteryao commented on #15604
@bwesen yes,you were right .My computer installed CUDA 8.0,cudnn 6.0 ,tensorflow 1.4.

[2018-02-05 15:40] Hvass-Labs opened #16774 "Missing functionality in Keras TensorBoard callback"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Binary.
- **TensorFlow version (use command below)**: 1.5.0 (Keras 2.1.2-tf)
- **Python version**: 3.6
- **Bazel version (if compiling from sou

[2018-02-05 15:40] zh794390558 opened #16775 "tf.layers.Dense work error with unit is a Tensor"
OS Platform and Distribution
TensorFlow installed from
docker hub

TensorFlow version
1.5.0

CUDA/cuDNN version
CUDA9

GPU model and memory
TITAN XP

Exact command to reproduce
N/A

### Describe the problem
`tf.layers.Dense._rnn_output_size()` not work when `self.units` is a Tensor.

[2018-02-05 15:51] andrehentz commented on #15122
While full quantized training is still in the works, retraining an existing quantized mobilenet (currently only  mobilenet_1.0_224_quantized) should work. You can follow the step in [TensorFlow for Poets](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/) which I reproduce (slightly modified) here:

[code]

That should leave two files:
[code]
which you can use in the original d

[2018-02-05 16:01] meteorcloudy commented on #16648
Hmm,, I don't think we are able to build android interface on Windows right now.

[2018-02-05 16:09] burglarhobbit opened #16776 "Unnamed Op not showing in list_tensors command during debug session"
I have these two unnamed op tensors `logits` and `outputs` under a variable scope, but the `lt` command isn't listing these two tensors under the op 'MatMul' and 'Softmax' during the `tfdbg` session after a test run on a checkpoint. Here is a snapshot of the code:
[code]
What can I do to retrieve these variables for testing purposes on `tfdbg`?
For alternative purposes, can I retrieve them using t

[2018-02-05 16:24] aaroey commented on #16753
This is a known bug, it has nothing to do with the virtual gpu feature. The problem is that some options (like the ones for gpu) in session config cannot be changed once they're set. `device_lib.list_local_devices()` invokes the [DeviceFactory::AddDevices()](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/device_lib.i#L32) which takes an empty SessionOptions, and late

[2018-02-05 16:24] #16753 closed

[2018-02-05 16:33] nataliaponomareva commented on #16692
It probably complains because the rank of the label is 1 whereas it expects it to be of rank 2. Can you try
Y=numpy.expand_dims(Y, axis=1) before you feed it into input fn

[2018-02-05 16:36] tfboyd commented on #12052
@ViktorM @Magicfeng007 @alc5978
The 9.1 [thread](https://github.com/tensorflow/tensorflow/issues/15140) is here if you want to follow along although it is basically closed.  If you could list why you want 9.1 that would be useful, and what is your setup/configuration.  A benchmark that you ran showing the perf boost would also be useful in understanding the immediate need.  In meetings with NVIDIA

[2018-02-05 16:39] mrry commented on #16481
Thanks for digging into it and making it much easier to fix!

[2018-02-05 16:40] tfboyd commented on #16541
@daisylab   I like your trick.  This is likely still a bug until we are sure what is happening.  I am the wrong owner as this is not an area I understand very well.  Sadly, it may be a think that is a low priority due to the older hardware.  I am glad you found a workaround even though it required a code hack.

[2018-02-05 16:43] danishshres opened #16777 "Tensorflow object recognition SSD is really slow with tf 1.5"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-05 16:45] mndar commented on #16749
Found a solution. Removed ANDROID_TYPES from CXXFLAGS
However, for some reason I get Bus Error when compiling with neon-vfpv4 Raspberry Pi 3 on Gentoo with GCC 5.4.0-r4
Guess, that's a cross compiler issue.
Closing.

[2018-02-05 16:45] #16749 closed

[2018-02-05 16:46] rishabhmalhotra commented on #7731
Why is this not already a top priority?

[2018-02-05 17:53] CorvetteCole commented on #15818
I am also having this issue. Same model but with 1 class instead of 8. I also used Google's ML Engine to train it

[2018-02-05 18:15] ljanyst opened #16779 "Cross-Compiling the TensorFlow wheel for NVIDIA Jetson with CUDA support"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**:  3.5.2
- **Bazel version (if compiling from source)**: 0

[2018-02-05 18:40] mjmax commented on #22
Just trying to get a sense of the state of this issue. Am I right to say that this repo:

https://github.com/lukeiwanski/tensorflow

...built with ComputeCpp, is the current best option for building Tensorflow with general AMD GPU support? And it so, is there any benchmark evidence that this build provided a speedup over CPU?

[2018-02-05 19:29] zhangyaobit commented on #16669
Adding @benoitsteiner and @allenlavoie

[2018-02-05 19:32] andrewharp commented on #15916
Object tracking support in the demo is provided by libtensorflow_demo.so (as opposed to libtensorflow_inference.so). You can build it with the `bazel`, `cmake`, or `makefile` options in build.gradle (it's not packaged as part of the TensorFlow AAR release, so `none` will not work). You can see what libs are getting packaged in your APK with `unzip -v tensorflow_demo.apk`

Alternatively you can gra

[2018-02-05 19:32] #15916 closed

[2018-02-05 19:37] shkarupa-alex opened #16780 "Trying to allocate large output tensor in custom op leads to multiple evaluation of Compute method"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS X 10.13.2
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: 2.7.14
- **Bazel version (if comp

[2018-02-05 19:38] joeyearsley commented on #16045
Hi @reedwm, I'll try and get the issue up once I've confirmed it on the latest release.

[2018-02-05 19:38] lucasdellabella commented on #6698
Have very similar set up to above, running on:

windows 10
GPU
tensorflow 1.5
CUDA 9.0.176
cudnn 7
python 3.6.4, anaconda

I tried the config changes and I'm still getting the "CUDNN_STATUS_NOT_INITIALIZED" set of errors.

I'm not sure where the equivalent of the .nv folder resides on windows, so I wasn't able to run the @SimonWalsh1000 solution.

@HeinzBenjamin, any success?

[2018-02-05 19:52] MKorablyov commented on #16766
It runs through but does not do the check. I think that the reason is copying somehow is not a node on the graph.

[2018-02-05 19:57] liang-tool commented on #12954
I met the same problem when constructing the graph differently in different mode.
Could you please try:
[code]
It will fix the scope.

[2018-02-05 20:09] asimshankar commented on #16762
@wm901115nwpu : Could you please provide all information asked for in the issue template?
From the little snippet provided, it seems the issue is that bazel is unable to find some files it expects from the JDK, so perhaps your JDK installation is broken?

Full instructions to reproduce will be helpful.

[2018-02-05 20:10] allenlavoie commented on #16669
@olesalscheider Could you add a bit about how you're using the memory optimizer, i.e. your RewriterConfig options?

[2018-02-05 20:17] olesalscheider commented on #16669
Sure. I do it like this:
[code]

[2018-02-05 20:38] allenlavoie commented on #16669
Thanks! It looks like the swapping and scheduling heuristics depend on shapes being available (this is @benoitsteiner 's department). The recomputation/rematerialization heuristic is dumb enough to not care yet, so it should still be running.

To confirm, the graph does run, correct? It's just that errors get printed for swapping and scheduling passes.

[2018-02-05 20:48] tsoernes opened #16781 "Feature request: Save optimizer variables under separate name scope"
Tensorflow version b'v1.3.0-rc1-3011-gd86448938' 1.3.0
Have I written custom code N/A
OS Platform and Distribution N/A
TensorFlow installed from N/A
Bazel version N/A
CUDA/cuDNN version N/A
GPU model and memory N/A
Exact command to reproduce N/A

The variables initialized by the Adam optimizer is not created under its own name scope, but inherits the name of trainable variables, e.g. `model/q_netw

[2018-02-05 21:02] jowagner commented on #16777
@danishshres Please edit the description of this issue (the above post) to provide the requested details. In its current form, your issue is likely to be closed with the reason "not enough information" in the next few days.

[2018-02-05 21:03] KonstZ commented on #10375
+1

[2018-02-05 21:05] benoitsteiner commented on #16669
olesalscheider@ It would be great if you could share an example, since this error message should not be triggered. We haven't seen it internally, so without a way to reproduce the problem it will be very difficult to get to the bottom of this.

[2018-02-05 21:08] adnansirajrakin opened #16782 "Module missing"

[2018-02-05 21:41] briansp2020 commented on #22
Depends on what you mean by "general AMD GPU support". If you mean really old dGPU or APUs, I don't know. But if you have newer (2nd Gen GCN or newer), hipTensorFlow (v1.0.1) running on ROCm was working pretty well.

[2018-02-05 22:07] yongtang commented on #11534
Added a PR #16784 for the support.

[2018-02-05 23:02] case540 commented on #6956
I am able to download the pkgs.fedoraproject.org NASM mirror. Just to clarify, is the reason we want to replace it because it is not reliable (and not that is doesnt work at all)?

And Option 1 should be work. Looks like some deepmind project has Bazel handle a tar.xz archive...
https://github.com/deepmind/lab/blob/master/WORKSPACE#L28

[2018-02-05 23:24] Davidnet commented on #16779
You might be interested in the binaries I have built for jetson tx2 with CUDA 9 and the last version of L4T
https://github.com/Davidnet/JetsonTFBuilds/releases

[2018-02-05 23:39] ljanyst commented on #16779
Thanks! I actually have no problems with building the wheels on the device, it just takes too long to do that. TensorFlow cross-builds for Jetson on my Core i7 workstation in ~20 minutes.

[2018-02-06 00:15] #14629 closed

[2018-02-06 00:17] csytracy commented on #15552
Could you please let us know what kind of warm up runs you did to speed it up? Thank you so much.

[2018-02-06 00:23] okuchaiev commented on #16703
Please have a look at this PR https://github.com/tensorflow/tensorflow/pull/16788

[2018-02-06 00:27] cjcandctr commented on #647
I have the same issue on my windows box. like osdf commented on Feb 2, 2016, I run anaconda prompt as administrator, then system can find the tensorflow I installed.
BTW, I was using Console2.

[2018-02-06 01:37] adekunleba commented on #16750
Had same issue

sudo apt-get install cuda-9-0

worked for me even after I had Cuda-9-0 installed.

[2018-02-06 02:38] chrysantd commented on #16692
@nataliaponomareva According to https://www.tensorflow.org/api_docs/python/tf/estimator/inputs/pandas_input_fn, Y should be pandas Series object. And I guess I call the method in a proper way.

Besides, if I change the code in your way, I will get the error below:

Traceback (most recent call last):
  File "random_forest.py", line 119, in <module>
    train_rf(train_ohd[features].iloc[X_1],l(y_1))

[2018-02-06 03:17] chrysantd commented on #16692
@nataliaponomareva According to https://www.tensorflow.org/api_docs/python/tf/estimator/inputs/pandas_input_fn, Y should be pandas Series object. And I guess I call the method in a proper way.

Besides, if I change the code in your way, I will get the error below:

Traceback (most recent call last):
File "random_forest.py", line 119, in
train_rf(train_ohd[features].iloc[X_1],l(y_1))
File "random_f

[2018-02-06 03:20] chrysantd commented on #16692
And as I said before, there's no error when I use LinearRegressor, so I think the rank of label is fine.

[2018-02-06 03:21] yhl41001 opened #16790 "Save a numpy params as tensorflow model!"
Hi, I have trained a model, and i save the params in a numpy file in dict type.
Now i construct the network manually, and set the params as my trained model.
i want to save the network as tensorflow model, but the session is empty,
so how could i save the model?

[2018-02-06 03:40] unwritten commented on #16768
it  turns out my lstm dimension is too big, I used 2 layer lstm in my network with dim 1024, when I change it to 256, OOM error gone;

[2018-02-06 04:43] mpkuse commented on #16311
Any updates on this?

[2018-02-06 04:52] michaelisard commented on #16718
@alextp what do you think is the best way to do this?

[2018-02-06 05:03] michaelisard commented on #16772
@hawkinsp what do you think is the best next step to debug this?

[2018-02-06 05:13] michaelisard commented on #16780
Do you get the same behavior with a simple type e.g. float or is it just string?

[2018-02-06 05:15] michaelisard commented on #16782
Please reopen with more information if this is a bug thanks!

[2018-02-06 05:15] #16782 closed

[2018-02-06 05:15] michaelisard commented on #16790
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-06 05:15] #16790 closed

[2018-02-06 05:34] yzhwang commented on #5772
@ppwwyyxx Thanks for the comment! @drscotthawley and @kirk86 , could you provide more info so that I can take a closer look?

[2018-02-06 05:54] drscotthawley commented on #5772
@ppwwyyxx @yzhwang I had just downloaded a fresh CUDA from NVIDIA, which defaults to version 9.1, not realizing that TF didn't support that yet.  I resolved this problem by downgrading to CUDA 9.0.  You can close this issue again.
@kirk86, try using 9.0 instead.

Might be worth noting: I've built TF from source before, but couldn't manage to do so using CUDA 9.1.  I don't recall the errors, just t

[2018-02-06 05:58] xshow-xs commented on #11807
I am seeing the same error with bazel 0.5.4
python 2.7
centos7.3
tensorflow:v1.3
cuda8.0
cudnn6.0
GTX1080

[2018-02-06 06:08] ahundt commented on #15722
@parag2489 Thanks for your comments. I re-read several places where preprocessing is done and it seems you're right, dividing by 255 is the most common image preprocessing to do in tf. I've updated https://github.com/tensorflow/tensorflow/issues/15722#issuecomment-354625196 accordingly.

However, It is important to note `img/255` is not the only valid approach, as you can see from [keras' preproce

[2018-02-06 06:16] ziruizhuang commented on #16670
problem exists on Windows with CUDA 9.0 and CUDNN 7.0.5 for CUDA 9

[2018-02-06 06:17] wm901115nwpu commented on #16762
I run bazel build -c opt //tensorflow/examples/android:tensorflow_demo
java version:java 9.0.4
Java(TM) SE Runtime Environment (build 9.0.4+11)
Java HotSpot(TM) 64-Bit Server VM (build 9.0.4+11, mixed mode)
bazel version: bazel release 0.10.0

[2018-02-06 06:25] ziruizhuang opened #16791 "Tensorflow 1.5.0 Import Error on CUDA 9.0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, I used the stock version.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: pip binary for windows with GPU support
- **TensorFlow version (use command below)**: 1.5.0
- **Python version**: Pytho

[2018-02-06 06:32] ziruizhuang commented on #16791
A system reboot solved the issue.

However, since the tensorflow installation page still refers to CUDA/CUDNN 8.0/6, it would be better if the page states the CUDA requirement for different versions of prebuilt binaries.

[2018-02-06 06:48] freedomtan commented on #16694
toco doesn't really need those libraries. libtensorflow_framework.so, which is used by toco, needs them when `--config cuda` is used.

[2018-02-06 06:51] gunan commented on #16670
Please file a new issue with all the debugging information requested by the template.
That way we can reproduce and pinpoint the exact problem.

[2018-02-06 07:29] tensorflowbutler commented on #16781
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:29] tensorflowbutler commented on #16721
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:29] tensorflowbutler commented on #16745
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:29] tensorflowbutler commented on #16751
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:29] tensorflowbutler commented on #16755
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:29] tensorflowbutler commented on #16757
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
CUDA/cuDNN version
Exact command to reproduce

[2018-02-06 07:29] tensorflowbutler commented on #16761
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:30] tensorflowbutler commented on #16767
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:30] tensorflowbutler commented on #16771
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:30] tensorflowbutler commented on #16773
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Bazel version
GPU model and memory

[2018-02-06 07:30] tensorflowbutler commented on #16775
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-06 07:30] tensorflowbutler commented on #15290
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:30] tensorflowbutler commented on #15274
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:30] tensorflowbutler commented on #15257
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:30] tensorflowbutler commented on #15242
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:30] tensorflowbutler commented on #15241
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:30] tensorflowbutler commented on #15237
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:30] tensorflowbutler commented on #15228
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:31] tensorflowbutler commented on #15211
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:31] tensorflowbutler commented on #15172
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:31] tensorflowbutler commented on #15433
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:31] tensorflowbutler commented on #15294
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:31] tensorflowbutler commented on #15305
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:31] tensorflowbutler commented on #15329
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:31] tensorflowbutler commented on #15340
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:31] tensorflowbutler commented on #15352
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:31] tensorflowbutler commented on #15360
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #15369
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:32] tensorflowbutler commented on #15387
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #15392
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #15410
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:32] tensorflowbutler commented on #15413
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #15426
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #15428
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #15430
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #14732
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:32] tensorflowbutler commented on #14980
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:32] tensorflowbutler commented on #14716
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:32] tensorflowbutler commented on #14744
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:32] tensorflowbutler commented on #14752
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14753
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14759
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14783
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14832
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14851
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14857
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:33] tensorflowbutler commented on #14886
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:33] tensorflowbutler commented on #14934
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:33] tensorflowbutler commented on #14936
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:33] tensorflowbutler commented on #14943
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:33] tensorflowbutler commented on #14950
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:33] tensorflowbutler commented on #14972
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:34] tensorflowbutler commented on #14994
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:34] tensorflowbutler commented on #14995
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:34] tensorflowbutler commented on #15006
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:34] tensorflowbutler commented on #15009
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:34] tensorflowbutler commented on #15014
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:34] tensorflowbutler commented on #15041
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:34] tensorflowbutler commented on #15051
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:34] tensorflowbutler commented on #15090
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16166
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16035
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16042
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:35] tensorflowbutler commented on #16061
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16063
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16072
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16082
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16083
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16095
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16098
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16110
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:35] tensorflowbutler commented on #16112
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16115
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:36] tensorflowbutler commented on #16126
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16155
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:36] tensorflowbutler commented on #16163
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:36] tensorflowbutler commented on #16034
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16170
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16179
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:36] tensorflowbutler commented on #16181
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16182
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16189
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:36] tensorflowbutler commented on #16190
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:36] tensorflowbutler commented on #16202
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #16207
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #16209
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #16218
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #16227
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #16248
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #16263
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:37] tensorflowbutler commented on #15695
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #15473
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #15505
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #15542
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:37] tensorflowbutler commented on #15613
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:37] tensorflowbutler commented on #15621
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:38] tensorflowbutler commented on #15624
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:38] tensorflowbutler commented on #15625
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:38] tensorflowbutler commented on #15638
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15649
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15651
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:38] tensorflowbutler commented on #15684
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15688
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:38] tensorflowbutler commented on #15693
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15438
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15701
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15753
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:38] tensorflowbutler commented on #15777
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:39] tensorflowbutler commented on #15805
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:39] tensorflowbutler commented on #15963
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:39] tensorflowbutler commented on #15996
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:39] tensorflowbutler commented on #16023
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:39] tensorflowbutler commented on #16026
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:39] tensorflowbutler commented on #16032
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:39] tensorflowbutler commented on #12293
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:39] tensorflowbutler commented on #12553
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12523
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12522
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12514
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12500
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12465
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12460
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12389
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12569
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12260
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12215
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12202
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:40] tensorflowbutler commented on #12194
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12121
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12851
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12813
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12810
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:41] tensorflowbutler commented on #12792
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12781
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:41] tensorflowbutler commented on #12753
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12730
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:41] tensorflowbutler commented on #12699
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12084
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:41] tensorflowbutler commented on #12653
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #12649
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #12641
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #12604
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:42] tensorflowbutler commented on #12587
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #12579
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #6195
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:42] tensorflowbutler commented on #9579
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #9525
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #9509
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #7868
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:42] tensorflowbutler commented on #7480
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:42] tensorflowbutler commented on #7467
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #7128
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:43] tensorflowbutler commented on #6992
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #5773
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #5763
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #4589
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #4434
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #4193
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #2126
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #1325
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #12883
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:43] tensorflowbutler commented on #10155
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:44] #15392 closed

[2018-02-06 07:44] tensorflowbutler commented on #10220
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #10240
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #10449
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #11037
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #11095
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #11101
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #11514
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #11888
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #11923
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:44] tensorflowbutler commented on #12002
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:44] tensorflowbutler commented on #12071
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:45] tensorflowbutler commented on #14572
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:45] tensorflowbutler commented on #14544
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:45] tensorflowbutler commented on #14540
As this issue has invited community support, please remove the assignee. Otherwise, remove the `community support` label. Thank you.

[2018-02-06 07:45] tensorflowbutler commented on #14535
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:45] tensorflowbutler commented on #14518
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:45] tensorflowbutler commented on #14454
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:45] tensorflowbutler commented on #14452
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:45] liuhu-bigeye opened #16793 "tf.gradients(colocate_gradients_with_ops=True) set wrong device when using CPU param weight decay"
**System information**

- OS Platform and Distribution: CentOS Linux 7(x86-64)
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 1.4.1
- Python version: 2.7.6
- CUDA/cuDNN version: 8.0/6.0
- Have I written custom code: YES
- Bazel version: N/A
- GPU model and memory: PS Toy model
- Exact command to reproduce: List at the end

I am trying to define a two-layered dnn for m

[2018-02-06 07:45] tensorflowbutler commented on #14575
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:45] tensorflowbutler commented on #14171
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #13982
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #13620
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #13618
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #13610
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #13580
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:46] tensorflowbutler commented on #14606
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #14607
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:46] tensorflowbutler commented on #14608
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:46] tensorflowbutler commented on #14611
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:46] tensorflowbutler commented on #14615
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:46] tensorflowbutler commented on #14623
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:46] tensorflowbutler commented on #14625
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #14659
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #14661
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:47] tensorflowbutler commented on #14666
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:47] tensorflowbutler commented on #14675
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #14676
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #14692
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:47] tensorflowbutler commented on #14703
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #13120
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:47] tensorflowbutler commented on #13222
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #13206
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #13202
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:47] tensorflowbutler commented on #13188
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:47] tensorflowbutler commented on #13187
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:48] tensorflowbutler commented on #13169
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #13150
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #13124
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:48] tensorflowbutler commented on #13243
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #13104
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #13103
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #13101
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #13068
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:48] tensorflowbutler commented on #12917
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:48] tensorflowbutler commented on #1122
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-06 07:48] tensorflowbutler commented on #13258
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:49] tensorflowbutler commented on #13305
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:49] tensorflowbutler commented on #13308
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:49] tensorflowbutler commented on #13341
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:49] tensorflowbutler commented on #13413
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:49] tensorflowbutler commented on #13426
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:49] tensorflowbutler commented on #13436
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:49] tensorflowbutler commented on #13439
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:49] tensorflowbutler commented on #13462
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-06 07:49] tensorflowbutler commented on #13530
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:49] tensorflowbutler commented on #13537
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:49] tensorflowbutler commented on #13568
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 07:50] tensorflowbutler commented on #13575
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 07:55] ymcasky commented on #16721
@tensorflowbutler
Ok, I've updated it!

[2018-02-06 08:04] #15473 closed

[2018-02-06 08:04] xsr-ai commented on #14606
I met the same problem too. Have anyone solved it?（use tf1.5）

[2018-02-06 08:10] konstunn commented on #16112
I think it's still an issue. And I have update some fields requested

[2018-02-06 08:11] zyuan2009 commented on #14535
Same problem happens to me, and I managed to fix it
a. Add a dependency ""//tensorflow/python:image_ops" to import_pb_to_tensorboard target
b. Add an import "from tensorflow.python.ops import gen_image_ops" to import_pb_to_tensorboard.py

diff:

diff --git a/tensorflow/python/tools/BUILD b/tensorflow/python/tools/BUILD
index 63f16c5..23e8055 100644
--- a/tensorflow/python/tools/BUILD
+++ b/tensorf

[2018-02-06 08:15] alenaschnurr commented on #16773
I updated the missing fields.

[2018-02-06 08:19] shkarupa-alex commented on #16780
Got same behavior with float

[2018-02-06 08:25] chiru83 commented on #16035
The problem is coming when i set GPU NMS flag. But if  disable GPU NMS flag,  the no error is showing up.
Linux OS. TF latest version

[2018-02-06 08:25] chiru83 commented on #16035
Thanks for suggestion

[2018-02-06 08:28] jayshah19949596 commented on #13341
I think you can close it now

[2018-02-06 08:28] balajichandramohan commented on #15880
@dtegunov I am also facing the same issue, I want to run multiple iteration and each iteration is model generation. Can you please provide your code to deallocate GPU memory by manually destroying them?

[2018-02-06 08:28] selcouthlyBlue opened #16794 "Feature Request: Modification of lstm2d.horizontal_lstm implementation"
I noticed something in the documentation of `lstm2d.horizontal_lstm`. It says:

Kinda looks like a bidirectional_lstm to me. I propose to change the implentation such that it will use bidirectional_lstm within the function replacing this:

[code]

With this:

[code]

[2018-02-06 08:30] #16768 closed

[2018-02-06 08:39] xav12358 opened #16795 "Android C++ API on arm64-v8a"
Hello,

I try to compile tensorflow for android arm64-v8a. I found lots of issues on similar problem but no answer work for me. Here is the full description of my commands:

`bazel build --config=android_arm64 -c opt //tensorflow:libtensorflow_cc.so --crosstool_top=//external:android/crosstool --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --cxxopt=-std=c++11  --verbose_failures ERROR: No

[2018-02-06 08:42] LvJC commented on #15257
@tensorflowbutler nope.

[2018-02-06 08:42] #15257 closed

[2018-02-06 08:55] jameschao2000 opened #16796 "Slim batch image prediciton?"
I just finished training a model by following train_image_classifier.py

CUDA_VISIBLE_DEVICE=0,1 python train_image_classifier.py --train_dir=train_logs --dataset_dir=../train --num_samples=15500 --num_classes=4 --labels_to_names_path=../labels.txt --model_name=inception_resnet_v2 --checkpoint_path=../checkpoints/inception_resnet_v2_2016_08_30.ckpt --checkpoint_exclude_scopes=InceptionResnetV2/Log

[2018-02-06 08:58] xysmlx commented on #12860
I solved this problem by commenting the line *** #include "cuda/cuda_config.h" *** in the "dso_loader.h" file. And the custom op works normally.

[2018-02-06 09:16] jeffxtang commented on #8242
Definitely a bug in both strip_unused and optimize_for_inference tools. Use transform_graph fixed this! See my answer at https://stackoverflow.com/questions/48212068/error-using-model-after-using-optimize-for-inference-py-on-frozen-graph/48638586#48638586 for detail.

[2018-02-06 09:19] Goldesel23 commented on #15552
Hi @csytracy. I did some warm-up runs similar to the test_benchmark code:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/benchmark/benchmark_model.cc

[2018-02-06 09:22] xav12358 commented on #9755
Do you have any solution for that error?

`ERROR: No default_toolchain found for cpu 'arm64-v8a'. Valid cpus are: [
  k8,
  armeabi-v7a,
  x64_windows,
  x64_windows_msvc,
  x64_windows_msys,
  s390x,
  ios_x86_64,
]
INFO: Elapsed time: 1.323s
`

I can't find solution to build it properly for arm64-v8a

[2018-02-06 09:40] benshi001 commented on #16351
This issue rises again with the newest commit 283f03c825312efd3319cb37dc1a412288a536ec

Here is the exception

	02-06 17:37:50.101 10142 10158 E AndroidRuntime: FATAL EXCEPTION: CameraBackground
	02-06 17:37:50.101 10142 10158 E AndroidRuntime: Process: com.example.android.tflitecamerademo, PID: 10142
	02-06 17:37:50.101 10142 10158 E AndroidRuntime: java.lang.IllegalArgumentException: Failed to r

[2018-02-06 09:41] benshi001 commented on #16351
My above patch did not change.

[2018-02-06 09:44] benshi001 commented on #16351
why the fix is not merged?

[2018-02-06 10:07] hashimock commented on #16771
Excuse me, I missed CONTRIBUTE.md.
My run environment is following.

OS Platform and Distribution: Ubuntu 16.04
TensorFlow installed from: pip
TensorFlow version: 1.4.1
Bazel version: 0.9.0
CUDA/cuDNN version: Cuda compilation tools, release 9.1, V9.1.85
GPU model and memory:  GeForce GTX 1080 Ti * 3, 11172MiB * 3
Exact command to reproduce:

[code]

[2018-02-06 10:28] aisuni commented on #16757
Here is remedy...
[code]

[2018-02-06 10:57] syedk01 commented on #1606
I am hoping to print the confusion matrix in my code
In the line where it says
Tgtc=11
How do i add something like
Tgtc=[2,5,7,8,11] where i want to do a confusion matrix for the 5 variables

import sys

if sys.version_info.major != 3:
    raise Exception('Please run with python3')

import os
import time
import gc
import numpy as np

import afib_common

from afib_common import (
    build_model, g

[2018-02-06 11:05] sswv commented on #16397
Since the patch https://github.com/tensorflow/tensorflow/pull/16443 had been merged, I think the issue can be closed.

[2018-02-06 11:05] #16397 closed

[2018-02-06 11:27] akileshbadrinaaraayanan commented on #2412
@avanish  - Did you find a fix for your problem?

[2018-02-06 11:32] SeguinBe opened #16798 "tf.nn.conv2d on GPU with data_format='NHWC' gives corrupted result for specific shapes"
Basically what the title says.

For an image of size (1096, 2449) EXACTLY, not 1097 or 1095 or 2448 or 2450 (but 2451 for some reason produces the same effect). The bottom part of the convolution result gets corrupted. It only affects convolution done on the GPU with the 'NHWC' data format.

Honestly, it feels more of a cuDNN bug than anything, but not sure where to post it otherwise.

**Important

[2018-02-06 11:33] nasica88 commented on #12579
Solved this error via patches.  See below.

[](http://hwengineer.blogspot.kr/2018/01/ac922-redhat-python3-tensorflow-141.html)

[2018-02-06 12:23] MrWanter opened #16799 "Debug prompts use_default_colors() returned ERR"
I was running a example code from [tensorpack](http://tensorpack.readthedocs.io/en/latest/index.html) on Pycharm, which runs properly, then I changed the session to
`sess = tf_debug.LocalCLIDebugWrapperSession(sess) ` in order to debug
as suggested by official example https://www.tensorflow.org/programmers_guide/debugger, but then I got:
[code]
which I have no clue for the reason, can someone help

[2018-02-06 12:33] hxw111 opened #16800 "How to compile and use Opencv in tensorflow c++?"
I want to implement a model inference in tensorflow c++ and have saved the model as .pb file. But I can't use opencv to process the image. I wonder how can I add the opencv lib to the bazel project? Are there any tricks to solve the problem? Thanks!

This is the code of the bazel BUILD file:

    package(
        default_visibility = ["//tensorflow:internal"],
    )

    licenses(["notice"])  # Ap

[2018-02-06 12:37] PatWie commented on #12860
@Queequeg92
The cuda.h is part of the cuda toolkit or whatever Nvidia ships. It is not part of TensorFlow, that is what the lines

[code]

are for. But the latest version of TF is broken again (https://github.com/tensorflow/tensorflow/issues/15002#issuecomment-362663624)

[2018-02-06 12:55] hkhatod commented on #16072
That was it. Shape issue.

[2018-02-06 12:55] #16072 closed

[2018-02-06 12:57] sbrunk commented on #16063
I'm had the same issue a few days ago, but using current master 283f03c825312efd3319cb37dc1a412288a536ec, and an additional
```apt install libpython2.7-dev``` in the docker container before calling the build script, it worked for me.

I was also able to generate `libtensorflow_framework.so` by changing the build target to `//tensorflow:libtensorflow_framework.so` in `./tensorflow/tools/ci_build/pi

[2018-02-06 13:11] rimidalv commented on #16588
I found solution!

To fix this error you should remove this: **op=Identity**  from "remove_nodes" inside --transforms
And may be add --transforms='remove_attribute(attribute_name=_class)' if you get this error: https://github.com/tensorflow/tensorflow/issues/9494

This code is OK:

[code]

[2018-02-06 13:11] #16588 closed

[2018-02-06 13:32] Androbin commented on #15392
@eaigner Does it work now?

[2018-02-06 14:14] yongtang commented on #13188
I think the issue has been resolved in #13237. Thanks for the contribution!

[2018-02-06 14:14] #13188 closed

[2018-02-06 14:51] freedomtan commented on #16351
@andrehentz and @tatatodd: confirmed that https://github.com/tensorflow/tensorflow/pull/16256 was gone and I can reproduce what @benshi001 reported with my apps. Can't find why from git log. Maybe it was reverted during code merging?

[2018-02-06 14:53] kirk86 commented on #5772
@drscotthawley Thanks for you answer but in my case I can't do that. It's a shared system and I'm not an admin.

[2018-02-06 14:56] tensorflowbutler commented on #16226
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-06 14:56] tensorflowbutler commented on #6417
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-06 15:11] richeekawasthi opened #16801 "Tensorflow installer assumes that the user uses CUDA 9.0 while CUDA 9.1 is out already."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-02-06 15:13] guschmue commented on #13016
Just tried this and think I see the same if foo is on windows and bar on linux.
Odd, don't see a reason why this should not work. Let me debug this a little.

[2018-02-06 15:34] ASWATHISATHEESH commented on #97
y_output = vqa_model.predict([question_features, image_features])
NameError: name 'question_features' is not defined

what would be the solution

[2018-02-06 15:42] jart commented on #12579
The patch could be inlined into the TensorFlow build but should ideally be upstreamed into Google's BoringSSL repo and then bump the version in our workspace.bzl. Contributions welcome SUSE friends.

[2018-02-06 15:43] kmonachopoulos opened #16803 "transform_graph generates faulty model after optimization (quantisation)."
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
- **Python version**:
1.4.1
- **Bazel version (if compilin

[2018-02-06 15:44] jart commented on #12579
Please note this is being marked contributions welcome because RHEL 6 and old SUSE is outside official support matrix, which currently starts at RHEL 7 / Ubuntu 14 IIRC.

[2018-02-06 15:44] #12522 closed

[2018-02-06 15:47] jart commented on #14171
Closing due to inactivity. If still a problem let us know and I'll reopen.

[2018-02-06 15:49] jart commented on #12641
There's a PR somewhere adding in-kernel sendfile copy support I spent a lot of time helping to review a while back. I don't know what the status of that is, but I hope the author is generous enough to bring it to completion, because it'd be a great notch in his belt because this isn't an easy problem to solve.

[2018-02-06 15:51] jart commented on #12699
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-06 15:51] #12699 closed

[2018-02-06 15:51] jart commented on #10419
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-02-06 15:51] #10419 closed

[2018-02-06 15:53] jart commented on #10155
This issue should hopefully be searchable enough to be the definitive documentation. Please note StackOverflow has better searchability. We might also welcome a PR adding docs for this to the official site. Thanks everyone for reaching out.

[2018-02-06 15:53] #10155 closed

[2018-02-06 15:54] kmonachopoulos commented on #16803
This is the part that I am getting the error :

![image](https://user-images.githubusercontent.com/3832904/35868951-dfd9674e-0b55-11e8-87e8-3a92a8931a18.png)

[2018-02-06 15:58] tylerlekang commented on #16477
As mentioned in the other thread (which is now closed):

It might be nice to have CUDA/cuDNN version support information in one location, and have everything else point to that webpage. Then you don't have to remember to update the version numbers in multiple places (and potentially forget a few).

In that case, it might also be nice to mention a few more specifics of the version numbers that a pa

[2018-02-06 16:01] bhack commented on #10155
How this is related to the new warm start parameter in master?

[2018-02-06 16:03] bhack commented on #10155
https://github.com/tensorflow/tensorflow/issues/14713#issuecomment-361866951

[2018-02-06 16:04] quaeler commented on #12641
It's the PR cited above - #12658

[2018-02-06 16:05] jart commented on #15777
This issue should be safe to close, now that TF 1.5 is rolled out. To recap:

This problem wasn't easy to solve, due to challenging constraints imposed vendor—who shall remain nameless.

What fixed this is @av8ramit @gunan @case540 (among others) are now putting aside added time to manually build CPU releases on Ubuntu 14.04, to maintain the compatibility commitments we made to the community.

An

[2018-02-06 16:05] #15777 closed

[2018-02-06 16:23] 17ankish commented on #8727
I have face the same issue. Even i had reinstalled it.
I am using the latest version with python=5.3
I have installed it using conda command.

Please help

[2018-02-06 16:31] michaelisard commented on #10449
Closing this since the referenced PR is closed. Please reopen if there's something that should be done.

[2018-02-06 16:31] #10449 closed

[2018-02-06 16:31] michaelisard commented on #6195
Closing due to lack of activity. Please reopen if there is new information.

[2018-02-06 16:31] #6195 closed

[2018-02-06 16:32] michaelisard commented on #12730
Closing due to lack of activity, and because the most recent comment indicates the problem was solved.

[2018-02-06 16:32] #12730 closed

[2018-02-06 16:33] michaelisard commented on #12604
Closing due to lack of activity. Please reopen if there is still a problem.

[2018-02-06 16:33] #12604 closed

[2018-02-06 16:33] yongtang commented on #15838
@SmartCC I created a PR #16804 which should be able to process the gif file you posted. Please take a look if interested.

[2018-02-06 16:35] michaelisard commented on #1325
Are people still experiencing this problem?

[2018-02-06 16:35] michaelisard commented on #16780
OK I will take a look when I get a chance but it may be a day or two sorry!

[2018-02-06 16:38] michaelisard commented on #15400
It sounds as if it may make sense to report this to pip/setuptools. Closing here, but please reopen if you think this is a TensorFlow bug.

[2018-02-06 16:38] #15400 closed

[2018-02-06 16:40] olesalscheider commented on #16669
@benoitsteiner I have extracted the relevant code that triggers the bug.
You can find it here: https://gist.github.com/olesalscheider/6d37c9716671dc607cab9ab281ae1cd1
Of course it does not do anything useful now, but it runs fine without the memory optimizer.

@allenlavoie With the memory optimizer, the code finally fails with

Without the optimizer it runs fine.

[2018-02-06 16:44] jart commented on #15777
Oh, for posterity, here are some facts we uncovered for anyone who's interested in using Debian 8 with Clang. This could potentially be useful for other people in the industry who are interested in distributing TensorFlow.

----

Debian 8 Jessie (lifetime 2015→2020) is my personal favorite. Clang team maintains an apt repo for Debian 8. The two have a surprising degree of synergy.

Unlike the GCC

[2018-02-06 16:45] michaelisard commented on #16622
Closing, but please reopen if this is not resolved.

[2018-02-06 16:45] #16622 closed

[2018-02-06 16:50] michaelisard commented on #16766
Right, I think you aren't adding any nodes to the graph by simply assigning a new Python variable. I guess that out_feat = tf.identity(seg_sum) would work?

[2018-02-06 16:53] dshieble opened #16805 "Feature Request: max_norm argument added to tf.nn.nce_loss"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes

### Describe the problem
I would like to request an additional argument to added to the tf.nn.nce_loss function. This function calls the tf.nn.embedding_lookup in order to build the matrix of negative sample embeddings. tf.nn.embedding_lookup has a max_norm argument, an

[2018-02-06 16:58] michaelisard commented on #16796
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-06 16:58] #16796 closed

[2018-02-06 16:59] ebrevdo commented on #16794
This code is considered legacy because the author is no longer maintaining it, and it doesn't have many users.  In fact, I hope to remove it for TF 1.7.  If you'd like to make these kinds of modifications, you may want to copy it under the Apache 2 license into your own repository and make them there?

[2018-02-06 16:59] #16794 closed

[2018-02-06 17:00] michaelisard commented on #16800
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-06 17:00] #16800 closed

[2018-02-06 17:04] tz579 commented on #15618
@gunan @case540 Another 14 days has passed. Is there any other track page that I may have not known? Thanks a lot!

[2018-02-06 17:06] tz579 commented on #15618
@gunan @case540 Another 14 days has passed. Is there any other track thread(s) that I may have not known? Thanks a lot!

[2018-02-06 17:28] mjmax commented on #22
@briansp2020 Ah yes I have seen AMD's work on ROCm. Unfortunately they only support Linux though, and it doesn't even seem like support for any other OS is on their roadmap. I'm hoping for something that supports Windows.

[2018-02-06 17:28] zhuangh commented on #6992
I am still working on the pull request #16185 for parts of this request with @rmlarsen

[2018-02-06 17:43] briansp2020 commented on #22
@mjmax Is there any GPU accelerated tensorflow package available for Windows? I thought, if you want GPU accelerated deeplearning, Linux was only choice. If TensorFlow was ported to OpenCL, would that make it easier to port to Windows? I'm not sure why TensorFlow is not available on windows with GPU acceleration when CUDA is supported there.

I guess this is now off topic, but if anyone know of Te

[2018-02-06 17:44] martinwicke commented on #16752
It looks to me like you're trying to load a model generated by a newer version of TensorFlow on an older version which does not understand all its features (in particular, the dilations attr of the Conv2D op).

[2018-02-06 17:44] #16752 closed

[2018-02-06 17:49] alextp commented on #16718
tf.is_variable_initialized returns a tensor. If you want to initialize all uninitialized variables in a single session.run call you can build a graph which loops over the variables and assigns them to initialized_value (which is their current value or the value of their initializer). So something like `sess.run([x.assign(x.initialized_value()) for x in tf.global_variables()])` should do the trick.

[2018-02-06 17:49] #16718 closed

[2018-02-06 17:53] MKorablyov commented on #16766
It would, of course. But I think it's non-obvious for the user that tf.control_dependencies would not work on copying since it's not creating a node of the graph.

[2018-02-06 17:56] jart commented on #15618
@gunan I could be of some assistance with review. Last time I touched this code was #14467. From the looks of https://github.com/gunan/tensorflow/commit/77eaad46df1fb6532577c130a2508665c17de049 this seems like a tough nut to crack. I barely understand this git/python autoconf code and my intuition tells me it *should* or *could* be significantly simpler. But not something I have cycles to think to

[2018-02-06 17:57] martinwicke commented on #16720
This error (`undefined symbol: _Py_FalseStruct`) is a symptom of a mismatch between the python version and the version of a module. Have you somehow installed the py3 version of tensorflow into your py2 environment?

How did you install TensorFlow?

Can you try to install tensorflow into a clean virtualenv? It does look like your python installation is broken.

[2018-02-06 18:05] gunan commented on #8727
There is no such python version.
Please try installing via pip. or see the other recommendations above.

[2018-02-06 18:06] mjmax commented on #22
@briansp2020 As far as I know, Tensorflow already supports Nvidia GPU acceleration on Windows.

[2018-02-06 18:07] gunan commented on #13068
could you try adding `--action_env=LD_LIBRARY=${LD_LIBRARY_PATH}` to your bazel command?

[2018-02-06 18:12] gunan commented on #15542
@meteorcloudy do you thin we can use any workarounds?
Do you have any recommendations?

[2018-02-06 18:20] mirh commented on #22
CL tensofrflow is already a mess on linux, don't expect anything any soon.
If you want to accelerate stuff there, there's only plaidML.
(and please, we are already at 500 comments.. let's try to only post if really, really necessary)

[2018-02-06 18:21] gunan commented on #16477
Only thing we can point to is the cuda and cudnn versions we built against.
From user perspective, 8.0GA1 and 8.0GA2 should be the same, there should be only bugfixes between the two. So we will keep just announcing 8.0, or 9.0 (or 9.) version we build against.
Similarly, when we build against cuDNN 7.0.5, you should still be able to run it with cuDNN 7.0.4.

The drivers you will need to use for e

[2018-02-06 18:29] #15891 closed

[2018-02-06 18:29] #16703 closed

[2018-02-06 18:33] yifeif commented on #15758
FYI we have removed all our dependencies on `all_opensource_files`.

[2018-02-06 18:37] #10240 closed

[2018-02-06 18:38] Androbin commented on #15758
@yifeif Great, could you take a look at #16491 then?

[2018-02-06 18:43] aisuni commented on #16757
Hi @tensorflowbutler ,  Here is he info,
Have I written custom code :  NO
CUDA/CUDAnn version: CUDA 9.1 and CUDAnn 7.0 with latest Nvidia driver

[2018-02-06 18:47] jart commented on #12649
I'm going to take this issue out of triage. Ideally what I'd like to see happen is someone who was involved in creating that model come along and let us know that configuring shapes in this manner is a must-have requirement, which would make this bug.

I'll also note I think it's a little peculiar that fails with buffer overflow. But it seems like Java is doing a good job keeping us safe here. Wha

[2018-02-06 18:47] #12649 closed

[2018-02-06 18:56] raghuraman-k commented on #15009
We should have updated models available next week.
Thanks!

[2018-02-06 19:25] OscarDPan commented on #13439
My apologies. This is still an issue. I just haven't been able to going back to the problem and dig deeper. Should I close the issue for now and reopen it later?

[2018-02-06 19:27] tkc285 opened #16807 "TF 1.3 unable to create Session in the first time"
I have install TF 1.3 GPU using anaconda. It is failed to create session as run TF in script file.

As run TF interactively or using spyder, same error messages were shown and it fail to create session in the first time. However, it able to create session if run "sess = tf.Session()" again. The TF will run either by input line by line script or using "exec(compile(open(filename, "rb").read(), file

[2018-02-06 19:39] tensorflowbutler commented on #16793
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
GPU model and memory
Exact command to reproduce

[2018-02-06 19:39] tensorflowbutler commented on #16795
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Exact command to reproduce

[2018-02-06 19:51] w4nderlust commented on #14171
Confirm that it's still an issue. Tested it with TensorFlow 1.5 with python3.5 on ubuntu 16.04 with Nvidia driver 390.12 cuda 9.1 and cuDNN 7. The leak is still there, even if now instead of taking 7G of VRAM it takes only 3.8G.

[code]

[2018-02-06 20:00] reedwm commented on #13439
Sure, I'll close the issue for now.

[2018-02-06 20:00] #13439 closed

[2018-02-06 20:09] lucy-itjob commented on #8529
Guna,

I am trying to compile bazel-0.7.0-dist.zip on rel6, the bazel is not compaile:
Here is the step
################
 scl enable devtoolset-4 bash

cat >/tmp/bazelrc <<EOF
startup --batch
build --spawn_strategy=standalone --genrule_strategy=standalone
EOF

Which gcc
/opt/rh/devtoolset-4/root/usr/bin/gcc

[dsapadmn@vcld002370 bazel-0.7.0]$ BAZELRC=/tmp/bazelrc ./compile.sh
ðŸƒ  Building Bazel

[2018-02-06 20:09] #12683 closed

[2018-02-06 20:13] gunan commented on #8529
For bazel installation, please reach out to bazel team, they can help in bazel installation issues much better than I can.

[2018-02-06 20:14] naibaf7 commented on #22
@mirh OpenCL Caffe does work on Windows.

[2018-02-06 20:31] jart commented on #14171
I was hoping to see more signal boost from the community by now. But due to the seriousness of the concerns being raised here, I'd ask @zheng-xq please take another look?

[2018-02-06 20:34] jart commented on #15369
@mrry has more state on CMake build and might be able to help.

[2018-02-06 21:04] jart commented on #6956
Bazel can absolutely handle .tar.xz.

mirror.bazel.build and the canonical authoritative URL is the minimum requirement.

Long term might be nice if more trusted orgs wanted to help us diversify our mirroring of public artifacts.

[2018-02-06 21:08] jart commented on #6956
More specifically, would it be possible for us to get nasm from here?

http://www.nasm.us/pub/nasm/releasebuilds/2.13.02/nasm-2.13.02.tar.gz

[2018-02-06 21:28] Deba-tintin opened #16809 "tf.extract_image_patches"
The documentation of the above function is available on the official Tensorflow page.
https://www.tensorflow.org/api_docs/python/tf/extract_image_patches

Can somebody explain me the meaning of the argument 'rates' and also what do these lines mean, preferably with an example with value of 'rates' >1 ?

**_This is the input stride, specifying how far two consecutive patch samples are in the input.

[2018-02-06 21:39] jowagner commented on #6956
The source used to be http://www.nasm.us/pub/nasm/releasebuilds/2.12.02/nasm-2.12.02.tar.bz2 (not .gz) but it was changed because www.nasm.us did not accept connections on the 19th of January 2017. It would increase reliability if this URL was added as a 3rd source. I can confirm that the sha256sum is still right, i.e. is is the same tar file and the same bzip2 compression parameters were used (pr

[2018-02-06 21:46] jart commented on #6956
Even GitHub itself had 98.7% availability, back when I helped rewrite [Bazel's downloader](https://github.com/bazelbuild/bazel/commit/ed7ced0018dc5c5ebd6fc8afc7158037ac1df00d). If we start adding additional mirrors (e.g. AWS, Alibaba, etc.) then I'd ideally like to see it be systemic, i.e. more than just nasm. That would elevate Bazel to carrier grade status.

[2018-02-06 21:53] albenoit commented on #8529
Hi,
i am currently trying to compile Tensorflow r1.5 on the same platform.
I managed to install bazel 0.8.0 as recommended in the install guide and
use the devtoolset-4 with gcc 5.3 version.

I try to finish the installation with GPUs but this is quite hazardous
since our grid also has issues.

Currently, here is my setup that worked for TF without GPU:

Regarding bazel, install from the dist pack

[2018-02-06 22:41] metral commented on #8858
I've encountered the same reboot / hard-crashes on a single Nvidia GTX 1080ti with an Ubuntu 17.10 host anytime I run some examples of TF models (e.g. nearest neighbor, linear regression etc.), and I can't come to a conclusion as to why the crashes continue.

I've tried various nvidia drivers, against different kernel versions, all with CUDA 9 + cuDNN 7 + TF 1.5.0:
- Linux 4.14.x -> Nvidia 384.111

[2018-02-06 23:10] #16082 closed

[2018-02-06 23:27] selcouthlyBlue commented on #16794
If you really intend to remove it, mind at least keeping some of the functions in there (like move them to contrib.layers or something)? I think `images_to_sequence` and `sequence_to_images` are pretty useful.

[2018-02-06 23:29] ebrevdo commented on #16794
Would you like to send a PR to copy these + unit tests over?  I'll be
removing them in the next day or two.

On Tue, Feb 6, 2018 at 3:27 PM, Jerome <notifications@github.com> wrote:

[2018-02-06 23:30] skye commented on #14713
Can we close this issue?

[2018-02-06 23:30] selcouthlyBlue commented on #16794
Alright, I'll work on them.

[2018-02-06 23:31] skye commented on #15057
@ebrevdo @reedwm any further comments?

[2018-02-06 23:35] skye commented on #15669
I'm closing this given mrry@'s at response. Please reopen if you think this is something that a community member could work on.

[2018-02-06 23:35] #15669 closed

[2018-02-06 23:37] pGit1 commented on #7648
pip install tensorflow-gpu wont work for me. Im doing pip install tensorflow-gpu==1.4 since when i do pip install tensorflow-gpu i get this cannot find lib cublas 9.0 error.

[2018-02-06 23:38] ebrevdo commented on #15057
@WenmuZhou is this still an issue in the most recent nightlies?

[2018-02-06 23:39] #15871 closed

[2018-02-06 23:53] mrry commented on #15669
FWIW, fc09f65a5d283baa9af182536e3e3652c7a41dd7 should halve the amount of memory that is consumed by each `tensorflow::ConstantOp` object. The first `Run()` call will probably still cause a spike in memory consumption, since there are other copies of the `ConstantOp` data that will be retained, but it should be a little less tall now.

[2018-02-06 23:53] skye commented on #15977
@mrry @saeta can you comment or redirect? Thanks!

[2018-02-06 23:54] bhack commented on #10155
Supposing that we want to accept this [Stackoverflow solution](https://stackoverflow.com/questions/46423956/load-checkpoint-and-finetuning-using-tf-estimator-estimator) can we document at least how to handle this with estimator created by `tf.keras.estimator.model_to_estimator` API?

[2018-02-06 23:55] skye commented on #16035
Is this still an issue? If so, please provide us with instructions for reproducing the error.

[2018-02-06 23:57] mrry commented on #15369
I don't have a strong opinion, but I think we'd prefer options like (3) that improve the overall maintainability of the CMake build scripts and don't impose additional constraints on the non-CMake build. We'd appreciate contributions on this

/cc @gunan @ewilderj for tf-distribute SIG relevance.

[2018-02-07 00:02] skye commented on #16279
Can you try with TensorFlow 1.5? It looks like this code has changed, so maybe it's fixed. If not, can you please send us the relevant code/stack traces again?

[2018-02-07 00:06] skye commented on #16329
@xiejw can you comment? I'm not sure if legacy_seq2seq is expected to still work...

[2018-02-07 00:07] skye commented on #16343
@mrry can you comment?

[2018-02-07 00:10] skye commented on #16381
@shivaniag is this related to your work at all?

[2018-02-07 00:11] skye commented on #16387
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow). More people will see it there, and we don't have the bandwidth to debug installation issues here.

[2018-02-07 00:11] #16387 closed

[2018-02-07 00:12] skye commented on #16393
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-07 00:15] skye commented on #16453
Unfortunately I don't think we can commit to including individual issues/PRs to a given release unless they're part of a larger roadmap item. @aselle @av8ramit correct me if I'm wrong.

[2018-02-07 00:18] mrry commented on #15977
I posted an [answer on Stack Overflow](https://stackoverflow.com/q/48101576/3574081). What you're trying do do seems possible, but it's not super easy (or efficient), and I suggested a workaround in the answer. I dare say the experience for working with video could be improved, and we'd welcome feature requests and/or contributions in this regard.

[2018-02-07 00:20] #16539 closed

[2018-02-07 00:21] nasica88 commented on #12579
@jart  I am not the writer of the patches I mentioned.  I expect the author - who is an IBM employee - will upstream the patches sooner or later.

[2018-02-07 00:23] bhack commented on #16453
@skye Why not? Many of your upstream updates comes from your internal branch that merge more or less regularly here on the public available repository.
Tagging "community" issue/pr on a target release could be useful to have a tentative effort. I.e. this is working for Kubernetes as a general reference.

[2018-02-07 00:25] skye commented on #16721
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2018-02-07 00:25] #16721 closed

[2018-02-07 00:26] skye commented on #16723
@asimshankar can you comment or redirect? Thanks.

[2018-02-07 00:28] av8ramit commented on #16453
Yes, unfortunately that's true at the moment. Since we release on a regular cadence we don't commit to individual PRs/issues unless there is a special exception made.

[2018-02-07 00:32] skye commented on #16747
@rmlarsen could you update the docs? I think @annarev can help direct you to where they should be updated.

[2018-02-07 00:34] skye commented on #16771
@rmlarsen can you take a look or redirect? Thanks!

[2018-02-07 00:34] skye commented on #16773
/cc @jart

[2018-02-07 00:35] Johnson145 opened #16813 "TensorFlow Lite for Inception v3 - Squeeze operator isn't supported"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No, I haven't used any custom code for this.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
r1.5 (6c5063a3f099c302412fcefa17edb2efa9921

[2018-02-07 00:41] bhack commented on #16453
@av8ramit But you target also review workload on user public PRs. So this could be useful for community PR and also to issue that are waiting for an internal upstream update. You can see many comment on issues that are not labeled as contribute welcome with comment like "we are working on this".

[2018-02-07 00:51] annarev commented on #16747
These seem to be relevant files for SelfAdjointEig documentation:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/api_def/base_api/api_def_SelfAdjointEig.pbtxt
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/api_def/base_api/api_def_SelfAdjointEigV2.pbtxt

[2018-02-07 01:11] fchollet commented on #16683
I confirm this is a real issue. It was introduce in PR https://github.com/tensorflow/tensorflow/pull/15146/files and it applies to both Xception and MobileNet.

However, it has been fixed since. If you upgrade to TF 1.6, you will no longer see this issue. For instance, you can `pip install` the TF 1.6 release candidate `1.6.0rc0` as of now.

[2018-02-07 01:11] #16683 closed

[2018-02-07 01:16] quaeler commented on #15933
@skye awaiting response or awaiting tensorflower?

[2018-02-07 01:20] selcouthlyBlue commented on #16794
Pull request made.

[2018-02-07 01:28] tensorflowbutler commented on #16799
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 01:28] tensorflowbutler commented on #16805
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 02:05] youkaichao commented on #16718
@alextp  but is it efficient? I mean, this has the same amout of work as `sess.run(tf.global_variables_initializer())`

e.g, if I have a large matrix which is already initialized, this is going to be time-consuming.

[2018-02-07 02:15] lucy-itjob commented on #8529
albenoit ,

Thank you for your information
 I have devtoolset-4 gcc (GCC) 5.2.1  on rel6
#############
dsapadmn@vcld002370 bazel-0.8.0-dist]$ scl enable devtoolset-4 bash
[dsapadmn@vcld002370 bazel-0.8.0-dist]$ which gcc
/opt/rh/devtoolset-4/root/usr/bin/gcc
[dsapadmn@vcld002370 bazel-0.8.0-dist]$ gcc --version
gcc (GCC) 5.2.1 20150902 (Red Hat 5.2.1-2)

############
I follow your instruction,

35

[2018-02-07 02:33] MrWanter opened #16820 "why tfdbg dumps so much things out"
I was running a very small network(only 1 million parameters), everything is right with the training process, then I tried `tfdbg`, when I get a `tfdbg -> run`, it dumps so many things out, then root directory is filled, before run, there is `11G` left, with a run, quickly fills all the space and prompts no space left:
[code]
How to make it work?

[2018-02-07 02:49] ymcasky commented on #16721
I already post it on
https://stackoverflow.com/questions/48654851/customized-loss-in-tensorflow-with-keras
Thanks for reply  :)

[2018-02-07 03:29] candou1611 commented on #16761
Thanks for your update. Here are fields you need.
Have I written custom code. N/A
OS Platform and Distribution. Centos7 and Linux 84a2861a8739 3.10.0-229.el7.x86_64
TensorFlow installed from. Using PIP
TensorFlow version. 1.4/1.5
Bazel version. N/A
CUDA/cuDNN version. N/A
GPU model and memory. N/A
Exact command to reproduce.  Using Keras (Tensorflow as backend)

[2018-02-07 04:06] tvkpz opened #16821 "Access to C++ APIs for tfprof"
Hi

How can I get access to the C++ APIs for tfprof?

[2018-02-07 05:34] ziruizhuang commented on #15142
The solution from @frankchn resolved the initial issue, however, there is another one followed.

I checked and I am sure that libcudnn.so.7 is in LD_LIBRARY_PATH.

[code]

[2018-02-07 05:40] hensal commented on #11387
when i run pip install tensorflow in anoconda prompt in windows 10,i got an error as:

(C:\ProgramData\Anaconda3) C:\Users\Hensal>pip install tensorflow
Collecting tensorflow
Exception:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\basecommand.py", line 215, in main
    status = self.run(options, args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\p

[2018-02-07 05:47] chivee commented on #8911
Hi guys, does PathSGD have any following updates on the implementations?

[2018-02-07 06:04] gunan commented on #11387
Please see this stackoverflow question:
https://stackoverflow.com/questions/46499808/pip-throws-typeerror-parse-got-an-unexpected-keyword-argument-transport-enco

[2018-02-07 06:24] albenoit commented on #8529
The surprisin thing is that this time, i did not modify any file and it
worked (for previous versions i did changes in the crosstool, typically in
the local_linux toolchain, similarly to the tensorflow cross tool as i
showed you in the previous post.
However, i have several Environment variables set to help :
set path=(/univ_home/UNIVSOFT/COMMON/python/2.7.6/bin $path)
set path=(/usr/local/cuda-8.

[2018-02-07 06:37] gunan commented on #16801
The decision to stay with cuda 9.0 was recommended to us by NVIDIA, as the new drivers to support cuda 9.1 is not available everywhere at the moment.
To run TF with cuda 9.1, you can build from sources, and it will definitely work.
@tfboyd can comment more.

[2018-02-07 06:37] #16801 closed

[2018-02-07 06:41] jperl commented on #15044
I don't know if this is performant but this solution has been working for me.

https://gist.github.com/jperl/954631259eda0f81be750b67e25f9bc4

[2018-02-07 06:43] puran157 opened #16823 "Centos 7, installed bazel version is 0.10 yet ./configure complain about atleast 0.4.2 version"
I was trying to build tensorflow (branch r1.0) on centos7.
./configure exited with following error
`Current Bazel version is 0.10.0- (@non-git), expected at least 0.4.2
ERROR: Error evaluating WORKSPACE file
ERROR: error loading package 'external': Package 'external' contains errors
Building: no action`

Steps involved in installing bazel
1. Go to bazel website
2. Download repo file and copy the s

[2018-02-07 07:04] jperl commented on #15044
Hmm seems like I have just reproduced tf.contrib.signal.frame. 🤦‍♂️

[2018-02-07 07:46] gunan commented on #16656
@meteorcloudy we did an upgrade in cmake build, but are you saying we missed the breakage because they were done separately?

I think the latest bazel windows build has a separate issue, so this one may be resolved?

[2018-02-07 07:51] tensorflowbutler commented on #16807
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 07:52] tensorflowbutler commented on #16809
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 08:07] arun-kumark commented on #15924
Hi Maurya Ritesh,
I am new to quantization scripts..

I need you help, I am facing the same issue while running the optimize_for_inference.py script.
My arguments are as below:

`python optimize_for_inference.py   --input=res101_faster_rcnn_iter_5600.pb   --output=optimized_graph.pb   --input_names="input"   --output_names="final_result"`

My pb file is based on Resnet-101. I am sharing my res101_

[2018-02-07 08:13] zhoub opened #16824 "CMake option for C API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7 x64
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: branch r1.6
- **Python version**: 3.4
- **Bazel version (if compiling from source)**: 1.7.

[2018-02-07 08:15] suhalvemu commented on #13305
Thanks a ton!! it is resolved.

Regards,
Suhal vemu

Best Regards,
*Suhal Vemu*
Mob #9986768698.

_____________________________________________________________
*reachout to suhalvemu@icloud.com <suhalvemu@icloud.com>*

On Thu, Jan 4, 2018 at 12:42 AM, Alfred <notifications@github.com> wrote:

[2018-02-07 08:34] x10000year opened #16825 "Bug of tf.contrib.estimator.replicate_model_fn"
I have used tf.contrib.estimator.replicate_model_fn() recently. I encountered a bug of the implementation (on master version). When there are some global trainable variables created in model_fn() and if the variables are never used (or if they are only used inside tf.cond()), it will fail with the following error messages:

[code]

[2018-02-07 08:35] #16825 closed

[2018-02-07 08:36] arun-kumark commented on #15924
python touch.py -m res101_faster_rcnn_iter_5600.ckpt.meta -o res101_faster_rcnn_iter_5600.pb -b

and my touch.py has following contents, which I took from some repository:
[code]

[2018-02-07 08:58] cipri-tom commented on #13458
@asimshankar what is the difference between the contrib and the Estimator version of RunConfig ? You link to one, but give an example that is using the other. Should they be considered equivalent ?

[2018-02-07 09:02] Johnson145 commented on #16813
I just figured out that the [commit which is required for the squeeze support](ec652809b15b9308d3f9e864cd8d0b97a532b64a) was actually added after the v1.5 release. Using the latest master commit works just fine. However, it should be considered to backport this feature as the [1.5 docs](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/contrib/lite/g3doc/tf_ops_compatibility.md) alread

[2018-02-07 09:11] arun-kumark commented on #8181
Hi Xiusir
I need you help, I am facing the same issue while running the optimize_for_inference.py script.
My arguments are as below:

python optimize_for_inference.py --input=res101_faster_rcnn_iter_5600.pb --output=optimized_graph.pb --input_names="input" --output_names="final_result"

My pb file is based on Resnet-101. I am sharing my res101_faster_rcnn_iter_5600.ckpt.custom file below to see it

[2018-02-07 09:24] jmaye commented on #14713
Fine for me, I'm still on 1.5 with the aforementioned code. Not urgent as it works as it is. I'll update the code as soon as I switch to 1.6. Thanks

[2018-02-07 09:24] #14713 closed

[2018-02-07 09:36] jowagner commented on #6956
jart's comment points to 2 different approaches:

1. Ask (publicly) for a volunteer to mirror all of https://mirror.bazel.build/ -- This call should include some statistics what monthly traffic, peak hourly traffic, number of concurrent connections etc. to expect.

2. Hand-picking individual low priority fall back mirror sites for individual packages where the 2nd URL is not github.com. If not con

[2018-02-07 10:01] kaierlong opened #16826 "first session.Run() when inference too slow on android and mac with c++ api"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Android-armeabi-v7a, macOS
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0 (for building .so file), 1.3.0 (for model train)
- **Python version**:

[2018-02-07 10:05] kaierlong commented on #16826
Also I find a same issue [#11711](https://github.com/tensorflow/tensorflow/issues/11711)

[2018-02-07 10:25] hxfxjun opened #16827 "how to build and install cplusplus library and header file to /usr/local?"
how to build and install cplusplus library and header file to /usr/local?

[2018-02-07 10:47] Abhi-Pawar commented on #4451
i followed codelabs-tensorflow-for-poets tutorial [part 1](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/#0) and [2](https://codelabs.developers.google.com/codelabs/tensorflow-for-poets-2/#0).  I trained using  mobilenet and iceptionv3 as well with my custom images(separately). I want to further export it in android but the app force closes with this " ERROR:  java.lang.Runt

[2018-02-07 11:05] xcv9685 opened #16828 "Code size with XLA AOT"
I currently research about xla using AOT compilation and use Cifar10 as benchmark

After using AOT compilation, I got a binary file that size is 5.3MB, but the original tensorflow graph's size is about 4.2MB. Does it means a using AOT compilation can't promise always reduce code size efficiently?

[2018-02-07 11:27] x10000year opened #16829 "tf.contrib.estimator.replicate_model_fn fails when a trainable variable doesn't have gradient"
tf.contrib.estimator.replicate_model_fn fails when the gradient of a trainable variable is None. The error messages are:

[code]

[2018-02-07 11:44] MrWanter commented on #16799
I run `tfdbg` in `pycharm`, switch to terminal solve the problem

[2018-02-07 12:02] JovanVeljanoski commented on #4735
In my case, using :

`Keras.backend.clear_session() `

right after I am done with a model and before calling or instantiating a new one solves the problem (assuming a single model runs well without issues).

I found the answer here (full credit to that poster):
http://forums.fast.ai/t/how-could-i-release-gpu-memory-of-keras/2023/11

[2018-02-07 12:47] arun-kumark commented on #14769
Hi,
I am new to this issue.
I want to serialize my Resnet101 based model.
I am using the script optimize_for_inference.py, I don't know how to edit this script for Resnet101 model.
When I run this script, I get the following errors:

[code]
I want to make this script work to serialize my Resnet model. I need help, if someone can help me.

Kind Regards
Arun

[2018-02-07 12:48] arun-kumark commented on #4790
Hi,
I am new to this issue.
I want to serialize my Resnet101 based model.
I am using the script optimize_for_inference.py, I don't know how to edit this script for Resnet101 model.
When I run this script, I get the following errors:

[code]
I want to make this script work to serialize my Resnet model. I need help, if someone can help me.

Kind Regards
Arun

[2018-02-07 13:14] yangcong955 commented on #14580
I have exactly the same problem. Still no response yet.

[2018-02-07 13:28] yangfengKAUST commented on #16590
Could you please tell me how to fix this issue or, what I can do to get the correct version? Because I wanna put this model into savedModel or savedBundle.

[2018-02-07 13:43] tensorflowbutler commented on #16821
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 13:43] tensorflowbutler commented on #16820
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-02-07 13:43] tensorflowbutler commented on #13246
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:43] tensorflowbutler commented on #14787
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:43] tensorflowbutler commented on #14776
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #14731
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #14456
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #14423
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #14101
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #13844
Nagging Awaiting TensorFlower: It has been 14 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #13818
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:44] tensorflowbutler commented on #13622
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:45] tensorflowbutler commented on #13603
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:45] tensorflowbutler commented on #13351
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:45] tensorflowbutler commented on #13310
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:45] tensorflowbutler commented on #12980
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:45] tensorflowbutler commented on #15845
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:45] tensorflowbutler commented on #16247
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-07 13:45] tensorflowbutler commented on #16087
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:46] tensorflowbutler commented on #15999
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-07 13:46] tensorflowbutler commented on #15913
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:46] tensorflowbutler commented on #14937
Nagging Awaiting Response: It has been 14 days with no activityand the `awaiting response` label was assigned. Is this still an issue?

[2018-02-07 13:46] tensorflowbutler commented on #15720
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:46] tensorflowbutler commented on #15635
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:46] tensorflowbutler commented on #15633
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #15364
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #15297
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #8804
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #10641
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #10622
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #10478
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:47] tensorflowbutler commented on #9904
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #9779
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #9550
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #9485
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #9049
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #10679
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-02-07 13:48] tensorflowbutler commented on #8431
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #8271
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #8264
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:48] tensorflowbutler commented on #7808
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #7669
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #7610
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #7508
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #7133
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #11765
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #12927
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #12659
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:49] tensorflowbutler commented on #12496
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #12106
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #11986
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #11831
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #6635
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #11674
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #11144
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #11138
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:50] tensorflowbutler commented on #11070
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:51] tensorflowbutler commented on #10972
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:51] tensorflowbutler commented on #10842
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:51] tensorflowbutler commented on #10728
Nagging Assignee: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-02-07 13:56] mhuen opened #16831 "Feature Request: Dynamic Convolution Kernels"
I was wondering if it is possible to allow the kernel in conv2d and conv3d to have an additional batch dimension, e.g. to allow the filter shape to be:
`[batch, filter_depth, filter_height, filter_width, in_channels, out_channels]`
Hence, the convolution kernel can depend on the input data.

In doing so, the convolution kernels can be 'dynamic' and use prior information.
Currently, the kernels are

[2018-02-07 13:58] ludovicdmt opened #16832 "tensorflow/tensorflow/contrib/factorization/python/ops/gmm_ops_test.py FAILED"
### System information
- **Code** :  tensorflow/tensorflow/contrib/factorization/python/ops/gmm_ops_test.py
- **OS Platform and Distribution** : Linux Ubuntu 16.04)
- **TensorFlow installed from** : Binary
- **TensorFlow version** : '1.4.0'
- **Python version**:  2.7.12
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**:

[2018-02-07 14:13] alextp commented on #16718
You can look at the implementation of initialized_value to see how to write
tf.cond predicated on whether a variable is initialized.

I am suspicious of your initialization logic though as it's not safe on
distributed. Much better to keep track of the variables you want to
reinitialize.

On Feb 6, 2018 18:08, "youkaichao" <notifications@github.com> wrote:

[2018-02-07 14:30] caisq commented on #10478
Just to be clear, the TensorBoard Debugger Plugin is not meant to replace the main features of the command-line interface of TensorFlow Debugger. Instead, it offers a GUI alternative, that is more robust for interactive stepping-based debugger on TF computation graphs.

[2018-02-07 14:41] Johnson145 commented on #14719
@ghostsun89 The mean and std values are e.g. listed [in this script](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/image_retraining/retrain.py). They don't refer explicitly to the slim model though.

I combined the results collected here and created a pr: #16833.
The inception confidence score is still unnormalized though. Has anybody here already managed to scale it to

[2018-02-07 14:50] chrisrn commented on #16327
The preprocessing of my image is the following:
[code]

The predictions of the ios app are not right and they are not also changing when I point the camera to different frames. They can change if I change the mean and std in CameraExampleViewController.mm:
[code]

but the top-2 labels remain the same from frame to frame again.
Any ideas?

[2018-02-07 14:52] Rov67777 opened #16834 "Tensorflow not supporting 3D convolution with None input size"
Hello,

I am trying to build a 3D fully connected convolutional network with input of variable size. To do that I define x with None and dimension and then apply a conv3d layers:

x = T.placeholder(shape=(1,nbrChannel,None,None,None),name="input")
conv=T.layers.conv3d(inputs=x,filters=num_filters,kernel_size=filter_size,strides=strides,padding="same",data_format='channels_first')

I get the follow

[2018-02-07 15:19] sakshamsneh commented on #7647
Sir, I am seeing this traceback:
Traceback (most recent call last):
  File ".\retrain.py", line 1062, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "C:\Users\SAKSHIM\AppData\Local\Programs\Python\Python35\lib\site-packages\tensorflow\python\platform\app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File ".\retrain.py", line 888, in main

[2018-02-07 15:24] Bonnevie opened #16835 "Optimized einsum"
In Numpy, it's my understanding that the np.einsum function has been extended with the functionality of
[opt_einsum](https://github.com/dgasmith/opt_einsum),
which computes an optimal (or near-optimal) way to perform the tensor contractions.
As far as I've heard, the Tensorflow einsum is a lot more basic (but extremely convenient), and cannot be relied upon for performance. Also, even though `opt_

[2018-02-07 15:27] albenoit commented on #14380
Hi all,
I am facing the same issues on undeclared inclusions on REHL Scientific Linux 6 ONLY when compiling with cuda (CPU mode works), according to the discussion above and other threads such as [#4365](https://github.com/bazelbuild/bazel/issues/4365), I did the following additional changes to my previous issue on an older Tensorflow version [#8529](https://github.com/tensorflow/tensorflow/issues

[2018-02-07 15:38] skye commented on #15933
Ah sorry, I didn't read through the thread carefully enough. @lewisl thank you for digging into this and finding a solution! @MarkDaoust are you in charge of docs? It sounds like there are numerical problems running TF on MacOS Yosemite, which we may wanna warn about in the docs (see @lewisl's comment above this one, starting with "Cracked it.").

[2018-02-07 15:40] ebrevdo commented on #13310
I'm afraid I won't have cycles to work on this in the forseeable future.  Marking as contributions welcome.

[2018-02-07 15:41] ebrevdo commented on #13310
(we do have someone at google who proposed the exact same thing, but work has stalled).  fwiw; `scatter_nd`, `gather_nd` and their ilk already support this behavior so what you're talking about is just a less restrictive `SparseTensor` wrapper.

[2018-02-07 15:42] ebrevdo commented on #13310
Assigning to @elibixby who has a design doc for this.