[2019-05-13 13:34] Shobana16 commented on #28664
ok will try it and let you know. thanks

[2019-05-13 13:35] SunYanCN commented on #28621
@gadagashwini I run https://www.tensorflow.org/alpha/tutorials/text/transformer in Calab with GPU.

[2019-05-13 13:38] obg2sens commented on #21348
Any updates?

[2019-05-13 13:49] weishengchong commented on #26833
@SirCastic1,
solved with correction at the bold text

print(tensorflow.__version__)
1.14.1-dev20190513

[code]

[2019-05-13 13:54] janosh opened #28668 "tf.keras.models.load_model fails on Sequential model"
**System information**
- TensorFlow installed from: `pip`
- TensorFlow version: `tf-nightly-2.0-preview-2.0.0.dev20190513`
- Python version: 3.6.7

**Describe the current behavior**

Attempting `tf.keras.models.load_model` on a `Sequential` model throws

[code]

Might be caused by a `layers`/`_layers` mismatch as mentioned [here](https://github.com/keras-team/keras/issues/10417#issuecomment-418511

[2019-05-13 13:58] lucifer2288 opened #28669 "AttributeError: '_OptionsDataset' object has no attribute 'output_shapes'"
Downloading / extracting dataset imdb_reviews (?? GiB) to /home/lucifer/tensorflow_datasets/imdb_reviews/subwords8k/0.0.1...
Dl Completed...:   0%|          | 0/1 [00:01<?, ? url/s]
Dl Size...:   0%|          | 0/80 [00:01<?, ? MiB/s]
Dl Completed...:   0%|          | 0/1 [00:41<?, ? url/s]MiB]
Dl Size...:   1%|▏         | 1/80 [00:41<54:16, 41.23s/ MiB]
Dl Completed...:   0%|          | 0/1 [01:5

[2019-05-13 14:26] astropeak commented on #22838
I found the root cause. The AudioSpectrogramOp only works for one channel wav files. For a two channel wav file(as the above attached one), the problem would happen, because the 'samples_to_next_step_' in spectrogram.cc won't be initialized correctly when processing the second channel.

After initializing the 'samples_to_next_step_' correctly, the unmatching height problem disappears. But I met an

[2019-05-13 14:34] RELNO commented on #28552
@gadagashwini thank you for looking into this -- encountered the same when testing pix2pix on tf-gpu 2.0 https://www.tensorflow.org/alpha/tutorials/generative/pix2pix. Used `pip install -q tensorflow-gpu==2.0.0-alpha0` and have no other tf versions active.

[2019-05-13 14:35] lucifer2288 commented on #28669
Tutorials in TF2.0 Alpha
linux ubuntu 18.04
GTX780
tensorflow2.0  alpha0 gpu version

when i run "Text classification with an RNN",  the error comes as follows:

[2019-05-13 14:43] shoyer commented on #15833
@seb1000 thanks for giving this a try, it looks like this should work. I just opened https://github.com/tensorflow/probability/issues/405 to discuss this in TF-probability

[2019-05-13 14:54] sleeplessai commented on #22794
Used Python 3.7.3 with same CUDA and cuDNN but got same DLL error.

[2019-05-13 14:55] fenaux commented on #17129
I faced the same problem, to solve it I had to take the format of mscoco_label_map.pbtxt which is different
item {
  name: "/m/01g317"
  id: 1
  display_name: "person"
}

[2019-05-13 14:58] fenaux commented on #17129
you can file the above mentioned file "mscoco_lab_map.txt in models/research/object_detection/data

[2019-05-13 15:04] seb1000 commented on #15833
thanks for opening it in TF-probability, I will follow it there.

[2019-05-13 15:40] TahaK commented on #27949
I had the same issue with the tf.math.pow function as well.

[2019-05-13 15:42] TahaK commented on #27949
I had the same issue with the tf.math.pow function as well. But the issue disappears if you put the tf.math operation inside the function with the @tf.function annotation.

[2019-05-13 15:45] wdirons commented on #28628
The instructions in the new bug template (https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md) say for TF 1.X to use

`python -c "import tensorflow as tf; print(tf.GIT_VERSION)"`

[2019-05-13 15:49] ambr89 commented on #26545
Hi!

I've download tf folder from here: [https://github.com/tensorflow/tensorflow](https://github.com/tensorflow/tensorflow) and I run this command

'
$ cd tensorflow-master
$ bazel run tensorflow/lite/toco:toco -- \
    --input_file=my.pb \
    --output_file=out.tflite \
    --input_shapes=1,416,416,3 \
    --input_arrays='input_1' \
    --output_format=TFLITE \
    --output_arrays='output_0','ou

[2019-05-13 16:07] ljakupi commented on #28626
@achandraa thanks for the reply.

I resolved the issue by uninstalling `tf-nightly-2.0-preview` and installing fresh TF 2.0 GPU Alpha using `pip install tensorflow-gpu==2.0.0-alpha0`.

The problem was that the TF was not using GPUs anymore (after nightly installed), therefore my machine CPUs with `tf-nightly-2.0-preview` caused those warning!

For the sake of reporting, I can share some of the spe

[2019-05-13 16:07] #28626 closed

[2019-05-13 16:17] pint1022 commented on #23531
The issue is closed.

[2019-05-13 16:17] #23531 closed

[2019-05-13 16:18] qlzh727 commented on #26547
Spent some time debugging this with @fchollet last Friday, it seems that cudnn kernel will spit out junk result sometime. The chances are reduced when change to use a smaller number of LSTM size.

[2019-05-13 16:19] alextp commented on #25637
You can try to set the thread pool sizes to 1, but this will only buy you so much. The intra-op pool is relatively harmless, but the inter-op pool is necessary to avoid deadlocks in some cases. Note also that TF has more thread pools, like the event manager pool.

Instead I recommend you look at using tf lite, which doesn't use threads by default.

[2019-05-13 16:19] #25637 closed

[2019-05-13 16:45] #28508 closed

[2019-05-13 16:46] alextp commented on #27949
@robieta @omalleyt12 I think this is related to another issue you're working on, can you check?

[2019-05-13 17:00] jiggey opened #28671 "Exception when import: DLL load failed (Windows 10, Tensorflow 1.12.0, python 3.6.7)"
I have installed Python 3.6.7 on my Windows 10 machine. Afterwards I downloaded with the tensorflow module: pip install https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow-1.12.0-cp36-cp36m-win_amd64.whl

On the computer is Visual Studio 2019 installed with additional MSVC v141 (VS 2017) and MSVC v140 (VS 2015).

When I run import tensorflow as tf in python, I get the following error:

[2019-05-13 17:14] ymodak commented on #27685
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 17:14] #27685 closed

[2019-05-13 17:25] jvishnuvardhan commented on #28131
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-13 17:25] #28131 closed

[2019-05-13 17:39] ymodak commented on #28518
@sleighsoft  You mentioned that it worked in most recent v1 version, Can you please confirm the version you used? Also, It was tf-gpu installation correct? In addition to that can you please upgrade your [nvidia driver version](https://www.nvidia.com/Download/index.aspx?lang=en-us#O) and test again. Thanks!

[2019-05-13 17:45] samikama commented on #22957
Closing this

[2019-05-13 17:45] #22957 closed

[2019-05-13 17:46] samikama commented on #23692
@pooyadavoodi @trevor-m Is this done. If so please let me know so that I can close.

[2019-05-13 17:47] samikama commented on #24032
Closing this. Please reopen if @trevor-m 's suggestions don't work.

[2019-05-13 17:47] #24032 closed

[2019-05-13 17:48] samikama commented on #24214
Closing this. Let us know if comment above is not clear.

[2019-05-13 17:48] #24214 closed

[2019-05-13 17:50] samikama commented on #24268
@trevor-m @pooyadavoodi, any updates. Should I close this?

[2019-05-13 17:50] samikama commented on #25187
@trevor-m @pooyadavoodi, I believe this is fixed. Is that correct?

[2019-05-13 17:51] samikama commented on #25378
@pooyadavoodi @trevor-m What is the status on here?

[2019-05-13 17:54] samikama commented on #25417
@rankeey , It is not trivial to estimate the output shapes of TRTEngineOp for given inputs, so its shape inference is disabled as of now. What you print is output of shape inference. Your network will run fine, it just can't do shape inference to print the shapes.

[2019-05-13 17:54] #25417 closed

[2019-05-13 17:56] samikama commented on #26310
@jvishnuvardhan Can you please update to a more recent version of jetpack and TF version. Also could you please clarify what do you mean by a lot worse?

[2019-05-13 17:59] av8ramit commented on #28653
As requested on the RFC, here is the build script for the nightly configuration.

Ubuntu 14.04
Python 3.5
Bazel 0.24.1
GCC 4.8

[code]

[2019-05-13 18:16] #28644 closed

[2019-05-13 18:24] byronyi commented on #28628
I tried with

[code]

and I got:

[code]

I am not aware how I should track a particular commit or snapshot for which the package is built.

[2019-05-13 18:29] w4nderlust commented on #10021
@bipinkc19 I agree with you, weighting should be applied after the softmax to influence the gradients rather than at the logits / output level. In my implementation I multiply after computing the cross entropy and before aggregating (so the output of the cross entropy is not reduced, I multiply by weights for each datapoint based on class and specific datapoint, and finally I sum and divide by the

[2019-05-13 18:32] karmel commented on #28601
Thanks @seanpmorgan . Will review with the API owners.

cc @fchollet for the Keras methods, and cc @qlzh727 for the RNN methods, in case you have any opinions about whether these should/can be made public.

[2019-05-13 18:38] gunan commented on #28628
@av8ramit Looking at this, I also cannot find g09e3b09e69.
Is it possible we create a bad commit when we run update_version during the nightly package build?

[2019-05-13 18:39] qlzh727 commented on #28601
I will take look for the RNN one, I might have missed them during rewrite for the seq2seq. The control flow one might also be in similar case.

[2019-05-13 19:15] Mr-Grieves opened #28673 "Unsupported Operation (MEAN) while trying to apply GpuDelegate to tflite"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I am writing a custom Android app, built in Android Studio using the method mentioned [here](https://www.tenso

[2019-05-13 19:22] ymodak commented on #28658
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-05-13 19:22] #28658 closed

[2019-05-13 19:25] ymodak commented on #27045
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 19:25] #27045 closed

[2019-05-13 19:27] Mr-Grieves commented on #28673
I'm guessing that I should open a 2nd issue for this, but I am experiencing that exact same failure while trying to run a different net, this time with the 'RESIZE_NEAREST_NEIGHBOR' as the unsupported op. Traceback:

[2019-05-13 19:38] ymodak commented on #22854
@dhingratul Is this still an issue?
@gsrujana89  Can you please post a [new issue](https://github.com/tensorflow/tensorflow/issues/new/choose) and provide all the information asked by the template? Thanks!

[2019-05-13 19:40] xilenteyex commented on #26713
I am trying to write a custom graph partitioner and am stuck on this issue for a very long time. If someone can help me figure this out, it will be great. Thanks!

[2019-05-13 19:40] xilenteyex commented on #25724
Just checking if there are any updates yet?

[2019-05-13 19:44] ymodak commented on #20575
Please post a new issue by filling all the information in [Feature Request template](https://github.com/tensorflow/tensorflow/issues/new/choose) expressing interest in this feature. Thanks!

[2019-05-13 19:44] #20575 closed

[2019-05-13 19:48] ymodak commented on #23891
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-13 19:48] #23891 closed

[2019-05-13 19:55] av8ramit commented on #28628
I don't think so. Let me take a look and investigate.

[2019-05-13 20:02] ymodak commented on #28527
I was able to reproduce the reported behavior in TF 1.13.1

[2019-05-13 20:06] sleighsoft commented on #28518
Working on: tensorflow-gpu==1.13.1

Updated NVIDIA driver to 430.64 still not working

[2019-05-13 20:19] omalleyt12 commented on #28602
HI @seanpmorgan, thanks for the issue! Everything in `build` should happen only once regardless, so for most cases Tensor computations in `build` are safe. Could you provide a minimal repro of why this is not true in your case?

[2019-05-13 20:26] jvishnuvardhan commented on #28441
@philgras I think this is intended behavior. `loss = "categorical_crossentropy"`  expects targets to be binary matrices (1s and 0s) of shape (samples, classes). If you use `loss = tf.keras.losses.CategoricalCrossentropy(from_logits=False)` , it was expecting integer classes for targets. Thanks!

[2019-05-13 20:29] dhingratul commented on #22854
I will have to reproduce the issue with the TRT 5GA, it was still an issue until TRT 5RC

[2019-05-13 20:32] botastark commented on #28545
used CUDA 7.5, then updated, but it didn't help.
I have tried that method of installation a long time ago. It does not cause a problem with cuda, but still didn't work.

The issue is resolved by updating macos to high sierra, as older versions of tensorflow was working, while 1.13 requires Mac OS X 10.13

[2019-05-13 20:32] #28545 closed

[2019-05-13 20:34] aaroey commented on #25220
Thanks for the code. I ran it with TF HEAD instead of r1.12 and it seemed to work well, below are the logs:
[code]

There are errors at the end about failures of destroying cuda events, but I think they're not related to this issue. So would you help to check that the problem is gone with TF master branch?

I also did a minor change to your code:
[code]
as otherwise there would be gpu device initi

[2019-05-13 20:47] AntGul commented on #24412
It would be good to have one working example with TF2.0.
1. This is a great article, but unfortunately, the code - [does not work with TF2.0 ](https://medium.com/tensorflow/tf-keras-on-tpus-on-colab-674367932aa0)
[see](https://colab.research.google.com/drive/1kQLwk1Y1IIBVMp3SWyNA-KZzHI4REHWV#scrollTo=G-piuNdoWJGS)
tpu_model = tf.contrib.tpu.keras_to_tpu_model(
    model,
    strategy=tf.contrib.tp

[2019-05-13 20:49] saippuakauppias opened #28675 "Build TF without AVX from docker devel-gpu-py3 failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): -
- TensorFlow version: -
- Python version: 3.5
- Installed using virtualenv? pip? conda?: virtualenv
- Bazel version (if compiling from source): 0.21.0
- GCC/Co

[2019-05-13 20:50] saippuakauppias commented on #28675
Maybe there is some simple way to build tensorflow without AVX, but with GPU (1080 Ti) and py35 support?

[2019-05-13 20:53] aaroey commented on #25220
Sorry, in my run above it actually ignored my second GPU. I'll retry and get back later.

[2019-05-13 20:56] pavithrasv commented on #28441
@philgras I tried running the sample code snippet in TF 1.13.1 and was not able to repro the difference in behavior between using `tf.keras.losses.CategoricalCrossentropy(from_logits=False)` and `"categorical_crossentropy"`.

[2019-05-13 20:59] lioutasb opened #28676 "atch matrix-matrix product"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-13 20:59] lioutasb opened #28677 "atch matrix-matrix product"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-13 20:59] lioutasb opened #28678 "atch matrix-matrix product"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-05-13 20:59] lioutasb opened #28679 "Batch matrix-matrix product slower than Pytorch"
I'm doing a batch matrix multiplication using matmul but it seems to be slower than using [bmm](https://pytorch.org/docs/stable/torch.html#torch.bmm) function from Pytorch. Specifically,

[code]

compared to

[code]

Is there anyway to speed up the batch matrix-matrix product computation?

Also, normal matrix multiplication seems to be slightly slower than Pytorch

[code]

compared to

[code]
but

[2019-05-13 21:00] ymodak commented on #28183
Automatically closing due to lack of recent activity from the author. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!
@jpsacha Please post a [new issue](https://github.com/tensorflow/tensorflow/issues/new/choose) by filling all the information asked by the template. Thanks!

[2019-05-13 21:00] #28183 closed

[2019-05-13 21:01] omalleyt12 commented on #27949
@cottrell could you try this with the 2.0 nightly? i think this should be fixed

[2019-05-13 21:01] ymodak commented on #28678
duplicate #28676

[2019-05-13 21:01] #28678 closed

[2019-05-13 21:02] ymodak commented on #28677
duplicate #28676

[2019-05-13 21:02] #28677 closed

[2019-05-13 21:10] #28676 closed

[2019-05-13 21:13] seanpmorgan commented on #28602
I think there's more to this than simply running computations in build... but:

Here is it failing on tf2-nightly. If you uncomment `self._keras_style = False` it will pass:
https://colab.research.google.com/drive/1gyYBwE5r4scMc74JTSXaEd75v49-3IT2

Here it is passing on tf2-alpha:
https://colab.research.google.com/drive/1SNn9DG9C0eDCrATG-bNW_9d53DtEw5cl

[2019-05-13 21:16] jvishnuvardhan commented on #28441
@pavithrasv Here is the Github [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/4a3250db8ba13303ecc968b225344d9e/untitled155.ipynb) that works without any issue. Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/86caa7fd84915e2645316c5ccab56a59/untitled155.ipynb) that throws an error. Between the two gists, there was only one line change. In the second gist, `tf.ke

[2019-05-13 21:20] ghchinoy opened #28680 "[TF 2.0 API Docs] tf - typo, extra symbols in pip install doc copy code"
## Existing URL(s) with the issue:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf

## Description of issue (what needs changing):

Copyable code block has extra characters `",` at the end:

```pip install tensorflow==2.0.0-alpha0",```

### Clear description

Copyable code block should be changed to the following to make copying easier.

```pip install tensorflow==2.0.0-alpha0```

###

[2019-05-13 21:40] TheOriginalSujay commented on #25939
Hi - I'm new to this but noticed the last comment is from March - does a new dockerfile still need to be created or is this resolved?

[2019-05-13 21:58] aaroey commented on #28518
I cannot reproduce. What I did is `pip install tf-nightly-gpu-2.0-preview` then run the python script mentioned above, it took some time to run but it did return.

[2019-05-13 22:23] rounakskm commented on #28517
Hello,
I need to generate a .sln file so that I can work with Visual Studio 2017. Which I dont think we can do using bazel.
Since there is no folder "ops" under the tensorflow/contrib/tpu, I got failure when I configure.

Could you point me to a resource showing how to use Tensorflow C++ API with Visual Studio 2017.
Thank you

[2019-05-13 22:26] gunan commented on #28553
@meteorcloudy Are you aware of any changes in bazel that would createproblems in detecting java?

[2019-05-13 22:32] imnotkind opened #28681 "Keras model to tensorflow trainable pb file and checkpoint"
I tried to convert keras h5 model into pb and checkpoint files.
[code]

I succeeded in bringing this pb and checkpoint to tensorflow and running the graph, obtaining an inference.
But the problem is, I have no idea how to train this thing.
Usually, tensorflow models have a training operation, and we just have to sess.run that operation, but I'm assuming keras is working in a different way somehow.

[2019-05-13 22:42] anuj-rawat commented on #28411
The change is now merged in Eigen. The next EIgen bump in TensorFlow should pull it in.

[2019-05-14 00:15] ppwwyyxx commented on #28679
When a statement `torch.bmm` returns, it does not mean the computation has finished. The computation on GPU tensors is asynchronous.
So you cannot use %timeit to time it.

Also, most cuda functions are slower in the first few iterations, which are often excluded from timing.

[2019-05-14 00:22] amygdala commented on #25363
Is this still current?  I've seen some presos that suggest that TF-serving does support TF 2.0.

[2019-05-14 00:31] jmhodges commented on #28581
@shliang0603 hey, I'm not a tensorflow maintainer or anything so please don't include me like this. It sends me noisy notifications that I can't do anything about

[2019-05-14 00:43] wagnerDestro opened #28684 "Error using tensorflow module, even appearing in the list shown by pip list"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2019-05-14 00:51] #26325 closed

[2019-05-14 00:53] wangpengmit commented on #26325
Fixed by https://github.com/tensorflow/tensorflow/commit/f9f2547b085969c67dc140aaa230551b6471a956

[2019-05-14 00:54] wangpengmit commented on #26104
Fixed by https://github.com/tensorflow/tensorflow/commit/f9f2547b085969c67dc140aaa230551b6471a956

[2019-05-14 00:54] #26104 closed

[2019-05-14 00:56] wangpengmit commented on #28302
Closing this issue since the behavior is fixed by the new stateful ops and no work will be done to fix the old ones.

[2019-05-14 00:56] #28302 closed

[2019-05-14 01:00] pavithrasv commented on #28441
Thank you @jvishnuvardhan. I see the issue now. Looks like it has been fixed already as it does not repro in TF 2.0 alpha or the nightly release.

[2019-05-14 01:17] EFanZh opened #28685 "The cycle detection algorithm in the variable creation has bad performance"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Don’t know
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 1

[2019-05-14 01:39] alanpurple commented on #28330
closing this issue since today's cuda update resolve errors

[2019-05-14 01:39] #28330 closed

[2019-05-14 02:56] PrimaryKey commented on #28660
Today, I tried to downgrade the python version to 3.6.8, and all the problems were gone.
I don't know if I should cry or laugh.
Hope to help you.

[2019-05-14 02:56] #28660 closed

[2019-05-14 03:02] markwhen commented on #22098
I've met the same problem, set inter_op_parallelism_threads to 1 is ok, but the latency will increase in high load.

[2019-05-14 03:24] melo19890618 commented on #28658
In the process of using the resnet50 for imagenet training, we used LARS to update the learning rate and calculate LR at each step of the training. The throughput of the training is about 5500. For this we intend to optimize and calculate the LR operation every few steps to improve throughput. In the original code, we perform compute_lr calculation every step.
I modified the code as shown below：

[2019-05-14 03:26] melo19890618 opened #28687 "Using td.cond during training leads to reduced throughput"
In the process of using the resnet50 for imagenet training, we used LARS to update the learning rate and calculate LR at each step of the training. The throughput of the training is about 5500. For this we intend to optimize and calculate the LR operation every few steps to improve throughput. In the original code, we perform compute_lr calculation every step.
I modified the code as shown below：
g

[2019-05-14 03:27] guerrillacaptain commented on #21526
Hi, I want to know when BatchMatMul feature will be added?

[2019-05-14 04:06] zqp2009happy opened #28688 "Why is the model file named as *00000-of-00001"
My variables model files is named as *00000-of-00002 or *00001-of-00002. My questions are:
1. What's the difference between them?
2. Why is the model file named as this pattern?
Thanks!

[2019-05-14 04:17] gadagashwini commented on #28044
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:17] #28044 closed

[2019-05-14 04:22] gadagashwini commented on #28186
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:22] #28186 closed

[2019-05-14 04:24] gadagashwini commented on #28252
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:24] #28252 closed

[2019-05-14 04:25] gadagashwini commented on #28177
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:25] #28177 closed

[2019-05-14 04:27] gadagashwini commented on #28168
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:27] #28168 closed

[2019-05-14 04:29] gadagashwini commented on #28303
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:29] #28303 closed

[2019-05-14 04:34] gadagashwini commented on #28285
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 04:34] #28285 closed

[2019-05-14 04:51] harsh020goyal opened #28690 "tf.lite.TFLiteConverter.from_frozen_graph error"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):1.13.1

[code]

[2019-05-14 04:59] gadagashwini commented on #28645
@makslevental Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary? Thanks!

[2019-05-14 05:18] agramesh1 commented on #26610
@tatianashp  Thanks, will see if we can help.  Pinging @TensorFlow-MKL .

[2019-05-14 05:34] wei-v-wang commented on #26610
Hi @marcjoos-phd ,
At Intel we test TensorFlow with multinode CPU and MPI frequently. Currently the recommended way of trying distributed training on CPU is via horovod. ResNet50 are most frequently tested, but the good thing is that multi-node training of CPU with horovod does *not* require you to build TensorFlow with MPI. Just remember to use --config=mkl to turn on Intel optimizations with MKL

[2019-05-14 05:37] wei-v-wang commented on #26610
To clarify the better bazel build instruction (for CPU) is
/usr/local/bin/bazel --output_user_root=/tmp/bazel/build build --config=mkl --config=opt  //tensorflow/tools/pip_package:build_pip_package --distdir=builddeps

Before you run the above bazel command, while you configure TF, reply "N" to "build TF with MPI?"[y/N]

[2019-05-14 05:53] muddham commented on #28598
@celinew1221 Able to reproduce the issue with the provided code. In the template it is mentioned that it is not a custom written code, can you provide the link for this, to investigate further.

This is your target_dist [0.5, 0.5] This is your initial distribution [0.8333333333333334, 0.16666666666666666]
This is your result counts [1500, 600] This is your final dist 0.7142857142857143 0.285714285

[2019-05-14 05:53] Student-HXJ commented on #26150
and my /usr/lib/x86_64-linux-gnu/libcublas.so.10.2.0.168, is the same way for 10.1?

[2019-05-14 05:53] amitsrivastava78 commented on #28528
@ajarthurs , is this problem solved for you ? My understanding is that you are getting min max output as different from input in MAX2Dpool, as toco graph transform does the hardcoding for the Min and max values.

Regards
Amit

[2019-05-14 05:55] thusinh1969 commented on #22564
Model ssd_mobile_v2.
# First, you convert using export_tflite_ssd_graph.py. Pay attention to max_detections to get good performance on mobile.

python export_tflite_ssd_graph.py  --input_type image_tensor --pipeline_config_path training_ssd_v2_config --trained_checkpoint_prefix ../output/model.ckpt-124960 --output_directory ../output/frozen_tflite/frozen_inference_graph.pb -add_postprocessing_op T

[2019-05-14 06:07] #28586 closed

[2019-05-14 06:08] SanthoshRajendiran commented on #28690
Could you provide your pb file and the conversion command you used. Will be helpful for finding out the issue. Because, all the operators that you have mentioned are supported operators by TFLite.

[2019-05-14 06:12] wangzhihua520 commented on #23082
Hi，@PINTO0309 @aselle

How to solve the problem:

Python3.5 ---> The __init__.py description is inappropriate and results in an import error.

pi@raspberrypi:~/TensorflowLite-UNet $ python3 tflite_test.py
Traceback (most recent call last):
  File "tflite_test.py", line 4, in <module>
    import tflite_runtime as tflr
  File "/usr/local/lib/python3.5/dist-packages/tflite_runtime/__init__.py", line

[2019-05-14 06:12] muddham commented on #28517
@rounakskm As your requirement is building Tensorflow C++ API with Visual Studio 2017, request you to please open a separate ticket for this.

[2019-05-14 06:13] gadagashwini commented on #28417
@bluesbeyond Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue te

[2019-05-14 06:14] SanthoshRajendiran commented on #28642
You can work with pb models.
Check out [https://github.com/dailystudio/ml/tree/master/object_detection](https://github.com/dailystudio/ml/tree/master/object_detection)

For better performance in terms of computation and time, you can convert your pb files into tflite and run on mobile phones

[2019-05-14 06:16] zhtea commented on #15835
meet the same problem too

[2019-05-14 06:27] JackDemo commented on #21223
It's caused by insufficient memory. By recalculating the neural network layer and allocating memory space, my problem can be solved.

[2019-05-14 06:35] muddham commented on #28664
@Shobana16 Please let us know if you have tried installing using conda.

[2019-05-14 06:35] wxdao opened #28691 "Error installing tf-nightly-2.0-preview with pip"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS
- TensorFlo

[2019-05-14 06:36] muddham commented on #28667
@hariteja97  It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you w

[2019-05-14 06:36] #28667 closed

[2019-05-14 06:52] PINTO0309 commented on #23082
@wangzhihua520
[code]
or
[code]
[code]

[2019-05-14 06:53] saippuakauppias commented on #10289
@hsgkim , Thanks! Compiled TF with this command:
[code]

[2019-05-14 07:20] HappyCtest commented on #23574
I got the similar issue:
[code]

It is frustrating. Did you ever solve the problem? @nathanielhobbs @nathanielhobbs

[2019-05-14 07:21] DurivetMatthias opened #28692 "empty array: [] on prediction (CMLE)"
I have implemented a custom tfx example after working trough the tfx taxi example.

The model that is trained in the tfx pipeline is a canned estimator estimator: DNNRegressor.

inside model_fn of custom estimator
[code]

definition of serving receiver

[code]

actually calling serving receiver

[code]

The custom implementation of the tfx pipeline runs without problems all the way.
The ml engine

[2019-05-14 07:21] wangzhihua520 commented on #23082
Dear @PINTO0309

Thank you very much for your help.

I just follow the instruction: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package
to deploy Tensorflow Lite interpreter and use it from python without requiring the rest of Tensorflow. As your suggestion, I should install the total version of tensorflow, is it right?

If so, where I can download the total vers

[2019-05-14 07:29] saippuakauppias commented on #28675
Found solution: https://github.com/tensorflow/tensorflow/issues/10289#issuecomment-492102920
Builded wheel: https://github.com/yaroslavvb/tensorflow-community-wheels/issues/109

[2019-05-14 07:29] #28675 closed

[2019-05-14 07:31] saippuakauppias commented on #15618
Solution: https://github.com/tensorflow/tensorflow/issues/10289#issuecomment-492102920

[2019-05-14 07:41] meteorcloudy commented on #28553
@cushon Any idea on this?

[2019-05-14 07:50] datianshi21 commented on #9512
Same question

[2019-05-14 08:16] saippuakauppias opened #28693 "[Train on official Docker image & custom TF build (no AVX)] failed to query event: CUDA_ERROR_LAUNCH_FAILED"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): used https://g

[2019-05-14 08:35] gadagashwini commented on #28621
@SunYanCN Could you provide more details about the issue and context? Thanks!.

[2019-05-14 08:51] alenaschnurr opened #28694 "tf.data.Dataset.flat_map shape assertion bug on Dataset with single tensor"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes which I have added as an example
- Windows 7 Enterprise
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.0-9492-g2c319fb415 2.0.0-alpha0
- Python version: 3.5
- CUDA/cuDNN version: 10.0
- GPU model and memory:  GeForce GT

[2019-05-14 08:52] Narzhan commented on #27074
Ok, I'll try that

[2019-05-14 08:52] #27074 closed

[2019-05-14 09:12] shkarupa-alex opened #28695 "Always same random values in eager mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS X 10.14
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.1-

[2019-05-14 09:21] achandraa commented on #28512
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 09:21] #28512 closed

[2019-05-14 09:22] achandraa commented on #28515
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 09:22] #28515 closed

[2019-05-14 09:22] muddham commented on #28661
@FunkyKingston Able to reproduce the issue with the provided code in 2.0.0-alpha vs. 1.13.1
2.0.0-alpha vs. 1.13.1
1.13.1
Epoch 500/500
6/6 [==============================] - 0s 488us/sample - loss: 5.4758e-05
[[18.97841]]

2.0.0-alpha
Epoch 500/500
6/6 [==============================] - 0s 501us/sample - loss: 0.6405
[[16.559488]]

[2019-05-14 09:23] achandraa commented on #28503
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-14 09:23] #28503 closed

[2019-05-14 09:24] harsh020goyal commented on #28690
I have download the model from the link as i mentioned below :+1:
[http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_coco_2018_01_28.tar.gz](url)

the conversion program written in python which is shown below:

import tensorflow as tf

graph_def_file="./frozen_inference_graph.pb"
input_arrays=["image_tensor"]
output_arrays=["detection_boxes","detection_scores","num_detections

[2019-05-14 09:25] muddham commented on #28394
@Atrus619 Able to reproduce the issue with the provided code in TF
Custom loop and MAE error: 2.516
Keras loop and MAE error: 1.274
Custom loop and SCC error: 1.518
Keras loop and SCC error: 1.240

[2019-05-14 09:33] muddham commented on #28655
@yangjinghit Please provide the link for the mentioned train.py, to further investigate on this.Also please mention the tensorflow version( 1.13.1 or 2.0.0alpha) currently being used .

[2019-05-14 09:35] grzegorz700 commented on #28695
When you use the seed parameter, It's the correct behaviour. Please remove the 'seed' argument to get different result each time.
Please close this thread.

[2019-05-14 09:35] awav commented on #26104
@wangpengmit that's awesome! thanks a lot, it is almost what I have done in my tensorflow fork :)

[2019-05-14 09:46] shkarupa-alex commented on #28695
Same behaviour without seed.

[2019-05-14 09:48] muddham commented on #28649
@toandrew Request you to please refer [link1](https://www.tensorflow.org/lite/guide/ops_select), [link2](https://www.tensorflow.org/lite/guide/ops_custom). Please let us know how it progresses. Thanks!

[2019-05-14 09:50] achandraa commented on #28551
Did you get chance to look on this [issue](https://stackoverflow.com/questions/48547709/tensorflow-1-5-build-failing-missing-path). Let us know if that helps. Thanks!

[2019-05-14 10:18] achandraa commented on #28494
Did you get chance to have a look on this [link](https://www.tensorflow.org/install/pip) to install TensorFlow. Let us know. Thanks!

[2019-05-14 10:20] SanthoshRajendiran commented on #28690
Follow the steps in this repository
[https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md](
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md)

[2019-05-14 10:23] SanthoshRajendiran commented on #26297
@gnsmrky  Could you share your repo, so that it could be a better thing for everyone to start exploring ssbo with that.

[2019-05-14 10:26] zahra74 commented on #20499
i want to run a code with google colab but i face with this problem
would you help me to solve it?
AttributeError: module 'tensorflow.python.pywrap_tensorflow' has no attribute 'TFE_MonitoringNewCounter0'

[2019-05-14 10:29] nijatmursali commented on #28642
I would like to train my own models with YoloV2 and add it to Android/assets folder with .txt file(label names). I have tried using Faster RCNN and my android didn't accept that .pb model and application stopped working.

[2019-05-14 10:35] achandraa commented on #28500
@Scofield666 : TensorFlow version will exist in the environment where we installed it. Please let us know if that resolves the issue. Thanks!

[2019-05-14 10:52] holyhao commented on #27613
@impjdi
Is there any good news about this?

[2019-05-14 10:57] harsh020goyal commented on #28690
If i am using that model whose link given below:
[http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v1_quantized_300x300_coco14_sync_2018_07_18.tar.gz](url)
which is also a SSD mobilenetV1 model , It get successfully converted into tflite.So what is issue with the above first mentioned model which is also a SSD mobilenet model.

[2019-05-14 10:59] gadagashwini commented on #28654
@sarim-zafar Could you provide the minimum code snippet to reproduce the issue reported here. Thanks!

[2019-05-14 11:00] exactlysameguy opened #28696 "TensorFlow Install failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-05-14 11:04] tsa10262 opened #28697 "tf.lite.TFLiteConverter error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow version (use command below): tf-nightly 1.14.1.dev20190513
- Python version: 3.5.2

**Describe the current behavior**
I create a model from tensorflow, and it's a simple model.

The graph is as

[2019-05-14 11:10] cgebbe opened #28698 "ConvLSTM2D - Include feedback loop from c_tm1 (carry state)"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): Yes

Cur

[2019-05-14 11:12] gadagashwini commented on #28651
@IcarusZqt In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-14 11:18] achandraa commented on #28497
Did you try to follow the steps mentioned [here](https://www.tensorflow.org/install/source) for the installation. Please let us know. Thanks!

[2019-05-14 11:19] #28651 closed

[2019-05-14 11:36] Dayananda-V commented on #28690
@harsh020goyal

hi ,

as of now object detection model just supports **ssd mobilenet** versions using
 script [running_on_mobile_tensorflowlite][https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md] to tflite version. This script allows "add_postprocessing_op" parameter which resolve your problem which mentioned in issue.

`Here is a

[2019-05-14 11:54] xiaohu2015 commented on #28552
I meet the same trouble

[2019-05-14 12:02] achandraa commented on #28521
Please have a look on [this](https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-462242641) and let us know if that helps. Thanks!

[2019-05-14 12:23] muddham commented on #28580
@Able to reproduce two kinds of  output as mentioned in the template with the provided code.

[2019-05-14 12:31] 007fred50 commented on #28622
can you test it ?

[2019-05-14 12:33] #28625 closed

[2019-05-14 12:34] harsh020goyal opened #28700 "Shown unsupported ops after compilling tf.lite.TFLiteConverter.from_frozen_graph on SSD_Mobilenet_v1_0.75_depth_coco model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):source
- TensorFlow version (or github SHA if from source):1.13.1

I tried running TensorflowLite converter as follow:

import tensorflow as tf

graph_def_file="./frozen_inference_graph.pb"
input_arrays=["image_tensor"]
output_arrays=["detection_boxes",

[2019-05-14 12:39] CatEek commented on #25057
@guptapriya, Thank you for your help!  I'm sorry for delayed response, I was away. I changed `with tf.control_dependencies(update_ops):
    train_op = optimizer.minimize(loss=loss, global_step=tf.train.get_global_step())`
to
`update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)
 minimize_op = optimizer.minimize(loss=loss, global_step=tf.train.get_global_step())
 train_op = tf.group(minimize_op,

[2019-05-14 12:39] idofr commented on #373
Uh! that's actually really helpful :) thanks. Why is that?

[2019-05-14 12:39] 007fred50 commented on #28521
it still does not help.

[2019-05-14 12:54] muddham commented on #28517
@spacelg As there is no response from your side , we will close this issue.
@rounakskm Please open a new issue with your requirements so we will take it forward

[2019-05-14 12:54] #28517 closed

[2019-05-14 12:56] achandraa commented on #28671
Did you try to follow instruction listed in [TensorFlow website](https://www.tensorflow.org/install/source_windows). You can also have a look on this [issue](https://github.com/tensorflow/tensorflow/issues/23683) and let us know if that helps. Thanks!

[2019-05-14 12:59] achandraa commented on #28659
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-14 13:04] SunYanCN commented on #28621
Thank you for your reply, I will give more detailed results.
First run very slowly, this may be the reason for my machine - TeslaP4 8G GPU. The second official did not add a validation set, my code above added a validation set to see if the model is over-fitting. The result of the third run was that the fit began after about 20 epoch, and the correct rate was only about 28%. I cannot guarantee the

[2019-05-14 13:06] SunYanCN commented on #28621
@gadagashwini @tensorflowbutler @ry @jmhodges

[2019-05-14 13:06] SunYanCN commented on #28621
more details:https://github.com/SDBurt/Transformer-TF/issues/1

[2019-05-14 13:08] makslevental commented on #28645
@gadagashwini ubuntu 19.04, x86_64. pip installed

must be something having to do with the pip package because https://github.com/tensorflow/tensorflow/blob/73640d97f67d6bd5ec84375449c6b9bba179606b/tensorflow/python/saved_model/signature_constants.py#L139

[2019-05-14 13:08] tensorflowbutler commented on #28172
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-14 13:08] tensorflowbutler commented on #28234
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-14 13:11] celinew1221 commented on #28598
Sorry, I meant that I didn't create a custom made rejection_resample function. Everything else is what I wrote. I'll edit that.

[2019-05-14 13:11] #28659 closed

[2019-05-14 13:14] FunkyKingston commented on #28659
This "extra" issue was created by mistake, when creating https://github.com/tensorflow/tensorflow/issues/28661

[2019-05-14 13:17] benmyara opened #28701 "Possible wrong comments in minimax_discriminator_loss"
## URL(s) with the issue:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/gan/python/losses/python/losses_impl.py#L468

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/gan/python/losses/python/losses_impl.py#L477

## Description of issue (what needs changing):

One line 468:     `# -log((1 - label_smoothing) - sigmoid(D(x)))`

Shouldn't it be `-(1-la

[2019-05-14 13:24] igorgertman opened #28702 "gives an error when import tensorflow"
Traceback (most recent call last):
  File "C:\Users\домашний\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\домашний\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 28, in <module>

[2019-05-14 13:25] yensan0512 opened #28703 "AttributeError: 'Sequential' object has no attribute 'prediction'"
from flask import Flask
from flask_restful import Api, Resource, reqparse

app = Flask(__name__)
api = Api(app)

import os
import json
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import logging

from collections import Counter

import pandas as pd
import numpy as np

from keras.models import load_model
from keras import backend as K

from keras.preprocessing.image import array

[2019-05-14 13:30] achandraa commented on #28650
Let us know which TensorFlow version you are using. Also will it be possible to provide a minimal code snippet to replicate the issue. Thanks

[2019-05-14 13:31] cgebbe commented on #28698
P.s.: If I am not mistaken, it might not be straightforward, because we would need to store three different kernels:

W_x = [W_xi, W_xf, W_xo, W_xc] = [filter_height, filter_width, num_batch, num_filter*4]
W_h = [W_hi, W_hf, W_ho, W_hc] = [filter_height, filter_width, num_filter, num_filter*4]
W_c = [W_ci, W_cf, W_co] = [num_batch, input_width, input_height, 3] - Must be same width and height as X

[2019-05-14 14:05] kbhute-ibm opened #28704 "tfexample_decoder_test.py fails on s390x for dtype float32 and image_format 'raw'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:NA
- TensorFlow installed from (source or binary):Source
- TensorFlow version (use command below):1.12.0

[2019-05-14 14:11] rounakskm opened #28705 "How to build Tensorflow C++ API with Visual Studio 2017"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Windows 10 Home
- Mobile device (e.g. iPhone 8, Pixel 2,

[2019-05-14 14:16] ianhellstrom opened #28706 "Keep version fixed when searching API docs"
When using the search bar in the [API docs](https://www.tensorflow.org/versions/r1.13/api_docs/python/tf) with a version in the URL, any search will include pages from different API versions, which means you often end up in the wrong module and have to click on the correct version _again_.

## How to reproduce

- Go to: https://www.tensorflow.org/versions/r1.13/api_docs/python/tf
- Type in 'unsort

[2019-05-14 14:27] mihaimaruseac commented on #28506
Note that now TensorFlow builds with bazel from 0.24.1 to 0.25.2:

https://github.com/tensorflow/tensorflow/blob/bcee53ab6f4131b6d5a4061c0ad2f2a48e286b90/configure.py#L1391

I think this can be closed

[2019-05-14 14:37] kbhute-ibm commented on #28704
In this test case https://github.com/tensorflow/tensorflow/blob/bcee53ab6f4131b6d5a4061c0ad2f2a48e286b90/tensorflow/contrib/slim/python/slim/data/tfexample_decoder_test.py#L233 , image and decoded_image do not match on BE, however on LE, it matches. While debugging more observed that, `image.dtype.str` is `>f4` on s390x however on Intel, its `<f4`. This shows byte ordering of NumPy array is interp

[2019-05-14 14:38] kbhute-ibm commented on #28704
In this test case https://github.com/tensorflow/tensorflow/blob/bcee53ab6f4131b6d5a4061c0ad2f2a48e286b90/tensorflow/contrib/slim/python/slim/data/tfexample_decoder_test.py#L233 , image and decoded_image do not match on BE, however on LE, it matches. While debugging more observed that, `image.dtype.str` is `>f4` on s390x however on Intel, its `<f4`. This shows byte ordering of NumPy array is interp

[2019-05-14 14:48] qlzh727 commented on #28614
Thank you for reporting the issue, will fix it soon.

[2019-05-14 14:50] ajarthurs commented on #28528
@amitsrivastava78 The calibration-and-quantization tool is reporting different min/max values around `MAX_POOL_2D` as a warning. The source of the warning is at [`tensorflow/lite/tools/optimize/quantize_model.cc`](https://github.com/ajarthurs/tensorflow/blob/q_leakyrelu/tensorflow/lite/tools/optimize/quantize_model.cc#L504-L508). But following that, [the node's output tensor's quant-params are rep

[2019-05-14 14:58] starkdm commented on #28551
Use `--action_env` in Bazel command? I tried it.

[2019-05-14 15:06] duancaohui opened #28707 "How to apply gradient clipping in TensorFlow 2.0?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): Tensorflow 2.0 Alpha
- Are you willing to contribute it (Y

[2019-05-14 15:17] ehennis opened #28708 "gcloud ai-platform fails with TFv2 Saved Model"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platf

[2019-05-14 15:31] talumbau commented on #28673
You can produce a listing of all of the ops and tensors in your .tflite file as an HTML file using the visualize tool:

bazel run //tensorflow/lite/tools:visualize model.tflite visualized_model.html

That should help you see where the MEAN op is.

[2019-05-14 15:45] jvishnuvardhan commented on #28172
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-14 15:45] #28172 closed

[2019-05-14 15:46] amilsted opened #28709 "defun + random + addition = explode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: Colab or WSL Ubuntu 18.04
- Mobile device if the issue happens on mobile device:
- TensorFlow installed from: binary
- TensorFlow version: 1.13.1 or 1.14.1-dev20190514
- Python version: 3.6.8
- Bazel version (if compiling from source):
- GCC/C

[2019-05-14 15:54] dekromp opened #28710 "steps_per_epoch parameter in fit not working with tf.keras.utils.Sequence"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `Yes`
- OS Pla

[2019-05-14 16:09] anilsathyan7 opened #28711 "Tensorflow lite demo app gives wrong result in GPU delegate (Honor Play Android 9.0 GPU Turbo)"
**System information**

- OS Platform and Distribution: Android 9.0 (API 28)
- Mobile device : Huawei Honor Play 9.0 ,GPU: Mali G72 MP12 (GPU Turbo)
- TensorFlow installed from: tensorflow-lite:0.0.0-gpu-experimental

**Describe the current behavior**

The tensorflow lite gpu delegate demo application gives incorrect results for image classification , when it is run on GPU; whereas the same float

[2019-05-14 16:11] amilsted commented on #13222
On CPU performance: TF's CPU implementation of the SVD (from eigen) does not utilize multi-threading, whereas MKL's implementation does.

As @shamanDevel points out: It would be great if, when built with MKL, TF would also turn on MKL support in eigen, since then eigen would use the MKL SVD internally.

Aside: Using MKL does not limit CPU support. MKL will also run (pretty fast) on AMD CPUs.

[2019-05-14 16:25] qlzh727 commented on #28614
This should be now fixed in https://github.com/tensorflow/tensorflow/commit/12250556493fe7757bd97f397e3483e7c0e022b1.

[2019-05-14 16:25] #28614 closed

[2019-05-14 16:35] lorenzob commented on #21518
I solved this error (on 1.13.1) by running:

pip3 install keras_applications==1.0.6 --no-deps
pip3 install keras_preprocessing==1.0.5 --no-deps
pip3 install h5py==2.8.0

[2019-05-14 16:37] MonarkA opened #28712 "tensorflowjs_converter install fails due to tf-nightly-2.0-preview missing from Python 3.7"
**Describe the problem**

Command used:
tensorflowjs_converter --input_format=tf_frozen_model --output_node_names=final_result  output/saved_model.pb web_model

Getting below error:
tensorflowjs_converter: command not found

[2019-05-14 16:39] allenlavoie commented on #28695
x.numpy() doesn't re-run the operation, it just copies the existing result to a numpy array. Try moving the normal() call into the loop.

[2019-05-14 16:54] aaroey commented on #25402
@trevor-m sorry for being late. I can reproduce the problem, but I think it'll be hard to solve this problem in Grappler unless with explicit pattern matching. So, the output `flatten/strided_slice:0` is the batch dimension of the input (lets name it `batch_dim`), then the output of `flatten/Reshape/shape:0` is `[batch_dim, -1]` (note, not `[-1, 1536]` even though the outcome are same with this pa

[2019-05-14 17:06] lmiller210 opened #28713 "ImportError: DLL load failed: A dynamic link library (DLL) initialization routine failed."
**System information**
Windows 10 Pro
Tensorflow 1.13.1 (didn't work with 2.0.0a0 or 1.10.0)
python 3.6.8
installed using pip

I installed using pip following the instructions on the website. The only solutions I could find told me that i need cuDNN, but this is CPU only, or they told me that I need an AVX-enabled processor, which I have. It gave me the following error when I tried importing it in

[2019-05-14 17:17] abhinavsagar commented on #28710
Can reproduce this. Looks a bug to me.

[2019-05-14 17:20] abhinavsagar commented on #28702
I don't think tensorflow supports python 3.7.0 right now.

[2019-05-14 17:21] ymodak commented on #28712
You need to pip install tensorflowjs before running the converter.
```pip install tensorflowjs```

[2019-05-14 17:22] jvishnuvardhan commented on #27631
@csukuangfj I am closing this issue as the PR was already merged and I have looked into the source code that show update. TF website will be updated soon and then you can see correct rendering. Thanks!

[2019-05-14 17:22] #27631 closed

[2019-05-14 17:29] ymodak commented on #28606
Closing this issue since the associated PR has been merged. Feel free to reopen if the problems still persists. Thanks!

[2019-05-14 17:29] #28606 closed

[2019-05-14 17:40] aaroey commented on #28458
@reedwm would you please take a look? Thanks.

[2019-05-14 18:07] wdirons commented on #26155
This problem with the nvcc compiler should be fixed with the nvidia gpu driver version 418.67

[2019-05-14 18:10] shkarupa-alex commented on #28695
Ok, let me explain the source of my report.
I've got a custom TF-based code with randomness inside. For simplicity in example below i replaced that code with  `tf.random.normal`.
And i've got a unit test. It looks near like this:
[code]
In test i want to check that x changes on each call.
That is true for graph-mode and not true for eager mode.

As result, i can't test my code working as expected

[2019-05-14 18:12] angersson commented on #28171
@SunGaofeng, please try to replicate this:

[code]

You'll need to be using the newer version of [nvidia-docker](https://github.com/NVIDIA/nvidia-docker), triggered with `docker --runtime=nvidia` rather than `$ nvidia-docker ...`. TensorFlow 1.2 still used the older method, which is probably why it works for you.

[2019-05-14 18:20] angersson commented on #28495
@tfboyd Do you know if someone is already working on this?

[2019-05-14 18:20] cushon commented on #28553
cc @iirina

[2019-05-14 18:22] ymodak commented on #28501
@BrikerMan I was not able to reproduce the behavior reported.  I executed the above code snippet in TF 1.13.1 and 2.0 alpha to receive identical results as given below:
[code]
Can you please try executing your code in [google colab](https://colab.sandbox.google.com/notebooks/welcome.ipynb#recent=true) and confirm? Thanks!

[2019-05-14 18:26] smit-hinsu commented on #25402
+@andyly as well.

[2019-05-14 18:29] celinew1221 opened #28714 "tensorflow gradient tape training speed performance issue (much slower than keras .fit training)"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from (source or binary): binary pip3
- TensorFlow version (use command below): 2.0.0-dev20190510
- Python version: 3.5.2
- CUDA/cuDNN version: 10.0/7
- GPU model and memory: Titan V 12GB

**Describe the current behavior**
tensorflow.keras .fit training time is way faster than

[2019-05-14 18:30] tfboyd commented on #28495
I have already moved all of my testing to 18.04 based docker files.  I have not issues moving the defaults to 18.04.  We can virtually copy my performance docker files.  https://github.com/tensorflow/benchmarks/tree/master/perfzero/docker

I would approve that without hesitation.

[2019-05-14 18:36] sodiumLights commented on #6356
I cleaned hazel and gave the following command

`bazel build -c opt //tensorflow/contrib/android:libtensorflow_inference.so    --crosstool_top=//external:android/crosstool    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain    --cpu=armeabi-v7a --cxxopt=-std=c++11  --verbose_failures --sandbox_debug`

it gave me the following error:

`ERROR: /private/var/tmp/_bazel_root/23994111945cccf7235ec

[2019-05-14 18:38] MonarkA commented on #28712
Hi @ymodak ,

tensorflowjs is already installed on my system. Still, I am getting above error.

[2019-05-14 18:49] reedwm commented on #28458
The error message I get is:

[code]

The core problem is that TensorArray does not have a GPU implementation for most integer types, although int64 support was added in #22157.

Marking as contributions welcome for support for other integer types.

[2019-05-14 18:53] impjdi commented on #27613
@anneyking @holyhao

Sorry, the engineers in charge don't have cycles this week to investigate.  They may start next week.

[2019-05-14 19:20] jvishnuvardhan commented on #28539
@beingsagir Thanks for finding this missing link. In the coming weeks, TF website will be updated. There are lots of changes we are making that's why there are some missing links.

This missing link was updated in master [here](https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/keras/index.md). When the TF website is updated, you don't see the last line
`Additional TensorFlow and

[2019-05-14 19:20] ymodak commented on #28712
Please provide following information:
*System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below

[2019-05-14 19:20] jvishnuvardhan commented on #28539
Closing this issue. Thanks!

[2019-05-14 19:20] #28539 closed

[2019-05-14 19:26] arjay55 commented on #22794
In my experience (after lots of trial and error), it is best to set the CUDA paths using the GUI based editor on Windows.

My setup is as follows:
1. CUDA 10.0
2. latest cudnn available (follow the instructions on Nvidia site)
3. Setting the paths using the Environment Variables editor in Windows.
--> In my experience, using "SET PATH..." on the Command Line still forgets the new paths.
--> I also

[2019-05-14 19:34] celinew1221 commented on #28714
I tried it with tf.function, and found the problem is actually in enumerate() term. It'd be great if you can look into that.

[2019-05-14 19:35] NikolaMandic commented on #26294
you like read what people wrote then think
what was last written that is the status
here for example one puts a pull request then people look at that one

[2019-05-14 20:25] allenlavoie commented on #28523
Unfortunately I won't have time to work on this.

[2019-05-14 20:35] allenlavoie commented on #28695
I sometimes use functools.partial here. So x_func = functools.partial(tf.random.normal, args...), then run self.evaluate on x_func() a few times.

[2019-05-14 20:56] jvishnuvardhan commented on #28367
I could reproduce the issue in TF2.0.0-alpha0. [Gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/49459479302f1c7d4aca06d3b9e4d3de/untitled158.ipynb) is here. Thanks!

[2019-05-14 21:21] guptapriya commented on #28337
if i understand correctly, you're creating all the 58 workers on a single machine? if yes, what is the purpose behind that?

[2019-05-14 21:24] ymodak commented on #28405
@soloice Can you please take a look at this issue? Thanks!

[2019-05-14 21:30] andyly commented on #25402
As @aaroey mentioned, because the shape is not fully defined for the PlaceHolder, it cannot be constant folded down into the Shape, resulting in no further constant folding. One option is to write an explicit transformation looking for this pattern, but I am not sure how generalized this sort of pattern can be.

[2019-05-14 21:37] jvishnuvardhan commented on #28613
@jasonzhang2022 Thanks for finding this. First one  was already updated in `master` branch [here](https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/text/transformer.ipynb) and it will be correctly rendered when the update are pushed to website. We will take a look at the rest of the two issues. Thanks!

[2019-05-14 21:53] ymodak commented on #28333
The ```validation_data```  argument in ```model.fit``` in your case is a ```'BatchDataset' object``` which is not among the accepted data structures.
You may want to convert it in one of the accepted types; tuple (x_val, y_val) or dataset iterator
https://www.tensorflow.org/api_docs/python/tf/keras/models/Model#fit

[2019-05-14 21:59] rongou commented on #26155
This problem is not tied to the gpu driver. It's the cuda compiler version. Should be fixed if you are on 10.1.168.
[code]

[2019-05-14 22:05] ymodak commented on #28377
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-14 22:05] #28377 closed

[2019-05-14 22:07] jvishnuvardhan commented on #27913
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-14 22:07] #27913 closed

[2019-05-14 22:07] jvishnuvardhan commented on #27997
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-14 22:07] #27997 closed

[2019-05-14 22:26] ymodak commented on #28524
Closing this issue since its not Bug/Feature Request. [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) can be good platform to address this question. Thanks!

[2019-05-14 22:26] #28524 closed

[2019-05-14 23:05] angersson commented on #22292
#28717 will upgrade our future Docker images to Ubuntu 18.04. TF 1.14's images should have 18.04 as a base once they're available.

@jingw222 Good idea -- that may be something we can do later if it turns out to be simple enough. For now, I'd recommend deriving a custom image from ours if you require specific component versions.

[2019-05-14 23:05] PINTO0309 commented on #23082
@wangzhihua520
Although it is an unofficial package, please try the following.
It's a full build package, but its introduction is very easy.
**https://github.com/PINTO0309/Tensorflow-bin**

For armv7l.

**`Tensorflow v1.11.0`**
or
**`Tensorflow v1.13.1`**
or
**`Tensorflow v2.0.0 alpha`**

If that doesn't work, try rebuilding Tensorflow yourself, referring to the working sequence in my repository.

[2019-05-14 23:19] jasonzhang2022 opened #28718 "Transfer Learning Using Pretrained ConvNets tutorial should use sigmoid activation"
## URL(s) with the issue:
https://www.tensorflow.org/alpha/tutorials/images/transfer_learning

## Description of issue (what needs changing):
classification head should use sigmoid activation.
### Clear description
The tutorial has this paragraph:

You don't need an activation function here because this prediction will be treated as a logit, or a raw prediciton value. Positive numbers predict clas

[2019-05-14 23:32] sinatv52 commented on #28163
i am facing the same error !

[2019-05-15 00:52] jralfonsog opened #28721 "Failed to load the native TensorFlow runtime"
I'm trying to run tensorflow in a venv managed on PyCharm, but is giving some trouble (I cant even check the version). I have another env, this one on conda, which works fine.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): import tensorflow (for example)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10

[2019-05-15 01:31] jralfonsog commented on #28721
Dumb of me, forgot to install cuDNN. Feel free to delete the post.

Sorry for the inconvenience, and thanks for your time.

[2019-05-15 01:34] sheirving commented on #24669
same problem! Have you solved it?

[2019-05-15 01:41] creeeeeg commented on #28651
[code]

Here's a repro for an example that is giving me the same issue... just attempting to use mnist to go through some 2.0 stuff... hope this is the right place to respond... I'm getting the same or similar error as follows....

[2019-05-15 01:45] ymsaputra commented on #28337
@guptapriya Yes, I use a single computer with Intel Xeon Gold 6150 2.7GHz 18 cores (16 cores enabled) 24.75MB L3 Cache (Max Turbo Freq. 3.7GHz, Min 3.4GHz), 180GB RAM (Six Channel), 4.8TB of Disk Space. I use 58 workers to represents 58 base stations for simulations. Should I need to use 58 machines to implement this?

[2019-05-15 01:46] samsamoa opened #28725 "Autograph fails for keyword-only arguments"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux
- TensorFlow installed from (source or binary): `pip install tf-nightly-gpu-2.0-preview`
- TensorFlow version (use command below): `v1.12.1-1847-gc095504 2.0.0-dev20190514`
- Python version: 3.7.3

**Describe t

[2019-05-15 01:51] IcarusZqt commented on #28651
Hi, i uninstall my Anaconda(python 3.6.3) and install the latest Anaconda and the error is gone.

[2019-05-15 01:57] Sean0123456789 commented on #28151
any updates?

[2019-05-15 01:57] #28721 closed

[2019-05-15 02:55] TheOriginalSujay commented on #25939
I can try creating a dockerfile to be used to build an image and subsequent containers supporting Python 3.7 - might be helpful.

[2019-05-15 04:02] BrikerMan commented on #28501
@ymodak I have tried it with colab, it should be equal when using 1.13.1.

I have changed the last line of my code and it works as expected.

[code]

result is
[code]

Here is demo colab: https://colab.research.google.com/drive/1Y1ObMAg3H2O47on58t2hdirRUr6M172o

[2019-05-15 04:03] cswangchen commented on #24828
i just reinstall the tensorflow 1.13.1 and then install keras
 it works!

[2019-05-15 04:03] amitsrivastava78 commented on #28528
@ajarthurs thanks for the confirmation what i meant in my response was that source of the warning is the toco graph transformation which hardcodes the min and max of the maxpool2D, you can refer to HardcodeMinMaxForAverageOrMaxPool function in lite/toco/graph_transformations/hardcode_min_max.cc

Yes this looks like not an issue to me as well. We can close this one.

Regards
Amit

[2019-05-15 04:21] gadagashwini commented on #28234
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-15 04:21] #28234 closed

[2019-05-15 04:34] AyushP123 commented on #28713
I tried to recreate this issue in anaconda:
OS: Windows 10 home
Tensorflow 1.13.1
python 3.6.8
I used 'pip install tensorflow' in anaconda terminal to install tensorflow and was able to run
`from tensorflow.python import pywrap_tensorflow`
`from tensorflow.python.pywrap_tensorflow_internal import *`

[2019-05-15 04:38] AyushP123 commented on #28713
it doesn't require cuDNN, I removed cuDNN and checked.

[2019-05-15 04:44] gadagashwini commented on #28621
@SunYanCN Thanks for the detailed information.

[2019-05-15 04:52] achandraa commented on #28506
Closing the issue since it is clarified. Thanks!

[2019-05-15 04:52] #28506 closed

[2019-05-15 04:54] achandraa commented on #28536
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-15 04:54] #28536 closed

[2019-05-15 04:54] achandraa commented on #27512
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-15 04:54] #27512 closed

[2019-05-15 05:03] gadagashwini commented on #28702
@igorgertman   Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary? Thanks!

[2019-05-15 05:14] igorgertman commented on #28702
Windows 7 64 bit operating system. AMD phenom ii n930 processor.  on the K10 architecture, tensorflow version 1.13.1. Installed through PIP install tensorflow.

[2019-05-15 05:24] igorgertman commented on #28702
pip 19.1.1 from c:\users\домашний\appdata\local\programs\python\python37\lib\sit
e-packages\pip (python 3.7)
Python 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)] on win32

[2019-05-15 05:54] soloice commented on #28405
Probably the same as [this one](https://github.com/tensorflow/tensorflow/issues/13114#issuecomment-330381682).

[2019-05-15 06:16] muddham commented on #28709
@amilsted Able to reproduce the issue in eager mode as below.
0.0017082691192626953
28.53006386756897
0.0010156631469726562
0.0005068778991699219.

After Replacing x = tf.random_uniform((D,)) with x = tf.ones((D,)) eliminates the problem, as does replacing x = x + x with x = 2*x.
0.0022535324096679688
0.0447695255279541
0.0005967617034912109
0.0005047321319580078

[2019-05-15 06:26] muddham commented on #28703
@yensan0512  It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you w

[2019-05-15 06:29] achandraa commented on #28551
Did you try following the steps mentioned in [TensorFlow website](https://www.tensorflow.org/install/source_windows).If not, please give it a try and let us know if you are still stuck. Also let us know which TensorFlow version you are using.Thanks!

[2019-05-15 06:35] gadagashwini commented on #28684
@wagnerDestro Please follow the instructions in this [link](https://www.tensorflow.org/install/pip) to install tensorflow. Thanks!

[2019-05-15 06:36] NEU-Gou opened #28727 "Converting error for quantize aware trained tf.keras.applications.MobileNetV2"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-05-15 06:51] muddham commented on #28700
@harsh020goyal Request you to please refer the [link1](https://github.com/tensorflow/tensorflow/issues/25331), [link2](https://github.com/tensorflow/tensorflow/issues/27832). Please try if that helps and let us know how it progresses.

[2019-05-15 07:08] saippuakauppias commented on #28693
I also builded tensorflow v1.12.2 and v.1.11.0 (CUDA 9 / cuDNN 7 / Bazel 0.15.0) from old official dockerfile ( https://github.com/tensorflow/tensorflow/blob/v1.12.2/tensorflow/tools/dockerfiles/dockerfiles/nvidia.Dockerfile + some things from dockerfile v1.13.1) and I get same results:
[code]

Maybe problem in my Ubuntu? How to find the problem?

[2019-05-15 07:08] harsh020goyal commented on #28700
commit Converting unsupported operations - Enter, Exit, Merge, Switch #27832

[2019-05-15 07:08] harsh020goyal commented on #28700
@commit Converting unsupported operations - Enter, Exit, Merge, Switch  #27832

[2019-05-15 07:10] harsh020goyal commented on #28700
#27832

[2019-05-15 07:11] harsh020goyal commented on #28700
@https://github.com/tensorflow/tensorflow/issues/27832

[2019-05-15 07:14] hamlatzis commented on #24491
I;ve created a tensorflow mode of my own with custom operator and when I'm trying to convert it to lite I get something similar like it doesn't find my custom operation (MyAdd)

I've tried both command line utilities tflite_convert & toco (with same error):

tflite_convert --output_file lite_version_model.tflite --saved_model_dir ./SavedModel --output_format TFLITE --allow_custom_ops

toco --outpu

[2019-05-15 07:31] Nighthawk98 opened #28728 "Error while convert the Tensorflow to tensorflowlite model"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]
Graph_def_file = ssdlite_mobilenet_v2_coco_2018_05_09/tflite_graph.pb
Also, please include a link to a GraphDef or the model if possible.

**Any other info / lo

[2019-05-15 07:48] janosh commented on #28377
@ymodak How do you know it's not a bug? I'd be curious to know what I'm doing wrong in that case, especially since I was first asked to provide a minimal example of the problem by @achandraa rather than be referred to SO straight away.

[2019-05-15 07:50] jrabary commented on #26803
@fchollet  Is there any advance in this issue. I notice that if we define the model as follow
[code]

The timestep-wise sample weight from the dataset works.

It seems that the problem occurs when we subclass `Model` directly. Furthermore the outputs names can't be customised in this case

[2019-05-15 07:51] anonym24 opened #28729 "ValueError: Invalid tensors 'outputs' were found when converting from .pb to .tflite"
I successfully retrained mobilenet quantized model (`architecture="mobilenet_1.0_128_quantized"`) with my own image dataset:

    python3 -m scripts.retrain \
      --bottleneck_dir=tf_files/bottlenecks_quant \
      --how_many_training_steps=50000 \
      --model_dir=tf_files/models/ \
      --summaries_dir=tf_files/training_summaries/"mobilenet_1.0_128_quant" \
      --output_graph=tf_files/retr

[2019-05-15 07:59] haitham-b commented on #28287
Any updates on this?

[2019-05-15 08:01] astropeak commented on #27492
Hey, I'd like to take a crack at this!

[2019-05-15 08:02] TheDraguun commented on #23873
@galeone I did not yet have the opportunity to look into `model.get_updates_for` , thanks for clarifying.

To me `tf.keras` seems not yet ready for the big switch coming with `tf2` - but that might be just me not seeing the whole picture. Toying around with StyleGAN like things right now and feeling very constrained by Keras :/ - but  then again, I'm very happy that tf and alike exist at all and a

[2019-05-15 08:16] galeone commented on #23873
Initially, I was thinking the same but I wasn't looking at the entire picture.
Using Keras in pure Tensorflow 2.0 style already works almost perfectly. The problem is when we mix sessions and Keras (or even worse, tf.estimator + Keras models -> if you try using tf.contrib.gan and define a model using Keras, it never learns to generate something useful, while when using tf.layers it works perfectly

[2019-05-15 08:25] IvyGongoogle commented on #21089
meet the same error.

[2019-05-15 08:34] muddham commented on #28460
@ThisIsIsaac Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-15 08:34] #28460 closed

[2019-05-15 08:37] anilsathyan7 commented on #28585
Facing same issue in the tflite demo app (tflite-gpu-nightly)...

[2019-05-15 08:39] harsh020goyal commented on #28700
#27832 Converting unsupported operations - Enter, Exit, Merge, Switch

[2019-05-15 08:42] muddham commented on #28694
@alenaschnurr Able to reproduce the issue with provided code.

ValueError: Tensor's shape (2,) is not compatible with supplied shape (None, 2)

[2019-05-15 08:42] harsh020goyal commented on #28700
#25331

[2019-05-15 08:43] harsh020goyal commented on #28700
#25022

[2019-05-15 08:43] ThisIsIsaac commented on #28460
@muddham
Sorry for not mentioning here. I have made a [pull request](https://github.com/tensorflow/tensorflow/pull/28686) for the bug and asked one of the TF devs in contact to review.

[2019-05-15 08:44] gadagashwini commented on #28666
@WY19940327 I tried reproducing the issue  but the code executed and also displayed the result. Can you try once again and let us know if that still gives no output. Also follow the instructions in this [link](https://www.tensorflow.org/install/pip) to install Tensorflow. Thanks!

[2019-05-15 08:49] achandraa commented on #28635
I was able to replicate the behavior with TensorFlow 1.14.1-dev20190509 on Colab.

[2019-05-15 08:51] achandraa commented on #28605
Will it be possible to provide a minimal code snippet that can replicate the issue since it will be easier to debug and decide on the same. Thanks!

[2019-05-15 09:06] jjjjjie opened #28730 "use GradientTape to compute gradient cost all memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-05-15 09:19] gadagashwini commented on #28396
@SabahKarim Looks like your cuDNN library version is not compatible with CUDA version.
Also take a look at tested build configurations for tensorflow_gpu-1.12. Thanks!

[2019-05-15 09:22] muddham commented on #28688
@zqp2009happy  It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you

[2019-05-15 09:22] #28688 closed

[2019-05-15 09:22] achandraa commented on #28668
Tried running your snippet and was able to reproduce the error on mentioned TensorFlow version (2.0.0-dev20190513).

[2019-05-15 09:23] WY19940327 commented on #28666
Thank U! I will try to reinstall tf follow your link and give you res

[2019-05-15 09:24] muddham commented on #28685
@EFanZh  It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you will

[2019-05-15 09:30] achandraa commented on #28647
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there and can provide better support for such issues. Thanks!

[2019-05-15 09:36] gadagashwini commented on #28669
@lucifer2288 I tried reproducing the issue through colab link of Text classification with an RNN but the code executed without any error. Can you try once again and let us know if that still gives error. Thanks!

[2019-05-15 09:37] muddham commented on #28679
@lioutasb Please provide simple reproducible code to investigate it further.

[2019-05-15 09:41] gadagashwini commented on #28390
@jiayeah9508 please provide a minimum code snippet to reproduce the issue reported here. Thanks!

[2019-05-15 09:52] gadagashwini commented on #28693
@saippuakauppias Make sure that LD_LIBRARY_PATH is set up correctly. Thanks!

[2019-05-15 09:58] ANSHUMAN87 commented on #27882
@ngelotte : I tried executing your colab link, but it throws error at "**Export your model**" stage, would you please check and resolve it, so that i can debug the issue. Otherwise you can share the frozen pb file directly if you have. Thanks!

[2019-05-15 10:00] gadagashwini commented on #28696
@exactlysameguy Did you download and install CUDA and cuDNN? Can you please confirm? Thanks!

[2019-05-15 10:01] sinatv52 commented on #27880
@rocking5566 so how can i use this quantization with fine-tuning and transfer learning? do you have any code for that?

[2019-05-15 10:03] disposa1 commented on #28713
I have the same problem as you.
Windows 8.1
python3.7.3
tensorflow1.13.1
then I knew that my cpu didn't support aux.
Because "Starting from 1.6 release, our prebuilt binaries will use AVX instructions.
This may break TF on older CPUs."  noted in [https://github.com/tensorflow/tensorflow/releases/tag/v1.5.0](url).

My solution:
1. Install the python3.6.8
2. virtualenv -p c:\python36\python.exe envn

[2019-05-15 10:05] JafferWilson opened #28732 "Tensorflow Type error when trying to iterate the Tensors in loop"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
 Yes. It is mentioned as above in the code. I want to go as it is with loop and conditions. I know there are short hand functions but I want to customize it my way later during the go.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10 Desktop
- Mobile device

[2019-05-15 10:14] ANSHUMAN87 commented on #28697
@tsa10262 : That's expected behavior, based on your model ops, however it does not affect your output.
Please check for desired output, if it solves your purpose, then well and good. If my post helped resolve your issue, please close the thread, Thanks!

[2019-05-15 10:14] MonarkA commented on #28712
could you please check below explanation?

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.3
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not on mobile device
TensorFlow installed from (source or binary): installed pip from t

[2019-05-15 10:15] GJBoth opened #28733 "tf.maximum/ tf.nn.relu not giving expected result"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab, CPU versio
- TensorFlow version (use command below): 1.13.1
- Python version: 3.6.7 (default)

**Describe the current behavior**
I was testing Relu and tf.maximum for a transformation, but I did not get

[2019-05-15 10:16] munum commented on #25759
Hi @impjdi I'm having the exact same issue on Redmi 6:
[code]

Is there a way to set `max_work_group_invocations` now?

Thanks

[2019-05-15 10:17] Symphonized opened #28734 "Persistent colors on detected objects when using TFLite demo app"
<em>I would like persisent colors on detected objects when using the TFLite demo app on Android</em>

**System information**
- TensorFlow version (you are using): 1.13.1

- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Detected objects in the TFLite demo app show rectangles around them with a confidence number. These rectangles change color

[2019-05-15 10:19] fgr1986 commented on #27880
Following @rocking5566 code, you can recover a model with something like:
`tf.keras.backend.clear_session()
g = tf.keras.backend.get_session().graph
with tf.Session(graph=g) as session:

    model_clean = ...
    tf.contrib.quantize.create_eval_graph(input_graph=g)
    optimizer_not_used, loss = ...

    # initialize automatically quantized variables
    session.run(tf.global_variables_initializer

[2019-05-15 10:30] mtu commented on #27781
I met the same problem @haozha111 .
Hope you can fix this bug, thank you.

[2019-05-15 10:31] alanpurple commented on #26155
yeap, as @rongou  said, this has been fixed, closing

[2019-05-15 10:31] #26155 closed

[2019-05-15 10:35] gadagashwini commented on #28708
@ehennis Can you recheck and confirm that your cpu supports AVX2?

[2019-05-15 10:46] jenselo opened #28735 "Wrong MD5 checksum for flatbuffers when building Tensorflow Lite Micro using make"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version: ba63891c8b
- Python version: NA
- Installed using virtualenv? pip? conda?: NA
- Bazel version (if compiling from source): NA
- GCC/C

[2019-05-15 10:50] jenselo commented on #28735
Here's a PR that fixes the issue: https://github.com/tensorflow/tensorflow/pull/28736

[2019-05-15 11:11] WY19940327 commented on #28666
@gadagashwini I reinstall tf-gpu follow your link, but the system output same things

![image](https://user-images.githubusercontent.com/49911630/57771285-411b3500-774d-11e9-8bfe-c1aa005d4ee3.png)

![image](https://user-images.githubusercontent.com/49911630/57771321-598b4f80-774d-11e9-8f88-a3dfccb165fe.png)

![image](https://user-images.githubusercontent.com/49911630/57771406-96efdd00-774d-11e9-9c

[2019-05-15 11:18] xiaohu2015 commented on #27004
I have meet the same trouble, why? @mdanatg

[2019-05-15 11:31] saippuakauppias commented on #28693
@gadagashwini, what is the correct path to be?

I check LD_LIBRARY_PATH in docker image `tensorflow/tensorflow:1.13.1-gpu-py3`:
[code]

And with this env I get same error.

I changed env to:
[code]

And again get error in start post...

I checked again `tf_env_collect.sh` and get same results (as in first post in attachment).

[2019-05-15 11:35] mdanatg commented on #27004
@xiaohu2015 The alpha preview is fairly outdated. Are you seeing the issue even if you `pip install tf-nightly-2.0-preview`?

[2019-05-15 11:52] impjdi commented on #25759
@munum

Hi Michael, the last time I got the report was on the very first release.  Do you know the version of the AAR you are using?

https://bintray.com/google/tensorflow/tensorflow-lite

[2019-05-15 12:01] GJBoth commented on #28733
False alarm. Turns out that defining a as tf.random.normal instead of using tf.constant produces a different number each time it's called.

[2019-05-15 12:01] #28733 closed

[2019-05-15 12:17] wagnerDestro commented on #28684
@gadagashwini I followed the steps in the tensorflow guide. I even reinstalled Python 3 to make sure, but the error persists.

[2019-05-15 12:20] achandraa commented on #28710
I was able to reproduce the mentioned output with TensorFlow version 1.13.1.

[2019-05-15 12:25] xiaohu2015 commented on #27004
I built tensorflow-2.0 from source, maybe I need try the new.

[2019-05-15 12:33] achandraa commented on #28692
Looks like it is related to TFX. We can open an issue on this [repository](https://github.com/tensorflow/tfx/issues) for better help on the same. Thanks!

[2019-05-15 12:37] achandraa commented on #28362
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include minimal code snippet that can depict the issue. You can follow the [template](https://github.com/tensorflow/tensorflow/issues/new/choose) for the same.

We ask for this in the issue submis

[2019-05-15 12:40] DurivetMatthias commented on #28692
@achandraa someone in TFX asked me to post the issue here.
[Original issue](https://github.com/tensorflow/tfx/issues/114#issue-443364979)

[2019-05-15 12:46] WaeCo opened #28738 "keras fit_generator ignores verbose parameter for validation_data"
Setting `verbose=0` in `tf.keras.model.fit_generator()` has no effect if `validation_data` is provided.
The progress is still displayed for each validation step.
This is annoying if you have a callback that is responsible for printing progress.

**System information**
- running in docker container tensorflow/tensorflow:latest-py3-jupyter
- `tf.GIT_VERSION`: v1.13.1-0-g6612da8951
- `tf.VERSION`: 1.

[2019-05-15 12:46] mdanatg commented on #27004
It's worth checking the git revision of your repo. If the source you are building from is at head, then this might be a regression.

[2019-05-15 12:56] ChristianReinbold opened #28739 "Assigning to ressource variables with varying shapes violates the shape information of the tensor of which is assigned from."
Hi,
I ran into problems when assigning to variables from tensors with dynamic shape. In the end, it boiled down to using resource variables and having a strided slice tensor from which to assign from, see the upcoming MWE. When assigning to resource variables from a strided slice tensor, the shape information of the tensor becomes corrupt.

**System information**
- Unexpected behaviour in custom c

[2019-05-15 13:01] achandraa commented on #28692
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. If possible can you provide the code snippet so that we can replicate the issue. Thanks!

[2019-05-15 13:17] #28528 closed

[2019-05-15 13:17] lucifer2288 commented on #28669
thank you very much,  i solved this problem by update tensorflow-datasets from v1.0.1 to v1.0.2,  case closed,

[2019-05-15 13:17] #28669 closed

[2019-05-15 13:21] ajarthurs commented on #28528
@amitsrivastava78 OK. Thanks, Amit.

[2019-05-15 13:21] lucifer2288 commented on #28669
Thank you dude

[2019-05-15 13:28] achandraa commented on #28713
Just to verify, did you try the steps mentioned in [TensorFlow website](https://www.tensorflow.org/install/source_windows). Also can you try with lower tensorflow version as suggested by @disposa1 and let us know if that does not help. Thanks!

[2019-05-15 13:28] harakumar commented on #22794
I tested several combinations on my Windows 10 machine, and these are the results:
FAIL
tensorflow-gpu==r1.13
python 3.7.3
CUDA v10.1
cudnn 7.5.0.56

FAIL
tensorflow-gpu==2.0.0-alpha0
python 3.7.3
CUDA v10.1
cudnn 7.5.0.56

FAIL
tensorflow-gpu==2.0.0-alpha0
python 3.6.8
CUDA v10.1
cudnn 7.5.0.56

SUCCESS
tensorflow-gpu==2.0.0-alpha0
python 3.6.8
CUDA v10.0
cudnn 7.4.1.5

[2019-05-15 13:31] achandraa commented on #28443
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=28443)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=28443)

[2019-05-15 13:33] achandraa commented on #28578
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=28578)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=28578)

[2019-05-15 13:38] achandraa commented on #28695
Please have a look on @allenlavoie's suggestion and let us know if you are stuck. Thanks!

[2019-05-15 13:47] tansor opened #28740 "Parallel 2 conv layer but got the same time consumption as serial"
Hi,
I'm trying to study the parallelization of static graphs, so I realize tensorflow codes with 2 convolution layers taking the same input.
Here's my code with tensorflow 1.12.0.
[code]
The time consumption is the same as `self.z = self._conv_layer('layer2', self.y, 1, 32, 32)` (note the `self.y`), so that confuse me about the parallel performance of tensorflow, can any body help to explain that

[2019-05-15 14:00] shkarupa-alex commented on #28695
It works as workaround, but makes testing for both graph and eager modes messy.

[2019-05-15 14:09] garoxas commented on #21526
Hello, is there any plan to implement ExtractImagePatches (tf.extract_image_patches) to TFLite? Thanks

[2019-05-15 14:11] ehennis commented on #28708
I built the model in Google Colab and exported there as well. Does my computer supporting that matter?

If it does, I am running Windows 10 and couldn't find an easy way to determine if my cpu supports that. I did see a place to run a check in C++ code.

[2019-05-15 14:41] munum commented on #25759
@impjdi I see. I've just tried `0.0.1-gpu-experimental` and the error is now gone. However, I'm actually using [`deeplab_mnv2_pascal_train_aug`](http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_train_aug_2018_01_29.tar.gz), but I get no meaningful result when gpu is turned on. Basically all pixels are classified to the same class. It works fine with CPU though. Any idea why this might b

[2019-05-15 14:48] anilsathyan7 commented on #28711
It is working fine in tensorflow-lite:0.0.1-gpu-experimental and latest nightly version ...

[2019-05-15 14:48] #28711 closed

[2019-05-15 14:52] DurivetMatthias commented on #28692
Okay, so I turns out that even with a canned DNNRegressor estimator the exact same issue happens.

This is where I expect things are going wrong:

[code]

This code is supposed to build a serving input receiver that takes in raw data (before tf transform is applied), transforms that data accordingly and finally passes that data to the estimator

My tf transform uses compute_and_apply_vocabulary so

[2019-05-15 14:59] samihaija commented on #28520
I just ran into this issue. I had CUDA 9.0. I have RTX 2080

I installed CUDA 10.0, as well as cuDNN 7.5, then build TensorFlow 1.13 with bazel 0.18.1 like

bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --config=cuda -k //tensorflow/tools/pip_package:build_pip_package

It built successfully (after hours).

[2019-05-15 15:04] sleighsoft opened #28741 "Add tf.normalize to provide a clean interface for tensor normalization"
**System information**
- TensorFlow version (you are using): 1.3+ or 2.0a
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Currently there are two "ways" to normalize vectors, matrices, and tensors.
1. `tf.math.l2_normalize`
2. `tf.norm`

The first one directly normalizes the input tensor and returns it.
The latter only computes the norm an

[2019-05-15 15:06] Path17 commented on #19200
Had the same issue by having different results when training with cpu and gpu. The problem went away when I upgraded to 2.0.0-alpha.

[2019-05-15 15:16] jdduke commented on #21526
@garoxas: There are no plans to support `ExtractImagePatches` in the near future. If that's part of the graph's pre-processing, you might exclude it during conversion and doing the pre-processing manually. Are you including that operator explicitly? Or are you using higher-level APIs for constructing the graph?

@guerrillacaptain: We should support import of BatchMatMul already. While it's not a n

[2019-05-15 15:36] amilsted commented on #12917
@shamanDevel Any chance of reopening this?

[2019-05-15 15:43] SabahKarim commented on #28396
I changed to MSBuild Tools 2015 Update 3 and it solved my problem. Thanks.
Closing the issue.

[2019-05-15 15:43] #28396 closed

[2019-05-15 15:52] gnsmrky commented on #26297
@SanthoshRajendiran Trying to find the time to do that. The code is very messy now and unreadable. Will get it cleaned up as soon as I get spare cycles.

[2019-05-15 15:54] rryan commented on #28244
Hi @karanpareek96,

We follow `scipy.signal.stft`'s behavior here, which is to not return the Hermitian symmetric components. This allows us to use an RFFT instead of an FFT, which is generally 2x faster and uses less memory. The Hermitian symmetric component are duplicated, so you could mirror conjugate and reverse the result from `tf.signal.stft`, and concatenate the two together.

Also, it shou

[2019-05-15 15:54] #28244 closed

[2019-05-15 15:59] garoxas commented on #21526
@jdduke it's using the tf.extract_image_patches ops explicitly

[2019-05-15 16:00] alextp commented on #27492
@astropeak Great! Have you looked at python's GC module and how it lets you find out all references to a living object? That's where I'd start

[2019-05-15 16:04] alextp commented on #28523
I think a workaround is to use tf.py_function inside tf.function to call CheckpointManager.save, right?

[2019-05-15 16:10] rryan commented on #26074
I have no immediate plans to implement this (though it's been on my TODO list for a long time), and would welcome a community contribution to add it! The underlying RFFT op supports a length parameter so it should be fairly easy.

[2019-05-15 16:11] fhoering commented on #24003
The issue is still there in tf 1.13.1.
Do you have any news ?
@poxvoculi @dubey @yuefengz

[2019-05-15 16:15] rryan commented on #28444
Thanks for the report @timsainb, and thanks for the fix @yongtang.

[2019-05-15 16:29] allenlavoie commented on #28523
Yeah, that may be a bit nicer than breaking up the function.

[2019-05-15 16:30] rryan commented on #28192
@isaacgerg it sounds like we have a terminology difference then! TensorFlow shapes are generally described as `[outermost, outer, middle, inner, innermost]`, so innermost 2 dimensions refers to `[inner, innnermost]` for that example. Woud "last" instead of "inner" make more sense to you?

[2019-05-15 16:38] rryan commented on #16465
@kouohhashi, what shape and type is `input_data`? If it's a `[samples]` or `[channels, samples]` ndarray with type float32 (scaled to the range `[-1, 1]`) then it should work with the example.

[2019-05-15 17:00] gsrujana89 commented on #22994
Hi, I am getting similar issue with resnet-101. Frozen graph is created on same version that it is run on TF 1.13.
ValueError: NodeDef mentions attr 'explicit_paddings' not in Op<name=Conv2D; signature=input:T, filter:T -> output:T; attr=T:type,allowed=[DT_HALF, DT_BFLOAT16, DT_FLOAT, DT_DOUBLE]; attr=strides:list(int); attr=use_cudnn_on_gpu:bool,default=true; attr=padding:string,allowed=["SAME",

[2019-05-15 17:07] EliasHasle commented on #5193
OpenAI has recently published a library for GPU-accelerated block-sparse operations: https://github.com/openai/blocksparse

The lowest allowed block size is 8. Block size 1 would make it properly sparse, but I guess that was too inefficient and not necessary to achieve benefits.

[2019-05-15 17:33] rryan commented on #23156
`tf.signal.fft` (and its variants) are designed for `numpy.fft` and `scipy.signal` compatibility. The `data_format` layouts for TensorFlow's convolution operators only make sense in the context of a convolution, since there is no channel dimension in an FFT, so I do not think we should do this. Instead, I would prefer that `tf.signal.fft` had an axis or axes argument, as `numpy.fft.fft` and `numpy

[2019-05-15 17:35] sleighsoft commented on #28523
@alextp Could you provide an example, please? The documentation of https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/py_function seems to be still related to 1.x

[2019-05-15 17:57] liyxi commented on #27909
Totally agree with @dd1923. I encountered the same issue on Colab. I turned eager execution off and it was solved. However, by doing so I cannot view my datasets without transferring them into numpy array, that is inconvenient and RAM consuming.

[2019-05-15 17:58] manufuentes commented on #28163
yes, i'm also having problems with this the exact same problem. i'm using the next lines for convertion:

[code]

Also.. ¿What is the correct way to preprocess an image in order to make a non-quantized model get the correct prediction in android?

[2019-05-15 18:06] alextp commented on #28523
@tf.function
def my_function(...):
  ...
  tf.py_function(lambda: checkpoint_manager.save(...), [], [])
  ...

?

*From: *Julian Niedermeier <notifications@github.com>
*Date: *Wed, May 15, 2019 at 10:43 AM
*To: *tensorflow/tensorflow
*Cc: *Alexandre Passos, Mention

@alextp <https://github.com/alextp> Could you provide an example, please?

--
 - Alex

[2019-05-15 18:12] munum opened #28742 "TFLite only slightly faster with GPU on Helio P22"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): n/a
- Mobile device: **Xiaomi Redmi 6**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): r1.13
- Python version: n/a
- Bazel version (if compiling from source): n/a
- GCC/Compiler version (if

[2019-05-15 19:00] atemysemicolon commented on #28086
I thought only when someone builds it , it could be officially supported xd

[2019-05-15 19:00] rounakskm commented on #24885
@guikarist I successfully ran the following commands:
bazel build //tensorflow:libtensorflow_cc.so
bazel build --config=opt //tensorflow:tensorflow.dll

Now how do It in my own Visual Studio project. Which directories should I add into Additional Include Directories? There are a lot of directories with .h files.
And will I need to copy the tensorflow.dll or tensorflow:libtensorflow_cc.so (renamed

[2019-05-15 19:48] salml commented on #26546
I am having the same error.

[2019-05-15 19:56] sleighsoft commented on #28523
That's what I tried before I asked, but that throws:
[code]

[code]

[2019-05-15 20:25] alextp commented on #28601
For the ones below

[code]

@isaprykin has been working on a more reliable testing infrastructure for tf2 that will allow finer grained control over the combinations. I'd say wait for that.

For `tensorflow.python.keras.testing_utils.layer_test` I think you should fork  it and expose it. It mostly only depends on public tf symbols (and we need to make the cudnn deterministic one public) but it has

[2019-05-15 20:29] Kyle0923 commented on #18995
Not sure if this is the proper way, but removing the `string.h` under `tensorflow/lite` will at least pass the build

[2019-05-15 20:37] ymodak commented on #26386
@cj741 Were you able to solve this issue?

[2019-05-15 20:39] lioutasb opened #28748 "Counting parameters from Keras model doesn't work correctly with list of layers"
Below is an example that keras model is not able to count correctly the number of parameters when custom keras layers are inside a list that is defined in an another custom layer.

[code]

returns

[code]
which is not correct. If the nested layers were outside a list then are counted correctly.

[code]

which gives

[code]

**System information**
- Have I written custom code (as opposed to using a

[2019-05-15 20:39] jvishnuvardhan commented on #28134
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-15 20:39] #28134 closed

[2019-05-15 20:41] ymodak commented on #26289
Closing this issue since chsigg's explanation addresses the issue. Feel free to reopen if have any further questions. Thanks!

[2019-05-15 20:53] ymodak commented on #25822
Closing this issue since its resolved. Thanks!

[2019-05-15 20:53] #25822 closed

[2019-05-15 21:07] ymodak commented on #23905
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-15 21:07] #23905 closed

[2019-05-15 21:24] ymodak commented on #24599
Closing this issue since its resolved. Feel free to reopen if otherwise. Thanks!

[2019-05-15 21:24] #24599 closed

[2019-05-15 21:26] #22292 closed

[2019-05-15 21:26] #28495 closed

[2019-05-15 21:28] ymodak commented on #25107
If its still an issue; python 3.7 is supported in TF 1.13, TF 1.12 does not have python 3.7 support.
https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md#release-1130
Please build with TF 1.13 for Python 3.7 support. Thanks!

[2019-05-15 21:28] #25107 closed

[2019-05-15 21:51] andrewor14 commented on #1157
Hey guys I had the same problem and fixed it by:
1. Uninstalling and re-installing gcc and g++
2. Removing ~/.cache/bazel
I also restarted the machine but I think (2) was the one that really fixed it for me.

[2019-05-15 21:52] allenlavoie commented on #28523
Shouldn't that be `tf.py_function(mgr.save, [], [])` rather than with the extra lambda? Not related to the py_function-needs-an-output issue that looks like it's causing the exception. Something like this works for me as a workaround:

[code]

Could you file another bug for py_function not working without outputs? It looks like a trivial fix.

[2019-05-15 21:57] mihaimaruseac commented on #28735
Thank you for the PR. Now that it landed, I think this can be closed.

[2019-05-15 21:58] gunan commented on #28309
I do not know if we support XLA on windows.
Please redirect to XLA team.

[2019-05-15 22:03] guptapriya commented on #25057
That's great. I think 3 mins is in the expected range. Will close this ticket. thanks

[2019-05-15 22:03] #25057 closed

[2019-05-15 22:08] guptapriya commented on #27696
The fix is in estimator: https://github.com/tensorflow/estimator/commit/818c6163ba759dc257b7c27421bc46ef8259e217#diff-93ed941ec864a6ef78bd656293c99cea

Sometimes the version of estimator pip package might be stale. Would you mind updating the estimator package directly and testing then?

https://pypi.org/project/tf-estimator-nightly/

[2019-05-15 22:13] allenlavoie commented on #28523
Oh, it's because it returns a string. `tf.py_function(mgr.save, [], [tf.string])` works.

[2019-05-15 22:16] TeoZosa commented on #28313
Still experiencing this issue. Running same tests on an AWS instance (r4.4xlarge).  New error using the docker image (tensorflow/tensorflow:2.0.0a0-py3-jupyter): *** Error in `python': munmap_chunk(): invalid pointer: 0x00007fb8d4794040 *** (see attached log for a full stack trace top resource usage at time of crash
[051519_AWS_docker_crash_stack_trace_TF_issues.txt](https://github.com/tensorflow/

[2019-05-15 22:28] qlzh727 commented on #28601
I think the XLA context was in the seq2seq code https://github.com/tensorflow/tensorflow/blob/e4371880b1a50f7b23b2375c9c7c7fcd2dcf1a5b/tensorflow/contrib/seq2seq/python/ops/decoder.py#L189. I didn't remove them during the rewrite since I don't want to break XLA when we port the addon code back to third_party/tensorflow_addons.

[2019-05-15 22:54] qlzh727 commented on #28371
Assigning to Mark who in charge of doc and colab. I think all the suggestions here make sense and would improve the readability for the colab.

[2019-05-15 22:58] Blubberblub commented on #28713
Same problem here!

Windows 10
Python 3.6.0
CUDA 9.0
cudnn 7.5.1 for CUDA 9.0
tensorflow 1.13.1
tensorflow-gpu 1.13.1
GTX 1070
Intel i5-6600

CUDA is working fine since i build the device check from the samples and it worked fine. According to process monitor the last dll python loads is System32\kernell.appcore.dll so probably it is this one or the one after that fails to load. Someone has an ide

[2019-05-15 23:00] hadaev8 opened #28751 "Error then try to feed sparse data to tensorflow dataset api"
Tensorflow 1.13.1

I have a sparse numpy array and trying to feed it to dataset api and dynamically pad in every batch.

[code]

But get error
[code]

[2019-05-15 23:02] Bick95 opened #28752 ""ValueError: Unknown layer: name" when creating deep copy of model"
I created a custom layer, which looks as follows:

[code]

The layer itself seems to work. However, the error arises when working with the following model, which makes use of the layer :

[code]

Particularly, the error occurs when I try to make a deepcopy of the network, which looks as follows:

[code]

The error raised looks as follows:

[code]

Apparently, Tensorflow seems to be incapable of ma

[2019-05-15 23:06] alsrgv commented on #28639
@zrss, thanks for all the details.  Can you try to downgrade your NCCL to 2.3.7 and reinstall Horovod (with `--no-cache-dir`)?  I'm wondering if https://github.com/NVIDIA/nccl/pull/185 could be causing this issue.

If that doesn't help, could you dump `thread apply all bt` from all 8 processes?

[2019-05-15 23:11] #28333 closed

[2019-05-15 23:11] ymodak commented on #28465
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-15 23:11] #28465 closed

[2019-05-15 23:13] 7thstorm commented on #26209
I'm having a similar issue.
when I do nvcc --version, I get
Cuda compilation tools, release 9.1, V9.1.85

but when I do nvidia-smi,
I see cuda version 10 (I'm using 10 in my projects, so there's obviously an issue. How do I uninstall 9.x if that is the issue?

[2019-05-15 23:25] ymodak commented on #27886
Converting your tensor to float data type can help in this case.
[code]

[2019-05-15 23:35] jvishnuvardhan commented on #28318
@Jonathan-Livingston-Seagull I think you need to use `tf.py_function`. Please check the code below which works without any issue. Thanks!

[code]

[2019-05-15 23:38] qlzh727 commented on #26581
Sorry for the very late reply. The issue was caused by the serial/deserialization for a non-keras object, and the nn.RNNCell wrappers are not keras object. The commit https://github.com/tensorflow/tensorflow/commit/0667725ba4e010c06fcf5e2a388eb8c2f3f6efe1 is trying to fix the custom object serialization issue, which allows you to do something like https://gist.github.com/fchollet/9e361d1fe9046b512

[2019-05-15 23:51] tanzhenyu commented on #28558
This is intended behavior where most users won't pass in `name`, while Sequential can do that, functional or subclass cannot.

[2019-05-16 00:01] impjdi commented on #28657
@sunzhe09

Is it possible for you to share the .tflite file with me?  If weights are confidential, you can share an uninitialized graph with random weights; all I care about is the network structure.

[2019-05-16 00:02] jvishnuvardhan commented on #28393
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-05-16 00:32] zuoshaobo opened #28753 "Tflite metal gpu ios model reload"
My target is ios device ,Target backend is metal gpu , Durining our test ,I found that 'memory leak'  occured when switch different models  about 100 times ,so  how to release last neural models ?like below:
interpreter=nullptr
DeleteGpuDelegate(delegate)
is it right ?

[2019-05-16 00:57] zrss commented on #28639
@alsrgv thx for reply :smiley:, i will try, `horovod` is quite a interesting framework, i would like to dive into it ~

and, to clarify ... the segment faults in my previous post are unrelated ...

[code]

we found that one of our agents periodly call the monitor shell script (sh), but this script failed to execute as it lack of some sys libs ...

[2019-05-16 01:10] KichangKim commented on #28714
How about that moving iteration logic to the outside of tf.function? like this:
[code]

[2019-05-16 01:11] byronyi commented on #24003
@fhoering could you try nightly TF? 1.13 release branch was cut last year and we can’t really introduce any new feature.

[2019-05-16 01:26] taalaialmasova commented on #14125
@jktruimp1, @Nanamare can you help me? I have the same problem

[2019-05-16 01:33] abhinavos7a commented on #27999
@mengpengfei

Did it resolve for you. I faced similar issue where I have a simple Linear model with feature hashing and exported it using SavedModel.

When I run the inference in python it's around 0.5 msec but Java API is 50msec. Python seems to be 100 time faster.

I made sure that I didn't include first 100 inferences for both of them and my bottleneck is not creation of tensors in Java (Takes

[2019-05-16 01:34] 2h4dl commented on #26413
Thank you @sunejas, I refered to the code you post. Just add one line and make it.

[code]

[2019-05-16 01:40] woshidandan commented on #6082
i met the same problem，when i first restore the params，no problem accur，but when i second restore the params，it cause this problem. After that, I referred to everyone's opinions, try to solve this problem, but failed. But when i put the load code befor my main code，this problem is solved (for example, you can load params after import some packages and before your main class function).

自带中文翻译，嘤嘤嘤。

[2019-05-16 02:27] mengpengfei commented on #27999
it is not sloved  now,  i use jna to call c++ api

[2019-05-16 02:28] tanglianggithub commented on #9757
why does version 1.2 still hasvemany page faults?

![image](https://user-images.githubusercontent.com/3445470/57821998-343a2800-77c5-11e9-96a1-6182b232a75d.png)

[2019-05-16 02:38] EFanZh commented on #28685
@muddham I have updated my issue, please check.

[2019-05-16 02:52] YesterdayxD commented on #2386
@dingevin  I have the same problem that you describe.Have you solve this problem?

[2019-05-16 02:57] YesterdayxD commented on #20833
@dcmrlee I have same problem with you.But i don't understand that how to solve the problem finally.Have you solve it?

[2019-05-16 02:59] dearboll commented on #25558
I found the same error with
`docker run -it --rm tensorflow/tensorflow:devel-gpu  python -c 'import tensorflow as tf'`

[2019-05-16 03:13] sarim-zafar commented on #28654
`# define LSTM
input_layer = Input(
      name='seed', shape=(longest,), batch_size=batch_size, dtype=tf.int32)
l0=Embedding(input_dim=max_token_index+1,output_dim=d,name='embedding_layer',mask_zero=True)(input_layer)
l1=GRU(128, return_sequences=True,dropout=0.2)(l0)
l2=GRU(128, return_sequences=True,dropout=0.2)(l1)
l3=GRU(128, return_sequences=True,dropout=0.2)(l2)
output=GRU(max_token_index+1,

[2019-05-16 03:43] #28654 closed

[2019-05-16 04:02] delowarcse opened #28757 "voice activity detection implementation"
I found that voice activity detection is implemented in the paper "Small-Footprint Keyword Spotting Using Deep Neural Networks". But I did not find anything related to voice activity detection in the paper "Convolutional Neural Networks for Small-footprint Keyword Spotting".
My question is that is voice activity detection implemented in this code or not?

[2019-05-16 04:13] gadagashwini commented on #28684
@wagnerDestro Can you recheck and confirm that your cpu supports AVX2?

[2019-05-16 04:15] TeoZosa commented on #28313
Update: tested both the pre-compiled binary (tensorflow2.0.0a0) and different versions of building from source (w & w/o XLA JIT support, --config=opt --config=numa, --config=numa, --config=opt) all with the same resource utilization and error as above.

[2019-05-16 04:19] hoonkai commented on #28563
Can I ask how the [deeplabv3_257_mv_gpu.tflite](https://storage.googleapis.com/download.tensorflow.org/models/tflite/gpu/deeplabv3_257_mv_gpu.tflite) provided in the guide was converted? Was it done using `tflite_convert` or was there some tweaking to make it work on GPU?

[2019-05-16 04:25] #28444 closed

[2019-05-16 04:39] kouohhashi commented on #16465
@rryan
Thank you for responding me.

input_data was like: [    0.     0.     0. ... -5206. -4761. -3248.].
So I made it [-1, 1] range by dividing by 32768.0 because 32768.0 was the biggest.
But result was the same....

BTW, I noticed one thing.
**Bits per sample** seems to be changes.

Original file:
Sample rate: 16 kHz
Bits per sample: 16

New file:
Sample rate: 16 kHz
Bits per sample: 32

Is "Bi

[2019-05-16 04:52] torstenrudolf commented on #18652
@gunan is there a workaround to fix this issue for tensorflow 1.12.2?
(we are still on cuda 9 and 1.13.1 is compiled for cuda 10 -.-)

[2019-05-16 04:56] #28647 closed

[2019-05-16 05:11] muddham commented on #28526
@claynerobison Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-16 05:11] #28526 closed

[2019-05-16 05:13] muddham commented on #28547
@yjfncu Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-16 05:13] #28547 closed

[2019-05-16 05:22] pmwaniki commented on #27288
at what point do you add tf.set_random_seed(1). i placed the line before model.compile() but i'm still having problems. I have to comment out tf.enable_eager_execution() otherwise my RAM gets depleted and computer freezes.

[2019-05-16 05:27] muddham commented on #28685
@EFanZh Able to reproduce the issue with the provided code.
Depth = 15, Time = 0.014409996000040337
Depth = 16, Time = 0.018489084000066214
Depth = 17, Time = 0.02723818900005881
Depth = 18, Time = 0.048183349999931124
Depth = 19, Time = 0.07164499200007413
Depth = 20, Time = 0.11124446999997417
Depth = 21, Time = 0.17927562900001703
Depth = 22, Time = 0.2863872639999272
Depth = 23, Time = 0.45927

[2019-05-16 05:35] Dayananda-V commented on #28734
@Symphonized

Warning: As this doesn't appear to be a bug with Tensorflow, the better to may ask on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there.

This can be achieved on following code changes,
1. [Classifier.java](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/app/src/main/java/org/t

[2019-05-16 05:39] Moxank6277 commented on #19507
I had the same problem.
SOLUTION:
Check the iterator in for loop,
it may not be initialized and no value would be appended to metrics,
causing error.

[2019-05-16 05:55] ngelotte commented on #27882
@ANSHUMAN87 : Sorry I modified that same notebook to try and figure out how to freeze the graph. I copied over the network and took out what I had added - you can view it here. https://colab.research.google.com/drive/17e9E56uQpkdaD7Lz-csAOS2PL8Tzoz_1
However, It now gets a different error and I don't know what has changed. The new error is:
Invalid argument: Input 1 of node keras_layer_1/StatefulP

[2019-05-16 06:05] hiteshnitetc commented on #28362
@achandraa Hello. My os is Ubuntu(16.04, 64bit). Python version- 3.6.7, Tensorflow version- 1.13.1, keras-2.2.4, I install tensorflow from instruction `pip install tensorflow`. I use exactly same code as mention in my question for virtual batch normalization.

[2019-05-16 06:12] gunan commented on #18652
Unfortunately, it will be complicated to port the change back to 1.12.2 as it uses an old eigen version which causes compilation issues when built for newer cuda compute capabilities.

Only option I see for your case is to build 1.13.1 from sources for cuda 9. You can follow our guide at www.tensorflow.org to build TF from sources.

I will close this issue, as it should be fixed at head. Please fe

[2019-05-16 06:19] #28735 closed

[2019-05-16 06:53] danyjacob45 commented on #27492
great blog detailing (with links) about GC
https://rushter.com/blog/python-garbage-collector/

[2019-05-16 07:19] guptapriya commented on #28337
Typically we just run 1 worker on one machine, unless running multiple workers helps in some way in resource utilization. running such a large number of workers on a single machine is definitely not something that has been tested much and I can imagine it running into running out of memory or other resources. Is it possible for you to use more machines instead?

[2019-05-16 08:04] achandraa commented on #28572
No need to import Keras and TensorFlow independently. When we import tensorflow, keras will also get imported automatically no matter whether you use jupyter notebook or terminal. Let us know if that resolves the issue.Thanks!

[2019-05-16 08:06] jiggey commented on #28671
Thank you, the reason was that my CPU has no AVX support. Now it works.

[2019-05-16 08:06] #28671 closed

[2019-05-16 08:07] DurivetMatthias commented on #28692
![image](https://user-images.githubusercontent.com/26407191/57836727-a14bbe80-77c1-11e9-9e3b-e6a6d13cd490.png)

I enabled logging for both the example model and my model and both log status 200 on prediction. Which is technically true, since it does return something.

I expect that the estimator is not correctly receiving the inputs from the prediction request.
What is weird is that it returns lik

[2019-05-16 08:10] achandraa commented on #28590
Can you give us some more info on the error you are facing ? Could not able to read the actual error message. Thanks!

[2019-05-16 08:14] wcq19941215 commented on #28585
@anilsathyan7 Have you solved this problem?

[2019-05-16 08:16] gadagashwini commented on #28738
@WaeCo This is duplicate of [#28648](https://github.com/tensorflow/tensorflow/issues/28648).

[2019-05-16 08:17] achandraa commented on #28671
That's great the issue is resolved. Thanks!

[2019-05-16 08:17] achandraa commented on #28671
Are you satisfied with the resolution of your issue?<br> [Yes](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=Yes&entry.2137816233=28671)<br> [No](https://docs.google.com/forms/d/e/1FAIpQLSfaP12TRhd9xSxjXZjcZFNXPGk4kc1-qMdv3gc6bEP90vY1ew/viewform?entry.85265664=No&entry.2137816233=28671)

[2019-05-16 08:20] achandraa commented on #28695
Good to know the issue is resolved. Will close this for now. If you are stuck anywhere, feel free to open separate ticket. We will be happy to help. Thanks!

[2019-05-16 08:20] #28695 closed

[2019-05-16 08:21] DurivetMatthias commented on #28692
I'm sorry for spreading all this information in many comments but this issue involves way too much code that could be incorrect.

Here is my preprocessing function used by tf transoform (supposed to be applied during training AND inference)

[code]

[2019-05-16 08:22] ziyigogogo opened #28759 "Tf.dataset shuffle buffer cannot release"
**System information**
- TensorFlow version (you are using): 2.0 alpha gpu

**Describe the feature and the current behavior/state.**
- When using shuffle op of tf.dataset, the buffer cannot release when the dataset instance is deleted.
For example, i train my model with 2 datasets in sequence.
dataset1.shuffle(buffer_size = 1000)
model.fit(dataset1)   memory consumption: 50%
del dataset1
dataset2.

[2019-05-16 08:23] npuichigo opened #28760 "TF2.0 custom dynamic rnn with autograph and tensorflow datasets fails to run"
When I followed the effective tensorflow2 instructions to try custom dynamic loop optimized with autograph, I encountered the following errors. It seems the sequence length used in dynamic rnn became None. Everything is fine if I disable tf.function and replace DynamicRNN with DynamicRNNV2, which uses eager execution.
[code]

[code]

[code]

[2019-05-16 08:24] gadagashwini commented on #28432
@wannabeOG Please try this command bazel build -c opt -c cuda //tensorflow/tools/pip_package and Let us know how it progresses. Thanks!

[2019-05-16 08:24] muddham commented on #19903
@jonasrauber Did you get chance to try the code suggested in previous comments. If it worked let us know  we will close this issue

[2019-05-16 08:26] sleighsoft commented on #28558
I assumed it to be intended. That's why I put `incosistent` in the name.
Also, why is it possible to scope variables with `tf.name_scope` but not `tf.keras.layers`.
This makes working with subclassed tf.keras.Models a nightmare as behavior is not as one would expect.

[code]
This prints
[code]
I would expect the `dense2` to be `scoped/dense/kernel:0`

[2019-05-16 08:28] abdou31 commented on #28590
I think that the error will gone , i missed some tensorflow files ( train.record , test.record , valid.record )  that should be generated by Tensorflow , I follow this tuto :
+ https://github.com/faust690226/cnn-facial-landmark-tutorial

[2019-05-16 08:29] muddham commented on #28751
@hadaev8 Able to reproduce the issue with provided code.

TypeError: Expected binary or unicode string, got array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

[2019-05-16 08:29] Liu-Da opened #28761 "Can't set an initial state for the Bidirectional LSTM Layer of tf.keras 2.0 under eager execution mode"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: MacOS 10.14.4
- TensorFlow installed from: pip install tensorflow==2.0.0-alpha0
- TensorFlow version: v1.12.0-9492-g2c319fb415 2.0.0-alpha0
- Python version: 3.7.3

**Describe the current behavior**
- Get an Error when setting an initial state for the Bidirectional LSTM Layer of tf.keras 2.0 under eager executi

[2019-05-16 08:29] WaeCo commented on #28738
You are right, apparently I did not see this in my search

[2019-05-16 08:29] #28738 closed

[2019-05-16 08:38] sleighsoft commented on #28523
@allenlavoie Thanks for the code!
I completely forgot the brackets or could have removed the lambda... (I am ashamed :D)

[2019-05-16 08:38] muddham commented on #28748
@lioutasb Able to reproduce the issue as mentioned , tested the count of the number of parameters when custom keras layers are inside a list that is defined in an another custom layer.
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                multiple                  262656
________________________

[2019-05-16 08:53] DurivetMatthias commented on #28692
The problem could also be that I am calling the prediction incorrectly.

In the taxi example they use a function called _fill_in_missing to replace all empty tensors during serving with zeros or empty strings. What is the correct json format to call my model?

[code]

[code]

[2019-05-16 08:59] Tyrones1995 commented on #25160
anaconda Python 3.7  cuda10.0.130 cudnn 7.5.1  the same error
UnknownError: Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above.
	 [[node Conv2D_12 (defined at <ipython-input-14-8e7270518a76>:174) ]]

[2019-05-16 08:59] Tyrones1995 commented on #25160
Caused by op 'Conv2D_12', defined at:
  File "/home/wtl/anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/wtl/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/home/wtl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/home/wt

[2019-05-16 09:17] muddham commented on #28730
@jjjjjie Can you please update to tf-nightly. I ran the code in tf-nightly, did not receive any out of memory issues

[2019-05-16 09:17] achandraa commented on #28728
Please have a look on #27241, [FAQ](https://www.tensorflow.org/lite/guide/faq#why_are_some_operations_not_implemented_in_tensorflow_lite), [Select operators from TensorFlow](https://www.tensorflow.org/lite/guide/ops_select). Let us know if that resolves the issue. Thanks!

[2019-05-16 09:20] achandraa commented on #28590
Good to hear that. I will be closing this issue since it is resolved. Thanks!

[2019-05-16 09:20] #28590 closed

[2019-05-16 09:29] achandraa commented on #28725
I have reproduce the mentioned output with TensorFlow version 2.0.0-dev20190515 on Colab.

[2019-05-16 09:32] shivam5285 commented on #27900
I also have same issue. When I tried this I got following error
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/shivam/.local/lib/python3.6/site-packages/tensorflow/keras/__init__.py", line 20, in <module>
    from . import layers
  File "/home/shivam/.local/lib/python3.6/site-packages/tensorflow/keras/layers/__init__.py", line 8, in <module>
    from tensorf

[2019-05-16 09:33] muddham commented on #28691
@wxdao When I ran the command pip install -q tf-nightly-2.0-preview , I get the error. And if I remove -q then the error is not shown.

[2019-05-16 09:33] Mr-Nineteen opened #28762 "[tensorflow/docs]Translate variables.md from English to Chinese."
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2019-05-16 09:41] muddham commented on #28739
@Able to reproduce the issue and 2 kinds of outputs with the provided code.As this is resolved, please let us know if this issue can be closed.

[2019-05-16 09:45] jjjjjie commented on #28730
@muddham What is your GPU memory cost in nvidia-smi when code is running?

[2019-05-16 09:48] gadagashwini commented on #28702
@igorgertman Please check your processor supports AVX instructions?

[2019-05-16 09:49] achandraa commented on #28734
@Symphonized : Will it be possible to put some light on the feature you are proposing as in APIs that would get affected and the users who will be benefited with this change. Meanwhile you can also have a look on @Dayananda-V's suggestion. Thanks!

[2019-05-16 09:57] gadagashwini commented on #28069
@Mowghli looks you have found an alternative. Can we close this?

[2019-05-16 09:59] ila96 commented on #28458
Hi, I would like to work on this issue. Is that ok?

[2019-05-16 10:00] ChristianReinbold commented on #28739
@muddham Currently I bypass this issue by exploiting that the shape of `v` still is intact although `value_to_assign` is broken. If you consider the described behaviour as "expected", feel free to close the issue.

[2019-05-16 10:14] hannagabor opened #28763 "Name of losses.Reduction.SUM_BY_NONZERO_WEIGHTS is misleading"
**Describe the current behavior**
`losses.Reduction.SUM_BY_NONZERO_WEIGHTS` calculates the mean, not the sum. (The behavior is in sync with the [docs](https://www.tensorflow.org/api_docs/python/tf/losses/Reduction).)
**Describe the expected behavior**
I would expect `losses.Reduction.SUM_BY_NONZERO_WEIGHTS` to calculate the sum, not the mean.

[2019-05-16 10:47] ankank30 commented on #28713
I encountered the same problem!

Windows: 10
Python: 3.7.3
Tensorflow: 1.31.1

My Solution: Downgrade Python to version 3.6.8

[2019-05-16 10:49] kbhute-ibm commented on #28704
Hi @ymodak,
Could you please put your inputs on this?

[2019-05-16 11:07] gadagashwini commented on #28666
@WY19940327 Just to clarify, Did you install tensorflow inside the conda environment or outside?

[2019-05-16 11:10] ivanjacobs opened #28765 "import issue tensorflow v2 and v1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Windows Server 2016 Standard:
- CPU Xeon (R) CPU E5-2698 v4
- AVX2
- TensorFlow install

[2019-05-16 11:14] wxdao commented on #28691
It does work with the method you mentioned, i.e without the -q parameter. Thank you.

But why? It's so frustrating.

[2019-05-16 11:16] muddham commented on #28703
@yensan0512 Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-16 11:16] #28703 closed

[2019-05-16 11:18] achandraa commented on #28362
Tried checking your code snippet from the link provided but could not find it. Can you please help me to get the minimal code snippet that can depict the scenario. Thanks!

[2019-05-16 11:22] gadagashwini commented on #28687
@melo19890618 It looks, This question is better asked on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there. Let us know. Thanks!

[2019-05-16 11:30] Mowghli commented on #28069
Yes. The issue is resolved.

[2019-05-16 11:54] hlopko commented on #28388
There is also this example which is closer to what is needed: https://github.com/bazelbuild/rules_cc/blob/master/examples/my_c_archive/my_c_archive.bzl.

Now you have 2 options:

1) Wait until we add accessors for objects to LibraryToLink
2) Collect transitive static libraries, unpack them, and repack again in one big static library.

[2019-05-16 12:03] WY19940327 commented on #28666
@gadagashwini  I installed tensorflow by 'conda -c anaconda tensorflow-gpu==1.8.0' before you gave me the guide link which used the pip. maybe some thing wrong in my processing

[2019-05-16 12:03] tsa10262 commented on #28697
@ANSHUMAN87: Thanks for answering. It's not affect the output.
I'll close the thread.

Thanks a lot.

[2019-05-16 12:03] #28697 closed

[2019-05-16 12:12] jvishnuvardhan commented on #28523
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-16 12:12] #28523 closed

[2019-05-16 12:13] gadagashwini commented on #28069
Glad it resolved.

[2019-05-16 12:13] #28069 closed

[2019-05-16 12:16] gadagashwini commented on #28642
@nijatmursali It looks This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provides support faster. Let us know. Thanks!

[2019-05-16 12:21] Blubberblub commented on #28713
There seemes to be and issue with python and protobuf. Using Python 3.6.1 fixed the issue with protobuf. I also hat to install CUDA 10.0 and the according cudnn library. On the tensorflow site it says tensorflow 1.13.1 is using CUDA 9 but 10 seems to be obligatory at least with the tensorflow i got from pip.

[2019-05-16 12:22] achandraa commented on #28713
@lmiller210 : Please have a look on #26899 and let us know if you have followed the same steps. Thanks!

[2019-05-16 12:36] ZhiliangWu opened #28766 "Statefulness in Text generation using a RNN with eager execution"
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/sequences/text_generation

## Description of issue (what needs changing):

### Clear description

* Two questions regarding the `stateful` defined in the tutorial.
* The input data was originally a long text. It got cut into sequences with length 100, shuffled, and packed into batches of size 64. However, according to the [documentati

[2019-05-16 12:49] maxstrobel opened #28767 "tf.keras.callbacks.Tensorboard: write_images does not visualize Conv2D weights"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- TensorFlow version (use command below): v1.12.2-0-gcf74798993 1.12.2
- Python version: 3.6.5

**Describe the current behavior**
When I want to have a look at the weights of Conv2D filters in TensorBoard, only their biases get logged (see attached image). I looked for the c

[2019-05-16 13:02] muddham commented on #28655
@yangjinghit It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue. We will close this issue in lieu of the new one you w

[2019-05-16 13:02] #28655 closed

[2019-05-16 13:03] vbogach commented on #27568
I got the same problem when trying to use A3C model from https://github.com/germain-hug/Deep-RL-Keras. Basically, what's going on is this:
[code]

[2019-05-16 13:06] #28592 closed

[2019-05-16 13:20] tensorflowbutler commented on #27713
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-16 13:20] tensorflowbutler commented on #27749
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-16 13:21] muddham commented on #28767
@maxstrobel As this issue is relating to tensorboard, please post your query in that repository [link](https://github.com/tensorflow/tensorboard/issues/new)

[2019-05-16 13:21] #28767 closed

[2019-05-16 13:35] celinew1221 commented on #28714
This works. However, if you compare the performance with and without the @tf.function, I actually see some differences. This is small in mnist (about 40 ms/epoch), but it will make a difference in larger dataset.

[2019-05-16 13:44] tarrade commented on #27696
@guptapriya you are right. When I did my test I had:
[code]

I am mot using:
[code]

and it works.

What is very weird is now I have 2 differents version of estimators (I recreated everything from scratch)

[code]

Is it expected ? Should I report it ?

[2019-05-16 13:45] muddham commented on #28761
@Liu-Da Able to reproduce the issue with the provided code.

[2019-05-16 13:50] DurivetMatthias commented on #28692
I found the critical code that was causing the empty return. It was the serving receiver function that is responsible for the signatureDef in the exported model.
[code]

To get around this I implemented a serving receiver the regular way, without using tf transform.
I still don't know which one of the functions in this snippet is the cause.

I replaced it with:
[code]

In theory the first snippet

[2019-05-16 13:50] #28692 closed

[2019-05-16 13:58] tarrade commented on #27581
@ymodak I tested today with

`tf-nightly-2.0-preview==2.0.0.dev20190516`

and the issues are fixed for both :
`model.predict_on_batch(training_dataset)`
and
`model.test_on_batch(training_dataset)`

closing this ticket

[2019-05-16 13:58] #27581 closed

[2019-05-16 14:00] Lamicc commented on #27191
I suppose you encountered this problem while running the Image Captioning tutorial.
[https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/text/image_captioning.ipynb](url)

I solved this problem by replacing a line in `map_func` :
replace `img_tensor = np.load(img_name.decode('utf-8')+'.npy')`
with
`img_tensor = np.load(img_name.numpy().decode('utf-8')+'.npy')`

[2019-05-16 14:05] KiransHub commented on #25866
I'm running Windows, no issues with my GPU. I'm also getting the problem with my NVidia 1080.

[2019-05-16 14:06] markwhen commented on #22098
Hi all, I find that in the same case, if we change the ConfigProto.device_count of "CPU" to 1, the mem leak disappear.
We noticed that in document, ConfigProto.device_count doesn't mean the number of cpu cores, but the number of CPU device. So in common situations, it should be 1.

[2019-05-16 14:17] tanzhenyu commented on #28558
Sorry to hear that. The issue you're seeing here is because your layer is not called, thus the variable is deferred created. What can be done here is to do extra layer.build((15,).
I admit that this can be surprising behavior, and I can make it eagerly created if that's what you prefer.

[2019-05-16 14:20] DanielFPerez commented on #20334
I experience the same issue, already implementing the padding as specified by @2649

Have I written custom code
No
OS Platform and Distribution
Windows 10, 64 bit
TensorFlow installed from
Anaconda https://anaconda.org/anaconda/tensorflow-gpu
TensorFlow version
1.10.0 (result from print(tf.__version__))

Any help please!

[2019-05-16 14:26] tanzhenyu commented on #27696
It's likely that you did pip install on tf-estimator-nightly, while tensorflow-2.0 did an extra tensorflow-estimator-2.0-preview under the hood. Can you pip uninstall everything, and then just pip install tf-nightly-2.0-preview only?

[2019-05-16 14:41] mihaimaruseac commented on #28572
Note that `keras` can be used without a proper tensorflow install. In your first screenshot that's exactly what happens: `import keras` gives a warning that it is using the Theano backend. Then you `import tensorflow` and override the previous `keras` import.

[2019-05-16 15:05] tarrade commented on #27696
@tanzhenyu  you are right. Now I got
[code]

All good. I misinterpret what was said earlier.

[2019-05-16 15:26] Tayseer-bme commented on #19646
I have the same problem but I have not the permission to downgrade CUDA because I'm working on the Cluster from the university and they have their own version of cuda
Python 3.6.8 Anaconda
CUDA/cuDNN version:
CUDA 10
cudNN 7
Any solution please ?

[2019-05-16 15:45] jdduke commented on #28585
Thanks for flagging the issue, this is an issue with how sources are aggregated in the aar that gets uploaded. We'll have it fixed in the night TFLite nightly (org.tensorflow:tensorflow-lite:0.0.0-nightly).

[2019-05-16 15:52] lioutasb commented on #28748
@muddham is there any workaround to count fast the number of parameters from a very large network? Manually it would be a pain.

[2019-05-16 16:23] yuangezhizao commented on #26501
I find 2 demos use .a files here #24194 and here is his example [complete-procedure-to-train-and-recognize-you-by-raspberry-pi-3-and-tensorflow-lite](https://github.com/huaxiaozhong1/complete-procedure-to-train-and-recognize-you-by-raspberry-pi-3-and-tensorflow-lite). Hope it might help(

[2019-05-16 16:35] smatzek opened #28773 "TensorFlow 1.14 changes Keras callback order relative to model build"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): r1.14 branch built  from source
- TensorFlow version (use comma

[2019-05-16 16:54] #28585 closed

[2019-05-16 16:59] mateuszjurewicz commented on #27685
Hey, thank you for the response!
I don't think I can replicate this with a smaller model as the example is the only stage where the behavior occurs - a smaller model wouldn't converge with the Keras implementation, thus making the discrepancy between the Keras and pure Tensorflow disappear. I realize it can seem complex, I tried to make it as easy to run as possible. I understand if you can't diag

[2019-05-16 17:03] robieta commented on #28501
Thanks for the report. (And excellent example!)

What's happening is that in eager we don't pick up the initial weights in eager mode. (Which definitely needs to be fixed.) https://github.com/tensorflow/tensorflow/blob/f0836d2a3bdc83b9487d703f30669723bd2662fb/tensorflow/python/keras/engine/base_layer.py#L683

We (the keras team) will triage and report back.

[2019-05-16 17:14] mshiffer commented on #25073
@ymodak Same question.  :)  I don't know the process for fixes/updates, but if I can help out in anyway I'd love to.

[2019-05-16 17:26] alextp commented on #28414
Were you using the contrib version of the cudnn compatible lstm cell?

If so, this op is not automatically loaded into the tensorflow binary and you need to dlopen the kernel file to make it work.

I suggest instead you move to 1.13 which has this op in core tf, so it won't require dynamic linking.

[2019-05-16 17:29] alextp commented on #9757
Version 1.2 is way too old.

[2019-05-16 17:38] markste-in commented on #27713
Sorry for the late answer. It seems fixed with the latest version (2.0.0-dev20190516)

[2019-05-16 17:49] edloper commented on #27653
tf.data support for RaggedTensors was added by 5fe90dc.

[2019-05-16 17:49] #27653 closed

[2019-05-16 17:49] edloper commented on #27598
tf.data support for RaggedTensors was added by 5fe90dc.

[2019-05-16 17:49] #27598 closed

[2019-05-16 17:56] angersson commented on #25558
@dearboll The `devel` tags are for developers to make changes *to* TensorFlow. They do not have TensorFlow installed by default.

[2019-05-16 18:20] ymodak commented on #28713
You need to Download and install the Microsoft Visual C++ 2015 Redistributable Update 3.
https://www.tensorflow.org/install/pip (select windows)

[2019-05-16 18:30] ymodak commented on #28681
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow-tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-05-16 18:30] #28681 closed

[2019-05-16 18:40] BryanCutler opened #28775 "batch_util CopySliceToElement does not support uint32, uint64 dtypes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): mast

[2019-05-16 18:47] lioutasb commented on #28748
@muddham This is not mentioned before but this issue poses a serious problem because this doesn't let training to be executed correctly.

[code]
gives 2 which is wrong since it only sees the weight and bias matrices from the first dense layer.

This means that if you try to train the model using the following code it will only optimize the first dense layer.

[code]

[2019-05-16 18:48] reedwm commented on #28458
@ila96, that sounds good. Thank you for working on this.

[2019-05-16 18:49] ymodak commented on #28729
What version of TF are you using? Also can you use ```tflite_convert``` to convert your model?

[2019-05-16 18:49] impjdi commented on #28563
@hoonkai

If I remember correctly, the only thing we changed for that model was 513x513 input image to 257x257 because the network wouldn't fit into the GPU memory.  The rest should be the same.  I think one of the engineers just ran toco on the frozen graph def.

[2019-05-16 18:55] impjdi commented on #28563
@hoonkai

I also downloaded your model, and you're correct that `SPACE_TO_BATCH_ND` etc. are not supported, but should run, in theory, fine.  But because of the residual connections, e.g. `decoder/ResizeBilinear_1`, I'm not 100% sure whether it will work.  We often only run 100% mobile GPU-compatible graphs, and haven't done extensive testing for partially runnable graphs.

[2019-05-16 19:08] ymodak commented on #28219
Closing this issue since jsimsa has provided a workaround. Feel free to reopen this issue if have further questions or perhaps open a feature request to add this functionality if necessary. Thanks!

[2019-05-16 19:08] #28219 closed

[2019-05-16 19:08] sleighsoft commented on #28523
Working code example
[code]

[2019-05-16 19:15] sleighsoft commented on #28558
I find it confusing that for the dense2 case the tf.name_scope has no effect. If creating it eagerly solves that problem that's nice.

But: If you would turn it into being eagerly created, will it be consistent when the code is run in graph mode instead?

Having a behavior that stays the same no matter if the code is executed in eager or graph is the best option.

[2019-05-16 19:45] hoonkai commented on #28563
@impjdi Right. So, do you think `toco` was run on the frozen graph def provided with [mobilenetv2_coco_voc_trainaug ](http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_train_aug_2018_01_29.tar.gz)? If so, wouldn't that produce the same model as running `tflite_convert`? For some reason, the one I generated contains `SPACE_TO_BATCH_ND`, etc. but the one provided in the guide doesn't.

[2019-05-16 19:48] AakashKumarNain opened #28777 "Conv2D breaking when used with keras Model subclassing"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0 al

[2019-05-16 19:49] futuyao opened #28778 "TF Lite can't run example project of select tensorflow operators on iOS"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.5
- Mobile device

[2019-05-16 19:56] skye commented on #28195
Hi Melissa, once again sorry for leaving you hanging.

To answer your latest question, the lowering happens in the TF runtime, so you'll get it "for free" once functional cond + while are implemented. To actually answer your question, it's technically not necessary, but the non-lowered path isn't really tested so in practice you do wanna lower.

I'm wary to send you down the FuncGraph + functional

[2019-05-16 19:58] ymodak commented on #28521
Can you try by using GPU memory growth only (without setting per_process_gpu_memory_fraction)?
[code]

[2019-05-16 20:21] futuyao commented on #28778
Is there a commit / branch / tag where I can run this example tflite_camera_example_with_select_tf_ops.xcodeproj successfully?

[2019-05-16 20:25] tanzhenyu commented on #28558
I'm not sure why this is not graph/eager mode agnostic?

[2019-05-16 20:32] zadeck opened #28779 "cannot really use eager execution to see tensors inside of a layer."
i am using tf-nightly-gpu-2.0-preview dev20190516 on ubuntu 18.04.

whenever I try to convert a tensor into a numpy array from inside the "call" function of a custom keras layer i get the following stack trace when I start execution:

  File "<stdin>", line 1, in <module>
  File "/home/zadeck/learning/tfkeras/interrow/trainPlant.py", line 101, in main
    modelObj.add (recLayer)
  File "/usr/local

[2019-05-16 21:39] kmh4321 commented on #26074
I can have a look at this if its open.

[2019-05-16 22:39] NorwayLobster commented on #24836
sorry, my friend, i am not familiar with this bazel and Android, where is the .tf_configure.bazelrc file?? i do not find it. plz. thank you very much

[2019-05-16 22:39] NorwayLobster commented on #24836
@tferrerITBA plz

[2019-05-16 22:56] tferrerITBA commented on #24836
It most likely depends on how you configured tensorflow in the first place. In the `.bazelrc` file you can see the line `try-import %workspace%/.tf_configure.bazelrc`. I think you are asked to set your workspace's directory after running `./configure`.

[2019-05-16 22:59] lgeiger opened #28782 "[TF2.0] Can't use tf.data.Dataset::cache with distribution strategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip tf-nightly-gpu-2.0-preview
- TensorFlow version (use command below): 2.0.0.dev20190514
- Python version: 3.7.3
- CUDA/cuDNN version: 10 / 7.4.2.24
- GP

[2019-05-16 23:33] futuyao opened #28783 "TF Lite select tf ops example linker error: libtensorflow-lite.a missing tflite subgraph"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.14.5
- Mobile device

[2019-05-17 00:08] pavithrasv commented on #28441
Closing the PR now, please feel free to re-open if you see that the issue is not fixed.

[2019-05-17 00:08] #28441 closed

[2019-05-17 00:23] wcq19941215 commented on #28585
@jdduke That ‘means you will add org.tensorflow.lite.nnapi to  org.tensorflow:tensorflow-lite:0.0.0-nightly no long?Thanks for your help

[2019-05-17 00:40] ngxson commented on #22105
I got the same problem. It's just because I've ran out of GPU memory. Decreasing model parameters and it works again.

[2019-05-17 01:00] ZH-Lee commented on #28773
HI~
    When i using  from tensorflow_model_optimization.sparsity import keras as sparsity like document, i got an ImportError: asking me to upgrade tensorflow to 1.14.0, but i cannot find version 1.14.0 by pip3 install --upgrade tensorflow==1.14.0.

[2019-05-17 01:13] botev commented on #27875
Sorry was on holiday. I can try to cook up something. Should I attempt what you have linked of the gradient of the normal Softmax with Logits?

[2019-05-17 01:23] ZH-Lee opened #28785 "Can't install Tensorflow 1.14.0"
When i import tensorflow_model_optimization as tfmot like document, i got error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/lees/Library/Python/3.6/lib/python/site-packages/tensorflow_model_optimization/__init__.py", line 69, in <module>
    _ensure_tf_install()
  File "/Users/lees/Library/Python/3.6/lib/python/site-packages/tensorflow_model_optimizati

[2019-05-17 01:26] eboujlal commented on #26150
You saved my day !

[2019-05-17 01:27] eboujlal commented on #26150
Yes the same way, Try it ^ ^

[2019-05-17 01:45] guikarist commented on #24885
@rounakskm First of all, `//tensorflow:tensorflow.dll` target is for C API. And this is a [wiki about how to use the built results](https://github.com/guikarist/tensorflow-windows-build-script/wiki/Using-the-built-results), where I have published a script (a gist). Then you should add the sources to `Additional Include Directories` and `tensorflow_cc.lib` to `linker` (I don't remember the exact na

[2019-05-17 01:54] decewei opened #28786 "catch keyboard interrupt in tf.function"
**System information**
- TensorFlow version (you are using): 2.0.0-alpha
- Are you willing to contribute it (Yes/No): Maybe depends on workload

**Describe the feature and the current behavior/state.** keyboard interrupt in tf.function. Currently I cannot keyboard interrupt or break the loop in tf.function made training function.

**Will this change the current api? How?** Depends on how tf 2.0 wo

[2019-05-17 01:57] fsx950223 commented on #28785
You should install tensorflow nightly

[2019-05-17 02:04] willxujun opened #28787 "Unable to run native XLA AOT tests"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: r1.12
- Python vers

[2019-05-17 02:35] dearboll commented on #25558
@angersson Got it. Thanks a lot.

[2019-05-17 02:39] halcolo commented on #22512
If you have this issue you can downgrade the lib to tensorflow-gpu==1.10.0, at today the superior versions have problems, this issue is common in windows.
PD. after that you need CUDA to use this lib correctly.

[2019-05-17 02:39] halcolo commented on #22794
If you have this issue you can downgrade the lib to tensorflow-gpu==1.10.0, at today the superior versions have problems, this issue is common in windows.
PD. after that you need CUDA to use this lib correctly.

[2019-05-17 03:00] kker43 commented on #18736
same issue in my windows os environment,but OK in my mac,this is odd

[2019-05-17 03:03] kker43 commented on #18736
my windows computer have 16GB RAM and my mac just have 8GB RAM

[2019-05-17 03:48] ZH-Lee commented on #28785
Thanks. But when training the network, i got lots of warnings, some syntax are different from tensorflow 1.13. Should i change that or ignore the warnings?

[2019-05-17 04:54] xiaohu2015 opened #28788 "Bug in tf,keras.layers.Conv2D when use dilation_rate"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS P

[2019-05-17 05:15] jnd77 commented on #28748
Keras actually overloads the __setattr__ to check whenever a layer is added. So a list would not trigger it.

Here is a workaround:

[code]

[2019-05-17 05:59] jvishnuvardhan commented on #27894
@sofeikov This issue is more related TF models repo [here](https://github.com/tensorflow/models/issues). I am closing it here. Please post it in models repo so that the issue has more visibility. Thanks!

[2019-05-17 05:59] #27894 closed

[2019-05-17 06:07] jvishnuvardhan commented on #27932
@monjoybme You need to write MyCapper function according to your requirement. If you don't want to constrain your gradients, then comment that line (where `MyCapper` is there) and run. Thanks.

I am closing this issue. Please post this kind of support questions in Stackoverflow. Thanks!

[2019-05-17 06:07] #27932 closed

[2019-05-17 06:10] jvishnuvardhan commented on #28103
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-17 06:10] #28103 closed

[2019-05-17 06:12] jvishnuvardhan commented on #28038
@wangyunxiaa If you have a solution, you could raise a PR and merge your contributions to TF repository. Please let me know if you want to contribute. Thanks!

[2019-05-17 06:14] jvishnuvardhan commented on #28137
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-05-17 06:14] #28137 closed

[2019-05-17 06:22] anidh opened #28789 "ExtractImagePatches Op Request"
**System information**
- Ubuntu 14.04
- Tensorflow Installed from Binary:
- TensorFlow version 1.13:

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.
This is the onedrive link for the file
[Google Drive Link](https://drive.google.com/open?id=1pu_IAj2b9GoU4HCDd___MLg_20ikB8DZ)

**Any other info / logs**

I was trying to co

[2019-05-17 06:22] muddham commented on #28748
@lioutasb Did you get chance to try the workaround provided by jnd77

[2019-05-17 06:24] jvishnuvardhan commented on #28305
@Aditi0207 Please follow @rootkitchao suggestion. There are tutorials on TF website [here](https://www.tensorflow.org/tutorials). Thanks!

[2019-05-17 06:30] jvishnuvardhan commented on #28411
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-17 06:30] #28411 closed

[2019-05-17 06:33] muddham commented on #28775
@BryanCutler Please provide simple reproducible code to investigate further.

[2019-05-17 06:34] soloice commented on #28405
I tried the code on my local environment (GTX 1080 Ti + CUDA 10.0.0 + TF 1.13.1) and it runs normally (the very first epoch is slightly longer 154s vs. ~110s of subsequent epoches):
[code]

[2019-05-17 06:34] 007fred50 commented on #28521
Hello,

RTX 2080
ubuntu 16.04
cuda 10.0
cuDNN v7.4.1

It work's with LSTM but then i trying to compile tensorflow with GPU if failed with conv2d

Here is my code:
[code]

if i use case1:
[code]
output:
[code]

if i use case2:
[code]

output:
[code]

[2019-05-17 06:37] xlambein commented on #10021
@w4nderlust Maybe it was clear for you, but it wasn't for me.  I encountered a situation where I wanted to weight my loss by a `[batch_size, n_classes]` tensor, and found this thread.  My first intuition was to think the current implementation was limited in expressiveness, and that intuition was compounded by the fact that you suggested a richer API.  Only when I did the maths myself did I realiz

[2019-05-17 06:40] Symphonized commented on #28734
Thank you @Dayananda-V. Yes I realized this question might not suit the intended goal here. Thanks anyway for helping me find a solution even though it might have seemed trivial to you.

All the good.

Thanks.

[2019-05-17 06:43] #28734 closed

[2019-05-17 06:47] StevenPuttemans opened #28790 "Build issue running build from source in Docker container"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04 - docker image nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 1.12
- Python version: 2.7.15
- Installed using virtualenv? pip? conda?: installed using combo pip + bazel as described in installation
- Bazel version (if compiling from s

[2019-05-17 06:53] lisaong opened #28791 "RandomStandardNormal not supported by TensorFlow Lite runtime"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, 64 bit
- TensorFlow installed from (source or binary): binary (conda install tensorflow for python 3.7)
- TensorFlow version (or github SHA if from source): 1.13.0

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

Basically this

[2019-05-17 06:57] alphamuth opened #28792 "No gradients provided for any variable, check your graph for ops that do not support gradients while optimization"
ValueError: No gradients provided for any variable, check your graph for ops that do not support gradients, between variables ["<tf.Variable 'Variable:0' shape=(784, 500) dtype=float32_ref>"

this is coming up on using -

optimizer = tf.train.AdamOptimizer(learning_rate=0.01).minimize(cost)

[2019-05-17 07:07] tranhungnghiep commented on #27886
@ymodak I am not sure what is the cause and what need to be fixed. Should keras cast automatically or should EagerTensor do it? Anyway this should not be done by users themselves, for the sake of clean code.

[2019-05-17 07:34] achandraa commented on #28782
Will it be possible to provide full minimal code snippet that can reproduce the issue on version 2.0.0.dev20190514. That would really help us to debug faster. Thanks!

[2019-05-17 07:45] meteorcloudy commented on #28705
Does this issue help?
https://github.com/tensorflow/tensorflow/issues/24885

[2019-05-17 07:45] sunzhe09 commented on #28657
@impjdi  My model is from here :https://github.com/zhangludl/A-bi-directional-message-passing-model-for-salient-object-detection,you can download the model from the line Download the pretrained model from here, and put it under the ./model directory. If you transform it to tflite,you can reproduce my issue. I am sorry I don't have right to upload my file ...

[2019-05-17 07:49] achandraa commented on #28779
Will it be possible to provide minimal code snippet that can reproduce the issue. It would definitely help us to debug the issue faster. Thanks!

[2019-05-17 07:56] muddham commented on #28788
@xiaohu2015 Able to reproduce the issue with the provided code.
InvalidArgumentError: padded_shape[0]=68 is not divisible by block_shape[0]=6 [Op:SpaceToBatchND]

[2019-05-17 08:00] gadagashwini commented on #28777
@AakashKumarNain In order to expedite the trouble-shooting process, please provide a minimum code snippet to reproduce the issue reported here. Thanks!

[2019-05-17 08:11] muddham commented on #28792
@alphamuth
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue temp

[2019-05-17 08:19] muddham commented on #28791
@lisaong Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue templa

[2019-05-17 08:35] lisaong commented on #28791
Hi @muddham, provided info as requested. Thank you.

[2019-05-17 08:51] achandraa commented on #28773
@smatzek : Thank you for your support to the community. Will it be possible to provide a minimum code snippet that can depict the scenario? This would really help us. Thanks!

[2019-05-17 09:02] gadagashwini commented on #28765
@ivanjacobs Did you Download and install the Microsoft Visual C++ 2015 Redistributable Update 3. Also have look https://www.tensorflow.org/install/pip (select windows). Thanks!

[2019-05-17 09:05] muddham commented on #28757
@delowarcse Please provide the link for the paper mentioned here. Is this related to tensorflow.org website?

[2019-05-17 09:09] xiaohu2015 commented on #28788
@muddham @jvishnuvardhan I think the padding="SAME" not work with expectation, it is really a big trouble. The reason behind this, I think it is "deferring weight creation until the shape of the inputs is known" :
[code]
The __call__ method of your layer will automatically run build the first time it is called. You now have a layer that's lazy and easy to use.

but for different input shape, maybe

[2019-05-17 09:12] hiteshnitetc commented on #28362
https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/contrib/gan/python/features/python/virtual_batchnorm_impl.py

[2019-05-17 09:35] astropeak commented on #27492
It turns out that the graph object is finally referenced by the global variable '_gradient_registry', which is in 'tensorflow/python/framework/ops.py'.

This is how (for the above example):
Notation: 'A -> B' means A is referenced by B

graph ->
x ->
result object in custom_gradients.py at line 183 ->
flat_result  in custom_gradients.py ->
closure tape_grad_fn  in custom_gradients.py ->
closure in

[2019-05-17 09:40] AakashKumarNain commented on #28777
@gadagashwini except for the `import` statements, what I have provided is the code snippet

[2019-05-17 09:47] achandraa commented on #28473
Please have a look on heading Some Highlights in this [link](https://github.com/tensorflow/tensorflow/releases) which says tf.logging is not supported in 2.0. Let us know if that resolves the issue. Thanks!

[2019-05-17 09:50] achandraa commented on #28619
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-05-17 10:05] gadagashwini commented on #28759
@ziyigogogo In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-05-17 10:08] gadagashwini commented on #28777
@AakashKumarNain Thanks for the information.

[2019-05-17 10:10] lgeiger commented on #28782
@achandraa Sorry for the incomplete code sample. This was the result of some late night debugging ;)

I added a complete code sample above.

[2019-05-17 10:26] Tayseer-bme opened #28796 "reduction_ops_gpu_complex128.cu.pic.o was not created"
**System information**
- Ubuntu 18.04.2
- https://github.com/VLOGroup/tensorflow-icg
- CUDA 10
- cudNN 7
- Python 3.6.8 |Anaconda, Inc.|
- GCC 7.3.0
- Bazel version 0.11.1

While building Tensorflow-icg (https://github.com/VLOGroup/tensorflow-icg) on a Slurm Cluster occurred the error

[code]

[2019-05-17 10:35] lgeiger opened #28797 "[TF2.0] Can't use keras validation data with distribution strategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip tf-nightly-gpu-2.0-preview
- TensorFlow version (use command below): 2.0.0.dev20190517
- Python version: 3.7.3
- CUDA/cuDNN version: 10 / 7.4.2.24
- GP

[2019-05-17 10:40] AakashKumarNain commented on #28777
@gadagashwini You are welcome

[2019-05-17 10:42] gadagashwini commented on #28777
I am able to reproduce the issue on colab with TF 2.0alpha . This is the error message I got InvalidArgumentError: input depth must be evenly divisible by filter depth: 32 vs 3 [Op:Conv2D]

[2019-05-17 10:45] tejal567 commented on #27112
Just let us know if there is any resolution to this issue.

[2019-05-17 11:06] achandraa commented on #28740
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow cpu/gpu version used. Did you try it from source or binary? How much time it took for parallel and serial time consumption. If you are unclear on the template, please use [template link](https://github.com/tensorflow/tensorflow/issues/new/choose) to fill in the details. Thanks!

[2019-05-17 11:10] muddham commented on #28622
@007fred50 Ran the code, Able to get the ouptut , please find the below details.
Layer (type) Output Shape Param #
 conv2d (Conv2D) (None, 48, 48, 32) 320
max_pooling2d (MaxPooling2D) (None, 24, 24, 32) 0
 conv2d_1 (Conv2D) (None, 22, 22, 64) 18496
 max_pooling2d_1 (MaxPooling2 (None, 11, 11, 64) 0
conv2d_2 (Conv2D) (None, 9, 9, 64) 36928
flatten (Flatten) (None, 5184) 0
 dense (Dense) (None, 1) 5

[2019-05-17 11:29] 007fred50 commented on #28622
Hello,

can you send me a code? i can't read that messages you gave me

[2019-05-17 11:30] pedroteixeirazup commented on #24828
Delete the current cudnn and install the version 7.2.4 for CUDA 9.0 using tensorflow 1.12.0 works for me. Thanks for all.

[2019-05-17 11:40] gadagashwini commented on #28666
@WY19940327 To verify, Please let us know if you are still stuck?  Thanks!

[2019-05-17 11:46] lgeiger opened #28798 "tf.data.Dataset::cache doesn't cleanup unused lock and tmp files"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13.1 / 1

[2019-05-17 11:53] vbogach commented on #27568
I believe this is fixed by changing
[code]
to
[code]

[2019-05-17 11:54] WY19940327 commented on #28666
@gadagashwini yes. it made me crazy. no matter I used conda or pip tf follow your guide, I always got same problem with the 'import tf'

[2019-05-17 11:56] muddham commented on #28622
@007fred50 Ran the same code provided here, in jupyter notebook.

[2019-05-17 12:03] tejal567 opened #28799 "TypeError: 'Not JSON Serializable' while doing tf.keras.Model.save and using keras variable in loss_weights in tf.keras.Model.compile"
**System information**
- Have I written custom code: NA
- OS Platform and Distribution: Ubuntu 16.04 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.12.0
- Python version: 3.5.2
- Bazel version (if compiling from source): NA
- GCC/Compiler versio

[2019-05-17 12:06] tejal567 commented on #28799
Similar Issue (Open): https://github.com/tensorflow/tensorflow/issues/28010

[2019-05-17 12:19] 007fred50 commented on #28622
Here is my jupyter notebook. with photo

<img width="976" alt="Screenshot 2019-05-17 at 14 18 06" src="https://user-images.githubusercontent.com/25218874/57927575-b8b4a580-78ae-11e9-997a-158db8934200.png">

[2019-05-17 12:29] WY19940327 commented on #28666
@gadagashwini  sorry, I found my gtx 1080ti is used cuda10.0, not cuda9.0. I try to change my cuda version

[2019-05-17 13:10] arjay55 commented on #22794
What about in Linux, are tensorflow higher versions are much more stable?

[2019-05-17 13:12] lioutasb commented on #28748
@jnd77 I confirm that this workaround works as expected.

[2019-05-17 13:14] WY19940327 commented on #28666
@gadagashwini I successfully installed the tensorflow-gpu==1.13.0 (even though there were something wrong).
![image](https://user-images.githubusercontent.com/49911630/57930363-ba9f5880-78f0-11e9-9678-588cc6afa851.png)
However, I also can't use tensorflow-gpu normally
![image](https://user-images.githubusercontent.com/49911630/57930520-208be000-78f1-11e9-9c07-efb1d97de561.png)

[2019-05-17 13:24] tensorflowbutler commented on #24586
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-17 13:24] tensorflowbutler commented on #26207
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-17 13:24] tensorflowbutler commented on #26725
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-17 13:24] tensorflowbutler commented on #27577
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-05-17 13:30] muddham opened #28800 "kjj"
import tensorflow as tf
from tensorflow.python import keras
from tensorflow.python.keras import layers as KL
from tensorflow.python.keras import models as KM
import numpy as np
print(tf.__version__)

def my_custom_loss_wrapper(input_weight):
    def real_loss(y_true, y_pred):
        # expand the out put of binary_crossentropy(64,64) to (64,64,1) to match the shape of input_weight
        bce_loss

[2019-05-17 13:36] #28800 closed

[2019-05-17 13:38] muddham commented on #28622
@007fred50 Seems like you have not received any error after executing in jupyter notebook.Please confirm if I can close this issue from my side

[2019-05-17 13:42] muddham commented on #28791
@lisaong Request you to please refer the [link1](https://github.com/tensorflow/tensorflow/issues/25331) , [link2](https://github.com/tensorflow/tensorflow/issues/27832) .  Please try if that helps and let us know how it progresses.

[2019-05-17 13:43] rounakskm commented on #28705
I have mentioned this issue in my post as well. It did help but does not completely solve my problem.
I was able to build it successfully and have included some header file paths. But I am still unable to get all the required symbols.
I renamed tensorflow.dll.if.lib to tensorflow.lib and added it to the linker in visual studio. This solves some missing symbols but many are still missing.
As of now

[2019-05-17 13:58] rounakskm commented on #24885
How do I get the required symbols to avoid linker errors.
I am getting an unresolved external symbol error:

error LNK2001: unresolved external symbol "class tensorflow::Status __cdecl tensorflow::LoadSavedModel(struct tensorflow::SessionOptions const &,class tensorflow::RunOptions const &,class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > const &,class std::un

[2019-05-17 14:02] ivanjacobs commented on #28765
Installed Microsoft Visual C++ 2015 Redistributable Update 3  and did all the steps under  https://www.tensorflow.org/install/pip (select windows).

reintsalled python,pip,virtualenv nothing helps. The only version that runs is the tensorflow==1.5

Log:
C:\code\tensorflowtest\tensorflowtest\Scripts\python.exe C:/code/tensorflowtest/test.py
Traceback (most recent call last):
  File "C:\code\tensorf

[2019-05-17 14:05] pglushkov commented on #28414
Hello, Alexandre.
Yes, I'm using the contrib version. By using 1.13 you mean creating/freezing the model using 1.13 or trying to load it using 1.13 C-library?

In first case - I can see in documentation that CuDNN-compatible LSTM cell is still in 'contrib' by looking at  https://www.tensorflow.org/api_docs/python/tf/contrib/cudnn_rnn/CudnnCompatibleLSTMCell

In second case - I've already tried to

[2019-05-17 14:26] 007fred50 commented on #28622
I got this error then i don't use GPU:

[code]

[2019-05-17 14:34] fhoering commented on #24003
@byronyi I tried with tf-nighly 1.14.1
Indeed I doesn't give the not implemented error anymore but now fails with grpc error:
[code]

Side notes:
- I tried with slightly different model, all logs + source code attached
- When trying with NumericColumns only (that one that works) there are a lot of logs that disapeared. It doesn't seem to say that it is even useing CollectiveAllReduceStrategy/Stand

[2019-05-17 14:42] TeoZosa commented on #28313
Update: A _semi-_solution on the AWS instance involving compiling with the Intel MKL-DNN solves the gray issue as well as the crashing issue (in some cases; see below).

BUT it requires >5x the amount of RAM and is >2x slower. Additionally, memory is not deallocated immediately, causing crashes when there is a queue of input samples. The huge increase in required RAM usages causes crashes for larg

[2019-05-17 15:19] RubensZimbres opened #28801 "Linux: No module named tensorflow_estimator.python.estimator.tpu"
I successfully developed and run a model using Tensorflow Probability with Pruning in a Windows machine, but I get the following error in Linux (Ubuntu 16.04):

[code]
All the packages involved are up-to-date, including pandas, matplotlib and numpy. Pip / conda reinstalling is not solving this issue. I'm running Python 3.6.8 64bits, Qt 5.11.2, PyQt5 5.11.3 on Linux, Spyder 3.3.1.

[2019-05-17 15:21] zadeck commented on #28779
try this:
================
lorien:~/work(44) python3
Python 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/zadeck/learning/tfkeras/bugs/badnumpy.py", line 24, in main
    modelObj.add (myLayer)
  File "/usr/local/lib/python3.6/d

[2019-05-17 15:47] NorwayLobster commented on #19014
您好，　你的问题解决了吗？？？

[2019-05-17 15:53] smatzek commented on #28773
Here is the fit_generator case that does not work, adapted from the test case that was removed:

[code]

Here is the fit() case that does work:
[code]

[2019-05-17 15:53] archenroot commented on #26209
@tshr729 - I wonder how got it working with CUDA 10.1 by just downgrading python, doesn't make much sense to me :-), the issue is in not supporeted version by Tensorflow itself...

So on my Gentoo system I have CUDA 10.1.105 which creates following platform links:
[code]
So once I downgrade to 10.0.130 I get what Tensorflow looks for in following platform structure:
[code]

So now 10.0 link which

[2019-05-17 16:15] devstein commented on #28480
This behavior can be mimic-ed in slack by subscribing the Github projects RSS feed

`/feed https://github.com/tensorflow/tensorflow/releases.atom`

[2019-05-17 16:19] alextp commented on #27875
@botev I think https://github.com/tensorflow/tensorflow/pull/22231 is already doing this

[2019-05-17 16:23] alextp commented on #27492
That sounds like the correct fix. Would love a pull request!

[2019-05-17 16:29] martinwicke commented on #28480
The error message sounds like that would require us to install a slack app on tensorflow. Unfortunately, this is not something we can do. I hope the workaround suggested by @devstein works for you.

[2019-05-17 16:29] #28480 closed

[2019-05-17 17:05] nottombrown commented on #27470
This is an important issue for me as well, because my team has upgraded to 3.7 and this prevents my dev environment from matching production.

[2019-05-17 17:23] gauravmishra commented on #27129
This is now done. Please give it a try and let us know if there are any issues.

[2019-05-17 17:23] #27129 closed

[2019-05-17 17:24] omalleyt12 commented on #27353
Thanks for the issue! It seems reasonable to prefer `steps_per_epoch` (if provided) over the `Sequence` length, will look into this

[2019-05-17 17:31] omalleyt12 commented on #27353
Looks like this has already been fixed in the TF 2.0 nightly

[2019-05-17 17:31] #27353 closed

[2019-05-17 17:34] omalleyt12 commented on #27275
A fix should now be available in the latest nightly :)

[2019-05-17 17:34] #27275 closed

[2019-05-17 17:35] omalleyt12 commented on #26061
A fix should be available in the latest nightly :)

[2019-05-17 17:35] #26061 closed

[2019-05-17 17:47] PCerles commented on #10749
@rryan Is the equivalent fix (https://github.com/tensorflow/tensorflow/commit/8f0a90b711480c12716d1a3b1094cc8b34939f2d)  for RFFT merged yet?

[2019-05-17 17:47] alextp commented on #28741
Sounds reasonable. I don't think we can deprecate the existing endpoint but I'm happy to add a new one, if someone wants to contribute.

[2019-05-17 17:48] BryanCutler commented on #28775
@muddham the additions to the test in #28776 reproduce the issue, but also here is a simple script

[code]

produces error:
[code]

[2019-05-17 18:07] omalleyt12 commented on #28602
I see, thanks! This pattern will not work in general in 2.0 (for example, as a standalone layer in eager or a tf.function training loop). That's because in eager, once you call `tf.nn.l2_normalize` on a Variable, this is just a constant value that is no longer tied to the Variable

[2019-05-17 18:22] rounakskm commented on #23542
Hello,
@Steroes I did what you mentioned. But the linker errors are not going.

I think it has to do with the fact that I am using TF 2.0 and the modifications in the BUILD file are different.
I added the missing symbols to the tf_exported_symbols_mscv.lds and ran the build again but that does not solve my linking errors. I get the same symbols as missing.

Some background on how I ran the build->

[2019-05-17 18:30] sudheerExperiments commented on #24828
I had the same issue and solved it using this method.
I was running Tensorflow 2.0 alpha with Cuda v10.1 and Cudnn v7.5.1. I downgraded the versions to Cuda v10.0 and Cudnn v7.5.4, and added these ''allow_growth' option to my code. Its working perfectly now.

[2019-05-17 18:35] PCerles opened #28804 "tf.signal.stft supports only float32 inputs"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13
- Are you willing to contribute it (Yes/No): maybe bu

[2019-05-17 18:36] alextp commented on #28414
I meant both creating it and loading it with 1.13.

Can you also post the full content of the not found status error message?

[2019-05-17 18:37] alextp commented on #27288
@jaingaurav this is serious enough we should at least triage it before the 2.0 RC

[2019-05-17 18:45] #28804 closed

[2019-05-17 19:25] geert56 opened #28807 "TensorFlow Lite InterpreterBuilder::ParseTensors incorrect for big-endian machines"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-45-generic s390x)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- Tenso

[2019-05-17 19:35] H4wking commented on #26835
Any updates on ValueError: Unknown layer: DenseFeatures ?

[2019-05-17 19:43] sudheerExperiments commented on #6235
Thanks for sharing this. I had the same issue. I followed this method and it worked!

[code]

[2019-05-17 19:52] #21964 closed

[2019-05-17 20:12] dynamicwebpaige commented on #28762
This would be a great project for an upcoming global TensorFlow Docs Sprint, or for the Chinese translation group. cc: @lamberta

[2019-05-17 20:16] jdduke commented on #28589
This should be fixed on head. Note that the 1.14 branch is in a state of flux and will be updated with the fix. Please re-open if you find otherwise (testing against head).

[2019-05-17 20:16] #28589 closed

[2019-05-17 20:24] lamberta commented on #28762
Yes! Consider joining the [Chinese docs list](https://groups.google.com/a/tensorflow.org/forum/#!forum/docs-zh-cn): docs-zh-cn@tensorflow.org

@duanw0916 is coordinating some Chinese translation efforts, perhaps he can point you in the right direction?

[2019-05-17 20:24] ymodak commented on #27886
@pavithrasv Can you please take a look? Thanks!

[2019-05-17 20:40] chaoyanghe commented on #10375
class GraphConvolutionSparse(Layer):
	"""Graph convolution layer for sparse inputs."""

	def __init__(self, input_dim, output_dim, adj, features_nonzero, dropout=0., act=tf.nn.relu, **kwargs):
		super(GraphConvolutionSparse, self).__init__(**kwargs)
		with tf.variable_scope(self.name + '_vars'):
			self.vars['weights'] = weight_variable_glorot(input_dim, output_dim, name="weights")
		self.dropout

[2019-05-17 20:44] chaoyanghe commented on #10375
PS: the X inputs in the code is super large.

[2019-05-17 20:49] dbl001 commented on #24872
I'm having the same issue trying to build Tensorflow 1.13.1 on 10.11.6 with bazel-0.18.1-darwin-x86_64.  Is there any known work-around?

[code]

[2019-05-17 20:57] jvishnuvardhan commented on #20427
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2019-05-17 20:57] #20427 closed

[2019-05-17 20:59] jvishnuvardhan commented on #21528
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-17 20:59] #21528 closed

[2019-05-17 21:02] jvishnuvardhan commented on #21907
@dpotter-intoto Is this still an issue? Thanks!

[2019-05-17 21:06] PCerles opened #28811 "Tensorflow matmul of float64's behaves like numpy float32 matmul"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-05-17 21:10] ankitshah009 commented on #22633
Any update on how to resolve this error? I am receiving the same error with tensorflow 1-13-1,
CUDA - 10.0.130 version, NVIDIA driver -  Driver Version: 430.09

[2019-05-17 21:12] myworldraj commented on #27996
Is there any update on this issue?

[2019-05-17 21:14] JonTriebenbach opened #28812 "Signature defs lost when calling saved_model_cli convert"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Pl

[2019-05-17 21:15] ymodak commented on #23278
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-05-17 21:15] #23278 closed

[2019-05-17 21:17] jvishnuvardhan commented on #22665
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. If the issue is persists again, please open a new ticket. Thanks!

[2019-05-17 21:17] #22665 closed

[2019-05-17 21:27] angersson commented on #21907
Duplicate of #19584.

This is a general issue with TensorFlow's official packages, not the Docker images specifically.

[2019-05-17 21:27] #21907 closed

[2019-05-17 21:27] dpotter-intoto commented on #21907
Yes, this is still an issue. Neither
https://hub.docker.com/r/tensorflow/tensorflow nor
https://www.tensorflow.org/install mention that Tensorflow requires a CPU
with AVX support.

On Fri, May 17, 2019 at 2:09 PM Vishnuvardhan Janapati <
notifications@github.com> wrote:

[2019-05-17 21:30] angersson commented on #21907
I have also added a quick note to the Docker hub description for the TensorFlow images.

[2019-05-17 21:44] preethivenkatesh commented on #28304
@MChaus, our optimizations through MKL are built to accelerate performance on Intel Xeon processors. We don't support accelerations for other processors as of yet.

[2019-05-17 21:58] rounakskm commented on #24885
Hello,
@Steroes I did what you mentioned. But the linker errors are not going.

I think it has to do with the fact that I am using TF 2.0 and the modifications in the BUILD file are different.
I added the missing symbols to the tf_exported_symbols_mscv.lds and ran the build again but that does not solve my linking errors. I get the same symbols as missing.

Some background on how I ran the build->

[2019-05-17 22:01] jvishnuvardhan commented on #23191
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-17 22:01] #23191 closed

[2019-05-17 22:03] rphsantos commented on #28211
@Stepiii I had the same problem, and running `bazel clean` then trying again solved the issue for me (using vs2019).

Not sure if this is related, but one thing I did differently was to choose "no" for the `override eigen strong inline` option.

[2019-05-17 22:14] jvishnuvardhan commented on #23104
Is this still an issue? If this is still an issue, workaround is create folder without spaces and install. thanks!

[2019-05-17 22:51] TheSiebi opened #28815 "ArrayIndexOutOfBoundsException: length=1; index=1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10, Android Studio 3.4

[2019-05-17 23:02] lisaong commented on #28791
@muddham, thanks for the pointers. One part is unclear to me after reading this link: https://www.tensorflow.org/lite/guide/inference

What do I do with the C++ code for the op? Do I then have to follow the instructions here to compile and link a DLL?
https://www.tensorflow.org/guide/extend/op

Or, do you have an end-to-end example of adding a custom TFLite op?

[2019-05-17 23:05] TeoZosa commented on #28313
Update: Now there is another bug where inference results are artifacted (see attached; should be completely black)

![051719_artifacts_TF_issues](https://user-images.githubusercontent.com/13070236/57960418-79da1c00-78bd-11e9-9987-05fd8b33d95b.png)

configs file for MKL-DNN & TF:

import os
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
threads = 64
sockets = 2
args =  tf.ConfigProto(

[2019-05-18 00:23] delowarcse commented on #28757
The paper title is "Convolutional Neural Networks for Small-footprint Keyword Spotting" and link is https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/43969.pdf. This paper is implemented in Speech Commands Example and Link is https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/speech_commands.

My question is that is voice activity detection imple

[2019-05-18 00:33] WY19940327 commented on #28666
@gadagashwini god like! I just remove the env which installed by conda and use virtualenv, then everything has been OK. Anyway, thanks your help.

![image](https://user-images.githubusercontent.com/49911630/57962284-033a2e80-7950-11e9-82a2-1decc6dff4eb.png)

[2019-05-18 01:17] VIOLET7VIXEN opened #28818 "RW4YQ2T67I2"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-05-18 01:30] Hirschfleisch commented on #23873
my temporary solution is changing argument of add_update input to None.
which is located in normalization.py->Batch normal->call.
by doing so, BN Layer immediately add updates to model.update on its init checking call.
Then, add update ops.
there'll be BN/Assign~ and model/BN/assign~blah
i think former is for initializing and later is what we want

[code]
if you are using Sequence, the "model" ter

[2019-05-18 02:44] jvishnuvardhan commented on #28748
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-05-18 02:44] #28748 closed

[2019-05-18 02:46] guikarist commented on #24885
@rounakskm No any other similar code blocks? If so, this trick may not work on TF 2.0.