[2022-11-27 18:38] #58690 closed

[2022-11-27 19:59] rsandler00 commented on #58642
Ok, I was just able to fully reproduce the issue w/ the SavedModel from TFHub.

I downloaded the following SavedModel file: https://tfhub.dev/tensorflow/movinet/a2/base/kinetics-600/classification/3

And reproduced w/ this code:
[code]

This is my full console output. Notice RAM printouts at the end - in 30 samples my RAM usage went from 69.3% to 72.7%. This trend continues until crash due to no R

[2022-11-27 22:05] LeoDecking opened #58707 "Problems with TensorFlow for C, Windows CPU Only, version 2.11.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.11.0

### Custom Code

No

### OS Platform and Distribution

Windows

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-11-27 23:33] karllessard commented on #51506
Downgrading Xcode CL Tools to 13.x did the trick for me, probably related to this: https://github.com/tensorflow/tensorflow/issues/58368

[2022-11-28 02:44] #58692 closed

[2022-11-28 03:33] tiruk007 commented on #58680
@maxnuggets
 Could you please refer to [TensorFlow Lite Model Maker](https://www.tensorflow.org/lite/models/modify/model_maker) and let us know if it is helps.
Thank you !

[2022-11-28 03:41] reza-ghazi commented on #58032
Today is November 27, 2022, and Tensorflow is still not supporting Python 3.11.

[2022-11-28 03:44] SuryanarayanaY commented on #58628
Hi @YHL04 ,

Iam not confirming yet it as intended behaviour. My intention is to confirm with you the whether the behaviour of Memory Increase is there both on CPU and GPU?

@sachinprasadhs could you please look at the issue.

Thankyou!

[2022-11-28 04:24] tiruk007 commented on #58668
@andreasavio
Sorry for the late reply.
I tried with an alternate approach to convert the model on Colab using TF v2.10. Could you please find the gist [here](https://colab.research.google.com/gist/tiruk007/f05a6e2a47943ae1e04495f306ef5c71/58668.ipynb) for reference and let us know if it helps.
Thank you!

[2022-11-28 04:29] tilakrayal commented on #58686
@AngraPatrick,
Glad the issue is resolved for you, please feel free to move this to closed status. Thank you!

[2022-11-28 04:44] mohantym commented on #58684
Hi @zhanggd001 !

You can use [tfl.quantization_debugger ](https://www.tensorflow.org/lite/performance/quantization_debugger)to disable the layers. But not sure on setting half_pixel_centers to False through that. Feel free to see [tensorflow model optimization ](https://www.tensorflow.org/model_optimization)documentation too.

Thank you!

[2022-11-28 04:53] rrajkumar1990 commented on #58140
<img width="706" alt="TF_PERFORMANCE_ANALYSIS" src="https://user-images.githubusercontent.com/50878243/204196468-2aefa454-f1d9-4156-ad3e-ad3ca5a582fa.png">

Hi @SuryanarayanaY ,
Please see the above performance numbers based on my tests. we see a performance decrease  and memory increase as we go up the version
Also please use the base  weights /pb files  from : http://download.tensorflow.org/mode

[2022-11-28 04:54] mohantym commented on #58547
Hey @cool-man-vk !

1.x version are not supported any more.  Please go through tested configs from [2.x documentation](https://www.tensorflow.org/install/pip) (2.10 , Python 3.7-3.10).

Thank you!

[2022-11-28 04:56] mohantym commented on #58547
Hey @cool-man-vk !

1.x version are not supported any more.  Please go through tested configs from [2.x documentation](https://www.tensorflow.org/install/pip) (2.10 , Python 3.7-3.10). For 1.0.0 , Max supported python version is Python 3.6 .

Feel free to open if you are facing issue in 2.x versions.

Thank you!

[2022-11-28 04:56] #58547 closed

[2022-11-28 05:34] eipiisneg1 opened #58708 "tfp.JointDistributionSequential._build() -> line 236, in _build if not isinstance(model, collections.Sequence): AttributeError: module 'collections' has no attribute 'Sequence'"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

Mac OS 13.0.1 (22A400)

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No

[2022-11-28 05:41] mohantym commented on #58629
@Zhaopudark !
Thanks for the update and sharing your concern.

@SuryanarayanaY !
Could you look at this issue.

Thank you!

[2022-11-28 05:59] tilakrayal commented on #58689
@derrickny,
In order to expedite the trouble-shooting process, could you please provide the following information
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary):
TensorFlow version:
Python version:
Installed using virtualenv? pip? conda?:
Bazel versio

[2022-11-28 06:11] tiruk007 commented on #58614
@sushreebarsa
I was able to reproduce the issue on Colab using TF v2.11 and TF-nightly. Please find the gist [here](https://colab.research.google.com/gist/tiruk007/808cd34d2bc25a035a5a3e35ab66e234/58614.ipynb) for reference.

Thank you !

[2022-11-28 06:40] fjzhangcr opened #58709 "error occurs when convert a tflite model with uint8 inference_input_type during quantization-aware-training"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
- TensorFlow installation (pip package or built from source): tf 2.8
- TensorFlow library (version, if pip package or github SHA, if built from source): tf2.8

### 2. Code
I want to convert a model by quantization aware training. the fp32 model is simple and it can only be convert to a tflite model wit

[2022-11-28 07:08] dilverse opened #58710 "Add support for 3rd part object storage (S3) in Docker image"
<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Source

binary

### Tensorflow Version

2.6+

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-11-28 07:16] #58540 closed

[2022-11-28 07:39] mohantym commented on #58669
Hi @andreasavio !

You can build the flex delegate in C using Bazel and load it with interpreter  options if necessary. ( but it takes the select ops runtime during inference if already built into bazel bin folder).

[Ref](https://www.tensorflow.org/lite/guide/ops_select#cc)

Thank you!

[2022-11-28 07:44] SuryanarayanaY commented on #58629
@Zhaopudark,

Your concerns regarding dropping the TF_GPU support on windows native is well noted and will be escalated to the concern team.But at present it is official from the [documentation](https://www.tensorflow.org/install/pip#windows-native) that:
`TensorFlow 2.10 was the last TensorFlow release that supported GPU on native-Windows. Starting with TensorFlow 2.11, you will need to install [

[2022-11-28 08:16] #44590 closed

[2022-11-28 08:16] #58543 closed

[2022-11-28 08:40] mohantym commented on #58691
Hi @aicheung !
Thanks for reporting this bug.

Could you post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) .

Thank

[2022-11-28 08:56] triumph-wangyuyang opened #58711 "BatchNormalization error in low version?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

source

### Tensorflow Version

TF 2.4, TF 2.10

### Custom Code

Yes

### OS Platform and Distribution

windows 11

### Mobile device

_No response_

### Python version

3.8.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA: 11.3    cuDNN 8.6.0

### GPU mode

[2022-11-28 08:56] kienerj commented on #56649
I'm closing this ticket myself as I can't be sure this is really related to tensorflow and not the specific machine setup (virtualization drivers, OS,...).

[2022-11-28 08:56] #56649 closed

[2022-11-28 10:11] tilakrayal commented on #58695
@triumph-wangyuyang,
Could you please feel free to submit a PR for the requested change or share the link where the requested change is to be made. Thank you!

[2022-11-28 10:16] #58432 closed

[2022-11-28 10:17] triumph-wangyuyang commented on #58695
I don't understand what you mean, do you want me to change it?

[2022-11-28 10:47] mohantym commented on #54369
Hi @sijia-w !
Re-opening as requested.
Thank you!

[2022-11-28 10:48] SuryanarayanaY commented on #58556
Hi @TaylorZowtuk ,
I tried with nightly tag.
[code]
and i could find python 3.8.10 only there.

Then I have checked the docker documentation [here](https://hub.docker.com/r/tensorflow/tensorflow/) which states:
`Versioned images <= 1.15.0 (1.x) and <= 2.1.0 (2.x) have Python 3 (3.5 for Ubuntu 16-based images; 3.6 for Ubuntu 18-based images; 3.9 for Ubuntu 20-based images) in images tagged "-py3" a

[2022-11-28 11:05] aburgm commented on #57826
I ran into this issue as well and with `git bisect` learned that the issue was introduced in 71b5cdf6718bc3c4a96f4be9760b2918252df64f. Reverting this particular commit allowed me to build the library (but I don't have enough context to understand what the consequences of it are). [Here](https://gist.github.com/aburgm/4287393ff6822f3fa7135de9f494a48d) is a patch doing that against TF 2.10.0.

[2022-11-28 11:07] madhavarora2002 commented on #36270
Hi @amahendrakar , Similar issue being faced.
The gpu is not working with movenet on android giving an on device fps of 20 instead of 50 expected with movenet lightning.
Issue can be seen by simply running the official app: https://github.com/tensorflow/examples/tree/master/lite/examples/pose_estimation/android

[2022-11-28 11:19] njzjz commented on #57826
da2606aaf152055dd1996f374dd541aa9bc4a479

[2022-11-28 11:34] mohantym commented on #58697
Hi @triumph-wangyuyang !

I think It is working as intended w.r.to documentation on [tf.gather ](https://www.tensorflow.org/api_docs/python/tf/gather)and [tf.gather_nd](https://www.tensorflow.org/api_docs/python/tf/gather_nd)
Considering float64 for tf.gather and int8 for Gather_nd would be a feature request.

@SuryanarayanaY  !
Could you look at this issue.

Thank you!

[2022-11-28 11:38] SuryanarayanaY commented on #58465
Hi @Urkchar ,
In the gist attached in above comment of mine clearly plotting the model built by
`model = build_mtg_model(mtg_preprocessing, inputs)`.

I again tried to plot both the models,i.e.` model = build_mtg_model(mtg_preprocessing, inputs) ` and also the model created in `def build_preprocessing_model(features):`  in the step `mtg_preprocessing = tf.keras.Model(inputs, outputs)` using the co

[2022-11-28 12:16] #43699 closed

[2022-11-28 12:16] #58531 closed

[2022-11-28 12:32] madhavarora2002 commented on #58623
hey @8700nd , you're a lifesaver!

1. when you said **"manually list out all the native libraries for each manufacturer or silicon vendor"**
What were you referring to? Do we just add the snippet attached by you in the AndroidManifest or do we change the "pixel.so" specifically for each manufacturer.

2. What's the on device fps you're getting with movenet now!!

[2022-11-28 12:50] mohantym commented on #58708
Hi @eipiisneg1 !
Could you post the same code as Colab gist as I was getting different error.
I think It would be better addressed in [Tensorflow/probablity](https://github.com/tensorflow/probability/issues) repo.

Thank you!

[2022-11-28 13:04] tilakrayal commented on #58698
@triumph-wangyuyang,
 It's unlikely for TF 2.4 version to receive any bug fixes except when we have security patches. There is a high possibility that this was fixed with later TF versions. Perhaps you can use the latest tf versions for your case.
 I tried in tf v2.10 and was able to get the expected output. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/9daf47

[2022-11-28 13:05] madhavarora2002 commented on #58497
@mohantym , are you implying that gpu delegate will not work with gradle build? It will only work with bazel builds?
Is this arch specific or does it also apply to arm (qualcomm architecture)

[2022-11-28 13:07] tilakrayal commented on #58702
@triumph-wangyuyang,
In tf v2.4, it was executed with the error and whereas in the latest tf version, the dtype was supported and able to execute without any issue/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/b1100753e80bc279e1770be1d36e3b58/untitled781.ipynb). Thank you!

[2022-11-28 13:09] 8700nd commented on #58623
Hello @madhavarora2002,
1. I think we might need to add them all to AndroidManifest. What I was saying is it's very hard to manually find out what customized libs each manufacturers use and make our app support them
2. Currently I get with Pixel 4 Snapdragon 855
lightning fp16 CPU: 25~ GPU: 30+
thunder int8 CPU: 15~ GPU: 20~ NNAPI: 20~

[2022-11-28 13:12] mohantym commented on #58709
Hi @fjzhangcr !
I could not replicate the same behaviour in 2.9.2 version (default in colab). Attached [gist ](https://colab.sandbox.google.com/gist/mohantym/759864ce37096fd593a5ad03da52b1e3/git_58709.ipynb#scrollTo=A1x7dJBVTpKC)for reference.
Thank you!

[2022-11-28 13:17] triumph-wangyuyang commented on #58698
Thank you for your reply, because the experimental environment requires tensorflow version 2.4, and then I found some problems in this version of the test, I will try to migrate the experiment to the higher version of tensorlfow later.

[2022-11-28 13:34] mohantym commented on #58700
Hi @triumph-wangyuyang !
Could you check with  Cuda 11.2 and CudNN 8.1 and 2.10/2.11
I could not replicate the Same in Colab ( Default config  is 11.2 and 8.1 In Colab).

Thank you!

[2022-11-28 13:36] tilakrayal commented on #58624
@fotlogo,
I was able to reproduce the issue on tensorflow v2.10, whereas on v2.11 I was facing a different issue. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6b56b0071731ecd93ba446786f77037b/untitled786.ipynb). Thank you!

[2022-11-28 13:36] mohantym commented on #58694
Hi @sniafas !
Feel free to raise a PR.
Thank you!

[2022-11-28 13:39] tilakrayal commented on #58621
@svobora,
As mentioned the code was executed without any [issues](https://colab.research.google.com/gist/tilakrayal/55eb4e612b0e4058064fb2f24e418f9f/classification.ipynb) and the document will get updated soon without the error for the future tensorflow  versions. Thank you!

[2022-11-28 13:41] derrickny commented on #58689
hello I was able to fix the issue I used Conda to download tensor flow.Thank you

[2022-11-28 13:41] triumph-wangyuyang commented on #58700
Hello, my experimental environment is CUDA: 11.3 and cuDNN 8.6.0, but I don't have enough network traffic to download the CUDA11.2 version, and I can't reproduce the experiment on CUDA: 11.2 and cuDNN 8.6.0.

[2022-11-28 13:47] mohantym commented on #58700
@triumph-wangyuyang !
That explains the above behavior then. Thanks for sharing your results.

Please stick to Cuda 11.2 and Cudnn 8.1 for 2.11 for now. 2.12 release is already being prepared for a Cuda upgrade (11.6 ) . [Reference.](https://github.com/tensorflow/tensorflow/pull/53409)

Could we consider this resolved for now then.

Thank you!

[2022-11-28 13:49] SuryanarayanaY commented on #58697
Hi @triumph-wangyuyang ,

Thanks for observing it. I have checked the op with dtype `tf.int16` as `indices` and it is not supported both in 2.9.2V and nightly(2.12.0-dev20221128).Attaching here the [gist](https://colab.research.google.com/gist/SuryanarayanaY/e109a9a324fb5882573582a4b7a25e73/58697-2-9-2-nightly.ipynb#scrollTo=uT8paYsCYbsS) for same.

I think the API seems mentioning correct argumen

[2022-11-28 13:55] triumph-wangyuyang commented on #58700
Therefore, tf.image.random_flip_up_down operator and tf.image.random_flip_left_right operator in CUDA: 11.3 cuDNN 8.6.0 are indeed unable to run on GPU, and then the test code can be successfully run in tensorflow 2.11 of Cuda 11.2 and Cudnn 8.1 Yes, did you mean this?

[2022-11-28 14:00] triumph-wangyuyang commented on #58697
Thank you for your reply. If DT_INT16 is removed, the returned exception information will match the document information, which can solve my question.

[2022-11-28 14:16] #42128 closed

[2022-11-28 14:27] triumph-wangyuyang opened #58712 "tf.keras.layers.Layer runs successfully with inappropriate parameters."
### Issue Type

Others

### Source

source

### Tensorflow Version

TF 2.4, TF 2.10

### Custom Code

Yes

### OS Platform and Distribution

windows 11

### Mobile device

_No response_

### Python version

3.8.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA: 11.3    cuDNN 8.6.0

### GPU model and memory

RTX3060

### Current Behaviour?

[2022-11-28 14:46] #58686 closed

[2022-11-28 14:57] AriJeannin commented on #58556
Got the same issue here, looking forward to get Python 3.9 with Tensorflow >=2.11

Thankyou! :)

[2022-11-28 15:00] triumph-wangyuyang opened #58713 "True==1、False==0?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF 2.4, TF 2.10

### Custom Code

Yes

### OS Platform and Distribution

windows 11

### Mobile device

_No response_

### Python version

3.8.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA: 11.3    cuDNN 8.6.0

### GPU model a

[2022-11-28 15:23] miritb opened #58714 "problem in 'tf.mlir.experimental.convert_function' translation to tosa of 'tf.reduce_sum' operation"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.10

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-11-28 16:06] nwatab commented on #38054
Not fixed in my case.

_tensorflow.python.framework.errors_impl.UnknownError: {{function_node __wrapped__ReadFile_device_/job:localhost/replica:0/task:0/device:CPU:0}} : curlCode: 77, Problem with the SSL CA cert (path? access rights?) [Op:ReadFile]_

[2022-11-28 16:12] TaylorZowtuk commented on #58556
@SuryanarayanaY yes your findings and understanding of the docs seem to match mine.

I should also add another point about the following guarantee:

Testing those latest versions specified reveal that they are both Ubuntu 18-based and come with Python 3.6. Here are my findings (tested in a similar manner):
[code]
Since those are the latest versions specified by that guarantee, and they are Ubuntu-

[2022-11-28 16:16] #46618 closed

[2022-11-28 16:21] tilakrayal commented on #58711
@triumph-wangyuyang,
In tensorflow v2.4, the mentioned exception was there but whereas in the latest tf version, it was removed and was able to execute without any issue/error. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/6e7eef8725c5607410c22cd6fc9837ae/untitled779.ipynb). Thank you!

[2022-11-28 16:25] tilakrayal commented on #58698
@triumph-wangyuyang,
From the [gist](https://colab.research.google.com/gist/tilakrayal/9daf47fea5a016bb64e5e867dc98e0b9/untitled780.ipynb) it was clear that the issue was resolved in the latest tf v2.10 and please feel free to move this to closed status. Thank you!

[2022-11-28 16:26] tilakrayal commented on #58702
@triumph-wangyuyang,
From the [gist](https://colab.research.google.com/gist/tilakrayal/b1100753e80bc279e1770be1d36e3b58/untitled781.ipynb) it was clear that the issue was resolved in the latest tf v2.11 and please feel free to move this to closed status. Thank you!

[2022-11-28 16:46] Zhaopudark commented on #58629
@SuryanarayanaY
Thanks for your detailed information, I will always look forward to a better and widely supported TensorFlow.
And, this issue can be closed.
Thank you.

[2022-11-28 16:46] #58629 closed

[2022-11-28 17:04] mohantym commented on #58700
Hi @triumph-wangyuyang !
I meant tested Cuda config is recommended as you said It worked for  Cuda 11.2  and CudNN 8.6 worked for you. We have seen you good amount of GPU issues replicating on Cuda 11.3 or higher version. Tested config always works for most of the cases.

@SuryanarayanaY !
Could you comment on this.

[2022-11-28 17:59] Hyperparticle commented on #58642
I suspect there might be some issue with `tf.function` retracing, as evidenced by this warning:
[code]

It's very possible that a new graph is being constructed on each call, causing them to build up in memory. We have a `tf.function` wrapper around our 3D convolution [here](https://github.com/tensorflow/models/blob/master/official/vision/modeling/layers/nn_layers.py#L1053), which I believe is wha

[2022-11-28 18:04] Jverduzc commented on #57672
Following up on this issue of adding tf.pad() option for 'wrap' as available in np.pad()

[2022-11-28 18:06] cantonios commented on #57672
Sounds fine to me if you'd like to add it as a new feature.

[2022-11-28 18:52] occhialidaleso opened #58715 "On threading library using the GPU implementing multithreaded RL algorithm"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

(v2.11.0-rc2-17-gd5b57ca93e5 2.11.0) But tried many different 2.11 versions

### Custom Code

Yes

### OS Platform and Distribution

Ubuntu 22.04.1 LTS

### Mobile device

Ubuntu 22.04.1 LTS

### Python version

3.10 and 3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No respon

[2022-11-28 18:56] sun51 commented on #35063
example is added, you will find it in the nightly documentation

[2022-11-28 19:01] mariatsampazi commented on #56356
Hi @penpornk, have you managed to figure it out?

[2022-11-28 19:40] ANTZ314 opened #58716 "ImportError: libflatbuffers.so.2"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.4

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 22.04

### Mobile device

Linux Ubuntu 22.04

### Python version

3.9.15

### Bazel version

n/a

### GCC/Compiler version

gcc (Ubuntu 11.3.0-1ubuntu1~22.04) 11.3.0

### CUDA/cuDNN version

11.7.0 / 8.4.1

[2022-11-28 22:37] Alantlb opened #58721 "How to write to input tensors in custom op?"
<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Source

binary

### Tensorflow Version

tf 2.8

### Custom Code

Yes

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memor

[2022-11-28 22:37] eipiisneg1 opened #58722 "Mac M1"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

macOS Ventura 13.0.01

### Mobile device

_No response_

### Python version

3.10 or up

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model a

[2022-11-28 22:37] Alantlb commented on #58721
How can I write to input tensors in a custom op? I can read and write to output tensors but only read on inputs. (compiling outputs "assignment of read-only location" error when trying to write to input tensor). I want to write an inplace op, and making it inplace is crucial for my project, as writting the results to an output tensor and then assigning the output to the variable is too slow). Here

[2022-11-28 22:50] apivovarov commented on #58248
@bixia1 , @sushreebarsa - just want to check if you were able to reproduce the issue

[2022-11-28 23:33] rsandler00 commented on #58642
@Hyperparticle using
[code]
Did indeed solve the problem! Thanks so much!

[2022-11-28 23:36] Hyperparticle commented on #58642
Excellent! Glad I could help. Please reopen this issue if you still have a memory leak, or open a new one if you encounter a different issue.

[2022-11-29 00:08] triumph-wangyuyang commented on #58702
thank you for your reply

[2022-11-29 00:08] #58702 closed

[2022-11-29 00:10] triumph-wangyuyang commented on #58698
thank you for your reply

[2022-11-29 00:10] #58698 closed

[2022-11-29 00:11] triumph-wangyuyang commented on #58711
Thanks for your reply, I have tested it in the new version of tf.

[2022-11-29 00:11] #58711 closed

[2022-11-29 00:40] tiruk007 commented on #58696
@sushreebarsa
I was able to reproduce the issue on Colab using TF v2.11. Please find the  gist [here](https://colab.research.google.com/gist/tiruk007/9bf09f6466ba93b05f608f2f10a9346b/58696.ipynb) for reference.

Thank you!

[2022-11-29 01:04] Urkchar commented on #58465
It appears as though your gist is plotting both of the models correctly.

One of the only differences I can tell between your code and my code is that you plot the `model` first and then the `mtg_preprocessing`. In my code, I plot the `mtg_preprocessing` first and then the `model`.

[2022-11-29 01:06] krahnikblis commented on #46685
+1up

[2022-11-29 01:25] tiruk007 commented on #58707
@sushreebarsa
I was able to reproduce the issue and please find the gist [here](https://colab.research.google.com/gist/tiruk007/0d99c63cc7f7cb9dbe8e0be96d51fe8e/58707.ipynb) for reference.
Thank you!

[2022-11-29 02:33] fjzhangcr commented on #58709
the version of the tf on my pc is 2.8, it shows the converter.convert() goes wrong~~~
but the tf of 2.8 or 2.9 on colabe shows everything goes well...
is it common or wired tf may be install incorrectly on my pc? i was using pip install tensorflow==2.8 on anaconda to setup my virtual env....this env seems ok when i used it.

![sunlogin_20221129102607](https://user-images.githubusercontent.com/1020

[2022-11-29 02:44] sampathweb commented on #57645
@ducvinh-nguyen - Thank you for your patience.  I took your code and ran some experiments and observed that there's no difference between TF2 and TF1 when using a TF Dataset.
*Observation*: TF1 is much faster than TF2 when using plain Numpy Arrays as inputs
TF2 converts all data to TF Dataset, whereas TF1 has special logic for in-memory Numpy arrays that makes it fast. But most training will not b

[2022-11-29 04:10] Denzeduous opened #58723 "Cannot install tensorflow 2.3.0"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

binary

### Tensorflow Version

2.3.0

### Custom Code

No

### OS Platform and Distribution

Windows 10

### Mobile device

_No response_

### Python version

3.7

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No r

[2022-11-29 04:16] #58538 closed

[2022-11-29 04:30] learning-to-play commented on #58687
Adding @vam-google who is driving TensorFlow protobuf upgrade.

[2022-11-29 05:06] sachinprasadhs commented on #47170
Could you please provide more context on this and why do you feel this issue needs to be closed. Thanks!

[2022-11-29 05:14] rohitreddy21122000 commented on #58544
Thank you it worked for me

On Mon, Nov 28, 2022, 18:46 google-ml-butler[bot] ***@***.***>
wrote:

[2022-11-29 05:16] #58549 closed

[2022-11-29 05:16] #50479 closed

[2022-11-29 05:48] learning-to-play commented on #53234
Adding @vam-google who's looking at protobuf upgrade.

[2022-11-29 07:32] pjpratik commented on #41218
I was able to replicate this issue in TF Nightly 2.12.0-dev20221127, please find the attached gist [here](https://colab.research.google.com/gist/pjpratik/c80f2d522948abf676829c672441d421/41218.ipynb). Thank you.

[2022-11-29 07:41] vidyadhar-m opened #58726 "MultiHeadAttention layer bug with attention_mask computation if we pass attention_axes"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

2.11.0 (GIT version: v2.11.0-rc2-17-gd5b57ca93e5)

### Custom Code

Yes

### OS Platform and Distribution

MacOS 13.0.1

### Mobile device

_No response_

### Python version

3.9.6

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No res

[2022-11-29 07:52] pjpratik commented on #33755
@skearnes Could you please check at this [gist](https://colab.research.google.com/gist/pjpratik/5735a80d0f6f89b2bafd3f226455d5e3/33755.ipynb) for reference and let us know if it helps. Thank you.

[2022-11-29 09:04] mohantym commented on #58713
Hi @triumph-wangyuyang !
As tf.keras.layers.LocallyConnected2D [inherits ](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LocallyConnected2D#:~:text=Inherits%20From%3A%20Layer%2C%20Module) base class layers and Module, It would inherit its property trainable attribute which should be a boolean (Either True/False) in 2.10 version as mentioned in  [tf.keras.layers.Layer](https://www.tens

[2022-11-29 09:16] #43708 closed

[2022-11-29 09:48] vidyadhar-m commented on #58726
FYI: Adding `x = tf.concat(x, axis=0)` after embedding layer call seems to fix the issue with mask. I am not sure why that is the case. So final code snipper for call function:
[code]

[2022-11-29 09:50] SuryanarayanaY commented on #58700
Hi @triumph-wangyuyang ,

Actually we recommend users to use tested configurations only as per documentation.Using other configurations may create compatibility issues. Currently TF 2.10 & 2.11 tested on CUDA 11.2 as per [documentation](https://www.tensorflow.org/install/source_windows#gpu) and higher versions of CUDA support not guaranteed on TF2.10 .

We got update that from 2.12 version(tf-nigh

[2022-11-29 10:16] #42127 closed

[2022-11-29 10:31] MemoonaTahira commented on #57671
Same question, I have tensorrt version 8.5.1.7 installed with cudatoolkit=11.2, cudnn=8.1, python=3.10 and tensorflow=2.11, and tensorflow comaplains it cannot find `Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7:` even though libnvinfer.so.8 is installled inside the tensorrt folder and in the path.

To install tensorrt 7, I will need to downgrade to python 3.8 and I do

[2022-11-29 10:41] bhack commented on #47170
If it is not planned for the "old" bridge with the new bridge `tf.config.experimental.enable_mlir_bridge()` is probably https://github.com/tensorflow/tensorflow/issues/52030

As I see

[code]

[2022-11-29 10:46] SuryanarayanaY commented on #58556
@TaylorZowtuk ,

Thanks for all your hardwork and time you put on this issue.We will definitely verify and rectify wherever corrections/clarifications needed and the same will be updated.

Thankyou!

[2022-11-29 11:15] mohantym commented on #48431
Hi @javierFerreroM !
We are checking to see whether you still need help in this issue .
Work around is add the op from OpResolver in the C++ code.
[code]
[Reference.](https://github.com/tensorflow/tflite-micro/issues/284#issuecomment-880339107)

[2022-11-29 11:25] #50383 closed

[2022-11-29 11:33] mohantym commented on #44789
Hi @EliZucker !
Could you test with instructions  from[ TFLite-micro repo ](https://github.com/tensorflow/tflite-micro)
Work around was add the respective op from OpResolver in the C++ code.
[code]
[Reference.](https://github.com/tensorflow/tflite-micro/issues/284#issuecomment-880339107)

[2022-11-29 11:35] MadhuriPatil1694 opened #58728 "Tensorflow v2.10.0 incompatible with flatbuffer v2.0.5"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

tf 2.10.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04.5 LTS (Focal Fossa) ARM V8 Processor

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

gcc version 9.4.0 (Ubuntu 9.4.0-1ub

[2022-11-29 11:46] mohantym commented on #43232
Hi @HMellor  !
We are checking to see whether you still need help in this issue .
Have you  checked from 2.10/2.11 tensorflow lite run time. I can see Conv2D in built in[ ops allow list ](https://www.tensorflow.org/mlir/tfl_ops#tflconv_2d_mlirtflconv2dop )now .

If issue still persists, Please check with work around in below similar issues or post in [TFlite-micro](https://github.com/tensorflow/tf

[2022-11-29 12:16] tiruk007 commented on #58703
@triumph-wangyuyang
This issue is closed when [PR](https://github.com/tensorflow/tensorflow/pull/58725) is merged.
Thank you!

[2022-11-29 13:12] sushreebarsa commented on #58109
@MinaAku Could you please refer to the comment above and let us know?
Thank you!

[2022-11-29 13:28] SuryanarayanaY commented on #58606
@sachinprasadhs could you please look into the issue?

[2022-11-29 14:22] triumph-wangyuyang commented on #58700
I just ran the above two test codes of tf.image.random_flip_left_right and tf.image.random_flip_up_down in CUDA11.2, cudnn8.1, tensorflow2.11, and found that it can be successful.
In order to test the impact not caused by cuda and cudnn versions, I tested in CUDA11.3, cudnn8.6, tensorflow2.11 and found that it can also run successfully.
According to the above two results, it can be explained that

[2022-11-29 14:26] Karnickeln opened #58729 "GPU could not be recognized on Windows 11"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

v2.11.0-rc2-15-g6290819256d 2.11.0

### Custom Code

No

### OS Platform and Distribution

Edition: Windows 11 Home ; Version: 22H2; OS build：22621.819; Experience: Windows Feature Experience Pack 1000.22636.1000.0

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler

[2022-11-29 14:29] triumph-wangyuyang commented on #58713
thank you for your reply.

[2022-11-29 14:29] #58713 closed

[2022-11-29 14:43] mihaimaruseac commented on #57671
CC @learning-to-play @rishikasinha-tf

[2022-11-29 14:44] mihaimaruseac commented on #57671
Also, duplicates #57679?

[2022-11-29 14:45] mihaimaruseac commented on #57679
Duplicates #57671?

[2022-11-29 15:06] MemoonaTahira commented on #57671
In case this helps,

I just downgraded to python 3.8, and installed tensorrt with pip install nvidia-tensorrt, and it installed nearly 2.2 GB worth of packages as dependencies, including cublas, cuda-nvrtc, cuda-runtime and cudnn. I also had to add tensorrt to path. And I also had to install cudatoolkit + cudnn (11.2 and 8.1) again for the correct version for tensorflow 2.10 via conda. (since thes

[2022-11-29 15:08] markub3327 commented on #57679
Probably yes.

I have the same issue with TF 2.11.0 and TensorRT 8.5.1-1+cuda11.8.

[2022-11-29 15:16] #50776 closed

[2022-11-29 15:26] gsirocco commented on #58206
Hi @miaout17 @sachinprasadhs @mohantym, checking for any progress on this issue? Thanks!

[2022-11-29 15:32] sniafas opened #58731 "TF 2.11 fails to compile on Linux with GPU support - Model Loads - Inference Fails"
<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Source

source

### Tensorflow Version

2.11

### Custom Code

No

### OS Platform and Distribution

Debian 11

### Mobile device

_No response_

### Python version

3.9

### Bazel version

5.1.1

### GCC/Compiler version

9.3.0

### CUDA/cuDNN version

11.2,8.1

### GPU model and memory

RTX 3060/12G

### Current Be

[2022-11-29 15:51] mohantym commented on #58674
Hi @twerkmeister !
Thanks for sharing your observation on installation on Windows through poetry.

@SuryanarayanaY !
Could you look at this issue.

Thank you!

[2022-11-29 16:16] #43650 closed

[2022-11-29 16:16] #50555 closed

[2022-11-29 16:16] #53417 closed

[2022-11-29 17:15] learning-to-play commented on #57679
Hi @rishikasinha-tf, Could you please take a look?

[2022-11-29 17:16] #56125 closed

[2022-11-29 18:02] mihaimaruseac commented on #58731
`tensorflow` and `tensorflow-gpu` are the same thing since TF 2.0

[2022-11-29 18:03] mihaimaruseac commented on #58674
CC @nitins17 @learning-to-play

[2022-11-29 19:03] tiruk007 commented on #58693
@triumph-wangyuyang
There is internal PR created. Once the PR merged issue will close.

Thank you

[2022-11-29 19:26] pfk-beta opened #58732 "Expecting the same names when converting to tflite model"
Hello,

I have created very simple model, and I want to export it to tflite model, to benchmark it on android device, and run simple inferences. This is code to create model:
[code]
environment: google colab

I expect, that tflite model would have `input0`, `input1`, `input2` input names, and `output0` , `output1` output names. But...
Real names are: `serving_default_input0:0`, `serving_default_in

[2022-11-29 19:32] sniafas commented on #58731
Hi @mihaimaruseac

when compiling from source with CUDA support the built pip wheel should have the following format
[code]
and when not, this format
[code]
For some reason the configuration above does not produce the first format

[2022-11-29 19:54] sachinprasadhs commented on #47170
Understood, thanks for providing insight on the issue.
Do you feel this issue could be related to the issue which you have created https://github.com/tensorflow/tensorflow/issues/58051 as well.
In that case, we can close this and track the progress in the above 2 linked issues.

[2022-11-29 20:04] sachinprasadhs commented on #58706
Hi, Thanks for highlighting the issue. I have reopened the related issue here https://github.com/tensorflow/tensorflow/issues/56795.
Could you please close this issue, since it is better to track the progress in a single thread. Thanks!

[2022-11-29 20:04] mihaimaruseac commented on #58731
This is not true, has not been true since TF 2.0.

If you look on PyPI, `tensorflow` and `tensorflow-gpu` packages are identical, except the name

[2022-11-29 22:10] sachinprasadhs commented on #56458
@ghylander , Thanks for confirming the working example, although changing from `tf.keras.optimizers.Adam()` to `tf.optimizers.Adam()` is also not necessary, since all these are aliases for [Adam optimizer](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam#expandable-1).
@Arnold1 , Could you please try as suggested above or try downloading the latest file for Tensorflow 2.11 from

[2022-11-29 22:41] elbaro commented on #57645
Having the same performance issue in prediction.
Unlike `model.fit(large_dataset)`, we cannot use `model.predict(large_dataset)` as the result doesn't fit into the memory.

[code]

@sampathweb Given TF Dataset, what do you suggest for the code like the above?

[2022-11-29 22:56] sachinprasadhs commented on #58093
@elfringham , did you try with gcc 10.2.1 against Nightly/master brach, if so, we can test and update the gcc version for the upcoming 2.12.0 release.

[2022-11-29 23:11] sachinprasadhs commented on #58683
The log output for the Version has been completed in the PR https://github.com/tensorflow/tensorflow/commit/8033edfef8bcd90b025fb66c488164d2b608c4a9 to remove the version dependency, with this change it automatically selects the version instead of `schema_fbs_version` which is deprecated.

[2022-11-29 23:12] mihaimaruseac commented on #40614
Moving away from me since I left the team 6 months ago, assigning to current manager of OSS team.

Status here is this:

We need to understand why `bazel build` does not trigger the `if not is_windows(...)` lines.

[2022-11-29 23:16] #58379 closed

[2022-11-29 23:19] mihaimaruseac commented on #13627
Closing since HDFS is no longer provided by TF itself

[2022-11-29 23:19] #13627 closed

[2022-11-29 23:19] mihaimaruseac commented on #13124
Closing as HDFS is no longer supported by TF itself

[2022-11-29 23:19] #13124 closed

[2022-11-29 23:28] sampathweb commented on #57645
@elbaro - Thanks for the follow-up question and code snippet.  Looks like `model.predict(large_dataset)` is running into OOM, because there's not memory to fit the Results of the entire computation along with the specified batch_size in dataset / predict function.  I would suggest, you could reduce the batch size for `model.predict`, so its able to fit the results and also process the inputs.

The

[2022-11-29 23:36] elbaro commented on #57645
Do you mean `model.predict` is preferred over `predict_on_batch` even for a single minibatch? (#1, #2 are always better than #3)?

[code]

[2022-11-29 23:41] sampathweb commented on #57645
I was not suggesting that.  I was suggesting that reduce the batch size to 1/2 of what's used in training, but keep the function as `model.predict(large_dataset, batch_size=0.5*train_batch_size)`.
Alternatively, you could chunk the dataset into smaller dataset, but still much larger than what fits in memory.  For example, if you have 1M files, create a dataset with 200K files and call `model.predi

[2022-11-29 23:47] elbaro commented on #57645
Thanks, I understood. predict() still creates the overhead but has an advantage that it reduces the number of overhead calls to `1/(len(dataset)/batch_size)`.

[2022-11-30 00:16] #57620 closed

[2022-11-30 00:25] abrahamadamu commented on #34025
I used `model(x)` instead of `model.predict(x)` And it worked for me

[2022-11-30 01:04] terryheo commented on #58206
@gsirocco  you've changed output type to int8 so it has int8 outputs [-128 127 127 ... -48 -48 127] instead of float outputs [0. 1. 0. ... 1. 0. 1.]. Could you share what wrong with this?

[2022-11-30 01:16] #57834 closed

[2022-11-30 01:22] agramesh1 commented on #58676
It looks TF2.9.1 doesn't seem to have the memory issue.

[2022-11-30 01:39] gsirocco commented on #58206
Even though the TF model has float, the input and output of the model is just 0s and 1s. The output of the TF invocation is correct and printed out ([0. 1. 0. ... 1. 0. 1.]). The TFLite invocation output is printed and is incorrect and depends on the representative dataset, which is just a series of random 0's and 1's. Depending on the representative dataset random sequence of 0's and 1's the outp

[2022-11-30 01:47] triumph-wangyuyang opened #58737 "tf.keras.metrics.mean_absolute_error exception information is misleading."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF 2.11

### Custom Code

Yes

### OS Platform and Distribution

windows 11

### Mobile device

_No response_

### Python version

3.8.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA: 11.2    cuDNN 8.1

### GPU model and memory

[2022-11-30 01:49] triumph-wangyuyang commented on #58737
tf.keras.metrics.mean_absolute_percentage_error has the same behavior.

[2022-11-30 01:55] triumph-wangyuyang commented on #58737
tf.keras.metrics.mape has the same behavior.

[2022-11-30 02:01] triumph-wangyuyang commented on #58737
tf.keras.metrics.mean_absolute_percentage_error, tf.keras.metrics.mape, tf.keras.metrics.MAPE, tf.keras.metrics.mae, tf.keras.metrics.MAE have the same performance.

[2022-11-30 02:04] triumph-wangyuyang commented on #58737
In fact, this kind of problem can be traced back to the operators in the `tf.keras.losses.*` directory.

[2022-11-30 02:30] tiruk007 commented on #58712
@triumph-wangyuyang
There was a bug in the TF v2.4 version, it got fixed in the later version which is the TF2.5 version. Perhaps you can use the latest tf versions for your case. I was able to get expected output in TF v2.5 and TF v2.10. Please find the gist of it [here](https://colab.sandbox.google.com/gist/tiruk007/3e2dc635bb6ba1e4f9d8f69d32f6605c/58712.ipynb#scrollTo=puGt-p_ZmCkq) for referenc

[2022-11-30 02:59] triumph-wangyuyang commented on #58712
Thanks for your reply, my problem has been solved.

[2022-11-30 03:13] rr191211 commented on #56518
I am facing this issue with TF 2.11, anyone could help? Thanks.

[2022-11-30 03:15] LIONEFAN opened #58738 "tf2.11 tf.profiler.experimental doesn't generate trace.json.gz and other files compared with tf2.10"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.11

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

Linux Ubuntu 20.04

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-11-30 03:37] SuryanarayanaY commented on #43379
Hi @mdatsev ,

I studied your code and i found mistake with the data shapes you are passing to generator object which is not as per model architecture and hence the shape mismatch error.I have corrected the code and now model is working fine and training also happening.Please refer to attached [gist](https://colab.research.google.com/gist/SuryanarayanaY/f5f259f330f0157503f495897a2d9337/43379-final

[2022-11-30 04:13] mohantym commented on #58737
Hi @triumph-wangyuyang !
Thanks for reporting this bug.

Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) .

[2022-11-30 04:29] tilakrayal commented on #58689
@derrickny,
Glad the issue is resolved for you, Could you please feel free to move this to closed status. Thank you!

[2022-11-30 04:32] chrsunwil commented on #58681
Hi @mohantym.

I'm actually having the same (at least very similar) issue on a fresh install of `Ubuntu 22.04` running on metal.

Usin `tensorflow 2.11`

I followed the guide [here](https://www.tensorflow.org/install/pip) and can confirm that I did use
`conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0`.

Tensorflow can find my gpu, but it has issues once it tries to train.

I'm using a `G

[2022-11-30 05:16] #58354 closed

[2022-11-30 05:53] mohantym commented on #58723
Hi @Denzeduous !
Thanks for sharing your observation. I can replicate this issue in my local windows machine.
Supported version list seems to be  restricted to >2.8.0rc1 and < 2.11 now.

2.3/2.4 version are pretty outdated.
Could you check with 2.8.1 or higher version (<2.11 for pip  or Direct ML plugin for higher version) and let us know.
Attached relevant [thread ](https://www.tensorflow.org/ins

[2022-11-30 06:41] mohantym commented on #58729
Hi @Karnickeln !
Sorry for the late response.
2.11 is last version supported GPU version through pip installation .

It is showing "True" to me for versions < 2.11.
For greater than 2.11, You have to use Tensorflow-Direct ML plugin for GPU usage.
[
Reference.](https://www.tensorflow.org/install/pip#:~:text=Nightly-,Caution%3A%20TensorFlow%202.10%20was%20the%20last%20TensorFlow%20release%20that%20s

[2022-11-30 07:03] triumph-wangyuyang commented on #58737
tf.losses.mean_absolute_error, tf.losses.mean_absolute_percentage_error, tf.losses.mape, tf.losses.MAPE, tf.losses.mae, tf.losses.MAE; tf.keras.losses.mean_absolute_error, tf.keras.losses. mean_absolute_percentage_error, tf.keras.losses.mape, tf.keras.losses.MAPE, tf.keras.losses.mae, tf.keras.losses.MAE; in addition, you can find this in tf.losses and tf.keras.losses situation.

[2022-11-30 07:20] sushreebarsa commented on #42319
@DavidInWuhanChina Could you please refer to this[ link](https://www.tensorflow.org/guide/function#python_side_effects) for avoiding the side effects. Please try to wrap the TF model only in the function to export to TF Lite with the latest TF version 2.11, instead of everything including preprocessing and postprocessing. Thank you!

[2022-11-30 07:21] mohantym commented on #58709
Hi @fjzhangcr !
I was able to get a tflite model after following instructions from [windows](https://www.tensorflow.org/install/pip#windows-native)

Could you create a new environment as per above instruction and let us know whether it works.
Thank you!

[2022-11-30 07:42] lukas-koblmueller commented on #58683
but will this also affect the Log output from the Interpreter here:
https://github.com/tensorflow/tensorflow/blob/bb5ff1b22f5d4d6bf937dcd71f8b710064eadce6/tensorflow/lite/core/interpreter.cc#L97

[2022-11-30 07:46] triumph-wangyuyang opened #58739 "The input type of the tf.math.sqrt operator parameters does not match the exception information."
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

source

### Tensorflow Version

TF 2.4

### Custom Code

Yes

### OS Platform and Distribution

windows 11

### Mobile device

_No response_

### Python version

3.8.15

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

CUDA: 11.2    cuDNN 8.1

### GPU model and memory

[2022-11-30 08:44] mohantym commented on #58716
Hi @ANTZ314 !
Please avoid multiple installations while setting up Tensorflow.

Could  you created a fresh environment through conda and  install tensoflow through pip instead of Conda.
Attached  ["pip install Instruction for linux"](https://www.tensorflow.org/install/pip#linux) for reference.
Thank you!

[2022-11-30 09:16] #20280 closed

[2022-11-30 09:21] twerkmeister opened #58740 "Tensorflow >=2.10 windows - model.load_weights file handling issue"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.10 and 2.11

### Custom Code

No

### OS Platform and Distribution

Windows Server 2019

### Mobile device

_No response_

### Python version

3.9

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

[2022-11-30 09:31] elfringham commented on #58093
@sachinprasadhs Yes, gcc 10.2.1 has been used to build and test TensorFlow master branch on AARCH64 since September 2021, so more than a year, on the Linaro CI.

[2022-11-30 09:46] mohantym commented on #20280
Hi @tekumara !
You can route support or custom build issues to TF forum .(It is actively monitored and answered by Respective code owners/maintainers).
Thank you!

[2022-11-30 09:53] vipeano commented on #58587
Hi,

thank you to pointing to this bug in my bug report :-)

The code I posted was incomplete. The bug only appears  if one is also fixing the global seed with tf.keras.utils.set_random_seed()

[Here](https://colab.research.google.com/drive/1apyhAobce0RAGpOThyu_RAFn7peXJhzU#scrollTo=iF6F6pSZMO2d) is a link to a colab reproducing the bug (it is there also in tf. 2.9.2).

Best,

Vittorio

[2022-11-30 10:16] #41684 closed

[2022-11-30 10:28] sssstudyy commented on #56420
@guweixin pardon,have you solved this question? I have met the same error today, Any help would be appreciated!

[2022-11-30 10:32] tilakrayal commented on #58676
@sachinprasadhs,
I was able to reproduce the issue on tensorflow v2.9, v2.11 and nightly. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/0e64b18a3d6f3702585d9fd4603f7112/untitled776.ipynb).

[2022-11-30 10:55] Liso7150 commented on #58032
How work proceses for now?

[2022-11-30 10:56] triumph-wangyuyang commented on #58737
Thanks for your reply, I went to Keras repo to report the bug.

[2022-11-30 11:04] sniafas commented on #58731
Frankly speaking, since my architecture is kind of old (1st gen i-core), I have been compiling from source quite a while.
I suppose that there has to be some kind of special argument in bazel compiler, complementary to CUDA.
If I have an update for the latest TF version, I ll keep you posted

[2022-11-30 11:14] pfk-beta opened #58741 "Tensorflow Lite Benchmark tool possible error when specifing input_layer_value_files"
<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9

### Custom Code

No

### OS Platform and Distribution

linux

### Mobile device

android

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

###

[2022-11-30 11:26] pfk-beta commented on #58741
Do I need to specify shapes as well?

[2022-11-30 11:31] pfk-beta commented on #58741
Ok, so I have read source code: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/benchmark/benchmark_tflite_model.cc#L314

It looks like, documentation is different than source code, or someone has made a mistake. In command description is written: "espace colon with backslash", but in source code "colon is escaped with colon".

[2022-11-30 11:32] pfk-beta commented on #58741
Then you may need to specify input layers in second argument. Issue can be closed.

[2022-11-30 11:42] SuryanarayanaY commented on #58700
Hi @triumph-wangyuyang ,

As i told you we can assure performance guarantees for the tested configurations and if there is problem then sure it will be taken up for resolution. The untested versions may or may not function as intended.Since every time when TF updates versions compatibilities they will be tested and problems if any will be taken care before release itself.

Even in TF 2.10 with CUD

[2022-11-30 11:48] mohantym commented on #58737
@triumph-wangyuyang !
Thanks for the update. It would be great if you share the Keras tracker here too.
Closing this issue for now.

Thank you!

[2022-11-30 11:48] #58737 closed

[2022-11-30 12:11] mohantym commented on #58740
Hi @twerkmeister !
I was able to run above code by changing folder paths as below.

with

Attached [gist](https://colab.sandbox.google.com/gist/mohantym/06d1de7c966060c8739e84c12dda2a1f/git_58740.ipynb#scrollTo=5UyeP_2XX-rs) for reference.

Could you give us an update from your side.

Thank you!

[2022-11-30 12:14] Karnickeln commented on #58729
Oh, thanks, I just noticed I was on the Chinese version of the website, which is updated more than a year ago. I'll check this new instruction or try again with the older version of tensorflow.

[2022-11-30 12:31] epetrovski commented on #58681
I started experiencing this issue in a Docker container. The Docker image had not changed (ie. my CUDA setup) but I noticed that TensorFlow's Keras dependency was updated to v. 2.11. I've locked Keras to v. 2.10 and now everything works again.

[2022-11-30 12:46] triumph-wangyuyang commented on #58696
I found that many operators (tf.math.reduce_mean, tf.math.reduce_std, etc.) have this problem, and then using the same code, by comparing the results of Tensorflow2.11 and Tensorflow2.10 versions, I found that
`6034766930529145842` may mean `DT_INT8, DT_COMPLEX64, DT_INT64, DT_QINT8, DT_QUINT8, DT_QINT32, DT_BFLOAT16`.

[2022-11-30 13:30] triumph-wangyuyang commented on #58700
Thank you for your reply. I just ran in CUDA 11.2, cudnn8.1.1, tensorflow-gpu 2.10.0, windows 11 environment, and found that the CPU succeeded, but the GPU failed. I don’t understand why you can run successfully. Is it because the operating system is windows?

`python:3.8`
`CUDA:11.2`
`cudnn:8.1.1`
`OS: Windows 11`
`Tensorflow:2.10.0 (pip install tensorflow-gpu==2.10)`

[2022-11-30 13:35] tilakrayal commented on #44174
@coolcodecding,

Could you please try as mentioned below  and also please try with the  instructions from [ TFLite-micro repo ](https://github.com/tensorflow/tflite-micro) for the  further report.

[code]

Also please take a look at this comment as the [reference](https://github.com/tensorflow/tflite-micro/issues/284#issuecomment-880339107). Thank you!

[2022-11-30 13:58] tilakrayal commented on #58738
@LIONEFAN,
I tried to execute the mentioned code and was able to fetch the similar output in both tensorflow versions 2.10 and 2.11. Kindly find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/a6d3f2e5e099ab98b42163b0ad04ba9f/untitled788.ipynb) and the images for the reference.
![image](https://user-images.githubusercontent.com/81610181/204815128-c3146756-412f-469b-8360-af7

[2022-11-30 14:07] mihaimaruseac commented on #58731
Yes, the naming of the wheel is not too relevant (it's controlled by some flag). The build config you posted should compile the GPU kernels though

[2022-11-30 14:25] bhack commented on #58739
/cc @cantonios

[2022-11-30 15:07] twerkmeister commented on #58740
I know it works fine on Linux 👍 and it even runs without your proposed change. However, **on windows**  our CI crashes with the provided errors when fine tuning models or when temporary directories are cleaned up after loading models from them. The provided snippets represent what I was able to trace down would lead to crashes **on windows**.

[2022-11-30 15:10] twerkmeister commented on #58740
I might have misunderstood, sorry, let me test the provided change on windows.

[2022-11-30 15:13] SuryanarayanaY commented on #58700
@triumph-wangyuyang ,
i tried with `pip install tensorflow-gpu==2.10` in colab and there is no error here as per this [gist](https://colab.sandbox.google.com/gist/SuryanarayanaY/5c951b1e95bf5d25436e608cb125585e/58700-2-10-gpu.ipynb).

The difference may be due to the OS.Colab uses Linux environment.I should test this on Windows 11 OS environment.Let me check and confirm.

Thankyou!

[2022-11-30 15:20] twerkmeister commented on #58740
I tested the proposed change on windows, and I am getting the same error as before.

All the provided snippets work on linux. On windows, however, the `model.load_weights(tf_model_file)` makes the operations that follow it fail.

[2022-11-30 16:25] cantonios commented on #33131
The RFC has been up for a bit.  Adding a link here in case anyone wants to provide input.

Comments are invited to the [pull request](https://github.com/tensorflow/community/pull/433). You can view the [design doc here](https://github.com/tensorflow/community/blob/77aa8fd5ea9c54bf1f08e9d25113aaa1ea90ba20/rfcs/20221020-tensor-indexed-updates.md), and also [leave comments inline](https://github.com/

[2022-11-30 16:26] cantonios commented on #51582
An RFC tp address this has been up for a bit.  Adding a link here in case anyone wants to provide input.

Comments are invited to the [pull request](https://github.com/tensorflow/community/pull/433). You can view the [design doc here](https://github.com/tensorflow/community/blob/77aa8fd5ea9c54bf1f08e9d25113aaa1ea90ba20/rfcs/20221020-tensor-indexed-updates.md), and also [leave comments inline](http

[2022-11-30 16:26] cantonios commented on #55812
An RFC to address this has been up for a bit.  Adding a link here in case anyone wants to provide input.

Comments are invited to the [pull request](https://github.com/tensorflow/community/pull/433). You can view the [design doc here](https://github.com/tensorflow/community/blob/77aa8fd5ea9c54bf1f08e9d25113aaa1ea90ba20/rfcs/20221020-tensor-indexed-updates.md), and also [leave comments inline](http

[2022-11-30 16:27] cantonios commented on #56381
An RFC to address this has been up for a bit.  Adding a link here in case anyone wants to provide input.

Comments are invited to the [pull request](https://github.com/tensorflow/community/pull/433). You can view the [design doc here](https://github.com/tensorflow/community/blob/77aa8fd5ea9c54bf1f08e9d25113aaa1ea90ba20/rfcs/20221020-tensor-indexed-updates.md), and also [leave comments inline](http

[2022-11-30 16:34] cantonios commented on #58739
@triumph-wangyuyang feel free to create a pull request to update the documentation.  In most of these, it's just a matter of adding text to one of the python docstrings, e.g. [here](https://github.com/tensorflow/tensorflow/blob/abd266147c2e108796a5dbf28b0a8f16297bd98d/tensorflow/python/ops/math_ops.py#L333).

[2022-11-30 16:54] bhack commented on #58739
@cantonios one of these days it could be nice if we could directly generate these from the ops def GT.

[2022-11-30 16:55] NSalberg commented on #58681
I can confirm I installed the cuda files through those instructions.

Anyways, I was able to get TensorFlow running with my gpu by installing it in a new conda environment using this command
[code]
albeit not the latest version.

[2022-11-30 16:56] NSalberg commented on #58681
I can confirm I installed the cuda files through those instructions.

Anyways, I was able to get TensorFlow running with my gpu by installing it in a new conda environment

[2022-11-30 17:17] cantonios commented on #58739
Yes, I know.  They are generated for some ops - just not ones that have their own python docstrings.  Otherwise, a check to detect when the docs are stale would be useful.

[2022-11-30 18:53] epetrovski commented on #58681
I'm pretty sure this is due to the fact that tensorflow 2.11 requires keras >= 2.11, wheras tensorflow 2.10 requires keras >= 2.10. This issue seems to be due to keras v. 2.11.

[2022-11-30 19:04] sachinprasadhs commented on #52845
@dwyatte , Thanks for confirming, if your issue is resolved, could you please close this issue.
Also, refer https://www.tensorflow.org/install for latest install instructions. Thanks!

[2022-11-30 20:28] sachinprasadhs commented on #58093
@nitins17 , @learning-to-play, Can we update the GCC version in the Tested build configuration here https://www.tensorflow.org/install/source#tested_build_configurations

[2022-11-30 22:33] 8bitmp3 commented on #58612
@JacekPardyak On it

[2022-11-30 22:36] terryheo commented on #58206
I see. One more to confirm. Is this only happening with quantization? Does float model have the similar issue?

[2022-11-30 22:37] sachinprasadhs commented on #57645
@elbaro , If your issue is addressed, could you please close the issue. Thanks

[2022-11-30 22:48] sachinprasadhs commented on #53398
Feel free to contribute.

[2022-11-30 22:53] gsirocco commented on #58206
I have not tried float, since in the end we need int because we want to convert the tflite model to run on the edge tpu which requires int. Thanks!

[2022-11-30 23:16] #58466 closed

[2022-11-30 23:35] terryheo commented on #58206
I've tested and float model works well.

FYI, this is model dumps with `tf.lite.experimental.Analyzer.analyze(model_content=tflite_quant_model)`

float model
[code]

int8 model
[code]

I think it's related with quantization spec from representative_dataset. Since the input range is known, it might be better to provide it manually.

@yyoon any idea on this?

[2022-11-30 23:37] gsirocco commented on #58206
Thanks, I just confirmed that float works as well. How would this be provided manually? The range is just 0 to 1 and only 0 and 1 not in between. Thanks!!

[2022-11-30 23:44] 8bitmp3 commented on #58612
PR https://github.com/tensorflow/docs/pull/2152 approved