[2017-02-19 06:30] Prakash19921206 commented on #7649
@aselle,thanks for your reply.
yeah i thought of the same. i was wondering if older version of tensorflow & cuda will do the trick?

[2017-02-19 06:33] aselle commented on #7624
Also, if you are using random initialization, you might want to switch to constant initialization, followed by seeded initialization.

[2017-02-19 06:34] Response777 commented on #7624
@yaroslavvb It seems that the results are different even if I kept all the conditions the same, so I'm having difficulty control a specific op, since PyTorch and Tensorflow are two distinct framework.

Or you means I should not use the layer in **tensorflow.contrib.layers**? If so, I'm trying it at the same time, but coming across with a new problem...

[2017-02-19 06:34] aselle commented on #7634
@concretevitamin or @sherrym, can you take a  look or suggest somebody would be knowledgable about these metagraph issues? Thanks in advance.

[2017-02-19 06:35] Response777 commented on #7624
@aselle It seems that I need to see if the PyTorch and Tensorflow are using the same random function first, or it won't help even if the seed is the same.

[2017-02-19 06:38] Response777 commented on #7624
@aselle I found that the PyTorch's `uniform_(from=0, to=1) → Tensor` does not have seed as an input

[2017-02-19 06:39] aselle commented on #7654
@dandelionmane, please consider this feature request.

[2017-02-19 06:44] aselle commented on #7585
I just tried your minimal test case in 0.12, and I got an error as well. Are you sure things were working in 0.12. Thanks!

[2017-02-19 06:46] aselle commented on #7656
@concretevitamin, could you comment on this issue please?

[2017-02-19 06:49] aselle commented on #7658
My reading of the documentation says that var_list takes actual lists of variables and not collection objects. Could you try just sending python lists of variables and see if your example works. Thanks! In general this kind of question about usage is best asked on StackOverflow. Thanks!

[2017-02-19 06:49] Response777 commented on #7624
@yaroslavvb I'm trying to isolate the difference to an op by writing layers ([module/mnist/cvae/mlp2.py](https://github.com/Response777/Tensorflow-VAEs/blob/master/modules/mnist/cvae/mlp2.py)).

The training procedure runs smoothly, but the sampling procedure is coming across with some problem: they are not sharing variables, even if I have added

[code]

According to the output of `tf.all_variabl

[2017-02-19 06:52] robbiewu007 commented on #7640
patch of #7617 fix the issue, the latest master auto-build works fine.

[2017-02-19 06:52] #7640 closed

[2017-02-19 07:30] zasdfgbnm opened #7662 "Add a dynamic_partial_sum operator to tensorflow?"
Hi,

In my application I need to do operations that dynamically sum some rows of a matrix to get a new matrix.  There will be an input tensor named "index" that guides which part of the tensor to be summed.

An example is, if the input matrix is
[code]
And the index is
[code]
which simply says the output tensor will have two rows (because the "index" have two rows), the first row is the sum of row

[2017-02-19 07:42] Response777 commented on #7624
Fixed.

[2017-02-19 07:42] #7624 closed

[2017-02-19 07:44] garyshi commented on #7651
From your Python interpreter, check the location of your google.protobuf.descriptor_pool module:
$ python
Python 2.7.6 (default, Oct 26 2016, 20:30:19)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'/usr/local/lib/python2.7/dist-packages/google/protobuf/descriptor_pool.pyc'

It's possible that you are using an earlier version of google.protobuf from

[2017-02-19 07:44] aselle commented on #7649
No, unfortunately the CUDA functionality of that generation was very limited.

[2017-02-19 08:01] garyshi commented on #7651
Find a better way instead of removing the old version: I am using Ubuntu and that version comes from Ubuntu package python-protobuf. I uninstalled tensorflow and the new protobuf (sudo pip uninstall protobuf) and then upgrade the existing one using "sudo pip install --upgrade protobuf".

[2017-02-19 08:19] jiexunsee opened #7663 "Issue with Ubuntu 16.04 GPU install: Bus error (core dumped)"
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN: CUDA 8.0, cuDNN 5.1

jiexun@jiexun-XPS-15-9560:~$ ls -l /usr/local/cuda-8.0/lib64/libcud*
-rw-r--r-- 1 root root   556000 Feb 19 15:48 /usr/local/cuda-8.0/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root       16 Feb 19 15:48 /usr/local/cuda-8.0/lib64/libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root       19 Feb 19 15:48 /usr/l

[2017-02-19 08:42] una-dinosauria commented on #7448
@aselle Thanks! I'd love to contribute to TF, and this sounds like it has a fairly straightforward fix.
It's unlikely that I'll find the time to do it before mid-March though -- I guess we should keep this open just to track the issue and as a reference for others who might run into this problem.

[2017-02-19 08:47] YiMX commented on #7456
I tried your ideas to specify those variables, but the problem still exists, even if I split the loop into the below form to let every variable has a unique name.
[code]

[2017-02-19 08:57] gangadhar-p commented on #7653
I am having the same exact issue since upgrading to Tensorflow 1.0

`E tensorflow/stream_executor/cuda/cuda_driver.cc:509] failed call to cuInit: CUDA_ERROR_UNKNOWN
I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:158] retrieving CUDA diagnostic information for host: gangadhar-All-Series
I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:165] hostname: gangadhar-All-Series
I tensorflow/str

[2017-02-19 09:11] zheng-xq commented on #7649
Yes, the minimum supported Cuda compute is 3.0. You are much better off using a more recent GPU.

[2017-02-19 09:22] MartinThoma commented on #3163
For people who come here:

[code]

The numpy part might not be necessary in your case.

[2017-02-19 09:52] bazinac commented on #7523
I have tried it from scratch using TF 1.0 to see whether something has changed. I have downloaded newest TF source, built and upgraded my scripts. However, this bug in quantize_weights transformation unfortunatelly still persists, which is unpleasant for me :). See results table in latest post in #7150.

[2017-02-19 10:04] xiatian122 opened #7664 "tf.nn has no attribute rnn_cell in version 1.0.1"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1.0.0

### If possible, provide a minimal reproducible example (We usually don't have

[2017-02-19 10:33] persiyanov commented on #7403
@girving Yes, I understand that I need not create new ops, it's just for my proficiency.

So, you say that there is no need to dive into C++ core in order to fix this issue?

In `_SoftmaxCrossEntropyWithLogitsGrad(op, grad_0, _)`, how could we know whether second derivative will be requested or not?

As I see, if we overcome this trouble, gradient of trivial crossentropy error (`-tf.reduce_sum(y *

[2017-02-19 10:34] sh0rtfuse opened #7665 "Dockerfile manual build central repo URL is Incorrect"
Dockerfile and Dockerfile.gpu have URLs that do not point to valid repo

Current URL in Dockerfile and Dockerfile.gpu

http://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-0.0.0-cp27-none-linux_x86_64.whl

http://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.0.0-cp27-none-linux_x86_64.whl

Changing the version number to 1.0.0 fixes the problem.

Working URL: http://storage.

[2017-02-19 10:48] standy66 commented on #7664
It was moved to contrib. Take a look [here](https://www.tensorflow.org/api_docs/python/tf/contrib/rnn)

[2017-02-19 11:32] devfubar commented on #7449
I had this exact issue. However when I used the following to build from source the messages no longer appear. @ahundt suggestion removed a few of them however it was missing fma and avx2.

`bazel build --linkopt='-lrt' -c opt --copt=-mavx --copt=-msse4.2 --copt=-msse4.1 --copt=-msse3 --copt=-mavx2 --copt=-mfma -k //tensorflow/tools/pip_package:build_pip_package`

[2017-02-19 11:37] oelmekki commented on #7648
Sure, I asked it here : http://stackoverflow.com/questions/42326748/tensorflow-on-gpu-no-known-devices-despite-cudas-devicequery-returning-a-pas

[2017-02-19 11:39] yuvval commented on #7039
@dandelionmane Thanks. I don't have permissions to change the resolution on that machine, nor knowledge of UI syntax to make a PR :)

[2017-02-19 11:44] oelmekki commented on #7648
@yaroslavvb Thanks for the tip!

Actually, using this does not provide any more info than not using it:

[code]

(I've also tried to export the variable globally just in case, but it produces the same result)

Funny enough, setting log_level to 2 actually produces a lesser amount of output:

[code]

[2017-02-19 12:10] amel2houwi commented on #7433
ERROR: Evaluation of query "deps(((//tensorflow/... - //tensorflow/contrib/nccl/...) - //tensorflow/examples/android/...))" failed: errors were encountered while computing transitive closure.

[2017-02-19 12:21] markhkim commented on #7613
It turns out merely installing [g++-5](https://packages.debian.org/sid/amd64/g++-5/download) solves the bazel build issue for me. The setup for Python 3.6 went through just fine afterwards, so I'm all set!

[2017-02-19 12:21] #7613 closed

[2017-02-19 12:59] Prakash19921206 commented on #7649
ok. Thanks for your answer.

[2017-02-19 12:59] #7649 closed

[2017-02-19 13:41] DutchDandy commented on #7529
@mrry
Thank you for the suggestion.

I decided to work around my Windows problem, by doing the rest of my programming on a VPS with Ubuntu, that seems to have done the trick for the problems with Tensorflow.

[2017-02-19 13:41] #7529 closed

[2017-02-19 14:07] laoyao commented on #5141
I have the same issue. @martin-gorner . Do you resolve it？

[2017-02-19 14:11] laoyao commented on #5141
<img width="586" alt="2017-02-19 10 10 56" src="https://cloud.githubusercontent.com/assets/870777/23103101/55600106-f6f0-11e6-8fde-06a34c6dcc05.png">

[2017-02-19 14:32] gaika commented on #7664
The change is not mentioned in release notes, conversion script doesn't notice it too.

[2017-02-19 14:48] yaroslavvb commented on #7648
@oelmekki debug logging was added recently, can you try this with TF 1.0?

[2017-02-19 14:49] botev opened #7668 "Building from source - PYTHONPATH not respected"
So I'm trying to build tensorflow from source, main reason is that I do not have root access and the `GLIBC` version was incompatible with the binaries. Additionally, I can not install packages on the python3.

Steps so far:
1. Build `gcc-4.9.1` from source - SUCCESS
2. Build `bazel-0.4.4` from source - SUCCESS
3. Install all CUDA stuff - SUCCESS
4. Install extra packages in a separate directory (

[2017-02-19 14:53] oelmekki commented on #7648
This is already what I'm using, actually :)

[code]

[2017-02-19 14:53] yaroslavvb commented on #7668
Can you try with `bazel build --action_env PYTHPATH ...`

[2017-02-19 14:59] yaroslavvb commented on #7648
Sorry, it's TF_CPP_MIN_VLOG_LEVEL not TF_CPP_MIN_LOG_LEVEL (there's also TF_CPP_MIN_LOG_LEVEL which will disable TF_CPP_MIN_VLOG_LEVEL if set)

[2017-02-19 15:09] oelmekki commented on #7648
Great, thanks, I have a lot more of debugging info indeed :+1:

Since Vijay mentioned this should be discussed on SO instead, I won't paste it here, but let me know if you want to look at it at any point.

Thanks for help!

[2017-02-19 15:13] botev commented on #7668
Thanks for the fast reply. Unfortunately for me it did not work (same error reported)

[2017-02-19 15:19] yaroslavvb commented on #7668
as a datapoint, I'm able to `pip install` packages on Linux and `bazel test` sees them (`action_env` is only needed on MacOS for me). Note that Python can throw `ImportError:` for reasons unrelated to Python path, for instance, when it loads a binary extension and this binary extension can't find something. Sometimes you can diagnose this by `strace`

[2017-02-19 15:25] botev commented on #7668
Ah unfortunately I'm not too familiar with `bazel` so I'm not sure how to run test on install python packages, just to verify whether it sees them. Could you elaborate what I need to do for that testing?

[2017-02-19 15:30] yaroslavvb commented on #7668
Actually never mind, given that very similar issue came up in the past, it seems more likely this is bazel related

[2017-02-19 15:52] lienhua34 opened #7669 "The tutorial "Logging and Monitoring Basics with tf.contrib.learn" has error."
When I used the code snippet in the section "Customizing the Evaluation Metrics with MetricSpec" of the tutorial [Logging and Monitoring Basics with tf.contrib.learn](https://www.tensorflow.org/get_started/monitors). the code snippet is

[code]

My tensorflow version is r1.0 . When I run my program, it print the following error:

[code]

I found that the class `tf.contrib.learn.metric_spec.MetricS

[2017-02-19 16:29] botev commented on #7668
Hmm, do you have any pointers who I might need to ask/flag this to? I don't mind if needed to edit `bazel` source code and rebuilding it (e.g. if needed I can hard code the `$PYTHONPATH`). However, I have no idea where to look.

[2017-02-19 16:36] zd3nik commented on #7651
@aselle I did the `pip install --upgrade protobuf` in all variations.  Inside and outside the virtualenv, with and without sudo.  In all cases it was a no-op (no install or upgrade performed).

@garyshi Thanks for the tip!  It actually shows the protobuf site-package path in the stack trace of the import error - it's using the system site-packages.  Rather than tinker with the system site-packages

[2017-02-19 16:36] #7651 closed

[2017-02-19 16:47] gangadhar-p commented on #7653
Issue resolved after Ubuntu restart. I installed updates and was pending a restart, after the restart GPU was detected.

[2017-02-19 17:25] botev commented on #7668
Here: https://bazel.build/versions/master/docs/be/python.html

This indicates that there exist a flag `imports`. However, I did not find anything related in the tensorflow installation to modify it.

[2017-02-19 17:31] hiteshvaidya commented on #5163
![image](https://cloud.githubusercontent.com/assets/14166608/23104603/0c765a74-f6f7-11e6-9185-336663aa7a8d.png)
can you please help me with this error? I tried the solution given in earlier post of git clone...... in the folder of the code that I want to run. But it didn't work. Can you please help?

[2017-02-19 17:55] smar10 commented on #7620
Thanks @aselle !

[2017-02-19 17:58] yaroslavvb commented on #7477
It seems this kind of modification is easier to do as a library on top of TensorFlow rather than part of TensorFlow itself (Conway's Law). A change to core needs to have some benefit that's not easily achievable when outside of core. Now that TF 1.0 is out, I'm hoping 3rd party libraries will emerge which will collect things like that into toolboxes that are add-ons to TensorFlow. I think this gen

[2017-02-19 17:58] #7477 closed

[2017-02-19 18:03] terrytangyuan commented on #7669
@lienhua34 yes it's correct. The interface has been sealed recently. Welcome to submit a pull request! @martinwicke Does the team has plan to rewrite Monitor tutorial by Hooks?

[2017-02-19 18:10] asimshankar commented on #5163
Which version of TensorFlow are you using? It seems you're using one from head. I'd suggest using the release version if possible ad things in head will always be in flux and it can be hard to support. That said, do browse through the [upgrade instructions](https://www.tensorflow.org/install/migration). In this particular case, you want to use `tf.summary.histogram`.

Going forward, with future 1.

[2017-02-19 18:20] essank commented on #7659
yes the problem was here
``` Image directory '/tf_files/flower_photos' not found ```
I tried to do this:
[code]
it's working!

@microtony @aselle thanks guys!

[2017-02-19 18:27] saman-aghazadeh commented on #7658
Thanks much for the help. The reason I've posted the issue here is, because I haven't got any response on stackoverflow, so I thought it maybe an issue with TensorFlow.

I have tried what you've advised and unfortunately I get a weird error as:

`NotImplementedError: ('Trying to optimize unsupported type ', <tf.Tensor 'mentor/weights_mentor_l1:0' shape=(784, 1200) dtype=float32_ref>)`

Here is the

[2017-02-19 18:31] rilut commented on #7632
@aselle greetings, which files are relevant to add float16 support for `maxpool3d`?

[2017-02-19 18:35] #7659 closed

[2017-02-19 19:00] yaroslavvb commented on #7632
It is not beginner friendly, the best way is to find a commit that added fp16 support and use that as a template. Here's a mega-commit that added fp16 to a bunch of ops, although there are probably smaller examples -- https://github.com/tensorflow/tensorflow/commit/9bedadce

[2017-02-19 19:04] rpryzant opened #7675 "Error message could be improved"
If your try and initialize a `dynamic_rnn` without specifying an `initial_state` **OR** `dtype`, you get this enigmatic error message:

`If no initial_state is provided, dtype must be`

I don't think that message is very clear. Something better would be along the lines of,

`If no initial_state is provided, a dtype must be specified`

This error is thrown at
tensorflow/tensorflow/python/ops/rnn.py

[2017-02-19 19:11] NiZiL commented on #7569
I've opened a [question on SO](http://stackoverflow.com/questions/42253032/attributeerror-module-tensorflow-contrib-rnn-has-no-attribute-stack-bidirect), and @drpngx seems to have find a solution !

[2017-02-19 19:45] rilut commented on #7632
@yaroslavvb thanks, I'm planning to working on it. Here's my progress so far

[2017-02-19 20:17] panky8070 commented on #7217
Hi,
Can you please look into the issue ?

Regards,
Pankaj

[2017-02-19 20:30] avantol opened #7677 ""Getting started" first tf.contrib.learn sample fails"
The first tf.contrib.learn sample at
https://www.tensorflow.org/get_started/get_started
fails to run.

The  code is right under
"Basic usage
Notice how much simpler the linear regression program becomes with tf.contrib.learn:"

Output:

WARNING:tensorflow:Using temporary folder as model directory: C:\Users\John\AppData\Local\Temp\tmpahtnt89p
WARNING:tensorflow:Rank of input Tensor (1) should be th

[2017-02-19 20:37] essamgoda commented on #7653
@aselle
when run nvidia-smi result is

[code]

[2017-02-19 20:50] BKJackson commented on #5282
The libcupti.dylib file is in the CUDA extras folder (e.g., /Developer/NVIDIA/CUDA-8.0/extras/CUPTI/lib/libcupti.8.0.dylib).

I created a symbolic link from /usr/local/cuda/lib with

    sudo ln -s /Developer/NVIDIA/CUDA-8.0/extras/CUPTI/lib/libcupti.8.0.dylib libcupti.dylib

[2017-02-19 21:02] NikhilBhutani commented on #6136
Upgrading the Setuptools fixed everything, Thank you @Carmezim

[2017-02-19 21:19] gongzhitaao commented on #1258
I can confirm the following works with TF v1.0.0
[code]

[2017-02-19 21:24] headdab commented on #7677
I get very similar behavior under ubuntu 16.10 with v1.0.0.
As a result, many of the tutorials fail - I don't think I've gotten any that rely on contrib.learn to work.

[2017-02-19 21:26] nroth1 commented on #5289
I'm able to reproduce the hangs on a smaller example, and have logs attached. I'm not sure if this is necessarily the same hang as I was seeing above, as the freeze seems to happen in a numpy call, not at the tensorflow level. The example is pretty silly, but I basically just make and evaluate two graphs, while saving them in the background on separate threads. Eventually, it hangs at:

***  File:

[2017-02-19 23:57] yaroslavvb commented on #6961
TensorFlow already has checks for cycles, but cycles caused by `Defun` are not caught

IE, for the following code `TF_ExtendGraph` returns bad status with message `3 nodes in a cycle`

[code]
error
[code]

[2017-02-20 00:17] aselle commented on #7677
Are you sure it actually failed? Those all look like warnings.

[2017-02-20 00:20] aselle commented on #7675
@rpyzant, would you be willing to submit a quick pull request for this?

[2017-02-20 00:24] aselle commented on #7662
@ebrevdo, @rmlarsen, what do you two think? What would we call such an operation. It does seem useful. I've wanted to do this type of thing once or twice, even.

[2017-02-20 00:26] aselle commented on #7663
@zheng-xq, @jart, @gunan do either of you have insight? It looks like one warning sign is that -Wno-self-assign is not being found which looks like the warning is a gcc warning that doesn't exist on clang. But that is only a warning.

[2017-02-20 00:28] aselle commented on #7665
@gunan, @yifeif, could you take a look?

[2017-02-20 00:30] rpryzant commented on #7675
Done, see https://github.com/tensorflow/tensorflow/pull/7678

[2017-02-20 00:35] aselle commented on #7664
@gaika, sorry about that. Unfortunately it appears a few things slipped through. I'll update the conversion script. @yifeif, can you update the release notes, and @ebrevdo are there any rnn things that need to be added to the release notes?

[2017-02-20 00:36] aselle commented on #7664
##TODO

- [ ] fix converter script (aselle)
- [ ] fix release notes (yifeif)
- [ ] document anything else that is needed on release notes (ebrevdo)

[2017-02-20 00:38] aselle commented on #7653
@essamgoda that sounds like cuda isn't installed quite right. Try doing what it says, otherwise searching for methods of reinstalling nvidia drivers (sometimes you have to work pretty hard to remove remaining parts of cuda if you have used a mix of manual and automatic methods).

[2017-02-20 00:56] headdab commented on #7677
I just redid this experiment.  I copied the code from the page mentioned above, i.e.

import tensorflow as tf
# NumPy is often used to load, manipulate and preprocess data.
import numpy as np

# Declare list of features. We only have one real-valued feature. There are many
# other types of columns that are more complicated and useful.
features = [tf.contrib.layers.real_valued_column("x", dimension

[2017-02-20 01:32] AlvinChen13 opened #7679 "How to reproduce the 58x performance improving claimed by TF r1.0?"
TF r1.0 claims that it can achieve 58x performance improving by 64 GPUs for Inception v3. Are there any guidelines or sample code to help us to reproduce the results?

[2017-02-20 01:34] SandorTucakov commented on #7552
@AndreiEnache 's solution worked for me, same errors as everyone, only pip install worked

tks

[2017-02-20 01:35] sirgogo commented on #3692
Is there a solution to this? Same issue here.

[2017-02-20 02:11] liuyichaosoftware commented on #7604
thank you very much ~

[2017-02-20 02:27] eamartin commented on #6189
Here's a use-case for re-opening variable scopes without renaming.
Consider a OOP design where a class declares a couple of TensorFlow variables and then provides multiple methods on those variables.

[code]

The easiest to visualize (in TensorBoard) pattern would to be have one variable scope per instance of class and call of method.
[code]

The way that I thought of to implement this is to creat

[2017-02-20 02:34] cancan101 commented on #2134
This demonstrates the problem for me with `normalized=False` and`centered=False` (notice the off by 1):
[code]
[code]

[2017-02-20 02:46] gaika commented on #7664
Why did you close it? A lot of people will run into this issue when migrating to 1.0.

[2017-02-20 02:57] ppwwyyxx commented on #6007
@Faur Your issue is more related to #6150 than this one.

[2017-02-20 03:00] ppwwyyxx commented on #6189
@eamartin You can reopen a variable scope, by saving the scope to `self.sc = tf.get_variable_scope()`, and use it with `tf.variable_scope(self.sc)`.
But it still doesn't give you very nice naming, because currently you cannot reopen a name scope in tensorflow (see #6007), even if the same variable scope is reopen.

[2017-02-20 03:12] eamartin commented on #6189
Thanks @ppwwyyxx . The main issue here that @nasimrahaman and I are looking for is the naming. Additionally, there's no need for the variable scope just to access the variables as the variables themselves could be saved on the instance (no ``get_variable`` call).

For my previous example, the suggested scheme would currently give the names:
[code]
which doesn't help at all with distinguishing call

[2017-02-20 03:19] ppwwyyxx commented on #6189
@eamartin My bad earlier. I just found you can do something like this: (from #6007)
[code]

[2017-02-20 03:47] ebrevdo commented on #7664
Andrew, it does indeed seem that the move of many of the ops and cells to
tf.contrib.rnn was not mentioned in release.md.  mea culpa; i was hoping to
get them all back into core by 1.0.  Unfortunately looks like it won't
happen until TF 1.0.

So in the meantime, we should update the release notes to say that
tf.nn.rnn_cell.* and most functions in tf.nn.rnn.* (with the exception of
dynamic_rnn and

[2017-02-20 03:49] ebrevdo commented on #7662
Is there a numpy equivalent function or composition of functions that do
this?

On Sun, Feb 19, 2017 at 4:24 PM, Andrew Selle <notifications@github.com>
wrote:

[2017-02-20 03:53] gajop opened #7680 "CUDA_ERROR_OUT_OF_MEMORY with tf.contrib.learn (basic linear regression model)"
### Environment info
Operating System: Ubuntu 16.04,  GeForce GTX TITAN X

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
ls /usr/local/cuda-8.0/lib64/libcud*
/usr/local/cuda-8.0/lib64/libcudadevrt.a
/usr/local/cuda-8.0/lib64/libcudart.so
/usr/local/cuda-8.0/lib64/libcudart.so.8.0
/usr/local/cuda-8.0/lib64/libcudart.so.8.0.44
/usr/local/cuda-8

[2017-02-20 04:05] zasdfgbnm commented on #7662
There is something similar:
https://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.ufunc.reduceat.html

On Sun, Feb 19, 2017 at 10:50 PM ebrevdo <notifications@github.com> wrote:

[2017-02-20 04:10] zasdfgbnm commented on #7662
To be honest, numpy's `numpy.ufunc.reduceat` is so confusing and unnatural to me. I prefer the behavior I define here at this issue.

[2017-02-20 04:18] cancan101 opened #7681 "DOCS for offsets in extract_glimpse don't match Implementation"
Docs state:

      A 2-D integer tensor of shape `[batch_size, 2]` containing
      the x, y locations of the center of each window.

whereas [the implementation states](https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/core/kernels/attention_ops.cc#L92):

Notice x,y vs y,x

Here is a rough demo of the issue:
[code]
[code]

It appears that the docs a

[2017-02-20 04:22] mikigom commented on #7641
It may be a somewhat low-level question, please acknowledge a little. I wanted to fix it myself, if possible, so I looked at the source code for the ```tensorflow/python/ops``` (for the first time). After looking at ```tensorflow.python.ops.image_grad.py```, I have confirmed that there is a method called ```_ResizeBilinearGrad``` which defines the gradient of bilinear resizing operation as you men

[2017-02-20 04:39] eamartin commented on #6189
Thanks @ppwwyyxx , this works for my OOP use-case. I wasn't aware of ``original_name_scope``, this could use some docs!

One tricky case with this pattern: If you want to re-open the scope and create new variables, how do you give the appropriate names to the created ops in the re-opened scope? Here's the workaround:

First attempt:
[code]
outputs ``Tensor("foo/x/read:0", shape=(), dtype=float32)

[2017-02-20 04:56] ppwwyyxx commented on #6189
@eamartin Yes that's a bit tricky. I hope tensorflow can change the default behavior, i.e. when you reenter a variable scope, you should expect to automatically reenter its name scope as well instead of creating a new one.

[2017-02-20 05:02] girving commented on #2134
Looks like @benoitsteiner won't get to this himself.  Let me know if anyone wants to tackle it.  I'm happy to answer questions about how to mirror the seed semantics of the rest of the random ops.

[2017-02-20 05:05] cancan101 commented on #2134
Perhaps this is another issue, or I am misunderstanding this, but it seems like there is an off by one issues as well?

[2017-02-20 05:21] girving commented on #7403
@persiyanov Ah, sorry, I misread the Python stub I pointed you to.  I thought it was more like the gradient of `SigmoidGrad` second example I linked, where the answer to your question would be obvious.

In the softmax case, the native C++ op produces one output for the softmax loss and one for the gradient, so you're right that you can't know "in this routine" whether the second derivative is actu

[2017-02-20 05:26] guoying1030 opened #7682 "tensorflow support SGD with nesterov momentum in tensorflow??"
tensorflow support SGD with nesterov momentum in tensorflow??

[2017-02-20 05:54] kinDSa opened #7683 "Package not Reslove."
Hello,

I am using TensorFlow Android Camera Demo. In TensorFlowInferenceInterface class there are some package not reslove like:

import org.tensorflow.DataType;
import org.tensorflow.Graph;
import org.tensorflow.Session;
import org.tensorflow.Tensor;
import org.tensorflow.TensorFlow;

Can any one help to find out where some thing is missing.

[2017-02-20 05:56] skimmy12 commented on #7677
It's a warning.
There's a typo in the sample code.

original
estimator.evaluate(input_fn=input_fn)

fix:
print(estimator.evaluate(input_fn=input_fn))

[2017-02-20 06:03] microtony commented on #7677
Any idea where we can find this documentation md in the repo to fix it? I cannot match the structure of the tensorflow.org website and the g3doc directory here.

[2017-02-20 06:04] sharod opened #7684 "embedding variable in ptb_word_lm.py"
In ptb_word_lm.py I see that for word2vec vectors we are doing:

embedding = tf.get_variable(
          "embedding", [vocab_size, size], dtype=data_type())
      inputs = tf.nn.embedding_lookup(embedding, input_.input_data)

but where is the variable embedding created? Is it random or is it pretrained?

[2017-02-20 06:21] yaroslavvb commented on #7682
this seems like a good question for stackoverflow

[2017-02-20 06:21] #7682 closed

[2017-02-20 06:22] yaroslavvb commented on #7679
I believe @tfboyd is working on reproduction instructions for AWS

[2017-02-20 06:22] qinglintian opened #7685 "Image problems in Tensorflow documentation at tensorflow.org, Error 404"
I'm not sure I should put the issue here. But when I clicked "Issue tracker" on tensorflow.org, it redirects me here.

I realized that the directory structure for TF documentation has changed a lot for TF 1.0 on http://www.tensorflow.org. Now there are problems for web pages with images, like https://www.tensorflow.org/api_docs/python/tf/segment_max?hl=bn. A 404 error is reported while loading the

[2017-02-20 06:33] gajop commented on #7680
related https://github.com/tensorflow/tensorflow/issues/7677

[2017-02-20 07:04] colinlovefish commented on #59
thank you

[2017-02-20 07:42] OVasilyev commented on #5043
Same error when I run the translate example
https://www.tensorflow.org/tutorials/seq2seq#lets_run_it
from Tensorflow tutorial on sequence-to-sequence network.
I run Tensorflow 1.0, simpler examples were OK, my GPU is GTX 1050 Ti.
Errors are attached here.

[errors output.txt](https://github.com/tensorflow/tensorflow/files/786795/errors.output.txt)

[2017-02-20 07:52] longwoo opened #7686 "Looking for a function to replace sklearn.mixture.GaussianMixture.predict_proba(X)"
In sklearn, I can use `predict_proba(X)` if I want to Predict posterior probability of data per each component.

However, I cannot find a similar function in 'tensorflow gmm_ops'

Did anyone find that before?

[2017-02-20 07:56] guoying1030 opened #7687 "tensorflow support sgd with monment Optimizer??"
tensorflow support sgd with monment???

is it tf.train.MomentumOptimizer

[2017-02-20 08:04] ahundt commented on #7443
@yaroslavvb Could you just create a pull request directly adding the text to [CONTRIBUTING.md](CONTRIBUTING.md)?

Regarding the folder of docker files, some of those scripts do look fairly straightforward and could be referenced:
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/docker

[2017-02-20 08:12] tkngoutham commented on #5043
@aselle @asimshankar awaiting response.....!

[2017-02-20 08:25] gineeshvs commented on #6136
Great - upgrading the set-up tools worked !

[2017-02-20 08:26] tkngoutham commented on #2734
@hauluk  from the above comment we can see that we must calculate size of vocabulary explicitly and then supply it as parameter, then we will not get this error. :).

[2017-02-20 08:32] codeloverr commented on #7660
Thanks, solved the problem. Can you confirm for multiple flags parameters should be `-mavx2, -mavx, msse4.1`

[2017-02-20 08:36] davideb91 commented on #7419
@AnSharipov I set these dependencies in `tensorflow/tensorflow/examples/android/src/org/tensorflow/demo/ClassifierActivity.java` :
[code]

[2017-02-20 08:48] fabienbaradel commented on #7521
Ok thanks for your explanations. I'll try to fix it using your advices. I close the issue and would re-open it if it still doesn't work.

[2017-02-20 08:48] #7521 closed

[2017-02-20 08:48] keven425 opened #7689 "tf.nn.softmax errors out, when dim=<dim_size - 1> instead of -1"
### Environment info
Operating System:
MacOS 10.12.1

Installed version of CUDA and cuDNN:
lrwxr-xr-x  1 root  wheel     50 Sep 26 15:00 /usr/local/cuda/lib/libcudart.8.0.dylib -> /Developer/NVIDIA/CUDA-8.0/lib/libcudart.8.0.dylib
lrwxr-xr-x  1 root  wheel     47 Oct 24 21:11 /usr/local/cuda/lib/libcudnn.5.dylib -> /Developer/NVIDIA/CUDA-8.0/lib/libcudnn.5.dylib

Tensorflow version 0.12.1

### If

[2017-02-20 08:59] namsgit commented on #7579
@kenqrose  can you please explain how can I upgrade my tensorflow 0.12.1 to 1.0 on windows in one go ( I mean I don;t wanna do it for each file) ?

[2017-02-20 09:00] eamartin commented on #1592
Any progress on this? Besides more sophisticated kernels like XnorGEMM, there's value in supporting bitwise and, or, xor on types like int32 and int64.

[2017-02-20 09:00] PaulKlym commented on #7680
Hi, I have the same issue:
[code]

[2017-02-20 09:10] fcole90 opened #7690 "Docs about installing Tensorflow for Ubuntu don't always distinguish between python and python3"
In this page [Installing TensorFlow on Ubuntu ](https://www.tensorflow.org/install/install_linux), there are some commands to install Python in Ubuntu. Tough Ubuntu distinguishes between python (2.7) and python3 (3.n) packages. So I think that the page should be updated to distinguish the two cases, as using the current procedure may result in the creation of a python (2.7) environment when a pyth

[2017-02-20 09:13] Mozitao commented on #5949
Thanks~~

[2017-02-20 09:17] persiyanov commented on #7403
@girving
What do you mean in (1) when you say "always take grad_1 and process it appropriately"?

P.S. I have noticed that there is `_ReluGradGrad` in `nn_grad.py` which is derivative of the relu's gradient. Maybe there is a way to do something similar with softmax xentropy?

P.S.S. Have I understood correctly that I can find all ops' signatures in `gen_nn_ops.py::_InitOpDefLibrary.op_list_ascii`?

[2017-02-20 09:26] dandarm commented on #7623
Thank you! It imported correctly.
I landed on thath page but for some reason I skipped the NOTE, maybe because I thougth it was for version 0.12.

[2017-02-20 09:44] linrio commented on #7582
@Baschdl  @shiyemin Thanks! I replaced the `tf.sub` to `tf.subtract`, the error disappeared.

[2017-02-20 09:46] linrio commented on #7582
@aselle However, I utilized your method to upgrade script, the bug still occurs:
[code]

[2017-02-20 10:00] krayush07 commented on #7684
Hi @sharod

tf.get_variable() [creates](https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py#L124) the 'embedding' variable and [initializes it](https://github.com/tensorflow/models/blob/master/tutorials/rnn/ptb/ptb_word_lm.py#L335) using a random initializer during training time as [var scope for training](https://github.com/tensorflow/models/blob/master/tutorials/rnn

[2017-02-20 10:19] kaufManu commented on #7585
@aselle Thanks for your feedback. I tested it again in 0.12, too and also got an error, but this error is due to a bug in the minimum working example :) I'll edit this in just second. I then ran the fixed version on both 1.0 and 0.12, on 1.0 it does not pass, while on 0.12 it passes.

[2017-02-20 10:38] carlthome commented on #7604
Don't forget to close your issue @liuyichaosoftware. 👍

[2017-02-20 10:39] carlthome commented on #7687
Yes, `tf.train.MomentumOptimizer` is the one you're looking for. Please ask on StackOverflow with the tag tensorflow in the future. GitHub is for bugs and feature requests. 😃

[2017-02-20 10:40] carlthome commented on #7686
Tip: Try asking on StackOverflow with the tag tensorflow instead (more people answer there). GitHub is mostly for bugs.

[2017-02-20 10:45] carlthome commented on #7654
Or maybe default to showing the latest run or something ?

[2017-02-20 10:53] chenleo commented on #7498
Use NDK r10e mysteriously solved the problem.

[2017-02-20 10:59] mjanusz commented on #7610
Eigen's conv3d it not optimized to the same level as conv2d, but the speed you are observing seems to be particularly bad. I will take a look at this.

[2017-02-20 11:04] #7498 closed

[2017-02-20 11:29] cjliux opened #7693 "How to build tensorflow to use SSE3 instructions?"
When I am running tensorflow code, it prompts that `The TensorFlow library wasn't compiled to use SSE3 instructions, but these are available on your machine and could speed up CPU computations.`. I have installed tensorflow using pip and don't know how to deal with that. Any one can help with me?

[2017-02-20 11:47] hustcat commented on #4713
I write a demo for MNIST_data, and it seems run OK. See [dist_fifo](https://github.com/hustcat/tensorflow_examples/blob/master/mnist_distributed/dist_fifo.py).

[2017-02-20 12:03] myaooo commented on #675
Is `tf.test.compute_gradient` is some kind of funtion that we can get the jacobian matrix (not as a tensor but as a numpy.ndarray) of a vector tensor y w.r.t. a vector tensor x?

[2017-02-20 12:16] #7604 closed

[2017-02-20 12:28] sydney0zq commented on #7693
I have the same issue. But I also does not how to solve it.

[2017-02-20 13:16] githubier commented on #6760
sorry, I don't know how to use the distributed tensorflow, can you tell me how to use it?Just like how to write the python and how to execute it on terminal?

[2017-02-20 13:17] githubier commented on #6760
or may be some link is ok. All the website i see don't tell me how to execute the python code on terminal.

[2017-02-20 13:20] LewisHorsleyUK opened #7694 "TypeError: run() got an unexpected keyword argument 'feedis_dict'"
I get this error when trying to add the feedis_dict to a self.sess.run command:

`Traceback (most recent call last):
  File "spritegen.py", line 71, in <module>
    tf.app.run()
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 44, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "spritegen.py", line 54, in main
    dcgan.train(FLAGS)
  Fil

[2017-02-20 13:24] githubier opened #7695 "How to use the Distributed Tensorflow"
I have three node, which two use the CPU-mode tensorflow, and the left use the GPU-mode tensorflow.
Some website may just use the official example, but I don't know how to execute the python code on the terminal, some use themselves example. but I cannot run it successful. Can you tell me how to write the python code and how to execute it on my terminal. Should I use the docker?
Anyone can teach m

[2017-02-20 13:39] apiszcz opened #7696 "freeze_graph inspect_checkpoint, Data loss: not an sstable (bad magic number): perhaps your file is in a different file format and you need to use a different restore operator"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
Nothing directly applicable to the observed error.

### Environment info
TF 0.12.1, Windows 10/64, Python 3.5/64

Installed version of CUDA and cuDNN:
8.0, 5.1

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

**in

[2017-02-20 13:50] Carmezim commented on #7680
Apparently there is something consuming your GPU memory (`Total memory: 11.92GiB
Free memory: 11.52GiB`) making unavailable the amount TensorFlow is trying to allocate.

Your can set how much memory TensorFlow will have available for use with [tf.GPUOptions](https://www.tensorflow.org/api_docs/python/tf/GPUOptions)
[code]
For instance if you have 12GB, ~4GB will be allocated for TensorFlow.
Your o

[2017-02-20 14:02] yaroslavvb commented on #7695
This seems more appropriate for stackoverflow, this list is for bugs/feature in Tensorflow

[2017-02-20 14:02] #7695 closed

[2017-02-20 14:02] gajop commented on #7680
I'll try to explicitly limit memory usage when I'm back at the computer, but it still seems that allocating all the GPU memory is clearly a bug.
Am I interpreting it wrong?

[2017-02-20 14:03] yaroslavvb commented on #7694
This question may be more appropriate for stackoverflow

[2017-02-20 14:03] #7694 closed

[2017-02-20 14:04] yaroslavvb commented on #7696
similar issue was solved here http://stackoverflow.com/questions/41048819/how-to-restore-a-model-by-filename-in-tensorflow-r12

[2017-02-20 14:04] #7687 closed

[2017-02-20 14:07] EAZYE9000 commented on #6589
python -c "import tensorflow; print(tensorflow.__version__)"
0.12.1

[2017-02-20 14:08] EAZYE9000 commented on #6589
Looking for images in '.git'
No files found
Looking for images in 'refs'
Traceback (most recent call last):
  File "tensorflow/examples/image_retraining/retrain.py", line 1012, in <module>
    tf.app.run(main=main, argv=[sys.argv[0]] + unparsed)
  File "/usr/local/lib/python2.7/dist-packages/tensorflow/python/platform/app.py", line 43, in run
    sys.exit(main(sys.argv[:1] + flags_passthrough))

[2017-02-20 14:22] szsongyj opened #7697 "How to upgrade Tensorflow from V0.10.0 to V1.0 ?"
Hi ,dear
    I installed tensorflow V0.10.0 by compiling source code in 2016.
    Now Is there an simplest way for me to upgrade tensorflow from V0.10.0 to V1.0?
    Thank you & Best Regards,

### Environment info
Operating System: Ubuntu16.04

syj@syj-dl:~/tensorflow$ cat /etc/issue
Ubuntu 16.04 LTS \n \l

syj@syj-dl:~/tensorflow$ which python
/home/syj/anaconda2/bin/python

syj@syj-dl:~/tensorfl

[2017-02-20 14:22] lelayf commented on #5141
Same issue here. Building on Mac Pro with custom Nvidia Titan Black instead of factory AMD card, macOS Sierra, trying to build r1.0 branch with bazel and SSE4.2 enabled. /usr/local/cuda/lib/libcudart.8.0.dylib exists, DYLIB_LIBRARY_PATH and DYLIB_FALLBACK_LIBRARY_PATH are set to include /usr/local/cuda/lib. Even tried using LD_LIBRARY_PATH and LIBRARY_PATH but issue persists. Also restarted OS wit

[2017-02-20 14:25] Gubarev opened #7698 "Quantize nodes via Transform Graph tool cause error"
I am trying to quantize my model by following this [README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/graph_transforms/README.md)

I have faced with issue **No attr named 'T' in NodeDef:** when I run **transform_graph** tool with **quantize_nodes** option both for my model and example model (Inception V3).

[code]

Here is relevant part of output:

[code]

### Environme

[2017-02-20 14:30] colourxb opened #7699 "Error building from source"
Hi,

I'm trying to build from master branch and getting this error during the ./configure step

`Please specify the location of python. [Default is /Users/lucasliu/anaconda/bin/python]:
Please specify optimization flags to use during compilation when bazel option "--config=opt" is specified [Default is -march=native]:
Do you wish to build TensorFlow with Google Cloud Platform support? [y/N] N
No G

[2017-02-20 14:41] cancan101 commented on #7654
The concept of "latest" run seems somewhat loosely defined to me (ie most recent updated, started? run in parallel?).

[2017-02-20 14:52] rilut commented on #628
@joshuastrock's advice solved my issue

[2017-02-20 15:03] aliosmanulusoy opened #7700 "Can't enforce shape invariants with TensorArrays in while_loop"
I can't enforce shape invariants in a while_loop if one of the inputs is a TensorArray. Here's a minimal example:
[code]

The code above works fine if the while_loop is not fed shape_invariants. Using shape_invariants though, I get the following error:
[code]

Am I doing something wrong or is this a bug?

Thanks!

[2017-02-20 15:07] cjliux opened #7701 "ERROR: Evaluation of query "deps((//tensorflow/... - //tensorflow/examples/android/...))" failed"
root@cjliux-comp:/usr/local/lib/python2.7/dist-packages/tensorflow-1.0.0# ./configure
Please specify the location of python. [Default is /usr/bin/python]:
Please specify optimization flags to use during compilation [Default is -march=native]:
Do you wish to use jemalloc as the malloc implementation? (Linux only) [Y/n] y
jemalloc enabled on Linux
Do you wish to build TensorFlow with Google Cloud Pl

[2017-02-20 15:12] jbingel opened #7702 "dynamic_rnn_decoder returns shape [?, batch_size, cell.output_size]"
According to [the docs](https://www.tensorflow.org/api_docs/python/tf/contrib/seq2seq/dynamic_rnn_decoder),  the dynamic_rnn_decoder returns a tuple contaning `outputs`, which is a Tensor of shape `[max_time, batch_size, cell.output_size]`(provided `time_major==True`).

In my case, however, the first dimension of that Tensor is returned as underspecified (Dimension `?`), and in fact depending on t

[2017-02-20 15:25] #7693 closed

[2017-02-20 15:31] jiazhentim commented on #7116
Hi @fenrus75 , does your modification work ? In PacketMathAVX512.h file, I think there is no line of  typedef struct Packet16q16i.  I try to build Tensorflow with your modification, but it does not work. What command do you use and which branch of hte Tensorflow do you use?

[2017-02-20 15:32] inflation commented on #7693
@sydney0zq Make sure you enable `--config=opt` in compile time.

[2017-02-20 15:52] cjliux commented on #7701
I have found the problem. It's because I have been trying to build tensorflow in `/usr/local/lib/python2.7/dist-distributions`, and that conflicts with the installation path of tensorflow, which I have left it default.

[2017-02-20 16:07] yaroslavvb2 commented on #7697
There was an email to TensorFlow discuss mailing list with upgrade
instructions, cc @aselle in case there's a more canonical place

On Mon, Feb 20, 2017 at 6:24 AM, szsongyj <notifications@github.com> wrote:

[2017-02-20 16:07] yaroslavvb commented on #7697
There was an email to TensorFlow discuss mailing list with upgrade instructions, cc @aselle in case there's a more canonical place

[2017-02-20 16:16] ray-chu opened #7703 "fail building tensorflow. Error is error trying to exec 'cc1plus'"
I try to build tensorflow from the source code, as https://www.tensorflow.org/install/install_sources shows. But it fails at basel building like following.

commands: bazel build --config=opt --config=cuda --verbose_failures //tensorflow/tools/pip_package:build_pip_package
WARNING: Sandboxed execution is not supported on your system and thus hermeticity of actions cannot be guaranteed. See http://

[2017-02-20 16:28] szsongyj commented on #7697
@yaroslavvb  Thank you !

I have successfully installed tensorflow v1.0 by  following the 'Virtualenv installation' section of [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md](url)

Thank you
`
syj@syj-dl:~$ virtualenv --system-site-packages ~/tensorflow-v1.0

Running virtualenv with interpreter /home/syj/anaconda2/bin/python2
New python executable in

[2017-02-20 16:37] rhuangq opened #7704 "Op type not registered 'TensorArrayV3'"
I've been building graph in python and deploy to c++ since r0.10. After upgrading to r1.0, I've retrained the model, re-created the graph, and re-link the library all in r1.0. However, I got this error when try to use the graph in the c++:
 `Not found: Op type not registered 'TensorArrayV3'`
Here is how I created the tensorflow shared lib:
[code]
I don't find `TensorArrayV3` symbol in the official

[2017-02-20 16:40] SiddGururani opened #7705 "ImportError: No module named '_pywrap_tensorflow' (MSVCP140.dll is present)"
I installed the nightly build windows 64bit release of tensorflow from http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/DEVICE=gpu,OS=windows/
using pip install in the Anaconda distribution of Python 3.5 (v4.1.1.0)

When I try to import tensorflow, I get the following error:

[code]

I checked the msvcp140.dll and it seems to be present in multiple locations of my %PATH% (in the anaconda f

[2017-02-20 16:45] pbhatia243 commented on #654
@Syndrome777 : I am about to give a second pass on beam search. Could you elaborate on reseting the state. Do you mean reorder ?

[2017-02-20 16:47] pbhatia243 commented on #654
@nikitakit : How has the performance been on your large dataset. Using my approach, even though its an approximation, I do get realistic answers and lower perplexity. I am about to give a second pass on beam search. Could you elaborate on reseting the state. Do you mean reorder ?

[2017-02-20 16:47] andrewharp commented on #7683
Hi, how are you trying to build the demo? Are you getting this while following the instructions in the examples/android/README.md?

[2017-02-20 17:00] andrewharp commented on #7498
12b is the suggested NDK to use currently. There may be problems with arm64 builds produced by 10e.

[2017-02-20 17:07] daxlab commented on #7705
@SiddGururani Please try changing your directory to other than the one where you installed tf.

[2017-02-20 17:57] flightmonkey15 opened #7706 "Trouble installing python wheel for tensorflow on Windows 7"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-20 18:05] #7697 closed

[2017-02-20 18:05] poxvoculi commented on #7680
Today's a Google corporate holiday, so followup may be slow, but this looks like it could be a recently introduced bug.  By default, TF should be trying to allocate all of the free memory on the GPU, not the total memory.  Your error message indicates it's trying to allocate total memory.  As @Carmezim notes, there is a work-around.

[2017-02-20 18:08] yaroslavvb commented on #675
There are no built-in jacobians in TensorFlow, instead anything called
'grad' or 'gradient' computes Jacobian-vector product (also called LOp in
theano), see
https://en.wikipedia.org/wiki/Automatic_differentiation#Reverse_accumulation

On Mon, Feb 20, 2017 at 4:04 AM, MYaooo <notifications@github.com> wrote:

[2017-02-20 18:12] agniszczotka opened #7707 "estimator with batch size and data feeding"
Could you provide an example of using the high-level API Estimators with placeholders and feeding batches  like for a basic use:
for step in xrange(max_steps):
   batch_of_inputs,batch_of_targets= get_batch_from_disk(step) # e.g. batches are stored as list where step is and index of the list
    feed_dict = {x:batch_of_inputs,y:batch_of_targets}
    _, loss_value = sess.run([train_op, loss],

[2017-02-20 18:19] #7684 closed

[2017-02-20 18:21] #7686 closed

[2017-02-20 18:21] willshion commented on #6636
same problem

[2017-02-20 19:17] fido2478 commented on #7550
I have the same issue. I've upgraded to tensorflow version 1.0 and then tried to run a python program that uses keras like this
from keras.models import Sequential
from keras.layers import Flatten, Dense

and then brought out this:

I tensorflow/stream_executor/dso_loader.cc:135] successfully opened CUDA library libcurand.so.8.0 locally
Traceback (most recent call last):
  File "clone.py", line 24

[2017-02-20 19:29] mmuneebs opened #7708 "Visualize experiment arguments in Tensorboard"
**Feature request**

I am wondering if it's possible to store the arguments that we pass to the training script to be stored as part of other summaries, and have a way to see those arguments/parameters as notes in a separate tab in Tensorboard.
Reason: It's often hard to track individual training runs and relate them to the training/network config if you change training and network parameters freq

[2017-02-20 20:38] Carmezim commented on #7705
Today is a corporate Google holiday so it might take a little to get a googler response. So you have the  Visual C++ Redistributable 2015 x64 installed, right?

[2017-02-20 20:57] gue22 commented on #7257
Hey guys,
need to dig some deeper into this thread, but to expedite things some thoughts here in advance:

1) Am I mistaken? As far as I saw / understood on my machine there is not even optimization for SSE1? How about cutting off CPUs of a certain age / SSE for the default distribution?! (Naturally I'd appreciate a community effort for a finer-grained optimization offering!!)

2) Do you have any

[2017-02-20 21:00] yaroslavvb commented on #2916
someone made a PR to add MPI interface -- https://github.com/tensorflow/tensorflow/pull/7710

[2017-02-20 21:03] dmitry-xnor commented on #7257
Yaroslav has created a repo with links to unofficial builds. TF proper is
understandably concerned about the support burden such backward
incompatible change would create (i.e. you fire up TF on an old AMD machine
and it gives you "invalid instruction"). I think Yaroslav's soluion is a
good middle ground, with the possible benefit of e.g. Ryzen specific builds
also appearing in the coming months.

[2017-02-20 21:03] post2web commented on #5722
@yaroslavvb Can you suggest how to use this GPU support?

[2017-02-20 21:10] MartinThoma commented on #7287
Does `SKCompat` still exist in Tensorflow 1.0?

[code]

[2017-02-20 21:13] SiddGururani commented on #7705
@daxlab I tried that. Didn't help. I'm assuming you're talking about changing the working directory from where I run python and subsequently import tensorflow.

@Carmezim Yes, I checked MSVCP140.dll before trying to import tensorflow and after it failed, I did a fresh install of the VC redist package. Nothing changed.

[2017-02-20 21:29] yaroslavvb commented on #5722
@post2web -- @tfboyd is working on https://github.com/tensorflow/tensorflow/issues/7679 which should have an example of using these ops, once it's ready

[2017-02-20 21:45] Carmezim commented on #7705
If you want to try uninstalling TensorFlow and installing with `conda install` in case you need to get it running for now. The package is not officially supported though, or try installing the PYPI package with `pip install tensorflow-gpu` and see if it gives some result.
You have one Python distribution installed right?

[2017-02-20 21:48] essamgoda commented on #7653
@aselle  i uninstall nvidia driver and cuda and tensorflow-gpu (via pip)  and install again

try to install from source code (to write GPU card with CUDA Compute Capability of my driver) show error in build

result
[code]

nvidia-smi result is
[code]

[2017-02-20 22:05] carlthome opened #7712 "Feature request: add parametric ELU (PELU) activation function"
The exponential linear unit (ELU) is already in TensorFlow as `tf.nn.elu` which is great. The new parametric version (called PELU) shows very promising experimental results so I wonder if it could be added in to TensorFlow too in order to encourage more widespread experimentation with it by the deep learning community. One problem with it though is that it's stateful (e.g. `tf.Variable`), meaning

[2017-02-20 22:19] malmaud commented on #7508
Thanks! Unfortunately, if you use the C API via `TF_GraphImportGraphDefWithReturnOutputs` in analogy to the above example, it still doesn't work to use `^x` instead of `x` as the remapping key.

AFAICT, mapping control inputs is impossible in the C API.

[2017-02-20 22:20] Gemesys opened #7713 "Attempt to "import tensorflow as tf" on MacOS 10.10.5, Python 2.7.10, numpy 1.12.0"
- Installed tensorflow using pip on MacOS Yosemite 10.10.5, running Python 2.7.10, with current numpy 1.12.0.  Python runs ok, but attempt to "import tensorflow as tf", as per the documentation for TensorFlow install on Mac OS, generates exactly the same error sequence as posted already on github by another user.  The other users posting was closed without comment.  The specific error message is:

[2017-02-20 22:41] essamgoda commented on #7653
@aselle   i uninstall nvidia driver and cuda and tensorflow-gpu (via pip) and install again

try to install from source code (to write GPU card with CUDA Compute Capability of my driver) show error in build

when i run
[code]

can i change configuration to 2.1 ? or my drive will not work ever ?

[2017-02-20 22:56] Gemesys commented on #7713
Ok, got the answer.  The location of the installed python packages is different on the MacOS than on Linux, but the info provided for Linux users on other posts, solves the problem.  If running TensorFlow, not only is the "numpy" version stuff critical (ie. looks like you need the multi-array features, which aren't in lower versions?), but package "six" is needed, and has to be above version 1.10.

[2017-02-20 23:10] ogail opened #7714 "[Distributed Training] Model parallelism support"
Hi,
Looking in the [TF distributed training tutorial](https://www.tensorflow.org/versions/r0.10/how_tos/distributed/) it provides distributed training via data parallelism example only. Does TensorFlow currently support model parallelism? If yes where are docs/examples for that?

Thanks,
Ogail

[2017-02-20 23:19] esd100 commented on #2940
@victorv Unfortunately, this problem still persists.

I am getting
[code]

[2017-02-20 23:25] SiddGururani commented on #7705
So when I use the PYPI package, it works. But gives the issues listed on https://github.com/tensorflow/tensorflow/issues/7621
The solution there was to install the nightly build. Maybe, for now I'll revert to the PYPI package.

Yes, I have one Python distribution.

[2017-02-20 23:32] shariharan99 commented on #6503
Is there any update on this? It would be super useful for our work !

[2017-02-20 23:48] dsmilkov commented on #7620
Hi @smar10,

Thanks for reporting. We'll need some info to help us reproduce the problem.

1. What browser and OS are you using?
2. What is the size of your dataset (number of points and dimensionality)?
3. If (some of) your datasets are public, can you share it with us?

Thanks!

[2017-02-20 23:49] cancan101 opened #7715 "Feature: nadam optimizer"
Adam with nesterov momentum.

Keras has it: https://keras.io/optimizers/#nadam
TF implementation (old and doesn't quite work) : https://github.com/tdozat/Optimization/blob/master/tensorflow/nadam.py

[2017-02-21 00:05] patoalejor commented on #7683
@andrewharp Do you know how to resolve the issue, I have the same problem. I had followed the steps in the README.md

[2017-02-21 00:32] hbfs commented on #2940
Here's a successful 10.11.6 build. Mainly for my own documentation, it has been greatly simplified and Just Works&trade; :

## Pre-requisites:
OS X 10.11.6
Python 2.7.11
pip 9.0.1

Download and install directly from nVIDIA:
1. Install CUDA-8.0
2. Install cuDNN-5.1
     a. Copy files to `/Developer/NVIDIA/CUDA-8.0/{lib,include}`
     b. Symlink `ln -s /Developer/NVIDIA/CUDA-8.0lib/cudnn* /usr/local

[2017-02-21 01:03] Carmezim commented on #7705
Are you getting OpKernel error? There are more recent nightlies (89) if you want to try as well.

[2017-02-21 01:07] huangying1201 opened #7716 "Upgrade Tensorflow-1.0.0rc2-cp35-cp35m-win_amd64.whl on Windows and get warning"
I upgrade Tensorflow-1.0.0rc2-cp35-cp35m-win_amd64.whl, CPU version on Windows server 2012 R2

pip install --upgrade
http://ci.tensorflow.org/view/Nightly/job/nightly-win/85/DEVICE=cpu,OS=windows/artifact
/cmake_build/tf_python/dist/tensorflow-1.0.0rc2-cp35-cp35m-win_amd64.whl

It shows
"Successfully installed tensorflow-1.0.0rc2 werkzeug-0.11.15"

But I get the following warning when I run the he

[2017-02-21 01:15] Carmezim commented on #7706
Please see #6999, Python 3.6 is not supported on Windows yet and currently the only way is to build TensorFlow from source.  You can keep track there and this can be closed as it's a duplicate.

[2017-02-21 01:19] Franck-Dernoncourt commented on #5696
One more example:

![image](https://cloud.githubusercontent.com/assets/15331/23146994/ad180d1c-f7a9-11e6-9804-7011a1143c12.png)

Each option for `Initializers` links to a different API version.

[2017-02-21 01:21] yaroslavvb commented on #7714
Here's a simple example of model parallelism -- http://stackoverflow.com/questions/42069147/implementation-of-model-parallelism-in-tensorflow .  You may get more examples on stackoverflow, closing this as we are trying to keep this list for bugs in TensorFlow itself

[2017-02-21 01:21] #7714 closed

[2017-02-21 01:22] Carmezim commented on #7700
I think this problem is better suited for StackOverflow as apparently it's not bug with TensorFlow itself

[2017-02-21 01:26] yaroslavvb commented on #5696
For some things, gitbook search works better. Latest gitbook is at https://haosdent.gitbooks.io/tensorflow-document/content/api_docs/ and tracking issue for gitbook updates is https://github.com/tensorflow/tensorflow/issues/3810

[2017-02-21 01:36] Franck-Dernoncourt commented on #5769
Is it fixed now? it looks ok to me.

[2017-02-21 01:52] mrry commented on #3692
@sirgogo The original problem was solved six months ago. If you were facing the same problem, upgrading to a new version should fix it; otherwise please post a new issue describing a complete reproducible example and we'll take a look.

[2017-02-21 02:26] llhe opened #7717 "Segmentation fault with TensorFlow 1.0"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-21 02:36] #5769 closed

[2017-02-21 02:38] cancan101 commented on #7717
Dupe of: https://github.com/tensorflow/tensorflow/issues/6968 ?

[2017-02-21 02:47] cancan101 opened #7718 "Uncaught TypeError: Cannot read property 'url' of undefined"
Shown in the web console for a tensorboard instance:
[code]
I am using the 1.0.0 Docker image.

[2017-02-21 02:52] #7642 closed

[2017-02-21 02:57] cooijmanstim opened #7719 "Feature request: convenience functions for getting variables from scopes"
There does not currently seem to be a good way to get a collection of variables that belong to a given scope. I've seen issue #7295, but the answer given by Yaroslav (at http://stackoverflow.com/questions/42073239/tf-get-collection-to-extract-variables-of-one-scope) does not nest:

[code]

The snippet above outputs (on TF 1.0):
[code]

The output shows that wrapping the scope "bar" in another scop

[2017-02-21 03:01] cancan101 opened #7720 "Feature: Hide Metrics for Which Data Exists for Zero Runs"
The list of metrics for for plotting on the scalars tab is cluttered with a number of metrics that don't exist for the selected runs. Why not side these rather than taking up real estate:
![image](https://cloud.githubusercontent.com/assets/51059/23149169/2c980ac0-f7b8-11e6-8493-b4085e089be1.png)

[2017-02-21 03:06] llhe commented on #7717
Thanks @cancan101 , the issue can be resolved with:
[code]

[2017-02-21 03:06] #7717 closed

[2017-02-21 03:17] Alex6381 commented on #1421
I'm running MNIST sample https://www.tensorflow.org/versions/master/how_tos/summaries_and_tensorboard/  on FT 1.0 GPU on Windows 10.  All the TF events  are getting properly  recorded at C:\tmp\tensorflow\mnist\logs\mnist_with_summaries .

 When I ran

 tensorboard --logdir=C:\tmp\tensorflow\mnist\logs\mnist_with_summaries --debug

 I got

 INFO:tensorflow:TensorBoard path_to_run is: {'C:\\tmp\\te

[2017-02-21 03:20] chenleo commented on #7498
I think this problem can be either from the NDK version, or from the Qt platform, since they officially support to use r10e: https://wiki.qt.io/Qt_5.8_Tools_and_Versions

[2017-02-21 03:28] andrewharp commented on #7683
@kinDSa @patoalejor Can you please explain the exact steps you're using to reproduce this? It sounds like it's not finding the java API classes under tensorflow/java for some reason.

[2017-02-21 03:33] myaooo commented on #675
@yaroslavvb Thanks for your reply. I see why it's expensive to do that.

[2017-02-21 03:50] daj opened #7723 "arm-linux-androideabi-gcc: internal compiler error: Killed (program cc1plus)"
I'm trying to create a Docker image which has all the dependencies required to build the TensorFlow Android demo app from source (including the Android SDK, NDK and build tools).

I'm simply starting with `gcr.io/tensorflow/tensorflow:latest-devel` and then adding the Android dependencies on top.  This lists all the steps I've done so far:
https://medium.com/@daj/docker-image-for-building-tensorfl

[2017-02-21 04:06] SiddGururani commented on #7705
Yes, I get the OpKernel errors with the PYPI package.

I'll try out using the latest nightly and see if it works. Shall keep you posted!

[2017-02-21 04:18] nmehandru opened #7725 "BAZEL_SH environment variable is not defined..."
C:\Users\nmehandru>bazel build tensorflow/tensorflow/examples/image_retraining:retrain
Error: BAZEL_SH environment variable is not defined, cannot convert MSYS paths to Windows paths: Invalid or incomplete multibyte or wide character
Error: AsWindowsPathWithUncPrefix(/etc/bazel.bazelrc): AsWindowsPath failed, err=203
: Invalid or incomplete multibyte or wide character
Error: AsWindowsPathWithUncPr

[2017-02-21 04:25] mrry commented on #7508
Reassigning this to @skye, who's currently reconciling the Python and C APIs for importing graphs.

(If the trick @yaroslavvb suggested works, that's only by accident, since we didn't originally intend to provide a way to remap control inputs using `tf.import_graph_def()`. It doesn't seem too problematic to allow it though...)

[2017-02-21 04:29] malmaud opened #7726 "Feature request: Allow import of incomplete graphs"
It seems like there is no reason in principle not to allow this:

[code]

as, after `y` is imported, the `x:0` input it refers to is valid.

As it stands however, this throws `ValueError: graph_def is invalid at node u'Exp': Input tensor 'x:0' not found in graph_def..`.

[2017-02-21 05:18] mrry commented on #7726
I don't think this feature should be added to `tf.import_graph_def()`, because it is designed to deal explicitly with correctly typed and valid graphs. The `input_map` argument is available for remapping inputs explicitly, and the following program works:

[code]

Notice how you had to drop to manipulating the `tf.GraphDef` directly at the protobuf level in order to *create* an incomplete graph. Y

[2017-02-21 05:19] kinDSa commented on #7683
@andrewharp
I followed step given in  README.md file of TensorFlow Android Camera Demo.First I clone Tensorflow demo, Then Import android project at path tensorflow/tensorflow/examples/android  in android studio. After importing I face above error. There is two class TensorFlowInferenceInterface and RunStats under tensorflow/java.

[2017-02-21 06:12] aselle commented on #7675
Thanks so much!

[2017-02-21 06:12] #7675 closed

[2017-02-21 06:14] aselle commented on #7582
@mrry, is there a list of known ops that aren't available in windows?

[2017-02-21 06:16] aselle commented on #7660
I believe you only need -mavx2 to get all previous sse extensions (check the man page or gcc documentation for more details). If you really want to use multiple, you'd probably just separate them with spaces i.e. "-mavx2 -msse4.2" etc.

[2017-02-21 06:18] aselle commented on #7623
Thanks @carmezim! Glad you got it working @dandarm, closing for now.

[2017-02-21 06:18] #7623 closed

[2017-02-21 06:22] mrry commented on #7582
The [CMake readme](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md) has a list of missing ops, but I don't know if people have been keeping it up-to-date as they add new ops  (though it looks promising that the [list of files excluded from the Windows build](https://github.com/tensorflow/tensorflow/blob/43c71a03380d8de18202cc399563814b2f438cd2/tensorflow/con

[2017-02-21 06:39] EronWright commented on #7134
@Enet4 thanks, and feel free to try the updated patch posted above.

[2017-02-21 06:42] mrry commented on #7353
@fesun Thanks for digging into the `ENQUEUE_REQUEST()` issue. This seems like a bug that only occurs at higher pending request counts (e.g. when we have a larger cluster of workers, all contacting the same PS task), but it doesn't seem to trigger deterministically (e.g. when the number of enqueued requests drops to zero).

Perhaps somebody on the gRPC team has a hunch.... @ctiller, you were super-

[2017-02-21 06:49] WolfNiu commented on #5731
@ebrevdo  May I ask a question? For each time step of LSTM there is a memory cell value **_c_**, a hidden state **_h_**, and an output **_y_**. So what you were suggesting is that the **_outputs_** returned by dynamic RNN contain **_h_** rather than _**y**_ for each step? Would that also mean the returned **_output_states_** is actually **_outputs_**[-1]? Thank you.

[2017-02-21 06:50] thjashin opened #7727 "when will tf.contrib.distributions move into tf core? Is this planned?"
Hi,

I'm working with distributions a lot in my own library built upon tensorflow. However, I found the api provided in tf.contrib.distributions are subject to change very often, which makes it quite difficult to keep up and maintain a stable codebase.
So I'd like to ask whether tf.contrib.distributions is going to the tensorflow core library and how is this planned. Will you recommend to keep usi

[2017-02-21 07:07] WakedupChan commented on #6627
try use commands as follows:
pip uninstall tensorflow
pip install tensorflow

[2017-02-21 07:10] mmaaww commented on #7031
@inflation can you be more specific on what the changes are?

[2017-02-21 08:11] craftlk commented on #4775
@benoitsteiner ,  How to confirm that it's eigen that caused this problem?

[2017-02-21 08:28] tianwalker2012 opened #7728 "compile_ios_tensorflow.sh failed with following error"
/Users/xietian/Documents/tensorflow/tensorflow/contrib/makefile/gen/lib/ios_ARMV7/libtensorflow-core-armv7.a -arch armv7 -fembed-bitcode -miphoneos-version-min=8.2 -framework Accelerate -Xlinker -S -Xlinker -x -Xlinker -dead_strip -all_load -L/Users/xietian/Documents/tensorflow/tensorflow/contrib/makefile/gen/protobuf_ios/lib -lz -lstdc++ -lprotobuf -lz -lm
Undefined symbols for architecture armv7

[2017-02-21 08:53] tillahoffmann commented on #675
[Hessians](https://www.tensorflow.org/api_docs/python/tf/hessians) are supported but yes, they are expensive to compute.

[2017-02-21 08:59] YannickSchini commented on #6533
Hi, I see you've added python 3.6 compatibility for Mac & Linux, do you have an ETA for the windows support of python 3.6 ?

[2017-02-21 09:26] r4nt commented on #7543
Can you try building with:
bazel <...> --action_env LD_LIBRARY_PATH="$LD_LIBRARY_PATH"

[2017-02-21 09:30] r4nt commented on #7542
Ok, this is really weird. Can you sprinkle ps -ef bazel in between commands so we get the PID of the bazel process (to see when it restarted)?
Other than that, I know it's a lot to ask, but can you try using bazel from head (I was told there have been a couple of fixes regarding when to rebuild the config)?

[2017-02-21 09:34] artzers opened #7729 "How to delete existed tensorflow variable?"
Hello, I am using windows GPU tensorflow 1.0.
 I use ipython notebook to build training model because I can reuse script easily. Sometimes I just want to modify one tensorflow variable, such as W1(shape=[3,3],name="W1") from a existed model. So I just modify the variable and run the model building script again. However, tensorflow add W1(shape=[5,5],name="W1_1")  variable to replace old variable W

[2017-02-21 09:43] eamartin opened #7731 "Provide a way to clear variable and name scope"
This is a follow-up of https://github.com/tensorflow/tensorflow/issues/6189

It would be nice to be able to create a variable or name scope that does not obey all currently open scopes.

As an example:
[code]

This would be useful for using scopes with object oriented TensorFlow graphs.

Consider a slightly modified version of the example from #6189 . Assume each method pushes a scope for the inst

[2017-02-21 10:14] r4nt commented on #7703
This looks like the same problem as #7543; here, bazel is not the issue, but the compiler wrapper script resets PATH.

[2017-02-21 10:18] cherishlc commented on #7515
@aselle  I have just developed [DecodeCSVSelectedColumnsOp](https://github.com/cherishlc/tensorflow_ext/blob/master/CPPModules/decode_csv_selected_columns.cc)

I'd like to prepare a pull request,  but  not familiar with that. Learning to do pull request.

[2017-02-21 11:02] aliosmanulusoy commented on #7700
@Carmezim Why do you think it is not a bug?

[2017-02-21 11:37] Sean-Git opened #7734 "Error setting read_batch_size in tf.contrib.learn.read_batch_examples?"
I am using the API _tf.contrib.learn.read_batch_examples()_. When I set the param _read_batch_size_, it always lead to the error "**ValueError: All shapes must be fully defined: [TensorShape([]), TensorShape([Dimension(None)])]**".  Use the default value 1 of _read_batch_size_ is OK. I wonder what's happening behind?

The full error stack is below:

[code]

[2017-02-21 11:53] linrio commented on #6345
Yes ! **concat_v2 -> concat for TF 1.0 **

[2017-02-21 11:58] samfux84 commented on #7572
Tried to install Tensorflow 1.0 with bazel 0.4.4 (under CentOS 6.8, using GCC 4.8.2, Python 3.6.0).

Configuration step went fine, but when trying to build the pip wheel with

[sfux@e2174 tensorflow-1.0.0]$ bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package

it failed:

[code]

Compiler is set correctly, GCC 4.8.2 library directory is added to $LD_LIBRARY_PATH:

[sfux@euler0

[2017-02-21 12:17] llhe commented on #7572
@samfux84 Does this help https://github.com/bazelbuild/bazel/issues/1358?

[2017-02-21 12:37] jonasrauber opened #7735 "API Documentation with Links to Source Code"
I think it would be a really great improvement if the API documentation https://www.tensorflow.org/api_docs/ would contain links to the corresponding source code file on GitHub, similar to python package documentations on readthedocs.org, e.g. https://lasagne.readthedocs.io/en/latest/modules/layers/base.html.

This would also make it much faster to create pull requests that fix errors in the docum

[2017-02-21 12:46] deepdad commented on #1258
WARNING:tensorflow:From /usr/local/lib/python3.5/dist-packages/tensorflow/contrib/learn/python/learn/estimators/dnn.py:374: calling BaseEstimator.predict (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01

#tf.logging.set_verbosity(tf.logging.FATAL)#INFO
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '5'#0

can't suppress fro

[2017-02-21 13:15] linrio opened #7737 "AttributeError: module 'tensorflow' has no attribute 'merge_all_summaries'"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem? No

### Environment info
Operating System: Win10

Installed version of CUDA and cuDNN: No
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide: yes

1. A link to the pip package you installed:
2. The output from `python -c "import

[2017-02-21 13:17] dchirikov commented on #7542
Ok,another try:

[code]
so `bazel info` killed bazel. I would expect that `bazel build` kills bazel server

[2017-02-21 13:23] dchirikov commented on #7543
Got the same.

[2017-02-21 14:03] vskubriev commented on #7449
Dear @devfubar. Is `--linkopt='-lrt'` required option or it is you own customization ?

[2017-02-21 14:26] jrabary opened #7738 "slim doesn't play well with the new tf.layers v 1.0"
We use tf.contrib.slim to build NN architecture. After upgrade to tensorflow 1.0 the are some trouble when building models with slim. For example `slim.arg_scope` doesn't work with the tf.layers components. And when we keep using slim.* layers, we got a runtime error:

[code]

If we use all the layers from tf.layers this runtime error goes away.

Any ideas ?

[2017-02-21 14:30] jinfagang opened #7739 "tensorflow/example/mutilbox_detector bazel build error"
I think there are lots of out of date docs in this repo, for example:
[code]
this example show build mutilbox_detector using bazel and generate an binary executable file, however I just got bunch of errors:
[code]
Suggest develop team upgrade useless docs and fix those tutorial that makes us confuse and even lead us to the wrong road.....

[2017-02-21 15:01] ictxiangxin opened #7740 "GradientDescentOptimizer got wrong result"
**I want use gradient descent to solve equation set, but I got wrong result everytime, so I check my code and written a numpy edition, in this edition I provide explicit loss gradient and I can get currect result.**

So I don't understand why GradientDescentOptimizer can not work.

**here is my code without tf:**

    import numpy as np

    class SolveEquation:
        def __init__(self, rate: fl

[2017-02-21 15:01] schmiflo commented on #7737
It is now called ```tf.summary.merge_all```

[2017-02-21 15:02] NicolaDonelli commented on #6584
Same problem for me today (with a version of tf installed 3 days ago using conda).
Any update?

[2017-02-21 15:13] alextp commented on #7403
@girving I thought if the graph doesn't use the first derivative in the forward pass the second derivative won't be computed in the backward pass since there will be no edges connecting it with anything anyone will run, as a consequence of how we prune graphs for feeds and fetches. Or am I missing something?

If I'm not missing anything, option (1) is a good way to go.

[2017-02-21 15:20] MarvinTeichmann opened #7741 "The function 'layers/convolutional.py` does not follow `tf.GraphKeys` convention"
In [convolutional.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/layers/convolutional.py) bias and weight variables are created and named `kernel` and `bias`. However according to the conventions defined in [tf.GraphKeys.md](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard8/tf.GraphKeys.md) those variables

[2017-02-21 15:21] girving commented on #7403
@alextp You should correct me if I'm wrong, but I believe that `tf.gradients` will feed zeros to `grad_1`.  None of the gradient routines handle `None` inputs, so it can't be `None` for a similar absence of input.  The gradient routine is then supposed to add the various gradient contributions together, which will produce a TensorFlow graph where the result of the zero computation is live downstre

[2017-02-21 15:25] girving commented on #7403
@persiyanov The `SoftmaxCrossEntropyWithLogits` op produces two outputs.  One is the tensor of values, and the other is the gradient.  Thus, the unused second argument to the registered gradient routine currently called `_`, or `grad_1` for short`, is the gradient of the loss w.r.t. the gradient, and is what you need to compute second order gradients.

P.S.  No, that's the simpler case where the g

[2017-02-21 15:26] SiddGururani commented on #7705
The most recent nightly build also gave the same error.

Just to make sure I'm right in saying that the MSVCP140.dll is in the path, here is the output of:
[code]

[2017-02-21 15:31] devfubar commented on #7449
@vskubriev I merely extended @ahundt suggested options from this [comment](https://github.com/tensorflow/tensorflow/issues/7449#issuecomment-280158846)

Not sure what it does personally. Perhaps @ahundt could elaborate on its purpose? I have noticed it mentioned in various documents but never explained.

[2017-02-21 15:34] r4nt commented on #7542
That would be the case if the bazel in "bazel info" is a different bazel from the bazel that tensorflow finds in its configure script. Do you by any chance have multiple bazel versions installed?

[2017-02-21 15:40] codeloverr opened #7742 "Improve retrained inception v3 in Android demo"
I have retrained the Inception-V3 final layer with my own 20 categories. When I am using retrained model in android demo app it takes 6 to 8 seconds to predict.

Running (using `armeabi-v7a`) on

- LG G4 Stylus -> 6-8 sec
- S6, -> 3-4.5 sec

I have done `optimize_for_inference` it takes 6-9 sec and `quantize_graph` it takes 7-11 sec. Is there any way to improve it?

[Output](https://i.stack.imgur.

[2017-02-21 15:50] Carmezim commented on #7705
I see, mine is inside Visual Studio but it might not make a difference. I will comment @mrry and @gunan here as they will know better what can be happening

[2017-02-21 16:02] Carmezim commented on #7729
This questions is suited for StackOverflow which is monitored as well under TensorFlow tag.

[2017-02-21 16:08] kvrd18 commented on #7439
I've built a batch normalization layer for multi-GPU. It predicts well on the validation set only if the `is_training` is `True`. Not sure why though. Can someone help me with this?

[code]

This is working well on multi-GPU / data parallelism as long as the module is in training mode.

[2017-02-21 16:09] yaroslavvb commented on #7729
as @Carmezim mentioned, these questions are better suited to stackoverflow, to make sure answers get better exposure for other people looking for the same, and to keep this list focused on things that need action of core developers

[2017-02-21 16:09] #7729 closed

[2017-02-21 16:35] skye commented on #7508
As @yaroslavvb noted, you should use "^x" in the input map. Using "x" in the input map is equivalent to "x:0", i.e. the non-control output of `x`.

However, when I try running your code snippet above with "^x", it looks like that functionality is broken. I'll work on patching it.

@malmaud, the C API should work with control inputs. You'd use something like the following:
`TF_ImportGraphDefOptions

[2017-02-21 16:40] malmaud commented on #7508
Thanks! I did eventually figure out the `-1` magic constant and wrote [a PR](https://github.com/tensorflow/tensorflow/pull/7724) to document it.

[2017-02-21 16:49] matth commented on #2146
@0x454447415244 yes I see similar, not a noticeable improvement in speed and similar CPU usage. Not 100% sure what is happening, I' pretty sure it usese the GPU as I can see it getting compiled with CUDA support.

TBH I am not sure how much improvement I should expect to see, the warp ctc benchmarks do not compare against Tensorflow's implementation.

Personally I am doing CTC with audio features

[2017-02-21 16:51] aselle commented on #7689
@annarev, could you take a quick look?

[2017-02-21 16:52] aselle commented on #7698
@petewarden, could you please take a look?

[2017-02-21 16:58] aselle commented on #7550
I apologize, but I'm confused now. If the issue is resolved please close it. If not, please re-state exactly what is still wrong and what you would like fixed. Thanks so much!

[2017-02-21 17:00] persiyanov commented on #7403
@girving Ah, okay, I see.

`SoftmaxCrossentropyWithLogits(logits, labels) -> (loss, grad of loss w.r.t. logits)`

Therefore,

`SoftmaxCrossentropyWithLogitsGrad(op, grad_0, grad_1) -> (grad w.r.t logits, grad w.r.t labels)`

Where, `grad_0 -- backprop w.r.t loss, grad_1 -- backprop w.r.t (grad w.r.t logits)` and `grad w.r.t labels` is actually ``None`.

I need to know ``grad_1`` for computing hess

[2017-02-21 17:01] guschmue commented on #7306
I remember seeing above gzip trace above back in October and there was some discussion about eof semantic in ReadFromStream(). Just tried my old test app again and it fails, but seem to work linux. I can debug this a little ... might take a day or 2 before I get to it,

[2017-02-21 17:04] aselle commented on #7582
@linrio, could you compile from source and see if that solves your issues. Otherwise, you will need to wait for the next release which resolves those ops being missing.

[2017-02-21 17:09] girving commented on #7403
Setting aside the optimization, what do you mean by "I can't do this in `SoftmaxCrossEntropyWithLogitsGrad`"?  That's where you'd do it.

It may be simpler to ignore the fact that second derivatives are involved.  Consider the op as an arbitrary smooth function that takes in some inputs and produces some outputs.  You can write down the formulas for everything involved, so you can take all the req

[2017-02-21 17:12] aselle commented on #7653
You could try compiling from source with compute capability 2.1 specified as the required version. However, I believe from this stackoverflow post, you need at least compute capability 3.0 to use cudnn.
http://stackoverflow.com/questions/33760192/how-to-know-which-cudnn-version-one-should-use
@zheng-xq, can you verify that tensorflow requires at least 3.0?

[2017-02-21 17:13] smar10 commented on #7620
Hi @dsmilkov,
After reading your questions and get more problems on audio tab on tensorboard, I realized what the issue might be... I was using Safari instead of Chrome.
I make some tests with same dataset and it's all ok on Chrome.

[2017-02-21 17:14] persiyanov commented on #7403
I can't do this because `SoftmaxCrossentropyWithLogitsGrad` must return first derivatives w.r.t logits and labels, not second ones. Or there is something that I missed and that is why I seem stupid:)

[2017-02-21 17:14] SiddGururani commented on #7705
I believe my CUDA and cuDNN are setup properly since the PYPI tensorflow-gpu package is able to find the CUDA dlls, but then it gives me the OpKernel errors.

[2017-02-21 17:16] mrry commented on #7582
@linrio Or use a nightly build, which should also have these ops built in.

Note however that if you aren't using `tf.contrib.tensor_forest`, you can safely ignore these error messages.

[2017-02-21 17:18] tfboyd commented on #5934
This issue is a little stale, but I should be on AWS this week and it should be easy enough to run the code from:

`python https://github.com/soumith/convnet-benchmarks/blob/master/tensorflow/benchmark_alexnet.py`

I will be using TF 1.0 so it will not be apples to apples but knowing it runs fine on TF 1.0 will be nice.

[2017-02-21 17:22] SebOh commented on #7701
I'm currently having the same error. What did you do exactly by

Can you help me?

[2017-02-21 17:24] girving commented on #7403
@persiyanov I think I don't quite understand your question.  Consider the following function from R -> R^2:

    def f(x):
      return x**2, 2*x

    def grad_f(x, dy, dz):
      return 2*x*dy + 2*dz

`f` returns both a function and its first derivative.  It's gradient computes only "first derivatives", but clearly contains enough information to compute the second derivative of `f`'s first result

[2017-02-21 17:25] inflation commented on #7738
`slim` is kind of out of maintenance in my opinion. The better option is to migrate to new `tf.layers` or use another higher level abstraction based on TensorFlow.

[2017-02-21 17:26] alextp commented on #7403
One of the outputs of SoftmaxCrossEntropyWithLogits is the gradient, so the
gradient wrt this second output will be the second derivative.

On Tue, Feb 21, 2017 at 9:16 AM, Dmitry Persiyanov <notifications@github.com

--
 - Alex

[2017-02-21 17:33] matwey opened #7743 "[feature request] tf.matrix_triangular_solve misses unit_diagonal= argument"
Hello,

It would be useful to allow ```tf.matrix_triangular_solve``` have ```unit_diagonal=``` kw-argument and treat ```matrix``` argument as having unit diagonal.
Sure, the same may be obtained by composition ```tf.matrix_set_diag``` and ```tf.matrix_triangular_solve```. However, additional assignment here seems to be inefficient. Solving triangular matrix involves quite simple formulae where dia

[2017-02-21 17:33] poxvoculi commented on #7700
@yuanbyu can you look at this?

[2017-02-21 17:45] poxvoculi commented on #7703
closing as duplicate of #7543

[2017-02-21 17:45] #7703 closed

[2017-02-21 17:46] Mursaat commented on #7725
Did you [install Bazel](https://bazel.build/versions/master/docs/windows.html) and add the environment variable BAZEL_SH ?

[2017-02-21 17:46] ymakkapa commented on #173
Hello everyone,
I executed the code translate.py from sequence to sequence models tutorial of tensorflow for 20 hours
![seqgoo](https://cloud.githubusercontent.com/assets/20130992/23177149/ca80dc96-f833-11e6-99c7-61b2150c7261.png)
and still waiting for the output.
Can anyone tell me how much more time will it take to display the output
System specifications:
I installed Ubuntu 16.04 on VMware with

[2017-02-21 17:49] ymakkapa opened #7744 "tensorflow sequence to sequence models"
Hello everyone,
I executed the code translate.py from sequence to sequence models tutorial of tensorflow for 20 hours and did not get output.
Can anyone tell me how much time will it take to display the output
System specifications:
I installed Ubuntu 16.04 on VMware with a disk space of 100GB
![seqgoo](https://cloud.githubusercontent.com/assets/20130992/23177248/2078472e-f834-11e6-80ec-c264984d51

[2017-02-21 17:50] zheng-xq commented on #7653
Yes. The minimum version that is officially supported is 3.0.

[2017-02-21 17:50] poxvoculi commented on #7705
@mrry: windows build issue

[2017-02-21 17:50] persiyanov commented on #7403
@girving why `grad_f` returns `2*x*dy + 2*dz`, not just `2*x*dy` (it is first derivative of f(x) w.r.t x multiplied by backprop)?

I understand that I CAN compute second derivative in `_SoftmaxCrossEntropyWithLogitsGrad`. I do not understand WHERE should I return it.

I see the solution where I return first derivative (just as it is returned now), but compute it using `-tf.reduce_sum(y * tf.log(tf

[2017-02-21 17:51] poxvoculi commented on #7706
Closing as duplicate of #6999

[2017-02-21 17:51] #7706 closed

[2017-02-21 17:56] persiyanov commented on #7403
[code]

I am talking about something like this. I cant return second derivative from this function, I only can provide a way to compute it properly from outside the function.

[2017-02-21 18:00] yifeif commented on #7638
Thanks @andrewharp for pointing to the correct link! Closing.

[2017-02-21 18:00] #7638 closed

[2017-02-21 18:05] sirgogo commented on #3692
Thanks @mrry . I realized that I should use tf.shape(X)[#] rather than X.shape[#].

[2017-02-21 18:12] persiyanov commented on #7403
@girving sry, in your example if `f` is just function from R to R^2. That's ok, the derivative is correct. But in softmax case, second output is a hack, as I suppose, for better efficiency (there a fused implementation in C++ core). Why can we consider it as simple operator from some space K to K^2?

[2017-02-21 18:32] yifeif commented on #7665
@caisq assume this was intentional?

[2017-02-21 18:34] girving commented on #7403
@persiyanov How does it being a hack change the fact that it's a well defined mathematical function?

[2017-02-21 18:38] persiyanov commented on #7403
@girving
Mathematically, softmax_xentropy returns one output, not two. If we inject gradient as second output and simply compute gradients as always, they will not be correct, will they?

[2017-02-21 18:38] caisq commented on #7665
@yifeif That is correct - these incorrect URLs are intentional. The strings like 0.0.0 are replaced by our docker build script. For example, see: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/parameterized_docker_build.sh#L215

[2017-02-21 18:39] caisq commented on #7665
I'm closing this issue now.

[2017-02-21 18:39] #7665 closed

[2017-02-21 18:42] yaroslavvb commented on #675
@myaooo currently `tf.gradients` gives gradient of function which outputs a scalar. You could call it multiple times for each output. IE, `[tf.gradients(component, var) for component in vector]`.
There's a trick for computing hessians more efficiently described in https://github.com/tensorflow/tensorflow/issues/4897#issuecomment-253056458

[2017-02-21 18:42] girving commented on #7403
@persiyanov No, the C++ op returns two inputs, not one.  Note the `unused_backprop` output here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn_ops.py#L1618.

[2017-02-21 18:51] acomarce commented on #2412
@mrry bit off topic, what would be needed to build it as a lib for windows and is there a plan for this do you know?

[2017-02-21 18:57] persiyanov commented on #7403
@girving We talk about mathemtical correctness, I know that C++ op returns two outputs=)

You say that in `_SoftmaxCrossEntropyWithLogitsGrad` I need to return something like this:

`_BroadcastMul(grad_0, grad_loss_wrt_logits) + _BroadcastMul(grad_1, grad_grad_wrt_logits)`?

I think it's definitely incorrect...

[2017-02-21 18:59] mrry commented on #2412
@acomarce Two things, really:

1. We'd need to set up the `__declspec(dllexport)`/`__declspec(dllimport)` annotations to define the set of symbols that would be exported by/imported from such a DLL.
2. We'd need some additional build rules for creating the DLL in either the CMake or Bazel builds.

Part 1 will probably be easier if we focus on the C API, which has been designed as a stable API for

[2017-02-21 19:01] girving commented on #7403
@persiyanov Unfortunately to me it looks obviously correct.  Clearly one of us is wrong!  It may well be me, but why would have to be explained to me.  For starters, you could explain how the xent case is different from my simple `f` example.

[2017-02-21 19:02] parunach commented on #7449
I have a CentOS machine and updated my GPU's tensorflow using

`sudo pip install -U tensorflow-gpu`

I get these errors. Any suggestions on how to fix it?

[2017-02-21 19:04] ashern commented on #7707
Personally, I've found using feed_fn to be the most useful option w/ Estimators, and I ignore the other possibilities.

Check out: https://www.tensorflow.org/get_started/input_fn

There are many examples of feed functions offered - modify as needed.

[2017-02-21 19:15] mrry commented on #7705
@SiddGururani Can you check if the CUDA and cuDNN DLLs are in directories named in your `%PATH%`? It looks like commit https://github.com/tensorflow/tensorflow/commit/191658d54f90ac03c15b339326129cd52d1f56a3 changed the way the CUDA-related DLLs were loaded after the 1.0 release branch was cut, so it's possible (although I'm not exactly sure why) that the library resolution would be different in t

[2017-02-21 19:20] malmaud opened #7746 "Feature request: Unique tensorboard URLs for different frontend states"
It would be nice if eg clicking on the "GRAPHS" tab in tensorboard would rewrite the URL to something like "localhost:6006/graphs". And likewise, navigating to "localhost:6006/graphs" would immediately load the GRAPHS tab. In general, encoding the tensorboard state in the URL would be useful.

That way, you could refresh the page and go back to the tab you were on, share your tensorboard state jus

[2017-02-21 19:23] ericyue opened #7747 "Why restore checkpoint will effect the tfrecord reader path?"
I'm training my model with training dataset in standard format
[code]
then I  save the checkpoint and want to do some predicting on my other dataset, **but add two more fields: uid and item_id (just for statistics)**

[code]

When I restore the checkpoint , the simply read-data  faild `InvalidArgumentError (see above for traceback): Name: <unknown>, Feature: item_id (data type: int64) is required

[2017-02-21 19:24] guschmue commented on #2412
The cmake support for this is called CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS. In theory this would be perfect but it adds everything public to the .def which the linker is unhappy about (just too much). Doing the c-api with dllexport is fine (I have a version of this) but I think even to do an user_op to be loaded with tf.load_library() you  need some of the c++ api and the doc shows a lot of classes for

[2017-02-21 19:32] persiyanov commented on #7403
@girving I suppose that I am wrong but I did not realize it yet:)

I thought that `_SoftmaxCrossEntropyWithLogitsGrad` must return gradient of real (mathematical) xentropy, which returns one output. In this case, current implementation looks to me obvious. But I can't understand why these two variants of returned values are equivalent:

Old version: `_BroadcastMul(grad_0, grad_loss_wrt_logits)`

N

[2017-02-21 19:37] alextp commented on #7403
@persiyanov I think to understand this you need to understand better how the tensorflow gradients code works.

Right now when you request a gradient for a loss wrt to a variable tf will walk back the graph calling the gradient functions for all ops. The gradient of an op is a function of the gradient of its outputs (by the chain rule). For an op with multiple outputs the gradient will depend on bo

[2017-02-21 19:46] guschmue commented on #2412
Maybe let me double check: is the c++ api one needs to support this
https://www.tensorflow.org/api_docs/cc/
or
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/g3doc/api_docs/cc
The later is manageable. Until 1.0 it was the same.

[2017-02-21 19:47] nmehandru commented on #7725
I actually did that, I solved that issue, added that variable.
Now, I am trying to figure out how to run the configure file.
I am using command prompt in Windows 10, so I can't run the command './configure' as you would in a Linux terminal
What is the equivalent method of running the configure file in command prompt in Windows?

My output right now is the following:
C:\Users\nmehandru\tensorflow>b

[2017-02-21 19:49] poxvoculi commented on #7707
This sort of usage question is best asked on stackoverflow.

[2017-02-21 19:49] #7707 closed

[2017-02-21 20:01] andrewharp commented on #7723
This seems similar to https://github.com/tensorflow/serving/issues/97, probably due to some interaction with Docker.

Can you try adding `--spawn_strategy=sandboxed --genrule_strategy=sandboxed` to the build flags to see if that helps?

[2017-02-21 20:05] poxvoculi commented on #7712
@fchollet: Is this a welcome contribution?

[2017-02-21 20:05] persiyanov commented on #7403
@alextp Yes! Only with these assumptions everything will be okay.

So when `g = tf.gradients(loss, [logits])[0]` is called, `_SoftmaxCrossEntropyWithLogitsGrad` is immediately called, because `loss` is an output of xentropy op. And `grad_0==1` and `grad_1==0` in this case.

But when I call `h = tf.gradients(g, [logits])[0]`, what really happens in TF?

Are there some other examples of grad functio

[2017-02-21 20:12] martinwicke commented on #7449
I am very confused by this and I'd like to find out whether there's a problem in TF somewhere or whether some compiler (versions) don't properly interpret `-march=native`.

Can someone who built with `--config=opt`, and who's running on the same machine they built on, and who nevertheless does get warnings about unused available optimizations please post the exact compiler and version (both the co

[2017-02-21 20:14] alextp commented on #7403
Yes, tf will recognize that g is the second output from softmax_cross_entropy and do the right thing.

Thought note that tf only takes gradients WRT scalars, not WRT arbitrary tensors so this won't give you the full hessian matrix.

[2017-02-21 20:18] dchirikov commented on #7542
If bazel do not go with TF - no
I barely managed to build single bazel. That was another challenge to make in OpenPower :)
[code]

[2017-02-21 20:21] SiddGururani commented on #7705
Woah! So it looks like cuDNN wasn't setup properly. I put the dll, lib and .h file in CUDA's respective folders.
And it works.

[2017-02-21 20:24] poxvoculi commented on #7716
I'm not very knowledgeable on installation, but I believe that a pip install uses a pre-compiled binary rather than building one specific to your machine characteristics.  The warning messages you see just warn that the binary is not fully optimized for the instructions available.  To build a better binary you may need to invoke bazel.  Perhaps this stackoverflow thread may help you:
http://stacko

[2017-02-21 20:28] damienmg commented on #7542
@dchirikov: what issue did you encountered in porting bazel to OpenPower? We are generally willing to accept patch to support more platform to avoid people having to maintain their own patches.

[2017-02-21 20:28] dchirikov commented on #7542
Hm, actualy bazel goes offline after a minute after `./configure` by himself. One does not need even to run `bazel info`.
Last logs in `c61d2ac558d6d30ef2694b9af72e4144/java.log` (if it will help)
[code]

[2017-02-21 20:31] dchirikov commented on #7542
@damienmg
I don't remember, tbh. Just recall it took some time for me. But it could be just me not so experienced with tools. Anyway, I don't know java at all, so I did not patch it for sure.

[2017-02-21 20:31] dandelionmane commented on #7708
One thing I've intended to add for a while is explicit hyperparameter support to TensorBoard.
The way I imagine this working is, when you create a summary.FileWriter, you would add a configuration protobuf for the "run" which has a universally unique ID, as well as a bunch of configurable metadata for keeping hyperparameter settings.

Then, this data would be encoded with the run and we could buil

[2017-02-21 20:33] dandelionmane commented on #1421
@Alex6381 - If you have a linux/mac machine available, could you try porting the tfevents files onto linux/mac and turning on a linux/mac TensorBoard? That way we can see if the issue is with the data itself, or with Windows TensorBoard.

[2017-02-21 20:34] dandelionmane commented on #7654
Having it always start with all runs disabled would be confusing to first-time TensorBoard users who haven't yet learned what the run selector is.

However, we could make it start with all runs toggled off if you have, say, >20 runs. That should solve this performance issue.

What do you think?

[2017-02-21 20:35] dandelionmane commented on #7718
1. Can you give us a repro?
2. Does this correspond to any visible defect in TensorBoard? (Does it die entirely?)

[2017-02-21 20:36] gunan commented on #7433
@moveforever The key in your error message is this part:
[code]
You may need to reinstall gcc and g++.

@amel2houwi please file a new issue by filling out the full form. If you are on windows, this is a known issue. If you check out r1.0 branch, you should be able to build fine.

[2017-02-21 20:36] dandelionmane commented on #7562
I commented on StackOverflow that it has only been released as a TensorBoard plugin.
@dsmilkov would be the person to talk to about releasing a standalone version.

[2017-02-21 20:36] dandelionmane commented on #7562
Going to re-open and let @dsmilkov decide if this should be closed or not.

[2017-02-21 20:37] jeffheaton commented on #7287
Did TensorFlow drop support for scikit-learn? (that would be unfortunate)  Did it get renamed to something else?  Wasn't scikit-learn comparability the main point of skflow?

[2017-02-21 20:37] damienmg commented on #7542
Oh ok (generally patch are not in the java part, mostly in the compilation scripts).

It looks like Bazel just completed perfectly. /cc @lberki in case he has more understanding of the grpc-command message.

Anyway if the server restart, with the bug I recently fixed on Bazel and without #7575, you will do the configuration step at each build :(, we are trying to cut a Bazel release and our CI has

[2017-02-21 20:40] cancan101 commented on #7654
Anyway the 20 could be a CLI option? It could be defaulted to 20, but it could also be set to 0, etc by users.

[2017-02-21 20:44] cancan101 commented on #7720
This is[ a related SO post](http://stackoverflow.com/questions/42357850/tensorboard-scalars-count): but the count on the right side shows 1 even if there is no data.

[2017-02-21 20:45] rizar commented on #7027
I am not sure I understand the status of this issue. It is pretty clear from the code that by default the GPU kernel is not registered for `scatter_nd`. I make this conclusion by observing that the [following lines for CPU kernels](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/scatter_nd_op.cc#L377):

[code]

and only two respective lines for GPU kernels

[code]

@dr

[2017-02-21 20:46] Franck-Dernoncourt opened #7750 "Making the URLs in the documentation clickable"
It would be nice if the URLs in the documentation were clickable.

[Example](https://www.tensorflow.org/versions/r0.10/api_docs/python/nn/conectionist_temporal_classification__ctc_):

![image](https://cloud.githubusercontent.com/assets/15331/23184189/d337d5b0-f84c-11e6-9c7d-821563b30356.png)

[2017-02-21 20:46] andrewharp commented on #7723
Also, are both of the laptops you tried this on running osx?

[2017-02-21 20:47] SiddGururani commented on #7705
Thanks for help resolving the previous issue. When I start a new session now though, it gives me these warnings:
[code]
Should I create a new issue for this?

[2017-02-21 20:48] gunan commented on #5536
I realized I might be looking at the wrong error message above.
If you are trying to build 1.0 branch, any bazel version above 0.4.2 should work.
If you are trying to build an old branch, you can download an old version of bazel and install manually using the packages found here:
https://github.com/bazelbuild/bazel/releases

[2017-02-21 20:49] acomarce commented on #2412
@guschmue I think it should be the later.

[2017-02-21 20:52] gunan commented on #7705
Those are simply warnings about performance.
They just say if you build from source, TF can be faster on your machine.

[2017-02-21 20:52] #7705 closed

[2017-02-21 20:54] poxvoculi commented on #7728
Could you please provide more contextual data, as requested by the New Issue template?

[2017-02-21 20:54] Alex6381 commented on #1421
Unfortunately, I don't have linux/mac machine available.

[2017-02-21 20:57] yaroslavvb commented on #7027
It looks like @drasmuss looked at this issue in https://github.com/tensorflow/tensorflow/issues/7026#issuecomment-277005409 and found that scatter_nd GPU implementation doesn't exist

[2017-02-21 20:57] drpngx commented on #7027
Yeah, we were trying to add it to see what happens but somehow the thread died out. Please try it out if you have cycles.

[2017-02-21 20:58] poxvoculi commented on #7734
It might help if you could post a small but complete reproducible example.

[2017-02-21 20:59] mrry commented on #7705
@SiddGururani Thanks for digging into the problem with cuDNN paths! Let us know if we can improve the installation instructions to avoid this.

[2017-02-21 21:00] #7737 closed

[2017-02-21 21:03] martinwicke commented on #7735
This is actually happening in the new docs. All the way on the bottom, e.g.: https://www.tensorflow.org/api_docs/python/tf/DType

Doesn't work for all things, but close.

[2017-02-21 21:03] #7735 closed

[2017-02-21 21:14] ilblackdragon commented on #7287
Hi,

Here is what I currently have `SKCompat` in TF 1.0:
[code]

Indeed we don't have `predict_proba` at this point implemented in `SKCompat` because the way probabilities can be surfaced from the underlaying `Estimator` depends on your implementation of `model_fn`. You can use `.predict` method and select `outputs` that return probabilities.

[2017-02-21 21:26] persiyanov commented on #7403
@alextp @girving Thank you guys, I finally got it.

So what optimization do you propose?

The solution can look like this:

[code]

but
(1) I think there is a trouble with using `tf.gradients` directly.
(2) I will be slower as @girving pointed.

[2017-02-21 21:27] Mazecreator commented on #7708
I have more details here which may help this discussion:
https://github.com/tensorflow/tensorflow/issues/4714

[2017-02-21 21:32] girving commented on #7403
@persiyanov Your solution will actually be infinitely slow, since instead of defining the second derivative you're just calling the same function again and hoping that someone else will have defined the second derivative for you in the meantime.  I.e., it's an infinite loop.

[2017-02-21 21:35] gunan commented on #7449
I just tried the following, and I was able to build an optimized binary:
[code]

So I will close this issue as not reproducible.

[2017-02-21 21:37] Franck-Dernoncourt opened #7751 "tf.contrib.crf doesn't support sequences of length 1"
[`tf.contrib.crf`](https://www.tensorflow.org/versions/master/api_docs/python/contrib.crf/) doesn't support sequences of length 1.

For example, if I run the example on https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/crf and replace `num_words = 20` by `num_words = 1`, I get the error:

[code]

Tested with TensorFlow 1.0.0 on Windows 7 SP1 x64 Ultimate and TensorFlow-GPU 1.

[2017-02-21 21:43] achbogga commented on #7579
I am using a cluster with CUDA 7.5 without root access. So, I am using tf 0.11.rc0. Getting the following error. Please help, I cannot upgrade to CUDA 8 and hence cannot upgrade to tf 1.0.
AttributeError: module 'tensorflow.contrib.learn.python.learn.learn_io' has no attribute 'numpy_input_fn'

[2017-02-21 21:45] Carmezim commented on #7716
Just adding on top of what @poxvoculi already said, those are just warnings informing if you build TensorFlow from source its performance can be optimized and become faster on your machine.

[2017-02-21 21:49] persiyanov commented on #7403
@girving I meant smth like this:

[code]

[2017-02-21 21:52] girving commented on #7403
@persiyanov You are basically doing something like this:

    def f(x):
      return f(x)

It won't work.  If it's not clear why, I would suggest reading through the code more or implementing it and looking at the resulting periodic stack overflow.

[2017-02-21 21:56] jonasrauber commented on #7735
Oh wow, sorry for that! I guess I was looking for it in the wrong place...

That's really nice, but sometimes it's not clickable, e.g.: https://www.tensorflow.org/api_docs/python/tf/minimum

[2017-02-21 22:00] persiyanov commented on #7403
@girving That's because I am calling `tf.gradients`? If so, I understand this. I can compute second derivative without calling `tf.gradients` and other grad functions if it is okay.

[2017-02-21 22:02] Carmezim commented on #7529
@DutchDandy a quick follow up. Another folk was having a similar issue [#7705] and it was that cuDNN wasn't properly installed missing some DLLs on his `%PATH%` as @mrry suggested.

[2017-02-21 22:02] rizar commented on #7027
Oops, this is a wrong issue, I will continue in #7026.

[2017-02-21 22:04] aselle commented on #7744
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-02-21 22:04] #7744 closed

[2017-02-21 22:07] rizar commented on #7026
@drpngx , just make to sure I understood your response from #7026 which says:

[code]

Do you suggest that I add the line `TF_CALL_GPU_NUMBER_TYPES_NO_HALF(REGISTER_SCATTER_ND_CPU);` to `scatter_nd_op.cc`, recompile tensorflow and see what happens? I definitely can do it, although this would involve learning to compile Tensorflow from source first. Is it what you are asking?

[2017-02-21 22:17] ahundt commented on #7449
@gunan was that with the versions I specified or is there a later commit than either bazel 0.4.4 or tf1.0 07bb8ea that may have resolved the issue?

[2017-02-21 22:26] tfboyd commented on #5934
I tested this on a p2.8xLarge with TF 1.0 (hash:c7fca9e) as follows:

`python benchmark_alexnet.py`
and
`CUDA_VISIBLE_DEVICES=0 python benchmark_alexnet.py`

It worked fine for both cases.  Unless I am reading the code incorrectly (which happens), this [benchmark](https://github.com/soumith/convnet-benchmarks/blob/master/tensorflow/benchmark_alexnet.py) is not multi-GPU so the result is testing si

[2017-02-21 22:27] #5934 closed

[2017-02-21 22:27] cwhipkey commented on #7681
yes, this looks like a bug in the docs.  I'll submit a fix to the docs.

[2017-02-21 22:34] cancan101 commented on #7681
Is that the right place to fix or would it be better to take x y which is more normal and would simplify op code ad well.

[2017-02-21 22:35] cancan101 commented on #7681
Also not sure if there are any additional docs fixes outlined in https://github.com/tensorflow/tensorflow/issues/2134

[2017-02-21 22:43] drasmuss commented on #7026
Note: it looks like 8f1cde386cb8295d2d0ddb2a4af0ba6336bea897 added GPU support for `tf.scatter_update/add/sub` (sparse variable updates), but not `tf.scatter_nd`.

[2017-02-21 22:57] yaroslavvb commented on #7449
@ahundt I think this has to do more with your gcc than bazel. IE, it seems as if you run `gcc -march=native -Q` and it promises to turn on `-mavx` flag for `-march=native`, but then it doesn't. Maybe you could validate it by building something else with `gcc` directly and seeing if problem persists?

[2017-02-21 22:58] Xiaolong-Li commented on #3263
thank you so much!

[2017-02-21 23:01] esd100 commented on #2940
@hbfs please clarify specifics of:
[code]

What do the curly brackets mean?
Why do you have a directory `CUDA-8.0lib`

[2017-02-21 23:06] annarev commented on #7689
Looks like this was fixed by this commit:
https://github.com/tensorflow/tensorflow/commit/fb53109ad20b2e568246b05796296a047c271856

It doesn't seem to be in the r1.0 branch unfortunately, but should be in the nightly build.

[2017-02-21 23:17] mmuneebs commented on #7708
Hi @dandelionmane, that looks good as long as it's simple enough to do a single loop over all argument flags to put them in the protobuf.
Looking at the above referenced issue, it would also be good to allow pushing python scalars (not tensors) to the existing tabs like Scalars/Histograms/Images. I do it right now with `tf.py_func()` which is an overkill to add varying python scalars. (Example use

[2017-02-21 23:21] avader906 commented on #2916
Baidu Research All-Reduce MPI patch https://github.com/baidu-research/tensorflow-allreduce
http://www.tomshardware.com/news/baidu-svail-ring-allreduce-library,33691.html

[2017-02-21 23:27] annarev commented on #7689
Closing the issue, as the fix seems to be in nightly build and should be in the next release.

[2017-02-21 23:27] #7689 closed

[2017-02-21 23:29] martinwicke commented on #7669
Sanders, didn't you already do that?

[2017-02-21 23:30] drpngx commented on #7026
@rizar, as @drasmuss says some operations have been implemented, but not `ScatterNd`. Browsing through the code I don't see an obvious reason why we couldn't add it.

[2017-02-21 23:45] sandersk commented on #7669
No, I did update this tutorial back in December, but haven't yet switched to use `SessionRunHook`, as I was waiting on an equivalent canned hook for `ValidationMonitor`. That's not yet available, correct?

In the meantime, for an example of applying a `SessionRunHook` to an `Estimator`, you can refer to the tf.layers tutorial (https://www.tensorflow.org/tutorials/layers), which covers how to confi

[2017-02-21 23:49] poxvoculi commented on #7731
@ebrevdo Any opinion as to whether this is desirable feature request?

[2017-02-21 23:50] daj commented on #7723
They are both OS X - I updated the description to provide the details.

I added the `--spawn_strategy=sandboxed --genrule_strategy=sandboxed` flags, here's the result:
[code]

[2017-02-21 23:59] mkolod commented on #7679
@yaroslavvb Are we talking about a repro on on EC2 P2 instances with K80s? The Google example mentioned during the TF Dev Summit was on K80s, albeit possibly via Google's internal RPC, rather than grpc.

[2017-02-22 00:05] drpngx commented on #7026
Actually I just tested with `force_gpu=True`, and it seems to be on the GPU. Can you confirm?

[2017-02-22 00:05] dr4b commented on #7735
We're planning to move up the include line to the top of the file soon so it's more visible.

Not sure what to do about the generated ops though.

[2017-02-22 00:13] drasmuss commented on #7026
[code]
gives error
[code]
This is on the latest `master` code.

[2017-02-22 00:17] tfboyd commented on #7679
The example at the TF Dev Summit was gRPC on AWS p2.8xLarge systems.  We did that on purpose to ensure it was "commodity" hardware everyone can use.  Most of use took time off after the summit.  While not something I should promise, I will commit to updating this thread once a week until we have all of the code published.  The updates might be boring.  Feel free to ping me if I forget.

[2017-02-22 00:22] guschmue commented on #2412
i made the changes in my local tree for https://github.com/tensorflow/tensorflow/tree/master/tensorflow/g3doc/api_docs/cc - around 130 methods/classes. With that I got the c# bindings to work. Going to try if I can get tensorflow/user_ops to work with that.

[2017-02-22 00:38] yaroslavvb opened #7754 "tf.split(num_or_size_splits=x,...) fails for x=Dimension(128)"
Seen while upgrading our code to TF 1.0, somehow this used to work in 12.1, but in TF 1.0 the following fails with `IndexError: list index out of range` inside of `array_ops.py`

`tf.split(num_or_size_splits=X.get_shape()[1], ...)
`

Looking at array_ops.py, the relevant logic

[code]

So `Dimension(128)` is treated as "Tensor" and code fails with `IndexError: list index out of range` inside `arra

[2017-02-22 00:51] chrisranderson opened #7755 "sess.run(tf.global_variables_initializer()) is slow after installing 1.0.0."
### The issue

`sess.run(tf.global_variables_initializer())` intermittently takes a long time since installing 1.0.0. I believe this also happened on my Python 2 0.12 install, but only after installing 1.0.0 for Python 3. This particular run was in Python 2, and the initializer took 32 seconds - see bottom of this post (and the attached cprofile output) for more detail.

Strangely, it seems like t

[2017-02-22 00:58] #7701 closed

[2017-02-22 01:03] martinwicke commented on #7735
We have a plan for the generated ops, which involves rejigging our build to
place generated files into a predictable location. But it's a little bit
away.

[2017-02-22 01:05] Sraw commented on #5731
@WolfNiu I can answer your question.
http://colah.github.io/posts/2015-08-Understanding-LSTMs/
if you look into the structure of LSTM, you will see that the hidden state **h** and the output **y** is the same, they all come from the same line.
So actually, there are only two values at each step, h or y and c.

[2017-02-22 01:06] poxvoculi commented on #7751
What happens with a size like 2 or 5?

I think your problem might not be a general contrib.crf issue but the specific example, in particular this line:

`sequence_lengths = np.full(num_examples, num_words - 1, dtype=np.int32)`

[2017-02-22 01:07] martinwicke commented on #7669
@ispirmustafa: FYI regarding our discussion today about
"SingleWorkerEvaluationHook"

[2017-02-22 01:34] SiddGururani commented on #7705
I think it would be helpful if you specifically instruct users to move the cuDNN files (the dll, lib and the header) from the cuDNN extracted folder into:
a.) A single folder containing all of these files and then add that folder to the `%PATH%` env variable.
b.) move the dll into CUDA's bin folder, the lib to CUDA's lib folder and the header to CUDA's include folder.
Thanks for helping me through

[2017-02-22 01:51] poxvoculi commented on #7456
I think you've made explicit what the original code did, but haven't introduced any new temporary local copies.  What I'm suggesting is intrusive to the code, to the degree that values go back and forth between devices.

My apologies if I don't understand your example well, I rarely work with TF at this level.  I think 'tower_grads' is located on the CPU, and a separate instance of 'grads' is loca

[2017-02-22 01:53] dsmilkov commented on #7562
We didn't open source the standalone version, however it's pretty easy to use the existing standalone version with your own data. Just fork https://github.com/tensorflow/embedding-projector-standalone/ and edit the [oss_demo_projector_config.json](https://github.com/tensorflow/embedding-projector-standalone/blob/master/oss_data/oss_demo_projector_config.json) to point to your datasets.

[2017-02-22 01:53] #7562 closed

[2017-02-22 01:54] rizar commented on #7026
@drpngx , I can not confirm. I tried and without any changes to the code `scatter_nd` is definitely done on cpu.

I also tried adding the following diff:

[code]

As a result, `scatter_nd` is placed on the GPU but eventually my test code crushes. My test code is listed below:

[code]

[2017-02-22 01:58] RichDubielzig commented on #4359
I'm afraid I'm having trouble understanding how to handle synchronization and asynchronous kernel resources when developing in TensorFlow using TensorFlow objects.  Here is my problem:

The knureon system can be thought of as a large pool of completely independent cores which can be assigned operations at any time.  So, for example, given the data flow below:

A: m = a * b
B: n = c *d
C: o = e * f

[2017-02-22 02:00] poxvoculi commented on #7741
@fchollet: Is a PR welcome?

[2017-02-22 02:03] Franck-Dernoncourt commented on #7751
`num_words = 2` or `num_words = 5` work. Good catch, I don't know why `num_words - 1` is used in the CRF example instead of `num_words` in the line of code you quote.

https://github.com/tensorflow/tensorflow/blob/e121667dc609de978a223c56ee906368d2c4ceef/tensorflow/contrib/crf/python/ops/crf.py#L121 is already decrementing the `sequence_length` by 1:

[code]

However, changing `sequence_lengths =

[2017-02-22 02:03] raphtown commented on #5694
Hello,

Has there been any progress on getting fused_batch_norm working on 3D data?

Up until now I was using tf.contrib.layers.batch_norm, but due to tf.nn.moments returning negative values for variance (as reported [here](https://github.com/tensorflow/tensorflow/issues/3290)),  I am forced to switch to fused_batch_norm.  I suspect many people dealing with 3D data will be running into similar pro

[2017-02-22 02:05] yaroslavvb commented on #7755
Is it the first call, or can it be the second call? If it's the first call, it could have something to do with CUDA generating PTX, which happens the first time op is executed and is slow (and mega-slow if you are on nfs, set CUDA_CACHE_PATH=/non_nfs_dir). Whether or not PTX has to be generated depends on whether the binary was built with compute capability of your card

Does the problem disappear

[2017-02-22 02:08] fchollet commented on #7741
No, the proper convention is `kernel` and `bias`, which is used throughout core layers. This has been extensively discussed internally.

[2017-02-22 02:12] fchollet commented on #7712
Anything that has a state (e.g. this function) should not be added as a function `tf.nn` (which should only contain pure functions), but rather as a layer (`tf.layers`). This is precisely what layers are meant to cover. This is a `PELU` layer, not an activation function.

However I would be wary of adding new core layers for each and every paper out there. At best this would be a candidate for con

[2017-02-22 02:16] MikeZhu92 commented on #6509
I come up with the same issue. It can be solved by the solution provided by`name-name`
Here is my computer info:

I have tried tensorflow-gpu 1.0.0 (not sure whether rc1 or 2) (Install using `pip install tensorflow-gpu`)

It actually make things worse, the program will get error in both situations.
(1. with the original code      2. replace the tf.one_hot() )

Here is the info I have got in tensor

[2017-02-22 02:24] chihuahua commented on #7302
Indeed, a full repro would be useful. That being said, I think I might've just repro-ed this case (except with a 1D convolution lol).

In the diagram below, is what you mean that the `kernel` and `bias` Variables within the conv1d_2 box really belong to conv1d_3? And that the `kernel` and `bias` Variables within the conv1d_1 box really belong to conv1d_2?

![pbcpih3hgdx](https://cloud.githubuserco

[2017-02-22 02:56] BaiGang opened #7757 "Broken link to doc in extras."
In the [doc on `nec_loss`](https://www.tensorflow.org/api_docs/python/tf/nn/nce_loss), the target doc of the "Candidate Sampling Algorithms Reference ", of which the url is https://www.tensorflow.org/api_docs/python/extras/candidate_sampling.pdf, is missing and gives just a 404 error.

[2017-02-22 05:10] tobegit3hub opened #7760 "The GPU docker image doesn't work in CentOS 7"
### Environment info
Operating System: CentOS 7.0

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[code]

### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)

Refer to https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/docker/README.md , we change the p

[2017-02-22 05:38] #7747 closed

[2017-02-22 05:43] gunan commented on #3527
I just verified that with bazel I can build on CentOS 7 without any issues.
I expect a similar experience with RHEL.

However, we do not have official RedHat support, so we will possibly redirect Redhat specific build issues to you in this build.

[2017-02-22 06:40] katzenbaer opened #7762 "TensorFlow for Poets: Section 5: Missing a verb"
In https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html?index=..%2F..%2Findex#4, "You might warnings" is missing a verb. Maybe "You might get warnings" or "You might see warnings"?

[2017-02-22 06:41] katzenbaer commented on #7762
![screen shot 2017-02-21 at 10 40 41 pm](https://cloud.githubusercontent.com/assets/1815591/23200020/cdf8761a-f886-11e6-8cd4-96ef83bbe81a.png)

[2017-02-22 06:41] katzenbaer commented on #7762
Also "they not harmful" might need a verb too...

[2017-02-22 06:44] katzenbaer opened #7763 "TensorFlow for Poets: Section 5: label_image.py on site is different than curl version"
Link: https://codelabs.developers.google.com/codelabs/tensorflow-for-poets/index.html?index=..%2F..%2Findex#4

On the site, the `label_image.py` script uses relative paths for files while the version the tutorial asks users to curl uses absolute paths for files.

If the user is knowledgeable enough to prefer copying the script on the website vs. curl'ing it from https://goo.gl/tx3dqg, then the use

[2017-02-22 07:32] rakdl commented on #7217
@petewarden please take a look, this error comes up trying to quantize any model at the moment.

[2017-02-22 07:39] philipperemy commented on #6365
Any news guys? @girving

[2017-02-22 07:49] chanishagarwal commented on #7693
Am facing the same issue with tensor flow. can you please elaborate how to use above solution

[2017-02-22 08:00] primasanjaya opened #7765 "ImportError: No module named '_pywrap_tensorflow'"
Hi, i installed tensorflow in windows 7 SP1. without GPU. (My GPU is AMD so i just tried CPU version.)

I follow the guidelines,
install python 3.5 and set the path automatically.

then
pip3 install --upgrade tensorflow

import tensorflow as tf

and I obtain the following error:

I c:\tf_jenkins\home\workspace\release-win\device\gpu\os\windows\tensorflow\stre
am_executor\dso_loader.cc:126] Couldn'

[2017-02-22 08:02] MycChiu commented on #7251
I have written a pretty simple Cuda kernel for this op, please see pull request #7764

[2017-02-22 08:09] damienogrady commented on #7693
Me too

[2017-02-22 08:21] kinDSa opened #7766 "Buzel build error."
Hello,
  I am using TensorFlow Android Camera Demo. I follow step given in README file.

  1) Import andorid project
  2) Install bazel using chocolaty
  3) Edit in workspace file.

 While I run bazel build command :
 bazel build -c opt //tensorflow/examples/android:tensorflow_demo

 I getting error that **Couldn't find java at '$(ls -d C:/Program\ Files/Java/jdk* | sort | tail -n 1)/bin/java.exe*

[2017-02-22 08:27] peterswang commented on #2940
Had managed to build TF 0.12 by following [How to fix dyld: Library not loaded: @rpath/libcudart.7.5.dylib issue when you build tensorflow on your Mac](https://github.com/JimmyKon/tensorflow_build_issue_fix/tree/master).

Just tried the building TF 1.0 from source using the same method and now the following error shows up after the patch in genrule-setup.sh:
ERROR: /Users/peter_wang/TF/tensorflow-

[2017-02-22 08:28] alsrgv opened #7767 "ParameterServer restart crashes distributed training process"
I've tried running distributed TensorFlow with Supervisor and new MonitoredTrainingSession and I observe following behavior if Parameter Server is restarted.  Code is available at http://pastebin.com/HBUicRp2.  I'm using TensorFlow freshly built from r1.0.

At first, this error happens which is OK:
[code]

However, after Parameter Server is restarted, I see this error in logs and training worker c

[2017-02-22 08:29] alsrgv commented on #7767
@jhseu we discussed this on TF Dev Summit and you recommended raising issue.

[2017-02-22 08:31] alsrgv commented on #6780
Not sure if it's related to this issue, but I observe UnavailableError with MonitoredTrainingSession if Parameter Server is restarted: #7767

[2017-02-22 09:00] DaejinJung commented on #4775
@drpngx @benoitsteiner
Hello, is there any update on this issue? I am waiting your comments.

[2017-02-22 09:07] Hong-Xiang opened #7769 "How to implement a custom Estimator with multiple model_fns?"
How to implement a estimator with multiple model_fn so that we can train GAN-like models like following:
[code]

[2017-02-22 09:08] iamhankai opened #7770 ""GraphDef cannot be larger than 2GB." error when saving model after assigning variables"
I want to use a pretrained model to warmly start another model with a little difference. Simply, I create a new model, and assign the variables with same name with pretrained model weights. But, when saving the model, error occurred.
[code]

The example code is as follow:
[code]

[2017-02-22 10:01] carlthome commented on #7302
Sorry for not being able to provide a concrete example of how to reproduce the problem. I've been unable to precisely track it down in my experiments. Good to hear you're on it, @chihuahua!

Yes, exactly.

[2017-02-22 10:03] Deepak- commented on #7552
Thanks @AndreiEnache :)

[2017-02-22 10:06] carlthome commented on #7712
Yeah, figured `tf.nn` should be without side effects. Good to hear! :+1:

Which contrib package would be suited for new activation functions? `tf.contrib.layers` is still out-of-sync with `tf.layers` (both have similar purpose but different origins and APIs) so I expect it might be deprecated or heavily refactored soon? It would be nice if `tf.contrib.layers` were an extension for `tf.layers`, but

[2017-02-22 10:06] iamhankai opened #7772 "where is the gradient computation of a variable in cpu"
There are some variables of a neural network. Some are in GPU, and some are in CPU. For the variables in CPU, where are their gradients computed? CPU or GPU?
For example, where is the gradient of `c` computed?
[code]
Thanks very much.

[2017-02-22 10:13] carlthome commented on #7654
@dandelionmane that's a good fix IMHO.

@cancan101, or just keep view related options controllable in the GUI instead, no? On a similar note it would be nice if GUI controls were kept after browser tab refreshing but that might be a tall order (setting the GET object or fragment identifier like Gmail). At my work we have issues with different users having different preferences, but we look and dis

[2017-02-22 10:14] Sean-Git commented on #7734
I am just running the code in _wide_n_deep_tutorial.py_ with some modification to read my own **csv** file. The modified code is as below:
[code]
If I set the param _read_batch_size_, error occurs.

[2017-02-22 10:26] melvincabatuan commented on #7693
Same here:

[code]

[2017-02-22 10:27] cjliux commented on #7693
The binary distribution of tensorflow-gpu, which is provided through pip, is compiled with little support of advanced features of main stream cpu for maximum compatibiliy. So in order to use these features, you have to download the source from github and compile it youself following the steps illustrated by the official site of tensorflow. That's all.

[2017-02-22 10:33] Bruczzz commented on #7523
@aselle  I have followed the steps given in TF GitHub link. Still I am stuck with quantization process.
Kindly help to proceed with my project.

Thanks :)

[2017-02-22 10:36] melvincabatuan commented on #7693
Yeah I was hoping I could build it within 'Bash for Windows' but no luck... stuck at "Extracting Bazel installation..."

[2017-02-22 10:36] MarvinTeichmann commented on #7741
ok, you are right. From what I understand by now the [https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/api_docs/python/functions_and_classes/shard8/tf.GraphKeys.md](tf.GraphKeys.md) conventions are not about the names of Variabels but collections those Variabels should be added.

So  the following lines should be in there:

[code]

I am happy to put this into a pull request.

[2017-02-22 11:00] cjliux commented on #7693
I had encountered that problem before in linux. You may try to reinstall bazel using apt-get and do it again. It will work, but patience is needed.

[2017-02-22 11:05] cjliux commented on #7739
You may follow the installation instructions on the official site.

[2017-02-22 11:12] cjliux commented on #7772
Eh.....CPU, I guess, because tools like this almost always prefer being lazy in construction and aggressive in evaluation.

[2017-02-22 11:15] cjliux commented on #7772
An interesting problem...

[2017-02-22 11:50] jetW opened #7774 "after type 'run' in tensorflow debugger, the terminal reappears and stucks"
**My program can run and show some traing results, but for a classification question, the accuracies of training set and validation set both keep at around 0.5 for 40 epoches.
So I want to use tensorflow debugger to watch what the variables are.
When I type 'run' and push enter, it jump out of the debugger and the terminal reshows, then the terminal screen stuck at below.**

name: GeForce GTX 1080

[2017-02-22 12:29] shamoya commented on #7772
You can see all the variables and operations placement by adding config=tf.ConfigProto(log_device_placement=True) to session creation.
The gradient computation operations will probably be placed on the device where the optimzer was placed (you don't have it in your example).
BTW your example doesn't make sense, b and c are compatible for matmul, and also the device placement are nested.

[2017-02-22 12:43] AlSnow commented on #3834
thanks to @shartoo , it's worked.

[2017-02-22 12:48] jbingel commented on #7354
@ebrevdo thanks for the easier API! It seems like the current implementation in master doesn't contain attention yet, is that right? Will this be added by the next TF release (and is there an estimate of when that'll be)?

[2017-02-22 12:49] apiszcz opened #7775 "TF-SLIM : Tensor name "InceptionV3/*/*/*/*/ not found in checkpoint files"
Similar problems are in stackoverlow, however they are using flowers example with flowers_train. Using
https://github.com/tensorflow/models/tree/master/slim Fine-tuning a model from an existing checkpoint. The  moving_variance and moving_mean have both had the NotFoundError.

The following train_iamge_classifier

train_image_classifier_nx.py \
--checkpoint_path=data/model/inception-v3/model.ckpt-1

[2017-02-22 13:15] cwhipkey commented on #7523
Would it be possible to share your trained model (before quantization) and the three test examples?

[2017-02-22 13:15] adyomin opened #7776 "Update Performance guide compiler recommendation for macOS users"
Hi!

As per the [Performance guide](https://www.tensorflow.org/performance/performance_guide) I tried to build TF from source using gcc version 4.8.3+ on a MacBook.  I tried gcc 4.9 and 6.3 (Homebrew versions).  I got the following errors (same errors for 6.3):

- gcc-4.9: error: unrecognized command line option '-fcolor-diagnostics'
- gcc-4.9: error: unrecognized command line option '-Wthread-saf

[2017-02-22 13:30] jknair commented on #6517
having the same issue @KeithYin did you find a solution ?

[2017-02-22 13:38] aliosmanulusoy commented on #7026
@drpngx Using the latest ```master```, ```scatter_nd``` is placed to the CPU if ```allow_soft_placement = True```. If I force it to execute on the GPU, tf complains there is no GPU implementation.

[2017-02-22 13:54] bingq opened #7778 ""The TensorFlow library wasn't compiled to use SSE instructions, but these are available on your machine and could speed up CPU computations" in "Hello, TensorFlow!" program"
Opening this with reference to https://github.com/tensorflow/tensorflow/issues/7500.

Installed TensorFlow 1.0 with reference to https://www.tensorflow.org/install/install_windows on Windows 10 and hit the same issue discussed in https://github.com/tensorflow/tensorflow/issues/7500.  With applying the solution suggested in that thread, the original issue disappeared but got the new warnings:

C:\U

[2017-02-22 13:59] Carmezim commented on #7552
@SandorTucakov @Deepak- could you confirm you didn't receive OpKernel errors using the PYPI build as it was giving this error and I am not sure the wheel was replaced with a functioning one. In case you face this issue please let us know.

[2017-02-22 14:05] Carmezim commented on #7778
Those are not errors. Those are warnings just informing you if you build TensorFlow from source it can be faster on your machine. Those instructions are not enabled by default on the I think to be compatible with more CPUs as possible.
If you have any other doubts regarding this please feel free to ask, otherwise this can be closed.

[2017-02-22 14:13] Carmezim commented on #7765
Apparently it is using GPU, as TensorFlow tried to find CUDA and cuDNN
[code]
So at first to get this out of the way I'd suggest uninstalling TensorFlow then installing it again. In case you still face issues please follow up.

[2017-02-22 14:18] deeptensorflow opened #7779 "tensorflow custom op : user_ops"
I want to add my custom op.
so I read https://www.tensorflow.org/extend/adding_an_op.
And then I tried to wirte down follow code with your tutorial.
file name is zero_out.cc and path is ~/tensorflow/tensorflow/core/user_ops.
[code]

And I made BUILD file in same path.
[code]

And then, follow your tutorial, I build with bazel.
I wrote this command on ~/tensorflow.
`bazel build --config opt //tenso

[2017-02-22 14:34] bingq commented on #7778
Thanks Camezim !
Any hint of how to kill those warnings?

[2017-02-22 14:55] Carmezim commented on #7778
I am not sure but don't think you can, to my knowledge. But I didn't look into it so cannot guarantee. You can wait if other folks have an insight on that and let this issue open if you want. Another option is to post on StackOverflow under TensorFlow tag which is monitored by them as well.

[2017-02-22 15:35] lingfengchencn commented on #5478
i had the same issue. and here is why it happen and how i fixed it in my issue:
env: anaconda (python 3.6)+mac ,
first ,i used :
$ pip3 install tensorflow
$ python
Python 3.6.0 |Anaconda 4.3.0 (x86_64)| (default, Dec 23 2016, 13:19:00)

ModuleNotFoundError: No module named 'tensorflow'

and then
$pip install tensorflow
$python
Python 3.6.0 |Anaconda 4.3.0 (x86_64)| (default, Dec 23 2016, 13:19:00)

[2017-02-22 15:42] victorv commented on #2940
@esd100 Do you have more detail on your segfault?

[2017-02-22 16:06] akuz opened #7781 "Distribution of sum of several discrete variables"
I've looked for this feature, and I don't think it exists, but it would be really useful for modelling the latent variable models which result in the observation being a **sum** of several discrete variables. This would be especially useful in signal processing, where different signals add up. Additionally, the idea I am presenting below involves clipping, which is also a feature of the signal rec

[2017-02-22 16:15] reuben commented on #7162
I can still reproduce this with TensorFlow 1.0.

[2017-02-22 16:20] redbullpeter commented on #7547
I had the identical issue with r1.0.0 and adding the "./" in front of the file name resolved the issue for me.

[2017-02-22 16:29] morgangiraud opened #7782 "control_dependencies and assign new shape not working (using validate_shape=False)"
### Environment info
Operating System: OSX on CPU
Tensorflow 1.0.0

### Problem
Hello, i've been trying to use `tf.assign` with a `tf.control_dependencies` scheme when changing the shape on the fly.
[code]

**Outputs**:
[code]

**I would expect**:
[code]

Is this a bug ?

[2017-02-22 16:31] martinwicke commented on #7739
Yes, you'll have to run ./configure before building anything.

[2017-02-22 16:31] #7739 closed

[2017-02-22 16:32] untom opened #7783 "Segfault in runtime executor due to variable overflow"
I'm running Tensorflow 1.0, and I'm encountering a segfault in tensorflow, with the following output:

     F tensorflow/core/common_runtime/executor.cc:484] Check failed: e->src_output() < 32768 (38774 vs. 32768)
     Aborted (core dumped)

My program loads a fairly large sparse matrix (1879549 samples, 556926 features, 0.000038 of the entries in the matrix are nonzero) into memory. I then create

[2017-02-22 16:43] mrry commented on #6509
@MikeZhu92 The error you're seeing seems to be from one of the breaking function signature changes that were made before the 1.0 release. Fortunately the solution to *that* problem is simple. Replace the following line in your code:

[code]

...with the following line that names the arguments:

[code]

[2017-02-22 16:43] devfubar commented on #7449
@gunan I'm not sure closing this is appropriate as there is obviously an issue for some people, maybe not for you but others. I'm pretty sure I could half my issue inbox if I just tried something and then said I couldn't reproduce. Not exactly diligent behaviour.

[2017-02-22 16:47] DolanDack commented on #5141
[code]

I have the same issue. Can someone please re-open the ticket? I would really like to be able to code using spyder and ipython due to the familiar environment.

[2017-02-22 16:51] sskgit commented on #7772
From the documentation at https://www.tensorflow.org/tutorials/using_gpu

If a TensorFlow operation has both CPU and GPU implementations, the GPU devices will be given priority when the operation is assigned to a device. For example, matmul has both CPU and GPU kernels. On a system with devices cpu:0 and gpu:0, gpu:0 will be selected to run matmul.

# Creates a graph.
a = tf.constant([1.0, 2.0, 3.

[2017-02-22 16:52] inflation commented on #7715
I'm thinking about the same approach like `MomentumOptimizer` with a `use_nesterov` flag. But I don't know if it is still preferable to change the interface now.

[2017-02-22 16:55] lordthistle commented on #7552
Today I receive this error

[code]

tensorflow_gpu-1.0.0-cp35-cp35m-win_amd64.whl is not a supported wheel on this platform.

[2017-02-22 16:56] mahatosourav91 opened #7784 "ValueError while implementing GMM using skflow"
Hi I am trying to implement GMM using tensorflow. But I am getting the following error :- ValueError: Features are incompatible with given information. Given features: Tensor("input:0", shape=(?, 198), dtype=float32), required signatures: TensorSignature(dtype=tf.float64, shape=TensorShape([Dimension(None), Dimension(198)]), is_sparse=False)

Operating System: Ubuntu 16.04
tensorflow version 1.0.0

[2017-02-22 17:11] volvador opened #7785 "Distributed Tensorflow fails : no device"
I am following the example in https://www.tensorflow.org/versions/r0.10/how_tos/distributed/  to create a distributed tensorflow model with a parameter server and n workers. I do not have any GPU, all work is distributed on CPU

In the chief worker, I want to save my variables every some steps, but invoking the saver results in the following exception :

    Cannot assign a device to node 'save_1/

[2017-02-22 17:14] andrewharp commented on #7766
Unfortunately Bazel doesn't support Android on Windows yet -- see [roadmap](https://bazel.build/roadmap.html).

We're working on a full gradle/cmake/makefile solution that will work on Windows, but until then you can use the [prebuilt libs](https://ci.tensorflow.org/view/Nightly/job/nightly-android/) and just drop libtensorflow_demo.so and libtensorflow_inference.so into your app.

[2017-02-22 17:15] Carmezim commented on #7552
@lordthistle TensorFlow only supports Python 3.5 on Windows and you use Python 2.7 trying to install a package for a different version `tensorflow_gpu-1.0.0-cp35`, so even if TF was compatible on Python 2.7 Windows it wouldn't work.
See tensorflow.org/install on Windows installation for all information. If you have any other problems feel free to open a new issue.

[2017-02-22 17:16] shawnjhenry opened #7786 "Feature Request: Embedding Lookup Gradient"
Hi,

Since `embedding_lookup` is just a fast way of doing a matrix multiplication between the embedding weights and a tensor of one-hot vectors, it would be nice to have an option to get the gradient of the `embedding_lookup` as if it were such a matrix multiplication.  There are situations where this is actually useful - for example, the one-hots could be sampled from a high-dimensional multinomi

[2017-02-22 17:21] yaroslavvb commented on #7449
My hunch is that this is some kind of gcc/bazel interaction for a configuration that's not available/common inside Google, so "community support" label seems appropriate

[2017-02-22 17:25] monajalal commented on #7547
@redbullpeter Peter did you have this issue for running the tutorial off the bitfusion? Just curious.

[2017-02-22 17:27] kashifahmadkhan commented on #7579
Hi Guys i am very new at TensorFlow i am getting an error in the tutorial  getting started. Pleas can you tell me the reason. i copied the same program and tried to run but it gives an error
Here is the error

    estimator = tf.contrib.learn.Estimator(model_fn=model)
AttributeError: 'module' object has no attribute 'learn'

[2017-02-22 17:28] yaroslavvb commented on #5141
@lelayf the issue is https://github.com/tensorflow/tensorflow/issues/7227 the solution is to build bazel from head or downgrade to 0.4.3

@DolanDack can you use it from outside of Spyder but not inside of Spyder? Most likely the issue is that your spider environment is not setting PATH, DYLD_LIBRARY_PATH, LD_LIBRARY_PATH properly

[2017-02-22 17:30] drpngx commented on #7026
Right, somehow `force_gpu` didn't do what I thought it would. See @rizar and @drasmuss comments above. Further investigation is needed to figure out the cause of the crash.

[2017-02-22 17:31] zhe-thoughts commented on #2655
I have a high level question regarding this feature request: what are the key benefits of a native approach (directly running TF on YARN) compared with a Spark based approach, most notably https://github.com/yahoo/TensorFlowOnSpark?

[2017-02-22 17:37] devfubar commented on #7449
@yaroslavvb thanks for re-opening.

@martinwicke ;
[code]
[code]
[code]

[2017-02-22 17:46] drpngx commented on #4775
Reading the thread, it looks like Eigen was updated. @DaejinJung , @craftlk did you try?

[2017-02-22 17:52] kvrd18 commented on #5827
I get the following error when I use `tf.train.ExponentialMovingAverage` to update `batch_mean` and `batch_var` in batch normalization. This error pops up specifically when I try to restore a checkpoint.

[code]

Do I have to update TensorFlow to the latest version to solve this problem?

[2017-02-22 17:57] kvrd18 commented on #5827
Also, I get this error when I try to train the network in a multi-GPU setting where one would ideally have to reuse variables. How do you solve the issue as specified by @hzchenlixin in https://github.com/tensorflow/tensorflow/issues/5827#issuecomment-280538373?

[2017-02-22 18:01] andrewharp commented on #7723
Can you ensure that you have enough memory available in your docker environment?This seems like a common issue: https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/zjwDXhD6k1w

[2017-02-22 18:01] redbullpeter commented on #7547
@monajalal No, I am running a repurposed version of this [TensorKart](https://github.com/kevinhughes27/TensorKart)

[2017-02-22 18:02] esd100 commented on #2940
@victorv Tell me how to get more detail and I'll happily provide it.

I am using:
conda 4.3.11
Python 3.5.2 :: Anaconda 4.3.0 (x86_64)

=========================================
# NVIDIA CUDA PATH
export PATH=/Developer/NVIDIA/CUDA-8.0/bin${PATH:+:${PATH}}
export DYLD_LIBRARY_PATH=/Developer/NVIDIA/CUDA-8.0/lib${DYLD_LIBRARY_PATH:+:${DYLD_LIBRARY_PATH}}

Files are installed in:
/Developer/NVIDIA/C

[2017-02-22 18:14] jhseu commented on #7767
Thanks! Adding to my todo list (but may not get to it for a little bit).

[2017-02-22 18:14] yaroslavvb commented on #7770
You are modifying your graph when you do `v.assign(embedding)`, and the graph exceeds 2GB limit. Asking on Stackoverflow may help finding strategies to make your graphs smaller

[2017-02-22 18:16] yaroslavvb commented on #7779
Hm, I went over the tutorial recently and it worked for me...can you try with TF 1.0 and also with `gcc` instead of bazel to build?

[2017-02-22 18:17] spmckenney opened #7789 "Generalize TensorFlowTestCase to handle arbitrary devices"
Currently, TensorFlowTestCase can only handle CPU and GPU devices.

[code]

We are currently extending TensorFlow to run on another device and would like to update the signature to handle arbitrary devices. This could be done by changing the signature as follows, for example:

[code]

This would certainly have some significant ripples in the test cases, so I would like like to get some feedback be

[2017-02-22 18:22] poxvoculi commented on #7734
This forum is for bug reports, not usage questions.  Usage questions are best asked on stack overflow.

If you suspect this is an actual bug, please post a small but complete example that reproduces the error, which would include a minimal complete program, any input data used, and the invocation command.

Even better in a case like this would be to do a little analysis yourself first, to try to i

[2017-02-22 18:30] hbfs commented on #2940
@esd100 {} is short hand for shell expansion (see 3.4.2 Brace expansion http://tldp.org/LDP/Bash-Beginners-Guide/html/sect_03_04.html)

8.0lib was a typo, missed a /, thanks for pointing that out. Fixed it.

@peterswang Yeah thanks for pointing that out. The pre-compiled version doesn't have all the optimization flags, for best performance and your system build from source. The tensorflow guide on

[2017-02-22 18:34] shuangwu commented on #7683
I have the same problem, I followed the README.md, and compiled andoird demo with bazel. When trying to use Android Studio, the compilation filed with the same error.

[2017-02-22 18:43] poxvoculi commented on #7715
Is there a reason this shouldn't simply be a community supplied option, like the cited version?   Are you suggesting a specific modification to TF?  Otherwise perhaps it would be better to discuss such an extension on stack overflow.

[2017-02-22 18:47] poxvoculi commented on #7740
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag.

[2017-02-22 18:47] #7740 closed

[2017-02-22 18:53] poxvoculi commented on #7742
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag.

[2017-02-22 18:53] #7742 closed

[2017-02-22 19:01] SpartanJohn117 commented on #7579
I have the same problem as das007. I use tf 1.0 and newest CUDA!

[2017-02-22 19:05] cancan101 commented on #7715
@poxvoculi Do you think it makes sense to add a `use_nesterov` flag into Adam (in the tf repos)?

[2017-02-22 19:08] mrry commented on #7725
Various parts of the Bazel build for TensorFlow on Windows depend on running `bash` scripts. If you followed the [Bazel on Windows installation instructions](https://bazel.build/versions/master/docs/windows.html), you should have installed msys2, which includes a `bash` shell. You should use that shell, set the environment variables in the `bash` session, and run `./configure` and `bazel build` fr

[2017-02-22 19:11] poxvoculi commented on #7751
This appears to be an unmaintained contrib utility.  Would you like to propose a fix?

[2017-02-22 19:12] mrry commented on #7547
@monajalal Did adding the `./` work for you?

[2017-02-22 19:13] chrisranderson commented on #7755
There's only one call to sess.run - for initializing the variables. If you're talking about running the script as a whole, so far it has been kinda unpredictable.

I'm running this all on my own machine.

It's a GTX 1060, so that's compute capability 6.1 I guess.

I switched to 0.12, CPU version: `tensorflow-0.12.0-cp27-cp27mu-manylinux1_x86_64.whl`. Waaaaay better! After that, I tried 0.12, GPU v

[2017-02-22 19:16] taion opened #7791 "glorot_uniform_initializer and others not exported"
Many initializers defined in `init_ops` are not exported in the global TensorFlow package. These include:

- `glorot_uniform_initializer` (this is even explicitly mentioned in the docs as the default initializer for variables)
- `glorot_normal_initializer`
- `variance_scaling_initializer`

It seems like this might be an oversight – `glorot_uniform_initializer` is mentioned in existing documentatio

[2017-02-22 19:17] inflation commented on #7785
Although this kind of questions should be asked on StackOverflow, I recommend you look up the latest documentation, the preferred way to do so seems to be `MoniteredTrainingSession`.

[2017-02-22 19:18] chrisranderson commented on #7755
Also around the same time I started noticing the problem, I installed opencv for Python 3. I guess that uses CUDA, so maybe that is related?

[2017-02-22 19:21] poxvoculi commented on #7754
Thanks for the detailed bug report.  Internal bug opened.

[2017-02-22 19:22] mrry commented on #7785
Can you share a complete reproducible example? As I mentioned [on Stack Overflow](http://stackoverflow.com/a/42397517/3574081), the direct cause of the error message is that a `Session("")` is being used to restore the checkpoint, whereas it should be a `Session(server.target)`. It appears that you're doing the right thing by passing `server.target` to `sv.prepare_or_wait_for_session()`, so this c

[2017-02-22 19:26] poxvoculi commented on #7715
@ebrevdo: who would have an informed opinion on this?

[2017-02-22 19:34] yaroslavvb commented on #7755
Running opencv with gpu tensorflow causes crashes on my machine, there's some kind of interference, I have to disable opencv GPU using `export OPENCV_OPENCL_RUNTIME=`

[2017-02-22 19:40] yaroslavvb commented on #7755
@chrisranderson what I meant was trying to compare against a GPU version from a different version. GPU version is known to be slow on first kernel launch (up to a minute) when your architecture compute capability is not included

[2017-02-22 19:42] victorv commented on #2940
@esd100 Segmentation fault: 11 is usually followed by a OS X crash report.

You can find crash reports in your Console application -> User Diagnostic Reports

The segfault is usually a result of mixing your link libraries. You are using anaconda and have to follow the installation instructions to the letter to have anaconda work properly.

You can avoid lots of these install issues by using the do

[2017-02-22 19:44] monajalal commented on #7547
@mrry @aselle @redbullpeter  Thank you all! That solved the problem:
[code]

[2017-02-22 19:44] #7547 closed

[2017-02-22 19:46] chrisranderson commented on #7755
I tried `export OPENCV_OPENCL_RUNTIME=` before running tensorflow-gpu again, but it didn't seem to have an effect. I don't know what you mean by your second comment.

Slowness is expected, but is 30 second for a network like the one I posted normal? It's pretty small. It seemed like initialization used to be quite fast. Is there something else I need to try with opencv?

Thanks for your help.

[2017-02-22 19:50] yasirs opened #7793 "pip3 No matching distribution found on OSX 10.9.5 py3.5"
I am trying to install tensorflow in a virtualenv environment on OSX.

I think I have a good Python version (3.5). This is what it says:
[code]

that happens when I give the pip install command:

[code]

These are my current packages in this environment:
[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

StackOverflow has question

[2017-02-22 19:53] inflation commented on #7715
@poxvoculi A C++ implementation would be faster than python hacks like above. Also, maybe an awaiting googler label?

[2017-02-22 19:59] ngaloppo commented on #7552
This sequence gives me the OpKernel errors:

[code]

[2017-02-22 20:01] ebrevdo commented on #7715
Paul: probably vincent would know how popular / useful this optimizer is
for the general case.

On Wed, Feb 22, 2017 at 11:53 AM, Aaron Hu <notifications@github.com> wrote:

[2017-02-22 20:08] yaroslavvb commented on #7755
The "up to a minute" slowness I refer to is what happens when CUDA starts PTX compilation and is independent of your computation size. If that's your bottleneck, then the solution is compile with your architecture since the official binary only comes with support for ancient cards (I usually compile with 6.1 support, some wheels are here -- https://github.com/yaroslavvb/tensorflow-community-wheels

[2017-02-22 20:10] Mistobaan opened #7794 "Cannot specify XLA config for learn.estimators ?"
Seems that the MonitoredSession is being allocated directly:

https://github.com/tensorflow/tensorflow/blob/f821ce046df71f5784ed4ce7fb6b87f77d96b031/tensorflow/contrib/learn/python/learn/estimators/estimator.py#L962

and there is no way to pass or specify different `graph_options` to the session to enable the XLA jit configuration. Is that the case or I am missing something?

[2017-02-22 20:13] Carmezim commented on #7552
I noticed some folks are coming to this closed issue post problems they are facing, I'd suggest to open a new issue if there is not already one opened for the same problem.

@ngaloppo apparently there is a bug in the PYPI package so one alternative to solve this problem while it's not replaced for a working wheel is to download a [nightly build](http://ci.tensorflow.org/view/Nightly/job/nightly-wi

[2017-02-22 20:27] finger563 commented on #7072
I'm still getting this issue, has this actually been resolved?

[2017-02-22 20:30] mrajchl commented on #5688
Same here. I can reproduce this issue with the example code above. Can confirm CUDA 8, CUDNN 5.1 with tf 1.0.

I ran into an interesting aspect when determining the maximum size of the tensor. It run when tensors with shape less than [1, 256, 256, 256,1] are used. The example below will run and sz=256 will break.

Is anyone looking into this?

[code]

[2017-02-22 20:31] yasirs commented on #7793
Ok, so it seems the problem might be that the wheels are provided for OSX 10.11 only and I have OSX 10.9.5. I don't want to reinstall my OS and break things on my work machine. So I downloaded the OSX 10.11 .whl file from Pypi and renamed it to OSX_10_9. This worked fine, and I was able to install tensorflow.

[code]
I was able to run the hello world validation, and it just gave me the SSE warning

[2017-02-22 20:31] #7770 closed

[2017-02-22 20:37] #7772 closed

[2017-02-22 20:39] macmason opened #7795 "Typo in "Validate Your Installation" document."
https://www.tensorflow.org/install/install_linux#ValidateYourInstallation

Partway down:

Note the extraneous square brackets; looks like a markdown typo. Interestingly, the "Getting Started With" link still works (which did not survive my copy-paste into the issue tracker).

[2017-02-22 20:45] zheng-xq commented on #7755
If it is indeed PTX compilation, you can look at the timeline, like this:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/client/timeline_test.py#L44

The first GPU kernel takes a really long time, without a good reason.

[2017-02-22 20:47] caisq commented on #7774
@jetW Does your graph contain any tf.while loops? If so, it may get stuck because of a bug in tfdbg in version 1.0.0 that causes the debugger to freeze on certain while loops. This bug has been fixed in master/HEAD.

[2017-02-22 20:47] poxvoculi commented on #7769
This is a question better suited for StackOverflow, which we also monitor. Please ask it there and tag it with the `tensorflow` tag.

[2017-02-22 20:55] poxvoculi commented on #7775
Does this help? https://github.com/tensorflow/tensorflow/issues/4249

[2017-02-22 20:58] vincentvanhoucke commented on #7715
Plausible. I have no experience with it. If someone implements it, it sounds like something we would incorporate.

[2017-02-22 21:00] drpngx commented on #7072
That seems like another error.

@mrry is BLAS working well under windows?

[2017-02-22 21:01] jhseu commented on #6780
Sending out a fix for this right now.

[2017-02-22 21:04] mrry commented on #7072
The tests for `tf.matmul()` pass on Windows, so I don't think this is a Windows-specific issue: perhaps the following lines are a clue to the root cause?

[code]

[2017-02-22 21:06] #7778 closed

[2017-02-22 21:10] yaroslavvb commented on #7778
@bingq the best way I found to kill unwanted TF output:

run your script as `tf.sh myscript.py` where tf.sh contains

[code]

You can add extra `|grep -v` parts to get rid of more things

[2017-02-22 21:22] jhseu commented on #7767
Sent out a fix internally.

[2017-02-22 21:29] martinwicke commented on #7449
Thanks @devfubar. You said earlier, it works for you when building with

[code]

correct?

In that case, can you paste the contents of your `tools/bazel.rc` file?

[2017-02-22 21:33] xingyul opened #7796 "Problems in Defining New Op"
I'm trying to define a new Op (a simple matmul) by myself. I defined the both CPU and GPU Opkernel and ran REGISTER_KERNEL_BUILDER with DEVICE_CPU and DEVICE_GPU respectively to register them. When I was testing it on my server installed with GPU, and used
[code]
to define variable and Ops, I found only the code of CPU Opkernel is used.

Weird thing is that if I delete the CPU Opkernel code and CP

[2017-02-22 21:34] martinwicke commented on #7699
It appears to me you have cloned the models repo inside the tensorflow repo, and now bazel is confused.

syntaxnet isn't part of the tensorflow repo, and shouldn't appear inside the tensorflow directory.

[2017-02-22 21:34] #7699 closed

[2017-02-22 21:46] damienogrady commented on #7693
Patience?  Oh dear, then I'm really in trouble.

OK, I'll try - thanks for your help.

On Wed, 2017-02-22 at 03:02 -0800, cjliux wrote:

I had encountered that problem before in linux. You may try to reinstall bazel using apt-get and do it again. It will work, but patience is needed.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com

[2017-02-22 21:56] chenliu0831 commented on #7760
@tobegit3hub we recently run a custom built tensorflow docker images successfully on Amazon Linux, which I believe is Redhat-based. Not sure if those are applicable to your case but we did:

- Based on `tensorflow/tensorflow:1.0.0-devel-gpu`
- Nvidia driver installed both on the host and container (same version)
- Use privileged mode (not sure if you need this when using `nvidia-docker`)
- Mount `

[2017-02-22 21:58] poxvoculi commented on #7783
Thanks for making a detailed analysis of the problem.

[2017-02-22 22:02] cwhipkey commented on #7681
In the immediate term, fixing the docs seems good to do since any changes in the behavior will break backwards compatibility and so requires more stages to accomplish.

[2017-02-22 22:24] michaelosthege commented on #1421
@Alex6381 try the Windows subsystem for Linux!
Here's a manual: http://blog.mosthege.net/2016/05/11/running-tensorflow-with-native-linux-binaries-in-the-windows-subsystem-for-linux/
Remember to substitute the pip package urls with the most recent version.

[2017-02-22 22:26] jiazhentim commented on #4775
Hi just pull the master branch. I use the command "bazel build -c opt --copt "-mavx512pf" //tensorflow/tools/pip_package:build_pip_package". The error is as fellows:

 ./third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/PacketMathAVX512.h:84:11: error: 'Packet16q16i' does not name a type
   typedef Packet16q16i half;
           ^
./third_party/eigen3/unsupported/Eigen/CXX11/src/FixedPoint/

[2017-02-22 22:39] brando90 commented on #2033
is this error still relevant for tensorflow 1.0.0?

[2017-02-22 22:42] brando90 commented on #7368
cool, so when will this be solved? Just curious.

[2017-02-22 22:43] drpngx commented on #4775
Did you run configure again? It needs to bazel fetch

On Feb 22, 2017 2:28 PM, "jiazhentim" <notifications@github.com> wrote:

[2017-02-22 22:52] xksteven opened #7800 "Feature Request: access gradients for a specific layer"
Currently tensorflow will provide the gradients for the entire network, i.e. getting grads_and_vars will return all of the gradients but there isn't any nice way to specifically get the gradients of a specific layer.

An example use case:  For the paper Neural Networks are easily fooled, they took the gradients from the last layer and added them to the original image.

There is no current way to d

[2017-02-22 22:55] apiszcz commented on #7775
arg_scope is mentioned by others, however i was following the documentation
using the command line train example which has no arg scope option.

On Wed, Feb 22, 2017 at 3:57 PM, Paul Tucker <notifications@github.com>
wrote:

[2017-02-22 22:55] dr4b commented on #7750
We've identified what's causing this and will figure out a fix.

[2017-02-22 23:23] drpngx commented on #7026
Finally got a chance to take a look. You need `.HostMemory("shape")` in the `REGISTER_OP` [call](https://github.com/tensorflow/tensorflow/issues/7026). That's because `MakeShape` runs on the CPU, and crashes. I'm not an expert on this, so there might be further consequences to this. It might be better if I push this internally first.

[2017-02-22 23:24] alsrgv commented on #7767
Will you backport to Supervisor's managed_session as well?  It's still listed on TensorFlow documentation website as one of the recommended ways to do simplified session management - https://www.tensorflow.org/programmers_guide/supervisor

[2017-02-22 23:25] MikeZhu92 commented on #6509
@mrry Thank you for help, I didn't realize that yesterday.
It fixes the issue in tensorflow-gpu 1.0.0. For 0.12.1 it's still give me error message about the cuDNN stuff.
I have switched to 1.0.0 to push myself going through some updated features in the latest version.
Tensorflow is evolving really fast 👍

[2017-02-22 23:32] jhseu commented on #7767
My understanding is that managed_session never did recovery for failed workers. Also, Supervisor is eventually going away.

[2017-02-22 23:33] #6509 closed

[2017-02-22 23:33] poxvoculi commented on #7786
@alextp: thoughts?

[2017-02-22 23:35] alextp commented on #7786
embedding_lookup has a gradient now, implemented in terms of the gradients of gather and sparse_segment_sum. It returns an IndexedSlices which might get converted into a full Tensor if necessary.

Is this sufficient for you?

[2017-02-22 23:39] alsrgv commented on #7767
AFAIK it is has similar level of recoverability as MonitoredTrainingSession (before your fix).  Here's my observations for Supervisor's managed_session:

* Parameter Server failure.  Training throws UnavailableError on all workers.  All workers crash.  After restart of failed PS and all workers, training continues from the last checkpoint.
* Chief worker failure.  Training freezes.  After chief wo

[2017-02-23 00:13] deeptensorflow commented on #7779
ah okay. I'll try with gcc. I'm already in tensorflow1.0.

[2017-02-23 00:18] daj commented on #7723
Awesome, adding `--local_resources 4096,4.0,1.0 -j 1` resolved the issue - thanks!

Full output:
[code]

[2017-02-23 00:18] #7723 closed

[2017-02-23 00:23] poxvoculi commented on #7784
Let's pursue this on stackoverflow for now.

[2017-02-23 00:33] caisq commented on #7368
This is resolved. nightly py3 images pushed onto Docker Hub (https://hub.docker.com/r/tensorflow/tensorflow/tags/) are already based on ubuntu 16.04 and Python 3.5.

[2017-02-23 00:33] #7368 closed

[2017-02-23 00:54] cancan101 commented on #7654
How are the values in:
![image](https://cloud.githubusercontent.com/assets/51059/23240002/afa75df4-f938-11e6-9879-0751b4a7a173.png)
persisted? Perhaps that can be used.

and re saving changes, it would be _amazing_ if a refresh did not cause by selected runs to be lost.

[2017-02-23 01:09] jiazhentim commented on #4775
Yes, I run configure @drpngx

[2017-02-23 01:27] poxvoculi commented on #7782
Interesting.   I modified your program as follows:

[code]

If "y = x" is used instead of "y = assign_op", I get this output:
[code]
Setting "y = assign_op", I get what you expected.
[code]
It appears as though the control_dependencies construct correctly forces assign_op to execute, but the new value isn't really accessible to an evaluation of x until later.  This surpasses my understanding.  Sum

[2017-02-23 01:36] drpngx commented on #4775
Looking at @benoitsteiner 's [link](https://bitbucket.org/eigen/eigen/pull-requests/235/added-support-for-avx512-to-eigen/diff), we merged Half support from `unsupported` to `Core`, in `arch/AVX512` and some in `arch/CUDA`. It looks like what needs to happen is that we update our internal code to include the right headers and use the right definition if necessary, away from `unsupported` and using

[2017-02-23 01:39] guoying1030 opened #7804 "how copy a tensor to another tensor??"
how copy a tensor to another tensor??

[2017-02-23 01:40] cancan101 commented on #7654
Related issue, it seems that as new runs are started, they are added to the list toggled _on_.

[2017-02-23 01:41] mahatosourav91 commented on #7784
Hi Paul, I am facing similar issue with skflow KMeansClustering. I have raised a stackoverflow question [here](http://stackoverflow.com/questions/42250340/runtimeerror-no-c-shape-function-registered-for-standard-op-nearestneighbors) and a github issue [here](https://github.com/tensorflow/tensorflow/issues/7524). There pretty similar issues. If possible please look into it.

[2017-02-23 01:49] poxvoculi commented on #7784
If I have an easily reproducible example, I can open a bug, but so far I can't reproduce.  You need to post a small but complete program that executes on TF 1.0.   Your stackoverflow posts are too vague.  I can't guess what values any underspecified program elements might have.

[2017-02-23 02:07] drpngx commented on #4775
What happens when you go to the `unsupported/FixedPoint` [header](https://github.com/tensorflow/tensorflow/blob/master/third_party/eigen3/unsupported/Eigen/CXX11/FixedPoint#L35) and replace the includes with the new ones?

[code]

[2017-02-23 02:11] mahatosourav91 commented on #7784
Hi Paul,
Please try this code
[code]
The error varies changing the type of x in line `gmm.fit(x)`

[2017-02-23 02:12] shiyemin commented on #7439
@kvrd18 For a multi-GPU batch norm, we have to sync the batch_mean and batch_var, not just the moving_mean and moving_var, so that every GPU will get batch_mean and batch_var which are close to the global mean and variance.

[2017-02-23 02:15] mahatosourav91 commented on #7524
Hi,
Please try this code:-
[code]
The error changes by changing the type of x in the line  `km.fit(x)`
for example `x.astype('float32') `or `x.astype('float64')`

I have a corresponding stack overflow question [here](http://stackoverflow.com/questions/42250340/runtimeerror-no-c-shape-function-registered-for-standard-op-nearestneighbors)

[2017-02-23 02:22] jihopark commented on #7664
i also ran into this issue. I realized `tf.nn.rnn_cell.DropoutWrapper` is moved to `Module: tf.contrib.rnn.core_rnn_cell`. What is this? Why isn't all this included in the upgrade script??

I think i need to migrate back to 0.12 for now...

[2017-02-23 02:23] mrry commented on #7782
This is a subtle corner of the `tf.Variable` semantics, which has tripped up a few people. The main thing to note is that when you first *read* a `tf.Variable`—in this case, when it is used as part of the argument to `tf.concat()`—the value read is "cached".

What does it mean for a value to be "cached"? In the code, it's fed to a `tf.identity()`, which implicitly dereferences the ref-typed variab

[2017-02-23 02:25] mrry commented on #7782
Of course, these semantics are not very intuitive, and there's no way you'd have guessed that from the documentation. @alextp is working on a new version of variables that will have more sensible semantics. I'll let him comment on how things will look in the brave new world.

[2017-02-23 02:34] guotong1988 opened #7805 "Is it a error?"
### Environment info
Operating System: CentOS 7
tensorflow version: 0.12.1

### Installed version of CUDA and cuDNN:

/usr/local/cuda-8.0/lib64/libcudadevrt.a
/usr/local/cuda-8.0/lib64/libcudart.so -> libcudart.so.8.0
/usr/local/cuda-8.0/lib64/libcudart.so.8.0 -> libcudart.so.8.0.44
/usr/local/cuda-8.0/lib64/libcudart.so.8.0.44
/usr/local/cuda-8.0/lib64/libcudart_static.a
/usr/local/cuda-8.0/lib64

[2017-02-23 02:36] guotong1988 commented on #7804
It should be a StackOverflow question.

[2017-02-23 03:10] #7804 closed

[2017-02-23 03:18] brucelau-github commented on #1737
I have the same problem with bazel build either.

[2017-02-23 03:19] yaroslavvb commented on #7805
This information comes from cuda driver which tells which pairs of GPUs can use DMA, there are probably some NVidia cuda tools that let you see this matrix

[2017-02-23 03:20] yaroslavvb commented on #7805
Closing since this doesn't seem to be a tensorflow error

[2017-02-23 03:20] #7805 closed

[2017-02-23 03:24] mahatosourav91 commented on #7524
Hi aselle,

I have attached a working code and corresponding stackoverflow question. It is quite similar to another [issue](https://github.com/tensorflow/tensorflow/issues/7784) raised by me. That issue is in open state.
Can you please reopen this issue and give a solution for it.

[2017-02-23 03:30] kuluofenghun opened #7807 "How to extract the native library"
I am new to the tensorflow for java. I want to ask how to extract the native library? Is there some guidance?

[2017-02-23 03:46] yaroslavvb commented on #7800
You can get gradients for any layer, `tf.gradients(loss, layer2)` will give you gradients at layer2 . (ps this q is better suited for stackoverflow)

[2017-02-23 03:51] xksteven commented on #7800
Sorry I didn't know it was already implemented.  I'll read the documentation more thoroughly next time.

[2017-02-23 03:51] #7800 closed

[2017-02-23 04:00] yaroslavvb commented on #7794
Looks like a missing functionality. @ispirmustafa -- is there any plan to allow configuring Session options for session used in estimator?

As a work-around, you could monkey-patch `Session.__init__` method to add XLA config, something like this

[code]

[2017-02-23 04:08] yaroslavvb commented on #7789
So how would you tell a test to force GPU? Set `force_device=True`? That seems a bit counter-intuitive.

I think the easiest thing to do may be first fork `TensorFlowTestCase` to a new version that supports other devices, and once things stabilize, look at two versions side by side and see if it makes sense to factor out common functionality (and that the refactoring effort justifies the costs imp

[2017-02-23 05:00] ronghanghu commented on #5772
This issue seems to affect TensorFlow Fold, which uses dynamic network structures and can often generate empty tensor if a path is not used in a dynamic batch

[2017-02-23 05:08] girving opened #7808 "TensorFlow builds LLVM even if ./configured without XLA"
At HEAD (4ac9c09d5ca57a03b8daa5fb9e295947b1619854), if I configure TensorFlow without XLA support and run

    blaze build //tensorflow/...

it still builds both XLA and LLVM (or at least parts, since I haven't waited for it to finish).  Needless to say, it also downloads LLVM, which ideally would not be necessary without XLA support.

Is it possible to skip building a compiler if I don't want XLA

[2017-02-23 05:10] sahil210695 opened #7809 "Getting the following the error while importing"
python bin/run_analysis.py
Traceback (most recent call last):
  File "bin/run_analysis.py", line 7, in <module>
    from src.run_analysis import analyze, render_results_as_images
  File "/DeepOSM/src/run_analysis.py", line 6, in <module>
    import label_chunks_cnn_cifar
  File "/DeepOSM/src/label_chunks_cnn_cifar.py", line 11, in <module>
    import tflearn
  File "/usr/local/lib/python2.7/dist-p

[2017-02-23 05:14] girving commented on #7808
@jart Do you know whether this is WAI?

[2017-02-23 05:26] dillonalaird commented on #7643
I think this works

[code]

You basically just build a giant empty tuple and fill it in as you go. dynmaic_rnn does something similar to this.

[2017-02-23 05:30] primasanjaya commented on #7765
It's working now. Thank you.

[2017-02-23 05:30] #7765 closed

[2017-02-23 05:31] kvrd18 commented on #7439
@shiyemin Each layer in each GPU will have its own `batch_mean` and `batch_var`, if I'm correct because the input data is split across the batch dimension and fed to each GPU. I do not understand what you mean when you say we'll have to sync the `batch_mean` and `batch_var`. They're specific to the input batch and are computed by `tf.nn.moments`.

[2017-02-23 05:33] kvrd18 commented on #7439
@shiyemin If I understood you right, I'd have to compute the `moments` by concatenating the input batches on the fly when the forward pass is being computed. That is going to be very expensive, computationally. Is this where the usage of NVIDIAs nccl is recommended?

[2017-02-23 06:49] asimshankar commented on #7807
This question is probably better asked on [stackoverflow](https://www.stackoverflow.com/questions/tagged/tensorflow) as we try to keep the github issues focused on bugs and feature requests.

I didn't quite follow what you meant by "extract the native library". The [Java README](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/java/README.md) provides instructions for downloading th

[2017-02-23 06:49] #7807 closed

[2017-02-23 06:58] tobegit3hub commented on #7760
Thanks @chenliu0831 .

Can you tell more details about the mount path for your container? Like `/usr/local/cuda/lib64/libcuda*` or `/usr/lib/x86_64-linux-gnu/libcuda.*`? We're using `docker` instead of `nvidia-docker` and need to mount all the dependent `.so` files.

[2017-02-23 07:00] melvincabatuan commented on #7693
Successfully built it from source (Github Master branch) in my Ubuntu machine: (No more SSE3 warnings...)
https://youtu.be/1Gd6e5BLkwo

[2017-02-23 07:20] bicepjai commented on #5777
i have the same issue

Titan X
CUDA Version 8.0.44
NVIDIA Driver Version: 367.57
Ubunut 16.04  4.4.0-64-generic

[2017-02-23 07:20] AlvinChen13 opened #7810 "How to disable peer to peer gpu memory accessing?"
Our system with 2GPUs always reboot if run training with 2GPUs, but 1 GPU is OK. And the cuda testing case of 'simpleP2P' also make the system reboot.

How could I disable the peer to peer feature?

[2017-02-23 08:01] morgangiraud commented on #7782
👍
Thanks a lot for this fast answer. I understand now and i've been testing this successfully.

Also, one last question on my side:
Is using `tf.assign` in this way (especially the fact that i change the shape) leads to poor optimization on TensorFlow and so, poor performance ?

[2017-02-23 08:05] htyspghtz commented on #7683
Is there anyway we could get an Android Studio release for the Image Classifier? For us folks that aren't able to get a Bazel build going? I've tried for about a week now trying to get this build to work (and I really mean for a week, full days and nights of research and hackjobs). I've had terrible luck with Bazel, and finding a work around to Bazel. This might be due to me being relatively unack

[2017-02-23 08:08] molyswu opened #7811 "tensorflow1.0 ArgumentError Running CIFAR-10 models"
I am trying to run the CIFAR-10 example of Tensorflow-r1.0. However when executing python cifar10_multi_gpu_train.py I am getting the error attached below.
~/models/tutorials/image/cifar10# python cifar10_multi_gpu_train.py
Traceback (most recent call last):
  File "cifar10_multi_gpu_train.py", line 271, in <module>
    tf.app.run()
  File "/usr/lib/python2.7/site-packages/tensorflow/python/platfo

[2017-02-23 08:10] conqer opened #7812 "Build issues"
Building from source shows a lot of warnings,mostly due to either:

- Comparison between signed and unsigned integers
- Initialized variables
- Code reaching "non-return" path for functions that return a non-void.

I have submitted a patch that fixes a bunch of these (https://github.com/tensorflow/tensorflow/pull/7752)

`Operating System`:
Linux (ubuntu 14.04)

`Commit hash` : 4ac9c09d5ca57a03b8da

[2017-02-23 08:12] XRayCheng commented on #6119
I made a fix version of this here. Using the custom pipe lines.
https://github.com/XRayCheng/tensorflow_iris_fix

[2017-02-23 08:12] Sadrpour commented on #5777
I still have not found a fix either

[2017-02-23 08:26] hauluk commented on #2734
The problem was the trained model can't find the word in the embedding matrix. That means I used a different vocabulary for training and prediction. Because of the fixed vocabulary I needed the same vocabulary for train and new data.

[2017-02-23 08:34] lordthistle commented on #7552
@Carmezim Thank you. I was trying with the various PHP environments on my windows machine, which has php 2.7 and 3.6. Since it was not working with 3.6, out of desperation, I tried with 2.7 and copied that message and not the one with 3.6 (which produces the same result). I notice now that I need exactly 3.5.

[2017-02-23 08:58] Bruczzz commented on #7523
@cwhipkey Okay, how would you recommend I share the model? I would prefer uploading it on Google Drive/Dropbox and providing you a link privately so as to avoid open access to it. Kindly let me know. Appreciate your help in this.

[2017-02-23 09:03] pengjingg commented on #7249
I encountered the same error in TF 1.0 and the code I used is DCGAN downloaded from the internet. Do you have any idea how to solve it? Thanks!

[2017-02-23 09:07] untom commented on #7783
You're welcome. I updated my post to remove some duplicated code, and corrected the link to the runtime-executor. If you need any further details let me know.

[2017-02-23 09:09] zig-kwin-hu opened #7813 "many functions not found in libtensorflow-core.a"
I am trying to compile Image Recognition with makefile (which is compiled with bazel originally). However, it raise error that:

image_ops.h: No such file..

Following the instructions in [#3017](https://github.com/tensorflow/tensorflow/issues/3017), I add **tensorflow/bazel-genfiles** to my header search path.

It does work, but another error comes out as fllows:

11 warnings generated.
Undefined

[2017-02-23 09:13] pengjingg opened #7814 "tensorflow 1.0 error: ValueError: Only call `sigmoid_cross_entropy_with_logits` with named arguments (labels=..., logits=..., ...)"
### Environment info
Operating System:
Ubuntu 14.0.4
tensorflow 1.0
cuda 8.0 + cudnn 5.1

### Project
DCGAN: the code is downloaded here
https://github.com/carpedm20/DCGAN-tensorflow

### Logs or other output that would be helpful
![image](https://cloud.githubusercontent.com/assets/25976861/23252160/bd6c2570-f9ea-11e6-92fd-523a2acc8461.png)
### Codes that may have problems
![image](https://cloud.g

[2017-02-23 09:40] tobegit3hub commented on #7760
I think mounting the `/usr/lib64/nvidia/` in CentOS into `/usr/local/nvidia/lib64/` in Ubuntu container will work. And we should use `--device` for `/dev/nvidia*` instead of `-v`.

Now this command works in `CentOS 7.0`.

[code]

[2017-02-23 09:40] #7760 closed

[2017-02-23 09:42] kinDSa commented on #7766
@andrewharp, As per your suggestion I use prebuilt libs (libtensorflow_demo.so and libtensorflow_inference.so) in jniLibs and comment line related to bazel build in build.gradle.while I run project the and get error

`No implementation found for long org.tensorflow.contrib.android.RunStats.allocate() (tried Java_org_tensorflow_contrib_android_RunStats_allocate and Java_org_tensorflow_contrib_andro

[2017-02-23 10:00] YiMX commented on #7456
I added some copies, but there was something wrong if I did this to grads because it is a list not a value (I got errors of NotimplementError at apply_gradient_op = opt.apply_gradients(grads, global_step=global_step)). I am still working on this, but something I found might be useful. This time I changed
[code]
to
[code]
It worked but grads = tower_grads[1] still caused discrepancy. The problem I

[2017-02-23 10:00] guidj opened #7815 "tf r1.0 strided_slice documentation"
In the [docs](https://www.tensorflow.org/api_docs/python/tf/strided_slice), the following sentences seem incomplete/incoherent:

- If the ith bit of ellipsis_mask `[is-set-to-something]`, as many unspecified dimensions as needed will be inserted between other dimensions. Only one non-zero bit is allowed in ellipsis_mask.

- If the ith bit of new_axis_mask is one, then `a?` begin, end, and stride a

[2017-02-23 10:32] devfubar commented on #7449
@martinwicke yes that is the command I used to stop the warning messages.
[code]
[code]
[code]
[code]

[2017-02-23 10:48] volvador commented on #7785
Hello,
I am using tensorflow1.0 and keras 1.2.2 to generate the model. Below is a complete code to reproduce the error. To test, please start the following three processes

    python test.py --job_name ps
    python test.py --job_name worker --task_index 0
    python test.py --job_name worker --task_index 0

Here is the code of the file test.py

    import os
    import numpy as np
    import pan

[2017-02-23 11:21] coverpage commented on #7693
@melvincabatuan Do you notice any significant improvement in performance. I'm thinking of building from source as well.

[2017-02-23 11:29] jetW commented on #7774
The graph does not have tf.while. I may wait for the next release. Thank you!

[2017-02-23 11:58] scharron opened #7816 "tensorflow debugger assertion fails"
When using tensorflow debugger, the program crashes with the following message :

[code]

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

Nothing

### Environment info
Operating System:

Linux ip-172-31-46-19 4.4.0-57-generic #78-Ubuntu SMP Fri Dec 9 23:50:32 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Installed version of CUDA and cuDNN:

[2017-02-23 12:52] akaitsuki-ii opened #7817 "Reading data with queue is even slower than using feed_dict"
It seems reading data with feed_dict is inefficient in tensorflow (I found it 3-4 times slower than a theano-based implementation with a totally same network structure), I turn to a queue-based method as official recommendation. However, my experiment result give a even worse performance. Is there anything wrong ?

### Related issue
[#3377 Moving data from CPU to GPU is slow](https://github.com/te

[2017-02-23 12:59] chenynCV commented on #7522
I came across the same error when I'm using PyCharm.

[2017-02-23 14:14] Carmezim commented on #7552
@lordthistle nice you sorted it out. Python 3.6 on Windows is a working in progress #6999 so there is no compatible package yet. You would have to build TensorFlow from source to use 3.6.

[2017-02-23 14:14] persiyanov commented on #7403
@girving Hi, I've implemented first version, using the fact that second derivative of xentropy is actually gradient of softmax w.r.t logits.

This code works with minimal example which was introduced above.

[code]

[2017-02-23 14:59] mrry commented on #7785
Can you please share the complete stack trace for the error you're seeing as well?

[2017-02-23 15:04] mrry commented on #7814
What happens if you replace this expression:

[code]

...with the following:

[code]

[2017-02-23 15:11] caisq commented on #7816
This is a known issue due to TF Debugger (tfdbg)'s incompatibility with DT_RESOURCE, which is used in, among other things, queue ops. This bug has been fixed in master/HEAD. So please either try our nightly builds: https://github.com/tensorflow/tensorflow/#installation or wait for the next release. Sorry for the inconvenience and thanks for reporting the issue.

[2017-02-23 15:11] #7816 closed

[2017-02-23 15:45] volvador commented on #7785
Here is the complete stack trace

    Traceback (most recent call last):
  File "tensorflow_data_parallel.py", line 113, in <module>
    model.save_weights('weights.h5')
  File "..../keras-1.2.2-1/lib/python2.7/site-packages/keras/engine/topology.py", line 2652, in save_weights
    self.save_weights_to_hdf5_group(f)
  File "..../keras-1.2.2-1/lib/python2.7/site-packages/keras/engine/topology.py",

[2017-02-23 15:47] jeffheaton commented on #7287
If you are not going to support predict_proba, I suppose that is okay.  But every scikit-learn model that I've ever seen returns a scalar class index per prediction when predict is called on a model.  Not a vector of probabilities like tflearn is currently doing. You can easily get to the prediction class using an argmax, but it makes it difficult to make TF models interchangeable with other sciki

[2017-02-23 15:57] mrry commented on #7785
OK, I think this problem might be due to Keras creating its own session, based on this line in the stack trace:

[code]

I'm not particularly familiar with Keras, but I think there's [a `K.set_session()` method](https://github.com/fchollet/keras/blob/4fa7e5d454dd4f3f33f1d756a2a8659f2e789141/keras/backend/tensorflow_backend.py#L129) to which you can pass your own `sess`, and if you do that the erro

[2017-02-23 16:02] volvador commented on #7785
This is very kind of you.. It solved it indeed

[2017-02-23 16:02] #7785 closed

[2017-02-23 16:54] inflation opened #7819 "XLA build error on macOS 10.12.4 Beta"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2017-02-23 16:59] yaroslavvb commented on #7817
I troubleshooted similar issue [here](http://stackoverflow.com/questions/39840323/benchmark-of-howto-reading-data/39842628#39842628) and it was caused by Python thread scheduler choosing a bad strategy. Essentially Python would schedule computation thread that issues a single enqueue call, then this thread would block and have to be pre-empted. Python doesn't support parallel execution of Python c

[2017-02-23 17:01] spmckenney commented on #7789
Perhaps it would be a little more clear to have an interface such as:
[code]
Forcing GPU use could then be done with `sess = self.test_session(use_device="/device:GPU:0, force_device_placement=True)`. This would also deconvolve the selecting of a device and the forcing of its use, unlike the current implementation (i.e. `sess = self.test_session(use_gpu=False, force_gpu=True)` <- what happens?).

[2017-02-23 17:15] andrewharp commented on #1737
@brucelau-github What is the exact error you're seeing? Host OS/bazel version? Have you tried the suggestions from this thread without success?

[2017-02-23 17:17] andrewharp commented on #7766
@kinDSa If you do `unzip -v bazel-bin/tensorflow/examples/android/tensorflow_demo.apk`, what does it print out?

[2017-02-23 17:22] yaroslavvb commented on #7789
The `test_session` code was not really planned in advance and grew organically. There are probably bugs. @drpngx saw some weird/unexpected behavior in `force_gpu` --https://github.com/tensorflow/tensorflow/issues/7026#issuecomment-281741007

[2017-02-23 17:23] benoitsteiner commented on #4775
I've added the missing definition for Packet16q16i in https://github.com/tensorflow/tensorflow/pull/7820. That should solve the immediate compilation error. I think there are a few more primitives missing though.

[2017-02-23 17:35] andrewharp commented on #7683
@shuangwu @kinDSa @patoalejor
It's not finding the Java files under [tensorflow/java](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java). Looks like this was missed on the recent conversion of TensorFlowInferenceInterface to use the Java API. If you add `"../../java/src/main"` to java.srcDirs in [build.gradle](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examp

[2017-02-23 17:36] drpngx commented on #7789
Yeah, `force_gpu` was ineffectual when I tried it. Looking at the code, it basically just says `allow_soft_placement=False` and `with sess.graph.device("/gpu:0"): yield sess`, so it should work.

[2017-02-23 17:37] mrry commented on #7782
Glad to hear it!

As for the performance impact, it's hard to say. At the level of individual assign calls, TensorFlow doesn't do much to optimize your code, so you aren't necessarily missing any optimizations. Concatenating and copying like you do in that code snippet will have quadratic time complexity, but I'm not sure if you're going to be doing that in such a tight loop that it matters :). (I

[2017-02-23 17:40] andrewharp commented on #7683
@htyspghtz Note that the comment you pasted is a little outdated: currently you need both libtensorflow_inference.so and libtensorflow_demo.so. This is because the TF library and inference bindings have been removed from libtensorflow_demo.so (it only contains object tracking+YUV->RGB conversion code now).

[2017-02-23 17:44] #7782 closed

[2017-02-23 17:44] achbogga opened #7821 "Cannot upgrade to CUDNN 5.1 (How to compile using CUDNN 5 and CUDA 7.5)"
I am using a University Cluster with Tesla K80 with CUDA 7.5 and CUDnn 5.0.5. I don't have root access and cannot upgrade either CUDA or CUDnn. I have tried compiling TF 1.0 from sources using bazel by configuring CUDnn to 5.0.5. I am still experiencing this error while running deep mnist.

2017-02-23 12:29:43.883764: E tensorflow/stream_executor/cuda/cuda_dnn.cc:352] Loaded runtime CuDNN library:

[2017-02-23 17:48] yaroslavvb commented on #7810
So you want to disable DMA because it's buggy even though NVidia driver reports that DMA is available? Not sure there's this level of fine-grained configuration at TF level, cc @poxvoculi just in case

[2017-02-23 17:48] andrewharp commented on #7464
@davideb91 Any luck on this? Also, is there any chance you've made changes to the activity orientation settings in AndroidManifest.xml?

[2017-02-23 17:50] shuangwu commented on #7683
@andrewharp thanks for the help, it's now complaining about package java.nio.file, another missing entry in java.srcDirs?

[2017-02-23 17:51] tawantinsuyu commented on #7550
I am having this problem as well. I pip installed tensorflow in anaconda with python3 environment. Can we revert anaconda to an earlier version of tensorflow to at least temporarily get around this?

[2017-02-23 17:56] morgangiraud commented on #7782
All right, thanks for those insights!

[2017-02-23 17:57] andrewharp commented on #7683
@shuangwu java.nio.file was added in Java 7 -- it sounds like your JDK might be too old or you're forcing compatibility with older APIs.

[2017-02-23 18:01] shuangwu commented on #7683
@andrewharp I have java 1.8.0_121 installed, so definitely not old, somehow it's not find it?

[2017-02-23 18:09] vdorbs opened #7822 "Returning argmax with tf.nn.pool"
Feature request for returning argmax for N-D pooling with `tf.nn.pool`, as in `tf.nn.max_pool_with_argmax`.

[2017-02-23 18:12] andrewharp commented on #7683
@shuangwu Ok, I'm seeing this too now actually. It's coming from the LabelImage.java example, which is not part of the Java API itself.

If you replace java.srcDirs with this I think it will work:
[code]

[2017-02-23 18:20] Iolaum opened #7823 "Gradient Boosting Decision Trees at TensorFlow"
At TensorFlow Dev Summit 2017 Mr. Ashish Agarwal gave a presentation for ML Toolkit and said that Gradient Boosting Decision Trees [are coming soon](https://youtu.be/Tuv5QYKU-MM?t=271).  I would like to ask two questions:

 * Is there an approximate timeline for when this feature might be released?
 * Is there any information if we will be able to leverage tensorflow's local (GPU computing) and di

[2017-02-23 18:21] poxvoculi commented on #7784
OK, thanks for posting @mahatosourav91, this program reproduces the first error, which is:

`ValueError: Tensor conversion requested dtype float64 for Tensor with dtype float32: 'Tensor("sub_1:0", shape=(), dtype=float32)'
`

My understanding is that numpy by default will create an array of float64, and many parts of TF will require float32.  The logic path hit in this example can't force a conver

[2017-02-23 18:27] deeptensorflow commented on #7779
I tried gcc. compile works too but not for using tf.load_op_library

[2017-02-23 18:41] poxvoculi commented on #7784
The next error appears to be caused by the num_clusters argument to GMM exceeding the (implicit) batch_size of 128.  If I change to the following:

[code]

Now I hit a new error:

[code]

I wonder whether this may be caused by using random input.
In any case, this is a contrib library, and I can't see that anyone is maintaining it.
@rmlarsen: What do you know about this?

[2017-02-23 18:41] apiszcz opened #7824 "Primary install page returning 404 https://www.tensorflow.org/get_started/os_setup"
https://www.tensorflow.org/get_started/os_setup

404. That's an error.

The requested URL was not found on this server.
That's all we know.

[2017-02-23 18:43] girving commented on #7403
Cool!  Yep, assuming that's correct, onwards to optimization.  The two important optimizations are

1. Use `matmul` instead of multiplication followed by `reduce_sum`.  Some reshapes may be required.  Side note: you can also use `tensor[:, None]` to insert a unit dimension in a shape.
2. Don't add `second_deriv` if `grad_1.op.type` is `Zeros` or `ZerosLike` (I believe those are the right 2).  You

[2017-02-23 18:54] shuangwu commented on #7683
@andrewharp it is working, thanks.

[2017-02-23 19:12] sumit-autox commented on #851
@rwightman How were you able to build Tensorflow 1.0 without gRPC?

[2017-02-23 19:15] sumitkamath commented on #851
@rwightman How were you able to build tensorflow without gRPC? Thanks!

[2017-02-23 19:16] poxvoculi commented on #7793
OSX versions below 10.11 are not supported by the TF team, but you may find community support elsewhere.  The warnings you see are merely to let you know that performance will be better if you compile specifically for your machine.

[2017-02-23 19:16] #7793 closed

[2017-02-23 19:19] HossamAmer12 commented on #1890
@SanderDalm After you created the bazel-gen files, what did you do for your application to build? Did you add the bazel-gen files in your include path? Did it work after that?

I have a C++ project that contains several subfolders of *.h and *.cpp files. I think that creating a BUILD file for such a project will not be the fastest way to solve the issue.
@mrry