[2019-03-13 09:33] BilleChu opened #26656 "tensorflow serving embedding get Truncate？"
NodeDef mentions attr 'Truncate' not in Op<name=Cast; signature=x:SrcT -> y:DstT; attr=SrcT:type; attr=DstT:type>; NodeDef: embedding_1/Cast = Cast[DstT=DT_INT32, SrcT=DT_FLOAT, Truncate=false, _output_shapes=[[?,15]], _device="/job:localhost/replica:0/task:0/device:CPU:0"](_arg_input_1_0_0). (Check whether your GraphDef-interpreting binary is up to date with your GraphDef-generating binary.).%0A%

[2019-03-13 09:39] quartermaine commented on #26515
@ymodak I will update my version.Thanks for the solution

[2019-03-13 09:52] AnandAron opened #26657 "Session.run() doesn't accepts string of image bytes(2nd Parameter), as it usually does"
*System information**
- Os Ubuntu
- Tensorflow 1.13.1
- Python 2.7
Code:
`image_data = tf.gfile.FastGFile(image_path, 'rb').read()`
`prediction = sess.run('final_result:0', {'Placeholder:0': image_data})`

Error:
`could not convert string to float`

[2019-03-13 09:54] galeone opened #26658 "Dataset object is not an iterator, although I can iterate on it."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Archlinux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190312
- Python version: 3.6
- CUDA/cuDNN version: 10
- GPU model and memory: 1080 Ti

**Describe the current behavior**

**Describe the expected behavior**:

Should fetch the first element of the ite

[2019-03-13 10:02] smallhaolzh opened #26659 "how to enable gpu_options properties when in eager distributed execution of multi-gpus"
I use MirroredStrategy to create distributed execution. And I use the ConfigProto to set gpu_options.allow_growth and set to tf.enable_eager_execution(config=config). However after I run the distributed code in eager mode, my 4 gpus in the same machine are allocated all their memory. It seems that the  gpu_options does not work.

I use tensorflow1.12 and python3.6.

[2019-03-13 10:13] sbrodehl commented on #26653
I was able to get some detailed error logs

[code]

Here is a nvidia-smi call after the crash

[code]

[2019-03-13 10:54] byronyi commented on #26653
Your kernel seems way too new for CUDA. Please make sure your CUDA is supported in your Linux distro. Otherwise, we cannot make sure it is a TF issue or not.

[2019-03-13 11:03] deepllz opened #26661 "what does USE_EIGEN_TENSOR used?"
There are some  USE_EIGEN_TENSOR macros, What does it used for?

[2019-03-13 11:10] serv-inc opened #26662 "tf.logging does not exist in tf 2.0, yet is used in example"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 2.0.0-alpha0
- Doc Link:
https://github.com/tensorflow/examples/blob/maste

[2019-03-13 11:21] byronyi commented on #26659
I believe it's something the team is working on. See #25446 for details.

[2019-03-13 11:42] asjmasjm opened #26664 "Using create_training_graph with act_quant not found error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 16.04
- TensorFlow installed from (source or binary):
Binary
- TensorFlow version (use command below):
1.9.0
- Python version:
3.6
- CUDA/cuDNN version:
9.0
- GPU model and memory:

After the addition of

[2019-03-13 11:58] asjmasjm commented on #26664
Okay I know the problem. No such error if I train from the scratch...So what's the correct way to train from a pre-trained f32 model that contains no elements like /act_quant/max?

[2019-03-13 12:04] steige2 commented on #26565
I’ve decided to abandon MPI support for this at my institution after the support situation was explained.
I was the ticket in a closed state and I did not reopen it, it must be the other reporter.
S

If you tear a hole in a net you have fewer holes

Scott Teige PhD
Deep Learning
Indiana University Research Technologies
steige@iu.edu
Office: +1 812 856 7331

[2019-03-13 12:13] sbrodehl commented on #26653
tensorflow only supports CUDA 10.0, so I am not able to upgrade CUDA.
nvidia driver 418.43 works with linux kernel v5, but I guess for now I will assume that there is an issue with CUDA/driver and linux kernel v5.

[2019-03-13 12:13] #26653 closed

[2019-03-13 12:15] herbakamil commented on #26093
I think there's no NDK in the Tensorflow docker image

[2019-03-13 12:15] Gouiaa commented on #26629
@umbrellalalalala Thanks for your answer. However, it does not work. Did you try it on your machine before write it here ? I have already provide  a minimal working example to help other reproduce the error and try to correct it.

[2019-03-13 12:20] meteorcloudy commented on #26395
OK, I will take a look!

[2019-03-13 12:30] murdockhou opened #26665 "tensorflow 2.0, variable_scope(), TypeError: __call__() got an unexpected keyword argument 'partition_info'"
I have convert a CNN model from tf1.x to tf2.0 by using ` tf_upgrade_v2 `, but when i used this converted model, i got an error:

`File "/home/hsw/virtual_env/tf2.0/lib/python3.6/site-packages/tensorflow/python/ops/variable_scope.py", line 2492, in default_variable_creator
    import_scope=import_scope, distribute_strategy=distribute_strategy)
  File "/home/hsw/virtual_env/tf2.0/lib/python3.6/site

[2019-03-13 12:45] v-qjqs commented on #26572
I'm experiencing similar issue with object detection model training: Failed to get device properties. Unable to determine the device handle for GPU 0000:01:00.0: GPU is lost.  Reboot the system to recover this GPU
OS: notebook with win10
TensorFlow version: tf-gpu 1.13.1
Python version: 3.7.1
CUDA/cuDNN version: 10.0.130 / 7.5.0
GPU model and memory: Nvidia GeForce GTX 1060 (6 GB memory)

[2019-03-13 12:54] #21772 closed

[2019-03-13 12:54] KristianHolsheimer commented on #4897
The solution proposed by @goodfeli only works of you know the batch size ahead of time. I use `tf.map_fn` instead:

[code]

One thing to be mindful of is setting the correct return type of the lambda expression. Luckily, nested dtypes are supported.

[2019-03-13 12:55] tensorflowbutler commented on #21772
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2019-03-13 12:55] tensorflowbutler commented on #25525
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-13 13:32] umbrellalalalala commented on #26629
@Gouiaa All right, the question in this page has no code indent, and I mistook it as a problem I solved the other day. I'm sorry that before I answered on your question page, I didn't read your indented question again.

I'm curious about this problem after read it again. If I work it out on my pycharm, I will write it here.

[2019-03-13 13:53] death14stroke opened #26667 "Multipose outputs"
**System information**
- TensorFlow version: tf-lite
- Doc Link: https://www.tensorflow.org/lite/models/pose_estimation/overview
https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5

**By using the getOutputTensors function in tflite interpreter, I can get that there are 4 output arrays with dimension of  1*23*17*17, 1*23*17*34, 1*23*17*64 an

[2019-03-13 14:01] SanthoshRajendiran commented on #25575
In tf2.0, there is no direct function as from_keras_model, you have to create a concrete function.
It works, but on conversion to tflite, other issues are actually coming like some key error for batch normalization as it is falling back to v1 for batch normalization, and the resource nodes for all the operators are getting added up along with this.. I am using TF2.0 alpha release

[2019-03-13 14:11] cgebbe commented on #22479
I got a solution by using
`model._layers.pop(0)`
instead of
`model.layers.pop(0)`

[2019-03-13 14:16] #26093 closed

[2019-03-13 14:17] mrry commented on #26658
A Dataset is not the same thing as an iterators, so this is expected behavior. You can think of a TensorFlow iterator as the combination of a Dataset **and** a current position in that Dataset.

You can create an iterator from a dataset using `iter(dataset)`, so the following code should work (in TensorFlow 2.0, or with eager execution enabled):

[code]

[2019-03-13 14:17] #26658 closed

[2019-03-13 14:26] MartinSmeyer commented on #23606
Thanks a lot Byronyi! We will try this for our 8x Titan V, SuperMicro 4029GP-TRT Server. It shows very similar issues with the PIX connections.

[2019-03-13 14:27] mattn opened #26668 "Benchmarker of tensorflow/lite initialize tensorflow"
Current implementation of tensorflow/lite/testing have initialization of TensorFlow core.

https://github.com/tensorflow/tensorflow/blob/069c503b4ac5bf4c89aeb38332685e427e0d3e03/tensorflow/lite/testing/init_tensorflow.cc#L23-L30

Why this is needed? Benchmarker always include binary of tensorflow. I think this is enough.

[code]

[2019-03-13 14:36] herbakamil opened #26671 "googletest.h used in open source project"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1 LTS
- Mobile d

[2019-03-13 14:37] lissyx commented on #25323
It looks like we are reproducing that with GCC 7.2 from Linaro as well. Looks to be confirmed as an upstream GCC issue: https://bugzilla.redhat.com/show_bug.cgi?id=1570308

[2019-03-13 14:44] sibyjackgrove commented on #26263
Thanks for update @omalleyt12 will try it out.

[2019-03-13 14:44] marcown commented on #25036
Are you working on this? Need help?

same happens for tensorflow 2.0

[2019-03-13 14:52] SanthoshRajendiran opened #26672 "Not able to convert Keras model to tflite - TF 2.0 alpha"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not yet to that phase
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use comma

[2019-03-13 14:55] JETTIDIVYA commented on #18116
i have the same issue

[2019-03-13 14:55] RazorBladeQuant commented on #26182
@lipingbj so i had a similar issue, when pushing an upgrade to a tensorflow code which would  call 200 sagemakers in parallel. i solved it by fixing the numpy version to numpy==1.14.5  and tensorflow-gpu to 1.12.0. If you would you like i can paste the dockerfile i created to ensure it works?

[2019-03-13 15:16] aaroey commented on #23853
The original problem in this issue is fixed: if we install the latest nightly pip package, we should see the TF-TRT shared library in `site-packages/tensorflow/compiler/tf2tensorrt/python/ops/libtftrt.so`.

@yegord, to solve your linking problem, I have an example in `https://github.com/aaroey/tensorflow/blob/issue_repros/test/issue23853/Makefile#L14`.

[2019-03-13 15:18] keyyuki opened #26673 "[Document] no module name resize_image_with_pad"
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/image/resize_image_with_pad

there no function "resize_image_with_pad" in module "image". Its name is: "resize_with_pad"

[2019-03-13 15:39] jdduke commented on #25688
The [label_image](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/label_image) and [minimal](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/examples/minimal) example demonstrate C++ API usage. You can use those APIs together with the native [libtensorflowlite.so](https://github.com/tensorflow/tensorflow/blob/182fce37819b22bc94b444a851ababf94c4642

[2019-03-13 15:42] galeone commented on #26658
Hi @mrry and thank you for the quick response.

I understand a dataset is not the same thing as an iterator and I'll use your solution to convert the dataset to a Python iterator when working in eager mode.

However, I found a (related?) issue when wrapping a dataset into a `tf.function`.

A code that loops using Tensorflow primitives (like `for i in tf.range(10)`) can be converted into its graph

[2019-03-13 15:48] herbakamil opened #26674 "tests inside tflite/kernels/internal fail to build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1 LTS
- Mobile d

[2019-03-13 15:52] Baeta18 commented on #23457
@FAMM2017
You need do (Build.gradle) :
def nativeBuildSystem = 'none'
It has been stated in https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/README.md that the demo can be built using Android Studio even if nativeBuildSystem = 'bazel'. However, if I try to build using bazel I get the same error as this issue:
error: cannot find symbol class Fill where T is a type-va

[2019-03-13 15:53] jdduke commented on #25239
The object tracking is really just a clever way of masking the latency of the actual SSD inference. There's no reason you can't use the object tracking code in your own project with TFLite. The reason it doesn't work in that sample is 1) latency is now much lower, and approaching real-time, allowing independent detection, and 2) the TFLite detection sample was a fork of the TF detection sample, bu

[2019-03-13 15:57] joepmoritz commented on #26584
**System information**

TensorFlow version (you are using): 1.13.1
Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**

The current Tensorflow Lite Java API does not declare that `Interpreter.run` can throw exceptions. However, the underlying code does throw exceptions, often containing useful debug information. If a call to `Interpreter.run` is

[2019-03-13 15:57] alextp commented on #26638
@edloper do you have any pointers as to how to implement boolean_mask support for RaggedTensor?

[2019-03-13 15:57] mrgloom commented on #8854
First answers are outdated:

Now you can use:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/import_pb_to_tensorboard.py

[2019-03-13 16:03] dynamicwebpaige commented on #26368
Design guidance (as of 06-03-2019) is that the `skip_empty` argument should be removed from `tf.strings.split` (filtering after the fact introduces difficulties). Closing out this issue as working as intended. Apologies for confusion, and thank you for working on this!

[2019-03-13 16:03] #26368 closed

[2019-03-13 16:14] yongtang commented on #26643
The string type `"GZIP"`, `"ZLIB"`, and `"NONE"` are actually support for both `TFRecordWriter` and `TFRecordDataset`. For that I am in favor of removing `tf.io.TFRecordCompressionType` as it is just a pure enum. Created a PR #26676 for the fix.

[2019-03-13 16:16] keyyuki commented on #26673
duplicate with https://github.com/tensorflow/tensorflow/issues/26651

I close it

[2019-03-13 16:16] #26673 closed

[2019-03-13 16:17] musikisomorphie commented on #23590
@alextp, sounds good. I am going to get myself familiar with this op first, I will let you know if I need some pointers.

[2019-03-13 16:31] pooyadavoodi commented on #26498
Would it make sense to delete `config=cuda` from the docs here? Looks like it's not needed?
https://www.tensorflow.org/install/source#gpu_support

[2019-03-13 16:41] frreiss commented on #22926
I am looking into this.

[2019-03-13 16:49] bluemonk482 commented on #25731
@yashk2810
Actually I have tried this with both tensorflow v2.0 and v1.12.0 (with `tf.enable_eager_execution()` ). So apparently if I call `numpy()` with the code snippet shown below in my `main()` function, it works perfectly. However if I use it in my estimator model function i.e., `model_fn(features, labels, mode, params)` then it complains that 'Tensor' object has no attribute 'numpy'.

[code]

[2019-03-13 16:50] GokulSakthivel opened #26677 "tf.argmax axis argument error returns "Use the `axis` argument instead""
i also try  tf.math.argmax instance of  tf.argmax which is also produce same error.

y_pred_cls = tf.argmax(y_pred, dimension=1, axis=None)
'''y_pred_cls = tf.math.argmax(
    y_pred,
    axis=None,
    name=None,
    dimension=1
)'''

[2019-03-13 16:53] ymodak commented on #26386
You are welcome.
Here are the links you asked for,
Build from source - https://www.tensorflow.org/install/source_windows
Build from pip - https://www.tensorflow.org/install/pip  (select windows in step 1 and 2)

[2019-03-13 17:00] chwang85 commented on #26151
Deprecating these functions is deprecating users.
Do you really understand "道理"?

[2019-03-13 17:04] qlzh727 commented on #26600
This seems to be quite weird, since the code snippet does not specify cudnn kernel at all. Btw, do u have tensorflow-alpha release installed? Can u run "pip list" and show all installed tf package/version here?

[2019-03-13 17:15] gargn commented on #26672
This error is coming from a known issue with `convert_variables_to_constants_v2` that should be fixed in the coming weeks. The work around (in the interim while the issue is being fixed) is to save the model instead of using `@tf.function` to generate the concrete function. Here is an example of how that might look:

[code]

However, saving and loading seems to result in the following error (from

[2019-03-13 17:19] alextp commented on #26665
Can I see the full stack trace?

[2019-03-13 17:25] Rakshith1342 commented on #22794
When I ran the ```pip install tensorflow-gpu``` command, 1.13.0 got installed and I got the error ```Win10: ImportError: DLL load failed: The specified module could not be found```. So I tried downgrading to ```1.10.0``` as @57ar7up suggested. This did not work as pip could not find the required ```.whl``` file and the connection kept timing out.

So I followed @sulaimanvesal 's approach and ```1.

[2019-03-13 17:25] allenlavoie commented on #26672
Yeah we need to support Optimizers in SavedModels. Right now the imported model isn't checkpoint compatible with the exported model. There's a bug for it internally. The SavedModel will work fine for things other than `tf.saved_model.load` (saved_model_cli/tflite/etc.) in the meantime.

[2019-03-13 17:27] Stepiii opened #26679 "Error in bazel-out/x64_windows-opt/genfiles\tensorflow/compiler/xla/xla_data.pb.h"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 64 bit
- Mobile dev

[2019-03-13 17:34] jvishnuvardhan commented on #26662
@serv-inc Those examples are not related to TF2.0. Those examples user Tensorflow master.
In the example, import tensorflow as tf was used. For 2.0 we need to use, tensorflow==2.0.0-alpha0. Thanks!

[2019-03-13 17:35] ahatamiz commented on #24410
@seanpmorgan Yes. You were right and it worked.

Also, it seems like this layer requires TensorFlow version >= 2. Would it be possible to allow older versions like 1.9 for now ?  @Squadrick

[2019-03-13 17:37] ymodak commented on #26649
Thanks for catching this. Indeed following links seem to be broken under [what is transfer learning](https://www.tensorflow.org/js/tutorials/transfer/what_is_transfer_learning)
[Build a transfer-learning based image classifier](https://www.tensorflow.org/js/tutorials/transfer/image-classification)
[Build a transfer-learning based audio recognizer](https://www.tensorflow.org/js/tutorials/transfer/a

[2019-03-13 17:48] skye commented on #25218
I'm not familiar with complex nets or derivatives, so I don't have a sense for how useful this will be. @proteneer can you explain more what the end goal is? You mentioned full rank Jacobians and Hessians, does @musikisomorphie 's suggestion also achieve this?

[2019-03-13 17:54] skye commented on #26455
FYI, in general, questions like these are best asked on [Stack Overflow](http://stackoverflow.com/questions/tagged/tensorflow), since we GitHub issues to track bugs and features.

The docs you linked to are to the C++ API, which contains many lower-level (and sometimes outdated ops) than the Python API. For example, in TF 2.0, the Python API no longer produces Ref ops. So you won't see all the con

[2019-03-13 17:54] #26455 closed

[2019-03-13 17:57] serv-inc commented on #26662
@jvishnuvardhan : thank you for the explanation. This is a course about Tensorflow 2.0. I had only installed the 2.0 version on my system, which is why `import tensorflow as tf` used 2.0. Anyways, it seems to be a non-issue if this is simply not supposed to work in 2.0.

[2019-03-13 17:59] saeta commented on #23659
Note: I'm working on Swift now, sorry!

[2019-03-13 18:02] fps7806 commented on #26495
Still present on the latest release (1.13.1)

[2019-03-13 18:04] allenlavoie commented on #26672
If you need a workaround for the optimizer issue, you should be able to `del model.optimizer` before saving. But it sounds like that's not the main issue.

[2019-03-13 18:08] usptact commented on #23369
I am having exact the same issue in a C++ program that loads a frozen graph and attempts to do inference. How I could import those contrib ops in a C++ program?

[2019-03-13 18:09] jvishnuvardhan commented on #26639
@dipanjanS Could you provide a code to reproduce the bug? Thanks!

[2019-03-13 18:13] alextp commented on #23369
On a C++ program you need to dlopen the .so file containing the contrib ops. If you search for .so / dll it in the contrib/ directory of the python tf installation (inside site_packages or wherever else your tf was installed) you can find it.

[2019-03-13 18:24] ymodak commented on #26656
This issue is more appropriate on TensorFlow Serving repo. Please post it on [TF Serving](https://github.com/tensorflow/serving/issues) from here.
 Thanks!

[2019-03-13 18:24] #26656 closed

[2019-03-13 18:28] ppwwyyxx commented on #25946
3 weeks with no response?

[2019-03-13 18:30] proteneer commented on #25218
This is far less complicated than what you guys think it is. It basically allows for an easy way to do forward-mode AD in an embarassingly parallel way:

[code]

prints:

[code]

Literally the only engineering that's needed is to wrap the dfdx's in a parallel_for.

As such it becomes trivial to do full-rank jacobians (as opposed to the reduced variants) that we currently have. And doesn't require

[2019-03-13 18:34] aaroey commented on #23853
For the INT8 calibration problem, I believe it's fixed at HEAD. Here is a (fixed) repo for it: https://github.com/aaroey/tensorflow/blob/issue_repros/test/fixed-issue23853-int8/Makefile

I'm closing this, feel free to let me know if there are any questions. Thanks.

[2019-03-13 18:34] #23853 closed

[2019-03-13 18:35] ahatamiz commented on #24410
Thanks @seanpmorgan . However I also have an issue with version incompatblity as only Tensorflow 2.0.0 is allowed. I have not yet transferred everything to Tensorflow 2.0.0 and was hoping to get it working on older versions.

[2019-03-13 18:36] jvishnuvardhan commented on #26594
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-13 18:36] #26594 closed

[2019-03-13 18:38] ymodak commented on #26661
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-13 18:38] #26661 closed

[2019-03-13 18:39] ymodak commented on #26634
Please provide following info:
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version:
- Python version:
- Installed using virtualenv? pip? conda?:
- Bazel version (if compiling from source):
- GCC/Compiler v

[2019-03-13 18:42] qlzh727 commented on #26642
Thanks for checking. I think LSTMBlockFusedCell or LSTMBlockCell won't be in the core API for 2.0. Having said that, I could update the cpu kernel to be a more performant version like LSTMBlockCell. The only down side I can see is that user will loss the python level debugability since it will be one fused op.

I will discuss the trade off within teams and post it here.

[2019-03-13 19:09] mrry commented on #26643
Thanks for the PR @yongtang! That change sounds good to me.

[2019-03-13 19:16] ppwwyyxx opened #26680 "boolean_mask with all-zero mask produces allocator error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):archlinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):b'v1.13.1-0-g6

[2019-03-13 20:01] dipanjanS commented on #26639
Hi, it's mentioned in the previous comment, reposting here again separately.

[code]

[2019-03-13 20:09] gashmish commented on #22893
This error still appears when converting any Keras model which has custom layer
On TF 1.13

[2019-03-13 20:19] gashmish commented on #22146
This error always oppears when you try to convert Keras model with Conv1D when dilation_rate > 1 and padding  != 'same'

Still on TF 1.13

[2019-03-13 20:23] mabrowning commented on #9614
Since this is a top Google result for "tensorboard reverse proxy", let it be known that tensorboard now has a `--path_prefix=/whatever/you/want/tensorboard` argument for serving at a non-root URL.

[2019-03-13 20:26] nimning commented on #22594
I have a Tesla 63C K40C. The highest compute capability is 3.5. So, do you mean I have to buy a new GPU or install the older version tensorflow? Is there any setting I can use to make the current tensorflow also support GPU with capacity 3.5?

[2019-03-13 21:00] chwang85 commented on #26151
Please pay more attention to those unsolved issues (i.e. #6391, #22543, #26625) rather than deprecating widely used functions!

[2019-03-13 21:16] dynamicwebpaige commented on #26645
Thanks for filing the issue! The link you referenced is pointing to a [Testing Guide](https://web.archive.org/web/20180908070834/https://tensorflow.org/api_guides/python/test) we had historically; but I do not think has been upgraded to TF 2.0.

@MarkDaoust, do you know if we have plans to update the guide?

[2019-03-13 21:17] s0r2637 commented on #14442
Hi @JosPolfliet,

Which of the two workarounds mentioned by @mrry worked for you?  I am facing the same problem.

[2019-03-13 21:31] dankal444 commented on #25170
I was trying to do that earlier but had some other problems now I don't remember. Why there are so many ways of doing things while none of them works? :(

I found that the problem was certainly with Batch Normalization layer.

I solved my problem by:
1) creating separate test and train net
2) creating custom Batch Normalization layer for test network (comprising only multiplication and add bias la

[2019-03-13 21:48] #24818 closed

[2019-03-13 22:10] qlzh727 commented on #26639
Adding Francois who is the owner Keras overall.

[2019-03-13 22:10] ParthS007 commented on #26530
@Mandar-Shinde Can I take reference from [here](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.argmax.html?highlight=argmax#numpy.argmax) for adding examples just like it is mentioned in this Issue - https://github.com/tensorflow/tensorflow/issues/25802

[2019-03-13 22:21] ParthS007 commented on #26539
@mandroid6 @jvishnuvardhan What I have to update exactly?
I have found the functions `zeros_like` is defined here - https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/array_ops.py#L1876
What more should I add in the documentation?
Thanks for the help. :+1:

[2019-03-13 22:30] byronyi commented on #22594
@nimning AFAIK 3.5 or K40 series is always supported.

[2019-03-13 22:57] sb2nov commented on #26513
@ymodak

1. You'll need to connect to remote tpu host when using eager mode so something like
[code]
this needs to happen before you initialize the device.

PS: TPU support in 2.0 is still WIP but we're actively working on that right now.

[2019-03-13 22:57] #26513 closed

[2019-03-13 23:01] skye commented on #26526
Hi @Imtinan1996 , thanks for reporting! Would it be possible for you to simplify the code you shared above into a single code snippet we can run to reproduce this problem? I don't fully understand how the map_fn calls fit into the tower construction code you shared.

[2019-03-13 23:26] mandroid6 commented on #26539
Update the docstring of the functions you need to improve the documentation
of.

On Thu, Mar 14, 2019 at 3:56 AM, Parth Shandilya <notifications@github.com>
wrote:

[2019-03-13 23:28] dsindex commented on #23369
i had the same issue and solved it.

https://github.com/dsindex/etagger/blob/master/inference/cc/src/TFUtil.cc

* for LSTMBlockFusedCell()
$ rnn_path=`python -c "import tensorflow; print(tensorflow.contrib.rnn.__path__[0])"`
$ rnn_ops_lib=${rnn_path}/python/ops/_lstm_ops.so
$ cp -rf ${rnn_ops_lib} ${TENSORFLOW_BUILD_DIR}
$ export LD_LIBRARY_PATH=${TENSORFLOW_BUILD_DIR}:$LD_LIBRARY_PATH

[2019-03-13 23:35] frreiss commented on #22926
Created PR #26682 with a Go API to create ConfigOptions protocol buffer messages. I made the changes as narrow in scope as I could.

[2019-03-13 23:55] shizhiw commented on #25652
Marking this as fixed as it has been fixed in 1.13 and using `export_to_tpu=False` resolves the issue for earlier versions.

[2019-03-13 23:55] #25652 closed

[2019-03-14 00:00] qqfish commented on #25724
Fixing this issue requires a much bigger change than I originally thought. I cannot find a easy workaround works for all cases. This may require to re-design op scheduling of TF to fully support this kind of fine-grained dependency.

The good news is, someone in our team has already started working on fine-grained dependency support. But it may take a while.

[2019-03-14 00:04] pswpswpsw commented on #15465
Hi dpfau,

could you show an example (say starting with@ops.RegisterGradient("MatrixExponential") ) that allows for gradient computation? the pade approximant only allows for computing matrix exponential?

[2019-03-14 00:14] xilenteyex commented on #25724
@qqfish Thanks for the update. Do we know approximately how much time will it take ?

Regards,
Ubaid

[2019-03-14 00:17] zhangandyx commented on #25350
Is this currently in the nightly build?

[2019-03-14 00:21] jaingaurav commented on #25350
@zhangandyx: Yes please use the tfp-nightly pip package. @jvdillon might be able to comment more on the specific release plans.

[2019-03-14 00:46] hamidmaei commented on #26456
I actually found the solution! custom estimators are the way to implement this using model_fn as follows:

`def my_model_fn(features,labels, mode):
  batch_ids = features['ids']
  batch_values = features['values']
  batch_labels = labels
  logits= your_inference_function(batch_ids, batch_values)

  cross_entropy = tf.nn.sparse_softmax_cross_entropy_with_logits(

[2019-03-14 00:49] ymodak commented on #26593
Apparently you have installed TF-GPU version and it looks like you haven't added cuda path to your environment variable.
Please refer this [windows setup guide](https://www.tensorflow.org/install/gpu#windows_setup) to know more or else you can always try to install TF cpu version instead. Note that you need to install cuda 9.0 for TF 1.12 in order to use pre built TF-gpu binaries.

[2019-03-14 00:52] ymodak commented on #26623
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2019-03-14 00:52] #26623 closed

[2019-03-14 01:04] qqfish commented on #25724
I am not sure as well. It is part of a larger project that is still in its early stage. So please stay tuned.

[2019-03-14 01:07] ymodak commented on #26599
@jcrevoisier What version of TF are you using? Can you switch to TF 1.12 or TF 1.13.1?

[2019-03-14 01:11] ymodak commented on #26617
In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-03-14 01:29] murdockhou commented on #26665
![Selection_012](https://user-images.githubusercontent.com/18358653/54325147-ac586600-463b-11e9-9f22-7060a5acb656.png)
This is the full stack trace.

[2019-03-14 01:32] robieta commented on #26098
https://github.com/tensorflow/tensorflow/commit/46924b2f7bc4262b2c4b36841d393741113594ca should resolve this issue. (The optimizer classes will now check if any updates are symbolic and return a symbolic apply op if so.) That change should already have been picked up in the latest `tf-nightly` build. Feel free to reopen this issue if you encounter any issues.

(2) is going to be covered as part of

[2019-03-14 02:00] mostafaelhoushi commented on #26182
After installing CUDA 10 I have found `libcublas.so.10` under `/usr/lib/x86_64-linux-gnu/`.
So you need to add `/usr/lib/x86_64-linux-gnu/` to your library path by calling:
[code]

And also since TensorFlow is looking for  `libcublas.so.10.0` rather than `libcublas.so.10` (without the last .0) you need to create a symlink:
[code]

[2019-03-14 02:00] KaramAbuaisha commented on #26072
Is this the wrong place to ask about this problem?

[2019-03-14 02:03] ymodak commented on #26611
@shaolinkhoa The colab runs successfully against TF 1.10. However for TF versions later than 1.10 it has to be updated.
Please try to run against TF 1.10 as of now. Thanks!
cc @yashk2810

[2019-03-14 02:05] mostafaelhoushi commented on #26182
Please look at the instructions here after installing CUDA 10:
https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#environment-setup

[2019-03-14 02:08] lihao056 commented on #17852
it works! thank for you help!

[2019-03-14 02:37] jvdillon commented on #25350
We can cut a stable release after tf 1.14

On Wed, Mar 13, 2019, 5:22 PM Gaurav Jain <notifications@github.com> wrote:

[2019-03-14 02:55] yashk2810 commented on #26611
This version is not maintained anymore. Can you try running this one: https://github.com/tensorflow/docs/blob/master/site/en/r2/tutorials/generative/pix2pix.ipynb

[2019-03-14 02:57] cih9088 opened #26683 "TFRecordWriter.flush() do not seem to flush"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
OS Platform

[2019-03-14 02:59] freedomtan commented on #25688
@suneshp Yes, as @jdduke said you can take a look at label_image and minimal too. When TFLite was released in late 2017, I got so excited. Then it came to me that there are Android Apps, which uses Java API which uses JNI to call C++ APIs, but there were no working C++ API command line example, so I read TFLite source code and wrote the label_image for TFLite as an exercise and a tool for myself.

[2019-03-14 03:10] wangsiyu commented on #25806
For 1), I have some questions to ask.
1. For scaling down the loss, There must be another two conditions for taking it into effect.  a) To build loss function by using `tf.losses.softmax_cross_entropy` instead of `tf.nn.softmax_cross_entropy`. b) [`reduction](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/losses/losses_impl.py#L722)` params should be set to `MEAN` from

[2019-03-14 03:19] cj741 commented on #26386
Thanks ymodak,
I have a try~

[2019-03-14 03:22] suneshp commented on #25688
Thank you both. I will try and update the thread.

Sent from Yahoo Mail on Android

  On Wed, Mar 13, 2019 at 8:02 PM, freedomtan<notifications@github.com> wrote:
@suneshp Yes, as @jdduke said you can take a look at label_image and minimal too. When TFLite was released in late 2017, I got so excited. Then it came to me that there are Android Apps, which uses Java API which uses JNI to call C++ API

[2019-03-14 03:26] jvishnuvardhan commented on #26456
Thanks for posting solution also. I am closing the issue. Thanks!

[2019-03-14 03:26] #26456 closed

[2019-03-14 03:50] leemgs commented on #26467
@ymodak It seems that the tests are too slow when PRs are submitted.  Are the slow tests generated from the too many pull requests (PRs)?

[2019-03-14 04:54] Shrutihegde13 commented on #26649
Can I fix this?

[2019-03-14 05:08] girving opened #26684 "Repeatedly allocating a graph and summary writer leaks memory"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I have
- OS Pl

[2019-03-14 05:32] shaolinkhoa commented on #26611
thank you @ymodak and @yashk2810.
My problem now is choosing between tensorflow version 1.10 ,1.13.1 or 2.0-alpha.
+ Version 2.0-alpha is still unstable.
+ Version 1.13.1 is better than 1.10 , but as ymodak said: the tutorial on tensorflow website doesn't support version 1.13.1. And you guys don't have any plan to maintain all tutorials or guides.

So should I just use tensorflow 2.0-alpha and kee

[2019-03-14 05:55] haozha111 commented on #26668
I believe this is needed at least in this test:
https://github.com/tensorflow/tensorflow/blob/5b24fba0857394dab67359963726b3bcce071575/tensorflow/lite/tools/benchmark/benchmark_plus_flex_main.cc#L16

Basically, in flex mode, TF Lite will fall back to use TF ops, and that's the reason we need to include tensorflow core dependencies. Note that not all TF Lite benchmark tests need import core TF.

[2019-03-14 05:55] #26668 closed

[2019-03-14 06:19] Imtinan1996 commented on #26526
Hey @skye, let me elaborate, map_fn is not a part of the tower construction code. I used map_fn in a graph, that graph is then loaded into a graph_def, that is then used to create multiple towers. Anyways, I have simplified the code and compiled it into a notebook, I can upload the notebook if required, but here is the simplified code its outputs.

**What's going on, in the code**

- I create a sa

[2019-03-14 06:19] haozha111 commented on #26626
Traceback (most recent call last):
  File "test1.py", line 31, in <module>
    tflite_model = converter.convert()
  File "/usr/local/google/home/haoliang/tensorflow_venv/local/lib/python2.7/site-packages/tensorflow/lite/python/lite.py", line 455, in convert
    **converter_kwargs)
  File "/usr/local/google/home/haoliang/tensorflow_venv/local/lib/python2.7/site-packages/tensorflow/lite/python/conve

[2019-03-14 06:26] HuaDongShiFanLX commented on #24976
Hello. I get the same problem , the info like this:
0x00007fffddef3058 in tensorflow::kernel_factory::OpKernelRegistrar::InitInternal(tensorflow::KernelDef const*, absl::string_view, std::unique_ptr<tensorflow::kernel_factory::OpKernelFactory, std::default_delete<tensorflow::kernel_factory::OpKernelFactory> >) ()
   from /usr/local/lib/python3.5/dist-packages/tensorflow/python/../libtensorflow_fra

[2019-03-14 06:54] JitenderMaurya commented on #23187
Please explain.

[2019-03-14 06:58] ejonokuchi commented on #26626
Thanks for the update @haozha111. Do you know when these TF ops will be available in TF Lite?

[2019-03-14 07:32] zh794390558 opened #26685 "build from src for //tensorflow/python/keras/api:keras_python_api_gen_compat_v1 failed"
commit e7f508844eab13927f32abdb5d7f0eb4e91caee0
**System information**

== cat /etc/issue ===============================================
Linux luban-350 3.10.0-514.16.1.el7.x86_64 #1 SMP Wed Apr 12 15:04:24 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
VERSION="7 (Core)"
VERSION_ID="7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT_VERSION="7"

== are we in docker ==========================

[2019-03-14 07:42] liyinglr opened #26686 "When using tf.gradients in the forward pass, my codes stop at `compute_gradients`"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): binary (conda install)
- TensorFlow version (use command below): 1.9.0
- Python version: 3.5
- CUDA/cuDNN version: 390.25
- GPU model and memory: GTX1080, 11GB

### 1. What I d

[2019-03-14 07:47] meyerjo commented on #26608
@josh11b You are mentioned in a TODO above the problematic if statement. Can you check whether this is a valid fix?

[2019-03-14 07:47] #26685 closed

[2019-03-14 08:01] varun046 commented on #25576
"tensorflow/tensorflow/contrib/makefile/gen/protobuf/lib/libprotobuf.so.17 to /usr/local/lib and running sudo ldconfig"

Sorry to say, but this approach is also not working

[2019-03-14 08:12] galeone commented on #26658
I'm going to create a new issue

[2019-03-14 08:19] galeone opened #26687 "Iterate on dataset/iterator when using @tf.function"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Archlinux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190312
- Python version: 3.6
- CUDA/cuDNN version: 10
- GPU model and memory: 1080 Ti

**Describe the current behavior**

Can't convert the dataset/iterator to its graph representation: I'm forced to

[2019-03-14 08:25] peterhsu2018 opened #26688 "[TF2.0] Run sample of experts is not work on local"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
- OS Platfor

[2019-03-14 08:27] OsamaNaeem1995 opened #26689 "Installation issue with tensorflow : pywrap_tensorflow_internal"
**System information**
- Windows 10 64 bit
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (or github SHA if from source): tensorflow 1.12.0

[code]

I'm working on object detection in video, i've already installed the tensorflow packages, when i run the code it gives me an error stating

 **ModuleNotFoundError: No module named 'tensorflow.python._pywrap

[2019-03-14 08:47] cklsoft opened #26690 "the elapse time shown in timeline not match with count by hand"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-14 08:48] skku-dhkim opened #26691 "Collision with built in python "logging" module"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mac OS Mojave
- TensorFlow installed from (source or

[2019-03-14 08:51] ilous12 opened #26693 "remove SpaceToBatchND, Mul, BatchToSpaceND, Add Ops for tflite"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.12
- Are you willing to contribute it (Yes/No):NO

**Des

[2019-03-14 08:56] asimshankar commented on #26468
Unfortunately, dynamic library loading in Windows is not supported yet AFAIR.
I might be mis-remembering, but dynamically loading shared libraries doesn't work on Python on Windows either, right?

@allenlavoie @sjamesr @gunan  might have more details on this and might be able to explain what needs to happen to make this possible.

[2019-03-14 08:57] asimshankar commented on #18982
@kishorecs : You might want to outline the exact set of steps to reproduce the problem as suggested in https://github.com/tensorflow/tensorflow/issues/18982#issuecomment-385728771

[2019-03-14 09:26] huangjiasen100 commented on #4152
I deployed tensorflow with Anaconda. The directories are different with that listed above. Similarly, when I try to measure the bandwidth of some specific neural networks, such as alexnet, the .py of which locates in two directories, one is "xxx\Anaconda3\pkgs\tensorflow-base-1.13.1-eigen_py36hf8af7b3_0\Lib\site-packages\tensorflow\contrib\slim\python\slim\nets" and the other is "C:\Users\hygon\An

[2019-03-14 09:29] Akshunn commented on #6720
Why 8n+1 and not 8n?

[2019-03-14 09:51] wuyankun commented on #26391
I just switch to cuda 9.0 , the issues is gone, I don't know why, If I can use cuda 8.0 , will be more better

[2019-03-14 10:08] tpet commented on #26278
I am not sure, how upsampling
[code]
with interpolation would get you to
[code]
where there are values outside the source values.

[2019-03-14 10:24] clstl commented on #21772
Yep

[2019-03-14 10:35] yizhaoyanbo opened #26696 "tensorflow.lite.python.convert.ConverterError: TOCO failed. See console for info."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  No
- OS Platf

[2019-03-14 10:50] sunzhonghui commented on #1922
![tensorflow_log](https://user-images.githubusercontent.com/17609963/54351255-0f70e980-468a-11e9-8200-23ca0eff26d7.gif)

[2019-03-14 10:54] hdliuyi commented on #3834
Thank you! I get it!

[2019-03-14 11:25] kbhute-ibm commented on #26135
Hi @gunan,

With --runs_per_test=100 test cases still pass which shows tests are not flaky. We are raising PR for the same.

Thanks for your support.

[2019-03-14 11:47] saraswathykrk commented on #21526
Hi,

Is sigmoid function already included? As i am getting errors while trying to access the quantized values from the last sigmoid output layer. And even when it quantizes successfully, I am getting only one value - 0. Now i need to get a range of values from the output sigmoid layer. So do we have to exclude the sigmoid layer while performing the quantization?

Regards
Saraswathy.

[2019-03-14 11:48] RAGHURAM-SADINENI commented on #26348
Can you explain these statements??

[2019-03-14 11:52] saraswathykrk commented on #26206
I am also getting the below errors while trying to convert to tflite using the saved_model.

converter=tf.contrib.lite.TocoConverter.from_saved_model(saved_model_dir)
converter.post_training_quantize=True
tflite_quantized_model=converter.convert()
open(“quantized_model.tflite”, “wb”).write(tflite_quantized_model)

RuntimeError: MetaGraphDef associated with tags {'serve'} could not be found in Save

[2019-03-14 11:57] herbakamil opened #26697 "some tests in //tensorflow/lite/testing/ fail to build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
-  OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.1 LTS
- Mobile d

[2019-03-14 12:08] herbakamil commented on #26092
@jdduke do you have some suggestions what quick fix I can do so that I have working CI which can run tf lite tests? I've came to the command below which disables tests in tflite which don't work on the standard non-google environment (so that all tests pass) but bazel still fails because of the error mentioned above

bazel test --test_tag_filters=-no_oss,-gpu,-benchmark-test --test_lang_filters=cc

[2019-03-14 12:31] jvishnuvardhan commented on #25576
@varun046 Which TF version you have installed. If it is not TF1.12, then open a new issue for your environment and fill issue template accordingly. Thanks!

[2019-03-14 12:40] jvishnuvardhan commented on #26391
@wuyankun Please check tested build configurations [here](https://www.tensorflow.org/install/source_windows#gpu).
For TF1.12, it was built with cuda9.0 which means some of the dependencies will be looking for paths referencing cuda9.0.

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow_gpu-1.12.0 | 3.5-3.6 | MSVC 2015 update 3 | Bazel 0.15.0 |

[2019-03-14 12:54] tensorflowbutler commented on #24924
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-14 12:54] tensorflowbutler commented on #25804
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-14 12:54] tensorflowbutler commented on #26138
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-14 13:10] sathyamoorthyrr commented on #4638
I have been trying to replace one of the `tf.py_func`. Please refer [this](https://github.com/google/seq2seq/issues/354) for clear description of the problem.

I'm stuck on replacing tensor's values which is created as an Object and not a Variable.
Any workarounds possible for this case?

Similar Stack Overflow [Question](https://stackoverflow.com/questions/55158952/convert-tf-py-func-to-native-te

[2019-03-14 13:23] FedyuninV commented on #26620
@freedomtan I've checked my config and found out that my Samsung has Exynos onboard. That's why I checked this app on Sony Xperia XZ2 with Snapdragon 845 and got some improvement, but not even close to mentioned in the article (125 ms per run vs 102 ms). Updated info in PR message. Is it OK, or performance should be better?

[2019-03-14 13:26] durandg12 opened #26699 "sparse_cataegorical_accuracy buggued in Keras LSTM when return_sequences=True"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): not for the or

[2019-03-14 13:29] FedyuninV commented on #26620
@freedomtan May be there are some other conditions (for ex. targetSdkVersion or anything else) in project properties which could have a huge effect on performance?

[2019-03-14 13:32] kpe opened #26700 "keras: Enabling eager mode breaks weights setting per kwargs in Layer constructors"
Enabling eager mode breaks the ability to specify layer weights in the constructor.

For example passing all-zeros weights to a dense layer results in all zero outputs (for `use_bias=False`).
This is however not the case if eager mode is enabled, as the zero weights are not set; it seems to be known (see TODO by @fchollet), but I can't see why `set_weights` should not be called in non-eager mode:

[2019-03-14 13:51] kariya2 commented on #22550
Have this issue in 1.12.0.. Any tips on how to get around this?

[2019-03-14 14:24] vbardiovskyg commented on #26602
I am not actually sure that this is a misbehavior of getfullargspec.

Currently we are using ArgSpec to be able to bind arguments to (partial or normal) function later. We want to represent partial function fully with ArgSpec, but this is not possible with Python2.x: it is not possible to have arguments with defaults before arguments without defaults.

I would consider this more an integration iss

[2019-03-14 14:26] xingjinglu commented on #24101
@dveselov It does work with tf 1.12.0 when upgrade bazel to 0.21.0

[2019-03-14 14:29] Randl commented on #24146
I think it can be considered a feature request.

[2019-03-14 14:40] guillaumekln opened #26703 "[2.0] Combining metrics places updates on the wrong graph"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: `2.0.0.dev20190311`
- Python version: 3.6.6
- CUDA/cuDNN version: 10.0

**Describe the current behavior**

I wanted to define a custom metric that is the combination of 2 metrics:

[code]

But when run in graph mode, the `updates` operation

[2019-03-14 14:41] #26624 closed

[2019-03-14 15:10] DeepBlender commented on #6720
I wanted to experiment with the new resizing and discovered to my surprise that it is not (anymore?) differentiable. Is this a bug I should report or is this by design?

[2019-03-14 15:12] haozha111 commented on #26626
We are actively working on adding more built-in ops and support more flex ops. Currently I'm looking into supporting Hashtable ops in flex. But it should take a while (at least 1-2 months). You can always implement those custom ops if not too hard. Thank you.

[2019-03-14 15:12] #26626 closed

[2019-03-14 15:20] dpfau commented on #15465
Because the Pade approximant is implemented with differentiable tensorflow
ops, the op itself is differentiable. Gradients should work normally as
with any other op.

On Thu, Mar 14, 2019 at 12:07 AM Shaowu Pan <notifications@github.com>
wrote:

[2019-03-14 15:23] martinwicke commented on #6720
Yeah, that is a bug that deserves reporting. Thank you!

[2019-03-14 15:30] alextp commented on #26602
I think we should do the latter and forget about the inner partial.

Or we should not rely on argspec for this at all and instead look at the
arguments as they're presented at calling time (which I much prefer).

On Thu, Mar 14, 2019 at 7:30 AM Vojtech Bardiovsky <notifications@github.com>
wrote:

--
 - Alex

[2019-03-14 15:37] pswpswpsw commented on #15465
Hi dpfau,

Thank you for your reply. However, I was trying to directly modify the v1.8.0 version of tensorflow in order to have this op working. I do this because I have another package that only compatible to 1.8.0 of tensorflow which makes the life pain.

I tried directly copying and paste the *commit* you submitted, however, it still says " no gradient found for MatrixExponential type". Could y

[2019-03-14 15:57] girving commented on #26684
Forgot that I was using a slightly messy TensorFlow tree.  I've reconfirmed that the bug persists at https://github.com/tensorflow/tensorflow/pull/26705, which is 5b24fba0857394dab67359963726b3bcce071575 plus a one line header include addition to make it build on my machine.

[2019-03-14 15:58] mat100payette commented on #26094
Any update on the question ? Not sure what that status means

[2019-03-14 16:02] lzhengchun commented on #22012
this does not seem to work

[2019-03-14 16:04] ppwwyyxx commented on #26278
It was not outside the source values because the source is the 5x5 image.

[2019-03-14 16:07] jvishnuvardhan commented on #26138
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-03-14 16:07] #26138 closed

[2019-03-14 16:08] lzhengchun commented on #22012
+1

after setting  `dis_model.trainable = True`, ` dis_model._collected_trainable_weights`, and `dis_model.trainable_weights` match but it still gives warning, puzzling.

[2019-03-14 16:30] alextp commented on #26665
Thanks! This seems to be an issue with the line

[code]

which calls the initializer. For some reason this is calling the v2 tf.keras initializers instead of the compat.v1 initializers. I think this is a bug in the rename script.

@pavithrasv can you revert the change in the rename script to rename tf v1 initializers to tf v2 initializers since they're not compatible?

A workaround here is to repl

[2019-03-14 16:37] jvishnuvardhan commented on #24924
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-14 16:37] #24924 closed

[2019-03-14 16:39] jvishnuvardhan commented on #25804
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-14 16:39] #25804 closed

[2019-03-14 16:43] tpet commented on #26278
Ah, thanks, I thought the crop happens before resize.

[2019-03-14 16:44] TahaK opened #26707 "[TF2.0] Sequential API serialization bug"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
docker image from tensorflow/tensorflow:2.0.0a0-gpu-jupyter
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
binary
- Tens

[2019-03-14 16:46] ttdd11 commented on #5379
@knighthappy were you able to resolve the SetDefaultDevice issue?

[2019-03-14 16:48] RobinHSanner opened #26708 "Attempting to convert model from basic_classification dataset to TFLite"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- OS Platform: Windows 10 x64
- Tensorflow installed from: tf-nightly-2.0-preview
- TensorFlow v

[2019-03-14 16:53] kariya2 opened #26709 "Mirrored Strategy example code erroring out"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
rhel 7.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below): 1.12.0
- Python versio

[2019-03-14 16:58] kariya2 commented on #26709
Tried changing the distribution strategy to be, as suggested in one of the comments on https://github.com/tensorflow/tensorflow/issues/22550

[code]

Error output now changes to

[code]

[2019-03-14 17:05] gunan commented on #26468
@meteorcloudy as he helped us a lot with shared objects on windows.
I think we finally had custom ops working on windows. Were they using loadLibrary?

[2019-03-14 17:17] qlzh727 commented on #26642
Adding @protoget who previously worked on cudnn kernels.

[2019-03-14 17:21] giogit commented on #25954
I had the same problem and, in my case, it depends on how I run docker:
- if I run it indicating the user, then there is a very long delay before training starts
- if I run it without indicating the user, then the delay before training happens only at the first launch, while it starts immediately in the subsequent launches

**Slow**
If i run the container indicating the user:
`docker run -u $(id -

[2019-03-14 17:22] gargn commented on #26708
Can you provide the following so that I can reproduce the errors you are getting and suggest the next steps you should take:

1. Your 2.0 model file that you generated from the basic_classification dataset that you are trying to convert
2. Your conversion code
3. The exact error message that you are getting

Late yesterday, I added a short section to the `python_api.md`[https://github.com/tensorfl

[2019-03-14 17:34] knaydenov commented on #26502
https://stackoverflow.com/a/47306203/6108843

[2019-03-14 17:36] jvishnuvardhan commented on #16872
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken. Thanks!

[2019-03-14 17:36] #16872 closed

[2019-03-14 17:47] jvishnuvardhan commented on #22158
I think it was resolved. I am closing the issue. If you think I made a mistake, please open another issue. Please open a new ticket if you see similar issue again with new version of TF. Thanks!

[2019-03-14 17:47] #22158 closed

[2019-03-14 17:55] jaingaurav commented on #26502
Not very familiar with how these modules work. @annarev would you know what's up?

[2019-03-14 18:08] jvishnuvardhan commented on #26597
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-14 18:08] #26597 closed

[2019-03-14 18:13] tafsiri commented on #26649
@Shrutihegde13 Thanks for the offer to help! It looks like we already have a PR pending that fixes this so i'll look into getting that merged.

[2019-03-14 18:13] jvishnuvardhan commented on #26598
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-14 18:13] #26598 closed

[2019-03-14 18:17] sbhola commented on #20954
I came across this same issue today, can anyone suggest what's the workaround @solarbear123 @bignamehyp. Thanks.

[2019-03-14 18:19] frreiss commented on #11370
@petewarden I see this issue was closed without a fix being added to the Graph Transform Tool. Would you be interested in a PR that adds depthwise convolution support to the C++ implementations of the `fold_batch_norms` and `fold_old_batch_norms` rewrites?

I've already implemented depthwise convolution support in my own Python version of `fold_*_batch_norms`; code is [here](https://github.com/COD

[2019-03-14 18:19] gunan commented on #26616
I do not have cycles to get to this quickly, but I am happy to review a PR.

@meteorcloudy recently bumped our max bazel version requirement to 0.23.2, I thought we had TF tested with that bazel version. Looks like without this change TF wont build with bazel 0.23.2. Yun, should we revert the max bazel version in TF?

[2019-03-14 18:19] jvishnuvardhan commented on #26601
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-14 18:19] #26601 closed

[2019-03-14 18:22] ttdd11 commented on #16291
@dshawul Did you figure out how to assign graph to specific gpu?

[2019-03-14 18:25] jvishnuvardhan commented on #26606
@Aliennandy Could you check this with latest version of TF and let us know whether the bug persists with latest TF. Could you share a code to reproduce the bug? Thanks!

[2019-03-14 18:26] pavithrasv commented on #26665
Thank you Alex. We do not rename v1 initializers to v2. The issue is because we do not rename v1 initializers to compat.V1, because of this users starts seeing the V2 version.

https://github.com/tensorflow/tensorflow/blob/75eca85ab68d984ee905978483fa4d871fd92660/tensorflow/tools/compatibility/tf_upgrade_v2.py#L781

I will add this renaming for all the initializers.

[2019-03-14 18:27] jvishnuvardhan commented on #26605
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-14 18:27] #26605 closed

[2019-03-14 18:33] ppwwyyxx commented on #26686
As I have commented in the [original issue](https://github.com/tensorpack/tensorpack/issues/1103#issuecomment-472099735), please try to provide enough information (code, instructions) so that others can __reproduce__ your issues.
Otherwise it's unlikely your issues can be timely diagnosed. See also https://stackoverflow.com/help/mcve

[2019-03-14 18:33] roymiles commented on #25729
Sorry for the late reply. Turns out there were some incompatible versions with some dependencies. This is not a bug in the TF codebase.

[2019-03-14 18:40] mogeid commented on #26699
I think the problem is somewhere else. If you import keras.metrics.sparse_caategorical_accuracy, you get the same error. Oddly enough, if you literally copy the code for keras.metrics.sparse_categorical_accuracy and put it in your own project, it will run fine. So it seems to me the problem happens when the model is compiled.

[2019-03-14 18:45] sinsinan commented on #18839
Ubuntu 18.04
tf 1.2
CUDA 10.1
cuDNN 7.5

[2019-03-14 18:50] i7p9h9 commented on #22109
Still reproduces with permute layer.

[2019-03-14 18:52] durandg12 commented on #26699
In tf 1.13.1 there is indeed something odd happening at model compilation, because of the value `3` returned by `ndim_y_true`.

Please detail your answer with the version of tf and of keras you used.

[2019-03-14 18:58] tafsiri commented on #26649
Fix has been submitted. Will update once its been deployed.

[2019-03-14 19:46] jdduke commented on #26092
Does excluding //tensorflow/lite/java/... work?

[2019-03-14 19:57] qlzh727 commented on #26331
Adding @protoget who previously worked on cudnn kernels.

[2019-03-14 20:02] RobinHSanner commented on #26708
[saved.zip](https://github.com/tensorflow/tensorflow/files/2968142/saved.zip)
First I was just trying to save and load the regular Tensorflow 2.0 model in saved model format but ran into problems with that.
To save this model I followed the directions in https://www.tensorflow.org/alpha/tutorials/keras/basic_classification and then used the Python command:

which created a model in the format 'Ten

[2019-03-14 20:05] RobinHSanner commented on #26708
I eventually used:

and received the error:
ValueError: Unsupported tf.dtype <dtype: 'float64'>

[2019-03-14 20:10] HanGuo97 opened #26711 "Numpy operation on List of Tensor is considerably slow."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-14 20:22] desprit commented on #22292
Python3.6 offers many cool features, it would be great to have it by default instead of 3.5.

[2019-03-14 20:34] haozha111 commented on #22109
Which TF lite source code are you using? Could you download the latest source code?

[2019-03-14 20:40] i7p9h9 commented on #22109
Can i use nightly build?

[2019-03-14 21:07] ymodak commented on #26633
I believe this is a feature request. Can you elaborate more by providing following information asked by the template? Thanks

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state.**

**Will this change the current api? How?**

**Who will benefit with this feature?**

**Any Other info.**

[2019-03-14 21:11] byronyi commented on #26709
Could you try tf-nightly and see if the issue remains? Thanks!

[2019-03-14 21:11] xilenteyex opened #26713 "Large Variation in Compute Times"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-14 21:12] AzureByte commented on #22512
I had a fresh install of tensorflow-gpu and all the other latest NVIDIA requirements. Only had to downgrade CUDA to 10.0 from 10.1 for it to work.

[2019-03-14 21:12] ymodak commented on #26636
This issue is more suitable keras repo since keras.datasets is maintained by keras team. Please post it on [keras github repo](https://github.com/keras-team/keras/issues). Thanks!

[2019-03-14 21:12] #26636 closed

[2019-03-14 21:12] imarkiew opened #26714 "Error when using the class_weight parameter in the fit function in tensorflow.python.keras"
- OS Platform and Distribution: Linux Ubuntu 16.04
- TensorFlow version: 1.13.1
- Python version: 3.6

I wanted to test my network on a small set of records with two imbalanced classes (0 and 1). I was going to use the _class_weight_ parameter in the _fit_ function to improve the balance, but unfortunately there were problems probably associated with tensor support. Without the _class_weight_ para

[2019-03-14 21:15] jclevesque commented on #26145
I am in the same situation. I want a functional API, is that going away for good?

[2019-03-14 21:19] SimSimY opened #26715 "Docker latest images are using tf 2.0.0a0"
**System information**
- Have I written custom code: **No**
- OS Platform and Distribution: **Linux Ubuntu 16.04**
- TensorFlow installed from: **binary**
- TensorFlow version (use command below): **2.0.0a0** (script is however broken, see below)
- Python version: 2.7.12 / 3.5.2
- CUDA/cuDNN version: **any**
- GPU model and memory: **any**

While this is not the issue itself, its worth mentioning

[2019-03-14 21:22] jvishnuvardhan commented on #26679
@ZunDubCore Did you install python through Anaconda? Did you check whether the CUDA and cuDNN are referenced correctly. Could you check the [instructions](https://github.com/jvishnuvardhan/Installing-TensorFlow-GPU-on-Windows-10-TF1.12) to verify whether the CUDA paths are referenced correctly. Thanks!

[2019-03-14 21:26] ymodak commented on #26688
You need to install tensorflow datasets separately. Can you try this before importing?
```pip install tensorflow-datasets```

[2019-03-14 21:38] haozha111 commented on #22109
Sure, you can use the nightly build to verify if this fixes for you.

[2019-03-14 21:52] jvishnuvardhan commented on #26607
@LeighSu Could you fill issue [template](https://github.com/tensorflow/tensorflow/issues/new?template=00-bug-performance-issue.md) and if possible, please provide a code to reproduce the bug? Thanks!

[2019-03-14 21:54] jvishnuvardhan commented on #26657
@AnandAron Could you provide a code to reproduce the bug? Thanks!

[2019-03-14 22:00] johnpjf commented on #6720
@DeepBlender There certainly should be gradients, thanks for the catch! Looks like I had forgotten to expose gradients for the new kernels (Lanczos etc.).  Fix is in review.
Note that, as in TF 1.0, there is no gradient for the area kernel.

[2019-03-14 22:11] Nitinsiwach opened #26716 "cannot use a placeholder dependent tensor as a initializer in get_variable"
How does one go about creating variables with placeholders dependent tensors as initializers? The following graph breaks down with:

    InvalidArgumentError: You must feed a value for placeholder 'Placeholder_1' with dtype float
    	 [[node Placeholder_1 (defined at <ipython-input-10-b8d54264dc85>:3)  = Placeholder[dtype=DT_FLOAT, shape=[], _device="/job:localhost/replica:0/task:0/device:CPU:0"]

[2019-03-14 22:25] jvishnuvardhan commented on #26677
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-03-14 22:27] ymodak commented on #26689
Are you trying to install TF-GPU version? Also what is your cpu model/make in your system?

[2019-03-14 22:31] seanpmorgan commented on #24410
@ahatamiz Ah, thats a bit of a problem. Addons is only scoped to be TF 2.x+ and it'll take a lot of convincing to get us to reconsider that. You can however make it work on your own fork of the repo by altering this line:
https://github.com/tensorflow/addons/blob/master/tensorflow_addons/__init__.py#L54

[2019-03-14 22:45] jvishnuvardhan commented on #26693
@ilous12 Could you explain your issue with more details? Thanks!

[2019-03-14 22:51] ymodak commented on #26696
Did you try using [TFLITE_BUILTINS, SELECT_TF_OPS](https://www.tensorflow.org/lite/guide/ops_select) to convert your model? Thanks!

[2019-03-14 22:53] jvishnuvardhan commented on #26690
@cklsoft I think you can write time for each iteration into a file and check mean, standard deviation, etc. I think it is possible that FULL TRACE will cost couple of ms.

Please post this kind of support questions in Stackoverflow. There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-14 22:53] #26690 closed

[2019-03-14 23:11] michaelmart77 opened #26719 "how to use the saved model after trained to detect new pictures"
Hi all,
this might be repeated question.
I trained classifier on cats, dogs. and saved the model. Now I want to use the saved trained model to detect new pictures. How to do this? Is there a code for this?

Thanx

[2019-03-14 23:14] karimnosseir commented on #25931
Hi PK15946

A fix was submitted earlier today. Can you try from master branch or nightly (after it includes the latest change) and let me know if you are still having problem.

I am going to close this bug now. Feel free to create new issue if you still facing problems and assign it to me.

Thanks

[2019-03-14 23:14] #25931 closed

[2019-03-14 23:19] vrv commented on #26691
Adding @caisq who I think might have more familiarity with this code (I haven't really touched the logger code myself).

[2019-03-14 23:35] mingyr commented on #26307
I already post on stackoverflow but got no answer there. I would think it is a bug, I would guess potentially there is a different encoding representation of python interpreter which is distinguished from source code encoding.

Kindly suggest you try the problem because it is quite easy to re-produce but not that easy to fix.

[2019-03-14 23:38] yongwww commented on #26455
@skye  thanks!

[2019-03-14 23:40] #26665 closed

[2019-03-14 23:46] DeepBlender commented on #6720
@johnpjf that sounds great, thanks a lot for your work!
I just started to prepare the bug report, but you were obviously faster.

[2019-03-14 23:47] mingyr opened #26721 "Inconsistent encoding leads to AttributeError (reopen)"
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): N/A
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Red Hat 7.5
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
TensorFlow installed from (source or binary): compiled from source
TensorFlow version (use command below): r13.1
P

[2019-03-14 23:49] mingyr commented on #26721
The link to stack overflow:
https://stackoverflow.com/questions/54939480/attribute-error-when-running-a-code-snippet-when-using-tensorflow

[2019-03-14 23:53] jvishnuvardhan commented on #26648
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-14 23:53] #26648 closed

[2019-03-15 00:29] kwokkawinghk commented on #18769
Problem still exist when I restore a 18GB model.

My OS is Windows Server 2016
Tensorflow 1.13.0 installed from pip
512GB memory and hard disk
Only run on CPU.
CUDA 3.6.8

Please advise.

[2019-03-15 00:50] peyifyp commented on #26634
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
   Pro 64-bit (10.0, biuld 17134)
   - TensorFlow installed from (source or binary): from source
   - TensorFlow version: 1.13.1
   - Python version:  python 3.6
   - Installed using virtualenv? pip? conda?: conda
   - CUDA/cuDNN version: CUDA:9.0 / cuDNN: v9
   - GPU model and memory:    memory:8192MB RAM

On Thu, Mar 14, 2019

[2019-03-15 00:54] skye commented on #26526
Awesome, thank you for compiling this into a single repro script! I am able to reproduce the error, and will keep you updated.

[2019-03-15 01:12] freedomtan commented on #26620
@FedyuninV I don't have either Snapdragon 845 or Samsung S9 phones. I did find an newly released Xiaomi Mi 9, a 855 phone, to run [my little program](https://github.com/freedomtan/glDelegateBench/blob/master/README.md).

|model name|CPU 1 thread (ms)|CPU 4 threads (ms) |GPU (ms)|
|----------|------------:|-------------:|---:|
|Mobilenet | 39 | 35 | 15 |
|PoseNet   | 48 | 47 | 19 |
|DeepLab V3| 61

[2019-03-15 01:13] ymodak commented on #26634
Thanks for providing the info. Did you add cuda to your path?
Take a look at this [windows setup guide for gpu support](https://www.tensorflow.org/install/gpu#windows_setup) if haven't already.
You need to add sub folders: ```bin``` , ```include``` and ```lib`` to the path. Can you please try adding them as well?

[2019-03-15 01:16] OsamaNaeem1995 commented on #26689
No I simply installed the basic version. I.e pip install tensorflow. Cpu
version is
Lenovo G40 - 80E400GTU S  5th Generation Intel Core i3-5005U 8 gb ram
n Fri, Mar 15, 2019, 3:30 AM ymodak <notifications@github.com> wrote:

[2019-03-15 01:21] peyifyp commented on #26634
yes i have add cuda in my path. The attachment is my added path.

On Fri, Mar 15, 2019 at 9:16 AM ymodak <notifications@github.com> wrote:

[2019-03-15 01:41] ilous12 commented on #26693
hi @jvishnuvardhan

I uploaded Visualized image for models. Network nodes are different and I painted a circle on our tflite network. What should I do to configure like google's deeplabv3_257_mv_gpu?

**google's deeplabv3_257_mv_gpu**
![deeplabv3_257_mv_gpu](https://user-images.githubusercontent.com/3174693/54402090-180b0380-470e-11e9-91a2-fa41f5f130a9.png)

**our converted tflite model** Problem

[2019-03-15 01:53] murdockhou commented on #26665
Thanks all, fixed this by using `tf.compat.v1.keras` replace` tf.keras.`

[2019-03-15 02:23] yizhaoyanbo commented on #26696
@ymodak  I have tried using  TFLITE_BUILTINS, SELECT_TF_OPS  options. But the same error occurs.

    input_arrays = ["image"]
    output_arrays = ["Add"]
    converter = tf.lite.TFLiteConverter.from_frozen_graph(pbPath, input_arrays, output_arrays)
    converter.target_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,tf.lite.OpsSet.SELECT_TF_OPS]
    tflite_model = converter.convert()
    open(tflitePath, "

[2019-03-15 02:27] liyinglr commented on #26686
@ppwwyyxx I think maybe caused by tf.concat. I try use the convolution before concat as a parameter of tf.gradients , the graph can be created.

[2019-03-15 02:48] wangwenjing commented on #25781
@jdduke  hi, I mean static library.  there is no size impact on actual iOS app if I only drag the libtensorflow-lite.a into my Xcode project without using it. How can I quick test the size impact as all iOS examples using downloaded .framework ?   when the "selective registration" happens , who trigger it and how does it work?  which option you mean when you say "controlled by your build options",

[2019-03-15 02:49] PangHua opened #26725 "BaseCollectiveExecutor::StartAbort Invalid argument: Upper bound check fail is reported with CollectiveAllReduceStrategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-15 03:22] peterhsu2018 commented on #26688
Hi, ymodak
this is work, thanks a lot
But i run this code to watch log by tensorboard, tf1.13 is work, but tf2.0 alpha throw the traceback:
[code]

code:
[code]

[2019-03-15 03:44] ymodak commented on #26688
Glad it worked. The new code snippet you provided looks incomplete. Also since this is a different issue can you please post it separately and we track it there. Make sure you provide all the information asked by the template in addition to your complete code snippet. Thanks!

[2019-03-15 03:44] #26688 closed

[2019-03-15 03:45] ymodak commented on #25181
It would be great if you could help us by working on this and submitting a PR. Let us know if you need further clarification. Thanks!

[2019-03-15 03:51] jmugan commented on #24847
I have the same issue. The solution from @liupeng89 does not help. I still get the same error.

[2019-03-15 03:55] lyuchuny3 opened #26726 "densetnet.pb not correct result"
Hi,
I download to model from https://storage.googleapis.com/download.tensorflow.org/models/tflite/model_zoo/upload_20180427/densenet_2018_04_27.tgz
There are:
* densenet.pb
* label.txt
* readme.md (said that densenet.pb use vgg_preprocess)
inside `densenet_2018_04_27`:

 I try one random picture `bike.jpg`, the result top1 is `828`. However, the 828-th category in `label.txt` is not something like

[2019-03-15 04:02] Gurpreetsingh9465 commented on #26353
This Issue Looks Interesting. Anyone working on this issue? Would love to work on this.😄

[2019-03-15 04:04] Naminwang commented on #26174
When the code can be merge to the master branch?

[2019-03-15 04:13] arcbbb opened #26727 "[Feature] Support RISCV with tfcompile --target_tuple"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.13.0
- Are you willing to contribute it (Yes/No): Yes

*

[2019-03-15 04:18] mikeza commented on #26353
I have been busier than I imagined, so I've just done some research and haven't started working on it. If the people above that are interested want to start outlining what such a tool would look like I'm happy to collaborate on a solution. Alternatively, I won't be offended if someone just does the whole thing. I'll continue to post as I make progress.

[2019-03-15 04:54] Near-Tam commented on #26716
It doesn't need "sess.run(tf.global_variables_initializer())" because you has already initialize b as d, just run "print(sess.run(c, feed_dict={a:5.,d:10.}))" is ok.

[2019-03-15 04:54] Near-Tam commented on #26716
tf.reset_default_graph()
a = tf.placeholder(dtype=tf.float32,shape=())
d = tf.placeholder(dtype=tf.float32,shape=())
b = tf.get_variable(name='b',initializer=d)
c=a+d
with tf.Session() as sess:
    # sess.run(tf.global_variables_initializer())
    print(sess.run(c, feed_dict={a:5.,d:10.}))

[2019-03-15 05:33] ilous12 commented on #26693
please let me know if you know to exclude operations.

[2019-03-15 05:41] kitmonisit opened #26728 "libc.so.6 : GLIBC_2.14 not found. Instruct Tensorflow to look for glibc in custom path."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL6
- Mobile device (e.g. iP

[2019-03-15 05:46] yufengg commented on #26178
Summarizing what the stackoverflow content covers:
It looks like what's happening here is that `model_to_estimator` is writing the model to a sub-folder called keras. So when you choose "./model_estimator" as your model folder, it actually puts the files in `"./model_estimator/keras"`. But it's not reflecting that in the model_dir attribute, which remains as `"./model_estimator"`.

Not sure what t

[2019-03-15 06:11] JitenderMaurya commented on #18731
initially i was getting this error " Check failed: IsConstantParameterArray(*model, bn_op->inputs[1]) && IsConstantParameterArray(*model, bn_op->inputs[2]) && IsConstantParameterArray(*model, bn_op->inputs[3]) Batch normalization resolution requires that mean, multiplier and offset arrays be constant." then i changed is_training = tf.placeholder_with_default(False, shape=(), name = "batchnormswitc

[2019-03-15 06:13] zhjunqin commented on #21305
We met same issue in TF 1.12 like above described.

set max_step in TrainSepc to 126800

[code]
Then after 126800 steps, the whole training stop, but `chief` still not exit
[code]

We test same code in TF 1.7 and TF 1.8, chief can exit as expect, but in TF 1.10 and TF 1.12, chief didn't exit even max_step reached.

[2019-03-15 06:19] gy12346123 commented on #23201
Update CMake to the latest version can fix this problem.

[2019-03-15 06:19] yufengg commented on #26178
it appears the 'keras' subdirectory is being added [here](https://github.com/tensorflow/estimator/blob/master/tensorflow_estimator/python/estimator/keras.py#L313), during "warm start". I'm not quite sure of its purpose, but I suspect the intent here was originally for the conversions to be for "untrained" keras models, and for training of the converted estimators to be done using `estimator_model.

[2019-03-15 07:01] sunzhe09 opened #26730 "tflite GPU only support one batch input?if not,how can I set my mult-dim inputs like [16,256,256,3]"
here is my log in java:
java.lang.IllegalArgumentException: Internal error: Failed to apply delegate: GpuDelegate Prepare: First dimension is supposed to be BATCH and always equal to 1.Node number 19 (GpuDelegate) failed to prepare.

[2019-03-15 07:04] zhjunqin commented on #21305
We just tested TF 1.13 and found that chief can exit after max_step reached.

[2019-03-15 07:09] byronyi commented on #21305
It is expected that the cluster resource manager would terminate PS. It could be a programmable framework like Apache Yarn or Kubernetes, or some scripts that kills PS after worker exits, or even a personnel who just does the job manually.

[2019-03-15 07:32] Nitinsiwach commented on #26716
What if i want to run `tf.global_variables_initializer()`?

[code]

[2019-03-15 07:59] weihChen opened #26731 "Error building Tensorflow Lite on AARCH64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): N/A
- TensorFlow version: the latest
- Python version: N/A
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if compiling from source):  gcc version 5.4.0 20160609
- CUDA/cuDNN vers

[2019-03-15 08:19] facaiy commented on #25946
@qlzh727 Are you a good person to look at this?

[2019-03-15 08:22] juhgio commented on #23384
This issue is still relevant. In the documentation there is no mention of the usage of function get_tensor() begin only applicable to input and output tensors of a given model. Please add this to the documentation, deprecate the function or make it possible to initialize the engine so that it creates unique memory locations for each tensor so that it is possible to use this "feature" for other ten

[2019-03-15 08:51] peterhsu2018 opened #26732 "[TF2.0] Error from Tensorboard with keras callback"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
- OS Platfor

[2019-03-15 08:58] StephenLouis opened #26733 "Expected to see 2 array(s), but instead got the following list of 1 arrays"
I want to create a model that receive one image and compute the image by two Softmax(two output). The code is:

-------------------------------------------------
`base_model = InceptionV3(include_top=False)`
`x = base_model.output`
`x = GlobalAveragePooling2D()(x)`

# first Softmax
`x_1 = Dense(1024, activation='relu')(x)`
`predictions_1 = Dense(4, activation='softmax')(x_1)`

# second Softmax
`x_

[2019-03-15 09:25] marinone94 commented on #19731
I have solved it by running the session in a separate Thread. When the session is completed, the memory used by such process is released, when the process is killed.  Remember to save your session results on disk in the same method.

[2019-03-15 09:38] DHOFM commented on #26214
two weeks ago, I opened this thread, now I have new results:
i reinvented the code and got my training working on TPUs. For this I used a CNN. The CNN trains on TPU without any problem. Changing only the model to mobile net from tf.keras: `from tensorflow.keras.applications import MobileNet` brings us back the error.

![cnn_model_plot](https://user-images.githubusercontent.com/27775323/54422150-1e

[2019-03-15 10:04] meteorcloudy commented on #26616
@gunan, TensorFlow does build with Bazel 0.23.2, this is tested on Bazel CI.
https://buildkite.com/bazel/tensorflow/builds/2384

@brandjon is reporting a breaking change in future Bazel version. This breaking change can be enabled in 0.23.2 with `--incompatible_remove_old_python_version_api` so that you can test.

As the incompatibility comes from a dependency, TF can just upgrade `@absl_py` when

[2019-03-15 10:09] guillaumekln opened #26735 "[2.0] tf.numpy_function logs deprecation warning"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: `2.0.0.dev20190311`
- Python version: 3.6.6
- CUDA/cuDNN version: 10.0

**Describe the current behavior**

When using `tf.numpy_function`, a warning is logged about `tf.py_func` being deprecated.

**Describe the expected behavior**

As a V2

[2019-03-15 10:18] meteorcloudy commented on #26468
Dynamically loading shared libraries works in Python on Windows, but I never tired using Java API so it might still be not supported.

[2019-03-15 10:24] herbakamil commented on #26092
@jdduke It works. Thank you very much for your help :)

It's good that [documentation](https://www.tensorflow.org/install/source) has been updated because even quite recently it was claiming that tests should work properly without any exclusions.

Anyway it's a bit annoying that the big open-source project doesn't have all tests running in the official docker image and when somebody wants to devel

[2019-03-15 10:35] stakemura opened #26736 "tflite's TRANSPOSE_CONV is much slower than tfmobile ..."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platfo

[2019-03-15 10:49] stakemura commented on #21787
As for TRANSPOSE_CONV ops, TFLite is still much slower than TFMobile unfortunately.
Would you like to check my benchmark report #26736 ?

[2019-03-15 11:10] wuciawe commented on #21305
I thought distributed tf was/would itself be that kind of framework, similar to that spark/flink can recover from failure and terminate after job finished in standalone mode without the help of YARN/K8S.

PS Do the job manually is not expected for production usage.

[2019-03-15 11:15] priyakansal commented on #26182
hi all,

I am facilng the same issue, but my problem is little different, i am able to install and import tensorflow-gpu on my local machine as well as when building the docker container, everything is working fine. but when I am building my docker image from Dockerfile and docker-compose-up...build, i am getting this error.
Please help me out, I really dont know why this is happening in the build

[2019-03-15 11:21] foxik opened #26738 "TF 2.0 Keras model utilizing another model with metrics cannot fit/evaluate in graph mode (mistakenly using the metrics of the inner model)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian Stable**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use

[2019-03-15 11:22] ngc92 opened #26739 "[doc] use links in deprecation notice"
Many deprecated functions currently contain a notice such as
[code]
It would be really nice if the suggested replacement would actually link to the corresponding documentation.

[2019-03-15 11:22] nongcunshaoye opened #26740 "run bidirectional_sequence_lstm_test.py error"
clone code from git and cd tensorflow/tensorflow/lite/experimental/examples/lstm dir
run python bidirectional_sequence_lstm_test.py get errors:

Traceback (most recent call last):
  File "bidirectional_sequence_lstm_test.py", line 23, in <module>
    from tensorflow.lite.experimental.examples.lstm.rnn import bidirectional_dynamic_rnn
ImportError: No module named lite.experimental.examples.lstm.rnn

[2019-03-15 11:38] foxik commented on #26738
The name conflict is further supported by the fact that naming the metric in the `outer_model` differently, as in
[code]
also makes `outer_model.{evaluate/fit}` work.

[2019-03-15 12:04] knaydenov commented on #26502
https://intellij-support.jetbrains.com/hc/en-us/community/posts/360002486739/comments/360000407199

[2019-03-15 12:09] YoussefShoeb commented on #26208
Yes

[2019-03-15 12:17] peyifyp commented on #26634
shall i need the NVIDIA package launcher for my cudnna and cuda? if need
may i know the  Product Series,  Product Type and  Product suitable for my
laptop? i have try to download the driver but it cannot work. thanks

On Fri, Mar 15, 2019 at 9:20 AM yen peiyi <peiyiyen1996@gmail.com> wrote:

[2019-03-15 12:21] smitshilu commented on #22594
@nimning You can always build from source. If you don't want to do that then unfortunately you have to install older versions

[2019-03-15 12:53] tensorflowbutler commented on #21081
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-15 12:54] tensorflowbutler commented on #26166
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-15 12:54] tensorflowbutler commented on #26171
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-15 12:54] tensorflowbutler commented on #26225
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-15 13:08] jvishnuvardhan commented on #26166
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-15 13:08] #26166 closed

[2019-03-15 13:08] jvishnuvardhan commented on #26171
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-15 13:08] #26171 closed

[2019-03-15 13:12] jvishnuvardhan commented on #26225
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-15 13:12] #26225 closed

[2019-03-15 13:14] nongcunshaoye commented on #26740
bazel run tensorflow/lite/experimental/examples/lstm:bidirectional_sequence_lstm_test

[2019-03-15 13:14] #26740 closed

[2019-03-15 13:35] ttdd11 commented on #16291
@Kejie-Wang did you solve this?

[2019-03-15 13:44] joetoth commented on #26591
Thanks, I was having the same issue, but it seemed to reveal another issue:
TypeError: input_signature must be either a tuple or a list, received <class 'dict'>

Using: https://files.pythonhosted.org/packages/57/08/8e39ef54e3aeaf35f87a5703df01cf1e5d11f1ac4ff0e7939191f22945de/tf_nightly_gpu_2.0_preview-2.0.0.dev20190315-cp37-cp37m-manylinux1_x86_64.whl

import os
from os.path import expanduser

fro

[2019-03-15 13:47] winterwindwang commented on #26383
i also have this issue

[2019-03-15 13:52] winterwindwang commented on #26383
i found the solution in https://intellij-support.jetbrains.com/hc/en-us/community/posts/360002486739-PyCharm-cannot-import-tensorflow-keras.The method is use `from tensorflow.python import keras`,and it worked in my sitution

[2019-03-15 13:53] cvxz commented on #13120
I use absolute paths for data and models, and the problem solved.

[2019-03-15 14:03] byronyi commented on #21305
I’m sorry, but apparently TF is not designed around the way you expected.

[2019-03-15 14:29] #26395 closed

[2019-03-15 14:41] lhendre commented on #26638
Has there been any movement?

[2019-03-15 14:58] qlzh727 commented on #25946
I am quite occupied right now with some RNN work, but I will reroute this to the correct owner.

[2019-03-15 14:58] Sri-vatsa commented on #25988
@JTunis Figured out how to fix the issue. It is an issue with docstrings within Python Decorators. I have tested the fix locally by checking the readme files generated through `generate2.py`. It is a simple fix by wrapping the Keras functions using the `wraps` decorator from Python's `functools` library.

1) Modify `tensorflow/tensorflow/python/keras/applications/__init__.py` [here](https://github

[2019-03-15 15:04] alextp commented on #26625
On a first read those two issues look different to me.

Can you put here an example of the code you think should work?

(and sorry for the unintentional closing of non-fixed issues)

[2019-03-15 15:16] brandjon commented on #26616
Right, this change is to ensure TensorFlow works with 0.25 onward. But because the fix to the dependency uses a feature introduced in 0.22, this probably means that the minimum version needs to be bumped to 0.22.

The release of the dependency just went through, so I'll make a PR updating TF's use of it and the min bazel version.

[2019-03-15 15:24] jiarenyf opened #26749 "TfLite on object detection with QUANTIZED_UINT8."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04.
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: XiaoMi 8.
- **TensorFlow installed from (source or binary)**: pip install tensorflow-gpu==1.9

[2019-03-15 15:27] chwang85 commented on #26625
import tensorflow as tf
indices = tf.placeholder(tf.int64, (None, 2))
values = tf.placeholder(tf.float32, (None,))
sparse_tensor = tf.SparseTensor(indices, values, (5, 7))
dense_tensor1 = tf.sparse_tensor_to_dense(sparse_tensor)
dense_tensor2 = tf.sparse_to_dense(indices, (5, 7), values)
dense_tensor3 = tf.sparse_add(tf.zeros((5, 7)), sparse_tensor)
dense_tensor4 = tf.sparse_tensor_dense_matmul(sp

[2019-03-15 15:28] jiarenyf commented on #26749
@jdduke
@andrehentz
@shashishekhar

Help me, please !!!

[2019-03-15 15:41] alextp commented on #26625
Thanks! Indeed in all of these cases the correct gradient is not None,
while now I get
[code]

On Fri, Mar 15, 2019 at 8:33 AM chwang <notifications@github.com> wrote:

--
 - Alex

[2019-03-15 15:45] shashishekhar commented on #26749
@jiarenyf :
Right now you can only convert the entire graph to uint8. One way you can avoid quantizing a particular layer would be changing the output_tensors specified in toco_convert, but then you may need to add some custom post processing for the model. Since the graph will only be converted till the output tensor.
Adding @suharshs who may be able to give a definitive answer.

[2019-03-15 15:48] alextp commented on #26625
I confirm that this has been fixed in tf nightly.

[2019-03-15 15:48] #26625 closed

[2019-03-15 15:48] abe1ge commented on #24101
I get the following error, can anyone help me, I believe that it is related to this issue. When configuring bazel I get the following error.

[code]

Using tf 1.13 with bazel 0.23.2.

Am I better off down grading tf or bazel, I can't seem to find any instructions to install a different version of bazel

[2019-03-15 15:59] shashishekhar commented on #26412
@ajarthurs: Right now the calibrator does not support custom ops, which detection_postprocess is. However it should not crash, but rather give an error message.
@jianlijianli : This is related to custom op support, for this bug we at least need to report an error.

[2019-03-15 16:00] edloper commented on #26638
Sorry I’ve been out sick for the past few days.

It’s already implemented. See:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/ragged/ragged_array_ops.py

But it’s not exported yet (via delegation) because the API doesn’t exactly
match the existing boolean_mask op.  In particular it has a new keepdims
argument.

I would like to modify the existing boolean_mask op to add

[2019-03-15 16:03] JTunis commented on #25988
@Sri-vatsa Awesome, once your PR is in we can work to divvy up the rest of the the `tf.keras.application` models.
As far as the docs for each model, I was also thinking of mostly copying relevant docstrings from `keras_applications` and maybe also linking to the implementation (at least until the `tf.keras` implementations are done). There was also a good transfer learning with `tf.keras.applicati

[2019-03-15 16:03] shashishekhar commented on #23766
Over to suharshs@ who is working on quantized optimizations.

[2019-03-15 16:11] shashishekhar commented on #26474
@anilsathyan7 :
Version 2 of [Depthwiseconv2d](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/toco/tflite/operator.cc#L177) :
is used when dilation width and height factors are equal to 1.
This doesn't have to do anything with TF 2.0. Adding @jianlijianli  who can give a definitive answer.

[2019-03-15 16:13] girving commented on #26589
The bazel folk fixed this on their end.

[2019-03-15 16:13] #26589 closed

[2019-03-15 16:20] girving commented on #26684
No more TF bugs, @skye? :)

[2019-03-15 16:22] yurivict commented on #24101
```cmake``` does't seem to have such problems. Why not just use cmake instead?

[2019-03-15 16:23] xiaomin05 opened #26755 "Request for Leaky Relu quantization support"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2019-03-15 16:27] dynamicwebpaige commented on #26512
Still in progress, and thank you for letting us know! We will have a version of the TPU guide when we have complete support for TPU in TF 2.0 (see #24412).

[2019-03-15 16:34] dynamicwebpaige commented on #25429
@martinwicke I see wheels for [Python 3.5 and Python 3.7](https://pypi.org/project/tf-nightly-gpu-2.0-preview/#files) on PyPi.

[2019-03-15 16:42] skye commented on #26684
@nfelt are you familiar with summary writers?

[2019-03-15 16:45] girving commented on #26684
@skye To clarify what I wrote wasn't intended to ask you to do anything, was just expressing sympathy as a fellow ex-tensorflow person who occasionally gets added to bugs.

[2019-03-15 16:51] impjdi commented on #26620
@FedyuninV

Thanks for trying out the GPU delegate.  I got an S8 (Exynos) see CPU 255,126us vs GPU FP16 17,792us (buffers) & 33,979 (textures), averaged over 20 runs.  IIRC the developer preview was set to textures, (we now have logic to switch to buffers if it's faster on a particular device), but you should see some improvement.

I'll try to dig up whether we also have an S9 (Exynos).

We don't

[2019-03-15 17:00] dynamicwebpaige commented on #26353
This issue is still up for grabs, and we'd appreciate the help! Supporting information for building the conversion mapping can be found in the two referenced issues (#26350, #26349).

[2019-03-15 17:05] ismaelestalayo opened #26758 "tensorflow-gpu using only 10% of my GPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 (1809)
- TensorFlow installed from (source or binary): binary (pip install tensorflow-gpu)
- TensorFlow version (use command below): b'v1.10.0-rc1-19-g656e7a2b34' 1.10.0
- Python version: 3.6.8
- CUDA/cuDN

[2019-03-15 17:07] tonyreina opened #26759 "Keras HDF5 with int8/bfloat16 support"
**System information**
- TensorFlow version (you are using): TensorFlow 1.12
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

The TensorFlow protobuf saved model format is aware of reduced precision (int8), but I don't think the Keras HDF5 saved format is.

**Will this change the current api? How?**

I'd like to have a way to convert a Ker

[2019-03-15 17:07] impjdi commented on #26620
@FedyuninV

Btw, are you able to get the `GpuDelegate` with just `new`?  Shouldn't you use the `GpuDelegateHelper.isGpuDelegateAvailable()` & `GpuDelegateHelper.createGpuDelegate()`?

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java#L174

[2019-03-15 17:13] robieta commented on #25946
It's not obvious to me how one would get around this given that checking devices triggers initialization code if the device is not already initialized. NHWC vs. NCHW device compatibility issues are one of the more common difficulties encountered, hence why we check for it. Ultimately, I think @alsrgv's solution is probably correct: if you need to set specific process level config it will have to b

[2019-03-15 17:14] durandg12 commented on #26699
I solved the issue (in all tensorflow verisons) by adding a dimension at the end of my target data. In the code of the notebooks I changed the last line of

[code]
in `return input_data, expand_dims(target_data, -1)`.

So in sparse encoding, Keras expects the target data to have 3 dimensions, as with one-hot encoding.

[2019-03-15 17:14] #26699 closed

[2019-03-15 17:15] skye commented on #26684
Haha no worries @girving, I just switched teams this week, so still figuring out what to do with all my github issues :)

[2019-03-15 17:16] allenlavoie commented on #26672
https://github.com/tensorflow/tensorflow/commit/147e6777068ea569cbecbd270b8b07c648bae09b should fix the optimizer exception.

[2019-03-15 17:17] tafsiri commented on #26649
FIx is deployed.

[2019-03-15 17:17] #26649 closed

[2019-03-15 17:22] #26548 closed

[2019-03-15 17:22] #26503 closed

[2019-03-15 17:22] ymodak commented on #26344
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-15 17:22] #26344 closed

[2019-03-15 17:25] ymodak commented on #25143
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-03-15 17:25] #25143 closed

[2019-03-15 17:27] jmanly56 commented on #26617
My project was just a slightly modified version of this https://github.com/Currie32/Spell-Checker.
`def encoding_layer(rnn_size, sequence_length, num_layers, rnn_inputs, keep_prob, direction):
    '''Create the encoding layer'''

    if direction == 1:
        with tf.name_scope("RNN_Encoder_Cell_1D"):
            for layer in range(num_layers):
                with tf.variable_scope('encoder_{}'.

[2019-03-15 17:30] allenlavoie commented on #26591
@joetoth huh, yeah I can reproduce. Surprised the unit test didn't cover that too. Will take a look.

[2019-03-15 17:32] ymodak commented on #26611
I understand your dilemma here but I would like to encourage you for using TF 2.0 alpha since its only going to get better moving forward and can provide more support. I will close this issue now that we have several workarounds available. Thanks!

[2019-03-15 17:32] #26611 closed

[2019-03-15 17:32] Gurpreetsingh9465 commented on #26353
@dynamicwebpaige am i in a right direction.
we are supposed to build a function model.load_weight(convert('old_checkpoint_path'))
that convert function should change the checkpoint data format into the format supported by tf.keras.optimizer.Adam. as tf.train.AdamOptimizer is deprecated in tf2.0.
[code]

[2019-03-15 17:33] tanzhenyu commented on #26244
@robieta I think optimizer colocate its variable with model.trainable_weights, so it's likely that the model variables are lazily constructed, which does not respect tf.device("cpu:0") anymore, ergo optimizer follows the lead and does the same thing.

[2019-03-15 17:54] tlkh opened #26763 "[TF2.0] Embedding batch_input_shape not aware of distribute.MirroredStrategy()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Yes, modified an [example from Seedbank](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/sequences/text_generation.ipynb#scrollTo=MtCrdfzEI2N0) to use with TF2.0
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobi

[2019-03-15 17:57] lissyx commented on #26352
@jvishnuvardhan We are hitting the same but on master branch, with VC 14.0 (should be 2015ish) and CUDA 10.0.

[2019-03-15 17:58] ymodak commented on #26634
ah I see you are using cuda 9.0. TF 1.13.1 comes with pre built cuda 10.0 binaries. So please upgrade to cuda 10.0 and make sure to add path as well.

[2019-03-15 17:59] tlkh commented on #26758
What is the batch size you are using while training? Too small batch size makes GPU training inefficient.

In addition, are you using `tf.keras`? Are you using `LSTM` or `CuDNNLSTM`? The latter is much, much faster!

[2019-03-15 18:06] tlkh commented on #26763
#26245 shows a similar error, but somewhat different in nature

1. That one is with Keras `multi_gpu_model` (I believe this is not recommended any more with TF2.0?)
2. That one gives an error even when `batch_input_shape` is not specified, whereas in my case it works fine

[2019-03-15 18:08] ppwwyyxx commented on #25946
Device initialization is not the only issue here.
A summary of the cause:
Certain Keras layers call the following function:

[code]

in `keras/backend.py`. When the function returns False but the layer is called with NCHW format, the layer will apply some format conversions, such as transpose.

There are at least three issues with this approach:

1. The function `_has_nchw_support` is clearly wron

[2019-03-15 18:09] tanzhenyu commented on #20619
@hadaev8 It works on my 13.1 version code. Which version are you running?

[2019-03-15 18:33] ismaelestalayo commented on #26758
I was using a batch size of 20 as my dataset is 15700 samples long only. I just tried a batch size of 1000 and the GPU usage has gone up to 20%, so thanks for that, I had no idea. (I'm gonna have to rise the epochs as well if i want similar results tho)

Yes, I'm using Keras, and I'm currently using normal LSTMs so I'm going to do some research to thsoe CuDNNLSTM and see if I can modify my code sl

[2019-03-15 18:42] lissyx commented on #26352
Just to make it clear, the exact same setup works well with CUDA 10.0 and r1.13

[2019-03-15 18:58] Guneetkaur03 commented on #16315
@mrry   Can you please post an example of how to use tf.Session.reset("grpc://localhost:2222")  so that it deletes the variables in all of the workers and donot give an InvalidArgumentError when the variable shape changes.
I am also facing the same problem.

[2019-03-15 19:02] siavashk opened #26764 "Build Error For a CPU-only build on macOS Mojave"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution: macOS Mojave 10.14.3
- Mobile device: NA
- TensorFlow ins

[2019-03-15 19:05] ying-wen opened #26766 "Tensorflow 2.0 Alpha, tf.concat, ConcatV2 requires tf.double input under eager mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
[code]
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac
device:
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0a0
- Python version: 3.6.5

**Describe the current behavior**
[code]

original code

[code]
would casu

[2019-03-15 19:19] ringw commented on #781
Image transformations have moved to tensorflow_addons (https://github.com/tensorflow/addons/tree/master/tensorflow_addons/image).

[2019-03-15 19:24] ringw commented on #22178
Image transformations are moving to tensorflow_addons with TF 2.0: https://github.com/tensorflow/addons

Please open an issue there, and feel free to link to my comment as a possible way to handle this. Thanks!

[2019-03-15 19:24] #22178 closed

[2019-03-15 19:39] siavashk commented on #26764
After doing a bit of digging, it seems like this is a known [bug](https://bugs.python.org/issue10910). It might be that the conda environment that I am using does not include the fix. I will investigate further.

[2019-03-15 19:53] frankchn commented on #26208
So does it work without the ClusterSpec?

[2019-03-15 19:57] siavashk commented on #26764
It seems that I missed a clean (?) step and bazel is building against my Python 3.5.2. Python 3.5.2 does not include the fix, so now I have checked out building with Python 3.5.6 that does include the fix. I will see if this addresses the issue.

[2019-03-15 20:00] ismaelestalayo commented on #26758
wow @tlkh I'm in your debt for telling me about cuDNNLSTM. Not only it's faster than LSTM on CPU (which is going to save me quite some time over 111 sensors that I have to train and predict), but it's also going to save my poor CPU of quite a few rough hours.

[2019-03-15 20:12] nfelt commented on #26684
Thanks for the report.  I can reproduce this against last night's `tf-nightly` on both macOS and Linux (for anyone else reproducing, maxrss is in bytes on macOS but kb on linux, so the raw numbers are about 1000x smaller).

I also could still reproduce this even with `tf.init_scope()` removed.

cc @alextp if you have any intuition about what might be causing this.

[2019-03-15 20:21] alextp commented on #26684
@rohan100jain I think the issue is that SUMMARY_WRITER_INIT_OP keeps a strong reference to the graph instead of a weak reference, so the graph can never be GC'd.

[2019-03-15 20:29] #26766 closed

[2019-03-15 20:30] ying-wen commented on #26766
It is caused by the inputs have two different dtypes: float32 and float64.

[2019-03-15 20:30] smit-hinsu commented on #26072
Thanks for the detailed instructions but I couldn't reproduce the issue on Volta GPUs.

I suspect that this could be because we don't specify compute compatibility 5.0 required for Quadro M1200 GPU and this results in JIT compilation.

Could you try building a custom docker after adding '5.0' in the list and see if that resolves the problem?
https://github.com/tensorflow/tensorflow/blob/1c1c24c76b

[2019-03-15 20:32] smit-hinsu commented on #25787
Closing this issue but let us know if this is still an issue with TensorFlow 1.13 or later release.

[2019-03-15 20:32] #25787 closed

[2019-03-15 21:05] preethivenkatesh commented on #25213
we have dedicated eng resource prioritizing this req now. I'll notify as soon as we have a procedure to get a working build.

[2019-03-15 21:14] angersson commented on #24101
@lamberta "What version of Bazel do I install to build TF" seems to be a common problem, and a static doc may be unreliable because the recommended version is likely to change as changes are made to master. Our best reference for any branch is always the [configure script](https://github.com/tensorflow/tensorflow/blob/master/configure.py#L1624). Do you think it would be best to link straight to th

[2019-03-15 21:15] frreiss commented on #25882
The root cause of this problem is that the `EncodeJpeg` op's `quality` parameter is a fixed `Attr`, not a variable `Input`. Fixing `random_jpeg_quality` will necessitate a new version of `EncodeJpeg` with a different signature. @drpngx I'd be happy to put in a PR for this issue if that's ok.

[2019-03-15 21:19] mattdornfeld commented on #14071
@asimshankar I think the question is how do you manually stop a MonitoredTrainingSession? There should be a way to do this.

[2019-03-15 21:45] kariya2 commented on #26709
@byronyi  don't have access to the new cuda 10.0 drivers in my environment and no easy way to get them. Anything else I can try?

[2019-03-15 22:02] somil55 opened #26769 "Failed to run optimizer ArithmeticOptimizer"
I am trying to build a graph which uses a conv2dTranspose using keras layers. I ran into following error:

Here is a sample code which reproduces same error:
[code]

[code]
Can anyone explain cause of this error?

[2019-03-15 22:04] yongtang commented on #26735
Added PR #26770 for the fix.

[2019-03-15 22:04] siavashk commented on #26764
Tensorflow built successfully:

`Target //tensorflow/tools/pip_package:build_pip_package up-to-date:
  bazel-bin/tensorflow/tools/pip_package/build_pip_package
INFO: Elapsed time: 6885.252s, Critical Path: 432.77s
INFO: 8608 processes: 8608 local.
INFO: Build completed successfully, 9125 total actions`

[2019-03-15 22:07] siavashk commented on #26764
The [tested configurations table](https://www.tensorflow.org/install/source#tested_build_configurations) is extremely misleading as it clearly says that Python 2.7, 3.3-3.6 are tested. However, the pyport [bug](https://bugs.python.org/issue10910) is not fixed in Python 3.5.2, which is one of the supported versions in the table.

The table should be updated to reflect this.

[2019-03-15 22:23] jdduke commented on #26092
Yeah, apologies for the pain. Part of the problem is that internally we use another set of files to provide build hints for certain directories, but these hints are only used in our internal, automated builds.

[2019-03-15 22:42] RadjaHachilif opened #26771 "LSTM simple example"
Hello,
I'm writing a simple LSTM function that executes the following operations on a random input x:

i{t}=sigma(W{i}x{t}+R{i}h{t-1}+b{i})
f{t}=sigma(W{f}x{t}+R{f}h{t-1}+b{f})
o{t}=sigma(W{o}x{t}+R{o}h{t-1}+b{o})
c'{t}=tanh(W{c}x{t}+R{c}h{t-1}+b{c})
c{t}=f{t} o c{t-1}+i{t} o c'{t}
h{t}=o{t} o tanh(c{t})

To test the performance of my code I want to use Tensorflow XLA. With all the examples I foun

[2019-03-15 22:55] #26591 closed

[2019-03-15 23:05] allenlavoie commented on #26591
There was a special case for single-element sequences that was broken. Should be fixed now. Thank you for the reports!

[2019-03-15 23:47] byronyi commented on #26709
Could you try to remove CPU:0 from your devices?

[2019-03-16 00:08] bobye commented on #24591
I have the same problem when using keras advanced layers.

[2019-03-16 00:31] cl0ckt0wer commented on #22512
Well it looks like 10.0 isn't on the nVidia website anymore...

[2019-03-16 00:59] samikama opened #26776 "Improve testing infrastructure to prevent breaking open source builds"
Recently pushes to the master branch done by tensorflow gardener frequently breaking the open source builds from the master and that is hindering the development on top of the tree by requested/suggested by google engineers through various configurations. Would it be possible to improve the testing of internal to external merges to make sure that opensource builds are not broken by a push from int

[2019-03-16 01:23] masonk commented on #25865
@angersson

I don't _think_ that the official images meet my use-case, because I am building a Rust app that uses the rust-tensorflow (bindings to the C API), and it needs to link against libtensorflow, which I did not find in the official images.

I was able to build GPU-enabled libtensorflow v1.12.0 from scratch using a customer Dockerfile, which I will reproduce here for posterity.

[code]

[2019-03-16 01:29] #25865 closed

[2019-03-16 02:10] catskillsresearch opened #26777 "How do I allow growth with eager execution?"
This is a generic question.   I am working locally from a copy of [a Colab notebook](https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/contrib/eager/python/examples/nmt_with_attention/nmt_with_attention.ipynb), which uses eager execution.

I notice that the notebook allocates all of the memory on my GPU right away.  So I can track what commands use what memory,

[2019-03-16 02:48] Sri-vatsa opened #26778 "[TF2.0] Possibly wrong path to decode_predictions in keras"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-16 02:48] ghego commented on #26245
Is `multi_gpu_model` not recommended any longer with TF 2.0 ?

[2019-03-16 02:49] ghego commented on #26763
@tlkh why is `multi_gpu_model` not recommended with TF 2.0 any longer?

[2019-03-16 02:51] Sri-vatsa commented on #26778
If this is not intended, I will create a PR to fix it.

[2019-03-16 03:21] shashvatshahi1998 commented on #26707
I guess you have forgotten to save the model.You can use model.save() or model.save_weights().
An example can be seen here :- https://machinelearningmastery.com/save-load-keras-deep-learning-models/

[2019-03-16 03:32] zihaozhang9 opened #26780 "bazel quantize:quantize_graph ERROR:quantize_graph failed to build"
**System information**
- Ubuntu 18.04
download from https://github.com/tensorflow/tensorflow/
- Python version: 3.6
- Bazel version:0.23.2
- CUDA/cuDNN version:cuda10/cudnn7

**Describe the problem**
bazel build tensorflow/contrib/quantize:quantize_graph

`ERROR: /home/nnir712/project/tensorflow-master/tensorflow/core/grappler/costs/BUILD:281:1: C++ compilation of rule '//tensorflow/core/grappler/

[2019-03-16 03:41] tlkh commented on #26763
@ghego With TF 2.0, tf.Keras works out of the box with `tf.distribute.MirroredStrategy`. My own experience is that it is much nicer to use. Check out: https://www.tensorflow.org/alpha/tutorials/distribute/keras

[2019-03-16 03:53] peyifyp commented on #26634
thanks for your suggestion.

On Sat, Mar 16, 2019 at 2:05 AM ymodak <notifications@github.com> wrote:

[2019-03-16 03:59] newpoo commented on #25369
What's the latest status?

[2019-03-16 04:19] ghego commented on #26763
yep, I've seen that. Thanks

[2019-03-16 04:29] canyon289 opened #26781 "Confusing documentation for to tf.Graph in Tensorflow 2"
**System information**

- Doc Link : https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/Graph

**Describe the documentation issue**
I believe for TF2 these docs can be more explicit that tf.Graph should not be used directly, and instead provide guidance similar to what Alex does in his talk
https://www.youtube.com/watch?v=Up9CvRLIIIw

The wording that `A default Graph is always registered

[2019-03-16 04:34] shashvatshahi1998 commented on #26651
i am not getting what the real issue is?

[2019-03-16 04:58] jiarenyf commented on #26749
@shashishekhar Thank you.

In short, I have convert a PB file to tflite with uint8 quantization. I would like to know how to convert the output from uint8 back to float so that the previous code (that work on float type output) can still work.

@suharshs Could you please help me ?

[2019-03-16 05:12] ErmiaAzarkhalili commented on #26502
@knaydenov none of your solutions is pythonic. It should work like @tensorflow import keras in its examples.

[2019-03-16 05:14] ErmiaAzarkhalili commented on #26502
@annarev any solution to this issue? any commit for the next dev or stable release?

[2019-03-16 05:15] yunjiangster commented on #23127
I have no problem building tensorflow_model_server with only cpu support, but gpu (--config=cuda) fails at link time.

Build Command:
export TF_NCCL_VERSION=1.3
export TF_NEED_CUDA=1
export NCCL_INSTALL_PATH=/usr/local/cuda
bazel clean --expunge &&  bazel build -c opt --config=cuda --action_env PYTHON_BIN_PATH=~/tf/bin/python tensorflow_serving/model_servers/...

Also tried building tensorflow_ser

[2019-03-16 05:30] windskyl commented on #24828
running with cuda-10.0.13, tensorflow-gpu 1.13,cudnn 7.5 on ubuntu 18.04
they all installed by pip
same problem
solved by adding the above code
but still dont know the reason, is there someone figured it out?

[2019-03-16 06:04] ctrysbita commented on #26502
Yes, this is not a bug from pyCharm but tensorflow itself.
The bug is caused by missing `tensorflow.python import keras` in `__init__.py` of tensorflow package.

[2019-03-16 06:12] BenjaminChoou commented on #25787
Thank you. Similar warnings don't exist with TF 1.13.1.

[2019-03-16 06:53] zjd1988 commented on #26731
I build tensorflow-lite on raspberry-3B+，and met this problem。

[2019-03-16 08:08] willbattel commented on #25361
What is the status of TFLite at this point? Are we able to use it with TF2 yet? I see this is marked as "Done" in the TF2 project, but I'd appreciate an explicit indicator on this. Thanks!

[2019-03-16 08:21] kwokkawinghk commented on #18769
I also put the below in my code

tf.variable_axis_size_partitioner(
    max_shard_bytes=2**35,
    axis=0,
    bytes_per_string_element=16,
    max_shards=None
)

However it still shows below error when restoring the model:

2019-03-16 08:12:32.430456: W tensorflow/core/framework/op_kernel.cc:1401] OP_REQUIRES failed at save_restore_v2_ops.cc:184 : Out of range: Read fewer bytes than requested

[2019-03-16 08:35] troycheng commented on #23127
@yunjiangster try clean previous build and add `--copt="-fPIC"` and then build again.

[2019-03-16 08:46] lissyx commented on #26352
Our master branch was a couple of days / few weeks old, merging current helps going over that issue.

[2019-03-16 08:58] antonino-tocco commented on #26545
Hi, any news?

[2019-03-16 09:11] galeone opened #26783 "tf.Tensor documentation in TF2"
**System information**
- TensorFlow version: 2.0 alpha
- Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/Tensor

**Describe the documentation issue**

The documentation of `tf.Tensor` in the 2.0 section is still about the `tf.Tensor` as a symbolic tensor that contains the result of a  `tf.Operation` and it states that the only way to get its value is to use a `tf.Session` to

[2019-03-16 09:21] foxik opened #26784 "[TF 2.0] Respect masking in Keras loss reduction (i.e., support an equivalent of default TF 1.0 loss reduction SUM_OVER_NONZERO_WEIGHTS)"
**System information**
- TensorFlow version (you are using): **TF 2.0.0a0**
- Are you willing to contribute it (Yes/No): **Yes**

**Describe the feature and the current behavior/state.**

In TF 1.0, default loss reduction was `SUM_OVER_NONZERO_WEIGHTS`. For NLP with sequences on inputs, it normalized losses by number of _valid elements_ (i.e., sum of non-padding words in input sentences).

With Ke

[2019-03-16 11:47] DachuanZhao commented on #26378
Hi,@Leslie-Fang
Building GCC6.3 needs `sudo`.Is there any solution else?

[2019-03-16 12:16] JaviBonilla commented on #26731
It also happened to me when cross-compiling for Raspberry Pi

`./tensorflow/lite/tools/make/build_rpi_lib.sh`

[2019-03-16 12:31] JaviBonilla commented on #26731
I have been doing some testing, I share here this in case it helps.

I get the error during the compilation when executing.

`arm-linux-gnueabihf-g++ -O3 -DNDEBUG -fPIC  --std=c++11 -march=armv7-a -mfpu=neon-vfpv4 -funsafe-math-optimizations -ftree-vectorize -fPIC -I. -I/home/javi/Qt/tensorflow/tensorflow/lite/tools/make/../../../../../ -I/home/javi/Qt/tensorflow/tensorflow/lite/tools/make/../../.

[2019-03-16 12:46] tensorflowbutler commented on #24215
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-16 12:46] tensorflowbutler commented on #25283
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-16 12:46] tensorflowbutler commented on #26241
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-16 13:05] jiarenyf commented on #26749
@shafi-dayatar Finally I have struggled to find the solution:

**First, read the quantized_min/max value from the ckpt file with the output tensor names:**
[code]
**And remember not to package the `sigmoid` op in the pb/tflite files, since it bring slide effect in the tflite interpreter.**

**Second, calculate the float32 using unit8 with min/max value:**
[code]
** We store the `uint8` values in `

[2019-03-16 13:09] #26749 closed

[2019-03-16 14:03] MiloslavPalaxo commented on #26442
I have managed to find a solution (or rather a workaround) to the issue. I do not pass the lengths to the rnn encoder and I select the correct output manually with tf.gather_nd() instead. See line 136 in my [sentiment-lite3.py](https://github.com/MiloslavPalaxo/tflite-lstm-text/blob/master/sentiment-lite3.py).

The test passes with this solution, however, I believe that the lengths should be suppo

[2019-03-16 14:05] MiloslavPalaxo opened #26786 "[tflite][java] Interpreter.reset_all_variables() is not supported on Android."
`Interpreter` does not support `reset_all_variables()` in the current Android API of TF Lite.

This function is critical for RNNs because without it all the batches after the first one produce wrong results.

**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device: Pixel 3 XL
- TensorFlow installed from: binary
- TensorFlow version: v1.12.0-9708-gafab5b3 1.14.1-de

[2019-03-16 14:17] Ayush517 commented on #26786
@MiloslavPalaxo Can you please fill the template. Thanks :)

[2019-03-16 14:26] Ayush517 commented on #26197
@dynamicwebpaige Can you please help me with this

[2019-03-16 15:03] reuben commented on #16689
@mrry I'm seeing a difference in behavior between `from_tensor_slices` and your proposed solution when batching the resulting dataset:

[code]

Output:

[code]

The source of the problem seems to be that you can't create a 1D SparseTensor, so each individual tensor yielded by the generator is 2D, and then when you batch them the result is 3D.

This 3D result can't be used for example with CTCLoss,

[2019-03-16 15:08] foxik opened #26788 "[TF 2.0] Keras in graph mode crashes when fitting data with L2 regularizer set to 0."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian Stable**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use

[2019-03-16 15:13] reuben commented on #16689
Workaround using `tf.sparse.reshape`:

[code]

Result:

[code]

[2019-03-16 15:14] siinn opened #26789 "[TF2.0] Optimizer for Linear models"
**System information**
- TensorFlow version: 2.0.0-alpha0
- Doc Link:
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/estimator/LinearEstimator
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/estimator/LinearClassifier
https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/estimator/LinearRegressor

**Describe the documentation issue**

The examples in these documents

[2019-03-16 15:18] ZunDubCore commented on #26679
@jvishnuvardhan Python installed through Anaconda
[code]
Double checked, all CUDA paths are referenced correctly and are in the PATH environment variable.

[2019-03-16 15:19] TahaK commented on #26707
I am interested in architecture only saving. As can be seen in the tensorflow documentation https://www.tensorflow.org/alpha/guide/keras/saving_and_serializing#architecture-only_saving

The documentation says that both Functional and Sequential APIs support this functionality. However only the Functional API works as the documentation says.

Here is the same example written in the Functional API a

[2019-03-16 15:33] FedyuninV commented on #26620
@impjdi

I'll be able to continue research on Monday.

About `new GpuDelegate();`: I used [this tutorial](https://www.tensorflow.org/lite/performance/gpu#trying_the_gpu_delegate_on_your_own_model).

[2019-03-16 15:43] freedomtan commented on #26620
@impjdi `new GpuDelegate()` works for me.

[2019-03-16 15:43] anilsathyan7 commented on #26474
It looks like the dilation_w_factor and dilation_h_factor in the official model for depthwiseconv2d  are not equal to 1 everywhere.Initially it is 1 for couple of depthwiseconv2d layers, then it becomes 2 and finally it is 4 for last few depthwiseconv2d layers. This seems to be the difference between both models (replicated model has dilation width and height factors equal to one in all the nodes

[2019-03-16 16:14] realiti4 commented on #26758
Can you check with GPU-z. I discovered last week that windows task manager shows max 14%, but it is 100% utilization most of the time on GPU-z.

[2019-03-16 16:22] MiloslavPalaxo commented on #26786
Done. Sorry for that.

[2019-03-16 16:30] ZunDubCore commented on #26679
Similar issue #25773

[2019-03-16 16:50] navarroj commented on #9260
For those looking for the simplest case where all elements have the same probably to appear in the sample, i.e. uniform distribution, the formula is just:

[code]

[2019-03-16 17:01] impjdi commented on #26620
@freedomtan Wow, didn't know.  I live in the C++ world.
@FedyuninV Sorry for the confusion.  Apparently, that also works.

[2019-03-16 17:43] ErmiaAzarkhalili commented on #26502
@ctrysbita do you think they resolved the issue in future releases?

[2019-03-16 17:47] haoyuz commented on #23464
Several recent fixes in Keras, tf.data, and eager should help with the problem. Without further information I will close this issue for now. Feel free to reopen if you find this is still a problem in latest TensorFlow. Thanks!

[2019-03-16 17:47] #23464 closed

[2019-03-16 17:56] Shaurya-7 opened #26790 "Failed to load native Tensorflow Runtime - Nvidia MX150 Python 3.7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win 10 64bit
- Mobile device (

[2019-03-16 18:08] ablanch5 opened #26791 "Tensorflow Keras get_trainable_weights.append not working in TF 1.13"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-03-16 18:10] ablanch5 opened #26792 "Tensorflow Keras not adding trainable variable to Model in TF 1.13 (works in TF 1.12)"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2019-03-16 18:33] yunjiangster commented on #23127
@troycheng thank you for the thorough advice, very helpful for future reference.  I think the problem was due to other third-party dependencies we added to the build rule, like com_3rd_party/zlib/lib/libz.a. I tried --copt="-fPIC" in the past and that resulted in similar error.

[2019-03-16 18:37] KaramAbuaisha commented on #26072
How do I build the custom docker exactly?
I tried something that didn't work:
I pulled this repo, edited the devel-gpu.Dockerfile as recommended and then built the image by executing `docker build -f ./dockerfiles/cpu.Dockerfile -t tf . ` from `tensorflow/tensorflow/tools/dockerfiles`
Then I made a container like so: `sudo docker run --name test -it -u $(id -u):$(id -g) --runtime=nvidia -v $(realp

[2019-03-16 18:39] reuben commented on #15343
For anyone facing this problem, note that it doesn't matter if you initialized a different set, just running the same iterator initializer twice in a row is enough to cause this. My training loop had a logic similar to this:

[code]

Even though the logic theoretically allows for any mixture of training and validation batches, the jobs were only sent in a typical epoch oriented fashion. To fix the

[2019-03-16 19:21] #26791 closed

[2019-03-16 20:36] hjfreyer opened #26793 "@tf.function doesn't compile functions specified as parameters to other functions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab.
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0.0-alpha0
- P

[2019-03-16 20:37] jvdgoltz opened #26794 "1.13 ImportError when importing tf.contrib"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-03-16 21:30] Mark84 commented on #23082
@PINTO0309 @aselle This still doesn't seem to work, latest pip packages still broken on RPi 3b+. Any updates?

[2019-03-16 22:07] BIGCRYPTO001 commented on #26794
What,

[2019-03-17 00:09] beew commented on #26289
@wjcskqygj2015

Symlinking doesn't work, try build tensorflow master
[code]
Besides, all libcu***.so.10.1 are missing, not just libcublas, it is a pain to have to create symlink for all these even if symlinking works.

[2019-03-17 00:30] PINTO0309 commented on #23082
@Mark84
Informally, I generated the wheel package for Tensorflow v2.0.0-alpha.
**https://github.com/PINTO0309/Tensorflow-bin**
**tensorflow-2.0.0a0-cp35-cp35m-linux_armv7l.whl**

I have not built v1.12.0 and v1.13.1.

[2019-03-17 01:48] Leslie-Fang commented on #26378
@DachuanZhao Could you search libstdc++.so.6.0.22 online? I think it's available.

[2019-03-17 04:27] lhendre commented on #26638
Is this something that you would want help on?

[2019-03-17 05:43] inyong7ee commented on #11571
Windows 10, conda env,
resolved using wheel file guided here: https://www.tensorflow.org/install/pip

[2019-03-17 06:43] ppwwyyxx opened #26797 "dilated convolution leads to incorrect graph optimization"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):archlinux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:n/a
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):b'v1.13.1-0-g6

[2019-03-17 08:36] Imtinan1996 commented on #26526
That's great, i will be on a lookout for your feedback

[2019-03-17 08:51] Mark84 commented on #23082
@PINTO0309 Didn’t try the alpha, but did try the 1.11 version, but I need the tensorflow.lite package which isn’t included as it’s broken still?

[2019-03-17 08:56] jrabary opened #26799 "[TF 2.0] Logs from model.fit is not conform to the documentation for Molde with multiple outputs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow version (use command below): tf-nightly-gpu-2.0-preview

**Describe the current behavior**

I have

[2019-03-17 09:22] PINTO0309 commented on #23082
@Mark84
The official package is broken, but the package I created works fine.
[code]

[2019-03-17 09:35] monklof opened #26800 "saved_model_cli tensorrt convert bug: saved_model_main_op collection and it's related operation was mistakenly pruned."
Hi, guys,

Tensorflow serving has released 1.13.0 recently, which adds a support for TF-TRT, and I'm trying to introduce it into our production enviroment.

There is a good introduction for this feature: https://medium.com/tensorflow/optimizing-tensorflow-serving-performance-with-nvidia-tensorrt-6d8a2347869a

According to the post, I have to convert the SavedModel into a TRT-optimized one first wi

[2019-03-17 10:03] Oktai15 commented on #17851
What is alternative to train model written with eager execution on multi-gpu?

[2019-03-17 11:34] MoonBunnyZZZ opened #26801 "tf.keras.losses.SparseCategoricalCrossentropy bug"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-17 11:41] ismaelestalayo commented on #26758
Yup @realiti4 , using GPU-z does show way higher GPU usage, and while it's only about 40% it probably is because i'm using a small Batch Size for the training.

![Sin título](https://user-images.githubusercontent.com/17100634/54489929-b4214000-48b1-11e9-80c5-b6ada1bfd021.png)

[2019-03-17 11:41] #26758 closed

[2019-03-17 12:57] jvdgoltz commented on #26794
Problem disappeared after reinstallling tensorflow-estimator!

[2019-03-17 12:57] #26794 closed

[2019-03-17 13:30] shashvatshahi1998 commented on #26783
I just want to confirm that whether  we have to remove tf.session() from class Tensor description or from complete ops.py wherever it is ,eigther in description or in function.

[2019-03-17 13:49] jrabary commented on #26799
After some investigation, I think the problem is that I don't use the same reduction in my loss ( a custom loss with Reduction.SUM) and the loss metrics which use `SumOverBatchSize` :

[code]

Does it make sense to have the ability to set a custom metric here ?

[2019-03-17 14:05] Emperon92 opened #26802 "New issue cross-compiling latest tensorflow source for arm"
System information:
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No.
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 18.10 under Hyper-V Virtual Machine (Windows 10)
Resource dedicated to virtual machine:
4GB Ram - 4 cores
TensorFlow installed from (source or binary):
Source
TensorFlow version (use command below):
Latest from

[2019-03-17 14:15] lunayach commented on #25828
It's a documentation of Python r1.13, and the link correctly sends us to https://github.com/tensorflow/tensorflow/blob/r1.13/tensorflow/python/keras/activations.py
@dynamicwebpaige @rohanmeh  Am I missing soemthing here?

[2019-03-17 14:30] jrabary opened #26803 "[TF 2.0] timestep-wise sample weights not working with tf.data.Dataset and tf.keras.Model"
**System information**
- TensorFlow version (use command below): tf-nightly-2.0-preview

**Describe the current behavior**

With some model such as object detection one need to weight losses per locations. In this case, the output tensor can have the following shape `[N, T, ...]` where N the batch size and T the locations.
According to the documentation `tf.keras.Model` can handle timestep-wise sa

[2019-03-17 14:54] tarrade opened #26804 "when using model_to_estimator on a keras model -> accuracy and loss are not stored in events.out.tfevents.xxxxxxxxxx"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Yes
- TensorFlow version (use command below):
- Python version: 3

[2019-03-17 16:20] vtan05 commented on #26769
Hi, same error using Conv2DTranspose in Win10, TF-GPU1.13, Cuda10, Python3.6

[2019-03-17 16:29] xiaocc612 commented on #22794
Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "D:\MLandBigData\Anaconda3.5\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  Fi

[2019-03-17 16:32] asimshankar commented on #24660
CC @tatianashp

[2019-03-17 16:39] Mark84 commented on #23082
@PINTO0309
Following those steps exactly and then
Using example label_image.py : from : tensorflow/tensorflow/lite/examples/python/label_image.py

(.venv):~/tensor_example $ python3 label_image.py
Traceback (most recent call last):
  File "label_image.py", line 26, in <module>
    from tensorflow.lite.python import interpreter as interpreter_wrapper
ImportError: No module named 'tensorflow.lite'

[2019-03-17 17:18] roymiles opened #26806 "tflite runtime error with depthwise conv2D"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows/Ubuntu
- TensorFlow installed from (source or binary): Tried source and binary
- Python version: 3.6
- CUDA/cuDNN version: 10/7.3
- GPU model and memory: RTX 2070

**Describe the current behavior**

I

[2019-03-17 17:28] jeffpollock9 opened #26807 "[TF 2.0] tf 2 doesn't allow static unrolling of loops which can be slower"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 1.13.1
- Python version: Python 3.6.7
- CUDA/cuDNN version: 10.0/7.4
- GPU model and memory: GeForce GTX 1060

[2019-03-17 17:41] alper111 opened #26808 "[TF 2.0] unconnected_gradients = 'zero' does not work"
**System information**
- OS Platform and Distribution: MacOS 10.14.3
- TensorFlow installed from binary
- TensorFlow version: 2.0.0a0
- Python version: 3.7.2

I try to get gradients w.r.t. model parameters. Though I was getting None values. Here is an example:

[code]

I expect these values to be zero. Though they are not.

[2019-03-17 18:30] ppwwyyxx commented on #26797
The bug only exists in `tf.layers` & `tf.keras.layers`. It does not exist if I call the op `tf.nn.conv2d(dilations=)` directly.
It turns out that `tf.layers.Conv2D(dilations=2)` actually will do some space-to-batch/batch-to-space conversion, and call `tf.nn.conv2d(dilations=1)` instead of dilations=2.
This logic is implemented in this commit: https://github.com/tensorflow/tensorflow/commit/c0502af

[2019-03-17 18:51] nikonikolov commented on #2732
@ekelsen, I still experience non-deterministic GPU operations. In comparison, same code is absolutely deterministic when it runs on CPU. I am using TF 1.12.0 and CUDA 9.0

[2019-03-17 19:13] qslvhw commented on #24980
I have the same issue with Tensorflow softmax.
I use macOS 10.14, python 3.6 with Conda installed Tensorflow.

"
  File "/Users/lvhw/anaconda3/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 1348, in _do_call
    raise type(e)(node_def, op, message)

AbortedError: Operation received an exception:Status: 3, message: could not initialize a memory descriptor, in file tensorflow

[2019-03-17 19:22] foxik opened #26809 "[TF 2.0] Cannot load Keras Sequential model witn InputLayer from h5."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **YES**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Debian Stable**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use

[2019-03-17 19:39] JACKHAHA363 commented on #25432
Any updates? I find that the keras high level API is not flexible enough compared to the old `contrib.seq2seq`.

[2019-03-17 20:33] kariya2 commented on #26709
Not sure if I understood you correctly, but I tried this

[code]

The error I got was

[code]

[2019-03-17 21:03] gbobeff opened #26810 "Gesture Classification Web App (many bugs on JS code)"
- index.js : function loadModel does not exist
line **32** `const mobilenet = await tf.loadModel(
`
i replaced it for `loadLayersModel` as the only function with a similar name
`const mobilenet = await tf.loadLayersModel(`

- ui.js : two missing carry return
line **151** `} ui.donePredicting =`
replaced by
`}`
`ui.donePredicting =`
line **181** `} let mouseDown = false;`
replaced by
`}`
`let mouse

[2019-03-17 21:17] TahaK opened #26811 "[TF2.0] Bug when saving weights with custom layers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
docker image from tensorflow/tensorflow:2.0.0a0-gpu-jupyter
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
binary
- Tens

[2019-03-17 21:19] galeone opened #26812 "Can't declare tf.Variable in @tf.function decorated function"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Archlinux
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0-dev20190317
- Python version: 3.6

**Describe the current behavior**

A function that correctly works in eager execution can't be decorated with `@tf.function` if declares a `tf.Variable` in the function bo

[2019-03-17 21:47] gogasca commented on #26769
[code]

[2019-03-17 21:58] ekelsen commented on #2732
Reductions are deterministic.  Many other things are not:

0) Forward passes of anything that uses auto-tune (convolutions are the prime culprit, but I think also gemm now)
1) Backward passes of convolutions
2) Backward passes of bias_add (sometimes depending on auto-tune)
3) I think cross entropy still hasn't been switched to use the faster and deterministic reductions under the hood.
4) unsorted

[2019-03-17 22:01] ppwwyyxx commented on #26797
Disabling the graph rewriter by `config.graph_options.rewrite_options.disable_meta_optimizer = True` can make the bug disappear.
I can see from logs that the last shape op was mistakenly rewritten to a constant op.

[2019-03-17 22:20] nikonikolov commented on #2732
Thanks for clarifying. Are there any plans to make all these deterministic? PyTorch can be completely deterministic on GPU which can often be very useful. In particular, while the non-determinism might be acceptable in supervised learning, in Reinforcement Learning it has very non-trivial impact on results, sometimes leading to big variance due to the constantly shifting data distribution.

[2019-03-17 22:35] guptapriya commented on #17851
@Oktai15 do you mean without using tf.function?

[2019-03-17 23:21] gavinlive commented on #23590
Any success? :) @musikisomorphie

[2019-03-18 00:58] Oktai15 commented on #17851
@guptapriya I will be happy to see any solution to do it :) Image that I have a model that is keras.Model and I want to train it on multi-gpu. Example with tf.function would be okay)

[2019-03-18 01:13] Oktai15 commented on #17851
Can I convert my keras.model to static graph so that I can train it with benefits of multi-gpu?

[2019-03-18 01:17] zakizhou commented on #26812
see [this](https://github.com/tensorflow/community/blob/master/rfcs/20180918-functions-not-sessions-20.md#functions-that-create-state)

[2019-03-18 01:39] DequanZhu opened #26813 "can't import tensorflow.keras properly"
I,m writing my code in vscode edit with tensorflow=1.13.1 version and anaconda virtual environment. But when I write 'from tensorflow.keras import layers',it give me a warning:
"unresolved import 'tensorflow.keras'(unresolved import)".
The code can run as I expected,no errors. But because tensorflow.keras can't be imported properly,the auto-completion and intelligent hint function can't work,I nee

[2019-03-18 02:13] #26391 closed

[2019-03-18 03:09] troycheng commented on #23127
@yunjiangster It's a pleasure. Since the libz.a is compiled standalone, just add -fPIC and recompile zlib again. It's a common problem when building shared/static library.  There are some explanations here, [https://stackoverflow.com/questions/5311515/gcc-fpic-option](url)

[2019-03-18 03:21] hadim opened #26814 "[TF2.0] Loading a Saved Model failed with `AttributeError: '_UserObject' object has no attribute '_create_or_restore_slot_variable'`"
I am using the latest TF2.0 pip package.

Consider the following code:

[code]

It fails with:

[code]

[2019-03-18 03:23] hadim commented on #26814
Maybe related to https://github.com/tensorflow/tensorflow/issues/25235 ?

[2019-03-18 04:07] ilous12 commented on #26693
I resolved. Thanks

[2019-03-18 04:07] #26693 closed

[2019-03-18 04:38] alexcpn opened #26816 "AttributeError: 'module' object has no attribute 'Session' in tensorflow/tensorflow:latest-gpu-jupyter TF 2.0-alpah0 in Docker Container"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 16.04,
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Binary/From official Docker Container
- TensorFlow version (u

[2019-03-18 05:36] tatianashp commented on #24980
@agramesh1  - Can you take a look at this?

[2019-03-18 05:46] StarRiverSD opened #26818 "[TF2.0] Unknown TensorShape error when convert tf.keras model to tflite"
*Environment*
Win 7 64bit
PyCharm
Anaconda Python 3.6
tensorflow-gpu 2.0.0a0

*issue*
I trained a tf.keras model, now I want to convert it to tflite file.
The following is my implement:

saved_model.save(model, 'testM')
model = tf.saved_model.load('testM')
concrete_func = model.signatures[tf.saved_model.DEFAULT_SERVING_SIGNATURE_DEF_KEY]

converter = tf.lite.TFLiteConverter.from_concrete_function(

[2019-03-18 05:50] pwais commented on #19731
@marinone94 do you have code / proof?  I tried a thread too but the only thing that worked for me is to use a subprocess.   Others have seen similar: https://github.com/tensorflow/tensorflow/issues/20387 https://github.com/tensorflow/tensorflow/issues/15880

[2019-03-18 05:51] pwais commented on #15880
@tensorflowbutler see for example https://github.com/tensorflow/tensorflow/issues/20387

[2019-03-18 05:59] renjie-liu commented on #26442
agree, looks like supporting seq_length can make use cases like yours much easier.

[2019-03-18 06:00] renjie-liu commented on #26442
@aselle  @yenchenlin

[2019-03-18 06:12] pratjosh9 commented on #20402
I would like to take this issue. I couldn't find source code for tf.tensor_scatter_add. I read the source code for scatter_add in tensorflow/python/ops/state_ops.py, but couldn't figure out which changes to make. Can you suggest me a starting point.

[2019-03-18 06:31] YUHAO19910716 commented on #18994
Use the method you provide,I succeeded in solving it.
thankyou,verymuch!!

[2019-03-18 06:36] chencan15 opened #26819 "how to assign trainable variable to a tensor to form another trainable variable"
### System information

TensorFlow version : 1.12
Are you willing to contribute it : Yes

### Describe the feature and the current behavior/state.

This issue occurs in my nerual network. The data A stored in TFrecord file is with shape [batch_size,  A_size * A_size]. I want to use a fully connected layer to increase the dimension to get a bigger tensor B with shape [batch_size, B_size * B_size].

[2019-03-18 07:07] p890040 commented on #19731
@yurmchg @marinone94
You guys are right. I have tried this way, and it does work.
However, I think it' not very efficient method for program. Because it may cause many problem and inconvenient when we want to communicate with other process(ex: send or receive data).
Very Hope tensorflow official can provide the release gpu memory function, or just make it release after end this thread (not process

[2019-03-18 07:18] pwais commented on #19731
@p890040 can you please post a code example?  I definitely tried python threads to no avail.

[2019-03-18 07:44] musikisomorphie commented on #23590
@gavinlive, i was studying the codes implemented in the kernel last weekend. Today, I will try to implement it myself.

[2019-03-18 07:44] galeone commented on #26812
HI @zakizhou ! I'm aware that defining a function that declares a variable inside creates a status and it has to be handled differently.

As you suggested an alternative I to wrap the function in a class and make the variable a private attribute, or declaring the variable as global and check if it is `None`.

However, as stated in the RFC:

Thus, when I invoke `f()` for the first time, I should ha

[2019-03-18 08:08] khaliltalib277 commented on #22300
Hello there,
I'm installing tensorflow on anaconda but I get the compiler error, please help me regarding this issue

ImportError                               Traceback (most recent call last)
~\Anaconda3\lib\site-packages\tensorflow\python\pywrap_tensorflow.py in <module>
     57
---> 58   from tensorflow.python.pywrap_tensorflow_internal import *
     59   from tensorflow.python.pywrap_tensorfl

[2019-03-18 08:17] mr-ubik commented on #26813
The problem is present also in 2.0. Apparently, Jedi (or Pyls) cannot resolve Keras import.

[2019-03-18 08:32] Nitinsiwach opened #26821 "tf.cond on a variable. FailedPreconditionError in tf.global_variables_initializer()"
I am running into  FailedPreconditionError error in tf.global_variables_initializer(). I have zeroed-in on the following part of the code to be the cultprit:

    def __init__(...):
        ...
        self.global_step = tf.get_variable(initializer=tf.zeros_initializer(), trainable=False, shape=(), name='global_step')
        ...
        step_rampup_value = self.step_rampup(self.global_step, self.

[2019-03-18 08:45] gbobeff commented on #26810
Perhaps local js code (index.js, ui.js and wbecam.js) was code with respect to previous version of `tfjs.js` (i mean not for the latest at least)
`<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"> </script>`

[2019-03-18 08:53] IvyGongoogle commented on #15585
meet the same problem on v100: fp16 is very slow than fp32

[2019-03-18 08:54] IvyGongoogle commented on #5592
meet the same problem on v100: fp16 is very slow than fp32

[2019-03-18 08:54] qualia0000 commented on #22794
python 3.7.1
Tensorflow-gpu 1.13.1

CUDA 8.0
cuDNN v7.1.4 for CUDA 8.0
win10 x64
Please help

[2019-03-18 08:58] Suger131 commented on #26732
I've had the same problem.

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow):no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):win10
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:no
TensorFlow installed from (source or binary): pip install tensorflow-gpu==2.0.0-alpha0
TensorFlo

[2019-03-18 09:11] meyerjo commented on #26651
Just to clarify. This is an issue as the documentation is not updated in accordance to the renaming in TF2.0

[code]

[2019-03-18 09:22] AlexMetsai commented on #26816
To clarify things, by using cuda 8.0 and cuDNN 7, tensorflow extracts the correct output for the operations you specified. That is:
[[22. 28.]
 [49. 64.]]

Does this imply that this be a problem of Tensorflow Docker specifically?

[2019-03-18 09:23] mandroid6 commented on #26811
The weights need to be saved in HDF5 format:

```model.save_weights('path_to_my_weights.h5')```

[2019-03-18 09:45] SystemErrorWang commented on #6220
i got the same error in multi-gpu training script, even when i include all the model define inside a `with tf.variable_scope(tf.get_variable_scope(), reuse=tf.AUTO_REUSE) as scope:` and manually added `tf.get_variable_scope().reuse_variables()` in each gpu. would like to know what happened, any information or suggestion is appreciated

[2019-03-18 09:48] SumNeuron opened #26823 "Performance hit in WALSModel?"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-03-18 09:51] madeye-matt commented on #26289
I have the same problem using tensorflow 1.13.1 and CUDA 10.1.  Use of symlinks 'worked' for me in so far as there were no path errors - however attempting to run the tensorflow sanity check results in a core dump, presumably as there are genuine incompatabilities between those versions of tensorflow and CUDA

[code]

[2019-03-18 09:54] wongongv opened #26824 "The contents of Transfer learning tutorial and its github source are not the same."
https://www.tensorflow.org/alpha/tutorials/images/transfer_learning
This is the tutorial for transfer learning for tensorflow 2.0
but if you click on run on colab or view source on github buttons,
then the contents are not the same
(colab link : https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/images/transfer_learning.ipynb
github link :
https://github.com/ten

[2019-03-18 10:01] Traeyee commented on #6220
Just do as @wookayin suggested

[2019-03-18 10:13] dverstap opened #26826 "1.13.1 wheels for Python 3.7 do not work on RHEL/CentOS7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RedHat Enterprise Linux 7.6
-

[2019-03-18 10:28] AlexMetsai commented on #26813
Works fine for me, with both ways of importing
"from tensorflow.python.keras import layers"
and
"from tensorflow.keras import layers"

Can you give us a little more info about your configuration?

[2019-03-18 10:42] nehagarg opened #26828 "Is it possible to do inference using a pre-trained tensorflow model from inside cuda kernel?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-03-18 10:43] FedyuninV commented on #26620
@freedomtan Your program shows improvements (101 cpu, 16 gpu). I have to go deeper. As soon as I find the cause of fails of my program I'll close the issue.

[2019-03-18 10:45] prabhant opened #26829 "Saving and Restoring SingularMoniteredSession in tensorflow 1.4.1"
I want to save and restore a SingularMoniteredSession in my code

[code]
I want to save and restore the controller ops session here(second session). but i wasn't able to find any documentation regarding it.

[2019-03-18 11:11] mr-ubik commented on #26813
In my case I am using the 2.0 Nightly, the issue is related to autocomplete either using Jedi or Pyls (Python Language Server) with either Vim/Neovim/Pycharm or VS Code.
The issue is present also if linting with pylint as it cannot see Keras marking it as an erroneous import. The problem is common to all 4 machines we use in our lab. The only peculiar thing is that we run Arch Linux but Tensorflow

[2019-03-18 11:14] TahaK commented on #26811
Saving in h5 format also result in an error.
[code]
stacktrace below
[code]

[2019-03-18 11:14] arp95 opened #26831 "Update README.md file of Tensorflow Lite Android example"
<em>Please make sure that this is a documentation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:doc_template</em>

**System information**
- TensorFlow version: 1.7.1
- Doc Link: -

**Describe the documentation issue**

Update the READ

[2019-03-18 11:22] DequanZhu commented on #26813
I works on windows10 platform, and I use the python plugin for vscode. It seems that just tensorflow's keras module can't be imported properly, i.e. vscode's automatic completion function didn't work but other modules works fine.

[2019-03-18 11:26] reorder-cv opened #26833 "TOCO/TFLite Converter not working"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-03-18 11:59] Nayana-ibm commented on #25283
Yes..we are exploring more on this .

[2019-03-18 12:05] chsigg commented on #26394
The compute capability check is now a warning for < 3.5, and and error for < 3.0. Closing.

[2019-03-18 12:05] #26394 closed

[2019-03-18 12:14] AlexMetsai commented on #26813
If the issue is related to autocomplete related to your IDEs, then maybe this isn't a tensorflow issue.
Can you import from a python interpreter that does NOT use any autocomplete method? If you already tried that, does the problem persist?

[2019-03-18 12:59] janblumenkamp commented on #16219
I had the same problem and solved it by adding a new target similar to @aselle to `tensorflow/lite/experimental/c`
[code]

[2019-03-18 12:59] bsugerman commented on #23150
I have tried doing this and it does not work. Specifically, I have tried the following:

`from keras.optimizers import Adam`
`from tensorflow.keras.optimizers import Adam`
`from tensorflow.python.keras.optimizers import Adam`

In the first case, the model will not compile. With the latter two, it compiles but during the fit, I get the message "ValueError: Operation 'tpu_140522079557168/VarIsInitia

[2019-03-18 13:03] tensorflowbutler commented on #26290
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-03-18 13:52] Fochest commented on #26484
Hey,
I am a colleague of nmicieli.
Thanks so much for your input.

We tried your script and unfortunately there are just 2 small things that do not fit fully:
Naming of input-arrays and output-arrays. This is how we managed to actually succeed in passing the tflite call without the NullPointer:

`tflite_convert \
--graph_def_file=tflite_graph.pb \
--output_file=output.tflite \
--input_shapes=1,300

[2019-03-18 14:01] mrry commented on #26487
As far as I can tell, the `tf.data` part of your program is working correctly, and something is failing inside Keras. At a guess, some part of the internal code is expecting multiple inputs, but it's raising an error when it only receives one input. I'm not sure if that's a potential user error or a bug, so forwarding this to @fchollet for triage.

[2019-03-18 14:13] mrry commented on #26480
It's a generated file. The easiest way to see its contents might be to download and install a PIP package, and look at the library source.

[2019-03-18 14:13] #26480 closed

[2019-03-18 14:24] AndrzejKRK commented on #26484
I didn’t know what the graph looked like **nmichel**, so I assumed possible input / output nodes. I hope your problem is solved.

[2019-03-18 14:25] frogermcs opened #26835 "[TF2.0] KerasLayer cannot be loaded from .h5"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
Run on Colab example from copied from tensorflow/hub: https://colab.research.google.com/drive/1ymmzlWHieCuXR7UjX

[2019-03-18 14:34] Fochest commented on #26484
Where would the names of input- and output-arrays values be defined normally?

[2019-03-18 14:53] Rubinks opened #26836 "ERROR!!! AttributeError: module '_pywrap_tensorflow_internal' has no attribute 'TF_ImportGraphDefOptionsSetDefaultDevice'"
my programm error!
Using TensorFlow backend.
Traceback (most recent call last):

  File "<ipython-input-2-658d4b6817ec>", line 1, in <module>
    runfile('C:/Users/svm2717/Desktop/test.py', wdir='C:/Users/svm2717/Desktop')

  File "D:\ANACONDA\lib\site-packages\spyder\utils\site\sitecustomize.py", line 705, in runfile
    execfile(filename, namespace)

  File "D:\ANACONDA\lib\site-packages\spyder\

[2019-03-18 14:55] AndrzejKRK commented on #26484
The names of the Input / Output arrays are assigned in the graph architecture. You are using SSDLite Mobilenet V2 from the Tensorflow Object Detection API with post-processing, your graphics will have the correct output arrays that you specified.

[2019-03-18 15:34] jdduke commented on #26083
The first thing to check is to make sure the .tflite model in your APK is not being compressed.  In gradle, this would be specified as:
[code]

[2019-03-18 15:35] rojanulak opened #26838 "Trying to play alarm when it detects a person on android using tesnorflow"
I am trying to play a sound when i detect a person and it does not process more images while sound is playing and wait n number of seconds after the sound stops playing before it processes any more images. this is to prevent overlapping sounds being played.
I made changes to the line number below , it plays the sound when it detects an object that i tell it to, but problem is it does not detect an

[2019-03-18 15:36] jdduke commented on #23404
Is there nothing else in the logcat? Perhaps an exception being thrown or a more descriptive error?

[2019-03-18 15:37] chwang85 commented on #26826
I also got this issue (TF 1.13, CentOS 7, CUDA 10, python 3.7), which is caused by a old glibc version.
Are you sure it works on python 3.6?

[2019-03-18 15:47] NicolasVidal commented on #26083
I confirm this was correctly specified and the issue still happened.
The combination Batchnorm, Reshape, LSTM seems to be the culprit here as other model architectures work fine.

Thank you for your answer.

[2019-03-18 15:52] RaniemAR commented on #23963
Hello and Thanks all for your comments on this post
Any update on this issue guys ?
@lissyx I tried your suggested solution but still stuck and unable to build transform_graph on windows
Is there any pre-built binaries that we can use instead ?

Thanks and Regards

[2019-03-18 15:58] gavinlive commented on #23590
Awesome! Let me know how you get on. I tried something but it didn't end up working but I'm happy to put it on GitHub.

[2019-03-18 16:04] lissyx commented on #23963
@RaniemAR I can't speak for TensorFlow team regarding prebuilt binaries, but make sure you place the define at the right place.
Here: https://github.com/mozilla/tensorflow/commit/ebd1a0ff1a0ed3e211ced4033a42326fd25c8661

[2019-03-18 16:05] jdduke commented on #26083
Just curious, have you tried running this model directly against the Android TFLite SDK? Trying to rule out whether this is perhaps a versioning issues between MLKit and TFLite.

[2019-03-18 16:07] hadim commented on #24962
Once addressed this issue would allow this kind of code:

[code]

Currently, the above fails with:

[code]

[2019-03-18 16:09] kariya2 commented on #26709
As additional information, I also tried this

[code]

And it worked fine with no error

[2019-03-18 16:19] phquanta opened #26839 "Numpy like slicing on Tensors"
I was wondering if it is possible to implement Numpy like slicing annd updating a[1:10,2:20....]  in Tensorflow. It would make life much easier. Right now it code just gets bigger and uglier and bug prone.

[2019-03-18 16:23] alextp commented on #26638
@lhendre I'd happily review a pull request with this change. Do you think you have enough information to open one?

[2019-03-18 16:26] alextp commented on #17851
@Oktai15 if you're using keras with the functional API it should already work natively with distribution strategies. If not, you can use tf.function + strategy.experimental_run to make it work with multi-gpu.

[2019-03-18 16:28] alextp commented on #20402
@pratjosh9 The TensorScatter kernel is implemented in https://github.com/tensorflow/tensorflow/blob/ac3faa26869258b6149f154618feb08dccd810ff/tensorflow/core/kernels/scatter_nd_op.cc#L140 . In https://github.com/tensorflow/tensorflow/blob/ac3faa26869258b6149f154618feb08dccd810ff/tensorflow/core/kernels/scatter_nd_op.cc#L387 you see that we only register assign, add, and sub, so that's the place to

[2019-03-18 16:30] phquanta opened #26841 "Terribly slow conditional updates"
I'm trying to implement conditional  tensor updates such as:

#######################################################
Given i:

tf.scatter_update(self.vOut,i,[tf.cond( tf.less(tf.cast(tf.random_uniform([1])[0],tf.float64),tf.minimum(tf.cast(1.,tf.float64),  tf.exp(-self.dUk(vv,hh,vIn,hIn,i,j,krepl)))),
                 lambda:tf.slice(vv,[j,0],[1,self.n_v])[0],lambda:tf.slice(vIn,[i,j,0],[1,1,self

[2019-03-18 16:37] allenlavoie commented on #26814
Sorry you ran into this; should be fixed by https://github.com/tensorflow/tensorflow/commit/147e6777068ea569cbecbd270b8b07c648bae09b

I checked with 2.0.0-dev20190318 and the save and load works. "call" isn't there with that name; we should make subclassed Models export any explicitly-decorated methods. [This method](https://github.com/tensorflow/tensorflow/blob/ac3faa26869258b6149f154618feb08dccd

[2019-03-18 16:39] allenlavoie commented on #26814
Or we could just add a copy of the traced function under "call" instead of just "_default_save_signature".

[2019-03-18 16:49] amilsted opened #26842 "SVD handles small singular values poorly"
**System information**
- Have I written custom code: Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 on WSL, also Colab
- TensorFlow installed from (source or binary): binary (pip, no GPU)
- TensorFlow version (use command below): b'v1.13.1-0-g6612da8951' 1.13.1
- Python version: 3.6.8 (anaconda)

**The problem**
Performing an SVD of [this float32 matrix](https://githu

[2019-03-18 16:50] hadim commented on #26814
I confirm `2.0.0.dev20190318` fix the issue.

[2019-03-18 16:51] hadim commented on #26814
I let you close since you want to address something with `call`.

[2019-03-18 16:51] impjdi commented on #25657
Anyone who has subscribed to this:

I have just submitted the change with checking whether init's EGLContext is the same as invoke's EGLContext.  The phrase "submitted" applies to the internal code for now.  I'm not sure when this will go live to the public; we are trying to decide whether we should do another dev preview release, or whether we should just go with open source, as we're pretty clos

[2019-03-18 16:53] allenlavoie commented on #26814
Yep, leaving open to track the call issue. Thanks for confirming.

[2019-03-18 16:55] RaniemAR commented on #23963
Thanks a lot you were absolutely right, I thought I made sure I added it above the includes but when I double checked i found out that I was wrong. Fixed it and it now builds
Thanks a million

[2019-03-18 16:55] amilsted opened #26843 "SVD segfaults when given a 0x0 matrix"
**System information**
- Have I written custom code: Yes.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 on WSL, also Colab
- TensorFlow installed from (source or binary): binary (pip, no GPU)
- TensorFlow version (use command below): b'v1.13.1-0-g6612da8951' 1.13.1
- Python version: 3.6.8 (anaconda)

**Describe the current behavior**
Running `tf.svd([[]])` leads to a segf

[2019-03-18 17:01] chwang85 opened #26844 "Tensorflow 2.0: please do not deprecate important functions!!!"
According to Tensorflow 2.0, many important functions are deprecated, such as:
tf.layers.dense()
tf.layers.dropout()
tf.layers.flatten()
tf.layers.batch_normalization()
...
Since these functions are very widely used, and also very helpful for building complicted models, would you please keep them in the future versions?

[2019-03-18 17:03] omalleyt12 commented on #26274
This should be fixed in the latest nightly build

[2019-03-18 17:13] jvishnuvardhan commented on #26732
@peterhsu2018 and @Suger131 Could you post the issue in Tensorboard repo [here](https://github.com/tensorflow/tensorboard/issues). The TBoard Group is actively responds to the queries related TB. Thanks.

[2019-03-18 17:13] #26732 closed

[2019-03-18 17:15] lissyx commented on #23963
@petewarden Since our backport of the upstream fix works, I've opened a PR: https://github.com/tensorflow/tensorflow/pull/26845

[2019-03-18 17:17] galeone commented on #26844
You have to use `tf.keras.layers` instead of `tf.layers` to build the models.

[2019-03-18 17:21] jvishnuvardhan commented on #26733
This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow). There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks!

[2019-03-18 17:21] #26733 closed

[2019-03-18 17:25] drpngx commented on #25882
Sounds like a good idea. @frreiss are you familiar with the op replacement process? You have to:

1. Create a new op, call it v2.
2. Check it in, with tests etc and wait for two weeks.
3. Replace the call from v1 to v2.

The v2 version should be a strict superset of v1. Ideally it should behave exactly like v1 with the default options.

[2019-03-18 17:27] agramesh1 commented on #24980
@tatianashp  thanks.  Pinging @TensorFlow-MKL

[2019-03-18 17:33] EvanMata commented on #22794
My error message is copied a few lines down. I have tried some of the solutions that seemed to work for other people, but did not have them work for me.  Specifically:
Always python 3.6.8 & Windows 10 & Visual Studios 2017 & Quadro M1000M GPU
Used pip to install tensorflow-gpu 1.13.1
After reading I found out that CUDA 10.1 (which I tried originally) doesn't work with anything, so I switched to CU

[2019-03-18 17:35] gargn commented on #25361
Documentation on converting a 2.0 model to TFLite is available here: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/r2/convert/index.md

[2019-03-18 17:36] chwang85 commented on #26844
there is no dense(), dropout(), etc. to use, no matter keras or layers

[2019-03-18 17:38] dverstap commented on #26826
Yes, it works with python 3.6, because those binaries are built on Ubuntu 14.04 with same version of GCC. I use the CPU version of TF though, so perhaps it's different for the GPU version ...

[2019-03-18 17:38] simonefrancia opened #26846 "Cannot feed single element in ELMo TF-HUB embedder"
Hi,
I am working in building a Deep Neural Network Classifier starting from an ELMo embedding module that embeds string, using Tensorflow Hub Module. I am using this model definition:

[code]
This code works ok if the input of my network is a list with more than two strings, for example ['hello' , 'my name is Simone'].
If my input is a list with only one element (['hello']), this error appears:

[

[2019-03-18 17:38] chwang85 commented on #26625
Thanks.

[2019-03-18 17:44] martinwicke commented on #26135
I'm reopening this since we're still discussing the associated PR.

[2019-03-18 17:46] ttdd11 commented on #16291
@kingstarcraft I think the issue is using tensorflow_cc.lib from the bazel build. When you link against this, the SetDefaultDevice(... doesn't work as it does if you built using cmake in previous versions. Now that cmake build is no longer supported this is becoming somewhat of a shortcoming for the bazel build.

[2019-03-18 17:57] mandroid6 commented on #26839
I would like to take up this task, if at all it's possible. Need your comments @mihaimaruseac @fchollet

[2019-03-18 17:58] omalleyt12 commented on #26792
Hi @ablanch5, that's bc in TF1.13 `.trainable_weights` is a computed property.

I have a few ideas of what you could do here. The easiest is that, as of the latest nightly (but not as of TF1.13), TF Keras Lambda Layers can actually include variables, so you could do:

[code]

The most robust way to do this though (and the way that would work in all versions of Keras) is to create your own subclass

[2019-03-18 17:58] #26792 closed

[2019-03-18 18:00] galeone commented on #26844
You have to use the functional version of the layers in Keras. There are no `dropout`, `dense` and so on layers, because there are the keras layers that you can instantiate and then call:

https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/layers

For example:

`tf.layers.dropout` becomes `tf.keras.layers.Dropout(rate)(input)`

[2019-03-18 18:01] BorisMansencal commented on #26060
I have updated the code on the repository to be able to use it on Android 7/API 24.
So far, I have the following results:

 | smartphone model | android version/API level | result |
 | -------------------- | -------------------- | ------------- |
 | Nokia 7 Plus (TA-1046) | Android 8.1/API 27 | OK |
 | Nokia 7 Plus (TA-1046) | Android 9/API 28 | OK |
 | Nokia 6.1 (TA-1043) | Android 9/API 28 | OK

[2019-03-18 18:08] mandroid6 commented on #26844
Yup, @galeone is right.. TensorFlow is trying to standardize on tf.keras as the direction of general model building.

@chwang85 Also checkout https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/nn/dropout

[2019-03-18 18:12] mandroid6 commented on #26811
@TahaK @jvishnuvardhan, I have tried this myself and yes this issue is reproducible.
As per my observation this issue occurred in keras aswell https://github.com/keras-team/keras/issues/6844

[2019-03-18 18:12] chwang85 commented on #26844
Sorry, I am not asking for "how to write a TF program".
I believe it is ridiculous to deprecate these functional layers.
Keeping them in TF 2.0 is not a burden, and compatible with TF 1.x, why do you insist in deprecating them?

[2019-03-18 18:25] martinwicke commented on #25429
@dynamicwebpaige @annarev it seems to me this issue can be closed? Please reopen if I misunderstood.

@zh794390558 the conda packages are community supported, we do not build those.

[2019-03-18 18:26] lostmsu commented on #9171
What are my options prior to 2.0? Do I need to create a new graph every time I need to reproduce a result with some fixed seed?

[2019-03-18 18:29] siavashk commented on #26764
This is probably the same issue: https://github.com/tensorflow/tensorflow/issues/23096

[2019-03-18 18:53] mihaimaruseac commented on #26844
"Deprecated" means they are still there but will go away on a subsequent release (that is, in 2.0).

So, you can still use them in TF 1.x, but they won't be available in TF 2.x and later. The deprecated message is just to notify you and give you time to update.

Closing this and the duplicated #26151 and #26144

[2019-03-18 18:53] #26844 closed

[2019-03-18 18:53] mihaimaruseac commented on #26151
Obsoleted by #26844

[2019-03-18 18:53] mihaimaruseac commented on #26144
Obsoleted by #26844

[2019-03-18 18:53] #26144 closed

[2019-03-18 18:53] #26151 closed

[2019-03-18 18:58] chwang85 commented on #26844
Why not deprecate tf.Session()?

[2019-03-18 18:59] #21523 closed

[2019-03-18 19:02] musikisomorphie commented on #23590
@gavinlive, this week I have a deadline.   But I will keep working on it simultaneously, once I make some progress I will let you know. It would be great if you can put your code on GitHub so I can get some inspiration.

[2019-03-18 19:13] javacjh commented on #17422
In my case,` ubuntu 16.04, py3.6`, I have to use `tf1.7`, but my conda package is `cudatoolkit  9.0` and `cudnn     7.3.1`. at first I get error as follows:
`2019-03-18 13:18:32.718709: E tensorflow/stream_executor/cuda/cuda_dnn.cc:396] Loaded runtime CuDNN library: 7301 (compatibility version 7300) but source was compiled with 7102 (compatibility version 7100).  If using a binary install, upgrade

[2019-03-18 19:36] mihaimaruseac commented on #26844
It goes away too

[2019-03-18 19:45] musikisomorphie commented on #25218
@proteneer @skye, thank you for your response.
You suggest computing complex-step derivative when traversing the Ops of the graph.
But what about the possibility that the numerical errors of this kind of derivative will propagate and accumulate through the graph, especially when the nn is very deep?  I guess that is the reason why we always compute the analytic derivative for each op.
For sure for

[2019-03-18 20:00] proteneer commented on #25218
The whole point of this method is that it's *insensitive* to the choice of the step size and the typical numerical problems that plague finite-difference type of approaches. It should have the same error as prop and forward prop.

[2019-03-18 20:00] wangpengmit commented on #9171
Always providing the 'seed' argument to ops that accept it, along with manually setting the global seed via `tf.set_random_seed`, can mitigate the problem to some degree.

[2019-03-18 20:28] ymodak commented on #26831
Can you please provide the doc link and elaborate on the issue? Thanks!

[2019-03-18 20:28] jvishnuvardhan commented on #26290
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-18 20:28] #26290 closed

[2019-03-18 20:31] jvishnuvardhan commented on #26239
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-18 20:31] #26239 closed

[2019-03-18 20:31] jvishnuvardhan commented on #26241
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-18 20:31] #26241 closed

[2019-03-18 20:47] annarev commented on #26502
keras is imported dynamically in the __init__.py file.
I am not familiar with the way pyCharm looks for autocomplete symbols, but I will see if there is any workaround.

[2019-03-18 21:06] jvishnuvardhan commented on #26693
@ilous12 If possible, provide a solution here so that it might be helpful to the community. Thanks!

[2019-03-18 21:16] pawarrick commented on #5302
@samhodge Finally got around to trying this.  It was fairly straightforward. I needed to use the VC2015 property to "force" the __tcmalloc symbol to be included in the link.  The main benefit that I can observe are finer grained allocations.

[2019-03-18 21:23] hadim opened #26851 "[TF 2.0] tf.distribute.cluster_resolver.TPUClusterResolver() fails on Colab"
Using latest `tf-nightly-gpu-2.0-preview` as of today.

Consider the following code:

[code]

It fails on Colab:

[code]

This code comes from the [TF 2.0 documentation](https://www.tensorflow.org/alpha/guide/distribute_strategy#tpustrategy).

[2019-03-18 21:25] jvishnuvardhan commented on #25525
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-18 21:25] #25525 closed

[2019-03-18 21:25] TravisWhitaker commented on #24976
This is indeed a problem with protobuf; there's not much TF itself can do as @allenlavoie mentioned. We dealt with this by running TF operations in a separate process that talks over a UNIX socket, but @allenlavoie's solutions should work too.

[2019-03-18 21:27] TravisWhitaker commented on #24976
I hope the readers have learned a valuable lesson about using static initializers in this way from this thread.

[2019-03-18 21:29] hadim commented on #26851
Duplicated https://github.com/tensorflow/tensorflow/issues/26513

[2019-03-18 21:29] #26851 closed

[2019-03-18 21:35] jvishnuvardhan commented on #24029
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-18 21:35] #24029 closed

[2019-03-18 21:37] jvishnuvardhan commented on #25540
I assume that you found a solution for the issue. Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will open a new issue. Thanks!

[2019-03-18 21:46] chwang85 commented on #26826
It seems that TF for Python 3.7 are built on Ubuntu 16, and TF for Python 3.6 and lower are built on Ubuntu 14.
Ubuntu 16's glibc is higher than Ubuntu 14, which is the same as CentOS 7.

[2019-03-18 21:50] tarrade commented on #26804
possible duplicate of this 6 months old issue ?
https://github.com/tensorflow/tensorflow/issues/21983
or it was fixed and is now back with TF 1.12 ?

[2019-03-18 21:55] ymodak commented on #26810
This issue is more suitable on tfjs repo. The folks maintaining tfjs repo may guide you better. Please post it on tfjs from [here](https://github.com/tensorflow/tfjs/issues). Thanks!

[2019-03-18 21:55] #26810 closed

[2019-03-18 21:58] jvishnuvardhan commented on #25799
@bkazi Could you check with later version of TF and let us know whether the bug persists? Thanks!

[2019-03-18 22:26] MartinSmeyer commented on #23606
And it worked! :)

[2019-03-18 22:34] ymodak commented on #26790
TF 1.13.1 comes with pre built cuda 10.0 binaries. So please downgrade to cuda 10.0 and make sure to add cuda path as well. You can download [cuda 10.0 toolkit](https://developer.nvidia.com/cuda-toolkit-archive) here.

[2019-03-18 22:35] mrry commented on #26041
I believe @jsimsa has fix for this in the works.

[2019-03-18 22:36] sarc007 opened #26852 "For Python what happens to tf.contrib.data.AUTOTUNE in 2.0 as contrib is not there in 2.0 and what do we use instead ?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-03-18 22:38] jsimsa commented on #26041
Could you sync past https://github.com/tensorflow/tensorflow/commit/11f13a90545ff793762191da02e27669934c9e1c and see whether the problem goes away? Thanks.

[2019-03-18 22:40] jvishnuvardhan commented on #25843
I think it was resolved. Closing due to lack of recent activity. Please open new ticket if you see similar issue. Thanks!

[2019-03-18 22:40] #25843 closed

[2019-03-18 22:49] jvishnuvardhan commented on #26532
Here I am combining four more similar issues (#26534, #26535, #26537, and #26538) with this issue. I am closing the similar issue to reduce overhead on triaging similar issues. Thanks!

1. System information (#26534)

TensorFlow version: 2.0
Doc Link: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/unstack

2. System information (#26535)

TensorFlow version: 2.0
Doc Link: https://www.t

[2019-03-18 22:51] jvishnuvardhan commented on #26534
Closing this issue as I combined this issue with another similar issue (#26532). Thanks!

[2019-03-18 22:51] #26534 closed

[2019-03-18 22:51] jvishnuvardhan commented on #26535
Closing this issue as I combined this issue with another similar issue (#26532). Thanks!

[2019-03-18 22:51] #26535 closed

[2019-03-18 22:51] jvishnuvardhan commented on #26537
Closing this issue as I combined this issue with another similar issue (#26532). Thanks!

[2019-03-18 22:51] #26537 closed

[2019-03-18 22:51] jvishnuvardhan commented on #26538
Closing this issue as I combined this issue with another similar issue (#26532). Thanks!

[2019-03-18 22:51] #26538 closed

[2019-03-18 22:55] chwang85 commented on #26844
In TF 1.13, when tf.layers.dense() is used, there is a "deprecate" warning, but tf.Session() is OK.
By the way, I think it would be better if the difference between TF 1.x and TF 2.x is like that between Python 2.x and Python 3.x

[2019-03-18 23:09] jvishnuvardhan commented on #26307
@mingyr could you post it in DeepMind Repo [here](https://github.com/deepmind/scalable_agent/issues). Thanks!

[2019-03-18 23:40] hadim commented on #26852
Try `tf.data.experimental.AUTOTUNE` maybe?

[2019-03-18 23:50] #26643 closed

[2019-03-18 23:56] zaichang commented on #23082
@PINTO0309
Thanks for providing the package! For me your package worked after having run into problems with the installation stalling during numpy and h5py. Ended up solving that by downloading the wheels and installing them manually, in case it helps anyone else:

[code]

[2019-03-18 23:58] byronyi commented on #26709
@yuefengz Yuefeng, could you take a look here?

[2019-03-18 23:59] PINTO0309 commented on #23082
@zaichang
Thanks for the feedback!
I will update the installation procedure.

[2019-03-19 00:04] ymodak commented on #26769
@somil55 I was able to execute your code snippet successfully using google colab with TF 1.13.1 and 2.0-alpha.
Can you please make sure you have no other processes that utilize GPU?

[2019-03-19 00:07] ymodak commented on #26801
In order to expedite the trouble shooting process, Can you please provide the link to the demo you are referring to? Thanks!

[2019-03-19 00:10] zaichang commented on #23082
@PINTO0309
I'm not sure if that my amendments should be part of the official installation procedure as I'm not sure if the problem I faced is isolated to my setup (I did not start from a fresh image). But maybe it'd help someone out there

[2019-03-19 00:12] KaramAbuaisha commented on #26072
I think I figured out how, I edited this file `/tensorflow/tools/dockerfiles/partials/ubuntu/devel-nvidia.partial.Dockerfile` to include 5.0 in `ENV TF_CUDA_COMPUTE_CAPABILITIES` and I then executed the following

[code]

I was able to observe that the temporary docker file generated had 5.0 in the list of compute capabilities and confirmed again by running the command `docker history --no-trunc t

[2019-03-19 00:12] KeremTurgutlu commented on #24491
I am getting the same error even when switching from Tensorflow GPU to CPU.

[2019-03-19 00:16] #26735 closed

[2019-03-19 00:21] bglee85 opened #26853 "Process finished with exit code -1073741819 (0xC0000005)"
This is my simple coding:-

<em>import tensorflow as tf
print("Hi");</em>

**output**
Process finished with exit code -1073741819 (0xC0000005)

The "Hi" is not printed. I searched online for this issue, but seems like none of the people has this, so it has been bugging me for few days.

No GPU involved, just the CPU version of tensorflow.

I tried v1.13, v1.12, v1.11, and v.1.10, all gave the me t

[2019-03-19 00:32] gargn commented on #26708
When I try converting the model you provided, I ran into an issue with optimizers. However, I believe that's  been resolved since. I tried reproducing the model and converting it locally and I was successfully able to convert it with the following code:

[code]

For reference, this was the complete code:
[code]

I was also able to convert the SavedModel with the following code:
[code]