[2020-03-11 06:48] gunan commented on #29439
Unfortunately, TF is not using pytest, our testing libraries are derived from [python unittest](https://docs.python.org/2/library/unittest.html). So I do not think the above solution will work in this case.

[2020-03-11 06:51] gadagashwini commented on #37450
@ben-arnao, Please provide the complete standalone code to replicate the reported issue. Thanks!

[2020-03-11 06:51] Saduf2019 commented on #37448
@tonyreina
Would you please refer to[ this link](https://stackoverflow.com/questions/60414562/how-to-solve-the-biasgrad-requires-tensor-size-int32-max-invalidargumenterr) and let us know if it helps

[2020-03-11 06:54] gadagashwini commented on #37485
@fionapatriciamoss,
Please share the complete standalone code to reproduce the issue. Thanks!

[2020-03-11 07:55] Expert73 commented on #37430
I made the necessary changes to the ticket
 

 
 
--
Михаил 73
 

[2020-03-11 07:57] saikumarchalla commented on #37297
@CH0102NG  Closing this issue as it was resolved.Thanks!

[2020-03-11 07:57] #37297 closed

[2020-03-11 08:06] gadagashwini commented on #37495
I could reproduce the issue with Tf 2.1 on colab.
Please take a look at gist [here](https://colab.sandbox.google.com/gist/gadagashwini/a44f5f895fb6c07638a27b78fe7db355/untitled437.ipynb). Thanks

[2020-03-11 08:24] amahendrakar commented on #37301
@timzatko,
Could you please un-comment these three lines from your code and then try to convert the model.
[code]

I was able to create the .tflite file after removing the comments. Please check the attached screenshot for the output.
![37301](https://user-images.githubusercontent.com/57165142/76396663-9e006f80-639f-11ea-8b45-ded650c65085.png)

[37301_complete_logs.txt](https://github.com/tensorfl

[2020-03-11 08:30] Saduf2019 commented on #37463
@ayushmankumar7
As there is an existing PR monitoring the issue, proceeding to move this issue to closed status as it would be a duplicate for #37425

[2020-03-11 08:30] #37463 closed

[2020-03-11 08:37] thomasZen commented on #31797
The non deterministic and incorrect loss for the example above resurfaced in tensorflow 1.15. This happens both when installing the python3 library directly and when using docker:
- `pip3 install https://storage.googleapis.com/intel-optimized-tensorflow/intel_tensorflow-1.15.2-cp37-cp37m-manylinux2010_x86_64.whl`
- `docker pull "gcr.io/deeplearning-platform-release/tf-cpu.1-15"`

(CC: https://gith

[2020-03-11 08:41] amahendrakar commented on #37444
Was able to reproduce the issue, code works only when `test_nr = 6`, fails in all other cases. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/8708c578c99d40f7eab22c18b2e3874d/37444.ipynb). Thanks!

[2020-03-11 08:49] amahendrakar commented on #37446
Was able to reproduce the issue with TF-2.1 and TF-nightly. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/2fa295dab88e61fe31881f421504e3ac/37446-tf-nightly.ipynb). Thanks!

[2020-03-11 08:57] gadagashwini commented on #37479
@padoremu, When i tried to execute the issue by setting `num_iterations=1000` session got crashed. Which shows, it took more than 12GB of RAM. Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/cbeef0eba4a6ad187de71fe8cdc6019a/untitled436.ipynb) and confirm the issue. Thanks!

[2020-03-11 09:02] Saduf2019 commented on #37460
@aligirayhanozbay
PLease refer to this [link](https://github.com/wau/keras-rl2/pull/9), [link2](https://github.com/keras-rl/keras-rl/issues/348) and [link3](https://stackoverflow.com/questions/59682542/typeerror-len-is-not-well-defined-for-symbolic-tensors-activation-3-identity), let us know if this helps resolve your issue.

[2020-03-11 09:04] gadagashwini commented on #37500
@kieranricardo, I tried with latest Tf-nightly version, i don't get any warnings.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/a60f8fc2e229259a8f18665de35ac97b/untitled438.ipynb). Thanks!

[2020-03-11 09:08] gadagashwini commented on #37433
@PreVizsla, Did you install cuDNN? If not install cuDNN >=7.6 version.
Please take a look at the [Tensorflow doc](https://www.tensorflow.org/install/gpu#software_requirements). Thanks

[2020-03-11 09:11] gadagashwini commented on #37412
@venkat-kittu, Any update for the @freedomtan's comment. Thanks!

[2020-03-11 09:18] Saduf2019 commented on #37471
@moberweger
Running your code on nightly does not throw any error,please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/05700439ae5c12ea117a518f7a434d3a/37471.ipynb)
Would you please check this [link](https://github.com/tensorflow/tensorflow/issues/34345) for reference

[2020-03-11 09:18] gadagashwini commented on #37428
I could replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/ebc5400e9789fdc4a185ab4ac88eeeaf/untitled439.ipynb). Thanks!

[2020-03-11 09:26] gadagashwini commented on #37207
@ehennis, Try the following instructions to install Tensorflow in virtual environmnet.

[code]

[2020-03-11 09:29] gadagashwini commented on #37128
@Billy1900, Did you try with `import tensorflow.compat.v1 as tf`?

[2020-03-11 09:36] amahendrakar commented on #37449
@jploski,
I was able to run the code without any issues and did not observe any memory issues. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/2ee4ab61d311029962a3fecb4e969f33/37449.ipynb). Thanks!

[2020-03-11 09:36] 372046933 commented on #36953
I tried `TF2.1` and `tf-nightly` weeks ago. For `TF2.1` I got the same error. For `tf-nightly`, I cannot even iterate over imagenet data on HDFS, let alone the training.

[2020-03-11 09:40] lintian06 commented on #36763
Thank you for your comment! We have fixed this. :-)

[2020-03-11 09:40] 372046933 commented on #36953
By the way, the more workers added, the more frequently `Aborting RingReduce with Aborted: ...` occurred. I can reproduce it on 9 or 10 workers. Usually training will abort within 5 hours.

[2020-03-11 09:44] Saduf2019 commented on #37478
@ManishAradwad
Please refer to the screenshot attached ,I have verified on Firefox version "68.5.0esr (64-bit)" and it displays as expected, could you please check your network and Firefox version due to which you would be facing this issue.
![37478](https://user-images.githubusercontent.com/59822926/76403465-f852fd80-63aa-11ea-870e-98b4151fd4e5.png)

[2020-03-11 09:51] aakhundov commented on #36463
Any update on this one?

[2020-03-11 09:54] Billy1900 commented on #37128
isn't it with the same meaning as `FLAGS = tf.compat.v1.flags.FLAGS` I wrote?

[2020-03-11 09:54] jonyvp opened #37504 "Fit under TPU strategy fails on cardinality"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ran on colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: /
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.1.0 (Colab)
-

[2020-03-11 09:54] amahendrakar commented on #37462
@npv0,
Could you please check @RobinBaumann's comment and let us know if it works? Thanks!

[2020-03-11 09:57] nkoerb opened #37505 "Memory leak in model.fit"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
minimal workin

[2020-03-11 10:03] timzatko commented on #37301
Hi! When I uncomment this line

`# converter.allow_custom_ops = True`

I'm able to convert the model.

However, I need to provide an implementation of that operator to the TensorFlow Lite.

https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter

Since the `CombinedNonMaxSuppression` operator is a Tensorflow operator I believe it can be whitelisted in `lite/delegates/flex/whitelisted_fl

[2020-03-11 10:04] anilsathyan7 opened #37506 "Tensorflow hexagon tflite benchmark fails with quantized mobilenetv2"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow installed from (source or binary): Source
- TensorFlow version:  Build from: git clone --recurse-submodules https://github.com/tensorflow/tensorflow.git
- Python version: 3.6.9
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from source):gcc (Ubuntu 7.4.0-1ubuntu1~18.04

[2020-03-11 10:11] moberweger commented on #37471
Thanks @Saduf2019  works with nightly, so I am closing this one.

[2020-03-11 10:11] #37471 closed

[2020-03-11 10:14] #37195 closed

[2020-03-11 10:27] Saduf2019 commented on #37492
@jacksonloper
The code is running as expected in nightly version,please find the [gist](https://colab.sandbox.google.com/gist/Saduf2019/85ba436b4ff63317503a1380b30798b8/37492.ipynb) for the same

[2020-03-11 10:40] HBiSoft commented on #34230
@Nishikoh
I tried both of your suggestions and neither of them made a difference.

[2020-03-11 10:42] AlexisLapeze commented on #20444
same error here with python3.6 on nvidia jetson

[2020-03-11 10:43] AlexisLapeze commented on #1711
same error here withh nvidia jetson. How can i fix it ?

[2020-03-11 10:46] PreVizsla commented on #37433
yes, followed this https://www.easy-tensorflow.com/tf-tutorials/install/cuda-cudnn
and downloaded the 7.6 cuDNN and still same error

[2020-03-11 10:48] xunkai55 commented on #36763
https://github.com/tensorflow/examples/commit/92a4dcd9e5db3cb6755f19d9d9450bb07b2f90b5

Thanks a lot for the feedback!

[2020-03-11 10:48] #36763 closed

[2020-03-11 10:55] Saduf2019 commented on #37019
@votesappteam
could you please provide us with simple standalone indented code to replicate your issue in our local or share a gist of the error, if possible in colab for us to analyse it.

[2020-03-11 11:00] Saduf2019 commented on #37467
@minjac
Please share simple indented stand alone code, for us to replicate the issue faced by you in our local environment.

[2020-03-11 11:03] Saduf2019 commented on #37498
@Leslie-Fang
could you please downgrade the GCC/Compiler version to 7.x and build.

[2020-03-11 11:04] Saduf2019 commented on #37472
@WeiHao97
Can you please check this [link](https://stackoverflow.com/questions/57014559/how-to-use-select-to-specify-src-config-of-a-lower-level-library-dependency) and let us know if it helps

[2020-03-11 11:34] Leslie-Fang commented on #37498
Thanks @Saduf2019 Since I don't have GCC7.x available. I have tried GCC63 which gives the same error.
Is GCC7.x specifically required to build the debug version?

[2020-03-11 11:37] amahendrakar commented on #37474
@jlturriff,
Could you please check @Leslie-Fang's comment and let us know if it works? Thanks!

[2020-03-11 12:02] minjac commented on #37467
Scope scope = Scope::NewRootScope();
	auto input = Placeholder(scope.WithOpName("input"), DT_FLOAT);

	map<string, Output> vars;
	map<string, Output> assigns;
	vars["0"] = Variable(scope.WithOpName("w1"), { 1 }, DT_FLOAT);
	vars["1"] = Variable(scope.WithOpName("w2"), { 1 }, DT_FLOAT);
	assigns["0"] = Assign(scope.WithOpName("assign1"), vars["0"], Input::Initializer(0.f, { 1 }));
	assigns["1"] = A

[2020-03-11 12:18] WeiHao97 commented on #37472
Hi, I tried --cpu=arm and get the same error, I am wondering if tflite can be build on ubuntu with arm64 architecture since this config does not appear in the select() options.

[2020-03-11 12:27] KellyHwong commented on #6393
I bet we shoud use os.makedirs(WORK_DIRECTORY, exist_ok=True) instead of tf.gfile.MakeDirs(WORK_DIRECTORY)

[2020-03-11 12:36] WeiHao97 commented on #37472
@Saduf2019
 tflite can be build on ubuntu with arm64: architecturehttps://www.tensorflow.org/lite/guide/build_arm64

But my goal is to run the benchmark with bazel. I am not sure how to make this done. Please help

[2020-03-11 12:38] ManishAradwad commented on #37478
I'm using Firefox version 73.0.1 (64-bit), no network issues.

[2020-03-11 12:39] Saduf2019 commented on #32398
@ghannum
Is this still an issue. Please feel free to close the issue if it is resolved

[2020-03-11 12:43] Saduf2019 commented on #28381
@jschneier
please let us know if the issue still persist.

[2020-03-11 12:54] ManishAradwad commented on #37478
It's working fine in private window

![Screenshot_2020-03-11 tf keras callbacks TensorBoard TensorFlow Core v2 1 0](https://user-images.githubusercontent.com/29497701/76418914-7c19e380-63c5-11ea-8ea5-78ee4e4d9655.png)

[2020-03-11 13:03] Kriyszig commented on #37478
Did clearing cookie and cache help?
This seems like a problem with cached files - Firefox believes the image assets are cached but they aren't at the browser is falling back to the text in the alt tag

[2020-03-11 13:24] amahendrakar commented on #37488
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/54472b5156b814d46865161a8f93daea/37488.ipynb). Thanks!

[2020-03-11 13:31] mdanatg commented on #37440
Note that this might be a regression, though it's unclear how - has this loos been working in the past?

[2020-03-11 13:57] tfeher commented on #36959
Thanks Bixia. In general it looks like  that we have a single compute stream for a physical GPU. That ensures that the TRTEngineOp running on that GPU will have correct stream ordering. That was the main question discussed in this issue.

It is a little bit confusing though that the gpu_device_context could be [overriden](https://github.com/tensorflow/tensorflow/blob/aae5c218bea680b2c5ef581a4f2155

[2020-03-11 13:57] #36959 closed

[2020-03-11 14:00] #36552 closed

[2020-03-11 14:03] GoingMyWay commented on #34300
The feature_columns in TF 2.x is really slow in eager mode when initialization, and very very slow when forwarding. I am annoyed by TF 2.x. Some docs in feature_columns of TF 2.x are only copied from TF 1.x. For example, `input_layer` is not available in TF 2.x, but still on docs of TF 2.x.

[2020-03-11 14:16] leekyungmoon commented on #27392
Any updates?

[2020-03-11 14:20] jploski commented on #37449
@amahendrakar What does "ulimit -m" and "ulimit -v" report in your test environment? Did you set a memory limit in /etc/security/limits.conf (and logged in again to make it effective)? This code sample only crashes for me if there is a configured memory limit, and it works otherwise (sorry if that was not clear from the original bug report).

[2020-03-11 14:20] Ir1d commented on #27545
Is there any solution of this? Facing this same problem too.

[2020-03-11 14:29] amahendrakar commented on #37501
@talhaanwarch,
I was unable to reproduce the issue as the file `task_a_distant.tsv` is missing. Please find the gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/0768ebd3095d4a8410ba8407f45e595e/37501.ipynb).
Could you please share all the supporting files required to run the given code? Thanks!

[2020-03-11 14:35] amahendrakar commented on #36867
Any updates regarding this issue? Thanks!

[2020-03-11 14:35] amahendrakar commented on #36921
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-11 14:35] #36921 closed

[2020-03-11 14:36] hartikainen commented on #37061
Is there any way to still get this fixed in the tf 2.2 release? It seems like a regression from tf 2.1.

[2020-03-11 14:37] amahendrakar commented on #36937
Happy to help @sjurajpuchky. Closing this issue as resolved.

[2020-03-11 14:37] #36937 closed

[2020-03-11 14:38] SmileTM opened #37508 "[TF2.0] How to save model just keep recent 5 models by using keras?"
in eager mode, we can use `CheckpointManager` to save recent 5 models.
[code]
but how to save model just keep recent 5 models by using kears?
( model.complie() , model.fit(), callbacks )

[2020-03-11 14:40] amahendrakar commented on #37162
Any updates regarding this issue? Thanks!

[2020-03-11 14:47] amahendrakar commented on #37178
Any updates regarding this issue? Thanks!

[2020-03-11 14:50] alextp commented on #22221
I mean the 2.x branch; the 1.15 branch will get no further fixes.

On Tue, Mar 10, 2020 at 5:55 PM Stanley Gan <notifications@github.com>
wrote:

--
 - Alex

[2020-03-11 14:50] amahendrakar commented on #37202
Any updates regarding this issue? Thanks!

[2020-03-11 14:50] amahendrakar commented on #37205
Any updates regarding this issue? Thanks!

[2020-03-11 14:50] amahendrakar commented on #37219
Any updates regarding this issue? Thanks!

[2020-03-11 14:51] amahendrakar commented on #37262
@masumkmu,
Any updates regarding this issue? Thanks!

[2020-03-11 14:52] amahendrakar commented on #37268
Any update regarding the code to reproduce this issue? Thanks!

[2020-03-11 14:52] amahendrakar commented on #37285
Any updates regarding this issue? Thanks!

[2020-03-11 14:53] ryujaehun opened #37509 "Roadmap link is broken."
## URL(s) with the issue:
README.md  Resources's roadmap link is broken.
https://www.tensorflow.org/community/roadmap

## Description of issue (what needs changing):
It is occurred Page not found errer.

[2020-03-11 14:59] thameslu commented on #27325
thank you, i will have a try @sanjoy  @freedomtan

[2020-03-11 15:43] StanleyGan commented on #22221
@alextp Thanks for your reply! For specific reason (package dependencies), the code which I wrote is in 1.15, hence even if running on TF2 works, I still have to figure out a way as my code is written in 1.15. Unless you are suggesting that some other fixes which I am not aware of? Though based on the community link which you posted: https://github.com/tensorflow/community/pull/13, I checked the c

[2020-03-11 15:44] guischmitd opened #37510 "tf.config.experimental.list_physical_devices('GPU') stopped listing my gpu after update from 2.0.1 to 2.1.0"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-11 15:45] evgal commented on #37440
I cannot know as I only recently moved to TF 2.

[2020-03-11 15:45] Andreas5739738 commented on #35928
I can trigger the same warning messages and performance degradation by removing the @tf.function decorator from the GradientTape (only decorating its body) Example here with TF 2.0.0:

[code]
Output:
[code]

After adding the @tf.function decorator to the outside of gradienttape I do not get the warnings and it is faster:
[code]
Output:
[code]

[2020-03-11 15:50] jvishnuvardhan commented on #37445
@ManishAradwad Can you please link the PR with this issue? Thanks!

[2020-03-11 15:52] allenlavoie commented on #35928
@Andreas5739738, would you mind trying with the latest nightly? 2.2.0.dev20200311 should have https://github.com/tensorflow/tensorflow/commit/3a03164a24ea7dbfe221e84ca62e2a39b745c379 which we hope fixes both the Grappler messages and performance.

[2020-03-11 15:53] alextp commented on #22221
So I need an example to reproduce this against nightly, which is 2.x, so I
can debug it.

On Wed, Mar 11, 2020 at 8:44 AM Stanley Gan <notifications@github.com>
wrote:

--
 - Alex

[2020-03-11 15:55] ujjwal-ai opened #37511 "Error retrieving regularization losses after adding them to a pretrained model."
It appears that adding regularization losses to a pre-trained model results in some issue which leads to an error when retrieving the losses. I am having this problem with the TensorFlow 2.2.  Its git version is `v1.12.1-26428-gcb73044`.

The reproducible code is shown below:

[code]

The error message is -

 `AttributeError: 'Activation' object has no attribute 'kernel'`

[2020-03-11 15:57] RobinBaumann commented on #37510
Could you please provide information about your system configuration? Which cuda/cuDNN versions have you installed? You can find tested configurations at https://www.tensorflow.org/install/source#tested_build_configurations.

[2020-03-11 16:03] jsimsa commented on #37266
@rachellim could you please take a look? thank you

[2020-03-11 16:05] NEGU93 commented on #3348
Wow, that paper was indeed great! Helped a lot, thanks!

[2020-03-11 16:08] ismael-elatifi commented on #32817
I also have this warning in TF2.1.0. `model.predict(ds.batch(1))` works but gives this warning :
[code]

[2020-03-11 16:29] padoremu commented on #37479
Thanks. I can confirm the issue.

[2020-03-11 16:29] konradqweleg commented on #36867
So My final output is  same to
 [[407   0   0   0   0   0   0   0   0   0  0   0]
 [  272  0  0  0  0  0  0   0   0  0   0   0]
everywhere
I will give the results tomorrow

[2020-03-11 16:36] Andreas5739738 commented on #35928
I can still see the same warning messages with tf-nightly:
https://colab.research.google.com/gist/Andreas5739738/c3ec84dba75adb6880124c840c0be12f/untitled0.ipynb

[2020-03-11 16:49] ammirato opened #37512 "InaccessibleTensorError when appending to list, while looping."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-11 17:00] ben-arnao opened #37513 ""Segmentation fault" on Amazon deep learning AMI, gpu-compute instance"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platfo

[2020-03-11 17:02] allenlavoie commented on #35928
I don't see the Grappler messages in the colab. Which messages?

[2020-03-11 17:06] Andreas5739738 commented on #35928
If you run the code again and go to "Runtime" → "show logs", you will see them (they don't seem to be stored across runs).

[2020-03-11 17:21] StanleyGan commented on #22221
Using girving's example, ran using `tf-nightly-2.2.0-dev20200311`
[code]
I got a different error as shown below
[code]

[2020-03-11 17:24] alextp commented on #22221
This is an unrelated bug in the example code where it's using tf.while_loop
incorrectly and returning variables where tf expects tensors, I think.

On Wed, Mar 11, 2020 at 10:21 AM Stanley Gan <notifications@github.com>
wrote:

--
 - Alex

[2020-03-11 17:24] StanleyGan commented on #22221
Let me try to fix it.

[2020-03-11 17:37] ammirato commented on #37323
This only works for certain cases, and doesn't seem scalable to every function everywhere. I'd have to have a different global variable for each function.

What if my function is writting in one file, and I wrap it in `tf.function` in another file? I can't use a global variable as descirbed above to test the trace count in the caller code, which is where I would like to test.

[2020-03-11 17:40] pradhannihar commented on #3628
Just an idea, since freeze works only with simple mathematical operations we can convert the important part of the graphs including batch norm to simple mathematical operation and freeze the graph

[2020-03-11 17:42] allenlavoie commented on #35928
Ah, I see. @rmlarsen any ideas? Those warnings do explicitly mention the implementation selector:

[2020-03-11 17:43] mdanatg commented on #37323
I missed that this was a feature request. Sounds reasonable to me.

[2020-03-11 18:02] ymodak commented on #37366
`set_session` is deprecated too with TF 2.X. So you have to use `compat.v1` for using it in TF2.

[2020-03-11 18:02] DhavalNiphade commented on #36609
Hi,

I'm running TF version 1.15.2 and I still get the import error from the same place as @TaeheeJeong

Should I upgrade to TF 2.1 just to be able run `freeze_graph.py` ? Or is there a way to stay within 1.15.2 and still be able to use the script.

Thanks!

[2020-03-11 18:04] rchao commented on #27545
Discussed with @reedwm and we think the best solution is to un-export ProfilerHook from TF2. Will send out a fix for this.

[2020-03-11 18:22] StanleyGan commented on #22221
Should I run it with `tf.compat.v1.disable_v2_behavior()`? Because v2 is eagerly executed.

[2020-03-11 18:29] john5216c commented on #37401
Has there been any progress made on this issue ? Thanks!

[2020-03-11 18:41] SmileTM commented on #26247
@yongtang
Hi, this problem still exists in Tensorflow2.0， could you solve it ？

Audio WAV files from iOS are not read by Tensorflow audio_ops.decode_wav: Header mismatch: Expected fmt but found JUNK #32382

[2020-03-11 18:49] lamberta commented on #37330
This was semi-recently updated. Can you check again, please? https://www.tensorflow.org/datasets/overview

[2020-03-11 18:50] lamberta commented on #37330
Also, that doc lives here: https://github.com/tensorflow/datasets/blob/master/docs/overview.ipynb
You can send a pull request or issue to the tensorflow/datasets repo. Thanks

[2020-03-11 19:08] omalleyt12 commented on #37061
@hartikainen Thanks for the issue!

`Sequential` is only supported for Models with one input. If you have a nested input structure, you should be using the `Functional API` or Model subclassing:

[code]

[2020-03-11 19:08] #37061 closed

[2020-03-11 19:14] hartikainen commented on #37061
@omalleyt12, this seems weird to me. The original script above used to work with tf 2.1. Also, I'm still able to use Sequential with multiple inputs:
[code]

[2020-03-11 19:45] jsimsa commented on #36984
TLDR: Using multiprocessing with TF is not guaranteed to work.

TensorFlow runtime internally uses multi-threading and forking a multi-threaded program is generally not safe.  As per POSIX standard:

The reason your program is hanging is because the single thread replicated in the child process attempts to (inside of TensorFlow runtime) coordinate with others threads.

You could "fix" your program

[2020-03-11 19:45] #36984 closed

[2020-03-11 19:58] open-v commented on #36988
Yes I updated, and I am using another way

[2020-03-11 20:31] Tuxius opened #37515 "Tensorflow 2.1 Error “when finalizing GeneratorDataset iterator” - a memory leak?"
**Reopening of issue [#35100](https://github.com/tensorflow/tensorflow/issues/35100),** as more and more people report to still have the same problem:

**Problem description**

I am using TensorFlow 2.1.0 for image classification under Centos Linux. As my image training data set is growing, I have to start using a Generator as I do not have enough RAM to hold all pictures. I have coded the Generat

[2020-03-11 20:33] Tuxius commented on #35100
Since more and more people (@PhilipMay, @jsimsa, @drsantos89, @4doge, @Tuxius, ...) report to also still have the same issue I have reopened it [#37515](https://github.com/tensorflow/tensorflow/issues/37515)

[2020-03-11 20:37] guischmitd commented on #37510
Ok, from your link I have to assume it's a CUDA version issue. I'm currently on Ubuntu 18.04 with CUDA 10.0 + cuDNN 7.6.5
Unfortunately I cannot test this right now, I'll close the issue and comment again with results once I find the time.

[2020-03-11 20:37] #37510 closed

[2020-03-11 20:49] amitDaMan opened #37516 "Posenet Android Example. TestActivity crashes. Incorrect sample image size. comp:lite type: support"
**Describe the current behavior**
TestActivity Crashes. input image is wrong size.

**Describe the expected behavior**

Line 209: Posenet.kt
getInterpreter().runForMultipleInputsOutputs(inputArray, outputMap)

inputArray has a direct byte buffer of size 1088659,
Interpreter/model expects a TensorFlowLite buffer of 792588 bytes

The bitmap being used for this TestActivity is 560X353, while the size

[2020-03-11 21:52] ymodak commented on #37325
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-03-11 21:52] #37325 closed

[2020-03-11 21:57] ymodak commented on #36866
Set`experimental_new_converter` flag to `True` to for `implementations: TensorListFromTensor, TensorListReserve, TensorListStack, While`.
See https://www.tensorflow.org/api_docs/python/tf/lite/TFLiteConverter?version=nightly#attributes
[code]

[2020-03-11 22:03] ymodak commented on #36500
Closing this issue since it's resolved. Thanks.

[2020-03-11 22:03] #36500 closed

[2020-03-11 22:07] ymodak commented on #36024
Closing this issue since it's resolved. Feel free to reopen if necessary. Thanks!

[2020-03-11 22:07] #36024 closed

[2020-03-11 22:31] tomerk commented on #35050
I'm assuming this has been resolved by the same answer as for
https://github.com/tensorflow/tensorflow/issues/35107

Where: If you disable eager execution you should be importing `tensorflow.compat.v1 as tf` instead of `tensorflow as tf`, to make sure the APIs & behaviors match?

(Feel free to re-open if that's not the case!)

[2020-03-11 22:43] kieranricardo commented on #37500
thanks @gadagashwini! I tested with `tf-nightly` on my machine and I'm no longer getting the warning!

[2020-03-11 23:25] ManishAradwad commented on #37509
I'd like to fix this, but I can't find the proper link. Can anyone plz help??

[2020-03-11 23:30] brightcoder01 opened #37521 "Add concatenated_categorical_column in feature column api."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.1
- Are you willing to contribute it (Yes/No): Yes. A

[2020-03-12 00:29] wookayin commented on #32319
Starting from TensorFlow 2.2.0, it will work with gast 0.3.x but NOT gast 0.2.x any more. For TF <= 2.1, gast 0.2.2 is needed.

[2020-03-12 00:32] DracarysLu opened #37522 "Using @tf.function will turn the EagerTensor into Tensor"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-03-12 00:44] zeetherocker commented on #23115
@shenyingying and anyone else having the same issue, in the build.gradle file change the following:
`def nativeBuildSystem = 'bazel'`
to
`def nativeBuildSystem = 'none'`
Hope it helps!

[2020-03-12 01:01] lezh opened #37523 "Cannot build tensorflow from docker image tensorflow/tensorflow:devel-gpu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**

Base image: [tensorflow/tensorflow:devel-gpu](https://hub.docker.com/layers/tensorflow/t

[2020-03-12 01:10] k-w-w commented on #37240
I can explain why this doesn't work -- when you pass a dict, the class name should be the actual name of the class.  `categorical_crossentropy` is a function, and not a class. I think the documentation should be improved here.

@pavithrasv  Should we modify `losses.get` to return partial functions, if the class name is the name of a function?

[2020-03-12 01:18] tensorflowbutler commented on #9489
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-12 01:25] jpatts commented on #37240
Thank you very much for the clarification @k-w-w.
This returns a function:
[code]
And this returns the class.
[code]
This solves my problem completely. I agree that the documentation should be updated, as this was very confusing.

[2020-03-12 01:46] jss367 commented on #27900
I tried that and got this error:

[code]
I fixed it by upgrading to the latest version of tensorflow.

[2020-03-12 01:47] k-w-w commented on #35451
This should be fixed in the latest version of tensorflow -- can you update and check?

[2020-03-12 01:49] minjac commented on #37467
I had not faced this error, because I ran my code on VS2015 by using tensorflow_cc.dll.

[2020-03-12 02:14] jxhekang commented on #37076
Use "--noincompatible_do_not_split_linking_cmdline", when you build tf2.1.0.
Such as: bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package  --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --noincompatible_do_not_split_linking_cmdline

[2020-03-12 02:15] #37358 closed

[2020-03-12 02:16] jxhekang commented on #35770
Use --noincompatible_do_not_split_linking_cmdline, when you want to build your tf2.1.0, such as:
bazel build --config=opt --config=cuda //tensorflow/tools/pip_package:build_pip_package  --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=0" --noincompatible_do_not_split_linking_cmdline

[2020-03-12 02:28] jvishnuvardhan commented on #29471
@yaronhe Please create a new issue with a standalone code to reproduce the issue? Thanks!

[2020-03-12 02:48] limsijie93 commented on #37401
I'm also facing the same issue when I'm converting the mask rcnn model from TF object detection API (mask_rcnn_resnet50_coco_2018_01_28) trained on custom dataset.

Reference: [(https://github.com/tensorflow/tensorflow/issues/34845)]

Code:
[code]

Output:
[code]

[2020-03-12 02:51] limsijie93 commented on #34845
@srjoglekar246 Does  https://github.com/tensorflow/tensorflow/issues/34845#issuecomment-573156336 mean that we can't have instance segmentation for mobile inference at the moment? Or can it be done with some slight modification?

[2020-03-12 03:30] jvishnuvardhan commented on #37379
I am closing the issue as the related PR got merged. Please feel free to reopen if this was not resolved. Thanks!

[2020-03-12 03:30] #37379 closed

[2020-03-12 04:18] ravikyram commented on #37423
@a5467021

Looks like issue got resolved.Please close this thread if your issue was resolved. Thanks!

[2020-03-12 04:19] jelmd commented on #9489
Bad error reporting? Yes, of course.

[2020-03-12 04:25] ravikyram commented on #35626
@rdepew

Any update on this issue please. Thanks!

[2020-03-12 04:52] ShixiangWang commented on #28582
Same issue using 2.1.0

[2020-03-12 04:52] ikasumi commented on #30748
By installing CUDA 10.0, this problem may be solved.
[code]

[2020-03-12 04:58] lintian06 commented on #34230
We fixed this app to run with 4-threads CPU now, and it runs at about 10fps on Pixel 3. Should be close to the realtime.

[2020-03-12 05:17] HBiSoft commented on #34230
@lintian06
I tested the change and the preview is still "choppy". With CPU, I now get about 200ms.

[2020-03-12 05:28] #37423 closed

[2020-03-12 05:35] gadagashwini commented on #37500
@kieranricardo, Since the issue is fixed in latest TF version. Are you happy to close this issue. Thanks!

[2020-03-12 05:50] AdityaHPatwardhan commented on #37007
@kunalkul The errors are arising because of faulty setup of tensorflow. Please do not go to next step unless previous step is completed as it is surely not gonna work.
Plase see that you have successfully cloned [tensorflow](https://github.com/tensorflow/tensorflow/).
please change you have make version > 3.81 as recommended.
If you get errors such as cannot find file, then it seems you have not c

[2020-03-12 05:52] fionapatriciamoss commented on #37485
Please find the code below:

[link to code](https://colab.research.google.com/drive/1bFuQzoPi160uOaoY3C6lkE0xj9KFyqS5)

[2020-03-12 05:57] amahendrakar commented on #36853
@johan-andersson01,
Did you get the time to work on the example? Thanks!

[2020-03-12 05:58] ravikyram commented on #37522
@DracarysLu

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

Please, provide the simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster.Please, fill the [issue templete](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-03-12 06:02] ravikyram commented on #37513
@ben-arnao

Request you to share simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-12 06:04] CalebEverett commented on #35942
This appears not to work across different distribution strategies. I saved a model under a tpu distribution strategy and tried to load it with just cpu and it didn't work, producing the following error below. The model was saved with tf version 2.2.0-dev20200309 (in 2.1 save_model with a tpu distribution strategy didn't work) and tried to load with tf version 2.1.0-rc0.
[code]

Also loading weight

[2020-03-12 06:13] ravikyram commented on #37504
@jonyvp

Can you please help us with  colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-12 06:16] #37500 closed

[2020-03-12 06:17] Saduf2019 commented on #37478
@ManishAradwad
Please clear cache and set the Firefox settings to default settings this should help, is this the case with just tensor-flow website or other websites as well.

[2020-03-12 06:26] Saduf2019 commented on #36864
@akanyaani
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-12 06:26] #36864 closed

[2020-03-12 06:27] Saduf2019 commented on #36140
@Chosen-ones ,
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-12 06:27] #36140 closed

[2020-03-12 06:32] Saduf2019 commented on #36884
@RAHUL9545416,
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-12 06:32] #36884 closed

[2020-03-12 06:46] gadagashwini commented on #37511
I was able to reproduce the issue with Tf-nightly.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/74bc7c8242362aefd7db0798b57ea2ef/untitled440.ipynb). Thanks!

[2020-03-12 06:56] Saduf2019 commented on #37273
@anthonyatp
Could you please let us know if your goal is to deploy model using serving, in that case you will have to save the model using tf.saved_model.save

[2020-03-12 06:58] Saduf2019 commented on #37327
@coreyching
please update on the above comment.

[2020-03-12 07:05] gadagashwini commented on #25752
Issue is replicating with Tf 2.1 and tf-nightly
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/0a8985cbc57b9023cead7a0083c284c1/untitled441.ipynb) . Thanks

[2020-03-12 07:08] ravikyram commented on #37497
@xlnwel
I have tried on colab with TF version 2.1.0 and and i am seeing the below error `ValueError: too many values to unpack (expected 2)`. Is this the expected behavior?. It will be helpful if you provide a colab link to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-12 07:14] kunalkul commented on #37007
I was able to clone tensorflow succesfully, as I am able to navigate to the directory on my PC both through file explorer and cmd (This was after I updated my make version to 4.3, as I have already mentioned in the **edit** comment above).

I am not sure what's causing this error : `process_begin: CreateProcess(NULL, uname -m, ...) failed. tensorflow/lite/micro/tools/make/Makefile:25: pipe: No err

[2020-03-12 07:14] gadagashwini commented on #26244
@ghego, This issue is fixed in Tf-nitly version.
Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/ee6d90cb4fb5c3c9ea7c377afa9e327c/untitled442.ipynb) and let us know if you are happy with fix and close this issue. Thanks!

[2020-03-12 07:23] sanjoy commented on #36778
@wangxiang2713 Thanks.  Do you mind opening a separate github issue, with a reproducer (i.e. a script I can run to reproduce the problem)?

[2020-03-12 07:27] LuisCebrian opened #37525 "AttributeError: module 'tensorflow' has no attribute 'compat' when importing tensorflow"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.1.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: Installed with poetry
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN version:
- GPU model and memory:

[2020-03-12 07:41] ashutosh1919 commented on #37509
@ryujaehun , Please refer to [this commit](https://github.com/tensorflow/docs/commit/297a36784c1f665a21e076301d7fd3603797be33) in the doc repo. It specifies that they have removed the roadmap page on Jan-10, 2020. The reason may be because they may be updating the readme and will upload new readme as soon as they complete gathering the newly added features.

[2020-03-12 07:53] wangxiang2713 commented on #36778
I am very sorry that i can't provide the code and model because of authority, but i find that i can calibrate the model successfully with 16G GPU, but 'out of memory' log still esits. Can i control the GPU the function uses?

[2020-03-12 08:35] ashutosh1919 commented on #37416
@ravikyram , I think this example should also be added in the doc, so here it is. PR #37528 adds this example to doc.

[2020-03-12 09:17] ravikyram commented on #37407
@zkx741481546

looks like issue got resolved. Please close this thread if it solves your question. Thanks!

[2020-03-12 09:22] 372046933 commented on #36953
@jvishnuvardhan  I added `TF_CPP_VMODLE=grpc_state=2` to ENV, and got some output from GRPC.
Do we need to **back-off** before the first retry?
[code]

[2020-03-12 09:22] amahendrakar commented on #37172
@mohlondon,
I was able to reproduce the error `AttributeError: module 'tensorflow._api.v1.nn' has no attribute 'seq2seq'` with [TF1.15](https://colab.sandbox.google.com/gist/amahendrakar/91c7aaada701ffd291ce90a73d652373/37172.ipynb#scrollTo=6m5QcJq4YXLi).

However, running the code with [TF 0.12](https://colab.sandbox.google.com/gist/amahendrakar/33999ac65f2885262d08f9384d0e9a0c/37172-0-12.ipynb),

[2020-03-12 09:23] rakeshmothukuru1 opened #37531 "Incorrect number of Total Parameters when Loading a Saved Model with Trainable = False"
[Resume_Classification_Model.zip](https://github.com/tensorflow/tensorflow/files/4324479/Resume_Classification_Model.zip)
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): N/A, as it can be reproduced in Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung

[2020-03-12 09:33] Saduf2019 commented on #37505
I have replicated the code shared above, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/1df4ffa08b3cd2491fa3395fe4815dac/37505.ipynb)

[2020-03-12 09:40] gadagashwini commented on #28598
Issue is replicating with `Tf-nightly==2.2.0.dev20200311`,
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/0501e4610fd758d4ba6e72a95d35604b/untitled443.ipynb). Thanks!

[2020-03-12 09:40] freddan80 commented on #30953
Hello @dimtass ! Let me know what performance numbers you get with CMSIS-NN using int8 quantization. X-CUBE-AI uses CMSIS-NN kernels as well, so we expect a similar performance. Thanks for showing interest in CMSIS lib!

[2020-03-12 09:56] freedomtan commented on #37523
it seems some dependency is missed.

[code]

[2020-03-12 10:06] pandrey-fr commented on #37522
Yes, that is the point. Please [read the docs](https://www.tensorflow.org/guide/eager#work_with_functions).

[2020-03-12 10:06] freddan80 commented on #37361
Hi @ml-0 ! '-fno-builtin' utilizes optimized implementations of e.g. memcpy and memset, which are heavily used by CMSIS-NN. This could be the reason why you see a difference. I assume you use GCC? Here's some more info:

https://gcc.gnu.org/onlinedocs/gcc/C-Dialect-Options.html

Thanks for showing interest in the CMSIS-NN lib!

[2020-03-12 10:12] gadagashwini commented on #37525
@LuisCebrian,
Can you install with `PIP` as follows,
`pip install tensorflow==2.1`
Let us know if issue still persists. Thanks

[2020-03-12 10:16] Susmit-A commented on #37497
A `Cell` processes a single time step, while a `RNN` processes all time steps. Setting `return_sequences = True` in RNN returns three values, of shapes `[batch_size, time steps, output_shape], [batch_size, output_shape], [batch_size, output_shape]`.

Check [the example on the TF LSTM page](https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM)

[2020-03-12 10:17] gadagashwini commented on #29043
Was able to replicate the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5c02761608274ceb4720812d78d6390d/untitled444.ipynb). Thanks!

[2020-03-12 10:18] ashutosh1919 commented on #37330
@coreyching  and @lamberta , I have raised PR [#1633](https://github.com/tensorflow/datasets/pull/1633) to resolve this issue. Please check PR and also suggest changes if needed.

[2020-03-12 10:19] talhaanwarch commented on #37501
@amahendrakar  please check this file, i have updated.
https://colab.research.google.com/drive/1D-eKgddRHROG39R2iyqE3qR7w0N0OHAB

[2020-03-12 10:20] ml-0 commented on #37361
Hi @freddan80, thanks for your reply. I know that '-fno-builtin' can be used to add optimized versions of build-in functions. What would be the intention of using this option? I guess it is to speed-up the CMSIS-NN kernel, right?
Unfortunately, what I observe is the opposite: with '-fno-builtin' specified the execution time of the CMSIS-NN kernel on the SparkFun Edge (and on my Cypress PSoC6 board

[2020-03-12 10:23] gadagashwini commented on #29112
@EmanueleGhelfi, Is the still persists?
Did you check the @mdanatg's comment. Thanks

[2020-03-12 10:25] freddan80 commented on #37361
Sorry for the confusion. I edit:ed my previous comment.

[2020-03-12 10:32] ml-0 commented on #37361
Hi @freddan80, I see that you have edited your previous post and inverted the "do not utilize". Does it mean that the built-in versions of memcpy and memset are faster and should be used? Then my question is: why is the option '-fno-builtin' specified in all Makefiles for Cortex M3 and M4 target (apollo3evb_makefile.inc, bluepill_makefile.inc, ecm3531_makefile.inc, stm32f4_makefile.inc). At least

[2020-03-12 10:33] gadagashwini commented on #29178
@alanhdu, This is fixed in Tf-nightly==2.2.0.dev20200312.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/39f97b21499f862848df44f6f24f680d/untitled445.ipynb) and let us know can we close this issue. Thanks

[2020-03-12 10:53] amahendrakar commented on #37508
@SmileTM,
Could you please look into keras [ModelCheckpoint](https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/ModelCheckpoint) and let us know if it helps? Thanks!

[2020-03-12 10:54] SmileTM commented on #37439
# build model
[code]
# save and load model
## Approach 1
https://www.tensorflow.org/guide/keras/save_and_serialize#approach_1

[code]
**It works well**.

## Approach2
https://www.tensorflow.org/guide/keras/save_and_serialize#approach_2

[code]
**ValueError**: Model <__main__.Model object at 0x4441057d0> cannot be saved because the input shapes have not been set. Usually, input shapes are automatic

[2020-03-12 11:05] Swann14444 opened #37534 "loading pre-trained resnet-50 for Object Detection Models on TensorFlow 2.0"
## URL(s) with the issue:
https://github.com/tensorflow/models/tree/master/official/vision/detection

## Description of issue (what needs changing):

Hi,
In the "Train a vanilla ResNet-50 based RetinaNet." it is said to use the "path to the pre-trained Resnet-50 checkpoint". There is no link to any pre-trained model.
![image](https://user-images.githubusercontent.com/54512903/76514447-2f331d00-645

[2020-03-12 11:21] freddan80 commented on #37361
Yes, they are faster.

Interesting observation! We haven't used these target configs for benchmarking CMSIS-NN (using FPGA boards with ref systems)

Currently most usecases are based on unit8 models, for which we don't have much CMSIS-NN support. For that reason I guess this issue hasn't been spotted yet.

@MeghnaNatraj , do you know the background to why '-fno-builtin' is set in the target config

[2020-03-12 11:26] DRTorresRuiz commented on #33285
Working with **virtualenv**:
`env/lib/python3.7/site-packages/tensorflow_core/python/keras/utils/data_utils.py`

[2020-03-12 11:49] minjac opened #37536 "How to use ApplyAdam(C++API)?"
Hi, I has used C++ API, but I got some problem about ApplyAdam:
  ApplyAdam(const ::tensorflow::Scope& scope, ::tensorflow::Input var,
          ::tensorflow::Input m, ::tensorflow::Input v, ::tensorflow::Input
          beta1_power, ::tensorflow::Input beta2_power, ::tensorflow::Input lr,
          ::tensorflow::Input beta1, ::tensorflow::Input beta2,
          ::tensorflow::Input epsilon, ::tens

[2020-03-12 11:51] ErvisTusha commented on #34346
We know its hard but please make it work for TF2.2
with ImageDataGenerator can make a model in few minutes :)
@lindong28 @jsimsa Please

[2020-03-12 11:53] take5v commented on #24496
I've also faced such a problem, which was solved by adding an environment variable TF_FORCE_GPU_ALLOW_GROWTH=true.

The configuration is the following:
Windows 10
Tensorflow compiled from source r2.0
Bazel: 0.26.1
C++ compiler: MSVC 2017
CUDA: 10
cuDNN: 7.6.5

[2020-03-12 12:01] SmileTM commented on #37508
ModelCheckpoint can't achieve this function. I hope it can achieve this function `max_to_keep` in the future .

But I can achieve this function by Overriding `Clallback`.

[code]

[2020-03-12 12:01] #37508 closed

[2020-03-12 12:16] Saduf2019 commented on #37536
@minjac
Could you please share a simple standalone code to replicate the issue faced by you in our local,along with the tensor flow version.

[2020-03-12 13:02] StefSmeers commented on #36864
@Saduf2019

I have the same issue.
Quick note: I'm fairly new to both Python and Tensorflow. It might be just an issue on my side. Feel free to point it out.

**Specs:**
* OS Platform: Windows 10 Pro Version 1903
* TensorFlow installed from (source or binary): binary
* TensorFlow version: 2.1
* Python version: 3.7.4
* Bazel version (if compiling from source): /
* GCC/Compiler version (if compiling

[2020-03-12 13:03] ManishAradwad commented on #37478
@Saduf2019 It is now working properly. Thanks for looking into this!
You may close this issue, if it's fine.

[2020-03-12 13:03] amahendrakar commented on #37512
Was able to reproduce the issue with [TF 2.1](https://colab.sandbox.google.com/gist/amahendrakar/5a83dc663fb1354abc81409a1516c9e3/37512.ipynb) and [TF-nightly](https://colab.sandbox.google.com/gist/amahendrakar/68b7db6ce215b021abc9d40cd923f528/tf-nightly-37512.ipynb). Please find the attached gist. Thanks!

[2020-03-12 13:08] lihongxun945 opened #37537 "Why the loss doesn't decrease in my CNN model?"
Hi All,
I am new to tensorflow, and I find the losses doesn't decrease when train a CNN model on Cifar100 dataset.

Here is the Model code:

[code]

and this is the link for the entire code: https://colab.research.google.com/drive/1kIT_18Z-ymEgzqgG4nh4sZdBkA1bnJdO

and, It will be OK if I use only one Conv2D layer with maxpooling, like this:

[code]

thanks~

[2020-03-12 13:22] alanhdu commented on #29178
Oh, sorrry! Yes, it looks like support has been added.

[2020-03-12 13:22] #29178 closed

[2020-03-12 13:32] ghiles-bgp commented on #34525
Thank you for the 1x1 convolution suggestion, we were not aware of the trick. Since the matrix by matrix multiplication is not supported I think the issue can be closed since this is more a feature request and you seem to be aware of it.
Thanks again for you help!

[2020-03-12 13:32] #34525 closed

[2020-03-12 13:43] ashutosh1919 commented on #37240
@jpatts and @k-w-w , please take a look at PR #37538 and suggest more changes if needed. I have added descriptions and examples which will clarify all doubts regarding `tf.keras.losses.get`

[2020-03-12 13:46] mdanatg commented on #37382
@rohan100jain cold you help triage this?

[2020-03-12 14:08] Namburger commented on #34135
@Syirrus I believe this USB3.0 issues is actually a bug in rpi4's HW. Check [here](https://www.raspberrypi.org/documentation/hardware/raspberrypi/usb/README.md)

[2020-03-12 14:11] jaydone78 opened #37540 "problem load saved model using tensorflow java"
Hello,

I was using keras to build a simple MLP model, and want to use it for online prediction. Our online system is written in java, so I want to use tensorflow-java lib to load the model in savedmodel format. I saved the keras model using following scripts:
`  model = tf.keras.models.load_model(path)
  tf.saved_model.save(model, 'savedmodel/v1')
`

and write some simple test code to check all t

[2020-03-12 14:13] abhinavsp0730 commented on #36452
Hey, @MarkDaoust  I'll happy to work in this issue.

[2020-03-12 14:19] amahendrakar commented on #37531
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/73a3b70d4f50f8a5e460e212be8c6793/tf2-1.ipynb). Thanks!

[2020-03-12 14:29] panmin commented on #34230
the same problem，the preview delay， why readme gif is affluent

[2020-03-12 14:47] Eshan-Agarwal commented on #37540
Hey @jaydone78  `model = tf.keras.models.load_model(path)` is used for loading model which is saved using `tf.keras.models.save_model` refer (this)[https://www.tensorflow.org/api_docs/python/tf/keras/models/load_model] for loading model and (this)[https://www.tensorflow.org/api_docs/python/tf/keras/models/save_model] for saving.

Or you can just do as for saving and loading model :

`model.save("m

[2020-03-12 14:53] gthb opened #37541 "load_model(filename) fails on weight ordering if sublayer .trainable is modified after init"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS, Darwin-19.3.0-x86_64-i386-64bit, mac version: ('10.15.3', ('', '', ''), 'x86_64')
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v1.12.1-26991-g5a6ae102f0 2.2.

[2020-03-12 14:56] Eshan-Agarwal commented on #37537
@lihongxun945  You are not defining your last layer properly like you set `activation = None` replace it with `activation = "softmax"`

[2020-03-12 15:01] Swann14444 commented on #37534
I have reuploaded this issue there :
https://github.com/tensorflow/models/issues/8274
because it concerns models and not tensorflow.

[2020-03-12 15:01] #37534 closed

[2020-03-12 15:04] Andreas5739738 commented on #6541
Here is a simple benchmark comparing tensorflow and numpy's real-valued 1D FFT on CPU, showing that TF is slower by a factor of 10:
https://colab.research.google.com/gist/Andreas5739738/fc603468829ee0fc7e40a2e27d8a6661/fft.ipynb

[code]
[code]

[2020-03-12 15:07] tanjhysj0 commented on #34944
how?

[2020-03-12 15:14] anthonyatp commented on #37273
I would like to understand why I can't restore a checkpoint and make a prediction but yes, the main goal is to deploy model using serving.

Although, I have tried this before. I've used `model.save()` and` tf.saved_model.save` both give this error when trying to save the decoder:

[code]

I am using `decoder.save('decoder_model')` and  `tf.saved_model.save(decoder, 'decoder_model')`

Am I doing so

[2020-03-12 15:14] jaydone78 commented on #37540
I want to use the model in 'saved_model' format, which can be used in c++, java.

[2020-03-12 15:32] WillNichols726 commented on #37447
Tensorflow 2.1.0

I was able to use the like below to successfully cross-compile libtensorflow_lite.a
https://www.tensorflow.org/lite/guide/build_rpi

Do these instructions also compile the XNNPACK delegate? From what I could see rooting around in the Makefile at tensorflow/lite/tools/make, it didn't look like the XNNPACK delegate was included in the build, nor were there any options to include it

[2020-03-12 15:35] Eshan-Agarwal commented on #37540
Can you please provide code for model also which you are saving ?

[2020-03-12 15:37] jsimsa commented on #28598
This issue should be fixed by https://github.com/tensorflow/tensorflow/commit/f313fdce45d4933938a89980f6ca9bb2c8cbd27a

[2020-03-12 15:37] #28598 closed

[2020-03-12 15:48] jsimsa commented on #34346
The good news is that after https://github.com/tensorflow/tensorflow/commit/a70a66d2193a0f7cd0a7014a5f2c55d508559c56, it should be possible to use Python generator (such as `ImageDataGenerator` or `tf.data.Dataset.from_generator`) for your input pipeline on CloudTPU. The bad news is that the changes did not make it to the TF 2.2 release but should now be available in the TF nightly.

It would be g

[2020-03-12 15:54] Eshan-Agarwal commented on #37541
when you are passing `trainable = True ` its works fine with `.h5` and when I am changing `.h5` with `.tf` it also load model with `trainable = False` but model loaded is with `trainable = True`

[code]
Output :

Trainable params: 18
Non-trainable params: 0

but in actual with trainable = False model summary be like :

Trainable params: 12
Non-trainable params: 6

[2020-03-12 15:56] srjoglekar246 commented on #34845
@limsijie93 There are other models you can use, such as DeepLabv3 which has a [TFLite example](https://www.tensorflow.org/lite/models/segmentation/overview)

[2020-03-12 16:03] tanertopal commented on #37525
Just had the same issue and it was solved after installing as described. Before I was installing tensorflow through poetry.

[2020-03-12 16:18] ramawidrap opened #37542 "TFLite Inference Run on Android Issues"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-03-12 16:22] drasmuss opened #37543 ""Another profiler is running" in TF 2.2.0rc0"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below): 2.2.0rc0

[2020-03-12 16:36] aligirayhanozbay commented on #37460
Dear @Saduf2019 ,
I am not using keras-rl, so I believe this issue is not directly related to the issues you linked. May I ask why a len() check is being done on the strides argument of tf.nn.conv2d only?

[2020-03-12 16:41] jvishnuvardhan commented on #28582
@Yuki-Nagato Can you please open a new issue with full error trace so that community will get benefited. Also, when you open new issue, please fill the issue template to describe details of your system. thanks!

[2020-03-12 16:41] jvishnuvardhan commented on #28582
@ShixiangWang Can you please open a new issue with full error trace so that community will get benefited. Also, when you open new issue, please fill the issue template to describe details of your system. thanks!

[2020-03-12 16:44] alihamid996 commented on #34759
@zaccharieramzi  did you find any other solution other then rolling back to 10.1?

[2020-03-12 16:50] ppatrikg opened #37544 "Concat op not quantized"
This issue is related to the concat implementation used for TFlite and TFlite micro.
For uint8 there are no restrictions on having the same scaling/zeropoint in the Input/Output.

But the implementation is not quantized
in concatenation.cc:
// TODO(prabhumk): This is the same as the optimized implementation.
// TODO(prabhumk): The quantized implementation of concatentation isn't fully
// quantized

[2020-03-12 16:53] ErvisTusha commented on #34346
i get error with dev20200312 .
should I wait for TPU update ?

!pip install tf-nightly
!pip install tf-nightly-gpu
import tensorflow as tf
print(tf.\_\_version\_\_)
2.2.0-dev20200312

[code]

[code]

[2020-03-12 17:04] jsimsa commented on #34346
@rxsang could you please take a look at the above issue ... this does not seem to be related to `ImageDataGenerator` and looks like a generic TPU initialization error

[2020-03-12 17:08] ErvisTusha commented on #34346
https://github.com/googlecolab/colabtools/issues/954#issuecomment-576800796

'''
Colab has tensorflow 2.1.0 pre-installed. In order to use it, run the magic %tensorflow_version 2.x. When you run this (before importing tensorflow), we not only select 2.x but also do some additional work to configure the cloud TPU to use 2.x. The error you're seeing results from the TPU using 1.15 and your runtime u

[2020-03-12 17:32] rxsang commented on #34346
Yeah this is a coordinator and tpu worker version mismatch error, please make sure both of your vm and tpu worker are using 2.x nightly.

[2020-03-12 17:44] CalebEverett opened #37545 "tf.tpu.experimental.initialize_tpu_system() throwing error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock - no
example script provided in TensorFlow):
- OS Plat

[2020-03-12 17:46] amitDaMan commented on #37516
Would it be easier if I created pull requests instead of opening issues, if I have a solution to a bug.

[2020-03-12 17:51] ErvisTusha commented on #34346
@rxsang Im using Colab what should I do ?

[2020-03-12 17:51] reedwm commented on #37130
Thanks for filing the issue! I could reproduce the slowness on TF 2.1 but not TF 2.2rc0, so I'm assuming the issue has been fixed. I also could not reproduce the NaN issue on 2.2rc0 after waiting for 1 epoch, but did not try on 2.1 since I got impatient waiting. Let me know if you still see the NaN issue.

You can get the fix either by installing 2.2rc0 with `pip install tensorflow==2.2rc0` or by

[2020-03-12 17:51] #37130 closed

[2020-03-12 18:26] PawelFaron opened #37546 "Android model personalization crash with keras model"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  **- no**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10/Android
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: Android Emulator
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (u

[2020-03-12 18:31] tensorflowbutler commented on #37054
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-12 18:46] al-farabi12 commented on #28582
Hi, I have the same problem too. My system is lenovo z500 ideapad on windows 10 with 'GeForce GT 740M' GPU.
when I installed tf 2  with cuda 10.2 and cuDNN 7.6 I was able to run pytorch command torch.cuda.is_available() and get True while tf could not recognize my GPU.
Then I deleted cuda 10.2 and installed 10.1 and was able to find my GPU.
However now I face problem of getting the name of gpu wit

[2020-03-12 19:47] drasmuss opened #37548 "Keras connectivity metadata is not set correctly in TF 2.2.0rc0"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below): 2.2.0rc0

[2020-03-12 20:16] jaketae commented on #37531
I would just like to add to the discussion the fact that calling `compile()` after setting `trainable = False` resolves the issue, *i.e.* the correct number of parameters are displayed.

[2020-03-12 20:17] rxsang commented on #34346
Hi, you can do the following trick to install nightly 2.x in both vm and tpu worker.

[code]

[2020-03-12 20:52] ckcampbell248 commented on #35031
Are there any updates on this? I'm having the same issue.

[2020-03-12 20:56] belambert commented on #37545
Just had this same problem too.  Updating to the newest nightly build fixed it for me.

[2020-03-12 21:09] trayanmomkov commented on #35031
See this: https://github.com/tensorflow/tensorflow/issues/34350

[2020-03-12 21:14] czabo commented on #37274
Thank you for your update @swghosh :) Yes it would be indeed helpful if there would be any further information regarding all this.

[2020-03-12 21:29] SSaishruthi commented on #37323
Any suggestions on how this can be implemented? I would like to give a try if we have any pointers

[2020-03-12 21:35] jdduke commented on #37432
Mid Q2. We'll post here when it's available in the nightly builds.

[2020-03-12 21:57] jvishnuvardhan commented on #37054
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-12 21:57] #37054 closed

[2020-03-12 22:02] ammirato commented on #37323
A simple solution would be to just add a public method to the `Function` class, that returns `self._call_counter.get_tracing_count()`.

 I'm not sure of the implications of this though. I'm sure there is a reason `_call_counter` is a private field, exposing its state might not be great.

[2020-03-12 22:10] gowthamkpr commented on #37480
@ayushmankumar7 Can you please be clear on what you are trying to explain here. Thanks!

[2020-03-12 22:14] jvishnuvardhan commented on #28111
I am closing the issue as it was resolved. Please feel free to reopen if the issue persists again. Thanks!

[2020-03-12 22:14] #28111 closed

[2020-03-12 22:19] gowthamkpr commented on #37339
Closing this issue as it has been fixed. Please add additional comments and we can open the issue again. Thanks!

[2020-03-12 22:19] #37339 closed

[2020-03-12 22:34] gowthamkpr commented on #37100
Closing this issue as it has been inactive for more than 15 days. Please add additional comments and we can open this issue again. Thanks!

[2020-03-12 22:34] #37100 closed

[2020-03-12 22:38] gowthamkpr commented on #37133
@ParikhKadam Closing this issue here as it a duplicate of [#8209](https://github.com/tensorflow/models/issues/8209). Lets track it in the models repo.

[2020-03-12 22:38] #37133 closed

[2020-03-12 22:46] gowthamkpr commented on #36814
@harshithdwivedi Can you please give the detailed steps to package the app with py2app.Thanks!

[2020-03-12 22:48] jvishnuvardhan commented on #34687
@shkarupa-alex I think this was resolved in recent `tf-nightly`. Please change the first line of your code to `!pip install tf-nightly` and run the colab. Here is the output when `run_eagerly=True` was selected.

[code]

For the same option (`run_eagerly=True`), earlier output is as follows which was not correct.

[code]

I am closing this issue as it was resolved. Please feel free to reopen if I

[2020-03-12 22:48] #34687 closed

[2020-03-12 23:02] mdanatg commented on #36998
@alextp for more thoughts

GradientTape should be expected to produce different results inside and outside of tf.function due to the sensitivity of floating-point calculation on ordering. That said, the differences should be small, excluding any source of numerical instability like calculating the loss through the softmax function.

As far as I know, Keras runs in graph mode with or without tf.fun

[2020-03-12 23:10] jvishnuvardhan commented on #37446
@Leslie-Fang Can you please update related doc also? Thanks!

[2020-03-12 23:12] alextp commented on #36998
@mdanatg I look at @pandrey-fr 's example code and I see the very problematic pattern of doing softmax and then cross entropy, instead of using softmax_cross_entropy_with_logits or the equivalent.

softmax-then-cross-entropy is _really_ numerically unstable (you throw away most of the bits of your logits when doing softmax) and should _never_ be used. Because of this the keras cross-entropy functi

[2020-03-12 23:12] #36998 closed

[2020-03-12 23:25] MarkDaoust commented on #36998
What are the loss values with and without `tf.function`? **Huge** with `tf-function` and ~15 without?
In my answer on #34221 explain a little how this happens and why it's probably also a sign your inputs are not normalized, or your initialization is bad.

[2020-03-12 23:28] MarkDaoust commented on #34221
Actually, what I meant to say was:  "nobody should ever use softmax in the output layer during training. ever.".
But other than that advice, everything is working as intended, so I'm closing this.

[2020-03-12 23:28] #34221 closed

[2020-03-12 23:28] gowthamkpr commented on #37428
@stephenhermes Correct me if I am wrong but I don't see any difference in 1.x and 2.x please find my gist [here](https://colab.research.google.com/gist/gowthamkpr/c6cc5083b4021931ba8d18ae68929aef/untitled3.ipynb?authuser=2)

[2020-03-12 23:48] asequeira-os commented on #37525
Adding (as a temp workaround)
`tensorflow-estimator = "==2.1.0"`
in pyproject.toml for poetry fixes this for me under poetry.
(else it gets tensorflow-estimator 2.2.0rc0 which seems to cause the issue)

[2020-03-13 00:06] DracarysLu commented on #37522
The environment is Tensorflow 2.1, no matter with the OS (Both in Linux and Windows).

When I add the "@tf.function" before the train_step function and print  the result of loss, it goes wrong.
`@tf.function
def train_step(train_batch, labels):
    with tf.GradientTape() as tape:
        outputs = model(train_batch, training=True)
        loss = loss_obj(labels, outputs)
    gradients = tape.gradi

[2020-03-13 00:18] adriangb opened #37555 "Running CI tests locally for Python 3 files"
**System information**
- Platform: Ubuntu 18.04 on WSL2
- TensorFlow version: source master@f8396d00c2572845774cce4b737858f264e015b6
- Bazel version (if compiling from source): running CPU Docker container, says 2.0

**Describe the problem**
I'm trying to run CI tests locally. I'm having Python 2/3 issues. I'm using `tensorflow/tensorflow/python/autograph/pyct/static_analysis/` for testing since i

[2020-03-13 00:34] sarthfrey-db opened #37556 "TF 2 equivalent for report_tensor_allocations_upon_oom"
What is the TensorFlow 2 equivalent for `report_tensor_allocations_upon_oom` discribed here: https://github.com/tensorflow/tensorflow/issues/17076

How would I use this in eager mode with keras?

[2020-03-13 00:38] stephenhermes commented on #37428
@gowthamkpr the issue is between 1.x and  tf.compat.v1 in 2.x. Please find the gist [here](https://colab.research.google.com/gist/stephenhermes/d609c5fd43246d4cff5c0b3246f83dff/untitled3.ipynb?authuser=2).

[2020-03-13 00:39] freedomtan commented on #37542
I know nothing about Kotlin, but according to the error message you showed, it seems the problem is that you feed `intArray` to input but set its data type to `DataType.FLOAT32`
[code]

[2020-03-13 00:53] Leslie-Fang commented on #37446
@jvishnuvardhan Thanks for the remind. I think it's already in the doc  https://github.com/tensorflow/tensorflow/blob/78b09356f5c1a17d869a2fbc571bd720b3450d9b/tensorflow/python/ops/math_ops.py#L2409
[code]

[2020-03-13 01:00] shiningrain commented on #37335
Thanks for your help!
I have tried your code, and **it can still build and save this dangerous model**, shown in the following picture:
![image](https://user-images.githubusercontent.com/46860123/76579839-a88a4880-6508-11ea-9db0-be4e44b22f7d.png)
Thank you again!

[2020-03-13 01:48] shiningrain commented on #37336
Hello! Thanks for your help!
Your suggestion is the same as gadagashwini 's. I have tried this replacement and got a same error. You find it in the  previous comment in this page.

[2020-03-13 01:57] xiaoyangnihao commented on #37439
@SmileTM  The following method will be OK,
[code]

[2020-03-13 01:59] lihongxun945 commented on #37537
@Eshan-Agarwal  Define the last layer property as activation='softmax' will not work, I have tried.

[2020-03-13 02:05] jaydone78 commented on #37540
I finally use following command
`saved_model_cli show --dir v1 --tag_set serve --signature_def serving_default `

and get the input, output node name like this:

`The given SavedModel SignatureDef contains the following input(s):
  inputs['albumid_embedding'] tensor_info:
      dtype: DT_INT32
      shape: (-1, 1)
      name: serving_default_albumid_embedding:0
  inputs['dense_input'] tensor_info:

[2020-03-13 02:05] #37540 closed

[2020-03-13 02:10] lintian06 commented on #34230
It may depend on phone models. The test on Pixel 3 is like:

CPU: 4 threads
Scaling to [-1,1] took 46.63 ms
Interpreter took 43.72 ms

GPU
Scaling to [-1,1] took 46.67 ms
Interpreter took 15.28 ms

It depends on hardware. You may adjust according to your phone.

[2020-03-13 02:17] minjac commented on #37536
Hi, code is doesn't matter in this case, because I just don't know what the beta1_power and beta2_power mean.

`/// Update '*var' according to the Adam algorithm.
///
/// $$lr_t := \text{learning\_rate} * \sqrt{1 - beta_2^t} / (1 - beta_1^t)$$
/// $$m_t := beta_1 * m_{t-1} + (1 - beta_1) * g$$
/// $$v_t := beta_2 * v_{t-1} + (1 - beta_2) * g * g$$
/// $$variable := variable - lr_t * m_t / (\sqrt{v

[2020-03-13 02:34] howl-anderson commented on #37196
@lutzroeder @gadagashwini I am willing to take a closer look, fix it and send a PR.

[2020-03-13 02:45] Hazeline2018 commented on #37431
Can anyone please help with this problem? I'm stuck here for a couple of days and I've exhausted almost the whole build link but couldn't see any problem. This 'undefined reference' error seems to be missing a file which I couldn't figure out

Any suggestion or advise would be greatly appreciated!

[2020-03-13 02:56] henrysky commented on #35977
I am also suffering from the same problem with compiling tf2.2.0rc0 on windows.

It seems like somehow the PATH variable is not used correctly for that build.....

Numpy works fine on my Windows but if you do `$env:PATH=""` to reset the PATH variable in your current terminal, and then call python with fullpath to start python, and then `import numpy`, you will get the exact same error

[2020-03-13 03:25] osasseville commented on #33755
Same here

[2020-03-13 03:32] NeilClack commented on #37457
I've encountered this same error as well.
Source built Python 3.7.6 and Pip 20.0.2 running on Ubuntu. I've tried this both inside and out of a pipenv shell with no change to the results.

I should be able to provide any other information that will help solve this, as it's really hurting me trying to get this running for 4 days straight now with different configurations within Ubuntu (and windows,

[2020-03-13 03:43] Hazeline2018 commented on #37431
Update: I've figured out. This can be closed.

[2020-03-13 03:43] #37431 closed

[2020-03-13 04:37] pavithrasv commented on #37240
Thank you the response @k-w-w and the quick PR @ashutosh1919 .

@k-w-w Yes, we can look into returning partial functions if class name is the name of a function. From the top of my head i think `deserialize_keras_object` may need to be modified for that.

[2020-03-13 05:17] AdityaHPatwardhan commented on #37007
I assume you have setup all the things on windows correctly as mentioned [here](https://www.tensorflow.org/install/source_windows#setup_for_windows), If yes and still you have the problem then maybe you could look into [this issue](https://github.com/dariomanesku/cmft/issues/28), I personally do not use windows for development so if that is an issue related with windows I would not be the right pe

[2020-03-13 05:25] Eshan-Agarwal commented on #37537
@lihongxun945  try some things like change your optimizer to sgd with momentum or make a big network as cifar-100 is very huge data. Please have a look I train DenseNets on CIFAR-10 dataset
[here](https://github.com/Eshan-Agarwal/DenseNet-on-CIFAR-10-/blob/master/CNN%20on%20CIFAR.ipynb) also keep activation = softmax in last layer

[2020-03-13 05:35] michaelmyc opened #37559 "TF_FORCE_GPU_ALLOW_GROWTH=false Triggers cuDNN Error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **No, using tutorial classification example**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Manjaro (kernel 5.4.18)**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): **

[2020-03-13 05:37] 6etacat commented on #37559
https://github.com/tensorflow/tensorflow/issues/9489#issuecomment-562394257
https://github.com/tensorflow/tensorflow/issues/24496#issuecomment-598145988

[2020-03-13 05:40] gadagashwini commented on #37548
Was able to replicate the issue with Tf 2.2.rc0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/8b75a84496af15d6c8e7a70fe383c98e/untitled448.ipynb). Thanks!

[2020-03-13 05:58] HBiSoft commented on #34230
@lintian06

This is a big issue since there are 4000+ android devices, all with different chipsets.

What do you suggest we adjust?

I have tried:
- Increasing the threads
- Reducing the preview dimensions
- Feeding frames continuously (instead of every third frame)
- Increase/decrease the frame rate
- Running tensorflow/posenet on its own (without drawing anything on the canvas except the preview

[2020-03-13 06:04] Ankuraxz commented on #37537
@lihongxun945  You can try dropout layer, you need not change the Adam optimizer, rather try using a bigger network from scratch or use Transfer learning { will share an example real soon}. Finally in last layer Dense(<no of classes>, softmax) is perfect. The decision of the combination of layers is a topic of great research. The accuracy of your model touched 58.8 %, which isn't really impressive

[2020-03-13 06:12] gadagashwini commented on #37543
I could replicate the issue with TF 2.2.rc0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/2c9946a562d22127690069c4013da8bc/untitled449.ipynb). Thanks!

[2020-03-13 06:23] Eshan-Agarwal commented on #37537
Yes forgot to mention dropouts really worked much better.

[2020-03-13 06:25] ashutosh1919 commented on #37179
Please close this issue. The error was resolved in #37111

[2020-03-13 06:25] gadagashwini commented on #36988
@open-v, The given [github repo](https://github.com/open-v/tf-retinanet) don't have clear instructions to execute the code.
`Yes I updated, and I am using another way`
Just to verify, did you find solution.

Thanks!

[2020-03-13 06:27] FLming opened #37561 "When using MirroredStrategy, the training process is stuck"
**System information**
- OS Platform and Distribution: Ubuntu 18.04
- Python version: 3.6.9
- CUDA/cuDNN version: 2x1080 Ti
- Tensorflow version: 2.2.0

**Describe the current behavior**
I built a CRNN model for recognize the text, a CNN-RNN-CTC model, it work well without tf.distribute.Strategy, but when I follow the guide to move the creation and compiling of Keras model inside strategy.scope, I

[2020-03-13 06:56] gadagashwini commented on #30094
Issue is replicating with Tf 2.2.rc0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/2b70167d52f21e4247bbbd965997dafe/untitled451.ipynb). Thanks!

[2020-03-13 07:13] gadagashwini commented on #30468
Reproduce this issue with Tf 2.1 and Tf-nightly==2.2.0.dev20200312.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/c82696421987c70062a38cf2c5d95866/untitled452.ipynb). Thanks!

[2020-03-13 07:16] gadagashwini commented on #30686
This issue is fixed in Tf-nightly ==2.2.0.dev20200312 version.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/f6bffcfcc013b2316bd29f3d6b2d2714/untitled453.ipynb). Can we close this issue. Thanks!

[2020-03-13 07:23] praveenprakashupadhyay opened #37562 "Successful installation message but still not able to import tensorflow"
<em>Traceback (most recent call last):
  File "C:\Users\Praveen.prakash\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\Praveen.prakash\AppData\Roaming\Python\Python37\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <modul

[2020-03-13 07:36] rmothukuru commented on #37537
@lihongxun945,
Please refer this [Stack Overflow Answer](https://stackoverflow.com/questions/57061266/how-to-improve-my-cnn-high-and-constant-validation-error/59172613#59172613) which elaborates on how to decrease the loss. Thanks!

[2020-03-13 07:40] #37239 closed

[2020-03-13 07:53] amahendrakar commented on #37501
@talhaanwarch,
On running the updated colab gist, I got the metrics `binary_accuracy: 0.6635 - precision: 0.3663 - recall: 0.0120`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5c2225faee2306e9fce0550bfc55aec1/37501-v2.ipynb). Thanks!

[2020-03-13 07:56] Eshan-Agarwal commented on #37537
@rmothukuru yes use of early stopping helps alot which stop model to learn too much ie, prevent from overfiting. I also get better result on CIFAR -10 data set using DenseNets with early stopping, got arround 90% accuracy on test data. In above mentioned link

[2020-03-13 08:07] amahendrakar commented on #37562
@praveenprakashupadhyay,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment on a similar issue and let us know if it helps. Thanks!

[2020-03-13 08:07] sjtusmartboy opened #37563 "large model parallelism on gpu causing oom"
We are using v100 with gpu memory of 32 gb to train wide and deep model of size 12gb, facing the problem of gpu out of memory.

So we are thinking of the model parallelism to distribute the large model on different gpu, however, all of the current available strategies for model parallelism could not meet our demand.

1. MirroredStrategy
2. MultiWorkerMirroredStrategy
3. CentralStorageStrategy
4. P

[2020-03-13 08:17] Saduf2019 commented on #37546
@PawelFaron
Can you please share a simple stand alone code for us to replicate the issue faced by you.

[2020-03-13 08:26] wangshang19911011 opened #37564 "Dose TensorFlow has tf.sparse.segment_max? how to code it by customer?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2020-03-13 08:37] Saduf2019 commented on #37542
@ramawidrap
please share the tensorflow version used and simple stand alone code for us to replicate the issue faced.
Also please refer to [link1](https://github.com/tensorflow/tensorflow/issues/34992) and [link2](https://github.com/tensorflow/tensorflow/issues/36059), if it helps resolve your issue.

[2020-03-13 08:44] ErvisTusha commented on #34346
https://colab.research.google.com/drive/1AO7Lz5G1gTOAV6FOR3H2azTOZzBHZwYt

I get two errors first eager error and fixed it google and another
second is this

`---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-21-f495897bdf8d> in <module>()
      5     epochs=EPOCHS,
      6     vali

[2020-03-13 08:48] gadagashwini commented on #30929
Reproduce this issue with Tf 2.1 and Tf-nightly==2.2.0.dev20200312
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/56ac5217e9ee6d137bc43f62f9bfc965/untitled454.ipynb). Thanks!

[2020-03-13 08:50] ravikyram commented on #37414
@beardwolf

I have tried on cloab with TF version 2.1.0 . Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/b2393f340fec1b5344e2f99bfb238ca9/untitled727.ipynb). Is this the expected behavior. Thanks!

[2020-03-13 08:57] ravikyram commented on #37563
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
Please provide colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster.Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-03-13 09:02] sjtusmartboy commented on #37563
ubuntu 18.04 and tf 1.14 @ravikyram

[2020-03-13 09:06] #37179 closed

[2020-03-13 09:14] lihongxun945 commented on #37537
@rmothukuru  Thanks~
For your two points:
1. The input shape is defined after the model definition, you can see `network.build(input_shape=[None, 32, 32, 3])` in the entire code here https://colab.research.google.com/drive/1kIT_18Z-ymEgzqgG4nh4sZdBkA1bnJdO
2. I have tried add a 'softmax' layer but it donesn't make any change.

[2020-03-13 09:14] ravikyram commented on #37556
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-03-13 09:16] PawelFaron commented on #37546
Steps to reproduce:
1. Take android example of model personalization from https://github.com/tensorflow/examples/tree/master/lite/examples/model_personalization/android
2. Change the model in assets to the one created by code provided in model personalization https://github.com/tensorflow/examples/tree/master/lite/examples/model_personalization#converting-the-custom-keras-model-using-the-python-ap

[2020-03-13 09:17] lihongxun945 commented on #37537
Thanks  very much @Ankuraxz and @Eshan-Agarwal , I am a beginner of TF, and don't know how to use dropout right now. But I will try it when complete my online course.

[2020-03-13 09:28] Saduf2019 commented on #37559
@6etacat
Could you please share the tensorflow version in which the error is faced.

[2020-03-13 09:31] gadagashwini commented on #37261
@cappittall, Save your model and load it. Do the pre-processing steps and feed the input to prediction. Below is the sample code, try this
[code]
Let us know if it helps. Thanks

[2020-03-13 09:31] limsijie93 commented on #34845
@srjoglekar246 I see. TFLite only supports semantic segmentation for now? Any idea whether support for instance segementation is already in the pipeline?

[2020-03-13 09:38] #36803 closed

[2020-03-13 09:38] gadagashwini commented on #36794
@paokuwansui, Let us if still issue persists. Thanks!

[2020-03-13 09:38] jjedele commented on #37439
@xiaoyangnihao That's actually a rather easy fix which is more related to Python than to TF:

The method in `Model` must be named `__call__` rather than `call` for the model to be callable (i.e. you can do `model(x)`). As it is right now you would have to do `model.call(x)`.

Apparently this was wrong in the documentation at some point because we also had this problem in some places. It's correct

[2020-03-13 09:39] dMokaMoka commented on #36803
forget this issue...TF provides the mechanism for coord

[2020-03-13 09:40] gadagashwini commented on #36885
Closing this issue, since its resolved.
 Please feel free to open if still issue persists. Thanks

[2020-03-13 09:40] #36885 closed

[2020-03-13 09:42] Eshan-Agarwal commented on #37537
@lihongxun945   Its very simple just use as this `layers.Dropout(rate)` , rate means how many neurons you want to be connected its in between 0 to 1, 1 means all neurons is connected it is same as with no dropouts. You can read about them [here](https://keras.io/layers/core/), and define your dropout layes just as you defining pooling layer.

[2020-03-13 09:43] Saduf2019 commented on #37564
@wangshang19911011
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?
please share simple stand alone code for us to replicate the issue.

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear wh

[2020-03-13 09:46] rmothukuru commented on #37537
@lihongxun945,
Please refer this [Stack Overflow Answer](https://stackoverflow.com/questions/57061266/how-to-improve-my-cnn-high-and-constant-validation-error/59172613#59172613) which elaborates on how to decrease the loss and improve your accuracy, and also shows how to use the functions like Dropout, Early Stopping, Regularization, Image Data Generator, etc..

[2020-03-13 09:48] ravikyram commented on #37545
@CalebEverett

Can you please try with recent Nightly version (`!pip install tf-nightly`) and see if the issue still persists. I am not seeing any issue with recent Nightly version. Thanks!

[2020-03-13 09:49] gadagashwini commented on #36966
Closing this issue since the tittle of the issue is resolved.
Please feel free to open if issue still persists. Thanks!

[2020-03-13 09:49] #36966 closed

[2020-03-13 09:49] Saduf2019 commented on #37536
@minjac
can you please refer to [this link](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam?version=nightly) and let us know if it helps

[2020-03-13 09:50] zaccharieramzi commented on #34759
@alihamid996 I didn't try anything else, so I couldn't tell you myself. @lijiaying 's [comment](https://github.com/tensorflow/tensorflow/issues/34759#issuecomment-570102033) suggests that it's possible to build tf 2.1 from source with cuda 10.2 though.

[2020-03-13 09:50] amahendrakar commented on #36522
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-13 09:50] #36522 closed

[2020-03-13 09:55] zaccharieramzi commented on #37446
You could add that it raises an exception in the style of https://github.com/tensorflow/tensorflow/blob/78b09356f5c1a17d869a2fbc571bd720b3450d9b/tensorflow/python/ops/math_ops.py#L376-L378

[2020-03-13 09:56] gadagashwini commented on #37008
Closing this issue since the resolution is provided.
Please feel free to open if still issue persists. Thanks

[2020-03-13 09:56] #37008 closed

[2020-03-13 09:58] xiaoyangnihao commented on #37439
@jjedele  My current version is tf2.1, does I need to update lasted version ?  Can you give some examples or codes about above questions? I don't think it is solved.

[code]

[code]

[2020-03-13 09:59] gadagashwini commented on #37139
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-13 09:59] #37139 closed

[2020-03-13 10:01] gadagashwini commented on #37177
@SlowMonk, Did you check the above provided gist.

[2020-03-13 10:01] Kirill94a commented on #37468
I found the cause of the problem - I made a error when connecting to TPU. Issue may be closed. Thank you!

[2020-03-13 10:01] jjedele commented on #37439
@xiaoyangnihao Sorry, I was squeezing too much information into my answer. Now you fixed the one part and broke the other 😄

Do the following:

[code]

[2020-03-13 10:02] gadagashwini commented on #37193
@MikhailMashukov, Can you update the issue with standalone code. Thanks

[2020-03-13 10:05] gadagashwini commented on #37200
@SlowMonk, Can you provide complete code to analyze this issue and also let us know if its duplicate of [#37177](https://github.com/tensorflow/tensorflow/issues/37177) . Thanks

[2020-03-13 10:06] gadagashwini commented on #37204
@hoangtubatu123, Did you get a chance to go through the above given . Thanks

[2020-03-13 10:09] amahendrakar commented on #37152
Any updates regarding this issue? Thanks!

[2020-03-13 10:10] talhaanwarch commented on #37501
but the warning is still there. `WARNING:tensorflow:Gradients do not exist for variables ['tf_bert_model/bert/pooler/dense/kernel:0', 'tf_bert_model/bert/pooler/dense/bias:0'] when minimizing the loss.`  I am thinking it should be an error instead of warning. becuase if gradient donot exist, how it will be updated?

[2020-03-13 10:13] pandrey-fr commented on #37522
Again, this is expected behaviour. The `.numpy()` call only works on `EagerTensor` objects, i.e. when running in Eager mode. The whole point of `tf.function` decoration is to run a function in graph mode to optimize runtimes, which results in tensors not having a `.numpy` method.
You may however try to use `tf.print`.

[2020-03-13 10:15] ravikyram commented on #37541
@gthb
I tried to reproduce the issue in colab with TF nightly version.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/dcc1aa41b6575cee41691418d02d3d90/untitled728.ipynb).Is this the expected behavior? Thanks!

[2020-03-13 10:20] gadagashwini commented on #37211
@nuliknol, Any update ?

[2020-03-13 10:22] gadagashwini commented on #37246
@sharmaninaad,Let us know if this is still issue. Thanks

[2020-03-13 10:23] gadagashwini commented on #37253
@jacketchan, Issue still persists?

[2020-03-13 10:24] Dominik1123 opened #37567 "Cumulative decaying sum"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes (with some guidance)

**Describe the feature and the current behavior/state.**

Add a new function `cumsum_decay` which computes the cumulative sum along an axis while multiplying the previous element with a scalar decay factor `p`:

    c_i = x_i + p*c_{i-1}    for i >= 1
    c_i =

[2020-03-13 10:26] Eshan-Agarwal commented on #37541
@ravikyram Thanks for checking it, but when I save mode as `.tf `instead of `.h5` I am able to load mode with `trainabe =False` but loaded model has params same as with `trainable = True. So is model always loaded with trainable = True ?

[2020-03-13 10:27] Saduf2019 commented on #37546
@PawelFaron
we ran the code and face a different error, please refer to [this gist](https://colab.sandbox.google.com/gist/amahendrakar/46ff1ade36232f44cda6fa5fda9e08e7/untitled81.ipynb#scrollTo=16vjeC2sMegq) for the same

[2020-03-13 10:30] PawelFaron commented on #37546
You have the tfltransfer in the repo https://github.com/tensorflow/examples/tree/master/lite/examples/model_personalization/converter/tfltransfer

[2020-03-13 10:31] Kirill94a opened #37568 "ValueError: Cannot use 'loss/head_conv_0_0' as input to 'Merge_2/MergeSummary' because 'loss/head_conv_0_0' is in a while loop"
I try to create my own neural network with several outputs (it follows that there are several target vectors); these target vectors dynamically change during training and depend on the predictions of the neural network. I wrote about this neural network earlier in #37468.

**System information**

- OS Platform and Distribution: Debian GNU/Linux 9.11 (stretch)
- TensorFlow version: 2.1.0

The progr

[2020-03-13 10:32] #37468 closed

[2020-03-13 10:36] Saduf2019 commented on #37564
@wangshang19911011
i looked up for "tf.sparse.segment_max" in tensorflow website and do not find anything related to this, there is no such module in case you are looking to use it. [tf.math.segment_max ](https://www.tensorflow.org/api_docs/python/tf/math/segment_max)is present.

[2020-03-13 10:46] Crispy13 commented on #32564
Any update?

[2020-03-13 10:47] deep28vish opened #37569 "error while converting from custom SSD_mobilenet to TFLITE"
**System information**
- OS Platform : windows 10
- TensorFlow installed from : anazonda tf-14

[code]

using the file :
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/python/tflite_convert.py

and command as : python tflite_convert.py --graph_def_file=D:\models\research\object_detection\ava_tflite\tflite_graph.pb --output_file=D:\models\research\object_detection\ava_tflite\t

[2020-03-13 11:01] gadagashwini commented on #31408
This issue is still replicating with Tf2.1 and tf-nightly==2.2.0.dev20200313.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/a0f428a577715b5da0277410c610da51/untitled455.ipynb). Thanks

[2020-03-13 11:14] Ankuraxz commented on #37537
Just add <layers.Dropout(0.5)>    0.5 is working great on your project

[2020-03-13 11:14] gthb commented on #37541
@ravikyram

This is the behavior I'm reporting as a bug — specifically the result in [this cell](https://colab.research.google.com/gist/ravikyram/dcc1aa41b6575cee41691418d02d3d90/untitled728.ipynb#scrollTo=3hk5lvUWNydJ&line=1&uniqifier=1), `ValueError: Shapes (3, 2) and (2, 4) are incompatible`. This is caused by trying to assign a value to the wrong variable. That in turn is because the variables

[2020-03-13 11:15] gadagashwini commented on #31282
@helloIAmPau, Did you try @k-w-w's comment.
Please close the issue if it was already resolved for you. Thanks!

[2020-03-13 11:17] gthb commented on #37541
The expected behavior is for the serialized file to get deserialized correctly on `load_model`, yielding a model identical to the one I serialized.

(Or alternatively, for the `.trainable` attribute to be a read-only property, or output a warning when assigned to, or at least be documented as not safe to assign to.)

[2020-03-13 11:18] paokuwansui commented on #36794
Yes, I hope I can provide you with more information

But i don't know what information to give you

[lzh@lzh-pc ~]$ python
Python 3.8.1 (default, Jan 22 2020, 06:38:00)
[GCC 9.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

... def a (n):
...     return n*2
...

2020-03-13 19:09:06.982192: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports

[2020-03-13 11:25] snowpeakz commented on #37352
same issue +1

[2020-03-13 11:27] MaartenSneepKNMI opened #37570 "Load a TF model from memory, not file (C/C++)"
**System information**
- TensorFlow version (you are using): 1.12.0
- Are you willing to contribute it (Yes/No): Yes, if possible.
- C/C++ interface.

**Describe the feature and the current behavior/state.**

We'd like to load model data from memory without file access.

We're using TF in a satellite data processing system. One of the requirements dictates that file access is not allowed, we can o

[2020-03-13 11:40] gadagashwini commented on #33660
@duncanriach, I tried with Tf 2.1, its working without any error.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/0c11957c6fca4f94461cd57b63040389/untitled456.ipynb) and please close if issue is resolved. Thanks

[2020-03-13 11:44] mgmverburg commented on #34346
@ErvisTusha I just tried it too but for me it worked when I did it like this:

`import requests
import os
url = 'http://' + os.environ['COLAB_TPU_ADDR'].split(':')[0] + ':8475/requestversion/2.2.0-dev20200312'
resp = requests.post(url)
print(resp)
%pip install tf-nightly==2.2.0-dev20200312

import tensorflow as tf`

[2020-03-13 12:00] Crispy13 opened #37571 "Two errors were raised when using mirrored strategy."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-13 12:06] sjtusmartboy commented on #37563
It's noticed that the wide-and-deep model involves the usage of the DNNLinearCombinedClassifier, so the detail of the model is invisible for the user to specify which variable should be placed on the specified gpu,  i.e. with tf.device('/gpu:0'). @ymodak

[2020-03-13 12:10] RobinBaumann commented on #37477
Okay, I tried to solve it on my own. However, there is still a dependency on [keras-preprocessing](https://github.com/keras-team/keras-preprocessing) that makes things a bit difficult. Are there any plans to integrate keras-preprocessing into TensorFlow?

[2020-03-13 12:28] ayushmankumar7 commented on #37480
In line 154, it says // To update the golden file, flip update_golden to true and run the
  // following:
  // bazel test --test_strategy=local \
  //   third_party/tensorflow/compiler/aot:codegen_test

but /tensorflow/compiler/aot:codegen_test not present in third_party folder

[2020-03-13 12:30] ravikyram commented on #36530
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-13 12:30] #36530 closed

[2020-03-13 12:31] acmilannesta commented on #37426
I have the same issue here. For training in TPU, do we have to use the tfrecord or we could use our customized data generator?

[2020-03-13 12:34] ravikyram commented on #36900
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-13 12:34] #36900 closed

[2020-03-13 12:35] ravikyram commented on #36925
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-13 12:35] #36925 closed

[2020-03-13 12:46] ErvisTusha commented on #34346
@mgmverburg  that code works good but i get that error when i run model.fit()

[2020-03-13 12:49] kunalgoyal9 opened #37572 "cc_toolchain_suite '@androidndk//:toolchain-libcpp' does not contain a toolchain for cpu 'k8'"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): Source
- Python version: 3.7
- Bazel version (if compiling from source): 2.0.0

**Describe the problem**
I was trying to build tensorflow [camera demo](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/android#building-the-demo-

[2020-03-13 12:51] mdanatg commented on #37323
Fields are kept private by default, and we only expose public methods if there is a need for one. This helps keep the API clean - once a method is made public, it's extremely difficult to remove it. So for now, I recommend naming the method/property with the `experimental_` prefix to control its adoption.

[2020-03-13 12:58] helloIAmPau commented on #31282
we changed the approach in our application. we don't need the fix anymore, thanks.

[2020-03-13 12:58] #31282 closed

[2020-03-13 13:00] Andreas5739738 opened #37573 "tf.data.experimental.ignore_errors unintuitive behavior"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Mac OS 10.14
- TensorFlow installed from (source or
binary): pip install tensorflow
- TensorFlow version (use command below): v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7.4

**Describe the current behavior**

[2020-03-13 13:06] mgmverburg commented on #34346
I think that it is a sort of unrelated issue then. Maybe it is a side effect of something else that came with the tf-nightly release? Because I am currently trying to get my model to work as well, but model fit itself is not giving errors yet for me anyway.

[2020-03-13 13:14] jyhengcoder commented on #12667
@zrss I met the same problem, have you solved it?

[2020-03-13 13:20] amahendrakar commented on #37568
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/77b37716b04a184076e576998f730814/37568-tpu.ipynb). Thanks!

[2020-03-13 13:20] DracarysLu commented on #37522
Thanks!

[2020-03-13 13:41] chris-clem opened #37575 "Keras model fit with class_weight fails on TPU but not on GPU"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: Colab
- TensorFlow installed from (source or
binary): Colab
- TensorFlow version (use command below): 2.x in Col

[2020-03-13 13:52] ramawidrap commented on #37542
hey i think i solve this issue but i face another issue.
i got new error like this
![image](https://user-images.githubusercontent.com/36231029/76626348-97265800-656b-11ea-80af-b2c150e677d8.png)

i assume that my input has shape 3d (1,13,4) but i feed input with 1d array. how come i can use 3d floatarray in kotlin ? i dont know this gonna solve my problem.

anyone know why that error occurred ?

[2020-03-13 14:02] Riathoir commented on #34983
Tested v2.1 and fixes the issue

[2020-03-13 14:07] ErvisTusha commented on #34346
@mgmverburg  can I take a look of your code sample ?

[2020-03-13 14:21] ErvisTusha commented on #37485
Im getting same error // TPU
https://colab.research.google.com/drive/1AO7Lz5G1gTOAV6FOR3H2azTOZzBHZwYt

https://github.com/tensorflow/tensorflow/issues/34346

[2020-03-13 14:28] amascia opened #37576 "Add Octave Convolution Layers to tensorflow keras layers"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.1
- Are you willing to contribute it (Yes/No): Yes. A

[2020-03-13 14:42] ianferreira commented on #36846
@guptapriya same error outside scope. There is something really weird going on the TFDS.

`BUFFER_SIZE = 10000
BATCH_SIZE = 10000

def make_datasets_unbatched():
  # Scaling MNIST data from (0, 255] to (0., 1.]
  def scale(image, label):
    image = tf.cast(image, tf.float32)
    image /= 255
    return image, label

  datasets, info = tfds.load(name='mnist',
                            with_info=

[2020-03-13 14:52] sethnabarro opened #37577 "log(diag_part(x)) vs diag_part(log(x)) difference with Cholesky gradients"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Mac OS Mojave 10.14.5
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: -
- TensorFlow installed from (source or
binary): binary (by pip)
- TensorFlow version (use comman

[2020-03-13 14:52] NeilClack commented on #37205
I understand that it is only limited to Python 3.7, however, which subversion of 3.7? Do we have a confirmed number or should it "simply be any Python 3.7"?

I'm encountering the same issues with Python 3.7.6 no matter what operating system I attempt to install on, resulting in the exact same error.

The documentation doesn't specify any specific 3.7 installation however it would be very beneficia

[2020-03-13 15:09] dmaniry commented on #32873
I can confirm that there is a considerable speed difference between networks where this warning shows up and networks where it doesn't. I can also see from profiling that the former case splits the network into multiple XLA clusters and the latter turns it into a single cluster. I'm still trying to find which difference causes the ghost underscore node to show up. It is not in the graph_def!

[2020-03-13 15:21] SivamPillai commented on #37189
While the OP mentioned having TF support the latest versions of CuDNN, CUDA, etc; I do not think that alone is the problem. Assuming you have specific versions of these dependencies that are supported, **is there a foolproof way of installing packages that will work reliably?** Yes, I have gone through the steps mentioned in the TF installation page and yes the latest version **mostly** works. How

[2020-03-13 15:53] srjoglekar246 commented on #34845
@limsijie93 Its a matter of coming up with a TF model that is light-weight enough to run fast on edge devices :-). I think there are some versions of 'small' Mask-RCNNs out there, but there are none on the TF-Object Detection model page.

[2020-03-13 16:01] #32398 closed

[2020-03-13 16:02] zhangwujun666 commented on #37320
Thanks!  works well for me !!

[2020-03-13 16:02] #37320 closed

[2020-03-13 16:12] ckluk commented on #37543
Looks like the issue here is that the profiling in the first model.fit() is still active while the profiling in the second model.fit() tries to start profiling. This shouldn't happen if the first model.fit() is done. Let me look into it in more details.

[2020-03-13 16:13] kpe opened #37580 "tf.train.FloatList() on a tensor takes too long"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: any
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: N/A
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below

[2020-03-13 16:19] LLNLanLeN commented on #26664
I'm also experiencing this issue as well, any insights or solutions would be great

[2020-03-13 16:22] drasmuss commented on #37543
The problem is this block here https://github.com/tensorflow/tensorflow/blob/v2.2.0-rc0/tensorflow/python/keras/callbacks.py#L1950, which starts the profiler regardless of whether eager mode is enabled or not, but then the profiler is only stopped if eager mode is enabled https://github.com/tensorflow/tensorflow/blob/v2.2.0-rc0/tensorflow/python/keras/callbacks.py#L1980.

[2020-03-13 16:35] Eshan-Agarwal commented on #37580
I think numpy() `vectorizing`  it so it runs fast as compare of `tf.train.FloatList(value=tf.zeros(int(1e6)))`

[2020-03-13 16:36] mihaimaruseac commented on #37189
We try to ensure that the official builds are working in as many cases as possible. If you encounter a problem with official install guides, please open a PR and we will fix issues.

Unfortunately, the build system has grown fast and in a haphazard way. We need to clean it up and make it better but this needs head count and time. Will happen eventually.

[2020-03-13 16:43] ccg1415 commented on #36446
I'm facing the same problem. Transfer learning with Mobilenetv2, all layers from mobilenet are set as _not trainable_ (eg layer.trainable=False), rest of the network is similar to what is in issue description. Same data (tfrecord dataset) are passed in as train data and also as validation data. Training stats looks good. loss goes quickly to zero, accuracy goes quickly to 1.

So far, all as it sho

[2020-03-13 16:55] jvishnuvardhan commented on #25359
I am closing this issue as the `mixed precision` training is already part of recent `tf-nightly`. Please feel free to open any new issues if you find any error with `mixed precision` training. Thanks!

[2020-03-13 16:55] #25359 closed

[2020-03-13 16:57] mihaimaruseac commented on #37205
Any version of python 3.5, 3.6 or 3.7 should work, provided it is a 64 bits, your CPU is 64 bits and supports AVX and you have the latest MSVC redistributable installed. Oh, also, ensure `pip` is at latest version, to be able to install manylinux2010 packages

For all other cases, you will have to build from source.

[2020-03-13 17:08] NeilClack commented on #37205
Python 3.7.6
Pip 20.0.2
Windows 10
Got it working by downloading the matching (version and environment) wheel from https://pypi.org/project/tensorflow/#files and installing manually from that.

In my example, I needed Tensorflow 2.1 and downloaded the tensorflow-2.1.0-cp37-cp37m-win_amd64.whl as I have cp37 (CPython 3.7), win_amd64 (Windows 64 bit)

For those who come here in the future and may no

[2020-03-13 17:21] mihaimaruseac commented on #36332
@OmerLiberman please use ` ``` `, not ` ` ` around the code blocks (and definitely not images)

[2020-03-13 17:30] #37416 closed

[2020-03-13 17:43] liuxingbaoyu commented on #36915
Thank you! I may have encountered a similar problem and succeeded after I changed basenet.
When I am using mobilenetv2, everything is normal during training, but the embed is all the same during validation, and the predict is also the same (all use the same samples)

[2020-03-13 17:56] JIMonroe opened #37581 "tf.keras.Model.fit() training fails, custom training loop succeeds for identical model, optimizer, and loss function"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, but can reproduce with (almost) stock example script

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS Mojave and CentOS 7

- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
N/A

- **TensorFlow instal

[2020-03-13 18:28] srilman commented on #37545
Also had the same problem but on the newest nightly build (2.2.0.dev20200313) and the previous nights (2.2.0.dev20200312). Running on Google Colab w/ TPUs.

[2020-03-13 18:35] wwwind commented on #37023
Hi @jianlijianli ! Sorry to bother you, but could you please take a look ?
The main problem here is that for an unrolled RNN cell the bias is shared and it has the same quantization for all layers, but it must have different quantizations for different layers: param scale should be scale of activations * scale of weights. Is it a known issue ? Are there plans to fix it ?
We have a bunch of models

[2020-03-13 18:42] mihaimaruseac commented on #37205
`cp37m` is `cpython 3.7 manylinux` tag.

Don't know exactly why you needed to download the file and then install it like this, but good to know it works.

Closing the issue as it is resolved

[2020-03-13 18:42] #37205 closed

[2020-03-13 19:04] payman-ap commented on #17393
Simply downgrade your TF version!

pip uninstall tensorflow
pip install tensorflow==2.0.0

(for me happened when I upgraded to 2.1.0 and I had problem with any pip version)

[2020-03-13 19:11] dinis-rodrigues commented on #36042
I have the same issue. I can easily use MirroredStrategy, but with CentralStorageStrategy I get the same error:

[code]

[2020-03-13 19:30] jvishnuvardhan commented on #31312
@noodlez04 I think this was resolved in recent `tf-nightly`. I ran your code in `GPU` and fit took 57.86 MB. [Here is a gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/ecf67b62788981093e5941943c33fe95/untitled876.ipynb) with GPU using `tf-nightly`.

When I ran same code in CPU with `tf-nightly`, fit took 17.77 MB. Please take a look at the [gist here](https://colab.sandbox.google.com/gi

[2020-03-13 19:45] qaishk commented on #37323
I'd like to give this a shot. Can I submit a PR for this?

[2020-03-13 19:46] saxenasaurabh commented on #36870
Could you try using `tf.custom_gradient`

[code]

[2020-03-13 19:46] #36870 closed

[2020-03-13 19:52] SSaishruthi commented on #37323
@ammirato @mdanatg Thanks. Will work on this.

[2020-03-13 19:57] razor1179 commented on #37025
@jvishnuvardhan sure will try and get back to you.

[2020-03-13 20:24] felixvelariusbos commented on #33437
Hi @mihaimaruseac . Coming from that different issue. I recently upgraded to TensorFlow 2.1 and am now having a slightly different (but still related issue).

Looks like in 2.1, all those deprecation errors are gone, which is awesome! Unfortunately, what happens now is:

1. I get a few errors of the line of
[code]
2. At this point, my IPython session either hangs, or actually let's me interact wit

[2020-03-13 20:31] CalebEverett commented on #37545
Thanks - it's going through now. `pip install tf-nightly --upgrade` to get version 2.2.0-dev20200313 installed and then `gcloud compute tpus reimage <tpu-name> --version nightly` to make sure the latest nightly is on the tpu as well.

[2020-03-13 20:31] #37545 closed

[2020-03-13 20:44] khimraj commented on #37261
@cappittall, As I gone through given stackoverflow link, I guess that you want to predict on remain data. For this first you need to change
`# Prediction on the remain  set.
predict_remain_input_fn = tf.compat.v1.estimator.inputs.pandas_input_fn(test_df, test_df["polarity"], shuffle=False)`
to
`# Prediction on the remain  set.
predict_remain_input_fn = tf.compat.v1.estimator.inputs.pandas_input_fn

[2020-03-13 20:58] sshrdp commented on #37523
Is building from -devel docker image supported workflow? It seems important enough for developer productivity to deserve an integration test.

[2020-03-13 21:02] ymodak commented on #37563
May be you can consider [limiting gpu memory growth ](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) in this case?
Also see https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/ConfigProto
For TF 1.X  you can try,
[code]

[2020-03-13 21:21] khimraj commented on #36676
If the signatures argument is omitted, obj will be searched for @tf.function-decorated methods. And as you have two such function so `print(adder1.signatures)` prints no signature names. You can use only one signature while saving models.
`to_export = Adder()
tf.saved_model.save(
    to_export,
    '/tmp/adder',
    signatures=to_export.add
)

adder1 = tf.saved_model.load("/tmp/adder")
print(adder

[2020-03-13 21:27] jaketae commented on #37365
I think you might be right, as the Kaiming He himself said [here](https://github.com/KaimingHe/deep-residual-networks/issues/10) that batch normalization should do away with the need for bias in the convolutional layers. If I understand it correctly, fixing this issue would just be a simple matter of setting `use_bias = False` when exporting the ResNet models. I can open a PR and start working soo

[2020-03-13 21:44] jvishnuvardhan commented on #37569
@deep28vish Can you please provide a standalone code to reproduce the error? Thanks!

[2020-03-13 21:50] zmjjmz commented on #33085
I'm encountering this issue with TF 2.1 and getting a different traceback from the ones posted here, but this is just on trying to save twice. Check out this [gist](https://gist.github.com/zmjjmz/ade6ecb5eaf011788b1da62db4413cad)

Not sure if being on Python 3.5 is a problem, but I'm also using feature columns here. While saving twice doesn't seem like a real usecase, it comes up inherently in som

[2020-03-13 21:52] jhseu commented on #37426
The error message indicates you're using uint8, which isn't supported on TPU. You can cast to uint32.

[2020-03-13 22:19] alextp commented on #33425
Actually I cannot reproduce this against nightly TF, so I think it has been fixed since. Sorry for the noise.

[2020-03-13 22:19] #33425 closed

[2020-03-13 22:19] qlzh727 commented on #37091
Hi @HendrikLaux, Thanks for reporting the issue.

The root cause is that cudnnRNN kernel doesn't have higher order gradient support, which is the issue you are hitting. I am not sure if Nvidia is going to add high order gradient support the cudnn kernel, for now we can only work around the issue (eg use unroll=True).

[2020-03-13 22:24] qlzh727 commented on #37091
Note that unroll requite the input to have a static time sequence. If you want to build your model with dynamic time sequence length, you can disable the cudnn backend by:

[code]

[2020-03-13 22:24] #37091 closed

[2020-03-13 22:25] 6etacat commented on #37559
@Saduf2019 Updated.

[2020-03-13 22:57] st-- opened #37584 "tf.linalg.triangular_solve segfaults instead of broadcasting"
**System information**
- Have I written custom code: no
- OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow installed from: pip install tensorflow
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de 2.1.0
- Python version: 3.7.6

**Describe the current behavior**

`tf.linalg.triangular_solve` segfaults when the shapes don't match *and* tf.linalg.triangular_solve hasn't been run before (if it

[2020-03-13 23:07] k1moradi commented on #35930
This issue is so annoying. I am using both Anaconda's TF 2.1 GPU and MKL on both Linux and Windows. After training loss is for example 0.2 loading the weights error increases significantly as if the model is not trained.

[2020-03-13 23:08] schlichtkrull commented on #33308
I faced the same error, luckily I solved it.
My code
[code]
And for some reason you can't split a tensor with shape (10,100) in two, which makes perfectly sense, but I think the error message is really misleading, so it would be helpful to either to make the error message more leading or give me the file where error messages is displayed, checked or something and then I'll create a pull request.

[2020-03-13 23:09] gowthamkpr commented on #37428
@stephenhermes I get it now. Thanks. I do see the difference between 1.x and tf.compat.v1 in 2.x.

[2020-03-13 23:12] gowthamkpr commented on #37318
@mathemakitten Did it resolve your issue?

[2020-03-13 23:15] gowthamkpr commented on #37283
@lizhen2017 Please respond to the above comment so that we can help you further. Thanks!

[2020-03-13 23:17] gowthamkpr commented on #37256
@FrancescaAlf Did the above comment help you in resolving your problem?

[2020-03-13 23:19] gowthamkpr commented on #36680
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-03-13 23:19] #36680 closed

[2020-03-13 23:22] MarkDaoust commented on #36676
@khimraj , you're close!

But you can export multiple signatures. You just need to pass a dictionary as the `signatures` argument. See [here](https://www.tensorflow.org/guide/concrete_function#example_setting_the_signature_names). for example.

[2020-03-13 23:22] gowthamkpr commented on #36227
@cmichelenstrofer Please let me know if the issue has been resolved using the above comment. Thanks!

[2020-03-13 23:22] #36676 closed

[2020-03-13 23:23] gowthamkpr commented on #35932
@mrinalsardar Please correct the gist and share it so that we can take a look at your issue. Thanks!

[2020-03-13 23:24] gowthamkpr commented on #36231
Closing this issue as it has been inactive for more than 3 weeks. Please add additional comments and we can open the issue again. Thanks!

[2020-03-13 23:24] #36231 closed

[2020-03-13 23:25] beardwolf commented on #37414
Sorry, but no. The gist has an OpenCV error thrown from the data generator that I didn't get when I ran it on my computer. The error I got was thrown from train_on_batch.

[2020-03-13 23:42] srilman commented on #12345
Since TF2.1 is the last version to support Python 2, shouldn't all later versions support at least 3.5? Then the native syntax can be used instead of the comments.

Seems like the https://github.com/persephone-tools/tensorflow-stubs/ hasn't been updated in a while. Would love to see (or even start making) some progress on this front!

[2020-03-13 23:42] ymodak commented on #37516
@amitDaMan Please go ahead and raise a PR. Also reference this issue thread in the request. Thanks!

[2020-03-13 23:43] gowthamkpr commented on #37170
@bzhong2 We will try to answer this on stackovrflow itself. I am closing this issue for now as github is only meant for build/install, bug/performance, feature request or docs related issues. Thanks!

[2020-03-13 23:43] #37170 closed

[2020-03-13 23:44] ymodak commented on #37509
Closing this issue since its resolved. Thanks!

[2020-03-13 23:44] #37509 closed

[2020-03-13 23:46] #37012 closed

[2020-03-13 23:46] #36866 closed

[2020-03-13 23:54] ymodak commented on #35934
Closing this issue since it cannot be reproduced. Feel free to reopen a new issue with a repro example. Thanks!

[2020-03-13 23:54] #35934 closed

[2020-03-14 00:11] irum commented on #36915
@liuxingbaoyu
No worries. I am happy that this post was helpful .I already explained to tensorflow team that the base models have some ii sues.

[2020-03-14 00:15] xlnwel commented on #37497
@ravikyram Yeah, the code provided by me will raise error `ValueError: too many values to unpack (expected 2)` at the last line. Here's the [colab link](https://colab.research.google.com/drive/1z58JoPdMDszfXV-rHBAOM6HUDd-W2yVb) I use for test. I humbly think that it will be easier to use if

1. `cell.get_initial_state(x)` returns a list of tensor, where `cell` could be any RNN cell, including GRUC

[2020-03-14 00:17] xlnwel commented on #37497
@Susmit-A, thanks for point out the different behavior of `Cell` and `RNN`, although I've already known them before. Please check this [colab link](https://colab.research.google.com/drive/1z58JoPdMDszfXV-rHBAOM6HUDd-W2yVb) and the comment above.

[2020-03-14 00:28] tanzhenyu commented on #37521
Hi @brightcoder01 we're no longer supporting new features for feature columns and planning to deprecate them from 2.2 and forward.
This feature sounds reasonable, but it should be achievable through keras natively, i.e., we're exporting a preprocessing layer called index_lookup to convert categorical inputs to integers, and you can add the offset manual before passing to embedding layer.
For more

[2020-03-14 00:28] #37521 closed

[2020-03-14 00:51] #37240 closed

[2020-03-14 01:10] martinwicke commented on #12345
Here is an rfc which takes a step in this direction:
https://github.com/tensorflow/community/pull/208

And yes, we can use inline annotations, although some tooling still needs
to be upgraded.

@mdanatg

On Fri, Mar 13, 2020, 16:43 Srinivas Lade <notifications@github.com> wrote:

[2020-03-14 01:17] tensorflowbutler commented on #37117
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-14 01:58] eduardofv opened #37587 "EarlyStopping Callback not working with Multiple Callbacks"
**System information**
- Have I written custom code
- OS Platform and Distribution: *Google Colab*
- TensorFlow version: *2.1.0*
- Keras: *2.2.4-tf*
- Python version: *3*
- CUDA/cuDNN version: No GPU but happens also with it

**Describe the current behavior**
When a CustomCallback  uses `model.predict` or `model.evaluate` as part of `on_epoch_end`,  to for example, track a custom evaluation metric

[2020-03-14 02:23] FritzPeleke opened #37590 "#AttributeError: 'ImageDataGenerator' object has no attribute 'shape'"
Hi everyone I am still getting used to using Keras. When I run the code below I get an error:
**AttributeError: 'ImageDataGenerator' object has no attribute 'shape'**
I haven't found any answer online even on stack overflow. Any help will be appreciated.

import os
import random
import cv2
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from tensorflo

[2020-03-14 05:25] ashutosh1919 opened #37591 "Example given in tf.image.rgb_to_yub is contadicting with the description."
## URL(s) with the issue:
https://www.tensorflow.org/api_docs/python/tf/image/rgb_to_yuv?version=nightly

## Description of issue (what needs changing):
(1) The example image `x` has pixel values which are not in the range of [0,1]. So, it can't be fed to `rgb_to_yuv` directly without scaling it.
(2) Users of the API need example which is close to practical scenario. In this case, nobody wants to

[2020-03-14 05:42] CHIKKIZZY commented on #32623
Just expanding on @josei suggestion.. run the following:

cd /dev
sudo nano script.sh (copy/write contents of "Device Node Verification Script")
sudo chmod 777 script.sh
sudo ./script.sh

[2020-03-14 05:59] SilverKnightVGM commented on #7404
Having the same problem as @ProjectDimlight, tried the suggestions above with no luck. Any updates on this?

[2020-03-14 06:11] Expert73 commented on #37430
I thenk, problem now here
 DCHECK_EQ(dim.size(), strides.size());
#ifdef ENABLE_MKLDNN_V1
  const int kNumDims = dim.size();
  mkldnn_dim_t input_dims[kNumDims];
  mkldnn_dim_t input_strides[kNumDims];
  for (int i = 0; i < kNumDims; ++i) {
    input_dims[i] = dim[i];
    input_strides[i] = strides[i];
  }

in old (work code) was:
DCHECK_EQ(dim.size(), strides.size());
#ifdef ENABLE_MKLDNN_V1
  mk

[2020-03-14 06:14] Expert73 commented on #37430
==> const int kNumDims = dim.size();
is this correct?

[2020-03-14 06:42] Tylersuard commented on #37189
@SivamPillai Thank you for backing me up on this.  I feel exactly the same way.

@mihaimaruseac At this point I would settle for a Windows-type installation wizard, anything to just get the software to work.  It could even include matching Nvidia drivers and Python versions with Tensorflow or something like that.  It's just frustrating to me that everything else by Google is amazing and easy to us

[2020-03-14 06:47] agarwal-ashish commented on #33919
There is now a converter for SpaceToBatchND.

[2020-03-14 06:47] #33919 closed

[2020-03-14 06:49] agarwal-ashish commented on #25469
Note that tf.cond is now supported in vectorization.

[2020-03-14 06:49] #25469 closed

[2020-03-14 07:18] evanatyourservice commented on #34765
It would be nice to be able to use .fit with tfp, but for now I found I had to use custom training talked about [here](https://www.tensorflow.org/probability/api_docs/python/tfp/layers/DenseFlipout)  in the tfp documentation and [here](https://www.tensorflow.org/tutorials/customization/custom_training_walkthrough) for the custom training.

[2020-03-14 07:18] SivamPillai commented on #37189
@mihaimaruseac I am not setting up TF at the moment in any machine. But will share specific issues when I come across those. @Tylersuard sure, it was just resonating so chipped in. I don't think making things so rigid like a windows software package will help either. As you know most of us want to make use of the latest improvements or algorithms implemented in TF. Windows like rigid packaging wil

[2020-03-14 07:58] khimraj commented on #37590
@FritzPeleke , Can you please provide the simple standalone code with proper indentation or colab link to reproduce the issue in our environment. It helps us in understanding the issue faster. Thanks!

[2020-03-14 08:41] youngstar9 commented on #22512
我可以了 感谢

[2020-03-14 10:09] dimtass commented on #30953
Hi @freddan80 there's been quite some time that I haven't follow up the recent changes in tensorflow. Currently, I'm quite busy to setup everything again, but I plan to do so at some point in the near future in order to evaluate TF again. Therefore, I'll update this thread with my findings when it's done. Thanks!

[2020-03-14 10:57] SchernHe commented on #36331
I am facing the same warning. Any news?

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOSX 10.15.3 (Catalina)
TensorFlow installed from (source or binary): Source
TensorFlow version: 2.0
Python version: Python 3.7.3
Installed using virtualenv? pip? conda?: yes virtualenv
Bazel version (if compiling from source): bazel 2.0.0
GCC/Compiler version (if compiling from source): Apple clang

[2020-03-14 11:21] buaasun opened #37593 "bug in C++ API "AddSymbolicGradients""
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-14 11:48] Expert73 opened #37594 "ERROR: C:/tensorflow/tensorflow/core/kernels/BUILD:7897:1: C++ compilation of rule '//tensorflow/core/kernels:mkl_conv_op' failed (Exit 2)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10 x64
- Mobile device

[2020-03-14 12:04] FritzPeleke commented on #37590
`import os
import random
import cv2
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from functools import partial
from tensorflow.keras.callbacks import TensorBoard
from time import time

path = os.path.

[2020-03-14 12:12] FritzPeleke commented on #37590
import os
import random
import cv2
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from functools import partial
from tensorflow.keras.callbacks import TensorBoard
from time import time

path = os.path.j

[2020-03-14 12:24] #37117 closed

[2020-03-14 12:32] FritzPeleke commented on #37590
Hi @khimraj,
sorry I am not a skilled programmer and neither skilled at posting issues on GitHub.
Here is a colab link. Hopefully it is okay
https://gist.github.com/FritzPeleke/d0fc1fe638dc3c7a89eb0e303f19f9e9

[2020-03-14 12:54] srilman commented on #12345
Funny enough @martinwicke I had just found that RFC right when you commented. Looks great to me! But from my understanding the RFC is to consolidate custom types into a single module rather than adding type hints to the public API. Is that true @mdanatg?

[2020-03-14 13:29] mdanatg commented on #12345
The RFC sets up the initial support and guidance for types, including
annotations, but it does not add the annotations themselves. My hope is
that the community will be able to help with that bit - once we set up a
few examples, it should largely be straightforward to annotate the APIs one
by one.

Cheers,
Dan

On Sat, Mar 14, 2020 at 8:54 AM Srinivas Lade <notifications@github.com>
wrote:

[2020-03-14 13:57] lamba92 commented on #37426
Could you show how to do that when using a `kera.utils.Sequence`? Should you override it with a class?

[2020-03-14 14:00] srilman commented on #34346
@ErvisTusha What was the first error you received? The one that you were able to fix with the line `tf.compat.v1.disable_eager_execution()`. I was playing around with your code (the one posted in #37485) because I was getting an unusual connection issue on my own code and wanted to try on someone elses. When I removed that line, we both received the same error, and it doesn't seem to be related to

[2020-03-14 14:37] Flamefire commented on #36281
@gthb I guess so, yes. But there still is a bug in the code as a value which can be None is used expecting it to be not None.

[2020-03-14 15:07] NickDinges commented on #33374
Is anyone working on this issue? I see no progress with the Windows Version. Any possibilities to put priority on it? Like using Patreon or other Donation sites? Else would start fixing it myself in case it stays open for the next few months :)

[2020-03-14 15:15] crmh commented on #37426
Jhseu, for me it is working now, per your suggestion.

I am converting the uint8 image resulted from tf.io.decode_jpeg to float32 using:
`image = tf.image.decode_jpeg("image.jpg", channels=3)`
`image = tf.cast(image, tf.float32)`

If I want to also cast all values between 0 and 1 I use:
`image = tf.cast(image, tf.float32)/255.0    # convert image to floats in [0, 1] range`

Also, I found using TFR

[2020-03-14 15:15] #37426 closed

[2020-03-14 15:22] ahtik commented on #33374
@NickDinges It's likely part of the 2.2.0 release. Current option is to compile it manually: Windows, Python 3.8 and CUDA 10.1 is known to work with the latest r2.2 branch and v2.2.0-rc0 tag.

Unfortunately without TensorRT and XLA support.

[2020-03-14 15:39] MikhailMashukov commented on #37193
Oh, I'm afraid I don't know how to do this in reasonable amount of time. Needs endless iterations of cutting code and retesting whether it still reproduces.

Maybe some additional logging instead?

[2020-03-14 15:47] mihaimaruseac commented on #33374
2.2.0 release should have python 3.8

[2020-03-14 15:53] ashutosh1919 commented on #37531
@rakeshmothukuru1 , @amahendrakar and @jaketae , I think I have figured out the issue.
`trainable_count` is calculated for summary by [this code](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/layer_utils.py#L261).

Note that the code on the above link
[code]
first checks if there is any attribute as `_collected_trainable_weights`, if it is then it will count pa

[2020-03-14 16:06] moritalous opened #37595 "ERROR: /workspace/tensorflow/python/BUILD:7451:1: C++ compilation of rule '//tensorflow/python:_pywrap_tf_cluster.so' failed (Exit 1)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04.3 LTS (on A

[2020-03-14 16:07] ashutosh1919 commented on #37531
So, I think no need to change the code. We need to use `trainable` considering above thing in mind.

[2020-03-14 16:25] mihaimaruseac commented on #33437
For 1, there's nothing to worry about. They are just warnings and tell you that GPU couldn't be found so it won't be used.

2 and 3 look more like IPython issues than TF, but we can look at them sometimes.

[2020-03-14 16:35] gunan commented on #33374
Correct.
Tf nightlies and 2.2.0 rc0 both have python 3.8 support. Except for macos,
which is due to some issues we are having updating our mac cloud.

On Sat, Mar 14, 2020, 8:47 AM Mihai Maruseac <notifications@github.com>
wrote:

[2020-03-14 16:44] NickDinges commented on #33374
Yes, just curious while there is still no image.

https://pypi.org/project/tf-nightly/2.2.0.dev20200307/#files

[2020-03-14 16:44] mihaimaruseac commented on #17393
If it works on 2.0.0 but not on 2.1.0 then you need to install the 2019 MSVC redistributable as [the requirements state](https://www.tensorflow.org/install/pip)

If it doesn't work on 2.0.0 either, then check if your Python interpreter is on 64 bits (it has to be) and if your CPU supports AVX (it has to). If Python interpreter is not right, please install the right one. If CPU does not support AVX

[2020-03-14 16:47] mihaimaruseac commented on #33374
@NickDinges this seems like a bug on our side

[2020-03-14 16:48] lucaturchet commented on #33374
Hi all, I am on a mac catalina with python 3.8. What should I do? Should I compile from source, wait for the new release or downgrade to python3.7? I am in a super hurry, please provide and avice

[2020-03-14 16:51] #36965 closed

[2020-03-14 17:06] Kent-H commented on #15869
After much frustration & hackery, I think I've got it working.

### Process:
1. Download the go bindings for windows.
https://www.tensorflow.org/install/lang_c#download
2. Convert the provided lib to one that's understood by the MinGW GCC using
   1. `gendef tensorflow.dll`
(should generate a `tensorflow.def` file)
   2. `dlltool --kill-at --input-def tensorflow.def --ouput-lib tensorflow.a`
(shou

[2020-03-14 17:19] mihaimaruseac commented on #33374
@NickDinges py38 pips for 2.2.0-rc0 will get uploaded shortly. Also, we have a fix in progress for the nightly pips for windows/py38.

@lucaturchet If in rush, downgrading to py3.7 will allow you to `pip install`. Otherwise, you can try compiling from source or waiting until 2.2 final release

[2020-03-14 17:21] lucaturchet commented on #33374
@mihaimaruseac  thanks a lot. Could you please provide an estimate of when you foresee to release the support for 3.8? Just to have an idea

[2020-03-14 17:21] mihaimaruseac commented on #33374
A few weeks. We already have rc0 for 2.2

[2020-03-14 17:26] mathemakitten commented on #37318
Hi! I wound up flipping the TPU version over to the new nightly and it seems to work, thanks!

[2020-03-14 17:26] #37318 closed

[2020-03-14 17:31] guydavid opened #37597 "TF Lite OpenCL Input Tensors Same Address"
This is already fixed in master (https://github.com/tensorflow/tensorflow/commit/8685cf97d568855f3e7cf194d7e370bb71c51c73#diff-49796db7c3f71b9c25c7837d9ee16abf), however I thought it's appropriate to report it nonetheless if anyone else encounters it.

Before the fix, the inputs of a model with three or more inputs were not copied correctly because some of them shared the same memory address in th

[2020-03-14 17:32] mihaimaruseac commented on #33374
@NickDinges Python 3.8 pips uploaded to [`tf-nightly-gpu`](https://pypi.org/project/tf-nightly-gpu/#files) and [`tf-nightly-cpu`](https://pypi.org/project/tf-nightly-cpu/#files) for Windows and Linux. From tomorrow all these will also be uploaded to `tf-nightly`

[2020-03-14 17:40] qiuminxu commented on #36314
We have just released a new profiler in TF 2.2 rc0.
https://tensorflow.org/guide/profiler
One of the profiler output is trace.json.gz, that can be directly upload to chrome://tracing to visualize.

Please try if the new profiler fixes your issue.
If it doesn't, we will follow up with you.

thanks

[2020-03-14 17:49] openedev opened #37598 "2.2.0-rc1 aarch64 crosscompile build failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: ARM64 development board
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.2.0-rc1
- Python version: 3.8
- Installed using virtualenv? pip? conda?:
- Bazel version (if compili

[2020-03-14 17:49] NickDinges commented on #33374
Awesome! Thanks :-)

[2020-03-14 18:06] jsimsa commented on #37515
@aaudiber could you please take a look? thank you

[2020-03-14 18:42] enga3b2 commented on #22512
pip install tensorflow==2.0.0
solved the problem :)

[2020-03-14 19:38] qiuminxu commented on #36314
Verifies the fix in tf-nightly works in this colab.
https://colab.research.google.com/gist/gadagashwini/2c9946a562d22127690069c4013da8bc/untitled449.ipynb

Cherrypick request sent out:
https://github.com/tensorflow/tensorflow/pull/37599

[2020-03-14 19:38] qiuminxu commented on #37543
Verifies the fix in tf-nightly works in this colab.
https://colab.research.google.com/gist/gadagashwini/2c9946a562d22127690069c4013da8bc/untitled449.ipynb

Cherrypick request sent out:
https://github.com/tensorflow/tensorflow/pull/37599

[2020-03-14 20:34] tordsae opened #37600 "Output 0 of type variant does not match declared output type int64 for node node IteratorGetNext"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Standard setup for gcp kubeflow and notebook as in https://www.tensorflow.org/tfx/tutorials/tfx/cloud-ai-platf

[2020-03-14 22:50] LEMAOR opened #37601 "TF Lite ESP32 make License issue"
**System information**
- Windows 10
-tensorflow cloned from git directly

**Describe the problem**
While trying to use make i get an issue with License:
[code]

**Provide the exact sequence of commands / steps that you executed before running into the problem**

Using the batch file provided by esp32 i setup the path variables:

[code]

**Any other info / logs**

make is working

idf.py --version

[2020-03-14 22:56] lminer opened #37602 "Mixed Precision with tf.distribute"
It doesn't appear that mixed precision currently works with tf.distribute. Are there plans to add this soon?

[2020-03-14 23:19] emuccino commented on #33030
I was having this issue using a custom keras Iterator class in tf 2.1.

I solved it by turning my custom keras Iterator class into a generic class with a callable generator method (that yields batches) and using it to create a tf Dataset with tf.data.Dataset.flow_from_generator() .
Using tf Dataset got rid of the memory leak.

For some reason keras generators (e.g. Sequence, Iterator) aren't being

[2020-03-14 23:23] moritalous commented on #37595
Sorry, My fix is broken.
I close this pull request.

[2020-03-14 23:23] #37595 closed

[2020-03-15 00:43] tensorflowbutler commented on #37153
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-15 00:43] tensorflowbutler commented on #37127
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-15 02:48] jvishnuvardhan commented on #30929
@OutSorcerer This is intended behaviour only. Please check the comment on similar issue [here](https://github.com/tensorflow/tensorflow/issues/28610#issuecomment-494171724). Thanks!

[2020-03-15 02:52] jvishnuvardhan commented on #37359
@LukeChow

Did you use TF1.x to create the model or TF2.1?
can you share the model and a standalone code? Thanks!

[2020-03-15 02:54] jvishnuvardhan commented on #36855
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-15 02:54] #36855 closed

[2020-03-15 03:11] kyleabeauchamp commented on #35099
I also just encountered this issue, I was hoping to port my code from pymc3 to tensorflow but hit this.

[2020-03-15 04:00] jvishnuvardhan commented on #37512
@ammirato I think this is tracing behavior of the functions in the graph. When you run the first `This works` block of code, it creates a function graph and ops within the graph. In this first block, the argument `_OG_values` is a list of tensor.
[code]
Whenever there is a change in input signature of argument that passed to function graph, it tries to create another function graph. In the second

[2020-03-15 04:22] MuhammadNumanmn commented on #9829
pip install --upgrade numpy worked for me
thank you for your suggestions.

[2020-03-15 04:31] kulsoomzahra commented on #37323
can i work on this? @ammirato

[2020-03-15 04:34] jpoles1 commented on #37525
Brilliant, that was exactly the solution I needed to get things working, thanks @asequeira-os!

[2020-03-15 04:56] ashutosh1919 commented on #37548
I think gist created by @gadagashwini has some problem.
Here is the gist created by @gadagashwini ,
[code]
Now, Take a look at section code 1 & 2. Observe that there is no use of `input_shape` in code section 1. And `relu_layer` is defined in code section 1. So, `len(relu.inbound_nodes)` is independent of the value of `input_shape`. And moreover, in code section 2 assert statement, you are asserti

[2020-03-15 04:59] ammirato commented on #37512
@jvishnuvardhan Nope I don't think that's it. Did you try it?

[Here's another codalab without the first block](https://colab.research.google.com/drive/18mZ5h8Z2RXwXUmHnGeIoVIS0nOxmHxZG). same error. Here's the code:

[code]

[2020-03-15 05:39] omalleyt12 commented on #30355
Thanks for the issue!

This commit fixes the issue:

https://github.com/tensorflow/tensorflow/commit/816ec796ea6a96940188356628566ed11a11c186

The fix should be available in tomorrow's nightly build

[2020-03-15 05:39] #30355 closed

[2020-03-15 06:31] ashutosh1919 commented on #37511
@ujjwal-ai , Please find below code. It resolves the error.
[code]

It turns out that `add_loss()` is not compatible with eager execution. Please read more about it [here](https://github.com/tensorflow/compression/issues/9).

[2020-03-15 06:34] kernelizd opened #37606 "Loaded runtime CuDNN library: 7.5.1 but source was compiled with: 7.6.5"
Constructing simple LSTM model, feed arbitrary stuff, then I get the error:

I traced the error above a couple of lines, and I see it started with the error you see in the title.

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Win10
- Mobile device (e.g. iPhone 8, P

[2020-03-15 07:44] junpenglao commented on #35099
pinging a few more folks: @derifatives @brianwa84

[2020-03-15 07:54] montusharma550 commented on #13696
I got it fixed using just importing LSTM from tensorflow 2.1.0  as stated by someone in this nvidia forum:

https://devtalk.nvidia.com/default/topic/1064345/cudnn/importerror-cannot-import-name-cudnnlstm-from-tensorflow-keras-layers-/

Also you have to keep in mind that CuDNNLSTM uses 'tanh' as activation function. So add also the argument of tanh activation function wherever you are using LSTM. F

[2020-03-15 08:20] abhinavsp0730 opened #37607 "Lots of links are Broken."
## URL(s) with the issue:
https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/index.md
## Description of the issue (what needs changing):
There are lots of links are broken, some of them are:
https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/tf/dtypes/DType
https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/tf/data/experimental/get_structure
ht

[2020-03-15 08:28] MokkeMeguru commented on #37127
Sorry, I think it's nvidia-docker and some environment settings problem.
HOST's OS cannot detect cuda and cuddn's libraries.
I think this is not TF's Problem.

[2020-03-15 08:28] #37127 closed

[2020-03-15 08:48] DavidInWuhanChina commented on #37162
I have solve this problem，thanks！

[2020-03-15 08:48] #37162 closed

[2020-03-15 10:16] NickDinges commented on #33374
Just checked, all files are updated except those needed for windows ;-(

[2020-03-15 10:53] HLearning opened #37608 "need custom implementations: NonMaxSuppressionV5"
**System information**
- Linux Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow 2.1

**Provide the text output from tflite_convert**

[code]

[2020-03-15 11:17] drasmuss commented on #37548
"Code section 1" creates `submodel`, which is used in "Code section 2". So effectively all of "Code section 1" is being repeated in "Code section 2". You can read more about how this works in Keras here https://www.tensorflow.org/guide/keras/functional#all_models_are_callable_just_like_layers.

Your code avoids the problem, it doesn't solve it (because the root of the issue is in this section http

[2020-03-15 11:28] foxik opened #37610 "Generated docs for TF 2.1 and TF 2.2 are missing information present in the source docs"
## URL(s) with the issue:

The issue affects many pages, here is one example:
- TF 2.2: https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/keras/optimizers/schedules/ExponentialDecay
- TF 2.1: https://www.tensorflow.org/versions/r2.1/api_docs/python/tf/keras/optimizers/schedules/ExponentialDecay
- TF 2.0: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/optimizers/schedul

[2020-03-15 11:28] Eshan-Agarwal commented on #37607
@abhinavsp0730  Yes there are lot of broken links, because they removed API GitHub. Maybe you can remove all links. As members add  links automatically when the website documentation gets generated.

[2020-03-15 11:29] liuxingbaoyu commented on #36915
This may be related to BatchNormalization.
I use the model without any BatchNormalization and it will be very good.

[2020-03-15 11:56] Aditya-shahh opened #37611 "Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above. [Op:Conv2D]"
Tensorflow version: 2.0
CUDA version: 10.2

I'm trying to run a CNN network on a set of images in PyCharm IDE.
However, when I run the following code:

history = model.fit_generator(
   ...:     train_data_gen,
   ...:     epochs=epochs,
   ...:     validation_data=val_data_gen,)

 I get this error:

   ...:
Epoch 1/80
2020-03-15 17:14:52.332052: E tensorflow/stream_executor/cuda/cuda_dnn.cc:329]

[2020-03-15 12:15] Tameli commented on #28824
Hi @Acidic9

to which WORKSPACE file did you added the code snippet above?The exact path would help me a lot. I'm sorry if it should be obvious.Thank you so much!

[2020-03-15 12:59] CNOCycle commented on #35107
Unfortunately, I forget to check a model with BatchNorm.

For this case, the API is still broken. I did the test on `tf-nightly-gpu:2.2.0.dev20200314`

The following output shows that loss is `nan` if users use low level API

[code]

[2020-03-15 13:04] CNOCycle commented on #35050
After carefully checking, this issues may not be solved correctly if BatchNorm layer is included in the model.

Please read the thread in https://github.com/tensorflow/tensorflow/issues/35107#issuecomment-599207167

[2020-03-15 13:40] windhw commented on #25087
--> The nudge logic is added to simulate "VQRDMULH".
I think using VQRDMULH is wrong here,  because the result is not final number and you need to perform rounding-shift again.  Rounding after 31-bit shifting will cause the error on numbers such as x.499.
I think VQDMULH without rounding is the correct instruction to use.

[2020-03-15 14:34] vusalismayilovx commented on #32520
The minimum requirements for such training about the RAM was 16 GB (at least). I have increased the total RAM amount to 25 after that, and it started working successfully.

[2020-03-15 14:57] Rakesh096 opened #37612 "Not able to import tensorflow"
**System information**
(tensorflow_cpu) C:\Users\Rakes>conda list
# packages in environment at C:\Users\Rakes\.conda\envs\tensorflow_cpu:
#
# Name                    Version                   Build  Channel
absl-py                   0.9.0                    pypi_0    pypi
astor                     0.8.1                    pypi_0    pypi
blas                      1.0                         mkl
ca-

[2020-03-15 15:00] sjtusmartboy commented on #37563
@ymodak I've tried limiting memory growth as mentioned above, without any help. Because the model involves adagrad op, the internal variables of which require three times the model size, which is 3*12gb = 36gb > 32gb of the gpu memory. So it's useless to set `config.gpu_options.allow_growth = True`. Any other suggestions?

[2020-03-15 15:04] RomitGandhi07 opened #37613 "How to use our own tflite model ?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-03-15 15:37] mihaimaruseac commented on #33374
[tf-nightly](https://pypi.org/project/tf-nightly/#files), [tf-nightly-cpu](https://pypi.org/project/tf-nightly-cpu/#files), and [tf-nightly-gpu](https://pypi.org/project/tf-nightly-gpu/#files) all have linux and windows python 3.8 packages.

Probably you checked before they got uploaded

[2020-03-15 15:38] ivankxt opened #37614 "Bazel build tensorflow1.15.2 error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu1~18.04.1
- TensorFlow i

[2020-03-15 15:46] jsimsa commented on #30929
It is not intended behavior and there is an outstanding PR to fix this bug: https://github.com/tensorflow/tensorflow/pull/37277

[2020-03-15 15:46] tinyxuyan commented on #24828
When I set up allow_growth = True, the issue disappears. However, when I set two virtual GPU devices with only one physical GPU device, allow_growth can not be set True. So, how can I solve the issue? Do you have any idea? When I run my code in Colab, it is ok without setting allow_growth. I am quite confused.

[2020-03-15 15:53] mihaimaruseac commented on #37614
This is strange. Can you confirm that this was on `r1.15` branch? What is the output of `git log -n5`?

[2020-03-15 15:55] mihaimaruseac commented on #37612
Closing as duplicate. Please do some work in the future on these issues (formatting of error/code blocks, search for similar issues)

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-15 15:55] #37612 closed

[2020-03-15 15:55] mihaimaruseac commented on #37473
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-15 15:55] #37473 closed

[2020-03-15 15:56] mihaimaruseac commented on #37333
Then this should not be posted in tensorflow repository. Locking conversation as offtopic

[2020-03-15 15:56] awrgold commented on #24828
I tried the same, it doesn't help at all. For now I've been training on the CPU but I'd really like to speed things up. I've even tried going down to CUDA 9 and TF 1.15 to see if that helped, but to no avail.

[2020-03-15 15:57] mihaimaruseac commented on #37562
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-15 15:57] #37562 closed

[2020-03-15 15:57] mihaimaruseac commented on #37360
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-15 15:57] #37360 closed

[2020-03-15 15:58] mihaimaruseac commented on #36486
Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-15 15:58] #36486 closed

[2020-03-15 15:59] mihaimaruseac commented on #37611
See #24828

[2020-03-15 16:24] s4sarath commented on #33060
I am facing the same issue . When returning a ```tf.saved_model.load``` object inside a function and then try to use it, it is not working.

I am having a file ```sample.py```
[code]

When I am executing ```main.py```

[code]

If I print model.variables I am getting following error

[code]

But. If load the model with same code inside the function, but not using the function it works fine

[code]

[2020-03-15 16:25] s4sarath opened #37615 "TF saved model Assertion Error ( Called a function referencing variables which have been deleted )"
I am facing an issue . When returning a ```tf.saved_model.load``` object inside a function and then try to use it, it is not working.

I am having a file ```sample.py```
[code]

When I am executing ```main.py```

[code]

If I print model.variables I am getting following error

[code]

But. If load the model with same code inside the function, but not using the function it works fine

[code]
If I p

[2020-03-15 17:47] NickDinges commented on #33374
Yes. Works now. The windows image was 5 hours later than the other images :-) Didnt expect that :)

[2020-03-15 17:54] Man7hano commented on #24828
You have to clarify your issue. Why do you need two virtual devices and one physical device? Secondly, do you use a docker container or a local environment? What are your specs? Colab uses other GPUs then you, why shouldn't it work there?

[2020-03-15 18:03] liuxingbaoyu commented on #36072
2.2.0-dev20200314

_pywrap_tensorflow_internal.pyd
baseaddr:00007FFC392D0000
[code]
[code]

Two threads are stuck in an endless loop, because I have no symbols, so I can only provide offsets.

[2020-03-15 18:18] cmichelenstrofer commented on #36227
If this is how slow it is supposed to be than I guess there's nothing to do. Unfortunately, I cannot use batch normalization for my case. I was just surprised it was so slow when the optimization/training in tensorflow is not this slow and it requires gradient calculation. But from what I've been reading it seems tensorflow never calculates the full jacobian when doing back-propagation/gradient de

[2020-03-15 19:12] jvishnuvardhan commented on #30929
@jsimsa Sorry, I was wrong. Thanks for the correction.

[2020-03-15 19:48] jvishnuvardhan commented on #34154
@jackd Is this still an issue? When I ran your code with `tf-nightly`, I didn't see any error.  For the line that was throwing error for you, it didn't show any error with `tf-nightly`. Please add a line `!pip install tf-nightly-gpu` at the top to install `tf-nightly`.

For the following line
`run_model_custom(normalize_with_moments)  # <----- fails`

It outputs

`passed run_model_custom with norm

[2020-03-15 20:06] nhubbard opened #37617 "No documentation on how to convert Session.run calls to tf.function calls"
## URL(s) with the issue:

* https://www.tensorflow.org/guide/migrate#1_replace_v1sessionrun_calls

## Description of issue (what needs changing):

There is no information provided to the end-user on how to convert simple `Session.run` calls into `tf.function` calls for TensorFlow 2. For people who are only interested in running saved models and not building their own architectures, the lack of in

[2020-03-15 20:07] yassinetb commented on #28010
Had the problem `callbacks.ModelCheckpoint`, setting `save_weights_only=True` solved the problem for me.

[2020-03-15 20:17] jkkj1630 opened #37618 "num_replicas_in_sync not equel to my gpus."
strategy = tf.distribute.MirroredStrategy()
print('Number of devices: {}'.format(strategy.num_replicas_in_sync))

i have 4x2080Ti
but when i run this code, i got :
Number of devices: 1

and training a model have warning:
WARNING:tensorflow:There are non-GPU devices in `tf.distribute.Strategy`, not using nccl allreduce.

and no gpu in used

tensorflow 2.1.0
keras 2.3.1

[2020-03-15 22:11] #37366 closed

[2020-03-16 00:47] tinyxuyan commented on #24828
@Man7hano
There is only one physical GPU in the local environment, therefore, I create two virtual GPU devices to train the neural network in a  distributed way.
Local env: RTX2060; Cuda 10.1; cuDNN 7.6.4. I do not use a docker container.
I run Colab in Google drive with only one GPU device.
I am not sure whether the issue about cuDNN initialization stems from the configuration allow_growth=True o

[2020-03-16 01:22] sjtusmartboy commented on #37563
What I desired is the parallel model training that could split large model on one machine with eight gpus. Each part of the model is trained on the single gpu, and then the results are combined, just the philosophy of map-reduce, for the reason that each gpu memory is not large enough to hold the entire model, not the MirroredStrategy that simply makes the replica of model on different gpus.

[2020-03-16 01:29] mcawai commented on #11812
Working for me on tf 2.1.0 (ref: https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth)

import tensorflow as tf
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

[2020-03-16 01:40] brightcoder01 commented on #37521
Hi, @tanzhenyu , Thanks for your reply.
From the API spec for TF2.2rc, the proposed layers is not included in tf.keras.preprocessing package. Will these layers be released TF2.2 or later?
What's more, will the API in tf.feature_column be removed in TF2.2 or later version?

[2020-03-16 02:37] rxsang commented on #34346
Looks like it already passed the initialization part and now it hits the error inside Keras with generator.

@haoyuz @jsimsa as you are working on supporting dataset from_generator in TPU, could you help to take a relook?

[2020-03-16 03:13] minjac commented on #37536
Thanks for your help, but I cannot find some arguments as same as beta1_power or beta2_power in this API.

[2020-03-16 03:19] TrentHouliston opened #37620 "ModelCheckpoint does not save the model when `_is_graph_network` is False"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): `tensorflow/tensorflow:2.1.0-gpu-py3`

**Describe the current behavior**
When using tf.keras.callbacks.ModelCheckpoint it implies that when save_weights_only is False it will save the model using model.save, howe

[2020-03-16 03:21] lvjunsetup opened #37621 "conv2d calculation results are inconsistent with pytorch"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-16 03:53] gluttony47 commented on #24828
this worked for me. cuda 10.1, cudnn 7.6.5, tf 2.1, windows 10

[2020-03-16 03:53] 0xSYNKEN commented on #37282
I solved this problem. The solution is to downgrade the version of tensorflow to 1.13.1.

The android application of tensorflow provided by this github uses tensorflow-android module, not tflite. However, tensorflow-android is not compatible with version 1.14.0 or higher since it was deprecated last.

Downgrade the version of tensorflow to 1.13.1 and then install darkflow again. The demo applicati

[2020-03-16 03:53] #37282 closed

[2020-03-16 04:00] bwanaaa commented on #36792
I also am getting the error `NotImplementedError: Cannot convert a symbolic Tensor (truediv_3:0) to a numpy array.`
My code is:

[code]
My calculations of loss use K, not numpy

The actual trace is:
[code]

Am I misreading the trace when It the error seems to stem from `yield epoch_logs`

[2020-03-16 04:16] moshevolo opened #37622 "grpc+verbs fail with tensorflow/core/common_runtime/process_state.cc:128] Check failed: 0 == cpu_allocators_.size() (0 vs. 1)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-16 04:28] ravikyram commented on #37153
@SlowMonk

Any update on this issue please. Thanks!

[2020-03-16 04:46] jvishnuvardhan commented on #37485
I can reproduce the issue with the above colab that uses recent `tf-nightly`. Thanks!

[2020-03-16 04:47] Saduf2019 commented on #37621
@lvjunsetup
could you please share the tensorflow version on which the issue was faced for us to replicate this on our local.

[2020-03-16 05:17] lackhole opened #37623 "Building tensorflow lite for Android (C++) undefined reference error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04, MacOS 10.15.3
-

[2020-03-16 05:19] Saduf2019 commented on #37615
@s4sarath
Could you please let us know the tensor flow version for us to replicate the issue faced by you.

[2020-03-16 05:19] MonicaGu commented on #25645
I have compared the TensorFlow gradient result with PyTorch gradient result. There is no big difference between them. So I don't think this is a TensorFlow bug. Maybe there is something wrong with the numpy calculation.

This is my code to compare:
[code]

The outputs are:
[code]

[2020-03-16 05:44] amahendrakar commented on #37316
@maurera,
Is this still an issue. Please feel free to close the issue if resolved. Thanks!

[2020-03-16 05:57] Kiesh commented on #9786
Hi
I am using your code but error occurs no file name exists

[2020-03-16 05:58] ravikyram commented on #37522
@DracarysLu

 Please close this thread if it solves your question. Thanks!

[2020-03-16 06:01] kulsoomzahra commented on #37323
can i work on this?@ammirato

[2020-03-16 06:10] ravikyram commented on #37620
@TrentHouliston

Request you to help us with colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-03-16 06:12] Rubix982 commented on #36786
I agree, it would be beneficial to let the user explore the documentations more by finding relevant searches for the user.
Pull requests have been made as per above. I suggest keeping this issue open so other contributors can suggest other additions as well ( other 'see also' references ) because I'm plenty sure there are more out there.

[2020-03-16 06:18] Saduf2019 commented on #37606
@kernelizd
Thanks for reporting the issue, can you please provide us with simple and standalone code to reproduce the issue?

could you please refer to [this link](https://github.com/tensorflow/tensorflow/issues/33148) and let us know if it helps

[2020-03-16 06:30] liuxingbaoyu commented on #37450
Do you have a situation that occupies two cores?

[2020-03-16 06:55] LuisCebrian commented on #37525
@gadagashwini  The issue is solved if I install it that way. Why does tensorflow do not work if I install it with poetry?

@asequeira-os Thank you so much for your workaround

[2020-03-16 06:57] howl-anderson commented on #37196
@lutzroeder @gadagashwini

This bug is caused by `tf.keras.regularizers.l2` which will convert `None` to JSON string when `model.to_json` is called.
`None` will convert to NumPy float first, it will be a `np.nan`.
Then `np.nan` will be converted to Python float, it will be `float('nan')`.
Finally, `float('nan')` will be converted to a JSON string, python's built-in JSON library allow dump `float('

[2020-03-16 06:57] hanyi-ye commented on #26302
I met the same problem, and I found that if we are using tensor, we could just convert it into numpy by "tensor.numpy()" in tf2.

[2020-03-16 07:01] gadagashwini commented on #37600
@tordsae, This issue is more related to TFX, can you raise this issue in [TFX](https://github.com/tensorflow/tfx/issues) repository. Thanks!

[2020-03-16 07:03] amahendrakar commented on #37577
Was able to reproduce the issue with [TF2.1](https://colab.research.google.com/gist/amahendrakar/a5a82eabde0cfb98d3c0ff122dbb915c/37577.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/1c85bd9b1be3006a1dff270d9f1f4254/37577-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-03-16 07:18] kernelizd commented on #37606
@Saduf2019 Thanks for the respose. As for the link you provided, it doesn't work whether I limit the memory growth or not.

As for standalone reproducible code, it is insanely simple:

Wierd thing is that other types of layers work smoothly

[2020-03-16 07:19] Saduf2019 commented on #37593
@buaasun
could you please provide us with simple stand alone code for us to replicate the issue faced by you.

[2020-03-16 07:30] gadagashwini commented on #37587
I am able to reproduce the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/756228eeeca347ffa8f4a40cd662d7f1/untitled457.ipynb). Thanks!

[2020-03-16 07:48] mrharut commented on #33374
Does it really work? Please help how to install.
My attempt: **pip install tensorflow** has brown the same as one month ago:

"Could not find the version that satisfies the requirement tensorflow..."

[2020-03-16 07:50] huanyingjun opened #37625 "source code about the libhexagon_interface.so"
Hello,
TFlite heagon delegate is based on Hexagon nn.
I have got the hexagon nn SDK from Qualcomm, but I can not build the "libhexagon_interface.so".
Google add 4 fucntions in libhexagon_interface:
[code]

Could you please share the source code of the foure functions  and the "android.min" for building libhexagon_interface.so ?

[2020-03-16 07:55] aruno14 opened #37626 "[tflite][java] has_rank_one_input_condition error when use runForMultipleInputsOutputs()"
I obtain an error when use two inputs in runForMultipleInputsOutputs().

**System information**
- Custom code
- Android API 29
- Android simulator
- Used libraries:
-- org.tensorflow:tensorflow-lite:2.1.0
-- org.tensorflow:tensorflow-lite-gpu:2.1.0
-- org.tensorflow:tensorflow-lite-support:0.0.0-nightly

- Used model information
[The model tolite file](https://github.com/tensorflow/tensorflow/file

[2020-03-16 07:59] NickDinges commented on #33374
Yes. you have to use "pip install tf-nightly-gpu"

[2020-03-16 07:59] howl-anderson opened #37627 "[Proposal] use numpy.asarray_chkfinite in tf.keras.backend.cast_to_floatx"
Maybe we can use `numpy.asarray_chkfinite` instead of `numpy.asarray` in `tf.keras.backend.cast_to_floatx`?

[code]

It can help prevent user pass value which contains None, `inf`, `np.nan` or `np.inf` as input.

related to issue #37196

[2020-03-16 08:08] amahendrakar commented on #37590
@FritzPeleke,
On running the above gist, I got an error stating `FileNotFoundError: [Errno 2] No such file or directory: '/content/histopathologic-cancer-detection/train'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b42d5ea5cb8b7c46d8346c24934a669d/37590.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code

[2020-03-16 08:15] tomtobback opened #37628 "ESP32 tensor allocation in PSRAM"
I'm using the Arduino TensorFlowLite library with an ESP32, and after testing some simple models successfully, i'm trying to load '[Optimized models for common mobile and edge use cases](https://www.tensorflow.org/lite/models)'.
Model size is limited by the ESP32's standard 4MB FLASH, and tensor allocation by its default 520KB RAM. However, the maximum tensor pool size that can be allocated seems

[2020-03-16 08:19] mrharut commented on #33374
Yes. Thanks.
I tried to execute the simple CV code:

`import imageai
from imageai.Detection import ObjectDetection
import os

execution_path = os.getcwd()
detector = ObjectDetection()
detector.setModelTypeAsYOLOv3()
detector.setModelPath(os.path.join(execution_path, "yolo.h5"))
detector.loadModel()
detections = detector.detectObjectFromImage(input_image = os.path.join(execution_path,

[2020-03-16 08:20] FritzPeleke commented on #37590
Hi @amahendrakar, I finally realized the problem was me passing valDatgen to validation_data instead of passing val_gen :).
Thanks for the time

[2020-03-16 08:20] #37590 closed

[2020-03-16 08:22] gadagashwini commented on #37622
@moshevolo,
Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks

[2020-03-16 08:24] Man7hano commented on #24828
As far as I know, distribution makes only sense if you have multiple physical GPUs. Otherwise, you are splitting the performance of the physical one. If you have to split it, you should limit the memory growth of the virtual GPUs. You can find the docs on Tensorflow.
Google Colab probably uses bigger GPUs then you are using and half the performance is just fine, or they reallocate to other GPUs av

[2020-03-16 08:25] NickDinges commented on #33374
Check this: https://stackoverflow.com/questions/58255821/how-to-use-k-get-session-in-tensorflow-2-0-or-how-to-migrate-it

[2020-03-16 08:31] npandey2385 opened #37629 "Build TF 2.1.0 with RHEL6/RHEL7"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (Linux Redhat 6):
- TensorFlow installed from (source ):
-

[2020-03-16 08:46] amahendrakar commented on #37608
@HLearning,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/35449#issuecomment-570318723) comment from a similar issue and let us know if it works? Thanks!

[2020-03-16 08:51] amahendrakar commented on #37618
@jkkj1630,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-03-16 08:52] AEM90 commented on #33183
I just found out. This Error occurs by nesting keras in a loop. After i changed variables manually and removed it from inside the loop, there are no longer errors occuring.

[2020-03-16 08:57] Saduf2019 commented on #37575
@chris-clem

Could you please share a simple stand alone code for us to replicate the issue faced by you.

Also please refer to these [link1](https://github.com/tensorflow/tpu/issues/236) and [link2](https://stackoverflow.com/questions/52906186/keras-tpu-compilation-failure-detected-unsupported-operations) if it helps you resolve the issue as per the error shared.

[2020-03-16 08:59] amahendrakar commented on #37613
@RomitGandhi07,
Could you please elaborate your query? Do you need help building the tflite model or implementing it on your mobile device?

Also, while submitting your query, please fill in the issue template along with the TensorFlow version you are using. Thanks!

[2020-03-16 09:04] Saduf2019 commented on #37340
@burgerkingeater
please update on the above comment

[2020-03-16 09:05] Saduf2019 commented on #37399
@raniaCht
please as per the above comment

[2020-03-16 09:05] ravikyram commented on #37629
@npandey2385
Can you please check with [tested builded configurations](https://www.tensorflow.org/install/source#tested_build_configurations) and see if the issue still persists.Thanks!

[2020-03-16 09:05] Saduf2019 commented on #37415
@frytry
could you please respond to the above comment

[2020-03-16 09:09] Saduf2019 commented on #37478
Proceeding to close the issue as its resolved

[2020-03-16 09:09] #37478 closed

[2020-03-16 09:15] amahendrakar commented on #37194
@TOPMANZA,
Sorry for the delayed response.

According to the [comment](https://github.com/pyinstaller/pyinstaller/issues/3709#issuecomment-593185502) you mentioned, the build platform should be greater than the running platform.
Eg. If you have built the exe file on Windows 7, you can run it on Windows 7 and above.

[2020-03-16 09:20] frytry commented on #37415
No it will not work. Both are different... Please check the documentation.

On Mon, Mar 9, 2020, 11:36 AM Saduf2019 <notifications@github.com> wrote:

[2020-03-16 09:21] amahendrakar commented on #37278
@HuaYZhao,
Any updates regarding this, is this still an issue? Thanks!

[2020-03-16 09:27] Hfusi0n commented on #37194
Quoting Legorooj comment...
You can try and use the hooks created in the PR from my comment. See if using those hook files can resolve your issues.

[2020-03-16 09:27] s4sarath commented on #37615
I am using Tensorflow version 2.1

[2020-03-16 09:41] jonyvp opened #37630 "TFRecordDataset is loaded into memory entirely, yielding out-of-memory"
**System information**
System information

Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): complex_model_m_gpu tier on the nightly docker image of tf
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: /
TensorFlow installed from (source or
binary):

[2020-03-16 09:43] keke8273 commented on #33374
tf_nightly_gpu-2.2.0.dev20200315 is still expecting cuda 10.1 not 10.2

[2020-03-16 09:50] ahtik commented on #33374
@keke8273 I don't think cuda 10.2 will be supported in TF 2.2.

If you already have installed the latest nvidia drivers and cuda, consider adding 10.1 cuda as a manual download and adjusting the paths. Latest nvidia drivers work with older cuda versions.

See https://twitter.com/ahtik/status/1238079762758807554 for some hints.

[2020-03-16 09:54] LukeChow commented on #37359
The model is created with TF1.x. I compiled Tensorflow Lite 1.x by myself. Loading model is work with it. But the output is not correct comparing to result in iOS which using the same model and same data. The Tensorflow Lite SDKs are both 1.x in iOS and Android (downloaded around August 2019).
——
iOS codes (result is as expected):
self.interpreter = [[TFLInterpreter alloc] initWithModelPath:modelP

[2020-03-16 10:07] ravikyram commented on #37573
I have tried on colab with TF version 2.1.0 ,2.2.0-dev20200316 and was able to reproduce the issue.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/364ee68cbbcfd90658d7d06514c5d64b/untitled730.ipynb) Thanks!

[2020-03-16 10:09] Saduf2019 commented on #37606
@kernelizd
Can you please share the complete error log for us to analyse

[2020-03-16 10:25] amahendrakar commented on #37405
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/6a36653e0eb856558137f66b37c9de41/37405.ipynb). Thanks!

[2020-03-16 10:37] pandrey-fr commented on #37278
@amahendrakar As established per the previous discussion thread, both @Susmit-A and I were able to provide with _ad hoc_ custom layers that can be used in this specific context, however the largest question, _i.e._ "how to share weights (in a simple manner) between layers", is still open.

[2020-03-16 10:44] jalola commented on #20905
Hi @jdduke ,
I've been following this thread for a while.
One of the reason why I (not sure about others) want to build static lib is that it will have smaller size in terms of built app.

Right now, each arch has the tensorflowlite.so with the size about 1.6MB (armv7) to 2.4 (arm64).
I wonder the static lib will help.

[2020-03-16 10:46] jonyvp commented on #37630
Just did a rerun with the previous version of my TFRecords and code: Same issue. So it is not related to the compression. Could this be an issue with a new implementation of the `TFRecordDataset` in the nightly version?

[2020-03-16 10:46] Saduf2019 commented on #37626
@aruno14
could you please share a simple stand alone code for us to replicate the error faced in our local, if possible please share a colab gist of the same.

[2020-03-16 10:50] npandey2385 commented on #37629
Yes I am using the bazel > 0.27.1 , gcc > 7.3.1.
I read in following article that currently TF 2.1.0 supported only Ubuntu (18.04) for Linux .

https://github.com/tensorflow/tensorflow/issues/35754

I am not sure will it work for RHEL6/7 as well

[2020-03-16 10:54] gadagashwini commented on #37627
@howl-anderson, Can you raise the Pull request to fix this issue?

[2020-03-16 10:55] howl-anderson commented on #37627
@gadagashwini Yes, I will submit a PR for this later!

[2020-03-16 10:56] amahendrakar commented on #37413
@mohlondon,
From the link you have provided, I was able to prepare the data. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/68e56a7f958a019dd72555dfcb43ac17/37413.ipynb).

However, there is no translate script used. Could you please provide the link or the code of the  translate script you are using? Thanks!

[2020-03-16 11:09] ravikyram commented on #37629
@npandey2385

Can you please share complete error log. Thanks!

[2020-03-16 11:16] gadagashwini commented on #37193
It would be helpful if we get the sample standalone code to analyze this issue. Thanks!

[2020-03-16 11:17] StefReck opened #37633 "set_shape is not loaded from saved model"
**System information**
- TensorFlow version (use command below): 2.1.0
- Python version: 3.6.10

**Describe the current behavior**
When loading a saved keras model that contains .set_shape on a tensor, this is not loaded.

[code]

model.summary():
[code]

loaded.summary():

[code]
--> Shape is not identical!

[2020-03-16 11:22] howl-anderson commented on #37505
I am trying to fix this issue, I do find the issue on Colab, but on my MacBook Pro (13-inch, 2017, Two Thunderbolt 3 ports), there seems no such memory leak issue.

Here is the output of the program (warning msgs are removed);
[code]

[2020-03-16 11:24] amahendrakar commented on #37439
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/amahendrakar/f89c323afb0b7e10e26a8f17a39c0508/37439.ipynb). Thanks!

[2020-03-16 11:27] npandey2385 commented on #37629
These are the msg I am getting on terminal.

INFO: From ProtoCompile tensorflow/compiler/xla/xla_data.pb.h:
bazel-out/k8-opt/bin/external/com_google_protobuf/src: warning: directory does not exist.
INFO: From Compiling tensorflow/compiler/tf2xla/ops/xla_ops.cc:
tensorflow/compiler/tf2xla/ops/xla_ops.cc: In static member function 'static tensorflow::Status tensorflow::{anonymous}::<lambda(tensorflo

[2020-03-16 11:27] bharadwajdhornala commented on #1045
Hi @bcarpenter-pub @yaroslavvb @ysfseu @timmeinhardt @MycChiu
I am trying to test the SketchModelling code,but stuck with error. I have tried adding
sess.run(tf.local_variables_initializer())
sess.run(tf.global_variables_initializer())  but did not solve the error. Please suggest
(SKetchModelling) C:\GenAssi\SketchModeling\Network\code\MonsterNet>python main.py --test --data_dir C:\GenAssi\SketchM

[2020-03-16 11:33] Saduf2019 commented on #37460
@aligirayhanozbay
Could you please check [this link](https://stackoverflow.com/questions/34642595/tensorflow-strides-argument) in reference to len().

Also This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2020-03-16 11:34] bharadwajdhornala commented on #7677
Hi @avantol @headdab @aselle @skimmy12 @microtony
I am trying to test the SketchModelling code,but stuck with error. I have tried adding
sess.run(tf.local_variables_initializer())
sess.run(tf.global_variables_initializer()) but did not solve the error. Please suggest

(SKetchModelling) C:\GenAssi\SketchModeling\Network\code\MonsterNet>python main.py --test --data_dir C:\GenAssi\SketchModeling\zhao

[2020-03-16 11:38] maedoc commented on #25645
Thanks for taking a look.  I tried PyTorch as well, but didn't include here since this is the TF repo.  That both TF & PT produce similar results is hardly suprising if they use the same underlying cuSolver library? </guess>

In any case, I came across this because when I tried to optimize my loss function, autograd (based on numpy) had no problem and produced correct results, whereas TF & PT both

[2020-03-16 11:55] ctyfang commented on #22489
This did not work for me.

[2020-03-16 11:59] Saduf2019 commented on #37536
@minjac
here is some info on the variables,with reference to your question "Hi, code doesn't matter in this case, because I just don't know what the beta1_power and beta2_power mean."

The beta-variables are variables used by the AdamOptimizer that need to be initialized similarily to your other variables. You can either initialize them with the tf.global_variables_initializer() after creating the

[2020-03-16 12:02] amahendrakar commented on #37449
@jploski,
The output of both `ulimit -m` and `ulimit -v` is `unlimited`. Please check the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2bf653011ac8556161be9848d73949f0/37449.ipynb).

Unfortunately, I am unable to set the memory limit in the `limits.conf` file. Thanks!

[2020-03-16 12:02] nkoerb commented on #37505
@howl-anderson : do you have something running in parallel? Your memory usage seems not to be constant over time

[2020-03-16 12:05] Saduf2019 commented on #37630
@jonyvp
please share simple stand alone code for us to replicate this issue in our local

[2020-03-16 12:11] RomitGandhi07 commented on #37613
Hello sir,
I have retrained my model and generated .lite file. Now, I want to use it in the android application, So I put the .lite file and labels.txt file in asset folder and change the file name in the java file as well but whenever I run my app the model associated with the app is detecting the objects. So, please tell me how to use the .lite model in the android app. Thanks for helping.

[2020-03-16 12:13] gadagashwini commented on #33834
@gtg162y,
This issue is fixed in Tf==2.1.
Please  find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/8bc5e750d90639563d669741602fccb0/untitled459.ipynb) .
Please close the issue if it was already resolved for you. Thanks!

[2020-03-16 12:18] gadagashwini commented on #33840
Could replicate the issue with Tf-nightly == 2.2.0.dev20200316.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/6bff2733702ece74d63d3de197bab46a/untitled458.ipynb). Thanks!

[2020-03-16 12:42] hgaiser opened #37635 "Class type changes after saving and loading"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-03-16 12:52] gadagashwini commented on #37633
Was able to reproduce the reported issue with Tf 2.1 and Tf-nightly==2.2.0.dev20200316..
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/9f42b6c399fc75f3d58a36ae8243d9b3/untitled460.ipynb). Thanks!

[2020-03-16 13:01] ChristopherBrix opened #37637 "Segmentation fault when using Cloud TPU"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 9.12 (stretch)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): preinstalled by Google Cloud Platform

[2020-03-16 13:04] #37522 closed

[2020-03-16 13:08] ivankxt commented on #37614
Hello @mihaimaruseac , the output of git log -n5 is:
[code]

I rebuild my project, using

### now, the error is:
[code]

Could you give me some advice? Thank you! @mihaimaruseac

[2020-03-16 13:12] lxl910915 commented on #37352
any ideas? @bixia1 @sanjoy

[2020-03-16 13:14] amahendrakar commented on #37613
Could you please check out [this](https://www.tensorflow.org/lite/guide/android) quick start guide for Android and let us know if it helps? Thanks!

[2020-03-16 13:22] weinixuehao commented on #26297
tensorflow-lite-ssbo/tensorflow/lite/java/demo/app/src/main/java/com/example/android/tflitecamerademo/ImageClassifier.java:212: error: cannot find symbol
        gpuDelegate.bindGlBufferToTensor(inputTensor, inputSsboId);
                   ^
  symbol:   method bindGlBufferToTensor(Tensor,int)
  location: variable gpuDelegate of type GpuDelegate

[2020-03-16 13:25] jvishnuvardhan commented on #37359
@LukeChow Can you Please share the model and a standalone code to reproduce the issue? Thanks!

[2020-03-16 13:28] aruno14 commented on #37626
@Saduf2019 Thank you for your response.
I created a simple project and put it on GitHub.
https://github.com/aruno14/TensorflowLiteTest

[2020-03-16 13:32] jploski commented on #37449
@amahendrakar I just checked that I can also use set the rlimit in shell without without changing limits.conf:
[code]
(The value should be something below the total available memory in kB.)

[2020-03-16 13:37] Kirill94a commented on #37568
OK, so how to solve this issue?

[2020-03-16 13:51] ErvisTusha commented on #34346
I also tried to use from_generator with imagedatagenerator not worked i will give you example later

[2020-03-16 14:01] Saduf2019 commented on #37581
i have replicated this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/06c139856a5a70086b953dd7ba1cd558/37581.ipynb)

[2020-03-16 14:01] howl-anderson commented on #37505
@nkoerb Yes, it's a little weird, I will test again without open other applications on Mac and test it on Ubuntu 18.04 too.

[2020-03-16 14:03] amahendrakar commented on #37449
@jploski,
I've tried running the above commands and reset the runtime. Didn't observe any changes, got the same output as before.

[2020-03-16 14:05] RomitGandhi07 commented on #37613
I have used the same example but for the defined model, it is working perfectly, I want to use my own model and for that, I uploaded my zip file contains .lite & label file on Google Drive and share it publicly and specify that link in download.gradle file but when I run the app the error showing that .lite file not found.

In download.gradle file:   src 'https://drive.google.com/file/d/1h0ugvgkmL

[2020-03-16 14:16] llan-ml opened #37638 "[2.x] SparseTensor shape becomes <unknown> after some operations if using tf.function"
With tf.function, if an argument `x` of a function is a 2-d `tf.SparseTensor`, its shape is `(None, None)`. However, after some operations such as `tf.sparse.transpose` and `tf.sparse.reduce_sum`, the shapes of the resulting tensors become `<unknown>`.

Please refer to this [script](https://colab.research.google.com/drive/17DqrrFVZePJlJsfymrRCXNGBMNPNKeqd) for reproduction.

[2020-03-16 14:19] goldiegadde commented on #37543
#37599  has been merged into the r2.2 branch, this fix should be available in the next rc candidate.

[2020-03-16 14:25] HuaYZhao commented on #37278
@amahendrakar Okay, there's no more updates to this question right now! Thank you

[2020-03-16 14:35] Saduf2019 commented on #37542
@ramawidrap
For information on using 3d array in kotlin please refer to : [link1](http://zetcode.com/kotlin/arrays/)
[link2](https://stackoverflow.com/questions/42337003/multidimensional-3d-matrix-in-kotlin), [link3](https://www.ict.social/kotlin/basics/multidimensional-arrays-in-kotlin)

for the error faced please refer to similar issues [issue1](https://github.com/tensorflow/tensorflow/issues/24

[2020-03-16 14:47] Saduf2019 commented on #37523
@freedomtan
As there is a pr to monitor this issue, please confirm if  we may move this issue to closed status.

[2020-03-16 14:51] freedomtan commented on #37523
@Saduf2019 you should @lezh who opened this issue, not me :)

[2020-03-16 14:51] philmassie opened #37639 "TFLite build - missing interpreter_wrapper.i"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): amazonlinux
- Mobile device (e

[2020-03-16 14:59] moshevolo commented on #37622
This is the script I used:
======================= Python Program ============================
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow_datasets as tfds
import tensorflow as tf
tfds.disable_progress_bar()

BUFFER_SIZE = 60000
BATCH_SIZE = 64

def make_datasets_unbatched():
  # Scaling MNIST data from (0, 255] to (0., 1.]
  def scale(image

[2020-03-16 15:00] moshevolo commented on #37622
Typo in last reply in file name, the command line is:
python mnist_keras.py 0

[2020-03-16 15:02] jonyvp commented on #37630
The issue doesn't seem related to any compression, but to the `shuffle()` being called on the TFRecordDataset. As the data in the TFRecord is now much larger than before (as all pre_processing operations are performed on it), the larger objects are loaded in the shuffle `buffer_size` and thus taking in much more space. Furthermore, during training, it seems more RAM is being used throughout the ep

[2020-03-16 15:07] alanjcastonguay commented on #33374
@gunan  Is there an issue number for this that can be followed?

[2020-03-16 15:14] bela127 opened #37640 "Sparce Tensor wrong exeption Message when passing argument with wrong Type"
System information

    Have I written custom code (as opposed to using a stock
    example script provided in TensorFlow): No
    OS Platform and Distribution (e.g.,
    Linux Ubuntu 16.04): Linux Mint 19.3 (ubuntu)
    TensorFlow installed from (source or
    binary): binatry
    TensorFlow version (use command below): both tf-nightly and tf-2.1
    Python version: 3.8 and 3.6

**Describe the cu

[2020-03-16 15:45] #37591 closed

[2020-03-16 15:55] qlzh727 commented on #36757
I think #37574 only cover part of the functionnality for call(), and the major part for eager/graph context is not covered yet.

[2020-03-16 15:59] #37316 closed

[2020-03-16 16:05] qlzh727 commented on #33834
I think this issue is not fixed yet, the gist was run on a CPU env, which doesn't reproduce the issue.

[2020-03-16 16:09] yashk2810 commented on #37610
Thanks for reporting. It will be fixed in the nightly version of the API docs tomorrow.

[2020-03-16 16:26] gavinlive commented on #36954
I've reproduced this issue. It is a bug in TensorFlow-Keras. Please re-open as a bug.

Issue: Model cannot be used to .predict or __call__. 'Operation' object has no attribute '_graph'. Happens if you save a model that you later want to extract layers from. E.g. keras.model(inputs=prev_model.inputs, outputs=prev_model.layers[-1].output)

[2020-03-16 16:26] mihaimaruseac commented on #33374
Please don't derail the thread with other issues. CUDA 10.2 is not the focus of TF 2.2 (though you should be able to compile from source).

@alanjcastonguay it is an internal issue unfortunately, so no public issue number. We will update this thread when all versions will have py38 releases

[2020-03-16 16:28] mihaimaruseac commented on #37614
What version of tensorRT you have installed?

[2020-03-16 16:30] jvishnuvardhan commented on #37630
@jonyvp Can you please share a standalone code to reproduce the issue? Thanks!

[2020-03-16 16:33] hgaiser commented on #37635
I've dug a bit deeper into this issue.

It seems to come from the issue that there are two versions of `BatchNormalization`. There is a `normalization_v2.BatchNormalization` and a `normalization.BatchNormalization`. If tf2 is enabled, v2 should be used; if tf1 is enabled, v1 should be used.

This check should be implemented here: https://github.com/tensorflow/tensorflow/blob/0d7620c3bc50b01054804d

[2020-03-16 16:41] John-Wheater opened #37642 "Error importing tensorflow"
Everything seemed to install OK,   MacOS Catalina 10.15.3, Python 3.7.6, but the code failed  on its first line :
       import tensorflow as tf
 with error message:
ModuleNotFoundError: No module named 'tensorflow.python.tools'

tensorflow version 2.1.0 installed today with pip3 version 20.0.2, details in attached file

[junk.txt](https://github.com/tensorflow/tensorflow/files/4339257/junk.txt)