[2017-07-19 18:21] shreyneil commented on #11618
The error is not related to your project file used for optimisation, it is related to the build file in the directory,please verify the path of the build file and get back.

[2017-07-19 18:28] JIoJIaJIu commented on #37
@yorkie it looks awesome, would you like to join [to the project](https://github.com/nodejs-tensorflow/) and join forces?

[2017-07-19 18:32] jrbtaylor commented on #7951
#11591 We need efficient sampling/shuffling for large datasets

[2017-07-19 18:32] Zumbalamambo commented on #11618
where should I put my model file for optimizing it? How the directory structure has to be?

[2017-07-19 18:42] elfring opened #11620 "Improve exception safety with smart pointers"
Would you like to [wrap any pointer data members](https://github.com/tensorflow/tensorflow/blob/754048a0453a04a761e112ae5d99c149eb9910dd/tensorflow/core/lib/io/recordio_test.cc#L105 "Update candidate: RecordioTest class") with the template class “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for usage of smart pointers")”?

[2017-07-19 18:48] mari-linhares opened #11621 "WARNING:tensorflow:Input graph does not contain a QueueRunner. That means predict yields forever. This is probably a mistake."
I have built a Custom Estimator, and I created an input function using the [Datasets API](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/programmers_guide/datasets.md) when I call:

``` estimator.predict(input_fn) ```

I see the following Warning:
WARNING:tensorflow:Input graph does not contain a QueueRunner. That means predict yields forever. This is probably a mistake.

[2017-07-19 19:04] runopti commented on #3307
@mingmingDiii  [This](https://bitbucket.org/ispamm/group-lasso-for-neural-networks-tensorflow-keras/src/f9d5bd6618c04a1b3f5055fb422aef8f0c58d01e/demo_group_lasso_tensorflow.py?at=master&fileviewer=file-view-default) might also be a good resource for you.

[2017-07-19 19:10] shreyneil commented on #11618
Your model file should be inside the package path (tensorflow/python/tools) provided by you.The build file should also be in the same location.Please try to verify and get back as the above is thrown due to some glitch in the location of the files.

[2017-07-19 19:16] Zumbalamambo commented on #11618
Should I download [tensorflow](https://github.com/tensorflow/tensorflow) and put the model file in tensorflow/python/tools?
May I know what do you mean by build file?

[2017-07-19 19:19] suharshs commented on #6268
@fferroni you may be interested in the status of https://github.com/tensorflow/tensorflow/pull/11377

[2017-07-19 19:24] shreyneil commented on #11618
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/BUILD
The above build file should pe present in the package path and  your model too.
Yes all of these should be present inside tensorflow.
Please verify and get back.

[2017-07-19 19:26] Zumbalamambo commented on #11618
By `package path` , do you mean the path where tensorflow is installed?

[2017-07-19 19:29] shreyneil commented on #11618
Yes insde the tensorflow folder.
tensorflow/python/tools

[2017-07-19 19:30] Zumbalamambo commented on #11618
I have installed it in anaconda. May I know where it is in my mac?

[2017-07-19 19:34] ruppeshnalwaya1993 commented on #9073
@cwhipkey can you tell me the "commit id" and the branch which replaces the strcmp calls with calls to the isequals function. The 1.2 release branch seems to still generate generate strcmpc calls while in master,  isequals calls are generated.

[2017-07-19 19:36] yorkie commented on #37
@ry sure I can change the license surely :)
@JIoJIaJIu I dunno what's the best place to move this repo for now, if this repo is not suitable for moving tensorflow org, I think nodejs-tensorflow is the good place :)

[2017-07-19 19:39] Zumbalamambo commented on #11618
Okay i did so. I got the following errors,

[code]

[2017-07-19 19:45] shreyneil commented on #11618
Try this:
https://github.com/tensorflow/tensorflow/issues/9436

[2017-07-19 19:46] cwhipkey commented on #9073
https://github.com/tensorflow/tensorflow/commit/f333979e0d8625bca09c96478503c896fda24f25

Yes, it looks like it's not in 1.2 afaict:
https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/python/tools/print_selective_registration_header_test.py

[2017-07-19 19:49] asimshankar commented on #11620
Smart pointers are used in various parts of the TensorFlow codebase ([e.g. `unique_ptr`](https://github.com/tensorflow/tensorflow/search?utf8=%E2%9C%93&q=std%3A%3Aunique_ptr&type=)), albeit not in every place.

We encourage the use of such pointers where it makes sense - whether in new code or when making changes to existing code. I do not think, however, that there is a particularly pressing need

[2017-07-19 19:49] #11620 closed

[2017-07-19 19:57] hgaiser commented on #10650
I'm facing this exact issue, is there a workaround for this?

[2017-07-19 20:02] shreyneil commented on #11618
This is a link error probably, this might help:
https://github.com/tensorflow/tensorflow/issues/4458

[2017-07-19 20:05] elfring commented on #11620
* I would prefer a more consistent and safer software implementation.
* Further usage of smart pointers could also [reduce unnecessary null pointer checks a bit more](https://github.com/tensorflow/tensorflow/blob/fe589d9e7caea582beed160ad47e55f537a8403e/tensorflow/core/common_runtime/sycl/sycl_allocator.cc#L22 "Update candidate: Destructor for SYCLAllocator"), couldn't it?

[2017-07-19 20:07] Zumbalamambo commented on #11618
thank you... still the same error...any other go?

[2017-07-19 20:14] shreyneil commented on #11618
Can try to run configure,
please follow this and links available online on how to run configure:
https://github.com/tensorflow/tensorflow/issues/4279

[2017-07-19 20:23] yorkie commented on #37
@ry Updated the license to MIT.

[2017-07-19 20:45] HaaPut opened #11623 "Different results from scipy imread and tensorflow decode_jpeg"
### Problem Description
Image decoded using decode_jpeg from tensor flow is visually similar, but numerically different from one returned by scipy imread.

**Minimal Example**:
[code]

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **

[2017-07-19 20:50] shreyneil commented on #11621
You are facing this error present in the following link:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/estimator.py
The condition on line number 491 is satisfied as a result of which you are getting the above error.

Please refer to the blog in order to get the correct idea of an estimator for tensorflow :
http://terrytangyuan.github.io/2016/07/08/understand-and-

[2017-07-19 20:51] xcyan commented on #2358
The latest version of Tensorflow (1.2) still only supports mutable Tensors.

[2017-07-19 21:01] faifai21 commented on #11334
We've also found this issue in our iOS tensorflow library (also built from source), which makes sense, given that the memory leak seems to be in C/C++ code.

[2017-07-19 21:04] SebastianPopescu commented on #11608
@mrry yeah that solved the problem. Now I am getting the following error message:

`
 I tensorflow/core/distributed_runtime/master.cc:209] CreateSession still waiting for response from worker: /job:ps/replica:0/task:0
`
I get this error message for the non-chief workers. Does that mean that somehow workers 1 and 2 don't communicate properly with the ps?

[2017-07-19 21:26] SebastianPopescu commented on #11608
Sorry ignore the previous question. Those two workers were running on another compute node as opposed to the ps and chief worker.

[2017-07-19 21:26] #11608 closed

[2017-07-19 21:42] talal579 opened #11624 "Missing file"
The file named node_def_pb2 is missing from tensorflow/core/framework. The file is required when I try to load the MNIST data as part of the tensorflow tutorial.

[2017-07-19 22:39] drpngx commented on #11603
@npanpaliya any idea?

[2017-07-19 22:40] drpngx commented on #11619
@aselle wdyt?

[2017-07-19 22:43] bill363yang commented on #11623
I can reproduce the result with exactly the same error using the same image and code.
Can this be caused by decoders' differences? Since `scipy.misc.imread` uses `pillow`, `tf.image.decode_jpeg` still functions without `pillow`.

## system information

- OS: Fedora 26
- Python version: 3.5.3
- Python related management tool: Anaconda 3
- Tensorflow(installed via `conda install`) version: 1.1.0,  n

[2017-07-19 22:45] asimshankar commented on #11624
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . **Please provide all the information it asks**, in particular, steps to reproduce the problem. Thank you.

(In this case, if you're building from sources, the fil

[2017-07-19 22:46] drpngx commented on #11623
We use libjpeg. I am not sure what your application is. If you really need this, I would recommend writing your own op on top of pillow.

I am going to close this, since I don't think it warrants changing the TF core.

[2017-07-19 22:46] #11623 closed

[2017-07-19 22:51] jayaram1125 commented on #7822
I am interested to take up this issue. Can you please assign it to me ?

[2017-07-19 22:51] drpngx commented on #11611
You can test it by running:
[code]
which executes [`svm_test.py`](https://www.github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/estimators/svm_test.py#L1).

[2017-07-19 22:51] #11611 closed

[2017-07-19 22:52] drpngx commented on #11601
Thanks @rryan ! Closing.

[2017-07-19 22:52] #11601 closed

[2017-07-19 22:53] drpngx commented on #11599
What do you mean? What problem are you seeing?

[2017-07-19 22:58] hhhcube commented on #10026
I have a similar issue when I run "import tensor flow as tf" command. I get the below message:

(tensorflow) C:\myAnaconda\Anaconda3>python
Python 3.5.3 |Anaconda custom (64-bit)| (default, May 15 2017, 10:43:23) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2017-07-19 23:03] drpngx commented on #11617
@andrewharp any idea?

[2017-07-19 23:41] ewebxml commented on #288
Will tensorflow include a topological_sort in the future?

[2017-07-20 00:07] saman-aghazadeh opened #11626 "SparseSoftmaxCrossEntropyWithLogits error while calculating gradient in c++ mode"
I'm trying to use the C++ API to train a CNN model. My last layer is using SparseSoftmaxCrossEntropyWithLogits. Here is the python code which generates the prototxt of the model:

[code]

Unfortunately when I call the c++ code to run the train_op node, it'll throw below error:

`E tensorflow/core/common_runtime/executor.cc:594] Executor failed to create kernel. Invalid argument: NodeDef mentions a

[2017-07-20 00:33] zhedongzheng commented on #11598
@Songweiping do you have any insight of this?

[2017-07-20 01:09] yick2232 commented on #11602
OK, I got it.

[2017-07-20 02:33] rylanchiu opened #11628 "A very weird bug of tf_debug: Non-Ok-status env->NewWritableFile(file_path, &f) status: Resource exaustated"
### System information
- **Have I written custom code**:  Yes
- **OS Platform and Distribution**: CentOS
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version**: 1.2
- **Python version**:  3.4

When I run the seq2seq model, I got the `nan` loss. Thus I use `tf_debug` to find out where the problem occurs. I use `tf_debug` by

    sv = tf.train.Supervisor(logdir=FLAGS.log

[2017-07-20 02:41] yick2232 commented on #11602
@eth-n  I try to use Trie to solve the problem,  limit the output sequence in fixed set and to got a best output sequence from the fixed outputs set, but the effect of generation is so terrible. Can you give me some suggestions, thanks a lot.

[2017-07-20 02:41] linyia01 commented on #7031
i have the same problem ？

[2017-07-20 03:13] JasperDeKort commented on #11042
i came here to report this same issue.
for the version of the site that i see the line is not there.

please note that in the section above it, the line is there.

[2017-07-20 03:22] JasperDeKort opened #11629 "missing line of code in get_started tutorial on website"
as mentioned by an issue closed 19 days ago [https://github.com/tensorflow/tensorflow/issues/11042](https://github.com/tensorflow/tensorflow/issues/11042) there is a line missing in the tutorial code at [https://www.tensorflow.org/get_started/get_started#a_custom_model](https://www.tensorflow.org/get_started/get_started#a_custom_model).
this earlier issue was closed, but on the current version of

[2017-07-20 03:52] jakiechris commented on #11605
thx for the helps from  drpngx and andrewharp !

my goal is:
 1 to do prediction on ios and android,  using a trained pb file .
 2 using one same c++ code to call tensorflow in ios and android

i tried  print_selective_registration_header.py

#ifndef OPS_TO_REGISTER
#define OPS_TO_REGISTER
constexpr inline bool ShouldRegisterOp(const char op[]) {
  return false
     || (strcmp(op, "ArgMax") == 0)

[2017-07-20 03:52] jakiechris commented on #11605
print_selective_registration_header.py result:

#ifndef OPS_TO_REGISTER
#define OPS_TO_REGISTER
constexpr inline bool ShouldRegisterOp(const char op[]) {
  return false
     || (strcmp(op, "ArgMax") == 0)
     || (strcmp(op, "BiasAdd") == 0)
     || (strcmp(op, "Const") == 0)
     || (strcmp(op, "Conv2D") == 0)
     || (strcmp(op, "ExpandDims") == 0)
     || (strcmp(op, "Identity") == 0)
     || (

[2017-07-20 03:53] jakiechris commented on #11605
my  c++ code ：

int MyTensorflow::OfflineTensorFlowIsAf(deque<double> & section)
{
    Session* session;
    GraphDef graph_def;
    SessionOptions opts;
    std::vector<Tensor> outputs;
    std::vector<Tensor> y_outputs;
    int i;
    int sectionLen;

//    QPrint("begin:%u\n", GetSystemTime());
    QPrint("1MyTensorflow::OfflineTensorFlowIsAf:pbPathFile:%s\n", pbPathFile.c_str());
    if (pbPat

[2017-07-20 04:03] jakiechris commented on #11605
i do reducing on linux , that's means ,  is adjust tf_op_files.txt, then build_all_linux.sh , then try my application code . until one day , there are no runtime erro.

i tried to cut tf_op_files.txt to only one line left:
tensorflow/core/kernels/ops_util.cc

[2017-07-20 04:46] gautam1858 commented on #11238
It would be awesome to work on it, Tensorflow creates the framework to do all these things so we that can work on it

[2017-07-20 04:51] ebrevdo commented on #11598
Your initial state should be decoder_cell(...).clone(cell_state=tile_batch(encoder_state, ...))

[2017-07-20 04:51] ebrevdo commented on #11598
Err decoder_cell.zero_state(...).clone(...)

[2017-07-20 04:57] jakiechris commented on #11605
and adding these ones:

tensorflow/core/kernels/argmax_op.cc
tensorflow/core/kernels/quantized_bias_add_op.cc
tensorflow/core/kernels/constant_op.cc
tensorflow/core/kernels/deep_conv2d.cc
tensorflow/core/kernels/xsmm_conv2d.cc
tensorflow/core/kernels/identity_op.cc
tensorflow/core/kernels/matmul_op.cc
tensorflow/core/kernels/maxpooling_op.cc
tensorflow/core/kernels/no_op.cc
tensorflow/core/kernels

[2017-07-20 05:01] jakiechris commented on #11605
so i did not find cc file in tf_op_files.txt according to : "ExpandDimsOp", "PlaceholderOp"

so which cc files in tf_op_files.txt are according to "ExpandDimsOp", "PlaceholderOp" ?

[2017-07-20 05:02] zhedongzheng commented on #11598
[code]
@ ebrevdo
if I don't use attention, the error says:
'LSTMStateTuple' object has no attribute 'clone'
is beam search forced to be used with attention?

[2017-07-20 05:03] jakiechris commented on #11605
now here is my  tf_op_files.txt , and it cannot pass the compilation.

tensorflow/core/kernels/ops_util.cc
tensorflow/core/kernels/argmax_op.cc
tensorflow/core/kernels/quantized_bias_add_op.cc
tensorflow/core/kernels/constant_op.cc
tensorflow/core/kernels/deep_conv2d.cc
tensorflow/core/kernels/xsmm_conv2d.cc
tensorflow/core/kernels/identity_op.cc
tensorflow/core/kernels/matmul_op.cc
tensorflow/cor

[2017-07-20 05:12] #11529 closed

[2017-07-20 05:31] ebrevdo commented on #11598
If you don't use attention then you can directly pass the tiled encoder
state as the initial state (assuming your encoder and decoder cells are the
same architecture).

On Jul 19, 2017 10:02 PM, "zhedongzheng" <notifications@github.com> wrote:

[2017-07-20 05:34] zhedongzheng commented on #11598
@ebrevdo yes, that's exactly my problem at the first place. i directly pass the tiled encoder state, however the error message says:
[code]

[2017-07-20 05:51] knightcube commented on #10808
I got the same problem and i am still looking for a solution

[2017-07-20 05:59] ebrevdo commented on #11598
Ah I see. Let me look more carefully.

On Jul 19, 2017 10:34 PM, "zhedongzheng" <notifications@github.com> wrote:

[2017-07-20 06:02] ebrevdo commented on #11598
Hm.  What version of tf are you using?

[2017-07-20 06:10] zhedongzheng commented on #11598
@ebrevdo latest tf 1.2.1, sorry I should mention this earlier.

[2017-07-20 06:10] ebrevdo commented on #11598
I'll look more carefully tomorrow.

[2017-07-20 06:25] rosun82 commented on #11599
In the workspace.bzl, tensorflow binds @protubuf to the protobuf repository, while https://github.com/grpc/grpc/blob/master/WORKSPACE binds @protobuf to the build target (not the repo). Suppose I have a third repository and pulling in both tensorflow and grpc as external repositories, the build will fail due to name clash, the error message is something like external/protobuf does not have attribu

[2017-07-20 06:33] zzks commented on #7031
why change the order of tf.concat's arguments???

[2017-07-20 06:39] tshi1983 commented on #8191
Hi guys,

Any update to this issue, I'm experiencing the same on tensorflow 1.1-gpu for mac os x

[2017-07-20 06:50] jxua opened #11633 "when connect mnist,download mnist data,show network connection error."
![image](https://user-images.githubusercontent.com/22673941/28404110-88b436e0-6d5a-11e7-9344-596a22f5d64b.png)
I know if the error show ,just our company can not connect to mnist, can i manual download mnist data, and use it? how can i do this?

[2017-07-20 06:53] mryellow commented on #8037
http://www.anandtech.com/show/2362/5

This came up on google and has some decent technical details.

...

Now sure what functions tensorflow is using, but might be worth the effort.

[2017-07-20 07:35] kwotsin commented on #9301
@rajnamitha you can try removing `remove_nodes` and `quantize_nodes` and see if the accuracy drop still persists.

[2017-07-20 07:56] meijieru commented on #11376
It should be
[code]

[2017-07-20 07:58] AmiraDeuraseh commented on #8623
I got same error with @Geekly
Using Python 3.5, Windows 10 32-bit.

[2017-07-20 08:10] gunan commented on #8623
There is no support for 32 bit operating systems. You can try building from sources yourself, but there may be some issues even during build.

[2017-07-20 08:56] BinhangYuan opened #11635 "Why are tensorboard removed after r1.2?"
Previously it was located in tensorflow/tensorboard. Is it removed or moved to somewhere else? What if I want to add new features in tensorboard?

Any suggestion is appreciated!

[2017-07-20 09:28] dieka13 opened #11636 "stack bidirectional RNNs: swap_memory and time_major args"
### Feature Request
adding `swap_memory` and `time_major` arguments to `stack_bidirectional_rnn` and `stack_bidirectional_dynamic_rnn`

from the source i see that both stack_bidirectional function just wraps bidirectional_rnn so it use concatenated output as next bidirectional layer's input. is it intentional that `swap_memory` and `time_major` argument not added?

[2017-07-20 09:30] liguanlin opened #11637 "when i train a GAN model AdamOptimizer get ValueError"
with tf.variable_scope(tf.get_variable_scope(),reuse=None):
        d_optim = tf.train.AdamOptimizer(learning_rate=learning_rate, beta1=0.5).minimize(d_loss, var_list=d_vars, global_step=global_step)
        g_optim = tf.train.AdamOptimizer(learning_rate=learning_rate, beta1=0.5).minimize(g_loss, var_list=g_vars, global_step=global_step)

i set reuse=None but it still has ValueError: Variable d_bn

[2017-07-20 09:33] ZekunZh opened #11638 "Probably wrong implementation for tf.layers.max_pooling1d when data_format='channels_first'"
In function ``call`` of class ``_Pooling1D``,  when the input ``data_format='channels_first'``, it should transform input tensor from '**N,C,H**' to '**N,C,H,W**' (batch_size, channels, height, width), meaning that we should expand dimension on the last dimension.

However, in the code we use ``inputs = array_ops.expand_dims(inputs, 1)``, expanding on the second dimension and transforming from '**

[2017-07-20 09:35] jhole89 commented on #11633
Your companies proxy is probably getting in the way. Try setting HTTP_PROXY and HTTPS_PROXY, either in your IDE or Global settings. For windows this is:
System Properties-> Advanced -> Environment Variables -> System variables -> New System Variable.  You'll need to get the address and port from your IT team.

[2017-07-20 09:56] jubjamie commented on #10483
@jakiechris are your library sizes not reduced once you compile or analyse your app? They appear bigger than on disk as @petewarden noted.

[2017-07-20 10:00] upavan commented on #8623
Try with the latest version of TensorFlow your issue will get resolve., try
on 64Bit version.

On Thu, Jul 20, 2017 at 1:42 PM, gunan <notifications@github.com> wrote:

[2017-07-20 10:17] DeepthiKarnam commented on #10808
Same here.

[2017-07-20 11:05] crohkohl opened #11639 "Windows 64-bit GPU Build Failing"
The nightly windows 64-bit GPU build has been failing for over 3 days.
I could reproduce the error on different machines:

https://ci.tensorflow.org/view/Nightly/job/nightly-win/M=windows-gpu,PY=36/245/consoleText

Maybe the health monitor on the main site could include this build as well? Otherwise breaking errors might not be noticed for some longer time.

[2017-07-20 11:10] jakiechris commented on #11605
seems that placeholder is in ：tensorflow/core/ops/array_ops.cc

tensorflow::ops::Placeholder
#include <array_ops.h>

A placeholder op for a value that will be fed into the computation.

[2017-07-20 11:19] jben-hun opened #11640 "mnist_with_summaries.py kills gpu"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Antergos GNU/Linux x86_64
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6.1
- **CUDA/cuDNN version**: 8.0.61 / 6.0.21
- **GPU model and memory**: Nvidia GeForce 840m (Optimus), 2GB memory
- **Exact command to reproduce**: pyt

[2017-07-20 11:42] jakiechris commented on #11605
it seems that "ExpandDimsOp", "PlaceholderOp" are all in tensorflow/core/ops/array_ops.cc

tensorflow::ops::ExpandDims
#include <array_ops.h>

Inserts a dimension of 1 into a tensor's shape.

[2017-07-20 11:42] ChenChuang commented on #10618
any updates on this issue? I got the same error when using crop_and_resize with multiple GPUs

[2017-07-20 11:57] standy66 commented on #252
I was able to reproduce @classner steps for tensorflow 1.2 with CUDA for pypy3 version 5.8.0-beta0 (Python 3.5.3). In order to do this, `_pywrap_tensorflow_internal.so` library in `site-packages/tensorflow/python` needs to be renamed to `_pywrap_tensorflow_internal.pypy3-58-x86_64-linux-gnu.so`. I am getting a slightly different error during `sess.run`:

[code]

It seems that [the first line](http

[2017-07-20 12:00] integeruser commented on #1890
@jkravanja This is some `bash` code I use to copy the necessary files for compiling a separate project (after having built tensorflow):
[code]
where `TENSORFLOW_DIR` is the directory where you cloned the tensorflow repository (for example `/opt/tensorflow`), and `include/third_party` is the directory to include when compiling your project (`-I include/third_party`). This script probably copies a l

[2017-07-20 12:09] BinhangYuan commented on #11635
@jubjamie Cool, thanks for pointing that out! I am wondering if there was a huge change, seems like the new repository does not use nodejs anymore, is there any documentation about how to run the system? Or what kind of tool should I use? Thanks a lot!

[2017-07-20 12:31] jubjamie commented on #11635
afaik not much has changed from the user's pov as of yet. You can still call it in the usual way `tensorboard --logdir=[..]`. I think it's more for ease of development and open-sourcing etc. It means it's its own package now although I believe that it's installed as a dependency of tensorflow so for the user there isn't a huge change. You can point your TB issues and suggestions to the team at ten

[2017-07-20 12:54] jubjamie commented on #11639
+1 Keen to get 1.3rc0 rolling but still on python3.5 which seems to be the one failing.

[2017-07-20 13:33] YgRen opened #11642 "how to load my pretrain model in ckpt file v2 format？"
Hi,when I use ckpt v1 format,the command line as follows,
`python ./faster_rcnn/test_net.py --gpu 0 --weights ./models/VGGnet_fast_rcnn_iter_150000.ckpt  --imdb voc_2007_test --cfg ./experiments/cfgs/faster_rcnn_end2end.yml  --network VGGnet_test`
it works.
but I train my model in voc 2007 dataset ,the output like this.
![2017-07-20 21-27-37](https://user-images.githubusercontent.com/10908813/2841

[2017-07-20 13:33] idofr commented on #11311
I fear you're wrong here, at least in my case.
I've followed the learning rate decay page
https://www.tensorflow.org/versions/r0.12/api_docs/python/train/decaying_the_learning_rate

and set 'global_itr' to a placeholder which is provided with a feed_dict
`
self.symb_global_itr = tf.placeholder(
            tf.int32,
            shape=(),
            name='global_itr'
        )

lrate = tf.train.ex

[2017-07-20 13:47] carabolic commented on #10406
I've had the same problem, copied the build command from an [intel blog article](https://software.intel.com/en-us/articles/tensorflow-optimizations-on-modern-intel-architecture). As it turns out it really was the quotation marks, as @Paeans pointed out. Simply replace `”` (stylish quotation marks) with `"` (simply double ticks).

[2017-07-20 14:12] soukira opened #11644 "Is there a way to visualise the hidden layer during the Seq2Seq translation in translate.py"
Is there any way I could visualise the hidden layer process during the translation process in Sequence to Sequence Modelling using Tensorflow.

Tensorflow version: 1.0 CPU version Python: 2.7 Windows

[2017-07-20 14:14] tano297 commented on #1122
@MisayaZ I was having the same behavior using Batchnorm with a placeholder for "is_training". I see in the trace that the moments are being calculated even at test time, so I decided to go into the source code and I found this:

[code]
It looks like when "is_training" is a variable or a placeholder the moments get defined and also get calculates them at runtime, even when you set the placeholder t

[2017-07-20 14:19] caisq commented on #11644
Have you tried

1. [TensorBoard](https://www.tensorflow.org/get_started/summaries_and_tensorboard)
or
2. [TensorFlow Debugger (tfdbg)](https://www.tensorflow.org/versions/master/programmers_guide/debugger)

?

[2017-07-20 14:20] soukira commented on #11644
I did try using tensorboard and couldn't find the metadata file

[2017-07-20 14:40] asimshankar commented on #11642
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

(In particular, I'm not quite sure what `faster_rcnn/test_net.py` is. This file doesn't seem to be part of

[2017-07-20 14:40] #11642 closed

[2017-07-20 14:43] asimshankar commented on #11640
This seems similar to #8830, could you try the resolution there?

[2017-07-20 14:54] artcg commented on #10650
Yeah there is a workaround, cast the element to an int (that message telling you cast to a supported type is new since this issue was created so that is good.)

[2017-07-20 14:55] artcg commented on #10650
In fact I think the new error message is satisfactory enough that I will close the issue

[2017-07-20 14:55] #10650 closed

[2017-07-20 14:58] hgaiser commented on #10650
@artcg that'd work in this specific use case, but in my actual case the dimension was unknown at that point. Casting it to int wouldn't help.

[2017-07-20 15:02] jubjamie opened #11645 "1.3.0rc0 GPU Windows Binaries are broken."
UPDATE: This is most likely due to the new cuDNN requirement not being specified. Users stumbling across this issue should check what cuDNN version they have installed as 1.3 binaries are built with cuDNN v6.

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Wi

[2017-07-20 15:03] jubjamie commented on #8828
@gunan Should we wait for the full release of 1.3 or should the RC's support v6? Nothing in the rc0 release notes so curious! Ty

[2017-07-20 15:07] gunan commented on #8828
1.3 RC should be built with cudnn 6.
@av8ramit Could you add cuDNN 6 support to 1.3 release notes?

[2017-07-20 15:08] jubjamie commented on #11645
Update: @mrry reckons that 1.3 binaries use cuDNN6 by default. Could this be the cause?

[2017-07-20 15:09] gunan commented on #10618
@av8ramit was this issue resolved?
@ChenChuang which OS/release did you run into this issue?

[2017-07-20 15:10] jubjamie commented on #8828
@gunan reckon that's related to #11645

[2017-07-20 15:18] nsmetanin commented on #9080
Just figured out that building tensorflow (1.2.1) **from source** with pretty much all configure options set to default solves this problem. My intuition is that the problem was caused by default allocator in tensorflow from pip package, but when you build it from source, it enables jemalloc by default (I've not reviewed this a lot).

Now it works flawlessly through NVIDIA MPS, but I couldn't get

[2017-07-20 15:19] gunan commented on #11645
Yes, 1.3 (even the RCs) are built with cudnn 6 by default.
@av8ramit Could you add this to the release notes?
@jubjamie Do you think if we simply update release notes, would that be sufficient to close this issue?

[2017-07-20 15:47] rubenvereecken commented on #11613
Additionally, I tested with a file holding exactly 3 examples, using a batch size of 1. A capacity of 1 would work. A capacity of 2 results in the same error.

[2017-07-20 15:54] jubjamie commented on #11645
@gunan As long as the different cuDNN version is the reason for them not working then I think a clear message to indicate to users there is a change is reasonable.

Just aware that some users with less patience than me may eventually upgrade to 1.3 and, unless you read the release notes, you may not realise that cuDNN requirements have changed. This could cause an increase in install error reports

[2017-07-20 16:05] dhalden commented on #9697
This is happening to me on an ARM processor with gcc 4.8.4

[2017-07-20 16:13] drpngx commented on #11599
Got it. I don't see a downside to renaming the protobuf. Mind sending a PR to @gunan ?

[2017-07-20 16:22] dhalden commented on #11617
update:
installing the libjpeg(uncertain)/libpng/libgif -dev seemed to fix this problem. I'm still unable to build, because of issues with pmul/jacobi.h, but I am following up on that in a separate issue thread. I would still be curious, when in the build process I was supposed to have installed those libraries? Or if those are just libraries that are expected to be installed on most linux builds.

[2017-07-20 16:22] yaroslavvb commented on #11619
@tklos96 what if you use tf.einsum? Both tensordot/einsum reduce to tf.matmul for the actual work

[2017-07-20 16:23] #11624 closed

[2017-07-20 16:24] talal579 commented on #11624
My apologies -- I reinstalled the tensorflow package, and everything is working fine now. Thanks for your response!

[2017-07-20 16:26] girving commented on #7031
@zzks It was changed to match numpy.

[2017-07-20 16:30] xiejw commented on #10399
Does https://github.com/tensorflow/tensorflow/pull/9719/files fix this?

[2017-07-20 16:34] tklos96 commented on #11619
Oooh thanks that could be good. Although I also got it working by stacking some extra dimensions at the end, and then using the broadcasting capability of tf.multiply

[2017-07-20 16:43] temami commented on #7889
@jtopor and @inflation
I have same problem. I want to add one more layer, change kernel-size from 5x5 to 3x3 but It gives me same error. I just can change batch-size, learning-rate and dropout.
Could you figure out how we can change parameters base on our data set? or just leave this code and work on other code?
Any help would be greatly appreciate.

[2017-07-20 16:54] HaaPut commented on #11623
I think the reason for this difference is that Tensorflow used fast integer DCT as a default decode jpeg image
https://github.com/tensorflow/tensorflow/blob/e073322452e41e76754314aa75d543d071003fc5/tensorflow/core/kernels/decode_image_op.cc#L109

[2017-07-20 16:55] #11635 closed

[2017-07-20 16:56] #11633 closed

[2017-07-20 16:58] drpngx commented on #11639
@zheng-xq @gunan some libcupti issue? I thought we had this dependency for a while.

[code]

[2017-07-20 16:59] drpngx commented on #11623
Oh yes, I remember some discussion about that. I think we change the default but the other version is available through options.

[2017-07-20 17:00] wider2 commented on #11250
Good day for everyone
if I use   --model_dir=/inception
everything works well

but I have the same problem of using imagenet on Android Studio java project

java.lang.IllegalArgumentException: Tried to explicitly squeeze dimension 1 but dimension was not 1: 2
W/System.err: 	 [[Node: MobilenetV1/Logits/SpatialSqueeze = Squeeze[T=DT_FLOAT, squeeze_dims=[1, 2], _device="/job:localhost/replica:0/task:

[2017-07-20 17:02] ekelsen commented on #11554
It isn't as easy as I thought to add the CUB version, the cub histogram doesn't support weights.

For now, it would be pretty easy to use unsorted_segment_sum to mimic a (possibly weighted) histogram.  data=weights (could be all ones) and segment_ids=keys.

[2017-07-20 17:13] artcg commented on #10650
I think you should be able to just wrap an int() over wherever you are passing the tf.Dimension object?

Can you post your code to re-create?

[2017-07-20 17:22] epiception commented on #6087
@NaveenAri facing a similar problem while using a nested map_fn with batch normalization written separately :
`tensorflow.python.framework.errors_impl.InvalidArgumentError: The node 'gradients/map/while/map/while/Conv2D_grad/Conv2DBackpropFilter/Enter' has inputs from different frames. The input 'gradients/map/while/map/while/Conv2D_grad/Conv2DBackpropFilter/StackPop' is in frame 'gradients/map/wh

[2017-07-20 17:24] jkravanja commented on #1890
Thanks that works, but i have to add both include paths, include/third_party and also include/, since some headers include from "third_party/..."

[2017-07-20 17:36] gunan commented on #11639
The release branch is building OK, for 1.3, please use the branch.
In master branch, there are some new files added, but cmakefile updates
were missing. @mrry @guschmue for more information.

On Jul 20, 2017 8:00 PM, "drpngx" <notifications@github.com> wrote:

@zheng-xq <https://github.com/zheng-xq> @gunan <https://github.com/gunan>
some libcupti issue? I thought we had this dependency for a while

[2017-07-20 17:39] drpngx commented on #11629
@MarkDaoust do you know where it's at?

[2017-07-20 17:48] guschmue commented on #11639
for the master - just sent a PR for it.

[2017-07-20 17:54] drpngx commented on #11639
#11647 for reference

[2017-07-20 18:11] av8ramit commented on #11645
PR is out.
https://github.com/tensorflow/tensorflow/pull/11649

[2017-07-20 18:17] santon834 opened #11650 "BUG: DropoutWrapper incorrectly updates memory state"
### Describe the problem
GRU units (wikipedia):
![image](https://user-images.githubusercontent.com/26974149/28431669-fb89275a-6d39-11e7-929a-43be917d2602.png)

tf.contrib.rnn.DropoutWrapper documentation:
state_keep_prob: unit Tensor or float between 0 and 1, output keep probability; if it is constant and 1, no output dropout will be added. State dropout is performed on the output states of the ce

[2017-07-20 18:40] PaddyT opened #11651 "Feature Request: tf.extract_image_patches gradients operation for variable size inputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Scientific Linux 7.3
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: v1.1.0-rc0-61-g1ec6ed5 1.1.0 GPU
- **Python version**: 3.6.1
- **Bazel version (if

[2017-07-20 18:42] jben-hun commented on #11640
Thanks @asimshankar, it worked with the corresponding path for the archlinux cuda package directory layout: https://www.archlinux.org/packages/community/x86_64/cuda/

`export LD_LIBRARY_PATH=/opt/cuda/extras/CUPTI/lib64:$LD_LIBRARY_PATH`

[2017-07-20 18:43] waleedka commented on #10618
@ChenChuang Glad to hear that someone else is seeing this problem as well. I still can't upgrade to 1.2 because of this issue.

[2017-07-20 18:48] andrewharp commented on #11592
@ychen404 Do you have the SDK API/build tools levels specified in WORKSPACE installed? The default changed between 1.0 and 1.2.

[2017-07-20 18:52] #11640 closed

[2017-07-20 19:08] nick-jonas commented on #8107
I'm outside of the tensorflow repo, and I'm still getting this issue when doing ```import tensorflow``` in the python interpreter:

```ImportError: /usr/local/google/home/njonas/tensorflow/local/lib/python3.5/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so: undefined symbol: cuDevicePrimaryCtxRetain```

My CUDA paths are exported, and here are my system specs:

Ubuntu 14.04 x86-64
I

[2017-07-20 19:13] santon834 commented on #11650
Update:
The same problem occurs with LSTM:
![image](https://user-images.githubusercontent.com/26974149/28434593-b7d913ca-6d44-11e7-9429-c7d6bc75ed81.png)

c_t-1 is divided by the dropout probability and grows exponentially instead of dividing the matrices U

[2017-07-20 19:48] GREEKYnikhilsharma opened #11652 "can't import data_utils from tensorflow.models.rnn.translate(No module name tensorflow.models)"
i encountered this while trying to import data_utils from tensorflow.models.rnn.translate.(in the end - NO module named tensorfow.models was my output)

[2017-07-20 19:53] yaroslavvb commented on #8107
Perhaps wrong CUDA version?
The errors means dynamic linker found a reference to `cuDevicePrimaryCtxRetain` in the `.so` library, but this symbol was not present in any other library it loaded, which could happen if your cuda .so's are too old

[2017-07-20 19:57] av8ramit commented on #10618
Investigating.

[2017-07-20 19:59] drpngx commented on #11651
@gpapan wdyt?

[2017-07-20 20:00] av8ramit commented on #11645
Release notes are updated. Assigning to @mrry to close or pursue further.

[2017-07-20 20:08] drpngx commented on #11637
did you create the variable before?

[2017-07-20 20:13] atique81 commented on #8090
Hi,
I am having the same issue on ubuntu 17.04, tensorflow 1.2.1, python 2.7 , cuda 8.0.61 and cudnn v5.1.
Could you please share any possible solution?

[2017-07-20 20:26] #11619 closed

[2017-07-20 21:23] skye commented on #9952
Hey, sorry for the delay. I suggest asking on StackOverflow or discuss@tensorflow.org. Github issues are for bugs and feature requests, and also I don't know the answer to your question :) (In general not many people look at individual github issues)

[2017-07-20 21:30] KathiravanNatarajan commented on #97
Hi, Can you please check this issue ? https://stackoverflow.com/questions/45225071/exporting-tensorflow-prediction-to-csv-but-the-result-contains-all-zeros

[2017-07-20 22:05] MilesZhao commented on #2169
Do we an alternatives for MaxPoolWithArgmax on CPUs?

[2017-07-20 22:21] av8ramit commented on #10618
@rmlarsen is this related to some of your kernel changes to crop_and_resize_op.cc?

[2017-07-20 22:57] mrry commented on #11621
I think your program is perfectly correct and it's the warning that's wrong :). It was added long before the Datasets API existed, and was well intentioned. (AFAICT the `predict()` API relies on your input terminating with a `tf.errors.OutOfRangeError` and before Datasets existed only `QueueRunner`-based pipelines would terminate that way, so it probably *was* an error if no queue runners existed.

[2017-07-20 23:11] mrry commented on #11591
Just to clarify, those two programs aren't equivalent. In the `tf.contrib.data` version, the equivalent to `capacity` is set to `int(datasize)`, whereas the `slice_input_producer` version uses `capacity=10`. This means that your `tf.contrib.data` version has to accumulate the entire input before producing the first record, whereas the `slice_input_producer` version accumulates only 10 records. The

[2017-07-20 23:50] jrbtaylor commented on #11591
Maybe a better question - how should I be dealing with large datasets then? For instance, with 1e7 or 1e8 filenames, how do I sample from that if I don't put the filenames into a tensor?

[2017-07-21 00:08] mrry commented on #11591
That's a lot of filenames! Perhaps you could write them to an index file, one filename per line, and use `TextLineDataset(index_filename).flat_map(lambda filename: ...)` where `...` is the appropriate reading and parsing logic for a single file.

[2017-07-21 01:05] liguanlin commented on #11637
d_loss_real=tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=tf.ones_like(D),logits=D_log))
    d_loss_fake=tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=tf.zeros_like(D_),logits=D_log_))
    d_loss=d_loss_fake+d_loss_real
    g_loss=tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=tf.ones_like(D_),logits=D_log_))
    boolean_error_real=tf.cast(tf.not_equa

[2017-07-21 01:06] XeMinZa opened #11657 "BUG: When restore model from check point"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.

------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platfor

[2017-07-21 01:50] ChulhoonJang opened #11658 "Build error in Windows 10"
My environment is
 - Windows 10 64bit
 - Lenovo P50 workstation notebook
 - NVIDIA Quadro M2000M (4GB) / Intel HD Graphics P530

Build environment is
 -  Microsoft Visual Studio Enterprise 2015 with Visual C++ 2015
 -  Anaconda 4.1.1 (Python 3.5 64-bit)
 -  Git for Windows version 2.9.2.windows.1
 -  swigwin-3.0.10
 -  NVidia CUDA Toolkit 8.0
 -  NVidia CUDNN 5.1
 -  CMake 3.6

In building process

[2017-07-21 01:52] ChenChuang commented on #10618
@gunan centos-7.2, tensorflow-1.2.0

[2017-07-21 02:11] asimshankar commented on #11652
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks, particularly detailed steps to reproduce the problem. Thank you.

[2017-07-21 02:11] #11652 closed

[2017-07-21 02:12] asimshankar commented on #11644
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-21 02:12] #11644 closed

[2017-07-21 02:17] asimshankar commented on #11658
Sorry you're having trouble here. Unfortunately, the TensorFlow maintainers do not currently have the bandwidth to support builds on Windows (see https://www.tensorflow.org/install/install_sources), so we won't be able to help you out here and rely on community support for this.

If you are able to resolve this, we would encourage you to send a pull request so that others can benefit. Thanks!

[2017-07-21 02:17] #11658 closed

[2017-07-21 02:50] gdahlm commented on #10220
Switching back to `gcc-4.9` only fixes the issue because it doesn't have the intrinsic for avx512 yet.

Something in the GPU code is including `immintrin.h` which now includes the new avx512 instructions for hardware enablement.

gcc-5  5.4.1-11ubuntu2  is the version on my machine, and it doesn't matter if I add/remove MKL, XLA or any other options it will compile fine.  And yes I can compile wit

[2017-07-21 03:17] suiyuan2009 commented on #2660
I received this error message that didn't say device info, still `Default MaxPoolingOp only supports NHWC`. The error doesn't always occur when I run [tensorflow benchmark code](https://github.com/tensorflow/benchmarks/blob/master/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py). The placer put this op on `cpu:0`, maybe because I set `allow_soft_placement` as true.

[2017-07-21 03:20] asimshankar commented on #11604
I don't think quantized types are currently supported, but @tatatodd might have a better answer.

[2017-07-21 03:20] shaozu commented on #7705
@drophit I have the same issue and this solution works for me. Thanks a lot.

[2017-07-21 03:31] guivenca commented on #6504
I tried a simple implementation of  the gradient expression based on an article and it seemed to match the numerical gradients for the QR decomposition of tall and square random matrices. For fat ones (width>height) the results weren't as good, which might be associated with some assumption in the reference, numerical difficulties (since it requires the computation of a pseudo inverse instead of a

[2017-07-21 04:02] ychen404 commented on #11592
@andrewharp Thanks for your reply. It's working now after specifying the proper SDK level.

[2017-07-21 04:02] #11592 closed

[2017-07-21 04:09] gautam1858 commented on #11588
It would be tough as there are no such pipelines created

[2017-07-21 04:23] drpngx commented on #11657
Could you paste more of the log? We can't see what the actual error is yet.

[2017-07-21 05:15] asimshankar commented on #11618
It seems you're building from within your model directory as opposed to building in the TensorFlow source directory.

Alternatively, if you want to avoid building TensorFlow from source, you could use the library function directly using something like:

[code]

Which is [what is being invoked by the tool](https://github.com/tensorflow/tensorflow/blob/r1.3/tensorflow/python/tools/strip_unused.py#L5

[2017-07-21 05:15] #11618 closed

[2017-07-21 05:25] asimshankar commented on #11588
@rana-alshaikh : Not entirely sure what you mean, but yes, it is possible to place individual operations on specific devices. For details see https://www.tensorflow.org/tutorials/using_gpu#manual_device_placement

If you're running into trouble, I'd suggest posting on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow).

[2017-07-21 05:41] gautam1858 commented on #11588
@asimshankar What he is telling is he wants to run some only loss funciton on CPU and later run other training things on GPU which I am telling is not possible, you are telling usage of multiple GPU he is asking multiple CPU an GPU at the same time

[2017-07-21 05:47] hongjic opened #11660 "Gradients be dropped in tf.train.SyncReplicaOptimizer"
### Problem Description
tf.train.SyncReplicaOptimizer is very helpful for backup workers, but the gradients computed by slow workers are just dropped. Below is the documentation I see

The problem is, I want to use backup workers in online training, it means every sample can be just consumed by TensorFlow once and I don't want some samples to be just ignored, is it possible to make backup servers

[2017-07-21 05:49] asimshankar commented on #11588
I might be misunderstanding, but why can't multiple devices be mixed? For example:

[code]

Will result in the following:

[code]

[2017-07-21 06:17] scucheri commented on #11474
where is the default SDK level configured  ?   The workspace.bzl file config if always like below:

workspace config:

android_sdk_repository(
name = "androidsdk",
api_level = 23,
build_tools_version = "25.0.1",
path = "/Users/scucheri/Library/Android/sdk",
)

android_ndk_repository(
name="androidndk",
path="/Users/scucheri/Library/Android/sdk/ndk-bundle",
api_level=14)

[2017-07-21 06:41] gautam1858 commented on #11588
@asimshankar Wow cool, sorry I was not aware  :) And can I do this in parallel the same thing that you did above instead of sequential for two different functions ? For example in GANs, I will run in parallel i.e the generator loss in CPU and discriminator loss in GPU. Can this be done as well ?

[2017-07-21 07:15] suiyuan2009 commented on #2660
I find one worker got `failed call to cuInit: CUDA_ERROR_NOT_INITIALIZED` error so it's not tensorflow code problem.

[2017-07-21 07:26] kayzhu commented on #11604
Quantized types aren't yet supported by the XLA compiler, but we do plan to bring quantization support to XLA in the future. If you have ideas on this front, we'd definitely love to hear from you.

[2017-07-21 07:59] jakiechris commented on #11605
struggled in getting familiar with tensor core for several nights, i finally found a way to do reducing.

1. use  print_selective_registration_header.py  to find files probably cannot be cut in tf_op_files.txt,
    just probably , not for sure.

2. cut some of the files in tf_op_files.txt, if come into compile err or runtime err, restore some files.

3. if there is no compile err and runtime err,

[2017-07-21 08:01] frreiss commented on #11184
Opened PR that adds filtering to `download_and_convert_flowers.py`

[2017-07-21 08:07] liuqi05 commented on #56
@usptact ,i meet the same problem. And I have pip 9.0.1 installed and still see this error. So i want to know,if you find new way to solve it, Thanks!

[2017-07-21 08:14] clavichord93 opened #11662 "Group Convolutions Support Request"
Group convolutions recently become popular, will this be supported in tf.nn module?

[2017-07-21 08:30] Garoe commented on #2412
@rivi, I've only compiled without GPU support on windows. My machine has 16GB of RAM, Visual Studio Community 2015 Update 3 (14.0.25720), and I set the initial target to Release. I found that the library buids fine regardless on the initial target, but some intermediate files like the symbol definition are overwriten if the target is changed from Visual Studio.

[2017-07-21 08:38] YgRen commented on #11642
my problem like this issue[https://github.com/smallcorgi/Faster-RCNN_TF/issues/79](url), it provide one solution ，but I want to know how to use ckpt v2 format.What's the difference between ckpt v2 format and ckpt v1 format.

[2017-07-21 09:49] iurilarosa commented on #11554
Thank you so much! I didn't know this function, only the sorted version. It returns exactly the same values, with the bonus that i can choose the number of bins with the third argument. It runs quite fast, albeit doubles the time of `bincount` on CPU. It could still be very interesting to know if, with `bincount` on GPU, i can improve performance of my code. Unfortunately i have to do weighted his

[2017-07-21 09:53] shreyneil commented on #11662
Please go through these:
https://github.com/tensorflow/tensorflow/issues/3332
https://github.com/tensorflow/tensorflow/pull/10482

Please verify and if convinced ,close the pull request.

[2017-07-21 09:56] MisayaZ commented on #1122
@tano297 Thank you. I now also use 'is_training' as a constant. Leave it as a placeholder and do periodic testing will change the value of moving mean and moving variance. And the inference time will be longer for it will calculate the mean and variance of the inputs and update the moving mean and moving variance. The right way to do testing is to define different behaviors for train and test as y

[2017-07-21 10:51] zhengge commented on #899
@petewarden @ragulpr
The FLOPS returned is always None. Is there a way to concretely measure FLOPS?

[2017-07-21 11:28] abred commented on #1122
@tano297 @MisayaZ
but doesn't
[code]
make sure that the updates are only calculated and applied if is_training evaluates to True?

[2017-07-21 11:37] lsorber opened #11665 "Feature request: add a `local_init_feed_dict` to `tf.train.Scaffold`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**: N/A
- **CU

[2017-07-21 11:47] fab-jul commented on #6650
This is still an issue in TF 1.2

[2017-07-21 11:58] GitHubKay commented on #6698
I've the same issue running my own scripts now.
I think it is the same reason like @lockywolf described:

I had this error quite often but irregular, then i followed @RawthiL 's lead and added a session to my script. However, i executed the script successfully restarted the kernel and got the same error message again. Is there any solution to open the session, claim the GPU and close it after the

[2017-07-21 12:18] ilkarman commented on #9243
I have same issue

For

[code]

[2017-07-21 12:22] suiyuan2009 commented on #11200
I add `-march=native` when run `./configure`, I also add `--copt=-march=native` when build using bazel.

[2017-07-21 12:23] vbystricky opened #11666 "Different behavior tf.contrib.data.Dataset.unbatch() TF ver. 1.2.1 and ver 1.3.0-rc0"
Code for reproduce problem:
[code]

results in TF ver. 1.2.1:
[code]

results in TF ver. 1.3.0-rc0:
[code]

[2017-07-21 12:24] shreyneil commented on #11629
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/get_started/get_started.md
Sir the custom model has been updated but is not being reflected on the website.
Please look through this.

[2017-07-21 13:01] singam-sanjay commented on #11589
@tatatodd Any thoughts ?

[2017-07-21 13:09] uschmidt83 commented on #386
Hi, I just tried running FFT ops on the CPU with the 1.2.1 release, but still get errors like this:
`No OpKernel was registered to support Op 'FFT2D' with these attrs.  Registered devices: [CPU], Registered kernels:
  device='GPU'`

Am I missing something?

[2017-07-21 13:10] bendaf commented on #8242
I've ran into the same issue with tensorflow 1.2.1. Optimized the default tiny-yolo-voc model from darkflow and the output node disappeared.

[2017-07-21 13:35] #11662 closed

[2017-07-21 14:02] andrewharp commented on #11474
Have you confirmed that these versions are installed in your SDK with the `android `tool?

[2017-07-21 14:05] MarkDaoust commented on #11629
Thanks for tracking that down shreyneil@.

The "root" section of the website is synced to releases, but this fix is already visible in the [tf 1.3 docs](https://www.tensorflow.org/versions/r1.3/get_started/get_started).

This these docs will become "root" when 1.3 is released.

[2017-07-21 14:05] #11629 closed

[2017-07-21 14:20] eaplatanios commented on #10089
@martinwicke That is totally understandable! Do you mean linking on [this page](https://www.tensorflow.org/api_docs/) for the 1.3 release? That would be great! :)

[2017-07-21 14:21] mrry commented on #11666
@ebrevdo I've tried and failed to track down the commit that modified the behavior of `Dataset.unbatch()`, but it looks like we're inappropriately converting single-component datasets to tupled datasets. Can you please take a look?

[2017-07-21 14:21] eaplatanios commented on #10089
@skye That sounds great! I look forward to the updates and I can certainly provide some feedback on how to to generate unimplemented C++ op gradients when time comes. :)

[2017-07-21 14:37] ebrevdo commented on #11666
I remember that change. I'll point you to it when at a computer.

On Jul 21, 2017 7:21 AM, "Derek Murray" <notifications@github.com> wrote:

[2017-07-21 14:44] TarrySingh commented on #7322
Do the following:

`conda update libgcc`

but this will require downgrading "due to dependency conflicts" next time you update anaconda.

OR
 you can mask the anaconda libstdc++ so that your system's libstdc++ is used
[code]
Further optionally create a softlink inside the anaconda lib directly

`ln -s /usr/lib/x86_64-linux-gnu/libstdc++.so.6 libstdc++.so.6`

[2017-07-21 14:46] tillahoffmann commented on #386
@uschmidt83, have you tried the [nightly build](https://github.com/tensorflow/tensorflow#installation)?

[2017-07-21 15:28] #11493 closed

[2017-07-21 15:28] martinwicke commented on #10089
Yes, I believe Asim already mentioned the possibility earlier.

[2017-07-21 15:56] tano297 commented on #1122
@abred Yes indeed, but you are referring to line 391, where it does the update of the moving average within _fused_batch_norm():

[code]

I am talking about line 753 within batch_norm():

[code]
The smart condition in that case (as far as I am concerned) decides wether or not to update the moving averages, but the moments still get calculated.

[2017-07-21 16:07] beniroquai commented on #386
Is it scheduled to put it also in the release version at one point?

On 21 Jul 2017 16:49, "Till Hoffmann" <notifications@github.com> wrote:

[2017-07-21 16:13] 1int commented on #7217
I am facing the very same

[2017-07-21 16:46] mrry commented on #11645
I updated the gist: https://gist.github.com/mrry/ee5dbcfdd045fa48a27d56664411d41c

It's not perfect, since you can't tell what version of TensorFlow is installed without importing the TensorFlow native extension, which would presumably fail! (Perhaps there's some way to scrape `pip` for this information, but I haven't tried.)

Closing this issue for now.

[2017-07-21 16:46] #11645 closed

[2017-07-21 16:46] asimshankar commented on #11660
I am perhaps misunderstanding, but isn't the point of the backup workers to provide a tradeoff between waiting for replicas and consuming all data (so, the step proceeds when K of the N workers have updates, where the number of backup workers is (N-K)). If you want data from all the workers to apply, then increase the number of workers and set backup workers to zero (i.e., set [`replicas_to_aggreg

[2017-07-21 16:50] santon834 commented on #11650
Update:
The same problem occurs with variational_recurrent=false.
Line 754 in rnn_cell_impl.py updates the memory state with the dropout mask and divides the state by the probability, which is wrong. The division in dropout is performed to adjust for a constant expected activation arguments. However, it should not modify the internal memory state of the unit.
With variational_recurrent=false, we h

[2017-07-21 16:56] eaplatanios commented on #10089
Ok that sounds great. You're right, I'm sorry I had forgotten about the previous message. In this case, let's go ahead and do this. :)

On Jul 21, 2017, 11:32 AM -0400, Martin Wicke <notifications@github.com>, wrote:

[2017-07-21 17:00] rryan commented on #386
It should be in TF 1.3 which is in the process of being released! Also note
tf.contrib.signal in this release which has some signal processing basics
that are useful for e.g. computing spectrograms.

On Fri, Jul 21, 2017, 9:09 AM beniroquai <notifications@github.com> wrote:

[2017-07-21 17:25] arnaghizadeh commented on #6264
I have the same problem.

[2017-07-21 17:29] abred commented on #1122
@tano297 you right about that, I was in the wrong place, but still:
line 755-770 calculate the moments, but the moments are only used in _force_updates which is only executed if is_training evaluates to True, aren't they?
And thus
[code]
should be equivalent to line 804:
[code]
if is_training evalutes to False and thus the "moments"-part of the graph is never used and thus shouldn't be executed

b

[2017-07-21 17:33] hongjic commented on #11660
@asimshankar you are right, but I hope it can consume all data but at the same time use backup servers to enhance training speed of each step.
It can be as simple as let the worker recosume the data that was dropped.

[2017-07-21 17:34] mrry commented on #11645
(Incidentally #9170 is probably the best place to discuss how to provide better error messages in this case.)

[2017-07-21 17:52] kwotsin commented on #11604
Thank you all for the comments. Hypothetically, what would be required to get this compilation done? I think I'm probably not technically skilled enough to get this done right now but I'm hoping to try out this possibility in the future, so it would be great if I can have some idea of how this could be done.

[2017-07-21 17:52] parvizp opened #11670 "Feature Request: Quantized DepthwiseConv2dNative"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: (master as of post) d3edb8c60ed4fd831d62833ed22f5c23486c561c
- **Python version**: 2.

[2017-07-21 17:54] martinwicke commented on #10089
Please do send a PR. I believe all this is in GitHub. @wolffg can you
confirm?

[2017-07-21 17:58] xiejw commented on #11621
I think we should remove this warning. I will do an internal clean up for that then (to and see whether we could this better).

As mrry@ explained, the error message was added before Datasets API, which served as a nice hint to prevent user from "wrong behavior".

[2017-07-21 18:06] mrry commented on #11456
Can you try expanding the working example to include three servers in two jobs (i.e. using the same `tf.train.ClusterSpec`, but just creating a `tf.Session` and running a single op)?

[2017-07-21 18:14] asimshankar commented on #11670
I don't believe anyone is actively working on this at this time.
@petewarden has more state on MobileNet and plans in this area, so he could confirm.

(FYI @suharshs )

[2017-07-21 18:21] mari-linhares commented on #11621
Thank you for the quick response 👍

[2017-07-21 18:25] mrry commented on #8857
It sounds like a utility that could stand alone as a self-contained project, but I don't think it's something we'd  want to support as part of the core library.

[2017-07-21 18:25] #8857 closed

[2017-07-21 18:35] asimshankar commented on #11660
There are no input guarantees provided in distributed TensorFlow at this time (i.e., no guarantees that every example has been seen exactly once in an epoch). It is something we're looking into, but no concrete timeline.

Doing that and then being able to ensure that samples trained on by the backup workers are picked up in future steps by other workers is something that will require a detailed de

[2017-07-21 18:35] #11660 closed

[2017-07-21 18:39] asimshankar commented on #11650
@ebrevdo : Mind taking a look?

[2017-07-21 18:48] Androbin commented on #8698
Waiting for merge of probable fix:
https://github.com/tensorflow/tensorflow/issues/11182#issuecomment-315771292

[2017-07-21 18:51] asimshankar commented on #11628
This error occurs when writing to the filesystem fails - for example if there is no space left on the device, or if the disk quota exceeded or if there were too many files etc. (see [`errors.cc`](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/core/platform/posix/error.cc#L86))

Unfortunately, the error message given doesn't give more detail (I'll look into fixing that), but the unde

[2017-07-21 18:53] pplantinga commented on #9832
Here's an example including beam search. The trick is to use the tile_batch method to replicate the input to the starting state.

https://github.com/pplantinga/tensorflow-examples/blob/master/TensorFlow%201.2%20seq2seq%20example.ipynb

[2017-07-21 19:37] ebrevdo commented on #11650
Will need to confirm with folks internally, but we may have to add an exclusions field to the wrapper to avoid dropping out the c state.

[2017-07-21 19:55] Kipok opened #11673 "Error in tf.contrib.layers.batch_norm when center=False, data_format='NCHW' and zero_debias_moving_mean=True"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  1.2.1
- **Python version**:  3.4.3
- **Bazel version (if compiling from source)**: 0.5.2

[2017-07-21 20:08] tomwanzek commented on #9526
@jugglerix Is there an updated ETA for the new Programmer's Guide? Thx in advance.

[2017-07-21 20:18] jugglerix commented on #9526
The new Programmer's Guide will go out with V1.3.  However, we may add a
few additional chapters after 1.3 is released.

On Fri, Jul 21, 2017 at 4:10 PM, Tom Wanzek <notifications@github.com>
wrote:

[2017-07-21 20:29] asimshankar commented on #11582
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-21 20:29] #11582 closed

[2017-07-21 20:29] eaplatanios commented on #10089
I tried to find that page before but couldn't. @asim mentioned before that that page may not be in github.

On Jul 21, 2017, 1:56 PM -0400, Martin Wicke , wrote:

[2017-07-21 20:40] nkashy1 opened #11674 "ServingInputReceiver passes Estimator model_fn only dictionary of features, but model_fn is allowed to take single tensor feature"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, I have written custom code. I have more discussion about the bug in this Jupyter notebook: https://gist.github.com/nkashy1/fc1ec4ee218963216dea3ab5242bf611

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Goobuntu

- **TensorFlow installed from (source or

[2017-07-21 20:54] asimshankar commented on #10089
@martinwicke @eaplatanios : Yeah that page isn't in github, it's generated as part of the script that uploads to www.tensorflow.org. I've made a change there, so it should go out in the next website push

[2017-07-21 21:00] srivarnajanney commented on #7889
I faced the same problem too. The problem is once the model is created for first time, there is a copy of the structure stored in this location "/tmp/mnist_convnet_model". This is line where it gets created # #Create the Estimator
mnist_classifier = learn.Estimator(
      model_fn=cnn_model_fn, model_dir="/tmp/mnist_convnet_model")
Delete this folder and change the filter size and rerun your progr

[2017-07-21 21:01] nkashy1 commented on #11674
Incidentally, there is no type check to ensure that the output of `serving_input_receiver_fn` is a `ServingInputReceiver`.

[2017-07-21 21:20] jiamings commented on #11208
@ebrevdo I was trying to do a similar thing (compute Jacobian), and the same error happens. I tried to set `clear_after_write = False` on the second TensorArray and the problem persists.

[2017-07-21 21:44] ekelsen commented on #11554
How many bins?

[2017-07-21 21:44] eth-n commented on #11602
Sorry @yick2232, I was intrigued by the abstract premise of your question and haven't tried anything along these lines before. I imagine someone's tried seq2seq visualization before; try looking very carefully through stack overflow, or look for blogs on the topic.

One of my coworkers wrote this post on visualizing RNNs, perhaps it'll help you in some regard: https://medium.com/datalogue/attentio

[2017-07-21 22:31] Kipok opened #11676 "Error in tf.contrib.layers.batch_norm when explicitly assigned on gpu"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  1.2.1
- **Python version**:  3.4.3
- **Bazel version (if compiling from source)**: 0.5.2

[2017-07-21 22:41] Kipok opened #11677 "Does orthogonal initialization have GPU implementation (fails when explicitly assigned on a gpu)?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:  Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 14.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**:  1.2.1
- **Python version**:  3.4.3
- **Bazel version (if compiling from source)**: 0.5.2

[2017-07-21 23:19] athulase opened #11678 "BUILD Failed: missing input file '@mkl//:LICENSE'."
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Centos 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: latest
- **Python version**: 2.7
- **Bazel version (if compiling from source)**:0.4.5
- **CUDA/cuDNN version**:
- **GPU model and memory**:
- **Exact command to reproduce**: bazel build --config=mkl

[2017-07-22 00:14] RexYing commented on #1888
I could use config.gpu_options.visible_device_list in python, and it works.
But when I try to set the visible device list in c++ using the protobuf methods (eg. set_visible_device_list), it not only changes the visible_device_list field, but also the allocator_type field), and I got the error "Invalid allocator type: 0,1,2,3".

It seems that the two fields got mapped into the same string address.

[2017-07-22 00:34] eddiemundo opened #11679 "Error when running imported/restored model that uses feedable iterator (tf.contrib.data)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: Build #242 (Jul 17, 2017 2:25:00 AM)
- **Python version**: Python 3.6.2
- **Bazel version (i

[2017-07-22 00:42] 1int commented on #10130
I get this: ValueError: No op named SSTableReader in defined operations when trying to freeze resnet_v2 graph.
Searching by all tensorflow code doesn't find 'SSTableReader' anywhere. Some help, please?

[2017-07-22 01:47] hongjic commented on #11660
Thank you @asimshankar  I would love to spend some time on it.

[2017-07-22 01:51] caisq commented on #10478
Sorry for the inconvenience caused by this bug and my delayed response. The reason for this delay is that instead of fixing the specific problem that @MichaelBurge pointed out, we are planning a more thorough revamping of the NodeStepper.

The current implementation of NodeStepper has several significant limitations, including inability to handle `tf.while_loop` and incompatibility with queues and

[2017-07-22 01:54] justprotato commented on #9170
hi @mrry,
how to solve it, if the error is

[2017-07-22 02:00] XeMinZa commented on #11657
@drpngx this is all the log tensorflow print and this is why it is difficultly to fix it..
But I fixed just now. The problem is I used the different model_dir in two computers. Although I copy the necessary files to the direct, tensorflow can't find the trained model.
Fixing Way: using the  relative directory and making sure the directories in two model are same.

[2017-07-22 02:00] #11657 closed

[2017-07-22 02:28] eddiemundo commented on #11679
I simplified the example some more and tried storing the iterator to feed using `tf.add_to_collections()` and using that to get the string handle instead of storing the string handle directly. I get a different error this time regarding initialization, but it exits fine.
[code]
Error message is
[code]

[2017-07-22 03:43] benoitsteiner commented on #11163
Sorry for the delay, I have been away on vacation. The fix looks good, we should be able to merge it soon.

[2017-07-22 04:21] vgupta-ai commented on #8717
Thanks @yaroslavvb
The work-around works !

[2017-07-22 06:19] kevin-coder commented on #11678
Meet the same issue, too.

[2017-07-22 06:39] #11679 closed

[2017-07-22 08:21] iurilarosa commented on #11554
Around 10^4 bins for arrays around 2.5 x 10^6 elements. Here is a simplified example of my program.

[code]

The problem is that i have to do these histograms for around 100 y steps, building and storing `image` for thousands of input matrices. The `position` transformation could be vectorized, but the binning part of each row is independent so i used `tf.map_fn` to manage the single input matrix.

[2017-07-22 08:23] rylanchiu commented on #11628
@asimshankar  Thanks for your reply! But it is unlikely that no space left on the device. Cause I run the code on a server, whose space is much more than enough.  Do you think user authentication can be a possible reason. But I have no problem on writing under my path.

[2017-07-22 08:59] ZhongBaby opened #11681 "Different GPU memory not all allocated"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
win10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.1
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
- **CUDA/cuDNN versi

[2017-07-22 09:51] fferroni commented on #9837
Presumably to achieve this you need to have created a function similar to tf.gradients() right? Is there any plan on exposing this too in C++ ?

[2017-07-22 10:23] theflofly commented on #9837
@fferroni Indeed. The function is already existing and was created by someone at Google. In this issue I basically wrap existing stuffs into a cleaner API similar to the python.

I already explained above but basically you can use:

[code]
The equivalent to gradients from python is AddSymbolicGradients. Not sure the above code is working as I can't test it, but you get the idea on how to put thing

[2017-07-22 10:56] minhlab opened #11682 "Missing numpy dependency at installation"
I installed PyTorch on a fresh Python 3.6 installation (`brew install python3`), got an error and found out that numpy wasn't installed. I installed numpy and then things work. Shouldn't it be included among dependencies of the PyTorch package? (with the right version requirement, see #559?)

[code]

[2017-07-22 12:57] septra commented on #5350
I agree with @DavidNemeskey here. I started working with tensorflow only recently and the discrepancy in the dimensions of the weight matrices passed to `sampled_softmax_loss` and `nce_loss` as compared to `softmax` was initially confusing. If it's not a priority to change the api, maybe a note in the documentation could be added about this?

[2017-07-22 14:39] shivakrishna9 commented on #11303
@danijar I want to work on this, pls provide some more info.

[2017-07-22 16:54] zhangyaobit commented on #8090
Are you using an epsilon less than 1e-5? Could you set it equal or larger than 1e-5?

[2017-07-22 17:49] asimshankar commented on #11682
Perhaps you meant to file this at https://github.com/pytorch/pytorch/issues/new instead of as a TensorFlow issue?

[2017-07-22 17:49] #11682 closed

[2017-07-22 17:58] asimshankar commented on #11628
I didn't quite follow what you meant by "I have no problem on writing under my path". Could you elaborate on that?

But regardless, it seems like the `fopen` call [here](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/core/platform/posix/posix_file_system.cc#L150) that is failing, so it does seem to be the filesystem rejecting the open call. So perhaps there are some `ulimits` in pla

[2017-07-22 18:02] minhlab commented on #11682
I'm so sorry :">

[2017-07-22 18:16] yaroslavvb commented on #11303
A fix for this might need significant changes to C++ part of the runtime.
This is similar to the issue of Dequeue of an empty queue causing an uninterruptible hang.

Python client thread detects ctrl+C, but how to tell underlying C threads to die?
To see an example of complexity, this is the commit that added timeout option to session.run:
https://github.com/tensorflow/tensorflow/commit/fa07bfda68

[2017-07-22 19:47] printdhruv commented on #11677
Please try adding `allow_soft_placement=True` as follows:
[code]

I encourage you to follow a guide here [here](https://www.tensorflow.org/tutorials/using_gpu)

[2017-07-22 20:22] edelmanjm commented on #7573
Having this issue as well. I'm guessing it's some sort of issue with my code rather than TF, but it's still unusual. I've been running off of CPU, so Nvidia drivers shouldn't be the issue.

Code is [here](https://github.com/AMLeng/TeamSnek2O/tree/saving), specifically `steer_eval.py`.

[2017-07-22 20:39] Ishi-Apps commented on #11678
getting following error message during build in Ubuntu,
"missing input file '@androidsdk//:build-tools/25.0.2/aapt'.
Target //tensorflow/examples/android:tensorflow_demo failed to build"

[2017-07-22 20:46] gunan commented on #11678
Sorry for the inconvenience, this is probably due to my change to MKL build.

I have an internal change which should fix MKL build once pushed externally.
Monday or Tuesday we should have a push, which should fix the problem.

[2017-07-22 20:47] gunan commented on #11678
@Ishi-Apps your issue is quite different, I recommend filing a new issue by filling out the full template.

[2017-07-22 20:48] gunan commented on #11639
Build is now green in our CI. Please sync to master and try again.

[2017-07-22 20:48] #11639 closed

[2017-07-22 20:55] drpngx commented on #11639
Yay, thanks!

On Jul 22, 2017 1:50 PM, "gunan" <notifications@github.com> wrote:

[2017-07-22 21:41] josh11b commented on #11361
Sorry for the slow response, it took me a while to remember the background here. There was a reason why we did it that way: we actually started with something similar to what you describe but we found out that it triggered a bug in some version of gcc.  In particular, we found that gcc had a problem with raw string literals passed to macros, which was an issue for our doc strings.

[2017-07-22 23:17] josh11b commented on #9837
@asimshankar @skye

[2017-07-23 00:08] mouradbylk commented on #6999
Nothing new to install the official Tensor Flow for py36 on a Windows 10 win32 machine ???

[2017-07-23 02:15] xuanhuashi commented on #2916
We published a RDMA based version here: https://github.com/CGCL-codes/Tensorflow-RDMA
FYI.

[2017-07-23 03:27] joellerena commented on #6136
![ok](https://user-images.githubusercontent.com/24687663/28496262-d592a20c-6f2c-11e7-87fb-d32e4eccb2b6.png)

[2017-07-23 04:27] yick2232 commented on #11602
@eth-n Thank you very much ! That is my issue,  I'll find the solution from other platform.  Thanks (^_^)

[2017-07-23 06:58] LionSR commented on #6503
I need this feature badly. Could someone get it done fast?

[2017-07-23 07:21] deepcoord commented on #8191
As @fabiofumarola commented, I changed it, and it works well

[2017-07-23 07:41] prabirsinha opened #11684 "Can anybody please let me know an error free code of basic CNN tensorflow code. I am having hard time to resolve tensorflow coding working, even the tensorflow tutorial code from tensorflow.org"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-23 07:48] WangLei-UESTC opened #11685 "retrain inception-v3 error"

[2017-07-23 07:54] WangLei-UESTC commented on #11685
when I retrain inception-v3 on my data set ,running "bazel build -c opt --copt=-mavx tensorflow/examples/image_retraining:retrain" successfully ,but when I run " sudo bazel-bin/tensorflow/examples/image_retraining/retrain --image_dir ~/res",I got this :sudo: bazel-bin/tensorflow/examples/image_retraining/retrain：command not found.
      then I went to the tensorflow root and found the file bazel-b

[2017-07-23 08:54] frreiss commented on #11241
I'm looking into this.

[2017-07-23 10:05] evolu8 commented on #7482
How should we do this? Simply make another file and concat the files to one? How do we prevent compression?

[2017-07-23 10:51] subir0071 commented on #1475
May download it fromhere
(http://yaroslavvb.com/upload/notMNIST/)

[2017-07-23 11:52] flener opened #11688 "Tensorflow v1.2.1 compile error"
I'm, trying to build tensorflow from source. I've followed the tutorial in https://www.tensorflow.org/install/install_sources without success.

The only difference is that I'm trying to use OpenCL with SYCL.

### System information
- **OS Platform and Distribution**: Ubuntu 14.04 64 bits
- **TensorFlow version to be compiled**: v1.2.1
- **Python version**: 2.7.6
- **Bazel version (from repository)

[2017-07-23 12:18] crohkohl opened #11689 "Distributed Tensorflow Authorization"
Could somebody comment on the security design of distributed tensorflow?
Is there some kind of authorization in place for the grpc calls in distributed tensorflow?
E.g., are the clients validated based on the IP or anything else?

If not, how difficult would it be to add authorization support and what would be the best place in the code to get started?

[2017-07-23 12:18] jucor commented on #7652
Naive question, since the link in @vrv 's post wasn't permanent: what's the way that made you happy, @seerdecker , please?

[2017-07-23 12:24] Zardinality opened #11690 "[Feature request] Instance Normalization"
[Instance Normalization](https://arxiv.org/abs/1607.08022) is recently widely used in style transfer and GAN, since it avoid the drawback of batch normalization which brings in-batch correlations. Tensorflow only has quantized version instance norm right now, but a full version is also easy to implement, I am interested in it.
Also I wonder if it is better to implemented in C++ using eigen or simp

[2017-07-23 12:43] frreiss commented on #11431
@namrata-ibm `gen_array_ops.rank()` is a generated wrapper for the `Rank` operator, which is defined at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/array_ops.cc?utf8=%E2%9C%93#L2191-L2212 .
The kernel associated with that operator is defined at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/shape_ops.h#L85-L98 .
The code that puts in place

[2017-07-23 13:27] frreiss commented on #11241
Created PR https://github.com/tensorflow/tensorflow/pull/11691

[2017-07-23 15:04] joellerena commented on #6136
For Windows 7 x64,  > conda update numpy --no-pin
¡resolved!

[2017-07-23 15:09] eaplatanios commented on #10089
@asimshankar Great, thanks Asim! :)

[2017-07-23 15:20] meijun opened #11692 "A bug of tf.reduce_logsumexp with `-inf`"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux CentOS 7
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 2.7.13
- **Bazel version (if compiling from source)**:
- **

[2017-07-23 15:25] Overlord-R opened #11693 "Tensorflow error while building using gpu"
ERROR: /home/overlord/.cache/bazel/_bazel_overlord/38c05a5232666f398e07b83e8b030232/external/lmdb/BUILD.bazel:8:1: C++ compilation of rule '@lmdb//:lmdb' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=1' -fstack-protector -fPIE -Wall -Wunused-but-set-

[2017-07-23 16:54] Mistobaan commented on #11371
@jart I would add a test case to the repository to confirm that the issue is solved and to have it in the future for regression testing, before closing the issue itself.

[2017-07-23 17:54] Shaligram commented on #1475
I could see its related to proxy.
in my case http_proxy was set on the shell.  unset that. and It worked like charm.

[2017-07-23 18:32] seerdecker commented on #7652
I forget the exact API, it's been a while. Perhaps @vrv has the patch still? From memory, @vrv solution involved a call to disable the C++ logging.

Note that currently, os.environ["TF_CPP_MIN_LOG_LEVEL"]="2" does not work when using the GPU path on my machine [tensorflow-gpu (1.0.1)].

[2017-07-23 18:58] vikrantt opened #11695 "Makefile build fails on OSX: -lprotobuf not found"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-23 19:11] milani opened #11696 "tf.Print return type"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 17.04
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.2.1
- **Python version**:
2.7
- **Exact command to reproduce**:
[code]
### Describe th

[2017-07-23 21:16] petewarden commented on #9697
I'm also hitting this error when cross-compiling for ARM-v7a.

[2017-07-23 23:05] petewarden commented on #445
As an update, I believe the original "pure virtual method called" crash should be addressed by this solution from the Pi StackOverflow board: https://raspberrypi.stackexchange.com/questions/48225/whats-causing-these-crashes-after-cross-compiling

I'm testing it for a hopeful NEON-enabled Pi wheel we're working on at https://github.com/tensorflow/tensorflow/pull/11675

[2017-07-24 00:21] petewarden commented on #445
As an update, the fix mentioned in the answer above did seem to work.

[2017-07-24 01:28] liuqi05 commented on #56
@markusdr hi, i meet the same problem as you encounter.I update pip 9.0.1, but the problem can not fix.So   can you give me some advice? Thank you.

[2017-07-24 01:44] zhedongzheng commented on #11598
hi  @ebrevdo  are you still investigating this?

[2017-07-24 01:55] guoying1030 opened #11700 "tf.import_graph_def load quantized graph error"
[root@A01-R04-I221-14 export_dir]# python predict.py
Traceback (most recent call last):
  File "predict.py", line 70, in <module>
    load_graph('quantized_graph.pb')
  File "predict.py", line 33, in load_graph
    tf.import_graph_def(graph_def)
  File "/usr/lib/python2.7/site-packages/tensorflow/python/framework/importer.py", line 365, in import_graph_def
    % (input_name,)))
ValueError: graph_d

[2017-07-24 02:10] liuqi05 commented on #56
@nishasraj  Hi, I update pip to 9.0.1,but its not working. So i want to know if you find a new way to fix this problem. Thank you in advance.

[2017-07-24 02:17] ddurham2 opened #11701 "tf.contrib.learn.KMeansClustering squeeze problem when using predict()"
This is a problem with every version of tensorflow I've tried (1.1, 1.2, 1.3).

After using the fit() method train a KMeansClustering model, if the predict() method is used to predict a *single* data point's cluster then there is an internal error (predicting two data points works fine)...

In ./tensorflow/contrib/learn/python/learn/estimators/estimator.py in _predict_generator() the batch_length

[2017-07-24 02:26] 0YuanZhang0 opened #11702 "syntaxnet: Global training is worse than greedy trainning when the training data size is is 1 millon data"
As you can see the following is my experimental configuration parameters and experiment results,  I'd like to know on a fairly large amount of data， how to adjust the super parameters can get a result that global better than greedy;
when the trainning data size is 20,000， We got the global trainning better than greedy trainning using default configuration parameters, But when the training data inc

[2017-07-24 02:58] boluoweifenda commented on #6269
It seems like tf.tensor doesn't support slice in this way:   a[ : , [3,1,2], :, :]  or a[ :, b, :, :],  b = np.array([3,1,2]) , but numpy.array do.   Is there any alternative method ?

[2017-07-24 04:10] nmoezzi commented on #7011
Is the feature added in the current distributed Tensorflow?

[2017-07-24 05:37] nateGeorge commented on #9071
@madhupkumar 's solution worked for me: add /usr/lib/nvidia-375 to my LD_LIBRARY_PATH :

I added
export LD_LIBRARY_PATH=${CUDA_HOME}/lib64:/usr/lib/nvidia-375

to my ~/.bashrc, then do `source bashrc` if you want to load tensorflow in an ipython sesh in the same terminal

[2017-07-24 05:47] vrv commented on #7652
Yeah, I think I was making set_verbosity set the env var for C++ logging.  Sorry for never getting around to submit that patch, I might try to get to it this week.  However, it would be moot if the environment variable no longer works... :(

[2017-07-24 06:08] jucor commented on #7652
So in my case, the environment variable still works, as long as it is set
*before* importing tensorflow for the first time. If I set it after
importing TF, it doesn't have any effect. Do you observe the same behaviour?

[2017-07-24 06:14] vrv commented on #7652
I believe it's the case the environment variable is read statically the first time logging is requested, so if importing tensorflow causes something to log (which it may have only started doing in the past few months, much to my annoyance), then it is likely the case my patch won't fix the common cause of the problem since you'd have to import tensorflow before being able to use set_verbosity. :/

[2017-07-24 06:18] jucor commented on #7652
Ah, tough, but makes sense. Thanks for explanation Vijay!

On Mon, 24 Jul 2017, 08:17 Vijay Vasudevan, <notifications@github.com>
wrote:

[2017-07-24 07:08] aurorelaurent opened #11704 "ERROR: Failed to load Skylark extension '//tensorflow:workspace.bzl'."
Environment info

Operating System: Ubuntu 16.04
Bazel version : 0.5.2
python version : 3.5.2
tensorflow version : 1.2.0
Hello,

When I try this command :

bazel build tensorflow/examples/label_image:label_image && bazel-bin/tensorflow/examples/label_image/label_image --graph=/tmp/output_graph.pb --labels=/tmp/output_labels.txt --output_layer=final_result --image=$HOME/piscine/nvxpool/cad_image_18

[2017-07-24 07:21] stefanofiorentino commented on #9071
Best solution is to prepend new paths to old LD_LIBRARY_PATH in ~/.bashrc
as following:

export LD_LIBRARY_PATH=$CUDA_HOME/lib64:/usr/lib/nvidia-375:$LD_LIBRARY_PATH

[2017-07-24 07:25] meijun commented on #11692
The tf.reduce_logsumexp source code currently is:
[code]

I have written my own tf_reduce_logsumexp to fix the bug:
[code]

[2017-07-24 07:53] avd77 opened #11706 "no input tensor in mobilenet_v1_1.0_224.ckpt"
I am newbie in TF and slim. Sorry if this a basic question. I downloaded mobilenet_v1_1.0_224.ckpt, built latest TF and TF-slim tree and ran tensorflow/tensorflow/python/tools/inspect_checkpoint.py on it.

I dont find input tensors, that are usually 224,224,3 or 112,112,3 etc size. Am I missing something here?

[mobilenet.txt](https://github.com/tensorflow/tensorflow/files/1169140/mobilenet.txt)

[2017-07-24 07:59] sameermahajan opened #11707 "error in tensorflow tutorial"
In tensorflow tutorial at: https://www.tensorflow.org/get_started/get_started

under 'A custom model' section it is missing an assignment for eval_input_fn as:

eval_input_fn = tf.contrib.learn.io.numpy_input_fn({"x": x_eval}, y_eval, 4, num_epochs=1000)

[2017-07-24 08:02] sameermahajan opened #11708 "error in installation instructions"
In instructions specified at: https://www.tensorflow.org/install/install_linux#ValidateYourInstallation

it states:

 For example, the following command installs the CPU-only version of TensorFlow for Python 2.7:

 (tensorflow)$ pip install --ignore-installed --upgrade \
 https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.2.1-cp34-cp34m-linux_x86_64.whl

However it is for Python **3.

[2017-07-24 08:19] nolanliou opened #11709 "Most of embedding_lookup/embedding_lookup_sparse computations are on CPU, Most of the GPU time is transferring data."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Centos 7
- **TenorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
r.12
- **Python version**:
2.7
- **Bazel version (if compiling from source)**:
0.5.2
- **

[2017-07-24 08:34] MisayaZ commented on #1122
@tano297 @abred  you right. The moving mean and moving variance are changed when I used batchnorm like this:
‘’‘
def batch_norm_layer(self, x,train_phase, scope_bn):
        bn_train = batch_norm(x, decay=0.9, center=False, scale=True,
        updates_collections=None,
        is_training=True,
        reuse=None,
        variables_collections= [UPDATE_OPS_COLLECTION],
        trainable=True,

[2017-07-24 09:31] buffxz opened #11711 "First time of inference very slow on iOS"
### Describe the problem
I tried to run the inference graph on iOS. However, the first run was very slow. It gets faster at the subsequent runs. My test inference graph is very simple, and just with two features as input, and run a logistic regression on it. The first run on `session.run(...)` will take about 15ms to run. The subsequent runs (starting from the second run) can go downs as low as 0.

[2017-07-24 09:38] anastyn opened #11712 "nn"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-24 09:59] sgirkin opened #11713 "decode_csv is extremely slow"
### System information
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
I tested on both MacOS 10, Centos 7, https://pastebin.com/LsADQ89s

- **TensorFlow installed from (source or binary)**:
Tensorflow 1.2.1, also tried with tensorflow compiled from sources

- **TensorFlow version (use command below)**:
('v1.2.0-5-g435cdfc', '1.2.1'), also compiled and tested from master

- **Python

[2017-07-24 10:02] merl-dev opened #11714 "run silent /.configure"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04

- **TensorFlow installed from (source or binary)**:
source

- **TensorFlow version (use command below)**:
1.3

- **Python version**:
intel python

- **Bazel version (if compiling from source)*

[2017-07-24 10:12] guillaumekln opened #11715 "Using higher order operators within tf.contrib.data.Dataset.map raises a segmentation fault"
### System information

- **Have I written custom code**: Yes
- **OS Platform and Distribution**: Ubuntu 16.04
- **TensorFlow installed from**: binary
- **TensorFlow version**: `('v1.2.0-2323-geaa7a8e', '1.3.0-rc0')`
- **Python version**: 2.7.6
- **CUDA/cuDNN version**: 8.0
- **GPU model and memory**: GTX 1080 (8GB)
- **Exact command to reproduce**: see the code snippet below

### Describe the pro

[2017-07-24 10:50] gauravsindhwani commented on #9747
Same issue here, while restoring a graph and using string input producer to evaluate model , first I get
"Attempting to use uninitialized value input_producer/limit_epochs/epochs 	 [[Node: input_producer/limit_epochs/CountUpTo = CountUpTo[T=DT_INT64, _class=["loc:@input_producer/limit_epochs/epochs"], limit=1, _device="/job:localhost/replica:0/task:0/cpu:0"](input_producer/limit_epochs/epochs)]]"

[2017-07-24 11:29] rajnamitha commented on #10130
@1int : I didn't face "No op named... " error while freezing though. But maybe it is similar case as mine, where I got "No op named..." error while loading the quantized graph.
With what helped me, I suggest you to build tensorflow from latest source code rather than binary version.
As maybe you are using latest script  for freezing the graph but the tensorflow version you are using could be a old

[2017-07-24 11:42] StefanoD commented on #11711
I can confirm this issue.

[2017-07-24 12:40] namrata-ibm commented on #11431
@frreiss, Thank you for your reply.

I am debugging this further, and realized that
[const int rank = inp.dims();](https://github.com/tensorflow/tensorflow/blob/v1.2.1/tensorflow/core/kernels/shape_ops.h#L91) returns value `2` as expected.
May be the output tensor is going wrong somewhere. Needs more debugging here.

[2017-07-24 13:13] StefanoD commented on #11690
You can use Batch Renormalization in [Keras Contrib](https://github.com/farizrahman4u/keras-contrib).

[2017-07-24 13:15] selinachenxi commented on #8191
@tshi1983
I got the same problem with tensorflow 1.1-gpu for ubuntu.
I upgrade to tf 1.2. It still doesn't work.
Then I change the function embedding_attention_seq2seq in file
tensorflow/contrib/legacy_seq2seq/python/ops/seq2seq.py
to the one as @fabiofumarola suggested above.
Now it starts training. I haven't tested decoding yet.

[2017-07-24 14:42] MilesZhao opened #11718 "gather_nd InvalidArgumentError"
2017-07-24 10:35:25.247357: W tensorflow/core/framework/op_kernel.cc:1152] Invalid argument: flat indices[12287, :] = [127, 42] does not index into param (shape: [32,512,100,1]).
	 [[Node: conv-maxpool-3/GatherNd = GatherNd[Tindices=DT_INT32, Tparams=DT_FLOAT, _device="/job:localhost/replica:0/task:0/cpu:0"](ExpandDims, conv-maxpool-3/stack)]]
2017-07-24 10:35:25.247422: W tensorflow/core/framewor

[2017-07-24 15:27] martinwicke commented on #1763
I believe convert_image_dtype scales the values iff it converts between an integer type to a float type. Integer types are assumed to be fixed point numbers, so (int8)(255) == (float)(1.0). It also expects float values to contain "normalized" images which contain numbers in the range [0,1).

So yes, if your original contains float values in the [0.0, 255.0) range, you have to rescale.

If there's

[2017-07-24 15:30] RylanSchaeffer commented on #11067
@ebrevdo , I'm having a strange problem with my Sequence to Sequence model's alignment history. I examined my model's alignments before beginning training, and the weights were all equal (~0.002, which makes sense, as my input sequences are 500 steps long); correspondingly, my model performed no better than chance. However, after training, my model converged to 100% accuracy, but the weights all r

[2017-07-24 16:09] zishuaiz opened #11720 "how to use the trained model(build in OOP schema) to predict new samples?"
Hi, there
   I write a OOP schema cnn model, but there is some error when predict. I know that if define Variable and write the code like `c` style in one file, it is easy to restore the value, but in OOP schema, it is something wrong. Here is my class:
[code]

## and this is my train file:
[code]

## and this is my predict file:
[code]

## error is:
[code]

Do you know how to load the Variable li

[2017-07-24 16:20] frreiss commented on #11431
IIRC the size of an `int` on POWER is 64 bits. Perhaps the assignment at line 94 (`out->scalar<int32>()() = rank;`) is writing 8 bytes into the Tensor instead of 4? What happens if you change the type of `rank` from `int` to `int32_t`?
Source code for `Tensor::scalar()` is at https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/tensor.h?utf8=%E2%9C%93#L641-L645 .
That fun

[2017-07-24 16:34] JamesKostas opened #11721 "Memory Leak from Training Step"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes, although my code is somewhat based on the MNIST deep learning tutorial.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 14.04 VERSION="14.04.5 LTS, Trusty Tahr"
- **TensorFlow installed from (source or binary)**:
Ins

[2017-07-24 16:41] asimshankar commented on #11714
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

(That said, there are two options, if you want to use all the defaults, you can run `yes "" | ./configure"

[2017-07-24 16:41] #11714 closed

[2017-07-24 16:41] asimshankar commented on #11720
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-24 16:41] #11720 closed

[2017-07-24 16:42] asimshankar commented on #11718
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks, in particular detailed instructions to reproduce the problem. Thank you.

[2017-07-24 16:42] #11718 closed

[2017-07-24 16:42] asimshankar commented on #11712
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-07-24 16:42] #11712 closed

[2017-07-24 16:43] asimshankar commented on #11700
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks, in particular detailed instructions on reproducing the problem. Thank you.

[2017-07-24 16:43] #11700 closed

[2017-07-24 16:44] yzhwang commented on #11327
Hi @ma0ho
Some updates from our side:
1) This bug is due to one cudnn function didn't pick the correct internal kernel to call for backward filter conv. We have already filed a bug to NVIDIA.
2) We are working on a workaround to improve the internal logic of conv ops to handle this case. I will let you know once the code is pushed to github repo.

[2017-07-24 16:47] learyg commented on #8315
Hi! I've just added sin(x) support and it looks like cos(x) support was there. Should be available in the next merge. I'm going to mark this as fixed once that lands, feel free to open new requests for other things, like the cross products you mention, and if possible it'd be helpful to describe why they'd be difficult/impossible to construct with existing XLA operations. (In general it'd also be

[2017-07-24 16:52] ma0ho commented on #11327
@yzhwang: Thanks for your investigation so far!

[2017-07-24 16:52] asimshankar commented on #11708
Thanks for pointing this out, will fix it.

[2017-07-24 16:54] eth-n commented on #11602
@yick2232 ran into this by chance this morning, seems like you can use these techniques to look at `p(y|D, H), the distribution over network outputs y given data and a model` https://www.cs.cmu.edu/afs/cs/academic/class/15782-f06/slides/bayesian.pdf

[2017-07-24 18:28] rubenvereecken commented on #11613
I could see how this might occur if the same input key is encountered (by e.g. reading the same file twice). Could anyone confirm?

[2017-07-24 18:31] asimshankar commented on #11702
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-24 18:56] #11666 closed

[2017-07-24 19:15] reedwm commented on #11693
Please provide details about what platform you are using  (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?  Make sure you also include the exact command if possible to produce  the output included in your test case. If you are unclear what to include  see the issue template displayed in  [the Github new issue template](h

[2017-07-24 19:22] agramesh1 commented on #11678
@gunan we are seeing the MKL issue.

[2017-07-24 19:30] hxsnow10 opened #11723 "tf.nn.sparse_softmax_cross_entropy_with_logits raise Segmentation fault"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
code from tensorflow/nmt
- **OS Platform and Distribution**:centos 7
- **TensorFlow installed from**:pip install
- **TensorFlow version**:('v1.2.0-5-g435cdfc', '1.2.1')
- **Python version**: 2.7.5
- **Bazel version (if compiling from source)**:
- **

[2017-07-24 19:38] dburkhardt opened #11724 "Importing TensorFlow breaks numpy.linalg.matrix_power()"
#10771
## System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Arch Linux
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: 3.6.1
- **Bazel version (if compiling from source)**: baze

[2017-07-24 20:01] shamoya opened #11725 "tf_cnn_benchmarks.py stuck when running with multiple GPUs and ImageNet data with protocol grpc+verbs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No, running tf_cnn_benchmarks.py from benchmarks repo
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.2 LTS
- **TensorFlow installed from (source or binary)**: Unmodified source with RDMA Verbs enabled
- **TensorFlow version (use command below)**:

[2017-07-24 20:05] shamoya commented on #11416
Hi @bobzhuyb,
The mlock solution still doesn't make sense to me.
it shouldn't have any effect, unless you a severe driver issues.
Can u involve RDMA community in this issue in https://github.com/linux-rdma/rdma-core ?

Anyway my issue still not solved, I opened an issue in https://github.com/tensorflow/tensorflow/issues/11725.

Any help is appreciated, if u can take a look.
@junshi15 @byronyi if u

[2017-07-24 20:07] shamoya commented on #9926
@junshi15  - I opened up https://github.com/tensorflow/tensorflow/issues/11725
I tried alone for some time (2 weeks) but still I failed to understand what exactly is the issue.

[2017-07-24 20:27] ankitachandak opened #11726 "Error while generating executable from obj file created with XLA aot for CPU"
Hi,
I m trying to generate executable (currently x86 for testing) using xla aot. I built the test file and generated .o using bazel build. Now I am trying to generate executable using clang (gcc also gives the similar error). I get the following error as undefined reference to **tensorflow::tfcompile::runtime::MallocContiguousBuffers** and
**tensorflow::tfcompile::runtime::FreeContiguous**
[code]

[2017-07-24 20:56] reedwm commented on #11701
The squeeze doesn't seem to do anything useful for either dimension. @agarwal-ashish, any thoughts?

[2017-07-24 21:13] aselle commented on #11726
Generally speaking AOT still requires TensorFlow runtime symbols which can be done by finding the right .cc's to add to your compile command, but yes, the easiest way is to use bazel and a cc_binary command (as the XLA tutorial indicates). At Google we haven't used other build systems for XLA, so we can't provide much guidance on that, but perhaps others in the community have.

[2017-07-24 21:14] aselle commented on #11726
@tatatodd, do you have any quick suggestions?

[2017-07-24 21:17] aselle commented on #11534
I'm trying to understand why your labels and logits wouldn't be the same shape. Usually they naturally are the same in most computations I've seen. Can you give a concrete example rather than just a placeholder where you've forced it.

[2017-07-24 21:23] aselle commented on #11578
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks.

Specifically, what steps do I need to take to reproduce your problem.

Thank you.

[2017-07-24 21:33] reedwm commented on #11695
/cc @gunan

[2017-07-24 21:34] ktamiola commented on #11327
Fantastic! Thank you @yzhwang !

[2017-07-24 21:56] asimshankar commented on #11636
@ebrevdo : Any comments?

[2017-07-24 22:12] reedwm commented on #11665
Is there any reason a `local_init_feed_dict` would be preferable to directly initializing `X_var` with `np.eye(...)`, without using a `tf.placeholder`? In that case, you could initialize `X_var` by passing `local_init_op=tf.initialize_local_variables()` to `Scaffold` I'm not sure a feed dict for local variables would be helpful.

[2017-07-24 22:16] reedwm commented on #11673
Marking as contributions welcome, since it seems #11687 will fix this issue.

[2017-07-24 22:19] reedwm commented on #11677
Closing as `allow_soft_placement=True` is the solution here.

[2017-07-24 22:19] #11677 closed

[2017-07-24 22:23] reedwm commented on #11681
Can you clarify what the problem is? Are you saying TensorFlow is only using the 1080 Ti, even though you additionally have a GTX titan? If that is the case, you can use `tf.device(...)` to specify which GPU to use, see the [Using GPUs](https://www.tensorflow.org/tutorials/using_gpu) tutorial.

[2017-07-24 22:24] reedwm commented on #11685
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-24 22:24] #11685 closed

[2017-07-24 22:31] reedwm commented on #11689
/CC @mrry, can you comment on TensorFlow's security?

[2017-07-24 22:32] #11707 closed

[2017-07-24 22:38] #10715 closed

[2017-07-24 22:53] aselle commented on #11684
Sorry you are having trouble, but if you can't take the time to tell us specifically what problems you are hitting with a concrete example, it's difficult to help you. Please open a new issue and take the time to tell us what commands you are running, what version of TensorFlow you are using. It may be even as simple as your install not being completely working rather than any problem with the cod

[2017-07-24 22:53] #11684 closed

[2017-07-24 22:55] reedwm commented on #11709
Can you provide the code you ran that demonstrates `embedding_lookup_sparse` performance, and the tfprof commands you used to generate the output? Thank you

[2017-07-24 22:56] aselle commented on #11676
@zhangyaobit, do you have any ideas? Perhaps using fused_batch norm?

[2017-07-24 22:59] reedwm commented on #11711
Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

In particular, can you share the complete code that generates the inference graph and runs it twice, with the first run being slow?

[2017-07-24 23:11] junshi15 commented on #11725
I was able to reproduce the issue. I also tried 'alexnet', it hung as well. I will take a close look in the coming days. Thanks for reporting.

[2017-07-24 23:42] reedwm commented on #11713
It makes sense for `tf.decode_csv` to be slower than `tf.parse_example`, since `tf.train.Example`s are designed to be decoded fast while CSVs are not. When training, I would recommend first converting your data into `tf.train.Example`s.

If you find that TensorFlow decodes CSVs significantly slower than some other CSV decoder implementation, then reopen this issue.

[2017-07-25 00:02] reedwm commented on #11715
/CC @mrry Can you debug this?

[2017-07-25 00:09] TimZaman opened #11727 "tf.one_hot indices out of bound"
Hi.

I have ran into some nasty indexing bugs, which weren't caught by TF. I investigated and found the following behaviour:

[code]

Both overflow and underflow result in a zeroed array. Should this be caught, and errors be thrown? If not, why and when would this zeroed behaviour make sense? Or is it costly to check and throw assertions?

[2017-07-25 00:10] reedwm commented on #11723
I apologize but I am having a hard time understanding what the problem is, where the problem is, and what version it affects. Please resubmit and pay attention to the issue template (https://github.com/tensorflow/tensorflow/issues/new) . Please provide all the information it asks. Thank you.

[2017-07-25 00:14] reedwm commented on #11725
Thank you for looking into this @junshi15!

[2017-07-25 00:21] ekelsen commented on #11554
If the number of bins fit into the shared memory of the GPU (48kb / 4bytes ~ 12,000 bins max) then you might be able to write a faster version of unsorted_segment_sum that does atomics in shared memory and then to global memory.  I think right now everything goes straight to global memory.

[2017-07-25 00:25] reedwm commented on #11727
This is indeed intentional. See the examples on the [C++ op documentation](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/ops/array_ops.cc#L4494). We cannot change this without breaking backwards comptability.

[2017-07-25 00:25] #11727 closed

[2017-07-25 00:42] zaneoliver6 commented on #5919
Hey guys! I've been having the same problem trying to make this work on android and I have used some of the solutions from above but none seem to work...here are some of the errors I get back from the various methods of trying to solve this problem...Any Help would be appreciated!

The models work when I run it on python but doesn't when I run them on android.

Im using the SSD_Mobilenet model fro

[2017-07-25 00:43] #11591 closed

[2017-07-25 00:43] zaneoliver6 commented on #6124
Hey guys! I've been having the same problem trying to make this work on android and I have used some of the solutions from above but none seem to work...here are some of the errors I get back from the various methods of trying to solve this problem...Any Help would be appreciated!

The models work when I run it on python but doesn't when I run them on android.

Im using the SSD_Mobilenet model fro

[2017-07-25 00:43] reedwm commented on #11591
Closing since a solution to your last question has been provided.

[2017-07-25 00:44] zaneoliver6 commented on #8404
Hey guys! I've been having the same problem trying to make this work on android and I have used some of the solutions from above but none seem to work...here are some of the errors I get back from the various methods of trying to solve this problem...Any Help would be appreciated!

The models work when I run it on python but doesn't when I run them on android.

Im using the SSD_Mobilenet model fro

[2017-07-25 00:53] aselle commented on #11638
@zhangyaobit, could you take a quick look?

[2017-07-25 00:58] aselle commented on #11626
Does it work if you train from within Python?
@skye, do you expect that a generated graphdef should be runnable for training in c++?

[2017-07-25 01:05] villanuevab opened #11730 "Using XLA JIT Compilation results in bad_alloc error"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.0.1-0-ge895d5c-dirty 1.0.1
- **Python version**: Python 3.5.2
- **Bazel version (

[2017-07-25 01:06] aselle commented on #11696
This is somewhat expected behavior, and it is not unique to tf.Print()
[code]
This is a property tf.convert_to_tensor() i.e.
[code]
The point is that if you think of tensors of the same shape embedded as lists as being a generalized form of plain python lists it makes sense to convert them into a unified tensor if possible.

i.e.
[code]
however this is an error
[code]

So in essence this is expect

[2017-07-25 01:14] ankitachandak commented on #11726
@aselle Thanks! I've found workaround for the issue as stated adding cc_binary inside test/BUILD works. Now I am trying to generate executable for hexagon. I see that someone has already tried that at Google. I replaced the triple and data format in cpu_compiler.cc. Still it's generating x86 executable. Ideally it should pick up the appropriate platform based on triple isn't it? I've added appropr

[2017-07-25 01:15] aselle commented on #11692
@fastturtle, could you take a look?

[2017-07-25 01:19] aselle commented on #11688
are you sure you are compiling from the latest master or the release tag? You didn't specify what git sha you are using.

[2017-07-25 01:22] shijial commented on #2734
@yufengzhixing
I got the same problem, but I haven't solved the problem. Could you share your solution? Thank you!

[2017-07-25 01:22] #11708 closed

[2017-07-25 01:25] aselle commented on #11724
Hmm, I am not able to reproduce it. These are  large numbers. Does this occur when you use say matrix power 2? Could you print out the X's in both cases (at least as many as you do for Y) just so we can verify they are exactly the same.

My guess would be TensorFlow configures the floating point flag settings different from default.

[2017-07-25 01:29] reedwm commented on #11597
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

That said, when you recreate the `ExponentialMovingAverage` after saving the checkpoint, it is unaware of the current variables and shadow variables, since you just created it. Then,

[2017-07-25 01:29] #11597 closed

[2017-07-25 01:39] nolanliou commented on #11709
Code: [embedding_lookup_sparse](https://gist.github.com/nolanliou/c00af5938b2aecfdc5ea1189426b8624).

tfprof code to do the profiling:
[code]

[2017-07-25 01:58] reedwm commented on #11605
I'm not quite sure what you're trying to do, but it looks you succeeded. I'm closing this issue but if you need further help, I recommend StackOverflow.

[2017-07-25 01:58] #11605 closed

[2017-07-25 02:02] reedwm commented on #11637
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-25 02:02] #11637 closed

[2017-07-25 02:05] reedwm commented on #11617
Closing since the issue seemed to be resolved (I don't know when the image dev libraries are supposed to be installed though).

[2017-07-25 02:05] #11617 closed

[2017-07-25 02:31] reedwm commented on #11709
/CC @alextp Can you take a look? When I run, all ops are put on the CPU.

[2017-07-25 02:43] nolanliou commented on #11709
@reedwm there are some ops in GPU like `gather`. did you use gpu? By the way I add `with tf.device('/gpu:0')`, maybe you can have another try. Thanks.

[2017-07-25 03:01] vvkv commented on #11695
I get the exact same error when trying to execute the same command. Using TensorFlow V 1.1.0 on a mac os 10.12.4

[2017-07-25 03:13] zh794390558 commented on #923
Thanks @yaroslavvb

[2017-07-25 03:42] khaotik commented on #11534
@aselle Yes, I encountered this during GAN training.

Basically, it looks like:

[code]

In my use case, the model is about multi-speaker audio separation, each data point comes with multiple single-speaker samples. So `num_samples` can't be merged with `batch_size`.

We wanted GAN discriminator to do multi-class classification besides true/false. So we use softmax rather than sigmoid.
Here `label

[2017-07-25 04:17] printdhruv commented on #11730
Can you try different values for `per_process_gpu_memory_fraction` in the following code and try to reproduce your code?
The following code will allocate memory with  ` Total available GPU memory * per_process_gpu_memory_fraction`
[code]

[2017-07-25 04:44] snnn opened #11735 "python configure fails on Windows if "bash on Ubuntu on Windows" installed"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
    No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10,  with "bash on Ubuntu on Windows" installed
- **TensorFlow installed from (source or binary)**:
source
- **TensorFlow version (use command below)**:
ec808c9b75af5dcabcb7233b10b72cfd1366fcde
- *

[2017-07-25 04:44] snnn commented on #11735
https://github.com/bazelbuild/bazel/issues/3445

[2017-07-25 05:21] YusukeSuzuki opened #11736 "tf1.2.1 can't build on Ubuntu 16.04 pyenv"
I can't build tf1.2.1 from source. on ubuntu 16.04 and pyenv.
tf1.0, tf1.1 are ok to be build normally.

### System information
- Ubuntu 16.04
- tf from git checkout r1.2
- python 3.5.2
- bazel 0.5.2 (from deb)
- CUDA 8.0, cudnn5
- GTX 1080ti x2

### python environment

[code]
required packages on https://www.tensorflow.org/install/install_sources are all installed.

### my config

`cat cat .tf_co

[2017-07-25 05:23] ZhongBaby commented on #11681
@reedwm Thanks for response.

Yes, it only use 1080Ti, but I heared tensorflow can automatically take all detected devices' memory.

I have tried to use `tf.device(...)`, but it unhandy for me to place it manually. My question may now be does tensorflow automatically use all devices' memory?

[2017-07-25 05:42] hxsnow10 commented on #11723
@reedwm i have updated the problem, with my experiment code.

[2017-07-25 05:49] gauravsindhwani commented on #9747
I did manage to find a work around, upon restoring i removed queue_runners and local_variables from restored graph and it worked
get_default_graph().clear_collection("queue_runners")
      get_default_graph().clear_collection("local_variables")

[2017-07-25 06:12] slothkong commented on #4589
Please keep us posted <3

[2017-07-25 06:29] AnranQi commented on #7696
Anyone who solve this problem?

[2017-07-25 06:52] 0YuanZhang0 opened #11737 "syntaxnet: parser_eval --graph_builder=greedy ,Assign requires shapes of both tensors to match. lhs shape= [32,69] rhs shape= [400,69]"
Error:
![image](https://user-images.githubusercontent.com/21216639/28559200-238f40a6-7148-11e7-90c6-0f426bfe8426.png)

I use GPU to train;
when greedy training, I can train model and parser eval with --graph_builder=structured successful, but parser_eval with --graph_builder=greedy failed;
here is my configuration:
"bazel-bin/syntaxnet/parser_trainer" \
  --arg_prefix=brain_parser \
  --batch_size

[2017-07-25 06:55] yossitsadok commented on #8397
Hi Guys,

Could anybody post clear steps how to build 32-bit exe using cmake?

Thanks

[2017-07-25 07:01] gunan commented on #11678
https://github.com/tensorflow/tensorflow/commit/5442825dfd774a1d1f55d4d0e9d2821abb551caf is now pushed out.
@agramesh1 could you sync past that commit and try again to see if the issue is resolved?

[2017-07-25 07:04] gunan commented on #8397
We (TensorFlow team) never tried building TF on a 32 bit OS.
So we have no official support for TF on a 32 bit desktop system.

[2017-07-25 07:06] Lakedaemon commented on #8404
If you are using keras, don't rename node to identity to strip switches from learning to inference.
In keras, you train your model, you save weigths and when you want to export your frozen model to tenserflow, you :
1) launch a new python script FROM SCRATCH that

 `K.set_learning_phase(0)
      inputShape = (32, 32, 1)
      model = self.buildModel(inputShape, self.nbClasses)# I'm building the mo

[2017-07-25 07:11] gunan commented on #11735
This is due to bazel. Please see this page in bazel website:
https://docs.bazel.build/versions/master/windows.html

[code]

[2017-07-25 07:12] gunan commented on #11695
@petewarden @andrewharp @caisq any thoughts?
Our nightly build is passing, maybe there is a setup issue here?

[2017-07-25 07:20] milani commented on #11696
I'm confused. `tf.Print` is supposed to return the first parameter as is (as it is identity operation), does it really need to convert it to a tensor? I guess not, because it does not operate on it.

[2017-07-25 07:23] zzqiuzz opened #11738 "Using VSCode to import tensorflow failed"
I've installed tensorflow on Windows 10 successfully.But I can only run tensorflow under terminal command .What I want to do is to write python script on VSCode. It turns out some configuration may be done for VSCode.So Is there anyone who can solve this?Thanks a lot.

[2017-07-25 07:27] #11738 closed

[2017-07-25 07:53] hank-der-hafenarbeiter commented on #7457
Happend to me too today on our GPU-Cluster:
[code]
On a GeForce GTX 980 Ti.

[code]
[code]

[2017-07-25 08:04] sesoin opened #11740 "several Session , Models in one file"
so I am using CNN for fave detection and also I have CNN for age classification . but it seems two network doesn't work together.

my code is :

[code]

and the  error is :
[code]

[2017-07-25 08:04] terryKing1992 commented on #11549
Hello, @drpngx is there any  message about this issue？

[2017-07-25 08:55] snnn commented on #11735
Hi @gunan ,

I set that.
This is how did I set the env vars before running bazel command

[code]

[2017-07-25 09:02] ilchemla opened #11742 "Docker :: Restoring from a model outside the container returns FailedPreconditionError"
### System information
- **OS Platform and Distribution**: Docker Tensorflow CPU Image
- **TensorFlow version (use command below)**: 1.2.1
- **Python version**: Python 2.7.12

### Source code / logs
[code]

### The Issue
I'm binding a host `models` directory to `/data/models` inside the container.
When trying to restore, I got a `Failed precondition`
Everything's okay when I'm not using Docker
Eve

[2017-07-25 09:03] lumiaomiao commented on #11550
@asimshankar  Thank you very much， I compiled Tensorflowr1.2 on Ubuntu16.04 successfully.

[2017-07-25 09:14] gmvidooly commented on #6766
I'm also experiencing this issue and error message is same as  @j-wilson   . I am fine tuning object detction api on faster_rcnn_inception_resnet_v2_atrous_coco_11_06_2017 model.ckpt.

[2017-07-25 09:17] drpngx commented on #11549
Sorry I'm out this week. Will take a look later

On Jul 25, 2017 10:26 AM, "terry.King" <notifications@github.com> wrote:

[2017-07-25 09:18] drpngx commented on #11549
Maybe @mrry has a hint

On Jul 25, 2017 11:17 AM, "Patrick Nguyen" <drpng@google.com> wrote:

[2017-07-25 09:46] EddieOne commented on #3469
Long build process of the Raspberry Pi.

[2017-07-25 09:58] flener commented on #11688
aselle, this information is in configuration block:
[code]

full hash : b4957ffc69e73cf8348db7f381438c3b0ccabd14

[2017-07-25 10:02] andreaschrist27 opened #11743 "Error :"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-25 10:14] xisnu commented on #6683
undoubtedly something is wrong with saving recurrent layer weights in tensorflow and python3.

[2017-07-25 10:30] lissyx commented on #9661
I can confirm that doing what @petecoup suggests does work. I'm able to cross-compile from linux amd64 targetting rpi3 hardware (though, I still lack proper tooling to set the `--target_triple=` properly, but changing by hand works fine so far).

[2017-07-25 10:35] ad26kt opened #11744 "can't understand tf.contrib.training.bucket_by_sequence_length"
[code]
It seems that the documentation of those bucketing function is quite not clear
I can't figure out why the result the this code is
[code]

what I intended was :  batch size 4 for those input length are smaller than 4,  batch size 2 for those input length is bigger or the same as 4(because the bucket_boundaries = [4])

There was a similar post before #5609 but I still think that there lacks a

[2017-07-25 10:41] lissyx opened #11745 "Using AOT compilation on network with bidirectionnal layer fails because of missing Exit on Switch node"
I have been reproducing that for a while, ranging from 1.0.1 builds to current master. Running `tfcompile` fails like this:

[code]

I have been able to find that this was 100% repro when we have the bidirectionnal layer in the network:
[code]

As long as there are no more bidirectionnal layers, then it is fine. I searched and I have not been able to find any documentation (but maybe I missed it?)

[2017-07-25 10:42] gunan commented on #11735
@meteorcloudy could you take a look?

On Jul 25, 2017 11:57 AM, "Changming Sun" <notifications@github.com> wrote:

[2017-07-25 10:47] lissyx commented on #11745
Looks like I should have had a more close look at issue #11275

[2017-07-25 10:47] #11745 closed

[2017-07-25 10:55] suiyuan2009 commented on #9576
got same error using cudnn 6.

[2017-07-25 11:01] shamoya commented on #11725
+ @mrry @jhseu @poxvoculi , just a small question.
I'm trying to understand why execution hangs in [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/master_session.cc#L608).
What (I think) I need is to get the Executor(s) which doesn't end in [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/distributed_runtime/graph_mgr.cc#L5

[2017-07-25 11:28] meteorcloudy commented on #11735
@gunan No problem, I'll reply in the corresponding bazel issue.

[2017-07-25 11:43] pickou opened #11746 "ctc"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-25 11:46] #11746 closed

[2017-07-25 11:51] pickou commented on #6683
I train and store the model in python2, and restore it using python3, it got terrible result. But when I restore the model using python2, the result is good. Train and store in python3, I got awful result.

[2017-07-25 11:51] suiyuan2009 commented on #11725
I think `global_step` should be protected by a lock.I raised [an issue](https://github.com/tensorflow/benchmarks/issues/38). I'm not sure if tensorflow has some special code for `global_step`.

[2017-07-25 12:12] francotheengineer commented on #11744
Hi, I've also been struggling for 2 days now trying to batch multiple sentences with different lengths with this function. I simply cannot get it to work. If anyone has any guidance I would greatly appreciate it.
Thanks

[2017-07-25 12:15] francotheengineer commented on #11744
This may be of help:
https://github.com/wcarvalho/jupyter_notebooks/blob/ebe762436e2eea1dff34bbd034898b64e4465fe4/tf.bucket_by_sequence_length/bucketing%20practice.ipynb

[2017-07-25 12:22] snnn commented on #11735
How about this:
add a function

def get_shell():
    if os.name == 'Windows'
         return env['BAZEL_SH']
    else:
         return 'bash'

[2017-07-25 12:51] meteorcloudy commented on #11735
I think the best solution would be avoid invoking bash explicitly.
We can write the python code in a file first instead of using `bash -c "python - <<END <content> END"` syntax, then we can just do `repository_ctx.execute(['python', "./find_python_lib.py"])`
example:
[code]

[2017-07-25 13:04] namrata-ibm commented on #11431
@frreiss, I am working on s390x arch. Replacing `int` to `int32_t` yields the same result.
The `rank` kernel hasn't changed much since v0.10.0 where the same was working.
Inspecting `Tensor::scalar()` further now.

[2017-07-25 13:25] dburkhardt commented on #11724
I do still get the wrong result if I use matrix power 2:

[code]

[code]

Interestingly, if the matrix is smaller, I can get the correct result:

[code]

Also correct:

[code]

[2017-07-25 14:07] caisq commented on #11742
@ilchemla what are the versions of your tensorflow inside and outside the docker container?

[2017-07-25 14:16] julj commented on #11144
If the MultiRNNCell is supposed to be standard, then I would say it's a bug because the PhaseLSTMCell cannot be stacked using it.

[2017-07-25 14:19] uschmidt83 commented on #386
Thanks, everyone! It does work for me with the 1.3.0-rc0 release.

[2017-07-25 14:29] kindlychung opened #11750 "summary.FileWriter should support with statement"
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-25 14:35] ilchemla commented on #11742
Same `tensorflow (1.2.1)`

[2017-07-25 14:43] sxs4337 commented on #10130
I get the same error-
ValueError: No op named SSTableReader in defined operations.
while running tf.train.import_meta_graph on the meta file. The dir(tf.contrib) solution did not help.

I am using a pre-trained model from-
https://github.com/openimages/dataset

Thanks.

[2017-07-25 14:47] vikrantt commented on #11695
I have tried it on two different Macs. I installed all the pre-requisites so I don't think there is a setup issue. Like I said, passing the full path to gen/protobuf lib with -L works.

[2017-07-25 14:48] vikrantt commented on #11695
Also, any comment about the no symbol warnings:

[code]

[2017-07-25 15:01] alextp commented on #11709
`embedding_lookup` and friends should only rely on dynamic partition and other cpu-heavy ops when you have partitioned embedding variables.

Most of the use cases I've seen for partitioning embedding variables put them on remote parameter servers (since there's no point in sharding locally) and most setups I know of involving parameter servers are more efficient when the partitioned variables are

[2017-07-25 15:19] ebrevdo commented on #6683
@vrv this looks like a serious issue in RNN layer store/restore with Saver in python3 (the behavior does not  appear in python2; see @pickou).  I won't be around to continue debugging for 2 weeks.  Anyone who can try to look at this with Saver experience?

@pickou can you send us the metagraph & checkpoint for the model trained in python2?

[2017-07-25 15:25] July-Morning commented on #10669
For quite a time I was busy with another project, but finally I got back to that issue again.
I found out that the reason was not moving from Python to C++ but freezing the graph. Even when I load frozen graph into Python code I get my model running 2-3 times slower.
Same problem was reported [here](https://github.com/tensorflow/tensorflow/issues/3216).
The question is now: is it possible to load

[2017-07-25 15:30] diegoAtAlpine commented on #11124
Hi @wenkesj
I got the exact same error message you got (see below). How did you solve the issue?
Any help would be appreciated.

E tensorflow/core/framework/op_kernel.cc:1141] OpKernel ('op: "BitwiseAnd" device_type: "CPU" constraint { name: "T" allowed_values { list { type: DT_INT8 } } }') for unknown op: BitwiseAnd
E tensorflow/core/framework/op_kernel.cc:1141] OpKernel ('op: "BitwiseOr" device_

[2017-07-25 15:34] alextp commented on #10669
Ah, I see. Are you using GPU variables? Maybe the graph freezing code isn't
placing them correctly.

On Tue, Jul 25, 2017 at 8:30 AM, July-Morning <notifications@github.com>
wrote:

--
 - Alex

[2017-07-25 15:40] July-Morning commented on #10669
I have no GPU on my computer (and tensorflow is built in cpu-only mode).
And I tried to remove manually all the parts mentioning GPU from graph.pb - didn't help at all.

[2017-07-25 15:47] smodlich opened #11753 "tf.train.SyncReplicasOptimizer no synchronization among workers"
### System information
- Have I written custom code : Yes
- OS Platform and Distribution : Linux
- TensorFlow installed from (source or binary)**: Binary
- TensorFlow version (use command below)**: 1.2.1
- Python version**: 3.5.2

### Problem Description
I'm trying to train an rnn model with distributed synchronized training and between graph replication. I'm using tf.train.replica_device_setter.

[2017-07-25 15:55] alextp commented on #10669
Is it feasible for you to not freeze your graph, then?

On Tue, Jul 25, 2017 at 8:51 AM, July-Morning <notifications@github.com>
wrote:

--
 - Alex

[2017-07-25 15:56] alextp commented on #10669
Adding @petewarden as he might have a better understanding than I do about frozen graphs

[2017-07-25 15:57] July-Morning commented on #10669
I need to use my trained model in C++ project. I couldn't find a way to load it without freezing. If it is possible, could you please give me a clue how to do that?

[2017-07-25 16:00] yaroslavvb commented on #10669
Graph freezing turns all parameters into constants. Historically constants have been less performant than variables (ie, stored in the graph datastructure which has additional locking).

[2017-07-25 16:06] July-Morning commented on #10669
Got it, but is there any way to use model I have in C++ project without 2-3x loss in performance? Maybe it is possible to load model without freezing it? Any example or workaround would be really useful, because now I have real-time when I restore a model in Python and can't achieve anything close in C++.

[2017-07-25 16:23] gcucurull commented on #10077
I had the same problem and I suspect that having non-ASCII characters in the path was the cause, removing accents from the path solved the problem for me (in addition to using an absolute path).

[2017-07-25 16:24] aselle commented on #11692
This looks like a reasonable fix, would you be willing to submit it as a pull-request?

[2017-07-25 16:32] yaroslavvb commented on #10669
How about SavedModel?

[2017-07-25 16:37] alanyee commented on #11744
From the README, "We use GitHub issues for tracking requests and bugs. So please see TensorFlow Discuss for general questions and discussion, and please direct specific questions to Stack Overflow." Please close, and if you need further help, ask on TensorFlow Discuss and/or Stack Overflow.

[2017-07-25 16:40] reedwm commented on #11681
TensorFlow will automatically allocate all the GPUs' memory when it starts. While a TensorFlow is running, the `nvidia-smi` command should show this. But, only the first GPU (in your case, the 1080 Ti) will be used by default. TensorFlow does not automatically place ops on different GPUs so you need to use `tf.device(...)` if you want to use the GTX Titan.

[2017-07-25 16:40] #11681 closed

[2017-07-25 16:41] poxvoculi commented on #11725
When I'm trying to debug a hung concurrent program the first step is
usually to try to find a small case that exhibits the problem, i.e. try to
find the least number of workers and GPUs that still hangs.  It's much
easier to debug a small case than a large one.  Then, if it's a really
small case you might be able to set the logging level high and read all the
log files.  Usually though, I form som

[2017-07-25 16:54] aselle commented on #11750
This seems like a reasonable request. What do you think @dandelionmane?

[2017-07-25 16:54] July-Morning commented on #10669
Thank you!
I will try SavedModel and report the results here.

[2017-07-25 16:54] petewarden commented on #10669
To expand on Yaroslav's comments, there are some potential initialization overheads due to the way we copy GraphDefs, but we don't expect performance to be noticeably slower on real models (and can actually be faster if you use memmapping).

With that said, using MNIST as a benchmark probably isn't very useful, since the amount of computation involved is very small and so initialization and other

[2017-07-25 16:55] aselle commented on #11726
@satok16, do you have any suggestions?

[2017-07-25 17:01] reedwm commented on #11723
I cannot reproduce. I ran that code after replacing the "600000"s with "6000"s so it would finish in a reasonable amount of time, and the code worked fine.

[`tf.nn.sparse_softmax_cross_entropy_with_logits` ](https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits) requires `labels` to have one less dimension as `logits`. [`tf.nn.softmax_cross_entropy_with_logits`

[2017-07-25 17:06] aselle commented on #11696
Every op operand that expects a tensor implicitly runs convert_to_tensor... this is why
tf.constant([1,2,3]) works and stuff.  Even identity works like this i.e.

[code]
The identity op returns a single tensor and takes a single tensor. There are ops that return multiple tensors but they would need to explicitly be designed to do that. The print op is exactly the same. It doesn't take a list of te

[2017-07-25 17:07] aselle commented on #11696
@vrv, do you have any further insight into this?

[2017-07-25 17:08] aselle commented on #7457
@zheng-xq , could you take a look?

[2017-07-25 17:09] reedwm commented on #11725
@tfboyd I'm unassigning myself because I know very little about the RPC layer and know nothing about VERBs. I don't think this is a bug with tf_cnn_benchmarks, because #11416 also has the same issue with a different model.

@suiyuan2009 I don't think tensorflow/benchmarks#38 is the same issue, since this issue only occurs with verbs, and it occurs with another model with verbs. I'll take a look at

[2017-07-25 17:09] aselle commented on #11688
@jart, could you take a look. It looks like it might be a numpy versioning problem, but I don't really know how to diagnose or suggest a fix.

[2017-07-25 17:09] July-Morning commented on #10669
I am not using MNIST benchmark anymore, it was only provided as an example here. What I am working with is a more complicated net (modified SqueezeNet on a 800x450 image), so I don't think initialization is a main issue here. And I am comparing only performance of session.run itself on a set of consequent runs in a loop.
Seems that memmapping and SavedModel are the next steps for me.

Again, thank

[2017-07-25 17:10] aselle commented on #11724
Do you have this problem when you disable GPU?

[2017-07-25 17:12] meijun commented on #11692
@aselle Sure, I will try it.

[2017-07-25 17:15] aselle commented on #11724
Can you reproduce this outside of Jupyter or Ipython?

[2017-07-25 17:16] aselle commented on #11534
@fchollet , @martinwicke ,  thoughts on this feature request?

[2017-07-25 17:17] asimshankar commented on #11740
From the error message, it seems that you're trying to restore a checkpoint that doesn't contain weights for one of your models.

The error stacktrace provided seems to be truncated (instead of the full error seen) and the code provided isn't sufficient to reproduce the problem (e.g., I have no clue what the `FD2` module is or how the checkpoints were created).

I'd suggest trying to distill the c

[2017-07-25 17:17] vrv commented on #11696
I don't have any further insight into this, I'm not sure what the semantics of Print should be, so I don't know what can or should be changed about it.

[2017-07-25 17:18] aselle commented on #11564
Can you reproduce this on a simpler example than full inception training? I.e. does a simple example work for you with XLA?

[2017-07-25 17:19] ebrevdo commented on #11696
No operation that takes a single tensor, but to which you provide a list, is an identity operation.

The fact that this didn't raise an error is a little bit unfortunate; but the automatic merging of lists when a single tensor is expected is very useful in almost all other contexts.

We could certainly add an error check of the form:
```if x is a flat list and x has Tensors in it, raise error```
i

[2017-07-25 17:19] aselle commented on #11742
How are you mounting? with -v on the docker run? Are they read-only? If you copy the checkpoint into the docker cotnainer rather than -v mounted directory does it work (slightly different than just pre-loading it into the image)?

[2017-07-25 17:25] aselle commented on #11696
Maybe the simplest thing to do is to not call convert_to_tensor on the wrappers for Print and Identity and tf.placdholder_with_default.... then if you don't give it a variable that is already a Tensor it will be an error. However, it likely will break existing code. We might settle for a warning.

[2017-07-25 17:28] zheng-xq commented on #7457
The exception comes from session.py. Passing to Derek fro now.

[2017-07-25 17:35] sun-peach opened #11755 "how to assign a tensor to a sub part of another tensor"
Hi, dear all,

I am new to tensorflow. Previously I use theano. Now I want to assign a tensor to a sub part of another tensor. e.g.:

a =
[[0,0,0,0],
[0,0,0,0],
[0,0,0,0],
[0,0,0,0]]
b =
[[1],
[3],
[4].
[5]]
I would assign to a[0,:], like this
a =
[[1,0,0,0],
[3,0,0,0],
[4,0,0,0],
[5,0,0,0]]
in theano we use set_subtensor, what should I do with tensorflow? Thank you very much!

[2017-07-25 17:36] ebrevdo commented on #11696
folks use tf.identity and tf.placeholder_with_default with non-tensors all
the time.  that specific approach would break everyone.

On Tue, Jul 25, 2017 at 10:27 AM, Andrew Selle <notifications@github.com>
wrote:

[2017-07-25 17:44] MtDersvan commented on #11456
@mrry do you mean keeping the same `tf.train.ClusterSpec`:
[code]
, but just creating three `tf.Session` or `tf.train.Server`? With what targets?

Creating the same `tf.train.Server(cluster, job_name="local", task_index=1)` not surprisingly shows `UnknownError: Could not start gRPC server`, because `task_index` job is already started.

Running this:
[code]
multiple times with any targets (8000 or

[2017-07-25 17:45] reedwm commented on #11753
@ali01 Do you have time to look into this?

[2017-07-25 17:46] hongzimao opened #11756 "Infinity mask breaks gradient"
I'm trying to do softmax over selected indices, using infinity mask to silent out the unwanted ones. However, the gradient of those unwanted entires become nan as opposed to 0.

The reason I didn't use boolean mask is that the mask indices are different in my batch, which can't end up with a nice matrix form. If there's workaround here I'll be more than happy to adopt.

The code I tested the infin

[2017-07-25 17:47] reedwm commented on #11755
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-25 17:47] #11755 closed

[2017-07-25 17:53] zhangyaobit commented on #11638
Indeed, looks not right to me. @fchollet, could you take a look?

[2017-07-25 17:54] lissyx commented on #9697
Update: while working on some OSX builds, I hit that strange error: https://tools.taskcluster.net/groups/Ma01MYVoTfKZpwxj8icetw/tasks/L9yMqsomQnKJSxu2qaHLgg/runs/0/logs/public%2Flogs%2Flive_backing.log

[code]

After reverting my changes for updating Eigen and going back to `d781c1de9834`, it seems ot be working better (except that the ARM cross compilation now fails again).

[2017-07-25 17:57] reedwm commented on #11721
Write the log (with TF_CPP_MIN_VLOG_LEVEL=1) to a file and upload it somewhere so that we can download it.

Also, see if you can reproduce the problem with a simpler program. The current program is over 1000 lines, making it hard to debug a memory leak. Additionally, I cannot run the program because you have some hardcoded paths, and the matplotlib dependency makes it hard to run internally. See i

[2017-07-25 18:18] zhangyaobit commented on #11676
This is caused by "pred = array_ops.reshape(pred, [1])" in smart_select in tensorflow/python/layers/normalization.py.

pred is a scalar Tensor of boolean type. However, the GPU kernel of reshape doesn't support boolean type.

@fchollet, @sguada, as pred is a scalar, could this reshape be replaced by something else?

[2017-07-25 18:18] reedwm commented on #11737
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-25 18:18] #11737 closed

[2017-07-25 18:23] mbchang opened #11758 "Unexpected behavior in tf.contrib.distributions.Categorical"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.3
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 2.7.10
- **Bazel version (if compiling from source)**:
- *

[2017-07-25 18:25] dburkhardt commented on #11724
Yes.

[code]

Or with a larger power:
[code]

[2017-07-25 18:28] aselle commented on #11724
Could you try with the latest stock build and see if it still occurs?

[2017-07-25 18:29] dburkhardt commented on #11724
Sorry, could you please clarify what you mean by stock build? Do you just mean the precompiled binary?

[2017-07-25 18:56] villanuevab commented on #11730
@printdhruv, doing so results in no CUDA OOM errors, but the process still mysteriously quits. See the error log below:
[code]

[2017-07-25 19:07] jrbtaylor commented on #11591
@mrry What do you mean by index file? What format should I be writing the filenames/labels to for `TextLineDataset`?

[2017-07-25 19:16] saman-aghazadeh commented on #11626
Basically yes. I have seen C++ examples (even I tried it myself) that can train a graph. To me it seems like gradient calculation functions generally does work on C++ mode. But still based on the description, that gradient ops are only available in python, I'm not sure how they are being ported from python to C++, when we wrap the whole TF core as a shared object library.

[2017-07-25 19:28] tivvit opened #11761 "404 for mac GPU"
Installation section in readme for Mac GPU: 404 error

https://ci.tensorflow.org/view/Nightly/job/nightly-matrix-mac-gpu/TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-mac/lastSuccessfulBuild/artifact/pip_test/whl/tensorflow_gpu-1.3.0rc0-py2-none-any.whl

[2017-07-25 19:31] atique81 commented on #8090
Hello @zhangyaobit ,
Thanks for your reply.

I am using an epsilon value of 0.001. But, I tried it with epsilon values of equal or greater than 1e-5 which didn't work. I could finally avoid this error by compiling tensorflow from the source for pyhton3. Though, I didn't try compiling tensorflow from the source for python 2.

[2017-07-25 19:38] vrv commented on #11676
No idea why it isn't supported, perhaps it could be registered.  People only add registrations as they are needed.

[2017-07-25 19:43] fxsuper commented on #8315
Thanks for the update, and I'm glad that `sin` will be in there soon!

Regarding `cross`--it's certainly possible to build out of existing XLA blocks, but my concern was speed. Is that not a valid concern? TF-level cross can be defined pretty easily indeed:

[code]

I'm asking so that I know whether to start a new issue or not. Thanks.

[2017-07-25 19:48] reedwm commented on #11761
Can you clarify? Where did you get that link?

[2017-07-25 20:20] TomAshley303 commented on #8037
Sorry but this is a ridiculous thing to have output in all TF scripts by default. Most people probably aren't compiling TF from source nor want to.

[2017-07-25 20:28] aselle commented on #11758
@ebrevdo, could you take a look?

[2017-07-25 20:30] aselle commented on #11756
Could you ask on StackOverflow to see if anybody has a more elegant solution?

[2017-07-25 20:31] #11744 closed

[2017-07-25 20:31] aselle commented on #11744
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

[2017-07-25 20:33] aselle commented on #11736
What version of gcc are you using?

[2017-07-25 20:46] pusj commented on #10399
@xiejw ,

Do you know which ver. of TF is that https://github.com/tensorflow/tensorflow/pull/9719/files is released in? Or which ver is this going to be released in?

[2017-07-25 20:56] xiejw commented on #10399
I did not see r1.2 branch has this change. So, it should go to v1.3

r1.2
https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/learn/python/learn/utils/gc.py

[2017-07-25 21:15] aselle commented on #11724
Yeah that's what I mean. Unfortunately I can't really reproduce this on my ubuntu machine and I don't have an Arch machine. This is definitely bizarre.

[2017-07-25 21:17] aselle commented on #11704
Maybe try running ./configure again?

[2017-07-25 21:18] aselle commented on #11690
@Zardinality, does batch renormalization satisfy your needs?

[2017-07-25 21:19] guillaume-chevalier commented on #6322
In case anyone is interested, I have built a [code example on how to use embeddings in TensorBoard](https://github.com/Vooban/Autoencoder-TensorBoard-t-SNE).

Basically, it is based off @normanheckscher 's [code for TensorBoard](https://github.com/normanheckscher/mnist-tensorboard-embeddings) but with @pkmital 's [autoencoder](https://github.com/pkmital/tensorflow_tutorials/blob/master/python/07_a

[2017-07-25 21:39] ad26kt commented on #11744
Actually, i was requesting for new documentation for those bucketing function usage and examples

_Sent from my Samsung SM-G950N using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 22:01] rohan100jain commented on #10755
Quite sure that https://github.com/tensorflow/tensorflow/commit/3e6c638727c3274908a7c9c6bbf4474c014511fe would have fixed the original issue... If you update your tf version to the latest one, it works..

The // case is a little more complex since in some file systems paths have //'s in them... so I'd recommend just not having them in the path :)

[2017-07-25 22:06] hongzimao commented on #11756
Yes, there's a solution of using `np.finfo(np.float32).min` instead of `-np.inf` https://stackoverflow.com/questions/45310221/tensorflow-infinity-mask-breaks-gradient/45310834?noredirect=1#comment77584966_45310834.

Also, it seems doing the mask (a 0-1 mask instead of negative infinity mask) after exponential also works.

I'm not sure how robust these methods are though. Hope someone can clarify.

[2017-07-25 22:12] notimesea commented on #10755
@rohan100jain python 'open' works ok with double slash, for me it's expected to have same behaviour with default bash, python semantics of path.

[2017-07-25 22:50] wh0 opened #11765 "cond with gradients of map_fn hangs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 16.04.1
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: `('v1.2.0-5-g435cdfc', '1.2.1')`
- **Python version**: 2.7.12
- **Bazel version (if comp

[2017-07-25 22:56] agramesh1 commented on #11678
@gunan The issues is resolved in the commit. Thanks.

[2017-07-25 23:04] reedwm commented on #11765
@skye can you look into this issue?

[2017-07-25 23:34] mari-linhares opened #11766 "should tf.contrib.data.FixedLengthRecordDataset work with GS?"
Trying to open a GS file (gs://path/), with tf.contrib.data.FixedLengthRecordDataset, I get: tensorflow/core/framework/op_kernel.cc:1158] Out of range: EOF reached, 0 bytes were read out of 262144 bytes requested.

[2017-07-25 23:37] Mr-Grieves commented on #11334
Experiencing the same problem as above: lots of memory leakage due to the feeding operation.

While I'm sure I'm missing a lot of intricacies here, the source seems obvious to me. Each call to feed is allocating new memory for each tensor (float tensor in my case):
`addFeed(inputName, Tensor.**create**(dims, FloatBuffer.wrap(src))); `

Is there no way to overwrite the data in the existing FloatBuf

[2017-07-25 23:57] asimshankar commented on #11334
@faifai21 : No updates yet unfortunately. Since you have this in C++ land as well, perhaps you could come up with a small C++ snippet that demonstrates this - and it might make it easier to trace any problems by running the sample on a desktop/laptop instead of a mobile device.

@Mr-Grieves : I'm not following. During every call to `feed` a new `Tensor` is created, but it is released with a call t

[2017-07-26 00:10] aselle commented on #11766
@jhseu, are you the right person to answer this question?

[2017-07-26 00:13] tfboyd commented on #11766
it looks like Dataset might have an issue accessing resources on GCS (google cloud storage).

[2017-07-26 00:14] tfboyd commented on #11766
@mari-linhares  I know this is bit of work but I would test with head from master and make sure it is still broken.  There also likely needs to be a unit test assuming something is broken so we catch this in the future.

[2017-07-26 00:37] utkrist commented on #11753
I haven't looked at synchronizing with tf.train.MonitoredTrainingSession yet. However, I have some experience related to using tf.train.Supervisor instead. I was having the same problem as yours:
    * that one of the replicas (chief) was far ahead than others, while other seemed to be waiting for some time

I noticed the default value (30 second) for parameter 'recovery_wait_secs' that tf.train.M

[2017-07-26 01:14] sesoin commented on #11740
got it , thank you will try to make separate graphs .

[2017-07-26 01:24] WildDylan opened #11769 "Issue for tensorboard --logdir=save/"
### System information
`tensorboard --logdir=save/` this command occurred some issue.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X with AMD.
- **TensorFlow installed from (source or binary)**: pip3.6
- **TensorFlow version (use command below)**: The latest version
- **Python version**: 3.6
- **Memory**: 16G

[code]

python -c "import tensorflow as tf; print(tf.GIT_VERSIO

[2017-07-26 01:24] ZhongBaby commented on #11681
Ok, I think the neural network layers are ops, so they won't be automatically placed on different GPU. So the best practice is to use same type of GPUs, and get them synchronized parameters, asynchronously trained on different batches.

[2017-07-26 01:25] nolanliou commented on #11709
I just tested the local situation. I got your point, I'll have a try. Thank you very much for the detailed answers.

[2017-07-26 01:27] #11740 closed

[2017-07-26 01:36] JohnScolaro opened #11770 "tf.contrib.data.Dataset filter documentation broken"
With the old input pipeline functions, in tf.train.batch() you could specify the "allow_smaller_final_batch" parameter, which would allow or disallow a smaller final batch. With the new input pipeline functions in tf.contrib.data, the batch function allows a smaller final batch by default, and (to the best of my knowledge) there is no way to skip this last half-batch to ensure all batch sizes are

[2017-07-26 02:00] reedwm commented on #11769
You should file this under the TensorBoard repository here: https://github.com/tensorflow/tensorboard/issues

[2017-07-26 02:00] #11769 closed

[2017-07-26 02:20] learyg commented on #8315
Merged as 2661f6841d0ad9ec1381d177a1f9df02e73d001c

Hmm I'm not familiar with how those stack/unstacks will lower from TF to XLA. Could you open a new issue for that and we can check it out, since it's fairly distinct, and address it if there are missing pieces? Thanks much!

[2017-07-26 02:20] #8315 closed

[2017-07-26 02:24] HannH opened #11771 "Occur fatal error 1002 when compiling tensorflow 1.3 with vs2015 DEBUG in windows10"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
      no custom code(original code cloned from github )
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Windows 10
- **TensorFlow installed from (source or binary)**:
      source(cmake from tensorflow/contribe/cmake)
- **TensorFlow version (use command

[2017-07-26 02:24] YusukeSuzuki commented on #11736
thanks.
I use gcc 5.4.0

[code]

[2017-07-26 03:00] ziofil opened #11772 "Feature request: have optimizers handle complex tensors"
When a tensor that contains complex values reaches an optimizer, it is cast to real.
This means that the net will not learn features that depend on the imaginary part of the tensor.

While we wait for the possible feature, is there a workaround that you recommend? I'm thinking of separating the real and imaginary parts before feeding the optimizer (like, turning a complex tensor [C] into [R,I]), w

[2017-07-26 03:07] taehoonlee commented on #11676
Adding `REGISTER_GPU_KERNEL(bool);` can fix the problem.

[2017-07-26 03:23] Zardinality commented on #11690
Batch renormalization is not exactly what I want, but I found instance normalization in [the same file](https://github.com/farizrahman4u/keras-contrib/commit/f0bb5becbb0585384890aefc51ffb11a4d832b2b). It is a pity that contrib part of keras isn't contained in tensorflow distribution.

[2017-07-26 03:24] #11690 closed

[2017-07-26 03:54] hxsnow10 commented on #11723
@reedwm 6000 work fine, but 600000 not.

[2017-07-26 03:54] ashwhall commented on #9162
I'm on board with this. It would be nice if there were an overloaded version of tf.stop_grads like the example above.

[2017-07-26 03:54] rafaelsimonmaia commented on #11761
Not OP. But the Mac GPU Links are in the Installation section of the README.md

[2017-07-26 04:11] nurlonn commented on #11564
I ran the simple example. (tensorflow/examples/tutorials/mnist/mnist_softmax_xla.py)

This example appears to work correctly even with XLA.

To ensure that xla optimization is enabled, the --xla_generate_hlo_graph option is enabled.

<Without XLA>
`nurlonn@Ares:~/workspace/mnist$ ls
mnist_softmax_xla.py
nurlonn@Ares:~/workspace/mnist$ TF_XLA_FLAGS=--xla_generate_hlo_graph=.* python mnist_softmax_x

[2017-07-26 04:45] ebrevdo commented on #11758
I think there's a construction attribute that enables runtime checks. What happens if you turn it on?

[2017-07-26 04:54] learyg commented on #8315
Also, in reply to #9, looks like it works, but please file the bug to add the op-registered support for tf.cross that does the desugaring you've suggested: https://gist.github.com/learyg/4019bae1cfc5bacbcdb318fd882b4d5d

Looks like it fuses somewhat reasonably, but the CPU backend doesn't seem to currently support fusing the slice operation into its consumers, so it could be better. Thanks for fil

[2017-07-26 05:35] aditbhrgv commented on #1300
@icyblade What changes did you do in Tensorflow, cuDNN5.1 to run inference for FP16 ? Can you please provide your code if possible

[2017-07-26 06:02] WildDylan commented on #11769
thx

[2017-07-26 06:06] YMMS commented on #11413
@jart Thanks for your suggestion. I asked my question on [StackOverflow](https://stackoverflow.com/questions/45048035/how-to-realize-genuine-consecutive-scheme-batch-generation-with-tensorflow), and mailed to some experts. But get no replay after 14 days. Could you give me some suggestion about how to implement my requirement with TF. Thanks.

[2017-07-26 06:06] xisnu commented on #6683
Yes. @pickou I got the same experience. In python2 everything is just fine. But python3 is making a mess of saving and restoring. I guess something is wrong in reading checkpoint values.

[2017-07-26 06:10] vrv commented on #6683
@sherrym do you know who might know more about this?

[2017-07-26 06:17] vrv commented on #11770
My guess is that this is more cleanly accomplished using the filter() method on Dataset, where the predicate is one that checks that tf.shape(value)[batch_dim] == batch_size.  So something like

dataset = .. your dataset
dataset = dataset.filter(lambda t: tf.equal(tf.shape(t)[0], batch_size))

and then your iterator will only yield values where the Tensor matches the expected batch size.

[2017-07-26 06:22] ilchemla commented on #11742
Yes I'm using `-v` argument

`docker run -ti -v /Users/work/data/models/:/data/models/ -v /Users/work/tensorflow-example:/opt/tensorflow-example tensorflow/tensorflow python -u /opt/tensorflow-example/train.py --model /data/models/OSVOS_parent.ckpt-50000`

The issue doesn't reproduce 100% but for most call it happen.

[2017-07-26 06:24] pickou commented on #6683
@ebrevdo I use a model of multiplicative lstm instead of basiclstm. Do you still want the metagraph & checkpoint in python2?
@xisnu I guess the problem lies not only  in reading checkpoint values, but also in storing. I have checked the values stored in python3, everything is right. I shall check the values stored in python2, and see the difference between the two.

[2017-07-26 06:45] AFAgarap commented on #2175
I found this code by [Franck Dernoncourt](https://stackoverflow.com/users/395857/franck-dernoncourt) from his question in [Stack Overflow](https://stackoverflow.com/questions/42422042/forcing-tensorflow-gpu-to-use-the-cpu-from-the-command-line):

[code]

Then use that `ConfigProto` in `tf.Session`, that is:

[code]

I did the above code in a simple implementation:

[code]

Then I had the following

[2017-07-26 06:54] #11742 closed

[2017-07-26 07:03] scucheri commented on #11474
yeah , they have been installed correctly

[2017-07-26 07:13] scucheri opened #11774 "app crashed on android device of api level = 19 when load library "libtensorflow_inference.so""
### System information
- Os version 4.4.4
-sdk level 19

### logcat:
07-26 15:01:59.429 6521-6521/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                 Process: al.omid.tfdroid, PID: 6521
                                                 java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "rand" referenced by "libtensorflow_inference.so"...

[2017-07-26 07:29] nurlonn commented on #11564
FYI, I attach execution logs of mnist and inception with "--tf_xla_parallel_checking=true --parallel_check_failfast=false".

MNIST examples shows correct results as I mentioned before.

But inception shows that optimized subgraphs generate different output from original subgraphs.

Check attached log for more information.
[inception_parallel_check_logs.txt](https://github.com/tensorflow/tensorflow

[2017-07-26 08:10] JohnScolaro commented on #11770
Thanks a bunch @vrv. That does exactly what I wanted it too, and much neater than just catching an exception and not training on that specific batch.

It might be worth bringing this up though: The reason I wasn't able to find the filter function is because the file located [here](https://github.com/tensorflow/tensorflow/blob/r1.2/tensorflow/contrib/data/python/ops/dataset_ops.py) is missing a ```

[2017-07-26 08:43] mbchang commented on #11758
When I turn it on, I get the error:
[code]
It get the error only when I call `sess.run(t.sample([1])`, but not when I construct the distribution `t = tf.contrib.distributions.Categorical(probs=[0.0,0.0,0.0], validate_args=True)`. What is the design choice for this? Also, I am curious about the design choice behind `validate_args`, because it is unintuitive to mean that an invalid distribution woul

[2017-07-26 09:17] meteorcloudy opened #11776 "//py_test_dir/tensorflow/python:bitwise_ops_test failing on Windows"
http://ci.tensorflow.org/job/tensorflow-pr-win-bazel/32/console
[code]
Culprit: cl/163090921

[2017-07-26 09:37] parthg commented on #7172
To add my 2 cents:

If the final goal is to use a pre-trained model to predict or extract features for new images, there is no need to generate intermediate .pbtxt file and consecutively freeze it. If you already know the layer names, below is the example of how to use ResNet50 model to extract features (inspired a bit from @civilman628 's answer and documentation on [resnet_v1.py](https://github.

[2017-07-26 09:43] parthg commented on #6954
Actually, the .ckpt files are sufficient with the model code. Fore details, please see my answer here #7172

[2017-07-26 10:02] liuzqt opened #11777 "No OpKernel was registered to support Op 'Ceil' on Android"
I'm running tensorflow on android. And it reports a exception of one of my op 'Ceil'. The exception info is as below:
`Caused by: java.lang.IllegalArgumentException: No OpKernel was registered to support Op 'Ceil' with these attrs.
Registered devices: [CPU], Registered kernels:  <no registered kernels>
[[Node: model/frame/Ceil = Ceil[T=DT_DOUBLE](model/frame/truediv)]]
   at org.tensorflow.Session

[2017-07-26 10:40] argman opened #11778 "Bug in ctc_ops.py 's documentation"
see in
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/ctc_ops.py#L201
it says the inputs is logits, but from the op test https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/kernel_tests/ctc_decoder_ops_test.py#L111
 we can see the input should be log probability .
Although seems this does not affect the decoder's output, but it affects the decoder's r

[2017-07-26 11:05] gunan commented on #11776
@ebrevdo what do you recommend about the failure?

[2017-07-26 11:09] #11678 closed

[2017-07-26 11:39] tengshaofeng opened #11780 "Check failed: sss_[idx]->Get(key, &value) Failed to seek to the record for tensor"
hi,
 I am so appreciated with your great job.
here is my question:
when i finetune the resnet_v1_50 with pretrained model.   I have exclude the logists layer, when comes to
the code 'saver.restore(sess, checkpoint_path)', it gives me the error like this:
![image](https://user-images.githubusercontent.com/9246739/28619251-144e03be-723a-11e7-8612-26c2cde56b01.png)
can you help me?

[2017-07-26 11:40] jubjamie commented on #11774
Are you using only the library or are you trying to use the demo app? IIRC the demo app uses Camera2 so needs >21 but the actual library only requires >14.

[Perhaps this comment chain](https://github.com/tensorflow/tensorflow/issues/6763#issuecomment-272529963) from @andrewharp on #6763 will help you.

[2017-07-26 12:06] scucheri commented on #11774
I only used the library. I guess it's because I used an old version library file.  It runs ok now when I use library of version r1.2. Thank you very much ~

BTW, I want to ask another question: I see some android example using tensorflow. For example, mnist and de demo app of tensorflow classifier,  They all need to write some c code and generate a new .so file containing both c code written by de

[2017-07-26 12:09] lijhong opened #11781 "run errors"
Hi,when I run python for tensorflow ,my python file show errors ,and can't run success。errors likes:

017-07-26 19:57:14.274316: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on
 your machine and could speed up CPU computations.
2017-07-26 19:57:14.372830: W tensorflow/core/platform/cpu_feature_guard.c

[2017-07-26 12:53] sbrodehl commented on #1300
See commit bcb8f33b788bd02f1b6bdf813129d5668c6c4e5e.

[2017-07-26 12:55] rktamplayo opened #11782 "CUDA_ERROR_LAUNCH_FAILED when using conv2d/max_pool on Tensorflow GPU (Windows 10)"
When using conv2d and/or max_pool, the error below shows and stops the code. I used the code available here: [https://github.com/dennybritz/cnn-text-classification-tf](https://github.com/dennybritz/cnn-text-classification-tf)

[code]

**What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?**

I have searched through all websites including GitHub

[2017-07-26 12:57] ebrevdo commented on #11776
Disable the test on Windows.

[2017-07-26 12:58] ebrevdo commented on #11776
I'll try to really fix when I return.

[2017-07-26 12:59] ebrevdo commented on #11758
validate_args is very expensive, especially when on a GPU.  So it's
disabled by default.  Turn it on when developing models.

On Jul 26, 2017 1:44 AM, "mbchang" <notifications@github.com> wrote:

[2017-07-26 13:00] ebrevdo commented on #11758
Input to the constructor if usually an unknown Tensor which is why we don't
try to check until runtime. We could add static checks here though,
probably.

On Jul 26, 2017 5:59 AM, "Eugene Brevdo" <ebrevdo@google.com> wrote:

[2017-07-26 13:12] kongsgaard commented on #7482
@evolu8 you should be able concatenate with bash or windows cmd
https://ss64.com/bash/cat.html
https://ss64.com/nt/type.html

[2017-07-26 13:12] jubjamie commented on #11774
Ah that was going to be my next question because your issue appeared to be fixed in a later release! I've not got around to writing my own android libraries. That might not necessarily be required to create your own program. A lot of it can be done in android/java itself and you can use the inference library for when it's needed. I don't think it contains every op however so there might be some ex

[2017-07-26 13:13] clemens-tolboom commented on #11287
As #11123 is closed and I see the fix also on https://www.tensorflow.org/get_started/get_started I guess this issue can be closed.

[2017-07-26 13:26] shamoya commented on #11725
Thanks @poxvoculi
Sadly the smallest case which repro the issue is 3 nodes (2 workers 1 ps) with InveptionV3 and ImageNet, with the tf_cnn_benchmark.py (haven't checked others).
I had ~15 hypotheses which turn out to be false.
Added a lot of prints, but still couldn't understand which tensor is the rebel.
I feel the trace_log mechanism (tf.RunOptions(trace_level=tf.RunOptions.FULL_TRACE)) can help

[2017-07-26 13:45] reedkotler opened #11783 "tf.estimate quickstart"
I am in the process of making jupyter notebooks from the tensorflow documentation.
( https://github.com/reedkotler/tensorflow-notebooks )

The tensorflow.org page on tf.esimator quickstart (https://www.tensorflow.org/get_started/tflearn)  had numerous problems.

I've straightened out the coding issues and the fixes are in my notebook https://github.com/reedkotler/tensorflow-notebooks/blob/master/g

[2017-07-26 13:46] jubjamie opened #11784 "[docs] Windows Instructions need updating."
Any way to contribute to the installation instructions for Windows? I deal with a lot of people having installation instructions on Stack Overflow etc. and there are a couple of things on the Install pages that could do with being corrected, clarified or changed. Happy to do these myself if you'd like. I'll list them below:

- _"TensorFlow only supports version 3.5.x of Python on Windows."_ is no

[2017-07-26 13:49] reedkotler opened #11785 "proposed new github for tensorflow notebooks"
I would like to propose that we make a separate repository in github for jupyter notebooks.

I think it should be separate from the main tensorflow github so that people can check it out without having to check out all of tensorflow.

I've created such a github and will work on it by myself for now but I think eventually there should be something more official or at least maybe what I have can be

[2017-07-26 14:13] xzy256 commented on #2215
@yhlleo  Have fixed the bug? How to run this case, as if it has not a main function. By the way, do you have the complete code?

[2017-07-26 14:14] cheind opened #11786 "contrib.data.Dataset - doc issue with Dataset.map / tf.py_func in 1.3.0rc0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: 1.3.0rc0
- **Python version**: 3.6
- **CUDA/cuDNN version**: 8/6
- **GPU model and memory**: GTX 1080
- **Exact command to reproduce**:

The follo

[2017-07-26 14:19] suiyuan2009 commented on #11725
after adding  a lock to `global step`, I didn't meet stuck problem.
but I got error when running vgg benchmark code.
[code]

[2017-07-26 14:25] PKHG commented on #1421
I have an other strange behavior with Tensorbord with the mnist example. (windows 10 Anaconda used)
(worked from out a jupyternotebook) and delivered files at
d:/tmp/tensorflow/mnist/logs/mnist_with_summaries
containing two subdirectorie test and train
then using out of a BAT file:
D:/Anaconda3/Scripts/tensorboard.exe --logdir="d:/tmp/tensorflow/mnist/logs/mnist_with_summaries" --port=6007
THIS wo

[2017-07-26 14:31] tiru1930 commented on #7031
i am also having the same issue,
TypeError: Expected int32, got list containing Tensors of type '_Message' instead.
outputs_forward,- shape,(1, 2, 100)
outputs_backward-shape (1, 2, 100)
output = tf.concat([outputs_forward, outputs_backward],2,name='output_sequence')

tf version -tensorflow-gpu==0.12.0

[2017-07-26 14:35] tiru1930 commented on #7031
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import time
import logging

import numpy as np
# from six.moves import xrange
import tensorflow as tf
from tensorflow.python import debug as tf_debug

logging.basicConfig(level=logging.INFO)

class Encoder(object):

    def __init__(self,hidden_size,initializer=lambda:None):
        self.h

[2017-07-26 14:52] mbchang opened #11787 "Unexpected behavior in tf.scatter_update"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS X 10.12.3
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.2.0
- **Python version**: 2.7.10
- **Bazel version (if compiling from source)**:
- *

[2017-07-26 14:54] fxsuper opened #11788 "Add support for XLA cross products"
XLA currently supports basic trigonometric operations but does not natively support cross products. Cross products are fundamental to many geometric operations, and TF has a `tf.cross` function. Note relevant discussion in #8315 ([comment](https://github.com/tensorflow/tensorflow/issues/8315#issuecomment-317947166)), and preliminary work [here](https://gist.github.com/learyg/4019bae1cfc5bacbcdb318

[2017-07-26 14:55] fxsuper commented on #8315
Thanks for investigating this! I just opened a new issue.

[2017-07-26 15:11] byronyi commented on #11725
@suiyuan2009 Your error might be caused by another process (PS or worker) in your job. We have met the same problem and it turns out when one process terminated the connection, its peers will print out such odd error log.

[2017-07-26 15:11] July-Morning commented on #10669
More questions than answers for now:

1) I tried memmapping of the frozen graph with convert_graphdef_memmapped_format, but when trying to load mapped frozen graph I get parse/reading errors both in C++ (ReadBinaryProto) and Python (import_graph_def). Should I do memmapping before or after freezing the graph? Haven't tried the second option cause I have initial graph.pb in text, not binary format.

[2017-07-26 15:13] byronyi commented on #11725
@shamoya For a simpler model, you could try `--model=trivial` (the default one) and set your number of batches to a smaller value.

Sorry that I am busying working on migrating my own patch and have little time to reproduce this particular bug right now.

[2017-07-26 15:24] mbchang commented on #11758
I see. Checks would be helpful, otherwise the code might silently ignore invalid distributions if the flag is not set. Thanks for the clarifications!

[2017-07-26 15:44] alextp commented on #10669
Re (2) you can use a custom signature for your model instead of the
standard classification / regression ones. You can make a signaturedef by
filling out the proto in
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/meta_graph.proto#L293
and pass it in the signature_def_map of your savedmodel as explained in
https://tensorflow.github.io/serving/serving_basic.html

On W

[2017-07-26 15:45] junshi15 commented on #11725
@shamoya Can you try what @suiyuan2009 and @byronyi suggested.

1) try the simple model to see if it hangs `--model=trivial`.

2) add a lock around global_step. something like
[code]

[2017-07-26 15:46] July-Morning commented on #10669
Great, I will try! Thank you!

[2017-07-26 15:47] Namlich commented on #5343
sudo ldconfig /usr/local/cuda/lib64 works for me as well, but i have to do it EVERYTIME i've restarted my computer.. Any tips how to avoid this?

[2017-07-26 16:00] yaroslavvb commented on #11724
@dburkhardt are you using MKL? There is some weird interaction between tensorflow and scipy when MKL is used (I reproduced one here https://github.com/tensorflow/tensorflow/issues/10005)

[2017-07-26 16:24] yycho0108 commented on #10730
Can anyone look into this further? I'm also experiencing this issue, and it seems to me that this is either a serious issue with tensorflow's kernel execution/flow management (unlikely) or a bug of the profiler being unable to log certain operations (more probable). Either way, it is difficult to optimize a tensorflow-written pipeline when information provided from the profiling methods is opaque.

[2017-07-26 16:27] vrv commented on #11770
Definitely, I'll retitle the bug accordingly!  I'll also point you towards the following, which is also a helpful reference:  https://github.com/tensorflow/tensorflow/blob/master/tensorflow/docs_src/programmers_guide/datasets.md

[2017-07-26 16:48] poxvoculi commented on #11725
@shamoya
The tracing data is available in a pre-parsed (protobuf) format.  See the run_metadata option to Session.run, which returns tracing data in StepStats.

[2017-07-26 16:56] reedkotler commented on #11783
The Iris test cases for training/test worked fine, just the fake "new samples" was not predicting as the web page expected. But my three new samples were all classified correctly.

[2017-07-26 17:10] yzhwang commented on #10730
Including @prb12 since it is related to timeline. Paul could you provide some advice here? Thank you!

[2017-07-26 17:37] aselle commented on #11786
@mrry, could you update the documentation to reflect this change?

[2017-07-26 17:38] aselle commented on #11786
Thanks @cheind for reporting this.

[2017-07-26 17:38] reedwm commented on #11787
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Anyway, to answer the question, the issue is that in the line
[code]
you set `mask` to the result of an update op. After that line, whenever you evaluate `mask`, you do another `scatt

[2017-07-26 17:38] #11787 closed

[2017-07-26 17:38] aselle commented on #11784
@wolffg, could you update the documentation?

[2017-07-26 17:39] suiyuan2009 commented on #11725
@junshi15 @shamoya
note that `global_step` is also a part of computing graph, `assign_add` op has a `use_locking` arg.

[2017-07-26 17:40] aselle commented on #11782
The link you provided does not work for me. Could you provide a minimal reproducible test case? Are other models working? Could it be that your driver / cuda toolkit need updating?

[2017-07-26 17:42] reedwm commented on #11781
This question is better asked on  [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a  bug or feature request. There is also a larger community that reads questions there. Thanks!

Also, when posting on StackOverflow, please post the commands you ran that caused the issue.

[2017-07-26 17:42] #11781 closed

[2017-07-26 17:42] aselle commented on #11564
@tatatodd, are you aware if anyone has successfully used the models/inception training on imagenet with xla? I don't really know how to start debugging this.

[2017-07-26 17:43] aselle commented on #11674
@fchollet, @martinwicke, do you have any thoughts on how this should be handled?

[2017-07-26 17:47] reedwm commented on #11771
Can you post the entire error output that occurs?

[2017-07-26 17:57] aselle commented on #11736
I have no experience with pyenv. Does it work if you just use virtualenv directly?

[2017-07-26 18:00] lakshayg commented on #11599
Can I work on a PR for this issue?

[2017-07-26 18:02] alextp commented on #11240
Closing for now, please reopen if the workaround is not sufficient.

[2017-07-26 18:02] #11240 closed

[2017-07-26 18:07] aselle commented on #11706
The checkpoint is not sufficient to get the input placeholders. It is only the saved variables (which would be the weights and biases). You need to load a model from the graphdef and then load the checkpointed variables into that loaded graph.

See...
https://github.com/tensorflow/models/tree/master/slim

[2017-07-26 18:29] aselle commented on #11778
@ebrevdo, please take a look,as it seems you have touched this file quite a bit.

[2017-07-26 18:57] dburkhardt commented on #11724
I am indeed using Intel MKL, @yaroslavvb. Actually the timing of discovering this bug coincided with compiling numpy with MKL.

[2017-07-26 19:15] reedwm commented on #11723
With 600000, `logits_data` is 12 GB of data. Using this in a feed dict will then take even more memory. You are probably getting the segmentation fault due to a lack of memory.

[2017-07-26 19:15] #11723 closed

[2017-07-26 19:21] reedwm commented on #11761
Ah, thank you for clarifying.

@av8ramit, can you check why the Mac GPU links are broken?

[2017-07-26 19:24] pinkeshbadjatiya commented on #1196
Even I experienced similar slow down when I first used tensorflow, but tensorflow gives huge speed boost with large batch sizes as it is able to utilize memory of multiple GPUs much effectively.

[2017-07-26 19:49] drpngx commented on #11599
Sure.

[2017-07-26 19:59] aselle commented on #11780
does it work if you don't exclude logits before loading the checkpoint? if so, load the checkpoint but ignore that logits layer. However, this is more of a stackoverflow question.

[2017-07-26 19:59] #11780 closed

[2017-07-26 20:16] ngc92 commented on #8337
I am having the same problem, getting NaNs when using dynamic_rnn, and the td_debugger exiting with
`ValueError: Causality violated in timing relations of debug dumps: gradients/rnn/while/rnn/dnc_cell/head_0/strided_slice_7_grad/StridedSliceGrad/StackPush_1 (1501099455073575): these input(s) are not satisfied: [('gradients/rnn/while/rnn/dnc_cell/head_0/strided_slice_7_grad/StridedSliceGrad/RefEnte

[2017-07-26 20:32] learyg commented on #11788
So it seems like there's not a mechanism for desugaring Python tf.cross directly to the Python you provided, but we *can* go implement it in the tf2xla bridge along these lines. I'll take a shot at that.

[2017-07-26 20:44] av8ramit commented on #11761
Unfortunately, we stopped Mac GPU support after the 1.1 release. The build itself is broken as well and we have disabled it. We are accepting patches for Mac GPU, but no longer offer any official support. Sorry about that.

As for the links in the README, thanks for pointing that out! I've created a PR: https://github.com/tensorflow/tensorflow/pull/11790

[2017-07-26 20:44] #11761 closed

[2017-07-26 21:11] agataf opened #11791 "Feature request: maxpooling_with_argmax for 3D maxpooling"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug or a feature request.
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com/tensorflow/tensorboard/issues).

**Here's why we have that policy**: TensorFlow developers

[2017-07-26 21:26] lllyasviel commented on #11690
The implementation in https://github.com/farizrahman4u/keras-contrib is not exactly right.
According to the paper, the IN layer should perform differently in training/testing phase.
There needs a running_mean and a running_var.
The right Torch implementation for reference is here:
https://github.com/junyanz/CycleGAN/blob/master/util/InstanceNormalization.lua
**And it is the reason why Keras has no

[2017-07-26 21:32] shamoya commented on #11725
@byronyi , you're the best ! it's reproduced on trivial case (with ImageNet data).
Now it will be much easier to debug, going full VLOG now - let's hope I'll have update soon.

@suiyuan2009, it's not related to the global_step.
I changed to have only the chief increment it and it doesn't have any affect.

[2017-07-26 21:51] dandelionmane opened #11792 "Mac build problem with local_config_python"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No, this repros on master, r1.3, and r1.2
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
MacOS Sierra, 10.12.5
- **TensorFlow installed from (source or binary)**:
Source, repros on master, r1.3, r1.2
- **TensorFlow version (use command below)**:
See above.
-

[2017-07-26 22:33] aselle commented on #11772
That sounds like it would work fine to me.

[2017-07-26 22:42] andrewharp commented on #11774
@scucheri: @jubjamie is correct, you should be able to accomplish almost any inference task (i.e. non-training) using the Java API and TensorFlowInferenceInterface.java similarily to the examples in the Android demo. You can use the prebuilt Android TF binaries in almost all cases unless you need to add new custom ops.

For further support on non-bug/feature requests we suggest referring your ques

[2017-07-26 22:42] #11774 closed

[2017-07-26 22:47] snnn commented on #11771
I believe debug build is not supported, especially for gpu build. You may try to replace /DEBUG:Full with /DEBUG:Fastlink in your compiler flags. And you may also need to split tf_core_kernerls into multiple static libraries. And you need debug build of python,cuda,... If I were you, I'll give up

[2017-07-26 22:49] dr4b commented on #11287
Yeah, it can, thanks.

[2017-07-26 22:49] #11287 closed

[2017-07-26 22:55] andrewharp commented on #11774
Note that https://github.com/tensorflow/tensorflow/pull/10771, which adds camera 1 support, should enable the demo to run on devices < API 21.

[2017-07-26 22:57] wolffg commented on #11784
Yes, we generate the website from docs_src.

Assigning to @gunan for install docs update.

[2017-07-26 23:14] andrewharp commented on #11474
Based on the other issue it seems like you were able to get past this, is that correct?

[2017-07-27 00:57] learyg commented on #11788
Submitting an implementation and tests downstream, should be available in the next merge.

[2017-07-27 00:59] jaw-sh commented on #6698
Same problem. Been fighting uphill to get this working all day.

[code]

[2017-07-27 01:01] biolee commented on #4815
is there any update on this?

[2017-07-27 01:02] reedwm commented on #11777
@petewarden can you take a look? I never touched Android or Java side of TensorFlow, but it doesn't seem like there's anything special about `Ceil` that would cause it not to work

[2017-07-27 01:10] rktamplayo commented on #11782
Hey. I forgot to include the links themselves. They should be fixed now.

Other models (such as LSTMs, etc.) are working fine. The [original theano version](https://github.com/yoonkim/CNN_sentence) of the code works well too. I have my CUDA and cuDNN updated to the latest version (as specified)

A reproducible test case would be:

[code]

However, I cannot seem to reproduce this issue on other mac

[2017-07-27 01:11] andrewharp commented on #11777
This is most likely due to double not being supported by ops by default on mobile TF. You can try converting your double ops to float, or building with __ANDROID_TYPES_FULL__ defined, which will enable doubles in [types.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/types.cc#L220))

[2017-07-27 01:17] reedwm commented on #11791
No one is currently working on this, but contributions are welcome!

@zheng-xq any thoughts on whether someone should work on this?

[2017-07-27 01:29] aselle commented on #11782
If you try it in other machines, do those other machines have the same gpu and driver versions. You might swap the working card from another machine to this one. Otherwise, I don't really have any other ideas. Perhaps @mrry, knows something I don't.

[2017-07-27 01:35] reedwm commented on #11783
I'm not quite sure what the problem is. The tutorials aren't designed to be converted to jupyter notebooks, so there will be issues to work out when converting a tutorial to one.

[2017-07-27 01:35] HannH commented on #11771
@reedwm the error output have just 2 sentences, which I have written above. I would post a part of build log for you
1>  count_extremely_random_stats_op.cc
1>  finished_nodes_op.cc
1>  grow_tree_op.cc
1>  reinterpret_string_to_float_op.cc
1>  sample_inputs_op.cc
1>  scatter_add_ndim_op.cc
1>  tree_predictions_op.cc
1>  tree_utils.cc
1>  update_fertile_slots_op.cc
1>  hard_routing_function_op.cc
1>

[2017-07-27 01:45] aselle commented on #11785
@wolffg, I would be concerned about having divergent copies of the same tutorials. Has there been any progress on what we discussed a few months ago about being able to download a jupyter notebook from any tutorial page (i.e. a dynamically concerted notebook form of any doc page). That would be nice, and it wouldn't have a possibility of out of sync. It would also allow us to unit test our tutoria

[2017-07-27 01:56] aselle commented on #11756
softmax is written to avoid numerical inaccuracy for ill-conditioned finite values numbers. It does this by subtracting off the max abs value and doing the computation around that. That means that injecting infinities to its arguments will give you nans as you are seeing. This numerically robust computation is key for many models. I think if you can get away with the 0 to 1 solution that is pretty

[2017-07-27 01:58] HannH commented on #11771
@snnn I agree with you, there are some problem when I compiled tf with Debug mode now. So I post the error for later development of tensorflow.
It seems like there have some problem in MinSizeRel and RelWithDebInfo mode, because i cannot compile tf in these modes either.

[2017-07-27 02:05] aselle commented on #11626
Some gradients certainly are not available, but you are generating the graph first, and the weird thing is it is remarking about a 2nd derivate. Which suggests you model is double differentiating somewhere or there is a bug in the C++ layer.

[2017-07-27 02:17] reedkotler commented on #11783
There are some samples that were not in the training or test set. In the original comments, the two samples are supposed to be iris's of type 1,2 but it predicts to two of type 1. When I make up sample data by looking at the real data, it predicts correctly. But all the self checking from the test and training set show the same predicted accuracy as mentioned in the comments and it's near 100%.

[2017-07-27 02:35] rktamplayo commented on #11782
I am working on a laptop (MSI GS73VR), so swapping the GPU card may be impossible..

The other machines I have tested have the same driver versions, but with different (older) GPUs.

[2017-07-27 02:43] suiyuan2009 commented on #11725
@byronyi, do your GDR patch have met same problem like stuck or failure?

[2017-07-27 02:46] snnn commented on #11771
Did you use the 32 bits cl.exe or 64 bits cl.exe?

[code]
Run this command before open tensorflow.sln

Or, add "-T host=x64" to cmake command line args.

[2017-07-27 03:05] rktamplayo commented on #11782
Oh wait, I just saw the Tensorflow 1.3.0 release with cuDNN 6 support. I upgraded TF and cuDNN to the latest versions and solved the issue.

Thanks!

[2017-07-27 03:13] PiyushDatta opened #11798 "bitwise_ops and gen_bitwise_ops cannot be imported"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 7
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: 1.1.0
- **Python version**:  3.5.3
- **CUDA/cuDNN version**: 8.0.60
- **GPU model and memory**

[2017-07-27 03:18] scucheri commented on #11774
Thank you ~

I had post this question here : [](https://stackoverflow.com/questions/45340713/is-it-necessary-to-write-c-code-and-generate-a-custom-so-file-when-use-tensorfl/45340732#45340732)

[2017-07-27 03:34] dengoswei commented on #7927
1.2.1
same problem.. TypeError: int() argument must be a string or a number, not 'Tensor'

[2017-07-27 04:03] yongtang commented on #11750
Added PR #11799.

[2017-07-27 04:30] cheind commented on #11786
You're welcome. While this is certainly a doc issue at this point, I want to raise the concern that assigning `tuple` and `list`  totally different semantics in Python is very uncommon (even in Tensorflow) and could lead to many suprising behaviours on user side.

[2017-07-27 04:38] ebrevdo commented on #11778
The op does a normalization in log space, so logits are an acceptable input.  In the unit test you could shift the log probs by any constant value and the output and gradients would still be correct.

[2017-07-27 04:38] #11778 closed

[2017-07-27 04:47] ebrevdo commented on #6683
Yes please. it's ok if the lstm is not the one we provided, so long as we
can see the difference between py2 and py3.  Can you send us a link to the
multiplicative lstm code?

On Jul 25, 2017 8:24 PM, "Junchao Yan" <notifications@github.com> wrote:

[2017-07-27 05:20] lipixun commented on #7731
+1 Need this feature.

[2017-07-27 05:52] byronyi commented on #11725
No I have not met such kind of problems, at least not during our internal testing. But my patch uses vastly different design compared to current verbs implementation so there is little I can tell about this particular issue.

[2017-07-27 05:55] dahvid opened #11802 "3D Convolutions not being forwarded to MKL"
This is a placeholder reminder for the Tensorflow/Intel team.  I'm in touch with Toby Boyd and Intel on this issue, I just want it to be in the databasase.

When compiling for MKL (--config=mkl) 3D convolutions remain in native Eigan. This strongly impacts a 3D medical application that needs to run inferencing on an edge device.

------------------------

### System information
- **Have I written