[2018-06-10 21:58] tensorflowbutler commented on #19546
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-10 21:58] tensorflowbutler commented on #19548
Nagging Assignee @bignamehyp: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-10 21:58] tensorflowbutler commented on #19567
Nagging Assignee @robieta: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-10 22:18] facaiy commented on #19896
How about using conv3d whose kernel is like [1,…… ]?

[2018-06-10 22:30] rohith-k-sturfee commented on #19868
Hi @freedomtan,
I added build file to tensorflow/contrib/lite/examples/minimal, then build with
```bazel build //tensorflow/contrib/lite/examples/minimal:minimal``` command but bazel also builds core, stream_excecutors ( these are not the part of tensorflow lite )

when I try to compile its shows same errors. I think these errors are because of apple's clang which is slightly different from gcc.

[2018-06-10 22:48] Hoeze commented on #13351
Are there any updates on this?
I just tried depending variables, e.g.:

[code]
which did not work.
After initialization, `sess.run(var)` gave me values, but `sess.run(var.initialized_value())` raised an error because of missing `some_placeholder`.

[2018-06-11 01:11] saudet commented on #17390
@asimshankar Maybe what we need is a separate repo like https://github.com/tensorflow/swift where contributors wouldn't be limited to contrived hybrid C++/Java solutions? Such a project would essentially become a consumer of the core of TensorFlow and evolve from there...

[2018-06-11 01:14] Lancerchiang commented on #19890
I resolved it by replacing `tf.nn.sigmoid_cross_entropy_with_logits` by `tf.losses.sigmoid_cross_entropy`, though I don't know the reason...

[2018-06-11 01:14] #19890 closed

[2018-06-11 01:31] tensorflowbutler commented on #19888
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 01:31] tensorflowbutler commented on #19889
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 01:31] tensorflowbutler commented on #19890
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 01:31] tensorflowbutler commented on #19893
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 01:31] tensorflowbutler commented on #19897
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 01:34] arnaghizadeh commented on #17390
@saudet that's similar to what I have mentioned earlier and it seems there is no plan for such integration yet. But even if they are willing to do such project I don't want this to hurt what is being done right now. It is already 2018 and we still do not have a proper implementation of TF for Java/Kotlin. This waiting is at the excruciating level (even c# has a TF implementation now). I personally

[2018-06-11 01:45] wenhui7909 commented on #19798
Yes, No issue for me, thanks a lot.

2018-06-09 0:41 GMT+08:00 Asim Shankar <notifications@github.com>:

[2018-06-11 02:02] fchollet commented on #18634
This has been fixed some time ago.

[2018-06-11 02:02] #18634 closed

[2018-06-11 02:11] EdwardVincentMa commented on #19847
@gunan  I build **Debug** version not Release version

[2018-06-11 02:19] EdwardVincentMa commented on #19847
@gunan  I build CPU-Debug OK，but **GPU-Debug** had only this Error.

[2018-06-11 02:28] mm1860 commented on #19893
Thank you，
i want to cmake c++ api at win10 ,setup like this:
1.install git,CMake ,SWIG,vs2015update3 and set system environment variable
2.-Dtensorflow_ENABLE_GRPC_SUPPORT OFF,-Dtensorflow_ENABLE_SSL_SUPPORT OFF,-Dtensorflow_ENABLE_GPU OFF,tensorflow_BUILD_SHARED_LIB ON
3.D:\temp> cd tensorflow\tensorflow\contrib\cmake
D:\temp\tensorflow\tensorflow\contrib\cmake> mkdir build
D:\temp\tensorflow\te

[2018-06-11 02:46] ghostplant commented on #19073
Thanks, all. I will close this PR. I think TF using CPU to do image preprocessing is limited by slow python runtime, and using an independent C-based preprocessor instead of TF runtime preprocessing solves my problem, not only faster but also less CPU occupation.

[2018-06-11 02:46] #19073 closed

[2018-06-11 02:53] kanul commented on #19735
@suharshs

"Exact command to reproduce" was updated. Could you check out that?

[2018-06-11 03:00] xxxx001 commented on #19888
System information
TensorFlow installed from (source or binary): source
TensorFlow version (use command below):  current master

[2018-06-11 03:12] marshalhayes commented on #19884
Hmm, I'm not sure I understand this. I'll let someone else pick up this Issue. Perhaps the assigned @tatianashp can help you.

[2018-06-11 03:17] EdwardVincentMa opened #19898 "Win10 c++ Debug, LNK1189：library limit of 65535 objects exceeded, pywrap_tensorflow_internal"
**System information:**
· Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No

· OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10-x64

· TensorFlow installed from (source or binary): git clone https://github.com/tensorflow/tensorflow.git

· TensorFlow version (use command below): r1.4, r1.5, r1.6 r1.7 and r1.8, command :
v1.8's command :

[2018-06-11 03:17] #19847 closed

[2018-06-11 03:30] suharshs commented on #19735
Hi @kanul ,

It seems that the error is that TOCO doesn't yet support quantized SpaceToBatchND. When i look at the kernel implementations, it seems that the kernel does support quantization but the transformation missing that. I will work on a fix soon.

Thanks!

[2018-06-11 03:42] cartmanguo commented on #17628
I think it's a version issue.I use the the libs generated by 'build_all_ios.sh',setting the header search path and lib search path,and the error disappeared when I load the retrained pb file

[2018-06-11 03:43] Daniel451 commented on #19439
Idk, maybe the issue can be closed. All attempts to build TensorFlow with GPU support crashed. However, I suspect it was something about `Bazel` and `GCC`.

GCC 4 and 5 still miss `libmpfr.so` and fail, as well as GCC 8, since it is not supported as of now.

...but after updating `Bazel` and `GCC-7` to the most recent version I can compile  works again with TensorFlow 1.8.

[2018-06-11 03:54] droidicus commented on #18102
@rjpower I understand the need for all tensors in the XLA compiled graph to have static shapes, and in this case all tensors do have static shapes.

For instance, printing the dataset before calling the make_one_shot_iterator:
``` <_RestructuredDataset shapes: ((1024, 10, 10), (1024, 10)), types: (tf.float32, tf.float32)> ```

The 'features' tensor prior to the LSTM layer:
``` Tensor("InfeedQueue/

[2018-06-11 03:55] xielm12 commented on #19876
System information:
· Have I written custom code: No
· OS Platform and Distribution: Win7-x64
· TensorFlow installed from: pip install tensorflow
· TensorFlow version: 1.5.0
· Bazel version: No
· CUDA/cuDNN version: No
· GPU model and memory: No
. Exact command to reproduce: python test.py

[2018-06-11 04:02] public1024 commented on #2667
hi,bro @mrry ,before I tried to frozen the graph and run it in C++. It works, but  it takes much more time than runing the graph in python(not the frozen one but the one restored from check point). It sucks me badly. So I wounder whether the way you posted can run faster?

[2018-06-11 04:51] sandipmgiri commented on #18645
This test is passing in TF master, hence closing this issue.

[2018-06-11 04:51] #18645 closed

[2018-06-11 04:51] songmeixu commented on #6341
the __init__.py file is missing, save my time thanks! @malithakabir

[2018-06-11 04:55] duane-ibm commented on #19770
@jart could you please help with this.

[2018-06-11 05:06] kanul commented on #19735
@suharshs

And, can you support not SpaceToBatchND but also ResizeBilinear?

[2018-06-11 05:19] bibhu107 commented on #19526
The issue is solved closing it! Thank you @achalshah20

[2018-06-11 05:19] #19526 closed

[2018-06-11 05:32] #14278 closed

[2018-06-11 05:34] madaoLic commented on #18769
I think the root cause may be:
in https://github.com/tensorflow/tensorflow/blob/r1.7/tensorflow/core/platform/hadoop/hadoop_file_system.cc
line 213:

`      tSize r = hdfs_->hdfsPread(fs_, file_, static_cast<tOffset>(offset), dst,
                                 static_cast<tSize>(n));
`

the last param static_cast<tSize>(n) means the number of bytes required. ie., the tensor's size.
in https://g

[2018-06-11 06:14] lizhaoda commented on #17468
same error as @calicratis19

[2018-06-11 06:14] suharshs commented on #19735
ResizeBilinear needs a quantized kernel implementation, I believe this is in the works and should be ready within a couple of weeks.

[2018-06-11 06:16] daoud commented on #19194
yes sir

On Mon, Jun 11, 2018 at 3:32 AM, Alfred Sorten Wolf <
notifications@github.com> wrote:

--
With Best Regards
Dr.Mohd Daoud
Data Scientist

[2018-06-11 06:16] #19896 closed

[2018-06-11 06:31] armanschwarz opened #19899 "Documentation feature request: Explain Nesterov Accelerated Gradient implementation"
I haven't filled out the provided form because this is a feature request for the documentation.

The documentation for [`tf.train.MomentumOptimizer`](https://www.tensorflow.org/api_docs/python/tf/train/MomentumOptimizer) offers a `use_nesterov` parameter on which the documentation says the following:

The problem is that the linked paper outlines the normal NAG algorithm, which requires computatio

[2018-06-11 06:54] estathop commented on #6164
I kind of experienced the same error, I used the feature extractor from youtube-8M from google and tried to execute inference.py from google's starter code, and the following message appeared
python inference.py --output_file='testpredictions5.csv' --input_data_pattern='/home/estathop/Documents/testmodelfiles/testvideos.csv'  --train_dir='/home/estathop/Documents/features/youtube-8m/MyMoeModel2' -

[2018-06-11 07:28] cklsoft opened #19900 ""Address already in use" occurs in Distributed Estimator.train_and_evaluator when loop training"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.18.0
- **Python version**:  2.7.13
- **Bazel version (if compiling from source)**:
- **GCC/Compiler versi

[2018-06-11 07:46] oscarriddle opened #19901 "[TF-serving-r1.7] How to compile Tensorflow-serving r1.7 with TensorRT"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  CentOS 7
- **TensorFlow installed from (source or binary)**: tensorflow-serving r1.7 source code
- **TensorFlow version (use command below)**: tensorflow-serving r1.7 source code
- **Python version**: Python2

[2018-06-11 08:13] xychu commented on #19605
@chengmengli06  https://github.com/tensorflow/models/pull/4277 is a cifar10 example that using Estimator's `train_and_evaluate` API  as @anj-s mentioned for multi-nodes distributed training.  Hope it help in some way.
BTW, looking forward to the multi-node MirroredStrategy :-)

[2018-06-11 08:29] bhack commented on #19605
@anj-s Will be the multi-nodes strategiy also multi-gpu on the single node?

[2018-06-11 08:33] rohitpeesa commented on #19471
You can close it.

On 11 June 2018 at 03:32, Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-06-11 08:34] jonasrauber opened #19903 "Warm-starting moving averages (batch norm) as part of an estimator not possible"
I want to use a `tf.estimators.Estimator` to fine-tune a model that contains batch normalization (e.g. ResNet). To initialize the model, I use the new `WarmStartSettings` and pass it to the estimator's `warm_start_from` argument. Unfortunately, this will only warm-start trainable variables, and the `moving_mean` and `moving_variance` created by the batch normalization layer are not part of the tra

[2018-06-11 08:45] cagrigider opened #19904 "Multiple Prediction With Tensorflow Model On iOS Swift, Objective-C"
I am trying to do character recognition mobile app with CNN. My model predict with %99,6 accuracy on python.
Now, I am trying to implement my model on iOS.
I used this project for sample project [Tensorflow Camera Example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/examples/ios/camera)
I created an app, it can predict right single character on screen. But I need to predict 5 c

[2018-06-11 08:46] cagrigider commented on #19437
const float input_mean = 117.0f;
    const float input_std = 1.0f;
always works well ? or should I find special values for my model.(And how can I find ? )

[2018-06-11 09:04] sandipmgiri commented on #19697
For me as well these tests were failing in TF-master.
I have upgraded numpy from 1.14.3 to 1.14.4 and openblas from 0.2.18 to 0.3.0, and now these 2 tests are passing for me :
1. //tensorflow/python/kernel_tests:svd_op_test
2. //tensorflow/python/kernel_tests:matrix_solve_ls_op_test

FYI - I have used the below steps to install numpy and openblas:
[code]
Please try this.

[2018-06-11 09:39] mohsinali722 commented on #19873
@poxvoculi Hi
I am working on Tensorflow with Python. I have a new idea about the pooling method. Currently there are two pooling methods  (max-pooling, avg-pooling). I want to do some experiment by some new idea about pooling method.
But for that i need to find the current pooling functions. But unfortunately i could not find that. Can anyone please help me to do this experiment and help me to fi

[2018-06-11 09:48] Joshuaalbert commented on #10520
I would close this as it is not likely viewed as a bug at this point, but rather a peculiarity. Best advice, if batch is None then set `use_bias=False`. If you want a bias then also set `activation=None` and then create your own bias variable, add it, then apply your own activation.

[2018-06-11 09:50] trangtv57 commented on #17739
can anyone update status for this problem? I have same leak memory error when try to use session to predict.

[2018-06-11 10:27] sleighsoft commented on #16363
I don't see a way to track the initialized status of the table.

[2018-06-11 10:30] sleighsoft commented on #16363
This also prints the warning
[code]

[2018-06-11 10:58] EdwardVincentMa opened #19906 "Build OK ,but My own C++ project has error :" std::bad_alloc ""
**System information:**
· Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes

· OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Win10-x64

· TensorFlow installed from (source or binary): git clone https://github.com/tensorflow/tensorflow.git

· TensorFlow version (use command below): r1.8, command :
git checkout -b v1.8 -f origin/r1.8

· Py

[2018-06-11 11:13] sunnylovejordan commented on #15785
I had Rebuild Project,but didn't work.

[2018-06-11 11:24] laraibzubair18 commented on #17739
Kute.  Harramte

On 11 Jun 2018 14:54, "trangtv57" <notifications@github.com> wrote:

when try to use session to predict.

Kute. Harramte

[2018-06-11 11:28] daoud commented on #16768
I am doing performance testing inception model flask api with gunicorn (creating multiple process) Error: OOM when allocating tensor with shape[800,1280,3] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc [[Node: Cast = CastDstT=DT_FLOAT, SrcT=DT_UINT8, _device="/job:localhost/replica:0/task:0/device:GPU:0"]] Hint: If you want to see a list of allocated tensors

[2018-06-11 11:37] laraibzubair18 commented on #16768
Kute harramte dele
On 11 Jun 2018 16:35, "daoud" <notifications@github.com> wrote:

[2018-06-11 11:37] laraibzubair18 commented on #16768
Kute. Harramte. Dele
On 11 Jun 2018 16:37, "Laraib Zubair" <laraibzubair89@gmail.com> wrote:

[2018-06-11 11:39] laraibzubair18 commented on #16768
Kute harramte. Dele ma de pode
On 11 Jun 2018 16:37, "Laraib Zubair" <laraibzubair89@gmail.com> wrote:

[2018-06-11 11:40] laraibzubair18 commented on #16768
Kute harramte
On 11 Jun 2018 16:39, "Laraib Zubair" <laraibzubair89@gmail.com> wrote:

[2018-06-11 11:42] laraibzubair18 commented on #15818
Kuta dela harramta  ma. De pode ala
On 10 Jun 2018 23:53, "Alfred Sorten Wolf" <notifications@github.com> wrote:

[2018-06-11 11:44] liuningw opened #19907 "CreateSession still waiting for response from worker: /job:ps/replica:0/task:0"
OS Platform and Distribution : CentOS7.4
TensorFlow installed from : source code tensorflow-base:1.4.0
TensorFlow version: 1.4.0
CUDA/cuDNN version:1.8
GPU model and memory:nvidia_geforce_gtx_1080_ti
 NVIDIA-SMI 384.90                 Driver Version: 384.90                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id

[2018-06-11 11:55] freedomtan commented on #19868
hmm, I don't such problem on High Sierra with latest Xcode 9 (9.4, 9F1027a). I guess it's not the problem of Xcode or the clang came with Xcode.

[2018-06-11 12:11] tanguofu commented on #19679
Same  failed~

[2018-06-11 12:22] tanguofu commented on #19679
copy the NCCL-SLA.txt to tensorflow/third_party/nccl, works

[2018-06-11 12:41] sandipmgiri commented on #19698
This test is passing for me with CPU support on Ubuntu16.04(ppc64le).
Can you please try re-running the test 3-4 times ?

[2018-06-11 13:45] amita-kapoor commented on #8134
I am getting " HTTP Error 403: Forbidden" while trying to download MNIST dataset using ```input_data.read_data_sets("MNIST_data/", one_hot=True)``` comand, though the data is downloadable from Yann LeCun website.

Tensorflow version 1.4

[2018-06-11 13:57] #19524 closed

[2018-06-11 14:14] tanguofu opened #19908 "how to used nccl.reduce_sum"
is there some example to use nccl.reduce_sum , as the doc say:
[code]
so  how the nccl.reduce_sum works?

[2018-06-11 14:15] karllessard commented on #17390
@arnaghizadeh : I agree with you here. Just FYI, I think the major reason why it is taking so long is that a lot of time is spent in code reviews before features can get merged into the master branch. I am not blaming Asim for that, I think he's doing a fantastic job to keep the code neat and under control. But having a separate branch to experiment some features on our side before creating a PR i

[2018-06-11 14:15] spivakoa opened #19909 "Tensorflow C++ API Batch Inference"
Hello,

My question is considering the inference in C++ API using batches. I'm trying to run SSD net based on Mobilenet. It works on a single image, but when I try to use multiple images inference, I can't understand how to get the multiple outputs. It seems like my program runs properly as a run time increased for a batch inference though.
Here is my sample code: I'm loading a batch of 32 images

[2018-06-11 14:30] manikaaggarwal commented on #6982
I am facing the same problem.

[2018-06-11 14:39] RylanSchaeffer commented on #19897
@tensorflowbutler Done.

[2018-06-11 15:03] peidaqi opened #19910 "glorot_uniform_initializer and glorot_normal_initializer not consistent with the rest of the initializers?"
In /ops/init_ops.py:

All the initializers inherit from class Initializer and implements:
def __call__(self, shape, dtype=None, partition_info=None)

This gives a different signature from the two glorot initializer functions (which are defs rather than classes), and the parameter 'partition_info' doesn't exist. This causes compatibility problems when passing them in as initializers.

[2018-06-11 15:41] rryan commented on #19260
Anyway, @Androbin I noticed you're using tf.contrib.signal.stft here -- note that tf.lite doesn't support complex numbers at the moment so once you get past this bug you'll still have issues.

I'm in the process of adding complex64 and RFFT/IRFFT support to tf.lite and I'll be making sure tf.contrib.signal.stft works in the process. complex64 is currently out for code review, so I'm hopeful this c

[2018-06-11 16:01] UsamaIslam commented on #12649
I am using FasterRcnn, I've solved same issue by changing value of MAX_RESULTS from 100 to 500 in TensorFlowObjectDetectionAPIModel.java (TensorFlow android example app).

[2018-06-11 16:02] UsamaIslam commented on #12649
I am using FasterRcnn, I've solved same issue by changing value of MAX_RESULTS from 100 to 500 in TensorFlowObjectDetectionAPIModel.java (TensorFlow android example app).

[2018-06-11 16:06] srvasude commented on #19812
Hi!
  This can certainly be sped up to be much faster. The main issue is that the multinomial sampler uses a categorical sampler (unfortunately named tf.multinomial) underneath. We can actually construct an efficient binomial sampler, using a mix of inversion methods and Hormann's: https://www.tandfonline.com/doi/abs/10.1080/00949659308811496. From there, one can sample from a multinomial distribu

[2018-06-11 16:31] anj-s commented on #19605
bhack@ I am sorry I did not understand the question. Do you mean are the two strategies the same?

[2018-06-11 16:34] karmel commented on #19880
Hi @Luonic -- I'm having trouble interpreting what exactly the problem is here. bicubic_resize would be expected to change the values in the input tensor, as the same image is represented in fewer pixels. Can you provide a minimal example, using just the resize_* method you think has a bug, to demonstrate the problem?

[2018-06-11 16:48] bhack commented on #19605
@anj-s I meant if using multi-nodes will let to automatically mirror on the single node if multi gpu are exposed. I.e. 4 nodes with 1 gpu x node + 2 nodes with 4 gpus x nodes.

[2018-06-11 16:50] goydex commented on #17220
This also saved my bacon. Thanks!

[2018-06-11 16:55] asimshankar commented on #18971
@gypleon : From the error message, it seems that the way the graph is defined, it is asking the `tf.assert` operation to execute on GPU, which isn't possible. Without knowing more about what the tensors `a`, `b` etc. in the code snippet are, it's going to be hard to diagnose what's going on. Is it possible for you to share the saved model?

If not, another thing to try would be to load and execute

[2018-06-11 17:01] asimshankar commented on #19490
There isn't any fundamental reason, I believe, why performance should be different. However, in general, it's hard to say since the same code is generated using different compilers with different options, so it's possible that some kernels behave differently based on these differences in compiler behavior.

If you could profile the code and identify potential differences that might help provide a

[2018-06-11 17:13] alextp commented on #19156
Closing since it looks to me like it's working as intended. Please reopen with answers to my questions above if I'm wrong.

[2018-06-11 17:13] #19156 closed

[2018-06-11 17:28] asimshankar commented on #19198
@rmlarsen @benoitsteiner : Mind taking a look?

[2018-06-11 17:36] hardianlawi opened #19911 "Adding report_tensor_allocations_upon_oom to RunOptions in Keras Ask Question"
Im trying to add the report tensor GPU allocations for keras model to debug `tensorflow.python.framework.errors_impl.ResourceExhaustedError`.

Im doing exactly like [this page](https://stackoverflow.com/questions/49665757/how-to-add-report-tensor-allocations-upon-oom-to-runoptions-in-keras?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa) suggested, but I got this error

[c

[2018-06-11 17:39] hardianlawi commented on #19911
To be more specific,

Tensorflow version: `v1.8.0-0-g93bc2e2072 1.8.0`

and this is the output of `tf_env_collect.sh`

[code]

[2018-06-11 17:41] allenlavoie commented on #9525
@JosephIWB

How are you hiding them? CUDA_VISIBLE_DEVICES? I have no idea why this wouldn't work, but if you have a quick repro someone can take a look.

There's also the ["add yet another shared object" workaround for the OpenCV symbol conflict](https://github.com/tensorflow/tensorflow/issues/14267#issuecomment-381660514).

[2018-06-11 17:41] rryan commented on #17825
I'm learning that a lot of RFFT implementations simply zero the imaginary component of the first frequency bin instead of computing them.

For example, numpy.fft.rfft (FFTPack) does this:
https://github.com/numpy/numpy/blob/master/numpy/fft/fftpack_litemodule.c#L193-L200

Due to floating point error I think it's unlikely we'll reach true zero, so maybe we should follow suit.

[2018-06-11 17:58] Chasearmer commented on #19864
Ubuntu 16.04
Tensorflow 1.5.0

[2018-06-11 18:09] JosephIWB commented on #9525
I can't use CUDA_VISIBLE_DEVICES because the program is multi-threaded and is supposed to work on various gpus separately (you can configure the program  to process multiple video streams, then you also can decide which gpu each thread should use), so CUDA_VISIBLE_DEVICES doesn't work, as you need to decide which gpu a thread uses on runtime.

I use this code to generate the session configuration

[2018-06-11 18:41] sibyjackgrove opened #19912 "tf dataset iterators producing Key error when used with tf.keras.Model fit method"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.9.0-rc0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: NA
- **G

[2018-06-11 18:44] allenlavoie commented on #9525
Oh I see, the issue is that C++ API doesn't include protobuf symbols. You need to link against libtensorflow_framework.so for those (unfortunately a [known issue](https://github.com/tensorflow/tensorflow/issues/9525#issuecomment-385475293)).

Do you think the fvisibility change is submittable? May be worth running the tests (e.g. bazel test -c opt //tensorflow/core/... //tensorflow/python/...), an

[2018-06-11 18:47] tensorflowbutler commented on #19899
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 18:47] tensorflowbutler commented on #19903
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 18:47] tensorflowbutler commented on #19904
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
CUDA/cuDNN version

[2018-06-11 18:47] tensorflowbutler commented on #19907
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-11 18:48] tensorflowbutler commented on #14452
Nagging Assignee @petewarden: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:48] tensorflowbutler commented on #15463
Nagging Assignee @ekelsen: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:48] tensorflowbutler commented on #15618
Nagging Assignees @case540, @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:48] tensorflowbutler commented on #16050
Nagging Assignee @rmlarsen: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:48] tensorflowbutler commented on #16624
Nagging Assignee @andrewharp: It has been 104 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:48] tensorflowbutler commented on #17595
Nagging Assignees @petewarden, @poxvoculi: It has been 90 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:48] tensorflowbutler commented on #17822
Nagging Assignee @petewarden: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #17956
Nagging Assignee @petewarden: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18325
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18459
Nagging Assignee @rohan100jain: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18536
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18537
Nagging Assignee @zheng-xq: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18552
Nagging Assignee @bignamehyp: It has been 37 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18874
Nagging Assignee @zffchen78: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:49] tensorflowbutler commented on #18936
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-11 18:50] tensorflowbutler commented on #19110
Nagging Assignee @petewarden: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19114
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19119
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19228
Nagging Assignee @tatatodd: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19241
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19421
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19465
It has been 19 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-11 18:50] tensorflowbutler commented on #19469
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19501
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:50] tensorflowbutler commented on #19568
Nagging Assignee @asimshankar: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-11 18:51] tensorflowbutler commented on #19579
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-11 18:51] tensorflowbutler commented on #19585
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-11 18:58] isaacsultan opened #19913 "ValueError: Could not interpret optimizer identifier (tf.keras)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows 10
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.8.0
- **Python version**:
3.5
- **Bazel version (if compiling from source)**:
- **GCC/Comp

[2018-06-11 18:59] whatdhack commented on #19465
Yes,   as far as I can tell, it is still an issue.

[2018-06-11 19:12] alsrgv opened #19914 "TensorFlow MNIST dataset is throwing 403"
[TensorFlow official MNIST model](https://github.com/tensorflow/models/blob/master/official/mnist/dataset.py) and [TFLearn Model](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/learn/python/learn/datasets/mnist.py) use https://storage.googleapis.com/cvdf-datasets/mnist/train-images-idx3-ubyte.gz as a data store for MNIST dataset.

This URL is returning 403 errors:
[code]

[2018-06-11 19:18] bignamehyp commented on #18452
This seems a bug to me. Thank you very much for reporting it. We will investigate into this issue.

How many percentage of pixels have different values on two platform, what is the average difference?

[2018-06-11 19:19] bignamehyp commented on #18452
Also, can you please try fancy_upscaling=false to see if it reproduced?

[2018-06-11 19:20] martinwicke commented on #19914
Yeah, ironically, we're having trouble with billing.

PR #19905 would fix it and can be used as a workaround until we figure out how to pay ourselves (hopefully not long, otherwise we'll accept the PR).

[2018-06-11 19:33] chandramouli-sastry commented on #5985
I'm not aware if the second derivative of while_loop has been added yet. However, the static RNN solution isn't convenient for experimentation when there are longer time-steps [I needed about 1k steps and graph creation takes more than 5 minutes!]. So, I wrote code to compute both the derivatives and activations as part of the SAME FORWARD while loop using some Dynamic Programming and Math! Howeve

[2018-06-11 19:46] JosephIWB commented on #9525
I don't think so, I'm not very savvy anyway.

In [issue #14627](https://github.com/tensorflow/tensorflow/issues/14267#issuecomment-389692737) @ruanjiandong proposed that workaround, and worked for me.

A quote from what was said there regarding the probable use of the fvisibility change:

Currently I have a lot of dependency problems and I'm also very short on time to run these tests on my machine

[2018-06-11 19:57] hadim commented on #18906
I have recently created a Dockerfile that make it easy for anyone to compile tensorflow in Linux: https://github.com/hadim/docker-tensorflow-builder

[2018-06-11 20:07] njmote commented on #19914
Just noticed this error. Good luck :)

[2018-06-11 20:17] shubchat commented on #17628
@cartmanguo Can you give me some more details on what you did? I am kind of new to this environment.

[2018-06-11 20:19] samsamoa commented on #19657
I now understand that this bug was caused because tf.data.Dataset.from_tensor_slices stores the entire dataset in the TF graph.  There is a comment on [the datasets guide](https://www.tensorflow.org/programmers_guide/datasets) about this, though if it's a new addition.

[2018-06-11 20:23] Androbin commented on #19260
Thanks for your efforts @rryan.

Slightly off topic: I'm actually using `tf.abs( tf.contrib.signal.stft( x ) )`.
Since complex numbers are a combination of absolute value and "argument":
Can this be rewritten as a single op which doesn't require complex numbers?
Maybe this would also be somewhat more battery efficient?

[2018-06-11 20:51] anj-s commented on #19605
bhack@ Yes, multi-node strategy will mirror the model on multiple GPUs if they are available.

[2018-06-11 20:59] asimshankar commented on #19657
Apologies for the delayed response. Yup, `tf.data.Dataset.from_tensor_slices(x)` will embed `x` as a constant tensor inside the graph. With the dataset size you're describing, using an initializable iterator (as you suggested) with a placeholder would be more appropriate. Something like this:

[code]

Without the placeholder, the tensor content ends up in the graph def. With `one_shot_iterator`, i

[2018-06-11 21:01] ispirmustafa commented on #14713
For transfer learning with Estimator, I recommend to checkout following two options:
* [Tensorflow Hub](https://github.com/tensorflow/hub/blob/master/tensorflow_hub) either directly hub layers or hub feature columns
* [warm_start_from](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/estimator/estimator.py#L109) argument of `Estimator`.

[2018-06-11 21:05] armanschwarz commented on #19899
Have I written custom code: N/A
OS Platform and Distribution: N/A
TensorFlow installed from: N/A
TensorFlow version: 1.5
Bazel version: N/A
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

On Tue, Jun 12, 2018, 04:53 Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-06-11 21:05] asimshankar commented on #5985
(I'll defer to @ebrevdo for an update on that, but would expressing the model with [eager execution](https://www.tensorflow.org/programmers_guide/eager) be an option that works for you? That may be more natural and will work with higher order gradients. See the [instructional notebooks](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/python/examples/notebooks)).

[2018-06-11 21:06] #16023 closed

[2018-06-11 21:11] samsamoa commented on #19657
Yes, this works well.  It is described well on the datasets guide, though not in the tf.Dataset documentation.

[2018-06-11 21:22] bandheart opened #19918 "Hi, how can I fix HTTP error 403? mnist input_data"
Hi!
It is my first time to use this data set!
I got HTTP error 403 when I use the following code.

from tensorflow.examples.tutorials.mnist import input_data
mnist = input_data.read_data_sets("./mnist/data/", one_hot=True)

So.. I tried several things such as turning off firewall.
But, I can't solve it and need to fix it for homework.
Can you help me?

[2018-06-11 21:22] jhseu commented on #19874
Yeah, it's not needed anymore. Sent a change internally to delete it.

[2018-06-11 21:29] bhack commented on #14713
@ispirmustafa I think both don't support estimators coming from tf.keras models (model_to_estimator).

[2018-06-11 21:47] alsrgv commented on #19914
Would be better if the Google URL is fixed, then users can use both for a foreseeable future and don't have to hard migrate.

[2018-06-11 22:08] zo7 commented on #17824
It appears that the `labels` arg in `model_fn` is always `None` during prediction even if they are provided by `input_fn`. @ispirmustafa's suggestion doesn't work here because `estimator.predict()` is tossing out labels regardless.

I've run into similar situations where I'd like to get the input and ground truth labels if available alongside predictions to do further analysis (like view failure c

[2018-06-11 22:21] ixime commented on #19478
yes, @tensorflowbutler this is still an issue.

[2018-06-11 22:57] lhlmgr commented on #17824
What @ispirmustafa proposes is that you could pass the `labels` as additional `feature` in your `features`-`dict`.
Something along this lines:

[code]

It should definitely work (not tested), but I would also prefer another way.

[2018-06-11 23:05] reedwm commented on #19886
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-06-11 23:05] #19886 closed

[2018-06-11 23:06] reedwm commented on #16798
/CC @chsigg is this a known issue?

[2018-06-11 23:19] reedwm commented on #15717
Whenever you run a session with a new combination of fetches for the first time, there is a lot of extra work in initializing data structures and optimizing the graph. Also, IIRC, you are correct in that the constant is retransferred from the CPU to the GPU for every new combination of fetches (although that may have been fixed by now).

So, when timing a session.run call, make sure you previously

[2018-06-11 23:19] #15717 closed

[2018-06-11 23:27] martinwicke commented on #19918
There was a problem with that bucket, which should now be fixed.

[2018-06-11 23:27] #19918 closed

[2018-06-11 23:28] martinwicke commented on #19914
This should now be fixed. Sorry about this.

[2018-06-11 23:28] #19914 closed

[2018-06-11 23:33] alanchiao commented on #19051
Closing this issue.

I suspect that if you make sure that Android Studio/Gradle has picked up on tensorflow-lite:0.1.7 changes, the problem will go away.

Reasoning:
I confirmed that the tensorflow-lite:0.1.7 AAR that Gradle uses was re-released once. This is not something we should be doing in the future, but would explain why I couldn't reproduce the issue (I'm using the newer version of the ten

[2018-06-11 23:33] #19051 closed

[2018-06-11 23:41] reedwm commented on #12293
/CC @mjanusz can you take a look? @yzhwang said this was an eigen problem.

[2018-06-11 23:57] SeguinBe commented on #16798
I'd have to doublecheck again, but I think with the current versions of cuda and tf, I was not able to reproduce it.

[2018-06-11 23:57] ispirmustafa commented on #14713
then one path would be using keras utilities before running model_to_estimator. @fchollet to comment about transfer learning functionalities you can use with tf.keras.Model.

[2018-06-12 00:01] reedwm commented on #16798
OK in that case I'll close the issue. If you determine this is still an issue, I'll reopen.

[2018-06-12 00:07] zo7 commented on #17824
Oh! Yeah that would work, but that definitely feels like a hack.

[2018-06-12 00:14] bhack commented on #14713
Or take more care on what is supported or not in model_to_estimator: https://github.com/tensorflow/tensorflow/issues/19295 cause `model_to_estimator` is becoming to be a sort of "second class" estimator.

[2018-06-12 00:40] ppwwyyxx commented on #18213
@reedwm sorry for @ing random people that are active on github. Could you raise this issue to the right person at TF's team for some comments?

[2018-06-12 00:50] drpngx commented on #19849
@tatatodd could you take a look?

[2018-06-12 00:56] bignamehyp commented on #18452
@mingxingtan if you are interested.

[2018-06-12 01:05] tensorflowbutler commented on #19908
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-12 01:05] tensorflowbutler commented on #19909
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-12 01:05] tensorflowbutler commented on #19910
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-12 01:19] asimshankar commented on #19911
@brainnoise @fchollet : Mind taking a look. Seems like the set of supported kwargs is whitelisted in https://github.com/tensorflow/tensorflow/blob/c169282cfe03e146350d2e17f79be4bf759c4146/tensorflow/python/keras/backend.py#L2803 - but adding support for `run_options` should be trivial?

[2018-06-12 01:32] phybrain commented on #15237
how to use tf.train.cosine_decay_restarts to implement AdamWR?

[2018-06-12 01:32] asimshankar commented on #19428
Closing this out since I believe the link is working now - www.tensorflow.org/hub/installation correctly links to www.tensorflow.org/install

If I'm mistaken, please do re-open, but provide some details about the broken link (e.g., which page it appears on)

[2018-06-12 01:32] #19428 closed

[2018-06-12 01:35] asimshankar commented on #19045
@memelan : A shape of `None` means a scalar, a shape of `[None]` means a one-dimensional tensor with an unknown size.

From your previous comment, it appears that this confusion has been resolved, so I'm closing the issue.
Feel free to reopen and provide details if I'm misunderstood.
Thanks!

[2018-06-12 01:35] #19045 closed

[2018-06-12 01:37] asimshankar commented on #18720
From the error message, it seems there are some unsatisfiable constraints on the placement of the operations being provided.

Is it possible to provide enough information to reproduce the problem so that we can determine if there is a bug in some library code, or an error in some usage of it?

[2018-06-12 02:19] hanalice commented on #17669
I fixed this issue by changing the batch size to a lower value. Or you should raise the per_process_gpu_memory_fraction in your model.

[2018-06-12 02:38] liuningw commented on #19907
@tensorflowbutler i update the information

[2018-06-12 02:47] samikama commented on #16050
This issue seems to be still present at the master

[2018-06-12 03:02] AlysonQ opened #19921 "How could I change freeze model's input node type?"
Hi ,

I built a TensorFlow pb file and lost checkpoints file.
It's woking fine on linux, but iOS.
On linux, I feed the batch_size layer a float image ,it will output the feature data which is float format.
On iOS, it shows "Running model failed: Invalid argument: Expects arg[0] to be int32 but float is provided".
And I don't know how to solve it, I think that maybe change the input node type will

[2018-06-12 03:04] OceanWong1991 commented on #15773
@developer-mayuan May I ask which dataset did you used to train your HPE model?

[2018-06-12 03:07] pisiiki opened #19922 "tf.Session.run/tf.RunOptions timeout issue"
When setting a timeout for a tf.Session.run with XLA enabled it seems that the argument is not used during the XLA build process:

[code]

I have some code to build and evaluate different NN architectures and it can switch betteen XLA and normal execution, however XLA sometimes is extremely slow compiling and I want to know if there is a way to stop it other than killing the process.

**Have I wri

[2018-06-12 03:11] cartmanguo commented on #17628
@shubchat  I download latest version of tensorflow,find the .sh file in /contrib/makefile.After compiling,this will give you four static libs,libtensorflow-core.a,libprotobuf-lite.a,libprotobuf.a,nsync.a
include them all in your project,in the XCode build setting tab,set the header search path and library search path
This guide may save you some time:
https://github.com/tensorflow/tensorflow/tree/

[2018-06-12 03:14] rohitpeesa commented on #19469
You can close it.

On 12 June 2018 at 00:26, Alfred Sorten Wolf <notifications@github.com>
wrote:

[2018-06-12 03:29] lkluo commented on #19901
@oscarriddle: Could you advise steps of tf-serving installation on CentOS, as it seems that you have already done that. My current trials were exactly following their tutorial, but failed every single trails. Perhaps you may kindly response to the following:
1. Does tensorflow and serving version matters for CentOS? How about bazel version? I have tried tf-1.8, tfs-1.8 and bazel-0.10 and above.
2.

[2018-06-12 03:43] ezhulenev commented on #17315
This issue is fixed in https://github.com/tensorflow/tensorflow/commit/7bb79ee219d4efbd92d1ef4e0dbe45f4aee26654

[2018-06-12 03:48] JooYongLee commented on #18877
I have a same problem with it. Without Batch-Norm Layer, I can import created *.pb model. But with batch-norm layer, I cannot import *pb file using opencv function "ReadNetFromTensorflow". If you solve this problem, please tell me how to fix it.

[2018-06-12 04:17] abhigoku10 commented on #2721
@vrv Hi can you pls elaborate on the compilation part. I compile using bazel of my c++ code yet it takes more time than my python

[2018-06-12 04:21] abhigoku10 commented on #15552
@Goldesel23  what is the technique you used to increase the speed of c++ can you pls share those tips
Thanks in advance

[2018-06-12 04:32] rryan commented on #15134
Hi! Thank you @fedden for the helpful repro.

One difference between librosa and `tf.contrib.signal.stft` is that librosa center-pads the signal with reflection when framing while `tf.contrib.signal.stft` (and `tf.spectral.rfft` and `np.fft.rfft`) pad from the right with zeros by default. Adding support for padding options like these to `tf.contrib.signal.stft` would be a nice addition!

 I think

[2018-06-12 04:33] emaballarin opened #19924 "Build from source fails due to function mismatch in MPIServer code"
### Context:
Trying to build from source, master branch as of 12/06/2018 T 06.00 UTC+2.
Configured to build with MPI support, using OpenMPI 3 (compiled from source and already tried and tested, including with older versions of TF, such as the TF master branch from a week ago).

The error occurs during compilation, preventing it to conclude successfully. Disabling MPI from configure leads to succes

[2018-06-12 04:41] abhigoku10 commented on #10669
@July-Morning @yaroslavvb  Hi guys i have a model which was trained on gpu . This model with python code takes approx 4 sec on linux cpu system , when i use the same model on the cpu i get the timing of 11-16 sec can you point out the problem y i get this much timing difference and how can i solve this

Thanks in advance

[2018-06-12 04:52] fogelton commented on #19657
ok, thanks

[2018-06-12 05:04] ruanjiandong commented on #9525
I tried running the tests suggested by allenlavoie. Unfortunately, my workaround breaks the test build. k8-py3-opt/bin/_solib_local/libtensorflow_Score_Slibjpeg_Uinternal.so needs those jpeg symbols exported.

[2018-06-12 05:11] facaiy commented on #19465
I think you'd better use tf.keras.layer only if possible, because tf.layers will be depreciated in the future.

[2018-06-12 05:21] AlysonQ commented on #19921
I solve my problem..... all because I set the wrong input node name.

[2018-06-12 05:21] #19921 closed

[2018-06-12 05:29] lcerman commented on #18839
Please, do not close this issue until its fixed. Either the compilation with CUDA 8.0 should be corrected or the official doc here https://www.tensorflow.org/install/install_sources#optional_install_tensorflow_for_gpu_prerequisites should be fixed, now it states CUDA >= 7.0 is required. With current state lot of people waste their time trying to compile with CUDA 8.0 a looking for solution...

[2018-06-12 05:29] saudet commented on #19676
Thanks @dtrebbien! Just reverting that commit though I'm getting link errors :(

[2018-06-12 05:58] whatdhack commented on #19465
Tfdb and tensorboard debugger, histogram, distribution etc support are not supported  yet for keras.layers.   Can someone throw any light  on  the plan for debugging features for keras.layers ?

[2018-06-12 06:04] chengmengli06 opened #19926 "Could tensorboard add search function"
Tensorboard visualization is great, but for big graphs, it is hard to locate certain ops. There are two many components in the graph. So I want two new functions:
1. It is possible to hide some nodes, such as reshape, relu, and soon, which does not affects the graph structure.
2. Is it possible to search some ops by name keywords, such as RPNLoss? The search result could be displayed on a search b

[2018-06-12 06:11] Munaze opened #19927 "return getattr(obj, method)(*args, **kwds) numpy.core._internal.AxisError: axis 1 is out of bounds for array of dimension 1"
Having error in the code:

def accuracy(predictions,labels):
    return(100.0*np.sum(np.argmax(predictions) == np.argmax(labels,1))/predictions.shape[0])

with tf.Session(graph=graph) as session:
    tf.global_variables_initializer().run()
    print('Initialized')
    for step in range(num_steps):
        _, l, predictions = session.run([optimizer, loss, train_prediction])
        if (step % 100 =

[2018-06-12 06:13] aselle commented on #19260
When shrinking an axis there is only a single index not a begin and end, so the end being wrong shouldn't matter. It becomes a useless parameter. So yes, follow suite with the tf implementation. I think your work around is correct.

[2018-06-12 06:19] abhajaswal commented on #7497
Unable to Build getting same error.

WARNING: ignoring http_proxy in environment.
..........
ERROR: error loading package '': Encountered error while reading extension file 'closure/defs.bzl': no such package '@io_bazel_rules_closure//closure': Error downloading [https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/dbb96841cc0a5fb2664c37822803b06dab20c7d1.tar.gz, https://github.c

[2018-06-12 06:45] maxcrous commented on #18839
I agree with Icerman. As long as CUDA 8.0 is officially supported, tensorflow should at least be able to compile with it.

[2018-06-12 06:49] abhigoku10 commented on #10669
@yaroslavvb sorry i did not get you , are you quoting Tolstoy for me of giving me suggestion on it

[2018-06-12 06:51] jonasrauber commented on #19903
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: no
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: all up to 1.9rc0
- **Python version**: N/A
- **Bazel version (if compiling from source)**: N/A
- **GCC/

[2018-06-12 06:53] facaiy commented on #19465
Could you explain in more details (say, give an example)? I'm not familiar with debugger, however it sounds unreasonable for me that tensorboard doesn't support tf.keras.layers.

[2018-06-12 06:54] spivakoa commented on #19909
Have I written custom code     - Yes
OS Platform and Distribution - Win10 x64
TensorFlow installed from - Tensorflow site
TensorFlow version - 1.8
Bazel version - N/A
CUDA/cuDNN version    CUDA 9.0/ CuDNN 7
GPU model and memory   Quadro P4000, 8GB
Exact command to reproduce - Code pasted above in my original comment.

[2018-06-12 07:15] bibinmjose commented on #3917
I have the same issue while training u-net. I tried reducing batch size but with no improvements.
The core dumped message pops up just before completing one epoch.

`61/62 [============================>.] - ETA: 0s - loss: 0.4864 - dice_coef: 0.5136[1]    24623 floating point exception (core dumped)`

[2018-06-12 07:22] lkluo commented on #15904
@tensorflowbutler: Hi, I encountered the similar errors (also posted in serving issues, but have not got response yet; the issue: https://github.com/tensorflow/serving/issues/930)

File "/root/.cache/bazel/_bazel_root/71fb59ccb20e34305f765068f873db73/external/org_tensorflow/third_party/py/python_configure.bzl", line 291
_create_local_python_repository(repository_ctx)
File "/root/.cache/bazel/_baze

[2018-06-12 07:34] rryan commented on #16465
Thanks a ton @nuchi, @memo, and @andimarafioti for your patience and helpful repro code. As you've summarized nicely, the issue is due to at least two issues:

* By default, `tf.contrib.signal.inverse_stft` does not assume that the input STFT was generated from `tf.contrib.signal.stft`, and therefore does not divide the window by the squared sum of its magnitude as librosa [does by default](https:

[2018-06-12 07:42] cagrigider commented on #19904
I have MacBook Pro 13" doesn't have Nvidia GPU for Machine Learning. So I don't have CUDA/cuDNN
CUDA/cuDNN version: N/A

[2018-06-12 07:43] cstur4 commented on #19324
I have the similar requirements and it is also an essential problem in online learning.

[2018-06-12 07:52] shanest commented on #13895
What about the following solution, where we pass in the same estimator to a `SessionRunHook` and evaluate it every certain number of steps (which could be calculated to be roughly one epoch).  As far as I can tell, since `train` is only called once, it doesn't recreate its graph [though the calls to `evaluate` will].  Does this break things?

[code]

With the main call being something like:

[code

[2018-06-12 08:02] baihualinxin opened #19931 "pd Convert tflite to error"
Download the network model

MobileNet_v1_1.0_224_quant

https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md
Turn tflite error

bazel run toco -- \
  --input_file=/Users/dchealth/Desktop/mobilenet_v1_1.0_224_quant/mobilenet_v1_1.0_224_quant_frozen.pb \
  --output_file=/Users/dchealth/Desktop/mobilenet_v1_1.0_224_quant/mobilenetnew.tflite \
  --input_format=TENSORFLOW

[2018-06-12 08:06] baihualinxin commented on #19802
What's the reason

[2018-06-12 08:17] facaiy commented on #19911
@hardianlawi Hi, I create a PR #19932 to fix the issue. Would you like to apply the patch to your tensorflow and take a test?

[2018-06-12 08:43] truokola commented on #17012
I have both VS2015 and VS2017 installed but I build TF with VS2015 by using `cmake -G "Visual Studio 14 2015 Win64"`. But this setting is not transmitted to the child builds and therefore external projects, including protobuf, are built with VS2017. And in this case the build fails with exactly the error reported here.
However, if I rename the VS2017 installation directory to some nonsense so that

[2018-06-12 09:27] codescv opened #19933 "Using feed_dict is more than 5x faster than using dataset API?"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.4 (on Linux Ubuntu 16.04 you get similar results)
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7 cpu
- **Pyt

[2018-06-12 09:43] eRaul opened #19934 "init function of OpTypePattern has a confusing if condition"
**System information**
Have I written custom code: No
OS Platform and Distribution: NA
TensorFlow installed from: source code, master branch
TensorFlow version: 1.8.0
Bazel version: NA
CUDA/cuDNN version: NA
GPU model and memory: NA
Exact command to reproduce: NA

**Bug description**
Related file: tensorflow/tensorflow/contrib/quantize/python/graph_matcher.py
At master branch, line 62 to 64。
Accor

[2018-06-12 09:48] Hulin-Dai commented on #4680
Just check your eigen's version, make sure it is 3.3 or newer. I replaced the 3.2 version with 3.3.4, and fixed this problem. Maybe this can help you too.

[2018-06-12 09:49] JonMuehlst commented on #12888
+1 for interoperability and open standards.

[2018-06-12 09:56] sandipmgiri opened #19935 "linalg_grad_test is failing with minor array mismatch"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source
- **TensorFlow version (use command below)**:
      TF master
- **Python version**:
     Python 2.7.

[2018-06-12 10:06] appyfizzA commented on #3290
@pawni Did you find a solution? I'm also working with 3D convolutions and 5D tensors, and I'm currently using tf.nn.moments

[2018-06-12 10:10] GustavZ commented on #16187
also hanging on this error for a while.
My mask rcnn consumes 1.8GB in total, but is not able to run on the Jetson TX2 gpu, only on cpu.

[2018-06-12 10:12] scottcjt opened #19936 "Min/Max value, naming scope, and tf.contrib.quantize"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 18.04
- **TensorFlow installed from (source or binary)**: Pip package
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.6.5
- **Bazel version (if compiling from source)**:
- *

[2018-06-12 10:18] 1nsunym commented on #12213
@anandcu3 Have you fixed this? I'm having the same issue and it will be greatly appreciated if you share how you've tackled this.

[2018-06-12 10:58] Ohmat-Robotics commented on #15604
export PATH=${PATH}:/usr/local/cuda-9.0/bin
export CUDA_HOME=${CUDA_HOME}:/usr/local/cuda:/usr/local/cuda-9.0
export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/cuda-9.0/lib64
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda/extras/CUPTI/lib64

[2018-06-12 11:03] amitdesh commented on #6698
Another option ...try

def run_inference_for_single_image(image, graph):
  with graph.as_default():
    config = tf.ConfigProto(
        device_count = {'GPU': 0}
    )
    with tf.Session(config=config) as sess:

[2018-06-12 11:05] kuonangzhe commented on #16187
I finally make it work on tx2 but using mxnet....said story

[2018-06-12 11:08] appyfizzA commented on #5694
@happyharrycn
I'm working with 5D tensors and 3D convolutions with TF 1.7.0
Has this issue been resolved?

[2018-06-12 11:32] bhack commented on #19643
@jackd Yes I have the same suspect that it was related to the converter API not handling update_ops correctly. This now it is closed but https://github.com/tensorflow/tensorflow/issues/17950 is still open. I've also added there a reference to the upstream https://github.com/keras-team/keras/issues/9214. If you want subscribe to the https://github.com/tensorflow/tensorflow/issues/17950 thread.

[2018-06-12 11:34] brave-hannah commented on #14701
I run into the same issue when using V100 to do tensorflow benchmark in a tensorflow1.8 container with cuda9 and cudnn7. Test on host also needs much more warm ups more than P100, but the most in container. I also asked this question on nvidia dev forum here.
https://devtalk.nvidia.com/default/topic/1036474/container-tensorflow/slower-performance-in-container-when-using-v100/

[2018-06-12 11:44] xiadeye commented on #18731
Any solutions?

[2018-06-12 12:13] SeguinBe commented on #16798
Quick update, I actually tried again with Ubuntu 18.04, Tensorflow 1.7, Cuda 9.0, cuDNN 7.1.2 (all installed with `conda install tensorflow-gpu`) and the problem is actually still present.

[2018-06-12 12:16] lmxhappy commented on #9868
just after compile, run timeline.Timeline(step_stats=run_metadata.step_stats) . is ok?@al626

[2018-06-12 12:16] ABNeqrouz opened #19939 "Object_detection_api : Le fichier sp\udce9cifi\udce9 est introuvable."
Thisissue appear when i want to generate TFRecord file.

models\research\object_detection\images\train\image1 : Le fichier sp\udce9cifi\udce9 est introuvable. ; No such file or directory

`def create_tf_example(group, path):
    with tf.gfile.GFile(os.path.join(path, '{}'.format(group.filename)), 'rb') as fid:
        encoded_jpg = fid.read()
    encoded_jpg_io = io.BytesIO(encoded_jpg)
    image

[2018-06-12 12:20] julesbayet commented on #19671
Thanks for taking care of the problem. Do you have any news on the topic ?

[2018-06-12 12:33] Goldesel23 commented on #15552
If you follow the code in the samples you will get a good speed. You just need to understand that the first batches will be slower. In my application I just run some warm-up runs on the start after the session initialization.

[2018-06-12 12:45] tensorflowbutler commented on #19922
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-12 12:45] DeftWork commented on #17850
Since 2018/06/07 build works for Rpi where disabled. No official news about that.
Now http://ci.tensorflow.org/job/nightly-pi/ is working again, I feel anxious to view the output.
http://ci.tensorflow.org/job/nightly-pi/302/console
Too many mysteries and few information for my poor heart.

[2018-06-12 12:56] DeftWork commented on #17850
OMG!!! :astonished:
I've been watching build process in real time, it was more interesting than latest Google I/O:

[13,134 / 13,135] Linking tensorflow/python/_pywrap_tensorflow_internal.so; 50s local
INFO: Elapsed time: 1078.358s, Critical Path: 156.88s
INFO: 4344 processes, local.
INFO: Build completed successfully, 4457 total actions
INFO: Build completed successfully, 4457 total actions
Final

[2018-06-12 13:10] lmontigny opened #19940 "Bazel compilation issue"
I am trying to compile TF with bazel release 0.14.1 using gcc 6.4.0 (and gcc 7.2.0) with Python 3.6 from Anaconda on CentOS 7, using only Jemalloc support.

`/usr/bin/bazel build --config=mkl  --copt="-mfma" --copt="-mavx2" --copt="-march=broadwell" --copt="-O3" -s -c opt //tensorflow/tools/pip_package:build_pip_package -j 64`

I observed the following error:

The same error is reported here:
http

[2018-06-12 13:13] usr1234 commented on #19927
Hi,
I think this belongs in SO. Anyway, "axis 1 is out of bounds for array of dimension 1" means when you are trying to do:

The axis 1 is "out of bounds", meaning it does not exist. Meaning your 'labels' is a 1D array. Try reshaping it or some other stuff by labels.reshape(

Also, you could do:

[2018-06-12 13:30] baituhuangyu commented on #16969
Tornado can  work well with tensorflow in Python 3.6.5 .(we tested !)

[2018-06-12 13:36] peterHeuz commented on #17861
@rohan100jain In what way? Currently it has the shape (n_samples, n_hidden_units) where n_hidden_units are the hidden units of the RNN. AFAIK that's the way it is supposed to be for multiplying the weights in the next step.

[2018-06-12 13:44] SeguinBe commented on #16798
To be more precise:

- If I install with `conda install tensorflow-gpu=1.8.0`, conda cares of installing cudatoolkit=9.0 and cudnn=7.1.2. In that case, the bug seems to persist.

- If I have cuda 9.0 and cudnn 7 installed at the system level, and run `pip install tensorflow-gpu` to get 1.8.0, things work as they should. Same if I try the relevant code snippet in a collab notebook with GPU.

Long s

[2018-06-12 13:59] Blokblaster opened #19943 "i get the error Could not import tensorflow. Do not import tensorflow from its source directory; change directory to outside the TensorFlow source tree, and relaunch your Python interpreter from there."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-06-12 14:03] #17315 closed

[2018-06-12 14:14] ShreyasSingh commented on #19621
I would like to work on this.

[2018-06-12 14:20] tcmxx opened #19944 "c++ gradient is not implemented for concat/stack"
Feature Request:
I noticed that c++ gradient for concat or stack is not implemented while i am using tensorflow sharp. I think those are quite important operations.  Could you please somehow consider implement those? Or is there any other replacement?

Thank you!

[2018-06-12 14:39] ianholing commented on #17501
True! Thanks I will check that again as soon as I can.

[2018-06-12 15:19] andrehentz commented on #14606
Update: TF Lite now includes an option to quantized the weights in a model. You can pass --quantize_weights=true to TOCO and have the large weight tensors automatically quantized. **This will affect accuracy, so be sure to check before deploying you model.**

I'll close this issue. Please open separate issues if necessary.

Reference: https://github.com/tensorflow/tensorflow/blob/master/tensorflow

[2018-06-12 15:19] #14606 closed

[2018-06-12 15:28] asimshankar commented on #19288
@VikingMew : Does @RylanSchaeffer 's comment above help? If not, could you share more details on how `data` is implemented in your code snippet?

[2018-06-12 15:33] VikingMew commented on #19288
it helps.
Thanks all.

Asim Shankar <notifications@github.com> 于2018年6月12日周二 下午4:32写道：

--
陈涵洋
复旦大学 软件学院 2010级本科生
viking.mew@gmail.com
138-1881-7745

[2018-06-12 15:39] #19288 closed

[2018-06-12 15:42] allenlavoie commented on #9525
Thanks @ruanjiandong! I guess not super surprising, but was worth a try. So the options are still (1) split out proto symbols so people don't need to link in libtensorflow_framework.so, (2) move libjpeg to the language bindings / colocated with the kernel. Possibly (2) is easier?

[2018-06-12 15:51] allenlavoie commented on #19671
If you want a workaround in the meantime, `tf.set_random_seed(1)` will clear the kernel cache.

[2018-06-12 16:00] andrehentz commented on #15488
I just went over your example, and it should work without issues.

My guess is that your inference code is not holding on to the flatbuffer bytes (or of the FlatBufferModel) for the whole duration of inference.

Here's what I've done:

- Conversion:
[code]
- Accuracy (vs TF):
[code]
- Latency
[code]

[2018-06-12 16:00] #15488 closed

[2018-06-12 16:03] DHZS opened #19945 "The argument "num_parallel_calls" in tf.data.Dataset.map() doesn't work in eager execution."
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-06-12 16:14] Joshuaalbert commented on #675
@mholzel for the double jacobian, suppose you just map to tf.hessian instead of tf.gradient. Doesn't solve to arbitrary order but it does get the hessian of a tensor wrt variables.

[2018-06-12 16:14] #19469 closed

[2018-06-12 16:14] andrehentz commented on #16623
I ran your test.zip file through toco and it worked for me. Please reopen if it still doesn't work when you run through a recent version of TF Lite.

[2018-06-12 16:14] #16623 closed

[2018-06-12 16:17] andrehentz commented on #16813
Could you try this again? Can you confirm that toco succeeds and a non-zero file is created?

[2018-06-12 16:20] #17218 closed

[2018-06-12 16:33] andrehentz commented on #17684
I tried the conversion with the provided frozen_graph.zip and it seems to work now. Please reopen if you still encounter issues.

[2018-06-12 16:33] #17684 closed

[2018-06-12 16:35] andrehentz commented on #17828
I'm closing this. Please reopen if there's enough information to reproduce the issue.

[2018-06-12 16:35] #17828 closed

[2018-06-12 16:36] andrehentz commented on #17924
This should be fixed now. Please reopen if necessary.

[2018-06-12 16:36] #17924 closed

[2018-06-12 16:43] andrehentz commented on #17984
It looks like you will have to freeze your graph. Does https://www.tensorflow.org/extend/tool_developers/#freezing help?

[2018-06-12 16:43] andrehentz commented on #18127
ExpandDims is supported now.

[2018-06-12 16:43] #18127 closed

[2018-06-12 16:44] #18182 closed

[2018-06-12 16:54] andrehentz commented on #19342
Could you describe how you are building tf lite?

[2018-06-12 16:56] rryan commented on #19260
Great, thanks @aselle -- I'll go ahead and send out my fix for review.

[2018-06-12 16:57] drpngx commented on #19904
@mhyttsten did you contribute the example?

[2018-06-12 16:59] #19195 closed

[2018-06-12 17:03] andrehentz commented on #19320
The message "nnapi error: unable to open library libneuralnetworks.so" is ok if the device isn't running a recent version of android. That message has also been removed from TF Lite recently.

As for the null pointer:
  - make sure you called AllocatedTensors
  - make sure the data type (uint8) is appropriate for your model.

[2018-06-12 17:03] #19320 closed

[2018-06-12 17:04] andrehentz commented on #19340
For running all the tests:
  `bazel test tensorflow/contrib/lite/testing/...`
Also, there are unittests in tensorflow/contrib/lite/kernerls.

[2018-06-12 17:04] #19340 closed

[2018-06-12 17:10] andrehentz commented on #19684
Thanks for trying TF Lite. It should be possible to import TF Lite into Eclipse but that's not a configuration we actively support.

[2018-06-12 17:10] #19684 closed

[2018-06-12 17:12] yaroslavvb commented on #17246
Weird, is memmove doing multi-threaded copy?

BTW, here's the code that does 100MB copy in 2.7 ms on Skylake. Besides multi-threading, it uses stream instructions to turn off cache, that just slows things down on large copies

[code]

[2018-06-12 17:12] andrehentz commented on #19709
Try removing "-Wl,--version-script" and LINKER_SCRIPT (those options might be hiding the symbols you care about)

[2018-06-12 17:12] #19709 closed

[2018-06-12 17:17] rryan commented on #19260
Hm, you always have to compute both the real and imaginary parts of the DFT in order to get the magnitude so I think even if there are no complex-valued tensors the op would be calculating it internally. You can factor the calculation into a real and imaginary part to avoid needing a complex type in tf.lite itself, but this will probably be less efficient than computing them jointly because the re

[2018-06-12 17:32] alexbeloi commented on #19926
I think you will have better luck searching for or posting your request to the Tensorboard issues here https://github.com/tensorflow/tensorboard/issues

[2018-06-12 17:53] aselle commented on #19260
Hm one could have the fft return a buffer where the last last dimension of
the tenosor is 2-dimensional so...
real = foo[..., 0]
im = foo[..., 1]
Then you wouldnmt' strictly need complex numbers. Then you could add
tensors using the existing add, but you'd have to be careful using
operations that weren't  decoupled  in real and imaginary behavior like *,
but you could do real part by doing then

t

[2018-06-12 18:02] Tweakmind commented on #336
Add the following to your path:
/usr/lib/gcc/x86_64-linux-gnu/4.8

I added the following to .bashrc
export PATH=/usr/lib/gcc/x86_64-linux-gnu/4.8${PATH:+:${PATH}}

All cc1 and cc1plus errors are now gone during basel compile.

FYI, I also compiled basel 0.14.1 using gcc-4.8 as well, not sure if this is necessary. This alone did not cure this problem but may have cured others.

Ubuntu 18.04 LTS
Ana

[2018-06-12 18:04] ezhulenev commented on #17246
Nope, they both are single threaded, but memmove is using sse3 instruction to copy memory, while memcpy is using sse2 (that's what I see in perf). This "fix" is more like a ugly workaround for the old glibc versions.

There is a discussion in Eigen (https://bitbucket.org/eigen/eigen/pull-requests/292/adds-a-fast-memcpy-function-to-eigen/diff), but that change was later rolled back because it's not

[2018-06-12 18:08] tonyxty opened #19948 "superfluous tf.reshape affacts output"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.8.0-0-g93bc2e2072 1.8.0
- **Python version**: Python 3.6.5
- **Bazel version (if

[2018-06-12 18:10] aaroey commented on #16753
@alsrgv this is because device allocators are shared objects in the process, and GPUOptions controls how allocators are created and bind to which device, so if device mapping is changed, the allocator-device bindings will be messed up, and an error will need to be returned before any damage to the runtime.

[2018-06-12 18:47] rohith-k-sturfee opened #19949 "toco error when converting tensorflow (Alexnet caffe model converted to tensorflow using MMdnn) to tflite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Mac OS High Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.1
- **Python version**: 2.7.15
- **Bazel version (if compiling from source)**:
-

[2018-06-12 18:48] Madhusakth commented on #15537
Hi,
I faced a similar error while building a tflite file from .pb file for speech model. I noticed that when I give --allow_custom_ops, it creates a tflite file of 6MB. But, without that, the created tflite files is zero bytes.
When I upload this tflite filr with --allow_custom_ops, it gives a run time error asking for the custom ops to be defined. Could you please help me out with this?

Thanks!

[2018-06-12 19:00] AP8050 commented on #6589
I am facing same issue...please any one help me to solve this issue...

[2018-06-12 19:06] ashermancinelli opened #19951 "Bazel Build transform_graph failing to find inputs/outputs"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: OSX HS 10.13.4
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.8
- **Python version**: 3.65
- **CUDA/cuDNN version**: 9.0
- **GPU model and memory**:

[2018-06-12 19:07] terrykong opened #19952 "tf.data.Dataset.shard_and_drop_remainder?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
      - yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
- **TensorFlow installed from (source or binary)**:
- **TensorFlow version (use command below)**:
       - v.1.8.0
- **Python version**:
- **Bazel version (if compiling from source)**:
- **GCC/Compile

[2018-06-12 19:11] #15883 closed

[2018-06-12 19:11] #17729 closed

[2018-06-12 19:11] tensorflowbutler commented on #19934
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-12 19:11] tensorflowbutler commented on #19935
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code

[2018-06-12 19:11] tensorflowbutler commented on #10220
Nagging Assignee @tfboyd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #10370
Nagging Assignee @josh11b: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #12948
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #13620
Nagging Assignee @ysuematsu: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #13868
Nagging Assignee @petewarden: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #14217
Nagging Assignee @petewarden: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #14232
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:12] tensorflowbutler commented on #15294
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:12] tensorflowbutler commented on #15883
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-06-12 19:12] tensorflowbutler commented on #16611
Nagging Assignee @ispirmustafa: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #16872
Nagging Assignee @ekelsen: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] reedwm commented on #16798
/CC @chsigg can you look into this.

[2018-06-12 19:12] tensorflowbutler commented on #17009
Nagging Assignee @protoget: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:12] tensorflowbutler commented on #17679
Nagging Assignee @ebrevdo: It has been 89 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #17729
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-06-12 19:13] tensorflowbutler commented on #17859
Nagging TensorFlower: It has been 59 days with no activity and the `awaiting tensorflower` label was assigned. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #17978
Nagging Assignee @shivaniag: It has been 74 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18133
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:13] tensorflowbutler commented on #18237
Nagging Assignee @chsigg: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18280
Nagging Assignee @andrewharp: It has been 59 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18296
Nagging Assignees @martinwicke, @gunan: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18405
Nagging Assignee @MarkDaoust: It has been 60 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18478
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:13] tensorflowbutler commented on #18490
Nagging Assignee @aselle: It has been 44 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18493
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:13] tensorflowbutler commented on #18802
Nagging Assignees @karmel, @fchollet: It has been 48 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:13] tensorflowbutler commented on #18858
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:14] tensorflowbutler commented on #18932
Nagging Assignee @rohan100jain: It has been 29 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:14] tensorflowbutler commented on #18947
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:14] shashishekhar commented on #19275
@deeppandya  There was a brief performance regression that slowed down convolutions, the regression has been fixed. Can you try again if you are still seeing the behavior with master.

[2018-06-12 19:14] tensorflowbutler commented on #19026
Nagging Assignee @petewarden: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:14] tensorflowbutler commented on #19244
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:14] tensorflowbutler commented on #19253
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:14] tensorflowbutler commented on #19389
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:14] tensorflowbutler commented on #19511
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:14] tensorflowbutler commented on #19517
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:14] tensorflowbutler commented on #19554
Nagging Assignee @shivaniag: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:15] tensorflowbutler commented on #19589
Nagging Assignee @jart: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:15] tensorflowbutler commented on #19593
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-12 19:15] tensorflowbutler commented on #19595
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-12 19:20] 1vn commented on #19517
yes

[2018-06-12 19:22] wedesoft commented on #15136
Not sure whether it will help others but I managed to install Tensorflow as follows:
[code]

[2018-06-12 19:45] Arvinds-ds opened #19954 "Support compression_type for tf.contrib.data.make_csv_dataset, CsvDataset"
Currently `TFRecordDataset` and `TextLineDataset` support `compression_type` for reading compressed CSV/Tfrecords files. However the newer `make_csv_dataset` and `CsvDataset` do not support compression_type. Request tou to support the `compression_type` feature.

[2018-06-12 20:01] shashishekhar commented on #19760
@bigbao9494 I would suggest to use: 'org.tensorflow:tensorflow-lite:0.1.7'. instead of  'org.tensorflow:tensorflow-lite:+'
which pins the tensorflow lite version to use. This should not attempt to download a new version.

[2018-06-12 20:01] #19760 closed

[2018-06-12 20:11] terrykong commented on #19952
I've thought of using Dataset.batch (and even Dataset.padded_batch), to batch num_workers and then tf.contrib.data.unbatch() them, but the shapes don't match, i.e., [batch_size, max_seq_len_1] and [batch_size, max_seq_len_2], not to mention it is a lot of extra work to batch() -> unbatch -> rebatch().

[2018-06-12 20:15] isaacsultan opened #19955 "(tensorboard) TypeError: __new__() got an unexpected keyword argument 'file'"
# System information

    Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
    Yes
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
    Windows 10
    TensorFlow installed from (source or binary):
    binary
    TensorFlow version (use command below):
    1.8.0
    Python version:
    3.5
    Bazel version (if compiling from source):
    G

[2018-06-12 20:59] #19951 closed

[2018-06-12 21:02] ashermancinelli commented on #19951
Fixed by removing the quotes around the tensor/op names.

[2018-06-12 21:12] Davidnet opened #19956 "Problems while compiling lite on arm64"
Hello everyone! I'm encountering this error compiling tensorflow r1.9 (which can help to the official release):
[code]

I had no problem compiling 1.8, it seems that something was broken in that branch. Any solution ?

[2018-06-12 21:15] reedwm commented on #18213
There is an internal bug assigned to me to allow for explicit padding. After explicit padding is implemented, it would be easy to add other other padding modes like a `SAME_RESNET` mode. Although I'm not sure the API team would want to add more padding modes.

The reason I haven't prioritized explicit padding is that I saw no performance gain in tf_cnn_benchmarks of using explicit padding to conv2

[2018-06-12 21:36] Chasearmer opened #19957 "tf.dynamic_partition cannot have dynamic num_partitions"
I am attempting to use `tf.dynamic_partition` as so:
`tf.dynamic_partition(features, membership, tf.reduce_max(membership))`
Unfortunately, however, it is throwing this error

Can `tf.dynamic_partition` not receive a dynamic input for num_partitions?

[2018-06-12 21:43] #19385 closed

[2018-06-12 21:43] #19657 closed

[2018-06-12 21:53] aselle commented on #19260
Well I agree we should fix array_ops.cc too, but you don't just need to fix the -1 case right? you need to fix -2 because otherwise you'll mill -2 which also needs the same treatment. Also, you have to consider that s may be a tensor itself so you can't actually compare it to 1 with an if condition. So you may need to do this:
[code]

[2018-06-12 22:00] danielepolencic commented on #19892
Same here.

[code]

Running the following script: https://github.com/yu-iskw/tensorflow-serving-example/blob/master/python/train/mnist_custom_estimator.py

I'm running it in Distributed Tensorflow using Kubernetes on a shared filesystem (NFS). I can confirm that the PS and master can see the same files such as checkpoints.

[2018-06-12 22:03] suharshs commented on #19931
You are trying to convert a quantized model so you need to change the input flags used as the error message says:
[code]

You should pass
[code]

To toco if running quantized.

[2018-06-12 22:04] suharshs commented on #19936
The create_training_graph and create_eval_graph rewrite the graph and adds variables the graph. The added variables are added in a variable scope under the hood. So when you make an explicit outer variable_scope the issue seems to be resolved, right?

In practice, we try to separate training and eval graphs to avoid variable scopes and reuse issues. You can do this by either implementing an estima

[2018-06-12 22:05] aiff22 commented on #15554
We are recently doing phone ai benchmarking and checking the support of NNAPI on various android devices. The situation is now quite sad: in brief, only Huawei phones with Kirin's 970 NPU have drivers for it, while other devices are still lacking them. In general, the situation with TFLite/NNAPI is even more curious:

1) TF Lite is ~1.5-2 times slower and consumes ~1.5-2 times more RAM than TF Mob

[2018-06-12 22:18] guptapriya opened #19958 "Support init_from_checkpoint and warm start with Distribution Strategy"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-06-12 22:31] bstriner commented on #11756
@hongzimao @sy2737 I think you guys were on the right track originally, just didn't debug things quite correctly. You wanted `a-inf_mask`, not multiply. The second solution posted above is still dangerous. stable softmax should be `e^(a-max(a))`.

The key is that `exp(-inf)==0`, `max(a, -inf)==a` and `a-inf==-inf`. Unfortunately, `0*inf==nan`, so making the mask correctly is tricky.

Two most nume

[2018-06-12 22:44] guptapriya commented on #19958
cc @josh11b @yuefengz @allenlavoie

[2018-06-12 22:49] #18536 closed

[2018-06-12 22:58] kryczko opened #19959 "Evaluate network first, and then apply gradients"
Dear TensorFlow team,

I believe I have hit a limitation of TensorFlow and was wondering if you (or the community) could assist me. I am trying to initialize a graph with a topology from the paper seen here: https://arxiv.org/abs/1708.06686. In this paper, one splits an image into tiles (which can overlap) and has some sort of network for each tile. The output of each network is then summed to obt

[2018-06-12 23:05] robieta commented on #19935
This strikes me as reasonable. Can you check on bazel v0.12 first? And if it still fails I'll ping someone in build.

[2018-06-12 23:15] robieta commented on #19910
Hm. It looks those functions predate the Initializer class; however unifying that API would be nice.
@annarev Can this be done without breaking backwards compatibility guarantees?

[2018-06-12 23:20] robieta commented on #19795
Could you reopen this issue in the `tensorflow/models` repo issues?

[2018-06-12 23:20] #19795 closed

[2018-06-12 23:32] ruanjiandong commented on #9525
@allenlavoie , I took another look at the build failure. Those tests actually need jpeg_* symbols from libjpeg.so, not libtensorflow_framework.so. Without my change, bazel will produce both static and dynamic libjpeg library for test build.

I made a new change which use ld version script to selectively hide jpeg symbols when linking libtensorflow_framework.so. With the new change, all the tests p

[2018-06-12 23:34] #19716 closed

[2018-06-12 23:45] peidaqi commented on #19910
This should be very straightforward as just wrapping the glorot initializers in a class inherited from Initializer, and then overriding the __call__ to provide a default partition_info=None.

This parameter is not used in current implementation anyway. Though I assume it will be in the future to have consistent behavior with other initializers.

To tensortflowbutler,
The information requested is n

[2018-06-13 00:18] huangynn commented on #19513
@guptapriya  yeah, fixes

[2018-06-13 00:28] guptapriya commented on #19513
Great, I will resolve this issue then as this fix should be in release 1.9 which is now out. Thanks for reporting! Please file another issue for hooks if this is still an issue.

[2018-06-13 00:28] #19513 closed

[2018-06-13 00:43] Chasearmer opened #19961 "compute_output_shape() Not Working For Custom Layer"
I have created a custom layer (called GraphGather) in Keras, yet the output tensor prints as :

For some reason the shape is being returned as (?,?), which is causing the next dense layer to raise the following error:

The GraphGather layer code is as follows:
[code]
I have also tried hardcoding compute_output_shape to be:
[code]
Yet the output tensor when printed is still

which causes the ValueE

[2018-06-13 01:01] MrWanter opened #19962 "object detection API: tf profiler incompatible shape"
I was trying to add profiler to the existing tensorflow object detection API, the following part of code is added to https://github.com/tensorflow/tensorflow/blob/dfa0f87e333c63277b7916a8ac4c56bf61daf1ac/tensorflow/contrib/slim/python/slim/learning.py#L489

[code]
but when I was trying to run the training for resnet_101_coco with no other changes, the training progress with no error, but the profi

[2018-06-13 01:07] tensorflowbutler commented on #19939
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 01:07] tensorflowbutler commented on #19944
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 01:19] arthr commented on #19435
@matthew-mcateer  I tried this and it did not work

[2018-06-13 01:33] EdwardVincentMa commented on #19906
@tensorflowbutler  No one answer me...

[2018-06-13 01:59] #11113 closed

[2018-06-13 02:37] baihualinxin commented on #19931
./tensorflow/contrib/lite/builtin_op_data.h:122:9: warning: empty struct has size 0 in C, size 1 in C++ [-Wextern-c-compat]
typedef struct {
        ^
./tensorflow/contrib/lite/builtin_op_data.h:125:9: warning: empty struct has size 0 in C, size 1 in C++ [-Wextern-c-compat]
typedef struct {
        ^
./tensorflow/contrib/lite/builtin_op_data.h:161:9: warning: empty struct has size 0 in C, size 1 i

[2018-06-13 02:54] guohengkai commented on #17984
@andrehentz Thanks for your kind response. Indeed I have frozen my graph. The codes I provided are just for network structure.

[2018-06-13 03:20] yangxudong commented on #17736
yes, it is an issue

[2018-06-13 03:22] dhwajraj opened #19965 "[feature request] Quasi recurrent neural networks (QRNN) in tensorflow"
It would be cool to have native Quasi recurrent neural networks (QRNN) implementation included in the tensorflow package.

Following is the paper : Bradbury, James, et al. "Quasi-recurrent neural networks." arXiv preprint arXiv:1611.01576 (2016). [link](https://arxiv.org/pdf/1611.01576)
It is claimed in the paper that QRNN is 14-16x faster than cudnn_lstm while giving same accuracies.

reference :

[2018-06-13 03:37] renminio commented on #19716
@cableyang,

I'm here. I notice you are in CN region, we have active forum here.
https://www.tensorflowers.cn/

As for knowledge discussion, I would prefer you go to forum or mail list. Github issues are more for tracking feature requests, issues etc.

[2018-06-13 03:49] pawarrick opened #19967 "GPU OOM with Keras and Estimator, fine with Keras alone"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows10
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: tensorflowGPU_1.7
- **Python version**: 3.5.4
- **Bazel version (if compiling from source)**:

[2018-06-13 04:36] mrry commented on #19948
If a random-number–generating op such as `tf.random_uniform()` is created without an explicit `seed` argument, then TensorFlow [uses the current number of nodes in the graph](https://github.com/tensorflow/tensorflow/blame/master/tensorflow/python/framework/random_seed.py#L68) as part of the seed. Therefore, adding any op, including a `tf.reshape()` prior to a random-number–generating op may change

[2018-06-13 04:36] #19948 closed

[2018-06-13 04:39] DeepakPawar1 commented on #17199
How did you remove this error. I am facing a similar error
@skye

[2018-06-13 04:44] DeepakPawar1 commented on #17199
File "C:\Users\DELL\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\tensorflow\python\training\saver.py", line 1338, in __init__
    self.build()
  File "C:\Users\DELL\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\tensorflow\python\training\saver.py", line 1347, in build
    self._build(self._filename, build_save=True, build_restore=True)
  File "C:\Users\DELL\AppDa

[2018-06-13 04:59] DeepakPawar1 opened #19968 "Error raised in renaming the chekpont files while converting tensorflow to tflite. an i/o error"
Error and logs:-
%run "C:\Users\DELL\Desktop\iris\final_project\Machine Learning\tfl.py"
[[ 70.   1.   4. ...,   2.   3.   3.]
 [ 67.   0.   3. ...,   2.   0.   7.]
 [ 57.   1.   2. ...,   1.   0.   7.]
 ...,
 [ 56.   0.   2. ...,   2.   0.   3.]
 [ 57.   1.   4. ...,   2.   0.   6.]
 [ 67.   1.   4. ...,   2.   3.   3.]]
[2 1 2 1 1 1 2 2 2 2 1 1 1 2 1 1 2 2 1 1 2 1 1 1 1 1 1 1 2 1 2 1 1 2 2 2 2

[2018-06-13 05:15] sekharvth opened #19969 "Is there a way to load a TF graph just once, and run it multiple times?"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Windows 10 Home, running TF on Colab and on VM on GCP.

- **TensorFlow installed from (source or binary)**:

Binary
- **TensorFlow version (use command below)**:

1.8.0
- **Python version**:

3.6.5
- **Baze

[2018-06-13 05:28] 372046933 commented on #3467
By the way,  what does devel mean in nightly-devel-gpu-py3? Does it mean development release or this release is for tensorflow development?

[2018-06-13 05:49] aureosun opened #19970 "Install OSError: [Errno 13] Permission denied:"
I'm trying to install tensorflow on my ubuntu os. The configuration of my machine is ubuntu14.04LTS ,NVIDIA K40*8 gpu,cuda8.0 with cudnn6.0.First,I install with Virtualenv,I follow the instructions on **https://www.tensorflow.org/install/install_linux#installing_with_virtualenv** step by step,
but after the last step,I got the error:
_

_
What's the matter?

[2018-06-13 05:51] PrinceP commented on #19735
Hi @suharshs,
Can you also point out the kernel implementations you are looking for the SpaceToBatchND ?
Would be good understanding pointer.
Thank you

[2018-06-13 05:52] baihualinxin opened #19971 "Pd turns tflite to report all kinds of errors. Have you done the test?"
Download the network model

MobileNet_v1_1.0_224_quant

https://github.com/tensorflow/models/blob/master/research/slim/nets/mobilenet_v1.md
Turn tflite error

bazel run toco --
--input_file=/Users/dchealth/Desktop/mobilenet_v1_1.0_224_quant/mobilenet_v1_1.0_224_quant_frozen.pb
--output_file=/Users/dchealth/Desktop/mobilenet_v1_1.0_224_quant/mobilenetnew.tflite
--input_format=TENSORFLOW_GRAPHDEF
--

[2018-06-13 05:54] achraf-boussaada commented on #19795
@robieta done [#4517](https://github.com/tensorflow/models/issues/4517)

[2018-06-13 06:05] appyfizzA commented on #5694
@happyharrycn Also, if nn.moments were not returning negative variance, we could give axes as [0,1,2,3] for 5D tensors and 3D convolutions, right? Because nn.batch_normalization takes tensors of any size.

[2018-06-13 06:10] nikita68 commented on #17199
The error is gone when you update to tf version 1.7 or above for me

[2018-06-13 06:21] saudet commented on #19676
Ah, that's because TensorFlow doesn't seem to build with Xcode 7.3 anymore, but it still works fine with Xcode 8.3. For reference, here is my collection of patches and workarounds to build for Mac with CUDA that work with TensorFlow 1.9.0-rc0:
https://github.com/bytedeco/javacpp-presets/blob/master/tensorflow/cppbuild.sh#L131

[2018-06-13 06:28] chintler commented on #14048
I'm facing the same issue.

I have
Geforce GTX 1050Ti
Tensorflow 1.8.0
CUDA 9.0
cuDNN 7.0
No process is occupying the GPU, and rebooting has no effect. The last time this stopped working, it was a user rights problem, and disappeared when I added my user to nvidia-persistenced. User is probably not the issue, since it won't work with sudo either. Please help.

[2018-06-13 06:35] HannH commented on #19621
I am working on this bug, found it happend after adding RMS optimizer: "RMSProp/update_Variable/SparseApplyRMSProp/xx"
in the graph, the embedding operator then was bound to CPU though it has been bound to GPU.
before add rms:
embedding_lookup: (Gather): /job:localhost/replica:0/task:0/device:GPU:0
after add rms:
embedding_lookup: (Gather): /job:localhost/replica:0/task:0/device:CPU:0
According to

[2018-06-13 06:42] anouaradyel2 commented on #19939
Hello,

I am having exactly the same problem. with the same error message.
Is that due to my non use of GPU? (my programmes run only on my CPU because i work on simple objects and few data)

[2018-06-13 06:49] tensorflowbutler commented on #19956
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 06:49] tensorflowbutler commented on #19957
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 06:49] tensorflowbutler commented on #19959
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 06:54] mfxss opened #19973 "How to add a threshold in softmax scores"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Windows
- **TensorFlow installed from (source or binary)**:
binary
- **TensorFlow version (use command below)**:
1.8
- **Python version**:
3.6
- **Bazel version (if compiling from source)**:
- **GCC/Compiler

[2018-06-13 07:02] MrWanter opened #19974 "profiler op view: how to interpret the two numbers of (xx%, xx%) in the output"
Hi! I'm using the tf profiler, a typical output for the `op` view with the code:
[code]
would be
[code]
but I really cannot figure out what the two percent numbers in the output means, I googled it a while, no lucky, when I tried to read the source code of profiler, I find it wrapped too heavy...

[2018-06-13 07:20] tonyxty commented on #19948
Thanks for the info!

[2018-06-13 07:24] yasuhitotsu opened #19975 "Runtime Error on TFLite Sample App"
### System information
* Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04.4 LTS
* TensorFlow installed from (source or binary): pip/binary
* TensorFlow version (use command below): 1.8.0
* Python version: 3.5.2
* Bazel version (if compiling from source): N/A
* CUDA/cuDNN versi

[2018-06-13 07:29] yanwii commented on #16969
yeah, we tested it tonight, and it worked fine! Thx !

[2018-06-13 07:33] mathlf2015 commented on #10240
i met the same problem, have you solve this problem,please give me some advices,thanks!!

[2018-06-13 07:35] sanoguch commented on #18731
I saw the same issue. Our models are created by keras.
It looks TOCO assumes that merge node is immediately after switch node, but in our models, there are several nodes between switch and merge.

I fixed as below and it works for our models. I am not sure it also works for others' models.

[resolve_tensorflow_switch.patch.zip](https://github.com/tensorflow/tensorflow/files/2097006/resolve_tensorf

[2018-06-13 07:37] XiaoYigwr commented on #12478
When I use the keras==1.2.0, I have got the same problem. Fortunately,  the issue was solved after I upgrade the tensorflow from 1.2.0 to 1.3.0 .

[2018-06-13 07:38] DeepakPawar1 commented on #17199
how to update tf to 1.7 version

On 13 June 2018 at 11:44, nikita68 <notifications@github.com> wrote:

[2018-06-13 07:38] XiaoYigwr commented on #7842
When I use the keras==1.2.0, I have got the same problem. Fortunately,  the issue was solved after I upgrade the tensorflow from 1.2.0 to 1.3.0 .Maybe you can have a try

[2018-06-13 07:44] DeepakPawar1 commented on #17199
Actually when I check tf.__version__ it gives me 1.8.0 as version

[2018-06-13 07:56] jrabary commented on #19958
duplicate https://github.com/tensorflow/tensorflow/issues/19744

[2018-06-13 08:06] jizhidezhaojun commented on #15401
my tensorflow version is 1.8.0,but still show this error ,
module 'tensorflow.contrib' has no attribute 'lite',
have no idea...

[2018-06-13 08:17] nikita68 commented on #17199
I'm not sure that this is the same error. It looks like you have an "Access is denied." error in there, I think the folder where you're saving the checkpoints doesn't have the correct access rights.

[2018-06-13 08:21] #19907 closed

[2018-06-13 08:28] adler-j commented on #16864
Is there any chance for an update on this? This bug is basically rendering a lot of my old code un-usable since it takes weeks to run it. And dropping the clipping changes its behavior.

[2018-06-13 08:28] sandipmgiri commented on #19935
@robieta  Tried to run this test with bazel v0.12.0 , but it's still failing.

[2018-06-13 08:33] sandipmgiri commented on #19835
@skye @gunan Could you please provide your comments on this.Thanks!

[2018-06-13 08:54] KeyKy opened #19981 "Feature Request: erosion and dilation such as scipy.ndimage.grey_erosion and scipy.ndimage.grey_dilation"
tf.image.erosion and tf.image.dilation. I find tf.nn.dilation2d is too slow when the kernel size is [20,20,1].

[2018-06-13 08:55] DeepakPawar1 commented on #17199
how to change the folder

On 13 June 2018 at 13:50, nikita68 <notifications@github.com> wrote:

[2018-06-13 09:02] mohsinali722 commented on #19873
@tensorflowbutler ,  I don't know where to fill the fields you asked. So I am providing you information about these fields here:
Have I written custom code:    yes
OS Platform and Distribution:   Windows 10
TensorFlow installed from:      using pip
TensorFlow version:    1.7.0
Bazel version:   N/A
CUDA/cuDNN version:   8.0
GPU model and memory:     memory 24 GB
Exact command to reproduce  N/A

[2018-06-13 09:03] mohsinali722 commented on #19873
@tensorflowbutler
Please help to implement my idea about pooling.
Regards

[2018-06-13 09:10] tcmxx commented on #19944
System information
Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10
TensorFlow installed from (source or binary):
pip and built from coursecode
TensorFlow version (use command below):
1.8.0
Python version:
3.6
Bazel version (if compiling from source):
0.14.1
GCC/Compiler version (i

[2018-06-13 09:18] Interstella12 commented on #17702
same issue, 1.8.0 and python 3.6.5.
And solved with @taixhi 's method. thanks

[2018-06-13 09:19] shiftsayan opened #19982 "Can't allocate memory for the interpreter in tflite"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Nope, using tensorflow-for-poets
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: macOS High Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 1.7.1
- **Python version**: Python 2.7.10
- **Bazel vers

[2018-06-13 09:29] Davidnet commented on #19956
Have I written custom code: No
OS Platform and Distribution: Xenial
TensorFlow installed from: source
TensorFlow version: 1.9
Bazel version: 0.14.1
CUDA/cuDNN version: 9.0/7.0
GPU model and memory: Tegra X2
Exact command to reproduce: N/A

[2018-06-13 09:32] jiefangxuanyan commented on #15767
A simple solution could be just specify endianness in numpy dtype:
[code]

[2018-06-13 10:22] 4rshdeep commented on #18744
Is this supported now? I am facing the following error when I tried to create tensorrt optimized graph using
`trt_graph = trt.create_inference_graph(graph_def, ['num_detections', 'detection_boxes', 'detection_scores', 'detection_classes'], max_batch_size=batch_size, precision_mode=precision_mode)` for ssd_mobilenet_v1_coco from object detection model zoo.

[code]

[2018-06-13 11:05] CoCa520 commented on #15122
@andrehentz @
how can I run iOS camera demo with float .lite file？

[2018-06-13 11:05] chsigg commented on #3332
Sorry for the large delay on this issue. I will start working on implementing support for grouped convolutions  very soon.

[2018-06-13 11:10] chsigg commented on #19222
Sorry for the delay. Yes, this looks like an omission. I will get to it soon.

[2018-06-13 11:18] chsigg commented on #19690
Hi luanyunteng, what version of CUDA and NCCL are you using?

Have you tried running other NCCL ops. I'm trying to figure out if only this particular op is affected, or if it's a general problem with you NCCL setup.

[2018-06-13 12:25] japer21 opened #19986 "Caused by: java.lang.IllegalArgumentException: Expects arg[0] to be uint8 but float is provided"
Caused by: java.lang.IllegalArgumentException: Expects arg[0] to be uint8 but float is provided

I am developping on Android Studio and the model input is : Found 1 possible inputs: (name=image_tensor, type=uint8(4), shape=[?,?,?,3])

In my android code what I am trying to get is the array float of the values of pixels of an image stored as Bitmap and then I am trying to feed the model. I am getti

[2018-06-13 12:55] tensorflowbutler commented on #19961
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 12:55] tensorflowbutler commented on #19962
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 12:55] tensorflowbutler commented on #19968
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 12:55] tensorflowbutler commented on #19970
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 13:14] plaffitte commented on #18736
Same error here, even though my model only has 144.340 parameters. I have 10 GB of GPU RAM and I get the error message:

W tensorflow/core/framework/allocator.cc:101] Allocation of 589824000 exceeds 10% of system memory

[2018-06-13 13:28] ppwwyyxx commented on #19578
leave them as N/A

[2018-06-13 13:38] whyboris commented on #18858
I suspect this is a possible answer:
https://stackoverflow.com/questions/40146428/show-training-and-validation-accuracy-in-tensorflow-using-same-graph
But it would be great if we could do this without having to custom-write code.
I think it's particularly informative to see how the _validation set_ is performing compared to the _training set_.
Could this be a simple toggle/view/filter (unsure what

[2018-06-13 13:40] ppwwyyxx commented on #19578
1. was fixed in https://github.com/tensorflow/tensorflow/commit/d5a71ef8355ebb8d983c5e7f5b1e840cf2d00c17

[2018-06-13 14:09] pawarrick commented on #19967
Also, I see the same behaviour with tensorflowGPU_1.9rc0

Thanks for looking into this.

[2018-06-13 14:12] ppwwyyxx commented on #18213
Thanks! Looks like I found the right person.
Explicit padding would be nice. Surprised to know that there is no gain over `tf.pad`. Speaking of performance, another potential issue with the current "SAME" mode is that it does padding twice (one explicitly with `functor::PadInput` and one with cudnn) in order to pad [2, 3]. But in the hypothetical new mode, only one cudnn call is needed to pad [3,

[2018-06-13 14:13] twangnh opened #19988 "Official profile python API not work on the official mnist example"
Hi! I was using the official minist summaries example which uses run_metadata to track model runtime statistics:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/mnist/mnist_with_summaries.py

I tried to add simple profiler python API as suggest by

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/profiler/g3doc/python_api.md

So, my code is:

[2018-06-13 14:14] jlaako opened #19989 "S3 backend request fails on small object (at least) against Minio S3 storage implementation"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Debian 9 (Stretch)
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: v1.8.0-5-gcfd0ea3bfb 1.8.0
- **Python version**: 3.5.3
- **Bazel version (if compili

[2018-06-13 14:33] pillarpond commented on #19949
I'm not sure that the issue is exactly same with my case.
But I saw same error msg and have made pull request #19226.
The request is not reviewed yet.

[2018-06-13 14:33] emaballarin commented on #19924
Fixed by #19942. I'm closing the issue.

[2018-06-13 14:33] #19924 closed

[2018-06-13 15:06] spivakoa commented on #19909
You are right, it's not a bug in the code, however,  there is no explanation on this issue anywhere in Tensorflow C++ API documentation. I consider it a serious issue, as I am left guessing what should be done in order to get my code working.
Despite StackOverflow being a bigger community, there are no dedicated persons to deal with those specific issues. My question there remains unanswered and a

[2018-06-13 15:21] skbhat opened #19991 "Incorrect name returned in Tensorflow causes “Tensor which does not exist” error while invoking get_tensor_by_name"
As per the [documentation](https://www.tensorflow.org/programmers_guide/graphs#naming_operations) TensorFlow would append "_1", "_2", and so on to the name in tf.Graph namespace, in order to make it unique. Here I define two convolutional operations. It is expected that the first one will be named as "conv2d" and second one "conv2d_1". But when I try to obtain the name of the second convolution it

[2018-06-13 15:42] andrewginns commented on #19267
Any update on this? I have the same problem

[2018-06-13 15:47] PavelPr opened #19992 "The DepthwiseConv2dNative() function ignores the dilations argument"
Hi!

I am using Tensorflow v1.7.0.

I am invoking the DepthwiseConv2dNative() function with a dilations argument that is [1, 2, 2, 1]. Despite of this, the dilations value is being ignored.

Looking at the tensorflow source code, it is evident that the dilations argument is presumably being disregarded (depthwise_conv_op.cc, around line 400) in both CUDNN and non-CUDNN scenarios. Yet, there is no

[2018-06-13 15:49] dsmilkov commented on #17867
Closing it since for dim>50, we do approximate PCA/T-SNE and show an icon on the UI that this is approximate.

[2018-06-13 15:49] #17867 closed

[2018-06-13 15:59] josh11b commented on #10370
This seems like a real bug, we should be using a numeric serialization that will round trip independent of the locale settings.

[2018-06-13 16:03] scottcjt commented on #19936
Yes, if there is an outer variable scope, `create_xxx_graph` correctly creates (or reuse) min/max vars. IMHO the behavior is weird, but since it is a `reuse=True` issue and there is workaround, I can live with it...

Let me recap the points in mobilenet scripts you provided: create separate graphs for training and eval graph to avoid scope issues. Variable contents are shared between two graphs by

[2018-06-13 16:08] karmel commented on #19909
Thanks, @spivakoa for clarifying-- if this is specifically a request for documentation, we can address that. Can you clarify what function/process you feel lacks documentation? A link would help.

[2018-06-13 16:15] drpngx commented on #19621
So there is code to colocate gradients and variables, is that causing the problem?

Anyway, the way I would do this is to try and compare the working optimizer vs the non-working ones and see what the difference is. I'm not sure right now what exactly that is. Even if it's bound on another device it shouldn't return different results.

[2018-06-13 16:17] drpngx commented on #14584
It seems to be a tf cond issue. @skye added a new tf cond implementation based on the functional op. Maybe you can try that?

[2018-06-13 17:04] yjl9122 commented on #18222
@isaprykin Could you tell us how to implemented it?

[2018-06-13 17:08] reedwm commented on #18213
`functor::PadInput` will still be needed in some cases. cudnn only allows equal padding on both sides. It is possible to sometimes allow the left-padding to be slightly larger than the right-padding with cudnn, so in some cases, we might not need `functor::PadInput` when the padding is [3, 2]. But, when I measured the performance of `tf_cnn_benchmarks` with explicit padding, I didn't implement tha

[2018-06-13 17:39] shashishekhar commented on #15554
@aiff22
Thank you for the report.

Which model are you benchmarking on these devices.

Are you using the Java API?
 - TF Lite being 1.5- 2 times slower seems unlikely, I want to make sure if you are setting the number of threads correctly. We recently added this to our Java API, please give it a try.
- Java API is slower if you are not using ByteBuffer, there is a warning in the Javadoc about this

[2018-06-13 18:08] Chasearmer commented on #19961
Have I written custom code: Yes
TensorFlow installed from: Conda
Bazel version: NA
CUDA/cuDNN version: NA
GPU model and memory: NA
Exact command to reproduce: Written above

[2018-06-13 18:09] Chasearmer commented on #19957
Have I written custom code: Yes
OS Platform and Distribution: Linux Ubuntu 16.04
TensorFlow installed from: Conda
TensorFlow version: 1.5.0
Bazel version: NA
CUDA/cuDNN version: NA
GPU model and memory: NA
Exact command to reproduce: Written above

[2018-06-13 18:38] towcar commented on #19526
What was the solution?

[2018-06-13 18:44] ppwwyyxx opened #19996 "Feature Request: untruncated normal in variance scaling initializer"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: N/A
- **TensorFlow installed from (source or binary)**: N/A
- **TensorFlow version (use command below)**: N/A
- **Python version**: N/A
- **Bazel version (if compiling from source)**:N/A
- **GCC/Compiler vers

[2018-06-13 18:48] #15237 closed

[2018-06-13 18:48] ppwwyyxx commented on #16344
#18854 adds variance correction for truncated normal. Before it the stddev is before truncation. Now the stddev is after truncation. I guess this has answered your confusion.

[2018-06-13 18:49] alsrgv commented on #18841
@reedwm, @martinwicke, looks like this issue is breaking custom operators on TensorFlow-GPU.  TensorFlow 1.8.0 did not have this issue.  Can XLA compiler headers be bundled into the wheel file?

[2018-06-13 18:56] spivakoa commented on #19909
It is in the name of the topic: How can I run inference on batch of images instead of a single one?
In my code example above I showed how I "fill" an input 4-D Tensor with pixel values.
Here it is:
// creating a Tensor for storing the data
Tensor input_tensor(tensorflow::DT_UINT8, tensorflow::TensorShape({ batchSize, input_height, input_width, input_depth}));
auto input_tensor_mapped = input_tenso

[2018-06-13 18:56] martinwicke commented on #18841
@case540

Did we remove some headers form the pip? Can we add them back in RC1?

[2018-06-13 18:57] angersson commented on #19926
Yes, please file this against the tensorboard repository: https://github.com/tensorflow/tensorboard/issues. Thanks!

[2018-06-13 18:57] #19926 closed

[2018-06-13 18:57] angersson commented on #19974
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-06-13 18:57] #19974 closed

[2018-06-13 18:58] tensorflowbutler commented on #19974
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 18:58] tensorflowbutler commented on #19981
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-13 18:58] tensorflowbutler commented on #16087
Nagging Assignee @xiejw: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:58] tensorflowbutler commented on #17851
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-13 18:58] tensorflowbutler commented on #17995
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:58] tensorflowbutler commented on #18044
Nagging Assignee @ispirmustafa: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] tensorflowbutler commented on #18238
Nagging Assignee @bignamehyp: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] tensorflowbutler commented on #18880
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] tensorflowbutler commented on #19247
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] tensorflowbutler commented on #19378
Nagging Assignee @karmel: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] tensorflowbutler commented on #19383
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-13 18:59] tensorflowbutler commented on #19390
Nagging Assignee @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] karmel commented on #19909
@MarkDaoust - perhaps running inference would be a good notebook to include with the set of examples?

[2018-06-13 18:59] tensorflowbutler commented on #19391
Nagging Assignees @michaelisard, @poxvoculi: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 18:59] tensorflowbutler commented on #19444
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-13 18:59] tensorflowbutler commented on #19481
Nagging Assignee @tatatodd: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 19:00] tensorflowbutler commented on #19522
Nagging Assignee @tatatodd: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 19:00] tensorflowbutler commented on #19529
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-13 19:00] tensorflowbutler commented on #19586
Nagging Assignee @aselle: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 19:00] tensorflowbutler commented on #19587
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-13 19:00] tensorflowbutler commented on #19608
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-13 19:00] tensorflowbutler commented on #19625
Nagging Assignees @petewarden, @aselle, @andrehentz: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 19:00] tensorflowbutler commented on #19626
Nagging Assignee @rohan100jain: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-13 19:11] aiff22 commented on #15554
@shashishekhar

Thank you for a fast reply. Yes, we are using Java API (with ByteBuffer), setting #threads wasn't available just recently, so it was set to some default number. We will try to play around it now and will let you know whether this will lead to better performance. However, most likely this won't solve the issue with RAM, and we guess that those two might be connected to each other.

[2018-06-13 19:16] mjmatthews commented on #19260
I believe we're ok in the -2 case. The existing code should produce:
[code]
I think the s-1 case your pointing out would be for a negative stride, ie:
[code]
but since we pick the stride to be positive, we can always use s+1. These are the one case where the interval crosses zero, causing the logic to differ and requiring the use of end_mask.

I was unaware of s possibly being a tensor. If we're c

[2018-06-13 19:19] naibaf7 commented on #18841
@martinwicke I think pre-TensorFlow 1.8, these XLA headers were not referenced by code outside of XLA, but now they are.

[2018-06-13 19:19] Fabioluxx opened #19998 "Install Tensorflow x86 with pip"
Can i install tensorflow for python x86 with pip?

[2018-06-13 19:28] marshalhayes commented on #19998
Hi @Fabioluxx. By x86, do you mean Python running on Windows?

TensorFlow can be downloaded from pip in general. If you have pip installed, you should be able to download TensorFlow just fine by running `pip install tensorflow` regardless of platform.

Hope this helps.

[2018-06-13 19:29] marshalhayes commented on #19998
By the way, if pip isn't added to your path you can run it instead with `python -m pip install tensorflow`.

[2018-06-13 19:41] Fabioluxx commented on #19998
But it worked only when i uninstalled python x86 and installed python x64, otherwise a erro occurs like no version of tensorflow found and if i try to use install `pip3 install tensorflow== ` to see what versions are available, is empty

[2018-06-13 19:55] marshalhayes commented on #19998
According to the documentation, it appears that TensorFlow should work on almost any Windows system. They only support and test on 64-bit, x86 systems that are Windows 7 or later however.

I'm unsure of why it didn't work for you.  Did you read the documentation here?: [Install TensorFlow on Windows](https://www.tensorflow.org/install/install_windows)

[2018-06-13 20:02] Fabioluxx commented on #19998
Yes, i am using windows 10 x64

[2018-06-13 20:04] Fabioluxx commented on #19998
Conclusion: It only supports x64

After some search, here is the repository: https://pypi.org/project/tensorflow/#files
that only have x64 builds

[2018-06-13 20:12] marshalhayes commented on #19998
Yes, you are correct @Fabioluxx. TensorFlow only support 64-bit Python. See [TensorFlow not found using pip](https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip).

[2018-06-13 20:13] martinwicke commented on #18213
Once @reedwm's explicit padding is in, adding another constant to the API is not a problem. We should call it something other than "SAME_RESNET", maybe "VALID_STATIC"?

Before the fix, adding it may be too disruptive to be worthwhile, but I'll defer to Reed on that.

[2018-06-13 20:16] poxvoculi commented on #19391
We're looking into adding NUMA support to TF via extending the platform interface, rather than adopting a library that isn't universally supported.  The contemplated functionality is a subset of that provided by libnuma.  I'll update this thread when there's something definitive.

[2018-06-13 20:34] #19998 closed

[2018-06-13 21:54] wdirons commented on #19700
@smatzek shared some information on this defect with me. There is an issue in Eigen opened for this http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1494 dealing with minmax nan propagation. Sam provided a patch that fixed this problem: http://eigen.tuxfamily.org/bz_attachmentbase/attachment.cgi?id=831, but the patch that was integrated into eigen added #ifdef __VSX__, that doesn't appear defined in

[2018-06-13 22:32] #19858 closed

[2018-06-13 22:36] gunan commented on #19835
I see this happening, I am guessing other failures are similar:
[code]
@angersson @andrehentz any ideas?

[2018-06-13 22:36] bhack commented on #9105
@tensorflowbutler Can you count days with a cumulative approach excluding your posts? So instead of 14 days is 14+21+29+14=78 days. I think that it is more informative as notification.

[2018-06-13 22:37] skye commented on #19897
Hi @RylanSchaeffer, can you provide a small script to repro the problem? This will make it much easier to get started on this (at least to determine how much work it'll be to fix).

[2018-06-13 22:41] bhack commented on #9105
@drpngx What do you think? This approach was already adopted in `Nagging Assignee`.

[2018-06-13 22:49] andrehentz commented on #19835
Not sure what's going on. That file certainly has "#include <string>", and all the references seems to be to std::string.

[2018-06-13 23:11] bhack commented on #19584
@gunan Will this change with https://github.com/tensorflow/community/pull/2?

[2018-06-13 23:13] drpngx commented on #9105
Yeah that makes sense. @yifeif @av8ramit ?

[2018-06-13 23:31] bhack commented on #17950
@drpngx If @fchollet is it too busy I remember that also @yifeif had some work into `model_to_estimator`. Does the converter need to handle `update_ops`?

[2018-06-13 23:44] bhack commented on #17950
I meant in the automatic created model by `model_to_estimator` like https://github.com/tensorflow/tensorflow/issues/16455#issuecomment-373605644

[2018-06-13 23:51] yifeif commented on #9105
I think that is supposed to be the behavior by design (see comment on May 4, which says 29 days instead of 15 days). Not sure why it got regressed.

[2018-06-14 00:00] bhack commented on #9105
The origin was in https://github.com/tensorflow/tensorflow/pull/12408#issuecomment-373941577 but then something regressed with `awaiting response` label `but on `Nagging Assignee` it still performs well with the new behavior.

[2018-06-14 00:08] bhack commented on #9105
After solving this topic I think that we can close a bug on TF 1.0.1 after more then one year without response.
Remember the bottleneck theory and the "attention is all you need" :smile: or we will lost in the information noise expecially if you don't have enough bandwidth for all the `awaiting response` labels.

[2018-06-14 00:10] yifeif commented on #9105
I think I know why. Fixing this.

[2018-06-14 00:19] amirnetflix commented on #19657
Hi,

I have ` tf.data.Dataset.from_generator` in my code, and I get the exact same error while saving.
Does the graph become too big even by using generators?

Thanks

[2018-06-14 01:00] angersson commented on #19835
I saw this happen before when the namespacing was off. "string" is only defined inside of certain tflite and tensorflow namespaces. Could the failing code be outside of those?

[2018-06-14 01:01] tensorflowbutler commented on #19986
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-14 01:01] tensorflowbutler commented on #19988
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-14 01:01] tensorflowbutler commented on #19991
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-14 01:01] tensorflowbutler commented on #19992
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-14 01:30] cklsoft commented on #19892
Well, I have fixed it by using train_and_evaluate method instead of train.

[2018-06-14 01:47] asimshankar commented on #19657
@amirmazaheri1990 : No, that shouldn't be the case, so you might want to file a separate issue, including more details on what you're doing. Perhaps some other aspect of your program results in large constants embedded in the graph?

[2018-06-14 01:54] bhack commented on #9105
Can we close this?

[2018-06-14 02:37] gunan commented on #19584
In the short term that involves this immediate design, no.
However this design is a part of a larger effort that will bring back support for older CPUs.
That will likely take longer to implement.

[2018-06-14 02:55] MrWanter commented on #3268
@prb12 Hi! I'm wondering if the timeline memory analysis is currently able to capture more accurate memory statistics in the latest TF version?

[2018-06-14 02:55] jaiaravind4u commented on #19608
i had solved the issue

thanks

On Thu, Jun 14, 2018 at 12:34 AM Alfred Sorten Wolf <
notifications@github.com> wrote:

--
<https://about.me/jaiaravind?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_content=thumb>
Jai Aravind
about.me/jaiaravind
<https://about.me/jaiaravind?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=gmail_api&utm_conten

[2018-06-14 02:56] skbhat commented on #19991
@tensorflowbutler Thanks for the response.  Updated the original post with entries for the fields in the template.

[2018-06-14 03:02] MrWanter commented on #10769
@mrry Currently what is the suggest way for tracking down GPU memory usage ?

[2018-06-14 03:11] gunan commented on #19835
https://github.com/tensorflow/tensorflow/commit/980c390941853649bb56c4940a46f474eb97ed80 should fix a good bunch of these.
@sandipmgiri do you have logs from a more recent run?

[2018-06-14 03:30] wenhui7909 opened #20005 "tf lite demo throw the error: Op builtin_code out or range: 59"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: tensorflow 1.8
- **Python version**: 2.7
- **Bazel version (if compiling from source)**: 0

[2018-06-14 04:50] bibhu107 commented on #19526
@towcar  Well, I had not declared my softmax layer. If you are facing the same check if the node "output/softmax " exists or not.

[2018-06-14 04:55] Qsevent opened #20006 "C++ load and running Tensorflow Model Crash"
I use C++ load and running tensorflow model , but it`s crash.
the core is :
![304826260213283160](https://user-images.githubusercontent.com/19491069/41392235-15e627ce-6fd2-11e8-98c8-461d430ce05d.png)
please tell me how to solve it
Thinks!!!

[2018-06-14 05:04] NO-0044 commented on #10155
Seems warm_start parameter can only specify the variables to restore with single reg string or use  `var_name_to_vocab_info`. Is it possible to filter with a list, or we can choose to ignore the missing variables in old checkpoint.

[2018-06-14 06:00] struCoder commented on #17801
@HwangIkHwan
Thanks.

[2018-06-14 06:04] EdwardVincentMa commented on #19906
I sovled this problem， Because I Build tensorflow with Release version ， My own project is Debug version。 If I use Release，it  runs OK.

[2018-06-14 06:04] PariksheetPinjari909 commented on #18828
I also encountered this issue, but i use the python api tf.contrib.lite.toco_convert() to convert, any solution yet? Is it like it will work only with placeholder ?

[2018-06-14 06:07] KeyKy commented on #19981
I solved the problem using other ways. For now, it works well. Thanks!

[2018-06-14 06:07] #19981 closed

[2018-06-14 06:34] danielepolencic commented on #19892
fixed with `train_and_evaluate`.

[2018-06-14 07:37] EdwardVincentMa commented on #19898
I have sovled this program. If I ALL_BUILD with Debug version , this 1189 - Error' s program will apper. If I ALL_BUILD with Release version, it could build OK without this program.

[2018-06-14 07:38] EdwardVincentMa commented on #19898
But I need Debug Version.

[2018-06-14 08:04] RunningLeon commented on #7482
Any update on this issue?
Thanks.

[2018-06-14 08:15] amxineohp opened #20007 "non random operation should not change the graph random state(1.5 cpu python 2.7）"
Not sure why the random state changed for non random operation like tf.constant

`pip freeze|grep "python\|tensorflow"`
python-dateutil==2.7.2
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1

cat test.py
[code]
python test.py
/home/tom/pyenv/anti/local/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is de

[2018-06-14 08:18] Bowenwu1 commented on #14713
@GPhilo
Thank you for you reply. I still think TensorFlow should have more doc on **Transfer Learning**. Since seldom people train model from scratch, it's a quite common request.

[2018-06-14 08:19] peterlee0127 commented on #19956
This issue is GOOGLE_L4T Marco is 'not defined' in gcc on Jetson(build on Jetson). So, it will enter these section, then error happened.
A simple fix is here, but not good.
change
In tensorflow/contrib/lite/kernels/internal/optimized/depthwiseconv_uint8_3x3_filter.h
tensorflow/contrib/lite/kernels/internal/optimized/depthwiseconv_uint8.h
[code]
Because GOOGLE_L4T is not defined, so it will not ent

[2018-06-14 08:37] freedomtan commented on #19835
I had a PR that make all tflite **kernel tests** work https://github.com/tensorflow/tensorflow/pull/17700. Updated and added more fixes for new ones.

[2018-06-14 08:58] guoyaohua commented on #18736
@plaffitte Care of your date type, float32 or float 64, and if your optimizer need to save history grad, such as adam, it also make the need of RAM double.

[2018-06-14 08:59] kerolos commented on #3628
@barbolo . i did your suggestion to save delete Some Node and i saved the model correctly as pb format,
but unfortunately, when I run the model in c++ I got the same prediction results. furthermore, I used TFlearn to create my model in Tensorflow.
the layers that i used in TFlearn are (tflearn.layers.normalization.batch_normalization, max_pool_2d, conv_2d, dropout)

# **The code in python:**

def

[2018-06-14 09:11] krishngithub commented on #19969
have requirement on similar lines, at the inference time would like to have same(fixed) graph which to be executed for different run time inputs. Currently graph is getting loaded for each request which is over head and taking 1 sec more for every request

for eg: we have below approx wrapper which will be called in by webserver via POST/GET at runtime.
[code]
now we are looking for a way where we

[2018-06-14 09:26] sandipmgiri opened #20008 "//tensorflow/python:cost_analyzer_test test fails on ppc64le"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source
- **TensorFlow version (use command below)**:
      TF master
- **Python version**:
     Python 2.7.

[2018-06-14 09:34] David-Mao opened #20009 "tf.get_variable(reuse=tf.AUTO_REUSE) is not working in the eager execution mode."
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Darwin localhost 17.5.0 Darwin Kernel Version 17.5.0: Fri Apr 13 19:32:32 PDT 2018; root:xnu-4570.51.2~1/RELEASE_X86_64 x86_64
Mac OS X 10.13.4
- **TensorFlow installed from (source o

[2018-06-14 09:42] jysoo opened #20010 "unclear doc: precision_at_k, recall_at_k in metric function (for estimator.add_metrics)"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS Sierra
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**:  1.7
- **Python version**: 3
- **GPU model and memory**: GPU:0 (not using GPU)
- **Exact c

[2018-06-14 10:28] freewilll commented on #19840
Same here under macos following saudet's lead on #19676

[code]

[2018-06-14 10:31] Regilan commented on #18658
https://github.com/SANTHAKUMAR91 Yup i too have the same problem

[2018-06-14 10:33] sandipmgiri opened #20012 "//tensorflow/python:cluster_test test fails on ppc64le"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source
- **TensorFlow version (use command below)**:
      TF master
- **Python version**:
     Python 2.7.

[2018-06-14 11:06] #17883 closed

[2018-06-14 11:33] floydluo commented on #13642
Now, when the id is out of the range, there will be an error, instead of returning zero tensor.

If I want to get zero tensors if the ids are out of the range, what should I do? (as the validate_indices is deprecated now)

Thanks

[2018-06-14 11:39] sandipmgiri opened #20013 "//tensorflow/contrib/distributions:matrix_inverse_tril_test fails on ppc64le"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:N/A
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
      Ubuntu 16.04 (ppc64le)
- **TensorFlow installed from (source or binary)**:
      Installed from source
- **TensorFlow version (use command below)**:
      TF master
- **Python version**:
     Python 2.7.

[2018-06-14 11:51] namrata-ibm opened #20014 "TensorFlow master build failure on s390x"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: s390x Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: Source
- **TensorFlow version (use command below)**: Master
- **Python version**: 2.7.12
- **Bazel version (if compiling from source)**: 0

[2018-06-14 12:04] #19529 closed

[2018-06-14 12:22] dbanka opened #20015 "Feature request: Length normalisation in ctc_beam_search_decoder"
I  read that length normalisation improves the result of beam search. So, is there any plan of adding length normalisation in ctc_beam_search_decoder?

Have I written custom code: No
OS Platform and Distribution: N/A
TensorFlow installed from: N/A
TensorFlow version:N/A
Bazel version:N/A
CUDA/cuDNN version: N/A
GPU model and memory:N/A
Exact command to reproduce:N/A

[2018-06-14 12:33] Tom-Evers commented on #19670
Is there a solution to this yet?

[2018-06-14 12:35] tensorflowbutler commented on #20006
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-14 12:45] wenching33 opened #20016 "Fail to convert from .pb to .toco"
The error message is:
2018-06-14 20:36:34.054067: F tensorflow/contrib/lite/toco/tooling_util.cc:939] Check failed: name.substr(colon_pos + 1).find_first_not_of("0123456789") == string::npos (1 vs. 18446744073709551615)Array name must only have digits after colon
Aborted (core dumped)

Does anyone know what this message is about?
Thanks

----
update:
Sorry about wrong typing in the issue title. It

[2018-06-14 12:49] #19383 closed

[2018-06-14 12:52] facaiy commented on #20007
duplication of #14675 ?

[2018-06-14 12:57] rharish101 commented on #14713
Hello!

I've been trying to use warm start to load my model and fine-tune it on some other dataset. It works fine, except when I want to "freeze" layers in the model by making the relevant variables non-trainable, and train only the other unfrozen layers. In this case, the non-trainable variables do not get warm-started, even when the variable names match. It doesn't do it even when I specify thos

[2018-06-14 13:08] chenjiaoAngel opened #20018 "tflite multi_thread"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-06-14 13:08] #20018 closed

[2018-06-14 13:09] chenjiaoAngel opened #20019 "tflite mult_thread"
Describe the problem
How can we use tflite code in android to test the mult_thread testing.
The set thread code doen't work.

Source code / logs
public void setNumThreads(int num_threads) {
if (tflite != null)
tflite.setNumThreads(num_threads);
}

[2018-06-14 13:19] #19877 closed

[2018-06-14 13:44] prasadwork commented on #19849
I am really sorry. The problem is happening because of mismatch in the shape of filter and strides associated with it to produce the required output shape. I should have set deconvolution filter shape of [1, 1, 3, 3] and strides at [1, 1, 1, 1]. Then the above example would work.

My sincere apologies in wasting the time of developers.

[2018-06-14 13:44] #19849 closed

[2018-06-14 14:04] DHZS opened #20021 "[BUG] TensorFlow crashed when using tf.cast() in dataset's map() function"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-06-14 14:06] shuttle1987 commented on #12345
We decided to move our attempt at making stubs into an external library to make it easier to collaborate: https://github.com/persephone-tools/tensorflow-stubs

[2018-06-14 14:13] poldap commented on #7497
Hi, yours does not seem to be the same problem. In all other cases, something prompted the following error in java:
`java.lang.RuntimeException: Unexpected error: java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty`

I don't know if what you're getting is an equivalent complaint from the JDK included in the bazel binary, but then, it would be rather weird

[2018-06-14 14:14] TengliEd commented on #15656
Which cuda version can tf-nightly-1.9.0 work with?
My system configuration:
- OS:Ubuntu 16.04
- Python version 3.6

[2018-06-14 14:27] sibyjackgrove opened #20022 "Keras fit method not working with dataset iterator"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Custom
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
- **TensorFlow installed from (source or binary)**: Binary
- **TensorFlow version (use command below)**: 1.9-rc0
- **Python version**: 3.6
- **Bazel version (if compiling from source)**: NA
- **

[2018-06-14 14:27] andreas-eberle commented on #8773
What's the status on this? It would be great to have GPU support in the C/C++ API!

[2018-06-14 14:33] laurent-george opened #20023 "tf.keras.layers.DepthwiseConv2D fail when bias is enabled"
It seems that a little mistake is present in tf.keras.layers.DepthwiseConv2D, in the call procedure:

https://github.com/tensorflow/tensorflow/blob/17d6639b550cdcedf31ee01bd6eb26c592aeac42/tensorflow/python/keras/layers/convolutional.py#L1727

In my understanding self.bias should be replaced by self.use_bias on this line, as self.bias is a tensor, wheras self.use_bias is a boolean value.

After re

[2018-06-14 14:34] p3jgr commented on #19507
I am experiencing the same error too. Was it closed with no solution?

[2018-06-14 14:42] Threynaud commented on #19507
Hi! I completely forgot to share the solution, very sorry for that. It seems like you need to use `tf.contrib.metrics` instead of `tf.metrics` which doesn't support eager execution correctly for some reason... It worked for me at least, tell me if it solves your problem as well!

[2018-06-14 14:43] eddie-zhou commented on #14713
You can explicitly pass in a list of Variables or list of strings if you want to avoid regexp + TRAINABLE_VARIABLES ([docstring](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/warm_starting_util.py#L315)).

[2018-06-14 14:43] eddie-zhou commented on #10155
You can explicitly pass in a list of Variables or list of strings if you want to avoid regexp + TRAINABLE_VARIABLES ([docstring](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/training/warm_starting_util.py#L315)).

[2018-06-14 14:53] MichaelSchmidt82 commented on #19679
oddly, copying NCCL-SLA.txt didn't work for me:

`
ERROR: /home/mike/Downloads/tensorflow/tensorflow/tools/pip_package/BUILD:166:1: //tensorflow/tools/pip_package:build_pip_package: missing input file '@local_config_nccl//:nccl/NCCL-SLA.txt'
Target //tensorflow/tools/pip_package:build_pip_package failed to build
Use --verbose_failures to see the command lines of failed build steps.
ERROR: /home/mi

[2018-06-14 14:56] surajitsaikia27 opened #20024 "How to get activation values of fully connected layers?"
I want to extract the neural activation from the Fully connected layers. In caffe i was doing like this net.blobs[layer_name].data

How can i do the same in tensorflow?

[2018-06-14 15:13] MichaelSchmidt82 commented on #19679
And for me on manjaro, it must be in ```/opt/cuda```

[2018-06-14 15:30] shoyer commented on #12345
It might make sense to copy some of the test infrastructure we wrote for
numpy-stubs: https://github.com/numpy/numpy-stubs
On Thu, Jun 14, 2018 at 7:06 AM Janis Lesinskis <notifications@github.com>
wrote:

[2018-06-14 15:39] shuttle1987 commented on #12345
@shoyer thanks for that suggestion, I created an issue for it https://github.com/persephone-tools/tensorflow-stubs/issues/2

[2018-06-14 15:40] NO-0044 commented on #10155
Thanks, I check again and seems r1.9 add this feature

[2018-06-14 16:02] rmlarsen commented on #19198
@asimshankar thanks, we should apply the patch upstream.

[2018-06-14 16:05] ashermancinelli commented on #18731
I am running into the same problem with a retrained Inception V3 model. Seems like Google's own model should be able to be converted into TFLite. Hoping a solution comes from this. [This](https://github.com/tf-coreml/tf-coreml/issues/200) also happens when trying to convert from frozen pb to `.mlmodel`.

[2018-06-14 16:07] jrbtaylor opened #20026 "tf.contrib.graph_editor Shape error"
Using tf.contrib.graph_editor for pruning, specifically the graph_replace function, raises ValueErrors.

As a trivial example, consider a 2-layer network with weight matrices W0 [3,4] and W1 [4,1] that we want to prune one node from and replace with new weight matrices W0' [3,3] and W1' [3,1]. From the documentation, this appears be straight-forward to do using graph_replace and the resulting grap

[2018-06-14 16:33] mangozy commented on #8785
Same thing happened to me too!
![capture](https://user-images.githubusercontent.com/32133971/41425574-233d9338-6fcf-11e8-96bd-5c7148719ed4.PNG)

[2018-06-14 16:52] jysoo commented on #20010
This was intended for precision based on Top K recommendations (Top K highest probability of being class 1 returned). I realise now that the nn.top_k used within tf.metrics.precision_at_k means something different, and so k has to be <= last dimension of the predictions. I'll have to write a custom metrics function.

[2018-06-14 16:52] #20010 closed

[2018-06-14 16:53] gunan commented on #20014
Looks like boringssl  crept back in.
I am having difficulty running bazel query, so debugging is taking longer than usual.
But I will get to the bottom of this.

[2018-06-14 16:54] mskwarek commented on #19013
Hi, imho I could handle this issue but im not sure what needs to be done here. It's about make CurlHttpRequest class as singleton?

[2018-06-14 16:56] gunan commented on #20014
I am pretty certain the root cause is this commit: https://github.com/tensorflow/tensorflow/commit/ba9422a8adba18fc97cc1923002b7db8ca63dcfe

@saeta Can we switch between secure/insecure grpc conditionally, to avoid breaking builds on big endian systems?
Boring ssl does not support big endian, and they expressed that they have no intention to do so.
So in ppc64 systems we have to build without bori

[2018-06-14 16:59] yoya opened #20028 "decode_png function. palette png & channels=0, force into grayscale."
tf.image.decode_png function.
In the case of palette png & args channels=0, force into grayscale.

# sample

[code]
- input:rgb_png8.png <= Palette PNG has RGB.
- output: output.png => Grayscale PNG

# correctness except for this

case 1)
- input <= Palette PNG has RGB.
- output: => RGB PNG

case 2)
- input <= Palette PNG has RGB & A(tRNS)
- output: => RGBA PNG

case Otherwise)
-  same as before

[2018-06-14 17:08] jrbtaylor commented on #20026
@purpledog can you please clarify if there's another function in graph_editor that could be used for network pruning?

[2018-06-14 17:19] yifeif commented on #9105
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-06-14 17:19] #9105 closed

[2018-06-14 17:19] betachat commented on #19375
I fixed it by following:
[code]

[2018-06-14 17:20] mrry commented on #20021
Akshay: I've run a few versions of this, and think it could be a bug in `tfe.py_func()`, so could you please take a look? Here are some notes:

* The crash only happens (1) when a GPU is available, and (2) when `Dataset.prefetch()` is used.
* The crash doesn't seem to depend on using `tf.cast()`. Replacing `fn` with `lambda _: tf.constant([1., 2., 3.]) + tf.constant([4., 5., 6.])` gives the same f

[2018-06-14 17:23] akshayka commented on #20021
Thanks for the notes, Derek. I'll dig in further.

[2018-06-14 17:30] #19608 closed

[2018-06-14 17:36] purpledog commented on #20026
From the description you gave it should be fine. would you mind sending some code?

[2018-06-14 17:46] falahgs opened #20032 "Failed to find any matching files for slim_pretrained\inception_v1.ckpt"
Unsuccessful TensorSliceReader constructor: Failed to
find any matching files for slim_pretrained\inception_v1.ckpt
         [[Node: save/RestoreV2 = RestoreV2[dtypes=[DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_
FLOAT, ..., DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT, DT_FLOAT], _device="/job:localhost/replica:
0/task:0/device:CPU:0"](_arg_save/Const_0_0, save/RestoreV2/tensor_names, save/RestoreV2/sha

[2018-06-14 18:14] jrs-synth commented on #19354
Hi, gentle prompt... is there a work around that can be used in the build? Many thanks.

[2018-06-14 18:38] Hoeze commented on #13351
That's not pretty, but simple.
Nevertheless, imho this should be solved. A dependency tree initializing variables would be much more pretty.

[2018-06-14 18:39] andrewginns commented on #3628
This code didn't work for me. The none of my ops were converted into const ops and the resulting graph was empty.

I found a solution by using code from Modified from https://gist.github.com/moodoki/e37a85fb0258b045c005ca3db9cbc7f6

[2018-06-14 18:46] jrbtaylor commented on #20026
It appears the problem is in the copy_op_handler function:
`def copy_op_handler(info, op, new_inputs, copy_shape=True):`
I changed the default copy_shape to False and now it works. None of the calls to copy_op_handler seem to pass this argument though - is there a reason why it defaults to True?

[2018-06-14 18:48] #18514 closed

[2018-06-14 18:48] #18516 closed

[2018-06-14 18:48] tensorflowbutler commented on #2732
Please remove the assignee, as this issue is inviting external contributions. Otherwise, remove the `contributions welcome` label. Thank you.

[2018-06-14 18:48] tensorflowbutler commented on #8652
Nagging Assignee @fchollet: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #13222
Nagging Assignee @rmlarsen: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #13243
Nagging Assignee @allenlavoie: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #15096
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-14 18:49] tensorflowbutler commented on #16532
Nagging Assignee @fchollet: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #16665
Nagging Assignee @bignamehyp: It has been 35 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #17149
Nagging Assignee @rohan100jain: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #17436
Nagging Assignee @aselle: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #17564
Nagging Assignee @rmlarsen: It has been 75 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #17625
Nagging Assignee @cy89: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #17945
Nagging Assignee @rmlarsen: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #18065
Nagging Assignee @shivaniag: It has been 76 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:49] tensorflowbutler commented on #18195
Nagging Assignee @aselle: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:50] tensorflowbutler commented on #18437
Nagging Assignee @andrehentz: It has been 45 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:50] tensorflowbutler commented on #18491
Nagging Assignee @rmlarsen: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:50] tensorflowbutler commented on #18514
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-06-14 18:50] tensorflowbutler commented on #18516
We are closing this issue for now due to lack of activity. Please comment if this is still an issue for you. Thanks!

[2018-06-14 18:50] tensorflowbutler commented on #18697
Nagging Assignee @aselle: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:50] tensorflowbutler commented on #18789
Nagging Assignee @aselle: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:50] tensorflowbutler commented on #18863
Nagging Assignee @rmlarsen: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:50] tensorflowbutler commented on #18903
Nagging Assignee @ebrevdo: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #18995
Nagging Assignee @andrehentz: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19003
Nagging Assignee @av8ramit: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19005
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-14 18:51] tensorflowbutler commented on #19016
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-14 18:51] tensorflowbutler commented on #19127
Nagging Assignee @asimshankar: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19155
Nagging Assignees @asimshankar, @angersson: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19158
Nagging Assignees @petewarden, @aselle, @andrehentz: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19262
Nagging Assignee @tatatodd: It has been 31 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19272
Nagging Assignee @shivaniag: It has been 30 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:51] tensorflowbutler commented on #19354
Nagging Assignees @gunan, @shivaniag: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:52] tensorflowbutler commented on #19376
Nagging Assignee @tatatodd: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:52] tensorflowbutler commented on #19611
Nagging Assignee @jart: It has been 16 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:52] tensorflowbutler commented on #19612
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-14 18:52] tensorflowbutler commented on #19616
It has been 16 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-14 18:52] tensorflowbutler commented on #19619
Nagging Assignees @samikama, @drpngx: It has been 14 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:52] tensorflowbutler commented on #19623
Nagging Assignee @cy89: It has been 15 days with no activity and this issue has an assignee. Please update the label and/or status accordingly.

[2018-06-14 18:52] tensorflowbutler commented on #19624
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2018-06-14 19:01] bignamehyp commented on #18859
There is a bug in your user code.  So this question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a TensorFlow bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation. Thanks!

[2018-06-14 19:13] surry commented on #14572
I've also noticed this issue when running Tensorboard 1.8.0 with an s3:// path for the logdir. It takes a long time (several minutes) to read .tfevents files that are less than 50 MB.

Here's a way I think this can be reproduced:

1. Put a TF events file from a training run in S3. I used one that was ~43 MB
2. Run the following Python code:
[code]
This took around 50 minutes to complete with the o

[2018-06-14 19:20] jrbtaylor commented on #20026
Here's a self-contained example:

[code]

With the default value for copy_shape in copy_op_handler set to True, this fails with a shape error. With it set to False, this runs as expected.

[2018-06-14 20:07] alextp commented on #20009
This is sadly working as intended and we need to update the documentation. We don't support variable reuse in eager other than inside templates.

[2018-06-14 20:07] #20009 closed

[2018-06-14 20:15] chrisying commented on #17625
Closing this bug now that https://github.com/tensorflow/tensorflow/commit/2a484497062677f5cf0205ee3b9c28a64f03fe04 has been merged in.

Note: I haven't extensively tested if combining renorm and ghost batch norm is numerically correct. The unit tests for each pass but there aren't any tests that test both of them used together.

[2018-06-14 20:15] #17625 closed

[2018-06-14 20:30] andrehentz commented on #18658
This is likely an incompatibility between the github code and the 0.1.7 AAR file. You can either comment out the setNumThreads call, or you can configure AndroidStudio to use TF Lite's 0.0.0-nightly AAR

[2018-06-14 20:42] karmel commented on #20013
@jvdillon , can you take a look?

[2018-06-14 20:58] sibyjackgrove commented on #20022
@sebamlu Can you please share the code snippet that you used to make it work?

[2018-06-14 21:01] marshalhayes commented on #20032
Hi @falahgs. You need to follow the template when opening an issue. Provide a description so people understand the problem more clearly.

[2018-06-14 21:02] mrcity commented on #10779
If there's anyone stumbling across this page but looking for the answer to permit Tensorflow Hub in Ubuntu, I made it work like this:

[code]

On top of this, some magical combination of configuration of my corporate proxy, restarting the Jupyter notebook kernel, and running TF Hub from a script on the terminal rather than from a notebook eventually caused TF Hub to work both on the terminal and i

[2018-06-14 21:06] marshalhayes commented on #20024
Perhaps [@google/prettytensor#6](https://github.com/google/prettytensor/issues/6) could be helpful even though it's not from this repository.

[2018-06-14 21:15] sebamlu commented on #20022
Sure, I'm using TFRecordDataset instead of tf.contrib.data.make_csv_dataset, but should make no difference.

[code]

and the model

As you can see i never defined an input shape for the model

[2018-06-14 21:38] PavelPr commented on #19992
Hi!

Apologies for not including the required information to begin with. I am using TensorFlow under Windows 10, in CPU mode. Bazel version is 0.14.1.

While I am fully aware of the fact that Windows is not an officially supported platform, reading through the TensorFlow source code creates an impression that this is a yet-to-be-implemented feature. Still, the documentation bears no trace of this

[2018-06-14 21:47] aselle commented on #19260
Don't know if this covers any more ground, but I believe that the TensorFlow implementation of tf.strided_slice ignores the end index that is passed if shrink axis is true, because just naively adding 1 doesn't work for -1 case:

[code]
, where you'd get -1 + 1 = 0 which is the beginning and would be a degenerate interval.

I make a comment here to ignore it here
https://github.com/tensorflow/tens

[2018-06-14 22:07] alanchiao commented on #19982
Hey Sayan, thanks for following up on this.

Could you possibly update the build.gradle file to 'org.tensorflow:tensorflow-lite:0.0.0-nightly' and see if it fixes your issue? It contains the most recent version of the TFLite library.

[2018-06-14 22:08] sibyjackgrove commented on #20022
@sebamlu thanks for sharing. So you are saying this doesn't work when you defined the Keras model without using the class?
Anyway I will try putting my model inside a class and if it works with the `tf.contrib.data.make_csv`

[2018-06-14 22:10] pbamotra opened #20040 "Same loss different/incorrect results"
TF version: 1.8
Installation: tensorflow/tensorflow:latest-gpu
OS details:
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.4 LTS
Release:	16.04
Codename:	xenial

AWS instance: p2.xlarge
GPU details:
[code]

Custom code:
This works
[code]
This works too
[code]
This doesn't work. The loss value looks fine but the accuracy stays at 0 or very low value.
[code]

[2018-06-14 22:29] sebamlu commented on #20022
@sibyjackgrove From [https://github.com/keras-team/keras/blob/master/examples/mnist_tfrecord.py](url)

[code]
I don't see this working with two iterators if you define an InputTensor

[2018-06-14 22:42] michaelisard commented on #19693
Sorry for the delay. Thanks for taking this on.

[2018-06-14 22:43] majoros opened #20041 "Failed to create CUPTI subcriber when profiling on servers with no GPU's"
------------------------

### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:

Custom i guess? I took the first example on the [Using GPUs](https://www.tensorflow.org/programmers_guide/using_gpu) page and added profiling to it (code below).

- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:

Red Hat Enterprise Li

[2018-06-14 23:27] michaelisard commented on #19729
Was this helpful?

[2018-06-14 23:32] JaeDukSeo commented on #19729
haha I want to know as well

[2018-06-14 23:35] mrry commented on #19743
Marking this as community support, because we don't support debug builds on Windows.

/CC @gunan, who was looking at the symbol limit recently, and may have some suggestions.

[2018-06-14 23:43] lun0522 opened #20042 "Failed to convert to Tensorflow Lite - TensorFlowMax, TensorFlowMinimum, TensorFlowSum not supported"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: MacOS 10.13.4
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.8.0
- **Python version**: 3.6.5
- **Bazel version (if compiling from source)**: 0.14.0-

[2018-06-14 23:57] bignamehyp commented on #18905
Please follow @17494 and close this bug.

[2018-06-14 23:58] amxineohp commented on #20007
Looks the same.

But be noticed this is in CPU(according to my experience even same graph in GPU can not reproduce the same due to GPU internal mechanism)

I still think non random operation should not change the random state(whatever it is a bigger or small change of the graph). Do not know why it is hard for tensorflow.

I did a little change of my graph without random operation and the performa

[2018-06-14 23:59] bignamehyp commented on #19672
You can create a staging area. See https://www.tensorflow.org/performance/performance_models#software_pipelining for example

This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with

[2018-06-14 23:59] #19672 closed

[2018-06-15 00:09] bignamehyp commented on #17568
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-06-15 00:09] #17568 closed

[2018-06-15 00:18] bignamehyp commented on #19632
There are many highly dynamic custom code that requires tensors with unknown rank.
For example you can create one with tf.placeholder(tf.float32).

Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2018-06-15 00:18] #19632 closed

[2018-06-15 00:27] bhack commented on #17950
/cc @martinwicke for https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/Y0BSYDRQ_BU

[2018-06-15 00:37] bignamehyp commented on #19115
It's a contrib project.
Please contact the original author of seq2seq @alrojo

[2018-06-15 00:38] asimshankar commented on #20021
Thanks for the report @DHZS and investigation @mrry .
While we dig into an appropriate fix, a quick workaround would be to explicitly include a `with tf.device("CPU:0")` in your py func, or just add a `.cpu()` to the outputs to ensure that the returned tensors are in CPU. So something like:

[code]

[2018-06-15 00:40] drpngx commented on #19390
@tfboyd could you take a look?

[2018-06-15 00:40] poxvoculi commented on #19962
closing as duplicate of #19988

[2018-06-15 00:40] #19962 closed

[2018-06-15 00:41] #19134 closed

[2018-06-15 00:41] drpngx commented on #19830
What is the problem? jpg is lossy? You can use png instead.

[2018-06-15 00:45] poxvoculi commented on #19873
The pooling op source is in
[pooling_ops_common.cc](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/pooling_ops_common.cc)

and several similar files.  Look in core/kernels/* for anything with "pooling" in the name.

In the future, this sort of question is better asked on StackOverflow.  This forum is primarily for bug reports.

[2018-06-15 00:45] #19873 closed

[2018-06-15 00:49] poxvoculi commented on #19927
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

If you think we've misinterpreted a bug, please comment again with a clear explanation, as well as all of the information requested in the [issue template](https://github.com/tensorflow/tensorf

[2018-06-15 00:49] #19927 closed

[2018-06-15 00:55] poxvoculi commented on #19901
@samikama Can you provide any advice?

[2018-06-15 00:55] tatianashp commented on #19884
@asimshankar Do you have any thoughts?

[2018-06-15 01:07] tensorflowbutler commented on #20015
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-15 01:07] tensorflowbutler commented on #20016
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-15 01:07] tensorflowbutler commented on #20019
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-15 01:07] tensorflowbutler commented on #20023
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-15 01:08] tensorflowbutler commented on #20028
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-15 01:16] tatianashp commented on #19333
@zero-impact Thank you for submitting PR #19334!

[2018-06-15 01:16] #19333 closed

[2018-06-15 01:58] candyzone opened #20043 "[BUG] tf.train.Saver in non-local filesystem"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux CentOS 7
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 1.4.0 release
- **Python version**: python2.7
- **Bazel version (if compiling from source

[2018-06-15 02:03] wenhui7909 commented on #20005
I rebuilt libtensorflowlite_jni.so, But I can't find the path to replace.
I delete all the libtensorflowlite_jni.so files in my computer,
It can run mobilenet module OK ...
Before, I can replace the libtensorflowlite_jni.so, I can add my log to the jni so.
I guess the error of "Op builtin_code out or range: 59 " is caused by the jni so is not update.

[2018-06-15 02:06] rothn commented on #18769
But I'm not using HDFS -- this is all on my local SSD.

[2018-06-15 02:15] jackyko1991 commented on #8773
@andreas-eberle I have a C++ API example running on window with GPU [here](https://github.com/jackyko1991/vnet-tensorflow/tree/master/cxx)

I have tried to issue pull request on tensorflow main repository but they never merge my code

[2018-06-15 02:34] chenjiaoAngel commented on #20019
Have I written custom code: No
OS Platform and Distribution: Android studio3.0.1 ndkr14, API21-21
TensorFlow installed from: GitHub  https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/lite
TensorFlow version
Bazel version:0.14.0
CUDA/cuDNN version

[2018-06-15 02:41] wenhui7909 commented on #20005
After compile with 'org.tensorflow:tensorflow-lite:0.0.0-nightly'
the error of "Op builtin_code out or range: 59 " disappeared.
Now it is OK.

Now I just don't know how to replace libtensorflowlite_jni.so in my enviroment.
But it is not important now.

[2018-06-15 03:05] AliceDinh commented on #1578
@vrv Hi, where to put these lines?
[code]

[2018-06-15 03:15] samikama commented on #19901
Hi,

I don't have any idea about tensorflow-serving. Is it part of the tensorflow package?

[2018-06-15 03:27] Qsevent commented on #20006
Thank you for your Answer
I compile tensorflow source code and use it on two different servers
**compile:**
- Linux version 2.6.32-431.el6.x86_64(redhat 4.4.7)
- gcc4.8.5
- bazel0.9.0
- TensorFlow installed from github(https://github.com/tensorflow/tensorflow/releases?after=v1.5.1)
- TensorFlow 1.4.0
- CUDA Version 8.0.61  /cuDNN: CUDNN_MAJOR  5
- GPU:Tesla K40m  Memory:11439MiB

**use:**
- Linux

[2018-06-15 03:36] damienpontifex commented on #19013
@mskwarek wouldn't need to be a singleton, but a way to reset the state so a subsequent request could be made with the same `tensorflow::CurlHttpRequest` instance (or really curl handle under that instance)

[2018-06-15 03:45] DHZS commented on #20021
Thank you @akshayka, it works for me.

[2018-06-15 03:46] developer-mayuan commented on #15773
@OceanWong1991 300W-LP.

[2018-06-15 04:02] vikotse commented on #13381
I meet the same issue that

 file only record the most recent checkpoint file.

[2018-06-15 04:17] yoya commented on #20028
all N/A on this issue. but I show these information.

- macOS High Sierra (10.13.5)
- pip3 install tensorflow (1.8.0)
- Python  3.6.5
- Bazel 0.14.1
- (omit)
- no CUDA
- no GPU

[code]

[2018-06-15 04:41] sandipmgiri commented on #19835
@gunan Yesterday I re-ran the test command, please find the latest logfile.
Looks like the issue is not resolved yet.

[latest_logfile.txt](https://github.com/tensorflow/tensorflow/files/2104810/latest_logfile.txt)

[2018-06-15 04:41] anj-s commented on #19501
If you want to run your model across multiple machines you need to use Estimator's train_and_evaluate API.  train_and_evaluate uses a between graph async parameter server approach.

If you want to train your model across multiple GPUs you can use the new [DistributionStrategy APIs](https://www.tensorflow.org/versions/master/api_docs/python/tf/contrib/distribute/DistributionStrategy). Use model_to_

[2018-06-15 05:20] bignamehyp commented on #19397
Thanks for reporting this bug. I can reproduce. Maybe turn off graph rewriting to see if it's the cause.
      rewriter_config = rewriter_config_pb2.RewriterConfig(
          disable_model_pruning=True,
          constant_folding=rewriter_config_pb2.RewriterConfig.OFF,
          arithmetic_optimization=rewriter_config_pb2.RewriterConfig.OFF,
          dependency_optimization=rewriter_config_pb2.Re

[2018-06-15 05:37] facaiy commented on #13381
@vikotse Could you open a new issue and provide all necessary information for reproducing the issue?

[2018-06-15 05:43] Regilan commented on #18658
https://github.com/walkerwjt This answer worked for me!! Thanks!! But I don't know what the side effect it would create in future!! Have a happy tflite!!

[2018-06-15 05:49] mrry commented on #19556
This sounds like it could be useful, but it's not something we're planning to work on in the near term. The major complexity arises from our main gradients implementation (`tf.gradients()`), which only works on purely function ops, and is currently unaware of stateful operations like `Iterator.get_next()`. Perhaps the `tfe.GradientTape`–based gradients used in eager execution mode (and which work

[2018-06-15 06:09] shiftsayan commented on #19982
Hey Alan, thanks for taking up the issue!
When I make the change you suggested, I get the following error message: `Multiple dex files define Lorg/tensorflow/lite/NativeInterpreterWrapper;`, but I am not sure if this has something to do with the fact that I am running the nightly build.

[2018-06-15 06:46] lichengeagle commented on #7560
flower_photos.tgz 是什么？

[2018-06-15 06:48] thak123 commented on #4648
@marcsto  fast_predict test file is still old, can u please fix it.Any idea on how can we pass pandas df to it

[2018-06-15 06:50] tensorflowbutler commented on #20040
Thank you for your post. We noticed you have not filled out the following field in the issue template. Could you update them if they are relevant in your case, or leave them as N/A? Thanks.
Have I written custom code
OS Platform and Distribution
TensorFlow installed from
TensorFlow version
Bazel version
CUDA/cuDNN version
GPU model and memory
Exact command to reproduce

[2018-06-15 07:01] Diyago commented on #19729
Installing precomputed version leads me to another error, problems with intel libraries. Trying to solve such problem I found the solution
`
conda install -c anaconda tensorflow-gpu
`

You can specify here version you want to install as well

[2018-06-15 07:07] rharish101 commented on #14713
@eddie-zhou This feature does not seem to be available in version 1.8.0, which is the latest version of tensorflow-gpu on PyPI. It worked when I downloaded the file `tensorflow/python/training/warm_starting_util.py`, but now I'm getting errors with importing trainable variables. Now, it gives me the following error:
[code]
The error occurs everytime I re-run the kernel in the notebook, with the er

[2018-06-15 07:13] p3jgr commented on #19507
No, it did not help. I got the following error:

AttributeError: module 'tensorflow.contrib.metrics' has no attribute 'Mean'

[2018-06-15 07:32] kerolos commented on #3628
thanks, @andrewginns for your answer.
the problem with me in the suggestion code to freeze the model is (importing meta graph), that causes me this error:
KeyError: "The name 'Adam' refers to an Operation not in the graph."

this is the reason why I used the trained model directly after the training phase to create a protobuf file, instead of saving the model as a meta file and from that creating

[2018-06-15 07:43] a819721810 opened #20047 "[bug]Using "tensorflow/models/research/object_detection/sample.config/faster_rcnn_resnet50_coco.config" produce ".pb" to "sess.run""
Please go to Stack Overflow for help and support:

http://stackoverflow.com/questions/tagged/tensorflow

Also, please understand that many of the models included in this repository are experimental and research-style code. If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR inste

[2018-06-15 07:52] galeone commented on #9091
I second @hbb21st , I'm facing the same (or very similar) issue in tensorflow 1.8, running a loop of `sess.run` passing via feed dict just a string with the filename to read:

[code]

After some iteration:

[code]

[2018-06-15 08:07] ArvinSiChuan commented on #19681
@yifeif Is there any operation to solve this? Here is the [solution](https://github.com/NVIDIA/nvidia-docker/issues/571#issuecomment-357750971)  from nvidia and all you need to do is to rebuild your images with the newest nvidia-docker images.

[2018-06-15 08:09] namizzz commented on #17220
Hi @Richard-Neill , could you please tell me where is the "#define YY_BUF_SIZE 16384"?

[2018-06-15 08:37] ParekhVivek09 opened #20049 "Failed to Load the Native Tensorflow runtime"
I am using WINDOWS10 64bit, Anaconda 4.5.4 and PyCharm as an IDE. I have NVIDIA Quadro4000m GPU installed. Now I want to use Keras-GPU with tensorflow as backend and I am getting the following error?
One more thing I could not create environment with tensorflow versionb 1.8.0 with keras-gpu all versions as it shows unsatisfiable error due to conflicts in dependency. It is related to mkl file versi

[2018-06-15 08:54] falahgs commented on #20032
@marshalhayes  thanks for help ...It has been solved

[2018-06-15 08:55] guoxiaolu commented on #15537
@Madhusakth , I think it's better to ask in a new issue and your problem is different from what I faced~ Good luck

[2018-06-15 09:20] aureosun commented on #19970
Well,I install tensorflow with virtualenv,just follow the instructions in https://www.tensorflow.org/install/install_linux#installing_with_virtualenv.The step5 and step6 fails with the same error code:OSError: [Errno 13] Permission denied: '/usr/lib/python2.7/dist-packages/numpy/distutils/tests/gen_ext/__init__.pyc'
My OS is ubuntu14.04 ,the details are Linux node4 3.16.0-33-generic #44~14.04.1-Ub

[2018-06-15 09:36] yjl9122 commented on #19570
@angersson Any news?

[2018-06-15 09:40] oldsqlwnb opened #20050 "tf.contrib.rnn.LSTMCell wrong documentation and unclear naming"
### Describe the problem
1.
In the documentation at [https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/LSTMCell](url) it says:

This is not true since the implementation already contains the forget gate which was not mentioned in the original paper but in this one:

2.
The naming of the parameter `num_units` or the `LSTMcell` is  is unclear and causes a lot of confusion. (google "num_units

[2018-06-15 09:51] offbit commented on #16182
@varun19299  slim.learning is based on the deprecated Supervisor class. I'm guessing that soon they will have to either update it and make it consistent or abandon it all together.

[2018-06-15 09:58] wenhui7909 opened #20052 "tflite: output tensor size is not variable."
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Ubuntu 17.10
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: tensorflow 1.8
- **Python version**:  2.7
- **Bazel version (if compiling from source)**:

[2018-06-15 10:01] JanzZhu opened #20053 "error : tf.nn.ctc_beam_search_decoder"
if classes size is small ，tf.nn.ctc_beam_search_decoder can run normally.

if classes size is big (example: 3800), tf.nn.ctc_beam_search_decoder Will not end

cpu: 8
memory: 32
gpu: 1080ti

Please anyone help me

[2018-06-15 10:14] javsalgar opened #20054 "Doc feature request: How to build Tensorflow Slim"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2018-06-15 10:17] #20054 closed

[2018-06-15 10:18] javsalgar commented on #20054
Never mind, I saw that it is part of Tensorflow, not a separate module

[2018-06-15 10:24] andreas-eberle commented on #8773
@jackyko1991: Can you link your PR?

[2018-06-15 10:30] nickwhsu opened #20055 "Speech_commands conv model depthwise_conv operation slow in tensorflow lite"
System information
Have I written custom code: Yes
OS Platform and Distribution: Linux Ubuntu 16.04
TensorFlow installed from (source): tensorflow v1.8.0
Python version: 3.6
Bazel version (if compiling from source): 0.11.1
GCC/Compiler version (if compiling from source): 5.4
CUDA/cuDNN version: N/A
GPU model and memory: N/A
Exact command to reproduce: N/A

#**Describe the problem**

I am trying to

[2018-06-15 10:35] jackyko1991 commented on #8773
@andreas-eberle what PR refers to?

[2018-06-15 11:05] andreas-eberle commented on #8773
Pull Request. I mean the Pull Request you mentioned that didn't get merged.