[2020-01-31 16:38] emna20 opened #36381 "dense"

[2020-01-31 16:49] claynerobison commented on #36343
This problem started occuring sometime after the last commit on Jan 26: f88440725cdf3808a20238864cfe75a5cd9f2f22 because I'm able to run the bazel test command above just fine against that commit.

[2020-01-31 16:51] mihaimaruseac commented on #36381
Closing as spam/no information provided.

[2020-01-31 16:51] #36381 closed

[2020-01-31 16:53] mihaimaruseac commented on #36377
You haven't done any work in this issue: haven't filled in the template, haven't formatted your error message and, most egregiously, haven't checked for duplicates.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721

[2020-01-31 16:59] MarkDaoust commented on #35940
Number 5 is an exercise with parts the reader needs to complete. Number 6 is the solution, it works fine in colab.

@Rinkal2  can you be more specific? what is the problem you're seeing?

[2020-01-31 16:59] philpearl commented on #36288
tensorflow 1.13, but I believe the issue is also present in 1.15 and v2

[2020-01-31 17:01] karapapas commented on #20485
@freedomtan @jbuisson1

I don't get it how exactly did you solve that? The link is dead, please give a hint.

[2020-01-31 17:03] punndcoder28 opened #36382 "Unable to run unit tests on util_nest"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 10.15.2
- Mobile device

[2020-01-31 17:20] claynerobison commented on #36343
I can't figure out why this command is trying to build rocm components...

[2020-01-31 17:24] jvishnuvardhan commented on #36287
@divyag11 You could use two generators, one for training and one for validation. As I mentioned in my last response, I think something is wrong with the construction of validation dataset. I tried to use your validation dataset for training without any validation(without providing `validation_data` and `validation_steps` as shown below), and the code runs forever. Which means, i think there is som

[2020-01-31 17:31] carlini commented on #23166
Last I checked it's still an issue with the same crash.

[2020-01-31 17:36] pavithrasv commented on #35848
@tangbyron Please feel free to send us a PR. You can implement it the same way `PrecisionAtRecall` has been implemented. Not sure what you mean by you cannot use `SensitivitySpecificityBase`, you should be able to use it the same way it is in `PrecisionAtRecall`.

Thank you!

[2020-01-31 17:45] guillaumelorre28 opened #36383 "TimeDistributed does not work with mixed precision training"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-31 18:03] jvishnuvardhan commented on #35953
@vladdders What command you used to convert dtype? You can use this [tf.cast](https://www.tensorflow.org/api_docs/python/tf/cast) command to convert dtype. May be you need to convert dtype later in the code. May be you can post it in that repo so that you can get faster resolution. If you can make any standalone code, I will try to help. Thanks!

[2020-01-31 18:13] pavanky commented on #36347
@amahendrakar I can build the combined wheel if I build from source, but this is about the official release.

I dont see the download page updated yet.

[2020-01-31 18:21] jdduke commented on #36177
Ah right, TF recently switched to using c++14 instead of c++11, can you update your --cxxopt flags accordingly? Some of the newer code (like Hexagon) does make use of C++14. We're still in the process of updating documentation.

[2020-01-31 18:24] rcrowe-google commented on #25369
Closing old issue, we have several e2e examples now.

[2020-01-31 18:24] #25369 closed

[2020-01-31 18:25] mihaimaruseac commented on #36347
For 1.15 what our scripts did was:

1. produce `tensorflow_gpu` and `tensorflow` pip package
2. upload `tensorflow_gpu` pip package as it is
3. rename `tensorflow` pip package to `tensorflow_cpu` and upload it under `tensorflow_cpu`
4. rename `tensorflow_gpu` as `tensorflow` and upload it under `tensorflow`

Both of these renames are more than just a `cp source.whl target.whl`, they also required

[2020-01-31 18:29] claynerobison commented on #36343
@angerson This is the culprit: b105944eb6c563849a085a1765d6700ee2c0f35c in the tensorflow/core/kernels/BUILD file. The test command succeeds on the commit before this: 0a3c2988804a71371f51e182bd70b81a0d88be6d.

[2020-01-31 18:32] jvishnuvardhan commented on #36093
@padoremu Can you please follow the following steps to make virtual env.

[code]
Thanks. Hope this helps.

[2020-01-31 18:40] av8ramit commented on #36169
@Saduf2019 are you able to see this on 1.15? Unfortunately I don't think we are taking any patches to 1.14 at the moment.

[2020-01-31 18:43] av8ramit commented on #21096
So all our build scripts are now externally available. Closing this now.
[Presubmit example](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/tools/ci_build/presubmit)

[2020-01-31 18:43] #21096 closed

[2020-01-31 18:44] av8ramit commented on #33987
Ping @chsigg has this been done? Removing myself from assignees. Thanks!

[2020-01-31 18:46] ahtik commented on #35115
@freedomtan Thanks! Confirmed, linux build TF 2.1.0 works with TensorRT 6 after adjusting bazel requirement from bazel min v0.29.1 to v0.26.1 as described in https://github.com/tensorflow/tensorflow/issues/35584#issuecomment-570920203

I haven't figured out any set of versions that would build successfully Tensorflow with TensorRT under Windows (neither latest master nor TF 2.1.0).

[2020-01-31 18:47] andrei1887 commented on #18538
Good thread for noobies like me. Was following some old doccos on how to use Tf and stumbled into this issue. Mihai, you helped a lot. Merci si sanatate!

[2020-01-31 18:55] dishkakrauch commented on #36114
@gadagashwini got any updates?

[2020-01-31 19:03] Namburger commented on #32743
by the way guys, please also upgrading the [tflite_runtime](https://www.tensorflow.org/lite/guide/python) package.

[2020-01-31 19:08] Namburger commented on #34135
@DebojitBiswas @bsddemon make sure you guys upgrade the `tflite_runtime` package from [here](https://www.tensorflow.org/lite/guide/python)
My py runs consistently without issues

[2020-01-31 19:11] Namburger commented on #32629
Hey guys, sorry for not checking this sooner...
Updating the `tflite_runtime` package from [here](https://www.tensorflow.org/lite/guide/python) fixed it.
The current package is `tflite_runtime-2.1.0-cp37-cp37m*.whl`, my rpi run consistently with no issues.

[2020-01-31 19:11] #32629 closed

[2020-01-31 19:18] yhliang2018 commented on #32557
Thanks for the update! I can see another issue is that the global step is not increased any more. Very interesting, as colab works fine but jupter notebook fails. Let me assign it to the API owner for further investigation.

[2020-01-31 19:25] edloper commented on #34603
In the repro gist, it looks like things work as long as I replace:

    infer = model.signatures['serving_default']

with:

    infer = model.my_func

Is there a reason you can't just use model.my_func on the loaded model?

[2020-01-31 19:50] netw0rkf10w commented on #33459
Any updates on this please?

[2020-01-31 19:57] nariman9119 commented on #36194
Having same issue.
When starting training with
```with tpu_strategy.scope():```

It starts to process the first batch and gives me this error

[2020-01-31 20:23] psyg0501 opened #36385 "Tensorflow team is so disappointing in documenting installation on windows pc"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-01-31 20:34] psyg0501 commented on #36385
Countless hours of my time have been wasted in trying to install tensorflow CPU version 2.1.0 on my Windows 10 desktop. I have tried all methods in a virtual environment - pip install and conda install methods, ideas given on TF official page, on SO and all over the net. In the end when I enter into Python 3.7 interpeter and type "import tensorflow as tf" is always says "ImportError: DLL load fail

[2020-01-31 20:40] jiapei100 commented on #36057
Still problematic..

I'm now using bazel 0.26.1, with a modified tensorflow according to : https://github.com/tensorflow/tensorflow/issues/35584

[code]

[2020-01-31 20:48] pdxjohnny commented on #36385
Just passing through and saw this. I'd bet you'd have better luck trying in the windows subsystem for linux, although I'm not sure that will give you GPU access.

[2020-01-31 20:49] pdxjohnny commented on #20358
After the switch from 1.X regressor to 2.X regressor we're seeing this as well. We're also getting terrible accuracy now and not sure if its related.

[2020-01-31 20:50] aggarwalpiush commented on #35743
I am also getting same error while handling gradient tape.

[code]

My code:
[code]

I am using ```Tensorflow==2.1.0``` and ```cuda 10.1```

[2020-01-31 20:51] brandenkmurray commented on #8858
This is pretty much the only place I've found with others having the same issue as me so I'm commenting here in case it helps others. I was having similar issues with both Tensorflow & PyTorch -- computer basically just shutting off/rebooting randomly while training certain networks on GPU. No messages and nothing would show in any logs I checked. `stress` and `gpu-burn` would not trigger a crash.

[2020-01-31 20:58] jakesabathia2 commented on #29674
[code]
This produces the same error
Can you reopen this issue?

[2020-01-31 21:01] goldiegadde commented on #34603
@metarg could you please take a look at the above comment

[2020-01-31 21:01] srikris commented on #29674
@jvishnuvardhan Can you reopen this issue?

[2020-01-31 21:24] jvishnuvardhan commented on #29674
@jakesabathia2 and @srikris Can you please open a new issue with more details on the issue. It will be easy for others to follow learn for your issue. Thanks!

[2020-01-31 21:59] dmus opened #36390 "Custom metric in tf.keras.Model compile() gives error, but works when run_eagerly=True"
*System information**
Tensorflow 2.1 on colab

**Describe the current behavior**
When model.run_eagerly=True this model works correctly. When run_eagerly=False this gives an error

Error:

**Describe the expected behavior**
The metric should run without errors in both cases

**Code to reproduce the issue**
See colab notebook: https://colab.research.google.com/drive/1SxCf2N6D9bTbnm5fD0c_UYN4CaQ5neN

[2020-01-31 22:20] SystemsPatrick commented on #9829
uninstall tensorflow with pip uninstall tensorflow in consola and run again the jupyter.

[2020-01-31 22:21] wdirons commented on #36371
I would try `conda remove keras-gpu`

As TensorFlow 2.0 comes with tf.keras, you don't want to use the keras conda package. (Which at version 2.2.4 only works with TensorFlow 1.X)

[2020-01-31 22:29] zihaozhang9 commented on #36371
I will use keras.then. use  `pip install keras==2.0.8` ?

[2020-01-31 22:31] wdirons commented on #36371
If using TensorFlow 2.0, you want to use tf.keras, all you need to install would be tensorflow-gpu.

https://www.tensorflow.org/guide/keras

[2020-01-31 22:38] zihaozhang9 commented on #36371
ok.
 I am learning tensorflow. But some problems seem to appear. I try to run the [code ](https://www.tensorflow.org/tutorials/images/cnn). But found the following error

`Instructions for updating:
keep_dims is deprecated, use keepdims instead
Train on 50000 samples, validate on 10000 samples
Epoch 1/10
2020-02-01 06:34:31.435605: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:898] succes

[2020-01-31 22:39] yzhuang commented on #36348
Hi @amahendrakar

Here's a simple colab reproducing this issue on TF 1.15
https://gist.github.com/yzhuang/0744b487c7a5ab1b65a5b152a06cda7c#file-keraslayertableinitialization-ipynb

This colab shows that the eager mode correctly initializes the table, but non-eager mode does not initialize the table, and Keras Model API does not provide an API for table init ops.

[2020-01-31 22:46] wdirons commented on #36371
TensorFlow with not damage a graphic card. [The nvidia software is responsible for slowing the card down or shutting it off so as to not overheat.]

I'm not sure about that error, but one think to check is to make sure you have the latest NVIDIA driver installed.

[2020-01-31 22:48] zihaozhang9 commented on #36371
Ok. thank you very much. I will reinstall the graphics driver, cuda and cudnn

[2020-01-31 22:51] wdirons commented on #36371
You only need to install the graphic driver. Because your using Conda, it will install cuda and cudnn as conda package (saving you work)   (For more info: https://stackoverflow.com/questions/59529804/nvidia-cudatoolkit-vs-conda-cudatoolkit)

[2020-01-31 23:07] jakesabathia2 opened #36391 "[TF 2.1] Error when converting LSTM model to a frozen graph using convert_variables_to_constants_v2()"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac
- TensorFlow installed from (source or binary): pip install tensorflow
- TensorFlow version (use command below): 2.1
- Python version: 2.7

I tried to froze a LSTM model build with tf.keras by using the `convert_variables_to_constants_v2` function with the following code

[code]
produces
[code]

[2020-01-31 23:08] jakesabathia2 commented on #29674
https://github.com/tensorflow/tensorflow/issues/36391

[2020-01-31 23:11] haozha111 commented on #35987
The error message gives some indication that it may happen inside the Sub operator:
#2  0x00007fffc5e995c9 in void tflite::ops::builtin::sub::EvalSub<(tflite::ops::builtin::sub::KernelType)2>(TfLiteContext*, TfLiteNode*, TfLiteSubParams*, tflite::ops::builtin::sub::OpData const*, TfLiteTensor const*, TfLiteTensor const*, TfLiteTensor*) () from /usr/local/lib/python3.6/dist-packages/tensorflow_core

[2020-01-31 23:14] gargn commented on #29590
We added support for unknown dimensions in TensorFlow Lite today (55912083e2f16087c2f29394acf8a6a4811a2ce0).

Can you try converting your model again with tonight's (1/31) `tf-nightly` once it's released (`pip install tf-nightly`). Convert the model with `experimental_new_converter = True`.

When you load the model it should have an additional field `shape_signature` that contains the shape with a

[2020-01-31 23:15] gargn commented on #24607
We added support for unknown dimensions in TensorFlow Lite today (55912083e2f16087c2f29394acf8a6a4811a2ce0).

Can you try converting your model again with tonight's (1/31) `tf-nightly` once it's released (`pip install tf-nightly`). Convert the model with `experimental_new_converter = True`.

When you load the model it should have an additional field `shape_signature` that contains the shape with a

[2020-01-31 23:16] pavanky commented on #36347
@mihaimaruseac updating the documentation sounds good. this can be closed at that point.

[2020-01-31 23:25] haozha111 commented on #36154
Suharsh, could you take a look at this issue? Thanks!

[2020-01-31 23:36] zihaozhang9 commented on #36371
When I use conda install tensorflow-gpu
conda is installed:
  keras-applications pkgs/main/noarch::keras-applications-1.0.8-py_0
  keras-preprocessi~ pkgs/main/noarch::keras-preprocessing-1.1.0-py_1
`import tensorflow`
Keep getting errors：ImportError: cannot import name 'resnet'
then
` pip uninstall keras-applications`
` pip uninstall keras-preprocessing`
`import tensorflow`
success!

But now it's

[2020-01-31 23:51] haozha111 commented on #33827
is it possible to not use searchsorted if you can achieve with basic ops?

[2020-01-31 23:54] haozha111 commented on #31660
i've submitted a fix for dilated conv in the new mlir converter.
https://github.com/tensorflow/tensorflow/commit/f54bb6f5578b931d79884302768996ba1073f685

could you please download latest tf-nightly and then try convert your model with the new converter?

(please set converter.experimental_new_converter = True).
thanks.

[2020-01-31 23:57] haozha111 commented on #22109
hey, sorry for late reply.

We will deprecate TOCO soon in favor of the new MLIR converter. Could you download tf-nightly and then enable the new converter via `converter.experimental_new_converter = True`. hope the new converter could solve this issue.

let me know if the issue still persists.

[2020-01-31 23:59] #34034 closed

[2020-02-01 00:02] talumbau commented on #35283
I have some updates here. I ran our standard benchmark_model` tool on the model provided by Artaches (thanks!) and I am now confused by the results you report. The model is all in float and the performance is dominated by the FullyConnected op (it spends 99% of its time in FC). When run with standard options (i.e. with Ruy on) on a small core of a Pixel 4, you get:

... a snippet from the tool out

[2020-02-01 00:02] #27278 closed

[2020-02-01 00:05] haozha111 commented on #31660
feel free to reopen if the issue still persists. thanks!

[2020-02-01 00:05] #31660 closed

[2020-02-01 00:06] #31821 closed

[2020-02-01 00:10] haozha111 commented on #33718
i don't see where in the tflite code base `einsum` is replaced by a sequence of other ops. is it possible that the model you generated before doesn't have `einsum` at all?

[2020-02-01 00:11] i-TechSoftware commented on #35925
Hi. I faced the same problem. Is there any solution or workaround?

[2020-02-01 00:12] haozha111 commented on #31399
hey, sorry for late reply..

we've released a new mlir-based tflite converter. you can try with the new converter to see if the issue still happens.

To use it, please download latest tf-nightly, and then set `converter.experimental_new_converter = True`.
thanks!

[2020-02-01 00:13] #31604 closed

[2020-02-01 00:16] #34502 closed

[2020-02-01 00:17] madanmch commented on #30647
Hi @sheirving

I have same problem of unresolved symbols. Then I tried to add those lines to def_file_filter.py.tpl as said above. But I am getting dll build error when I compile for the tensorflow.dll using bazel. I wonder, how can you manage this problem.
Please let us know. Thanks.

[2020-02-01 00:17] haozha111 commented on #35008
we are adding `RandomUniform` as a built-in op for TF Lite. Assigning this issue to Jaeyoo  for investigation now. thanks.

[2020-02-01 00:21] haozha111 commented on #31040
hey,

TOCO will be deprecated soon. Could you try use the new MLIR converter and see if issue still persist?

To use it, please download the latest tf-nightly or recent stable release of tf, and then add this to your code:
`converter.experimental_new_converter = True`.

(see user guide here: https://www.tensorflow.org/lite/convert/python_api)

[2020-02-01 00:24] aggarwalpiush opened #36392 "ValueError: `handle` is not available outside the replica context or a `tf.distribute.Strategy.update()` call due to gradient tape"
Similar to #355226 I am also getting the same Value error but while handling gradient tape.

[code]

My code:
[code]

I am using ```Tensorflow==2.1.0``` and ```cuda 10.1```

[2020-02-01 00:26] haozha111 commented on #32521
Update:

we are adding `RandomUniform` as a built-in op. Jaeyoo, could you help follow up on this issue once your code is checked-in?

[2020-02-01 00:29] haozha111 commented on #32760
the TOCO converter will be deprecated. Have you tried the new MLIR-based converter?

please refer to https://www.tensorflow.org/lite/convert/python_api  for more info.

[2020-02-01 00:30] moniGra commented on #35987
@haozha111 I've tried that - it gives me Value Error (with experimental converter turned off but still in the latest tf-nightly it's the same). The input shape in my case is [1, 257, 250, 1]
`File "/Users/monikagrzeda/miniconda3/envs/tf-nightly-py3/lib/python3.7/site-packages/tensorflow_core/python/framework/convert_to_constants.py", line 526, in _convert_variables_to_constants_v2_impl
    raise V

[2020-02-01 00:38] PrimarchOfTheSpaceWolves commented on #35298
I have used tf.config.experimental.set_visible_devices() to limit things to gpu:1.  However, passing "/gpu:1" to OneDeviceStrategy fails saying it cannot find that GPU, and setting it to "/gpu:0" just allocates space on GPU 0 (physical).
Granted, one can forgo using OneDeviceStrategy altogether, but that renders OneDeviceStrategy completely moot.  The problem is that I'm writing code to switch bet

[2020-02-01 00:41] talumbau commented on #35283
For completeness, I will mention that the output `cpu_backend_gemm::Gemm: general GEMM` in the second profiling indicates that another GEMM implementation was used. In this case, the GEMM operation used `eigen` since that is our fallback path is Ruy is not available.

[2020-02-01 00:52] lidaweironaldo commented on #34845
@srjoglekar246 @parvizp Why does the output array only include: detection_boxes,detection_classes,detection_scores,num_detections? Is the mask head excluded?

[2020-02-01 01:33] jsimsa commented on #35944
@mxmlnkn would you be able to check whether the same issue can be reproduced using `py_function` without tf.data. `tf.data.Dataset.from_generator` relies on `py_function` internally and I believe that this issue is inherent to `py_function.

[2020-02-01 01:37] ahAIFund opened #36393 "LSTM return sequence is not working unless i use return state"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):mac 10.15
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):source
- TensorFlow version (use command below):2.1.0
- Python ve

[2020-02-01 01:41] #36393 closed

[2020-02-01 01:57] prashastk opened #36394 "file_io.get_matching_files indefinitely hangs"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): GCP cloud shell
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): Comes pre-installed in  GCP cloud shell
- TensorFlow

[2020-02-01 02:01] nipnipj commented on #33374
Release date for a new version tensorflow that works on Python 3.8?

[2020-02-01 02:14] karimnosseir commented on #36284
Documentation updated.

[2020-02-01 02:14] #36284 closed

[2020-02-01 02:16] karimnosseir commented on #36182
Lawrence looks like there is some permission error. Can you please take a look

Thanks

[2020-02-01 02:28] karimnosseir commented on #36178
To build for android aarch64 just pass --config=android_arm64 to the bazel build command

bazel build -c opt --config=android_arm64 tensorflow/lite:libtensorflowlite.so

[2020-02-01 02:35] Leslie-Fang commented on #36360
@rodyt Did you mean when you call tfrecords_writer.write it generate the tfrecord sequentially ?
Could you provide a piece of code and the running time as the baseline?

[2020-02-01 02:35] dbonner commented on #35115
Hi @freedomtan I was building with Python 3.8

[2020-02-01 02:35] karimnosseir commented on #36152
Based on comment in issue #36160. Looks like issue resolved.
Closing issue

[2020-02-01 02:35] #36152 closed

[2020-02-01 02:48] rzyangKyle commented on #36309
tf2.0

[2020-02-01 02:55] Leslie-Fang commented on #36360
Could you try to write each dataset shard into a different tfrecord file? I suspect it will be much faster.
Since it seems each tfrecords_writer.write op only have  one background thread which works. So even you start much process which invoke the same tfrecords_writer.write op, there may only  one thread works at each time.

[2020-02-01 03:46] sandeepgadhwal opened #36396 "Error while converting saved_model to tflite"
**System information**
Windows 10
Tensorflow installed via pip tf-nightly
tensorflow 2.2

**Provide the text output from tflite_convert**
[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

I am using nchw data format

[2020-02-01 04:02] anj-s commented on #35346
olegmyrk@ this issue is a known one and due to the fact that we trace the train function on each of the GPUs sequentially. This is known to result in slow start up times when using MirroredStrategy.

[2020-02-01 04:46] tgaddair opened #36398 "Support a generic API for modifying loss / gradients in Keras"
**System information**
- TensorFlow version (you are using): 2.2
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

In the upcoming 2.2 release, `experimental_run_tf_function` was removed from `tf.keras.Model.compile` (see https://github.com/tensorflow/tensorflow/issues/35138).

As a result, [this](https://github.com/tensorflow/tensorflow/bl

[2020-02-01 05:25] shuklakirti commented on #36077
Hey. Thanks, closing the issue.

[2020-02-01 05:25] #36077 closed

[2020-02-01 05:29] yxchng commented on #36337
@ymodak @gadagashwini I realized that manually padding with ZeroPadding2D layer makes the model consumes more memory than using the implicit `padding` in `Conv2D` or `MaxPool2D`, i.e. Conv2D(..., padding='same'). This should be a bug! There is no reason why manually padding should consume more memory.

Manually padding is required in many situations because TF does not support symmetric padding, t

[2020-02-01 05:38] saravanabalagi opened #36399 "Hparams with Estimators"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
Hparams cannot be used with estimators in tensorflow 2. There's a `KerasCallback` class that logs the `hparams` when using Keras `model.fit`, however this is not usable when using Estimator API.

There could be a feature in th

[2020-02-01 05:47] saravanabalagi commented on #36399
I was able to log hparams for the current trial following the instructions when not using keras given at [hparams/api.py](https://github.com/tensorflow/tensorboard/blob/master/tensorboard/plugins/hparams/api.py#L38).

[code]

I can see the logged `hparams` in tensorboard

![image](https://user-images.githubusercontent.com/8567893/73587634-771f6580-44e4-11ea-87a9-6a670b69bebe.png)

[2020-02-01 05:55] saravanabalagi commented on #36399
However, I am not able to connect the metrics already logged.

![image](https://user-images.githubusercontent.com/8567893/73587677-dda48380-44e4-11ea-90a2-e6010beac48a.png)

[2020-02-01 05:55] saravanabalagi commented on #36399
Nor am I able to log them (again) against the current trial. I tried if it is possible to log hparams just like how it's done with Keras Callback

[code]
Then use it like,

[code]

But I get

[code]

[2020-02-01 06:06] saravanabalagi commented on #36399
Options:

1. A new _functionality_ in the `Hparams` plugin should find and pick (the last value of) the metrics if logged and show them against the current trial.
1. A new _callback_ for estimator that would directly take in the hparams, and log them just like Keras Callback
1. A new _function_ to log metrics separately (for cases where there's a custom loop or a separate evaluation needs done at

[2020-02-01 06:12] anj-s commented on #35384
@KANGRuipeng I am unable to repro this error. If you can share a colab link to the code and error message we can take a look. Also I have seen this message as a warning but not an error so I am surprised that this was a hard error. You can also try moving to TF 2 is that is possible.

[2020-02-01 06:12] #35384 closed

[2020-02-01 06:28] sandeepgadhwal commented on #36396
@https://github.com/osheenn

[2020-02-01 06:40] saravanabalagi commented on #36399
Since this belongs more on the tensorboard issues page, closing this. Issue moved [here](https://github.com/tensorflow/tensorboard/issues/3206).

[2020-02-01 06:40] #36399 closed

[2020-02-01 06:51] MarcelSimon opened #36400 "Metrics passed to on_batch_end(...) in Keras are inconsistent"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: No
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Uubntu 18.04
- **TensorFlow installed from (source or binary)**: pip tensorflow-gpu
- **TensorFlow version (use command below)**: 2.1
- **Python version**: 3.7
- **CUDA/cuDNN version**:
- **GPU model and memor

[2020-02-01 07:20] rodyt commented on #36224
Is there any other way I can provide debug information on TF 2.0? It's incredibly annoying to not be able to use all my GPUs. @anj-s  @jvishnuvardhan

[2020-02-01 08:14] reedwm commented on #36398
Thank you for the proposal. Subclassing the experimental LossScaleOptimizer and overriding `get_scaled_loss` and `get_unscaled_gradients` is hacky and not what LossScaleOptimizer is intended for, for, so I agree this needs to be addressed.

One thing I'm  confused about is whether Keras would expect a `WrappedOptimizer` or a non-wrapped optimizer. Would it use `isinstance` to determine if the opti

[2020-02-01 08:30] sidharth1805 opened #36401 "dll loading failed in tensorflow"
raise ImportError(msg)

ImportError: Traceback (most recent call last):
  File "C:\Users\sidha\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\sidha\Anaconda3\lib\site-packages\tensorflow_core\python\pywrap_tensorflow_internal.py", line 28, in <module>
    _pywrap_tensorfl

[2020-02-01 08:31] sidharth1805 commented on #36401
python 3.7

[2020-02-01 08:37] robin-fusemachines commented on #25507
any updated for windows 10 ? I am getting this same error

[2020-02-01 09:10] DEKHTIARJonathan commented on #36398
The high level idea is to expose a bunch of "high level" hooks in a similar fashion to the Keras Callback and let the Keras Engine &  the Wrapper Optimizer do the heavy lift and logic aspect for you.

Keras can check if the optimizer is a subclass of WrapperOptimizer and trigger in consequence the correct hooks at the right time.

Technically most of the "hook triggering" can be done directly insi

[2020-02-01 09:16] aptly-io commented on #33827
@haozha111 @gadagashwini I switched to TorchScript. (I missed the time to look into a tensorflow workaround).

[2020-02-01 09:16] #33827 closed

[2020-02-01 09:35] omalleyt12 commented on #36398
Thanks for the proposal!

In my opinion, the core issue with our current API is that gradient computation and application is split b/t the `GradientTape` and `Optimizer` objects.

I think the best way to support hooks like these is to create an API that passes the `GradientTape` into the `Optimizer` like this:

[code]

By giving the `Optimizer` access to the `GradientTape` object, things like loss

[2020-02-01 10:26] #36367 closed

[2020-02-01 10:42] karapapas opened #36402 "Labels missing on TensorFlow Lite example after applying custom model."
I'm using Teachable Machine for an image classification problem.

I have exported the model produced by Teachable Machine in FLOAT format.

I strictly followed the instruction about placing the labels.txt and model on the right folder and also about making changes on ClassifierQuantizedMobileNet and activity_camera.xml

Yet still the labels and the percentage of confidence won't show up as they do

[2020-02-01 11:20] ZlaaM commented on #23755
@osama12sy
I have faced the same problem, did you solve it?
please help

[2020-02-01 11:29] tsc2017 commented on #32712
@jsimsa
In the following, I provide two notebooks for testing:
[custom code](https://colab.research.google.com/drive/1Jf43Aq8LtGxUD5QSMGp4KJJnoUdYGiF-)
[keras](https://colab.research.google.com/drive/1kOb4jzlpYsSf-0hv1Rs7_4SGTNini0LK)
However, I am not able to test them as I have difficulties in importing tf-nightly in Colab.

[2020-02-01 11:39] breadbread1984 opened #36404 "sample code of while_loop can't execute on tf nightly"
I am using 2.2.0-dev20200129. I find that the sample code [here](https://tensorflow.google.cn/api_docs/python/tf/while_loop#example_2) cause the following error message

on this version.

[2020-02-01 11:52] rushabh-v commented on #36363
I want to take this up.
I'll be opening a PR soon I think.

[2020-02-01 11:58] MISSEY opened #36407 "ImportError: DLL load failed: The specified module could not be found. OS Windows 10 , Tensorflow cpu version"
python -c "import tensorflow as tf;print(tf.reduce_sum(tf.random.normal([1000, 1000])))"
Traceback (most recent call last):
  File "C:\Users\skmishra\AppData\Local\Continuum\anaconda3\envs\FOODRECOGNITION\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\skmishra\AppData\Local\Continu

[2020-02-01 12:01] mrharut commented on #33374
So only downgrading to 3.7 or lower is the solution?

[2020-02-01 12:51] abdou31 commented on #30197
@joel5638 I think the answer is no, you should change the architecture

[2020-02-01 12:55] #36222 closed

[2020-02-01 13:17] dimridd opened #36412 "tflite conversion"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (pip3 install tensorflow==1.13.1):
- TensorFlow version (1.13.1):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagnose the

[2020-02-01 14:32] pokecheater commented on #26912
If anyone else (like me) is facing this issue. Stop renaming your layer names, see the link below:
https://www.gitmemory.com/MoyanZitto

[2020-02-01 14:47] zkx741481546 commented on #36407
same problem with TF 2.1.0 and cuda10.0 or cuda10.1

[2020-02-01 14:51] kiruthihan10 opened #36413 "Image data Generator in input mode is not running"
I tried to create a Deep Learning model kinda like a Autoencoder.
So i got image inputs and outputs via image data generator.

`image_dataset = keras.preprocessing.image.ImageDataGenerator(rotation_range=180,validation_split=0.25)`

`output_image_dataset = keras.preprocessing.image.ImageDataGenerator(rotation_range=180,validation_split=0.25)`

`train_generator = image_dataset.flow_from_directory(i

[2020-02-01 15:00] jvishnuvardhan commented on #35791
@alewir Thanks for confirming the issue was resolved. Thanks again. I am closing it.

[2020-02-01 15:00] #35791 closed

[2020-02-01 15:21] ZlaaM commented on #23755
@osama12sy

[2020-02-01 15:21] moonman925 commented on #36380
pip install tb-nightly first works for me.

[2020-02-01 16:50] jmsdai commented on #22512
Hi guys tried installing tensorflow 2.0.0 - it has changed my error from DLL load to something else (see below).

Please could someone help? And let me know if I need to provide more info (first time posting here)

Using TensorFlow backend.
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Program

[2020-02-01 16:56] kiruthihan10 commented on #36413
Found the error.
Try to give autoencoder input and output by different generators.

[2020-02-01 16:56] #36413 closed

[2020-02-01 17:51] joel5638 commented on #30197
Okay.
What if i want to follow traditional Deep Learning methodology in labeling the data, creating tf records and then training using rcnn or mobilenet? Is it possible? Using tensorflow or pytorch.

[2020-02-01 18:36] njzjz opened #36415 "tf 2.1 do not support bazel 0.26?"
## URL(s) with the issue:

https://www.tensorflow.org/install/source?hl=en

## Description of issue (what needs changing):

### Clear description

It's said that tensorflow 2.1.0 is built by bazel 0.26.1, but when I use bazel 0.26.1 to build, I get the following error:
[code]

So, what is the correct bazel version?

[2020-02-01 20:03] ymodak commented on #36328
For saving tensorflow checkpoints you may use `tf.keras.Model.save_weights` method instead.
`transformer.save_weights(checkpoint_path)`

[2020-02-01 20:13] ymodak commented on #36339
You may refer #23747

[2020-02-01 20:29] masoudnick opened #36416 "Error while training object detection model"
Hi,
I am gonna to train a model for object detection with ssdlite_mobilenet_v2_coco (training images:30000,testing images:2000). But in almost 24000 itrations, I will be faced a problem.
What's the meaning of this error and how can i fix it?
### System information

- OS Platform and Distribution (Google Colab Ubuntu):

- TensorFlow version (1.15)

INFO:tensorflow:Finished training! Saving model to

[2020-02-01 22:02] Swapnil99007 commented on #36407
Try these methods :
1. Try using Python 3.7
2. Try using 64 bit version of Python 3.7
3. Use "conda install tensorflow" in the specific environment.

[2020-02-01 22:24] TheBicPen commented on #35103
I am facing the same issue with pasta 0.1.8 on Windows. I haven't checked yet on Manjaro.

[2020-02-01 22:40] tgaddair commented on #36398
Hey @omalleyt12, thanks for chiming in.  I absolutely agree and think that would be an excellent approach.  Do you see this also becoming the standard approach for end-users outside of Keras as well?  So instead of users writing:

[code]

They would just write this inside their training step:

[code]

@reedwm, if @omalleyt12's approach sounds good to everyone on your end, we'd be happy to prototyp

[2020-02-01 22:55] ymodak commented on #36161
@namitajadhav Is this still an issue? Feel free to share your resolution if you have solved it.  Thanks!

[2020-02-01 23:00] pjsjongsung commented on #26813
Using tensorflow 2.1.0 in VScode.
I'm having the same issue.

[2020-02-01 23:01] shahriar49 commented on #36254
@ymodak
I found the problem and realized that it was because of passing sample weights in addition to samples and targets in the training dataset. It is still a question for me why tensorflow 1.12 and 1.14 act differently in this case, but it is understandable.

[2020-02-01 23:01] #36254 closed

[2020-02-01 23:17] ymodak commented on #35925
Perhaps this thread can help.
https://github.com/tensorflow/datasets/issues/720

[2020-02-01 23:46] jvishnuvardhan commented on #36102
Closing this out since I understand it to be resolved, but please let me know if I'm mistaken.Thanks!

[2020-02-01 23:46] #36102 closed

[2020-02-02 00:15] jvishnuvardhan commented on #36072
@liuxingbaoyu May be there are some ops running in `cpu` and some Ops are running in `GPU`. You could check with any profiling tools to see which part of the code is taking more time and you can run them in graph model using @tf.function. For example, `def preprocess(x, y):` is taking more time then you can insert @tf.function above that function definition to run it in graph mode. You could run c

[2020-02-02 00:18] jvishnuvardhan commented on #36069
@ianfhunter Can you please provide simple standalone code for faster resolution? You could use any public data. Thanks!

[2020-02-02 00:22] jvishnuvardhan commented on #35986
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-02 00:22] #35986 closed

[2020-02-02 00:35] reedwm commented on #36398
Thanks for the ideas @omalleyt12, @tgaddair, and @DEKHTIARJonathan. I have a few questions:

1. How would a user combine multiple optimizer subclasses, each defining hooks? For example, I may have two optimizer subclasses, `OptimizerA` and `OptimizerB`, each which overrides `_process_unaggregated_gradients`. One way would be to define an optimizer subclassing both:

[code]
   But this is somewhat

[2020-02-02 00:46] ymodak commented on #33649
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-02 00:58] omalleyt12 commented on #36398
@tgaddair  Yep, that would be the idea. We would still have to support `Optimizer.apply_gradients`, which IMO should be implemented along the same lines, but with only a subset of the hooks, since that method assumes the users want control of computing the unaggregated gradients themselves:

[code]

@reedwm I think these problems are all solved by using composition rather than inheritance. For exa

[2020-02-02 01:27] reedwm commented on #36398
This looks reasonable. If every hook-based optimizer uses composition, I don't think we need the `CombinedOptimizer`, right? I'm not a big fan of `CombinedOptimizer`, since it can only call `apply_gradients` on one optimizer. Also for your `LossScaleOptimizer` example, I think `_process_loss` has to call `super()._process_loss`, then pass the return value to `_get_scaled_loss`

Also, we should pro

[2020-02-02 01:37] yangchengwork commented on #36189
My English is very poor，show mofidy code
`
diff --git a/tensorflow/lite/micro/kernels/activation_utils.h b/tensorflow/lite/micro/kernels/activation_utils.h
index 62f3237bac..5fe05967ad 100644
--- a/tensorflow/lite/micro/kernels/activation_utils.h
+++ b/tensorflow/lite/micro/kernels/activation_utils.h
@@ -41,6 +41,8 @@ inline float ActivationValFloat(TfLiteFusedActivation act, float a) {
       ret

[2020-02-02 01:41] metarag commented on #34603
That works! 😀

However, shouldn't `model.signatures['serving_default']` work too? It's based off of the official tutorials.

[2020-02-02 01:58] av8ramit commented on #36401
What version of TensorFlow is this happening on? If this is in nightly do you mind seeing if it is possible to repro in the latest official release?

[2020-02-02 02:04] av8ramit commented on #36407
What version of TensorFlow is this? Is this 2.1, nightly, are you building from source etc.?

[2020-02-02 02:11] av8ramit commented on #36407
Looks like [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) can help and is related?

[2020-02-02 02:17] #36377 closed

[2020-02-02 02:17] #36407 closed

[2020-02-02 02:18] av8ramit commented on #36385
Please fill out the template in the future so we are able to better assist you. Looks like [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) can help and is related? We are updating documentation very soon.

[2020-02-02 02:18] #36385 closed

[2020-02-02 02:19] av8ramit commented on #36401
Please fill out the template in the future so we are able to better assist you. Looks like [this comment](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) can help and is related? We are updating documentation very soon.

[2020-02-02 02:19] #36401 closed

[2020-02-02 02:24] bmzhao commented on #36385
Hi @psyg0501,

Did you install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019?

According to the docs at https://www.tensorflow.org/install/pip,

Scroll down the page to the Visual Studio 2015, 2017 and 2019 section.
Download and install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 for your platform.
Make sure [long paths](https://

[2020-02-02 02:25] bmzhao commented on #36407
Hi @MISSEY,

Did you install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019?

According to the docs at https://www.tensorflow.org/install/pip,

Scroll down the page to the Visual Studio 2015, 2017 and 2019 section.
Download and install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 for your platform.
Make sure [long paths](https://su

[2020-02-02 02:26] bmzhao commented on #36401
Hi @sidharth1805,

Did you install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019?

According to the docs at https://www.tensorflow.org/install/pip,

Scroll down the page to the Visual Studio 2015, 2017 and 2019 section.
Download and install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 for your platform.
Make sure [long paths](http

[2020-02-02 02:37] pavithrasv commented on #35439
@gsimko Thank you for the question. For metrics and losses, we expect that labels and predictions are at least 2D.

https://www.tensorflow.org/api_docs/python/tf/keras/metrics/MeanAbsoluteError?version=nightly#update_state
[code]

For example, let's say y_pred and y_true are of the shape [batch_size, d0], we compute the mean across the last axis in a sample -> this will give us one value per-sampl

[2020-02-02 02:39] bmzhao commented on #36167
Hi @Brayden1000,

Did you install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019?

According to the docs at https://www.tensorflow.org/install/pip,

Scroll down the page to the Visual Studio 2015, 2017 and 2019 section.
Download and install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017 and 2019 for your platform.
Make sure [long paths](https

[2020-02-02 05:36] liuxingbaoyu commented on #36072
@jvishnuvardhan
I tried `@tf.function` + with `tf.device ("/ device: GPU: 0"):` still doesn't work.
When I run it, it takes 1 ~ 30 steps, then starts to freeze, and then only uses the cpu, not the gpu.
And I found that it is not occupying one CPU core, but it is occupying two CPU cores.
I think it might endlessly loop somewhere, but I can't find where.
Thank you!

[2020-02-02 05:56] lostmsu opened #36417 "Regression: contrib.boosted_trees.estimator_batch modules are not available in 1.15.2"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-02-02 06:01] mjlbach opened #36418 "[Nightly] Distributed dataset/variable regression with dictionary data structures 2.2.0.dev20200130 -> 2.2.0.dev20200131"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 16.04
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**:
- **TensorFlow installed from (source or binary)**: Wheel
- **TensorFlow version (use com

[2020-02-02 06:25] #35701 closed

[2020-02-02 07:08] wisefool769 commented on #36382
I think six module version is too old. It needs to be at least 1.12. Your issue looks similar to [this](https://stackoverflow.com/questions/57251430/attributeerror-module-object-has-no-attribute-ensure-str).

[2020-02-02 07:13] gunan commented on #36213
@Artem-B may have some details.
At one point, I remember CUDA headers had a check to block building with Clang, when we first tried this. I do not know if this still applies.

Another option is to just use clang when building TF. Clang can already compile cuda code.

[2020-02-02 07:27] m-yaghini commented on #24828
So I ran into this problem when I tried to re-install TensorFlow in an older Nvidia docker. After running my notebook I got the same error. What I learned after a long while was that the "warning" message that the error's talking about *shows up in the jupyter console running the server*, and is not piped into stdout.

There I found out the error message that clearly said my TensorFlow (the one I

[2020-02-02 07:43] #34098 closed

[2020-02-02 08:16] ianfhunter commented on #36069
I'll try to do so in the coming week

[2020-02-02 09:31] netw0rkf10w commented on #33649
@ymodak @pavithrasv The bug can be reproduced using [this Colab notebook](https://colab.research.google.com/drive/1qpCxBeF-2GEjPkvbcQDITC7Gi_9X-oTc). It's the same notebook as in the first message, but with 2 differences:

- I added a creation of 2 virtual GPUs to simulate multi-gpu training.
- I changed the TF version to tf-nightly to show that the bug still exists in the latest version.

Simply

[2020-02-02 11:58] ArshaHaryoko opened #36419 "ModuleNotFoundError: No module named 'tensorflow.contrib'. Latest version of TensorFlow not working with TFLearn?"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.0.0
- Python version: 3.7, 3.6.10 on virtual environment
- Installed using virtualenv? pip? conda?: conda
- CUDA/cuDNN version: CUDA 9.0 / cuDNN 7.6.5
- GPU model and memory: NVIDIA GeForce GTX 1660 SUPER, 16GB

So iv'e been trying to install Tensorfl

[2020-02-02 12:11] Panshangka opened #36420 "Tensorflow2.0 checkpoint restore error"
Here is an error message:
`Exception ignored in: <bound method _CheckpointRestoreCoordinatorDeleter.__del__ of <tensorflow.python.training.tracking.util._CheckpointRestoreCoordinatorDeleter object at 0x0000014FDDC7CFD0>>
Traceback (most recent call last):
  File "C:\Users\17551\Miniconda3\lib\site-packages\tensorflow_core\python\training\tracking\util.py", line 140, in __del__
TypeError: 'NoneType

[2020-02-02 13:16] netw0rkf10w commented on #33459
It seems that several blocks are affected. For example, in the `conv5_` block the weights of the following layers are switched:
- `conv5_block1_3_bn` and `conv5_block1_0_bn`
- `conv5_block1_3_conv` and `conv5_block1_0_conv`.

This affects quite significantly the accuracy of transfer learning (on at least semantic segmentation in my case).

[2020-02-02 13:25] bhack commented on #14873
Check https://github.com/dart-lang/tflite_native/pull/22

[2020-02-02 13:47] simplezhang57 opened #36421 "Tensor is unhashable if Tensor equality is enabled"
**System information**
win10
python 3.6
TF 2.1
tfp 0.9 (have trid 0.8 as well)
tf-hightly-2.9-preview 2.0
shap 0.34
my code below:
from __future__ import print_function

from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding
from keras.layers import LSTM
from keras.datasets import imdb

max_features = 20000
maxlen = 80  # cut texts af

[2020-02-02 14:53] farotem opened #36422 "performance issue when using the function tf.convert_to_tensor()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
yes
- OS Platf

[2020-02-02 15:00] ajmalfaiz commented on #22794
I fixed it.
Spend days searching to fix them.

Installed tensorflow with pip install tensorflow-cpu
Updated visual c++ 2015-2019

issue was because i didn't had nvidia graphics so that i should install with cpu version because i am using Raedon vega 8 graphics

Hope it helps.

[2020-02-02 15:00] ajmalfaiz commented on #17393
I fixed it.
Spend days searching to fix them.

Installed tensorflow with pip install tensorflow-cpu
Updated visual c++ 2015-2019

issue was because i didn't had nvidia graphics so that i should install with cpu version because i am using Raedon vega 8 graphics

Hope it helps.

[2020-02-02 16:13] punndcoder28 commented on #36382
I'll look into this and then try the tests. Thanks.

[2020-02-02 16:37] psyg0501 commented on #36385
Thank you very much. I installed Visual C++ and then tf2. It works. I still think this requirement should be mentioned in red uppercase letters on tf page. I did not see it there.
Thanks again

Sent from Yahoo Mail on Android

  On Sun, 2 Feb 2020 at 3:19, Amit Patankar<notifications@github.com> wrote:
Closed #36385.

—
You are receiving this because you authored the thread.
Reply to this email di

[2020-02-02 16:51] PhilipMay commented on #29799
F1 in addons seems to have an ugly bug: https://github.com/tensorflow/addons/issues/825

[2020-02-02 17:17] psyg0501 commented on #36385
Thank you very much. I installed Visual C++ and then tf2. It works. I still think this requirement should be mentioned in red uppercase letters on tf page. I did not see it there.
Thanks again

[2020-02-02 17:51] KaberMed commented on #20444
I fixed this issue on python 3.8 using this :
1/ Go to the directory of Scipts in your python in my case :  C:\Python\Python38-32\Scripts
2/ in Cmd type : cd C:\Python\Python38-32\Scripts
Then type : pip install https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl

[2020-02-02 17:55] Dominux opened #36423 "Failed to get device attribute 13 for device 0"
When I'am trying to run Yolo detection examples, I got that error:

[code]

My stack:
* Win 10,
* Tensoflow 2.1,
* Intel Core I5,
* Nvidia GeForce MX230 2GB,
* 8GD DDR4

I checked similar issues, but they don't have solutions. Just despaired people...
But it problem was talked about by them only with TF 1.14 - I didn't find other
But how you could notice at me stack above I'm using TF 2.1 already

[2020-02-02 18:00] jeisinge opened #36424 "TensorFlow Feature Columns Fail for Keras Model Functional API"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Databricks 6.3- `Linux version 4.4.0-1100-aws (buildd@lgw01-amd64-030) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12) ) #111-Ubuntu SMP Wed Dec 4 12:20:15 UTC 2019 (Ubuntu 4.4.0-1100.111-aws 4.4

[2020-02-02 18:12] fcunilim commented on #36340
I believe I made some important progress.

If I change the Adam optimizer settings to **learning_rate=0.0005 and beta_1=0.5**, convergence is  good.
(These settings are used for instance in this page: https://towardsdatascience.com/dcgans-generating-dog-images-with-tensorflow-and-keras-fb51a1071432)

When using the default Adam parameters (learning_rate=0.001, beta_1=0.9), convergence is almost ne

[2020-02-02 18:45] bhack commented on #14873
For firebase instead https://github.com/FirebaseExtended/flutterfire/issues/788

[2020-02-02 19:23] jgung commented on #28570
Testing in later versions (1.14/1.15), this issue seems to be fixed now. Closing the ticket, thanks!

[2020-02-02 19:23] #28570 closed

[2020-02-02 20:15] omalleyt12 commented on #36398
Agreed. This was just an example in response to the Q: "How would a user combine multiple optimizer subclasses, each defining hooks?"

Mostly, when users use two Optimizers, I'd imagine they are using them for two separate sets of Variables. In that case, `optimizer1.minimize(loss, vars1, tape)` and `optimizer2.minimize(loss, vars2, tape)` works

True, agreed. It should be calling `self._optimizer

[2020-02-02 20:20] Bengt commented on #36343
I can confirm this. I get this issue with with the latest tensorflow-rocm-upstream, into which tensorflow was last merged on Friday. After checking out the earlier commit @claynerobison pointed at, I do no longer see this error. I am not sure if this is the correct issue tracker, though. Pinging @whchung and @sunway513 for awareness.

[2020-02-02 20:26] notnot commented on #24828
Cilicili solution indeed works, if you use TensorFlow 2.* in eager mode (no sessions!)
thanks!

[2020-02-02 20:46] madflower opened #36425 "tf-lite update 3rd party repo script r2.1 branch"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): linux raspbian
- Mobile device

[2020-02-02 21:02] Lip651 opened #36426 "Error:55: Could not load dynamic library 'libcudnn.so.7"
**System information**
- Operating System: 18.04.4 LTS
- TensorFlow installed from: source
- TensorFlow version: 2.1.0
- Python version: 3.6.9
- Installed using: virtualenv, and then pip in order to build the wheel as mentionned in the source installation
- Bazel version: bazel-1.2.1 as mentionned in my configure.py file. No other version was possible
- GCC/Compiler: 7.4.0
- CUDA: 10.2.89
- cuDNN:

[2020-02-02 21:18] baqwas opened #36427 "HadoopFileSystem load error"
this is a build/installation issue.

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
[code]

[code]
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
n/a

- TensorFlow installed from (source or binary):
- TensorFlow version:
[code]
- Python version:
[code]
- Installed using virtualenv? pip? conda?:
`python3 -m pip inst

[2020-02-02 21:33] mihaimaruseac commented on #20444
@KaberMed this issue is about python3.7, not python3.8. Please don't spam

[2020-02-02 21:37] jeisinge commented on #36424
On Tensorflow 1.15, I get the following error:
[code]

[2020-02-02 21:44] mihaimaruseac commented on #33374
For now there are 2 solutions: use Python 3.7 or compile from source.

TF 2.2 will have python3.8 support.

[2020-02-02 21:46] jeisinge commented on #36424
Creating the `dense_tensor` with `tf.compat.v1.feature_column.input_layer` fails later when used.

The following code runs successfully.
[code]

However, the same failure exists when the `dense_tensor` is used:
[code]

Can `feature_columns` be used with Keras models?

[2020-02-02 21:46] mihaimaruseac commented on #36347
Documentation updated. Please let me know if there's something else to change.

Apologies again for not having a single pip anymore on 1.15

[2020-02-02 21:46] #36347 closed

[2020-02-02 22:02] rgov opened #36428 "Discrepancy between keras.layers.Reshape and tf.keras.layers.Reshape"
[code]

In Keras, according to [the documentation](https://keras.io/layers/core/), we expect:

[code]

But in tf.Keras [documentation](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Reshape):

[code]

The second dimension is now `None` instead of the computed value.

This makes tf.Keras incompatible with Keras, and makes it harder to write code that is parameterized by of the output sh

[2020-02-02 22:07] mihaimaruseac commented on #36427
Duplicates #36141, hence closing. Please make sure in the future to search for similar issues.

[2020-02-02 22:07] #36427 closed

[2020-02-02 22:09] mihaimaruseac commented on #36419
`tf.contrib` has been removed from TF2.0 onwards, especially since it was not properly maintained

We recommend switching to alternatives or downgrading to 1.15

[2020-02-02 22:09] #36419 closed

[2020-02-02 22:10] mihaimaruseac commented on #36420
Please fill in the issue template, please use ` ``` ` around code blocks and errors, please make sure you search for duplicates of your issue, in case there is already some solution available.

[2020-02-02 22:10] MikeOfZen commented on #26501
There is no hint about how to use the static library (or any other solution) for a python package.
right now, there is no way to run TF lite on the beaglebone.

[2020-02-02 22:12] mihaimaruseac commented on #36415
I think there is a mistake in the documentation page. Will send an update for that.

In any case, the true version is the one mentioned in `./configure`, giving you the above error. Starting past week, `master` has Bazelisk set up so you won't have to manually install Bazel anymore, if building from master.

[2020-02-02 22:24] lucasgouvea commented on #22794
In my case, I was using Python 3.6 and it was erroring. So I upgraded to 3.6.8 and it then worked with tensorflow 2.0.0

[2020-02-03 02:27] ymodak commented on #36426
TF 2.1 supports cuda 10.1. Please roll back to cuda 10.1.
See https://www.tensorflow.org/install/gpu#software_requirements

[2020-02-03 02:28] gowthamkpr commented on #35617
@cossio  I checked it in tf-nightly and the performance is low if we decorate the function with tf-nightly

[2020-02-03 02:51] KoizumiNao opened #36429 "Allocation of 10616832 exceeds 10% of system memory."
Hi. I'm currently having some problems after running the Object_detection.py like:

2020-02-01 11:57:36.437688: W tensorflow/core/framework/cpu_allocator_impl.cc:81] Allocation of 10616832 exceeds 10% of system memory.
Killed

My device is **Raspberry Pi 3 B+**.
Tensorflow Version: **1.14.0**
Python Version: **Python 3.7.3**
GPU: **128**
Currently using: **faster_rcnn_inception_v2_coco_2018_01_28*

[2020-02-03 02:59] baqwas commented on #36427
I don't have any explicit need for Hadoop. Does your package need Hadoop _libraries_? If so please update your documentation accordingly.

Kind regards.

[2020-02-03 03:00] gowthamkpr commented on #35103
Initially the issue has been created for **Manjaro Linux** So, lets stick to that for now. If you are looking into windows, please create a new issue for windows. Thanks!

[2020-02-03 03:03] baqwas commented on #36141
A sentence to this requirement would save many people many hours. Please don't get _testy_ about a feedback on documentation.

Kind regards.

[2020-02-03 03:11] ShiJunnan commented on #32354
Hello, i met a similar problem which  is "nvcc fatal   : Unsupported gpu architecture 'compute_75". My building envs are :
OS: Win10
GPU: GTX 1650 - 4G (Compute Capability 7.5)
CUDA:9.0
CUDNN:7.6.5
bazel: 0.16.0
TF: v1.12.0

[2020-02-03 05:08] wangtz commented on #36329
Hi Vikram,

Adding optimization path to TFLM is more than welcomed! I'm not familiar with OpenBLASS myself, a few questions:

- Does it requires dynamic memory allocation?
- What's the size for  statically linked library?
- What are the hardware supported by OpenBLASS? I guess ESP32?

Thanks,

[2020-02-03 05:13] gadagashwini commented on #36194
@nariman9119 , Can you provide the complete code to replicate the reported issue. Thanks!

[2020-02-03 05:24] wangtz commented on #35939
Hi Alexandre,

I wonder if we can have more specific error other than hard_fault_handler.

Looking at the backtrace

#0  tflite::GetOptionalInputTensor (context=0x20001bb8 <setup()::static_interpreter+16>, node=0xc46c,
    index=2)
    at /work/riot/RIOT/tests/pkg_tensorflow-lite/bin/pkg/stm32f723e-disco/tensorflow-lite/tensorflow/lite/kernels/kernel_util.h:80
80	  const bool use_tensor = index <

[2020-02-03 05:26] gadagashwini commented on #36114
@dishkakrauch, Sorry for delayed response. I tried replicating the issue with your dataset but received different error, can you take a look at [gist](https://colab.research.google.com/gist/gadagashwini/8eb404091c851c12b97ce27b674b8e65/untitled22.ipynb#scrollTo=kvvxvhrGpw9V) and make changes in gist. Thanks!

[2020-02-03 05:28] shashank-industrail commented on #36154
@suharshs , I'm waiting for your response.Thanks!

[2020-02-03 05:55] sahilinneurospace commented on #34571
Hi, did you find the solution to this? I'm trying to figure out the same thing.

[2020-02-03 06:08] gadagashwini commented on #35672
@coert, I tried reproducing it with Tf-gpu 1.15 but no error. Please take a look at [gist](https://colab.research.google.com/gist/gadagashwini/5eb5578f670744f3efb51bfef6290efd/untitled369.ipynb) and confirm the issue still exists or not. Thanks

[2020-02-03 06:09] gadagashwini commented on #35687
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-03 06:09] #35687 closed

[2020-02-03 06:10] suharshs commented on #36154
Have you tried converting the model without any optimizations specified? Want to make sure first that your model can convert successfully for the float version before trying to add quantization.

Thanks!
-Suharsh

[2020-02-03 06:11] amahendrakar commented on #36368
@Goofy-G,
I tried to reproduce the issue, but I am facing an error stating `ModuleNotFoundError: No module named 'tagger'`. You can find the Gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/c3b83278aed679baccf3a0818d6cc7f6/36368.ipynb).

Seems like you are using custom python modules. In order to expedite the trouble-shooting process, could you please provide the complete code

[2020-02-03 06:16] gadagashwini commented on #35922
@alanpurple, Is this still an issue!

[2020-02-03 06:17] gadagashwini commented on #35988
@Shivani29sheth, Is this still an issue

[2020-02-03 06:19] gadagashwini commented on #36133
@adekability, Provide the minimal code snippet to replicate the issue. Thanks!

[2020-02-03 06:23] divyag11 commented on #36374
please reply

[2020-02-03 06:25] shashank-industrail commented on #36154
Hi suharshs, Thanks for quick reply.
This is the result.

pb_file = frozen_model.pb'
input_arrays = ['input_1']
output_arrays = ['predictions/concat']

converter = tf.lite.TFLiteConverter.from_frozen_graph(pb_file, input_arrays, output_arrays)

tflite_model = converter.convert()
open("converted_model_decode_slow.tflite", "wb").write(tflite_model)

Yes, it did convert to float version.
When i comme

[2020-02-03 06:30] gadagashwini commented on #36135
@dodiak, Tried replicating the reported issue but getting different error. Please take a look at [gist](https://colab.research.google.com/gist/gadagashwini/51289f56f062db7ca715e11ce5964596/untitled370.ipynb) and confirm. Thanks!

[2020-02-03 06:32] gadagashwini commented on #36166
@sirajbb, Any update

[2020-02-03 06:52] dathudeptrai opened #36430 "Bugs padding on Tensorflow Lite Converter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04, GPU GTX 1660
- TensorFlow installed from (source or binary): pip
- TensorFlow version (or github SHA if from source): 2.1.0

**Command used to run the converter or code if you’re using the Python API**

[code]

**Any other info / logs**
[code]

[2020-02-03 06:54] dathudeptrai commented on #36430
Hi, the bug happened when audio = TFMelGANGenerator(ngf=32, n_residual_layers=3)(inputs). But when n_residual_layers=1, it's still ok to convert. So i guess that there is a problem with dilation or tf.pad

[2020-02-03 06:58] vladdders commented on #35953
I managed to solve the issue by casting those `float64` data types to `float32`. Thanks for your guidance!

[2020-02-03 06:58] #35953 closed

[2020-02-03 07:38] cossio commented on #35617
@gowthamkpr Thanks. Is there a PR to look at?

[2020-02-03 07:44] m4tts commented on #34067
sorry for the late response.

after lots of desparation I found the [gpu-burn test](https://github.com/wilicc/gpu-burn).
as it seemed, our GPU was faulty. the test had returned the following :
[code]
I returned the GPU to the distributor on got a new one. and now everything works like a charm.

@sanjoy I was not able to test this, since the GPU was allready shipped to the distributor. but it would

[2020-02-03 07:44] #34067 closed

[2020-02-03 07:44] Prosper-zheng commented on #36380
@DachuanZhao You can try
pip install --upgrade tensorflow -i https://pypi.org/simple
It works for me. The reason is that some package can only be downloaded from the default source.

[2020-02-03 07:53] bugzhu commented on #34571
I am trying to achiever this, but have no idea till now. Maybe there are some possible solutions in the stackoverflow.  @sahilinneurospace

[2020-02-03 08:01] tangbyron commented on #35848
@pavithrasv perfect - working on it now. thank you!

[2020-02-03 08:10] DanyEle commented on #31249
Got the same issue with numpy==1.18.0. Downgrading to numpy 1.16.4 solved the issue for me:

`pip3 install numpy==1.16.4 `

[2020-02-03 08:26] Krishnarohith10 commented on #36358
@amahendrakar
Thank You. That Worked.

[2020-02-03 08:26] alanpurple commented on #35922
@gadagashwini

I'll try again and let you know asap

[2020-02-03 08:26] #36358 closed

[2020-02-03 08:27] Saduf2019 commented on #36422
i am able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/Saduf2019/a3e9ffb27effa829b30fe9f53c8a985c/36422.ipynb) here.

[2020-02-03 08:29] padoremu commented on #36093
@jvishnuvardhan Thank you, that worked more or less, but after trying a full cleanup of my pip3 packages, because I got a warning due to some old tf packages (not in the virtualenv), something seems to be broken. So in the end I decided to use the nightly docker image, which works like a charm.

With the current nightly (2.2.0-dev20200202), loading the tf model works fine, which solves my problem,

[2020-02-03 08:29] #36093 closed

[2020-02-03 08:35] oanush commented on #36417
Issue replicating for latest [tf-1.15.2](https://colab.research.google.com/gist/oanush/a0cdd4f4bc54c60486bf7c1128d2385b/36417.ipynb),Thanks!

[2020-02-03 08:38] Saduf2019 commented on #36424
Could you please refer tho this [link](https://github.com/tensorflow/docs/blob/b4d8d7096099c2b0a7df6a0564bf6eca8c96c4a0/site/en/tutorials/structured_data/feature_cols_keras.ipynb) , in case you are still unable to resolve the issue,

Could you please provide us with simple standalone code to reproduce the issue in our environment, Thanks

[2020-02-03 08:38] amahendrakar commented on #36371
@zihaozhang9,
I was able to run the above code without any issues. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/7ff98a538316fe22ec11cc92ea7e3276/36371.ipynb). Thanks!

[2020-02-03 08:41] oanush commented on #36374
@divyag11 ,
Hi this issue looks like is related to tf-serving, can you please open new issue in [serving](https://github.com/tensorflow/serving/issues/new) repo?Thanks!

[2020-02-03 08:42] #36374 closed

[2020-02-03 08:43] zihaozhang9 commented on #36371
Thank you very much for your continued attention!
The day before yesterday, I tried many versions of graphics driver, CUDA, cudnn and tensorflow.
Then I discovered a magical phenomenon, when only 10 pictures are loaded in the graphics card, it can be trained normally. When loading 100 pictures, the video memory uses about 3G, and then reports an error.
From this I suspect that it is not the versio

[2020-02-03 08:46] gadagashwini commented on #36238
@ashwin17083, Will it be possible to provide the simple standalone code to analyze the issue. Thanks!

[2020-02-03 08:47] alanpurple commented on #35977
2/2/2020

still numpy error

[2020-02-03 08:49] gadagashwini commented on #36299
@manish-kumar-garg, tried replicating the reported issue but getting different error. Please take a look at [gist](https://colab.research.google.com/gist/gadagashwini/78a463b9216c89766a2655fb51b83bd6/untitled371.ipynb). Thanks!

[2020-02-03 08:49] Lloyd57 commented on #35922
Stop sending this crap

On Mon, Feb 3, 2020, 12:34 AM Alan Anderson <notifications@github.com>
wrote:

[2020-02-03 08:50] alanpurple commented on #35922
@Lloyd57

I didn't send you anything

[2020-02-03 08:51] amahendrakar commented on #36371
@zihaozhang9,
Thank you for the update. Please feel free to close the issue if it is resolved. Thanks!

[2020-02-03 08:53] #36371 closed

[2020-02-03 08:59] raghavab1992 commented on #36366
I am also facing this issue with both tensorflow 2.0 and 2.1. This is pretty weird. I am not sure if I am missing anything as it looks like a big issue/bug to have if it is true. Can you please help with this asap?

[2020-02-03 09:10] gadagashwini commented on #36392
@aggarwalpiush, Could you provide complete standalone code to analyze the reported issue. Thanks!

[2020-02-03 09:14] amahendrakar commented on #36418
@mjlbach.
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-03 09:15] gadagashwini commented on #36391
Could replicate issue on colab with Tf 2.1 and Tf-nightly.
Please find the gist [here](https://colab.research.google.com/gist/gadagashwini/483fa045f51d0112ddbd2039781b1eca/untitled372.ipynb). Thanks!

[2020-02-03 09:19] gadagashwini commented on #36402
@karapapas, Please fill the [template](https://github.com/tensorflow/tensorflow/issues/new/choose) to analyze the reported issue.

[2020-02-03 09:29] amahendrakar commented on #36416
@masoudnick,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

You can also share your Google Colab Gist. Please go to 'File' -> 'Save a copy as a GitHub Gist'  and share the link of the new window with us. Thanks!

[2020-02-03 09:35] oanush commented on #36380
@DachuanZhao ,
Please try `!pip uninstall tensorflow ` and try installing tensorflow again, kindly find the [gist](https://colab.research.google.com/gist/oanush/9fab338dad3830da3dd74e1cbd568b9f/36380.ipynb) for reference.Thanks!

[2020-02-03 09:37] Saduf2019 commented on #36349
@decodyng  Could you please confirm if the issue still persist in the nightly version [gist](https://colab.research.google.com/gist/Saduf2019/d9046bbe32eadb99b4319ee9d9c712aa/36349.ipynb) shared

[2020-02-03 09:40] oanush commented on #36390
I was able to replicate the issue for tf-nightly.Thanks!

[2020-02-03 09:41] Saduf2019 commented on #36383
i am able to replicate the issue, please find the [gist](https://colab.research.google.com/gist/Saduf2019/533d87b190fe8a0f011c20bc829efab7/untitled21.ipynb) here.

[2020-02-03 09:42] oanush commented on #35990
@hohl ,
Any update on the issue ?Thanks!

[2020-02-03 09:43] oanush commented on #36205
@Brayden1000 ,
Any update on the issue ?Thanks!

[2020-02-03 09:46] gadagashwini commented on #36423
@Dominux, Which CUDA version are you using?

[2020-02-03 09:54] hohl commented on #35990
@oanush Well, yes, for me it works by using the v1 compat.

But, considering that this is part of the official Tensorflow documentation: wouldn't it be reasonable to update the documentation? So, that others don't have to search the issues on Github to run the official tutorials?

[2020-02-03 09:58] beojan commented on #33374
What about `tf-nightly`?

[2020-02-03 10:00] ben0it8 commented on #35404
Hey, did you figure something about this error? I've got the same with a very similar code.

[2020-02-03 10:03] koodzi commented on #36177
I pulled new commits and used c++14 flag, now `benchmark_model` compiles without errors but `benchmark_model_plus_flex` does not compile.

[code]

[code]

[2020-02-03 10:04] dodiak commented on #36135
ok, copy/paste error. I pasted at gist one more times the full code and it
give the same error as I see here.
thanks

On Mon, Feb 3, 2020 at 7:30 AM gadagashwini <notifications@github.com>
wrote:

[2020-02-03 10:10] calmisential opened #36431 "TensorFlow2.x should support group convolutions in keras api level."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): No

**D

[2020-02-03 10:11] amahendrakar commented on #36396
@sandeepgadhwal,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-03 10:12] ahtik commented on #36415
Worth mentioning that if you plan to use Ubuntu to build TF 2.1 with TensorRT then you might have to still tweak the 2.1 source to allow bazel 0.26.1 as 0.27.1 seems to fail... (See https://github.com/tensorflow/tensorflow/issues/35115#issuecomment-580860705 for details).

Without TensorRT it wouldn't matter, 0.27.1 will be fine.

[2020-02-03 10:16] VegardIversen opened #36432 "Error when importing tensorflow 2"
Have pip installed tensorflow on my windows.
When i try and import it, i get this error message.

Traceback (most recent call last):
  File "C:\Users\vegar\AppData\Local\Programs\Python\Python37\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Users\vegar\AppData\Local\Programs\Python\Pyth

[2020-02-03 10:18] mbenami commented on #8658
Hi @laetitiaoist
thanks for the quick replay
I had a typo in the calling function

anyway I create new `serving_input_receiver_fn`
as I had other issues with the export of the best model as
saved_model.pb with input as image_tensor
if someone needs this you can find it in this issue :
https://github.com/tensorflow/models/issues/4941
as it more related to the object detection API

[2020-02-03 10:34] Goofy-G commented on #36368
Hi
  ！pip install tensorflow_addons==0.6， and then use from tensorflow_addons.text.crf import crf_decode, crf_log_likelihood instead of from tagger.crf import crf_decode, crf_log_likelihood

[2020-02-03 10:49] aggarwalpiush commented on #36392
Here you go:

[code]

[2020-02-03 10:51] masoudnick commented on #36416
@amahendrakar,
ok,here you are.
https://gist.github.com/masoudnick/9df13f4b4cb91ea4003a1c80b3a15192

[2020-02-03 11:15] gadagashwini commented on #36421
@simplezhang57, I changed the imports as follows and its working as expected.
[code]
Please take a look at [gist](https://colab.research.google.com/gist/gadagashwini/c6484d1b8de46297cdb54f570caebbc2/untitled373.ipynb#scrollTo=gFjBtWAuUYqF). Thanks!

[2020-02-03 11:16] nicolastonon opened #36433 "No session factory registered for the given session options"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.1.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: conda
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source): g++ 7.4.0

**Describe the problem**
I ha

[2020-02-03 11:29] amahendrakar commented on #36432
@VegardIversen,
Could you please check [this](https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156) comment on a similar issue and let us know if it helps. Thanks!

[2020-02-03 11:38] namitajadhav commented on #36161
I tried to convert the trained model (trained using tensorflow 1.14). Tried converting using tensorflow 2.1.0 while enabling version 1 and the error still persists.
I even tried to use tensorflow 2.1 to run example code as below.
([https://github.com/tensorflow/tensorflow/issues/36219])
 But it resulted in the same error as described.
 Any support with this will be of great help.

Thank You

[2020-02-03 11:46] gm-spacagna commented on #36250
@pavithrasv your explanations are correct but there problem I think is elsewhere.
I see two issues:

1. It is hard to get aggregated metrics on the whole dataset instead of batchwise
2. It is hard to isolate the metrics on training set and validation set

You can reset the state between batches but i guess it won't help on finding metric on the whole validation data separately from the training da

[2020-02-03 12:02] amahendrakar commented on #36404
Was able to reproduce the issue with TF 2.2.0.dev20200203. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/0a0ec487ea78c0204cf155ba96e02efc/36404.ipynb). Thanks!

[2020-02-03 12:34] Phillweston commented on #35922
I also tried to compile TF source code in Python 3.6 and 3.7, but also reported same errors. It seems that this version can not use tensorrt.

[2020-02-03 12:38] Phillweston commented on #35922
ImportError: /home/phillweston/.cache/bazel/_bazel_phillweston/116338b0ad1de73f45727b0ef63c0bc9/execroot/org_tensorflow/bazel-out/host/bin/tensorflow/python/keras/api/create_tensorflow.python_api_keras_python_api_gen.runfiles/org_tensorflow/tensorflow/compiler/tf2tensorrt/_wrap_py_utils.so: undefined symbol: _ZN15stream_executor14StreamExecutor18EnablePeerAccessToEPS0_
Target //tensorflow/tools/pi

[2020-02-03 12:39] amahendrakar commented on #36412
@dimridd,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-03 13:05] KukumavMozolo commented on #34136
I believe I am running into the same issue:
With tensorflow2.0 I get the following error:
2020-02-03 14:01:22.902124: I tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc:737] Replaced segment 0 consisting of 46 nodes by TRTEngineOp_0.

Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

Using tf-nightly-gpu the error changes to:

2020-02-03 13:51:56.895040: I tensorflow

[2020-02-03 13:10] TheBicPen commented on #35103
I had a hardware change over the holidays so I only have a Windows machine now. I'll spin up a Manjaro VM tonight, but I'm pretty sure that the same issue occurs across both platforms.

[2020-02-03 13:13] amahendrakar commented on #36373
@SamuelMarks,
I was unable to reproduce the issue from the link given above. Please find the Gist of it [here](https://colab.sandbox.google.com/gist/amahendrakar/faeada87cf68c37d640bac07ac5539da/36373.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-03 13:17] rahulintellolabs commented on #14356
can you please help in this code that you have written

[2020-02-03 13:50] tpopp commented on #36247
Hi @himanshisyadav,

The person in the previous issue was using this flag wrong. It should be only `TF_XLA_FLAGS=--tf_xla_cpu_global_jit` This is not a key-value pair. It is just a flag.

Regarding the XLA warning you mention, if you were seeing the same warning mentioned in the previous issue, it is fixed in newer versions of Tensorflow and will not be backported. If you don't want to use XLA in

[2020-02-03 13:52] byronyi commented on #7439
The answer is no AFAIK, at least for Horovod 0.19.0.

FYI, TF just added Sync BN: adf769043f0c48a44c05c5a24aac14f0b4951896

[2020-02-03 13:52] byronyi commented on #22755
FYI, TF just added Sync BN: adf769043f0c48a44c05c5a24aac14f0b4951896

[2020-02-03 13:54] byronyi commented on #18222
@ppwwyyxx It seems @anj-s finally made sync BN into TF: adf769043f0c48a44c05c5a24aac14f0b4951896. Hooray!

[2020-02-03 13:55] MichelHalmes opened #36436 "Keras.gradients() returns None in loss function"
Good day and thank you for TensorFlow :-)

I'm trying to implement a Wasserstein GAN with gradient penalty in TF2 (https://arxiv.org/pdf/1704.00028.pdf)
When I compute the gradient of the discriminator output with respect to the interpolated input, I always get `None`.
I have tried to compute the gradient in the layers of my model and in my loss function, in eager mode or not, using a `GradientTap

[2020-02-03 13:56] divyag11 opened #36437 "regarding ckpt.meta file"
hi,i am doing my finetuning in tf 2.1.Since i am using bert model for finetuning,it produces checkpoints, I have .index,.data but i didn'T GET .meta file in checkpoint folder,since i am finetuning in tf 2.1.
I need to run this mentioned down code in tensorflow verion 2,but this mentioned down code is presently in tf 1 version:(This code is basically for down sizing the model size by removing the t

[2020-02-03 13:57] d0k commented on #35022
Closing this as I didn't manage to reproduce it and GCC5 is really old. The error message is saying that there's a `-lm` missing on the linker command line, but I don't know how that can happen.

[2020-02-03 13:57] #35022 closed

[2020-02-03 14:04] phamkhactu opened #36438 "Build tensorflow error with keras api"
### I build tensorflow follow [link](https://www.tensorflow.org/install/source)
1. use r2.0
1. bazel 0.25.0
1. CUDA Version: 10.0
1. ubuntu 18.04
Here my error
[code]

[2020-02-03 14:37] jeisinge commented on #36424
@Saduf2019 , I am a bit confused.  The referenced document is from 2018.  It refers to `tensorflow.python.feature_column.feature_column_v2.FeatureLayer`, which I don't think exists anymore.  A more recent document at https://www.tensorflow.org/tutorials/structured_data/feature_columns#create_a_feature_layer refers to `tf.keras.layers.DenseFeatures`, which I use.

For standalone code, I created a G

[2020-02-03 14:42] jcRisch commented on #34544
Changing batch size to 1 fixed the issue but you are still not able to train with a batch size > 1.
To be able to do that, you have to set `image_resizer` properties (by fixing image size).
You should have something like that in your `pipeline.config` :
[code]
Change it to something like :
[code]
And now you can put the batch size you want !

[2020-02-03 14:58] osama12sy commented on #23755
Sorry no

On 1 Feb 2020 Sat at 6:21 PM AmA <notifications@github.com> wrote:

[2020-02-03 15:11] happpyosu commented on #35403
Thanks, it works after updating to tf2.1

[2020-02-03 15:19] wdirons commented on #36438
Are you sure you ran `pip install -U --user keras_preprocessing --no-deps`?  That is included in the instructions you linked.

[2020-02-03 15:26] mxmlnkn commented on #35944
I'm not able to check that as I don't know how it should work. `py_function` expects the function to return tf datatypes, I think. However, if I want to test the conversion of arguments to the generator function, then the return type would be a generator object: `tf.py_function( movingWindow, ( data, window_size ), ( np.int32, np.int32 ) )` is what I tried naively and gives a long backtrace.

Also

[2020-02-03 15:38] DEKHTIARJonathan commented on #36398
The objective of building a base class to implement a "wrapping optimizer" was also to avoid code duplication. Aside of the implementation of the use-case logic like allreduce gradients or loss scaling. There is a significant amount of boilerplate code required to make sure that the right "hook" is called at the right time and then forwarding calls to the underlying optimizer.

I don't really see

[2020-02-03 15:46] mihaimaruseac commented on #33374
We have some issues on Linux CPU where `tf-nightly` has been broken these past few days. Once they are resolved we can restart the process of building 3.8 nightlies and it should be at most 2-3 days after that.

So, hopefully by mid February we can release 3.8 nightlies.

[2020-02-03 15:52] ppwwyyxx commented on #18222
That's a great progress.
Note that it's very easy to implement SyncBN incorrectly and there are many implementation choices that may have subtle effect on the result. The one in PyTorch is still buggy today after being added for almost a year. So experiments on different tasks would be needed to verify it's effect. (Unfortunately I don't use TF2 or dist-strategy so I can't do so)

[2020-02-03 15:58] kstoykov commented on #33924
Same issue on GTX 1050, Cuda 10.2, Tensorflow 2.1

[2020-02-03 16:00] phamkhactu commented on #36438
Yes
[code]

[2020-02-03 16:07] aaroey commented on #34136
@bixia1 @sanjoy could you help to investigate this?

[2020-02-03 16:11] wdirons commented on #36438
Can you run `pip show keras-preprocessing` and does the value in `Location`  match the value in `.tf_configure.bazelrc` for `build --action_env PYTHON_LIB_PATH` ?

[2020-02-03 16:13] tmcclintock commented on #33759
Has there been any progress on this on the TF side? This is an important feature for TF in production.

[2020-02-03 16:14] phamkhactu commented on #36438
### here is it
[code]

[2020-02-03 16:28] srjoglekar246 commented on #34845
@lidaweironaldo
Yup. Sadly the model becomes too large to be any good, if you also include the mask head (if you are runningn on mobile). If you are running on a device like Raspberry Pi, things might be different. Feel free to try with `number_of_stages: 3` in `pipeline.config` (see my long comment above).

If that doesnt work well for you, Deeplabv3 is also a good option for segmentation cases.

[2020-02-03 16:42] sanjoy commented on #34067
I think it is difficult to go from `CUDNN_STATUS_INTERNAL_ERROR` to "GPU may be faulty" since there are many other reasons why cuDNN will return this error.

However, maybe we should link to the  [gpu-burn](https://github.com/wilicc/gpu-burn) test from the TF docs as something users should consider?  CC @dynamicwebpaige

[2020-02-03 16:55] mshmsh1234 opened #36441 "ModuleNotFoundError: No module named 'tensorflow_core.python'"
**System information**
- TensorFlow version: 2.1.0
- Python version: 3.7.4

Tensorflow is installed on the computer. When I try to import (import tensorflow as tf) I get this error

ModuleNotFoundError: No module named 'tensorflow_core.python'

What's causing this error? I've tried downgrading TF to below version 2 and still received the error.

[2020-02-03 16:57] mizzling opened #36442 "eager"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:

Please provide a link to the d

[2020-02-03 17:06] Dominux commented on #36423
`Cuda compilation tools, release 10.1, V10.1.243`

Maybe I installed it badly?
Can I check that?

[2020-02-03 17:14] mihaimaruseac commented on #36441
Please fill in the issue template. Also, please post output of `pip freeze` using ` ``` ` around computer generated messages (so the formatting is preserved)

[2020-02-03 17:14] #36442 closed

[2020-02-03 17:14] mihaimaruseac commented on #35922
Please use ` ``` ` around computer generated blocks (errors, code, output)

[2020-02-03 17:15] ayadav10491 commented on #34329
It seems tensorrt library import was failing. Install tensorrt
<https://docs.nvidia.com/deeplearning/sdk/tensorrt-install-guide/index.html>

 -> Dowload and install tensorrt compatible with your cuda version.
   <https://developer.nvidia.com/nvidia-tensorrt-6x-download>

[2020-02-03 17:22] mshmsh1234 commented on #36441
This is the output of pip freeze

absl-py==0.9.0
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
blis==0.4.1
boto==2.49.0
boto3==1.11.9
botocore==1.14.9
bs4==0.0.1
bz2file==0.98
cachetools==4.0.0
catalogue==1.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
conda==4.8.2
conda-package-handling==1.6.0
cryptography==2.8
cymem==2.0.3
Cython==0.29.14
de

[2020-02-03 17:22] mshmsh1234 commented on #36441
Where can I find issue template

[2020-02-03 17:39] qlzh727 commented on #33924
I think this might be a very specific cudnn kernel issue. Currently I can't reproduce it with TF nightly on a GPU colab. For any of you still facing the issue, could you try the TF nightly version as well?

[2020-02-03 17:40] mihaimaruseac commented on #36441
The issue template is the stuff you see already there when you fill in the issue for the first time. You can also see it at https://github.com/tensorflow/tensorflow/tree/master/.github/ISSUE_TEMPLATE

You forgot to add ` ``` ` before and after the `pip freeze` dump above. I went ahead and added it for you, but please do use proper markdown in the future.

[2020-02-03 17:44] mshmsh1234 commented on #36441
System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): windows 10
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
TensorFlow installed from (source or binary): conda install?
TensorFlow version (use command below): 2.1.0
Python ve

[2020-02-03 17:56] robieta commented on #35124
If we take the above example and replace the following lines, the episode time drops from ~70 seconds to 5.5-6 seconds:

Reported:
[code]

New:
[code]

Full [gist](https://colab.sandbox.google.com/gist/robieta/580d214431312972d47542b122f44870/copy-of-35124.ipynb) indicates that the new result matches the old result.

So what's going on here, and why is there a slowdown from 1.14? There is a detail

[2020-02-03 17:59] qlzh727 commented on #33052
With all the recent update for performance, the v1/v2 and eager/graph training time is almost identical to each other.

Please see the results in https://colab.research.google.com/gist/qlzh727/5bf1e16285bfcf2b3c2aea506fffd2e8/untitled188.ipynb

I update the original test script to fit on 10 batches instead of 1 batch in each epoch, which should simulate more standard use case.

[2020-02-03 17:59] #33052 closed

[2020-02-03 18:02] jvishnuvardhan commented on #36383
@guillaumelorre28 I cannot reproduce the issue. Can you please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/e67d90d6542a8f3b7f1303b47fc70941/untitled21.ipynb). Thanks!

[2020-02-03 18:05] jakesabathia2 commented on #36391
Thanks!

[2020-02-03 18:15] ymodak commented on #36370
You may try and use the `target_spec.supported_ops` argument in the TensorFlow Lite converter.
See https://www.tensorflow.org/lite/guide/ops_select#converting_the_model

[2020-02-03 18:17] pavithrasv commented on #36250
With the stateful metrics you get the aggregated results across the entire dataset and not batchwise.

Can you call evaluate separately for this use case?

[2020-02-03 18:17] #33565 closed

[2020-02-03 18:18] alextp commented on #36398
Sorry I'm so late to this thread.

Going back to the original proposal, I agree there is a need to customize what happens in the training loop in the steps listed (before computing gradients, after computing gradients, before applying gradients, and maybe the conditional should apply).

I just wish this extension was done outside the Optimizer class. Ideally the optimizer classes should just conce

[2020-02-03 18:25] wdirons commented on #36438
And `cat .tf_configure.bazelrc` show what?

When you ran `./configure`

For `Please input the desired Python library path to use.` the answer should have been `/root/.local/lib/python3.6/site-packages` as that is the location where the python package are installed.

[2020-02-03 18:26] pavithrasv commented on #35124
Thank you for taking a look Taylor!

[2020-02-03 18:34] nbro commented on #15644
@jvishnuvardhan You should clearly re-open this issue. This has not yet been solved in TF 2.1. The Python API does not seem to support this.

[2020-02-03 18:38] ymodak commented on #36311
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-02-03 18:38] #36311 closed

[2020-02-03 18:44] jvishnuvardhan commented on #36362
@suth1807 There is a difference between subclass model and other keras model types(Sequential and Functional). Due to those differences listed [here](https://www.tensorflow.org/guide/keras/save_and_serialize#saving_subclassed_models), saving and loading of subclass models is different from other Keras models.

To restore a subclass model,  (1) you will need access to the code that created the mode

[2020-02-03 18:44] #36362 closed

[2020-02-03 18:46] DEKHTIARJonathan commented on #36398
@alextp doing so would immediately break any code published with HVD or Mixed Precision. I would agree with the idea of separating the behavior of "Optimizers" and Hooks. However, it doesn't feel right to me to break everyone code. There must be a better way

[2020-02-03 18:50] bvarbanov opened #36445 "TensorFlow lite on armv6 (Raspberry Zero) crashes wit SIGILL"
sudo apt-get update
sudo apt-get install crossbuild-essential-armhf
git clone https://github.com/tensorflow/tensorflow.git
cd ./tensorflow
git checkout r2.0
./tensorflow/lite/tools/make/download_dependencies.sh

CC_PREFIX=arm-linux-gnueabihf- make -j 8 -f ./tensorflow/lite/tools/make/Makefile TARGET=rpi TARGET_ARCH=armv6l

Try running on Raspberry Pi Zero the example minimal - it crashes with Inva

[2020-02-03 19:02] decodyng commented on #36349
@Saduf2019 I'm not sure if you intended me to independently try to install and check for the bug on the nightly version, but in the linked notebook, it does appear that variables in the `non_trainable_variables` set are still having their `trainable` flag incorrectly set to True.

[2020-02-03 19:04] edwardyehuang commented on #18222
Forget to report. The implementation above is much faster with NVLINK

[2020-02-03 19:07] crccw commented on #33723
closing due to inactiveness, please re-open if it's still an issue : )

[2020-02-03 19:07] #33723 closed

[2020-02-03 19:15] njzjz commented on #36415
Thank you for everyone! I can close this issue now.

[2020-02-03 19:15] #36415 closed

[2020-02-03 19:21] mdanatg commented on #33724
There is now a verification in autograph that outputs a warning in situations such as this. We could add a verification that looks specifically for tqdm, but that won't work work the custom generator in the OP so it would be of limited help.

Here is an alternative that might be useful for adding a progress bar to a dataset - it modifies a dataset to print tqdm messages whenever it is being iterat

[2020-02-03 19:21] #33724 closed

[2020-02-03 19:24] dmus opened #36446 "tf.keras model.fit(): enormous difference between train loss and val loss on the same data"
Tensorflow version 2.1

See the colab notebook to reproduce the issue: https://drive.google.com/file/d/1Fvc6G_9v5mek015cai7qYT6HoY-fLkzk/view?usp=sharing

When the training loss goes down the val_loss does not change, although this is exactly the same data.

Train on 2 samples, validate on 2 samples
Epoch 1/30
2/2 [==============================] - 3s 2s/sample - loss: 0.4630 - val_loss: 302.4763

[2020-02-03 19:26] omalleyt12 commented on #36398
@alextp Could you explain the motivation for this? To me, conceptually, an "optimizer" handles everything b/t loss calculation and variable updates. When I think of an optimization interface, I think "Minimize X w.r.t. to Y"

IMO, the LossScaleOptimizer and Horovod's use cases have shown that anything less than that results in a leaky abstraction. By which I mean, Keras and others have to be aware

[2020-02-03 19:35] vicpara opened #36447 "Saving to file a model within TPUStrategy"
On Tensorflow 2.0 and 2.1, trying to save to file a TPU trained model or a model that was even created within the scope of a `tf.distribute.experimental.TPUStrategy` yields error below. Despite throwing an `UnimplementedException` the code does create a folder on disk with some content.

The reproducible code can be found in a collab notebook here:
https://colab.research.google.com/drive/1DOkwNlzM

[2020-02-03 19:41] nbro commented on #11575
This feature is still not supported (at least in the Python API). An easy workaround is described in this answer: https://stackoverflow.com/a/60046022/3924118.

[2020-02-03 19:45] qlzh727 commented on #36391
Hi @jakesabathia2, the code snippet you have is using a lot of internal python function, which access a lot implementation details and we don't ensure any API guarantee for them.

Can you provide more context about why you need to access the frozen graph? Also please check the model saving doc here https://www.tensorflow.org/guide/saved_model.

[2020-02-03 20:08] jvishnuvardhan commented on #15644
@nbro Reopening this. Thanks!

[2020-02-03 20:10] laghaout opened #36448 "Categorical encoding in `docs/csv.ipynb` returning inconsistent results."
## URL(s) with the issue:

https://www.tensorflow.org/tutorials/load_data/csv

which is available on GitHub at

https://github.com/tensorflow/docs/blob/master/site/en/tutorials/load_data/csv.ipynb

## Description of issue:

This is about the output of the last cell in the section _Categorical data_, namely the output of `print(categorical_layer(example_batch).numpy()[0])`. If we remove the index `

[2020-02-03 20:14] bytetick commented on #18165
Finally found the answer. It worked for me also.  I understand why too. Thanks Mainak431

[2020-02-03 20:31] reedwm commented on #36398
My biggest objection so far is that it makes scaling the loss and unscaling gradients asymmetric, as a user has to explicitly scale the loss, but not unscale the gradients. For example, `LossScaleOptimizer` would be implemented as follows

[code]

In fit(), everything works as expected. But in a custom training loop, if the user calls `apply_gradients` instead of `minimize`, they must call `get_sc

[2020-02-03 20:33] alextp commented on #36398
I'm thinking more of "what code has to change when users switch optimizers". And for today's definition of sgd-style optimizers we often use in deep learning, what needs to change is how the gradients are applied. This is the difference between SGD and Adam, etc.

Whether gradients are reduced or not is a policy decision which belongs at a layer other than the optimizer. For example, in some distr

[2020-02-03 20:39] mihaimaruseac commented on #36441
Can you try the following?

[code]

[2020-02-03 20:42] mshmsh1234 commented on #36441
Traceback (most recent call last):
  File "c:\users\myname\appdata\local\continuum\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3319, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-12-9f0e6ea0081c>", line 1, in <module>
    import tensorflow_core as tfc
  File "C:\Users\myname\AppData\Roaming\Python\Python37\site-packages\tensorflow

[2020-02-03 20:42] mshmsh1234 commented on #36441
I get the same error as before with trying to import tf when I try what you posted

[2020-02-03 20:44] StanHR commented on #36441
Facing this same issue

[2020-02-03 21:00] deven-amd commented on #34652
@gunan @angerson any update here?

[2020-02-03 21:00] mihaimaruseac commented on #36441
@mshmsh1234 please reformat your dump of error message to start and end with ` ``` ` so the formatting is preserved. As it is now, it is unreadable.

[2020-02-03 21:07] mjlbach commented on #36418
[code]

[2020-02-03 21:17] StanHR commented on #36441
I was trying to package a python app, which uses tensorflow, using PyInstaller. That's where I faced this same issue. I'm using tensorflow-cpu==1.15

[code]

[2020-02-03 21:24] jerryyin commented on #34652
Gentle pint here. The fact that those scripts are broken makes it hard for us `ROCm` people to do sanity checks between that of `Cuda`. We are trying to behave like good first class citizen here and not break `Cuda` build in `ROCm` features. Could you either share the way to do the `internal` build or take a look at those scripts? For the minimal, sharing the `Linux GPU` build for PR sanity check

[2020-02-03 21:25] ymodak commented on #35668
Apologies for the delay in response.
Install pip version 19.0 or later. See https://www.tensorflow.org/install/pip#system-requirements
Also this article may help https://stats.stackexchange.com/questions/352036/what-should-i-do-when-my-neural-network-doesnt-learn.

[2020-02-03 21:25] pavithrasv commented on #36369
Please feel free to send a PR to the Tensorflow Addons repository for this Loss.

[2020-02-03 21:26] carlosuc3m commented on #23656
Hi there. Is there any update on this issue only for Java?

[2020-02-03 21:32] omalleyt12 commented on #36398
@reedwm If you look at the `Optimizer.apply_gradients` method I proposed above, it does not modify the user-supplied gradients. The `Optimizer.apply_gradients` method I am proposing is status quo.

@alextp What would this separate layer look like? It seems like we'd need an object that wraps the Optimizer, does some preprocessing, and then passes the gradients to the Optimizer. But this object wou

[2020-02-03 21:35] alextp commented on #36398
I'm not saying a single layer, just trying to orthogonalize things a bit
more.

For example, stuff related to gradient computation can be done in the
gradient tape; this includes the LossScalingGradientTape and Reed's
proposal of an AllReduceGradientTape (which might be necessary for loss
scaling).

I can't tell if gradient reduction is better handled inside the gradient
tape or outside in the bod

[2020-02-03 21:36] impjdi commented on #35389
Yeah, I think this looks like a float model.  Of course, GPU delegate won't be able to run the last op (TFLite_Detection_PostProcess) but the rest should be runnable on the GPU.

[2020-02-03 21:42] impjdi commented on #26297
Ummm, can you elaborate what kind of update you expect?  Do you want us to walk through another open source software?

[2020-02-03 21:42] ymodak commented on #36337
You can visualize the performance by using TensorBoard's Profile Plugin.
See[ Profiling Tool.](https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras)

[2020-02-03 21:48] gunan commented on #34652
We did update our dockerfiles, but our CI does not run using ci_build.sh anymore
one thing to try can be to use devel dockerfile TF is publishing on dockerhub, and run the script you run_py3_core.sh script you ran directly on it.

About the python version isue you ran into may be due to ci_build.sh trying to override `PYTHON_BIN_PATH` environment variable.

[2020-02-03 21:50] DEKHTIARJonathan commented on #36398
@reedwm @alextp I have rapidly prototyped the original idea we proposed in the issue just to _"show"_ how this could look like:

https://github.com/DEKHTIARJonathan/tensorflow/commit/2b8558793dbf234c5143c0efbdfa2e38aeacb310

**The advantages of this idea:**
- The original API is not changed, Keras doesn't need to know about it
- The new Loss Scale / HVD API is fully backward compatible
- No more h

[2020-02-03 21:58] kstoykov commented on #33924
Yes, based on all comments/forums I have read it can't be reproduced on linux machine. It should be Windows one. I had this issue with TF 2.0 CUDA 10, TF 2.1 CUDA 10.1

Today I found TF 2.1 CUDA 10.2 Python wheel and I decided to try with it but no success.
I'll try to find nightly build with CUDA 10.2 but highly doubt that it will work.

As you said it should be very specific cudnn kerner issue.

[2020-02-03 22:16] jvishnuvardhan commented on #36428
I could reproduce the issue. [Here is the gist](https://colab.research.google.com/gist/jvishnuvardhan/09cfb560b120cc9c83e93b9378f1ddf6/36428_keras.ipynb) with `keras==2.3.0` and [here is the gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/531ee39cf36accf688a40b4aac667e26/36428_tf.ipynb) with `tf-nightly`. The gists are for our reference. Thanks

[2020-02-03 22:18] rgov commented on #36428
To answer my question, I found I could do `model.compute_output_shape(model.input_shape)`. At the least, this should be noted in the documentation I think.

[2020-02-03 22:24] ymodak commented on #36404
[code]
The above example works in tf-nightly version.
See https://www.tensorflow.org/api_docs/python/tf/while_loop?version=nightly#example

[2020-02-03 22:27] #36099 closed

[2020-02-03 22:28] yhliang2018 commented on #35030
In the last reply from @mihaimaruseac , the memory usage of the Lambda layer is very suspicious, as it increases about 7.5GB in build_model().

However, when I try to reproduce it in my workstation (with batch_size=64, epoch=1), the result is as follows:
[code]

If you look at line 21 of Lambda layer, the memory cost is reasonable. Besides, my test with tf-nightly-2.2.0-dev20200203 costs ~ 16GB, v

[2020-02-03 22:31] ymodak commented on #36121
@igorhoogerwoord Thanks for sharing your findings.
On the TF website currently we say `CUDA 10.1 requires 418.x or higher.`
https://www.tensorflow.org/install/gpu#software_requirements

[2020-02-03 22:36] #36074 closed

[2020-02-03 22:38] artemmavrin opened #36449 "Unclear documentation for implementing custom TensorFlow Keras optimizers"
## URL(s) with the issue:

[`tf.keras.optimizers.Optimizer`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer), specifically the section [Write a customized optimizer](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer#write_a_customized_optimizer_2).

## Description of issue (what needs changing):

The instructions for creating a custom optimizer seem

[2020-02-03 22:54] harisushehu commented on #11812
Adding this on top of your code works for me in tensoflow version 2.0.0

import tensorflow as tf
import keras.backend.tensorflow_backend as KTF

os.environ["CUDA_VISIBLE_DEVICES"] = "0"
config = tf.compat.v1.ConfigProto()
config.gpu_options.allow_growth=True
session = tf.compat.v1.Session(config=config)

KTF.set_session(session)

[2020-02-03 22:59] jvishnuvardhan commented on #36321
@konopik You need to provide `output_shapes` parameter when you use `from_generator`.  TensorFlow has no idea what the shapes will be unless output_shapes is specified as the generator is never iterated over. Check [`from_generator`](https://www.tensorflow.org/api_docs/python/tf/data/Dataset#from_generator) documentation.

I changed one line in your code from

`ds = tf.data.Dataset.from_generator(

[2020-02-03 22:59] #36321 closed

[2020-02-03 23:01] allenlavoie commented on #36021
We have discussed reviving Modules as Modules instead of a minimal type. For Keras Models @k-w-w has implemented it.

I don't have plans to do this for Module, and I think the Module maintainer @tomhennigan was mildly opposed. But if someone felt strongly it's probably something they could get done. The implementation itself would be quite simple, basically [adding one of these for Module](https:/

[2020-02-03 23:10] gunan commented on #36107
What do you mean by "rasa install"?
Standard tensorflow pip package installations should have no interactions with curl/libcurl.

[2020-02-03 23:37] gowthamkpr commented on #34021
I tried to different model that has `tf.keras.layers.LSTM` using` tf.saved_model.save()` method without a generator and  I didn't run into any error. Heres my [gist](https://colab.sandbox.google.com/gist/gowthamkpr/b1082d7f664edeca3929108d56792f79/untitled4.ipynb)

[2020-02-03 23:51] gowthamkpr commented on #36359
@wenmin-wu Please take a look at this [comment](https://github.com/tensorflow/tensorflow/pull/21757#issuecomment-416835941) i.e.,
in the documentation of `tf.nn.embedding_lookup_sparse` its mentioned that **This op assumes that there is at least one id for each row in the dense tensor represented by sp_ids**

So, due to this, the change has not been merged.

[2020-02-03 23:55] #33776 closed

[2020-02-03 23:55] #35731 closed

[2020-02-03 23:57] Artem-B commented on #36213
NVCC + custom crosstool w/ a wrapper script was very gcc-centric when I looked at it last time (mind, it was a while back). I would not expect that to work out of the box.

As for using clang for CUDA compilation, it's expected to work in general, but I don't have enough details to tell what went wrong in this case.

This could happen if you install CUDA from packages (as opposed to installing it

[2020-02-04 00:12] ymodak commented on #35872
If you have a GPU and still you are seeing this error it can occur due to many reasons. Most common reason is incompatible TF and Cuda version. Note TF version 2.0 supports cuda 10.0
Further also make sure you update appropriate cuda environment paths.
See  https://www.tensorflow.org/install/gpu#software_requirements

[2020-02-04 00:14] OverLordGoldDragon opened #36451 "Differentiating an extremely complicated weightless transform"
I'm considering inserting a weightless transform between CNN layers in a neural network. The transform is very complicated - details below. I'm aware that custom transformations are supported via e.g. Keras'  `Lambda` layer  - however, I don't know if TF is capable of handling something of this complexity. The code I have needs to be converted for compatibility, but I rather it not be a wasted eff

[2020-02-04 00:35] breadbread1984 commented on #36404
OK, so the body has to be a tuple currently.

[2020-02-04 00:35] #36404 closed

[2020-02-04 00:41] alanpurple commented on #35922
@gadagashwini

same error

[2020-02-04 00:44] yhliang2018 commented on #35030
An update on the problem: Lambda layer has no memory usage issue, and it looks like memory_profiler has a wrong mapping between line # and memory usage/increment. When inserting `pdb.set_trace()` before `model.fit()`, `htop` (or `top`) shows no memory increase after `model = build_model()`, but it increases dramatically in `model.fit`:

[code]

The root cause is from the way TF handles how to conv

[2020-02-04 01:04] abdou31 commented on #30197
@joel5638 Yes, give it a try

[2020-02-04 01:26] terryheo commented on #36336
"build script fails and the pi locks up and requires a hard reset" doesn't look like S/W issue. Considering that compiling takes more power, I'm wondering if you're using official power supply which gives at least 2.5A current.
I had a similar experience with 1.0A power supply.

[2020-02-04 01:54] saudet commented on #23656
This most likely doesn't occur with JavaCPP so please give that a try: https://github.com/tensorflow/java
If it's still not working for some reason, please open an new issue over there. Thanks!

[2020-02-04 02:13] cliffwoolley commented on #36398
/cc @pkanwar23

[2020-02-04 02:37] freedomtan commented on #35922
as I said in comments of #35115
It seems bazel 1.x + Python 3 is problematic when building TensorRT is enabled. Workarounds:

1. use bazel 0.2.x, e.g., bazel 0.26.1, see comments in #35584
2. use Python 2.7.x instead of Python 3

[2020-02-04 02:47] jhseu commented on #35133
Reopening since there's still an issue. Will resolve tomorrow.

[2020-02-04 02:51] MokkeMeguru commented on #18222
https://github.com/tensorflow/tensorflow/commit/adf769043f0c48a44c05c5a24aac14f0b4951896
Did someone try this layer unit test?

[2020-02-04 03:11] lichili233 opened #36452 "Broken outbound links from index pages for older TF API"
## URL(s) with the issue:

Numerous links of the older TF APIs, listing only a few index pages as examples here:

- Links under "Classes" and "Functions" within https://github.com/tensorflow/docs/blob/r1.11/site/en/api_docs/python/tf.md
- Links under "Classes" and "Functions" within https://github.com/tensorflow/docs/blob/r1.11/site/en/api_docs/python/tfdbg.md
- Links within https://github.com/ten

[2020-02-04 03:17] wenmin-wu commented on #36359
@gowthamkpr Even though this is true, the sum of weights can also be zero.
I come across this problem because I want to embed user actions on items. Some people don't have any action on items. So for these users, I can only set `sp_ids=[0]`, `sp_weights=[0]`. With the current implementation, it will divide by 0.

[2020-02-04 03:26] igorhoogerwoord commented on #36121
Is that helpful for people installing Tensorflow though?
As it appears Nvidia only makes 430 available for Ubuntu?

-> The installation errors with the Nvidia cuda code took long to figure out because the driver version in the install script from the document says driver version 418 while this version can not actually be installed on Linux Ubuntu 18.04.

[2020-02-04 03:33] suth1807 commented on #36362
Thanks for the explanation! I had used this approach of making a dummy call
but thought of it as a work-around. I could also get the code to work
without making a dummy call by passing the correct data types
as shown below. In my opinion, this is a cleaner way to do it if the shapes
and data types are known. Do you agree?

        self.dense1 = tf.keras.layers.Dense(5, activation=tf.nn.tanh,
name=

[2020-02-04 03:38] suth1807 commented on #36362
Thanks for the explanation! I had used this approach of making a dummy call but thought of it as a work-around. The input_shapes for the first layer is passed as argument so all the required information is there, isn't it?

[2020-02-04 04:02] TheBicPen commented on #35103
[code]
Same issue on Manjaro.

[2020-02-04 04:03] kim-sardine opened #36453 "Keras - Supporting load/save models and weights to Google Storage"
I want to save / load my keras model to / from Google storage bucket.
my environment : docker image - tensorflow/tensorflow-latest-py3 (tensorflow 2.1.0, python 3.6.9)

[code]

and I got this error message

[code]

I found [this PR](https://github.com/keras-team/keras/pull/11636) in keras repository, supporting above behavior. but It seems like that it's not implemented in `tensorflow.keras`.

Do

[2020-02-04 05:02] neonbjb commented on #31224
@zldrobit  - Thanks; your instructions worked to fix this issue for me.

@suharshs I can readily reproduce this issue on TF2. Feel free to contact me if you need any info. LDAP is jbetker.

[2020-02-04 05:10] divyag11 commented on #36437
please reply

[2020-02-04 05:17] gadagashwini commented on #36423
@Dominux, Please follow the steps mentioned [here](https://developer.nvidia.com/cuda-10.1-download-archive-update2?target_os=Windows&target_arch=x86_64&target_version=10&target_type=exelocal) to install CUDA. And also check cuda compute compatibility. Thanks!

[2020-02-04 05:33] wencynyu commented on #36380
pip install -upgrade tensorflow-gpu==2.1.0 works on me.

[2020-02-04 05:54] zkx741481546 commented on #36407
I installed C++ 2019 and fixed this problem

[2020-02-04 06:08] gadagashwini commented on #36436
Was able to reproduce the issue with tf 2.1.
Please see the gist [here](https://colab.research.google.com/gist/gadagashwini/0bc164937ebbb17b1b33f4ca7e23eff6/36436.ipynb). Thanks!

[2020-02-04 06:26] gadagashwini commented on #36437
@divyag11, Please take a look at [Tensorflow bert model](https://github.com/google-research/bert). Thanks

[2020-02-04 06:39] ravikyram commented on #36452
This issue persists in latest TF versions as well.Please, find below links as well.Thanks!

https://github.com/tensorflow/docs/blob/r1.15/site/en/api_docs/python/tf.md

https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/tf.md

https://github.com/tensorflow/docs/blob/r1.15/site/en/api_docs/python/tfdbg.md

https://github.com/tensorflow/docs/blob/r2.0/site/en/api_docs/python/tfdbg.

[2020-02-04 06:52] Oktai15 commented on #32495
Any update about this issue? Reshape is very common operation in TFLite -- very strange to see that this problem is just skipped by Tensorflow Team about six months...

[2020-02-04 06:54] ravikyram commented on #36446
@dmus

Can you please provide the access to colab link to reproduce the issue in our environment.Thanks!

[2020-02-04 06:58] mulka opened #36454 "even load work?"
## URL(s) with the issue:
https://www.tensorflow.org/guide/migrate#saved_models_compatibility

## Description of issue (what needs changing):
The sentence below is unclear in what it means. I think there might be an extra word.

"TensorFlow 2.0 saved_models even load work in TensorFlow 1.x if all the ops are supported."

[2020-02-04 07:00] himanshisyadav commented on #26546
I have tensorflow 1.4.0 with Cuda 8 and cudnn 7. And I get the following error.

`    import tensorflow.compat.v1 as tf
ImportError: No module named 'tensorflow.compat'
`

After installing `tensorflow-probability`, I still get the same error.

[2020-02-04 07:37] CNOCycle commented on #33459
I guess #35336 is a similar issue.

In my testing code which loading weights from tf.keras, the accuracy for pre-trained weights are under 70%.

[2020-02-04 07:45] Amit507017 opened #36455 "tensorflow.python.framework.errors_impl.InvalidArgumentError: input and filter must have same depth"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
- **HPC**:
- **TensorFlow installed from conda**:
- **TensorFlow version 1.15**:
- **Python version 3.6.10:
- **Bazel version (if compiling from source)**:
- **GCC/Compiler version (if compiling from source)**:
- **CUDA/cuDNN version**:
- **GPU model and memory**:
- **Exact

[2020-02-04 08:22] hadusam opened #36456 "Unable to evaluate FusedBatchNormV3 operation without GPU"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Linux Ubuntu 16.04
- Mobile device if the issue happens on mobile device: n/a
- TensorFlow installed from: binary (installed by pip)
- TensorFlow version: v1.15.0-rc3-22-g590d6ee 1.15.0
- Python version: 3.5.2
- Bazel version (if compiling from source): n/a
- GCC/Compiler version (if compiling from source): n/

[2020-02-04 08:39] moono opened #36457 "Predicting on custom model fails"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platf

[2020-02-04 08:48] gadagashwini commented on #36455
@Amit507017, Please provide the minimal standalone code to replicate the reported issue. Thanks!

[2020-02-04 09:17] ravikyram commented on #36400
I have tried on colab with TF version 2.1.0-rc2, 2.2.0-dev20200203 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/7d88b982abb771879829ca3381ae581c/untitled615.ipynb). Thanks!

[2020-02-04 09:23] jalpeshpanchal99 commented on #36111
Directory : C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v10.2\bin\

Download Link : https://www.dll-files.com/download/1d7955354884a9058e89bb8ea34415c9/cudart64_101.dll.html?c=N09pWDBSTVYxRE1rM2hpNjVUa2doQT09

[2020-02-04 09:36] ravikyram commented on #35744
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-04 09:36] #35744 closed

[2020-02-04 09:38] ravikyram commented on #35814
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-04 09:38] #35814 closed

[2020-02-04 09:38] guillaumelorre28 commented on #36383
Thanks it works fine with tf-nightly (I had the issue in tensorflow 2.1.0)

[2020-02-04 09:38] #36383 closed

[2020-02-04 09:41] ravikyram commented on #36003
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-02-04 09:41] #36003 closed

[2020-02-04 09:43] carlosuc3m commented on #16660
@mstritt Could you please tell the version of tensorflow too?

[2020-02-04 09:46] ravikyram commented on #36078
@mcwebdev

Hope you have raised the issue in TF.js repo. Can we track the issue in TF.js repo and close here. Please, confirm. Thanks!

[2020-02-04 09:48] ravikyram commented on #36148
@Vishal2188

Any update on this issue please. Thanks!

[2020-02-04 09:48] #35117 closed

[2020-02-04 09:51] mstritt commented on #16660
@carlosuc3m : it is working since TF 1.10

[2020-02-04 09:58] gadagashwini commented on #36382
@punndcoder28, Did you try @wisefool769's workaround.

[2020-02-04 10:13] yetanotheryeti opened #36459 "High RAM Usage for TF Runtime?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): tensorflow-gpu==2.0.0 or tensorflow==2.1.0
- Python version: 3.6.8
- CUDA/cuDNN version: CUDA Toolkit 1

[2020-02-04 10:14] netw0rkf10w commented on #33459
@CNOCycle Nice. I guess we now have enough evidence that the pre-trained weights are broken.

[2020-02-04 10:17] rishabhc32 commented on #21719
• [ ] - [x] - [ ]

$

 :grinning: - [ ]

[2020-02-04 10:19] daixiangzi commented on #11235
i meet same problem,appear error,when i run inference program use quanrtized pd file.
ValueError: Node 'FeatureExtractor/MobilenetV1/MobilenetV1/Conv2d_0/convolution_eightbit_reshape___hat__FeatureExtractor/Assert/Assert': Control dependencies must come after regular dependencies

[2020-02-04 10:25] amahendrakar commented on #36457
Was able to reproduce the issue. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/3117af743b141fd4fa629dc130ab6143/36457.ipynb). Thanks!

[2020-02-04 10:46] ravikyram commented on #29628
@JoelTsui
Can you please try with nightly version (`!pip install tf-nightly`) and let us know the whether the issue persists.I have tried and please find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/26b4d9836f53dc6a3032888d77804266/untitled616.ipynb). Thanks!

[2020-02-04 10:50] ErikBjare commented on #33374
@mihaimaruseac Any ETA on TF 2.2? Weeks? Months?

[2020-02-04 10:53] heisenbug47 commented on #17022
OS : Windows 10 Pro
Python 3.7.6
Still not able to install Tensorflow in 2020.

![image](https://user-images.githubusercontent.com/10788426/73738438-78fa5a80-476a-11ea-8e04-9c272707163c.png)

[2020-02-04 11:02] peeyush10234 commented on #36366
Cannot find proper documentation for the same and facing the same issue.

[2020-02-04 11:15] amahendrakar commented on #36456
Works without issues with [TF-GPU](https://colab.sandbox.google.com/gist/amahendrakar/3d36e90ad8cd5f4be8c6b34caa50ec5f/36456_gpu.ipynb), was able to reproduce the issue with [TF-CPU](https://colab.sandbox.google.com/gist/amahendrakar/6358db5cb3b3f9415daf484149bb3a52/36456_cpu.ipynb). Please find the attached Gist. Thanks!

[2020-02-04 11:36] GallopingKylin commented on #36119
Can someone here give me any suggestions or practices? I've been delayed by this damn thing for a long time

[2020-02-04 11:55] power9799 opened #36460 "saving trained tensor flow data on google colab"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): stock example

[2020-02-04 11:57] Passion999 commented on #36111
I got the same problem as you,you can use tensoflow2.0.0+CUDA10 instead to solve this problem.

[2020-02-04 11:59] carlosuc3m commented on #16660
@mstritt it is not working for me in tf 1.12, with cuda 9 and cudnn 7.
It says that java.lang.UnsatisfiedLinkError: tensorflow_jni.dll: Can't find dependent libraries.
Thanks for your answer

[2020-02-04 12:00] wookayin commented on #36347
But does it make sense? It is obviously unintended and bug, so with all due respect I think **we should release a hotfix (say 1.15.3) ASAP&& to provide GPU support.

Due to the promise of v1.15, some people (definitely in certain cases) the dependency specification would be just `tensorflow>=1.15` rather than `tensorflow-gpu>=1.15` hoping that it is GPU enabled. But, in such cases we might end up

[2020-02-04 12:06] carlosuc3m commented on #23656
@saudet Sorry I am not very used to work with native libraries. Does that mean that I have to create my own wrapper of the tensorflow native classes i want to use and load them using JavaCPP?
Thank you for your quick answer

[2020-02-04 12:09] MarkDaoust commented on #26546
@himanshisyadav upgrade to at least TF 1.14.

[2020-02-04 12:16] wookayin commented on #36347
I carefully went through the documentation and a history, and now I think it also makes a sense to revert the package consolidation behavior for 1.15.x series (which also makes a sense as this is kinda breaking change around v2.0). Given that [the documentation](https://www.tensorflow.org/install/pip) has been already updated, we should keep this one. Only remaining issues would be legacy package

[2020-02-04 12:18] ashwin17083 commented on #36238
@gadagashwini: Hi,
I have attached a modified code which includes a simple model description,training and saving.
The issue occurs in line number 26 when trying to save the model in TensorFlow SavedModel format.
The same model could be saved in .h5 format as in line number 25.
[PAKLSTMRepValCommented.txt](https://github.com/tensorflow/tensorflow/files/4153207/PAKLSTMRepValCommented.txt)
Thanks!

[2020-02-04 12:35] tamaramiteva commented on #35860
@dartlune Did going back to the 'tensorflow/tensorflow:2.0.0-gpu-py3' image helped?

I cannot save the model in both versions of the docker image!

Any suggestions?

[2020-02-04 12:36] amahendrakar commented on #36175
@ChetanRajput,
Any updates regarding the supporting files required to reproduce this issue? Thanks!

[2020-02-04 12:37] divyag11 opened #36461 "Missning signaturedef while converting model from .h5 to tensorflow saved format model"
hi,i am saving the finetuned model as :
model.save_pretrained('directory')
It saves a config.json and .h5 model in the directory.
But,when i load the same model using:
loaded_model = TFDistilBertModel.from_pretrained("directory")
and then,save it in tf format using:
tf.saved_model.save(loaded_model, "./tmp/db/1")
This tfsaved format model conatins:variables,assets and saved_model.pb file.But,it do

[2020-02-04 12:50] nirajkale commented on #21719
I din know the older versions of tensorflow were still being used. Anyway, i would suggest keeping only one version of protobuff. I think tf might be using the higher version which might be causing the issue.
Not sure which exact version of protobuf will work with tf 1.5. U might have to do some trial n error but while doing so, pls try one at a time ( as in 1 version in ur virtual env at a time)

[2020-02-04 12:51] amahendrakar commented on #36253
@Akpadhy,
Any updates regarding this issue? Thanks!

[2020-02-04 13:30] jmeile commented on #30191
From all the solutions named here. This one is the only one that worked for me:

[2020-02-04 13:30] amahendrakar commented on #36348
Was able to reproduce the issue with TF 1.15. Please find the Gist [here](https://colab.sandbox.google.com/gist/amahendrakar/c41e632bf014b78b8747500ab6d561ba/36348.ipynb). Thanks!

[2020-02-04 13:38] dmus commented on #36446
Updated colab notebook link

[2020-02-04 13:45] raghavab1992 commented on #36366
@ymodak @amahendrakar  can u please help with this?

[2020-02-04 13:55] gabrieldemarmiesse opened #36462 "Autograph is incompatible with typeguard"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2020-02-04 14:00] josdewitte commented on #36252
Any update?

[2020-02-04 14:13] jvishnuvardhan commented on #36362
@suth1807 `input_shape` in the first layer is required to infer shapes in Sequential and Functional keras model APIs. For subclass models, we need to call it on some data to initialize weights and then load weights. Hope this helps. Thanks!

[2020-02-04 14:18] aakhundov opened #36463 "tf.keras.Sequential ignores the outer name scope(s) when built proactively"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Catalina 10.15.2 (19C57)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.6.5 (v3.6.5:f59c0932b4)

**Describe the current behavior**

Wh

[2020-02-04 14:22] durandg12 commented on #34068
I have tested and the issue is indeed fixed.

But we shall note that the `tf`mode still raises a warning :
[code]

[2020-02-04 14:28] prpeixoto commented on #36162
Firstly, thank you for your responses. I tried the recommended actions and it didn't work. However, downgrading the H5py module to 2.9 seems to have done the trick. I had previously tried downgrading to 2.8 but, for some reason, skipped 2.9. I am very curious to know why this isn't an issue on the 2.9 but is in 2.10, something that if continues on future versions, will be a problem.
Thank you agai

[2020-02-04 14:28] #36162 closed

[2020-02-04 15:01] uchua commented on #36005
Is there any update on this? Just wanted to check in being as it's been two weeks now.

[2020-02-04 15:04] someAdjectiveNoun commented on #26854
AttributeError: module 'tensorflow_addons.layers' has no attribute 'LayerNormalization'

[2020-02-04 15:11] s4sarath commented on #36426
@ymodak - I am using cuda 10.1 but no help

[2020-02-04 15:12] seanpmorgan commented on #26854
LayerNorm was moved to TF-core:
https://www.tensorflow.org/api_docs/python/tf/keras/layers/LayerNormalization

Sorry for the stale information.

[2020-02-04 15:12] demmerichs opened #36464 "If-Condition with TF-Bools looses track of namescopes"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes (see below

[2020-02-04 15:13] himanshisyadav commented on #26546
@MarkDaoust I looked the tensorflow_gpu version for CUDA 8 and CudNN 7 and it was 1.4.1. Now, I am getting a bunch of warnings and the script won't run.

Why should I upgrade 1.14?

[2020-02-04 15:16] HristoBuyukliev opened #36465 "How can I clear GPU memory in tensorflow 2?"
### System information
- Custom code; nothing exotic though.
- Ubuntu 18.04
- installed from source (with pip)
- tensorflow version v2.1.0-rc2-17-ge5bf8de
- 3.6
- CUDA 10.1
- Tesla V100, 32GB RAM

I created a model, nothing especially fancy in it. When I create the model, when using nvidia-smi, I can see that tensorflow takes up nearly all of the memory. When I try to fit the model with a small ba

[2020-02-04 15:18] punndcoder28 commented on #36382
I updated six to 1.14 and ran the tests. Still getting the same error. I'll try the tests on a different machine and let you know.

[2020-02-04 15:24] someAdjectiveNoun commented on #26854
Thanks for the update.
Unfortunately, the inputs to LayerNormalization are different from layer_norm. Is there a workaround for it or?

[2020-02-04 15:32] bmiselis commented on #35203
I have a similar use case as @lerobitaille - I'd like to be able to override ReLU's default gradient calculation with a custom one. Previously it was possible to do it using `gradient_override_map`. Is there a way to replace gradient (even during the model loading is fine, too) in the eager execution of TensorFlow 2.0?

[2020-02-04 15:34] DavidS3141 commented on #36464
I just found a workaround, but it is extremely hacky and I hope the underlying issue will still be fixed in the future.

[code]

[2020-02-04 15:36] mdanatg commented on #36361
@kkimdev @sanjoy for more insight about the differences of peak memory use.

The difference is not entirely surprising because tf.function and Python function execute things in different ways.

[2020-02-04 15:37] himanshisyadav commented on #26546
@MarkDaoust I fixed it by install tf-nightly-gpu.

[2020-02-04 15:43] GuyGoldner commented on #36111
You're supposed to use CUDA 10.1 with TensorFlow 2.1.0

Have a look here : https://www.tensorflow.org/install/gpu

I got the same problem some time ago when I installed TensorFlow GPU with CUDA 10.2.
When I checked the v10.2 folder for the file cudart64_101.dll I found ...10**2**.dll
That's when I should have suspected I messed up the installation... but instead I tried a BAD IDEA first:
I copied

[2020-02-04 15:51] av8ramit commented on #17022
Your log says `No matching distribution found for tensroflow`

`tensroflow`

[2020-02-04 15:53] jean-noelp commented on #30427
And also for anaconda:
`conda install "numpy<1.17`

[2020-02-04 15:54] carlosuc3m commented on #16660
I have also tried with TF 1.15 and it loads well but it seems that is still using the CPU, how can I check this? Or should I call any different method? Regards

[2020-02-04 16:01] zenglian commented on #26814
use `tf.keras.models.load_model(path)` instead.

[2020-02-04 16:07] abhigoyal2210 commented on #36361
Yes, they do but I found 3.5 times increase surprising. Also, If stacked tf.keras.layers.RNN (with LSTMCell) is replaced by tf.keras.layers.LSTM, this memory blow-up doesn't happen. On the contrary lesser memory is consumed (which might not be surprising as LSTM() would use CuDNN kernel). See the screenshot below.

GPU usage when tf.function is used and RNN(LSTMCell) as replaced by LSTM().
<img wi

[2020-02-04 16:25] dishkakrauch commented on #36114
I'm really surprised that it's a big problem to load file and try to repeat all the following steps to my erorr. Can't you load file with feather-format package insted pandas?

[code]

[2020-02-04 17:01] Dominux commented on #36423
After installing:

[code]

[2020-02-04 17:10] samon11 commented on #9489
Had to downgrade to tensorflow version 2.0 `pip install tensorflow-gpu==2.0`

[2020-02-04 17:35] divyag11 commented on #36437
ok

[2020-02-04 17:44] ilyes-hm opened #36470 "Get network output during training."
Hello,
Is it possible to run `tensor.eval()` in the loss function to get the network output and use it in an external file to compute the loss.

Thank you

[2020-02-04 17:47] maxiwelian commented on #36168
My intuition would be that stop_gradient is implicit when functions are called within tf.custom_gradient

[2020-02-04 17:48] jvishnuvardhan commented on #36453
@kim-sardine Please check [this resource](https://stackoverflow.com/questions/45585104/save-keras-modelcheckpoints-in-google-cloud-bucket) which explains clearly how to save the model in the Google Storage. Thanks!

[2020-02-04 18:17] gunan commented on #33374
@martinwicke @ewilderj do we have our release roadmap published externally?

[2020-02-04 18:18] Devjiu commented on #22641
+1

[2020-02-04 18:41] jvishnuvardhan commented on #36429
@KoizumiNao This looks like a support issue. GitHub is mainly for Bugs and performance related issues. Your model might be big and cannot fit into the memory. Please post in stackoverflow and provide more details on your hardware. We will resolve it there. Thanks!

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackov

[2020-02-04 18:41] #36429 closed

[2020-02-04 19:04] crccw commented on #36447
You can/should use  a cloud storage bucket path. See https://cloud.google.com/tpu/docs/troubleshooting#cannot_use_local_filesystem

[2020-02-04 19:13] trayanmomkov commented on #34350
Thank you @gargn! You helped a lot!
Maybe we can close the issue now?
My fight to run the model on an Android device continue! \m/

[2020-02-04 19:14] #34350 closed

[2020-02-04 19:17] hartikainen commented on #36021
@allenlavoie thanks for the response, I think this makes sense. Assuming that Modules won't get fully revived, what's the suggested way of serializing objects like above? Is the best practice to manually implement the `__{set,get}state__` functions and use pickle, or is there some better way to do it? Or maybe I should use the `saved_model` like above and manually set the fields back to the deseri

[2020-02-04 19:22] allenlavoie commented on #36021
One option is to add attributes before save. So if you know you'll want a list of variables, you can collect that and assign it to a different attribute. We do save lists, tuples, dicts with string keys, and namedtuples, just not `@property`s or methods.

Another option is to use GradientTape to collect trainable variables implicitly (tape.trainable_variables() I think).

[2020-02-04 19:26] mcwebdev commented on #36078
This issue can be closed, further analysis revealed the bit depth being set correctly. It seems the duration multiplier was the culprit. I think I will change that label to reflect `playback speed` in my app.

[2020-02-04 19:32] saberkun commented on #36005
Can you try these tf2 hub modules here: https://tfhub.dev/tensorflow/bert_en_cased_L-24_H-1024_A-16/1?

The Albert modules from the TF2 model code are publishing soon.

The example here: https://github.com/tensorflow/models/blob/master/official/nlp/bert_models.py#L370
should work for TF 2.1

[2020-02-04 19:36] jvishnuvardhan commented on #35921
@houtoms Saving a subclassed model is little different. Check for more details in [this response](https://github.com/tensorflow/tensorflow/issues/36362#issuecomment-581557975). In short, can you try saving the weights using `model.save_weights("weights.tf", save_format='tf')` and then (1) load the model, (ii) run on some data, and (iii) load_weights. This approach is clearly mentioned in the TF we

[2020-02-04 19:55] pGit1 opened #36471 "TF2+ is amazing(!!!) IDC what anyone says..."
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2020-02-04 19:56] pGit1 commented on #36471
Name one meaningful advantage Pytorch has over TF2+...

[2020-02-04 19:56] #36471 closed

[2020-02-04 20:23] sanjoy commented on #36361
Interesting find!

Can you check forcing the TF to use a smaller amount of memory (using [`set_local_device_configuration`](https://www.tensorflow.org/api_docs/python/tf/config/set_logical_device_configuration)) runs fine (i.e. without OOM) with `tf.function`?

`tf.function` uses the graph executor which (grossly simplifying) picks some execution order consistent with the data flow in the graph an

[2020-02-04 20:56] gowthamkpr commented on #36359
@wenmin-wu Can you please share a reproducible test case where the sum of weights are zero. Thanks!

[2020-02-04 21:03] himanshisyadav opened #36473 "Program won't execute because of warnings but no errors."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-02-04 21:07] Richard-Yang-Bose opened #36474 "TFLite iOS benchmark app doesn't produce consistent result while using GPU delegate"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS 10.14.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: iPhone XR (tested on iOS 13.3, and 12.3.1), iPhone Xs (13.1.2)
- TensorFlow installed from (source or bina

[2020-02-04 21:17] ymodak commented on #34767
Potentially duplicate of #34211

[2020-02-04 21:21] jvishnuvardhan commented on #32672
@currivan I think this was resolved recently in `tf-nightly`. I ran it with `tf-nightly` without any issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/15f06ff402a678a77d0c47592a290701/32672.ipynb). Thanks!

I am closing this issue as it was resolved. Please feel free to reopen. Thanks!

[2020-02-04 21:21] #32672 closed

[2020-02-04 21:30] gowthamkpr commented on #36303
@kuppas Yes that example should be modified. I have modified that example and its running successfully. The problem is the grpcio version 1.16.1. I changed it to 1.24.3 and then I ran into an other problem which is shown [here](https://colab.research.google.com/gist/gowthamkpr/b8100d83e51a0a17424f41d6f02e4cbf/copy-of-get_started.ipynb) and if you uninstall tensorboard at the start, it should fix t

[2020-02-04 21:40] saudet commented on #23656
No, the wrappers from this repository are no longer being maintaining.
Development has moved to this repository: https://github.com/tensorflow/java

[2020-02-04 21:41] awav commented on #12570
@Thenerdstation, do you know what's the status of that issue? :)

I do like to find all these issues raised a long time ago, in time when you need them the most. But they are all forgotten...

[2020-02-04 21:50] Artaches commented on #35283
@talumbau There are two FC layers that the ``benchmark_model`` tool is showing. The first is actually an RNN LSTM cell (`tf.nn.rnn_cell.LSTMCell` + `tf.nn.static_rnn`; 5.5m params), the second is a small actual FC layer (`tf.keras.layers.Dense`; 327k params). The computation time of the FC layers make sense to me.

Here are the numbers I get on the ``pixel 3a`` with the standard ``benchmark_model`

[2020-02-04 21:58] jvishnuvardhan commented on #33646
@j-o-d-o Can you please check using `model.save` after compile and the use `keras.models.load_model` to load the model. I tried it without any issue. [Here](https://colab.sandbox.google.com/gist/jvishnuvardhan/0f8c9294cfd1e8ae945f9edae36831ad/untitled702.ipynb) is the gist. Please run it with `tf-nightly`. Thanks!

[2020-02-04 22:03] gowthamkpr commented on #35451
@veonua As mentioned in my comment in the 2nd line, there us a **spelling mistake** in your code i.e., insted of using `signatures=decoder.call` you are using `signatures=dncoder.call` Please correct that and let me know if the example works.

[2020-02-04 22:05] Thenerdstation commented on #12570
I haven't worked on this in years haha.

I won't be able to work on this at this point, so if you wanna take it up go for it.

[2020-02-04 22:05] jvishnuvardhan commented on #35527
@yourtheron Can you please check the approach mentioned in this [response](https://github.com/tensorflow/tensorflow/issues/36362) or can you provide minimal example. It is difficult to check very long code. Thanks!

[2020-02-04 22:16] k-w-w commented on #35888
Thanks for reporting this bug, this should be fixed in the latest nightly.

(also, you can you triple ``` to format multiple lines of code)

[2020-02-04 22:16] #35888 closed

[2020-02-04 22:26] wenjieji86 opened #36475 "tf.keras.utils.get_file issue"
I am using Google Colab with tensorflow and I was trying to download files from my google cloud storage. I was able to download the files to Colab but somehow they are corrupted because I can not read or view the files. Even if I after I downloaded them from Colab to my own PC, I still couldn't open/read the files. But if download them directly from Cloud Storage to my PC, they are fine. The files

[2020-02-04 22:34] velovix opened #36476 "tensorflow==1.15.2 package on PyPI cannot find GPU devices"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 (in Docker)
- TensorFlow installed from (source or binary): Binary
- TensorFlow version: 1.15.2
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- CUDA/cuDNN version: 10.0
- GPU model and memory: GTX 1080 Ti 12 GB

**Describe the problem**

When using the tensorflow package at v

[2020-02-04 22:40] harsh306 commented on #24607
If I have model version tf **1.x**, exported as saved_model format.  Can I still use this functionality for dynamic input shapes?

[2020-02-04 22:45] gargn commented on #24607
@harsh306 Yes. As long as the 1.X TensorFlow SavedModel takes in dynamic input shapes, then it will work with TFLite after reconverting the model. I recommend using `TFLiteConverter.from_saved-model` in the `tf-nightly` (which supports 1.X SavedModels) to try converting the model and testing this functionality.

[2020-02-04 22:47] harsh306 commented on #24607
Thanks, Yes, I will try that. Currently I am stuck on different issue of pip install tf-nightly on MAC :) Will update results once I figure out.
https://github.com/tensorflow/tensorflow/issues/27470

[2020-02-04 22:49] Costyv95 commented on #35585
Do you have any updates on this issue? Like what's causing it? Maybe a quick fix?

[2020-02-04 22:55] vdhelm commented on #33035
Is there a workaround to still save a trained model? My project absolutely needs sparse input tensors, and if I am not able to save them, that will be a major blocker.
Thanks,

[2020-02-04 23:19] JustinWick commented on #33599
Does anyone know what version of TensorFlow 2 will have libtensorflow in it?

[2020-02-04 23:36] harsh306 commented on #24607
ok, I am using tf-nightly==2.2.0-dev20200204
Still getting the error during converting.

[code]

Error:
[code]

[2020-02-04 23:44] houtoms commented on #35921
Thx. Closing.

[2020-02-04 23:44] #35921 closed

[2020-02-04 23:51] carlosuc3m commented on #23656
Sorry but I am not getting the point. What should be the approach then?

[2020-02-05 00:06] saudet commented on #23656
Try to use the artifacts made available from that subproject.

[2020-02-05 00:35] haozha111 commented on #32294
closing due to in-activity.

[2020-02-05 00:35] #32294 closed

[2020-02-05 00:35] haozha111 commented on #34150
is the issue fixed?

[2020-02-05 00:38] DEKHTIARJonathan commented on #36398
@nluehr @reedwm: I added support for nested optimizers:
[code]

We also introduce a concept of optimizer **"priority"**, this is mainly due to enforce that some hooks kick in first or last no matter the order or wrapping (ensuring the user does not screw up).
This priority can always be overwritten at runtime or by subclassing for testing/research objective, even if such a scenario is probably unl

[2020-02-05 00:40] yufengm opened #36477 "[tf2.1] model saving error for model with Batch Normalization layer and under MirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Redhat 8.1 (in Docker)
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TF2.1.0
- Python version: 3.6.8
- CUDA/cuDNN version: 10.1
- GPU model and memory: V100, 32

[2020-02-05 01:00] veonua commented on #35451
have you opened the collab link I have provided?

misspelling was corrected months ago

On Tue, Feb 4, 2020, 23:03 gowthamkpr <notifications@github.com> wrote:

[2020-02-05 01:01] danperazzo commented on #17014
Hello, has this issue been solved yet? Is there anyway to use this or substitute the resampler function for any other function?

[2020-02-05 01:36] zxydi1992 commented on #36476
Just found the same issue.

[2020-02-05 01:40] moono commented on #36457
Forgot to mention one important thing.
To reproduce this issue, one needs to set `dynamic=True` before export the model.
As in sample code I provided,

[code]

[2020-02-05 01:40] DEKHTIARJonathan commented on #36398
I have modified `training_eager.py` to integrate the changes:

All the unittests are passing again without any change:
[code]

[2020-02-05 01:42] harsh306 commented on #34345
@Angtrim , can you explain a bit about the workaround
Did you use,  upsample = tflite_interpreter.get_tensor_details() and then maually change the shapes according to the inputs, using resize_tensor_input ?

[2020-02-05 01:46] reedwm commented on #36398
There was a internal discussion on this issue and we have decided we want some sort of hook mechanism, such as the one @tgaddair proposed and @omalleyt12 expanded on. However, we have not yet decided on a concrete proposal. We could go with the proposal detailed by @omalleyt12 in this issue. Alternatively, to avoid deeply nesting optimizers, the base Optimizer could take a "Callbacks" object or a

[2020-02-05 01:46] karimnosseir commented on #36156
Ashwin can you please check

Thanks

[2020-02-05 01:59] reedwm commented on #36398
My thoughts on the proposal so far:

@DEKHTIARJonathan, thanks for prototyping this. I think this approach is reasonable, except that I'm a bit worried about the "priority" field. If optimizers are nested, it seems unintuitive that the order of nesting would sometimes be ignored in favor of priorities. If the Horovod optimizer overrode `_aggregate_gradients` (as @omalleyt12 proposed), and the Loss

[2020-02-05 02:08] jakemannix commented on #32943
Is there any progress / roadmap / plan on this?  TF2 has been out for a while, and not even a plan on java support... is pretty unsatisfying.

[2020-02-05 02:49] karimnosseir commented on #35927
The error is
"error: operand type 'tensor<i32>' is not compatible with preceding operands; expected rank: 1
        for dt in dtype_flat]"

If you looked at the stack trace presented in failure
... map_fn.py:242:9: note: called from for dt in dtype_flat]
... yolact_test.py:602:32: note: called from dtype=tf.float32)
...yolact_test.py:676:46: note: called from

[2020-02-05 02:50] karimnosseir commented on #35927
If you still having problems after fixing the model, please reopen the issue and we will be happy to help.

Thanks for the feedback

[2020-02-05 03:06] AloshkaD commented on #7285
For me this error was caused by using tf V2 with a code written in tf V1
I replaced ``` tf.get_variable```  with ```tf.compat.v1.get_variable``` and it worked

[2020-02-05 03:37] JiayuanSternLi commented on #36147
Hi, sorry for my late reply.
1. I indeed did the experiments on batch_size on total or per replica, but it doesn't show a great difference so I didn't mention it
2. The same is the same input size. The most weird thing is that Keras performs best on 2 GPUs while equvalent to 8 GPUs with the custom training loop:
![image](https://user-images.githubusercontent.com/33815430/73808710-d8f50d80-480b-11e

[2020-02-05 03:38] JiayuanSternLi commented on #36147
Please take a look at the above reply

[2020-02-05 04:04] noar2 commented on #30552
You can reference this: https://github.com/sitting-duck/stuff/tree/master/ai/tensorflow/build_tensorflow_1.14_source_for_Windows

"
The reason this is happening is because you can only expose 60,000 symbols in a dll. This is just some limitation of the dll format. The tensorflow library code has more than 60000 symbols, so as the programmer building this dll (a dll is just a binary file for access

[2020-02-05 04:26] sudonto commented on #27817
hi @akashchintha , have you solved this?

[2020-02-05 04:37] EKami commented on #19731
Same issue here, please reopen the issue... TF 2.0 didn't solve anything, just made my code run slower...

[2020-02-05 04:40] tgaddair commented on #36398
Hey @reedwm, glad this feature is generating a lot of good discussion.

For our case with Horovod, we cannot implement the aggregation in `apply_gradients` because of Keras' current use of the `LossScaleOptimizer` in [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/engine/training_eager.py#L274) code path, which will have `get_unscaled_gradients` called before `a

[2020-02-05 04:42] ravikyram commented on #36078
@mcwebdev

Glad to know that you have found workaround for this issue. I am closing the issue .Thanks for the confirmation.

[2020-02-05 04:42] #36078 closed

[2020-02-05 04:49] rakeshmothukuru1 opened #36480 "Error when executing model.predict or model.evaluate even though Loading is successful"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Issue is not specific to OS. Could be reproduced in Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): N/A
- T

[2020-02-05 04:55] usamahjundia commented on #9489
@samon11 thanks a bunch, went around many threads to solve this problem, yours solved mine. Bless you, have a nice day

[2020-02-05 04:55] rakeshmothukuru1 commented on #36480
Please find the Saved Model, CNN_MNIST_Sequential.h5, attached.

[CNN_MNIST_Sequential.h5.zip](https://github.com/tensorflow/tensorflow/files/4157457/CNN_MNIST_Sequential.h5.zip)

[2020-02-05 05:12] reedwm commented on #36398
Is the issue with all-reducing in apply_gradients is that you all-reduce in fp16 and therefore must all-reduce the scaled gradients when a `LossScaleOptimizer` is used?

@omalleyt12 do you know the answer to this?

If the answer is "no", perhaps we could implement, but not publicly document, the `_aggregate_gradients` function for 2.2. This could be considered an internal refactor without any API

[2020-02-05 05:31] #36063 closed

[2020-02-05 05:50] sunzhe09 commented on #35807
@jdduke my model is from object detection api,

[2020-02-05 06:09] shauryad15 commented on #35389
is there any reason why it's not supported??

Anyways, I'm able to use GPU now.

[2020-02-05 06:17] siAyush commented on #36432
Hi @VegardIversen
First install the Microsoft Visual C++
From here : [Microsoft Visual C++](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
And then try to install it again.
Thank you

[2020-02-05 06:33] rmanak commented on #20218
There seems to be still a problem with slicing operator resulting in ResourceExhausteError, when using gradient tape, I was able to get around it by avoiding the slicing operators in the loss calculation.

[2020-02-05 06:50] tulasiram58827 commented on #33711
@gargn Any update on this

[2020-02-05 07:01] hregua commented on #34722
You may have different paths for your python package. One from AppData/Locals and the other is from AppData/Roaming. Removing the python package in AppData/Roaming solves my problem.

[2020-02-05 07:40] KANGRuipeng commented on #35384
Is there any report performance issue of TF1.15 under distributed mode?

[2020-02-05 07:50] m4tts commented on #34067
I think this is a great idea. I don't know how often GPUs actually break down but in my case, I never really considered it. To have it linked in a troubleshooting or similar section would be really helpful.

[2020-02-05 08:20] ahmadalsharef994 commented on #27688
WORKING SOLUTION:

1. Go to: Miniconda3\Lib\site-packages or wherever h5py is installed.
2. Delete h5py Folder
3. Delete h5py-2.10.0.dist-info Folder (This might be different if you have a different 4. version).
4. Install h5py again.

It worked for me after a long search. Finally, I tried to delete it manually and reinstall it. IT WORKED!!!!!

By uninstalling them using cmd, pip, anaconda Some fi

[2020-02-05 08:36] impjdi commented on #35389
We have limited resource and cannot even implement every builtin op.  A very specialized post processing op is surely very far away from being prioritized.

Glad that GPU works for you now.

[2020-02-05 08:36] #35389 closed

[2020-02-05 08:48] gadagashwini commented on #36459
I tried on colab, it took around 1GB of RAM with Tf 2.1 and 2.0.
Please take a look at the gist [here](https://colab.research.google.com/gist/gadagashwini/c0fb1823be9b1feb7bcd78705a20b5ba/untitled375.ipynb). Thanks!

[2020-02-05 08:53] ravikyram commented on #36463
I have tried on colab with TF version 2.1.0-rc2,2.2.0-dev20200204 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/de7f77d612ed52c22e0eb969c126e08c/untitled620.ipynb). Thanks!

[2020-02-05 08:56] gadagashwini commented on #36460
@power9799, Save your model and load when ever you want to evaluate or predict. Save the model in .h5 or .pb format in your google drive. Please take a look at the [guide](https://www.tensorflow.org/tutorials/keras/save_and_load) to Save and load model in Tensorflow. Thanks!

[2020-02-05 09:16] SirPhemmiey commented on #36141
This issue still persists. Any luck with this?

[2020-02-05 09:30] amahendrakar commented on #36465
@HristoBuyukliev,
Could you please check [this](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) Tensorflow documentation and let us know if it helps. Thanks!

[2020-02-05 09:38] ravikyram commented on #36475
I tried uploading tif image to colab locally,then i am able to read the file.However by following the above commands I am able to download the files from google cloud storage but cannot read/view tif files.Thanks!

[2020-02-05 09:41] amahendrakar commented on #36473
@himanshisyadav,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-02-05 09:42] gadagashwini commented on #36470
@ilyes-hm, Can you elaborate the issue with sample code and/or any use case. Thanks!

[2020-02-05 09:45] HristoBuyukliev commented on #36465
@amahendrakar Hi, this is not what I am looking for. Not using up all the memory at once sounds like a useful feature, however I am looking to clear the memory tf has already taken.

I just tried it out, it doesn't help. I am iteratively increasing batch size, trying to find the biggest one I can use. Once the jupyter kernel crashes, the memory stays taken up.

Additionally, even the advertised fu

[2020-02-05 09:48] DemiTownson26 opened #36483 "Trying to install pytorch-neat - No such file or directory setup.py"
I've attempted to install pytorch-neat from https://github.com/uber-research/PyTorch-NEAT.git.
I cloned the repo which is now in C:\Users\username\AppData\Local\Continuum\anaconda3\pkgs\PyTorch-NEAT and the following command
pip install git+https://github.com/uber-research/PyTorch-NEAT.git
which is giving the following error
 ERROR: Command errored out with exit status 1:
     command: 'c:\users\t

[2020-02-05 09:50] gadagashwini commented on #36476
@velovix, Tensorflow 1.15.2 has both GPU and CPU support. Please take a look at [gist](https://colab.research.google.com/gist/gadagashwini/9f44beac087511b14e36a82ce7de2920/untitled374.ipynb). To see available GPU devices, use
[code]
Thanks!

[2020-02-05 09:55] DemiTownson26 commented on #36483
FWIW for now I can put the pytorch_neat file into my source and use it that way, but if there is a way of installing it I would like to know

[2020-02-05 10:00] abhigoyal2210 commented on #36361
Yes, it works fine when I set memory limit to 4500 or higher and gives OOM otherwise.

[2020-02-05 10:22] carlosuc3m commented on #23656
Thank you. However the maven artifacts of that subproject are not even ready yet, are they?

[2020-02-05 10:27] ravikyram commented on #36446
@dmus

I have tried in colab with TF version 2.2.0-dev20200205 and i am not seeing any issue. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/053d84cd47d7653c362ac6d7bc19ab04/untitled623.ipynb). Is this the expected behavior? Thanks!

[2020-02-05 10:41] saudet commented on #23656
No, they're not. We're waiting on @ewilderj for build machines.
The default ones from GitHub Actions have an issue: https://github.com/tensorflow/java/pull/25

/cc @karllessard

[2020-02-05 10:47] sheila commented on #34695
Thanks Nicola. It worked for me too.

[2020-02-05 10:50] gadagashwini commented on #36480
@rakeshmothukuru1, Please change the model.evaluate as
[code]
Or make change in model.fit as steps_per_epoch =None
Please find the [gist](https://colab.sandbox.google.com/gist/gadagashwini/22f8fdb707a98f871bf48fe916f68332/cnn_mnist_sequential_restored.ipynb). Thanks!

[2020-02-05 10:50] dathudeptrai commented on #36430
@jvishnuvardhan any update?

[2020-02-05 10:54] dmus commented on #36446
@ravikyram Thanks for having a look. I think indeed there is no bug, but this is the expected behaviour of BatchNormalization layers. It takes time before the batch statistics are similar to the statistics used in a batch, explaining the big difference between train and val loss.
Eventually this can be speed up by lowering the momentum property of the BatchNormalization, default is 0.99

[2020-02-05 10:55] gadagashwini commented on #36461
@divyag11,
To see signature_def run this command,
`saved_model_cli show --dir {export_path} --all`
Thanks!

[2020-02-05 10:56] ravikyram commented on #35852
@dmirecki
Can you please try with nightly version (`!pip install tf-nightly `) and see if the problem still persists. I am not seeing any issue with nightly version.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/5afc10120066fcfa0d6da4fab49c6178/35852.ipynb). Please, close the issue if the issue was resolved.Thanks!

[2020-02-05 10:57] rakeshmothukuru1 commented on #36480
@gadagashwini,
Thank you for the workaround but it works only for `model.evaluate` and `model.predict` is still resulting in error. Is it like, we can't use `model.predict` on the Restored Model?

[2020-02-05 10:59] #29628 closed

[2020-02-05 11:20] chrishmorris commented on #21979
This is an important issue. With a Keras model, you can reduce the learning rate on plateau, then stop training if the loss still does not improve. Powerful, and avoids a lot of experiment with LR schedules.

[2020-02-05 11:27] ksabr opened #36484 "Gradient in keras model with respect to layer outputs is `None` when layer is a Model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos-release-7-6.1810.2.el7.centos.x86_64

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:

- TensorFlow installed from (source or binary): Binary

- TensorFlow versi

[2020-02-05 11:30] sashulyak commented on #35852
@ravikyram You are right. With that fix we can compile model. But there is still an error during training. Please, look at this [collab notebook](https://colab.research.google.com/drive/1uIujbu0vkYhV6iZFHj7A_dJuUYYmLgwS)

[2020-02-05 11:34] divyag11 commented on #36461
I know the command to see signature_def .My ISSUE is :
when i run: saved_model_cli show --dir {export_path} --all
it shows as shown below ,but does not have any i/p or o/p signature.Is there any way t explicitly pass signature to model in tf.saved_model.save.LET me know about it how to pass signatures explicitly
[code]

[2020-02-05 12:17] taborda11 commented on #33030
For me the memory leak is not fixed in tensorflow 2.1.0, Windows 10 and Python 3.7.6 (64 bits). After using tf.keras.backend.clear_session(), the memory leak is fixed as a workaround.

[2020-02-05 12:21] manish-kumar-garg commented on #32650
@ucasiggcas I am also getting same type of error.
Were you able to fix this?

[2020-02-05 12:23] apostrophesoftware commented on #36336
Sorry I disagree, there are numerous warnings displayed.  Meaning there are clearly things the compiler does not like!

I am also using an official raspberry pi power supply and have never seen a problem like this before

[2020-02-05 12:29] yetanotheryeti commented on #36459
This is because Colab does not have the same setup as me. Colab only utilizes a single GPU:
`tf.config.experimental.list_physical_devices("GPU")`
outputs: [PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

This aggrees somehow with my observations when I turn only one of the eight GPUs visible (num_visible_gpus=1 => 1539.554688 MB) or zero (num_visible_gpus=0 => 1201.152343 MB).

[2020-02-05 12:57] AIChuY opened #36485 "Failed to load the native TensorFlow runtime."
**System information**
- OS :windows 10 x64
- TensorFlow installed from (source or binary):binary
- TensorFlow version:2.1
- Python version:3.6.5
- Installed using virtualenv? pip? conda?:installed in python3.6.5 anaconda virtualenv using pip
- CUDA/cuDNN version:cuda10.1 with cudnn 7.6.5.32
- GPU model and memory:nivida gtx 1060

I have installed cuda and cudnn and add them to PATH,but when I try

[2020-02-05 12:58] Black-Behemoth commented on #35968
Is is supposed to work on a system without NVidia card and hence without CUDA? And why would an NVidia-specific package be required in the first place? I am getting precisely the same error just importing tensorflow 2.1 from Ubuntu shell under Windows WSL. It goes away if I downgrade to tensorflow 2.0.

[2020-02-05 13:07] punndcoder28 commented on #36382
I ran the tests on a different machine and the tests passed. Maybe it is an issue with MacOS and the  packages there? I couldn't figure it out but the tests run fine.

[2020-02-05 13:12] amahendrakar commented on #36297
Any updates regarding this issue? Thanks!

[2020-02-05 13:29] taborda11 commented on #36465
Hello @HristoBuyukliev, I had a similar problem when I was iterating over model.predict(), if you are iteratively increasing batch size, try after each batch_size training do `tf.keras.backend.clear_session()`.
That seems to be a case of memory leak in each training.

[2020-02-05 13:30] constructor-igor opened #36486 "import tensorflow (v2.1.0) fails"
**System information**
- Windows 10
- TensorFlow installed from (pip install tensorflow):
- TensorFlow version: 2.1.0
- Python version: 3.7.1
- Installed using virtualenv:

**Describe the problem**
```import tensorflow as tf``` fails

[code]

tf (v1.15.0) in other virtual environment shows next:
[code]

[2020-02-05 13:41] amahendrakar commented on #36483
@DemiTownson26,
Looks like you are facing issues with PyTorch. Could you please confirm if this issue is related to TensorFlow? Thanks!

[2020-02-05 14:01] carlosuc3m commented on #23656
Thank you very much.
And just in case someone finds it useful, the problem that was causing this error was that I was not using the correct CUDA version. I tried for tf 1.12 and tf 1.15. For tf 1.12 I needed CUDA 9.0 and for tf 1.15 I needed CUDA 10.0

[2020-02-05 14:03] carlosuc3m commented on #16660
Just in case someone finds it useful, the problem that was causing this error was that I was not using the correct CUDA version. I tried for tf 1.12 and tf 1.15. For tf 1.12 I needed CUDA 9.0 and for tf 1.15 I needed CUDA 10.0

[2020-02-05 14:18] MarcoLeti commented on #36141
It seems the issue is with version 1.14, you can install version a different version and I think you won't have this problem. Unfortunately you cannot install from pip versions > 1.14. I can advice this repository where you can find already prepared wheels and you can avoid to create your own: https://github.com/PINTO0309/Tensorflow-bin
I installed version 2.1 and it worked for me!

[2020-02-05 14:27] nbro commented on #35138
@tgaddair In my case, `experimental_run_tf_function` still exits as an argument of the `compile` method in TF 2.1 (and I've been using this flag for some months with TF 2.0 and now with TF 2.1), so I don't get this issue.

[2020-02-05 14:28] sonfiree commented on #33178
@qlzh727 So is the problem solved? Can I put the second version?

[2020-02-05 14:29] faridelaouadi commented on #35651
For anyone facing a similar problem, you can simply convert the list y into a numpy array and it should do the trick. Something like this:

y = np.array(y)

[2020-02-05 15:07] gdudziuk commented on #35030
Yes, I have already observed that my results measured with `memory_profiler` are different than @mihaimaruseac's. As I understand we don't trust `memory_profiler` now, so I have checked some details for `tf-nightly-2.2.0-dev20200203` using `ps`:

- After the line `y_val   = ...` (the end of creation of numpy arrays) I get ~7.7 GB RSS memory usage. This matches very close the size of the numpy arra

[2020-02-05 15:10] prakHr opened #36490 "Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with --allow_custom_ops, or by setting allow_custom_ops=True when calling tf.lite.TFLiteConverter(). Here is a list of builtin operators you are using: FULLY_CONNECTED. Here is a list of operators for which you will need custom implementations: IdentityN."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2020-02-05 15:11] prakHr opened #36491 "tf lite model error"
Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting target_ops=TFLITE_BUILTINS,SELECT_TF_OPS when calling tf.lite.TFLiteConverter(). Otherwise, if you have a custom implementation for them you can disable this error with

[2020-02-05 15:15] #36490 closed

[2020-02-05 15:30] himanshisyadav commented on #36473
I am using the examples for basic MLP in [this github](https://github.com/lloydwindrim/hyperspectral-autoencoders) repo.

[2020-02-05 15:45] mjlbach commented on #35968
@Black-Behemoth Tensorflow 2.1 is no longer split into a gpu and non-gpu package

[2020-02-05 15:47] Lillypucien commented on #36064
Any news on this issue? Unfortunately, we are unable to switch to TF 2.1 if we are not able to build our custom operators anymore.

[2020-02-05 16:04] tgaddair commented on #35138
@nbro the commit (https://github.com/tensorflow/tensorflow/commit/c73c99ca3e0bacf2bca313f270bb3eae28869530) was made before the release of TF 2.1, but was not included in the TF 2.1 branch, and as such will not go into effect until TF 2.2.

[2020-02-05 16:05] nbro commented on #35138
@tgaddair I am currently using `experimental_run_tf_function` in TF 2.1.

[2020-02-05 16:12] Black-Behemoth commented on #35968
Does not explain why "import tensorflow" works in tensrflow 2.0 but attempts to invoke  a cuda library in tensorflow 2.1. On a laptop with an AMD card no less.

[2020-02-05 16:12] tgaddair commented on #35138
@nbro I don't think you understood me correctly.  I'm saying that this functionality will be dropped in TF 2.2, not 2.1.  In the original issue, I assumed it would be in effect in 2.1 because the change was made before the 2.1 release, but the change was never merged into the 2.1 branch.  Does that make sense?

See this discussion for more details: https://github.com/tensorflow/tensorflow/issues/3

[2020-02-05 16:14] nbro commented on #35138
@tgaddair Yes, now it makes sense.

[2020-02-05 16:15] bjacob commented on #35283
Regarding the previous 3 comments, the explanation is that tflite uses the ruy thread-pool directly in place like this CustomGemv, via the cpu_backend_threadpool facility:
https://github.com/tensorflow/tensorflow/blob/9c7d78bce12a6374748ce84dd9a4fc0a37606775/tensorflow/lite/kernels/cpu_backend_gemm_custom_gemv.h#L179

When tflite_with_ruy=true (the default on ARM), cpu_backend_threadpool maps onto

[2020-02-05 16:16] Angtrim commented on #34345
@harsh306 To apply my workaround, these are the steps you have to follow:
1) Edit your model input: you should add a second input tensor (a proper one, like if it was another input image), made just of 2 floats, so that during training and inference you can pass the size of your image.
2) Edit the resize nodes: now that you have a second input, you should connect it to the resize node passing it a

[2020-02-05 16:16] sandeepgadhwal commented on #36396
The issue was that i saved that model using custom keras layers with tensor-flow version 1.14 .

I saved a model using latest tensorflow and it works fine.

[2020-02-05 16:16] #36396 closed

[2020-02-05 16:22] 7Z0nE opened #36492 "saving_utils.compile_args_from_training_config does not work with multiple loss fuctions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NO
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):TF

[2020-02-05 16:38] Hyperclaw79 commented on #35934
@ymodak
Any updates on this? I've encountered the same bug as well.
Would really appreciate a fix for this.

[2020-02-05 16:40] malcolmreynolds commented on #17014
@danperazzo: making the error message more explicit (as mentioned above) has been done, see https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/framework/op.cc#L76 - as far as I'm aware, the approach above of making sure these custom ops are loaded before you try and load a graphdef using them should still work. So if you're hitting this exact issue it should be possible to work a

[2020-02-05 16:50] tgaddair commented on #36398
Hey @reedwm, to answer your question: yes, part of the issue is that we want to perform the allreduce on the scaled gradients in fp16. @DEKHTIARJonathan or @romerojosh might have additional context on this.

I think having a single method like `_aggregate_gradients` in the Optimizer API would be a great workaround for now.  I agree that it's not that big of a deal having to support a deprecated me

[2020-02-05 17:19] gdudziuk commented on #35124
I can confirm that. With the changes you suggest, @robieta, I get ~13 sec/episode with TF 2.0.0 and ~4.7-4.8 sec/episode for TF 2.1.0. So I think we may close the issue.

Thank you for your explanations and the link to the other issue. It's worth reading. I knew earlier that there were methods like `predict_on_batch` and `train_on_batch`in the Keras API but I didn't know what is their intended use

[2020-02-05 17:19] #35124 closed

[2020-02-05 17:26] pglushkov commented on #34845
Hi all! Tried to reproduce everything reported by @parvizp - all works fine regarding the conversion. Then when trying to run the inference with resulting TF-Lite model in Python - all crashes at attempt to create the tf.lite.Interpreter object:

Traceback (most recent call last):
  File "convert_resnet_to_tflite.py", line 37, in <module>
    interpreter = tf.lite.Interpreter(model_path=tflite_mod

[2020-02-05 17:31] dishkakrauch commented on #33030
Where exactly did you use it?
After tensorflow import?

[2020-02-05 17:32] qlzh727 commented on #33178
yes, the issue is resolved by d064c6f

[2020-02-05 17:46] srjoglekar246 commented on #34845
I think so, yes :-(. Is your deployment environment Python-only? AFAIK things seem to work on C++ (which is what I usually use)

[2020-02-05 18:08] sgabor1 opened #36493 "tf.linalg.diag not working as expected"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): v

[2020-02-05 18:28] velovix commented on #36476
@gadagashwini

Using the gist you linked, if I restart the runtime and run all steps, I get no GPUs detected.

[code]

I don't know a lot about Colab, so I'm not sure why that would be.

When testing locally using `list_physical_devices` instead of `list_local_devices`, I'm still not able to detect GPUs with 1.15.2.

I still have a suspicion that tensorflow==1.15.2 was not built with GPU support t

[2020-02-05 18:45] miaowang14 commented on #35807
This is the limitation of current driver. The driver may not be able to support all the operations in the model. And from the logcat, the HTA driver requires the quantization parameters of the input tensors to be the same, and the concatenation axis being the channel dimension.

If this is an important usecase, please let us know and we can communicate back to our partners.

[2020-02-05 19:01] lgeiger commented on #36240
I tried to reproduce the issue with MNIST by caching on disk and didn't see any difference between TensorFlow versions. It looks like this issue only appears when caching in memory.

[2020-02-05 19:09] DEKHTIARJonathan commented on #36398
@reedwm we had quite a looong chat about this priority field internally. If this is a blocker, we can remove it and rely on the user to define optimizers in the correct order. The assumption was that >90% Keras/TF will not have a fine understanding of the consequences of applying order A or order B (and which one to go for). Therefore, we make sure it's done in the correct order by default. Order

[2020-02-05 19:14] David-LiCause commented on #24695
@allenlavoie Do any of the TF releases include a fix for this issue?

[2020-02-05 19:15] jsimsa commented on #36240
Thank you @lgeiger. What I was suggesting is that you copy the data to your local file system and then run your program caching data in memory. I am trying to rule out that this is not due to reading from `GCS` (and it will also be easier to reproduce if it can be run locally).

[2020-02-05 19:21] yhliang2018 commented on #35030
@gdudziuk Thank you for your patience and updates!

My understanding is that, `model_build()` should not take too much memory, as it only builds the model by creating several variables (in `Conv2D` layer for this case). My guess is that the increase from 7.7 GB to 8.5GB may be some warm up of `model.fit()`, so not sure if `ps` is reliable. One way to verify this is to insert some input statements

[2020-02-05 19:26] Lip651 commented on #36426
It indeed worked for me, but it wasn't straight forward

[2020-02-05 19:27] allenlavoie commented on #24695
No, and AFAIK nobody is working on it. Since it only affects Estimator (in 2.x), maybe @karmel has someone who could take a look. I have a queue of other things that look like higher priorities at the moment.

Most of the work is going to be working to migrate existing code which breaks with new shape checking (or maybe we get lucky and it's fine). As @k-w-w mentioned, the Saver flag change itself

[2020-02-05 19:36] power9799 commented on #36460
oh

[2020-02-05 19:42] LexusH commented on #36491
Hey @prakHr

I'm attempting to triage issues in order to speed up the debugging process. Can you please give an example of the operators you tried to run to see if this is a bug or an intentional exclusion? If this is not a bug it might be best labeled as type:feature and comp:lite just to get the right eyes on this project!

[2020-02-05 20:00] dishkakrauch commented on #33030
Never mind. I just added it after import tensorflow and my issue was solved.
Thanks!

[2020-02-05 20:00] dishkakrauch commented on #36114
Solved by:
import tensorflow as tf
tf.keras.backend.clear_session()
Thanks to @taborda11

[2020-02-05 20:00] #36114 closed

[2020-02-05 20:04] srjoglekar246 commented on #36370
Looks like you are using a model with Control Flow V1 - that is, nodes like Enter, Exit, etc.
In TFLite we mainly support Control Flow V2, since it is much easier to convert. [This](https://www.tensorflow.org/api_docs/python/tf/compat/v1/enable_control_flow_v2) is how you enable it.

Stepping back for a minute, which model is this? Is this some object-detection model?

[2020-02-05 20:06] srjoglekar246 commented on #36402
"Classifier**Quantized**MobileNet"

"Teachable Machine in **FLOAT** format."

Maybe because the model(float) is not compatible with the classifier (quantized)?

[2020-02-05 20:09] srjoglekar246 commented on #36412
These don't seem to be popular TF ops. You might need to implement TFLite [custom ops](https://www.tensorflow.org/lite/guide/ops_custom) to perform their behavior.

Also look at our [general advice in the FAQ](https://www.tensorflow.org/lite/guide/faq#why_doesnt_my_model_convert) to handle unsupported ops.

Thanks!

[2020-02-05 20:09] #36412 closed

[2020-02-05 20:13] srjoglekar246 commented on #36161
@namitajadhav Could you provide your TFLite file? Its difficult to debug the tensor without seeing how its used in the model :-)

[2020-02-05 20:18] zfang-slim commented on #27519
@renatomello Hello, do you solve this issue? I got the same issue when i use tf2.1 stable. For somehow, the tensor just has no numpy attibute.

[2020-02-05 20:19] Bstrum36 opened #36494 "Tensorflow not properly installing"
**System information**
- Windows 10 Pro Version	10.0.17763 Build 17763

- Windows I7 Desktop 16gb memory
- TensorFlow version: 2: (2.1.0)
- Python version: 3.6
- Installed using virtualenv? pip? conda?: installed with latest pip

- CUDA/cuDNN version:CUDA 10.1 ,cudnn64_7.dll
- GPU model and memory: 1080, 16 gb(?)

**Describe the problem**

I have had tensorflow 2. running (no problem) and then att

[2020-02-05 20:21] srjoglekar246 commented on #35981
@vipulraut If you are using the [Python converter](https://www.tensorflow.org/lite/convert/python_api), with the latest version of TF/TFLite (nightly maybe?) could you try adding the following line pre-conversion:

[code]

If that doesn't work, it looks like we don't support the op yet :-(. You could try using [Select TF ops](https://www.tensorflow.org/lite/guide/ops_select) if you are using our C

[2020-02-05 20:22] srjoglekar246 commented on #35864
Looks like you found and fixed the issue :-).
Please re-open if still applies.

Thanks!

[2020-02-05 20:22] #35864 closed

[2020-02-05 20:26] srjoglekar246 commented on #35910
@loreProgetto What are you trying to do? You can just initialize two interpreters with the same model file, instead of having two different files?
The models indeed seem similar, so I am not sure whats going wrong.
Could you paste your code snippet?

[2020-02-05 20:30] lgeiger commented on #36126
@omalleyt12 Any updates on this?  Is there more information we could provide?

[2020-02-05 20:31] gowthamkpr commented on #36475
@wenjieji86 Tensorflow does not support (decode) .tif images. Please take a look at the code [here](https://github.com/tensorflow/tensorflow/blob/cf7fcf164c9846502b21cebb7d3d5ccf6cb626e8/tensorflow/core/kernels/decode_image_op.cc#L36)

If you want to use TIFF images, you could use a library like PIL or Pillow which can read TIFF images and convert them into a numpy array to feed into TensorFlow.

[2020-02-05 20:34] reedwm commented on #36398
@tgaddair I was thinking more of calling `_aggregate_gradients` after `get_unscaled_gradients`, becuase I wanted to factor out [these two lines](https://github.com/tensorflow/tensorflow/blob/64e28cd65f261ecee4a13402faeab6613413d6ed/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L448-L449) into its own `aggregate_gradients` method, which `apply_gradients` would call. Then Keras would not have

[2020-02-05 20:47] lgeiger commented on #36240
I just verified that I can reproduce this also when reading the data locally.

Since this only happens when when running validation, I suspect that this might be a problem on the keras side.

[2020-02-05 20:48] anj-s commented on #36310
@lennyerik it looks like your data contains 1 sample and you don't specify a batch size which causes this error. We should be handling this use case and I still need to identify the root case. In the meantime you can increase the number of input samples which should work (i tried number of samples= 2, 3).

[2020-02-05 20:51] gowthamkpr commented on #36459
@yetanotheryeti Please go through this [doc ](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) and let me know if it helps. Thanks!

[2020-02-05 20:56] lgeiger commented on #36240
This can also be reproduced on `tf-nightly-2.2.0.dev20200205`. It looks like the memory only exceeds the normal requirements once the second epoch starts.

[2020-02-05 21:04] jsimsa commented on #36240
Thank you for the follow up, I am going to ask the Keras team to investigate.

@karmel this looks like Keras regression between TF 2.0 and TF 2.1.

[2020-02-05 21:23] harrisonjansma commented on #27519
I encountered this area when using the regex functions within data preprocssing. Using python logic requires the use of `tf.py_function` as mentioned in [docs](https://www.tensorflow.org/guide/data#applying_arbitrary_python_logic) and this [StackOverflow thread](https://stackoverflow.com/questions/56122670/how-to-get-string-value-out-of-tf-tensor-which-dtype-is-string) (Note `tf.py_func()` is now

[2020-02-05 21:26] jhseu commented on #34580
Fixed as of https://github.com/tensorflow/tensorflow/commit/4221d1aa4d20ada495771528bb13ca786d0bdbe0

[2020-02-05 21:26] #34580 closed

[2020-02-05 21:26] jhseu commented on #35133
Fixed as of https://github.com/tensorflow/tensorflow/commit/4221d1aa4d20ada495771528bb13ca786d0bdbe0

[2020-02-05 21:26] #35133 closed

[2020-02-05 21:31] hardsetting commented on #34708
Are you sure your model has two placeholder inputs? I think input_fn is expecting a list/tuple of input data with same length as the number of inputs in the model. In your case:

[code]

this will ensure that an engine with batch_size=4 is created and cached, according to the documentation.

[2020-02-05 21:31] David-LiCause commented on #24695
@allenlavoie Thanks

[2020-02-05 21:36] maguileracanon commented on #34025
I have the same issue when training my model. Any updates on this?

[2020-02-05 21:51] jhseu commented on #34580
(As a sidenote, please follow the instructions on the Go README which differs slightly from the documentation on tensorflow.org. I'll work on updating the official docs):
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/README.md

[2020-02-05 21:52] jhseu commented on #35133
(As a sidenote, please follow the instructions on the Go README which differs slightly from the documentation on tensorflow.org. I'll work on updating the official docs):
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/README.md

[2020-02-05 22:18] cliffwoolley commented on #36252
@pkanwar23

[2020-02-05 22:26] glarchev commented on #35133
Issue is not fixed:

`go get github.com/tensorflow/tensorflow/tensorflow/go
package github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto: cannot find package "github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto" in any of:
	/usr/local/go/src/github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto (from $GOROOT)
       /Users/admin/go/src/gi

[2020-02-05 22:35] gowthamkpr commented on #36279
This is expected behavior in both Tensorflow Keras and Keras and is being clearly mentioned [here](https://github.com/keras-team/keras/issues/12058#issuecomment-455453006).

[2020-02-05 22:35] glarchev opened #36495 "Cannot install tensorflow go"
This is a continuation of a similar issue (#35133 ) but the missing package is now different. It appears that the fix has involved substituting one go dependency for another -- however, the new package also cannot be found:

`go get github.com/tensorflow/tensorflow/tensorflow/go
package github.com/tensorflow/tensorflow/tensorflow/go/core/core_protos_go_proto: cannot find package "github.com/tensor

[2020-02-05 22:49] pavithrasv commented on #36044
Thank you @fcarsten for taking a look. We are doing a bunch of code refactoring internally and i think this use case in eager will be fixed as part of that. Will update this thread after I know when it is fixed in a tf-nightly release.

[2020-02-05 22:52] ymodak commented on #36465
You may try [limiting gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) in this case.
Put following snippet on top of your code;
[code]

[2020-02-05 22:54] gowthamkpr commented on #36231
Please go through this [issue](https://stackoverflow.com/questions/39450046/save-specific-weights-in-tensorflow) incombination with this [doc](https://www.tensorflow.org/api_docs/python/tf/compat/v1/train/Saver) and let me know if it helps. Thanks!

[2020-02-05 22:55] jhseu commented on #35133
@glarchev Please follow the instructions in the README:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/README.md

You need to use `go get -d` to download-only and then use go generate to create the protobuf files.

[2020-02-05 22:56] jhseu commented on #36495
Please follow the Go README:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/go/README.md

You need to generate the proto files. That means you must use `go get -d` to download only and then use `go generate` to BUILD the proto .go files.

[2020-02-05 23:01] st-- commented on #26033
@reedwm any news? I'd be very keen for this to make it into tensorflow - the lack of configurable default dtypes is one of our biggest pain points with tensorflow and makes life difficult and cumbersome for both the developers and users of downstream libraries (such as GPflow)!

[2020-02-05 23:10] gowthamkpr commented on #36209
@monocongo Please post this issue in [tensorflow/models](https://github.com/tensorflow/models/issues) repo as this issue belongs to models repo and also you can get a faster response there. Thanks!

[2020-02-05 23:16] reedwm commented on #36398
I just talked to @omalleyt12 and @fchollet. We agreed the best way to solve this for 2.2 is to introduce a `_transform_unaggregated_gradients` method on Optimizer (but maybe with a different name). By default, this would do nothing, and the only place it would be called is right above [this line](https://github.com/tensorflow/tensorflow/blob/5f8ec2e18ba77b6c077048389fd7735d8212ad0e/tensorflow/pyth

[2020-02-05 23:26] gowthamkpr commented on #35660
@oxqfsyef Untill and unless we have a concrete model to reproduce, I am afraid we cannot go ahead with this issue.

Tried it on colab but didn't face any error. Please find the gist [here](https://colab.research.google.com/gist/gowthamkpr/e1d5c45bdb52b0c309e6f5907402f7ca/beginner.ipynb).

[2020-02-05 23:27] k-w-w commented on #36457
When dynamic is set to True, it means the model is only able to run in eager mode (and thus incompatible with graphs). The SavedModel format tries to serialize the model in a graph, so this is fundamentally incompatible.

The error being raised here is actually related to `generator.predict(test_x)`.  (try calling this right after the generator and test_x are created). I've attached the error logs

[2020-02-06 00:15] gargn commented on #24607
Unfortunately, dynamic shapes are currently not supported with quantization.

We are hoping to enable dynamic shapes with weight-only quantization support in the near future (which seems to be sufficient for your use case). However, full integer post training quantization support won't be added in the immediate future.

[2020-02-06 00:20] baqwas commented on #36141
@MarcoLeti Thx for the suggestion. I will definitely give it a try. Much appreciated.

Kind regards.

[2020-02-06 00:21] gargn commented on #33711
Support for unknown dimensions in TensorFlow Lite was added last week (5591208).

Can you try converting your model again with the `tf-nightly` (`pip install tf-nightly`). Convert the model with `experimental_new_converter = True`.

When you load the model it should have an additional field `shape_signature` that contains the shape with any unknown dimensions marked with `-1`. `shape` will have th

[2020-02-06 00:47] MeghnaNatraj commented on #36061
@AntonioDeVita it looks like the issue is fixed indeed after you remove the %s sign. This issue does not occur in Linux whether you keep the %s sign or not, and so we never encountered this issue before.

Thank for reporting and providing us with a possible fix. We'll look into this issue and fix this on our end.

[2020-02-06 00:47] #36061 closed

[2020-02-06 00:53] reedwm commented on #36398
Great, I'll implement `_transform_unaggregated_gradients` for now.

IIRC `Model.fit` (incorrectly) never did this gradient clipping. I could be wrong though, @omalleyt12 can you confirm?

[2020-02-06 01:08] tgaddair commented on #36398
My understanding is that in TF 1.X, `Model.fit` calls the `Optimizer.get_gradients` method which implements gradient clipping [here](https://github.com/tensorflow/tensorflow/blob/r2.1/tensorflow/python/keras/optimizer_v2/optimizer_v2.py#L398).  In TF 2.X, prior to 2.2, you could force `get_gradients` to be called by setting `experimental_use_tf_function=False`.  But I believe you're right that it

[2020-02-06 01:13] omalleyt12 commented on #36398
@tgaddair @reedwm Good point, yeah @tomerk is actually working on a fix for this for 2.2

Since gradient clipping should really be done on the aggregated gradients, we were planning on special-casing this separately in `training_eager.py` for now. Tomer can provide more info

[2020-02-06 01:34] kim-sardine commented on #36453
I just wondered if I can save model in Google Storage in one line.
so for now, I have to do this by overriding ModelCheckpoint callback function and making new model saving function.
I'll refer to the link above, thanks.

[2020-02-06 02:34] brian36 opened #36499 "tensorflow.fill does not work in keras.layers and models with dynamic shape as it should and as similar functions do"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): (MacOS) Darwin-19.2.0-x86_64-i386-64bit - mac version: ('10.15.2', ('', '', ''), 'x86_64')
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed fr

[2020-02-06 02:40] crccw commented on #36477
Thanks for reporting the issue and providing a small reproducible example. I checked that the issue is a regression in 2.1, but is already fixed in nightly.

[2020-02-06 02:51] gangmuk commented on #31442
It has already been long time ago this is issued. But I am having hard time to build tensorflow using Clion. I want to do the exactly same thing you(issue writer) did such as adding break point in c++ files and build and debug using them. If you can see it, Could you explain how you did it? Thank you.

[2020-02-06 02:57] OverLordGoldDragon commented on #35724
I confirmed numerous times again, that `recurrent_dropout` promotes exploding gradients (`nan` loss & weights) - but this time, with an insight: `recurrent_dropout` + _large weight norms_, or `recurrent_dropout` + _uncentered inputs_ (e.g. ReLU). While both can cause divergence without `recurrent_dropout`, `recurrent_dropout` significantly lowers the required threshold.

To test my hypothesis on s

[2020-02-06 04:08] CMCDragonkai commented on #24496
A minimal example using TF 1.15, and I get this error. On RTX 2070.

[code]

[code]

[2020-02-06 04:12] teavelope commented on #26297
I’ve tried to associate my custom tflite model to SSBO in android as @gnsmrky did,  but I couldn’t make it work so far.
(By the way, the latest tflite seems not to support bindGlBufferToTensor but the official tflite gpu delegate document still introduces bindGlBufferToTensor in using SSBO.)
Anyway I’ve built tensorflow from https://github.com/gnsmrky/tensorflow-lite-ssbo and managed to run the im

[2020-02-06 04:13] Kamanica opened #36500 "Error when converting my_frozen_graph.pb to .tflite for Speech Commands example app TF Speech"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (or github SHA if from source): Tensorflow 2.0.1

**Command used to run the converter or code if you’re using the Python API**
tflite_convert.py
[code]
python tensorflow/lite/python/tflite_convert.py --enable_v1_converter --output_