[2020-04-07 07:16] generationzcode commented on #38297
I did that. I've done it like 5 or six times... I tried installing it from the URL for the wheel. It didn't work either

[2020-04-07 07:16] generationzcode commented on #38297
Ok
I'll share the error statement

[2020-04-07 07:16] generationzcode commented on #38297
`ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow
`

[2020-04-07 07:17] BalajiB197 commented on #22106
@BryanRansil I am trying to convert yolov3-tiny to tflite how we can achieve it.
I followed your commands for ssd model its working fine.
It will be helpful for all others as well, if we can successfully convert yolo model to tflite for android applications

[2020-04-07 07:17] gadagashwini commented on #38134
@yskale, To know the available GPU devices, use this command
[code]
For more refer [this](https://www.tensorflow.org/api_docs/python/tf/test/is_gpu_available). Thanks

[2020-04-07 07:32] common-para-develop commented on #37966
I try to  run TF with distributed system,but program core dump .No session factory registered for the given session options: {target: "grpc://127.0.0.1:2300" config: placement_period: 1 graph_options { optimizer_options { opt_level: L0 } }} Registered factories are {DIRECT_SESSION}.

[2020-04-07 07:33] ravikyram commented on #38297
@generationzcode

Can you please go through the [link](https://stackoverflow.com/questions/38896424/tensorflow-not-found-using-pip) and see if it helps you. Thanks!

[2020-04-07 07:55] SaberHardy commented on #36878
tensorflow.contrib is being removed in version 2.0, you therefore need version <= 1.14 to operate tflearn (this is a TFlearn issue, not a tensorflow one).

so in your case, I would consider moving to tensorflow and using the tf.keras , which provides the higher-level API tflearn

you have to solutions to solve this:
-1 move to tensorflow and keras
-2 uninstall tensorflow which you have and install

[2020-04-07 07:58] wkzqn commented on #38293
The tensorflow version is 2.0.0(gpu).
The system information is as follows：
cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)

[2020-04-07 08:03] impjdi commented on #28968
Okay.  I looked deeper into this.  I found the issue but the fix is not trivial at the moment, i.e. it's gonna take some time to fix this.

The pattern this `fuse_auto_input` is not able to handle is the following diamond case:

`A -> B -> D`
`A -> C -> D`

When it comes to fusing `B`, `C`, and `D` into a fused `D`, the rule assumes that the inputs of `B` and `C` are different tensors, but in this

[2020-04-07 08:24] Saduf2019 commented on #38281
@JamhangC
Please provide details for us to look into the issue, tensorflow version,simple standalone code.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-04-07 08:25] KoustubhPhalak commented on #36878
Yeah, will go ahead with TF 1.14

On Tue, Apr 7, 2020, 1:25 PM Hardy <notifications@github.com> wrote:

[2020-04-07 08:27] Saduf2019 commented on #38294
@MakeCent
please share simple stand alone code for us to replicate the issue, if possible please share a colab gist of the code and issue faced.

[2020-04-07 08:27] ravikyram commented on #38280
I have tried on colab with TF version 2.2.0-rc2, 2.2.0-dev20200406 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/0b93db5b2ca687a79f4e32c3c50493b2/untitled17.ipynb). Thanks!

[2020-04-07 08:30] Saduf2019 commented on #32488
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-07 08:30] #32488 closed

[2020-04-07 08:31] gadagashwini commented on #38272
@HarshitSheoran, Please provide the complete standalone code reproduce the issue and also share the Tensorflow version information. Thanks.

[2020-04-07 08:34] Saduf2019 commented on #37860
@DucLong06
please update on the above comment

[2020-04-07 08:36] Saduf2019 commented on #37889
@Gogotis
please update as per above comment

[2020-04-07 08:37] Saduf2019 commented on #38002
@cranedroesch
please update as per above comment

[2020-04-07 08:39] Saduf2019 commented on #38084
@vnvo2409
please update as per above comment

[2020-04-07 08:41] amahendrakar commented on #38279
@mattdutson,
I was able to run the above code snippets without any error messages with both [TF v2.1](https://colab.research.google.com/gist/amahendrakar/1bfea7bbe1311e108c5864964ef07b91/38279-2-1.ipynb) and [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/a5a66e6f344ce0fd75943c7d48426305/38279-2-2.ipynb). Please find the attached gist.

Could you please try running the same code

[2020-04-07 08:42] generationzcode commented on #38297
I've been struggling with this for a few weeks. Thanks @ravikyram  for your help. I figured it out. Anyone else looking at this issue, the answer is installing a 64 bit version of python. :)

[2020-04-07 08:42] gadagashwini commented on #38295
@wangyunxiaa, Could you provide the standalone code to analyze the issue. Thanks

[2020-04-07 08:42] #38297 closed

[2020-04-07 08:46] ravikyram commented on #38293
@wkzqn

Will it be possible to share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-04-07 08:47] jeanmn opened #38305 "tf.lookup.StaticHashTable: Cannot convert a Tensor of dtype resource to a NumPy array"
**System information**

- Have I written custom code:  Yes
- OS Platform and Distribution: macOS 10.14.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  v2.1.0-rc2-17-ge5bf8de410 2.1.0
- Python version: 3.7.4

**Describe the current behavior**
I have some input that I need to translate,
[code]
and then embed.

I tried to use the `tf.lookup.StaticHa

[2020-04-07 08:52] Saduf2019 commented on #38271
@koullisHP
please follow [this link ](https://www.tensorflow.org/install/gpu#windows_setup)

[2020-04-07 09:01] zhuzilin opened #38306 "Build manylinux whl from source"
**System information**
- OS Platform and Distribution:
centos
- TensorFlow installed from (source or binary):
source
- TensorFlow version:
1.15.0
- Python version:
3.6
- Bazel version (if compiling from source):
0.26
- GCC/Compiler version (if compiling from source):
7.4
- CUDA/cuDNN version:
10.0
- GPU model and memory:

**Describe the problem**
Is it possible to build a manylinux package from so

[2020-04-07 09:06] Saduf2019 commented on #38141
@Bstrum36
please refer to [this link](https://www.infoq.com/news/2020/03/google-tensorflow-certification/) for tensorflow related certification

[2020-04-07 09:08] Saduf2019 commented on #38236
i have replicated the above mentioned issue, please find the gist here for [recurrent_dropout=0.0](https://colab.sandbox.google.com/gist/Saduf2019/901bc99480dfde6ac22aa608cf407a6d/untitled127.ipynb) and [recurrent_dropout=0.1](https://colab.sandbox.google.com/gist/Saduf2019/e5a231833e080661b48e11d83593336c/untitled126.ipynb)

[2020-04-07 09:10] bhpiamnothing commented on #34287
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
TensorFlow installed from (source or binary): using pip install tensorflow-gpu
TensorFlow version: 2.1
Python version: 3.7.6
Installed using virtualenv? pip? conda?: pip
2020-04-07 17:04:42.405702: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1592] Cannot dlopen some GPU libraries. Please make sure the missing libraries ment

[2020-04-07 09:13] vnvo2409 commented on #38084
I find a way to use printf in debug so I wil close this issue

[2020-04-07 09:13] #38084 closed

[2020-04-07 09:22] MakeCent commented on #38294
@Saduf2019 But the stand alone code I had provided in this issue can already replicate the issue.

[2020-04-07 09:23] amahendrakar commented on #38296
Was able to reproduce the issue with [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/ed24e7ab568037a258a2d8bdc1dad4ef/38296.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/2560e0070f5e2390f3a088d578106ac9/38296-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-07 09:31] bernardocortez commented on #26814
I believe I have a similar problem...

Python 3.7.6
TensorFlow 2.0.0

I am trying to save NN model ('Policy') with tf.keras.models.save_model and it raises AttributeError: 'Policy' object has no attribute 'built'.

Should I save it using another method?

Thanks!

[2020-04-07 09:40] PonraJS-21 commented on #38068
`Just a clarification. Is it working well with 2.0 and 2.1 versions? @PonraJS-21`

@gowthamkpr , I think it is NO!

check it  👉: https://github.com/tensorflow/models/issues/6423

[2020-04-07 09:48] Viki250893 opened #38307 "Waymo dataset: module 'tensorflow' has no attribute 'enable_eager_execution'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I am replicating the waymo dataset tutorial code for understanding and learning
- Using Notebook of Googl

[2020-04-07 09:54] wangyunxiaa commented on #38295
Thanks for your reply,

I just add some codes in "tensorflow/core/user_ops"
and changed the BUILD file in "tensorflow/core"
[code]
With above changes, I can build libtensorflow.so successfully.

But I want to build a whl to do a test,
I changed the file in "tensorflow/python/user_ops/user_ops.py"

[code]
I am confused that, the problem was  caused by mkldnn, because, when I add one op which is not

[2020-04-07 09:57] npandey2385 opened #38308 "Tensorflow 2.1.0 build issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Linux , RHEL6
- TensorFlow installed from (source or bin

[2020-04-07 10:22] amahendrakar commented on #38307
@Viki250893,
The line `tf.enable_eager_execution()` is used only in TensorFlow 1.x to enable eager execution.

From TensorFlow 2.x eager mode is enabled by default so you can comment of that line. Thanks!

[2020-04-07 10:25] MoyoT commented on #38225
@gadagashwini are you looking into it, please?

[2020-04-07 10:26] DanyEle commented on #559
Uninstall all the numpy versions you have installed. I had to repeat the following command like 5 times:

`pip uninstall numpy`

Then re-install torch, which will automatically install the correct numpy version as well

`pip install torch==1.3.0`

[2020-04-07 10:33] mlexpert commented on #38007
Small update:
The both gpu's are functional when I run the following test:
[code]
It means that when `gpu=/gpu:0`, I obtain a good execution of code with
[code]
When `gpu=/gpu:1`, I obtain
[code]

[2020-04-07 10:34] gowthamkpr commented on #38199
@FrankwaP CAn you be clear on what you are describing here. Thanks!

[2020-04-07 10:36] Saduf2019 commented on #38305
@jeanmn
please refer to below issues and let us know if it helps:
#37844 #32999 #[link](https://stackoverflow.com/questions/59962509/valueerror-cannot-convert-a-tensor-of-dtype-resource-to-a-numpy-array)

[2020-04-07 10:43] ravikyram commented on #38308
@npandey2385

Can you downgrade bazel version to 0.27.1 and check. Please, find the [tested builded configurations](https://www.tensorflow.org/install/source#cpu) from here.Also, refer #35623 and see if it helps you. Thanks!

[2020-04-07 10:43] rogeryuchao opened #38309 "tf.saved_model.save()/load() Issue"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
-  CNN model is build under subclass
- OS Platform and Distribution: Win10/Anaconda/Python3.7/Tensorflow 2.1.0
-

[2020-04-07 10:43] HX1079299660 commented on #31852
I have the same problem

[2020-04-07 10:52] FrankwaP commented on #38199
Oh sorry!

The original/binary hinge loss expects a (n_samples,1) size vector for y_true, with -1 or 1 values. So it's a form of label encoding.

The categorical hinge loss has been adapted for N>2 classes, and now use a one-hot-encoded (n_samples,n_classes) size tensor for y_true.

So I think that specifying that we need a one-hot-encoded tensor is more explicit that specifying that the values sh

[2020-04-07 10:57] ravikyram commented on #38270
@rajaniyadav

tf.contrib no longer exists in post-2.0 world. It has been moved (partially) to TF Addons.

If you really want tf.contrib, you can use TF 1.15 for the next 3 years, but after that you will have to switch as there won't be a TF 1.16 or later.

Also,you check  whether you have 64-bit version of Python (32-bit will not support).Thanks!

[2020-04-07 11:01] gowthamkpr commented on #36734
@etetteh As this issue is not not related to build/install, bug/performance, feature request or doc related to issues please post this issue in stackoverflow as there is a wider community to respond. Thanks!

[2020-04-07 11:02] pradeepmishra11 opened #38310 "google colab can not install TFX (taxi_pipeline_interactive.ipynb)"
1.!pip install "tfx>=0.21.1,<0.22" "tensorflow>=2.1,<2.2" "tensorboard>=2.1,<2.2"
Install successfully
2.Restart run time
continuously shown busy
Please help me solved this problems

[2020-04-07 11:11] gowthamkpr commented on #35932
Did you follow the approach 1 as mentioned [here](https://www.tensorflow.org/guide/keras/save_and_serialize#approach_1) @mrinalsardar

[2020-04-07 11:12] moberweger opened #38311 "Loading a quantized TFlite model fails when allocating tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Ubuntu 18.04**
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: **N/A**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use comman

[2020-04-07 11:19] gowthamkpr commented on #36227
@agarwal-ashish Can you PTAL? Thanks!

[2020-04-07 11:40] gadagashwini commented on #38225
@MoyoT, I am unable to access your driver.
Issue looks like, `plot_generated_images()` requires model as argument.
Pass the saved model to `plot_generated_images()` and check. Thanks!

[2020-04-07 11:50] MoyoT commented on #38225
Sorry for the confusion, the cell containing plot_generated is not the cell that produces the error I reported. The error comes when you run the largest cell in the notebook. The driver I used was chrome driver, the commands for installing it are in the first few cells for your convenience

[2020-04-07 11:50] rogeryuchao commented on #38309
By the way, I've seen the response for previous similar bug.

It is suggested to use tf.keras.models.save_model to save the model, while I tried this function and the result became to be another failure:
**input shape is not defined, must use model._set_input(inputs) to manually setup the shape**

Here comes the question:
Is it means I must use model.compile and model.fit together with it?

[2020-04-07 11:51] saikrishnadas commented on #34287
Tried to re-install the packages and this error shows up :

`Can't identify the cuda device. Running on device 0 Segmentation fault (core dumped)`

[2020-04-07 11:59] Viki250893 commented on #38307
Thank you, but upon commenting the line.

!pip3 install waymo-open-dataset
import os
import tensorflow as tf
import math
import numpy as np
import itertools

**#tf.enable_eager_execution()**

from waymo_open_dataset.utils import range_image_utils
from waymo_open_dataset.utils import transform_utils
from waymo_open_dataset.utils import frame_utils
from waymo_open_dataset import dataset_pb2 as open_

[2020-04-07 12:12] mlexpert commented on #38007
Another test provides very interesting results. Here is the code:
[code]
This code works (it means that it arrives at the end), but yields a numerically-strange result:
[code]
As you can see, the accuracy goes never up to ~0.11 (I run this test multiple times).
Another interesting thing is that even if I precise that GPU=GPU:/1, it seems that TF calls both of the GPUs:
[code]
I removed SMI hardwar

[2020-04-07 12:18] amahendrakar commented on #38307
@Viki250893,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here.

Also, please add ``` (i.e. three backticks) before and after your code to preserve the indentation and formatting. Thanks!

[2020-04-07 12:18] amahendrakar commented on #38307
You can also provide the link to the tutorial you are following.

[2020-04-07 12:33] zrct0 opened #38312 "Cannot convert lstm with "stateful=True" to tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Window 7
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source):2.2.0-rc0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**Copy and paste the output here.

[code]

[2020-04-07 12:37] YingDongLuo commented on #33358
Have you resolved it in TF-v2

[2020-04-07 12:38] laiqb commented on #20919
comment code @ andoridndk//:cpufeatures in tensorflow/contrib/lite/kernels/internal/BUILD

[2020-04-07 12:41] amahendrakar commented on #38311
@moberweger,
I am unable to open the Colab link you have provided as I do not have access to it.

Please go to File -> Save a copy as a GitHub Gist and share the link of the new gist created with us. Thanks!

[2020-04-07 12:42] simian-typist commented on #30983
Sorry I missed this, I'll have a look over the easter weekend.

[2020-04-07 12:45] sarbanidatta12 commented on #21927
import tensorflow as tf
tf.keras.models.Model() solves the issue

[2020-04-07 12:46] Viki250893 commented on #38307
https://colab.research.google.com/drive/1DMt8gRU19fT5uPWBOdfRi5RsuXyRqeMO#scrollTo=Ipl_UEDWgLrB

[2020-04-07 12:49] amahendrakar commented on #38307
@Viki250893,
I am unable to open the link you have provided as I do not have access to it.

Please go to File -> Save a copy as a GitHub Gist and share the link of the new gist created with us. Thanks!

[2020-04-07 12:51] moberweger commented on #38311
@amahendrakar Thanks for the notice. I updated the original issue with the new [link](https://colab.research.google.com/gist/moberweger/d75235cd637c0689e0984cfb3a388144/untitled0.ipynb)

[2020-04-07 12:54] amahendrakar commented on #37717
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-07 12:54] #37717 closed

[2020-04-07 12:55] amahendrakar commented on #37740
@JonasRSV,
Any updates regarding this issue? Thanks!

[2020-04-07 12:55] amahendrakar commented on #37821
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-07 12:55] #37821 closed

[2020-04-07 12:56] amahendrakar commented on #37848
@imandhillon,
Any updates regarding this issue? Thanks!

[2020-04-07 13:00] ravikyram commented on #38312
I have tried on colab with TF version 2.2-rc0, 2.2-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/494fcc18b48251ccacee56d75ab7f3f6/untitled20.ipynb). Thanks!

[2020-04-07 13:01] Viki250893 commented on #38307
https://colab.research.google.com/gist/Viki250893/40008cf236a25736d1cdefc7e0e403ea/untitled1.ipynb

[2020-04-07 13:02] ravikyram commented on #38026
@suyali

Any update on this issue please. Thanks!

[2020-04-07 13:18] saxenasaurabh commented on #37467
Gradient for `Xlogy` is not implemented yet. But you are welcome to send a PR! You can take a look at the existing C++ gradient implementations [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/cc/gradients) and the python gradient for `Xlogy` [here](https://github.com/tensorflow/tensorflow/blob/311792b00583b90e507e2c7f8365b4c5ff728874/tensorflow/python/ops/math_grad.py#L660).

[2020-04-07 13:27] georgwiese opened #38313 "Keras mismatches outputs and targets"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Mac OS
- TensorFlow version (use command below): v2.0.0-rc2-26-g64c3d382ca 2.0.0
- Python version: 3.6.9

**Describe the current behavior**

- We build a keras model with outputs like `task_a_logits`, `task_a_probs`,

[2020-04-07 13:32] amahendrakar commented on #37978
Any updates regarding this issue? Thanks!

[2020-04-07 13:44] amahendrakar commented on #38143
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/4347ee5de8bb96db02699a34aa42034d/38143-2-1.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/cb24acd1e718e5aba3cdfe2ba6848367/38143-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-04-07 13:45] mmischitelli commented on #28705
You are right in saying that compiling TF through CMake is not supported. It won't work. The only solution is to rely on bazel.

[2020-04-07 14:03] rakeshmothukuru1 commented on #37996
@jvishnuvardhan,
You could have closed the issue with my consent.

I cannot Reopen the issue. Can you please reopen it because,

1. The PR has been raised and merged and some examples have been added in the PR but the same is not reflected in the [TF Site](https://www.tensorflow.org/api_docs/python/tf/keras/applications/VGG16) yet.

2. Information about the Arguments to be used for a particular Pr

[2020-04-07 14:03] saxenasaurabh commented on #37577
Thanks @sethnabarro for reporting this. This seems to be an artifact of how the gradient of `tf.diag_part` is [implemented](https://github.com/tensorflow/tensorflow/blob/6bc4800a402f54703e0a6dd0a444769d61910980/tensorflow/python/ops/array_grad.py#L387). We fill the non-diagonal values with zeros and if those entries in `L` are zeros as well you would get a `0/0`. I don't see an easy way to fix thi

[2020-04-07 14:21] amaiya commented on #38269
I see that `model.compiled_loss.metrics` is populated after training, but it doesn't return what you claim it returns:

[code]
There should be an easy and public way to query a model to identify either the loss function or loss function string name (in this case 'categorical_crossentropy') without resorting to underscore atrributes like this::
[code]

[2020-04-07 14:25] HongHe0123 opened #38315 "install_tensorflow() error: Collecting package metadata (current_repodata.json): ...working... failed"
**System information**
- Windows 10 Pro:
- TensorFlow installed from (source or binary): use install_tensorflow() in r
- TensorFlow version:
- Python version: Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]:: Anaconda
- Installed using virtualenv? pip? conda?: in r version 3.6.0
- GPU model and memory:
Intel(R) HD Graphics 620,
total available graphics memory: 8259 MB

**

[2020-04-07 14:26] mahmoodn commented on #33238
I haven't an installed copy of TF right now. I will try as soon as possible.

[2020-04-07 14:27] JonasRSV commented on #37740
Hey, I updated my version of jupyter and then it worked,

thanks!

[2020-04-07 14:27] #37740 closed

[2020-04-07 14:30] Viki250893 commented on #38307
@amahendrakar Can you please reply with possible solution. Thank you.

[2020-04-07 14:31] jeanmn commented on #38305
- #37844
This is the same issue that I was referring to. That issue seems to be related to TFlite conversion? My issue is happening without any TFlite conversion, which leads me to believe that there is some issue with the StaticHashMap itself.
[The suggested example](https://github.com/tensorflow/tensorflow/issues/37844#issuecomment-605336360) from @abattery looked promising,
but as far as I can

[2020-04-07 14:34] joelloo opened #38316 "ABSL clock.h undeclared identifier when building from source"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow instal

[2020-04-07 14:36] eaaarmah commented on #38113
[code]
I still get this error
2020-04-07 10:33:42.222432: I tensorflow/lite/toco/import_tensorflow.cc:1336] Converting unsupported operation: FusedBatchNormV3
2020-04-07 10:33:42.237560: I tensorflow/lite/toco/import_tensorflow.cc:1336] Converting unsupported operation: FusedBatchNormV3
2020-04-07 10:33:42.237744: I tensorflow/lite/toco/import_tensorflow.cc:1336] Converting unsupported operation:

[2020-04-07 14:43] amahendrakar commented on #38168
Was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/e05ae0768d95f2f9d34292f11ce3ec9d/38168.ipynb), however running the code with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/37e1b2941bd4cd347a5677d87ebf8a84/38168-tf-nightly.ipynb) prints only a single warning. Please find the attached gist. Thanks!

[2020-04-07 14:47] sayakpaul opened #38317 "Loss not changing for an adversarial example"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-04-07 14:49] klicperajo commented on #38168
Great! Throwing a single warning is certainly better than throwing 12. However, it does still throw a warning, so my criticism and thoughts from above still applies.

[2020-04-07 14:55] eaaarmah commented on #38116
The coverter worked.

However when I tried to save it with the code below, I got this error message
[code]
Error message
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-64-3ad6e1cdc2f2> in <module>
      1 open("converted_model.tflite", "wb").write(tflite_model)
      2 interprete

[2020-04-07 14:59] MarkDaoust commented on #38105
@anirudh161 is working on this.

[2020-04-07 15:07] eaaarmah commented on #38113
[code]
This works for me

[2020-04-07 15:08] mroctavious commented on #21852
tyvm bro! it worked perfect for me. tensorflow r1.13 && bazel 0.21

[2020-04-07 15:09] eaaarmah commented on #38113
However the interpreter does not work
[code]

Error Message
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-67-b97efc9f1a9b> in <module>
      1 # open("converted_model.tflite", "wb").write(tflite_model)
      2 # interpreter = tf.lite.Interpreter(model_path="converted_model.tflit

[2020-04-07 15:13] inoxstasy opened #38318 "New project inquiries"
Hello :)

I am totally new at programming, and wanted some advice.
I want to create a program using the google maps api.

Is Python the adequate programming language to use?

Thanks in advance for your answer :)

[2020-04-07 15:17] jvishnuvardhan commented on #37996
@rakeshmothukuru1

[2020-04-07 15:34] GPhilo opened #38319 "Keras model compiled with custom loss raises "object has no attribute '__name__'" error."
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below): v2.2

[2020-04-07 15:41] Byambaa0325 commented on #37996
The PR, that had basic examples, was merged. However, I can see that it was rolled back in the master by a member of TensorFlow team.
I guess they might already have been working on the docs but haven't put them out yet. I expect comprehensive documentation including the arguments for particular pre-trained models.

[2020-04-07 15:46] #38172 closed

[2020-04-07 16:05] khimraj commented on #38319
@GPhilo, I think you want to use custom loss with additional attribute. To define such type of loss you have to define loss function like this.
[code]
Link of full code is [here](https://gist.github.com/khimraj/d4eced88749f5a51b67130e29ca37ecd).

[2020-04-07 16:05] #37848 closed

[2020-04-07 16:13] MoyoT commented on #38225
@gadagashwini accessing my google drive is not necessary in order to run the script and reproduce the error

[2020-04-07 16:15] GPhilo commented on #38319
@khimraj Thanks for the fast reply.
How is this different from using a `partial` or a functor object?

[2020-04-07 16:28] khimraj commented on #38309
@rogeryuchao, I am not able to figure out how you are defining model. But still I suggest to use `model.predict(inputs)` instead of `model(inputs)` to predict the result from loaded model.

[2020-04-07 16:30] noticebo opened #38320 "TFLite Conversion: ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."
Hi I am trying to convert savemodel to tflite but get the below error info:

ValueError: This converter can only   convert a single ConcreteFunction. Converting multiple functions is under   development.

How to solve this problem? thanks.

[2020-04-07 16:54] mattdutson commented on #38279
@amahendrakar Thanks for the quick reply. It looks like IPython is hiding/suppressing the error message. If you upload the example code snippet to a file `test.py` in the Colab folder and then run from the command-line via `!python test.py` you can see the error message.

[2020-04-07 16:57] ghost1917 commented on #26846
The root cause of this issue is `tf.squeeze `, that reduces all dimensions that equal 1 and if you have only 1 example, n_samples dimension is reduced as well.
To overcome it you should specify axis, that could be removed during the squeezing.
[code]
This version of Keras lambda function works for me:

[code]

[2020-04-07 17:10] suharshs commented on #22528
Hi @aluds123 ,

The contrib.quantize framework creates new TF variables to store min/max state for various tensors. When restoring from a float checkpoint, these values will not be initialized. You need to modify your restore your checkpoint and then initialize_all_variables to fill in default inital values for these remaining tf.variables.

[2020-04-07 17:16] HarshitSheoran commented on #38272
`def build_model(transformer, max_len=512):
    """
    https://www.kaggle.com/xhlulu/jigsaw-tpu-distilbert-with-huggingface-and-keras
    """
    input_word_ids = Input(shape=(max_len,), dtype=tf.int32, name="input_word_ids")
    sequence_output = transformer(input_word_ids)[0]
    cls_token = sequence_output[:, 0, :]
    out = Dense(1, activation='sigmoid')(cls_token)

    model = Model(inputs=i

[2020-04-07 17:17] HarshitSheoran commented on #38272
you get the idea, sry I have some bugs in my browser to github comments, it does not let me put everything in code sometimes.

[2020-04-07 17:18] HarshitSheoran commented on #38272
Use any transformer from `import transformers`

[2020-04-07 17:35] mihaimaruseac commented on #38254
Template expansion takes a lot of time during compiling, especially on Windows. If you want, you can open a bug against Visual Studio about this

[2020-04-07 17:43] tanzhenyu commented on #33936
Looking through the code, I don't think what the history stores is loss, its actually the output (before activation)

[2020-04-07 17:49] rachellim commented on #24520
@eaaarmah - instead of using `as_numpy_iterator()`, use `set_shape` in your map function to give your dataset a known shape (or at least, known rank). Please read all the comments above in this thread for examples.

[2020-04-07 17:52] qlzh727 commented on #36363
Thanks for reporting the issue.

I think the root cause is from the reshape layer in the code provided. If you check the shape of the reshape layer output, it is (None, 1, 100), where the batch dim is None, and it cause the LSTM layer to fail the validation.

Please check the docstring of the reshape layer in https://www.tensorflow.org/api_docs/python/tf/keras/layers/Reshape

[2020-04-07 17:54] quocdat32461997 opened #38321 "Lambda layer as loss_function - Invalid Argument Error"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution: AWS SageMaker with Tensorflow 2.1.0 and Python 3.6
- TensorFlow version: 2.1.0
- Python version: - Python 3.6
- CUDA/cuDNN version: - GPU model and memory: Tesla K80

**Describe the current behavior**
I am trying to use Lambda layer as the las

[2020-04-07 17:55] rachellim commented on #24520
@dominthomas, two things:

(1) i would recommend using `tf.data.experimental.AUTOTUNE` as the parallelism setting on your `map` function, e.g.

`dataset = dataset.map(map_fn, num_parallel_calls=tf.data.experimental.AUTOTUNE)`

This dynamically picks the optimal parallelism setting at runtime for best performance -- reducing the need to set the parallelism manually. Let me know how this works for y

[2020-04-07 17:56] qlzh727 commented on #36363
Btw, I don't think there is any change wrt to the reshape layer. The original keras docstring also gives the example where the batch dim is None. Could u print out the reshape_layer.shape for both example and see what's the value there?

[2020-04-07 18:49] qlzh727 commented on #36363
Humm, I think somehow the input_shape got by the lstm layer in keras is [1, 1, 100], which is not same as the shape of the reshape layer output. It might be some subtle diff in the keras sequential model that cause this difference. I need to check more details.

[2020-04-07 18:54] grzegorzk commented on #34401
For anyone facing the same issue - I was using nvidia docker container with CUDA 9.1 and CUDNN 7. I had to add following step before building tensorflow:

[code]
For whatever reason `/usr/local/cuda-9.1/targets/x86_64-linux/lib` was not there.

[2020-04-07 19:04] lamberta commented on #37996
FYI, nightly docs become the stable docs on next release

[2020-04-07 19:27] jlz3008 opened #38324 "Performance issue with cross compiled benchmark_model and label_img"
**System information**
- OS Platform and Distribution
**Host** : Linux  4.15.0-96-generic #97-Ubuntu SMP Wed Apr 1 03:25:46 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
**Target**: Linux ubuntu 5.3.0-1019-raspberry4 #21-Ubuntu SMP Mon Feb 17 14:05:03 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux

- Mobile device : Raspberry Pi 4
The performance issue happens on mobile device:   Raspberry Pi 4

- TensorFlo

[2020-04-07 19:52] HardworkingPig opened #38325 "Bazel Build Tensorflow CPU-only"
**System information**
- Windows 10
- TensorFlow Build from source
- TensorFlow version 1.x (trying)
- Python version: 3.6
- Installed using chocoletey powershell
- Bazel version : 3.0

ERROR: Config value opt is not defined in any .rc file

`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`

might be helpful, I received error when I was executing tensorflow 1.x version
`b

[2020-04-07 19:57] ezhulenev commented on #38053
What are the names of these threads?

[2020-04-07 20:21] mihaimaruseac commented on #29624
Hi @marwan116. We usually don't patch old releases when we fix bugs. We only do patch releases for security issues. When do those, we investigate other PRs opened against the corresponding release branch and cherry-pick additional fixes, but this is limited. Our recommendation is to always use the latest version.

If someone identifies the fix commit for this and makes a cherrypick against the `r1

[2020-04-07 20:33] GerardWalsh commented on #36605
I have been trying to implement the [Mosse ](https://www.cs.colostate.edu/~vision/publications/bolme_cvpr10.pdf) tracker in Tensorflow and have run into the same issue. Any updates?

[2020-04-07 20:33] qlzh727 commented on #36363
I think the root cause is that we don't call layer.comput_output_shape anymore for the default model building, and only call it for dynamic model. This cause the result of the reshape layer to lose the static shape information (batch dim), and cause the LSTM layer to error out.

Will send a fix very soon.

[2020-04-07 20:37] ymodak commented on #38312
We are tracking this bug with #37659. Thanks!

[2020-04-07 21:08] ymodak commented on #37039
Executing the script on cpu gives the correct results:
[code]

[2020-04-07 21:13] nuqz commented on #35423
@cheshire, actually it matters, I have `ptxas` in my `$PATH`, but the error gone only after I've created symlynk to `./bin/ptxas`.

[2020-04-07 21:18] saravanabalagi commented on #16087
@PeterMcGor  Is it possible to get the name we pass in to `estimator.evaluate` inside of `model_fn`? I have a custom summary writer to log stuff into that directory. Any help is appreciated.

[2020-04-07 21:28] nufosmatic commented on #37186
I just wanted to note that I had the very same problem after upgrading to Anaconda 2020.02 and TF 2.1.0. I upgraded my NVIDIA driver (for GTX 850M) and it all workie...

[2020-04-07 21:54] artemry-nv opened #38332 "Update NCCL version to the latest release v2.6.4-1"
**System information**
- TensorFlow version (you are using): master
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
Could you please update NCCL used within TensorFlow building to the latest release v2.6.4-1: https://github.com/NVIDIA/nccl/releases/tag/v2.6.4-1

**Will this change the current api? How?** No

**Who will benefit with this fea

[2020-04-07 21:59] mdanatg commented on #36605
[fft2d](https://www.tensorflow.org/api_docs/python/tf/signal/fft2d) operates on the innermost 2 dimensions. In your case, `input_placeholder` has shape `[width, height, 1]`, which is probably not what you want (it's also inconsistent with img). If I change the shape to `[width, height]` and remove the calls to `expand_dims` throughout, then the two images become visually indistinguishable.

[2020-04-07 21:59] #36605 closed

[2020-04-07 22:31] dmitryponv commented on #20067
The solution here seemed to work
https://stackoverflow.com/questions/54473254/cudnnlstm-unknownerror-fail-to-find-the-dnn-implementation

adding this worked for me
[code]

Some other recommendations were to do a full install of CUDA including the display driver its shipped with, it may be your current driver is outdated

[2020-04-07 22:42] mihaimaruseac commented on #38325
You should use `-c=opt`

[2020-04-07 23:04] ishaghodgaonkar opened #38335 "tflite Interpreter causes iOS app to crash"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Following this tutorial for tflite with C++: https://www.tensorflow.org/lite/guide/inference

- OS Platform and Distribution: MacOS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: iPhone XS Max
- TensorFlow installed from (binary)

[2020-04-07 23:16] stayprivate commented on #38053
I did ps H -c python3 -o 'pid tid cmd comm' to get the threads name. ALL the threads are named python3.  I noticed something interesting. We start 5 instances of python3 with our program.  When I run the command ps command mentionned previously I would expect the output to show 5 different pid. Yet there are around 70 with each having around 65 threads.   That would imply some forking !?!

Can I i

[2020-04-07 23:23] ezhulenev commented on #38053
Thousands of threads is definitely abnormal. You probably see the name of the parent process... or something like that. Tensorflow has few thread pools, and they should have names (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/env.cc#L107-L110).

All (most?) threads should have some meaningful names, so it should be possible to tell if it's intra/inter op th

[2020-04-07 23:37] tomasvr commented on #38318
Hey inoxstasy, you are currently posting on a platform that is solely for issues related to the TensorFlow application and not at all meant for general programming questions like this. Try posting your question on https://www.reddit.com/r/learnprogramming/ or https://stackoverflow.com/. Good luck with your project.

[2020-04-07 23:39] ccrusius commented on #34826
I can reproduce in 2.1 with a simple

[code]

[2020-04-07 23:40] jeugregg commented on #31654
Did you solve your performance problem ?
I have the same problem : GPU : GeForce GTX 1080 8Go, CPU : Intel Xeon E5-2667 v3 @ 3.20GHz RAM 12Mo...
I don't understand if I really use the GPU...

[2020-04-08 00:02] matthewn4444 opened #38336 "TFLite Failed to build gpu delegate on Linux"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):18.04 LTS
- TensorFlow installed from (source or binary): source
- TensorFlow version: v2.1
- Python version: 2.7
- Installed using virtualenv? pip? conda?: docker (linux env)
- Bazel version (if compiling from source): 0.29.1
- GCC/Compiler version (if compiling from source):clang version 7.0.0-3~ubuntu0.18.04.1

**D

[2020-04-08 00:07] wilerjrxd opened #38337 "mobilenet_v2_140_224/classification: Cannot copy between a TensorFlowLite tensor with shape [1, 120] and a Java object with shape [1, 10, 4]"
**System information**
- Windows 10 10.0.18362 Build 18362
- TensorFlow 2.2.0 installed from pip
- Python v3.8.2

**Describe the current behavior**
I used the make_image_classifier (https://github.com/tensorflow/hub/tree/master/tensorflow_hub/tools/make_image_classifier) to generate the TFLITE model based on images available on http://vision.stanford.edu/aditya86/ImageNetDogs/:
[code]

Then I copi

[2020-04-08 00:20] jvishnuvardhan commented on #34767
Closing this issue as this was resolved in recently `tf-nightly`. Please feel free to reopen if the issue persists again. Thanks!

[2020-04-08 00:20] #34767 closed

[2020-04-08 00:20] HardworkingPig commented on #38325
`PS C:\tensorflow> bazel build -c=opt //tensorflow/tools/pip_package:build_pip_package
ERROR: Invalid options syntax: -c=opt`
`PS C:\tensorflow> bazel build --c=opt //tensorflow/tools/pip_package:build_pip_package
ERROR: Unrecognized option: --c=opt`

[2020-04-08 00:29] jvishnuvardhan commented on #37884
@LAWSSSS Can you please take a look at my previous response? Thanks!

[2020-04-08 00:30] jvishnuvardhan commented on #30094
@mahzoon Can you please check my last comment? Thanks!

If this was resolved for you, then please close the issue. Thanks!

[2020-04-08 00:45] chiweii commented on #18538
tensorflow 2.x

import tensorflow as tf
hello = tf.constant('Hello, TensorFlow!')
sess = tf.Session()
print(sess.run(hello))

[2020-04-08 00:46] asis-shukla commented on #19731
tf.reset_default_graph() not working in 2.1.
How to release GPU memory after model training in Eager execution mode.

[2020-04-08 00:51] mihaimaruseac commented on #38325
Sorry, was on the phone and didn't type properly, didn't check log.

First thing, the attached log you provided shows a totally different error. Seems to be an error from running `python configure.py`?

If you haven't successfully run `python configure.py` then the configuration option might not exist.

Furthermore, it might be possible you have a corrupted bazel cache/checkout. Can you try `bazel

[2020-04-08 00:53] mihaimaruseac commented on #18538
There is no session in TF 2.x.

Locking conversation as this has been already answered multiple times.

[2020-04-08 00:59] mdanatg commented on #31419
I suspect the `compat` error is coming from elsewhere? The snippet that you included should run fine in TF 2.

In TF 1, whenever you call convert_to_tensor, a new constant is created in the graph. These constants are permanent. Removing them them is not easy and in general you want to avoid creating too many anyway. In TF 2, this is not a problem because the execution model has radically changed a

[2020-04-08 01:00] jvishnuvardhan commented on #27298
@zzh8829 Can you verify once and close the issue if this was resolved for you. Thanks!

[2020-04-08 01:01] jvishnuvardhan commented on #37575
@chris-clem Can you please verify once and close the issue if this was resolved for you. Thanks!

[2020-04-08 01:01] rogeryuchao commented on #38309
@khimraj Hi,

I also tried model.predict actually, but still do not work.
please check the following information for the model building class

`import tensorflow as tf
from models.inception_modules import Stem, ReductionA, BasicConv2D, Conv2DLinear
from configuration import NUM_CLASSES, DROPOUT_RATIO, L1_REGULIZER, L2_REGULIZER

class InceptionResNetA(tf.keras.layers.Layer):
    def __init__(self)

[2020-04-08 01:18] duncanriach commented on #38185
I just added two sections to my original comment: POSSIBLE SOLUTION APPROACHES and ASSIGNMENT.

[2020-04-08 01:19] tensorflowbutler commented on #37445
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-08 01:21] LAWSSSS commented on #37884
@jvishnuvardhan Sorry for the late response, and thanks for your kind help. I've been working on another project recently and forgot to check this issue. I use the following code 'export_inference_graph.py' to generate .pb file:

[code]
I use the following command combined with the code:
`python export_inference_graph.py --pipeline_config_path=./data/ssd_mobilenet_v2_coco.config --trained_checkpoi

[2020-04-08 01:45] lutzroeder opened #38338 "TFLite BATCH_MATMUL should be BATCH_MAT_MUL"
**Describe the current behavior**

TensorFlow Lite added a new operator `BuiltinOptions.BATCH_MATMUL` which translates to `BatchMatmul` but the corresponding options are named `BatchMatMul`.

**Describe the expected behavior**

The operator should be called `BuiltinOptions.BATCH_MAT_MUL`.

**Standalone code to reproduce the issue**

https://github.com/tensorflow/tensorflow/commit/828fe43cf3aaf1a60

[2020-04-08 01:50] stayprivate commented on #38053
Eugene,

I had doubt about the command I used, thus I checked it against some of our process/thread written in C++ in which we do set the thread name and it does show thread name and not parent/process name.

Looking at the code you linked to, I can't find anything that set the thread name at  the OS level. There's thread_name_registry to keep a map of thread_id and name. The fonction GetCurrentTh

[2020-04-08 02:32] 20050710212 commented on #32859
Hello, I followed the instructions above, uninstalled gast==0.3.3 and installed gast==0.2.2, but it shows **No module named 'gast'**. Cound anybody help me? Thanks.

[code]

[2020-04-08 02:38] stayprivate commented on #38053
Trying to find my way through tensorflow code ( ouf ) and looking at pid/tid/ppid here is my gut feeling:

I changed the command to display parrent pid ( ppid) and what I'm seing now it there are very view ppid. In fact I can find 5 parent pid that are matching the 5 python programs we start, one per GPU!!! These 5 "groups" have about 70 unique pids, and each pid has about 65 unique tids.

[2020-04-08 02:47] ymodak commented on #38110
Have you tried using pre-trained BERT models [Mobile Bert](https://www.tensorflow.org/lite/models/bert_qa/overview#performance_benchmarks), [Albert](https://tfhub.dev/tensorflow/albert_lite_base/1).

[2020-04-08 02:51] Yablon commented on #33844
Thank you, I learned a lot ! I should think about turning to tf2 now !

[2020-04-08 02:51] #33844 closed

[2020-04-08 02:53] chuanqi129 commented on #38300
Hi @gadagashwini, it isn't a MKL specific issue, this failure also appeared in Eigen build. Sorry for the misleading.
You also can reproduce it with below build command
`bazel build --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0 --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mavx512f --copt=-mavx512pf --copt=-mavx512cd --copt=-mavx512bw --copt=-mavx512dq -c opt //tensorflow/tools/pip_package:build_pip_packa

[2020-04-08 03:10] hardianlawi commented on #35585
Hi, I'm experiencing the same issue when training a model with a tensorflow_probability layer. Any updates?

[2020-04-08 03:13] feihugis commented on #38135
@jvishnuvardhan @tripathysa #38339 has been submitted to fix this issue.

[2020-04-08 03:20] zerollzeng commented on #38108
update: after stuck at this issue for a week, still got nothing
here is the detaile
[code]
this error was the output of tflite_convert and the pb model was create with following script
[code]

the previous error output of tflite_convert
[code]
was come from the model generate by following script
[code]
and the tf.sumary() output
[code]

convert command
[code]

** pb was generated in tensorflow 2.0

[2020-04-08 03:22] cheshire commented on #38260
@ymodak Why is this assigned to me?

[2020-04-08 03:23] zerollzeng commented on #38108
I'm totally mess up in api of different version and module of tensorflow. does anyone can help me?

Best Regard

[2020-04-08 03:25] yyoon commented on #38241
Could you check if the `Wildcard` provisioning profile that you're using contains your Development Team identity correctly? This article might help:
https://medium.com/ios-os-x-development/ios-code-signing-provisioning-in-a-nutshell-d5b247760bef

[2020-04-08 03:27] ymodak commented on #38244
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-04-08 03:27] #38244 closed

[2020-04-08 03:44] mrchor commented on #38244
。。。

[2020-04-08 03:56] Farxial commented on #38194
Symlinking works.
Nice :)
Thanks for answers :)

[2020-04-08 04:09] sayakpaul commented on #38317
Changing the optimizer did the work.

[2020-04-08 04:09] #38317 closed

[2020-04-08 04:16] WingsBrokenAngel commented on #32859
Please make sure you have installed gast to the python that the conda calls.

[2020-04-08 04:22] goldiegadde commented on #37895
fixed the labels, this issue is not seen with 2.2.0-rc2 as well, but seen with latest nightly.

[2020-04-08 04:40] Saduf2019 commented on #38318
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Hence moving this to closed status.

[2020-04-08 04:40] #38318 closed

[2020-04-08 04:59] qiuminxu commented on #34823
Hi @AlexisBRENON, sorry for the wait.
The public API is finally available in TF 2.2. https://www.tensorflow.org/versions/r2.2/api_docs/python/tf/profiler/experimental
They are tf.profiler.experimental.xxx for now, for the first release, and will be moved to tf.profiler in the next release.

from tensorflow.python.eager import profiler continues to work in this release, but will be deprecated and m

[2020-04-08 05:12] yyoon commented on #37763
This is fixed by merging the PR. Thanks for the fix!

[2020-04-08 05:12] #37763 closed

[2020-04-08 05:28] tanzhenyu commented on #33936
I did some digging. This is an issue since this [commit](https://github.com/tensorflow/tensorflow/commit/03c045e146d441a0db4bd5cc1ecef1517e5c6708)

So both loss are not wrong. It's just different on how we make numeric approximation on INF. More specifically the binary_crossentropy loss is:
`bce = y*logp + (1-y)log(1-p)`, and y=0, p=sigmoid(logits)=1, logits=101
This is theoretically -INF, however

[2020-04-08 05:30] Saduf2019 commented on #38313
@georgwiese
could you please provide with simple[complete] standalone code for us to replicate the issue

[2020-04-08 05:39] rayeh5 commented on #38285
I am interested in this issue. When fix is available, please let me know.
(I suppose I will get the notify when write message here, right?)

Ruey-An

[2020-04-08 05:46] 20050710212 commented on #32859
Yes. I am sure gast==0.2.2 is properly installed by checking `pip show gast`
If I uninstall the gast==0.2.2 and install gast==0.3.3, it reports the warning again.
`Warming tensorflow: Entity could not be transformed and will be executed as-is.`

[2020-04-08 05:47] jlz3008 commented on #38324
Using the docker devel image I get the same results as cross compiling in Host

[2020-04-08 05:51] mingqizhang opened #38340 "How to control the cpu core?"
I use tf pipline to augment the training data then training the model, but it's useless to set the tf.ConfigProto(device_count={"CPU":10},
  inter_op_parallelism_threads=1,
  intra_op_parallelism_threads=1,), all cpu core work as follow;
![image](https://user-images.githubusercontent.com/28778038/78748612-0cd0e880-799f-11ea-8e61-02e30493d372.png)

I expect to limit the cpu core which can not influ

[2020-04-08 06:02] sibadakesi opened #38341 "RuntimeError: Encountered unresolved custom op: Dilation2D.Node number 2 (Dilation2D) failed to prepare"
What can i do when i must use Dilation2D op on the tensorflowlite? Thinks.
[code]

[2020-04-08 06:02] saikumarchalla commented on #38227
Was able to reproduce the issue. Please find the Gist [here](https://colab.research.google.com/gist/saikumarchalla/37b418d191f58e32aea10803d45b206e/train-simple-audio-recognition-model.ipynb). Thanks!

[2020-04-08 06:11] NKCSRzChen opened #38342 "Generic opencl support by porting all cuda related parts to opencl"
I wonder if it is possible to make **tensorflow support generic opencl devices (not just AMD Gpus) by porting cuda to opencl manually ?**
**What are the challenges here (besides the huge maintance costs)?**
Can we use tensorflow without Eigen library (i.e. **all the kernels in Eigen are preproduced with opencl kernels**) so that it will overcome the fact that opencl doesn't support C++.
Maybe some

[2020-04-08 06:16] saahiluppal commented on #38340
Refer: <a href='https://github.com/tensorflow/tensorflow/issues/25446'>#25446</a>

[2020-04-08 06:19] zerollzeng commented on #38108
This problem has been solved thanks to @windmaple
The reason that cause this error might be the  imcompatibility between tensorflow 2.0 alpha and newest tf_nightly, solved this by adding --enable_v1_converter
[code]

[2020-04-08 06:19] #38108 closed

[2020-04-08 06:21] Saduf2019 commented on #38305
i am able to replicate this, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/295838ac302571e25c0d1c8c4a9c476d/38305.ipynb)

[2020-04-08 06:24] ravikyram commented on #38321
Can you please try with latest TF version (`!pip install tensorflow==2.2-rc2`). I am not seeing any issue with latest TF version. Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/ec32c11c11745f22176da26546118955/untitled21.ipynb). Thanks!

[2020-04-08 06:36] karansaxena opened #38343 "RuntimeError: Can't copy Tensor with type string to device"
**System information**
-
- OS Platform and Distribution: Ubuntu 18.04.2 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Python version: 3.7.7
- CUDA/cuDNN version: CUDA 10.2
- GPU model and memory: Tesla V100-SXM2-32GB

**Describe the current behavior**
RuntimeError: Can't copy Tensor with type string to device /job:localhost/replica:0/t

[2020-04-08 06:38] amahendrakar commented on #38320
@noticebo,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here and the TensorFlow version you are using.

Also, could you please check [this comment](https://github.com/tensorflow/tensorflow/issues/34350#issuecomment-555304243) from a similar issue and let us know if it helps? Thanks!

[2020-04-08 06:40] WingsBrokenAngel commented on #32859
You may try
`which pip
which conda
which python`.

[2020-04-08 06:47] #38063 closed

[2020-04-08 06:51] gadagashwini commented on #38189
@wujiexiaowugui, I tried reproducing the error but looks like some files are missing.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/dd4525cf55c01d33ac2313923ad38461/untitled491.ipynb) and provide the more information to reproduce the issue. Thanks

[2020-04-08 06:56] gadagashwini commented on #38315
@HongHe0123, Follow the steps mentioned [here](https://tensorflow.rstudio.com/installation/). Thanks!

[2020-04-08 06:56] woaij100 opened #38344 "tf.data.experimental.make_csv_dataset ERROR"
**TensorFlow2.0-GPU**

**My Code:**
![image](https://user-images.githubusercontent.com/30002208/78754918-e2852800-79aa-11ea-954f-b8293fdf85a1.png)

**My Original CSV Data Example(Lager CSV):**

![image](https://user-images.githubusercontent.com/30002208/78753676-caaca480-79a8-11ea-8cc2-b2c5bd00e162.png)

**Code Result:**
![image](https://user-images.githubusercontent.com/30002208/78753734-eb74fa00

[2020-04-08 06:57] pwais commented on #19731
@cy89 Please re-open.  Closing this issue was not helpful to the community.

[2020-04-08 07:05] karolbadowski commented on #22146
Hello. Do you know for which release version of TensorFlow this change is planned?

[2020-04-08 07:11] gadagashwini commented on #37193
@MikhailMashukov, Please update the code snippet.

[2020-04-08 07:12] gadagashwini commented on #37824
@Rajeshwari210, Please update for the above comment. Thanks

[2020-04-08 07:13] gadagashwini commented on #37869
@xav12358, Please update for the above comment. Thanks

[2020-04-08 07:14] gadagashwini commented on #37847
@abdou31, Any update

[2020-04-08 07:15] chris-clem commented on #37575
Sorry for the delay. Yes it works, thank you!

Am 08.04.2020 um 03:01 schrieb Vishnuvardhan Janapati <notifications@github.com>:

﻿

@chris-clem<https://github.com/chris-clem> Can you please verify once and close the issue if this was resolved for you. Thanks!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/tensorflow/tensorf

[2020-04-08 07:15] gadagashwini commented on #37933
@ellaJin, Please update for the above comment.

[2020-04-08 07:16] gadagashwini commented on #37957
@tiantaohuawei, Please update the issue with standalone code. Thanks

[2020-04-08 07:17] Saduf2019 commented on #38294
@MakeCent
i have made the required change in gist shared, now the code works fine, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/adf8644fb73b495d48c5bcfee2f9e070/38294.ipynb)

import tensorflow.keras instead import keras, please confirm if this resolves your issue.

[2020-04-08 07:17] AlexisBRENON commented on #34823
Thanks for the feedback. I'll try that ASAP.
I suppose that I can close this issue.

[2020-04-08 07:17] #34823 closed

[2020-04-08 07:18] gadagashwini commented on #37981
@BgMuhendis, Provide more information to replicate the issue. Thanks

[2020-04-08 07:19] gadagashwini commented on #38003
@shanethomas1029, Is this still an issue?

[2020-04-08 07:19] ravikyram commented on #38344
@woaij100

Please, share the colab link or simple standalone code with supporting files to reproduce the issue in our environment.It helps us in localizing the issue faster. Thanks!

[2020-04-08 07:27] PharrellWANG commented on #33634
Is there any way to build tensorflowlite.dll for windows X86 support?

[2020-04-08 07:27] gadagashwini commented on #38018
Was able to reproduce the issue with tf2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/767cb65f1b8267b8c5023e393763da5f/untitled492.ipynb). Thanks!

[2020-04-08 07:29] woaij100 commented on #38344
[code]

[2020-04-08 07:30] ravikyram commented on #38113
@eaaarmah

Request you to provide colab link or simple standalone code with supporting files to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-04-08 07:32] gadagashwini commented on #38044
@Ljl-Jdsk, Please update for the above comment.

[2020-04-08 07:33] gadagashwini commented on #38071
@noticebo,Please provide the complete code to reproduce the issue. Thanks

[2020-04-08 07:35] rajaniyadav commented on #38270
Hi,
Is there any way that we can migrate this code to tensorflow 2.0 version?

[2020-04-08 07:40] akuegel commented on #38205
Would it work with the flag --noincompatible_do_not_split_linking_cmdline? We have seen this in some other tests as well that they only work when passing this flag to bazel.

[2020-04-08 07:46] gadagashwini commented on #38194
@Farxial, Closing since the issue is resolved. Thanks!

[2020-04-08 07:46] #38194 closed

[2020-04-08 07:46] ravikyram commented on #38344
Request you to share test.csv file?. Thanks!

[2020-04-08 07:53] sonu1-p opened #38346 "Not able to load a tf.keras model"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: MacOs Mojave version 10.14.6
- Mobile device if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
 TensorFlow version: v2.2.0-rc1-34-ge6e5d6df2a 2.2.0-rc2
- Python version: - Python 3.6.3
- Bazel version (if compiling from source): N/A
- GCC/Compiler version (if com

[2020-04-08 07:53] woaij100 commented on #38344
😔, csv file  has about 10G.
The result of one line is the same as the result of multiple lines, you can try it. thanks!

![image](https://user-images.githubusercontent.com/30002208/78758650-09465d00-79b1-11ea-8950-f77627d906e4.png)
![image](https://user-images.githubusercontent.com/30002208/78758667-119e9800-79b1-11ea-9c3d-e0fc4a573ac5.png)

[2020-04-08 07:54] gadagashwini commented on #38210
I could reproduce the issue with Tf 2.0.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5468d5657551c0061b482b500c99bc1a/untitled493.ipynb). Thanks!

[2020-04-08 08:00] gadagashwini commented on #38217
@jackyesf, Could you share the complete standalone code to analyze the issue. Thanks

[2020-04-08 08:02] gadagashwini commented on #38210
@roymiles,
This issue is fixed in Tf 2.2.rc1
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/8da934854e3a5f83e9311f9ef740788e/untitled494.ipynb). Thanks!

[2020-04-08 08:11] gadagashwini commented on #38261
@plaffitte, Could you share the code snippet to reproduce the issue. Thanks!

[2020-04-08 08:13] Viki250893 opened #38347 "Waymo dataset: module 'tensorflow' has no attribute 'enable_eager_execution'"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I am replicating the waymo dataset tutorial code for understanding and learning
- Using Notebook of Googl

[2020-04-08 08:14] Viki250893 commented on #38307
No update from the team. So closing the issue and reporting again.

[2020-04-08 08:22] sonu1-p commented on #38346
I think the issue is coming due to this line - https://github.com/tensorflow/tensorflow/blob/v2.1.0/tensorflow/python/ops/signal/shape_ops.py#L127

I can reproduce it with this too:
[code]
I guess due to empty shape TF is getting confused whether the shape is of type float(same type as input) or int which is expected?

[2020-04-08 08:24] ustchf commented on #9829
Worked for me

[2020-04-08 08:28] aninoy commented on #24328
I'm also facing this issue. Has anyone figured out a solution yet?

[2020-04-08 08:40] Saduf2019 commented on #38341
@sibadakesi
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.
please share a simple standalone code to replicate the issue faced.

We ask for this in the issue submission template, because it is really difficult to help without that information. Thanks!

[2020-04-08 08:47] wujiexiaowugui commented on #38189
You can download the model in under link to replace model.pb.
http://mcml.yonsei.ac.kr/files/srzoo/eusr_x2.pb

The error is :
RuntimeError: Quantization not yet supported for op: **DepthToSpace**

[2020-04-08 08:49] HendrikLaux commented on #37091
@houtoms @qlzh727
Any updates on this issue? :slightly_smiling_face:

[2020-04-08 09:00] gadagashwini commented on #38347
@Viki250893,
In Tensorflow 2.1,use `tf.compat.v1.enable_eager_execution()` instead of `tf.enable_eager_execution()`.
And this error AttributeError: module 'tensorflow' has no attribute 'unsorted_segment_max' is not related to Tensorflow. Thanks

[2020-04-08 09:09] MoyoT commented on #38225
@gadagashwini Thankyou for your assistance so far, you continued assistance is appreciated

[2020-04-08 09:11] plaffitte commented on #38261
@gadagashwini thanks for your reply. I can't share my code but I have reproduced the error by adding a for loop in the mnist tutorial code. Here's the python script that's run by the docker container:

`#  Copyright 2016 The TensorFlow Authors. All Rights Reserved.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the Licens

[2020-04-08 09:26] ravikyram commented on #38174
@eScribMac

Any update on this issue please. Thanks!

[2020-04-08 09:29] amahendrakar commented on #38343
@karansaxena,
I was able to reproduce the issue with [TF v2.1](https://colab.research.google.com/gist/amahendrakar/6d6771bfe50c85641669ea0f99bf3d3a/38343-2-1.ipynb). However, the issue seems to be fixed with [TF v2.2.0-rc2](https://colab.research.google.com/gist/amahendrakar/5ebf14eda7b2a936d60698664446c064/38343-2-2.ipynb). Please find the attached gist. Thanks!

[2020-04-08 09:29] JonathanDZiegler opened #38348 "Cannot convert tf.math.conj Op in Keras model to tflite"
------------------------

### System information
- **OS Platform and Distribution**: Linux-4.19.0-8-amd64-x86_64-with-debian-10.3
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow version (use command below)**: 2.2.0-dev20200406
- **Python version**: 3.7.6
- **CUDA/cuDNN version**: 10.0
- **GPU model and memory**: 4x GeForce RTX2080Ti, 12Gb

### Describe the problem
Unsuppo

[2020-04-08 09:30] 0x0badc0de opened #38349 "`nan` gradient when `tf.where` is used"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes
- OS Plat

[2020-04-08 09:48] ayushmankumar7 opened #38350 "ImportError: No module named numpy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platfo

[2020-04-08 10:11] gabrieldemarmiesse opened #38351 "Add public API to get CUDA version and path, CUDNN version and path."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.2.0rc2
- Are you willing to contribute it (Yes/No): n

[2020-04-08 10:31] jackyesf commented on #38217
It's too big to upload the code and data .

[2020-04-08 10:32] gabrieldemarmiesse opened #38352 "The docker image provided to compile tensorflow custom ops is too big."
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
exampl

[2020-04-08 10:33] noticebo commented on #38071
hi. due to company information limit, I could not provide the complete code.

[2020-04-08 10:38] noticebo commented on #38320
Hi. the TensorFlow version is: 2.2.0rc2.
model: mobilenetedgetpu model https://storage.cloud.google.com/mobilenet_edgetpu/checkpoints/mobilenet_edgetpu_224_0.75.tgz

code:
import tensorflow as tf

saved_model_dir='./savemodel'
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.experimental_new_converter = True
converter.optimizations = [tf.lite.Optimize.DEFAULT]

conve

[2020-04-08 10:49] #38344 closed

[2020-04-08 10:51] viktor765 opened #38353 "Support input-based loss-functions in tf.keras.Model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): TF 2.2.0rc2
- Are you willing to contribute it (Yes/No): Y

[2020-04-08 10:55] oerton42 commented on #23715
You made my day !!!
Tensorflow did not find cudnn after installiong cupy.

1) install tensorflow (using conda install keras-gpu is easy(
2) install cupy-conda101 or another wheel as explains the cupy website
3) uninstall cudnn.dll from your anaconda env
4) make sure you have the correct version of cudnn installed and your windows path correctly entered

[2020-04-08 11:39] eaaarmah commented on #38113
https://colab.research.google.com/drive/1Sz2B7Tt4x5qhNFXFJc4nJBnQRcHaWus8#scrollTo=kllyHdqIlXIC

[2020-04-08 11:52] amahendrakar commented on #38348
@JonathanDZiegler,
Could you please try adding the below line to your code.
`converter.allow_custom_ops = True`

When I did, I was able to run the code without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/3dae3c7398f5f931814d1d47d45e7195/38348-2-2.ipynb#scrollTo=GOxQjNMrmnGv&line=11&uniqifier=1). Thanks!

[2020-04-08 11:58] joelloo commented on #38316
Did not resolve this issue fully. I reverted to a previously tested build process, using TF 1.13.0 and building with Bazel 0.19.2. This build worked for me.

[2020-04-08 11:58] #38316 closed

[2020-04-08 12:03] okoliechykwuka commented on #6589
I don't understand you description on this issue. It is not really clear to anyone

[2020-04-08 12:04] Flamefire opened #38356 "Add MPI cluster resolver"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

There should be a cluster resolver that works inside any MPI jobs by querying properties of MPI_COM_WORLD.

This allows running TF easily inside any HPC cluster environment independent of the Batch system

**Will this change

[2020-04-08 12:09] BgMuhendis commented on #37981
@gadagashwini
OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 10 -64-bit

Python version:
3.7.4

CUDA/cuDNN version:
CUDA 10.0, cudnn64_7.dll (Windows file description is: NVIDIA CUDA CUDNN Library. Version 10.0)

GPU model and memory:
GPU NVidia Geforce 1050TI

TensorFlow version (use command below):
2.1.0 (command does not work, it includes the failed command)

[2020-04-08 12:10] JonathanDZiegler commented on #38348
@amahendrakar the error disappeared (in the minimal example above and also in the actual code), thank you very much! I was under the impression that setting `allow_custom_ops = True` required custom handlers to be written for the converter. I will test the converted model to see if the error disappeared or just the error message and report back asap.

[2020-04-08 12:12] gadagashwini commented on #38310
@pradeepmishra11, Please provide the colab gist or Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks

[2020-04-08 12:18] pradeepmishra11 commented on #38310
1,# TODO(ccy): remove "pyzmq==17.0.0" pin after bug in Colab is fixed.
!pip install -q "tfx>=0.21.1,<0.22" "tensorflow>=2.1,<2.2" "tensorboard>=2.1,<2.2" "pyzmq==17.0.0"
2.2.Restart run time
continuously shown busy
3.import os
import pprint
import tempfile
import urllib

import absl
import tensorflow as tf
import tensorflow_model_analysis as tfma
tf.get_logger().propagate = False
pp = pprint.Prett

[2020-04-08 12:31] chychen opened #38357 "[MixedPrecision] DynamicLossScale should accept scale_loss smaller than one"
https://github.com/tensorflow/tensorflow/blob/r2.2/tensorflow/python/training/experimental/loss_scale.py#L391

[code]

`self._current_loss_scale >=1` is unnecessary and wrong.
In some use cases, loss is possible overflow `inf` in float16, therefore `self._current_loss_scale<1` is necessary for mixed precision training.

[2020-04-08 12:31] MoyoT commented on #38225
@gabriel-vanzandycke are you able to assist

[2020-04-08 12:38] Daniel451 commented on #37217
@yongtang thanks! :)

[2020-04-08 12:38] #37217 closed

[2020-04-08 12:44] Saduf2019 commented on #38346
i have replicated this issue, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/92782091ec5a43be75b9a78c020b764b/untitled131.ipynb)

[2020-04-08 12:49] Saduf2019 commented on #37621
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-08 12:49] #37621 closed

[2020-04-08 12:55] yskale commented on #38134
![image](https://user-images.githubusercontent.com/14827177/78786423-bbacfe80-7976-11ea-90a0-094111f907ca.png)

[2020-04-08 13:01] Saduf2019 commented on #38107
@Ruma-Dhanawate
please update as per above comment

[2020-04-08 13:02] ritu13malik commented on #22512
After successfully installed tensorflow. I get the same error again n again...........

C:\Users\ritu\AppData\Local\Programs\Python\Python37\Scripts>python
Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "C:\Users\ritu\AppData\Local\Programs

[2020-04-08 13:17] MakeCent commented on #38294
@Saduf2019
It seems it only appear in tf-nightly. Please check the [code](https://colab.research.google.com/gist/MakeCent/2dc3c07dbbad5fdd31eab04099e22e1f/38294.ipynb) here.

[2020-04-08 13:18] Saduf2019 commented on #38350
@ayushmankumar7
please refer to below issues and let us know if it helps
#37888 #30465  #[link](https://github.com/tensorflow/tensorflow/issues/29845#issuecomment-521006935)  #[link](https://github.com/tensorflow/tensorflow/issues/22794)

[2020-04-08 13:23] shanethomas1029 commented on #38003
Still working on it  Thank you !

[2020-04-08 13:23] #38003 closed

[2020-04-08 13:24] kpe commented on #30309
even just for symmetry reasons - ``Conv1DTranspose`` needs to find it's way in the Keras API.

It has been requested already (see #6724) but denied as it can't be reduced to a ``Conv2DTranspose`` which is already implemented. But if we keep that reasoning, why do we need ``Conv1D``, ``Conv2D`` if all of them can be replaced with a ``Conv3D``.

And let`s face it ``Conv1DTranspose`` is not that exot

[2020-04-08 13:28] amahendrakar commented on #38225
Was able to reproduce the issue with TF v1.15.2. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/bdcc6a2a1451ca352ec636f7af1d2cf2/38225.ipynb). Thanks!

[2020-04-08 13:29] eaaarmah commented on #38113
https://colab.research.google.com/drive/1Sz2B7Tt4x5qhNFXFJc4nJBnQRcHaWus8

[2020-04-08 13:30] amahendrakar commented on #38225
@MoyoT,
Please check out [this](https://stackoverflow.com/a/58523478) StackOverflow comment and let us know if it works? Thanks!

[2020-04-08 14:00] nouiz commented on #38205
I tried with that flag with this command : `bazel test --config=nonccl --noincompatible_do_not_split_linking_cmdline --config=opt --config=cuda --cache_test_results=no //tensorflow/compiler/xla/client/lib:arithmetic_test`
And an extra flag with this command: `bazel test --config=nonccl --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0 --noincompatible_do_not_split_linking_cmdline --config=opt --config=cuda --ca

[2020-04-08 14:00] anilsathyan7 commented on #26474
Latest tf-nightly and tf1.15 seems to solve this problem ; but tf-nightly sometimes creates new nodes that may not be supported by gpu-delegate.Other option is to use transform graph tool (with corresponding tf version & bazel) with flatten atrous conv option. This seems to work for spacetobatch/batchtospace issue for depthwise or diated convolutions in general.

[2020-04-08 14:00] #26474 closed

[2020-04-08 14:06] BgMuhendis commented on #37981
@gadagashwini
Python 3.6 version is also installed on my computer and tensorflow is installed there
Thanks

[2020-04-08 14:14] tanzhenyu commented on #30309
Somehow this falls outside of my radar. I will make this done today.

[2020-04-08 14:19] jvishnuvardhan commented on #37575
Closing this issue as this was resolved. Thanks!

[2020-04-08 14:19] #37575 closed

[2020-04-08 14:39] FallakAsad opened #38359 "Marginal Probablities in CRF"
After training a CRF model, I can get the best tag sequence y and its unormalized score for each test input sequence x through tf.contrib.crf.viterbi_decode() or tf.contrib.crf.crf_decode() but what changes might require in CRF implementation to get the marginal probabilities?

Tensorflow version: 1.15.0

[2020-04-08 14:49] amahendrakar commented on #37892
Any updates regarding this issue? Thanks!

[2020-04-08 14:51] amahendrakar commented on #37942
Any updates regarding this issue? Thanks!

[2020-04-08 14:53] amahendrakar commented on #37942
@diggee,
I'd request you to submit a new issue using this [link](https://github.com/tensorflow/tensorflow/issues/new/choose), so that we can track it there.

[2020-04-08 14:54] MoyoT commented on #38225
Thankyou for the response. the stack overflow comment does not directly address my issue. I set trainable weights to be the variable S. If i convert S to a tensor , before setting it the error says that tensor object has no attribute "in_graph_mode". If i dont it gives the following error "ValueError: Tensor conversion requested dtype float64_ref for Tensor with dtype float64: <tf.Tensor 'training

[2020-04-08 15:19] amahendrakar commented on #38307
@Viki250893,
Could you please check if the tutorial you are following is intended to use with TF 1.x?

I was able to reproduce the issue with TF 2.x, however I'm able to run the code without any issues with TF 1.15.2. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/f532cd92dba6789a6f5e11df73c85f60/38307.ipynb). Thanks!

[2020-04-08 15:22] MoyoT commented on #38225
I have 3 instances of my custom layer and i placed a print statement in it. The statement prints 3 times showing that data is going from one layer to the next. only when it connects to a dense layer does the problem arise.

[2020-04-08 15:22] amahendrakar commented on #38075
@soumyadeepabhaumik,
Any updates regarding this issue? Thanks!

[2020-04-08 15:23] amahendrakar commented on #38087
Any updates regarding this issue? Thanks!

[2020-04-08 15:23] Viki250893 commented on #38307
Thank you for the reply.  I have  a check and update you.

[2020-04-08 15:28] F-29 commented on #35925
any progress?

[2020-04-08 15:42] Tylersuard opened #38361 "2 different "no module" errors in two different versions"
**System information**
- I wrote custom code
- Google Colab
- TensorFlow installed from default, then I tried multiple versions using Pip
- TensorFlow version (use command below):
1.4, 1.9, 1.11, 2.0
- Python version: 3.6

**Describe the current behavior**
If I use a version of Tensorflow 1, I get the error "tensorflow.data has no attribute: experimental" and if I use tensorflow 2 I get: tensorflo

[2020-04-08 15:43] mgoutay commented on #34112
Hi,
I'm running Tensorflow 2.2.0-rc2 on Google Colab with GPU enabled, and I have the same error when I run this little peace of code:

[code]

The exact error is the following:

Strangely, if I unroll the for loop (as defined [there])(https://www.tensorflow.org/tutorials/customization/performance#for_loops), I don't have any error:

[code]

I have been able to reproduce this error on my own compu

[2020-04-08 15:48] abhinavsp0730 commented on #38105
I've also submitted my GSOC proposal about making End-to-End example covering all the use cases of keras tuner , I don't know someone already is working in these. Nevertheless even if it'll not get selected, I'll try to make colab example and will contribute into tensorflow community example.

[2020-04-08 15:56] abhinavsp0730 commented on #36786
Adding on the list.
7. ``` tf.math.multiply ```, ``` tf.math.scalar_mul ```

[2020-04-08 16:04] jayaBalaR commented on #32981
Hi
I am also facing this issue while defining my own custom callback. I raised it in a wrong prf earlier this morning . Quoting the reference here [(https://github.com/keras-team/keras/issues/10472.)]

Here is the test case description to reproduce the issue:
`I am executing the code on google colab and tf version is 2.2.0-rc2 , i have built a custom callback for calculating the F1 score and AUC s

[2020-04-08 16:07] AngelBerihuete commented on #36094
Hi @Flamefire! Many thanks.

The example you share yesterday did not have errors, but the behavior was not as I expected:

[code]
And I expect only one execution, not two.

[code]
This is the slurm file

[code]
and this is test_setup_slurm_multiple_node.py

[code]
One of the solutions given by the cluster support team is to do a ```salloc``` and then ```python  test_setup_slurm_multiple_node.py```

[2020-04-08 16:13] abhinavsp0730 commented on #35745
Hey, @PanCakeConnaisseur Tensorflow Datasets (tfds) is used to load the datasets which are present on the library. For knowing which datasets are included in this library you can
Use ```tfds.list_builder()``` . For loading your custom dataset you can use ```tf.data```.

[2020-04-08 16:16] ravikyram commented on #38349
I have tried on colab with TF version 2.1.0 , 2.2.0-rc2 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/806f63f2cf04070a4601289d7003cf0a/untitled24.ipynb). Thanks!

[2020-04-08 16:22] HongHe0123 commented on #38315
The company blocked the website. Now the problem is solved. Thanks!

[2020-04-08 16:22] saahiluppal opened #38362 "what's the difference between tensorflow functions and tensorflow.keras.backend functions?"
I know this is not a Technical Issue, but i found no answers regarding this, hence i came here for support.

Many of the tensorflow functions overlap with the tensorflow.keras.backend functions.

For eg:
tensorflow.keras.backend have sum
tensorflow have reduced_sum

tensorflow.keras.backend have square
tensorflow have math.square

tensorflow.keras.backend have mean
tensorflow have reduced_mean

te

[2020-04-08 16:26] Flamefire commented on #36094
No. Obviously you run 2 applications as is usual with slurm/MPI in general. That is the whole idea of "MultiWorker". The strategy will make those communicate with each other.

[2020-04-08 16:52] gunan commented on #38351
@alextp for the proposed new APIs.

[2020-04-08 16:55] alextp commented on #38351
SGTM but I'd like the cuda_path and cudnn_path ones to also be in tf.config.

Maybe we should just have a tf.config.cuda_information() which returns a namedtuple of the information we want (versions, paths, and whatever else we need in the future)?

[2020-04-08 16:58] gabrieldemarmiesse commented on #38351
I don't have any preference regarding how it's named and under which namespace it's available.

[2020-04-08 16:59] gunan commented on #38351
I like the idea of having these under a separate namespace.

The cuda and cudnn paths are read from `LD_LIBRARY_PATH`.
So it is not known to us at build time. And we rely on OS shared object resolution, we just do `dlopen(libcuda...` Do you want us to replicate the OS so resolution in TF?

[2020-04-08 17:01] gabrieldemarmiesse commented on #38351
Yes of course, since the path depends on the user system. I'm asking the path found at runtime. Since TF already knows at runtime where is the CUDA and CUDNN path, we'd like to grab that.

[2020-04-08 17:05] MeghnaNatraj commented on #38285
@rayeh5 Yes. Whenever we post updates, you will receive emails.

[2020-04-08 17:08] alanchiao commented on #27880
Hi everyone. The Keras quantization aware training API has now launched!

Documentation: https://www.tensorflow.org/model_optimization/guide/quantization/training and associated tutorials

Blog post: https://blog.tensorflow.org/2020/04/quantization-aware-training-with-tensorflow-model-optimization-toolkit.html

Twitter: https://twitter.com/TensorFlow/status/1247933575183233024

[2020-04-08 17:12] yifeif commented on #38352
Thanks for the analysis @gabrieldemarmiesse!
I'll look into if we can remove one of the devtoolset, and you are definitely right, we can remove python 2.7 related directory.

[2020-04-08 17:12] gunan commented on #38351
We actually do not know the paths. We simply load `libcuda.so` or `libcufft.so`.
The logic is here:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/stream_executor/platform/default/dso_loader.cc#L42
The operating system checks `LD_LIBRARY_PATH`, and loads whatever it can. So it is all on the operating system.

[2020-04-08 17:13] gunan commented on #38351
Maybe we can extract the information using `dlinfo`:
http://man7.org/linux/man-pages/man3/dlinfo.3.html

[2020-04-08 17:14] gabrieldemarmiesse commented on #38351
Thanks @gunan for the explanation! We'll implement that then. We just need the two

tf.config.get_cuda_version_used_to_compile_tf()
tf.config.get_cudnn_version_used_to_compile_tf()

then, or equivalent.

[2020-04-08 17:17] gunan commented on #38351
Agreed, let's definitely implement cuda/cudnn version queries.
They have no blockers. Then we can take our time to see if `dlinfo` tells us the path to the shared objects. If not, we can discuss about the paths again.

[2020-04-08 17:19] saahiluppal commented on #38361
Tensorflow 1.x uses graph mode by default, and placeholders can only be run in sessions. But Tensorflow 2.x eagerly executes by default hence no need to manage sessions, so no need to manage placeholders.
But still if you want to use placeholders and manage sessions. here you go
<a href='https://www.tensorflow.org/api_docs/python/tf/compat/v1/placeholder'>tensorflow.compat.v1.placeholder</a>

And

[2020-04-08 17:23] Viki250893 commented on #38347
I am not able to reproduce the error. I think it is a Bug. I tried running in a new Notebook without making change as per your comment. I request you to please check in backend.
Thank you.

[2020-04-08 17:23] jvishnuvardhan commented on #38353
@viktor765 Can you please try `model.add_loss(y_true, y_pred, weights)` as in the following example.

[code]

[2020-04-08 17:31] feranick commented on #35917
I no longer have issues with TF 2.2. This bug should be closed.

[2020-04-08 17:33] feranick commented on #37703
Compilation still not possible with TF 2.2.0-rc2. Is there any plan to fix this for 2.2?

[2020-04-08 17:34] Viki250893 commented on #38307
WAYMO/Author whoever it is, has updated the tutorial script with
**Updated script has tensorflow.compat version1.**
[code]

**but, when I reported it, (Previously it was )**
[code]
https://colab.research.google.com/gist/Viki250893/40008cf236a25736d1cdefc7e0e403ea/untitled1.ipynb#scrollTo=3etKdSB4gIeR

I'm not sure what's happening.

I would like to understand the difference of it being compatible

[2020-04-08 17:38] on-device-ai commented on #34217
I got Daniel Situnayake's suggestion at tensorflow/sig-micro-Gitter, and set a parameter (need to provide a representative dataset) when converting to the tflite model, which solved the problem. The source code at https://github.com/on-device-ai/ClassifyHeartbeats/tree/quantized_model . This Issue can be closed, thank you.

[2020-04-08 17:38] #34217 closed

[2020-04-08 17:38] amahendrakar commented on #38257
@EthanPhan,
I tried to reproduce the issue, but I'm facing an error stating `NoSectionError: No section: 'IOB-format'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/dad3df4c05cfa3b874e8a14dadbdefd5/38257.ipynb).

Is it possible for you to provide a minimal reproducible code with a sample dataset? Thanks!

[2020-04-08 17:45] MoyoT commented on #27120
My call method in my custom layer is as follows

` def call(self, y):
            self.y=y
           self.paddings = [[0,0],[0, 10-tf.shape(self.y)[0]]]
            self.out = tf.pad(self.y,self.paddings, 'CONSTANT', constant_values=2)
            self.x =tf.map_fn(lambda xi: tf.strings.format('{}', xi), self.out, dtype=tf.string)
            # print(x)
            self.b= tf.compat.v1.string_spl

[2020-04-08 17:56] HardworkingPig commented on #38325
I use `bazel clean --expunge as you instructed but this what show up`
`PS C:\tensorflow> bazel clean --expunge
INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=120
INFO: Reading rc options for 'clean' from c:\tensorflow\.bazelrc:
  Inherited 'common' options: --experimental_repo_remote_exec
ERROR: Unrecognized option: --experimental_repo_remote_exec

[2020-04-08 17:57] jvishnuvardhan commented on #38116
@eaaarmah Can you please share a standalone code to reproduce the issue? Standalone code leads to faster resolution. Thanks!

[2020-04-08 17:58] iganichev commented on #34112
@jsimsa, I remember you guys looked at this some time ago. What was the conclusion?

[2020-04-08 18:02] jdduke commented on #33634
I don't think 32-bit (x86) Windows build are supported directly. There is some additional [information here](https://stackoverflow.com/questions/53291191/compile-a-c-project-wit-bazel-for-x86-32-bit).

[2020-04-08 18:09] karansaxena commented on #38343
@amahendrakar yes, looks like TF v2.2.0-rc2 is working.
If I extend the list of sentences, I am consistently running into:
     E tensorflow/stream_executor/cuda/cuda_event.cc:29] Error polling for event status: failed to query event: CUDA_ERROR_ILLEGAL_ADDRESS: an illegal memory access was encountered
     F tensorflow/core/common_runtime/gpu/gpu_event_mgr.cc:273] Unexpected Event status: 1

[2020-04-08 18:14] abdfr opened #38363 "TFLite - number of detections"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-04-08 18:19] Tylersuard commented on #38361
Thank you for your help!  I'm sorry for my ignorance, but how do I use the tensorflow.compat.v1.placeholder in the above colab notebook?

[2020-04-08 18:35] MeghnaNatraj commented on #34217
We're updating the examples to reflect this change. Glad that you were able to fix this issue!

[2020-04-08 18:38] #38363 closed

[2020-04-08 18:46] Artaches commented on #37110
I can confirm that adding `${TENSORFLOW_DIR}/tensorflow/lite/tools/make/downloads/absl` to `target_include_directories` in our cmake build file fixed it. Thanks @tailsu!

[2020-04-08 18:53] ambitioncn commented on #36901
I have the same problem too

[2020-04-08 18:54] valorusa commented on #37761
Hi @Chris1hub I use the tensor flow object detection api to do the object detection and recognition. The input arrays are the names of the input tensors and the output arrays are the names of the output tensors. They are used in the below  inference routine:

with session.graph.as_default():
        image_tensor = detect_graph.get_tensor_by_name('image_tensor:0')

        # Each box represents a p

[2020-04-08 18:56] karansaxena commented on #38343
@amahendrakar The CUDA_ERROR_ILLEGAL_ADDRESS does not come when I use the 'small' model from https://tfhub.dev/google/universal-sentence-encoder/4.

[2020-04-08 19:01] bhack commented on #12345
I add also https://github.com/microsoft/pyright to the resources cause was not mentioned in the RFC.

[2020-04-08 19:04] hfinkel commented on #38222
No, that does not have an effect on those messages. Setting the log level to 2 does remove the informational messages at the beginning of the execution:

[code]

So those are gone, but these:

[code]

and so on still remain.

[2020-04-08 19:10] ambitioncn commented on #38279
I have the same issue

[2020-04-08 19:11] isaacgerg commented on #37393
@mihaimaruseac   I'm completely stuck and cant figure this out. I am just going to use someone else's ssim function until this gets fixed.

[2020-04-08 19:14] abpalaciot opened #38365 "AutoGraph Warning on Tensorflow-gpu==2.0.0b1"
Running the Image Captioning tutorial (https://www.tensorflow.org/tutorials/text/image_captioning) on google colab with tensorflow-gpu==2.0.0b1 produces the next warning.

WARNING: Entity <function standard_gru at 0x7fa68b50b488> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_V

[2020-04-08 19:39] #38087 closed

[2020-04-08 19:47] yarik1988 opened #38366 "Strange behavior of ODE solving toy model"
**System information**
- OS Platform and Distribution Windows 10
- TensorFlow installed from source TensorFlow 2.2.0
- Python version: 3.8
- CUDA/cuDNN version: 10.1

[code]
I try to make model output y=x, while y'=sin(10*x). Surely this is impossible so the expected behavior of the model is NOT converge. However model converges and have both y=x and y'=sin(10*x) satisfied, however it is impossibl

[2020-04-08 20:13] FMalerba opened #38367 "Memory Growth and Memory Limit incompatibility"
**System information**
- Custom Code
- OS Platform and Distribution: Windows 10 Home 1909
- TensorFlow installed with pip
- TensorFlow version: v2.1.0-rc2-17-ge5bf8de410, 2.1.0
- Python version: 3.7.6
- CUDA/cuDNN version: CUDA 10.1, cuDNN 7.6.5
- GPU model and memory: NVIDIA GTX 1050 notebook, 4GB memory

**Describe the current behavior**
Tensorflow "forgets" about the setting on memory_growth on

[2020-04-08 20:24] ccrusius commented on #34826
This is fixed in 2.2.0-rc2. The problem was that TF 2.1 did not handle types that implemented `__array__` properly.

[2020-04-08 20:24] #34826 closed

[2020-04-08 20:36] AdamZou commented on #7731
+1 Need this feature.

[2020-04-08 20:42] MoyoT commented on #38225
I added my on compute output shape method, now the error has to do with string_split not separating digits, as i would like it to do. i will update.

[2020-04-08 20:51] jdduke commented on #30315
@karimnosseir can you take a look?

[2020-04-08 21:08] #27880 closed

[2020-04-08 21:13] zaccharieramzi commented on #35084
@loretoparisi do you also create the dataset in a for loop or do you instantiate it only once ?

I am asking because I suspect a memory leak as well, but I am only creating one dataset object and then training on it using fit.
On my side, I use `tf.py_function` to load HDF5 files because of [this error in tfio](https://github.com/tensorflow/io/issues/841).

[2020-04-08 21:21] alanchiao commented on #38285
@MeghnaNatraj: in the meanwhile, could you update https://www.tensorflow.org/lite/performance/post_training_quantization#full_integer_quantization_of_weights_and_activations and other documentation to reflect that the full-integer path (including inputs and outputs) is only available in TF 1.X and not TF 2.X?

[2020-04-08 21:21] mdanatg commented on #38349
This is due to a limitation limitation in how gradients are calculated. Unfortunately, it is unlikely to be fixed in the foreseable future.

You can find more detail here, along with a recipe for how to avoid it: https://stackoverflow.com/questions/33712178/tensorflow-nan-bug/42497444#42497444

In short, if the input to a tf.where contains NaNs, the gradient will always be NaN, regardless whether

[2020-04-08 21:22] zaccharieramzi commented on #36821
@plooney on colab I couldn't reproduce the issue, see [here](https://colab.research.google.com/drive/1RtZ8dvRZTA33Kl4kwt0ao_2pzx0hNpe8).

I was just monitoring the RAM use by eye.

Also one thing, why do you check for GPU use in this case ?

[2020-04-08 21:25] Bughunter9923 commented on #27486
Browser cache corruption can cause this too;  On the "service unavailable" page, type crtl-shift-R to reload the page from source.

[2020-04-08 21:27] 0x0badc0de commented on #38349
Shouldn't this be documented with big warning in `tf.where` docs in this case?

[2020-04-08 21:30] dli7319 commented on #35329
You need to create an instance of your loss class before you call it.

[code]

[2020-04-08 21:46] AngelBerihuete commented on #36094
Got it! Many thanks @Flamefire !

[2020-04-08 22:03] dorafan commented on #36509
I have the seem question as you. Could you please post your new codes?

[2020-04-08 22:08] mihaimaruseac commented on #37393
@isaacgerg Sorry, I was not able to reproduce due to having too much on my plate these few days. I'll raise this issue internally

[2020-04-08 22:10] mihaimaruseac commented on #37393
I see you say you narrowed the problem down. Do you want to make a PR please?

[2020-04-08 22:12] tavco09 commented on #35329
Thanks buddy! 

Отправлено из мобильной Почты Mail.Ru

четверг, 9 апреля 2020 г., 00:30 +0300 от notifications@github.com  <notifications@github.com>:

[2020-04-08 22:12] jvishnuvardhan commented on #38305
@jeanmn I guess `lookup` method in `tf.lookup.StaticHashTable1 is looking for a Eager Tensor where as you provided a Symbolic Tensor. Please check the source [here](https://www.tensorflow.org/api_docs/python/tf/lookup/StaticHashTable#lookup). Thanks!

[2020-04-08 22:14] jsimsa commented on #34112
This is related to https://github.com/tensorflow/tensorflow/issues/34519. Alex made a suggestion there that @saxenasaurabh agree with but I don't think anyone is actively working towards fixing this.

[2020-04-08 22:22] mihaimaruseac commented on #38325
You definitely need to run the `configure.py` command. It sets up several variables in `bazelrc` and also checks that you have the corresponding Bazel version installed.

Given the error messages about the unrecognized options, it is very likely that you are using a different bazel version than the one we support (2.0.0)

I would recommend running `python ./configure.py` once, seeing the errors it

[2020-04-08 22:25] mdanatg commented on #38349
Indeed it should.

[2020-04-08 22:28] houtoms commented on #37091
Thanks for the update. Let me sync with our team and put some update here.

[2020-04-08 22:28] lingjiekong commented on #36059
any update? Would like to know what change need to be made in order to run inference on grayscale image.

[2020-04-08 22:28] mihaimaruseac commented on #37393
See also #28274

[2020-04-08 22:29] mihaimaruseac commented on #38315
Closing as resolved.

[2020-04-08 22:29] #38315 closed

[2020-04-08 22:32] abattery commented on #38305
Currently, Tensorflow Lite does not support Keras layer + hash table use cases yet. I am working on enabling this path. Will notify the updates in the thread later.

[2020-04-08 22:42] helenabdr opened #38369 "AttributeError: 'Tensor' object has no attribute '_in_graph_mode'"
I am having an error: 'Tensor' object has no attribute '_in_graph_mode'. I've debugged the code, and I think it's in this GradientTape function, but I don't know why. If anyone knows, please help me! :)

**System information**
- TensorFlow version: 2.0 - '2.2.0-dev20200407'
- OS Platform and Distribution: Linux Mint
- Python version: Python 3.7.4

**Describe the current behavior**
I am trying to m

[2020-04-08 22:50] lingjiekong opened #38370 "Cannot convert between a TensorFlowLite buffer with 76800 bytes and a Java Buffer with 230400 bytes"
I modify the image classification code https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/android to run inference on a float type grayscale bitmap with size (1, 120, 160, 1). However, an exception is throw regarding "Cannot convert between a TensorFlowLite buffer with 76800 bytes and a Java Buffer with 230400 bytes". I checked the input tensor image shape which

[2020-04-08 23:05] angerson commented on #38351
TensorFlow also has this mechanism:

[code]

Auto-generated during build time via https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/tools/build_info/gen_build_info.py and `tf_py_build_info_genrule` in https://osscs.corp.google.com/tensorflow/tensorflow/+/master:tensorflow/tensorflow.bzl. Right now it contains very little, but perhaps we could extend it with the information fro

[2020-04-08 23:41] mattdutson commented on #38279
I noticed today that the error goes away if the RNN layer is constructed with `unroll=True`.

[2020-04-08 23:42] mattdutson commented on #38279
Unrolling is apparently more memory-intensive, however.

[2020-04-08 23:50] tanzhenyu commented on #30309
This is fixed and should be available in tf-nightly tomorrow. Closing it.

[2020-04-08 23:50] #30309 closed

[2020-04-08 23:50] isaacgerg commented on #37393
@mihaimaruseac I thought I narrowed down the problem but now I'm stuck and can't get any further.  I looked at 28274 and as far as I can tell, this is a different issue than that.  If you can have someone from the tf team look at this, I think they can likely fix it quick.  Don't forget that if you fix msssim, you can apply the same patch to psnr also.

[2020-04-08 23:56] ShaneSmiskol opened #38372 "Windows 10 shuts down when using GPU (tf 2.1.0 with tf.keras and tf 1.14 with keras)"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes, custom code
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10 64 bit
- TensorFlow installed from (source or
binary): Tensorflow was installed using `pip install tensorflow`
- TensorFlow version (use command below): 2.1.0 (but occurs on 1.14, 1.15, 2.0 as

[2020-04-09 00:10] jvishnuvardhan commented on #38143
@bmc2-stripe I agree `tf.saved_model.save` has an issue in saving the `WideDeepModel` that has multiple optimizers added from compile. One approach is to delete optimizer from the model like  `combined_model.optimizer = []`, and then save the model `tf.saved_model.save(combined_model, "./saved_model")`

Later If you want load the model and train, then you can load the model and then compile again

[2020-04-09 00:45] yhliang2018 commented on #32786
Hi @drasmuss there is a fix just submitted, and you may verify it with tf-nightly later. Close this for now, and feel free to reopen it if needed. Thanks.

[2020-04-09 00:45] #32786 closed

[2020-04-09 00:54] ymodak commented on #38227
TF nightly installs TF 2.x version and `contrib` module is no longer part of TF from 2.X.
Also we don't save pipy packages of older tf nightly versions.
You can try using stable TF 1.x versions for using `contrib` module.
Thanks!

[2020-04-09 01:11] nahsam commented on #38227
I have be able to get version 1.x to complete but the tensor board doesn't
work anymore. It makes it difficult to gauge progress. Can you try and run
it on version 1 and see if tensor board works for you?

On Wed, Apr 8, 2020, 7:54 PM Yasir Modak <notifications@github.com> wrote:

[2020-04-09 01:55] Single430 commented on #30912
Is it resolved?  @joehoeller

[2020-04-09 01:58] joehoeller commented on #30912
Yes plz close

Sent from my iPhone

[2020-04-09 02:03] jvishnuvardhan commented on #32545
@breadbread1984 I think this was resolved in recent `tf-nightly`. I ran it without any issues. Please take a look at the [colab gist](https://colab.research.google.com/gist/jvishnuvardhan/2447d8ec4f353efa284642210c74ab39/untitled66.ipynb).

Can you please verify once and close the issue if this was resolved for you. thanks!

[2020-04-09 02:19] jvishnuvardhan commented on #33869
@aefuimn Can you please check whether this was resolved for you. Thanks!

[2020-04-09 02:26] mihaimaruseac commented on #32620
This likely is related to #33563

[2020-04-09 02:26] mihaimaruseac commented on #27537
Likely related to #33563

[2020-04-09 02:30] jvishnuvardhan commented on #33929
@tomerk Our policy about back-porting the code to previous versions is mentioned by  @mihaimaruseac [Here](https://github.com/tensorflow/tensorflow/issues/29624#issuecomment-610601027). Thanks!

[2020-04-09 02:33] quocdat32461997 commented on #38321
It solves the problem.

[2020-04-09 02:33] #38321 closed

[2020-04-09 02:42] joemaren commented on #38349
@mdanatg Hello, this is my first time contributing to TensofFlow lib. From the thread I gather you would require the `tf.where` be updated. If it is so can I work on this?

[2020-04-09 02:54] 17patelumang opened #38375 "tf.tile each dimension individual operation not supported"
**System information**

     OS Platform and Distribution : macOS Catalina 10.15.3

    TensorFlow installed from : binary

    TensorFlow version : 1.15.0

    Python version: 3.7.3

**Describe the current behavior**

I have tensor

a = `tf.Tensor(
[[[ 16  15  16  15  87]
  [  3   4   3   4  87]
  [  3   4   8   9 133]
  [  3   4   8   9  871]
  [  3   4  14   95  87]
  [  3   7   9  250  87]]
 [

[2020-04-09 03:33] npandey2385 commented on #38308
I was able to build it with bazel 0.28.1 after apllying these two changes.

1- https://github.com/Flamefire/tensorflow/commit/1751e3c8de7a3e2a69dd22a6062aec7d2c7709ef
2-
Add -lrt as red line as follows:

        "//conditions:default": [
            "-z defs",
            "-s",
            "-Wl,--version-script",  #  This line must be directly followed by LINKER_VERSION_SCRIPT
            LINKER_V

[2020-04-09 03:34] zerollzeng commented on #36555
met this problem with my tflite model too

[2020-04-09 03:43] alextp commented on #38351
+1 to extending build info over new apis

On Wed, Apr 8, 2020, 16:05 Austin Anderson <notifications@github.com> wrote:

[2020-04-09 03:48] agarwal-ashish commented on #29781
Can you use tf.stack instead of concat ?

[2020-04-09 03:49] MoyoT commented on #38225
I managed to get somewhere, now the error is AssertionError: Could not compute output Tensor("conv2d_34/Identity:0", shape=(2, 640, 360, 3), dtype=float32)

For some reason the batch size is showing two while im fitting one training example at a time. Please assist, it may have to do with the same problem. https://colab.research.google.com/gist/amahendrakar/bdcc6a2a1451ca352ec636f7af1d2cf2/38225.i

[2020-04-09 04:10] agarwal-ashish commented on #36227
@cmichelenstrofer can you clarify the requirement ? Typically networks have a scalar loss at the top which makes the jacobian computation cheap. For non-scalar output, batch jacobian would be faster if you can use it (batch entries are independently transformed). If you compute full jacobian with non-scalar outputs, then yes, it will be exepected to be slow.

[2020-04-09 04:15] ravikyram commented on #38308
@npandey2385

Glad to know it worked.Please close this thread if the issue was resolved. Thanks!

[2020-04-09 04:20] RinascimentoMan opened #38376 "Extract Model Variable from Serialize Graph File"
**System information**
- TensorFlow version (you are using): 1.14.0
- Are you willing to contribute it (Yes/No): Yes.

**Describe the feature and the current behavior/state.**
![image](https://user-images.githubusercontent.com/16629752/78857533-2edc7080-7a5c-11ea-80a7-a69ccd51fc63.png)
When I save a graph in to keras.pb. Then I wan to acquire <b>model</b> variable. However, I cannot find a way to

[2020-04-09 04:26] Saduf2019 commented on #38375
@17patelumang
please share a simple standalone code for us to replicate the issue faced along with the error.

[2020-04-09 04:29] Saduf2019 commented on #38169
@ijalalfrz
please add cudnn and cuda path. follow the instructions https://www.tensorflow.org/install/gpu#linux_setup

[2020-04-09 04:29] #38308 closed

[2020-04-09 04:39] leonelacs opened #38377 "Error about repository 'mkl_dnn' occurred during the process of building Tensorflow from source"
**System information**
- OS Platform and Distribution: Linux Ubuntu 18.04 LTS
- TensorFlow installed from (source or binary): source
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: no
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from source): 7.5.0
- CUDA/cuDNN version: n/a
- GPU model and memory: n/a
- CPU model: AMD Opteron 4122

**Des

[2020-04-09 04:48] Saduf2019 commented on #38362
@saahiluppal
please refer to these links and let us know if it helps [link1](https://www.pyimagesearch.com/2019/10/21/keras-vs-tf-keras-whats-the-difference-in-tensorflow-2-0/) [link2](https://analyticsindiamag.com/tensorflow-vs-keras-which-one-should-you-choose/) [link3](https://stackoverflow.com/questions/60768547/what-is-the-difference-between-functions-from-keras-backend-and-tensorflow)

[2020-04-09 04:52] Saduf2019 commented on #37846
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 04:52] #37846 closed

[2020-04-09 04:52] Saduf2019 commented on #37868
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 04:52] #37868 closed

[2020-04-09 04:53] Saduf2019 commented on #37913
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 04:53] #37913 closed

[2020-04-09 04:54] Saduf2019 commented on #37924
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 04:54] #37924 closed

[2020-04-09 05:04] 17patelumang commented on #38375
`import tensorflow as tf `

a = tf.Variable([[[16,15,16,15,87],[3,4,3,4,87],[3,4,8,9,133],[3,4,8,9,871],[3,4,14,95,87],[3,7,9,250,87]],[[ 3,4,3,41,87],[3,4,8,93,133],[3,4,18,9,87],[3,4,141,5,87],[3,7,19,25,87],[0,0,0,0,0]]])
print(a)

b = tf.Variable([[[1],[2],[3],[1],[2],[2]],[[2],[2],[2],[2],[1],[0]]])

print(b)

c = tf.tile(a, b)

print(c)

####  c = I was c as described in questions`

[2020-04-09 05:06] gadagashwini commented on #38357
@chychen, Will it possible to provide the sample code to analyze the reported issue. Thanks!

[2020-04-09 05:08] diggee commented on #37942
already did.

[2020-04-09 05:09] gadagashwini commented on #38369
@helenabdr, Please provide the complete standalone code to reproduce the issue. Thanks

[2020-04-09 05:18] gadagashwini commented on #38319
Was able to replicate the issue with Tf 2.2.rc2.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/5e7b66ff475cc270ecacb0b73c79c3e3/untitled496.ipynb). Thanks!

[2020-04-09 05:41] gadagashwini commented on #38246
@ms-ims, Can you share the error log that you are facing. Thanks

[2020-04-09 05:52] gadagashwini commented on #38239
@OriAlpha, Please take a look at the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/2f24faa8095ab8ff630ec76dabb6651c/untitled497.ipynb) and confirm the issue reproduced or not. Thanks

[2020-04-09 06:08] #37933 closed

[2020-04-09 06:13] jvishnuvardhan commented on #38319
@GPhilo I have updated custom_loss function. After updating the custom_loss, code runs without any issue. Can you please check and let us know whether it resolved for you or not. [Here](https://colab.research.google.com/gist/jvishnuvardhan/790cd2b42ff6c2b2d9bc5c3ff4b52752/untitled68.ipynb) is the gist for you. Thanks!

[2020-04-09 06:28] zerollzeng commented on #36555
if anybody has this problem whiile running tflite in pc, this problem has been solve with commit 97b63ed8769d09a70a6617b067e63a12c7f8e071, install newest tf-nightly should fix this.

[2020-04-09 06:28] Rutvik21 opened #38379 "Regarding Ear Landmark Dataset"
I have made ear landmark dataset as shown below image.
![image](https://user-images.githubusercontent.com/29560869/78864360-1cad0300-7a59-11ea-96ad-d68f3be53bb3.png)
I want to make a model to predict the landmarks. So I want some advice on whether I should create my own model or should I use any pre-built model to train it with this dataset.
Thank you

[2020-04-09 06:34] ravikyram commented on #38366
@yarik1988

I tried reproducing the issue but i am facing the below issue.Please,see in the screenshot. Is this the expected behavior

![error](https://user-images.githubusercontent.com/51902062/78864823-1703ed00-7a5a-11ea-84c4-674413a5bd6a.png)

[2020-04-09 06:38] gadagashwini commented on #38233
@phuongchi911, I tried to replicate the issue but getting different error.
PLease take a look at the [gist](https://colab.sandbox.google.com/gist/gadagashwini/3e94edfb9e87d78e7165272011bab509/untitled498.ipynb) and confirm the issue. Thanks

[2020-04-09 06:40] yarik1988 commented on #38366
No, in my PC it works well. I found even smaller toy example that shows the bug
[code]

[2020-04-09 06:52] ravikyram commented on #38366
@yarik1988

I tried to reproduce the issue in colab .Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/bfe689e64e1026192a4b554929d0fb5a/untitled26.ipynb). Is this the expected behavior.Thanks!

[2020-04-09 06:57] gadagashwini commented on #38254
@kumaradi08, Please update for the @mihaimaruseac's comment.

[2020-04-09 06:58] yarik1988 commented on #38366
From the mathematical point of view this behavior is not neither logical neither expected. I created gist of my another example that shows the problem
https://colab.research.google.com/gist/yarik1988/92890b0d9a690773f2c1204d348f8478/untitled0.ipynb#scrollTo=JOB6TP8OuLmw

[2020-04-09 06:59] phuongchi911 commented on #38233
@gadagashwini may you confirm if this is the error u see? If yes, please help to restart the runtime and run all over again after u installed the segmentation model above. Error will dissappear.

![image](https://user-images.githubusercontent.com/43133053/78866702-7c63d800-7a72-11ea-9424-c1b3316b9eb2.png)

The error I am facing is when I try to run this block of code below to train my model which

[2020-04-09 07:03] ZimmerZheng commented on #38294
**I want to save Model as XXX.ckpt. But when I set "save_weights_only=False":**
_`cp_callback = tf.keras.callbacks.ModelCheckpoint(filepath=ckpt_models/test.ckpt,
                                                 save_weights_only=False,
                                                 verbose=0,mode='auto')
model.fit(x_train, y_train, epochs=5,callbacks=[cp_callback])`_
**It raise an error::**
`te

[2020-04-09 07:12] padoremu commented on #37479
This issue has been inactive for one month now. I would appreciate some feedback very much. Thank you.

[2020-04-09 07:23] Saduf2019 commented on #38294
please find the gist of the [issue here](https://colab.sandbox.google.com/gist/Saduf2019/f922b54fd9c5d41bcd4c5568216bb83a/untitled131.ipynb)

[2020-04-09 07:30] amahendrakar commented on #38307
@Viki250893,
For information regarding compatibility modules please check [this](https://www.tensorflow.org/guide/upgrade#compatibility_modules) TensorFlow guide. [This guide](https://www.tensorflow.org/guide/migrate) to migrate TF 1.x code to TF 2.x would also be helpful.

Please feel free to close the issue if resolved. Thanks!

[2020-04-09 07:32] yarik1988 commented on #38366
However with this line commented
`model.fit(x=x, y=[x, x*x], epochs=1, batch_size=N)`
numerical derivative coincides with analytical one, which is logical.

[2020-04-09 07:45] GPhilo commented on #38319
@jvishnuvardhan The rewritten custom_loss indeed works, however according to the documentation of [`tf.keras.Model.compile`](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#compile) (both nightly and stable versions), `loss` should accept "any callable with the signature loss = fn(y_true, y_pred)". The line linked in the issue "other info" section effectively goes against

[2020-04-09 07:59] amahendrakar commented on #38279
Was able to reproduce the issue with TF v2.2.0rc2 and TF-nightly. Please find the gist [here](https://colab.research.google.com/gist/amahendrakar/d59dbcfeb6358851fb6f2994e49f7357/38279-2-2.ipynb#scrollTo=sxLOo03U2rnI&line=1&uniqifier=1). Thanks!

[2020-04-09 08:02] mgoutay commented on #34519
Hi,
The notebook linked above ([there](https://colab.research.google.com/gist/gadagashwini/9827e15c992a573346829d512197d275/untitled480.ipynb#scrollTo=tIcffx9fJXAv)) still outputs the same error for me, both with TF 2.2.0-rc1 and rc2 with GPU enabled. So I'm not sure that it has been fixed.

[2020-04-09 08:15] saahiluppal commented on #38361
Have a look at the documentation <a href='https://www.tensorflow.org/api_docs/python/tf/compat/v1/placeholder'>here<a>. And pick up the use case which suits your needs.
But it's highly reccomended to use Tensorflow 2.x
Have a look if you wanna migrate from Tensorflow 1.x to Tensorflow 2.x here <a href='https://www.tensorflow.org/guide/migrate'>here</a>

[2020-04-09 08:18] saahiluppal commented on #38362
It seems that both are same. Thanks

[2020-04-09 08:18] #38362 closed

[2020-04-09 08:23] limsijie93 commented on #34845
@srjoglekar246 I see. Does that mean that Mask-RCNN ops are already supported by TFLite? Previously I tried the conversion and it seems that some ops are not yet supported :(

[2020-04-09 08:23] kpe commented on #30309
Thank you @tanzhenyu - that was really quick!

P.S. I guess it also resolves #29157

[2020-04-09 08:24] OriAlpha commented on #38239
No this not the issue it seems to work fine for me. The bug Is tensor_array_scatter doesn't get a shape

[2020-04-09 08:29] Viki250893 commented on #38307
Thank you very much!!! @amahendrakar

[2020-04-09 08:29] #38307 closed

[2020-04-09 08:33] MakeCent commented on #38294
@ZimmerZheng
[Gist](https://colab.research.google.com/gist/MakeCent/6b82f91978ced9b32a07b7401b7e355c/38294.ipynb) I test your code on tensorflow 2.1, but no error raised and every ckpt files saved  correctly. Maybe you need check if it's related to your tf version. By the way, if you want to save whole model in addition to weights, you'd better to use HDM5(.h5) or SaveModel(no extension).

[2020-04-09 08:38] ruddyscent commented on #36064
The solution using VS2019 works for me. However, be sure to remove 'MSVC v* - VS 2015 C++ build tools.'

[2020-04-09 08:49] gadagashwini commented on #38134
@yskale,
Make sure you have added CUDA and cuDNN path.Please follow the instructions mentioned [here](https://www.tensorflow.org/install/gpu#linux_setup). Thanks!

[2020-04-09 08:50] jeanmn commented on #38305
@jvishnuvardhan
This is my use case: I am trying to construct and save a model architecture where the first layer should be a lookup operation. If I am forced to use an EagerTensor, does this mean that what I am trying to achieve with the StaticHashTable is impossible?

In [the link to the documentation you sent me](https://www.tensorflow.org/api_docs/python/tf/lookup/StaticHashTable#lookup) I don

[2020-04-09 08:52] py4 opened #38381 "Casting from float32 to uint8 results in wrong value despite being from 0 to 255"
I'm using tensorflow-gpu 1.14 with Cuda 10 on Ubuntu 18.04. I'm running tf in **eager mode**.

I'm training a model using Trax. In my input processing pipeline, I read a batch of uint8 images (3-channel each value from 0 to 255) and resize them using `tf.image.resize_images` which results in `float32` but values are still from 0 to 255. Then I cast the `float32` values to `uint8` :

[code]

 On fi

[2020-04-09 09:07] ymodak commented on #38227
If you can open a new issue and explain the tensorboard problem perhaps we can take a look and assist you. Reason being, we want to keep one issue thread specific to one topic so that it helps for users referring it in future. Thanks!

[2020-04-09 09:12] ravikyram commented on #38372
I have tried in colab and i am able to reproduce the issue. I am seeing the error message (`Your session crashed after using all available RAM`).Thanks!

[2020-04-09 09:15] eaaarmah commented on #38116
https://colab.research.google.com/drive/1Sz2B7Tt4x5qhNFXFJc4nJBnQRcHaWus8

[code]

[2020-04-09 09:18] chychen commented on #38357
@gadagashwini Please see Before/After in following pdf file.

[TF2#38357.pdf](https://github.com/tensorflow/tensorflow/files/4455162/TF2.38357.pdf)
(I fake it by multiply loss with a large constant.)

[2020-04-09 09:19] ManishAradwad commented on #38248
Hello, I'd like to work on this issue. Can you plz give me some pointers on where I should start?

[2020-04-09 09:23] ymodak commented on #38009
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
 Thanks!

[2020-04-09 09:23] #38009 closed

[2020-04-09 09:29] HarryPommier opened #38382 "Google Developers Certification"
Google Developers Certification plugin is not available in PyCharm 2020.1 (it is needed to take the Tensorfow Certification exam):

![gdc](https://user-images.githubusercontent.com/50177956/78879616-69daa600-7a54-11ea-9ad4-1212c1e289bf.png)

[2020-04-09 09:36] pradeepmishra11 opened #38383 "TFX on Taxi_pipelines_interactive"
model_resolver = ResolverNode(
      instance_name='latest_blessed_model_resolver',
      resolver_class=latest_blessed_model_resolver.LatestBlessedModelResolver,
      model=Channel(type=Model),
      model_blessing=Channel(type=ModelBlessing))
context.run(model_resolver)

evaluator = Evaluator(
    examples=example_gen.outputs['examples'],
    model=trainer.outputs['model'],
    #baseline_model=

[2020-04-09 09:39] vnvo2409 commented on #19297
I think I finally found the root cause of ODR violation. The problem is about the different of bazel config between Windows and Linux. This line is default on Windows but it is not on Linux
https://github.com/tensorflow/tensorflow/blob/5daf0e00e9913a0f7bd262f5f37ea70d34b00811/.bazelrc#L119

On linux, we have a shared object named `libtensorflow_framework.so.` which hold a common instance of `Env::

[2020-04-09 09:41] hahadashi commented on #38223
thx your response。 i use this way，have sovled problem，may be it is because of when i rebuild the model and i made  a minor mistake

[2020-04-09 09:42] qbit- commented on #32832
Same issue here, please reopen

[2020-04-09 09:47] hahadashi commented on #38223
but i meet  a new problem。if i use pb model by c++ env，i try to inference by batch。 i set the same inputs，but these outputs are difference。have you try inference by bctch？if i set batch is one，the result is right

[2020-04-09 09:49] kriskorrel-cw opened #38384 "Cannot save to SavedModel when custom layers accepts args and kwargs"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes and no
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or
binary): pip
- TensorFlow version (use command below): 2.2.0rc2
- Python version: 3.7.3

**Describe the current behavior**
I was having trouble with saving a

[2020-04-09 09:52] wwwind opened #38385 "docker image to build manylinux, ubuntu16"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04

**Describe the p

[2020-04-09 09:55] UdiBhaskar commented on #36596
any update on this? I am also not getting any gradients even after converting input as a Variable and watching that variable using tape.watch

[2020-04-09 09:57] amahendrakar commented on #38359
@FallakAsad,
If this is a bug, could you please provide the complete code to reproduce the issue reported here.

If the issue reported here is not a bug or a feature request, the question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged//tensorflow) as there is a larger community that reads questions there. Thanks!

[2020-04-09 10:02] Saduf2019 commented on #38375
i was able to replicate this, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/da216942754e945a4865be16bb969dc1/untitled132.ipynb)

[2020-04-09 10:08] Saduf2019 commented on #38219
@Mahati04
please update on above comments

[2020-04-09 10:15] loretoparisi commented on #35084
@zaccharieramzi yes sure. The source file, that you can even try yourself in the project is here: https://github.com/deezer/spleeter/blob/master/spleeter/dataset.py

[2020-04-09 10:19] ymodak commented on #37977
Closing this issue since the associated PR has been merged. Thanks!

[2020-04-09 10:19] #37977 closed

[2020-04-09 10:21] ravikyram commented on #38379
This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-04-09 10:32] ymodak commented on #37945
Try Approach 2 from [Saving and Loading of Subclassed Models](https://www.tensorflow.org/guide/keras/save_and_serialize#approach_2) to save whole model.

[2020-04-09 10:34] Saduf2019 commented on #38385
@wwwind
please share the tensorflow version

[2020-04-09 10:35] wwwind commented on #38385
nightly builds

[2020-04-09 10:43] Saduf2019 commented on #38381
@py4
please provide us with a simple stand alone ode for us to replicate the issue.

please refer to this [link](https://stackoverflow.com/questions/46689428/convert-np-array-of-type-float64-to-type-uint8-scaling-values) for reference #[link2](https://github.com/tensorflow/tensorflow/issues/19691)

[2020-04-09 10:44] ravikyram commented on #38384
I have tried on colab with TF version 2.2 and was able to reproduce the issue.Please, find the gist [here](https://colab.research.google.com/gist/ravikyram/1b729d38569460d39c110b9bf86b6324/untitled30.ipynb).Using **BatchNormalization1,** all goes well. But when using **BatchNormalization2** we are facing the issue. Thanks!

[2020-04-09 10:51] ravikyram commented on #37513
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 10:51] #37513 closed

[2020-04-09 11:03] zhuzilin opened #38386 "Distributed training causes cuda OOM"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: CentOS
- TensorFlow installed from:
`pip3 install tensorflow-gpu==2.0.0`
- Python version: 3.6.8
- CUDA/cuDNN version: 10.0/7.6

**Describe the current behavior**
When starting the worker using v1 distirbuted training, we could observe the following error:
[code]
We've tried with different task number but obse

[2020-04-09 11:19] iedmrc commented on #20815
I don't believe this is an issue with bazel! Changing system language solve my problem, too. Thanks @ebubekirtabak . Here is my environment:

== check python ===================================================
python version: 2.7.12
python branch:
python build version: ('v2.7.12:d33e0cf91556', 'Jun 26 2016 12:10:39')
python compiler version: GCC 4.2.1 (Apple Inc. build 5666) (dot 3)
python impleme

[2020-04-09 11:23] iedmrc commented on #34833
I think that is where you've seen the solution:

https://github.com/tensorflow/tensorflow/issues/20815#issue-341306105

Changing the system language solved my problem as well.
And it's an issue with bazel. Here is my environment:

[code]

[2020-04-09 11:24] iedmrc commented on #24702
Changing the system language solved my issue. Check the issue here https://github.com/tensorflow/tensorflow/issues/34833#issuecomment-611476283

[2020-04-09 11:27] amahendrakar commented on #38383
@pradeepmishra11,

Since this issue is related to TFX, could you please raise an issue in the TFX repo using [this link](https://github.com/tensorflow/tfx/issues/new). Thanks!

[2020-04-09 11:42] mfouesneau commented on #38167
I believe one key is to use
```feature_columns = [tf.feature_column.numeric_column(k) for k in feature_names]```

instead of a list of strings here.

Here is the code

[code]

[2020-04-09 11:45] mfouesneau commented on #38167
Just to be clearer, my goal is to train a DNN regressor with multidimensional labels in batch mode to be able to handle large training sets.

Maybe my approach is not the most adapted, but I cannot find an example with batch training with csv datasets. I have a different approach if my training set is small and fits in memory.

[2020-04-09 11:47] amahendrakar commented on #38365
@abpalaciot,

Is there any specific reason you are using the beta version of TF v2.0? I'd suggest you to upgrade to the stable version of either TF v2.0 or TF v2.1.

I was able to run the tutorial without any issues or warnings using the stable version of TF v2.0, please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/b65d52b10c3a57056262c9aa059dce2e/38365.ipynb). Th

[2020-04-09 11:48] dauras commented on #38039
I found another motivating example:

- Download [MobileNet v3 small checkpoint](https://storage.googleapis.com/mobilenet_v3/checkpoints/v3-small_224_1.0_uint8.tgz)
- Extract the .tflite file
- Decode with flatc
      `flatc -t --defaults-json tensorflow/lite/schema/schema.fbs -- v3-small_224_1.0_uint8.tflite`
- Inspect `v3-small_224_1.0_uint8.json`
  Look for tensor named `MobilenetV3/expanded_con

[2020-04-09 11:49] zaccharieramzi commented on #35084
@loretoparisi I am sorry but I am not sure I understand how to use the file you linked to generate the memory leak evidence.

I also don't see how it answers the question of whether you create datasets in a loop (i.e. call to `tf.data.Dataset` in a loop).

[2020-04-09 12:08] mhs4670go opened #38388 "TFLite New Converter with 1.X frozen graph"
I tried to covert 1.X frozen graph with TFLite New Converter following this guidelines(https://www.tensorflow.org/guide/migrate#a_graphpb_or_graphpbtxt).

Here is my full python script.
[code]
It works well. But, is there any method to set input shapes from users? It's very hard to find this:(

like `tf.compat.v1.lite.TFLiteConverter.from_frozen_graph` method in 1.X version.
[code]

I found someth

[2020-04-09 12:13] PCSCI opened #38389 "Wrong x_lerp computation in "ResizeBilinearKernel_faster" and "ResizeBilinearKernel""
This is a bug on compute the **x_lerp** in CUDA version of resize_bilinear. See the code in
[ResizeBilinearKernel_faster](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/resize_bilinear_op_gpu.cu.cc#L62) and [ResizeBilinearKernel](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/resize_bilinear_op_gpu.cu.cc#L141).

The computation of **x_ler

[2020-04-09 12:15] gadagashwini commented on #38347
@Viki250893, Tensorflow 2.x has default eager enabled. To enable explicitly use `tf.compat.v1.enable_eager_execution()` which is same as
import tensorflow.compat.v1 as tf  and tf.enable_eager_execution().

This error `AttributeError: module 'tensorflow' has no attribute 'unsorted_segment_max'` is outside the scope of Tensorflow. Thanks

[2020-04-09 12:17] Viki250893 commented on #38347
Thank you very much for the support. !!

[2020-04-09 12:17] #38347 closed

[2020-04-09 12:27] yadonskov opened #38390 "tflm vc compilation error and how to fix"
in file tensorflow\lite\micro\kernels\svdf.cc
there is __restrict__ keword, so it can't be compiled with VC.
I added

[code]

and replaced __restrict__  with RESTRICT  - now compiles without problems

[2020-04-09 12:37] JonathanDZiegler commented on #38348
As suspected, the issue is only displaced by this. Now the problem occurs when trying to use the model for inference. Tried writing a custom function for conj, but to no avail: the converter is unable to process `tf.complex`, `tf.math.real `and `tf.math.imag`.

[2020-04-09 12:43] abattery commented on #38305
`InvalidArgumentError: Cannot convert a Tensor of dtype resource to a NumPy array.`

@jeanmn Yes, this error is related to the same problem I mentioned in the above comment.

[2020-04-09 12:46] Qottmann commented on #29781
Workaround (but I wouldnt believe this was intended like this)
[code]

Because no matter which one, both tf.concat or tf.stack erase the context information of the grad objects (not sure if this is correct terminology, but tape is not active anymore afterwards)
`hessian = [tape.jacobian(grad, [v, w]) for grad in grads]` produces [None,None]

Maybe worth another ticket: When using this for fully co

[2020-04-09 12:59] murdav commented on #35942
Hello All,

Same issue using Colab (TF 2.2 RC2).
My test-model run and then it was saved without implementing TPU or GPU.  I wanted to test the behaviour. Now loading it, I have:

[code]

[code]

[2020-04-09 13:12] Qottmann opened #38391 "[TF 2.1] Jacobian / Hessian with Conv1D layers"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**

[2020-04-09 13:14] gggekov opened #38392 "Quantization give float32 weights(instead of int8) on TF 2.2.0-rc2"
**System information**
- Google colab
- TF version: 2.2.0-rc2

**Problem summary**
Running the `hello_world` application for TFLite for Microcontrolllers. A model is generated successfully. The model is supposed to be quantized but the weights of all layers are `float32` and not `int8`. I am unable to generate a truly quantized model with `int8` weights.
Getting the same problem in TF 2.1.0

**Com

[2020-04-09 13:59] abdou31 commented on #37847
Hello @gadagashwini , I have just made an update in the last line of the code:

#model.save(args["model"], save_format="h5") the new version Tensorflow 2.0
model.save(args["model"]) # the version that I've used Tensorflow 1.13.1

[2020-04-09 14:02] tanzhenyu commented on #30309
Yeah, resolving that too. Thanks

[2020-04-09 14:02] tanzhenyu commented on #29157
Fixed. Closing it.

[2020-04-09 14:02] #29157 closed

[2020-04-09 14:17] 17patelumang commented on #38375
@Saduf2019  thank you , i am looking for the best way to get the tensor c as I want . I feel tf.tile wont do the type of operation I need

[2020-04-09 14:17] tanzhenyu commented on #33501
Closing this for now. Let us know if you have any other questions.

[2020-04-09 14:17] #33501 closed

[2020-04-09 14:23] maingoh opened #38393 "[C++] set_visible_device_list raise RegisterAlreadyLocked when creating a session"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below): 1.15.2 or 2.2.0
- GCC/Compiler version (if compiling from
source): 7.5.0
- CUDA/cuDNN version: cuda 10.0 o

[2020-04-09 14:43] maingoh commented on #38393
In 1.13.2 I had a build without monolithic config, but because of a boringssl conflict I had to build in monolithic for the newer versions.
It seems to be related to https://github.com/tensorflow/tensorflow/issues/1888#issuecomment-369407156

[2020-04-09 14:52] ucas010 opened #38394 "how to know the GPU's num and specify with tf ?"
hi,dear
haven't seen the methed of tf codes,
So I just want to solve the problem.
Could you please help me ?

thx

[2020-04-09 15:07] anknam1012 commented on #32019
Can you guide me to freeze with the EAST model. Thank you

[2020-04-09 15:08] alextp commented on #29781
Sorry, the stacking or concating has to happen within the tape scope for it
to work. Your solution is good though.

On Thu, Apr 9, 2020 at 5:46 AM Korbinian Kottmann <notifications@github.com>
wrote:

--
 - Alex

[2020-04-09 15:16] kylekyle commented on #21788
Same issue.

[2020-04-09 15:23] Namburger opened #38395 "Generalize cross compiling libtensorflow-lite.a for arm32"
**System information**
- TensorFlow version (you are using):N/A
- Are you willing to contribute it (Yes/No): Yes (maybe if I can figure it out haha)

**Describe the feature and the current behavior/state.**
Right now cross compiling `libtensorflow-lite.a` will be either for [arm64](https://www.tensorflow.org/lite/guide/build_arm64) (which works great, thanks) and [rpi](https://www.tensorflow.org/l

[2020-04-09 15:42] martin-gorner commented on #37779
@dimitreOliveira I have been able to confirm that the "then and else branches do not match" is a horrible bug deep down in the XLA compiler. It is not related to your data augmentation code. It has now been fixed. The next release of Tensorflow (TF2.2rc3 or TF2.2 release) will make your model work. Thank you for helping us find this.

[2020-04-09 15:56] srjoglekar246 commented on #34845
You need to use [select TF ops](https://www.tensorflow.org/lite/guide/ops_select) to run all ops :-).

[2020-04-09 15:59] feranick commented on #37703
Compilation is also not possible as the latest master in git.

[2020-04-09 16:27] mihaimaruseac commented on #37449
TensorFlow does not detect the amount of memory available via rlimits. Crashing when allocating memory above these limits is working as intended. This happens with most programs:

[code]

[code]

Although there exist calls to detect available memory limits and trim allocation, this would have to happen before every allocation and would still be vulnerable to TOCTOU. Plus, it is not portable, thus

[2020-04-09 16:28] jsimsa commented on #38078
I think this works as intended. You either want to ignore errors (in which case you use this API) or you don't.

[2020-04-09 16:29] jsimsa commented on #38078
Can you please describe the use case where you want to use this API and at the same time you do not want to "ignore" the errors?

[2020-04-09 16:29] dvbuntu opened #38396 "Keras `model_from_json` ignores distribution strategy"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-04-09 16:33] kylekyle commented on #26245
Still getting this error in `2.1.0`. Am I doing something wrong? I also get the `No matching distribution` error trying to install the nightly build on Ubuntu ....

[2020-04-09 16:35] jploski commented on #37449
Of course, the issue here is not that a crash occurs when you allocate memory above limit. The issue is that you attempt to allocate more memory than is available, which most programs don't do.

Not fixing this issue means that the non-GPU version is unusable in presence of a rlimit. Not sure how it behaves with other kinds of limits (e.g. cgroup limits imposed by Docker containers), but I predict

[2020-04-09 16:37] ffffans commented on #19968
I have the same problem when opening a previous tensorboard, but when I close tensorboard while running the program, this problem won't happen. Hope its useful for u :)

[2020-04-09 16:40] mihaimaruseac commented on #37449
I'm going to add it to the security list of issues for further prioritization.

[2020-04-09 16:41] czczup opened #38397 "In Tensorflow Lite, Instance norm takes a lot of time"
**System information**
- OS Platform and Distribution: window10
- TensorFlow installed from (source or binary):binary
- TensorFlow version (or github SHA if from source):1.15.0

**Provide the text output from tflite_convert**
[code]

**Standalone code to reproduce the issue**
I'm trying to run a [Fast Style Transfer](https://github.com/lengstrom/fast-style-transfer) model in my Android phone. I fi

[2020-04-09 16:53] amahendrakar commented on #37866
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-09 16:53] #37866 closed

[2020-04-09 17:05] amahendrakar commented on #38097
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-09 17:06] amahendrakar commented on #38117
Any updates regarding this issue? Thanks

[2020-04-09 17:07] amahendrakar commented on #38126
Any updates regarding this issue? Thanks!

[2020-04-09 17:10] MarkDaoust commented on #38248
I think you're right.

@ManishAradwad if you want to take a shot at a fix, I think all it needs is a `output, state = self.gru(x, initial_state=hidden)`

[2020-04-09 17:13] yashk2810 commented on #38248
Be careful with that. The last time I did that, the attention plots didn't come out right. So please test and see if the attention plots remain similar to what they are now.

[2020-04-09 17:14] vicpara commented on #36447
Yes it does. Thanks.

[2020-04-09 17:14] #36447 closed

[2020-04-09 17:24] lgeiger opened #38400 "[tf-2.2] XNNPack doesn't compile on AArch64"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspberry Pi 4 or cross-compiling on Ubuntu 18.04 using #38399
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.2 branch
- Python version: 3.6
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source): 2.0.0
- GCC/Compiler version (if compiling from sourc

[2020-04-09 17:27] dimitreOliveira commented on #37779
That is very nice to hear @martin-gorner , I'm glad I could help and the pleasure is mine!

[2020-04-09 17:43] SCF-byter commented on #22479
for me following code is a nice workaround. It builds another model without the last layer. Thus effectively being .pop()

`reduced_model = Sequential()
for layer in old_model.layers[:-1]:
  old_model.add(layer)`

[2020-04-09 18:00] tanzhenyu commented on #36428
This is an issue that happened in eager mode, seems the solution is:
[code]

We made a commit which was reverted. Waiting for another commit.

[2020-04-09 18:04] mariemabid commented on #35825
Is there any solution please to add class_weight to the evaluate() method?

[2020-04-09 18:26] amahendrakar commented on #38167
@mfouesneau,
Could you please share the `models_20190510.csv` file you are using in the code. I was unable to reproduce the issue reported here due to the missing files. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/a99616465c7f7d967fe4b5b85b978fb6/38167.ipynb). Thanks!

[2020-04-09 18:29] hihell commented on #38248
@MarkDaoust
I agree with @yashk2810
I did exact the same with `initial_state=hidden` and the attention is strange, and the train loss is not converging after 100 epochs (it goes down at frist then goes up, ended at 0.2)

[2020-04-09 18:31] YingzhouLi commented on #38211
Thank you @Saduf2019 .
@jvishnuvardhan , could you please let me know whether this is a bug in tensorflow 2? Is there an easy way to work around this python array?

[2020-04-09 18:39] anilsathyan7 commented on #6720
@brucechou1983 you can use tensorflow resize with align_corner=True and wrap it inside a lambda layer in keras or tf.keras

[2020-04-09 18:41] shariq-audiofocus commented on #36705
Running into this issue as well. I tried converting the graph to a .pb file (freezing the graph) as @Namburger  suggested and then using TFLiteConverter.from_frozen_graph() but that also failed with the same error.

Looking at the MobileNet architecture[1] it seems like there is only one FC layer so perhaps that is why this bug was not caught seen before. It seems surprising that no model with 2 F

[2020-04-09 18:54] lgeiger commented on #30716
I added an AArch64 toolchain to bazel in #38399 which should make cross-compiling a lot easier. It would be great if the PR could get a review.

[2020-04-09 18:59] amitDaMan opened #38402 "Smart Reply AAR example for tensorflow lite won't build"
I have not changed any code, and followed the procedure as per: https://github.com/tensorflow/examples/blob/master/lite/examples/smart_reply/android/how-to-build.md

I tried to build on Windows, and Linux (16.04) and I get the following error from bazel:
Linux:
amsha@amsha-linux:/local/mnt/workspace/workspace/tensorflowliteExamples/smartReply/examples/lite/examples/smart_reply/android/app$ bazel b

[2020-04-09 19:01] tanzhenyu commented on #37039
Thanks for the report! We wouldn't be able to make 1.x changes at this moment (or back-porting). This works find in tf-nightly, please check the below code:
[code]

[code]

[2020-04-09 19:02] angerson commented on #38385
You can use the `devel` image tags. See https://hub.docker.com/r/tensorflow/tensorflow/ for details.

[2020-04-09 19:02] #38385 closed

[2020-04-09 19:05] tanzhenyu commented on #33936
Closing it for now. Let us know if the previous comments didn't help you :-)

[2020-04-09 19:05] #33936 closed

[2020-04-09 19:18] gunan commented on #37748
@khaled-besrour thank you for the analysis.
@meteorcloudy do you know how we can make sure paths with spaces are correctly handled here?
https://github.com/tensorflow/tensorflow/blob/master/third_party/gpus/cuda_configure.bzl#L609

[2020-04-09 19:21] amahendrakar commented on #38222
@hfinkel,
Seems like the issue is fixed in the latest TF-nightly build. Please find the [attached gist](https://colab.research.google.com/gist/amahendrakar/e9ec3ba4a35e93cb6a6682e27fbbb5a9/38222-tf-nightly.ipynb#scrollTo=f1uK4LjIVjNI&line=1&uniqifier=1).

Could you please verify it on your end? Thanks!

[2020-04-09 19:35] zpymyyn commented on #33569
Hi, thanks for the instructions.

I managed to go to step 4, yet my METADATA file is empty, thus can't pack it.

Do you mind sharing the METADATA file here?

Thanks.

[2020-04-09 19:43] Deadsec69 commented on #33144
Pass Numpy array instead it will solve the problem in tensorflow versions<2.0
I mean don't use this
`images = tf.cast(resnet_train[0], tf.float32)/255.0`
use this instead
`images=resnet_train[0]..astype('float32')/255`
It worked for me in a similar case

[2020-04-09 19:52] keithchugg opened #38403 "model.reset_states() does not work for bidirectional-RNNs in tf.keras"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): YES
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04 LTS
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below):
TF 2.1
and
tf-nightly==2.2.0.dev20200407
(both have bug around this issue, but different issues)

- Py

[2020-04-09 19:56] HardworkingPig commented on #38325
Yes, I already manage to run it properly the error is about bazel version please update the tested build configuration. Now I have new problem from building,
`bazel build --config=v1 //tensorflow/tools/pip_package:build_pip_package`
`bazel build --config=opt //tensorflow/tools/pip_package:build_pip_package`

here is the error both of them failed to build.

`WARNING: C:/tensorflow/tensorflow/python

[2020-04-09 20:04] arde171 opened #38404 "CollectiveBcastRecv error for Tensorflow 2.0 Distributed training with MultiWorkerMirrored strategy using estimator API"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): yes
- OS Platf

[2020-04-09 20:27] ShaneSmiskol commented on #38372
Hmm, that sounds like it could be related to the amount of RAM Colab gives you, I'm not super experienced with Colab. But that script takes about 16GB to load the data into system memory then of course only 64 images are loaded into GPU memory, which should be fine

[2020-04-09 20:51] shariq-audiofocus commented on #36705
Workaround: Make the layers have different sizes. @julian-urban

Strangely, if the layer sizes are different the issue does not manifest. Got the idea from https://github.com/tensorflow/tensorflow/issues/30173 with I believe is a duplicate of this. I wrote some code to demonstrate my claim:

[code]

[2020-04-09 20:59] HebaGamalElDin commented on #22512
Look if you try to install version 2.0.0 so you must Update pip first then install tensorflow or tensorflow-gpu will work.
If you have the same problem you probably have a CPU issue with the new version (if your laptop isn't core i3 or i5 or i7, i mean your processor is celeron or something earlier than core i3) in thia case try to install version 1.15 and it will work correctly

[2020-04-09 21:01] ShaneSmiskol commented on #38372
Update: It seems if I use this model here instead of the one posted above, everything is fine up to batch size 64 while the one above shuts down my desktop immediately:

[code]

[2020-04-09 21:27] savetime1210 commented on #5155
i think tensorflow is not supported on python 3.8. Any idea?

[2020-04-09 21:51] kylekyle commented on #26245
Switching to `MirroredStrategy` seemed to fix it. Although I still can't install the nightly build ....

[2020-04-09 21:52] MarkDaoust commented on #38248
Thanks for taking a look @hihell

Can you be more specific?

I'll dive in and try to figure out what's wrong.

[2020-04-09 22:20] karimnosseir commented on #38302
Hi @cjluo-nuro,

Can you provide what toolchain do you need for building the delegate, so we make sure the provided libhexagon_interface.so is the same.
a bazel command for building the delegate.

Long term, we are working with QC to make sure we can put the code, currently we can't because of licensing.

Thanks

[2020-04-09 22:50] ymodak commented on #38386
You may try [limiting gpu memory growth](https://www.tensorflow.org/guide/gpu#limiting_gpu_memory_growth) in this case.
Put following snippet on top of your code;
[code]

[2020-04-09 23:05] py4 commented on #38381
@Saduf2019 It's in the middle of a project. I think I cannot provide a stand alone code to replicate issue...
I already had seen those links but I'm not using `convert_image_dtype` to scale the values. the `image_target_before_cast` is a float32 and all elements are between 0 to 255. So I expect to `tf.cast` to be able to cast to `uint8` properly.

[2020-04-09 23:28] desertnaut opened #38409 "Tensorflow Datasets with string inputs do not preserve data type"
All **reproducible** code below is run at **Google Colab** with **TF 2.2.0-rc2**.

Adapting the simple example from the [documentation][1] for creating a dataset from a simple Python list:

    import numpy as np
    import tensorflow as tf
    tf.__version__
    # '2.2.0-rc2'
    np.version.version
    # '1.18.2'

    dataset1 = tf.data.Dataset.from_tensor_slices([1, 2, 3])
    for element in dat

[2020-04-09 23:33] jdduke commented on #38312
@renjie-liu and @ashwinmurthy can offer further guidance.

[2020-04-10 00:03] thaink commented on #36555
The issue should be fixed at the latest master now.

[2020-04-10 00:03] #36555 closed

[2020-04-10 00:15] Scathos opened #38411 "Tensorflow-gpu not interacting with gpu after fresh install"
**System information**
- Windows 10
- pip install
- TensorFlow-gpu==1.15.2
-python 3.7.6
- using conda and trying to run through spyder and ubuntu for windows
- Bazel version (if compiling from source): idk
- GCC/Compiler version (if compiling from source): idk
- CUDA/cuDNN version: cuda 10.1 cuDNN 7.6.5 driver 436.3
- GPU model and memory: geforce 1660 ti

tensorflow can't see my gpu's I just nee

[2020-04-10 00:23] Maratyszcza commented on #38400
Doesn't #38131 solve it already?

[2020-04-10 00:25] Maratyszcza commented on #38400
Generally, cherry-picking commits which update XNNPACK/pthreadpool/cpuinfo is safe. XNNPACK maintains backward-compatible API for TensorFlow Lite.

[2020-04-10 00:28] lgeiger commented on #38400
#38131 solved part of the problem, but unfortunately it still failed later in the compilation due to the gcc error mentioned above.

[2020-04-10 00:31] Maratyszcza commented on #38400
You may try to add `--copt=-flax-vector-conversions` to Bazel command

[2020-04-10 00:39] Scathos commented on #38411
tf.test.is_built_with_cuda() returns true as well.

[2020-04-10 00:44] ashwinmurthy commented on #38312
We are in the process of releasing support for Keras LSTM to TFlite conversion. Could you install the latest TF nightly and try the following?

# Convert the model via TFLiteConverter.
converter = tf.lite.TFLiteConverter.from_saved_model("keras_lstm")
tflite_model = converter.convert()

This assumes you have  a saved model corresponding to the TF Keras LSTM model via something like:
model.save("ke

[2020-04-10 00:44] lgeiger commented on #38400
Thanks for the help

Unfortunately this doesn't seem to help, I still get the same error.

[2020-04-10 00:48] ashwinmurthy commented on #38312
Also, please ensure TF v2 behavior is enabled:

import tensorflow.compat.v2 as tf
tf.enable_v2_behavior()

[2020-04-10 00:55] 17patelumang opened #38412 "shape_invariants in tf.while_loop"
**System information**
OS Platform and Distribution : macOS Catalina 10.15.3

TensorFlow installed from : binary

TensorFlow version : 1.15.2

Python version: 3.7.3

So basically i have
`matrix = tf.constant([[[16,15,16,15,87],[3,4,3,4,87]],[[ 3,4,3,41,87],[0,0,0,0,0]]]) `

`b = tf.constant([[[1],[2]],[[1],[1]]])`

I want to

I want vector c such that

[ 16 15 16 15 87] is repeated [1] times ,
[ 3

[2020-04-10 01:06] tensorflowbutler commented on #36936
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-04-10 01:13] ronsoohyeong commented on #33569
Hi
Just change the latter part of the file name to py3-none-any.whl then it
should work.

2020년 4월 10일 (금) 04:35, zpymyyn <notifications@github.com>님이 작성:

[2020-04-10 01:44] zrct0 commented on #38312
How to install the latest TF nightly?

[2020-04-10 01:45] zhuzilin commented on #38386
I tried with this snippet, but same error occured. I've also tried `allow_soft_placement` and it didn't work either.

[2020-04-10 02:21] Alankriti44 commented on #33378
i am also facing the same issue and my system is Intel(R) Core(TM) i5-2450M CPU @2.50GHz. I even checked that it supports AVX. And now not able detect the issue.

[2020-04-10 02:34] NaNAGISaSA commented on #34215
have the same errors under ubuntu 1804 and gcc 7.5.0

[2020-04-10 02:37] czczup commented on #24607
[model_batchnorm](https://drive.google.com/file/d/1lJQCnTCNypn57M31DtktRJ0YaBLAlUkP/view?usp=sharing)
[model_instance_norm](https://drive.google.com/file/d/1TOdpWbOTTsVLVUMWROS_Sde5rKBXCP38/view?usp=sharing)
[model_without_norm](https://drive.google.com/file/d/1l4c0MGoEKN_m177tcodHdx_rNTzVYtIY/view?usp=sharing)

input shape: 1*128*128*3, tf.float32
output shape: 1*128*128*3, tf.float32

[2020-04-10 02:39] wangyunxiaa commented on #38295
Sorry,
I have solved this problem by the following way.
At the beginning,I add the cc_import library as followings:
[code]
I was always got the error metioned above.
However, I changed the  cc_import library to:
[code]
Then, I could build the .whl successfully.
But I donnot know the difference between `Linking a shared library with interface library (Windows)` and  `Linking a shared library with s

[2020-04-10 02:42] JinZhuXing opened #38413 "r2.1 windows libtensorflow build failed"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10 (1909) x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: None
- TensorFlow installed from (source or binary): Source
- TensorFlow version: r2.1
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: pip
- Bazel version (if compiling from source):

[2020-04-10 02:44] ashwinmurthy commented on #38312
pip install tf-nightly

[2020-04-10 02:48] rodrigoruiz opened #38414 "Resource exhausted: MemoryError: Unable to allocate"
Hi, I'm getting a `ResourceExhaustedError` in the middle of a training and I'm assuming that shouldn't be possible. I.e., either it happens in the very first iteration, showing me my GPU doesn't have enough memory to train my model or it works until the end.
In my case, it ran fine for 46 epochs (batch size = 8, image size = (720, 1280)), then I got the error.
I'm running the code from a Jupyter n

[2020-04-10 02:49] czczup commented on #38397
[model_batchnorm](https://drive.google.com/file/d/1lJQCnTCNypn57M31DtktRJ0YaBLAlUkP/view?usp=sharing)
[model_instance_norm](https://drive.google.com/file/d/1TOdpWbOTTsVLVUMWROS_Sde5rKBXCP38/view?usp=sharing)
[model_without_norm](https://drive.google.com/file/d/1l4c0MGoEKN_m177tcodHdx_rNTzVYtIY/view?usp=sharing)

input shape: 1\*128\*128\*3, tf.float32
output shape: 1\*128\*128\*3, tf.float32

my t

[2020-04-10 02:52] shivamdubey7466 opened #38415 "In v2.1.0, conversion of "tensorflow.python.framework.ops.Tensor" to array"
I have used **tf.nn.softmax_cross_entropy_with_logits(logits,labels)** , which as an output gives a tensor of type "tensorflow.python.framework.ops.Tensor".
I need to convert it into numpy array which by any means i am not able to do.
I have even tried to create tf.Session() but that to not working in this case.
Please help me out in it.

[2020-04-10 03:07] TMaysGGS opened #38416 "tf.keras: Model parameters suddenly updated to 'nan' during back propagation when training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.1.0
- Pyt

[2020-04-10 03:08] sibadakesi commented on #38341
Thinks a lot,i chose another  operators to soloved this problem!

[2020-04-10 03:08] #38341 closed

[2020-04-10 03:27] weinixuehao commented on #38188
@Saduf2019
It`s inference result is wrong with ssbo

[2020-04-10 04:06] tanzhenyu commented on #33566
Thanks for the write-up.
I'm not sure I understand the use case here -- this generator are mostly for RNN models, which we do need target to be the label as value of the last time step.
Are you using this for other things?

[2020-04-10 04:11] jvishnuvardhan commented on #30094
@mahzoon I am closing this as this was resolved in recent `tf-nightly`. Please feel free to reopen if this was not resolved for you. Thanks!

[2020-04-10 04:11] #30094 closed

[2020-04-10 04:14] tanzhenyu commented on #32133
Closing this based on above comments. Thanks all!

[2020-04-10 04:14] #32133 closed

[2020-04-10 04:14] 17patelumang commented on #38375
@jvishnuvardhan any update ?

[2020-04-10 04:19] jvishnuvardhan commented on #27298
@zzh8829 I am closing this issue as this was resolved in recent `tf-nightly`. Please feel free to reopen if this issue was not resolved for you. Thanks!

[2020-04-10 04:43] crthitmo commented on #34921
Hi @HsinJhao, wondering if you ever got this working? I attempted to implement the final version posted here and got the same error that it expects a str, not an EagerTensor.

[2020-04-10 04:56] jnd77 commented on #37039
@tanzhenyu Thanks for looking at the ticket.
But your code runs in eager execution, so obviously the numpy array has a shape.
Please check the [gist](https://colab.sandbox.google.com/gist/gowthamkpr/ac206fc5c714a86002377c7eb180a4fd/untitled1.ipynb) @gowthamkpr pepared with TF 2 (and still fails with tf-nightly)

[2020-04-10 05:11] zrct0 commented on #38312
It don't work either.
[code]
**The output is:**
[code]

[2020-04-10 05:12] tanzhenyu commented on #37039
Looks like the issue comes from backend.depthwise_conv2d, using tf.transpose(x, (0, 3, 1, 2))

[2020-04-10 05:15] BinyanHu commented on #36846
@maqy1995 Good job! And I would like to add a few more explanations for this issue. In multi worker training modes, the distribution strategy will "shard" the dataset, i.e., splitting the dataset and sending each worker a different part.

According to [documentation of `tf.data.experimental.DistributeOptions`](https://www.tensorflow.org/api_docs/python/tf/data/experimental/DistributeOptions), `aut

[2020-04-10 05:18] Expert73 commented on #37430
khaled-besrour, thanks! all work!

[2020-04-10 05:37] arwen-x commented on #25970
I am using tf 2.1.0 and experience the same problem, can you suggest anything?
Thank you!

[2020-04-10 05:45] pigubaoza commented on #34536
are there any updates to the x86 support?

[2020-04-10 05:46] abattery commented on #37659
Could you try using TFLiteConverter.from_saved_model via converting keras model to saved model?

[2020-04-10 05:50] rogeryuchao opened #38418 "save_weight/load_weight"
python 3.7/tensorflow 2.1

When I setup inception resnet v2 model and do training/validation, the accuracy is very high, already reaches 97%, while when I do save_weight, and load_weight to do testing, seems classification doesn't work properly(Cannot classified). Who can tell me what happens?

Hyper-parameter settings:
Adam learning rate = 0.0001
Adam decay =1e-4
L1_REGULIZER(kernel_regularizer)

[2020-04-10 05:54] agarwal-ashish commented on #34496
It's not clear why the while_loop based fallback for handling pfor should be causing the memory increase. The warning here is because the fallback could cause slowdowns compared to a more optimized vectorization. It will be worth looking at some memory profiles to pin down the cause.
Jacobian computation is going to be expensive and memory intensive. It's worth doing some calculations on expected

[2020-04-10 06:07] chuanqi129 commented on #38300
Hi @angerson and @gadagashwini , may I know the status of this issue?

[2020-04-10 06:12] kumaradi08 commented on #38254
@mihaimaruseac, Okay I will follow up with them. As of now I will wait for it to get compiled as it is. Thanks.

[2020-04-10 06:12] #38254 closed

[2020-04-10 06:40] ManishAradwad commented on #38248
I tried re-running the notebook with `initial_state=hidden`, the loss after 10 epochs is 0.076(Previously it was 0.0958). The attention plots are not exactly same but the translations are more or less similar.
For ex. Previously `try to find out` is now `try to figure it out`
Are these significant differences?

[2020-04-10 06:48] haifeng-jin opened #38419 "tf.python.keras.layers.preprocessing.index_lookup.IndexLookup cannot be saved and loaded"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Please check this Colab using tf-nightly.
Also reproduced in 2.2.0rc2
https://colab.research.google.com/drive/1Q

[2020-04-10 06:54] Rubix982 commented on #28785
Date April 10th, 2020, at commit 05ad339414ba7c95260bc71ecf79734a2c5e9d84 , issue is still unresolved. Can be reproduced by
`pip install tensorflow==1.14.0`

Either,
- Include tensorflow_model_optimization in tensorflow 1.13.1
- Or change and edit the documentation for the
[code]

[2020-04-10 06:58] hihell commented on #38248
@MarkDaoust
![Figure_1](https://user-images.githubusercontent.com/1401509/78970283-8998c980-7b3b-11ea-990a-98779e96ba84.png)
![Figure_2](https://user-images.githubusercontent.com/1401509/78970331-a6cd9800-7b3b-11ea-9aab-fcc9b2802afb.png)
this result is trained by 60k samples in 10 epochs

[2020-04-10 07:00] gulshanrana10 commented on #38346
I tried to produce the summary of model "test.h5". However the model isnt getting loaded and is giving the error because its an empty model with zero parameters.

Model: "test"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==============================================

[2020-04-10 07:05] zpymyyn commented on #33569
I think I deleted this comment right after posted.
Anyway, thanks.

[2020-04-10 07:08] mitsuix commented on #37960
@17patelumang
I also met this problem.
How did you sovle this problem? Thanks a lot

[2020-04-10 07:30] IamHimon opened #38420 "predict result with SavedModel are not same in Python Api and Java Api"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform and Distribution (windows 7):
- TensorFlow installed from (binary):
- TensorFlow version (cpu, 1.1

[2020-04-10 07:40] lizhen2017 opened #38421 "How to generate schema_generaed.h"
I try to add a builtin op for tflite, could you please tell me how to generate tensorflow/lite/schema/schema_generated.h
Thanks for your  help!

[2020-04-10 08:20] impjdi commented on #34536
Maybe with TF 2.3 release.

[2020-04-10 08:30] johann-petrak opened #38422 "Better documentation for the Embeddings Projector, especially graphs/edges?"
Apparently it is possible to render edges between data points in the embeddings projector but I cannot find the documentation for this anywhere. It is also not clear what other things might be possible which are not obvious or documented.
A column called `__next__` may have special meaning, judging from one of the examples, but it is not clear what exactly it can be used for, what the requirements

[2020-04-10 08:45] jliebers commented on #37942
Hey all,

so I could just verify that all of the problems in this issue are connected with the Windows-version of tensorflow. I installed a fresh Ubuntu Bionic and followed the instructions [0] to set it up with CUDA on my homeoffice-workstation with a GTX 1060 6GB and none of the described problems was ever encountered again. :/

So please save yourself the trouble and just use Linux to train you

[2020-04-10 08:53] scarrazza commented on #37307
Same issue for me.

[2020-04-10 08:55] ismael-elatifi opened #38423 "Error when loading h5 model inside strategy scope"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): **No**
- OS Pl

[2020-04-10 09:14] sonu1-p commented on #38346
Thanks for looking into this. My original model does have trainable params but I still get the same error. I think and have tested that the issue is not related with split but with reshape. See my comment above - https://github.com/tensorflow/tensorflow/issues/38346#issuecomment-610822712

I cannot change the syntax of my model as I am using tensorflow's in-built tf.signal.frame which internally i

[2020-04-10 09:16] ismael-elatifi commented on #32359
I opened a related issue (more general because not only for TPU) :
https://github.com/tensorflow/tensorflow/issues/38423

[2020-04-10 09:20] loretoparisi commented on #35084
The memory leak comes out when you run the framework over more samples, but yes it's complex to test it since it's a specific tool (audio separation).

[2020-04-10 09:24] Mostalk opened #38424 "UnicodeDecodeError"
**System information**
- csv2TFrecords
- Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from: pip install tensorflow==2.2.0rc2
- TensorFlow version : 2.2.0-rc2
- Python version: 3.8.2
 - GPU model: AMD HD 7950

**Traceback (most recent call last):
  File "tf.py", line 100, in <module>
    tf.app.run()
  File "C:\Use

[2020-04-10 09:25] UdiBhaskar commented on #36596
Got it. It is because of the Embedding layer. The gradient is not flowing through the embedding layer.

[2020-04-10 09:27] shanshanpt opened #38425 "TF2.x eager mode can not support ParameterServerStrategy now ?"
TF version: latest master ,  b083ceafd48b3c8e4d9dfcc40a6b743bed7b371a

Below is a simple example using TF2.0 eager mode, and it ran successful with `MirroredStrategy`, but error with `ParameterServerStrategy`.

[code]

**error message**

[code]

[2020-04-10 09:29] Ashwini-prkt opened #38426 "Not converting pb to tflite using tflite_convert with some custom ops"
**System information**
- OS Platform and Distribution = Linux Ubuntu 18.04
- TensorFlow installed from source
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**
/home/ashwini/Object_detection_general/environment/obj_det/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym o

[2020-04-10 09:39] sonu1-p commented on #38346
Tried out the work around suggested. It  seems to work for this case:
x = tf.keras.Input(shape=(None, 12), dtype="float32", name="input")
x_frequency = tf.signal.frame(x, 2, 1, axis=1)
model = tf.keras.Model(inputs=x, outputs=x_frequency, name="test")
model= tf.keras.models.Sequential([model,tf.keras.layers.Flatten(input_shape=(None,12))])

But can you please help me understand what the last line

[2020-04-10 09:41] abdulbasitha opened #38427 "Image Classification not working in Local System"
**System information**
**### - OS Platform and Distribution (MacOs Catalina):**
### **- TensorFlow version:2.1.0**
### **- Python version: 3.6.9**
### **- Platform - docker with jupyter notebook**

### **During The Image Classification, I got An error like this,
It working properly in google colab notebook**

[code]

`
and got an error
### **ImportErrorTraceback (most recent call last)
<ipython-in

[2020-04-10 09:45] RainerHeintzmann commented on #36111
I had a similar problem. I added the installation Cuda Toolkit 10.1 bin directory to the PATH variable, but the tensorflow environment did not seem to recongnize it and complained about not finding cudart64_101.dll. It turned out, that I did not restart PyCharm.
After closing and starting PyCharm, all the dlls were correctly recognized.

[2020-04-10 09:54] avinash31d commented on #2807
As far as I understand from this entire thread is there are no plans to put 8bit on x86 or desktop CPUs. I tried with transform graph as well as building and running TfLite on windows but still its very slow when it comes to quantized model. And if there no plans to support that, what should we users of tensorflow do? How do we get this thing supported?

[2020-04-10 09:57] GodSaveTheDucks commented on #38382
I faced the same issue. Downgraded PyCharm to pycharm-community-2019.3.4

[2020-04-10 09:59] Sicongzai commented on #37951
Both setting the pythonV2 and using python to run the script directly don't work. But, I am successful to do the evaluation after I reinstall tensorflow for source.

Thank you for all the help!

[2020-04-10 09:59] #37951 closed

[2020-04-10 10:04] crystina-z commented on #38190
Hi thanks for reply. I was trying to provide a snippet of code yet it just failed to reproduce the problem with the toy code and dataset.. then I decreased the size of gs files and now it seems working.

[2020-04-10 10:08] Jaskaran170599 commented on #38228
I would like to contribute on this feature, if any mentor could guide me.

[2020-04-10 10:17] gaebor opened #38428 "batch_jacobian incorrect"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution
   - Windows 10, Anaconda Python 3.7.6, tensorflow 2.1.0
   - Debian GNU/Linux 8.11 (jessie), Anaconda Python 3.7.3, tensorflow 2.0.0

**Standalone code to reproduce the issue**
[code]
output is
[code]
which is not `[jacobian(y[i], x[i]) for i in range(x.shape[0])]` as [stated here](https://www.tensorflow.org/a

[2020-04-10 10:21] zrct0 commented on #38312
It don't work either

[code]

**Output:**

[code]

[2020-04-10 10:37] zaccharieramzi commented on #35084
Ok gotcha, but so you don't instantiate the dataset in a loop?

[2020-04-10 11:32] ngc92 opened #38429 "Broadcasting sparse indices"
**System information**
- TensorFlow version (you are using): 2.1
- Are you willing to contribute it (Yes/No): Yes (partially, what can be done on the python side, and maybe CPU kernels)

**Will this change the current api? How?**
Add an operation to `tf.sparse.broadcast_indices` (feel free to suggest a beter name), doing the following:
[code]
This would provide a basic building block for arbitrary

[2020-04-10 11:35] jgciudad opened #38430 "flow_from_dataframe() doesn't shuffle data properly when splitting in subsets"
**System information**
- Google Colab
- Tensorflow 2.2.0-rc2

**Describe the current behavior**
When `validation_split` is set to some value in `ImageDataGenerator` in order to split the data in two subsets to train and validate, and then shuffle is set to true in `flow_from_dataframe`, the shuffling occurs after this division. This makes the two subsets have different distributions, with a big im

[2020-04-10 11:41] ambitioncn commented on #38279
Please let me know when you have a fix, thanks!    On Thursday, April 9, 2020, 03:59:55 PM GMT+8, amahendrakar <notifications@github.com> wrote:

Was able to reproduce the issue with TF v2.2.0rc2 and TF-nightly. Please find the gist here. Thanks!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-10 12:00] liuxingbaoyu commented on #38230
Maybe related https://github.com/tensorflow/tensorflow/issues/36072

[2020-04-10 12:11] duduscript commented on #19731
Same issue, please reopen the issue.

[2020-04-10 12:48] freedomtan commented on #38427
install `PIL` or equivalent package such as [`pillow`](https://pypi.org/project/Pillow/) then, e.g.,
[code]

[2020-04-10 12:59] faizanf47 commented on #28485
Any Luck?

[2020-04-10 13:03] jvishnuvardhan commented on #38423
@ismael-elatifi I agree with you that it is not working with `TF2.1`. However, when I tried with recent `tf-nightly`, it is working as expected. [Here](https://colab.research.google.com/gist/jvishnuvardhan/b93d61013733e421467e1180e3576f82/loading_model_in_scope.ipynb) is a gist for your reference. Based on the gist, I guess this was resolved in recent `tf-nightly`. If you like stable version, In t

[2020-04-10 13:05] mdanatg commented on #38375
@17patelumang you wrote in your example:

[code]

But according to the output you described, I believe you wanted:

[code]

(that is, the last element is 1, not 0).

The answer to that question is important because in the first case, you'd end up with a tensor with 11 elements on the first row, but only 10 elements on the second, which cannot be represented as a dense tensor and would require a ra

[2020-04-10 13:06] freedomtan commented on #38421
most likely it's generated by running [`flatc`](https://google.github.io/flatbuffers/flatbuffers_guide_using_schema_compiler.html) of [`flatbuffer`](https://google.github.io/flatbuffers/)

just curious, why TFLite [custom op](https://www.tensorflow.org/lite/guide/ops_custom) is not enough?

[2020-04-10 13:09] adfayed opened #38431 "Converting retrained ssd_resnet50_v1 object detection model to TFLite for use on Coral USB Accelerator"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- TensorFlow installed from (source or binary): **tf-nightly installed through pip**
- TensorFlow version (or github SHA if from source): **2.2.0.dev20200401**
- **Nvidia GeForce GTX 1050 Ti Driver Version: 440.64.00**
- **Cuda compilation tools, release 9.0, V9.0.176**
- **CUDNN_MAJOR 7 CUDNN_

[2020-04-10 13:09] freedomtan commented on #38426
as said in the message you posted, you should set `allow_custom_ops=True`

[2020-04-10 13:10] amahendrakar commented on #26608
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-10 13:10] #26608 closed

[2020-04-10 13:12] amahendrakar commented on #33790
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-10 13:12] #33790 closed

[2020-04-10 13:20] adfayed opened #38432 "Converting retrained ssd_resnet50_v1 object detection model to TFLite for use on Coral USB Accelerator"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 16.04**
- TensorFlow installed from (source or binary): **tf-nightly installed through pip**
- TensorFlow version (or github SHA if from source): **2.2.0.dev20200401**
- **Nvidia GeForce GTX 1050 Ti Driver Version: 440.64.00**
- **Cuda compilation tools, release 9.0, V9.0.176**
- **CUDNN_MAJOR 7 CUDNN_

[2020-04-10 13:41] gulshanrana10 commented on #38211
@YingzhouLi, As you haven't called for the call function, thatswhy it isn't being concatenated and is not showing all 6 vectors. Probably certain changes might help in showing all 6 vectors and finally call function will concatenate all of the vectors-
Please find the changes here-[colab_link](https://colab.research.google.com/gist/gulshanrana10/ea4520455f4591ed0364ea58aab229d6/38211.ipynb#scrollT

[2020-04-10 13:45] vnvo2409 commented on #19297
On Linux, when I build with `--config=monolithic`, the behavior is extractly the same on Windows. `s3` is not linked into tensorflow and there are several ODR violations, just like windows

[2020-04-10 13:48] gaebor commented on #35760
It's still the old documentation: https://www.tensorflow.org/api_docs/python/tf/linalg/diag_part

[2020-04-10 13:55] thisisreallife opened #38433 "No specific error when import keras"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): win10 Enterprise
- Mobile devi

[2020-04-10 13:55] 17patelumang commented on #38375
@mdanatg  I want empty tenor where its zero in tensor c.  I agree I would need ragged tensor and i am trying to fiddle with it since last 2 days , could you please help me with that.

[2020-04-10 13:57] netw0rkf10w commented on #33459
Hmm... I think this issue is rather critical... Imagine getting 2-3% lower accuracy than PyTorch just because of bad conversion of pretrained models? That'd be a pity...

[2020-04-10 13:58] gaebor opened #38434 "diag_part doesn't work for sub/super diagonals"
**System information**
- Have I written custom code: no, see https://www.tensorflow.org/api_docs/python/tf/linalg/diag_part
- OS Platform and Distribution:
  - Windows 10, Anaconda Python 3.7.6, tensorflow 2.1.0
  - Debian GNU/Linux 8.11 (jessie), Anaconda Python 3.7.3, tensorflow 2.0.0

**Describe the current behavior**
If I ran the example code:
[code]
***result***
[code]
***expected***
[code]
I

[2020-04-10 13:58] amahendrakar commented on #37942
@jliebers,
I this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-10 13:59] amahendrakar commented on #37950
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-04-10 14:06] amahendrakar commented on #38145
Any updates regarding this issue? Thanks!

[2020-04-10 14:08] amahendrakar commented on #38173
Any updates regarding this issue? Thanks!

[2020-04-10 14:09] amahendrakar commented on #38181
Any updates regarding this issue? Thanks!

[2020-04-10 14:11] amahendrakar commented on #38190
@crystina-z,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-04-10 14:17] abdulbasitha commented on #38427
it alredy installed it show like
`Requirement already satisfied: pillow in /usr/local/lib/python3.7/site-packages (5.3.0)`

[2020-04-10 14:20] freedomtan commented on #38427
According to your messages. Your pillow is for Python 3.7 but your TesnorFlow is in Python 3.6.

[2020-04-10 14:22] abdulbasitha commented on #38427
ok it's worked thank u

[2020-04-10 14:22] #38427 closed

[2020-04-10 14:24] abdulbasitha commented on #38427
**### solved by installing pillow in docker CLI**

[2020-04-10 14:28] jvishnuvardhan commented on #35151
@thisisandreeeee Is this resolved. If this was resolved already, please close the issue. Thanks!

[2020-04-10 14:29] jvishnuvardhan commented on #33189
@sgambient Is this still an issue? Please close the issue if this was resolved already. Thanks!

[2020-04-10 14:39] mdanatg commented on #38375
So `tf.tile` is not powerful enough to handle this use case. It only knows how to repeat entire dimensions a constant number of times.

You'll need to build it manually instead, here's a way to do it. The code uses autograph and I've only tested it in TF 2, but let me know if you have trouble using it in TF 1.

[code]

[2020-04-10 14:46] 17patelumang commented on #38375
@mdanatg  thank you for reply . I asked the actual question for tensor a1,b1,c1 .

1. Could you please look into that so basically I want

`a1 = tf.ragged.constant([[[b'a1', b'a2', b'a3'], [b'b1', b'b2', b'b3'], [b'c1', b'c2','c3']], [[b'd1'], [b'e1', b'e2']]])`

`b1 = tf.ragged.constant([[[b't1', b't2', b't3'], [b'u1', b'u2'], [b'v1', b'v2']], [[b'w1'], [b'x1', b'x2', b'x3']]])`

`I have a1 , b1

[2020-04-10 14:53] 17patelumang opened #38435 "tf.ragged - tf.tile like operation for each dimension"
**System information**

     OS Platform and Distribution : macOS Catalina 10.15.3

    TensorFlow installed from : binary

    TensorFlow version : 1.15.2

    Python version: 3.7.3

I have a1 and a2 ragged tensor

`a1 = tf.ragged.constant([[[b'a1', b'a2', b'a3'], [b'b1', b'b2', b'b3'], [b'c1', b'c2','c3']], [[b'd1'], [b'e1', b'e2']]])`

`b1 = tf.ragged.constant([[[b't1', b't2', b't3'], [b'u1', b

[2020-04-10 14:53] mdanatg commented on #38375
1. So I suspect in your original code b was the lengths of the rows in `b1`. Please give the code I showed you a try. You should be able to easily modify it so that the inner loop uses `len(b2)` instead of `b2[0]`.

2. Yes, this should work with SavedModel. The loop you indicated is converted to a `tf.while_loop` by autograph, see https://www.tensorflow.org/guide/function.

[2020-04-10 14:55] wannibar commented on #18572
# coding: utf-8
import collections
import os
import sys
import time
import re
import math
import random

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.python.feature_column.feature_column import _CategoricalColumn
from tensorflow.python.framework import dtypes, tensor_shape
from tensorflow.python.ops import par

[2020-04-10 15:07] marcoadurno opened #38437 "xla_build CMakeLists.txt - multi platforms"
Hello,

0663149 added CMake support for the upcoming standalone XLA AOT build in TensorFlow 2.2.

However some of the compile options defined in there seem to be for Linux only. When using cmake to build the `xla_aot_runtime_src` from the installed pip package and with the default CMakeLists.txt, I get the following behaviour:
- Linux, everything works;
- MacOS, build succeeds but with a warning o

[2020-04-10 15:08] tanzhenyu commented on #36596
Can you get the gradient of the input by calling:
[code]
instead of:
[code]
?

[2020-04-10 15:16] YingzhouLi commented on #38211
@gulshanrana10 Thank you very much for the fix. It works. However, I am very much confused by the mechanism behind this. I am relatively new to python but familiar with C++ class. Why tensorflow cannot catch self.FooTns directly, which is also a member of the class as self.array in __init__?

[2020-04-10 15:16] 17patelumang commented on #38375
@mdanatg thank you again ! :) .

2. Wrt to 2 thank you , so does it mean using `@tf.function` we can coonvert our python code feature processing into TF api feature processing and port it to saved model ?  If thats the case then we can ideally convert our python code to TF API feature transformation to port to saved model and then once we have savedmodel it will become platform independent correct

[2020-04-10 15:22] amitDaMan commented on #38402
I am not too familiar with the bazel build system, however in:
https://github.com/tensorflow/examples/blob/master/lite/examples/smart_reply/android/app/WORKSPACE

the WORKSPACE file makes a reference to:
https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/316e6133888bfc39fb860a4f1a31cfcbae485aef.tar.gz

which gives a 404, rather then a tar.gz

[2020-04-10 15:41] amalroy2016 commented on #35533
Any update on this? The Keras fit method is not serving my purpose and tf.GradientTape not working means TFv2 is now completely useless for my research. I am not sure going back to TFv1 is a good idea. Kindly give an update on when to expect a fix.

[2020-04-10 15:44] ianferreira commented on #36846
@BinyanHu  please update your examples, because the example uses MNIST :)

[2020-04-10 15:44] amahendrakar commented on #38311
Was able to reproduce the issue with [TF-nightly](https://colab.research.google.com/gist/amahendrakar/594b38f7a23dc304debc2868a32b9d0a/38311-tf-nightly.ipynb) i.e. v2.2.0.dev20200410.

On running the above code with [TF v2.2.0rc2](https://colab.research.google.com/gist/amahendrakar/1353339ab5e6940f70a9697f418d614d/38311-2-2.ipynb#scrollTo=BfzADgjtSfGs), facing an error stating `AttributeError: 'TF

[2020-04-10 15:47] mihaimaruseac commented on #19297
I think the plugin has to be loaded manually via `load_library`. At least on Linux the shared object can be built.

[2020-04-10 15:48] mihaimaruseac commented on #33378
@Alankriti44 did you install the latest MSVC redistributable?

[2020-04-10 15:54] mihaimaruseac commented on #38325
What is the version of your compiler? Which compiler are you using? These were fields in the issue template but I don't see them in the issue opening.

You are using Bazel 2.0.0 and building on master, right?

Please use ` ``` ` before and after long code blocks instead of just 1 backtick. The formatting is more readable that way

[2020-04-10 15:55] lgeiger commented on #38400
#38436 Fixes the issues for us, though not sure if there is a more elegant solution.

[2020-04-10 15:55] vnvo2409 commented on #19297
@mihaimaruseac Could you tell me more about the current implementation of C API Modular Filesystem. So that I can have a plan working on the plugin and not to put too much efforts here

[2020-04-10 16:00] vjuss commented on #37709
Hi, I am new here so bear with me and let me know if I should make a new thread! I get a bit similar error from the same part of the same tutorial code:

`NameError                                 Traceback (most recent call last)
<ipython-input-5-c54eeda8599b> in <module>()
----> 1 encode_train = sorted(set(img_name_vector))
      2
      3 # Feel free to change batch_size according to your syste

[2020-04-10 16:02] mdanatg commented on #38375
A few good places to start are the documentation of [tf.function](https://www.tensorflow.org/api_docs/python/tf/function), and the [autograph reference](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/autograph/g3doc/reference/index.md). The hardest part is until you get used to understanding which parts of Python work and which don't.

Re: (2), yes, this lets you write plat

[2020-04-10 16:10] wadewangpower commented on #38240
Afterwards, i found i temporarily don't need to build this .so file. If in the future i still need to build file with bazel in ubuntu os, i will try your advice~

[2020-04-10 16:13] amahendrakar commented on #38195
@diggee,
I was able to run the code without any issues. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/8ed714c3cf849fea5c8d8a9376b465d5/38195-2-1.ipynb).

Could you please check if you are able to reproduce the error in a virtual environment. Thanks!

[2020-04-10 16:13] 17patelumang commented on #38375
@mdanatg thank you.

Re 2: wrt to feature missing we are talking about `range(len(a))` ?
Re1 : wrt to 2 , i understood your code but when i try to run it gives error -

`    ValueError: Input tensor 'placeholder_2:0' enters the loop with shape (2,), but has shape (?,) after one iteration. To allow the shape to vary across iterations, use the `shape_invariants` argument of tf.while_loop to specify

[2020-04-10 16:30] mdanatg commented on #38375
`range(len(a))` works when `a` is a Tensor. But other things, like `zip(a, b)` when `a` or `b` are tensors, don't work yet. That kind of things. And all things that do work should be compatible with SavedModel. If they don't, then it's a bug :) . Does this answer your question?

That error is strange. The line `tf.autograph.experimental.set_loop_options(shape_invariants=[(acc1, tf.TensorShape([Non

[2020-04-10 16:31] mihaimaruseac commented on #19297
That sounds good.

The entire implementation is under [`c/experimental/filesystem`](https://osscs.corp.google.com/tensorflow/tensorflow/+/master:tensorflow/c/experimental/filesystem/). There is a [test suite](https://osscs.corp.google.com/tensorflow/tensorflow/+/master:tensorflow/c/experimental/filesystem/modular_filesystem_test.cc), the [API interface plugins needs to be compiled against](https:/

[2020-04-10 16:39] jjhelmus commented on #37938
leocd91 If you are using the Tensorflow package from Anaconda you can open an issue in https://github.com/ContinuumIO/anaconda-issues/issues. I can try to help with the additional information request in that template.

[2020-04-10 16:39] vnvo2409 commented on #19297
Everything you send me require me a MOMA Single Sign On and I do not have the account 😢

[2020-04-10 16:52] 17patelumang commented on #38375
@mdanatg  yes i got it `range(len(a))` , thank you :) .

Also switching to TF 2.0 is not practical as of now , so i tried the code you suggested as below and i am something strange .

When I try below

[code]
I get below output
[code]

But when i try to put `@tf.function` above the function and run exactly same way it gives below error

[code]
I  need to port this as part of TF API transformation

[2020-04-10 16:55] #36343 closed

[2020-04-10 17:00] mdanatg commented on #38375
Ah, that's another bug fix that landed in TF 2 and not in TF 1.15.... previously, shape_invariants required a value for all loop vars, and only recently we allowed setting some of them to None. Could you try changing this line:

`_, acc1 = tf.while_loop(loop_test, loop_body, [0, acc1],shape_invariants=[tf.TensorShape([]), tf.TensorShape([None, None])])`

The error message it throws is quite bad, a

[2020-04-10 17:02] k-w-w commented on #38346
There's an issue when reshape is called with an empty list as the shape. I can't think of a workaround but looking into a way to fix this.

[2020-04-10 17:04] yongtang commented on #19297
@vnvo2409 The files are located on the master branch of the tensorflow repo. You can replace name mentioned by @mihaimaruseac with the repo, e.g., :

https://github.com/tensorflow/tensorflow/tree/master/tensorflow/c/experimental/filesystem

[2020-04-10 17:06] vnvo2409 commented on #19297
thank you

[2020-04-10 17:11] 17patelumang commented on #38375
@mdanatg thank you again ! :)
Just for other who wants working code below is the code
[code]

output

<tf.RaggedTensor [[[b'a1', b'a2', b'a3'], [b'b1', b'b2', b'b3'], [b'c1', b'c2', b'c3']], [[b'd1'], [b'e1', b'e2']]]>
[code]

1. Wrt to filing bug request , i will do it referencing this ticket .
2. Also Now the above function has all the function which will work in TF API correct ? (please correct

[2020-04-10 17:12] mihaimaruseac commented on #19297
Oh, sorry, I was using the links from my work computer. You can also replace the prefix of the links from `osscs.corp.google.com`, to `cs.opensource.google`

[2020-04-10 17:19] jliebers commented on #37942
Hey @amahendrakar ,

for me personally it is not an issue anymore since I switched my OS.

For tensorflow though, which officially supports MS Windows, it is an open issue and of course for all Windows-users aswell. 😉

[2020-04-10 17:19] 17patelumang opened #38438 "shape_invariants "None" for all loop variables for tf 1.15.x"
OS Platform and Distribution : macOS Catalina 10.15.3

TensorFlow installed from : binary

TensorFlow version : 1.15.0

Python version: 3.7.3

When I try below

[code]
I get below output
[code]

But when i try to put `@tf.function` above the function and run exactly same way it gives below error

[code]
Opening a feature request as per discussion in ticket - [https://github.com/tensorflow/tensorfl

[2020-04-10 17:28] mdanatg commented on #38375
If it works with this test than the function should work with SavedModel and all the other APIs - let me know if it doesn't. Be sure you keep the @tf.function decorator.

[2020-04-10 17:30] mrry commented on #13101
Thanks for all the great feedback on this thread! Since this is now an old issue and the `Dataset.from_generator()` API and implementation have evolved, I'm going to close the thread now. Please feel free to open new issues if you have comments about `Dataset.from_generator()` or how it could be made more useful.

[2020-04-10 17:30] #13101 closed

[2020-04-10 17:32] gowthamkpr commented on #38372
@ShaneSmiskol Similar issue has been discussed [here](https://www.nvidia.com/en-us/geforce/forums/discover/260522/pc-auto-shuts-down-when-running-keras-tensorflow-backend-may-be-a-psu-issue-/). Please take a look at it.

[2020-04-10 17:37] 17patelumang commented on #38375
@mdaley sure i will respond if it works by tuesday next week

[2020-04-10 17:39] 17patelumang commented on #38375
@mdanatg i will try to see if it works in savedmodel in TF 1.15.x and will repond by Tuesday next week max.

[2020-04-10 18:15] gowthamkpr commented on #38367
As mentioned [here](https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth#used-in-the-notebooks) If memory growth is enabled for a PhysicalDevice, the runtime initialization will not allocate all memory on the device. Memory growth cannot be configured on a PhysicalDevice with virtual devices configured.

[2020-04-10 18:17] ninjakx commented on #38181
I have lost the code. I was running a SO code.

[2020-04-10 18:17] #38181 closed

[2020-04-10 18:29] tsharma82 opened #38442 "PySpark Deep Learning Pipeline - ClassNotFoundException: org.tensorframes.ShapeDescription"
I am getting the following exception while running Deep Learning Pipeline in Spark.
Versions of

tensorflow and tensorframes : 2.0.0
conda : 4.8.3
pip : 20.0.2
python: 3.6

The exception comes while calling fit method of the pipeline:

    p = Pipeline(stages=[featurizer, lr])
    p_model = p.fit(train_df)

**Stack Trace**

[code]
Any suggestions to solve this?

[2020-04-10 19:22] karimnosseir commented on #30315
@amahendrakar Can you share the sample code ?
The example in the original issue works when i tried it.

Thanks

[2020-04-10 19:33] 17patelumang commented on #38375
@mdanatg I think  there is  bug in script
for same  above script its giving wrong output

[code]
output
[code]

[2020-04-10 20:06] gowthamkpr commented on #37826
Closing this issue as it has been inactive for more than 2 weeks. Please add additional comments for us to open this issue again. Thanks!

[2020-04-10 20:06] #37826 closed

[2020-04-10 20:12] #36619 closed

[2020-04-10 20:22] FMalerba commented on #38367
I understand, but is it possible as it was before to both set memory growth and a hard limit on the maximum amount of memory that it can occupy

[2020-04-10 20:24] gowthamkpr commented on #38367
As per the documentation, it is not possible @FMalerba

[2020-04-10 20:25] isaacgerg opened #38443 "Simple graph invoking tf.complex() doesn't work on GPU, but works on CPU"
**Environment**: Windows 10, Python 3.6, Tensorflow 2.1.0-rc2

The code below demonstrates a minimal working example of the  bug.  This code results in CUDA_ERROR_LAUNCH_FAILED when run on the GPU.  But, if you run on the CPU, the code has no issues.  I suspect the problem lies in the tensor coming out of tf.complex() as if I do not use that function, the issues seems to go away.

A small working

[2020-04-10 20:28] yifeif commented on #35576
@abcdabcd987, I believe this has been fixed in 2.2.0rc2. Let me know if you are still seeing this issue with the latest version.

[2020-04-10 20:30] FMalerba commented on #38367
Thank you very much for the info

[2020-04-10 20:30] #38367 closed

[2020-04-10 20:36] houtoms commented on #37091
@HendrikLaux We don't have it on our plan in the near term to support higher order gradient RNN. But I can help issue a RFE if you think this is needed because, for example, the performance of it is the bottleneck.

[2020-04-10 20:44] 17patelumang commented on #38375
@mdanatg what we need is for dynamic input -
eg -
x= <tf.RaggedTensor [ [ [b'd1'], [b'e1', b'e2'] ]........ ]>
taking  (just for example)
P = [b'd1']
Q = [ [b'd1'], [b'e1', b'e2'] ]

the number of elements in P and Q can change but if x 's 2nd level list has N elements , y's 2nd level list will also have N elements , the number of elements in 3rd level list of x's can differ from y's third level l

[2020-04-10 20:50] Koebims commented on #36111
nice

[2020-04-10 20:51] ShaneSmiskol commented on #38372
I've seen that and many more posts online about tensorflow or just gaming in general that shuts down their computer. However nearly all of them conclude that the PSU is the issue which is strange because it happened with my old 550W PSU as well as my brand new 700W Thermaltake PSU I just installed, so I don't understand what's going wrong here. I've seen the GPU power usage above 225W yet it train