[2020-03-20 16:56] gragundier opened #37756 "AttributeError when attempting to import Tensorflow on Windows 10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2020-03-20 16:58] ravikyram commented on #37743
@gadagashwini

Can you please copy and paste the link in new  web browser and see if you are facing any issue. Thanks!

[2020-03-20 16:59] #36772 closed

[2020-03-20 16:59] Jack-Hewson commented on #36772
Sorry I made the mistake in creating an inference graph and not the graph for tflite

[2020-03-20 17:09] TimCapes opened #37757 "TFLite - Experimental New Converter, incorrect model for Bidirectional GRU"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
Yes Provided B

[2020-03-20 17:11] gragundier commented on #37756
Just to add and prove that I've at least looked at previous posts similar to this:
CPU: i7-4790k
I do indeed have VS 2015-2019 x64 installed.
From what I can tell this CPU supports AVX2

[2020-03-20 17:19] mihaimaruseac commented on #37702
That is because we did the release before the fix. We will have fixed release notes for the next rc/final release

[2020-03-20 17:25] shrikantzarekar4 commented on #23755
Same issue... any suggestion?

[2020-03-20 17:29] mihaimaruseac commented on #23755
Please open new issues and fill in the template. Also, search for similar issues, they might have been already solved.

For Windows, please make sure the following are all checked:

1. your CPU supports AVX
1. you have installed the latest MSVC redistributable from Microsoft
1. you have a 64 bits Python
1. `pip` has been updated to the last version (`pip install --upgrade pip`)

Locking conversati

[2020-03-20 17:29] jdduke commented on #37757
Have you actually tried executing the graph in the TFLite interpreter? Shape inference during conversion isn't guaranteed to propagate to output nodes, especially when using SELECT_TF_OPS. It should be resolved at runtime when you run inference.

[2020-03-20 17:30] ElPapi42 commented on #35226
Same here, can someone  elaborate the solution further?

[2020-03-20 17:32] mihaimaruseac commented on #37756
Can you please post the output of `pip list`?

[2020-03-20 17:32] mihaimaruseac commented on #30191
Locking conversation to prevent a stream of "it works"

[2020-03-20 17:33] mihaimaruseac commented on #37752
Please fill in the template and use ` ``` ` around the code locks. Please do some effort to make the issue readable so solutions can be provided faster.

[2020-03-20 17:34] mihaimaruseac commented on #37752
`contrib` no longer exists, please use `bazel` to build

[2020-03-20 17:35] jhseu commented on #37568
So this error is due to the use of summaries. You have a few options:
1. Disable summaries.
2. Pass summaries through host_call in TPUEstimatorSpec. The function that you specify there will be run on the host CPU.
You can see examples of this in the github.com/tensorflow/tpu repository.
3. Alternatively we now support running CPU computations in the middle of the TPU computation. You need to set:

[2020-03-20 17:35] mihaimaruseac commented on #37742
We are already at the size limit for our pips, so this will need to wait a while until lite can be separated from TF

[2020-03-20 17:39] kaiwalya4850 commented on #37742
Any alternative to this? Anything else that i can do?
Thank you.

[2020-03-20 18:03] hope-yao commented on #31053
Similar problem. Did you solve it?

[2020-03-20 18:17] Eshan-Agarwal opened #37758 "tf.io.gfile.glob missing some patterns. Using tf-nightly"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device:
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): tf-nightly
- Python ve

[2020-03-20 18:20] TimCapes commented on #37757
Good to know. It works on device with the correct size, closing.

[2020-03-20 18:20] #37757 closed

[2020-03-20 18:20] Guilherme99 opened #37759 "ImportError: DLL load failed: Uma rotina de inicialização da biblioteca de vínculo dinâmico (DLL) falhou."
ImportError: DLL load failed: Uma rotina de inicialização da biblioteca de vínculo dinâmico (DLL) falhou.
Traceback (most recent call last):
  File "C:\Python\Python36\lib\site-packages\tensorflow_core\python\pywrap_tensorflow.py", line 58, in <module>
    from tensorflow.python.pywrap_tensorflow_internal import *
  File "C:\Python\Python36\lib\site-packages\tensorflow_core\python\pywrap_tensorflo

[2020-03-20 18:47] jdduke commented on #21473
We're working on some usability updates for LSTMs. Stay tuned.

[2020-03-20 18:47] #21473 closed

[2020-03-20 18:48] jdduke commented on #22531
Hi @curtpm, is this feature request still of interest?

[2020-03-20 18:49] jdduke commented on #22891
Closing due to stale history, feel free to re-open if this is still an issue.

[2020-03-20 18:49] jdduke commented on #17158
We've landed quite a few improvements to the converter, including a new conversion backend in the upcoming 2.2 release.

[2020-03-20 18:49] #17158 closed

[2020-03-20 18:50] jdduke commented on #23917
Closing due to stale history, feel free to re-open if this is still an issue.

[2020-03-20 18:50] #23917 closed

[2020-03-20 18:50] #23677 closed

[2020-03-20 18:51] jdduke commented on #23677
Closing due to stale history, feel free to re-open if this would still be of value.

[2020-03-20 18:51] jvishnuvardhan commented on #32348
@Danfoa Please create a new issue with details related to issue and a standalone code to reproduce the issue. Thanks!

[2020-03-20 18:55] #37067 closed

[2020-03-20 18:56] haozha111 commented on #26696
Hi,

Sorry for the update. Could you try use tf-nightly which enables the new MLIR converter by default?

I believe this is an issue with the old TOCO converter which is deprecated. Thanks!

[2020-03-20 19:04] gragundier commented on #37756
`Package                Version
---------------------- -------------------
absl-py                0.9.0
astor                  0.8.1
astunparse             1.6.3
cachetools             4.0.0
certifi                2019.11.28
chardet                3.0.4
gast                   0.2.2
google-auth            1.11.3
google-auth-oauthlib   0.4.1
google-pasta           0.2.0
grpcio                 1.27.2

[2020-03-20 19:05] jdduke commented on #37706
The `selu` activation has never been supported, have you tried using a different activation in your graph?

[2020-03-20 19:07] jdduke commented on #37706
In particular, `selu` requires certain initialization parameters that aren't supported by TFLite for inference (see https://www.tensorflow.org/api_docs/python/tf/keras/initializers/lecun_normal). If you'd like to run this model natively in TFLite your best bet is to find an alternative.

[2020-03-20 19:12] jvishnuvardhan commented on #34891
@TomorrowIsAnOtherDay I updated part of your code. You could use the following to access just a column and subtract it from the whole tensor.

[code]

Please close the issue if this was resolved for you. Thanks!

[2020-03-20 19:28] butterfly-coder commented on #36555
I've faced same problem. Is there any way to solve this issue?

[2020-03-20 19:41] Miller144 opened #37760 "Modifying an existing Tensorflow.js tutorial. Trying to modify 'part_3' of tutorial with code from 'part_4 handsign example'. Images not being read correctly."
[Part 3: MNIST Classification]: https://medium.com/ailab-telu/learn-and-play-with-tensorflow-js-part-3-dd31fcab4c4b

[Part 4: Application Example]: https://medium.com/ailab-telu/learn-and-play-with-tensorflow-js-part-4-f011eb7bf4dc

Github link for tutorial: https://github.com/adf-telkomuniv/TensorFlowJS_Tutorial

After completing the the tutorial for '[Part 3: MNIST Classification]', I tried to a

[2020-03-20 20:14] preethivenkatesh commented on #36717
@ashahba Even I thought this issue could be because on 2.7, but I was able to reproduce this issue on py36 when I tired.

[2020-03-20 20:17] samuelgjabel commented on #29750
thanks helped me  :p

[2020-03-20 20:25] valorusa opened #37761 "Failed to convert object detection model to tensorflow lite"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-03-20 20:31] qlzh727 commented on #36508
Thanks @olalakul for the sharing. I think this is an env config issue, and reconfig the runtime (or virtual env) should fix the issue.

[2020-03-20 20:31] #36508 closed

[2020-03-20 20:32] mihaimaruseac commented on #29750
Locking to prevent "it works" and "thanks" messages from drowning up the solution

[2020-03-20 20:32] khaled-besrour commented on #37430
I have the same problem with Tensorflow 2.2.0 and Visual Studio 2019.
I solved the problem with a small patch, I don't know if a memory leak is possible or not like that.
[code]

become
[code]
Now my compilation stop in /Eigen/src/Core/util/ReenableStupidWarnings.h
but i think there is no relation between my patch and this problem

[2020-03-20 20:36] mihaimaruseac commented on #37756
So you have both nightly and released versions. Can you try the following two commands please?

[code]

[2020-03-20 20:36] coolioxlr commented on #37317
Any chance to make the archive whl in Python3.6 instead since Google collab hosted runtimes is running Python3.6

[2020-03-20 20:38] khaled-besrour commented on #37430
I have the same problem with Tensorflow 2.2.0 and Visual Studio 2019.
I solved the problem with a small patch, I don't know if a memory leak is possible or not like that.
[code]

become
[code]
Now my compilation stop in /Eigen/src/Core/util/ReenableStupidWarnings.h
I don't konw if there is a relation between my patch and this problem

[2020-03-20 20:42] duncanriach commented on #33660
Thank you, @gadagashwini. I can confirm that this issue is resolved in TensorFlow version 2.1.0. Closing.

[2020-03-20 20:42] #33660 closed

[2020-03-20 20:43] ethereon commented on #36146
I believe the described issue still exists. With PR #36186 , it produces a warning (with a typo) before failing with the same exception as before

[code]

Indeed, even as a workaround, it's not immediately clear that the recommendation should be to adopt `MutableMapping`, which seems like a stronger requirement than just accepting `(key, value)` pairs in the constructor...

[2020-03-20 20:44] qlzh727 commented on #33148
@houtoms, do u know whether the fix has reach the public release? If that's the case, please share a script/colab that includes version and the working model. Thanks.

[2020-03-20 20:48] qlzh727 commented on #28698
Sorry for the very late reply. This feature is quite stale and we actually don't have much bandwidth to address it. I am closing this for now, and feel free to reopen it if this is feature request is critical.

[2020-03-20 20:48] #28698 closed

[2020-03-20 20:52] jvishnuvardhan commented on #37729
@hankcs I tried several time with `TF2.1` and `tf-nightly` and I could not reproduce the issue. Some time TF is faster and sometime Pytorch is faster but the difference is not much. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/1b4db6482cc71218451f1e4b7ed120cb/untitled36.ipynb).

Output is as follows

[code]

I have a question. Are you importing it in `for` loo

[2020-03-20 20:53] goldiegadde commented on #32412
Closing this now, @faizanahemad please feel free to re-open if you still continue to see the issue.

[2020-03-20 20:53] #32412 closed

[2020-03-20 21:00] #37593 closed

[2020-03-20 21:03] qlzh727 commented on #33924
I ran the colab on with latest nightly again, and didn't see any error. I suspect this is an issue only happens in certain env config. For any of you still facing the issue, please try with some clean env, and also include the version information when u report the issue.

[2020-03-20 21:04] hankcs commented on #37729
No, I'm importing only once. Redundant import takes no time.

I found some clues. If I terminate the colab session then execute your gist, pytorch takes 2 seconds and tf takes 1-4 seconds which shows they are on the same level.
<img width="768" alt="hankcs com 2020-03-20 at 5 00 25 PM" src="https://user-images.githubusercontent.com/5326890/77205952-58912000-6acc-11ea-9a60-117b9cd7480b.png">
**Howe

[2020-03-20 21:04] jvishnuvardhan commented on #37729
@hankcs I ran the colab you shared and I got the similar results as I showed. Check the following output.

[code]

[2020-03-20 21:10] jvishnuvardhan commented on #37729
@hankcs Can you please check the same in your local? Thanks!

[2020-03-20 21:19] GuoyiLi1991 commented on #29959
I am actually doing exactly the same thing.  Can anyone help here?

Here are some findings:

Since it says the the inputs dimension have issue, I used two virtual environments with tf1 and tf2 to compare the dimension. Things went ok till:
input_shape = tf.shape(updates, out_type='int32')

#  calculation new shape
output_shape = (
		input_shape[0],
		input_shape[1]*size,
		input_shape[2]*size,
		i

[2020-03-20 21:21] GuoyiLi1991 commented on #29959
I am actually doing exactly the same thing. Can anyone help here?

Here are some findings:

Since it says the the inputs dimension have issue, I used two virtual environments with tf1 and tf2 to compare the dimension. Things went ok till:

input_shape = tf.shape(updates, out_type='int32')

calculation new shape
output_shape = (
input_shape[0],
input_shape[1]*size,
input_shape[2]*size,
input_shape[

[2020-03-20 21:25] hankcs commented on #37729
Sure, my local machine running 2.1.0 gives similar result to what I observe in colab.

[code]

I'll report tf-nightly later as I have some jobs running.

[2020-03-20 21:26] houtoms commented on #33148
@qlzh727 Not yet. We might need to wait for the next major release for the fix.

[2020-03-20 21:34] sfikas commented on #21164
What worked for me:

Instead of the call
[code]
use
[code]
following the rationale set in comment https://github.com/tensorflow/tensorflow/issues/21164#issuecomment-417274023

[2020-03-20 21:35] gragundier commented on #37756
Thank you.  Closing issue.

[2020-03-20 21:35] #37756 closed

[2020-03-20 21:41] qlzh727 commented on #33527
Thanks for reporting the issue and sorry for the very late reply. Let me explain in details.

1. In tensorflow, there is a concept for trackable item, which we use to track dependency between python objects, and we use this dependency graph to determine which part of the execution graph we need to save when we do model checkpointing and saving.

2. For keras subclass model, like the DynamicRNN cla

[2020-03-20 21:41] #33527 closed

[2020-03-20 21:41] Conchylicultor commented on #37758
Yes, TFDS tests have started failing for patterns like: `tf.io.gfile.glob('/path/to/file/[!Code]*[!_Flip]/[!_]*.jpg')` or `tf.io.gfile.glob('/path/to/*.[jJ][pP][gG]')`.

@Eshan-Agarwal Could you provide a small self-contained code snippet to reproduce the issue ?

Something like:
[code]

[2020-03-20 21:43] qlzh727 commented on #33785
Closing this issue due to lack of feedback, feel free to reopen this issue with more information for further troubleshooting.

[2020-03-20 21:43] #33785 closed

[2020-03-20 21:47] qlzh727 commented on #34114
@omalleyt12, is any of your recent updates to model training logic addressing this issue?

[2020-03-20 21:49] mihaimaruseac commented on #37729
[code]

There is indeed a slowdown in tf import but it looks like first import time is the same in both pytorch and TF.

We have an internal bug assigned for speeding up TF import

[2020-03-20 22:11] Volker-Weissmann commented on #37670
You're right, TF 2.x does not support Python 3.8 as written here: https://www.tensorflow.org/install
I use TF 2.1 because it's the newest official version and python 3.8 because it is the newest official version and installing an older version of Python including tensorflow and other python packages is quite a hassle under arch linux. You can either close this issue or rename this issue to "featur

[2020-03-20 22:18] pyanishjain commented on #20619
yes this work thnaks

[2020-03-20 22:18] pyanishjain commented on #20619
yes this works

[2020-03-20 22:23] MarkDaoust commented on #37736
The densorflow team decided to ban softmax layers from tensorflow.org, unless there's a really good reason.

https://github.com/tensorflow/docs/commit/0775cca21a59d7f4c8f0a61a9baca1a8f5eb38e1

Basically, TensorFlow has to patch your network to prevent overflows if you try to calculate crossentropy from a softmax output. this leads to surprising behavior when the patching cannot be applied. So it's

[2020-03-20 22:23] #37736 closed

[2020-03-20 22:43] MinasTyuru commented on #37675
Hi @amahendrakar, here is a minimal working example that reproduces the issue.
[code]
If we read a ZLIB-compressed TFRecord using `read_zlib_dataset` and look at the flamegraph, a substantial amount of the runtime consists of page faults. In contrast, if we only decompress the files in memory using `decompress_only`, it is about twice as fast and almost all of the runtime is in the decompression a

[2020-03-20 22:50] Nishikoh opened #37763 "There is a bug that strings are not displayed in iOS darkmode."
**System information**

- Mobile device : iPhone 8 , iOS 13

**Describe the current behavior**
url : [image_classification/ios](https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/ios)
There is a bug that strings are not displayed in iOS darkmode.
<img src="https://user-images.githubusercontent.com/55723667/77207772-9da16a80-6b3d-11ea-8e27-b9e0593600e4.PNG" width=

[2020-03-20 22:52] Nishikoh commented on #37763
I'm working on this bug.
https://github.com/tensorflow/examples/pull/177

[2020-03-20 22:53] hankcs commented on #37729
Thank you. I'm grateful to know that tf teams are making efforts to address this issue. I'll promote tf in my research projects.

[2020-03-20 23:16] #35587 closed

[2020-03-20 23:21] ymodak commented on #37334
@fsx950223 Can you please create a new issue and provide your repro example? Also refer this issue on the new thread. Thanks!

[2020-03-20 23:52] ymodak commented on #33943
potential duplicate https://github.com/tensorflow/models/issues/5633
From the thread, solution will be to switch to latest tf version. Thanks!

[2020-03-20 23:55] fsx950223 opened #37764 "Tensorflow can build and even run a model with `tf.nn.conv2d('filter_width=0' and 'filter_height=0')`"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):
- OS Platform

[2020-03-20 23:58] DEKHTIARJonathan opened #37765 "[Bug] TF 2.2.0rc0 fails with AMP and Horovod 0.19.1 in Keras compile & fit"
With the recent changes in the Tensorflow Keras Optimizer API and Horovod. We did some testing and found that the following configuration was now broken:
- Tensorflow 2.2.0rc0
- Horovod 0.19.1
- AMP + Keras Model Compile & Fit

@sanjoy @pkanwar23 could we make sure to fix this one before TF 2.2.0 gets officially published ? It's still an RC release for now :)

If needed you can use this docker con

[2020-03-20 23:58] ymodak commented on #33656
This is fixed latest tf-nightly. Thanks!

[2020-03-21 00:01] mihaimaruseac commented on #37758
+1 on providing simple patterns.

I can look into this in about a month or two, once modular filesystems (tensorflow/community#101) are implemented

[2020-03-21 00:03] mihaimaruseac commented on #37317
For 3.6, try [this link](https://storage.googleapis.com/tensorflow-nightly/prod/tensorflow/release/ubuntu_16/gpu_py36_full/nightly_release/3/20190729-010338/github/tensorflow/pip_pkg/tf_nightly_gpu-1.15.0.dev20190729-cp36-cp36m-manylinux2010_x86_64.whl) (just changed py35 to py36 and cp35 to cp36 throughout the link)

[2020-03-21 00:04] advaitjain commented on #37739
Confirming that I see the test segfault, though I am able to build it. Because of the recent flatbuffer version upgrade, please try ```make clean clean_downloads``` and then try to run the test.

We will look into the test segfaulting.

[code]

[2020-03-21 00:04] mihaimaruseac commented on #37759
In the future, please fill in issue template, surround your code with ` ``` `, and check for similar issues.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-21 00:04] #37759 closed

[2020-03-21 00:05] reedwm commented on #37765
Hmmm this is probably because LossScaleOptimizer doesn't define _HAS_ALL_REDUCE_SUM_GRAD. We should set _HAS_ALL_REDUCE_SUM_GRAD to True if the inner optimizer has set it to true.

[2020-03-21 00:05] houtoms commented on #37765
JFYI. @reedwm By changing the loss_scale_optimizer.py as the following can solve the problem. But we are not sure if this is just a WAR.
[code]

[2020-03-21 00:05] freedomtan commented on #37750
Could be either software (e.g., your environment doesn't not use HF) or hardware (e.g., Cortex-A9 has some hardware options, see ARM's [doc](https://developer.arm.com/docs/ddi0388/g/introduction/configurable-options)).

[2020-03-21 00:06] DEKHTIARJonathan commented on #37765
@reedwm any chance we can get this small fix inside 2.2.0 ?

[2020-03-21 00:06] reedwm commented on #37765
Ah we commented at the same time. Yeah that would fix it but it should be set to True only if the inner optimizer defined it.

I will fix.

[2020-03-21 00:06] reedwm commented on #37765
I will try very hard to cherrypick but I cannot promise anything

[2020-03-21 00:07] DEKHTIARJonathan commented on #37765
Awesome, thanks a lot. Let us know if we can do anything to help ya

[2020-03-21 00:18] Eshan-Agarwal commented on #37758
@Conchylicultor  @mihaimaruseac  please look on this [colab](https://colab.research.google.com/drive/1rXrpPVhiDfUH4DBT3Og65yx61R5MleHr) notebook

[2020-03-21 00:40] kernelizd commented on #37741
@khimraj Hi, after hard work, I reproduced the simplist **shortest** example of the problem on colab as you requested. Please have a look here:

https://colab.research.google.com/gist/kernelizd/c79941c4f919fbb441e8bf9998dc42f5/untitled6.ipynb

[2020-03-21 00:44] Conchylicultor commented on #37758
@Eshan-Agarwal I get `NotFoundError: /content/temp/plant_village/Grape___Leaf_blight_(Isariopsis_Leaf_Spot); No such file or directory` when executing your colab.

[2020-03-21 00:58] mihaimaruseac commented on #37758
@Eshan-Agarwal the difference between the colab and the example template suggested is that we need to have the exact same setup for the colab, whereas the suggested template creates the files (with zero bytes) so it can be easily converted into a test case that now fails and after fixing will succeed.

But it's ok, I'll take care of this issue.

[2020-03-21 01:00] Conchylicultor commented on #37758
@Eshan-Agarwal For the future, here is what a minimum reproductible example looks like:

[code]

This allow the team to easily undersand what the issue is.

@mihaimaruseac here, it seems that `tf.io.gfile.glob` fails when `(` are present in the path. This is a regression as it only appear in TF nightly. Not TF 2.1

[2020-03-21 01:01] mihaimaruseac commented on #37758
I think I have an idea where that might come from.

[2020-03-21 01:02] ymodak commented on #36748
Glad it worked for you. By default, TensorFlow maps nearly all of the GPU memory. In some cases it is desirable for the process to only allocate a subset of the available memory, or to only grow the memory usage as is needed by the process. Thanks!

[2020-03-21 01:02] #36748 closed

[2020-03-21 01:04] ymodak commented on #36782
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-21 01:04] #36782 closed

[2020-03-21 01:09] Eshan-Agarwal commented on #37758
@Conchylicultor  @mihaimaruseac  thanks for your quick responses, Actually I upload temp folder containing some example you can download folder from [here](https://drive.google.com/drive/folders/1DyMHIXSUue10k1a9pDbwgHK0Lng9VxuM?usp=sharing).
but it is good to use code provided by @Conchylicultor  without any external uploading.

[2020-03-21 01:09] tensorflowbutler commented on #30304
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:09] tensorflowbutler commented on #32687
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:09] tensorflowbutler commented on #34021
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:09] tensorflowbutler commented on #36141
It has been 15 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:09] tensorflowbutler commented on #35526
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:09] tensorflowbutler commented on #34181
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:09] tensorflowbutler commented on #32780
It has been 30 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-21 01:25] ymodak commented on #32460
The initial code snippet executes successfully in tf nightly on cpu as well gpu. Thanks!
@hartikainen Can you please create a new issue thread for your repro code? Thank you.

[2020-03-21 01:26] #32460 closed

[2020-03-21 01:34] terryheo commented on #37744
It's added by https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/build_def.bzl#L30

I wanted use something like following,
[code]
But it didn't work since tensorflow:optimized and tensorflow:windows can be selected together.
There might be a solution. Please feel free to suggest a PR on this.

[2020-03-21 01:36] ppwwyyxx opened #37768 "min_epsilon of fused_batch_norm is incorrect"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): n/a
- OS Platform and Distribution (e.g.,Linux Ubuntu 16.04): n/a
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source orbinary): n/a
- TensorFlow version (use command below):  n/a
- Python versio

[2020-03-21 01:41] ckkuang commented on #37686
It is true that the inference_func is running on each GPU sequentially in eager mode, and you should be able to see a warning like [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/distribute/mirrored_strategy.py#L755).

To get things running in parallel, you can put the `strategy.run()` method inside a tf.function, so that graph building is sequential, but execution is

[2020-03-21 01:41] #37686 closed

[2020-03-21 01:46] ymodak commented on #30885
@corynezin Is this still an issue with latest tf version. Thanks!

[2020-03-21 01:50] moshevolo commented on #37622
Hello,

Asking again...
If there is no solution yet for the above 2 versions please let me know if there ANY tf versions that is known to work with RDMA (grpc+verbs).

Thanks

[2020-03-21 02:00] alokmp83 opened #37769 "Distributed Tensorflow : Issue while starting/connecting to parameter server"
I am trying to run a distributed tensorflow program with one parameter server and one worker over 2 vm each having gpu card but  it gives issues while connecting to parameter server with following 2 issues in the log:
1.tensorflow/core/distributed_runtime/master.cc:268] CreateSession still waiting for response from worker: /job:ps/replica:0/task:0
2.2020-03-20 17:34:11.395256: I tensorflow/core/pl

[2020-03-21 02:02] w4nderlust opened #37770 "MSE loss computes different values depending on shape"
**System information**
- Have I written custom code:  yes
- OS Platform and Distribution: Linux Ubuntu 19.04
 - TensorFlow version: 2.1.0
- Python version: 3.7.5
- CUDA/cuDNN version: 10.1
- GPU model and memory: GTX Titan X

**Describe the current behavior**
When MSE is calculated on two vectors, if one has an additional dimension, the result is different. For instance if one is [128] and the oth

[2020-03-21 02:13] flybotix commented on #27519
I ran into this issue while trying out the `TextVectorization` layer in TF2.1 with a very custom `split`. What fixed it for me was to pass in `dynamic=True` to the `TextVectorization `construction.

[2020-03-21 02:24] yuanlida commented on #37733
I test the program in TF 2.1 TF2.2 TF1.5 and python 3.6 python 3.7, I got the same error.

[2020-03-21 03:04] suziW commented on #30115
I have the same problem. Any solution?

[2020-03-21 03:16] suziW commented on #20252
ubuntu 16.04
tensorflow 1.15
keras 2.3.1
and i get exactly the same problem when trying this example [https://keras.io/examples/tensorboard_embeddings_mnist/]

[2020-03-21 03:20] raghavab1992 commented on #36366
@ymodak I was able to solve this issue by adding layers argument in the keras model as suggested in this [issue](](https://github.com/keras-team/keras/pull/9965#issuecomment-549126009) link

`tf.keras.applications.mobilenet.MobileNet(input_shape=[224, 224, 3], layers = tf.keras.layers)}`

This issue has been affecting many and is documented very well in this keras [issue thread](https://github.com

[2020-03-21 03:22] stanlee321 commented on #37745
Hi  @PINTO0309 , I follow the steps to create the frozen graph .pb, also I have the same problem for create the .tflite.

On the other hand, do you have any way to make inference with this frozen .pb ? , i was following the steps from the classic https://github.com/tensorflow/models/blob/master/research/object_detection/object_detection_tutorial.ipynb but I have this problem in the end trying to m

[2020-03-21 03:22] zhangyaochn commented on #37515
Got same problem here. And this only happens when I specify the number of workers. But removing this argument will slow down the process.

[2020-03-21 03:42] raghavab1992 commented on #36700
@EmGarr we have encountered this issue and was able to solve this as mentioned [here](https://github.com/tensorflow/tensorflow/issues/36366#issuecomment-601985968)

However this has to be fixed by tf team for good as all pretrtained keras models are referencing v1 layers and giving bad results

[2020-03-21 03:43] raghavab1992 commented on #36915
@irum  try this [solution ](https://github.com/tensorflow/tensorflow/issues/36366#issuecomment-601985968) as BatchNorm might be the issue here

[2020-03-21 03:53] raghavab1992 commented on #35107
This can be fixed by `https://github.com/tensorflow/tensorflow/issues/36366#issuecomment-601985968`

[2020-03-21 04:18] PINTO0309 commented on #37745
@stanlee321
Although it is not directly related to this issue, it has succeeded until I created a .pb of EfficientDet and confirmed the operation below. However, it is not an official Google model. If you stick with the official model, ignore it. Unfortunately, I haven't tested with the official model .pb so far. My goal is to infer fast on low-spec devices such as RaspberryPi. I hope that my info

[2020-03-21 04:26] gmartin001 commented on #30115
No fix.
Needs to be fixed in Tensorboard.

A Hui Hou,
Greg Martin
gregory.james.martin@gmail.com

[2020-03-21 04:28] ymodak commented on #37024
Check for zero `kernel_size` in conv layers has been added. You should have it in tf-nightly version.
https://github.com/tensorflow/tensorflow/blob/84eb083bb5328912dde064b8b0f61d28c6edbe43/tensorflow/python/keras/layers/convolutional.py#L132
commit 1e102f63964365d82d7f22402b7ba21e0e0e64fe

[2020-03-21 04:48] ymodak commented on #36650
Passing the `name` argument in the `add_weight` should help override this behavior.

[2020-03-21 05:15] pigubaoza commented on #27880
yes we are awaiting updates slated for end March. Thanks to everyone working on this!

[2020-03-21 05:58] Yooong-W commented on #37750
Hi, @freedomtan
i run the `label_image` at cortex-A7 with linux version 4.1.15,and the gcc version is 4.9.3,it works well. but when i run it at coetex-A9 with linux version 3.0.15,and the gcc version is 4,4,1, it  give me the error back. so, maybe its because of the linux kernel's version or gcc's version ?

[2020-03-21 06:24] digs1998 commented on #3043
i am getting this now
 No module named 'tensorflow.examples.tutorials

[2020-03-21 07:28] #33983 closed

[2020-03-21 07:28] #34423 closed

[2020-03-21 08:18] JonasRSV commented on #37740
The problem persists in the latest version of docker python, even with nightly.

Here's an example code snippet

[code]

This causes the same error, with nightly installed from pip when i used the latest docker image. I believe it uses python3.7. It does not cause an error with python versions < 3.7

[2020-03-21 09:08] Liusandian commented on #31057
could you give more details about the  'call model.predict on some input tensors'  deal? such as the code text?Thanks

[2020-03-21 09:09] ASLAMain commented on #22300
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\ASLAM\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\__init__.py", line 24, in <module>
    from tensorflow.python import *
  File "C:\Users\ASLAM\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\__init__.py", line 52, in <module>
    from tensorflow.core.framewo

[2020-03-21 09:10] mdautrey opened #37776 "Potential bug in Tensorflow 1 integration with Jupyter notebook"
When running the attached jupyter notebook example from [Manning book "Tensorflow in action"](https://www.manning.com/books/machine-learning-with-tensorflow) - I know there are some typos in the code but I correct them to make the code works - , I meet the following condition

- When I run all steps for the first time, everything works fine

- When I run the tf placeholder declaration twice

Code[

[2020-03-21 10:11] picciama commented on #37770
Could this be related to #28225?

[2020-03-21 10:12] shiningrain opened #37777 "It seems that Tensorflow needs a check for the unreasonable parameter `input_dim=0` in the layer `Embedding`."
## System information

- Have I written custom code (as opposed to using example directory):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 & Linux Ubuntu 18.04
- Tensorflow version：2.1.0-cpu (using 'pip install TensorFlow' to download directly)
- Python version: 3.6.9
- CUDA/cuDNN version: -
- GPU model and memory: -

## Describe the current behavior
When I build the model

[2020-03-21 10:46] vnvo2409 commented on #19297
I built tensorflow on windows with s3 successfully by removing the line `clean_dep("//tensorflow:windows"): [],` in `tensorflow/core/platform/default/build_config.bzl`. However, when I tried to test, the exceptions 'file scheme is not implemented' are remains. Could someone please tell me how to remove the exceptions ? Thank you :smile:

[2020-03-21 10:48] BlueFisher opened #37778 "Missing arguments when the inputs of concrete function contain list"
**System information**
- TensorFlow version: v2.1.0

**Describe the current behavior**
[code]
The function `test` has `a` and `c`  two arguments that should be as the type list. I create a concrete function `c_test` from `test`. But when `c_test` is called like the code above, it will throw
[code]
It seems that the function only received the first element of the list arguments.

[2020-03-21 11:36] bjarthur commented on #37689
@stevancvetkovic this is *not* a similar issue to yours!  please don't hijack this issue.  i am trying to run tensorflow on a machine *without a GPU*.  and so no, @ravikyram , that issue you refer me to is also not relevant as that concerns using tensorflow *with a GPU*.

not all machine learning problems, even neural network ones, are big enough to need a GPU.  mine is just as fast with CPU alone

[2020-03-21 12:48] khimraj commented on #37778
@BlueFisher, I think you need to pass argument like this.
`c_test(a=tf.random.normal([2, 1]),
       a_1 = tf.random.normal([2, 1]),
       b=tf.random.normal([2, 2]),
       c=tf.random.normal([2, 3]),
       c_1 = tf.random.normal([2, 3]))`.
I have checked this and there is no error.

[2020-03-21 12:59] BlueFisher commented on #37778
@khimraj , that works! Thank you so much. But it would be better if I could pass arguments like the way in my question.

[2020-03-21 13:00] khimraj commented on #37776
@mdautrey, can you please share the full code or link of colab file to reproduce mentioned issue.

[2020-03-21 13:03] mdautrey commented on #37776
I think that the full code is attached to my initial post https://github.com/tensorflow/tensorflow/files/4362615/ch2Tensorboard.ipynb.txt

[2020-03-21 13:07] dimitreOliveira opened #37779 "UnavailableError: Socket closed while using custom training loop"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- Tensorflow version: `2.1.0`

About hardware and software system information I'm using Kaggle kernels so more information can be found here: https://github.com/Kaggle/docker-python

**Describe the current behavior**
I'm getting errors like the one below, this happens during

[2020-03-21 13:16] #37778 closed

[2020-03-21 14:13] Egorand opened #37780 "Missing interpreter initialization code in the codelab"
The codelab in question is [Build a handwritten digit classifier app with TensorFlow Lite
](https://codelabs.developers.google.com/codelabs/digit-classifier-tflite/index.html?index=..%2F..index#3).

Step 4.6 introduces the following snippet of code:

[code]

`interpreter` is a class field that has not been initialized in any previous code snippets and the code fails to compile.

Looking at the fin

[2020-03-21 14:24] jcblucero commented on #22512
Installing Microsoft Visual Studio 2019 community version worked for me too. Thanks!

[2020-03-21 14:33] SwagJ commented on #37727
@amahendrakar
Hi,

That was the code in my project. I revised it into this in colab: tf.device(tf.compat.v1.train.replica_device_setter(worker_device='/gpu:0',ps_device='/cpu:0', ps_tasks=1))

And the error message is the same.
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
RuntimeError: tf.device does not support functions.
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2020-03-21 14:43] numpad0 commented on #36111
Combinations of CUDA {10.2, 10.1U2, 10.1} + Python {3.8, 3.7.7} from store +pip didn't work for me. adding \bin to CUDNN_PATH, copying files around, didn't work either. I suspect binary incompatibility or permission issues rather than file actually missing.

Uninstalling Python and replacing with Anaconda then `conda install tensorflow` solved it for me.

[2020-03-21 14:46] foxik commented on #37670
BTW, TF 2.2 does support Python 3.8 and a rc1 is already available, so you can just `pip install tensorflow==2.2.0rc1` with working Python 3.8 support.

[2020-03-21 15:03] Volker-Weissmann commented on #37670
Thank you. I have also flagged the arch package as out of date (here: https://www.archlinux.org/packages/community/x86_64/tensorflow/). I included a link to this thread in the message to the arch tensorflow maintainer, because I couldn't find another source that said that TF 2.2. support Python 3.8.

[2020-03-21 15:07] foxik commented on #37670
The Github release https://github.com/tensorflow/tensorflow/releases/tag/v2.2.0-rc1 contains information about Python 3.8 being available for Windows and Linux (OS X support should be coming soon I believe).

[2020-03-21 15:10] Volker-Weissmann commented on #37670
Ok, thank you.

[2020-03-21 15:24] gmikhail commented on #36111
I have similar issue with CUDA 10.2.89, because it installs `cudart64_102.dll` but tensorflow 2.2.0rc1 requires `cudart64_101.dll`. The usual renaming of a copy of dll helped.

![Аннотация 2020-03-21 172112](https://user-images.githubusercontent.com/4838367/77229778-69a76300-6b98-11ea-89c3-81c48171b7a3.png)

PS: if you use Windows do not forget to restart the PC after CUDA installation, because sy

[2020-03-21 15:26] renjie-liu commented on #15845
Looks like it's a very old issue. we have some RNN/LSTMs support already,

please see here for more examples:
https://www.tensorflow.org/lite/convert/rnn

[2020-03-21 15:42] Expert73 commented on #37430
I think this is a new problem

[2020-03-21 15:43] Expert73 commented on #37430
ERROR: C:/tensorflow/tensorflow/core/kernels/BUILD:7897:1: C++ compilation of rule '//tensorflow/core/kernels:mkl_conv_op' failed (Exit 2)
.\tensorflow/core/kernels/mkl_conv_ops.h(157): error C2679: binary '=': no operator found which takes a right-hand operand of type 'std::vector<long,std::allocator<long>>' (or there is no acceptable conversion)
C:\Program Files (x86)\Microsoft Visual Studio\201

[2020-03-21 15:46] CalebEverett commented on #35942
training on tpu with 2.2.0-dev20200311 and loading under strategy.scope() on a different machine with gpu only runs on the cpu.

tried `strategy = tf.distribute.OneDeviceStrategy('gpu:0')` to no avail.

tried loading with `tf.saved_model.load` and inferencing with `model.signatures['serving_default']` and got the following error.

[code]

[2020-03-21 16:07] hhhh12345678 commented on #27519
Don't know the reason, but I solved such  issue  by adding
`experimental_run_tf_function=False`
in compile function of my model.

[2020-03-21 16:16] jvishnuvardhan commented on #36933
@durandg12 This is was resolved in recent `tf-nightly`. I ran your code with `tf-nightly` and I don't see any issues. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/189e26ad5f4b25fc34774cfe68142ead/untitled59.ipynb). Thanks!

Please close the issue if this was resolved for you. Thanks!

[2020-03-21 16:20] khaled-besrour commented on #37430
i solved it too by changing the type from long int to memozy::dim, it seem cleaner for me
tensorflow/core/kernels/mkl_conv_ops.h

[code]

Now the compilation takes many hours but don't want to end :(

Compiling tensorflow/core/kernels/mkl_cwise_ops_common.cc; 9752s local

[2020-03-21 16:29] mihaimaruseac commented on #19297
Interesting. It shouldn't use the `tensorflow/core/platform/default` paths, but the `tensorflow/core/platform/windows` ones if on Windows.

[2020-03-21 16:33] abhinavsp0730 opened #37782 "Broken link in community/forums.md"
## URL(s) with the issue:
https://github.com/tensorflow/docs/blob/master/site/en/community/forums.md

## Description of the issue (what needs changing):
In forums.ms  [how to get help](https://github.com/tensorflow/docs/blob/master/community/#get_help) is broken and while clicking it's showing 404 error.

### submit a pull request
Hey, @MarkDaoust and @lamberta would you please assign me this issu

[2020-03-21 16:37] Expert73 commented on #37430
I have i7-9700K
For examlpe for TF 2.1 mkl_cwise_ops_common.cc compiled 16000s
Сomplete code build lasted 7-8 hours.

[2020-03-21 16:39] mihaimaruseac commented on #22300
Locking as resolved. See the rest of the comment and if that doesn't help please open a new issue, filling in the issue template

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-21 16:40] jvishnuvardhan commented on #36615
@doldre As error mentioned model was not built. saving custom_objects (subclassed models, layers) require special attention when saving and loading. Please check more details on saving custom_objects [here](https://www.tensorflow.org/tutorials/keras/save_and_load#saving_custom_objects). Please check even more detailed description on [saving and loading of subclassed models](https://www.tensorflow.

[2020-03-21 16:40] mihaimaruseac commented on #37782
I think you have to open a PR against https://github.com/tensorflow/docs

[2020-03-21 16:40] CalebEverett commented on #35942
tried loading the model from `tf.keras.models.model_from_json` and got the following error:

[code]

[2020-03-21 16:42] Expert73 commented on #37430
without mkl Сomplete code build lasted 1-1,5 hours.

[2020-03-21 16:45] jvishnuvardhan commented on #36615
When I tried m.summary(), it throws an error as follows. The error trace describes that model has not yet been built.

[code]

[2020-03-21 16:47] vnvo2409 commented on #19297
I ask @yongtang  and he told me to remove this line https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/default/build_config.bzl#L656-L660 and It trigger the s3 builds on windows. Anyway, I think that It is built succesfully. However, the exceptions "File system S3 is not implemented" are remains. Do you @mihaimaruseac know where to remove the exceptions ?
In addition, I

[2020-03-21 16:51] jvishnuvardhan commented on #34021
Closing due to lack of recent activity. Similar issue https://github.com/tensorflow/tensorflow/issues/34644 was resolved by recent `tf-nightly`. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-21 16:51] #34021 closed

[2020-03-21 16:58] abhinavsp0730 commented on #37782
Hey, @mihaimaruseac  thank you for your quick reply. I've searched through github repo to find the correct *how to get help* link but I'm unable to find it. So, my question is does *how to get help* exist or not, If not then we must have to change it for more help mail it to ```tensorflow.org``` or we will link Tensorflow google group link.

[2020-03-21 17:15] abhinavsp0730 opened #37783 "Broken links"
## URL(s) with the issue:
In this repo the ```tf.framework.Executor``` link is broken.
### Pull Request
Successfully merging of [#811](https://github.com/tensorflow/federated/pull/811) will close this issue.
Hey, @MarkDaoust , @lamberta, and @mihaimaruseac would you please review this pull request.

[2020-03-21 17:32] yongtang commented on #19297
@vnvo2409 The `"File system S3 is not implemented" ` error might be caused by the fact that `s3://` schema is not registered. Beside building successfully the schema also need to be registered. I haven't touched this part of the code for quite sometime so thing might have changed. On a side note I think write plugins for modular file system C API would be better.

[2020-03-21 17:39] khaled-besrour commented on #37430
Thanks, i was thinking it was a bug and stoped the compilation after 11000s :(
I have a I7-9750H Laptop, i think it will take 12-15H then.
I compile tensorflow for CUDA 10.2 but just add MKL for the fun.
it's worth it or not ?

I also created a  pull request for the change
https://github.com/tensorflow/tensorflow/pull/37785

[2020-03-21 17:43] vnvo2409 commented on #19297
When exploring the source code, I think that writing plugins for modular file system would be easier if we already had S3/GCS supports on Windows ( The plugins and the support are somehow similar, aren't they ?) So I will try to register `s3://` schema, could you tell me more detail how to register. Even if it is not so useful, it will be a great opportunity for me to learn more about tensorflow s

[2020-03-21 17:51] vnvo2409 commented on #19297
In addition, Could anyone please tell me who will be the mentor for the GCS and S3 supports on Windows ? It would be great if I could contact the mentor and have some feedbacks for my proposal. Thank you

[2020-03-21 17:57] abhinavsp0730 opened #37786 "Missing link."
## URL(s) with the issue:
https://github.com/tensorflow/federated/blob/master/docs/deployment.md
```tf.backends``` link is missing .
##Pull request
[#812](https://github.com/tensorflow/federated/pull/812) by sucessfully merging this PR will closw this issue.

[2020-03-21 18:00] yongtang commented on #19297
@vnvo2409 The registration code is in:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/s3/s3_file_system.cc#L1039

So it should have been registered if the build is successful. You may need to trace more to see where the issue comes from.

[2020-03-21 18:03] yongtang commented on #19297
I don't know who was the original mentor that proposed S3/GCS on Windows. You can contact organizer and send email to tensorflow-developers (google group) email list. If no mentor, I could
sync up with organizer to see if I can be mentor. (Served as GSoC mentor last year but that was a different project).

[2020-03-21 18:04] vnvo2409 commented on #19297
I think the issue may come from what @gunan say at the open of issues. I did dive into the configure.py but I found nothing

[2020-03-21 18:36] Expert73 commented on #37430
stable gain of 3-5% when training models on my cpu.

[2020-03-21 18:37] Expert73 commented on #37430
Thanks a lot!

[2020-03-21 18:52] Tuxius commented on #37515
Yes, I can confirm that setting the number of workers to 1 or just leaving out the argument completely solves the problem! It doesn't crash anymore and the memory consumption is stable. Only with workers set to >1 it crashes.

[2020-03-21 18:58] synergy178 commented on #36419
@mihaimaruseac  TF 1.15 seems not to have the tf.contrib module anymore too. It's still available in TF<=1.14, but some models are trained not properly with that version. For example the inputs layer shows following (?,?,?,3). While it should be (None,None,None,3) for image data. It's very frustrating currently because at least for me everything worked perfectly with 1.15 until Tuesday, March,17.

[2020-03-21 19:08] ianferreira commented on #31252
Using the MultiworkerMirrored example I

**TF2.1.0**

print("Found Cluster spec ", cluster)
print("Found TFConfig", tf_config)
os.environ['TF_CONFIG'] = json.dumps(tf_config)

BUFFER_SIZE = 1000
BATCH_SIZE = 8

def make_datasets_unbatched():
  #Scaling MNIST data from (0, 255] to (0., 1.]
  def scale(image, label):
    image = tf.cast(image, tf.float16)
    image /= 255
    return image, label

[2020-03-21 19:40] aitorhh opened #37787 "Tensorflow Java API in Scala with scala-reflect runtime compilation"
**System information**

I am using the [HelloWorld](https://www.tensorflow.org/install/lang_java) example from Java API. I am using Scala to execute it without any problems if I compile the code at "compile time. Instead with I run that using the scala-reflect and therefore runtime compilation, the Session.Runner is not found.

- OS Platform and Distribution: Linux Ubuntu 18.04
- JDK:
[code]
- Ten

[2020-03-21 19:41] daniahl commented on #36111
Still no luck here. At first I thought TF2 might have issues with the anaconda paths to the dll files, but after having installed CUDA directly from NVIDIA to the default path, TF still complains that it can't find the DLL.
Pytorch finds the file and GPU works, so I really don't know why TF doesn't.

[2020-03-21 19:45] liudengfeng commented on #37606
try uninstalled cupy-cuda101?

[2020-03-21 19:46] kernelizd commented on #37606
@liudengfeng Is that going to hurt anything? Where did I get this package in the first place ?

[2020-03-21 20:41] danijar commented on #19602
I think supporting named dimensions would still be a very useful feature. The link above is dead now because contrib is gone. JAX also supports this as *axes names*. Are there still ideas for adding this idea to TensorFlow?

[2020-03-21 21:42] renatomello commented on #27519
It does not seem to make a difference in my case

[2020-03-21 22:33] stanlee321 commented on #37745
Thank you @PINTO0309 !!

[2020-03-21 23:02] renatomello commented on #27519
How did you do that exactly?

[2020-03-21 23:09] zhangyaochn commented on #37515
I update tf to tf-nightly. Error was gone.

[2020-03-22 00:49] tensorflowbutler commented on #37068
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-22 01:20] mihaimaruseac commented on #19297
Sorry for late update, I went away for a while.

I will probably be the mentor for this project since I proposed the refactoring in tensorflow/community#101

The only lines with `clean_dep("//tensorflow:windows") : []` are [these 3](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/platform/default/build_config.bzl;l=638,647,656;drc=5473ad460d7f1831fac4b3882a37422bbc5c2aa

[2020-03-22 01:24] mihaimaruseac commented on #36419
1.15 should have it. What error do you get? What is the output of `pip list`?

[2020-03-22 01:30] vnvo2409 commented on #19297
@mihaimaruseac So I will start implementing the plugins right away. Could I send you my proposal and get some feedbacks about it please ?
Thank you :smile:

[2020-03-22 01:51] xlnwel commented on #37497
Hi, @gowthamkpr. Thanks for your explanation. I know the difference between GRU and GRUCell, and I was not saying this is a bug. I just found their different styles of outputs are confusing and hard to use. Therefore, I'm wondering why you decided to adopt different behaviors for them? Please check my [colab link](https://colab.research.google.com/drive/1z58JoPdMDszfXV-rHBAOM6HUDd-W2yVb).

[2020-03-22 01:55] fsx950223 opened #37791 "[Feature Request] Keras backend support jax"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):Yes

**Describ

[2020-03-22 02:14] mcourteaux opened #37792 "Does Keras disable regularization (dropout, noise) layers when evaluating the validation data during Model.fit()?"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit
https://www.tensorflow.org/api_docs/python/tf/keras/Model#predict

## Description of issue (what needs changing):

### Clear description

I can't find a clear statement whether or not the regularization layers (noise, dropout) are bypassed when the validation data is processed (to calculate the validation loss

[2020-03-22 02:59] vnvo2409 commented on #19297
I try `std::cout` the `scheme` argument and here is what I found
![Screenshot 2020-03-22 at 09 47 53](https://user-images.githubusercontent.com/17511625/77241298-9bfda280-6c22-11ea-95dd-4e824d6451f0.png)
It seems that the `s3://` file schema has already been implemented and the exceptions are hard-coded into some file ? I have to put the `#` to make it into a comment to prevent conflict with auto-

[2020-03-22 03:25] xumengwei commented on #27646
Any updates on supporting trianing on Android? Especially with GPU support. Thanks!

[2020-03-22 03:25] djdongjin commented on #37764
Hey, I am working on this. The same issue exists for all nn.conv1d, conv2d, conv3d, and their transpose version. I am almost done with this but have several questions:

- the nn.conv version accepts a tensor directly. If we disable kernel to be 0, should we also disable in_channel and out_channel to be zero as well? To me, I don't think a 0 in-out channel is useful.
- should I add the zero-dim che

[2020-03-22 03:44] mihaimaruseac commented on #19297
I will look over the proposal.

The output seems to come from compiling the code. Question is what is the output when you run the program

[2020-03-22 03:48] vnvo2409 commented on #19297
the output when I import tensorflow is the same.
![Screenshot 2020-03-22 at 10 47 18](https://user-images.githubusercontent.com/17511625/77241844-9441fc00-6c2a-11ea-8fed-ce9ee21fdf34.png)

However, the compile output of `Env::GetRegisteredFileSystemSchemes` does not give me `s3`. I will dive into it.

[2020-03-22 04:07] fsx950223 commented on #37764
In my option, add a check in conv kernel could fix the bug.

[2020-03-22 04:15] #37556 closed

[2020-03-22 04:20] khimraj commented on #37792
@mcourteaux, first of all validation pass is not considered as training and during training of network actually dropout layer is not bypassed instead of that all neuron's weight of dropout layer is multiplied by probability p of its existence.
![Screenshot from 2020-03-22 09-45-00](https://user-images.githubusercontent.com/36735394/77242230-5c36bb00-6c22-11ea-9633-92394b501149.png)
For more detail

[2020-03-22 04:25] mihaimaruseac commented on #19297
That's interesting. Can you try again by doing `python -vvv -c "import tensorflow" &> log` and then sharing the entire `log` file?

[2020-03-22 04:44] vnvo2409 commented on #19297
I redirection all the outputs and errors so it is a huge file ( 6mb ~ 68k line )

[python_log.txt](https://github.com/tensorflow/tensorflow/files/4364664/python_log.txt)

[2020-03-22 04:47] khimraj commented on #37776
@mdautrey, I have checked this file by running on google colab and i found no issue. for your reference link of gist is [here](https://colab.research.google.com/gist/khimraj/cad75364418c3ea67c2193cca0544e06/ch2tensorboard.ipynb).

[2020-03-22 05:12] james20141606 opened #37793 "how to use tf.train.Checkpoint to restore only part of the model"
https://github.com/tensorflow/tensorflow/blob/e5bf8de410005de06a7ff5393fafdf832ef1d4ad/tensorflow/python/training/tracking/util.py#L1692-L1989

I found it a little confusing when I use tf 2.x to restore part of the model (like decoder) to perform transfer learning. I found the code styles like this:
`checkpoint = tf.train.Checkpoint(model=autoencoder, optimizer=optimizer)`
if I want to use the pre

[2020-03-22 05:41] KranthiKumar28 commented on #14356
Use:
import keras
keras.backend.clear_session()

Before Initializing the Model

[2020-03-22 07:38] pavanchhatpar commented on #35563
Is there an ETA for a solution?
As a workaround, I use
[code]

[2020-03-22 08:06] 372046933 commented on #36953
@jvishnuvardhan If I turn off NCCL, multi worker training fails also. Maybe it's due to some bug in upper layer.

[2020-03-22 09:23] Expert73 commented on #37430
New error in next step.

[2020-03-22 09:24] Expert73 commented on #37430
ERROR: C:/tensorflow/tensorflow/lite/python/optimize/BUILD:50:1: Linking of rule '//tensorflow/lite/python/optimize:_tensorflow_lite_wrap_calibration_wrapper.so' failed (Exit 1120)
LINK : warning LNK4044: unrecognized option '/ldl'; ignored
LINK : warning LNK4044: unrecognized option '/lm'; ignored
LINK : warning LNK4044: unrecognized option '/lpthread'; ignored
mklml.lib(mklml.dll) : warning LNK4

[2020-03-22 09:25] Expert73 commented on #37430
what might the error be related to?

[2020-03-22 09:43] mcbe1985 opened #37794 "Problem with tf.train.FloatList"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platf

[2020-03-22 09:46] hartikainen opened #37795 "GradientTape.jacobian works for batch shape 0 when `experimental_use_pfor=True` but not when `experimental_use_pfor=False`"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  `macOS Catalina 10.15.2 (19C57)`
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): `v2.2.0-rc0-43-gacf4951a2f 2.2.0-rc1 0.10.0-dev20200321`
- Python version: 3.7.6
- CUDA/cuDN

[2020-03-22 10:14] ZhiliWang opened #37796 "Problem with Custom Metrics Even for H5 models"
These are how I defined and saved the custom metric fbeta and vgg model on colab:

[code]
[code]

[code]

Create model and save in google drive:
[code]

The error happened when I load the model with the following:

[code]

Got this error:
ValueError: Unknown metric function:fbeta

I believe all packages and paths are imported and defined correctly. Models were saved correctly on google drive as we

[2020-03-22 10:47] kalkoby opened #37797 "ImportError: DLL load failed: The specified module could not be found."
**

**

Thanks Sreerag-ibtl for jumping into my issue.  I tried reinstall using pip, conda then use anaconda interface several times.

[2020-03-22 10:50] kalkoby commented on #37797
I am learning how to use NLP.  One of the package, tensorflow is required to be used for my activity.   I have uninstall and install tensorflow repeatedly with no success.

== check python ===================================================
python version: 3.7.6
python branch:
python build version: ('default', 'Jan  8 2020 20:23:39')
python compiler version: MSC v.1916 64 bit (AMD64)
python implem

[2020-03-22 11:12] Squadrick commented on #34408
@jvishnuvardhan Hey, sorry, completely forgot about it. I've added to my high priority TODO list. With the quarantine in place, I'll get to it ASAP.

[2020-03-22 11:15] synergy178 commented on #37720
@Saduf2019 thanks for your reply. As far as I understood TF 2.0+ doesn't have tf.contrib and  TF 1.15 will be supported for the next 3 years. But afterwards there won't be any updates.
But like I already wrote in the description: the module is **missing** in **TF 1.15**. That's the main problem. Otherwise this issue wouldn't even bother me for the next 3 years.

``
Finished processing dependencies

[2020-03-22 11:22] khaled-besrour commented on #37430
I have a fix but it's not 100% clean.
in the mkl-dnn/blob/master/src/cpu/jit_utils/, i copie the content of the sub folder jitprofiling.
then i replace

[code]

buy

[code]

and

`#include "jitprofiling/jitprofiling.h"`

by

`#include "jitprofiling.h"`

i think there is no need to poy the content of the folder and edit the include just edit the define
`#define DNNL_ENABLE_JIT_PROFILING 1`
will mak

[2020-03-22 11:32] mcourteaux commented on #37792
So, based on your statement "validation pass is not considered as training", all types of noise and dropout do not affect validation loss computations.

[2020-03-22 11:44] khimraj commented on #37792
Yes validation pass is not considered as training and dropout layer doesn't affect validation loss.

[2020-03-22 12:19] Sreerag-ibtl commented on #37797
I had similar issue with `pip install tensorflow`. Resolved with a fresh `conda install tensorflow`.

[2020-03-22 12:30] khimraj commented on #37796
@ZhiliWang , Keras does not save custom object while saving model. So you need to pass `custom_objects` parameter to `load_model`. Before that you need to define custom metrics.

[code]

[2020-03-22 12:31] Sreerag-ibtl opened #37799 "Progress bar with tensorflow.keras.load_model"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):1.15
- Are you willing to contribute it (Yes/No):Yes

**Des

[2020-03-22 12:48] rushabh-v opened #37800 "typo in https://www.tensorflow.org/guide/upgrade"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue:
https://www.tensorflow.org/guid

[2020-03-22 13:21] ManishAradwad commented on #37799
Hello, I would love to work on this issue! Can you plz give me some pointers so I can start working on it...

[2020-03-22 13:34] srogatch opened #37802 "Cannot build TensorFlow 2.2 branch on Windows 10"
**System information**
- OS Platform and Distribution: Windows 10 Pro x64
- Mobile device: None
- TensorFlow installed from (source or binary): sources
- TensorFlow version: branch r2.2, commit acf4951a2f5fdc181ed14c163381c0cf135d9ee6
- Python version: 3.7.1
- Installed using virtualenv? pip? conda?: virtualenv with pip, without conda
- Bazel version (if compiling from source): the default version

[2020-03-22 13:41] Aldhubri commented on #27519
first, you should register Session as follow:
sess=tf.Session()
then..use :
expected_values = expt.eval(session=sess)
the result should be:
print(expected_values)
Out[41]:
array([[[  0,   0,   0],
        [  4,  71, 141],
        [  0,   0,   0]]])
thank

[2020-03-22 13:57] Sreerag-ibtl commented on #37799
Most of the current python libraries I checked works on an iterable. I don't know we have such an iterable in this case. If there's one, then a separate thread may be used to monitor this. This is my initial guess. May be wrong.

[2020-03-22 13:59] lekstonjm commented on #36111
@joao-carvalheira : Simple and efficient!

[2020-03-22 14:21] Saduf2019 commented on #37720
@synergy178
please refer to these [comment](https://github.com/tensorflow/tensorflow/issues/30794#issuecomment-600378740)  as per which [1.14](https://github.com/tensorflow/tensorflow/issues/30794#issuecomment-551022084) works fine

[2020-03-22 14:48] vkmanojk commented on #1353
Just replace tf with tf.compat.v1. It should work fine.

[2020-03-22 14:50] nrj101 commented on #13120
Yes, it works for me too     --->    tf.VERSION:    1.12.0

[2020-03-22 15:06] Tuxius commented on #37515
Also updated to tf-nightly 2.2.0.dev20200319, but still get a crash with workers > 1. Also tried several other of the last nightlies, still get crashed. Only with workers = 1 it runs for me :-(

[2020-03-22 15:13] mihaimaruseac commented on #37782
Maybe this should be the link https://www.tensorflow.org/community ?

Letting @MarkDaoust / @lamberta add more details

[2020-03-22 15:15] Expert73 commented on #37430
mkl-dnn/blob/master/src/cpu/jit_utils/

where is it?

[2020-03-22 15:16] lclibardi commented on #36141
**Solution:** Don't use `tensorflow==1.14.0`. Install version `2.X.X` or higher.

That's how I stopped getting this error on the Raspberry Pi 4 running Buster v10.

If you want community precompiled wheels, you can get them [here](https://github.com/lhelontra/tensorflow-on-arm/releases).

[2020-03-22 15:17] zepef commented on #36111
Hello I would recommend adding specific 3.7 version of python as it is proven to be working nicely with TF2.

conda create -n tf2env python=3.7

and do not forget to get latest conda version at your base env

conda update -n base -c defaults conda

All the best !

________________________________
De : Jean-Michel Lekston <notifications@github.com>
Envoyé : dimanche 22 mars 2020 07:00
À : tensorflo

[2020-03-22 15:22] vnvo2409 commented on #19297
I think it might be useful. I put a static variable in the function `FileSystemRegistryImpl::Register` to count how many time it is called. It turn out that it is called by more than one process (?)
<img width="366" alt="image" src="https://user-images.githubusercontent.com/17511625/77252723-64294600-6c88-11ea-9752-27ac16fb6bf3.png">
the first process call it 3 times with "s3", "" and "file" ( the

[2020-03-22 15:24] mihaimaruseac commented on #19297
Yes, I was thinking to tell you to print the address of `registry_`, both in `FileSystemRegistryImpl::Register` and `FileSystemRegistryImpl::GetRegisteredFileSystemSchemes`

[2020-03-22 15:26] mihaimaruseac commented on #19297
Another thing to try: locate the dll of the s3 filesystem and then try to import it from python, via [`tf.load_library`](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/python/framework/load_library.py;l=123;drc=a02fe6c24a5a38c24d0330120c8426aeea28db9f)

[2020-03-22 15:27] vnvo2409 commented on #19297
ok I will try. Thank you

[2020-03-22 15:43] liyi193328 commented on #27725
There is any plan? Thanks @yuefengz

[2020-03-22 15:43] abhinavsp0730 commented on #37782
Hey, @MarkDaoust  / @lamberta kindly check the link provided by @mihaimaruseac  is the correct link for "how to get help" or not.

[2020-03-22 15:47] abhinavsp0730 commented on #37782
Hey, @mihaimaruseac this one is offtopic, I've been participating this year GSOC. And I've completed
my 1st proposal, It'll be very helpful for me if you look at it once and give your feedbacks. So, that it'll come in a more good shape.
Thankyou

[2020-03-22 15:49] ZhuLingfeng1993 commented on #30649
I also meet this problem, have you had any idea of solving it? @CasiaFan

[2020-03-22 15:51] lbonansbrux commented on #16660
Hi all.
My config is Win 10 + CUDA 10.1 + cuDNN 7.6 + (may this have an interest, Python 3.7.7 + tensorflow 2.1 installed with pip in a Python virtual env; TF works well in Python).
In Java, which I hope having no dependency with TF in Python, I use without problem TF 1.4 and TF 1.14 for cpu. I simply put tensorflow_jni.dll in the project subdirectory `myjni` and mention `-Djava.library.path=myjni

[2020-03-22 15:57] PreVizsla commented on #37433
Will installing an older version of tensorflow helps the problem? Since I have no idea what kind of problem makes this error

[2020-03-22 16:11] ZhuLingfeng1993 commented on #30947
I have the same problem in TF1.15, do you have any idea to solve it? @guptapriya

[2020-03-22 16:23] mihaimaruseac commented on #37802
Can you build master instead? Trying to identify differences

[2020-03-22 16:24] mihaimaruseac commented on #37797
closing and locking as this just duplicates a resolved issue only to say "works"/"thanks"

[2020-03-22 16:24] #37797 closed

[2020-03-22 16:25] mihaimaruseac commented on #37797
If it is a new issue, please fill in issue template in a new issue

[2020-03-22 16:26] khaled-besrour commented on #37430
my bad, i gived you the github folder path.
i deleted my installation but i think it's in bazel temp folderin a folder named mkl_dnn_v1 or samething like this.
make a find jit_utils in the tensorflow folder, windows will find it

[2020-03-22 16:35] jlherren commented on #33929
Oh man, I've just been debugging my NaN losses for over an hour now. How could this even go unnoticed...

Will this be fixed for 2.1.x as well or is 2.2 the only way to get this working again? I can't disable eager mode because then I lose the cuDNN implementation of LSTMs.

[2020-03-22 16:40] stev3 commented on #37099
This fix didn't work for me either, but I'm working with a frozen graph and not a saved model. I overhauled my training pipeline to avoid this conversion. You can close it if you'd like, but seems others are experiencing a similar problem.

[2020-03-22 16:47] elyvision opened #37804 "Failed to load the native TensorFlow runtime"
**System information**
- OS Platform and Distribution MAC version 10.10.5
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.1
- Python version: 3.7
- Installed using  conda :
- CUDA/cuDNN version: NVIDIA GeForce GT 330M 256 Mo
- GPU model and memory: mi-2010,

**Describe the problem**

When i try to execut : import tensorflow as tf

i have :

ImportError: Traceback (

[2020-03-22 16:54] avinashcpandey opened #37805 "How to force TF Eigen to use openBLAS library for GEMM calls?"
Hi,
I am trying to link OpenBLAS to Tensorflow Eigen, Basically I want to override Eigen gemm call to OpenBLAS gemm call using below command which is not working.

Command to building TF.
bazel build -c opt --copt=-mavx --copt=-mavx2 --copt=-mfma --copt=-mfpmath=both --copt=-msse4.2 --copt=-DEIGEN_USE_BLAS --linkopt=-L<path to BLAS> --linkopt=-lopenblas //tensorflow/tools/pip_package:build_pip_pac

[2020-03-22 16:55] ilia-kats opened #37806 "tf.Module does not update state when a trackable attribute is reassigned a nontrackable"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Debian Sid and Linux Arch
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): PyPi binary
- TensorFlow version (use co

[2020-03-22 17:03] abhinavsp0730 opened #37807 "Broken link"
## URL(S) with issue:
https://github.com/tensorflow/federated/blob/master/docs/federated_core.md
In the above readme file [MapsReduce](https://research.google/pubs/pub62.pdf/)

### Pull Request
I've corrected the link and by successfully merging [#813](https://github.com/tensorflow/federated/pull/813) it'll resolve this issue.
Hey, @mihaimaruseac Kindly review it.

[2020-03-22 17:06] jensdenbraber opened #37808 "Code improvements results from Cppcheck"
I ran [cppcheck](https://github.com/danmar/cppcheck) on the Tensorflow codebase which resulted in the some code improvements.

Download the results here: [tensorflow_cppcheck.zip](https://github.com/tensorflow/tensorflow/files/4365647/tensorflow_cppcheck.zip)

[2020-03-22 17:37] atul1234tiwari opened #37809 "import error"
DLL load failed while importing _pywrap_tensorflow_internal: The specified module could not be found.

Failed to load the native TensorFlow runtime.

[2020-03-22 17:48] rodrigoruiz commented on #33924
@qlzh727 I'm running TensorFlow 2.1.0.
Also, I did try to re-install everything again.
I also tried with and without the nightly thing.

@houtoms any news on this?

[2020-03-22 18:24] butterfly-coder commented on #34604
Hi, @siju-samuel
I've faced the same problem. Could you share the way to solve the problem?

[2020-03-22 18:36] srogatch commented on #37802
@mihaimaruseac , thanks for the suggestion - I'm trying this now, will keep you posted. Right from the beginning the problem with **master** branch is that `python ./configure.py` throws an exception in windows command line because the length of the command exceeds 32K characters. I workaround this by means of msys2. But I think it's better to reduce the command line so that `cmd.exe` can be used

[2020-03-22 18:44] PiyushChawla commented on #34083
Thanks @oscar7692 worked for me as well that way. life saver.

[2020-03-22 18:51] srogatch commented on #37802
The master branch produces the following error for me:
[code]

[2020-03-22 18:57] maxkaustav commented on #37809
please use a perfect format or code to report

[2020-03-22 19:08] irum commented on #36915
@raghavab1992
Thank you Raghav. It is  working in this way.

[2020-03-22 19:17] mjarosie commented on #25983
@ranajkh have you tried updating Tensorflow?

[2020-03-22 19:34] ranajkh commented on #25983
@mjarosie my Tensorflow version is '2.1.0' .

[2020-03-22 19:34] vnvo2409 commented on #19297
@mihaimaruseac There is no dll of s3 filesystem, there is only a s3_file_system.lo.lib which can not be loaded into tensorflow. I think that the problems might be come from `genrule` (you can see the call for `Register` is `from executing genrule`, as it needs to generate file, it call `FileSystemRegistryImpl::Register` for Windows and we lost the `s3://`. I think I will try to hard-code the `REGI

[2020-03-22 19:38] maxkaustav commented on #37793
you can get access to each variable in checkpoint using
`inside_checkpoint=tf.train.list_variables(tf.train.latest_checkpoint('./tf_ckpts/'))`
and initialize the values(weights,kernel,etc) as an array to your model.
For more reference visit https://www.tensorflow.org/guide/checkpoint#manual_checkpointing

[2020-03-22 19:46] ZhiliWang commented on #37796
Thank you! I tried that and it did not work (and i posted definition of fbeta as well). Do I have to define custom metrics as a class?

[2020-03-22 19:50] etsangsplk opened #37811 "GET returned 401 Unauthorized for repository 'upb"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
macox 10.14.6
- Mobile device

[2020-03-22 19:58] elisim commented on #26502
tensorflow 1.13.1
PyCharm 2019.3.4
![image](https://user-images.githubusercontent.com/17675462/77259152-40660000-6c88-11ea-80ba-4260dffafced.png)
![image](https://user-images.githubusercontent.com/17675462/77259157-44921d80-6c88-11ea-98fa-0b29b8c1a969.png)

same problem...

[2020-03-22 20:04] maxkaustav commented on #37777
The code you have written is not correct you are not passing any input to the model.TensorFlow creates a static graph and the checks for the correct dimension during execution
Write you code then at the end write`bk_model(input)` .You will see some error this is because the dimension of your tensor is (32,10) now change `'input_dim': 0` to `'input_dim': 10` and run again,it will work.

[2020-03-22 20:55] ZhiliWang commented on #33646
Hello gentlemen, I am surprised that I am having a similar issue with a .h5 model. Do I have to define my custom metric as a class instead of a function? thank you!

[2020-03-22 22:03] mihaimaruseac commented on #19297
Yeah, every genrule is a different process which does another filesystem registration. So this makes sense so far.

It is interesting that there is no dll. I think first step would be to make the necessary build changes to create one. Probably we need a `tf_cc_shared_object` rule, like [I did for the modular windows plugin](tensorflow/c/experimental/filesystem/plugins/windows/BUILD)

[2020-03-22 22:06] james20141606 commented on #37793
thanks for the help! I use the `tf.train.list_variables` and I can get a list of variables. But I am not sure how to get all the values which includes 'decoder' in it:
![image](https://user-images.githubusercontent.com/14315324/77261820-cc1b6480-6c67-11ea-8a03-1ae1d762144c.png)
Can I get the weights of decoder here and feed it to my model.decoder?

[2020-03-22 22:07] RaphaelMeudec commented on #31976
@Saduf2019 @mihaimaruseac Just tested against 2.1.0 and it's working. Thanks for the update! I'm closing the issue.

[2020-03-22 22:07] #31976 closed

[2020-03-22 22:07] mihaimaruseac commented on #37809
Please fill in issue template on future issue reports. Also, please check for duplicates.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-22 22:07] #37809 closed

[2020-03-22 22:16] guptapriya commented on #30947
@xiankgx @ZhuLingfeng1993 are you guys using model_to_estimator? if not, please open a separate bug with code to repro the problem. Also , have you tried with latest TF versions already? TF 2.1 or nightly?

[2020-03-22 22:41] JSunRae commented on #37220
still having so many issues with getting it to run sorry. Its now saying

AttributeError: 'DatasetV1Adapter' object has no attribute 'unbatch'.

[2020-03-22 23:40] butterfly-coder commented on #21526
Hi, @jdduke
When can tflite support ExtractImagePatches ops? I use the ops explicitly. Or is there any way to use ExtractImagePatches in tflite?

[2020-03-23 00:50] 00krishna commented on #35680
@ilango100 Thanks for the info. Yeah, I saw some mentions of the Keras Preprocessing layers but I think only a few of them are available under experimental right now. I agree that the feature layers are a bit confusing, but I have finally become used to them. That is good though, now I know what to keep my eye on for the future.

[2020-03-23 01:01] ranavjk opened #37812 "redefinition of cusolverStatus_t in tensorflow/stream_executor/cuda/cusolver_dense_10_2.inc at lines 192 and 202"
I tried building TF on my system (ubuntu x86_64, cuda 10.2). I came across this error after about 15 mins of compiling.

<em>In file included from tensorflow/stream_executor/cuda/cusolver_stub.cc:61:0:
./tensorflow/stream_executor/cuda/cusolver_dense_10_2.inc: In function 'cusolverStatus_t cusolverDnIRSInfosGetNiters(cusolverDnIRSParams_t, cusolverDnIRSInfos_t, cusolver_int_t*)':
./tensorflow/stre

[2020-03-23 01:32] ZhiliWang commented on #37796
I figured it out. Thank you everyone!

[2020-03-23 01:32] #37796 closed

[2020-03-23 02:25] ogis-kubota commented on #36901
I'm facing same issue.

[2020-03-23 02:35] LAWSSSS opened #37814 "import_pb_to_tensorboard.py OSError"
`python import_pb_to_tensorboard.py --model_dir C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite/mnist_model_graph.pb --log_dir /tmp/tensorflow_logdir
OSError: SavedModel file does not exist at: C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite/mnist_model_graph.pb`
But I'm pretty sure that I put it in this path, how can I solve this problem?

[2020-03-23 02:38] siju-samuel commented on #34604
You can try adding as a builtin-op instead of custom op.

[2020-03-23 02:50] lackhole commented on #37623
@jdduke

I've cloned the latest version, download build dependencies, and build it with bazel. ```bazel build -c opt --cxxopt=--std=c++11 --config=android_arm //tensorflow/lite/c:tensorflowlite_c```, and copied the output to my Android Studio Project as ```libtensorflowlite_c2.so```

And when I tried to test, this error occurs.
#### test.cpp
[code]

#### CMakeLists.txt
[code]

#### Error Log
[code

[2020-03-23 02:51] siyuany commented on #21889
I also had this problem in tensorflow=1.12.0

[2020-03-23 02:57] meibenjin commented on #30121
@yuefengz  please take a look at TF_CONFIG env problem in related issue in kubeflow/tf-operator

[2020-03-23 03:29] ravikyram commented on #37220
@JSunRae

Will it be possible to share the colab link or simple standalone code to reproduce the issue in our environment. It helps in localizing the issue for faster resolution.Thanks!

[2020-03-23 03:29] howl-anderson commented on #37814
If you are using TF 2.1, the `import_pb_to_tensorboard.py` expect `--model_dir` point to the location of SavedModel dir (not the `.pb` file).  The script will search `saved_model.pb` or `saved_model.pbtxt` in model dir. see #37529

[2020-03-23 03:55] khimraj commented on #37796
@ZhiliWang, I have successfully saved and loaded model as i mentioned above. For your reference link of gist is [here](https://gist.github.com/khimraj/8741a7012ac9bbd675ef0ea2fb9b778b)

[2020-03-23 04:17] ravikyram commented on #34181
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-23 04:17] #34181 closed

[2020-03-23 04:19] ravikyram commented on #35526
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-23 04:19] #35526 closed

[2020-03-23 04:21] ravikyram commented on #32687
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-23 04:21] #32687 closed

[2020-03-23 04:25] Saduf2019 commented on #37777
@shiningrain
Could you please update on the above comment

[2020-03-23 04:26] np000 commented on #37462
Please find the below 1.x code and my attempt to convert it to 2.x using tf.Module.
The 2.x code is still under development and the implementation of recurrence part is not working as of now.
tf 1.x code:  https://gist.github.com/np000/a9123dcc64fdf1f4f13b1c1e56ee4e6e
and my conversion attempt : https://gist.github.com/np000/76fe78dda00b900c938a066177df628a

[2020-03-23 04:39] LAWSSSS commented on #37814
Hi, I'm using TF 1.14 and I do as you said, but I still got the same OSerror:
`python import_pb_to_tensorboard.py --model_dir C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite --log_dir /log
OSError: SavedModel file does not exist at: C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite`
What am I doing wrong?

[2020-03-23 04:53] Mallow15 opened #37815 "Error when train a model on Colab"
**Code**

[code]

**Describe the problem**
When I tried to train my model on **Colab** using above code
I got the error like below mentioned:

[code]

[2020-03-23 05:11] khimraj commented on #37815
@Mallow15, can you share full code or link of colab file to reproduce mentioned error.

[2020-03-23 05:13] Mallow15 commented on #37815
https://colab.research.google.com/drive/1XRTvryTN6IzJOyLsye_4FcwYJ4c6aur_

[2020-03-23 05:15] Saduf2019 commented on #37761
@valorusa
please share simple stand alone code for us to replicate the issue faced by you, with complete error logs.

[2020-03-23 05:16] khimraj commented on #37815
@Mallow15, please share correct link as above link is not working.

[2020-03-23 05:16] Mallow15 commented on #37815
sry,
https://colab.research.google.com/drive/1XRTvryTN6IzJOyLsye_4FcwYJ4c6aur_

[2020-03-23 05:17] Mallow15 commented on #37815
please here underscore is not considered as a link
just put it at the end of the link

[2020-03-23 05:20] Mallow15 commented on #37815
Just find **#train model** to find above code with the error

[2020-03-23 05:22] khimraj commented on #37815
@Mallow15, As i can see you have defined validation data as `valid_dataset` but you are passing as `validation_dataset` in `evaluate` method. So replace
`final_stats = model.evaluate(validation_dataset, steps=1)`
by
`final_stats = model.evaluate(valid_dataset, steps=1)`.
Hope it helps.

[2020-03-23 05:28] mdautrey commented on #37776
When you run the code twice, you get the attached error, even on google colab
![Capture du 2020-03-23 06-26-54](https://user-images.githubusercontent.com/6020351/77284667-81cdce00-6ccf-11ea-939d-49f5c2faa31a.png)

[2020-03-23 05:29] Mallow15 commented on #37815
I changed it eventhough it produces same error

[2020-03-23 05:30] Mallow15 commented on #37815
You just see the link it shows the error

[2020-03-23 05:36] khimraj commented on #37815
@Mallow15, please refer this [issue](https://github.com/tensorflow/datasets/issues/486).

[2020-03-23 05:54] ashutosh1919 commented on #37669
@zaccharieramzi , can you explain the issue using example and elaborate it ? The given description is not enough to clearly understand the issue. Thanks!

[2020-03-23 05:54] Saduf2019 commented on #37795
i have replicated this issue on nightly, please [find gist](https://colab.sandbox.google.com/gist/Saduf2019/a1e2219397c3ce701988c32552a3df72/untitled104.ipynb) here

[2020-03-23 06:00] howl-anderson commented on #37814
@LAWSSSS I have read the code of TF 1.14, it's different from TF 2.0, you should pass the path of `.pb` file as `--model_dir`.

[2020-03-23 06:02] LAWSSSS opened #37817 "Can't convert .pb model file to .tflite"
When I ran the following code:
[code]
I met a fatal error which said:
`F tensorflow/lite/toco/tooling_util.cc:2258] Check failed: array.data_type == array.final_data_type Array "image_tensor" has mis-matching actual and final data types (data_type=uint8, final_data_type=float).
Fatal Python error: Aborted`
How do I solve this problem?

[2020-03-23 06:09] venkat-kittu commented on #37412
Sorry for the delay, I was able to solve the issue by running prediction image by image and got accuarcy, buy using preprocessing in this [link](https://github.com/calebrob6/imagenet_validation/blob/master/1.%20Preprocess%20ImageNet%20validation%20set.ipynb)

[2020-03-23 06:09] #37412 closed

[2020-03-23 06:13] LAWSSSS commented on #37814
@howl-anderson I did as you said but the error still showed up:
`python import_pb_to_tensorboard.py --model_dir C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite/mnist_model_graph.pb --log_dir /tmp/tensorflow_logdir`
`OSError: SavedModel file does not exist at: C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite/mnist_model_graph.pb`
However, this code using the same model path works out just fine:
[code]
Sin

[2020-03-23 06:18] ravikyram commented on #37805
Please, refer #8350 and see if it helps you.This question is better asked on StackOverflow since it is not a bug or feature request. There is also a larger community that reads questions there and provide better and faster support for such issues. Thanks!

[2020-03-23 06:21] gadagashwini commented on #37769
@alokmp83, Can you provide the simple standalone code to replicate the issue. Thanks!

[2020-03-23 06:21] doldre commented on #36615
I tried to modify the code to below
[code]
m.summary() worked, but another exception occured.
[code]

[2020-03-23 06:22] srogatch commented on #37802
On master branch the compilation hangs for more than 10 hours:
[code]

[2020-03-23 06:23] howl-anderson opened #37818 "[Feature Request][Keras] Allow loss function using multiple tensors as input"
Some loss functions not only depend on `y_pred` and `y_true` but also depend on other tensors, such as a CTC loss (related to
* https://github.com/ysoullard/CTCModel/blob/d9e87fb24a6f7446457de5c89004404a900ce00b/CTCModel.py#L108
* https://github.com/robmsmt/KerasDeepSpeech/blob/553638821c996cb6049e34185babacdb8f00c215/model.py#L145
* https://github.com/ypwhs/captcha_break/blob/master/ctc_2019.ipyn

[2020-03-23 06:25] vnvo2409 commented on #19297
I can not figure out how to deal with the genrule. I can not build the dll too. However, there is a good news that @gunan said that he has compiled successfully gcs support on Windows https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/wYlMfe3KIYk . I think the best thing I can do now is waiting for his reply about the exceptions. I will also change my proposal to the second approa

[2020-03-23 06:33] howl-anderson commented on #37814
@LAWSSSS The error msg `SavedModel file does not exist at ...` shows that your are NOT using tf 1.14, probably one of TF 2.x , please double check it.

[2020-03-23 06:35] ashutosh1919 commented on #37794
@mcbe1985 , Please provide colab link here. The code given is not structured and well indented.

[2020-03-23 06:41] gadagashwini commented on #37812
@ranavjk,
Please Provide the exact sequence of commands / steps that you executed before running into the problem and also provide the Tensorflow version which you are trying to build. Thanks!

[2020-03-23 06:54] butterfly-coder commented on #34604
Hi, @siju-samuel
Thanks for your fast reply.
I tried with it before, but there wasn't ExtractImagePatches ops in builtin-op list.
Could you please explain how to add it as a builin-op?

[2020-03-23 07:03] ravikyram commented on #37776
when we run the code twice in colab i am able to reproduce the issue. Thanks!

[2020-03-23 07:09] ckkuang commented on #37693
CUDA launch timeout usually means the kernel is taking too long to run on GPU which is also used for an active display. GPU driver could kick out the kernel to update the display. Perhaps try updating your GPU driver and cuda version? Reducing the batch size or using a dedicated GPU card may also help.

[2020-03-23 07:09] ajax98 opened #37821 "Error converting Mobilenet model using TFLiteConverter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): Source
- TensorFlow version (or github SHA if from source): 2.1.1

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**Failure details**

When I conver

[2020-03-23 07:12] gadagashwini commented on #37747
@mgmverburg, Could you provide the simple standalone code to replicate the reported issue. Thanks!

[2020-03-23 07:20] ravikyram commented on #37760
@Miller144

This issue is more suitable for TensorFlow Js repo. Please post it on tfjs repo from [here.](https://github.com/tensorflow/tfjs/issues) .Thanks!

[2020-03-23 07:24] Saduf2019 commented on #37806
i have replicated the code shared and issue persist, please find [gist here](https://colab.sandbox.google.com/gist/Saduf2019/50b876d78a699e5ac4feaef73b2dfd84/37806.ipynb)

[2020-03-23 07:37] gadagashwini commented on #37667
I could reproduce the issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/6cb9012e4d81c2f02c28d983dde22444/untitled474.ipynb). Thanks!

[2020-03-23 07:39] butterfly-coder commented on #24138
Hi, @fkjpn1204
You converted pb to tflite with custom ops - ImageExtractPatches.

[2020-03-23 07:47] rmothukuru commented on #37537
@lihongxun945,
Can you please confirm if your issue is resolved. Thanks!

[2020-03-23 08:14] gadagashwini commented on #37726
Was able to replicate the reported issue with Tf 2.1.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/16e4da5328cf90b6d5a4405a466bf041/untitled475.ipynb). Thanks!

[2020-03-23 08:16] gadagashwini commented on #37752
@tianhongbao, Please update for the above comment. Thanks!

[2020-03-23 08:18] LEMAOR commented on #37601
I'm still unable to compile keep getting LICENSE error, is there something I could be doing wrong?
could it be the version of the esp IDF?

[2020-03-23 08:20] Ankuraxz commented on #37537
Yes please let us know, If Transfer Learning on Cifar 100 was of any use

[2020-03-23 08:22] xiaoyangnihao opened #37822 "tf.fill(), This function does not handle the case of the path where all inputs are not already EagerTensors"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below): 2.20rc0
- Python versi

[2020-03-23 08:27] tianhongbao commented on #37752
I want to build tensorflow_c++_1.13.
I use bazel-0.19.2，Protobuf 3.5.0
[code]
I encountered this problem when I ran  "./build_all_linux.sh"

[2020-03-23 08:29] tianhongbao commented on #37752
If this problem is not solved, is there a docker for tensorflow c++ 1.13

[2020-03-23 08:30] gadagashwini commented on #33998
Was able to reproduce the issue with Tf-nightly==2.2.0.dev20200319.
Please find the gist [here](https://colab.sandbox.google.com/gist/gadagashwini/4f3b04745e9331890b19851c45935dad/untitled476.ipynb). Thanks!

[2020-03-23 08:37] tianhongbao commented on #37752
@gadagashwini @mihaimaruseac Can you help me solve this problem?

[2020-03-23 08:39] heartraeh opened #37823 "How to solve this problem？（c++ tensorflow+opencv ）"
/home/sy/tensorflow/bazel-genfiles/tensorflow/core/protobuf/config.pb.h:4350:30: note: suggested alternative: ‘GOOGLE_DLOG’
   operation_timeout_in_ms_ = GOOGLE_LONGLONG(0);
                              ^~~~~~~~~~~~~~~
                              GOOGLE_DLOG
/home/sy/tensorflow/bazel-genfiles/tensorflow/core/protobuf/config.pb.h: In member function ‘void tensorflow::RunOptions_Experimental::cle

[2020-03-23 08:50] Rajeshwari210 opened #37824 "out of memory issue in running face-api.js"
hii
while running face-api.js node examples (node faceRecognition.js) am getting the OOM error while running 2 hour video face recognition. how can solve this issue.

2020-03-20 16:12:39.728434: W tensorflow/core/framework/op_kernel.cc:1651] OP_RE
QUIRES failed at cwise_ops_common.cc:82 : Resource exhausted: OOM when allocatin
g tensor with shape[1,32,32,512] and type float on /job:localhost/repli

[2020-03-23 08:50] zaccharieramzi commented on #37669
Well it's a doc issue so it's not really fit for an example. I just meant that the docs for `tensor_scatter_nd_add` should not mention a `shape` argument that is not part of the arguments of `tensor_scatter_nd_add`.

[2020-03-23 09:02] mcbe1985 commented on #37794
The colab link is; https://colab.research.google.com/drive/1hKXjsgWdKUIAAeQHM5KiRL2iRhxKWSRu

I've added the colab to the opening post as well.

[2020-03-23 09:09] Saduf2019 commented on #37823
@heartraeh
could you please share how you encountered this problem, a simple stand alone code for us to replicate the issue faced along with the tensor flow version.

[2020-03-23 09:12] heartraeh commented on #37823
#include <iostream&gt;
&nbsp;
#include "tensorflow/cc/ops/const_op.h"
#include "tensorflow/cc/ops/image_ops.h"
#include "tensorflow/cc/ops/standard_ops.h"
#include "tensorflow/core/framework/graph.pb.h"
#include "tensorflow/core/framework/tensor.h"
#include "tensorflow/core/graph/default_device.h"
#include "tensorflow/core/graph/graph_def_builder.h"
#include "tensorflow/core/lib/core/errors.h"
#in

[2020-03-23 09:12] Saduf2019 commented on #37768
@ppwwyyxx
could you please share simple stand alone code along with tensor flow version for us to replicate the issue faced

[2020-03-23 09:17] passerbyd commented on #29640
@LogX2 could you please explain more about how you make horovod ops involving into xlaRun. As horovod kernels run on a seperated horovod thread(after enqueued), how can it be presented by hlo and llvm.
And if you solved this problem, it should have nothing to do with the graph optimization.

[2020-03-23 09:19] ashutosh1919 commented on #37669
Thanks for the quick reply @zaccharieramzi . Are you able to locate the file where `tensor_scatter_nd_add` is implemented? If Yes, then please also provide the link. I am not able to locate the method.

[2020-03-23 09:22] indranibose1981 opened #37825 "Issue with installation of Tensorflow in Windows10"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution:Windows
- TensorFlow installed from (source or binary): ht

[2020-03-23 09:24] martinsik commented on #8709
I had a lot of similar weird compilation issues os OS X. I had to [completely uninstall `bazel`](https://github.com/bazelbuild/bazel/issues/838) and remove its cached files like this:

    sudo rm -rf /private/var/tmp/_bazel_martin

[2020-03-23 09:29] tianhongbao opened #37826 "Op type not registered 'HashTableV2' in binary running on 5f00e250dfa5"
when I load a model of CRNN,I find this peoblem.
ERROR: Creating graph in session failed...Not found: Op type not registered 'HashTableV2' in binary running on 5f00e250dfa5. Make sure the Op and Kernel are registered in the binary running in this process.

I use this code:
`
#include <fstream>
#include <utility>
#include <vector>
#include <Eigen/Core>
#include <Eigen/Dense>

#include "tensorflow/c

[2020-03-23 09:33] mgmverburg commented on #37747
@gadagashwini I can try and make a snippet with a simple model etc. but I don't think it will show much, because it isn't an error that is thrown, just incorrect behavior which can be directly explained by the casting to int. So somehow we will need to find out what the rationale was behind that change, because quite likely there must have been a motivation for that change, and changing it back mi

[2020-03-23 09:33] ppwwyyxx commented on #37768
The issue is clearly written in TensorFlow source code which I pasted above.

[2020-03-23 09:50] Saduf2019 commented on #37817
@LAWSSSS
please share the tensor flow version along with all dependencies to replicate the issue faced.
please find [the gist](https://colab.sandbox.google.com/gist/Saduf2019/cb02a2eec0989ee7264c9715cddbedc6/37817.ipynb) of the code shared, on nightly

[2020-03-23 09:56] Saduf2019 commented on #37340
@burgerkingeater
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-23 09:56] #37340 closed

[2020-03-23 10:05] LAWSSSS commented on #37817
@Saduf2019 TF_CPU = 1.14.0

[2020-03-23 10:07] zaccharieramzi commented on #37669
Like I pointed in the issue there is no link to the source code in the docs (that's another problem I guess). I think it's because it's a C++ op.
However, I don't understand why you would need it to understand this particular issue.
Anyway, I think the function is implemented here: https://github.com/tensorflow/tensorflow/blob/5214758e1f9335008a788be554633d974f569cf1/tensorflow/compiler/tf2xla/ker

[2020-03-23 10:09] ravikyram commented on #37741
@kernelizd

Can you please try with latest TF version(`!pip install tensorflow==2.2.0rc1`) . I am not seeing any issue with 2.2.0rc1 version. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/7272689f2e7769ff5da86ec3967de9d8/untitled744.ipynb). Thanks!

[2020-03-23 10:16] ravikyram commented on #37670
@Volker-Weissmann

 Windows/Linux binaries for py3.8 are available in TF 2.2 .Can you try installing ``!pip install tensorflow==2.2.0rc1` and see still you are facing the issue?. Thanks!
`

[2020-03-23 10:21] irum commented on #36915
it is working but training is very slow in this way. After 500 epochs , i am getting 64% accuracy on training dataset.

[2020-03-23 10:24] #37600 closed

[2020-03-23 10:34] ashutosh1919 commented on #37669
@zaccharieramzi , I have found the code with the doc [here](https://github.com/tensorflow/java/blob/master/tensorflow-core/tensorflow-core-api/src/gen/java/org/tensorflow/op/core/TensorScatterNdAdd.java).

[2020-03-23 10:36] ysyyork commented on #10624
will this still move forward? Or the py_function thing should be totally ignored when pursuing performance?

[2020-03-23 10:40] Saduf2019 commented on #37399
@raniaCht
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2020-03-23 10:40] #37399 closed

[2020-03-23 10:43] Saduf2019 commented on #37460
@aligirayhanozbay
please update on the above comment

[2020-03-23 10:44] Saduf2019 commented on #37536
@minjac
please update on the above comment

[2020-03-23 10:45] Saduf2019 commented on #37542
@ramawidrap
please update on the above comment

[2020-03-23 10:46] Saduf2019 commented on #37564
@wangshang19911011
please update on the above comment

[2020-03-23 10:47] Saduf2019 commented on #37621
@lvjunsetup
please update on the above comment

[2020-03-23 10:47] elyvision commented on #37804
Hey,
I instaled tensorflow with :

https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.8.0-py3-none-any.whl

After that a friend advised me to use this comand

conda create -n tensorflow pip python=3

And now it work now,

Thank you very must for your answer

Have a good day

[2020-03-23 10:48] zaccharieramzi commented on #37669
Oh you meant the docstring code, right.

[2020-03-23 10:49] Saduf2019 commented on #37720
@synergy178
can you please use 1.14 or below versions and update us

[2020-03-23 10:52] master opened #37827 "tf.metrics.mean_cosine_distance fails during distributed evaluation"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): `No`
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): `Linux Debian GNU/Linux 9`
- TensorFlow installed from (source or
binary): `binary`
- TensorFlow version (use command below): `v1.15.2-1-g61ff2cb 1.15.2`
- Python version: `3.7.6`
- CUDA/cuDNN version: `CUDA 10, cuD

[2020-03-23 10:53] ashutosh1919 commented on #37669
@zaccharieramzi and @mihaimaruseac , I have raised PR [#35](https://github.com/tensorflow/java/pull/35) to resolve this issue. Please review.

[2020-03-23 11:00] Saduf2019 commented on #37823
@heartraeh
please update tensorflow version

[2020-03-23 11:02] ravikyram commented on #37822
@xiaoyangnihao

Looks like code is incomplete. Please, share colab link or simple standalone code to reproduce the issue in our environment. It helps us in localizing the issue faster. Thanks!

[2020-03-23 11:02] Saduf2019 commented on #37827
@master
As we see there is a pr related to this issue, can we move this to closed status, as this will be monitored in pr #37828

[2020-03-23 11:06] ravikyram commented on #37826
@tianhongbao

Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.Please, fill [issue template](https://github.com/tensorflow/tensorflow/issues/new/choose).Thanks!

[2020-03-23 11:06] wangshang19911011 commented on #37564
@Saduf2019 Thanks for reply. I'm working with sparse input, tf.math.segment_max is not so good with sparse input. I tried code  tf.math.segment_max by myself, but it is too hard. Hope tensorflow will has this module.

[2020-03-23 11:07] AseiSugiyama opened #37829 "Input tensor has different type from described in the comments."
## URL(s) with the issue:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/microcontrollers/get_started.md#validate-input-shape

## Description of issue (what needs changing):

### Clear description

At following lines of the second code of [this section](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/microcontrollers/get_started.md#validate-i

[2020-03-23 11:08] Navids71 commented on #13463
hello my friend I am new to python, would just help me how can I run this script?

[2020-03-23 11:09] tianhongbao commented on #37826
@ravikyram ubuntu,tensorflow c++ 1.13.0

[2020-03-23 11:19] ravikyram commented on #37825
@indranibose1981

What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here.](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads)
.Also, ple

[2020-03-23 11:33] Saduf2019 commented on #32816
@SanthoshRajendiran
please let us know if the issue still persist

[2020-03-23 11:45] Saduf2019 commented on #32786
issue still exist in [nightly and in tensorflow 2.1](https://colab.sandbox.google.com/gist/Saduf2019/8f56913030e3bf31cd3344a9076d6b2d/32786.ipynb)

[2020-03-23 11:50] Saduf2019 commented on #32488
@datitran
please update on the above comment

[2020-03-23 12:06] LogX2 commented on #29640
I transplanted the 3 horovod ops into tensorflow XLA GPU backend-- adding a new horovod thunk. As far as i know,  the original horovodAllReduce is implemented as an AsyncOpKernel, while XlaOpKernel inherits OpKernel, so i **removed  the async mechanism of horovod ops** and finally they were involved in _XlaRun,  Just as i have explained before, i think just adding a network communication op such a

[2020-03-23 12:07] LogX2 commented on #29640
@passerbyd    I transplanted the 3 horovod ops into tensorflow XLA GPU backend-- adding a new horovod thunk. As far as i know, the original horovodAllReduce is implemented as an AsyncOpKernel, while XlaOpKernel inherits OpKernel, so i removed the async mechanism of horovod ops and finally they were involved in _XlaRun, Just as i have explained before, i think just adding a network communication op

[2020-03-23 12:09] herberteuler commented on #37737
The TensorFlow I am using is version 1.14, but the behavior should be the same in newer versions. [Here](https://gist.github.com/herberteuler/7b2c9de3e35e635811e0caacd812f893) is a toy "model" to demonstrate the issue.

[2020-03-23 12:26] Kirill94a commented on #37568
Thank you! I solved the problem by replacing
[code]
to
[code]
And I also had to implement a neural network using `tensorflow.nn`, since using `Keras` on TPU the program did not work. With `tensorflow.nn`, a neural network is trained.

To display scalars (loss, learning rate, etc.) in TensorBoard, I added, as you advised, `host_call` in `TPUEstimatorSpec` from the example.

Everything works great!

[2020-03-23 12:36] summelon opened #37830 "Replace VarHandleOp in Keras with VariableV2"
Thank you for submitting a TensorFlow documentation issue. Per our GitHub
policy, we only address code/doc bugs, performance issues, feature requests, and
build/installation issues on GitHub.

The TensorFlow docs are open source! To get involved, read the documentation
contributor guide: https://www.tensorflow.org/community/contribute/docs

## URL(s) with the issue: https://www.tensorflow.org/api_

[2020-03-23 12:54] amahendrakar commented on #37770
Was able to reproduce the issue with [TF-2.1](https://colab.research.google.com/gist/amahendrakar/1c82e750d3c5d3b46e246180dbef5c3e/37770-2-1.ipynb), [TF-2.2.0-rc1](https://colab.research.google.com/gist/amahendrakar/77905c56ccd5e6c480f82c65a6df1bb7/37770-2-2.ipynb#scrollTo=PIefRvmaYI1k) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/829a6b6b7ab2d88a01d3d89a129bd7fd/37770-tf-n

[2020-03-23 13:05] Volker-Weissmann commented on #37670
The autograph error no longer occurs if I use pip install tensorflow==2.2.0rc1 :+1:

[2020-03-23 13:18] valorusa commented on #37761
Hi, all the codes are here:
 frozen_model_path = '/home/tflite/tflite_graph.pb'
input_arrays=["image_tensor"]
output_arrays=["detection_boxes","detection_scores","num_detections","detection_classes"]
input_tensor={"image_tensor":[1,300,300,3]}
converter = tf.compat.v1.lite.TFLiteConverter.from_frozen_graph(frozen_model_path, input_arrays, output_arrays, input_tensor)
tflite_model = converter.conve

[2020-03-23 13:29] synergy178 commented on #37720
With TF 1.14.0 there come a lot of deprecation warnings, but somehow it starts to train.
Model_main.py trains until saving the checkpoint and during the evaluation causes a type error
 _object of type <class 'numpy.float64'> cannot be safely interpreted as an integer_.
I guess it's referring to this [issue] (https://github.com/numpy/numpy/issues/15345).

console output:
`
I0323 13:08:24.638170 139

[2020-03-23 14:02] ashutosh1919 commented on #37669
@mihaimaruseac , sorry for wrong PR. review #37832 for this issue.

[2020-03-23 14:17] ashutosh1919 commented on #37830
@summelon, Can you provide any keras doc link for VarHandleOp since I am not able to find it anywhere?

[2020-03-23 14:22] ranavjk commented on #37812
1. set up config (./configure) -> all defaults except for cuda=yes and tensorRT=yes.
2. When asked for cuda paths: cuda path = /usr/local/cuda-10.2, cudnn path = /usr/include,/usr/lib, tensorRT path =/usr/local/tensorRT
3. bazel build --config=cuda --verbose_failures //tensorflow/tools/lib_package:libtensorflow
4. As I pointed earlier, function `cusolverDnIRSInfosGetNiters(cusolverDnIRSParams_t, c

[2020-03-23 14:38] MarkDaoust commented on #37782
Hmmm ... It looks like the only relevant part is the github and SO links, which are already on the forums page.

I's just delete that sentence.

[2020-03-23 14:41] tom-gall commented on #37730
A slight update:

If you add the following to micro/tools/make/gen/mbed_cortex-m4/prj/hello_world/mbed/mbed-os/cmsis/TARGET_CORTEX_M/arm_math.h
math.h  the build will be successful :

#define Q31_MAX   ((q31_t)(0x7FFFFFFFL))
#define Q15_MAX   ((q15_t)(0x7FFF))
#define Q7_MAX    ((q7_t)(0x7F))
#define Q31_MIN   ((q31_t)(0x80000000L))
#define Q15_MIN   ((q15_t)(0x8000))
#define Q7_MIN    ((q7_t)(0x8

[2020-03-23 14:48] Flamefire commented on #35336
For anyone else finding this: TensorFlow requires images to be in range [0,1), see https://www.tensorflow.org/api_docs/python/tf/image/convert_image_dtype

[2020-03-23 14:49] tianhongbao opened #37833 "session->Run"
[code]

when I run a model of EAST,the program run successfully。
But,when I run the second model, the program fails.(python ok )
Can the C ++ API initialize the model?

（ubuntu18.04,tensorflow c++ 1.13）

[2020-03-23 14:53] medphysicsliv commented on #16271
@stefanjuang The numbers you are using are float, not complex. define them as complex in order to get correct results.

[2020-03-23 14:58] tigert1998 commented on #35445
what does the model look like

[2020-03-23 14:58] w19787 opened #37834 "keras conv layer weight cannot be updated during distribution training mode"
OS: Ubuntu 18.04
Tensorflow: 2.1.0
Python: 3.7
GPUs: 4 gpus

trying to train a gan network on multiple GPUs. The network has a spectral normalization layer to update convolution layer weights. The sample code and error are provided as follows:

[code]
![image](https://user-images.githubusercontent.com/731496/77329724-5a234800-6d59-11ea-9ee4-a3b976178147.png)

[2020-03-23 15:20] master commented on #37827
Sounds good, closing.

[2020-03-23 15:20] #37827 closed

[2020-03-23 15:25] jvishnuvardhan commented on #37099
@stev3 Can you share the *.pb file and the conversion code you used or input_shape, output
_shape arguments that need to be supplied for the conversion. The link you provided to *.pb doesn't work anymore. Thanks!

[2020-03-23 15:33] amahendrakar commented on #37779
@dimitreOliveira,
I tried to reproduce the issue, but am facing an error stating `NameError: name 'KaggleDatasets' is not defined`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/5abc237bc2d480af07cf57edf4aacd1c/37779-2-1.ipynb).

In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported alon

[2020-03-23 15:33] alextp commented on #10624
py_function is very hard to do performantly

[2020-03-23 15:34] Flamefire commented on #31020
I just ran into the same issue: `TF_SYSTEM_LIBS=com_google_protobuf` set but compile throws a "dangling symbolic link" to the protobuf headers. I was using the 2.0.0 tag

[2020-03-23 15:37] amahendrakar commented on #37748
@khaled-besrour,
Could you please provide the exact sequence of commands / steps that you executed before running into the problem. Thanks!

[2020-03-23 15:42] alextp commented on #37764
Why is this a bug? AFAICT the result of applying a convolution with a filter with one of the shapes 0 is perfectly well-defined, so we should support it.

[2020-03-23 15:54] amahendrakar commented on #37755
Was able to reproduce the issue with [TF-1.14](https://colab.research.google.com/gist/amahendrakar/acf0094fe5f26740e7338f827441c8c9/37755-1-14.ipynb) and [TF-1.15.2](https://colab.research.google.com/gist/amahendrakar/5659e56ae2ab72c7faa1c3df71c67490/37755-1-15.ipynb). Please find the attached gist. Thanks!

[2020-03-23 15:59] amahendrakar commented on #37821
@ajax98,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-03-23 16:00] Flamefire commented on #31020
Actually it is not the same issue. The link is indeed dangling because TF uses `$(INCLUDEDIR)`. We have protobuf installed to a different prefix as other software (think `/opt/protobuf-x.y.z`) to isolate it properly. So what we need is something like `TF_PROTOBUF_PREFIX` to set this to the folder containing the `include`, `bin` etc folders.

[2020-03-23 16:05] Flamefire opened #37835 "Allow different prefixes for TF_SYSTEM_LIBS libraries"
**System information**
- TensorFlow version (you are using): 2.1.0
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Using TF_SYSTEM_LIBS to compile TensorFlow requires to have the libraries installed into a common prefix. It is however not uncommon to have different prefixes for different software (think: /opt/foo-1.x.y, /opt/bar-w.e.r...)

[2020-03-23 16:23] amahendrakar commented on #37804
@elyvision,
Is this still an issue? Please feel free to close the issue if resolved. Thanks!

[2020-03-23 16:30] mihaimaruseac commented on #19297
Sounds good to me

[2020-03-23 16:32] alanchiao commented on #27880
Update from my last comment:

- Tutorials and examples are in-review but almost complete with the general structure approved.
- Initial LGTM to move through launch process based on good experiments results and feedback.
- Making some final minor tweaks to improve usability (e.g. error messages, pydocs, etc.) and clarifying what's available at launch

End of March is reasonable and if not ~ a week

[2020-03-23 16:32] jvishnuvardhan commented on #32786
@drasmuss I updated your code to build the layer correctly. With that update, code is not throwing any error. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/00a883bdcb7bcd40f9f1007176d99df4/32786.ipynb).

[code]

Please close the issue if this was resolved for you. Thanks!

[2020-03-23 16:37] m00dy commented on #34607
Flask==1.1.1
pdfminer.six==20200124
lmdb==0.98
flask-cors==3.0.8
numpy==1.17.4
tensorflow==2.1.0
keras
nltk

environment:
- FLASK_DEBUG=0
- FLASK_APP_CONFIG=Product

did the trick for me.

[2020-03-23 16:44] gunan commented on #37802
Unfortunately, they are not hanging. Some kernels do take that long to compile.
One way to make it faster is to add the `--define=override_eigen_strong_inline=true` flag to your bazel command.

For me, the builds have been healthy, but I will retry.

[2020-03-23 16:46] drasmuss commented on #32786
I don't think that solves the issue, it just avoids it by explicitly calling `build` ahead of time (with the correct shape). The problem that is being highlighted in this issue is that when `compute_output_shape` calls `build` automatically, it calls it with the wrong shape.

It says right in the docstring of `compute_output_shape` that it shouldn't be necessary to manually call `build`, so I don'

[2020-03-23 17:02] Flamefire commented on #37693
I tried this on 2 different kinds of nodes. In both cases I started the script via `srun` (SLURM).

GeForce GTX 1080 Ti:
- Runs fine with AUTO for communication
- Hangs indefinitely when switching to NCCL
- nvidia-smi shows no running processes
- Driver Version: 418.87.01    CUDA Version: 10.1

Tesla K80:
- Runs fine with AUTO
- Shows LAUNCH_TIMEOUT when switching to NCCL
- nvidia-smi shows `/usr/

[2020-03-23 17:07] ashahba commented on #36717
Hi @pavanky and @preethivenkatesh I have put some docker and scripts together here to help you with building `TensorFlow with MKL` on `CentOS 7` here: https://github.com/ashahba/centos7-tf

I tried:
[code]
and the `bazel` options where reported as follows:
[code]

and of course the wheels correctly report `MKL` support:
[code]
and also:
[code]

I tried this for both `Python 2.7` and `Python 3.6` a

[2020-03-23 17:08] mihaimaruseac commented on #37752
Can you try building from master/2.2/2.1/1.15 branch instead?

1.13 is too old and no longer supported

[2020-03-23 17:08] #31277 closed

[2020-03-23 17:09] khaled-besrour commented on #37748
python ./configure.py

CUDA enable
compute capability 7.35

 bazel build --config=opt --config=cuda --config=v2 --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package

[2020-03-23 17:18] mihaimaruseac commented on #37825
Please use ` ``` ` around code blocks on future issue reports. Also, please check for duplicates.

Closing as duplicate.

https://github.com/tensorflow/tensorflow/issues/36167#issuecomment-577886156

#36167 #36151 #36138 #36054 #36045 #36020 #36003 #35988 #35903 #35880 #35865 #35805 #35789 #35773 #35772 #35767 #35766 #35749 #35721 #35618 #35204

[2020-03-23 17:18] #37825 closed

[2020-03-23 17:31] #37804 closed

[2020-03-23 17:33] ashahba commented on #36717
One think to note, is that most of the work is just reusing scripts that are already in `TensorFlow` repo.

[2020-03-23 17:33] Conchylicultor commented on #37758
@mihaimaruseac, do you know if this will this be fixed before the 2.2 release ? Otherwise, it will break some of our TFDS users using those datasets.
Worse, as no error is raised with `tf.io.gfile.glob`, it will silently generate bad datasets where some examples are missing.

@gadagashwini I'm not sure why you added the `TF 2.1` label. `TF 2.1` works fine, but `tf-nightly` is broken.

[2020-03-23 17:36] penpornk commented on #36717
@ashahba Thank you very much!

[2020-03-23 17:55] tomerk commented on #33929
Hi Goldie, someone wants to know if a bug fix in 2.2 can be backported to
2.1.x. What's our policy on minor release versions?

Best,
Tomer

On Sun, Mar 22, 2020 at 9:35 AM jlherren <notifications@github.com> wrote:

[2020-03-23 17:55] ghosalsattam commented on #36979
@ashutosh1919 I went through all the codes. From the codes it seems that internally the map() function iterates through all the tensors(for each function call). So what x sees from inside the function in map() is the single tensor passed to it at that very time. So using .numpy() inside the function called through map() is pointless.

[2020-03-23 18:20] aaguiar96 opened #37838 "Can't restore weights to fine-tune SSD model"
I am trying to fine-tune the model `ssd_mobilenet_coco_v1` but, when I execute the training script I do not obtain **restoring checkpoints**. Instead, I obtain **saving checkpoints** (as described below), so I think I am not using the pre-trained model correctly.
**My question is: am I loading the pre-trained weights or the weights are being randomly initialized?**
I provide the obtained output, t

[2020-03-23 18:22] jvishnuvardhan commented on #37783
@abhinavsp0730 Thanks for the issue and PR to update the docs. Closing this issue as the corresponding https://github.com/tensorflow/federated/pull/811 was merged already. Thanks!

[2020-03-23 18:22] #37783 closed

[2020-03-23 18:25] MarkDaoust commented on #37783
@abhinavsp0730

One good trick is top put a `fixes: tensorflow/tensorflow#37783` in the PR description, that will auto-close the bug when the PR is merged.

[2020-03-23 18:25] amitDaMan commented on #37516
@lintian06  I have raised a PR for this minor change, it uses Tensorflow lite support library to resize the resource image to fit the requisite input size for the posenet model, thank you.

[2020-03-23 18:39] maxkaustav commented on #37576
Thanks,i will look into this matter soon

[2020-03-23 19:18] anj-s commented on #37028
Can you remove the device scope in the `get_model` function and give a complete reproducible example?
Can you also clarify the issues you had with the respective TF versions?
In TF 2.0 - you had issues with calling model.predict?
In TF 2.1 - you had a problem with the kernel dying? Where were you running this?

[2020-03-23 19:19] lminer commented on #36453
This feature as been enabled in regular keras. Shouldn't be hard to move it here.

[2020-03-23 19:34] #37792 closed

[2020-03-23 19:34] jdduke commented on #37623
There should be a `-ltensorflowlite_c2` entry in the linking command, but I don't see it.

[2020-03-23 19:51] #37334 closed

[2020-03-23 19:55] maxkaustav commented on #37793
This can be done manually so suppose I have a layer whose weights are basically kernel and bias which could be set using kernel initializer and bias initializer by accessing the values using `tf.train.load_variable(tf.train.latest_checkpoint('./tf_ckpts/'),"net/l1/bias/.ATTRIBUTES/VARIABLE_VALUE")` and `tf.train.load_variable(tf.train.latest_checkpoint('./tf_ckpts/'),"net/l1/kernel/.ATTRIBUTES/VAR

[2020-03-23 20:03] ymodak commented on #37228
Closing this issue since the associated PR has been merged. Thanks!

[2020-03-23 20:03] #37228 closed

[2020-03-23 20:17] jvishnuvardhan commented on #34767
@wkelongws Can you please check this issue. I think this was resolved for `scenario 2`. I was not able to reproduce the issue. Please check the [gist here](https://colab.sandbox.google.com/gist/jvishnuvardhan/20a72b25a5c16f98438d30b08351d1fe/34767.ipynb). Thanks!

Please close the issue if this was resolved for you. thanks!

[2020-03-23 20:19] ymodak commented on #37728
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2020-03-23 20:19] #37728 closed

[2020-03-23 20:21] ymodak commented on #37701
Closing this issue since it's answered. Feel free to reopen if necessary. Thanks!

[2020-03-23 20:21] #37701 closed

[2020-03-23 20:33] ckkuang commented on #34025
I think the warning is red herring. The function is traced on every GPU, so presumably if one has 5 or more than 5 GPUs on the machine, the warning will be printed out. Perhaps try adding a print statement inside the tf.function (https://www.tensorflow.org/tutorials/customization/performance), and see how many times the function has actually been traced? As long as it not traced per step, it shoul

[2020-03-23 20:33] hongjunChoi commented on #36718
Hello Michael,

Apologies for the late update. We are currently looking into this issue (more specifically on different predict result values) and will update you once the bug is fixed.

Thank you!

[2020-03-23 20:35] lminer opened #37839 "ModelCheckpoint callback can't save entire subclassed models"
The keras callback `ModelCheckpoint` won't save a subclassed model in SavedModel format. It only ever saves the checkpoints.

[code]

It seems as if the callback forces weights_only saving [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/callbacks.py#L1148). While this makes sense if the model is in `.h5` format, it doesn't make sense for `SavedModel` format.

[2020-03-23 20:38] #37700 closed

[2020-03-23 20:39] gunan commented on #19297
Certainly a lot happened on this thread. I will try to summarize my responses.
In TFs codebase, now curl builds on windows. I have resolved all issues a couple weeks ago.
I finally also have tensorflow/core/platform/cloud:gcs_file_system_test passing, too.

about the changes to platform/default/build_config.bzl. You cannot simply remove the `tensorflow:windows": []` I think more than filesystems d

[2020-03-23 20:42] jliebers opened #37840 "validation_split-Parameter in model.fit() leads to severe crashes due to enormous stacktrace"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Installed from Pypi (Python Packaging Index), Version 2.1.

[2020-03-23 21:00] tonytallman opened #37841 "iOS example projects don't build with Swift file and bridging header"
Problem description
The iOS example apps don't build if you add a single Swift file and bridging header to the project. The error is "error: 'vector' file not found" in tensorflow/examples/ios/camera/ios_image_load.h:18:10.

Steps to reproduce
1. Download the TensorFlow repo and follow instructions to set up any/all of the iOS example projects.
2. Run an example app on your phone or simulator to v

[2020-03-23 21:01] shun-lin commented on #34408
@Squadrick stay safe :)

[2020-03-23 21:03] jvishnuvardhan commented on #33948
@TheBlackPlague Sorry for the very late response. Can you please provide a simple standalone code to reproduce the issue?  Recently there were couple of important updates in model saving and loading related codes. Can you please try `model.save` approach that saves everything. Thanks!

[2020-03-23 21:11] pavanky commented on #36717
@ashahab thanks trying!

[2020-03-23 21:16] gowthamkpr commented on #37826
@tianhongbao Can you please try with tensorflow versions >=1.14.0 and let me know if the issue still persists.

[2020-03-23 21:22] jvishnuvardhan commented on #34119
@moberweger I think this was resolved in recent `tf-nightly`.  I ran your code with `tf-nightly` and I cannot reproduce the error you had faced with `TF2.0`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/951378d5d7eabb359453dd5557d75dab/untitled37.ipynb).

There is a warning by the code that suggest you to update data pipelines with `tf.data` for better perform

[2020-03-23 21:31] martin-gorner commented on #37779
@amahendrakar, you have to run the code on Kaggle.
If you prefer running it in a different place, you can copy the data to your own GCS bucket. That's the only thing KaggleDatasets().get_gcs_path() does: it copies the data to a GCS bucket close to the TPU and returns the GCS path.

[2020-03-23 21:36] dimitreOliveira commented on #37779
@amahendrakar as @martin-gorner said to reproduce the same code that I used you would need the lib `KaggleDatasets` and I don't think you would be able to use it on Google colab.

Another thing as I mentioned [here](https://www.kaggle.com/c/flower-classification-with-tpus/discussion/135443#783021), this issue seems to be related to memory allocation, I was able to run the code doing some modificat

[2020-03-23 21:37] Tuxius commented on #37515
@aaudiber: I created a minimal, self-contained repro for you:

run.py:

[code]

datagenerator.py:

[code]

for me this works with workers = 1 but crashes with workers = 6 ...

[2020-03-23 21:57] gowthamkpr commented on #37725
@innjoshka Can you please check this with `tensorflow 2.2.0-rc1` and let me know if the issue still persists. Thanks!

[2020-03-23 22:39] goldiegadde commented on #32799
@byronyi  @MartinMohlenkamp  using the [standalone repro code ](https://github.com/tensorflow/tensorflow/issues/32799#issuecomment-544651131)to depict the difference between call and predict, I am **unable to reproduce** this with 2.2.0-rc1.
@nikhil-mathew-td can you please try with 2.2.0-rc1  and close this if the issue is fixed for you.

[2020-03-23 22:56] jsimsa commented on #37515
Thank you very much for providing the reproduction and narrowing it down to the use of the `workers` argument. The GeneratorDataset warning is a red herring. The root cause is a memory leak in Keras, which I created a fix for and verified that it resolves your issue. The fix should be submitted later this week.

[2020-03-23 22:57] goldiegadde commented on #33085
@srfrnk using the colab gist posted [here](https://github.com/tensorflow/tensorflow/issues/33085#issuecomment-541718214)
and tensorflow==2.2.0-rc1, I do not see the multiple save/load issue anymore.

Can you please verify on your end and close this issue if it works for your use case ?

@zmjjmz please file a new GitHub issue with a standalone repro snippet. Thanks!

[2020-03-23 22:59] powderluv commented on #37812
Can confirm this error.

[2020-03-23 23:09] powderluv commented on #37812
Fixed here: https://github.com/tensorflow/tensorflow/pull/37843

[2020-03-23 23:21] mihaimaruseac commented on #37758
We haven't prioritized this for 2.2 release, unfortunately. Can you verify that installing 2.2.-rc1 breaks you? Let me know if that is the case and I'll see if we can prioritize it.

[2020-03-23 23:25] icoffeebeans opened #37844 "Cannot convert model containing categorical_column_with_vocabulary_list op"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):CentOS
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): 2.2.0rc0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.

[code]

**The output from the converter invocation**

[2020-03-23 23:25] #36390 closed

[2020-03-23 23:43] zmjjmz opened #37845 "Calling tf.keras.model.save twice fails"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Debian 9
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: n/a
- TensorFlow installed from (source or
binary): binary
- TensorFlow version (use command below): `v2.1.0-rc

[2020-03-23 23:44] Conchylicultor commented on #37758
@Eshan-Agarwal, could you check if the issue occurs with `2.2.-rc1` ?

[2020-03-23 23:48] gunan commented on #19297
I think there may be an ODR violation, file system registry may be linked twice. Because even when I explicitly built GCS support, I seem to be missing it.

[2020-03-23 23:53] penpornk commented on #36123
@Jianhui-Li Thank you!
@chuanqi129 intel-tensorflow 2.0.1 seems to only be available on `pip3`. Do you plan on adding it to `pip`, or have you discontinued Python 2 support? Just for my information. Thank you!

@djstrong I have verified that `pip3 install intel-tensorflow==2.0.1` works. Please let us know if this works for you. Thank you!

[2020-03-24 00:12] heartraeh opened #37846 "How to solve this problem?(download_dependencies.sh)(c++ tensorflow)"
downloading https://github.com/google/googletest/archive/release-1.8.0.tar.gz
downloading https://mirror.bazel.build/github.com/google/nsync/archive/0559ce013feac8db639ee1bf776aca0325d28777.tar.gz

gzip: stdin: unexpected end of file
tar: Child returned status 1
tar: Error is not recoverable: exiting now

[2020-03-24 00:35] Leslie-Fang commented on #37446
Hi @zaccharieramzi Thanks for the suggestions. I think this PR (https://github.com/tensorflow/tensorflow/pull/37483) has been merged.  Please take a look when feasible.

[2020-03-24 00:42] abdou31 opened #37847 "TypeError: save() got an unexpected keyword argument 'save_format'"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): I followed a tutorial of Adrian Rosebrock ( Pyimagesearch )
- OS Platform and Distribution : Windows 10 x64
- TensorFlow installed from (
binary): - TensorFlow version (use command below): 1.13.1
- Python version: 3.6
- CUDA/cuDNN version: - GPU model and memory:9/7

**Standalon

[2020-03-24 00:44] lvjunsetup commented on #37621
Sorry to reply to you so late. The version of tensorflow is 1.90. The error operators are conv2d () and avg_pooling (). Thank you.

[2020-03-24 00:45] pavanky commented on #36717
Thanks the new dockerfile works!

[2020-03-24 00:45] #36717 closed

[2020-03-24 00:45] lvjunsetup commented on #37621
This error is a fact, and it can be reproduced by using a large number of random tensors as input to conv2d () or avg_pooling (). Thank you.

[2020-03-24 01:07] thaink commented on #36555
The feature is on the way. I'll update when it get merged.

[2020-03-24 01:13] gittripley commented on #24976
I ran into core dump issue when call import tensorflow using C++ Python API.

`
Thread 1 "tf" received signal SIGSEGV, Segmentation fault.
google::protobuf::internal::AddDescriptors(google::protobuf::internal::DescriptorTable const*) ()
   from /usr/local/lib/python3.6/dist-packages/google/protobuf/pyext/_message.cpython-36m-x86_64-linux-gnu.so
`

Finally, I installed python protobuf that matches

[2020-03-24 01:16] vnvo2409 commented on #19297
So you have the same problems with me ? @gunan

[2020-03-24 01:39] MeghnaNatraj commented on #37347
Yes, you're correct. It expects a float32/int16 as the input to the model. In order to use a fully int-8 model use our experimental branch - https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/micro/examples/person_detection_experimental. This model has some accuracy issues so it's under experimental.  I'll update this post when I find a workaround.

Follow-up question: Are you re

[2020-03-24 01:56] #37515 closed

[2020-03-24 01:58] njeffrie commented on #37347
We have not had a use case which uses quantize to requantize from uint8 to int8.  One hack we have used when we have an int8 model with uint8 inputs, is to keep the model as int8 and subtract 128 from each input value to convert uint8 to int8.

[2020-03-24 02:03] summelon commented on #37830
@ashutosh1919 Thanks for your reply.
I don't know where is it in keras doc. But it is something in TF doc like this https://www.tensorflow.org/api_docs/python/tf/raw_ops/VarHandleOp?hl=ko .
My empirical observation is that it's used in tf.keras defined model arch(VarHandleOp).
On the other hand, VariableV2 in tensorflow defined model arch.
I can't figure out differences between these two.
And how

[2020-03-24 02:09] Eshan-Agarwal commented on #37758
@Conchylicultor  sure, I will

[2020-03-24 02:10] LEMAOR commented on #37601
@fredrec any ideas or updates on what is going on here? cptang made an input but my particular issue got off the hook

[2020-03-24 02:10] imandhillon opened #37848 "Cannot import Tensorflow on Ubuntu VPS"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-03-24 02:12] MeghnaNatraj commented on #37347
If you are required to train a model from scratch, you can directly generate a fully int-8 model by updating the following lines in your code to:

[code]

This model will not have quantize/dequantize nodes. You can use [Netron](https://lutzroeder.github.io/netron/) to visualize it and verify.

However, as @njeffrie mentioned above, it's your responsibility to now ensure that the inputs to the mode

[2020-03-24 02:12] #37347 closed

[2020-03-24 02:13] wendell-hom commented on #37515
I used "conda install tensorflow-gpu" to install my tensorflow environment.
How do I consume this fix into my conda env? =)

[2020-03-24 02:17] mihaimaruseac commented on #37848
Please try to use 1.15, 2.1 or 2.2. 1.10 is too old and we don't support it anymore.

[2020-03-24 02:34] Eshan-Agarwal commented on #37758
@Conchylicultor  @mihaimaruseac Yes same problem occurs with `2.2.-rc1`, `tf.io.gfile.glob()` not matches patterns.
Please see this [colab ](https://colab.research.google.com/drive/1SAXEnHx0fXdnRjKYRdk3g0BzCoCgitKL)notebook, it shows both original tests as well as test with minimal reproductible code.

[2020-03-24 02:40] shiningrain commented on #37777
Hello, thank you for your reply!
I have tested the code with the change you said. And when I set the `inputdim=10` ,it did make a normal prediction.  But as I described above, **if I set `inputdim` to 0, I  can still build and save the model, although this model cannot be used for prediction.**
I saw on the TensorFlow document [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Embed

[2020-03-24 02:42] shiningrain commented on #37777
Hello! Thank you for your reply!
I have tested the code with the change you said. And when I set the `inputdim=10` ,it did make a normal prediction.  But as I described above, **if I set `inputdim` to 0, I  can still build and save the model, although this model cannot be used for prediction.**
I saw on the TensorFlow document [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Embed

[2020-03-24 02:43] passerbyd commented on #29640
thanks for the explanation. got your another issue #29240.

[2020-03-24 02:53] deepgradient commented on #37525
I had the same issue with pip3.

**System information:**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.1.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: Installed with pip
- Bazel version (if compiling from source):
- GCC/Compiler version (if compiling from source):
- CUDA/cuDNN

[2020-03-24 03:13] zhuzilin commented on #36899
There is problem with `\` in autograph and I've commited a pr to it #37851

[2020-03-24 03:35] secg95 commented on #35432
Have the same problem. The model is a transformer from hugging face module.

[2020-03-24 03:37] yzbdt commented on #8665
use op.run instead of session.run(tensor), throws no error
init_op = graph.get_operation_by_name('init_all_tables')
init_op.run(session=sess)

[2020-03-24 03:57] npandey2385 commented on #37629
Hi, Any update on this ?

[2020-03-24 04:08] ravikyram commented on #37670
@Volker-Weissmann

Please, let me know if we can close this issue since it looks to be fixed. Thanks!

[2020-03-24 04:22] ctrysbita commented on #26502
@elisim I'm using TF2.0 + PyCharm 19.3. Your code works for me.
May be update to latest version can resolve the issue?

[2020-03-24 04:22] ashutosh1919 commented on #36979
@nscotto , @ravikyram and @ghosalsattam , I have raised PR #37853 to add an example on `tf.numpy_function` and how it is different from `tf.py_function`. Now, 2nd and 3rd point [here](https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=nightly#map) about `py_function` and `numpy_function` clearly explains the difference.
Please give your suggestions if anything else is required.

[2020-03-24 04:52] Saduf2019 commented on #37834
i have replicated the error faced on nightly, please find the [gist here](https://colab.sandbox.google.com/gist/Saduf2019/f9a25e7d853d7e41aebf3bfe473aaac0/37834.ipynb)

[2020-03-24 05:08] munishvira opened #37854 "Tenserflow error"
Using TensorFlow backend.
Using TensorFlow backend.
Exception in thread django-main-thread:
Traceback (most recent call last):
  File "C:\Users\munis\Python36\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\munis\Python36\lib\threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\munis\Python36\lib\site-packages\django\utils\

[2020-03-24 05:10] ashutosh1919 commented on #37830
@summelon , Please checkout the PR #37855 .

[2020-03-24 05:15] terryheo commented on #36654
I wondered if you used optimized build. You'd better use "debug" build not to strip symbols.
If you're using ARM64 target,

[code]
It should work for you.

[2020-03-24 05:18] ronakkjain commented on #21742
just put square brackets in [-arg], [--arg2]
ap = argparse.ArgumentParser()
ap.add_argument(["-i"],["--image"],required = True,
               help = "Path to the image to be scanned")
args = vars(ap.parse_args())

[2020-03-24 05:20] jakemdaly commented on #33238
What is the redzone_checker kernel? I see it on the application I am trying to profile, and can't make any sense of it

[2020-03-24 05:22] ravikyram commented on #37845
@zmjjmz

Can you try with latest TF version(`!pip install tensorflow==2.2.0rc1`). I am not seeing nay issue with TF 2.2.0rc1. Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/ed616015607be729cae5eaf2eb306478/untitled745.ipynb). Thanks!

[2020-03-24 05:23] Saduf2019 commented on #37846
@heartraeh
It looks like you haven't used a template to create this issue. Please resubmit your issue using a template from [here](https://github.com/tensorflow/tensorflow/issues/new/choose). We ask users to use the template because it reduces overall time to resolve a new issue by avoiding extra communication to get to the root of the issue.

As per the error please refer to #31799 #35747, we wil

[2020-03-24 05:26] ravikyram commented on #37854
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github new issue template.](https://github.com/tensorflow/tensorflow/is

[2020-03-24 05:41] ravikyram commented on #37833
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the code snippet to reproduce the issue. If you are unclear what to include see the issue template displayed in the [Github new issue template.](https://github.com/tensorflow/tensorflow/is

[2020-03-24 05:44] Saduf2019 commented on #37840
@jliebers
please provide us with complete simple stand alone code for us to replicate the issue faced by you in our local, [gist of code shared is](https://colab.sandbox.google.com/gist/Saduf2019/f99a24679f147526f8466432751ad3f4/untitled106.ipynb)

[2020-03-24 05:48] Saduf2019 commented on #37761
@valorusa
i have replicated the code shared by you and [face this error](https://colab.sandbox.google.com/gist/Saduf2019/d7086f73cd08b759c26f24c42189d82f/untitled106.ipynb), as requested please share simple stand alone code such that we can replicate the error faced by you to analyse it.

[2020-03-24 05:51] Saduf2019 commented on #37817
@LAWSSSS
please check to this [issue](https://github.com/tensorflow/tensorflow/issues/35736#issuecomment-574073364) for reference as it has same error.

[2020-03-24 05:59] Saduf2019 commented on #37621
@lvjunsetup
 could you please provide with simple stand standalone indented code with all dependencies for us to replicate the issue in our local, this would help us resolve the issue faster

[2020-03-24 06:01] ravikyram commented on #37839
@lminer

Can you please share simple standalone code to reproduce the issue.It helps us in localizing the issue faster. Please, let us know TF version as well. Thanks!

[2020-03-24 06:10] fsx950223 commented on #37764
[code]
I use above code simulate the conv with shapes 0 and I get a zero matrix with same shape as input.
Is it correct?

[2020-03-24 06:12] fsx950223 commented on #37764
The value will equal bias.

[2020-03-24 06:20] Saduf2019 commented on #28381
@jschneier
 in that case could you please let us know if we could move this issue to closed status.

[2020-03-24 06:20] sjtusmartboy commented on #37666
@reedwm hi, is there any update on this issue?

[2020-03-24 06:24] Saduf2019 commented on #32895
@payne4handsome
please let us know if the issue still persist in nightly

[2020-03-24 06:28] Saduf2019 commented on #37415
@frytry
please update on above comment

[2020-03-24 06:29] Saduf2019 commented on #37720
@synergy178
please provide with simple standalone code for us to replicate the issue faced on our local

[2020-03-24 06:39] Saduf2019 commented on #37611
@Aditya-shahh
please update as per above comment

[2020-03-24 06:40] Saduf2019 commented on #37643
@pikaliov
please update as per above comment

[2020-03-24 06:43] Saduf2019 commented on #37800
rushabh-v
please confirm if we may close this issue as its been monitored in pr #1509

[2020-03-24 06:44] gadagashwini commented on #37841
@tonytallman,
Please Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks

[2020-03-24 06:50] #37800 closed

[2020-03-24 06:52] Saduf2019 commented on #29198
@llan-ml
please let us know if the issue still persist

[2020-03-24 06:57] Saduf2019 commented on #31171
@janprz
please let us know if the issue still persist

[2020-03-24 06:57] gadagashwini commented on #37847
@abdou31, In the given link, Tensorflow version used is 2.0, Try to execute the `train_covid19.py` with Tf2.0.
Thanks

[2020-03-24 07:00] jlz3008 opened #37857 "tflite_with_xnnpack.cc: undefined reference to `TfLiteXNNPackDelegateOptionsDefault'"
**System information**

[code]

- TensorFlow installed from source
- TensorFlow version: commit e9db6486b37a5aa4ed25aa3e661d64cc9e0fdd2
- GCC/Compiler version (if compiling from source):

[code]
- GPU model and memory: Raspberry Pi 4 4GB

**Describe the problem**

Problem building TFLite library with make in arm64
tflite_with_xnnpack.cc: undefined reference to `TfLiteXNNPackDelegateOptionsDefault'

[2020-03-24 07:09] Jup11ter commented on #37024
I will try this version, Thank you very much for your help!

[2020-03-24 07:15] llan-ml commented on #29198
@Saduf2019 Yes. If we use a sparse tensor as an argument of `tf.function`, each dimension of the shape of that sparse tensor inside the function is always None.

[2020-03-24 07:25] MarisJon opened #37858 "tf.function retracing even with input_signature"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Linux Ubuntu 18.04.3 LTS
- **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device**: No
- **TensorFlow installed from (source or binary)**: binary
- **TensorFlow versio

[2020-03-24 07:44] UesugiErii opened #37859 "tf.keras.losses.SparseCategoricalCrossentropy Documentation Issue"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy

## Description of issue (what needs changing):

### Clear description

On the third line of the second code box, origin probability is [.9, .05, .05], [.5, .89, .6], [.05, .01, .94], it should be [.9, .05, .05], [.05, .89, .06], [.05, .01, .94].

[2020-03-24 07:57] aliutkus commented on #35100
same issue here, with CPU, tf 2.1 and python 3.7

[2020-03-24 08:01] DucLong06 opened #37860 "freezing tensorflow model"
The model I use is meta graph and win 10 ver 1903
My model clone :
https://github.com/ZJULearning/pixel_link

I am trying to freeze a flow pattern

In tenorflow, training from scratch is created after 4 files:

1. model.ckpt-38055.data-00000-of-00001
2. model.ckpt-38055.index
3. model.ckpt-38055.meta
4. checkpoint

I would like to convert them (or only the needed ones) into one file  graph.pb

I u

[2020-03-24 08:01] #37480 closed

[2020-03-24 08:09] jimmy9389 commented on #36684
same problem, any process is there?
I checked the source codes of tensorflow but I cannot find schema_py_generated file under tensorfow.lite.python folder

[2020-03-24 08:11] bmiselis commented on #35540
I can confirm this is the case for me, too.

[2020-03-24 08:14] terryheo commented on #36684
Did you follow https://www.tensorflow.org/install/source before using the visualizer?

[2020-03-24 08:17] srogatch commented on #37802
After I let these compilations run longer, I'm getting the following error:
[code]
No details about any compilation error are provided above these lines.

[2020-03-24 08:39] gadagashwini commented on #37824
@Rajeshwari210,
Please Provide the exact sequence of commands / steps that you executed before running into the problem. Thanks

[2020-03-24 08:46] AdarshPan commented on #23683
@UGLYclown999 Thanks for your brute-force technique......i was wondering weather this will create an issue when the model is deployed online?? can you please share your thoughts on that??
Again Thanks A Ton for the help

[2020-03-24 08:48] Flamefire opened #37861 "Debundled protobuf broken"
**System information**
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.0.0 but most likely all affected
- Bazel version (if compiling from source): 0.26.1

**Describe the current behavior**

Using TF_SYSTEM_LIBS=com_google_protobuf leads to

bazel-out/k8-opt/bin/tensorflow/compiler/xla/xla_data.pb.h:10:10: fatal error: google/protobuf/port_def.inc

[2020-03-24 08:49] Lotte1990 commented on #33634
Debug config was indeed the problem. When I compile everything with release config, it works great. As you suspected, Visual Studio completely ignores CMAKE_BUILD_TYPE.

[2020-03-24 08:52] arjun-majumdar opened #37862 "Learning Rate scheduler with custom training using "tf.GradientTape""
Hello, I am using a learning rate scheduler to reduce the learning rate which is defined in the function as follows:

[code]

How can I use this defined scheduler() function with custom training loop using "tf.GradientTape"?

The way I know is to use the scheduler as a callback:

[code]

Thanks

[2020-03-24 08:54] moberweger commented on #34119
Thanks @jvishnuvardhan for checking.
Although your notebook does not show the specific error, it is still deadlocked, ie stuck at `Epoch 1/5`.

Seems that there is now a valid warning, and the `Model.fit_generator` interface is deprecated. So assuming there is no impact of this problem after the interface got removed in the future, I close this issue.

[2020-03-24 08:54] #34119 closed

[2020-03-24 09:04] AdarshPan commented on #23683
@UGLYclown999  do you have a similar technique for importing keras too ?? Sir if you have please share with us ....it will be a great help..........
Regards,
AdarshPan

[2020-03-24 09:08] mayou36 commented on #35540
So two solutions:
- roll out the function (call pure Python function if already inside)
- raise an error if already tracing the function

The second is safer for sure, it somewhat limits the ability to build things; anyway, recursive should not be the way to go but rather `tf.while_loop`

[2020-03-24 09:14] Thomas-Galtier commented on #37715
I tried cuda 10.0 and 10.1 it did not help.

[2020-03-24 09:17] Saduf2019 commented on #37860
@DucLong06
please update tensorflow version and simple stand alone code for us to replicate the issue faced.
As per error please refer to similar [issues](https://github.com/tensorflow/tensorflow/issues/19455), [link1](https://github.com/tensorflow/tensorflow/issues/15783) , [link2](https://github.com/tensorflow/tensorflow/issues/15426) [link3](https://github.com/tensorflow/tensorflow/issues/16293

[2020-03-24 09:30] elisim commented on #26502
@ctrysbita It's works with TF2.0, but I need TF1.3 for my needs.

[2020-03-24 09:50] LAWSSSS commented on #37817
@Saduf2019
Thanks for the kind response. I checked that issue. However, the solution didn't work out for my problem. I still got the same error using `tf.compat.v1.lite.TFLiteConverter.from_frozen_graph`, here is my edited code:
[code]
And I got the same error here:
[code]
My tensorflow version is 1.14.0 which is different from the issue referenced, maybe there is another different solution? Could

[2020-03-24 09:52] jukka-su opened #37863 "Win10: ImportError: DLL load failed: The specified module could not be found."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Windows 10 64bit
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.1.0
- Python version: 3.7 (Anaconda 2019.10, conda 4.8.3)
- Installed using virtualenv? pip? conda?: pip
- Bazel version (

[2020-03-24 09:53] Flamefire opened #37864 "protobuf.bzl outdated making build with TF_SYSTEM_LIBS=com_google_protobuf fail"
**Describe the current behavior**

When using `TF_SYSTEM_LIBS=com_google_protobuf` to configure TensorFlow 2.1 the build fails with

[code]

Reason is seemingly a very outdated protobuf.bzl which is used with system_libs. It might be enough to update it from the current protobuf repo. Maybe even download that single file only when using system libs

[2020-03-24 09:55] zaccharieramzi commented on #37446
Ha, I didn't take the time to review the PR, sorry. Had I done it, I would have suggested to do the same also for the `reduce_min` operator which suffers from the same problem (just tested). I am going to change the title of the issue to reflect that the problem is for both operators and leave this open. I can actually even make the PR.

[2020-03-24 09:56] Alessiobrini commented on #33478
Has some improvement been done to solve this issue? Or do we still need to save manually intermediate output as an attribute of the model? It is very impractical to have this problem when using model subclassing in eager mode

[2020-03-24 09:56] ravikyram commented on #37863
What is make/model of your cpu?
I suspect your cpu model does not support AVX instructions sets.See [hardware requirements](https://www.tensorflow.org/install/pip?lang=python3#hardware-requirements)
Make sure to download the [latest microsoft visual c++ redistributable from here](https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads).
.Also, please follow the ins

[2020-03-24 09:58] #37670 closed

[2020-03-24 10:04] amahendrakar commented on #37830
@summelon,
Could you please check @ashutosh1919's comment and let us know if it helps. Thanks!

[2020-03-24 10:05] Khanifsaleh opened #37865 "Migrate TF1 to TF2"
Hi, Im newbie on tensorflow.
How to use embedding_rnn_seq2seq on tensorflow v2? On tensorflow v1, it is in contrib.legacy_seq2seq class.

[2020-03-24 10:06] lackhole commented on #37623
@jdduke Oh I shouldn't rename the .so file. Thanks for your help!
Btw, I have another question.
It works for a normal CPU based inference. When I try to use GPU delegates, the C API and ```gpu delegate ``` don't match well(https://github.com/tensorflow/tensorflow/blob/99e754b3a189eefab15fdbf326115d312e44fc7b/tensorflow/lite/delegates/gpu/gl_delegate.h#L122). Should I open a new issue?

[2020-03-24 10:21] innjoshka commented on #37725
@gowthamkpr I will try, Should I build from source or download via pip (as I know `tensorflow 2.2.0-rc1` cannot be downloaded via pip, only build from source, am I right?)
Can you give working versions of packages to build `tensorflow 2.2.0-rc1`:
CUDA version
CuDNN version
Bazel version
Nvidia driver version (435 is the latest for 10.1)

[2020-03-24 10:21] ashutosh1919 commented on #37859
@UesugiErii , The example is removed in the [nightly version](https://www.tensorflow.org/api_docs/python/tf/keras/losses/SparseCategoricalCrossentropy?version=nightly). I think this will solve your issue.

[2020-03-24 10:22] tianhongbao commented on #37833
What statement should I use to initialize in C ++.
python code:
`sess_id.run(graph_id.get_operation_by_name("MyGraphID/init_all_tables")) `

other infermation:
[code]

[2020-03-24 10:35] lihongxun945 commented on #37537
@rmothukuru  Already reolved, after I changed the model structure。 Thanks you guys~

[2020-03-24 10:35] #37537 closed

[2020-03-24 10:49] amahendrakar commented on #37838
@aaguiar96,
In order to expedite the trouble-shooting process, could you please provide the complete code to reproduce the issue reported here. Thanks!

[2020-03-24 10:52] gadagashwini commented on #37865
@Khanifsaleh,
Follow the instructions mentioned in the [Tensorflow](https://www.tensorflow.org/guide/migrate) guide to migrate from tf1 to tf2

[2020-03-24 10:58] ravikyram commented on #37737
I have tried on colab with TF version 1.14, 1.15 and i am seeing
`KeyError: "The name 'weight/kernel/ExponentialMovingAverage:0' refers to a Tensor which does not exist. The operation, 'weight/kernel/ExponentialMovingAverage', does not exist in the graph."`.Please, find the gist [here.](https://colab.sandbox.google.com/gist/ravikyram/978ced381ec195b2a083c804e2023d14/untitled746.ipynb). Is this the

[2020-03-24 11:01] indranibose1981 commented on #37825
I am using a GPU. I was able to install 1.5 version but 2.0 of tensor flow still does not work.

Sent from my iPhone

[2020-03-24 11:03] dakshvar22 commented on #37689
@ravikyram Is anyone already working on a fix for this? I can work on it if you could point me in the correct direction as to where to look in the codebase.

[2020-03-24 11:09] pandrey-fr commented on #37862
Hi,

In TF 2.1, I would advise you to write your custom learning rate scheduler as a `tf.keras.optimizers.schedules.LearningRateSchedule` instance and pass it as `learning_rate` argument to your model's optimizer - this way you do not have to worry about it further.

In TF 2.2 (currently in RC1), this issue will be fixed by implementing a `tf.keras.Model` subclass and overriding its `train_step` m

[2020-03-24 11:11] zhaozheng09 commented on #36134
how to solve this problem ?

[2020-03-24 11:12] pandrey-fr commented on #37839
If I read well the source code, if you custom model inherits from `Model` and is a graph network (_i.e._ not running eagerly) it should be working...

[2020-03-24 11:19] amahendrakar commented on #37844
Was able to reproduce the issue with [TF v2.2.0-rc1](https://colab.research.google.com/gist/amahendrakar/d48d1559efb550feec8ff5e4e6f93bbd/37844.ipynb) and [TF-nightly](https://colab.research.google.com/gist/amahendrakar/8cce7083e1f2a856454c76e30ffe2901/37844-tf-nightly.ipynb). Please find the attached gist. Thanks!

[2020-03-24 11:29] BeWe11 commented on #35194
Ok, I have to add that this only works for me when using tf-nightly, maybe give that a try.

[2020-03-24 11:32] jliebers commented on #37840
Hi @Saduf2019 ,

thank you for your quick response. 🙂 🚀

Please check out this gist: https://gist.github.com/jliebers/b9a285ac97607916a10cb091b860fa48

For the **tf-nightly** problem, please check the output from above. As described it justs ends in a local variable not being assigned without any large problems.

For the **tensorflow==2.1.0** problem, that resulted in major crashes of jupyter and

[2020-03-24 11:43] aaguiar96 commented on #37838
@amahendrakar done :)

[2020-03-24 11:54] jukka-su commented on #37863
Thanks for your response. My CPU is Intel Core i5-7200u. According to Intel's specs ([here](https://ark.intel.com/content/www/us/en/ark/products/95443/intel-core-i5-7200u-processor-3m-cache-up-to-3-10-ghz.html)), it should support AVX.

CPU is **64bit**. Python 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 **64 bit** (AMD64)] :: Anaconda, Inc. on **win32**. Do you think the bitness is causing

[2020-03-24 11:59] amrithadevadiga commented on #33374
Hi,

I have downloaded the anaconda and created a virtual env with python 3.8.2 . am not able to install tensorflow 2.1.0 in 3.8.2 env.
is it still the issue in 3.8.2 python for Tensorflow ? or it fixed ?
how i can install Tf 2.1.0 in python 3.8.2

[2020-03-24 12:09] bhack commented on #6271
https://github.com/tensorflow/addons/issues/1364

[2020-03-24 12:10] Harsha-1729 commented on #17217
Hey Hi
Can you please tell me how did you install CUDA 9.1.85?
If you have any hyperlinks to install please share, I will try them.

Thanks

[2020-03-24 12:18] 0unstoppable opened #37866 "unable to generate train.record file"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-03-24 12:21] summelon commented on #37830
@amahendrakar Oh! My bad. I missed the message you provided in "Files change".
Thanks for your example.
However it still got me confused because of components of these two.
When I running my prunning code, it led to different result(work VariableV2).
I can't figure out why or provide my source code.
It would be helpful if you guys can give me some hints.

Thank you!

[2020-03-24 12:22] summelon commented on #37830
By the way, My framework is under TF 1.13.1, which I think may be  different with TF 2.1.

[2020-03-24 12:31] srogatch commented on #37802
Finally, after updating to a later revision of master branch and disabling inlining in configure.py, I was able to build tensorflow, however, the following command then fails:
[code]

[2020-03-24 12:36] BigBerny commented on #35194
It doesn't work with 2.2.0rc1 but it does work with the current nightly. 👍 At least I got no error but I didn't test yet if the output from the model is correct.

[2020-03-24 13:00] srogatch commented on #37802
I managed to workaround the above issue with https://stackoverflow.com/questions/52394305/creating-pip-package-for-tensorflow-with-gpu-support-results-in-0-byte-simple-co . However, I had to delete a lot of `.zip` files from getting into `simple_console_for_windows.zip`. Can someone elaborate on the consequences of deleting those files?

[2020-03-24 13:07] Saduf2019 commented on #37715
@Thomas-Galtier
Did you install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019?

According to the docs at https://www.tensorflow.org/install/pip,

Install the Microsoft Visual C++ Redistributable for Visual Studio 2015, 2017, and 2019. Starting with the TensorFlow 2.1.0 version, the msvcp140_1.dll file is required from this package (which may not be provided from o

[2020-03-24 13:23] tianhongbao opened #37867 "tables_initializer"
`sess_id.run(graph_id.get_operation_by_name("MyGraphID/init_all_tables")) `

I did not find a way to achieve this in C ++. what should I do？

[2020-03-24 13:33] pank2210 commented on #33752
This note is for is as a help to other people who may have face similar problem but may be in different context.
I faced same error as pasted below
"
tensorflow.python.framework.errors_impl.InvalidArgumentError: Invalid loop structure: Loop "s: "Preprocessor/map/while/while_contextgpu_id"
" has more than one LoopCond node: {{node 0/Preprocessor/map/while/LoopCond}} and {{node 1/Preprocessor/map/wh

[2020-03-24 13:45] colt18 opened #37868 "Train time multi crop augmentation"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2020-03-24 13:49] Thomas-Galtier commented on #37715
Yes i did. The msvcp140_1.dll is on my computer...

[2020-03-24 13:50] arjun-majumdar commented on #37862
If I use the following code:

[code]
And then during training using "tf.GradientTape", if I want to get the current learning rate being used by the optimizer, I am using the following code:

`optimizer.learning_rate.numpy()`

which throws the error:
AttributeError: 'PiecewiseConstantDecay' object has no attribute 'numpy'

How can I get the current learning rate used by the optimizer?

Thanks!

[2020-03-24 13:54] xav12358 opened #37869 "Build tensorflow for c++"
Hello,

I try to build tensorflow for cpp API. I use a docker to compile and generate a package.

Here is the docker :
[code]
I try with and without HW optimisation:
Without:
[code]

With:
[code]

When I use the optimize or the standard package the execution time is the same.
When I use the optimize version the following message dissapear:

[code]
The message dissapears but the excecution time is

[2020-03-24 14:08] GoSz commented on #34093
Seems it will be fixed with TF2.2 , thanks a lot.

[2020-03-24 14:08] #34093 closed

[2020-03-24 14:12] valorusa commented on #37761
Hi Thanks for the response. I attached the file /home/tflite/tflite_graph.pb here. Just unzip it to /home/tflite/

[tflite_graph.zip](https://github.com/tensorflow/tensorflow/files/4375693/tflite_graph.zip)

[2020-03-24 14:22] pandrey-fr commented on #37862
Here, `optimizer.learning_rate` it the `PiecewiseConstantDecay` you instantiated, thus to get its value at a given step, you should call it with the step number - _e.g._ to know the value at step 1000, `optimizer.learning_rate(1000)`. Note that you can gather the current step value from the optimizer itself: `optimizer.iterations`; thus you can run `optimizer.learning_rate(optimizer.iterations)`.

[2020-03-24 14:27] aligirayhanozbay commented on #37460
Dear @Saduf2019,

Sorry for the belated reply - I did not have access to the machines I was testing this on for a little while. I read the stackoverflow link you posted, but I disagree that there is no bug involved here. It seems like tf.nn.conv2d has been written to accept a list (and not a tensor) for the strides argument, but map_fn cannot supply a list to conv2d. The number of elements supplie

[2020-03-24 14:32] Lillypucien opened #37870 "run_eagerly model option doesn't work in Keras loss"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10, x64
- TensorFlow installed from (source or
binary): Binary (pip)
- TensorFlow version (use command below): TF 2.2.0 (2.2.0.dev20200323)
- Python version: 3.7
- CUDA/cuDNN version: 10.1 / 7.6
- GPU model a

[2020-03-24 14:49] anilsathyan7 opened #37871 "Argmax error on deeplab quantized model with tflite hexagon delegate"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.4 LTS
- TensorFlow installed from (source or binary): Source
- TensorFlow version:  Build from: git clone --recurse-submodules https://github.com/tensorflow/tensorflow.git
- Python version: 3.6.9
- Bazel version (if compiling from source): 2.0.0, 1.14
- GCC/Compiler version (if compiling from source):gcc (Ubuntu 7.4.0-1ubuntu1

[2020-03-24 14:51] jvishnuvardhan commented on #34119
@moberweger Code was taking longer time. So I cancelled after some time. Please open a new bug if you face any issues in updating input pipeline. Thanks!

[2020-03-24 14:52] valorusa commented on #37761
Hi Thanks for the response. I tried to attached the file /home/tflite/tflite_graph.pb here. But it is too large to attach it here. So I add the description here:
1.go to tensorflow object detection model zoo to download **ssd_mobilenet_v2_coco**. unzip it under current directory you will get home/your_usrname/ssd_mobilenet_v2_coco_2018_03_29/, and open the  pipeline.config file and comment out thi

[2020-03-24 14:54] flybotix commented on #27519
Like this. I'm still learning ML/TF in general, so this may have been the wrong thing to do. It's all black magic until it 'just works'.
[code]

[2020-03-24 15:02] alextp commented on #37764
Depending on whether a height/width dimension is zero-sized vs a channel
dimension you will either get a zero image or an image with a zero-sized
channel dimension.

On Mon, Mar 23, 2020 at 11:10 PM who who who <notifications@github.com>
wrote:

--
 - Alex

[2020-03-24 15:04] Saduf2019 commented on #37868
@colt18
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version.

please share the error log,code for which this feature implementation is required
We ask for this, because it is really difficult to help without that information. Thanks!

[2020-03-24 15:04] arjun-majumdar commented on #37862
Thanks!

[2020-03-24 15:04] #37862 closed

[2020-03-24 15:07] Saduf2019 commented on #37864
@Flamefire
 please share simple stand alone code before which this error was encountered

[2020-03-24 15:13] Flamefire commented on #37864
Sure:

- Compile and install protobuf into /usr (or install system package where available)
- `TF_SYSTEM_LIBS=com_google_protobuf ./configure`
- `bazel build //tensorflow/tools/pip_package:build_pip_package`

[2020-03-24 15:16] pandrey-fr commented on #37862
You are welcome!

[2020-03-24 15:23] amahendrakar commented on #37858
@MarisJon,
I tried to reproduce the issue, but I'm facing an error stating `ModuleNotFoundError: No module named 'amatdeep'`. Please find the gist of it [here](https://colab.research.google.com/gist/amahendrakar/2ecc32da7cbb4e4c245a879a6bdbb317/37858.ipynb#scrollTo=5v3is8k8CSgH).

Looks like the given code is incomplete. In order to expedite the trouble-shooting process, could you please provide t

[2020-03-24 15:24] zmjjmz commented on #37845
My test works on TF 2.2.0rc1, thanks!

[2020-03-24 15:24] #37845 closed

[2020-03-24 15:31] tirthasheshpatel opened #37872 "Keras model for sentiment analysis is not learning anything!"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**

- Google Colab

**Describe the current behavior**

I have tried to build a Keras model for sentiment analysis u

[2020-03-24 15:43] #37669 closed

[2020-03-24 15:45] herberteuler commented on #37737
No, the last exception is not expected.

I have added three notes in the output, shown in cyan, green, and red, respectively.

The first part trains a "raw" model, where the update ops are executed as the training processes, and as can be seen from there, the moving averages are updated.

The second part shows that by adding updates to a Keras model, the same set of update ops can be added to the

[2020-03-24 15:47] Roc-J commented on #26546
pip install -U "tensorflow==2.0" is ok

[2020-03-24 15:49] Conchylicultor commented on #37758
@Eshan-Agarwal thank you for confirming.

@mihaimaruseac I believe this should be prioritised. This not only impact TFDS but potentially every users using `tf.io.gfile.glob`. As the issue is silent, users may not even notice there is a bug.
In our case we got lucky to have good unit-tests.
Note: The issue only happened externally. Internally, our tests works fine.

[2020-03-24 15:50] mihaimaruseac commented on #33374
TensorFlow 2.1 is **NOT** released on Python 3.8
TensorFlow 2.2 **WILL BE** released on Python 3.8

[2020-03-24 15:55] mihaimaruseac commented on #36134
@zhaozheng09 please open a new issue and fill in issue template. This issue has been resolved already.

[2020-03-24 16:05] lminer commented on #37839
@pandrey-fr @ravikyram I'll try to get a standalone example together. The problem must be that the model is being run eagerly. How to you force it to be a graph network? Also, why is it a problem if it's run eagerly? I made my own version of the callback where I deleted the check for whether it is running eagerly and it saves without a problem.

[2020-03-24 16:07] #28381 closed

[2020-03-24 16:11] #37859 closed

[2020-03-24 16:27] gunan commented on #37802
yeah, the above issue you saw is also known.
The zip file gets larger than 2GB, and zip fails. Unfortunately, bazel does not report an actionable issue for us there.
for building the pip package, bazel team helped us create some flags where we can use only for building the pip package, which does not build some of those zip files. so as long as your pip package is working, you should be ok.

[2020-03-24 16:41] synergy178 commented on #37720
https://colab.research.google.com/drive/1F4ggfg9_xnCcGSBKb5-ovYi_DQFZp-uV

I hope this notebook can help

[2020-03-24 16:44] vnvo2409 commented on #19297
@mihaimaruseac I finished my proposal. Thank you for review it one more times :smile:

[2020-03-24 16:55] jvishnuvardhan commented on #36899
@MaximusMutschler This was resolved in recent `tf-nightly`. Please check a [similar issue](https://github.com/tensorflow/tensorflow/issues/35765#event-2963029936) that initiated the resolution.  I ran your code with `tf-nightly` and I cannot reproduce the issue. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/45dabcc649839fc9d8fbd5a1c87b1a50/36899.ipynb).

Please

[2020-03-24 17:01] etsangsplk commented on #37811
full error. It turned out it is personal token. github remove login and password for rest request. So just edit .netrc to use personal token instead of login password works.

[2020-03-24 17:31] jvishnuvardhan commented on #37807
@abhinavsp0730 As mentioned by @MarkDaoust [here](https://github.com/tensorflow/tensorflow/issues/37783#issuecomment-602776176), please mention the following in the description of the PR

fixes: https://github.com/tensorflow/tensorflow/issues/37807 which closes this issue automatically when the corresponding PR gets merged. Thanks!

[2020-03-24 17:40] carlini commented on #23166
Can we get some attention on this bug? It is consistently a problem with our usecase on tensorflow/cleverhans and has been present for a year and a half.

[2020-03-24 17:52] abhinavsp0730 commented on #37807
Done

[2020-03-24 17:56] stellargo commented on #29161
Hi, I am facing the exact same issue with tf-nightly==2.2.0.dev20200324. A sequential multiprocessing model woudn't start re-training.
[code]

[2020-03-24 18:08] phiwei commented on #33024
@robieta Is there a known workaround for this in TF 2.0? I am using it with keras-tuner, so I have limited control over the training code and I cannot easily upgrade to TF 2.1 (driver requirements collide with me not having admin rights on the machine).

[2020-03-24 18:10] ybagdasa commented on #35100
same issue here, scales with validation_freq (occurs on those epochs for which validation is performed.)
I'm using the tensorflow image tensorflow/tensorflow:2.1.0-gpu-py3 from docker hub: https://hub.docker.com/r/tensorflow/tensorflow/tags/?page=1

Within the image, the system is 18.04.3 LTS, cuda 10.1.243, python Python 3.6.9

[2020-03-24 18:14] ybagdasa commented on #37515
I'm using the tensorflow image tensorflow/tensorflow:2.1.0-gpu-py3 from docker hub: https://hub.docker.com/r/tensorflow/tensorflow/tags/?page=1

I'm also interested in consuming the fix. I'm using tf.keras.

[2020-03-24 19:07] lminer opened #37874 "Allow tf.image.random_crop to return multiple crops"
It would be nice if there was an option for `tf.image.random_crop` to return more than a single crop at a time.

It's possible to reproduce this logic through something like the code below, but I find that it is bottlenecking my tf.data pipeline, and I have to use `tf.image.extract_patches` instead.

[code]

[2020-03-24 19:45] srogatch opened #37876 "WARNING:tensorflow:Method (on_train_batch_end) is slow compared to the batch update (0.112000). Check your callbacks."
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10 Pro x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: No
- TensorFlow installed from (source or
binary): source
- TensorFlow version (use command below):

[2020-03-24 19:56] VladislavKlass commented on #35860
Anyone with the same issue on Windows 10? The two offered solutions only work for Linux.

[2020-03-24 20:19] DEKHTIARJonathan commented on #37765
@reedwm Any good news ?

[2020-03-24 20:47] reedwm commented on #37765
In trying to fix this by adding `_HAS_ALL_REDUCE_SUM_GRAD = True`, the mixed precision CentralStorageStrategy tests broke. We realized the `all_reduce_sum_gradients` parameter has issues with CentralStorageStrategy. As a result, the the parameter was renamed to `experimental_aggregate_gradients` in 75ae7742abc027b001a5f3d7c020bb4504cc0f78. The attribute has also been renamed to `_HAS_AGGREGATE_GRA

[2020-03-24 20:53] kernelizd commented on #37741
@ravikyram Hi. I installed 2.2 releae candidate, its working smoothly now.
Thank you.

[2020-03-24 20:53] #37741 closed

[2020-03-24 21:33] robieta commented on #33024
@phiwei I would be skeptical that the change would be back ported since it is a non-trivial behavior change, and putting it into a point release could cause other models in 2.0 to silently train differently. (Which is why point releases are generally reserved for absolutely critical fixes.) Although I am no longer a member of the TensorFlow team, so that is pure speculation on my part.

[2020-03-24 21:34] icoffeegirl commented on #37844
Thanks for the prompt response to this issue.

I also read the official document about [operator compatibility](https://www.tensorflow.org/lite/guide/ops_compatibility), saying that, ops such as EMBEDDING_LOOKUP, HASHTABLE_LOOKUP, "are present, but not ready for custom models". I'm wondering if these ops cannot convert, or just because the lite/kernel is not ready? Thanks!

[2020-03-24 21:41] wanglei18 opened #37880 "Build Fail Due to "ImportError: No module named enum" (python 3.7)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (macOS Mojave, version 10.14.6):
- TensorFlow installed fr

[2020-03-24 21:43] AseiSugiyama commented on #37829
Sorry, this issue came from my misunderstanding. I checked the input shape of the `model_2` in [this notebook](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/micro/examples/hello_world/create_sine_model.ipynb) but what I have to check truly is the input shape of `sine_model`. So, I close this issue.

[2020-03-24 21:43] #37829 closed

[2020-03-24 22:03] jvishnuvardhan commented on #35146
@stekiri I ran first part of your code and restarted runtime and ran second part of your code. I cannot reproduce the issue when I used recent `tf-nightly`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/ab648c68555590549d566fb4a4d08703/untitled38.ipynb).

Can you please check once and close the issue if this was resolved for you? Thanks!

[2020-03-24 22:11] mihaimaruseac commented on #37811
In that case, can we close issue?

[2020-03-24 22:47] jdduke commented on #37623
Which target are you building? It should be [this one](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/BUILD#L140), and you should be using [the new V2 C API](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/delegate.h).

[2020-03-24 23:22] #37880 closed

[2020-03-24 23:22] wanglei18 commented on #37880
solved

[2020-03-24 23:24] kmh4321 commented on #30620
@kshitij12345 sure, I  haven't taken a look at this in a while so you can close it for now.

[2020-03-24 23:37] ralpha commented on #15172
This fixed the problem for me.
Changed line 160 in the file tensorflow/third_party/gpus/cuda/BUILD.tpl in the section `cc_library(name = "cusparse",` from:
`linkopts = ["-lgomp"],` to
`#linkopts = ["-lgomp"],`
And recompiled/continued compiling the build. Build completed successfully. :D

[2020-03-24 23:46] fwatty-1218 opened #37881 "tf.tpu.experimental.initialize_tpu_system raises GRPC error"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platfo

[2020-03-24 23:56] Ceceu opened #37882 "How to apply cosine similarity loss function in unsupervised training?"
In the Figure below is showed a simple deep learning architecture capable of learning embeddings for sentences. The training set is composed by sentence pairs `[[sentence_a],[sentence_b]]` that have the same semantics.

[![enter image description here][1]][1]

The objective is to fine-tune the embeddings of the sentences to be similar (since sentences in the pair have the same semantics). Conseque

[2020-03-25 00:08] KoykL opened #37883 "tf.keras.layers.conv*d is slow compared to tf.nn.conv*d"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution : Arch Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
the issue happens on mobile device: N/A
- TensorFlow installed from (source or
binary): - TensorFlow version (use command below):
- Python version: - Bazel
version (if com

[2020-03-25 01:05] tensorflowbutler commented on #34528
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-25 01:05] tensorflowbutler commented on #37410
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-25 01:05] tensorflowbutler commented on #37059
It has been 14 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2020-03-25 01:14] #34528 closed

[2020-03-25 01:15] tanzhenyu commented on #34528
Looks like it has been resolved

[2020-03-25 01:29] mrrqzhang commented on #34485
tensorflow 1.12 ok for gpu.

1.12.0

True

[2020-03-25 01:47] minjac commented on #37536
Hi, thanks for reply. I click your link, **beta1_power** and **beta2_power** seems to be the same as **t** in Adam Optimizer's formula.

[2020-03-25 01:50] LAWSSSS commented on #37817
@Saduf2019 Thanks for the solution. I changed my tensorflow to 2.0.0 and used the same method provided in the referenced issue(`tf.compat.v1.lite.TFLiteConverter.from_frozen_graph`), it worked out.
Thanks a lot.

[2020-03-25 01:50] #37817 closed

[2020-03-25 01:57] LAWSSSS commented on #37814
@howl-anderson  Sorry for the late response and thanks for the pointer.  I've checked the TF version, and I'm sure that it's TF 1.14.0. Any insight on this problem?

[2020-03-25 02:05] LAWSSSS opened #37884 "Try to convert a custom SSD_MobileNet model to tflite, but get the error: Check failed: dim_size >= 1 (0 vs. 1)"
System information:

- Windows 10

- Python 3.6.10

- Tensorflow 2.0.0

[code]
However, when I run the above code, error messages will show up as the following:
[code]
How do I solve `Check failed: dim_size >= 1 (0 vs. 1)`.?
Thanks in advance.

[2020-03-25 02:35] nitbix opened #37885 "Error when deserialising BatchNormalization layers from yaml"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes (see example below)
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10, Anaconda3

- TensorFlow installed from: binary (pip)
- TensorFlow version (use command below): tensorflow-gpu 2.1.0 (from pip)
- Python version: 3.7.7
- CUDA/cuDNN version: 10.2
- GPU

[2020-03-25 02:48] LAWSSSS commented on #37884
Also, I notice that there are many "unsupported operation" showing up in the error message, do these faults have anything to do with my problem?

[2020-03-25 03:18] saeidsoheily commented on #23815
@WeifaGan
You need to change the training directory and it will work then. Because the program reload from the old training directory.

[2020-03-25 03:56] Fengzhijjin opened #37886 "After training the model using keras, tensorflow1.15 performs Post-training integer quantization, but the MCU prediction results are inconsistent with tflite output"
@tensorflow/micro
**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installed from (source or binary):  conda install tensorflow=1.15
- Tensorflow version (commit SHA if source): 1.15.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arm-cortex M4

**Describe the problem**
My English level is not very good, thank you

[2020-03-25 04:06] Hongtao-Niro opened #37887 "Wrong loss calculation with multi-output models when using model.fit."
**System information**
- Have I written custom code: Yes, though the code sample below is adapted from an official tensorflow tutorial with minimal changes.
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from: official pip package, version 2.1.0
- Python version: 3.6.9
- CUDA/cuDNN version: CUDA 10.1, GTX 1070

**Describe the current behavior**
Consider the following mnist exa

[2020-03-25 04:08] alanpurple opened #37888 "windows build with r2.2 failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows10 x64 1909
- Mobile de

[2020-03-25 04:13] howl-anderson commented on #37814
@LAWSSSS In your `python import_pb_to_tensorboard.py --model_dir C:/Users/LAWSSSS/Desktop/convert_pb_2_tflite/mnist_model_graph.pb --log_dir /tmp/tensorflow_logdir` where the file `import_pb_to_tensorboard.py` come from?

[2020-03-25 04:20] Hongtao-Niro commented on #37887
## Update ##
I just found out that, if you alter the order of the outputs by doing `model = tf.keras.Model(inputs=inputs, outputs=[outputs, x])`, they the script works as expected. This means the first loss object you give will always be associated with the first output.

I would say this is still a bug because the purpose of passing a dictionary to `loss` is to make everything explicit, so I don'

[2020-03-25 04:32] khimraj commented on #37870
@Lillypucien , to run model eagerly first you need to enable eager execution with `tf.enable_eager_execution()`
Complete code is:
[code]

[2020-03-25 04:36] MarisJon commented on #37858
Hello
Thank you for the reply. I am sorry for this inconvenience. Please let me add more details below

How to reproduce the issue
1) Please remove "import amatdeep; amatdeep.start_tf()". And then, you will have a save model
2) Load & try the saved model using following code

'''
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  try:
    # Currently, memory growth needs to be t

[2020-03-25 04:37] zipooclassic commented on #34607
pip install tensorflow==1.13.1
try it~!

[2020-03-25 04:44] A5mad commented on #25922
I had the same issue when I tried to convert my trained model that used the inception_v3 model. There are the parameters that finally worked for me when I tried converting using tflite_convert:

`–graph_def_file=myfile.pb –output_file=output.tflite –input_format=TENSORFLOW_GRAPHDEF –output_format=TFLITE –-input_shape=1,299,299,3 —input_array=ResizeBilinear –output_array=final_result –inference_typ

[2020-03-25 04:48] svshubham01 commented on #34607
`pip uninstall tensorflow` after that `pip install tensorflow` worked for me

[2020-03-25 04:51] Gogotis opened #37889 "Bazel Build Error : crosstool_wrapper_driver_is_not_gcc failed(Install Tensorflow1.14 using Bazel)"
I NEED YOUR HEEEEEEEEEEEEEEEEEEEEEEEEEEEELP!!!

According to Nvidia TensorRT page
(https://docs.nvidia.com/deeplearning/sdk/tensorrt-release-notes/tensorrt-6.html),
![Screenshot from 2020-03-25 10-30-32](https://user-images.githubusercontent.com/60951742/77500185-a8d6fc00-6e97-11ea-92a3-ec03f9614c27.png)
so install like this...

**System information**
- OS Platform and Distribution (e.g., Linux Ub

[2020-03-25 05:01] LAWSSSS commented on #37814
@howl-anderson Thanks a lot. Following your instruction, I finally solve my problem. The `import_pb_to_tensorboard.py` is from a blog, not my original installed tensorflow folder. After replacing it with my own installed tensorflow file, the problem is solved.

[2020-03-25 05:01] #37814 closed

[2020-03-25 05:01] Gogotis commented on #37889
Add))

`./configure` Setting

[code]

[2020-03-25 05:15] fzyzcjy commented on #31173
This is really wonderful feature. Looking forward to seeing it again!

[2020-03-25 05:36] powderluv commented on #37812
Fix is merged in master. Feel free to close the issue.

[2020-03-25 05:44] kshitij12345 commented on #36146
Oops. My bad didn't notice that.

[2020-03-25 05:52] masumkmu commented on #37720
![image](https://user-images.githubusercontent.com/61747889/77506072-d32cb780-6e9f-11ea-9dbd-cfd102c6f466.png)
I'm facing the same issue with TF 2.1.0

[2020-03-25 07:03] lackhole commented on #37623
@jdduke For Android.
When using [the new V2 C API](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/delegates/gpu/delegate.h) delegate makes an error. Since I couldn't find an official document about using C to use delegates, I just
* [Web Document](https://www.tensorflow.org/lite/performance/gpu_advanced#android_cc) : Use deprecated function & C++ ```Interpreter```
* [GitHub g

[2020-03-25 07:09] Khanifsaleh commented on #37865
Yes, I have read the documentation. I have tried implementing tf_upgrade_v2, but the tf.contrib.legcy_seq2seq.embedding_rnn_seq2seq has not changed. I also read [contrib_sunset](https://github.com/tensorflow/community/blob/master/rfcs/20180907-contrib-sunset.md) which states that legacy_seq2seq was replaced by seq2seq on the tensorflow_addons module. But that doesn't work, it works for the sequenc

[2020-03-25 07:42] Abbas009 commented on #37863
I also have same kind of error. I was following some tutorials which he was using the older version.
Python 3.6.6
Tensorflow-gpu 1.2.0
CUDA v.8
cuDNN v5.1
Traceback (most recent call last):
  File "C:\Users\BMSSA\PycharmProjects\Tensorflow_GPU_programming\venv\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mname

[2020-03-25 07:44] Abbas009 commented on #37863
I also have same kind of error. I was following some tutorials which he was using the older version.
Python 3.6.6
Tensorflow-gpu 1.2.0
CUDA v.8
cuDNN v5.1

Traceback (most recent call last):
  File "C:\Users\BMSSA\PycharmProjects\Tensorflow_GPU_programming\venv\lib\site-packages\tensorflow\python\pywrap_tensorflow_internal.py", line 18, in swig_import_helper
    return importlib.import_module(mnam

[2020-03-25 07:58] 0unstoppable opened #37891 "help me with tensorflow 2.0 installation"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):windows 10 64 bit
- Mobile devi

[2020-03-25 08:05] taoja12 opened #37892 "Converting unsupported operation: PyFunc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
pycharm
- TensorFlow version (or github SHA if from source):
tensorflow 1.15.0

**Command used to run the converter or code if you’re using the Python API**
If possible, please share a link to Colab/Jupyter/any notebook.
This is my code.
import tensorflow as tf

path =

[2020-03-25 08:13] Sam-Persoon commented on #36505
As a month passed since the last comment, any updates on this?

[2020-03-25 08:22] Antonio-git-lab commented on #36235
Hello so should I have a GPU model to solve this problem?

[2020-03-25 08:29] taoja12 commented on #26696
Have you solved your problems? I have met the same question!

[2020-03-25 08:29] Lillypucien commented on #37870
Calling tf.enable_eager_execution() indeed does run all of the model eagerly, including its loss, as described in my post (and shown in logExperimentalRunEagerly.txt).

However, tf.Keras models also have an attribute run_eagerly which, when set to True, allows a specific model to be run eagerly, whithout interfering with the rest of the code. Setting this attribute to True used to run the whole mo

[2020-03-25 08:34] freedomtan commented on #37750
Well, mostly TFLite works in user space. It should has little to do with Linux kernel. Surely, your compiler (e.g., gcc version) could be a problem. But I think you should figure what kind of Cortex-A9 you have first.

[2020-03-25 08:37] ageron commented on #34025
When calling a simple RNN with input sequences of various lengths, it seems that the model gets traced once for each sequence length, as you can see in [this Colab](https://colab.research.google.com/drive/1Aj51rVjkpUesVz3dSTvih7kW9CT_QjRA). Here's the code:

[code]

Perhaps there's a way to force the model to use a single graph instead of tracing a new one for each input shape?

[2020-03-25 09:09] chandu8542 commented on #32383
Even after upgrading `gast` does not solve my issue.

[2020-03-25 09:12] VladislavKlass commented on #35860
This solved the issue for me:
Right-click on your desktop desktop for quick access to the NVIDIA Control Panel
Windows Step 1: Open the NVIDIA Control Panel, select 'Desktop', and ensure 'Enable Developer Settings' is checked.
Windows Step 2: Under 'Developer' > 'Manage GPU Performance Counters', select 'Allow access to the GPU performance counter to all users' to enable unrestricted profiling[1]

[2020-03-25 09:12] summelon commented on #37830
Update: After recognizing VarHandleOp and VariableV2, I found the problem of my code is still the difference between Op type. In TF-slim defined model, the program identify prunable Ops by scope with "*/read" and their type are "Identify". while in Keras, it seems that Ops are turn into "*/ReadVariableOp" and their type are also "ReadVariableOp".
Would you like to tell me some helpful information

[2020-03-25 09:15] ashutosh1919 commented on #37830
cc @fchollet

cc @fchollet

[2020-03-25 09:44] yuanlida commented on #37733
Why removed the label?

[2020-03-25 09:44] yuanlida commented on #37733
I am waiting...

[2020-03-25 09:49] RoelantStegmann commented on #21174
Would be a cool function - also her predictions are a small overhead compared to the overhead of prediction time.

[2020-03-25 09:52] vnvo2409 commented on #19297
I can not build `//tensorflow/core/platform/s3:s3_file_system_test` becasue of this error
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/17511625/77523288-1dba2e00-6eb8-11ea-8193-ebea8d64ff72.png">
I think the root of it is there are two file [1](https://github.com/tensorflow/tensorflow/blob/0298dd6900d4278e1a3f8c4f6a6956dd9e7ca7f0/tensorflow/core/lib/bfloat16/BUILD#L

[2020-03-25 10:14] sanchit88 commented on #35754
Any update regarding conda and Tensorflow 2.1 on macOS? It is still installing 2.0

[2020-03-25 10:28] ayushmankumar7 commented on #37891
Since you are working on your local computer ... go to command prompt and do "pip install tensorflow==2.0.0". Your work ll be done. Thank you.

[2020-03-25 10:29] stekiri commented on #35146
It seems to be resolved. Thanks!

[2020-03-25 10:29] #35146 closed

[2020-03-25 10:48] hgffly opened #37894 "How to save/load the partial model for fine-tuning/transfer-learning in TF2.1?"
I would like to build my own base model and train it with big dataset. After training, I save the base model. I have another customized model and I want to load the weights of first two layers from the base model. How should I achieve it in Tensorflow 2.1.0, thanks.

Sample codes:

    import os
    os.environ["CUDA_VISIBLE_DEVICES"]=""
    import tensorflow as tf
    from tensorflow import keras

[2020-03-25 10:59] Lillypucien opened #37895 "run_eagerly argument bug in tf.Keras.Model compile method"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Windows 10, x64
- TensorFlow installed from (source or
binary): Binary (pip)
- TensorFlow version (use command below): TF 2.2.0 (2.2.0.dev20200324)
- Python version: 3.7
- CUDA/cuDNN version: 10.1 / 7.6
- GPU model a

[2020-03-25 11:02] Lillypucien commented on #37870
This issue seems to be a direct consequence of issue #37895

[2020-03-25 11:02] #37870 closed

[2020-03-25 12:14] monk-boop commented on #37876
This may be due to the fact that you've given verbose=2 in your fit model. You can try verbose = 1.

[2020-03-25 12:25] srogatch commented on #37876
According to https://www.tensorflow.org/api_docs/python/tf/keras/Model#fit :

So `verbose=2` seems to be not that verbose to trigger such a warning: it prints something on epoch end, which is rarer than the batch end. In contrast, they suggest on the internet to change from `verbose=1` to `verbose=2` in order to avoid such warning, because I guess `verbose=1` prints something on every batch.