[2019-09-15 00:13] mshlis commented on #32477
Just added the import statements. Sorry for the exclusion.

[2019-09-15 02:02] juwikuang commented on #28326
I downgraded cuDnn from 7.6.2 to 7.4.1 and restarted. the problem solved.
my cuda is 10.0 always.
but the tensorflow page says
[cuDNN SDK (>= 7.4.1)]
So I installed cuDNN 7.6.2 at first and worked fine before I started to use CNN.

[2019-09-15 02:44] Monism1 commented on #32484
An error on my end.

[2019-09-15 02:44] #32484 closed

[2019-09-15 03:05] ongoing0217 commented on #32516
apparently it was an issue with the input, so I did some reshaping and now it works just fine.

[2019-09-15 03:05] #32516 closed

[2019-09-15 03:12] Xie-Fangyuan opened #32534 "import packages of tf2.0.0rc in pycharm"
i'm using tf2.0.0rc, win10.

when i write the below code in pycharm, `Dataset` is underlined with a red line, and shows a message `cannot find reference 'Dataset' in '__init__.py' `, and pycharm can't auto-complete `Dataset`'s functions, but the script can run well.

[code]

when i write the below code, there is no red line, and pycharm can auto-complete `Dataset`'s functions, but the script has e

[2019-09-15 03:13] Xie-Fangyuan commented on #32534
it has the same problem when i import almost every packsge of tf2.0.0rc in pycharm

[2019-09-15 03:40] dm961027 commented on #32175
@jvishnuvardhan  when i build my app,there is no error, but when i run my app ,the error is the one when i refer to , so i do not know how to summarize more details .That is all my error ,sorry

2019-09-15 11:38:39.830 19087-19087/? I/tensorflow.dem: Not late-enabling -Xcheck:jni (already on)
2019-09-15 11:38:39.884 19087-19087/? W/tensorflow.dem: Unexpected CPU variant for X86 using defaults: x86

[2019-09-15 04:29] liushengzhong1023 opened #32535 "Build TensorFlow Lite for Raspberry Pi with SELECT_TF_OPS"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Raspbian GNU/Linux 9.1 (stretc

[2019-09-15 04:55] khousi commented on #32352
Really, Sorry for the delay.....

**C:\Users\NEW>pip debug --verbose**

WARNING: This command is only meant for debugging. Do not use this with automation for parsing and getting these details, since the output and options of this command may change without notice.
pip version: pip 19.2.3 from c:\users\new\appdata\local\programs\python\python36\lib\site-packages\pip (python 3.6)
sys.version: 3.6.0

[2019-09-15 05:33] dm961027 commented on #32175
I have already solved this problem , I use tensorflow 1.13.1 replaced tensorflow 1.14.0 and add
 implementation 'org.tensorflow:tensorflow-android:1.13.1'  thank you everyone

[2019-09-15 05:50] rryan commented on #32218
Thanks for the report! Note that in your example, `tf.signal.fft2d` operates over the inner-most 2 dimensions (`[300, 1]`) so this is likely even slower than you measure.

[2019-09-15 06:21] rryan commented on #30574
Thanks for the report! I have a fix for this out for review.

[2019-09-15 06:39] ghltshubh commented on #28553
@wdirons I installed bazel from https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/linux-ppc64le/ but I am still getting
Could not find any cuda.h matching version '' in any subdirectory:
        ''
        'include'
        'include/cuda'
        'include/*-linux-gnu'
        'extras/CUPTI/include'
        'include/cuda/CUPTI'
of:
        '/lib'
        '/opt/ibm/spectrum_mp

[2019-09-15 06:41] ghltshubh commented on #28369
@wdirons I installed bazel from https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/linux-ppc64le/ but I am still getting

[code]

[2019-09-15 07:43] JerichoHy commented on #28846
@hsm207  I tried to upgrade with `upgrade pip install tensorflow==2.0.0rc1`, but problem existed stilly. Could you tell me how to upgrade to `v2.0.0-rc0-101-gd2d2566eef 2.0.0-rc1`. Thanks!

[2019-09-15 07:52] doladola opened #32539 "tf-Java 1.14.0 can not open shared object file libtensorflow_frameword.so.1"
**System information**
- OS system: CentOS 7.3
- TensorFlow installed from binary: import tensorflow from maven repo
- TensorFlow version: 1.14.0
- Python version: 3.6.5
- CUDA/cuDNN version: cuda10-cudnn7

**Describe the current behavior**
We are using tensorflow java api to loaded a tensorflow model and a program exception is thrown. The exception information shows that the dependent resource fi

[2019-09-15 07:59] DanielWicz commented on #30263
Does this issue lower performance? (if you're using Nvidia GPUs) Since I wonder if I would change the GRUs to CUDA optimized, it would speed up my training (which is really slow now).

[2019-09-15 09:08] breadbread1984 opened #32540 "tf.map_fn doesn't support unpacking multiple tensors of different dimensions"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.0.0-dev20190731
- Are you willing to contribute it (Yes/

[2019-09-15 10:04] miladfa7 commented on #20271
you  add the following path in your .bashrc file:

[code]

[2019-09-15 11:09] burn874 commented on #22794
Found out something interesting which should help some of you who are using anaconda.

System Spec:
Widows 10
Python 3.7.3
Cuda 10.0
cudnn and cupti installed with conda

By adding anaconda to system path during the installation (the none recommended/default setting) I was unable to tf running. Reinstalling it without selecting the option solved this issue.

[2019-09-15 12:27] fabriciofsantana commented on #30191
Hi, I had this problem in Raspberry Pi and your procedure worked for me.
Thank you.

[2019-09-15 14:34] matsen commented on #32479
I just did some testing and this does come with a performance penalty.

To clarify the issue:
[code]
works great with no errors, while
[code]
throws errors and is slower.

[2019-09-15 15:24] hsm207 commented on #28846
@JerichoHy I did not do an upgrade. I created a new conda environment and ran `pip install tensorflow==2.0.0-rc1`

[2019-09-15 16:26] ExpectationMax opened #32543 "RNN layer does not reset dropout masks of RNNCell"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Mojave 10.14.6
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):  v1.12.1-9392-gf3c7314d83 1.15.0-rc0
- Python version: 3.7.4

**Describe the current behavior**
Th

[2019-09-15 16:40] raghavvikram commented on #3179
Is it supported on mac os 10.14.5 now??

[2019-09-15 16:41] raghavvikram commented on #3179
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-18-4d957316d630> in <module>()
     13 # Import Mask RCNN
     14 sys.path.append(ROOT_DIR)  # To find local version of the library
---> 15 from mrcnn import utils
     16 import mrcnn.model as modellib
     17 from mrcnn import visu

[2019-09-15 16:46] OliPhilip commented on #24816
Same error occurs **only for validation** using identical generators for train and valid for the dummy example below (tf 1.14, python 3.6):

[tf_topo_bug.py.txt](https://github.com/tensorflow/tensorflow/files/3613997/tf_topo_bug.py.txt)

[2019-09-15 17:15] alon1samuel commented on #30421
Hi,
This solution didn't work for my.

I'm running on TF 2 rc1. I've added these lines and I still get this error of Failed to get convolution algorithm...

Are there any other solutions?
Regards, Alon

[2019-09-15 17:46] isaacgerg opened #32544 "tf.keras batch normalization is batch dependent at test time"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Both
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.13
- Python version: 3.7
- CUDA/cuDNN version: 10
- GPU model and memory: RTX

**Describe the current beha

[2019-09-15 17:48] biswadipmitra commented on #17101
GETTING ERROR..
ImportError: Could not find 'cudart64_100.dll'. TensorFlow requires that this DLL be installed in a directory that is named in your %PATH% environment variable. Download and install CUDA 10.0
![ERROR](https://user-images.githubusercontent.com/6049201/64925507-1df1b680-d80f-11e9-89c0-053a8f3abd04.JPG)
from this URL: https://developer.nvidia.com/cuda-90-download-archive

[2019-09-15 19:52] primejava commented on #28257
This problem has not been solved. Why does the return value be "unknown"

[2019-09-15 20:06] #32540 closed

[2019-09-15 21:02] arthurflor23 commented on #32052
I had this problem just using ``model.fit_generator()`` on 2.0.0-rc1, so I back to the 2.0.0-beta1

[2019-09-15 21:20] spate141 commented on #18819
Any update? @littleDing @usptact @elvys-zhang ?

[2019-09-15 22:33] breadbread1984 opened #32545 "tf.keras.layers.Add can add tensors with dimension ()"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-16 01:06] Liang-yc commented on #32413
Thanks for your reply. I added some codes in my project as following:
`
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
  # Create 2 virtual GPUs with 1GB memory each
  try:
    tf.config.experimental.set_virtual_device_configuration(
        gpus[0],
        [tf.config.experimental.VirtualDeviceConfiguration(memory_limit=1024),
         tf.config.experimental.VirtualDeviceConf

[2019-09-16 01:07] spate141 commented on #20158
Any update with the predict methid? @dhruvdcoder

[2019-09-16 01:08] JerichoHy commented on #28846
Thanks.

[2019-09-16 01:24] rbavery commented on #30728
@tuanzhangCS I installed keras from the master branch that has the PR you linked but I still get this error:

[code]

[2019-09-16 01:37] XuVision commented on #32462
great, thanks!

[2019-09-16 02:14] tuanzhangCS commented on #30728
@rbavery You can open the file "/data/anaconda/envs/cropmask/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py" and check if there is the fix there. The reason for this error is that "class  _TfDeviceCaptureOp" which declared in "keras/backend/tensorflow_backend.py" has no func '_set_device_from_string', so we can just add it.
So I think you package of keras doesn't have the change o

[2019-09-16 03:04] makercob commented on #32534
see https://github.com/tensorflow/tensorflow/issues/31973

[2019-09-16 03:27] robieta commented on #30728
Indeed. The fix is in for keras-team/keras, but conda/pip installs won't pick it up until the next keras release. @fchollet Do you think it's worth making a 2.2.6? (I'm not sure how far out 2.3.0 is, and if this is breaking enough to warrant an intermediate release.)

[2019-09-16 03:30] Mageswaran1989 commented on #32052
Can anyone help me with the right way of setting up the TFEstimator and Dataset APIs in Tensorflow 2.0 so that I can evaluate after each epoch, like we did in Tensorflow 1.1x ?

[2019-09-16 03:44] payne4handsome opened #32546 "[autograph List comprehension issue] OperatorNotAllowedInGraphError error in Tensorflow 2.0"
**System information**
- OS Platform and Distribution
Mac os (10.14.6)
- TensorFlow installed from (source or binary):
binary
- TensorFlow version (use command below):
 2.0.0rc1
- Python version:
Python 3.6.4

I'm learn tensorflow2.0 from [official tutorials](https://www.tensorflow.org/beta/guide/autograph#batching).I can understand the result from below code.
[code]
But if I change the inputs wit

[2019-09-16 03:59] wangyunxiaa commented on #32458
@gadagashwini I have tested it on 2080Ti with tf1.13 and tf1.14, not using latest Tf nightly version.
my test code as followings:
`from tensorflow.python.platform import gfile
import time
import os
import datetime
os.environ['TF_ENABLE_AUTO_MIXED_PRECISION'] = '1'

with tf.Graph().as_default():
    output_graph_def = tf.GraphDef()
    with gfile.FastGFile("graph.pb", "rb") as f:
        output_gra

[2019-09-16 04:47] shkarupa-alex commented on #32341
@ymodak , it is clear from your trace that you should install estimator package before continue
[code]

[2019-09-16 05:07] oanush commented on #32462
Closing since the issue is resolved.Thanks!

[2019-09-16 05:07] #32462 closed

[2019-09-16 05:22] oanush commented on #32529
@jostheim ,
Hi can you please provide a simple and standalone code to reproduce the issue reported from our end ? Thanks!

[2019-09-16 05:30] gadagashwini commented on #32505
@idenc,
In order to expedite the trouble-shooting process, please provide a standalone code to reproduce the issue reported here. Thanks!

[2019-09-16 05:30] csukuangfj commented on #32345
@rockyrhodes

`MicroMutableOpResolver` can indeed decrease the size of the final binary **significantly**.

Thank you

[2019-09-16 05:42] gadagashwini commented on #32512
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Also, did you compile from source or install a binary?

Make sure you also include the exact command if possible to produce the output included in your test case. If you are unclear what to include see the issue template displayed in [the Github new issue template](https

[2019-09-16 05:58] sugarflourish commented on #24385
Yes! I am nearly crazy by the bazel!!!! I only want to use tensorflow!

[2019-09-16 06:00] ravikyram commented on #32545
I have tried on colab with TF version 2.0.0-dev20190731, 2.0.0.dev20190915 ,2.0.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/4d2dbc41b14058292781f56e3bbfb225/untitled185.ipynb).Thanks!

[2019-09-16 06:07] richardwth opened #32547 "tensorflow.contrib.integrate.odeint does not work with the default __call__ method of subclass of tf.Keras.layers.Layer"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-16 06:10] gadagashwini commented on #32500
I replicated the issue on colab with Tf 2.0.0.rc1. Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/cc35a1c57a228661157480b1ba307116/untitled150.ipynb). Thanks!

[2019-09-16 06:20] ravikyram commented on #32543
I have tried on colab with TF 1.15.0-rc0 , nightly versions and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/d29fc400d2933fbf3efedfe1311f9a83/untitled186.ipynb).Thanks!

[2019-09-16 06:22] oanush commented on #32524
@Checkmate986212 ,
Can you please try using latest versions of TF- like 1.14 and 1.15-rc0? it works fine with these versions.
[code]

[2019-09-16 06:32] alon1samuel opened #32548 "tensorflow 2rc1 Failed to get convolution algorithm. This is probably because cuDNN failed to initialize, so try looking to see if a warning log message was printed above."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): - Yes
- OS Pla

[2019-09-16 06:37] gadagashwini commented on #18266
@lenlen, did you try the @SumNeuron's workaround. Please let us know if that solves your problem. Thanks!

[2019-09-16 06:47] oanush commented on #32519
@SumNeuron ,
Hi,looks like the issue is with CUDA, please refer similar issue #24828 and [solution](https://github.com/tensorflow/tensorflow/issues/24828#issuecomment-457425190).Thanks!

[2019-09-16 06:49] ravikyram commented on #32534
I have tried on colab with TF version 2.0.0-rc0, 2.0.0-rc1  and observed that
[code]
has no issue. However i can reproduce the issue with
[code]
Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/015651d955d4b6d1d2900daaa4efbe0c/untitled187.ipynb).Thanks!

[2019-09-16 06:54] rishabhsahrawat commented on #32359
Following is the error I am receiving. As I said, it originates from `callbacks` in `.fit()`-
[code]

[2019-09-16 06:56] shanshanpt opened #32549 "Chief-worker should waitting for all other workers."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): tensorflow1.12
- Are you willing to contribute it (Yes/No)

[2019-09-16 07:07] Xie-Fangyuan commented on #32534
it is the same, the first one can run well, but in pycharm, there is no autocomplete, and cannot find reference 'Dataset' in '__init__.py' . the second one support autocomplete, but it has error.

what i am expecting is both no error and autocomplete in pycharm. i just go back to use tf1.14.0.

[2019-09-16 07:19] smr97 opened #32550 "Timeline reports incorrect GPU memory usage"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-16 07:43] paolorota opened #32551 "Session() freezes the machine."
## System info:

- Ubuntu 18.04
- Nvidia Drivers: 390.116
- TF version: v1.13.1-0-g6612da8951 (installed using pip3)
- Cuda: 10.0
- CUDNN: 7.5.1
- Python: 3.6.8
- GPU: 2 x GeForce GTX 1080 Ti

## Description

I have 5 alienware machines that have been working for over one year with the above configuration. Last week I noticed that tensorflow does not work anymore when I try to open a session:
[cod

[2019-09-16 08:26] isaprykin commented on #30052
I also hit this issue in my personal project :)

[2019-09-16 08:43] gadagashwini commented on #32544
@isaacgerg, I could execute the code in colab. Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/ccbd9e29de1c4dd5cf591c08b18bbe41/untitled151.ipynb) and confirm the expected behavior. Thanks!

[2019-09-16 08:43] ArtCust commented on #29028
I'd like to ask about current third party module [hvx](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx) will it be working with tflite as of now?

I see that currently hexagon kernel is built only for regular tensorflow (tensorflow/core/kernels/hexagon/BUILD)
If so does it mean that without adding it to tflite we will be unable to benefit from qualcomm addon?

[2019-09-16 08:47] DoumanAsh commented on #29028
I'd like to ask about current third party module [hvx](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/hvx) will it be working with tflite as of now?

I see that currently hexagon kernel is built only for regular tensorflow (tensorflow/core/kernels/hexagon/BUILD)
If so does it mean that without adding it to tflite we will be unable to benefit from qualcomm addon?

[2019-09-16 08:55] gadagashwini commented on #32284
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-16 08:55] #32284 closed

[2019-09-16 08:59] gadagashwini commented on #32310
@sharonevarghese, Did you try the @mihaimaruseac's suggestion.

[2019-09-16 09:00] gadagashwini commented on #32313
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-16 09:00] #32313 closed

[2019-09-16 09:01] gadagashwini commented on #32326
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-16 09:01] #32326 closed

[2019-09-16 09:01] bersbersbers opened #32552 "CUDNN_STATUS_ALLOC_FAILED with minimal network and data using CUDA 10.0 and CuDNN 7.6.x"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binaries from pip
- TensorFlow version (use command below):1.13.1 through 2.0.0rc1 (e.g., v2.0.0-rc0-101-gd2d2566eef 2.0.0-rc1)
- Python version:

[2019-09-16 09:02] gadagashwini commented on #32344
@flooreigenhuis, Any update on reproducible code snippet. Thanks!

[2019-09-16 09:03] oanush commented on #32501
Issue replicating for TF version-2.0rc0 and also 2.0rc1, please find the [gist](https://colab.sandbox.google.com/gist/oanush/8b07187ad22ba68f2bdd7f45a058d851/32501.ipynb) of the colab.Thanks!

[2019-09-16 09:05] gadagashwini commented on #32413
@Liang-yc,In order to expedite the trouble-shooting process, please provide a complete standalone code to reproduce the issue reported here. Thanks!

[2019-09-16 09:07] ravikyram commented on #32518
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-16 09:16] iperov commented on #25525
my solution to make BatchNormalization works properly , i.e. updating moving_mean and moving_variance, if you are using K.function API

[code]

[2019-09-16 09:19] paolorota commented on #32551
[SOLVED]

My solution was this:

1. remove completely nvidia drivers with `sudo apt-get purge nvidia-*`
2. __[IMPORTANT]__ autoremove dependencies `sudo apt-get autoremove`
3. install new version of the drivers: `sudo apt-get install nvidia-driver-430`

Sorry to have bothered you all.

[2019-09-16 09:19] #32551 closed

[2019-09-16 09:30] oanush commented on #32493
@Pin80 ,
Can you please provide a simple and standalone code to reproduce the issue?Thanks!

[2019-09-16 09:32] oanush commented on #32227
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-16 09:32] #32227 closed

[2019-09-16 09:41] flooreigenhuis commented on #32344
@gadagashwini Sorry for the late response! I figured out that the error was most likely due to me trying to save a tensorflow 2.0 model on AI platform while AI platform doesn't support tensorflow 2.0 yet. I reverted my model back to tensorflow 1.14 and everything worked fine!

[2019-09-16 09:41] #32344 closed

[2019-09-16 09:41] flooreigenhuis commented on #32343
I figured out that the error was most likely due to me trying to save a tensorflow 2.0 model on AI platform while AI platform doesn't support tensorflow 2.0 yet.

[2019-09-16 09:41] #32343 closed

[2019-09-16 09:42] oanush commented on #32352
@khousi ,
Can you let us know if your CPU support AVX instructions and also TF version being used.Thanks!

[2019-09-16 09:48] babytut commented on #32552
you should add
`
config = tf.ConfigProto()
config.gpu_options.allow_growth = True
tf.keras.backend.set_session(tf.Session(config=config))`

[2019-09-16 09:50] babytut commented on #32548
You should add something like that

[code]

[2019-09-16 10:05] pwais commented on #18266
@gadagashwini the `overwrite` kwarg does not exist, it's just a proposal: https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/data/ops/dataset_ops.py#L1738-L1740

`overwrite` would be helpful but wouldn't solve the concurrency problem.  The op needs a do-over.

[2019-09-16 10:24] ravikyram commented on #32506
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-16 10:59] ravikyram commented on #32520
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-16 11:00] SamuelMarks commented on #32323
Latest error, from running on a new server—same specs as above—on master (f15b613f7eb59edb3feec221bfd17a2249efc851):
[code]

[2019-09-16 11:21] alon1samuel commented on #32548
Hi,
I tried it but I get an error of -

`AttributeError: module 'tensorflow_core.keras.backend' has no attribute 'set_session'
`

Are you sure it works on tf 2?

[2019-09-16 11:23] ravikyram commented on #32450
@joyjeni
Can you please help me with the files. It helps us to reproduce the issue in our environment.Thanks!

[2019-09-16 11:35] sugarflourish commented on #29785
I build it with msvc 2019 and get the same error. Should I uninstall the 2019 and reinstall the 2015?

[2019-09-16 11:42] ravikyram commented on #32477
I have tried on colab with TF version 2.0.0-rc0, 2.0.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/20ab0b70683608e4d33dd82b2934835d/untitled190.ipynb).Thanks!

[2019-09-16 12:00] kiflowb777 opened #32553 "FutureWarning in TensorFlow 1.14 after NumPy update."
System information:
    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
    TensorFlow installed from (source or binary): binaries from pip
    TensorFlow version (use command below):1.14
    Python version: 3.6.1
    CUDA/cuDNN version: 10.0 with any 7.5.0
    GPU model and memory: Geforce RTX 2060

After updating the NumPy to the latest version (1.17.2+mkl),
I receive the fol

[2019-09-16 12:20] Liang-yc commented on #32413
OK, you can use the following code:
[code]

[2019-09-16 12:23] Liang-yc commented on #32413
Here is the error messages:
[code]

[2019-09-16 12:32] Pin80 commented on #32493
I solved this issue.
Tensorflow utility transform_graph didn't remove all unused tensors, when i called command:
./transform_graph \
--in_graph='/home/user/MySoftware/foreign code/netology_JN/Diplom/Models/Raw/frozen_model.pb' \
--out_graph='/home/user/MySoftware/foreign code/netology_JN/Diplom/Models/optimized/optim_model.pb' \
--inputs='input_1' \
--outputs='conv2d_19_2/Sigmoid' \
--transforms='

[2019-09-16 12:40] drasmuss commented on #32501
This issue is present in 1.14.0 as well (and probably earlier, but the RNN api was different so the example doesn't run for other reasons).

[2019-09-16 12:46] kostyabakay commented on #27079
If you are using TensorFlow 1.14.0 you should install using this command
`pip install tensorflow-estimator==1.14.0`

[2019-09-16 13:32] wdirons commented on #28369
@ghltshubh , Please open a new issue for this problem with the build issue template so I know what version of TensorFlow your trying to build. I don't think the problem you are seeing is related to this issue. Please tag me on the issue you create. Thank you.

[2019-09-16 13:32] bersbersbers commented on #32552
@babytut this I had tried before, without success. I do not believe this is related to GPU memory.

Again cleaning all drivers, and again installing the most current drivers (436.30) seems to have fixed this for now, I'll reopen if it ever comes back.

[2019-09-16 13:32] #32552 closed

[2019-09-16 13:39] mjmikulski commented on #25282
I have the same issue within conda environment after I upgraded tf from 1.13.1 to 1.14.0:

[code]

My system is Windows 7, Python 3.6.8 :: Anaconda, Inc.

I tried `conda install mock` but id didn't help.

As i understand form the thread, there is no one solutions of the problem, is it? So maybe it should be reopen, @jvishnuvardhan?

[2019-09-16 13:41] isaacgerg commented on #32544
@gadagashwini Yes, that gist looks correct.  For the run I did, the first 2 rows were not identical.

[2019-09-16 13:52] khousi commented on #32352
@oanush
I have intel core i5 CPU and when i searched in Google it said it supports AVX.
Regarding the version
C:\Users\NEW>pip show tensorflow
Name: tensorflow
Version: 1.14.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: c:\users\new\appda

[2019-09-16 13:59] mohapatras commented on #21470
Any update on this thread. For now, I have to use 'hierarchical copy' as reduce algorithm in place of 'nccl' in tf 1.14 CUDA 10. Can't find official binaries for nccl windows 10.

[code]

[2019-09-16 14:00] SamuelMarks commented on #31434
Confirmed errors with `r1.15` (ea930781c3164c9646e26cf3716f86804aa65b63):
[code]

With an earlier build failing on:
[code]

[2019-09-16 14:10] cnh commented on #11217
This line "from tensorflow.tools.compatibility import ast_edits" is in which file ?

[2019-09-16 14:19] reuben commented on #26174
@jdduke Looks like d5cc8288d939b522982738370facd456a0a643ba fixed this?

[2019-09-16 14:23] mdanatg commented on #32457
To make sure I understand, you are suggesting adding support for heterogeneous dynamic lists, kind of like a `TensorArray` with elements of unknown shape? There are indeed primitive ops that should allow building such a type, although the gradients would probably become a bit more complicated.

Could you elaborate a bit on the ArraySpec piece a bit - you defined it as an array of objects that shar

[2019-09-16 14:34] husligc commented on #32315
Any fix on this @mihaimaruseac ? Still having problems and I know a lot of others are too. Thanks so much

[2019-09-16 14:45] mdanatg commented on #31588
About range vs. tf.range: in general, when the number of iterations is fixed, the memory constraints (particularly graph size) dictate the preference for tf.range. You are correct, the tf.range version might pay some runtime overhead, but that should be extremely small. There are some situations when tf.range cannot be used, for example in a loop that builds the layers of a neural net: `for i in r

[2019-09-16 14:57] IlyasAzeem opened #32554 "Survey on Pull Request Prioritization"
Dear Pull Requests integrators,
We are an international group of researchers investigating Pull Requests management activities. We implemented an automated approach, named CARTESIAN, for prioritizing Pull Requests (PRs) received by an open-source project according to the likelihood of acceptance/response. We would like to evaluate whether CARTESIAN can help integrators when reviewing PRs.
As we no

[2019-09-16 15:12] twinanda commented on #32544
Coming from https://github.com/keras-team/keras/issues/12400
I can verify that the rows are not equal for me. I tried multiple times, it is not equal.

[2019-09-16 15:36] jxtps commented on #32512
While I'm on Windows 10, Intel 64-bit, TF 1.14, `conda install tensorflow-gpu`, this feature request applies across platforms and future versions.

What I'm thinking is basically expanding on the data that goes into the `history` object returned by `model.fit`, and to retain that information when doing checkpoint saves/restores and when exporting a SavedModel.

The expanded information would inclu

[2019-09-16 15:36] mihaimaruseac commented on #32352
Can you try `python -v -c "import tensorflow.python.pywrap_dlopen_global_flags"` please? I'm trying to see if this minimizes the erroneous case.

[2019-09-16 15:38] mihaimaruseac commented on #31434
All I can think of for next step is to try building from scratch again (make sure on clean environment) and also pass in `--verbose_failures` flag when building.

Then, please _attach_ a log of the entire compilation.

[2019-09-16 15:38] jdduke commented on #26174
Ah yes, thanks for flagging, should be fixed!

[2019-09-16 15:39] #26174 closed

[2019-09-16 15:39] mihaimaruseac commented on #32315
This is best effort, we are not going to work into this this year. Compiling for both 32 bits and 64 bits is not that easy so we don't have this included in any milestones plan at the moment.

However, if the community wants to contribute patches so 32 bit support can be provided, they would be very welcomed.

[2019-09-16 15:48] #32347 closed

[2019-09-16 15:49] mihaimaruseac commented on #31196
Is this still an issue now that #32177 landed?

[2019-09-16 15:50] mihaimaruseac commented on #30348
Hi @ssrp. There has been a release candidate for 1.15, can you please check that tensorflow-android is also released?

[2019-09-16 15:51] idenc commented on #32505
This code should reproduce the issue.
[code]

[2019-09-16 16:13] novog opened #32555 "Can't import from subpackages"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 Enterprise
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.0.0rc1
- Python version: 3.7.2
- CUDA/cuDNN version: 10.0/7.5
- GPU model and memory: GeForce

[2019-09-16 16:36] robieta commented on #31975
Can you try the latest `tf-nightly-gpu-2.0-preview`? I believe most if not all of the graph walking was cut out in https://github.com/tensorflow/tensorflow/commit/f43ba77daff7ff1bfeda52b976ae6e5d4a7dc265.

[2019-09-16 16:40] gowthamkpr commented on #32368
@nguerinjr Can you please share a github gist of this issue. Thanks!

[2019-09-16 16:42] rockyrhodes commented on #32345
Glad you're able to reproduce my results.  I'll keep the issue open for Pete and Dan to decide if the README description is still valid.

[2019-09-16 16:51] gowthamkpr commented on #31991
@jmd-0 Did @pandrey-fr answer solve your problem. Can I close the issue?

[2019-09-16 16:55] gowthamkpr commented on #32050
Closing this issue as this has been inactive for more than 2 weeks. Please add additional comments and we can open the issue again. Thanks!

[2019-09-16 16:55] #32050 closed

[2019-09-16 16:57] reliefs commented on #32315
Kk then I am going to stop supporting Tensoeflow. Have a great day.

[2019-09-16 17:07] alexeagle opened #32556 "Bazel workspace.bzl requires a dependency on rules_closure"
Per https://stackoverflow.com/questions/52482972/running-load-within-skylark-macro
users of Tensorflow are adding rules_closure to their `WORKSPACE` file even though they don't use it.

rules_closure is minimally maintained (my team has just acquired it). We don't want new dependencies on it and have discovered that most dependencies are due to this issue.

I suspect the Tensorflow users don't act

[2019-09-16 17:12] gowthamkpr commented on #32241
@vade  I don't have access to your h5 file and .pb file. Also can you please reproduce the issue in colab and share the github gist with me. Thanks!

[2019-09-16 17:13] netskink opened #32557 "python kernel restart when training xgboost estimator"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- I am using a  stock example script provided in TensorFlow):
https://www.tensorflow.org/beta/tutorials/estimato

[2019-09-16 17:14] virginsince1997 commented on #32315
We would appreciate a python 32bit fix, some distros install python 32 bit by default and there's no way around it

[2019-09-16 17:17] pooyadavoodi commented on #30717
Could you post the log of this?
I just tried this I didn't see that the container boot telling to run `python_setup.sh`.

You don't need to run  `/opt/tensorrt/python/python_setup.sh`.

[2019-09-16 17:18] jsimsa commented on #32052
@karmel could you please comment on the recommended use of Estimator APIs in TF 2.0?

[2019-09-16 17:18] pooyadavoodi commented on #30717
Closing as a duplicate of https://github.com/tensorflow/tensorflow/issues/31039

[2019-09-16 17:18] #30717 closed

[2019-09-16 17:19] omalleyt12 commented on #32117
@imskr Please feel free to submit a PR for this issue, thanks!

[2019-09-16 17:22] rockyrhodes commented on #32468
Thanks for this information.  I believe there are several problems brought to light here.  First, the appropriate version of the convolution op that is generated by this quantization flow is not yet available in the micro framework.  Float and uint8 versions of the op are currently supported, but the new tf.lite quantization flow generates int8 ops.  There is a change in process to add this op to

[2019-09-16 17:31] rahulsrivastava1519 commented on #31939
This ans is right please check python version

[2019-09-16 17:31] pooyadavoodi commented on #31039
This is the error with LeakyRelu:
`2019-08-02 04:02:27.611805: E tensorflow/compiler/tf2tensorrt/utils/trt_logger.cc:41] DefaultLogger Parameter check failed at: ../builder/Network.cpp::addActivation::89, condition: int(type) >= 0 && int(type) < EnumMax<ActivationType>()
2019-08-02 04:02:27.611849: W tensorflow/compiler/tf2tensorrt/convert/convert_graph.cc:737] TensorRT node TRTEngineOp_0 added fo

[2019-09-16 17:36] netskink commented on #32557
This variant from the sample code also restarts the kernel during the train of the boosted tree.

https://www.tensorflow.org/beta/tutorials/estimators/boosted_trees

[2019-09-16 17:39] netskink commented on #32557
And this variant also fails.

https://www.tensorflow.org/beta/tutorials/estimators/boosted_trees_model_understanding

[2019-09-16 18:08] 7PintsOfCherryGarcia opened #32558 "Loading weights from checkpoint file fails [python/c api]"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): stock example

[2019-09-16 18:09] 7PintsOfCherryGarcia commented on #32558
If the C program needs more commenting please let me know

[2019-09-16 18:19] angersson commented on #32323
Can you try the build without using the cache?

[2019-09-16 18:23] omalleyt12 commented on #31647
Yes in general we can't assume anything about the structure of a subclassed Model. If your Model can be though of as blocks of Layers and you wish to visualize it like that, we recommend you view the Functional API

[2019-09-16 18:25] angersson commented on #32405
Can you try adding `-march=native`, as mentioned [here](https://github.com/yaroslavvb/tensorflow-community-wheels/issues/40)?

[2019-09-16 18:35] ychen404 commented on #32520
Those two files I put in the question (MN_REDUCED.py and main.py) are the code for reproducing the error. You should be able to run it as long as the TensorFlow version is the same.

[2019-09-16 18:37] rockyrhodes commented on #32468
The Eval(...) method in conv.cc is checking the input type of the op and generating an error message if the type is not one of {kTfLiteFloat32, kTfLiteUInt8}.  Do you see an error message like "Type %d not currently supported" when you run the code with your all_ops_resolver.cc changes?  The micro_interpreter code should also generate an error like "Node %s (number %d) failed to invoke with status

[2019-09-16 18:37] Iorek73 commented on #18829
@ignvinay , from the [here](https://www.tensorflow.org/lite/convert/cmdline_examples), it's recommended that the default_ranges_max=6 due to the Relu6 function.

[2019-09-16 18:46] #32493 closed

[2019-09-16 19:06] isaacgerg commented on #32544
@gadagashwini I am able to replicate the error exactly when fixing the RNG seeds.

[code]

[2019-09-16 19:13] ymodak commented on #32353
@nfgallimore The google colab hosts TF version 1.15 currently. In future we are moving to TF 2.X workflow therefore if you execute the same tutorial with TF 2.0 RC1 version you won't see those deprecation warnings.
The current tutorial contains the updated TF code and alerts you with the deprecated functionality from TF 1.X

[2019-09-16 19:25] sahilpasricja commented on #32130
@nfelt , @omalleyt12  Thanks for your suggestions although we are looking in same direction but our visions are not converging. Let me try again.
Of course, there are ways to write logs from TensorFlow using write and tf.compat.v2.summary.write() but my problem is
I was earlier using TF.layers
while run
for every epoch --> summary_op = summary_function(default_graph)
sees.run(summary_op)

In summa

[2019-09-16 19:37] jsimsa commented on #28257
@primejava have you read through the StackOverflow post linked above?

[2019-09-16 19:52] james-chuang opened #32561 "[TF2.0] Cannot place the graph after loading weights trained with multiple GPUs and tf.distribute.MirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: CentOS Linux 7.2.1511
- TensorFlow installed from: binary (pip)
- TensorFlow version: 2.0.0.dev20190915
- Python version: 3.6.8
- CUDA/cuDNN version: CUDA 10.0.130 / cuDNN 7.6.0
- GPU model and memory: 2x Nvidia Tesla V100-SXM2-16GB

**Describ

[2019-09-16 19:52] caseybasichis opened #32562 "Ungooglable error: dataset map over dictionaries with multiple input paths and float outputs"
The error in TF2b: "ValueError: elems must be a 1+ dimensional Tensor, not a scalar"

A StackOverflow bounty is a few days from expiring; docs and code.  At my wits' end.

[SO 100+ bounty and gunga galunga](https://stackoverflow.com/questions/57894869/tf-dataset-multiple-path-inputs-and-mapping-per-batch-to-load-images)

[2019-09-16 19:57] suharshs commented on #21009
We are working to make things more configurable in new converter iterations, will close this issue since its a bit stale.

[2019-09-16 19:57] #21009 closed

[2019-09-16 19:58] suharshs commented on #21008
We are working on a Keras approach to this that will allow the proper configurability. Closing this issue.

[2019-09-16 19:58] #21008 closed

[2019-09-16 20:18] krafczyk commented on #32510
After some googling, it seems my issue may actually be an issue with bazel instead.
The issues bazelbuild/bazel#4137 and bazelbuild/bazel#3320 seem to describe my issue perfectly.

Either --action_env is not being passed to subordinate actions, or bits like process_wrapper are

[2019-09-16 20:20] Quiigi commented on #30995
@qlzh727 What did you find?

[2019-09-16 20:23] jdduke commented on #32517
There's not much we can do for TF 1.12 at this point. Are you able to repro the issue in 1.14 or a more recent build?

[2019-09-16 20:28] breadbread1984 opened #32563 "can't interpret primitive type objects correctly"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-09-16 20:46] pandrey-fr commented on #32562
Hi,
I posted a suggested fix on the SO issue (which works as far as your `load_image` function is concerned.
Long story short: as indicated in the exception message, you were trying to feed float values as argument to a function expected tensor(s) :-)

[2019-09-16 20:50] jdduke commented on #32522
The `--config=android_arm` config should be defined in [tensorflow/.bazelrc. ](https://github.com/tensorflow/tensorflow/blob/master/.bazelrc#L6). Are you not seeing that in your checkout?

[2019-09-16 21:05] gowthamkpr commented on #32547
@richardwth I don't see any error in colab using Tensorflow 1.15.rco but its running for ever. Please take a look at Github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/88b90d105739479b2f40b30df5cd0577/untitled142.ipynb).

[2019-09-16 21:14] angersson commented on #32510
Thanks for updating the issue! Unfortunately, I do think this is a Bazel problem, so I'll close this issue here.

[2019-09-16 21:14] #32510 closed

[2019-09-16 21:17] smcgregor commented on #21008
Hi @suharshs where can we track/comment/contribute? I don't see anything that is an obvious fit here: https://github.com/tensorflow/tensorflow/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+quantization+keras+bit

[2019-09-16 21:24] isaacgerg opened #32564 "model.add_loss no longer works for tf.image.ssim_multiscale in tf 2.1"
This tf.keras code was valid in tf 1.13.1:

`model.add_loss(tf.image.ssim_multiscale(reconstruction.inputs[0], reconstruction.outputs[0], 1.0))`
with types of reconstruction.inputs[0], reconstruction.outputs[0] being:
[code]

but is no longer valid in tf 1.14.0 or 1.15.0rc0:

[code]

I can not find any documentation on this change or how to fix it in the newer tf versions.

[2019-09-16 21:44] brilhana commented on #32222
Up for grabs?

[2019-09-16 21:52] mihaimaruseac commented on #32315
As I stated, there is not enough time to duplicate all CI builds and to fix all the bugs that would get uncovered from there. And clearly this is not an issue that can be solved overnight.

[2019-09-16 22:07] WindQAQ commented on #32563
Hi @breadbread1984 It's because you try to use `np.array` as shape, which results in errors.
[code]

So the workable approach is to convert `np.array` back to list:
[code]

[2019-09-16 22:08] mihaimaruseac commented on #32222
Sure

[2019-09-16 22:22] angersson commented on #31926
https://github.com/tensorflow/docs/pull/979 has been merged, so I'll close this issue. Hopefully nvidia-docker issue can be resolved as well.

[2019-09-16 22:22] #31926 closed

[2019-09-16 22:50] dannykuo25 commented on #27401
@thiagoalmedeiros Hi there! Unfortunately I find it hard to understand the integer arithmetic optimization. So I turned to study other compression topics like pruning and sparsifying regularizer on activation functions.

[2019-09-16 22:52] pooyadavoodi commented on #32103
@jtressle the profiling link is correct.

[2019-09-16 23:00] reliefs commented on #32315
This is a high priority for me someone just asked me again a few min ago on how to install TensorFlow 2.0 for windows 10 32bit version.

This thread will be going wild.

[2019-09-16 23:15] reliefs commented on #32315
@petewarden @jhseu @terrytangyuan @xiejw @ezhulenev @feihugis @jsimsa @skye @ilblackdragon @asimshankar @MarkDaoust @yongtang @mrry @benoitsteiner

[2019-09-16 23:46] sgambient commented on #32518
Looks like  the error goes away when the workpspace memory size is increased.   Wondering, if the native segment fallback  works well transparently.  Preliminary observation is that it does not.

[code]

[2019-09-17 00:35] jvishnuvardhan commented on #32175
Thanks @dm961027 I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-09-17 00:35] #32175 closed

[2019-09-17 00:51] #32037 closed

[2019-09-17 00:57] #32563 closed

[2019-09-17 01:17] richardwth commented on #32547
Yes, I can confirm that using colab script, for Tensorflow 1.15.rco, the code runs forever; for Tensorflow 1.14, the same error is given. I'll update my description.

[2019-09-17 01:27] cyrus2018 opened #32569 "TF GPU doesn't recognise 2nd GPUs"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-17 01:35] chrisrapson commented on #3816
Since my un-augmented test images will only have pixel values in the range from 0-1, I decided to restrict my augmented images to the same range. Instead of the `tf.minimum(image, 1.0)` suggestion from before, I preferred to scale the pixel values, rather than just cap them at 0 or 1. I also take the min/max over all channels, to minimise colour distortion.

It's just these 2 lines of code:
[code]

[2019-09-17 01:59] neonrights opened #32570 "Assertion error when using mask with unrolled stacked LSTM"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-17 02:06] husligc commented on #32315
A lot of my clients asking for this too. would appreciate a fix

[2019-09-17 02:24] csbrown opened #32571 "Expose core/kernels/linalg_ops_common to user_ops"
**System information**
- TensorFlow version r1.14:
- Are you willing to contribute it (Yes/No): No.

**Describe the feature and the current behavior/state.**

Expose core/kernels/linalg_ops_common to user applications in core/user_ops.

**Will this change the current api? How?**

It will allow user ops to access [`class LinearAlgebraOp : public OpKernel`](https://github.com/tensorflow/tensorflow/b

[2019-09-17 02:27] csbrown commented on #32571
It might also make sense to move that whole file into `/core/framework` somewhere or another.

[2019-09-17 02:28] deasmhumhna commented on #32322
Yes, that is what I get. The result should be `no alter executed no alter executed alter executed alter executed` (`compute_mask` should always be called if implemented by a subclass). I am however curious why it runs when `mask=None` but not if there is a pre-existing mask. Some kind of optimization?

[2019-09-17 02:43] saga95 commented on #23961
C:\Users\Saagaa>pip install tensorflow-gpu==1.1
Collecting tensorflow-gpu==1.1
  ERROR: Could not find a version that satisfies the requirement tensorflow-gpu==1.1 (from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2, 1.14.0rc0, 1.14.0rc1, 1.14.0, 1.15.0rc0, 2.0.0a0, 2.0.0b0, 2.0.0b1, 2.0.0rc0, 2.0.0rc1)
ERROR: No matching distribution found for tensorflow-gpu==1.1

what version did you use?

[2019-09-17 03:38] oanush commented on #32562
@caseybasichis ,
Can you please refer the suggestion provided by @pandrey-fr , kindly find the [link](https://stackoverflow.com/questions/57894869/tf-dataset-multiple-path-inputs-and-mapping-per-batch-to-load-images) for the same.Thanks!

[2019-09-17 04:02] hubzhangchao commented on #32054
edit download_dependencies.sh, then change 'http.*bitbucket.org' to 'https.*bitbucket.org', It worked;

[2019-09-17 04:15] reliefs commented on #32315
another one just asked me for a fix -_-

[2019-09-17 04:17] wangsiyu commented on #30121
Thanks for your reply.

[2019-09-17 05:07] oanush commented on #32322
Issue replicating with TF 2.0beta, kindly find the [gist](https://colab.sandbox.google.com/gist/oanush/bbbb2f8fd4f731bb259b71f4370a2a4a/32322.ipynb) of colab.Thanks!

[2019-09-17 05:26] joyjeni commented on #32450
It's fixed from my end. It was the behavior with calculating the loss on batches

[2019-09-17 05:43] ravikyram commented on #32450
I am closing this issue since it looks to be fixed. Thanks!

[2019-09-17 05:43] #32450 closed

[2019-09-17 05:52] gadagashwini commented on #32548
@alon1samuel, I tried on colab it executed as expected. Please take a look at colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/44b8bf34a49d3bf06307449a978053ca/untitled152.ipynb). Thanks!

[2019-09-17 05:57] ravikyram commented on #32564
In order to expedite the trouble-shooting process, please provide a minimal standalone code to reproduce the issue reported here. Thanks!

[2019-09-17 05:58] gadagashwini commented on #32550
@smr97, In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-17 06:10] Davari393 commented on #29054
Hi Vir.
Can you solve the problem?

[2019-09-17 06:21] gadagashwini commented on #32458
@wangyunxiaa, Will it possible to provide the graph.pb file to replicate the issue reported here.
I tried with my own .pb file but I, end up in different error. Thanks!

[2019-09-17 06:25] gadagashwini commented on #32131
@AdityaShirodkar01,
Closing this issue, since no recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-17 06:25] #32131 closed

[2019-09-17 06:28] gadagashwini commented on #32203
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-17 06:28] #32203 closed

[2019-09-17 06:32] oanush commented on #32546
@payne4handsome ,
When tried executing the code for TF-2.0rc1 output is received as follows(no error is faced),
[code]
if you want a clearer output please try using the below code-
[code]
Thanks!

[2019-09-17 06:33] gadagashwini commented on #32544
@isaacgerg, Can you please share the colab gist here. Thanks!

[2019-09-17 06:41] gadagashwini commented on #32553
@kiflowb777, In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2019-09-17 07:08] sgambient opened #32573 "TFTRT: CUDA_ERROR_ILLEGAL_ADDRESS"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platfo

[2019-09-17 07:13] sharonevarghese commented on #32310
trying to install. but not able to install the  install Bazel 0.23.0 as per the https://www.tensorflow.org/install/source_windows. kindly guide me through it

[2019-09-17 07:18] kkimdev commented on #32118
Hi @terhorst ,  unfortunately, tf.function can't trace dynamic Variable creations wrapped in map_fn properly, and probably we won't prioritize it in the near future.

Though you can simply take out the initialization out of `g` and use Python list comprehension like below, and it will run in parallel.

[code]

[2019-09-17 07:33] kolingv commented on #32278
@ymodak
Again, my internet connection is restricted, I am not able to download cifar10 dataset from 'tf.keras.datasets.cifar10.load_data()'. The downloaed IP was blocked.
I can only access it somewhere and put it locally.

Can't they just add a few line codes to check wether it is already downloaded locally?

Anyway, there are plenty codes on git to deal with cifar10, I downloaed and fixed it.

ps

[2019-09-17 07:44] liminai commented on #19584
@Mark531 you can find unofficial built wheel from this [link](https://github.com/fo40225/tensorflow-windows-wheel/), hope it helps you

[2019-09-17 07:55] vishnuraju commented on #19370
Any updates on this? having same problem :(

[2019-09-17 08:31] schoettner opened #32574 "tensorflow2rc1 import bug"
Hi,
I was trying to convert one of my training templates to TensorFlow2 but encountered several issues. I can not reach a point where my code is even executed because many imports already terminate the application at start.
[code]
This code results instantly in an error and the print is never reached.
[code]
Next to _InteractiveSession_ there are multiple other imports that cause problems with mon

[2019-09-17 08:31] morgangiraud commented on #30984
Sorry for the late response here.

If I'm not mistaken your solution doesn't provide the same behaviour. In one case I generate `NB_EPOCHS` more data and I don't loop anymore on potential fixed given datasets.

Given a standard dataset, how do I ensure that I keep the speed up and loop over it?

[2019-09-17 08:43] TechMaster commented on #32139
**After upgrade**
[code]

**Error still happens**
[code]

**My environment:**
- MacOSX High Sierra
- TensorFlow version 2.0.0-rc1
- tf-estimator-nightly  1.14.0.dev2019080601
- Keras                 2.2.5
- Keras-Applications    1.0.8
- Keras-Preprocessing   1.1.0

**Piece of code causes error**
[code]

[2019-09-17 08:46] jubjamie commented on #31973
Just to confirm, this is no longer working in the nightly release is it?

[2019-09-17 08:58] KANGRuipeng opened #32575 "TF2.0RC1/RC0 the output shape of custom layer is None. The same code works in TF2.0 Beta1"
**System information**
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): TF2.0.0beta1/rc0/rc1
- Python version: 3.6
- CUDA/cuDNN version: 10.0
- GPU model and memory: TitanV

[2019-09-17 09:07] gadagashwini commented on #32310
@sharonevarghese,
Please follow the instructions mentioned in the [bazel website](https://docs.bazel.build/versions/0.24.0/install-windows.html). This [link](https://github.com/bazelbuild/bazel/releases/tag/0.23.0) provide the bazel 0.23.0.exe file for windows. Let us know how it progresses. Thanks!

[2019-09-17 09:24] SundeepPidugu opened #32577 "Unable to find pip package"
I have been using bazel build for my im2txt model from TensorFlow and it shows me

`ModuleNotFoundError: No module named 'nltk'`

I have installed the package nltk and tried to even create an environment and run the bazel script

Is there anyway i need to link my python to bazel for the python modules to be installed separately on an environment ?

Repo i am trying to run : im2txt

Code sample whi

[2019-09-17 09:30] mpdn opened #32578 "sparse_softmax_cross_entropy_with_logits fails for symbolic tensors in eager mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.0.0-rc0
- Python version: 3.6

This code:
[code]

Fails with this exception:
[code]

But this works:
[code]

Seems

[2019-09-17 09:39] jubjamie commented on #27023
Unless you use a good selection of IDE's :p
Only thing that made me roll back was the autocomplete issue so these suppression requests are valid imo.

[2019-09-17 09:40] Harikrishnah007 opened #32579 "ONNX to Keras(.h5 format)"
I have to export trained model from ONNX to Keras. How can i do this?or  How we can convert it to tensorflow & then convert it to .h5 format.

[2019-09-17 09:41] ravikyram commented on #32557
I am not seeing any problem in the code given in the tutorials.However i tried to execute the code given by you in colab and found the `TypeError: unsupported callable`. I am attaching the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9d4851dfface5fde88fb4b27a7eae896/untitled192.ipynb).
In order to expedite the trouble-shooting process, please provide a minimal standalone code to rep

[2019-09-17 09:41] KANGRuipeng commented on #32575
We use a custom c++ op writen by ourself.

[2019-09-17 09:42] zapaishchykova opened #32580 "tf.test.is_gpu_available() and tf.Session() blocking indefinitely"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Nope
- OS Platform and Distribution: Linux Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: not tried
- TensorFlow installed from (source or binary): don't remember
- TensorFlow version: 1.14
- Python version: 3.6.8
- C

[2019-09-17 09:47] alon1samuel commented on #32548
Hi,
Thanks for the response and the idea on how to run this.
I'm afraid my purpose was to run this algorithm locally on my computer.

Is there a way to add or change code lines in order for the algorithm to run locally?
Or would you say that in tf2 there's no way for that, currently?

Regards,

[2019-09-17 09:53] Mark531 commented on #19584
@liminai awesome, thank you!

[2019-09-17 09:57] Harikrishnah007 opened #32581 "Need to save tf model in .h5 format"
I have a trained model in ONNX and i have ported that to TF using below code programmaticaly.
(TensorflowRep). (onnx_tf.backend.prepare ).
A TensorflowRep class object representing the ONNX model
onnx_tf.backend_rep.TensorflowRep.export_graph
How can I save the model to disk?
Can I save this in .h5 format.

[2019-09-17 10:03] ravikyram commented on #32570
@neonrights
I tried in colab with TF version 1.14 and 1.15.0-rc0 and i am getting the below error`.AttributeError: module 'tensorflow.python.keras.api._v1.keras' has no attribute 'layer'` . I am attaching the [gist ](https://colab.sandbox.google.com/gist/ravikyram/9603c7f3d9814aa73513ef4db56f94b0/untitled193.ipynb)for your reference. Thanks!

[2019-09-17 10:06] gadagashwini commented on #32505
@idenc, I tried replicating the issue on colab but executed without any error. Please see the [gist](https://colab.sandbox.google.com/gist/gadagashwini/421b3c03826a7b346b85e0d8703bfca9/untitled156.ipynb). Thanks!

[2019-09-17 10:08] ravikyram commented on #32518
Please, provide simple standalone code, then it is easy for localizing the issue faster. Thanks again.!

[2019-09-17 10:12] magomar commented on #32548
Have you checked the warnings preceding that error?
I'm having the same issue after upgrading TF2 to the RC (release candidate) version. In my case it seems there is a mismatch between installed and compiled version of CuDNN (7.4.1 vs 7.6), which I'm trying to solve at the moment (without success so far)

[2019-09-17 10:29] ravikyram commented on #32520
@ychen404
I tried to reproduce the issue. However i am getting the below error `ModuleNotFoundError: No module named 'DataInput'`.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/1dafc3287f80876abd20efd34b48149f/untitled189.ipynb).Kindly, help me to reproduce the issue.Thanks!

[2019-09-17 10:37] gadagashwini commented on #32569
@cyrus2018,
Please try the following code snippet to see the gpu divices:
[code]
Thanks!

[2019-09-17 10:37] Santosh-Gupta commented on #24453
A new motivation for dlpack support is that it may increase transfer speed to/from CPU<->GPU. With Pytorch, there is a speed increase of 4x to GPU, and 110x to CPU

https://github.com/Santosh-Gupta/SpeedTorch

[2019-09-17 10:42] lovejing0306 opened #32583 "tensorflow2 Custom training fine tuning issue"
**I used  ResNet101V2 pretrained model training my dataset.**
Below is my code:

[code]

I set base_model.trainable = True, the training result is bad.

[code]

However，I use keras training way

[code]

the training result is good.

I am very confused，anyone help me？
Thanks！

[2019-09-17 10:57] dlutkaka commented on #32052
same issue,
same code will cause gpu memory leak on tf-gpu 2.0.0-rc-0 and 2.0.0-rc-1, but work fine on 2.0.0beta1

[2019-09-17 11:35] gitfourteen opened #32585 "Horrible Energy Impact when opening tensorflow.org with Safari"
<img width="801" alt="image" src="https://user-images.githubusercontent.com/22335780/65037849-25d16800-d981-11e9-8167-e17cbdae72d0.png">

Not sure it appropriate issue this kind problem here, but got nothing with google.
Every time opening https://www.tensorflow.org, the battery consuming speed is unreasonably high, why?

[2019-09-17 11:45] ravikyram commented on #32574
I have tried on colab with TF version 2.0.0rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/3a294d09dddd2f1fc218bd4bc30cc47c/untitled197.ipynb).Thanks!

[2019-09-17 11:54] zapaishchykova commented on #32580
Wow looks like simple drivers update worked like a magic

[2019-09-17 11:54] #32580 closed

[2019-09-17 12:18] xmy7216 commented on #23986
Hi, some question as above. I'm trying 1.14.0, but still facing the same error.

[2019-09-17 12:29] mmmmayi commented on #32522
Thanks for your response, but how can i find the file if i installed through conda？

[2019-09-17 12:35] guillaumekln opened #32586 "RNN does not forward the training flag to StackedRNNCells"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Ubuntu 16.04
- TensorFlow installed from: binary
- TensorFlow version: 2.0.0rc0
- Python version: 3.6.6

**Describe the current behavior**

When using `tf.keras.layers.StackedRNNCells` with `tf.keras.layers.RNN`, the RNN layer does not forward the `training` flag to the cell. This is because the RNN code check

[2019-09-17 12:41] CarlosSona commented on #22794
I think this might be related to pointing out to cudnn64_7.dll file, after installation on windows it's needed to point out to cuDNN64_7.dll. Instruction to add it below:
- Type path in windows 10 search box
- Open settings: Edit the System environment variables from control panel
- In the Advanced tab, click Environment Variables…
- Select Path under User variables for your-user-name and click Ed

[2019-09-17 12:42] yunabe opened #32587 "tf.contrib.summary.scalar does not record anything outside of always_record_summaries in eager execution"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): Colab builtin
- TensorFlow version (use command below): 1.14.0
- Python version: 3.6.8
- GCC/Compiler version (if compiling from source): [GCC 8.0.1 20180414 (exp

[2019-09-17 12:52] eugene2ko commented on #31203
Try to downgrade your version
pip3 install tensorflow==1.5

[2019-09-17 12:53] ialdencoots commented on #32052
I'm not sure if it's related to this same issue, but just iterating through a regular `TFRecordDataset` and using `model.predict_on_batch` results in a gpu memory leak that eventually crashes with an OOM exception for me.

[2019-09-17 13:00] yunabe opened #32588 "tf.compat.v2.summary should be used in /guide/eager#summaries_and_tensorboard"
## URL(s) with the issue:

https://www.tensorflow.org/guide/eager#summaries_and_tensorboard

## Description of issue (what needs changing):

We should not recommend the usage of `tf.contrib.summary` in eager mode.
`tf.compat.v2.summary` (or `tf.summary` in TF2) should be used in this section.

With `tf.contrib.summary`, we need to use `always_record_summaries()` or `record_summaries_every_n_global

[2019-09-17 13:02] magomar commented on #32548
I'm getting the same error running the RC version in AWS AMI, so this is not just my environment. According to the [TF2 documentation](https://www.tensorflow.org/install/gpu), it should be ok with CuDNN 7.4, right?

[2019-09-17 13:19] isaacgerg commented on #32544
@gadagashwini
https://colab.research.google.com/gist/isaacgerg/5e7cd6edf27f8a7fe877a2628bc5fe65/tfkeras_bug1.ipynb

[2019-09-17 13:43] cyrus2018 commented on #32569
![1](https://user-images.githubusercontent.com/45702408/65046981-2cb5a600-d994-11e9-9f3e-4fd16a259d5e.JPG)

[2019-09-17 13:46] #22071 closed

[2019-09-17 14:01] aaroey commented on #28854
@fuzzyBatman sorry I was not able to get to this. Thanks for the scripts, it looks legit to me. By `This works on the same VM` did you mean that in your VM you can run the TRT converted graph `frcnn_trt.pb`? By `but fails on my local system` did you mean it failed with `TRTEngineOp not found` error? I can imagine it'll fail with some error because TRT engines are not portable, meaning you'd better

[2019-09-17 14:04] nova77 commented on #31603
@jinmel thanks for your implementation, but it seems to be missing the sparse gradients update. Is this a limitation of this specific optimizer?

[2019-09-17 14:08] dustedduke commented on #32468
@rockyrhodes No, I see only CONV2D version error when using post-training quantization,

[2019-09-17 14:20] aaroey commented on #31598
In 1.14 TF-TRT was disable by default accidentally due to some release problem, and we're fixing the it in 1.15. In fact [1.15rc1](https://pypi.org/project/tensorflow-gpu/1.15.0rc1/) and [2.0rc1](https://pypi.org/project/tensorflow-gpu/2.0.0rc1/) were out and TF-TRT was enabled in both, please try with that and let me know.

Thanks.

[2019-09-17 14:20] #31598 closed

[2019-09-17 14:24] netskink commented on #32557
Thanks for looking at the problem.  I'm not sure I'm following you though.
I am using the code sample's as is.  The sample you gave in a gist is
failing in the collab at the same point it crashes the kernel in a jupyter
notebook.  Which sample is working for you?  Do you have a url?

On Tue, Sep 17, 2019 at 5:51 AM ravikyram <notifications@github.com> wrote:

--
John F. Davis
6 Kandes Court
Durham

[2019-09-17 14:29] aaroey commented on #31653
@sgambient I think the reason of the failure is that, when using class `TfTrt`, there are two `build()` method manipulating the same `graph` object:
[code]
both `build()` run a `tf.import_graph_def` to import the `create_inference_graph`-converted TRT graph, and both TRT graph have a function with the same name `TRTEngineOp_0_native_segment`. I think the error will go away if you use different `gr

[2019-09-17 14:30] MohamedNourArm commented on #32464
This was resolved by commit [3c2be61e68acea533030b8f70fa0db3339b19f93](https://github.com/tensorflow/tensorflow/commit/3c2be61e68acea533030b8f70fa0db3339b19f93#diff-69178ece8d1001b2ef7f9b329e9a525b)

[2019-09-17 14:30] #32464 closed

[2019-09-17 14:32] dtarakanov1 commented on #30253
Indeed and this is true for TF2.0:

https://github.com/tensorflow/tensorflow/blob/1c83755e5a1269b528042e6d318d66e363ffc349/tensorflow/python/eager/pywrap_tfe_src.cc#L412

It's a shame because, having eager execution the default option for TF2.0, it's not even possible to use e.g. `tf.compat.v1.summary.image()` :
[code]

[2019-09-17 14:33] robertah opened #32592 "In tf.Estimator training metric is not divided by the batch size"
**System information**
- TensorFlow version: TF 1.12
- Python version: 3.6

**Describe the current behavior**

<img width="345" alt="metric" src="https://user-images.githubusercontent.com/23496841/65050585-e9ddd900-d967-11e9-82b5-b8d0a04164db.png">

I am training a model with tf.Estimator and it seems that the training metric (root mean squared error) is not divided by the batch size (for both tra

[2019-09-17 14:39] aaroey commented on #31683
@PetreanuAndi you mentioned that you built from source using 1.14 branch, is that right? If so, could you share your `configure` output (the content of the `.tf_configure.bazelrc` file)? Also, I think the 1.14 branch is in a bad state now, could you try using the 1.15 branch instead?

Alternatively, both [1.15rc1](https://pypi.org/project/tensorflow-gpu/1.15.0rc1/) and [2.0rc1](https://pypi.org/pr

[2019-09-17 14:43] netskink commented on #32557
Ahh, nevermind.  I see the problem.  Somehow during copy and paste, the indentation was messed up in the def make_input_fn().  Relooking at the sample here: https://www.tensorflow.org/beta/tutorials/estimators/boosted_trees fixed the problem.  Many thanks!

[2019-09-17 14:45] burn874 commented on #22794
I doubt so. Or at least that's not the cause for me. I did add the path manually but the system hasn't been able to detect it

[2019-09-17 14:49] aaroey commented on #31449
@reedwm could you help to take a look at this?

[2019-09-17 14:54] isaacgerg commented on #32564
@ravikyram https://colab.research.google.com/gist/isaacgerg/5963501ac71cd7459a8b9e986386373d/tf_ssim_bug.ipynb

Toggle the pip install between tf version 1.13.1 and 1.14.0.

[2019-09-17 15:04] netskink commented on #32557
Hmm. perhaps not.  I have one sample which runs in collab and another which is similar which fails in jupyter.  I'm trying to figure out why.  If its a indentation error, I'll close out the issue.

[2019-09-17 15:09] Starscream9559 commented on #17101
I don't wanna spoil you guys but, recently I've installed Pop OS and the team already compiled all the necessary needs into single cmd line. Either make it dual-boot or, different disk. Both are good.
Once in Linux, open terminal and run,

which is a package of CUDA Toolkit, cuDNN, and Tensorflow itself. CUDA, TF and cuDNN version is determined by the current stable version, and your GPU version.

[2019-09-17 15:13] mgreenbe opened #32594 "2 x WARNING: Entity <function ... initialize_variables at ...>could not be transformed and will be executed as-is"
Hi! I'm getting two `Entity ... could not be transformed and will be executed as-is` errors while training a Keras model. Here's a Colab notebook illustrating the problem:

https://colab.research.google.com/drive/1muFh7JjN6AJcWmF0Kp3zRwE043Uh-Tk6

This may be related to #32319 which I raised last week. Since that's been resolved, this might be, too. I don't know how to check that, though, so I tho

[2019-09-17 15:22] netskink commented on #32557
Hmm. Perhaps its a python version problem.  [Here](https://colab.research.google.com/gist/netskink/93d00c5662dffb21fe7e8d3c2d428245/boosted_trees_sample_1.ipynb) is a colab version which works.

At the start of the file it outputs this for version info.
[code]

In my jupyter notebook it prints

[code]

[2019-09-17 15:37] martinwicke commented on #32554
Thank you for note. We generally respond to all PRs (except obviously fraudulent ones) so I am not sure we'd deliver meaningful input data. TensorFlow is also too large to deal with for a single person, so we have a hierarchical triage process that identifies the best person to decide on any specific PR.

Consequently, I could not properly fill out your survey, and I don't know that anyone else ca

[2019-09-17 15:37] #32554 closed

[2019-09-17 15:38] netskink commented on #32557
Hmm. creating a new environment using 3.6.8 and the problem persists.

[2019-09-17 15:39] mihaimaruseac commented on #27023
Autocompletion has been mostly solved

[2019-09-17 15:44] aaroey commented on #31917
@jurneo could you provide a simple repro (e.g. python scripts, etc) for the problem? Also, could you try with TF [1.15rc1](https://pypi.org/project/tensorflow-gpu/1.15.0rc1/) or [2.0rc1](https://pypi.org/project/tensorflow-gpu/2.0.0rc1/)?

Also @nluehr, are you familiar with the `Graphics Exception` error mentioned above?

[2019-09-17 16:00] jmd-0 commented on #31991
Hi @pandrey-fr, thank you for your response! I tried to experiment with the different TF functions you suggested and was unable to do exactly what I wanted, so it seems that I should just try to use the TF implementation of the KMeans algorithm, as you suggested.

Also, thank you for the interesting tidbit about how TF generates the symbolic tensors for unknown dataset sizes. I need to be aware of

[2019-09-17 16:00] #31991 closed

[2019-09-17 16:01] mihaimaruseac commented on #31203
No need to go that back. There are two pip packages, one contains gpu, the other one just cpu code. Make sure you use the right one.

[2019-09-17 16:02] mihaimaruseac commented on #32574
Don't import directly from `tensorflow_core`, that is private API and will change under you and break you.

This import is what's causing your problem

[2019-09-17 16:02] netskink commented on #32557
So this [gist](https://colab.research.google.com/gist/netskink/5512acede5c760eac0fdc43554393736/boosted_trees_sample_1_minimal.ipynb) is as minimal as it can be.  I've duplicated the version results at the top in my jupyter session.  The end result is that it works in colab but not juypter.

[2019-09-17 16:03] mihaimaruseac commented on #32577
Are `nltk` and `tensorflow` installed in the same environment?

[2019-09-17 16:03] anujmca commented on #31939
I was also facing the same issue, essentially the reason was tensorflow wheel file is not available for 32 bit system. They also not planning to publish 32 bit version this year, as it takes lots of effort at their end and it was not in their planning.

So, I solved it by changing my installation of python 32 bit to python 64 bit.

[2019-09-17 16:05] mihaimaruseac commented on #31939
As mentioned: if you really have a 32bits CPU (unlikely as these are very old), see #32315

If your CPU is 64 bits, please install a 64 bits Python.

[2019-09-17 16:27] porgull commented on #32476
It looks like using `tf.TensorShape` works properly. See:

[code]

This outputs:
[code]

See [updated Colab](https://colab.research.google.com/gist/porgull/c93dce7d1039b3ccacc1c9c16b956fa4/untitled149.ipynb).

[2019-09-17 16:59] arianaa30 commented on #30427
After doing this, system installed `numpy-1.16.5`. But now `import tensorflow` says:
`ImportError: Something is wrong with the numpy installation.`

[2019-09-17 17:02] aaroey commented on #30779
Thanks @sgambient for the script. I can reproduce the error with 1.15rc1.
The problem is the `remove_training_nodes` will remove identity nodes like the ones in the `outoutl` list in your script. Adding `protected_nodes=outputl` to the call solved the problem for me.

I'm closing, feel free to reopen if the problem persists.

[2019-09-17 17:02] #30779 closed

[2019-09-17 17:03] qlzh727 commented on #32299
Thanks for pointing out the issue again. This corner case is actually hard to distinguish from the graph level. Since the initial_state param is always provided in the graph, there isn't an easy way to know whether the initial_state or the recorded state is the latest.

For now, I am inclined to leave it as is, since the most common use case is having a stateful RNN layer, and call model.reset_sta

[2019-09-17 17:05] qlzh727 commented on #30263
@DanielWicz, when you see this message, its means the graph has actually being optimized. In TF 2.0, the default GRU/LSTM layer is capable to auto select the CUDNN kernel, and provide better performance on GPU. You don't have to do switch to other CUDA optimized kernel.

[2019-09-17 17:07] qlzh727 commented on #32501
Thanks for reporting the issue. Let me take a look.

[2019-09-17 17:21] jdduke commented on #32522
I'm not familiar with the conda build, but as a workaround you can manually supply the appropriate build flags listed from @ https://github.com/tensorflow/tensorflow/blob/539de53a75d9daebda8f3fc8e5ad0e04d1dfa06e/.bazelrc#L6.

[2019-09-17 17:21] #32522 closed

[2019-09-17 17:29] khousi commented on #32352
@mihaimaruseac @oanush
Again I'm getting error in importing when executing the above command.....I don't understand where is it going wrong....

**File "C:\Users\NEW\AppData\Local\Programs\Python\Python36\lib\site-packages\tensorflow\python\pywrap_tensorflow.py", line 74, in <module>
    raise ImportError(msg)**
ImportError: Traceback (most recent call last):
  File "C:\Users\NEW\AppData\Local\Pro

[2019-09-17 17:32] sgambient commented on #32518
That is easier said than done, when dealing with complex networks.  As a general observation, it is  not possible to create a sample code for every issue.   A  suggestion  would be to collect more metrics,  and log more and better  traces.  Most other complex pieces  of software uses such techniques rather than relying on  samples codes from developers.

[2019-09-17 17:35] isaacgerg commented on #32544
@twinanda have you come up with a fix?

[2019-09-17 17:38] leehanchung commented on #32594
I am seeing the same problem working through the [official TensorFlow 2 text generation tutorial](https://www.tensorflow.org/beta/tutorials/text/text_generation).

[The notebook](https://colab.research.google.com/drive/1nZfYKV2mecDx15aUiOEkHorzxly7PTZT) that demos the problem.

The log generated by `tf.autograph.set_verbosity(10)`:
[code]

[2019-09-17 17:38] mihaimaruseac commented on #32352
Does your CPU support AVX bit?

[2019-09-17 17:45] sgambient commented on #31653
That is certainly the issue.    However, do not think  using a different graph is an option, as loading graphs  is a time consuming operation.  The example is a toy case,  the real  application network of course  have different networks that are run under  different  TF sessions .

[2019-09-17 17:52] nhatthanhlatao commented on #13220
Build error using CMake at macOS Sierra #375

[2019-09-17 17:56] aaroey commented on #30969
@sgambient I tried with your script but it doesn't output any errors. By `TF-TRT seems to return max_batch_size instead of returning the feed batch size. This breaks current code badly`, could you elaborate? E.g. what does it mean  by `return max_batch_size` and how does it `break current code`?

[2019-09-17 17:57] #32353 closed

[2019-09-17 18:04] annarev commented on #32534
The supported way to use tensorflow is with the following import:
`import tensorflow as tf`
In this case, you would use `tf.data.Dataset` instead. If you want to use V1 dataset, then you can reference it using tf.compat.v1.data.Dataset.

Code under tensorflow_core.python or tensorflow.python is not a part of our public API and has no guarantees.

[2019-09-17 18:05] annarev commented on #32534
Closing, since this question is about unsupported usecase for TensorFlow.

[2019-09-17 18:05] #32534 closed

[2019-09-17 18:11] annarev commented on #31973
Autocomplete has been fixed for `import tensorflow as tf` and `from tensorflow import keras` in rc1.
However, `from tensorflow.keras import layers` won't be fixed even in 2.0 final. It requires major changes to TensorFlow (renaming lite/ directory) to get it working. These changes are too big for this release since it only accepts critical cherrypicks.

Also, recommended way to import TensorFlow i

[2019-09-17 18:15] ymodak commented on #32558
It is challenging to debug large scripts a minimal reproducible code snippet is appreciated.
This question is better asked on [StackOverflow](http://stackoverflow.com/questions/tagged/tensorflow) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2019-09-17 18:15] #32558 closed

[2019-09-17 18:21] haozha111 commented on #32521
Hi, there is one op 'RandomUniform' that is not supported by tflite as built-in op. TF Lite can also support ops from tensorflow. Could you follow instructions here (https://www.tensorflow.org/lite/guide/ops_select) ?

[2019-09-17 18:35] 7PintsOfCherryGarcia commented on #32558
Ive tried [stackoverflow](www.stackoverflow.com) without success. The C api does not receives a lot of attention so I'm not sure where to go from here. Documentation is very poor in this sense

[2019-09-17 18:42] ymodak commented on #32363
I suspect the error is raised by incompatible cuda and cudnn versions.
Please see check compatible cuda and cudnn versions from https://developer.nvidia.com/rdp/cudnn-archive
Also did you specify cuda 10.1 and cudnn version correctly while building TF from sources?
Thanks!

[2019-09-17 18:50] gowthamkpr commented on #32586
Was able to reproduce this issue. Please find the attachment of github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/6e1f7a532de56ec863606e7f1657f1c3/untitled144.ipynb).

[2019-09-17 19:01] qlzh727 commented on #30995
Sorry for the late reply.

I was able to reproduce the issue, and I think it is somehow happening when batch_size that is not a perfect 2^n number. I can see the value difference between batch 0-3 and 4-6. If I change the batch size to 9, then the difference is between 0-7 and 8, same for batch size 17.

The cause of this might be numerical instability for numerical libraries. Also, given the fact

[2019-09-17 19:06] neonrights commented on #32570
Sorry I have a typo in my code, try this instead

[code]

[2019-09-17 19:16] aaroey commented on #31653
@sgambient I don't quite understand `as loading graphs is a time consuming operation`, so what would be the performance difference if you load the graphdef into a different graph object?

[2019-09-17 19:18] ychen404 commented on #32520
@ravikyram
The code is running now from the link you sent me. I don't know how to import module in Colab so I just merge the two files i posted above into one.

The idea is to change the global variable OUTPUT and see how the training behaves.
The OUTPUT defines the output dimensions of both the convolution layers in the model.

[2019-09-17 19:19] nluehr commented on #31917
The "Graphics Exception" is most likely a symptom of the "unspecified launch failure" which has left the application in a bad state. An unspecified launch failure often results from a Segfault within a GPU kernel. It is an asynchronous error in that it gets generated by a kernel executing on the GPU but isn't flagged on the CPU until the next CPU/GPU sync point (in this case, the sync point appear

[2019-09-17 19:21] wookayin commented on #26472
@fchollet @ymodak Can we revisit this issue? As TF 1.x is expecting the last release soon, I hope this bug should be fixed.

[2019-09-17 19:36] steve3nto commented on #31053
Same problem here. Using keras version of deeplabv3 with mobilenetv2 backbone, this error occurs on node 113, which is a dequantize node who is trying to convert the reduction index for a ReduceMax operation.

`RuntimeError: tensorflow/lite/kernels/dequantize.cc:62 op_context.input->type == kTfLiteUInt8 || op_context.input->type == kTfLiteInt8 was not true.Node number 113 (DEQUANTIZE) failed to pr

[2019-09-17 19:43] RichardArendsen71 commented on #32235
When will this function be available for tensorflow 2.0? https://www.tensorflow.org/api_docs/python/tf/contrib/image/transform

[2019-09-17 20:22] mschonwe commented on #32017
@rachellim When you are getting a working test:
 - Are you testing with the tensorflow/tensorflow:1.14.0-gpu docker image?
 - What NVidia GPU are you using?

Do you have any other suggestions for how I could help isolate the cause of the hang?

[2019-09-17 20:37] ymodak commented on #32235
Unfortunately TF 2.0 won't have this functionality. However we have added many other functions to ```tf.image``` module. See https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/image#functions

You may use ```transform``` function from tensorflow addons package if necessary.
For this you have to install ```tensorflow-addons``` separately.
See https://github.com/tensorflow/addons#maintainer

[2019-09-17 20:42] gowthamkpr commented on #32581
@Harikrishnah007 Please take a look at this [issue](https://github.com/onnx/onnx-tensorflow/issues/490)  and let me know if it helps. Also create an issue in the [onnx/onnx-tensorflow](https://github.com/onnx/onnx-tensorflow/issues) repo as this issue is more suitable to that repo. Thanks!

[2019-09-17 20:42] #32581 closed

[2019-09-17 20:45] aaroey commented on #31518
@vio-codes sorry for the late response. I think the root cause is not in TF-TRT but in the tool that freezes the graph. I can reproduce the problem with the following script:
[code]
Will need more time to investigate.

[2019-09-17 20:52] gowthamkpr commented on #32579
@Harikrishnah007 Please create an issue in the [onnx/onnx-tensorflow](https://github.com/onnx/onnx-tensorflow/issues) repo as this issue is more suitable to that repo. Thanks!

[2019-09-17 21:00] pandrey-fr commented on #31991
You are very welcome ; good luck with the follow-up work :-)

[2019-09-17 21:02] ymodak commented on #32573
Since TF 1.14 prebuilt binaries support cuda 10.0, can you try by switching to cuda 10.0  instead. Thanks!

[2019-09-17 21:08] rachellim commented on #32017
I managed to get a repro, now trying to get to the bottom of it! (I'm using a GTX 1080 with driver version 430.34)

[2019-09-17 21:11] aaroey commented on #31518
The reason is, both `tf.compat.v1.graph_util.convert_variables_to_constants` and `convert_variables_to_constants_v2` doesn't update the datatype of the Switch nodes if their input was DT_RESOURCE before the variable->constant conversion.

@gargn could you help to take a look at the v2 case? Thanks a lot.

[2019-09-17 21:13] sgambient commented on #31653
Here is the real problem. TFTRT as it stands now breaks the current TF model. TF  allows one to load  as many unconnected  sub-graphs as needed in a single graph.  By loading I mean building the network and restoring checkpoints.   Checkpoint restore is a graph specific operation, and time consuming.  So during inference, if  one is looking at removing milliseconds, the checkpoint restore is going

[2019-09-17 21:31] #32501 closed

[2019-09-17 21:40] jvishnuvardhan commented on #32574
@schoettner I can confirm that @mihaimaruseac suggestion is working without any issues in `TF1.15rc1` and `2.0rc1`.  Just change first line to
`from tensorflow.python.client.session import InteractiveSession`

I am closing this issue as it was resolved. Please feel free to open the issue if the suggested approach is not working for you. Thanks!

[2019-09-17 21:40] #32574 closed

[2019-09-17 21:52] #32384 closed

[2019-09-17 21:53] ymodak commented on #32461
I suspect tensorflow failed to build successfully. Can you use Bazel 0.15.0 to build TF and try again?
https://www.tensorflow.org/install/source#tested_build_configurations

[2019-09-17 21:54] #32273 closed

[2019-09-17 21:54] jvishnuvardhan commented on #28323
Closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-17 21:54] #28323 closed

[2019-09-17 22:09] #32586 closed

[2019-09-17 22:13] duncanhalstead commented on #23683
Still an issue.  I was having the problem with windows7 so just upgraded to windows10 and getting this error.  I just installed anaconda and went through the tensor flow install:

pip install --upgrade pip
pip install tensorflow
pip install tensorflow==2.0.0-rc1

Note that I didn't install GPU support.  Below is my error message:

runfile('C:/Users/1000008408/Python/MachLearn/mlearn.py', wdir='C:/

[2019-09-17 22:14] csuter commented on #32479
I can't repro this with current nightlies in the given colab. I tried pinning the tf nightly to 20190912 and it still doesn't cause any errors. Is there still a reproducible example of this issue?

There were some bad tf-nightly-2.0-preview pushes in the last week, causing estimator not to be importable. It's possible that this only manifested alongside TFP because TF lazily loads modules and impo

[2019-09-17 22:14] rajatpaliwal commented on #32363
Yes, the Cuda and cudnn version specified are correct

CUDA/cuDNN version:
10.1/7

[2019-09-17 22:29] jvishnuvardhan commented on #32098
@jtressle Sorry for the delay. Could you try using TF1.15.0rc1 that was released recently and let us know if the issue persists. Thanks!

[2019-09-17 22:34] mihaimaruseac commented on #32574
Note that both importing from `tensorflow_core` and directly importing from `.python` are not supported and will break without any rollback.

The recommended way to use TensorFlow is `import tensorflow as tf` and accessing the API via the `tf` symbol and it's attributes.

[2019-09-17 22:43] jvishnuvardhan commented on #32108
@zepen Please check with TF1.15.0rc1 and post the issue in Stackoverflow. You might get quick response from the community as it is more of a support question.

I am closing the issue here. Please feel free to open a new issue when you notice a bug in TF. Thanks!

[2019-09-17 22:43] #32108 closed

[2019-09-17 23:09] SirSharpest opened #32598 "pix2pix tutorial is broken with tf2 rc"
The tutorial given here:
[https://www.tensorflow.org/beta/tutorials/generative/pix2pix](https://www.tensorflow.org/beta/tutorials/generative/pix2pix) no longer works on a clean install of the current tf2 rc.

it breaks around the 16th block.

I wasn't sure where to report this problem

[code]

[2019-09-17 23:14] matsen commented on #32479
I just re-pulled from nightly and ISSUE FIXED! 🎉

Thanks for making my day, @csuter ! I owe you a 🍺 , wherever you are.

[2019-09-17 23:14] #32479 closed

[2019-09-17 23:14] SamuelMarks commented on #31434
Full output (with input and environment variables also shown): https://gist.github.com/bc5e1baf640afa3acd54a0ed0b4a0301

Ran this beforehand:
[code]

[2019-09-17 23:26] jvishnuvardhan commented on #32161
@lotrus28 What do you mean by the following.

Here is the [gist](https://colab.sandbox.google.com/gist/jvishnuvardhan/1665ec9a6ba00b2e001f8c37cf86eb54/tf32161.ipynb). Can you check my gist and add the part that is not working? Thanks!

[2019-09-17 23:32] james-chuang commented on #32561
So, I figured out that it works if `model.load_weights` is called within the scope of `strategy.scope()`. If this is not done, the weights of the optimizer (`model.optimizer.weights`) are loaded as `tf.Variable` instead of `MirroredVariable`, leading to the error. I am not sure if this is the intended behavior, as the layer weights of the model get loaded as `MirroredVariable` even when `load_weig

[2019-09-17 23:42] SundeepPidugu commented on #32577
You mean the bazel environment ? If so please let me know how can I do that, I tried by creating a python virtual environment and tried running but I had no luck.

[2019-09-17 23:52] ymodak commented on #32188
Perhaps you can use soft device placement instead to solve the error message;
[code]
output:
[code]

[2019-09-18 00:02] ymodak commented on #32142
The provided code snippet looks incomplete. Can you please update it? Also can you please test with tf 2.0 nightly version and check if issue still persists?
```pip install tf-nightly-2.0-preview```
Thanks!

[2019-09-18 00:12] sgambient commented on #32573
I see.  Using the nvcr container with TF 1.14 .  Which has Cuda 10.1.

[2019-09-18 00:19] k-w-w commented on #29383
Thanks for the request, this argument has been added. You should see the changes in the next nightly or TF 2.1.

[2019-09-18 00:19] #29383 closed

[2019-09-18 00:39] david2588e opened #32600 "Tensorflow seems lost some module No module named 'numpy.core._multiarray_umath'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-18 01:23] shanshanpt commented on #32549
@rchao Hi rchao，sorry to trouble you, can you help?  :)
Thanks ~

[2019-09-18 01:33] jurneo commented on #31917
@aaroey It is likely the driver issue on linux. To share additional recent finding, this problem does not occur on TF 1.12 on Windows version. I will try your suggestion for later TF versions.
Meanwhile, related thread discussion is on issuetracker google 138398232, and the python script is similar to deeplab v3.

[2019-09-18 01:33] #31917 closed

[2019-09-18 01:52] KANGRuipeng opened #32601 "Is there any documents of TF Core"
Such as:

1. Global Flow Chart of Tensorflow
2. Graph modify for Model Optimization(Insert an op in backend)
3.  Basic Data Structure(Data management)
4. Detail of Communication for Distribute Strategy

[2019-09-18 02:01] Quiigi commented on #30995
We are predicting financial time series.  In this application, snooping future
data is an insidious problem: critical to avoid, but at times subtle and hard
to notice.  It's even possible that it is avoided in research, only to creep in
in production use.  For example, you need to use info on FX rates to get
information into a common currency.  The live data source for FX rates
might "snap" the pr

[2019-09-18 02:15] alanpurple opened #32602 "tensorrt6 compatibility"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Ubuntu 18.04.3 x64
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.0.0-rc2
- Python version: 3.7.4 x64
- Installed using virtualenv? pip? conda?: N/A
- Bazel version (if compiling from s

[2019-09-18 02:31] Jasonnor opened #32603 "[model_to_estimator] summary in keras loss/metrics function get duplicate scalars with same value in TensorBoard"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-18 02:39] ekuznetsov139 commented on #32188
Allow me to direct your attention at the title of the issue. It contains the word "efficient". Soft placement is not efficient.

[2019-09-18 02:43] Xie-Fangyuan commented on #32534
what i really want is autocomplete and no reference errors or warnings in pycharm **editor**(i think pycharm can standardize my code and prevent potential errors), but by writing `import tensorflow as tf` and using tf 2.0.0rc0, pycharm can not autocomplete tf's packages or functions, and show some reference errors in the **editor** not in the terminal, even though the code can run well, but the co

[2019-09-18 03:07] lminer commented on #32142
@ymodak I can confirm that the error is still present on the nightly preview. I updated the code so it should run no problem now.

[2019-09-18 03:25] LLLLLLoki opened #32604 "EmptyTensorList, TensorListFromTensor, TensorListReserve, TensorListStack, While."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow installed from (source or binary):
- TensorFlow version (or github SHA if from source):

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

**Any other info / logs**

Include any logs or source code that would be helpful to diagno

[2019-09-18 03:47] Jasonnor opened #32606 "[model_to_estimator] estimator not evaluate all outputs defined in keras model but only one"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-18 04:03] myy920213 opened #32607 ""node optimization/gradients has inputs from different frames" on GPU, but works fine on CPU"
------------------------

### System information
- **I'm writing a customer LSTMCell, I referred the source code in tensorflow/python/ops/rnn_cell_impl.py. I only add one line of operations on top of the source code.**:
- **Linux Ubuntu**: 16.04
- **TensorFlow version**: 1.13.1
- **Python version**: 3.5.2
- **CUDA/cuDNN version**: v10.1.168
- **GPU**: Tesla v100

### Describe the problem
I'm writi

[2019-09-18 04:19] annarev commented on #32534
You are right that 2.0.0rc0 had autocomplete issues. You can try 2.0.0rc1, which had some of the autocomplete issues fixed.

[2019-09-18 04:23] jinmel commented on #31603
@nova77 I still need to implement this feature.

[2019-09-18 04:31] imskr commented on #32117
@omalleyt12 Thank you, I'm working on it

[2019-09-18 05:16] khousi commented on #32352
@mihaimaruseac

**I have intel core i5 processor with 6GB RAM. I actually Googled and it said it does support AVX. Thanks!!**

[2019-09-18 05:19] eriklu commented on #31098
(py36) C:\Users\Erik>conda update tensorflow-mkl
Collecting package metadata (repodata.json): done
Solving environment: done
..........

The following packages will be UPDATED:

  ipython                              7.7.0-py36h39e3cac_0 --> 7.8.0-py36h39e3cac_0
  mkl-service                          2.0.2-py36he774522_0 --> 2.3.0-py36hb782905_0
  notebook                                     6.0.0

[2019-09-18 05:19] sdmars commented on #23683
@duncanhalstead
Do the following.
1. Run the anaconda prompt as administrator.(right click-> run as administrator).
2. pip uninstall tensorflow.
3. Close anaconda prompt.
4. Again run anaconda prompt as administrator.
5. type:
     conda install tensorflow
It will ask for some y / n
Type y.

6. Now after all done, change your python interpreter's environment to anaconda environment where you insta

[2019-09-18 06:02] jaingaurav commented on #30253
Thanks for digging up the code @dtarakanov1. Regarding the image summary, you should be able to use `tf.compat.v2.summary.image` which should be compatible with Eager mode execution.

As @josh11b has mentioned, it seems like using a tensor attr is recommended. Instead, the tensor should be an input.

Thus, I am closing the issue, but please feel free to re-open if need to support tensor attributes

[2019-09-18 06:02] #30253 closed

[2019-09-18 06:23] oanush commented on #32594
@mgreenbe ,
Can you please try using TF-2.0rc1, no warnings were received. Kindly take a look into this [gist](https://colab.sandbox.google.com/gist/oanush/b81dbbd4bf9db66dace575f1446add09/copy-of-bug.ipynb) of colab.Thanks!

[2019-09-18 06:28] gadagashwini commented on #32573
@sgambient, Please provide the minimal standalone code to reproduce the reported issue. Thanks!

[2019-09-18 06:39] oanush commented on #32598
@SirSharpest ,
Can you please try using latest version of TF-2.0rc1? it worked fine me in the same.
Thanks!

[2019-09-18 06:52] oanush commented on #32592
@robertah ,
Can you share a standalone code to reproduce the issue?thanks!

[2019-09-18 06:54] poryfly commented on #16448
hi, how do you solved this problem at last.

[2019-09-18 06:54] ravikyram commented on #32578
I have tried on colab with TF version 2.0.0-rc0, 2.0.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/662cb67709e65d8df22e61fe73232033/untitled198.ipynb).Thanks!

[2019-09-18 06:56] oanush commented on #32340
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-18 06:56] #32340 closed

[2019-09-18 06:56] gadagashwini commented on #32583
Please let us know what exactly the issue with training. Thanks!

[2019-09-18 07:06] kriskorrel-cw commented on #29383
Great, thanks!

[2019-09-18 07:07] cyrus2018 commented on #32569
![image](https://user-images.githubusercontent.com/45702408/65123520-03455a80-da26-11e9-9584-ffb985e766d5.png)

[2019-09-18 07:12] oanush commented on #32577
@SundeepPidugu ,
Just verifying, have you installed `bazel` `nltk` and `tensorflow` in the same environment ? try running the repo from the environment where all three are installed. Thanks!

[2019-09-18 07:17] bbb00437 opened #32608 "Failed to convert an RNN built with tf.keras by TFLiteConverter"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 7
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source): tensorflow-gpu 2.0.0rc1

**Provide the text output from tflite_convert**

[code]

Also, please include a link to a GraphDef or the model if possible.

Code which would reproduce the error log:
[code]

[2019-09-18 07:24] SundeepPidugu commented on #32577
@oanush i created the virtual env in python and installed nltk and tensorflow, but bazel is installed on my machine and not in the environment, I never used bazel and i have no idea on that please help me on what exactly i need to do.

[2019-09-18 07:38] lovejing0306 commented on #32583
I fine tuning the model in a custom training way and trained around 30 epochs, the train accuracy always around 20% . But I fine tuning the model in a tf.keras way (compile and fit), the train accuracy is right.

[2019-09-18 07:41] gd12345 opened #32609 "Support for TensorForest"
**System information**
- OS Platform and Distribution Linux Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version 1.14

Text from TFLite converter:

Some of the operators in the model are not supported by the standard TensorFlow Lite runtime. If those are native TensorFlow operators, you might be able to use the extended runtime by passing --enable_select_tf_ops, or by setting targe

[2019-09-18 07:50] dtarakanov1 commented on #30253
Please don't close the issue. My question differs from the original problem a bit.

[2019-09-18 07:50] robertah commented on #32592
I can't share the original input data, but the error can be reproduced in the following way:
[code]

[2019-09-18 07:55] ucasiggcas opened #32611 "How to set the four parameters in toco"
Linux Ubuntu 18.04:
- TensorFlow installed from `pip install tensorflow-gpu`:
- TensorFlow version 1.12.0:

In ckpt to pb I have used the
`tf.contrib.quantize.create_eval_graph()`
So I use the type QUANTIZED_UINT8 in toco as
`toco --graph_def_file=./my_freeze_graph_stft.pb --output_file=my_stft.tflite --output_format=TFLITE --input_shape=1024 --input_array=x_mixed --output_array=y_out2 --inference

[2019-09-18 08:02] ucasiggcas commented on #31880
Dear,
how to set the four parameters
--mean_values
--std_dev_values
--default_ranges_min
--default_ranges_max

thx
https://github.com/tensorflow/tensorflow/issues/32611

[2019-09-18 08:04] ucasiggcas commented on #31873
Dear,
how to set the four parameters
--mean_values
--std_dev_values
--default_ranges_min
--default_ranges_max

thx
#32611

[2019-09-18 08:04] ucasiggcas commented on #31115
Dear,
how to set the four parameters
--mean_values
--std_dev_values
--default_ranges_min
--default_ranges_max

thx
#32611

[2019-09-18 08:05] jaingaurav commented on #30253
dtarakanov1@: I agree that your need to use image summaries differs slightly. However, isn't the recommendation for the original issue to use tensors as an input vs an attribute?

[2019-09-18 08:13] steve3nto commented on #27381
I would also like to estimate the performance drop from uint8 quantization of both weights and activations, but without having to use tflite.
It would be nice to be able to have a frozen_graph.pb with quantized operations that can be evaluated using regular tensorflow inference.

[2019-09-18 08:19] somedadaism opened #32612 "Keras can not load custom Loss functions."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Plat

[2019-09-18 08:33] ravikyram commented on #32612
I have tried on colab with TF version 2.0 beta1,2.0.0-rc0, 2.0.0-rc1 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/cae08a626511eaab7fa6b4eda8f80405/untitled199.ipynb).Thanks!

[2019-09-18 08:37] somedadaism commented on #32612
I also tested 2.0.0-rc1 and the issue persists.
@ravikyram If there is a label for 2.0.0-rc1, can we also add it?

[2019-09-18 08:38] oanush commented on #32592
Please find the [gist](https://colab.sandbox.google.com/gist/oanush/efcfdd7112b38225f3b7f710a6db9092/32592.ipynb) of colab when tried executing the given code.Thanks!

[2019-09-18 08:52] gadagashwini commented on #32413
I tried on colab with tensorflow 1.14.0. Please take a look at gist [here](https://colab.sandbox.google.com/gist/gadagashwini/429a257794d9c423d988904c4dfe7f8e/untitled155.ipynb). Thanks!

[2019-09-18 08:53] Robbie-Palmer commented on #2732
For anyone still encountering this issue, @duncanriach has done great work on this problem which he presented at NVIDIA's GTC 2019 conference.
His findings being that there are a multitude of reasons for the non-determinism we see
He has set-up a [repository](https://github.com/NVIDIA/tensorflow-determinism) to track the issue which also contains a link to his talk

[2019-09-18 08:57] jubjamie commented on #31973
Just updated to rc1 and still have no success with `from tensorflow import keras` or `import tensorflow as tf`. This is gpu version if it makes a difference.
I've rebuilt all indices and caches etc. to eliminate a PyCharm issue. Changing interpreter back to 1.14 goes straight back to the intended functionality.

[2019-09-18 08:57] ravikyram commented on #32570
I have tried on colab with TF version 1.14 ,1.15.0-rc0 and was able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/e202ba52a64cfd2a3fb1f51bd50f9b67/untitled200.ipynb).Thanks!

[2019-09-18 08:59] somedadaism commented on #32612
The same problem also exists for classes implementing `tf.keras.metrics.Metric`.

[2019-09-18 09:02] robertah commented on #32592
I've added a random seed in the notebook. This are the loss and the rmse value plots:

<img width="376" alt="Schermata 2019-09-18 alle 10 57 19" src="https://user-images.githubusercontent.com/23496841/65133893-ba7caa00-da03-11e9-8cc5-a91b370cc7be.png">

[2019-09-18 09:02] gadagashwini commented on #32569
@cyrus2018,
Please provide the result of nvidia-smi. Thanks!

[2019-09-18 09:02] VirRajpurohit commented on #29054
@Davari393

Yes it got resolved.
The change was in the input tensor in tflite model.
Somehow it is dependent on inter compatibility hence, [1,10,4] was the array our android code expects so same array (input tensor whilce creating model) needs to be passed in .tflite file.

[2019-09-18 09:12] gadagashwini commented on #32600
@david2588e,
Please provide the numpy version that you are using.
[code]

[2019-09-18 09:30] morgangiraud opened #32614 "[TF2.0] can't restore path with brackets"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): OSX
- TensorFlow installed from (source or binary): `pip install tensorflow==2.0.0-rc1`
- TensorFlow version (use command below): v2.0.0-rc0-101-gd2d2566eef 2.0.0-rc1
- Python version: 3.6.8
- CUDA/cuDNN version: `No

[2019-09-18 09:38] ravikyram commented on #32557
I have tried to reproduce the issue.In colab it works .But gives below error in Jupyter notebook.
`TypeError: In op 'AccumulatorApplyGradient', input types ([tf.string, tf.int64, tf.float32]) are not compatible with expected types ([tf.string_ref, tf.int64, tf.float32])`.Thanks!

[2019-09-18 09:40] HarikrishnanBalagopal commented on #32311
@robieta So the pull request got merged into version 1.14, but the same code is present in r2.0.
https://github.com/tensorflow/tensorflow/blob/r2.0/tensorflow/python/keras/layers/normalization.py#L954-L956
Can you merge into that as well?

[2019-09-18 09:45] gadagashwini commented on #32289
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-18 09:45] #32289 closed

[2019-09-18 09:52] gadagashwini commented on #32404
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-18 09:52] #32404 closed

[2019-09-18 09:57] alon1samuel commented on #32548
I'm not getting warnings when I'm running this code...

[2019-09-18 09:57] cyrus2018 commented on #32569
![1](https://user-images.githubusercontent.com/45702408/65138605-cdac6b80-da3d-11e9-86f8-f795825b4662.JPG)

[2019-09-18 10:04] ravikyram commented on #32564
I have tried on colab with TF version 1.14.0 , 1.15.0rc0 and was able to reproduce the issue.However i am not seeing any issue with TF version 1.13.1.Thanks!

[2019-09-18 10:05] david2588e commented on #32600
Thanks

'1.15.1'

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: gadagashwini <notifications@github.com>
发送时间: Wednesday, September 18, 2019 5:19:52 PM
收件人: tensorflow/tensorflow <tensorflow@noreply.github.com>
抄送: david2588e <liujinyi@hotmail.com>; Mention <mention@noreply.github.com>
主题: Re: [tensorflow/tensorflow] Tensorflow seems los

[2019-09-18 10:09] wwwind commented on #32152
@angersson I opened a PR for this issue.

[2019-09-18 10:13] sharonevarghese commented on #32310
trying bot cannot complete as held up in the previous replies

[2019-09-18 10:25] ravikyram commented on #32520
@ychen404
Any changes you have made to the gist file, i have shared. I am not seeing any changes in that file. Thanks!

[2019-09-18 10:39] rakesh4real commented on #17101
Hi, fortunately 0NE-LINE of code solves this issue. Refer [this article](https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc)

[2019-09-18 10:40] rakesh4real commented on #17101
fortunately 0NE-LINE of code solves this issue. Refer [this article](https://towardsdatascience.com/tensorflow-gpu-installation-made-easy-use-conda-instead-of-pip-52e5249374bc).

[2019-09-18 10:44] ChenYang-ChenYang commented on #32276
@ymodak Thanks for the reply. how did you run the code? I tried again just now to download the project https://github.com/ChenYang-ChenYang/tf-memory-increase, activate my virtual environment in anaconda with tf 2.0rc, and can run 'python train.py' successfully.
The len() is called in get_batch() in train.py to create data generator. It should work in eager mode.

[2019-09-18 10:45] cuongth95 commented on #32319
`gast-0.3.2` on `Tensorflow 2.0.0rc` still get that issue, but for 'Str'.
My solution is downgrading to `gast-0.2.2`

WARNING:tensorflow:Entity <function <lambda> at 0x000002567C2DB950> could not be transformed and will be executed as-is. Please report this to the AutoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Ca

[2019-09-18 10:46] DeveloperRachit opened #32616 "Dear team how could I use open images dataset v4 with tensorflow to detect a objects"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-18 10:50] ucasiggcas commented on #32611
another problem

if I use
`--std_dev_values=1 --mean_values=0`
then comes
`b'2019-09-18 18:06:25.827623: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1080] Converting unsupported operation: TensorArrayV3\n2019-09-18 18:06:25.827705: I tensorflow/contrib/lite/toco/import_tensorflow.cc:1127] Op node missing output type attribute: rnn/TensorArray\n2019-09-18 18:06:25.827723: I tensorflow/contr

[2019-09-18 10:52] hno1993 commented on #28799
this error also appears when I try to save a transformer model using tensorflow 2.0

code link: https://github.com/bryanlimy/tf2-transformer-chatbot

how i try to save the model:
`model.save('hnosa.model')`

this error appears:
`Traceback (most recent call last):

  File "<ipython-input-1-ce3301d571a9>", line 1, in <module>
    runfile('C:/Users/alhno/DS/tf2-transformer-chatbot-master/main.py', wd

[2019-09-18 11:05] anujajakhade commented on #32490
@mihaimaruseac I tried running the test case on 1.15 release candidate as well. The test case is still failing for s390x with the same error.
The test passes on Intel.

[2019-09-18 11:47] nsantavas opened #32617 "[TF.1.14] Cannot load weights under bfloat16 using tf.keras"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14
- Python

[2019-09-18 11:48] gadagashwini commented on #32600
@david2588e, Please install numpy with 1.16.5 version. Let us know how it progresses. Thanks!

[2019-09-18 12:24] wangyunxiaa commented on #32361
I have also meet this problem, when I load the added op's *.so with
`TF_Library* lib_handle = TF_LoadLibrary("./my_forward.so", status);
printf("Can't encode string: %s\n", TF_Message(status));`
I got an error as followings :
`F tensorflow/core/framework/variant_op_registry.cc:104] Check failed: existing == nullptr (0x21ee038 vs. nullptr)Unary VariantDecodeFn for type_name: tensorflow::Tensor alre

[2019-09-18 12:36] KichangKim commented on #31871
@robieta @jvishnuvardhan Is there any news for this issue? I can't test latest RC release due to this problem.

[2019-09-18 12:46] david2588e commented on #32600
Hallo Sir:

After install the numpy 1.16.5, now it is fine

Thanks

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: gadagashwini <notifications@github.com>
发送时间: Wednesday, September 18, 2019 7:55:21 PM
收件人: tensorflow/tensorflow <tensorflow@noreply.github.com>
抄送: david2588e <liujinyi@hotmail.com>; Mention <mention@noreply.github.com>
主题

[2019-09-18 13:01] SirSharpest commented on #32598
Yes, I can confirm that it is working! Sorry for confusion

[2019-09-18 13:10] schoettner commented on #32574
Hi, thanks for your feedback. However, I can not confirm your solution. The imports are actually resolved by my IDE (IntelliJ Ultimate) because I could not use the imports I used in earlier versions.

[code]

This code runs fine with tf14.0 while it does not run in tf2.0.0rc1
[code]
I tried the code in your colab code too. Same result.

[2019-09-18 13:45] SirSharpest commented on #32598
@oanush I was just checking some other of the examples and I noticed this one, even on colab doesn't work and throws crazy errors? Would you be able to help verify?

https://colab.research.google.com/github/tensorflow/docs/blob/r2.0rc/site/en/r2/tutorials/images/segmentation.ipynb

[2019-09-18 13:56] 7PintsOfCherryGarcia commented on #25234
Can tf.saved_model.save() save with additional MetaGraphDef in order to have tag 'train'?

[2019-09-18 14:06] SirSharpest commented on #32598
Seems to be related to https://github.com/tensorflow/tensorflow/issues/32319

[2019-09-18 14:08] isaacgerg opened #32618 "Use of fit_generator and evaluate_generator result in "builtins.TypeError: 'NoneType' object is not subscriptable""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
https://colab.research.google.com/gist/isaacgerg/03717f55f020f36aa7b5138fc04cfc43/tf-keras-generator-issue.ipynb

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Windows 7, Python 3.7, tensorflow 1.13.1

- TensorFlow installed from (source or binary):
via pip

- Tenso

[2019-09-18 14:10] ricardobnjunior commented on #22994
Me too

[2019-09-18 14:18] mgreenbe commented on #32594
@oanush ,

Ok, pip-installing the most recent release candidate on Colab worked. (When specifying Tensorflow 2.x by running `%tensorflow_version 2.x`, I would have expected it to switch to the most recent release candidate.) I also ran it locally and the warnings disappeared. So this is resolved as far as I can tell. Thanks!

I'm now seeing a `WARNING:tensorflow:From /usr/local/lib/python3.7/site-

[2019-09-18 14:40] giannisdaras commented on #24412
Hey everyone, I can confirm that I was able to train a custom keras model on TPUs, using `tf-nightly-gpu-preview-2.0. and the `tf.distribute.experimental.TPUStrategy`.
I faced a lot of issues in the process:
1) I had to wrap my model with the `Sequential` API, otherwise I was getting an error stating that `functional model was expected, but got subclass Model instead`.
2) The slicing operation doe

[2019-09-18 14:40] risajef opened #32619 "Missing output shape for inverse stft"
## Link
https://www.tensorflow.org/api_docs/python/tf/signal/inverse_stft

## Description of issue:
I am missing what the output dimensions are.

### Clear description

I do not know what the output dimensions of inverse_stft are. And I do not know how they come to be.

### Example Code

[code]
The output shape of invstft is then (120320,). And I don't know how it got there. In my opinion it shoul

[2019-09-18 14:47] duncanhalstead commented on #23683
@sdmars that worked, thanks!

I found [this](https://towardsdatascience.com/stop-installing-tensorflow-using-pip-for-performance-sake-5854f9d9eb0c) article which is interesting reading

[2019-09-18 14:56] robieta commented on #32311
I don't think this warrants a cherrypick given how far along the 2.0 RC process is. It will automatically be picked up in 2.1.

[2019-09-18 15:00] wchargin commented on #32319
@cuongth95: Right; downgrading is the official solution at this time.

[2019-09-18 15:02] tymorrow commented on #27156
I have the same exact thing going on.
Is there any additional info that would be useful to someone looking into this?

[2019-09-18 15:24] remydubois opened #32620 "Use tf.Tensor as input to tf.io.gfile.GFile"
**System information**
- TensorFlow version (you are using): 2.0.0rc1

**Describe the feature and the current behavior/state.**
Currently, file readers such as `tf.io.gfile.GFile` expect plain strings as input. As a consequence, one can hardly use those file readers inside `tf.data.Dataset` pipelines which yield string Tensors (typically through `tf.data.Dataset.list_files`)

Doing so raises `Type

[2019-09-18 15:26] wchargin opened #32621 "Estimator 1.x nightlies break tf.contrib.*"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): gLinux (like Debian)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2019-09-18 15:29] sdmars commented on #23683
@ducanhalstead
Can you reach me on linked in?
I want to be connected with developers.
https://www.linkedin.com/in/sayan-dutta-chowdhury-153032166

[2019-09-18 15:32] michiexile commented on #32557
I have what seems to be a similar issue. When writing a tutorial class I plan to give, I train one small dense network and one CNN network on the MNIST digits data set. Everything runs smoothly until I try to predict (with identical code) using the CNN, at which point I first get a TypeError, and if I try more times my kernel restarts.

I am attaching my Jupyter notebook here.
[Crashing kernel by

[2019-09-18 15:35] CJMenart opened #32622 "[TF 2.0] tf.assign fails with int32 tensors using a multi-device distribution strategy"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-18 15:38] mihaimaruseac commented on #32574
Oh, this is because TF 2.0 is eager by default, no longer has sessions.

Try this instead:

[code]

Note that I also removed the not needed `return`

[2019-09-18 15:48] mihaimaruseac commented on #32319
`gast` has been pinned in the meantime, pending new release

[2019-09-18 15:56] mihaimaruseac commented on #32555
The only supported way to use TensorFlow is `import tensorflow as tf` and then access the API via `tf....` attribute lookup. All the other ways that are possible are not supported, artifacts of Python's quirks, and can and will break with no rollback.

In this case, the only case that is always guaranteed to work is

[code]

[2019-09-18 16:06] mihaimaruseac commented on #32352
Can you check if you have it enabled? It can be disabled from BIOS, could be an older version of CPU without the support, etc.

For example, you can use [`coreinfo`](https://docs.microsoft.com/en-us/sysinternals/downloads/coreinfo) and post the line about AVX (or, better, post the full output as there might be other dependencies too)

[2019-09-18 16:17] netskink commented on #32557
@ravikyram how are you seeing that message?  I get these messages in the notebook cell and the jupter-notebook starting terminal:

`WARNING:tensorflow:From /home/davis/anaconda3/envs/py368tf2/lib/python3.6/site-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and

[2019-09-18 16:18] josei opened #32623 ""failed call to cuInit: CUDA_ERROR_UNKNOWN: unknown error" unless running with sudo"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ClearLinux 31030
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:  -
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tensorflow-gpu 1.14.0
- Python version: 3.7.4
- Installed using virtualenv? pip? conda?: pyenv's pip
- Bazel version (if comp

[2019-09-18 16:29] mihaimaruseac commented on #31434
So there are 36 lines of

[code]

[2019-09-18 16:39] georgesterpu commented on #31973
Hi, I've been coding in TF 2.0 for the past few days and used this cheap workaround for my (momentarily) limited use case: install `tensorflow-gpu==2.0.0-beta1` alongside with `tensorflow==2.0.0-rc1`. But it's quite strange, better wait for a proper fix.

[2019-09-18 16:41] amitpandey2194 opened #32624 "Inference in C++ Tensorflow: Session->Run hangs when ran with input and output parameters supplied"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-18 16:53] manojrustagi79 opened #32625 "ImportError: DLL load failed: The specified module could not be found."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.

[2019-09-18 16:57] mihaimaruseac commented on #32621
Sorry about these breakages.

[2019-09-18 17:00] mihaimaruseac commented on #32625
Does your CPU support AVX? See also #32352

[2019-09-18 17:00] jsimsa commented on #32138
@dimitree54 we came up with a two-part fix (tf.data + tf.autograph). The tf.data  part has been completed (https://github.com/tensorflow/tensorflow/commit/cc2f631baaa9d0d5e189d3c0b5fbfc4df110bf91#diff-b9d6ae3057dedddc9760f15603a3b041) and the tf.autograph part is worked on by @mdanatg .

[2019-09-18 17:01] manojrustagi79 commented on #32625
I have installed:
cuda_10.1.243_win10_network version of CUDA Toolkit
I have already verified the path on windows
Thanks

[2019-09-18 17:03] reliefs commented on #20362
https://github.com/tensorflow/tensorflow/issues/32315

[2019-09-18 17:05] reliefs commented on #32315
more people have asked me private for a fix today

[2019-09-18 17:05] mihaimaruseac commented on #20362
Closing as #32315 duplicates it.

[2019-09-18 17:05] #20362 closed

[2019-09-18 17:06] mihaimaruseac commented on #32625
The answer is to a different question.

Can you check if your CPU supports AVX extension?

[2019-09-18 17:09] gunan commented on #32315
This is not on our roadmap. I do not think that will change for the next year.
I will lock this thread, because added repeated requests will not change the roadmap.

[2019-09-18 17:14] manojrustagi79 commented on #32625
Yes my CPU support AVX

Outout of python -v -c "import tensorflow"

import _frozen_importlib # frozen
import _imp # builtin
import '_thread' # <class '_frozen_importlib.BuiltinImporter'>
import '_warnings' # <class '_frozen_importlib.BuiltinImporter'>
import '_weakref' # <class '_frozen_importlib.BuiltinImporter'>
# installing zipimport hook
import 'zipimport' # <class '_frozen_importlib.BuiltinIm

[2019-09-18 17:18] reliefs opened #32627 "Support for 32 bits architecture #32315"
Several users are still using Python32 bits and they cannot install TensorFlow. For them, pip install TensorFlow fails as no wheel matches the tags expected by their environment (to debug, pip debug --verbose shows only tags that don't math the filenames of our wheels).

There is some requests to support 32 bits, see for example #31431

This is not going to be easy as we need to also compile the C

[2019-09-18 17:19] reliefs commented on #31431
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:19] reliefs commented on #20444
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:19] reliefs commented on #31939
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:19] reliefs commented on #32336
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:19] reliefs commented on #32214
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:19] reliefs commented on #32388
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:19] reliefs commented on #20362
https://github.com/tensorflow/tensorflow/issues/32627

[2019-09-18 17:24] Womcos-Shu opened #32628 "add new variables to a pretrain model in keras"
I encounter some problems when using keras. I get a network which has been pretrained, such as vgg16 or resnet34. The network use the keras default naming for all variables. Now i want to change some layers of the network which will change the variables of current layers. But when i directly change the layers, the name of variables in other layers change, too. Then i can not load the variables fro

[2019-09-18 17:27] manojrustagi79 commented on #32625
See the below info which says that it supports the AVX

Coreinfo v3.31 - Dump information on system CPU and memory topology
Copyright (C) 2008-2014 Mark Russinovich
Sysinternals - www.sysinternals.com

Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
Microcode signature: 000000AA
HTT             *       Hyperthreading enabled
HYPERVISOR      -       Hyp

[2019-09-18 17:38] ahmadyan commented on #28007
I ran to a similar issue, when I tried to save images to tf.summary.image using MirroredStrategy. Oddly enough, when debugging using tf.config.experimental_run_functions_eagerly(True) this error does not occur.

[2019-09-18 17:38] ewilderj commented on #32627
Hi there @reliefs

TensorFlow is an open source project: while the people paid to work on it by Google have limited bandwidth, this doesn't mean other people can't join in and help. If you want to improve the situation, please consider joining the SIG Build project in which many community collaborators are working to build TF for many architectures.

Repeatedly pinging the same issue for something

[2019-09-18 17:40] georgesterpu commented on #31505
Could this happen because @andrey999333 uses cuda 10.1, while the pip wheel was built for cuda 10.0 ?
@ymodak do you know why TensorFlow 2.0 on pypi is not yet built for cuda 10.1, library released in February ?

[2019-09-18 18:00] vade commented on #32241
Hi, Apologies: Here is a my working google collaboration doc:

https://colab.research.google.com/drive/1-Mb8Smap__h9Ld2l_fuLuQn0wCB4WSs_

And here are some model files that may be pertinent:

The H5 has the output as expected and defined in the Sequence model created in tf.keras.

The output PB *does not* have an output at all.

However, I can find the named output of the model and use the resulti

[2019-09-18 18:09] vade commented on #32241
Netron images of the h5 with output and the pb without for reference:

<img width="1136" alt="Screen Shot 2019-09-18 at 2 08 41 PM" src="https://user-images.githubusercontent.com/65011/65173932-e0af4380-da1d-11e9-8296-8893dd1570f1.png">
<img width="1136" alt="Screen Shot 2019-09-18 at 2 08 09 PM" src="https://user-images.githubusercontent.com/65011/65173933-e0af4380-da1d-11e9-84d9-3b92d4e255b4.png

[2019-09-18 18:12] mihaimaruseac commented on #32625
Please repost using proper markdown format as it is hard to read this way.

If blocks of code/error are short, prefix them with a line containing 3 backticks and end the block with a line containing 3 backticks again.

If they are long, please use the attach functionality to attach a plaintext or post a link to a gist.

[2019-09-18 18:12] Namburger opened #32629 "tflite_runtime supports for arm (pi3 model b+)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linuz rpi 4.19.66-v7+ #1253 SMP Thu Ag 15 11:49:46 BST 2019 arm71 GNU/Linux
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary):
I installed tflite_runtime via
pip3 install tflite_runtime-1.15.0rc0-cp35-cp35m-linux_armv7l.w

[2019-09-18 18:31] vmarkovtsev opened #32630 "Cannot import tensorflow.image since 2019-09-06"
I am running Linux.

Executing the following works:
[code]

There were no nightly builds on 4th and 5th. The following does not work:
[code]

I get

[code]

This still reproduces on the most recent nightly 2.0.0.dev20190918.

[2019-09-18 18:34] maziyarpanahi commented on #26642
Thanks @qlzh727 we appreciate your work.
I would be fine if `LSTMBlockFusedCell` and `TimeReversedFusedRNN` move to `addons` or even willing to do the work and add them myself if I can find a simple instruction as to how to move something from `contrib` to `addons`.

[2019-09-18 18:39] sgambient commented on #32573
That is an easy ask, but very hard to do. I do not think that is the right way to handle large software.  My recommendation is to build in more detailed logs and metrics so as not to have to rely on largess of random developers.

[2019-09-18 18:52] k-w-w commented on #28799
@vsatyakumar Currently, you can't use tensorflow variables objects in the compiled args. I'll see if there is a fix for this. For now, a workaround would be to save the uncompiled version of the model, then manually re-compile once its loaded.

@hno1993 I believe if you wrapped the encoder ops (shown below) as a custom layer, the serialization would work.

[code]

Your code may be buggy if you're

[2019-09-18 18:55] vmarkovtsev commented on #32630
The following fixes the import problem: add

[code]

before `# WRAPPER_PLACEHOLDER` in `tensorflow_core/__init__.py`.

[2019-09-18 18:57] vmarkovtsev commented on #32630
I believe that this is a "featured" bug, but I will happily PR the fix if needed.

[2019-09-18 19:04] maksim-m commented on #30348
@mihaimaruseac it's not released on Maven Central. The latest version of tensorflow for Java is [1.14.0](https://mvnrepository.com/artifact/org.tensorflow/tensorflow) (which is not [usable in its current form](https://github.com/tensorflow/tensorflow/issues/30348#issuecomment-512922088)) and the latest version of tensorflow-android is [1.13.1](https://mvnrepository.com/artifact/org.tensorflow/tens

[2019-09-18 19:06] reliefs commented on #32627
Thanks you for your reply and understanding. People just ask me daily on how to fix this issue, it really bothers me and take time out of my work day..

Have a great weekend.

[2019-09-18 19:16] khousi commented on #32352
@mihaimaruseac
**Coreinfoe gave the following output....AVX is enabled.**

C:\Users\NEW>C:\Users\NEW\Desktop\Coreinfo\Coreinfo.exe

Coreinfo v3.31 - Dump information on system CPU and memory topology
Copyright (C) 2008-2014 Mark Russinovich
Sysinternals - www.sysinternals.com

Intel(R) Core(TM) i5 CPU       M 480  @ 2.67GHz
Intel64 Family 6 Model 37 Stepping 5, GenuineIntel
Microcode signature: 00

[2019-09-18 19:17] qlzh727 commented on #30995
Thanks for the detailed explanation.

After some debug, the lowest op I can track that cause the difference was the "recurrent_activation" function (sigmoid), where the inputs with same value will produce slight different result. The underlying implementation of sigmoid for CPU goes to Eigen, which I don't have any knowledge.

Adding @rmlarsen who is the expert for Eigen in TF team for this issue.

[2019-09-18 19:21] lotrus28 commented on #32161
I mean that if I use `tfcompile` to convert a network into binary, I do get an `.so` file, but during invocation I get core dump error.<br>
The invocation fails even if I start with a model containing only 2 dense layers.
I tried fixing the batch dimension and feeding and reshaping the input, but I still get a segmentation error. So, most likely the error is in this part

[code]

How would you run

[2019-09-18 19:30] vsatyakumar commented on #28799
@k-w-w, thanks for the suggestion. However, this doesn't help since saving model weights (checkpoints) fails during training aswell.

[2019-09-18 19:30] mihaimaruseac commented on #32630
Just to check, does the following work?

[code]

[2019-09-18 19:35] mihaimaruseac commented on #32352
[code]
The `-` there means AVX is *NOT* enabled. In that case, see #19584, especially the last few comments.

[2019-09-18 19:35] ewilderj commented on #32627
I'm interested in why you are getting asked this daily? Excuse my ignorance of your job/other projects, but I'm very curious as to which users and use cases mean you get this repeated question? It might give us clues or data that will help.

[2019-09-18 19:35] #32352 closed

[2019-09-18 19:39] mihaimaruseac commented on #32490
In that case, if you are ok with results differing by that much, please increase tolerance parameter.

Unfortunately, I'm not in the know of that code, so I'm going to unassign myself.

[2019-09-18 19:41] k-w-w commented on #28799
Are you saving just the weights or the model? If just the weights, then `model.save_weights` should suffice.

[2019-09-18 20:32] ychen404 commented on #32520
[code]

I did modify the code yesterday, but the modification is all gone today.
It seems that I can't directly save the changes on gist under your account. It will automatically create a copy connects with my github account.
Anyway, you can just copy the above code and paste in a notebook. It should work.
The notebook does not allow me to call modules from other file so I merge them into one.

[2019-09-18 21:05] av8ramit commented on #31983
Unfortunately we only support pip installation as of right now, which is why we made the move to manylinux2010. I'm not sure what I can do to help fix this issue, but I think once [this issue](https://github.com/sdispater/poetry/issues/1373) is resolved on poetry's side it will work.

We cannot provide manylinux1 whls as pypi will reject them and they are not even technically compliant with the pa

[2019-09-18 21:05] #31983 closed

[2019-09-18 21:13] ARCog commented on #28517
Same here, has someone figured it out?

[2019-09-18 21:13] ARCog commented on #28517
-- Selecting Windows SDK version 10.0.17763.0 to target Windows 10.0.18362.
-- C:/Users/aurel/source/repos/tensorflow/tensorflow/contrib/cmake/build/abseil_cpp/src/abseil_cpp_build
CMake Error at tf_python.cmake:132 (message):
  Python proto directory not found: tensorflow/contrib/gdr
Call Stack (most recent call first):
  CMakeLists.txt:612 (include)

CMake Error at tf_python.cmake:132 (message):

[2019-09-18 21:20] ymodak commented on #28997
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-18 21:20] #28997 closed

[2019-09-18 21:24] ppham27 commented on #28799
@hno1993 I see you're using Conda to manage your packages, which may mean your Tensorflow installation doesn't contain all the latest fixes.

That error should be fixed by https://github.com/tensorflow/tensorflow/commit/39bc7bcf94983261a3ee8a72802f5de056728a9c#diff-8eb7e20502209f082d0cb15119a50413.

Try using the latest RC or nightly.

[2019-09-18 21:26] vmarkovtsev commented on #32630
That works:
[code]

[2019-09-18 21:32] jvishnuvardhan commented on #32612
@somedadaism Can you save the model before compiling with `MyCustomLoss` function. Then load the saved model and compile with `MyCustomLoss` function as shown below. Thanks!

[code]

[2019-09-18 21:53] mihaimaruseac commented on #32630
Perfect. That is the only supported way to use TF API, all the other ways can break as we progress our API. Unfortunately, Python allows you to do all kinds of imports, accessing private stuff, etc but this is also brittle.

Please use the `import tensorflow as tf; tf.image` approach

[2019-09-18 22:09] ymodak commented on #31206
Reiterating Mycaster's solution.
You can view the ops names by using following code snippet as well:
[code]
On inspecting the output we see ```212/212/MatMul``` operation.
Closing this issue since correcting the node name fixes the problem. Thanks!

[2019-09-18 22:11] #31206 closed

[2019-09-18 22:17] gowthamkpr commented on #32628
@Womcos-Shu Please take a look at this [issue](https://github.com/keras-team/keras/issues/3465) which should be able to answer your questions and let me know if it helps. Thanks!

[2019-09-18 22:17] jvishnuvardhan commented on #32578
@noctune Can you try this way and let me know what you think. Thanks!

[code]

[2019-09-18 22:24] ymodak commented on #31091
This is fixed with TF 1.14. Thanks!
[code]
output:
[code]

[2019-09-18 22:24] #31091 closed

[2019-09-18 22:41] gowthamkpr commented on #31928
@sdll Can you please create a new issue of clearly referring to what the bug is. Thanks!

[2019-09-18 22:48] MeghnaNatraj commented on #7983
A couple of things that helped me:

1. Close all terminal windows and start fresh (or kill as many processes as you can -- specifically GPU related.)

2. I further got another error that the GPU does not have sufficient memory

[code]
You'll notice in the above logs that the GPU has ~2.4 GB but the memory needed was 2.25GB. Technically, it should work, but maybe it needs a bit more memory (maybe 2

[2019-09-18 22:57] gowthamkpr commented on #32421
@kristofgiber Can you please take a look at this [answer](https://stackoverflow.com/questions/54400971/keras-clean-implementation-for-multiple-outputs-and-custom-loss-functions) and let me know if it helps. Thanks!

[2019-09-18 23:03] ymodak commented on #25575
See https://www.tensorflow.org/lite/r2/convert/concrete_function to know more.
Feel free to reopen issue if running into issues. Thanks!

[2019-09-18 23:03] #25575 closed

[2019-09-18 23:11] gunan commented on #32621
I think the problem here is caused by main TF blocking new nightlies, but estimator still building nightlies.
Should we stop estimator from pushing 1.x nightlies?

[2019-09-18 23:20] gowthamkpr commented on #32614
@morgangiraud Tried to reproduce your issue but was not able to reproduce it. Please find my github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/ee11f049cc9ecf3855959d0d9df5f970/untitled146.ipynb).

[2019-09-18 23:25] gowthamkpr commented on #32241
@vade I am unable to find the colab notebook. heres what I get
![image](https://user-images.githubusercontent.com/47574994/65193710-e8c4ae80-da30-11e9-9f3e-9efa3719b1af.png)

[2019-09-18 23:49] jvishnuvardhan commented on #32575
@KANGRuipeng If you have developed custom c++ op that works for `TF2.0b1`, then you can update the same for `TF2.0rc1`.

[Here](https://github.com/tensorflow/custom-op) is a seperate repository under tensorflow for developing custom op. Thanks!

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions

[2019-09-18 23:49] #32575 closed

[2019-09-19 00:08] #32579 closed

[2019-09-19 00:19] jvishnuvardhan commented on #32588
@yunabe `tf.contrib` won't be there is `TF2.0`. The current doc is for `TF1.x`. TF community is working on `TF2.0` docs and will be updated in the near future. If you want to contribute, please raise a PR to update the docs for `TF2.0`. Please let us know what you think?. Thanks!

[2019-09-19 00:21] cyrus2018 commented on #32489
Please see the attachments.

now using TF 1.9, setting os.environ["CUDA_VISIBLE_DEVICES"]='1' casues no reaction from Tpython/TF.. i changed os.environ["CUDA_VISIBLE_DEVICES"]to different digits and combination, any attempt to input 1, causes the Tf stop responding.

![1](https://user-images.githubusercontent.com/45702408/65198559-228bc880-dab6-11e9-831f-10d81522fe5a.JPG)
[Qyarry.docx](https://git

[2019-09-19 00:26] gowthamkpr commented on #32616
@DeveloperRachit You can follow this [tutorial ](https://blog.algorithmia.com/deep-dive-into-object-detection-with-open-images-using-tensorflow) which gives you an idea of how to perform Object Detection with Open Images, using Tensorflow

[2019-09-19 00:26] #32616 closed

[2019-09-19 00:28] vade commented on #32241
@gowthamkpr - strange - I was able to open this collab link on Chrome and it worked (I was not logged into my account):

https://colab.research.google.com/drive/1-Mb8Smap__h9Ld2l_fuLuQn0wCB4WSs_

And also verified the GCS storage links worked (I also share these links with collaborators and they are able to view it, and the GCS bucket and contents are public)

<img width="1360" alt="image" src="ht

[2019-09-19 00:32] ymodak commented on #32585
This question is better suited on Apple Support forums.
See https://discussions.apple.com/welcome
I was not able to repro the energy consumption as reported. Energy impact was 66.2 for me using Google Chrome browser.
Perhaps you can try using other browsers and reach out to the support forums to seek additional help.
Thanks!

[2019-09-19 00:32] #32585 closed

[2019-09-19 00:33] reliefs commented on #32627
face detection is the new thing around script kitties

[2019-09-19 00:58] manojrustagi79 commented on #32625
Pleas

Please find attached the Output of python -v -c "import tensorflow" in the file named as "Output of python import tensorflow.txt"

[2019-09-19 00:59] manojrustagi79 commented on #32625
[Outout of python import tensorflow.txt](https://github.com/tensorflow/tensorflow/files/3628896/Outout.of.python.import.tensorflow.txt)

[2019-09-19 01:07] Callahman commented on #32052
Not sure if this is the same issue, but I'm experiencing linear memory leaks on loops as well [example below]. I tried including a recommended fix from other threads (k.clear_session()), but that only slowed the memory leak.

Let me know if I should open a separate ticket. Hope this helps/a fix can be found.

OS: Ubuntu 18.04.3
GPU: GeForce GTX 1080/PCIe/SSE2

`import tensorflow as tf
from tensorf

[2019-09-19 01:40] Liang-yc commented on #32413
In my experiment, I only have GTX1660 with less than 6GB GPU momery. In order to reproduce OOM error, I rapidly increased the channel number (5120) in first `conv` layer so that the OOM error can occur. On this premise，I added  `tf.config.experimental.VirtualDeviceConfiguration` function but found that it was useless. So I uploaded the code and error message.

It seems like Google Colab's GPU memo

[2019-09-19 01:46] manojrustagi79 commented on #32625
If you need any other information,please let me know.

[2019-09-19 01:52] ram1209 commented on #9829
This worked for me ..
!pip install numpy --upgrade.

[2019-09-19 02:18] ucasiggcas opened #32637 "No such file or directory in bazel build"
- OS Platform and Distribution ( Linux Ubuntu 18.04, python3.5):
- TensorFlow installed from (tensorflow-master,that is, I download the https://github.com/tensorflow/tensorflow)
- TensorFlow version (source,I don't know, this is the link https://github.com/tensorflow/tensorflow):

`tensorflow-master$ bazel build tensorflow/lite/toco:toco`
`Starting local Bazel server and connecting to it...
FATAL:

[2019-09-19 02:30] ssrp commented on #30348
Hi @mihaimaruseac, it is not released on Maven Central yet.
Also, I found the 1.15 artifacts of TF for Java and Android [here](https://github.com/tensorflow/tensorflow/tree/v1.15.0-rc1/tensorflow/java/) but I couldn't tell if it is updated (comparing with [1.14 Artifacts](https://github.com/tensorflow/tensorflow/tree/r1.14/tensorflow/java/)).

[2019-09-19 02:48] wangyunxiaa opened #32638 "load custom op in C API got error"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with TensorFlow, or support for problems that are not verified bugs in TensorFlow, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).

If you are reporting a vulnerability, please use the [dedicated reporting process](https://github.com/tensorflow/ten

[2019-09-19 03:03] sjtusmartboy commented on #32170
@aaroey hi, is there any update?

[2019-09-19 03:17] huang-haijie commented on #32017
Just adding some more findings here.
Environments:
- tensorflow: 1.14.0
- tensor2tensor: tried 1.11, 1.13, 1.14, results were the same.

When I use the default hparams set (transformer_librispeech), the training will hang.
I explored the problem specific hparams (defined in tensor2tensor/data_generators/speech_recognition.py) and tried the below changes which can avoid the hang:
- set `audio_add_d

[2019-09-19 03:54] jinfagang opened #32640 "How to build tf1.14 then build tf2.0?"
I try to build 2 different pip package with 2 versions. First:

[code]

But anyway it generates only 1.14, not 2.0 in the next step......

[2019-09-19 03:59] SamuelMarks commented on #31434
So you're asking me to run the build again, this time with `--expt-relaxed-constexpr`?

[2019-09-19 04:01] rachellim commented on #32017
Thanks for flagging it and the repro instructions. I found the issue in `parallel_interleave_dataset_op.cc`. Fix: https://github.com/tensorflow/tensorflow/commit/6274f037d4acc9d04cd4aafbda7547a3d89e5674

[2019-09-19 04:01] #32017 closed

[2019-09-19 04:04] rachellim commented on #32017
The cause of the hanging here is that `parallel_interleave_dataset_op.cc` doesn't handle iterator creation errors correctly when the `sloppy=True` param is set. This fix above makes it handle the error more gracefully (i.e. it raises an error instead of hanging), but the actual dataset iterator creation error here is:

[code]

in the `preprocessing` function in the t2t code.

[2019-09-19 04:06] LunaonMSK commented on #15585
meet the same problem with v100 on aws p3 instance,fp16 is 3x slower than fp32,I have not found the solution

[2019-09-19 04:19] adriancaruana commented on #24520
Also having this problem with tf1.14

[2019-09-19 04:26] gadagashwini commented on #32600
@david2588e,
Glad it worked.
Closing the issue. Thanks!

[2019-09-19 04:26] #32600 closed

[2019-09-19 04:27] orbanops91 commented on #20444
i have an answer since python 3.7 tensorflow is not working
try python 3.6 by following these steps on the link https://www.youtube.com/watch?v=_kU50QtlI14

Works for me!

[2019-09-19 04:31] DeveloperRachit commented on #32616
actually i have 8 GB RAM in my system and GPU also is it possible to train it in divided rule.

[2019-09-19 04:34] DeveloperRachit opened #32641 "Tensorflow Memory Error"
Dear Team,

i have 8 GB RAM in my system is it possible to train it in divided rule so that it would take less RAM to train it to large data set with less RAM i mean 8GB with 1GPU .i am going to train open_images_v4  data set

[2019-09-19 04:43] tusharsh23 opened #32642 "Unable to convert .ckpt to .pb using tensorflow"
I have been trying to use BERT for question answer prediction but the response time of it quite high.

The model size is too heavy and is in .ckpt format.

I want to save it to .pb format but I am struglling with the output_node_name encountered with below error:

tensorflow.python.framework.errors_impl.InvalidArgumentError: No OpKernel was registered to support Op 'InfeedEnqueueTuple' used by nod

[2019-09-19 04:46] ymodak commented on #29241
Closing this issue since the associated PR has been merged. Thanks!

[2019-09-19 04:46] #29241 closed

[2019-09-19 04:53] ymodak commented on #31099
See step by step tutorial for GPU delegate on android https://www.youtube.com/watch?reload=9&v=Xkhgre8r5G0&feature=youtu.be

[2019-09-19 04:53] #31099 closed

[2019-09-19 05:45] oanush commented on #32624
@amitpandey2194 ,
Thanks for reporting the issue, can you please provide a standalone code so that we can replicate the  same from our end ?Thanks!

[2019-09-19 05:55] oanush commented on #32623
@josei ,
Could you check this [issue](https://github.com/tensorflow/tensorflow/issues/19266#issuecomment-399686258) which is similar to your issue. If those solutions doesn't work, could you uninstall and reinstall CUDA and cuDNN? Please let us know how it progresses. Also, try to uninstall and reinstall tensorflow-gpu and try following the instructions from [TensorFlow](https://www.tensorflow.org

[2019-09-19 06:05] gadagashwini commented on #32310
@sharonevarghese, Did you install bazel using the instructions mentioned in the [bazel website](https://docs.bazel.build/versions/0.24.0/install-windows.html). OR if you are getting any error, please attach the error log here for faster move. Thanks!

[2019-09-19 06:07] gadagashwini commented on #32602
@alanpurple,
Provide the exact sequence of commands / steps that you executed before running into the problem.

[2019-09-19 06:09] gadagashwini commented on #32604
@LLLLLLoki, Please provide the information asked in the above template. Thanks!

[2019-09-19 06:13] oanush commented on #32617
@nsantavas ,
Thank you for reporting the issue, can you please provide a simple and standalone code to reproduce the issue? meanwhile you can also refer these links [1](https://stackoverflow.com/questions/56116628/how-to-use-tf-keras-with-bfloat16) and [2](https://stackoverflow.com/questions/4674473/valueerror-setting-an-array-element-with-a-sequence) let us know if it can help resolving your issu

[2019-09-19 06:15] ravikyram commented on #32625
TF 1.14 supports cuda 10.0 Please switch to cuda 10.0 and update cuda paths.
See [software requirements](https://www.tensorflow.org/install/gpu#software_requirements).

Please see if #28848 helps you.Thanks!

[2019-09-19 06:21] gadagashwini commented on #32606
@Jasonnor, Thanks for reporting the issue.
Will it be possible to provide the standalone code to reproduce the reported issue. Thanks!

[2019-09-19 06:25] KANGRuipeng commented on #32575
@jvishnuvardhan I'll add an example. I think this is a bug of TF.

[2019-09-19 06:36] oanush commented on #32607
@myy920213 ,
Looks like the code provided is incomplete,can you please share a simple standalone code to reproduce the issue reported here ? Thanks!

[2019-09-19 06:49] oanush commented on #32577
@SundeepPidugu ,
Can you please refer the [link](https://gist.github.com/kmhofmann/e368a2ebba05f807fa1a90b3bf9a1e03) and let us know if it helps.Thanks!

[2019-09-19 06:55] Jasonnor commented on #32606
@gadagashwini Sure! Here is a test code:
https://colab.research.google.com/drive/1qU5uhOfCy1MFtvUA1-8nJdzdgcdbpQvM

I compiled model by:
[code]
But only get one loss result, not two result of two output. (and don't know why without accuracy metric result?)
[code]

[2019-09-19 06:57] oanush commented on #32594
@mgreenbe ,
Thanks for reporting the issue, yes its just a generic warning that is provided to the user regarding the deprecation.

[2019-09-19 07:07] ucasiggcas commented on #32637
in another platform and same OS,
same `tensorflow-master$ bazel build tensorflow/lite/toco:toco`
but ups
`INFO: Options provided by the client:
  Inherited 'common' options: --isatty=1 --terminal_columns=107
INFO: Reading rc options for 'build' from /./tensorflow-master/.bazelrc:
  'build' options: --apple_platform_type=macos --define framework_shared_object=true --define open_source_build=true --

[2019-09-19 07:08] ucasiggcas commented on #32637
the` /./` is some path in my dirs

[2019-09-19 07:08] sdll commented on #31928
@gowthamkpr, I would love to tell you what the source of the problem is. To help finding this out, I have made a minimum failing example where the model trained in keras works well, while the model trained with keras inside the model function and the keras model converted to the estimator do not. Unfortunately, I do not have enough knowledge of the tf 1.14 internals to say where the training/infer

[2019-09-19 07:19] morgangiraud commented on #32614
First time that I have different behaviours on my mac and in collab but I'm even more puzzled now.
I've tested again just in case but it keeps failing on my mac book.

It also works with `test]hop` and  `test{hop`.

Is there anyone who could try to run the script on a macbook to see if it is reproducible?

[2019-09-19 07:28] schoettner commented on #32574
Hi Mihai,
removing the session is not a solution. I am aware that tf2 executes in eager mode. Session is only an example. I am not able to import a bunch of dependencies with tf.xxx

[2019-09-19 08:11] ccnankai opened #32645 "import source code in Clion failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS (e.g., Linux Ubuntu 18.04):
- TensorFlow installed from (source or binary):
- Tensor

[2019-09-19 08:46] ArtemisZGL commented on #31661
is it working in any tf version now?

[2019-09-19 08:48] gadagashwini commented on #32630
Closing this issue since its resolved.
Feel free to reopen if the issue still persists. Thanks!

[2019-09-19 08:48] #32630 closed

[2019-09-19 08:48] josei commented on #32623
Yes, things I've already tried are:
- Install nvidia-modprobe.
- Uninstall and install CUDA and cuDNN.
- Uninstall and install tensorflow-gpu.
- Uninstall and install different Nvidia driver versions.
I can't follow TensorFlow instructions right away, as they're not focussed on ClearLinux distribution. Probably I'd switch distribution, as this could be a ClearLinux issue unless someone knows how t

[2019-09-19 08:50] ravikyram commented on #32619
I have tried on colab with TF version1.14 , 1.15.0-rc0 and see output shape of invstft is (120320,).Thanks!

[2019-09-19 08:51] BrikerMan opened #32646 "Tried to convert 'y' to a tensor and failed. Error: None values not supported."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.0.0rc1

**Describe the current behavior**

Crash when fit. It works just fine in `1.14.0`, `2.0.0b0` & `2.0.0b1

[2019-09-19 08:53] MaryRodina opened #32647 "TF2.0 Convolution [10,128,128,9] -> [10,128,128,32]->[10,128,128,3] doesn't work."
**System information**

Python version: 3.6.8
TensorFlow-gpu version 2.0.rc0
CUDA/cuDNN version: 10.0
GPU model and memory: GeForce GTX 1080 Ti
**Describe the current behavior**
Running the provided code on GPUs leads to error message tensorflow.python.eager.core._SymbolicException: Inputs to eager execution function cannot be Keras symbolic tensors, but found [<tf.Tensor 'lambda_26_1/Identity:0'

[2019-09-19 08:55] ravikyram commented on #32609
Can you please elaborate about the issue & the context.Will it be possible to provide related code.Thanks!

[2019-09-19 08:59] alanpurple commented on #32602
@gadagashwini
added

[2019-09-19 09:00] yunabe commented on #32588
I'm happy to contribute to the doc. I'm sending a PR for the section.

[2019-09-19 09:07] ravikyram commented on #32601
Please, go through [distribution strategy ](https://www.tensorflow.org/beta/guide/distribute_strategy#examples_and_tutorials)tutorials and see if it helps you. Thanks!

[2019-09-19 09:12] oanush commented on #32478
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 09:12] #32478 closed

[2019-09-19 09:12] oanush commented on #32424
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 09:12] #32424 closed

[2019-09-19 09:14] sharonevarghese commented on #32310
### these are the steps i followed as per the bazel website
![1](https://user-images.githubusercontent.com/55018635/65230672-e4110080-daeb-11e9-87c7-03221fb1af34.jpg)
![2](https://user-images.githubusercontent.com/55018635/65230677-e7a48780-daeb-11e9-9945-0843a7ca189b.jpg)
![3](https://user-images.githubusercontent.com/55018635/65230680-e8d5b480-daeb-11e9-9e80-c238354dba8f.jpg)

### guide me throu

[2019-09-19 09:16] ucasiggcas opened #32650 "Converting unsupported operation ??"
- OS Platform and Distribution ( Linux Ubuntu 18.04):
- TensorFlow installed from (source):
- TensorFlow version (https://github.com/tensorflow/tensorflow):

`tensorflow-master$ bazel-bin/tensorflow/lite/toco/toco --input_file=../my_freeze12xshell.pb --output_file=../my12.tflite --output_format=TFLITE --input_shapes=2,4,513 --input_arrays=x_mixed --output_arrays=y_out1,y_out2 --inference_type=QUAN

[2019-09-19 09:18] ucasiggcas commented on #32650
the errors are here, so many

`2019-09-19 17:17:52.344665: I tensorflow/lite/toco/import_tensorflow.cc:659] Converting unsupported operation: TensorArrayV3
2019-09-19 17:17:52.352375: I tensorflow/lite/toco/import_tensorflow.cc:193] Unsupported data type in placeholder op: 20
2019-09-19 17:17:52.352443: I tensorflow/lite/toco/import_tensorflow.cc:659] Converting unsupported operation: TensorArrayV

[2019-09-19 09:18] gd12345 commented on #32609
I have build a tensor_forest model in tensorflow and have saved it as "saved_model.ckpt". I want to use this model in Android, for which below steps are followed:

1. The freeze graph is created using:
from tensorflow.python.tools import freeze_graph
graph = tf.get_default_graph()
input_graph_def = graph.as_graph_def()

saver.restore(sess, "./saved_model.ckpt")
node_names = [node.name for node in

[2019-09-19 09:22] sharonevarghese commented on #32310
![4](https://user-images.githubusercontent.com/55018635/65231323-09523e80-daed-11e9-9e41-569fd1f46f37.jpg)
### how to find the "binary" file mentioned

[2019-09-19 09:23] aflc commented on #31983
I commented on https://github.com/sdispater/poetry/issues/1330#issuecomment-533043208.

What about a restriction for Python version like below?
https://github.com/tensorflow/tensorflow/blob/c75bb66a99ad45e5a3c9fc4625c8abeb705520b5/tensorflow/tools/pip_package/setup.py#L56

I don't tested yet, but I will.

[2019-09-19 09:48] jinfagang commented on #26150
[code]

checkout into r2.0, building error.

from master, build success

[2019-09-19 09:50] gadagashwini commented on #32646
It works fine with TF 1.15.0.rc0.
I could reproduce the issue with Tensorflow 2.0.0.rc1. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/d6a907491917bcc4e36f7c8e08fefe54/untitled160.ipynb). Thanks!

[2019-09-19 09:53] oanush commented on #32641
@DeveloperRachit ,
Please provide details about what platform you are using (operating system, architecture). Also include your TensorFlow version. Thanks!

[2019-09-19 09:54] jinfagang commented on #26289
Do no bother any step above. the tensorflow master branch can built tensorflow 1.14 without pain with cdau 10.1

the only question is on another branch such as r2.0

they were totally messed.

I can not build tensorflow 2.0 from source now.

[2019-09-19 09:56] gadagashwini commented on #32310
@sharonevarghese,
In this [link](https://github.com/bazelbuild/bazel/releases/tag/0.23.0), click on the Assets. There you can find the bazel binaries. Download the bazel-0.23.0-windows-x86_64.exe from it. Thanks!

[2019-09-19 09:59] rishabhsahrawat opened #32651 "[TF1.14][TPU]Can not use custom TFrecord dataset on Colab using TPU"
I have created a TFRecord dataset file consisting elements and their corresponding labels. I want to use it for training model on Colab using free TPU. I can load the TFRecord file and even run an iterator just to see the contents however, before the beginning of the epoch it throws following error-
[code]
In my understanding, it wants the TFRecord file on the TPU bucket, I don't know how to do th

[2019-09-19 09:59] ravikyram commented on #32520
I tried on colab with TF version 1.9 ,1.15.0-rc0 and able to reproduce the issue.Please, find the gist [here](https://colab.sandbox.google.com/gist/ravikyram/9ce500f74fa9d12d83206dc24da08caf/untitled204.ipynb#scrollTo=uI17CXoWzAai).Thanks!

[2019-09-19 10:04] oanush commented on #32598
@SirSharpest ,
I was able to run in colab without any issue's for TF 2.0rc1. What errors are you facing?
Meanwhile try downgrading to` gast-0.2.2` as workaround `pip install gast==0.2.2` and tryout the tutorial.

[2019-09-19 10:13] risajef commented on #32619
With trial and error I found out that the ouput shape seems to be: ```audioNp[0].shape//frame_step*frame_step```
So rounded down to a multiple of frame_step. But can anyone confirm this?

[2019-09-19 10:19] ravikyram commented on #31982
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 10:19] #31982 closed

[2019-09-19 10:23] ravikyram commented on #32114
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 10:23] #32114 closed

[2019-09-19 10:43] a7744hsc commented on #30472
Though this issue is easy to fix, I still believe this is a compatibility issue that should be avoided.

[2019-09-19 10:43] sharonevarghese commented on #32310
![5](https://user-images.githubusercontent.com/55018635/65237532-71f2e880-daf8-11e9-8270-2425bb30567d.jpg)
kindly help

[2019-09-19 10:49] kielnino commented on #31231
I have the same error:

`TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'`

with tensorflow 2.0.0-rc0 and a generator based on `keras.utils.Sequence`

[2019-09-19 10:49] noctune commented on #32578
What I ended up using is slightly different:

[code]

It's a weird workaround, but it works. Thanks!

[2019-09-19 10:50] ccnankai commented on #31442
Hi @konstantinARM
I would like to ask you which version of tensorflow, clion, can teach me the configuration process.

[2019-09-19 10:55] ccnankai commented on #21504
@pvn25
which version of tensorflow and clion you used, can teach me the configuration process import tensorflow source code .    After installing the plugin, import the source directly? Still need to run other steps?

[2019-09-19 11:01] ccnankai commented on #1720
@phisiart
which version of tensorflow and clion you used, can teach me the configuration process import tensorflow source code . After installing the plugin, import the source directly? Still need to run other steps?

[2019-09-19 11:13] ravikyram commented on #32387
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 11:13] #32387 closed

[2019-09-19 11:17] DeveloperRachit commented on #32641
I am using tensorflow version 14.0 and GPU 8 GB RAM Linux 18.0 version

[2019-09-19 11:18] bearsroom opened #32653 "Keras model.save() is extremely slow under MirroredStrategy context when keras.layers.BatchNormalization is in use."
**System information**
- Have I written custom code: yes, the training script is written from scratch but the network resnet_v1.5-50 is copied from official example tensorflow/models
- OS Platform and Distribution: Linux Debian 9
- TensorFlow installed from (source or binary): yes
- GCC version for compiling: gcc 6.3 git commit 1eea9f905c4b4ac4844855eb64e2f9e415babe56
- TensorFlow version (use com

[2019-09-19 11:23] ravikyram commented on #32447
Automatically closing due to lack of recent activity. Please update the issue when new information becomes available, and we will reopen the issue. Thanks!

[2019-09-19 11:23] #32447 closed

[2019-09-19 11:31] gadagashwini commented on #32310
@sharonevarghese,
Please follow the steps mentioned in here https://docs.bazel.build/versions/0.24.0/install-windows.html. Thanks!

[2019-09-19 11:31] bearsroom commented on #32653
A trick to bypass this problem is that, we can save only the first replica of parameters `moving_mean` and `moving_variance`. Currently horovod does not support synchronization of these two parameters, saving model under horovod context works perfectly (as fast as expected). So I tried to add a monkey-patch to change attribute `aggregation` from `VariableAggregation.MEAN` to `VariableAggregation.O

[2019-09-19 11:52] gadagashwini commented on #32618
I tried on colab it kept running for long time. Please see the colab [gist](https://colab.sandbox.google.com/gist/gadagashwini/a3a781843e4182513151e73121d0d307/tf-keras-generator-issue.ipynb). Thanks!

[2019-09-19 12:00] gadagashwini commented on #32583
@lovejing0306,
Did yo go through the custom training in [Tensorflow website](https://www.tensorflow.org/tutorials/eager/custom_training_walkthrough). Thanks!

[2019-09-19 12:00] isaacgerg commented on #32618
@gadagashwini Same happened for me.  Please run it in windows, the error occurs after the first loop.

[2019-09-19 12:02] vmarkovtsev opened #32654 "tf.distribute.MirroredStrategy leads to an infinite polling cycle with 4 GPUs"
### System information
A physical tower with 4 GPUs running Ubuntu 18.04 over Kubernetes

- 256 GB of RAM
- TensorFlow: tested on `tf-nightly-gpu-2.0-preview==2.0.0.dev20190902` to `tf-nightly-gpu-2.0-preview==2.0.0.dev20190918`
- Python 3.6.8
- CUDA 10.0, cuDNN 7.6.3.30 (also tested with cuDNN 7.5.0.56)
- NVIDIA GTX 1080

<details>
<summary>nvidia-smi</summary>
<pre>
+----------------------------

[2019-09-19 12:05] maxx2803 opened #32655 "Unable to load tensorflow model in Java that was originally created in python (file not found exception)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): _Yes_
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): _Windows 10 Version 1903_
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: _/_
- TensorFlow installed from (source or binary): _installed via pip in virtualenv_
- Tens

[2019-09-19 12:37] tensorflowbutler commented on #31328
It has been 29 days with no activity and the `awaiting response` label was assigned. Is this still an issue?

[2019-09-19 12:42] manojrustagi79 commented on #32625
I have already installed CUDA 10.1 Update 2. Can you help me with the steps how can we downgrade to CUDA 10.0.

[2019-09-19 13:06] mschonwe commented on #32017
@rachellim Thank you very much for isolating the cause of the hang!

Can you clarify if the Unimplemented Conv2D errors are still present after applying fix 6274f03?

Specifically does this (Unimplemented issue) still need to get fixed in the T2T code?

[2019-09-19 13:22] fgr1986 opened #32656 "TF2rc Simple model subclass with Gradient tape error when transformed with autograph"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2019-09-19 13:31] rishabhsahrawat commented on #32561
This behaviour is also same in case of TPU strategy.

[2019-09-19 13:31] jvishnuvardhan commented on #32578
I am closing the issue as it was resolved. Please feel free to open it if the issue persists again. Thanks!

[2019-09-19 13:32] Mouradost commented on #30160
Hello guys,
I roll back the cuda version to 10.0 but i still have some issues this is the problem that I'm facing
`ERROR: C:/tensorflow/tensorflow/tensorflow/core/kernels/BUILD:4252:1: C++ compilation of rule '//tensorflow/core/kernels:bincount_op_gpu' failed (Exit 5): python.exe failed: error executing command
  cd C:/users/moura/_bazel_moura/wvk7snnt/execroot/org_tensorflow
  SET CUDA_TOOLKIT_PA

[2019-09-19 13:38] byronyi commented on #32653
@yuefengz @guptapriya mind to take a look? Seems it's an issue on BatchNorm with MirroredStrategy.

[2019-09-19 13:42] rodrigob opened #32657 "Broken link in https://www.tensorflow.org/versions/r2.0/api_docs"
In
https://www.tensorflow.org/versions/r2.0/api_docs
the `Swift (Early Release)`  link points to `https://www.tensorflow.org/versions/r2.0/swift` which shows a 404 page.

[2019-09-19 13:47] noctune commented on #32578
A workaround was presented, but it seems to me like the underlying issue is still not resolved. Shouldn't `sparse_softmax_cross_entropy_with_logits` work with symbolic tensors?

[2019-09-19 13:48] denfromufa commented on #3678
Unified memory in Power9/V100 avoids page faults and page migrations with NVLINK 2.0 connection:

http://on-demand.gputechconf.com/gtc/2018/presentation/s8430-everything-you-need-to-know-about-unified-memory.pdf

[2019-09-19 13:48] jvishnuvardhan commented on #32574
@schoettner Can you describe with little more details on which of the tf.xxx dependencies you are not able to import? Thanks!

[2019-09-19 14:03] hsiaoer commented on #31114
Any update on this? I'm also facing the same issue on 1.14.0

[2019-09-19 14:35] smr97 commented on #32550
This can be reproduced with [this](https://github.com/google-research/bert) repository. You just need to add the hooks for profiling. I have a modified model which is unfortunately proprietary, but this issue is definitely generic, and can be reproduced as above.

[2019-09-19 14:39] qo4on opened #32658 "Why doesn't tf.matmul work with transposed tensor?"
Why doesn't `tf.matmul` work with transposed tensor?

`transpose_b=True` is ok, but not `tf.transpose(inp)`.

This screenshot was made in Colab with `tensorflow-gpu==2.0.0-rc1`:

![image](https://user-images.githubusercontent.com/35609308/65253964-f2bfdd80-db14-11e9-859f-ca6a38498d20.png)

[2019-09-19 14:52] smartcatdog commented on #31255
i find why the errors, sorry for reply delaying.
i compile tensorflow from the source code, however, i compress model on the server which tensorflow version is 1.14 while i serve compressed_model on 1.13....

[2019-09-19 14:53] smartcatdog commented on #31255
i find why the errors, sorry for reply delaying.
i compile tensorflow from the source code, however, i compress model on the server which tensorflow version is 1.14 while i serve compressed_model on 1.13....

[2019-09-19 14:56] manojrustagi79 commented on #32625
After following mentioned steps l am able to import the tensorflow successfully. But for small dataset itself I am getting the following error:

ResourceExhaustedError: OOM when allocating tensor with shape[50,8,20,100,100] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
	 [[{{node training_1/Adam/gradients/max_pooling3d_4/MaxPool3D_grad/MaxPool3DGrad}}]]
Hint

[2019-09-19 14:58] #32138 closed

[2019-09-19 14:59] geopapa11 opened #32659 "Potential bug in _compute_sampled_logits when `num_true` > 1"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-19 15:00] bermeitinger-b commented on #32646
This also happens in 2.0.0.rc0.
A "workaround" is not using the class for the optimizer but using the name as string, of course, then you can't adjust the learning rate.

Instead of:
`model.compile(optimizer=keras.optimizers.SGD(), loss='mse')`
you would write:
`model.compile(optimizer='sgd', loss='mse')`

[2019-09-19 15:09] dimitree54 commented on #32138
@jsimsa Ok, thank you. Is the second part (with autograph) fixed already? In which version of tensorflow 2 this fix will be available?

[2019-09-19 15:20] remydubois opened #32660 "Performance of tf.io.read_file in graph mode"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 16.04
- TensorFlow installed from (source or binary): Binary
- TensorFlow version (use command below): 2.0.0rc1
- Python version: 3.6.0
- Bazel version (if compiling from source): NA
- GCC/Compiler version (if

[2019-09-19 15:22] mdanatg commented on #32138
Yes, the autograph workaround just landed, you should be able to try it out in the next nightly, and will be available in 2.1.

[2019-09-19 15:23] yurivict opened #32661 "Documentation about XLA backend is incomplete and inaccurate"
Looking at ```Scenario 3``` in https://github.com/tensorflow/tensorflow/issues/new?labels=type%3Adocs&template=20-documentation-issue.md

It has a link to the class ```StreamExecutor``` but the link leads to the empty class with comments suggesting that it has been removed (?)

[2019-09-19 15:26] idenc commented on #32505
@gadagashwini I think it may only occur on Windows. Running on my Windows 10 machine I get the error if I use a forward slash with the checkpoint directory. However, just removing any slashes and using os.path.join throws no errors. Can be closed.

[2019-09-19 15:26] #32505 closed

[2019-09-19 15:26] sseveran commented on #31894
I am seeing the same thing when using the MirroredStrategy. The model works fine when executing normally. We don't have TimeDistributed Layers. If you want another ticket I am happy to make one but I am probably not going to be able to generate a repro case as the model is quite large.

[2019-09-19 15:26] WindQAQ commented on #32658
Hi @qo4on, it's because you are trying to transpose 3D tensor with `tf.transpose`. The `perm` argument defaults to `None` and will transpose the first and last axis only. You have to let `perm=[0, 2, 1]` so that the shape is compatible with batch matrix multiplication.

The workable example is here:
https://colab.research.google.com/drive/1JMEpncNz23mQ4EHOj1QUak27sH1Iw-lg

[2019-09-19 15:28] mdanatg commented on #32138
In the mean time, the following workaround might work as well: `for sample in iter(dataset)`. Writing it in that way uses different placement rules, for subtle reasons.

[2019-09-19 15:30] qo4on commented on #32658
Hi, WindQAQ. Thank you.

[2019-09-19 15:37] mihaimaruseac commented on #32574
If you really need TF1.x symbols, look into `tf.compat.v1` but note that symbols from there will disappear at one point when we assume that most of our users have switched to using 2.x APIs.

[2019-09-19 15:41] mihaimaruseac commented on #32625
`50 * 8 * 20 * 100 * 100 * sizeof(float) ~= 300MB` Try reducing shape parameters or using block methods. But then this is no longer an issue with TF code, should get asked on StackOverflow instead.

Closing this issue as the original question has been resolved, import succeeds

[2019-09-19 15:41] #32625 closed

[2019-09-19 15:49] currivan opened #32662 "Attention layer not serializable because it takes init args but doesn't implement get_config"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-19 15:50] Quiigi commented on #30995
Thank you for the update!

Trying to replicate your debugging, I wasn't able to find a node called "recurrent_activation" or "sigmoid" in my tensorflow graph.  The closest I see is "Tanh", and its output (Tanh:0) shows the tiny discrepancies at the end.  I see the issue the nodes feeding it directly, "add_5", and idirectly, MatMul_6, BiasAdd_2, MatMul_2.  Notably, the inputs to the latter (Enter a

[2019-09-19 15:51] mihaimaruseac commented on #32640
1.14 comes from the `r1.14` branch, 2.0 from the `r2.0` one so you need to switch branches using `git checkout`.

`--config=v2` just enables 2.0 behavior but the version number stays the same

[2019-09-19 16:01] rodrigob opened #32664 "Broken link in https://www.tensorflow.org/guide/eager#top_of_page"
https://www.tensorflow.org/guide/eager#top_of_page
says
"For a collection of examples running in eager execution, see: tensorflow/contrib/eager/python/examples."

The link to `https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/eager/python/examples` returns a 404 error.

[2019-09-19 16:07] rryan commented on #30574
Fixed in 03ff87b.

[2019-09-19 16:07] #30574 closed

[2019-09-19 16:09] rryan commented on #30602
Tentatively renaming the issue to reflect the discussion. I believe the issue is related to the cuFFT workspace default of 4GB.

[2019-09-19 16:17] rryan commented on #32619
Thanks for the report! This is actually intended behavior. The padding behavior of `tf.signal.stft` can be set via the `pad_end` keyword argument. If you set `pad_end=True`, you'll get a `(1, 120832)` Tensor out, while the default (`pad_end=False`), will truncate the signal to only compute the STFT over full frames and give you `(1, 120320)`. There's no way we can give you the exact size of your i

[2019-09-19 16:17] #32619 closed

[2019-09-19 16:28] Jarvis-onEarth commented on #30256
Had the same issue.
But it seems the delay is happening only in first tf run. Subsequent runs happens pretty quickly.
So, I would run a helloworld immediately after boot, before jumping to my core development!

[2019-09-19 16:29] jvishnuvardhan commented on #31894
@sseveran It would be good if you create another issue with MirroredStrategy. It's even better if you can provide a simple standalone code. Thanks!

[2019-09-19 16:50] #32594 closed

[2019-09-19 16:56] RichardArendsen71 commented on #32235
I tried addons before, but that did not work with the latest TF 2.0 version. Now, I tried it again and it works, also with AutoGraph. So, I can do now what I needed. Thanks.

[2019-09-19 16:57] mihaimaruseac commented on #30348
Assigning @jdduke in this case

[2019-09-19 17:01] ymodak commented on #32658
Closing this issue since its resolved. Thanks!

[2019-09-19 17:01] #32658 closed

[2019-09-19 17:04] onlyanegg commented on #25828
I can handle this. I can also do the deserialize function. Do we need a separate issue / pr for that?

[2019-09-19 17:08] schoettner commented on #32574
@jvishnuvardhan i am working on it at the moment. Since most of the code broke after the migration (i am not used to eager mode) it takes some time to fix it. I am not sure why, but my IDE also does not support tf imports as it used to. When I worked through all the issues I am happy to provide the full list.

[2019-09-19 17:14] mihaimaruseac commented on #32574
There is a converter to automatically change your code to TF2.0.

[2019-09-19 17:15] fo40225 commented on #32627
https://github.com/fo40225/tensorflow-windows-wheel/blob/master/1.10.0/py27/CPU/sse2/tensorflow-1.10.0-cp27-cp27m-win32.whl

[2019-09-19 17:17] jvishnuvardhan commented on #32618
@isaacgerg This is a big model with almost ~2 million parameters to optimize, 62 steps per training epoch and 9999 total epochs. I reduced number of epochs and the code is running without any error but loss was `nan`.

I would suggested run for couple of 1 or 2 iterations on GPU, then save weights and make the model as `trainable = False` , then work on the code. There might be some coding issue w

[2019-09-19 17:22] james-chuang commented on #32561
Additionally, if using less than two GPUs, then optimizer weights are only loaded if `load_weights` is called _outside_ of `strategy.scope()`. This seems undesired, since the structure of the code needed to load identical model weights differs based on hardware configuration.

[2019-09-19 17:47] ghannum commented on #32398
create_model.py
[code]
load_model.py
[code]

Here are two scripts which will reproduce the issue. The first creates a simple keras model and saves it to .h5 format. The second loads the model and prints a validation measure. If you run the first in TF1.13, the second will fail in TF1.15. This is only a problem with the BatchNormalization renorm option set to True.

[2019-09-19 17:51] jdduke commented on #30348
Apologies for any confusion, we are no longer releasing TensorFlow Mobile Android artifacts on Maven. This can still be built from source, but it will not be part of the official release. TensorFlow Lite Maven artifacts for Android are available at the [usual link](https://mvnrepository.com/artifact/org.tensorflow/tensorflow-lite?repo=bt-google-tensorflow). Standard (desktop) TensorFlow artifacts

[2019-09-19 17:51] #30348 closed

[2019-09-19 17:54] mengxr opened #32666 "cloudpickle cannot unpickle tf.keras in 1.14: KeyError: 'tensorflow.keras'"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2019-09-19 18:18] k-w-w commented on #29545
Calling `model.save('custom_model.h5py')` still saves out in the SavedModel format, even though the extension says `.h5py` (so it's not actually using `h5py`).

[2019-09-19 18:21] ymodak commented on #32646
Changing your imports can help resolve this issue.
[code]
output:
[code]

[2019-09-19 18:22] bharatnishant commented on #25794
Is this issue still open as it still has an open status?

[2019-09-19 18:23] gowthamkpr commented on #32662
Was able to reproduce the issue. Please find the github gist [here](https://colab.sandbox.google.com/gist/gowthamkpr/d79de99944192c0f8195b975718809b5/untitled147.ipynb). In the mean while, I was able to save the weights and load them. You can find it in the gist above.

[2019-09-19 18:27] danmoller commented on #29063
I'm almost completely giving up tf.keras.... Can't make a single model work. Original Keras didn't have such issues.

[2019-09-19 18:32] Ryandry1st commented on #29545
That is fine, however, that does not solve the actual issue. The issue is that there is no error or warning if this method is used to save the model, even though it explicitly states that you should not be able to save a subclassed models, yet it clearly allows it if you change the saved model extension to be ".h5py". So regardless of what is occurring in the background, there is a problem that su

[2019-09-19 18:36] Ryandry1st commented on #29545
This problem has not been solved in rc0, and should be reopened.

[2019-09-19 18:46] danmoller commented on #29063
@tommydino93 , Although the message is completely unrelated (strigs, int64, etc), I solved this by inspecting my input data and noticing they were of different types. Some inputs were float64, some were float32. Besides fixing this differente I also set the `dtype` arguments (not sure if necessary) and `tf.keras.backend.set_floatx(...)` to the type I was using.

[2019-09-19 19:18] asmitapoddar commented on #25828
I have updated the entire activations doc including the functions `get`, `serialize`, `deserialize`, `linear` etc. and created a pull request.

[2019-09-19 19:20] isaacgerg commented on #32618
@jvishnuvardhan Can you reopen this?  The code producing the error is on colab but it happens in the windows enviroment.  You have to change your colab environment to run under winows (is that even possible?)

The Nan's arent the issue and are expected as I trimmed down my code to the minimal form to reporduce the error.  The problem is when you run in windows, i get the following error:

[code]

[2019-09-19 20:14] mihaimaruseac commented on #32666
Duplicate of #32159. There is a workaround there and justification for why we have this at the moment.

[2019-09-19 20:14] #32666 closed

[2019-09-19 20:15] KonstantinaLazaridou commented on #21832
Thank you very much @agostini01 . I actually have all versions aligned correctly. The only thing that actually worked out is the second answer here: https://stackoverflow.com/questions/41402409/tensorflow-doesnt-seem-to-see-my-gpu
I uninstalled tensorflow and reinstalled tensorflow-gpu. Apparently they don't go well together?
Now Python sees my GPUs and when I do `watch-smi` I can see my job using

[2019-09-19 20:16] k-w-w commented on #29545
I would like to get a better understanding of the issue is.

Perhaps docstring for the save_format is unclear? Currently, it says:

[code]

[2019-09-19 20:20] k-w-w commented on #29545
The NotImplementedError error from an earlier post above states that HDF5 cannot save out subclassed models. The SavedModel format is able to handle these models, so you should not get an error.

[2019-09-19 20:26] alanhdu commented on #32553
I believe this is closed by 3402d711846

[2019-09-19 20:29] mengxr commented on #32666
@mihaimaruseac The issue reported in #32159 does not happen on 1.14. Use TensorFlow with Spark for distributed batch inference is a very common use case. I don't quite understand your comment at https://github.com/tensorflow/tensorflow/issues/32159#issuecomment-528044061. It seems the `DeprecationWrapper` can detect if the module name exists in `sys.modules` and dynamically load it if not athttps:

[2019-09-19 20:32] Ryandry1st commented on #29545
I see, so the SavedModel format is able to handle these models. I believe this should be documented then in the warning, as the warning seems to suggest that there is not a clear method for saving these models outside of saving the weights independently from the model, which is obviously more complicated and prone to error

[2019-09-19 20:36] k-w-w commented on #29545
Specifying that the SavedModel format is able to handle custom models sounds reasonable and would remove the ambiguity. I'll add that to the warning message. Thanks for the suggestion!

[2019-09-19 20:39] Ryandry1st commented on #29545
Thank you for clearing that, appreciate it!

[2019-09-19 20:43] aaroey commented on #30256
@gunan could you help to find someone familiar with windows GPU build to help with the problem?

[2019-09-19 20:46] agostini01 commented on #21832
@KonstantinaLazaridou no problems. I believe your suggested link is for when you are installing cuda system wide.

This line: `conda create -n gpu tensorflow-gpu==1.9.0 jupyter cudatoolkit==XX` should work as long as you match the anaconda tensorflow-gpu version with the correct anaconda cudatoolkit (XX) and "system-wide installed" cuda driver. Unfortunately I dont remember what to use for the `XX

[2019-09-19 20:53] aaroey commented on #32170
@reedwm could you help to take a look? Thanks.

[2019-09-19 21:02] currivan opened #32672 "A keras model containing a tf.tile op layer with a tensor in the `multiples` arg fails when saving to hdf5"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-09-19 21:18] aaroey commented on #32489
@cyrus2018 could you share the printed log messages when you run `tf.test.gpu_device_name()`?

[2019-09-19 21:19] aaroey commented on #32489
Also could you try with TF 1.15.0rc1?

[2019-09-19 21:21] gowthamkpr commented on #32614
@morgangiraud You can take a look at this [issue](https://github.com/tensorflow/tensorflow/issues/6082) and it should help you resolve your problem.

[2019-09-19 21:41] Misterio0 commented on #16768
can someone please explain why i get this error with an nvidea rtx 2070super and not with nvidia gtx 1050ti  with the same code and same parameters?

 (0) Resource exhausted: OOM when allocating tensor with shape[64,58,28,28] and type float on /job:localhost/replica:0/task:0/device:GPU:0 by allocator GPU_0_bfc
	 [[{{node batch_normalization_47/FusedBatchNorm}}]]
Hint: If you want to see a list of

[2019-09-19 22:00] gunan commented on #30256
@chsigg This is probably a CUDA compute  capability we have not built TF binary with.

[2019-09-19 22:01] gunan commented on #30256
If you are installing using conda, we should escalate to @jjhelmus

[2019-09-19 22:06] bqm opened #32674 "Tensorflow Java API and @tf.function signatures"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes.
- OS Plat

[2019-09-19 22:12] ymodak commented on #25876
You can try other loss reduction types such as https://www.tensorflow.org/api_docs/python/tf/losses/Reduction
Thanks!

[2019-09-19 22:12] #25876 closed

[2019-09-19 22:22] djdeepak88 commented on #16768
Reduce the size of image

On Thu, 19 Sep, 2019, 10:48 PM Misterio0, <notifications@github.com> wrote:

[2019-09-19 22:25] rchao commented on #32549
@shanshanpt, thanks for the question. If you're using Estimator, you can specify the hooks to run on workers in the `tf.estimator.EstimatorSpec` object you construct to return from your `model_fn`. If you're using `tf.compat.v1.train.MonitoredTrainingSession`, you can directory pass in the hooks. Hopefully this helps.

[2019-09-19 22:25] #32549 closed

[2019-09-19 22:32] ymodak commented on #32294
Are you using LSTM's in your model? Also what version of TF are you using? Thanks!

[2019-09-19 22:46] Enumaris opened #32675 "Equivalent of Torch EmbeddingBag"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 1.14
- Are you willing to contribute it (Yes/No): No

**De

[2019-09-19 23:06] #32646 closed

[2019-09-19 23:21] #30431 closed

[2019-09-19 23:36] alexzruiz commented on #32627
When im try to install says error:

Collecting tensorflow==2.0.0rc0 (from -r requirements.txt (line 3))
  Could not find a version that satisfies the requirement tensorflow==2.0.0rc0 (from -r requirements.txt (line 3)) (from versions: )
No matching distribution found for tensorflow==2.0.0rc0 (from -r requirements.txt (line 3))

What happen?

[2019-09-19 23:59] cyrus2018 commented on #32489
The thing is my TF works and recognises with 1 GPU (GPU 0) it can either be the RTX1070 or GTX1050 (both workwith no issue). so single GPU no problem, GPU 1 never recognised.
![2](https://user-images.githubusercontent.com/45702408/65289208-647f4200-db7c-11e9-93f3-b96b8ccc1c65.JPG)

[2019-09-20 00:16] cyrus2018 commented on #32489
![3](https://user-images.githubusercontent.com/45702408/65289838-fb4cfe00-db7e-11e9-8a0a-d66137f55c1c.JPG)

[2019-09-20 00:33] MarkDaoust commented on #25828
@asmitapoddar, I'll go review that for you.

[2019-09-20 00:49] yurivict opened #32677 "gcc: error: unrecognized command line option '-std=c++14'"
I'm trying to build on CentOS, but it fails:
[code]

Why is the C++ option ```-std=c++14``` passed to gcc?

rev.e627965
gcc-9.2.0
CentOS 7.6.1810

[2019-09-20 00:55] bionicles commented on #32477
bump, also have this issue. code works with instance norm from TFA but fails with batch norm, using tf.function and functional API...

[2019-09-20 01:23] xichuanhit opened #32678 "tensorflow 2.0.0b0 ImportError: cannot import name 'Layer'"
When I import the tensorflow, it has show the following errors :
(tensorflow 2.0.0b0)

How to deal with it ? Should I pip the tensorflow 2.0 agnain ?

[2019-09-20 01:34] foolhard opened #32679 "MobileNet_V3: will you implement it in tensorflow?"

[2019-09-20 01:37] wangyunxiaa commented on #32458
@gadagashwini , Hi,
The model and test code  in https://pan.baidu.com/s/1Q67Fvg8rlZappzjqIni_Ag

[2019-09-20 01:45] eraserpencil commented on #32517
I tried with r1.11 and r1.14 and it builds.

[2019-09-20 02:11] yunabe commented on #32588
I noticed the section about Tensorboard and summary was deleted in `master` branch by [this commit](https://github.com/tensorflow/docs/commit/b1658ccbdd86e19251c5fd58ce962e78437e95ff#diff-32b6b3f97f424a88c5360b84619e5257).

Does this means we will not explain about tf.summary in eager.md after TF2 launch?

[2019-09-20 02:24] KANGRuipeng commented on #32601
@ravikyram the distribution strategy tutorials only tell use how to use the strategy rather than how to optimize our distributed task

[2019-09-20 02:29] KANGRuipeng commented on #32575
@jvishnuvardhan From TF2.0.0RC0，TensorFlow 2.0.0 is built using GCC7, however, you didn't say this in TF2.0.0RC0's  release notes.(You metioned this in TF2.0.0RC1's release notes) .

[2019-09-20 02:35] payne4handsome commented on #32546
@oanush  sorry, I made a mistake. I got errors from below code. I annotate a function with @tf.function that will be compiled into a graph.
[code]
I got errors like I explained above

[2019-09-20 02:40] Checkmate986212 commented on #32524
Thank you

Thank you very much, I changed to TF 1.10, and it works

Well, I was really confused about the problem that it is called 'unicode error'

[2019-09-20 02:40] #32524 closed

[2019-09-20 03:04] oanush commented on #32594
Closing since the issue is resolved.Thanks!

[2019-09-20 03:25] t-kalinowski opened #32680 "autograph=False not respected when calling get_concrete_function()"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): reproduced on Ubuntu 18.04 and MacOS 10.14
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 1.14.0  v1.14.0-rc1-22-gaf24dc91b5
- Python version: 2.7.16

**Describe the