[2021-07-12 12:38] tilakrayal commented on #50705
@jvishnuvardhan ,
I was able to reproduce the issue in tf [v2.4](https://colab.research.google.com/gist/tilakrayal/7ab322cbb7d7dd770b165ed1af3ebdd1/2-4latency_of_loading_saved_model.ipynb),[v2.5](https://colab.research.google.com/gist/tilakrayal/bfe2a0d3d9eeacfde723419c7ae67c7d/2-5latency_of_loading_saved_model.ipynb) and nightly.Please find the gist here.

[2021-07-12 13:04] wangtz commented on #35070
FYI TFLite micro has an API to show the exact arena size after initialization, just in case it's helpful for you.

https://github.com/tensorflow/tflite-micro/blob/2791785562d660f328c54055bb4ab2df56a37f4a/tensorflow/lite/micro/micro_interpreter.h#L127

[2021-07-12 13:09] philippeller commented on #39857
Hi, looks to me as this is still the same issue in tf 2.5:
[code]

[2021-07-12 13:13] UsharaniPagadala commented on #50688
@brittle123

Could you please post the issue in [discuss.Tensorflow](https://discuss.tensorflow.org/).Thanks

[2021-07-12 13:18] charlesjohannisen commented on #9436
@mirwisek, or anyone else on this thread, which parts of tensorflow do you intend to use? There might be a docker container available for your use case. My original interest in tensorflow was syntaxnet, for which I found and subsequently forked a more user friendly version of the syntaxnet container. Point is, the containers are much more reliable than building and running the source.

[2021-07-12 13:30] tilakrayal commented on #50710
@chethanjjj ,

I ran the code shared and face a different error, please find the [gist](https://colab.research.google.com/gist/tilakrayal/4fe74ef9ad6fb5d7efa8b43e8da045fc/untitled50710.ipynb) here and share all dependencies to replicate the issue or share a colab gist with the reported error.Also, please let us know the tensorflow version you are using.Thanks!

[2021-07-12 13:34] #11816 closed

[2021-07-12 13:36] nectario opened #50735 "CUDA_ERROR_ILLEGAL_ADDRESS: an illegal memory access was encountered."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**This is an urgent issue! It has caused a production problem!**

**System information**
- Have I written custom code (as opposed to us

[2021-07-12 13:51] sachinprasadhs commented on #33840
@aakash30jan, There was some mistake, reopened the issue.

[2021-07-12 14:15] suraj-maniyar commented on #42277
@multiverse-tf @dev0x13

So I get this error message on running my code:
[code]

But I still see a speed-up in my inference time and the output does not change.
Does this mean that **some** operations from my model were not delegated and hence defaulted back to the original definition in TFLite?
Should I be worried about this log message?
Also, is there a way to suppress this log message?

Thanks.

[2021-07-12 14:18] tilakrayal commented on #50718
@JesseLT ,

Can you please reduce the number of epochs and try to execute the code in new environment and let us know if you are facing same issue?Thanks!

[2021-07-12 14:47] SianoP opened #50737 "tfa.activations.snake - wrong function in docs"
## URL(s) with the issue:

https://www.tensorflow.org/addons/api_docs/python/tfa/activations/snake

## Description of issue (what needs changing):

The computed function in the source code is:

x + (1 - cos(2*frequency*x)) / (2*frequency)

but the function in the docs is:

(x + (1 - cos(2*frequency*x))) / (2*frequency)

[2021-07-12 14:50] ShikharJ opened #50738 "Explanation for GetInvSqrtQuantizedMultiplierExp()?"
Hey everyone,

I was looking at the L2 Normalization routine for TFLite, and noticed the use of `GetInvSqrtQuantizedMultiplierExp` function [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/kernels/internal/common.h#L642). While I understand the high level goal of this routine is to find a multiplier which acts as 1 / sqrt(sum_of_squared_inputs) normalizing factor, I'm ha

[2021-07-12 15:02] tilakrayal commented on #50727
@Saduf2019 ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/88a77af10d777c8263540f515001476f/untitled50727.ipynb).

[2021-07-12 15:14] Bharathi-A-7 opened #50739 "Getting Embeddings from sequence of one-hot vectors"
TF version : 2.5

Data : Lists of sequences, some of which may contain nested sequences.(As in the example below)

I have input sequences that contain not just single elements, but also lists.

Eg : i1 = [2, 5, 10, [1, 7 ,9 , 20], 11, 32].

If it were just a sequence like [2,4,6,7] that does not contain a nested sequence, I would just directly pass them to the embedding layer.

But, in my case, th

[2021-07-12 15:34] #50378 closed

[2021-07-12 15:39] brendano257 commented on #36465
@Avelina9X

I am not seeing similar results with an RTX 3060 on Manjaro (Nvidia 465.31 and CUDA 11.3). I've wrapped all code in a main function, and have not been able to get TF to release any vram after the function runs, even with:

`
if __name__ == '__main__':
    main()
    tf.keras.backend.clear_session()
    del tf
    gc.collect()

    # try to do something else with GPU
`

Subsequent uses

[2021-07-12 15:48] Saduf2019 commented on #50727
@catskillsresearch
Can you please refer to [this comment](https://github.com/tensorflow/tensorflow/issues/26922#issuecomment-498812923) and let us know if it helps.

[2021-07-12 15:48] jdduke commented on #40313
I'll let @srjoglekar246 and @multiverse-tf provide an update.

[2021-07-12 15:51] Saduf2019 commented on #26349
This issue was reported in 2.0 and moved to keras now this issue does not exist, the above comment is deprecated hence moving this to closed status. Please create this is keras repo in case of any queries.

[2021-07-12 15:51] #26349 closed

[2021-07-12 15:56] chethanjjj commented on #50710
Got you. I fixed it by adding the dependencies, addressing any remaining errors, and indicating the dependency versions in the first paragraph.

[2021-07-12 16:05] rakshith291 commented on #50474
@Saduf2019
Use case : In case of dealing image patches as tokens in vision transformer it's quite helpful to have a hard attention where a given patch may have higher attention score with adjacent patch rather than all patches, hence hard attention could be quite useful

[2021-07-12 16:10] kurudinesh opened #50740 "Dataset.as_numpy_iterator() throws error inside tensorflow.numpy_function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 and Google Colab
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command bel

[2021-07-12 16:11] jdduke commented on #20905
The overhead of calls to the shared library should be minimal relative to the cost of running inference (i.e., any marginal overhead in non-inlined calls will be dominated by the cost of executing the model), so I don't think you'd see any observable performance impact between static or shared library usage of TensorFlow Lite (unless you were to use different compiler optimization flags in your li

[2021-07-12 16:19] loic-ehrhardt opened #50741 "KerasTensors do not support tf.custom_gradient()"
**System information**
- Have I written custom code: Yes
- OS Platform and Distribution: Red Hat Enterprise Linux release 8.2 (Ootpa)
- TensorFlow installed from (source or binary): binary (pip)
- TensorFlow version: v1.12.1-59375-ga5317d67e6c 2.6.0-rc0
- Python version: 3.6.8

**Describe the current behavior**
`tf.KerasTensor` cannot be used with `tf.custom_gradient()`. Trying to do so results in

[2021-07-12 16:28] TechnikEmpire commented on #20905
I appreciate that the cost is negligible compared to the cost of inference. My point is that it's an unnecessary cost regardless.

[2021-07-12 16:34] #26297 closed

[2021-07-12 16:34] #35031 closed

[2021-07-12 16:34] #36304 closed

[2021-07-12 16:34] #37048 closed

[2021-07-12 16:36] andreselizondo-adestech commented on #48557
@AdityaKane2001 Would it be possible to support `causal` padding?
This is something I need for a streaming model.

[2021-07-12 16:40] AdityaKane2001 commented on #48557
@andreselizondo-adestech
Sorry, but I wasn't the one who contributed this code. Nor am I aware of its internal working. Please open an issue in keras-team/keras for this.

[2021-07-12 16:58] ymodak commented on #50686
Perhaps you want to post this issue on https://github.com/intel/lpot or https://github.com/Intel-tensorflow/tensorflow repositories for better assistance.
On a side note: TensorFlow has its own [TFMOT](https://www.tensorflow.org/model_optimization/api_docs/python/tfmot) library for quantization related tooling.

[2021-07-12 17:23] bhack commented on #48557
I'have any permission on this repository. @mihaimaruseac can you close this?

[2021-07-12 17:34] #50395 closed

[2021-07-12 17:34] #36724 closed

[2021-07-12 17:53] srjoglekar246 commented on #49835
We have [GpuDelegateTest](https://github.com/tensorflow/tensorflow/blob/5dcfc51118817f27fad5246812d83e5dccdc5f72/tensorflow/lite/java/src/test/java/org/tensorflow/lite/gpu/GpuDelegateTest.java#L73) that unit-tests this behavior in our internal tooling, so I am surprised that you don't see the GPU delegate being enabled by default :-/. (Note that the test looks at the ops in the TFLite Interpreter

[2021-07-12 18:19] angerson commented on #50720
Thanks for the report. Git is missing intentionally, since `devel` and `latest`/`2.5.0` do different things. If you want to contribute to TensorFlow, use `devel`. You can read more here: https://hub.docker.com/r/tensorflow/tensorflow.

[2021-07-12 18:19] #50720 closed

[2021-07-12 18:32] catskillsresearch commented on #50727
@Saduf2019 I know I can fix the problem for my purposes by not passing a tensor slice which has a 0-d axis.

However it remains that TF is coredumping in that case, which is reproducible.  Coredump is never a good way to raise an exception.  There should be some checking somewhere in the process so that if it is likely to coredump on a tensor with a 0-d axis, then it raises an exception instead.

[2021-07-12 18:37] michaeljbishop commented on #20905
Another use case is creating one's own shared library which embeds tensowflow inside.

[2021-07-12 19:09] priyanksharma7 commented on #6341
I can confirm that removing `__init__.py ` does work! I am working on Jetson Nano with the latest JetPack 4.5.1 and installed Tensorflow 2.5.0 and protobuf 3.17.3. In my case, I use a virtual environment called `cv` so I ran the following commands:
cd ~/cv/lib/python3.6/site-packages/protobuf-3.17.3-py3.6-linux-aarch64.egg/google/
rm `__init__.py`

[2021-07-12 19:18] UsharaniPagadala commented on #50706
@peri044

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-12 19:33] UsharaniPagadala commented on #50711
@Colin-Guolin

Could you please refer [this](https://github.com/tensorflow/tensorflow/pull/33229), and let us know if it helps.Thanks

[2021-07-12 20:48] ymodak commented on #50452
I am having a difficulty in understanding your query here. Can you please elaborate further, perhaps using screenshots to visualize better? Thanks!

[2021-07-12 20:58] kaczmarj commented on #46563
After testing various tensorflow versions, it looks like the buggy behavior was introduced between tensorflow version 2.3.2 (which does not have the bug) and version 2.4.0 (which does have the bug).

[2021-07-12 21:01] ymodak commented on #49379
A closer look at the usage example and their args documentation should help to spot the difference between the two functions.
[`y_true` arg takes `one hot encoded` values vs `ground truth` values for sparse]
Thanks!

[2021-07-12 21:26] lgeiger commented on #49140
@cheshire I saw the change to add a int8xint8->int32 GEMM landed some time ago. Do you have any plans to expose this to users in order to support int8xint8->int32 XLA convolutions as well?

[2021-07-12 21:26] AdamMiltonBarker commented on #50725
Thank you for updating the issue. I thought I would mention if I only use dynamic range quantization the optimization completes.

[2021-07-12 21:30] cheshire commented on #49140
It should be exposed, does it work if you do the calculation with int8 type and put it under jit_compile=True?

[2021-07-12 21:34] #50494 closed

[2021-07-12 22:30] ymodak commented on #50725
@AdamMiltonBarker I tried https://www.tensorflow.org/lite/performance/post_training_integer_quant tutorial by adding
`tf.keras.layers.ZeroPadding2D(padding=(2, 2)),` in the sequential model architecture.
I see that full integer quantization is successful.
Perhaps you may want to refer this tutorial and your example to potentially spot the error prone area.
Thanks!

[2021-07-12 22:38] AdamMiltonBarker commented on #50725
Hi thanks, could you suggest what you think it is we have been using this model for at least a year it is part of multiple projects the only issue is with optimizer.  Model structure is provided above.

[2021-07-12 22:45] MeghnaNatraj commented on #50667
It looks like the ops are not supported in TensorFlow as well. You need to follow the steps as given [here](https://www.tensorflow.org/lite/convert#other_features) in `2. Unsupported in TensorFlow`

[2021-07-12 22:46] lgeiger commented on #49140
Thanks for the fast reply!

I tried it via JAX and it doesn't seem to work on GPU yet:
[code]
[code]
and similar without setting `preferred_element_type`.
[code]
[code]

This might be a JAX issue though in which case, I'd be happy to move the discussion to the JAX repo, but the error gets thrown from the TensorFlow XLA code, so I thought this might be the right place.

From TF directly this seems

[2021-07-13 00:03] aaudiber commented on #50542
Hi @TerenceHernandez, these are great questions! I have added my responses inline.

I would just tweak the above to say the dataset is distributed across the Workers based on the **processing mode**

Workers buffer a number of batches asynchronously so that the data is ready as soon as it is requested.

The `register_dataset`/`from_dataset_id` lets you create a dataset once, register it, then cons

[2021-07-13 01:56] DavidFromMerlin commented on #43947
Thanks @JiazhengChai, that worked for me too. Here's the specific command to install the newer cuda and cudnn libraries that avoided this issue for me:
sudo apt-get install --no-install-recommends cuda-11-3 libcudnn8=8.2.1.32-1+cuda11.3 libcudnn8-dev=8.2.1.32-1+cuda11.3

[2021-07-13 01:58] wwwwcu commented on #50687
The input with input size (NCHW), filter (FCHW), I've checked [Linalg Dialect - MLIR](https://mlir.llvm.org/docs/Dialects/Linalg/#linalg), [linalg.conv_2d_input_nchw_filter_hwcf](https://mlir.llvm.org/docs/Dialects/Linalg/#linalgconv_2d_input_nchw_filter_hwcf-mlirlinalgconvinputnchwfilterhwcfop) supports NCHW input, but the filter should be HWCF, also it doesn't support padding according to the de

[2021-07-13 02:49] MisRight opened #50744 "C++ compile tensorflow"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-13 02:50] MisRight commented on #50744
C:\users\administrator\_bazel_administrator\nkxc6ocj\execroot\org_tensorflow\tensorflow\compiler\xla\literal.cc(1392) : error C4716: “xla::anonymous namespace'::BitcastBetweenNativeTypesEigen::bfloat16,double”: 必须返回一个值

[2021-07-13 02:59] AdamMiltonBarker commented on #50725
Hi @ymodak ok I see now that it is expecting 4d, the missing reshape is the problem :) At least I think so, retraining now :)

[2021-07-13 03:02] AdamMiltonBarker commented on #50725
@ymodak ok I see now I was wrong in my understanding of the error, it is expecting 4D,  the issue is no reshape I believe, retraining now :)

[2021-07-13 03:33] sushreebarsa commented on #37401
@pushkalkatara Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-13 03:38] joker-eph commented on #50687
@hanhanW : wanna chime in here?

[2021-07-13 03:41] sushreebarsa commented on #46910
I ran the code shared on tf-nightly, colab crashes. please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/bf4216da6dc1467fbf5227bb63ac5878/untitled520.ipynb#scrollTo=gBvtr8o68x53)

[2021-07-13 03:44] wwwwcu commented on #50687
Ok, if it is convenient for you.

[2021-07-13 03:59] AdamMiltonBarker commented on #50725
Hi @ymodak no sorry not getting there, this architecture is the architecture I intended to use, it is based on a research paper and the model is in use in a number of the our projects, the only issue is here. The goal was to use our architecture on an Arduino board.

I have also replicated adding zero padding to the tutorial model, but that is a different network.

Our expected architecture::

___

[2021-07-13 04:01] akkshay0107 commented on #30999
@dmagee did u find any solutions to this problem ? it still occurs while building r2.5 from source

[2021-07-13 04:12] worldpeaceaspirer commented on #49379
@ymodak,
Instead of taking a closer look at the code, a line of description highlighting the difference would make it more obvious and clear.

[2021-07-13 04:21] AdamMiltonBarker commented on #50725
OK I got it working at least on one epoch, so the issue was the images were not from tensors, so I converted the images to tensors then ran the conversion, doing a full train now, hopefully this will now run on the BLE Sense :)

[2021-07-13 04:34] #50398 closed

[2021-07-13 04:35] AdamMiltonBarker commented on #50725
OK I got it working at least on one epoch, so the issue was the images needed to be converted to an numpy array before passing them to tf.data.Dataset.from_tensor_slices, doing a full train now, hopefully this will now soon be running on the BLE Sense :)

[2021-07-13 04:39] #50688 closed

[2021-07-13 05:44] tilakrayal commented on #50739
@Bharathi-A-7 ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue [tf version,nature of your data].Thanks!

[2021-07-13 05:48] fischeru commented on #50392
@RemiLacroix-IDRIS: strange, for me this runs just fine with tensorflow 2.5. can this be a difference between tensorflow and tensorflow-gpu? I didn't know that tensorflow-gpu still exists as a separate package.

[2021-07-13 06:27] RemiLacroix-IDRIS commented on #50392
@fischeru: `tensorflow-gpu` is just the name of the Conda env here but it's the regular TensorFlow package.

Anyway turns out the issue is probably different as it happens only for our own builds, see #50628.

[2021-07-13 06:31] buddhapuneeth commented on #40345
@sushreebarsa are you able to reproduce?
I am worried as bot marked this stall.

[2021-07-13 06:45] Adgoswa opened #50745 "Unable to use Keras data generator with Functional API model"
Here is my data generator class:
class DataGenerator(tensorflow.keras.utils.Sequence):
    'Generates data for Keras'
    def __init__(self, list_IDs, image_path, label_path,
                 to_fit=True, batch_size=16, dim=(160, 160),
                 n_channels=4, n_classes=4, shuffle=True):
        """Initialization
        :param list_IDs: list of all 'label' ids to use in the generator

[2021-07-13 06:46] yanzhang-dev commented on #50607
Hi @UsharaniPagadala

The test case you provided is parsing the meta data like shape, dtype of Tensor.
Yes, we can create a TF_VARIANT Tensor and get these meta data, too.

But if we want to get the elements of Tensor, for example,

1. If the tensor's elements are `TF_FLOAT`, we can parse the raw buffer like [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/c/c_api_test.cc#L16

[2021-07-13 06:47] tilakrayal commented on #50731
@ItsMeTheBee ,

I ran the code shared and face a different error, please find the gist [here](https://colab.research.google.com/gist/tilakrayal/ae5862d7e1811ccecfe41873da8dd0bb/untitled50731.ipynb) and share all dependencies to replicate the issue or share a colab gist with the reported error.

[2021-07-13 06:54] paweller commented on #7856
Worked perfectly for me.
- Windows 10
- Intel Core i9-7920X
- 2x NVIDIA GeForce RTX 2080 Ti
- TensorFlow 2.4.1

[2021-07-13 07:17] tilakrayal commented on #50735
@nectario ,

 Can you please try installing TensorFlow v2.5 with CUDA 11.2 and cuDNN 8.1 and check if you are facing the same error.For more information please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu). Thanks!

[2021-07-13 07:21] tilakrayal commented on #50666
@aucth ,

Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-13 07:26] SysuJayce commented on #46385
@apivovarov Hi, thanks for the reply.

So if we use `load_model()` in tf2.5, the states of optimizer will be restored automatically.
However, we need to use `custom_objects` in tf2.4 if we have used some custom layers.

And if we want to deploy the saved model in tf2.5, we can simply delete the `keras_metadata.pb` to reduce the file size, and everything will remain the same as tf2.4.

Please corre

[2021-07-13 07:33] NoneLand commented on #533
It cost me one day to figure out that if you want to use gpu resize_images on tf1.13 you should pass tf.float32 images totf.image.resize_images. If you use uint8, it would on CPU due to lack of uin8 kernel.

[2021-07-13 07:52] Bharathi-A-7 commented on #50739
@tilakrayal I have updated it. Do you need any more info ? Thanks

[2021-07-13 08:06] s4sarath commented on #46776
The error is till there

[2021-07-13 08:41] NicoHambauer commented on #47554
Same Issue, even spikes in loss can be seen, side by side with the warnings.. (Using tf 2.5.0). I think I just got rid of the warning by switching off pruning in hyperparameter optimization, but it might be a coincidence.

[2021-07-13 08:45] Saduf2019 commented on #50739
@Bharathi-A-7
Can you clarify if your data is text audio, what does the  nested list represent.

[2021-07-13 08:49] Svdvoort commented on #39985
@sushreebarsa I cannot reproduce the original results anymore, as the `TF_CPP_VMODULE=logger=2` option doesn't seem to work anymore. It doesn't give the logs for the use of the tensor cores, has this been updated in tf 2.5 perhaps?

I did reproduce the table from @razorx89 and that seems to suggests the issue is fixed:

| image_size   |   filters | data_format   |   avg_time_fp32_ms |   avg_time_f

[2021-07-13 09:02] ghylander commented on #50647
i usppose i'll close it as it seems to be a duplicate then

[2021-07-13 09:02] #50647 closed

[2021-07-13 09:02] ghylander commented on #50324
So why does the warning come up? Is it a bug or intentional?

[2021-07-13 09:12] SaadTazroute commented on #43947
Issue resolved .. Symbolic link remains a temporary solution for the problem, and that solved my problem, but the optimal way to do it is to change your LD_LIBRARY_PATH in your environment variable.

[2021-07-13 09:28] yeshenyong opened #50746 "In distributed training, different workers get different results from the information"
In distributed training.
The savedmodel model saved by the estimator.
Is it different to save in different workers?
However, I have different results in different savedmodels of different workers for C + + online inference
![43701B~1](https://user-images.githubusercontent.com/52573793/125428034-a7ef27b7-9123-4455-89fa-4ab1ae32ffc6.PNG)

[2021-07-13 09:33] farotem commented on #41325
@rmothukuru
sorry for the late delay but it looks like it didn't improved with tensorflow 2.5.
the gist mechanism changed a bit.
when running the gist for the 1st time the performance issue occurs.
when calling **run cell** again with the same inputs shapes it doesn't.
when calling run cell again with **different inputs shape** (N = 30010 for example) its happening again.
can you please re open it

[2021-07-13 09:34] #50488 closed

[2021-07-13 09:39] Bharathi-A-7 commented on #50739
My data is basically text. I have many ordered sequences of events(like entities representing an event), ordered by their date of occurence.

So, for each ID, I have a sequence of ordered events.
Sometimes, multiple events occur on the same day, which leads to nested lists.

For example, consider the sequence [A, B, [D, C, I, K], M]

This means, Event A occured on day 1, event B on day two, and ev

[2021-07-13 09:39] aucth commented on #50666
[Link](https://github.com/keras-team/keras/issues/14915) to the issue on keras.

[2021-07-13 09:42] tilakrayal commented on #50666
@aucth ,

Can you please feel free to close this issue, since it is already being tracked there? Thanks!

[2021-07-13 09:43] #50666 closed

[2021-07-13 09:45] sebltm commented on #50669
Works with TF 2.5 / CUDA 11.2 / cuDNN 8.1, however this only half solves my problem, since my reason for trying another version of CUDA / cuDNN is that I was getting frequent segmentation faults with this combination, which disappeared after migrating to CUDA 11.4 / cuDNN 8.2.2

[2021-07-13 09:48] bhack commented on #50322
Isn't tracked now at https://github.com/keras-team/keras/issues/14838?

[2021-07-13 10:03] multiverse-tf commented on #42277
I think so. You could see what ops are delegated via our [benchmark tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark) ([nightly pre-built binaries](https://www.tensorflow.org/lite/performance/implementing_delegate#download_links_for_nightly_pre-built_tflite_tooling_binaries)) with "--print_preinvoke_state=true" or "--print_postinvoke_state=true" cmdline fl

[2021-07-13 10:08] arturdryomov commented on #34536
@impjdi, hey, it’s been a year — is it possible to use CUDA for Lite models? I see the `tensorflow-gpu` package and [a good amount of instructions](https://www.tensorflow.org/install/gpu). However, there are no mentions of `tensorflow.lite.Interpreter`.

[2021-07-13 10:26] reuvenperetz opened #50747 "MLIR converter quantizes conv2d before bias when dilaition rate > 1"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0
### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option A: Reference colab notebooks

Referen

[2021-07-13 10:46] UsharaniPagadala commented on #50745
@Adgoswa

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

 and also refer similar [issue](https://discuss.tensorflow.org/t/error-occurred-when-finalizing-generatordataset-iterator/2080
) , [link2](https://github.com/

[2021-07-13 10:53] Saduf2019 commented on #50739
@Bharathi-A-7
t just encode the entire series and represent it as a single unit which is a number in your case? This method will increase your output nodes but will flatten the nested structure.

A second option may be to pass this list through a separate embedding layer and obtain a single time series or a single value representation of the entire sublist. This may require tuning your embedding s

[2021-07-13 10:53] tilakrayal commented on #50710
@ymodak  ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/546ad1618d21f1bec70625996b04f3cb/untitld50710.ipynb).

[2021-07-13 11:08] Bharathi-A-7 commented on #50739
Thanks for your answer. I will open this in tensorflow discussion.

[2021-07-13 11:08] #50739 closed

[2021-07-13 11:09] UsharaniPagadala commented on #50740
@kurudinesh

Could you please refer these [link1](https://www.tensorflow.org/api_docs/python/tf/data/Dataset) and [link2](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/ops/dataset_ops.py) and let us know if  it helps.Thanks

[2021-07-13 11:10] tilakrayal commented on #50744
@MisRight ,

Every TensorFlow release is compatible with a certain version, for more information please take a look at the tested build [configurations](https://www.tensorflow.org/install/source_windows#gpu).In this case, can you please try installing TensorFlow v2.4 with CUDA 11.0 and cuDNN 8 and check if you are facing the same error.Also please take a look at this [link.](https://www.tensorflow

[2021-07-13 11:14] Bharathi-A-7 opened #50748 "Getting Embeddings from nested sequences"
With reference to my previous issue : #50739

@Saduf2019, I just wanted to get some clarifications on your answer, particularly the second approach.

[code]
Supposing I use 250-dimension embeddings, then events A, B would be 250-dim embeddings whereas C would be 3*250 = 750 dim since it is flattened. In that case, how would I be able to pass this input sequence to LSTM since all elements do not ha

[2021-07-13 11:15] UsharaniPagadala commented on #50728
@Saduf2019

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/12928bc9a30931dd7fccc69ca3e3e76c/untitled139.ipynb).Thanks

[2021-07-13 11:35] lgeiger commented on #40055
I think this is still an issue :)

[2021-07-13 11:36] MisRight commented on #50744
Thank you for your advice, but I want to compile the debug version of tensorflow not release version. I have compiled the release version under (tensorflow r2.4, cuda 11.0, cudnn 8, bazel 3.1.0, python 3.6.8, VS 2019 and windows 10). But when I was compiling the debug version, the following error occurred: C:\users\administrator_bazel_administrator\nkxc6ocj\execroot\org_tensorflow\tensorflow\compi

[2021-07-13 11:37] MisRight commented on #50744
@tilakrayal
Thank you for your advice, but I want to compile the debug version of tensorflow not release version. I have compiled the release version under (tensorflow r2.4, cuda 11.0, cudnn 8, bazel 3.1.0, python 3.6.8, VS 2019 and windows 10). But when I was compiling the debug version, the following error occurred: C:\users\administrator_bazel_administrator\nkxc6ocj\execroot\org_tensorflow\tens

[2021-07-13 12:05] talipini commented on #50637
Any additional insights on this? thanks

[2021-07-13 12:14] miguelCalado commented on #50593
Here's a working example of it. I ask to whoever has more than one GPU to try and check if the issue still remains.

**Notebook**: [Working Example.ipynb](https://drive.google.com/file/d/1CoYVckmEQXp2Wf_PRlGtnrlGnF8smxvt/view?usp=sharing)

**Saved Model**:
- [HDF5](https://drive.google.com/file/d/1Y0-fQytVsnHPs8JL6kKJr3tEL0mKNtjJ/view?usp=sharing)
- [Saved Format](https://drive.google.com/file/d/1

[2021-07-13 12:34] #36917 closed

[2021-07-13 12:34] #34087 closed

[2021-07-13 12:34] #38845 closed

[2021-07-13 12:34] #39793 closed

[2021-07-13 13:22] sushreebarsa commented on #46683
@nixmeer This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues)  ..Thanks!

[2021-07-13 13:34] #38937 closed

[2021-07-13 13:35] kurudinesh commented on #50740
@UsharaniPagadala

I am trying to convert dataset loaded using tf.data.experimental.load method to a numpy array in Eager mode and in the documentation link it mentioned 'as_numpy_iterator' works in eager mode.

[2021-07-13 13:58] sushreebarsa commented on #38732
I tried to run the code with TF v2.5 on colab & getting warning message ,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/5a0e0bc0a58776e30b32619e241c16fc/untitled334.ipynb)..Thanks

[2021-07-13 14:16] sushreebarsa commented on #38298
@shauryad15 This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues)  we will get you the right help..Thanks!

[2021-07-13 14:34] #34270 closed

[2021-07-13 14:41] saikumarchalla commented on #50592
@mryusefVahedi01  Closing the issue since the original issue was re opened. Thanks!

[2021-07-13 14:41] #50592 closed

[2021-07-13 14:49] sushreebarsa commented on #39020
@pingdynasty This is a micro related issue,Please post this in [micro repository](https://github.com/tensorflow/tflite-micro/issues)  ..Thanks!

[2021-07-13 14:59] sushreebarsa commented on #38756
@sumanthratna Could you please try on latest stable version of tf 2.5 or 2.4.1 and let us know if this is still an issue.Thanks!

[2021-07-13 15:09] obtu opened #50749 "Custom metric fails with "ValueError: Metric should be a callable""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Fedora 34
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: Python 3.8.10
- CUDA/cuDNN version: N/A
- GPU model

[2021-07-13 15:16] saikumarchalla commented on #50693
Was able to reproduce the issue on colab. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/458b9a6b2d7f5ad51912a156999c8152/window_padded_dataset.ipynb).

[2021-07-13 15:23] loic-ehrhardt commented on #50741
Hi @saikumarchalla, I think you placed the wrong tag. This issue refers to the *new* tensorflow version: 2.6.0-rc0

I actually used the suggested command to print the versions:
[code]

[2021-07-13 16:03] UsharaniPagadala commented on #50377
@Oezkan23

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-13 16:32] Saduf2019 commented on #50748
@Bharathi-A-7
You wouldn't need such huge embedding vector,please try with one or two dimensional.
you may create a single output dense network and see for yourself.

[2021-07-13 16:38] UsharaniPagadala commented on #50733
@lfch

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow.](https://stackoverflow.com/questions/tagged/tensorflow) / Tensorflow [Forum](https://discuss.tensorflow.org/)  There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance. Thanks

[2021-07-13 16:51] AdamMiltonBarker commented on #50725
2021-07-13 16:45:13.114543: I tensorflow/core/grappler/clusters/single_machine.cc:357] Starting new session
2021-07-13 16:45:13.115646: I tensorflow/core/grappler/optimizers/meta_optimizer.cc:1144] Optimization results for grappler item: graph_to_optimize
  function_optimizer: function_optimizer did nothing. time = 0.007ms.
  function_optimizer: function_optimizer did nothing. time = 0.001ms.

202

[2021-07-13 17:03] AdamMiltonBarker commented on #50725
Sigh:

New Line
9600 baud
19:3:22.373 -> Didn't find op for builtin opcode 'QUANTIZE' version '1'. An older version of this builtin might be supported. Are you using an old TFLite binary with a newer model?
19:3:22.681 ->
19:3:22.681 -> Failed to get registration from op code QUANTIZE
19:3:23.118 ->
19:3:23.665 -> Failed starting model allocation.
19:3:24.108 ->
19:3:24.646 -> AllocateTensors() fa

[2021-07-13 17:07] #46683 closed

[2021-07-13 17:12] TranATT opened #50750 "Error converting mask_rcnn/inception_resnet_v2_1024x1024 Tensorflow model from TFHub to Tflite"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

### System information

- Ubuntu 18.02
- Tensorflow 2.5
- WSL

**Describe the current behavior**
I have been trying to convert the [mas

[2021-07-13 17:13] #50725 closed

[2021-07-13 17:26] AdamMiltonBarker commented on #37347
I have converted our model as specified in the documentation and am hitting the same error here. All Github links from the official documentation are dead. Anyone suggest the fix for this ?

`quantize.cpp:58 input->type == kTfLiteFloat32 || input->type == kTfLiteInt16 || inp was not true.
19:11:56.480 -> Node QUANTIZE (number 0f) failed to prepare with status 1
19:11:56.837 -> AllocateTensors() fa

[2021-07-13 17:41] hanhanW commented on #50687
Sure, I'm happy to! We've been experimenting conv op in IREE repo. In that time, we only see this form of convolution. So only it is supported when we upstream the pattern.
Please do not use linalg.conv op because

- It only works on memrefs.
- Padding attribute would stop many opportunities of Linalg transforms. E.g., we are not able to fuse operations if it has padding attributes.
- It should be

[2021-07-13 17:50] #50472 closed

[2021-07-13 17:50] mihaimaruseac commented on #30999
Please open a new issue, filling in the bug template as most likely the environment has changed in the last 2 years.

[2021-07-13 17:52] mihaimaruseac commented on #50298
`pip install tensorflow` and `pip install tensorflow_gpu` will result in the exact same code in TF 2.x

If you want CPU-only code you have to use `tensorflow_cpu` package.

[2021-07-13 17:53] mihaimaruseac commented on #50298
The issue here seems to be a silent OOM killer when you run out of memory. It's not really the fault of TF.

[2021-07-13 17:56] srjoglekar246 commented on #37401
Hey @pushkalkatara , if this is still an issue, feel free to look at the `SSD ResNet50 V1 FPN 640x640 (RetinaNet50)` model from the [TF2 Detection Zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md). It converts well to TFLite using [these instructions](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_o

[2021-07-13 18:01] nealchau commented on #48555
I was also able to reproduce this on TF 2.4. From the reference page for fit it also seems that the class_weight is argument is specifically created to allow the user to weight by class:

class_weight | Optional named list mapping indices (integers) to a weight (float) value, used for weighting the loss function (during training only). This can be useful to tell the model to "pay more attention" t

[2021-07-13 18:05] #48557 closed

[2021-07-13 18:06] AdityaKane2001 commented on #48557
@bhack
Thanks for all the support. Learnt a lot in this one.

[2021-07-13 18:13] ymodak commented on #49379
IMHO I disagree, reason being that there are widespread areas like these where you can argue that functions description is limited but they can be easily understood digging into usage examples.
Thanks!

[2021-07-13 18:13] #49379 closed

[2021-07-13 18:19] nectario commented on #50735
Thank you. Running on my my local machine, where I have these versions, it works fine. But the real issue is that I am using Amazon Sagemaker and that build is fixed. The Docker image I am pulling is tensorflow/tensorflow:latest-gpu-jupyter
I also tried pulling the Nvidia image of tensorflow from nvcr.io/nvidia/tensorflow:21.06-tf2-py3
but I still have the same problem. This happens with the speci

[2021-07-13 18:20] mihaimaruseac commented on #49555
Every first Tuesday of the month (with exception for June/July due to US holidays)

bit.ly/tf-sig-build-notes

There is also a link in the title there to Add the event to your Google Calendar

[2021-07-13 18:43] Bharathi-A-7 commented on #50748
Thanks @Saduf2019, But I'm not entirely sure that I get your idea.

Could you please provide a small and simple working example in TF to demo the primary and secondary embedding layers that you're describing ? Perhaps for some sample sequences like below:

1. [A, B, [D, C, E], L]
2. [[S,T,B], M]
3. [M, N, [L,U]]
4. [A, B, L]

Where A, B, C,.. etc are events represented by text and lets say I want

[2021-07-13 18:48] Saduf2019 commented on #50748
@Bharathi-A-7
Kindly open this issue in tensorflow discussion forum or stackoverflow as this is not a feature request or a bug.

[2021-07-13 19:01] ChrisLMills commented on #43597
@ymodak thanks for the solution.
One thing to add, there shouldn't be a space in the new name, so rather:
`layer._name = 'new_' + str(layer._name)`

[2021-07-13 19:10] nectario commented on #50735
This issue has completely derailed our production release. I hope it's given some urgency.

[2021-07-13 19:40] neiev opened #50751 "As (x*w+x1*w1+...xn*wn+b) checks if the obtained value is the difference between (x) and (y)."
It would be interesting that at the end of the model.predict function the value obtained the difference between the X_test and the y_test, thus being necessary to multiply the test matrix (X_test) and the prediction matrix (y_preds) to obtain the final value (y_train), instead of needing to multiply the matrix I'm trying to predict (y_train) and the prediction matrix (y_preds) to get the matrix I'

[2021-07-13 19:40] iiwii opened #50752 "tf.keras.layers.TimeDistributed build method passes shapes as tuples instead of TensorShapes."
https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/keras/layers/wrappers.py#L186

This causes inconsistencies in wrapped layer.

[2021-07-13 20:14] AdamMiltonBarker opened #50753 "quantize.cpp:58 input->type == kTfLiteFloat32 || input->type == kTfLiteInt16 || inp was not true"
@tensorflow/micro

**System information**
- Host OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- Tensorflow version (commit SHA if source): 2.5.0
- Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): Arduino Nano 33 BLE Sense

**Describe the problem**

I have converted our CNN to TFLite using full integer quantiza

[2021-07-13 20:24] ymodak commented on #50730
@mingting This is the link https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/xla/g3doc/operation_semantics.md you may want to fix.

[2021-07-13 20:37] alieskici commented on #47597
It's a vital function and it's interesting that it still doesn't.

[2021-07-13 20:44] haozha111 commented on #50448
Hi,

I checked the float tflite model you shared, and I found that the dilated conv pattern is not folded (there is still the SpaceToBatchNd, and BatchToSpaceNd op in your model). This is because the BatchToSpaceNd op is taking > 1 input. Given it's not folded, I think the shape issue is not caused by the dilated conv folding pass in MLIR.

I also checked that your model's input has static shape [

[2021-07-13 21:23] sumanthratna commented on #38756
I just tried on tf 2.5.0 and the results have not changed since https://github.com/tensorflow/tensorflow/commit/8c1ead8d919c7536c3d8f52fbab44e1dfcd9fd79 was merged. It appears to be the same issue that @saxenasaurabh described in https://github.com/tensorflow/tensorflow/issues/38756#issuecomment-618571584.

# Eager
![Screen Shot 2021-07-13 at 17 17 37](https://user-images.githubusercontent.com/312

[2021-07-13 21:28] AlicanAKCA opened #50755 "InvalidArgumentError: 2 root error(s) found."
### System information

- Colab with GPU
- Latest tflite version

[COLAB LINK](https://colab.research.google.com/drive/18HYg1-SLnNnYcGTIy4yQCgPGA0ZKyYx5?usp=sharing)

### Failure after conversion

INFO:tensorflow:Load image with size: 25002, num_label: 2, labels: Cat, Dog.
INFO:tensorflow:Load image with size: 25002, num_label: 2, labels: Cat, Dog.
INFO:tensorflow:Retraining the models...
INFO:ten

[2021-07-13 21:33] annyan09023 commented on #50509
Asked this question in keras repo instead

[2021-07-13 21:33] #50509 closed

[2021-07-13 22:51] tylerweitzman opened #50758 "Dynamic-sized CoreML Delegate"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state.**
The TensorflowLite Core ML delegate currently does not support graphs with dynamic-sized tensors. However, Core ML can in fact support dynamic re-shaping, as demonstrated by the `coremltools` package being able to create dynami

[2021-07-13 23:04] reedwm commented on #49889
As a workaround, delegating `_prepare` in `OptimizerWrapper` and adding an `apply_state` argument to `_resource_apply_dense` fixes the issue:

[code]

Still, this shouldn't be necessary. Will keep investigating.

[2021-07-14 02:06] lnshi commented on #50298
@mihaimaruseac  that is even more weird, i gave 7GB memory to the container, and it happens also on my local mac which has 32GB memory....

to highlight again, i never installed tensorflow-gpu, and exactly same code base working great on all my other MPBs, only on this new MBP 2021 with i9 processor i encounter this problem, t**hat is why i am checking whether TF has some compatible issues with th

[2021-07-14 03:32] shelllet commented on #46685
The same question

[2021-07-14 03:33] shelllet commented on #40309
The same question

[2021-07-14 03:47] donhuvy opened #50761 "Cannot login to jupyter notebook by Docker Tensorlfow"
My docker version

[![enter image description here][1]][1]

I run `docker pull tensorflow/tensorflow:latest-jupyter`

[![enter image description here][2]][2]

log

[![enter image description here][3]][3]

[code]
[![enter image description here][4]][4]

I enter token `e52451166ea610fe5559c59eee0f3865e3af25b44c4966d6` but cannot login.

Even, when I use command line to set password, it still did not

[2021-07-14 05:04] bylowerik opened #50762 "Not linking properly on XCode with Mac M1"
Platform: MacBook M1 BigSur
Installed: CocoaPods

**Describe the problem**
I have created a new project and added a Podfile from here: https://github.com/tensorflow/examples/tree/master/lite/examples/image_classification/ios

When I build in XCode I get

`building for iOS Simulator, but linking in object file built for iOS, file.
'/Users/name/Code/name2/ios/SwingAIAnalyzer/Pods/TensorFlowLiteC/Fra

[2021-07-14 05:15] tilakrayal commented on #50747
@reuvenperetz ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Thanks!

[2021-07-14 05:34] worldpeaceaspirer commented on #49379
@ymodak,
It's very harsh to close an issue without a proper justification. Just that you disagree, it doesn't mean it should be closed abruptly.
I am not happy or not satisfied.

[2021-07-14 05:50] #37626 closed

[2021-07-14 05:51] wwwwcu commented on #50687
Thank you very much for your detailed suggestions! I'll try it.

[2021-07-14 05:58] aruno14 commented on #37626
I checked with my full model. All seems to work well now.
Thank you.

[2021-07-14 06:09] sanjoy commented on #50649
There are many possible reasons for this.

If you have a beefy machine that can build TensorFlow, I'd suggest rebuilding TF and using a [`CurrentStackTrace`](https://github.com/tensorflow/tensorflow/blob/91ec0d83972d2c73facaf80e0da3c755ff5910e9/tensorflow/core/platform/default/stacktrace.h#L42) call in `ThenMemcpy` to figure out where the copies are coming from.

[2021-07-14 06:10] Bharathi-A-7 commented on #50748
Okay. I have done the same. Thanks.

[2021-07-14 06:29] akkshay0107 commented on #30999
@mihaimaruseac i have opened a new issue , thanks

[2021-07-14 06:39] mingting commented on #50730
@ymodak yes.
I tried to contribute for this markdown file, but I don't know which table syntax this markdown used.
I discussed with community,
https://discuss.tensorflow.org/t/question-about-markdown-table-format/2492

I get know, because of the markdown used a google syntax,  developer out of google cannot change this markdown file.

the markdown to html should take care google syntax well.

but

[2021-07-14 06:45] gititgo commented on #50685
We do not use The TensorFlow Model Garden.
We just config oneDNN(comment out convolution,jit:sse41) and rebuild tensorflow. Then we found the inference result of resnet50 model is incorrect.
We speculate that it is the problem of Conv2D implementation.

[2021-07-14 06:50] #46388 closed

[2021-07-14 06:51] #50748 closed

[2021-07-14 07:50] #50335 closed

[2021-07-14 07:53] kalyani-o opened #50763 "ModuleNotFounderror:no module named tensorflor_core.estimator"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-07-14 07:58] tilakrayal commented on #50753
@AdamMiltonBarker ,

This issue is more suitable for TensorFlow Micro repo. Please post it on [tflite/micro](https://github.com/tensorflow/tflite-micro/issues) repo from here. Thanks!

[2021-07-14 08:01] georgepaw commented on #35867
I'm posting here in case someone else encounters similar issue with centos 7 and Bazel 3.7.2 followed by when loading datasets:
[code]

setting following fixed both of them:
[code]

[2021-07-14 08:08] osljw commented on #34300
2021， tf2.4, same problem,

[2021-07-14 08:29] nikhilAgarwalM opened #50764 "AssertionError occurred when initializing NLClassifier with TFlite model"
I am using NLClassifier in my android application for a text classification problem

Dependency used - **implementation 'org.tensorflow:tensorflow-lite-task-text:0.2.0'**

I am downloading the TFlite model from firebase using FirebaseModelDownloader with the following code
Dependency used - **implementation 'com.google.firebase:firebase-ml-modeldownloader-ktx:24.0.0'**

[code]

**Describe the curr

[2021-07-14 08:58] gcunhase commented on #47048
Any updates on this? Also facing the same issue.

[2021-07-14 09:04] gcunhase commented on #47248
Any updates on this? Having the same issue on TF2.5.0.

[2021-07-14 09:09] emadboctorx opened #50765 "Memory leak in custom training loop + tf.function"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2021-07-14 09:14] tilakrayal commented on #50750
@TranATT ,

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) has not been filled, could you please do so as it helps us analyse the issue.Also please provide the complete code to reproduce the issue.Thanks!

[2021-07-14 09:27] arolet commented on #50448
Hi, thank you for the answer.

I tried to extract only the relevant parts of the code, if you need more details please let me know. The models I provided are in the assets folder of the app. Here is the class responsible for running the model on a bitmap.

[code]

In my main activity, I simply call

`TfLiteIssue(getContext()).runModel(bitmap);`

In the logcat this shows an output shape of [1, 1, 1

[2021-07-14 09:50] #50517 closed

[2021-07-14 10:19] Amzo opened #50766 "Incomplete Installation of Tensorflow FreeBSD"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): FreeBSD 13
- TensorFlow instal

[2021-07-14 10:39] Koushik667 commented on #50667
Hi Meghna, Thanks for the reply

i followed the link, and tried to use register_custom_opdefs : But i am getting this

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-81-1ca3274a817a> in <module>
      4
      5   # Register custom opdefs before the invocation of converter API.
--

[2021-07-14 11:00] FrancoisLux commented on #47554
Same with tensorflow-lattice layers:

`
absl - WARNING - Found untraced functions such as pwl_calibration_593_layer_call_fn, pwl_calibration_593_layer_call_and_return_conditional_losses, pwl_calibration_590_layer_call_fn, pwl_calibration_590_layer_call_and_return_conditional_losses, pwl_calibration_591_layer_call_fn while saving (showing 5 of 25). These functions will not be directly callable afte

[2021-07-14 11:09] Ghostvv commented on #50575
I experience the same error when using models with attention

[2021-07-14 12:50] #34365 closed

[2021-07-14 12:50] #34436 closed

[2021-07-14 12:50] #50048 closed

[2021-07-14 12:50] #34961 closed

[2021-07-14 13:03] gcunhase commented on #34775
Same issue...

[2021-07-14 13:35] suraj-maniyar commented on #42277
Thanks a lot for this info.

[2021-07-14 13:41] saikumarchalla commented on #50741
Was able to reproduce the issueon colab. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/7734534ff4121be31884dea28fd53a7f/untitled111.ipynb). Thanks!

[2021-07-14 14:22] JesseLT commented on #50718
@tilakrayal, I change the number of epochs to 10, and it has the same issue.

[2021-07-14 14:33] UsharaniPagadala commented on #50766
@Amzo

Could you please refer the similar [link1](https://github.com/tensorflow/tensorflow/issues/193) and [link2](https://github.com/tensorflow/tensorflow/issues/37345) and let us know if it helps.Thanks

[2021-07-14 14:38] UsharaniPagadala commented on #50763
@kalyani-o

We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-07-14 14:46] Saduf2019 commented on #50761
@donhuvy
Please refer to [this link](https://www.programmersought.com/article/95383088204/) and let us know.

[2021-07-14 14:53] Amzo commented on #50766
Nope. those seem to be build issues. I've remedied and patched them and tensorflow builds successfully. However, on the creation of the pip packages, there only seems to be usr/lib/python3.8/site-packages/tensorflow_core available. All other directories are not being installed during pip creation, even though I see they have been built.

I'm not sure if there is some platform checks I've overlooke

[2021-07-14 14:59] UsharaniPagadala commented on #50740
@rmothukuru

I was able to replicate the issue in tf 2.5 and tf-nightly.Please find  the [gist](https://colab.research.google.com/gist/UsharaniPagadala/08f1f940d0637fe3b55a942daa01865a/-50740.ipynb).Thanks

[2021-07-14 14:59] Saduf2019 commented on #50709
@LinJM
Can you please try with [tested configurations](https://www.tensorflow.org/install/source#gpu), and let us know if the issue persist.

[2021-07-14 15:01] Saduf2019 commented on #50693
@guillaumekln
Can you please try with the [tested configurations](https://www.tensorflow.org/install/source#gpu) and let us know if the issue persist.

[2021-07-14 15:03] Saduf2019 commented on #50466
@jainmilan
You would  need to define steps_per_epoch in model.fit as dataset runs indefinitely

[2021-07-14 15:04] Saduf2019 commented on #25181
@bolau
his issue is resolved in the latest tf version, please verify an revert.

[2021-07-14 15:09] Saduf2019 commented on #50614
@stromal
You can run on colab with dummy dataset and let us know if the issue persist.

[2021-07-14 15:37] jainmilan commented on #50466
The steps_per_epoch limits the training but don’t you think it is an inconsistent behavior? Also, to do an indefinite training it might be applying a repeat over the dataset which I didn’t use and that changes the data too.

[2021-07-14 15:39] guillaumekln commented on #50693
I did not compile TensorFlow from the source, so I'm not sure how this link is relevant to this issue?

The issue I'm reporting is in the binary release of TensorFlow 2.6.0rc0.

[2021-07-14 15:42] MaxKKuznetsov commented on #26241
The error:
F tensorflow/core/platform/cpu_feature_guard.cc:37] The TensorFlow library was compiled to use AVX instructions, but these aren't available on your machine. Aborted (core dumped)
my machine: Intel Celeron CPU J1900 1.99GHz

[2021-07-14 15:50] mihaimaruseac commented on #50298
If you did `pip install tensorflow` then you installed `tensorflow-gpu`. They are exactly the same package.

[2021-07-14 15:51] arpitjjw opened #50769 "apply_gradients() with Adam Optimizer gives error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution: maOS 11.4
- TensorFlow version: 2.5.0
- Python version: 3.9.6
- GPU model and memory: Apple M1

**Describe the current behavior**
SGD and Adam gives error when using **apply_gradients()**, please see output and source code below
When adam is u

[2021-07-14 16:33] tilakrayal commented on #50765
@jvishnuvardhan ,
I was able to reproduce the issue in tf [v2.5](https://colab.research.google.com/gist/tilakrayal/3d1a169da227be5d965e926a36c474e4/2-5memory_leak.ipynb) and [v2.4](https://colab.research.google.com/gist/tilakrayal/0d2f1ff4ef758672adf1b1838f4b8d23/2-4memory_leak.ipynb) it is giving error.Please find the gist here.

[2021-07-14 16:36] donhuvy commented on #50761
thank you, please wait me.

[2021-07-14 16:50] #50470 closed

[2021-07-14 17:02] reedwm commented on #49889
I found the root cause. The issue occurs if an optimizer subclass creates a `tf.string` tensor in `_resource_apply_dense`. The reason is due to [this colocation constraint](https://github.com/keras-team/keras/blob/06b04aeb745c90c5368be02928b08cc7fd592659/keras/optimizer_v2/optimizer_v2.py#L702) in Optimizer. This forces everything in `_resource_apply_dense` to be placed on the GPU if the variable

[2021-07-14 17:04] reedwm commented on #49889
Also /CC @yuefengz, as the issue occurs with `distribution.extended.colocate_vars_with`.

[2021-07-14 17:36] r-wheeler commented on #21526
Can tf.einsum be supported?

[2021-07-14 17:48] TranATT commented on #50750
Hi @tilakrayal I have updated the template! Hope that helps.

[2021-07-14 18:08] nectario commented on #50735
Is there a tensorflow docker image where I can specify the CUDA/CUDNN version specifically?

From my Dockerfile I am calling:

`FROM tensorflow/tensorflow:latest-gpu-jupyter`

[2021-07-14 18:18] nectario commented on #50735
From the logs, I see it's loading CUDNN version 8.2:

`2021-07-13 21:21:35.642481: I tensorflow/stream_executor/cuda/cuda_dnn.cc:359] Loaded cuDNN version 8202`

[2021-07-14 18:40] ymodak commented on #49379
I think my justification is clear, the docs for those functions are good enough for any user to understand thier usages.
You don't need a distinction between different functions to justify further since the topics are independently and coherently discussed on their corresponding documentation page.
If your query was of a kind where api docs are limited that would have been a different case to deal

[2021-07-14 18:49] jvishnuvardhan commented on #26241
@MaxKKuznetsov Please open a new issue as this was an old issue that was closed more than two years ago. Thanks!

[2021-07-14 19:04] ymodak commented on #50755
The model is failing at training step. Are you using images in jpeg format?
Also refer this guide if haven't already
https://www.tensorflow.org/lite/tutorials/model_maker_image_classification

[2021-07-14 19:30] jvishnuvardhan commented on #47884
@WingsOfPanda Now it is throwing the following error. Can you try installing the version mentioned in the error trace below and then verify whether the issue was resolved or not.

`NotFoundError: No algorithm worked! Please try upgrading to cuDNN 8.0.5. You are using cuDNN 8.0.4, which has a bug causing this error. [Op:Conv3DBackpropFilterV2]
`

Please check the [gist here](https://colab.research.

[2021-07-14 19:50] #50384 closed

[2021-07-14 19:50] #39392 closed

[2021-07-14 20:10] rrklearn2020 opened #50774 "tf.keras.models.save_model not saving the probabilistic_model"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 LTS
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Tensorflow_probability.__version__:  '0.13.0'
- Python version: 3.8

[2021-07-14 20:26] #42916 closed

[2021-07-14 20:27] AlicanAKCA commented on #50755
Hello again sir, it only contains pictures in jpg format.
![image](https://user-images.githubusercontent.com/27694294/125687778-205675d8-065c-4dfd-9556-0ba714b91611.png)
![image](https://i.ibb.co/hZybtBY/2.png)

[2021-07-14 20:49] ymodak commented on #46495
Is this still an issue with the latest version of TensorFlow? Thanks!

[2021-07-14 21:25] MeghnaNatraj commented on #50667
@Koushik667 can you try running the following code?
(This usually wouldn't work as your ops are not defined in TF, but let's try)

[code]
@abattery (tagging you in case you have more context) If there is an op that is unsupported in TF, how can we convert the model successfully. The API used [here](https://www.tensorflow.org/lite/convert#other_features) (` tf.lite.python.convert.register_custom_op

[2021-07-14 21:29] abattery commented on #50667
Adding them into the allowlist in the Select TF op support will be the easiest way to support. I think the above Boost tree ops are not included in the allowlist but we have AsString op as Select TF ops. I think we can consider this as a feature request for adding the additions of Boost tree ops in the allowlist of the Select TF ops.

Please consider using https://www.tensorflow.org/lite/guide/ops

[2021-07-14 21:41] philipphack opened #50776 "MKL XLA CPU Runtime Test Failure"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 9.3.0

**Describe the problem**

When MKL is enabled, the `tensorflow/compiler/xla/service/cpu:cpu_runtime_test` unit

[2021-07-14 21:50] #50531 closed

[2021-07-14 21:50] #50538 closed

[2021-07-14 21:57] lamberta commented on #50730
cc: @8bitmp3

[2021-07-14 22:05] #50583 closed

[2021-07-14 22:15] mircodemarchi commented on #32889
You may need to enable Eager mode. When you compile your model, add this parameter:
[code]

[2021-07-14 22:20] nluehr commented on #50616
I was unable to reproduce the failure. I ran with 2xA40 in the tensorflow/tensorflow:2.5.0rc3-gpu docker container.
I'm using the NVIDIA 460.73.01 driver.

[code]

@mtassano-gpfw what happens if you reverse the device to `os.environ["CUDA_VISIBLE_DEVICES"] = '1,0'`?

[2021-07-14 23:03] MeghnaNatraj commented on #50667
Thanks a lot @abattery!

@Koushik667 In TFLite, we maintain a list of TF operators (called the [allowlist](https://www.tensorflow.org/lite/guide/op_select_allowlist#tensorflow_core_operators)) that don't have a corresponding TFLite operator implementation (eg: such as the BoostedTreesEnsembleResourceHandleOp). If a TF operator is in this allowlist, then we can convert the model by pulling in the T

[2021-07-14 23:03] #50667 closed

[2021-07-14 23:08] thaink commented on #21526
tf.einsum with static shape is fully supported via our converter. I think you need dynamic shape, right?

[2021-07-14 23:23] kevininderhees opened #50777 "gast_archive URL error"
There's an error in the mirrored URL for gast_archive:

https://github.com/tensorflow/tensorflow/blob/e7017fd09cc249d0d522a2b77f0dcae4642dd04a/tensorflow/workspace2.bzl#L441
That URL gives an error, "The specified key does not exist."  The URL should be `https://storage.googleapis.com/mirror.tensorflow.org/files.pythonhosted.org/packages/83/4a/07c7e59cef23fb147454663c3271c21da68ba2ab141427c20548ae

[2021-07-15 00:17] LinJM commented on #50709
@Saduf2019 I directly use the binary release of Tensorflow 2.6.0 rc0.

[2021-07-15 00:29] jvishnuvardhan commented on #49162
@Anuj040 Sorry for the late response. I could reproduce the issue. I was able to save and load simple models using ModelCheckPoint callback but with the custom training and custom metrics, it is throwing an error.

As Keras moved to completely different repo to focus only on keras related issues, code owners are looking into the issues opened in new repo https://github.com/keras-team/keras/issues.

[2021-07-15 01:06] donhuvy commented on #50761
![image](https://user-images.githubusercontent.com/1328316/125711941-dbd2a436-7e7c-45a5-af75-10863bf34bac.png)

[code]

[2021-07-15 01:49] superlxt opened #50779 "when i use tf2.4, tf.image_resize takes more time than tf1.2"
when i use tf.compact.v1 to run the tensorflow1.2 code , find that tf.image_resize takes 40% longer
Besides，unpool and conv2d_transpose encountered the same phenomenon
Is this a bug or a normal phenomenon?

[2021-07-15 02:50] #50533 closed

[2021-07-15 04:07] summa-code opened #50781 "tf.keras.preprocessing.timeseries_dataset_from_array function is broken in latest code"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- TensorFlow installed from (source or binary): latest source
- TensorFlow version (use command below): latest s

[2021-07-15 05:04] Saduf2019 commented on #50693
@guillaumekln
Irrespective of the source, this link has the tested configurations, so that one does not face such issues, can you please try and let us know.

[2021-07-15 05:05] Saduf2019 commented on #50466
@jainmilan
This does not seem like a tensorflow bug, it coding related issue, can you open this in discussion forum or stackover flow as there is a bigger community to answer there.

[2021-07-15 05:25] Gojo1729 opened #50783 "Getting clang errors while building tensorflow-lite using bazel on windows machine."
**System information**
- OS Platform and Distribution : Windows 10 Home
- TensorFlow installed from : source
- TensorFlow version: Building from top of 926e8aaf98078d57175795025bf3f8a93db813bc
- Python version: 3.9.6
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): MSVC 2019
- CUDA/cuDNN version: NA

**Describe the problem**
I'm trying to compile

[2021-07-15 05:27] UsharaniPagadala commented on #50781
@summa-code

Is this the [link](https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/timeseries_dataset_from_array)  you are talking about, if no Could you please share the broken  link.Thanks

[2021-07-15 05:42] guillaumekln commented on #50693
I'm testing the release candidate of TensorFlow 2.6 and reporting this issue early so that developers can fix the bug before the final release. I think that is the goal of a release candidate.

I know this issue did not exist before, but that is not the point. This issue should be fixed in future releases.

[2021-07-15 06:28] xhae commented on #50747
Reproducing steps with the dedicated model would be really helpful!

[2021-07-15 06:50] #50460 closed

[2021-07-15 06:50] #50530 closed

[2021-07-15 07:10] old-school-kid commented on #50779
No this is normal phenomenon, since Tensorflow 1 uses only graph execution and thus has higher performance. On the other hand
Tensorflow 2 uses Eager execution by default and is slower than Tensorflow 1, but easier to debug. You can increase your performance in Tendorflow 2 by using @tf.function above the function declaration to execute the piece of code as a graph.

[2021-07-15 07:38] kimwoo0 opened #50784 "NotImplementedError: Cannot convert a symbolic Tensor (lstm_20/strided_slice:0) to a numpy array..."
My code:

model = Sequential()

model.add(LSTM(50, return_sequences=True, input_shape=(50, 1)))

model.add(LSTM(64, return_sequences=False))

model.add(Dense(1, activation='linear'))

model.compile(loss='mse', optimizer='rmsprop')

model.summary()

-------------------------------------------------------------------------

NotImplementedError                       Traceback (most recent call last)

[2021-07-15 08:23] #50668 closed

[2021-07-15 08:45] TheWindWillNotStop commented on #50678
I had the same problem when i use tf==2.4.1 and numpy==1.20,but when i downgrade numpy to 1.19.5,i got
`ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject`
The answer I found in past issues is to upgrade numpy to 1.20, this is too strange.I'm now stuck in a dead end with the numpy version

[2021-07-15 09:12] GPhilo commented on #40930
@abattery Is TFLite still not supporting keras' mixed precision policies? I can't find any information about this in Tensorflow's or TFLite's documentation.

[2021-07-15 09:44] Saduf2019 commented on #50678
@TheWindWillNotStop
Does the issue occur with tf 2.5 as well, can you please confrim.

[2021-07-15 09:45] bhack commented on #32176
Check https://github.com/tensorflow/addons/pull/2525

[2021-07-15 09:51] Saduf2019 commented on #50709
@LinJM
The issue for 2.6 is already reported, please try to use the tested build configurations to avoid this issue which will be resolved in issue mentioned above [50693]

[2021-07-15 10:01] #50709 closed

[2021-07-15 10:58] rmothukuru commented on #50740
@kurudinesh,
While we look into the issue, I feel that you have swapped the content for **Current Behavior** and the **Expected Behavior**. If it is so, please correct it in the issue, order to avoid confusion. Thanks!

[2021-07-15 11:01] Zengyf-CVer opened #50785 "About pb model quantification"
Hello, I have a `float32 pb` model, and I want to convert it to an `int8 pb` model, how should I operate it?

[2021-07-15 11:11] Saduf2019 commented on #50779
@superlxt
Please refer to [this link](https://towardsdatascience.com/eager-execution-vs-graph-execution-which-is-better-38162ea4dbf6) and final notes for better understanding. [also [link1](https://stackoverflow.com/questions/58441514/why-is-tensorflow-2-much-slower-than-tensorflow-1])]

[2021-07-15 11:50] #35948 closed

[2021-07-15 11:56] hanshengchiu commented on #48545
Is cuda_malloc_async supported in TF 2.5.0? I got InternalError: No allocator statistics with it.

[2021-07-15 12:28] xiongjiezk commented on #20651
I came across the same problem too, just like [here](https://stackoverflow.com/questions/52565923/tensorflow-estimators-mirrorstrategy-assertion-error)

[2021-07-15 12:31] palonso opened #50787 "Library using libtensorflow crashes with the TensorFlow packege in Python"
First, thanks for attending this issue. As I couldn't find a precise category for this problem, I considered that this one was the better suited. Please let me know if this is not appropriate and I should direct my question somewhere else.

**System information**
- OS Platform and Distribution: Ubuntu 20.04.2 LTS
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.5.0
-

[2021-07-15 12:34] Yurushia1998 opened #50788 "ValueError: destinations can not be empty"
I'm having this bug when I try to: get features at the layer before last layer, compute loss with expected features using cosine similarity, then propagate back to input (I update input, not network's weight) with optimizer.minimine(loss,var_list = input). I cannot find any information about this bug. Please give me advice

[2021-07-15 12:44] UsharaniPagadala commented on #50784
@kimwoo0

Tensorflow 2.4.1 requires numpy~=1.19.2  is compatible version,Please check the same you have

Could you please provide the colab gist with all the dependencies.And also refer similar issues [link1](https://stackoverflow.com/questions/66207609/notimplementederror-cannot-convert-a-symbolic-tensor-lstm-2-strided-slice0-t) and [link2](https://www.reddit.com/r/tensorflow/comments/lgcgby/nump

[2021-07-15 12:48] UsharaniPagadala commented on #50788
@Yurushia1998

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-07-15 13:02] UsharaniPagadala commented on #50774
@rrklearn2020

Could you please provide the colab gist with the required dependencies to analyse the issue better. Thanks

[2021-07-15 13:20] UsharaniPagadala commented on #50785
@Zengyf-CVer

Could you please let us know are you Converting from pb to tflite. If yes Please refer the [documentation](https://www.tensorflow.org/lite/performance/post_training_quantization) and also look at this [article](https://medium.com/axinc-ai/convert-keras-models-to-tensorflow-lite-e654994fb93c) ,hope it helps.Thanks

[2021-07-15 13:25] Yurushia1998 commented on #50788
TF Version: 2.3.0, but I use disable_v2_behaviour
OS Ubuntu 20.04, PC
Python 3.6.13
gcc  10.2.0
CUDA 10, cudnn 7.6.5
GPU memory 11019MB

 A simplified version of code would be:

class Model
  def init(some_network):
    self.probe_images_weight = tf.get_variable("probe_images_weight",  initializer=tf.ones([100,32,32,3]), trainable = True)
    self.net = some_network
    self.optimizer_probe = tf.t

[2021-07-15 13:32] UsharaniPagadala commented on #50507
@Saduf2019

I  was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/44b953a32137acffd8eb052adb7edc32/untitled0.ipynb).Thanks

[2021-07-15 13:36] maazullah96 commented on #26696
I am trying to convert yolov4.weights file to tflite file in colab but I am getting the same
Can you guide me how to solve this issue
[error.txt](https://github.com/tensorflow/tensorflow/files/6823449/error.txt)

[2021-07-15 13:37] pliu19 commented on #47368
hello, do we have some expectation of when this will be fixed?

[2021-07-15 13:41] UsharaniPagadala commented on #50788
@Yurushia1998

 I am facing indentation errors.Could you please share the colab gist with clear details.Thanks

[2021-07-15 13:45] nouiz commented on #48545
It was bugged in TF2.5. It should work in TF2.6. You can try TF2.6.0-rc1 that was released recently:
https://github.com/tensorflow/tensorflow/releases

[2021-07-15 13:45] nouiz commented on #48545
Note, this issue should be closed as the bug is merged. I do not have the right to close it.

[2021-07-15 13:51] buxizhizhoum commented on #45930
These command works.

[code]
https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&Distribution=Debian&target_version=10&target_type=runfile_local

[2021-07-15 14:09] chudyandrej opened #50789 "Import error when multiple versions of tensorflow are in python path"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 10 (buster)
- TensorFlow installed from (source or binary): via pip
- TensorFlow version (use command below): 2.4.1 and 2.5.0
- Python version: 3.7
- CUDA/cuDNN version: Environment without GPU
- GPU

[2021-07-15 14:14] Flamefire opened #50790 "Out of memory when using MultiWorkerMirroredStrategy"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): REHEL 7.9
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.4.1
- Python version: 3.7.4
- Bazel version (if compiling from source): 3.7.1
- GCC/Compiler version (if co

[2021-07-15 14:38] Yurushia1998 commented on #50788
Hi, can you acces this link: https://drive.google.com/drive/folders/1dpBhVutc15sputAIlFymLdGZ8FTqZP0y?usp=sharing
To run the code, please install
!pip install --upgrade tensorflow-gpu
!pip install torch torchvision
!pip install tqdm numpy absl-py sklearn gast tensorflow_datasets tensorflow_addons Pillow
!pip install git+https://github.com/qubvel/classification_models.git
!pip install scikit-learn-

[2021-07-15 14:40] ngc92 commented on #37721
It appears that this works now. It is also shown in the documentation here
https://www.tensorflow.org/guide/sparse_tensor#tfkeras

[2021-07-15 14:40] #37721 closed

[2021-07-15 14:42] Saduf2019 commented on #50766
@Amzo
Can you please try on virtual env and let us know.

[2021-07-15 14:45] rrklearn2020 commented on #50774
@UsharaniPagadala
I have uploaded the file to GitHub and the link is shared below.

[https://github.com/rrklearn2020/probabilistic_model_trials.git](https://github.com/rrklearn2020/probabilistic_model_trials.git)

[2021-07-15 14:50] #50512 closed

[2021-07-15 14:50] #50556 closed

[2021-07-15 15:07] LeonhardFeiner opened #50791 "tf.keras.models.clone_model ignores input_tensors argument"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution. Linux Ubuntu 20.04:
- TensorFlow installed from binary:
- TensorFlow version (use command below): v2.4.0-49-g85c8b2a817f 2.4.1
- Python version: 3.8.5
- CUDA/cuDNN version: 11.2
- GPU model and memory: NVIDIA Quadro RTX 8000

**Describe the current behavior**

`tf.keras.models.clone_model` ignores `input_tenso

[2021-07-15 15:45] saikumarchalla commented on #50749
Was able to replicate the issue on colab. Please find the gist [here](https://colab.research.google.com/gist/saikumarchalla/3d074af2b2a5dcdbc75116be890ae3e7/untitled112.ipynb). Thanks!

[2021-07-15 15:46] saikumarchalla commented on #50749
@obtu It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team/keras]

[2021-07-15 15:47] saikumarchalla commented on #50752
@iiwi It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team/keras]

[2021-07-15 15:53] saikumarchalla commented on #50769
@arpitjjw  It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team/k

[2021-07-15 16:13] mihaimaruseac commented on #50744
We currently cannot support debug builds in OSS as the build is too large.

[2021-07-15 16:15] mihaimaruseac commented on #50734
I don't see the error message. Please also use formatted output.

Also, if building from source, please mention commit/tag.

[2021-07-15 16:18] #50526 closed

[2021-07-15 16:24] mdanatg commented on #27120
Yes, it's being explored. There are no easy solutions, and it's possible that the best we can do for backwards compatibility is to improve the error message and the ways to debug it.

[2021-07-15 16:32] Gojo1729 commented on #50783
Anybody there :) ???

[2021-07-15 16:32] aaudiber commented on #50260
Thanks for reporting this @eli-osherovich, this looks like a real bug that I'll work on fixing.

The reason this hasn't come up before is that calling `make_csv_dataset` inside of `interleave` isn't usually necessary. `make_csv_dataset` will incorporate its own `interleave` when you set `num_parallel_reads`. i.e., instead of writing

[code]

you could write

[code]

The second version may also be

[2021-07-15 16:33] DEKHTIARJonathan commented on #40806
@bixia1 shall we reopen the issue? I don't think it was fixed

[2021-07-15 16:48] duynguyen0209 commented on #50783
Tot

[2021-07-15 17:05] yunjiangster commented on #50654
@tilakrayal I tried this on tf2.5 (latest from pip packages) and the same issue persists:

[code]

[2021-07-15 17:05] nyadla-sys commented on #48202
@petewarden :A Gentle reminder.!

[2021-07-15 17:09] summa-code commented on #50781
Yes, those are the links. Anything changed ?

[2021-07-15 17:12] bhack commented on #27120
Dynamically change the graph it will be interesting in the continual learning domain.

[2021-07-15 17:22] sushreebarsa commented on #41931
@rajeevdm Could you please let us know if this issue has been fixed with this PR. If the problem is solved, you may close the issue.
Thank you.

[2021-07-15 17:27] impjdi commented on #34536
For that, you may want to create a CUDA delegate.  The link you provided is for TF, *not* TFLite.

[2021-07-15 17:35] #48767 closed

[2021-07-15 17:35] #48815 closed

[2021-07-15 17:48] eli-osherovich commented on #50260
Thanks, @aaudiber

May real code is a bit more complex: in my case each CSV file represents a  different class (with big skew between classes) and I wanted to do sort of round-robin sampling.

[2021-07-15 17:50] #26442 closed

[2021-07-15 17:50] #29206 closed

[2021-07-15 17:50] #30121 closed

[2021-07-15 17:50] #31518 closed

[2021-07-15 17:50] #24528 closed

[2021-07-15 18:01] arubiales commented on #50612
Hi @ymodak do you want to solve this issue? Can I work on it?

[2021-07-15 19:18] jsmeredith commented on #41391
The last comment sounds like correct to me, thanks!  From
https://www.tensorflow.org/guide/versions#backward_and_partial_forward_compatibility, forward compatibility is only offered within Patch releases. Closing for now, but of course report back if you think this should still work.

[2021-07-15 19:18] #41391 closed

[2021-07-15 19:21] saxenasaurabh commented on #46996
Thanks for reporting this. This possibly requires proper handling of large numbers in the [LRN op](https://cs.opensource.google/tensorflow/tensorflow/+/master:tensorflow/core/kernels/lrn_op.cc;l=114-123;drc=3c2220abe73e887d17db83653afb49c2d0beef2e). We would be happy to review a fix.

[2021-07-15 20:16] jvishnuvardhan commented on #50746
@yeshenyong Can you please explain the problem with little more details? Did you save a single model (savedmodel1) and inferencing on three different workers with the same data but noticing different results? Also, add any other details to resolve the issue faster. Thanks!

[2021-07-15 20:32] aaudiber commented on #50740
@kurudinesh There were two issues with the code:

1) The code was being saved as uncompressed data, but loaded as compressed data. The `compression` argument needs to match between `save` and `load`.
2) tf.numpy_function must return a numpy array, so the list you are returning must be converted to a list, e.g. with `np.asarray(ar)`

With these changes the below code runs successfully:

[code]

[2021-07-15 20:50] #50353 closed

[2021-07-15 21:07] Amzo commented on #50766
I'll put this on hold for now, and see if I can get tensorflow 2.5.x to build on FreeBSD once I finish through the documentation to create a toolchain to allow it to build, as it currently errors out about no toolchains being found for now. Mostly due to there being no support for FreeBSD in bazel toolchain, and currently no docker support.

I'll see if the problem still persists in the newer vers

[2021-07-15 21:37] sidhartha-roy opened #50793 "Serialize tf.keras Preprocessing layers"
I created some keras preprocessing layers using the following:
This example is for categorical columns but I could have done this for any type of preprocessing as shown in [Module: tf.keras.layers.experimental.preprocessing](Module: tf.keras.layers.experimental.preprocessing)
[code]
Now if I want to serialize this `encoding_layer` or the `categorical_col` there is no way to do this.

I tried pickl

[2021-07-15 22:34] aaudiber commented on #50693
Thanks for reporting this @guillaumekln! The issue was fixed in master but the fix wasn't cherry-picked to the release branch. It should be fixed by https://github.com/tensorflow/tensorflow/pull/50794

[2021-07-16 00:53] jocelynbaduria opened #50795 "Installed successfully the TensorFlow-gpu==1.15 but got error tensorflow.python.framework.errors_impl.InvalidArgumentError: Cannot place the graph because a reference or resource edge connects colocation groups with incompatible resource devices: /device:CPU:0 vs /device:GPU:0. The edge src node is input_producer , and the dst node is ReaderReadV2"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS BigSur
- TensorFlow inst

[2021-07-16 01:18] fsx950223 opened #50796 "ResourceVariable GC bug"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-16 01:28] rnett opened #50797 "Documented and more fine grained XLA auto-clustering flags in ConfigProto"
**System information**
- TensorFlow version (you are using): 2.5.0
- Are you willing to contribute it: Probably not

**Describe the feature and the current behavior/state.**
Currently, to enable XLA auto-clustering, you have to either use global configuration flags (`TF_XLA_FLAGS`) or `config.proto` options.  However, several options from the global flags are missing from `config.proto`, most impo

[2021-07-16 01:48] jvishnuvardhan commented on #50406
@Yurushia1998 Are you using TF1.x or TF2.x. I am asking it because you are using `tf.placeholder` (which is TF1.x) and mentioned above that you are using `TF2.3` (which is TF2.x). Please note that we are not supporting `TF1.x` anymore.

If you are using TF2.x, can you please try with any open source data or use random data from numpy to show the issue? Also, there were some memory issues with `TF2

[2021-07-16 01:50] superlxt commented on #50779
So you mean that although I use tf.compact.v1 to run the code on tf2.4, it is still executed by eager?
By the way, if I want to use tf.funcation to speed up, how should I implement it。
thanks

[2021-07-16 02:25] superlxt commented on #50779
At the same time, if I only use conv to build the network, tf1.2 and tf2.4 get the same speed. If tf.image.resize, unpool, conv_transpose are added after conv, the time consuming in tf2.4 will increase significantly

[2021-07-16 02:37] summa-code commented on #50781
Should i get the latest code and test it ? Let me know... I can do testing part of it.

[2021-07-16 02:50] AdamMiltonBarker commented on #50753
Did do thanks.

[2021-07-16 02:50] #50753 closed

[2021-07-16 03:01] Zengyf-CVer commented on #50785
@UsharaniPagadala
Instead of converting to tflite, but converting float32 type pb model to int8 type pb model, in other words, `(float32)pb=>(int8)pb`

[2021-07-16 03:18] akkshay0107 commented on #50734
ERROR: C:/tensorflow/tensorflow/core/protobuf/BUILD:65:17: ProtoCompile tensorflow/core/protobuf/conv_autotuning.pb.h failed (Exit -1073741515): protoc.exe failed: error executing command
  cd C:/bazel_build/xv6zejqw/execroot/org_tensorflow
  SET PATH=C:\msys64\usr\bin;C:\msys64\bin;C:\WINDOWS;C:\WINDOWS\System32;C:\WINDOWS\System32\WindowsPowerShell\v1.0
    SET PYTHON_BIN_PATH=C:/Users/Sundara R

[2021-07-16 03:19] seminelee commented on #46178
mark

[2021-07-16 03:25] akkshay0107 commented on #50734
i tried to build r2.5 by using git checkout r2.5 and python ./configure.py

this the buld command
bazel --output_user_root=C:\bazel_build build --config=opt --define=no_tensorflow_py_deps=true //tensorflow/tools/pip_package:build_pip_package

[2021-07-16 04:50] #39781 closed

[2021-07-16 05:01] Aiman-Shivani opened #50798 "Word Embeddings not Accuracte"
I am trying to build my own word2vec model using the code provided here
Link: - https://www.tensorflow.org/tutorials/text/word2vec

So i have even tried to increase the data as well for training the word embedding and i am able to achieve a good model accuracy but when i plot the word vectors on the Embedding Projector the distance between words or the word similarity is really bad, if i even use

[2021-07-16 05:44] sushreebarsa commented on #39985
@Svdvoort  could you please let us know if this issue is fixed for you and move this issue to closed status ,thank you !

[2021-07-16 05:56] sushreebarsa commented on #48545
@GatGit12 could you please let us know if this issue is fixed for you as per[ this comment](https://github.com/tensorflow/tensorflow/issues/48545#issuecomment-880707176),thanks!

[2021-07-16 05:56] tilakrayal commented on #50791
@LeonhardFeiner ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-16 06:12] sushreebarsa commented on #39834
@weichen456 this ticket is a duplicate of #32809  ,please let us know if we can close this issue ..thanks !

[2021-07-16 06:48] LeonhardFeiner commented on #50791
I created an issue there: https://github.com/keras-team/keras/issues/14937

[2021-07-16 06:48] #50791 closed

[2021-07-16 06:50] #50559 closed

[2021-07-16 07:44] tilakrayal commented on #50718
@Saduf2019 ,
I was able to reproduce the issue in tf v2.4 and v2.5.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/a083a178028c1b34c7b991001b62a9a2/untitled50718.ipynb).

[2021-07-16 07:50] #41271 closed

[2021-07-16 07:50] #42564 closed

[2021-07-16 07:50] UsharaniPagadala commented on #50781
@summa-code

Could you please try [this](https://github.com/tensorflow/tensorflow/tree/v2.5.0/tensorflow/python/keras/preprocessing) and let us if it helps.Thanks

[2021-07-16 07:51] tejal567 opened #50800 "Problem in adjust gamma function (tf.image.adjust_gamma)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Not applicable (NA)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: NA
- TensorFlow installed from (source or binary): NA
- TensorFlow version (use command below):  2.5.

[2021-07-16 08:24] 2er0 commented on #46685
Reproducible in version 2.5.0 as well

[2021-07-16 08:26] #39985 closed

[2021-07-16 08:33] 2er0 commented on #46685
Workaround: https://stackoverflow.com/questions/58969880/how-to-use-map-with-tuples-in-a-tensorflow-2-dataset

[2021-07-16 08:34] 2er0 commented on #40309
Workaround: https://stackoverflow.com/questions/58969880/how-to-use-map-with-tuples-in-a-tensorflow-2-dataset

[2021-07-16 09:36] GranMin commented on #27519
tf.config.run_functions_eagerly(True)
I fixed my problem by explicitly specify eager execution.
my tf version is 2.3.0

[2021-07-16 10:12] kaijennissen commented on #41760
@dathudeptrai Did you figure out a way to switch between training generator and discriminator based on an attribute? I'm working on a similar problem where I also want to train one network for a given number of steps and then switch between training the first and the second. A minimal example can be found [here](https://colab.research.google.com/drive/1qhz0bTGwYvwTSVxNr7WC7kCOgYXXNV0p?usp=sharing)

[2021-07-16 10:13] Koushik667 opened #50801 "Adding some Boosted tree ops to the 'allowed' list"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):2.4
- Are you willing to contribute it (Yes/No):Yes/will ne

[2021-07-16 10:15] dathudeptrai commented on #41760
@kaijennissen you need use self.optimizer.iterations % 2 == 0 for if condition for example. Do not use any python scalar, boolean :D.

[2021-07-16 10:29] UsharaniPagadala commented on #50788
@Yurushia1998

 Could you please provide the colab gist rather than a script,it will help me to analyse the issue better.Thanks

[2021-07-16 10:30] kaijennissen commented on #41760
@dathudeptrai That was fast, thanks!

[2021-07-16 11:18] rajeevdm commented on #41931
Hi team

Thanks a lot. Yes this can be closed now. Sorry for the delay in my
response.

Rajeev

On Fri, Jul 16, 2021, 3:37 AM sushreebarsa ***@***.***> wrote:

[2021-07-16 11:30] kurudinesh commented on #50740
@aaudiber Thank you for your corrections. Small suggestion please change `load` method to threw `FileNotFoundError` when it could not find dataset file in gzip file format.

[2021-07-16 11:34] tilakrayal commented on #50654
@rmothukuru ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/22cdd66c42b58dc3d2a09e1b6aaec601/untitled50654.ipynb).

[2021-07-16 11:45] SvenWarnke opened #50802 "tf.compat.v1.profiler.profile produces wrong flops on Conv2D"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): Pip
- TensorFlow version (use command below): 2.4.1
- Pyth

[2021-07-16 12:17] kurudinesh commented on #50740
I got single element of size (1,10) as output. I was expecting dataset to be of shape (10,1).

[2021-07-16 12:20] Yurushia1998 commented on #50788
Is this what you want: https://gist.github.com/Yurushia1998/404fc4bd55909768d1d90f2ffeb54c1a? Please let me know if you want something else

[2021-07-16 12:41] Zethson commented on #50233
Is Tensorflow 2.6.0 compatible with numpy 1.20?

[2021-07-16 12:53] hanshengchiu commented on #48545
Tested with 2.6.0-rc1 and got the following error with TF_GPU_ALLOCATOR=cuda_malloc_async:
[code]

Same error with TF_GPU_ALLOCATOR=cuda_malloc -
tensorflow/core/common_runtime/gpu/gpu_process_state.cc:205] Using CUDA malloc allocator for GPU.
Process finished with exit code -1073740940 (0xC0000374)

[2021-07-16 13:18] nouiz commented on #48545
Is it easy for you to share a reproduction?

[2021-07-16 13:20] nouiz commented on #48545
Also, which driver version do you use and which OS?

[2021-07-16 13:26] mohantym commented on #33755
I tried to run the code on colab with TF v2.5  after following  [this article](https://github.com/keras-team/keras/issues/14459) and didn't get error after removing this constraint `embeddings_constraint=UnitNorm `in the code .Please find the [gist here](https://colab.research.google.com/gist/mohantym/eb370120505877a14669c6d4eff3cb28/33755.ipynb). Thanks !

[2021-07-16 13:31] codingpy opened #50803 "make tf.rsqrt available!"
**System information**
- TensorFlow version: 2.5.0
- Are you willing to contribute it: Not Sure

Since TensorFlow 2.0.0, why `tf.rsqrt` is unavailable while `tf.square`, `tf.reduce_sum` and etc are not?

From my opinion, TensorFlow should acts as a math calculating framework, so it should provide some shortcuts for `tf.math` calculation. Like PyTorch, every calculation can be carried out via top-l

[2021-07-16 13:34] Ethylbenzol opened #59505 "Sucessful tflite conversion to uint8, but model has wrong box shape, class, and scores."
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x ] I am using the latest TensorFlow Model Garden release and TensorFlow 2.
- [x ] I am reporting the issue to the correct repository. (Model Garden official or research directory)
- [x ] I checked to make sure that this issue has not been filed already.

## 1. The entire URL of the file you are usi

[2021-07-16 13:51] #39403 closed

[2021-07-16 13:51] #50338 closed

[2021-07-16 13:51] #39566 closed

[2021-07-16 13:59] UsharaniPagadala commented on #50788
@rmothukuru

I was able to  replicate the issue reported here.Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/c2b9c6fc826c90737e1e9a5125ace181/ieg.ipynb#scrollTo=E3n3TIi_Fo93). Thanks

[2021-07-16 14:04] hanshengchiu commented on #48545
CUDA 11.2.0 and stock driver came with CUDA SDK.
OS: Windows 10 build 19042.1110.

[2021-07-16 14:07] hanshengchiu commented on #48545
Reproduction:
[code]

[2021-07-16 14:09] Saduf2019 commented on #50233
@Zethson
Please follow [this pr](https://github.com/tensorflow/tensorflow/pull/48935) for numpy 1.20 compatibility

[2021-07-16 14:14] nouiz commented on #48545
I didn't test this on Windows as I do not have a Windows computer setup.
Can you try this small scripts. It enable extra logging, So maybe it will help understand where it crashes:

[code]

[2021-07-16 14:16] nouiz commented on #48545
Note, I have a PR that update the VLOG. It isn't yet merged:
https://github.com/tensorflow/tensorflow/pull/50651

Do you know if there is a nightly build for windows? If so, testing it a day after it is merged could give better error.

[2021-07-16 14:35] dishkakrauch opened #50804 "Saving data as SequenceExample and reading TFRecords for LSTM"
Let's say I have a 3dimentional dataset with shape (sample, timesteps, features) and I want to save it with suitable tensroflow dataset format, e.g. using SequenceExample for further reading with TFRecord and using in LSTM. There is a dataset:

[code]

There is a model:

[code]

Let's try to save and read dataset using tensorflow API:

[code]

When I'm trying to fit model with tensorflow dataset i

[2021-07-16 14:46] tilakrayal commented on #50796
@ymodak ,
I was able to reproduce the issue in tf v2.4,2.5 and nightly.Please find the gist [here](https://colab.research.google.com/gist/tilakrayal/f4e3adeb5ecfc3647128c6e121ab3e68/untitled50796.ipynb).

[2021-07-16 14:53] tilakrayal commented on #50800
@tejal567 ,

In order to expedite the trouble-shooting process, could you please provide the complete code and dataset to reproduce the issue reported here.Thanks!

[2021-07-16 15:33] aaudiber commented on #50740
@kurudinesh That is happening because the numpy_function's `Tout` is set to `[tf.int64]` instead of `tf.int64`. As a result, the output of `parse_fn` being wrapped in an extra dimension. Removing the list around the `tf.int64` should give the expected (10, 1) shape

[2021-07-16 15:39] hanshengchiu commented on #48545
Same outcome. But this time I ran with CUDA 11.2.2:
[code]

[2021-07-16 15:42] Shadowman82 commented on #48015
I managed to solve this issue by using another function:

    vector<string> devs_gpu;

    auto gpu_factory = DeviceFactory::GetFactory("GPU");
    CHECK_TF_FN_RETURN(gpu_factory->ListPhysicalDevices(&devs_gpu));

    for(int i=0; i<devs_gpu.size(); i++)
    {
        unordered_map<string, string> details;
        CHECK_TF_FN_GOTO(gpu_factory->GetDeviceDetails(i, &details));
    }

[2021-07-16 15:43] #48015 closed

[2021-07-16 15:59] Neha10252018 opened #50806 "Issue running code on linux server remotely"
I am doing ssh to my university sever in order to run my code which makes use of large dataset, however when i run my code i am getting bellow error after feature extraction in the code, Can someone please help as i am doing my final year project and should rectify this within 2 days

2021-07-10 09:35:48.234847: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dy

[2021-07-16 16:27] nouiz commented on #48545
Can you try with CUDA 11.3 or CUDA 11.4? I do not have the setup to test on window. I do not know when someone can check it.
Also, how do you use CUDA on Windows? There is a few different way to do this.

[2021-07-16 16:56] ymodak commented on #50762
Looks like you are running into problems when trying to run [customized image classification](https://www.tensorflow.org/lite/examples/image_classification/overview#customize-model) example whereas the standalone example works successfully. Is that correct?

[2021-07-16 17:07] old-school-kid commented on #50779
@superlxt
Resizing image requires interpolation which are mathematically more expensive than matrix multiplication in case of convolution. As they are served into a graph the various tf.Operation objects are executed and are accelerated in case of graph execution while in Eager execution doesn't provide this opportunity of acceleration.

[2021-07-16 17:08] #50546 closed

[2021-07-16 17:08] #43753 closed

[2021-07-16 17:11] old-school-kid commented on #50779
Also even if you use tf.compat.v1 it uses Tensorflow 2 as backend and executes Eager Execution which is default.
You can find examples of @tf.function [here](https://www.tensorflow.org/api_docs/python/tf/function?version=nightly)

[2021-07-16 17:47] psobot opened #50807 "Using tf.function decorator on an instance method does not maintain a strong reference to self"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 11.4
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.5.0-rc3-213-ga4dfb8d1a71 2.5.0
- Python version: 3.8.9

**Describe the current behavior**

Expressed in a

[2021-07-16 17:52] miguelCalado commented on #50593
Problem solved! https://stackoverflow.com/a/68404933/8527630
Feel free to close this issue.
Thanks for all the help.

[2021-07-16 17:52] ymodak commented on #50471
Perhaps https://github.com/kendryte/nncase/issues can be the right place for this issue since your question is related to converting tflite to kmodel on nncase. Thanks!

[2021-07-16 17:52] #50471 closed

[2021-07-16 17:52] #50593 closed

[2021-07-16 17:59] ymodak commented on #50612
@arubiales Feel free to take stab on this. Thanks!

[2021-07-16 18:07] ymodak commented on #50296
Have you tried reducing your batch size to a smaller value in addition to limiting gpu memory growth?

[2021-07-16 18:26] ymodak commented on #50306
You may want to to refer https://github.com/tensorflow/tensorflow/blob/a4dfb8d1a71385bd6d122e4f27f86dcebb96712d/tensorflow/python/keras/utils/vis_utils.py#L67

[2021-07-16 18:33] hanshengchiu commented on #48545
11.4 gave the same error, even with cuda_malloc.
On the other hand, I was able to use cuda_malloc with TF2.5.0.

[2021-07-16 18:33] ymodak commented on #50738
This question is better asked on [TensorFlow Forum](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2021-07-16 18:33] #50738 closed

[2021-07-16 18:37] kaijennissen commented on #41760
@dathudeptrai Unfortunately that doesn't work. Using f.e. `if self.w_optimizer.iterations < 50:` yields the following error message
```OperatorNotAllowedInGraphError: using a `tf.Tensor` as a Python `bool` is not allowed: AutoGraph did convert this function. This might indicate you are trying to use an unsupported feature.```
This is strange because from my understand of the [docs](https://github.

[2021-07-16 18:37] ymodak commented on #50658
Can you please try with MSVC 2019 as mentioned in this tested build configurations chart
https://www.tensorflow.org/install/source_windows#cpu Thanks!

[2021-07-16 18:51] bylowerik commented on #50762
No, I have not done anything with TensorFlow in my code. I have just run CocoaPods, and then I cannot build.

[2021-07-16 19:08] #50372 closed

[2021-07-16 19:08] #50476 closed

[2021-07-16 19:20] hawkinsp commented on #13802
Just in case anyone encounters this bug again in the future, the underlying cause was most likely a bug in OpenBlas (https://github.com/xianyi/OpenBLAS/issues/2270), which is fixed at OpenBlas head.

I also changed TF to attempt to work around the issue when TF itself forks a subprocess by using `posix_spawnp()` in https://github.com/tensorflow/tensorflow/commit/051542c14d85ce8de8bae5822fa746d335c

[2021-07-16 19:35] Srkshaikh5 opened #50808 "Regarding Scroll for the nearest points"
When we make a  projector using the vectors and select the 100 nearest points, then for the name of points we can see in the bottom left is not scrollable to see more nearest points.

The area can be see  in the attached file.
![image](https://user-images.githubusercontent.com/37951124/125999818-e7cdec52-f761-4c67-9465-13a5b2b78282.png)

[2021-07-16 20:04] ishkabir1401 opened #50809 "I'm working in colab and changed `tf.gfile.GFile` to `tf.io.gfile.GFile` but still get this error"
@mihaimaruseac I'm working in colab and  changed `tf.gfile.GFile` to `tf.io.gfile.GFile` but still get this error
`AttributeError: module 'tensorflow' has no attribute 'gfile'
`

_Originally posted by @mitramir55 in https://github.com/tensorflow/tensorflow/issues/31315#issuecomment-643277101_

[2021-07-16 20:05] ishkabir1401 commented on #50809
I tried the way mentioned but still it is not working

[2021-07-16 20:10] UsharaniPagadala commented on #50789
@chudyandrej

Could you please refer this [comment](https://stackoverflow.com/questions/65405705/undefined-symbol-zn10tensorflow8opkernel11tracestringepns-15opkernelcontexteb/65467331), and also refer the [documentation,](https://www.tensorflow.org/install/pip#virtual-environment-install) and let us know if it helps.Thanks

[2021-07-16 20:32] japm48 commented on #35515
I hope that the fact that this is not consistent with the functional API motivates to implement this.

Also related: issue #35995.

[2021-07-16 20:36] deekshant-w commented on #32873
Did anyone find a solution to this? I have the same issue on GTX 1660 Ti.

[2021-07-16 21:33] ymodak commented on #50809
I tried https://www.tensorflow.org/io/tutorials/avro tutorial which shows [tf.io.gfile.GFile](https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile) usage example. I didn't see AttributeError raised.
Perhaps you can confirm at your end. Thanks!

[2021-07-16 21:48] UsharaniPagadala commented on #50793
@sidhartha-roy

we see the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) has not been filled please do so,  and provide the colab gist, it will helps us to analyse better,

also refer [this](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/keras/utils/generic_utils.py#L515), and let us know if it he

[2021-07-16 21:56] UsharaniPagadala commented on #50804
@dishkakrauch

Could you please share the colab gist,it will help us analyse better.

and also refer similar issues  [link1](https://github.com/keras-team/keras/issues/7403) , [link2](https://ai-pool.com/d/input-0-is-incompatible-with-layer-lstm--expected-ndim-3--found-ndim-2-in-keras), and let us know if it helps.Thanks

[2021-07-16 21:56] gt2416 commented on #50766
I see on https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=250646 you said you have not submitted the fix, is there any reason why.
I am trying to build photoprism (great google photo replacement), and it needs tensorflow :(

[2021-07-16 22:19] jbroot commented on #47691
I'd argue that current compatibility is more important than assuring backwards compatibility. However, backwards compatibility could be placed on the TF backlog.

[2021-07-16 22:27] UsharaniPagadala commented on #50808
@Srkshaikh5

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced] .

and also refer the similar [issue](https://gith

[2021-07-16 22:47] UsharaniPagadala commented on #50440
@Saduf2019

I was able to replicate the issue reported here.Please find the [gist](https://colab.research.google.com/drive/1O_9FDa584VYd-CcRjrKl86uc397VzglL?resourcekey=0-H6gHS07dZuDaa8wODjRASw).Thanks

[2021-07-16 23:00] UsharaniPagadala commented on #50785
@Zengyf-CVer

This is not Build/Installation or Bug/Performance issue. Please post this kind of support questions at [Stackoverflow](https://stackoverflow.com/questions/tagged/tensorflow) / TF [Forum](https://discuss.tensorflow.org/) . There is a big community to support and learn from your questions. GitHub is mainly for addressing bugs in installation and performance.
and move this to closed sta

[2021-07-16 23:21] miaout17 commented on #37432
I believe we supported BatchMatMul in TensorFlow Lite natively long time ago.
This should be already resolved closing.

[2021-07-16 23:21] #37432 closed

[2021-07-16 23:48] Amzo commented on #50766
The patch only fixes the import of tensorflow by a broken stage in the Makefile, a lot of stuff is still missing. photoprism only needs libtensorflow which the makefile builds, if you're on freebsd you can build tensorflow from the port and take the library files from the build directory until i finish working out issues with the port. Though this is off topic. i should have things fixed in a day

[2021-07-16 23:54] gt2416 commented on #50766
Oh ok wow, thanks a bunch! and take your time. Silly me thought you fixed it but just haven't submitted it yet.

[2021-07-17 02:26] ymodak commented on #50798
duplicate #https://github.com/tensorflow/tensorflow/issues/50645

[2021-07-17 02:26] #50798 closed

[2021-07-17 03:03] dathudeptrai commented on #41760
@kaijennissen you need wrap `train_step` by @tf.function or use tf.cond rather than if. BTW, you need to use `Tensor` to perform if condition, do not use any python object in the if condition. For example, if A <= 5, A must be a tensor object such as optimizer.iterations.

[code]

[2021-07-17 08:00] BrianHwang opened #50812 "TensorFlow Certificate Network - region - australiasia"
https://developers.google.com/certification/directory/tensorflow

select australia for region is not available due to incorrect name shown as australiasia.

selecting australiasia shows noting nether australia or Asia.

I just passed Tensorflow exam and want to show my profile correct in australia.

![image](https://user-images.githubusercontent.com/24234662/126030411-4bf4f5e5-917e-46d9-bc13-9c025

[2021-07-17 08:24] Aiman-Shivani commented on #50645
Is this issue solved in any way? Because even i am getting the same issue of bad word embeddings after trying a lot

[2021-07-17 09:09] bnavigator commented on #47691
As I said 2 months ago, I haven't seen anything that breaks compatibility with a reasonable recent numpy. They do not change the API between years long deprecations in between.

[2021-07-17 09:36] RenzhiDaDa commented on #30856
thanks,it is useful for me

[2021-07-17 10:03] kurudinesh commented on #50740
@aaudiber
Thank you.

I am still unclear about `Tout – A list or tuple of tensorflow data types or a single tensorflow data type if there is only one, indicating what `func` returns.`  Did they mean list or tuple of single tensorflow data type or can we mix it like [tf.int32,tf.double]?

In the below code I am trying to return data array of size `[432,3]`, type `numpy.float64` along with its label

[2021-07-17 10:32] jaskiratsingh2000 commented on #50636
Hey @dlyubimov @abattery  I am quite beginner and super interested to begin my contribution towards this repo and this issue seems interesting to me. Can you please let me know that where exactly do I have to make changes or add functionalities?
Any examples corresponding to this would be highly appreciable. Thanks!

[2021-07-17 10:54] thusinh1969 commented on #35030
Calling a fit can consume 100G bytes of RAM and growing, crash machine :( ... ! HELP !

Steve

[2021-07-17 10:58] thusinh1969 commented on #40942
Calling a fit (CPU, for testing mostly) a ESRGAN GAN model with 46M parameters can suddently consume +100G bytes of RAM and keep growing, finally it crashes machine with 256G :( ... ! TF 2.4.1.

HELP !

Steve

[2021-07-17 12:06] 870746602 commented on #46740
well,  I have succeeded according to your program,  but How to use it in OpenCV.

I tried the following:

cvNet = cv.dnn.readNetFromTensorflow(r"D:\Vs_Projects\py_Project\TF-Total\ObjDetection\Tensorflow\workspace\models\my_ssd_mobnet\export\saved_model\ssd_mobilenet_v2_320x320_coco17_tpu-8_freeze_graph.pb")

img = cv.imread(r"D:\Vs_Projects\py_Project\TF-Total\ObjDetection\Tensorflow\workspace\im

[2021-07-17 13:01] Atef-Magdy opened #50814 "AttributeError: module 'tensorflow' has no attribute 'report_uninitialized_variables'"
I'm using Tensorflow version 2 and get this issue when i run this code
[code]
Error : AttributeError: module 'tensorflow' has no attribute 'report_uninitialized_variables'

[2021-07-17 15:13] nectario commented on #50735
This error also happens with the tf-nightly image.

[2021-07-17 16:45] nectario commented on #50735
I got it to work when I use the tensorflow Docker image for TF 2.4.2:

tensorflow/tensorflow:2.4.2-gpu-jupyter

So it is clearly a problem with later versions of CUDA/CUDNN!

[2021-07-17 17:07] playground commented on #38260
Hi, I'm seeing the same error with tfjs-node v3.8.0

Running
RPi 4
Linux raspberrypi 5.10.17-v7l+ #1421 SMP Thu May 27 14:00:13 BST 2021 armv7l GNU/Linux

ran npm rebuild @tensorflow/tfjs-node --build-from-source

tfnode.node.loadSavedModel(modelPath)
throws these errors

[code]

[2021-07-17 17:08] #36740 closed

[2021-07-17 17:08] #39627 closed

[2021-07-17 17:08] #41671 closed

[2021-07-17 17:08] #27896 closed

[2021-07-17 17:51] #50814 closed

[2021-07-17 18:01] ruler501 commented on #48545
I'm getting the same with 11.2 and 11.4 with latest drivers on windows. 26.0-rc1 crashes with the debug dump reporting python heap corruption with cuda_malloc or cuda_malloc_async. I can provide the dump file if that would help.

[2021-07-17 18:08] #40035 closed

[2021-07-17 18:08] #40635 closed

[2021-07-17 21:50] ahmadchalhoub opened #50817 "TF2 ‘saved_model.pb’ from ‘exporter_main_v2.py’ is different than ‘saved_model.pb’ from official TF2 Zoo"
Please make sure that this is a bug. As per our
GitHub Policy,
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template

System information

Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
Mobile device (

[2021-07-17 21:54] ahmadchalhoub commented on #50817
I have had some discussion about this on the tensorflow/models repo and they suggested that I ask for https://github.com/tensorflow/models/issues/10120 assistance here. Refer to for details.

[2021-07-17 22:23] bhack commented on #50817
Have you tried to `sha256sum` the savedmodel in the official `tar.gz` with the one exported yourself with TF 2.4.0 from that same `tar.gz`?

[2021-07-17 22:34] ahmadchalhoub commented on #50817
I have not heard of `sha256sum` before to be honest and not sure how to use it. Any guidance/details you could help with? What would I be looking for exactly?

[2021-07-17 22:45] bhack commented on #50817
E.g. on Ubuntu https://help.ubuntu.com/community/HowToSHA256SUM

If the process is determinstic you could have that same hash in the end with 2.4.0.

[2021-07-17 22:47] nectario commented on #50735
This is the Google Colab with the code that triggers this error. If you run this here, it will not happen in the colab notebook as it happens mainly in the Docker image tensorflow/tensorflow:latest-gpu-jupyter

Code:

https://colab.research.google.com/drive/1E_IZ3zmPrQHbuiYl47gvL591hHfS-VkN#scrollTo=ts7l0877A0_d

[2021-07-17 22:49] ahmadchalhoub commented on #50817
Thank you for the suggestion! I do not have access to my computer at the moment but I will try it within the coming 2 days and I will keep you updated.

[2021-07-17 23:50] bhack commented on #50817
I hope that now you can understand my comment at https://github.com/tensorflow/models/issues/10120#issuecomment-881955457

So If the process is determinstic also the model garden team could reproduce exaclty that same hash on the savedmodel in `tar.gz` with a new export using a specific fixed TF and model garden version (exaclty the one that produced the saved model in the `tar.gz`).

[2021-07-18 00:43] rnett commented on #50681
This would be useful for me, as well.

[2021-07-18 02:14] cowwoc commented on #18858
Can someone reopen this issue since it was never really resolved?

[2021-07-18 04:08] #38426 closed

[2021-07-18 05:08] #42170 closed

[2021-07-18 05:08] #40935 closed

[2021-07-18 06:50] zhaozheng09 commented on #43905
batch().map() is faster(2X) than map().batch(), because the former is parallel decode, we need batch().map() support pinned host memory .

[2021-07-18 07:00] Patrick-CH opened #50819 "Which version of CUDA and cuDNN should i use with tensorflow2.5.0 ?"
https://tensorflow.google.cn/install/source_windows#gpu
In this page, I can't figure out what version of CUDA and cuDNN should I use with tf2.5.0.
When I use my tensorflow, it can't recognize my GPU.
it shows:
2021-07-18 14:45:58.223694: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2021-07-18

[2021-07-18 07:39] brightening-eyes commented on #50819
you need cuda 11.2 and cuDNN 8.1.0
also,, you should copy cuDNN to cuda's path.
type nvcc --version in your cmd/shell window and you should get the version of your cuda. if you don't get that, it means you havent properly installed cuda and/or you havent added it to path

[2021-07-18 07:43] sjtusmartboy commented on #36278
Please reopen it. Tensorflow should  support it

[2021-07-18 07:52] Patrick-CH commented on #50819
Thanks！

[2021-07-18 08:01] ymodak commented on #50819
https://www.tensorflow.org/install/source_windows#gpu

[2021-07-18 08:06] ymodak commented on #50710
This question is better asked on [TensorFlow Forum](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2021-07-18 08:14] ymodak commented on #50158
You may use `tflite_runtime` package to import `Interpreter`
https://www.tensorflow.org/lite/guide/python#about_the_tensorflow_lite_runtime_package

[2021-07-18 08:21] tibbe opened #50820 "Unclear how to adapt multiple Keras preprocessing layers"
## URL(s) with the issue:

https://www.tensorflow.org/guide/keras/preprocessing_layers

## Description of issue (what needs changing):

### Clear description

Currently all examples of calling `adapt()` on a preprocessing layer with a `Dataset` argument assumes a single input feature (and thus a single `Input`). In a model with multiple `Input`s and `PreprocessingLayer`s it's unclear how to use `a

[2021-07-18 08:31] tibbe commented on #50820
More generally, it seems like `adapt()` is in the wrong place. It seems like it should be part of the model, just like `fit()`, so all layers can be discovered and adapted together: `model.adapt(dataset)`

[2021-07-18 08:44] tibbe commented on #50820
https://www.tensorflow.org/recommenders/examples/featurization seems to be the best example of how to work with several inputs. Perhaps https://www.tensorflow.org/guide/keras/preprocessing_layers clarifying the approach (e.g. use `Dataset.map` repeatedly). Seems rather inefficient though as you need one pass over the data per feature instead of adapting them all in a single pass.

[2021-07-18 09:02] hughlee815 commented on #32809
I think it  counts multiply as two flops while accumulate one.

`import tensorflow as tf
from tensorflow.python.keras.engine.base_layer import Layer
from tensorflow.keras.layers import Conv2D
from tensorflow.python.profiler.model_analyzer import profile
from tensorflow.python.profiler.option_builder import ProfileOptionBuilder
print('TensorFlow:', tf.__version__)

model = tf.keras.applications.Res

[2021-07-18 11:00] Saduf2019 commented on #50779
@superlxt
Kindly open this issue in discussion forum/stackoverflow and move it to closed status here.

[2021-07-18 11:11] Saduf2019 commented on #50795
@jocelynbaduria
Please refer to [this issue](https://github.com/tensorflow/tensorflow/issues/30748) with similar error, and let us know.

[2021-07-18 11:16] rafiqhasan opened #50821 "TF 2.5 | preprocessing.CategoryCrossing behavior different than feature_column.crossed_column"
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
- TensorFlow version (use command below): 2.5( All 2+ )
- Python version: 3.7

**Describe the current behavior**
When using the new `experimental.preprocessing.CategoryCrossing` layer the layer returns values like `[[b'1_X_2_X_3'], [

[2021-07-18 11:16] Saduf2019 commented on #50783
@Gojo1729
Could you please use stable version of tf and let us know if you still face the error, you may try with tf 2.4.1 or tf 2.5
Ensure you have the system requirements verified [os/python 64 bits, avx support]

[2021-07-18 11:38] sushreebarsa commented on #41931
@rajeevdm thank you for your response ,closing this issue

[2021-07-18 11:38] #41931 closed

[2021-07-18 13:30] pranathibl opened #50822 "Setting of Number of Threads for TFLite Interpreter API"
**System information**
- TensorFlow version (you are using): 2.4.1
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

I am using TFLite  label image example - https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/label_image/label_image.cc

In this example, We are setting number of threads at line number 238.
[code]

[2021-07-18 14:09] 01-vyom opened #50823 "Dark mode not working for `metric_names` attributes of `tf.keras.Model`"
## URL(s) with the issue:

https://www.tensorflow.org/api_docs/python/tf/keras/Model#attributes_1

## Description of issue (what needs changing):

The `metrics_names` attribute section of `tf.keras.Model` doesn't work properly while turning on dark mode.

<img width="629" alt="Screenshot 2021-07-18 at 7 32 01 PM" src="https://user-images.githubusercontent.com/46242526/126070193-287588da-0504-4807-

[2021-07-18 14:25] chethanjjj commented on #50710
Hmmm that's a valid place to ask too, but how is this not a bug? Theoretically, both should give the same value if all weights and biases are zeroed out and you were able to reproduce it.

[2021-07-18 14:56] giuseppefilitto commented on #31412
same here, TF 2.5.0 native version for apple silicon MacBook

[code]

[2021-07-18 15:50] slala2121 opened #50824 "Unknown: input/output error"
When running my training script, I encounter this error inconsistently for different tfrecords (in the run below it was 11, but this number changes). I don't think it's an issue with the particular file mentioned below as I've been able to read every tfrecord I'm using with a separate script.

Unknown: dataset-train.tfrecord-00011-of00032; Input/output error
[[{{node MultiDeviceIteratorGetNextShar

[2021-07-18 16:31] rsesha commented on #50821
Thank you. I will try my best to bring it to some people’s attention.
Ram

On Sun, Jul 18, 2021 at 7:37 AM Hasan Rafiq ***@***.***>
wrote:

[2021-07-18 16:57] Saduf2019 commented on #47523
@codePerfectPlus
As the request for object detection problem is resolved please move this to closed status.

[2021-07-18 18:25] jocelynbaduria commented on #50795
@Saduf2019 I upgraded the version to tensorflow==2.5.0 still got an error.

see error below, running the code main.py in Colab.

2021-07-18 18:22:40.196041: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
['/content/drive/Shareddrives/Eranti-Vijay-Su21-2/code/Updated_SELFIE/SELFIE/SELFIE/main.py', '0', 'CIFAR-100', 'DenseNet-25-

[2021-07-18 19:35] dishkakrauch commented on #50804
@UsharaniPagadala hey, your are not related to my problem with TFRecords.
Have you read all description of my question?
Here is colab link - https://colab.research.google.com/drive/1uOT4Mx7oP44HRqvKok9HVWjEBvcLSJuj?usp=sharing

[2021-07-18 19:37] Nizarazo commented on #49910
Hi @jvishnuvardhan

I am still waiting for the code owner to fix it any idea what is the status of it?
I have been waiting more than one month already since 16.6.

Thanks

[2021-07-18 19:43] rafiqhasan commented on #44005
Team, you have been able to reproduce this issue all the way from version 2.3.1 but when can we expect a solution ?

[2021-07-18 20:13] achintya-7 commented on #44000
Wait I wanted to ask
Does 1660ti even have cuda cores for tensorflow

[2021-07-18 21:06] mihaimaruseac commented on #47691
TF is Google first. If Google code uses a certain version of a TF dependency we have to use/support that in OSS too

[2021-07-18 21:29] mihaimaruseac commented on #50809
Please fill in issue template. Please make sure you are using TF 2.x. Please post full error and code sample.

Without a reproducer we cannot do anything here.

[2021-07-19 01:34] antonasiri commented on #21742
It worked for me, tnx a lot.

[2021-07-19 01:46] zhaozheng09 opened #50825 "dataset support prefetch_to_device"
If model in the device(GPU) and dataset in the host(CPU), the data output by dataset must be memcpyH2D, All compute graph spend long time to wait memcpyH2D done.
I think we need a queue to cache output of dataset. so I find  https://github.com/tensorflow/tensorflow/issues/43905, this issues tell me we can use ```prefetch_to_device ``` by ```map().batch()``` or ```experimental::map_and_batch```. Bu

[2021-07-19 02:05] austinpagan commented on #12659
Are we AGREED that the consensus is max and min should always return NaN if either of the inputs to the function is a NaN?
I still see some suggestions in some places that it should in fact return the non-NaN value...

[2021-07-19 02:41] PINTO0309 opened #50826 "Cross-compilation error by Bazel in pip_package of TensorFlow Lite in r2.6 or v2.6.0-rc1 (armhf/aarch64)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04 (HostPC), Ubuntu 16.04 (Docker)
- TensorFlow installed from (source or binary): source
- TensorFlow version: r2.6, v2.6.0-rc1
- Python version: 3.7 (Docker)
- Bazel version (if compiling from source): 3.7.2 (Docker)

**Describe the problem**
Abort by building the pip_package of TensorFlow Lite with Bazel

[2021-07-19 03:07] RanaBan opened #50827 ""ModuleNotFoundError", Some times the import of "tensorflow_addons" doesn't take place"
Some time the import works, some time it doesn't.
    `!pip install --user tensorflow-addons`
    `import tensorflow_addons as tfa`

Output:
Collecting tensorflow-addons
  Downloading https://files.pythonhosted.org/packages/66/4b/e893d194e626c24b3df2253066aa418f46a432fdb68250cde14bf9bb0700/tensorflow_addons-0.13.0-cp37-cp37m-manylinux2010_x86_64.whl (679kB)
     |████████████████████████████████|

[2021-07-19 03:48] dou3516 commented on #44750
the same issue

[2021-07-19 03:59] johnmaccormick opened #50828 "binary_crossentropy() usage example is misleading"
## URL(s) with the issue:
https://www.tensorflow.org/versions/r2.5/api_docs/python/tf/keras/losses/binary_crossentropy

The same problem occurs across many versions and aliases of this function.

## Description of issue (what needs changing):
The "standalone usage" example appears to be misleading, because it implies that rows and/or columns of the `y_pred` parameter should sum to 1.0.

As I am ne

[2021-07-19 04:28] saikumarchalla commented on #50827
@RanaBan  Please follow this [link](https://pypi.org/project/tensorflow-addons/) to  install tensorflow-addons package.

I tried to import tensorflow addons on [colab](https://colab.research.google.com/gist/saikumarchalla/19580a43954bc479e5362d6cb8727f13/untitled113.ipynb) and it is working fine but not sure why it is not working some times.  Could you please try in virtual environment and let us

[2021-07-19 04:37] multiverse-tf commented on #46079
@ek9852, this issue looks quite stale now, and I'm closing this issue. If this issue still happens to you, feel free to re-open it. Thx!

[2021-07-19 04:37] #46079 closed

[2021-07-19 04:57] saikumarchalla commented on #50809
@ishkabir1401  If you are using TF 1.x, change import tensorflow as tf to import tensorflow.compat.v1 as tf and it works.

As suggested by @mihaimaruseac, Please fill the issue template. Thanks!

[2021-07-19 04:59] saikumarchalla commented on #50806
@Neha10252018 It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-tea

[2021-07-19 05:06] tilakrayal commented on #50807
@rmothukuru  ,
I was able to reproduce the issue in tf v2.4,v2.5 and nightly.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/ae0b8c407b3ab0c59e326708f97f7441/untitled50807.ipynb).

[2021-07-19 05:08] #50576 closed

[2021-07-19 05:08] #50582 closed

[2021-07-19 05:09] saikumarchalla commented on #50824
@slala2121 Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-07-19 05:10] saikumarchalla commented on #50802
@SvenWarnke  It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team

[2021-07-19 05:28] Koushik667 opened #50829 "Error while building tensorflow from source."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), wuie only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Mac Os Big sur
- Mobile devic

[2021-07-19 05:31] Koushik667 commented on #50801
In order to do code changes i have tried to build tensorflow from source in my mac , But it gave me an error in the last step where we install the wheel file of tensorflow through pip, i have raised the following case for this #50829 .Please let me know how i can proceed.

[2021-07-19 06:18] SwatiSawant13 commented on #27318
Bhisham-Sharma did you find the solution for validation_data?

[2021-07-19 07:01] RanaBan commented on #50827
Due to scarcity of resources, I use colab.

The module imported this time and working fine.

[2021-07-19 07:01] #50827 closed

[2021-07-19 07:05] shawnwang18 opened #50832 "tf.function runs correctly in eager mode, but breaks in graph mode"
### System information

= check python ===================================================
python version: 3.8.10
python branch:
python build version: ('default', 'Jun  2 2021 10:49:15')
python compiler version: GCC 9.4.0
python implementation: CPython

== check os platform ===============================================

== are we in docker =============================================
Yes

== co

[2021-07-19 07:21] mohantym commented on #27289
@dprylipko We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.4 or later version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Hence moving this to closed status.Thanks!

[2021-07-19 07:21] #27289 closed

[2021-07-19 07:30] mohantym commented on #34242
Was able to replicate the issue with TF v2.5 ,after removing "`print(tf.constant(3)`)" for sake of simplicity, was able to run both session without hanging first session,please find the [gist ](https://colab.research.google.com/gist/mohantym/9c1a3d1f4f078bf0efbd4e6d8a8db27a/34242.ipynb#scrollTo=RVf58TTSs_UQ)here ..Thanks!

[2021-07-19 07:39] mohantym commented on #30712
Was able to replicate the issue with TF v2.5 ,please find the [gist ](https://colab.research.google.com/gist/mohantym/690e34aaab9e3374801dd3e1c5aeb4bd/30712.ipynb#scrollTo=c_Oq_mrNojUX)here ..Thanks!

[2021-07-19 07:42] Flamefire commented on #50790
Same happens with 2.5.0

[2021-07-19 07:46] tejal567 commented on #50800
You can take any image and call tf.image.adjust_gamma on it. You will see that range of image pixel values is changed. This should not happen. Suppose a person calls this function on RGB images where pixel value of each channel is between 0 and 255. After using this function it will no longer remain between 0 and 255. We can provide an argument in this function to preserve range.

[2021-07-19 08:05] vulkomilev commented on #48167
@bhack  can you help with me with the organization of the project?

[2021-07-19 08:06] #47523 closed

[2021-07-19 08:08] #45590 closed

[2021-07-19 08:08] #50125 closed

[2021-07-19 08:08] #33986 closed

[2021-07-19 08:24] Lihengwannafly opened #50833 "tensorflow estimator how to export sub-graph"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 19.04
- TensorFlow version (use command below): 1.14.1
- Python version: 3.7

[code]
when i want to export the model, the error occurs:
[code]
I guess it's because I compute the gradient with **loss_a** and then u

[2021-07-19 08:27] Saduf2019 commented on #50795
@jocelynbaduria
Can you please share the code your running, or try it on colab and share a gist with us.

[2021-07-19 08:31] jagan-mathematics commented on #20663
You are passing the weights directly to the "embedding_column" layer, but it is expecting callable object.

Best way is to create an initializer class and pass it to the embedding_column like this

[code]

[2021-07-19 08:32] rmothukuru commented on #50803
@codingpy,
The **`Tensorflow API`** for **`rsqrt`** is available as [tf.math.rsqrt](https://www.tensorflow.org/api_docs/python/tf/math/rsqrt?hl=en). Is this what you are looking for? Thanks!

[2021-07-19 08:42] weichen456 commented on #39834
Ok

[2021-07-19 08:44] sushreebarsa commented on #39834
@weichen456 Thank you for your response. closing this issue.

[2021-07-19 08:44] #39834 closed

[2021-07-19 08:57] codingpy commented on #50803
Yes, I know. But I also wanna know that:
  - Why tf.sqrt are available while tf.rsqrt are not?
  - Why some math functions are removed from top-level module since 2.0.0?

[2021-07-19 09:08] Haag-se commented on #50418
Making sure that there are no cache misses is a good thought. To test it I've limited the code to run on one core and closed all other processes using the same cpu. The results are the same unfortunately. Speed is degrading fast after the latest invoke.

The model is tiny by purpose. Latency is extremely important for my use case, event driven high-frequency trading. Cutting a hundred microseconds

[2021-07-19 10:08] ChrisChiasson opened #50835 "There should be No expansion ReLU on MobileNet v2 bottleneck"
I argue that this line should be removed:

https://github.com/tensorflow/tensorflow/blob/a4d25192f0340b7786760d57e6b5859e561d9b49/tensorflow/python/keras/applications/mobilenet_v2.py#L450

The code seems wrong vs. the [MobileNet v2 paper](https://arxiv.org/pdf/1801.04381.pdf), **which this code is supposed to faithfully implement**, for the following reasons:

The paper uses all of Figure 1 (read

[2021-07-19 10:08] hanshengchiu commented on #48545
Not likely Windows 11's issue. I'm running Windows 10 without insider preview.

[2021-07-19 10:11] hanshengchiu commented on #48545
Not using container. Just install CUDA SDK (but without NVTX and PhyS), cudnn, and stock driver that came with SDK.

[2021-07-19 11:28] kotran88 opened #50837 "'utf-8' codec can't decode byte 0xc1 in position 103: invalid start byte"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-19 11:33] Saduf2019 commented on #50837
@kotran88
Could you please refer to [this link](https://stackoverflow.com/questions/22216076/unicodedecodeerror-utf8-codec-cant-decode-byte-0xa5-in-position-0-invalid-s) and let us know. [[link1](https://www.edureka.co/community/51644/python-unicodedecodeerror-codec-decode-position-invalid)],[[link2](https://github.com/llSourcell/tensorflow_chatbot/issues/17#issuecomment-866719858)]

[2021-07-19 11:47] YannPourcenoux opened #50838 "TFLite convertion bug: NumDimensions(input) != 4 (3 != 4)Node number 0 (RESIZE_BILINEAR) failed to prepare."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow installed from (source or binary): pip
- TensorFlow version (use command below): 2.4.2
- Python version: 3.6.9

**Describe the current behavior**
I am trying to quantize the `tf.image.resize

[2021-07-19 11:59] YannPourcenoux commented on #50838
the dataset generator should return `[image]` it is a mistake form my side.

[2021-07-19 11:59] #50838 closed

[2021-07-19 12:01] RicDen commented on #43665
I am having the same error message, but on the CPU. Has this issue been resolved or a work around been found?

[2021-07-19 12:22] vulkomilev commented on #50829
I think that you can try to build it without clang .

[2021-07-19 13:40] brunovollmer commented on #50514
Solved by building myself. Thanks for the help!

[2021-07-19 13:40] #50514 closed

[2021-07-19 13:48] ahmadchalhoub commented on #50817
I am closing this issue since it has been resolved on the original issue post (https://github.com/tensorflow/models/issues/10120)

[2021-07-19 13:48] #50817 closed

[2021-07-19 14:08] joshua-cogliati-inl commented on #47691
Um, I am not sure what you are talking about.  The pull request https://github.com/tensorflow/tensorflow/pull/48935 makes 3 changes:
 1.  Switches from calling numpy.prod to tensorflow..python.ops.math_ops.reduce_prod
 2. Changes some shape constants from floats to integers (things like 1.0 -> 1)
 3. Updates which numpy versions are supported

None of those should cause any backwards compatibility

[2021-07-19 14:31] Saduf2019 commented on #50812
@BrianHwang
Kindly open a tf discussion forum issue for this as it is not a bug or feature request, Please post this kind of support questions at Stackoverflow. There is a big community to support and learn from your questions.
Thanks!

[2021-07-19 14:32] cantonios commented on #50803
@codingpy the move was for better modularization.

The `sqrt` function is also now under `tf.math`, and is not documented as being top-level anymore (although the example in the documentation does use it at the top level... that should be updated).  In fact, all the math ops were moved - we just happen to export some at the top-level still, mainly for backward compatibility for some existing model

[2021-07-19 14:32] #50803 closed

[2021-07-19 15:22] bethven opened #50840 "tensorflow.python.data.ops.dataset_ops.BatchDataset to HDF5"
Hello,
I need to load large image datasets (JPEG and other types) with tensorflow and then transform them to HDF5, I have loaded the dataset with the following code, but I don't know how to transform it to HDF5.**

img = tf.keras.preprocessing.image_dataset_from_directory(
    '/home/tiny-imagenet-200/train/',
    labels="inferred",
    label_mode="int",
    class_names=None,
    color_mode="rgb",

[2021-07-19 15:26] jonathanlawhh opened #50841 "tensorflow-serving-apt signature key expired"
### System information
- OS Platform and Distribution: Ubuntu 1804, Windows - Dockerfile, Google Cloud Build (Dockerfile)
- TensorFlow installed from (source or binary): apt

### Problem
tensorflow serving apt key is expired
[https://www.tensorflow.org/tfx/serving/setup#installation_2](https://www.tensorflow.org/tfx/serving/setup#installation_2)

**Command to run**
[code]

**Error**
GPG error: htt

[2021-07-19 15:36] Koushik667 commented on #50829
Hi vulkomilev,
Thanks for the reply.

Can you please tell how i can build it without clang? I pressed N when it asked the following option in configuration.
Do you wish to download a fresh release of clang? (Experimental) [y/N]: N
Clang will not be downloaded.

[2021-07-19 15:36] ying-hao commented on #36375
I still have this issue today. Could I know if it has been solved?

[2021-07-19 15:37] vulkomilev commented on #50829
Hmm that is strange let me check

[2021-07-19 15:59] tilakrayal commented on #50828
@johnmaccormick ,
Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-07-19 16:01] tilakrayal commented on #50833
@Lihengwannafly ,

We see that you are using tf version 1.14, 1.x is not actively supported, please update to 2.x and let us know if you are using same issue.Thanks!

[2021-07-19 16:14] WayneHsiao0225 opened #50842 "tensorflow does not recognize gpu"
**System information**
- OS Platform and Distribution : Linux Ubuntu 20.04.2 LTS
- TensorFlow version: tensorflow-gpu 2.5.0
- Python version: Python 3.8
- Installed using virtualenv? pip? conda?:  pycharm venv
- GPU model and memory: Nvidia TU102[TITANRTX]
- CUDA/cuDNN version: CUDA 10.1 / 11.1
![](https://i.imgur.com/KQOzYES.png)
![](https://i.imgur.com/DamemJ7.png)

**Describe the problem**
I ra

[2021-07-19 16:23] jackaraz opened #50843 "`case` and `cond` executes all the functions within"
Hi, I'm trying to execute some condition-dependent functions where each function needs to contract tensors differently depending on their shapes, for instance. However, I realised that `tf.cond` and `tf.case` are executing all functions regardless of the condition. Prepared the following code as an example;

[code]
When this code is executed without the decorator, I get the correct answer but with

[2021-07-19 16:28] dlyubimov commented on #50636
we'll consider a contribution, time allowing

[2021-07-19 16:32] haozha111 commented on #50448
@lu-wang-g Hi Lu, since this is related with the Java API, do you know if this is the recommended way to do resizing in Java? Is there any API that the TF Lite support library can provide here? Thanks!

[2021-07-19 17:08] jvishnuvardhan commented on #36375
@ying-hao As this an old issue, can you please open a new issue with a simple standalone code to reproduce the issue? Thanks!

[2021-07-19 17:25] xhae commented on #46821
Now multiple subgraph calibration is supported with https://github.com/tensorflow/tensorflow/commit/cd5a9ad1338b01f5fd8ce64ed86ad09bf26468ee

[2021-07-19 17:26] xhae commented on #50226
Multiple subgraph support is now enabled with https://github.com/tensorflow/tensorflow/commit/cd5a9ad1338b01f5fd8ce64ed86ad09bf26468ee

[2021-07-19 17:26] #50226 closed

[2021-07-19 17:29] johnmaccormick commented on #50828
Thanks, this has been reposted as requested:

https://github.com/keras-team/keras/issues/14955

[2021-07-19 18:08] #47805 closed

[2021-07-19 19:03] ymodak commented on #50612
Keras project has moved to new repository in https://github.com/keras-team/keras
You may want to raise this PR on keras-team/keras repo.
See
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999
Thanks for your PR and apologies for the overhead.

[2021-07-19 19:28] jvishnuvardhan commented on #50702
@DanBmh Can you please share a simple standalone code to reproduce the issue? Thanks!

[2021-07-19 20:31] tianopino opened #50845 "InvalidArgumentError: indices[0,2] = 2188 is not in [0, 2027)"
Hi when I run the evaluation I get this error message, which I can't identify what is the issue.

***** train
WARNING:tensorflow:Model was constructed with shape (None, 5) for input KerasTensor(type_spec=TensorSpec(shape=(None, 5), dtype=tf.float32, name='embedding_input'), name='embedding_input', description="created by layer 'embedding_input'"), but it was called on an input with incompatible sh

[2021-07-19 21:17] lilao commented on #50841
This is a duplicate of https://github.com/tensorflow/serving/issues/1896 and should be resolved now. Please let us know if it still doesn't work.

[2021-07-19 22:09] aaudiber commented on #50260
@eli-osherovich [CsvDataset](https://www.tensorflow.org/api_docs/python/tf/data/experimental/CsvDataset) accepts `Tensor` filenames, so you could use it directly from inside of `interleave`. `make_csv_dataset` on the other hand requires `string` filenames, so that it can infer column names based on the filenames. It would be convenient if `make_csv_dataset` could support `Tensor` filenames as well

[2021-07-20 00:19] gmarchetti2020 commented on #39167
still the case in 2.5

[2021-07-20 01:12] lu-wang-g commented on #50448
The code snippet from @arolet looks good to me. Through I have no clue yet why this happened. I can reproduce the issue locally. I'll take a closer look at it tomorrow.

[2021-07-20 01:51] louis960126 opened #50850 "GazeML upgrade problem TF 1.4.0 to TF 2.5 (tf.contrib.layers.batch_norm)"
ubnutu 20.04
Tensorflow 2.5

This is an open source GazeML from github. I am trying to modify this code to tensorflow 2.5 but have some problem in GazeML/src/models/elg.py

  def _apply_bn(self, tensor):
        return tf.contrib.layers.batch_norm(
            tensor,
            scale=True,
            center=True,
            is_training=self.use_batch_statistics,
            trainable=True,

[2021-07-20 02:34] Nickjgniklu commented on #45256
I was looking for a solution to this problem and found this.
https://stackoverflow.com/questions/64850356/error-with-strided-slice-in-tensorflow-lite/66223851#66223851
It appears that editing tensorflow\lite\micro\kernels\strided_slice.cc to have an extra case that assumes int32 can be treated as int8 can work in at least some cases. (It worked for me; I have trained my model with tf 2.4.2 and bui

[2021-07-20 02:37] tilakrayal commented on #50828
@johnmaccormick ,

Please feel free to move this issue to closed status since it is already being tracked in Keras repo.Thanks!

[2021-07-20 03:03] lonway commented on #50629
@Saduf2019 Our online system does not support tensorflow 2.x :(

[2021-07-20 03:31] jianlijianli commented on #48959
@Tessil ,

Hi Tessil, is this a known limitation?

[2021-07-20 03:37] akkshay0107 commented on #50734
on recompiling i get this error

ERROR: C:/tensorflow/tensorflow/core/protobuf/BUILD:65:17: ProtoCompile tensorflow/core/protobuf/conv_autotuning.pb.h failed (Exit -1073741515): protoc.exe failed: error executing command
  cd C:/bazel_build/xv6zejqw/execroot/org_tensorflow
  SET PATH=C:\msys64\usr\bin;C:\msys64\bin;C:\WINDOWS;C:\WINDOWS\System32;C:\WINDOWS\System32\WindowsPowerShell\v1.0
    SET P

[2021-07-20 03:52] #21018 closed

[2021-07-20 03:56] rchao commented on #50790
Thanks for the report @Flamefire - does this only happen when using a `MPIClusterResolver` or it happens in general with `MultiWorkerMirroredStrategy`, regardless of the cluster resolver being used?

[2021-07-20 05:41] Gomesz785 commented on #22926
@mattn is this issue closed?
if not
is it open for beginners to help?
if not then why does it have the `good first issue`??

[2021-07-20 06:08] #50606 closed

[2021-07-20 06:27] Flamefire commented on #50790
Can you help me test this with another cluster resolver? Not sure how to do that as creating that class was required to make it run on our HPC system. Guess something about env vars?

Could also be related to CUDA versions:
- OOM: GeForce GTX 1080 TI, CUDA 11.0, 450.36.06
- No OOM: A100, CUDA 11.2, 460.32.03

Rest of the software stack is virtually the same. Having other problems on the A100s thou

[2021-07-20 06:32] rchao commented on #50790
Interesting, so using some CUDA version completely prevents the code from going OOM?

[2021-07-20 07:00] #50755 closed

[2021-07-20 07:10] Flamefire commented on #50790
It might be related at least, yes. However as this is a different cluster (different hardware) it might as well have other reasons. Only the software stack is the same as much as possible.
It is also strange that using only 2 nodes does not cause the issue, but 3 do. The working cluster has (much) more main memory, so maybe it will happen later there too. But that is speculation

[2021-07-20 07:34] jonathanlawhh commented on #50841
Hi, sorry I might have missed that issue while searching, causing a duplicate. Thank you it works fine now. Closing this issue.

[2021-07-20 07:34] #50841 closed

[2021-07-20 07:44] tilakrayal commented on #50842
@WayneHsiao0225 ,

Can you please try installing TensorFlow v2.5 with CUDA 11.2 and cuDNN 8.1 and check if you are facing the same error. Also please take a look at the [tested build configurations](https://www.tensorflow.org/install/source#gpu).

Version | Python version | Compiler | Build tools | cuDNN | CUDA
-- | -- | -- | -- | -- | --
tensorflow-2.5.0 | 3.6-3.9 | GCC 7.3.1 | Bazel 3.7.2 | 8.1

[2021-07-20 08:22] Saduf2019 commented on #50728
@ymodak
The issue does nor exist in rf 2.4.1, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/5ddd86fd982f1431495e75ad1a84a18c/untitled617.ipynb.)

[2021-07-20 08:27] Saduf2019 commented on #50718
@JesseLT
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-20 08:45] yahuuu commented on #42923
@abattery  Hi Abattery, I wonder when Does Transpose Operator Support >=6D?

[2021-07-20 09:01] Flamefire commented on #50790
Ok, setting (via Python `os.environ`) the TF_CONFIG variables as follows (4 ranks):

[code]

Same: OOM. Does this look wrong anyhow?

[2021-07-20 09:11] abattery commented on #42923
Currently, there are no plans to support 6D transpose op. Could you file a separate feature request if you need it?

[2021-07-20 10:26] vulkomilev commented on #50829
Sorry but I can't help you . I am on Ubuntu 20.04 and there is no way to investigate this one further

[2021-07-20 10:29] vulkomilev commented on #50840
Will [`this`](https://stackoverflow.com/questions/55606909/how-to-use-tensorflow-dataset-with-opencv-preprocessing) work?

[2021-07-20 10:30] obtu commented on #50749
I have created a new issue at the keras repo: https://github.com/keras-team/keras/issues/14965

[2021-07-20 10:44] Gojo1729 commented on #50783
@saberkun the issue was resolved after installing `Clang` .

[2021-07-20 10:44] #50783 closed

[2021-07-20 10:54] tilakrayal commented on #50850
@louis960126

Can you please take a look at this [comment](https://stackoverflow.com/questions/55870127/module-tensorflow-has-no-attribute-contrib) with similar error.It helps.Thanks!

[2021-07-20 10:55] tilakrayal commented on #50800
@tejal567 ,

Without the reproducible code, it would be difficult for us to debug the issue. In order to expedite the trouble-shooting process, could you please provide a minimal code snippet you are using.Thanks!

[2021-07-20 11:35] Tessil commented on #48959
@jianlijianli  No, it seems it's also a problem with the reference int8 kernel. Using `experimental_op_resolver_type=tf.lite.experimental.OpResolverType.BUILTIN_REF` with int8 will produce the same kind of error.

Applying the same `batches` and `output_depth` calculations as the [reference float kernel](https://github.com/tensorflow/tensorflow/blob/8e9ff73ded8f1f7a3de47378e9adba92307df5ab/tensorf

[2021-07-20 11:59] UsharaniPagadala commented on #50804
@dishkakrauch

It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](https://github.com/keras-team/keras/issues) repository instead. As [previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) all future development of Keras is expected to happen in the keras-tea

[2021-07-20 12:03] UsharaniPagadala commented on #50823
@01-vyom

It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](https://github.com/keras-team/keras/issues) repository instead. As previously [announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) all future development of Keras is expected to happen in the keras-team/ker

[2021-07-20 12:06] superlxt commented on #50779
@Saduf2019
ok,I will try to see if tf.function works, and I will close this question after I confirm

[2021-07-20 12:44] UsharaniPagadala commented on #50843
@jackaraz

Could you please share the error `traceback`  of with decorator if you can.Thanks

[2021-07-20 12:51] UsharaniPagadala commented on #50840
@bethven

We see that the issue [template](https://github.com/tensorflow/tensorflow/issues/new?assignees=&labels=type%3Afeature&template=30-feature-request.md) has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code to reproduce the issue faced].

also please refer this [comment](https://stackoverfl

[2021-07-20 12:57] 01-vyom commented on #50823
@UsharaniPagadala

Thank you for the info. In Keras, the code-copy and code-theme functionality has not been implemented yet so will hold out on the issue. Will raise an issue in Keras later.

This issue can be closed.

[2021-07-20 13:00] UsharaniPagadala commented on #50835
@ChrisChiasson

This issue is more suitable for TensorFlow Models repo. Please post it on [Tensorflow/Models](https://github.com/tensorflow/models/issues?q=is%3Aopen+is%3Aissue) repo from here. Thanks!

[2021-07-20 13:12] jackaraz commented on #50843
Here is the error message. I believe decorated class doesn't work when different ranks and/or different dimensions are used:

[code]

[2021-07-20 13:29] #50823 closed

[2021-07-20 13:43] eli-osherovich commented on #50260
Thanks, @aaudiber  I will try CsvDataset, even though, I would prefer the automation of `make_csv_dataset`

[2021-07-20 13:47] Flamefire opened #50853 "Crash/Force termination in distributed training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 7.9
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.8.6
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if comp

[2021-07-20 14:03] Saduf2019 commented on #50545
@Sur3
Is this still an issue.

[2021-07-20 14:18] Sur3 commented on #50545
@Saduf2019 Yes it is.

[2021-07-20 15:06] NEGU93 opened #50854 "Gradient not working with tf.math.angle"
I tried to create my own loss function that uses `tf.math.angle` in it. However, when I use this custom loss I get `None` gradients.
I created a minimum working example (link [here](https://colab.research.google.com/drive/1SkomH1STPtHX6GfB8RBDRuu-pK5VkTyk?usp=sharing)).

The expected behavior for this example would be the gradient to be zero as the loss is zero so there is no minimizing it.
Anothe

[2021-07-20 15:24] saikumarchalla commented on #50821
@rafiqhasan  It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](github.com/keras-team/keras) repository instead. As ([previously announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999/)), all future development of Keras is expected to happen in the [github.com/keras-team

[2021-07-20 15:51] #50828 closed

[2021-07-20 15:58] rafiqhasan commented on #50821
Thanks @saikumarchalla I'll link this bug there

[2021-07-20 16:08] Saduf2019 commented on #50575
@guillaumekln
I ran the code shared by you on gpu, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e9d8127e49e51eff41b739551769cfd4/untitled616.ipynb).

[2021-07-20 16:22] guillaumekln commented on #50575
Please see this comment to make the C++ log visible: https://github.com/tensorflow/tensorflow/issues/50575#issuecomment-875291904. It links to a [gist](https://colab.research.google.com/drive/18tXO7yY3rg7EagyK9weHbl4v1bZH38cv) that contains the full log output.

[2021-07-20 16:38] jocelynbaduria commented on #50795
HI @Saduf2019

It worked now using the version 2.0.0.

#!pip install tensorflow-gpu==2.5.0 - does not work.
!pip install tensorflow-gpu==2.0.0

Thanks

[2021-07-20 16:38] #50795 closed

[2021-07-20 16:48] rthadur opened #50856 "bug"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-20 16:54] #50856 closed

[2021-07-20 18:26] lhr2017 commented on #50238
I have been working on a custom object detection problem with the following specifications:

OS: Windows 10
CUDA: 11.2
cuDNN: 8.1
Tensorflow: 2.5.0
Python: 3.8.10

and have encountered an identical error. Has anyone discovered a fix yet?

[2021-07-20 18:39] ChrisChiasson commented on #50835
@UsharaniPagadala can you direct me to the location of this file within that repository?

[2021-07-20 20:06] rrklearn2020 commented on #50774
@UsharaniPagadala
I have uploaded the file to GitHub and the link is shared below.

https://github.com/rrklearn2020/probabilistic_model_trials.git

Complete details are shared with this link.

[2021-07-20 20:12] cranedroesch commented on #43645
Same issue.  Here is a MWE

`import numpy as np
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model
import tensorflow as tf

def make_and_fit():
    inp = Input(shape=(1,))
    out = Dense(1, activation='sigmoid')(inp)
    model = Model(inputs=inp, outputs=out)
    auc = tf.keras.metrics.AUC()
    model.compile(loss='binary_crossentropy',
                  me

[2021-07-20 21:33] abagrahari opened #50857 "Discrepancy between expected and tflite quantization parameters"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): `no`
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `Linux Ubuntu 20.04`
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: `N/A`
- TensorFlow installed from (source or binary): `binary (pip package)`
- TensorFlow version

[2021-07-20 22:13] suneeta-mall opened #50859 "Bug with optimizer_v2.OptimizerV2.set_weights method"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
 None
- OS Pla

[2021-07-20 22:49] pedrogalher opened #50860 "Prediction depends on Batch size"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: https://colab.research.google.com/drive/1moHCzJlvoc4KXdOFpwQTqBaQLJ9paeHi?usp=sharing
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Windows 10
-   **TensorFlow version (use command below)**: TF 2.5.1
-   **Python version**: 3.6
-   **GPU model and m

[2021-07-20 23:41] jvishnuvardhan commented on #50618
This Issue was moved to keras repo. So, closing the issue here. Thanks

[2021-07-20 23:41] #50618 closed

[2021-07-21 03:31] LittleDijkstraZ commented on #47554
Same warning with MoVinet's implementation using tensorflow 2.5.0 (at tensorflow/models/blob/master/official/vision/beta/projects/movinet/):

WARNING:absl:Found untraced functions such as stem/stem/conv3d_layer_call_fn, stem/stem/conv3d_layer_call_and_return_conditional_losses, expansion_layer_call_fn, expansion_layer_call_and_return_conditional_losses, feature_layer_call_fn while saving (**showin

[2021-07-21 03:50] #50599 closed

[2021-07-21 03:50] #50617 closed

[2021-07-21 03:50] #50405 closed

[2021-07-21 04:38] saikumarchalla commented on #50845
@tianopino Could you please fill the issue template.Also Please provide the simple standalone code/ colab link to reproduce the issue at our end.Thanks

[2021-07-21 05:42] xmy19029 opened #50869 "copies data from gpu to cpu"
I learned that the GPU ops' running code is in` /lite/delegates/gpu/cl/api.cc`.The code for Run() is as follows:
[code]
I found that the outputs_ has only one element,and the elapsed time of CopyToExternalObject() depends on the number of ops running on the GPU.In other words,the more ops are deployed on GPU,the longer the time will be.
It doesn't make sense.Normally,we only need to copy the last

[2021-07-21 06:58] sushreebarsa commented on #45313
@gcervantes8 Many bugs have been fixed in the latest version of Tensorflow. Can you please execute your code using Latest stable Version of Tensorflow 2.5 and let us know if the issue still persists?   Thanks!

[2021-07-21 07:09] Saduf2019 commented on #49212
Moving this to closed status as pr is merged.

[2021-07-21 07:09] #49212 closed

[2021-07-21 07:35] Antymon opened #50870 "Clarity issues in the mixed-precision execution guide"
## URL(s) with the issue:

In particular this point: https://github.com/tensorflow/docs/blame/master/site/en/guide/mixed_precision.ipynb#L817

## Description of issue (what needs changing):

### Clear description

Given linked summary point:

How do exactly those sentences make sense together?

If "output" is a result of an arbitrary calculation then why mention specific softmax at all?
If "output

[2021-07-21 08:19] dishkakrauch commented on #50804
@UsharaniPagadala

I can't see relation between problem with TFReocrds and keras library. I've attached code and colab notebook. I hope that you read it from the scratch and understand that this issue 100% related to tensorflow python library.
Let me shortly describe what am I trying to do is saveing 3dimentional time series data with TFRecords and using it with LSTM net.
Hope this helps.

[2021-07-21 08:46] sjtusmartboy opened #50871 "AttributeError: type object 'IteratorBase' has no attribute 'from_structure'"
ｔｅｎｓｏｒｆｌｏｗ　２．５
[code]

[2021-07-21 09:01] BEStefanKerren commented on #50819
I have a similiar issue where my CUDA V11.2 as well as my CUDNN V 8.1.0 does not get recognized by tensorflow 2.5. I managed to fix this by adding the mentioned libraries in System32. As described in this Issue https://github.com/tensorflow/tensorflow/issues/50589.

[2021-07-21 09:02] #50697 closed

[2021-07-21 09:17] aleks73337 opened #50872 "Tensorflow estimator returns the same answer"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- OS Platform: Ubuntu 18.04.5 LTS
- TensorFlow installed from pip3
- TensorFlow version (use command below): all

[2021-07-21 09:39] YannPourcenoux commented on #41240
I think he meant that to implement the hardswish in keras he uses MUL and ADD operations that get converted as such in TFLite although he would like to know how to create his keras model in order to get the hardswish operation in his TFLite file after conversion.
(Which is my current problem)

[2021-07-21 11:13] LeeAaronHarris commented on #43655
I could use this feature too, and I am happy to contribute to it.

Given a tensor of shape (n, y, x)

My current solution is to break the matrix into a list:
`list = [list[item] for item in range(n)]`

and then use another loop to pad/roll each list tensor:
`for iter in range(len(list)):
            xShift = (iter % xShift)
            yShift = int(iter / yShift)
            list[iter] = tf.roll(l

[2021-07-21 11:27] chudyandrej commented on #50789
Hi @UsharaniPagadala, thanks for your comment. I tried to update TF outside of my virtual environment to the latest version 2.5.0. Now when i install any other version of TF (i tried **2.4.1**, **2.4.2**, **2.6.0rc0**) in a virtual environment I getting the same error.

[code]

I was using this setup for quite a long time. For example when TF outside of venv is **2.0.1** and the installed version

[2021-07-21 11:41] codrutartene commented on #47172
@xushanthu-2014 did you managed to solve this problem? If yes, how? Thanks!

[2021-07-21 12:35] henrique commented on #41851
Thanks for the PR @lgeiger
This doesn't seem to fix the progress bar values on the example provided by tgaddair on tf2.5. Do you have any recommendation for that case?
Thank you

[2021-07-21 12:36] tilakrayal commented on #50869
@xmy19029 ,

In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.Thanks!

[2021-07-21 12:53] sjtusmartboy commented on #50871
Please tell me how to revise this piece of code and let it run with tf 2.5? The sooner the better, thanks a million.

[2021-07-21 13:14] sjtusmartboy commented on #50871
@saikumarchalla @ry @jmhodges @eggie5

[2021-07-21 13:31] elfringham opened #50873 "MLIR tests fail to build with non-system gcc and later glibc"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RTHEL 8.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0
- Python version: 3.6.8
- Installed using virtualenv? pip? conda?: n/a
- Bazel version (if compiling from source): 3.7.2
- GC

[2021-07-21 13:33] elfringham commented on #50873
Similar to issue #46549 which was fixed by PR #46550

[2021-07-21 13:50] #36672 closed

[2021-07-21 13:50] #36592 closed

[2021-07-21 13:56] sushreebarsa commented on #40457
@spate141 Could you please let us know if this issue still persists ? If this issue is solved for you as per the [above comment ](https://github.com/tensorflow/tensorflow/issues/40457#issuecomment-839067111),please feel free to move this issue to closed status .Thanks !

[2021-07-21 14:28] mohantym commented on #32793
Was able to replicate the issue with TF v2.5 in Google Colab with and without GPU  , They are not throwing errors in both situation ,please find the [gist](https://colab.research.google.com/gist/mohantym/c830549d3e3aa202f31519cf1a238ec2/32793_g.ipynb)  here .. Thanks!

[2021-07-21 14:32] dwyatte commented on #50130
Bump, as I dug further into this. If I change the code above to simply decorate `MyModel.call` with `@tf.function` and do `model.call.get_concrete_function(inputs).structured_input_signature`, I get

[code]

This information is used when restoring the model in `infer_inputs_from_restored_function_call`
https://github.com/tensorflow/tensorflow/blob/0733c41e5cfe09362b6ec1559b1b02bd1c19fff2/tensorflo

[2021-07-21 14:41] mohantym commented on #33585
Was able to replicate the issue with TF v2.5 ,please find the [gist ](https://colab.research.google.com/gist/mohantym/4966cc2e7c58c329b940713f949452f2/33585.ipynb#scrollTo=CdEj98g42R9r)here ..Thanks!

[2021-07-21 14:49] mohantym commented on #42163
Tested  the issue with TF v2.5 with no error ,please find the[ gist ](https://colab.research.google.com/gist/mohantym/5d2355b925c3224d82e4ff628c110b59/42163.ipynb#scrollTo=njZFz0-SHTIY)here ..Thanks!

[2021-07-21 15:50] #36248 closed

[2021-07-21 15:54] tilakrayal commented on #50872
@aleks73337 ,

In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.Thanks!

[2021-07-21 16:27] sushreebarsa commented on #45470
@Yosonix It looks like you are using an older Version of Tensorflow . Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version TF 2.5 and let us know if the issue still persists? Thanks!

[2021-07-21 17:00] jhparkwife opened #50880 "ModuleNotFoundError: No module named 'TensorFlow' File "<string>", line 1, in <module>"
**System information**
- OS Platform and Distribution : Linux Ubuntu 20.04
- TensorFlow installed from (source or binary): $ pip install --upgrade TensorFlow
- TensorFlow version: tensorflow 2.5.0
- Python version: 3.8.10
- Installed using virtualenv? pip? conda?:      venv
- using the following sequence
- $ python3 -m venv venv
$ source venv/bin/activate
$ pip install --upgrade pip
$ pip install

[2021-07-21 17:22] nouiz commented on #48545
Do you have 1 or multiple GPUs? Which GPU(s) do you have?

[2021-07-21 17:33] #50650 closed

[2021-07-21 17:43] haozha111 commented on #37301
Hi, seems like we have a solution here. Can we close this issue?

[2021-07-21 17:50] alexCranfield commented on #50678
I was also having this issue, using tf 2.5.0 whilst attempting to make a VAE.

I've found a workaround however, removing the initialisation of the custom loss function from the model compile function and instead adding it prior.

So what was:
`vae.compile(optimizer=optimiser, loss = vae_custom_loss)`

is now:

`vae.add_loss(vae_custom_loss(inputs,outputs))
vae.compile(optimizer=optimiser)`

If you

[2021-07-21 18:23] thor4 opened #50881 "model.evaluate() does not yield the same accuracy as computing it manually using a for-loop"
Apologies in advance if this is the wrong place for this discussion. I suspect the `model.evaluate()` behavior I identify below is a feature, not a bug, but would like to better understand it if so.

After following the transfer learning tutorial on [Tensorflow's site][1], I have a question about how `model.evaluate()` works in comparison to calculating accuracy by hand.

At the very end, after fi

[2021-07-21 18:45] UsharaniPagadala commented on #50854
@Saduf2019

I  was able to replicate the issue reported here. Please find the [gist](https://colab.research.google.com/gist/UsharaniPagadala/7925e19240055a24668f4a29de195583/copy-of-loss_with_angle.ipynb).Thanks

[2021-07-21 19:02] UsharaniPagadala commented on #50860
@pedrogalher

It looks like your Issue relates to the Keras component. Please submit it to the [github.com/keras-team/keras](https://github.com/keras-team/keras/issues) repository instead. As previously [announced](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) all future development of Keras is expected to happen in the keras-team

[2021-07-21 19:22] Saduf2019 commented on #50777
@kevininderhees
A pris created to update the changes, this issue will be closed once the [pr](https://github.com/tensorflow/tensorflow/pull/50882) is merged.

[2021-07-21 19:50] #50631 closed

[2021-07-21 19:54] pawlick2 opened #50883 "tf.math.sign() gives inconsistent output for the same input values for small complex numbers"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Catalina 10.15.7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: X
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below)

[2021-07-21 20:00] ruler501 commented on #48545
I have a 2080 TI as the only connected GPU and an AMD 3950X processor.

[2021-07-21 20:08] Jianhui-Li commented on #50607
@penpornk

[2021-07-21 20:15] ymodak commented on #50652
What inference timings do you observe in quantized version vs non-quantized version?
Performance improvement is observed for some well know models listed here https://www.tensorflow.org/lite/performance/measurement#android_performance_benchmarks

[2021-07-21 20:28] MeghnaNatraj commented on #50676
@wangtz Re-assigning to support rotation.

Initial debugging:
Possible issues:
1. TF model - Not possible (the model works as shows by the user)
2. TFLite model (error during conversion)- Possible. It looks there is an issue with the TFLite model itself as the interpreter is unable to allocate tensors.
3. TF and TFLite model input - Not possible. Unlike similar issues that have the same error (eg:

[2021-07-21 20:46] jsimsa commented on #50825
There is already `copy_to_device` transformation ([documentation](https://www.tensorflow.org/api_docs/python/tf/data/experimental/copy_to_device) and `prefetch_to_device` is implemented as you suggest [source](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/data/experimental/ops/prefetching_ops.py#L62-L63). Could you explain how is what's available different from what you wo

[2021-07-21 21:55] alexispascual opened #50885 "TF -> TFLite conversion error: could not rewrite use of immutable bound input"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Linux Ubuntu 20.04**
- TensorFlow installation (pip package or built from source): **pip package**
- TensorFlow library (version, if pip package or github SHA, if built from source): **2.5.0**

### 2. Code

The model I'm trying to convert is a FasterRCNN model with an AlexNet backbone trained using PyTorch. Fro

[2021-07-21 23:38] ymodak commented on #50659
I successfully converted your model into tflite by setting `custom_ops = True`. I have used TF 2.5 for conversion.
See [gist](https://colab.research.google.com/gist/ymodak/fa1aec30c936a85ed357f0c612676e42/add_slot_error_reproduction.ipynb)

[2021-07-21 23:39] abattery commented on #50659
@ymodak , it would be better to suggest using TF select op instead of custom ops since the custom ops require user implemented TFLite ops.

[2021-07-22 00:10] CarlosYeverino opened #50886 "[Question] TfLiteTensor is supposed to be deleted/released with TfLiteTensorFree?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-22 00:13] abattery commented on #50885
We recently landed new freezing mechanism in MLIR but it is guarded by flag for now and it gets enabled only with enabling resource variables (converter.experimental_enable_resource_variables = True), we are planning to enable it by default later but after more confidence we think :)

[2021-07-22 00:33] rchao commented on #50790
Can't spot anything wrong as far as I can tell.

[2021-07-22 00:42] matthewn4444 opened #50887 "MacOS failure to compile dylib with metal delegate"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS Big Sur (11.4)
- TensorFlow installed from (source or binary): source
- TensorFlow version: 2.5.0
- Python version: Python 3.9.1
- Bazel version (if compiling from source): bazel 3.7.2-homebrew
- GCC/Compiler version (if compiling from source): clang version 11.0.0

**Describe the problem**
Building the default

[2021-07-22 00:54] HelloWorld19930113 opened #50888 "tf.cast(48584629,tf.float32) 精度丢失"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2021-07-22 01:08] duncanriach commented on #13932
@xfffrank,

The work-around suggested by @mrry can be extended using the stateless random image ops. For example, an early stage in your `tf.data.Dataloader` pipeline could append a (deterministic) random seed to each example using a single-threaded (num_parallel_calls=1) `map`. Then, any subsequent stateless random image op in a parallel stage (num_parallel_calls > 1) could use the seed associate

[2021-07-22 01:08] ymodak commented on #50659
Thanks for the pointer. I see that the conversion fails without `custom_ops` and using TF select ops.
See [gist](https://colab.research.google.com/gist/ymodak/9e26b08a1ab1bd80712aadc88626519d/add_slot_error_reproduction.ipynb)

[2021-07-22 01:36] wanderlustzoe commented on #40065
ping @jhseu ... this is still an issue. Anyone?

[2021-07-22 01:43] HelloWorld19930113 opened #50889 "48584629.0这个浮点数数据类型转换精度丢失"
tf.cast(48584629.0,tf.float64)  转换后变成48584628

[2021-07-22 02:05] Stonepia commented on #48496
Tried today with latest commit. Still not help. Have something like below:

[code]

[2021-07-22 02:11] HuizhenShu commented on #25327
problem solved -- replace local graph_util_impl.py with https://github.com/tensorflow/tensorflow/blob/cebce4a2b5e33a06a1c92772008082895568f10a/tensorflow/python/framework/graph_util_impl.py

[2021-07-22 03:12] ChrisChiasson commented on #50835
@UsharaniPagadala Just to clarify, I don't think this file exists in that repository. I did look.

[2021-07-22 03:55] ArunaKote opened #50890 "converting tensorflow model to mlir"
I saved tf model using model.save().Then I tried to convert it to mlir using tensorflow/bazel-bin/tensorflow/compiler/mlir/tf-mlir-translate --graphdef-to-mlir /data/aruna/tf_models/saved_model.pb -o /data/aruna/tf_models/convolution.mlir  but I am getting error as  tensorflow/compiler/mlir/tensorflow/translate/tf_mlir_translate.cc:163] SavedModel import failed: Failed precondition: Could not rest

[2021-07-22 04:11] Vishesht27 commented on #50880
pip show tensorflow to check install
python test.py to run test

with python3

pip3 show tensorflow to check install

python3 test.py to run test

If its shows error, this means , Tensorflow hasn't been install

test.py

import tensorflow as tf
import numpy as np

c = np.array([[3.,4], [5.,6], [6.,7]])
step = tf.reduce_mean(c, 1)
with tf.Session() as sess:
    print(sess.run(step))

[2021-07-22 04:16] tilakrayal commented on #50870
@Antymon ,

Can you please take a look at this [link](https://www.tensorflow.org/guide/mixed_precision) for information on mixed-precision.It helps.Thanks

[2021-07-22 04:18] Stonepia commented on #48496
The Issue is addressed.

The reason is because the default `clang-11` is a symbol link pointed to `/usr/lib/llvm-11/bin/clang`.  Similar of the default `clang` command. This would make the build fail.

Should change to

[code]

[2021-07-22 04:18] #48496 closed

[2021-07-22 04:18] LuizHenriqueKS commented on #47554
Adding reset_after=false to the LSTM layer works to me

[2021-07-22 04:36] jhparkwife commented on #50880
(venv) @hp430:~/my_tensorflow$ pip show tensorflow
Name: tensorflow
Version: 2.5.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: /home/park/my_tensorflow/venv/lib/python3.8/site-packages
Requires: wheel, protobuf, google-pasta, keras-prepro

[2021-07-22 04:38] lu-wang-g commented on #50448
Found that the output tensor shape won't be updated until `runForMultipleInputsOutputs` is called. So if you move your log after inference, it will show the correct output shape. I also verified and confirmed this behaviour with the Python API.

Before this issue, I also thought `allocateTensors()` is good enough to update the output tensor shape. And I'm pretty sure it works for some dynamic shap

[2021-07-22 04:47] Stonepia opened #50892 "Tensorflow could not build with `config=asan` flag"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
Mobile device (e.g

[2021-07-22 05:08] jianlijianli commented on #48959
Thanks Tessil. Confirmed that this happens to int8 reference kernel as well but int8 optimized kernel is OK.

Just to avoid duplicated work, do you plan to fix the issue (since it happens to 16x8 as well)? Otherwise, I can work on it.

[2021-07-22 05:39] jhparkwife commented on #50880
https://heads0rtai1s.github.io/2021/02/25/gpu-setup-r-python-ubuntu/
after following above instructions, I got new errors.

(venv) park@hp430:~/my_tensorflow$ python3 test.py
2021-07-22 00:35:06.643593: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0
2021-07-22 00:35:08.842257: I tensorflow/stream_executor/platform/default/dso_l

[2021-07-22 05:53] terryheo commented on #50826
https://github.com/tensorflow/tensorflow/pull/50893 will fix this.

[2021-07-22 06:15] Antymon commented on #50870
@tilakrayal Sorry, but I don't follow your suggestion - the issue is precisely on this piece of text, it quotes pieces of it.

[2021-07-22 06:24] tilakrayal commented on #50880
@jhparkwife ,

Please try with cuda 11.2 for TF 2.5 and let us know if you are facing same error.Please take a look at [https://www.tensorflow.org/install/source#gpu](https://www.tensorflow.org/install/source#gpu).
Also have a look at this [link](https://github.com/tensorflow/tensorflow/issues/34658#issuecomment-559511245) for **AttributeError: module 'tensorflow' has no attribute 'Session'**.Than

[2021-07-22 06:25] MeghnaNatraj commented on #50719
@wangtz Assigned to support rotation.

[2021-07-22 07:15] edurenye commented on #37301
The PR was never done, this was never committed or at least there is no reference in this issue that this was fixed, so until the issue is fixed I don't think we can close it. And @timzatko fork seems to not exist anymore.

[2021-07-22 07:33] PINTO0309 commented on #50826
@terryheo Thank you! I will try to apply the suggested fixes and close it if there are no problems.

[2021-07-22 07:46] PINTO0309 commented on #50826
- tensorflow/tensorflow/.bazelrc
[code]
The build was successful.
![Screenshot 2021-07-22 16:44:01](https://user-images.githubusercontent.com/33194443/126605204-16cd71a8-2ca8-4174-8ac8-4e23e5aac7bf.png)

[2021-07-22 07:46] #50826 closed

[2021-07-22 08:21] Tessil commented on #48959
I can eventually work on a fix but as I will not be able to really work on it until the end of next week it'll be faster to leave it to you if possible.

[2021-07-22 08:22] pluxj commented on #40942
Found multiple copies during training
data size: 20GB
memory used：70GB

[2021-07-22 08:26] aleks73337 commented on #50872
@tilakrayal
[test_html.txt](https://github.com/tensorflow/tensorflow/files/6860896/test_html.txt)
[test_ipynb.txt](https://github.com/tensorflow/tensorflow/files/6860897/test_ipynb.txt)

[2021-07-22 08:28] co2e14 commented on #23783
Is this solved? I'm getting the same issue with it looking at /usr/local/cuda/bin/ptxas instead of where I actually want it to look...

[2021-07-22 08:49] hanshengchiu commented on #48545
I have single GTX1060 and intel i7-8750H

[2021-07-22 08:50] #30089 closed

[2021-07-22 09:25] stellashank commented on #22926
Assign me

[2021-07-22 09:27] sushreebarsa commented on #26806
@roymiles Please update as per the above comment and let us know if this issue still persists ? Thanks!

[2021-07-22 09:30] tilakrayal commented on #50881
@thor4 ,

This question is better asked on [TensorFlow Forum](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.

[2021-07-22 09:33] LittleDijkstraZ commented on #34024
I don't think it is working (tf 2.5.0). My grouped conv3d works on gpu, but failed on cpu for group!=1.

[2021-07-22 10:07] Frost-fusion opened #50894 "WARNING:tensorflow:AutoGraph could not transform <function Model.make_predict_function.<locals>.predict_function at 0x000001FE83356310> and will run it as-is."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):No
- OS Platfor

[2021-07-22 10:34] roymiles commented on #26806
My apologies, I haven't been working with tflite for a while and I do not have the code to reproduce this problem.

[2021-07-22 10:39] tilakrayal commented on #50888
@HelloWorld19930113 ,

In order to expedite the trouble-shooting process, could you please provide the complete code, dataset  and tensorflow version to reproduce the issue reported here.

[2021-07-22 10:40] tilakrayal commented on #50889
@HelloWorld19930113 ,

Looks like this is duplicate of issue #50888.Can you please close this issue, since it is already being tracked there? Thanks!

[2021-07-22 10:45] JaydenTaojy commented on #40316
Hello, could you provide the detail of your configuration? I faced the same issue on Jetson

[2021-07-22 10:50] #37215 closed

[2021-07-22 11:50] #37448 closed

[2021-07-22 11:50] #32495 closed

[2021-07-22 12:09] AI-P-K commented on #46740
It only works when you are able to load it with OpenCV dnn module... until then you have nothing. The exported frozen model from you function is not usable... hence not working

[2021-07-22 12:50] #36781 closed

[2021-07-22 12:50] #50611 closed

[2021-07-22 13:00] Zengyf-CVer commented on #50785
@UsharaniPagadala
Thank you very much for your reply.

[2021-07-22 13:00] #50785 closed

[2021-07-22 13:39] reuvenperetz commented on #50747
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.5.0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

[code]

### 3. Failure after conversion
If the c

[2021-07-22 14:08] Nico-ba commented on #27519
What fixed the problem for me was changing:

import keras
to
from tensorflow import keras

Don't know why but import keras changed tf.executing_eagerly() to false again.

[2021-07-22 14:17] jhparkwife commented on #50880
k@hp430:~/my_tensorflow$ python -c 'import TensorFlow as tf; print(tf.__version__)'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'TensorFlow'
--- I guess my hp430 does not have any NVIDIA gpu. I guess I need to downgrade my installs (linux & TF) according to my hp 430. Thanks for your help.

[2021-07-22 14:50] #50663 closed

[2021-07-22 15:10] yuyecreus opened #50896 "Could not find org.tensorflow:tensorflow-lite-support:0.1.0-rc1"
Hello everybody :)

I am converting a transformer model for text classification to TFLite. Conversion works. When I integrate it in the Android Studio template for text classification ([https://www.tensorflow.org/lite/examples/text_classification/overview](url)) I use lib_interpreter and obtain the following error:

Execution failed for task ':app:checkInterpreterDebugAarMetadata'.

     Searched

[2021-07-22 15:42] pratishthaa commented on #22480
[code]

  The error I get:
  OSError: SavedModel file does not exist at: E:/strokestuff/strokelr\{saved_model.pbtxt|saved_model.pb}

Can someone help?

[2021-07-22 15:50] #50665 closed

[2021-07-22 16:01] vlasenkoalexey commented on #46521
I couldn't make it work for converting some of the variables to constants using tf.graph_util.convert_variables_to_constants. As far as I understand it does the conversion properly, but messes up variable definitions in the graph, so converted graph can't be loaded after that.
It means that tf.graph_util.convert_variables_to_constants can only be used to convert all variables, and this doesn't wor

[2021-07-22 16:04] kernytsky commented on #50196
Updating to 12.0 beta worked for me as well! Perhaps that should be displayed in bold on the requirements page or be stressed that it is a beta OS. I mistakenly assumed it was the current stable release Big Sur (11.x). Thanks!!!

[2021-07-22 16:31] GlauberF opened #50897 "Predict data from a collection to determine a single object with the most used data."
**System information**
- Linux Ubuntu 16.04
- TensorFlow Lite JS

**Description**
I need to start from a set of objects, define a single object, with the most used data among the javascript object collection informed.

**Example of set of objects:**
[code]

**Single object with the most used values in the above collections:**
[code]

That's what I need, based on the javascript collections array yo

[2021-07-22 18:00] haozha111 commented on #37301
Actually the `CombinedNonMaxSuppression` is already in the allowlist of the flex delegate for a while:
https://github.com/tensorflow/tensorflow/blob/b333031345c13c3d9b7a0f06d8a5871e76d89571/tensorflow/lite/delegates/flex/allowlisted_flex_ops.cc#L119

Since this is already added, I would recommend the user to try it with the most recent tf release, or we just close this issue since the main concern

[2021-07-22 18:35] haozha111 commented on #50448
From the code description here:
https://github.com/tensorflow/tensorflow/blob/411666f39a4ed530a9e9f95655de022cb675c655/tensorflow/lite/java/src/main/java/org/tensorflow/lite/InterpreterApi.java#L299

Specifically:
Note that, for graphs with output shapes that are dependent on input *values*, the output shape may not be fully determined until
 running inference.

[2021-07-22 18:43] haozha111 commented on #50448
I think the reason is that, in your model the `SpaceToBatchND` op's padding input is a tensor (int32[2, 2]). The value of the padding tensor will determine the output shape of the `SpaceToBatchND` op, see documentation here on the role of `padding`:
https://www.tensorflow.org/api_docs/python/tf/space_to_batch

So I think your model's actual output shape can only be determined after the first infer

[2021-07-22 18:47] cantonios commented on #50654
If this is running on CPU via Eigen, note that Eigen has optimized implementations for float that uses explicit AVX simd instructions.  This is not currently implemented for int32 (though there is an MR [here](https://gitlab.com/libeigen/eigen/-/merge_requests/489)).

[2021-07-22 18:50] #50630 closed

[2021-07-22 20:52] timzatko commented on #37301
Yeah, the issue has been addressed, I believe that it can be closed now :)

[2021-07-22 20:52] #37301 closed

[2021-07-22 20:54] #50880 closed

[2021-07-22 20:55] jhparkwife commented on #50880
I guess I need to downgrade my installs (linux & TF) according to my hp 430. Thanks for your help.

[2021-07-22 21:03] aidenmccomiskey commented on #39351
@yongtang Is there any way to not manually input the number of outputs, i.e. not have to set num=3.  I am trying to do this in a for loop where there are different sizes.

[2021-07-22 21:45] ymodak commented on #50710
I have cross posted your issue to keras repo for further review from keras team. Please follow the tagged thread for updates. Thanks!

[2021-07-22 21:45] #50710 closed

[2021-07-22 21:51] alexispascual commented on #50885
Hi @abattery , thank you for the response. I don't know what that  just did but somehow the conversion now works. However, invoking the interpreter gives me the following error:

[code]

Prior to that, there were info messages when allocating the tensors but no errors. Here's how I am invoking the interpreter:

[code]

I have uploaded the converted TFLite model in the same google drive if that hel

[2021-07-22 22:00] srjoglekar246 commented on #50689
@thaink Can you take a look at this?

[2021-07-22 22:06] avroshk commented on #50595
@thaink is there any thread or doc where we can see which ops are under review for the upcoming tensorflow releases? It will help us immensely to plan our internal projects that need to run in really constrained tflite runtime environments and cannot use select ops. Thanks!

[2021-07-22 23:34] jvishnuvardhan commented on #26843
@amilsted This is a stale issue. `TF1.x` is no more supported.

However, I couldn't reproduce the segfault when I ran your code with `TF2.5`. Please check the [gist here](https://colab.research.google.com/gist/jvishnuvardhan/28bed80469ead33f617f80e1d05680cd/untitled.ipynb). Thanks!

I am closing this issue as this was resolved in recent `TF 2.5` version. Please feel free to reopen I am mistaken. T

[2021-07-22 23:34] #26843 closed

[2021-07-22 23:53] karimanis opened #50915 "loading a keras model on raspberry pi"
[code]

`import tensorflow as tf
from random import randint
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
from tensorflow import keras
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Activation, Dense, Input
from tensorflow.keras.optimizers import Adam, SGD, RMSprop, Nadam, Ftrl
from tens

[2021-07-23 00:01] thaink commented on #50595
The requests are tracked in https://github.com/tensorflow/tensorflow/issues/21526

[2021-07-23 00:24] pjgoodall commented on #38685
I am having a very similar problem on Ubuntu 20.04/conda/jupyter with Julia accessing the GPU.
I can access the library from the raw repl, but not from the IJUlia kernel within jupyter installed using conda.

see [gpu-workshop-notebook-could-not-load-library-libcuda-so-1](https://discourse.julialang.org/t/juliacon21-gpu-workshop-notebook-could-not-load-library-libcuda-so-1/65014/11?u=banksiaboy) o

[2021-07-23 01:01] Stonepia commented on #50892
Building with `gcc` will trigger a different error. The third_party/jpeg package could not pass the `asan` check.

It gives the error :

[code]

[2021-07-23 02:38] tilakrayal commented on #50880
@jhparkwife ,

Glad the suggestion worked for you,Thanks!

[2021-07-23 02:50] #50646 closed

[2021-07-23 03:07] stevenf7 opened #50918 "TensorFlow Import Error"
### System information
Intel 8th gen i7 with integrated graphics

using stock script, import tensorflow as tf caused failure

WIndows 10
Tensorflow installed from pip, version 2.0.0 (also tried 2.5.0, same error)
Python Version 3.7.9
No CUDA and GPU

Exact command to reproduce: import tensorflow as tf

### Describe the problem
There is a problem to import tensorflow 2.0.0 using Python 3.7. Install

[2021-07-23 03:38] jamesmishra commented on #48704
Did the fix actually land in the TensorFlow 2.5.0 stable?

I'm still experiencing this error message with TensorFlow. It looks like [the commit solving the problem](https://github.com/tensorflow/tensorflow/commit/d96b20aa303b9a90d407cd80b94288626bd8e22e) missed the v2.5.0 release and landed in v2.6.0-rc0.

Would it be possible to cherry-pick the commit into a patch release for the 2.5.x branch?

[2021-07-23 03:41] abattery commented on #50896
Could you file a bug at https://github.com/tensorflow/tflite-support ?

[2021-07-23 04:12] ChrisChiasson commented on #50870
Maybe the reason is that they want the _input_ to the softmax to be float32 because of the loss of precision associated with exponentiation. (I don't work here, I was just looking for someone to answer my own issue because mine isn't being answered.)

[2021-07-23 04:23] Aiman-Shivani commented on #50645
@howl-anderson Did you find any solution regarding this? If so please share
@MarkDaoust Could you please help us regarding this, have tried everything around the code but nothing works

[2021-07-23 04:29] UsharaniPagadala commented on #50915
@karimanis

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-07-23 04:46] saikumarchalla commented on #50918
@stevenf7 Regarding the `OSError`, please take a look at the [system requirements](https://www.tensorflow.org/install/pip#system-requirements) and check if you have all the compatible software installed. Also, make sure that you have installed Python from [python.org](https://www.python.org/downloads/windows/) and not from the Microsoft Store.

Also, try to uninstall and then re-nstall the  tensor