[2021-08-20 17:52] #47368 closed

[2021-08-20 18:23] joaomamede commented on #42738
The same problem occurred in TF 2.2.0 with RHEL8.3

[2021-08-20 19:02] llodds opened #51598 "tf.experimental.dlpack.from_dlpack() does not support negative strides"
Issue will arise when passing data from CuPy array with negative strides to TF tensor. Please refer to
https://github.com/cupy/cupy/issues/5665
@kmaehashi
@leofang

[2021-08-20 19:46] takumatix commented on #51592
I reinstalled everything, and it's working fine.

Thank you for your prompt response.

[2021-08-20 19:46] #51592 closed

[2021-08-20 20:03] #51555 closed

[2021-08-20 21:46] AnastGerus commented on #35194
Hi @daverim,
Yes, it works with the latest version of tf-nightly. Thank you!
But it still can't convert with integer post-training optimization, because of error:
`Failed to parse the model: Op FlexVarHandleOp missing inputs.`
My model is a basic LSTM layer that was converted by PyTorch - ONNX - TF path. So when I import the model to TF I can't fix the input shapes by hand. Could you please recomm

[2021-08-20 22:26] abattery commented on #51597
@multiverse-tf @Maratyszcza could you take a look?

[2021-08-20 22:41] arjunskumar opened #51600 "TypeError: 'int' object is not callable"
TF Version: `2.6.0`

using `tf.random.set_seed(7) `  produce  TypeError: 'int' object is not callable

[2021-08-20 22:53] sjarus opened #51601 "Build failure when building Tensorflow MLIR"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3 LTS
- Mobile de

[2021-08-20 23:00] arjunskumar commented on #51600
This one `tf.compat.v1.set_random_seed(7)` worked for me in `TF 2.6.0` in Google Colab but dont know why I cant get the same with `tf.random.set_seed(7)`

[2021-08-20 23:28] SkylerZheng opened #51602 "RuntimeError: Given shapes, [1, 23], ] and [1, 10], are not broadcastable.Node number 1392 (SELECT_V2) failed to prepare."
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu1804
- TensorFlow installation (pip package or built from source): tf-nightly 2.7.0
- TensorFlow library (version, if pip package or github SHA, if built from source): pip

### 2. Code

Provide code to help us reproduce your issues using one of the following options:
I used dymamic axes when using onnx to c

[2021-08-20 23:54] jcwren opened #51603 "Android audio classification example does not work on a Pixel with Android 10"
## URL(s) with the issue:
https://github.com/tensorflow/examples/tree/master/lite/examples/sound_classification/android

## Description of issue (what needs changing):
Perhaps indicate that although hardware may support Android 10, it may not be capable enough to run example.

### Clear description
The README.md file indicates that any device supporting Android 10 with audio support is sufficient.

[2021-08-21 02:11] abattery commented on #51603
@wangtz could you take a look?

[2021-08-21 02:26] renjie-liu commented on #51561
I see, in this case, I suggest there are two options:

1) run prediction 1 by 1, it should always work
2) if you really need batch inference, please set the batch_size during model conversion, and run the fixed batch size inference as well

[2021-08-21 02:38] UsharaniPagadala commented on #50774
@rrklearn2020

Thanks for the update,sure we will do that

[2021-08-21 03:06] sjtusmartboy commented on #51587
**saved_model code**

[code]

**train function**
[code]

**inference function**
[code]

[2021-08-21 03:09] sjtusmartboy commented on #51587
I tried to find some hints through `serialize_concrete_function` in `"/home/sjtusmartboy/.local/lib/python3.6/site-packages/tensorflow/python/saved_model/function_serialization.py"`

[code]

The following is the print output:
[code]

[2021-08-21 03:25] sjtusmartboy commented on #51587
From the message, it seems `def train(self, xyz_batch, color_batch, step)` causes the error. But in `saved_model` code, the signatures is `model.inference.get_concrete_function`. Why ` train(xyz_batch, color_batch, step)` is captured by `serialize_concrete_function`

[2021-08-21 03:37] MAHESH47T commented on #51594
Dear @mohantym,
    Thanks for the reply,
    Kindly find the code below which is used and its output generated. Please let me know if anything else is required.
--------------------------------
**Code:**
import os
import numpy as np
import cv2
import mrcnn.config
import mrcnn.utils
from mrcnn.model import MaskRCNN
from pathlib import Path

**Error Output:**
---------------------------------------

[2021-08-21 03:38] MAHESH47T commented on #51594
Mistakenly closed it.

[2021-08-21 03:52] #32052 closed

[2021-08-21 04:01] sjtusmartboy commented on #51587
Another sample code to test the print output from `serialize_concrete_function`
[code]

**Output**
[code]
It seems both of `capture_fn` and `polymorphic_fn` are captured by `serialize_concrete_function`. So back to the original problem, what causes the key error in serializing `def train(self, xyz_batch, color_batch, step)`?

[2021-08-21 05:52] #51051 closed

[2021-08-21 06:32] sjtusmartboy commented on #51587
[code]
**Output**
[code]

It seems as long as `polymorphic_fn` is called once, it will be captured by `serialize_concrete_function`

[2021-08-21 06:41] sjtusmartboy commented on #51587
Back to the original problem, I find bound_inputs of `inference` is [13, 14, 15, 16, 4, 17, 18, 19, 5, 20, 21, 22, 23, 8, 24, 25, 26, 9], the  length of which is 18, exactly what I expected of the number of weight variables in the model. Also bound_inputs of `train` is also  [13, 14, 15, 16, 4, 17, 18, 19, 5, 20, 21, 22, 23, 8, 24, 25, 26, 9], the same with bound_inputs of `inference` .

[code]
Fr

[2021-08-21 07:11] Smitty7177 commented on #22926
Ok ill start on the issue.

[2021-08-21 08:05] sjtusmartboy commented on #51587
@sushreebarsa, @Saduf2019 I finally track the problem, but don't know how to solve it, it seems to be the tensorflow internal error. Following is the minimum code to reproduce the error.

[code]

The problem now becomes whether there's a way to use `tf.summary.scalar` in `tf.function`

[2021-08-21 09:10] LudwigStumpp commented on #51600
Hi @arjunskumar,

I was trying to replicate what you stated above in a Google Colab environment:

[code]

However, this does not throw any errors in my Colab environment.

Could you please provide a minimal code example where the bug occured?
Also, could you please copy above code and execute it in a new environment "https://colab.research.google.com/notebooks/empty.ipynb" to verify?

Best,
Ludwig

[2021-08-21 09:27] LudwigStumpp commented on #51594
Hi @MAHESH47T,

Taking a look at the Issues of the library `mrcnn` that you are using at https://github.com/matterport/Mask_RCNN/issues/2587 we can find a solution to your issue.

The issue is caused by the library not being upward compatible to the latest keras version `2.6.0`.

Please take a look at the proposed version as stated in the link above.

Also please note that this issue is not caused

[2021-08-21 09:35] cjfghk5697 opened #51614 "Resource exhausted: EfficientNetB7 OOM"
<h1>1. System information</h1>
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Colab
TensorFlow installation (pip package or built from source): 2.6.0
TensorFlow library (version, if pip package or github SHA, if built from source): all other libraries cloned from https://keras.io/examples/vision/image_classification_efficientnet_fine_tuning/

<h1>2. Error Code</h1>
Full Error code was sa

[2021-08-21 12:24] MTawfik93 opened #51616 "Error while building tflite python wheel for beaglebone black"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian GNU/Linux 10 (buster)
-

[2021-08-21 12:45] abattery commented on #51616
@terryheo for the visibility

[2021-08-21 13:06] jeffpollock9 commented on #20644
Hi @jvishnuvardhan I did indeed implement this learning rate, you can see it if you scroll to the top of the page.

I'm not really interested in this any more though unfortunately, mostly because it's been 3 years since opened this issue. If you would like to take my implementation and contribute it though, I think that'd be great. Thanks.

[2021-08-21 13:36] mohantym commented on #51594
Hi! @MAHESH47T ,
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-08-21 13:43] mohantym commented on #51598
Hi! @llodds,We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-08-21 13:44] tibbe commented on #50820
https://github.com/keras-team/keras/issues/15219

[2021-08-21 14:18] Pedrohgv commented on #36465
I'm facing this same issue. I load a model and want to continually do predictions with it, so clearing the entire memory is out of the question (it would also clear the model, which I want to load only once at the start of the application and then have it running predictions indefinitely).
What amuses me is the fact that the memory usage grows after some batches pass through the model. From my und

[2021-08-21 15:10] edwardyehuang commented on #51614
How about EfficientNet-B1 or B2 ? Since EfficientNet-B7 requires large GPU memory, have you tried to use TPU in colab  ? (https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/guide/tpu.ipynb).

[2021-08-21 15:31] collinzrj commented on #46840
In some newer version of numpy, an extra parameter `dtype` may be passed to the the `__array__` attribute of an object, but in previous implementation of `Tensor` and some other structures, `__array__` is defined like
[code]
In that case, an error is thrown before the function is executed
#51595 and fc0f0e61ca9fe3ca3b9b58f51bcf00e0643ed9e3 can solve this

[2021-08-21 15:35] ZYHowell opened #51617 "XLA extension: expose output operand aliasing in ops.CustomCall python api"
**System information**
- TensorFlow version (you are using): latest/nightly
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**

Currently, the `output_operand_aliasing` is only exposed to CustomCallWithAliasing, which calls CustomCallWithLayout:
https://github.com/tensorflow/tensorflow/blob/0fb82942a0b9d734f066575eeb38963de1d7d1c9/tensorflow/

[2021-08-21 15:53] riaqn commented on #50303
This problem still exist.

[2021-08-21 16:04] arjunskumar commented on #51600
Now it's working on my google colab. Dont know the exact reason why the same code behaved strange earlier.

Thanks @LudwigStumpp

[2021-08-21 16:04] #51600 closed

[2021-08-21 16:10] liqinglin54951 commented on #37144
![image](https://user-images.githubusercontent.com/36342491/130327971-341a732b-4398-4cec-9502-1815845f9aca.png)
`pip install gast==0.2.2`
![image](https://user-images.githubusercontent.com/36342491/130328041-1aa5d292-b7c2-49ff-b04e-c3dedaf1bac7.png)

`pip install  tensorflow-serving-api==2.1.0`
![image](https://user-images.githubusercontent.com/36342491/130328010-24c3f740-774e-4ab5-97d1-319d55e209

[2021-08-21 17:09] mdanatg commented on #37144
@liqinglin54951 that looks like an incompatible version of gast. Could you try 0.3.0?

[2021-08-21 17:45] noahzhy commented on #35661
@dathudeptrai I meet the same problem too. Could you share how do you solve this?

[2021-08-21 19:16] lugalUrim opened #51618 "tf.image.extract_glimpse crashes with negative input"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2021-08-21 20:13] thenadz opened #51619 "tensorflow-gpu Docker Image - Python TensorRT Import Fails"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2021-08-21 22:50] LudwigStumpp commented on #51618
Happy to add the `app.log` from Google Colab executing above snippet for the latest version `2.6.0`.

Seems to me like the call of `CHECK_LT()` in `tensorflow/core/framework/tensor_shape.cc:569` defined at `tensorflow/tensorflow/tensorflow/core/platform/default/logging.h:413` causes that issue.

However, I am not a C++ expert, so I don't get any much further than that for now.

<html><body>

Times

[2021-08-21 23:43] stevenwong commented on #36465
Have you guys tried my suggestion of turning XLA off? `tf.keras.backend.clear_session()` works for me after turning XLA off and I can repeatedly train models (in fact, I've been training hundreds of new models) without restarting python to clear memory.

[2021-08-22 00:20] crawlingcub commented on #51179
can you just extract the folder using command line: `tar -xvf bugmodel.tar.gz` and then use that folder to read the model?

[2021-08-22 00:37] witignite commented on #37876
@srogatch Hi, could you let me know how did you profile the runtime and create such a nice figure?

[2021-08-22 02:20] nomurakeiya commented on #37543
when I used Tensorflow-GPU2.4.1, faced same error.
Then I changed to 2.6.0, faced another error.
*training code starts, but NaN occurs during training.
https://github.com/matterport/Mask_RCNN/issues/2670
![Untitled](https://user-images.githubusercontent.com/56009331/130339683-2d8b6433-8d3c-495b-957a-8c338c42ec0d.png)

Now I using TensorFlow-GPU2.5.0, there aren't error!!!
following below, my envir

[2021-08-22 02:42] terryheo commented on #51616
I've just tested 2.5 branch and It works well for me.

Could you share more log before the error?

[2021-08-22 03:23] wangwei-cmd commented on #51589
Hi, @tilakrayal ， after uncomment @tf.function in the gist provided by your link,  the colab also crashed.

[2021-08-22 05:59] monzer511 opened #51620 "error"
Internal Server Error: /form/
Traceback (most recent call last):
  File "C:\Users\MONZER\Desktop\progect\lib\site-packages\django\core\handlers\exception.py", line 34, in inner
    response = get_response(request)
  File "C:\Users\MONZER\Desktop\progect\lib\site-packages\django\core\handlers\base.py", line 115, in _get_response
    response = self.process_exception_by_middleware(e, request)
  File

[2021-08-22 06:12] KittenYang opened #51621 "use SPICE tf-lite model in Swift but get error "Provided data count 64000 must match the required count 4""
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): iOS15.0
- TensorFlow installed from (source or binary): binary
- TensorFlow version (or github SHA if from source):
[code]

**Provide the text output from tflite_convert**

[code]

**Standalone code to reproduce the issue**
I'm using the SPICE model [here](https://tfhub.dev/google/lite-model/spice/1) which is used to

[2021-08-22 06:29] srogatch commented on #37876
@witignite It was a long time ago, so I already don't remember, but I guess it's a standard Python profiler found with Google search.

[2021-08-22 07:42] abattery commented on #51621
You need to resize the input tensor before invoking the model.

[2021-08-22 07:51] sjtusmartboy opened #51622 "ValueError: `tape` is required when a `Tensor` loss is passed."
**tensorflow 2.5 python 3.7**

As said in https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Optimizer?hl=en#minimize,  the first parameter of minmize should satisfy the requirement,

_Tensor or callable. If a callable, loss should take no arguments and return the value to minimize. If a Tensor, the tape argument must be passed._

The first piece of code takes tensor as the input of mi

[2021-08-22 08:52] #40167 closed

[2021-08-22 09:52] #40704 closed

[2021-08-22 10:05] Mohamed-Aziz-Ben-Nessir commented on #36358
for me changing to 'acc' worked : if(logs.get('acc')>0.99)

[2021-08-22 10:07] samanemami commented on #51549
@Saduf2019
This repository(https://git.kot.tools/nk2/syntaxnet_rus/-/blob/caae66a144f1237eb6b5c19fa00c317ca3bed09c/tensorflow/tensorflow/contrib/boosted_trees/examples/mnist.py#L93) is an old lib from tf.BoosteTree, which remains.
This is the exact code which the [paper](https://ieeexplore.ieee.org/abstract/document/8257910) used, I am looking for the update of this code in your GitHub repository

[2021-08-22 10:33] cjfghk5697 commented on #51614
@edwardyehuang Thanks for your answer.  I was tried to EfficientNet-B2. It was work well. But when i was used TPU in colab. It has a some error about labels. So i will try to more code. Once Again Thx for your answer.

[2021-08-22 10:33] #51614 closed

[2021-08-22 10:43] MTawfik93 commented on #51616
Thanks for your response.

So I just solved the issue and it works now. The problem that I was using the configuration inside bbb_makefile.inc located in tensorflow\tensorflow\lite\tools\make\targets to target my beaglebone (This directory was deprecated last week). Apparently the Neon VFP version wasn't specified in it, so I edited ```-mfpu=neon``` to ```-mfpu=neon-vfpv3```, which compiled fine a

[2021-08-22 10:43] #51616 closed

[2021-08-22 11:21] Pedrohgv commented on #36465
So I found out that my issue was that I was using [decord](https://github.com/dmlc/decord) for loading videos and setting `decord.bridge.set_bridge('tensorflow')` (which allowed frames to be loaded in tensorflow tensors). Removing this and then transforming the values with `tf.constant()` fixed the leak.

[2021-08-22 12:22] sjtusmartboy opened #51623 "calback pyfunc_18 is not found"
**tensorflow 2.5, python3.7**

I'm using tf.py_function in the model, and after training, the model is saved with tf.saved_model.save().

Is this the compatible problem of these two functions that causes this error?

[2021-08-22 14:57] cako commented on #31412
Same here on 2.6.0

[2021-08-22 15:10] Saduf2019 commented on #47233
@marcusturewicz

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-08-22 15:52] lugalUrim opened #51624 "tf.keras.layers.LocallyConnected2D crashes with implementation mode = 2 and negative strides"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2021-08-22 17:50] rschumi0 commented on #51377
@tilakrayal It's now in the keras repo: https://github.com/keras-team/keras/issues/15225

[2021-08-22 17:52] rschumi0 commented on #51379
@tilakrayal it's now in the keras repo: https://github.com/keras-team/keras/issues/15226

[2021-08-22 17:53] rschumi0 commented on #50599
@saikumarchalla it's now in the keras repo: https://github.com/keras-team/keras/issues/15224

[2021-08-22 18:24] Saduf2019 commented on #51571
@DachuanZhao
Please feel free to create a pr for the proposed change or share the link where the change is to be made.

[2021-08-22 18:25] siddharth25pandey commented on #23798
@MarkDaoust If the issue is open, Can I work on this?

[2021-08-22 18:41] llodds commented on #51598
@mohantym

- TF version: 2.4.1
- CuPy version: 8.0.0

Code to reproduce the issue:

[code]

[code]

Both NumPy and CuPy can handle array with negative strides, but TF can't.

[2021-08-22 19:05] pedrohpf commented on #46475
This thread is a life saver. Replaced `relu = tf.keras.layers.Activation(tf.nn.relu)` with `relu = lambda x : tf.math.maximum(x, 0.0)` like @garrettbingham said and no more memory leaks.
This issue needs to be fixed asap, it's a real struggle to find out where the leak even comes from. Only way I found out was by removing tf.function from everything and realising the leak disapeared (don't know wh

[2021-08-22 21:16] lugalUrim opened #51625 "tf.keras.layers.ConvLSTM2D crashes when kernel_size contains zero"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: no
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2

[2021-08-22 21:57] theAnshulGupta commented on #51403
Hi, thanks for the help! Unfortunately, those two issues weren't too helpful, however I followed the [guide](https://developer.apple.com/metal/tensorflow-plugin/) linked in [Apple's TF Repository](https://github.com/apple/tensorflow_macos) to set up tensorflow-metal. The installation did not present any problems however whenever I start a notebook and import tensorflow, it keeps giving the callbac

[2021-08-22 23:09] marcusturewicz commented on #47233
I have transferred this to https://github.com/keras-team/keras/issues/15229, so closing this one.

[2021-08-22 23:09] #47233 closed

[2021-08-23 01:26] catskillsresearch commented on #51234
Any luck on this?  I'm finding it extremely hard to parallelize any function that involves tf.where and tf.gather resulting in any intermediate step where there are unequal length tensors.  This makes Tensorflow super difficult and unsuitable for coding parallel algorithms as opposed to doing cookbook machine learning stuff where everything is the same size.

[2021-08-23 02:13] van-68 commented on #51408
In you mean, The current version is 1.15.5, and there will be no later version?
Won't the following vulnerabilities be fixed in version 1. X。
If used, be must upgrade to 2. X？

[2021-08-23 03:52] #51072 closed

[2021-08-23 03:58] daverim commented on #35194
@AnastGerus

When you converting from onnx, could you try converting to a saved_model? And then using `converter.from_saved_model`?
You may need to add `converter.experimental_enable_resource_variables` as well.

Thanks,
David

[2021-08-23 03:58] mohantym commented on #51532
Hi! @sanatmpa1 ,Could you please look into this issue , providing [gist](https://colab.research.google.com/gist/mohantym/f5d044e710da26e6da6191c83dbd4863/notebook.ipynb#scrollTo=xWKC7vEbKIQz) for reference.

[2021-08-23 04:16] memr5 commented on #47358
Het @leeivan1007,

I am having the same issue. Did you find the reason behind this issue?

similar threads:
* https://github.com/NVIDIA/tensorflow/issues/23
* https://forums.developer.nvidia.com/t/new-tensorrt-model-occupying-more-gpu-memory-as-compared-to-older-version/186373

[2021-08-23 04:40] mohantym commented on #51591
Hi @craditya @ziyeqinghan , I was getting error in this line
`model = object_detector.create(train_data, model_spec=spec, batch_size=4, epochs = 30, train_whole_model=True, validation_data=validation_data)`
in TF [2.5](https://colab.research.google.com/gist/mohantym/b1a48789106bca188e34c3b367629c4d/copy-of-model-maker-object-detection-tutorial.ipynb#scrollTo=kwlYdTcg63xy) , [2..6 ,](https://colab.

[2021-08-23 04:54] craditya commented on #51591
Hi @mohantym, if you followed my colab, you need to upload some data as train_data, test_data and validation_data.
Or you could use the default example data provided in the example code, which can be loaded by:
`train_data, validation_data, test_data = object_detector.DataLoader.from_csv('gs://cloud-ml-data/img/openimage/csv/salads_ml_use.csv')`
After this try running
`model = object_detector.crea

[2021-08-23 05:31] sushreebarsa commented on #51624
@lugalUrim
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-23 05:56] mohantym commented on #51622
Hi @sjtusmartboy , was able to replicate and resolve in TF2.6 by replacing `cost = cost()`  with` cost = lambda: cost()` , providing [gist ](https://colab.research.google.com/gist/mohantym/6e008dd557ebee5d20bbd8e32c34d705/github_51622.ipynb)for reference.please look at this [documentation ](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam)for further details

[2021-08-23 06:18] mohantym commented on #51625
Hi @lugalUrim ,
Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999) . Thanks!

[2021-08-23 06:20] JiashuGuo commented on #51404
Have you found any fixes for this? Is it because of mask_rcnn model has operations that don't support quantization? I found the mask_rcnn model doesn't work with quantization-aware training either.

[2021-08-23 06:38] sushreebarsa commented on #51618
@lugalUrim Could you please refer to the [link](https://www.tensorflow.org/api_docs/python/tf/image/extract_glimpse) . Please try to upgrade the TF version 2.4 to 2.6.0 and refer to the above [comment](https://github.com/tensorflow/tensorflow/issues/51618#issuecomment-903185385) .Please let us know if it helps ?

[2021-08-23 06:55] #51512 closed

[2021-08-23 07:11] xunbing opened #51626 "Why my tf-lite model's fullyconnect and softmax options not be delegated with CoreML?"
*enviorment: iPhone 12*

I have a model converted by TFLiteConverter. It has some opttions like lstm、add、mul、fullyconnect、softmax. When I use the CoreML delegate like the example code in docs. I found that There are just some of the all options delegated by CoreML. I understand some option like lstm would not be delegated. But I have no idea when I found my fullyconnect and softmax are also not be

[2021-08-23 07:35] mohantym commented on #51598
Hi @llodds @Saduf2019 ,was able to produce  in 2.3 ,2.4.1 and 2.6  and got different error in TF 2.5 ,providing [gist ](https://colab.research.google.com/gist/mohantym/e8981804fcda98631842ca6784853ae9/github_51598.ipynb#scrollTo=3kQHpzRF7IoE)for reference

[2021-08-23 07:41] JiashuGuo opened #51628 "Quantization aware training with mask_rcnn model error: tensorflow.python.framework.errors_impl.NotFoundError: Key SecondStageFeatureExtractor_1/InceptionV2/Mixed_5a/Branch_0/Conv2d_0a_1x1/act_quant/max not found in checkpoint [[{{node save/RestoreV2}}]]"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 1.15.5

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

Pretrained model: [mask_rcnn_inception_v2

[2021-08-23 07:47] tilakrayal commented on #51596
@raudipra ,
Can you please try to test your code in tf-nightly version which the code is executed without any error.Please find the gist of it [here](https://colab.research.google.com/gist/tilakrayal/19f1395da404ff0a1abd0565fc303ea6/nightly-51596.ipynb).Thanks

[2021-08-23 07:56] sushreebarsa commented on #51628
@JiashuGuo We see that you are using old version of tensorflow (1.15.5 )which is out of support window.We recommend that you upgrade to latest stable version of TF 2.6.0  and let us know if the issue still persists in newer versions.Thanks!

[2021-08-23 08:15] tilakrayal commented on #51620
@monzer511 ,

 In order to expedite the trouble-shooting process, could you please provide a complete code and the TensorFlow version you are using.Thanks!

[2021-08-23 08:17] tilakrayal commented on #51620
Also please take a look at this links for information with similar error.[Link1](https://stackoverflow.com/questions/59765784/attributeerror-sequential-object-has-no-attribute-get-distribution-strategy),[Link2](https://newbedev.com/keras-and-tensorboard-attributeerror-sequential-object-has-no-attribute-get-distribution-strategy).It helps.Thanks!

[2021-08-23 08:27] zldrobit opened #51629 "tf.image.non_max_suppression does not return a dynamic valid detection number after converting to TFLite models"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.4.1/2.5.0/2.6.0

### 2. Code
https://colab.research.google.com/drive/1F4L9cdlhkxKHe70_5_H2SOAlH9Zl-jn-?usp=sharing

### 3. Failure after conversion
I

[2021-08-23 08:49] sjtusmartboy commented on #51622
@mohantym Thanks for your code. If cost function has a 'step' parameter that I want to record, then how to pass that variable into the cost()?

[2021-08-23 09:01] ConverJens commented on #51583
@yongtang Thanks for the clarification!

I'm using TFX from master which recently started depending on TF 2.6, hence I can't (or don't want to/shouldn't) modify the internals. I suspect they will fix this by the next release.

[2021-08-23 09:01] abattery commented on #51629
In the first colab, print(keras_model(inp)) also gave the same result with the TFLite interpreter's result.

[2021-08-23 09:06] abattery commented on #51629
@srjoglekar246 could you take a look at the nms issue?

[2021-08-23 09:42] apdullahyayik commented on #37543
After I realized such undocumented and crypted errors, I made a transition
to another framework

On 22 Aug 2021 Sun at 05:20 nomurakeiya ***@***.***> wrote:

[2021-08-23 09:54] Koushik667 commented on #50801
@renjie-liu  Any comments on this issue?

[2021-08-23 10:19] sanatmpa1 commented on #51499
@muxamilian,

As I can see from tested build configurations section where TF 2.6.0 is used with MacOS. Can you try once using this [guide](https://www.tensorflow.org/install/source#tested_build_configurations) to build tensorflow from source and let us know if it works? Thanks!

[2021-08-23 10:26] HannaLochOlszewska opened #51631 "DeprecationWarning: the imp module is deprecated in favour of importlib"
- Python version: 3.8.10
- Tensorflow version: 2.6.0

Hi team,
I keep on getting the deprecation warning while using tensorflow:
`DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses`

I know that's just a warning, but do you plan to update this library?
Best!

[2021-08-23 10:32] DachuanZhao commented on #51571
Hi , I have created a pr . If you have time , you can have a look at it . : )

[2021-08-23 10:37] old-school-kid opened #51633 "Error in model.fit"
Made a Tensorflow fuctional API model on top of  TFAutoModelForSequenceClassification with 3 sentence as input.

Training model directly on tokenized input raises
**ValueError: Failed to find data adapter that can handle input: (<class 'list'> containing values of types {'(<class \'list\'> containing values of types {"<class \'tensorflow.python.framework.ops.EagerTensor\'>"})'}), (<class 'list'> c

[2021-08-23 10:40] renjie-liu commented on #50801
Adding Karim who may have a better idea

[2021-08-23 10:52] #14134 closed

[2021-08-23 11:22] joelberkeley opened #51634 "Document XLA core functionality"
## URL(s) with the issue:

https://www.tensorflow.org/xla/operation_semantics

## Description of issue (what needs changing):

There are references throughout the XLA docs to various core types that aren't fully documented. These include `XlaBuilder`, `XlaOp`, `XlaComputation` and `Parameter`. There may be others. It would be really helpful if these were documented.

### Clear description

Ideally

[2021-08-23 11:23] tilakrayal commented on #51623
@sjtusmartboy ,

 In order to expedite the trouble-shooting process, could you please provide a complete code and dataset  you are using.Also please take a look at this [comment](https://stackoverflow.com/questions/56227140/using-py-func-inside-tensorflow-valueerror-callback-pyfunc-0-is-not-found) with similar error.It helps.Thanks

[2021-08-23 11:23] chenghuige opened #51635 "tf 2.6 break interfance of model.compile, unable to pass tf.keras.optimizers.Adam"
tf 2.6
      from tensorflow.python.keras.optimizer_v1 import Optimizer
      from tensorflow.python.keras.optimizer_v2 import optimizer_v2
      optimizer = tf.keras.optimizers.Adam(learning_rate=1e-3)
      ic(optimizer)
      ic(isinstance(optimizer, (Optimizer, optimizer_v2.OptimizerV2)))

ic| optimizer: <keras.optimizer_v2.adam.Adam object at 0x7fc5e03f32b0>
ic| isinstance(optimizer, (Optimiz

[2021-08-23 12:25] ramshi236 commented on #37839
any progress ?

[2021-08-23 12:30] mateusz-holenko opened #51637 "Tensor data is incorrectly loaded from FlatBuffers on big-endian targets"
Currently `InitializeTfLiteTensorFromFlatbuffer` and `InitializeTfLiteEvalTensorFromFlatbuffer` refer to a data in a FlatBuffer using a direct pointer. For example in https://github.com/tensorflow/tflite-micro/blob/a9f2e03b943990bc958ce3b92ca76ffc27fcf6d6/tensorflow/lite/micro/micro_allocator.cc#L440:

[code]

Because data in FlatBuffers is always little-endian, on big-endian machines it causes pr

[2021-08-23 12:32] dogevspenguin opened #51638 "Failed to load the native TensorFlow runtime."
**System information**
- OS Platform and Distribution: Mac OS X 10.11.6
- TensorFlow installed:from terminal
- TensorFlow version:~
- Python version:3.8
- Installed using pip
- Bazel version ~
- GCC/Compiler version not compiled from source
- CUDA/cuDNN version:No cuda graphic card
- GPU model and memory:memory 10 gb GPU~

**Describe the problem**
So ive ran mlagents-learn config/trainer_config.ya

[2021-08-23 12:32] AnastGerus commented on #35194
@daverim

That is what I'm doing:

[code]

And I get:
[code]

I'm trying to do it with the simplest one LSTM layer, but it has the same issue.

Thanks,
Anastasiia

[2021-08-23 12:32] mateusz-holenko commented on #51637
This issue is related to tensorflow-micro, so I'll report it there. Closing this one.

[2021-08-23 12:32] #51637 closed

[2021-08-23 12:52] #16311 closed

[2021-08-23 12:52] #17965 closed

[2021-08-23 12:52] #16771 closed

[2021-08-23 12:52] #17910 closed

[2021-08-23 13:01] FuzzyWuzzyIsABear opened #51639 "No module named 'keras.api' after compiling tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20
- TensorFlow install

[2021-08-23 13:05] mohantym commented on #38858
Hi @NicolasVidal ,
Could you please try on latest stable version TF 2.6  and let us know if this is still an issue.Thanks!

[2021-08-23 13:15] yongtang commented on #51583
@ConverJens In case of TFX I think you may want to create issue there. @bacek can you confirm the issue is resolved with tfio installation?

[2021-08-23 13:21] twkx commented on #51093
Hi, any workaround to propose in the meanwhile ? Thanks.

[2021-08-23 13:23] mohantym commented on #39142
Hi @pdubz-sudo !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-23 13:25] FuzzyWuzzyIsABear commented on #51639
I fixed it reinstalling keras using pip.

[2021-08-23 13:25] #51639 closed

[2021-08-23 13:25] mohantym commented on #39228
Hi! @Lotte1990 ,
Could you please try on latest stable version of TF 2.6 or nightly  and let us know if this is still an issue.Thanks!

[2021-08-23 13:30] dogevspenguin commented on #51638
ok its pillow problem,and its unsolved

[2021-08-23 13:46] bacek commented on #51583
Yes, installing and explicitly importing tfio fixed this issue. However
RELEASE.md needs updating.

On Mon, 23 Aug 2021, 23:16 Yong Tang, ***@***.***> wrote:

[2021-08-23 13:52] #19528 closed

[2021-08-23 14:09] thor4 commented on #50881
I'm re-opening this again for your review as it may be a bug. There have been no responses on the Tensorflow Forum post and it's been a month now. Please advise.

[2021-08-23 14:33] aakash30jan commented on #33840
dum dum

[2021-08-23 14:52] #44379 closed

[2021-08-23 15:26] sanatmpa1 commented on #38824
@lcdlyxrqy,

Please take a look at this [link](https://www.tensorflow.org/install/gpu) which provides a detailed guide on installation with GPU support along with pre requisites, and [link](https://www.tensorflow.org/install/source#gpu) which provides the compatible version of CUDA and CUDNN version for each versions of `Tensorflow`. Let me know if it helps. Thanks!

[2021-08-23 15:34] ozett commented on #38824
One Year for that answer? really.
Anyway. Thanks. i will look it up.

[2021-08-23 15:52] #43071 closed

[2021-08-23 15:52] #50629 closed

[2021-08-23 16:06] srjoglekar246 commented on #51404
@JiashuGuo At a high level, may I know what is the output you desire from the MaskRCNN model? Is it just bounding boxes or segmentation masks as well?

Some of the TF MaskRCNN versions aren't mobile friendly due to their source graph, which generates a lot of problems especially if you are considering quantization.

[2021-08-23 16:10] mihaimaruseac commented on #49211
Closing due to no more updates

[2021-08-23 16:10] #49211 closed

[2021-08-23 16:28] yisitu commented on #37543
@ckluk FYI

[2021-08-23 16:33] Saduf2019 commented on #11149
@datainfer
Is this still an issue, could you please check in the latest version as many issues have been fixed in the latest version

[2021-08-23 16:37] Saduf2019 commented on #12203
@ybxgood
Moving this to closed status with respect to [this comment](https://github.com/tensorflow/tensorflow/issues/32315#issuecomment-532778229)

[2021-08-23 16:37] #12203 closed

[2021-08-23 16:38] JiashuGuo commented on #51404
I am expecting both bboxes and segment masks.

On Mon, Aug 23, 2021 at 9:06 AM Sachin Joglekar ***@***.***>
wrote:

[2021-08-23 16:40] Saduf2019 commented on #12579
@ruanlele
Could you please let us know if this is still an issue, as many bugs/issues have been fixed in the latest version

[2021-08-23 16:47] tilakrayal commented on #51377
@rschumi0 ,
Please feel free to move this issue to closed status,as it  has been tracked in keras repo.Thanks!

[2021-08-23 16:48] MarkDaoust commented on #23798
Hi @siddharth25pandey,

While it's true that this thing is under-documented,  `ServingInputReceiver` is now only available in the legacy `tf.compat.v1` package. So any effort may be better-spent elsewhere.

If it's important to you, you can always send us a documentation update (but note that we do have a "too small to accept" threshold, we don't accept single-character PRs.).

[2021-08-23 16:48] #23798 closed

[2021-08-23 16:52] #43238 closed

[2021-08-23 16:53] #43339 closed

[2021-08-23 16:53] #43416 closed

[2021-08-23 16:53] #43596 closed

[2021-08-23 16:53] #44052 closed

[2021-08-23 16:53] #45394 closed

[2021-08-23 16:53] #51082 closed

[2021-08-23 16:53] #13222 closed

[2021-08-23 17:14] ymodak commented on #51506
Thanks for sharing your analysis. I will close this issue now.

[2021-08-23 17:16] rainwoodman commented on #51500
Indeed. A fix has been committed to avoid the extra argument error:

https://github.com/tensorflow/tensorflow/commit/fc0f0e61ca9fe3ca3b9b58f51bcf00e0643ed9e3

[2021-08-23 17:42] #51377 closed

[2021-08-23 17:45] #51379 closed

[2021-08-23 17:52] Saduf2019 commented on #51349
@superplay1
Can you please share the document link you are referring to.

[2021-08-23 18:15] Saduf2019 commented on #51528
@Qrox
Please refer to [this issue](https://stackoverflow.com/questions/59193734/typeerror-tensors-in-list-passed-to-values-of-concatv2-op-have-types-bool) and let us know.

[2021-08-23 18:17] sanjoy commented on #36465
Hi everyone,

It looks like there are couple of different issues here, with different root causes & fixes.

1. In some cases the TensorFlow process does not exit ("the only way I can then release the GPU memory is to restart my computer").  I suspect this behavior is environmental and is outside TensorFlow so we don't have a fix or a workaround.  If you're able to share a reproducer for this that

[2021-08-23 19:05] AdityaKane2001 opened #51640 "Cannot load model checkpoints: Two checkpoint references resolved to different objects"
I am trying to load model checkpoints saved during training. My model has custom layers and the full implementation can be found [here](https://github.com/AdityaKane2001/regnety/issues/15).

My model looks as follows:
[code]

When I try to load the model checkpoint after initializing the model architecture, I get the following warning message with an error as described below.

[code]
Gist [here](h

[2021-08-23 19:57] robotoil commented on #36465
How about an example of how to properly release memory?

[2021-08-23 20:32] nouiz commented on #36465
About cudaMallocAsync. The verison in TF isn't working.
This PR fix it: https://github.com/tensorflow/tensorflow/pull/50961 So watch this PR and when it get fixed, wait a day and you can try TF nighly.

@robotoil it is currently not possible to ask TF to release memory.

@sanjoy About allow_growth, you are right that in theory it can still increase memory fragmentation. But recently it was changed

[2021-08-23 20:32] jvishnuvardhan commented on #51521
@mihaimaruseac Can you please take a look at it? Thanks!

[2021-08-23 20:38] ricardofunke opened #51641 "Does a Docker container need to use the same exact libcuda version as the host's driver?"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-08-23 20:43] llodds opened #51642 "How to wrap a CuPy function inside a function decorated by tf.function"
I have a CuPy function tweaking TF tensor as follows:
TF tensor => dlpack => CuPy device array => apply some CuPy functions => CuPy device array => dlpack => TF tensor.

The code will work in eager mode, but once I decorate the function with tf.function, it won't work.

[code]

I believe the general question should be: how to wrap up a python function calling TF tensor and also returning TF tensor

[2021-08-23 20:47] jiannanWang opened #51643 "tf.math.xdivy decorated with @tf.function returns 0 when the input is large"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.6.0
- Python version:

[2021-08-23 20:52] #50978 closed

[2021-08-23 21:23] kylechang523 commented on #51561
Hi,

We already used the fixed batch size while converting the tflite model
`run_model = tf.function(lambda x: basemodel(x))
# This is important, let's fix the input size.
BATCH_SIZE = 4
STEPS = 32
INPUT_SIZE = 320
CHANNEL = 1
concrete_func = run_model.get_concrete_function(
    tf.TensorSpec([BATCH_SIZE, STEPS, INPUT_SIZE, CHANNEL], basemodel.inputs[0].dtype))

MODEL_DIR = "model"
basemodel.save(

[2021-08-23 22:42] sparrow84001 opened #51644 "tensorflow-gpu==2.6 don't run on cuda by default"
dear all dev,

tensorflow-gpu==2.6 by default use oneAPI/oneDNN library

put on by default cuda lib like previous version 2.5.

problem:

previous version , when import tensorflow as tf then 2nd message gave Successfully opened dynamic library cudart64_110.dll
but now 2.6 version don't saw that message and by default use intel integrated gpu (oneAPI/oneDNN library).

[2021-08-23 22:44] cheshire commented on #48967
hi @KatiaSN602 , selecting `optimized_hlo_proto_serialized ` (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/compiler/jit/get_compiler_ir.h#L35) should give you back the proto, is that your question?

[2021-08-23 23:43] srjoglekar246 commented on #51404
I see. Where was this Mask RCNN model obtained from? I am not very familiar with the model structure and what kinds of I/O tensors it expects. Maybe try running a floating point model before trying quantized?

[2021-08-23 23:48] srjoglekar246 commented on #51093
@twkx  Can you share how you quantized the model?

[2021-08-23 23:48] srjoglekar246 commented on #51093
(Maybe not the actual data you used to quantize, but just the code snippet)

[2021-08-23 23:54] srjoglekar246 commented on #51629
@zldrobit To help me debug can you share the model (with NMS) here? I can take a look at the ops & help debug.

[2021-08-24 00:24] jvishnuvardhan commented on #26385
@pabloppp This is a stale issue. Many bugs have been fixed in the latest TF version. Could you please execute your code using Latest Version 2.6 (and tf-nightly) and let us know if the issue still persists?

Also, please note that we are not supporting TF1.x. Thanks!

[2021-08-24 00:30] jvishnuvardhan commented on #26435
@gustavz This is a stale issue.

Many bugs have been fixed in the latest TF version. Could you please execute your code using Latest Version 2.6 (and `tf-nightly`) and let us know if the issue still persists? If it persists with latest TF versions, can you please share a simple standalone code to reproduce the issue?

Also, please note that we are not supporting TF1.x. Thanks!

[2021-08-24 01:10] gititgo commented on #51426
Thank you very much

[2021-08-24 01:40] Qrox commented on #51528
@sushreebarsa already refered me to that issue, and the solution there of adding `mask_zero=True` is not applicable here.

[2021-08-24 01:40] NihalHarish opened #51645 "model.layers returns empty list"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Custom Code
-

[2021-08-24 01:50] Loganpi opened #51646 "Autograph could not transform <function Model.make_test_function.<locals>.test_function at 0x14ec9d430> and will run it as-is."
**System information**
- Have I written custom code:
- OS Platform and Distribution : MacOS 11.5.2
- TensorFlow installed from TensorFlow_MacOS
- TensorFlow version (use command below): 2.4
- Python version: 3.8.10
- GPU model and memory: Using apple M1 CPU

You can collect some of this information using our environment capture
[script](https://github.com/tensorflow/tensorflow/tree/master/tools/t

[2021-08-24 02:09] ymodak commented on #51088
@Neutrino0532 TF 1.10 is obsolete and out of support window. Have you considered installing tf 1.10 pip packages instead? Also is it possible to try latest TF 1.15 version if not TF 2.X? Thanks!

[2021-08-24 02:17] #51635 closed

[2021-08-24 02:33] zldrobit commented on #51629
@srjoglekar246 Of course. [The model](https://drive.google.com/file/d/131FsXY7SmDgy1-SMucm4-0cNS2gds9c7/view?usp=sharing) is an object detection model with `tf.image.non_max_suppression` op.
I extract the number of valid detections by `tf.shape(selected_indices)[0]` returned from the NMS https://github.com/zldrobit/yolov5/blob/fa277e5a54ecc572bfcff1b88808ce85de5bfede/models/tf.py#L409-L410.

I als

[2021-08-24 02:58] xunbing commented on #51626
Now I found the reason why my Dense Not been delegate to CoreML is that its' dims except last dim are not 1.

[2021-08-24 02:59] #51626 closed

[2021-08-24 03:00] terryheo commented on #39228
FYI, `TensorFlow with OpenCL SYCL` option is only applied for TensorFlow build. It's not a TensorFlow Lite build option.

For the TFLite OpenCL, you should check https://www.tensorflow.org/lite/guide/build_cmake#opencl_gpu_delegate

[2021-08-24 03:00] #39228 closed

[2021-08-24 03:12] georgebohnisch commented on #42482
Having the same issue, did anyone figure this out?

[2021-08-24 03:19] ymodak commented on #51137
Closing this issue since it's resolved now. Feel free to reopen if necessary. Thanks!

[2021-08-24 03:19] #51137 closed

[2021-08-24 04:01] jvishnuvardhan commented on #51407
@jiqiujia I am not sure about the words used in `deprecation` warning. But, as mentioned in that deprecation warning, please use `tf.keras.metrics.AUC` in place of `tf.compat.v1.metrics.auc`. It is always best not to mix `v1` (related to TF1.x) and `v2` (related to TF2.x) modules.

That warning will be removed soon when next auto update cycle runs to update TF webpages. Thanks!

[2021-08-24 04:02] ymodak commented on #48796
This is fixed with latest TF api docs https://www.tensorflow.org/api_docs/python/tf/scatter_nd
Thanks!

[2021-08-24 04:02] #48796 closed

[2021-08-24 04:32] twkx commented on #51093
The full code is in the zip file attached in issue description and runs in standalone.

[2021-08-24 04:57] twkx commented on #51093
See the model.py file in the model.zip file attached previously.

Thanks for the help

[2021-08-24 04:58] daverim commented on #35194
Hi @AnastGerus, it seems that the varhandle op is getting converted via
select_tf_ops. Do you require this? It seems that if you remove
select_tf_ops it should work. Otherwise, the calibrator is missing support
for FlexVarHandleOp, and needs a fix.

Please let me know if removing select tf ops is ok, and if not, will work
on a fix for the calibrator.

On Mon, Aug 23, 2021 at 9:32 PM AnastGerus ***

[2021-08-24 05:04] sushreebarsa commented on #51633
@old-school-kid Could you please have a look at the [link](https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit), and similar[ issue1](https://stackoverflow.com/questions/64718185/efficiently-converting-for-model-fit), [issue2](https://stackoverflow.com/questions/58605279/tensorflow-value-error-in-model-fit-how-to-fix).Please let us know if it helps?Thanks!

[2021-08-24 05:07] chenghuige commented on #51635
tested ok on 2.6rc2

[2021-08-24 05:15] mohantym commented on #51644
Hi! @sparrow84001  ,
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue.

[2021-08-24 05:22] sanatmpa1 commented on #51472
Thanks for the confirmation @JJKK1313  and I am closing this issue!

[2021-08-24 05:22] #51472 closed

[2021-08-24 05:48] ttang235 commented on #51490
@rchao Hi Rick

[2021-08-24 05:53] tilakrayal commented on #51631
@HannaLochOlszewska ,
 In order to expedite the trouble-shooting process, could you please provide a minimal code snippet where you are facing the warning.Thanks!

[2021-08-24 06:13] sanatmpa1 commented on #51179
@crawlingcub,

I am able to reproduce the code in colab with GPU and take a look at this [gist](https://colab.research.google.com/gist/sanatmpa1/9538a075bf83bf823a2dfb9a370fa7be/51179.ipynb#scrollTo=5ZnEJYZL_22p). I am not seeing slower inference when using XLA as both the evaluation takes similar time. Can you try updating to latest stable version `2.6.0` and let me know if the issue persists? Th

[2021-08-24 06:16] #23231 closed

[2021-08-24 06:51] tilakrayal commented on #51642
@llodds ,
In order to expedite the trouble-shooting process, could you please provide a complete code and tensorflow you are using.Thanks!

[2021-08-24 06:53] castielhzh commented on #35860
I also met this problem.My OS is centos7, adding the conf file under /etc/modprobe.d/ and then rebuilding the inital RAM disk by `sudo dracut  --force` and reboot solve the problem.

[2021-08-24 06:57] DachuanZhao commented on #41244
Why ?

[2021-08-24 07:05] SennriSyunnga opened #51648 "【JavaAPI】IllegalStateException happended while running a model loading from SavedModel and the graph instance cant close itself"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes, i will attach below.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 &&  Window 10 1909
- TensorFlow installed from (source or binary): Java Maven
[code]
- TensorFlow version (use command below): 1.15.0

**Describe the current behavior**
I try

[2021-08-24 07:09] thsunkid commented on #50980
My models failed in different situations with the same log.

In those cases, reducing model size or reducing the batch size often helped.
I suspect it could be a memory related issue.

[2021-08-24 07:09] DachuanZhao opened #51649 "What is the format setting used in the repository?"
I am trying to create a pr but I am having problems with the auto-formatting code.

What is the configuration used ? Right now I use yapf with :
[code]

[2021-08-24 07:16] #50832 closed

[2021-08-24 07:16] #43472 closed

[2021-08-24 07:17] sushreebarsa commented on #51640
@AdityaKane2001 Could you please have a look at the [link ](https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint?version=nightly) and similar [issue](https://github.com/tensorflow/models/issues/8892) .Please let us know if it helps?Thanks!

[2021-08-24 07:22] tilakrayal commented on #51403
@theAnshulGupta ,
Please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/50541#issuecomment-890051213) from the issue with similar error.Thanks!

[2021-08-24 07:36] sushreebarsa commented on #51646
@Loganpi In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here.Thanks!

[2021-08-24 07:45] sushreebarsa commented on #51643
@jiannanWang Could you please have a look at the[ link](https://www.tensorflow.org/guide/function), [link1](https://www.tensorflow.org/api_docs/python/tf/math/xdivy) and let us know if it helps? Thanks!

[2021-08-24 07:54] SamSamhuns commented on #40313
Just checked, it still requires building from src to enable XNNPACK

[2021-08-24 08:04] HannaLochOlszewska commented on #51631
Hi @tilakrayal, sure. The warning is visible when I run pytest on file with loaded tensorflow.
dummy_test.py:
[code]
I run:
`pytest dummy_test.py`
and get a warning.

[2021-08-24 08:05] shkarupa-alex commented on #48845
TF 2.6.0 + Google Colab = issue is still here

[2021-08-24 08:21] AdityaKane2001 commented on #51640
@sushreebarsa

I don't think the issue is relevant as none of them had the same issue. But I'll try with the link and get back to you.

The link suggests that we must compile and load the relevant optimizer also when loading the weights. AFAIK that isn't the case with Keras models without custom layers.

[2021-08-24 08:35] mohantym commented on #51634
Hi @Saduf2019 ,Could you please look into this issue.

[2021-08-24 08:59] kumariko commented on #16205
@kwotsin We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-08-24 09:00] mohantym commented on #51629
Hi @zldrobit @ymodak  was able to replicate this issue in TF [2.6](https://colab.research.google.com/gist/mohantym/2a8cc0bc6c5aeadda3308e8bee77705c/tflite_nms_valid_det_nr.ipynb#scrollTo=oxhGNjJVDJ7m) and [2.5](https://colab.research.google.com/gist/mohantym/06a9b93aa041aa48b8fbd08376f55428/tflite_nms_valid_det_nr.ipynb#scrollTo=6NBf9_I--rHf) , got different error in TF [nightly](https://colab.res

[2021-08-24 09:24] mohantym commented on #51602
Hi @SkylerZheng ,
In order to expedite the trouble-shooting process, could you please provide a stand alone code code to reproduce the issue reported here. Thanks!

[2021-08-24 10:10] tilakrayal commented on #51645
@NihalHarish ,

Please post this issue on [keras-team/keras](https://github.com/keras-team/keras/issues) repo.
To know more refer to:
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)

[2021-08-24 10:37] MPKenning commented on #47554
I have successfully suppressed the warnings by changing the log-level of `absl.logging`:

`import absl.logging`
`absl.logging.set_verbosity(absl.logging.ERROR)`

[2021-08-24 10:42] MR-T77 commented on #51506
Any way to make this work for a M1 inside a Conda environment?

[2021-08-24 11:42] starboyvarun opened #51651 "NotFoundError:"
![3](https://user-images.githubusercontent.com/26819449/130610197-91537368-ef94-4440-b884-515bba21b770.JPG)

I could not find anything related to solving this Error.
I tried each and every possible way possible.
Please help.
Thankyou

[2021-08-24 11:50] sushreebarsa commented on #51651
@starboyvarun In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Thanks!

[2021-08-24 11:54] sparrow84001 commented on #51644
[

https://user-images.githubusercontent.com/37022413/130611931-760cbb11-c6f2-4797-8b91-a5d2a3c2107d.mp4

](url)

[2021-08-24 11:57] starboyvarun commented on #51651
Ok sure.

![3 1](https://user-images.githubusercontent.com/26819449/130612353-5c742024-0b9b-4bc3-8f99-d9fff4a2a9f5.JPG)

[2021-08-24 12:09] sushreebarsa commented on #51651
@starboyvarun Please, share colab link or simple standalone code to reproduce the issue in our environment.It helps us in localizing the issue faster.Thanks!

[2021-08-24 12:15] starboyvarun commented on #51651
ok sure.
https://colab.research.google.com/drive/1mBzzJGbyUhAg-HD0yC74ncXorI_oWDWA?usp=sharing
Thank You.

[2021-08-24 12:17] sushreebarsa commented on #43020
@LiamRandall Could you please let us know if you have tried in the latest stable version of TF 2.6.0 and if the issue still persists ? Thanks!

[2021-08-24 12:53] starboyvarun commented on #51651
@sushreebarsa  did you check it?

[2021-08-24 12:59] yahuuu opened #51652 "My libnnappi_delegate.so is debug or release"
**System information**
- OS Platform: ubuntu 16.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: MI 9(mobile phone）
- TensorFlow installed from: Source
- TensorFlow version: 2.5.0
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 7.3.0
- CUDA/cuDNN version: 10.0
- GPU model and memory: Tesla K40m

[2021-08-24 13:05] Saduf2019 commented on #43690
@rxsang
I am able to replicate the issue on tf [2.6 as well], please find the [gist here](https://colab.research.google.com/gist/Saduf2019/e5d80e3f840a4231194db960c92b14b0/untitled627.ipynb)

[2021-08-24 13:08] Saduf2019 commented on #51634
@joelberkeley
Please feel free to submit a pr with the changes expected.

[2021-08-24 13:25] sushreebarsa commented on #51651
@starboyvarun Could you please refer to the [tutorial ](https://github.com/BIMSBbioinfo/janggu/blob/master/docs/tutorial.rst) and let us know if it helps ?Thanks!

[2021-08-24 13:57] joelberkeley commented on #51634
@Saduf2019 I can't because I don't know how the functionality works

[2021-08-24 13:58] LukeBolly opened #51653 ""ZeroDivisionError: integer division or modulo by zero" while backpropagating"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below):
tensorflow              2.5.0
tensorflow-estimator    2.5.0
tensorflow-probability  0.12.2

- Python version

[2021-08-24 14:38] sushreebarsa commented on #51640
@sanatmpa1 Was able to replicate this issue on colab using TF v[2.5](https://colab.research.google.com/gist/sushreebarsa/77833cb4ef97e25eb685ff0e6d7aceeb/groupedconvissue.ipynb#scrollTo=2ktbxlQ7klob),[2.6 ](https://colab.research.google.com/gist/sushreebarsa/8ab1cd8eb7b5cd3a37e98993cfa06ca8/groupedconvissue.ipynb#scrollTo=YmloOJA1cd4i)and [tf-nightly](https://colab.research.google.com/gist/sushree

[2021-08-24 14:50] puggxlii opened #51654 "Error: 'tf.UnsortedSegmentJoin' op is neither a custom op nor a flex op"
### 1. System information

- OS Platform and Distribution : google colab
- TensorFlow installation (pip package or built from source): tensorflow 2.6 gpu
- TensorFlow library: 2.6.0

### 2. Code

converter = tf.lite.TFLiteConverter.from_saved_model('translator') # path to the SavedModel directory
converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS,

[2021-08-24 15:12] jiannanWang commented on #51643
Thank you for your quick response! I have read the two links you provided, but I'm afraid they don't help. I think it's a correctness issue rather than a performance issue. Can you please be clearer and maybe provide more information? Because I don't understand why these two links might be helpful.

[2021-08-24 15:14] KammererTob commented on #51591
I have the same error trying to infer on Android. Also opened a question on stackoverflow: https://stackoverflow.com/questions/68908871/output-tensor-size-mismatch-with-ssd-fpn-models-on-mobile

[2021-08-24 15:18] Loganpi commented on #51646
Here is my full code:
[code]
Is this what you wanted?
Thanks, Logan

[2021-08-24 15:21] craditya commented on #51591
so that means this issue is not just limited to tflite model maker library, but more so because of tf lite converter
@abattery @mohantym

[2021-08-24 15:35] lemairecarl commented on #51521
I have used the following workaround: I patched the RPATHs of cuDNN binaries to include $ORIGIN.

Also, please note that on the system I use, RPATHs should be used instead of RUNPATHs. (The tensorflow build process uses RUNPATHs).

[2021-08-24 15:43] LukeBolly commented on #51653
I figured out a workaround, but I'm pretty sure that this is a bug.

The very last step of my loss calculation was concatenating a bunch of scalars together and taking the mean, by changing them from scalars to rank 1 tensors with keep_dims, the error no longer occurs.

some pseudo-code:

[code]

[2021-08-24 15:51] sanatmpa1 commented on #38737
@jiapei100,

As we have the latest stable version `2.6.0`, Can you try building `TF 2.6.0` from source, and let us know if the issue still persists? Thanks!

[2021-08-24 16:04] Saduf2019 commented on #38300
@chuanqi129
As we have the latest stable version 2.6.0, Can you try building TF 2.6.0 and let us know if this is still an issue.

[2021-08-24 16:06] Saduf2019 commented on #38070
@xiongyu0523
As we have the latest stable version 2.6.0, Can you try building TF 2.6.0 or any latest 2.x version and let us know if this is still an issue.

[2021-08-24 16:07] Saduf2019 commented on #37985
@settle
As we have the latest stable version 2.6.0, Can you try building TF 2.6.0 and let us know if the issue still persists?

[2021-08-24 16:09] Saduf2019 commented on #37861
@Flamefire
As we have the latest stable version 2.6.0, Can you try building TF 2.6.0 and let us know if the issue still persists?

[2021-08-24 16:11] Saduf2019 commented on #37695
@bu-bgregor
As we have the latest stable version 2.6.0, Can you try building TF 2.6.0 or any later 2.x version and let us know if the issue still persists?

[2021-08-24 16:16] #45853 closed

[2021-08-24 16:39] mihaimaruseac commented on #51408
You must upgrade to TF 2.x if you want fixes for vulnerabilities.

TF 1.x will not be updated at all. Use it at own risk

[2021-08-24 16:40] mihaimaruseac commented on #31412
This is still true.

We don't see this in our CI

[2021-08-24 16:44] ymodak commented on #51506
@MR-T77 TF build install issues in Conda environment are supported on https://github.com/ContinuumIO/anaconda-issues/issues
Thanks!

[2021-08-24 16:45] AnastGerus commented on #35194
Hi @daverim,
Unfortunately "select_tf_ops" can't be removed for LSTM, because (even without any optimizations) you will get an error:
[code]
So I suppose it needs a fix in the calibrator.

But the possibility to remove "select_tf_ops" for LSTM also would be a good solution, because "select_tf_ops" makes TFLite library binary size increase drastically.

Thank you,
Anastasiia

[2021-08-24 16:47] sanatmpa1 commented on #38336
@matthewn4444,

Can you try updating to latest stable version of tensorflow `2.6.0` and let us know if the issue still persists? Thanks!

[2021-08-24 16:59] rchao commented on #51490
Hello @ttang235, thanks for opening the issue. For a regression like this, running a bisect is usually the easiest way to figure out the culprit.

[2021-08-24 17:05] llodds commented on #51642
@tilakrayal

As requested:

[code]

Error message:
[code]

Thanks!

[2021-08-24 17:06] muxamilian commented on #51499
I figured out that the error only occurs when using the Apple M1's GPU with the tensorflow-metal plugin from Apple.

If I disable the GPU with ```tf.config.experimental.set_visible_devices([], 'GPU')``` everything works as expected.

[2021-08-24 17:08] CodeMonkey3435 opened #51657 "Compile TFLite wheel file for Raspberry Pi 4. (Tensorflow operators problem)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Raspbian(Buster) (64 bit version)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Raspberry Pi 4 (1GB RAM, but 2GB Swap memory I think)
- TensorFlow installed from (source or binary): trying to install
- TensorFlow version: 2.5.0, also TFLite 2..5.0
- Python version: 3

[2021-08-24 17:10] bhack commented on #51453
/cc @reedwm

[2021-08-24 17:15] snamjoshi commented on #44637
For anyone running into this issue on AWS Batch: The shared memory size is an available parameter you can customize when setting job parameters: https://docs.aws.amazon.com/batch/latest/userguide/job_definition_parameters.html

Setting the shared memory size at 256 solved this issue on AWS Batch.

[2021-08-24 17:25] #51633 closed

[2021-08-24 18:10] JiashuGuo commented on #51404
The model is downloaded from [here](https://tfhub.dev/tensorflow/mask_rcnn/inception_resnet_v2_1024x1024/1).  I also tried other versions in tf1 model zoo, but none works. So yeah, it seems now I can only run the float point model.

[2021-08-24 18:31] mohantym commented on #51622
Hi @sanatmpa1 ,could you please look into this issue.

[2021-08-24 18:39] ymodak commented on #50118
Closing this issue for now. Feel free to reopen if further discussion/information is available. Thanks!

[2021-08-24 18:39] #50118 closed

[2021-08-24 18:48] yongtang commented on #51618
Added a PR #51618 for the fix.

[2021-08-24 19:01] mohantym commented on #51619
Hi @Saduf2019 ,Could you please look into this issue!

[2021-08-24 19:16] #41226 closed

[2021-08-24 19:19] mohantym commented on #51641
Hi @ricardofunke , Could you please look into answers of following similar[ issue.](https://github.com/tensorflow/tensorflow/issues/48722)

[2021-08-24 19:23] pkanwar23 opened #51659 "Upgrade TF to CUDA 11.4 and cuDNN 8.2"
Upgrade TF to CUDA 11.4 and cuDNN 8.2

[2021-08-24 19:38] mohantym commented on #51648
Hi @SennriSyunnga !we see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-24 19:40] ymodak commented on #48467
This is fixed with TF 2.6 please refer colab [gist](https://colab.research.google.com/gist/ymodak/7336b5b143ee04f7c8e88d50eb51e606/untitled3.ipynb). Thanks!

[2021-08-24 19:40] #48467 closed

[2021-08-24 20:11] ymodak commented on #51043
I tested in colab both cpu and gpu implementation results match and I get
[code]
I wonder why you are seeing different results. You may try test with google colab.

[2021-08-24 20:25] suneeta-mall commented on #46344
@rmothukuru @Saduf2019  Have you had any luck with this issue? I have been hit by this and trying to understand what the Tensorflow team's vision is with BaseLogger.

Looks like BaseLogger was applied by default on all keras model but this is only true for TensorFlow V1 models as indicated here https://github.com/tensorflow/tensorflow/blob/e104b6a9e87ea5956451ab56c1f5ca486c511bc4/tensorflow/python

[2021-08-24 20:28] ymodak commented on #50822
If the number of threads are not specified then they will be implementation-defined and platform-dependent.
See https://www.tensorflow.org/lite/api_docs/java/org/tensorflow/lite/Interpreter.Options#public-interpreter.options-setnumthreads-int-numthreads

[2021-08-24 20:36] ymodak commented on #51380
Were you able to build model successfully using keras sequential api?

[2021-08-24 20:38] albertz commented on #40228
Sorry for the late response. I updated my colab [here](https://colab.research.google.com/drive/1CBqBLeE-jS3uNW-vpW7aUM9n_ITA1h0J?usp=sharing#scrollTo=3kejg29elFZt) for TensorFlow 2.6. The problem still persists.

[2021-08-24 20:42] albertz commented on #40228
@rohan100jain @googlebot @sushreebarsa @gowthamkpr @tensorflowbutler I cannot reopen myself. Can someone reopen?

[2021-08-24 21:00] ymodak commented on #50788
This question is better asked on [TensorFlow Forum](https://discuss.tensorflow.org/) since it is not a bug or feature request. There is also a larger community that reads questions there.
Thanks!

[2021-08-24 21:00] #50788 closed

[2021-08-24 21:17] abattery commented on #51654
@MeghnaNatraj could you take a look at this flex op addition?

[2021-08-24 22:33] srjoglekar246 commented on #51404
To clarify: Does the floating point model work as expected?

[2021-08-24 23:00] srjoglekar246 commented on #51629
@zldrobit You are right, I played around with your script & the padded version of NMS performs correctly. This might be because we map the TF implementation of padded NMS to TFLite's custom NMS op. This essentially 'fuses' the whole NMS procedure into a single op - this does not happen for `tf.image.non_max_suppression`, which results in a big graph that is kinda buggy.

The following code snippet

[2021-08-24 23:47] srjoglekar246 commented on #51093
This is an issue on our side, I will ping back here once I have a fix.

[2021-08-25 00:14] abattery commented on #51657
@terryheo could you take a look?

[2021-08-25 00:25] christopherbate commented on #51484
In both cases are you using "TensorRT 5.1.2.2-1"?

I will take a look tomorrow.

FWIW, TRT 5 support is removed in master already.

[2021-08-25 00:46] zldrobit commented on #51629
@srjoglekar246 Thanks for your detailed explanation. I could use padded NMS in my use case, though it will break some backward compatibility in the project.

[2021-08-25 00:53] jvishnuvardhan commented on #46244
@djoshea I can reproduce this with recent `TF2.6` and `tf-nightly`. May be this is a potential bug.

As Keras moved to separate repo (i can't move the issue), can you please close here and open in keras repo https://github.com/keras-team/keras/issues

Thanks!

[2021-08-25 01:17] jvishnuvardhan commented on #46217
@cookingbear Is this still an issue for you? Can you please test with recent `TF2.6` and `tf-nightly` and let us know whether the issue persists. [Here](https://colab.research.google.com/gist/jvishnuvardhan/1844f21420de68d53ea92d8b0ebb4a17/untitled233.ipynb) is a gist for reference. Thanks!

[2021-08-25 01:39] yongtang commented on #31412
Added a PR #51663 to get the deprecation message fixed.

[2021-08-25 01:43] neesetifa commented on #51590
anyone can help, please?

[2021-08-25 01:45] yyoon commented on #51389
Can you confirm that you've also followed the steps right above the section you linked?
https://www.tensorflow.org/lite/performance/measurement#trace_tensorflow_lite_internals_in_android

Also, what version of TFLite are you running?

[2021-08-25 01:57] yyoon commented on #51547
Can you also provide the exact code that you used? Or did you use the unmodified version of the example app and just replaced the model file in it?

Without the exact reproduction steps, I can only guess that this is probably caused somewhere around setting the input / output tensors in your app code.

[2021-08-25 02:29] cookingbear commented on #46217
thanks for your attention. I would test again with the newest version.

[2021-08-25 02:45] SennriSyunnga commented on #51648
Thank you for your help!
I keep the java maven tensorflow version equal to that of FATE project,
And I didnt realize that maven repository have higher version artifacts than 1.15.0 until you told me.
I read https://github.com/tensorflow/tensorflow/tree/master/tensorflow/java first, the maven 1.15.0 link in the 'Quickstart' part really misled me.
I will be appreciate it if someone can update the in

[2021-08-25 03:11] dhakrasp opened #51664 "TFLite Converter fails for models with embedding layer"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip package
- TensorFlow library (version, if pip package or github SHA, if built from source): 2.0.0

### 2. Code

Provide code to help us reproduce your issues using one of the following options:

#### Option B: Paste your code her

[2021-08-25 03:18] mohantym commented on #51638
Hi @dogevspenguin ,    Template is not completely filled ,Tensorflow version is missing . Could you please look at the [comments](https://github.com/tensorflow/tensorflow/issues/24642#issuecomment-452911775) in this issues , It suggests upgrading to macOS 10.12.6 (Sierra) or later. To use Tensorflow on old CPUs you'll need to build a binary on your own.  Also try uninstall tensorflow and install u

[2021-08-25 03:22] abattery commented on #51664
Please use the recent TensorFlow version and enable the following flag:

[code]

[2021-08-25 03:25] mohantym commented on #51644
Hi @Saduf2019 ,Could you please look into this feature request.

[2021-08-25 03:49] memr5 commented on #51484
Talking about the NGC Tensorflow containers, I am using whatever I get in the container.
For 2080 container (19.10) it is TensorRT 5.1.5.
And for 3080 container (21.07) it is TensorRT 8.

[2021-08-25 03:59] igorcosta commented on #51664
Worth looking here as well #https://github.com/tensorflow/tensorflow/issues/43833

[2021-08-25 04:00] jvishnuvardhan commented on #47131
@fsx950223 I can reproduce this with recent TF2.6 and `tf-nightly`. May be this is a intended behavior. As the layer is of dense, default name includes `dense`.

As Keras moved to separate repo (i can't move the issue), can you please close here and open in keras repo https://github.com/keras-team/keras/issues

Keras team is focussed on the new repo mentioned above.

Thanks!

[2021-08-25 04:10] jvishnuvardhan commented on #34396
I am closing this as this was resolved with `tf-nightly`.

If anyone still facing issue with recent `tf-nightly`, please feel free to create a new issue with a simple standalone code to reproduce the issue. Thanks!

[2021-08-25 04:10] #34396 closed

[2021-08-25 04:12] mohantym commented on #51652
Hi @yahuuu  !This does not seem to be  a bug or feature request, for any further queries you may open this issue in [TF discussion forum ](https://discuss.tensorflow.org/)as there is a larger community there.Thank you!

[2021-08-25 04:24] starboyvarun commented on #51651
![image](https://user-images.githubusercontent.com/26819449/130725984-31a75f24-ff03-4341-bedb-0e91347a0a5b.png)

That's what I was saying I am implementing this library only but the error coming on the first cell of code.
I have already tried running this tutorial.
That's why I was asking.
just tell me how should I solve this.
ThankYou.

[2021-08-25 04:29] jvishnuvardhan commented on #33387
@tgpsantos This is a stale issue. Is this still an issue for you?

If yes, can you please share a simple standalone code to reproduce the issue. Since the issue opened, there is a lot of TFLite tutorials added to convert keras model/saved model into different levels of precisions. Please check the [guide here](https://www.tensorflow.org/lite/convert). Thanks!

[2021-08-25 04:44] tilakrayal commented on #51649
@DachuanZhao ,

Can you please refer this links for information regarding PR contribution.[Link1](https://www.tensorflow.org/datasets/contribute),[Link2](https://www.tensorflow.org/community/contribute/code).It helps.Thanks!

[2021-08-25 05:11] yongtang commented on #51631
The issue will be fixed with PR #51663.

[2021-08-25 05:16] #21922 closed

[2021-08-25 05:24] yongtang commented on #51624
This issue seems to have been fixed by the latest tf-nightly.

[2021-08-25 05:24] yongtang commented on #51625
This issue seems to have been fixed by the latest tf-nightly as well.

[2021-08-25 05:33] tilakrayal commented on #51653
@LukeBolly ,
 In order to expedite the trouble-shooting process, could you please provide a complete code and the dataset you are using.Also please refer to these links [1](https://github.com/google/emoji-scavenger-hunt/issues/28) and [2](https://stackoverflow.com/questions/44998778/keras-zerodivisionerror-integer-division-or-modulo-by-zero) and let us know if it helped.Thanks!

[2021-08-25 05:33] yongtang commented on #42152
Close as the issue has been resolved in the latest nightly build. Please feel free to re-open if the issue persists.

[2021-08-25 05:33] #42152 closed

[2021-08-25 06:16] #51414 closed

[2021-08-25 06:17] mohantym commented on #51591
Hi @ymodak  ,Could you please look into this issue!

[2021-08-25 06:23] mohantym commented on #51570
Hi @hotpeppeper ,Could you please provide a Colab gist with necessary model files ?

[2021-08-25 06:24] jvishnuvardhan commented on #32765
@GGGWB This is a stale issue.

Since the issue opened, there were lot of improvements in TFlite and micro. Difficult to say how many neurons, hidden layers without knowing the target device. But, Some of the big models were converted to TFLite format and used for `object_detection`, `pose_estimation`, `speech recognition`, `segmentation` and many more applications. Please feel free to check those

[2021-08-25 06:24] #32765 closed

[2021-08-25 06:47] tilakrayal commented on #51631
The issue will move to closed status once the PR is merged.

[2021-08-25 06:50] leejiajun commented on #24828
I got the same issue.
`pip install --upgrade tensorflow-gpu==1.10.0` solves it.

[2021-08-25 06:52] tilakrayal commented on #51576
@dyoo-dev ,
Can you please take a look at this links with similar error.[Link1](https://discuss.tensorflow.org/t/invalidargumenterror-required-broadcastable-shapes-op-mul/3824),[link2](https://stackoverflow.com/questions/67557515/invalidargumenterror-required-broadcastable-shapes-at-locunknown).It helps.Thanks!

[2021-08-25 07:04] sushreebarsa commented on #45185
@nixmeer Thank you for the update!Could you please move this issue to closed status ?Thanks!

[2021-08-25 07:10] sushreebarsa commented on #48146
@ibreschi Could you please let us know if you have tried as per the [comment](https://github.com/tensorflow/tensorflow/issues/48146#issuecomment-824224482) using latest stable version of TF 2.6.0?Please let us know if the issue still persists ?Thanks!

[2021-08-25 07:16] #51400 closed

[2021-08-25 07:16] #51401 closed

[2021-08-25 07:16] #51413 closed

[2021-08-25 07:27] ai1361720220000 commented on #41045
anyone has solved the problem?

[2021-08-25 07:54] tilakrayal commented on #51589
@Saduf2019 ,
I have tried to uncomment the tf.function from code and executed in colab with TF version 2.5, 2.6 and nightly version and noticed that session is being crashed. Please, find the gist [here](https://colab.research.google.com/gist/tilakrayal/b26597c7d9157d04a35cd7652bdb3108/untitled62.ipynb). Thanks!

[2021-08-25 07:58] sushreebarsa commented on #33239
@ucasiggcas Could  you please try to  install the latest tf-nightly pip package or the latest stable version of TF 2.6.0, and then set converter.experimental_new_converter = True? Please let us know if this issue still persists ? Thank you!

[2021-08-25 08:00] sushreebarsa commented on #34257
@Julius-ZCJ We see that you are using older version of tensorflow .Many bug have been fixed in latest version.  We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:01] sushreebarsa commented on #34693
@Brechard We see that you are using older version of tensorflow .Many bug have been fixed in latest version.  We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:09] sushreebarsa commented on #35002
@fonnesbeck We see that you are using older version of tensorflow .Many bug have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:09] sushreebarsa commented on #34698
@igorhoogerwoord We see that you are using older version of tensorflow .Many bug have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:11] sushreebarsa commented on #35150
@vcarpani We see that you are using older version of tensorflow .Many bug have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:12] sushreebarsa commented on #35205
@Lhogeshwaran We see that you are using older version of tensorflow .Many bug have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:12] sushreebarsa commented on #35378
@wangyiwei0306 We see that you are using older version of tensorflow .Many bug have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:14] sushreebarsa commented on #35408
@stereomatchingkiss We see that you are using older version of tensorflow .Many bug have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 08:16] #51410 closed

[2021-08-25 08:26] starboyvarun commented on #51651
I tried implementing a tutorial that you told me another error is coming can you help me .?
Thankyou.
https://colab.research.google.com/drive/1Dv7srewnjAb6qUiXrKmjSNIvfMNwimkz?usp=sharing

[2021-08-25 08:26] Saduf2019 commented on #46344
@CubasMike
Please post this issue on [keras-team/keras repo](https://github.com/keras-team/keras/issues).
To know more refer to:
https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999

[2021-08-25 08:40] OniReimu opened #51665 "[tf2.6] Model saving error for a customized model and loss function"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
-- Dockerfile:
[code]
-- requirements.txt:
[code]
and
`docker build -t python-docker .`

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not tested
- TensorFlow installe

[2021-08-25 08:42] kumariko commented on #29198
I could reproduce the issue with TF 2.6 .Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/66c89f1252dabfbb95f65d0fe0f2c9f4/untitled589.ipynb#scrollTo=grgBDlrgCxqN).Thanks!

[2021-08-25 08:45] starboyvarun opened #51666 "Syntax Error: unexpected EOF while parsing"
![1](https://user-images.githubusercontent.com/26819449/130758213-9adecd0f-f20c-4bae-b581-2fd9ac565b60.JPG)
![2](https://user-images.githubusercontent.com/26819449/130758218-c12b6128-2f02-4cef-9b22-e2bca37ad38f.JPG)
Hello,
Actually, I am trying to run a library from the Github repo.
All modules of the application are running Except this one. I haven't found any syntax error.
and code was not alter

[2021-08-25 08:47] kumariko commented on #30468
I could reproduce the issue with TF 2.6 . Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/da64ddd5e26c9b9f6a391e1b275aadc0/30468-nightly.ipynb#scrollTo=JjSEl8bUsizl).Thanks!

[2021-08-25 08:54] sushreebarsa commented on #51651
@starboyvarun Could you please refer to this [issue](https://stackoverflow.com/questions/43189302/syntaxerror-unexpected-eof-while-parsing) in stackoverflow  and let us know if it helps?Thanks!

[2021-08-25 08:58] SennriSyunnga commented on #51648
I fixed this problem by learning from this issue[https://github.com/tensorflow/java/issues/365] after using a higher version api:
[code]
In this version of artifact, I finnaly can use session.init in Java, like other ones who solved the problem did in python
Then I correct my code like this:
[code]
Soon after that, I found out the reason for why graph instance failed to close:
**I use the graph of

[2021-08-25 08:58] #51648 closed

[2021-08-25 09:01] kumariko commented on #30983
I could reproduce the issue with TF 2.6 . Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/17efd18642e06b85391f5519e8516b3b/untitled17.ipynb#scrollTo=pUdyzYRG4X2T). Thanks!

[2021-08-25 09:11] sushreebarsa commented on #48195
@zoxoi We see that you are using older version of tensorflow. Many bugs have been fixed in latest version. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 09:13] kumariko commented on #33182
I could reproduce the issue with TF 2.6 .Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/962a8e4a96825e344610e728c0b957c0/untitled40.ipynb#scrollTo=IsjrTaJEiwM0).Thanks!

[2021-08-25 09:15] sushreebarsa commented on #51664
@dhakrasp Could you please try as per the comment [above](https://github.com/tensorflow/tensorflow/issues/51664#issuecomment-905151738) and let us know if the issue still persists ?

[2021-08-25 09:15] CodeMonkey3435 commented on #51657
Okay, so I have made some progress this morning, but it still does not look very good. I focused on the last error message of my previous post, with the file metrics_portable. I searched through the tensorflow lite directory from github and simply found the missing files (metrics_interface.py and metrics_portable.py) and moved them to the installed tflite_runtime. This stopped the import error.
Ne

[2021-08-25 09:16] #34718 closed

[2021-08-25 09:16] #34801 closed

[2021-08-25 09:19] kumariko commented on #33260
I could reproduce the issue with TF 2.6 .Please, find the gist [**`here`**](https://colab.research.google.com/gist/kumariko/ef50f08c93a93bb07a04fd56c95473f1/untitled20.ipynb#scrollTo=EzGlLQ3Y9a9V).Thanks!

[2021-08-25 09:24] starboyvarun commented on #51651
@sushreebarsa ,
ok, I referred, But I am not using any Loops in that code snippet. It doesn't help.
I could not understand that link properly.
Thank you.

[2021-08-25 09:27] alexcpn commented on #40302
This is there in 2.6 version of tensorflow

"tensorflow/tensorflow:2.6.0"

[code]

[2021-08-25 09:32] dhakrasp commented on #51664
@sushreebarsa I tried with TF v2.6.0 and it worked. Thanks!

[2021-08-25 09:32] #51664 closed

[2021-08-25 09:43] mohantym commented on #51657
Hi! @CodeMonkey3435 ,
Could you please try on latest stable version of tf 2.6 or nightly and let us know if this is still an issue. you can also look at the [comment](https://github.com/tensorflow/tensorflow/issues/40157#issuecomment-831019737) of similar issue Thanks!

[2021-08-25 09:47] sushreebarsa commented on #51646
@Loganpi I tried to run your code on colab using  latest stable version of TF 2.6.0 and didn't face the error reported.Please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/9ae64262f1c1f121cbbefba20628b4cf/untitled404.ipynb) for reference .Please try to execute your code using TF v2.6 and let us know if the issue still persists ?Thank you!

[2021-08-25 10:09] tilakrayal commented on #49975
@xzy-666 ,

Can you please refer the above [comment](https://github.com/tensorflow/tensorflow/issues/49975#issuecomment-853905088) also please try to install the latest stable tf v2.6 and let us know if the issue still persists.Thanks

[2021-08-25 10:09] mohantym commented on #51665
Hi @OniReimu , was able to replicate and resolve in TF 2.6 , providing [gist ](https://colab.research.google.com/gist/mohantym/aedce04fa6d0e00f4557d9ed5507e232/github_51565.ipynb)for reference.

Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues) for further help
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-

[2021-08-25 10:10] kodayu commented on #40911
Can anyone please tell me what the problem is? I have been following this problem for a long time but it has not been solved. Hope to get guidance!

[2021-08-25 10:14] kumariko commented on #15690
@Ariel-Lieberman Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ?Thanks!

[2021-08-25 10:16] #38054 closed

[2021-08-25 10:16] #38260 closed

[2021-08-25 10:16] #40372 closed

[2021-08-25 10:16] #42853 closed

[2021-08-25 10:21] tilakrayal commented on #49836
@sonfire86 ,
Can you please try the latest tf v2.6 and let us know if the issue still persists.Thanks!

[2021-08-25 10:24] tilakrayal commented on #49464
@Florent4223 ,
As commented please try tf-nightly or tf v2.6 and let us know if the issue still persists.Thanks!

[2021-08-25 10:31] CodeMonkey3435 commented on #51657
Yes, so I downloaded the version 2.6.0 of tensorflow and rerun this command:

When running this with the same old script I still get the same error message:

Also the issue you linked @mohantym does not seem to be a solution because only some of the people chat about the issue being removed in 2020, and the topic has been closed on 5.june.2020. Its about a year later now and there still have been

[2021-08-25 10:32] Lemiron24 opened #51667 "Is there a way to do symmetric quantization for activations in post-training quantization"
https://tensorflow.google.cn/lite/performance/quantization_spec
from this document we can see the post-training quantization do asymmetric quantization for activations, do symmetric quantization for wieghts.

I follow this guide: https://tensorflow.google.cn/lite/performance/post_training_integer_quant do full int8 quantization for my network mode is OK, as the above said the weights is symmetric

[2021-08-25 10:40] AnastGerus commented on #35194
Hi again, @daverim
In addition to my previous comment, I have reproduced this issue using only the Keras LSTM layer. _AssignVariableOp, ReadVariableOp, VarHandleOp_ are needed when you use `stateful=True` for LSTM layer (that is very important option for "infinite" data (e.g. audio stream)).

Could you please estimate how much time such a fix could take? Is it worth waiting?

Thanks,
Anastasiia

[2021-08-25 10:40] starboyvarun commented on #51666
??

[2021-08-25 10:40] tilakrayal commented on #39947
@robkuehl ,
Can you please try to install the latest tf v2.5 or v2.6 and let us know if the issues still persists.Thanks!

[2021-08-25 10:43] tilakrayal commented on #39841
@sheltongeosx ,
Can you please take a look at this [comment](https://github.com/tensorflow/tensorflow/issues/39841#issuecomment-657732814) and also please try to install latest tf v2.5 or v2.6 and let us know if the issue still persists.Thanks

[2021-08-25 10:45] AnastGerus opened #51668 "Stateful LSTM can't be converted to TF Lite with Integer Quantization"
That is what I'm doing:

[code]

And I get:
[code]

I'm trying to do it with the simplest stateful LSTM layer, but it has the issue.

Thanks,
Anastasiia

_Originally posted by @AnastGerus in https://github.com/tensorflow/tensorflow/issues/35194#issuecomment-903722201_

[2021-08-25 10:48] AnastGerus commented on #51668
Two additional moments:

1) Unfortunately "select_tf_ops" can't be removed for LSTM, because (even without any optimizations) you will get an error:
[code]
But the possibility to remove "select_tf_ops" for LSTM also would be a good solution, because "select_tf_ops" makes TFLite library binary size increase drastically.

2) I have reproduced this issue using only the Keras LSTM layer (without ONNX-

[2021-08-25 10:54] tilakrayal commented on #18237
@OlofNiko ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 10:56] tilakrayal commented on #18092
@jianyinglang ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 10:57] tilakrayal commented on #11756
@hongzimao ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 10:58] tilakrayal commented on #11058
@kessler9 ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 10:59] salmituukka commented on #47390
I had the same issue. Changing a line `tensor == 0` to `tf.equal(tensor, 0)` fixed the problem. I used TF2.5.0.

[2021-08-25 10:59] tilakrayal commented on #6417
@HWiese1980 ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 11:00] tilakrayal commented on #21670
@roche-k ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 11:04] sushreebarsa commented on #51624
@lugalUrim I tried to run your code on colab using TF-nightly 2.7.0-dev20210824 and didn't face the error as reported here , please find the attached gist  [here](https://colab.research.google.com/gist/sushreebarsa/bf73be4ca71e28640957401b965ba76a/untitled406.ipynb#scrollTo=9S1Di1lI9V0U) for reference .Please confirm the same.Thank you!

[2021-08-25 11:04] MR-T77 commented on #51506
@ymodak sorry, I tried here because I can't find any way to have tensorflow working in my M1.

[2021-08-25 11:19] annietllnd opened #51669 "micro: port op SLICE from lite"
This issue tracks my work porting operator SLICE from lite to micro. My work will be supervised by @mansnils

The port will be submitted in a number of PRs. Here's a rough flight plan per @advaitjain and @petewarden:

PR 1: Extract the code for parsing the op from a flatbuffer out of ParseOpDataTfLite in tensorflow/lite/core/api/flatbuffer_conversions.cc into a standalone function that can be call

[2021-08-25 11:30] mohantym commented on #51570
Hi @ymodak ,Could you please look at this issue.

[2021-08-25 11:36] mohantym commented on #51657
`pip install tf-nightly `, will upgrade to nightly version .

[2021-08-25 11:48] starboyvarun opened #51671 "Error EOF"
![1](https://user-images.githubusercontent.com/26819449/130785201-768b1e8d-6897-40f2-9501-149ea3eca737.JPG)

![2](https://user-images.githubusercontent.com/26819449/130785213-978c460b-247b-4f41-96b8-447ec1c6e15c.JPG)

Hello,
Actually, I am trying to run a library from the Github repo.
All modules of the application are running Except this one. I haven't found any syntax error.
and code was not alt

[2021-08-25 11:55] sushreebarsa commented on #51671
@starboyvarun In order to reproduce the issue reported here, could you please provide the complete code and the dataset , tensorflow version you are using. Thanks!

[2021-08-25 11:57] sushreebarsa commented on #51643
@sanatmpa1 Was able to replicate the issue on colab using 2.5, 2.6 and tf-nightly,please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/b1bc00df59ef75d376701bd93029f4fd/untitled407.ipynb#scrollTo=sJ0t_IhtGLP9) for reference.Thank you!

[2021-08-25 12:03] starboyvarun commented on #51671
I have already shared the complete code.
tf version =2.2
this is the implementation of tutorials you told me to do of janggu.

[2021-08-25 12:06] starboyvarun commented on #51671
can you please assign this to someone else as you can't already solve this?
It will safe both of our time.
Thank you.

[2021-08-25 12:10] HWiese1980 commented on #6417
I think this issue has been resolved in the meantime. It's already been quite a while since I opened it, and I must confess, I totally forgot about it. Thanks for waking me up from my slumber again. :-) I guess, considering the last activity is from 2018, I can simply close it.

[2021-08-25 12:10] #6417 closed

[2021-08-25 12:11] HWiese1980 commented on #6417
@google-ml-butler

Seriously, can't tell... (I'm aware it's a bot)

[2021-08-25 12:15] CodeMonkey3435 commented on #51657
Okay, I do not think I could download tf-nightly like this because I was executing the commands to build the wheel file from the tensorflow folder.
Anyway, I found a way for this to work.

Special thanks to **@PINTO0309** !!!

He managed to find a way to compile wheel files for multiple versions of the raspberry pi and its ditributions. He also provides pre-built wheel files, that actually work. A

[2021-08-25 12:15] #51657 closed

[2021-08-25 12:16] #47357 closed

[2021-08-25 12:16] #45301 closed

[2021-08-25 12:16] #11911 closed

[2021-08-25 12:17] sushreebarsa commented on #51651
@Saduf2019 Was able to reproduce the issue on colab using TF  v[2.2 ](https://colab.research.google.com/gist/sushreebarsa/d4fb83673df61ceb9f6d5bdedfbc1c70/experiment2.ipynb#scrollTo=bH_wlxJuWugd)& [ 2.6](https://colab.research.google.com/gist/sushreebarsa/ed3a002a84ecf313a99d946c2612db28/experiment2.ipynb#scrollTo=_NCcnMNBZ2Rs)  , please find the attached gists for reference.Thank you!

[2021-08-25 12:26] sushreebarsa commented on #51671
@sanatmpa1 Was able to reproduce this issue on colab using TF v2.2 & 2.6 please find the gist [here](https://colab.research.google.com/gist/sushreebarsa/87b5a39e99b67b44adf41d218f79c29a/untitled408.ipynb#scrollTo=-ve9mZ-aQgTN) for reference. The original issue ticket is #51651 . Thank you!

[2021-08-25 12:54] zhaozheng09 commented on #27842
I have a same question ~

[2021-08-25 13:03] gezmi opened #51673 "failed to alloc X bytes unified memory; result: CUDA_ERROR_OUT_OF_MEMORY: out of memory"
I am trying to run a tensorflow project and I am encountering memory problems on the university HPC cluster. I have to run a prediction job for hundreds of inputs, with differing length. We have GPU nodes with different amount of vmem, so I am trying to set up the scripts in a way that will not crash in any combination of GPU node - input length.

After searching the net for solutions, I played ar

[2021-08-25 13:08] xunbing opened #51674 "does lstm only running on CPU? Can it delegated to Apple Neural Engine(ANE) by CoreML delegate ?"
Such as title.
And I have another confuse. When I split my model into two pieces, the second piece consists of two nodes(Dense and Softmax) can not be delegate to CoreML anymore.

who can tell me something about this? Any reply will be appreciate.

[2021-08-25 13:10] samanemami commented on #51549
Hi @ymodak
May I ask if you found anything?

[2021-08-25 13:16] #44798 closed

[2021-08-25 13:16] #44797 closed

[2021-08-25 13:16] #44526 closed

[2021-08-25 13:16] #44754 closed

[2021-08-25 13:38] Loganpi commented on #51646
Hey thanks, I actually can't get a newer nervation of TF because I'm on an M1 Mac. I guess ill just use collab until my pc comes.
Thanks, Logan

[2021-08-25 13:38] #51646 closed

[2021-08-25 13:50] tilakrayal commented on #51666
@starboyvarun ,
The SyntaxError: unexpected EOF while parsing means that the end of your source code was reached before all code blocks were completed.
Also, this can simply mean you are missing or have too many parenthesis. For example this has too many, and will result in unexpected EOF.

[2021-08-25 13:53] tilakrayal commented on #33267
@dbergh ,
We see that you are using older version of tensorflow (1.x) which is not actively supported. We recommend that you upgrade to latest stable version of tensorflow 2.6.0 and let us know if the issue still persists in newer versions .Thanks!

[2021-08-25 13:58] mohantym commented on #51673
Hi @gezmi
We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-08-25 14:14] Saduf2019 commented on #51644
@sparrow84001
This is not replica table, kindly use colab to run your code and let us know if you face any issues.

[2021-08-25 14:14] sheltongeosx commented on #39841
@tilakrayal, @Zantares, ...
Thank you all for fixing the issues. Unfortunately I am not able to verify the fixes right now through tf installation because our ppc64le platform had been decommissioned from our data center.
Thank you again guys for your great helps!

[2021-08-25 14:16] #44234 closed

[2021-08-25 14:16] #44215 closed

[2021-08-25 14:26] mohantym commented on #34345
Hi @Angtrim , was able to replicate in 2.1 and resolve in 2.6 without any error . Providing [Gist ](https://colab.research.google.com/gist/mohantym/220523097c97de4508281fa9931adbc9/github_34345.ipynb)for reference.

[2021-08-25 14:35] summa-code commented on #48147
Any solution to this Multi GPU?

[code]

[2021-08-25 14:39] summa-code commented on #45594
Any solution to this Multi GPU?

[code]

I am using

``` tf.keras.utils.timeseries_dataset_from_array ```
from [this link](https://www.tensorflow.org/api_docs/python/tf/keras/utils/timeseries_dataset_from_array)

[2021-08-25 14:42] River861 opened #51675 "A Suspected Bug in binary_crossentropy"
Hi, I found that the the calculation result of `binary_crossentropy` loss function is different from other deep learning libraries, such as theano.

Here is an example code using tensorflow2.4.3:
[code]
The result is:
[code]

And this is the code using theano1.0.4:
[code]
The result is:
[code]

I then found the cause of the inconsistency is that, tensorflow use the `epsilon`  to caculate the loss

[2021-08-25 14:57] tanguycdls commented on #43263
@michalderdak did you have any luck on this ? we're still struggling with it in our side... thanks

[2021-08-25 15:10] sanatmpa1 commented on #51671
@starboyvarun,

The straight forward issue that I see in the code is missing parantheses `)` in the `model.fit` line.

Replace the `model.fit(DNA, ReduceDim(LABELS, epochs=100)` with `model.fit(DNA, ReduceDim(LABELS, epochs=100))` and let me know if it works. Thanks!

[2021-08-25 15:13] airman00 commented on #17353
There are two lines in pipeline.config with `num_kepoints: 17` for CenterNet MobilenetV2, in `train_input_reader` and `eval_input_reader`. Just delete both lines to solve this error.

Link to the centernet object detection model
http://download.tensorflow.org/models/object_detection/tf2/20210210/centernet_mobilenetv2fpn_512x512_coco17_od.tar.gz

This model is Object Detection only, it's not doing

[2021-08-25 15:16] #44209 closed

[2021-08-25 15:16] #44124 closed

[2021-08-25 15:16] #44060 closed

[2021-08-25 15:19] mohantym commented on #51668
Hi! @AnastGerus !We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-08-25 15:49] summa-code opened #51676 "TF-Nightly Broke for Multi GPU training"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version (use command below): Latest Git
- P

[2021-08-25 15:56] kaiyu-pony opened #51677 "py_function doesn't work with functions with no return values and inputs as keras.Input"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-08-25 16:02] srjoglekar246 commented on #34693
@Brechard If this is still relevant, can you try using [`non_max_suppression_padded`](https://www.tensorflow.org/api_docs/python/tf/image/non_max_suppression_padded)? It has better support in TFLite, and performs better too. See [this issue](https://github.com/tensorflow/tensorflow/issues/51629#issuecomment-905074446) for some details.

[2021-08-25 16:16] #37467 closed

[2021-08-25 16:16] #35884 closed

[2021-08-25 16:23] sanatmpa1 commented on #47589
@felix-johnny,

As @mansnils has submitted a PR which was already merged. Can you confirm if we are good to close this issue? Thanks!

[2021-08-25 16:46] sanatmpa1 commented on #47473
@ALIANS-PRODUCTIONS,

Can you try building the latest stable version of tensorflow i.e `2.6.0` and use this [guide](https://www.tensorflow.org/install/source_windows) for reference. Please update us if the issue still persists. Thanks!

[2021-08-25 16:50] saeta commented on #51485
Sorry @jvishnuvardhan , I don't work on TF anymore. Reassigning back to you to re-triage. Sorry!

[2021-08-25 16:54] sanatmpa1 commented on #47485
@mushtaqsyed,

Can you refer the issue #45033 and this [link](https://forums.tinyml.org/t/make-doesnt-work-on-hello-world-test-from-tinyml-book/344/5) and let us know if it helps to resolve your issue? Thanks!

[2021-08-25 17:48] River861 opened #51681 "Inconsistency in Gradients Calculation of reduce_max"
Hi, I found that the gradients calculation of `reduce_max` in tensorflow is different from other deep learning libraries such as theano, CNTK. And I want to know which algorithm is correct?

Here is an example code using TensorFlow2.6.0:
[code]
The result is:
[code]

And this is the code using CNTK2.7:
[code]
The result is:
[code]
The inconsistency exists when there are multiple max elements.

Any

[2021-08-25 18:10] River861 opened #51682 "Inconsistency in Gradients Calculation of max_pooling and reduce_max"
Hi, I found that the gradients calculations of `max_pooling` and `reduce_max`  are inconsistent in tensorflow, which make me really confused. The inconsistency exists when there are **multiple max elements**.

In `max_pooling`, only one of the max elements will get the gradients; while in `reduce_max`, all the max elements will divide the gradients equally. I want to know which algorithm is correc

[2021-08-25 18:18] MIHIRKHAMBETE opened #51684 "Can't find GPUs after updating tensorflow to 2.6.0 (with pip) in conda environment"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution : Linux/Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel

[2021-08-25 18:50] libbooze opened #51685 "ABSL_HAVE_ADDRESS_SANITIZER use in Tensorflow headers breaks build for MSVC 16.11 with /fsanitize=address"
**System information**
- TensorFlow installed from (source or binary): source, but does not really matter
- TensorFlow version (use command below): 2.5

**Describe the current behavior**
When compiling in MSVC with address sanitizer TF enables code guarded by ABSL_HAVE_ADDRESS_SANITIZER.
That guarded code (header includes, calls of functions) break the compile.

I would guess this happens since ti

[2021-08-25 20:35] MIHIRKHAMBETE opened #51688 "Nan gradient when calling tf.gradients() more than 1 time in graph mode for TF Dormand-Prince solver"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platf

[2021-08-26 05:19] ArunaKote opened #51691 "Error while converting mrcnn to tf dialect"
Actually I wanted to convert mrcnn model to tf dialect .I downloaded model from TensorFlow Hub. and I tried adding signatures to model using import tensorflow.compat.v2 as tf
loaded_model = tf.saved_model.load(’/maskedrcnn’)
call = loaded_model.call.get_concrete_function(
tf.TensorSpec(shape=(1, 1024, 1024, 3), dtype=tf.uint8))
signatures = {‘predict’: call}
tf.saved_model.save(loaded_model,’/ex’,

[2021-08-26 06:47] wenjingyang opened #51692 "TFLite for conv1D and DepthwiseConv1D"
**System information**
- OS Platform and Distribution  Linux Ubuntu 16.04:
- TensorFlow installed from binary:
- TensorFlow version (tf-nightly 2.7.0.dev20210824):

The h5 is:
![image](https://user-images.githubusercontent.com/4407779/130913616-d18620ec-cdab-45e5-8db8-dc25849cc155.png)
When I convert it to tflite. It becomes
![image](https://user-images.githubusercontent.com/4407779/130913708-5762

[2021-08-26 07:01] srihari-humbarwadi opened #51693 "Support resizing images on TPU using `tf.image.resize` when `size` is not a compile-time constant"
**System information**
- TensorFlow version (you are using): 2.6
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state.**
XLA compilation fails when the `size` arg of `tf.image.resize` is not a compile-time constant.

**Who will benefit with this feature?**
This will allow users to resize images to dynamic sizes on TPUs

**Any Other info.**
code to

[2021-08-26 11:55] shijianliang001 opened #51699 "kernel error"
WARNING:tensorflow:AutoGraph could not transform <bound method SequencePoolingLayer.call of <deepctr.layers.sequence.SequencePoolingLayer object at 0x134a4d520>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: module 'gast' has no attribute 'Index'
To silenc

[2021-08-26 14:12] triper1022 opened #51700 "How to use StreamingFilesDataset"
**System information**
- TensorFlow version (you are using):
2.6
- Python version (you are using):
3.7

**Describe the feature and the current behavior/state.**
I open a colab tpu runtime and try to run this [notebook](https://colab.research.google.com/github/keras-team/keras-io/blob/master/examples/keras_recipes/ipynb/creating_tfrecords.ipynb?hl=en)

I use your sample code of tpu setting and foll

[2021-08-26 23:52] staticalliam7 opened #51704 "Tensorflow not installing correctly"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow inst

[2021-08-27 11:17] pokecheater opened #51710 "Separable Conv2D allows dilation_rate!=1 and strides !=1"
Hey Tensorflow Community :-),

Nothing serious :).

I just noticed in tensorflow 2.4 (sry can not update to 2.7 currently since I am stuck to this version because of other compatibilty issues, so I can't tell if this also affects your newest version) that the layer Separable Conv2D states in it's documentations that if I assign another value for the dilation rate than 1 the strides are not to be a

[2021-08-27 15:26] qinhuan opened #51713 "How to modify ckpt value"
### First,
I can get variable name by  `tf.train.list_variables('./ckpt/ckpt-30')`

### Second,
[https://www.tensorflow.org/guide/checkpoint#manual_checkpointing](url)
I can get value by :
[code]

result is `array([[4.715253 , 4.832879 , 4.754512 , 4.891385 , 4.8498716]], dtype=float32)`

### So
I want to modify ckpt value,  but I don't know how to do it.

[code]
Can I get the value from ckpt, and

[2021-08-27 17:24] jackyesf opened #51716 "Grappler graph optimizations may add nondeterministic behavior"
**System information**
- OS windows 10
- tensorflow-gpu==2.5.1
- python=3.7
- CUDA/cuDNN version: 11.2
- GPU model and memory: 471.68-desktop-win10-win11-64bit-international-dch-whql

**Got non-determinism on GPU.I found out it's the problem of Grappler graph optimizations,then i set this option false,but the train is more slower than cpu.**
options = {'implementation_selector':False}
tf.config.op

[2021-08-27 19:12] srihari-humbarwadi opened #51719 "TensorRT model outputs/performance keeps changing across conversions"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): custom code
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TensorFlow 2.6 , 2.7.0.dev20210825
- Python version: 3.7
- CUDA/cuDNN version: 11.0/8.0 and / 11.2/8.

[2021-08-27 19:16] River861 opened #51720 "Inconsistency In CategoricalCrossentropy Calculation"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):  **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): **Windows 10**
- TensorFlow installed from (source or binary): **binary**
- TensorFlow version (use command below):  **2.6.0**
- Python version:  **3.6.13**
- GPU model and memory:  **CPU-only**

**Describe the

[2021-08-28 00:47] NihalHarish commented on #51645
The issue is present only with the `tf.keras` APIs and not `keras.` APIs.
Is there a plan to support both APIs for TF `2.6.x` while we transition to `2.7.x`

The code snippet shared above works fine if I change the import statements to:

[code]

[2021-08-28 03:36] #51441 closed

[2021-08-28 03:52] rrklearn2020 commented on #50774
The issue is not yet solved, waiting for support.

[2021-08-28 05:03] akkshay0107 opened #51723 "Build stuck at Linking _pywrap_tensorflow_internal.so step"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- TensorFlow installed from (source or binary): From source
- TensorFlow version: 2.6.0
- Python version: 3.9.2
- Installed using virtualenv? pip? conda?: Bazel
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): VS 2019

**Describe the problem**

The build

[2021-08-28 05:09] sam351 opened #51724 "GPU not found when using TF 2.5.0 in Google Colab"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Google Colab
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): 2.5.0
- Python version: 3.7.11
- CUDA/cuDNN version: V11.0.221
- GPU model and memory: Tesla K80
<br>

**Describe the current behavior**
- I installed `tensorflow 2.5.0` in colab
- After installation, I impor

[2021-08-28 06:06] hohilwik commented on #51634
I am not sure where to make the pull request though. The documentation folder seems to have been moved.
@Saduf2019 If you could suggest something, and maybe assign this issue to me

[2021-08-28 06:11] tilakrayal commented on #51691
@ArunaKote ,
Can you please try the code in latest tensorflow v2.5 or v2.6 and let us know if the issue still persists.Thanks!

[2021-08-28 06:56] yarnabrina commented on #40911
@kodayu My expectation is `f([x, y, z])` equals `[f(x), f(y), f(z)]`, and that's not the case. Here `f` is the prediction function, of course.

The reason for to this expectation is that prediction of different inputs are independent, so I don't understand why the difference occurs.

[2021-08-28 08:51] AsherXian903 opened #51725 "How can I increase throughput for multi sessions/models on single GPU of online inference？"
Environment:
TF Version: 1.14.0
Cuda Version: 10.0
GPU Device: NVIDIA-T4

Dear all,
     When I got multi models (4 models for example) online inference on single GPU, It turned out that the overall throughput can be increased (despite of batching) and got very low GPU utilization. I invested on this issue and found it occurs because tensorflow use only one compute stream for a physical gpu device

[2021-08-28 08:56] sushreebarsa commented on #51725
@AsherXian903 We see that you are using older version of tensorflow **`1.14`** which is not actively supported, We recommend that you upgrade to latest stable of TF  version **`2.6.0`** and let us know if the issue still persists in newer versions.Thanks!

[2021-08-28 10:04] NEGU93 opened #51726 "Several links to the github code are broken in https://www.tensorflow.org/"
As the title says, some links from https://www.tensorflow.org/ to the corresponding code on github are broken.
[here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Activation) an example.
I believe this is due to the removal of the `python` module.

Also, some other links have a line offset, such as [Conv2D](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Conv2D).
This is p

[2021-08-28 10:28] xunkai55 commented on #51429
@srjoglekar246 Hi Sachin, since it's related with GPU, could you help take a look or triage to proper engineers? Thanks!

[2021-08-28 10:47] microcoder-py opened #51727 "Unable to save custom model using save_model, even though documentation states it is possible"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-08-28 10:55] benoitdescamps opened #51728 "More freedom in Dtype of indices of sparse.SparseTensors"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): v2.6.0
- Are you willing to contribute it (Yes/No):
Yes

*

[2021-08-28 11:05] Aisharjaa commented on #46090
# Fine tune all layers
# Passing layers="all" trains all layers. You can also
# pass a regular expression to select which layers to
# train by name pattern.
model.train(dataset_train, dataset_val,
            learning_rate=config.LEARNING_RATE / 10,
            epochs=10,
            layers="all")

Here shows,
TypeError                                 Traceback (most recent call last)
<ipython-inp

[2021-08-28 12:07] piaobuliao commented on #36814
in my problem,I have two  Anaconda versions in PATH, I delete the other Anaconda path in my PATH(windows system) , Solve the problem
..
first my error info:
"ImportError: cannot import name 'Layer' from partially initialized module 'tensorflow.python.keras.engine.base_layer' (most likely due to a circular import) (D:\download\Anaconda3-2021.05-python3.8\lib\site-packages\tensorflow_core\python\ker

[2021-08-28 13:12] joelberkeley commented on #51634
this might be it tensorflow/compiler/xla/g3doc/operation_semantics.md

[2021-08-28 13:12] kiteklan commented on #32743
I have the same setup using the tpu on a proxmox VM , added the as a pci device with an adapter.
In my case the resetting device works.
with lspci get device id:
**02:00.0 System peripheral: Device 1ac1:089a**
find the corresponding  the device folder:
**sys/bus/pci/devices/0000:02:00.0/uevent:PCI_ID=1AC1:089A**
and reset the device:
**echo 1 >/sys/bus/pci/devices/0000\:02\:00.0/remove
echo 1 >/sy

[2021-08-28 13:21] tranctan commented on #51547
I actually modified the source code to meet my purpose, but I believe it is not too different from the original version of the example app.

To be more specific, the app crashes as soon as we initialize the model, which is this line of code:
[code]

So I believe you can reproduce the issue with the example app code and the model I provided above. If the issue is not reproduced, please tell me so w

[2021-08-28 14:15] MePando opened #51729 "Unable to generate train.record, but for text.record it works fine"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): nope
- OS Plat

[2021-08-28 14:49] Silvio-Ma opened #51730 "Failed to get compute capability major for device: UNKNOWN ERROR (1); 0"
Dear All,

I have installed tensorflow-cpu 2.6.0 on my anaconda. Both Tensorflow and Keras will be imported correctly, but running a cell containing them raises error:

**System information**
- Python 3.8.5 (Anaconda)
- Tensorflow 2.6.0
- keras 2.6.0
- Windows 7 64

Thank alot
Silvio

[2021-08-28 14:55] mohantym commented on #51665
ok! @OniReimu ,Could you close this issue here?

[2021-08-28 15:11] mohantym commented on #51726
Hi @Saduf2019 ,could you please look into this  issue?

[2021-08-28 16:22] mgkumar138 opened #51731 "TF RNN subclass model called twice although sequence length is one"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- P

[2021-08-28 16:34] sushreebarsa commented on #51731
@mgkumar138 Please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues)
To know more see;
[https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999)
Thank you!

[2021-08-28 16:36] #51492 closed

[2021-08-28 16:40] yongtang commented on #46890
Update:
1. `tf.image.resize` fixed aleady
2. `tf.image.resize_with_crop_or_pad` to be fixed (PR #51717)
3. `tf.image.pad_to_bounding_box` to be fixed (PR #51717)
4. `tf.keras.backend.resize_image` fixed already
5. `tf.image.crop_and_resize` to be fixed (PR #51732)
5. `tf.image.resize_with_pad` fixed already

[2021-08-28 16:42] yongtang commented on #46908
The issue has been fixed with the latest tf-nightly:

[code]

[2021-08-28 16:43] yongtang commented on #46908
I will close this issue since it has been resolved. Please feel free to reopen if the issue persists.

[2021-08-28 16:43] #46908 closed

[2021-08-28 16:46] yongtang commented on #46889
The issue will be fixed by PR #51711.

[2021-08-28 17:07] mgkumar138 commented on #51731
Will do thanks!

[2021-08-28 17:07] #51731 closed

[2021-08-28 17:18] yongtang commented on #46888
Added a PR #51733 for the fix.

[2021-08-28 17:50] tilakrayal commented on #51491
@debroize ,
While trying to execute the above code is taking long time interval than expected.Can you please try the code in latest tensorflow stable version 2.6 with the specific amount of data and let us know if the issue still persists.Thanks!

[2021-08-28 17:52] tilakrayal commented on #51645
@NihalHarish ,
As mentioned above comment,all the keras related issues can be tracked in keras repo.Please feel free to post in keras repo.Thanks!

[2021-08-28 19:58] RafalSkolasinski commented on #35515
Why this kind of summary is not a default one? It would be so much more informative.

[2021-08-28 20:24] sannamir commented on #51653
Hi! I am new at open source contribution. Is this issue still open? I would like to work on it.

[2021-08-28 21:36] mihaimaruseac commented on #50989
Bazel should fetch from upstream if TF mirror does not contain the package.

[2021-08-29 00:06] #51665 closed

[2021-08-29 03:55] jackfrost1411 opened #51736 "Image transformations require SciPy. Install SciPy."
I am running tensorflow with the help of miniforge3 on MacBook Pro M1.

I have followed the steps to install tensorflow on M1 from here: https://github.com/jeffheaton/t81_558_deep_learning/blob/master/install/tensorflow-install-mac-metal-jul-2021.ipynb

- TensorFlow version (use command below): tensorflow-mac 2.5.0
- Python version: 3.9
- Bazel version (if compiling from source):
- GPU model and m

[2021-08-29 07:57] hohilwik commented on #51634
Alright, I'll work on it then

[2021-08-29 09:26] pritesh604 commented on #28840
I am also having same issue.

[2021-08-29 14:06] ArunaKote commented on #51691
I am using tensorflow v2.6.

 I am getting error as:

 tf_out.mlir:289:102: error: tf dialect has no types, potentially meant !tf_type.string
    %cst_284 = "tf.Const"() {value = dense<"Incorrect field size: actual vs expected."> : tensor<!tf.string>} : () -> tensor<!tf.string>

[2021-08-29 14:34] Sajan4072 commented on #36814
In my case I was trying to run tensorflow(2.0.0a0) in my django(3.0) app and while using tensorflow in the backend , I got the following error.
![error](https://user-images.githubusercontent.com/36479349/131254101-d5ef9a77-5488-4e6c-b242-54cdb8731953.PNG)

[2021-08-29 14:41] MePando commented on #51729
Ok, I've find out that you have to first divide the images into train and test folder. Then you can add labeling to them. After that TF records are generated successfully!
But the guide tells you to first add label and then divide them into train and test folders!!! https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/latest/training.html

[2021-08-29 14:41] #51729 closed

[2021-08-29 15:55] betances commented on #36616
Has anyone found a solution to this?

[2021-08-29 16:25] melioristic commented on #47479
I agree with this. The warning occurs with `model.save` as well, and then after loading the function if I train and save it again, I cannot load it. I can see this in **tensorlflow==2.6.0**

[2021-08-29 16:28] melioristic commented on #47554
Does this mean that the problem is solved? I saw the warning in tensorflow==2.6.0 as well

[2021-08-29 17:10] hamounTUK opened #51737 "Failed to build minimal example of Tensorflow Lite on Qualcomm robotic kit rb5"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Device: Qualcomm Robotic kit rb5 with 16Gb RAM (I connect the board directly to a monitor using HDMI)
- TensorFlow installed from (source or binary): 2.6 build from source using Cmake (Also I tried 2.5)
- TensorFlow version: -
- Python version:  2.7
- Installed using virtualenv? pip? conda?: -
- Bazel

[2021-08-29 17:23] JianweiSun007 commented on #31057
I have the same problem here and thanks @anoopkatti I get the pb model but I still don't know why. My model as follow:

[2021-08-29 17:59] tanzhenyu commented on #24135
I can confirm it's the wrong hash.

[2021-08-29 18:03] Saduf2019 commented on #51682
@River861
max_pooling is localized and and reduce_max is not  so they will not have same gradients.
You may open this issue at discussion forum as there is a larger community to respond there and as this is not a performance issue or bug.

[2021-08-29 18:10] Saduf2019 commented on #51726
@NEGU93
I have opened the links shared and all of them work as expected, can you please share a screen shot of the issue reported.

[2021-08-29 18:21] NEGU93 commented on #51726
Steps to reproduce:
1. Go [here](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Activation)
2. Click on the `View source on GitHub` button.
3. The button will take you to [this](https://github.com/keras-team/keras/tree/master/keras/layers/core.py#L389-L430) broken link.

[2021-08-29 18:36] #43174 closed

[2021-08-29 20:25] hdavis472 opened #51738 "Importing layers from keras instead of tensorflow.keras causes erroneous model.summary() behavior"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10 21H1
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): 2.5.0
- Python version: 3.9.6

**Describe the current behavior**

[code]

This code results in a "model has not yet been built" error, even though `input_shape` is specified in the first layer. I noticed t

[2021-08-29 20:49] sushreebarsa commented on #51738
@hdavis472 I tried to run your code on Colab using TF **`v2.6.0`** , **`tf-nightly`** and didn't face the error reported here.Please find the [gist ](https://colab.research.google.com/gist/sushreebarsa/65359c429a4860297b819d79dc1e5638/51738.ipynb)for your reference and let us know if it helps ? Thank you!

[2021-08-29 21:12] triper1022 commented on #51700
Thanks a lot for reply.
Although I studied for hours for the references, I think that I am not very familiar with TF 1.x backend. I will try my best to understand it.

[2021-08-29 21:13] #51700 closed

[2021-08-29 21:26] abattery commented on #51692
For your information, this is not a bug since the generated graph also works.

[2021-08-29 22:14] njzjz commented on #9489
Got a same error on TF 2.5/CUDA 11.3. `set_memory_growth` doesn't work. TF 2.5/CUDA 10.1 works fine.

[2021-08-30 01:10] ruler501 commented on #45557
A workaround is to load the checkpoint compile with no optimizer and save the weights back to the checkpoint file. If you load from it after that it won't crash. It does delete the optimizer state though.

[2021-08-30 01:37] LukeBolly commented on #51653
Yep, I probably won't have time to work on this for a while so it's all yours if you like. Let me know if you need any more information to reproduce the issue

[2021-08-30 02:44] jonpsy opened #51740 "Reshape output tensor in Tensorflow lite."
**System information**
- TensorFlow version (you are using): master branch
- Are you willing to contribute it (Yes/No): YEs

**Describe the feature and the current behavior/state.**

I'm currently working on this [pull request](https://github.com/tensorflow/tflite-support/pull/612). I want to resize both the input and output tensor of an interpreter. The current API supports only `ResizeInputTenso

[2021-08-30 02:57] qinhuan commented on #51713
I want to merge conv and BN manually, so I need load checkpoint and modify some value of conv,  delete BN value and save a new checkpoint. How can I implement this operation？ Thank you for reply!

[2021-08-30 03:06] hongye007 opened #51741 "CAST: Not supported Cast case."
Version: TFLite 2.6.0
Device: Huawei Mate30

08-30 11:00:38.255 28325 28842 I tflite  : Initialized TensorFlow Lite runtime.
08-30 11:00:38.257 28325 28842 E tflite  : Following operations are not supported by GPU delegate:
08-30 11:00:38.257 28325 28842 E tflite  : CAST: Not supported Cast case.
08-30 11:00:38.257 28325 28842 E tflite  : DEQUANTIZE:
08-30 11:00:38.257 28325 28842 E tflite  : 6 op

[2021-08-30 03:39] py2ai opened #51742 "TransformGraphWithStringInputs is available in tf2.0 however I am planning to jump to tf2.2 or tf2.3 but I couldn't find "TransformGraphWithStringInputs" in these 2 versions. Any suggestions ?"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2021-08-30 04:30] Taehun opened #51743 "typing-extensions package is conflicted"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): `macOS 11.5.2`
- Mobile device

[2021-08-30 04:34] starboyvarun opened #51744 "NameError:"
![4](https://user-images.githubusercontent.com/26819449/131285254-1698b895-d3d7-4c10-9251-8c169d7d5dd8.JPG)

![5](https://user-images.githubusercontent.com/26819449/131285259-61b09421-68ae-490e-9a1d-30aeefa364a5.JPG)

TensorFlow version : 2.2
 Keras version : 2.4.3
Even after defining it. It's telling to define it.

[2021-08-30 05:01] abattery commented on #51740
The output tensors will be determined by the input tensor's shape and the model graph structure by programmatically.

Could you share why this feature is needed to understand the context of your problem?

[2021-08-30 05:07] jonpsy commented on #51740
@abattery For image-to-image task, it's desirable to have the output shape being determined by the input image shape.

For ex: If input is input dims: `[1, 1, 1, 3]` and output dims: `[1, 1, 1, 16]`. But height and width have `dim_signature` as -1. So, based on the input `(height, width)`, input dim should be `[1, height, width, 3]` and `[1, height, width, 16]`. You can find more information in th

[2021-08-30 05:36] #25934 closed

[2021-08-30 05:36] #23142 closed

[2021-08-30 05:36] #29042 closed

[2021-08-30 05:56] sujithsudhi commented on #51483
@sanatmpa1,

I have update the Tensorflow to 2.6 but still the same error. when I use Qadro P2000 (with its dependencies) training is fine.
anybody is using GEFORCE RTX 3090.?

[2021-08-30 06:10] mohantym commented on #51736
Hi ! @jackfrost1411 , That is issue related to installation of Scipy.  Please uninstall and install Scipy and check the issue again. Thank you.

[2021-08-30 06:17] kumariko commented on #27671
@SefaZeng We are checking to see if you still need help on this issue. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-08-30 06:29] kumariko commented on #20561
@Ceveloper We are checking to see if you still need help on this issue, as you are using an older version of tensorflow(1.x) which is officially considered as end of life. We recommend that you upgrade to 2.6 which is latest stable version of TF and let us know if the issue still persists in newer versions. we will get you the right help.Thanks!

[2021-08-30 06:34] kumariko commented on #30799
@Jnasic Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ? check https://github.com/tensorflow/tensorflow/issues/30799#issuecomment-513356671 Thanks!

[2021-08-30 06:36] #15416 closed

[2021-08-30 06:36] #51425 closed

[2021-08-30 06:42] kumariko commented on #30169
@Augnine Could you please let us know if this issue still persists ? If it is resolved then please feel free to move this issue to close status ? please check https://github.com/tensorflow/tensorflow/issues/30169#issuecomment-509416942 Thanks!

[2021-08-30 06:54] kumariko commented on #20600
@alanhdu we see the PR https://github.com/hill-a/stable-baselines/pull/428 is merged  . please refer to the above comment https://github.com/tensorflow/tensorflow/issues/20600#issuecomment-416804754 and let us know if you still need any help here. If it is resolved then please feel free to move this issue to close status ? Thanks!

[2021-08-30 07:45] microcoder-py commented on #40309
Won't work because when we use the map function it passes a Tensor object and not EagerTensor which has no .numpy() function

Please provide recourse, thanks

[2021-08-30 07:51] mohantym commented on #50370
hi @Anthonyive , Could you please look at [answer](https://github.com/pypa/pipenv/issues/2619#issuecomment-406744930) of this issue. Also please follow the steps for macos [here](https://www.tensorflow.org/install/source)

[2021-08-30 07:54] starboyvarun opened #51745 "NameError:"
![4](https://user-images.githubusercontent.com/26819449/131285254-1698b895-d3d7-4c10-9251-8c169d7d5dd8.JPG)

![5](https://user-images.githubusercontent.com/26819449/131285259-61b09421-68ae-490e-9a1d-30aeefa364a5.JPG)

TensorFlow version : 2.2
Keras version: 2.4.3
Even after defining it. It's telling to define it.
Please assign someone who can reply fast.
Thank You.

[2021-08-30 07:58] MPKenning commented on #47554
I consider it bodged, not fixed.

[2021-08-30 08:02] aks2193 commented on #47479
Hey guys, so I was able to resolve the issue.
I was using custom functions for loss and metric in my code and due to that was facing the issue. So included the get_config(self) function in those custom metrics code

And while loading from saved file added  below how it was loaded

saved_model = keras.models.load_model(
     f"{dsm.checkpoint_dir}/epoch_{EPOCHS}/model",
     custom_objects={

[2021-08-30 08:14] Saduf2019 commented on #51619
@thenadz
Can you please verify if the tensorrt path is correct,you may refer to [this link](make sure that your TensorRT is added do your path (LD_LIBRARY_PATH)).
Similar issues : [link](https://github.com/NVIDIA-AI-IOT/torch2trt/issues/152), [link1](https://forums.developer.nvidia.com/t/importerror-no-module-named-tensorrt-parsers/65765).

In case you still face issues:
you may also try "pip inst

[2021-08-30 08:17] mohantym commented on #51723
Hi @akkshay0107! you have mentioned OS you are using Windows 10 , but installation procedure is different. Could you confirm you are following below procedure for [windows ](https://www.tensorflow.org/install/source_windows) , for Ubuntu the  steps can be found [here](https://www.tensorflow.org/install/source),

[2021-08-30 08:20] mohantym commented on #51713
Hi @qinhuan !
This is not a bug or feature request, for any further queries you may open this issue in TF discussion[ forum](https://discuss.tensorflow.org/) as there is a larger community there.Thank you!

[2021-08-30 08:21] dash-myelin opened #51746 "Error loading saved model"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2021-08-30 08:22] Saduf2019 commented on #51598
@llodds
this issue is already reported and tracked at [this link](https://github.com/tensorflow/tensorflow/issues/42660)

[2021-08-30 08:37] #51077 closed

[2021-08-30 08:40] puneeshkhanna commented on #50393
Same issue is also seen in another test "testCaseLowering" in the same file if you execute the test on another device other than CPU or GPU.

[2021-08-30 09:06] mohantym commented on #51743
Hi @sanatmpa1 ,Could you please look into this issue?

[2021-08-30 09:10] mohantym commented on #51740
Hi @ymodak ,Could you please look into this feature request .

[2021-08-30 09:12] Flamefire commented on #39263
Yes, the comment from https://github.com/tensorflow/tensorflow/issues/39263#issuecomment-627207228 still applies as-is with latest master. See the summary there

[2021-08-30 09:14] Luux commented on #47554
No. You're just not showing the warnings.

[2021-08-30 09:22] MAHESH47T commented on #51594
Hi,
  Yeah, I have tried lowering the version of tensorflow, keras. Now it is working.

 #!pip install tensorflow==1.15
# !pip install keras==2.3.0

[2021-08-30 09:23] Flamefire commented on #37861
Yes fixed after the mentioned PRs have been merged

[2021-08-30 09:23] #37861 closed

[2021-08-30 09:24] DoDoENT commented on #51685
This is not strictly related to TensforFlow - I get the same error when trying to use abseil directly in my project with ASan enabled on MSVC.

[2021-08-30 09:31] debroize commented on #51491
I tried on python 3.9.6 and tensorflow 2.6.0. There were no major improvement in computation time (87 sec vs 97sec on tf 2.4) for taking one element via:

'''Python
for img, lab in data.collage.take(1):  # take first element of dataset
        train_img = img
        train_lab = lab
'''

[2021-08-30 09:31] dash-myelin commented on #51746
Is there any way to save the Quant aware model to saved model or pb format?

[2021-08-30 09:37] abattery commented on #51740
After invoking with the inputs, you can get the correct output shapes automatically.

[2021-08-30 09:38] debroize commented on #51491
Additional information: At tensorflow 2.6 i get a warning message:
[code]
But it seems that this doesn't affect the output (collage is processed as expected).

[2021-08-30 09:38] abattery commented on #51740
Resizing output tensor won't beb

[2021-08-30 09:38] #51740 closed

[2021-08-30 09:43] RedaAitBabaaziz commented on #22926
name =input("enter your name :  ")
password = input("enter your password :  ")
password_length = len(password)
if password_length <= 8:
    print("Short paas troop word!")
elif 8 <password_length <= 12:
    print("Medium paas word! ")
else:
    print("Perfect paas word! ")
print(password_length)

[2021-08-30 09:48] mohantym commented on #51746
Hi @dash-myelin , It seems you have missed two steps  - model.compile() and model.fit() before saving the model , you can use the setup_pretrained_weights() function from this reference [colab link](https://colab.research.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/quantization/training_comprehensive_guide.ipynb#scrollTo=lvpH1Hg7ULFz) to tr

[2021-08-30 09:51] dash-myelin commented on #51746
Hi @mohantym , actually I am training the model in a VM, with a custom training loop (not the default fit method). In my local, I get the relevant .ckpt files, load it to a new model, and save the model to a saved_model.

Any suggestions for this?

[2021-08-30 09:55] dash-myelin commented on #51746
@mohantym The model I am trying to save is already trained for some epochs with quantization aware training. The issue seems to be saving a QAT model with QuantWrapper(SeparableConv2D)

[2021-08-30 09:57] mohantym commented on #51746
Ok! Could you please provide the  same complete code to expedite the issue  then?

[2021-08-30 10:00] kweisamx opened #51748 "Tensorflow Lite convert not support UINT8 inference type anymore?"
With Tensorflow 1.x, I can set tensorflow converter with inference_type uint8, therefore all op and weight will quantize to uint8

But In Tensorflow 2.x, I can't not set any config to uint8 anymore, It seems only use int8,
I check the document only support change input_inference typeand output_inference type, but it's still change to int8 to whole model.

If tensorflow converter doesn't support ui

[2021-08-30 10:01] DoDoENT commented on #51685
I've also reported this issue to [Microsoft](https://developercommunity.visualstudio.com/t/ASan-API-headers-not-in-include-path-whe/1517192?space=62&q=sanitizer%2Fcommon_interface_defs.h&entry=myfeedback). Feel free to upvote the report.

[2021-08-30 10:05] jonpsy commented on #51740
@abattery Thanks a lot, Invoking() worked!

[2021-08-30 10:13] dash-myelin commented on #51746
@mohantym - https://colab.research.google.com/drive/1_afuGL5IUrquuXEhAJkOExN5HXJUbtOt?usp=sharing

There you go. I have shown clearly in the code the issue with Quantize Aware SeparableConv2D layer

[2021-08-30 10:13] sushreebarsa commented on #51745
@starboyvarun We see that you have attached the snapshot of the issue .In order to expedite the trouble-shooting process, please provide a code snippet to reproduce the issue reported here. Could you please try on the latest version of TF 2.6 and let us know if it helps?Thanks!

[2021-08-30 10:15] sushreebarsa commented on #51742
@py2ai Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose).Also can you please elaborate about your Feature and please specify the Use Cases for this feature. Thanks!

[2021-08-30 10:21] starboyvarun commented on #51745
![i](https://user-images.githubusercontent.com/26819449/131324477-5c1bd7b3-67a2-44de-8957-9c1a59bd7809.JPG)

![j](https://user-images.githubusercontent.com/26819449/131324500-18585d5d-9648-4a7e-85a9-82ae6f309a02.JPG)

Actually, the framework [janggu], I am using that supports only this version. and a member of that repo advised me to use these versions. Even it's mentioned in read me.

[2021-08-30 10:33] sanatmpa1 commented on #51744
@starboyvarun,

Can you share a reproducible code to expedite the trouble-shooting process? Thanks!

[2021-08-30 10:36] #51494 closed

[2021-08-30 10:45] sanatmpa1 commented on #51744
Duplicate of #51745

[2021-08-30 10:54] starboyvarun commented on #51744
@sanatmpa1  you replied very late that's why.

[2021-08-30 10:58] starboyvarun commented on #51744
@sanatmpa1  Here is code.
![1](https://user-images.githubusercontent.com/26819449/131329177-db11ab2b-5d8c-438c-8686-1c1517c49ec4.JPG)
![2](https://user-images.githubusercontent.com/26819449/131329187-25c36f3b-adba-4cd6-ae65-e18ec7af7466.JPG)
![3](https://user-images.githubusercontent.com/26819449/131329190-9f00478e-37ed-49de-9289-200397a4b973.JPG)
Do you need google Collab link?

[2021-08-30 10:58] LudwigStumpp commented on #51594
Hi @MAHESH47T,

great to hear! Glad that I could help! :) Please could you upvote my provided solution such that others see it?

All the best,
Ludwig

[2021-08-30 11:08] sushreebarsa commented on #51745
@starboyvarun Please provide us the complete code of colab gist, notebook or github link to reproduce the issue reported here.Thanks!

[2021-08-30 11:13] sanatmpa1 commented on #51744
@starboyvarun,

As this is a duplicate, I would recommend you to provide the colab gist on #51745 and confirm if I can close this issue. Thanks!

[2021-08-30 11:17] akkshay0107 commented on #51723
I have followed all the steps given in https://www.tensorflow.org/install/source_windows . Due to RAM being less in my system I had to reduce the number of jobs and because my user folder contains a space I had to set the output root to a folder in C:\ drive.

[2021-08-30 11:20] starboyvarun commented on #51744
you solve it. I  will close the other one. @sanatmpa1

[2021-08-30 11:30] Scot-Survivor commented on #43608
Same issues TF 2.5.1 on Windows 10.

[2021-08-30 11:32] starboyvarun commented on #51745
@sushreebarsa sure.
link: https://colab.research.google.com/drive/1h8ECIVvp3sezj2q_hRHC3D3pacT9oooO?usp=sharing

[2021-08-30 11:35] sanatmpa1 commented on #51741
@hongye007,

Can you please fill the issue [template](https://github.com/tensorflow/tensorflow/issues/new/choose) for us to expedite the trouble-shooting process. Thanks!

[2021-08-30 11:36] #51440 closed

[2021-08-30 11:38] suneeta-mall commented on #50859
@Saduf2019 Are you talking about `load_model` with compile=True? I am not sure if thats a solution as the author itself says it works and it also does not? Nevertheless, my usecase is slightly different so I need a way to set optimizer weights.

Do you not agree that this is a bug in V2 Optimizer that needs fixing?

[2021-08-30 11:45] #50669 closed

[2021-08-30 11:46] mohantym commented on #51719
Hi @Saduf2019 , Could you please look at this issue. providing gist in [2.5 ](https://colab.research.google.com/gist/mohantym/aa709eed3ee2ff0913f5eda6a01e57a3/github_51719_tf_2-6.ipynb#scrollTo=iYyjwZaCx17R),[2.6](https://colab.research.google.com/gist/mohantym/c7699da28d8c60b24d17e1c75027c3a8/github_51719_tf_2-6.ipynb) and [2.7](https://colab.research.google.com/gist/mohantym/78421807c8baf9165de0

[2021-08-30 12:17] sushreebarsa commented on #51745
@starboyvarun Thanks for the quick update! I tried to run your code on Colab and didn't face the error reported as `NameError: name GlobalAveragePooling2D is not defined`. I faced `NotImplementedError: "intersectBed" does not appear to be installed or on the path, so this method is disabled.  Please install a more recent version of BEDTools and re-import to use this method.`error while running you

[2021-08-30 12:22] pokecheater commented on #51710
@tilakrayal

[2021-08-30 12:24] sanatmpa1 commented on #51730
@Silvio-Ma,

Do you mean the import lines are throwing you this error, or after importing when you try running some other code, its throwing you this error?

Can you share a standalone code snippet to reproduce this issue, so that we can expedite the trouble shooting process?Thanks!

[2021-08-30 12:36] #51448 closed

[2021-08-30 12:47] sanatmpa1 commented on #51727
@microcoder-py,

Can you provide the sample data if possible, to reproduce the issue from our end? Thanks!

[2021-08-30 12:52] starboyvarun commented on #51745
I just created a copy of my google collab.
And sent you the link, its showing NameError: name GlobalAveragePooling2D is not defined

[2021-08-30 13:00] River861 commented on #51682
@Saduf2019,
I think I get that.  Thank you!

[2021-08-30 13:12] sushreebarsa commented on #51745
@starboyvarun Can you please let us know if you have tried to use **`from keras.layers import GlobalAveragePooling2D`** to resolve the NameError ? Thanks!

[2021-08-30 13:45] godhj93 opened #51749 "Dynamic Quantization latency Issue about Convolution layer in Tensorflow LITE"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubunt

[2021-08-30 13:56] hrw commented on #41409
I did a build today and got hit by same issue.

top commit:

[code]

Error:

[code]

[2021-08-30 14:00] hrw opened #51750 "[AArch64] error: inlining failed in call to 'always_inline' 'uint8x16_t vaeseq_u8(uint8x16_t, uint8x16_t)': target specific option mismatch"
I did a build today and got hit by same issue. I use manylinux2014 image for builds.

top commit:

[code]

Error:

[code]

_Originally posted by @hrw in https://github.com/tensorflow/tensorflow/issues/41409#issuecomment-908364569_

[2021-08-30 14:38] thenadz commented on #51619
@Saduf2019 As noted in the initial question, this is within the context of the Nvidia-provided GPU image which comes with pre-installed TensorRT and which I would expect to be setup such that TensorRT is usable out of the box. This image has no `PYTHONPATH` initialized when launching and manually setting `PYTHONPATH` equal to `/usr/local/lib/python3.6/dist-packages` does not resolve the issue.

[2021-08-30 14:38] mohantym commented on #51582
Hi @sanatmpa1 ,Could you please look into these issue!

[2021-08-30 14:41] sjtusmartboy commented on #51587
@sushreebarsa, @Saduf2019 I finally track the problem, but don't know how to solve it, it seems to be the tensorflow internal error.

[2021-08-30 14:41] Tirbo06 commented on #41460
# SOLUTION
As mentioned in this thread [https://github.com/tensorflow/tensorflow/issues/39237#issuecomment-784553723](url)
The default arguments work on 4D images. If you want it to word in 3D images, use the argument channel_axis=2

[2021-08-30 14:45] vandics commented on #37688
hello, could you provide a solution for this issue? I got this issues too

[2021-08-30 14:48] mohantym commented on #51594
Hi @MAHESH47T , if you can also  replace the `import keras.engine as KE with  import keras.layers as KE` after forking the repo , so the KE.layer will do it work if you want to use TF 2.x versions.

[2021-08-30 14:58] sanatmpa1 commented on #51710
@pokecheater,

This looks like as an issue related to keras component. Can you please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues),To know more see; [https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-keras-team-keras/1999](https://discuss.tensorflow.org/t/keras-project-moved-to-new-repository-in-https-github-com-ke

[2021-08-30 15:04] nouiz commented on #36465
The fix fpr cudaMallocAsync was merged a few hours ago.
Can you wait 24h and try TF nightly build to be sure that it also works for you?
If you have any comments on that new features, please share with us.

To enable it, use the environment variable `TF_GPU_ALLOCATOR=cuda_malloc_async`.

Please share your result on this new feature.

Note, with this new allocator, the cuda driver will release auto

[2021-08-30 15:07] nouiz commented on #48545
The fix for cudaMallocAsync was merged a few hours ago.
Can you wait 24h and try TF nightly build to be sure that it also works for you?
If you have any comments on that new features, please share with us.

To enable it, use the environment variable TF_GPU_ALLOCATOR=cuda_malloc_async.

Please share your result on this new feature.

Note, with this new allocator, the cuda driver will release automa

[2021-08-30 15:07] mohantym commented on #51625
Hi@yongtang, But what is reason behind making kernel size = 0 . We give a kernel size  as it will filter  through image extracting certain features. Defining kernel size 0 sounds  you are moving across the image with 0 filter size to extract features.

[2021-08-30 15:16] jdduke commented on #37688
@vandics please file a separate bug, but in general this is indicative of an issue with client code having a null value for the Interpreter.

[2021-08-30 15:20] sanatmpa1 commented on #51744
@starboyvarun,

As I see that @sushreebarsa is already working on the issue #51745. To avoid duplication of efforts, Can you kindly confirm if we can close the issue here? Thanks!

[2021-08-30 15:21] jdduke commented on #48567
Over to @advaitjain for follow-up.

[2021-08-30 15:21] mohantym commented on #51750
Hi @hrw,
Could you please  fill the template  as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-08-30 15:22] jdduke commented on #45929
Over to @miaout17 for follow-up.

[2021-08-30 15:23] jdduke commented on #44332
@impjdi @srjoglekar246 any thoughts on the proposal?

[2021-08-30 15:24] jdduke commented on #44090
This should be possible now, @thaink can you provide a link to the docs/guidance?

[2021-08-30 15:27] jdduke commented on #44032
Apologies for the delayed response, this completely missed my radar.

I actually don't know the origin of the TFLite-reported DenseNet numbers, @miaout17 are you familiar with those numbers? Are we still tracking it? It seems to be fairly dated, we might consider removing it completely.

[2021-08-30 15:27] #44023 closed

[2021-08-30 15:34] vandics commented on #37688
Sorry for not open a new issue because my problem is the same as this one, maybe you could give me an advice. Below is my code. I just want to run tflite object detection with a custom dataset on an android device

private ArrayList<Classifier.Recognition> getDetectionsForTiny(ByteBuffer byteBuffer, Bitmap bitmap) {
        ArrayList<Classifier.Recognition> detections = new ArrayList<Classifier.Re

[2021-08-30 15:36] #50554 closed

[2021-08-30 15:37] jdduke commented on #42626
@advaitjain should we move this issue to the TFLM repo?

[2021-08-30 15:38] jdduke commented on #42323
Apologies for the delay, @MeghnaNatraj can you help with this one?

[2021-08-30 15:40] jdduke commented on #42147
Apologies for the delay, looks like the issue wasn't properly labeled, @multiverse-tf can you help with this one?

[2021-08-30 15:42] jdduke commented on #40914
@srjoglekar246 can you help diagnose?

[2021-08-30 15:43] jdduke commented on #38740
Over to @lu-wang-g for follow-up.

[2021-08-30 15:43] jdduke commented on #38536
@petewarden should we move this request to the new repo?

[2021-08-30 15:46] jdduke commented on #31829
Training support with TensorFlow Lite is in active development, @miaout17 can offer additional updates.

[2021-08-30 15:49] jdduke commented on #30087
@miaout17 we should probably remove the OSS version of the image classifier in https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/java/demo and point users to the examples repo. Please re-assign as appropriate.

[2021-08-30 15:50] jdduke commented on #28105
@karimnosseir @yyoon can you offer guidance on this one?

[2021-08-30 15:53] jdduke commented on #37688
Your `tfLite` Interpreter object is null. Either creation failed, or it wasn't created in the first place.

[2021-08-30 15:54] jdduke commented on #27223
@karimnosseir can you follow up on this one?

[2021-08-30 15:54] thenadz commented on #51619
And to be clear, TensorRT is already in the docker image under the above-referenced dist-pacakges path so seems clear it's *supposed* to work OOTB...

[2021-08-30 15:55] jdduke commented on #27031
@miaowang14 I believe the partial delegation should be addressed in the latest Android/TFLite release?

[2021-08-30 15:56] jdduke commented on #26499
@multiverse-tf can you link to the prebuilts?

[2021-08-30 15:57] jdduke commented on #26068
Apologies for the delay, @AzharSindhi is this still an issue with the latest TFLite release?

[2021-08-30 15:58] #25275 closed

[2021-08-30 15:58] vandics commented on #37688
I have created it with private Interpreter tfLite, also I have print the object interpreter and none of them are null. If I run object detection example from tensorflow, it is working correctly but when I run it on my app it will send an error like above.

[2021-08-30 15:59] #25239 closed

[2021-08-30 16:02] hrw commented on #51750
**System information**
- OS Platform and Distribution: manylinux2014 container (so CentOS 7)
- TensorFlow installed from (source or binary): source
- TensorFlow version: git HEAD
- Python version: 3.9
- Installed using virtualenv? pip? conda?: not installed
- Bazel version: 3.7.2
- GCC/Compiler version: gcc (GCC) 10.2.1 20210130 (Red Hat 10.2.1-11)
- CUDA/cuDNN version: none
- GPU model and memory

[2021-08-30 16:02] jdduke commented on #26882
Closing due to lack of response, feel free to reopen if the issues still repros with the latest build.

[2021-08-30 16:02] #26882 closed

[2021-08-30 16:04] jdduke commented on #25215
Changing this could be problematic for historical reasons, but might be worth considering.

@karimnosseir any thoughts?

[2021-08-30 16:06] jdduke commented on #24910
There have been quite a few changes/improvements in this space over the last several years, it's probably worth trying again.

[2021-08-30 16:31] DwayneDuane opened #51751 "Tensorflow Lite C API + GPU delegate crash on exit"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): source
- TensorFlow version (use command below): master

[2021-08-30 16:36] #35079 closed

[2021-08-30 16:39] DwayneDuane commented on #50940
Hi @terryheo , sorry for taking so long. I got sidetracked onto another project and was only able to return to this recently. So basically I can confirm that with GPU delegate does work with C API on NVidia GPUs if I build using CMake with the aforementioned changes. Also, I was able to build for Android after making one additional modification to `tensorflow/lite/CMakeLists.txt` in order to exclu

[2021-08-30 16:44] sannamir commented on #51653
@LukeBolly Can you please help me with the review on my PR? It says to add a test for the behavior you're fixing.

[2021-08-30 16:54] ymodak commented on #26499
For benchmark binary - https://www.tensorflow.org/lite/performance/measurement#native_benchmark_binary

[2021-08-30 17:19] AzharSindhi commented on #26068
@jdduke I haven't checked it on the latest release. You can close this issue now.

Thank you

[2021-08-30 17:24] srjoglekar246 commented on #40914
@hahadashi is this is still relevant, can you provide the sample float & quantized models you are testing? Its difficult to judge based on your code why the model performance might be off.

[2021-08-30 17:27] srjoglekar246 commented on #51429
@impjdi Can you take a look?

[2021-08-30 17:41] #26068 closed

[2021-08-30 17:50] renziver commented on #34848
Encountered the same issue when I used a `tensor` for the provided data size length. This is using `tensorflow-2.6.0`

`train_size = train_split.reduce(0, lambda x, _: x + 1)`
  `val_size = val_split.reduce(0, lambda x, _: x + 1)`
`batch_size =8`
`model.fit(..., steps_per_epoch=train_size//batch_size` <-- ERROR  `TypeError: Cannot convert 1.0 to EagerTensor of dtype int64`

The solution was to con

[2021-08-30 17:54] jayfurmanek commented on #50487
I see a similar error when running the recommendation model from the models repo on TF2.5.0 and later on python3.8
https://github.com/tensorflow/models/tree/v2.5.1/official/recommendation

[code]

[2021-08-30 18:20] libbooze commented on #51685
@DoDoENT Thank you very much for taking time to report this and make MS issue.
Did you use the latest Abseil?
If so I can skip the request from @sushreebarsa  for testing 2.6 since if it is not fixed in latest Abseil it is for sure still broken in TF.

[2021-08-30 18:36] dash-myelin commented on #51746
@mohantym It's a critical feature. I use SeparableConvs in all my models for speed. And tf2.x allows only model.save() to create pb files. It's a serious bug.

Please tell me if there is another way to achieve saving and loading Quant aware models with SeparableConvs.

[2021-08-30 18:50] advaitjain commented on #48567
Similar to https://github.com/tensorflow/tflite-micro/issues/149#issuecomment-886855952, we do not have a direct path to fixing the issue described. Using Conv2D is likely the path of least resistance at the moment (https://github.com/tensorflow/tflite-micro/issues/149#issuecomment-858111382).

[2021-08-30 18:50] #48567 closed

[2021-08-30 18:57] qlzh727 commented on #50835
Looking at the original paper, the Table 1 (Bottleneck residual block) shows that the (1x1 conv2d , ReLU6) is the operation used for the block, which I think is matching with the current implementation in Keras. I have also check the pytorch implementation in https://github.com/pytorch/vision/blob/6db1569c89094cf23f3bc41f79275c45e9fcb3f3/torchvision/models/mobilenet.py#L45, which also use Relu6 as

[2021-08-30 19:04] hrw commented on #51750
https://ci.linaro.org/job/ldcg-python-manylinux-tensorflow-nightly/80/consoleText for example build log

[2021-08-30 19:07] Saduf2019 commented on #51682
@River861
Can you please move this to close status as it answers your question.

[2021-08-30 19:28] tibbe commented on #50820
So the Keras people says (see previous comment for link to the Keras bug) that `FunctionalPreprocessingStage` isn't an exposed symbol of Keras (but I believe it is of TF as of 2.6) so it's now unclear to me who feels responsible for that function working. :)

[2021-08-30 20:10] vulkomilev commented on #51737
Black screen .Like the whole system freezes and it needs a reset? If this is the case I don't think the problem is from the tensorflow. Have you tried to compile something other than tensorflow with cmake ?

[2021-08-30 20:14] vulkomilev commented on #51751
I am not sure but it looks like that this issue may come from not enough memory . At least when I not provide enough memory to my tensorflow program I get funny errors like illegal memory access or uninitialized layer .Can you confirm that you have enough memory?

[2021-08-30 20:20] impjdi commented on #51429
@UnickSoft It would be helpful if you can attach a tflite model that can reproduce this.

[2021-08-30 20:45] #46889 closed

[2021-08-30 20:45] #46899 closed

[2021-08-30 20:52] jayfurmanek commented on #50487
The other interesting thing is this only happens (for me at least) on py38 and py39. It runs just fine on py37, so maybe this is a python bug. Perhaps this one?
https://bugs.python.org/issue39995

[2021-08-30 20:55] pdubz-sudo commented on #39142
@mohantym Hey there! I tried the nightly build but the jupyter notebook didn't have the method list and autocomplete.

For example, doing `tf.__` and then hitting `tab` will have a drop down list of all the available methods which one can then choose from.

[2021-08-30 21:03] jiannanWang commented on #51643
I simplified the code to reproduce and now you don't need to download the input file.

    import tensorflow as tf
    import numpy as np

    x = np.array([-3.e+38+0.j], dtype='complex64')
    y = (2.e+37-2.e+38j)

    output1 = tf.math.xdivy(x, y)
    print(output1)  # the results in eager mode is correct

    @tf.function
    def fun_wrapper(x, y):
        return tf.math.xdivy(x, y)

    output

[2021-08-30 21:12] abattery commented on #51751
@impjdi could you take a look at this?

[2021-08-30 23:21] Anthonyive commented on #50370
@mohantym Thank you. This actually works! I'm using this `pipenv install --verbose https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-2.6.0-cp38-cp38-macosx_10_11_x86_64.whl`.

Do you know why I can't simply `pipenv install tensorflow`?

[2021-08-31 00:25] fzyzcjy commented on #26499
Nice to see it is now there! (Though 2.5 yr has passed and I am no longer doing tflite...)

[2021-08-31 00:58] crawlingcub commented on #51179
Hi,

I think the issue was more apparent with imagenet dataset. I cannot share the dataset directly due to distribution restrictions. Can you try it out? It can be obtained from [here](https://image-net.org/download.php)

[2021-08-31 00:58] jimmylai-hk opened #51755 "Import tensor error"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Window 10
- Mobile device (e.g

[2021-08-31 01:36] LukeBolly commented on #51653
I think you need to add a bug reproduce into
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/kernel_tests
I'm not 100% if bug repros go into kernel_tests, maybe one of the TF team can advise you on where the most appropriate location is

[2021-08-31 02:16] sushreebarsa commented on #51618
@lugalUrim This issue will be closed once the PR is merged! Thanks!

[2021-08-31 02:19] seanshpark opened #51756 "[tflite conversion] Invalid file dropped for invalid shape without error"
### 1. System information

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installation (pip package or built from source): pip package version 2.6.0
- TensorFlow library (version, if pip package or github SHA, if built from source): N/A

### 2. Code
_Provide code to help us reproduce your issues using one of the following options:_

Download model:
[code]

[co

[2021-08-31 02:21] seanshpark commented on #51756
From https://github.com/Samsung/ONE/issues/7589#issuecomment-908819727, this is a capture image using netron with generated tflite file.

![image](https://user-images.githubusercontent.com/4616940/131426761-b4629572-5ffd-4853-97b0-76744e614237.png)

[2021-08-31 02:23] seanshpark commented on #51756
If above script to convert to tflite has any problems, it would be grateful to point it out...

[2021-08-31 02:33] KennyTang1988 opened #51757 "mips toolchain compile tflite2.6 error"
I extract tflite 2.6 source code, and make it with different toolchains. Arm and linux toolchains works fine. But mips-mti-elf-gcc/g++ appears the following error:

I confirm that my mips toolchain has supported c++11. Because mips toolchain not define _GLIBCXX11_USE_C99_STDIO,  it does not support to_string function.

I don't know why mips not support _GLIBCXX11_USE_C99_STDIO, and if tf can help

[2021-08-31 02:47] #51713 closed

[2021-08-31 03:23] qinhuan commented on #51713
@vulkomilev Thanks for reply!  I  found a way to solve my problem.
first,
[code]

and we need inputs, and inference; then `model.variables` will have values.
[code]
load ckpt file, `model.variables `will be changed;
[code]

now, we can modify the value by` assgin`.

[code]

[2021-08-31 04:10] jonpsy commented on #42147
I've fixed my error.

**Background:** My interest was to create a wrapper around TFLiteInterpreter, feeding and gathering data from it + delegate support in user friendly way. This means, I had to compile and link XNNPACK delegate with my library.

**What I did**: It's not very intuitive at start, but in your `bazel-bin`, delegate/XNNPACK folder. This itself has some dependencies with fpthread. Fo

[2021-08-31 04:38] snawarhussain commented on #42037
Sometimes this problem arises in the colab/notebook when you run the tesnordataset.batch() cell twice. as tensors are already batched; running the same cell again batches it again and ends up adding an extra dimension. just clear the variable and you will be fine

[2021-08-31 05:15] andrew-johnson-melb opened #51760 "tf.distribute.MirroredStrategy does not work via srun (SLURM) causes NCCL error"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (Ubuntu 20.04.2 LTS)
- TensorFlow installed from container 21.05 (https://docs.nvidia.com/deeplearning/frameworks/tensorflow-release-notes/rel_21-05.html#rel_21-05)
- TensorFlow version (2.5):
- Python version: 3.8.5
- CUDA/cuDNN version: 11.3.0/8.

[2021-08-31 05:24] Silvio-Ma commented on #51730
Thanks for your consideration Sanatmpa, I'm really stuck.
No, the import lines return no error, they work fine:

[code]

This will run properly. And also when I run this cell:

`!pip show tensorflow
`
The result is:

Now when I run this cell:

[code]
This error will raise:

Or when I run this cell:

[code]

This will be the result, sorry, it's too long:

[2021-08-31 05:36] #19517 closed

[2021-08-31 05:57] mohantym commented on #51723
Hi @sanatmpa1 ,Could you please look into this issue!

[2021-08-31 05:58] devnev39 commented on #51736
This kind of error on m1 macbooks usually are only solved by reinstalling the tensorflow. Just remove the tensorflow that you have installed and follow the instruction on the apple site ->

https://developer.apple.com/metal/tensorflow-plugin/

After doing all the steps, you also need to install tensorboard also using pip in the same environment.

[2021-08-31 07:15] DoDoENT commented on #51685
I'm using 202103.24.2. However, after hardcoding the include directory path in my `CMakeLists.txt` to `C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\VC\Tools\MSVC\14.29.30133\crt\src` just to test the build in case MSVC added that path correctly to default includes, but abseil still doesn't build.

This time I get the following error:

[code]

As far as I see, the line 432 of `f

[2021-08-31 07:19] sushreebarsa commented on #26776
@samikama Could you please let us know if this is still an issue ?Thanks!

[2021-08-31 07:23] sushreebarsa commented on #34114
@huyng It looks like you are using an older Version of Tensorflow `2.0`. Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version `2.6.0` and let us know if the issue still persists? Please find a similar[ issue ](https://github.com/tensorflow/tensorflow/issues/34691) & let us know if it helps ?Thanks!

[2021-08-31 07:27] vcarpani commented on #35150
Hello @sushreebarsa, I have changed my implementation, so I am not using this function anymore, closing the issue.

[2021-08-31 07:27] #35150 closed

[2021-08-31 07:36] #41244 closed

[2021-08-31 07:39] #51682 closed

[2021-08-31 08:13] sanatmpa1 commented on #51723
@akkshay0107,

You can take a look at this issue #27471 for reference, though in your case it haven't failed and just took longer time.Can you try modifying the configuration to disable `XLA JIT Support` if its enabled, and build again to see if its working fine?

Also check if the graphics card in your machine supports the corresponding cuda version as per this [link](https://www.tensorflow.org/i

[2021-08-31 08:21] sanatmpa1 commented on #51730
@Silvio-Ma,

Can you let us know how you have installed tensorflow 2.6.0? Have you tried installation with PIP or built it from source?

Also do you have MSVC2019 installed as per the tested build configuration [link](https://www.tensorflow.org/install/source_windows#cpu)?

[2021-08-31 09:20] mohantym commented on #51756
Hi @seanshpark , I found this comment

 for input_arrays_with_shape from [v1 document.](https://www.tensorflow.org/versions/r1.15/api_docs/python/tf/lite/TFLiteConverter) .  Changed the code

[code]

providing [gist](https://colab.research.google.com/gist/mohantym/fcf5822199ec52816176025e941712c1/github_51756.ipynb) fore reference

[2021-08-31 09:36] #51519 closed

[2021-08-31 09:36] #51091 closed

[2021-08-31 09:53] mohantym commented on #32323
Hi @SamuelMarks!  Could you try again with a suitable [configurations ](https://www.tensorflow.org/install/source#preconfigured_configurations) and command
`bazel build --config=cuda [--config=option] //tensorflow/tools/pip_package:build_pip_package` and Latest version TF 2.6

[2021-08-31 09:56] mohantym commented on #32244
Hi! @skeydan ! Could you close this issue then?

[2021-08-31 10:00] mohantym commented on #31434
Hi @chengleiwang !We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-31 10:08] seanshpark commented on #51756
@mohantym , thanks for the comment, but I am not asking correct script to get correct tflite

What I expect from is that,
- if invalid input shape, like `input_shapes = {"input": [0, 299, 299, 3]}` , is given, I expect `tflite_model = converter.convert()` to drop an error

So, this happens
- Current TF2.6.0 doesn't drop and error
- I cannot catch the error
- An invalid TensorFlow lite file is gene

[2021-08-31 10:10] mohantym commented on #29854
Hi @lkmandy , The above URL in template is working fine  . Could you please point out the exact issue in URL?

[2021-08-31 10:12] mohantym commented on #51756
Hi @ymodak ,Could you please look into this issue!

[2021-08-31 10:14] shlee007 opened #51763 "How is TensorFlow compatible with Python2 and Python3 ？"
I'm doing some development based on the community's TensorFlow, but it only supports a single version of Python.It seems that the community’s TensorFlow supports both Python2 and Python3：
![image](https://user-images.githubusercontent.com/54703662/131481441-bf9f99a2-5456-4e1d-b3d1-c7b3e35240e8.png)

I have read the [Google Python Style Guide](https://github.com/google/styleguide/blob/gh-pages/pygu

[2021-08-31 10:16] ttang235 commented on #24997
This problem still exists in tf 2.5 (chief exits before worker finishes)

You can verify this using the two files pasted at the end.
1. Run `bash train.sh`
2. Run `ps aux | grep chief_exit`, and you will see processes for chief, worker, etc
3. Monitor the ~/chief_log and ~/worker_log, when ~/chief_log stops updating, Run `ps aux | grep chief_exit` again, and you will see the chief process is gone,

[2021-08-31 10:20] mohantym commented on #30981
Hi @colmantse !
We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-31 10:25] mohantym commented on #30956
Hi @nfergu ! Could you  confirm with above response. Also , We see that you are using old version of Tensorflow which is officially considered as end of life, We recommend that you upgrade to 2.6 version and let us know if the issue still persists in newer versions .Please open a new issue in case you face any errors, we will get you the right help .Thanks!

[2021-08-31 10:26] starboyvarun commented on #51744
@sanatmpa1 solve the issue I have closed that issue.
If you cant do it .assign someone else.

[2021-08-31 10:26] #51745 closed

[2021-08-31 10:34] mohantym commented on #30839
Hi @oracle3001 !Could you please check on latest stable version of tf 2.6 and   the instructions at this [link ](https://www.tensorflow.org/install/source_windows) for installing Tensorflow in windows from Source. let us know if this is still an issue.Thanks!

[2021-08-31 10:37] mohantym commented on #51763
Hi @shlee007 !We see that the issue template has not been filled, could you please do so as it helps us analyse the issue [tf version, steps followed before you ran into this error or stand alone code/colab gist to reproduce the issue faced].Thanks

[2021-08-31 10:43] sushreebarsa commented on #51755
@jimmylai-hk Could you please check on latest stable version of TF 2.6 and   the instructions at this [link ](https://www.tensorflow.org/install/source_windows) for installing Tensorflow in windows from Source. Please let us know if it helps?Thanks!

[2021-08-31 10:48] mohantym commented on #51736
Thanks  @jackfrost1411 ! Could you close  the issue then!

[2021-08-31 10:57] DwayneDuane commented on #51751
@vulkomilev I have a fairly powerful machine with 8GB of system ram and an NVidia GTX 1650 with 4GB vram. I was able to repro the issue using the code I showed above and a NasnetMobile (FP32) net I download from https://www.tensorflow.org/lite/guide/hosted_models . This is a relatively small model and shouldn't cause memory pressure. Also, as I mentioned in the original post, I don't get this cras

[2021-08-31 11:04] duck7216 opened #51766 "Issue about using Nsight System on Tensorflow2.6.0"
**System information**

\- OS Platform Linux Ubuntu 18.04.5

\- TensorFlow installed from **docker**(tensorflow/tensorflow:2.6.0rc2-gpu)

\- TensorFlow version :**2.6.0rc2-gpu** (default)

\- Python version:**3.6.9** (default)

\- CUDA version:**11.2** (default)

\- cuDNN version:**8.1.0** (default)

\- GPU model and memory:**NVIDIA A6000** / 48685MiB

**Describe the current behavior**

When using

[2021-08-31 11:12] akkshay0107 commented on #51723
In ``configure.py`` there is no option to disable XLA JIT, do i have to disable it in the .bazelrc file manually? Also I dont have a GPU in my computer and have inputted "N" to this line in ``configure.py`` and so i dont use cuda / cudNN
[code]

[2021-08-31 11:21] Silvio-Ma commented on #51730
I tried conda install, it did not work. pip install just worked for me.
I'm quite a novice in this field, and in installing instructions I've seen nothing about Bazel or MSVC2019 as noted in your link. But if you mean microsoft visual c++ 2019, yes I have installed 2015-2019 redistributable.

[2021-08-31 11:47] duck7216 opened #51767 "Conflict happened when using both tensorboard and Nsight System"
**System information**

- OS Platform Linux Ubuntu 18.04.5

- TensorFlow installed from docker(tensorflow/tensorflow:2.4.3-gpu)

- TensorFlow version :2.4.3-gpu (default)

- Python version:3.6.9 (default)

- CUDA version:11.0 (default)

- cuDNN version:8.0.4 (default)

 - tensorboard version:2.6.0

- GPU model and memory:NVIDIA A6000 / 48685MiB

**Describe the current behavior**

When using both N

[2021-08-31 11:48] mypey commented on #50926
I have the same issue using SlurmClusterResolver , with tensorflow-2.5.0 and 2.6.0.
I have a very similar environment : compiled from source, RHEL 8, bazel 3.7.2, gcc 8.3.1, CUDA 11.2, NCCL 2.8.3, V100

Any news?

[2021-08-31 12:42] npanpaliya commented on #50487
I tried changing the MirroredStrategy to OneDeviceStrategy and the exception went away. So, not sure if it is an issue caused by both combination of python and TF problems.

[2021-08-31 12:43] mbalsells commented on #34415
I had the same problem. Make sure the first lines in your code are:

[code]

And then import everything else. If you import tensorflow or even numpy before that, it won't work. Hope that solves the issue!

[2021-08-31 12:52] i7p9h9 commented on #43690
Any updates here? Conv1D with delation still not working. I tryed tf2.6 and tf-nightly [2.7.0.dev20210831-cp37-cp37m-manylinux2010_x86_64]

[2021-08-31 13:26] zpcalan opened #51768 "When use keras + TensorBoard with parameter server strategy, error on worker is raised and core is dumped."
Hi, developers of tensorflow.
The environment, code, and issue I encountered are listed below:

TF version: nightly
OS: ubuntu16.04
cuda: 11.0

Worker code: (PS code is almost the same as this one)
[code]

The error of the Worker process:

[code]

I want to check the graph on the worker by TensorBoard. Anyone knows how to fix this issue?

[2021-08-31 13:38] xunbing commented on #51674
@tilakrayal  thanks a lot! In these days, I'm trying my best to figure it out. The two blogs are very helpful to me.

[2021-08-31 13:38] #51674 closed

[2021-08-31 13:38] old-school-kid opened #51769 "Saving a NSL model"
**NotImplementedError: Saving `AdversarialRegularization` models is currently not supported. Consider using `save_weights` or saving the `base_model`.**
I trained a Neural Structured Learning model with AdversarialRegularization and tried to save the model as a SavedModel format as well as a HDF5 model. And in both case I faced this error. Can anyone let me know how to save the model or a workarou

[2021-08-31 13:49] sushreebarsa commented on #43604
@asterisk37n I don't have the access to the files to reproduce the issue from my end.Could you please try to execute your code using the latest TF v2.6 and let us know if the issue still persists ? Thank you!

[2021-08-31 14:05] #51376 closed

[2021-08-31 14:19] rpytel1 commented on #50417
@pkanwar23 Any update on that, bc for my recently downloaded image it was still not working.
It works for image: ``nvcr.io/nvidia/tensorflow:21.07-tf2-py3`` while it crashes for:
- ``tensorflow/tensorflow:2.5.0-gpu-jupyter``
- ``tensorflow/tensorflow:2.5.1-gpu-jupyter``
- ``tensorflow/tensorflow:2.6.0-gpu-jupyter``

[2021-08-31 14:21] sushreebarsa commented on #34898
Was able to reproduce the issue on Colab using tf-nightly , please find the [gist](https://colab.research.google.com/gist/sushreebarsa/88092eb250d677541cfeabcec7e5a8b7/untitled738.ipynb) for reference.Thanks!

[2021-08-31 14:28] sushreebarsa commented on #34827
@gthb It looks like you are using an older Version of Tensorflow (2.3). Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version 2.6.0 and let us know if the issue still persists? Thanks!

[2021-08-31 14:33] sushreebarsa commented on #34608
@raygong1207 It looks like you are using an older Version of Tensorflow (2.0). Many bugs have been fixed in the latest version. Can you please execute your code using Latest Version (2.6.0) and let us know if the issue still persists? Thanks!

[2021-08-31 14:39] Saduf2019 commented on #51726
@NEGU93
A CL is created to resolve this, thank you for reporting.

[2021-08-31 14:51] sushreebarsa commented on #34491
@Innuendo1975 Could you please refer to the [comment ](https://github.com/tensorflow/tensorflow/issues/34491#issuecomment-869086784) above and try to execute your code using latest TF v2.6 .Please let us know if it helps?Thanks!

[2021-08-31 15:01] Saduf2019 commented on #51724
@sam351
It is working as expected now, please find the [gist here](https://colab.research.google.com/gist/Saduf2019/6e1e708ca606ef8753522e65f9d80567/2_5.ipynb),and [2.5](https://colab.research.google.com/gist/Saduf2019/f63a8fc68e6499862e4cac97bf2a052b/untitled632.ipynb). Please move this to closed status as this is resolved and this repo is only for performance related issues and bugs for tensorfl

[2021-08-31 15:10] gthb commented on #34827
Sorry @sushreebarsa, I have since changed jobs and no longer have access to the codebase where I observed this, so can't check in a way that's reliably comparable to what I saw before. Also am not currently using Tensorflow at all so this is out of scope for me.

[2021-08-31 15:13] sushreebarsa commented on #34827
@gthb Thanks for the quick update!

[2021-08-31 15:23] mohantym commented on #50370
@Anthonyive  ,Please look at this[ comment](https://github.com/pypa/pipenv/issues/2619#issuecomment-410137778) for answer  , For further queries please create a new issue , We would be happy to help you out.Thanks!

[2021-08-31 15:55] kun-lu20 opened #51770 "TensorFlow master build fails on s390x due to boringssl issue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

Reference issues: https://github.com/tensorflow/tensorflow/issues/14039, https://github.com/tensorflow/tensorflo

[2021-08-31 16:15] mihaimaruseac commented on #51685
This is not related to TF, so I'd move we close this

[2021-08-31 16:26] DoDoENT commented on #51685
I agree. I reported that directly to [abseil](https://github.com/abseil/abseil-cpp/issues/1010).

[2021-08-31 16:27] catskillsresearch opened #51771 "tf.vectorized_map fails on ragged tensors"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 21.04
- TensorFlow installed from (source or binary): pip install tensorflow==2.6.0
- TensorFlow version (use command below): 2.6.0
- Python version: 3.9
- CUDA/cuDNN version: 11.4
- GPU model and memory

[2021-08-31 16:30] #51685 closed

[2021-08-31 16:30] mihaimaruseac commented on #51685
When ABSL releases a new stable version with this patched, we'll patch it into TF

[2021-08-31 17:11] sanatmpa1 commented on #51720
@River861,

I am able to reproduce the issue in colab with TF 2.6 and here is the [gist](https://colab.research.google.com/gist/sanatmpa1/58d9505fc6f1db5942a44a34b1eb7c09/51720.ipynb)

I can see that this issue is mostly related to Keras component and so can you please post this issue on [keras-team/keras repo.](https://github.com/keras-team/keras/issues),To know more see;[https://discuss.tensorfl

[2021-08-31 17:15] sanatmpa1 commented on #51716
@jackyesf,

Can you share a simple reproducible code to expedite the trouble-shooting process? Thanks!

[2021-08-31 17:16] sanatmpa1 commented on #51710
@pokecheater,

As you have already opened an issue with `Keras` repo, please confirm if we are good to close this issue here? Thanks!

[2021-08-31 17:29] ymodak commented on #51710
The docs are fixed with [b2f6e34](https://github.com/keras-team/keras/commit/81b6a9b369234aff58a975c5a9c5e0101b6f93a9) Thanks!

[2021-08-31 17:30] #51710 closed

[2021-08-31 17:31] ymodak commented on #26499
Closing this issue now since the feature is added. Thanks!

[2021-08-31 17:31] #26499 closed

[2021-08-31 18:04] zoxoi commented on #48195
I'm not going to be able to test this for a bit, but it's on my to-do list. Just to stave off the inactivity autoclose.

[2021-08-31 18:05] #51482 closed

[2021-08-31 18:43] Anthonyive commented on #50370
Thank you!

[2021-08-31 18:43] #50370 closed

[2021-08-31 18:56] remotepilotsam opened #51772 "AttributeError: 'NoneType' object has no attribute 'label_map'"
I was running the notebook in Jupyter Notebook (the version that can be downloaded from the Colab notebook), and ran into this error in step 3 shown in the image.

![label_map error](https://user-images.githubusercontent.com/81659220/131559999-97b99027-43f1-4ff0-8198-c79286fdb1b4.png)

Anyone know how to fix this?

[2021-08-31 19:12] ymodak commented on #51589
Closing since its a Duplicate https://github.com/tensorflow/tensorflow/issues/51588
Thanks!

[2021-08-31 19:12] #51589 closed

[2021-08-31 21:03] vulkomilev commented on #51772
Are you sure that you have initialized the train_data variable

[2021-08-31 22:03] rthadur commented on #38106
This specified file has been moved to tensorflow/tflite-micro, and also method you are referring has been moved/removed. Thank you

[2021-08-31 22:03] #38106 closed

[2021-08-31 22:12] rthadur commented on #38156
There is no reference to above code in current version here https://github.com/tensorflow/tflite-micro ,I will be closing this issue as the tflite-mirco repo is now separate and further issues should be opened there. Thank you.

[2021-08-31 22:12] #38156 closed

[2021-08-31 23:12] jvishnuvardhan commented on #51643
@jiannanWang I can reproduce the issue. [Here](https://colab.research.google.com/gist/jvishnuvardhan/498379c3bd9ad6df2675ea405b7df307/untitled.ipynb) is a gist for our reference. Thanks!

[2021-08-31 23:18] thaink commented on #44090
You can follow the guide in https://www.tensorflow.org/lite/guide/reduce_binary_size#advanced_usages_build_custom_cc_shared_libraries
to reduce the binary size.

[2021-08-31 23:24] monajalal opened #51773 "tensorboard no runs found for PyTorch 1.9 in VSCode in CentOS 7"
<img width="1127" alt="Screen Shot 2021-08-31 at 7 22 57 PM" src="https://user-images.githubusercontent.com/1892917/131588221-3152f224-9a08-40d6-8474-f404e26dd9a7.png">

Any tips on how to use Tensorboard in VSCode for PyTorch 1.9?

[2021-08-31 23:30] jimcost opened #51774 "Sizing problem with BatchDataset in Tensorflow 2.3.1"
I want to extract the tensor contained within a BatchDataset. It appears I run into a sizing issue -- if I call a batch of 4500 elements no problem (i.e., extractable), but if I create a batch of 5000 elements no dice.

![image](https://user-images.githubusercontent.com/6710629/131588513-c9ddacbd-c5ec-4ff0-b5de-bc9a75def56b.png)

If `inp` does not exist in the second example above, then when tryin

[2021-08-31 23:59] #46909 closed

[2021-09-01 00:05] SkylerZheng opened #51775 "model written with tf2.6.0 (not using keras) cannot find instructions to do quantization aware training, only keras model based quantization example can be found"
I wrote my code with tensorflow 2.0, some of my code used tf.compat.v1, I'm trying to do quantization aware training for my model, however, I cannot find any functions except keras related quantization functions. My question is to do quantization aware training, do I have to write my model using Keras?

[2021-09-01 00:34] v-bengbeng-v commented on #18652
So is mine.Have you solved it?

[2021-09-01 00:39] KumaTea opened #51776 "Building from source failed on Python 3.10"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7
  - [`manylinux2014` docker image](https://github.com/pypa/manylinux#manylinux2014-centos-7-based) from [pypa / manylinux](https://github.com/pypa/manylinux)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Raspberry Pi 4 B
- TensorFlow installed from (source or

[2021-09-01 01:18] LukeBolly commented on #51653
What do you have so far? I don't have much time at the moment so I can't write the repro for you, but the gist of the error is that backpropagating through a list of scalars should trigger it.

[2021-09-01 01:29] zpcalan commented on #51768
https://stackoverflow.com/questions/56663388/tensorboard-errortrace-already-enabled-how-to-solve
I refer to the link above and I pass `profile_batch = 100000000` to the tensorboard callback and solve this issue.
Anyway, issue closed.

[2021-09-01 01:29] #51768 closed

[2021-09-01 02:00] zpcalan opened #51778 "When I check the TensorBoard for a Worker of ParameterServer traning, I can't see any send/recv or push/pull op to the PS? Is this normal?"
Hi, developers of tensorflow.
The environment, code are listed below:

TF version: nightly
OS: ubuntu16.04
cuda: 11.0

Worker code:

[code]

The graph of tensorboard:

![graph](https://user-images.githubusercontent.com/14342657/131599322-5e9ca91b-c49c-4a2c-9f79-171cb828c321.PNG)

I can't confirm whether this Worker process is interacting with PS to update the parameters in each step.
Are the commu

[2021-09-01 02:16] wenjingyang commented on #51692
My concern is that why it isn't CONV1D in tflite.  We can see a lot of reshape/expandim inside. Anyway, it could work. Thanks.

[2021-09-01 02:23] mohantym commented on #51768
Hi @zpcalan ,  look at this [comment](https://github.com/tensorflow/tensorboard/issues/2819#issuecomment-572678589) too. For further queries ,Raise an issue in [Tensorboard ](https://github.com/tensorflow/tensorboard)Repository. Thanks!

[2021-09-01 02:29] zpcalan commented on #51768
Thanks for your reply! I've fixed this issue using the method in the comment.
Now I have another question. Please check this [issue](https://github.com/tensorflow/tensorflow/issues/51778).

[2021-09-01 03:13] mohantym commented on #51774
Hi @jimcost , Could you also provide the complete code which will help us to expedite the issue?

[2021-09-01 03:15] mohantym commented on #51746
Hi @sanatmpa1 ,Could you please look into this issue?

[2021-09-01 03:29] mohantym commented on #51750
Hi @Saduf2019 ,Could you please look into this issue?

[2021-09-01 03:54] starboyvarun commented on #51744
@sanatmpa1  solve the issue or assign someone else

[2021-09-01 04:02] davzaman commented on #40366
I'm getting this error with tf.keras.metrics.CategoricalAccuracy() (which inherits from Mean) when using MirroredStrategy

OS Ubuntu 18.04.5
TF 2.4.1
Python 3.8.3
CUDA 11.0

[2021-09-01 06:05] #51535 closed

[2021-09-01 06:26] sushreebarsa commented on #51773
@monajalal Could you please refer to the [link](https://pytorch.org/tutorials/recipes/recipes/tensorboard_with_pytorch.html),[link1 ](https://www.tensorflow.org/tensorboard/get_started?hl=en)and let us know if it helps?Thanks!

[2021-09-01 06:36] sushreebarsa commented on #51776
@KumaTea Could you please have a look at the similar [issue](https://github.com/python/typed_ast/issues/156) and [link](https://www.workaround.cz/howto-build-compile-install-latest-python-37-38-39-centos-7-8/).Please let us know if it helps?Thank you!

[2021-09-01 06:36] sanatmpa1 commented on #51744
@starboyvarun,

Can you share your code as colab gist for us to take a look? I am not able to access the colab link that you posted in #51745.

[2021-09-01 07:07] AIWintermuteAI commented on #51750
Having the same issue. Building Tensorflow Lite pip package on Ubuntu 20.04 with
sudo CI_DOCKER_EXTRA_PARAMS="-e CI_BUILD_PYTHON=python3.7 -e CROSSTOOL_PYTHON_INCLUDE_PATH=/usr/include/python3.7"   tensorflow/tools/ci_build/ci_build.sh PI-PYTHON37   tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh aarch64

Here is the output:
[code]
Commits tried:
18794fe8889572b91cee62184ad3e71ef

[2021-09-01 07:19] piisku78 commented on #43073
I am using the latest TF 2.5 and the problem still exists. @sushreebarsa could you re-open this and check the issue, thanks.

[2021-09-01 07:40] sanatmpa1 commented on #51499
@muxamilian,

Thanks for confirming. I can infer that its not an issue from the tensorflow end and mostly related to tensorflow-metal plugin, can you try posting your question on this [forum](https://developer.apple.com/forums/tags/tensorflow-metal/)? Thanks!

[2021-09-01 07:44] sanatmpa1 commented on #45405
@UltraBlackLinux,

Can you try installing the latest stable version of tensorflow i.e `2.6.0` and lets us know if the issue still persists? You can follow this [guide](https://www.tensorflow.org/install/source#tested_build_configurations) to build from source. Thanks!

[2021-09-01 07:54] sanatmpa1 commented on #45290
@lxiao217,

Can you update to the latest stable version i.e `2.6.0` and let us know if the issue still persists? Thanks!

[2021-09-01 07:56] sushreebarsa commented on #51770
@kun-lu20 Could you please refer to the similar issues [link](https://github.com/tensorflow/tensorflow/issues/17587), [link1](https://github.com/tensorflow/tensorflow/issues/20014) and let us know if it helps ?Thank you!

[2021-09-01 08:05] #51525 closed

[2021-09-01 08:07] WillLiGitHub commented on #44659
i have same error:
    TfLiteGpuDelegate Prepare: Add does not support HWC constant tensor
but there is not add ops for 3 dims.
![image](https://user-images.githubusercontent.com/26035529/131635786-9269f24c-929e-47a9-94fb-e26815125f26.png)