[2016-09-28 09:44] OscarDPan commented on #4576
I think it should be "... and ~~not~~ name_or_scope is None".
PR is up:
https://github.com/tensorflow/tensorflow/pull/4619

[2016-09-28 09:53] estebanbouza commented on #4469
@mattdns100689 I'm having the same issue. Do you have the link to stackoverflow?

[2016-09-28 09:57] mattdns100689 commented on #4469
@estebanbouza http://stackoverflow.com/questions/39685176/tensor-flow-mac-gpu-installation

[2016-09-28 09:59] #4463 closed

[2016-09-28 10:01] hholst80 commented on #4455
Anything new on this? We're completely trashing our AWS instances right now with load averages in the 3 digit range for TF distributed running on 16 docker processes on the same machine. Being able to limit the number of computational threads seems to be essential for us.

[2016-09-28 10:06] OscarDPan opened #4622 "Contributing to TF"
My apology if I am posting this in a wrong place.
I was wondering if I have a valid bug fix or improvement to TF, and I want to test it before submitting a PR, what's the fastest way of doing it?
I usually use
[code]
to re-set up TF but it always takes too much time.
Thanks

[2016-09-28 10:17] haosdent commented on #4165
hi, @jiqiujia @martinwicke Sorry to ping you. A naive question, how could I reproduce this warning.
I run

[code]

in CentOS 7 and could not find this warning.

[2016-09-28 10:39] standy66 commented on #2146
+1 It would be much appreciated to see GPU implementation of connectionist temporal classification loss in Tensorflow.

[2016-09-28 10:45] grayscaler opened #4623 "examples/image_retraining examples/android"
hi guys:
i want to use a retraining model on the android device, and i moved the model.pb(retraining Inception v3 model ) and label.txt(containing two labels) to the examples/android/assets, but i got some problem as the figure.

(09-28 18:37:11.572 21326-21351/org.tensorflow.demo E/native: tensorflow_inference_jni.cc:160 Output [output:0] not found, aborting!)

Is there any document which explain

[2016-09-28 11:10] barty777 opened #4624 "Meta Graph Import not working when used with outputs_collections"
### OS info

[code]
### Cuda Version:

[code]
### Tensorflow pip version:

https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0-cp34-cp34m-linux_x86_64.whl
### Python `tensorflow.__version__` output

[code]
### Minimal Reproducible code

[code]
### Description

Code above will crash the program with the following stack trace:

[code]

However, if I create _outputs_collections_ wit

[2016-09-28 11:35] akors commented on #4058
@davidzchen @martinwicke
I'm not quite sure why this issue (and all other issues) has been closed, because the problem still clearly persists, even in the latest HEAD.

In case you have trouble reproducing, here's a reminder:

1) Install Ubuntu 16.04.1 LTS
2) Install the CUDA Toolkit version 8.0
3) Prepare compiler:
[code]

4) Install bazel

5)
[code]

Should I create yet another GitHub Issue that

[2016-09-28 11:49] martinwicke commented on #4375
We have not made such a books section since we would have trouble
maintaining it, and making sure that it's reasonably up to date.

There are many books on TensorFlow already and we haven't read any so we
think it would be somewhat inappropriate to endorse some of them.
On Wed, Sep 28, 2016 at 02:34 Packt <notifications@github.com> wrote:

[2016-09-28 11:55] martinwicke commented on #3856
Can we publish the instructions how to build the custom protobuf whl? Then
Ye (and anyone else) can rebuild it on whatever system they like.
On Wed, Sep 28, 2016 at 01:52 gunan <notifications@github.com> wrote:

[2016-09-28 11:55] cswhjiang commented on #762
Hi @jeandut  , I am trying to instal TF from source without internet access now. Could you tell me how to replace git repos by local repos?

[2016-09-28 12:04] jeandut commented on #762
@cswhjiang see [#587](https://github.com/bazelbuild/bazel/issues/587) issue on bazel repo.

[2016-09-28 12:06] hughperkins commented on #22
Hmmm, thats interesting.  "interesting".  in a not-good way.  If I add some templated stuff, like:
[code]
... in the IR, the calls to the methods come out ok:
[code]
... but the functions are never actually defined, I just get:
[code]
Ummm....

[2016-09-28 12:22] simon789 commented on #3919
vasantivmahajan - I have taken a guess and posted it at the original link.

[2016-09-28 12:25] simon789 commented on #3919
one other thing...once I corrected my script I had to delete the model directory as it had been corrupted by the early termination of the programme. If you dont, you may get another error message.

[2016-09-28 12:29] akors commented on #4089
Thanks a lot!

[2016-09-28 12:34] agrawalnishant commented on #4278
Hi @haosdent , please go ahead. Thank you!

[2016-09-28 12:40] vinhqdang commented on #2940
I confirmed comment of @xuanchien . So a simple solution. Worked on my MBP 2014 (nvidia 750M) with Mac OS 10.12

[2016-09-28 12:56] vinhqdang opened #4626 "TensorFlow 0.10.0rc fails to detects CUDA device on my Macbook Pro (with nvidia 750M graphic card)"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-28 13:02] leocnj commented on #2940
Thanks. I applied the same trick and now my TF on python 2.7 on OSX 10.11.5 works.

[2016-09-28 13:22] haosdent commented on #4278
Oh, I saw it fixed at https://github.com/tensorflow/tensorflow/pull/4351/files cc @aselle

[2016-09-28 13:34] tobegit3hub commented on #3052
Hi @yaroslavvb . The [link](http://ci.tensorflow.org/view/Nightly/job/nigntly-matrix-linux-gpu/TF_BUILD_CONTAINER_TYPE=GPU,TF_BUILD_IS_OPT=OPT,TF_BUILD_IS_PIP=PIP,TF_BUILD_PYTHON_VERSION=PYTHON2,label=gpu-linux/143/artifact/pip_test/whl/tensorflow-0.8.0-cp27-none-linux_x86_64.whl) of your package is 404 now.

Can you provide another package for cuda 8.0? We would like to test with Tesla M40 and cu

[2016-09-28 14:04] oakkas commented on #2437
I am having same issue: I am having same issue and tried everything.
E tensorflow/stream_executor/cuda/cuda_dnn.cc:347] Loaded runtime CuDNN library: 5004 (compatibility version 5000) but source was compiled with 5103 (compatibility version 5100).  If using a binary install, upgrade your CuDNN library to match.  If building from sources, make sure the library loaded at runtime matches a compatible

[2016-09-28 14:04] oakkas commented on #3225
I am having same issue: I am having same issue and tried everything.
E tensorflow/stream_executor/cuda/cuda_dnn.cc:347] Loaded runtime CuDNN library: 5004 (compatibility version 5000) but source was compiled with 5103 (compatibility version 5100). If using a binary install, upgrade your CuDNN library to match. If building from sources, make sure the library loaded at runtime matches a compatible v

[2016-09-28 14:11] patrickbreen commented on #4574
tensorflow/tensorflow/models/rnn/translate/translate.py

[2016-09-28 14:53] tusharsoni08 opened #4628 "Compiled static library has different name than given in README.md"
At url: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile in Building on Linux section of README.md file, when we run `tensorflow/contrib/makefile/build_all_linux.sh` command, then the build file name written as following :
"This should compile a static library in `tensorflow/contrib/makefile/gen/lib/tf_lib.a` "

But when I tried to run `tensorflow/contrib/makefile/b

[2016-09-28 15:24] DavidNorman opened #4629 "C++ ShapeInference / ShapeRefiner use without PlaceHolder/ConstantOp support"
The ShapeInference for C++ engine doesn't support the PlaceholderOp.  Is this because it isn't finished, or am I missing something?

It seems to be that you can't add a node to the shape inference engine without having added its dependencies.  Since ConsantOp and PlaceholderOp do not have a shape inference functions, I don't understand how the ShapeRefiner can have any nodes added to it.

[2016-09-28 15:43] yaroslavvb commented on #3052
That was link for cuda 7.5 version, you have to build from source if you
want 8

On Sep 28, 2016 6:34 AM, "tobe" <notifications@github.com> wrote:

[2016-09-28 15:45] yaroslavvb commented on #4455
Have you tried using config option in Server?

On Sep 28, 2016 3:01 AM, "Henrik Holst" <notifications@github.com> wrote:

[2016-09-28 15:46] lukeiwanski commented on #22
@hughperkins We are working on bringing the OpenCL to the TensorFlow via the SYCL for OpenCL 1.2.
Please have a look at https://docs.google.com/spreadsheets/d/1YbHn7dAFPPG_PgTtgCJlWhMGorUPYsF681TsZ4Y4LP0/edit#gid=1625897530 for "todos" and progress.
Recently we released a compiler for SYCL https://www.codeplay.com/products/computesuite/computecpp called ComputeCpp Comunity Edition. People can try

[2016-09-28 16:08] phvu commented on #4296
PR is submitted: https://github.com/tensorflow/tensorflow/pull/4631
Comments and suggestions will be appreciated.

[2016-09-28 16:35] ascenator commented on #22
@lukeiwanski Sorry for discussing/asking this here in the thread, but I think it may be of interest to others as well: I understand that Codeplay is highly interested in the SYCL for OpenCL implementation and I already heard others being interested in work you, too. I read some post by a Movidius official for example. However, I would like to ask what Google's contribution to this really is? Since

[2016-09-28 17:16] el3ment opened #4632 "Random Uniform distribution cannot have Batch as a dimension"
`tf.random_uniform((None, 10))`
Results in an error
TypeError: Expected binary or unicode string, got (None, 10)

Likewise
`tf.random_uniform((-1, 10))`
Results in an error
ValueError: Dimension -1 must be >= 0

Although you could pass the random matrix in as a placeholder, this is awkward..

[2016-09-28 17:35] aselle commented on #4516
I have no immediate plans to deprecate tf.slice(). I think we should update the documentation, but I'm not sure we should deprecate it even in 1.0.

[2016-09-28 17:37] dmcmorris commented on #37
Found this while looking into wether or not bindings existed already.  Going to learn some tensor flow via the current python API before researching more, but I have built nodejs bindings for C++ libs before and can tell you from experience that swig is the wrong way.

If you simply use the swig bindings then you will have synchronous blocking code in an async environment.  The swig bindings do no

[2016-09-28 17:39] zheng-xq commented on #2437
@oakkas, the issue was that your code was compiled with Cudnn 5.1, but the loaded Cudnn library was 5.0. They might not be completely binary compatible. That is why stream-executor complains.

Do you have multiple Cudnn library installed on your machine? Please make sure the one you pointed out to with "configure" is the one that is actually loaded. You can set LD_LIBRARY_PATH to manually make sur

[2016-09-28 18:22] #4576 closed

[2016-09-28 18:41] gunan commented on #3856
That's a good idea :)
Let me share them here first:

All the instructions are in line with here, please see the page for all the prerequisites:
https://github.com/google/protobuf/blob/master/src/README.md

Then I tried to run the following commands:
git clone https://github.com/google/protobuf.git
cd protobuf
./autogen.sh
CXXFLAGS="-fPIC -g -O2" ./configure
make -j12
export PROTOC=$PWD/src/protoc

[2016-09-28 18:55] andrewharp commented on #4623
See the comments in [TensorFlowImageListener.java](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/android/src/org/tensorflow/demo/TensorFlowImageListener.java) for instructions on updating the model parameters.

You will also need to run strip_unused.py to remove some of the ops unsupported by Android TF that were for training (e.g. DecodeJpeg):
[code]

[2016-09-28 19:01] martinwicke commented on #3856
Let's publish this, possibly inline in the os_setup.md document, to be
reorganized soon to be more friendly to beginners.

On Wed, Sep 28, 2016 at 11:43 AM, gunan <notifications@github.com> wrote:

[2016-09-28 19:01] ye commented on #3856
@martinwicke @gunan great thanks. I will give the instruction a run today.

[2016-09-28 19:09] ye commented on #3856
Following @gunan 's guide step by step to build `protobuf-3.0.2-cp34-cp34m-macosx_10_10_x86_64.whl` wheel package locally on my Mac, and it works like a charm!

Thank you guys!

[code]

[2016-09-28 19:15] abidmalik1967 opened #4635 "Performance and memory usage improvements"
Is the tensorflow computational graph a good working unit for scaling the performance? Do we need an another layer of Data Flow that can help do the resource management efficiently?

[2016-09-28 19:26] andrewharp commented on #4586
https://github.com/tensorflow/tensorflow/commit/7f648692df34679d299093391bac45ed789d09ba adds contrib/android/java to the src dir list, so this should now work automatically.

[2016-09-28 19:26] #4586 closed

[2016-09-28 19:53] abidmalik1967 commented on #4635
I am doing a deep analysis of tensorflow under different ML algorithms and computing frameworks. The goal is to understand the performance bottlenecks under different environments.  I asked the previous question in this context.

[2016-09-28 19:55] petewarden commented on #3480
I've got a tutorial explaining how to get this running up at https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/ now, so I'm going to close this bug. Please open new bugs if there are issues with the process. Thanks @jeffxtang for your work on this too!

[2016-09-28 19:55] #3480 closed

[2016-09-28 19:56] petewarden commented on #3446
I've got an example of how to successfully load and run a retrained model here:
https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/

I'm going to close this bug, since I believe it's fixed now, please reopen if you're still hitting problems.

[2016-09-28 19:56] #3446 closed

[2016-09-28 19:59] petewarden commented on #3352
I've got a new tutorial up at https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/ that shows how to process the retrained model to avoid memory issues and run successfully. I'm hoping this solves these problems, so I'm closing this bug. Please re-open if you aren't able to get around the original issue with this approach.

[2016-09-28 19:59] #3352 closed

[2016-09-28 20:00] petewarden commented on #2927
I'm hopeful that these issues are solved with the new approach documented here:
https://petewarden.com/2016/09/27/tensorflow-for-mobile-poets/

I'm closing this bug, but please reopen if you're still seeing the same issue.

[2016-09-28 20:00] #2927 closed

[2016-09-28 20:03] petewarden commented on #3251
Sorry for the long delay on this one. I've made some changes to the Pi building process and this seems to be working generally now. Can you let me know if you're still hitting problems?

[2016-09-28 20:04] petewarden commented on #3262
Can you try this again using the new tensorflow/contrib/makefile/build_all_ios.sh script? I believe this should now fix this issue.

[2016-09-28 20:06] petewarden commented on #3289
Unfortunately I haven't been able to reproduce this problem locally. Is it still occurring for you @wfs and @Sundy1219 ?

[2016-09-28 20:06] petewarden commented on #3308
Thanks for the update. Since this seems resolved, closing this issue.

[2016-09-28 20:06] #3308 closed

[2016-09-28 20:09] petewarden commented on #3358
Are you still hitting this error @gorBaghdasaryan ? Can you send me a link to a graphdef .pb file that I can try loading if so?

[2016-09-28 20:10] petewarden commented on #3429
It sounds like this one has been solved, so closing.

[2016-09-28 20:10] #3429 closed

[2016-09-28 20:13] petewarden commented on #3496
Since there's not been an update for a while, closing this issue. Please reopen if you're still having problems.

[2016-09-28 20:13] #3496 closed

[2016-09-28 20:14] petewarden commented on #3524
I believe I've fixed this now, with the addition of zlib to the linking stage of the OS X part of the iOS build. Closing for now, but please reopen if you're still hitting issues.

[2016-09-28 20:14] #3524 closed

[2016-09-28 20:17] petewarden commented on #3543
Sorry for the long delay on this one. We only support a limited number of ops by default on iOS, to keep the binary size small, but you can add your own to the list by including them locally in this file:
https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/makefile/tf_op_files.txt

In this case you'll want to add `tensorflow/core/kernels/gather_op.cc`. Can you let me know if th

[2016-09-28 20:19] andrewharp commented on #3444
Just to followup on this, there is now a build.gradle for the Android demo that will automate most of this if you just add the tensorflow/examples/android dir as an existing AS project. You'll still need to have Bazel installed, though.

[2016-09-28 20:19] petewarden commented on #4073
I believe I've got this fixed now in the latest code. Can you give this a try and let me know?

[2016-09-28 20:20] petewarden commented on #4075
I've updated the makefile to include a build_all_linux.sh script that compiles the protobuf locally, rather than using the system-installed version. I believe this should fix this problem you're hitting, can you give it a try and let me know?

[2016-09-28 20:22] petewarden commented on #4172
Thanks for the PR @ic! Closing since this appears to be fixed.

[2016-09-28 20:22] #4172 closed

[2016-09-28 20:29] benoitsteiner commented on #22
@ascenator We at Google have been working closely with Luke and his Codeplay colleagues on this project for almost 12 months now. Codeplay's contribution to this effort has been tremendous, so we felt that we should let them take the lead when it comes down to communicating updates related to OpenCL. This is why you haven't heard much from us on the topic :)

Now that the ComputeCpp compiler is br

[2016-09-28 20:38] KevinAyuque commented on #4073
Now I get the error

`/Users/Kevin/Developer/tensorflow/third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1:10: 'unsupported/Eigen/CXX11/Tensor' file not found `

on

`#include "unsupported/Eigen/CXX11/Tensor"`

[2016-09-28 20:44] qweelar opened #4636 "tf.contrib.learn Quickstart: float64 Warning"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-28 21:11] ascenator commented on #22
@benoitsteiner thank you very much for the clarification & sorry for my misinformation! This sounds very good & promising! I will definitely have a look at ComputeCpp then. I am really looking forward to OpenCL support for TensorFlow, because this offers a lot of new possiblities for robotics (which is the field where I am researching and using TensorFlow for deep learning applications). I will at

[2016-09-28 21:16] aselle opened #4638 "Implement advanced indexing (and mixed basic/advanced)"
NumPy style advanced indexing is documented here http://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#advanced-indexing

We currently support basic indexing http://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#basic-slicing-and-indexing
using StridedSlice.

e.g.

foo = Some tensor
idx1=[1,2,3]
idx2=[3,4,5]
foo[idx1, idx2, 3]

[2016-09-28 21:17] aselle commented on #4638
Broken off of #206

[2016-09-28 21:18] aselle opened #4639 "Implement NumPy style boolean indexing"
See NumPy's documentation
http://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#boolean-array-indexing

We currently support basic indexing http://docs.scipy.org/doc/numpy/reference/arrays.indexing.html#basic-slicing-and-indexing.

Broken off of #206.

[2016-09-28 21:19] aselle commented on #206
Closing this issue. As of 0.10 improved basic indexing and sliced assignment is available. Advanced, mixed advanced and basic, as well as boolean slicing still need implementation. See #4638 and #4639.

[2016-09-28 21:19] #206 closed

[2016-09-28 21:31] shoyer commented on #4638
I mentioned this in #206, but I wanted to remind again that mixed indexing with slices/arrays has some really [strange/unpredictable behavior](https://github.com/tensorflow/tensorflow/issues/206#issuecomment-221439797) for the order of result axes in NumPy. So it might be better to hold off on implementing that in TensorFlow until we're sure we're doing it right.

[2016-09-28 21:40] jeffxtang commented on #3480
Great tutorial @petewarden! I noticed you use `optimize_for_inference` instead of `strip_unused` and also `convert_graphdef_memmapped_format` - is this the recommended way now? Since TensorFlow 0.10.0? Thanks!

[2016-09-28 21:44] petewarden commented on #3480
Yes, those are the recommended approaches. I'm working on a general description of the process, I'll email you a draft.

[2016-09-28 21:44] jeffxtang commented on #2927
Thanks @petewarden. For a relatively old approach but one that works for me in building an iOS app published in App Store, please take a look at my blog documenting the whole process of using a retrained, stripped and quantized inception v3 model at http://jeffxtang.github.io

[2016-09-28 21:56] concretevitamin commented on #4622
Could you try to just build & test the relevant test targets?

For instance:

[code]

I am not sure if this works in OSS world or not.  If not, when building `build_pip_package` feel free to drop the `-c opt` to improve build times.

[2016-09-28 21:59] lukaszkaiser commented on #4574
Please assign to someone with more build expertise, that's not me.

[2016-09-28 22:03] concretevitamin commented on #4574
@lukaszkaiser - oh right, I blindly assigned based on the prefix `tf/models/rnn` :)  Re-assigning to @gunan.

[2016-09-28 22:08] concretevitamin commented on #4635
I don't understand what it is you're asking -- could you narrow down the scope, and rephrase, please?

[2016-09-28 22:09] aselle commented on #4638
Yes, I am aware of how the mixed advanced/basic indexing is super nonintuitive. I could break the mixed indexing into its own issue.

[2016-09-28 22:13] derekshi opened #4640 "Building TensorFlow for iOS failed on macOS Sierra and xCode 8.0"
When running `compile_ios_protobuf.sh`, it says:
checking whether we are cross compiling... configure: error: in '.../tensorflow/tensorflow/contrib/makefile/downloads/protobuf':
configure: error: cannot run C compiled programs.
If you meant to cross compile, use `--host'.
See`config.log' for more details

[2016-09-28 22:21] amolchanov86 commented on #3028
What did you compare to ? Did you compare to original dense multiplication
(without sparsity flags) ?
PS: btw, there is matmultiplication of dense on sparse tensors instead of
embedding_lookup
tf.sparse_tensor_dense_matmul
<https://www.tensorflow.org/versions/r0.10/api_docs/python/sparse_ops.html#sparse_tensor_dense_matmul>

On 27 September 2016 at 01:41, Young H. Oh <notifications@github.com> wro

[2016-09-28 22:27] gunan commented on #4574
It is possible we omit models on purpose.
@martinwicke Could you confirm?

[2016-09-28 22:43] concretevitamin commented on #4592
I did not confirm this myself, but could it be that this model is basically fully trained within 1000 steps?  If this is the case, continue training may or may not lead to NaNs.  Please confirm.

[2016-09-28 22:44] abidmalik1967 commented on #4635
I can rephrase the question. Do you think the tensorflow computational graphs are good enough to manage  resource efficiently? My current understanding is that it is not. I put this question to get second opinion from the tensorflow community. May be someone has strong argument/proof of work to negate my understanding.

[2016-09-28 22:46] concretevitamin commented on #4577
Please fill out the question template when you click on "New issue"  --- this will help us a lot in figuring out what the issue is.

[2016-09-28 22:50] vrv commented on #4592
I think mnist_with_summaries prior to r0.11 had bugs.  If you are using mnist_with_summaries.py at HEAD, they might be fixed.  I wouldn't use mnist_with_summaries.py for anything real -- the point was to demonstrate how to attach summaries to a model.

[2016-09-28 22:51] concretevitamin commented on #4640
@satok16 - can you take a look?  Thanks.

[2016-09-28 22:59] satok16 commented on #4640
Ok, first of all, I need to find a mac running Sierra.

[2016-09-28 23:15] kavasseri opened #4641 "bazel build succeeds, but bazel-mobile install fails"
The build succeeds on OS 10.11.6, with bazel version 0.3.1-homebrew. However, the bazel mobile-install fails. This is not a TensorFlow capitalization problem or a camera permissions issue!
Thanks ||

bazel mobile-install //tensorflow/examples/android:tensorflow_demo --verbose_failures
The main error is listed below:
---------------------
ERROR: /private/var/tmp/_bazel_kg/16cb3f28d531847b42ceb66089

[2016-09-28 23:22] aidan-plenert-macdonald commented on #4359
@DavidNorman
You were looking at the difference between DeviceContexts and Devices. I am debating between having Device represent actual hardware with several DeviceContext's that control virtual compute nodes (my device can allocate compute resources dynamically) which would each handle a vertex in my TF compute graph (I will use node to indicate hardware and vertex for TF operations). My concern

[2016-09-28 23:26] concretevitamin commented on #4640
TensorFlow doesn't officially support Sierra, I think.  Marking this as contributions welcome.

[2016-09-28 23:26] hughperkins commented on #22
I have no opinion on the viability of the sycl/spir-v approach.  I think that medium/long term, a cuda-free approach is probably good.  In the short-term, I think it is less clear that being able to compile arbitrary cuda programs into opencl has no utility . I think it's an avenue that oculd be worht pursuing.  I think this can take place in parallel with the work on sycl being carried out by cod

[2016-09-28 23:28] concretevitamin commented on #4635
I don't know what "resource" specifically refers to in this context.  Feel free to email me if you have a writeup / report to share, and I can discuss it with the team.  For discussions of this nature, I'd suggest to use the [mailing list](https://groups.google.com/a/tensorflow.org/forum/#!forum/discuss) instead of Github, which is for issues and bugs.

Thanks!

[2016-09-28 23:28] #4635 closed

[2016-09-28 23:35] andrewharp commented on #4641
My guess is that incremental_install.py is a python2 script, but you are using python3, and the automatic conversion is failing. Does it work if you use python2 instead?

If you run:
`bazel-out/host/bin/external/bazel_tools/tools/python/2to3 --no-diffs --nobackups --write --output-dir bazel-out/host/genfiles/python3/external/bazel_tools/tools/android --write-unchanged-files external/bazel_tools/to

[2016-09-28 23:39] concretevitamin commented on #4616
@drpngx - Can you take a look at this?  Thanks.

[2016-09-28 23:42] concretevitamin commented on #4611
I doubt we'll ever get to this -- Allocator is really an internal implementation detail, and subject to changes.  For now, sources -- and associated unit tests -- are your best bet.

[2016-09-28 23:42] #4611 closed

[2016-09-28 23:44] concretevitamin commented on #4579
Looks like you should file it against Keras.  Feel free to reopen if you have a minimum repro program that shows this is a TF bug.

[2016-09-28 23:44] #4579 closed

[2016-09-28 23:46] vrv commented on #4616
We probably want to have them access our code via tf.cond, I've commented on that other bug.  importing the internal module is bypassing the public interface, sadly.

[2016-09-28 23:46] #4616 closed

[2016-09-28 23:48] yaroslavvb commented on #4638
idx1/idx2 in your example could be Tensor objects, right?

[2016-09-28 23:55] yaroslavvb commented on #3052
BTW, CUDA 8.0 has been officially released

[2016-09-28 23:56] shkr commented on #1501
Where is the new issue posted ?

[2016-09-29 00:00] kavasseri commented on #4641
Andre - thanks much for the kind note. Running the command you suggested

"bazel-out/host/bin/external/bazel_tools/tools/python/2to3 --no-diffs --nobackups --write --output-dir bazel-out/host/genfiles/python3/external/bazel_tools/tools/android --write-unchanged-files external/bazel_tools/tools/android/incremental_install.py"
does not return anything.

I also forgot to add that  the "adb install.."

[2016-09-29 00:01] vrv commented on #4359
@aidan-plenert-macdonald: Typically an Allocator manages the memory for an entire device.

In the GPU case, there is one allocator for each GPU device, but a GPU device has hundreds to thousands of "cores", each which has access to the global memory that the allocator is responsible for allocating, and programs are responsible for setting properly.  CUDA has ways in its programming model to additi

[2016-09-29 00:06] vrv commented on #3052
Cool!  https://github.com/nvidia/nvidia-docker hasn't yet been updated with the next version, which is what we use in our CI to build the releases.

@3XX0, @benbarsdell -- do you have an ETA when this will be done?

(We just minted r0.11,  so this will probably be part of r0.12).

[2016-09-29 00:16] abidmalik1967 commented on #4635
By "resource", I mean memory and core management etc.

[2016-09-29 00:19] andrewharp commented on #4641
What is the runtime error you're seeing? Have you added the model and label files to tensorflow/examples/android/assets/?

[2016-09-29 00:21] sonalgupta commented on #206
@aselle This issue was closed but the question of when will the gradient for gather_nd be added is still not answered.

[2016-09-29 00:21] hughperkins commented on #22
Single-source compile demo working :-)

Basically, clang/llvm alrady handles this for us, so no further work required on our part.

For the opencl generation, we:
- use clang with `--cuda-device-only`, to generate IR
- then use [cuda-ir-to-opencl](https://github.com/hughperkins/cuda-ir-to-opencl) on this ir to get opencl

For the hostside generation, we simply compile using `--cuda-host-only` :-)

[2016-09-29 00:24] 3XX0 commented on #3052
Yes sorry for that, we need approval and QA the new images before publishing them, this might take a while.

[2016-09-29 00:55] cauchyturing opened #4643 "Inf/Nan in MSE/CE with very simple demo"
Hi there,

I would use a very simple LSTM demo with only forward without any BP tuning to clear the question. I pass one random batch of size (2,2,3) to a rnn_cell.LSTMcell, using 100 hidden layer, and output the mse/ce between the output and the last time step (:, -1, :). What strike me is the both the SE/CE are very strange (too large or even inf).

Below is my code.

[code]

The outputs are:

[

[2016-09-29 00:57] kavasseri commented on #4641
Yes, Andrew. I have the model and label (*.txt) files in the assets directory. I am starting over again and will let you know the outcome. Thanks so much! ||

[2016-09-29 01:02] mrry commented on #4632
The `shape` argument to `tf.random_uniform()` can be any arbitrary 1-D tensor, so you can use a `tf.placeholder()` as the shape (or for some component of the shape):

[code]

[2016-09-29 01:02] #4632 closed

[2016-09-29 01:04] mrry commented on #4582
Agreed, this doesn't seem like a TensorFlow-specific issue, so I'm going to close it.

[2016-09-29 01:04] #4582 closed

[2016-09-29 01:16] kavasseri commented on #4641
Andrew, I started over and the adb install works fine now. Perhaps I was missing the labels (*.txt) file. I am sorry for the inconvenience and will close the issue. Also, thank you so much for your help in resolving this. ||

[2016-09-29 01:16] #4641 closed

[2016-09-29 01:23] leocnj commented on #916
Using the trick suggested by @jmugan - "I changed the device to cpu in .theanorc, and now it works.", I can use either tensorflow or theano to be keras's backend to run the same python script.

[2016-09-29 01:40] philoniare commented on #20
I have just installed CUDA v8 and the issue still persists. I got the following error:
[code]
In case anyone else encounters the same issue, the solution is to create symlink.
1. Go to the cuda directory: `cd /usr/local/cuda/lib64`
2. Create the symlink: `sudo ln -s libcudart.so libcudart.so.7.5`
Then, you'll be able to import tensorflow. To check if it is using the GPU, try running:
[code]

[2016-09-29 01:58] cauchyturing commented on #4643
After upgrade to version 0.10.0rc0,  this would not happen again... I would close this issue.

[2016-09-29 01:58] #4643 closed

[2016-09-29 03:18] derekshi commented on #4640
I think it's not about running on Sierra. It's built on Sierra but running for iOS.

[2016-09-29 03:41] Karl-Krauth commented on #4600
Thanks for the reply @concretevitamin :)

I'm not entirely sure a complex scheduling policy would be needed in this case. Wouldn't it be enough to just compute the gradient from each iteration individually and then incrementally build up the overall gradient of `foldl`? This would be similar to the way I imagine the actual value of `foldl` is currently computed.

Also do you happen to know of any

[2016-09-29 03:50] grayscaler commented on #4623
it worked, thanks for your help and time.

[2016-09-29 06:01] ashern opened #4648 "tf.contrib.learn.estimator each call to predict() reloads the model"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
None

### Environment info
Operating System:
OSX & Ubuntu 14.04

### If possible, provide a minimal reproducible example - Explanation

Each call to estimator.predict() completely reloads the model, which is very slow. Is there any mechanism to maintain the model in GPU/memory for consecut

[2016-09-29 06:24] derekshi commented on #4640
Actually I can run tensorflow on Sierra using python api without any issues.

[2016-09-29 07:27] asimshankar commented on #4629
Both the [Placeholder](https://github.com/tensorflow/tensorflow/blob/38adca7ebb40b8cd56b841af2f6b8a44c71f2a82/tensorflow/core/ops/array_ops.cc#L2359) and [Const](https://github.com/tensorflow/tensorflow/blob/38adca7ebb40b8cd56b841af2f6b8a44c71f2a82/tensorflow/core/ops/array_ops.cc#L335) ops do have shape inference functions registered. Thus, they can be added to the ShapeRefiner.

Closing this iss

[2016-09-29 07:27] #4629 closed

[2016-09-29 07:36] hholst80 commented on #4455
@yaroslavvb This is why they pay you the big bucks (hopefully) ;-) Thank you for solving the problem- now we're down to 6 threads per worker which should be manageable for a modern CPU.

[2016-09-29 08:11] cswhjiang opened #4649 "build failed"
Build failed with
[code]
,but
[code]
 works. Any suggestions? Thanks

Here are the error messages:

[code]

CUDA 7.5
gcc -v
[code]

bazel version
[code]

output of `echo | gcc -E -xc++ - -v`:
[code]

[2016-09-29 08:35] kadafax commented on #4649
Same here also on centos 7. And I've tried with gcc 4.9 from SCL with same (bad) result.
Cuda 7.5 (/usr/local/cuda-7.5)
Cudnn 5.1.3 (which is installed in my home folder, as tell to th configure script)

[2016-09-29 08:50] tomx commented on #4640
Same issue here. Been trying all sorts of things to no avail.

[2016-09-29 09:24] DavidNorman commented on #4629
Hi.  I was mistaken.  I am making a new device and I am interested in knowing about the shape of tensors flowing through the device when the device is handed the graph (perhaps a better name is the subgraph).

In this graph, constants and placeholders have been replaced by _Recv nodes, which do not have shape inference functions - this lead to my mistake.

[2016-09-29 09:57] naibaf7 commented on #22
@hughperkins... sorry but isn't this completely off topic here? I don't see how this is relevant in OpenCL TF?

[2016-09-29 10:10] bhack commented on #22
I'm more interested here to know if will be taken a tuning approach matrix multiplication and convolution kernels and if will be a valid [open source alternative](https://github.com/amd/triSYCL/issues/16#issuecomment-243779140) to CompiteCpp that will produce SPIR-V.

[2016-09-29 10:36] tusharsoni08 opened #4650 "Could not create TensorFlow Graph: Not found: ~/graphs/inception/tensorflow_inception_graph.pb"
### Environment info
Operating System: Ubuntu 14.04

**URL:** https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#building-on-linux

I'm following the "Building on Linux", however all commands run fine, but when I've run this following command
`tensorflow/contrib/makefile/gen/bin/benchmark \
 --graph=~/graphs/inception/tensorflow_inception_graph.pb`

**Output** on term

[2016-09-29 10:36] passerbydj opened #4651 "Distributed tensorflow hangs"
I set up a distributed tensorflow according to the inception example(https://github.com/tensorflow/models/tree/master/inception/inception), with a very deep network.
During training(minutes or hours), it must run into hanging. No error occurs in ps or workers, but the cpu/gpu usage falls to zero and no any further steps are made.
If I replace the network with a much simpler one(much less variables

[2016-09-29 10:46] KingAndQueen opened #4652 "tensorflow running principle"
1. In tensorflow/python/ops/seq2seq_model.py  line 236 , we see the output_feed cosists of  self.updates and self.gradient_norms.
And the self.updates is not used in anywhere, I wonder if I can delete this from output_feed ?
2. How does the tensorflow run:  If a variable is not in its output_feed list, does tensorflow count this variable ?

[2016-09-29 10:53] TimZaman commented on #3628
Bump

[2016-09-29 10:59] cyrilP-qs opened #4653 "sysmalloc in session.run(tf.initialize_all_variables()) - cuda 8.0 + cudnn 5/5.1 + tensorflow 0.9/0.10"
Hi all
I recently bought a new Titan X Pascal, and needed to upgrade cuda from 7 to 8.
After updating cuda 7 + cudnn 4 + tensorflow 0.9 -> cuda 8 + cudnn 5 + tensorflow 0.10, my code which used to work fine now crashes with a segfault :

- with my GPUs on :

[code]
- if I restrict to 1 detected device with `os.environ['CUDA_VISIBLE_DEVICES'] = '1'`, it still crashes (with any of my 2 gpus) but wit

[2016-09-29 11:06] cyrilP-qs commented on #4653
The only thing I'm not sure of is
`ln -sf /usr/local/cuda/lib64/libcudart.so.8.0 /usr/local/cuda/lib64/libcudart.so.7.5`
which i do because otherwise I can't compile tensorflow...

[2016-09-29 11:12] chamas14 opened #4654 "expend the output of CNN"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-29 11:14] #4654 closed

[2016-09-29 12:00] StefOe commented on #4296
PR #4631 fixes the issue. Thank you!
Should I close this, or wait untill the PR is reviewed?

[2016-09-29 12:07] chamas14 opened #4655 "expend the output of CNN"
I am trying to expend the outputs of my network from 11 to 12 outputs, i have restored the previous checkpoint that is already retrained in 11 outputs. I got the answer from  here http://stackoverflow.com/questions/34913762/how-to-expand-a-tensorflow-variable in This question told me how to change the shape of the variable, to expand it to fit another row of weights, but I don't know if i initiali

[2016-09-29 12:47] devymex commented on #2559
Does anyone successed install TensorFlow with following combination?

- Ubuntu 16.04 (Just newly installed and apt upgraded)
- Nvidia Driver: nvidia-370 (sudo apt install nvidia-370)
- Bazel 0.3.1 (install from official package):

[code]

- gcc: 5.4.0 (default with 16.04)
- CUDA 8.0.44 (for GTX 1070, installed from official .run file without driver)

[code]

- cuDNN 5.1.5 (installed from official

[2016-09-29 13:16] leezu commented on #2559
@devymex I have the exact same problem (symptoms / errors), just on CentOS 7.2

[2016-09-29 13:33] devymex commented on #2559
@leezu I also try to edit the ./tensorflow/tools/baze.rc, commented the following line:
`build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain`
then run the building command and it began to compile, but after a while it stucked in another error:
[code]
I'm absolutely devastated.

[2016-09-29 13:36] patrickbreen commented on #4574
Yes it would seem like you omitted it from the pip release which would perhaps make sense because it's supposed to be run as a "main" ie its not part of a library. And I mean its no real problem for me to just get the file from "master" but the problem is that the translate.py file that I get from master may not be compatible with the release version that I installed via pip.

Do you see what I me

[2016-09-29 13:44] martinwicke commented on #4574
You can always get the files corresponding to the binary releases by
checking out the corresponding branch in the repo. Eg for the 0.10 release,
check out the r0.10 branch.
On Thu, Sep 29, 2016 at 09:38 patrickbreen <notifications@github.com> wrote:

[2016-09-29 13:49] sumitbinnani opened #4656 "Missing documentation"
Hi,

The documentation for tf.contrib.learn.LinearRegressor.weights_ is missing. Can you update what the values returned by the above param means?

Thank,
Sumit

[2016-09-29 14:40] arundasan91 commented on #4650
Hello,

You have to download the graph and label files as a zip file from (here)[https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip] and extract the contents to `~/graphs/inception/` folder since you are using the `--graph` flag as `--graph=~/graphs/inception/tensorflow_inception_graph.pb`.

[2016-09-29 15:03] frankhuang014 commented on #3008
Is there  any solution for tf.contrib.learn.TensorFlowRNNRegressor? It seems that TensorFlowRNNRegressor dose not have parameter "model_dir". Please help me. Thanks!

[2016-09-29 15:23] NoahDStein opened #4657 "arg_scope overwrite fails for positional arguments"
The code

[code]

raises

[code]

There is an easy workaround, namely changing `30` to `num_outputs=30` seems to work fine.  I'm not sure if this is easy to fix or was even intended to work.

[2016-09-29 15:39] cyrilP-qs commented on #4653
Ok, finally found out that I had to build tensorflow from sources to support cudnn 5.1
Once rebuilt, everything works fine.

[2016-09-29 15:39] #4653 closed

[2016-09-29 15:53] vrv commented on #4070
No specific plan, if anybody who has a TX1 and is interested in getting it to work wants to send a patch, we'd be ecstatic!

[2016-09-29 15:55] fabianbormann commented on #2169
I also try to [implement the DeconvNet](https://github.com/fabianbormann/Tensorflow-DeconvNet-Segmentation) described in [Learning Deconvolution Network for Semantic Segmentation](http://arxiv.org/pdf/1505.04366v1.pdf) and I'm very interested in a native method like `tf.max_unpool_with_argmax` too, but for now I want to share my python tf implementation ([example](https://github.com/fabianbormann/

[2016-09-29 16:14] ebrevdo commented on #4588
I can't replicate your error.  Are you using the most recent version of master?  Have you tried downloading a nightly?

These exact lines do not replicate the error for me:

[code]

[2016-09-29 16:18] cruvadom commented on #206
@sonalgupta You can use my workaround from a previous comment.

[2016-09-29 16:31] aidan-plenert-macdonald commented on #4359
@vrv I like the 8 bit option. I may run into problems with the 256 limit later, but I think for now this is a really good option.

What would I have to change to make sure that those 8 bits get set appropriately? I tracked GetAllocator to the Executor class where it appears that I could modify the AllocatorAttributes and the Executor has virtual functions which make it appear as though I could rep

[2016-09-29 16:36] alphamule commented on #4640
Here are some more details from config.log:

[code]

[2016-09-29 16:44] chenghuige opened #4658 "Change variable name not take effect in checkpoints"
I want to load into one session different checkpoints of the same model. Like take step 10 and step 100
In order to avoid conflict name, I try to modify the variable name first, like change from
show_and_tell/model_init/emb:0 to show_and_tell_1/model_init/emb:0,
my input checkpoint with all varaibles starts with show_and_tell, and I want to modify it to show_and_tell_1
so I can load the two models

[2016-09-29 16:48] gunan commented on #3856
As the #4642 is merged, I am closing this issue.

[2016-09-29 16:48] #3856 closed

[2016-09-29 16:51] gunan commented on #4574
So marking this as working as intended, and using the same files from the release branch should give you compatible files.
Closing this issue.

[2016-09-29 16:51] #4574 closed

[2016-09-29 16:51] #4623 closed

[2016-09-29 16:53] #3373 closed

[2016-09-29 17:17] gibiansky commented on #4588
I was using the most recent version of master at the time. I am building the current `master` from a clean slate and will see if I can still reproduce the error.

[2016-09-29 17:32] neilhan opened #4659 "Missing python packages from Dockerfile, scikit-learn, pyreadline"
I am using the Dockerfile provided in this project to do the Udacity assignments.

The first example of the Udacity DL fails at this line:
   "from sklearn.linear_model import LogisticRegression"

The iPython notebook also doesn't support tab-autocomplete.

The fix is to add the two missing python packages in the Dockerfile, line 32, 33:

26 RUN pip --no-cache-dir install \
 27         ipykernel \

[2016-09-29 17:57] hermitman commented on #2169
@fabianbormann Great solution. I am implementing the deconv net, and am also stuck on this. Since I am new to Tensorflow, could you give me some hint on converting your code to something that works with any batch size?
Thank

[2016-09-29 18:10] lightcatcher commented on #3373
Thanks for the PR @suiyuan2009 ! :)

From reading the diff, it looks like your ``zero_initializer`` op works in place.
Does ``scatter_update`` work as expected, only requiring memory for the update and not to the tensor being written into?
In other words, has anyone tested that I can move arbitrary data larger than half of GPU memory from the host into a variable on the GPU? An example is the code

[2016-09-29 18:19] ashern commented on #4648
I discussed this issue briefly with Martin Wicke on the mailing list: https://groups.google.com/a/tensorflow.org/forum/#!topic/discuss/rOP4VKcfphg .

It seems that this use case is not supported OOB.

The ability to persistently load a model into memory for multiple predict calls would be a very useful enhancement.

[2016-09-29 18:28] danijar commented on #206
@sonalgupta If I understand correctly, you don't need `tf.gather_nd()` anymore but can use slicing which has implemented gradients.

[2016-09-29 18:33] aselle commented on #206
Internally  we are working on tf.scatter which will be used to implement tf.gather_nd(). Currently the pythonic syntactic sugar cannot generate tf.gather's but we will add that once tf.scatter is done. We will also need some broadcasting code to generate indexes as well. The advanced slicing is now a separate issue.

[2016-09-29 18:37] sammyer commented on #3549
Re: @lingz :  I was able to compile with selective registration, but it didn't help reduce the file size for me.  Instead, I ended up using the makefile from tensorflow/contrib/makefile, removing all the unused ops classes from [tf_op_files.txt.](https://github.com/tensorflow/tensorflow/blob/f71cc62282bf2e066f9ebd08cf3f605fc98c6e41/tensorflow/contrib/makefile/tf_op_files.txt)

For what it's worth,

[2016-09-29 18:49] fabianbormann commented on #2169
@hermitman you would need to expand the indices so that you can access a new 4D (`output = tf.zeros([x_shape[0], x_shape[1] * 2, x_shape[2] * 2, x_shape[3]])`). `indices` is currently a tensor with coordinates [h, w, c] and `values` is a list with values matching to this coordinates.

You need to change the transformations, so that `indices` also respects [b, h, w, c]  and add all corresponding ba

[2016-09-29 18:54] hermitman commented on #2169
@fabianbormann Thanks for the detailed explanation. For me, I am using the deconv net as a part of the reconstruction network in my project. I will try to implement your solution first, and if I figure it out, I will clean up this part and share it.

[2016-09-29 19:13] garion9013 commented on #3028
Yes, baselines are from dense matrix multiplication without iterative pruning.
Also, you're right. _sparse_tensor_dense_matmul_ would be more appropriate just for this example, especially for CPU.
However, I think bigger models like AlexNet will have more benefits from _embedding_lookup_ than _sparse_tensor_dense_matmul_.
Because, it truly reduces app's memory requirements, while the latter doesn'

[2016-09-29 19:59] rizar opened #4661 "Defun grad_func should accept the outputs of the function being differentiated"
When dealing with discrete stochastic units, one often wants to define custom gradients. It seems like the most legitimate way to it in Tensorflow is to use `grad_func` keyword argument of `function.Defun` from `tensorflow.python.framework`.  However, the gradient function is only given the inputs of the function defined and the gradients, whereas it would be often very convenient to also use the

[2016-09-29 20:05] clo-dan commented on #4255
Just wanted to give an update on this. We mmapped our model as Pete showed above (FYI, this took quite awhile on a modern MacBook Pro) and implemented the changes from https://github.com/tensorflow/tensorflow/pull/4457 in our code.

Result is no more memory warnings on 1GB iOS devices plus a much faster classification (2-3 seconds, down from several). Still need to test a 512MB device but I think

[2016-09-29 20:20] gibiansky commented on #4588
I have tested with current `master` and have confirmed the issue still exists.

`tf.__version__` returns `0.10.0`; `tf.__git_version__` returns `v0.10.0rc0-2191-gf38886b`; running `git log` in the TF repo I just built and installed gives the the latest commit of `f38886ba307314cc0ae5b15279f5693f39c92f21` (which confirms that the `tf.__git_version__` is correct).

[2016-09-29 20:21] gibiansky commented on #4588
Please let me know what else I can do to be helpful. This does not seem like it should be related to the platform because `rnn.py` is platform-independent; in addition, looking at the code the way it is on `master` confirms that this issue *should* happen (see my first comment for the code responsible).

[2016-09-29 20:59] yaroslavvb commented on #4455
@hholst80 no problem. It's a bit confusing to me too, you can pass it in either tf.Session(config=) or tf.train.Server(config=), and some options (inter_op_parallelism_threads) seem to be silently ignored in the first method, while others (log_device_placement) are respected. We had a similar problem of too much CPU usage because of this

@mrry any advice as to whether we should ever use tf.Sessio

[2016-09-29 21:18] hermitman commented on #2169
@fabianbormann Hi, I am reading the code and referring to the previous discussion in this thread. I have this question, how do the current implementation backprop the grad through the unpooling layer?

[2016-09-29 21:28] llchan opened #4662 "./configure should fail if the bazel commands fail"
The configure script now calls bazel clean and bazel fetch (as of ~Aug 2016).  If they fail, the script should exit with a nonzero exit status rather than continuing onwards.  This is important for automated build systems to detect failed configure calls.

[2016-09-29 21:32] mrry commented on #4455
There are several options that are relevant to individual sessions, and should be passed in the session constructor if you want to set them.

From a quick look at [`master_session.cc`](https://github.com/tensorflow/tensorflow/blob/0db279f16ce21568c414694ea55e2dec07ad6972/tensorflow/core/distributed_runtime/master_session.cc) it appears that the only `ConfigProto` options respected in the distribut

[2016-09-29 21:43] cwhipkey commented on #3549
For why the header didn't make the size smaller, I think there are a few
possibilities to check:

1. selective registration can only make code deleted if the expressions can
be evaluated as constexprs.  Using const char* instead of const char[] on
the definition of kNecessaryOpKernelClasses may be enough to prevent this.
  But even with that,  I would have expected some drop by the const bool
kReq

[2016-09-29 21:44] hagerty commented on #4640
I have the same issue.

[2016-09-29 22:10] concretevitamin commented on #4650
Try to do an `ls -l  ~/graphs/inception/tensorflow_inception_graph.pb` to see if the file is indeed there.

If so and the error still persists, try to expand "~" to the absolute path when launching the program.

Feel free to reopen if there's still issues.

[2016-09-29 22:10] #4650 closed

[2016-09-29 22:12] concretevitamin commented on #4651
We'll need much more details to diagnose this:

1. How large is large?  What's the # of vars?
2. What's your cluster configuration?  Spec of each machine's hardware?
3. We will need info/error logs and stack traces.

[2016-09-29 22:13] concretevitamin commented on #4640
Ah good point; I took off the labels.  @satok16 could you please take a look or re-assign if appropriate?  Thanks.

[2016-09-29 22:31] concretevitamin commented on #4600
I don't know if the proposed backward algo is doable with the current implementation.  Maybe Yuan can comment.

In the mean time, could you try to break up the long `foldl` into a few pieces, and perhaps place control dependencies among them?

[2016-09-29 22:45] gunan commented on #4662
@davidzchen added these to configure script.
David, is this the case at the moment?

[2016-09-29 23:22] neilhan commented on #4659
I should have used the Dockerfile under example/udacity/

[2016-09-29 23:22] #4659 closed

[2016-09-29 23:25] chenghuige commented on #4658
well close it , since I find the name scope is not a problem, I can load step1 and step2 checkpoint in same session without having to change scope name.

[2016-09-29 23:25] #4658 closed

[2016-09-29 23:37] concretevitamin commented on #4628
I fixed at HEAD.  This will be pushed to Github within a day or two.  Thanks for noticing this!

[2016-09-29 23:50] arundasan91 commented on #4640
@derekshi Are you using the latest `master` branch ? There is a lot going on regarding iOS. This might help us

[2016-09-29 23:54] eamartin opened #4663 "Control dependency on identity containing assign not working"
I'm running Tensorflow 0.10.

The following code

[code]

outputs

[code]

From reading the docs on `control_dependencies` and `identity` as well as StackOverflow, I expected output

[code]

where `?` indicates that the variable value is unspecified.

Is this a bug? If this is not a bug, what is the correct way to refer to the value of variable before and after assignment in a single graph?

[2016-09-29 23:58] lxj0276 opened #4664 "ImportError: libcudart.so.7.5: cannot open shared object file: No such file or directory"
I'm a new user of tensorflow.I install tensorflow like this.
1.export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow-0.10.0-cp27-none-linux_x86_64.whl
2.sudo pip install --upgrade $TF_BINARY_URL

and I succeed install tensorflow ,when I import tensorflow ,It happens that "ImportError: libcudart.so.7.5: cannot open shared object file: No such file or directory".It's cr

[2016-09-30 00:50] yaroslavvb commented on #4664
You need to install CUDA 7.5 rather than CUDA 8.0 which is not yet
supported by pre-built binaries

On Thu, Sep 29, 2016 at 4:58 PM, lxj0276 <notifications@github.com> wrote:

[2016-09-30 01:14] yaroslavvb commented on #4663
Hm, that's weird, seems like some kind of optimization for tf.identity that
only shows up in the final fetch

If you add the line below, you'll see that identity op gets executed before
assignment
old_val = tf.Print(old_val, [old_val])

This means you can refer to "x" in computation,  and this will refer to old
value as long as control_dependency forces this computation to happen
before tf.assign.

[2016-09-30 01:23] lightcatcher commented on #4663
I'm guessing ``identity`` has an optimization to not perform a copy if there is no device transfer. In this case, I do need a copy of ``x``.

Really, what I want is a function that returns both the old value and the new value of a variable. As you noted with your ``tf.square`` example, applying a non-identity op to ``x`` seems to cause a copy, so I can likely hack around this bug with ``old_val =

[2016-09-30 01:25] derekshi commented on #4640
yes, I cloned the master branch about 30 hours ago. Unless there are any changes since then.

[2016-09-30 01:37] zym1010 commented on #110
I have succeeded in compiling a GPU, Python 3.5 version of TensorFlow 0.10.0 on a CentOS 6 Docker, and it ran well on our university's CentOS 6 cluster. Check <https://github.com/leelabcnbc/DevOps/tree/master/Docker/tensorflow/0.10.0/centos6/py35>. Basically, it's replacing some hardcoded lines in CROSSTOOL-related items, and adding `-lm` to everything to prevent errors like #2291. I think Google

[2016-09-30 02:00] Fenugreek opened #4668 "Implement tf.nn.atrous_conv2d_transpose()"
Can we have a `atrous_conv2d_transpose()` function, just like the existing `conv2d_transpose()` function? Or is there some simple way to get what I am looking for using other existing functions?

I had a look at the `conv2d_transpose()` code, and it seems shouldn't be too difficult to adapt it to get a `atrous_conv2d_transpose()`.

Thanks.

[2016-09-30 02:54] suiyuan2009 commented on #3373
I've tested on CPU, it truly reduced memory cost.

[2016-09-30 03:02] #4628 closed

[2016-09-30 05:19] eli7 opened #4672 "Can't visualize plots from multiple log directories in Tensorboard after refreshing browser. Must close reopen tab."
### If possible, provide a minimal reproducible example (We usually don't have time to read hundreds of lines of your code)
1. Run tensorboard for one log directory such as:
   tensorboard --logdir=some/directory1
2. View it on a browser
3. Run tensorboard for two log directories such as:
   tensorboard --logdir=somelabel1:some/directory1,somelabel2:some/directory2
4. Refresh the browser tab

Expe

[2016-09-30 05:31] nateGeorge commented on #1511
I was also having a similar problem, and found out it was because I had a `tf.round()` in my cost function, which is not really differentiable I think.

[2016-09-30 07:24] agupta74 opened #4673 "InvalidArgument error for space_to_batch function using half-float (fp16)"
I am trying to execute atrous_conv2d operation using half-float (fp16) as input data type (float32 dataType works fine) but I get the following InvalidArgumentError:

**tensorflow.python.framework.errors.InvalidArgumentError: Cannot assign a device to node 'Tower_0/conv2/atrous_conv2d/SpaceToBatch': Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU

[2016-09-30 07:39] jmchen-g commented on #4530
when you say when the chief initialize node 15, what do you mean by that? The chief should not know the existence of other workers at all. All the workers only communicate with ps.

[2016-09-30 07:44] jmchen-g commented on #4434
@petewarden Could you take a look? Thanks.

[2016-09-30 08:50] bc-lee opened #4674 "GPU pip wheel cannot be used on a system without the GPU libraries installed"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-09-30 09:07] michaeljancen commented on #4444
Since `/tf_files/..` is an absolute path you probably have to make sure where this tensorflow folder is located and change the code to the following after chaning the directory with `cd` :

`python tf_files/tensorflow/examples/image_retraining/retrain.py --bottleneck_dir=tf_files/bottlenecks --how_many_training_steps 500 --model_dir=tf_files/inception --output_graph=tf_files/retrained_graph.pb --o

[2016-09-30 09:27] passerbydj commented on #4651
[network.py.txt](https://github.com/tensorflow/tensorflow/files/502540/network.py.txt)

1. please see the python file.
2. the cluster is set on 2 servers. each one has a ps and a worker. And each worker works on 4 gpu cards.
3. nothing unusual appears in logs, all logs were print as I coded until it hangs. I do not have stack details right now, but both ps and workers are on locks, and workers sti

[2016-09-30 09:51] benvand opened #4675 "LinearClassifier feature_columns overwritten in LinearClassifier.fit"
`tensorflow.contrib.learn.python.learn.estimators.linear.LinearClassifier.fit`
effectively returns
`tensorflow.contrib.learn.python.learn.estimators.estimator.Estimator.fit`
`Estimator.fit` calls:
`tensorflow.contrib.learn.python.learn.estimators.estimator.Estimator._train_model`
which has these lines:

[code]

`tensorflow.contrib.learn.python.learn.estimators.estimator.Estimator._check_inputs`

[

[2016-09-30 10:09] DavidNemeskey commented on #4588
I could reproduce the issue as well. However, this is a sneaky one, as the behaviour differs between Python versions.

Apparently, when `const_{time|batch}` is `None`(, and the `Dimension`-typed `got_{time|batch}` is not),
1. Python 3.4.2 calls `Dimension.__eq__`, and negates the result
1. Python 3.5.2 calls `Dimension.__ne__`

Both return `None`, but
1. in the first case, the `if` then becomes `i

[2016-09-30 10:20] al626 opened #4677 "strided_slice unexpected behaviour"
On commit `931ff427f3a55a9c6c734a4c325d6af1b53665c3`, the following happens when trying to slice a tensor with an invalid slice.

[code]

Also, calling `tf.strided_slice` directly sometimes results in core dumps when using it with nonsensical parameters:

[code]

### Environment info
Operating System:
Ubuntu 14.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/c

[2016-09-30 10:26] tusharsoni08 commented on #4650
@concretevitamin I've tried `ls -l ~/graphs/inception/tensorflow_inception_graph.pb` and found it there
`-rw-r----- 1 tushar tushar 53884595 Nov 18  2015 /home/tushar/graphs/inception/tensorflow_inception_graph.pb`

even I can see that file via clicking on that same folder path, but error is same.

[2016-09-30 11:00] rpagliarix commented on #221
Had this been implemented on GPU?

[2016-09-30 12:07] cbquillen commented on #4549
I had this problem too with 0.11rc.  0.10 doesn't have any issues with firefox though.

[2016-09-30 12:23] alrojo commented on #654
@nikitakit could you elaborate what you mean with "hidden state reordering" and how you believe this can solve the requirements by beam search?

Thanks

[2016-09-30 12:46] tusharsoni08 commented on #4650
@concretevitamin I've found it working when I've copy that graph folder to the same level at tensorflow's folder. But it was not working when my tensorflow folder on Desktop and graph folder on my home folder, idk why? but by the way now it's work!

[2016-09-30 12:53] chenghuige commented on #4658
To load model rename scope and save. Right now tensorflow 10.0 has problem with Saver. I see in the master, has commeted the assertion.
tensorflow/tensorflow/python/training/saver.py
   # In the following use case, it's possible to have restore_ops be called
    # something else:
    # - Build inference graph and export a meta_graph.
    # - Import the inference meta_graph
    # - Extend the infer

[2016-09-30 12:59] tusharsoni08 opened #4680 "./third_party/eigen3/unsupported/Eigen/CXX11/Tensor:1:42: fatal error: unsupported/Eigen/CXX11/Tensor: No such file or directory"
### Environment info

Operating System: Ubuntu 14.04

I'm trying to build the pi-examples by building the tensorflow via makefile on Linux(Ubuntu 14.04).

So 1st I've done "Building on Linux" successfully from here: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/makefile#building-on-linux

now at https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/pi_ex

[2016-09-30 13:19] chamas14 opened #4681 "restore previous checkpoint and continue training"
i am beginner in tensorflow and i have a problem of restoring my previous checkpoint, after adding a new output for my network. So what i want to do after restoring, add a new label. what is the process to do that ? any idea about that

[2016-09-30 14:07] jrabary opened #4682 "Running tensorboard with vz-projector demo in development mode"
Is it possible to actually test the `vz-projector` element in the tensorboard components ?
I know it's a bleeding edge feature but I'd like to give it a try to see how it works but I get the following error while running `gulp`

[code]

[2016-09-30 14:36] chmlxj opened #4683 "sigmoid_cross_entropy shape compatible check bug (setting n_classes=2 in DNNClassifier)"
### Environment info
Operating System: Ubuntu 16.04

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rw-r--r-- 1 root root    558720 Sep 15 07:02 /usr/local/cuda/lib64/libcudadevrt.a
lrwxrwxrwx 1 root root        16 Sep 15 07:05 /usr/local/cuda/lib64/libcudart.so -> libcudart.so.8.0
lrwxrwxrwx 1 root root        19 Sep 15 07:05 /usr/local/cuda

[2016-09-30 14:56] hfutxrg opened #4685 "ResourceExhaustedError when formating ImageNet data to TFRecord"
Hi All Tensorflow users,

I followed the steps in https://github.com/tensorflow/models/tree/master/inception to build the imagenet to TFRecord format. But when I execute the command
"bazel-bin/inception/download_and_preprocess_imagenet "${DATA_DIR}"",
I have the following errors:

Exception in thread Thread-6:
Traceback (most recent call last):
  File "/usr/lib64/python2.7/threading.py", line 811,

[2016-09-30 15:07] ftamburin commented on #2818
I am trying to compute the gradients of a complex function in Tensorflow, but I have some trouble.
Could it be the same problem described by @ibab ?
Here is my code:
[code]
I use 2 input float32 vectors x,y that will be transformed into a complex matrix. All the computations are performed using complex numbers and at the end all the result is transformed into a float32 by taking the real part. If

[2016-09-30 15:30] shubhamjain0594 commented on #3052
Installing with source is quite a task. So please let us know asap when it is done. Thank You.

[2016-09-30 16:09] ebrevdo commented on #4588
@gunan this is a hole in our jenkins testing infrastructure.

[2016-09-30 16:10] ebrevdo commented on #4588
@DavidNemeskey thanks for getting to the core of the issue.  If either you or @gibiansky wants to submit a PR I'd happily review.  if you dont have bandwidth i can push a change within the day.

[2016-09-30 16:14] ebrevdo commented on #4588
@mrry is this a directionality bug the TensorShape comparison code?

[2016-09-30 16:22] mrry commented on #4588
@ebrevdo `TensorShape.__eq__()` and `TensorShape.__ne__()` probably don't have the behavior you'd expect when some of the dimensions are unknown. (In particular, `(None, x) == (None, x)` and `(None, x) != (None, x)` both return `None` because the value is unknown.)

So this library code probably shouldn't be using `==` or `!=` to compare shapes. Use `merge_with()`, `assert_compatible_with()` etc.

[2016-09-30 16:32] amrit-poudel opened #4688 "Unable to evaluate dense tensor obtained from sparse complex tensor"
I am unable to evaluate/print/run  a dense tensor which is obtained from a complex sparse tensor.

a = tf.SparseTensor(indices=[[0, 0, 0], [1, 2, 1]], values=[1.0+2j, 2.0], shape=[3, 4, 2])

b = tf.sparse_tensor_to_dense(a, default_value=0.0)

sess  = tf.Session()

sess.run(b)

returns the following error:

InvalidArgumentError (see above for traceback): No OpKernel was registered to support Op 'S

[2016-09-30 16:58] gunan commented on #4588
Do we have unit tests for this?
I can investigate the reason why the tests did not catch this.

[2016-09-30 17:06] huttunensami commented on #4685
Hi,

I have a same kind of issue when trying to download and preprocess the MSCOCO dataset used in im2txt model  (https://github.com/tensorflow/models/tree/master/im2txt). It seems that the script `bazel-bin/im2txt/download_and_preprocess_mscoco "${MSCOCO_DIR}"` is able to process up to 1024 images but after that all the threads fail:
[code]
Apparently the script does not close the file handles it

[2016-09-30 17:19] vrv commented on #4359
We could change the 8 bits to a larger number of bits before 1.0 I guess.  Or perhaps one day maybe extend the value to be larger than 32 bits in a backwards compatible way.

The OpKernel::allocate_output() function can set the bits of the AllocatorAttributes however it wants.  I was thinking, but not sure if it works off hand:

[code]

Or something like that.

[2016-09-30 17:56] msaroufim opened #4693 "http://commondatastorage.googleapis.com/books1000/ no longer available"
This is not tensorflow issue but an issue with the first tutorial in the udacity program https://github.com/tensorflow/tensorflow/blob/master/tensorflow/examples/udacity/1_notmnist.ipynb

The url is not found and is not accessible via a browser, tried Chrome 53 on Mac OS X 10.11

[2016-09-30 18:00] cshallue commented on #4685
Ah, looks like there is a missing call to writer.close() in models/im2txt/im2txt/data/build_mscoco_data.py
I'll send out a fix shortly.

[2016-09-30 18:08] rohan100jain commented on #4357
FileIO.read() now supports a size argument. Closing bug now.

[2016-09-30 18:08] #4357 closed

[2016-09-30 18:30] vrv commented on #4357
I added tell() and seek() and read(n) in the following commits:
https://github.com/tensorflow/tensorflow/commit/63a7a30e6bd091f87be1de2305c6d882d68ba6a8
https://github.com/tensorflow/tensorflow/commit/cb07991bd77490055eea4139230743f4573a8318

I have not yet tested that this satisfies all of the python File API, but we're slowly getting there.

[2016-09-30 19:33] msaroufim commented on #4693
Found the right url after googling it http://yaroslavvb.com/upload/notMNIST/

Tutorial just needs an update

[2016-09-30 20:29] #4244 closed

[2016-09-30 20:31] ebrevdo commented on #4588
I think we test with Python 3.5 only?

On Sep 30, 2016 9:58 AM, "gunan" <notifications@github.com> wrote:

[2016-09-30 20:38] gunan commented on #4588
Which test would this be?

On Fri, Sep 30, 2016 at 1:33 PM, ebrevdo <notifications@github.com> wrote:

[2016-09-30 20:42] davidzchen commented on #4662
The reason why the script continues even when commands fail is because the script does not `set -e`. Perhaps we should set `set -e` and some other shell settings in the `configure` script as described by [Writing Safe Shell Scripts](https://sipb.mit.edu/doc/safe-shell/).

[2016-09-30 20:42] yaroslavvb commented on #4693
That's the URL hosted on my personal server I changed it to GCS-hosted version under /books1000/ because my ISP blocked yaroslavvb.com due to too many accesses.  Someone should rehost it in a place that can take load or fix the commondatastorage address (I'm guessing it's a internal billing issue) @vincentvanhoucke

[2016-09-30 20:42] hfutxrg commented on #4685
Thanks for pointing out this issue. I added the writer.close() in models/inception/inception/data/build_imagenet_data.py and the problem was solved.

[2016-09-30 20:49] gunan commented on #4662
@martinwicke, is there a reason we do not have `set -e` in the configure script?

[2016-09-30 21:19] siavashk commented on #4685
@cshallue can you tell us how to patch things while you work on a fix?

[2016-09-30 21:31] vincentvanhoucke commented on #4693
I can access both:
http://commondatastorage.googleapis.com/books1000/notMNIST_large.tar.gz
http://commondatastorage.googleapis.com/books1000/notMNIST_small.tar.gz
What's not working for you? Were you trying to get to:
http://commondatastorage.googleapis.com/books1000/ ? That won't work.

[2016-09-30 21:31] #4693 closed

[2016-09-30 21:32] llchan commented on #4662
If you use `set -e`, I'd put it at the end after all the configuration is done, or put it in the `bazel_clean_and_fetch()` function and unset it when it exits that function. Otherwise stuff like `default_python_bin_path=$(which python)` will fail the script if there is no python on the path.

[2016-09-30 21:36] cshallue commented on #4685
I have pushed the fix to this branch:
https://github.com/cshallue/models/tree/writer

I will merge into tensorflow_models/master soon.

[2016-09-30 21:41] llchan commented on #4662
Philosophically speaking, I'd prefer for the configure script not to run any bazel commands (esp fetch, since that does a lot of work). It would be more "normal" to write some config files and have the build step clean/fetch if it detects a config change.

But.. if this is really complicated, I dont feel very strongly, just figured I'd voice my opinion.

[2016-09-30 21:49] siavashk commented on #4685
@cshallue if all that is different is adding writer.close on line 289 of build_mscoco_data.py, then this is not solving it for me. I am having the same exact problem as @huttunensami.

[2016-09-30 21:52] cshallue commented on #4685
Have you tried reducing the number of threads?

[2016-09-30 21:54] siavashk commented on #4685
@cshallue I am running with 1 thread by changing line 133 in build_mscoco_data.py

tf.flags.DEFINE_integer("num_threads", 1,
                        "Number of threads to preprocess the images.")

[2016-09-30 22:02] cshallue commented on #4685
I've pushed the patch to call writer.close(), which fixes the issue for @hfutxrg

I'm not sure yet why the issue still exists for @siavashk

[2016-09-30 22:08] siavashk commented on #4685
@cshallue I will continue digging for the next hour to see if I can get it to work, and if I do, I will reply on the same thread. In case it helps, I am building this on a cloud instance with a K2. The compute capability of these cards is 3.0, which is what I configured Tensorflow with.

[2016-09-30 22:29] cshallue commented on #4685
Looking more closely at the stack trace above, it's clear that the error is thrown while reading an image from disk:
  with tf.gfile.FastGFile(image.filename, "r") as f:
    encoded_image = f.read()

It sounds like you've run out of memory. Is there any way you can increase that on your cloud instance?

[2016-09-30 22:34] siavashk commented on #4685
I have a GPU instance from Softlayer, the available memory is 64GBs. Even though it is highly unlikely, I checked this before posting on the thread using top.

[2016-09-30 22:47] fanyangxyz opened #4697 "Can't import reader.py correctly for rnn/ptb/"
I cloned the code and downloaded the dataset. However when I run
`python ptb_word_lm.py --data_path=simple-examples/data/ --model small`

it gives the following error message:

Traceback (most recent call last):
  File "ptb_word_lm.py", line 369, in <module>
    tf.app.run()
  File "/Users/fanyang1/anaconda/envs/tensorflow/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 30, in

[2016-09-30 22:49] cshallue commented on #4685
I wonder if you get still get an error if you use the native Python open() method instead of tf.gfile.FastGFile()?

[2016-09-30 22:56] siavashk commented on #4685
Good point. I tried it, processing is slow but seems to be working so far with 8 thread. Previously it would fail immediately. Did we just find a bug in Tensorflow IO?

I tensorflow/core/common_runtime/gpu/gpu_device.cc:972] DMA: 0 1
I tensorflow/core/common_runtime/gpu/gpu_device.cc:982] 0:   Y Y
I tensorflow/core/common_runtime/gpu/gpu_device.cc:982] 1:   Y Y
I tensorflow/core/common_runtime/gpu

[2016-09-30 23:02] cshallue commented on #4685
This might indeed be a bug in tf.gfile.FastGFile().
Please let me know if it finishes successfully for you now (the preprocessing usually takes 1+ hours).

[2016-09-30 23:14] davidzchen commented on #4662
+cc @damienmg

@llchan That is a good point. For those lines where we have command substitution, would it be idiomatic to do the following to prevent the non-zero exit code:

[code]

It is not ideal to have to run those bazel commands in the `configure` script. We are working on improving the cache invalidation for external repositories and have plans to let repository rules declare which environm

[2016-09-30 23:25] martinwicke commented on #4662
set -e is generally a good idea, unless we can include error messages
better than the ones generated by the failing commands.
On Fri, Sep 30, 2016 at 19:16 David Z. Chen <notifications@github.com>
wrote:

[2016-09-30 23:35] civilmanxx opened #4698 "freeze graph from .ckpt to .pd file fail"
Now i am using tensor flow to train inception v1 (in slim model folder) on my data set. i am using the latest nightly build 0.10.
 i want to convert the big .ckpt to .pd file. i try "freeze graph" in the tool box but fail.

the command is: (the graph format is default pbtxt)

bazel-bin/tensorflow/python/tools/freeze_graph --input_graph=/home/DeepLearning/tensorflow/v1/graph.pbtxt --input_checkpoin

[2016-09-30 23:41] andrewharp commented on #3549
The tool for generating ops_to_register.h that @cwhipkey mentioned is now commited: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/print_selective_registration_header.py

[2016-09-30 23:42] #3549 closed

[2016-09-30 23:46] andrewharp commented on #4466
Closing; please reopen with details if the problem persists.

[2016-09-30 23:46] #4466 closed

[2016-10-01 00:09] civilmanxx commented on #4698
I pull the lastest code of tensorflow and rebuild by running:
bazel build tensorflow/python/tools:freeze_graph
the issue is gone.

[2016-10-01 00:09] #4698 closed

[2016-10-01 00:12] siavashk commented on #4685
@cshallue It worked!

[2016-10-01 00:23] jmchen-g commented on #4681
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-10-01 00:23] #4681 closed

[2016-10-01 00:27] jmchen-g commented on #4657
I believe the arg_scope will add those to the function calls below. Also:
This is a question better suited for StackOverflow. Please ask it there and tag it with the `tensorflow` tag.

[2016-10-01 00:27] #4657 closed

[2016-10-01 00:28] cshallue commented on #4685
Great! I will push a patch shortly to unblock everyone, and I'll close this issue.
I'll follow up next week about tf.gfile.FastGFile(), and work on that in a separate issue.

[2016-10-01 00:34] NoahDStein commented on #4657
I don't see how this addresses the bug of arg_scope not working with positional arguments.  I also don't see how StackOverflow would be appropriate because this is not a question, it's a bug report.

[2016-10-01 01:15] #4685 closed

[2016-10-01 04:06] rgobbel commented on #2146
I managed to get the [**@MISingularity**](https://github.com/MISingularity/tensorflow) Warp CTC implementation working in post-0.10.0 TensorFlow. Not difficult, but as noted, it includes a bunch of proprietary code from NVIDIA. It also completely ignores the `preprocess_collapse_repeated` and `ctc_merge_repeated` flags, so if you need those, as I do, the only option is to pad the input with blanks

[2016-10-01 04:10] atwj opened #4701 "Unable to run "bazel build tensorflow/examples/image_retraining:retrain""
Hi! I was going through the re-trainer tutorial but i keep encountering the following error.

<code>Executing genrule //tensorflow/core:version_info_gen failed: bash failed: error executing command /bin/bash -c ... (remaining 1 argument(s) skipped): com.google.devtools.build.lib.shell.BadExitStatusException: Process exited with status 1.
error: Could not expand include path '~/.gitcinclude'
fatal:

[2016-10-01 08:24] olivermg commented on #4701
This happens when using Python 3, as that code in gen_git_source.py ('b"\"" in ...' etc.) works only for Python 2.

As a workaround, I've patched my gen_git_source.py locally by removing these 'b' characters (thus passing a string into the "in" operation instead of a byte). However, this is probably just a workaround, as this change may make it incompatible with Python 2 and only work with Python

[2016-10-01 12:12] Cvikli opened #4703 "Conditional print doesn't work appropriately as the control flow describe"
I stucked with this problem. I want to check if gradients or variables are NaN before applying them. Print conditionally the name of the variable and a value for both gradient and variable.

### Environment info
Operating System: Linux
Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):
-rw-r--r-- 1 root root 189170 Jul 11 23:19 /opt/cuda/lib/libcu

[2016-10-01 14:18] darrengarvey opened #4705 "Error building with cuda after bazel server dies"
This is effectively reopening #4105 as this is another way to reproduce the issue that I am seeing repeatedly. The fix for #4105 was to make sure after running configure clean+fetch is run.

I see this issue almost every day so I'm not sure if bazel flushes some caches or the daemon is dying, but the issue reliably reproduces by killing the bazel daemon. Having to re-run configure and restart the

[2016-10-01 14:21] chenghuige opened #4706 "0.11.rc0 version, using all gpu's memory while running on only one"
With 0.11.rc0 tf, cudnn 7.5
+------------------------------------------------------+
| NVIDIA-SMI 352.39     Driver Version: 352.39         |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|=================

[2016-10-01 14:42] darrengarvey commented on #4705
Unfortunately the simple workaround isn't enough as eventually the build fails with the error:

[code]

Still, just killing the bazel server shouldn't mean that the build should have to be done from scratch, surely?

[2016-10-01 14:44] alekseyl1992 commented on #2057
This workaround produces the following lines in vocab.txt:
`b'\xd0\xb8' 3185432`

Is there any way to load these sequences as utf8 strings (str) besides using `eval()`?

I think it would be better to store utf8-strings in the vocab as utf8-encoded file.
For now it seems to be weird for me:
it is `bytes` object representation saved in file

[2016-10-01 15:22] xksteven opened #4707 "Create API for creating slot variables"
To create or modify Adadelta, or Adam requires editing the Eigen tensor implementations of each.  However if it were possible to create a slot variable from tensorflow then one could perform tests without needing to recompile the whole tensorflow library.

[2016-10-01 16:53] yxchng opened #4709 "Is tensorflow consuming much more memory than torch?"
I am trying to replicate the stacked hourglass architecture which is implemented in torch, https://github.com/anewell/pose-hg-train/. However, I am unable to train it using settings in the opts.lua file which set the train batch size as 6, number of train iteration as 8000, test batch size as 1 and number of test iteration as 1000. I understand that I can reduce the batch size or iteration number

[2016-10-01 17:02] unsalted opened #4710 "download_dependencies.sh throws error on osx 10.10 - syntax issue"
I receive this error on osx 10.10

[code]
It was fixed by changing line 51 to:
[code]

[2016-10-01 17:13] unsalted commented on #4710
PR #4711

[2016-10-01 17:34] yaroslavvb commented on #4709
They have similar memory usage in general, although there are some special cases where it may differ substantially. You can see track down memory usage by looking at memory allocator statistics you get when running with FULL_TRACING options (see https://github.com/tensorflow/tensorflow/issues/1824#issuecomment-225754659
)

[2016-10-01 17:39] ringw commented on #2423
@vladfi1 Do you need something that's not offered by tf.multinomial?

[2016-10-01 17:40] ceocookie commented on #4701
Hi @olivermg Could you advise how do you run tensorflow using Python 2? After installing with tensorflow using conda (anaconda2-4.1.1) , I proceed to clone the tensorflow repo, run /.configure before attempting to execute "bazel build tensorflow/examples/image_retraining:retrain". However I still get the following issues:

<code>
ERROR: /Users/AMOS/Documents/PROJECTS/iot-tensorflow-py2/tensorflow/

[2016-10-01 17:43] yxchng commented on #4709
do you what are the special cases?

[2016-10-01 17:55] yaroslavvb commented on #4709
calling `tf.gradients` on graph which has `tf.while` loop can take unexpectedly large amounts of memory

[2016-10-01 17:58] kinni commented on #4697
Hi, I bet you have installed the Tensor with the version 0.10.0rc0 (with this url $ export TF_BINARY_URL=https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.11.0rc0-py2-none-any.whl); however you are running the latest version of source code 0.11.0rc0 which has conflict with the compiled tensorflow library version 0.10.0rc0.

Solution, checkout the 0.10.0rc0 version of the source code;

[2016-10-01 18:05] ceocookie commented on #4701
I followed your post here ( https://groups.google.com/a/tensorflow.org/forum/?utm_medium=email&utm_source=footer#!msg/discuss/lOEFA0PHguA/46Za6_ouAwAJ ) and tried to set up Python 2 using conda. But i encounter similar issues.

<code>
tensorflow/tensorflow/core/BUILD:1030:1: Executing genrule //tensorflow/core:version_info_gen failed: bash failed: error executing command
  (cd /private/var/tmp/_ba

[2016-10-01 18:11] JamesTheAngler commented on #4680
I have had the same issue today as well.

[2016-10-01 18:34] olivermg commented on #4701
As far as I understand the whole process, the necessary steps to have bazel run with Python2, you have to follow these steps (assuming Anaconda):

1. Create the Anaconda virtual env via `conda create -n tensorflow python=2.7` . A thing to note here: Don't run this command from within your cloned working copy of Tensorflow Serving, as the conda command seems to get confused when a directory "tensor

[2016-10-01 19:15] cancan101 opened #4712 "Add 3.7 to list of default compute capabilities"
The Tesla K80 has a compute capabilities of 3.7. These are the cards in [AWS' new `p2` GPU offering](https://aws.amazon.com/blogs/aws/new-p2-instance-type-for-amazon-ec2-up-to-16-gpus/) and in [Azure's GPU offering](https://azure.microsoft.com/en-us/blog/azure-n-series-preview-availability/) which means that usage of these cards will be quite widespread.

Given that there are some difference betwe

[2016-10-01 19:47] LiamHe opened #4713 "How to close parameter server with python?"
In the TensorFlow documentation, the tf.train.Server.join() will block forever, but I would like to close it after training. Are there any possible solutions for it?

Thanks.

[2016-10-01 20:25] #4655 closed

[2016-10-01 20:55] devanshdalal commented on #3990
Did you solve the problem ?

[2016-10-01 22:37] chenghuige commented on #4706
@yaroslavvb I see thanks, but I don't think it need to grab all gpu memories if only running on one.
Just grap one gpu memory as version 0.10.0 did is fine.
Anyway can force to grab one gpu memory by using CUDA_VISIBLE_DEVICES.

[2016-10-02 00:12] hughperkins commented on #22
end to end kernel launch working :-)

We have a single .cu file with host launch code
[code]
and kernel code:
[code]
https://github.com/hughperkins/cuda-ir-to-opencl/blob/master/examples/testcudakernel1.cu#L185-L207

The device-side kernel builds into opencl at https://github.com/hughperkins/cuda-ir-to-opencl/blob/master/examples/testcudakernel1.cl#L480-L495
[code]
The hostside code builds into IR

[2016-10-02 00:21] Mazecreator opened #4714 "TensorBoard Feature Request: [DASHBOARD] Static Variable Display Tab"
I do a lot of different runs which contain descriptions as well as different meta parameters.  It would be nice to have a tab on TensorBoard so I can tell which experiment I am viewing.

My thought would be to simply add static variables from the Graph which might include Strings, Ints, Floats, (maybe matrix in table format if possible, like PCA parameters, maybe confusion matrix, etc).  These may

[2016-10-02 00:25] jharting opened #4715 "shapes incompatible after upgrade"
After upgrade from 0.10.0 to 0.11.0rc0 my code no longer runs:

[code]

My code:

[code]

This worked fine on 0.10.0. Notice the shapes in the beginning of output (looks like a valid combination to me).

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

none

### Environment info
Operating System: Fedora 23, TF 0.11.0rc0

[2016-10-02 01:27] hholst80 commented on #4715
I would say no (I like hard typing). Easily fixed as you can always reshape an (?,1) rank 2 tensor into (?,) with a reshape op.

[2016-10-02 01:33] hholst80 commented on #4713
Maybe you can create a Supervisor which you then monitor from a separate thread? If you get a should_stop you exit the entire process. I have not tried it myself but could be worth trying.

[2016-10-02 03:08] sskgit commented on #4105
Hi,

Facing similar issues for tensorflow build.
I am trying Tensoflow from the source and receive build error for
a) C++ compilation of rule '@grpc//:gpr' failed: crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc

b) ERROR: I/O error while writing action log: No space left on device.

Enviornment:

[2016-10-02 03:33] Mistobaan commented on #4090
maybe add the "contributions welcome" label ? seems reasonable to have more info about the stream_executor.

[2016-10-02 06:50] jmchen-g commented on #4657
@sguada Please clarify what is your intended behavior. Thanks.

[2016-10-02 07:09] jharting commented on #4715
Can you please elaborate on what the problem is? In the numpy world at least the matrices of shapes (802, 277) and (802, 1) or alternatively (802, 277) and (802, ) vector seem reasonable to work with without reshaping. None of these works for me here. Also please provide the reshape fix so that I can verify. Thanks.

[2016-10-02 08:11] NightKight opened #4718 "i can't import tf.python.ops"
Python 3.5.2 (default, Oct  2 2016, 13:49:15)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.
/>>> import tensorflow as tf
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcublas.so locally
I tensorflow/stream_executor/dso_loader.cc:111] successfully opened CUDA library libcudnn.so locally
I tensorflow/stream_e

[2016-10-02 08:17] jharting commented on #4715
Minimalistic reproducer:

[code]

[2016-10-02 10:17] hughperkins commented on #22
Hmmmm, Eigen doesnt support clang :-P
![eigen_no_clang](https://cloud.githubusercontent.com/assets/123560/19019943/c1a4af74-8891-11e6-8d22-4fe15a53e99f.png)

[2016-10-02 10:21] bhack commented on #22
http://llvm.org/docs/CompileCudaWithLLVM.html

[2016-10-02 10:38] hughperkins commented on #22
@lukeiwanski To what extent is the Codeplay approach reliant on being able to build Eigen using clang?  To what extent are the clang build issues I'm getting with Eigen plausibly overlapping with your own painpoints? (what are your painpoints in fact? I dont really have any visibility into this).  (I'm getting the following issues after 20-30 minutes of dabbling https://github.com/hughperkins/cuda

[2016-10-02 12:14] sguada commented on #4657
Arg_scope only affect key-word arguments, which have a default value.

On Oct 2, 2016 8:50 AM, "Jianmin Chen" <notifications@github.com> wrote:

[2016-10-02 12:28] darrengarvey commented on #4105
@sskgit - This looks like b) no space left on device is the reason for a) compilation of a file fails. You'll notice from the `bazel-*` symlinks in the tensorflow directory point to `$HOME/.cache/bazel/...`, so check you've got enough space on the partition you have `$HOME` mounted to.

[2016-10-02 13:35] EvgenyVolkov commented on #4640
Same issue. Is there a workaround to build TensorFlow static library?

[2016-10-02 13:39] NoahDStein commented on #4657
The current behavior is somewhere in the middle: arg_scope affects positional arguments, but they cannot be overridden positionally, only by specifying them by name as keyword arguments.  It makes perfect sense to me that a relatively straightforward implementation would lead to this behavior and that it might be much more complicated to either remove the ability of arg_scope to affect positional

[2016-10-02 14:56] nathansilberman commented on #4657
Your assessment is correct. We'll try to clarify behavior via documentation. Thanks for pointing this out!

[2016-10-02 15:13] TimZaman opened #4721 "Make Image Summary in tensorboard more dynamic"
The image summary in Tensorboard is very nice, it's the most static tab on Tensorboard.
For example, when I am doing a visual test of my auto-encoder, for example MNIST, I see this:
![image](https://cloud.githubusercontent.com/assets/7721540/19021497/5d761600-88c3-11e6-90c8-85f8049f0a14.png)

Then I wait a few minutes, and I refresh and it shows:
![image](https://cloud.githubusercontent.com/assets

[2016-10-02 15:47] xksteven commented on #206
@danijar is it documented that they have gradients? I was trying to find where its stated before I started to use them.

[2016-10-02 17:19] GodOfProbability commented on #3208
Did anyone find solution to this problem?

[2016-10-02 17:49] alphamule commented on #4640
Downgrading to Xcode 8.0.0 -> 7.3.1 does not seem to fix it.

[2016-10-02 18:30] danijar commented on #206
This example works for me:

[code]

[2016-10-02 19:32] j0el commented on #4680
+1

[2016-10-02 20:07] cwindolf commented on #4187
@JimmyKon 's fixes worked for me. had to modify the genrule script and symlink like in #3263. for: r0.10 on OSX 10.10.5 with Cuda 7.5, CUDNN 5, and a GT 650M.

[2016-10-02 20:26] ayushchd commented on #1940
Is there a way to achieve this even by using a batch of size 1? Each batch would contain 1 sentence, however, the ksize in max pooling needs to be set dynamically since it would depend on the length of the input. Any ideas?

[2016-10-03 00:42] yaroslavvb commented on #675
@vladfi1 I'm no longer at Brain, so I wouldn't know. I would say it is unlikely to ever be part of core TensorFlow. There are >450 ops in TF, so Brain team would have to implement forward AD grad method for all of 450 ops and maintain them forever, or alternatively have to explain why someone's favorite op doesn't have AD support.  It seems more realistic that someone would create a separately mai

[2016-10-03 00:58] sskgit commented on #4105
@darrengarvey Thanks for your response.

I tried sudo df and here is the output

df
Filesystem     1K-blocks     Used Available Use% Mounted on
udev            28837212        0  28837212   0% /dev
tmpfs            5771196     9244   5761952   1% /run
/dev/sda1       29711408 29329736    365288  99% /
tmpfs           28855968        0  28855968   0% /dev/shm
tmpfs               5120        0

[2016-10-03 01:21] xuancong84 opened #4722 "einsum not fully implemented"
I am glad to see the newly added einsum function. The documentation claims that its usage is the same as numpy. However, it can do almost nothing as compared to numpy. For example, it only supports subscripts in the form of '_->_'. Unfortunately, even matrix transpose does not work, i.e., 'ij->ji'.
Numpy works:

[code]

Tensorflow does not work:

[code]

I want to multiply a matrix with every fram

[2016-10-03 02:07] EdwinGerman opened #4723 "How to convert a csv file to TFrecord tensorFlow format?"
Hello everybody i need to convert a csv file to TFrecord for TensorFlow. I really appreciate your help.
An example of csv file that  i need to convert is:
Col1 Col2 Col3 Col4 Target
2.56 0.98 0.45  7.8    0.189
3.10 5.78  4.78 9.0    0.78
....
Thank you very much!!!

[2016-10-03 03:57] lonny1992 opened #4725 "tutorials_example_trainer failed to build"
when I build the tensorflow with the command:
bazel build -c opt --config=cuda //tensorflow/cc:tutorials_example_trainer
error happens :
./tensorflow/core/framework/allocator.h(154): warning: missing return statement at end of non-void function "tensorflow::Allocator::RequestedSize"

./tensorflow/core/framework/allocator.h(154): warning: missing return statement at end of non-void function "tensor

[2016-10-03 04:50] concretevitamin commented on #4604
Closing this.  Feel free to re-open if it still is an issue at HEAD.

[2016-10-03 04:50] #4604 closed

[2016-10-03 04:55] concretevitamin commented on #4656
It's probably obvious, but I imagine you're looking for a more rigorous spec such as a formula?  Assigning to @martinwicke to take a look or re-assign if appropriate.

[2016-10-03 04:57] concretevitamin commented on #4680
@maciekcc: could you take a look at this?  Thanks.

[2016-10-03 04:58] concretevitamin commented on #4672
@danmane: could you take a look?

[2016-10-03 04:59] concretevitamin commented on #4668
I am not aware of anyone actively working on this.  Marking as contributions welcome, and feel free to send us a PR!

[2016-10-03 05:03] concretevitamin commented on #4674
Can you try `CUDA_VISIBLE_DEVICES=none` or `CUDA_VISIBLE_DEVICES=''`?

[2016-10-03 05:07] davidzchen commented on #4105
@sskgit Running `bazel clean --expunge` should remove all of the generated files for the workspace. How much free space do you have after running that command?

@martinwicke Sorry for the late reply. I have been on call for a good part of the past week. That looks like a linker error in protobuf and does not seem related to this particular change. `crosstool_wrapper_driver_is_not_gcc` is a wrapper

[2016-10-03 05:08] concretevitamin commented on #4661
@zffchen78: is this something on the radar?

If not, we can mark it as contributions welcome, as a workaround seems to exist.

[2016-10-03 05:09] concretevitamin commented on #4664
What @yaroslavvb said.  Feel free to re-open if CUDA 7.5 did not work for you.

[2016-10-03 05:09] hfutxrg opened #4726 "Inception v3 failed to enqueue convolution on stream: CUDNN_STATUS_EXECUTION_FAILED"
I was following the instructions in https://github.com/tensorflow/models/tree/master/inception to train inception v3. I created the TFRecord data successfully. But when I tried to train the network using the following command:
bazel-bin/inception/imagenet_train --num_gpus=4 --batch_size=128 --train_dir=... --data_dir=...
It has the following warning and error:

WARNING:tensorflow:Passing a `GraphD

[2016-10-03 05:09] #4664 closed

[2016-10-03 05:12] concretevitamin commented on #4675
@hengtze: is this something that needs to be changed in the wide tutorial?  If not, is this something the tf.learn side should look into?

[2016-10-03 05:14] concretevitamin commented on #4614
@aselle: is this an instance of NumPy API disparity that we should look into?

[2016-10-03 05:24] concretevitamin commented on #4703
Note that `tf.select()` does not guarantee conditional execution at all.  For that please use `tf.cond(pred, fn1, fn2, name=None)`, which is designed for this purpose.  Please feel free to re-open if you can't make `cond` work for this purpose (which I think should work).

[2016-10-03 05:24] #4703 closed

[2016-10-03 05:30] Nayana-ibm commented on #3527
@aselle  Could you please have a look?

[2016-10-03 05:31] concretevitamin commented on #4673
@benoitsteiner: the SpaceToBatch GPU kernel lacks half support.  Is this something already on your radar?  If not, we can just mark this as contributions welcome, of course.

[2016-10-03 05:35] concretevitamin commented on #4718
This is not typical usage pattern from a python shell.  To use an op, directly use `tf.<op name>(...)`.  To, say, use something from the `training` package, you can do `tf.train.Saver`.

If you are adding/modifying TensorFlow source code -- instead of operating from within a shell -- there's plenty of examples on how to properly import.

[2016-10-03 05:35] #4718 closed

[2016-10-03 05:38] concretevitamin commented on #4723
This is suitable for StackOverflow.

[2016-10-03 05:38] #4723 closed

[2016-10-03 05:45] concretevitamin commented on #4715
I don't know what changes in tf.learn between 0.10 and 0.11rc0 that could cause this.  @martinwicke: can you take a look?

[2016-10-03 05:48] concretevitamin commented on #4706
@chenghuige: what do you mean by "only running on one"?  To me, this means setting `CUDA_VISIBLE_DEVICES`.  If you instead mean that you use `with tf.device("/gpu:0")` exclusively in your code, then when initializing the TensorFlow runtime, it would have no way to _know_ just one GPU is going to be used.

[2016-10-03 05:50] concretevitamin commented on #4725
@lonny1992: we don't yet officially support CUDA 8.0, I think.  Can you try to compile with 7.5?

[2016-10-03 05:53] concretevitamin commented on #4712
@zheng-xq: WDYT?

[2016-10-03 05:56] concretevitamin commented on #4682
@dsmilkov: Daniel, could you take a look?  Thanks.

[2016-10-03 05:59] concretevitamin commented on #4726
Could you try a smaller batch size, to see if it works?

[2016-10-03 06:09] zheng-xq commented on #4712
Adding a default GPU config has significant impact on build time. Since 3.5 and 3.7 are largely compatible, it is better to keep the default config number low. Unless we see a non-trivial change in performance, we'd prefer to leave the current setting unchanged. Power users can still use configure to choose their favorite compute capabilities.

[2016-10-03 06:54] #4712 closed

[2016-10-03 07:39] civilmanxx commented on #3986
I meet the similar issue.

[2016-10-03 09:33] jrabary commented on #4682
I manage to make the tsne demo working with the following correction in the `data.ts` file

[code]

The next problem is that I get `numeric is not defined` when running PCA.

[2016-10-03 09:36] hholst80 opened #4727 "Minor issues with C++ custom ops documentation"
I was following the instructions below to define a custom op called `zero_out`.

https://github.com/tensorflow/tensorflow/blob/aaeb50c55427350841f7a0c226af9db174397d55/tensorflow/g3doc/how_tos/adding_an_op/index.md

I found a few issues:
1. You cannot load a `so` file without giving an absolute path (or prefixing with `./`).
2. The zero_out_module has no zero_out component.

---

[code]

![image](

[2016-10-03 11:10] hholst80 commented on #4707
Have you looked into miyosudas implementation of Shared RMSProp?

[2016-10-03 11:41] hholst80 commented on #4727
OK. I fixed the latter issue due to a mistake on my side (I did not call `REGISTER_OP` only `REGISTER_KERNEL_BUILDER`) but the load still requires `./` prefix.

There are some other minor things with formatting (escaped symbols in code) which I could make a PR for if it is welcome?

[2016-10-03 12:12] rizar commented on #4516
But what's the point of having both tf.slice and tf.strided_slice? Is there
anything that the latter can not do and the former can?

On Wed, 28 Sep 2016 at 13:37 Andrew Selle <notifications@github.com> wrote:

[2016-10-03 13:19] tripiana opened #4728 "Eigen errors."
/apps/.GCC/6.2.0/bin/gcc -U_FORTIFY_SOURCE '-D_FORTIFY_SOURCE=0' -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -g0 -DNDEBUG -pipe -DMKL_LP64 -I/usr/include/ncurses -I/apps/INTEL/2017.0-035/mkl/include -I/apps/PYTHON/3.5.2_ML/include/python3.5m -m64 '-march=native' '-mtune=native' -Ofast -s -fmath-errno -fno-unsafe-math-optimizations -fno-finite-math-only -fno-cx-limited-range -frecipro

[2016-10-03 13:26] iqbalmohomed commented on #3069
@vrv I noticed that the official cuda 8 drivers are out. The tensorflow install instructions still indicate that source compilation is necessary for this version. Are the docs out of date or does the issue remain?

[2016-10-03 13:34] cancan101 commented on #4712
How hard would it be to generate wheels for different CCs?

[2016-10-03 13:43] anbai106 opened #4729 "IOS #include "unsupported/Eigen/CXX11/Tensor""
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System: Mac OS X EI captain 10.11.6

Installed version of CUDA and cuDNN:
No

If installed from binary pip package, provide:

1. A link to the pip package you installed:
I install tensorflow from source following this site: https://github.com/tensorflow/tens

[2016-10-03 13:57] dsmilkov commented on #4682
Hi,

I appreciate your interest, however the `vz-projector` is not yet released, so it is not possible to test it yet. We plan to release it soon (no promises as to exactly when). When we release it, we will add a documentation in the "How to" section next to the other TensorBoard pages.

As for the broken compile, we are fixing it internally today - the update should show up in 1-2 days on GitHub

[2016-10-03 13:57] #4682 closed

[2016-10-03 14:34] VALARMO commented on #4680
Yes,My Pi also encountered this problem,and I found in the ./third_party/eigen3/unsupported/Eigen/CXX11/Tensor ,just one line in this file:
#include "unsupported/Eigen/CXX11/Tensor",Is that due to some UNcompleted compile?

[2016-10-03 14:55] JohnAllen commented on #2919
Does the above fix mean that using `feed_dict` isn't slow now?

[2016-10-03 15:35] yaroslavvb commented on #2919
@JohnAllen it's still slow

[2016-10-03 15:36] yaroslavvb commented on #4516
@rizar removing tf.slice would break existing models which use it

[2016-10-03 15:44] nanddalal commented on #2919
@JohnAllen I would recommend https://github.com/tensorflow/tensorflow/issues/3377#issuecomment-239969809

[2016-10-03 16:05] sskgit commented on #4105
@davidzchen Thanks for your response.

used bazel clean --expunge (this cleaned 500MB space) and re-configured tensorflow using ./configure

Run the bazel build again..

bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package

ERROR: /$HOME/Downloads/tensorflow/tensorflow/core/kernels/BUILD:1710:1: error while parsing .d file: /$HOME/.cache/bazel/_bazel_gpuadmin/52adb8ea4

[2016-10-03 16:18] hfutxrg commented on #4726
Thanks. I tried a smaller batch size 64 and it works now.

[2016-10-03 16:32] #4726 closed

[2016-10-03 16:32] IreneZihuiLi commented on #2025
So it is like to use Lagrange Multipliers, just combine with new alphas.

[2016-10-03 16:41] sandersk commented on #4636
Thanks for the report, @qweelar. Looking into this issue with the tutorial code.

[2016-10-03 16:59] al626 commented on #4677
Closing this as both issues have been fixed in version 0.11 (although a ValueError is given instead of an IndexError)

[code]

It was probably `caceb02f75ff80a8e48440720cec3d7d6fa3297e` that fixed it.

[2016-10-03 16:59] #4677 closed

[2016-10-03 16:59] concretevitamin commented on #4712
/cc @gunan on the release question above

[2016-10-03 17:06] aselle commented on #4614
It is on my radar.  tf.unique_indexes does give the indices.

[2016-10-03 17:09] danielschonfeld opened #4732 "Input ops fed networks operate considerably slower than direct feed ones"
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
http://stackoverflow.com/questions/39794149/when-introducing-the-optimizer-variables-under-variable-scope-get-recreated-twic

### Environment info
Tried both OS X and Linux (Ubuntu 16)
On both utilizing CPU only.

### If possible, provide a minimal reproducible example (We usually don't ha

[2016-10-03 17:10] aselle commented on #4614
Sorry this is in my notes... here are all the differences between numpy that I notice:

_Not compatible. numpy accepts arbitrary shapes and tf accepts only shape=(1,). tf unconditionally returns the index array whereas numpy does this only if return_index is true. np can optionally also return inverse map or return counts of each elements usage. Workaround is tf.unqiue(tf.reshape(x, [-1])). Intern

[2016-10-03 17:12] gunan commented on #4712
Without going into specifics, I can say that each new configuration to maintain is an added burden across the board, in terms of build, release and maintenance.
Therefore, in terms of released packages we would rather create packages that work for most.
If a user needs a specific build that would perform best on their setup, they likely also need to add other compiler flags based on which CPU they

[2016-10-03 17:13] aselle commented on #206
`tf.gather_nd` does not have gradients yet, but it will soon. `tf.gather_nd` is not used by pythonic `__getitem__` slicing e.g. you cannot yet do
`x=[1,2];y=[1,1]; foo[x,y]`.l @danijar's example is only "basic indexing". Everything that Tensor.__getiem__ supports does support Gradients.

[2016-10-03 17:16] concretevitamin commented on #4729
This seems to be a duplicate of #4680.  Please follow the development there, thanks.

[2016-10-03 17:16] #4729 closed

[2016-10-03 17:17] concretevitamin commented on #4728
Can you post the answers to the questions shown in the New Issue template?

As a quick sanity check, what's your build command?  Did it include `--copt=-mavx`?

[2016-10-03 17:18] concretevitamin commented on #4727
@hholst80 Yes, we'd very much appreciate a PR for this!

[2016-10-03 17:39] bluemonk482 opened #4733 "Bidirectional RNN: forward and backward passing to the middle of the sentence"
Hi all, I have a task that requires me to split a sentence into two and model the two parts respectively using bidirectional rnn, e.g.:

**"I think of A, but I am going to B tomorrow"** split into **"I think of A"** and **"but I am going to B tomorrow"**; forward passing goes from "I" to "A" while backward passing goes from "tomorrow" to "but". This way two outputs are trained using directional rn

[2016-10-03 17:57] aselle commented on #4422
Closing automatically due to lack of recent activity. Please reopen when further information becomes available. Thank you.

[2016-10-03 17:57] #4422 closed

[2016-10-03 17:57] aselle commented on #4352
Closing automatically due to lack of recent activity. Please reopen when further information becomes available. Thank you.

[2016-10-03 17:57] #4352 closed

[2016-10-03 17:57] gunan commented on #4365
I ran into the problem with bazel 0.3.1
Unfortunately, we completely missed this with docker, because in a docker container we log in as root, and everything is read/writable for us.

I will uninstall and reinstall cuda8 and cudnn5 to see if I can go back to the broken state of things for me.

[2016-10-03 18:02] aselle commented on #4403
You can try googling for that Python error. It is definitely not unique to TensorFlow, and given that the package works for me on Ubuntu 14, it has to either be your Python or SSL configuration or your network. You can try downloading the file manually with wget and then pip installing afterwards.

i.e.

wget  $TF_BINARY_URL
pip <downloaded file>

[2016-10-03 18:05] aselle commented on #4441
Closing automatically due to lack of recent activity. Please reopen when further information becomes available. Thank you.

[2016-10-03 18:05] #4441 closed

[2016-10-03 18:23] aselle commented on #4413
According to the documentation, you need to assign the result of `tf.InteractiveSession` to a variable:
https://www.tensorflow.org/versions/r0.11/api_docs/python/client.html#InteractiveSession

That being said, the behavior seems to be different between 0.10 and nightly build, so this may be working differently now. Could you try it in the nightly build?

[2016-10-03 18:24] aselle commented on #3766
Closing automatically due to lack of recent activity. Please reopen when further information becomes available. Thank you.

[2016-10-03 18:24] #3766 closed

[2016-10-03 18:27] aselle commented on #4521
It seems to work on CPU only for me, does it work on CPU for you?

[2016-10-03 18:37] rizar commented on #4516
I understand that. But I thought that this is exactly what deprecation is
used for. By deprecating tf.slice officially you could encourage people to
not use it in new projects and replace it with tf.strided_slice in the old
ones. This way it could be eventually removed.

On Mon, 3 Oct 2016 at 11:38 Yaroslav Bulatov <notifications@github.com>
wrote:

[2016-10-03 18:42] jrbtaylor opened #4734 "Unable to restore session with batch_norm"
I am saving my model during training with saver = tf.train.Saver() and then conditionally saver.save(sess,filename). It works for my model and allows me to restore the session later if I do not use batch normalization. With batch_norm layers in the model (either the one in contrib.layers or contrib.slim) I get the following error when I try to restore the session:

`FailedPreconditionError: Attemp

[2016-10-03 19:04] civilman628 opened #4735 "Resource exhausted error in the middle of training"
I train the inception v1 (slim) model on my own data set. 269 classes total.
The max training step is 60435 and batch size is 256 as below
**--max_number_of_steps=60435
--batch_size=256**
The model runs under GPU mode and I have 4 Tian X GPUs, with each has 12G GPU memory.
The Resource exhausted error happen after at least 46831 trainning steps, since i can see the last check point file is model.c

[2016-10-03 19:22] aselle commented on #4516
I of course would like to get rid of redundancy, however there is always a tradeoff. While it is true that deprecation helps make changes more graceful, it does not make them zero cost for users. It just defers that cost to a potentially more convenient time in the future instead of forcing it immediately. We are thinking about deprecating it, but I don't know when that will happen.

[2016-10-03 19:27] aselle commented on #4516
In any case, back to the original issue.
1. tf.slice: I will add a pointer to strided_slice in the slice documentation for now as it works like you are suggesting.
2. tf.transpose: I don't know what you mean by mask. You specify which axis indices should be swapped i.e. for a rank-2 matrix  A, tf.transpose(A, [1,0]) is normal transposing and tf.transpose(A,[0,1]) is identity. This is consistent wi

[2016-10-03 19:28] derekwisong opened #4736 "Build Failing Compiling with CUDA 8.0, CUDNN 5.1.5, Bazel 0.3.1"
Building Tensorflow with Bazel 0.3.1 + CUDA 8.0 + CUDNN 5.1.5 and latest GIT is failing

`# bazel build -c opt --config=cuda //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

Here is the end of the error.

[code]

### Environment info

**Graphics card capability 3.0**

`# lspci -v | grep -i nvidia`
[code]

`# git rev-parse HEAD`
`3d35376a66cde4f3e614c746d3c8708d15caa1b5`

`# ba

[2016-10-03 19:32] altosaar opened #4737 "No gradient defined for operation EluGrad"
tf.nn.elu does not support second derivatives currently.

This would be awesome, as in variational autoencoder models these activation functions improve performance by a few nats in the objective compared to tanh, sigmoid (which do support second derivatives).

In the meantime I'm using `elu = lambda x: tf.select(x < 0., tf.exp(x) - 1., x)` which seems to work:

[code]

[2016-10-03 19:35] davidzchen commented on #4105
@sskgit Interesting. Can you open a bug at bazelbuild/bazel for this issue? Thanks.

[2016-10-03 19:53] #4734 closed

[2016-10-03 19:54] markpwoodward opened #4738 "Feature Request: Include function argument defaults in the documentation"
I have recently started using functions from tf.contrib. They speed things up a lot. Thank you.

I did notice that some of the prototypes in the documents have their arguments replaced with `(*args, **kwargs)`. See tf.contrib.layers: https://www.tensorflow.org/versions/r0.11/api_docs/python/contrib.layers.html#layers-contrib. Perhaps this is automatically done if the number of arguments exceeds so

[2016-10-03 20:18] danmane commented on #4721
TensorBoard does store many images per tag, but as you point out the UI only surfaces the most recent one.

This could be improved by adding some UI for loading older images in the sequence - maybe a slider on the left that changes which image gets loaded by each image-loader, e.g. if the slider is set to the far left it loads the earliest image, if it is set to far right it loads the latest image

[2016-10-03 20:22] TimZaman commented on #4721
F5 and reload does not seem to be very smooth though - probably a caching
issue where flushed data appears (with reloading) only after some time.

Can you give some pointers where to start? i might look into this one over
the weekend.

On Monday, 3 October 2016, Daniel W Mane <notifications@github.com> wrote:

[2016-10-03 20:23] kstant0725 opened #4739 "Feature request: Implement QR decomposition"
Feature request:  A tensorflow op that performs numerically stable (works on non full rank matrices) QR decomposition along with gradients so that it can be used in layers and cost functions.

[2016-10-03 20:44] aidan-plenert-macdonald commented on #4359
@vrv Do you know the answer to [this](http://stackoverflow.com/questions/39797095/tensorflow-custom-allocator-and-accessing-data-from-tensor)?

[2016-10-03 20:47] slundqui commented on #4521
This does seem to be a GPU specific bug, as the code works fine on the CPU.

[2016-10-03 20:55] brando90 commented on #3317
Did anyone actually create an explicit (maybe small) example using either of the two suggestions?

[2016-10-03 21:04] unsalted commented on #4710
Fixed with PR #4711

[2016-10-03 21:04] #4710 closed

[2016-10-03 21:09] MahdiNazemi commented on #4078
@chocolate9624 Could you find any solutions to the problem? I'm still looking for a solution...

[2016-10-03 21:26] Euphemiasama commented on #20
Thank you @philoniare I too have CUDA 8 and it works now !

[2016-10-03 21:58] sandersk commented on #4636
Hi @qweelar, the float64 warning is due to a bug with the load_csv_with_header function that was fixed in commit b6813bd. This fix isn't in TensorFlow release 0.10, but should be in the next release.

In the meantime, for the purposes of the tf.contrib.learn quickstart, you can safely ignore the float64 warning.

(Side note: In terms of the other deprecation warning, I will be updating the tutoria

[2016-10-03 22:14] 3XX0 commented on #3052
CUDA 8.0 images are now available!

[2016-10-03 22:23] qweelar commented on #4636
Cool thanks for the updates @sandersk

[2016-10-03 22:24] #4636 closed

[2016-10-03 22:55] sskgit commented on #4105
@davidzchen Opened an issue with bazel as well. I have tried the build almost 10 times in last couple of days. Still trying to figure why the build fails and how do I complete the build successfully.

[2016-10-03 23:47] martinwicke commented on #4656
weights_ may actually go away soon, so I wouldn't rely on it. Please use get_tensor_value instead.

Out of interest, what would you be using it for? We're removing it because we didn't feel it was worth it.

[2016-10-03 23:48] #4416 closed

[2016-10-03 23:51] martinwicke commented on #4379
Sorry, I was traveling for a bit. Is this an issue at head? There have been transient issues due to download issues, re-closing tensorflow mostly fixes those. Can you try with a fresh tensorflow?

[2016-10-03 23:52] martinwicke commented on #4375
We don't have the bandwidth to review books. However, we are thinking about redoing our community page, so stay tuned.

[2016-10-03 23:52] #4375 closed

[2016-10-03 23:54] martinwicke commented on #4311
I'll close this issue. Please comment to reope if there something that we can/should do to our configure script.

The `--expunge` is net beneficial in terms of issue load, I fear, so that'll stay for now.

[2016-10-03 23:54] #4311 closed

[2016-10-03 23:56] martinwicke commented on #4078
Your driver (kernel module) is really old: 340.96. Can you upgrade to a more recent driver/cuda?

[2016-10-03 23:58] martinwicke commented on #3984
You cannot remove the fetches from ./configure. We have some source dependencies, and we require them to build. Not sure that's the reason for the error, but it's not unlikely.

[2016-10-04 00:02] martinwicke commented on #3571
In summary, setting the version explicitly should work.

[2016-10-04 00:02] #3571 closed

[2016-10-04 00:08] martinwicke commented on #3569
Ok. We'll wait for 0.4, make that the minimum version and add the `--action_env` to the bazelrc.

[2016-10-04 00:09] martinwicke commented on #3550
Closing this for inactivity. Please comment with new information to reopen.

[2016-10-04 00:09] #3550 closed

[2016-10-04 00:11] bc-lee commented on #4674
Unfortunately, either `CUDA_VISIBLE_DEVICES=none` or `CUDA_VISIBLE_DEVICES=''` won't work. Do I need to build and test other branches?

[2016-10-04 00:14] martinwicke commented on #3494
I'll close this as duplicate of #2940.

[2016-10-04 00:14] #3494 closed

[2016-10-04 00:19] martinwicke commented on #3364
@sandersk has a change in progress which will fix this.

[2016-10-04 00:26] tatatodd commented on #4431
@andydavis1 or @rmlarsen might know whether there are such plans.

[2016-10-04 00:35] martinwicke commented on #217
@yifeif is working on this. I'll reassign.

[2016-10-04 00:46] aselle commented on #3527
I will look at this first thing tomorrow.

[2016-10-04 00:57] tatatodd commented on #4444
FYI I'm looking into how to update the codelab, and will update this bug once it's resolved.

[2016-10-04 01:02] derekwisong commented on #4736
I resolved the issue. I tried the default gcc for my system, 6.2.1, which failed. I then tried a symlink to gcc-5, which failed in another way (complained about the cross compiler), but when I provided the full path to /usr/bin/gcc-5 in the ./configure step, the compilation worked.

[2016-10-04 01:09] tatatodd commented on #4456
Actually #654 is marked as "contributions welcome".  Let's consolidate discussion on that issue, so there's one place to look.

[2016-10-04 01:09] #4456 closed

[2016-10-04 01:15] yaroslavvb opened #4740 "fully_connected_preloaded_var.py unexpectedly slow"
From http://stackoverflow.com/questions/39840323/benchmark-of-howto-reading-data -- `examples/tutorials/mnist/fully_connected_feed.py` runs roughly 10x faster per step (`feed_dict`) than `examples/tutorials/mnist/fully_connected_preloaded_var.py` (TF variable with `slice_input_producer`). Looking at Timeline (attached), it seems the training is bottlenecked on QueueDequeueMany which takes 13ms
whi

[2016-10-04 01:19] tatatodd commented on #4543
@ilblackdragon seems to have written that code - can you respond to this?  Thanks!

[2016-10-04 01:24] tatatodd commented on #4545
Here is the documentation for `tf.unpack`:
https://www.tensorflow.org/versions/r0.11/api_docs/python/array_ops.html#unpack

Note this line in particular:
If num is not specified (the default), it is inferred from value's shape

Try changing your code above to just the following:
[code]

[2016-10-04 01:28] tatatodd commented on #4550
Thanks for the question @zorancupic!

We primarily use github issues to track bugs and installation problems.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

[2016-10-04 01:29] tatatodd commented on #4581
Thanks for the question @zhougr1993!

We primarily use github issues to track bugs and installation problems.  This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

[2016-10-04 01:29] #4581 closed

[2016-10-04 01:39] tatatodd commented on #4590
Thanks for filing the issue @gibiansky!

Do you have a use-case where the current shape inference behavior is making it hard or impossible to do something?  That will make it easier for us to prioritize this general class of problems.

FYI there is a trade-off between full-blown shape inference including const-propagation, vs simpler code.  So it's not obvious that full-featured shape inference wi

[2016-10-04 01:56] #4648 closed

[2016-10-04 02:02] tconkling commented on #4640
For me, at least, the `compile_ios_protobuf.sh` script is only failing when compiling for `-arch x86_64`. The other 4 targets - i386, armv7, armv7s, and arm64 - compile without an error. (So, I think this means it's not actually the iOS targets that are failing here; it's the 64-bit Mac OS version of the lib.)

[2016-10-04 02:04] tatatodd commented on #4607
@hhexiy I'm not positive, but I believe that you can call `foldl` and `foldr` with an appropriate `initializer`, and the output type and shape can be anything that you want.

[2016-10-04 02:34] gibiansky commented on #4590
Sure. What motivated filing this was a confusing error message and non-obvious solution with regard to `dynamic_rnn`. I was slicing a part of my input sequence (for example I needed to train on times T_0 through T_end, where T_end is computed as part of the graph) using `tf.slice`. However `dynamic_rnn` requires that the input has the last dimension defined (since that dimension is the dimension o

[2016-10-04 02:54] ethereon opened #4742 "Atrous convolution does not preserve tensor shape"
For an input with an undefined batch size, `atrous_conv2d` emits tensors where all except the final dimension are undefined:

[code]

(For concrete batch sizes, everything works as expected.)

Tested on `0.10.0rc0`

[2016-10-04 03:03] tatatodd commented on #4620
@fayeshine Do you have a specific problem that you're working on, or is this just for general information?

@zheng-xq might have some info on specifics.

[2016-10-04 03:16] tatatodd commented on #4626
@vinhqdang is there any other information returned in the failure?

Based on #255, you might try running the device query binary from nvidia's samples, to see whether the GPU is properly detected.

[2016-10-04 03:26] zheng-xq commented on #4620
United memory is great for minimizing effort to port existing CPU application to GPU. This could change in the future, but it doesn't seem to offer much performance benefit for frameworks like TensorFlow that are optimized for GPU. Since all the buffers are in forms of explicitly managed tensors, we can already reap most of the sharing between CPU and GPU through pinned memory, if necessary.

Nati

[2016-10-04 03:31] sumitbinnani commented on #4656
Not anything in particular. Was exploring the parameters to understand what model is learning, and had difficulty understanding what the parameters returned by ``weights_`` meant.

[2016-10-04 04:31] arundasan91 commented on #4640
@derekshi, I am sorry. I am still using El Capitan in my local machine. I have access to a Sierra machine rarely here. So I tested whether the latest `master` is working properly with El Capitan.

Currently, I have a working environment with XCode8 in El Capitan and can successfully build and run both Simple and Camera examples. Works fine with iOS 10 as well. The branch is a few weeks old and I m

[2016-10-04 04:36] lentebloem commented on #3990
I met the exact same issue when using tflearn. Has anybody been able to fix it?

[2016-10-04 05:23] packtpartner commented on #4375
Sure @martinwicke . Keep me updated :)

[2016-10-04 05:39] hfutxrg opened #4744 "Poor performance with multi-GPU"
I tried to train the example inception-v3 network on multiple GPUs. The following commands are used:
/* use 4 GPUs */
bazel-bin/inception/imagenet_train --num_gpus=4 --batch_size=64 --max_steps=2000 --train_dir=... --data_dir=...

/*use 2 GPUs */
export CUDA_VISIBLE_DEVICES=0,1
bazel-bin/inception/imagenet_train --num_gpus=2 --batch_size=32 --max_steps=2000 --train_dir=... --data_dir=...

/*use 1

[2016-10-04 06:36] tripiana commented on #4728
Hi @concretevitamin and @benoitsteiner,

the **bazel** command was:

`bazel build --nofetch --verbose_failures --ignore_unsupported_sandboxing --genrule_strategy=standalone --spawn_strategy=standalone --host_crosstool_top=@bazel_tools//tools/cpp:toolchain-mn --host_cpu=mn --crosstool_top=@bazel_tools//tools/cpp:toolchain-mn --cpu=mn -c opt --strip=always //tensorflow/tools/pip_package:build_pip_pa

[2016-10-04 06:44] ayushchd opened #4746 "ksize in max_pool"
I am trying to build a convolution (followed by max_pool) for variable length input size. Since the length of the input in a batch should be the same, I set the batch size to 1. However, for some reason ksize in tf.nn.max_pool is a list attribute required at run-time. This would prevent any neural network that uses variable input size to apply max pool. Is there a workaround for this? Should ksize

[2016-10-04 06:47] tripiana commented on #4728
Answers to the New Issue template:

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
I haven't found any information after googling a lot.

### Operating System:
SLES 11.3 (x86_64)

### Installed version of CUDA and cuDNN:
No GPUs on this cluster. No GPU libs installed.

### Compilation, not a PIP package.

### The commit hash (`git rev-

[2016-10-04 06:58] haosdent commented on #3810
Hi, @aselle I create a pull reuqest at https://github.com/tensorflow/tensorflow/pull/4747 to fix this. May you help to review it? Thank you in advance!

[2016-10-04 07:09] haosdent commented on #3810
The online preview address is https://haosdent.gitbooks.io/tensorflow-document/content/api_docs/

[2016-10-04 07:45] daeyun commented on #3290
was this fixed? I'm wondering if this happens with `tensorflow.contrib.slim.batch_norm`.

[2016-10-04 07:59] Lustralisk opened #4748 "Configure fail when install from source code"
I Installed with following settings: centOS 7, CUDA 7.5, cudnn v4, python 2.7

After I filling in the configurations using

`./configure`
and I got this error
[code]

When I tried with v0.9 there is no such problem. And I don't need those android features.

Anybody encountered the same problem? How can I fix this issue?

[2016-10-04 08:02] anbai106 commented on #4680
Hi, I had the same problem for my Mac with ios_example, when I launched it from xcode, I got error:
#include "unsupported/Eigen/CXX11/Tensor"                 it said that it can not find the Tensor file.
So I just followed here, to add this line #include "unsupported/Eigen/CXX11/Tensor" inside  the Tensor file(which is located in: tensorflow/tensorflow/contrib/makefile/downloads/eigen/unsupported/

[2016-10-04 08:04] shubhamjain0594 commented on #3052
Where can I find them?

[2016-10-04 08:22] vinhqdang commented on #4626
Here is the ``nvcc`` I have

[code]

[2016-10-04 08:33] yhg0112 opened #4749 "Minor instruction issue in functional_ops.py/scan"
I had been using functional_ops.py/scan for implementing RNNs.

I've just checked the instruction, and think this is little bit wrong.

In master branch, from line 419 in functional_ops.py, it says

[code]

.

But actually the first argument of _fn_ should have the same structure as _initializer_,

and the second should have the same structure as _elems_.

As we can see this in few examples just b

[2016-10-04 08:35] andrei-pokrovsky commented on #2903
Sometimes it resolves it, sometimes not :)

[2016-10-04 08:39] vinhqdang commented on #4626
Oops, I think the problem is: I am running Mac OS 10.12 with Xcode 8, clang 8 and CUDA 8.0, but CUDA 8.0 does not support clang 8

[code]

[2016-10-04 08:47] LargonD commented on #571
This issue persists when you change the name of the run folder. It seems that the checkpoints/checkpoint file only keep the old path and tf fails when latest_checkpoint is used over this new folder.

[2016-10-04 08:50] chenghuige commented on #4706
@concretevitamin  well I think as in version 0.10, it will launch only one GPU, unless your code is like models/image/cifa10/
to explicitly set using more then 1
  for i in xrange(FLAGS.num_gpus):
      with tf.device('/gpu:%d' % i):

[2016-10-04 08:55] chenghuige opened #4750 "Error loading from meta graph, KeyError: u'RsqrtGrad'"
On centos 6.3, I have tested both on tf 0.10 and 0.11rc0, all facing this problem.
Loading meta graph from saved model meta graph file.

 File "/home/gezi/mine/tensorflow-exp/util/melt/inference/predictor.py", line 61, in restore
    saver = tf.train.import_meta_graph(meta_graph)
  File "/home/img/common/tensorflow.gpu.bigdata/lib/python2.7/site-packages/tensorflow/python/training/saver.py", line

[2016-10-04 10:34] Fr-d-rik commented on #3114
I am getting the exact same error for a very similar model (also on v0.10.0). Given that some time has passed since the last post, I'd be curious whether any of you have found a solution or workaround to this issue and would be willing to share.

[2016-10-04 10:39] tripiana commented on #4728
Adding `--copt=-mavx` did not work. Same error.

[2016-10-04 11:43] tripiana commented on #4728
Seems like this commit is breaking the compilation: https://github.com/tensorflow/tensorflow/commit/3057e97bf5d8079f6e139212c6812fd07e989390#diff-8157d290f5c74391c3c97d5694f001c2

AFAIK, the problem is that this commit adds new Eigen stuff, and it's not working. I think it is because at some point wants to cast a couple of things (var a and literal 0), and cannot do it.

[2016-10-04 12:08] hlzz commented on #4748
+1 got the same problem when build it on centos

[2016-10-04 12:10] jonasrauber opened #4753 "tf.gfile.Glob blocks forever"
### minimal reproducible example

[code]
### environment info

Operating System: Ubuntu 14.04
TensorFlow version (installed using the official binary): 0.11.0rc0
Python version: 3.4.3

[2016-10-04 12:11] link-er commented on #3114
@Fr-d-rik hi!
The way that I was able to found - remove Variable initialization from the scan step. I do not know is this a case for you, but I had something like
[code]
inside the step. Once I removed it outside the step, by announcing earlier and just accessing inside, error disappeared.
Hope it can help you

[2016-10-04 12:14] jonasrauber commented on #4753
Updates:

1. The problem exists in Python 2 and 3.
2. Seems to be a bug in 0.11.0rc0, because it does work with 0.10.

[2016-10-04 12:40] tripiana commented on #4728
It may be an error coming from the recently implemented Eigen's half type, but I'm unable to find a fix.

[2016-10-04 13:20] jlowin commented on #1045
I would never have been able to solve this problem if I hadn't found this issue. If `tf.initialize_all_variables()` doesn't initialize local variables, then there's either a bug in its implementation, a documentation issue (specifically, the word "all"), or both.

[2016-10-04 13:46] phvu commented on #4296
I guess we should wait until the PR is reviewed.

[2016-10-04 13:53] damienmg commented on #3569
FYI this flag is in 0.3.2 release candidate, so should be out in the next week

[2016-10-04 13:57] damienmg commented on #4365
Ok I need to try it out I guess on latest ubuntu? Will do as soon as I can free some bandwidth.

[2016-10-04 14:10] Lustralisk commented on #4748
I don't know whether something wrong with the java environment

[2016-10-04 14:10] chenghuige opened #4754 "Nan values after applying gradients"
Not sure it is a tf bug, I have also posted to stackoverflow so if consider not proper to be here close this. I find one similar question on stackoverlfow but no reply yet.
[nan-in-summary-histogram](http://stackoverflow.com/questions/39854390/nan-in-summary-histogram)
[why-am-i-getting-invalid-argument-nan-in-summary-histogram-for-histogramsummar](http://stackoverflow.com/questions/39828550/why-a

[2016-10-04 14:13] FlorianWilhelm commented on #4550
@tatatodd But what about feature requests? It seems to me that @zorancupic is asking for a cost functional ``tf.nn.sparse_sigmoid_cross_entropy_with_logits(logits, labels, name=None)`` analogously to the already provided ``tf.nn.sparse_softmax_cross_entropy_with_logits(logits, labels, name=None)`.

[2016-10-04 14:29] zorancupic commented on #4550
@tatatodd I asked this question on Stackoverflow and didn't get the answer, that this cost function is provided in TensorFlow. But like @FlorianWilhelm mentioned, this would be a good Feature Request. Sparse labels and the multilabel image classification task often occur.

[2016-10-04 14:37] hholst80 commented on #2444
I did some [investigations](https://github.com/hholst80/tensorflow-sgemm) myself on this. I have not been able to reproduce the performance speedup in `perftest.py` in a real environment. Actually, in our "production code" we got a slowdown and I hope I can return to investigate why later on. If anyone have some battle experience to share I am happy to hear about it!

My machine is 75% loaded righ

[2016-10-04 14:47] hholst80 commented on #4754
I'm debugging similar looking problem right now. I'll comment later on if we find anything. The graph does not indicate why all of the sudden the policy blows up.

[2016-10-04 15:03] chenghuige opened #4757 "import meta graph bug reading model with scope name changed"
Same issue for tf 0.10 and 0.11.rc0.
The problem is if you read one model, change the top scope name, write a new model, then you read the new model, but still you got the old top scope name.
How to reproduce

- create model
python create-model.py

        import tensorflow as tf

        sess = tf.InteractiveSession()

        with tf.variable_scope('old'):

            w = tf.get_variable('w', s

[2016-10-04 15:18] dxin1234 opened #4758 "AttributeError: type object 'NewBase' has no attribute 'is_abstract'"
I uninstalled anaconda and reinstalled tensorflow using the pip installation.

Originally it was having trouble updating numpy, but after I fixed that now I'm getting this error:
[code]
Could this be because uninstalling anaconda left some residual effects. I noticed my $PATH still has anaconda prepended to it
`$PATH -bash: /Users/usr/anaconda/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/

[2016-10-04 15:57] benoitsteiner commented on #4728
I'm testing a change that could solve this compilation error. There is no guarantee though since I don't have access to your custom toolchain to validate the fix. I'll update this issue once the fix is available.

[2016-10-04 16:06] tripiana commented on #4728
Ok no problem, just give me this patch and I'll test it in my toolchain asap. Thanks!!

[2016-10-04 16:15] ebrevdo commented on #3114
It's common to access an external variable inside a while_loop.  For
example, RNN code does this all the time via tf.get_variable().  How are
you creating a variable?  Directly with tf.Variable?

On Tue, Oct 4, 2016 at 5:11 AM, Linara Adilova <notifications@github.com>
wrote:

[2016-10-04 16:15] hfutxrg opened #4759 "AttributeError: 'module' object has no attribute 'NodeDef'"
I tried to run the distributed Tensorflow for inception-v3 example, but I have the following errors in worker nodes:
[code]

Based on the information, the line 214 is
var_def = graph_pb2.NodeDef(name=var_name, op='Variable')

And at the beginning of variables.py, it has the line
from tensorflow.core.framework import graph_pb2

But I could not find any graph_pb2 from tensorflow/tensorflow/core/fram

[2016-10-04 16:22] link-er commented on #3114
Yes, I was doing it like this before and then I changed it to get_variable, that fixed the error
But still maybe the error message can be a little bit changed, because it is really hard to get what is causing it

[2016-10-04 16:24] hermitman commented on #2169
Hi, All:

I built a unpooling layer using the tensorflow ops, and started to try to train the network.
However, all my gradients are computed as "None", and my error message sort of reads like the following:
[code]

The errors is originated from adding the gradients to the Tensorboard visualizer using:
[code]

My loss and gradients are computed as follows:
[code]

[2016-10-04 16:34] shisu250 commented on #4346
Hi. @andrewharp @petewarden   What time can solve android dequantize performance problem ? If solved, can you inform me ? Thx.

[2016-10-04 16:46] oanoelsis commented on #1162
is it fixed now? I have a same problem about tf.saver.restore() with different batch size train time and inference time. and i want to know this is the reason or not.

[2016-10-04 17:39] civilmanxx commented on #4735
It seems that this crash or OOM issue happen after program write .ckpt file and start the following training steps.

the error is after line : **INFO:tensorflow:global_step/sec: 0.648611**, which program  just output .ckpt and start the following training steps again. But why previous loop (output *.ckpt file and continue training ) has no issue?

INFO:tensorflow:global_step/sec: 0.648596
INFO:ten

[2016-10-04 17:55] bman7903 commented on #479
make sure yout python-config is pointing to your python bin.  For simplicity just use python2 for building and you wont have to fix as much

[2016-10-04 18:07] Mazecreator commented on #4714
Another addition that might be nice to add would be a COLLECTIONS tab.  Simply display the names of the Operation & Tensors within all the collections.  This should include Tensor Size, etc, whatever can be extracted from the graph.  This would be a quick reverence to the topology of the graph and helpful if you go back to a different structure and looking to see what the Network looks like or wha

[2016-10-04 18:21] ritchieng opened #4760 "Check failed: stream->parent()->GetConvolveAlgorithms(&algorithms)"
I've the following error. I'm using a conda installation of tensorflow. I'm struggling to try to use it with my GPU.

[code]

which nvcc returns
`/usr/local/cuda-7.5/bin/nvcc`

nvcc version returns
`Cuda compilation tools, release 7.5, V7.5.17`

I tried downloading CuDNN v5.1 and did the following but it didn't work either
[code]

I tried on the other folder too
[code]

[2016-10-04 18:30] gibiansky opened #4762 "Request for documentation: Loop implementation"
I am trying to understand the implementation of `tf.while_loop` and everything that is built on top of it, because I am implementing a custom `tf.Graph` subclass, and finding that the way `tf.while_loop` is handled during gradient computation is important for what I am doing.

However, I cannot find any documentation on the ops that comprise `tf.while_loop` – is there any internal documentation on

[2016-10-04 18:31] tatatodd commented on #4590
@gibiansky yes that makes sense, and thanks for the clear write-up!  :)

FYI the following commit added the current logic:
https://github.com/tensorflow/tensorflow/commit/5989d094ae15011c9a8a92d6fbcd829be71afa12

There's a technical detail that makes it hard for us to implement better shape inference when the size argument is only partially known.  I'll think about this a bit.

[2016-10-04 18:35] craymichael opened #4763 "Ability to Save Checkpoints Every N Steps using Estimator"
TensorFlow Version: r0.10.0rc0

For TensorFlow/SKFlow/tf,learn Estimators, there is no option for specifying when an Estimator saves checkpoints other than `save_checkpoints_secs` in a `RunConfig`, which isn't usable for a monitor such as `ValidationMonitor`. For example, if I want to do early stopping and check every 10 steps, it is definitely not guaranteed that new checkpoints were saved for th

[2016-10-04 18:47] bhack commented on #22
Two new Kronos Group standards are released at https://www.khronos.org/news/press/khronos-launches-dual-neural-network-standard-initiatives

[2016-10-04 18:58] klpickrell commented on #4715
I've run into this as well.  It appears to be related to changes made specifically for n_classes=2.  Setting n_classes to 3 in jharting's example will enable it to run.

[2016-10-04 19:14] oxydron commented on #3388
Same problem on elementary OS 0.4 Loki

- conda version : 4.2.9
- conda-env version : 4.2.9
- conda-build version : 2.0.2
- python version : 3.5.2.final.0
- tensorflow                0.10.0

Not everytime too.

[2016-10-04 19:18] tatatodd commented on #4444
It looks like Wolff added the codelab - assigning to him to get it fixed up.

[2016-10-04 19:25] Lustralisk commented on #4748
Guess what, using bazel with version 3.1.0 can solve the problem. Bazel team should really think of their downward compatibility

[2016-10-04 19:25] #4748 closed

[2016-10-04 19:35] malzantot commented on #4471
I am currently working on this.
Thanks,
Moustafa

[2016-10-04 19:53] robsync commented on #4638
does .10 currently support negative indexing? as in X[:,-1] for example?

[2016-10-04 19:54] tatatodd commented on #4550
@zorancupic @FlorianWilhelm My apologies, I missed the feature request for adding a `tf.nn.sparse_sigmoid_cross_entropy_with_logits` function.

We definitely welcome pull requests for new functionality!

[2016-10-04 19:55] robsync commented on #206
Does .10 now support negative indexing? as in X[:,-1] for the last column of a tensor?  Thanks

[2016-10-04 19:58] yaroslavvb commented on #3388
That should be fixed in 0.11rc0 by
https://github.com/tensorflow/tensorflow/commit/b21c69a266b9058133827d12f8915829ae07cd9a

On Tue, Oct 4, 2016 at 12:14 PM, Ben Hur Bahia do Nascimento <
notifications@github.com> wrote:

[2016-10-04 20:05] aselle commented on #206
0.11RC does (and also master).

[2016-10-04 20:05] robsync commented on #206
thanks!

[2016-10-04 20:08] tatatodd commented on #4617
@concretevitamin might have some thoughts on this.

[2016-10-04 20:22] benoitsteiner commented on #3917
I'm assuming this is fixed. Please reopen if this isn't the case.

[2016-10-04 20:22] #3917 closed

[2016-10-04 20:43] rizar commented on #4516
1. Adding a pointer would alleviate the issue, thanks.
2. This is totally my bad: I confused `tf.transpose` and `tf.reverse`. It's the interface of the latter that I think could be improved. See the documentation below:

[code]

The interface of `tf.reverse` stands out from interfaces of other tf functions. such as e.g. `tf.transpose`, by accepting a boolean mask of dimensions instead of a list of

[2016-10-04 20:46] klpickrell commented on #4683
This seems to be a duplicate of #4715

[2016-10-04 20:53] tatatodd commented on #4624
Thanks for filing the bug @barty777!

I'm able to reproduce on my machine.  I'm not an expert on the slim framework, but it does seem like the `outputs_collections` argument to `slim.fully_connected` causes import_meta_graph to fail.  In particular, we end up with an extra field in the MetaGraphDef:
[code]
This field causes the crash reported above.

@sguada @nathansilberman Can you take a look at

[2016-10-04 20:53] aselle commented on #3527
I looked at the code you changed, and it seems plausible. I also Could you post the test logs from the failing tests. I checked your code, and it looks like what you are doing is plausible. Obvious ways to check for more areas that need changing is grepping for reinterpret_cast's and uses of unions. Also, you might want to try compiling with -fno-strict-aliasing to see if a you are hitting some st

[2016-10-04 21:03] tatatodd commented on #4649
@cswhjiang @kadafax take a look at #3985 and let me know if that fixes things.

[2016-10-04 21:03] aselle commented on #3527
More notes,

Also, in terms of looking at TensorShape which Geoffrey thought might be an issue. It looks like things would mostly be ok. One question is whether your architecture has alignment restrictions for uint16 for uint8 and uint32's. It looks like we aren't doing manipulations as anything but the word size and bytes, which probably is safe. You should insert
[code]
into `TensorShape` inside

[2016-10-04 21:08] tatatodd commented on #4652
@KingAndQueen please say which version of tensorflow you're using:

If installed from binary pip package, provide:

1. A link to the pip package you installed:
2. The output from `python -c "import tensorflow; print(tensorflow.__version__)"`.

If installed from source, provide

1. The commit hash (`git rev-parse HEAD`)
2. The output of `bazel version`

For basic usage of tensorflow, see the docume

[2016-10-04 21:10] civilmanxx opened #4766 "freeze graph for inception v1 fine tuned .ckpt model file fail. Attempting to use uninitialized value"
I try to fine tune inception v1 model on my own dataset, and i choose optimizer: rmsprop

the cmd is as below:

---

python train_image_classifier.py \
  --train_dir=/home/scopeserver/RaidDisk/DeepLearning/mwang/tensorflow/v1_finetune/ \
  --dataset_name=animals \
  --dataset_split_name=train \
  --dataset_dir=/home/scopeserver/RaidDisk/DeepLearning/mwang/data/datadic_train/ \
  --model_name=incep

[2016-10-04 21:13] tatatodd commented on #4683
Indeed this looks like a duplicate of #4715 - closing this out so that we can focus on the fix over there.

[2016-10-04 21:13] #4683 closed

[2016-10-04 21:24] tatatodd commented on #4688
@amrit-poudel Thanks for the clear description of the problem!

The error message indicates that `sparse_tensor_to_dense` doesn't support complex values yet; we simply haven't implemented it.  Calling sess.run on a complex dense tensor works, since it doesn't involve `sparse_tensor_to_dense`.

@concretevitamin might know whether we have any plans to add support for complex values to `sparse_tensor

[2016-10-04 21:26] tatatodd commented on #4697
@fanyangxyz did the comment from @kinni help?  I suspect the same problem.

[2016-10-04 21:50] yaroslavvb opened #4767 "Problem initializing DT_DOUBLE variables in distributed TF"
If you save code below as `init_bug.py` and run as `python init_bug.py`, it crashes with error below when running `init_op`. It works fine using local session or when changing `dtype` to `np.float32`. Also fails for `np.int32` type. Tried on 0.11rc0 on MacOS

`tensorflow.python.framework.errors.InternalError: Output 0 of type float_ref does not match declared output type double_ref for node Variab

[2016-10-04 21:53] tatatodd commented on #4705
@davidzchen Do you have any thoughts on this?

[2016-10-04 22:13] yaroslavvb commented on #4767
same problem if I use `ones_initializer` or `zeros_initializer` with any `dtype` other than `float32` @mrry

[2016-10-04 22:24] tatatodd commented on #4722
@xuancong84 you seem to feel strongly about the behavior of `einsum`.  We definitely welcome contributions to the codebase!

@nikhilmishra000 contributed the current implementation of `einsum` (thanks for that!) in #4378, and might have comments on the current restrictions.

[2016-10-04 22:25] fanyangxyz commented on #4697
@kinni thanks for the comment. However, changing the source code did not help with the import problem.

[2016-10-04 22:29] civilmanxx commented on #4766
i use **optimizer: sgd** to fine tune the inception v1 model on my dataset and then freeze .ckpt to .pb file has no issue.

So the problem is free graph does not support **rmsprop**.

Is there anymore can fix this?

Thanks.

[2016-10-04 22:32] tatatodd commented on #4732
@ebrevdo might have some thoughts on this.

[2016-10-04 22:36] tatatodd commented on #4733
Thanks for the question @bluemonk482

We primarily use github issues to track bugs, installation issues, and feature requests.   This is a question better suited for StackOverflow.  Please ask it there and tag it with the `tensorflow` tag.  Thanks!

[2016-10-04 22:36] #4733 closed

[2016-10-04 22:39] chenghuige commented on #4754
@hholst80 look forward  to see your progress.
To add more info. My program use hinge loss or margin 0.5, before step 18000 the result is fine, and loss is far below 0.5, then at 180000 the train loss will suddenly increase to 0.5(just looks like random guessing), though the scores and loss value with no nan yet. Then after applying gradients the relevant embdding matix part values turn to nan. I h

[2016-10-04 22:40] tatatodd commented on #4735
@civilmanxx please fill out the following information (which was part of the default template when you clicked on the green "new issue" button):

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

[2016-10-04 22:42] tatatodd commented on #4736
Nice to hear you worked it out @derekwisong!

[2016-10-04 22:42] #4736 closed

[2016-10-04 22:44] yaroslavvb commented on #4732
I looked at some timelines in https://github.com/tensorflow/tensorflow/issues/4740 and [here](http://stackoverflow.com/questions/39840323/benchmark-of-howto-reading-data).

On official MNIST examples QueueDequeueMany is the bottleneck, whether it's reading using `parse_single_example` or using `slice_input_producer`, with or without the GPU, taking 10x longer than entire duration of step when usin

[2016-10-04 22:47] mrry commented on #4767
I ran your program (with an additional `print sess.run(global_param_var)` to confirm it was working)  using 0.11rc0 on Linux, and I couldn't reproduce your problem.

I presume you're falling foul of implicit by-name variable sharing between sessions on the same server. If you create a `DT_FLOAT` variable called `"Variable"` on the server, then create a `DT_DOUBLE` variable called `"Variable"` in a

[2016-10-04 22:47] #4767 closed

[2016-10-04 22:53] tatatodd commented on #4737
Contributions are welcome!

[2016-10-04 22:54] civilmanxx commented on #4766
It does not support **optimizer: adagrad** as well.

[2016-10-04 22:55] #4662 closed

[2016-10-04 22:56] tatatodd commented on #4738
Thanks for filing the issue @markpwoodward!  Indeed the documentation is suboptimal.

@martinwicke might have some ideas on who to involve to get this fixed.

[2016-10-04 22:59] yaroslavvb commented on #4767
Ah, indeed, it was remembering old state, tf.Session.reset fixes things, thanks!

[2016-10-04 23:01] tatatodd commented on #4739
Contributions are welcome!

[2016-10-04 23:04] alphamule commented on #4640
As a temporary workaround, if you comment out the X86_64 bits in the build scripts, you can still build the protobuf and tensorflow libraries.  The resultant libraries will work on-device, but attempts to run in the simulator will fail.

https://github.com/alphamule/tensorflow/commit/672da4fef637c5511fd2cf78a4ac8e710d0efbda

[2016-10-04 23:06] civilmanxx commented on #4766
It does not support **optimizer: momentum**

[2016-10-04 23:09] martinwicke commented on #4738
This is a problem with the `@arg_scope` decorator, which being a decorator, changes the function signature to `**kwargs` and `*args`. @sguada can we fix this by making our doc generator inspect through arg_scope and use the function args form the inside?

[2016-10-04 23:10] ebrevdo commented on #3114
Can you create a new issue, appropriately named, with a small code snippet and the full error trace?   This bug is closed.

[2016-10-04 23:17] tatatodd commented on #4740
Let's consolidate this to #4732, and follow-up on that issue.  Thanks!

[2016-10-04 23:17] #4740 closed

[2016-10-04 23:18] tatatodd commented on #4732
(see #4740 for an attached timeline)

[2016-10-04 23:26] tatatodd commented on #4742
Indeed I have reproduced the problem.  I believe @gpapan implemented atrous_conv2d, and might have thoughts on how easy this would be to fix.

[2016-10-04 23:27] ebrevdo commented on #4732
`QueueDequeueMany` takes a long time when it's waiting for enough stuff to get put on the queue.  It's not computation cycles that are slowing it down.

You need multiple reader threads all feeding the queue in order to unblock it.  If you're using `tf.train.batch` or its friends, in TensorBoard you'll see that the queue is never full (and it should be).  Increase the number of threads you use; th

[2016-10-04 23:33] yaroslavvb commented on #4767
PS: it seems more robust to just kill processes, `tf.Session.reset` seems to occasionally hang if called at the same time as launching the server process

[2016-10-04 23:37] tatatodd commented on #4744
@hfutxrg have you seen the following documentation:
https://github.com/tensorflow/models/tree/master/inception
https://github.com/tensorflow/models/tree/master/inception#how-to-train-from-scratch

In particular the following section may be useful:

---

A crucial aspect of training a network of this size is training speed in terms of wall-clock time. The training speed is dictated by many factors

[2016-10-04 23:54] tatatodd commented on #4746
FYI this was also asked about in #1957

We welcome contributions!

[2016-10-05 00:01] hughperkins commented on #22
Good news for Khronos Group standards.

For cuda-ir-to-opencl, quick update: cwise_op_gpu_add.cu.cc has now been entirely converted to opencl now https://github.com/hughperkins/cuda-ir-to-opencl/blob/master/tensorflow/generated/cwise_op_gpu_add-deviceside.cl  Not yet tried to compile it, or run it.

[2016-10-05 00:01] tatatodd commented on #4749
@yhg0112 I believe you're right, thanks for filing this!  Would you like to submit a pull request to fix this?

Adding @ebrevdo to keep him in the loop.

[2016-10-05 00:05] tatatodd commented on #4750
@chenghuige can you create a minimal test case that reproduces this problem?

[2016-10-05 00:13] tatatodd commented on #4753
@rohan100jain has done some work on gfile.Glob, can you take a look?  Thanks!

[2016-10-05 00:18] yaroslavvb commented on #4732
Ah, good point, increasing capacity, number of threads, and adding `time.sleep` in main thread to preload the examples makes `preloaded_reader` example as fast as feed_dict one.

https://github.com/yaroslavvb/stuff/commit/226099cd883df5aa5b08483581d66960ada90e22

Note that simply increasing capacity/number of threads didn't help. I suspect Python just ran the main queue until it ran out of example

[2016-10-05 00:30] nikhilmishra000 commented on #4722
Hi all -- the current einsum implementation expects the output indices to be in alphabetical order (that should be fairly straightforward to fix, though). Other than that, I think it should work correctly.

@xuancong84 Have you noticed any other bugs? Would it be easier to talk offline about any other unimplemented functionality you'd like to see?

[2016-10-05 00:36] tatatodd commented on #4754
@chenghuige @hholst80 what version of tensorflow are you using?  Please fill out the following info (which is the default template when you click on the green "New issue" button)

### Environment info
Operating System:

Installed version of CUDA and cuDNN:
(please attach the output of `ls -l /path/to/cuda/lib/libcud*`):

If installed from binary pip package, provide:

1. A link to the pip package

[2016-10-05 00:51] tatatodd commented on #4758
@dxin1234 Please provide at least the command that you're running that leads to the error.  Also provide the information from the default template, which appears when you click on the green "New issue" button.

---

### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?

### Environment info
Operating System:

Installed version of CUDA and cuD

[2016-10-05 01:08] ritchieng opened #4768 "kernel version 352.63.0 does not match DSO version 361.93.2"
Hi,

I've installed TensorFlow with CUDA and CuDNN.

Why I run a session I've the following error:
[code]

[2016-10-05 01:14] darrengarvey commented on #4705
It seems that if I copy not just the crosstool directory but the whole local_config_cuda directory (ie. the parent), then the rebuild works.

So something is trashing local_config_cuda.

I'm happy to try out various things if it'll help. I'm not sure exactly when this started but it was around the time I updated to cuda v8 - it was the RC at the time, installed on Ubuntu 15.04 via the deb installe

[2016-10-05 01:19] tatatodd commented on #4759
@hfutxrg I'm suspecting that there's a mismatch in your source code.

You mention that you've installed from source at commit hash a63b0cb.  But the stack trace above shows files under `/usr/lib/python2.7/site-packages/tensorflow`, which probably isn't where the sources are.

Try to ensure you're actually picking up the code from whereever you put your sources.  See #4200 for a similar issue.

[2016-10-05 01:21] tatatodd commented on #4760
@ritchieng Please provide info on your environment.  I.e. fill out the template that's provided when you click on the green "New issue" button.  Thanks!

[2016-10-05 01:23] tatatodd commented on #4762
@yuanbyu might be able to fill in some context here.

[2016-10-05 01:30] tatatodd commented on #4763
@ispirmustafa might have some thoughts on this.

[2016-10-05 01:36] danielschonfeld commented on #4732
@ebrevdo in my case, when producing timelines for with and without input ops, vs, feed_dict, it seems that the majority of the time is spent on a matmul operation in my `hidden_layer_1_1` which is the shared scope of my test.  (I obviously share my weights and biases in the hidden layers between my training data and my test data).

That operation, when used with input ops variables, takes 743ms!!!

[2016-10-05 01:41] #4758 closed

[2016-10-05 01:46] hhexiy commented on #2575
@mrry Thanks for you answer! I'm wondering if there's any way around the problem: say I have an expensive update operation `update_op` (conceptually performs `x = f(x)`) that I only want to execute at some steps in the RNN loop, and in other steps I'll just use the current `x`. So `x = tf.cond(pred, lambda : f(x), lambda : x`.
In this case, after executing `f(x)` in `cond` I do need to save `x` fo

[2016-10-05 02:18] cswhjiang commented on #4649
thanks. The problem was solved by use `/usr/bin/gcc` instead of `/bin/gcc` in `./configure`

[2016-10-05 03:34] guotong1988 commented on #1702
If anyone haven't fix this issue , I want to working on it ! I have submitted the contribution license today.

[2016-10-05 03:49] cywsg opened #4769 "Tensorflow running problem with gpu_device.cc:170"
I am having  a problem when running a tutorial example of tensorflow. It is an example for deep neural network with 2 hidden layers. Following is the output of my error file.

I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcublas.so.7.5 locally
I tensorflow/stream_executor/dso_loader.cc:108] successfully opened CUDA library libcudnn.so locally
I tensorflow/stre

[2016-10-05 04:01] xuancong84 commented on #4722
@nikhilmishra000 Although tensor transpose does not work, one-to-many matrix multiplication is working correctly. However, I have tried and compared the following two alternatives:
[code]
During training, the cost functions are slightly different and the results diverge gradually. Is there any justification for the numerical difference? Otherwise, there might be a potential bug. Thanks!

[2016-10-05 04:50] hfutxrg commented on #4759
I do not understand that. Shouldn't we have two locations? One location is our source, and another location is where we install tensorflow using pip.

In my environment, the tensorflow source is in
/cm/shared/scratch/rengan/DL/tensorflow

My original post used /usr/lib/python2.7/site-packages/tensorflow as the installation location, but I just change the installation to
/cm/shared/scratch/rengan/p

[2016-10-05 05:03] hfutxrg commented on #4744
@tatatodd I did read those pages. But based on my understanding, the training time (wall-clock time) is negatively correlated with samples/sec. If samples/sec increases, then the training time should decrease.

Did you mean there is no direct relationship between training time and samples/sec?

[2016-10-05 05:15] Tcorpion opened #4770 "bazel-bin/tensorflow/cc/tutorials_example_trainer --use_gpu Failed With Error:could not insert 'nvidia_340_uvm': Invalid argument"
I am installing tensorflow from source code since my GTX1080 need CUDA8.0. My installing steps are as following:
1. pre-installing: Ubuntu14.04 os, Nvidia driver of version numbered 367.48, CUDA8.0 by cuda_8.0.44_linux.run, cuDNN5.1, bazel and jdk8.
2. download tensorflow source from github, type yes for GPU support during running ./configure and these operations are successful .
3. But errors sto

[2016-10-05 05:22] tripiana commented on #4728
@benoitsteiner, how the patch is going? Something I can help?

[2016-10-05 05:42] jkschin opened #4772 "tensorflow/models/compression does not work"
To run the compression model:

`python encoder.py --input_image=/your/image/here.png \ --output_codes=output_codes.pkl --iteration=15 --model=residual_gru.pb`

However, this error shows up:

I see from v0.8.0 RC0 that it has been fixed:

Could this error have been reintroduced? I'm using 0.10.0.

[2016-10-05 06:27] nikhilmishra000 commented on #4722
I can verify that `tf.einsum` is working correctly as follows:
[code]
Which gives me an output of 0.0, and suggests that think the discrepancy is coming from elsewhere in your code. Are you perhaps initializing your variables or choosing batches randomly?

[2016-10-05 06:47] mingyr commented on #17
Dear Gurus:

I tried to build tensorflow from source code on Windows 10. It reports bazel is already supported on Windows although might not be stable. Nevertheless I got a working one.
However, when I tried to build tensorflow, there're two problems, first it indicates "bazel clean --expunge_async" failed with permission problem. I bet it's not that severe. The next problem is a little vital sinc

[2016-10-05 07:01] rgobbel commented on #3848
+1 Seeing the same problem with a very simple test program:

[code]

Works fine if the `num_epochs` parameter to `slice_input_producer` is removed.

[2016-10-05 07:13] ayushchd commented on #4746
#1957 seems completely unrelated. Am I missing something?

[2016-10-05 07:28] sumitbinnani commented on #4656
Any idea about how to proceed, @martinwicke @concretevitamin?
[code]

[2016-10-05 07:38] fwalch commented on #3848
@rgobbel I think you just need to move the creation of the init ops below the creation of `slice_input_producer` to fix that.

[2016-10-05 07:46] danielschonfeld commented on #4732
It appears that the MatMul operation takes a really long time since my test data size is longer than the training data batch size. (Training data is 100 example at each run while test is 3800 examples)

The question is why is sharing variables causing this size of a test data run to take so long as compared to utilizing place holders and not using variables scope sharing.

Also important to note t

[2016-10-05 08:02] link-er commented on #3114
@ebrevdo actually it is already there, https://github.com/tensorflow/tensorflow/issues/4478

[2016-10-05 08:07] tomrunia commented on #4493
I had the same error after trying to `./configure` the latest master. After upgrading Bazel it works again.

[2016-10-05 08:23] danielschonfeld commented on #4732
The situation is even worse when utilizing parse_single_example vs a QueueRunner with data preloaded and fed that way into the QueueRunner.

With MatMul still taking a long time (for the reason stated in the above comment) and now in addition to that QueueDequeueMany taking a good 360ms. And that's with shuffle_batch, 4 threads, batch size of 100, capacity of 1000 and min dequeue of 200.

[2016-10-05 08:57] egorlitvinenko opened #4773 "ValueError: Shape (?, 4096) must have rank 1"
Operating System: _CentOS 6 - box for vagrant_

Installed version of CUDA and cuDNN:
ls -l /path/to/cuda/lib/libcud*: "No such file or directory"
_No CUDA installed._

Installation:
1.  Installed with Anaconda 4.0.9;
2. `python -c "import tensorflow; print(tensorflow.__version__)"`: _0.10.0rc0_;
3. Python 3.5, numpy 1.11.2, scipy 0.18.1;

### Reproduce

It is standard VGG model with 16 layers. I t

[2016-10-05 09:43] kinni commented on #4697
@fanyangxyz, open ptb_word_lm.py and modify the header changing `from tensorflow.models.rnn.ptb import reader` to just `import reader`, there maybe some issue in your environment settings.

I got the same problem, but fix it using the trick above. Hope this help.

[2016-10-05 10:28] marcoadurno opened #4774 "weights_initializer in tf.contrib.layers.fully_connected"
Hi,

At present contrib.layers.fully_connected is unable to accept a Tensor as an initializer for the weights.

This because when calling variable_scope.get_variable (which accepts a Tensor as an initializer) it specifies both the initializer and the shape. Is this expected behavior or a bug?

I have put together a small [gist ](https://gist.github.com/marcoadurno/60faf136193d8eccc83d14932d188d25)

[2016-10-05 10:51] Fr-d-rik commented on #3114
Sweet! Thanks a lot! I made the variables on the first iteration of the while loop and accessed them from then on. I guess moving that bit out of the loop should fix my problem then.

[2016-10-05 11:36] chenghuige commented on #4754
@tatatodd

[2016-10-05 11:53] himanshurobo commented on #37
Is there any link related to node-gyp binding for tensor flow API ??

[2016-10-05 11:56] sjlee7748 opened #4775 "Compile tensorflow with compile option "-xMIC-AVX512" does not work"
Hi, All

I want to use AVX512 with tensorflow because vectorization can increase performance.
In addition, building any program with icpc(Intel compiler) and compile option "-xMIC-AVX512" can vectorize automatically in state-of-art Intel machine.
So, I use the command as below:

`CC=icpc bazel build -c opt --copt=-xMIC-AVX512 //tensorflow/tools/pip_package:build_pip_package`

But when I type the c

[2016-10-05 12:32] Nayana-ibm commented on #3527
@aselle
Thank you for your comments.
We are working on your suggestions for big endian.

Do you know of an easy environment to build/run big endian code?
==> Will it be ok if we provide our big endian vm as an extension to TensorFlow CI?

[2016-10-05 13:07] masaladose opened #4779 "Accessing data for post-processing on the GPU without transfer to host"
In TensorFlow's C++ API, after the session Run has been completed, is it possible to access the data while it's still on the GPU?
I would like to do post-processing on the GPU with the output of TensorFlow.

Currently the output is sent back to the host and I will have to move it back to the GPU for post-processing. This data transfer is something that I am looking to avoid.

[2016-10-05 13:25] MarkDaoust commented on #4463
All the links except "Linux CPU-only" and "Android" are broken again.
The links are to 0.11.0rc0 while the actual most recent build from the history is 0.10.0

It looks like it's the same sort of issue, where there has been no passing build since the version number change.

[2016-10-05 13:31] berlogb commented on #4229
@tatatodd  Sorry, work caught up with me.
So, repeated test on old driver simply copy pasting the same code as above into 3 different python processes on the same machine, using the same CPU.

Unfortunately, doesn't seem that situation changes much. On old 361 driver I've got :
`a = [[ 1.  1.]
 [ 1. -5.]]
 b = [[ 2.  3.]
 [ 4.  5.]]
 sqared diff = [[ nan  nan]
 [ nan  nan]]`

and after upgrading

[2016-10-05 14:30] craymichael opened #4781 "`tf.scan` has Unexpected Behavior on Python CLI/Shell"
### Version Info

'0.10.0rc0'
OS: Ubuntu
### Issue

While this doesn't affect runtime behavior, using the high level function `tf.scan` in the python shell results in unexpected behavior. Running the op whilst functional yields expected results. Running again with bad parameters (wrong dtype) raises exception, which is also expected. Running the original op again raises the same exception, which i

[2016-10-05 14:45] kadafax commented on #4649
Still failling:

Centos 7
$ gcc --version
gcc (GCC) 4.8.3 20140911 (Red Hat 4.8.3-9)
$ bazel version
Build label: 0.3.1-2016-10-05 (@27cd7f6)
Build target: bazel-out/local-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Wed Oct 5 14:02:43 2016 (1475676163)
Build timestamp: 1475676163
Build timestamp as int: 1475676163

CUDA 7.5 (/usr/local/cuda-7.5)
CUD

[2016-10-05 14:53] shubhamjain0594 commented on #1029
Are there any functions for 3D Nearest neighbour upsampling in tensorflow? Any workaround for this?

[2016-10-05 15:28] Shmuma opened #4782 "tf.decode_raw should support tf.float16"
Hi!

It should be trivial to add, I guess.

[2016-10-05 16:05] marcbaetica commented on #37
@dmcmorris I am seriously interested in lending a hand! What resources do you recommend for working with v8 modules? We can assemble a team here and start diving into materials asap as this project is way overdue :)

[2016-10-05 16:26] fanyangxyz commented on #4697
@kinni This change solved the import problem. Thanks!
Could you talk more about the environment settings? I've encountered quite a few import problems before. It would be great if I could pinpoint the cause.

[2016-10-05 16:34] tripiana commented on #4775
Few months ago I was able to compile tf for knl with gcc 6.1.0 and some gcc patches. But in the end I was unable to get good performance. I used good flags but seems like poor vectorization.

Somebody can add more info on this?

[2016-10-05 16:35] tripiana commented on #4728
Any news. Thanks!!

[2016-10-05 16:53] yuanbyu commented on #4762
I have been working on a doc which we hope to turn into a technical paper. I will give you a copy when it is ready.  In the meantime, feel free to send any specific questions to me.

WhileContext is at this point a python front-end concept to represent a while_loop. It can be nested to represent nested loops. Internally, a loop is a cyclic graph using five primitive ops: Enter, Exit, Switch, Merge

[2016-10-05 16:55] #2844 closed

[2016-10-05 16:55] #3364 closed

[2016-10-05 17:48] aselle commented on #4463
@gunan, @caisq, was this related to the jenkins upgrade that caused breakage in our jenkins jobs?

[2016-10-05 17:51] aselle commented on #3527
Can you describe the endian VM? How much slower is it than a native system? Is the emulator and software open source code? I'll look into how hard it would be to put that in our testing infrastructure. @gunan and @martinwicke  can also comment.

[2016-10-05 17:59] gibiansky commented on #4762
@yuanbyu Thanks, good to hear that a doc is being prepared.

So, here's what I understand so far. Perhaps you can correct any misunderstandings and also this will serve as a useful resource for the time being for anyone else who runs into this.

1. `tf.while_loop` accepts a list of loop variables, a function mapping loop variables to a boolean, and a function mapping loop variables to a new set of

[2016-10-05 17:59] gibiansky commented on #4762
Also, given that you are already working on documentation for this, feel free to close this issue if so desired – it is not very actionable.

[2016-10-05 18:07] ksindi commented on #3947
Duplicate of https://github.com/tensorflow/tensorflow/issues/1588

[2016-10-05 18:09] zheng-xq commented on #3290
We are switching to a fused batch norm implemenation. The new op is here:

https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/nn.py#L985

We are in the process of switching the default layers.batch_norm. It will be announced when it is done.

[2016-10-05 18:25] yaroslavvb commented on #4775
BTW, I ran all the tf tests under avx2 about 12 months ago, and there were several ops which gave incorrect answers or failed (alignment problems). At that point @benoitsteiner has fixed them in Eigen, but I'm not sure anyone tried testing advanced flags since then (it's not part of CI pipeline for sure), so there's a chance you get unexpected/incorrect results

[2016-10-05 18:30] xksteven commented on #4707
@hholst80 can you provide a link to it?  I don't know from which repo his implementation is in.

[2016-10-05 18:34] rohan100jain commented on #4753
What filesystem do you have these stored on? I tried to reproduce this with the files local but didn't seem to be slow.

[2016-10-05 18:35] gunan commented on #4463
No, this is a different issue.

This is due to the breakage in nightly builds.
Today CPU only nightly builds passed, so the links should now work.
Once the GPU builds also pass, we will update nightly links to be independent of release versions.

[2016-10-05 18:40] gunan commented on #4463
#4783 should fix mac-cpu links

[2016-10-05 18:42] jbms commented on #3492
This is implemented in master --- see tf.nn.convolution and tf.nn.pool.

[2016-10-05 18:47] benoitsteiner commented on #4775
Support for AVX512 in TensorFlow is still a work in progress. I'll link to the relevant code changes as we make them to keep everyone updated.

[2016-10-05 18:48] gunan commented on #3527
For now, I think it is possible to hook it up to our test infra for daily tests.
But in the near future we will transfer management of our test infra, and in that case we will be quite limited.

[2016-10-05 19:09] larry-fuy opened #4784 "Cannot compile with "-mavx""
I tried to compile tensorflow 0.10 with avx support. The command I used is
```bazel build -c opt --copt=-mavx //tensorflow/tools/pip_package:build_pip_package```.
However bazel output errors

[code]

The latest Eigen library seems to have explicit type conversion [here](https://github.com/RLovelett/eigen/blob/master/Eigen/src/Core/ProductEvaluators.h#L660)
I compiled tensorflow with gcc 5.2.1 on C

[2016-10-05 19:13] larry-fuy commented on #4784
If this is related to #4775 please close it.

[2016-10-05 19:13] sjlee7748 commented on #4775
@tripiana @yaroslavvb thank you for attention of my question :)
@benoitsteiner I'm really happy to hear that. If you don't mind, would you tell me  approximate date(e.g. about a month) to link the relevant code? Thank you so much!

[2016-10-05 19:24] FlorianWilhelm commented on #4550
So looking at this issue and the documentation of ``tf.nn.sparse_softmax_cross_entropy_with_logits``, again I think there might be some confusion here about the word "sparse" here. This function is actually only a shortcut for a one-hot encoding and applying ``tf.nn.softmax_cross_entropy_with_logits`` afterwards as explained [here](http://stackoverflow.com/questions/34240703/difference-between-ten

[2016-10-05 19:34] WeiweiVivianWang opened #4785 "test"
NOTE: Only file GitHub issues for bugs and feature requests.  All other topics will be closed.

For general support from the community, see [StackOverflow](https://stackoverflow.com/questions/tagged/tensorflow).
To make bugs and feature requests more easy to find and organize, we close issues that are deemed
out of scope for GitHub Issues and point people to StackOverflow.

For bugs or installatio

[2016-10-05 19:48] sjlee7748 commented on #4784
@larry-fuy I think that your question isn's same with me.

Have you ever built tensorflow r0.11rc0.0 version with avx support?
When I built many tensorflow version(r0.9, r0.10rc0, r0.10, r0.11rc0.0), only tensorflow r0.10 had avx error. So, I suggest that you try to build other version.

In addition, If your machine is Intel Haswell, try to type '--copt=-mavx2' instead of '-copt=mavx'(before you b

[2016-10-05 19:49] ods94065 commented on #1553
I've just run into this problem too, downloading the latest version of TensorFlow (Linux, x86_64, no-GPU, Python 3.4). In my case, downloading separately via curl didn't work either, and I got an error:

[code]

Not yet valid??

In short, the problem was my clock was way behind. Resyncing my VM's clock fixed the problem.

[2016-10-05 19:58] rohan100jain commented on #3491
file_io.py is now live and gfile redirects to it now. This should unify the python and C++ implementations. Let me know if there are further feature requests.

@llhe
1. vrv@ just added support for read(n). This mirrors what we used to have and should help out with large files
2. We have a BufferedInputStream that does buffering on top of the RandomAccessFile. The python read(n), tell(), seek() fun

[2016-10-05 19:58] #3491 closed

[2016-10-05 20:25] WeiweiVivianWang commented on #4782
Test2

[2016-10-05 20:40] gibiansky commented on #4278
It looks like this was fixed in [this PR](https://github.com/tensorflow/tensorflow/pull/4351/files) so I'm going to go ahead and close this to avoid cluttering the issue tracker.

[2016-10-05 20:40] #4278 closed

[2016-10-05 20:41] jonasrauber commented on #4753
[https://en.wikipedia.org/wiki/IBM_General_Parallel_File_System](GPFS)

Python's builtin globbing seems to work fine.

[2016-10-05 20:41] gibiansky commented on #4588
Any progress on this? It's marked as 'awaiting response' but I'm not sure who this is waiting on.

I see this issue on Python 3.4 I believe.

[2016-10-05 20:49] gibiansky commented on #4471
@malzantot I believe the op is implemented [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/whole_file_read_ops.cc#L100), using helper function [here](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/whole_file_read_ops.cc#L30).

You'll probably want to use [NewWritableFile](https://github.com/tensorflow/tensorflow/blob/master/tensorfl

[2016-10-05 20:56] gunan commented on #4588
I think the we had multiple conversations going on here.
1- Looks like we are open for contributions here, if you would like to create a PR to fix the issue, @ebrevdo agreed to review the fix.

2- It looks like our testing does not catch this issue. I was trying to see what we have for rnns as unit tests. We obviously need to expand them to catch this problem, and fix the issue. The fix can be pac

[2016-10-05 21:29] KjerG commented on #4493
Sorry for taking so long to respond, I haven't had access to my project for a bit so I had no way of testing.

Anyway, upgrading to 0.3.1 (`git checkout 0.3.1`) and running `./compile.sh` leaves me with:
`gRPC Java plugin not found in`
followed by nothing (I know there's supposed to be an error message here usually).

As said, I haven't touched the system since the last post so Java should still b

[2016-10-05 21:43] hermitman commented on #2169
@fabianbormann Can your unpooling operation backpropagate gradients? I manage to get one version work on the forward pass, but tensorflow could not backpropagate the gradients. My code currently works like this:

[code]

I am not familiar with how TF determine if a op is differentiable, so I do not know what I did was affecting the backprop. Could you direct me to some related readings?

[2016-10-05 21:44] larry-fuy commented on #4784
@sjlee7748 Thanks for suggestions. Actually I compiled the source code from master branch and assume it should be the latest version of 0.11. Sorry forget mention this in my post. I'll try other versions on your suggestions.
Currently I worked on a KNL machine and will try avx512 finally.
I'll close this issue and switch to see #4775.

[2016-10-05 21:44] #4784 closed

[2016-10-05 21:45] rgobbel commented on #3848
Thanks! That fixed it. Turns out my real model has other issues, based on my obviously incorrect understanding of how queues and batches work.

[2016-10-05 21:47] ic commented on #4493
You are not missing Java, but the gRPC plugin. It may also be that your are trying to build on a broken commit.

[2016-10-05 22:13] rohan100jain commented on #4753
I see... How is IsDirectory() implemented for that file system? How expensive is that call? Any pointers would be great to look into.

My hunch is that if that involves network I/O etc. to accomplish and we're doing that call serially in GetMatchingPaths() that would be the bottleneck. Multi-threading that piece of code should help... but I want to get to a reproducible scenario first so that we c

[2016-10-05 22:19] jonasrauber commented on #4753
Thanks a lot for looking into this. I don't know how IsDirectory() is implemented or where to look it up, but I'll try to find something.

@rohan100jain Does your hypothesis explain why TensorFlow 0.10 seemed to work fine and 0.11.0RC0 does not?

[2016-10-05 22:25] rohan100jain commented on #4753
**0.10/0.11:** Yeah.. Tensorflow 0.10 used an older version of GetMatchingFiles that just looked at the base directory for matches and couldn't recursive look into sub dirs etc. We updated that in 0.11.

**IsDirectory():** We have a plugin model for file systems... for a new file system like this I would imagine that someone would have implemented our file_system interface (tensorflow/core/platfor

[2016-10-05 22:44] jonasrauber commented on #4753
We haven't implemented anything particular for this, if that answers parts of your question?! Will try to get some details on our exact setup of the cluster filesystem tomorrow.

[2016-10-05 22:48] civilmanxx commented on #4735
Operating System: Ubuntu 16.04

For CUDA:
ls /usr/local/cuda/lib/libcud*
**/usr/local/cuda/lib/libcudadevrt.a  /usr/local/cuda/lib/libcudart.so.7.5     /usr/local/cuda/lib/libcudart_static.a
/usr/local/cuda/lib/libcudart.so    /usr/local/cuda/lib/libcudart.so.7.5.18**

For Tensorflow (from source):

git rev-parse HEAD
3d35376a66cde4f3e614c746d3c8708d15caa1b5

For bazel version:

**Build label: 0.3

[2016-10-05 22:55] civilmanxx commented on #4735
BTW, i reduce batch size to 128 and haven't met the issue again. I do not know why batch size=256 make program crash in the middle, but not at the very beginning. As see the log in thread 2, the program crash after dump .ckpt file and continue the following training. Is there any Cuda Device Reset or Memory Clear is called or not after dump .ckpt file?

[2016-10-05 23:14] vladfi1 commented on #2423
@ringw I think `tf.multinomial` is good, but I don't see a way to sample batches of normals (or other continuous distributions).

[2016-10-05 23:17] ruohoruotsi commented on #3991
There are multiple ways to get this error, only one of which is having the wrong TF (cpu vs gpu). I've run into this, and all paths, env, CUDAs are straight, but per @pkmital I suspect I'll have to dispable 10.11's SIP :(

[2016-10-05 23:24] yaroslavvb commented on #3991
I've seen similar issue with SIP. Was getting "@rpath/libcudart.7.5.dylib" error, disable SIP, it started working. Upgraded El Capitan (this re-enabled SIP), it stopped working. Disabled SIP, started working again.

[2016-10-05 23:45] benoitsteiner commented on #4728
@tripiana The change is in: https://github.com/tensorflow/tensorflow/commit/60afe603d1dbd580dff9c60e6d4868b3e2c734e4. Please try it and let me know if that fixes your compilation error.

[2016-10-06 00:02] civilman628 opened #4790 "iOS cannot run the new trained Inception v1 model <no registered kernels>"
### Environment info

iOS
### steps:

1, i train inception v1 (slim) on a subset of ImageNet dataset (269 of 1000)
2, convert .ckpt into .pb by freeze_graph
3, convert .pb file into 8bit precision
4, load into iOS and run
### Logs

simple/RunModelViewController.mm:222] Running model failed: Invalid argument: **No OpKernel was registered to support Op 'RandomUniform' with these attrs.  Registered k

[2016-10-06 00:05] MahdiNazemi commented on #4078
I updated to the latest version on jessie-backports which is 352.79, but it didn't solve the issue.

[2016-10-06 00:12] civilmanxx commented on #4790
i do not know why the .pb file, which i download from below, convert into 8bit only take 4M, but my trained inception v1 model .pb file convert to 8bit takes 6.5M.

https://storage.googleapis.com/download.tensorflow.org/models/inception5h.zip

BTW, **freeze_graph** already move out unused nodes for prediction phase, is that right?

The .ckpt file size I get is 23.6M but .pb file size is 24M. it se

[2016-10-06 00:17] LeavesBreathe commented on #2169
I don't know if you're feeding in a `tf.argmax` to your argmax argument, but I'm pretty sure `tf.argmax` is non-differentiable.

[2016-10-06 00:57] mrry commented on #17
As you may have seen with PR #4778 merged, we now have preliminary support for building TensorFlow on Windows using CMake. It supports build a CPU-only version of TensorFlow for use in the C++ example trainer program, and a PIP package for Python use. For more details and instructions on how to build TensorFlow from source on Windows, see the [CMake readme](https://github.com/tensorflow/tensorflow

[2016-10-06 01:37] guotong1988 commented on #4371
same problem , thank you @kamal94

[2016-10-06 01:42] dustinvtran commented on #2423
fyi, there are random ops available in sample methods from `tf.contrib.distributions`. although in general, i'm not sure what the plan is for `tf.random_normal([])` vs `distributions.Normal(mu=0.0, sigma=1.0).sample()`

[2016-10-06 01:43] cesardelgadof commented on #17
I was using this prebuilt project https://github.com/shishaochen/TensorFlow-0.8-Win, but it does not support GPU.

[2016-10-06 02:49] LordPython opened #4791 "libtensorflow.so target not public"
Is there a particular reason that the libtensorflow.so target isn't public? I working on a tensorflow application in C++ and it would be nice to not have to link against tensorflow statically since that's taking ~6min for me.

[2016-10-06 02:50] mingyr commented on #17
@mrry Hi, Derek, appreciate your contribution to TensorFlow.
@cesardelgadof Hi, Cesar, thanks for your information.

However, I think the previously obstacle hindering build TensorFlow on Windows platform is the unavailability of bazel on Windows. Since now it's available, though may not be stable, so in my opinion we'd better try to solve the problem ahead when building TensorFlow using bazel.

I

[2016-10-06 03:10] danielschonfeld commented on #4732
Just to add some info, my features tensor is about 32,000 features.  So the shape of the test set is (3800,32000) and the training data is usually of shape (100,32000).

Like i said, doing the above utilizing feed_dict takes about 80ms per `sess.run()` call and utilizing a QueueRunner with directly fed data items from numpy array (only for the training data, the test data is a const with `tf.conve

[2016-10-06 03:20] ebrevdo commented on #4588
I'll see if I can get a fix + unit test in.

On Wed, Oct 5, 2016 at 1:57 PM, gunan <notifications@github.com> wrote:

[2016-10-06 03:42] yaroslavvb commented on #4732
It sounds a bit suspicious that matmul itself would take different time depending on `feed_dict` vs `Queue`. Are you getting MatMul timing from the Timeline? Are you sure that matmul sizes are the same? Unlike with `QueueDequeue` many, IO time should not be included in the timeline timing, so if size is the same, the timing should also be the same

Here's [how](https://github.com/yaroslavvb/stuff/

[2016-10-06 03:49] danielschonfeld commented on #4732
@yaroslavvb i'm certain about the size being the same.  But the difference between the two runs, except for being `feed_dict` vs `Queue` is that the matmul operation that takes long utilizing `Queue` is happening on the shared variable op node, an op that didn't exist (since it wasn't needed) on the `feed_dict` run.

I got the time from timeline, yes.  And i assume the time is what's called `wall

[2016-10-06 04:10] tegg89 commented on #363
Go to /tmp, where is all the way outside of your directory. There you could find cifar10_train and cifar10_data folders. Inside cifar10_data folder, damaged cifar-10-binary.tar.gz file is located. The cifar10_train.py keep recognize this damaged file as intact one, error message keep shown.
Therefore you should remove the cifar10_train and cifar10_data folders and re-python cifar10_train.py.

[2016-10-06 04:14] hermitman commented on #2169
@LeavesBreathe Hi, I am not trying to backprop gradients to the argmax. I am using the argmax to create a unpooling path. The gradients will be directed according to such paths. For example,

if my bottom for this layer is 2*4*4*1 (batch*height*width*channels), then the desired output is 2*8*8*1, where in each 2x2 neighborhood, there is only one active pixel. The exact location of the pixel is det

[2016-10-06 04:36] danielschonfeld commented on #4732
@yaroslavvb so doing that revealed something I didn't realize before and that now i'm not sure how to proceed with.

First things first, there's no problem with `Matmul`.  It produces the same amount of execution time for the same amount of bytes. I recorded only the first example from the two below, which in the feed_dict run didn't include the test data run.  I found that out by looking at the d

[2016-10-06 05:48] danielschonfeld commented on #4732
Maybe i should just simplify my question.  How do I train and test in the same process, using shared variables with 2 tfrecord files, one designated as train data and one designated as test data.

As mentioned briefly in on the last line of [https://www.tensorflow.org/versions/r0.11/how_tos/reading_data/index.html#multiple-input-pipelines](url)

[2016-10-06 07:16] tatatodd commented on #4746
I'm sorry, I meant #1967.  Indeed 1957 is completely unrelated.

[2016-10-06 08:23] shiyemin opened #4794 "Configure failed on NFS: Device or resource busy"
On Rocks OS (CentOS 6.5) cluster, filesystem is on NFS.

When run "./configure", it failed at "ERROR: /home/shiyemin/.cache/bazel/_bazel_shiyemin/df39eb3667102dfbd2ad9a81b93b57e9/server/.nfs0000000000cdec5400000995 (Device or resource busy).". Then the configuration stoped.

I've seen this error, but never like this. I think maybe "configure" did not kill all sub-processes in time.

And i found it

[2016-10-06 08:27] andreas-eberle opened #4795 "Make //tensorflow/cc:cc_ops compile for Android"
It seems that the bazel target //tensorflow/cc:cc_ops is currently not compilable for Android. From what I saw, this is at least because of the missing platform specific headers (e.g. in tensorflow/core/platform/gif.h).

Making the cc_ops compilable for Android would allow to fully use tensorflow on Android. In particular, I'm trying to build tensorflow for Android with the operations to be able t

[2016-10-06 08:46] xuancong84 commented on #4722
@nikhilmishra000 Yes, the forward is correct. You don't need to verify, I have verified by myself. The forward calculation of the following two gives exactly the same results up to all significant figures:
[code]
However, if I use Adam loss, the update gives slightly different results. I didn't try other loss functions, and this is not necessarily a bug.

[2016-10-06 09:21] laudney commented on #17
@mrry Thanks for the major contribution! I've tried to follow your instructions. All seem to work flawlessly (for about 45min) until it failed with:

The target "BeforeGenerateProjectPriFile" listed in a BeforeTargets attribute at "C:\Program Files (x86)\MSBuild\Microsoft\NuGet\Microsoft.NuGet.targets (186,61)" does not exist in the project, and will be ignored.
Done Building Project "H:\PycharmPr

[2016-10-06 09:47] #4785 closed

[2016-10-06 10:15] mahdeto opened #4797 "Error following the wide and deep tutorial"
I've been trying to follow through the wide and deep tutorial on a different data set and I am getting the below error.

I am using this version of tensorflow: tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl
on python: Python 2.7.5

All my fields are strings (features and labels)

I am adding the relevant code snippets

[code]

[code]

[code]

tried this with both settings for enable_centered_bias

[2016-10-06 10:16] mahdeto commented on #4797
oh and I am using this version of tensorflow: tensorflow-0.11.0rc0-cp27-none-linux_x86_64.whl
on python: Python 2.7.5

[2016-10-06 10:27] mrry opened #4798 "Error building on Windows"
(Copied from @laudney's comment on #17)

[2016-10-06 10:28] mrry commented on #17
@laudney Thanks for giving it a try, and I'm sorry to see that you're getting an error! Since this issue has a lot of subscribers, I've created issue #4798 to track the fix for this problem, so let's continue the discussion there.

[2016-10-06 10:28] mrry commented on #4798
@laudney It looks like the error (namely `"cmd.exe" exited with code 1`), happened early in the build - can you post the entire log (e.g., by adding the `/filelogger` flag to `MSBuild` and uploading the resulting `msbuild.log` as a gist)?

[2016-10-06 10:54] mrry commented on #17
@mingyr We hope to have TensorFlow building on Windows with Bazel as soon as possible. @meteorcloudy has been doing sterling work to get this to happen, and he just sent PR #4796, which enables Bazel to build `//tensorflow/cc:tutorials_example_trainer` on Windows. We'll aim to get that merged soon.

[2016-10-06 10:58] laudney commented on #4798
@mrry Yes. I've just done that and I've noticed it was due to "git.exe" not in my PATH. I'm trying it again and will report back.

[2016-10-06 11:01] tripiana commented on #4728
This Eigen patch fixes half the problem, so I think you are going in the right direction. Solves the error:

[code]
but not the error:
[code]

[2016-10-06 11:27] elcombato opened #4799 "Error building PIP package on Windows"
Hi,

I followed the new instructions for the [CMake build on Windows](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/contrib/cmake/README.md).
The C++ example program `tf_tutorials_example_trainer.exe` build and run successfully.
But the build of the PIP package exited with the following error:
[code]

[2016-10-06 11:30] tripiana commented on #4728
@benoitsteiner this is the complete compilation error:
[code]
It is be interesting that no predux for Packet8h now for Half types is available... The fact that is CUDA stuff and I only want to compile CPU tensorflow is very confusing but I guess it is for some reason.

Hope you can help me.

Best regards.

[2016-10-06 12:17] LaurenLuoYun commented on #4739
@kstant0725 I want to try adding this implement.

[2016-10-06 12:20] javidcf commented on #4697
There seems to be some recent changes in the PTB model which are not part of 0.11.0rc0. This include, among other things, interface changes in `tensorflow.models.rnn.ptb.reader`, in particular the `ptb_producer` function, that is not present in 0.11.0rc0. When you do `import tensorflow.models.rnn.ptb.reader` you are importing the PTB `reader` module from your installation, which is not compatible

[2016-10-06 12:26] laudney commented on #4798
@mrry New error below after 1h of compilation. Please let me know if you need the log.

"C:\src\tensorflow\tensorflow\contrib\cmake\build\tf_python_build_pip_package.vcxproj" (default target) (1) ->
"H:\PycharmProjects\tensorflow\tensorflow\contrib\cmake\build\pywrap_tensorflow.vcxproj" (default target) (3) ->
(ClCompile target) ->
  H:\PycharmProjects\tensorflow\tensorflow\python\lib\core\py_func

[2016-10-06 12:43] elcombato commented on #4798
exactly the same error in #4799

[2016-10-06 13:22] #4697 closed

[2016-10-06 13:34] andrewharp commented on #4795
The Android version of TF uses a different build tree so that we can concentrate on binary size, etc. You'll find that most of cc_ops is provided by //tensorflow/core:android_tensorflow_lib

[2016-10-06 13:34] #4795 closed

[2016-10-06 14:20] mrry commented on #4799
Thanks for reporting this. As you've already noticed, this is a duplicate of #4798, so I'm going to close this as a duplicate and report there when it's fixed.

[2016-10-06 14:20] #4799 closed

[2016-10-06 14:21] mrry commented on #4798
Thanks for this report! I've found the problem (a recent change to `py_func.cc`) and am working on a fix.

[2016-10-06 16:02] andrewharp commented on #4790
freeze_graph will not remove any nodes. For that you need [optimize_for_inference.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/optimize_for_inference.py) (or strip_unused, but I believe that is deprecated now).

[2016-10-06 16:06] ebrevdo commented on #4732
I'm confused why matmul timing would change unless the shapes changed, or
perhaps if it for some reason started running on a CPU device where before
it was running on a GPU device.  Please provide the runmetadata.

On Wed, Oct 5, 2016 at 8:11 PM, Daniel Schonfeld <notifications@github.com>
wrote:

[2016-10-06 16:08] danielschonfeld commented on #4732
@ebrevdo the shape changed... it was my mistake.  My timing comparison was incorrect.  When compared with the same shape the timing was identical.

So now I'm just left wondering, what I asked above.  How can I do both train and eval in the same process using input ops?